[2021-07-01 07:27] zleppy commented on #10814
Found a fix for it!
add this to /boot/cmdline.txt
     cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1

Found it in this forum post
[https://askubuntu.com/questions/1189480/raspberry-pi-4-ubuntu-19-10-cannot-enable-cgroup-memory-at-boostrap](url)

[2021-07-01 09:26] rhatdan commented on #10296
@debarshiray @garrett What is going on with this?

[2021-07-01 09:31] rhatdan commented on #10797
Yes, we published an article today that talks about running podman inside of kubernets.

https://www.redhat.com/sysadmin/podman-inside-kubernetes

See if this helps.

[2021-07-01 09:34] rhatdan commented on #10797
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:34] #10797 closed

[2021-07-01 09:34] rhatdan commented on #10705
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:34] #10705 closed

[2021-07-01 09:34] rhatdan commented on #10440
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:34] #10440 closed

[2021-07-01 09:34] rhatdan commented on #10321
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:34] #10321 closed

[2021-07-01 09:34] rhatdan commented on #9566
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:34] #9566 closed

[2021-07-01 09:35] rhatdan commented on #9261
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:35] #9261 closed

[2021-07-01 09:35] rhatdan commented on #8918
We have just published

https://www.redhat.com/sysadmin/podman-inside-container
And
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Please read these and see if they help solve your problem.  Reopen if you need more information.

[2021-07-01 09:35] #8918 closed

[2021-07-01 10:07] gdesmott opened #10831 "docker REST API: ignore TmpfsOptions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating a container using the [Docker REST API](https://docs.docker.com/engine/api/v1.41/#operation/ContainerCreate) with a `tmpfs` mount the `TmpfsOptions` argument is ignored, resulting in a mount with the default value and mode.

**Steps to reproduce the issue:**

[code]

**Describe

[2021-07-01 10:11] Enchufa2 opened #10832 "Intermediate layers for tagged images are incorrectly pruned"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman-image-prune` incorrectly prunes intermediate layers for tagged images.

**Steps to reproduce the issue:**

Consider the following Dockerfile:

[code]

then,

[code]

**Describe the results you received:**

As you can see, intermediate layer `f106d67818d` was removed.

**Describe the r

[2021-07-01 10:47] tjanez opened #10833 "podman generate systemd: create directory in /var/run automatically"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running a container that exposes a service via socket in `/var/run/<SERVICE-NAME>` directory.

Let's use the [Intel SGX AESM Service container](https://hub.docker.com/r/fortanix/aesmd/) as an example.

**Steps to reproduce the issue:**

1. Create the container with:

[code]

2. Create the

[2021-07-01 12:15] vrothberg commented on #10833
Thanks for reaching out, @tjanez!

I am not really sure what the request is, though.  The start of the container fails since the source of the volume isn't present anymore.  I fear there's no general solution that Podman could employ.

Can you elaborate a bit how you wished Podman to behave?

[2021-07-01 12:29] bkueng opened #10835 "'image not known' for 'podman save' with arm64 image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman save` fails with `image not known` error when used for an arm64 image on amd64.
If the image is amd64, the command works as expected.

**Steps to reproduce the issue:**

1. create a `Dockerfile`:
[code]

2. `podman build . -t arm64-test`

3. `podman save arm64-test > output.image`
`Err

[2021-07-01 12:31] vrothberg commented on #10835
Thanks for reaching out, @bkueng!   Any chance you can try the latest Podman v3.2.*2*?  We fixed a number of issues in the multi-arch space.

[2021-07-01 12:58] rhatdan commented on #10503
Since we never received more info in a month, closing for insufficient data.  Reopen the issue if you want to continue to work on it.

[2021-07-01 12:58] #10503 closed

[2021-07-01 13:00] duanhongyi commented on #10783
@vrothberg

It seems that the default configuration file of `quay.io/podman/stable:v3.2.1` has changed. I have no problem using the configuration file of v3.1.2

[2021-07-01 13:41] mheon commented on #10832
@vrothberg PTAL. I think this is definitely the recursive pruning grabbing it, though I'm not sure why Docker would bother retaining it?

[2021-07-01 13:57] Luap99 commented on #10826
I have seen the same error message with `podman ps` on the first invocation after a reboot.

[2021-07-01 13:58] vrothberg commented on #10832
Thanks for reaching out, @Enchufa2!

I am not sure that's related to it being recursive.  Per [Docker docs](https://docs.docker.com/config/pruning/#prune-images): "_ A dangling image is one that is not tagged and is not referenced by any container_"

Which is the case for the intermediate image.  It looks like Docker behavior doesn't match its docs.

@Enchufa2, can you elaborate why removing the i

[2021-07-01 13:59] Luap99 commented on #10826
The error happens here https://github.com/containers/podman/blob/fd1715568b7c14451dcf2581c385c8d3e307d30e/pkg/rootless/rootless_linux.go#L271 or https://github.com/containers/podman/blob/fd1715568b7c14451dcf2581c385c8d3e307d30e/pkg/rootless/rootless_linux.go#L397
@giuseppe PTAL

[2021-07-01 14:00] HarryMichal commented on #10296
Toolbox has a new release (v0.0.99.2) that fixes the tool-related problems @edsantiago mentioned.

The tests themselves are completely functional but still have a few downsides:

- are destructive (run `podman system reset` with default settings)
- depend on `bats-support` and `bats-assert` which are not packaged in Fedora (need to be set up manually)

The rpm is not ready due to missing `Requires

[2021-07-01 14:01] lmgray commented on #6265
Any new on this?  The issue came up again for us -- we're still using `jq` as a hack to accomplish this:

[code]

Would be nice to be able to use `podman image trust` vs. munging policy.json manually

[2021-07-01 14:39] giuseppe commented on #10826
I think we should ignore `ESRCH`

[2021-07-01 14:41] edsantiago commented on #10296
That's sort of a big hassle. I don't think podman gating tests should be in the business of managing and installing non-rpm content. At this point I consider this a showstopper.

I just installed `toolbox-tests-0.0.99.2-1.fc35.x86_64` and am still seeing the same errors I reported on May 12, presumably due to this bats-* requirement.

[2021-07-01 14:43] giuseppe commented on #10826
opened a PR: https://github.com/containers/podman/pull/10837

In case the fix is not enough, the PR adds more information to the error message, so we can troubleshoot it more easily

[2021-07-01 14:45] Enchufa2 commented on #10832
Let me explain my use case. I'm developing an application composed of several microservices closely interrelated, and I have a multistage Dockerfile that looks like this:

[code]

and I have a compose file with all the targets. Now, suppose I just modify some piece of code, some configuration file... that is added in the last layers of the services. Then, I rebuild, and I end up with something lik

[2021-07-01 14:52] vrothberg commented on #10832
Thank you, that was quite helpful.  So it seems may need to extend the definition of dangling: it's an image without a tag and without a tagged parent image.

@mtrmac @nalind, I'd like to know your thoughts on that.

[2021-07-01 15:04] Enchufa2 commented on #10832
Also FWIW, I always assumed that the behaviour was the same as docker, and thus running `podman image prune` for this project for months without any trouble. I detected this problem just last week and I was quite surprised. Is it possible that v3.2.0 and previous versions were working as I intended and v3.2.1 changed behaviour?

[2021-07-01 15:07] vrothberg commented on #10832
I tried Podman v3.0.1 which is also pruning, so it looks like Podman always did that.

[2021-07-01 15:12] arctic-alpaca opened #10838 "API "PortMapping" fields are named differently depending on the endpoint."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello,
the struct `PortMapping` is used in three endpoints, [List containers ](https://docs.podman.io/en/latest/_static/api.html#operation/ContainerListLibpod), [Create a container](https://docs.podman.io/en/latest/_static/api.html#operation/ContainerCreateLibpod) and [Create a pod](https://d

[2021-07-01 15:15] Enchufa2 commented on #10832
Weird. What changed then? How was I able to rebuild after pruning without rebuilding everything?

[2021-07-01 15:18] vrothberg commented on #10832
I only tested the reproducer of this issue. Maybe there is more to it?

[2021-07-01 16:14] mtrmac commented on #10832
To confirm, do mean that only images with the immediate parent tagged (but not more distant children) would be excluded? “Without a tagged ancestor” would stop pruning almost all images AFAICS.

---

If you have looked into this, can you write down the exact shape of the layer/tag graphs, please?

I’m guessing it is something like

base-image -> base-config, base-top-layer
intermediate-image -> in

[2021-07-01 16:22] Enchufa2 commented on #10832
Another issue, probably related to this. Consider the Dockerfile in my first comment. Then, we produce a first build:

[code]

Then, we change the last line of the Dockerfile to produce a second build:

[code]

Now, I see this, which doesn't look right to me:

[code]

Why, because `a6e0cbdfa3eb` is an intermediate step for `53bde127cab6` (and for `d82f2c787281`!). So even if I clean images one by

[2021-07-01 16:53] #10826 closed

[2021-07-01 17:04] Enchufa2 commented on #10832
I don't think so. The current pruning rule basically implies squashing all tagged images into a single layer. I don't think any user expects that. If I'd like to squash it, I would have added `--squash` to `podman build`.

Exactly. Then, why is it removing things I don't see when I list the images available?

I don't know podman's internals, but it doesn't seem too complicated to keep track of thi

[2021-07-01 17:06] mtrmac commented on #10832
ENV doesn’t need to produce layers; it’s just extra overhead.

---

At this point I think we need to see the exact graph shapes to have a specific discussion.

[2021-07-01 17:12] vrothberg commented on #10832
Aaah.  Dangling for Docker implies not having children (see https://github.com/moby/moby/blob/master/daemon/images/image_prune.go#L79).

[2021-07-01 17:13] vrothberg commented on #10832
Which in Podman terms is an "intermediate" image.

[2021-07-01 17:15] #10801 closed

[2021-07-01 17:20] rhatdan commented on #10838
@jwhonce PTAL

[2021-07-01 17:21] vrothberg commented on #10832
I think what we need to do is:
[code]

Likely, some tests need to be changed as well. @mtrmac WDYT?

[2021-07-01 17:21] mtrmac commented on #10832
… or to put this another way, a sequence of 1000 ENV and other config-edits might (in some vague conceptual sense) not need to create any `storage.Image` objects, and the associated I/O and locking overhead, at all, assuming a “sufficiently smart and efficient” implementation. That would probably make everyone happy, with no dangling untagged intermediate images to prune, and no cache breakage on

[2021-07-01 17:22] Enchufa2 commented on #10832
For me, as a user, one instruction = one layer that is somehow cached. I used `ENV` above for the sake of the argument, just because it's cheap. But think about multiple `RUN` instructions installing or configuring stuff.

Apologies, not sure if this is directed to me or to @vrothberg. If you need my help with this, I would need some instructions on how to do such thing. :)

[2021-07-01 17:29] Enchufa2 commented on #10832
What about https://github.com/containers/podman/issues/10832#issuecomment-872382507? Should I open another issue?

[2021-07-01 17:32] vrothberg commented on #10832
Yes, that would be great, thank you.

[2021-07-01 17:40] mtrmac commented on #10832
I can’t see how this should work: if there is a chain of taggedBase → cache1 → cache2 → cache3, with the cache* images untagged descendants, AFAICS with `dangling=true` this selects cache3 and `libimage.Image.remove` then recursively removes all cache*  images but not taggedBase. With `intermediate=true` this selects cache1 and cache2, but not cache3, and no layers are actually removed, only some

[2021-07-01 17:41] mtrmac commented on #10832
The “layer” I am talking about is a specific implementation object (`containers/storage.Layer`).

The distinction between ENV and RUN, AFAICS, _matters_.

[2021-07-01 17:47] vrothberg commented on #10832
Only untagged leafs should be pruned (recursively)?

[2021-07-01 17:48] mtrmac commented on #10832
Sounds intuitive. How does that fail in the original issue?

[2021-07-01 17:54] Enchufa2 commented on #10832
@mtrmac Ok, let me try this. The example above would be:

[code]

`podman image prune` removes `cache1`; `docker image prune` doesn't.

A more complicated example from my use case would be something like this. First multistage build:

[code]

`podman image prune` removes all caches; `docker image prune` doesn't remove anything. Then, I modify something, second build:

[code]

`podman image prune`

[2021-07-01 17:55] vrothberg commented on #10832
We prune any untagged node, whether it's a leaf or not.

Yes, the intermediate filter is not the correct one since it's an untagged one with children.  I begin to think that the dangling filter should actually be extended to perform a children check.

[2021-07-01 18:02] Enchufa2 commented on #10832
And solution in pseudo-code:

[code]

[2021-07-01 18:14] Enchufa2 opened #10840 "Non-leaf images incorrectly listed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Forked from #10832. There, I called "intermediate" to "images with children", but apparently "intermediate" means something else in podman. The issue is that _images with children_, or _non-leaf images_, may be listed in some circumstances.

**Steps to reproduce the issue:**

Consider the fol

[2021-07-01 18:30] Enchufa2 commented on #10832
And another argument based on podman's current behaviour. If we have:

[code]

Then, if we `podman rmi` either `tag1` or `tag2`, but not both, the `cache1` is not removed, as expected. So `image prune` should be consistent with that.

[2021-07-01 18:30] mtrmac commented on #10832
Are the objects here images or layers?

Ahh, so I think I’ve been obtuse. cache1 counts as an `libimage.Image.IsDangling` image. And even if tag0/cache1/tag2 did share the top layer, the parent/child/dangling/intermediate checks in the pruning algorithm are based on `layerTree`’s parent/child definition, which reconstructs the links based on history matching; i.e. regardless of what the layer tree

[2021-07-01 18:36] Enchufa2 commented on #10832
I think I'm probably talking layers here. But I'm not sure. :) What's the difference?

[2021-07-01 18:38] mtrmac commented on #10832
That looks consistent with the linked prune code from a quick check, but I didn’t carefully review their definition of parent/child. (The same filters are used for image list, and the code looks a bit more convoluted there, but I _think_ is also consistent with that.)

[2021-07-01 18:40] mtrmac commented on #10832
Never mind, my mistake; the logic in in image terms (as ~heuristically determined by `layerTree`, not by physical links), and layers don’t matter much.

[2021-07-01 18:49] mtrmac commented on #10832
BTW unlike the filters, it’s not at all obvious to me that `Image.IsDangling` should be modified as well. It would directly break `IsIntermediate`, which is easily remedied, but more importantly `ImageSummary.Dangling` is AFAICS completely undocumented. Guessing at its purpose I suspect the current behavior is correct there.

[2021-07-01 19:57] jam01 commented on #6185
@paoloantinori did you figure this one out? I'm having the same issue with ghcr.io/hassio-addons/ubuntu-base/amd64:6.2.0

[2021-07-01 19:59] rhatdan commented on #10831
@jwhonce @Luap99 PTAL

[2021-07-01 20:01] rhatdan commented on #10833
I do not see this as an issue with Podman.

[2021-07-01 20:14] nanonyme commented on #10539
Sorry for commenting on closed issue but is the intent that this goes out with v3.3 or will this be backported? If v3.3, is there any estimat? This feature is a real quality-of-life enhancer for running Podman server processes.

[2021-07-01 20:30] mheon commented on #10539
This is a new feature so it will not be backported. I expect 3.3 to land late this month or early next month.

[2021-07-02 03:14] HarryMichal commented on #10296
Agreed.

Right. This is related to the fact that the two libraries are not packaged, yet.

I remember you trying to run the tests some time ago and bumping into an issue with your current folder not being inside of the container causing the command to error out. That should be fixed now.

[2021-07-02 07:16] vrothberg commented on #10832
I will take a look today or early next week.  Likely a regression from libimage.

[2021-07-02 10:57] rhatdan commented on #6185
@jam01 Open a new issue or at least show us what is failing?  Usually we tell people to try as rootfull, if it is failing in rootless mode.

[2021-07-02 11:01] rhatdan commented on #10404
Since this is a RHEL issue, it should be handled via bugzilla not an upstream issue.

[2021-07-02 11:01] #10404 closed

[2021-07-02 12:33] #10835 closed

[2021-07-02 13:57] Luap99 commented on #9777
I take this.

[2021-07-02 13:58] baude commented on #10824
@ashley-cui are you able to replicate this?  or want me to run it down ?

[2021-07-02 14:00] ashley-cui commented on #10824
@baude haven't touched it, if you want to grab it feel free

[2021-07-02 14:19] baude commented on #10824
alright, whats going on here is that the tmpdir is being cleaned on each reboot (as it should) and `podman machine start` does not create the TMPDIR/podman directory if it does not exist.  PR soon...

[2021-07-02 15:10] baude commented on #10745
@isavcic did you mean cni config or dns names?

[2021-07-02 15:17] cevich commented on #10817
I might be wrong, but I wonder if this is affecting https://github.com/containers/podman/pull/10829#issuecomment-871753902 and https://github.com/containers/podman/pull/10829#issuecomment-872312652

I'm on PTO next week, so I'll check back in on this when I return.

[2021-07-02 15:31] isavcic commented on #10745
I don't understand the question. I'm saying that, when `$XDG_RUNTIME_DIR` is set, when `dnsname` plugin is enabled on a network, on container startup podman writes the config under `$XDG_RUNTIME_DIR`, but on container shutdown it attempts to read that config under `/run/containers/cni`, fails, and leaves iptables in a dirty state. This issue doesn't happen if `dnsname` plugin is ommited when creat

[2021-07-02 15:33] Luap99 commented on #10745
Yeah I think we can fix this in dnsname. Although, it looks like XDG_RUNTIME_DIR is not passed to the podman container cleanup command, @mheon is that expected?

[2021-07-02 15:40] mheon commented on #10745
Nope - I would expect that we'd be passing everything relevant in. I expect that Conmon at least gets it?

[2021-07-02 15:43] Luap99 commented on #10745
I have to debug but apparently it is lost somewhere.

[2021-07-02 16:08] Luap99 commented on #10745
@mheon I found it. We always set XDG_RUNTIME_DIR to an empty string for conmon (if you are root)
https://github.com/containers/podman/blob/04209873562dff25c5d6f800e4a535dff18d485a/libpod/oci_conmon_linux.go#L1202 https://github.com/containers/podman/blob/04209873562dff25c5d6f800e4a535dff18d485a/pkg/util/utils_supported.go#L20-L26

[2021-07-02 16:27] gdoepp commented on #10187
For now, the easier workaround was to resolve all links manually in storage.conf. This works "rootless". Please fix the bug in a future release or document the restriction and reject an erroneous configuration in storage.conf. A configuration that is not obviously wrong and once had worked should not stop to do so without notice.

[2021-07-02 17:26] jwhonce commented on #10838
@mheon @baude The issue @arctic-alpaca raises stems from container list using ocicni.PortMapping structure while container create is using specgen.PortMapping. Given our forward direction for networking code, I'm leaning towards having container list report using specgen vs ocicni fields. Either way this falls, this is a Podman API v4 change.

[2021-07-02 17:28] mheon commented on #10838
@jwhonce As part of the 4.0 networking changes, I want to change the way we're storing ports in the DB from the OCICNI struct to the Specgen one, which will allow us to unify on that in the container list code. I don't think we can do it before that because converting between these structs is very expensive in CPU and memory terms.

[2021-07-02 17:33] baude commented on #10838
sgtm, can we make a jira card for this so it is not forgotten?

[2021-07-02 17:51] baude commented on #10391
@vrothberg wdyt here? is this something we can efficiently do in our image lib?

[2021-07-02 17:52] baude commented on #10391
could we just consider putting image stores in something like podman info ?  less costly?

[2021-07-02 17:53] baude commented on #10322
@vrothberg wdyt?

[2021-07-02 17:55] baude commented on #10280
I'm closing this as @jwhonce was unable to replicate with main branch ... please re-open if it is not.

[2021-07-02 17:55] #10280 closed

[2021-07-02 18:10] Luap99 commented on #10825
https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6094258743541760/html/sys-remote-ubuntu-2104-root-host.log.html
Is this related? Also 137 exit code with podman exec in remote system test.

[2021-07-02 21:26] mheon commented on #10745
https://github.com/containers/podman/commit/b3014c1c69d5870104aa45f7caae7af041094171 is the commit that did this. The logic seems solid, though I think root setting XDG_RUNTIME_DIR to a concrete path not in `/run/user` for root would be OK?

[2021-07-02 21:51] isavcic commented on #10745
The issue IMO is just related to consistency, ie. if that env variable is read used, it should be used throughout the entire container life cycle.

[2021-07-02 22:55] eMGabriel commented on #10712
@marcpawl could you please share the /tmp and /var/tmp entries of your /etc/fstab file? Because you mentioned that error comes at the 1GB limit, I think that /var/tmp is mounted to /tmp which maybe a 1GB size tmpfs filesystem which gets full.

[2021-07-03 00:10] #10824 closed

[2021-07-03 00:16] #9777 closed

[2021-07-03 10:11] #9730 closed

[2021-07-03 10:17] #10649 closed

[2021-07-03 14:16] babykart opened #10854 "podman import failed with Digest did not match error"
**This a BUG REPORT**

/kind bug

**Description**

podman-3.2.{1,2} failed to import an archive.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podm

[2021-07-04 08:43] lbeltrame opened #10855 "Adding dnsname plugin breaks starting rootless containers with podman socket and docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using a minimal docker-compose:

[code]

starting rootless containers works *as long as dnsname plugin* is not installed:

(after starting `podman system service -t 0 unix:///tmp/podman.sock`)

[code]

However, after adding the dnsname plugin, everything breaks:

[code]

The problem seem

[2021-07-04 08:48] lbeltrame commented on #10855
I'll build the plugin with https://github.com/containers/dnsname/pull/60 and see what's happening.

[2021-07-04 08:56] djnotes commented on #10779
Strange. I'm still getting SELINUX errors, even with the z option.

[code]

[2021-07-04 09:01] lbeltrame commented on #10855
Ok, it looks like some kind of dnsmasq bug.

`/etc/resolv.conf` is normally a symlink on openSUSE, as it's handled by netconfig:

[code]

If I replace it with an actual file:

[code]

the container starts.  I'll try to see if this bug has been filed somewhere.

[2021-07-04 10:47] Luap99 commented on #10855
@lbeltrame Thanks for the report. This is definitely a bug in podman. To make rootless cni possible we mount in a new empty /run in rootless cni namespace to make it writeable for the cni plugins.

[2021-07-04 10:48] rhatdan commented on #10817
Almost always memory protection errors are caused by SELinux.

[2021-07-04 11:17] rhatdan commented on #10528
Since we got no more feedback, closing on insufficient data.  Reopen if the issue still exists and you have the data.

[2021-07-04 11:17] #10528 closed

[2021-07-04 11:24] rhatdan commented on #10779
This AVC message is not related to the volume.  Probably can be ignored.  This looks like the iptables command was executed while sitting in a cgroup directory.

[2021-07-04 11:46] rhatdan commented on #10391
That would not solve the issue of where does this specific image come from.

I will take a look at this.

[2021-07-04 12:14] lbeltrame commented on #10855
Thanks for the explanation. Do you think it warrants a line in the troubleshooting docs until this is eventually taken care of? I can prepare a PR if need be.

[2021-07-04 14:13] eriksjolund opened #10856 "Improve error message when the entrypoint has the path "/run""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

If a container image has an executable installed at the filepath _/run_, the error message

[code]

could be made more informative when trying to run the container.

This feature request is not so important as it is just catching an edge case where a strangely built container is being use

[2021-07-04 18:10] flouthoc commented on #10856
@eriksjolund Afaik following error is directly coming from the runtime and podman is just relaying. In order to print a custom error msg at podman level an extra `stat` call needs to happen at podman level for entrypoint before it goes to runtime.  But i  am not sure if extra `stat` is call worth the cost just for changing error message.

[2021-07-04 19:09] networkException commented on #9169
Hello, I'm not sure if this is a regression or some configuration related error but I seem to be experiencing the same problem as https://github.com/containers/podman/issues/9169#issuecomment-806903264, on version 3.2.2 however. Setting the log level of docker-compose to DEBUG reveals stdout getting spammed with `Pending: set()` until the 60s timeout gets hit.

[2021-07-04 19:22] Luap99 commented on #9169
@networkException Please open a new issue with steps to reproduce this.

[2021-07-04 19:25] Luap99 commented on #10855
@lbeltrame Sure you can open a PR to document this.

I will try to fix this next week.

[2021-07-04 19:54] networkException opened #10857 "docker-compose times out trying to use the user socket"
/kind bug

**Description**

When trying to start a container using docker-compose in rootless mode with podman, docker-compose hangs and podman commands run afterwards do not respond.

**Steps to reproduce the issue:**

1. Enable the podman user socket with systemd `systemctl --user start podman.socket`
2. Navigate into a directory that contains a `docker-compose.yml` file (for example the followi

[2021-07-04 23:51] debarshiray opened #10858 "Would be nice to have a different 'podman pull' exit code for authorization failures"
/kind feature

**Description**

This is a lot like https://github.com/containers/podman/issues/6190 but for *authorization failures* which is possibly more narrowly defined than *network errors*.

We are receiving feature requests against [Toolbox](https://github.com/containers/toolbox) from downstream distributors to detect when a registry requires the user to log in and handle the authorization

[2021-07-05 05:52] bkueng commented on #10835
Thanks for the quick fix

[2021-07-05 07:41] sachinkaushik commented on #10797
Hi @rhatdan ,

Thank you..!! Above error has been resolved after following below link. We are creating a rootless openshift container.

https://www.redhat.com/sysadmin/podman-inside-kubernetes

But now we are getting below error. Im trying to build python application  using dockefile.

Source Code Link : https://github.com/sachinkaushik/hello-world-python.git

Command : podman build -t demo .

**e

[2021-07-05 08:37] Luap99 commented on #10857
I cannot reproduce on fedora, please run the podman service with log level debug, `podman --log-level debug system service -t0` and provide the output. Hopefully this will show where it hangs.

[2021-07-05 09:16] networkException commented on #10857
This is the full log

[code]

[2021-07-05 09:56] networkException commented on #10857
Ok my docker-compose was not up to date, upgrading it to `1.29.2` changed the behavior but still doesn't work:

[code]

[code]

[2021-07-05 09:59] Luap99 commented on #10857
Can you try `podman network create testnet && podman run --rm --network testnet alpine ip a`

[2021-07-05 10:02] rhatdan commented on #10856
I don't see this as worth hacking around to fix it, since you could probably figure out other options in /run to break like creation of other inodes.

The .containerenv error is actually happening within podman when it attempts to create a file in the /run directory, but /run is not a directory.

I am going to close this as wontfix.

[2021-07-05 10:02] #10856 closed

[2021-07-05 10:04] networkException commented on #10857
That prints the following

[code]

but does not terminate. Also htop shows similar CPU usage to what I observed in the beginning (just the command of the processes is `podman run --rm --network testnet alpine ip a` instead of `/usr/bin/podman --log-level=info system service`)

[2021-07-05 10:08] rhatdan commented on #10858
I don't believe this will be easy to implement, since containers/image, as I understand it, has a hard time differentiating between "authorization required" and image does not exist.

@vrothberg @mtrmac WDYT?

[2021-07-05 10:11] gdesmott opened #10859 "docker REST API: logs: until=0 does not return any log"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When fetching logs using [Docker REST API](https://docs.docker.com/engine/api/v1.41/#operation/ContainerLogs) with `until=0` (the default), podman does not return any log while Docker returns them all.
I suppose Docker parses `0` as "no end" while podman uses it strictly.

**Steps to reproduc

[2021-07-05 10:14] rhatdan commented on #9867
This works for me with the latest in the main branch.

[2021-07-05 10:24] gdesmott commented on #10859
Actually setting `until` with whatever value seems to always return an empty result.

[2021-07-05 10:39] rhatdan commented on #8645
@boaz0 Did you ever get a chance to work on this?

[2021-07-05 10:41] rhatdan commented on #8452
@baude What should we do with this issue at this point?

[2021-07-05 10:44] rhatdan commented on #7360
@mheon This is the great albatross around podman's neck. ...

[2021-07-05 10:45] rhatdan commented on #7262
@danopia @zhangguanzhang Do we still have this issue?

[2021-07-05 10:57] Luap99 commented on #10857
OK, so there is an infinity loop somewhere. Do you know if this worked with 3.2.1?

[2021-07-05 11:07] danopia commented on #7262
[The docs](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkCreateLibpod) are still wrong

Nothing has changed since before [this comment](https://github.com/containers/podman/issues/7262#issuecomment-750864324):

If the mindset is that the docs will just stay wrong because changing how they show golang internals is too hard, then 🤷

[2021-07-05 11:26] Luap99 commented on #10857
I found the bug, as a workaround please create the `/var/lib/cni` directory. This should make it work for now.

[2021-07-05 11:27] networkException commented on #10857
I just compiled 3.2.1 from source and https://github.com/containers/podman/issues/10857#issuecomment-873980012 works

[2021-07-05 11:31] networkException commented on #10857
After creating the `/var/lib/cni` directory the command from https://github.com/containers/podman/issues/10857#issuecomment-873980012 also works in 3.2.2, however docker-compose still errors on both versions with this error https://github.com/containers/podman/issues/10857#issuecomment-873978034

[2021-07-05 11:41] Luap99 commented on #10857
I think you have to remove the container manually with `podman rm -f <NAME>` as it is stuck in a wrong state due to the bug.

[2021-07-05 11:42] networkException commented on #10857
oh I see, thank you that worked :tada:

[2021-07-05 12:43] boaz0 commented on #8645
I did work on it here https://github.com/containers/podman/pull/10546 and now what I need to do is push tests for it and then I am OK with closing this.

[2021-07-05 14:38] mheon commented on #7262
This API is due for a rework in 4.0 as part of the overall network stack rework so I'm not in a terrible rush to fix this, so long as the new API is better-structured.

[2021-07-06 00:53] kevinanderson1 opened #10862 "docker-compose sometimes causes podman.service to stop responding"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using docker-compose to start a number of services on reboot. Occasionally the podman system service gets stuck and stops responding to any commands till I restart it. I am not sure if it is due to the number of compose files I am running concurrently or not. I have at times let the `doc

[2021-07-06 02:28] maybe-sybr opened #10863 "[v3.2] Cannot get journald cursor when running in namespace with /var/log overmounted"
/kind bug

**Description**

v3.2.1 introduced a breakage in my environment where I run the vanilla Fedora `podman` (ie.with systemd support) under namespaces - specifically injected underneath a usernetes namespace which has its own mount namespace and overmounts `/var/log/`. The issue manifests as `podman logs -f <somecontainer>` spitting out the following error:
[code]
and then exiting non-zero.

[2021-07-06 03:52] sachinkaushik opened #10864 "error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: mount `/proc` to `/proc`: Operation not permitted"
Hi Team,

I have created a running rootless openshift container using a Dockerfile. I followed below link for creating **Rootless Podman without the privileged flag**. I'm able to build java spring application but when I try to build python application using Dockerfile that has pip install then I'm getting below error. Can you please let us know what else config required to resolve below error?

h

[2021-07-06 08:18] vrothberg commented on #10863
Thanks for the excellent report, @maybe-sybr.  I will take care of backporting etc.

[2021-07-06 08:26] vrothberg commented on #10863
https://github.com/containers/common/pull/668

[2021-07-06 08:30] #10726 closed

[2021-07-06 08:45] vrothberg commented on #10858
Thanks for reaching out, @debarshiray!

That's right (same error even when logged in):
[code]

Many registries (not sure if all) return auth errors when trying to pull images that do not exist.  That would lead to false positives when prompting users to login.

[2021-07-06 09:16] vrothberg commented on #10322
I think this is c/image only. FWIW, the parsing error seems to relate to Docker Hub.  Pushing to Quay doesn't yield it.

@mtrmac shall we move the issue over to c/image?

[2021-07-06 11:51] vrothberg commented on #10854
Thanks for the report.  I am looking into this.

[2021-07-06 12:12] Luap99 commented on #10862
Do you see any errors in the journal? `journalctl -r -u podman.service` and  `journalctl -r -u podman.socket`

[2021-07-06 12:35] edsantiago commented on #9867
It actually doesn't work. I suspect you shortcutted my reproducer above, running `podman system service` in the same directory as the Dockerfile and .dockerignore. Can you try my exact reproducer, no shortcuts? Reopening while we sort this out.

[2021-07-06 12:45] vrothberg commented on #10854
Opened https://github.com/containers/common/pull/669 to fix the issue.

[2021-07-06 12:46] Luap99 commented on #10855
PR #10865 should fix this. Could test it it works for you? You can download a static compiled binary from here https://api.cirrus-ci.com/v1/artifact/task/4684786385027072/binary/bin/podman.

[2021-07-06 12:46] edsantiago commented on #10825
Interesting - yes, that's the same symptom, and now it's in CI. (FWIW I've started preserving CI logs of flakes, and this is the only instance of the `touch /stop.*137` error I can find).

[2021-07-06 12:48] lbeltrame commented on #10855
@Luap99 Many thanks. I'll have a go tonight when I'm at home.

[2021-07-06 13:12] ahwayakchih commented on #10800
@cdoern @mheon is there any other info i could provide?

[2021-07-06 13:32] Ian2020 commented on #9371
On 3.2.2 I'm still seeing this problem, `:z` is treated as part of the path as @lsunsi mentions above. My kube.yaml:

[code]

If I run this up and look in the container it's created a dir `storage:z`:

[code]

[2021-07-06 14:05] baude commented on #8452
technically speaking, we have something people can use ... but it does not do the port mapping yet.  That will come in 3.3.  I would be fine with closing or keeping open.

[2021-07-06 14:14] itewk opened #10866 "podman image sign does not accept --authfile parameter"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman image sign` does not accept the `authfile` parameter. To be consistent and to support those that can not use the default auth file location, need support for this flag.

**Steps to reproduce the issue:**

1. attempt to use the `--authfile` parameter for `podman image sign`

**Desc

[2021-07-06 14:31] baude commented on #10858
Indeed, this has been asked for several times before but my understand is that until registries send better messages/response codes we cannot differentiate.

[2021-07-06 14:39] baude commented on #6517
this is fixed in v3.0 it appears, closing

[2021-07-06 14:39] #6517 closed

[2021-07-06 14:45] baude commented on #9538
I'm going to close this issue.  Again, all containers in a pod share the same network namespace.  This means it is going to look in `podman ps` that each container has the port.  But because they are in the same network namespace, this is expected and the container that is actually running something on that port will "answer" for the pod.

[2021-07-06 14:45] #9538 closed

[2021-07-06 14:46] mheon commented on #10800
No, I think we're set. I'm presently working on related changes to pod cgroups. I will tackle this once I am done with those.

[2021-07-06 14:47] baude commented on #9482
I think this should be closed as one cannot mix rootless and rootful networks.

[2021-07-06 14:49] cdoern commented on #10859
Looking into this, seems like `until` has some fixes that need to be added. Right now we parse `until` as a `since` but that doesn't seem to be accurate @gdesmott

[2021-07-06 14:49] baude commented on #9444
we should deal with this issue of dns ports in podman 4.0

[2021-07-06 14:51] mheon commented on #9444
Probably need to have a discussion about how...

[2021-07-06 16:11] zanven42 commented on #8452
If it is getting closed, having something linked that can be followed for email alerts to know when it's released would be great.

[2021-07-06 16:45] mheon commented on #9371
Can you open a fresh issue? The original issue was not supporting the `:z` flag at all, which is now fixed; it sounds like now we support it, but it's not working, which is a new bug.

[2021-07-06 18:27] baude commented on #8452
lets keep it open until 3.3!

[2021-07-06 18:31] baude commented on #9534
I'm going to close this as it is the responsibility of the distributions to handle their packaging.  @lsm5 did you fix the kubic ubuntu packages?

[2021-07-06 18:31] #9534 closed

[2021-07-06 18:35] lbeltrame commented on #10855
Tested and confirmed working on one machine. I'll do a second test later on another.

[2021-07-06 18:38] edsantiago commented on #10296
@HarryMichal it looks like bats-support is licensed as [Creative Commons](https://github.com/bats-core/bats-support/blob/master/LICENSE), could you just include the necessary files in your `-tests` rpm?

[2021-07-06 19:00] baude commented on #8941
@PavelSosin-320 any chance you can log onto libera #podman and we could discuss this?  I want to make sure I have a better understanding of what you are asking for ... right  now, I think you just want want the ctr id to be the short id by default and add a --no-trunc option that shows the full id.  What I don't quite grasp is why ... this helps us write tests and implement the feature properly.

[2021-07-06 19:06] baude commented on #9866
@lsm5 would you be interested in doing this?

[2021-07-06 19:09] baude commented on #9804
My first thought here is that I don't see a widespread use for this.  Aren't failed healthchecks also logged in journalctl.  Would like folks to say if this is a good idea first @rhatdan @Luap99 @mheon @ashley-cui @edsantiago

[2021-07-06 19:12] mheon commented on #9804
I think the first question is what "the logs" is referring to here - I really should have asked this when the issue first came in. Where are you seeing the failures being logged - the journal (maybe as events)?

[2021-07-06 19:13] baude commented on #9688
whats the status here ... does this still not work because of #2671 or we good or? ?

[2021-07-06 19:15] baude commented on #9661
@zv0n 2.0.27 is out now ... if you are happy, please close this issue.

[2021-07-06 20:27] lsm5 commented on #10279
should be fixed in the latest containers-common at https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/containers-common . Closing...

[2021-07-06 20:27] #10279 closed

[2021-07-06 20:29] lbeltrame commented on #10855
Also confirmed working on the other machine.

[2021-07-06 20:31] lsm5 commented on #3924
I'm closing this. Doesn't look like anyone's working on it. Ubuntu versions 22.10 and up already have podman in their base repos and we'll stop ubuntu OBS packaging once 22.04 is released.

[2021-07-06 20:31] #3924 closed

[2021-07-06 21:04] c-goes commented on #9534
Still no podman-docker package in kubic/Ubuntu.

In official Debian experimental repo there is now podman-docker package but this won't install a symlink.

[2021-07-06 21:58] tisc0 commented on #9371
Please @Ian2020 , could you do it ? Got no time to test this part for now, but will soon need this to be fixed too ! :)

[2021-07-06 22:28] rhatdan commented on #9661
Let's reverse this and say reopen if it does not fix the issue.

[2021-07-07 00:12] jvanz commented on #10866
I would like to work on this.

[2021-07-07 00:38] sdhoward commented on #9727
with runc:
[code]

with crun:

[code]

[2021-07-07 02:43] maybe-sybr commented on #10863
Much appreciated @vrothberg :)

[2021-07-07 03:18] sachinkaushik commented on #10864
Hi Team,

Any update on this...?

[2021-07-07 07:44] Luap99 commented on #10866
@jvanz Thanks. You got it.

[2021-07-07 10:18] Ian2020 commented on #9371
Before I create a new bug after some investigation I have found that the PR which closed this issue: [#10339](https://github.com/containers/podman/pull/10339) never made it to the 3.2 branch, which is why the bug still persists for those of us not running from source.

The PR went into the master branch which no longer exists. Another commit was made the day before to main [4cc19f9](https://github

[2021-07-07 11:06] rhatdan commented on #8785
@Luap99 do you have time to tackle this?

[2021-07-07 11:09] rhatdan commented on #6480
Still no one has worked on this?
Any volunteers looking for a good project?

[2021-07-07 11:10] rhatdan commented on #6045
@mheon @Luap99 something to consider for the network rewrite?

[2021-07-07 11:20] mtrmac commented on #10322
I would expect this to run into https://github.com/distribution/distribution/blob/01f589cf8726565aa3c5c053be12873bafedbedc/registry/client/errors.go#L127 , which is also the package where it fails. Something weird is going on.

Sure, move it — if we are going to add a work-around, it will be in c/image.

[2021-07-07 11:29] rmsc commented on #10337
I'm still facing this same issue with containers/common-0.40.1:

[code]

[code]

[2021-07-07 11:29] rhatdan commented on #10797
Please open a new issue.  @umohnani8 PTAL

[2021-07-07 11:37] rhatdan commented on #8645
Great.

[2021-07-07 11:57] itewk commented on #10866
thanks for the attention and passion @jvanz

[2021-07-07 12:04] #9482 closed

[2021-07-07 12:22] lsm5 commented on #10211
This should be resolved with the latest containers-common `1-17`. A system update should fix that for you.  I'm not sure if it will automatically get rid of the unwanted directories so you may need to manually remove them.

Please reopen if that doesn't solve it.

[2021-07-07 12:22] #10211 closed

[2021-07-07 12:24] matejvasek commented on #10776
@rhatdan can you give me some pointer where to fix this?

[2021-07-07 12:32] sachinkaushik commented on #10797
Hi @rhatdan

I have already open below new issue.

https://github.com/containers/podman/issues/10864

Thanks,
Sachin

[2021-07-07 13:20] mheon commented on #6045
Potentially - if nothing else, it puts us in a much better position to implement this.

[2021-07-07 14:51] rmsc commented on #10337
In my case it seems that a stale config file was probably to blame. Removing and reinstalling the files in `/etc/containers` fixed this for me. Sorry for the noise.

[2021-07-07 15:49] rmsc commented on #10337
I just triple checked, and I'm now in a very weird situation:

* the problem is still 100% reproducible using the steps above by @smac89
* the problem is completely gone on my own setup (which is puzzling).

I'm now hitting another error (`Error: capset: Operation not permitted: OCI permission denied`), but that is in a podman-in-podman situation, and easy to workaround for now with `--drop-caps a

[2021-07-07 16:32] mtrmac commented on #10858
There are at least four major cases, with variants:
- Server rejects credentials, when converting them into a bearer token, with a 401 . This should show up as `c/image/docker/ErrUnauthorizedForCredentials`
- Server accepts credentials (_for a specific operation_) and later explicitly refuses to perform it. Perhaps `docker/distribution/registry/api/errcode.ErrorCodeUnauthorized` or `docker/distrib

[2021-07-07 17:32] baude commented on #10864
@rhatdan @umohnani8 ptal

[2021-07-07 18:02] mheon commented on #10840
Confirmed locally - our behavior does not match Docker here. I think some investigation of our algorithm versus Docker's for determining what `images` without the `-a` flag displays is warranted.

[2021-07-07 18:06] baude commented on #10840
I'm poking at it ... are we concerned that this has been broken for so long that changing the behavior is going to irk people?

[2021-07-07 18:38] debarshiray commented on #10858
Ok, thanks for all the prompt and thoughtful responses, everybody. Much appreciated.

I have forwarded a summary of this discussion to the downstream distributors pushing for this feature. ;)

[2021-07-07 20:46] lukasbestle opened #10875 "`podman update` command and `auto-update` without systemd"
/kind feature

**Description**

Let's say I have a local image like `my-web-server:1.0.0` that is used by one or more containers. Now I build that local image again with a few changes as `my-web-server:1.0.1` and want my existing containers to use this new image.

**Currently needed commands**

[code]

*Disadvantages*:

- All options need to be passed manually again even though Podman already knew

[2021-07-07 21:06] srcshelton opened #10876 "podman doesn't handle filesystem-full situations gracefully"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman system prune -f` should be usable in out-of-space conditions, however:

[code]

`podman` should make every precaution possible to be able to clean up after itself even in filesystem-full situations.

In this case, simply removing two empty directories was enough to allow a second invo

[2021-07-07 21:42] kallisti5 opened #10877 "crun: chdir: Not a directory : exit status 1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman no longer working again

**Steps to reproduce the issue:**

1. ArchLinux
2. Build a container

**Describe the results you received:**
[code]

**Describe the results you expected:**

Not to error :-)

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2021-07-07 22:13] mheon commented on #10877
Looks like a Buildah issue - @nalind @TomSweeneyRedHat PTAL

[2021-07-07 22:31] sbourlon commented on #10364
Hello @ashley-cui

Do you know if this feature is in v3.2.2? It seems this version is from Jun 25 while your feature was merged on May 17.

Test:
[code]

Outputs:
[code]

[2021-07-07 23:18] ocafebabe commented on #10211
Yep it's all good now! Thanks @lsm5

[2021-07-08 01:26] zhangguanzhang commented on #7262
yes

[2021-07-08 02:48] flouthoc commented on #10864
Hi @sachinkaushik is this **rootless** container being invoked from another  **rootless/non-root** container ? Could you trying adding this to your `podman` command `--security-opt seccomp=unconfined --cap-add all ` and try again ?

[2021-07-08 02:55] Giszmo commented on #9390
[code]

Is this issue back? Maybe the message should suggest what most people probably want anyway: "Try docker.io/python:latest instead".

[2021-07-08 03:11] flouthoc commented on #10864
also afaik parent container has to be `privileged` and must mount parts of `/proc` with relevant `uid`,`gid` for nested rootless container to be able to perform  mount on `procfs` i am not sure about it though. @sachinkaushik Could you please try with `privileged: true` if above suggested methods don't work.

[2021-07-08 03:12] sachinkaushik commented on #10864
HI @flouthoc ,

Thank you for response..!!!

We have created a Container Image using below Dockerfile by docker build -t <imageName> . command. And now this container image we are running as rootless(we have podman User in dockerfile) container in Openshift.

This is a rootless container running in openshift. Now if we try to build python application Dockerfile that is having pip install  command

[2021-07-08 03:37] flouthoc commented on #10864
@sachinkaushik oh its fine if you don't want to try `privileged: true` but could you try this: `podman build --security-opt seccomp=unconfined --cap-add all -t <image-name> .` and tell me the output ?

[2021-07-08 03:44] sachinkaushik commented on #10864
Hi @flouthoc ,

I just try it and getitng same error.

podman build --security-opt seccomp=unconfined --cap-add all -t python-image .

STEP 5: RUN pip install -r requirements.txt
error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: mount `/proc` to `/proc`: Operation not permitted

![podman-build-error](https://user-images.githubuse

[2021-07-08 03:46] stewartadam commented on #10806
This likely explains what I recently discovered was going on with my podman containers that intermittently caused some of their port mappings to fail with 'No route to host' when trying to `curl http://localhost:XYZ` against a forwarded port. After lots and lots of debugging I came to the same conclusion as above -- iptables rules lingered after container removal that caused subsequent deployments

[2021-07-08 03:56] stewartadam commented on #10795
I've reproduced this with podman-3.2.2-1.fc34.x86_64 as well. This bug puts affected containers into an exited state, which if you cleanup manually with `docker rm $(docker ps -q -f 'status=exited')` then permits the `docker-compose up -d` to succeed again (because it thinks it's creating new containers, instead of re-creating).

[2021-07-08 04:04] stewartadam commented on #10806
Perhaps duplicate of #10745, affecting rootful containers and named networks?

[2021-07-08 04:34] flouthoc commented on #10864
@sachinkaushik and just for a try what happens when you set `privileged: true` on the pod config ?

[2021-07-08 05:20] sachinkaushik commented on #10864
@flouthoc We have created s SCC and in that we have **allowPrivilegedContainer: false** . Do you want us to set value of allowPrivilegedContainer as true ?

[2021-07-08 05:24] sachinkaushik commented on #10864
@flouthoc  We tried setting up value of **allowPrivilegedContainer** as true. But still no luck.

STEP 5: RUN pip install -r requirements.txt
error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: mount `/proc` to `/proc`: Operation not permitted

[2021-07-08 07:31] Luap99 commented on #10877
Duplicate of https://github.com/containers/podman/issues/10671, check this issue for a workaround.

[2021-07-08 07:31] #10877 closed

[2021-07-08 07:49] Luap99 commented on #10806
It could be related but I don't think so. I doubt that systemd is setting `XDG_RUNTIME_DIR=/run/user/0` for the podman service.

[2021-07-08 08:26] Luap99 commented on #10745
@mheon Should we just call `os.Setenv("XDG_RUNTIME_DIR", "")` for root, WDYT?

[2021-07-08 08:27] vrothberg commented on #10875
Thanks for reaching out, @lukasbestle.  Did you have a look at `podman auto-update`?  Containers are required to run in systemd services but it provides the functionality you describe.

Starting with Podman v3.2, auto updates also cover local images. Prior to that, all images had to reside on a registry.

[2021-07-08 09:13] #10855 closed

[2021-07-08 09:13] #10857 closed

[2021-07-08 09:19] sachinkaushik commented on #10864
@flouthoc We can give privileged as well if it is doable and we can resolve this issue. But as I have already tried that setting up privileged as true.

But there is no luck.. :(

[2021-07-08 10:00] lukasbestle commented on #10875
Thanks @vrothberg for your quick reply.

`podman auto-update` does pretty much what I want, but unfortunately the systemd requirement is a deal-breaker for me. I'm using Alpine Linux, which comes with OpenRC instead of systemd, so I can't use `podman auto-update`.

The only other difference between `auto-update` and my proposal is that `auto-update` always updates to the latest image tag and doesn

[2021-07-08 10:34] rugk opened #10878 "Support Docker's host.docker.internal:host-gateway special host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Docker [has a feature](https://stackoverflow.com/a/24326540/5008962) since v20.10.0+ for Linux (at least according to Stackoverflow) [here you can add a special host](https://stackoverflow.com/a/62431165/5008962) `--add-host=host.docker.internal:host-gateway`, which refers to the host sys

[2021-07-08 10:46] rugk commented on #10878
Oh but `host.containers.internal` is not routable/the network is not reachable by default, unfortunately, so it is actually also functionally different to `host.docker.internal` / `host-gateway` of Docker.

[code]

[2021-07-08 10:52] rhatdan commented on #10875
Why not just script it?

[2021-07-08 10:54] rugk commented on #10878
Ah just see this feature is only there since [podman v3.2.0](https://github.com/containers/podman/releases/tag/v3.2.0): https://github.com/containers/podman/issues/5651 and https://github.com/containers/podman/pull/9972

However, … I still think it does not work as what I'd expect from Docker.

[2021-07-08 10:59] rhatdan commented on #9688
Reopen if this does not fix the issue.

[2021-07-08 10:59] #9688 closed

[2021-07-08 11:04] rhatdan commented on #9727
@giuseppe WDYT?

[2021-07-08 11:09] christian-korneck commented on #9688
there are several problems why this doesn’t work (perhaps not all identified), another one is #7360

[2021-07-08 11:13] vrothberg commented on #10875
Note that "latest image tag" does not mean using the `:latest` tag.  If a container uses `quay.io/repo/image:mytag`, auto-update will only update if `mytag` has been updated. It won't look for `latest`.

I guess you are aware of that already but some (future) readers may get sidetracked by the meaning of "latest".

It greatly simplifies things for Podman.  Recreating a container is very complex an

[2021-07-08 11:48] rhatdan commented on #10579
@jmguzik Any progress?

[2021-07-08 11:49] rhatdan commented on #10577
@baude any update?

[2021-07-08 11:56] rhatdan commented on #9390
This is up to the distribution to decide.  We don't want to force user to docker.io.  A reasonable site might decide to have no default registry, so this error message is valid.

[2021-07-08 12:28] jmguzik commented on #10579
In progress. Fighting with one thing, but in http api it's done.
Will be done when I finish #10861

[2021-07-08 13:13] mheon commented on #10745
I suspect that we'll break something, but I don't think it'll be bad enough that we can't fix whatever happens. Worth a shot IMO.

[2021-07-08 13:17] mheon commented on #10878
From Podman 3.2.x and up, we're doing this automatically. A side effect of this is that we don't support the Docker CLI syntax. We could change to be more compatible by requiring their special invocation of `--add-host` to add the record, but I don't really see any reason why you *wouldn't* want this in `/etc/hosts` so the easiest way forward is to continue doing what we're doing and ignore/remove

[2021-07-08 13:19] ashley-cui commented on #10364
@sbourlon oops, I don't think it made it into v3.2.2. I'll be sure it makes it in the next release

[2021-07-08 14:18] rugk commented on #10878
Okay, good to know. So, however, the routing does not work as I commented in https://github.com/containers/podman/issues/10878#issuecomment-876334680 – or should I open a new issue for that?

Say a HTTP server is running on port 1234 on the host…
Then `http://host.containers.internal:1234` from the container does not work… while `http://hostname-of-server-here:1234` works, as that resolves to the

[2021-07-08 14:30] mheon commented on #10878
Root or rootless Podman? I would expect that this would work, but only as root

[2021-07-08 14:38] rugk commented on #10878
Rootless.

[2021-07-08 14:58] mheon commented on #10878
This sounds expected, then, given the limitations of the rootless network stack. The "host" in the rootless sense is not a pointer to an IP on the host, but to the internal slirp4netns IP where traffic from the host originates. Rootless does not have the privileges required to configure proper network bridges, so instead traffic is tunneled from the host into the container; a side effect of this i

[2021-07-08 15:09] #9334 closed

[2021-07-08 15:19] rugk commented on #10878
Oh yeah `--net host`  or yeah… this is also not good, you're correct. Hmm, … kinda bad situation for my use case…

[2021-07-08 18:09] baude commented on #10840
@vrothberg discussed this and the good thing is both parties came to the same conclusion on how to fix.  I'm going to assign to @vrothberg and he will make the code changes, some of which are in common, and need to be propagated to buildah first and then podman.

[2021-07-08 18:38] mheon commented on #7360
The core problem: EOF on the client isn't being handled properly. We need to get an EOF to the server, *without* actually closing the connection - we're not done until the server finished streaming output.

[2021-07-08 19:40] Giszmo commented on #9390
@rhatdan yours is the principled approach but it's also ignorant to people who just want to get things done. I lost 20 minutes on this because I didn't know if docker uses hub.docker.com or docker.io or ... as default and neither did I know how to provide the url. Is it url:image:version or url/with/repo/path:image:version, ... I never cared and never had to and when searching for a python image,

[2021-07-08 19:51] lukasbestle commented on #10875
See my first comment: 🙂

To explain it a bit more: I plan to use Rootless Podman so that multiple users on an Alpine server can set up containers from a predefined set of local images that are managed by the server admin. Whenever these images change, the containers should be updated automatically. But since the admin doesn't know which exact options the user used to create that container, they ca

[2021-07-08 20:18] rugk opened #10882 ""podman generate systemd" generates failing service if --network host and -p ports are used together"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When you use host networking and ports together, the systemd units podman generates are broken in such a way that if the ports that are passed via `-p` are actually used/bount inside of the container, the container/service will fail, because they are already in use by an infra container – tha

[2021-07-08 20:40] rugk opened #10884 "Document that source IP for rootless containers is always 10.0.2.100 and slirp4netns workaround with it's (dis)advantages"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind documentation
(?)

## Problem

I had a [curious "problem" with the webserver caddy](https://caddy.community/t/use-real-ip-in-docker-podman-container/12978?u=rugk), where each source IP was always `10.0.2.100`. I could trace it back to podman being the obvious fault, because it's the "inside of container" vs "outsi

[2021-07-08 20:41] rugk commented on #10884
@openshift-ci-robot retry

[2021-07-08 20:47] rugk commented on #10878
Oh but doing `--network slirp4netns:port_handler=slirp4netns` as in https://github.com/containers/podman/issues/10884 would not solve this problem too, would it? (I just switched to host networking now as it was easier…)

[2021-07-08 23:27] mheon commented on #10875
You can retrieve the command a container was created with using `podman inspect --format '{{ .Config.CreateCommand }}'`.

Regarding the proposed `podman update` command - @vrothberg I do see one potential benefit here, and that would be to finally implement rollback. I think that, now that we have container renaming and we're in a much better place for recreating containers now that specgen exists

[2021-07-08 23:30] mheon commented on #10884
Worth noting that this behavior can be worked around by specifying `--net slirp4netns:port_handler=slirp4netns` when creating the container. This forces the old slirp4netns port forwarding, as opposed to rootlesskit - it's slower, but does preserve source address (at the cost of some other quirks)

[2021-07-08 23:31] mheon commented on #10878
I don't believe so, no - you still don't have a bridge between the host and container, so traffic can't be routed straight from host to container.

[2021-07-09 02:48] TAK-YON opened #10885 "Error when attempting to start container "starting container process caused: error adding seccomp filter rule for syscall bdflush: permission denied: OCI permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting any container, root or rootless it spits this error:
`Error: unable to start container "6828c256c663e4033c34cbcbca5a091be1d8015a3eabc3d158f08e0017c24cbc": container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: permission

[2021-07-09 04:06] sachinkaushik commented on #10864
HI @rhatdan , @flouthoc ,

Any update on this?

[2021-07-09 04:19] flouthoc commented on #10864
@sachinkaushik I was not able to spend time on this yesterday will probably re-create this on my end and will try a few things. btw when you tried `allowPrivilegedContainer: tried` did you update your defined SCC as well ?

[2021-07-09 04:50] sachinkaushik commented on #10864
Hi @flouthoc  ,

Yes we updated.

We are using Service Account and that SA is bind with Role. And that role is having a below SCC.

------------------------------------------------------------SCC Start-------------------------------------
allowHostPorts: false
priority: 10
requiredDropCapabilities:
  - MKNOD
  - KILL
  - DAC_OVERRIDE
  - NET_RAW
  - SETPCAP
  - SETFCAP
  - FSETID
  - SYS_CHROOT
al

[2021-07-09 05:05] vikas-goel commented on #10262
@mheon , is this planned for the July release?

[2021-07-09 05:10] stewartadam opened #10886 "podman system reset should reset the configuration for plugins it uses"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**

In my attempts to migrate from docker to podman, I've run into several issues that left remnants in either iptables or the filesystem [e.g. see #10806, #10795, [containers/dnsname#54](https://github.com/containers/dnsname/issues/54)] and `podman system reset` was unable to properly clean t

[2021-07-09 05:29] mheon commented on #10262
No one has begun work on it yet.

[2021-07-09 05:31] mheon commented on #10886
If the CNI plugins offered a way to perform such a reset, we could utilize it; however, they don't, and it does not seem likely they will begin to do so.

This can be a goal for the network stack rework, though.

[2021-07-09 05:38] mheon commented on #10882
This seems like a podman-compose bug. You may want to open a fresh bug against https://github.com/containers/podman-compose as I don't see Podman itself doing anything wrong here. Host networking and port forwarding are incompatible and if the pod were to be created with `--net=host` it would not let you add ports to it; by adding net=host only to the container, now the container has not joined th

[2021-07-09 05:46] lukasbestle commented on #10875
Thanks for the pointer on how to get the create command. Now I should actually already be able to script this behavior. I'll try that.

A rollback feature would be awesome indeed! The check could also take the healthiness of the new container into account. So it would be rolled back if it fulfills the rules for being restarted, but hasn't been healthy at least once since it started (which tells Po

[2021-07-09 07:49] vrothberg commented on #10875
Regarding rollback:

That's pretty easy to implement with systemd services as we have them now.  It hasn't prioritized in the past year but I am currently preparing a number of PRs that will pave the way for it.  If starting the systemd service _after_ an update fails, we'll retag the previous image (we know ID & digest) and start again.  I don't think that  a `container update` command is a hard

[2021-07-09 07:58] vrothberg commented on #9390
Note that there is a security issue behind these changes: https://www.redhat.com/sysadmin/container-image-short-names

Which distribution are you running on, @Giszmo?

I sympathize with the frustration but our hands are tied.  Do you think pointing to the `containers-registries.conf(5)` man page in the error message would have helped your resolve the issue faster?

For the record, the fix in this

[2021-07-09 08:22] Luap99 commented on #10886
On firewalld systems you can run `firewall-cmd --reload`, this should clear all rules.

[2021-07-09 08:26] Luap99 commented on #10878
`--network slirp4netns:allow_host_loopback=true` will allow access to the host loopback via 10.0.2.2.
https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--networkmode---net

[2021-07-09 08:27] lukasbestle commented on #10875
I understand that you want to implement these features with the least amount of complexity possible. I'd do the same if I were you – a simpler implementation and potentially fewer bugs. :)

Please don't forget about the two use cases I mentioned though:
1) Use on OSs without systemd (like Alpine, Artix, Gentoo, Hyperbola, Parabola...)
2) Use on development systems with `podman run -d` (even if sys

[2021-07-09 09:35] vrothberg commented on #10875
I fully sympathize with the desire of enabling auto-updates on non-systemd systems but the cost/benefit ratio is something we have to be very careful about.  I do not have any data to back my theory but I _think_ that systemd deployments are the absolute majority today; at least of users & customers who fund development. It's hard to balance addressing all possible use cases and getting things don

[2021-07-09 10:27] dayjaby opened #10887 "Symlink devices not working"
/kind bug

**Description**

Devices, that are symlinks on the host, are not correctly resolved.

**Steps to reproduce the issue:**

1. Run this udev rule: `SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a8", MODE="0666", GROUP="dialout", SYMLINK+="ublox_rtk"`
2. Run this command in repo (https://github.com/at-wat/ublox-rtcm3): `podman run -it --rm --device

[2021-07-09 10:35] sebastian-philipp opened #10888 "Strage behavior of `python3 -c 'import socket ; print(socket.getfqdn())'` within containers with --net=host"
Hi,

I'm getting some super random hostname, when calling `pyhton -c `import socket ; print(socket.getfqdn())` from contaieners:

My example command looks like so:

[code]

And the results look like so:

|            | --name foo-bar    | --name foo.bar | --name foo        |
|-----------------------|-------------------|----------------|-------------------|
| (omit --hostname)                | seba

[2021-07-09 10:40] dayjaby commented on #10887
One more thing: I ran everything as `sudo`. As a normal user it seems to work.

[2021-07-09 11:04] vrothberg commented on #10888
Thanks for reaching out, @sebastian-philipp!

@Luap99 do you know what's going on?

[2021-07-09 11:14] Luap99 commented on #10888
@sebastian-philipp Could you clarify if you have the issue with `--net host`, I do not see it in your example command.

[2021-07-09 11:16] rhatdan commented on #10888
I am able to reproduce.  I am guessing this has something to do with DNS.  Are we adding information to DNS about the container, so that other containers can ping.  When the name looks like a host(Has a "." in it) then python discovers the name?

[2021-07-09 11:17] rhatdan commented on #10888
[code]

[2021-07-09 11:30] sebastian-philipp commented on #10888
Right, an example of the commands I run was:

[code]

Right, But that only works from within the container. We need an fqdn that is also resolvable form outside.

That's my hypothesis right now. It seems as if `socket.getfqdn()` uses the hostname with dots in it and if the container name contains dots, it's uses as the FQDN of the host. https://github.com/ceph/ceph/pull/42242 is an attempt to find

[2021-07-09 11:38] Luap99 commented on #10888
AFAIK this information is usually gathered from /etc/hostname. Podman will write the container hostname to it. If --hostname is omitted it uses the container ID or with `--net host` it will use the hostname from the host.
`socket.getfqdn()` does not seem to be happy when the hostname when there is not dot in the name. I think it will fall back to reading entries from /etc/hosts and it will take th

[2021-07-09 11:41] Luap99 commented on #10888
see https://docs.python.org/3/library/socket.html#socket.getfqdn

[2021-07-09 11:43] sebastian-philipp commented on #10888
Sigh. thanks for the help.

[2021-07-09 11:43] #10888 closed

[2021-07-09 11:54] rugk commented on #10373
Duplicate of https://github.com/containers/podman/issues/7511 (?)

[2021-07-09 12:02] rugk opened #10889 "Why is IPv6 disabled for rootless/slirp4netns containers?"
[The man page](https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--networkmode---net) says:

I interpret that as such, that IPv6 is disabled by default and thus containers/ports bound can only be reached via IPv4. Is that true?

If so, why is that so? Given [various](https://ipv6.watch/) [initiatives](https://ipv4flagday.net/) to [finally get to the](https://ww

[2021-07-09 12:07] lukasbestle commented on #10875
Was that last discussion you had in January 2020 in a public GitHub issue somewhere? I'm interested in the previous thoughts on this.

If you have a link at hand or can tell me what to search for, that would be a huge help.

[2021-07-09 12:20] rugk commented on #10878
@Luap99 Oh thanks `10.0.2.2` should equal the new `host.containers.internal` I guess, so we can just use that domain name instead?

Opened PR https://github.com/containers/podman/pull/10892 for that…

[2021-07-09 12:21] vrothberg commented on #10875
There is no public record of the conversation when we sat together at https://www.devconf.info/cz/.  The conversation was similar to the one here:

* `container update` would be the best solution but it's challenging and linked to a lot of work
* Using the `CreateCommand` only works for containers that were created via `podman`.  It doesn't include containers created via the REST API.
* Hence, we

[2021-07-09 12:41] rhatdan commented on #10864
The issue is the outer container has setup /proc with certain read/only mounts and mounted over parts of /proc,  When running podman container inside it tries to modify /proc mount and the kernel does not allow this. So you can either do an --unmask=/proc/* or --unmask=all on the outside container. or volume mount -v /proc:/proc on the inside container. (I believe).

@giuseppe WDYT?

[2021-07-09 12:46] rhatdan commented on #10876
I am not sure how podman figures out what the right thing to do would be here?

[2021-07-09 13:04] rhatdan commented on #7360
Seeing this is blocking vscode, it becomes more important.

[2021-07-09 13:20] lukasbestle commented on #10875
I see, thanks.

Are containers created via the REST API the only limitation at the moment, or are there other potential pitfalls? I'm asking so I know what I'd get myself into if I started working on this. 😀

For containers created via Podman, fetching the `CreateCommand` and reproducing it would work, right?

[2021-07-09 13:30] vrothberg commented on #10875
I don't think that the `CreateCommand` should be used for `update`; it should be possible to "update" all containers, so we had to look at the container configs and see if we can create/clone another from there.

`CreateCommand` was introduced for `generate systemd` where we needed the exacts arguments on the from the CLI.

@mheon is probably able to give the best estimate what needs to be done to

[2021-07-09 13:39] mheon commented on #10875
It's a lot easier since Specgen came around - not trivial by any means, but the core of it (container config -> specgen reverse generation) is probably three days to a week of engineering time. I'd like to get at least a basic form of `podman container clone` done sometime this year, so it is on the horizon, but no firm timeframe yet.

[2021-07-09 13:45] vrothberg commented on #10840
Closing as the fixes need to go hand in hand with the ones for #10832.  Let's continue the conversation over there.

[2021-07-09 13:45] #10840 closed

[2021-07-09 13:52] vrothberg commented on #10832
Summary from some further investigation:

Podman's definition of dangling so far was "untagged".  Docker's definition was "untagged without children".  Since Podman aims to be compatible, this should be fixed which is fairly easy.

Looking at the initial issue/reproducer, I think there's some more thinking required:
[code]
Now, let's have a look at the images:
[code]

As @mtrmac mentioned above.

[2021-07-09 13:57] rugk commented on #10882
Okay done, thanks. Opened https://github.com/containers/podman-compose/issues/314

[2021-07-09 13:57] #10882 closed

[2021-07-09 14:12] rhatdan commented on #10593
@iUnknwn is this still an issue?

[2021-07-09 14:13] rugk commented on #10884
_Very_ worth noting to also document these two things and whatever quirks are used. Especially for a webserver (as I use it), the performance thing actually _matters_ (especially if you use "multiple" reverse-proxies or so…).
So I would be very interested in hearing that…

--

Unrelated: Could someone add the `kind/documentation` tag, please? (I messed up with the bot I know :sweat_smile: )

[2021-07-09 14:17] rhatdan commented on #10885
Can you make sure crun or runc are fully updated?
[code]
Or
[code]

[2021-07-09 14:18] AkihiroSuda commented on #10889
Probably safe to enable v6 by default, but not massively tested as v4 and there might be some vulns

[2021-07-09 14:22] rugk commented on #10884
Do I understand this correctly that the new method is `rootlesskit` fopr rootless containers, and the old one was `slirp4netns`?
If yes, then [the doc is outdated here too](https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--networkmode---net), as it says:

It's then not the default anymore, as far as I get that.

[2021-07-09 14:23] rhatdan commented on #9390
@Giszmo How did you get the Podman that you are using?  I would figure most naive users get their Podman from a distribution?  If a distribution gave you a version without a configured registry, then I could see this as a problem.

If you just grabbed the static version, then you have a point, but there are lots of config files that we need that are not shipped with a static version.

[2021-07-09 14:33] rhatdan commented on #10888
Nice diagnosis @Luap99

[2021-07-09 14:40] rhatdan commented on #10887
As a normal user we are only volume (bind) mounting the device from the host in.

In rootfull mode we actually attempt to create the device.

I just tried the following.
[code]
And it seemed to work.

Does this test work for you?

[2021-07-09 14:51] Enchufa2 commented on #10840
Perfect, thanks for looking into this!

[2021-07-09 14:57] Enchufa2 commented on #10832
The reproducer is quite silly. :) I don't think any user cares about an `ENV` layer that takes literally no time to rebuild. But if a layer that makes some package installations is removed, _that_ is a problem.

[2021-07-09 14:58] mtrmac commented on #10832
Podman’s parent/child heuristic IIRC does try to pair images with the same top layer using history entries. Is that completely broken, or is that only not working in the case of images with no layers at all? (I honestly thought that it isn’t even possible to construct an image with no layers.) If it’s the latter, that looks like something that should be possible to fix without that much effort.

[2021-07-09 15:05] rhatdan commented on #10889
This should probably be done in containers.conf then.  That way users could have  a way to customize.

[2021-07-09 15:10] vrothberg commented on #10832
The latter.  The images do not have any (top) layer, so they cannot be matched.

Can you elaborate on that?  I had a thought (but didn't check if it would be correct) to do the history checks on all "empty" images.

Note that images and layers are conceptually different. So an image object can be removed while its layers remain in the storage.

[2021-07-09 15:14] lukasbestle commented on #10875
OK, thanks for the insights.

I think I will go the scripting route then until there's a full solution in Podman. In case I manage to build a working script, I will link it here.

[2021-07-09 15:19] baude commented on #10886
well, we could nuke all the cni configuration files ... but that won't help the iptables stuff.

[2021-07-09 15:19] mtrmac commented on #10832
Basically that. If we right now match a.topLayer == b.topLayer || a.topID == b.topLayer.Parent, and treat any `""` as “no match”, we can just have `""` match `""` (but not look for `"".Parent`, of course).

[2021-07-09 15:20] mtrmac commented on #10832
BTW we should also match a single-layer image against a possible parent with no layers.

[2021-07-09 15:23] baude commented on #10876
is the problem here that c/storage needs a file lock but the filesystem is 100% full?

[2021-07-09 15:29] vrothberg commented on #10875
That is great news, thanks @mheon.

Once a `container update` is working, it would be fairly easy to update them in `auto-update` _alongside_ the ones running inside a systemd unit.

[2021-07-09 15:29] vrothberg commented on #10875
Thank you, @lukasbestle !

[2021-07-09 15:44] rhatdan commented on #10776
This should fix the problem,  you can grab it and add tests, if you want.
[code]

[2021-07-09 17:40] stewartadam commented on #10886
This is what I used to delete the lingering iptables rules - but this shouldn't be necessary from an end-user perspective. IMO, podman should know which rules it created and be able to clean them up without the user having to have knowledge of podman internals and how to reset the other components it has side-effects on.

Please do! I recognize this delineation between podman and CNI makes cleanup

[2021-07-09 17:56] mheon commented on #10886
For deleting CNI configuration files - I'm very reluctant because we don't know which ones Podman made. On a mixed-use system, this could cause `podman system reset` to wipe config files in use by CRI-O/Buildah or another CNI consumer, rendering them unable to start containers. Maybe we could only delete the ones with Podman-specific metadata fields added (labels, maybe) added?

[2021-07-09 18:04] #10795 closed

[2021-07-09 18:34] rhatdan commented on #10269
@rugk Are you still seeing this issue?

[2021-07-09 18:35] rhatdan commented on #10275
@eriksjolund interested in opening a PR for this?

[2021-07-09 18:42] stewartadam commented on #10886
That would certainly help for cases like containers/dnsname#54 where a bug in the plugin leaves behind broken configs after podman execution!

[2021-07-09 19:19] rugk commented on #10269
I have not seen it again so far.

[2021-07-09 19:21] vikas-goel commented on #10273
Hi guys (@mheon , @rhatdan),
Is podman 3.2.2 package going to be available for Centos 8?

[2021-07-09 19:29] baude commented on #6480
I'll take it ....

[2021-07-09 19:35] TAK-YON commented on #10885
[code]

seems the only difference from your version strings is that i'm on stable and you're on a release candidate.
i just tried to do an update and there isn't any updates to do.

[2021-07-09 19:35] baude commented on #10886
@Matt Heon ***@***.***> I'm starting top think this feature would be
more implementable in the future when network stack changes have been made,
which is why I labelled it to Podman 4.

On Fri, Jul 9, 2021 at 12:56 PM Matthew Heon ***@***.***>
wrote:

[2021-07-09 19:43] mheon commented on #10273
8, or Stream 8? It ought to be in Stream 8 already. I don't know whether non-Stream 8 will update to 8.4.x before it EOLs, but if it does it will include this.

[2021-07-09 19:46] vikas-goel commented on #10273
Yes, Stream-8. The latest version there is 3.1.0.

http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/Packages/

Am I looking at wrong location?

[2021-07-09 20:06] dayjaby commented on #10887
Yes, this works. And appearently in my case above now as well. No idea, what I did wrong in the beginning..thanks for your help :)

[2021-07-09 20:06] #10887 closed

[2021-07-09 20:24] rhatdan commented on #10269
Ok I am going to close until we can get a reproducer, reopen if it happens again.

[2021-07-09 20:24] #10269 closed

[2021-07-09 20:27] rhatdan commented on #10360
I would prefer --depend over recurse.

[2021-07-09 20:28] rhatdan commented on #10374
@brauner did you ever make any progress on this?

[2021-07-09 20:30] rhatdan commented on #10379
@cdoern At some point might want to look at this.

[2021-07-09 20:31] rhatdan commented on #10380
We published a blog on how to do this.

https://www.redhat.com/sysadmin/podman-inside-kubernetes

[2021-07-09 20:31] #10380 closed

[2021-07-09 20:33] rhatdan commented on #10392
I don't think this is something we want to do.  I think this is something administrators would need to manage.

[2021-07-09 20:33] #10392 closed

[2021-07-09 20:33] #10394 closed

[2021-07-09 20:34] rhatdan commented on #10251
@mtrmac @vrothberg PTAL

[2021-07-09 20:39] cdoern commented on #10379
@rhatdan yeah this looks cool! also want to give that buildah issue a try since I haven't worked on anything there yet,

[2021-07-09 20:41] rhatdan commented on #10133
You are not allowed to mount unless you do a --cap-add sys_admin

[2021-07-09 20:50] mtrmac commented on #10251
Well, `--list-tags` is not a search at all, so it’s not all that relevant that that one doesn’t fail.

WRT accepting basic auth but not a token, that’s surprising but I guess possible.
- Is there any official documentation to the effect that this is intentional and not just a (temporary?) bug? It wouldn’t be nice to send basic auth credentials to a registry when the whole point of dealing with tok

[2021-07-09 22:29] KCSesh opened #10897 "Open questions on limiting resources of a running container. Total memory and total disk usage."
**Description**

This is more of some open question on functionality that I haven't been able to find good answers for.

By default podman creates `tmpfs` mounts like:

[code]

1. Does setting the `--memory` runtime option limit what can be written to these mount points as well?
2. Is a `tmpfs Volume` additional memory the container can use? Or will it also abide by the  `--memory` limit?
  i.e. i

[2021-07-09 22:51] brauner commented on #10374
Yes, I have indeed. My plan is to get it into shape for either next merge window or the one after that.

[2021-07-10 01:13] vikas-goel commented on #10264
Hello @rhatdan ,

Would https://github.com/containers/podman/pull/9911 fix this issue?

The latest podman RPM is not available for Centos  Stream 8. So, I am unable to verify it.

[2021-07-10 03:12] Giszmo commented on #9390
I run podman on my Ubuntu 20.04. So if others have the same issue, Ubuntu should be poked. I'm fine with @vrothberg's config I guess. Thanks.

[2021-07-10 03:20] mheon commented on #10319
Oops, looks like this got forgotten. I'll take it.

[2021-07-10 09:07] mtrmac commented on #10057
That sounds unlikely; AFAIK c/image’s copy never writes errors to any output, only progress information. This is almost certainly https://github.com/containers/podman/blob/5b2585f5e91ca148f068cefa647c23f8b1ade622/libpod/image/pull.go#L351 (note the two-space prefix added by `cleanErrorMessage`).

It seems that’s already been removed in libimage.

--

Compare https://github.com/containers/image/iss

[2021-07-10 09:13] mtrmac commented on #9619
(Also copied from #10057:)

That sounds unlikely; AFAIK c/image’s copy never writes errors to any output, only progress information. This is almost certainly https://github.com/containers/podman/blob/5b2585f5e91ca148f068cefa647c23f8b1ade622/libpod/image/pull.go#L351 (note the two-space prefix added by `cleanErrorMessage`).

It seems that’s already been removed in libimage.

--

Compare https://git

[2021-07-10 09:20] mtrmac commented on #9619
And a self-reply…

Ah, the original comment was talking about the _name_, while I was looking at the _error_. The trouble with that is that `copy.Image` must let the user know whether it’s the source or the destination that was failing, and “error reading manifest latest in $name” actually reports a specific mirror.

Compare https://github.com/containers/image/pull/1240 , which has also changed th

[2021-07-10 10:31] #10859 closed

[2021-07-10 10:36] rhatdan commented on #9390
Where did you get the Podman from?  It looks like it did not pull in containers-common which should have the registries.conf settings.

[2021-07-10 10:58] rhatdan commented on #9619
[code]
Looking at this error, I see three stutters:

1 Error: Error
2. initializing source docker://registry.fedoraproject.org/foobar:latest: Error reading manifest latest in registry.fedoraproject.org/foobar: manifest
3. manifest unknown: manifest unknown

Number `1` Is fixed in C/I but not merged into Podman yet.
Should `2` be fixed in Podman then?  Just don't add the `initializing source ...` w

[2021-07-10 11:06] rhatdan commented on #10273
@jnovy @lsm5 PTAL?

I think once we build a podman 3.2 for RHEL it will show up in Centos Stream.  Perhaps we have not done this yet. Centos 8 will get it after RHEL8.5 is released. (Likely Podman 3.3)

[2021-07-10 11:11] rhatdan commented on #10897
tmpfs mounts follow the rules of the lesser of MAX Size, and 50% of available memory.

If you set --memory 50mb, then the tmpfs with 100mb set, will still only be allowed to use 25mb. This is a feature of the kernel and cgroups.  BTW, this 25mb is for all tmpfs within the cgroup, not for each.

If you setup project quota on xfs and vfs, you should be able to control quota on the volume mounts.

[2021-07-10 11:15] rhatdan commented on #10264
If the issue is just handling of the command line option, then probably yes.  If the xfs quota handling is broken, then no.

If you setup storage-opt size in storage.conf, does it work?

[2021-07-10 11:22] rhatdan commented on #10885
rpm -q libseccomp
libseccomp-2.5.0-4.fc34.x86_64

@giuseppe thoughts?

[2021-07-10 11:32] mtrmac commented on #9619
2 “error initializing source” is added by `copy.Image`. I guess Podman could strip that part if it were API-visible if it is already adding “Trying to pull”, but that’s not _that_ much of a recognizable special case; “initializing source” may succeed but subsequent I/O may fail, and it’s generally necessary to report _what_ failed.

2 “Initializing source $repo:$tag” vs. “reading manifest $tag in

[2021-07-10 11:42] srcshelton commented on #10876
I guess it's a case of - if we know we're wanting to remove objects - trying to free up space before writing anything?

For a delete operation, the process could even try to take a lock but make any -ENOSPC error non-fatal, or have a `--no-lock` option to perform a slightly unsafe deletion if necessary?

[2021-07-10 12:00] rhatdan commented on #9619
I don't see the inializing source ... versus reading manifest to be relevant to the user.  Either one would tell the user enough to know that the image failed to pull.  I would rather bury the information at debug level then to show something ugly like this to the user.

[code]

[2021-07-10 12:03] giuseppe commented on #10885
At least runc-1.0-rc95 is needed

[2021-07-10 12:05] srcshelton commented on #10392
To confirm my understanding, though, you're saying that `prune` can never be a safe operation if there's any chance of additionalimagestores being built-off, since images are neither linked to non-primary dependencies nor are the dependencies copied into the primary store on reference?

If this is (broadly) correct then should we consider an enhancement whereby non-primary images referenced by a n

[2021-07-10 12:12] rhatdan commented on #10392
No I don't believe we should. I think we should treat this the same way the kernel treats overlay, if the underlying storage is modified then what happens in the upper is undefined.  It would be interesting to see how Podman would react if an dependent image is removed.  Would it attempt to pull it again from a registry if it could?

[2021-07-10 13:01] vikas-goel commented on #10264
When I set ‘size’ in ‘[storage.options]’ section (undocumented), then it works.

[2021-07-10 13:11] rhatdan commented on #10264
Then yes #9911  should fix this.

[2021-07-10 13:13] rhatdan commented on #10897
BTW Podman by default does NOT create tmpfs on /run, /var/tmp and /tmp. This only happens when running in systemd mode.  It does mount on...

[code]

[2021-07-10 13:14] #10897 closed

[2021-07-10 13:18] rhatdan commented on #10878
I think this issue is fixed, reopen if I am mistaken, or open a new issue.
[code]

[2021-07-10 13:18] #10878 closed

[2021-07-10 13:21] rhatdan commented on #10863
@vrothberg has this been back ported?

[2021-07-10 13:31] vrothberg commented on #10863
Yes, fixes are in the main and the v3.2 branch (not yet released).

[2021-07-10 13:31] #10863 closed

[2021-07-10 16:58] Panke opened #10898 "`podman port --all` does not print port mappings of pod"
/kind bug

**Description**

`podman port --all` does not show port bindings of pod

[code]

**Steps to reproduce the issue:**

1. Create a Pod with a port mapping

2. Show all mapped ports with `podman pod --all`

`podman pod --all` does not show anything, but `podman inspect` does show the mapping
[code]

**Describe the results you received:**
No port mappings returned by `podman port`

**Describ

[2021-07-10 19:09] TAK-YON commented on #10885
Updated and worked, thanks.

[2021-07-10 19:09] #10885 closed

[2021-07-10 22:25] Giszmo commented on #9390
@rhatdan:

[code]

what exactly should I check?

[2021-07-11 01:03] iUnknwn commented on #10593
@rhatdan I assume so? But the latest podman in Centos Stream 8 is still 3.1.0-dev (built Mar 26, 2021).

Do you think it will behave differently in a later podman version? I'm happy to see if a new package fixes the problem (provided I can install/revert without too much disruption).

[2021-07-11 06:48] vikas-goel commented on #10262
@mheon ,
I looked at the code for fixing the issue. Would the following two patches be good?

1. containers/common
[code]

2. container/podman
[code]

I'm unable create branches for these repos. How can I contribute to this issue?

[2021-07-11 10:36] rhatdan commented on #9390
I don't know apt, but this looks like containers-common is installed, did it come with a registries.conf file?

@lsm5 PTAL

[2021-07-11 10:38] rhatdan commented on #10587
PR still has not merged, because of one error failure.  And I have no idea why.

[2021-07-11 10:53] rhatdan commented on #10593
I have no idea if this problem is still an issue.

[2021-07-11 10:56] rhatdan commented on #10262
Why can't you create branches for these repos?

[2021-07-11 11:17] rhatdan commented on #10463
@Luap99 @mheon PTAL

[2021-07-11 11:24] rhatdan commented on #10160
[code]
The question is why is this failing,  I don't see this as a buildah issue,unless something is happening in the travis environment to cause this to fail.

Running this locally works fine, so we need more reproducer on why this fails in travis.

[2021-07-11 11:28] rhatdan commented on #9930
Since we never heard back, I am going to assume yes, Please reopen if I am mistaken.

[2021-07-11 11:28] #9930 closed

[2021-07-11 11:32] rhatdan commented on #9890
Since this is not supported by Docker, we should not support it in Podman remote build.
[code]

[2021-07-11 11:32] #9890 closed

[2021-07-11 11:33] rhatdan commented on #9597
@mheon PTAL

[2021-07-11 11:34] rhatdan commented on #8993
Looks like a bunch of fixes have merged, I am closing reopen if more need to be fixed.

[2021-07-11 11:34] #8993 closed

[2021-07-11 11:36] rhatdan commented on #9229
Still waiting for @jwhonce comments.

[2021-07-11 11:37] rhatdan commented on #8432
No response so closing.

[2021-07-11 11:37] #8432 closed

[2021-07-11 11:37] rhatdan commented on #8136
I would love to see this move forward.

[2021-07-11 15:05] Sanqui commented on #4900
Is there a recommended procedure to restore access to a container hit by this issue?  Is the best workaround still editing the binary file `bolt_state.db` by hand?

[2021-07-11 17:23] Giszmo commented on #9390
The `podman` package did come with a `registries.conf` ... in `/usr/share/doc/podman/examples/registries.conf`.

`podman` depends on `golang-github-containers-common` which comes with:

[code]

but those define no such defaults:

[code]

[2021-07-11 17:32] mheon commented on #10262
The patch also won't work - it's happening too soon. Initialization *must* happen after the container is added to the state.

[2021-07-11 17:58] rhatdan commented on #9390
Right this is a packaging issue with Ubuntu.  It should ship /etc/containers/registries.comf

[2021-07-11 18:44] vikas-goel commented on #10262
GitHub does not show me option to create branch when I type a unique name in the branch text field.

![image](https://user-images.githubusercontent.com/12242590/125206672-54e35880-e23d-11eb-919f-d64598e1756b.png)

[2021-07-11 18:49] vikas-goel commented on #10262
Thanks @mheon for the review and comment.

Not sure what "happening to soon" mean. I changed the logic to just prepare container instead of initializing so that there is no init event sent. It would also avoid the "executable file not found in" error as observed in the issue. With this change, I guess we should be okay calling prepare before adding container to state. Let me know if that's not the

[2021-07-11 18:57] mheon commented on #10262
This does not fix the core problem of the earlier patch  - the prepare is happening *before* the container is added to the state, so configuration information is not being saved to the DB. The old init() code was fine but it must be more further down in the function.

[2021-07-11 19:00] vikas-goel commented on #10262
I see. Thanks for the quick one. I am moving the call after adding the container to the state. I am still keeping it to _prepare()_ so as to avoid the "executable file not found" error.
[code]

Is this okay?

[2021-07-11 20:50] eriksjolund commented on #10275
@rhatdan No, not at the moment. (Maybe in the future but there other things that attract my interest more for the moment being)

Regarding the user interface, I think this command-line option only makes sense combined with `--new`.

There seems to be two alternatives:

__Alternative 1:__ Trigger a failure and provide an informative error message whenever `--new` is missing.
__Alternative 2:__ Let

[2021-07-11 20:50] vikas-goel commented on #10262
Could someone set the “In Progress” label and assign this to me?

[2021-07-11 22:02] iUnknwn commented on #10593
It's still an issue running an up-to-date Centos Stream system. The system was restarted yesterday to apply updates, and I just ran `systemctl list-units --user --failed`:

![image](https://user-images.githubusercontent.com/1129122/125211104-d4caec00-e258-11eb-942d-a5e56cebef0a.png)

Same error as before:
![image](https://user-images.githubusercontent.com/1129122/125211109-e01e1780-e258-11eb-898c-

[2021-07-12 01:01] DevDorrejo commented on #10770
hello, what is the temporal solution for this?, like @Luap99 said, i was trying to find the config file to use $XDG_RUNTIME_DIR/podman/docker.sock, but not look and can't use podman.

[2021-07-12 02:21] faitz opened #10900 "Podman remote windows cannot mount volume: invalid container path "/data", must be an absolute path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot create a container with mounted volume, podman is validating destination path using absolute path, on UNIX system absolute path always starts with a slash `/`, but on windows, it started with a drive letter. so podman always give an error `Error: invalid container path "/data", must be

[2021-07-12 03:55] mheon commented on #10900
Theory: we're probably validating client-side, using the Go filepath library, which is using Windows path standards instead of Linux, so expecting drive letters and backslash separators. Easiest solution is probably to move the validation to the server.

[2021-07-12 09:17] sachinkaushik commented on #10864
HI @rhatdan ,

I tried above things but still no luck...

**error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: mount `/proc` to `/proc`: Operation not permitted**

I think there is problem with crun, it doesn't have permission to mount proc.

We have below dockerfile and trying to build container image of it.  But step 5 <RUN pip

[2021-07-12 09:35] LucaFulchir opened #10902 "can't start container: rootless, systemd, uidmap"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Trying to run a rootless, unprivileged fedora container with systemd and uidmap in podman.
System on a raspberry pi4, nixos aarch64, with kernel `5.10.17`, podman `3.2.2`, cgroup2 only, *no* selinux

The container fails to start because it can not create the proper structure in `/sys/fs/cgroup

[2021-07-12 11:38] edsantiago commented on #9597
I haven't seen this since the initial issue. Feel free to close.

[2021-07-12 12:04] flouthoc commented on #10864
@sachinkaushik I tried recreating your use-case `podman build -t img-python .` with one of your repos https://github.com/sachinkaushik/hello-world-python.git inside a rootful privileged podman container started using `sudo podman run --privileged quay.io/podman/stable sleep 100000000` but everything working completely fine for me. Sharing the complete output of build inside a container https://pas

[2021-07-12 12:19] flouthoc commented on #10864
Same case for rootless privileged container started using `podman run --privileged quay.io/podman/stable sleep 100000000`. I am unable to reproduce this case everything is working just fine for me.

Steps i did
 * Start a privileged container using `podman run --privileged quay.io/podman/stable sleep 100000000`
 * Exec into container `podman exec -it <name> bash`
 * Install git `sudo dnf install g

[2021-07-12 12:24] edsantiago commented on #10154
[Still happening](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4597575966785536/html/bud-remote-fedora-34-root-host.log.html)

[2021-07-12 12:37] jensklose opened #10904 "Release v3.2.2 is still missing the binaries"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The github release page only shows 2 assets with packed sources.

**Steps to reproduce the issue:**

1. Open browser

2. Navigate to https://github.com/containers/podman/releases/tag/v3.2.2

**Describe the results you expected:**

There should be more assets with binary builds for different o

[2021-07-12 12:49] zv0n commented on #9661
Hi, I've updated conmon to 2.0.27 and the issue persists.

`XDG_RUNTIME_DIR="/test/dir/podman/runtime" podman --root=/test/dir/podman run -it ubuntu /bin/bash`

results in: `Error: failed to connect to container's attach socket: /test/dir/podman/runtime/libpod/tmp/socket/460fb287adb6629610497aea213c97f0fe1d5fa6001f9374c7a89ad4773e7719/attach: no such file or directory`

but

`XDG_RUNTIME_DIR="/tes

[2021-07-12 13:12] cdoern commented on #10898
@mheon have a theory for this one, could be because infra is where the port assignments are, but infra is not running so `runtime.state.AllContainers` won't return it?

[2021-07-12 13:17] mheon commented on #10898
This seems like NOTABUG to me? The description of `port --all` says "all running containers". There are no running containers in the pod. If there were, it would be included in the results?

[2021-07-12 13:21] cdoern commented on #10898
Good point @mheon, but the port mappings of a pod are assigned to infra so should there be a way with `port` to output those as well?

[2021-07-12 13:25] mheon commented on #10898
Why? `port --all` will pick up the infra container. What's more, because of the way port sharing, we will also show that every container in the pod has these ports. Example, for two containers in a port that forwards ports 8080 and 8090:
[code]

We're showing both containers in the pod as owning every port forwarded. This seems more than sufficient.

[2021-07-12 13:27] andrescodas opened #10906 "Unexpected different behavior between rootless and root podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. **this works**: podman run --rm -t ubuntu:bionic bash -c "apt update && apt install -y  avahi-daemon" > log.txt
2. **this fails**: sudo podman run --rm -t ubuntu:bionic bash -c "apt update && apt install -y avahi-daemon" > sudo_log.txt

**Describe the res

[2021-07-12 13:27] cdoern commented on #10898
Ahhhh okay, I didn't see that the containers in the pod pick up the port assignments like this I just tried `--port all` before adding a container, this looks good to me as is.

[2021-07-12 13:29] cdoern commented on #10898
@Panke seems like you need to add a container to the pod before `podman port --all` will display anything as infra is a non-running container. Closing this as it is not a bug, feel free to re-open with any questions about why this functions the way it does.

[2021-07-12 13:29] #10898 closed

[2021-07-12 13:31] mheon commented on #10906
I'm going to assume the failure has something to do with the lack of a user namespace for the root container, given the failure looks like a PAM/adduser one. Can you try adding `--userns=auto` to the root command, to see if that resolves things? I also note that the version of Podman you're using is somewhat old - can you test with a newer version?

[2021-07-12 13:32] mheon commented on #10898
You don't need to add a container - I expect that a `podman pod start` on a fresh pod would also do the job.

[2021-07-12 13:39] mheon commented on #10902
That uid/gid map does not look usable. You're only allocating a single UID and GID for use in the container - any files and folders not owned by that single UID and GID will be unusable. What are you trying to do such that you need the extra UID/GID map?

Also - can you provide the command you're using to launch the systemd container? That should definitely work as rootless, especially on v2.

[2021-07-12 13:40] andrescodas commented on #10906
I get this error with your suggestion:
[code]
Now I'm running a dnf update on my rhel 8.4, it will upgrade podman to:

[code]

[2021-07-12 13:42] mheon commented on #10906
Ah, that would be the most recent for RHEL.

@giuseppe What are the steps for enabling `--userns=auto`, again?

[2021-07-12 14:08] mheon commented on #10904
Done.

[2021-07-12 14:08] #10904 closed

[2021-07-12 14:21] rhatdan commented on #10262
@vikas-goel I am suggesting you fork the project create a branch and open a PR for MAIN.  Not that you create a branch on the main repo.

[2021-07-12 14:23] rhatdan commented on #10299
No response, closing.

[2021-07-12 14:23] #10299 closed

[2021-07-12 14:24] rhatdan commented on #3761
@dustymabe Does this issue still exist?

[2021-07-12 14:24] #9867 closed

[2021-07-12 14:25] mheon commented on #10770
Does setting the `DOCKER_HOST` environment variable to the path of the Podman socket not work?

[2021-07-12 14:26] rhatdan commented on #3550
@edsantiago @vrothberg @nalind What is the latest on this one?

[2021-07-12 14:26] edsantiago opened #10907 "podman-remote build: complicated .dockerignore bug"
A confusing mix of wildcards in `.dockerignore` does not work the way it should in podman-remote:
[code]
It succeeds, but should not. `podman` (non-remote) and buildah fail with:
[code]

[2021-07-12 14:32] edsantiago opened #10908 "podman-remote build, with .containerignore, should (but does not) skip .dockerignore"
podman and buildah, if they see `.containerignore`, will read it and only it. `podman-remote`, OTOH, will also look for and read `.dockerignore`:
[code]

[2021-07-12 14:41] cevich commented on #10817
I'm back now, started [fresh build of VM images](https://github.com/containers/automation_images/pull/82) for CI, will also update my laptop's F33 and try to reproduce...

[2021-07-12 14:46] LucaFulchir commented on #10902
uhm... `--uidmap` should give the container `65535` uid/gids if I'm reading the manpage right: `--uidmap=container_uid:from_uid:amount`. Did I understand wrong how to use it?

`container_uid` I don't really understand, it's always `0` everywhere I find. Userid for the entrypoint inside the container?
`from_uid` is just the starting point from which to count...
`amount` the number of uid allocated

[2021-07-12 15:00] mheon commented on #10902
I think you're misunderstanding how the `--uidmap` and `--gidmap` flags work with rootless. Rootless containers are already running inside a user namespace, which has a number of UIDs and GIDs allocated to it (the user running Podman plus any UIDs and GIDs they have allocated in /etc/subuid and /etc/subgid). The container's UID and GID maps are subordinate to this - you aren't working with UIDs an

[2021-07-12 15:04] rhatdan commented on #10906
The distribution is supposed to allocate a large range of UIDs within /etc/subuid for containers.

grep containers /etc/subuid
containers:2147483647:2147483648

Auto uses this for finding ranges that it can use.

We should document this in podman run/create man pages.

[2021-07-12 15:11] DevDorrejo commented on #10770
the normal user not have access to this folder.

that's why when rootles /var/run/docker.sock not work, because the link is broken, at the same time (i think) docker-compose wont work, because i run and python give me erro logs with permission denied.

docker-compose up
[code]

[2021-07-12 15:15] mheon commented on #10770
I'm asking whether setting the `DOCKER_HOST` environment variable to point to the *rootless* Podman socket works?

[2021-07-12 15:20] mheon commented on #4900
It ought to be possible to re-create the container by grabbing its create command from `podman inspect`, committing the container to an image, and re-creating using the original command and the new image.

[2021-07-12 15:31] DevDorrejo commented on #10770
no, no work.

[2021-07-12 15:31] baude commented on #10876
@srcshelton we talked about this issue today as a team.  we have some ideas on how to possibly handle this.  it would be helpful to us if you could describe how you get into this situation.  thanks in advance!

[2021-07-12 15:32] mheon commented on #10770
What did you set `DOCKER_HOST` to?

[2021-07-12 15:37] DevDorrejo commented on #10770
**All this from the rootless user point view**

export DOCKER_HOST=/var/run/podman/podman.sock (Permission denied)
export DOCKER_HOST=/var/run/docker.sock
![image](https://user-images.githubusercontent.com/7697566/125315817-7c055d00-e305-11eb-87b4-42942f89dcbd.png)

export DOCKER_HOST=/run/docker.sock
export DOCKER_HOST=/run/podman/podman.sock (Permission denied)
![image](https://user-images.githu

[2021-07-12 15:41] mheon commented on #10770
You need to prefix with `unix://` to indicate this is a path to a Unix socket. I would expect `DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock` to work (with $UID replaced with the UID of the user)

[2021-07-12 15:42] DevDorrejo commented on #10770
This work, i am new on this.

Thanks @mheon

[2021-07-12 15:45] sachinkaushik commented on #10864
HI @flouthoc ,

This is working as rootful container our end also. But when Im running as rootless container then getting below error. This is new error now.

**STEP 5: RUN pip install -r requirements.txt
error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: newgidmap: gid range [0-4294967295) -> [0-4294967295) not allowed
writing fi

[2021-07-12 15:46] DevDorrejo commented on #10770
but podman, have to create this type of env, when enabling or running the systemd podman.socket

[2021-07-12 15:58] edsantiago commented on #3761
Interesting - I no longer see this issue when using my [reproducer](https://github.com/containers/podman/issues/3761#issuecomment-693556844) (link to 2020-09-16 comment above); I now get `9d0` (the good value) for both.

[2021-07-12 16:02] edsantiago commented on #3550
Issue still present in main @ fe0bb28e68fc8b0870301956482ac7e93ac49fda

[2021-07-12 16:16] LucaFulchir commented on #10902
I put the `--log-level debug` `--uidmap 0:1:65536` failed run here: https://pastebin.com/QKG04nh6

If I avoid using `uidmap`, `gidmap` and `security-opt` it works fine, and the container has full access to the cgroup

I was under the impression that starting multiple containers this way would give the same mapping to all of them.
I was trying to separate all mappings so that even in the case of bu

[2021-07-12 16:23] edsantiago commented on #10825
Another one: [sys podman fedora-33 root host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6687447762337792/html/sys-podman-fedora-33-root-host.log.html) in #10880

[2021-07-12 16:32] umohnani8 commented on #10864
@sachinkaushik have you tried the build with the `--isolation=chroot` flag as the article says? That should fix the permisison denied you are getting for mounting /proc. The chroot isolation helps bypass some of the things that the kernel denies mounting in the default isolation setting. So far builds in a rootless unprivileged container only works with --isolation=chroot.

Another option would be

[2021-07-12 16:53] #10776 closed

[2021-07-12 17:06] dustymabe commented on #3761
extra credit: it would be interesting to find what fixed it (a good git-bisect should do it).

[2021-07-12 17:16] mtrmac commented on #3761
Note that the save/load issue reproducer in https://github.com/containers/podman/issues/3761#issuecomment-693556844 is  not yet known to be exactly the same issue as the original `podman pull` situation.

Valentin’s https://github.com/containers/podman/issues/3761#issuecomment-519978078 looks like a “canonical” reproducer for the original report. (To be extra comprehensive, add some pulls by diges

[2021-07-12 17:41] srcshelton commented on #10876
Nothing _particularly_ out of the ordinary, I don't think - I've been working on and off for just over a year now to migrate the services I run on my machines at home to running in containers.

The main infrastructure server has long been done, and I've turned my attention to some more modest devices: an 8GB 4x2.1GHz Raspberry Pi 4, and a 4GB 4x1GHz AMD Jaguar system running as a router.  Both are

[2021-07-12 18:04] sachinkaushik commented on #10864
@umohnani8 Now im not getting proc mount error. Now there is below error when I'm running as rootless container. I have added subuid and subguid in dockerfile as well, as mentioned in article. and also tried with--isolation=chroot flag as well.

**error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: newgidmap: gid range [0-429496729

[2021-07-12 18:05] rhatdan commented on #10782
I have to revert fix  containers/storage#952

Was this happening on a non systemd system?

[2021-07-12 18:06] vikas-goel commented on #10262
Thank you @rhatdan for the suggestion and assignment.

[2021-07-12 18:16] rhatdan commented on #3761
Discussion of how this was fixed can happen on the closed issue.  :^)

[2021-07-12 18:38] mheon commented on #10902
I think this is expected, since you're effectively eliminating the root user in the rootless user namespace (the user that ran Podman) from the container. Without that user, you don't have ownership of the cgroups in the container (please note that these are namespaced cgroups, not the host's `/sys/fs/cgroup`, as you are on CGroupsv2 + a recent kernel).

I suppose that what you're attempting, UID

[2021-07-12 18:43] mathstuf commented on #10299
I believe this was probably fixed by `podman system migrate` or the like from another issue. I haven't seen it in a while.

[2021-07-12 19:00] mtrmac commented on #10782
I mean, _understanding_ both this and https://github.com/containers/storage/pull/568 is the fulcrum. It’s not yet obvious to me that the revert is definite.

I’ve been fairly vocal in #568 about not caring about an unnamed vaguely-specified environment that motivated that PR. Maybe it doesn’t even exist any more. Maybe this systemd detection code is buggy. Maybe the two issues are an irreconcilabl

[2021-07-12 19:09] mtrmac commented on #3761
Reopening for someone to confirm that this was fixed using the pull-relevant reproducer. (That someone might be me fairly soon, but I don’t like this closed without a positive confirmation.)

[2021-07-12 19:24] edsantiago opened #10912 "Error: readlink: Permission denied: OCI permission denied"
This is one of those flakes that appear at random, in random tests, making it almost impossible for my flake-logger to isolate. Symptom is:
[code]
One interesting thing: I see this (sometimes, not always) with `run -d`, implying that the error happens before detach.

## Podman UserNS support [It] podman --userns=container:CTR
* fedora-34 : int podman fedora-34 rootless host
  * PR #10405
    * [06

[2021-07-12 19:38] edsantiago commented on #10052
Is this where we're tracking `Ncat: No route to host` flakes? If so, here's some more:

## sys: podman networking: port with --userns=keep-id
* fedora-34 : sys podman fedora-34 root host
  * PR #10830
    * [07-01 07:23](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6374339747512320/html/sys-podman-fedora-34-root-host.log.html)
* fedora-34 : sys remot

[2021-07-12 20:40] srcshelton opened #10914 "`podman build` fails with local image as FROM argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman-3.2.2` (`buildah-1.21.0`):

[code]

`podman-3.2.1` (also `buildah-1.21.0`) and prior:

[code]

It appears that `podman-3.2.2` is trying to make a registry request for _any_ `FROM` image, even if prefixed with `localhost/`.

This may be a `buildah` issue - https://github.com/containers

[2021-07-12 20:48] rhatdan commented on #10914
@vrothberg PTAL

[2021-07-12 21:10] mheon commented on #7360
Alright, I know generally what needs to be done here. We need to do a one-sided close on the hijacked connection (client needs to close the write side of the conn, while the read side is left open). Unfortunately, that's not enough - the backend is still not terminating, so I need to get into the HTTP attach code and figure out why it's not terminating.

[2021-07-12 21:17] mheon commented on #7360
Apparently it was a very simple fix. PR in progress.

[2021-07-12 22:12] KCSesh opened #10917 "Podman --rootfs path permissions, with permissions attached to --group-add group while using --uidmap/gidmap."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am attempting to create a container using the `--rootfs` option with unprivileged users.

I am trying to lock down the permissions to the actual rootfs to specific groups.

For example my rootfs path:
`/data/storage/only-group-common/rootfs`

I only want `groupCommon` to have access.
I use

[2021-07-12 22:37] mtrmac commented on #10251
Testing this,
[code]

so it does seem that it would be possible for OAuth2 to work, with an appropriate scope. And that would be a duplicate of https://github.com/containers/image/issues/1225 .

[2021-07-12 23:11] KCSesh commented on #10897
Thanks @rhatdan.

Is this documented anywhere?

Also I will look into project quota, I am not too familiar with it.
I am on an ext4 file system, but it seems there may be options.

Thanks I was not familiar with turning off `systemd` mode until now, thanks for the info!

[2021-07-12 23:56] jonz-secops opened #10918 "permission denied: OCI error unless sudo"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. centos stream 8 EC2 us-west-2

2. install podman from standard repo using @continaer-tools

3. try and run any -it image without sudo

I rebuilt this machine just to try and isolate this issue and address it, I can't find a way to address these OCI errors

[2021-07-13 03:00] vikas-goel commented on #10266
Could someone set the “In Progress” label and assign this to me?

[2021-07-13 05:49] flouthoc commented on #10864
@sachinkaushik Could you please remove the lines from you Containerfile/Dockerfile
[code]
and try

[2021-07-13 05:51] sachinkaushik commented on #10864
@flouthoc first I tried without above lines from dockerfile for rootless container. I was getting below error. Then I tried with above lines but still there was same error.

error running container: error from /usr/bin/crun creating container for [/bin/sh -c pip install -r requirements.txt]: newgidmap: gid range [0-4294967295) -> [0-4294967295) not allowed
writing file /proc/234/gid_map: Invalid a

[2021-07-13 06:17] flouthoc commented on #10864
Could you please share `idmappings` of your podman, you can get that by `podman info`

[2021-07-13 06:20] sachinkaushik commented on #10864
@flouthoc Please find below output of podman info

podman info ::

host:
  arch: amd64
  buildahVersion: 1.21.0
  cgroupControllers: []
  cgroupManager: cgroupfs
  cgroupVersion: v1
  conmon:
    package: conmon-2.0.27-2.fc34.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.27, commit: '
  cpus: 12
  distribution:
    distribution: fedora
    version: "34"
  eventLogger: file
  ho

[2021-07-13 06:40] flouthoc commented on #10864
@sachinkaushik try a smaller range and also add entry for root by adding this to containerfile

[code]

[2021-07-13 07:04] sachinkaushik commented on #10864
@flouthoc I tried after adding above lines in Dockerfile but still same error.

---------------------------------------------------------------------------------------
FROM quay.io/podman/stable:latest

RUN touch /etc/subgid /etc/subuid \
&& chmod g=u /etc/subgid /etc/subuid /etc/passwd \
&& echo root:165536:65536 > /etc/subuid \
&& echo root:165536:65536 > /etc/subgid \
&& echo containers:165536:

[2021-07-13 08:05] appelgriebsch commented on #10885
Have the same issue on my Manjaro system after switching to the testing branch and updating.... versions:
`
runc version 1.0.0
commit: v1.0.0-0-g84113eef
spec: 1.0.2-dev
go: go1.16.5
libseccomp: 2.5.1
`

@TAK-YON: what did you update to make it working?

[2021-07-13 08:09] TAK-YON commented on #10885
@appelgriebsch i updated the runc version to runc-1.0-rc95, like they said.
i'm not sure if the version is in the manjaro repo, but considering its manjaro, probably not

[2021-07-13 08:20] appelgriebsch commented on #10885
but isn't `runc 1.0.0` newer than `runc 1.0-rc95`?

[2021-07-13 08:31] appelgriebsch commented on #10885
UPDATE: looks like on Arch / Manjaro it can be solved by downgrading `container-commons` package. See here: https://github.com/containers/common/issues/631#issuecomment-864778642

[2021-07-13 09:22] vrothberg commented on #10914
I cannot reproduce:
[code]

@srcshelton, if possible, could share the output of `podman images`?  I suspect Podman/Buildah don't find `localhost/gentoo-env:latest` in the local storage.  Only then, they should attempt to pull the image.

[2021-07-13 10:13] LucaFulchir commented on #10902
Sure, I just need to reserve more subuids for that user, that was expected.

Having one user per container feels... Hacky.
There's already problems with autostarting rootless containers for non-logged users, `XDG_RUNTIME_DIR`  and `loginctl enable-linger`

...should I close this ticket and open a ticket for a feature request, like `--security-opt=chown-cgroup` or something? A complete remap sounds

[2021-07-13 12:11] DevDorrejo opened #10920 "[rootful/rootless] Can't setup appwriter compose, because network timeout, resolve"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello, i am trying to setup appwrite using podman compose, but when all the container is up, is giving me errors related to each container can't see each one, timeout or can't get a port.

**Steps to reproduce the issue:**

1. run this script on a rootless user https://pastebin.com/HptZer17,

[2021-07-13 12:24] djnotes opened #10922 "Docker Compose freezing with Podman during up/down"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a project with docker-compose (version 1.29.2), the command freezes and then gives a timeout. Podman socket is active (`systemctl --user status podman.sock` is OK)

1. Start podman socket

2. Run docker-compose up

**Describe the results you received:**

[code]

**Describe the r

[2021-07-13 12:34] DevDorrejo commented on #10920
didn't know that is unrelated to the main proyect, can you give me where i have to post this?

thank you.

[2021-07-13 12:35] baude commented on #10922
docker-compose file?

[2021-07-13 12:52] DevDorrejo commented on #10920
i found, it thanks.

[2021-07-13 12:52] #10920 closed

[2021-07-13 13:14] abustany commented on #10922
same issue here, here is the file:

[code]

[2021-07-13 13:16] abustany commented on #10922
Here are some logs that might be relevant:

[code]

[2021-07-13 13:17] baude commented on #10922
ish! thanks

[2021-07-13 14:27] mheon commented on #10918
`podman info` says this is a v2 system, but I didn't know that Cent Stream shipped that by default. Have you made any cgroups changes to convert the system to v2?

[2021-07-13 14:58] jonz-secops commented on #10918
@mheon I checked the system and it was v2 enabled, so I modified the grub configuration according to <https://www.redhat.com/en/blog/world-domination-cgroups-rhel-8-welcome-cgroups-v2> in order to move to cgroupv2.

[2021-07-13 15:34] ValHeimer opened #10923 "rootless routing issue in pod with ip rule "uidrange""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In a rootless pod, the ip rule "uidrange" does not seem to work properly.

**Steps to reproduce the issue:**

1. In the pod, I have 2 containers:
* One with user root, which will add the routes
* Another with user uid 50000

2. Add routing rules (from inside the pod, in the container with use

[2021-07-13 17:33] cevich commented on #10817
*sigh*...this appears to still be a problem in F33 :crying_cat_face:

[2021-07-13 18:20] rhatdan commented on #10817
Chris what errors are you seeing?  /dev/heap?  Or issues with containers not able to use libc.s0.6?  If the later, I think the issue is the labeling of the underlying content for rootless containers?

[2021-07-13 18:37] rhatdan commented on #10897
[code]

[2021-07-13 18:53] mheon commented on #10918
@giuseppe PTAL

[2021-07-13 19:04] mheon commented on #10923
This really sounds like a slirp4netns issue - Podman itself doesn't really do much here beyond invoke slirp. @AkihiroSuda PTAL

[2021-07-13 19:14] giuseppe commented on #10918
it is an issue with systemd on RHEL: https://bugzilla.redhat.com/show_bug.cgi?id=1897579

A workaround is to not set any pids limit: https://github.com/containers/podman/issues/9410#issuecomment-785840320

I am closing the bug as it is already tracked in bugzilla for the downstream.

[2021-07-13 19:14] #10918 closed

[2021-07-13 19:16] nebulon42 opened #10925 "podman generate systemd fails with "no create command found""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

Rather a question. I wanted to post on the mailing list but moderator did not approve subscription so far. So I'm trying here.

**Description**

I'm using podman 3.2.2. on Ubuntu 20.04 and have a Kubernetes pod manifest on which I ran `podman play kube` (all of the follwing is in root mode). I then wanted to

[2021-07-13 19:59] bentito commented on #7301
Sorry reading this thread through I still don't understand what to do to fix this? Getting the error same as @gth7754125 on May 26 and then can't use podman 3.2.2 for same reason. `podman info` fails with same error.

[2021-07-13 20:15] jonz-secops commented on #9410
@CendioOssman as I do not have a containers.conf in `/etc/containers` would I be okay to cp the file from `/usr/share/containers`

I need to try adding the `pids` modification you have, with the first 3 steps, it's not enough to get it working.

[2021-07-13 20:23] edsantiago opened #10926 "podman network create/rm: please ignore ENOENT"
There's a race condition between the time podman reads its CNI directory and the time it tries to read conflist files. Trivial reproducer (requires two shells):
[code]
Within less than ten seconds, one or the other will spit out:
[code]
...where `xxx` is the name of the other window (e.g. you will see "bbb" in the aaa window and vice-versa).

(Note: even though it says ERRO, it's not an error and

[2021-07-13 20:26] edsantiago commented on #10926
Oops, forgot to xref #9041

[2021-07-13 20:28] rhatdan commented on #10925
@vrothberg PTAL

[2021-07-13 20:36] jonz-secops commented on #9410
I was able to use the containers.conf and copy the commented pids_limit config line into `pids_limit = -` and all was good, thanks!

[2021-07-13 20:41] edsantiago opened #10927 "podman exec into a "-it" container: container create failed (no logs from conmon): EOF"
Common thread seems to be:
[code]

## Podman exec [It] podman exec terminal doesn't hang
* fedora-34 : int podman fedora-34 root container
  * PR #10214
    * [05-05 10:20](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5225885268705280/html/int-podman-fedora-34-root-container.log.html#t--podman-exec-terminal-doesn-t-hang--1)
* fedora-34 : int podman f

[2021-07-14 00:16] ahaid commented on #7301
I'm in the same boat as @bentito . I don't see how to solve this.

[2021-07-14 00:43] PRNDA commented on #8452
nice to hear. can't wait.....

[2021-07-14 01:55] AkihiroSuda commented on #10923
I don't think this command works outside the netns, as the tap0 device isn't visible outside the netns

[2021-07-14 02:18] sachinkaushik commented on #10864
@flouthoc @umohnani8  any update on this?

[2021-07-14 07:07] flouthoc commented on #10864
@sachinkaushik Could you share contents of `/etc/subuid` and `/etc/subgid` from your container.

[2021-07-14 07:10] sachinkaushik commented on #10864
@flouthoc Please find below same.

[podman@cliservice-688f5bb747-4d6nb hello-world-python]$ cat /etc/subuid
**podman:10000:5000**
[podman@cliservice-688f5bb747-4d6nb hello-world-python]$ cat /etc/subgid
**podman:10000:5000**

![subui - subgid](https://user-images.githubusercontent.com/7932463/125578873-b26a5c9b-57dc-4848-803c-19c0ee956f25.PNG)

[2021-07-14 07:18] AkihiroSuda opened #10928 "CNI-in-slirp4netns mode hangs (podman-3.2.2-1.fc34.x86_64; very recent regression)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

CNI-in-slirp4netns mode hangs (podman-3.2.2-1.fc34.x86_64).

Very recent regression, originally reported by @xinydev in https://github.com/kubernetes-sigs/kind/issues/2361

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Hangs up

**Describe the results you

[2021-07-14 07:19] flouthoc commented on #10864
@sachinkaushik does your deployment/pod  spec contains ? Although i am unsure if this is going to help or not.
[code]

[2021-07-14 07:20] AkihiroSuda commented on #10928
The issue is reproducible on the Fedora 34 Vagrantfile above, but can't repro on Ubuntu 21.10 with `git checkout v3.2.2 && make && sudo make install`.

[2021-07-14 07:22] sachinkaushik commented on #10864
@flouthoc  I have below config in deployment/pod spec. Do you want me add **runAsUser: 1000**  ?

securityContext:
            privileged: true

[2021-07-14 07:24] flouthoc commented on #10864
`runAsUser: 10000` but i  am really unsure if this is going to be of any help just give it a try.

[2021-07-14 07:26] sachinkaushik commented on #10864
@flouthoc I added in deployment yaml file, and still same error is there.

![image](https://user-images.githubusercontent.com/7932463/125580649-43fbee17-9e1a-4f21-9f2d-c1565493ec3c.png)

Same Error :

![image](https://user-images.githubusercontent.com/7932463/125580828-0be34cfd-dcf5-4197-8bed-6078bd5c3765.png)

[2021-07-14 07:27] AkihiroSuda commented on #10928
A workaround seems to be run some rootful container before running a rootless container. Probably related to modprobe stuff.

[2021-07-14 07:32] flouthoc commented on #10864
@sachinkaushik user was supposed to be `10000`

[2021-07-14 07:36] sachinkaushik commented on #10864
@flouthoc after adding 10000, getting error **"cannot find name for user ID 10000"**

![image](https://user-images.githubusercontent.com/7932463/125582053-fbe3ccc7-9e5c-4386-a364-c9c71b45b9e9.png)

![image](https://user-images.githubusercontent.com/7932463/125581962-874306f5-75fe-4be4-854d-50bb41fca9c9.png)

[2021-07-14 07:40] flouthoc commented on #10864
and what happens with you set `runAsUser` to `0` ?

[2021-07-14 07:44] sachinkaushik commented on #10864
@flouthoc After setting up runAsUser to 0. It just created a rootful container, And with rootful it is working fine already.

![image](https://user-images.githubusercontent.com/7932463/125583353-f7684e2c-2db5-4105-88f8-0b4d66ce5d2f.png)

[2021-07-14 08:06] flouthoc commented on #10864
@sachinkaushik okay you can remove `runAsUser` from spec if you dont want it to be root or `runAsUser: 1000` and use following command while performing build from inside of container `podman build --security-opt seccomp=unconfined --cap-add all --isolation=chroot -t <image-name> .`

[2021-07-14 08:10] sachinkaushik commented on #10864
@flouthoc I removed that config. And tried with command you mentioned above. Now there is below error.

**error setting capabilities for process: error reading capabilities of current process: open /proc/self/status: permission denied**

![image](https://user-images.githubusercontent.com/7932463/125587035-03fc4472-02d2-431a-9902-65ff91c86f97.png)

[2021-07-14 08:55] vrothberg commented on #10925
Thanks for reaching out, @nebulon42!

I think the article is wrong.  `podman generate systemd` requires the "create command" to be set for container/pod. The create command is, in fact, just the exact command (e.g., "podman run -d fedora top").

Since the create command is not set during "play kube", I fear this has never worked.  `podman generate systemd` only works on containers/pods created on

[2021-07-14 08:55] #10925 closed

[2021-07-14 09:07] Luap99 commented on #10928
Should be already fixed in main https://github.com/containers/podman/pull/10865.
You have to create the `/var/lib/cni` directory on the host as workaround.

[2021-07-14 09:10] AkihiroSuda commented on #10928
Thanks

[2021-07-14 09:10] #10928 closed

[2021-07-14 09:20] Luap99 commented on #10926
The only place where this error is shown is in ocicni and I already fixed it to make it ignore enoent, at least I thought it was fixed with https://github.com/cri-o/ocicni/pull/85.
https://github.com/cri-o/ocicni/blob/5ce5cee5666d097f0a18341868b87eb8c016480d/pkg/ocicni/ocicni.go#L290-L296
Maybe `!os.IsNotExist(err)` does not work correctly in this case.

[2021-07-14 09:24] flouthoc commented on #10864
@sachinkaushik try with `podman build  --userns-gid-map-group podman --userns-uid-map-user podman -t <name> .` and with `podman build --isolation=chroot --userns-gid-map-group podman --userns-uid-map-user podman -t <name> .` also could you please share output for both ?

[2021-07-14 09:27] flouthoc commented on #10864
@rhatdan @umohnani8 could you guys please let me know if the case is documented or ever tried before for using `rootless buildah` within a `rootless container` i think we might have a hit a bug not sure.

[2021-07-14 09:28] sachinkaushik commented on #10864
@flouthoc I tried with both, please find below output of both commands.

 **podman build --userns-gid-map-group podman --userns-uid-map-user podman -t img .**

![image](https://user-images.githubusercontent.com/7932463/125598397-3d0d2d12-a18b-4c7e-8273-d1859f63821e.png)

**podman build --isolation=chroot --userns-gid-map-group podman --userns-uid-map-user podman -t img .**

![image](https://user-i

[2021-07-14 09:32] AkihiroSuda opened #10929 "[Regression in 3.2.0] CNI-in-slirp4netns DNS gets broken when running a rootful container after running a rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

CNI-in-slirp4netns DNS gets broken when running a rootful container after running a rootless container

Regression in v3.2.0.

**Steps to reproduce the issue:**

Terminal 1: Run a rootless container with CNI-in-slirp4netns
[code]

Terminal 2: Run some rootful container
[code]

Terminal 1: DNS

[2021-07-14 09:40] djnotes commented on #10922
Adding to my previous comment, the freezing happens only with rootless Podman. Preceding the commands with sudo fixes the problem. For example, `sudo podman version`, `sudo podman --debug`, and `sudo docker-compose up`

[2021-07-14 09:43] AkihiroSuda commented on #10929
Before running a rootful container:
[code]

After running a rootful container:
[code]

The bind-mount for `/etc/resolv.conf` is broken because systemd-resolved recreates `/etc/resolv.conf` on the host when a network stuff has changed in the host network namespace.

Rootless Podman v3.1.2 and Rootless Docker can work as expected because they don't bind-mount `/etc/resolv/conf` from the host.

[2021-07-14 10:04] djnotes commented on #10922
Despite the aforementioned, Podman Compose still works with Podman.

[2021-07-14 10:05] flouthoc commented on #10864
@sachinkaushik I think this should solve try this , this might look weird but give it a shot this should fix your use case.
Add this to dockerfile which is being used to start container, please make sure values are exact.
[code]
Exec into Pod

#### **Step 1**
`cat /etc/subuid`
Should look like
[code]
#### **Step 2**
`cat /etc/subgid`
should look like
[code]

Try running the build using
[code]
Evey

[2021-07-14 10:08] sachinkaushik commented on #10864
@flouthoc Do I have to use below lines also in containerfile ?

RUN touch /etc/subgid /etc/subuid \
&& chmod g=u /etc/subgid /etc/subuid /etc/passwd \
&& echo root:165536:65536 > /etc/subuid \
&& echo root:165536:65536 > /etc/subgid \
&& echo containers:165536:65536 > /etc/subgid \
&& echo containers:165536:65536 > /etc/subuid \
&& echo podman:10000:5000 > /etc/subuid \
&& echo podman:10000:5000 >

[2021-07-14 10:22] flouthoc commented on #10864
@sachinkaushik not needed you can remove all these and add just
[code]

[2021-07-14 10:27] flouthoc commented on #10864
@sachinkaushik So i was able to reproduce and these steps worked form me so verify every step before performing the build from https://github.com/containers/podman/issues/10864#issuecomment-879764837 and also add `runAsUser:1000` if needed.

[2021-07-14 10:33] sachinkaushik commented on #10864
@flouthoc Yes Thank you...!!!,

This is working for now. But Are we going with approach? I mean passing args while we build container image?

Because this feature will be used by end Users. So we don't want to force them to pass all args while creating container image.

![image](https://user-images.githubusercontent.com/7932463/125606305-ee9490d3-ac7a-4825-b54d-e000d44cfcdd.png)

[2021-07-14 10:35] flouthoc commented on #10864
@sachinkaushik Cheers !!!  :tada: :tada: :rocket: , it should unblock you and there should be no problem with using flags but i still think there is bug. Let @rhatdan and @umohnani8 confirm.

[2021-07-14 10:56] sachinkaushik commented on #10864
@flouthoc Thank you for help and support..!!! :)

We tried without test  user, instead of this we just set range of Ids for podman user only.

&& echo podman:1000:1 > /etc/subuid \
&& echo podman:1000:5000 > /etc/subgid

This is also working just with below same command.

podman build --isolation=chroot --userns-gid-map-group podman --userns-uid-map-user test -t podman .

[2021-07-14 11:03] flouthoc commented on #10864
@sachinkaushik Cheers !!!! Yes [this](https://github.com/containers/podman/issues/10864#issuecomment-879764837) should work with any user including `podman`. Lets wait for @umohnani8  and @rhatdan to have a look then we can decide if we want to close issue by settling on this solution or should seek a better approach or mark this as a bug to be fixed.

[2021-07-14 11:15] edsantiago commented on #10926
@Luap99 maybe my setup doesn't have that vendored in? Can you reproduce on your system?

[2021-07-14 11:22] Luap99 commented on #10929
I cannot reproduce.
Rootless CNI creates a resolv.conf at `$XDG_RUNTIME_DIR/rootless-cni/resolv.conf`. This will be bind mounted to `/etc/resolv.conf`.

I think your example is incorrect because /etc/resolv.conf is a symlink. Not sure why it would work before the root container.
[code]
You can join the correct namespace with `podman unshare --rootless-cni`.

[2021-07-14 11:28] Luap99 commented on #10926
It is vendored in. I just checked the code. CNI does not return a warped error. It uses `fmt.Errorf("error reading %s: %s", filename, err)`. Therefore we cannot check the root cause of this error correctly. I think we have to use string comparison to catch this.

[2021-07-14 12:02] edsantiago opened #10930 "failed to create rootless cni resolv.conf: open .../resolv.conf: no such file or directory"
I think this is now our number-one flake:
[code]
Once this happens, the system is forevermore broken, but further attempts give a different error:
[code]
It's a hard one to track down because once it fails, many other tests fail. I will try to follow up here after our f2f.

## Podman network [It] podman network prune
* fedora-34 : int podman fedora-34 rootless host
  * PR #10905
    * [07-12 09:47

[2021-07-14 15:24] mheon commented on #10917
This sounds expected, because `--group-add` happens very late in the container creation process, and Podman needs access to the rootfs prior to configuring the container user (for example, we need to read /etc/passwd and /etc/group to determine other groups the container user should be added to).

[2021-07-14 16:29] Luap99 commented on #10930
I know what is going on. It is a race between the cleanup and setup for the rootless cni namespace. I think I know how to fix this.

[2021-07-14 16:33] Luap99 commented on #10922
I know how to fix this. I will work on it tomorrow.

[2021-07-14 16:34] nebulon42 commented on #10925
Thank you for clarifying.

[2021-07-14 16:42] djnotes commented on #10922
Seems like restarting user-level podman socket remediates this.

[2021-07-14 17:39] #7360 closed

[2021-07-14 17:43] baude commented on #7360
@mheon beast!

[2021-07-14 18:09] Panke commented on #10898
It doesn't. `podman port --all` does not show the port mapping after `podman pod start` even though the infra container is in state `Running` and has `IsRunning` as true.

It's not an important thing, but violates the POLA principle, IMO. I will just work around it.

[2021-07-14 18:26] srcshelton commented on #10914
To confirm, I can do:

1. Downgrade to `podman-3.2.1`
2. `podman build` succeeds
3. Upgrade to `podman-3.2.2`
4. `podman build`  fails
5. Downgrade to `podman-3.2.1`
6. `podman build`  succeeds again

… on every one of a variety of hosts, some `amd64` and some `arm64`, with no other changes in between.

Working case (with `podman-3.2.1`):

[code]

[code]

Non-working case (with `podman-3.2.2`):

[

[2021-07-14 18:28] srcshelton commented on #10914
Literal `podman images` output (… note all of the non-deleted intermediate stages - unsure whether this is intentional or a different bug):

[code]

[2021-07-14 19:03] srcshelton commented on #10914
(`podman image ls '--format={{.ID}}' localhost/docker.io/gentoo/stage3:arm64` is wrong, but not in a way which should impact this issue - now corrected!)

diff'ing the two outputs above, I notice that we have -

Working:

[code]

Broken:

[code]

… which is slightly surprising, but perhaps indicates some change in this specific area between `3.2.1` and `3.2.2`?

[2021-07-14 19:17] umohnani8 commented on #10864
@sachinkaushik catching up on the conversation here, are you running your pod with privileged set to true or false? Based on the initial issue report, it says you were trying to run builds in an unprivileged pod, but in https://github.com/containers/podman/issues/10864#issuecomment-879667646 you are setting privileged to true, hence running the pod as privileged.

Can you please share your pod yam

[2021-07-14 19:25] edsantiago commented on #10154
Oh well. I was slightly hopeful that #10916 would fix this, but nope.

[2021-07-14 19:43] cevich commented on #10817
Yes the later.  I swore I remember from an IRC convo. a few weeks ago that a package update was coming in a week or so.  I'm fully updated and just rebooted this morning:

[code]

Everything under `.local/share/containers/storage` is type `data_home_t`.  I even tried it under a brand-new user account, same same.

[2021-07-14 19:50] rhatdan commented on #10817
The dma_heap stuff was fixed.

I think the problem we are having is the newer kernel supports rootless overlay.  Before we were relying on fuse_overlay to set the labels correctly on the underlying directories. Now the labels are coming through and SELinux does not like them.

Rootless SELinux expects the labels to match /var/lib/containers/storage.

system_u:object_r:container_var_lib_t:s0

[2021-07-14 19:54] rhatdan commented on #7301
Please open a new issue describing your exact problem.

[2021-07-14 20:36] cevich commented on #10817
Oooooooohhh, that makes sense, I bet you're right.  Trying now...

[2021-07-14 20:45] cevich commented on #10817
No love :sob:

[code]

I think you're onto something though (and it explains why we don't catch this in CI):

[code]

Works fine.

[2021-07-14 20:52] cdoern opened #10933 "Infra Container Enhancement"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`InfraContainerConfig` is not as parallel as it should be to `ContainerConfig`. There should be clear differences as certain attributes do not apply. However, for simplicity and readability I believe we should begin a slight rework of what `InfraContainerConfig` looks like.

Ran into this

[2021-07-14 21:13] cevich opened #10934 "Failed to decode the keys ["secret" "secret.opts"] from "/usr/share/containers/containers.conf""
/kind bug

**Description**

[After building brand-new-fresh VM images for our CI system w/ updates pacakges](https://github.com/containers/automation_images/pull/82), numerous errors/failures are appearing.  In particular on F34 and Ubuntu (log lo, there are many integration test failures and the logs are splattered with this error message.

**Steps to reproduce the issue:**

1. Edit `.cirrus.yml`

[2021-07-14 21:18] cevich commented on #10817
Was there an issue open on that?  [I'm seeing it reproduce on F33 in CI with fresh images.](https://github.com/containers/podman/pull/10829#issuecomment-880199612)

[2021-07-14 21:20] #10906 closed

[2021-07-14 22:43] andrescodas commented on #10906
Hi again...

I'm not sure if this issue was correctly closed by @openshift-merge-robot

I'm confused, and I'm not an expert on the uid mappings.  `grep containers /etc/subuid` returns nothing here and there is also no user `containers` (`grep containers /etc/passwd` returns nothing)

Is this an error specific of my distro (rhel 8.4) and I have to report it somewhere else?  Did I miss to configure

[2021-07-14 23:35] rhatdan commented on #10926
Yes this output looks like it is a logrus.Error.

[2021-07-15 00:30] rhatdan commented on #10898
Does `podman port --all` show ports for non running containers?

[2021-07-15 01:02] sachinkaushik commented on #10864
@umohnani8 Please find below attached POD and Deployment YAML file. I have also attached Containerfile/Dockerfile as well.

Deployment.YAML :

[DEPLOYMENT.txt](https://github.com/containers/podman/files/6819651/DEPLOYMENT.txt)

Pod.YAML:

[POD.txt](https://github.com/containers/podman/files/6819653/POD.txt)

Dockerfile :

[Dockerfile.txt](https://github.com/containers/podman/files/6819661/Dockerfi

[2021-07-15 02:02] edsantiago opened #10935 "podman start --attach, a container created with --rm, does not rm the container"
...at least, not immediately. There's a race condition, and the following test is actually broken:
https://github.com/containers/podman/blob/4c38202bd1f79e0c6dc4d5533e3412a3761192c4/test/e2e/start_test.go#L67-L78

Trivial reproducer:
[code]
Will spit out a few iterations of errors, then break (because `podman container exists` succeeded).

Seems to be root & rootless

[2021-07-15 06:50] AkihiroSuda commented on #10929
[code]

The link points to `../run/systemd/resolve/stub-resolv.conf` before and after.

Before running a rootful container, `/run/systemd/resolve/stub-resolv.conf` is a bind-mounted file with nameserver 10.0.2.3, 8.8.8.8, and 8.8.4.4.
After running a rootful container, the file is unmounted,  so `/run/systemd/resolve/stub-resolv.conf`  on the host with 127.0.0.53 appears.

This seems to create a n

[2021-07-15 07:46] AkihiroSuda commented on #10929
Does this reproduce (or any command that results in removal and recreation of ` /run/systemd/resolve/stub-resolv.conf`)?
[code]

[2021-07-15 08:02] Luap99 commented on #10929
Yes this works.

You are right, `podman unshare nsenter -m -t $(pgrep -u $(id -u) dnsmasq)` should work to join the mount ns.

OK, I understand the problem but how can podman fix this?

[2021-07-15 08:06] #10266 closed

[2021-07-15 08:14] AkihiroSuda commented on #10929
PR: https://github.com/containers/podman/pull/10936

[2021-07-15 08:20] tremes commented on #3234
Hi,
I just encountered this issue after upgrading to Fedora 33. I tried the commands mentioned here (or in https://github.com/containers/podman/blob/main/troubleshooting.md#11-changing-the-location-of-the-graphroot-leads-to-permission-denied) with changing the labels, but it didn't help me. What am I missing pls?

I didn't change anything in my config. The `graphRoot` is `/home/tremes/.local/share

[2021-07-15 08:21] vrothberg commented on #10914
@srcshelton, there was a number of regressions in v3.2 with respect to multi-arch images.  Many fixes haven been backported to the v3.2 branch (https://github.com/containers/podman/tree/v3.2).  Any chance you could compile the v3.2 branch and test?

I am unable to extract a reproducer but maybe the regression has been fixed in the meantime.  We plan to release v3.2.3 soon.

[2021-07-15 08:24] srcshelton commented on #10914
I'll give that branch a try today!

Please note, however, that this issue also occurs on `amd64` hosts, and whilst different architectures are affected, all assemble their own architecture only - I don't think that this is a multi-arch situation?

[2021-07-15 08:32] vrothberg commented on #10934
We saw that coming. @rhatdan, PTAL.

What we need to do is to update the containers.conf in the packages.  We had the same problem in Buildah CI and temporarily removed /usr/share/containers/containers.conf until the issue is resolved.

Background: containers/common is now checking for config errors in containers.conf and warns about them.  The annoying issue now is that we actually had such a con

[2021-07-15 08:33] vrothberg commented on #10934
@lsm5, can you double check that we ship the latest containers.conf (from https://github.com/containers/common/blob/main/pkg/config/containers.conf) in our packages?

From what I could see, RHEL is _not_ impacted.

[2021-07-15 09:47] Ian2020 opened #10938 "SELinux volume permission issues when playing kube file (rootless)"
**Description**

This is a new issue but based on [SELinux volume permission issues when playing kube file (rootless) · Issue #9371 · containers/podman](https://github.com/containers/podman/issues/9371) which does not appear to be fixed.

As noted in that bug the fix seems to be available, just not in the 3.2 branch, see this [comment](https://github.com/containers/podman/issues/9371).

**Steps to

[2021-07-15 10:09] ValHeimer commented on #10923
Do I have to open a new issue in slirp4netns repo ?

all the rules and routes are added from inside the pod (in a container with user root, then i have an other container with user 50000 which try to curl)

[2021-07-15 10:41] vikas-goel commented on #10266
The issue is auto closed but the label still says in progress.

[2021-07-15 10:46] #10929 closed

[2021-07-15 11:05] phhu commented on #3234
...I have the same issue, on Fedora 33 also. Same paths as tremes above; same error "/bin/sh: error while loading shared libraries: libc.so.6: cannot change memory protections" on running `podman run -i -p 8080:80/tcp docker.io/library/httpd`. It works with selinux disabled. Not sure what to do.

`journalctl -b 0 | grep AVC` gives:

AVC avc:  denied  { read } for  pid=16198 comm="httpd-foregroun"

[2021-07-15 11:17] vrothberg commented on #10854
This has been fixed and will be released with Podman v3.2.3 and v3.3.0.

[2021-07-15 11:17] #10854 closed

[2021-07-15 11:21] vrothberg commented on #5898
Work on auto-update has resumed. The output has changed significantly and --dry-run (see https://github.com/containers/podman/pull/10937) gives more flexibility. https://github.com/containers/podman/issues/10875 is tracking the idea of allowing updates without the requirement of running inside a systemd service. Rollbacks are currently being discussed.

I am going to close this issue here.  If the

[2021-07-15 11:21] #5898 closed

[2021-07-15 11:53] edsantiago commented on #10386
[Another one](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5807505197498368/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)

[2021-07-15 12:08] vrothberg commented on #10935
I am taking a look. Thanks for the reproducer, @edsantiago !

[2021-07-15 12:12] vrothberg commented on #10935
Small fix: `s/foo/ls/` in the reproducer.  `foo` will bark immediately as it doesn't exist on the image.

[2021-07-15 12:13] edsantiago commented on #10935
That's the point -- I was going with a reproducer of the exact same e2e test

[2021-07-15 12:15] #10907 closed

[2021-07-15 12:15] #10908 closed

[2021-07-15 12:24] vrothberg commented on #10935
For `ls` I think the race is natural; only `run` will wait for the container to be cleaned up.

My gut feeling is that this should be true for `foo` as well; should podman wait if the command succeeded (if so, for how long)?  But I'll have a look at the git history and see what Docker does.

[2021-07-15 12:39] pendulm commented on #10094
I found the root case of This issue.
My container dir has a wrong group, and  make keep-id container start failed.
[code]

And In this case the logic break in here, I've no idea what is the reason.
![image](https://user-images.githubusercontent.com/282373/125789299-97051f6f-8730-44e8-8ab6-aadda2ab431f.png)

[2021-07-15 12:50] mheon commented on #10094
Can you provide a pointer to where that code lives?

[2021-07-15 12:50] srcshelton commented on #10914
I'm now on:

[code]

... and get slightly different (but still failing) output.  Firstly, without `localhost/` (as has worked always up to and including version `3.2.1`):

[code]

... and with `localhost/`:

[code]

Immediately afterwards:

[code]

The image in question is based on `scratch` and exists solely to propagate shared variables, but I get this output:

[code]

... so running a container

[2021-07-15 12:51] mheon commented on #10898
It does not.

[2021-07-15 12:56] pendulm opened #10941 "podman top not work with userns=keep-id container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.
top with --userns=keep-id container
[code]

2.
top with normal container
[code]
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Ou

[2021-07-15 13:02] vrothberg commented on #10935
Opened https://github.com/containers/podman/pull/10942.

[2021-07-15 13:07] rhatdan commented on #10898
Then I do not see this as a POLA

[2021-07-15 13:10] srcshelton commented on #10914
[code]

[code]

[code]

[2021-07-15 13:12] vrothberg commented on #10914
@srcshelton, can you try with `buildah bud` instead of `podman build`?

Thanks for your cooperation, which is super helpful to isolate the source of the issue.

[2021-07-15 13:30] srcshelton commented on #10914
Looks as if it's a `buildah` problem after all:

[code]

[2021-07-15 13:34] vrothberg commented on #10914
@srcshelton, thanks for checking.  Any chance you can share the reproducer?  Then you're off the hook and I can start running :)

[2021-07-15 13:37] srcshelton commented on #10914
I've not tested this on a host not running Gentoo to begin with (... although the intent is that it should run from anywhere!), but hopefully if you clone https://github.com/srcshelton/docker-gentoo-build then it should be as simple as running `./gentoo-init.docker` as root.

(I have this in `/opt/containers/docker-gentoo-build`, but that shouldn't be hard-coded anywhere)

Let me try this on a non

[2021-07-15 13:40] vrothberg commented on #10941
Thanks for reporting, @pendulm.

That's something we need to fix in `containers/psgo`.  Not yet sure if we need to pass some information from Podman down to psgo or if it can auto-detect.

[2021-07-15 13:46] cevich commented on #10934
Ugh, well, at least out testing is keeping us honest :smirk:

@lsm5 to be very specific here (as it relates to CI):

    * F34 Updates-testing repo.
    * F33 Updates repo.
    * Ubuntu 20.10 & 21.04 Kubik testing repo.

[2021-07-15 13:54] Searge opened #10943 "Using Podman and Docker Compose [official images & user-level]"
/kind bug

## Podman can't find official images

### Description

I have tried to  reproduce steps from @baude article [Using Podman and Docker Compose](https://www.redhat.com/sysadmin/podman-docker-compose).

As you know in the first example, there are `image: gitea/gitea:latest`. But `sudo docker compose up` returns:

[code]

So, I tied to find them with podman:

[code]

Strangest thing, that th

[2021-07-15 14:03] mheon commented on #10266
We only really care about the label for open issues so this is fine.

[2021-07-15 14:34] mheon commented on #10902
I'll tag in @giuseppe and @rhatdan here for further discussion - is a rootless container that does not include the UID/GID of the user launching the container something we can support? I'm worried the cgroup problem is the tip of the iceberg.

[2021-07-15 14:43] bentito opened #10944 ""podman info" fails on MacOS"
/kind bug

**Description**

Fresh upgrade of podman on MacOS via Homebrew fails to execute

**Steps to reproduce the issue:**

1. `brew install podman` (or `brew upgrade podman` if already installed via brew)

2. type `podman info`

**Describe the results you received:**

[code]

**Describe the results you expected:**
Output of info about podman system. Also, this is same result for other basic op

[2021-07-15 14:43] bentito commented on #7301
done: https://github.com/containers/podman/issues/10944

[2021-07-15 14:44] mheon commented on #10943
The first issue sounds like a potential registries.conf issue - can you provide a `podman info` as root to try and verify?

For the second issue, with rootless Podman - can you be more clear as to what you are doing / what is going wrong? A reproducer would be ideal.

[2021-07-15 14:45] mheon commented on #10944
@baude Good candidate for machine?

[2021-07-15 14:49] vrothberg commented on #10941
I am a bit lost.  It looks like we shouldn't join the user NS but do.  @giuseppe, do you know what's going on?

[2021-07-15 14:50] #9949 closed

[2021-07-15 15:11] #10922 closed

[2021-07-15 15:11] #10930 closed

[2021-07-15 15:13] mheon commented on #10933
The StaticDir isn't something we know before the container is created - it's configured by c/storage as part of container creation?

[2021-07-15 15:18] cdoern commented on #10933
hmmm okay @mheon I guess the issue is there is not equiv place as there is w/ regular containers to do specific mount such as overlay which uses the `StaticDir`

[2021-07-15 15:23] Searge commented on #10943
Actually, I have doing all the steps from that two articles.

But can start from beginning:

So, I have almost fresh installation of Fedora 34 (less than month), have switched from Pop!_OS.
07/13. I needed to work in Docker and I accidentally found on the official website that Fedora Workstation works with OCI out of the box.

After a quick study, I realized that it was podman, did some images on

[2021-07-15 15:25] mheon commented on #10943
Docker-compose will want to connect to the root Docker socket - you need to point it to the rootless Podman socket. `export DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock` where $UID is replaced by the UID of the user running the Podman service should convince it to connect to rootless Podman.

[2021-07-15 15:28] Searge commented on #10943
But I have done this, when setup user-level podman. Look at sh history section. There are comments of my steps.

[2021-07-15 15:30] srcshelton commented on #10914
Yup, so there are a few uses of the Gentoo-specific `portageq` utility, but nothing fatal until after the error with `podman-3.2.2` and above has already occurred (on Ubuntu, at least!)

The error occurs during the 'stage3' section (the second part, immediately after 'env').

[2021-07-15 15:33] Searge commented on #10943
To clarify. When I've played with podman, I've used this [Dockerfile](https://github.com/adv4000/docker/blob/master/DockerfileUbuntu.txt#L1-L16), and all works.

[2021-07-15 15:57] pendulm commented on #10094
https://github.com/containers/crun/blob/main/src/libcrun/linux.c#L1910
It breaks in crun code

[2021-07-15 16:05] pendulm commented on #10094
After I fix the group  mannually, this issue got rid of. So I note this new find here in case someone  get same problem incaution.

[2021-07-15 16:33] snail59 opened #10946 "iscsi and volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I have an LVM logical volume on top of an iscsi LUN, mounted on a directory ( let's call it /foo/bar ) :
iscsi -> LVM -> logical volume -> /foo/bar

I ran something like podman run -v /foo/bar:/my_container_directory my_image .
Only /foo was mounted on /my_container_directory  in the container

[2021-07-15 16:39] Luap99 commented on #10946
Can you try with `-v /foo/bar:/my_container_directory:rbind`.

From https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--volume--vsource-volumehost-dircontainer-diroptions

[2021-07-15 16:53] giuseppe commented on #10941
`nsenter -U -t 1 cat /proc/1/status` looks like the wrong command to run?  Why is it trying to join PID 1?

Does it work differently if you run `podman unshare podman top redis1  user,huser` ?

[2021-07-15 17:08] edsantiago opened #10948 "APIv2 test: test_copy_to_container: False is not true"
I'm seeing this flake on almost every PR:
[code]
For example: [here](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5246553477611520/html/apiv2-podman-fedora-34-root-host.log.html)

When fixed, could you please make the error message a little bit more helpful than "false is not true"?

[2021-07-15 17:09] edsantiago commented on #10948
@matejvasek PTAL

[2021-07-15 17:16] snail59 commented on #10946
I tried, it does not work either.
Interesting facts are that:
- / is mounted from an LVM logical volume ( so /foo is already a mountpoint on a mountpoint)
- it works if /foo/bar is a zfs dataset
- it works perfectly well with docker
So I do not think this is a bind problem

[2021-07-15 17:28] Luap99 commented on #10946
@mheon @rhatdan PTAL

[2021-07-15 17:33] rhatdan commented on #10906
Yes we just documented that you need to add a containers entry to /etc/subuid and /etc/subgid.  I don't believe that podman should do this by default at install time.

[2021-07-15 17:35] rhatdan commented on #10617
@cdoern did you ever look at this?

[2021-07-15 18:00] mheon commented on #10946
Can you provide a `podman inspect` of the container showing this behavior?

[2021-07-15 18:04] matejvasek commented on #10948
@edsantiago I'll look into it, my guess is that there is something before expected string "1042:1043". Actually the output should only contain "1042:1043" and nothing else, but when running in CI there was some superfluous output so I changed exact match to `startswith`. If it's the case changing it to `contains` would help.

[2021-07-15 18:06] rhatdan commented on #3234
Looks like container-selinux-2.163.0-2.fc33 never built for f33, you will need this with the latest kernel.

 https://koji.fedoraproject.org/koji/taskinfo?taskID=71960590

[2021-07-15 18:11] rhatdan commented on #10938
Can you give a simple reproducer. I thought I fixed this.

[2021-07-15 18:11] dustymabe commented on #3234
can we get that in a bodhi update?

[2021-07-15 18:30] cdoern commented on #10617
@rhatdan yes, I ccd @jwhonce because I didn't see any issues with the healthchecks. It is similar to #10610 but I don't think that fixed it. Will take another look.

[2021-07-15 18:41] edsantiago commented on #10948
Here is [useful data](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5795692124831744/html/apiv2-podman-fedora-34-root-host.log.html). The failure is:
[code]
In particular, there's an unexpected and unwanted "`[conmon:d]: exec blah blah". The root cause seems to be https://github.com/containers/podman/blob/main/test/python/docker/__init__.py#L30-L32  -

[2021-07-15 18:48] rhatdan commented on #10934
@cevich This should fix the rootless podman on F33 selinux issue.
https://bodhi.fedoraproject.org/updates/FEDORA-2021-862d1936a6
This should fix containers-common on f34
https://bodhi.fedoraproject.org/updates/FEDORA-2021-01325d81c4

[2021-07-15 19:02] ashley-cui commented on #10944
@bentito do you have a vm running? (podman machine or otherwise?)

i think this should just be a error message fix, on macs display an error message that says "do you have a vm running? podman machine -h" or something like that?

[2021-07-15 19:03] rhatdan commented on #10944
Yes, I think this would be a nice fix for MAC/Windows.

[2021-07-15 19:05] rhatdan commented on #10933
Doesn't the infra container get a staticdir?

[2021-07-15 19:07] bentito commented on #10944
But, also:
[code]

[2021-07-15 19:09] ashley-cui commented on #10944
@bentito ah yeah we need to fix our dependencies for homebrew installations. i think i can get that in soon, but for now, do a `brew install qemu` , then you can get a machine up.

[2021-07-15 19:10] matejvasek commented on #10948
@edsantiago  This is really sneaky one, I run CI action three time as it always passed, not I am trying to reproduce it locally with `DEBUG=true` and still no success.

[2021-07-15 19:12] matejvasek commented on #10948
I modified my test locally to use regex so it didn't mind superfluous output.

[2021-07-15 19:15] edsantiago commented on #10948
@matejvasek I have a fix in #10950

[2021-07-15 19:17] rhatdan commented on #10943
Installing podman-docker sets up the link for rootfull compose but not for rootless.

[2021-07-15 19:20] bentito commented on #10944
okay, so `brew install podman && brew install qemu && podman machine init && podman machine start` then `podman info` and, I suspect, all things podman, work on MacOS now for me. ty!

[2021-07-15 19:21] miabbott commented on #3761
Looks fixed with `skopeo` 1.3.0 via @vrothberg's reproducer:

[code]

[2021-07-15 19:27] rhatdan commented on #10946
@rhvgoyal WDYT?

[2021-07-15 19:30] rhatdan commented on #3234
Way ahead of you.
https://bodhi.fedoraproject.org/updates/FEDORA-2021-862d1936a6

[2021-07-15 19:39] rhatdan commented on #10944
@ashley-cui Does brew install have the equivalent of a "recommends" versus a "requires",  Meaning you could install `podman` without installing `qemu`?

[2021-07-15 19:39] Ian2020 commented on #10938
You did with commit https://github.com/containers/podman/commit/4cc19f9e0f118d5f93a5399d14f56a887926e073, but it's in main branch and not released in 3.2 branch I think?

[2021-07-15 19:43] rhatdan commented on #10938
Thanks, I could not find it in my quick search.
This will be fixed in podman 3.3 then,  For now you can just set the label to container_file_t on the host.

chcon -t container_file_t -R PATHTOVOL.

[2021-07-15 19:43] #10938 closed

[2021-07-15 19:44] cevich commented on #10934
Fantastic, thanks!

[2021-07-15 19:45] ashley-cui commented on #10944
@rhatdan yes! there's a `recommended` which installs by default and an `optional` that only installs if specified. there's also a only install dependency on intel vs m1.

I was thinking of making qemu a recommended dependency on intel only (because qemu still needs patches for m1), and on m1 printing a warning about qemu patches.  do you think recommended works better or optional for now?

[2021-07-15 19:48] rhatdan commented on #10944
SGTM

[2021-07-15 20:02] snail59 commented on #10946
Here it is :
[podman_inspect.json.txt](https://github.com/containers/podman/files/6825932/podman_inspect.json.txt)

[2021-07-15 20:05] cdoern commented on #10933
Yes @rhatdan it does but not it cannot be explicitly set until infra goes through the normal creation process. I am brainstorming on how to consolidate infra and regular container creation. I feel like they should be more comparable and easy to track. Gonna look into this more later today and tomorrow.

[2021-07-15 20:09] bentito commented on #10944
`reccomended` when Intel present sounds like a better user experience to me.

[2021-07-15 20:14] cevich commented on #10386
FWIW, I'm working my way through numerous issues blocking adoption of  refreshed VM images in #10829.  Not sure if they will have any impact on this issue or not, but I'll keep my eyes out.

[2021-07-15 20:16] ashley-cui commented on #10944
update: brew doesn't allow recommended in its core repo. looks like its going to have to go in either as a dependency or not :(

@rhatdan @bentito

[2021-07-15 20:47] giuseppe commented on #10941
From what I can see, the error seems to be in the target pid used to join the user namespace.

The command should look like `nsenter -U -t $CONTAINER_PID cat /proc/1/status`

[2021-07-15 21:54] mtrmac commented on #3761
(Testing with podman-3:3.1.2-2.fc33.x86_64 and podman-3:3.2.2-1.fc33.x86_64 :)

Yes, this now looks better in that both digests are visible in `RepoDigests`. That’s not because we have actually _fixed_ the bug, though, the underlying `images.json` data is still the same:
[code]

It’s only the RepoDigests faking code that has improved, from old https://github.com/containers/podman/blob/09cedd152d5c

[2021-07-15 22:13] mtrmac commented on #3761
FWIW I can confirm that using the save+load behavior podman-3:3.2.2-1.fc33.x86_64 , and contrary to https://github.com/containers/podman/issues/3761#issuecomment-694134883 at that time, I now see both the same ID and the same `.Digest` value (in fact the full output of `podman inspect` is the same for both). Given that we haven’t ever diagnosed what has actually happened with the old behavior, and

[2021-07-15 23:12] rhatdan commented on #10944
Make it a dependency.  How large is it?

[2021-07-16 00:42] stellarpower commented on #6600
I've hit a similar issue; admittedly on an old release (stuck with Bionic)

I have a pod with a reverse proxy and some app containers. I'll call it old-pod. I needed new ports open so I had to change the setup and make a new pod, new-pod.

So old-pod and new-pod both listen on 8080 and 8443 for the reverse proxy. The below commands are simulated and slightly arbitrary, as I'm using ansible, but:

[2021-07-16 03:37] gokamal commented on #7914
@bobhenkel Can you please post what's the fix for the issue ?

[2021-07-16 03:39] bobhenkel commented on #7914
The suggestion by mheon solved this.  There were overlapping id values. Thanks!

[2021-07-16 03:52] gokamal commented on #7914
Ok thanks, got it fixed along with `podman system migrate`

[2021-07-16 05:39] Searge commented on #10943
So, that's mean I'm able to use `docker-compose` only with sudo?
What kind of group I need to add myself to use it without?

[2021-07-16 06:12] sivaece06 commented on #5781
I tried to run the command. but it throws error.

$ podman --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs --storage-opt overlay.mountopt=nodev,metacopy=on,noxattrs=1 run ...
Error: invalid reference format
$

[2021-07-16 06:24] tremes commented on #3234
Nice. Thank you @rhatdan.

[2021-07-16 07:37] alitvak69 opened #10955 "Switching to overlay2 storage driver causes new problems with podman 3.2.2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

overlay2 stopped working

After update to the latest 3.2.2 and buildah 1.21.1  certain features stopped working if overlay2 specified as storage driver.
Command _podman info_ no longer works unless prefixed with sudo.  I cannot build a container either.

**Steps to reproduce the issue:**

1. Change storage.co

[2021-07-16 08:50] Luap99 commented on #10943
With v3.2 you should be able to use docker-compose against the user socket. You have to export `DOCKER_HOST=///run/user/$UID/podman/podman.sock` to make docker-compose use the user socket.

[2021-07-16 09:23] vrothberg commented on #10914
Thanks, @srcshelton. FWIW, I can reproduce but it does _not_ work with Podman v3.2.1 or any other version of Podman/Buildah I've tried.

Whatever version I use, it always attempts to pull `localhost/gentoo-env:latest`.

[2021-07-16 09:30] srcshelton commented on #10914
Could you post the full output?

I did a test install on Ubuntu 21.04 using their standard packages (`podman-3.0.1`) straight out of the box, and it passed the point in question.

Note that the process as a whole will fail if not run on Gentoo right now, but the `STEP 5: FROM gentoo-env:latest` pull (no `localhost/` prefix on the checked-in version) did succeed for me on Ubuntu/amd64.

[2021-07-16 09:35] vrothberg commented on #10914
What I did was:
[code]

[code]

Just tried the v3.0.1-rhel branch but it also fails.

[2021-07-16 09:45] Searge commented on #10943
1. you [duplicate](https://github.com/containers/podman/issues/10943#issuecomment-880790198) recommendation, I have already answered above;
2. it has an error, right address in previous comment.

[2021-07-16 11:04] Fodoj opened #10959 "podman auto-update always restarts containers"
podman auto-update always restarts containers, even if image didn't change. To reproduce (note I am using user systemd):

[code]

Even though I never change the image, `podman auto-update` always pulls, kills container, creates new one. Expectation was that if image didnt change, nothing will happen.

[code]

[code]

[2021-07-16 11:33] #10935 closed

[2021-07-16 11:33] srcshelton commented on #10914
So on an Ubuntu laptop (e.g. bare-metal, not virtualised or within a chroot() environment, etc.) which is rarely used but was upgraded to Ubuntu 21.04, I literally did:

[code]

... which succeeded past `STEP 5` and left me (after pruning hundreds of images labelled `<none>`) with:

[code]

... so I guess the question has to be, what are the possible differences between your environment and that o

[2021-07-16 11:47] vrothberg commented on #10914
Just noticed that I had to change another `$docker image build` in the init script.  I am on it :+1:

[2021-07-16 11:48] rhatdan commented on #10959
@vrothberg PTAL

[2021-07-16 11:53] #10794 closed

[2021-07-16 11:55] flyingflo commented on #6688
Are you sure this is fixed with conmon, only? Don't we need #8508 too?
I'm asking, because I still see this behaviour on F34 with
- podman 3.2.2
- conmon 2.0.27
- crun 0.20.1

I'm trying to get a sd_notify aware service in a podman container to play nicely as a `Type=notify` systemd unit, preferably with watchdog and status text. I would love this kind of "perfect" integration.

[2021-07-16 11:57] rhatdan commented on #5781
Is storage driver overlay?
Please open new issues, do not attach to old closed issues.

[2021-07-16 12:03] rhatdan commented on #6688
Do you have a easy reproducer?  We need an example of a program that uses sd-notify that we could try.

[2021-07-16 12:06] vrothberg commented on #10914
@srcshelton thank you again for your great help in debugging the issue.  I opened https://github.com/containers/common/pull/679 to fix the issue.  I hope to get that backported today to Podman v3.2 (Cc @mheon @rhatdan)

[2021-07-16 12:10] vrothberg commented on #10959
Thanks for reaching out, @Fodoj!

That's likely a bug in the Podman 3.1.2.  I couldn't reproduce with Podman 3.2.2, so I am going to close.

Note that `auto-update` received some rework to provide more useful output to the user. Starting with Podman v3.3.0, the output will look as follows:
[code]

[2021-07-16 12:10] #10959 closed

[2021-07-16 12:11] flyingflo commented on #6688
I just threw my unpolished experiment into a repo: https://github.com/flyingflo/podman_sdnotify
It also works with a bash script calling `systemd-notify`, but I used python later, because the PID stays the same.

[2021-07-16 12:19] srcshelton commented on #10914
Phew - I was still kinda worried it was just me 😅

Glad to help!

[2021-07-16 12:20] djohn156 commented on #5722
I just came across this issue after more than a year. Would it be possible to either provide an update to the linked article or add a statement to the installation instructions? Also it'd be really great to mention that the default value of WSL for some Linux machines (tested with Ubuntu 20.04) is 1 and still needs to be manually upgraded.

[2021-07-16 12:25] vrothberg commented on #10955
@rhatdan PTAL

[2021-07-16 12:25] vrothberg commented on #10934
I am going to close as it is a packaging issue in Fedora.

[2021-07-16 12:25] #10934 closed

[2021-07-16 12:38] vrothberg commented on #4854
We've made quite some improvements since then, especially @rhatdan was very active.

I am going to close this as it's hard to quantify and something we should always care about.

[2021-07-16 12:38] #4854 closed

[2021-07-16 12:38] rhatdan commented on #5722
Interested in opening a PR to add those?

[2021-07-16 12:40] rhatdan commented on #10955
If you change it back to overlay does it work correctly?  overlay == overlay2, there is no difference in Podman.  We only use the overlay2 name for compatibility with Docker.

[2021-07-16 12:45] vrothberg commented on #4739
I think this work is done now. Please reopen if I am wrong.

[2021-07-16 12:45] #4739 closed

[2021-07-16 12:48] vrothberg commented on #8577
@jwhonce are we good?

[2021-07-16 12:50] vrothberg commented on #9586
AFAIR we agreed to improve docs, and since #10249 merged, I am going to close.

[2021-07-16 12:50] #9586 closed

[2021-07-16 12:52] vrothberg commented on #10251
Closing as a duplicate of containers/image#1225

[2021-07-16 12:52] #10251 closed

[2021-07-16 12:59] alitvak69 commented on #10955
@rhatdan That is correct but it was working with previous versions.  Even 3.2.1, I believe.

[2021-07-16 12:59] rhatdan commented on #6688
I am not sure how this is supposed to work, but the first example I tried got connection refused, with container, then I changed to conmon type and I get.

[code]

[2021-07-16 13:15] djohn156 commented on #5722
Not sure where I should put that information, but happy to give it a try if you could point me to the right files

[2021-07-16 13:23] rhatdan commented on #6688
@haircommander Any idea what is going on here.  It looks like conmon is not listening on the notify socket?

[2021-07-16 13:47] mheon commented on #10946
I see 3 bind mounts in there (`Binds` under `HostConfig` in the output). Can you verify they look correct relative to what you typed in? If so, this seems like a potential OCI runtime, or even kernel, issue - if we parsed the mounts correctly and they appear correct in Inspect, we've done everything Podman needs to, and are handing off correct information to the OCI runtime, which subsequently mak

[2021-07-16 14:00] valleedelisle opened #10963 "podman --remote API backward compatibility"
/kind feature

When running podman --remote, it would be good if we could specify the API version.

There's no garantee that the client and the API are using the same version so having backward compatibility should be provided.

Currently, there's no way to specify an API version and we endup with an obscur message

[code]

After snooping the socket, I realized that the remote client was running `

[2021-07-16 14:09] haircommander commented on #6688
gonna be honest, I do not understand the sd notify code haha

@flyingflo are you able to test using that PR? the phrasing "blocked by oci runtime" in the PR implies there is a missing link that we may need...

[2021-07-16 15:13] #10655 closed

[2021-07-16 15:16] rhatdan commented on #6688
Actually @flyingflo your example is working for me.  Although you python script is failing after the first sdnotify.

[code]
This looks successful, then systemd or conmon drops the connection
[code]
This notify fails, because systemd or conmon has dropped the connection.

Does this test work differently if you don't run it in a container.  Is conmon dropping the connection when it should not?

[2021-07-16 15:32] andrescodas commented on #10906
the added documentation addresses [this](https://github.com/containers/podman/issues/10906#issuecomment-878288707) side issue related to the use of `--userns=auto`

the cause of the original issue:
[code]

is related to the lack of CAP_AUDIT_WRITE capabiltiies as described [here](https://github.com/containers/buildah/issues/2986#issuecomment-778205017).  Then, this works:

[code]

[this](https://g

[2021-07-16 15:35] rhatdan commented on #10955
I have no idea why this would not be working with overlay2.  I tried this on my Fedora machine and everything works fine.
Only thing I can think of is, some override check is failing when driver is overlay2

[2021-07-16 15:43] #10948 closed

[2021-07-16 15:45] rhatdan commented on #10955
https://github.com/containers/storage/pull/966 might fix this, since we really do not want to deal with overlay2 at all.  Docker made a mistake when they renamed the driver.  No one uses the original overlay driver, so when we started making our container tools we just aliased the driver names together.

[2021-07-16 16:04] jwhonce commented on #10963
This should have been resolved by https://github.com/containers/podman/pull/9878 .  I am going to close this issue. Please open another if you find additional errors.

[2021-07-16 16:04] #10963 closed

[2021-07-16 16:09] snail59 commented on #10946
I am not sure.
I ran a simple test with alpine and compared docker to podman in different scenarios.

1) a lun with ext4 filesystem
[code]
The mount is OK with docker ( /dev/mapper/lo181-part1 was expected )
[code]
The mount is not ok with podman

2) no lun, zfs filesystem

[code]
The mount is OK with docker

[code]
The mount is also OK with podman

3) a lun with zfs

[code]
The mount is OK with d

[2021-07-16 16:11] alitvak69 commented on #10955
@rhatdan I tried it both on Ubuntu  20.04 and centos 7.9 with our nix static podman and buildah.  However, I will wait for #966  to clear the merge and test it then.  My problem with just going back to overlay  is I have to run podman system reset on multiple nodes.  It requires restarting bunch of containers and re-downloading bunch of images.

[2021-07-16 16:22] rhatdan commented on #10955
You could just set up a sympolic link between the two directories.

[2021-07-16 16:30] rhatdan commented on #5722
@baude PTAL

[2021-07-16 16:30] rhatdan commented on #5722
@djohn156 Most of the configuration descriptions is handled in man pages.

man podman;

[2021-07-16 16:54] flyingflo commented on #6688
With my test, I can clearly observe the behaviour in this actual issue.
The crun process sticks around (observed with `systemctl status`) until the python script sends READY after 10s.
During this time podman is blocked completely (e.g. `podman ps`), which is what this issue is about, if I understood.

The second observation is that all writes to the socket fail, after the first write with `READY=

[2021-07-16 16:57] jwhonce commented on #10862
@kevinanderson1 Does `podman pod ps` hang as well? That command uses different set of locks. Depending on it's behavior then we can determine which lock is hanging you up. A thread dump of the podman service would also be helpful. /cc @mheon

[2021-07-16 17:03] mheon commented on #6688
Wait - #8508 isn't merged yet?

@vrothberg Didn't we just swap `generate systemd` to use notify by default? If so, and #8508 is not merged, I think we need an immediate revert of that. The behavior of sdnotify when the OCI runtime is used is not sane.

[2021-07-16 17:09] rhatdan commented on #10906
I am guessing (Hopefully somewhat educated) is that there is some check that understands a process is not root when run in a rootless container, whereas when it runs as `real root`, it fails.

[2021-07-16 17:15] flyingflo commented on #6688
I just assumed it is not merged because of the #8508 's state, no further investigation.

For me Type=notify works with podman's `--sdnotify=container` but only for the READY message, because all others don't get through after the runtime goes away, and `--sdnotify=conmon` works too, but there is no NOTIFY_SOCKET set in the container (I guess that is what it should do).

[2021-07-16 17:15] mheon commented on #10946
Any chance you can try with the `crun` OCI runtime instead? Bit of a longshot, but I'd like to see if it behaves differently.

[2021-07-16 17:27] rhatdan commented on #6688
I just updated an pushed it.  This PR has been floundering for a while, I guess I will need to pay more attention to it.

[2021-07-16 17:39] snail59 commented on #10946
I tried, the result is the same :-)

[2021-07-16 17:53] mheon commented on #10946
Can you do a `podman init` on a container with a bad bind-mount, do a `podman inspect` on it, and provide the file pointed to by the `OCIConfigPath` field? That's the OCI runtime config, what Podman is actually instructing the runtime to do. Ideally I'd want the Docker one as well to diff against, but I'm not 100% familiar with where they store them - have to look into that.

[2021-07-16 18:03] snail59 commented on #10946
I am going to need guidance here, I shamly do not know how to use podman init

[2021-07-16 18:05] mheon commented on #10946
Make the container exactly as you were previously but with `podman create` instead of `podman run`, then run `podman init` on the newly-created but not running container. This will create the container configuration and prepare it to be started, but will not actually start the container.

[2021-07-16 18:28] alitvak69 commented on #10955
I could do that, but to do that I have to stop all the containers anyway.  Otherwise real directory /var/lib/containers/overlay is still in use and cannot be deleted before I could symlink it overlay2

[2021-07-16 18:38] TomSweeneyRedHat commented on #5722
or for the web page oriented
http://docs.podman.io/en/latest/markdown/podman.1.html

[2021-07-16 18:44] HarryMichal commented on #10296
Aaah, that should work. I'll do it that way then.

[2021-07-16 19:16] snail59 commented on #10946
Here is the file for podman.[config.json.txt](https://github.com/containers/podman/files/6832899/config.json.txt)
I could not find the equivalent one for docker, unfortunately.

[2021-07-16 20:32] pascapascapascapasca opened #10969 "Mount error when using ':z' on podman 3.2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I start up a pod with a container that has a shared mount (`:z`), the mount fails. I also see this error in the journal: `kernel: overlayfs: unrecognized mount option "volatile" or missing value`.

I only get this issue since I've updated to podman 3.2. Other mount types (`:Z` and `:ro`)

[2021-07-16 20:50] flyingflo commented on #6688
@rhatdan this is what you get if the env var NOTIFY_SOCKET is not set in the container. Which is the case with `--sdnotify=conmon`.

[2021-07-16 21:14] mheon commented on #10969
@rhatdan PTAL

[2021-07-17 00:18] Trashmee commented on #10266
@vikas-goel : Your commit 10919 made it to 4.2.3, I believe, but I'm still seeing issues in this area, could you verify?
[code]

[code]

[code]

[code]

Kind regards,
ItsMee

[2021-07-17 00:41] vikas-goel commented on #10266
@Trashmee ,
Could you create a macvlan network using `podman network create --driver macvlan` command and then try the compat REST API?

[2021-07-17 01:01] Trashmee commented on #10266
Hi @vikas-goel ,

quick reply, thanks. Can you elaborate the difference between compat GET vs. PUT/POST and how to query?
The curl query I used is from your post #1 in this ticket - which I hoped would was causing my issues with docker-compose and macvlan.

[code]

[code]

ItsMee

[2021-07-17 01:11] vikas-goel commented on #10266
The 3.2.3 release doesn’t seem to have my fix.
https://github.com/containers/podman/blob/v3.2.3/pkg/api/handlers/compat/networks.go

[2021-07-17 01:29] Trashmee commented on #10266
You're right - i missread the fact that #10919 is referenced here: https://github.com/containers/podman/compare/v3.2.3...main

I can confirm your fix solves my issue when applied manually against the 4.2.3 source. Thanks a lot - great job!

ItsMee

[code]

[code]

[code]

[2021-07-17 01:38] vikas-goel commented on #10266
Thank you for the confirmation. I am glad it worked.

[2021-07-17 05:00] lzmihoubi opened #10971 "Podman logs doesn't exit for stopped container and after restarting container the log doesn't change and displays the same thing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman `logs `doesn't exit for a stopped container and after restarting the container the log doesn't change and displays the same thing.

**Steps to reproduce the issue:**

1. `podman run -d --name looper busybox /bin/sh -c 'i=0; while true; do echo $i; i=$(expr $i + 1); sleep 1; done'`

2.

[2021-07-17 09:12] dvzrv opened #10972 "3.2.3: No chain of trust for release"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi, @Foxboron and I are packaging podman for Arch Linux. We use the signatures of release tags to verify the authenticity of this upstream. With the release of 3.2.3 we have run into the issue, that the current release is signed by a PGP key for which we can not establish a trust path.

Most

[2021-07-17 14:57] Luap99 commented on #10943
Can you retest with podman v3.2.3? It contains some fixes for rootless networking.

[2021-07-17 15:03] yan12125 commented on #8647
A great note. For me, the "cannot re-exec process" issue is gone after `rm -rf /run/user/1000/libpod`.

[2021-07-17 15:27] cevich commented on #10817
Answer to my own question: the dma_heap problem is fixed by `selinux-policy-3.14.6-39.fc33`.

Still, I think the problem originally reported in this issue still stands.  I'll confirm after updating and rebooting...

[2021-07-17 15:53] Searge commented on #10943
@Luap99 unfortunately I haven't yet that update. Will write back when have it.

[2021-07-17 20:22] asottile opened #10974 "`\t` in --format does not preserve tab character"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using `\t` in a `--format` (such as with `podman history`) I expect to receive tab characters in the output -- but it appears that podman is expanding them to spaces.  docker preserves these characters in the output.

**Steps to reproduce the issue:**

1.  `podman history $'--format={{.I

[2021-07-18 12:38] flouthoc commented on #8136
@trevor-viljoen @seanyoung @rhatdan @giuseppe From the issue it seems more like `windows-binary-on-linux` / `wine-inside-container` something like this as base image should solve the use-case right ?

Sorry i might have missed it or was not able to infer from discussions in the above thread but could someone help me understand the use-case where runtime explicitly needs to handle `wine`.

[code]

[2021-07-18 12:58] seanyoung commented on #8136
@flouthoc the aim is not to run a single windows binary. The aim is to download and run windows containers.

Having said that, a base image with wine seems like a good way start.

[2021-07-18 13:08] seanyoung commented on #8136
@flouthoc I think a wine base image is a great way to start this.

There might be advantages to having the runtime explicitly use libwine rather than a wine base image. It might be easier to configure certain wine settings or capture wine logs, if needed. Also using libwine rather than a wine base image feels a lot more robust/native.

Having said all that, presumably using a wine base image will

[2021-07-18 14:25] fugkco opened #10977 "docker compatibility --platform doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Seems using the `--platform` tag via docker doesn't pull the expected image.

**Steps to reproduce the issue:**

1. Use podman to pull an arm64 image, and notice that it works fine:
[code]

2. Compare with to pulling with docker, which pulls the amd64:
[code]

**Describe the results you recei

[2021-07-18 15:00] Ferryistaken commented on #8477
Is there some kind of alternative to the SHELL command with OCI containers? I would like to build an OCI image but I don't really know how to transition.

[2021-07-18 15:15] daiaji opened #10978 "Why do I still get runc related errors even if I use podman version 3.2.2?"
[code]
[code]
As far as I know, isn't the default use of crun in podman 3.0?

[2021-07-18 15:44] mheon commented on #10978
The OCI runtime each container was created with is preserved in its configuration, so it will always use the same one, even if the default changes. You can remove and recreate older containers, or use `podman system migrate --new-runtime crun` to migrate all existing containers to `crun`. Please note that all containers must be stopped for this command to be used.

[2021-07-18 15:44] #10978 closed

[2021-07-18 15:49] mheon commented on #10974
@jwhonce PTAL

[2021-07-18 17:25] snail59 commented on #10946
I tried as root and it worked.
I do not know if that means that I did something wrong or if this is a bug/feature of podman.
If I did something wrong, could you please direct me to the information I missed in the documentation ? And I would (really) kindly suggest to maybe document this case (using mountpoint  from iscsi lun) or add a message in podman, that might be of help for other users.
Tell

[2021-07-18 18:31] mheon commented on #8477
I can't find any documentation on what the `SHELL` command actually does - it's been removed from all current Dockerfile syntax references, which makes me think it's deprecated.

I think it may be similar to the `ENTRYPOINT` instruction?

[2021-07-18 18:34] mheon commented on #10971
Can you confirm that this is only when the container is stopped by checkpoint/restore, and normal `podman stop` / `podman start` cause logging to behave as expected?

[2021-07-18 18:36] mheon commented on #10972
Ah, I can handle this once I get in on Monday.

For context, @ashley-cui is our backup engineer for releases, and handled yesterday's release to become familiar with the process before I leave for a vacation.

[2021-07-18 20:54] jayaddison commented on #10321
No need to re-open this issue; however to add information about another case where this is reproducible:

A [`nektos/act`](https://github.com/nektos/act/) (local GitHub Actions) [build workflow for an ARM64 version of `grocy-docker`](https://github.com/grocy/grocy-docker/commit/0f98e06ddc0afcce9b1805923e061abdf4d4114b):

[code]

[2021-07-19 00:31] vsoch commented on #9654
I guess it's okay, fine to close.

[2021-07-19 00:31] #9654 closed

[2021-07-19 00:39] daiaji commented on #10978
@mheon In fact, as printed by the ps command, I have deleted all the containers.

[2021-07-19 00:52] daiaji commented on #10978
In fact, as printed by the ps command, I have deleted all the containers.
Of course I will try the `podman system migrate --new-runtime crun` command after get off work

[2021-07-19 04:02] djohn156 commented on #5722
Thanks for pointing this out. Since it's rather about the setup instructions and less about usage of podman, what about opening a respective issue in https://github.com/containers/podman.io and handling it there?

[2021-07-19 07:51] vrothberg commented on #10977
Thanks for reaching out, @fugkco.

[code]

This looks correct to me.

Are you mixing docker and podman?  It may be a lack of morning coffee but I do not understand the problem yet. Can you elaborate a bit more?

As far as I can see, Podman behaves correctly and pulls the arm64 image.  I tested Docker 20.10.6 which is also pulling down the correct.

[code]

You're using `docker pull` but `podman in

[2021-07-19 08:00] vrothberg commented on #10914
This is now fixed in the main branch and was backported to v3.2.3.

[2021-07-19 08:01] #10914 closed

[2021-07-19 08:15] vrothberg commented on #10977
@fugkco, thanks for clarifying.  I will have a look and provide a fix.

[2021-07-19 08:41] Luap99 commented on #10889
You can already set this in containers.conf with `network_cmd_options = ["enable_ipv6=true"]`

@AkihiroSuda How does slirp4netns behave when ipv6 is disabled in the kernel, will it fail or ignore the ipv6 setup?

[2021-07-19 09:01] vrothberg commented on #10977
Opened https://github.com/containers/podman/pull/10979

[2021-07-19 09:36] AkihiroSuda commented on #10889
Haven't tried

[2021-07-19 13:01] edsantiago commented on #10715
I can no longer reproduce with podman-3.2.3-1.fc34.x86_64

[2021-07-19 13:01] #10715 closed

[2021-07-19 13:22] mheon commented on #10978
You're using `podman ps` (which shows only running containers), not `podman ps -a` (which also shows stopped containers). The `podman info` command shows 3 stopped containers, so you did not succeed in removing all of them. A `podman rm -af` should be enough if that's what you want.

[2021-07-19 14:03] Ferryistaken commented on #8477
I tried building with `buildah` instead of `podman build` and it worked. It makes me think that I now have a docker formate image instead of an OCI image. How do I check if my image is OCI? Is there some tool that automatically does that?