[2020-09-16 06:19] disaster123 opened #7650 "rootless podman stopped working after upgrading from 1.9.4 to 2.0.6"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading from 1.9.4 to 2.0.6 i'm not able to run a container.

**Steps to reproduce the issue:**

1. install podman 2.0.6~2 under debian buster

2. run podman
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Container should start.

**Addi

[2020-09-16 06:23] disaster123 commented on #6368
Seems like my report is related to this one as well:
https://github.com/containers/podman/issues/7650

How can we fix this? What's the disadvantage of using ```cgroup-manager=cgroupfs```? Shouldn't than cgroup-manager=cgroupfs be the default under debian 10?

[2020-09-16 07:00] #7407 closed

[2020-09-16 07:16] burhan commented on #7649
postgresql is listening on 127.0.0.1 by default; but I am not sure how to route 127.0.0.1 from the pods to the host. My understanding is rootless containers in pods use "localhost" and the other mappings to 127.0.0.1 inside the pod are working fine.

firewalld is not running:

[code]

[2020-09-16 08:39] AkihiroSuda commented on #7649
If postgresql isn't listening on 192.168.28.131, ECONNREFUSED on 192.168.28.131 is expected.

Starting with Podman 2.1, 127.0.0.1 on the host can be exposed to containers as 10.0.2.2 when `allow_host_loopback` is set: https://github.com/containers/podman/commit/7722b582b4f09df64fb55e3ab9669392754ce75c

[2020-09-16 09:05] #6053 closed

[2020-09-16 09:06] vrothberg commented on #7645
Thanks for opening the issue, @usrbinkat!

@haircommander, do you have cycles to tackle the issue? Looks like the pull-policy is off.

[2020-09-16 09:19] AkihiroSuda opened #7651 "`podman images -a` breaks after pulling <image>@<digest>"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman images -a` breaks after pulling IMAGE@DIGEST

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Failed as shown above

**Describe the results you expected:**
Shouldn't fail

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[

[2020-09-16 09:26] AkihiroSuda opened #7652 "rootless-cni-infra + runc fails with ENODEV"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug (of runc rather than Podman, maybe)

**Description**

rootless-cni-infra + runc fails with ENODEV.
crun works as expected.

**Steps to reproduce the issue:**

1. `podman network create foo`
2. `podman run --rm --network foo --runtime=runc  hello-world`

**Describe the results you received:**
[code]

**Describe

[2020-09-16 09:53] vrothberg commented on #7651
Thanks, @AkihiroSuda!

@mheon, sounds like a candidate for 2.0? Shall we open a BZ?

[2020-09-16 11:00] rhatdan commented on #6368
If the debian packager wants to change the default, they can simply ship a containers.conf in /usr/share/containers/containers.conf with this settings.
Is this true for all Debian or just the stable branch?

[2020-09-16 11:03] rhatdan commented on #7641
Since this PR just went in, I am going to close this issue.
Fix should be available in podman 2.1.

[2020-09-16 11:03] #7641 closed

[2020-09-16 11:04] #7632 closed

[2020-09-16 11:06] disaster123 commented on #6368
@rhatdan sure. I just wanted to know why this wasn't a problem with 1.9.4 and what's the disadvantage of cgroup-manager=cgroupfs

[2020-09-16 11:16] rhatdan commented on #7567
Sounds great @EduardoVega

[2020-09-16 11:17] ensc commented on #3993
There is still a difference of `--userns=keep-id` between pod and non-pod.  E.g.

[code]

fails with `bind: Permission denied` while a plain

[code]

works.

[2020-09-16 11:31] avikivity commented on #7233
`--pull always` works, but I can't tell my users to to use that.

I can rmi the local manifest as a workaround.

[2020-09-16 11:46] rhatdan commented on #6368
The issue is with cgroupv2, I believe.  cgroupfs can not work in rootless mode with cgroupv2 since you need to communicate with systemd to setup the cgroups and other controllers.  @giuseppe Could give more definitive answers.  Since going forward cgroupv2 will become the default, the master branch defaults to systemd.

[2020-09-16 12:13] disaster123 commented on #6368
mhm @rhatdan i'm only using cgroupv2 never used v1.
[code]

podman 1.9.4 worked fine using defaults

podman 2.0.6 stopped working using defaults but works with: ```--cgroup-manager=cgroupfs```

[2020-09-16 13:00] dtitov opened #7656 "restartPolicy doesn't seem to work with `podman play kube`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'd like to achieve the behavior when failed containers (exited with non-zero exit code) are automatically restarted by Podman in a deployment run by `podman play kube`. AFAIK, the default option is `always` (if nothing else is explicitly specified). However, when my container dies (`Exited (

[2020-09-16 13:10] vrothberg commented on #7645
I actually have some cycles now.

[2020-09-16 13:11] vrothberg commented on #7656
Thanks for opening the issue. I am currently working on https://github.com/containers/podman/issues/7645 and consider this to be same issue. I am closing this one here. Feel free to move over to https://github.com/containers/podman/issues/7645.

[2020-09-16 13:14] vrothberg commented on #7656
Sorry. My brain tricked me to mix "restart" and "pull" policy. The issues are different, so I am going to reopen :)

In the meantime, I'll grab a fresh coffee.

[2020-09-16 13:19] vrothberg commented on #7645
Got it. The reason for pulling the image is to be compatible with Kubernetes. Kubernetes [always pull an image](https://kubernetes.io/docs/concepts/containers/images/#updating-images) if it has the `:latest` tag. If you wish to change that, you need to use a different tag.

[2020-09-16 13:20] vrothberg commented on #7645
I am going to close the issue but feel free to comment or re-open if I am mistaken.

[2020-09-16 13:20] #7645 closed

[2020-09-16 13:47] #7652 closed

[2020-09-16 13:50] vrothberg opened #7657 "CLI defaults should come from server not client"
We need to make sure that all CLI defaults that we may inherit from containers.conf are set by the server, not the remote client. See https://github.com/containers/podman/pull/7621#discussion_r489450218 for a discussion on the issue.

[2020-09-16 13:55] mheon commented on #7651
@vrothberg Yeah, this one's pretty serious.

[2020-09-16 14:10] zhangguanzhang commented on #7656
have you try the latest version, such as `v2.0.6`?

[2020-09-16 14:33] afbjorklund commented on #7641
@jwhonce, @mheon : I can confirm that this issue with output buffering goes away after _also_ upgrading the server.

It manifested itself when using 2.0.1-dev/2.0.6, rather than 2.0.1-dev/2.01-dev (2.0.6/2.0.1-dev was still broken/dead)

[2020-09-16 14:35] nalind commented on #4773
I believe so.  There are some things ahead of it in my to-do list, though.

[2020-09-16 15:34] usrbinkat commented on #7645
ah, I see, thank you!

[2020-09-16 16:52] dtitov commented on #7504
If I understand this request correctly, it's about the possibility to achieve Podman's `--userns=keep-id` with `podman play kube`, which is currently not supported by this command (AFAIK). If it's the case, then +1 to the issue, it would be a very useful feature, IMHO.

[2020-09-16 17:14] dtitov commented on #7656
Just tried this:
[code]

Same problem, container failed, but was not restarted:

[code]

[2020-09-16 17:16] dtitov commented on #7656
P.S. You might consider clarifying you issue-template a bit, because `Have you tested with the latest version of Podman`, IMHO, is not quite clear (I thought that you are referring to the latest version available in CentOS 8 repo, which is far behind the actual latest version).

[2020-09-16 17:18] jdockter opened #7659 "podman save capability to remove signatures"
/kind feature

**Description**
When using podman save, via opm tool (which just shells out to podman), we have no way to save images that are signed.
[code]

At just a podman level the same is seen.
[code]

Tried using the policy.json to ignore via https://bugzilla.redhat.com/show_bug.cgi?id=1633482 but that did not work.  Not sure if there is some other option so listed as feature request.

Belie

[2020-09-16 17:19] jdockter commented on #7659
@mtrmac please let me know if there is currently a workaround I should try or if this is a new feature

[2020-09-16 17:40] edsantiago commented on #3761
I searched in-page for `load` and `save`, and don't see any hits, so here's another (possibly unrelated) reproducer:
[code]
So far so good. If we save and reload that same image, Digest changes depending on name vs id:
[code]
I'm half expecting @mtrmac to weigh in with "this is entirely expected" for obscure internal reasons that I will never understand. But as a naïve user who sees one and only o

[2020-09-16 19:20] TomSweeneyRedHat commented on #7651
BZ created:  https://bugzilla.redhat.com/show_bug.cgi?id=1879622

[2020-09-16 20:07] TomSweeneyRedHat opened #7661 "Grab mount flags for systemd work from the host mount"
Per discussion in this PR: https://github.com/containers/podman/pull/7640, we want to grab the flags from the host mount as noted by @mheon [here](https://github.com/containers/podman/pull/7640#discussion_r488848768) and seconded by @edsantiago .

[2020-09-16 22:09] bbros-dev commented on #7484
Apologies - rebuilding my system.  This will take a few days to get back to.

[2020-09-17 00:33] averyfreeman opened #7663 "PSA: Unable to run pod after upgrade from podman:amd64 (2.0.5~2, 2.0.6~2) on Ubuntu 20.04"
**BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

**Steps to reproduce:**

1. Upgrade podman amd64 from 2.0.5\~2 to 2.0.6\~2 via apt/dpkg

2. Reboot machine (not sure if relevant, but was step I took)

3. run pod `$ podman pod start <podname>`

**Received result:**

 `error starting container /proc/16142/ns/pid OCI runtime command not found`

**Expected result:**

podman starting pod

[2020-09-17 01:17] edsantiago opened #7664 "[low pri] podman image umount -a: emits unexpected output"
`podman umount -a` emits one line of output (image ID) for each available image, no matter whether they're mounted, not mounted, never been mounted:
[code]
`podman-image-unmount(1)` does not describe this behavior. I find it weird: it's fine to output an image ID if it was actually mounted, but this doesn't fit into my preconceived expectations. If it *is* the desired behavior, could it be documen

[2020-09-17 06:07] devurandom commented on #4056
Could the [recently described Podman remote client](https://www.redhat.com/sysadmin/podman-clients-macos-windows) be an alternative solution to this, similar to how people mount `docker.sock` into their containers?

[2020-09-17 06:24] ericzolf commented on #7415
@mccv1r0 can you provide your configuration under F31?

[2020-09-17 09:08] dtitov commented on #7656
Just to add some more context to it: my container fails at the first attempt of the initialization. But if, in a couple of seconds, I manually do the `podman restart ...` - it boots up normally. So it is possible to run this container, but Podman doesn't seem to event attempt restarting.

[2020-09-17 09:14] akvadrako commented on #7504
According to the `keep-id` docs, that's not quite enough. It says it's only maps the current UID to the same UID in the container. But my containers are running with (A) user=0 and (B) user=123 (for example), while my UID is 1000. What I want is for container (A), 0 is mapped to 1000, while for container (B), 123 is mapped to 1000.

[2020-09-17 09:27] dtitov commented on #7504
Ah, I see, so you need a more comprehensive kind of mapping...

Well, for my personal use-case it's good enough to just get `--userns=keep-id` implemented in `podman play kube` context. Not use if I need to create a separate request for this, so I'm looking forward to the feedback from devs.

[2020-09-17 09:43] mtrmac commented on #7659
Currently It might be possible to use `podman push --remove-signatures podman save -o $image@sha256:… docker-archive:test.tar` (probably losing some functionality like the ability to add extra tags); I didn’t try in practice.

I agree adding `--remove-signatures` to `podman save` makes some sense. (To an extent, arguably it should be the default for Podman because `podman pull`, in general, breaks

[2020-09-17 09:44] ikke-t opened #7667 "can't set memory limit for user container"
/kind bug

**Description**

I as a user (non-root) fail to start a container with memory limit.

**Steps to reproduce the issue:**

1. I have Fedora IoT up to date system, currently F32

2. command:
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

always

**

[2020-09-17 09:54] haykhovsepyan commented on #7562
cgroup-manager changed to "systemd".

[code]
started work under root. But under rootless unable to start containers:
`Error: unable to start container "d5fde2d8343dc9ad69632dbf13d041532c5f76fd2544e3899e54cc834a43ad6f": sd-bus call: Permission denied: OCI runtime permission denied error`

Systemd version
[code]

On fedora 32 it works with systemd version 243.

Can problem cause of  old systemd vers

[2020-09-17 10:00] ikke-t commented on #7667
forgot to mention, no user specific configs in ```.config/containers/```. Also user is in /etc/subuid and /etc/subgid files.

[2020-09-17 10:07] rhatdan commented on #7562
Older systemd does not handle cgroupV2 at all, we are seeing this issue with RHEL7/Centos7 systemd based containers.  I was not aware of issues with Centos8.  We had some discussions with the systemd maintainers, I guess they do some hacking stuff in systemd-nspawn to attempt to figure out the version of systemd within the container and then setup the environment in cgroup V1 emulation mode.  Not

[2020-09-17 10:09] mtrmac commented on #3761
No, that doesn’t immediately look expected.

(… but it’s close :) The Docker archive format does not have manifests, so it also does not have manifest digests. (c/image manufactures an in-memory manifest for “obscure internal reasons”.) So, it would not be surprising that (`podman save` + `podman load` on a _different_ machine with no images) does not preserve the digest.)

The Docker archive form

[2020-09-17 10:11] giuseppe commented on #7667
how have you logged in?  Through ssh or sudo?

What do you see if you run the command `systemd-run --scope --user echo test` ?

[2020-09-17 10:16] rhatdan commented on #7667
Did you check SELinux?

[2020-09-17 10:58] haykhovsepyan commented on #7562
Are you confirm that systemd version 239 on latest centos 8 OS is not compatibly  with rootless containers cgroupv2 enabled.?
And  what is systemd compatibility version  with rootless podman (cgroupv2 enabled)?

[2020-09-17 11:30] ikke-t commented on #7667
ah, @giuseppe that's it. As this is a fresh user created by ansible for the container, it doesn't have password. While the systemd could not get it started, I switched to user via ```sudo su - user```. That reminds me @rhatdan explaining while back how the uid does not get carried the proper way over sudo.

Now it works. Thanks, I'll close the issue.

[2020-09-17 11:30] #7667 closed

[2020-09-17 12:13] mheon commented on #7656
To verify the policy is not being set correctly, can you provide the output of `podman inspect $CTRNAME | jq '.[0].HostConfig.RestartPolicy' `

[2020-09-17 12:59] dtitov commented on #7656
[code]

[2020-09-17 13:18] rhatdan commented on #7656
I don't see us dealing with this in the Yaml files at all.
Anyone interested in fixing this issue?

[2020-09-17 13:18] rhatdan commented on #7656
@ashley-cui PTAL if no one in the community looks into it.

[2020-09-17 13:18] zhangguanzhang opened #7668 "missing completion"
[code]
version
[code]

[2020-09-17 13:24] Silvanoc commented on #1742
2020-07-27 Podman 2 reached the last stage needed to get into Debian stable: https://tracker.debian.org/news/1163256/libpod-202dfsg1-3-migrated-to-testing/

We will see, if it makes its way to the next stable release. But by having reached "Testing" release it has become usable for most developers using containers (we tend to use "testing" on our development machines) and it will probably get its

[2020-09-17 13:32] mccv1r0 commented on #7415
My `conflist` below.  Here's what I just did on f31.  My global IPv6 address was redacted (I hope, still on 1st cup of coffee):

[code]

With LL address, you don't even need to update the default `conflist`,   Here is what I have added to the default:

[code]

That can be a global IPv6 address provided/delegated to you, or you can use an ULA

[2020-09-17 13:36] #7651 closed

[2020-09-17 13:43] #7543 closed

[2020-09-17 14:15] #7628 closed

[2020-09-17 14:17] rhatdan commented on #7664
Yes it should be cleaned up to match the mount command.  The thing is it could get slow.  Since umount is not guaranteed to fully unmount the mount point.  Since the mount point could be mounted multiple times.  Currently I think
`podman container unmount` and `podman image unmount` are just listing the images that it called unmount on.  I don't think containers/storage gives us an error if a cont

[2020-09-17 14:17] edsantiago opened #7670 "podman build: unknown seccomp syscall `fchmodat2` ignored"
I'm seeing this a lot in podman builds right now; only on master, not on 20.06-1. This is on my f32 laptop:
[code]
Root and rootless.

I'm not sure if it affects anything. I'm seeing problems with pods, and don't know if this is related. Will update as I learn more.

[2020-09-17 14:21] mheon commented on #7670
Is this a crun or runc system, and can you run on a system using the other and see if it happens?

[2020-09-17 14:24] edsantiago commented on #7670
f32, ergo crun. I do not have an easy (< 1 hour) way to bring up a runc system and compile podman.

[2020-09-17 14:27] mheon commented on #7670
@edsantiago If you can compile runc master on F32, it works perfectly well for root containers.

My suspicion is that runc will not display the issue because it was written to be much more tolerant of missing syscalls (due to scenarios like this, where the kernel or libseccomp are too old). If so this would be a crun bug.

[2020-09-17 14:39] edsantiago commented on #7670
Thanks for the tip - that was easy. As you predicted, with `--runtime /path/to/runc`, the warning is gone.

[2020-09-17 15:02] edsantiago opened #7673 "podman pod create --infra-command: does not seem to be working"
I think #7621 may have been incompletely tested?
[code]
master @ 031ddf9c8476202c6b0c810c6c0f6a7a0040c035; rootless on f32

[2020-09-17 15:11] vrothberg commented on #7673
@rhatdan PTAL

[2020-09-17 15:30] edsantiago commented on #7673
FWIW I see one difference between `podman pod create` and `podman pod create --infra-command=/pause`:

This is a normal, good, infra container:
[code]
This is with `--infra-command=/pause` (which should theoretically be a NOP):
[code]

[2020-09-17 16:13] rhatdan commented on #7562
ubi8-init runs fine on cgroups V2 systems.

sh-4.4# rpm -q systemd
systemd-239-31.el8_2.2.x86_64

[2020-09-17 16:13] rhatdan commented on #7562
[code]

[2020-09-17 18:14] #7668 closed

[2020-09-17 19:21] riyad commented on #5386
I have the same issue as in https://github.com/containers/podman/issues/5386#issuecomment-641564961

Using Ansible's `docker_container` (using the [docker python package](https://pypi.org/project/docker/)) task fails with the same error: `fatal: [test]: FAILED! => {"changed": false, "msg": "Docker API version is 1.0.0. Minimum version required is 1.20."}`

Intrigued by https://github.com/container

[2020-09-17 21:08] riyad opened #7682 "/version API endpoint reports wrong ApiVersion and MinAPIVersion"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The REST API is supposed to be compatible with Docker's API version 1.40, but it reports version 1.0.0.
This trips up certain client libraries (most notably https://github.com/docker/docker-py and by extension Ansible) which currently require a minimum API version of [1.21](https://github.com

[2020-09-17 21:09] riyad commented on #5386
I've separately reported this in #7682.

[2020-09-17 21:14] jwhonce commented on #7682
This was fixed in https://github.com/containers/podman/pull/7642

[2020-09-17 21:14] #7682 closed

[2020-09-17 22:01] wkrea opened #7683 "Dotnet webapi doesn't compile on fedora 32 podman"
[code]

# Dotnet webapi doesn't compile on fedora 32 podman

When I just try to compile a webapi project created from CLI, i'm getting this message:

Be as descriptive as you can with your title.

# General

I'm using podman online for testing purpose. I won't break my personal stable configuration on my OS; it just a simple test!!!, however not works like as [documentation says here!!!](https://d

[2020-09-17 22:15] havok4u opened #7684 "Pods replayed from generated file is broken with volumes"
/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Results in the pod not running with the following reason
[code]

**Describe the results you expected:**
The pod and container that was described in the yaml file from the original should have manifested and been running

**Additional information you deem important (e.g. issue happens only

[2020-09-17 22:35] omajid commented on #7683
With my Fedora .NET Core package maintainer hat on, the bug is not in `podman`. It probably can be worked around in `toolbox`. But the real culprit is .NET Core/msbuild, as I say in the linked .NET Core issue.

[2020-09-18 01:30] zhangguanzhang opened #7685 "[makefile] - /bin/sh: c: command not found"
[code]

[2020-09-18 01:58] mirandadam commented on #7440
Hello, having a similar problem here on CentOS 8. Should I open a new issue? It seems there is some still undiscovered underlying motive for those breakages, since they keep coming back.

Excerpt of error message follows. Full output can be provided if requested.

[code]

[2020-09-18 02:19] mirandadam commented on #7440
Update: The Centos_8_stream repo works fine. Centos_8 (not stream) gives above error.

[2020-09-18 06:45] haykhovsepyan commented on #7562
It works under root user. But under rootless:

[code]

[2020-09-18 07:21] vrothberg commented on #7683
Thanks for opening and the issue! Based on the last comment, I will close the issue as it appears to be unrelated to Podman.

[2020-09-18 07:21] #7683 closed

[2020-09-18 09:01] Edward5hen opened #7686 "APIv2 pull: response body is different from the DOC"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
I just pull the latest code and build podman. When I use pull feature by APIv2, I got a different response body than the DOC says - http://docs.podman.io/en/latest/_static/api.html#operation/libpodImagesPull. I tried it this months ago, the result was following the DOC.

**Steps to reproduce th

[2020-09-18 10:00] vrothberg commented on #7686
@jwhonce PTAL

[2020-09-18 10:15] #7673 closed

[2020-09-18 10:19] #7656 closed

[2020-09-18 11:00] vrothberg commented on #7501
Can you share the contents of `/home/pi/.config/containers/storage.conf`? Did you try removing the config?

[2020-09-18 12:50] lsm5 commented on #7440
@mirandadam I'm able to install podman on a fresh centos_8 (Not stream) just fine using the install steps.

If a `dnf clean all` alone doesn't help, I'd suggest this:
[code]

If that doesn't help either, I guess this is probably an OBS issue and would need to be reported there.

[2020-09-18 13:00] vrothberg opened #7689 "podman-remote stats - not implemented yet"
stats for the remote client is not yet implemented, and I believe it should.

As soon as https://github.com/containers/podman/pull/7688 is merged, we have a good working base.

[2020-09-18 13:05] vrothberg commented on #7476
I am taking a look at the code to see what we can do.

[2020-09-18 13:33] mheon commented on #7562
How did you log into that user - using `sudo` or `su`? Those two both don't create a full user session, and as such the user's systemd instance won't be available.

[2020-09-18 13:37] haykhovsepyan commented on #7562
I use login session just from ssh  user, not su - user.
just for note:

[code]

[2020-09-18 13:46] rhatdan commented on #7685
Works for me on Fedora 33
[code]

[2020-09-18 13:46] #7196 closed

[2020-09-18 13:47] rhatdan commented on #7684
Interested in opening a PR to fix this?

[2020-09-18 13:51] mheon commented on #7684
@havok4u Can you provide the `podman inspect` of a working container from `podman run` as well? We can then diff the output of both and see what `play kube` did differently

[2020-09-18 14:07] haykhovsepyan commented on #7562
Maybe problem related with user systemd instance? I found the following problem also.

[code]
https://bugzilla.redhat.com/show_bug.cgi?id=1764282
It's not been fixed by Redaht yet. The fix is scheduled for 8.4.

but I'm not sure if this is the problem

[2020-09-18 14:11] zhangguanzhang commented on #7685
[code]

[2020-09-18 14:24] lsm5 commented on #7440
Closing..

[2020-09-18 14:24] #7440 closed

[2020-09-18 14:54] afbjorklund commented on #7685
Most likely you don't have python installed ?

[code]

Reproducer:
[code]

[2020-09-18 15:08] psgreco opened #7693 "REST API docker-compat, gitlab-runner"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

gitlab-runner fails to run tasks using the docker compatible API

**Steps to reproduce the issue:**

1. install gitlab-runner for your distro

2. register gitlab-runner so it can run the jobs (gitlab-runner register -n -u "https://gitlab.com/" -r "<project key>" --name "builderpodman" --execu

[2020-09-18 15:11] zhangguanzhang commented on #7685
yes, maybe need a nice remind in the Makefile

[2020-09-18 15:39] baude commented on #7693
@psgreco any chance we could talk on IRC about this one ?

[2020-09-18 15:46] baude commented on #7234
I have looked at the code and had @mheon double check.  We can conclude that the failure to setup, execute, and remove a healthcheck is not fatal.  It is logged as a logrus (i.e. log only).  I think something else might be failing and those messages are a red herring?

anyways, closing for now. re-open if you dont buy my explanation or open a new issue if there is something else.  thanks for the e

[2020-09-18 15:56] psgreco commented on #7693
Sure, ping me on #podman or PM (pgreco on irc)

[2020-09-18 17:27] jwhonce commented on #7686
@Edward5hen My bad.  I'll have a PR soon to restore expected behavior and include the new Images field as well.

[2020-09-18 20:55] mirandadam commented on #7440
Indeed, I can no longer reproduce the problem today. I did try "dnf clean all" yesterday before my first post, and I also tried with a fresh vm, I should have mentioned that. Also CentOS_8_stream doesn't work today anymore and gives "Error: Unable to find a match: podman".

Thanks for the super fast reply and the troubleshooting tips, @lsm5 ! If it happens again I will open an issue as you suggest

[2020-09-19 11:26] riyad commented on #7682
Hah! ... awesome. :smile:

[2020-09-19 11:39] shrub77 commented on #7501
@vrothberg No such file exists on my system

[2020-09-19 14:28] AkihiroSuda commented on #7618
Seems hanging here: https://github.com/containers/podman/blob/852943516606f32ccc2406f41bcf3df42d7c622c/vendor/github.com/rootless-containers/rootlesskit/pkg/port/builtin/parent/tcp/tcp.go#L58

[2020-09-19 14:44] AkihiroSuda commented on #7618
This happen when `lo` interface inside the container isn't brought up for some reason.
So rootlesskit and slirp4netns are probably innocent :)

@vrothberg @giuseppe @rhatdan PTAL?

[2020-09-19 15:34] AkihiroSuda commented on #7618
PR: https://github.com/containers/podman/pull/7698

[2020-09-19 16:54] djnotes opened #7699 "Error initializing source docker://localhost/myapp:latest"
I generated a pod description using `podman generate kube mypod > mypod.yaml` from two containers (one local image and the other is mariadb). Now I want to deploy the pod using this description by using `podman play kube mypod.yaml`, but I get the following error:

  Get "https://localhost/v2/": dial tcp [::1]:443: connect: connection refused
Error: unable to pull localhost/myapp:latest: Error ini

[2020-09-19 19:19] wwilson commented on #7061
I've upgraded to Podman 2.0.6, and this problem looks like it is still very much a problem.

[2020-09-19 19:20] wwilson commented on #7061
What's the right way to reopen this? I'll try to collect the debugging info @mheon was looking for.

[2020-09-19 19:28] wwilson commented on #7061
Pretty weird -- I ran with `--log-level=debug` as suggested, and there is *nothing* from the shutdown process getting printed at all. Last things I see are:

[code]

[2020-09-19 19:39] TomSweeneyRedHat commented on #7061
@wwilson thanks for the follow-up.  To reopen, you need to click on the "Reopen and comment" button.  However, I think that only shows up for members of the "Containers" organization and the reporter of the issue.  I'll go ahead and reopen the issue for you assuming that the button is not being displayed.

[2020-09-20 16:19] Luap99 opened #7701 "podman run --volumes-from is parsed incorrectly"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. `id=$(podman run -v test:/test -d alpine touch /test/abc)`

2. `podman run -v ${id}:z,rw alpine ls /test`

**Describe the results you received:**
`Error: error looking up container "rw" for volumes-from: no container with name or ID rw found: no such container`

**Describe the results you expected:**
`abc`

**master** @  85294351660

[2020-09-21 05:13] PavelSosin-320 opened #7703 "Can't upgrade podman from version 1.6.4 to newer version."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
@greenpau

/kind bug

**Description**

I use the old podman version containing various bugs but  can't upgrade podman using dnf on CentOS8 in any way
**Steps to reproduce the issue:**

I have podman ver 1.6.4 installed on Centos 8.1
1. My installed podman version check:
dnf info podman.x86_64 shows
Version      : 1.6.4
R

[2020-09-21 06:56] zhangguanzhang commented on #7703
please try this
[code]

[2020-09-21 07:44] PavelSosin-320 commented on #7703
Thanks a lot! Upgraded to 2.0.6

[2020-09-21 07:44] #7703 closed

[2020-09-21 08:55] biji commented on #6389
@llunved please share your `limits.conf`
thanks

[2020-09-21 09:44] Poor12 opened #7704 "Podman run error in non-root mode: "user namespaces are not enabled in /proc/sys/user/max_user_namespaces""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman run well in root-mode, however run error in non-root mode except --help.
Error is below:
cannot clone: Invalid argument
user namespaces are not enabled in /proc/sys/user/max_user_namespaces
Error: could not get runtime: cannot re-exec process

**Steps to reproduce the issue:**

1.switc

[2020-09-21 10:51] vrothberg commented on #7699
Do you have a registry running on `localhost`?

[2020-09-21 11:21] AkihiroSuda commented on #7704
CentOS 7 requires running `echo “user.max_user_namespaces=10000” > /etc/sysctl.d/42-rootless.conf` and `sysctl --system` as root

[2020-09-21 11:23] jskov-jyskebank-dk opened #7705 "Unattended Image signing"
/kind feature

**Description**

I would like to be able to do unattended image signing with podman - getting the signature passphrase from file/fd.

With gpg I can do something like this:

[code]

to sign something (unattended) using secrets from the filesystem.

It would be nice with something similar for podman (or buildah/skopeo).

[2020-09-21 11:26] djnotes commented on #7699
No. I don't think. I never run registries on localhost. I didn't do it with Docker. Is it necessary with Podman?

  On Mon, Sep 21, 2020 at 14:22, Valentin Rothberg<notifications@github.com> wrote:

Do you have a registry running on localhost?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-21 11:32] vrothberg commented on #7699
The yaml is referencing ` image: localhost/myapp:latest` which is why Podman tries to pull the image.

I assume the image exist on disk, does it? Podman behaves like Kubernetes where images with the `latest` tag are always being pulled. Changing the tag to something other than `latest` should solve the issue.

[2020-09-21 11:45] jskovjyskebankdk commented on #7705
Maybe people just make signatures without password?

That seems to allow unattended signing.

[2020-09-21 12:06] #7701 closed

[2020-09-21 12:08] ensc opened #7706 "RFE: add '--userns=...' option to 'pod create' command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Please add the  '--userns=xxx' option to `podman pod create` so that it is possible to create (fully working) containers within a pod.

E.g. atm (podman-2.0.6-1.fc32.x86_64) it is not possible to do

[code]

(--> fails with "bind: Permission denied") while the same for a single container

[2020-09-21 12:21] vrothberg commented on #7501
Thanks for checking. Can you install `fuse-overlayfs`? This allows Podman to use the overlay driver even as an ordinary non-root user.

Also, could you retry as root user. The output from https://github.com/containers/podman/issues/7501#issuecomment-692918352 (i.e., "manifest unknown") suggests that the image didn't exist. Maybe a typo.

[2020-09-21 12:34] rhatdan commented on #7546
This should have been fixed in storage here https://github.com/containers/storage/pull/713/commits/3c3285331d220e5571a82f96444db8e3e0c6a875
Which has been vendored into master.

[2020-09-21 12:34] #7546 closed

[2020-09-21 12:35] rhatdan commented on #7546
Should be fixed in 2.1

[2020-09-21 12:40] rhatdan commented on #6368
@giuseppe Is this just a case of not a full login session?

[2020-09-21 12:45] djnotes commented on #7699
Seems like it worked. Thanks. Interesting to see just a latest tag was confusing Podman.

  On Mon, Sep 21, 2020 at 15:02, Valentin Rothberg<notifications@github.com> wrote:

The yaml is referencing  image: localhost/myapp:latest which is why Podman tries to pull the image.

I assume the image exists on disk, does it? Podman behaves like Kubernetes where images with the latest tag are always being

[2020-09-21 12:51] rhatdan commented on #4773
I have been told that the SUSE build servers might be a possibility for this?

[2020-09-21 12:52] havok4u commented on #7684
@mheon Here is the inspect data of a working mysql
[code]
[code]

[2020-09-21 12:56] vrothberg commented on #7699
Thanks for checking!

@rhatdan @haircommander, I've seen frequent confusion around the `:latest` auto-pull behaviour. Can we log that on stderr to make it more obvious? I feel that debugging this behaviour can easily lure into rabbit holes.

[2020-09-21 13:52] rhatdan commented on #5386
Well a fix for this has been merged, does this make this any better?

[2020-09-21 14:04] ashley-cui commented on #6097
Any container that joins the a slirp pod would also has slirp as the network mode, correct?

[2020-09-21 14:05] djnotes commented on #7699
There is another problem maybe needing its own issue. The mariadb container started by the yaml exits with 1 with this error:

2020-09-21T13:57:40.415413Z 0 [ERROR] [MY-010123] [Server] Fatal error: Please read "Security" section of the manual to find out how to run mysqld as root!
2020-09-21T13:57:40.415474Z 0 [ERROR] [MY-010119] [Server] Aborting
2020-09-21T13:57:40.416018Z 0 [System] [MY-010910

[2020-09-21 14:15] vrothberg commented on #7699
Does the yaml work in K8s?

[2020-09-21 14:21] nalind commented on #4773
If I'm reading https://en.opensuse.org/openSUSE:Build_Service_supported_build_targets#Supported_processor_platforms right, it'd be broader than what we have now.

[2020-09-21 14:33] #7521 closed

[2020-09-21 14:38] rhatdan commented on #7562
@giuseppe PTAL

[2020-09-21 14:41] rhatdan commented on #7685
Please open a PR to fix this.

[2020-09-21 14:43] zhangguanzhang commented on #7685
My knowledge of makefile is very weak

[2020-09-21 15:33] mheon commented on #6097
The containers except the infra container should not be different - the containers, except the infra, will still join the infra container's network namespace.

[2020-09-21 18:38] #7618 closed

[2020-09-21 19:05] #7704 closed

[2020-09-21 19:11] rhatdan commented on #7705
@QiWang19 @mtrmac PTAL

[2020-09-21 19:32] cevich opened #7713 "unknown seccomp syscall `fchmodat2` ignored"
/kind bug

**Description**

In CI tests using freshly updated VM images, I'm seeing many `podman logs` test failures.  All of them seem to execute `podman run ...` fine, but the subsequent `podman logs` shows the error:

```unknown seccomp syscall `fchmodat2` ignored```

**Steps to reproduce the issue:**

1.  Execute CI tests using images with suffix c6106205175152640

**Describe the results you r

[2020-09-21 19:34] cevich commented on #7713
This issue is most certainly the same as https://github.com/containers/crun/issues/496

[2020-09-21 19:56] rhatdan commented on #7685
@edsantiago @nalind Do you have any ideas.  I tried some stuff out but hit a roadblock.

I was thinking something like:

[code]
But I can not get it to work properly.

[2020-09-21 20:19] rhatdan commented on #7713
I am removing fchmodat2 from seccomp.json in containers-common.

[2020-09-21 20:20] #7686 closed

[2020-09-21 20:26] edsantiago commented on #7685
@rhatdan `s/""//` (i.e. `ifneq (, ...`)

[2020-09-21 20:53] marcpawl commented on #7497
If you implement this, a flag to indicate that partial layers are being cached, and therefore worst performance/space, would be acceptable. e.g. --cache-layers, or --cache-layers-dir=<dir> or ....

I was thinking you could do something like pull the compressed/encrypted file and store it all on disk until it is all copied.  And then use the disk copy as the source instead of the network.  (Wild id

[2020-09-21 21:02] djnotes commented on #7699
I don't have access to a K8s environment on Fedora. I will try it on Mac's Kubernetes and post the update on that.

[2020-09-21 21:27] djnotes commented on #7699
I found that the problem was using the command key in the yaml file. Removed that and a lot of useless environment variables and the issue is gone. However, I have problem mounting a volume which I suspect is due to Selinux.
Here's the error:

  2020-09-21 21:24:21+00:00 [Note] [Entrypoint]: Switching to dedicated user 'mysql'
  2020-09-21 21:24:21+00:00 [Note] [Entrypoint]: Entrypoint script for

[2020-09-22 05:54] afbjorklund commented on #7685
Or just set `PYTHON=python`, if python3 is not found ?

But then it won't have the friendly message, just CNF

[2020-09-22 09:30] vrothberg commented on #7699
@haircommander, do you know?

Note that I am going to close the issue as the initial issue has been resolved. But we can continue the conversation here.

[2020-09-22 09:30] #7699 closed

[2020-09-22 13:01] rsommer opened #7722 "APIv2: container list limit handling seems to differ from docker-API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While trying out podman API with traefik, I came across differences in API behaviour:

**Steps to reproduce the issue:**

1. podman --log-level debug system service -t 0
2. podman run  nginx
3. curl -s --unix-socket /var/run/user/1000/podman/podman.sock "http://v1.24/containers/json?limit=0"

[2020-09-22 13:11] rhatdan opened #7723 "podman-remote load from directory is broken."
Easy to test Just remove SkipIfRemote from tests/e2e/load_test.go

[2020-09-22 13:11] mheon commented on #7722
@ParkerVR Mind taking this one?

[2020-09-22 13:12] rhatdan commented on #7723
Failing with an error that looks like:

[code]

[2020-09-22 13:35] haircommander commented on #7699
@djnotes if you want to mount a volume onto the host, you can specify a hostpath volume:
https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

but that doesn't seem like the problem, as you don't have the volume specified in the yaml. that means this `/docker-entrypoint-initdb.d/` should be in the rootfs of the image, and should have been labelled.

sanity check: have you tried disabling

[2020-09-22 14:12] djnotes commented on #7699
Sorry I forgot to update the code. The final yaml that has permission issue is this:

[code]

[2020-09-22 14:18] rsommer commented on #5580
It's not just the output of `podman inspect` that is different, the network settings seem to be missing in the podman APIv2, too.
docker-API:
[code]

podman-API:
[code]

[2020-09-22 14:34] cevich commented on #7713
@rhatdan thanks, yep I'm watching.  Soon as that's ready and packaged, I can rebuild the images to incorporate it.

[2020-09-22 14:50] fatherlinux opened #7726 "Podman manifest inspect doesn't work with existing images"
/kind bug

**Description**

Podman manifest inspect only works with manifests created with podman, not with manifests that are created with docker and other tools. This can be tested by trying any image on a registry server.

**Steps to reproduce the issue:**

Any of these three commands will fail:

podman manifest inspect docker.io/library/busybox

podman manifest inspect registry.access.redhat.c

[2020-09-22 15:42] max-arnold commented on #5580
Yes! The output of `podman inspect` is not really that important. It is the APIv2 response that is not compatible with the existing Docker API and 3rd party tools that rely on `docker-py`

[2020-09-22 15:56] jerboaa commented on #6365
@rhatdan @mheon It doesn't look to me it's possible to run containers *with* a memory limit, but *without* swap accounting (`swapaccount=0`) on cgroups v2. So it sounds like this issue should get reopened?

[code]

[2020-09-22 16:04] #7685 closed

[2020-09-22 16:31] QiWang19 commented on #7726
I'll take a look.

[2020-09-22 16:32] jerboaa commented on #6365
Using sysinfo doesn't seem sufficient. It's only working in conjunction with `swapon/swapoff`:

[code]

Would it be reasonable to check `/proc/cmdline` for `swapaccount=0`? I guess this wouldn't account for `CONFIG_MEMCG_SWAP` disabled in the kernel, but that's less likely in the wild.

[2020-09-22 16:39] jerboaa commented on #6365
I don't have permissions to reopen this issue, fwiw.

[2020-09-22 17:43] #7347 closed

[2020-09-22 17:45] bobvandette commented on #6365
Why can't you just verify that the file memory.swap.max exists before trying to write it?
There's logic in sysinfo_linux.go that is already verifying memory.memsw.limit_in_bytes to see if SwapLimit is enabled.  I assume this is only used on cgroupv1 systems.

[2020-09-22 17:51] lsm5 commented on #7650
So, I'm unable to reproduce this locally on debian 10, but couple of pointers from @mheon:

Either:
1. you logged into a non-root user in in such a way that pam/systemd did not make a session - e.g. via `su username` or similar

OR
2. the systemd user session is down or maybe never started?

[2020-09-22 17:53] disaster123 commented on #7650
@lsm5 yes i'm using "su - $user" - but i did the same while using 1.9.4 - i can also downgrade to 1.9.4 and it immediately starts to work again.

[2020-09-22 18:03] lsm5 commented on #7650
@mheon was this ever supposed to work and we broke it recently?

@disaster123 i'm in the process of building 2.1.0, I suggest you give that a try once it's ready as well.

[2020-09-22 18:16] mheon commented on #7650
I'm astonished this ever worked, honestly. I guess that it was using cgroupfs by default on v1.9.x and v2.0.x is (correctly) defaulting to systemd cgroups for cgroupsv2. You can try `--cgroup-manager cgroupfs` to see if it goes back to working.

I strongly suspect your systemd user session isn't running, which would be the better fix as it would actually allow cgroup delegation for the containers.

[2020-09-22 18:18] disaster123 commented on #7650
@mheon that would make sense. Yes `--cgroup-manager cgroupfs` seems to work. Is there any way to get the user session running without using ssh to switch the user? Also it seems the debian 10 systemd is too old (https://github.com/containers/podman/issues/6368)?

[2020-09-22 18:26] rhatdan commented on #6365
Podman does not currently have logic for this, and it could get complicated supporting CGroups V1 and V2.

[2020-09-22 18:51] anishp55 commented on #7650
@disaster123 do you have the dbus-user-session package installed in your debian?

[2020-09-22 18:54] disaster123 commented on #7650
yes

[2020-09-22 19:12] disaster123 commented on #7650
Same problem with v2.1.0 and even with ssh to user and running user session. (Error: sd-bus call: Permission denied: OCI runtime permission denied error) - i think this is related to old systemd => #6368)

[2020-09-22 20:07] anishp55 commented on #7650
if you think its because of old systemd, can you try installing a newer one from buster-backports?  I am using Debian 10 with cgroupv2 and systemd as the cgroup manager for podman.

[2020-09-22 21:11] edsantiago commented on #7650
Also try (as root): `loginctl enable-linger YOUR-USERNAME`.

[2020-09-22 22:07] Foxboron opened #7736 "versionInfo.APIVersion wrong type in ReplyGetVersion"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building the project seems to give some errors in the varlink API.

[code]

It's unclear to me if this is a build system issue or a mistake in the API usage.

**Steps to reproduce the issue:**

1. `git clone`

2. `git checkout v2.1.0`

3. `make BUILDTAGS='seccomp varlink systemd'`

**Describe

[2020-09-22 22:24] Foxboron commented on #7736
Ah, apologies. I didn't search the correct thing and it seems like #7734 fixes it.

[2020-09-22 22:24] #7736 closed

[2020-09-22 23:05] bluebrown opened #7738 "How to connect to pod started from deployment definition"
/kind Question

Hi,

I am trying out the new feature of running a deployment definition. Before when I was using a created pod, I could assign an IP address to this pod. `podman pod create --name my-pod -p 8080:80`.

The pods from the deployment file don't seem to expose a port and I can't find any documentation on this.
In Kubernetes, it looks like it is usually paired with a top level service de

[2020-09-23 01:15] zhangguanzhang commented on #7738
could you paste the output of `podman version`?

[2020-09-23 05:34] zhangguanzhang commented on #7738
you could use the hostPort
[code]

[2020-09-23 07:13] rsommer opened #7740 "podman/docker compatibility during volume creation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When a named volume is created via docker and the volume does already exist, no error ist returned. podman on the other hand returns `Error: volume with name test already exists: volume already exists`

**Steps to reproduce the issue:**

docker:
[code]

podman:
[code]

**Describe the results y

[2020-09-23 08:16] daniel-wtd opened #7742 "Podman play kube ignores Limits"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

It seems like some Attributes/Paramaters in a kubernetes deployment.yaml are ignored in podman. I was able to identify
the following behaviour.

**Steps to reproduce the issue:**

1. Create a file (deployment.yml) with the below content

[code]

2. Run `[sudo] podman play kube deployment.yml`

[2020-09-23 08:45] abitrolly opened #7744 "Hot pausing containerized process to cut startup/init time"
/kind feature

**Description**

One shot container images are slow, because they don't cut initialization and warmup times. Especially for things like Python. It would be much more beneficial if the image could include the process that is already loaded into memory and did some initialization work on its own. The process that waits for the next external io operation to proceed. External io operati

[2020-09-23 10:43] mohd-akram commented on #6253
I came across this bug as well. Is it possible to also print a newline when detaching? Docker prints `read escape sequence` to stderr which adds a newline, avoiding this: `root@d6d95918c007:/# [user@host ~]$ `.

[2020-09-23 12:48] edsantiago opened #7746 "[flake] remote,rootless: create+start+ps: container does not exist in database"
In window 1:
[code]
In window 2:
[code]
It's a flake (race condition): don't expect it to happen every time. For me it's one out of 3-5 runs on my laptop.

Rootless only, AFAICT: I could not get it to reproduce with `P() { sudo ...}`.

master @ 5cedd830f7275e8dc3382502908b846bfa57a3b8 on f32.

While I'm at it, the error message is different between `podman` and `podman-remote`, does this matter?
[

[2020-09-23 12:57] srcshelton opened #7747 "'--cap-drop ALL' broken in podman-2.1.x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a root-executed container run with argument '`--cap-drop ALL`' which has worked as anticipated with all `podman-2.0.x` releases.  However, with `podman-2.1.0` (and the latest `seccomp.json` from containers/common) on launch I get:

[code]

... which goes away if I _downgrade_ back to `

[2020-09-23 13:05] rhatdan commented on #7742
Interested in opening a PR to fix this?
@zhangguanzhang @ashley-cui @haircommander Anyone else interested in fixing this?

[2020-09-23 13:24] yangm97 opened #7748 "events.log grows indefinitely and starves /run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If your host has too much podman events before rebooting (i.e. a faulty container keeps restarting) eventually `/run/libpod/events/events.log` is going to fill up the whole `/run` mount and cause system instability.

**Steps to reproduce the issue:**

1. Have container managed by systemd with

[2020-09-23 13:25] mheon commented on #6253
Can you open a fresh bug about that? But sure, that should be doable.

[2020-09-23 13:29] adrubesh opened #7749 "Rootless podman cannot pull image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `podman pull IMAGE` I am getting the following message:
[code]
This happens regardless of what image I am pulling.  This does NOT happen as root.  This happens if executing `podman run` as well.

**Steps to reproduce the issue:**

1. Run `podman pull IMAGE`

**Describe the result

[2020-09-23 13:41] zhangguanzhang commented on #7742
I think I can fix this problem, but I am busy recently. If others are busy, I will fix this problem later.

[2020-09-23 13:41] rhatdan commented on #7740
Do you think this is a bug in Docker? Does not see proper to not return an error when something already exists. I checked their man page and it does not mention this behaviour?

[2020-09-23 13:42] mheon commented on #7747
Hm. Can't reproduce over here.

@rhatdan @baude @vrothberg Can anyone else try?

[2020-09-23 13:46] mohd-akram opened #7751 "Detaching from container doesn't print newline"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `podman run -it fedora /bin/bash`

2. Press `ctrl-p` `ctrl-q` to detach

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally)

[2020-09-23 13:59] rhatdan commented on #7744
Why not have the container loaded and running python in sleep mode, then exec into the container and run your python commands, would this satisfy your needs?

First build an image with python installed and call it python.
[code]
# podman run -d --rm --name quickpython python  python -c "import signal; signal.pause()"
[code]
# time podman exec quickpython python -c "print('this should be faster')"

[2020-09-23 14:05] mheon commented on #7744
I think this is also possible right now with checkpoint/restore - you'd checkpoint-export a container with a Python VM set up and idle, and then restore as many copies as you want from that snapshot, having them come back up in a good state to begin working.

[2020-09-23 14:27] rhatdan commented on #7749
What does

$ podman unshare car /proc/self/uid_map

Show?

You might need to
podman system migrate

[2020-09-23 14:29] rhatdan commented on #7747
If you disable seccomp does it work?

[2020-09-23 14:34] adrubesh commented on #7749
@rhatdan

[code]

So I `dnf -y install ucommon-bin` and re-ran the image pull. Didn't work.

`podman system migrate` showed no output and the result is the same. Not working.

[code]

[2020-09-23 14:36] adrubesh commented on #7749
Sorry, didn't rerun the original command after installing car deps:
[code]

[2020-09-23 14:37] abitrolly commented on #7744
Need to see how it can speed up https://github.com/heroku/heroku-buildpack-python

[2020-09-23 14:43] edsantiago commented on #7747
I have a Gentoo system also, 5.4.60-gentoo, libpod-2.1.0 as of this morning, and cannot reproduce this:
[code]

[2020-09-23 14:45] edsantiago commented on #7749
That was a typo, he meant 'cat'

[2020-09-23 14:54] adrubesh commented on #7749
@edsantiago  Thanks,

[code]

[2020-09-23 15:04] rhatdan commented on #7749
Sorry about the typo.
This means that you are not entering the user namespace. And therefore only have one UID to use.

Could you make sure you do not have any podman processes running on your system?
And check the permissions on
newuidmap

[code]

[2020-09-23 15:14] adrubesh commented on #7749
[code]

[2020-09-23 15:36] rhatdan commented on #7749
So something is wrong with your fedora install.

sudo dnf -y reinstall shadow-utils
filecap /usr/bin/newuidmap
Should show setuid.

[2020-09-23 15:40] bluebrown commented on #7738
@zhangguanzhang, thanks that was the missing piece.

If there needs to be some documentation written on this, I would be happy to contribute.

[2020-09-23 15:42] adrubesh commented on #7749
Reinstalled and still not working :(

[code]

[2020-09-23 15:47] mheon commented on #7749
Can you check `filecap /usr/bin/newuidmap` again?

[2020-09-23 15:47] mheon commented on #7749
Also - can you try a `podman system migrate`?

[2020-09-23 15:50] rhatdan commented on #7749
The do the `podman unshare cat /proc/self/uid_map`  And see if it has more mappings.

[2020-09-23 15:51] adrubesh commented on #7749
[code]

[2020-09-23 15:52] mheon commented on #7749
OK, things seem good now - I imagine the pull will work now.

[2020-09-23 16:02] rsommer commented on #7740
The man page of `docker-volume-create` states: _Multiple containers can use the same volume in the same time period_ - so I would assume, that two or more containers could require that a specific volume exists and that it could be ok to call `create` again with the same name. I just came accross the difference in behaviour that renders the gitlab-runner useless when using the podman service  inste

[2020-09-23 16:11] adrubesh commented on #7749
BAM!
[code]

It works. Thanks guys. If you have a minute, for my own edification, could you explain how & why this solution worked and how you managed to know what to check? I'm usually pretty good at troubleshooting these things and put a few days into this before coming here. Google didn't help at all.

[2020-09-23 16:35] rhatdan commented on #7749
"there might not be enough IDs available in the namespace (requested 0:42 for /etc/gshadow): lchown /etc/gshadow: invalid argument"

Tells us that the User Namespace is not setup correctly.

Usually look at cat /etc/subuid and podman unshare cat /proc/self/uid_map.  I have seen situations in the past where newuidmap has lost its file caps, although I do not know why.

[2020-09-23 16:35] #7749 closed

[2020-09-23 16:44] rhatdan commented on #7740
Sure, but you could make the arguments about creating a directory.

mkdir /tmp
mkdir: cannot create directory ‘/tmp’: File exists

What happens in Docker if I change the options?

[code]

[2020-09-23 16:48] rhatdan commented on #7740
Does `docker network create`, `docker container create`, `docker config create`, `docker service create`
All work the same way?

[2020-09-23 17:32] fdegir opened #7755 "Pulling container images using unqualified names from local registry"
/kind question

**Description**

We are working on bringing local registry for our community to avoid hitting retention and download rate limits that have recently been announced by Docker Hub. We brought up registry using [Harbor](https://goharbor.io/) and set up proxy for Docker Hub. Due to limitations of specifying proxy repo in a good way with docker client, we thought of switching to podman w

[2020-09-23 18:09] edsantiago commented on #6518
This is still happening. Recent failures:

  * PR #7698
    * [09-21 07:34](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5900828428992512/html/integration_test.log.html)
  * PR #7697
    * [09-19 06:45](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6347992624005120/html/integration_test.log.html)
  * PR

[2020-09-23 18:56] baude commented on #7748
if your podman is built with systemd, you may find that using the `journald` event logger would handle this better? it can be set permanently in the containers.conf file.

[2020-09-23 19:56] psaini79 opened #7757 "How to pass --cgroup-parent to podman container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am testing my application with podman and trying to change the parent group mount point to /docker. By default, PODMAN provides /machine.slice/libpod-* but I want some other cgroup mount. I tried using the following but it is not working:

[code]
The above command kept on failing. How can I

[2020-09-23 20:07] rsommer commented on #7740
The behaviour is inconsistent. `docker network create` for example _does_ throw an error if the network already exists.

[2020-09-23 20:59] psaini79 commented on #7757
Further update on this, I tried following and able to create the container but it is failing on start:

[code]

[2020-09-24 00:19] TomSweeneyRedHat opened #7764 "Validate Split() calls using an = sign to split on are doing what we hope"
As recently found in #7759, we had a problem where a `strings.Split(variable, "=")` was splitting into arrays larger than 2 members due to multiple equal signs in the variable and only the first one should have been split upon.  A grep search is listed below showing the instances in Podman.  Make sure that the variables don't have any equal signs within them that should not be split upon and adjus

[2020-09-24 01:01] zhangguanzhang commented on #7738
I think you shuold configure the nginx to proxy the tomcat

[2020-09-24 02:44] srcshelton commented on #7747
By adding `--security-opt=seccomp=unconfined`?

[2020-09-24 02:59] srcshelton commented on #7747
Interesting - I'm running kernel 5.8.9 and running:

[code]

... works as expected.  But running:

[code]

(e.g. the same thing with a different image) causes the above error and leaves the container in `Created` state (meaning that the container was never entered?)

*But* the same image works correctly with `podman-2.0.6`.

The above `security-opt` argument seems to make no difference, so this mi

[2020-09-24 03:04] srcshelton commented on #7747
As a side-note, even with `podman-2.1.0`, leaving out the '`--cap-drop ALL`' also allows the container to run as expected:

[code]

[2020-09-24 06:14] bluebrown commented on #7738
No, it's not that. When I only start nginx, I don't see anything. The reason why this happens is that tomcats default port is 8080 and the pod is mapping this and not port 80 to 8080 from the nginx container.  In a more complex setup I have the proxy configured but I wanted to keep it simple for this exercise.

[2020-09-24 07:47] djnotes opened #7765 "Cannot use resource limits when running containers"
I am trying to run containers with CPU or memory limits, the container fails to start:

Command:
[code]

The error:

System information:
OS: Fedora 32

Seems like there is a problem with my Podman installation or configuration. Should I reinstall Podman or do a reset or something?

Update:

I just found in Podman [docs](http://docs.podman.io/en/latest/markdown/podman-run.1.html):

What I understan

[2020-09-24 07:52] Fodoj commented on #6389
I got same error message when I try to restart the running pod. It started happening just today, was working totally fine few days before. No changes in limits.conf

[2020-09-24 09:43] #7722 closed

[2020-09-24 09:51] rhatdan commented on #7740
By any chance could you open an issue with Docker on this to get their opinion.

[2020-09-24 09:54] haykhovsepyan commented on #7562
@giuseppe can you give some feedback?

[2020-09-24 10:03] rhatdan commented on #7765
Seems like this works in rootful mode but not in rootless.
This might be something that is just not available in the rootless session.
@giuseppe PTAL

[2020-09-24 10:03] rhatdan commented on #7757
@giuseppe @vrothberg PTAL

[2020-09-24 10:05] rhatdan commented on #7755
@vrothberg @mtrmac @QiWang19 PTAL

[2020-09-24 10:07] rhatdan commented on #7751
Interested in opening a PR to fix this?

[2020-09-24 10:08] rhatdan commented on #7748
@baude Should we limit the size of this file since it is temperal, say 10000 lines or something.

[2020-09-24 10:19] mtrmac commented on #7755
@fdegir The configuration file is mixing up v1 and v2 syntax; drop all lines before the `unqualified-search-registries` line.

That will make it _work_, but the way it _fails_ is surprising to me — I can’t see how we can end up using the v1 search value while using the v2 registries list; AFAICS the code should refuse to work on mixed v1/v2 files completely.

[2020-09-24 11:00] giuseppe commented on #7757
looks like we need `--cgroup-manager=cgroupfs` for both commands.  Can you try:

[code]

[2020-09-24 11:05] giuseppe commented on #7765
the cpu controller is not enabled for the rootless user.

The error message is improved in the last crun release.

You need to enable the cpu controller dropping a file under `/etc/systemd/system/user@.service.d` with the content:

[code]

Does it work for you once you restart the session?

[2020-09-24 11:17] giuseppe commented on #7562
does it work if you run `systemd-run --scope --user echo it works` ?  Do you get any error?

[2020-09-24 11:32] haykhovsepyan commented on #7562
[code]
yes

[2020-09-24 12:28] fdegir commented on #7755
Thanks a lot for the hint @mtrmac. I can confirm that dropping lines before ```unqualified-search-registries``` makes it work and we can pull the image using unqualified name from our proxy.

Regarding mixing v1/v2; podman fails with the correct error message if v1 registries.search contains element(s). but if registries.search is empty, the error message is different which is perhaps what confuse

[2020-09-24 13:30] lsm5 opened #7766 "Fedora gating test failures"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Fedora gating tests are currently failing.

**Steps to reproduce the issue:**

1. /usr/bin/podman run --uidmap 0:10000:10000 quay.io/libpod/testimage:20200902 true

2. Complete log at https://paste.centos.org/view/e6f829d2

**Describe the results you received:**

[code]

**Describe the result

[2020-09-24 13:40] baude commented on #7748
imho, we should make systemd journal the default when it is built with that.  i dont think podman should manage the file. we are just appending and events are frequent.  this would be a huge perf hit i think.

[2020-09-24 15:01] cybernet commented on #5405
i'm having similar issues with login for docker.io

[code]

[2020-09-24 15:09] cybernet commented on #3524
does anyone have a fix for this ??

[2020-09-24 15:45] psaini79 commented on #7757
I tried but it doesn't work. I am wondering do we need to create ol7 cgroup ? Isn't be created by podman?

[code]

[2020-09-24 17:04] #7535 closed

[2020-09-24 17:09] xordspar0 commented on #4478
Now that https://github.com/containers/podman/pull/7648 and https://github.com/containers/podman/pull/7759 are merged, it's easy to find all pods from a deployment and stop them. For any visitors from the future, this is how I do it.

[code]

It may even be possible to write a script that does a rolling deployment, but I haven't needed that yet.

[2020-09-24 17:10] jdockter commented on #7659
Thanks @mtrmac  is this something we can get into the next release or what is your thought moving forward on this?

[2020-09-24 17:17] psaini79 commented on #7757
@giuseppe

It worked as per your suggestion:
[code]

[2020-09-24 17:28] psaini79 commented on #7757
@giuseppe

Though I am able to start the container,  I still have some question. How do I set the cpu.rt_runtime_us to 950000 during the group creation because if  I pass --cpu-rt-runtime=95000 for test1,  the parent group doesn't have this value. With docker I was able to do it bt passing the --cpu-rt-runtime to docker-daemon and child cgroup can inherit the values from the parent cgroups.

For d

[2020-09-24 17:31] xordspar0 commented on #7742
This was fixed in cd2b2d9fae0c1dbcf8f4222ba461d5cc8223dd51 and released in podman 2.1.0.

[2020-09-24 18:16] mheon commented on #3524
Can you open a new issue if you're still seeing this? This issue is over a year old.

[2020-09-24 21:31] MatMaul opened #7768 "Rootless podman not working on latest CentOS8 Stream with cgroupsv2 enabled"
**Steps to reproduce the issue:**

1. `podman run -it caddy`

It gives me this error:

`Error: writing file /sys/fs/cgroup/user.slice/user-1001.slice/user@1001.service/cgroup.subtree_control: No such file or directory: OCI runtime command not found error`

**Additional information you deem important (e.g. issue happens only occasionally):**

`crun` is installed and correctly reported when doing `p

[2020-09-24 21:40] xordspar0 commented on #7768
Is this a duplicate of https://github.com/containers/podman/issues/7765?

[2020-09-24 22:00] xordspar0 commented on #3264
My usecase is similar to @dtitov 's. I have a single-node that I'm converting from docker-compose to podman. I already know Kubernetes, so I think having the same API as k8s would be awesome. The only gap for me is keeping the secrets out of my config, which is checked into git.

Ansible has support for local [secrets](https://docs.ansible.com/ansible/latest/user_guide/vault.html). I use this for

[2020-09-24 22:01] MatMaul commented on #7768
Not really, because mine happens even if we don't use any cpu limit like `--cpu 1`.
Also the `Delegate` fix mentioned there by Giuseppe is not working, there is something else missing.

This RedHat bug however seems to be about that (just found it):
https://bugzilla.redhat.com/show_bug.cgi?id=1732957

=> using `--cgroups=disabled` workaround is working.

Feel free to close this bug since it is pro

[2020-09-24 22:18] psaini79 opened #7769 "Unable to assign the IPs"
/kind bug

**Description**
I am testing an application and trying to assign an IP to a container but it kept on failing with the following messages:
[code]

I am using the following network config:
[code]

**Describe the results you received:**

It throws the following error:
[code]
**Describe the results you expected:**
IP should have got assigned to the container.

**Output of `podman version`:*

[2020-09-24 22:38] mheon commented on #7769
This was fixed in Podman 1.7.0, consider upgrading.

[2020-09-24 22:38] #7769 closed

[2020-09-24 22:44] shrub77 commented on #7501
@vrothberg I was able to pull the image as root after installing `fuse-overlayfs`

However as non-root I get:

[code]

[2020-09-24 22:46] mheon commented on #3264
The ansible secrets link is very interesting - I can see a model like that as being a viable way forward.

[2020-09-24 22:47] mheon commented on #3264
Ideally, we'd find a library to handle the cryptography/secret storage for us - I'd prefer not to have to write and maintain that ourselves.

[2020-09-24 23:23] psaini79 opened #7771 "Unable to assign a network to a running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I  am testing our APP on podman and I am not finding a way to attach and detach a network to a container.

I am able to specify the network during the container creation but unable to attach a network to the running container. It used to work with docker using the command docker network attac

[2020-09-24 23:45] mheon commented on #7771
This feature is not presently supported. I'd like to do a rewrite of our `podman network` commands at some point to enable this and other things, but that will likely not happen for some time. Re-tagging as feature request given this.

[2020-09-25 01:46] runlevel5 opened #7773 "Unable to find user $USER: no matching entries in passwd file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running with `--user $USER` in a any type of user (root and non-root) yields error.

The same issue can also be reproduced with podman 2.0.6 and Crun 0.14.1

**Steps to reproduce the issue:**

1. Login as non-root user

2. `podman run --log-level=debug --user=$USER -it bash`

**Describe the r

[2020-09-25 03:49] maybe-sybr opened #7774 "Allow manual rootless operation when running as UID 0"
/kind feature

**Description**
At the moment, if EUID is 0, podman will decide it should run in rootful mode. When running user namespaces not related to podman, this is the wrong choice and it would be nice if I could tell podman about this explicitly. At the moment we can do:

[code]

but this isn't very friendly and almost certainly undocumented since I found it by grepping the source.

**Steps

[2020-09-25 03:50] maybe-sybr commented on #7774
My specific situation is that I'm doing some namespace hopping with rootlesskit to run stuff in sub-namespaces.

[2020-09-25 04:30] Persistent13 opened #7775 "podman pod stats failing to run on Ubuntu 20.04.1 on WSL2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman pod stats POD_ID_HERE` returns the error `Error: pod stats is not supported in rootless mode without cgroups v2` but to my understanding cgroups v2 is already enabled for my installation of Ubuntu.

**Steps to reproduce the issue:**

1. Install podman

2. Play a K8s Pod or Dep

[2020-09-25 05:39] ocafebabe opened #7776 "podman is unresponsive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman isn't working as expected after installing it on a system with a previous docker installation

**Steps to reproduce the issue:**

1. Install docker.io

2. Uninstall docker.io

3. Install podman using Ubuntu 20.04 Kubic repository

**Describe the results you received:** freeze

**Descri

[2020-09-25 05:51] ocafebabe commented on #7776
It seems to be a permission issue because: ```sudo podman info``` works as expected...

[2020-09-25 07:55] vrothberg commented on #7501
Great news, @shrub77!

Changing the graph driver implies that we cannot use previous images and containers. I usually remove the entire storage (i.e., `~/.local/share/containers`).

[2020-09-25 08:07] vrothberg commented on #7776
I ran into a similar issues yesterday on Amazon Linux 2. Can you run `which newuidmap` and see if that's installed?

It's part of the `shadowutils` package. @lsm5 PTAL

[2020-09-25 08:09] vrothberg commented on #7776
@giuseppe @mheon  @rhatdan ... it seems that rootless podman can hang when `new{u,g}idmap` is absent. I ran into the same symptom yesterday preparing the HPC workshop. It didn't occur on all systems (even without the binaries) so I am under the impression there's a race condition.

[2020-09-25 09:05] mlezajic commented on #7706
Is there any chance to get this adressed somewhere in the near future? We really need to be able to add containers to a pod while keeping the current user id. Using podman v1.9.3 (go1.13.4) on RHEL v8.3.1-5 machine we ecounter this (as mentioned above):

`podman run --userns=keep-id --pod dev-pod-1 -dit --name centos 0d120b6ccaa8`

results in

`Error: container_linux.go:349: starting container pro

[2020-09-25 09:48] rsommer commented on #7740
[Docker issue/question](https://github.com/moby/moby/issues/41491)

[2020-09-25 09:49] mbien opened #7778 "Option to use UIDs only once"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently users of the same UID are always mapped to the same user on the host. User foo (UID 5) of imageA would be the same user as user bar (UID 5) of imageB. Since UIDs are given out sequentially, its fairly common that two arbitrary images would end up with users with the same ID.

Wh

[2020-09-25 09:53] vrothberg commented on #7778
@rhatdan PTAL

[2020-09-25 09:54] vrothberg commented on #7778
To the best of my knowledge, we don't have a way to do that yet. A challenge is to keep track of which IDs are used where and when.

[2020-09-25 10:08] mbien commented on #7778
to give more context: i am currently doing something like this before starting the container:

[code]

[2020-09-25 10:12] srcshelton commented on #7747
Where is this error actually being generated from?

Within the `podman` project, `container_linux.go` isn't long enough and `container_internal_linux.go` (which may not be relevant?) seems to be doing container spec generation (specifically processing the `$HOME` environment-variable) at that point in 2.1.0?

[2020-09-25 10:48] vrothberg commented on #7775
Thanks for reaching out!

`podman info` claims that you're running cgroups v1 so I fear there's not much we can do.

[2020-09-25 11:03] vrothberg commented on #7766
@rhatdan that's caused by
[code]
in contianers.conf. Commenting out solves the issue on my end.

[2020-09-25 11:42] cybernet commented on #3524
exactly, OVER 1 YEAR old and no one confirmed that is fixed, however the issue was closed ...

[2020-09-25 11:48] vrothberg commented on #3524
Actually it was fixed in https://github.com/containers/podman/pull/3528 (July '19).

[2020-09-25 12:07] vrothberg commented on #3524
Just tested on 2.1.0 and it's still working

[2020-09-25 12:13] vrothberg opened #7779 "F33 podman stats with cgroupfs broken"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Steps to reproduce the issue:**

1. podman run --rm -d --cgroup-manager=cgroupfs docker.io/alpine sleep 666

2. podman stats -l

**Describe the results you received:**

podman (master) $ podman stats -l
Error: unable to obtain cgroup stats: open /sys/fs/cgroup/user-1000.slice/user@1000.service/user.slice/li

[2020-09-25 12:18] rhatdan commented on #7773
The code is looking for $USER within the container image, if it does not exist in /etc/passwd inside of the container, then you will get this failure.  I don't think this is a bug.

[2020-09-25 12:19] vrothberg commented on #7779
The path is different:
* `/sys/fs/cgroup/user.slice/user-1000.slice/` exists on F33
* `/sys/fs/cgroup/user-1000.slice/` what Podman looks at

[2020-09-25 12:20] vrothberg commented on #7773
It works with v2.0.6 on F32 though.

[2020-09-25 12:21] vrothberg commented on #7773
Ah ... I totally agree with @rhatdan.

I just ran as root in my VM...

[2020-09-25 12:22] vrothberg commented on #7773
Note that `sudo` does not change $USER.

[2020-09-25 12:23] rhatdan commented on #7778
So you would like something like
[code]
Where the volume would get chowned to match the UID_inside mapped to the user namespace, Similar to what we do with :Z and :z?

[2020-09-25 12:25] rhatdan commented on #7776
@ocafebabe Can you confirm that newuidmap was missing from your machine?

[2020-09-25 12:25] #7775 closed

[2020-09-25 12:27] rhatdan commented on #7774
Can you manually do this using --uidmap and --gidmap?

[2020-09-25 12:27] #7773 closed

[2020-09-25 12:28] srcshelton commented on #7747
Debug log:

[code]

[2020-09-25 12:28] #7768 closed

[2020-09-25 12:28] cybernet opened #7780 "podman pull from docker.io - unauthorized"
/kind bug

After a successful login with `podman login docker.io`

I cannot pull anything because authorization is required ...

**Steps to reproduce the issue:**

1. `podman login docker.io`

2. `podman pull pi-hole/pi-hole`

**Result**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info -

[2020-09-25 12:29] cybernet commented on #3524
[#7780](https://github.com/containers/podman/issues/7780) - just opened

[2020-09-25 12:29] rhatdan commented on #7766
This is not an issue with the sysctls, but more of an issue with usernamespace support for them.  Could be a kernel issue or in our code.
@giuseppe WDYT?

[2020-09-25 12:32] rhatdan commented on #7766
Ok Now I see it.  The issue is that we have asked for a range of UIDs within the container that is not available.

I could change the default to be just one, which would be the safest, or could allocate 1000.  The goal of this sysctl is just to allow non root users to be able to ping.

[2020-09-25 12:39] vrothberg commented on #7780
Does it work if you pull by fully-qualified name `docker.io/pi-hole/pi-hole`?

[2020-09-25 12:42] mbien commented on #7778
This would be convenient since it eliminates the first step (or parts of it, since i would still have to query the UID_INSIDE somehow first).

However, the reason for this feature request is the fact that many containers (of arbitrary images) will end up having the same UID_INSIDE, which would not separate the namespace on the filesystem level if bind-mounts are used, unless podman learns to give

[2020-09-25 12:43] rhatdan opened #7781 "In Fedora we have dropped CAP_AUDIT_WRITE, which is causing issues in seccomp.json"
podman run ping ping 4.2.2.2
Error: container_linux.go:346: starting container process caused "error adding seccomp rule for syscall socket: permission denied": OCI runtime permission denied error

The default seccomp.json file is broken, if you remove the CAP_AUDIT_WRITE capability.

[2020-09-25 12:44] rhatdan commented on #7781
@giuseppe Seems something in your seccomp.json files is broken.

[2020-09-25 12:44] cybernet commented on #7780
no, it doesn't.
just curious I also tried with `docker://`

[2020-09-25 12:44] rhatdan commented on #7766
This should be a fedora bug not an issue.

[2020-09-25 12:44] #7766 closed

[2020-09-25 12:47] vrothberg commented on #7766
Can you elaborate?

[2020-09-25 12:49] vrothberg commented on #7780
Did you login as root and pulled as root?

[2020-09-25 12:49] rhatdan commented on #7766
containers.conf needs to be changed that is shipped with Fedora.  To not use 65k range.

[2020-09-25 12:49] rhatdan commented on #7766
This is basically a containers-common bug

[2020-09-25 12:50] vrothberg commented on #7766
Agreed.

[2020-09-25 12:51] rhatdan commented on #7766
https://koji.fedoraproject.org/koji/taskinfo?taskID=52228191

[2020-09-25 12:52] vrothberg commented on #7779
Got it. For some reason podman beliefs the container is running under systemd.

[2020-09-25 13:00] srcshelton commented on #7747
How can I get more debugging information out of `conmon`?

The `podman` `--log-level` option doesn't seem to be passed-through, and manually creating a shim in `/usr/libexec/podman/conmon` to invoke the actual `conmon` binary with additional options results in:

[2020-09-25 13:20] mheon commented on #7747
That message is definitely coming out of `runc` - I've seen that error format before (and the `OCI runtime permission denied error` suffix from Podman means the error was produced by the OCI runtime).

[2020-09-25 13:22] vrothberg commented on #7779
Took me a while to wrap my head around the issue.

To clarify: the upper example is failing as we're not storing the cgroup manager per container but in the engine's config. Hence, we need to use `--cgroup-manager=cgroupfs` for `podman stats` as well.

When doing that, we get the following error (which aligns with the failures from the e2e stats tests):
unable to obtain cgroup stats: open /sys/fs/

[2020-09-25 13:22] mheon commented on #7747
The error points to https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L370 which looks about right - a failure to start the user process, due to a failure to set capabilities, would happen there.

[2020-09-25 13:29] rhatdan opened #7782 "Groups do not seem to be getting assigned by default in rootless mode versus rootful mode."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

$ podman (pullpolicy) $ sudo podman run --rm alpine id
uid=0(root) gid=0(root) groups=0(root),1(bin),2(daemon),3(sys),4(adm),6(disk),10(wheel),11(floppy),20(dialout),26(tape),27(video)
$ podman (pullpolicy) $ podman run --rm alpine id
uid=0(root) gid=0(root)

[2020-09-25 13:30] rhatdan commented on #7782
@giuseppe @mheon @vrothberg Ideas?

[2020-09-25 13:31] rhatdan commented on #7780
You must podman login first to get this image.

[2020-09-25 13:33] vrothberg commented on #7780
I'll re-open as the issue states that it's failing despite the login.

[2020-09-25 13:36] rhatdan commented on #7778
But I am not even sure that this is what people want.  They might have volumes that they want to share between containers and want the UIDs to be the same.  I don't see a way for podman to necessarily know the UID of the container unless it is specified in the image. IE default for the container.
[code]
We have thought about chowning based on the UID of the volume.  In this case if the container r

[2020-09-25 13:57] vrothberg commented on #7779
Does not happen on cgroupsv2 (root). @giuseppe I think that's something for you

[2020-09-25 14:07] rsommer commented on #7740
[There was already an older issue](https://github.com/moby/moby/issues/16068)

[2020-09-25 14:10] giuseppe commented on #7781
the error is coming from runc, what version are you using?

[2020-09-25 14:11] mheon commented on #7740
So Docker seem to be of the opinion that this behavior is not good and should be changed... Given that, I think we should document the difference and leave it, in the expectation that Docker will eventually change it.

[2020-09-25 14:17] lsm5 commented on #7766
so would it suffice to have podman depend on containers-common from ^ or do we need any other change? I think we should add this skopeo build to the same podman bodhi.

[2020-09-25 14:24] ocafebabe commented on #7776
@rhatdan yes it was, I had to install this package: **uidmap**

This problem seems to be a regression: [2211](https://github.com/containers/podman/issues/2211)

IMHO this package should be added as a mandatory dependency...

Thanks

[2020-09-25 14:26] giuseppe commented on #7776
reopened the issue.  We should not hang also when newuidmap/newgidmap is not installed

[2020-09-25 14:29] vrothberg commented on #7776
I had a look at the code but couldn't spot a race: afaics, we're doing a `cmd.Exec("newuidmap", ....)` which should fail during path look up.

[2020-09-25 14:33] giuseppe commented on #7776
I've opened a PR: https://github.com/containers/podman/pull/7784

[2020-09-25 14:34] vrothberg commented on #7779
Rootless we're just not creating the paths and I don't yet know why.

[2020-09-25 14:36] vrothberg commented on #7776
Awesome. thanks @giuseppe!

[2020-09-25 14:36] giuseppe commented on #7774
Would help if we teach `podman unshare` how to handle this case?  Something like `podman unshare --current`?

[2020-09-25 14:37] giuseppe commented on #7779
rootless cannot create paths with cgroupfs.  It has not enough privileges for doing it

[2020-09-25 14:44] vrothberg commented on #7779
I have no idea how `test/e2e/stats_test.go` is then passing rootless because it's always on cgroupfs.

[2020-09-25 14:44] praiskup commented on #5364
I can not reopen this, but the problem regressed back, freshly after upgrade to Fedora 33:
[code]

[code]

[2020-09-25 14:51] praiskup commented on #5364
I mean, there's no "reopen" button in this issue.  Perhaps I should fill a new one?

[2020-09-25 14:53] vrothberg commented on #5364
Thanks! @rhatdan is on it :)

[2020-09-25 15:00] #7779 closed

[2020-09-25 15:04] praiskup commented on #5364
FTR, I also removed all containers/images, and then did `mv ~/.local/share/containers{,~`date -I`}` ... and this is still reproducible.

[2020-09-25 15:09] mbien commented on #7778
you mean podman would look at the volume folder ownership on the inside and chown the folder on the outside so that it matches to the reverse-mapped user? Sounds super useful. +1

If i understand that correctly its pretty much exactly what i want :) Reminds me a little bit on systemd's DynamicUser=yes

The :U addition combined with --userns=auto would also allow me to start the container with a si

[2020-09-25 15:11] srcshelton commented on #7747
Interestingly, with `crun` rather than `runc`:

[code]

So it's a different format of message (confirming that the runner has changed) but still the same underlying issue.

[2020-09-25 15:13] praiskup commented on #5364
I'm not sure it is related, but when I built the image with the mentioned work-around
above (`--cap-add=CAP_SETFCAP`), I can not run the container:
[code]

[2020-09-25 15:13] srcshelton commented on #7747
... and just to confirm, the exact same thing (still with `crun`, this time) from `podman-2.0.6`:

[code]

[2020-09-25 15:33] srcshelton commented on #7747
To summarise, both builds are using the same `conmon` (2.0.21 @ 35a2fa83022e56e18af7e6a865ba5d7165fa2a4a), both `runc` (1.0.0-rc92 @ ff819c7e9184c13b7c2607fe6c30ae19403a7aff, spec 1.0.2-dev) and `crun` (0.15-dirty @ 56ca95e61639510c7dbd39ff512f80f626404969, spec 1.0.0) report the same error (in their own ways) - but *only* with `podman-2.1.0`.

With `podman-2.0.6` but _exactly_ the same `conmon` a

[2020-09-25 15:47] debarshiray commented on #7766
Fly-by comment:

I just wanted to point out that `net.ipv4.ping_group_range` is already set by [systemd](https://github.com/systemd/systemd/commit/90ce7627dfe824ff6e7c0ca5f96350fbcfec7118) in `/usr/lib/sysctl.d/50-default.conf`.

[2020-09-25 16:03] mheon commented on #5364
I'm seeing that in several issues right now - I believe it all traces back to some attempts to prune default capabilities by @rhatdan

[2020-09-25 16:32] mheon commented on #7775
You may be running "hybrid mode" in which cgroups v1 and v2 are both available. Podman only supports native cgroups v2, however.

[2020-09-25 16:43] jwhonce commented on #7198
Fixed by https://github.com/containers/podman/pull/7647

Please reopen if there are additional issues

[2020-09-25 16:43] #7198 closed

[2020-09-25 16:49] jwhonce commented on #7479
@mheon This may impact a number of endpoints as we've been adding code to stop the endpoint when the client closes the connection. I'm not sure we've added any of that code to hijacked connections which is why I used "may".

[2020-09-25 16:58] wwilson commented on #7061
Update: the fuse-overlayfs process is killed if the halted container is destroyed. Dunno if that helps narrow down on where the issue could be.

[2020-09-25 17:19] rhatdan commented on #7781
rpm -qf /bin/runc
containerd.io-1.2.10-3.2.fc31.x86_64

runc --version
runc version 1.0.0-rc8+dev
commit: 3e425f80a8c931f88e6d94a8c831b9d5aa481657
spec: 1.0.1-dev

[2020-09-25 17:21] rhatdan commented on #7781
Ok I updated runc and now it works.  How do we get moby to update its version of runc or to use the system default?  Would docker work with the current version?

[2020-09-25 17:22] rhatdan commented on #7778
Interested in opening a PR?

[2020-09-25 17:23] rhatdan commented on #7780
Does it succeed on Docker then, and Not on Podman?

[2020-09-25 17:26] rhatdan commented on #7765
Is there a reason the cpu controler and other controllers are not enabled by default?
I added a Bunch of FIXMEs to test/e2e/run_test.go, for rootless handling of cgroups being broken in tests. Seems like they could be the same problem.

Is there something podman could/should do on package install?

[2020-09-25 17:31] mheon commented on #7479
@jwhonce We are not supporting the client *closing* the connection (which already works fine) - we just want to close one stream (STDIN). The remaining standard streams will continue streaming - we just stopped accepting input.

[2020-09-25 18:10] mbien commented on #7778
who? me? I am only here to ask nicely :)

I am fairly new to podman and asked on the IRC channel if something like this would be possible with podman when @vrothberg suggested to me to open this issue.

[2020-09-25 18:18] rhatdan commented on #7778
Sure we always ask.

We are looking for people to fix code, maybe someone else will grab this. Or we will get a core maintainer on it.

[2020-09-25 18:46] rhatdan commented on #7748
Well we have the chance to change the default in fedora 33.

[2020-09-25 18:49] rhatdan commented on #5405
@QiWang19 PTAL

[2020-09-25 19:27] xordspar0 commented on #7742
Just to be clear, the `imagePullPolicy: Always` issue was fixed in that commit, but not the rest of it. Was another fix done recently that fixes the limits issue?

[2020-09-25 19:29] lsm5 commented on #7781
@olivierlemasle ping, I see you're the current moby-engine maintainer. PTAL ^

[2020-09-25 19:29] QiWang19 commented on #5405
@cybernet  Could you try --log-level to check which authfile the credential is returning from? Which Podman verison you are using?
[code]

[2020-09-25 19:36] mheon commented on #7742
No, reopening.

[2020-09-25 20:21] #7776 closed

[2020-09-25 20:21] rhatdan commented on #7780
Can you try with a newer version of Podman?

[2020-09-25 20:31] rhatdan commented on #7740
@rsommer Interested in opening a PR to transfer.md?

[2020-09-25 20:42] rhatdan commented on #7747
[code]
This works fine for me on fedora31

[2020-09-25 20:43] rhatdan commented on #7766
Sure but that does not get inherited by containers in new network namespaces.

[2020-09-25 20:44] rhatdan commented on #7766
-net.ipv4.ping_group_range = 0 2147483647

Would definitely not work within a user namespace.

I wonder if we should hack out the default SYSCTLS to allow the size to be customizable.
[code]
And then this would be set based on the user namespace of the container.  Then it would always work

[2020-09-25 20:47] rhatdan commented on #5364
Yes if you remove /usr/share/containers/containers.conf it should be fixed.  We are attempting to run containers tighter security in Fedora 33.

[2020-09-25 21:10] praiskup commented on #5364
Hm, from package installation POV, I don't think we can live without setcap.  And it would be a pitty
to by design discourage 'dnf' operations in rootless container.  So is this going to be fixed, or
what is the plan? (I can confirm that downgrade to podman-2:2.1.0-2.fc33.x86_64 restored the
expected behavior for me).

Tthe buildah "problem" can be worked-around by `--cap-add="CAP_SETFCAP" `.  But

[2020-09-25 21:18] cybernet commented on #7780
try reading again :smiley:

[2020-09-25 21:19] cybernet commented on #7780
see output of the command - everything is done as root :)

[2020-09-25 21:30] cybernet commented on #7780
I have also tried with podman 2.1 from Solus distro, same result
Has any of you able to reproduce this ?

[2020-09-25 21:30] xordspar0 commented on #7742
I think `--ns` shows you information about Linux namespaces (as in `man 7 namespaces`), which are different from Kubernetes namespaces. Does podman support Kubernetes namespaces? If not, what would be required to add them?

[2020-09-25 22:33] mheon commented on #7742
We have something similar (Libpod namespaces and the `--namespace` flag) but they are poorly documented and, honestly, I doubt anyone uses them. They're a little on the limited side right now.

[2020-09-26 00:04] srcshelton commented on #7747
Yes, and as I've said above if I run a stock 'alpine' image, then it also works fine for me.

However, I also have an image (that shouldn't be in any way special) built using podman which worked in `podman-2.0.6` which fails in `podman-2.1.0` - so I'm not saying that it affects *all* images, but if it's a new bug which affects *any* then we should find out what's happening, right?

[2020-09-26 00:24] srcshelton commented on #7747
Also broken in `podman-2.1.1`, after rebuilding the source image from scratch (successfully, with the same podman version).

[2020-09-26 00:26] srcshelton commented on #7747
Also, a different (local) image is also affected - so it's not a quirk of just one image.

[2020-09-26 00:31] srcshelton commented on #7747
Further note - running the affected images works as expected under `podman-2.1.x` with **no** `--cap-drop` argument passed, but the use of _any_ `--cap-drop` option (not just '`ALL`') causes the above error.

[2020-09-26 05:59] daniel-wtd commented on #7742
It wouldnt be required. For me it would be totally fine to have some kind of documentation which parameters/arguments/flags are supported if one uses `podman play kube (pod.yml|deployment.yml)` :)

[2020-09-26 06:15] xcffl commented on #7747
Interestingly, same error occur for me.

There is one line in the log need to be noticed: \```[conmon:d]: failed to write to /proc/self/oom_score_adj: Permission denied` ``

Full logs:

[code]

[2020-09-26 09:56] psakar commented on #7235
@mheon I've tested podman 2.1.0 and the issue is not fixed.

Environment of container created and started via podman CLI is

Environment of container created and started via podman REST API is evidently different

Looks like the ENV commands from the dockerfile are "ignored" during container start - https://github.com/rmohr/docker-activemq/blob/master/5.15.9-alpine/Dockerfile

[2020-09-26 11:41] eriksjolund opened #7789 "Old DNS entries are not cleaned up (using podman-network-create and podman-run)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The DNS entry is not removed when the container is removed.

**Steps to reproduce the issue:**

1.

[code]

2.

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasion

[2020-09-26 14:01] kallisti5 commented on #3264
I think this is likely the best plan of action.  Protecting secret storage with a local system keyring makes sense.

I agree.   Back in 2019 I was still using swarm, but k8s is easy enough to deploy now and widespread enough it's a better target.

```podman generate kube``` potentially spitting out kubernetes secrets from podman is pretty :fire:

Y'all would corner the market and make docker a thi

[2020-09-26 20:03] Luap99 opened #7790 "podman cp can overwrite a already existing directory with a file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman cp` can overwrite a already existing directory with a file . This behaviour does not match docker and linux utils like cp and mv.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

The `abc` directory is overwriten and is now a file.

**Describe the res

[2020-09-27 01:49] bbros-dev commented on #7484
Apolgies @vrothberg that command was missing quotes - not sure why that was.

But if I go back to the original command which has correct quotes around I still see the error:

[code]

[2020-09-27 08:39] GitYangYang commented on #4900
same issue,after remove my xbox wireless adapter:
`
ERRO[0000] unable to start container "confluence": time="2020-09-27T16:28:39+08:00" level=warning msg="exit status 1"
time="2020-09-27T16:28:39+08:00" level=error msg="container_linux.go:349: starting container process caused \"process_linux.go:449: container init caused \\\"rootfs_linux.go:58: mounting \\\\\\\"/dev/bus/usb/001/005\\\\\\\" to roo

[2020-09-27 12:05] rhatdan commented on #7781
I opened a bugzilla against Moby in Fedora to either use the packaged version of runc like every other package or to embed the specific version of runc required by moby in a moby private directory. /usr/libexec/moby/runc or something like that.

[2020-09-27 12:37] ashokponkumar commented on #4056
Any tips on how this would translate to an equivalent deployment/podspec for the base container?

I have a requirement to run the below statement inside a ubi8 container.
[code]
(https://github.com/konveyor/move2kube/blob/30cd9c7eae72f888e56a3c49a5195797257996c7/internal/containerizer/cnb/containerruntimeprovider.go#L125).

[2020-09-27 15:11] Luap99 commented on #7790
podman debug output:
[code]

It looks like [CopyFileWithTar()](https://github.com/containers/storage/blob/973f560b379e7d3dc0af0d36ba202f9b5ccc7fb9/pkg/archive/archive.go#L1190) in `c/storage` doesn't check if the destination is a directory.
According to it's comment it should behave like `cp` but in this case it does not:
[code]

[2020-09-27 15:36] mohd-akram commented on #7751
How do I build without `make package-install` (I don't want to run sudo)?. I get this with `make`:

[code]

[2020-09-27 18:21] c-goes commented on #6867
I am not yet sure how to reproduce the image pull bug.

[2020-09-27 18:58] wdouglascampbell commented on #7466
Just FYI now that podman 2.0.6 is in FCOS stable.  I re-tested and so far so good a reboot worked.  Thanks!

[2020-09-27 20:37] Luap99 opened #7791 "podman network rm --force fails when the network is used by a pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman network rm --force` fails when the network is used by a pod.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`Error: container 5cbf27a71bbd576c4449788859148feb4ec46a8bcfd6068ff06b01fc98353427 is the infra container of pod 38e69fa18b8462743bd878050ae

[2020-09-27 21:07] shrub77 commented on #7501
pi@raspberrypi:~ $ podman run --cap-add=NET_ADMIN -d -v /mnt/data:/data -v /etc/localtime:/etc/localtime:ro -v /home/pi/pl187.ovpn:/etc/openvpn/custom/default.ovpn -e CREATE_TUN_DEVICE=true -e OPENVPN_PROVIDER=CUSTOM -e OPENVPN_USERNAME=email -e OPENVPN_PASSWORD=pass -e WEBPROXY_ENABLED=false -e LOCAL_NETWORK=192.168.0.0/24 --log-driver json-file --log-opt max-size=10m -p 9091:9091 haugene/transmi

[2020-09-27 21:56] olivierlemasle commented on #7781
As I wrote on the bugzilla ticket, runc is not packaged by Fedora package moby-engine (actually since I took over moby-engine).

You mention [here](https://github.com/containers/podman/issues/7781#issuecomment-699051416) a package containerd.io-1.2.10-3.2.fc31.x86_64; there's no package named `containerd.io` in Fedora and it seems it did not exist in Fedora 31 either, so I guess it was installed f

[2020-09-27 23:49] maybe-sybr commented on #7774
@rhatdan - I don't think that does anything to help unfortunately. Regardless of what UID/GID mapping we use, podman has still decided that it's rootful by the point and attempts to use the default (non-`XDG_CONFIG_PATH`) config files. Here's some output of things I just tried:
[code]

@giuseppe - I didn't know about `podman unshare`, that's really cool. In my case I don't think I could use it as

[2020-09-28 08:39] yuhuijiang opened #7794 "[APIv2] the url of list volume is not correct"
/kind bug

**Description**

**Have you tested with the latest version of Podman and have you checked the Podman Troubleshooting Guide?**

Yes

[2020-09-28 08:40] yuhuijiang commented on #7794
The url of list volume is not correct. It should be be "volumes/json", but in the doc(http://docs.podman.io/en/latest/_static/api.html#operation/listVolumes), it's "volumes"

[2020-09-28 08:54] yuhuijiang opened #7795 "[APIv2] the parameter of create volume is not correct"
-->

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
the parameter of create a volume with spcific label is not correct, the parameter should be "Label", but in the doc(http://docs.podman.io/en/latest/_static/api.html#operation/createVolume), the parameter is "Labels"

**Steps to reproduce the issue:**

1. podman system service --timeout 0

[2020-09-28 08:56] Luap99 commented on #7794
The Podman API provides two endpoints:
1. The docker compatible endpoint `/volumes` (https://docs.docker.com/engine/api/v1.40/#operation/VolumeList) (http://docs.podman.io/en/latest/_static/api.html#operation/listVolumes)
2. The libpod endpoint `/libpod/volumes/json` (http://docs.podman.io/en/latest/_static/api.html#operation/libpodListVolumes)

I think it is correctly documented.

[2020-09-28 09:06] Luap99 commented on #7789
I cannot reproduce this on fedora 32. You are using the new rootless networking, right?

[2020-09-28 09:07] eriksjolund commented on #7789
Yes

[2020-09-28 09:15] Luap99 commented on #7795
This is the documentation for the libpod endpoint: http://docs.podman.io/en/latest/_static/api.html#operation/libpodCreateVolume
You are looking at the docs for the docker compatible endpoint.

[2020-09-28 09:15] #7795 closed

[2020-09-28 09:47] vrothberg commented on #7794
Thanks for reaching out, @yuhuijiang, and for providing all the information, @Luap99!

I am closing the issue as `/volumes` refers to the Docker compat endpoint.

[2020-09-28 09:47] #7794 closed

[2020-09-28 10:10] vrothberg commented on #7780
Can you try pulling another image? For instance, a private one form your own namespace?

Maybe you don't have permission to access pi-hole?

[2020-09-28 10:24] giuseppe commented on #7765
I think the reason is that the cpu controller is expensive to enable by default

[2020-09-28 10:35] babykart opened #7796 "podman-2.1.X build does not preserve the UID & the GID"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman build does not preserve the UID & the GID.

**Steps to reproduce the issue:**

1. Create a simple Dockerfile

[code]

[code]

[code]

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g

[2020-09-28 12:12] Luap99 commented on #7789
OK, I can reproduce.  You need to have a long running container attached to this network in order to keep the rootless-cni-infra container alive.
like this: `podman run -d --network mynet alpine sleep infinity`

[2020-09-28 12:29] vrothberg commented on #7484
Thanks for coming back! I'll set up an Ubuntu VM and see if I can reproduce there.

[2020-09-28 12:38] vrothberg commented on #7689
Closed with https://github.com/containers/podman/pull/7753

[2020-09-28 12:38] #7689 closed

[2020-09-28 12:40] vrothberg commented on #6510
@nalind @rhatdan can we increase priority on tracking this one down? I think it's a c/storage issue.

[2020-09-28 13:21] djnotes commented on #7765
@giuseppe

`...`

It didn't work.

[2020-09-28 13:21] dR3b commented on #7613
From my Arch Linux:
[code]
[code]

[2020-09-28 14:08] edsantiago commented on #7096
* prior-fedora : test prior-fedora
  * PR #7729
    * [09-22 13:56](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6368645309792256/html/integration_test.log.html#t--Podman-run-two-containers-with-the-same-IP--1)
    * [09-22 13:56](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6368645309792256/html/integr

[2020-09-28 14:13] #7791 closed

[2020-09-28 14:26] kallisti5 commented on #3932
Just saw this one on ArchLinux. It doesn't help the warning is a bit confusing:

[code]

Maybe the language needs updated to mention subuid's in some way?

Opened a bug to arch about it:
https://bugs.archlinux.org/task/68029

[2020-09-28 14:29] TomSweeneyRedHat commented on #7796
@babykart were you running the container from root or from a rootless user?
You probably know, but you could add `RUN chmod 600 /etc/test.conf` and `RUN chown 999:999 /etc/test.conf
` to your Dockerfile, but that's not optimal.

Thanks for the report.

[2020-09-28 14:38] lsm5 commented on #7663
@averyfreeman do you see this when you upgrade to 2.1.1 as well?

[2020-09-28 14:45] lsm5 commented on #7548
@PavelSosin-320 are things any better if you use podman 2.1.1 from the [Kubic project repos](https://podman.io/getting-started/installation) for CentOS 8?

[2020-09-28 15:15] babykart commented on #7796
@TomSweeneyRedHat I am running podman as root user.
Yes, I know the workaround with RUN but I think it's a little regression since version 2.1.0 because it works as expected with podman-2.0.6. :)

[2020-09-28 16:08] dzerhusen opened #7800 "podman in corrupted state after filesystem filled up to 100 %"
/kind bug

Hello,

Env:
rootless container in user namespace
6/6 containers are running fine
managed by systemd

crash:
100% home full

current:
5 of 6 containers are working again
1 has problems.

infos:
/bin/podman run --rm --name test_service --image-volume=ignore --authfile /home/cadmin/.podman_creds.json registry.example/test/alpine:3.12.0
Error: error creating container storage: the containe

[2020-09-28 16:25] TristanCacqueray opened #7801 "Add ability to mask and unmask"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a GPU application inside a rootless podman container started with `--device /dev/dri` libGL fails to initialize.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Graphical applications like `glxgears` fail to start.

**Describe the results you e

[2020-09-28 16:59] TomSweeneyRedHat commented on #7796
@babykart thanks for the info @babykart and yep, needs to be fixed, just wanted to offer the potential workaround until it is fixed.

[2020-09-28 18:34] ParkerVR commented on #7751
@mohd-akram I'll take a look at this.
It's not recommended to install podman without sudo privileges but you can consider using nix as in the guide
https://podman.io/getting-started/installation and installing any failing dependencies manually.

[2020-09-28 18:59] mtorromeo commented on #5914
Hi, I just solved this same issue but the problem and solution are not documented anywhere as far as I know and should probably be addressed somehow.

After a lot of trial and error and noticing that I didn't have any issue with a fresh user even though I already erased `~/.local/share/containers` and `~/.config/containers` I somehow found out that the permissions on my home directory where preven

[2020-09-28 19:00] mikewilks opened #7806 "Remote client on MacOS is not using ssh-agent and is prompting to unlock keys everytime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The MacOS remote client is not making use of the ssh-agent and is prompting for the password to unlock the SSH key every time podman is used.

**Steps to reproduce the issue:**

1. brew install podman, config remote podman according to https://www.redhat.com/sysadmin/podman-clients-macos-wind

[2020-09-28 19:02] xordspar0 commented on #7742
I'm working on adding support for limits to play kube in [xordspar0:play-kube-limits-#7742](https://github.com/xordspar0/podman/tree/play-kube-limits-%237742).

[2020-09-28 19:14] mheon commented on #7806
@jwhonce PTAL

[2020-09-28 19:23] edsantiago opened #7807 "podman network create: race: error reading */conflist: ENOENT"
There seems to be a race condition causing flakes when multiple tests run 'podman network create/rm' at once:
[code]
Probable cause: `podman inspect container two CNI networks` test running at just the right time, and running its `network rm` at just the wrong moment.

Log: [from PR 7803](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6498441721282560/

[2020-09-28 19:24] edsantiago commented on #7807
(I'm not going to bother trying to reproduce this. I'm gambling that it's trivial to find and fix the race. If it isn't, please LMK and I'll dive into it further).

[2020-09-28 19:26] mheon commented on #7807
It should be possible to get the tests to use separate CNI config
directories - have a per-test directory and a global one with the main
configs. Might be worth investigating to prevent these kinds of issues
entirely

On Mon, Sep 28, 2020, 15:24 Ed Santiago <notifications@github.com> wrote:

[2020-09-28 19:33] edsantiago opened #7808 "race: remote,rootless: podman network create followed by run"
I've seen this one twice so far:
[code]

Log: [from PR 7803, ubuntu remote](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4668854372663296/html/system_test.log.html)

Again, I'm not going to spend any time right now trying to reproduce (acting on the assumption that this will be an easy one to track down). I will try to keep track of flake occurrences

[2020-09-28 19:44] edsantiago commented on #7807
@mheon by "should be possible" do you mean "we currently have existing functionality, e.g. a --confdir option or envariable, that the tests can use"? Or "it should be possible to add such functionality"?

[2020-09-28 19:47] mheon commented on #7807
The functionality exists but isn't wired into the CLI last I checked
(config file only). Should not be difficult to add but would require code
changes.

On Mon, Sep 28, 2020, 15:44 Ed Santiago <notifications@github.com> wrote:

[2020-09-28 19:58] edsantiago opened #7809 "test/e2e : podman network remove with two networks: needs fail-safe cleanup"
test/e2e/network_test.go:"podman network remove with two networks" does not properly clean up after itself if the test fails partway (e.g. if `net1` succeeds but `net2` fails).

[2020-09-28 20:12] ocafebabe opened #7810 "ERRO[0002] could not find slirp4netns"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

ERRO[0002] could not find slirp4netns, the network namespace won't be configured: exec: "slirp4netns": executable file not found in $PATH

**Steps to reproduce the issue:**

1. Add Podman Ubuntu repository

2. Install Podman using offical method

3. Start a container

**Describe the results y

[2020-09-28 20:26] #7740 closed

[2020-09-28 20:41] rhatdan commented on #7781
Ok, then I got it from upstream.  Sorry about that.

[2020-09-28 20:41] #7781 closed

[2020-09-28 20:43] rhatdan commented on #7747
I have a feeling this will be fixed by https://github.com/containers/podman/pull/7802

[2020-09-28 20:44] mheon commented on #7810
We've gone back and forth on this one before; there are reasons to not want to install it by default (there were issues filed when it was a hard dependency requesting that we return it to a Recommends, but I can't seem to locate them). I believe it's set as a Recommended dependency now - @lsm5 can you confirm?

[2020-09-28 20:48] ocafebabe commented on #7810
@mheon ok but what are the other options?

[2020-09-28 20:56] rhatdan commented on #7810
This is an Ubuntu packaging issue.  It is a Recommends in Fedora and should be similar in Ubuntu.

[2020-09-28 20:59] rhatdan commented on #7806
@ashley-cui PTAL

[2020-09-28 20:59] rhatdan commented on #7801
If you run in privileged mode does this work?
@giuseppe WDYT?

[2020-09-28 21:00] rhatdan commented on #7800
podman system reset

Should clean up all containers and images and reset you to initial state.

[2020-09-28 21:02] ocafebabe commented on #7810
@rhatdan But how can this be a "recommended" dependency when this network mode is the default in Podman?

[code]

[2020-09-28 21:03] mheon commented on #7810
It is only required for rootless Podman. Running as root does not require `slirp4netns` (but does require the CNI plugins)

[2020-09-28 21:11] edsantiago commented on #7808
I wonder if the race is in CNI? And I wonder if this is related? It's a very frequent flake in `podman network rm`, the classic symptom being:
[code]
Recent instances (all one-offs, no triplets which cause a complete CI abort):

Podman network [It] podman network rm
* fedora : in-podman fedora
  * PR #7676
    * [09-17 13:05](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifac

[2020-09-28 21:26] ocafebabe commented on #7810
Well, this is my case...

[2020-09-28 21:50] web-refinery opened #7813 "Managing unit files"
/kind feature

**Description**
Cockpit-podman is intended to do one thing and one thing well: be a frontend for podman. This raises an issue regarding autostarting pods (cockpit-project/cockpit-podman#364) which should be out-of-scope for cockpit but it might be in-scope for podman itself.

In containers/podman#5494 @rhatdan asked whether there should be a --install flag for unit files and buildin

[2020-09-28 22:47] edsantiago opened #7814 "deal with new crun or runc or somethiing"
Reminder for myself: looks like crun or runc or something has changed some sort of error message format:

https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/16556/pipeline/
[code]
Deal with it. But not today.

[2020-09-28 23:27] TristanCacqueray commented on #7801
Running in privileged mode does not seem to be enough as the device is not available.

[2020-09-29 03:57] bbros-dev opened #7816 "Doc: Rootless Podman networked via WireGuard Client"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This arose in the course of preparing series on rootless Podman related documentation for [Vultr](www.vultr.com).
The first part is [How to Install and Use Podman on Ubuntu 20.04](https://www.vultr.com/docs/how-to-install-and-use-podman-on-ubuntu-20-04).

This is likely a documentation ex

[2020-09-29 05:32] afbjorklund commented on #7810
It shows up as a "recommends" here, so should be installed by default (unless using --no-install-recommends)

[code]

[code]

It is not required, since `sudo podman` should work without it. But it also should have been installed by default ?

[2020-09-29 05:37] bbros-dev commented on #7816
Hmm, IIUC, this functionality is added by this commit https://github.com/containers/podman/commit/f82abc774a70419bc7a2ff444a323110e1d9d938

So it may be possible to move the WG interface into this is netns?
However, there is no indication whether the requirement, set out in [this comment](https://github.com/containers/podman/issues/4473#issuecomment-558594526) still applies.

[code]

Either way th

[2020-09-29 06:43] dR3b commented on #7613
It works now (systemd-resolved.service | /etc/resolv.conf):
[code]

[2020-09-29 07:17] bbros-dev opened #7817 "A change to netns /etc/resolv.conf is not present in podman run container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I change the content of /etc/resolv.conf in a netns and then pass that netns to `podman run`, the change is not present in the container.

**Steps to reproduce the issue:**

1. Create a netns `gitea-drone` as Described on the [WireGuard netns page](https://www.wireguard.com/netns/)

2. E

[2020-09-29 08:03] jskovjyskebankdk opened #7818 "Pushing to TLS registry with non-standard port fails"
/kind bug
**Description**
I would like to run a registry on a high port (e.g. localhost:5443) during testing.

But pushing to this fails, as part of Podman's communication drops the port and just uses the domain name.

FWIW this works using non-TLS registry running on e.g. localhost:5000.

**Steps to reproduce the issue:**

1. Run a SSL-enabled registry on a non-standard port.
    Use this script

[2020-09-29 08:17] giuseppe commented on #7814
it is probably crun after https://github.com/containers/crun/pull/439

[2020-09-29 08:26] dzerhusen commented on #7800
Currently this isn't a solution for me because this will result in a downtime for all containers.

[2020-09-29 08:31] giuseppe commented on #7801
I think we could add a `--security-opt` option to specify the list of paths that must be masked and override the default list.

Something like:

`--security-opt masked-paths=/foo/bar:/baz`

[2020-09-29 08:53] vrothberg commented on #7813
Thanks for reaching out, @web-refinery!

I share your thoughts, but for Podman. Having Podman manage the unit files can quickly turn into Podman acting as a front-end to `systemctl` which I think is outside of Podman's context. It's also hard to predict when the feature is "done" as we had to chase "systemctl".

A `podman generate systemd --install` flag, however, could make sense to at least eras

[2020-09-29 10:03] g574 opened #7821 "STOPSIGNAL ignored"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**I execute podman command as a non-root user.**
The STOPSIGNAL step in the Dockerfile is ignored when the container is being stopped.

**Steps to reproduce the issue:**

1. Write a simple Dockerfile:
[code]

2. Build an image:
[code]

3. Start a container with that image, wait a few seconds

[2020-09-29 10:12] bbros-dev commented on #7817
Just to acknowledge there is a `--dns=<ip>` command line workaround for anyone else journeying along this path:

[code]

[2020-09-29 10:17] giuseppe commented on #7782
we are not setting additional gids for rootless: https://github.com/containers/podman/blob/master/libpod/container_internal_linux.go#L417-L422

I think the reason is that it won't work when there are no multiple gids available, or not enough to cover all the additional gids

[2020-09-29 12:45] haykhovsepyan commented on #7562
Hi,
Any update on this situation?

[2020-09-29 12:48] mheon commented on #7816
I'm going to guess here that you're seeing up the Wireguard network
namespace as root and then trying to join it with rootless Podman? That
won't work - the kernel won't let us join network namespace that are not a
child of the rootless user namespace. You could attempt to do the
configuration of the new network namespace from within a 'podman unshare'
shell but I suspect you will also run into pe

[2020-09-29 13:01] giuseppe commented on #7562
can you try the command: `unshare -r systemd-run --scope --user echo it works` ?

If it doesn't work then it means the systemd version is too old and doesn't support using dbus from a user namespace (it requires https://github.com/systemd/systemd/pull/11785)

[2020-09-29 13:06] rhatdan commented on #7810
@ocafebabe I believe everything is correct on Ubuntu, and this was a local install problem.  Reopen if you disagree.

[2020-09-29 13:06] #7810 closed

[2020-09-29 13:07] rhatdan commented on #7613
@dR3b @bobhenkel Can I close this issue then?

[2020-09-29 13:13] haykhovsepyan commented on #7562
From rootless user
[code]
Under root

[code]
`systemd 239`

systemd  latest version for Centos 8 (cgroups v2)

Error:

`sd-bus call: Permission denied: OCI runtime permission denied error`

[2020-09-29 13:18] giuseppe commented on #7765
What is the output for?

[code]

[2020-09-29 13:22] giuseppe commented on #7562
thanks for confirming it.  So that is the issue, dbus doesn't work from a user namespace.  I am going to close the issue as there is nothing we can do from Podman and it is already fixed upstream in systemd.  Next centos version will have the fix as well.

[2020-09-29 13:22] #7562 closed

[2020-09-29 13:44] mtrmac commented on #7755
Reopening to see what the parser is doing — and moving to c/image.

[2020-09-29 14:01] vrothberg commented on #7484
I can finally reproduce on Ubuntu 18.04.

[2020-09-29 14:09] ocafebabe commented on #7810
@rhatdan I guess Linux Mint behaves differently than Ubuntu when installing podman, even if it's a derivative of the later. It's also odd that this dependency is recommended on Ubuntu but required on these distributions: Gentoo, Arch Linux, openSUSE Tumbleweed...

[2020-09-29 14:38] Luap99 commented on #7808
@edsantiago The tests are run in parallel, right?

[2020-09-29 14:40] edsantiago commented on #7808
@Luap99 I cannot answer that with confidence, but yes, I believe so.

[2020-09-29 14:45] dR3b commented on #7613
@rhatdan
Sure thanks!

[2020-09-29 14:56] baude commented on #7808
correct. in parallel depending on the run itself. i think remote tests are not in parallel.

[2020-09-29 15:21] #7814 closed

[2020-09-29 15:34] #6097 closed

[2020-09-29 15:54] zhangguanzhang commented on #7613
/close

[2020-09-29 15:54] #7613 closed

[2020-09-29 16:01] srcshelton commented on #7747
Yup - that fixes 2.1.1 for me!

[2020-09-29 16:01] #7747 closed

[2020-09-29 16:28] psgreco opened #7826 "podman system service times out even with active connections"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Launching `podman --log-level=debug system service -t60` times out after 60 seconds even when connections are still in use

**Steps to reproduce the issue:**

1. podman --log-level=debug system service -t60

2. launch a long connection via the API (in my case, using giltab-runner)

3. what pod

[2020-09-29 16:52] nickyfoster commented on #5488
Hello!
I'm facing the same issue.
I'm trying to build image inside jenkins container in OKD cluster (version 3.11).

I've installed podman in my jenkins-worker node as follows:
`FROM docker.io/openshift/jenkins-agent-maven-35-centos7:v3.11

USER root

# install Podman
RUN yum -y install podman

# install ansible
RUN yum install -y python3-pip && yum clean all
RUN pip3 install ansible --user
RUN pi

[2020-09-29 16:58] vrothberg commented on #7484
Systemd does not like the user namespace:
[code]

@giuseppe, you may know what's going on? :)
systemd 237

[2020-09-29 17:04] vrothberg commented on #7484
Doing a better search helped. It's a known bug in systemd (see https://bugzilla.redhat.com/show_bug.cgi?id=1838081) as it reject cross-uid-namespace connections.

Unfortunately, there's nothing Podman can do. I suggest opening a bug against Ubuntu. Note that it works as root.

Thanks again for opening the issue and your help debugging the issue!

[2020-09-29 17:04] #7484 closed

[2020-09-29 17:04] vrothberg commented on #7484
@baude @rhatdan FYI

[2020-09-29 17:24] rhatdan commented on #7780
Could you attempt to pull the image with Skopeo and or buildah to see if they act differently?

[2020-09-29 17:27] rhatdan commented on #7235
Could you open a separate PR for this, also could you confirm that this happens with podman-remote as well?

[2020-09-29 17:30] rhatdan commented on #7235
My quick test worked for podman-remote

[code]

[2020-09-29 17:44] psaini79 opened #7829 "Unable to assign multiple network card"
/kind bug

**Description**

I am trying to assign multiple networks to a container but it takes only one network into consideration.

**Steps to reproduce the issue:**

1. Setup 1st newtork conf file in /etc/cni/net.d
[code]

2. Setup 2nd network conf file in /etc/cni/net.d
[code]

3. Create the container
[code]
4. Login to the container and check the network
[code]
**Describe the results you rece

[2020-09-29 17:44] owtaylor opened #7830 "Containers created with cgroup_manager=cgroupfs fail obscurely with new default settings"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

At some point in the past, apparently libpod wrote a libpod.conf that included `cgroup_manager=cgroupfs` (small chance that I added it manually as a workaround for some issue in the past.)

When I upgraded to podman-2.1.1, I got the new warning:

[code]

I inspected `libpod.conf`, determined

[2020-09-29 18:05] #7396 closed

[2020-09-29 18:11] djnotes commented on #7765
```memory pids```

    On Tuesday, September 29, 2020, 9:18:52 AM EDT, Giuseppe Scrivano <notifications@github.com> wrote:

What is the output for?
$ cat /sys/fs/cgroup/user.slice/user-$(id -u).slice/cgroup.controllers

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-29 18:24] rhatdan commented on #7818
@vrothberg PTAL

[2020-09-29 18:29] rhatdan commented on #7800
Well you could remove your libpod database, which will make podman loose the containers, but still have all of the images in storage.

[2020-09-29 18:31] rhatdan commented on #7801
How about
--security-opt unmask-path=/sys/dev

[2020-09-29 18:31] mheon commented on #7800
This one seems kind of bizarre - c/storage is complaining that the name is in use, but simultaneously that the associated layer does not exist. @nalind Are we looking at potentially inconsistent c/storage state here?

[2020-09-29 18:33] rhatdan commented on #7813
Yes I think installing should be something we handle, especially where so many users trip over this.

[2020-09-29 18:34] mheon commented on #7801
We could also add a `--security-opt mask-path=$PATH` to add masked paths - seems useful.

I would like the ability to `--security-opt unmask-path=ALL` as well.

[2020-09-29 18:36] mheon commented on #7829
Please try a more recent Podman. I'm 99% sure this issue is fixed on 2.0 and higher.

[2020-09-29 18:37] rhatdan commented on #7821
Ok it looks like the StopSignal is making its way into the `podman inspect`  of the container.

[2020-09-29 18:45] mheon commented on #7821
Can you provide the output of `podman stop --log-level=debug` on the container?

[2020-09-29 18:50] mheon commented on #7821
Also, more environment details would be appreciated. Are you running as root or rootless, are you running the Podman remote client, etc...

Can you also check and make sure that SIGTERM is being sent, using a similar command but trapping SIGTERM instead?

[2020-09-29 18:51] rhatdan commented on #7821
Podman is definitely doing the right thing.

It is calling crun with this command.

/usr/bin/crun kill 6f1d5073e6130bbc85824592e4fad98e14ecfe8b398cc32dafc07bbada5f8dc4 2

[2020-09-29 18:51] rhatdan commented on #7821
@giuseppe Any ideas.

[2020-09-29 18:52] rhatdan commented on #7821
./bin/podman run --rm -ti -u root --name signal_test localhost/signaltest /bin/bash -c 'trap "echo SIGQUIT" SIGQUIT ; sleep 1000000'

podman stop -l

I do not see any signal hitting the bash script.

[2020-09-29 19:08] nickyfoster commented on #5488
So I've fixed the problem by mapping /sys/fs/cgroup from host to my jenkins-worker container.

The problem is solved now

[2020-09-29 19:21] rhatdan commented on #7821
It seems like the sleep is causing bash to ignore signals, Try Setting the StopSignal to 10, (SIGUSR1) Then use read.  Signal 2 (SIGQUIT) is not able to be trapped.

[code]
Second Terminal
[code]
First terminal now shows:
[code]

[2020-09-29 19:21] #7821 closed

[2020-09-29 20:06] averyfreeman commented on #7663
I haven't tried it yet.  I will do some tests locally on an essentially identical setup and let you know what I find out.  Thanks :)

[2020-09-29 20:18] #7623 closed

[2020-09-29 21:13] Luap99 commented on #7807
Actually we support this already: `podman --cni-config-dir ~/test network ls`

[2020-09-29 21:51] edsantiago opened #7837 "remote: flake: podman rm (more than 1 container): no such container"
Seen this one at least twice in CI. Here's a reproducer, albeit not a great one:
[code]
Will usually fail within 5 minutes, but once it took 20.  The `wait` is not actually necessary, but for some reason it makes the script fail more quickly. I'm pretty sure the `-v` is necessary, I couldn't get failures without it (but maybe I just didn't wait long enough).

CI failures: [today](https://storage.g

[2020-09-29 23:32] langdon opened #7838 "generate kube should use tag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When you use `podman generate kube` you expect to be able to run the result immediately. However, possibly depending on how you created the pod, you generate a yaml file that uses `:latest` for the tag. If you turn around and try to `play kube` that file, it fails trying to pull container ima

[2020-09-29 23:39] bbros-dev commented on #7816
Will try that.

[2020-09-30 04:07] cybernet commented on #5405
[root@cent0 ~]# podman --log-level debug login docker.io
DEBU[0000] Returning credentials from /run/user/0/containers/auth.json
Authenticating with existing credentials...
DEBU[0000] Looking for TLS certificates and private keys in /etc/docker/certs.d/docker.io
DEBU[0000] GET https://registry-1.docker.io/v2/
DEBU[0000] Ping https://registry-1.docker.io/v2/ status 401
DEBU[0000] GET https://auth.do

[2020-09-30 04:28] bbros-dev commented on #7816
@mheon, Correct there are permissions issues trying to create the network namespace with the rootless Podman user namespace:

[code]

Would also be useful to document what the sudo entry might need to look like?

[2020-09-30 06:19] IceCodeNew opened #7839 "[Question] `podman-auto-update.service` is not shipped with OBS package"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind question

**Description**

`podman-auto-update.service` is not shipped with the OBS package, does it means we currently can't have a background container auto-update timer?

**Steps to reproduce the issue:**

1. Follow the official page to add OBS packages source and install the latest `podman` release

# On a Ubu

[2020-09-30 06:52] web-refinery commented on #7813
Thanks for replying!

This makes sense.

I would (if I hadn't known better) assume that after running this command that Podman would assume responsibility for the unit file and remove it whenever I tell it to remove the pod.

Adding a flag (i.e. `--systemd-unit`) to `podman-create` & `podman-rm` might be more intuitive. `podman-generate` wouldn't have to change.

[2020-09-30 07:03] haykhovsepyan commented on #7562
@giuseppe  thanks for information , will wait centos next version release.
You can close the issue.

[2020-09-30 08:05] tmds commented on #6863
@mheon @giuseppe @AkihiroSuda I'd like to try this out.

I've installed `podman` from copr repo:
[code]
I'm not able to create a network:
[code]

What is the recommended way to install a version of `podman` that supports this feature on Fedora 32?

[2020-09-30 08:18] g574 commented on #7821
@rhatdan, @mheon Thanks a lot for the inputs.
As I mentioned I tried to reproduce a more complex issue here and I failed apparently.
In the real-life situation I have a Dockerfile (built with Docker), with a CMD like this:
[code]
`script.sh` something looks like this:
[code]
When I run this in docker I can shut down the container gracefully (the application has to write the memory to the disk befo

[2020-09-30 10:03] AkihiroSuda commented on #7789
Fix: https://github.com/containers/podman/pull/7841

[2020-09-30 11:15] vrothberg commented on #7813
Can you share a use case / your motivation to have Podman remove files?

So far, `podman generate systemd` generates units based on a container or pod. Running Podman in systemd services isn't straight forward but `generate systemd` makes this part easy. Managing the units is not something Podman is doing so far (only `podman auto-updates` restarts the units).

[2020-09-30 11:37] dzerhusen commented on #7800
@rhatdan can you give me some instructions what to do exactly? Shall i remove the .local/share/containers/storage/libpod folder with the datafile in it? "Loose" means i dont see any container with "podman ps" anymore?

PS: I will go for the reset next week if we  release a new version.

[2020-09-30 12:02] vrothberg commented on #7818
AFAIK, everything else than 5000 requires TLS.

It's at least not a Podman issue. Running the registry with Docker behaves exactly the same. I am a horrible sys admin, so others may know why 5000 is special. @edsantiago @mtrmac ?

[2020-09-30 12:04] vrothberg commented on #7818
As it's not a Podman issue, I am going to close but we can continue the conversation.

[2020-09-30 12:05] jskovjyskebankdk commented on #7818
The registry does run with TLS.

The --tls-verify=false option is solely there, because of the comment in the troubleshooting guide about authentication.

[2020-09-30 12:09] mtrmac commented on #7818
The PATCH URL comes directly from a `Location` header sent the server, so the server is misconfigured and does not know its own port. The `-p 5443:443` might have something to do with it.

[2020-09-30 12:10] jskovjyskebankdk commented on #7818
@mtrmac Ah! I am indeed running it without configuration. I will investigate, cheers!

[2020-09-30 12:11] eriksjolund opened #7842 ""rootless containers and pods cannot be assigned static IP addresses" (podman-run, rootless, CNI)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Assignment of a static IP address to rootless CNI  when running `podman run` fails.
If the failure is expected it should be documented in the documentation for the
`--ip` command-line option in the manual page for `podman run`
https://github.com/containers/podman/blob/master/docs/source/markd

[2020-09-30 12:11] vrothberg commented on #7818
Thanks! I'll grab a new coffee.

It looks like something's odd in the set up. We test registries+TLS in every run of our CI (see the script https://github.com/containers/podman/blob/master/hack/podman-registry).

[2020-09-30 12:13] mtrmac commented on #7818
From a Podman / c/image point of view, the thing to check is just running the upstream registry server on 5443 . If that works, and the `nginx` proxy doesn’t, my starting hypothesis would be that the `nginx` proxy is not implementing the protocol as expected.

[2020-09-30 12:24] rhatdan opened #7843 "Build_test.go has Skips for broken tests on podman-remote build"
test/e2e/build_test.go

I believe these should be fixed or reworked to allow partial testing i remote mode

	It("podman build basic alpine with squash", func() {
	It("podman build --http_proxy flag", func() {

[2020-09-30 12:25] vrothberg commented on #7830
Thanks for opening the issue, @owtaylor!

Podman does not store the cgroup-manager a container has been started with. It's a global setting. If a container is created with `--cgroup-manager=X` it must be started with it as well.

It recently bit me as well and I'd love Podman to store the cgroup manager in the database and reuse it for further commands.

@baude @giuseppe @mheon @rhatdan WDYT?

[2020-09-30 12:27] rhatdan opened #7844 "Broken Remote Test test/e2e/exec_test.go:"
Seems to be a seccomp failure?

It("podman exec preserves container groups with --user and --group-add", func() {

@giuseppe PTAL

[2020-09-30 12:31] jskovjyskebankdk commented on #7818
@mtrmac I can indeed push to docker://localhost:5444 (just to pick a non-standard port) when there is no TLS.

I must need some magic in the nginx configuration.

Thanks for time+input (all of you).

(When I find the cause, I will update here, so it is not an empty trail, should anyone go the same way)

[2020-09-30 12:31] #7818 closed

[2020-09-30 12:41] #7789 closed

[2020-09-30 12:47] jskovjyskebankdk commented on #7818
It was indeed the nginx configuration.

The below works for me.

[code]

[2020-09-30 12:49] jskovjyskebankdk commented on #7818
The debug output now contains parts like (PATH fixed):

[code]

[2020-09-30 13:09] owtaylor commented on #7830
I guess parsing the cgroup-manager out of the ExitCommand would be bad form?

Presumably, there is something about the container configuration that is causing this particular bug (wild guess - CgroupParent=""?) - if there's not a general solution to this that covers all cases, shouldn't it be possible to catch this particular case and do something reasonable / present a good error message?

[2020-09-30 13:30] web-refinery commented on #7813
Cockpit-podman is a good example. It is intended to be a GUI for podman, nothing more and nothing less. So having podman create a unit file but not being able to remove it later on would leave dangling resources; obviously cockpit could handle removing the unit file itself but it wouldn't be able to do that (by default) when the pod was deleted in some other way (i.e. a user manually invoking podm

[2020-09-30 13:58] gasinvein commented on #6863
@tmds Podman 2.1.0 is [available](https://bodhi.fedoraproject.org/updates/FEDORA-2020-3a4b8fca5e) in updates-testing repo for Fedora 32.

[2020-09-30 14:10] vrothberg commented on #7813
Does Cockpit-podman allow for generating unit files via podman-generate-systemd?

Note that most unit files have restart policies that will cause a pod/container to be recreated if it exited non-zero. Podman and systemd could hence run into a race of recreating a new container and deleting the unit file. We really want systemd to manage Podman (not the other way around) - `generate systemd` is mea

[2020-09-30 14:37] #7826 closed

[2020-09-30 14:39] rhatdan commented on #7782
You are saying that if the range of GIDs  is not mapped into the user namespace?  If so should we make this smarter and allow it to check the range of UIDs and make sure they will work and not blow up the container, then warn about missing gids.

[2020-09-30 14:40] mheon commented on #6863
@baude What's going on with the COPR? It's claiming to provide 2.1.0 but it seems like it's a very old version if it hasn't picked this up yet?

[2020-09-30 14:49] rhatdan commented on #7810
It is recommended in RHEL, Centos and Fedora as well.
The key issue is fuse-overlay, slirp4netns are only required for rootless.  Each distro has the ability to define their own specification.  Personally I prefer Recommended, just so I can get rid of packages that I don't need, especially when embedding tools within containers.

[2020-09-30 14:54] rhatdan commented on #7484
Nice work @vrothberg

[2020-09-30 16:07] #7809 closed

[2020-09-30 16:21] industrial-sloth opened #7852 "run files under /tmp can be clobbered by systemd.tmpfiles"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I have several long-running, little-used podman containers running under Centos 7.8. These are running rootless, and are launched by systemd with `User=` flags. The systemd unit files were created by podman, with `User=`, `Group=` and `WorkingDirectory=` flags manually added.

After some perio

[2020-09-30 16:24] jwhonce commented on #7404
@TomSweeneyRedHat @baude

From a quick read:
 - it appears we need to set properties on the redoc script. Manipulation of the yaml does not change the presentation order
 - we currently retrieve the redoc script on-demand from html

To fix:
 - We need to either set properties when running redoc script
 - Or, build json application combining redoc with properties and our swagger. Application provid

[2020-09-30 18:00] ParkerVR commented on #7751
@mohd-akram I'm getting identical results in both Docker and Podman on both 2.0.6 and upstream. can you clarify what exactly you're seeing differently?

[2020-09-30 18:10] edsantiago commented on #7139
Another one: PR 7851, [ubuntu root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6541874393513984/html/system_test.log.html)

[2020-09-30 18:22] mohd-akram commented on #7751
It's described in the issue. What is the result you're getting?

[2020-09-30 18:32] ParkerVR commented on #7751
➜  ~ podman run -it fedora /bin/bash
[root@1509726a4eeb /]# %
➜  ~ sudo docker run -it fedora /bin/bash
[root@a6e4cffd2cea /]# %
➜  ~

[2020-09-30 18:38] #7233 closed

[2020-09-30 18:40] mohd-akram commented on #7751
Try this:

[code]

[2020-09-30 18:51] jdockter commented on #7659
@QiWang19 is this something you will be working on?

[2020-09-30 19:30] TomSweeneyRedHat commented on #7404
@jwhonce it doesn't get published to podman.io, it gets published to readthedocs via some make magic that @baude put together.  We then do a redirect of docs.podman.io to readthedocs.  Also readthedocs has some settngs you can select to make that look seamless.

eithe suggestion sounds at least slightly painful, I'll let @baude flip the coin.

[2020-09-30 19:51] xordspar0 opened #7855 "Add support for resource CPU limits to generate kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

PR https://github.com/containers/podman/pull/7853 adds support for resource limits to `podman play kube`, but `podman generate kube` still lacks support for generating Kubernetes configuration that retains resource limits.

**Steps to reproduce the issue:**

1. Create a container that has

[2020-09-30 19:54] QiWang19 commented on #7659
@jdockter I can take look at this, I was distracted by other issues.

[2020-09-30 20:08] mheon commented on #7852
Hm. We shouldn't be using those directories unless you didn't have a `/run/user/$UID` when you first ran Podman - normally all our rootless containers use a temp directory in there, and I don't believe systemd will ever clean up that directory except on user logout. Perhaps we should investigate moving the backup directories we create when `/run/user/$UID` is not available to use `/var/run` (which

[2020-09-30 20:15] QiWang19 commented on #5405
@cybernet Which podman version you are using? This seems the same issues as https://bugzilla.redhat.com/show_bug.cgi?id=1867495

[2020-09-30 20:29] mlegenovic opened #7857 "Eclipse Docker Tooling support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Docker compatibility endpoint `/images/json` does not comply with the Docker API specification. Eclipse Docker plugin calls `/images/json?all=true` and expects this structure: [https://github.com/dmandalidis/docker-client/blob/master/src/main/java/org/mandas/docker/client/messages/Image.java]

[2020-09-30 20:31] mlegenovic commented on #7327
@jwhonce Agree. [https://github.com/containers/podman/issues/7857](https://github.com/containers/podman/issues/7857)

[2020-09-30 20:33] mheon commented on #7857
Can you possibly find the type of struct that Eclipse is trying to unmarshal into, and what version of the Docker API  Eclipse was written to support?

[2020-09-30 20:42] mlegenovic commented on #7857
Link to java struct is available in description, but here again: [https://github.com/dmandalidis/docker-client/blob/master/src/main/java/org/mandas/docker/client/messages/Image.java](https://github.com/dmandalidis/docker-client/blob/master/src/main/java/org/mandas/docker/client/messages/Image.java)

Version compatibility is described here: [https://github.com/dmandalidis/docker-client#version-comp

[2020-09-30 21:09] mheon commented on #7857
Issues I notice: `Digests` in our JSON output should be `RepoDigests`. `VirtualSize`, `Labels`, and `ParentId` are missing entirely (presumably set to `omitempty`).

[2020-09-30 21:41] mlegenovic commented on #7857
Yes, this was also comment from jwhonce in [https://github.com/containers/podman/issues/7327](https://github.com/containers/podman/issues/7327)

[2020-09-30 22:09] jwhonce opened #7859 "podman.service unit file should include a known EnvironmentFile directive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

If podman.service included a directive like `EnvironmentFile=-/etc/sysconfig/podman` then changing an environment variable's value would require only restarting podman vs reloading the `systemd` daemon

**Describe the results you received:**
Edit `podman.service` file, add an Environment

[2020-09-30 22:16] cmdrogogov commented on #4075
Apologies for re-opening -

This issue appears to manifest when you're attempting to utilize podman with a domain account even if its in sudoers.

I am assuming this is down to the following;
https://github.com/containers/podman/blob/master/rootless.md

[2020-10-01 01:17] hhergeth opened #7860 "Docker Compatibility API Timestamp Format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Docker compatibility endpoint /containers/id/json does not comply with the Docker API specification. The specs [here](https://docs.docker.com/engine/api/v1.40/#operation/ContainerInspect) show that the __Created__ property is in ISO 8601 format. Podman on the other hand returns a string forma

[2020-10-01 03:53] cybernet commented on #5405
1.6.4 LTS
CentOS 8

[2020-10-01 03:54] cybernet commented on #5405
apparently it was fixed ...

Since the problem described in this bug report should be
resolved in a recent advisory, it has been closed with a
resolution of ERRATA.

For information on the advisory (OpenShift Container Platform 4.3.38 bug fix update), and where to find the updated
files, follow the link below.

If the solution does not work for you, open a new bug report.

https://access.redhat.co

[2020-10-01 04:04] bbros-dev commented on #7859
My understanding is that `EnvironmentFile` use is frowned on:

See:
https://lists.freedesktop.org/archives/systemd-devel/2015-December/035236.html

 and [this comment](https://github.com/systemd/systemd/issues/618#issuecomment-123808429)

[2020-10-01 06:28] tmds commented on #6863
I have it installed from updates-testing now:

[code]

Creating a network doesn't work for me yet, I get a permission denied error:
[code]

@giuseppe @AkihiroSuda is this broken, or am I still missing some bits?

[2020-10-01 06:45] AkihiroSuda commented on #6863
If you have `/etc/cni` strings in `/home/tmds/.config/containers/libpod.conf`, please try removing them

[2020-10-01 07:20] vrothberg commented on #7860
Thanks for opening the issue, @hhergeth!

@baude @jwhonce PTAL. I recall some timestamp issues but am not sure if this endpoint was affected.

[2020-10-01 07:31] #6381 closed

[2020-10-01 07:31] tmds commented on #6863
@AkihiroSuda I commented out `cni_config_dir = "/etc/cni/net.d/"` in `libpod.conf` and now it works, thanks!!

[2020-10-01 07:42] nickyfoster opened #7861 "Podman fails to run in rootless container (OKD v3.11)"
**BUG REPORT**

/kind bug

**Description**

When I'm trying to build image with podman inside unprivileged container in Openshift OKD cluster I get:
`Error processing tar file(exit status 1): there might not be enough IDs available in the namespace (requested 0:42 for /etc/shadow): lchown /etc/shadow: invalid argument`
`podman system migrate` does nothing and the problem still exists.
I've also tr

[2020-10-01 07:55] mschz opened #7862 "Volume prune command removes used volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi all, I'm currently training myself "podman". In the last week I created a POD of two containers that's started using "podman-compose". Each of the containers uses a volume defined in my "docker-compose.yaml". Everything works properly so far. Since I had a lot of unused volumes, I decided

[2020-10-01 08:25] g574 commented on #7821
I did some more testing.
Basically having `STOPSIGNAL 2` in the Dockerfile and then `podman stop container` does not stop the application with SIGINT, `podman kill --signal SIGINT container` does.

[2020-10-01 08:35] vrothberg commented on #7861
@rhatdan @giuseppe PTAL

I am not sure Podman can run in a rootless container.

[2020-10-01 08:37] nickyfoster commented on #7861
If it is not possible to run inside a rootless container, may be you can recommend me a solution for my case.
It is actually possible to use root container, but it just has to be isolated from the host system

[2020-10-01 08:56] giuseppe commented on #7861
I think you should at least add the CAP_SETUID/CAP_SETGID capabilities, or try the `ignore_chown_errors` storage opt

[2020-10-01 09:04] TomasTomecek opened #7863 "`sudo podman run -u $(id -u)` fails with "apply caps: operation not permitted""
/kind bug

**Description**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest version of Podman and have you checked the Podman Troubleshooting Guide?**

No

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Fedora 33,

[2020-10-01 09:22] vrothberg commented on #7837
Thanks a ton for the reproducer, @edsantiago!

I'll take a look. This one has been quite annoying.

[2020-10-01 09:58] vrothberg commented on #7863
Thanks for opening the issue @TomasTomecek!

I think @rhatdan already fixed that, right?

[2020-10-01 10:02] nickyfoster commented on #7861
@giuseppe
Alright, thanks, I'll try that and let you know.

I also have this kind of error:
[code]
when I run my pipeline.
But if I then remove the pod manually and run it once again, the error disappears

[2020-10-01 10:09] nickyfoster commented on #7861
What am I doing wrong here?
[code]

[2020-10-01 10:09] vrothberg commented on #7837
I can reproduce and after an audit of the code I suspected that the issue is not on the server-side removal but somehow corrupted data on the client. So I started logging which containers the client wants to remove:
[code]
... and indeed the client tries to remove the same container twice although it should be two different IDs (for the two containers).

Digging further.

[2020-10-01 10:13] vrothberg commented on #7837
Found it ...

[2020-10-01 10:19] rhatdan commented on #7863
Fixed in https://github.com/containers/podman/pull/7820

[2020-10-01 10:19] #7863 closed

[2020-10-01 10:29] TomasTomecek commented on #7863
oh, haven't noticed, thanks!

[2020-10-01 10:36] rhatdan commented on #7862
I am not sure what caused your volume to get removed.  I took a quck look at the code and realized we were attempting to pass down the force flag, but actually were never using it.  I opened a PR to clean up our handling of the force flag here.

https://github.com/containers/podman/pull/7864

But I don't believe this will fix your problem.
Do you have a quick recreator of the bug?

[2020-10-01 10:38] rhatdan commented on #7861
Podman will not run within a rootless container without lots of work and requiring a great deal of privilege.  Most likely will not work in a version of OpenShift as old as 3.11 either.

[2020-10-01 10:40] rhatdan commented on #7860
Yes this endpoint should be fixed.  The issues we had were with json output, that were difficult to fix.

[2020-10-01 10:54] tmds opened #7865 "podman network ls format doesn't work"
`podman network ls --format` doesn't work:

[code]

version:
[code]

[2020-10-01 11:18] priyanka19-98 commented on #2788
doesn't work for me,
here is the error:
[code]
[code]

[2020-10-01 11:23] nickyfoster commented on #7861
@rhatdan and which version of OKD you recommend to use?

[2020-10-01 11:28] debarshiray commented on #7766
Ok, understood.

[2020-10-01 11:31] stephengaito opened #7866 "Rootless Podman using Linux Capabilities (on the host)"
/kind feature

**Description**

(This is a more general and disciplined solution to, for example, [5)
rootless containers cannot ping
hosts](https://github.com/containers/podman/blob/master/troubleshooting.md#5-rootless-containers-cannot-ping-hosts)).

I would like to make use of one or more linux capabilities on the *host*
in **rootless-podman** mode.

For example, I would like to make use of *bo

[2020-10-01 11:42] dzerhusen commented on #7865
Where do you got the `{{.ID}}` from? I must say, i am only using version 2.0.4.

`podman network ls --format {{.Name}}`
works for example.

[2020-10-01 11:59] tmds commented on #7865
That works for me too. I got the `{{.ID}}` by copy-paste.

Do you know how I can see the full json?

[2020-10-01 12:09] zhangguanzhang commented on #7865
[code]
there is no filed named `ID`

[2020-10-01 12:45] rhatdan commented on #7857
I am not sure how much bandwidth we are saving by omitting these fields.  If tools have merged broken behaviour from the Docker API into their tools, then we will just have to deal with it.  Bug for Bug compatibility.

[2020-10-01 13:21] rhatdan commented on #7859
I guess the preferred method then would be to create an /etc/system/systemd/podman.service file with the environment added?  I believe the issue that @jwhonce is attempting to fix here is handling of HTTP_PROXY environment variables.

If an admin was to set this environment variable in /etc/profile.d, would the service pick up on it?

[2020-10-01 13:24] mheon commented on #7865
I believe this is a difference between us and Docker for now. We have plans
for a partial rewrite of the 'podman network's commands to address this but
it could take a while before we get to it.

On Thu, Oct 1, 2020, 08:09 zhangguanzhang <notifications@github.com> wrote:

[2020-10-01 13:29] mheon commented on #7866
I don't believe this is possible. Rootless Podman runs in a user namespace
to enable some necessary functionality (mounting some filesystems, mapping
in more than one user, etc). The kernel provides new, namespaced
capabilities within the user namespace - they're limited in what they can
do for security reasons, and also for security reasons the kernel will not
allow actually capabilities into the

[2020-10-01 13:34] rhatdan commented on #7862
My test shows that this is working properly?

[code]

[2020-10-01 13:47] tmds commented on #7865
I had tried, `--format {{json .}}`. I'm not sure if that is supposed to work.

@mheon should I close this issue? or do you want to keep it open?

[2020-10-01 13:50] mheon commented on #7865
Hm. I'll tag it as a feature request and it can stay open.

[2020-10-01 14:15] rhatdan commented on #7866
Why not just run the container through sudo with the user set back to the current user?

sudo podman run --user ${id -u} --cap-add cap_net_raw ...

[2020-10-01 14:16] rhatdan commented on #7865
Hopefully someone from the community can take this on.

[2020-10-01 14:17] rhatdan commented on #7861
Well I would suggest a more current version 4.6 or later.  We are working on supporting user namespace from within CRI-O now, which might help a little on this.

[2020-10-01 14:21] nickyfoster commented on #7861
Alright then! I'll upgrade my cluster installation to a newer version and then I will experiment with podman one more time.

[2020-10-01 14:21] rhatdan commented on #7838
@ashley-cui PTAL

[2020-10-01 14:22] #7829 closed

[2020-10-01 14:23] rhatdan commented on #7829
Reopen if @mheon is mistaken.

[2020-10-01 14:23] rhatdan commented on #7817
@QiWang19 PTAL

[2020-10-01 14:31] tmds opened #7870 "support container network aliases"
Allow to set network aliases for containers.

Either providing the alias on docker run:

[code]

Or providing the alias post docker run:
[code]

[2020-10-01 14:31] rhatdan commented on #7861
Currently you will need to run a container as root and default capabilities.

[2020-10-01 14:37] rhatdan commented on #7870
@baude This looks like something that the dns-CNI PLugin would need to handle?

[2020-10-01 14:39] rhatdan commented on #7807
@edsantiago Is that what you want?

[2020-10-01 14:40] rhatdan commented on #7801
I think having unmask and mask would be sufficient.

[2020-10-01 14:40] rhatdan commented on #7801
Would love to get some from the community to grab this.

[2020-10-01 14:44] edsantiago commented on #7807
@rhatdan I haven't looked into it as closely at it deserves. My impression is that it might help with CI flakes but still leave us exposed to real bugs: I do suspect there's a real race condition in which (perhaps):
1. process 1 (`podman network create`) reads the conflist dir; then
1. something removes one of those files; then
1. process 1 tries to read one of the conflist files it read in step 1

[2020-10-01 14:57] baude commented on #7870
nope, i dont think so.  in fact, i dont think we can do this with our current container architecture.  @mheon do I remember that correctly?

[2020-10-01 15:22] mschz commented on #7862
I used the docker-compose file attached to this message and ran the following commands:
`$ podman-compose -f docker-compose-test.yaml -p test up --detach --build
4515b03c23eb2d65d32675e98be4ac7606721b4a682fcf468fbdbd55de19a815
0aa141b0e738a071315562668f3c266386fa3bffe9d33fa527993953c316a6bb
Error: error inspecting volume test_upload: no volume with name "test_upload" found: no such volume
d8eb1213

[2020-10-01 15:27] jwhonce commented on #7859
@rhatdan No, the service will not pick anything from /etc/profile.d

@bbros-dev Thanks for the pointers.

I'll close this and leave individuals choose how to manage systemd.

[2020-10-01 15:27] #7859 closed

[2020-10-01 15:55] mheon commented on #7870
I think we can but it would be a fair amount of effort to get it working - maybe a week or two of time for me or someone else who knows the network code well.

[2020-10-01 15:55] mheon commented on #7870
Also, there's going to be an unavoidable connection drop when we do add the new network, I think (we basically need to have CNI tear down and then recreate the network)

[2020-10-01 16:31] jerboaa commented on #6365
`podman` behaves different to `docker` (or moby-engine) on systems with `swapaccount=0`:

**podman** (either with `runc` or `crun`):

[code]

**docker** (with same runc as podman above):

[code]

Also note that `docker info` detects the swap limit issue and prints `WARNING: No swap limit support` at the end. `podman info` on the other hand has this (seems to come from sysinfo?):

[code]

[2020-10-01 16:38] srcshelton opened #7872 "`podman image prune` should act recursively"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

It's notable as other bugs have indicated that `podman image ls` can be very slow (although this _is_ better nowadays).  What is still noticeable is that `image ls` completes much faster with fewer images.

However, `podman image prune` appears to only remove images which were unreferenced wh

[2020-10-01 17:00] vrothberg commented on #7872
Thanks for opening the issue, @srcshelton!

I try to have a look tomorrow. There are certain code paths that have not yet been optimized but we plan to. The issue is a motivator to tackle prune :)

[2020-10-01 17:54] mheon commented on #7862
It looks like the output didn't paste cleanly - can you pastebin it instead?

[2020-10-01 17:56] mheon commented on #7862
Also, why are you adding an argument to `podman volume prune`? It takes no arguments - it simply prunes unused volumes. There are also strong checks in place to ensure that a volume in use by a container will *never* be removed.

@rhatdan I think we do have a bug here in that `podman volume prune` is not throwing an error when an argument is specified.

[2020-10-01 17:59] mheon commented on #7862
@mschz I just tried your exact `podman volume prune` command on my system and it exits with an error complaining that `podman volume prune` accepts no arguments. I am also on F32, Podman 2.0.6. Can you please provide the full output of the `podman volume prune` command? I strongly suspect it's doing nothing...

[2020-10-01 18:08] rhatdan commented on #7862
@mheon I just checked and master podman volume prune does throw an error  when args are given.

[2020-10-01 18:22] lsm5 opened #7875 "integration test issues with fedora 33 on btrfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Listing the integration test failures using the latest sources on fedora 33 using btrfs

**Steps to reproduce the issue:**

1. setup fedora 33 with btrfs

2. make localintegration

**Describe the results you received:**

[Fail] Podman cp [It] podman cp file to dir
/home/foobar/repositories/po

[2020-10-01 18:23] lsm5 commented on #7875
This was tested with storage driver "overlay"

[2020-10-01 19:00] stephengaito commented on #7866
@mheon and @rhatdan

Many thanks for both an excellent set of tools as well as your swift replies.

----

A rather flippant response to @rhatdan's comment:

     Why not just run the container through sudo
     with the user set back to the current user?

is that, well, it is not **rootless**.

At first sight it grants podman more capabilities than *should* be needed for the problem at hand. On se

[2020-10-01 19:20] baude commented on #7875
Im not sure what make localintegration really is ... if you cd test/e2e and then do a ginkgo -v . do things pass?

[2020-10-01 19:29] rhatdan commented on #7816
The issue here is the permissions on /var/run/netns/gitea-drone It has to be accessible Perhaps read/write by the user that is logged in.  If the socket is owned by root:root with permissions like 0600, then the rootless user can not use it.  Whether they are in a user namespace or not.  When you do podman unshare, you are still your user, you don't gain access to anything extra on the system.  Yo

[2020-10-01 20:07] plopresti opened #7876 "graphroot and rootless_storage_path are ignored in global storage.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Somewhat similar to #7513... I am unable to set the graphroot (or rootless_storage_path) in the global storage.conf file.

**Steps to reproduce the issue:**

1. rm ~/.config/containers/storage.conf

2. Edit /etc/containers/storage.conf to set graphroot = "/scratch/$USER/containers/storage" (o

[2020-10-01 20:26] rhatdan commented on #7876
Can you try this on a brand new user account?  Or you can do
[code]
Does it change?

[2020-10-01 20:32] rhatdan commented on #2788
[code]
This should show you something like
[code]
If this only shows 1 line, then you have not setup /etc/subuid and /etc/subgid properly or your newuidmap and newgidmap tools are not install properly.
sudo dnf reinstall shadow-utils

[2020-10-01 20:32] bbros-dev commented on #7816
Hmm, interesting.  Tried `chown` and `chmod` and always get `Operation not permitted`.
Something more funky  - need to dig in when have the time.  Right now running rootful with `--user`.

[2020-10-01 20:40] plopresti commented on #7876
@rhatdan Same result. Are you unable to reproduce?

[2020-10-01 21:28] rhatdan commented on #7876
Have not tried yet.  I attempted to fix this earlier, but maybe I missed something, (Most likely)

[2020-10-01 23:26] srcshelton opened #7878 "'--restart on-failure' parameter seems to cause '--name' and --entrypoint' to be ignored?!"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This one seems really odd, and I've just removed and re-added every argument to `podman` to confirm, but it seems that if `--restart on-failure` (or `--restart=on-failure` - I've not tried the other `--restart` options) is specified then (at least) `--name` and `--entrypoint` (and any follow-

[2020-10-02 00:36] plopresti opened #7879 "ignore_chown_errors + additionalimagestores = failure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Setting both ignore_chown_errors and additionalimagestores in ~/.config/containers/storage.conf does not work if the additional image store is owned by a different user. (Specifically, ignore_chown_errors appears not to take effect.)

**Steps to reproduce the issue:**

1. As one user (userA),

[2020-10-02 00:53] philnalwalker opened #7880 "kubic repo: "Errno -1] Package does not match intended download. Suggestion: run yum --enablerepo=devel_kubic_libcontainers_stable""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When building a Dockerfile using `FROM amazonlinux` following the exact instructions on https://podman.io/getting-started/installation podman fails to install. I did try adding `yum --enablerepo=devel_kubic_libcontainers_stable` to the Dockerfile per the error message with no success.

**Step

[2020-10-02 01:21] #7782 closed

[2020-10-02 07:31] stephengaito commented on #7866
So I have just investigated @rhatdan's suggestion:

    Why not just run the container through sudo
    with the user set back to the current user?

**TL;DR**: This runs a process inside a container whose users map directly to the host. So **a privilege escalation inside the container is actually a privilege escalation on the host itself**. This is definitely not what I mean by "rootless-podman".

[2020-10-02 08:03] xomachine opened #7883 "The podman stats command returns Error: Link not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The `podman stats` command shows `Error: Link not found` for containers configured to use `--network slirp4netns` when running podman as root.

**Steps to reproduce the issue:**

1. Run podman container as root with `--network slirp4netns` option (E. g. `podman run -d --network slirp4netns --n

[2020-10-02 08:06] vrothberg commented on #7872
Removed the good-first issue label as I find it non-trivial to fix without knowing the code.

[2020-10-02 08:44] ah83 opened #7886 "Processes are not visible to other containers in the pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When i start multiple containers having the same pod with a shared pid namespace, the container can only see it's own pids.
The shared pid namespace works, because every container in the pod has a different pid number and not pid 1.
Also _lsns_ shows that the pid namespace is shared between t

[2020-10-02 09:08] vrothberg commented on #7872
Opened https://github.com/containers/podman/pull/7887 to fix the issue. Note that it does not improve performance yet. There are some CPU cycles we can squeeze out but it would require some longer refactoring. It's still on the roadmap though, along with other code paths.

[2020-10-02 09:23] vrothberg commented on #7875
It calls ginkgo in test/e2e and is also used in CI for the integration tests.

[2020-10-02 09:35] tmds commented on #6912
@AkihiroSuda @giuseppe I'm not sure how to use this.

I have a webserver running on localhost:
[code]

I create a container that is on a network. I'd like the container to be able to the localhost webserver.
[code]

What argument should I add, and to which command?

[2020-10-02 09:46] AkihiroSuda commented on #6912
`podman run --network slirp4netns:allow_host_loopback=true`. Requires Podman 2.1.0 or later.

[2020-10-02 09:58] tmds commented on #6912
I'd like the container to be connected to a network, and still be able to access localhost. I'm not able to ping the other containers on the network when I add the `allow_host_loopback=true`.

[code]

[2020-10-02 10:00] AkihiroSuda commented on #6912
Unimplemented yet

[2020-10-02 10:17] tmds opened #7888 "Support accessing localhost from a rootless container on network"
I have a webserver running on localhost:

[code]

I create a container that is on a network. I'd like the container to be able to the localhost webserver.

[code]

`--network slirp4netns:allow_host_loopback=true` (added in https://github.com/containers/podman/commit/7722b582b4f09df64fb55e3ab9669392754ce75c) option allows a container to access `localhost`, but it can't be combined with a `--network

[2020-10-02 10:17] tmds commented on #6912
Thanks! I've created a feature request for it: https://github.com/containers/podman/issues/7888.

[2020-10-02 11:04] tmds commented on #7870
My use for `podman network connect` is to be able to pass an `--alias`.
`podman` also supports it via a `--network-alias` argument on the `run` command.
@mheon probably this is simpler to implement? Should I change this issue for adding that argument?

[2020-10-02 11:29] #7837 closed

[2020-10-02 11:41] kafji opened #7889 "Failed to remove image, image is in use by container"
/kind bug

**Description**

Failed to remove image with error: image is in use by container but I have 0 containers running.

[code]

**Steps to reproduce the issue:**

Sorry, don't have reproduce steps.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Image successfully removed.

**Additional information you deem important (e.g. issue happens only occasiona

[2020-10-02 11:43] kafji commented on #7889
Is there a way to manually remove these dangling images?

[2020-10-02 11:52] vrothberg commented on #7889
Thanks for reaching out, @kafji!

Can you do a `podman ps --all --storage`? Maybe there's a container running by Buildah?

[2020-10-02 12:02] positron96 opened #7890 "Non-root podman hangs on Ubuntu 20.04 without uidmap package"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug AND feature

**Description**

I've installed podman into a fresh Ubuntu 20.04 Minimal on Oracle Cloud, using instrctions from https://podman.io/getting-started/installation. Now if I run podman with sudo, everything works. If I run non-root, most podman commands hang without any output.

strace shows that podm

[2020-10-02 12:05] vrothberg commented on #7890
Thanks for opening the issue, @positron96!

I believe @giuseppe fixed that already in our main branch but I am not sure if we backported it to v2.1. @giuseppe can you have a look?

[2020-10-02 12:14] srcshelton commented on #7234
You're right and further investigation shows that the warnings (logged as ERROrs ;) are indeed non-fatal.

However, the appear even for containers started with the `--no-healthcheck` parameter... please could these logs be entirely silenced if the container has been started with an explicit instruction to disable healthchecks?

[2020-10-02 12:16] srcshelton commented on #7234
(@baude would you be able to re-open this issue, or should I raise the above as a new issue?)

[2020-10-02 12:32] vrothberg commented on #7886
@rhatdan @giuseppe PTAL

[2020-10-02 12:43] giuseppe commented on #7890
backport here: https://github.com/containers/podman/pull/7892

[2020-10-02 12:57] positron96 commented on #7890
Amazing! Thank you guys, looking forward to using podman extensively.

[2020-10-02 12:57] #7890 closed

[2020-10-02 13:09] giuseppe commented on #7886
should containers in the same pod have the same selinux label?

[2020-10-02 13:10] vrothberg commented on #7890
That was super quick. Thanks a ton, @giuseppe !

[2020-10-02 13:15] kafji commented on #7889
@vrothberg Yep, there are a lot of them.

[code]

`podman rm` doesn't work on those. Should I use buildah to remove those?

[2020-10-02 13:24] vrothberg commented on #7889
Thanks for coming back so quickly!

Yes, could can do that. Doing a `podman rmi--force` will do that as well.

I am going to close the issue but feel free to continue the conversation.

[2020-10-02 13:24] #7889 closed

[2020-10-02 13:58] rhatdan commented on #7880
I believe the issue here is that you don't have the extras repo created.

Installation instructions are:

sudo subscription-manager repos --enable=rhel-7-server-extras-rpms
sudo yum -y install podman

[2020-10-02 14:02] lsm5 commented on #7880
@philnalwalker Just tried this and your exact Dockerfile above worked for me. I suspect this is a mirror issue.

Maybe retry after sometime or check if you can set a mirror explicitly instead of download.opensuse.org. The mirror list at https://mirrors.opensuse.org/list/repositories.html could be useful.

If that doesn't help either, it might help to check with the OBS admins at #opensuse-buildser

[2020-10-02 14:02] #7880 closed

[2020-10-02 14:12] ah83 commented on #7886
Maybe this was the case in previous versions of podman, because in a version of 1.8 i could see the pids of the other container
and use kill to send a reload to haproxy.

[2020-10-02 14:23] zhangguanzhang commented on #7878
https://github.com/containers/podman/pull/7895 will fix this

[2020-10-02 14:27] kafji commented on #7889
Appreciate the help. Thanks @vrothberg.

[2020-10-02 14:35] lsm5 commented on #7839
added this file to `2.1.1~2` which should be available on OBS.

Closing, please reopen if issue isn't fixed.

[2020-10-02 14:35] #7839 closed

[2020-10-02 14:36] vrothberg opened #7896 "closed connection on pull causes service crash"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cancelling the remote client while pulling causes the service to crash.

**Steps to reproduce the issue:**

1. podman-remote pull $image

2. Kill podman-remote

**Describe the results you received:**
[code]

**Describe the results you expected:**

The service should handle closed connections.

[2020-10-02 14:36] vrothberg commented on #7896
@jwhonce PTAL

[2020-10-02 15:12] mheon commented on #7870
I would say that aliases are more difficult to implement than `network connect` right now (still possible, but probably a good sprint worth of work to implement)

[2020-10-02 15:24] rhatdan commented on #7883
Not crazy about supporting this on RHEL7, Could you try this on a RHEL8 box and see if you have similar issues?

[2020-10-02 15:26] martinpovolny opened #7900 "podman failing with ERRO[0000] error validating containers config: log size max should be negative or >= 8192"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Any podman .. command under a certain user gives error.
**Steps to reproduce the issue:**

just run:
[code]

All is ok under a different user or different machine.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Anything else.

**Additional information y

[2020-10-02 15:28] rhatdan commented on #7886
Yes containers within the same pod are supposed to have the Same SELinux label.

[2020-10-02 15:30] rhatdan commented on #7886
Ok this is a big bug.
[code]

[2020-10-02 15:31] #7872 closed

[2020-10-02 15:33] zhangguanzhang commented on #7900
Please paste the output of the command
[code]

[2020-10-02 15:35] rhatdan commented on #7886
[code]

[2020-10-02 16:14] dustymabe commented on #5364
This is a problem for us when trying to move Fedora CoreOS to Fedora 33. This is a simple reproducer:

[code]

Ends up with:

[code]

[code]

[2020-10-02 16:16] QiWang19 commented on #7817
Failed to replicate the issue, this should have been fixed upstream.
[code]

[2020-10-02 16:16] #7817 closed

[2020-10-02 16:24] cgwalters commented on #5364
Probably rpm (and other systems) should be patched to not try to set file caps if the process doesn't have the capability.

[2020-10-02 16:30] cgwalters commented on #5364
That said I also kind of question the value of dropping this.  File caps are still bounded by user namespaces.  I could imagine there is some kernel bug that this could mitigate but it seems unlikely to me.

[2020-10-02 16:46] mheon commented on #7900
Providing `~/.config/containers/containers.conf` and `~/.config.containers/libpod.conf` if they exist would also be very helpful.

[2020-10-02 17:02] xomachine commented on #7883
Not quite RHEL8, but I also tested it on Archlinux and got the same behavior. Later will try to reproduce on RHEL8

[code]

[2020-10-02 17:10] rhatdan commented on #5364
Building skopeo 1.2.1-2 which adds in CAP_SETFCAP.

[2020-10-02 17:23] martinpovolny commented on #7900
Assuming you are interested in the config file for the account that has the issue:

[code]
[code]

[2020-10-02 17:25] martinpovolny commented on #7900
For the `test` account (the one that works) the config files don't exist.

[2020-10-02 17:32] dustymabe commented on #5364
Thanks @rhatdan - I just tested with [skopeo-1.2.0-2.fc33](https://koji.fedoraproject.org/koji/buildinfo?buildID=1619134) and that seemed to work great. Can you add that build to the update: https://bodhi.fedoraproject.org/updates/FEDORA-2020-7b6058fec9

[2020-10-02 17:33] mheon commented on #7900
I recommend just removing that `~/.config/containers/libpod.conf ` file - that should resolve matters

[2020-10-02 17:38] martinpovolny commented on #7900
Seems so, thx. That really helps. I wonder how I got into that situation.

[2020-10-02 17:47] mtrmac commented on #7705
Thanks for your report. This was historically not easily possible because RHEL 7’s GPGme does not expose the loopback option (and IIRC neither does the underlying GPG); and the Go build system makes it rather difficult for libraries to opt in/out of features based on the build environment — essentially the top-level software has to deal with all the complexity.

If we can drop drop support for RHE

[2020-10-02 18:23] ppouliot commented on #4773
Hey Everyone,

If you are looking for ARM64 vm resources for the project.  Feel free to send a request here.   OpenStack API access can be provided.

https://osuosl.org/services/aarch64/request_hosting/

[2020-10-02 18:24] #7476 closed

[2020-10-02 18:28] #7878 closed

[2020-10-02 18:47] #7900 closed

[2020-10-02 18:47] rhatdan commented on #7900
Older versions of podman would create that file in the homedir,  Somehow it got corrupted.

[2020-10-02 18:49] rhatdan commented on #7888
Why not just use
podman run --net=host ...

[2020-10-02 18:51] rhatdan commented on #7888
If this is just a flag that you would pass to slirp4netns, then I think we would consider it.

@AkihiroSuda WDYT?  Want to open a PR to make this happen?

[2020-10-02 18:52] rhatdan commented on #7883
@AkihiroSuda @giuseppe Any idea what is going on here?

[2020-10-02 18:54] rhatdan commented on #7870
Of course if the community wanted to work on a PR, we would love to see it.

[2020-10-02 18:57] rhatdan commented on #7866
I would use something like:

sudo sysctl net.ipv4.ip_unprivileged_port_start=23

Which would prevent a process by your user impersonating the sshd daemon.

[2020-10-02 19:40] #7563 closed

[2020-10-02 20:17] mheon commented on #7888
I think we have two options at this point:

1. Allow the `--network` flag to be passed multiple times, so we can have `--net slirp4netns:opt1=val1,opt2=val2 --net cninet2,cninet2`
2. Add a new flag for adding network options separately from `--net` - so `--net cninet1,cninet2 --network-opt slirp4netns:opt1=val1,opt2=val2` or similar

[2020-10-02 21:04] rhatdan opened #7903 "podman-remote ps -a --ns is broken"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]
Versus
[code]
Basically podman-remote is not bringing back the namspace data.

[2020-10-02 21:09] rhatdan commented on #7903
Two other SkipIfRemote's are blocked by the same problem

[2020-10-02 21:11] rhatdan commented on #7888
I would prefer options 1.

[2020-10-02 21:16] rhatdan commented on #5364
I think @lsm5 is taking care of this.

[2020-10-02 21:30] AkihiroSuda commented on #7888
The infra is launched per user, not per pod, so the slirp options need to be global containers.conf fields

[2020-10-02 22:20] rcasta74 commented on #7876
@rhatdan I confirm this issue: bug #7546 is not fixed.
Updated today to version 2.1.1, but if I remove `~/.config/containers/storage.conf` I get:
[code]
while `/etc/containers/storage.conf` contains:
[code]

[2020-10-02 22:29] psgreco opened #7905 "podman system service doesn't close anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After the fix for long running tasks via the API (f03d470349731b5119d7b49e620d7a9bb2cbff38), podman system service doesn't close on timeout anymore and needs to be killed (only happens after the first container is executed)

**Steps to reproduce the issue:**

1. podman system service

2. execu

[2020-10-02 23:22] zhangguanzhang commented on #7878
you could remove the --rm option to resolve this problem

[2020-10-03 00:34] srcshelton opened #7906 "More flexible options when combining '--rm' and '--restart'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With `podman-2.1.1` with patch #7895 , running a container with `--rm` and `--restart on-failure` results in the output:

[code]

So a couple of things:

* Should there be a value within the first set if quotes?  Should the final 'and' read 'or'?

* Surely if should be possible to combine `--

[2020-10-03 02:29] plopresti commented on #7876
@rhatdan Thanks.

Incidentally, #7879 is more of a showstopper for me... This bug has a work-around; i.e. I can ask each user to edit .config/containers/storage.conf. #7879 has no work-around at all, and it renders additionalimagestores unusable.

[2020-10-03 03:44] zhangguanzhang commented on #7906
about the value, you cloud see https://github.com/containers/podman/blob/master/test/e2e/run_test.go#L70-L91
Logically speaking, these two options should not be together in some values
[code]

[2020-10-03 09:49] srcshelton commented on #7906
Sorry, I'm still not understanding:

... is `no` still referring to the `restartPolicy` value, or something else?  If so, how can `restartPolicy` be both an empty string *and* `no`?

Ah, but I think I see what you mean - I was assuming that if `--restart` isn't specified then it would default to value `no`, but it looks as if `no` and \<not specified\> are treated as two separate cases?

In which

[2020-10-03 09:57] zhangguanzhang commented on #7906
`--restart` could be:
- ""
- "no"
- "always"
- "on-failure"
- "unless-stopped"
could see this condition
[code]
`c.Rm && c.Restart != "" && c.Restart != "no"`

[2020-10-03 10:24] philn commented on #6389
FWIW, I managed to backup my containers in F32, then rebase on F33 and restore the backups using this tutorial: https://fedoramagazine.org/backup-and-restore-toolboxes-with-podman/

[2020-10-03 11:01] psgreco opened #7907 "mknod fails in a container created by the compatibility API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Creating a fake null node (to be used in a chroot) succeeds but the node is R/O so using it ends up with permission denied.
This works correctly using the cli, but fails using the API

**Steps to reproduce the issue:**

1. Run the following script
[code]

2.

**Describe the results you receive

[2020-10-03 11:40] bbros-dev commented on #7817
Hmm, there seem to have been 4 steps skipped in the upstream (WireGuard) instructions?:

[code]
Are we really sure these don't impact?
Note the setup using wg0.conf should complain about the Address and Names server lines in wg0.conf, so I commented these out and setup then proceeds without error.

[2020-10-03 12:29] rhatdan commented on #7907
We are removing the mknod capability by default in fedora 33.
If you do a --cap-add mknod, does that fix your problem?

[2020-10-03 13:23] zhangguanzhang commented on #7903
which lines?

[2020-10-03 13:55] psgreco commented on #7907
@rhatdan
Where should I add that to podman system service? because it doesn't fail using the cli.
Also, this is f32

[2020-10-03 14:02] zhangguanzhang commented on #5140
I don't understand exactly where this problem is. . .

[2020-10-03 15:17] rcasta74 commented on #7876
My understanding from  looking at the code is that the `/etc/containers/storage.conf` file is never read when run in rootless mode, so no way to get it to work.
What I would like to understand is what is the wanted behaviour: should `/etc/containers/storage.conf` file be used to configure the storage for rootless mode as well, or should it be kept separated?
In the latter case it doesn't make sens

[2020-10-03 21:30] rcasta74 commented on #7876
Sorry for my last comment, I was wrong: I totally missed that the file is parsed into init function.

Anyway, adding few Printf commands I found out where the issue is.
Into the function `defaultStoreOptionsIsolated` (utils.go), the variable err before the last if block (`if rootless && rootlessUID != 0`) contains:
`err: stat /home/roberto/.config/containers/storage.conf: no such file or directory

[2020-10-03 21:46] bbros-dev commented on #7817
Hmm, I can reproduce my description of behavior on fresh Ubuntu 18.04 on Vultr, but looks like it may be ubuntu specific.

[2020-10-04 00:07] web-refinery commented on #7813
As far as I can tell, not yet, due to cockpit-podman wanting to only be a GUI for Podman.

--

You've answered all my questions & filled in some blanks. I appreciate it, thanks!

[2020-10-04 00:07] #7813 closed

[2020-10-04 01:42] srcshelton commented on #7872
Just a quick note to say that while #7887 fixes this issue with `podman image prune`, the problem still seems to be apparent when pruning images during `podman system prune`!

Could this issue please be re-opened to consider this case also?

[2020-10-04 09:06] relrod commented on #7056
and in 2.0.6.

[2020-10-04 10:29] andylibrian commented on #7855
/assign

[2020-10-04 12:27] avikivity opened #7912 "podman system df fails with: `Error: readdirent: file name too long`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman system df` fails with `Error: readdirent: file name too long`

**Steps to reproduce the issue:**

1. execute `podman system df` (prerequisites unknown)

**Describe the results you received:**

[code]

**Describe the results you expected:**

Anything but that

**Additional info

[2020-10-04 12:29] avikivity commented on #7912
I think a utility such as df should soldier on even if errors are encountered.

[2020-10-04 12:29] ericzolf commented on #7415
Sorry for the delay. Anyway, first without changes to the default configuration:

[code]

Could it be simply that the Apache server in the container isn't listening on IPv6 and hence nothing happens? This said, a very similar approach under Docker worked, could it be that they're silently doing a kind of re-direction from IPv6 (outside) to IPv4 (inside), but podman isn't doing it?

I haven't yet d

[2020-10-04 12:31] avikivity commented on #7912
Here's some relevant strace. From the names I recognize it as a test that does try to create very long file names.

[code]

[2020-10-04 12:33] avikivity commented on #7912
`ls` fails from inside the container:

[code]

[2020-10-04 12:35] avikivity commented on #7912
But, it does succeed outside the container. The file name is `alternator_nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn` (233 characters).

[2020-10-04 12:35] avikivity commented on #7912
So, I suspect the problem is in fuse of fuse-overlayfs.

[2020-10-04 13:23] giuseppe commented on #7912
thanks for the report, I agree it could be fuse-overlayfs.  Do you have a reproducer for the issue?

I've tried `mkdir -p /scylla/testlog/dev/alternator-test-76433/data && touch /scylla/testlog/dev/alternator-test-76433/data/alternator_nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn

[2020-10-04 13:34] avikivity commented on #7912
My reproducer takes several hours to build.

[2020-10-04 13:36] avikivity commented on #7912
Maybe it depends on the host filesystem. Mine is ext4.

[2020-10-04 13:43] giuseppe commented on #7912
thanks for the hint, but still doesn't work.

Could it be possible to strace the fuse-overlayfs process while you run the `ls -l` command?

[2020-10-04 14:15] giuseppe commented on #7912
I managed to reproduce locally, taking a look now..

[2020-10-04 17:06] bobhenkel opened #7914 "Podman 2.0.6 pull and run fails on ubuntu image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When doing a podman pull or a podman run on docker.io/library/ubuntu:latest it fails.

**Steps to reproduce the issue:**

1. ```podman pull docker.io/library/ubuntu:latest``` or ```podman run --rm -it docker.io/library/ubuntu:latest bash```

**Describe the results you received:**
For pull
[co

[2020-10-04 17:17] mheon commented on #7914
Your account most likely does not have entries in `/etc/subuid` and `/etc/subgid` to allocate additional UIDs and GIDs for your user to use - see https://www.redhat.com/sysadmin/rootless-podman

You can either create the entries and then run `podman system migrate` to cause Podman to re-read the file and use the entries, or set the `ignore_chown_errors` storage option to use only a single UID and

[2020-10-04 17:26] bobhenkel commented on #7914
I do have those entries

[code]

[2020-10-04 17:52] mheon commented on #7914
Podman sees the `/etc/subgid` entry but not the `/etc/subuid` one (the `idMappings` section of `podman info`). The entry in `subuid` seems correct. I would recommend trying a `podman system migrate` and then re-pulling the image to see if that resolves matters; otherwise, the `newuidmap` binary could be missing a file capability, perhaps?

[2020-10-04 18:52] anishp55 commented on #6123
any update on this?  i am trying to do something similar but can't figure out the syntax.

```podman run --user=1001 --uidmap=1001:0:1  -d  --name postgres-test -e POSTGRESQL_PASSWORD=password  bitnami/postgresql:11 &&  podman logs --follow  postgres-test```  results in

```Error: error creating container storage: error creating an ID-mapped copy of layer "d9a25cd3d30c9563fb645b2d239f40ac99f43eb95

[2020-10-04 19:00] ikke-t commented on #7765
Hi @giuseppe ,

I am stuck with the very same error. I run into this weeks ago, but only now had the time to dig into it. So I followed your advice:

[code]

[code]

I have the systemd file under /etc, like this:

[code]

And I get this very same log under users journalctl:

[code]

This is my fedora-iot VM, latest and greatest with podman-2.0.6-1.fc32.x86_64

[2020-10-04 20:46] bobhenkel commented on #7914
Migrate didn't seem to help. Still same error message.

[code]

[2020-10-04 20:50] bobhenkel commented on #7914
I ran podman system migrate as my non-root user account.  Does this need to be executed as root?

[2020-10-04 21:19] mheon commented on #7914
No, it's meant to be run as the user running rootless Podman. It causes the rootless user namespace to be re-created, which re-reads the subuid and subgid files.

[2020-10-04 21:21] mheon commented on #7914
Actually, I do notice a problem in your `/etc/subuid` - there's an overlap between the range assigned to you and UIDs and GIDs in use in the system (your UID, specifically). The ranges assigned in subuid and subgid should never overlap UIDs and GIDs in use by actual users in the system. I think that you'll need to adjust these to ranges that are not in use, and then run `podman system migrate` to

[2020-10-04 21:54] bobhenkel commented on #7914
Thanks for the help! I've got a message out to our system admin to fix that up. I'll reply back with the results once they make the needed change.

[2020-10-04 23:40] llunved commented on #6389
The container in question had NPROC set to 62509, while the system default was 62508:

`# podman inspect --format '{{ printf "%+v" .HostConfig.Ulimits }}' fedora-toolbox-32
[{Name:RLIMIT_NOFILE Soft:524288 Hard:524288} {Name:RLIMIT_NPROC Soft:62509 Hard:62509}]`

So I added the following line to limits.conf (my user is in the group wheel - but you could use another one or the user):

`@wheel

[2020-10-05 01:16] xordspar0 commented on #5788
The problem with emptyDir is that its lifetime is the same as the pod. When the pod is created, a new empty volume is created. When the pod is destroyed, the volume is deleted forever. emptyDir is a scratch space for running applications. It's similar to `/tmp`, and it can optionally be memory-backed, similar to `/tmp`.

podman volumes are independent of pods; they can be created and destroyed on

[2020-10-05 03:39] anishp55 commented on #3990
i'm battling this same thing.  i am using a bitnami image of postgresql from docker hub.  it has a baked in user id of 1001.  on my arch linux system my uid is 1000.  I would like to make a directory in my home directory for postgres to persist its data to, and be able to poke around in that directory without having to chown it all the time when i want to.
@rhatdan what is your suggestion for peop

[2020-10-05 07:25] mschz commented on #7862
@mheon, sorry for the bad readability of my previous comment. I think you misinterpreted the output. I ran "podman volume prune -f" and the output was the name of the volume deleted (test_upload).

[2020-10-05 08:25] ikke-t commented on #7765
I got a hint in podman irc to try Delegate=yes on service file, but it didn't work either. The same result.

[code]

[2020-10-05 08:32] #7886 closed

[2020-10-05 08:39] vrothberg commented on #7896
https://github.com/containers/podman/pull/7899 did not fix the issue, so I'll reopen.

[2020-10-05 08:42] vrothberg commented on #7896
My bad. I tested the wrong binary.

[2020-10-05 08:42] #7896 closed

[2020-10-05 08:48] vrothberg commented on #7872
Can you share a reproducer?

The image-pruning code is shared, so it seems to be another issue.

[2020-10-05 08:49] vrothberg commented on #7872
I suggest opening a new issue, ideally with a reproducer.

[2020-10-05 09:02] tmds commented on #7888
Because I don't want to have all pods sharing the same port space.

I don't understand what this means in practice. What happens is the same user launches 1 pod without `slirp4netns:allow_host_loopback=true` and then one pod with the argument?

Maybe it is an option to handle localhost access at the network level: when creating a network add an option that indicates `localhost` should be accessibl

[2020-10-05 09:07] tmds commented on #7870
Without `podman network connect --alias`, or `podman run --network-alias` all container dns names share the same namespace. It is not possible to use the same network name for containers that live on different networks, because they clash as container names.

@rhatdan I hope someone takes this on, unfortunately I can volunteer because I don't speak any `go`.

[2020-10-05 09:28] AkihiroSuda commented on #7888
This isn't possible because all the CNI networks and the CNI pods share the singleton(-per-user) slirp4netns (and rootless-cni-infra) instance.

SGTM, but the implementation would be slightly complicated like this:
* The singleton rootless-cni-infra would be launched with `allow_host_loopback=true`
* However, the CNI networks inside `rootless-cni-infra` would be created with an iptables rule that

[2020-10-05 10:11] #7903 closed

[2020-10-05 11:23] zhangguanzhang opened #7917 "[apiv2] /containers/$name/json return wrong value in `.Config.StopSignal`"
[code]

[code]

[2020-10-05 11:23] tmds commented on #7888
I like it is granular at the network level (vs affecting all containers), and it being controllable from the cli.

[2020-10-05 12:06] tmds commented on #7888
@AkihiroSuda I don't find docs for this: what should I put in `$HOME/.config/containers/containers.conf` to set `slirp4netns:allow_host_loopback=true`?

[2020-10-05 13:21] AkihiroSuda commented on #7888
Unimplemented yet, the conversation above is discussion toward implementing it.

[2020-10-05 13:25] rhatdan commented on #7056
[code]

These work for me?
[code]

[2020-10-05 15:09] mheon commented on #7870
Are you sure about that? I'm fairly certain that we run per-network DNS instances, so we effectively namespace container names by the network they're attached to? @baude can confirm.

[2020-10-05 15:23] sappersd opened #7922 "Excludes are ignored if wildcard is used into .dockerignore on podman 2.1.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If you use  `.dockerignore` with wildcard `**`, your excludes will be ignored.

**Steps to reproduce the issue:**
1.
create folder with files:
[code]
Dockerfile:
[code]
.dockerignore:
[code]
2. run build
[code]
**Describe the results you received:**
Excludes doesn't work.

**Describe the resu

[2020-10-05 15:27] mheon commented on #7922
@TomSweeneyRedHat PTAL

[2020-10-05 15:34] rhatdan commented on #7922
@nalind PTAL

[2020-10-05 15:46] psakar opened #7923 "[APIv2] Environment variables are not initialized in container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
REST API v2

**Description**
Related to https://github.com/containers/podman/issues/7235

Container created with REST API v2 does not have environment variables set

**Steps to reproduce the issue:**

1. Run following script
[code]

**Describe the results you received:**
[code]

**Describe the results you expe

[2020-10-05 15:47] psakar commented on #7923
Related to https://github.com/testcontainers/testcontainers-java/issues/2088

[2020-10-05 16:37] rcerven opened #7925 "Pulling image with digest sha via podman API doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

pulling image with digest sha via podman API doesn't work

**Steps to reproduce the issue:**

using python-docker via podman API

[code]

using python-docker via docker API works

[code]

curl podman API

[code]

**Describe the results you received:**

API is appending sha as tag, and fails t

[2020-10-05 17:40] haircommander commented on #5140
if the image has environment variables, play kube takes them and adds them to the container's env structure. However, generate kube does not take the image env into account. So first generate *does not* have image env, first play *does* have image env, second generate *does* have image env. does that clear it up @zhangguanzhang

[2020-10-05 18:20] ikke-t commented on #7765
And I have cgroups v2
[code]

[2020-10-05 18:20] gastaldi opened #7927 "Support TestContainers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This is a follow-up of https://github.com/testcontainers/testcontainers-java/issues/2088.
It would be nice if podman could be used with TestContainers.

[2020-10-05 18:25] mheon commented on #7927
Can you link any current issues that need to be resolved here?

[2020-10-05 18:25] rhatdan commented on #7925
@mtrmac PTAL

[2020-10-05 18:27] rhatdan commented on #7923
@baude @ashley-cui @jwhonce PTAL

[2020-10-05 18:31] rhatdan commented on #7907
What is the exact client commands you are running?

[2020-10-05 18:33] rhatdan commented on #7855
I think we still need CPU Limites added correct? @andylibrian ?

[2020-10-05 18:36] rhatdan commented on #7774
Your examples above are launching a rootless container?  I thought the complaint was trying to run a rootfull container?

[2020-10-05 18:36] rhatdan commented on #7713
This is up2date now.  Closing.

[2020-10-05 18:36] #7713 closed

[2020-10-05 18:38] rhatdan commented on #7706
This seems logical that we should associate the usernamespace with the pod and then any containers that get attached would be placed within that user namespace.

[2020-10-05 18:39] rhatdan commented on #7705
I have no problem ignoring RHEL7 going forward. We should pay attention to RHEL8 and above at this point.  If someone backports this functionality to RHEL7 and it blows up we can just close it as not supported.

[2020-10-05 18:39] rhatdan commented on #7742
@xordspar0 Any progress?

[2020-10-05 18:40] baude commented on #7907
@rhatdan i have them ... can you ping me on irc?