[2019-11-07 13:07] TomSweeneyRedHat commented on #3464
@rhatdan, got $.02?

[2019-11-07 13:11] rhatdan commented on #3464
I have been experimenting with running podman within a locked down container,  and I have made some progress.  Hope to get back to it soon.  But the bottom line is for now it can not be done.
Needs to disable lots of security features.

Hopefully we can fix these up and get it working.  I believe it is a solvable problem.  But for now you need to run with privileged.

[2019-11-07 13:28] colundrum opened #4472 "Automatic redeploy container when image base updated"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I purpose the possibility to have a solution like watchtower (https://github.com/containrrr/watchtower) which permit to reploy containers (automatically) when image is updated.

I think that it can help to stay up-to-date due to the lack to doc about doing it automatically using CI/CD wit

[2019-11-07 13:49] rhatdan commented on #4472
We had an intern working on a project like this, this past summer.
https://github.com/containers/podhawk
PTAL.  See if this is somewhat matching your needs and something we should pursue.

[2019-11-07 13:51] cgwalters commented on #4452
FWIW https://github.com/cgwalters/coretoolbox/commit/3c74c64f8edd588852b59b39f8c0f616bfae624b

[2019-11-07 14:03] rhatdan commented on #4390
I like this proposal, and I think it is something we should do.
@Romain-Geissler-1A Interested in opening a PR to make this happen?

[2019-11-07 14:11] Romain-Geissler-1A commented on #4390
Hi,

Right now I have never coded anything in Go, and I don't know at all the internal code of podman, so whatever I would produce now will be of very low quality, and would require me quite some time to dig into this project which I don't know yet. So I don't think I am the good candidate for proposing a PR for doing this.

Cheers,
Romain

[2019-11-07 14:22] rhatdan commented on #4390
Ok, Thanks @Romain-Geissler-1A.  I will see if someone on our team can take a look.
@baude @QiWang19 @jwhonce WDYT?

[2019-11-07 14:35] mheon commented on #4019
@vrothberg So it's closing bugs despite user activity? That seems wrong?

[2019-11-07 14:37] vrothberg commented on #4019
I was surprised as well. Need to check if we can tweak it.

[2019-11-07 15:26] #4463 closed

[2019-11-07 15:31] rhatdan commented on #4213
1.6.4 will not be a Fedora Specific release.  It is a release for anyone who wants to use cgroup V2.

[2019-11-07 15:39] rhatdan commented on #4452
Makes sense.

[2019-11-07 15:53] alitvak69 commented on #4213
So other than that is there a reason not to release package for ubuntu
users?  I believe the build on ppa is automatic.

On Thu, Nov 7, 2019, 9:31 AM Daniel J Walsh <notifications@github.com>
wrote:

[2019-11-07 16:01] mheon commented on #4213
I think it ought to be autobuilding.

[2019-11-07 16:08] lsm5 commented on #4213
autobuilding yes, but afaict, it's broken atm, will take a look asap.

[2019-11-07 16:14] faulesocke opened #4473 "Wrong network namespace when exec in container created with --net=host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When a container is created with `podman run --net=host` all instances of `podman exec` to that container do not attach to the containers network namespace but use whatever network namespace they are executed in.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

[2019-11-07 16:22] mheon commented on #4473
I strongly suspect this is a bug with the OCI runtime - runc or crun. Podman does not influence this beyond calling the OCI runtime.

[2019-11-07 16:35] faulesocke commented on #4473
So do I have to report the bug somewhere else?

[2019-11-07 16:42] jwhonce commented on #4390
@rhatdan I'll knock this out

[2019-11-07 16:47] mheon commented on #4473
I would inspect the container and look for the OCIRuntime key - that will tell you what runtime we're using to launch containers. I suspect it will be `runc` which lives at github.com/opencontainers/runc - you'll probably want to report against them

[2019-11-07 16:47] rhatdan commented on #4473
@faulesocke also could you try with crun, to see if it works differently?
@giuseppe WDYT?

[2019-11-07 16:48] rhatdan commented on #4390
Great thanks.  BTW Just report an error if podman-remote does not exist on the system.

[2019-11-07 17:04] jgatkinsn opened #4474 "podman login to private secure registry keeps getting Error 404 not founds. Works fine with Docker. /kindbug"
**Description**

I'm trying to migrate to podman from docker on my Red Hat 7.7 systems.  The problem I've run into so far is that I cannot log into my private secure registry that's running on Nexus 3.19.1.  I keep getting "Error 404" not found.  Everything works fine with docker of course since that's been running for months now.  I've got to get this working or this will be a no go for me not be

[2019-11-07 17:22] giuseppe commented on #4473
not sure what would be the best way to handle it.  When you specify `--net=host` you basically tell the OCI runtime to not create any network namespace and use whatever it runs in.

If you create a network namespace, and run Podman from there, that will be the namespace used, despite `--net=host` seems like using the host network namespace.

Similarly for `exec`, if no network namespace must be cr

[2019-11-07 18:13] faulesocke commented on #4473
Why would `exec` ever create a network namespace? I thought it's there to join the existing namespaces.

[2019-11-07 18:14] faulesocke commented on #4473
@rhatdan I will try with `crun`.

[2019-11-07 18:37] nalind commented on #4474
An HTTP-level result like a 404 error would only be possible after encryption for the connection was successfully set up, so if you're using TLS, your certificate setup looks fine.

Can you re-run the login attempt using `--log-level=debug` and paste the details?  Just to be sure, are you pointing your client at the repository's HTTP or HTTPS connector ports?

[2019-11-07 18:45] edsantiago commented on #4469
Nope:
[code]
Will leave the VM up for a while (fiddling with buildah) in case there's anything else you'd like me to try.

[2019-11-07 19:26] #1136 closed

[2019-11-07 19:28] jgatkinsn commented on #4474
The registry is running on port 443 (HTTPS) via nginx (other services running on the system).   Maybe the proxy is interfering with it for some reason? There's a special http_user_agent setting for docker access that redirects behind 443.

Here's the dump trying to connect the way I do and add :443 to the servername.

[code]

Adding :443

[code]

[2019-11-07 19:31] giuseppe commented on #4473
it should not.  It should either use the existing one, or join the first process in the container network namespace .

[2019-11-07 19:53] jgatkinsn commented on #4474
Got it!  I added to my nginx-proxy configuration a http_user_agent "Go-http-client"  to route it to the registry behind the proxy and I got "Login Succeeded!"

[2019-11-07 19:53] #4474 closed

[2019-11-07 19:54] jgatkinsn commented on #4474
I had to use wireshark to capture the http session and disable tls-verify to turn off encryption to see what user agent podman was using.

[2019-11-07 20:04] jwhonce commented on #4390
@rhatdan Yup or not on PATH

[2019-11-07 21:24] faulesocke commented on #4473
Exactly that was my thought.

To me that is counter-intuitive. Why would exec behave differently for a container with it's "own" network namespace than for a container that got created with a previously existing one? If it would be possible, I would use the `--net=ns:/path/to/netns` syntax but this seems to be impossible for rootless containers. However, in that case I would expect `exec` to also

[2019-11-07 22:16] rhatdan commented on #4469
podman --events-backend file info

[2019-11-07 22:19] edsantiago commented on #4469
[podman-events-backend-file-into.txt](https://github.com/containers/libpod/files/3821966/podman-events-backend-file-into.txt)

[2019-11-07 22:30] edsantiago commented on #4469
...and, because I belatedly realized that that isn't very helpful:
[code]

[2019-11-07 23:29] yihuaf commented on #4357
The issue https://github.com/containers/skopeo/issues/533 describes the same issue in fact. However, I don't see any issue in containers/image repo to track this. Should we file an issue in containers/image to get this resolved, perhaps referencing this issue and https://github.com/containers/skopeo/issues/533?

[2019-11-07 23:46] mheon commented on #4469
Is this a build flags issue, maybe? This error seems suspiciously similar to a "we didn't build with systemd support" one...

[2019-11-07 23:47] mheon commented on #4469
Yep, that error comes out when Podman is not built with systemd support.

[2019-11-07 23:49] edsantiago commented on #4469
Oh, interesting. Looking now at the specfile. @jnovy, heads-up, this may end up landing on your plate...

[2019-11-07 23:59] edsantiago commented on #4469
I can't find a smoking gun, but there _is_ a specfile change similar to the buildah one. @jnovy, I think I'm going to drop this one on you for a closer look since you were able to figure out the buildah issue. @mheon, thanks for the insight!

[2019-11-08 00:07] #3963 closed

[2019-11-08 00:07] #3949 closed

[2019-11-08 00:18] mheon commented on #4198
No comment from the bot that the issue was due to close? That's strange.

[2019-11-08 07:08] runiq commented on #1136
Awesome, thanks everyone, much appreciated!

[2019-11-08 09:15] jonasbartho opened #4476 "please update podman in RHEL extra's more often"
Hi,

Ref. https://github.com/containers/libpod/issues/3044

The same issue applies now in RHEL 7.7...
The current available version of podman is 1.4.4-4 and we preferably want to have the latest(v1.6.3) since the newer ones have important bug fixes for running rootless podman.  If i want to convince my developers to switch completely to podman from docker, then we need a more frequent update relea

[2019-11-08 09:40] stefanb2 opened #4477 "Can't access passed-in character device inside non-root container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to pass in `/dev/ttyUSB0` into a non-root container using `--device /dev/ttyUSB0`. Inside the container opening of `/dev/ttyUSB0` always fails with `Permission denied`.

**Steps to reproduce the issue:**

1. on the host system I can access `/dev/ttyUSB0` as non-root user:

[code]

[2019-11-08 10:34] grigorig commented on #2240
This is not fixed and `podman rm --storage` doesn't work for me either.
E.g.

    $ podman run --pod foo --name foo-postgres -d postgres:9.6
    Error: error creating container storage: the container name "mf-postgres" is already in use by "04dfc7232d5bda23990c441c825ec56d138c1ff87f34082134c23bb8fd887324". You have to remove that container to be able to reuse that name.: that name is already in us

[2019-11-08 10:40] giuseppe commented on #4477
that happens because the rootless user loses the additional groups when entering the container, so you have no access to the dialout group.

If you are using crun, there is a workaround in the last version: https://github.com/containers/crun/blob/master/crun.1.md#iocrunkeep_original_groups1

you can enable it through podman with `--annotation io.crun.keep_original_groups=1`.

I am going to close t

[2019-11-08 10:40] #4477 closed

[2019-11-08 11:02] rhatdan commented on #4357
SGTM

[2019-11-08 11:09] rhatdan commented on #3949
@abitrolly The answer to your question was yes.

[2019-11-08 11:12] rhatdan commented on #4198
It looks like you @mheon answered this a month ago, is there any reason to keep it open?

[2019-11-08 11:21] rhatdan commented on #1136
No problem, keep the issues coming.   They help make Podman into a better project.

[2019-11-08 11:29] stefanb2 commented on #4477
Thanks for the pointers.

After upgrading to `crun-0.10.4-1.fc31.x86_64` from `updates-testing` I'm able to use the annotation and the device becomes accessible inside the container.

Wouldn't it make sense to update `podman-create` & `podman-run` man pages to mention this issue and provide the pointer to the work around?

[2019-11-08 11:31] rhatdan commented on #4476
RHEL7.8 version of Podman will match the RHEL8.2 version.  Sadly this will probably be the final release other then CVE fixes, since RHEL7 will be entering its next level of support, which is just security fixes.

[2019-11-08 11:50] rhatdan commented on #4477
Sounds like a good idea, also a blog and add something to troubleshoot.md on the github.

[2019-11-08 12:23] jonasbartho commented on #4476
Hmm, that is unfortunate!
Does podman/buildah have an online rpm-repository where I could download from? I have googled for this without any success. That would partially solve our problem.

[2019-11-08 12:29] rhatdan commented on #4476
You can run newer podman inside of a container quay.io/podman/stable which would get you a newer version.
You would need to run this in a --privileged container with the hosts podman or docker.

[2019-11-08 13:24] yangm97 commented on #1742
Not ideal, but it may be good to know: ubuntu bionic packages have been working with debian stretch.

[2019-11-08 13:26] yangm97 opened #4478 "Update pods using podman play kube file.yml"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, you can create pods using `podman play kube app-pod.yml` but if you try running the same command again you get the following message:

[code]

`kubectl` handles updating bare pods, even though it is recommended that you use deployments instead, but it's the subject of another [

[2019-11-08 13:26] jonasbartho commented on #4476
Hmm, that is sadly not a good solution for us.
Shame that there is no own repository... It would make it a lot easier for our developers to change.

[2019-11-08 13:33] returntrip commented on #4198
I tried today to stop a toolbox container via podman and re enter with `toolbox enter` and it did work. Also starts if I issue `podman start <toolbox>`. So I guess it can be closed.

Tested on latest Silverblue 31 (no overrides)

[2019-11-08 13:41] rhatdan commented on #4478
@yangm97 So the behaviour you would expect would be to replace the existing pod with a new pod, correct?

[2019-11-08 13:43] rhatdan commented on #4476
@jonasbartho Moving to RHEL8 you will get latest podman every three months.  RHEL7 is probably not a great place for developers at this point, since it is almost 7 years old.

[2019-11-08 13:49] #4198 closed

[2019-11-08 14:10] mheon commented on #2240
Something is likely mounted at that directory (specifically, it seems like `fuse-overlayfs` failed to cleanly unmount). You might want to try unmounting it in a `podman unshare` shell, then removing once that's done.

[2019-11-08 14:14] jonasbartho commented on #4476
Ok thx!

[2019-11-08 14:14] #4476 closed

[2019-11-08 14:34] grigorig commented on #2240
Why should I care about these things as a regular user? Removing a container should work without any crazy workarounds and hacking around bugs.

[2019-11-08 14:42] mheon commented on #2240
We are aware of this issue, and I understand that it sucks - this is definitely something that Podman should be handling automatically. There's an issue somewhere in containers/storage where containers can be registered as successfully unmounted despite the unmount failing, so our tools don't know they have to unmount on trying to remove. Thus far, this has been a very rare occurrence, so hopefull

[2019-11-08 14:47] mheon commented on #4478
If we're replacing, I would think we'd want a flag to make it explicit - `--force` or `--replace` to allow replacing existing pods with the same name?

[2019-11-08 14:49] carroarmato0 opened #4479 "COPY relative path misparsed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While building a container, the process is interrupted at the following step:

[code]

When enabling --log-level debug, the last entry in the log is:

At first glace, for some reason --label and other irrelevant things seem to have slipped in the path.

**Steps to reproduce the issue:**

1. T

[2019-11-08 14:52] mheon commented on #4479
@TomSweeneyRedHat PTAL

[2019-11-08 14:52] rhatdan commented on #4478
SGTM

[2019-11-08 16:05] matpen opened #4480 "ssh transport for podman push"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

For the deployment of images from the development environment to a VPS we use an intermediate private registry: this works well, and is very suitable in most stable scenarios. However, for smaller cases, it also comes with disadvantages:
* one must maintain a registry server;
* users of t

[2019-11-08 16:17] returntrip opened #4481 "CgroupsV2 - possible migration issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
﻿After having migrated my Silverblue 30 toolboxes, `libpod.conf` will populate `cgroup_manager` with `cgroupfs`. If, for whatever reason a user, stops the toolbox container,  deletes `libpod.conf` and re runs `toolbox enter` a new `libpod.conf` is generated with `cgroups_manager = "systemd"` a

[2019-11-08 16:24] returntrip commented on #4481
@debarshiray FYI

[2019-11-08 16:35] TomSweeneyRedHat commented on #4479
@carroarmato0 I've tried using your Dockerfile with upstream Buildah and I'm seeing a different error:

[code]

Which in my case anyway is valid as I don't have a /root/resources directory.  I don't see a command in your Dockerfle that I suspect would create that directory, am I missing something?

[2019-11-08 16:46] mheon commented on #4481
@giuseppe PTAL - I don't think there are migration issues around systemd/cgroupfs, so this is probably something separate...

@returntrip If the cgroup manager is set to systemd, do new containers work and migrated containers fail, or do all containers fail?

[2019-11-08 16:47] mheon commented on #4481
Oh, wait, wait, wait... This could be the container's CGroup parent. That won't be migrated by our current code... Damn.

[2019-11-08 16:58] Moshyfawn opened #4482 "podman-compose up fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
1. `podman network create server`
2. `podman run -d -p 80:80 -v /var/run/docker.sock:/tmp/docker.sock:ro --network="server" --name="nginx_proxy" jwilder/nginx-proxy`
3. `podman-compose -f docker-compose.dev.yml up -d`

**Describe the results you received:**
C

[2019-11-08 17:04] returntrip commented on #4481
With `systemd` manager, new `stef` container and previous `cgroups` made `fedora-toolbox-31` container

[code]

With `cgroupfs` manager, `systemd` created `stef` container and `cgroupsfs` created container:

[code]

[2019-11-08 17:16] mheon commented on #4481
Alright, it's probably CGroup parent, then. We may want to force cgroupfs driver for migrated systems, but it's not clear how we would identify that the system should retain the cgroupfs driver.

[2019-11-08 17:16] returntrip commented on #4481
This is also odd, why I cannot re enter a freshly `systemd` manager created toolbox?

[code]

[2019-11-08 17:21] mheon commented on #4481
Can you reproduce that consistently? That's a separate bug that we haven't found a consistent repro for yet.

[2019-11-08 17:28] returntrip commented on #4481
Not sure this tests well consistence but it never enters toolbox:

[code]

I also guess we need to reopen https://github.com/containers/libpod/issues/4198 cause my test was made using toolbox (migrated) images created with `cgroupfs` manager. I have a headache atm so can't think straight :(.

[2019-11-08 18:14] carroarmato0 commented on #4479
So the way I envisioned it to work is having Jenkins pull down a Git repository in a Job.
The structure looks like this:

[code]

The behavior I have with Docker, is that the contents or the resources folder, being applied to "/", results in the configuration files (status.conf, stealth.conf and httpd.conf) being copied inside the container in /etc/httpd/conf/... etc.

I'm not sure if this is a di

[2019-11-08 18:35] rhatdan commented on #4480
@mtrmac @giuseppe @vrothberg @baude WDYT?
I kind of like the idea, although I would figure you need a matching program at the destination to  setup the protocol.

We might be able to do something with a podman service or podman varlink to receive the incoming payload and store it in the outgoing storage type.

[2019-11-08 18:41] matpen commented on #4480
@rhatdan Glad to hear that the idea looks interesting.

Regarding your comments, and still following the inspiration of `rsync`, I do not think that a "service" (in the sense of a daemon) is needed: however, yes, the "receiver" will need to implement some kind of network protocol to exchange informations at the different stages of the transfer (i.e. "peek available layers"). `rsync` implements thi

[2019-11-08 19:03] mtrmac commented on #4480
This does seem like something that could be built in principle.

What exactly is the situation in which this would be useful?
- Deploying a build to a remote data center
- When there a registry _neither_ at the build site _nor_ at the deployment site (otherwise, pushes/pulls can use that registry)
- When there is only ever a _single_ deployment of a particular image (otherwise a registry to preser

[2019-11-08 19:44] ajeddeloh opened #4483 "podman run leaks dbus-daemon processes"
/kind bug

**Description**

Running `podman run --rm busybox` (which container doesn't matter) leaks two dbus-daemon processes. I am running rootless. I do not have a user dbus daemon running, only a system one.

Logs with `--log-level debug`: https://gist.github.com/ajeddeloh/4884936398d9ce6203a4ba4e40c39b73

**Steps to reproduce the issue:**

1. `pgrep dbus-daemon | wc -l`

2. `podman run --rm b

[2019-11-08 20:28] mheon commented on #4483
Definitely looks like our linger code, or similar

[2019-11-08 20:42] giuseppe commented on #4483
we are not enabling linger mode anymore automatically.

I wonder if it is just systemd spawning these processes when required (socket activation?).

Does the number keep increasing if you launch more containers or is it constant?

[2019-11-08 20:59] ajeddeloh commented on #4483
It always leaks two processes, regardless of if I've already run it.

[2019-11-08 21:04] ajeddeloh commented on #4483
Just did some more tests; if I have a user dbus daemon already running, it does not leak (or perhaps doesn't spawn in the first place) and dbus-daemon processes.

[2019-11-08 21:06] #4328 closed

[2019-11-08 21:14] TomSweeneyRedHat commented on #4479
@carroarmato0 Maybe I've late Friday afternoon brain, but the message, although messed up, seems to be saying it can't find the resource directory in that last bit.  I noticed you have an older version of Podman/Buildah.  Any chance you could upgrade and try again?

[2019-11-08 21:24] giuseppe commented on #4483
so I think it is socket activation, systemd spawns dbus-daemon if it is needed and not not already running.  Podman doesn't do anything to start it up, just opens a connection.

[2019-11-08 21:24] carroarmato0 commented on #4479
Already 10pm over here, brain definitely set in weekend mode :)

Using Podman for a client, I suspect they want to keep things as vanilla as possible (in this case, whatever CentOS makes available in the repo's on 7.7).
I do believe I can find rpm's for podman 1.6.2 and buildah 1.11.4 from here: https://buildlogs.centos.org/centos/7/virt/x86_64/container/ which I could try out and see what happens

[2019-11-08 22:47] TomSweeneyRedHat commented on #4479
Thanks @carroarmato0 !  FWIW, unless you want to play with or use Buildah directly, you should only need the Podman rpm from there, that should be enough.   The context directory might be it too, you'd need to be in the same directory as the Dockerfile per your tree above.

Enjoy the weekend and thanks for the help chasing this.

[2019-11-09 00:07] #3850 closed

[2019-11-09 01:23] vrga commented on #4433
I'd like to add another potential lovely usecase that would be enabled by being able to just straight run from systemd.

[code]

Ignoring the content of the launch itself, what it allows is running ephemeral containers as system services.

This pretty much allows me to run these services mostly hands-off, no need to update the units every time i update it or anything like that.

I've had this work

[2019-11-09 05:51] yangm97 commented on #4478
@rhatdan I think it would be nice to replicate the kubernetes behavior, if possible, which I believe is updating a pod when applying a `kind: Pod` spec and recreating the pod(s) when using a `kind: Deployment`.

[2019-11-09 06:39] abitrolly commented on #4458
While the idea to research Flatpak format seems interesting, I am not sure I possess the necessary resources to take a responsibility.

[2019-11-09 09:21] rhatdan commented on #4219
@b1shan @baude Still working on this one?

[2019-11-09 09:21] rhatdan commented on #4207
This is still being worked and definitely something we want.

[2019-11-09 09:22] rhatdan commented on #4021
@cevich Do you think this is still an issue?

[2019-11-09 09:24] rhatdan commented on #4014
Podman will not work in a locked down container yet.  We can get a lot further by turning off some security features.

RUn a --privileged container with Docker and  podman should be able to function,

[2019-11-09 09:43] vrothberg commented on #4014
@giuseppe, can you have a look at it? It looks like `crun` is cloning which would be surprising for the `info` use case where we only need the version and commit.

[2019-11-09 14:32] stderr-enst commented on #3790
1.6.3 should contain #4350, right?
Any idea when the projectatomic ppa will ship 1.6.3 for ubuntu 18.04?
I would provide the output to this bug, but I don't have the time right now to build podman myself on this machine.

[2019-11-09 15:11] colundrum commented on #4472
@rhatdan Thanks, I'll look if I can adapt it.
I'll tell you if I push my development to my dev/stage.

[2019-11-09 15:27] TomSweeneyRedHat opened #4485 "changelog entries for v1.6.3 are missing and no 1.6 RA on podman.io"
Just pulled up the changelog.txt file and it has no entries for 1.6.3.

Also there's not a release announcement for 1.6* on podman.io, poke, poke.

[2019-11-09 15:28] TomSweeneyRedHat commented on #3790
@stderr-enst yes, 1.6.3 includes the changs from #4350.  IDK about the shipping time to ubuntu, if anyone would it would be @lsm5

[2019-11-09 16:11] henrywang opened #4486 "Fedora 31: Cannot run selenium/hub:3 image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After update to Fedora 31, the image selenium/hub:3 cannot get started and reports:
[code]
No this kind of error in Fedora 30.

The `selenium-hub` is started by supervisord.  And EACCESS error should be related with permission,

**Steps to reproduce the issue:**

1. run `podman run -d --name

[2019-11-09 20:25] johanbrandhorst commented on #4107
I had a brief look into implementing this and it appears the formatting is happening before writing it to the journal. Adding a formatting string to `GetContainerLogs` won't do anything, unless we want to parse the already formatted strings.

I could _remove_ the existing formatting from the logging code and then add it back as a configurable format in GetContainerLogs. What do you think?

[2019-11-10 00:24] mheon commented on #3906
Oops. I thought the bot closed this.

Adding do-not-close label.

[2019-11-10 07:33] paravz commented on #4486
I will pile another Fedora 31 issue with the same podman version:  "root" systemd containers are not working on fedora 31 without --privileged (any container image i tried)

`sudo podman rm -vf systemd; sudo podman run -it -d --name systemd fedora:31 /sbin/init`

`sudo podman logs systemd`
[code]

[2019-11-10 13:46] vrothberg commented on #4014
Just had a look at the code, it has nothing to do with `crun`. The cloning error comes from Podman trying to create a new user namespace for running rootless.

@hholst80 are you running the container as `--privileged`?

[2019-11-10 14:17] giuseppe commented on #4014
Clone failures usually are related to seccomp blocking them.  Can you try disabling it?

[2019-11-10 15:14] m4r10k opened #4488 "Podman is not monitoring slirp4netns"
/kind bug

**Description**

Podman is not monitoring the `slirp4netns` process and if it dies, no one restarts the process and the network (eg host-port) communication is clearly broken.

Please apologize if Podman is the wrong place to file this issue, I am not that familiar with this project. :)

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Podman should take

[2019-11-10 15:37] henrywang commented on #4486
Looks like `crun` only works with `supervisord` and `systemd` by `--privileged`.

[2019-11-11 00:07] mheon commented on #3550
I think we may want to close this one and open a tracker for a rewrite of `cp`

[2019-11-11 00:07] mheon commented on #3550
I'll leave it open until that happens, though. Better than losing it.

[2019-11-11 00:08] mheon commented on #4159
Where do we stand here?

[2019-11-11 00:32] lsm5 commented on #4159
err not yet, I'll try to get this in soon as I can find the time, I really don't want to bundle it though if it has its own versions.

[2019-11-11 02:43] jwhonce commented on #3550
I thought we had a card for the rewrite but I cannot find it now.  @mheon did it get deleted?

[2019-11-11 03:53] yihuaf commented on #4357
@rhatdan https://github.com/containers/image/issues/748 filed. Thanks.

[2019-11-11 10:41] Richard87 opened #4490 "Permission denied opening /dev/stderr etc by Apache2"
/kind bug

**Description**

Hi!

After upgrading to Fedora 31 I was excited to try Podman, but it fails when running an old Apache image I have (it's working on Docker, but it fails with podman with *and* without cgroups2):

[code]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2019-11-11 12:35] yanchenko-igor commented on #4460
@vrothberg How do you know in which version it's going to be fixed? it's not fixed in master branch yet.

[2019-11-11 12:52] mheon commented on #4490
EPERM smells like it could be SELinux. Could you run the container with `--security-opt label=disable` and see if that fixes it?

[2019-11-11 13:27] Richard87 commented on #4490
I have selinux disabled on the host with cgroups1,
and selinux enabled on the host with cgroup2, I tried `--security-opt label=disable`on the host with cgroup2, but the same error...
(I have no idea if cgroup version have anything to do with it)

cgroup1 host (workstation):
[code]

cgroup2 host (laptop):
[code]

[2019-11-11 13:28] rhatdan commented on #4107
@baude @jwhonce ^^

[2019-11-11 14:01] baude commented on #4488
@giuseppe

[2019-11-11 14:31] vrothberg commented on #4460
My bad. It's not yet fixed entirely. Thanks for pointing that out!

[2019-11-11 14:35] giuseppe commented on #4488
yes, that is out of the scope.  We don't want to leave a podman process alive to monitor the slirp4netns process.  We could probably add this logic to the slirp4netns process itself to have a watchdog process.  @AkihiroSuda what do you think?

How did the slirp4netns process fail?  Was it killed?

[2019-11-11 14:46] giuseppe commented on #4490
can you try to add `--group-add tty` to run?

[2019-11-11 14:58] m4r10k commented on #4488
@giuseppe @AkihiroSuda Uhm, I killed it to find out what happens if it happen :see_no_evil: :smile:

My guess about Podman as monitoring instance was that it already has to monitor the Pod containers (failing/restart policies/...) and it has to use slirp4netns to setup the network TAP networking to provide the ip paket forwarding service between the host network and the Pod network namespace/cidr.

[2019-11-11 15:14] rhatdan commented on #4486
@giuseppe PTAL

[2019-11-11 15:29] giuseppe commented on #4486
I can reproduce the issue with `fedora:31`.  Seems like selinux is blocking writes to cgroup:

[code]

[2019-11-11 16:15] Richard87 commented on #4490
Yup, that worked nicely :)

[2019-11-11 17:53] oleksandrborniak commented on #1671
@mheon I guess I have faced the same issue on "cockpit-podman".
<img width="893" alt="Screenshot 2019-11-11 at 16 43 50" src="https://user-images.githubusercontent.com/49722408/68608305-343c8b80-04bb-11ea-909f-16bb7852b0fa.png">
I see "^L" symbols when I am running podman container with a terminal.
<img width="734" alt="Screenshot 2019-11-11 at 19 46 14" src="https://user-images.githubusercontent.

[2019-11-11 17:55] bmaupin commented on #3982
@vrothberg

Sorry, after filing 4-5 different bugs for podman I ended up switching back to Docker so I could get my work done. But I still have podman installed.

I don't believe I've touched podman since our last interaction, and it looks like the error is slightly different now:

[code]

It looks like I'm running a newer version of podman:

[code]

[code]

I started this command and piped it to

[2019-11-11 18:13] bmaupin commented on #3982
[find-output.tar.gz](https://github.com/containers/libpod/files/3832631/find-output.tar.gz)

[2019-11-11 18:51] mheon commented on #3982
Unclosing

[2019-11-11 19:41] rhatdan commented on #4486
You need to turn on the container_manage_cgroup boolean.
[code]

[2019-11-11 19:43] paravz commented on #4486
Do i still need to do it when podman host is in Permissive mode ?

[2019-11-11 19:44] rhatdan commented on #4486
Nope,

[2019-11-11 19:53] rhatdan commented on #4240
We want this.  @QiWang19 PTAL

[2019-11-11 20:19] #4467 closed

[2019-11-11 20:51] giuseppe commented on #4490
opened a PR in crun to address the issue: https://github.com/containers/crun/pull/175

[2019-11-11 21:41] tinmanjuggernaut commented on #4240
New to dockers and podman. I've been setting up and blowing away dockers as I try setting them up. I manually erased my ~/.local/share/containers to reset everything because of all the wasted space from orphan images being created and duplicated space. Now that I'm setting up more dockers, my container list is always empty, even though when I try removing some images it says they're part of a cont

[2019-11-11 21:47] johanbrandhorst opened #4495 "Unable to upload file to container over varlink"
/kind bug

**Description**

I would like to be able to programmatically upload arbitrary data to a container and put it in a file of my choice. This is possible today in [the Docker API](https://docs.docker.com/engine/api/v1.40/#operation/PutContainerArchive).

In my quest to find a solution to this I scoured the issue tracker and the source and I found two possible solutions:

1. Like `podman cp`

[2019-11-11 22:34] rhatdan commented on #4240
rm -rf ~/.config/containers ~/.local/share/containers
rm -rf /run/user/3267/overlay*

Would be the way to reset storage.

[2019-11-12 07:21] tinmanjuggernaut commented on #4240
Thanks.

[2019-11-12 09:10] carroarmato0 commented on #4479
The packages from that link are unusable due to the absence of the libvarlink-util dependency.
Ended up using most packages coming from https://cbs.centos.org.

When trying to use podman I realized the switch to crun instead of runc.

[code]

I fear this is going to become a slippery slope in Centos 7.7 . Will try reverting and taking a closer look to see if it's really not something weird with th

[2019-11-12 10:00] carroarmato0 commented on #4479
After some more testing I figured there was something wrong with  "${CUSTOM_LABELS}".

This variable is injected as a parameter to podman. After inspecting it, I don't seem to see anything weird with it.

[code]
CUSTOM_LABELS resolves to:

`
 --label 'org.opencontainers.image.source=https://git.somecompany.eu/scm/somedivision/container-apache.git' --label 'org.opencontainers.image.revision=4b37ccb

[2019-11-12 12:47] carroarmato0 commented on #4479
I'm going to close this issue as it's clear that there's something wrong with how the values are being passed to podman's commandline arguments, rather than something going wrong with podman itself. Thanks for taking the time to have a look.

[2019-11-12 12:47] #4479 closed

[2019-11-12 13:05] rhatdan commented on #4234
Still need to work on this.  We definitely need to figure out how we can get this to work.

[2019-11-12 14:20] mathstuf opened #4499 "Create a socket for docker/docker Go API usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

gitlab-runner tries to call to docker using the socket HTTP API. This does not work on CentOS 8 because podman-docker doesn't expose that API. I think a simple daemon that set up the socket and listened for the API calls and turned them into `podman` commands to run would suffice.

**Step

[2019-11-12 16:40] baude commented on #4499
hang tight and keep your eye on our repository.

[2019-11-12 16:41] matihost opened #4500 "cannot set a static IP if joining additional CNI networks"
[code]

When '--ip 172.25.0.200' is removed, it assigns next available IP from the subnet.

podman version
Version:            1.6.1

[2019-11-12 16:45] matihost opened #4501 "snap does not create podman link in /var/lib/snapd/snap/bin"
https://snapcraft.io/install/podman/centos does not work
[code]
it does not create podman link in `/var/lib/snapd/snap/bin`

After doing that manually, it does not run on CentOS
Manually fixin devmapper.so - reveals old version of podman 0.11

Is it really snap being supported?

[2019-11-12 16:56] mheon commented on #4500
Hmmm. This ought to be possible, but we'll need to talk to the CNI folks to make sure it's supported now.

[2019-11-12 17:39] MycroftHolmes1989 commented on #4458
While you guys are at it, would you kindly consider adding it to OpenSUSE Build Services? It would be an easy way to target multiple distros and support latest releases,. For example, the official PPA does not have support for Ubunt 19.10 yet. Those problems would probably be easier to handle if you just add the project to OBS.

[2019-11-12 18:34] lsm5 commented on #4458
On Tue, Nov 12, 2019 at 09:40:05AM -0800, M Holmes wrote:

Ubuntu 19.10 on PPA is currently wip. I did ping the obs people for help but no
response yet. /cc @vrothberg.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-11-12 18:35] sshnaidm commented on #4495
Is this about https://github.com/containers/libpod/issues/4207 ?

[2019-11-12 18:38] sshnaidm commented on #4482
`KeyError: 'mountPoint'` - in newer versions it's `Mountpoint`

[2019-11-12 19:15] vrothberg commented on #4458
There's no response yet.

[2019-11-12 19:17] MarcoFalke commented on #3302
Would be nice to get this fixed in the next couple of months, because it prevents affected users from upgrading to fedora 31, as I believe there haven't been any compiled and tested releases of pre-1.5 versions of podman for fedora 31.

[2019-11-12 19:18] lsm5 commented on #4458
@MycroftHolmes1989 in case you have experience with OBS, would you be willing to help out?

[2019-11-12 19:24] baude commented on #4482
i dont think this applies here.  shouldnt this be filed with podman-compose?

[2019-11-12 19:26] MycroftHolmes1989 commented on #4458
Unfortunately, I'm not qualified enough to undertake such a task. Sorry.

[2019-11-12 19:34] lsm5 commented on #4458
On Tue, Nov 12, 2019 at 11:26:14AM -0800, M Holmes wrote:

No worries. OBS is on our agenda yes, as that'll make it easier to ship for
vanilla Debian too, but we're fighting some other fires so it's gonna take
longer unless maybe we get additional community support.

Meanwhile, I hope to have 19.10 enabled on the PPA by early next week.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.

[2019-11-12 21:33] onlyjob opened #4504 "Please update "varlink/go" library"
[varlink/go](https://github.com/varlink/go/releases) tagged formal semantic releases so it would be great to update vendored library to a properly released version for the sake of good vendoring practice.

---

Additional problem is that newer _varlink/go_ package was uploaded to Debian and that revision is ahead of the vendored one. Unfortunately there were [breaking changes](https://github.com/v

[2019-11-13 00:06] #4185 closed

[2019-11-13 00:27] kunalkushwaha commented on #4411
I am also facing this issue.. will pick it up.

/assign

[2019-11-13 00:51] rufoa commented on #3790
Just built the deb for 1.6.3 manually
Can confirm this issue is resolved on both Ubuntu and Debian

[2019-11-13 12:53] johanbrandhorst commented on #4495
No, but I guess that covers the same thing. This is about a library I'm writing for dynamically starting and removing containers for Go tests.

[2019-11-13 19:11] matpen commented on #4480
If this appears to too difficult to implement, or undesirable for some reason, I believe that it would be sufficient to have a way to export only some layers from an image. The network protocol can then be built around that, simply by using ssh directly.

Something like: `podman save --only-layers ...` or `podman save --skip-layers ...` would be ideal. I noticed that `skopeo layers` offered a simi

[2019-11-13 20:54] Dulani commented on #3323
I had about a 10 minute hang at "storing signatures" on a fresh install (1.4.4) when pulling a small `rhel7` image (~300MB).  Then I pulled a small (15 MB)  nfs image (`erichough/nfs-server`) and also had a ~5 minute hang at the "storing signatures" stage.  I initially thought, it was just the first one, but the second one took WAY longer to "store signatures" than it did to download.

[2019-11-13 22:05] Ngpriddy opened #4507 "Issues running nvidia runtime rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On two RHEL 7.7 workstations, I have installed podman, the latest nvidia driver from El Repo, and installed the nvidia-container-toolkit. I also implemented the following: https://github.com/containers/libpod/issues/3659#issuecomment-543912380. On one workstation, this has allowed me, both as

[2019-11-13 22:39] whitel opened #4508 "configuration option for dns server to use"
/kind feature
also kind of a bug

**Description**
If you are using 127.0.0.1 in resolv.conf, podman appears to switch to using 8.8.8.8 in the containers it runs. In some networks that dns server may be blocked. You can work around this issue by passing `--dns=<my-dns-server>` but it would be nice to be able to set this system/user -wide.

I propose an entry in to the libpod.conf file(s).  However,

[2019-11-13 23:54] mheon commented on #4508
@rhatdan @QiWang19 Looks like a good candidate for containers.conf

[2019-11-14 00:15] mheon commented on #3821
What the hell, bot.

[2019-11-14 00:16] #4259 closed

[2019-11-14 00:19] qfunq commented on #2713
This never got cleared up for root. Because it's needed in production, I have a port of giuseppes UserNSRoot code to podman 1.6.4-dev (including keep-id) ... it seems to be working perfectly, the volumes are correctly mapped into the username space using the intermediary mount and gid/uid mappings. ginkgo isn't complaining. Is anyone interested in this?

[2019-11-14 01:48] larsks commented on #4508
Note that this is already possible in Docker, which lets you set the default resolver via `/etc/docker/daemon.json` (or as a command line argument to `dockerd`). I've hit the same problem as langdon and I agree that always having to add `--dns a.b.c.d` to my `podman run` invocations is annoying (particularly when I forget!).

[2019-11-14 05:46] nicholasbishop commented on #4318
Just an FYI, I tried out a recent build of podman and while volumes specified with `VOLUME` are now mounted `exec`, volumes mounted with `podman run --volume` are still `noexec`. Not sure if that's expected behavior or not.

[2019-11-14 06:02] nicholasbishop opened #4510 "docs/manpage: --volume doesn't mention additional mount options such as exec"
The documentation for `--volume` says
[code]

But it seems it's possible to specify additional options such as `exec`.

[2019-11-14 07:43] #4252 closed

[2019-11-14 08:36] ssbarnea opened #4511 "macos: podman cannot be opened because the developer cannot be verified"
When I try to execute podman from cli I get:

The only options are "Move to Bin" and "Cancel", and neither of them seem to provide useful.

We need to assure that podman can be installed (brew) and executed on macos, without extra tricks.

Please do not suggest disabling system security. Last time I did this was years ago. In 2019 nobody should do that. Brew installed software compiles locally and

[2019-11-14 08:51] ssbarnea commented on #4364
Did you managed to get a signed podman, my testing of podman got stuck at https://github.com/containers/libpod/issues/4511

[2019-11-14 09:58] ssbarnea commented on #4156
@rhatdan Sorry but until https://github.com/containers/libpod/issues/4511 is fixed I have few incentives to implement such feature. Once that one is sorted I will probably try to raise a PR as I want to make it easier to everyone to use podman.

[2019-11-14 10:59] mjudeikis commented on #4236
@baude It works on my end, but as soon as I do more operations on same varlink connection - it gets crazy and start dropping me errors like this:
[code]

What is the recommendation? use the same connection or create new ones for each call/goroutine?
I think its race-condition somewhere. as  with single operations I didnt had any issues

[2019-11-14 11:10] mheon commented on #4318
That's the default, but it can be changed by adding 'exec' to volume
options.

On Thu, Nov 14, 2019, 00:46 Nicholas Bishop <notifications@github.com>
wrote:

[2019-11-14 11:34] TomSweeneyRedHat commented on #4252
@saschagrunert beat me to the punch as usual, but I want to leave a few breadcrumbs here.  https://github.com/containers/libpod/pull/4506 merged in Buildah 1.11.5 which contains https://github.com/containers/buildah/pull/1873 that fixes this, we now match Docker's pull functionality and have a litle bit extra in --pull-always and --pull-never

[2019-11-14 11:37] saschagrunert commented on #4252
Thanks @TomSweeneyRedHat ! :)

[2019-11-14 11:42] TomSweeneyRedHat commented on #4123
Going to keep this one alive.

[2019-11-14 11:46] mjudeikis commented on #4236
so Im reusing one connection in multiple goroutines.
And it is failing a lot.

Added mutex for each call in my abstraction:
[code]

and
[code]

And from the first look looks like it works.

[2019-11-14 15:26] mheon commented on #4500
I'll take this.

[2019-11-14 15:34] afbjorklund commented on #4156
I need all 4 variables (for podman-machine) so adding another one does not help me (need port and key)

[2019-11-14 16:45] DamienCassou opened #4515 "Better error message when relabelling fail"
I've spent quite some time trying to understand why `podman run --volume /foo:/bar:Z` would fail:

[code]

After finding https://github.com/containers/libpod/issues/2379, I realized I had root-owned files in the directory being used as the volume on the host.

I would be great to have an error message a bit more explicit if that is possible.

Thank you so much for podman, it makes my life quite si

[2019-11-14 17:32] timonegk opened #4516 "podman push: no Location header in response"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman push registry.mydomain.com/imagename`

**Describe the results you received:**

[code]

**Describe the results you expected:**

A successful push.

**Additional information you deem important (e.g. issue happens only occasionally):**

Parts of the

[2019-11-14 18:30] TomSweeneyRedHat commented on #4516
Just a quick thought.  When you created the image, did you use `--format=docker`.  Some registries won't deal with an OCI images which is what Podman builds by default.

[2019-11-14 18:44] baude commented on #4515
@DamienCassou would you like to propose a PR? We'd be happy to work with you.

[2019-11-14 20:59] timonegk commented on #4516
I did not use this flag before, but using it unfortunately does not help.

[2019-11-14 21:27] ag1989 commented on #4364
Nope, still not properly signed...

[2019-11-15 06:27] alitvak69 commented on #4213
@lsm5 any news on 1.6.3 auto-building?

[2019-11-15 09:09] mido3ds opened #4520 "projectatomic PPA repository has no Release file!"
/kind bug

**Description**

Cant add the repo projectatomic to install podman on ubuntu18.10

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**

[code]

**Distro info**
[code]

[2019-11-15 13:13] rhatdan commented on #4511
@ssbarnea Any chance you can help us get this right?

[2019-11-15 14:03] DamienCassou commented on #4515
Brent Baude <notifications@github.com> writes:

I'm sorry but I won't do that. I have a lot on my plate for FLOSS
projects already :-).

Feel free to close the issue if no one wants to work on it.

--
Damien Cassou

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-11-15 14:11] mheon commented on #4515
I think we do the relabel ourselves so we could catch EPERM and wrap it
with a better error.

On Fri, Nov 15, 2019, 09:03 Damien Cassou <notifications@github.com> wrote:

[2019-11-15 22:33] sdarwin opened #4522 ""podman start" not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Ubuntu 18.04 in AWS, when stopping and starting a standard container, it seems to always show an error during "start".

[code]

**Steps to reproduce the issue:**

Launch a small instance in AWS with Ubuntu 18.04.
Connect and switch to the root user.
[code]

Create install.sh:

[code]

Run

[2019-11-15 22:43] mheon commented on #4522
Can you run with `--log-level=debug` and paste the result, as well as any logs in syslog from `conmon`?

[2019-11-15 22:57] sdarwin commented on #4522
@mheon - very good idea - the conmon logs in /var/log/syslog shows the error:

[code]

it says "File exists".

for completeness, here is the debug output of "podman start" also:

[code]

[2019-11-16 00:30] mheon commented on #4096
You need to not only reopen, but clear the stale-issue label, to prevent it from autoclosing again. Sort of annoying.

[2019-11-16 00:35] vwbusguy commented on #4510
rbind is another one

[2019-11-16 09:09] bka2004 commented on #3046
Is this really implemented now? Here's what I get when I try to use it:
[root@frogstar ~]# podman --version
podman version 1.6.2
[root@frogstar ~]# podman volume create --driver local --opt type=xfs --opt device=/dev/md/jbod1 FileServerData         Error: error running volume create option: not yet implemented
[root@frogstar ~]# podman volume create --driver local --opt type=none --opt device=/mnt

[2019-11-16 12:08] edencorbin commented on #2778
I'm a bit new to podman, but working through some basics, I'm running into:
```Error: error from slirp4netns while setting up port redirection: map[desc:bad request: add_hostfwd: slirp_add_hostfwd failed]```
I'm on KDE Neon (ubuntu 18.04)
I ran this:
[code]
ERRO[0000] "error starting some containers: container already exists"
ERRO[0000] "a dependency of container e20523660139134d09bbc0cc95f22f15f8

[2019-11-16 13:38] AkihiroSuda commented on #2778
Seems the port is either less than 1024 or already taken by another process

[2019-11-16 14:03] mheon commented on #3046
The missing bit is 'driver=local' - leave that off for now, as we haven't
implemented volume plugin support yet. The command should work without it.

On Sat, Nov 16, 2019, 04:09 Branko Kannenberg <notifications@github.com>
wrote:

[2019-11-16 15:41] #3790 closed

[2019-11-16 18:14] rhatdan commented on #4507
The nvidia hooks are not likely to work with rootless.  Please contact nvidia, we would love to work with them on fixing the issue.  Bottom line,the rootless user is not allowed to do any privileged functions like creating device nodes or load kernel modules.

[2019-11-16 18:15] rhatdan commented on #4264
I will close this as no further info.

[2019-11-16 18:16] #4255 closed

[2019-11-16 21:29] rhatdan commented on #4318
Does that default match Docker?

[2019-11-16 21:51] nicholasbishop commented on #4318
No, Docker defaults to `exec`.

[2019-11-16 22:40] edencorbin commented on #2778
Yes that was it, my system installed postgres was also on default port 5432, my bad, user error.

[2019-11-17 00:09] #4021 closed

[2019-11-17 10:53] bka2004 commented on #3046
Thank you, that solved it.

[2019-11-17 11:03] bka2004 commented on #4288
I'm having the exact same problem as the OP, but even with the default network.
Any started container which exposes a port is only reachable directly from the host where podman is running.

The only lines that get added to the output of "iptables --list" are those two when I start nginx on exposed port 8080:

ACCEPT     all  --  anywhere             10.88.0.29           ctstate RELATED,ESTABLISHED

[2019-11-17 11:53] djmattyg007 commented on #3421
I had the same experience as @ankon on a fresh install on Arch Linux. I'd configured `/etc/subuid` and `/etc/subgid` appropriately, but it simply did not work until I ran `podman system migrate`. I had the same output for `podman unshare cat /proc/self/uid_map`, and after running the migrate command it magically started working.

[2019-11-17 13:25] zer0def commented on #4353
I think that since #4368 got merged into master and covers two main ways of launching pods, this issue can be marked as resolved.

[2019-11-17 14:58] rhatdan commented on #4515
I just opened a PR on go-selinux to indicate the file that selinux failed to relabel, which would have made this a lot easie to diagnose.
https://github.com/opencontainers/selinux/pull/60

[2019-11-17 15:01] thoraxe opened #4526 "requested IP address X is not available in range"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

ERRO[0000] Error adding network: failed to allocate for range 0: requested IP address 10.88.0.11 is not available in range set 10.88.0.1-10.88.255.254
ERRO[0000] Error while adding pod to CNI network "podman": failed to allocate for range 0: requested IP address 10.88.0.11 is not available in

[2019-11-17 15:04] thoraxe commented on #4526
I think this is related to #3759

[2019-11-17 15:25] thoraxe commented on #4526
So, this is fixed by #4086 as best I can tell, but unfortunately that fix doesn't seem to have migrated its way back to a version that's natively available on CentOS 7.

Trying to update using https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/ gets me most of the way there, until I get hit with an error about trying to use `crun`:

`Error: error creating libpod runtime: defau

[2019-11-17 15:30] thymbahutymba opened #4527 "CAP_NET_BIND_SERVICE not working for port less then 1024"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to bind port less then 1024 without root permission.

**Steps to reproduce the issue:**
What I've done is the following:

1. `sudo setcap cap_net_bind_service=+ep /usr/bin/slirp4netns`
2. `podman run -it -p 990:990 arm32v7/debian bash`

**Describe the results you received:**
[code]

[2019-11-17 15:45] mheon commented on #4526
The default being crun there is probably a bug - @lsm5

On Sun, Nov 17, 2019, 10:25 Erik Jacobs <notifications@github.com> wrote:

[2019-11-17 15:58] baude commented on #4522
@sdarwin can we also get a `podman info` ? Might help understanding all the versions involved.  also @haircommander ptal, thoughts?

[2019-11-17 15:59] baude commented on #4508
@rhatdan containers.conf ?

[2019-11-17 16:01] baude commented on #4504
@onlyjob thanks for the report.  we are aware of the varlink problem as well and it appears we are going to have to deal with it too.  @jwhonce can you do this in sync with your python upgrade connection?

[2019-11-17 16:01] baude commented on #4507
@rhatdan do we need to get this documented somewhere?

[2019-11-17 16:04] baude commented on #4478
I'm a bit torn on this.  It is a departure from the regular behavior.  The error message seems pretty clear; is deleting it too big of a leap?

[2019-11-17 16:49] mheon commented on #4522
I think the PR to clean up winsz might fix this as well

On Sun, Nov 17, 2019, 10:58 Brent Baude <notifications@github.com> wrote:

[2019-11-17 17:18] sdarwin commented on #4522
Yes.

[code]

[2019-11-17 19:09] gerdstolpmann commented on #4288
Also running into this with a fresh checkout of podman (Debian buster):
[code]

[2019-11-17 20:33] haircommander commented on #4353
Thanks for the guidance @zer0def !

[2019-11-17 20:33] #4353 closed

[2019-11-17 21:18] haircommander commented on #4522
https://github.com/containers/libpod/pull/4521 merged, are you able to verify with it @sdarwin ?

[2019-11-17 23:08] sdarwin commented on #4522
Fixed.

[2019-11-17 23:08] #4522 closed

[2019-11-18 01:24] mheon commented on #4131
I believe Dan is working on this. We may need a few capabilities that
aren't available in an unprivileged container - SETUID was mentioned

On Sun, Nov 17, 2019, 19:09 github-actions[bot] <notifications@github.com>
wrote:

[2019-11-18 09:06] adoyle-h opened #4529 "podman varlink unknown flag: --timeout"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman varlink unknown flag: --timeout

**Steps to reproduce the issue:**

1. `brew cask intall podman`

2. `sudo podman varlink --log-level debug --timeout 0 unix://run/podman/io.podman`

**Describe the results you received:**

ERRO[0000] unknown flag: --timeout

**Describe the results you e

[2019-11-18 09:29] yann-soubeyrand commented on #4024
Hi,

I'm running Fedora Silverblue 31 (base commit 80944945d229dc557bc8c2b9e49c7bfbe055cc7b5537bcf8b9aa6893061e1fc4) witch contains the following packages
[code]
and I'm also unable to start a toolbox.
[code]

NOTIFY_SOCKET is not set and I've done `rm -rf ~/.local/share/containers ~/.config/containers ~/.config/toolbox` before trying to create a new toolbox.

I found nothing conmon related in jou

[2019-11-18 09:30] giuseppe commented on #4527
slirp4netns is called from within the rootless user namespace.  `CAP_NET_BIND_SERVICE` in this case would apply to the unprivileged user namespace.

Closing the issue as running slirp4netns from the host user namespace is not a supported use case, but please keep commenting on the issue if you have more questions.

If you'd like to bind ports < 1024 as unprivileged you need to tweak `/proc/sys/net

[2019-11-18 09:31] #4527 closed

[2019-11-18 09:46] yann-soubeyrand commented on #4024
Seems like the issue is in crun: https://github.com/containers/toolbox/issues/330.

[2019-11-18 09:55] garrett commented on #4024
@yann-soubeyrand: Yep. There's a workaround to downgrade crun until a fixed version finally makes its way into Fedora (and then Silverblue): https://github.com/containers/toolbox/issues/330#issuecomment-554292574

It's a bummer that it takes so long for what can easily be considered — especially for Silverblue — a critical fix. Hopefully tests can catch this kind of thing in the future?

[2019-11-18 10:12] vrothberg commented on #4516
Thanks for the report, @timonegk! Could you rerun the push with `podman --log-level=debug`? In case the registry requires authentication, please make sure to strip the log entries containing your credentials.

[2019-11-18 10:13] vrothberg commented on #4516
In case you have it installed, does the push work with Docker?

[2019-11-18 12:37] timonegk commented on #4516
Thank you, pushing with docker did not work either, but provided the following error:
[code]
This does not handle the problem well either, but provides the information I needed to fix the nginx reverse proxy (`client_max_body_size` must be set to `0`).
Now pushing works fine, this was not an issue with podman. But maybe it would be possible to return a better error message than `no Location header

[2019-11-18 13:17] giuseppe commented on #4024
made a new release: https://bodhi.fedoraproject.org/updates/FEDORA-2019-4b4957bbc6

[2019-11-18 13:54] returntrip commented on #4024
Thanks tested and given Karma.

[2019-11-18 14:10] #3359 closed

[2019-11-18 14:45] Ngpriddy commented on #4507
Okay, thank you very much for the explanation. It's just a little strange since I've been able to run it rootless on a few other machines, but not the machine in question on this ticket.

[2019-11-18 15:20] lsm5 commented on #1742
Quick update: debian(10, testing and unstable) and ubuntu(18.04, 19.04 and 19.10) builds on OBS are WIP at  https://build.opensuse.org/project/show/home:rhcontainerbot:stable since yesterday, (got some dependencies packaged but not podman, buildah or cri-o yet), seems to be progressing quick and I hope to get done this week, if it continues well, I hope to obsolete the current PPAs in favour of OB

[2019-11-18 15:28] lsm5 commented on #4520
cosmic is EOL'd already, so I didn't build for it. Might wanna uprade to disco and retry, or wait a while and give OBS repos a try ( not ready yet but will be soon).

See: https://github.com/containers/libpod/issues/1742#issuecomment-555061785

[2019-11-18 15:29] baude commented on #4529
you cannot run the varlink service with the mac remote client.  though i am surprised it didnt choke on the varlink command.  ill take a look at that.

[2019-11-18 15:34] lsm5 commented on #4458
@MycroftHolmes1989 https://github.com/containers/libpod/issues/1742#issuecomment-555061785 :)

[2019-11-18 15:39] rhatdan commented on #4508
Yes @QiWang19 could easily add this option.

[2019-11-18 15:40] baude commented on #4529
Ok what you are seeing is an artifact of how the cobra package works.  it is processing the flag first, but in reality there is no podman varlink command for the mac client.  closing as this is not a bug.

[2019-11-18 15:40] #4529 closed

[2019-11-18 15:51] rhatdan commented on #4131
Yes I have a working prototype of this, now, will publish a blog on it shortly.  I think we could get some additional support into containers.conf to make this easier to do.

[2019-11-18 15:53] johanbrandhorst commented on #4131
Just to be clear, the issue specifically mentions a use case:

Is this supported by the prototype?

[2019-11-18 15:59] AkihiroSuda commented on #4131
How is this possible? With seccomp=unconfined apparmor=unconfined?

[2019-11-18 16:41] rhatdan commented on #4507
@Ngpriddy I would figure the devices were created and kernel modules were loaded on the other machine, so the Nvidia plugin did not have to do anything on these machines.  I would guess if you rebooted those machines and ran rootless first, you would see similar errors.

[2019-11-18 17:18] dustymabe commented on #4024
seems to be working for me!

[2019-11-18 17:44] MarcoFalke commented on #1742
While I appreciate the work on OBS, it looks like the builds are only for x86_64. For e.g. aarch64 or similar we'd have to keep using the ppa or hope for vanilla packages?

[2019-11-18 17:58] rhatdan commented on #4318
Ok I think we should match docker.

[2019-11-18 18:24] lsm5 commented on #1742
TODO updated in above comment. More arches and distros will be added.

[2019-11-18 18:51] rhatdan commented on #4131
Currently have to disable SELinux since by default it blocks a few commands I have a modified seccomp.json file also.  BTW I have been sending out updates on podman.io mailing list.

Since I don't use apparmor, I would figure it is similar to SELinux.  Main SELinux issues were on mounting file systems.

[2019-11-18 19:19] sdouche commented on #4123
Hi:). Do you think this issue will be included in the short-term roadmap?

[2019-11-18 19:20] mtrmac commented on #4251
(Without actually understanding the specific root cause, given the available information), the fix basically needs to be to improve the reliability of the network connection.

It might, perhaps, be reasonable for the clients to retry on handshake or transfer timeouts (although even in that case it’s unclear whether it is justified, or whether the caller should be informed immediately, so that it c

[2019-11-18 19:27] mtrmac commented on #4516
Yeah, c/image is not checking the HTTP status code of the PATCH request in `PutBlob`.

[2019-11-18 20:11] mtrmac commented on #3323
That, in itself, is not too surprising: the download steps just decompress and write a linear stream of data to disk, the commit step (which actually takes time after “storing signatures”) reads that linear stream and writes it into many small individual files on disk, so filesystem metadata and disk seek performance are rather important for the commit (but completely negligible for the download).

[2019-11-18 20:14] thoraxe commented on #4526
so, changing the default to `runc` got me up and running with the fixed stuff. I will close this since my issue is not real. Let me know if you want me to reopen an issue regarding the default.

[2019-11-18 20:14] #4526 closed

[2019-11-18 20:19] mtrmac commented on #4480
… and how would the caller figure out which layers are present and the destination and which ones need to be pulled over? That still requires some kind of image-structure-aware protocol, hence the suggestion to turn `ImageSource` in to a RPC protocol.

I guess that “image-structure-aware-protocol” could instead be a complex shell script using ssh and parsing TTY output of various `inspect` command

[2019-11-18 20:33] larsks opened #4530 "RFE: Support network aliases"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

In addition to DNS-based container discovery using the container name, Docker permits an operator to assign aliases to the container. This can be tremendously useful if you've got a container name that looks something like "postgres-12-postgis", and you would like to be able to simply ref

[2019-11-18 20:37] larsks commented on #4432
It looks like this was also requested in #3837.

[2019-11-18 20:59] matpen commented on #4480
That was indeed the idea. I already played with a prototype and it is only 20 lines of code: basically, collect the layers via ssh and pass them through `cmp`. Of course the script is very specific to our use case, and most importantly would break if the manifest format changes: the best solution would therefore be an RPC implementation like you suggest.

It remains to be understood whether there

[2019-11-18 21:36] mheon commented on #4530
I imagine the code for dnsname to support this won't be particularly bad,
but it could be a real pain to plumb it through to CNI

On Mon, Nov 18, 2019, 15:33 Lars Kellogg-Stedman <notifications@github.com>
wrote:

[2019-11-18 21:38] baude commented on #4530
I like the idea as well; it would break current dnsname api (i imagine passing a []string of names instead of a string).  i double checked the behavior with docker and like us, they require a new network to be made so that name resolution works.  I guess --network-alias becomes a throw-away otherwise?

[2019-11-18 22:24] amshinde opened #4531 "Containers in a pod without an infra container have different IP addresses"
I observed that containers in a pod without an infra container have different IP addresses and hostname. Shouldnt containers in a single pod have the same IP and share namespaces among them, regardless of infra container not being present?

[2019-11-18 22:37] haircommander commented on #4531
containers without infra can't currently share namespaces. It was originally planned to implement it, but it fell to the wayside

[2019-11-18 22:39] haircommander commented on #4531
a lot of the pod infrastructure relies on the infra container, for better or worse.

[2019-11-18 22:44] larsks commented on #4530
Well, sort of. They don't support name resolution on the default bridge network because they are preserving legacy behavior (such as the support for `--link`, which is otherwise much less useful than DNS).

I don't see any reason to follow that model. I would say that `--network-alias` should work for any network on which the `dnsname` plugin is enabled, which may include the default network on `c

[2019-11-18 22:51] AloisMahdal opened #4532 "`--tty` merges stdin and stderr"
/kind bug

**Description**

Using `--tty` merges stdout and stderr of the command or `ENTRYPOINT`.

**Steps to reproduce the issue:**

 1. Build this `Dockerfile`:

        FROM fedora:30
        RUN { \
                echo "#!/bin/bash"; \
                echo "echo i am output; echo i am error >&2"; \
            }> /bin/test_oe
        RUN chmod +x /bin/test_oe
        ENTRYPOINT ["/bin/test_o

[2019-11-18 23:50] alitvak69 commented on #4213
@lsm5 it looks like build of bionic failed with
`make[1]: Entering directory '/<<PKGBUILDDIR>>'
/usr/lib/go-1.13/bin/go generate ./cmd/podman/varlink/...
make[1]: /usr/lib/go-1.13/bin/go: Command not found
make[1]: *** [debian/rules:35: override_dh_auto_build] Error 127
make[1]: Leaving directory '/<<PKGBUILDDIR>>'
make: *** [debian/rules:24: build] Error 2
dpkg-buildpackage: error: debian/rules b

[2019-11-18 23:52] lsm5 commented on #4213
some upcoming change in setup: https://github.com/containers/libpod/issues/1742#issuecomment-555061785 . So please wait a little longer, apologies about the lag.

[2019-11-19 00:17] mheon commented on #4531
I believe they can share namespaces, but it is not at all enforced, and
works like any other container doing --net=container - you have to manually
share individual namespaces. Pods in libpod are a very loose collection of
containers, and without an infra container to keep them together they don't
share much at all.

On Mon, Nov 18, 2019, 17:39 Peter Hunt <notifications@github.com> wrote:

[2019-11-19 01:22] benyaminl commented on #4251
Uhm the problem is, on docker it keep trying and it succed, but on podman it tried and fail whole time if the image is big, especially on poor connection.

[2019-11-19 02:33] netroby opened #4533 "please add debian 10 buster deb package prebuilt"
please add debian 10 buster deb package prebuilt.
 want to install via deb package.

[2019-11-19 08:47] vrothberg commented on #4533
The Debian packaging is tracked in https://github.com/containers/libpod/issues/1742. Contributions and help are always welcome.

[2019-11-19 08:47] #4533 closed

[2019-11-19 10:19] giuseppe commented on #4532
unfortunately there is no way to understand whether the output on the tty is generated through stdout or stderr on the other end.

As you said, if you need to filter stdout/stderr then you need to drop `--tty`.

[2019-11-19 10:19] #4532 closed

[2019-11-19 10:25] johanbrandhorst commented on #4107
This is still a problem. Could we reopen this please?

[2019-11-19 10:56] vrothberg commented on #3982
@nalind @giuseppe, do you know of known issues with large VFS stores? It looks corrupted here but it's hard to judge without a reproducer.

[2019-11-19 11:00] Michael-Jurek opened #4534 "Podman cannot create (inspect) volume"
/kind bug

When creating volume with podman: **podman volume create vmaas_vmaas-db-data**,
errors appear.

**Steps to reproduce the issue:**

1.  Run **podman volume create vmaas_vmaas-db-data**
[code]

2. Delete file **/_data**

3. Run **podman volume create vmaas_vmaas-db-data**
[code]

When creating volume with podman, it should use (delete and create) existing volume and not pop error, that fi

[2019-11-19 11:13] vrothberg commented on #4123
@QiWang19, do you have cycles to look into it?

[2019-11-19 11:50] rhatdan commented on #4123
@sdouche do you have a specific credhelper you are looking for?

[2019-11-19 12:11] mheon commented on #4534
That error indicates that a volume with the same name already exists. The
message is improved in the 1.6.3 release.

On Tue, Nov 19, 2019, 06:00 Michael-Jurek <notifications@github.com> wrote:

[2019-11-19 12:57] rhatdan commented on #4251
@mtrmac Would adding a --retry flag or something to podman make sense?  Or since we can not distinquish we can just fail.

On Docker, how does it work if their are multiple registries?

[2019-11-19 13:17] #4534 closed

[2019-11-19 15:34] QiWang19 opened #4535 "podman should check for newer versions of images when starting a new container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1. podman pull $image

2. podman run $opts $image

3.

**Describe the results you received:**
podman will always use the locally available image without checking if there is a newer version

**Describe the results you expected:**

podman should (optional

[2019-11-19 16:00] Michael-Jurek commented on #4534
Well, If I delete existing volume and create a new one with **podman volume create vmaas_vmaas-db-data** I got following error:
[code]
It looks like a SELINUX issue.

[2019-11-19 18:34] QiWang19 commented on #4123
yes, I want to look into this

[2019-11-19 19:12] mtrmac commented on #4251
Well, we _are_ just failing.

---

*Actually* , looking at the error message more closely,

These are both localhost addresses. So, it’s not just that the _network_ is so bad, it’s that (presumably) the network has already brought down the localhost DNS server to the point of complete inoperability. How does _anything_ work in such an environment? `curl`? `wget`? A web browser? How is Podman suppo

[2019-11-19 19:48] cryobry commented on #2240
Is this issue I'm having related to this? I am trying to create a container with the same name that is already removed and failing:

[code]

How can I fix this?

[2019-11-19 19:49] mheon commented on #2240
Try `podman rm --force --storage 18f2f24865aa7ba60d5eafd4eef55a49c987ee487b7890f6aa2c5849432a8fa4` and see if that works.

[2019-11-19 19:53] cryobry commented on #2240
That got me past that point but now it looks like it resulted in some sort of permissions problem:

`Error: creating file '/home/bryan/.local/share/containers/storage/overlay/87b107153a17c9044c38656eed59f8273f85c01fad9051f599f798d6005ae057/merged/run/secrets': Permission denied: OCI runtime permission denied error`

[2019-11-19 20:06] cryobry commented on #2240
Looks like it may be related to this: https://discussion.fedoraproject.org/t/toolbox-broken-again-crun-update-in-31-20191112-0/11369/19

Two bugs in one day, yay! I'm not really sure what I'm supposed to do here. I can reboot to clear the OCI error until I create a container of the same name as one that has already been deleted. When I workaround that with `rm --force --storage`, it triggers anoth

[2019-11-19 20:29] zonofthor opened #4536 "podman-compose error "pod already exists" after cold reboot"
/kind bug

**Description**
Had been using podman-compose successfully for 1month when laptop froze and I had to cold reboot. After that no success initiating.

Exactly same configuration on desktop computer has no problems.

Have tried:
- full reinstall of podman & podman-compose
- `rm -Rf ~/.local/share/container`
- `podman rm -avf` (needed manual input b/c there was a "infra container". After th

[2019-11-19 20:33] mheon commented on #2240
This seems like it could be a crun issue - @giuseppe

Regardless, this one is (probably) not Podman.

[2019-11-19 20:36] baude commented on #4536
isnt this a podman-compose issue which is not part of this repo?

[2019-11-19 20:39] zonofthor commented on #4536
I honestly don't know... the errors come from the script yes but I'm guessing there's some locked entity in cache which libpod cannot modify.

[2019-11-19 20:45] zonofthor commented on #4536
Also notice

[code]

[code]

[2019-11-19 21:59] Michael-Jurek commented on #4536
This is a **podman-compose** issue. I had the same problem. I fixed it with a newer version of podman-compose from devel branch of upstream project.
[code]

[2019-11-19 22:06] amshinde commented on #4531
Ok, so sounds like this is mainly due to lack of cycles and not an inherent limitation.
Containers in a pod are supposed to share network, ipc and uts namespaces all of which could be persisted without relying on any container being present.

[2019-11-19 22:35] mheon commented on #4531
"Supposed to" is a little strong... the original intent of a Pod in libpod was a loose group of containers that might or might not share containers. We've slowly drifted away from this, but I like keeping the convention that we don't force people to use an infra container and shared namespaces.

[2019-11-19 22:45] waffshappen opened #4537 "Rootless: slirp4netns slow initial input to container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a rootless container and testing network throughput with iperf3 reveals that while the container can handle outputting perfectly fine trying to load its input gets stuck for ~5s. See attached images.

Preparation:
![preparation](https://user-images.githubusercontent.com/44290023/69192

[2019-11-19 23:31] hholst80 commented on #4014
No, not running as privileged.

[2019-11-19 23:50] cryobry commented on #4481
I am getting OCI errors during a `podman run` new container on F31:
[code]

I opened https://github.com/containers/crun/issues/187 in crun.

[2019-11-20 02:45] Dulani commented on #3323
Interesting.  Well, I'm VERY surprised at the poor performance.  I've had 5+ minute waits on other commands too (not just a pull).  If that's expected, I'll just accept it as normal.  If it is not normal, I'd be happy to try to gather any relevant information you might need to troubleshoot the problem.

[2019-11-20 08:04] giuseppe commented on #4537
I think it depends on the MTU value we set for slirp4netns.

If I try without the `--mtu`, I get:

[code]

which doesn't show the initial slowness, but then slirp4netns performs significantly worse

@AkihiroSuda FYI

[2019-11-20 08:05] giuseppe commented on #4537
if you'd like to reproduce these results, you can build a custom version of Podman where you skip the `cmdArgs = append(cmdArgs, "--mtu", "65520")` in `libpod/networking_linux.go`

[2019-11-20 09:02] stephanmol commented on #4024
Thank you! toolbox works again!

[2019-11-20 11:49] vrothberg commented on #4014
@hholst80 can you try running the container (in which you're running Podman) as privileged?

[2019-11-20 11:59] waffshappen commented on #4537
Would there be a way to balance this for all users instead? Having it basically choke on high load tcp for all users of podman doesnt sound like a good thing to have default. Especially for webservers in containers if they ever get hit by more than a few requests per second.

[2019-11-20 15:07] AkihiroSuda commented on #4537
rmem issue?
https://github.com/rootless-containers/slirp4netns/blob/master/slirp4netns.1.md#bugs

[2019-11-20 15:18] rhatdan commented on #4537
If that fixes the issue, we should add this to the troubleshooting page for podman.

[2019-11-20 15:31] sdouche commented on #4123
Hi @rhatdan. For now, to retrieve containers form AWS ECR:
[code]
Does that answer your question?

[2019-11-20 15:53] waffshappen commented on #4537
This actually improves the situation, a lot. However the weirdest bug in all of this:
If i connect __externally__ to the machine everything works as expected. Only local connections via 127.0.0.1 are affected. Doesnt help for haproxy > 127.0.0.1:port > container however.

Also while that says i could modify it inside the namespace my alpine example container sees it as read-only filesystem, even a

[2019-11-20 16:04] mtrmac commented on #3323
I’m not at all saying that long times are expected or acceptable; just that it’s not surprising that the commit step (after “storing signatures”) can take longer than the download.

10 minutes for a 300MB image does seem extremely excessive on modern hardware.

[2019-11-20 16:11] debarshiray commented on #4452
This is now fixed in Toolbox with https://github.com/containers/toolbox/pull/337

I am wondering if this should still be fixed in Podman itself, or is it so that `--network host --privileged` implies that `/sys/fs/selinux` would have a `selinuxfs` instance?

[2019-11-20 16:47] zonofthor commented on #4536
Can confirm that solves the error above!

Still some issues that weren't previously but I think config related.

[2019-11-20 17:17] rhatdan commented on #4481
What podman command are you executing?

[2019-11-20 17:19] zonofthor commented on #4536
Yes, definitely solved. THX!

[2019-11-20 17:19] #4536 closed

[2019-11-20 17:27] giuseppe commented on #4481
I think it is the same issue we are tracking in crun

[2019-11-20 17:28] cryobry commented on #4481
Yes, see https://github.com/containers/crun/issues/187

[2019-11-20 17:50] mheon commented on #4500
#4542 to fix

[2019-11-20 18:16] returntrip commented on #4481
@giuseppe so the issue I logged is related to https://github.com/containers/crun/issues/187?

if so, should we close one of the two?

[2019-11-21 02:10] mheon commented on #4285
I continue to see reports of issues with OCI images and Dockerhub

[2019-11-21 05:34] alitvak69 commented on #1742
So how would you switch to using OBS from existing ppa for ubuntu bionic?  I assume that is where current efforts are directing us.

[2019-11-21 06:37] siax commented on #4244
[root@VM_0_6_centos /]#  sudo podman top 39f09d2e106a
USER      PID   PPID   %CPU    ELAPSED               TTY     TIME   COMMAND
default   1     0      0.002   45h10m25.810760155s   pts/0   4s     httpd -D FOREGROUND
default   22    1      0.000   45h10m25.810845759s   pts/0   0s     /usr/bin/cat
default   23    1      0.000   45h10m25.810923912s   pts/0   0s     /usr/bin/cat
default   24    1

[2019-11-21 07:52] onlyjob commented on #1742
Whos efforts? I have submitted Podman for review and currently it is pending in NEW.
Once accepted, the official packages will become available from Debian mirrors and hopefully  nobody would need _vendor_ packages any more.
Using _vendor_ packages is usually a bad idea -  you know, [Don't break Debian](https://wiki.debian.org/DontBreakDebian).
As for Ubuntu, I recommend to use Debian instead.

[2019-11-21 08:47] pirminjanka opened #4543 "possibility to set a proxy directly in podman instead of set the system wide environment variable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

possibility to set a proxy directly in podman (e.g. podman config) instead of set the system wide environment variable (e.g. in /etc/profile)

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:*

[2019-11-21 08:50] alexcasutt commented on #4543
+1

[2019-11-21 10:03] lsm5 commented on #1742
AFAICT, the packages in the OBS repos will be ahead of the PPA, so you should just be able to add the OBS repo and apt update to the latest.

[2019-11-21 10:10] vrothberg commented on #1742
Great news, thanks for your hard work, @onlyjob!

[2019-11-21 14:02] tmds opened #4545 "podman push fails with error unmounting invalid argument"
/kind bug

**Description**

podman push fails with
* "error unmounting /var/lib/containers/storage/overlay/5b8acfe925e03f8a94a5e5350a5fd82312a2874a2031cc14f963b857096009c1/merged: invalid argument"
* ...
* Error: Error copying image to the remote destination: Error reading blob sha256:49f80dff343c4e335edd514183872788671fe3d00492380c190a09c9c1b46c72: error creating overlay mount to /var/lib/contain

[2019-11-21 14:07] alitvak69 commented on #1742
@onlyjob  Of course, the world needs to solve all its problems :-)
@lsm5 I am a bit confused here.  For Ubuntu xxx, will you maintain both ppa and OBS?  Also, forgive me my ignorance but in sources.list, does it look like
deb  https://download.opensuse.org/repositories/home:/rhcontainerbot:/ xUbuntu_18.04 stable
Or you need to do it some other way?  I prefer not to use snap if possible.

[2019-11-21 14:17] alitvak69 commented on #1742
Actually found this document here:

https://en.opensuse.org/openSUSE:Build_Service_Debian_builds

[2019-11-21 14:21] rhatdan commented on #4545
Do the other Podman commands work for you?  IE can you run a container?

[2019-11-21 15:18] tmds commented on #4545
Yes. The image is first built.
Then a test suite is ran successfully which involves running containers and building more images on top of the base.
The last step is pushing to quay.io which is when the error occurs.

[2019-11-21 15:52] rhatdan commented on #4545
@nalind @giuseppe Any ideas?

[2019-11-21 16:36] rhatdan commented on #4123
Yes, that is exactly what I was looking for.

[2019-11-21 16:46] rhatdan commented on #4452
The issue is if someone wanted to SELinux stuff from a process within a container, we need the process to know that SELinux is enabled.

[2019-11-21 18:07] tobwen opened #4546 "write-only volume"
/kind feature

**Description**
For privacy reasons, I'd love to have a write-only volume. It should be possible to write content from a container to a volume, but not read it back.

Of course, there's place for discussions: What should happen, if a file is already existing? Either overwrite or append it...

Maybe it should better get a feature of https://github.com/containers/fuse-overlayfs than _

[2019-11-21 18:40] sdouche commented on #4123
I forgot, feel free to ping me for testing :). Thanks for your work.

[2019-11-21 22:26] edsantiago opened #4547 "rawhide: podman run -> exit 127"
The last two podman rawhide builds have failed gating tests. Looks like a real issue:
[code]
podman-1.6.4-0.30.dev.git6392477.fc32.x86_64
conmon-2.0.3-0.1.dev.gitbc758d8.fc32.x86_64
crun-0.10.6-1.fc32.x86_64
runc-1.0.0-129.dev.git2186cfa.fc32.x86_64

The f3f219a build was good; c673ff8 was bad. c673ff8 is the only commit since a good build, and it's a test-only PR (unlikely to be causing this prob

[2019-11-21 22:52] edsantiago commented on #4547
Downgraded to `crun-0.10.5-2.fc32` and `conmon-2.0.2-0.1.dev.git422ce21.fc32`; no change. Cannot downgrade kernel (`5.4.0-0.rc0.git3.1.fc32.x86_64`) on this vm nor can I easily get a vm with a different kernel.

[2019-11-21 23:57] edsantiago commented on #4547
It's an AVC:
[code]
Downgrading from `container-selinux-2:2.120.1-0.2.dev.gita233788.fc32` to `2.120.1-0.1.dev.git6fb6dcf.fc32` resolves the problem. Filed https://github.com/containers/container-selinux/issues/83 - not filing rhbz because the last few container-selinux builds have all been RH Container Bot builds, so I would expect the bot to pick up a build if this gets fixed.

[2019-11-21 23:57] #4547 closed

[2019-11-22 00:11] #4211 closed

[2019-11-22 00:11] #3835 closed

[2019-11-22 00:29] mheon commented on #4304
Initial work here in #4548

[2019-11-22 02:01] daledude commented on #3837
Being able to set --network on pod create would be useful to us since we use macvlan. Currently Z
I have to create a container in the pod with my shared network and use that as options to other containers in the pod.

[2019-11-22 02:11] lsm5 commented on #4307
I'm enabling ubuntu 19.10 on OBS along with debian, see: https://github.com/containers/libpod/issues/1742#issuecomment-555061785

[2019-11-22 03:34] daledude commented on #2808
Being able to set the network on pos create would be very useful to us. Currently creating a container with the. network and then attaching each other containers network seems hacky. Adding network on pod create like -P seems more logical.

[2019-11-22 03:48] rhatdan commented on #4543
This is part of the containers/common containers.conf effort.

[2019-11-22 03:48] rhatdan commented on #4543
https://github.com/containers/common/pull/20

[2019-11-22 04:29] jasinner opened #4549 "Disable repository search"
/kind bug

**Description**
Container registry image squatting and inconsistent repository search order can lead to a user pulling an unintended image when using a short name. For example users going from Centos 7->8 will find that Quay is now ahead of Dockerhub, so while intending to pull an image using a shortname such as 'orga/myimage:mytag' will actually get the image from 'quay.io/orga/myimage

[2019-11-22 06:43] mheon commented on #4549
I can see allowing this as an option, but the use of shortnames is pervasive in the container ecosystem. Disabling them entirely would be a massive breaking change, and a massive incompatibility with other tools. We can't do that by default.

A potential alternative might be to hit all search registries in parallel looking for images, and report to the user if there is more than one potential matc

[2019-11-22 07:00] rhatdan commented on #4547
This is a labeling issue on your container storage.

[2019-11-22 07:35] stefanb2 opened #4550 ""--device" should not resolve symbolic links"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug  (well, could also be considered feature request, see below)

**Description**

Device numbering, e.g. for USB devices, is non-deterministic. Take f.ex. the use case of having two USB-to-serial devices connected via a hub to the host: it is not determined which of them will be `/dev/ttyUSB0` after disconnecting

[2019-11-22 08:14] giuseppe commented on #4550
for the OCI runtime it should not matter as anyway the symlink is resolved at mount time.

I think we should store the original path provided to `--device` instead of resolving it, so that when we restart the container we'll resolve it again.

Would you like to open a PR for doing it?

[2019-11-22 08:35] rhatdan commented on #4257
Can we build a podman specific for WSL2?

[2019-11-22 08:35] adrianreber opened #4551 "Provide way to set up Podman for rootless with NFS home directories"
In my article https://podman.io/blogs/2019/10/28/podman-with-nfs.html I described what is necessary to setup rootless Podman for users on NFS:

[code]

With newer versions of Podman this is even more work as I have to set driver to "vfs" and actually remove the line `mountopt` (or `mount_program`) from storage.conf or else Podman will not work at all. I also have to change `runroot` in certain HPC

[2019-11-22 08:35] rhatdan commented on #4039
This is being worked on.

[2019-11-22 08:47] rhatdan commented on #4549
Yes I agree with Matt. Not much we can do.
If people do not want short names then you can increase the security by removing all registries from registries.conf.

We can reorder the registries from most trusted to least in each distros registries.conf

IE On RHEL start with the RHEL registry and end with Docker.io and quay.io.

[2019-11-22 08:49] rhatdan commented on #4240
I have begun work on this one

[2019-11-22 09:00] stefanb2 commented on #4550
I can probably look into the source code over the weekend.

[2019-11-22 09:02] giuseppe commented on #4545
@tmds how easily can you reproduce this issue?

Can you please show the output for `cat /proc/self/mountinfo` and the `/tmp/podman-log` file you got with `sudo strace -o /tmp/podman-log -f -Z podman push quay.io/fedora-dotnet/dotnet:3.1` (assuming the last command fails as above)?

[2019-11-22 09:04] adrianreber commented on #3587
Not sure if the following is also part of this issue. When I have been running Podman in an HPC like use case like described in https://podman.io/blogs/2019/09/26/podman-in-hpc.html it would be good to also have the possibility to control things like which namespace Podman should use as default. For my Open MPI based examples I always have to specifiy `--userns=keep-id --net=host --pid=host --ipc=

[2019-11-22 10:23] giuseppe commented on #4551
using NFS for the storage can't really work at the moment, since NFS is not user namespace aware.  It could in theory used as an additional ro store, but still there is need to provide correct files ownership before it can be used with rootless

[2019-11-22 11:01] tmds commented on #4545
@giuseppe I've send some info via mail.

I'll look into providing these trace files next week.

[2019-11-22 13:22] giuseppe commented on #4545
@tmds thanks for the info!  That was really helpful.

I was able to reproduce it once I've started using the kernel version you specified above.

The latest kernel available on Fedora 30 seems to work fine.

Duplicate of: https://github.com/containers/libpod/issues/3540

[2019-11-22 13:22] #4545 closed

[2019-11-22 13:30] adrianreber commented on #4551
I know and that is not what this is about. Sorry if I gave that impression. What I wanted to ask for here is a way to globally configure Podman for all users to not use the home directory, because it is NFS based. There should be a global configuration option which tells Podman, for all rootless users, to user a certain non NFS directory. Like `/tmp/containers` for example.

Currently to do this I

[2019-11-22 14:10] mtrmac commented on #4549
Aren’t some new product releases now published primarily on Quay.io?

[2019-11-22 14:19] vrothberg opened #4552 "flakes in libpod/test/e2e/prune_test.go:54"
In the recent past, I have seen the prune tests flaking often enough to justify tracking down the cause:

[code]

[2019-11-22 14:26] mtrmac commented on #4549
My personal opinion is that if you know which registry the image should come from (which should, really, be always the case), just always ask for that registry explicitly. (Admittedly it’s very easy to unintentionally slip up.)

Having “Short names don’t resolve at all” would be consistent with that approach, but, as @mheon says, rather disruptive and not a plausible default at this time. (To be f

[2019-11-22 14:28] praveenkumar opened #4553 "[RFE] Show mirror registry as part of podman info command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently `podman info` doesn't show the mirror info if that exist in the `/etc/containers/registry.conf` file the same way it show for insecure registry.

**Steps to reproduce the issue:**

1. Have the registry conf like following.
[code]

**Describe the results you received:**
[code]

*

[2019-11-22 14:49] giuseppe commented on #4551
ah sorry for the misunderstanding.  It is not yet possible, but after the vork @vrothberg did to unify the config files, we could probably think of a way to set a template where the storage is created and set it once somewhere in `/etc/containers/`.

[2019-11-22 15:23] mheon commented on #4550
The core issue is that we're not storing devices in the DB, but in the OCI spec, which only contains the major and minor numbers for each (plus the destination path). We don't know where the original source of the device was. To fix, we'd need to add devices to the database and add them to the container as part of final spec generation, but I'm not sure if I like that approach - shifts a lot of bu

[2019-11-22 16:53] debarshiray commented on #4240
Removing `~/.local/share/containers` either needs `sudo` on the host, or you need to enter the user namespace, because it has files owned by UIDs that aren't your UID on the host.

Not requiring the `sudo` access, or having to do the namespace dance manually, is one of the advantages of having a `reset` command. Remember, when things are really broken, you can't even rely on `podman unshare` to wo

[2019-11-22 16:53] debarshiray commented on #4240
Yay, thanks @rhatdan

[2019-11-22 19:50] rhatdan commented on #4301
Looks like this one is fixed.

[2019-11-22 19:50] #4301 closed

[2019-11-22 20:09] #3111 closed

[2019-11-22 20:13] haircommander opened #4555 "podman play kube seccomp annotations don't function like k8s"
follow up issue to track

k8s yaml format parses a profile path like
localhost/<path> with a global value <seccomp_root> filled, whereas now this PR does localhost:<seccomp_root>/<path>

We can either hardcode the configuration path, add a flag to play kube to customize the path, or add a config value. I don't think it matters very much which we do, but I can imagine future users needing some sort

[2019-11-22 20:19] rhatdan commented on #4553
@praveenkumar Care to try a PR?

[2019-11-22 20:25] rhatdan commented on #4551
Yes this is the containers.conf stuff that is being worked on.

One thing we would need there is a mechanism to specify the homedir for rootless users

graphroot=$HOME/.local/share/containers/storage
And change it to
graphroot=/var/tmp/$USER/containers/storage

And have to tools smart enough to substiture $HOME or $USER when setting up the storage.

[2019-11-22 20:35] rhatdan commented on #4550
BTW, their might be a lot of changes coming the --device option way.
After discussions with nvidia and intel on their specialized GPUS for containers, they are looking to add a command like

podman device create foobar

and then

podman run --device foobar

Where foobar gets translated into an actual device, after some code is run to configure the devices.

[2019-11-22 20:51] rhatdan commented on #4555
@baude @mheon WDYT?

[2019-11-22 20:56] #4410 closed

[2019-11-22 20:56] #4411 closed

[2019-11-22 20:56] #4452 closed

[2019-11-22 21:48] cjao opened #4556 "podman attach/exec do not respect "detach_keys" configuration while podman run does"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to work around bug #4208 temporarily by setting "detach_keys" in .config/containers/libpod.conf to another sequence like "ctrl-q,ctrl-q" (ctrl-q being less of a problem in emacs or bash). This indeed works for interactive containers created by `podman run -ti`. However, when I ente

[2019-11-22 23:22] mheon commented on #4550
If we do that, can we please not overload the existing syntax? Adding a new flag is easy and doesn't make parsing overly complicated.

[2019-11-23 04:36] digitalcircuit opened #4559 "[rootless] 'podman pod' port publish intermittently fails on Ubuntu 18.04, works on Fedora 31 (with test case)"
## In short
* Publishing a port via a rootless Podman pod intermittently fails
  * Fedora 31, VirtualBox: `1.6.2` works reliably, no failure in 10 consecutive tries
  * Ubuntu 18.04, VirtualBox: `1.6.2` works intermittently (usually)
  * Ubuntu 18.04, [Hetzner VPS](https://www.hetzner.com/cloud ): `1.6.2` works intermittently (rarely)
* Seemingly no error messages on failure
* Semi-automatic test

[2019-11-23 05:43] bgeesaman commented on #4549
As it stands today, there is very practical attack on the RH/Libpod ecosystem in terms of squatting on DockerHub in front of Quay orgs and more readily, squatting on identically named Quay orgs for hundreds/thousands of companies only living in DockerHub.  Orgs that belong to many companies serving up their product images in only DockerHub are largely unaware of the risk RH ecosystem users have if

[2019-11-23 07:19] defyjoy commented on #3932
I am on fedora 31 and I can confirm that podman ps has permission issues . I am new to this podman stuff but it worked pretty effortless without any issues on fedora 30 . I took the pain to install fedora 31 and come to know only that there are already issues open on rootless podman .

I was hoping to get crio and kubernetes getting to work along with podman but the tutorial on that also are virtu

[2019-11-23 11:52] ankon commented on #3932
When updating to Fedora 31, did you check your `libpod.conf`? For me it helped to move it away, and then run podman again to recreate it.

Also check out https://podman.io/blogs/2019/10/29/podman-crun-f31.html if you haven't yet.

[2019-11-23 12:07] rhatdan commented on #4318
https://github.com/containers/libpod/pull/4557 documents the defaults.

[2019-11-23 12:08] #4318 closed

[2019-11-23 12:23] rhatdan commented on #4550
Except you have a different CLI then how you handle volumes, networks.  The hope is that nvidia and/or Intel work on this, since they are the experts.

[2019-11-23 12:25] rhatdan commented on #4311
This is something we want, although no one is working on it at this time.

[2019-11-23 12:26] rhatdan commented on #4226
@lsm5 @jnovy Could you guys obsolete oci-systemd-hook?

[2019-11-23 12:28] rhatdan commented on #4226
oci-systemd-hook no longer exists in Fedora 31/32

[2019-11-23 12:31] rhatdan commented on #4226
Added obsolet oci-systemd-hook

[2019-11-23 12:31] #4226 closed

[2019-11-23 12:34] rhatdan commented on #4559
@AkihiroSuda Any ideas?

[2019-11-23 12:44] AkihiroSuda commented on #4559
Is this specific to pods?

[2019-11-23 15:55] towe75 opened #4560 "Can i redirect a detached containers stdout and stderr?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'd like to redirect a detached containers stdout/stderr to a file/socket.

**Additional information you deem important (e.g. issue happens only occasionally):**

This is a issue i found while working on [nomad-driver-podman](https://github.com/pascomnet/nomad-driver-podman/issues/4).

No

[2019-11-23 15:57] TomSweeneyRedHat commented on #3932
@defyjoy as @ankon said, it's most likely your libpod.conf.   From you user's account, first make a copy of .config/containers/libpod.conf to libpod.conf_orig or something memorable.  Then remove the the libpod.conf file and run `ps info`.  That will generate a libpod.conf file.  That should get you up and running.  Then if you want to, you can edit the new libpod.conf file with any changes that y

[2019-11-23 20:00] digitalcircuit commented on #4559
Thank you for taking a look!  Despite many fruitless hours of experimenting, I hadn't considered trying rewriting to not make use of inter-pod networking, whoops.

As soon as possible, I'll edit the test script to not create a pod and see what happens.  In hindsight, I should have also tested the Ubuntu 19.10 server image (with and/or without pod) just in case it's fixed there.

(With my current u

[2019-11-24 00:09] #4289 closed

[2019-11-24 04:41] defyjoy commented on #3932
I tried the above solution however it is giving me the error as below -

[code]

[2019-11-24 04:53] mheon commented on #3932
I'd try `setenforce 0` to see if it's an SELinux issue. If that resolves it, posting the AVC would help us get it resolved. If not, it's probably an ownership/permissions issue with a subdirectory of the static files path listed there.

A separate issue is probably warranted if you want more assistance, though - we've strayed pretty far from the original topic here.

[2019-11-24 06:40] digitalcircuit commented on #4559
@AkihiroSuda This does *not* appear to be specific to pods.

I have modified the test script to provide a mode using ungrouped containers (*`PODMAN_USE_POD_GROUP` set to `true` or `false`, meaning no pod specified, needed ports individually published*), and even while still manually running commands to test, the first port bind (*MySQL to 3306*) worked, and the second one (*memcached to 11211*) fa

[2019-11-24 12:32] rhatdan commented on #4320
I think we could still do this fairly easily and I don't see any issues with doing it.  So I will leave this open.

[2019-11-24 20:08] baude commented on #4257
sure but i dont think it is worth it.  to use wsl2, you "install" a linux distro and then use apt or whatever to install podman.  it would mean the distro would have to build and distribute it

[2019-11-25 07:37] DaanDeMeyer commented on #3024
Having the same problem on Ubuntu 16.04.

Logs:

[code]

Podman info:

[code]

Command to create the container:

`podman create --name=dcn --cap-add=CAP_SYS_ADMIN dcn /lib/systemd/systemd`

[2019-11-25 08:16] DaanDeMeyer commented on #4522
Any estimate on when this fix will be released? Not being able to start containers a second time after stopping them is kind of hard to work around.

[2019-11-25 09:30] JJ commented on #3423
I'm experiencing the same problem with `buildah`. Here's the debug output:

[code]

`newuidmap` and `newgdmap` are freshly installed. Still, unable to build anything.

[2019-11-25 09:37] adelton commented on #4182
I now see this issue on Fedora 31 and the XDG_RUNTIME_DIR does not seem to help: https://bugzilla.redhat.com/show_bug.cgi?id=1776187.

[2019-11-25 10:10] vrothberg commented on #4555
I think we should be as close to K8s behavior as possible.

[2019-11-25 10:21] vrothberg commented on #4522
@mheon will know when the next release happens.

[2019-11-25 10:29] vrothberg commented on #4277
@jwhonce @baude PTAL

[2019-11-25 10:32] vrothberg commented on #4325
@chenjianxin, are you still seeing the issue?

[2019-11-25 10:53] faulesocke commented on #4473
crun behaves exactly the same way. I am still searching for a way to attach a rootless container to a network namespace I previously created as root.

[2019-11-25 12:46] rhatdan commented on #4324
@ibotty @giuseppe is this something we should go forward with?

[2019-11-25 13:25] rhatdan commented on #3423
What happens when you execute
buildah unshare

[2019-11-25 13:34] rhatdan commented on #4522
We should have podman 1.6.3 released ASAP or something newer. 1.6.3 is already set up to be used on RHEL8.2, I believe.

[2019-11-25 14:09] mheon commented on #4552
@vrothberg Do you think these were solved by the patch you landed? I can't recall seeing them recently

[2019-11-25 14:12] vrothberg commented on #4552
Yes, they are fixed now. Thanks for the ping!

[2019-11-25 14:12] #4552 closed

[2019-11-25 14:33] mheon commented on #4522
I'll try and get a 1.6.4 out this week for 8.2 and Fedora. We need a few more patches that haven't been written yet for CGroups v2.

[2019-11-25 14:41] mheon commented on #4473
`--netns=path:$PATH` doesn't work?

[2019-11-25 14:52] giuseppe commented on #4473
if the network namespace was created by root in the initial user namespace, then a rootless container cannot join it.

[2019-11-25 14:57] giuseppe commented on #4324
I'd just expect the users to provide the correct mappings.  There are so many ways to tweak these intervals, that I don't think we should try to fit into `--subuidname`

[2019-11-25 15:27] rhatdan commented on #4473
@giuseppe Does the network namespace have to be created within the user namespace or just be owned by the root of the user namespace?

[2019-11-25 15:29] rhatdan commented on #4324
Ok so maybe this is a documentation issue, explaining how to do this?  Perhaps a blog?

[2019-11-25 15:29] #4324 closed

[2019-11-25 16:10] faulesocke commented on #4473
@giuseppe and would it be possible to create the user and network namespaces as root and then tell podman to use these?

[2019-11-25 17:37] nicholasbishop commented on #4510
I think https://github.com/containers/libpod/pull/4557 fixes this

[2019-11-25 18:18] baude commented on #4549
Container runtimes like `podman` are designed to be used with shortnames for container images because they are interactive with users unlike runtimes that depend on YAML and the like for input.  Our users expect short names to work.  As @rhatdan has said, if this behavior is not desirable for users, they can remove all registries list in the registries.conf and use fully qualified image names.

Fo

[2019-11-26 00:20] yangm97 opened #4564 "Unable to restart containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've been having some issues with podman in the last couple of days and I believe I have narrowed down the root cause to be unclean shutdowns (i.e. pulling the plug out of the wallet).

It appears that state goes very wack, rm won't fully remove containers nor unmount its layers, which leads

[2019-11-26 03:45] mtrmac commented on #4549
That would be a bit easier to accept if CRI-O didn’t have the same search code semantics (although OpenShift can’t actually usefully use that with credentials!), and didn’t read the same `registries.conf` configuration, and if OpenShift didn’t populate it.

Sure, one way to read this is a re-confirmation that the expectation is so pervasive – another way to read this is that the _vulnerability_ is

[2019-11-26 07:04] duritong opened #4565 "no matching entries in passwd file - podman generate kube"
/kind bug

Trying to generate a pod definition for a manually generated pod:

[code]

Further debug info:

[code]

[2019-11-26 08:15] vrothberg commented on #4564
Hi @yangm97, thanks for reaching out and taking the time to open the issue!

Do all containers fail to start or only the ones started via systemd?

[2019-11-26 10:57] rhatdan commented on #4549
That again is an OpenShift decision.  I am not sure why OpenShift populates the file. Is this an active decision or just that by default containers-common comes with a populated file.  I believe the by default Kubernetes uses long name images, and the short names are only used by crictl.  crictl is mainly a debugging tool.

@mrunalp @umohnani8 @haircommander is this a correct assumption?

[2019-11-26 11:04] rhatdan commented on #4565
Any chance you can attempt this against master branch.  I remember someone (Perhaps me) fixing an issue similar to this one.

[2019-11-26 11:05] Richard87 commented on #4490
I'm trying to use the official PHP Apache image at Docker Hub, but they do this:
https://github.com/docker-library/php/blob/42c9bfecb0f7f59efebd10bd7345dbedfcdcdb6e/7.4-rc/buster/apache/Dockerfile#L85-L88:
[code]

And that fails when USER is not root...

*Should it work?*

[2019-11-26 11:50] giuseppe commented on #4473
it must be owned by the root of the user namespace, as long as you are in an user namespace which is parent or the same as the owner of the network namespace.

So if you have something like:

[code]

where both user namespaces are created by the same rootless user.

You cannot join network namespace D if you are in the user namespace C.

You can join it either if you are in A or in B.

if root own

[2019-11-26 12:24] duritong commented on #4565
I haven't yet been able to build master on EL7, any way there can be a copr for that?

[2019-11-26 12:44] yangm97 commented on #4564
All my containers are started by systemd, but when I hit this issue, manually starting also doesn't work. Speaking of manual starts, I forgot to capture the output but when I had issues running containers with mounts, the debug output would hang around "mounted" something (and this something appeared to be the image, not any of the declared volume mounts).

I've been having issues over a couple of

[2019-11-26 12:58] rhatdan commented on #4565
@baude ?

[2019-11-26 13:03] saschagrunert opened #4566 "[Discussion] Names history support for images"
Since https://github.com/containers/storage/pull/422 is merged I'd like to discuss how we would like to add this feature to libpod. Basically, we now have the information at hand which names an image had in the past (due to retag or untag), which allows two new use cases:

- [ ] Provide more information than the name `<none>` if a image got untagged
- [ ] Undo an image tag operation

Do we want to

[2019-11-26 13:05] bgeesaman commented on #4549
The behavior of having two “free” registries in the search order by default means there is a very simple attack vector that many/most folks in the RH ecosystem are exposed to until they purposefully configure it not to be the case.  That, historically, doesn’t bode well.

IMO, it’s not so much about image trust so much as it is protecting customer trust in their brand.  Its a quick, cheap, and pra

[2019-11-26 13:17] vrothberg commented on #4566
Sounds good to me, but I would make it conditional via a CLI flag (--previous-names or --history etc.). Currently, the podman-images output is small enough to fit into a standard terminal size. Printing previous names by default, however, can lead to situations where a single image can render the output unreadable.

I would not change existing semantics/behavior.

[2019-11-26 13:17] amitkrout commented on #4364
FYI... In case you are using ```macOS Catalina```
https://developer.apple.com/news/?id=09032019a

[2019-11-26 14:28] mheon commented on #4566
Agree with Valentin here

[2019-11-26 14:40] NeroBurner opened #4567 "[podman] concurrent podman run --rm removes same container under fedora 31"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
when running `podman run --rm` concurrently sometimes there is an error message about a missing container. I suspect two container runs get the same id and are double deleted

**Steps to reproduce the issue:**

1. create a script to start concurrent podman runs
[code]

2. start podman concurre

[2019-11-26 14:47] rhatdan commented on #4566
--no-trunc could be modified to handle this.

[2019-11-26 14:52] vrothberg commented on #4566
That would imply that we display a `PREVOUS NAMES` column by default which I wouldn't like to do for the aforementioned reasons - it would still clutter the current output.

[2019-11-26 14:56] rhatdan commented on #4567
When you run a container we cleanup in a script being executed by conmon, `podman cleanup`.  Which could definitely cause this issue.
I thought that we had special cased the --rm to kill the container when not using the `-d` flag.
@mheon thoughts?

[2019-11-26 15:03] rhatdan commented on #4566
I was thinking of using REPOs or TAGS for this.
Something like
[code]

[2019-11-26 15:04] mheon commented on #4567
They're definitely not getting the same ID. This is almost certainly the cleanup process race.

For `podman run --rm`, we will attempt to remove the container in two ways when it exits: from the main Podman process (`podman run` that is attached to the container), and from the "cleanup process" (a separate Podman spawned when the container exits to handle cleanup). We need the extra cleanup proces

[2019-11-26 15:07] saschagrunert commented on #4566
I saw that there is some name preservation on image tagging: https://github.com/containers/libpod/blob/c2dfef544476dba671db3ef65b095da9ec18bbf1/libpod/image/image.go#L537-L544

that's also why the `Names` field is a slice :thinking:

...I'll spin up a PR in the next minutes, let's discuss the implementation details there. :+1:

[2019-11-26 15:08] vrothberg commented on #4566
Please wait before investing time. I like Dan's proposal but it would display wrong names as those are not valid references anymore.

[2019-11-26 15:12] vrothberg commented on #4566
It might also break existing users parsing the output.

[2019-11-26 15:18] saschagrunert commented on #4566
Too late, I already spent time on this. :green_heart:

That was my concern too.

[2019-11-26 15:31] mheon commented on #4473
And I imagine a simple `chown` won't work - it actually needs to be created by the user namespace?

[2019-11-26 15:33] bgeesaman commented on #4549
I feel it's necessary to support my strong stance with data-backed evidence.

A few weeks ago, I squatted the following orgs/images on DockerHub for ~90 minutes with a [benign image](https://github.com/bgeesaman/registry-search-order) before deleting all of them.  These image names and tags were mirrored from `registry.access.redhat.com`:

[code]

While I'm sure some percentage of those pulls were

[2019-11-26 16:41] alitvak69 commented on #1742
@lsm5 I wonder if the new packages from OBS get to Atomic Host PPA or the PPA becomes obsolete?  At this point I have both on my box, what are your plans there?

[2019-11-26 16:55] junaruga opened #4570 "`podman info` faills with "open /tmp/run-1000/libpod/pause.pid: no such file or directory" on Travis Ubuntu arm64/ppc64le/s390x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman info` and `podman version` shows a following error in Travis Ubuntu xenial native CPU architecture: `arm64`, `ppc64le` and `s390x` environments. This does not happen in the Travis Ubuntu `amd64` (x86_64) environment. This issue is related to https://github.com/containers/libpod/issues

[2019-11-26 17:41] giuseppe commented on #4570
I think this is a new one, it should never fail if the `pause.pid` file is missing.

[2019-11-26 18:18] tuan-hoang1 opened #4571 "DNS not working for F30/F31 images on F31 s390x host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Upgrading F30 to F31 on s390x host.

2. Remove all existing containers.

3. `# podman run --rm -ti registry.fedoraproject.org/fedora:31 bash`   (same for F30/UBI8 image)

Failed to run, tried `ip link add cni-podman0 type bridge` from https://github.com/c

[2019-11-26 18:30] yegle opened #4572 ""make uninstall" only removes manpages?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

It looks like the "make uninstall" only removes manpages, but not configs, binaries.

**Steps to reproduce the issue:**

1. make install
2. make uninstall

**Describe the results you received:**
`podman` binary is still in `/usr/local/bin/podman`

**Describe the results you expected:**
Binari

[2019-11-26 18:53] mheon commented on #4571
Suspect it's something like the firewall plugin.

Can you include `sudo iptables -nvL` and `sudo iptables -t nat -nvL`

[2019-11-26 18:56] #4500 closed

[2019-11-26 18:57] tuan-hoang1 commented on #4571
@mheon : iptables on the host I assume. I already copied above.
Output of iptables -nvL : https://tpaste.us/xk1v
Output of iptables -t nat -nvL : https://tpaste.us/yZN0

[2019-11-26 19:04] mheon commented on #4571
Hm. I see firewall plugin rules. And they're getting hit.

[2019-11-26 19:05] mheon commented on #4571
@mccv1r0 Poke - mind taking a look? Nothing jumps out to me as being out of place here.

[2019-11-26 19:43] #4346 closed

[2019-11-26 20:35] junaruga commented on #4570
Is there a temporary workflow to run `podman info` on the environments? Such as `mkdir -p /tmp/run-1000/libpod` before `podman info`?

[2019-11-26 21:26] edsantiago opened #4574 "rawhide/rootless: "cannot configure rootless cgroup""
Looks like the container-selinux bug is fixed; rootless gating tests are now [failing](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/7586/pipeline/#step-250-log-923) with:
[code]
podman-1.6.4-0.40.dev.git27a09f8.fc32.x86_64

[2019-11-26 21:57] SemaiCZE commented on #4454
I have the same issue with `mariadb:10.4`, running on physical Fedora 31, podman 1.6.2, root mode. Strange thing is that after some time, the connection becomes available. From the logs I got this (look at the times):
[code]

[2019-11-26 22:22] mheon commented on #4559
@giuseppe @AkihiroSuda Any ideas here? Does it look like we're looking at a Slirp issue, or something in Podman itself?

[2019-11-26 23:16] lsm5 commented on #1742
I plan to include all supported (including LTS) Ubuntu releases as well on OBS, so that *nobody* would need to use PPA once OBS is setup

Currently, I notice dependency issues on some basic packages (debhelper and such) which I'm working on with the OBS people.

There would also be the issue of getting a newer golang (probably from gophers PPA) for 16.04 and maybe 18.04 to get packages to build, a

[2019-11-26 23:19] yegle commented on #4478
I was looking for a `docker-compose up` replacement and found this FR.

In `docker-compose up`, Docker will only restart containers that are updated, without touching other containers. It looks like so far the discussion here is to recreate the pod (with every containers in it), which is very different from what `docker-compose up` is doing.

While I think it's important to replicate k8s behaviors

[2019-11-26 23:58] rhatdan commented on #4572
Please open a PR to fix it...

[2019-11-27 00:11] yangm97 commented on #4478
@yegle I think you got me wrong. I'm advocating for updating the pod to follow the k8s convention, when applying a spec of `kind: Pod`.
The only time a pod should be recreated when following the k8s convention is when you apply a `kind: Deployment`.

On a sidenote, if you're new to kubernetes I recommend "forgetting" the "docker/compose/swarm" way of doing stuff, for a moment, to ease your learnin

[2019-11-27 10:10] giuseppe commented on #4490
@Richard87 what runtime are you using?

If you are using crun, could you verify it is the latest version?

[2019-11-27 10:22] giuseppe commented on #4473
I don't think the user namespace ownership can be changed, I've tried to chown it and I get an `Operation not permitted` error

[2019-11-27 10:27] rhatdan commented on #4567
[code]
Looks like we shouldbe handling this.

[2019-11-27 10:29] giuseppe commented on #4570
can you please share the output for `env`?

[2019-11-27 10:36] rhatdan commented on #4566
I am fine with the --history flag and the way you are doing it now. After playing with the Buildah version, I like this.

[2019-11-27 11:01] DaanDeMeyer commented on #3696
I seem to be running into this issue. I get `unable to start container "dcn": cannot listen on the TCP port: listen tcp4 :39123: bind: address already in use` when starting a (root) container again after stopping it.

[2019-11-27 11:13] rhatdan commented on #4574
Rootless containers are supposed to be using systemd cgroup manager.

[2019-11-27 11:43] giuseppe commented on #4574
that error is coming from crun, and it should not happen with recent versions of crun.

What version are you using?

[2019-11-27 11:46] giuseppe commented on #4574
I was able to reproduce locally, looking at it..

[2019-11-27 11:49] giuseppe commented on #4574
it is a warning printed by crun, but not the error message.

The best would be to take the last line of the output, or check that the expected line is included in of the ouput, instead of a direct comparison

[2019-11-27 11:54] rhatdan commented on #4574
Is it being printed to stderr?

[2019-11-27 12:06] giuseppe commented on #4574
yes it is printed to stderr.

PR here: https://github.com/containers/libpod/pull/4576

[2019-11-27 12:09] giuseppe commented on #4574
I am not sure that covers all the cases.  But at least now the ouput is less confusing if we want to detect when the executable is not found.

I don't think we should put too much effort into using the cgroupfs manager on Rawhide.  We want rootless to use systemd so that cgroups can be properly delegated.  Can we change the tests to do it?

[2019-11-27 12:21] edsantiago commented on #4574
Can you suggest an exact recipe to do this? i.e.: should this be hardcoded into the command-line podman invocation for all commands? Should the pre-test setup create `$user/.config/containers/libpod.conf`? How exactly would you recommend that this take place?

[2019-11-27 12:27] lfarkas opened #4577 "rootless podman should have to use a non-root cert directory too"
/kind feature

podman pull/push/sign use the /etc/containers/certs.d (and also /etc/docker/certs.d) for looking up client cert for connecting to a given registry. but in rootless podman case it's not really good way that a user should have to copy certs into system directory (or always use --cert-dir command line option) .
it'd be very useful to treat cert as other settings and in rootless mode al

[2019-11-27 12:33] Richard87 commented on #4490
It seems I'm using `crun-0.10.6-1` (which is the latest release on github):

[code]

[2019-11-27 12:36] Richard87 commented on #4490
Quick test I assume should work?

[code]

[2019-11-27 12:38] Richard87 commented on #4490
It seems to work, I think there actually is a bug in my docker image that got visible after upgrading to podman...

[code]

[2019-11-27 12:38] #4490 closed

[2019-11-27 12:56] giuseppe commented on #4574
if you'd like we can work on this together.  I am not really familiar with your environment, but I am afraid the most difficult part is how we can create the user session.  Maybe setting lingering more first?

[2019-11-27 13:05] edsantiago commented on #4574
Linger is already enabled. This is the rawhide/rootless stanza that runs the tests:
[code]
I'm on build cop duty today, and completely overwhelmed, so I won't be able to work on this any more until Monday.

[2019-11-27 13:08] junaruga commented on #4570
HI Giuseppe, thank you for checking this issue.
Sure. Okay.

In case of `aarch64-fedora` case, here it is.
https://travis-ci.org/junaruga/ci-multi-arch-native-container-test/jobs/617709779#L330

[code]

And in case of `ppc64le` and `s390x`,

* `ppc64le-fedora`: https://travis-ci.org/junaruga/ci-multi-arch-native-container-test/jobs/617709781#L329
* `s390x-fedora`: https://travis-ci.org/junaruga/ci

[2019-11-27 13:13] rhatdan commented on #4577
SGTM, Would you be interested in opening a PR to implement this?

[2019-11-27 14:27] mheon commented on #4577
I kind of suspect the fix needs to live in containers/image. But I don't know if the rootless detection code is able to be imported there (I know it lives in containers/common now, but I'm not sure if we can use that in c/image, the start of our import chain).

[2019-11-27 14:31] #4566 closed

[2019-11-27 14:33] mheon commented on #4567
It's trying to catch `ErrNoSuchCtr` but it's printing an error including `no such container` which seems very suspicious...

[2019-11-27 14:33] mheon commented on #4567
Might need to also catch `ErrCtrRemoved`?

[2019-11-27 14:38] mheon commented on #3696
Can you get a `podman info` to see what version Conmon is?

[2019-11-27 14:39] DaanDeMeyer commented on #3696
[code]

I'm pretty sure my issue is caused by the conmon issue I just created (it's a side effect of the winsz bug).

[2019-11-27 15:09] mccv1r0 commented on #4571
@tuan-hoang1

Do we know if this Is this S390 specific?    I tried ```# podman run --rm -ti registry.fedoraproject.org/fedora:31 bash``` on an x86_64 VM and can ```curl```  the usual places.

I might not have all needed context.  re: "Inside the container" #4,  Why is ```echo nameserver 1.1.1.1 > /etc/resolv.conf ``` being done?  Is 1.1.1.1 a real nameserver?

[2019-11-27 15:20] athrunsun commented on #4482
This issue is also mentioned here: https://github.com/containers/podman-compose/issues/13#issuecomment-538183096, you might want to install devel version of podman-compose to resolve it for now.

[2019-11-27 15:28] lfarkas commented on #4577
imho those who knows the code can do it much faster them me:-)

[2019-11-27 15:40] ssbarnea opened #4580 "rhel-8 and centos-8 rpms are missing gpgme"
Apparently there are at several missing dependencies for building libpod rpms on RHEL8/CentOS8:

[code]

[2019-11-27 15:54] mheon commented on #4580
I think you just need to use the `btrfs_noversion` and `exclude_graphdriver_btrfs` tags to remove btrfs, which is entirely removed.

The rest are (AFAIK) distributed in other streams on RHEL, but are present somewhere.

[2019-11-27 15:54] mheon commented on #4580
(Except maybe go-md2man)

[2019-11-27 16:44] ssbarnea commented on #4580
@mheon Thanks for the hint, clearly helped a lot.. Now I am stuck at
[code]
What trick do I need to pass that one?

[2019-11-27 18:49] tuan-hoang1 commented on #4571
@mccv1r0 : Yes it works on x86_64. `1.1.1.1` is just like `8.8.8.8` being public dns server.

[2019-11-27 19:39] ssbarnea opened #4581 "make validate and make lint are too verbose"
Currently, `make validate` and `make lint` do output >900 lines of boilerplate output and often a failure is hidden among them, making quite hard to use, especially for a commands that should be run on any commit.

Ideally each of this command should not output more than ~10 lines of code and any error or warning should be easy to read by the user (colors maybe).

One make source of spam is git-va

[2019-11-27 19:51] sajones commented on #4565
@rhatdan I did some testing with a custom built version of a 1.6.3 el7 rpm and found that it failed with `--user root:root` and `--user 0:0` but it succeeded with `--user root` and `--user 0`.

[2019-11-27 20:04] niklas88 commented on #1808
Just wanted to add that this also breaks `podman build` for projects that rely on working sparse file support in the build phase such as https://github.com/ad-freiburg/QLever

We use sparse files inside our database index (for very large on-disk sorts) and it's of course used in the tests which execute during `docker build`. I think this issue should still be open as it does break `docker` compati

[2019-11-27 20:12] mheon commented on #1808
What Docker version are you running? Would be really interesting if they've resolved this, since this is an inherent Go limitation and both projects are using Go.

[2019-11-27 20:19] smekkley commented on #3917
Any update on this? It'd be even great if podman was runnable in --add-cap=ALL environment, because it's far better than --privileged or mouting docker.socket in case of docker. I'm happy to test if it's in some branch.

[2019-11-27 20:40] niklas88 commented on #1808
@mheon uhh, I think this might have been another issue. QLever builds fine with `podman` now on my up to date Arch Linux and we do in fact not use a large sparse file during build (just a small one).

[2019-11-27 20:49] mheon commented on #3917
I think we might work with `--cap-add=ALL` and `--security-opt seccomp=unconfined`? The issue is getting things working without either of those.

[2019-11-27 23:36] yangm97 commented on #4564
[code]

Seems like the unclean shutdown is not related to this issue.

[2019-11-28 00:22] nitrocode opened #4585 "unable to close conn"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot close connection to container once run interactively

**Steps to reproduce the issue:**

1. Run alpine container

        podman  run -it --rm docker.io/library/alpine /bin/sh

2. Then exit

        / # exit

This doesn't work and I have to hit Ctrl + C to exit.

**Describe the results

[2019-11-28 01:35] mtrmac commented on #4549
It’s an active configuration, set up in https://github.com/openshift/machine-config-operator/blob/master/templates/worker/01-worker-container-runtime/_base/files/container-registries.yaml .

Luckily, that one “only” allows Red Hat to squat on Docker Hub references. 🤔

Most of Kubernetes intentionally does not care about the structure of image names. If users specify a pod with a short name, that s

[2019-11-28 03:41] hurricanehrndz commented on #4349
Issue is still present.

[2019-11-28 09:18] BinaryKhaos opened #4586 "[rootless] slirp4netns w/ --disable-host-loopback: host initiated udp communication container <-> host impossible"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a UDP-based daemon in a rootless container, makes the daemon essentially useless to the host since communication is one-way (host -> container) because no UDP packets from the container will be delivered to the host due to "--disable-host-loopback" being set for slirp4netns. There is

[2019-11-28 09:42] mildred opened #4588 "Cannot run podman save on fedora 31 (after cgroupsv2 migration)"
/kind bug

**Description**

After upgrading to Fedora 31 with cgroupsv2, [toolbox](https://github.com/containers/toolbox/) is complaining that my containers are out of date because they have been built with a cgroupv1 system. They suggest to run `toolbox reset` which will wipe all my podman containers and images. before that, I'm trying to save the containers I had.

**Steps to reproduce the issue

[2019-11-28 10:25] vrothberg commented on #4564
@giuseppe any clue what could cause it? Debian 9 host.

[2019-11-28 11:08] rhatdan commented on #4577
@vrothberg PTAL

[2019-11-28 11:24] rhatdan commented on #4580
@mtrmac Ideas?

[2019-11-28 11:26] vrothberg commented on #4549
If it's really such a big deal, I am _very_ angry that we are having this discussion in public. There are proper channels both for this project and Red Hat to have a _private_ conversation _and_ discuss a solution or reaction. Please keep that in mind for future security issues, especially when being convinced it's a severe one and actively being exploited.

The repository https://github.com/bgees

[2019-11-28 11:27] rhatdan commented on #4580
Could you open a bugzilla on that gpgme to see what they suggest?

[2019-11-28 11:46] rhatdan commented on #4581
Would you be interested in opening a PR to quiet the output down.  Perhaps filtering out the "success" messages...

[2019-11-28 11:51] giuseppe commented on #4564
I think this issue is fixed by fa415f07a106c5be18d1d44e23da9c01af906474

[2019-11-28 11:52] giuseppe commented on #4564
also, the kernel doesn't look like a normal Debian one.  Where is it coming from?

[2019-11-28 12:17] rhatdan commented on #4585
This works fine on Fedora 31, I would figure this is a problem with the conmon package and podman package interaction.

@giuseppe @haircommander @mheon Thoughts?

[2019-11-28 12:49] lio24 commented on #4363
deploiement container  avec linux ou ubuntu colonial

[2019-11-28 12:54] bgeesaman commented on #4549
I disclosed to security@ on 10/27 in what I thought was a very detailed accounting of the risks, both theoretical and practical.

Now that the practical risks are actually understood, I’ll delete my comment.

[2019-11-28 12:58] AkihiroSuda commented on #4586
If you specify the host IP as `10.0.2.2`, it is expected not to work.

[2019-11-28 13:03] yangm97 commented on #4564
@giuseppe from the armbian team I suppose https://www.armbian.com

[2019-11-28 13:06] AkihiroSuda commented on #4586
I think Podman should ditch slirp4netns port forwarder and use RootlessKit port forwarder as in Rootless Docker.
Connections from RootlessKit port forwarder are treated as `127.0.0.1` in the container, and yet
[very fast](https://www.slideshare.net/AkihiroSuda/rootless-containers/25).

The RootlessKit port forwarder can be imported as a Go package: https://github.com/rootless-containers/rootlesski

[2019-11-28 13:55] giuseppe commented on #4564
@yangm97 can you manually delete the `/var/lib/containers/storage/overlay-containers/e3838d8774b6ed4bbd8be737342001d2fc152f7e6f39899668760e4c504f4a9a/userdata/winsz` file then try to restart again the container?

[2019-11-28 14:03] giuseppe commented on #4585
it seems like the latest conmon is installed but the version output seems incorrect (missing commit).  How was conmon installed?  It might just be an issue in the way we build the package

[2019-11-28 14:36] AkihiroSuda commented on #4586
I'll try to open PR.

[2019-11-28 15:14] yangm97 commented on #4564
I've downgraded conmon to 2.0.1 (by copying the binary from an outdated host) and it did fix the mkfifo issue, after cleaning up `/var/lib/containers/storage/overlay-containers`.

However it looks like the host having issues with the mounts was running conmon 2.0.1 already so it seems to be a different issue. I will try to get logs from this soon.

[2019-11-28 15:36] saschagrunert opened #4591 "Rootless runs execute storage.GetStore() twice (locking issue)"
The fact that we initialize the store twice in rootless execution mode presumably leads into locking issues with the containers/storage implementation.

For example this works fine in parallel:

[code]
[code]
Listing the running containers in parallel to a push works fine in root mode.

Now in rootless mode:
[code]
[code]

If we put a `debug.PrintStack()` here:
https://github.com/containers/libpod

[2019-11-28 18:06] marcov commented on #4556
This is a regression of https://github.com/containers/libpod/pull/4441

[2019-11-28 19:08] mheon commented on #4591
Is this pulling the image holding the storage locks for the duration of the pull? That's really not optimal if it's true.

The primary rootless use of the second runtime is here - https://github.com/containers/libpod/blob/master/cmd/podman/main_local.go#L162-L177

I don't see anything there that actually needs a store. We have the ability to make a libpod runtime without a store via `WithNoStore()

[2019-11-29 04:40] yegle opened #4595 "podman run --entrypoint handled differently compare to docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was able to have `--entrypoint="sh -c '...'"` with docker just fine, but it looks like podman assumes the `--entrypoint` is specifying a binary path in contrast to a full command.

**Steps to reproduce the issue:**

1. Run the following:

[code]

**Describe the results you received:**
[code

[2019-11-29 04:42] mheon commented on #4595
I believe we expect entrypoint, when passed on the command line, to be either a single path or a JSON-formatted array or arguments, so `["bin/sh", "-c", "..."]` should work.

[2019-11-29 04:52] yegle commented on #4595
An easy workaround would be:

[code]

[2019-11-29 08:53] BinaryKhaos commented on #4586
Thanks for your great effort and taking the time!

I tried your patch locally, and unfortunately for me, it does not change anything. The behavior is still the same -- except that slirp4netns is no longer used. But udp communication works only from host to container. conntrack also clearly shows an entry but never receives a reply. Is there anything I need to configure or change for this work?

[2019-11-29 09:24] AkihiroSuda commented on #4586
Thanks for testing, seems we need to specify local addr explicitly in this dialer?

https://github.com/rootless-containers/rootlesskit/blob/8cf0679be24c640267784f500c65ace2b44b0412/pkg/port/builtin/builtin.go#L462

[2019-11-29 09:37] AkihiroSuda commented on #4586
hmm, local addr is already set to 127.0.0.1 as expected, but UDP reply seems not forwarded

[2019-11-29 10:04] pdfrod commented on #4564
After a machine restart, I was also getting a `Error: unable to start container "foo": container create failed (no logs from conmon): EOF` when trying to restart a container.

Deleting the `winsz` file solved the issue for me.

[2019-11-29 10:35] adrianreber commented on #3774
Fixed with #4594

[2019-11-29 10:35] #3774 closed

[2019-11-29 10:59] giuseppe commented on #4564
ok thanks for confirming it.  So the fix is already merged for Podman, we need to get it into a release.

[2019-11-29 11:22] #4574 closed

[2019-11-29 12:03] rhatdan commented on #4556
@marcov Any interest in opening a PR to fix?

[2019-11-29 12:06] rhatdan commented on #4359
@TomSweeneyRedHat Could you work on this?

[2019-11-29 12:07] rhatdan commented on #4315
@baude @mheon Do we still have this issue?

[2019-11-29 12:08] rhatdan commented on #4254
@TomSweeneyRedHat @mtrmac Should this issue be closed?

[2019-11-29 12:09] rhatdan commented on #4208
@stove-panini Looks like this is fixed in upstream, although we have another issue.

[2019-11-29 12:09] #4208 closed

[2019-11-29 12:14] parmentelat opened #4600 "podman run --detach to hang when triggered form a django app"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am new to podman; I was running a docker-backed web service under fedora29, and like others I realize that the upgrade path with docker is unclear, so I am giving this a shot

When serving a http client request, that goes from nginx to django, that spawns a bash script which in turn invokes

[2019-11-29 13:50] #4591 closed

[2019-11-29 14:49] giuseppe commented on #4600
can you please show the output for `strings /proc/68753/env` (where 68753 is the PID for `crun start`).

I am afraid there is a `NOTIFY_SOCKET` environment variable being leaked that is enabling the systemd notify socket support

[2019-11-29 14:55] marcov commented on #4556
Sure, I'll follow up soon!

[2019-11-29 15:13] ssbarnea commented on #4511
@rhatdan sorry not right now. I am overloaded with other tasks, funny one of them being building the rpms for centos and rhel 8. Be sure that if I find the time I will propose somethign.

[2019-11-29 15:45] parmentelat commented on #4600
good catch:

root@thermals ~ (master *) # ps 94700
    PID TTY      STAT   TIME COMMAND
  94700 ?        S      0:18 /usr/bin/crun start 6d5acc12e08ef2dbc76e77e8d2c51ca6324854d803d2334d63d800714b47c344

root@thermals ~ (master *) # strings /proc/94700/environ
XDG_RUNTIME_DIR=/run/user/0
NOTIFY_SOCKET=/run/systemd/notify
_LIBCONTAINER_CLONED_BINARY=1

—
is it enough for me to add `—env NOTIFY_SOCKE

[2019-11-29 15:53] parmentelat commented on #4600
answering my own question:

is it enough for me to add `—env NOTIFY_SOCKET=` to the arguments to `podman run` ?

the answer is no, which of course makes sense
I might not need any assistance from podman to erase that env variable, I'll tweak my code and report if/how i manage to take care of that

[2019-11-29 15:58] parmentelat commented on #4600
I just had to add
[code]
in my bash script prior to triggering `podman run` and poof, that solved my issue !

thanks a million because at the time when I resorted to filing that bug I was about to bang my head against the screen ;)

[2019-11-29 16:05] parmentelat commented on #4600
just a final word on this; I had actually seen that `NOTIFY_SOCKET` thingy mentioned some place else; I can't remember where exactly but I do remember there was also a mention of gnome, and for that reason, I thought that would not apply to me b/c this box has no graphical desktop nor anything of that sort; it's just been used as a chromium headless test box at some point, so all I have in this ar

[2019-11-29 16:24] giuseppe commented on #4600
you could invoke Podman without that env variable being set.  So something like `NOTIFY_SOCKET= podman run .....`.  Although it would be nice to know why that is happening.  Some process is leaking that variable to Podman and it should not happen

[2019-11-29 16:42] colundrum commented on #4472
Working on Podhawk, this issue can be close because Podhawk'll resolve it

[2019-11-29 16:42] #4472 closed

[2019-11-29 16:49] parmentelat commented on #4600
well, this here:
https://www.freedesktop.org/software/systemd/man/sd_notify.html#Notes

suggests otherwise, i.e. it suggests on the contrary that it is to be expected that my code, being itself triggered by systemd, has this variable set;

it more feels the other way around, I mean to say, the fact that podman depends on that variable being set or not, feels terribly wrong

or what am I missing ?

[2019-11-29 17:31] ssbarnea opened #4602 "podman docker shim fails to emulate version query"
Podman should assure that it returns version information in a parsable format that is backward compatible with original docker command, which happens to return a simple version string like `19.1.3.`.

At this moment podman shim returns something like:
[code]

One side effect of this bug is that renders docker_connection in Ansible useless on systems that have podman shim installed because it confu

[2019-11-29 22:47] zekaguilar commented on #4364
Hi, I've got stuck here too, any draft to share @jwhonce  ?
Thanks !

[2019-11-30 03:52] jvanz commented on #4553
I'll work on this

[2019-11-30 05:10] denji commented on #3835
CentOS 8 Stream - podman 1.0.5...
[code]

[2019-11-30 12:54] rhatdan commented on #4602
You did not describe what is wrong with the Podman version output, or what you would expect it to be.
Is this something you would like to open a PR to fix?

[2019-11-30 12:56] rhatdan commented on #4600
If this variable is set, Podman expects the process inside of the container to write to the socket, if it never writes to the socket Podman will just hang.
Systemd will only set the socket in a notify unit file, I believe, which indicates to Podman that you expect this behaviour.

[2019-11-30 20:14] parmentelat commented on #4600
until I read your answer I was not even aware of the existence of ‘notify’ unit files

indeed, in my setup I found that uwsgi, which hosts my django app, is configured that way

# grep notify /usr/lib/systemd/system/uwsgi.service
Type=notify

and it turns out, the django app is the one that spawns the ‘podman run’ process, so I guess that’s how I end up with the the env. variable being set..

so,

[2019-12-01 16:38] Arshiamidos opened #4603 "podman?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2019-12-01 16:38] #4603 closed

[2019-12-01 18:00] yeya24 opened #4604 "Can't push image to docker hub"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman pull gcr.io/kubeflow-images-public/katib/v1alpha3/tfevent-metrics-collector

2. podman tag gcr.io/kubeflow-images-public/katib/v1alpha3/tfevent-metrics-collector yeya24/tfevent-metrics-collector

3. podman push yeya24/tfevent-metrics-collector

**D

[2019-12-01 18:01] yeya24 commented on #4604
Maybe related to #4285 ?

[2019-12-01 18:11] mheon commented on #4604
Can you include a `podman inspect` of the image you're trying to push?

[2019-12-01 18:49] felixfontein commented on #4602
@rhatdan If you run `docker version --format '{{.Server.Version}}'` with the podman docker shim, it seems to produce something like
[code]
which is very different than what the real `docker` CLI program produces:
[code]
This breaks programs which expect `docker version --format '{{.Server.Version}}'` to return a version number. One example (which caused this issue report) is Ansible's docker conne

[2019-12-01 19:58] maage opened #4605 "podman fails to start container after reboot if using volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I create volume and container to use it. I can run container multiple times without problems. But after I reboot, podman is stuck and does not start container fully or run any commands when 'podman run' is starting container.

**Steps to reproduce the issue:**

1. Setup:

Buy Raspberry pi 4,

[2019-12-01 21:22] yeya24 commented on #4604
[code]

[2019-12-01 21:32] mheon commented on #4604
`        "ManifestType": "application/vnd.docker.distribution.manifest.v2+json",`

Probably not #4285 then.

@vrothberg PTAL

[2019-12-01 23:20] t184256 opened #4606 "Checkpoint-restore-checkpoint-restore loses changes to rootfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I believe that diffing root filesystem for checkpointing picks the wrong base for diffing on consecutive checkpoints.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Changes to the rootfs between first and second checkpoint are lost.

**Describe the results

[2019-12-02 00:35] mheon commented on #4391
I believe we can close this as #4408 is merged

[2019-12-02 00:35] #4391 closed

[2019-12-02 00:39] brandeisblue0 opened #4607 "Accessing Devices for rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running deconz in a rootless podman container will lead to missing gateway firmware info / Zigbee channel not being shown in web-gui.
Running the same container as root will work flawless.

Using: ConBeeII

FirewallD and SELinux have been disabled for testing.

**Steps to reproduce the issue:

[2019-12-02 00:43] mheon commented on #4607
Does your user have permission to access `/dev/ttyACM0`? That's likely the issue here. You'll need to have permission not tied to a group, as well, as Podman drops supplemental groups in containers by default (though I believe we added a way around that recently...)

@giuseppe How do we invoke Podman to not drop supplemental groups when `crun` is in use, and did that make it into F31 yet?

[2019-12-02 01:04] brandeisblue0 commented on #4607
You're right i only added the user to the group dialout.
Now i added the user directly to the device itself and that solved the problem.
SELinux did block the access however. Seems like i haven't noticed that before while testing it.

Perhaps that would be an helpfull entry to the readme in the section where the dialout group is mentioned.

Thank you very much for your quick support! This helped a

[2019-12-02 01:04] #4607 closed

[2019-12-02 04:24] rhatdan commented on #4373
@mheon Did you ever work on this?

[2019-12-02 04:25] rhatdan commented on #4392
@mheon What do you want to do with this?

[2019-12-02 04:28] mheon commented on #4392
I think we may be able to resolve it. We want to do a 1.6.4 for Fedora anyways, so this would be a good opportunity. I'll look into it.

[2019-12-02 04:29] mheon commented on #4373
Not yet, I'll take a look tomorrow

[2019-12-02 05:15] rhatdan commented on #4602
The issue with Podman is there is no Server, only a Client.

[2019-12-02 06:49] rhatdan commented on #4398
I think this is still an issue.

[2019-12-02 06:49] rhatdan commented on #4414
@TomSweeneyRedHat is this still something you are interested in?

[2019-12-02 06:50] rhatdan commented on #4406
This is fixed in libpod now.

[2019-12-02 06:50] #4406 closed

[2019-12-02 07:04] rhatdan commented on #4607
Please open a PR with the fixed wording.

[2019-12-02 07:18] adrianreber commented on #4606
Thanks for the bug report. I just tried it on RHEL 8 with the latest podman from git and I cannot reproduce it. I will also try it on Fedora 30 next.

Thinking about it, it should not be a problem. We are doing the diff always against the original layer and on restore all rootfs changes are applied on that layer, which should give the correct result in following checkpoints.

[2019-12-02 07:40] felixfontein commented on #4602
@rhatdan that's true, but most users of `docker version` don't really care about that, they just need a version number so they can compare it to something to find out whether some features can be used or not. For example, Ansible's docker connection plugin compares to 1.3 (if less, won't run) and 1.7 (if less, can't specify `user` for `exec`). So as long as sensible numbers are returned for `.Serv

[2019-12-02 07:43] adrianreber commented on #4606
I can confirm the result on Fedora 30. Strange.

[2019-12-02 07:49] adrianreber commented on #4606
I can see that the rootfs diff in the exported checkpoint archive has the wrong content. The complete file-system is included. Confirming that this broken. I will provide a fix.

[2019-12-02 08:56] vrothberg commented on #4604
@yeya24 can you rerun with `podman --log-level=debug push ...`? Are you logged into Docker Hub? `denied: requested access to the resource is denied` seems odd.

[2019-12-02 08:58] babyshen opened #4609 "When does the new version of podman1.6 support centos 8？"
When does the new version of podman1.6 support centos 8？

[2019-12-02 09:09] giuseppe commented on #3799
can you show what directories are left?

I've just tried to run 1000 containers, but once I do a `podman rm -fa; podman rmi -fa` I see only:

[code]

[2019-12-02 12:15] t184256 commented on #4606
Tried same Fedora 30 box but with `podman-1.6.2-2.fc31` and `runtime = "runc"`, same result.

[2019-12-02 12:44] ssbarnea commented on #4602
Not sure how we are going to sort this out but it could make sense to return a fake server version in order to make Ansible happy, especially fixing ansible itself is not really possible in this case. Mainly that is a price we have to pay for creating the shim.

For molecule tests I added extra detection for podman itself and a skip-tests https://github.com/ansible/molecule/pull/2457 because it wo

[2019-12-02 13:26] sdeoras opened #4610 "fedora31: mountpoint for cgroup not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman run errors out on fedora31 with various runtimes

**Steps to reproduce the issue:**

1. pl. run commands below on fedora31 with podman 1.6.2 to repro the issue

**Describe the results you received:**

[code]
**Describe the results you expected:**

**Additional information you deem impor

[2019-12-02 13:28] TomSweeneyRedHat commented on #4604
Another quick thought, try:
[code]

[2019-12-02 13:31] TomSweeneyRedHat commented on #4414
@rhatdan yeah, we ought to touch this up at some point.  Added the do-not-close label.

[2019-12-02 13:46] hurricanehrndz commented on #4349
By the way, the issue does encompass one solution, which was never confirmed adopted.

Adding libpam-cgfs as a requirement to the deb.

[2019-12-02 14:11] mheon commented on #4349
Are you using the `systemd` cgroup driver, or `cgroupfs`? It seems like it would make sense for this to be a requirement if `cgroupfs` was in use, but if we're using `systemd` I don't think it should be required.

[2019-12-02 14:12] mheon commented on #4349
Assuming it is `cgroupfs` it seems painless enough to add a requirement to our PPA builds.

[2019-12-02 15:00] jonasbartho opened #4612 "rpm/deb repository for podman?"
Hi,

Is there any way possible for podman to have rpm and deb packages of the latest podman version on a remote repository URL(incl. all necessary dependencies...)?

Example with docker community-edition: https://download.docker.com/linux/centos/7/x86_64/stable

[2019-12-02 15:16] mheon commented on #4610
I assume you haven't switched to CGroups v1 (back from V2)? If so, I would not expect the `runc` runtime to work. I've never tried the others, but it's entirely possible they also are nonfunctional due to the CGroups v1 to v2 migration. The only fully CGroups v2 supporting runtime I am aware of is `crun` which we use by default.

[2019-12-02 15:26] yeya24 commented on #4604
Yes, I have logged in Dockerhub.

[2019-12-02 15:30] yeya24 commented on #4604
Thanks for your reply. But this produced the same of the previous error

[2019-12-02 15:31] #3906 closed

[2019-12-02 16:28] ssbarnea commented on #4612
I think that we will have this soon. It happens that I am currently working on multi-platform building or rpm, and jobs will produce repositories. I guess it will be very easy to make an official repo once we get these sorted.

[2019-12-02 16:29] hurricanehrndz commented on #4349
Ubuntu seems to default cgroupfs. Both systems, working and non working run cgroupfs.
Both systems report the cgroup version as 1.

[2019-12-02 16:31] mheon commented on #4349
@lsm5 Poke - can we get `libpam-cgfs` added to the PPA builds as a dependency?

[2019-12-02 16:38] TomSweeneyRedHat commented on #4359
@rhatdan ack

[2019-12-02 16:49] TomSweeneyRedHat commented on #4609
@lsm5 any thoughts or pointers?

[2019-12-02 17:00] hurricanehrndz commented on #4349
@mheon

If you want to close the ticket after that, I'm okay with it. Most people who have encountered this issue say it is resolved once you perform a system reinstall. I hate such solutions, but it seems like the only one in this case.

[2019-12-02 17:04] mheon commented on #4609
A Podman 1.6.x release is projected to land in 8.1.1 / 8.2

[2019-12-02 17:10] yegle commented on #4478
This is very conflicting: podman was presented to newcomers as a docker CLI drop-in replacement (this is evident if looking at the # of issues reporting incompatibility between Docker and Podman). But in many places the tool is trying to align with k8s, like this issue.

Perhaps the libpod project should clearly state the vision of podman, and the relationship between podman/docker/k8s. I'm probab

[2019-12-02 17:12] mheon commented on #4478
We don't view `podman play kube` as a direct replacement for `docker compose` and as such we don't feel that it needs to align to `docker compose` semantics.

We have other plants for supporting `docker compose` - more details on those at a later date.

[2019-12-02 17:49] TristanCacqueray commented on #3906
Thanks @mheon !

[2019-12-02 18:03] sdeoras commented on #4610
@mheon : thank you. `crun` is working for me. I'll just wait for updates from other runtimes and use `crun` in the mean time. Pl. feel free to close this bug.
[code]

[2019-12-02 18:12] mheon commented on #3906
Took us half a year, but it's finally done :smile:

[2019-12-02 18:13] mheon commented on #4610
I'm actually sort of surprised that the VM-based Kata runtime has a hard dependency on host CGroup version... but I suppose applying CGroup configuration on the host system is more natural.

[2019-12-02 18:53] jonasbartho commented on #4612
awesome @ssbarnea !!!, that would help me and many others a great deal promoting podman(instead of docker) in their companies! Please send me a ping when this is available!

Kind regards,
Jonas

[2019-12-02 20:05] DaanDeMeyer opened #4618 "rootless container systemd errors when running in container with all capabilities added"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a rootless container with `cap-add=all`, running systemd inside the container fails.

Failing units:

- sys-kernel-config.mount
- sys-kernel-debug.mount
- systemd-journald-audit.socket

When adding `--privileged`, The following units fail as well:

- proc-sys-fs-binfmt_misc.autom

[2019-12-02 20:54] DaanDeMeyer opened #4619 "mknod fails with operation not permitted with cap-add=all and --privileged"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run -dt --cap-add=all --privileged fedora:rawhide /lib/systemd/systemd`

2. `podman exec -it -l /bin/bash`

3. `yum install coreutils`

4. `mknod test c 1 3`

**Describe the results you received:**

`mknod: test: Operation not permitted`

**Descri

[2019-12-02 21:07] TomSweeneyRedHat commented on #4254
I've added the do-not-close for now, I'd like to keep it open at least until early next year to see if we can chew on it a bit.

[2019-12-02 21:17] mheon commented on #4619
I assume you're running as a normal user?

I don't know if there's anything we can do about this, rootless Podman does not have any privileges a normal user does not have, even with `--privileged` - so we likely don't have enough privileges.

[2019-12-02 21:43] DaanDeMeyer commented on #4619
I'm running as a regular user yes. I encountered the issue while trying to invoke debootstrap in a ubunto focal podman container. The issue might be more with debootstrap in this case for trying to make device nodes in the first place.

[2019-12-03 01:37] rhatdan commented on #4478
Right "Docker compose" != Docker CLI.  Our goal is to mostly replace the Docker CLI for as much as we can, with the exception of `SWARM`.  We plan on supporting `Kubernetes` because this is what the Container communities have chosen.

There are some other features of Docker that we have either chosen not to implement (links) or can't implement because of a lack of a Daemon, or we fail it is a bug

[2019-12-03 01:45] rhatdan commented on #4610
Can we close this issue?

[2019-12-03 01:46] MrErr opened #4621 "Fedora 31: "podman start" hangs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman create \
	--name squid-ip-pub \
        --ip 10.88.13.24 \
        --dns 10.88.13.4 \
        --expose 3128 \
        --hostname squid-ip-pub \
        --mount type=volume,src=squid-ip-config,dst=/etc/config \
        --mount type=volume,src=squid-

[2019-12-03 02:17] sdeoras commented on #4610
@rhatdan yes, pl. feel free to close this issue.

[2019-12-03 02:31] rhatdan commented on #4621
@mheon @giuseppe Any ideas?

[2019-12-03 02:32] rhatdan commented on #4619
Yes this is impossible in a root less user.

We should add this to the rootless.md as a shortcoming of rootless mode.

[2019-12-03 02:43] rhatdan commented on #4618
I take it you are running rootless container.  Systemd might be attempting to do things that are just impossible for a rootless container.  IE Rootless containers are only allowed to mount procfs, Fuse, sysfs, tmpfs file systems.  Anything else requires real CAP_SYS_ADMIN.

This is probably what is blocking the mount unit files.

[2019-12-03 02:44] #4610 closed

[2019-12-03 02:44] #4609 closed

[2019-12-03 02:48] rhatdan commented on #4605
@mheon PTAL

[2019-12-03 02:49] rhatdan commented on #4602
Closing since the PR Merged.

[2019-12-03 02:49] #4602 closed

[2019-12-03 02:50] rhatdan commented on #4577
@vrothberg Actually this has to be wired through containers/image correct?

[2019-12-03 02:51] rhatdan commented on #4585
I think this is a build issue, so I am going to close, Reopen if I am mistaken.

[2019-12-03 02:51] #4585 closed

[2019-12-03 02:53] rhatdan commented on #4571
I think this is Architecture specific, This would be better opened as a Bugzilla, since this is not something upstream necessarily can fix.  Reopen if I am mistaken.

[2019-12-03 02:53] #4571 closed

[2019-12-03 02:53] rhatdan commented on #4570
@giuseppe Any progress?

[2019-12-03 03:01] #4564 closed

[2019-12-03 03:02] rhatdan commented on #4555
@haircommander can you open a PR to fix this?

[2019-12-03 03:04] rhatdan commented on #4546
I believe you would need a special file system, perhaps a fuse file system for this.  This is not something that Podman could provide.  If you have a WRITEONLY file system and mounted it into the container then this would work.

@giuseppe Any comment, on using Fuse for this?

[2019-12-03 03:04] #4546 closed

[2019-12-03 03:06] rhatdan commented on #4469
This is not an upstream issue, so I am going to close.  Please reopen if I am mistaken.

[2019-12-03 03:06] #4469 closed

[2019-12-03 03:06] rhatdan commented on #4458
Since this is handled in the other issue, I am going to close this.

[2019-12-03 03:06] #4458 closed

[2019-12-03 03:07] rhatdan commented on #4454
@mheon Is this a CNI issue?

[2019-12-03 03:09] rhatdan commented on #4433
@vrothberg Some of your work/investigation might help out here.

[2019-12-03 03:20] mheon commented on #4454
Potentially? Hard to tell with only this.

Can you try with another protocol (HTTP server is usually easy) and verify if you can connect to that?

[2019-12-03 03:31] mheon commented on #4621
Running with or without root?

[2019-12-03 03:39] mheon commented on #4621
Can't repro as root, Fedora 30, v1.6.2.

Looking at the code, it looks like `prepare()` is running successfully - the container is mounted, the network namespace is created - but `init()` is not successful (we'd see a `"Created container %s in OCI runtime"` message if it was). This is probably a hang creating the container in `conmon`. Probably a `crun` issue, then?

[2019-12-03 03:40] mheon commented on #4621
Interestingly, we're not printing the args we're calling Conmon with... We might not be getting there?

[2019-12-03 03:44] mheon commented on #4621
Aha, I think we're stuck somewhere in mounting...

Can you try a `podman system renumber`?

[2019-12-03 03:45] mheon commented on #4621
(For reference, I think we may be running into a deadlock between the container lock and the volume lock - if the volume and container were created in a pre-1.6.x version, the volume was not originally assigned a lock number, so is now defaulting to 0)

[2019-12-03 03:57] mheon commented on #4605
Got it. Damn, damn, damn. Same issue as #4621

On system reboot, we're not correctly reacquiring locks for volumes, so if you delete/recreate a container, it can cause conflicts.

[2019-12-03 03:57] mheon commented on #4605
We are definitely going to need a new build for RHEL once I have a patch out for this.

[2019-12-03 03:59] mheon commented on #4605
(Just 8.1.1 and 8.2)

[2019-12-03 04:12] mheon commented on #4621
Probably caused by a reboot. #4605 has same root cause. Fix in #4624

[2019-12-03 04:12] mheon commented on #4605
#4624 should have a fix

[2019-12-03 04:49] rhatdan commented on #4326
@haircommander Any update?

[2019-12-03 04:50] #4426 closed

[2019-12-03 06:58] MrErr commented on #4621
Running with root.

[2019-12-03 07:06] MrErr commented on #4621
[root@xroads irlanet]# podman system renumber
Error: Error shutting down container storage: A layer is mounted: layer is in use by a container

[2019-12-03 07:33] #4605 closed

[2019-12-03 07:33] #4621 closed

[2019-12-03 07:44] DaanDeMeyer commented on #4618
Looking at the debug and config mount units, there are two conditions for them to be started:

sys-kernel-debug.mount:

[code]

sys-kernel-config.mount:

[code]

Maybe we can hide these in rootless containers so that systemd won't try to mount them?

Another idea I had was to have some way to have `cap-add=all` only give capabilities to rootless containers that it actually can do something with bu

[2019-12-03 07:50] DaanDeMeyer commented on #4619
As an aside for others that might read this issue in the future: `fakechroot fakeroot debootstrap ...` can be used to run debootstrap in a rootless podman container.

[2019-12-03 08:05] giuseppe commented on #4570
it might be caused by differences in the kernel on that architectures.  It could be the `renameat2` syscall to behave differently.

The kernel is quite old though, and I don't think you can use fuse-overlayfs, so in general support for rootless containers is very limited.

Could you use a newer kernel?

[2019-12-03 08:52] ifireball opened #4625 "podman commit does not seem to be able to empty-out the image Cmd field"
/kind bug

**Description**
When using `podman commit` it stores the `Cmd` used to launch the committed container. It seems that it it impossible to make it null-out the Cmd in the resulting image.

**Steps to reproduce the issue:**

1. Create a container:

        $ sudo podman run -i --name foo-c centos:8 bash -xc 'echo foo > /bar.sh'
        + echo foo

2. Commit it:

        $ sudo podman commi

[2019-12-03 09:22] vrothberg commented on #4604
The log-level is main flag and must be specified right after podman and before any subcommand: `podman --log-level=debug push`

Before pasting the logs, please make sure that your credentials are not in the logs. In case, just delete those strings.

[2019-12-03 09:45] mtrmac commented on #4580
That would explain the failure.

WRT asking for the files to be included, that needs to go through the same process as any other build requirement packages (which may or may not result in them being added, to set expectations).

The dependency can be avoided with the `containers_image_openpgp` Go tag; then the code will not support signing (only verification).

[2019-12-03 09:46] fcoelho opened #4626 "Missing /etc/hosts on containers with --network container:name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a container with `--network container:name`, dependent containers don't get a `/etc/hosts` file

**Steps to reproduce the issue:**

1. `podman pod create --name=test --share net`
2. `podman run -d --name=netcontainer --pod=test busybox sleep 100000`
3. `podman run --rm --pod=tes

[2019-12-03 09:51] vrothberg commented on #4577
I believe so, yes. Especially when it comes to default behavior, we should let c/image decide.

[2019-12-03 10:04] mtrmac commented on #4549
For another perspective, I’m personally not upset at all.

The code is public, and we’ve been discussing the same thing (although thinking of it in terms of “you don’t know which `fedora` image you’ll get) in public for quite some time. No vulnerability in Open Source software has ever been a secret to a _determined_ adversary.

Overall, it’s always better to receive vulnerability reports than not

[2019-12-03 10:05] mtrmac commented on #4549
Ultimately, if we decide that user input must be fully specified (and I can’t immediately see any alternative, nor any dissent to the principle of the thing), we _can_ start today: output loud warnings on stderr every time the search code is used on a short name.

Likely enough users will be annoyed, sure, and they may well ask for another way to get the same thing done with not more typing. First

[2019-12-03 11:37] ssbarnea opened #4627 "rpm-building: Permission denied while trying to remove previous build"
It seems that we cannot run build_rpm.sh twice because it produces temporary files which cannot be removed by the recursive rm.
[code]

I looked at file permissions and this is the firt folder with wrong permissions:
[code]
As see the "w" is missing from current user.

Doing a `chmod -R +w ~/rpmbuild/BUILD` can be used as an workaround but we we need to fix the root cause.

[2019-12-03 11:41] SemaiCZE commented on #4454
For example nginx works:
[code]
But maradb does not work:
[code]
After some time, it suddenly becomes available:
[code]

Complete log from mariadb container:
[code]

[2019-12-03 13:18] onlyjob opened #4628 "run --rmi? [feature] to clean extracted container image"
I'm running the following command for the first time:

    podman run -it --rm oci-archive:debian10.oci /bin/echo "Hi"

And after execution an extracted image is left behind:

[code]

It would be great to have an option like `--rmi` to clean-up such unpacked/pulled image.

Thanks.

[2019-12-03 13:48] haircommander commented on #4326
unfortunately not!

[2019-12-03 14:09] vrothberg commented on #4628
This sounds like a great enhancement to me. In case the image is being used by another container, I suggest to ignore the error that it couldn't be removed.

[2019-12-03 14:18] mheon commented on #4628
Agree. Do we also want to restrict it so we only remove the image if it was not already present?

[2019-12-03 14:19] mheon commented on #4454
Aha. So this is very specifically MySQL/MariaDB. Interesting.

[2019-12-03 14:26] mheon commented on #4549
I think that, regardless of the eventual outcome of discussions about shortnames, things like aliases are a good idea to implement - though I don't know if we want to include any by default, for the reasons you gave, it seems like a good one-time-fix for sysadmins who only using a few, common images, and want to pull them from a guaranteed source or a guaranteed SHA. I could see Openshift potentia

[2019-12-03 14:36] rhatdan commented on #4628
Since @onlyjob brought up the Idea, I will let him answer it.  I personally could go either way.

[2019-12-03 14:47] rhatdan commented on #4454
Could it be that mariadb is not listing on the port right a way and takes some time to finish starting.  And you are checking too quickly.

[2019-12-03 14:53] mheon commented on #4625
Hm. I think this may be fixed on master; any chance you can try with a 1.6.x release and report back?

[2019-12-03 15:01] mheon commented on #4626
Confirmed, repros fine over here, investigating...

[2019-12-03 15:11] ifireball commented on #4625
Is it packaged for EL7?

[2019-12-03 15:30] mheon commented on #4626
Fix in #4629

[2019-12-03 15:33] mheon commented on #4625
@lsm5 Poke - are the repos for up-to-date Podman on 7 still being updated?

[2019-12-03 16:18] mtrmac commented on #4549
Detecting collisions is definitely a good idea. Enabling it by default would be annoying for `fedora` at least, but opt-in mitigates that concern.

[2019-12-03 16:27] L0stLink commented on #4522
I am getting the same error on `podman container start ${container_name}` on version 1.6.3
the log obtained  from `podman --log-level=debug container start rdis 2> podman.log` is [podman.log](https://github.com/containers/libpod/files/3917573/podman.log) and the command used to create the image was `podman run --name rdis -p 6379:6379 -e REDIS_PASSWORD=${REDIS_PASSWORD} -d bitnami/redis:latest`
I

[2019-12-03 16:47] junaruga commented on #4570
Yes, I can use the newer kernel.
But the Travis arm64/ppc64le/s390x's kernel is already newer than the Travis x86_64 environment's one.

The kernel versions (`uname -r`) are

* x86_64-fedora (ok) case: 4.15.0-1028-gcp
* arm64/ppc64le/s390x (error) cases: 5.3.0-NN-generic

See [this summary page](https://github.com/junaruga/ci-multi-arch-native-container-test/tree/master/issues/13_podman_arch) for

[2019-12-03 17:15] junaruga commented on #4570
When I searched `pause.pid` in both log files,

In `issues/13_podman_arch/logs/x86_64-fedora/strace-podman-info.log` (ok case, user_id: 2000)

[code]

In `issues/13_podman_arch/logs/aarch64-xenial-fedora/strace-podman-info.log`  (error case, user_id: 1000)

[code]

[code]

[2019-12-03 17:16] #4626 closed

[2019-12-03 18:01] yeya24 commented on #4604
Thanks for your help! I have already figured out what's wrong. At first, I mistakenly logged into another account.

But this push still didn't work.
[code]

[2019-12-03 18:37] edsantiago opened #4632 "builds are broken: go-md2man unavailable"
#4616 broke [rawhide](https://koji.fedoraproject.org/koji/taskinfo?taskID=39424289) -- and, presumably, all koji/brew -- builds:
[code]
Sorry, but it will have to be reverted. The koji/brew build environment is network-isolated and cannot run `go fetch`.

[2019-12-03 19:11] TomSweeneyRedHat commented on #4632
UGH, my main concern here is how the PR to make this change passed.  We must not use changes in Makefile that are in a PR when testing the PR?

[2019-12-03 19:14] edsantiago commented on #4632
The PR passed because the build happens in CI-land, not koji-land. Koji-land is different. This really couldn't have been caught in CI.

[2019-12-03 19:36] ssbarnea commented on #4632
More than happy to help address this. Still, the reality is that we are talking about a regression happening on a specific case that is not covered in CI. That is the real bug: if we want to avoid this from happening we need to be sure we have a CI job running that runs in an isolated environment. That would be a good start.

Apparently my PR uncovered a but at https://github.com/containers/libpod

[2019-12-03 19:38] whitel opened #4633 "RFE: predictable port generation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

One thing that is nice about Docker's port generation is that you can guess what it will be (sometimes). Basically, when you are launching container after container trying to get something to work, in docker, your generated port number will keep counting up. As a result, you can easily te

[2019-12-03 19:40] smuething opened #4634 "podman pod stats fails in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a current system with Fedora 31, when running in rootless mode, `podman pod stats <pod>` fails because it cannot read the current memory usage of the individual containers.

**Steps to reproduce the issue:**

Run the following steps as a regular user:

1. `podman pod create --name testpod`

[2019-12-03 20:44] baude commented on #4633
please explain how this helps users? the current algo is faster than counting imho so it would be a weighing of performance against user benefit.

[2019-12-03 20:49] whitel commented on #4633
I thought I had: being able to predict the port number makes the frustration of making a container work the first time lower because you don't have to look up the port every time you launch a container.

Definitely a minor improvement but I recently went through this while trying to get something to work, ran through 20-30 containers and had to look up the port to change in the browser every time.

[2019-12-03 21:53] onlyjob commented on #4628
Thanks. I think implementation should carefully check if image is being used but always remove unused images even if they existed before.

Extracted image is just a "cache" and when user explicitly requestd to drop cache with `--rmi` I think it would be best to do just that.

[2019-12-04 01:17] rhatdan commented on #4634
This works for me.  Are you sure you are using crun for cgroups V2?

[code]

[2019-12-04 01:37] #4632 closed

[2019-12-04 01:49] rhatdan commented on #4633
I would bet this is difficult from the nature of CNI.  Since each exec is different.
I would figure this would be fairly easy to script using the

[code]
A little additional awking and you get your port.

[2019-12-04 01:52] rhatdan commented on #4628
Sounds reasonable.  @onlyjob Would you be interested in adding a PR?

[2019-12-04 02:00] rhatdan commented on #4191
I know the packages for podman 1.6 will show up in RHEL 8.1.1 which is scheduled to come out in January.

[2019-12-04 02:19] onlyjob commented on #4628
Of course you've asked for PR, as always. :)

I'm not qualified and have no time to implement even if I could...

[2019-12-04 02:25] rhatdan commented on #4628
If you don't ask, you never know if someone will say yes.  Thanks for the suggestion.

[2019-12-04 04:02] rhatdan commented on #4565
This is fixed in master branch.

[2019-12-04 04:02] #4565 closed

[2019-12-04 04:04] rhatdan commented on #4565
[code]

[2019-12-04 07:16] smuething commented on #4634
`podman stats` works fine for me as well, the issue is with `podman pod stats`.

[2019-12-04 08:42] SemaiCZE commented on #4454
I don't think that it should start 2 minutes. With Docker it's ready right away and with Podman on CentOS 7 it worked for me without the delay too. Because this bug affects two different images I think that it is caused by Podman. Hope you guys can find it :)

[2019-12-04 09:24] giuseppe commented on #4570
thanks for such detailed info.

Yes, indeed the `renameat2` syscall fails:

`[pid  3123] <... renameat2 resumed> )   = -1 EINVAL (Invalid argument)`

I'll prepare a patch and open a PR

[2019-12-04 09:31] giuseppe commented on #4570
opened a PR here: https://github.com/containers/libpod/pull/4637

[2019-12-04 09:36] MrBuddyCasino commented on #4364
Would be interested in how to get podman running on macOS, too. Any hints?

[2019-12-04 10:23] bipuladh commented on #4628
@rhatdan I want to take up this issue.

[2019-12-04 10:24] vrothberg commented on #4628
Thanks! I assigned the issue to you. Feel free to reach out here or on the #podman channel on Freenode if you have any questions.

[2019-12-04 10:28] junaruga commented on #4570
You are welcome. Okay. I see the `renameat2` syscall fails.
Out of curiosity, why is the process dealing with the `pause.pid` file different between Travis x86_64 and aarch64(/ppc64le/s390x) environment?

In x86_64 `open("/run/user/2000/libpod/pause.pid", O_RDONLY) = 3` is executed first.
In aarch64, `openat(AT_FDCWD, "/tmp/run-1000/libpod/pause.pid.BtSun0", O_RDWR|O_CREAT|O_EXCL, 0600 <unfinished

[2019-12-04 12:56] giuseppe commented on #4570
I see the file is also first opened:

[code]

[2019-12-04 13:04] rhatdan commented on #4454
@mheon is this likely ours or CNI?

[2019-12-04 13:11] ssbarnea opened #4641 "ci failing on make vendor"
While testing [unrelated change](https://github.com/containers/libpod/pull/4638/files) I got a CI `vendor` job failing that gave no indication about root cause. Running the same command seen on CI did not produce a failure locally.

[code]

Still, I was able to reproduce the error on another machine but again without any indication regarding what went wrong or how to effectively sort the issue:
[c

[2019-12-04 13:21] rhatdan commented on #4628
Excellent @bipuladh Looking forward to the PR.

[2019-12-04 13:25] #4570 closed

[2019-12-04 13:32] rhatdan commented on #4641
On your host, try
make vendor-in-container

The problem is different versions of golang

[2019-12-04 13:51] #4619 closed

[2019-12-04 13:57] rhatdan commented on #4553
@jvanz any progress?

[2019-12-04 13:58] rhatdan commented on #4240
This has been merged upstream

podman system reset

[2019-12-04 13:58] #4240 closed

[2019-12-04 14:19] mheon commented on #4454
Has to be CNI - we've already finished all CNI config before we start the container, from our perspective.

[2019-12-04 18:02] mheon commented on #4560
We're doing some unrelated work on the attach API endpoint that might make this easier, but no exact ETA on that yet.

[2019-12-04 18:49] towe75 commented on #4560
Hey @mheon, thanks for checking.
There is no real presure, so i'll wait for the attach API change.

[2019-12-04 18:55] mheon commented on #4625
If it's not fixed on master, #4563 will definitely fix things.

[2019-12-04 20:12] tobwen commented on #4546
I thought, it would be possible to limit the capabilities of a mount to "write only". Sure, fuse would be a better place.

[2019-12-04 20:20] mheon commented on #4546
I think this should be possible (but only as root) if a write-only filesystem exists, via volumes with mount options (which can mount a filesystem as a volume). These are presently root-only because we don't have permissions to mount filesystems without root, though theoretically we could un-restrict this to allow FUSE mounts as rootless?

[2019-12-04 21:21] fcoelho commented on #4626
just an update: tested develop against my original use case (which is a bit more involved than the repro steps above) and it works as expected, thanks for the quick fix!

[2019-12-04 21:22] guiguir68 commented on #4364
Same problem here. Waiting for you @jwhonce :)

podman version 1.6.1-dev (installed with brew cask)
macOS Catalina 10.15.1

[2019-12-04 21:40] ssbarnea commented on #4465
I faced the same error today while trying to run:
[code]
Mainly I cannot test podman on RHEL-8 due to this.

[2019-12-04 21:41] haircommander commented on #4465
Are you able to download and compile a newer conmon from github.com/containers/conmon ?

[2019-12-04 21:47] ssbarnea commented on #4465
Considering that I was able to build conmon on the same machine, including building the rpm and installing it, I suspect that conman building worked. I think that this error is specific to this make target. For the moment is not a blocker as I have other changes to merge but I will be back at it once it address those.

[2019-12-04 22:49] TadCordle opened #4646 "Error loading OCI archive with multiple manifest descriptors"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want to be able to tag an oci archive multiple times (similar to the results of `podman tag`, but automatically for oci tars that are loaded into podman). To do this I duplicate the manifest descriptor in `index.json` and give it a different image ref name, but when I try to load the new oc

[2019-12-04 23:31] mheon commented on #4646
@vrothberg Does this fall under the same category as multiple images in the same tar with the Docker format? It's just tags, but it does seem to be multiple manifests

[2019-12-05 02:14] jvanz commented on #4553
Not yet. I'll start to work on that now.

[2019-12-05 10:21] sachingorade commented on #4364
Please post the link if its partially done too (to at least get podman working :) )

Thanks.

[2019-12-05 10:54] vrothberg commented on #4646
['We're correctly detecting the index but we didn't specify which image(s) to select. @nalind is the expert of manifest lists and indexes, so I'll assign it to him.

[2019-12-05 11:24] evelineraine commented on #4431
Still an issue... #dontclose

[2019-12-05 13:08] TomSweeneyRedHat commented on #4429
Let's keep this one going.

[2019-12-05 13:11] TomSweeneyRedHat commented on #4431
@evelineraine thanks for the update, I've added the do-not-close label so this one won't time out.

[2019-12-05 13:34] Silvanoc commented on #1742
As far as I can see, the Debian packaging configuration being used for OBS is not available in this repository right? Is it somewhere available?

I've found an issue on https://download.opensuse.org/repositories/home:/rhcontainerbot:/stable/Debian_Testing/amd64/podman_1.6.3~14_amd64.deb and I'd like to report it including the fix.

Just in case you are interested on the issue: the package is tryin

[2019-12-05 14:09] lsm5 commented on #1742
On Thu, Dec 05, 2019 at 05:34:04AM -0800, Silvano Cirujano Cuesta wrote:

Thanks, this issue should be fixed in 1.6.3\~15.

The deb packaging stuff is currently on my personal fork.
See: https://github.com/lsm5/podman/blob/debian-stable/debian/rules#L67

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-12-05 14:20] onlyjob commented on #1742
As far as I'm concerned this is such a bad Debian packaging that nobody should use it.

[2019-12-05 14:46] lsm5 commented on #1742
On Thu, Dec 05, 2019 at 06:20:07AM -0800, Dmitry Smirnov wrote:

Patches welcome. Can't wait to get this off my back :)

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-12-05 14:48] vrothberg commented on #1742
@onlyjob, if you want to improve the package in question, please make sure to give constructive feedback with concrete points for improvements and remain polite.

[2019-12-05 14:49] Silvanoc commented on #1742
As a temporary solution for non-productive bleeding edge experimentation is fine for me.

For productive/stable I agree that the [WIP proper debianization](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440) is the only way to go.

[2019-12-05 15:30] rhatdan commented on #4546
Correct, rootless podman can and does mount fuse file system.  (well in the PR for overlay mounts)

[2019-12-05 15:35] #4634 closed

[2019-12-05 15:55] Silvanoc commented on #1742
Something that is a clear reason for me playing around with the OBS packages is that I get something to install easily.

Through the official Debian channels I only get a Debian packaging configuration that requests me to install something between 40 and 70 packages just to build the package. Some of them are not ready yet as packages, so they have to be built too. Sorry, that's too much just for

[2019-12-05 16:04] Noah-Huppert opened #4648 "Error: stat /sys/fs/cgroup/systemd/org/freedesktop/ConsoleKit/Session1: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Any podman command exits with the error:

[code]

and the status 125.

**Steps to reproduce the issue:**

1. Have podman 1.6.3 on Void Linux

2. Run any podman command (ex: `podman ls`)

3. Error

**Describe the results you received:**

Every command exits with status 125 and the error above.

[2019-12-05 16:18] miquecg commented on #4522
This is also happening to me on Arch Linux with Podman 1.6.3 and conmon 2.0.3.

#### Steps to reproduce
[code]

#### podman info
[code]

[Complete log output](https://termbin.com/ciq9).

[2019-12-05 16:26] mheon commented on #4522
We are preparing for a 1.6.4 release soon. That will include the patch that resolves the issue.

[2019-12-05 16:30] junaruga commented on #4570
I see.

I meant I wondered why `renameat2` syscall was not executed in Travis x86_64 case (ok case).

Now seeing the file before your pull-request,
https://github.com/containers/libpod/blob/10f733497f37c6ed85756ba95f6e75f3443a90af/pkg/rootless/rootless_linux.c#L27-L37

And I understand as the macro `SYS_renameat2` was not defined in Travis x86_64, `renameat2` syscall was not executed.

And you mod

[2019-12-05 16:35] mheon commented on #4648
@giuseppe Looks like we're trying to hit systemd over dbus on a system without systemd

[2019-12-05 17:06] #4612 closed

[2019-12-05 17:06] #4627 closed

[2019-12-05 17:16] cfelder opened #4649 "podman denies opening a file for writing as root owned by a different user on /tmp"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman denies opening a file for writing as root owned by a different user on /tmp

(2500661 4 drwxrwxrwt 1 root root 4096 Dec  5 16:56 /tmp)

**Steps to reproduce the issue:**

1. start container as root: ``podman run --rm -it centos:centos8 /bin/bash``

2. create a file on /tmp, change owne

[2019-12-05 17:42] mheon commented on #4649
@rhatdan @baude @vrothberg @giuseppe PTAL - looked at this one for a while in IRC, came away stumped

[2019-12-05 17:53] Noah-Huppert commented on #4648
Is there a way to manually tell podman not to use systemd?

I saw something about a `--systemd` flag somewhere so I tried running with `--systemd=false` but the error still occurred.

[2019-12-05 18:05] mheon commented on #4648
That's specific to systemd in a container - won't apply here.

Are you running as root, or without? Can you check your `libpod.conf` (usually lives in `~/.config/containers/libpod.conf` if you're not root, or `/etc/containers/libpod.conf` and `/usr/share/containers/libpod.conf` if you are root) and see what `cgroup_manager` is set to?

[2019-12-05 18:06] mheon commented on #4648
I don't think root Podman should ever need to talk directly to systemd. Rootless does some systemd-specific configuration, but I think it should be optional - we shouldn't need it to work.

[2019-12-05 18:10] Noah-Huppert commented on #4648
I believe I am running rootless.

[code]

[2019-12-05 18:26] junaruga commented on #4570
I found the following article about Travis ppc64le and s390x environments, though I am not sure that it was directly related to this issue.

[2019-12-05 18:55] rhatdan commented on #4648
That looks like your are running root?  '# "?
Are you running with cgroup V2?  I think Podman/crun will attempt to talk to systemd on a cgroup V2 machine.  The other area might be on the event manager.  Changing it to `file` might fix this.

[2019-12-05 19:04] Noah-Huppert commented on #4648
@rhatdan ah the `#` I added in just so if the commands were copy pasted they wouldn't run, out of habit. I have edited my past comments to use `%` to reduce confusion. I am running as a regular user account.

I think I have cgroup V2 on my machine, I can mount with type `cgroup2`:

[code]

I'm not quite sure how to change the event manager. I see a `events_logger` option in `libpod.conf` which is

[2019-12-05 19:12] rhatdan commented on #4648
podman --events-backend=file
But if it is using cgroup V2 then we are going to have problems.  Podman uses systemd to setup the device cgroup.  If you boot with cgroup V1 it should work without requiring systemd.
@giuseppe WDYT?

[2019-12-05 19:14] mheon commented on #4648
Per `buildah info` he's on CGroups v1

[2019-12-05 19:16] mheon commented on #4648
`events_logger` in libpod.conf should be set to file - if it's set to journal, that would connect to systemd.

I'm wondering if this is our linger support check, though.

[2019-12-05 19:17] Noah-Huppert commented on #4648
Changing the events backend to file did not seem to work:

[code]

Yea I couldn't confirm if I was using cgroups 1 or 2, but as @mheon mentioned it looks like I'm on v1.

[2019-12-05 20:05] Noah-Huppert commented on #4648
Here are my `libpod.conf` and `storage.conf` files. https://gist.github.com/Noah-Huppert/cc8859c62be4535a458a0be3d624b05d

If any more debug information would be useful, or if there are any leads I could try and chase down, let me know.

[2019-12-05 21:46] FranklinYu commented on #1742
Yes, so the work by @onlyjob is highly appreciated. Packaging things "the Debian way" would increase the stability of the overall system during system upgrade. I have had issues with several non-standard deb packages before.

[2019-12-05 22:01] onlyjob commented on #1742
@vrothberg, I do not want to improve package in question. it is beyond constructive feedback and the whole point is that such redundant, improper, sloppy packaging should not exist, let alone be provided to the general public.
This poor packaging is an example of how not to do the job because it has been done without experience, without regards to good packaging practices, without respect to curre

[2019-12-06 00:12] dbaker-rh commented on #4549
This is problematic.  both docker.io *AND* quay.io must be treated as "untrusted repos".  Even though quay.io is used to ship certain official Red Hat code, it *also* hosts untrusted internet content.  Docker.io hosts "verified" registries as well as untrusted internet content.  Without any co-ordination between the registries, having both untrusted repos present in the search path will always be

[2019-12-06 00:20] delenius commented on #4057
I am running into the exact same problem, but without rebooting the jenkins server. Just manually re-running a jenkins project with podman commands in it produces the error. I tried setting `XDG_RUNTIMED_DIR`, but it had no effect. I too do not have `/tmp` listed as using tmpfs, but it seems to me that this pause process file should be cleaned up when the previous jenkins job finishes, regardless

[2019-12-06 04:47] khimaros commented on #1742
@onlyjob -- I appreciate all of the work you've put into packaging podman (and surely many other packages), and I can see that you are passionate about upholding high standards of quality. As a Debian user of over 20 years and a former package maintainer myself, I'm in awe of the tremendous work and attention to detail that goes into providing such a solid foundation for the broader Linux distribu

[2019-12-06 05:24] L0stLink commented on #4522
Thank you for the update! for now I can create a new container, mount the same volumes (this is using postgres:alpine image from docker) and run it just fine — have not tried stopping it, I just hibernate the system between sessions and am able to get work done.

[2019-12-06 09:22] cfelder commented on #4649
I just installed docker on my f30 VM and tried again and it **fails** as well whereas it doesn't fail in my docker environment on my macOS host. Must be an issue with the configuration of the host system though.

[2019-12-06 09:32] vrothberg commented on #4649
Just to double check: it only fails in vi when trying to write? Opening works?

[2019-12-06 09:47] cfelder commented on #4649
Yes and shell redirection does:

[code]

[2019-12-06 10:09] cfelder commented on #4649
apparently this fails on the fedora-30 host in general

``touch /tmp/a && chown mail:mail /tmp/a && vi /tmp/a``

or

``touch /tmp/a && chown mail:mail /tmp/a && python3 -c "open('/tmp/a', 'w')"``

[2019-12-06 10:09] giuseppe commented on #4649
that is controlled by the `fs.protected_regular` sysctl.

Can you try `sysctl fs.protected_regular=0` and see if it changes the result you get?

[2019-12-06 10:15] cfelder commented on #4649
@giuseppe This resolves the issue on the host as well as on the container. Thanks.

[2019-12-06 10:48] #4556 closed

[2019-12-06 12:57] trusch opened #4653 "podman ps --pod <POD_NAME> doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I execute `podman ps --pod my_pod` it returns a obviously wrong and also unexpected error message: ```Error: `podman ps` takes no arguments ```

**Steps to reproduce the issue:**

1. `podman create pod --name my_pod`
1. `podman ps --pod my_pod`

**Describe the results you received:**

``

[2019-12-06 13:01] trusch commented on #4653
Sorry, I totally missed the purpuse of that flag -.-

[2019-12-06 13:01] #4653 closed

[2019-12-06 13:08] sshnaidm opened #4654 "Transition of ansible modules for podman to a new place"
Hi, all libpod devs and contributors

I'd like to raise a topic about podman/buildah Ansible modules. If this is not the best place to do it - please point me to the right one.

**Preface**:
Ansible project is going to remove their community modules from the main repo to collections in [Ansible Galaxy](https://galaxy.ansible.com/) and other repositories. Community modules should find them a new ho

[2019-12-06 13:58] vrothberg commented on #1742
The package in question exists to provide something for Debian users _now_ and is an _intentional_ decision by the Podman maintainers where @lsm5 is tirelessly making sure that as many users on as many distributions can run Podman, Buildah, Skopeo, CRI-O and all direct dependencies. It pre-dates the effort to get Podman into the main Debian repositories and is not meant to compete but to offer Pod

[2019-12-06 14:31] rhatdan commented on #1742
Ok let's keep this positive in nature.  Everyone's goal here is to get Podman and friends in front of as many people users as possible and on to their distribution of choice.

[2019-12-06 14:54] rhatdan commented on #4649
This is not a podman issue.

[2019-12-06 14:54] #4649 closed

[2019-12-06 15:02] lsm5 commented on #1742
@khimaros thanks for the supportive comment, really appreciate it. We certainly want to see podman and related tools shipped in all the (atleast major) distros. RE: valid critiques on quality, sure I'll update packaging sources soon as I can find the time to focus on those, but at the moment, my goal is to deliver functional packages to Debian and downstream users and accommodate as many user requ

[2019-12-06 15:21] rhatdan commented on #4654
This is fine with me.
How about we create ansible-container-creations?  Rather then make it be specific to Podman.  Would people be building buildah and potential skopeo content here?

[2019-12-06 15:47] gundalow commented on #4654
Hi,
Thanks for starting the discussion

1) To clarify github.com/ansible/ansible will contain only a very small number of modules and plugins. That list (and use-cases) are defined in [ansible-minimal](https://github.com/ansible-community/collection_migration/blob/master/scenarios/minimal/). Or put another way it's not just Community Content that will be moved from ansible/ansible into Collections

[2019-12-06 17:24] JAORMX commented on #4429
Still struggling with this issue :(

[2019-12-06 18:16] kedmison opened #4655 "pause.pid not cleaned up when podman killed by jenkins"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using podman commands, in a rootless mode, in a Jenkins pipeline.  the second and subsequent execution of the pipeline fails with an error.
[code]

I monitored the pause.pid file and the process it represented.  I could see both the file being created and the process being created, when

[2019-12-06 18:17] kedmison commented on #4057
@delenius Please check out issue #4655.  Are we encountering the same problem?

[2019-12-06 18:19] mheon commented on #4655
@giuseppe Don't we have code for recreating the pause process if it's dead as of 1.6.x? I believe I remember that being added

[2019-12-06 18:21] mheon commented on #4655
In a brief test, it appears Podman master will recreate the pause process if it has died in the interim. Closing as this is fixed upstream.

[2019-12-06 18:21] #4655 closed

[2019-12-06 18:25] kedmison commented on #4655
Is there any harm in testing for the presence of the pause.pid process, and directly deleting the file if the process is gone?  I need something to make my pipelines work, rather than wait until I get a podman 1.6.x distribution...

[2019-12-06 18:44] mheon commented on #4655
I believe that should be fine.

[2019-12-06 19:01] sshnaidm commented on #4654
Yeah, I think it's great to have other modules there too. At least we will be prepared for that.

[2019-12-06 19:20] delenius commented on #4057
Yes, same problem. I ended up removing my comment because I am running an older version of podman, (1.4.4, same as in #4655), and I figured it might have gotten fixed since then. I also found a workaround, which is to just add
[code]
before the podman command, in the jenkins shell script. Not sure if this has some inherent dangers, mind you ;)

[2019-12-06 19:55] geerlingguy commented on #4654
If using a container-y namespace, it might be good to manage all the container-related modules in there—docker, buildah, podman...

The only concern I have is what if one of those communities decides they want to split off and manage the release cadance/etc. differently?

[2019-12-06 20:06] TomSweeneyRedHat commented on #4429
I'm going to close this PR.  I've tested today and this is working in Podman upstream.  I do see the issue in Podman v1.6.2.  I believe it's fixed in Podman v1.6.3 but I unfortunately don't have easy access to an rpm at the moment to test with.