[2021-05-25 06:23] PavelSosin-320 commented on #10441
Second thought: can command podman system service exist in the systemd-based system? Why not simple systemctl enable podman.service It will work in any scenario, root and rootless. It also allows expressing dependency of Slave services providing GUI, proxy (nginx) , and monitoring from the Podman service. Nginx is important because without Websocket or grpc any good GUI is impossible. Nginx is nee

[2021-05-25 07:11] giuseppe commented on #10445
when rootfs is used Podman doesn't manage the storage at all.

Podman expects rootfs to already have the correct files ownership.  I don't think this will change with idmapped mounts, unless it is configured before Podman runs.

[2021-05-25 07:55] vrothberg commented on #10215
Thanks for checking!  Apologies for not getting back to the issue after #10147 was merged.

[2021-05-25 07:55] #10215 closed

[2021-05-25 08:32] PavelSosin-320 commented on #10441
So, unit. Something like podman.service:
[Unit]
Description=Podman endpoint
[Service]
ExecStart=podman system service -t 0
[Install]
WantedBy=default.target

ToDo: how to stop Podman service if I don't want to leave open sockets and ports unattended?

[2021-05-25 08:53] lukash commented on #10321
@rhatdan thanks, I've added the bind mount to our workflow: https://github.com/lukash/ci-dnf-stack/blob/54c049d9936b0fcaa0307862c5fa657558cbf839/.github/workflows/ci.yml#L43

And verified that in the outer docker container the directory is not on the overlay anymore:
[code]

Looked promising for a few days, but today the bug has hit again: https://github.com/rpm-software-management/ci-dnf-stack/ru

[2021-05-25 09:39] #10444 closed

[2021-05-25 09:48] niclashoyer commented on #8545
I'm also running into this, but with a different error:

[code]

Running as root works as it should. The error message suggest problems with SELinux https://github.com/containers/podman/issues/7441, but I'm running on Ubuntu 20.04 which does not have SELinux, so I can't just run ` setsebool -P container_manage_cgroup 1`. Could this be AppArmor or something?

[2021-05-25 10:39] ranjithrajaram commented on #5431
Test this. Have put together a workaround based on the earlier comments

1. For "firewall-cmd --reload"

[Unit]
Description=firewalld reload hook - run a hook script on firewalld reload
Wants=dbus.service
After=dbus.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/bin/busctl monitor --system --match "interface=org.fedoraproject.FirewallD1,member=Reloaded"  --match "interface=org.fedoraproje

[2021-05-25 11:06] q2dg commented on #10308
Oh, my English is very poor and I also don't listen very well, so maybe we have some communication problems, but if you don't mind "wasting your time", it's an honor for me! I live in Spain, so we have 7 hours difference: when it is 3:00 pm here, there it is 9:00 am ... knowing this, if you choose the time that suits you best, I can adapt to it. Anyway, if you want to try it for your convenience,

[2021-05-25 11:22] vrothberg commented on #10344
Closing as the bug has been fixed. Thanks again for the report!

[2021-05-25 11:22] #10344 closed

[2021-05-25 11:49] vrothberg commented on #10116
Apologies for not going back to the issue before, @micah.

While we need to update the `podman-pull` man page, the issue is that the `certs.d` directory does not comply with the expected structure (see `man containers-certs.d`). It's `/etc/containers/certs.d/additional.crt` but should be `/etc/containers/certs.d/registry.example.com/additional.crt` (note that **/registry.example.com/**).

I am goi

[2021-05-25 11:49] #10116 closed

[2021-05-25 12:08] 5eraph commented on #8545
Hi @niclashoyer ,
I am running exactly same env so it should work. Did you try any suggested configuration changes fromthis thread? libpam-cfgs? Still same issue?

[2021-05-25 12:35] niclashoyer commented on #8545
Does `libpam-cfgs` need a reboot? Can't reboot the system at the moment, will get back to you if it rebooted.

[2021-05-25 12:39] edsantiago opened #10454 "podman rm, with more than one arg: error removing container, unlinkat, EBUSY"
It looks like the cause of our new unlinkat/EBUSY flake is `podman rm` with more than one argument:
[code]
It can take one minute, but more typically it's about five.

master @ 78df4f6fb2e2a404ace69219a50652f4335b7ce1. Running rootless on f34.

[2021-05-25 12:48] rhatdan commented on #10308
That is the thing, I have tried and it worked for me.

Send your email address to dwalsh@redhat.com and I will setup a meetup.

[2021-05-25 13:08] buleherb opened #10455 "No result for apt install/search podman on RaspPi 4B running 4 DietPi 64bit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running DietPi 7.1.2 64bit on a Raspberry Pi 4B 4GB (arm64). Using 'apt search podman' or 'apt install podman' (after an 'apt search'), I can't find the package. I have flushed my firewall and have had no problem finding other packages before.

My apt sources look like this:
deb https://deb.de

[2021-05-25 13:21] 5eraph commented on #8545
No it did not in my case.

[2021-05-25 13:22] edsantiago commented on #10454
Got it to fail with `--log-level=debug`:
[code]

[2021-05-25 13:29] niclashoyer commented on #8545
yes SSH

[2021-05-25 13:43] rhatdan commented on #10454
@mheon I believe this could happen if the c.state.State == define.ContainerStateStopped and you attempt to remove it.  Should we wait in the condition?  If we wait, will the status be able to change?

[2021-05-25 13:54] 5eraph commented on #8545
Alright I checked with image you use and I am able to replicate @c-goes issue. Approx. 1 in four starts is alright.

[2021-05-25 13:56] giuseppe commented on #10455
@lsm5 PTAL

[2021-05-25 14:17] mheon commented on #10454
I don't think that's possible - the container is already locked, there's no potential for a race.

`DEBU[0010] Container 2e7fd598ead121a836c788756db812685e3daa9f2698dfc08c21bfca32ed9d9f storage is already unmounted, skipping...`

That right there is extremely suspicious. The container is marked as unmounted in the DB, yet clearly it's still mounted because it's failing. I'm not sure how this happe

[2021-05-25 14:24] rhatdan commented on #10454
@edsantiago could you attempt to remove the container afterwards to prove this is a race.

I was thinking the container could be stopped but not cleaned up yet, and we go in and attempt to remove it.

[2021-05-25 14:27] edsantiago commented on #10454
I'm not sure what you mean by "remove the container afterwards" -- in all cases, both containers are gone: the `rm` is successful, at least as far as I can tell. `podman ps -a` always shows empty. Is that what you're asking?

[2021-05-25 14:30] mheon commented on #10454
@rhatdan We clean up as part of removal - you can see it in the logs.

The container is guaranteed to be gone after `podman rm` runs - if we're leaving anything behind, it's a storage container.

[2021-05-25 14:36] rhatdan commented on #10454
The only reason that the image would be busy, would be if something is mounted on the image or if a process is running on the image.

[2021-05-25 14:43] mheon commented on #10454
@rhatdan It's *much* better to get rid of the containers, even if there's a storage container left over - we had so many issues in the early days with containers that could not be removed at all without manual intervention. Defaulting to getting rid of the container is much safer.

[2021-05-25 14:45] rhatdan commented on #10454
Ok but any thoughts on what is happening?

[2021-05-25 14:47] mheon commented on #10454
Initial thought: cleanup process has already fired but failed to clean up, and the container was marked as unmounted despite this failure. As to why: lingering container process using the mountpoint, maybe? We really need to get the initial error message on the unmount attempt. Does this replicate outside of CI?

[2021-05-25 14:50] edsantiago commented on #10454
Trivially. See initial comment for one-line reproducer.

[2021-05-25 14:55] rhatdan commented on #10454
@edsantiago 10452 is always this flake.  I think the problem can happen with a normal race.

[2021-05-25 15:09] dcermak opened #10457 "Healthcheck is ignored in compose files when adding labels to volumes"
/kind bug

**Description**

It appears that podman is ignoring the `healtcheck` configuration in a compose file if you add a `:Z` or a `:z` label to a volume.

**Steps to reproduce the issue:**

1. `git clone https://github.com/os-autoinst/openQA.git && cd container/webui && sed -i 's|./workdir/db:/var/lib/postgresql/data|./workdir/db:/var/lib/postgresql/data:z|' docker-compose.yaml`

2. `docker-c

[2021-05-25 15:27] hlascelles commented on #7544
A small fix: @xals is right, but he meant `cgroup_manager` not `cgroup_engine`, I think.

ie, you want:

[code]

[2021-05-25 15:32] edsantiago commented on #10454
New information: there is a ten-second pause when this happens:
[code]

[2021-05-25 15:34] edsantiago commented on #10454
Here's my latest reproducer, slightly updated to make output more readable:
[code]

[2021-05-25 15:43] 5eraph commented on #8545
@niclashoyer I checked image you run and issue is in the volume binding. It tries to mount dirs required by systemd - [see here](https://github.com/geerlingguy/docker-ubuntu2004-ansible/blob/master/Dockerfile#L46). In case of podman this is handled automatically and somehow these two configuration clash.

When I removed mentioned line from dockerfile I managed to run the container without issues.

[2021-05-25 15:44] hlascelles opened #10458 "Podman fails DIND when systemd is not available"
When podman runs in container and `systemd` is not available, we see the error: "Error: cannot open sd-bus: No such file or directory: OCI not found".

I believe I have solved this, but because that error was not easy to find, I hope this provides a Googleable result for [those that follow](https://xkcd.com/979/).

### Use case:

I am running `podman` 3.1.2 inside a privileged `ubuntu` based conta

[2021-05-25 15:59] rechandler12 commented on #10455
As far as I know podman is available for Bullseye

[2021-05-25 16:07] buleherb commented on #10455
I'm not sure why podman isn't available on my system. I've included below the output of 'uname -a' and my Debian version, and have edited the post with this new info.

uname -a:
Linux hostname 5.10.17-v8+ #1414 SMP PREEMPT Fri Apr 30 13:23:25 BST 2021 aarch64 GNU/Linux

cat /etc/debian-version:
10.9

[2021-05-25 16:13] rechandler12 commented on #10455
Look here:
https://packages.debian.org/bullseye/podman

You've got Buster:
deb https://deb.debian.org/debian/ buster main contrib non-free

and you need at least Bullseye

[2021-05-25 16:17] buleherb commented on #10455
I'm a bit lost here sorry, do I need to reinstall my OS to Bullseye in order to use podman?

[2021-05-25 16:22] rechandler12 commented on #10455
You can upgrade your system to Bullseye or do what you want from beginning, install by this guide: https://computingforgeeks.com/how-to-install-podman-on-debian/

You have to install podman manually because there is no package

[2021-05-25 16:24] adambkaplan commented on #6721
Note that buildah will need this fix as well, so that it can be vendored into OpenShift builds.

See https://bugzilla.redhat.com/show_bug.cgi?id=1964327

[2021-05-25 16:27] buleherb commented on #10455
That's grand thanks for that. Out of curiosity why is podman not available for Buster? Bullseye isn't yet stable?

[2021-05-25 17:26] rhatdan commented on #8545
If the image has volumes on those directories, than Podman should not mount its own volumes there.  So removing these volumes makes the most sense.

[2021-05-25 17:26] rhatdan commented on #8545
Also, I don't believe systemd would work with a non cgroup file system mounted at /sys/fs/cgroup and I am not sure if it would be happy with /run not being a tmpfs.

[2021-05-25 18:04] rhatdan commented on #6721
Once it is in libimage, it will be vendored into Podman, Buildah and CRI-O.

[2021-05-25 18:47] Poweranimal commented on #9169
Hi there, I'm still facing the same problem and wanted to ask, if I'm missing something here.

Running: `docker-compose -H unix:///run/user/1000/podman/podman.sock up`
Error: `ERROR: for docker_redis_1  network connect is not enabled for rootless containers`

**podman --version**
podman version 3.1.2

[2021-05-25 19:00] matejvasek opened #10459 "Data races related to libimage events"
After introduction of libimage events I can see dataraces caught by sanitizer:

[code]

[2021-05-25 19:00] matejvasek commented on #10459
/cc @vrothberg

[2021-05-25 19:09] zensolution opened #10460 "podman official docker image failed at "error creating runtime static files directory""
I build a docker image using the Dockerfile below,

    FROM quay.io/containers/podman:latest
    USER podman

When I run the image, enter the container shell and run the command "podman info", I got the following error.

    sh-5.1$ podman info
    Error: error creating runtime static files directory: mkdir /home/podman/.local/share/containers/storage: permission denied

As far as I know, the /ho

[2021-05-25 19:21] Luap99 commented on #9169
You need version 3.2 (will be released soon).

[2021-05-25 19:42] #10283 closed

[2021-05-25 20:02] edsantiago commented on #10454
With `podman-3.1.2-3.fc34` on my laptop, changing `./bin/podman rm ...` to `/usr/bin/podman rm ...`, the reproducer still fails.

However: if I change **all** `./bin/podman` to `/usr/bin/podman` (i.e. the `podman run`s) ... it runs fine for thirty minutes and is still happily going. The implication, at least in my simple reading, is that (a) the problem is new since 3.1.2 and (b) the problem is in

[2021-05-25 20:19] psaini79 opened #10462 "PODMAN and systemd immediate halt"
kind bug

**Description**

I am testing systemd based containers and one of the env I found the issue when I pass kill -RTMIN+13 but the container doesn't get restarted. However, it works perfectly fine on other containers.

Do we know at which version of systemd we have the fix immediate halt using real-time signals? The systemd version where it didn't work is systemd-libs-208-71  and where it wo

[2021-05-25 20:28] rhatdan commented on #10454
I just tried
[code]
And I am not getting any errors.

[2021-05-25 20:30] mheon commented on #10462
Can you clarify what your problem is here? I'm having trouble understanding.

Podman automatically sets container stop signal to RTMIN+3 on any container where we detect that systemd is PID 1 (or when you force systemd detection with the `--systemd=always` flag). The `podman stop` command will automatically send this signal when stopping containers with systemd PID 1. We have done this since befor

[2021-05-25 20:33] mheon commented on #10460
@rhatdan Another podman-in-container

[2021-05-25 20:35] mheon commented on #8545
The `/run` bit is a systemd requirement, it will just fail to start without that being true (systemd checks on init). I'm not as sure about `/sys/fs/cgroup` but I imagine the same should be true there.

[2021-05-25 20:48] psaini79 commented on #10462
@mheon

I am killing podman containers from inside the container and these containers are systemd-based. My concern is to understand what is the minimum version of systemd is required to pass `kill -RTMIN+13` from inside the container to make sure the container will exit.

I think podman is doing its job but it is mainly systemd that performs immediate halt so I need to make sure my containers mus

[2021-05-25 20:52] edsantiago commented on #10454
What is the value of "podman"? Are you using system podman, or `./bin/podman` from your tree?

FWIW your reproducer triggers the failure on my system:
[code]
I can also reproduce it if I use `/usr/bin/podman` for the `rm`. It even fails twice:
[code]
I cannot reproduce the flake if I use `/usr/bin/podman` (3.1.2) for the `run` commands. IOW, I still believe the flake is a new bug in `podman run`,

[2021-05-25 20:54] rhatdan commented on #10454
Well I can not get this to fail, but I am not using fuse-overlayfs.
@giuseppe Any ideas.

We are only seeing this on Ubuntu machines in CI system, although @edsantiago and @mheon have gotten it to fail on Fedora. With the reproducer above.

@mheon Was the fuse-overlayfs failure repeatable?

Newer versions of podman are executing the overlay fs with new options?  Could this be related?

[2021-05-25 20:56] rhatdan commented on #10454
Running
$ for i in {1..100}; do ./bin/podman run --name test$i alpine true; done
$ ./bin/podman rm $(seq --format="test%.0f" 1 100)
On my machine works perfectly, but I am not using fuse-overlayfs, native overlay since I have the newer kernel.

[2021-05-25 20:57] edsantiago commented on #10454
FYI my kernel is 5.11.17-300.fc34

I'm not feeling a great desire to `git bisect` right now, but if my hints above (10-second delay, problem in `podman run` not `podman rm`) don't help anyone, I will do so tomorrow.

[2021-05-25 21:00] Poweranimal commented on #9169
Got it. Thanks lot

[2021-05-25 21:00] mheon commented on #10462
This sounds more like a systemd question than a Podman question, then - I can't give you any help as to what versions of systemd behave in specific ways. I recommend opening an issue against Systemd for more information.

[2021-05-25 21:00] rhatdan commented on #10454
I just forced fuse-overlay and it still does not fail for me.

 $ for i in {1..100}; do ./bin/podman run --name test$i alpine true; done; ./bin/podman rm $(seq --format="test%.0f" 1 100)

[2021-05-25 21:02] rhatdan commented on #10462
Yes please ask SYStemd this.

[2021-05-25 21:02] #10462 closed

[2021-05-25 21:03] rhatdan commented on #10460
Please show us the docker command you are executing?

For now you need to execute --privileged.

[2021-05-25 21:06] rhatdan commented on #10457
I think the SELinux labels is a red herring.  Could you not add the :z and just run in permissive mode?

I think one of the issues would be if you are building the image on the fly, are we building in Docker format or OCI. OCI Images to not support healthchecks.

[2021-05-25 21:07] rhatdan commented on #10455
No one from the community has packaged it.

[2021-05-25 21:07] #10455 closed

[2021-05-25 21:09] buleherb commented on #10455
Ok. I'll build it with the article anyway, thanks very much. I was unsure as to whether it was compatible with my system or not based on the fact that it didn't seem available.

[2021-05-25 21:14] edsantiago commented on #10454
[code]

[2021-05-25 21:15] rhatdan commented on #8545
I am going to close this issue, since the problem seems to be with the image.

[2021-05-25 21:15] #8545 closed

[2021-05-25 21:34] Diniboy1123 opened #10463 "Outbound address is broken under rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating a rootless container, if I set outbound_addr as described in the podman run docs, doesn't matter if I set an IP or an interface it doesn't seem to work and instead every direct IP curl request hangs forever within the container.

**Steps to reproduce the issue:**

1. Create a ne

[2021-05-25 23:15] zensolution commented on #10460
Those are commands I am running. It seems to defeat the purpose to use rootless podman, if executing in privileged mode

    sh-5.1$ whoami
    podman
    sh-5.1$ podman info
    Error: error creating runtime static files directory: mkdir /home/podman/.local/share/containers/storage: permission denied
    sh-5.1$ ls -l /home/podman/.local/share/
    total 4
    drwxr-xr-x 2 root root 4096 May 25 2

[2021-05-25 23:17] sdeoras commented on #10344
thanks @vorburger , this is awesome news! :+1:

[2021-05-25 23:47] KCSesh commented on #10314
@giuseppe @rhatdan
If I start a 2nd container with the same mappings, is that safe to do so?

Container 1:
[code]

Container 2:
[code]

(All that changed between 1 and 2 is the "root" user in the container).

Or do I need to make sure container 2 changes the mapping for me as well?

[code]

Like this where I use: `--uidmap 1:165536:65536 ` and ` --gidmap 1:165536:65536 --gidmap 165536:1002:1 `

If

[2021-05-26 01:11] #10417 closed

[2021-05-26 04:25] zensolution commented on #10460
I made it work by using the Dockerfile below,

    FROM quay-io-mirror.dev-mgmt.nysdi.com/containers/podman:v3.1.2
    RUN mkdir -p /home/podman/.local/share/containers/storage
    RUN chown podman:podman -R /home/podman/.local
    USER podman

Then, I deployed the image to k8s using the pod.yaml below,

    apiVersion: v1
    kind: Pod
    metadata:
      name: static-web
    spec:
      containe

[2021-05-26 07:25] vrothberg commented on #10459
Thanks!  I think I could decrypt the output.

[2021-05-26 07:33] vrothberg commented on #10459
Opened https://github.com/containers/podman/pull/10466

[2021-05-26 07:51] #10420 closed

[2021-05-26 08:29] giuseppe commented on #10463
is the wg0 created on the host?  The rootless container  cannot access devices from the host network namespace

[2021-05-26 09:15] PavelSosin-320 opened #10467 "Please, add option to terminate Podman service and release sockets/ports using command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The Podman system service used by a rootless user creates Unix/TCP socket that can be left unattended while not used anymore until timeout expiration
If the user uses generated units to start/stop his/her containers then the container that shares or uses Podman's socket (like Ponteiner) c

[2021-05-26 09:17] Gelbpunkt opened #10468 "podman build --arch applies for base images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since podman 3, building an image with `--arch` that is not the host architecture applies to base images pulled.

**Steps to reproduce the issue:**

1. Create a Dockerfile with this content:
[code]

2. `podman build --arch arm64 .` on an x86_64 machine

**Describe the results you received:**

[2021-05-26 09:34] dcermak commented on #10457
I don't even have to change the selinux config to permissive: when I remove the `:z` flag then this happens:
[code]

The images get build by docker-compose on the fly. I assume that podman then uses the default (iirc OCI).

[2021-05-26 09:48] Diniboy1123 commented on #10463
It is, indeed. Why can it not access that? If I run curl for example from the same user on the host, it can just use the specific outbound IP/inteface.

But if that would be the case a warning would be helpful instead of silently failing.

[2021-05-26 11:06] giuseppe commented on #10463
sorry my last comment, I misunderstood the original post.

[2021-05-26 11:09] giuseppe commented on #10463
can you check what connection is performed?  What does `netstat -aenp | grep slirp4netns` show?

[2021-05-26 11:19] giuseppe commented on #10314
Ir works but you have less security because if a malicious process manages to escape a container then it has control on the files owned by the other container.  It is safer if the mappings are distinct and that is what the --userns=auto functionality is for

[2021-05-26 11:20] vrothberg commented on #9713
I just went back to the issue and think the behavior is sane.

Without `--arch` Podman attempts to use the image as specified by the user.  It may very well work with a non-native image if the underlying runtime is using an emulator.

That being said, if there's a local image `foo` and we do a `run foo` it will be used as is.  A `run --arch=amd64` however would realize that the local image does no

[2021-05-26 11:30] ssbarnea opened #10469 "Unable to easily stop an interactive podman container (keyboard)"
When running an interactive process like `podman run --systemd=always -it fauust/docker-systemd:debian-10` you endup with an app that seems to not be responsive to any standard stop/kill signals.

* `Ctrl-C` no effect
* `Ctr-D` no effect
* `Ctrl-\` no effect
* Magic key combination that appears to work `Ctrl-P Ctrl-Q`, but clearly that magic combination is not advertised by the application when it

[2021-05-26 11:35] vrothberg commented on #3550
I just went back to the issue and it's working now. @edsantiago can you confirm?

[2021-05-26 12:15] fauust commented on #10469
Indeed, I can confirm this. Another workaround is to stop/kill the container from another terminal (but this is clearly not very friendly).

Reproduced on:
- podman version 3.0.1 (Debian Bullseye);
- podman version 3.0.0 (Debian Buster).

[2021-05-26 12:29] edsantiago commented on #3550
@vrothberg I'm confused. I just copy/pasted the exact reproducer in the original comment (changing 's/P/p/' in mountpoint), and the problem still persists with podman @ e81457dc8e6632f4e9c7a4d240c9a73e8d509bb3. Root and rootless. In what setup did you make it work?

[2021-05-26 12:36] vrothberg commented on #3550
@edsantiago, I also used the reproducer and ran rootless.  I didn't copy though, so maybe I had a typo.  It was almost too good to be true, so I wanted a double check.

[2021-05-26 12:59] statiksof opened #10470 "Error: error resolving storage path for container XXX lstat XXX/merged: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run centos:7

**Describe the results you received:**

[code]

**Describe the results you expected:**

run and shell into a container.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman versio

[2021-05-26 13:54] tmds opened #10471 "podman doesn't create volume host dir when it doesn't exist."
With `docker`:

[code]

This runs. `/tmp/doesntexist` is created.

With `podman`:

[code]

[2021-05-26 14:10] giuseppe commented on #10454
I think it could also be a regression in the kernel, I am still troubleshooting but after some time using the reproducer provided by @edsantiago I am able to reproduce locally.

It gets the system in a weird state:

[code]

and strace says:

[code]

Interesting, if I join just the mount namespace as root on the host, I am able to umount it.

[2021-05-26 14:14] edsantiago commented on #10454
It could be, but why can I not reproduce the problem with `/usr/bin/podman` (3.1.2)?

Incidentally, this is also [happening with podman rm -a](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5883113000665088/html/sys-podman-ubuntu-2010-rootless-host.log.html#t--00025), not just explicitly-enumerated containers.

[2021-05-26 14:18] rhatdan commented on #10454
Yes I switched the test to run with three podman rm commands rather then one, and it still flaked.  It is definitely something to do with rootless podman rm failing. because of a mount point in use.

Could this be some kind of mount space leak?

[2021-05-26 14:18] edsantiago commented on #10454
## sys: podman start --all - start all containers
* ubuntu-2010 : sys podman ubuntu-2010 rootless host
  * PR #10452
    * [05-25 12:04](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6558486038315008/html/sys-podman-ubuntu-2010-rootless-host.log.html)
    * [05-25 11:00](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/contai

[2021-05-26 14:25] rhatdan commented on #10460
That should be fixed in podman 3.2.

[2021-05-26 14:32] #10459 closed

[2021-05-26 14:34] mheon commented on #10470
Can you provide further details about the system - is /home on a network filesystem (NFS or similar)? Does running Podman as root work? Do you have any details about how Ansible is installing Podman?

[2021-05-26 14:47] rhatdan commented on #10468
Yes we unified the --arch image to refer to the first FROM in an image as well as the default for all commands podman pull --arch, buildah from --arch ...

[2021-05-26 14:54] rhatdan commented on #10468
We might be able to support something like

FROM --platform=$BUILDPLATFORM golang:alpine AS build

Which is a new feature of Buildkit, which would give you the ultimate flexibility, or add a new option

--commit-platform?

[2021-05-26 15:04] rhatdan commented on #9713
That is what I would want correct.

[code]

[2021-05-26 15:04] rhatdan commented on #9713
$ podman -v
podman version 3.2.0-rc2

Seems to work in master.

[2021-05-26 15:12] zensolution commented on #10460
@rhatdan Thank you for updating. I am good for now. but I feel like it seems to be an issue that **root** is the ower of /**home/podman/.local/share/containers/storage**, which prevent **podman** to run as rootless. Workaround below works, but it is a hack.

    RUN mkdir -p /home/podman/.local/share/containers/storage
    RUN chown podman:podman -R /home/podman/.local

[2021-05-26 15:17] vrothberg commented on #6721
https://github.com/containers/common/pull/579 fixed the issue.  It'll be fixed in Podman next time we vendor c/common.

[2021-05-26 15:28] arctic-alpaca opened #10474 ""Get events" API endpoint only returns a single result if streaming isn't used"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Hello,
the [get events API endpoint](https://docs.podman.io/en/latest/_static/api.html#operation/SystemEventsLibpod) only returns a single result if streaming isn't used. If this is intended, it doesn't seem to be documented.

**Steps to reproduce the issue:**

1. Start podman API.

2. Request

[2021-05-26 15:29] edsantiago commented on #10454
Sorry, @vrothberg. Looks like #10219, which is consistent with the 2021-05-20 appearance of this flake.
[code]

[2021-05-26 15:41] rhatdan commented on #10469
Systemd always changes the Stop character to something only systemd understands, and you can not generate that at the keyboard.

[2021-05-26 15:41] edsantiago commented on #10454
[code]

[2021-05-26 15:42] rhatdan commented on #10469
man podman run
...
   --systemd=true|false|always
...
       It will also set the default stop signal to SIGRTMIN+3.

[2021-05-26 15:42] rhatdan commented on #10469
The issue is that systemd ignores all of these control chars.

[2021-05-26 15:45] rhatdan commented on #10469
@mheon Could we theoretically translate the ^c from the TTY to the stop signal of the container when Podman is attached.  But even if we could this might not be what the user expects.

[2021-05-26 15:54] rhatdan commented on #10471
Yes, and we consider this a Bug in Docker.  Since a simple typo can lead to a random directory being created on the host OS.  We have rejected this before and believe it is the wrong behaviour.

Closed won't fix.  BTW I was forced kicking and screaming to allow this for the Remote Compatible API.

[2021-05-26 15:54] #10471 closed

[2021-05-26 16:17] edsantiago commented on #10454
I really wanted to be wrong, but I can't reproduce the flake with 62c14dcc4  (the commit just prior to #10219).

[2021-05-26 16:20] vrothberg commented on #10454
I like that more :^) I meditated over dinner on how #10219 may have caused it but turned in circles.

[2021-05-26 16:22] edsantiago commented on #10454
I may not have been clear: my comment above indicates that #10219 is almost 100% guaranteed to be the culprit. I'm sorry.

[2021-05-26 16:23] vrothberg commented on #10454
On nooos :^) I read _can_ reproduce.

[2021-05-26 16:27] avikivity commented on #9713
I get `Error: docker.io/fedora:33: image not known` in the reproducer. 3.2.0-rc2.

[2021-05-26 16:30] vrothberg commented on #10454
@edsantiago can you reproduce after reverting commit  8352e5bc3b280ecc0e9be45e6911fd6f8b9b45f0?

[2021-05-26 16:34] edsantiago commented on #10454
@vrothberg did you really want me to try to resolve the conflicts in `git revert 8352e`? That would take me the majority of the day, and I'm not confident I could get it right.

[2021-05-26 16:39] vrothberg commented on #10454
No, absolutely not, sorry for not checking if it reverts cleanly.  Can you try with https://paste.centos.org/view/a5a90a57?

[2021-05-26 16:40] vrothberg commented on #10454
Too late to function properly.  Need to massage the patch.

[2021-05-26 16:41] vrothberg commented on #10454
That'll compile: https://paste.centos.org/view/a51c1483

[2021-05-26 16:43] vrothberg commented on #10454
The thing is that `(libimage.Rutime*).Shutdown(...)` executes the same code as before.  The only thing that #10219 really added is _small_ delay before shutting down the store.  But my eyes are tired and maybe I miss the obvious.

[2021-05-26 16:44] edsantiago commented on #10454
Here's [the attempt I came up with](https://paste.centos.org/view/336c8221). It looks pretty similar to yours. I cannot (can not) reproduce the flake with that patch. Three iterations so far (with 10219, it almost always fails in one iteration). Sorry again.

[2021-05-26 16:46] edsantiago commented on #10454
@containers/podman-maintainers may I humbly suggest that this is an all-hands-on-deck moment?

[2021-05-26 16:47] mheon commented on #10469
@rhatdan That seems dangerous. What if the user actually wanted to send SIGTERM?

I think this is a unique case, and needs to be treated as one. Systemd only wants to stop if given a very specific and very unusual signal - SIGINT and SIGTERM as you might get with kill/Control-C are not sufficient. I think we have to respect systemd's wishes here.

[2021-05-26 16:49] mheon commented on #10454
Most suspicious bit I can see is switching from shutting down the store directly, to calling the Libimage shutdown function. That would be the first thing I look at.

[2021-05-26 16:50] vrothberg commented on #10454
@edsantiago, thanks a lot for testing!

One last request, could you test: https://paste.centos.org/view/fa6a32d4?

Here, we're not using libimage to shutdown the store.  I do not yet know why that would make any difference but I cannot rule it out at that point.

[2021-05-26 16:51] vrothberg commented on #10454
https://paste.centos.org/view/fa6a32d4 reverts that.  But as mentioned above, libimage shutdown does exactly that as well.  It's not obvious to me yet how that would impact.

Anyhow, I have to leave the keyboard.  Good luck, folks!

[2021-05-26 16:52] mheon commented on #10467
Does `systemctl stop podman.service` not suffice here?

I don't think we can make a Podman command to do this. The socket isn't even managed by us in the typical, socket-activated case - it's being managed by systemd. More generally, we don't know what init system there is on the system, so we can't tell exactly how to shut down the service. We could just instruct any open `system service` instanc

[2021-05-26 16:52] #10467 closed

[2021-05-26 16:57] edsantiago commented on #10454
Four iterations so far with the above patch (fa6a32d4). No flakes. To be clear: `r.libimageRuntime.Shutdown()` seems to be the cause of the flake.

[2021-05-26 17:24] edsantiago commented on #10454
Well.... I left the reproducer running anyway, and it just triggered. I don't know how many iterations, but according to the github timestamp above it took 26 minutes. This tells me that #10219 *did not* cause the problem, it just made it more pronounced.

[2021-05-26 17:39] miladfarca opened #10475 "Containers keep exiting randomly mid work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers stop and exit randomly on their own even mid work and return to the host environment.
[code]

**Steps to reproduce the issue:**

1. Create a new container: `docker run -it ubuntu bash`

2. Container exits on its intermittently even mid work.

**Describe the results you received:**

[2021-05-26 17:50] rhatdan commented on #10460
[code]

[2021-05-26 17:50] #10460 closed

[2021-05-26 18:22] #10469 closed

[2021-05-26 19:03] arctic-alpaca commented on #10474
After some more tests, it does seem to terminate at the appropriate time.

I found some other combinations that don't work as expected:
* `podman events --since=5h --until=1m` and `` curl -X GET --unix-socket /home/`whoami`/testing.sock "http://d/v3.0.0/libpod/events?since=5h&until=1m"`` immediately return without output.  `podman events --since=5h` does return multiple entries.
* `podman events -

[2021-05-26 19:16] mheon commented on #10475
Is there anything on the system that may be sending a signal to these containers? My guess would be a process on the host is shooting either the container process or Conmon with SIGINT or SIGTERM and they are exiting because of this.

[2021-05-26 19:29] rhatdan commented on #10475
`docker run -it ubuntu bash`?
I take it you have podman-docker installed?

[2021-05-26 19:52] ananthb opened #10478 "IPVLAN networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

Support ipvlan CNI plugin? I'd like to contribute. Can I get pointers to the macvlan code?

[2021-05-26 20:38] #10323 closed

[2021-05-26 20:39] Luap99 commented on #10478
Contributions are always welcome @ananthb.
The network create code lives under the `libpod/network` package. This is the function used to create macvlan networks: https://github.com/containers/podman/blob/master/libpod/network/create.go#L251

[2021-05-26 21:00] edsantiago commented on #10454
Another unhelpful data point: I reverted back to 62c14dc (commit before #10219), this time letting the reproducer run uninterrupted. Three hours later, no failures.  Is it possible that the simple existence of `libimageEventsShutdown` is causing the problem? This code is too Go-idiomatic for my C-trained brain.

[2021-05-26 21:09] edsantiago commented on #10412
Opting to `skip` in latest #9887. Closing this issue. If it's important to test this functionality in podman, please reopen this as a request to add a new podman system test.

[2021-05-26 21:09] #10412 closed

[2021-05-26 21:23] gth7754125 commented on #7301
Just can not find podman.sock file, type ```podman info ``` to check sock file's location.

[2021-05-26 21:43] m0rr1gan opened #10480 "Reproduced #9219 but rebooting does not fix the issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Reproduced #9219 but rebooting does not fix the issue.

**Steps to reproduce the issue:**

1. `podman run --name=test -d docker.io/archlinux sleep 600`

2. `podman exec test pwd`
Errors with "Error: writing file \`/sys/fs/cgroup/user.slice/user-1000.slice/user@1000.service/user.slice/libpod-60

[2021-05-26 21:44] miladfarca commented on #10475
@rhatdan Yes it is using podman behind the scenes.

@mheon possibly, but I'm not aware of such process. Has this never happened in the past? it's strange as i'm experiencing it on 2 separate machines.

[2021-05-26 22:02] q2dg commented on #10308
Well, thanks to the splendid help of @rhatdan and @vrothberg I've got podman running as the apache user. Waiting for definitive solution in https://github.com/containers/common/issues/580 , I'd want to summarize the (provisional) steps I've done. Specifically, in a Fedora Workstation 34 system...:

**1.**-I've disabled SELinux putting the _SELINUX=disabled_ line in "/etc/selinux/config" and I've r

[2021-05-26 22:02] #10308 closed

[2021-05-27 01:32] KCSesh commented on #10314
Thanks @giuseppe

But how would I map additional groups if I was user --userns=auto?

Above you had me map group 1002 as:

[code]
Because host is 100000 would be unused.

What about for userns=auto?
How do I pick an unused host is when I don't know which ID's auto is setting?

[2021-05-27 02:15] cdoern commented on #10058
@rhatdan I might be able to figure this one out. I found the proper files to edit, just might take me a bit to orient myself as to what is going on.

[2021-05-27 06:30] vrothberg commented on #10454
Thanks a lot for all the data points, @edsantiago.  I am under the impression that #10219 is merely increasing the chance of hitting the issue; maybe because it takes slightly longer to shutdown the store.

[2021-05-27 06:46] erikbgithub opened #10482 "Losing Quay Session; Looks like an Error -> UX improvement suggestion"
/kind feature

**Description**

During my DO180 training, I ran into the following error message.

![Error Screenshot](https://i.imgur.com/qcbEVcu.png)

**Steps to reproduce the issue:**

1. Start a DO180 Training VM (probably needs help from RH curriculum dev team)

2. Run the commands as described in above screenshot.

3. See the error message and how quickly it can go away.

**Describe the resu

[2021-05-27 07:40] tmds commented on #10471
@rhatdan is there a doc that describes these known differences?

[2021-05-27 07:51] giuseppe commented on #10314
please look at the documentation for `userns=auto`.  There is a way to force mappings to be present with "gidmapping": `auto:gidmapping=...`

[2021-05-27 10:02] ssbarnea commented on #10469
While I can understand @mheon concerns about changing default behavior, I do not see why we should not improve the user experience and log something like below when running with `--systemd=always -it` options:
[code]

Later we could even add another opt-in (configurable option) that translates a ^C, so users may be able to obtain the behavior they want, without risking affecting the default behavi

[2021-05-27 10:13] Diniboy1123 commented on #10463
This is all I am seeing: ```
[test@machine ~]$ netstat -aenp | grep slirp4netns
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
udp        0      0 10.65.203.10:39189      0.0.0.0:*                           1000       82515613   711710/slirp4netns
udp        0      0 10.65.203.10:53886      0.0.0.0:*

[2021-05-27 10:24] rhatdan commented on #10469
What happens when the --systemd flag is enabled, because you are using systemd within the container?  We envisioned --systemd=always as mainly a debugging tool.

[2021-05-27 10:37] rhatdan commented on #10308
I would just say, I am sure you could get this working with SELinux fairly easily.

[2021-05-27 10:58] ssbarnea commented on #10469
Is not so much about what am **I** using and more about what **others** are using podman with. I maintain ansible [molecule](https://github.com/ansible-community/molecule) testing framework and I cannot prevent people from starting containers with systemd or not. The default is not, but a significant number do try to use system as they want to test deployment of various services.

IMHO, I am yet t

[2021-05-27 11:19] edsantiago commented on #10454
I left 62c14dc running all night. 605 iterations, not a single crash.

[2021-05-27 12:40] vrothberg commented on #10454
@giuseppe may have found the source in c/storage. Could be an issue in comparing time stamps.

[2021-05-27 13:03] giuseppe commented on #10454
opened a PR: https://github.com/containers/storage/pull/926

[2021-05-27 13:14] mheon commented on #10478
If the question is whether we support using `ipvlan` networks, I think the answer is definitely yes - if you provide your own config, Podman will quite happily launch containers with it.

If the question is whether we can make the configs ourselves with `podman network create`, the answer to that is a no, but I don't see a specific reason why we couldn't start.

[2021-05-27 13:28] mheon commented on #10482
That is a very old Podman in that training VM... RHEL 8.2.0 is similarly out of date.

I would strongly encourage you to try again with a more recent Podman (the newly-released 8.4.0 shipped with 3.0.1, and upstream is preparing for a 3.2.0 release). We have made a lot of fixes since then, and this could very well be one of them.

Regardless of the current state of the fix, it won't be making it b

[2021-05-27 13:37] erikbgithub commented on #10482
@mheon Thanks for checking the situation. If I understand you correctly, you can't do much about this issue due to the version difference between the training Labs and current version?

It's a shame tho, isn't it? This training is so well designed. Really makes people want to use more Podman. Quite a favor the training team is doing for this project. If there would be anything that could be done,

[2021-05-27 14:45] rhatdan commented on #10475
Yes we have never heard of it.  After podman executes the containers are just processes on the system.  Podman/Conmon are just monitoring them.  If they die, either they are dying naturally or something like systemd or the kernel is shooting them in the head.

[2021-05-27 14:53] rhatdan commented on #10469
There are lots of tools that ignore ^c, so this is not that unusual.

[2021-05-27 15:02] hoonetorg commented on #9181
Any news on that? Especially asking @xordspar0.

[2021-05-27 15:06] hoonetorg commented on #9181
@xordspar0: I've seen you created the branch https://github.com/xordspar0/podman/tree/configMapVolumes, but you didn't push any commits yet, right?

[2021-05-27 16:25] ananthb commented on #10478
@mheon yeah I noticed that cni has ipvlan support, so it should just work. I couldn't understand why `podman network create -d ipvlan ...` was failing with an "unsupported driver" error, but I get it now. I'd be happy to contribute the necessary code to make `podman network create` work with ipvlan.

[2021-05-27 16:26] #10454 closed

[2021-05-27 17:10] rhatdan commented on #10482
Sure, the question is how do we get the version of Podman in the training updated?

[2021-05-27 17:13] rhatdan commented on #10482
I sent an Email internal to Red Hat to see who I should contact to see about getting the version updated.  I am  going to assume that podman 3.* fixes this issue and close it.

[2021-05-27 17:13] #10482 closed

[2021-05-27 17:27] nalind commented on #3550
I think the difference in your experience is going to come down to whether or not extracting the archive into a location outside of a volume attempts to put content below the directory where the volume is mounted in the container, e.g. an archive containing "tmp/foo" being extracted into "/", where "/tmp" is a mount point.

[2021-05-27 18:30] ananthb commented on #10478
@mheon also can confirm IPVLAN works by simply editing the conflist file. Thanks for clearing that up.

[2021-05-27 19:18] #9609 closed

[2021-05-27 22:03] xordspar0 commented on #9181
Thanks for your interest. I am still working on it in my free time. I have a pile of unfinished changes on my laptop. I may as well commit and push them. I'm not sure if I'm going in the right direction yet. The main thing I haven't figured out yet is where to store the data that will be mounted as a volume.

There, it's rebased and pushed: https://github.com/xordspar0/podman/tree/configMapVolumes

[2021-05-27 22:33] sbourlon opened #10491 "podman chdir to current working directory: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman chdir to the current working directory then segfault when running `podman secret ls`

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happe

[2021-05-27 23:19] matejvasek opened #10492 "Config priority and short-name-mode"
In Fedora 34 short-name-mode are in enforcing mode by default.
From the config `/etc/containers/registries.conf`:
[code]

This is really not good when using `podman` as a service as there is no interactive input.

So I tried to change it in `~/.cache/containers/short-name-aliases.conf`.

I am positive that the `podman` at least reads into `~/.cache/containers/short-name-aliases.conf`.
a) according

[2021-05-27 23:19] matejvasek commented on #10492
/cc @vrothberg

[2021-05-28 01:40] zhangguanzhang commented on #10491
use the latest code:
[code]

[2021-05-28 06:13] eriksjolund opened #10493 "Use Systemd specifiers in the line "RequiresMountsFor=" from "podman generate systemd --new""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman generate systemd --new`  does not make use of Systemd specifiers in the line that starts with `RequiresMountsFor=`.

By changing for instance

[code]
to
[code]
the unit file would be made more portable and could be reused by another user. (If the other user would have a non-standa

[2021-05-28 08:24] Luap99 commented on #10492
I think you need to set this in `~/.config/containers/registries.conf`. The `~/.cache/containers/short-name-aliases.conf` file is only used  to save the selections from the cli dropdown.

[2021-05-28 09:10] hoonetorg commented on #9181
Thank you @xordspar0. In your comment you say it's not working yet. I looked at the commit and can imagine what you do, but I am far away from understanding and being able to help or finish that work.
Will you have time to finish that work or maybe someone else can assist/finish that work?

One question:
In pkg/domain/infra/abi/play.go line 228-238 you implement registryCreds an dockerRegistryOpti

[2021-05-28 11:01] matejvasek commented on #10492
@Luap99  The `~/.config/containers/registries.conf` file seems to be not opened at all (according `strace -f`).

[2021-05-28 11:10] matejvasek commented on #10492
@Luap99 it works with `~/.config/containers/registries.conf`!

[2021-05-28 11:15] matejvasek commented on #10492
Another question: do we wan't to honour the setting even for Docker APIv2 endpoints? Because docker does allow short names.

[2021-05-28 14:13] arctic-alpaca opened #10494 "API remove network returns array instead of a single result"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[The API reference](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkDeleteLibpod) lists a single element as reponse to a request to the remove network endpoint. The API returns an array instead.

**Steps to reproduce the issue:**

1. ``podman system service unix:///home/`wh

[2021-05-28 14:20] arctic-alpaca opened #10495 "API list networks returns "null" instead of empty array when used with no networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The [list volumes API endpoint](https://docs.podman.io/en/latest/_static/api.html#operation/VolumeListLibpod) returns `[]` when called with no volumes, [list networks](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkListLibpod) returns `null` when used with no networks. Acc

[2021-05-28 15:50] cdbattags commented on #8452
I just wrote on https://github.com/kubernetes/minikube/issues/8003 about doing such. I'd be curious if it would make better sense to add an optional dependency on macOS podman install for vagrant and virtualbox for doing something like:

- [Podman remote clients for macOS and Windows | Enable Sysadmin](https://www.redhat.com/sysadmin/podman-clients-macos-windows)
- [How to replace Docker with Podm

[2021-05-28 18:19] sbourlon commented on #10491
I removed the segfault from the title if that part is solved in latest.

[2021-05-29 05:10] unknowndev233 opened #10496 "podman hang when viewing pod/remove the specific pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman hang when viewing pod/remove the specific pod, remove the container output error corresponding to a specific pod `Error: container 9583b6 and pod 34007 share lock ID 1: deadlock due to lock mismatch`

**Steps to reproduce the issue:**

1. `$ sudo podman pod rm 34007` or `$ sudo podman

[2021-05-29 08:06] 1sixth opened #10497 "Incorrect output of `podman search` if image description contains CJK Characters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

1. `podman search` *sometimes* prints `�` if the image description contains CJK characters.

2. Columns after *DESCRIPTION* don't line up properly if the image description contains CJK characters.

**Steps to reproduce the issue:**

Run `podman search docker.io/qbittorrent` or `podman search

[2021-05-29 09:37] afbjorklund commented on #8452
Both vagrant-machine and podman-machine are deprecated, in favor of using the new `podman-machine` with CoreOS...

There is of course nothing stopping you to use Vagrant and Virtualbox, but it is not an integrated "Podman Desktop" either.

I don't think there is any blog entry for this new QEMU offering, but maybe there _will_ be - once it has been released (3.2.0) ?

[code]

[2021-05-29 11:25] mheon commented on #10496
Please run ‘podman system renumber’ to resolve the problem and report if it
happens again.

On Sat, May 29, 2021 at 01:10 unknowndev233 ***@***.***>
wrote:

[2021-05-29 15:50] unknowndev233 commented on #10496
fixed

[2021-05-29 21:35] gigatexal opened #10501 "Unable to build containers from working Dockerfile manifests on Mac using Linux remote host and ActiveDirectory Mac user"
/kind bug

**Description**

Podman is being used on a Mac (`Darwin Kernel Version 19.6.0` or `Catalina 10.15.7`) pointing to a remote podman server running fedora configured over ssh. Pulling and running containers like `ubuntu` work just fine. But building a container with a Dockerfile that worked just fine in Docker-for-Mac does not. This is the first time I've used this setup where the front en

[2021-05-30 00:20] #10435 closed

[2021-05-30 11:17] #10180 closed

[2021-05-30 11:33] rhatdan commented on #10492
That will be controlled, by how the server is setup.  If you want the server to ignore short names, then it should be configured that way.  Either to allow them or to block, since obviously the Client side can not be made to prompt.

Bottom line, I believe shortnames are a risk that should be handled if the administrator wants to block the risk.

[2021-05-30 11:51] rhatdan commented on #10491
It looks like podman secret ls is trying to chdir to CWD, and since you set this up with permissions the testuser is not able to access, it is failing.

[2021-05-30 11:52] rhatdan commented on #10491
If you chown 755 /tmp/bugdemo, does it work?

[2021-05-31 06:41] livrrr opened #10503 "Containers exiting just after start with "Permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container exiting just after start, podman logs show this error:
`{"msg":"exec container process `/bin/entrypoint.sh`: Permission denied","level":"error","time":"2021-05-31T06:24:29.000786765Z"}`
While /bin/entrypoint.sh has all necessary permissions.

After `podman system reset` and containe

[2021-05-31 07:10] #10153 closed

[2021-05-31 08:13] vrothberg commented on #10492
Thanks for opening the issue, @matejvasek!

The `containers-registries.conf(5)` man page _should_ answer all of the questions.  In case information is missing, please let me know and I will open a PR to address it.

I think that depends on the individual use case.  Short-name resolution can be an attack vector [1] that aliases close.  If users wish to preserve the old behavior, they can change the

[2021-05-31 08:13] #10492 closed

[2021-05-31 08:39] vrothberg commented on #10497
Thanks for reaching out!

I will have a look what we can do. Docker has the same issue.  The underlying problem is that we're counting characters which are not equally wide in this case.

[2021-05-31 08:53] vrothberg commented on #10497
The � issue looks like a terminal issue rather than a Podman issue.

[2021-05-31 08:56] vrothberg commented on #10497
Regarding the correct alignment of the table, I fear that this will be hard. Even the tabwriter package [1] assumes that all characters have the same width.

[1] https://golang.org/pkg/text/tabwriter/

[2021-05-31 09:06] vrothberg commented on #10493
Thanks for the report, @eriksjolund!

I consider it a bug actually. Let's fix it before v3.2 gets out the door.

[2021-05-31 09:09] 1sixth commented on #10497
You are right. I just tried `kitty/0.20.3` and no `�` gets printed.

[2021-05-31 09:23] matejvasek commented on #10492
@vrothberg I see. Then at least we should improve the Docker APIv2 endpoint. Now it happily returns 200. It should return `Bad Request` or `Internal Server Error` instead.

[2021-05-31 09:37] vrothberg commented on #10493
Opened https://github.com/containers/podman/pull/10506

[2021-05-31 09:39] vrothberg commented on #10492
Can you give a reproducer?  It should only return 200 if there's an alias.

[2021-05-31 09:43] matejvasek commented on #10492
The endpoint returns 200 in advance before it does anything (similarly to wait endpoint). Error is reported latter in body as status message. So the error is detectable by caller, still I would prefer fail via http status code.

[2021-05-31 09:49] matejvasek commented on #10492
[code]

I encounter this while using `pack` (buildpacks CLI) which uses docker apiv2, so I even didn't see the error message. I just saw that subsequent call to the `/images/{name}/json` endpoint failed.

[2021-05-31 09:49] matejvasek commented on #10492
I could look into it.

[2021-05-31 09:49] matejvasek commented on #10492
Also the error message should link to the documentation better explaining what is happening.

[2021-05-31 09:50] ahmed-mez opened #10507 "The events API is not Docker-compatible when using the same filter multiple times"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman's events API doesn't handle the case where the same filter is used multiple times like Docker does.

Docker documentation: https://docs.docker.com/engine/reference/commandline/events/

However, Podman will still apply an AND instead of an OR for the example above.

**Steps to reproduce

[2021-05-31 09:50] vrothberg commented on #10492
Can you open a dedicated issue for that?  Feel free to tackle it :)

[2021-05-31 09:55] statiksof commented on #10470
I just tried this [role](https://github.com/alvistack/ansible-role-podman) mentioned in the installation instructions [here](https://podman.io/getting-started/installation).  Home is not on a network file system. I could install/run podman `2.2.1` using `yum` but with lot of post-installations modifications that could be automated by the ansible role.

[2021-05-31 11:10] mheon commented on #10503
Need to give us more info here - a ‘podman run’ command line that
reproduces would be ideal. Failing that, a ‘podman inspect’ on a failing
container could help. Is the entrypoint script on a volume? Does it only
break after a second container was added?

On Mon, May 31, 2021 at 02:42 Roman I. Liverovskiy ***@***.***>
wrote:

[2021-05-31 11:17] vrothberg commented on #10247
I finally managed to get back to this issue and read all the logs.  First, thanks for providing the logs; they are super helpful.

That means that the registry claims that the blob is not present, so Podman will upload it and create a record in the local cache that it has been uploaded.  Hence, Podman will push again once the cache has been deleted.

Maybe the registry misses a specific configurat

[2021-05-31 11:19] vrothberg commented on #10247
I am going to close the issue but we can continue the conversation here.

[2021-05-31 11:19] #10247 closed

[2021-05-31 12:16] vrothberg commented on #10057
To nail down the scope a bit further.  I depends which image we're attempting to pull from which registry.

**Docker**
[code]

**Podman**
[code]

While the "manifest unknown: manifest unknown" error is the same, the error reporting in Podman stutters a bit with the reference of the image being printed twice. I think we should remove the stuttering (must be done in c/image).

The authorized error i

[2021-05-31 12:35] c-goes commented on #5215
If someone comes from search engine to this issue and looks to make a environment similar to Raspberry Pi OS:
I tried something similar with success but used existing QEMU container images from Balena.
It's possible to run a Debian ARM system with systemd, rootless and unprivileged.

https://github.com/c-goes/qemu-podman-systemd

[2021-05-31 12:44] vrothberg commented on #10285
Podman v3.2.0 will be released this week and will hit CentOS Stream soon (Cc: @jnovy).  I am going to close the issue.  Please reopen if the issue persists after the update.

[2021-05-31 12:44] #10285 closed

[2021-05-31 12:53] #10493 closed

[2021-05-31 13:11] vrothberg commented on #4854
Reopening for the community as @weirdwiz ran short of time (https://github.com/containers/podman/pull/9017#issuecomment-841164033).

[2021-05-31 13:18] vrothberg commented on #10501
Thanks for reaching out!

Can you look at /etc/subuid and /etc/subgid?  It looks like these files aren't set up yet (see http://docs.podman.io/en/latest/markdown/podman.1.html#rootless-mode).

[2021-05-31 14:12] Semo commented on #9644
My personal guess is and correct me if I'm wrong, that @quantum77 was simply trying to find a automated way to translate a `docker-compose.yml `file into something that `podman` can understand and use the YAML file's contents to specify "how to run" a pod/container.
3rd post:

But it seems he/she lacks a bit on focussing and clarification. He/she references some chat on an IRC nobody knows of.

[2021-05-31 14:21] quantum77 commented on #9644
This is indeed what I was trying to do, however the podman procedure simply can not cope with docker containers which have more advanced features.  Further, documentation on the mechanics of this process is non-existent, so I gave up.

Now I am happily creating my own images with buildah, the way **I** want them.  Documentation on this complete procedure is also non-existent but I've figured it ou

[2021-05-31 14:37] vrothberg commented on #10507
Thanks for opening the issue!

We need to fix it in `libpod/events`.  Currently, we transform the filters into a `[]EventFilter`.  To support the disjunctive filtering for the _same_ filter, we should transform the slice into `map[string][]EventFilter` with the map key being the filter key (remaining conjunctive) with the value ([]EventFilter) being disjunctive.  In other words, at least one filte

[2021-05-31 14:52] ahmed-mez commented on #10507
Thank you @vrothberg fro the detailed response! I'd be happy to contribute a fix in the coming weeks.

[2021-05-31 16:15] dwhiteddsoft opened #10511 "Build podman on raspberry pi 2021-03-04-raspios-buster-armhf-lite.img"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. Try to follow these directions

2. Fails to work on step 7 (install podman) at make

3.

**Describe the results you received:**
CGO_ENABLED=1 \
	go build \
	-mod=vendor  \
	-gcflags 'all=-trimpath=/src/github.com/containers/libpod' \
	-asmf

[2021-05-31 16:34] Luap99 commented on #10511
Your go version is to old. It should work with version 1.15 or 1.16.

[2021-05-31 16:34] #10511 closed

[2021-05-31 19:10] Procyhon opened #10512 "containers-mounts.conf.5.md in two repositories"
/kind bug

I noticed that the file containers-mounts.conf.5.md is located in two different repositories.

first repository: https://github.com/containers/common/blob/master/docs/containers-mounts.conf.5.md
second repository: https://github.com/containers/podman/blob/master/docs/source/markdown/containers-mounts.conf.5.md

Both files are identical.

Is this desired or a mistake?

[2021-05-31 22:47] HarryMichal commented on #10296
The tests should be fairly easy to run now since I merged https://github.com/containers/toolbox/pull/774. I used the PR extensively on a FCOS host. So, after this I'll just update the test README and the `Requires` in the RPM package.

[2021-05-31 23:14] Mossman1215 opened #10513 "Docs: secrets command links 404"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't find the documentation for podman-secrets-create command on the first google search result because the links in the upper level documentation don't work

**Steps to reproduce the issue:**

1. browse to http://docs.podman.io/en/latest/Commands.html

2. click the link to [secret](http:/

[2021-05-31 23:15] Mossman1215 commented on #10513
Please let me know if there are any further things I can test.

[2021-06-01 07:06] vrothberg commented on #10507
Thanks, @ahmed-mez! I will try to tackle it today.  We are close to a release, and it would be good to have a fix for it in.

[2021-06-01 07:11] ahmed-mez commented on #10507
Sounds great, thank you!

[2021-06-01 07:38] pendulm commented on #10094
No, I'm not looking at this recently. But I have a reproducible environment. I will dig this when I have some time.

[2021-06-01 07:56] vrothberg commented on #10507
I opened https://github.com/containers/podman/pull/10514 to fix the issue.

[2021-06-01 08:59] vrothberg commented on #8785
@jwhonce PTAL

[2021-06-01 09:14] vrothberg commented on #10497
Thanks for checking, @1sixth!

I fear that there's nothing much Podman can do for the table formatting.  It's based on the assumption that all characters have an equal width (same for the Go standard library).

[2021-06-01 09:14] #10497 closed

[2021-06-01 09:17] patrickbkr commented on #3277
@rhatdan Can this issue be reopened?

From what I read above podman is still unreliable when there are non-trivial dns setups on the host.

[2021-06-01 09:25] vrothberg commented on #10495
Thanks for reaching out!

@cdoern, are you interested in tackling the issue?

[2021-06-01 09:37] vrothberg commented on #10513
Thanks for opening the issue!

@baude PTAL

[2021-06-01 11:45] vrothberg commented on #7139
@edsantiago, have you seen this flake since commit c9609d820b6f?  I wonder if this issue was an early symptom of the recent flake of doom.

[2021-06-01 11:56] vrothberg commented on #10512
Thanks for reaching out.  The source of truth should be the one in containers/common since the corresponding code lives there.  I'll open a PR to delete the file from the Podman repo.

[2021-06-01 11:58] vrothberg commented on #10512
https://github.com/containers/podman/pull/10516

[2021-06-01 12:11] vrothberg commented on #10480
@giuseppe PTAL

[2021-06-01 12:19] vrothberg commented on #10439
@DanHam, do you have access to logs and could share them? Running with `--log-level=debug` is a good start.  Do you see something suspicious in the journal?

[2021-06-01 12:24] vrothberg commented on #10404
Let's bump this back on the list.

I recommend going through the official Red Hat customer channels to report issues on Red Hat products.  This will help Red Hat engineers prioritize the issue.

[2021-06-01 12:34] vrothberg commented on #10361
`ps --filter network=...` expects the name or full ID of the network.  The `container:...` notation is not supported (yet).

[2021-06-01 12:35] cdoern commented on #10495
@vrothberg yeah sure! I've been working on another issue with API endpoints for the past few days so I should be able to pick this one up.

[2021-06-01 12:36] vrothberg commented on #10495
Thanks, @cdoern!  Feel free to ping me any time if you have a question.

[2021-06-01 12:36] DanHam commented on #10439
@vrothberg Hi. Thanks for taking a look at this.

Were you unable to reproduce the issue by forking the demo repository I created?

Just in case you missed it, please see the points under 'Steps to Reproduce the Issue' above.

If you fork the demo repo you can run the GitHub action yourself. This will give you full access to all of the logs and allow you to 'tinker' to further diagnose the issue.

[2021-06-01 12:40] vrothberg commented on #10439
Thanks, @DanHam!  Yes, I saw the reproducers but am short on time juggling a number of issues in parallel at the moment.  I may find more time tomorrow to look into it.

[2021-06-01 12:45] edsantiago commented on #10386
## Podman systemd [It] podman run container with systemd PID1
* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #10506
    * [05-31 06:23](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6178769590288384/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [05-31 06:23](https://storage.googleap

[2021-06-01 12:48] cdoern commented on #10058
see #10517 for PR regarding this issue.

[2021-06-01 13:03] edsantiago commented on #7139
No unlinkat/EBUSY flakes since May 27. I'm going to close in hopes that it was fixed by https://github.com/containers/storage/pull/926

[2021-06-01 13:03] #7139 closed

[2021-06-01 13:04] giuseppe commented on #10480
could you please show the output for the following commands launched from the same environment where the `podman exec` fails:

[code]

Please also attach the output for `podman --log-level debug exec test pwd`

[2021-06-01 13:36] baude commented on #8452
As Anders has already said, stay tuned.  Good things coming!

[2021-06-01 14:42] Atharva8 opened #10520 "Podman Rest API response on start exec instance returns an unknown conmon:d err to stderr"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm trying to execute a command on running container using the podman rest api and trying to get the output of stdout and stderr, But it returns a conmon:d  as stderr and the command output is returned fine in stdout. How can I remove this conmon:d output to stderr?

**Steps to reproduce the i

[2021-06-01 15:04] jdockter opened #10521 "Podman version difference between Ubuntu 18.04 and Ubuntu 20.x and 21.x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Is the podman version suppose to be the same on Ubuntu 18.04 and higher?

If I look at [kubic download page](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/) I see

[code]
Is there a limitation of podman to only run on version 3.0.1 or has newer versions just no

[2021-06-01 15:18] mheon commented on #10404
Concur - especially since, IMO, this is probably an issue with the pause issue being shipped, not Podman.

[2021-06-01 15:25] mheon commented on #10521
Please see https://podman.io/blogs/2021/03/02/podman-support-for-older-distros.html - the answer is that it should be technically possible, but maintenance for older distributions was becoming prohibitive for us. If the community wants to take over packaging for these distributions, we'd be happy to provide assistance, but we just don't have the manpower to continue doing it ourselves.

[2021-06-01 15:31] #10495 closed

[2021-06-01 15:32] mheon commented on #10520
This is an artifact of `--log-level=debug` and should go away if the server is not started this way.

This should be fixable (not sending Conmon logs, just container logs) but AFAIK it requires a conmon change.

[2021-06-01 15:34] cdoern commented on #10060
I've begun to work on this one, will ping with any questions!

[2021-06-01 15:35] Atharva8 commented on #10520
Thanks fixed the issue.

[2021-06-01 15:35] #10520 closed

[2021-06-01 15:42] jdockter commented on #10521
Okay thanks

[2021-06-01 15:51] mheon commented on #10501
@vrothberg It looks like he does - `podman info` shows a full swath of UIDs/GIDs available.

@gigatexal Can you provide the full error message? At the very least the UID/GID being requested as part of the failing `chown`? I suspect they are higher than 65536.

[2021-06-01 16:44] jwhonce commented on #8785
@vrothberg Looked, use of []interface{} in the inspect code makes a quick fix difficult.

[2021-06-01 17:06] #10512 closed

[2021-06-01 18:20] edsantiago opened #10522 "v3.2: AVC with volumes"
Test `030-run.bats:podman run - check workdir` is failing in podman-3.2.0-0.2.rc3.fc34 under podman and podman-remote, root and rootless. It's an AVC. I don't know why CI didn't catch it.
[code]
AVC is:
[code]
Easily reproduced on master @ cbffdddce6d741eac4f3efa132016aba99683500

container-selinux-2.162.1-3.fc34.noarch and also -2.162.2-1.fc34

[2021-06-01 18:21] mheon commented on #10522
@rhatdan PTAL

[2021-06-01 18:28] edsantiago commented on #10522
It works with `:Z`, as expected. This is a regression, because it's causing the following test to fail:

https://github.com/containers/podman/blob/cbffdddce6d741eac4f3efa132016aba99683500/test/system/030-run.bats#L602-L604

That test dates to 2021-01-21. I don't know why the test doesn't use `:Z` or why it ever worked without it. Perhaps something special about `--workdir`?

[2021-06-01 18:59] edsantiago commented on #10522
This is also manifesting in a lot of the `500-networking.bats` tests, which use `-v` (without `:Z`) to mount a file for the http server to serve.

[2021-06-01 19:06] rhatdan commented on #3277
Please open a new issue, describing your exact issues.

[2021-06-01 19:12] edsantiago commented on #10522
Problem is **selinux-policy-34.9-1.fc34**.  Everything works fine with 34.**8**-1.fc34.

Although this is not podman's fault, it's something we will need to deal with.

[2021-06-01 19:43] cdbattags commented on #8452
Any way to get access to that recording? And this works on Podman latest or would I have to build a specific branch?

[2021-06-01 19:44] rhatdan commented on #10522
This definitely looks like a valid error, and I have no idea why this worked in the past.  We should definitely not allow users to mount random content into SELinux containers and have it work.  Might be that the test systems previously did not have SELinux enabled, or had this /tmp/mypodman labeled correctly.  I don't see this as a bug in podman, but with an error in the test.

[2021-06-01 19:52] edsantiago commented on #10522
Some of these tests have exists and worked since 2020-01-16 (over a year). They worked until now, and broke with selinux-policy-34.9. I don't know why they worked or why they broke now. I'm just saying that we have a problem.

Adding `:Z` to tests may be a good thing to do moving forward; but if the new selinux-policy is the desired one, and if it will propagate to other Fedoras/RHEL, we will need

[2021-06-01 19:54] rhatdan commented on #10522
I think we fixed a security bug where podman containers were able to read user_tmp_t, so I think this is a good breakage, and we should fix the tests.

[2021-06-01 19:55] rhatdan commented on #10522
[code]

Perhaps the older version had `open` access, which would be a bug.

[2021-06-01 19:58] rhatdan commented on #10522
rpm -q --changelog selinux-policy

* Thu May 27 2021 Zdenek Pytela <zpytela@redhat.com> - 34.9-1
- Add kerberos object filetrans for nsswitchdomain
- Allow fail2ban watch various log files
- Add logging_watch_audit_log_files() and logging_watch_audit_log_dirs()
- Remove further modules recently removed from refpolicy
- Remove modules not shipped and not present in refpolicy
`- Revert "Add permissi

[2021-06-01 20:27] m0rr1gan commented on #10480
The first command was done and included at the bottom of the issue description.

I ended up reinstalling yesterday and after testing this morning, the problem has gone away and I am no longer able to reproduce.

[2021-06-01 20:27] #10480 closed

[2021-06-01 20:38] #6721 closed

[2021-06-01 20:39] rhatdan commented on #10105
@ashley-cui Have some time to work on this now?

[2021-06-01 20:53] rhatdan commented on #10163
As I recall the peer said this is fine for us to ship.

[2021-06-01 20:54] rhatdan commented on #10158
@Luap99 Mind taking a look at this?

[2021-06-01 20:57] rhatdan commented on #10104
@giuseppe Is this improved with the latest fuse-overlay changes?

[2021-06-01 21:01] giuseppe commented on #10104
This was an issue in older c/storage versions.  It is fixed in the last version

[2021-06-01 21:03] thmo commented on #10090
Problem persists with `podman-3.1.2-1.el8.2.16.x86_64` from the Kubic project.

[2021-06-01 21:18] rhatdan commented on #10104
Closing since it is fixed in the main branch.

[2021-06-01 21:18] #10104 closed

[2021-06-02 00:30] #10163 closed

[2021-06-02 00:37] #10522 closed

[2021-06-02 06:30] afbjorklund commented on #8452
The link is hidden at the top of the page: <https://podman.io/community/meeting/notes/2021-04-06/#bluejeans-recording>

As shown it is available in `v3.2.0-rc3`, there is no special branch. I have not tried it on Mac, I think you want latest QEMU ?

It should work on any qemu version, but if you want hardware support (HVF, similar to KVM on Linux) you want the latest...
Doubly so on the new Apple

[2021-06-02 07:24] Atharva8 opened #10528 "Unexpected null bytes returned in podman rest api logs endpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to get the response of the log endpoint i.e `/libpod/{name}/logs` with the stdout set to true using python's request library, but the response returns a byte object which has unexpected null bytes in it. But on running podman logs from the terminal the ouput is as expected

**Steps

[2021-06-02 07:41] vrothberg opened #10529 "remote events seems to lose data"
`podman-remote events` seems to lose data that the local client displays reliably (detected in https://github.com/containers/podman/pull/10514).  For reproducers, look for this issue's number in `test/system`.

[2021-06-02 09:38] DanHam commented on #10439
There should be a 'Run workflow' drop down/button on the right hand side. Click that. Then click the green 'Run Workflow' button

If you can't see that 'Run workflow' drop down then you may be on the wrong page. So:

1. From the main repo select the 'Actions' tab.
2. Under 'Workflows' -> All workflows -> Click on 'Demo issue'
3. In the main part of the window you should see the 'This workflow has

[2021-06-02 09:51] thmo commented on #10090
It's a single packed file. This worked for me:
[code]

[2021-06-02 09:54] DanHam commented on #10439
I can see you've run the action a few times!! :smile: Hopefully, you will now be able to drill down into each step and see the output.

[2021-06-02 10:07] jpalus opened #10530 "No access to /dev/ptmx"
It's not so much of a bug report but more like support request. I can't really tell if anything's wrong and if it is then where (podman/crun/systemd/something else).

What I'm trying to achieve is to run rootless container with full systemd boot inside and normal, non-root user running ie tmux when logged in over ssh. The last part, tmux that is, does not work due to lack of access to `/dev/ptmx`

[2021-06-02 11:23] zhangguanzhang commented on #10513
also exsit in http://docs.podman.io/en/latest/markdown/podman-machine.1.html

[2021-06-02 11:36] vrothberg commented on #10439
I played a bit with the GitHub action and saw the following logs in journal:
[code]

@giuseppe, do you know why it works as root but not rootless?

[2021-06-02 11:51] DanHam commented on #10439
@vrothberg @giuseppe Just to reiterate - the problematic container runs fine *rootless* on my local system. It is only trying to run the container rootless via a GitHub Action that I see the issue

[2021-06-02 11:54] vrothberg commented on #10439
Thanks, @DanHam.  It also runs fine on my local system.  @giuseppe is the cgroups experts, and I am sure he knows what's going on.  It could be that install dbus-launch will solve the problem but I wonder why we're not hitting the issue as root.

[2021-06-02 11:55] giuseppe commented on #10439
Does the rootless container have access to cgroups or systemd?  I think we need to enforce `--cgroup-manager cgroupfs`

[2021-06-02 12:34] DanHam commented on #10439
Right... but also - why are we only seeing this issue rootless on GitHub actions? Why do we not have the same issue running rootless locally?

[2021-06-02 12:51] rhatdan commented on #10513
Those should be fixed by the update.

[2021-06-02 13:01] edsantiago commented on #7360
Still present in 6df37abd502d53a695392723af0d4a4970be3e58

[2021-06-02 13:10] rhatdan commented on #10187
@giuseppe PTAL

[2021-06-02 13:32] rhatdan commented on #10530
@giuseppe Any ideas?

[2021-06-02 13:45] DanHam commented on #10439
@vrothberg @giuseppe

Running with `podman run -d --log-level=debug --cgroup-manager=cgroupfs --name deb10 localhost/debian-10-systemd` has no effect - the issue still occurs.

I've tried installing `dbus-launch` (this is provided by the `dbus-x11` package). This does not solve the issue.

However, now we are getting a different error:

[code]
Note that `dbus-x11` (and hence `dbus-launch`) is **NO

[2021-06-02 13:53] vrothberg commented on #10513
I just tested, it works now. Thanks!

[2021-06-02 13:53] #10513 closed

[2021-06-02 13:56] gigatexal commented on #10501
@mheon here's the full error:

[code]

1526776272 is the uid on my local machine
20 is the GID on my local machine for the current user

given the client/server nature of my setup the client being my mac and the server being a fedora vm i am not sure which end the fix needs to be created on

[2021-06-02 14:29] rhatdan commented on #10501
[code]
This looks very strange, that your host_id in /etc/subgid is set to 10?

[2021-06-02 14:37] #10507 closed

[2021-06-02 15:03] mheon commented on #10501
Good catch - that seems like a good candidate for the cause?

[2021-06-02 15:48] jchristi commented on #7693
@psgreco what was the resolution to this issue?

[2021-06-02 15:50] jchristi commented on #7693
I see that @psgreco subsequently authored this article: [The history of an API: GitLab Runner and Podman
](https://www.redhat.com/sysadmin/history-api)

[2021-06-02 16:08] Luap99 commented on #10158
I will take a look.

[2021-06-02 16:49] psgreco commented on #7693
@jchristi I've been using the API without issues since that article was written, it is still not enough for for gitlab people to declare it ready, but for me i is more than "good enough"

[2021-06-02 17:02] edsantiago commented on #10386
## Podman systemd [It] podman run container with systemd PID1
* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #10532
    * [06-02 09:05](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5178664745697280/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [06-02 09:05](https://storage.googleap

[2021-06-02 17:12] edsantiago opened #10535 "podman build --jobs 4(?) : panic: runtime error: invalid memory address or nil pointer dereference"
This is a one-off. Only one instance, no reproducer, am filing as a placeholder in case I see it again:
[code]
## sys: build with copy-from referencing the base image
* fedora-33 : sys podman fedora-33 rootless host
  * PR #10519
    * [06-01 10:41](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4929291260526592/html/sys-podman-fedora-33-rootless-host.

[2021-06-02 17:15] edsantiago commented on #10052
## compose: simple_port_map - curl (port 5000) failed with status 7
* fedora-34 : compose test on fedora-34 (root)
  * PR #10517
    * [06-01 15:08](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6091287196598272/html/compose-podman-fedora-34-root-host.log.html)

-----------

These too are network-related, one a missing result from a web fetch, another

[2021-06-02 19:01] faisalrazzak opened #15130 "Podman: Container image signing & verification in k8s clusters"

[2021-06-02 19:17] giuseppe commented on #10530
how was the container created?

I see different results when running as rootless:

[code]

[2021-06-02 19:21] giuseppe commented on #10439
this is done when Podman is running in a cgroup not owned by the rootless user.  This is done when running on systemd and cgroup v2.

`--cgroup-manager` is an option to `podman`, not `podman run`.  Could you please try with `podman --cgroup-manager=cgroupfs run -d --log-level=debug --name deb10 localhost/debian-10-systemd`?  Does the issue still happen?

[2021-06-02 19:59] gigatexal commented on #10501
I've no idea how that's set to 10...

[code]

[2021-06-02 20:08] jpalus commented on #10530
@giuseppe Indeed it's the `--cap-add SYS_ADMIN` that breaks it. More or less container is created with:
[code]
Where `/sbin/init` points to systemd. I suppose without `SYS_ADMIN` cap it works because systemd fails to remount `/dev/pts`:
[code]
I would very much be glad to drop `SYS_ADMIN` if there is a nicer way for non-root user inside container to read/write files from/to volume with same permis

[2021-06-02 20:25] giuseppe commented on #10530
Is CAP_DAC_OVERRIDE enough for that?

[2021-06-02 21:12] rhatdan commented on #10386
Could this be AppArmor causing this?  Has anyone looked at the audit.log to see if apparmor is complaining about something?

[2021-06-02 21:12] boaz0 commented on #8645
@rhatdan @jwhonce can you assign it to me?

[2021-06-02 21:18] edsantiago commented on #10386
For any log link above: click the link, Press `Home` key to go to the top of the log, click the `Task` link at top. That takes you to the Cirrus page for the failed run. I don't see an AppArmor log anywhere, but there's a `Run journal` tab that includes things like "PID", "scope", "control group", and EPERM.

[2021-06-02 21:22] #10535 closed

[2021-06-02 22:23] Mossman1215 commented on #10513
thanks!

[2021-06-02 23:06] rhatdan commented on #8645
You got it.

[2021-06-02 23:09] rhatdan commented on #10501
[code]

This gives your container 20 UIDs?

[2021-06-03 01:14] zhangguanzhang commented on #10513
http://docs.podman.io/en/latest/markdown/podman-secret-create.1.md
still happend

[2021-06-03 05:49] KCSesh opened #10538 "Podman Volume --type tmpfs seems to be a no-op"
Why do the podman examples for volume creation show:

[code]

When those both appear to be No-Op flags for creating mounts?
http://docs.podman.io/en/latest/markdown/podman-volume-create.1.html

tmpfs is a mount that is persisted in memory and is cleaned up when the container is killed.

From testing creating volumes with --opt device=tmpfs --opt type=tmpfs, the contents are written to disk and not

[2021-06-03 07:27] amtdas opened #10539 "Containers with `--restart=always` policy does not restart services automatically after system reboot."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Containers with `--restart=always` policy does not cause services to automatically restart after the system reboot, as it does with Docker.

**Steps to reproduce the issue:**

1. Create a new container with `--restart=always` policy

[code]

2. Reboot or restart the system/kernel
3. Contai

[2021-06-03 07:39] vrothberg commented on #10539
Thanks for opening the issue.  Since there's already an RFE in the Red Hat Bugzilla [1], I think we should keep the discussion there.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1967421

[2021-06-03 07:41] gigatexal commented on #10501
it was a hack that I added as the previously commented out line didn't work. Should I change it to 10?

[2021-06-03 07:46] vrothberg commented on #10501
The default on Fedora is 65536. Can you uncomment the first line and remove the second one in both files? That should restore the defaults.

[2021-06-03 08:24] gigatexal commented on #10501
restored both files and still get the same error.

This could be something?

[code]

GID doesn't report anything for my user.

[code]

[2021-06-03 08:43] vrothberg commented on #10501
Can you run `podman system migrate`?  Maybe the user namespace is still open.

`1000:1000` is usually the default in `/etc/passwd`

[2021-06-03 08:59] Luap99 commented on #10406
Since this question is answered I close this one. We can continue the discussion in your other issue.

[2021-06-03 08:59] #10406 closed

[2021-06-03 09:16] Luap99 commented on #10297
This should work to join the container network namespace:
[code]

Note: If you run into `Fatal: can't open lock file /run/xtables.lock: Permission denied` set the  `XTABLES_LOCKFILE` envar to a user writeable location, e.g. `XTABLES_LOCKFILE=/tmp/xtables.lock`.

Also the rules won't persist if the container is stopped and started again.

[2021-06-03 09:43] Luap99 commented on #10528
Can you pipe the output from podman logs into `od -t c` to check if it also contains the 0 bytes.

[2021-06-03 09:49] Luap99 commented on #9883
@mheon Have you started working on this?

[2021-06-03 09:58] jpalus commented on #10530
@giuseppe thanks, that's an interesting suggestion and I've tried to fit into my use case. Unfortunately some processes in hierarchy could have CAP_DAC_OVERRIDE while some must not. Even if it would be possible to control somehow, it would become too complex to manage. Also new files with CAP_DAC_OVERRIDE appear to be created with uid/gid of user inside container while it needs to be uid/gid of ho

[2021-06-03 10:02] gigatexal commented on #10501
sorry -- on the host or on the client with `--remote`?

[2021-06-03 10:05] gigatexal commented on #10501
ran it on the host, here's the output:

[code]

[2021-06-03 10:07] Luap99 commented on #10261
Can you retry with latest master. I think it should work now.

[2021-06-03 10:13] Luap99 commented on #10319
According to the code comment this is done for docker compat. https://github.com/containers/podman/blob/b64e20a53d3f5de262f2c475be490b35977d5f32/libpod/container_internal_linux.go#L1820-L1827

However I was unable to reproduce this behaviour with docker 20.10, should we just drop this @mheon?

[2021-06-03 10:19] DanHam commented on #10439
@giuseppe

Ah, OK! Sorry - should have spotted that.

So I've run again with `podman --cgroup-manager=cgroupfs run --log-level=debug -d --name deb10 localhost/debian-10-systemd`.

Unfortunately, this did not solve the issue. The error is identical to before.

See the results of the GitHub Action running *with* the `--cgroup-manager=cgroupfs` flag set [HERE](https://github.com/DanHam/gh-podman-demo

[2021-06-03 10:20] rhatdan commented on #10538
Interested in opening a PR to fix the documentation?

[2021-06-03 11:05] vrothberg commented on #3550
@nalind, iterating on https://github.com/containers/podman/issues/3550#issuecomment-748003131: What's your take on passing a map to translate paths to the copier?

Note: copying to running containers works. The data is also copied up to the volume once a created container starts.

[2021-06-03 11:31] giuseppe commented on #10439
That is just a debug statement.

I think the real failure is `kernel: overlayfs: unrecognized mount option "userxattr" or missing value`.

Podman is not correctly detecting support for overlay in a user namespace.  This was fixed recently, and probably the fix is not yet in the Podman version you are using.

I'd suggest to force the usage of fuse-overlayfs with `podman --storage-opt overlay.mount_

[2021-06-03 11:46] giuseppe commented on #10530
that would happen also with CAP_SYS_ADMIN, no?

[2021-06-03 11:55] jpalus commented on #10530
CAP_SYS_ADMIN is used so that `bindfs` can perform mount, `bindfs` maps inside container uid/gid 0 <-> uid/gid of normal user, which in turn results in host uid/gid outside of container.

[2021-06-03 11:58] giuseppe commented on #10530
one trick you could use is to add CAP_SYS_ADMIN, perform the bindfs mount then drop CAP_SYS_ADMIN and start systemd.

Another hint, have you had a look at `--userns keep-id`?  Would that work for you?

[2021-06-03 12:40] edsantiago commented on #10052
Another `Ncat: No route to host`:

## sys: podman networking: port with --userns=keep-id
* fedora-34 : sys podman fedora-34 root host
  * PR #10534
    * [06-02 11:45](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5830387411714048/html/sys-podman-fedora-34-root-host.log.html)

And another compose flake:

## compose: mount_and_label - curl (port 5000)

[2021-06-03 12:42] Timoses opened #10547 "rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run any podman command as a specific user (rootless podman)

**Describe the results you received:**
Error: could not get runtime: error creating tmpdir /run/user/1586400222/libpod/tmp: mkdir /run/user/1586400222: permission denied

**Describe the results

[2021-06-03 12:42] edsantiago commented on #9867
Still present: https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6152338764201984/html/bud-remote-fedora-34-root-host.log.html#t-00221

[2021-06-03 12:43] Timoses commented on #10547
I've tried
[code]

Shortly thereafter it worked, but then shortly after that again no longer with the same error again.

[2021-06-03 12:43] edsantiago commented on #9871
Still present: https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6152338764201984/html/bud-remote-fedora-34-root-host.log.html#t-00205

[2021-06-03 12:44] edsantiago commented on #9890
Still present: https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6152338764201984/html/bud-remote-fedora-34-root-host.log.html#t--00199

[2021-06-03 12:55] DanHam commented on #10439
@giuseppe

I've tried again with `podman --storage-driver overlay --storage-opt overlay.mount_program=/usr/bin/fuse-overlayfs`.

See the output from the run [HERE](https://github.com/DanHam/gh-podman-demo-issue/runs/2737003494?check_suite_focus=true)

As you can see this doesn't seem to help - the main issue still persists and the `kernel: overlayfs: unrecognized mount option "userxattr" or missin

[2021-06-03 13:13] cevich commented on #10386
IIRC, there is no `audit.log` on Ubuntu, AppArmor messages are logged into `kern.log` which is captured under the 'audit' tab.  The `journal` tab also may have clues as Ed explained.

[2021-06-03 13:14] Luap99 commented on #10494
I agree that it doesn't make sense to return an array.  However, I am not sure if we can change that now because this would be a breaking change to the API. @baude @jwhonce WDYT?

[2021-06-03 13:44] rhatdan commented on #10547
First it would be nice if you could use a more recent version of Podman then is available on RHEL7.  Any chance of upgrading to RHEL8.

This looks like you are having issues with how you login to this account.  And in certain situations the /run/user/UID is not accessible to you.

This directory is supposed to be created by systemd when you login, and often is not if you login as root and then `su

[2021-06-03 13:47] mheon commented on #9883
Yep, but I put it down ~two weeks ago and have not found time to pick it back up. I'll try and pick it back up next week.

[2021-06-03 13:59] ashley-cui commented on #10105
I think there's a PR that may have done this already, but I'll verify today.

[2021-06-03 14:04] nalind commented on #3550
`Rename` maps are an option that the API provides, but volume are located outside of the rootfs on the host, so `Put` chrooting into the rootfs to write things is going to thwart efforts to solve this with that.

You could try starting `Put` multiple times, once per volume, with each invocation reading from a pipe, and examine each item in the stream that `Get` creates as it goes.  You could then

[2021-06-03 14:34] jpalus commented on #10530
Yes I'm aware of `keep-id`, but I really like the idea of isolating normal users in container (other than volume access of course :) ) so I prefer not to use it. If performance was more important than it is in my case -- bindfs seems to affect it considerably -- I'd probably go with this option. It would be super awesome if there was some magic solution that would be performant, maintained isolati

[2021-06-03 14:34] #10530 closed

[2021-06-03 14:45] DanHam commented on #10439
`kernel: overlayfs: unrecognized mount option "userxattr" or missing value`

Is there anything further you can think of to try and diagnose if this is the root cause of our issue?

[2021-06-03 14:49] giuseppe commented on #10439
I am giving it a try, but I *think* the container is created correctly, then systemd exits immediately

[2021-06-03 15:00] giuseppe commented on #10439
yes, if you create the container without `-d` and using `-t` you can get more useful information:

[code]

That means systemd has no access to cgroups and it simply gives up.

systemd on cgroup v1 doesn't need access to all controllers, but it needs at least access to the named systemd hierarchy.

I am closing the issue because I don't think there is anything podman can do about it, but feel free

[2021-06-03 15:00] #10439 closed

[2021-06-03 15:04] mheon commented on #10319
Hm. I see it on Docker 19.03 with `docker run --net=host --hostname test1 -t -i --rm fedora cat /etc/hosts` - did they change it since?

[2021-06-03 15:08] mheon commented on #10547
Alternatively, you can `loginctl enable-linger` the user in question.

[2021-06-03 15:31] #10158 closed

[2021-06-03 15:48] Luap99 commented on #10319
[code]
I installed `moby-engine` on fedora34.

[2021-06-03 16:02] micah opened #10551 "Support specifying references with both a tag and a digest, as docker does"
/kind feature

**Description**

Docker allows you to specify references with both a tag and a digest, but podman currently does not support this. It would be good to have that harmonization with docker.

**Steps to reproduce the issue:**

1. `podman pull debian:buster@sha256:acf7795dc91df17e10effee064bd229580a9c34213b4dba578d64768af5d8c51`

2. compare with docker pull of the same

**Describe the r

[2021-06-03 16:11] rhatdan commented on #10494
I don't think this is worth breaking the API.

[2021-06-03 16:26] edsantiago commented on #9890
I no longer have access to any systems with docker. However, I think the history behing `--stdin` was [buildah issue 2863](https://github.com/containers/buildah/issues/2863), in which a Containerfile needed to read user input. This works with `podman build`, but I can see how it could be tricky or impossible to fix in podman-remote.

My only reason for wanting it fixed is running the buildah-bud t

[2021-06-03 16:30] Luap99 commented on #10319
Interesting, they just use /etc/hosts and /etc/resolv.conf unchanged, see: https://github.com/moby/moby/blob/97303df92191878fabe4939da30ad056f7e941ea/daemon/container_operations_unix.go#L391-L399
https://github.com/moby/moby/pull/41022

[2021-06-03 17:11] mheon commented on #10319
Damn, entirely correct - my test VM does have a `127.0.1.1` entry.

OK, that seems entirely reasonable, though IMO we should probably continue to do copies, instead of directly mounting in the host versions. Also, to ensure #8054 remains solved, I think we may want to add an entry for the current hostname if it does not exist.

[2021-06-03 17:15] aressem commented on #10319
I could understand if you add something when the `--hostname test` is specified. However when I use `--net=host` without specifying any `--hostname`, I would expect that I do not get an extra entry in `/etc/hosts` where the hostname (on the host where I execute podman) is mapped to a `127.0.x.x` address.

[2021-06-03 17:18] mheon commented on #10538
This doesn't sound incorrect - the behavior here is expected. `/data/podman/6845935107772988472/root/volumes/volume-test/_data` should be a `tmpfs` mount. Files are being persisted to it and not cleaned up, yes - but when the system restarts, it will be wiped clean. If you did not want it persisted beyond a single container, you could use a tmpfs mount for the container in question - tmpfs volumes

[2021-06-03 17:18] mheon commented on #10538
It that directory is not a tmpfs, this sounds like a bug.

[2021-06-03 18:14] ashley-cui commented on #10105
Okay, looks like a secret as a env var is implemented for generate/play but not as an actual k8s secret. I'll start working on this rn.

[2021-06-03 19:23] mheon commented on #10551
@vrothberg Didn't you just implement this?

[2021-06-03 19:25] mheon commented on #10539
@vrothberg That bug is private, though? Might be better to keep this open for public discussion.

[2021-06-03 19:27] micah commented on #10551
FWIW, I'm on 3.0.1-2 at the moment.

[2021-06-03 19:29] mheon commented on #10551
Don't expect this until 3.3.0 - we're in the process of releasing 3.2.0 right now. So probably late July-ish for this to land in upstream.

[2021-06-03 20:07] rhatdan commented on #10551
Well this is in the main branch now, so closing.

[2021-06-03 20:07] #10551 closed

[2021-06-03 22:11] jwhonce commented on #10494
@arctic-alpaca I agree it would make more sense to return a single instance as documented vs. an array "as built". But our contract with developers is to only make breaking changes to the API on major releases. The earliest we can make this change is Podman 4.x.

@Luap99 Please update the swagger comment in pkg/api/server/register_networks.go:211 to reflect that an array is returned. TIA

[2021-06-03 22:38] TomSweeneyRedHat commented on #10439
@giuseppe this might be a good candidate for the known issues page?

[2021-06-03 23:59] sbourlon commented on #10491
@rhatdan yes, it would certainly work but everyone would have access to `/tmp/bugdemo`. Maybe podman should not chdir to CWD?

[2021-06-04 00:34] srbala commented on #10547
@Timoses Using `CentOS 8` will give you  `podman 3.1.x` with better support and enhncements. https://podman.io/getting-started/installation https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/

Please try this `podman system migrate` command. Not sure this one suported in older versioin of podman. this was expected when making changes to configs.

[2021-06-04 01:56] srbala commented on #10547
@Timoses if OS upgrade is not an option for you, still upgrade to podman 3.0.x using [OpenSuse dev repo](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/devel:kubic:libcontainers:stable.repo)

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/x86_64/

[2021-06-04 02:16] gth7754125 opened #10554 "MacOS remotely start container, it auto exit after a while"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
 **Environment**
Open a VM on my macbook pro, and use podman to control the container inside VM.
VM: ubuntu 20.10 built by multipass
podman: latest version

**Problem**
run command below on my mac
[code]
redis start on my Virtual Machine Ubuntu built by multipass.
 Without

[2021-06-04 05:37] mheon commented on #10554
Are you running containers in the VM as root, or rootless? If it's a non-root user I suspect it's systemd timing out the login session - a `loginctl enable-linger` on the user in question could help.

[2021-06-04 05:50] gth7754125 commented on #10554
it seems to work, thank you so much.

[2021-06-04 05:50] #10554 closed

[2021-06-04 05:51] tnk4on opened #10555 "[macOS] `podman machine start` fails with the error message "qemu-system-x86_64: CPU model 'host' requires KVM""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On macOS, when I run `podman machine init` and then `podman machine start`, I get an error message "qemu-system-x86_64: CPU model 'host' requires KVM" and the VM fails to start.

**Steps to reproduce the issue:**

On the Mac client:

1. Run "podman machine init".

[code]

2. Run "podman machi

[2021-06-04 05:51] tnk4on commented on #10555
I was able to start the VM by adding the QEMU option.

[code]
[code]
Hypervisor.framework is supported on macOS
[code]

[2021-06-04 07:41] vrothberg commented on #10539
Good catch, thanks, @mheon.  Reopened.

[2021-06-04 07:44] vrothberg commented on #10539
FWIW, I think we could tackle it via systemd unit that fires off at boot and runs a `podman start --filter restartpolicy=always`.  `--filter` for `podman start` doesn't exist (yet) though.

[2021-06-04 07:46] saschagrunert opened #10556 "Podman v3.2.0 does not load internal seccomp profile any more"
/kind bug

**Description**

Podman v3.1.2 did load the internal seccomp profile (struct) if the `seccomp.json` was not present on disk. This behavior has changed in v3.2.0.

**Steps to reproduce the issue:**

On a system where `/usr/share/containers/seccomp.json` is not available:
[code]

**Describe the results you expected:**

With Podman v3.1.2:
[code]

**Additional information you deem importan

[2021-06-04 07:47] vrothberg commented on #10551
Yes, it's now supported in the main branch (didn't land in v3.2). Commit fb4a0c572ed1264ebb12218e8905c4845cb159c5 added support for it.

[2021-06-04 08:20] vrothberg commented on #5572
I finally found some time to tackle the issue and opened https://github.com/containers/podman/pull/10557.

[2021-06-04 09:59] arctic-alpaca opened #10559 "API endpoint "network inspect" doc doesn't list a well defined success result"
/kind bug

**Description**

Hi,

The [API endpoint inspect network](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkInspectLibpod) doesn't provide a detailed result description for the success case. A possible result is shown in [the command reference](https://docs.podman.io/en/latest/markdown/podman-network-inspect.1.html#example) but I don't know whether other result variation

[2021-06-04 10:22] Luap99 opened #10560 "podman exec --tty resizes only after the process is started"
/kind bug

**Description**

`podman exec -it` only resizes the terminal after the exec process is started. This issues exists in both local and remote podman.

**Steps to reproduce the issue:**

1. `podman run -dit --name test alpine top`

2. `podman exec -it test stty size`

**Describe the results you received:**
`stty: standard input`

**Describe the results you expected:**
two numbers, the real

[2021-06-04 10:43] Timoses commented on #10547
Thanks for the answers.

`loginctl enable-linger` does work (directory `/run/user/<user>` is kept).

I also found out why it worked sporadically. It seems periodically some cron jobs run for the user. This triggers existence of `/run/user/<user>` directory.

However I wonder: Why is this user affected by this limitation of requiring a directory under `/run/user` to work while another user isn't?
A

[2021-06-04 10:48] Luap99 commented on #10556
bad commit 18cb17ffeb33195879730b2bc83e1a2c82310e6a
I think we have to leave the default seccomp path empty in c/common. https://github.com/containers/common/blob/86254d6d63e08f14a8c4d66a6ca40089bec8a01e/pkg/config/default.go#L201

[2021-06-04 11:06] Luap99 commented on #10556
https://github.com/containers/common/pull/604 to fix

[2021-06-04 11:47] arctic-alpaca opened #10562 "API endpoint "network list" returns base64 encoded string instead of array of uint8 for field "Bytes""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Hi,
the [API reference for network list ](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkListLibpod) describes field `Bytes` as `Array of integers <uint8>`, boht for the initial result and the `Plugins` field. The API returns a base64 encoded string instead.

**Steps to rep

[2021-06-04 11:58] bulanovk commented on #10247
Hello i just start local nexus and done following steps

1) podman pull hello-world --log-level=debug
2) podman tag hello-world nexu/hw:latest
3) podman push nexus/hw:latest --log-level=debug
4) podman push nexus/hw:latest --log-level=debug

During pull we got blob
[code]
Manifest https://registry-1.docker.io/v2/library/hello-world/manifests/sha256:1b26826f602946860c279fce658f31050cff2c596583af237

[2021-06-04 12:24] bulanovk commented on #10247
By the way i done one more test with push and pull to docker hub

[code]

And according to the log, podman try to find blob by Original ID in case of docker hub.

[2021-06-04 12:55] #10529 closed

[2021-06-04 13:07] DanHam commented on #10439
@giuseppe @TomSweeneyRedHat

I'm agreed that this isn't being caused by podman. However, there is clearly something wrong here that limits the utility of podman within a GitHub Actions environment.

---

I have done a bit of further investigating to try to determine exactly why podman can run the container rootless locally in an Ubuntu 20.04 VM but not within the GitHub actions environment (which

[2021-06-04 13:07] DanHam commented on #10439
While I don't see this as a viable work around, I've tried (what I consider an ugly hack) of brute forcing the ownership of `/sys/fs/cgroup/systemd/system.slice/runner-provisioner.service`:

[code]

This works and allows podman to successfully run the container in rootless mode. See the output of the GitHub actions run [HERE](https://github.com/DanHam/gh-podman-demo-issue/runs/2746042691?check_sui

[2021-06-04 13:13] Luap99 commented on #9730
Still waiting for a new cobra release.

[2021-06-04 13:17] mheon commented on #10556
Any way we can test this in CI? I imagine the VMs probably have a `seccomp.json` because we're using the standard packaged configs on them - maybe we can remove it for one of the tests?

Regardless, this sounds like a good reason to spin up a quick 3.2.1 early next week.

[2021-06-04 13:25] vrothberg commented on #10556
Reopened as it's not yet in Podman.  Also need to create backports here and in c/common.

[2021-06-04 14:00] arctic-alpaca opened #10564 "API endpoint "network prune" returns array of objects instead of array of stringfor field "Bytes""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Hi,
the [API reference for network list ](https://docs.podman.io/en/latest/_static/api.html#operation/NetworkListLibpod) describes field `Bytes` as `Array of integers <uint8>`, boht for the initial result and the `Plugins` field. The API returns a base64 encoded string instead.

**Steps to rep

[2021-06-04 14:49] cdoern opened #10566 "Podman does not support importing image from source with a platform specified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

While implementing the API endpoint for [/images/create](https://github.com/containers/podman/pull/10548) I noticed that CreateImageFromSrc within pkg/api/handlers/compat/images.go has some issues with supporting platform due to imageEngine.Import/the ImageImportOptions struct not support

[2021-06-04 15:42] mheon commented on #10547
Podman will always prefer `/run/user/$UID` if available. It's managed by the system, not us, and is considered the correct place to put per-user temporary files.

However, if it is not available, we will fall back to making our own directory in `/tmp`. This is less reliable for a variety of reasons (not the least of which `/tmp` is not guaranteed to be a tmpfs, which we require), but we can't guar

[2021-06-04 16:06] #10494 closed

[2021-06-04 16:41] jwhonce commented on #10562
@arctic-alpaca Thanks for writing up this issue and your patience with this area of the API. A quick look at the code shows the Go json encoder is doing that "magic" base64 encoding for us.

[2021-06-04 16:41] gdoepp commented on #10187
There was a symlink from ~/.local/share/containers/storage -> /some/big/filesystem/user/container-storage. I suppose this makes sense, but I wonder whether links at the level of the overlay* subdirectories should also work. For me it seems ok if everything below storage/ must reside on the same filesystem - it should be documented somewhere, though.

[2021-06-04 17:32] cdoern commented on #10566
I can take this issue myself if someone would like to assign.

[2021-06-04 22:14] riyad opened #10569 "Compat API: creating containers with `"NetworkMode": "default"` started failing with #10447"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the Compat API trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regression that reduced the number of passing tests by ~40 and affects another ~20 tests.

Creating containers with `"NetworkMode": "default

[2021-06-04 23:00] srbala commented on #10556
Using following temp work around until this issue being resolved.

[code]

[2021-06-04 23:53] srbala commented on #10422
@PhrozenByte having multiple rows for same user id in `subuid` or `subgid` is correct, you can have one line for one user.

[code]

Are you trying have three different user id entry in `subuid` or `subgid`? so you are passing multiple params `uidmap` and `gidmap`?

[2021-06-05 01:53] KCSesh opened #10570 "Rootful podman cni dns resolution defaults to 8.8.8.8, are there ways for it to auto detect the ones the host is using?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Disclaimer: I don't understand all of the network details of the host I am accessing in an offsite location.**

I am accessing a host through a VPN which has podman.
The host seems to have a local nameserver running:

Host file:
[code]

If I were to change this file to use the nameserve

[2021-06-05 07:51] afbjorklund commented on #10555
For some reason it is only added on arm64, but not on amd64:
pkg/machine/qemu/options_darwin_arm64.go:               "-accel", "hvf",
pkg/machine/qemu/options_linux_amd64.go:                "-accel", "kvm",
pkg/machine/qemu/options_linux_arm64.go:                "-accel", "kvm",

[2021-06-05 13:50] Luap99 commented on #10570
Podman should already do this. All nameservers in the ´127.0.0.0/8´ range are filtered, if there are no nameservers left 8.8.8.8 is used.
I noticed that you are using systemd-resolved. Podman should also be able to detect this as long as `/etc/resolv.conf` is symlinked to `/run/systemd/resolve/stub-resolv.conf`.

[2021-06-05 14:45] #9859 closed

[2021-06-05 15:11] edsantiago commented on #10154
Sigh. I had hoped that #10549 would fix this, but [nope](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5540293895258112/html/bud-remote-fedora-34-root-host.log.html#t--00018).

[2021-06-05 17:44] mheon commented on #10570
Knowing what `/etc/resolv.conf` is (is it a symlink, if so what does it point to) would help here. I suspect that Ubuntu may be doing a different systemd-resolved configuration than Fedora and it's throwing off our detection of that.

[2021-06-05 18:50] nullr0ute opened #10573 "podman failing on Fedora 34 with "Error: reset `/proc/self/attr/keycreate`: Operation not permitted: OCI permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to run containers on Fedora 34 is failing, both user and root.

**Steps to reproduce the issue:**

$ podman run --rm -it fedora /bin/bash
Error: reset `/proc/self/attr/keycreate`: Operation not permitted: OCI permission denied

**Describe the results you received:**

Container fails to

[2021-06-06 01:56] tobwen opened #10590 "[podman] [logging] long `_CMDLINE` variable is filling the log"
## What did I do?
As normal user:
[code]

As root:
[code]

## What did I get?
<details>
  <summary>Click to expand</summary>

[code]
</details>

## What is the issue?
`_CMDLINE` is pretty long and gets logged over and over again.

## What did I expect?
Would be nice to drop `_CMDLINE`, e.g. using `podman --log-opt`

## Which versions did I use?
- podman version 3.2.0-dev (https://github.com/contai

[2021-06-06 05:03] #10496 closed

[2021-06-06 10:21] PavelSosin-320 opened #10575 "The command Podman system service creates 2 processes that are hard to die."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Every execution of the command podman system service by a rootless user with default parameters results in the creation of 2 processes owned by the user but only one Linux Domain socket. The 1st process is zombi.
**Steps to reproduce the issue:**

1. Login as a rootless user
2. Execute podman

[2021-06-06 12:21] dwhiteddsoft opened #10576 "Cannot get to run on R-Pi4 with latest Raspberry Pi OS Lite image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running on Raspberry Pi OS Lite. Release date: May 7th 2021. Kernel version: 5.10.
After I build podman manually (there is no package I can find even in back ports), I cannot get a container to start

**Steps to reproduce the issue:**

1. Follow [this](https://www.osradar.com/how-to-install-p

[2021-06-06 13:08] thomasw64 opened #10577 "[macos] `podman machine start` on Apple M1 uses qemu with hvf which is not yet supported by qemu on aarch64"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman machine start` and the other `podman machine` commands use not supported qemu accelerator hvf on aarch64/darwin (MacOS 11.4 on M1).

[podman/pkg/machine/qemu/options_darwin_arm64.go](https://github.com/containers/podman/blob/master/pkg/machine/qemu/options_darwin_arm64.go) adds to the

[2021-06-06 13:30] thomasw64 commented on #10577
I was able to start the machine, by changing `-accel hvf` to `-accel tcg` in .config/containers/podman/machine/qemu/podman-machine-default.json

[code]

output of `podman machine start`
[code]

output of `podman machine list`
[code]

Now, it looks, I found another issue: The coreos image contains (34.20210601.dev.0) podman 3.1.2 instead of 3.2.0.

[2021-06-06 14:03] thomasw64 opened #10578 "[macos] Error: cannot connect to the Podman socket, please verify that Podman REST API service is running: server API version is too old. Client "3.2.0" server "3.1.2""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to interact with podman on macOS 11.4 (both Apple Silicon M1 as well as x86), after creating and starting the machine with `podman machine init` and `podman machine start` I tried to validate the configuration. Any command that goes to the VM comes back with the following message:

[2021-06-06 14:10] thomasw64 commented on #10578
This bug also appears on MacOS / x86. Here is a podman version from an x86 Mac Mini
[code]

and here the failure:
[code]

[2021-06-06 16:31] mheon commented on #10569
Damn. I broke it, I'll take this one.

[2021-06-06 17:58] linuxnow commented on #10573
Same here after rebooting on a fully upgraded Fedora 34. Was working perfectly until now..
The error I get is this one:
ERRO[0000] "reset `/proc/self/attr/keycreate`: Operation not permitted: OCI permission denied"
Error: error starting some containers: internal libpod error 126

$ podman version
Version:      3.2.0-rc3
API Version:  3.2.0-rc3
Go Version:   go1.16.3
Built:        Wed May 26 20:36:

[2021-06-06 18:56] mheon commented on #10555
@baude PTAL

[2021-06-06 18:59] mheon commented on #10225
Did we fix this one? I swear I saw a commit related to it, but I don't see it in the release notes for 3.2.0.

[2021-06-06 19:01] mheon commented on #10573
Can you try adding `--privileged` and see if that allows containers to run? Could be Seccomp, Capabilities, or SELinux are blocking it.

[2021-06-06 19:02] mheon commented on #10578
I know that M1 support is still pending (need Qemu upstream to merge a few more patches). For the x86 bits, I'll poke @baude

[2021-06-06 19:05] mheon commented on #10577
This is expected - we're waiting on a few more patches to merge upstream in Qemu for this to be supported. `podman machine` is still in heavy development and very much experimental - we hope to have things more polished and ready in the next few releases.

The Podman issue may be my fault, I'll bring it up at scrum on Monday. 3.1.2 and 3.2.0 should be able to talk to each other. We are needing to

[2021-06-06 19:06] mheon commented on #10576
How did you install slirp4netns - from the system package? Have you tried building a more recent version from source?

[2021-06-06 19:23] mheon commented on #10575
Replicates on Linux. It's not the pause process - I see that too, but there are also two `podman system service` processes and a zombie from the `podman system service` invocation.

[2021-06-06 20:45] #10562 closed

[2021-06-06 22:18] rhatdan commented on #10555
@ashley-cui PTAL also.

[2021-06-06 22:26] rhatdan commented on #10225
Ok let's assume this is fixed.  Reopen if we are mistaken.

[2021-06-06 22:26] #10225 closed

[2021-06-06 22:27] rhatdan commented on #10573
Are you seeing AVC messages?

[2021-06-07 02:26] #10094 closed

[2021-06-07 05:09] PavelSosin-320 commented on #10575
Starting Podman service using the following Unit
_[Unit]
Description=Podman API Service
#Requires=podman.service
#After=podman.socket
Documentation=man:podman-system-service(1)
StartLimitIntervalSec=0

[Service]
Type=simple
KillMode=process
Environment=LOGGING="--log-level=info"
ExecStart=/usr/bin/podman system service -t 0
ExecReload=/bin/kill -- $MAINPID
PIDFile=$XDG_RUNTIME_DIRECTORY/podman/pod

[2021-06-07 05:21] linuxnow commented on #10573
Adding --privileged it works:

$ podman run --rm --privileged -it fedora /bin/bash
[root@69c01537d0e6 /]# ls
bin   dev  home  lib64       media  opt   root  sbin  sys  usr
boot  etc  lib   lost+found  mnt    proc  run   srv   tmp  var

From another terminal:
$ podman ps
CONTAINER ID  IMAGE                                     COMMAND    CREATED         STATUS             PORTS   NAMES
69c01537d0e6

[2021-06-07 06:36] linuxnow commented on #10573
I could now see any AVC messages, but I attach the output of ausearch without --privileged:

# ausearch -ts recent
time->Mon Jun  7 08:30:55 2021
type=NETFILTER_CFG msg=audit(1623047455.763:1296): table=filter family=7 entries=0 op=xt_register pid=25302 subj=unconfined_u:system_r:container_runtime_t:s0-s0:c0.c1023 comm="podman"
----
time->Mon Jun  7 08:30:55 2021
type=NETFILTER_CFG msg=audit(16230

[2021-06-07 07:16] w4tsn opened #10579 "Docker API incompatibility for "volume prune": "until" is an invalid volume filter"
/kind bug

**Description**

The docker API supports the `until` filter in volume prunes. This is not stated in the official documentation, interestingly enough, but I'm using this flag on the docker cli client without problems. E.g. `until=24h`.

**Steps to reproduce the issue:**

Run `podman volume prune --filter until="24h"

**Describe the results you received:**

Got an error message from the "

[2021-06-07 07:47] w4tsn opened #10582 "Docker API incompatibility: invalid --security-opt: "label:disable""
/kind bug

**Description**

In docker CLI it is possible to use the `:` character as assignment operator or at least `label:disable` as valid substitute for `label=disable`.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

This should work to widen the docker API compatibility.

**Additional information you deem imp

[2021-06-07 09:04] vrothberg commented on #10247
The change of IDs is to be expected since the layers are stored _uncompressed_.  Hence, when pushing we see the digests of the layers in uncompressed form.  That's where the cache comes into play, which allows for mapping the layers in their uncompressed and compressed form.

[2021-06-07 09:07] nullr0ute commented on #10573
Yes, the --privileged options works for me as well.

[2021-06-07 09:08] rhatdan commented on #9965
I am assuming this is fixed, and going to close.  Reopen if you have a reproducer.

[2021-06-07 09:08] #9965 closed

[2021-06-07 09:13] bulanovk commented on #10247
Is i understand you correctly, podman pushing compressed blob but looking it by uncompressed hash?

[2021-06-07 09:15] vrothberg commented on #4646
Unassigned, @QiWang19 who's currently busy in CRI-O land.  I also marked it as a feature since OCI archives are not documented to support multi images.

[2021-06-07 09:18] vrothberg commented on #8432
Friendly ping. Can we close this issue?

[2021-06-07 09:19] vrothberg commented on #9229
Ping @jwhonce

[2021-06-07 10:17] #5572 closed

[2021-06-07 10:31] rhatdan commented on #10582
That format was deprecated by Docker years ago.

[2021-06-07 10:34] rhatdan commented on #10573
Those are not AVCs.

[2021-06-07 10:37] rhatdan commented on #10573
Could you try with

sudo semodule -DB
run the non privileged command
sudo semodule -B
sudo ausearch -m avc -ts recent

And see if there are any AVCs about container_t?

[2021-06-07 10:44] rhatdan commented on #10564
@Luap99 PTAL

[2021-06-07 10:53] rhatdan commented on #10141
Ok I am going to close this issue.

[2021-06-07 10:53] #10141 closed

[2021-06-07 10:54] rhatdan commented on #8993
@cdoern PTAL

[2021-06-07 10:55] rhatdan commented on #6717
@flouthoc What is the latest on this issue?

[2021-06-07 10:55] rhatdan commented on #6717
@lsm5 Do you have any time to work on this?

[2021-06-07 10:56] dex4er opened #10584 "Podman build fails if can't find any files on glob match for COPY statement"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build` fails on `COPY` or `ADD` when some the 2nd argument of copy is glob match and doesn't exist:

It is desireable to do not fail if glob match doesn't return files because it makes possible to add some files optionally. See https://stackoverflow.com/a/46801962/1380712

**Steps to

[2021-06-07 10:56] rhatdan commented on #10513
How do you get to that link?

[2021-06-07 10:59] rhatdan commented on #10513
http://docs.podman.io/en/latest/Commands.html
Click on Secret
Click on Create
Takes me to
http://docs.podman.io/en/latest/markdown/podman-secret-create.1.html

[2021-06-07 11:05] rhatdan commented on #8136
@giuseppe Any chance you could create a spike to see if we could support this?

[2021-06-07 11:07] w4tsn commented on #10582
Ah, I see. In that case I'll just update the format, so not a problem.

[2021-06-07 11:07] #10582 closed

[2021-06-07 11:09] rhatdan commented on #10261
Reopen if we are mistaken.

[2021-06-07 11:09] #10261 closed

[2021-06-07 11:16] nullr0ute commented on #10573
There doesn't seem to be any specifically about container_t but these were what I got when I ran the container (plus desktop popups):

[code]

[2021-06-07 11:20] w4tsn opened #10585 "Services IPv4 address config ignored when using docker-compose networks"
/kind bug

**Description**

When specifying a docker-compose services network address, the address is ignored.

**Steps to reproduce the issue:**

Create a compose file with a simple /24 network and a service with a static `ipv4_address` setting in that network.

The following will keep the alpine container running for 5 sec. Start this multiple times, even with `docker-compose down` before `docke

[2021-06-07 11:33] rhatdan commented on #9890
Is there a way we can disable this test by default, and then we can document that --stdin is not enabled for remote.

[2021-06-07 11:34] edsantiago commented on #9890
Yes, disabling the test with an explanatory note is easy.

[2021-06-07 11:40] rhatdan commented on #10491
That is the default behaviour, Why not change the CWD so it is not /tmp/bugdemo?

[2021-06-07 11:42] rhatdan commented on #10211
@lsm5 is this a package you created or someone else?  Can we close this issue?

[2021-06-07 11:43] rhatdan commented on #10189
Well since no argument was made against @vrothberg suggestion, I am going to close.  Reopen if you want to continue the discussion.

[2021-06-07 11:43] #10189 closed

[2021-06-07 11:45] rhatdan commented on #10160
@adelton Is this still an issue?

[2021-06-07 11:46] w4tsn commented on #8483
Is there any workaround for this? As I understand, it's currently not possible to use dns name resolution for rootful containers in a cni network created as "internal", right?

So how to address a container from another container on the same network but without using pods, if the IP is assigned in an unpredictable way?

I'm asking because I have two rootful containers in an internal network and on

[2021-06-07 11:46] rhatdan commented on #10039
@vrothberg @eriksjolund What is the goal of this issue?  Should it still be open?  Should we add more documentation?

[2021-06-07 11:48] rhatdan commented on #9948
@vrothberg Where do we stand on this one?

[2021-06-07 11:51] giuseppe commented on #8136
created one: https://issues.redhat.com/browse/RUN-1262

[2021-06-07 11:56] rhatdan commented on #10539
Yes I thought this was something @boaz0 was working on,  I believe we have all of the parts and now we just need to add a systemd unit file to run at boot time to start the `restart=always` containers.

[2021-06-07 11:58] vrothberg commented on #10247
Yes, Podman is first checking if the layer exists in uncompressed form on the registry. Then it will check if the layer exists in any of the recorded compressed forms and that requires the blob-info cache.  Hence, if the cache is removed, the checks won't hit.

[2021-06-07 12:04] flouthoc commented on #6717
@rhatdan I want to try a new patch for this, will probably force push over old PR this weekend. If @lsm5 is not already working on this.

[2021-06-07 12:05] vrothberg commented on #9948
No progress since we're in bug-scrubbing mode.  But I am also not yet convinced about the idea.  The underlying assumption would be that `podman create` is a bottle neck and I have not seen evidence for it yet.

One thing, I do want to tackle now is enforcing the journald logger in the units.

[2021-06-07 12:06] vrothberg commented on #10039
Documentation would be my goal.  Something in the man pages and maybe a more verbose doc in the tutorials?

[2021-06-07 12:19] adelton commented on #10160
Yes, I've rerun https://travis-ci.com/github/adelton/freeipa-container/jobs/501611053 and the output is still the same.

[2021-06-07 12:20] boaz0 commented on #10539
@rhatdan that's correct. This is [the PR](https://github.com/containers/podman/pull/9689) you're talking about.
@amtdas as @vrothberg mentioned: creating a systemd unit files that runs `podman start --filter restart-policy=always --all` will resolve your issue.

[2021-06-07 12:23] vrothberg commented on #10539
@boaz0 @rhatdan, I think we should create a `podman-restart.service` in https://github.com/containers/podman/tree/master/contrib/systemd/system.  This way, it can be installed (and enabled) by packages.  What do you think?

[2021-06-07 12:33] boaz0 commented on #10539
@vrothberg - sounds like a good idea. Can you assign this task to me?

[2021-06-07 12:35] vrothberg commented on #10539
Done, thank you!

[2021-06-07 12:40] vrothberg commented on #10584
Thanks for reaching out. I'm moving this issue over to Buildah.

[2021-06-07 12:44] vrothberg commented on #10547
I think we can close the issue after @mheon's excellent explanation.

[2021-06-07 12:44] #10547 closed

[2021-06-07 12:47] vrothberg commented on #10475
I am going to close the issue.  If the issue persists, please use the official Red Hat customer channels which will give your issue priority.

[2021-06-07 12:47] #10475 closed

[2021-06-07 12:48] vrothberg commented on #10474
This has been fixed in the main branch by commit 86610c7852ee992d6c0b89d4a5cd70081950951d.  Thanks for opening the issue!

[2021-06-07 12:48] #10474 closed

[2021-06-07 12:52] vrothberg commented on #10470
Could you try with Podman 2.2.1?  I've not seen this issue until now.  I am also surprised about Podman v3.1 on a CentOS 7 system.  The kubic packages were supposed to stop at 3.0.X.

@lsm5 did we update beyond 3.0 for 7?

[2021-06-07 12:54] cdoern commented on #8993
@rhatdan will do, I have actually been looking at something similar on the libpod end with platform query parameters.

[2021-06-07 13:06] intelfx commented on #10570
Judging by contents of `resolv.conf` pasted earlier, it is probably a symlink to `/run/systemd/resolve/resolv.conf` (in resolved, that file contains all upstream servers). But, according to the same paste, it only contains nameservers in `10.0.0.0/8`, so they shouldn't be filtered then?

[2021-06-07 13:12] rhatdan commented on #10187
It would probably be better for you to bind mount the /some/big/filesystem/user/container-storage on ~/.local/share/containers/storage for now.

[2021-06-07 13:14] #10338 closed

[2021-06-07 13:21] rhatdan commented on #10422
@giuseppe PTAL

[2021-06-07 13:24] rhatdan commented on #9930
@edsantiago PTAL

[2021-06-07 13:26] mheon commented on #10573
Can you try with the following flags separately?

`--security-opt label=disable`
`--cap-add ALL`
`--security-opt seccomp=unconfined`

The Privileged flag turns all of these on at once - I want to figure out exactly which is causing the failure.

[2021-06-07 13:31] rhatdan commented on #10566
@cdoern once you join the project you should be able to self assign.

[2021-06-07 13:33] rhatdan commented on #9597
@mheon Do you have time for this now?

[2021-06-07 13:34] linuxnow commented on #10573
After running:

sudo semodule -DB
// run the non privileged command
podman run --rm --privileged -it fedora /bin/bash
sudo semodule -B
sudo ausearch -m avc -ts recent

The only AVC message with a container string is this one:

----
time->Mon Jun  7 15:20:54 2021
type=PROCTITLE msg=audit(1623072054.847:1714): proctitle="/usr/lib/systemd/syst
emd-journald"
type=PATH msg=audit(1623072054.847:1714): i

[2021-06-07 13:38] rhatdan commented on #9730
@Luap99 any idea when this is going to happen?  Is there someone we should nag?

[2021-06-07 13:39] rhatdan commented on #9997
@cevich Has this been fixed?

[2021-06-07 13:40] rhatdan commented on #9949
@vrothberg WDYT?

[2021-06-07 13:40] rhatdan commented on #9715
@hzliangbin Any movement on this?

[2021-06-07 13:54] cevich commented on #9997
It was a race-condition so kind of hard to be certain, but yes it "should" be fixed.

[2021-06-07 13:54] #9997 closed

[2021-06-07 13:58] PhrozenByte commented on #10422
Yes and no. As explained, I'm having two entries in `/etc/subuid` and `/etc/subgid`, but three `--uidmap` resp. `--gidmap` command-line options due to the implicit mapping of the executing user. `podman run` fails unless I sort my mappings in `/etc/subuid` and `/etc/subgid`. Since neither `subuid(5)` nor `podman-run(1)` note that `/etc/subuid` and `/etc/subgid` must be sorted, I assume this to be

[2021-06-07 13:59] #10422 closed

[2021-06-07 14:05] vrothberg commented on #9619
I am going to merge this with https://github.com/containers/podman/issues/10057.

[2021-06-07 14:06] #10057 closed

[2021-06-07 14:06] vrothberg commented on #9619
To nail down the scope a bit further.  It depends which image we're attempting to pull from which registry.

**Docker**
[code]

**Podman**
[code]

While the "manifest unknown: manifest unknown" error is the same, the error reporting in Podman stutters a bit with the reference of the image being printed twice. I think we should remove the stuttering (must be done in c/image).

The authorized error

[2021-06-07 14:20] baude commented on #10555
distribution information and qemu version ?

[2021-06-07 14:29] PhrozenByte commented on #10422
ic, thank you! :heart:

[2021-06-07 14:32] ashley-cui commented on #10105
Took a look and read through some stuff. Podman secrets and k8s secrets work a little differently, and I’m concerned about how they’ll work together:

Podman secret:
mysecretname: mysecretdata

Mounted in the container as /run/secrets/mysecretname, inside the file is mysecretdata

K8s secret:
mysecretname: m[secretkey1] = secretvalue1, m[secretkey2] = secretvalue2, etc

Each secretkey is mounted i

[2021-06-07 14:54] vrothberg commented on #9949
Yes, I am in favor of doing that.  There is a number of things I want to work on for auto updates.  Once we leave bug scrubbing, I'd love to spend some time on it.

Another thing I want to do is get a REST endpoint, such that auto updates can be triggered remotely.

[2021-06-07 15:02] mheon commented on #10585
I think we've patched this already, please try Podman 3.2.0 and see if it resolves the issue.

[2021-06-07 15:07] jmguzik commented on #10579
@w4tsn @mheon Docker does not support prune until filter for volume. Please refer to:
https://docs.docker.com/engine/api/v1.41/#operation/VolumePrune
This most likely could be implemented in podman, assuming created time is stored somewhere (did not check).

[2021-06-07 15:10] mheon commented on #10579
We do store volume create time, so this ought to be possible.

[2021-06-07 15:12] jmguzik commented on #10579
If so I can assign to this one to do it in end of this- next week.
/assign

[2021-06-07 15:12] mheon commented on #10575
@jwhonce @baude PTAL - we should try and fix the zombie bit, at least.

[2021-06-07 15:15] vrothberg opened #10587 "default log driver: switch to journald"
A reminder to switch the default log driver from k8s-file to journald. It passed CI a couple of weeks ago but we were to close to the v3.2 release and wanted to play it safe.  With RHEL 9 being in a not so distant future anymore, we should give the journald logger some time cooking in CI, Rawhide, and Fedora.

Cc: @rhatdan

[2021-06-07 15:25] st1971 commented on #10573
Have run into this problem today.

@mheon for me `--security-opt label=disable` seems to be the winner but like others not seeing anything to interesting in the audit log.  Also timing wise this seem so coincide with a crun update from my dnf history 0.19.1-2.fc34 to 0.20-1.fc34 have downgraded crun to 0.19.1-2.fc34 and this seems to help.  Could point at this being more of an issue in the crun sp

[2021-06-07 15:27] mheon commented on #10573
Could be a `dontaudit` rule? I believe the way to force those off is `semanage dontaudit off`.

[2021-06-07 15:51] edsantiago commented on #9930
@aliaslanturk does #10008 address your concerns?

[2021-06-07 16:14] st1971 commented on #10573
Have just double checked with dontaudit disabled, the only 2 avc denied messages that i get are:
`type=AVC msg=audit(1623081578.913:1218): avc:  denied  { siginh } for  pid=10030 comm="SetroubleshootP" scontext=system_u:system_r:init_t:s0 tcontext=system_u:system_r:unconfined_service_t:s0 tclass=process permissive=0`

`type=AVC msg=audit(1623081872.103:1236): avc:  denied  { sys_ptrace } for  pid=

[2021-06-07 16:42] mheon commented on #10470
I don't think this is solvable without further details on how the Ansible script works - where is it getting its Podman, how is it installing it, etc.

[2021-06-07 16:45] linuxnow commented on #10573
Works

Does not work

Does not work

[2021-06-07 16:47] tnk4on commented on #10555
I've added the information to the top comments.
- VM image: FCOS 34.20210529.1.0
- QEMU : v6.0.0

[2021-06-07 16:50] LaszloGombos commented on #5633
I think this bug report belongs to grub not podman (I would love this to be resolved in grub as well).

[2021-06-07 17:10] #10058 closed

[2021-06-07 17:24] baude commented on #10555
Ok, thank you.  We were testing with version 5.0.  I will try v6.0 and report back.

[2021-06-07 18:15] mheon commented on #10569
#10591 to fix

[2021-06-07 18:19] mheon commented on #10590
I don't really know if we can fix this on the Podman side - we have to be explicit about all of this to make sure that the cleanup process gets launched with the exact config of the Podman that invoked Conmon - plus Conmon's arguments are pretty verbose to begin with. We could look into calling Conmon with configuration provided by file which would include all the very verbose flags we're passing

[2021-06-07 18:38] flouthoc commented on #6717
@rhatdan @lsm5 I want to give another shot, could we please re-open https://github.com/containers/image/pull/1204 so i can push my  changes.

[2021-06-07 18:58] KCSesh commented on #10570
The file is not symlinked.

[code]

However, if I manually run:

[code]

Podman DNS is fixed.

But this still is showing Docker is doing something unique, right?

[code]

[2021-06-07 19:07] mheon commented on #10570
Hm. So systemd-resolvd is in use, but system resolv.conf is not a symlink? That's new.

I wonder how we can detect this case.

[2021-06-07 19:09] tobwen commented on #10590
I'm asking myself if _journald_'s binary format de-duplicates this somehow. Let me figure it out.

[2021-06-07 19:12] rhatdan commented on #10105
Let's setup a meeting to discuss this with @umohnani8 @haircommander @vrothberg and other concerned parties.  I think we should be able to handle this.

[2021-06-07 19:15] rhatdan commented on #10585
Reopen if we are mistaken.

[2021-06-07 19:15] #10585 closed

[2021-06-07 19:15] rhatdan commented on #10579
You got it.

[2021-06-07 19:18] KCSesh commented on #10570
From: https://askubuntu.com/questions/973017/wrong-nameserver-set-by-resolvconf-and-networkmanager
It seems to be a bug: https://bugs.launchpad.net/ubuntu/+source/network-manager-strongswan/+bug/1864256
And the proposed fix, is to create the symlink yourself: https://bugs.launchpad.net/ubuntu/+source/systemd/+bug/1624320/comments/8

I'll have to investigate this a bit more, but it seems that it sh

[2021-06-07 19:18] rhatdan commented on #10587
Yes I think we should make it default for rootful and test it for rootless, have it default unless rootless can's work with it.

[2021-06-07 19:35] KCSesh commented on #10538
**Looks like I was wrong. Apologies.**

I created a volume of type tmpfs under root `/data/podman/6845935107772988472/root/volumes/volume-test/`

But then I mistakenly started the container under a separate root: `data/podman/<different>/root/` which resulted in the volume being created at runtime as a non-tmpfs.

Upon testing again, this time with the correct tmpfs.
I noticed when the container e

[2021-06-07 19:35] #10538 closed

[2021-06-07 19:38] KCSesh commented on #10538
I do think it could use some more clarification so I can do that!

[2021-06-07 20:01] rhatdan commented on #10573
What kernel are you using?  Why aren't everyone seeing this?  Currently I am using the Rawhide kernel on F34 since I want to make sure new features work.

[2021-06-07 20:12] st1971 commented on #10573
@rhatdan  I'm running 5.12.9-300.fc34, for me this started on the 4th June when crun was upgraded to 0.20 from 0.19.1, regressing crun 0.19.1 fixes for me.

[2021-06-07 20:27] nullr0ute commented on #10573
kernel: 5.12.9-300.fc34.x86_64

[2021-06-07 20:31] rhatdan commented on #10573
@giuseppe PTAL

[2021-06-07 20:52] Luap99 commented on #10570
Docker just checks if `127.0.0.53` is the only nameserver in `/etc/resolv.conf`, see https://github.com/moby/libnetwork/blob/b3507428be5b458cb0e2b4086b13531fb0706e46/resolvconf/resolvconf.go#L47-L51.

[2021-06-07 20:53] Luap99 commented on #9730
Hopefully soon, see https://github.com/spf13/cobra/issues/1388

[2021-06-07 21:06] mheon commented on #10570
OK. That seems reasonable.

[2021-06-07 21:06] baude commented on #10577
stay tuned, I will have instructions for you shortly.

[2021-06-07 22:06] sbourlon commented on #10491
As a workaround, I chdir to /tmp before calling podman. If accessing the CWD is useful to podman, then that's not a bug and I am happy to close that ticket.

[2021-06-08 01:34] zhangguanzhang commented on #10513
now , it works

[2021-06-08 03:53] sampie commented on #10039
From user's point of view, it looks like podman does not work under slurm. Does it work? How? I think in this thread there are instructions for mpi, which appears not be be the same as running slurm jobs. Then there are some very special slurm setup cases, which might not match what users have.

What actually happens is that when trying to run podman under slurm, there will be 'standard_init_linux

[2021-06-08 03:58] amtdas commented on #10539
Above was a mistakenly closed, reopening it.

[2021-06-08 06:21] iUnknwn opened #10593 "User Podman Services (podman.service/podman.socket) fail within 24 hrs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

User podman services (podman.socket and podman.service) fail within 24 hours of a system reboot. While user podman containers continue to run, the systemctl log shows both units as failed.

Output from podman.service journal:
[code]

Output from podman.socket journal:
[code]

Both these issue

[2021-06-08 07:30] #10569 closed

[2021-06-08 07:54] w4tsn commented on #10585
Amazing! Working with 3.2.0-rc3

[2021-06-08 08:38] Hendrik-H opened #10596 "podman logs -f ends early"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A container traps SIGINT and SIGTERM, logs a few things, waits a few seconds, logs more and then exits. A parallel `podman logs -f ...` for that container does not capture all the logs and ends early when the container is stopped using `podman stop`. I believe I also had a case that a bit was

[2021-06-08 08:57] vrothberg commented on #10596
Thanks for opening the issue, @Hendrik-H!

Can you run `podman inspect --format "{{.HostConfig.LogConfig}}"` on a local container?  I want to check which log driver is currently used on your machine.

[2021-06-08 09:09] Hendrik-H commented on #10596
[code]

[2021-06-08 09:37] rhatdan commented on #10491
You could also just chown the directory to 411 and then all tools could search to the Working directory, but would not be able to list or read any of the content in the directory.

[2021-06-08 09:41] #10491 closed, assigned to nobody

[2021-06-08 09:41] #9508 closed

[2021-06-08 10:01] zhangguanzhang commented on #10585
Fixes by https://github.com/containers/podman/pull/10246

[2021-06-08 10:03] rhatdan commented on #9579
@boaz0 @mheon Once we have the systemd unit file to start all restart=always at boot this issue can be closed.

[2021-06-08 10:04] rhatdan commented on #7558
@vrothberg Any chance you can look at this?
@Luap99 @cdoern Interested?

[2021-06-08 10:07] rhatdan commented on #10513
Awesome, thanks for confirming.

[2021-06-08 10:20] rhatdan commented on #10593
Are you constantly using the service or is the service sitting idle?  This might be us leaking a socket/open FD.
@jwhonce @baude @mheon WDYT

[2021-06-08 10:36] boaz0 commented on #9579
@rhatdan thanks. I will add it to the closed issues in the PR.

[2021-06-08 11:19] Luap99 commented on #7558
I take a look.

[2021-06-08 11:26] vrothberg commented on #7558
Thanks, @Luap99. I haven't tested it in a long while. It may have already been fixed in the meanwhile.

[2021-06-08 11:34] pgrabowski commented on #10319
Is `--no-hosts=true -v /etc/hosts:/etc/hosts` a valid workaround?

[2021-06-08 12:17] towe75 opened #10602 "podman stats not working, returns cgroup deleted with systemd enabled container on ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can not get stats from a ubuntu 20.04 container on a ubuntu 20.04 host with cgroup v1 and systemd in the container using podman 3.1.2.

Same setup works on a fedora host with cgroup v2.  Maybe it is related to #9252 ?

**Steps to reproduce the issue:**

1. Produce a bare bones systemd enabl

[2021-06-08 13:09] ahmed-mez commented on #10507
hey @vrothberg , thank you for fixing this! I thought `v3.2` was released (based on Github releases) but, as of today, it does not exist on [Kubic](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable). Should we expect it to be released this week?
I tried the `3.2.0-1.rc3` available on the testing repo but it didn't include this fix apparently.

[2021-06-08 13:12] vrothberg commented on #10507
Thanks for reaching out.  It should land in Kubic soon (Cc @lsm5).

-rc3 did not include the fix yet.

[2021-06-08 13:27] mheon commented on #10319
Until this is fixed, yes, that sounds like a good option.

[2021-06-08 13:28] mheon commented on #9579
@rhatdan I think the Compat API is not respecting restart policy, so it might not be fixed after that.

[2021-06-08 13:32] mheon commented on #10593
First observation - that Podman release is a little old, there should be something more recent tagged into the Stream 8 repos by now?

For debugging, can you do an `lsof | grep podman` and see if anything comes up? It certainly seems like we're leaking files but I'm not entirely certain what they would be.

[2021-06-08 13:32] boaz0 commented on #9579
@mheon how can I test that? Should I run podman system service using tcp protocol? And what API request should I send?

[2021-06-08 13:36] mheon commented on #9579
At this point, I think the reproducer will require a Docker-compose setup - have Compose talking to `podman system service`, let it create the container, and do a `podman inspect` on what it creates to verify that restart policy was set correctly. If `podman inspect` says the restart policy is set to `always` then we made the containers correctly and everything should be working.

[2021-06-08 13:38] mheon commented on #10602
Running as root, or rootless?

[2021-06-08 13:38] boaz0 commented on #9579
I will check this out tonight and update this issue. Thanks @mheon

[2021-06-08 14:18] vrothberg commented on #10596
@Hendrik-H, note that there's an inherent race when using `--rm` and `logs -f`.

AFAIKS, the log file may get removed before we could fully read it. @mheon do you think it's sad fact of life or shall we tackle it one way or another?

[2021-06-08 14:28] towe75 commented on #10602
Sorry, i forgot to mention it: running as root. Containers without entrypoint=/sbin/init are fine as well.

[2021-06-08 14:36] Hendrik-H commented on #10596
@vrothberg thanks for the tip and the quick fix

[2021-06-08 15:01] mheon commented on #10596
@vrothberg It might get removed, but we'll still have an open file descriptor, no?

I don't think we can do this another way, this is in the c/storage directories and if we don't remove it removing the storage container will fail.

[2021-06-08 15:14] vrothberg commented on #10596
Probably.  I had to dig deeper on how things like inotify might be used.  One odd thing is that journald also flakes/d with `--rm`.

[2021-06-08 15:23] mheon commented on #10602
Alright. Probably systemd mode, then - we do some things with cgroups on v1 to make systemd work in a container. I wonder if this has been broken for years, but no one has run `podman stats` against a systemd container?

[2021-06-08 15:29] #7558 closed

[2021-06-08 17:43] towe75 commented on #10602
Quite possible. I can confirm that the same setup but with cgroup v2 (via kernel parameter) works like expected.

[2021-06-08 18:08] #10570 closed

[2021-06-08 18:38] jwhonce commented on #10575
I assume the extra processes are coming from the restart for rootless setup/support.

[2021-06-08 18:40] edsantiago commented on #10003
It's back, with `podman-3.2.0-1.fc33`.

Also `crun-0.19.1-3.fc33`, `containers-common-1-16.fc33`. All else the same as OP.

[2021-06-08 18:48] jwhonce commented on #10593
@vrothberg There are logs attached to the BZ. Have you ever seen the following from systemd?

[code]

[2021-06-08 18:53] TomSweeneyRedHat commented on #10593
Also reported in this BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1968210

[2021-06-08 19:12] tobwen commented on #10590
## Update
There is no deduplication. The journal files are append-only, so it's not possible.
https://systemd.io/JOURNAL_FILE_FORMAT/

[2021-06-08 19:17] #10596 closed

[2021-06-08 19:47] #10061 closed

[2021-06-08 19:49] tobwen commented on #10587
Just small info: On _Debian_ _Buster_ and _Stretch_, I can write to _journald_ as a user. In my eyes, that's a kind of security risk, since a user easily could make the bad designed binary log explode... but that's offtopic.

[2021-06-08 20:01] iUnknwn commented on #10593
@rhatdan The only thing that I suspect might communicating with the service is cockpit (beyond whatever default services are in a clean install), but I was only logged into the cockpit console briefly when the system rebooted. After that it was sitting idle.

@mheon After running `lsof | grep podman` I noticed something interesting. Not sure if it's relevant, but I've included it here.

If I run `

[2021-06-08 20:10] mheon commented on #10003
From extensive investigation:

This appears to present very similarly to #6573 - there are zombies in the container preventing it from exiting. After 300 seconds, the failed exec session is cleaned up, the zombie disappears, the container exits. Before this happens, the container's PID 1 is alive and in interruptible sleep. Conmon is still alive and monitoring container PID1 (since it has not exit

[2021-06-08 20:25] edsantiago commented on #10003
`strace -p container-pid-1` shows an infinite-loop:
[code]
This surprised me at first -- I was not expecting `fork()s` -- but it's possible that `test` is not a builtin in the test image's `sh` (alpine). This would explain the `SIGCHLD` stream you saw.

I paid close attention to the strace output when running the `exec /no/such/command`. Nothing different (which is what I would expect; it would be

[2021-06-08 21:01] edsantiago commented on #10003
Here is a before-and-after `ps auxww --forest`. This is with the container just started:
[code]
Running `podman-remote exec foo true` adds a couple of `conmon` processes, but does not add any subprocesses to `system service`. Those conmon processes die in five minutes.

Running `podman-remote exec foo /nonesuch`, however, results in two new conmons plus a zombie:
[code]
Those, too, go away in five

[2021-06-08 21:21] yuzhouliu-solace opened #10606 "Podman run with volume permissions issue - different behavior than Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm migrating from Docker over to Podman. I'm experimenting with rootfull podman. Within the container I'm running, the processes run as user 1000001. First I create a volume, then do a `podman run` with that volume.
The container has a check script that checks the user 1000001 inside contain

[2021-06-09 01:39] edsantiago commented on #10003
Bad news. I had an f34 system to play with, decided to run a quick test. Problem reproduces first-attempt with podman-3.2.0-3.fc34 on 5.12.9-300.fc34.

[2021-06-09 04:46] PavelSosin-320 commented on #10575
This is simply crazy! After full reboot of the system, I have the following situation:
(From the root session)
//
pstree pavel
systemd─┬─(sd-pam)
        ├─podman─┬─podman─┬─podman
        │        │        └─9*[{podman}]
        │        └─9*[{podman}]
        └─podman pause
// But no session exists
[root@MSI-wsl ~]# loginctl
SESSION UID USER SEAT TTY
     c1   0 root      pts/1

1 sessions liste

[2021-06-09 09:30] giuseppe commented on #10602
seems to work fine on Fedora 24 with cgroup v1.

Could you please attach the output for `strace -v -s 5000 -f -Z podman stats $CTR_ID --no-stream` ?

[2021-06-09 09:37] rhatdan commented on #9258
@cdoern Take it.

[2021-06-09 09:41] rhatdan commented on #10606
Does solace-pubsub-standard:9.9.0.28 chown the directory to 777?

[2021-06-09 09:47] #10559 closed

[2021-06-09 09:54] PavelSosin-320 commented on #10575
Completed! Socket activation is even running! Except extra proc:
systemctl --user status podman
● podman.service - Podman API Service
     Loaded: loaded (/home/pavel/.config/systemd/user/podman.service; static)
     Active: active (running) since Wed 2021-06-09 09:49:09 IDT; 3h 5min ago
       Docs: man:podman-system-service(1)
   Main PID: 614 (podman)
     CGroup: /user.slice/user-1000.slice/us

[2021-06-09 11:09] aressem commented on #10319
It's acceptable. I was not aware of the `--no-hosts=true` option.

[2021-06-09 11:19] towe75 commented on #10602
@giuseppe  sure, here is the tail. Ping me if you need the full trace:

[code]

[2021-06-09 11:29] vrothberg commented on #10587
@tobwen, can you elaborate on that?  How can the journal logs explode?  Doesn't it rotate?

Note that the k8s-file log driver does not implement any rotation.

[2021-06-09 11:31] giuseppe commented on #10602
thanks!

Could you also give me the output for: `cat /proc/$CONTAINER_PROCESS_PID/cgroup` and `cat /proc/self/mountinfo`?

[2021-06-09 11:33] Jean-Daniel commented on #10578
At least, you can give it some flexibility in the version check:

By switching to the testing release on Linux I now have the following frustrating error:

[code]

[2021-06-09 11:37] towe75 commented on #10602
[code]

I assume you want the /proc/self/mountinfo for the host? It might be a bit confusing:

[code]

[2021-06-09 11:44] vrothberg commented on #10457
Yes, I can reproduce.

[code]

The compat endpoint does not include the health check data.  @cdoern, do you have cycles to tackle it?

Cc @jwhonce

[2021-06-09 11:44] giuseppe commented on #10602
I see what happens.  systemd moves itself to a different cgroup under the named hierarchy and that might confuse the cgroup detection code.

[2021-06-09 12:00] giuseppe commented on #10602
opened a PR: https://github.com/containers/podman/pull/10609

[2021-06-09 12:22] cdoern commented on #10457
@vrothberg i'll fix the compat endpoint this morning, I'll take a look now!

[2021-06-09 12:25] vrothberg commented on #10457
Awesome, thank you, @cdoern.

[2021-06-09 13:02] yuzhouliu-solace commented on #10606
No, it only does a check that user 1000001 inside the container can write to the mounted path `--volume storage-group:/var/lib/solace`, i.e. user 1000001 can write to /var/lib/solace inside the container.

Should it do a chown, or chmod?

[2021-06-09 13:28] #9871 closed

[2021-06-09 13:32] rhatdan commented on #10575
Podman always kicks off another podman on first execution to hold open the user namespace.
This Podman continues to run until the user logs out, or you execute `podman system migrate`

http://docs.podman.io/en/latest/markdown/podman-system-migrate.1.html

[2021-06-09 13:33] sshnaidm opened #10612 ""Podman image pull" API returns wrong response type and content"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

"Podman image pull" API doesn't return JSON valid response as it should according to documentation.

**Steps to reproduce the issue:**

1. `curl -XPOST --unix-socket /tmp/podman.sock -v 'http://d/v2.0.0/libpod/images/pull?reference=quay.io%2Fcontainers%2Fpodman'`
2.
[code]

**Describe the res

[2021-06-09 13:33] rhatdan commented on #10575
@mheon didn't you write a blog on this somewhere?

[2021-06-09 13:41] edsantiago opened #10614 "podman-remote build --device : unhelpful error message"
Whether or not `--device` is meaningful in `podman-remote build`(*), this is not a helpful failure:
[code]

* My initial reaction was that it's not, but on reflection I think there might be use cases for it. I leave that decision to others.

[2021-06-09 13:52] yuzhouliu-solace commented on #10606
Another data point...

No existing volumes, create a container, with volume to container path
`sudo podman create -v storage-group:/var/lib/solace --shm-size=1g solace-pubsub-standard:9.9.0.28`
[code]
^ Notice the ownership is root and permissions

As soon as I do `sudo podman start <container id>`
[code]
^ Notice the ownership changes to the container user 1000001 automatically.
Within the contai

[2021-06-09 14:11] seanrmurphy opened #10615 "Restoration of privileged checkpointed container fails due to ProcessLabel being undefined for privileged container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When performing checkpoint/restore on privileged containers, the checkpoint does not indicate any issues/problems but the restore fails indicating:

[code]

On investigation, it was found that `ProcessLabel=""` for a privileged containers which leads to the error condition.

More discussion o

[2021-06-09 14:21] edsantiago opened #10616 "podman-remote build, with preprocessor: warnings go to server, not client"
Another one of those cases where output is seen by podman server, but not the client.

In window 1:
[code]
In window 2:
[code]
Back to window 1:
[code]
In all cases, exit status is 0. I'm not really OK with that, but that's what buildah does, so (shrug).

[2021-06-09 14:35] adambkaplan commented on #6721
@nalind do we need a separate GitHub issue to track vendoring https://github.com/containers/common/pull/579 into containers/buildah?

[2021-06-09 14:52] nalind commented on #6721
@adambkaplan if we need to do that on a `release-...` branch or before the next `containers/common` release (at which point dependabot will open the PR to pull it in to the development branch automatically), yes.

[2021-06-09 14:52] Luap99 commented on #10606
I just pulled the image, the directory `/var/lib/solace` is 777 inside the image. The volume is not preserving the correct permissions. I believe #10531 should fix this.

[2021-06-09 14:59] mheon commented on #10616
I think we need Buildah changes for this one - it looks like these errors are not making it through the writer that Podman passes in and instead are being logged directly. @TomSweeneyRedHat @nalind PTAL.

[2021-06-09 15:01] mheon commented on #10612
@jwhonce PTAL. This looks like a case where we forgot to update documentation after we added progress reporting?

[2021-06-09 15:04] ashley-cui commented on #10555
closed via https://github.com/containers/podman/pull/10605

[2021-06-09 15:04] #10555 closed

[2021-06-09 15:06] pclass-sensonix opened #10617 "podman docker-compose healthchecks issue"
I am running podman 3.1.2-dev on a custom embedded Linux device.  I have a docker-compose.yml file with an application named '**app1**', which is a simple Python3 Flask webserver.  Podman successfully brings up the docker-compose environment, but my healthchecks always return error, regardless of what I use for timeouts, intervals, retries, etc. My defined healthcheck works when I exec into the co

[2021-06-09 15:20] Diniboy1123 commented on #10463
I did some further debugging and if I do `tcpdump -i wg0` there is absolutely nothing I can see. It looks like the packets are never even leaving the container.

[2021-06-09 15:24] adambkaplan commented on #6721
I don't think that's necessary, since OpenShift code freeze is Friday. We'll keep the BZ I referenced earlier in mind when buildah cuts its next release and we vendor it into OpenShift.

[2021-06-09 15:58] mheon commented on #10578
We're fixing this one in 3.2.1 - this was my mistake, I bumped the minimum supported APi version for the client to 3.2.0, it should be lower.

[2021-06-09 16:01] mheon commented on #10617
I see "Custom embedded system" - Podman healthchecks require the use of systemd as an init system. Does your distribution use systemd for init?

[2021-06-09 16:24] PavelSosin-320 commented on #10575
@mheon So, this process must disappear after logout, poweroff together with the user's session. But it doesn't happen - see above. This is the same problem: no PID file means no clean-up is possible.

[2021-06-09 17:20] pclass-sensonix commented on #10617
@mheon - Yes I use systemd. I can see the timer firing periodically to run the healthcheck.

[2021-06-09 17:36] prestwichj opened #10620 "volume mount error with podman 3.x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running elasticsearch on 3.x has several volume mount issues while it worked on 2.x

**Steps to reproduce the issue:**

1. create docker-compose.yml with elasticsearch
volumes:
  esdata:
    driver: local
    driver_opts:
      o: "uid=1000"
services:
  elasticsearch:
    container_name: elast

[2021-06-09 17:36] edsantiago opened #10621 "podman-remote build -f does not recognize - (minus, i.e. stdin)"
Special case not caught by #10550.
[code]
Works fine with non-remote podman.

[2021-06-09 17:43] mheon commented on #10617
Alright. Next best guess is that this is an issue with the Compat API for container creation - might not be translating the Docker-formatted healthchecks properly into Podman ones. @jwhonce You have time to take a look? Could also be a good one for @cdoern

[2021-06-09 18:30] cdoern commented on #10617
I can take a look at this, it is in the same vein as #10610

[2021-06-09 18:38] cevich commented on #10329
***Supporting/Required changes:***

* Update `$DEST_BRANCH` in `.cirrus.yml` ***and*** default value in `./contrib/cirrus/lib.sh` and `contrib/cirrus/pr-should-include-tests`
* Update conditional for `"$CIRRUS_BRANCH" == "master"` in `./contrib/cirrus/runner.sh`

(I'll update this comment as/if I find more)

[2021-06-09 20:07] NTMan opened #10623 "kernel commit bfb819ea20ce8bbeeba17e1a6418bf8bda91fc28 breaks podman"
/kind bug

**Description**
I found that podman couldn't starting my container after upgrade kernel to 5.13-rc4
This is strace output:
[code]

And I already bisected kernel commit.
[code]

[2021-06-09 20:18] edsantiago commented on #10154
PR #9887 (buildah-bud tests under podman-remote) has been catching a large number of bugs in both podman and buildah. It would be really great if we could merge that and run it in CI, instead of manually by me, but we can't, because of this flake. Is there any chance someone could take a fresh look?

[2021-06-09 22:21] tobwen opened #10624 "[journald] possible GDPR issues"
I've read about your plans to make _journald_ the default logging target of _podman_. Since some containers dump to _stdout_ and _stderr_, even data protected by laws of data protection and privacy might get logged. So there might be some issues according to the _EU-General Data Protection Regulation_ (_EU-GDPR_), some administrators might not be aware of.

1. _journald_ - right now, `systemd 247

[2021-06-09 22:39] siretart opened #10625 "podman 3.2 fails to build from source (FTBFS) on all architectures that are not amd64, arm64"
/kind bug

Please consider the buildlogs at https://buildd.debian.org/status/package.php?p=libpod&suite=experimental

Right now, amd64 and arm64 are the only architectures that podman can build on. On all other architectures, the build fails with:

[code]

The reason is that the function getFCOSDownload is implemented only for these two archs at:
- https://github.com/containers/podman/blob/master/

[2021-06-09 22:47] KCSesh opened #10626 "User namespaces enabled, but no uid mappings found. When userns=auto with --rootfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to start a container using the `--rootfs` option with `userns=auto` so I don't have to manage it myself with `--uidmap` and `--gidmap`.
However, when I use userns=auto it fails to work.

The Error is: `User namespaces enabled, but no uid mappings found.`

But the documentation says:
[c

[2021-06-09 23:39] ardrigh commented on #10623
I am getting this same error message in Fedora, using packages from `updates-testing`

[code]

[code]

[code]

[code]

I haven't tried booting into older kernel versions yet, I will see if a previous version works.

[2021-06-10 02:22] mheon commented on #10299
Has anyone been able to replicate this since? If not, I think we should close.

[2021-06-10 02:25] mheon commented on #10625
We'll need a fix for this landed before we release 3.2.1 tomorrow. @baude is on PTO, so I guess I'll take a look (unless @ashley-cui has time?)

[2021-06-10 02:26] mheon commented on #10623
I believe @giuseppe is looking at this as it's coming out of crun?

[2021-06-10 02:30] mheon commented on #10626
@giuseppe PTAL

[2021-06-10 05:00] ecnepsnai opened #10627 "Syntax error in Dockerfile doesn't generate an error, produces useless image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If a Dockerfile has a VOLUME call with a path that doesn't start with a slash, podman build does not return an error but produces a useless image.

Trying to run this image locks up podman. `podman ps` hangs.

**Steps to reproduce the issue:**

Build and run an image with the following docker

[2021-06-10 05:10] tobwen commented on #10590
Okay, this only seems to happen at the start of a container... seems like my experiments were a little bit too hard :-) Closing, since this isn't a bug.

[2021-06-10 05:10] #10590 closed

[2021-06-10 05:18] tobwen commented on #10627
Hmm, I've tried your example and it here worked.

<details>
  <summary>Click to expand</summary>

[code]

</details>

[code]

[2021-06-10 05:29] tobwen commented on #10587
@vrothberg

I mean, a malicious user just could run `< /dev/random logger` and some minutes later, a server could be locked up (if the logs are on the same partition as root).

Also please think about this: https://github.com/containers/podman/issues/10624 - sure, it's not a _podman_ problem, but might be an issue... once the data is logged in _journald_ you can't get it out without removing the w

[2021-06-10 06:04] tobwen commented on #10587
I just tried it and after 25 minutes:

[code]

[2021-06-10 07:09] giuseppe commented on #10623
yes, this is fixed with crun 0.20.1 that was released yesterday: https://github.com/containers/crun/issues/687

[2021-06-10 07:09] #10623 closed

[2021-06-10 07:11] giuseppe commented on #10626
yes that is not going to work.  When you use `--userns=auto` it picks an automatic range for the user namespace, and that won't work well with `--rootfs` since the storage is not managed by Podman.

If you use `-rootfs` then you should use `--uidmap` or `--gidmap` to specify a mapping compatible with the rootfs you are using

[2021-06-10 07:11] #10626 closed

[2021-06-10 07:39] Luap99 commented on #10625
This compiles just fine. The package `pkg/machine` is never called on non supported architectures so it should not be pulled in.

I can see in the linked build logs that go install is called for every single package in the repository and thus `go install pkg/machine` is failing. I do not know why this is done but I guess we should add the same buildtags from cmd/podman to this package.

[2021-06-10 07:50] vrothberg commented on #10624
Thanks for opening the issue, @tobwen.

It's an interesting topic.  I wonder whether there's a difference to other data a user may leave on the machine, for instance, data written to volumes.  It sounds like a general problem to me which is not limited to journald.

Yes, that would be a better user experience with `journalctl`.

How about adding a section to the man pages that explains how logs ca

[2021-06-10 08:06] vrothberg commented on #10587
Couldn't a malicious user do that pretty much everywhere on the system?  I am not saying it's not a problem but I question whether it's tied to journald.  To the best of my knowledge, journald does a decent job at log rotation to prevent the disk from running full.

[2021-06-10 08:08] adrianreber commented on #10615
@rhatdan you can assign this one to me

[2021-06-10 08:24] Luap99 commented on #10587
Yes and in fact journald is much better than the current default k8s-file which has by default no limit set.

[2021-06-10 08:30] Luap99 commented on #10627
Yes this should be fixed in v3.2

[2021-06-10 08:30] #10627 closed

[2021-06-10 08:51] tobwen commented on #10624
I don't think _journald_ was designed to edit existing journals. I think the seal doesn't allow this kind of modification. A trick is to export, modify and rewrite the log, which also needs external scripting.

Since the new default is going to "silently" log to _journald_, it should be aware to the user, that privacy data my be stored in there and can not be removed easily.

[2021-06-10 08:54] duritong commented on #8827
I can confirm this behavior on WSL 2 with the Fedora Remix:

Rootfull works (at least info), rootless is throwing that clone exec error.

I did swap the root config to cgroupfs and file as events_backend.

[code]

Can we re-open @rhatdan / @baude ?

This is a fresh installation.

[2021-06-10 08:58] tobwen commented on #10587
I'm not completely against _journald_, but it really has some design problems or non-implemented features, like the missing handling of broken journals (and not even complain about it...). But after all: sure, it's all up to the user and his configuration.

Sorry for the noise :-)

[2021-06-10 09:01] vrothberg commented on #10624
journalctl allows for deleting all logs based on time (e.g., --vacuum-time=1h).  I think that may be helpful information in the man pages.

[2021-06-10 09:02] tobwen commented on #10624
Yes, but I don't want to delete all my logs. Just specific logs, e.g. for container "nginx" or for IP "x.x.x.x.".

On my system, _journald_ just acts as a buffer and _rsyslog_ with post-processing does the real job.

[2021-06-10 09:04] vrothberg commented on #10587
No worries, we appreciate the feedback a lot!

I think that the journald logger is a major improvement over the k8s-file logger.  As @Luap99 mentioned, the file logger does not implement any rotation which can cause issues.  Our goal is to use as much existing infrastructure as possible, and offloading such things to systemd/journald make our life much easier and Podman more robust.

[2021-06-10 10:41] Luap99 commented on #10620
As you can see podman 2.x ignored your volume uid so this also did not worked.

Simple reproducer for this problem
[code]

[2021-06-10 11:35] siretart commented on #10625
thank you for the very quick turnaround!

@Luap99 -- I didn't invent the golang debhelper that drives the compilation of golang applications in Debian package builds. I guess this, let's call it "interesting" design decision, was made to allow to "unvendor" sources easily. The debian package build would first identify all sources, copy them to a temporary directory, create symlink farms to `/usr/s

[2021-06-10 11:50] PavelSosin-320 commented on #10575
P.S. Maybe the correct way to create and manage Podman service CGroups and slice is the Podman-user.slice >
Only 4 lines of Podman-user slice unit
cat podman-user.slice
[Unit]
Description=Podman ServerResource Limits
Slice]
Created me
$ systemctl --user start podman-user.slice
[pavel@MSI-wsl-wsl user]$ systemctl --user status podman-user.slice
● podman-user.slice - Podman ServerResource Limits

[2021-06-10 12:57] duritong commented on #8827
It could be that the Kernel is too old since the (managed) Windows Version is quite old.

[2021-06-10 13:14] tobwen opened #10640 "[rootless] `podman pause` idles forever"
/kind bug

**Description**
On my system, `podman pause` idles forever under `PID1`.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
`podman pause` never dies.

**Describe the results you expected:**
No `podman` process after last container was exited.

**Additional information you deem important (e.g. issue happens only occasionally):**
Binaries are only available

[2021-06-10 13:26] tobwen commented on #10640
https://github.com/containers/podman/pull/7133

[2021-06-10 13:28] #10625 closed

[2021-06-10 13:28] tobwen commented on #10624
No podman issue. Closing.

[2021-06-10 13:28] #10624 closed

[2021-06-10 13:46] #10556 closed

[2021-06-10 14:11] mheon commented on #10640
I'd still like to revisit this and write a race-safe way of closing the pause process, but it's complex to get right and low-priority since leaking a single process, which consumes virtually no resources, is not really a large issue.

[2021-06-10 14:41] tobwen commented on #10640
Okay, after reading into the other issues and PRs, the problem is clear to me now. Thanks.

[2021-06-10 14:43] barfurth commented on #9222
Has there been any progress on this? Our shared Gitlab CI runner does not allow us to set privileged mode and we're getting this exact error for a `build`.

[code]

[2021-06-10 15:08] ecnepsnai commented on #10627
Thanks @Luap99 !

[2021-06-10 15:08] nalind commented on #9222
#10079 may have solved this; the owner of a user namespace should have the ability to create a new mount namespace.  If the `unshare` syscall is blocked, though, or the host system doesn't allow user namespaces to be created (i.e., if the `user.max_user_namespaces` sysctl setting is 0), we're kind of stuck.

[2021-06-10 15:34] barfurth commented on #9222
Not sure we can do anything about user namespaces in a CI environment to be honest. Seems like we’re stuck.

[2021-06-10 17:20] cdoern commented on #10617
@jwhonce PTAL if you have time, not seeing any obvious issues with the compat API on this one. Healthcheck is passed in the body of the request and seems to be decoded properly.

[2021-06-10 18:30] josh-hemphill opened #10645 "[Docs Enhancement]: unclear what the package `podman-docker` is"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Current directions for compatibility with docker-compose lists needing to install `podman-docker`, but there doesn't seem to be any mention of it itself in documentation and the listings in the package repose (e.g. arch repo search), just link back to this repo.

If it's all in flux right

[2021-06-10 21:01] #10602 closed

[2021-06-10 21:08] crcox opened #10647 "Identifier is not an image error when trying to remove image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

My system root resides on a fairly small hard drive, and container images were occupying an uncomfortable amount of that space. Furthermore, my goal was to install images in a shared location that multiple non-root users (without sudo rights) could use.

After resetting podman and clearing ev

[2021-06-10 21:30] wrobell opened #10648 "After using podman tag, podman run fails"
/kind bug

The image cannot be found after tagging it with podman 3.2.0 (the below works with podman 3.1.1)

[code]

but

[code]

[2021-06-10 21:37] infiniteregrets opened #10649 "Incorrect documentation examples for podman-image-diff"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In the documentation at http://docs.podman.io/en/latest/markdown/podman-image-diff.1.html
this example: `podman diff --format json redis:old redis:alpine` is used. But this does not work with the current version of podman.

[code]
[code]
I think when a single image is mentioned the diff should

[2021-06-10 21:54] MartinX3 commented on #9729
dear @rhatdan since 3.2 podman supports it in rootless mode.
But still this error exists

docker-compose.yml```
version: "3.9"

services:
  postgres:
    image: docker.io/postgres:13-alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256"
[code]

[2021-06-10 23:05] ardrigh commented on #10623
Confirmed this is fixed on Fedora 34 with new packages in `updates-testing`

[2021-06-10 23:48] raveinid commented on #10645
A Debian package would be beneficial. Documentation and download links would be useful. I've been searching for podman-docker after watching The Level Up Hour (E35): Podman v3 and docker-compose.

[2021-06-11 00:04] siretart commented on #10645
I believe this request is tracked as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=984770 -- let me know if I'm missing something here.

Sorry for the delay, but I was planning to work on this after podman v3.2.1 makes it to experimental.

Note that this unfortunately won't make it into debian/bullseye :-(

[2021-06-11 00:21] mheon commented on #9729
It looks like you're probably pointed at the root Podman socket - we'll need to get instructions updated for rootless, but pointing the `DOCKER_HOST` environment variable to point to the local user's Podman socket (which should be started via `systemctl --user start podman.sock`)

[2021-06-11 02:28] mheon commented on #10648
@vrothberg PTAL - I suspect this is the `localhost/` prefix?

[2021-06-11 02:29] mheon commented on #10648
@wrobell What Podman version, what distribution?

[2021-06-11 02:29] mheon commented on #10648
A full `podman info` would be very helpful.

[2021-06-11 04:34] darrenfoong opened #10650 "Unable to run systemd container with custom SELinux policy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I've been playing around with `podman` and `udica`, and it seems that while it is possible to run most containers with custom policy modules (`--security-opt label=type:my_policy.process`), it is not possible for containers running `systemd`. This is because containers running `systemd` a

[2021-06-11 04:34] darrenfoong opened #11100 "Unable to run systemd container with custom SELinux policy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I've been playing around with `podman` and `udica`, and it seems that while it is possible to run most containers with custom policy modules (`--security-opt label=type:my_policy.process`), it is not possible for containers running `systemd`. This is because containers running `systemd` a

[2021-06-11 09:24] zhangguanzhang commented on #10284
close if happend on the latest version
/close

[2021-06-11 09:24] #10284 closed

[2021-06-11 09:27] rhatdan commented on #10649
Please open a PR to fix the documentation, and if you want to add the feature to compare two images, then go for it.

[2021-06-11 09:30] rhatdan commented on #10647
I believe this is something we fixed in later Podman.  Could you try off of the main branch and verify,  reopen if I am mistaken.

[2021-06-11 09:30] #10647 closed

[2021-06-11 09:31] rhatdan commented on #10645
Since this is not a upstream issue, I am going to close it, follow up in the bugs.debian.org.
Thanks.

[2021-06-11 09:31] #10645 closed

[2021-06-11 09:33] rhatdan commented on #10640
I am going to close this issue, since we have other reports and are not going to work on it now.

[2021-06-11 09:33] #10640 closed

[2021-06-11 10:02] wrobell commented on #10648
@mheon

- problem is with podman 3.2.0
- everything is ok with podman 3.1.1
- distro: ArchLinux

[code]

[2021-06-11 10:16] kevinGan commented on #10578
some issue, wait big brother to fix

[2021-06-11 10:31] rhatdan commented on #10648
How did you create your test image?

[2021-06-11 10:33] rhatdan commented on #10648
[code]

[2021-06-11 10:51] wrobell commented on #10648
The image is built using buildah, then

1. Saved as OCI archive.
2. Copied to the target machine.
3. Imported from the OCI archive.
4. Tagged with podman.

Please note, that I can run the image using its image id (see the last command in the description of the bug).

[2021-06-11 10:56] vrothberg commented on #10648
I suspect that the image's architecture is not matching the one of your local machine.

Can you share the output of `podman image inspect --format "Arch: {{.Architecture}}, OS: {{.Os}}" test-image`?

[2021-06-11 11:01] wrobell commented on #10648
[code]

[2021-06-11 11:03] vrothberg commented on #10648
Does `podman run --arch=armv7l --os=linux test-image ls` work?

[2021-06-11 11:05] rhatdan commented on #10612
@cdoern PTAL

[2021-06-11 11:06] rhatdan commented on #10612
@sshnaidm Interested in opening a PR to fix?

[2021-06-11 11:24] vrothberg commented on #10648
Aaaah, I am slowly getting a feeling for the issue. Bottom line: the image is not OCI compliant.

The [image specification](https://github.com/opencontainers/image-spec/blob/859973e32ccae7b7fc76b40b762c9fff6e912f9e/config.md#properties) states that the mentioned architecture of an image must adhere to the [GOARCH](https://golang.org/doc/install/source#environment) values.  `armv7l` is _not_ a vali

[2021-06-11 11:37] wrobell commented on #10648
[code]

[2021-06-11 11:40] wrobell commented on #10648
The OCI archive was created using buildah.
[code]

[2021-06-11 11:41] wrobell commented on #10648
So it seems I should rebuild my images? Or is there some chance for transition period with a warning?

[2021-06-11 11:45] Luap99 commented on #10576
Yes this is definitely a to old slirp4netns version.
@dwhiteddsoft Podman will be included in debian bullseye, see https://packages.debian.org/source/testing/libpod

[2021-06-11 11:45] #10576 closed

[2021-06-11 11:50] vrothberg commented on #10648
Yes, that would be good.

Hard to say.  We did not consider mistakenly wrong architectures.

I am currently investigating if there is programmatic way of detecting wrong os/arch combinations and warn about them during image lookup.

NOTE: one workaround is to use the image ID.  That will instruct Podman to use exactly this image.  A lookup by name will always perform the os/arch matching.

@rhatda

[2021-06-11 12:38] wrobell commented on #10648
BTW. For architectures armv6 and armv7l, the only matching entry in "architecture" field is to be "arm", isn't it? Therefore it will not be possible to distinguish between these two?

BTW. @vrothberg  The relevant part of the image specification uses "should", not "must".

[2021-06-11 12:47] infiniteregrets commented on #10649
I have already opened #10536 and it's in progress. In the meantime, i'll try working on this

[2021-06-11 12:48] vrothberg commented on #10648
Either "arm" or "arm64".  I am always lost in the vast forest of ARM platforms.

An [image index](https://github.com/opencontainers/image-spec/blob/859973e32ccae7b7fc76b40b762c9fff6e912f9e/image-index.md) or in Docker-slang a "manifest list" has a "variant" field for discriminating platforms.

Fair point.  That means the image is compliant but off the recommended path.  I will investigate, why `ru

[2021-06-11 13:44] cdoern commented on #10612
Podman returns a 200 even when the image is not found as long as the request itself is valid. I am looking into now why the json is not as it should be

[2021-06-11 14:10] srd424 opened #10655 "generated systemd unit files need to pull in network-online.target"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Generated systemd unit files need to pull in `network-online.target`; at the moment they have `After=network-online.target`, but as per the [systemd documentation](https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/#cutthecraphowdoimakesurethatmyservicestartsafterthenetworkisreal

[2021-06-11 14:11] srd424 commented on #5291
(#10655 might be relevant to people reading here as well.)

[2021-06-11 14:13] crcox commented on #10647
Would this involve building Podman from source? I am running RHEL8 and would prefer to keep my Podman version in sync with the official repositories. Is there a work around?

[2021-06-11 14:24] polettix opened #10656 "podman-remote-static in release v3.2.0 is not static"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman-remote-static build for Linux available in release v3.2.0 is not static.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The `ldd` command provides a list of linked shared object files.

**Describe the results you expected:**

This is the same co

[2021-06-11 14:25] Luap99 commented on #10655
This sounds good to me.
@srd424 Interested in opening a PR to add this?

[2021-06-11 14:33] vrothberg commented on #10648
I opened https://github.com/containers/common/pull/622.  It will require some plumbing in Podman as well but is a good first step.  Once done, even a `podman run --arch=foobar` would work if a matching image of arch foobar is present in the local storage.

I'll be on vacation for a couple of days, so this will be something to land in Podman v3.3.

[2021-06-11 15:04] lsm5 opened #10657 "Verification for #podman:matrix.org ownership"
I'm in talks with matrix.org support team to reclaim ownership of `#podman:matrix.org` room. Currently it seems to be a private room and nobody knows who the current owner is.

I have sent a bunch of links about my association with podman but I'm hoping this issue serves as a public team signoff on the request.

Could people +1 this issue so I can forward this as verification to the matrix folks t

[2021-06-11 15:06] cevich commented on #10657
+1

[2021-06-11 15:07] #10501 closed

[2021-06-11 15:07] gigatexal commented on #10501
closed as this is likely due to my wierd setup -- will use docker just in a custom linux vm with a the cli pointing to it instead of docker-for-mac

[2021-06-11 15:10] rhatdan commented on #10197
@vrothberg Any ideas?

[2021-06-11 15:18] umohnani8 commented on #10657
+1

[2021-06-11 15:58] mheon commented on #10657
+1

[2021-06-11 16:31] mheon commented on #10656
We definitely did some makefile maintenance between 3.1.2 and 3.2.0, so we probably broke this somewhere in the midst of that.

[2021-06-11 16:39] Aight25 opened #10659 "Rootless container created with network will not start on podman-3.0.1-6"
**Steps to reproduce the issue:**

1. Set cgroups v2
grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=1"; shutdown -r 0

2. Enable linger
loginctl enable-linger ctest01

3. Build rootless-cni-infra via the ctest01 user
Download Containerfile & rootless-cni-infra
chmod 755 rootless-cni-infra
podman build -t rootless-cni-infra .

4. Create network
podman network create --subnet 19

[2021-06-11 16:39] wrobell commented on #10648
I have just build an image on my laptop using buildah

[code]

Should I wait for newer version of buildah?

[2021-06-11 16:49] mheon commented on #10648
This sounds like a potential Buildah bug, then - @TomSweeneyRedHat @nalind Can you guys take a look?

[2021-06-11 17:00] cdoern commented on #10612
@sshnaidm I was able to alter the JSON encoding to read as follows:

[code]
Before I submit a PR to fix, does this look right to you or is there something more specific you expect to be output here? Also comment above explains 200 vs. 404 response.

[2021-06-11 17:00] cevich commented on #10656
Oh!  Yep, Matt's likely correct.  I'll take a peek, thanks for letting us know.

[2021-06-11 17:07] mwhahaha opened #10660 "dockerfile parameter broken in the /v3.1.2/libpod/build api call"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

#10550 has changed the way the dockerfile parameter is handled by the api. Previously the expectation was that dockerfile is a string parameter, however the patch seems to change the expectations to json which fails when passed in a simple string.

This can be seen over in the podman-py CI wh

[2021-06-11 17:09] sshnaidm commented on #10612
Thanks, I see 400 is reserved, but I'm talking about 404 response. It's logical to have it if no image present, for example like it's done for inspect: https://docs.podman.io/en/latest/_static/api.html#operation/ImageInspectLibpod
Code 200 should be returned only in case image exists and pulled successfully.

[2021-06-11 17:09] mwhahaha commented on #10660
A proposed fix would be:

[code]

[2021-06-11 17:10] sshnaidm commented on #10612
Thanks! That's exactly what I'd expect.

[2021-06-11 17:11] mheon commented on #10659
The rootless network stack was completely reworked in Podman 3.2.0, so this type of error can no longer occur.

[2021-06-11 17:11] #10659 closed

[2021-06-11 17:13] mheon commented on #10612
I'm a little concerned by that change, @cdoern - is it still streaming *as the messages occur*? It's crucial that the messages be printed as they happen on the server, to provide real-time progress reports to user-facing `podman-remote pull` calls.

[2021-06-11 17:13] nalind commented on #10648
Yeah, the defaults we set when we don't have values to inherit from a base image probably need a going over for `arm` and variants.

[2021-06-11 17:19] cdoern commented on #10612
@mheon  no what I did was just concatenated all of the stream messages into a string and put the json together when the run context was closed. Should I keep it like this (for final output purposes) and also stream it to the user? I was also able to format it like this using end.setIndent():

[code]

[2021-06-11 18:07] mheon commented on #10612
It `doesn'` sound like that does what we need - sending the JSON only at the end is going to break user interactive use cases.

For reference, the current implementation exactly matches Docker, which means we probably did this deliberately. I don't think we should be changing anything here, just documenting how things work.

[2021-06-11 18:10] sshnaidm commented on #10612
@mheon what is the user interactive use case in API?

[2021-06-11 18:13] mheon commented on #10612
@sshnaidm The API also has to support the `podman-remote` commands, which need to be able to report the current status of the pull back to the user. Other tools can consume this as well - we're basically streaming the current progress bar so it can be displayed.

[2021-06-11 18:15] mheon commented on #10660
Eeek. This one seems pretty bad.

@rhatdan @Luap99 @jwhonce I think we need to hold 3.2.1 until we have a fix for this, breaking the Docker-compat API this seriously is bad.

[2021-06-11 18:15] HarriL commented on #6508
That is wrong, it works opposite in Docker namely keeps stopped after boot and in Podman it keeps always stopped after boot so in Podman unless-stopped is identical to always! Now Podman has this implemented. Thx to those few experts who did understand both Docker and Podman and fixed this. Now Podman is compatible with Docker what come with this feature.

[2021-06-11 18:21] sshnaidm commented on #10612
@mheon well... I don't know, having one call without valid JSON in API seems weird to me, even just for progress bar. Maybe adding an option `no-progress-bar`? I think other tools would be more expecting a standard response, then making workaround about it like it's done in podman-py: https://github.com/containers/podman-py/blob/850f97cef0867e3ba1a383d7c2a4068b95849de9/podman/domain/images_manager

[2021-06-11 18:26] mheon commented on #10612
If we don't already have a `quiet` parameter to suppress the extra status info, adding one sounds like a good idea

[2021-06-11 18:47] rhatdan commented on #10660
@mwhahaha interested in opening a PR?  @mheon  I did not know you were back porting all of the new fixes.

[2021-06-11 18:49] mwhahaha commented on #10660
@rhatdan #10061 is open, i'm looking at adding tests

[2021-06-11 19:05] mheon commented on #10660
@rhatdan I grab just about everything that's not a new feature or change to existing functionality and applies cleanly on the branch.

[2021-06-11 19:08] cdoern commented on #10612
@mheon would something like this for a quiet response:

[code]
and then this for a regular response:

[code]
be good?

[2021-06-11 19:14] mheon commented on #10612
Should we include the `stream` parameter in the final message? @jwhonce

[2021-06-11 20:11] KCSesh commented on #10314
@giuseppe  do you mind providing me with more context on what this is doing?

Specifically:

1. This maps group 1002 into the container at ID 100000, then `--group-add 100000` attaches this group to the user running the main container process. Is this accurate?

2. How does this work with `read-only`?
I have tested it, and tt works, but I don't understand where this `--group-add 100000` is stored?

[2021-06-11 20:26] ashley-cui commented on #10105
Okay, after some discussion, we've realized that kubernetnes' two level secret hierarchy is _really_ hard to handle because it differs so much from podman's secret hierarchy. Specifically, each key-value pair within a Kubernetes secret is equivalent to a single secret in podman's eyes. This creates a problem because Kubernetnes can have two different secrets with the same key. Podman would be unab

[2021-06-11 20:31] #10620 closed

[2021-06-11 20:33] rhatdan commented on #10657
+1

[2021-06-11 20:34] rhatdan commented on #10655
@vrothberg FYI

[2021-06-11 20:36] anthr76 commented on #10274
Looks like this regression might be back?

`podman version 3.2.0`

[2021-06-11 20:41] rhatdan commented on #10560
@Luap99 do you plan on opening a PR for this?

[2021-06-11 21:00] riyad opened #10663 "Compat API: building a container with a custom Dockerfile started failing with #10550"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 through [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regression.

Building a container with a custom Dockerfile started failing with #10550.

**Steps to reproduce the issue:**

1.
[code]

2. `tar c

[2021-06-11 21:02] mheon commented on #10663
Dupe of https://github.com/containers/podman/issues/10660?

[2021-06-11 21:10] riyad commented on #10663
Oh, indeed. :sweat_smile:

[2021-06-11 21:10] #10663 closed

[2021-06-11 22:31] TomSweeneyRedHat commented on #10657
+1

[2021-06-11 23:44] lsm5 commented on #10657
Sent this over to the matrix support ticket. I'll update any progress here.

[2021-06-11 23:48] edsantiago commented on #10657
+1

[2021-06-12 00:28] jberkus commented on #10623
This is still broken for me in today's rawhide.  The reason why is documented in the linked Fedora image issue.

[2021-06-12 02:10] NTMan commented on #10623
Looks like on kernel side this issue was fixed with commit 591a22c14d3f45cc38bd1931c593c221df2f1881 even with old podman.
[code]

[2021-06-12 03:41] vikas-goel commented on #10266
Now that podman 3.2 is released, wanted to check if this one can make to next release?

[2021-06-12 03:42] vikas-goel commented on #10262
Hi @mheon , just checking on this one.

[2021-06-12 07:42] stevegt commented on #10100
I'm hitting the same EINVAL error with buildah 1.21.0 on ubuntu 20.04 when running `buildah run alpine-working-container sh` -- a simpler test like that might make troubleshooting easier for OP.  (And no, I don't know yet what's causing it either.)

[2021-06-12 08:06] tobwen opened #10664 "[3.3-dev] podman doesn't find the systemd user session"
/kind bug

**Description**
_podman_ 3.3.0-dev doesn't find the _systemd_ user session

**Steps to reproduce the issue:**

1. ```root@debian:~# loginctl enable-linger 1000```

2. ```root@debian:~# machinectl shell --uid=tobwen```

3. ``` tobwen@debian:~$ podman run -it --rm bash```

**Describe the results you received:**
[code]

**Describe the results you expected:**
Use of _sytemd_ as _cgroupv2_-m

[2021-06-12 08:59] jwillikers opened #10665 "Named volumes as Btrfs subvolumes?"
When using the Btrfs driver in Podman, containers are stored as individual subvolumes.
However, my most important data is stored in named volumes which are not stored in individual subvolumes.
It would be nice if named volumes were created as Btrfs subvolumes when using the Btrfs driver.
This should make it simpler for anyone who wants to take snapshots of named subvolumes.

I can also think of in

[2021-06-12 08:59] rhatdan commented on #10665
@mheon WDYT?

[2021-06-12 09:43] towe75 commented on #10657
+1

[2021-06-12 09:47] mheon commented on #10665
It would add significant complexity to the code - right now they’re just
folders, no involvement of the storage driver and c/storage at all.
Theoretically possible, but I don’t know if the benefits justify the added
complexity.

I think this should be possible right now with volume drivers, though? Just
need to get one written that uses btrfs as a backend. Or even the built in
volumes with Mount o

[2021-06-12 10:29] MartinX3 commented on #9729
Dear @mheon
Thank you for the reply
The `DOCKER_HOST` variable is unused on my system and it seems that docker-compose uses the root sock by default.
I didn't modify anything during the podman rootless installation regarding the socket.

I also don't have a podman.sock
[code]

I have a podman.service, with and without `--user`, but it is still dead after running `podman-compose up` (at least podma