[2020-01-13 10:23] #4848 closed

[2020-01-13 10:26] vrothberg commented on #4848
@zhuguoliang can you paste the error?

[2020-01-13 10:39] jschlyter opened #4849 "Pulling cross platform images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

BUG REPORT

**Description**

I'm trying to pull a arm32v7 image on amd64, for later use with QEMU & `qemu-user-static`. I'm pretty sure this worked in previous releases of podman and it does work on vanilla `docker-ce` on Fedora 30.

**Steps to reproduce the issue:**

1. `podman pull arm32v7/debian:stretch` on amd64

**

[2020-01-13 14:07] mheon commented on #4847
I'll grab this one

On Mon, Jan 13, 2020, 02:50 Matej Marušák <notifications@github.com> wrote:

[2020-01-13 14:16] mheon commented on #4813
Probably not. Anything not long term should move rapidly to 1.7.0, while
long term releases are on a critical security or bugfix basis.

On Mon, Jan 13, 2020, 04:05 Giuseppe Scrivano <notifications@github.com>
wrote:

[2020-01-13 15:33] rhatdan commented on #4770
@haircommander @mheon PTAL

[2020-01-13 15:39] mheon commented on #4770
I think the safest option for this is to allow a local copy of /etc/resolv.conf, /etc/hosts for containers in a pod if they specify these options, instead of using the pod-level files.

[2020-01-13 15:40] mheon commented on #4770
To be clear, this means that `--dns` will affect only one container in the pod, not the entire pod.

To change the entire pod, we'd want to add `--dns` to `podman pod create`.

[2020-01-13 15:40] mheon commented on #4849
@nalind PTAL

[2020-01-13 15:45] rhatdan commented on #4794
Yes.  If it broke out to the file system, there would be nothing preventing the reading of these files if the process was running as your UID or as root.

[2020-01-13 15:48] rhatdan commented on #4687
@AkihiroSuda Could you comment on this?

[2020-01-13 15:52] mheon commented on #4847
This is a result of our parsing changes for `--change` in 1.7.0 to more closely match `docker commit` syntax.

Multi-part `commit` changes are not allowed in Docker with just quotation marks, and instead require an array. Also, use of an `=` between instruction and value is really discouraged - a space is greatly preferred. `sudo podman commit -c 'CMD ["sleep", "6000"]' to_be_commited commited_ima

[2020-01-13 15:52] #3799 closed

[2020-01-13 15:56] AkihiroSuda commented on #4687
Why are you trying to run slirp4netns as root?

[2020-01-13 15:57] mheon commented on #4687
I don't think this is a problem with Slirp itself - it sounds like we're not properly respecting the requested slirp4netns setting and applying CNI as well. A lot of networking code is written with the implicit assumption that root=CNI, rootless=slirp - I bet that's where this slipped in.

[2020-01-13 16:05] bundi78 commented on #4846
This is a parts of the syslog:

Jan 10 15:33:15 dev1 kate[21540]: kf5.kio.core: KIO Connection server not listening, could not connect
Jan 10 15:33:15 dev1 kate[21540]: kf5.kio.core: couldn't create slave: "Can not create socket for launching io-slave for protocol 'file'."

This is all I could find to narrow the problem, sorry.

[2020-01-13 16:11] mheon commented on #4846
So it explicitly required 0700. Interesting.

I don't really know what we can do about this aside from moving our temporary files dir out of `/run/user`.

[2020-01-13 16:19] marusak commented on #4847
I see.
How is API affected? (from docs)
[code]
What is supposed to be passed into `changes` in the same usecase?

[2020-01-13 16:20] mheon commented on #4687
@ensc Can you possibly test #4853 and verify that it resolves the problem?

[2020-01-13 16:26] mheon commented on #4847
The format for each individual change (string in the array) should again match standard Dockerfile format - instruction, then value, separated by a single space - basically identical to what we pass into the command line for `--change`.

[2020-01-13 16:32] rhatdan commented on #4813
Yes no back porting, unless absolutely necessary.

[2020-01-13 16:46] vrothberg commented on #4833
@giuseppe, how shall we tackle this? Move slirp and overlayfs in the other cgroups?

[2020-01-13 16:46] rhatdan commented on #4831
Strange.  I thought we had fixed it, with a PR to containers/storage.

[2020-01-13 16:48] marusak commented on #4847
[code]
works. It seems not to break API? I'll try to implement this and see how it behaves with older versions. But really, having array as string in API is so unfriendly...

[2020-01-13 17:14] giuseppe commented on #4833
I think the correct solution would be to not create a new cgroup at all when running directly from systemd, it is pointless to create a new one and tell systemd to monitor a process from another cgroup.

The issue is that I don't know of any what to detect whether we are running from a systemd service, so we should invent our own way to signal it.  It can be a simple environment variable, or if we

[2020-01-13 17:50] rhatdan commented on #4846
Can we create a subdir `containers` and put them in the subdir?

[2020-01-13 18:05] axelthimm commented on #1552
Hi Giuseppe,
this (cosmetic) warning does cause confusion at customers that consider this warning to be the cause of later failures (which have different causes).
I find myself in the need to lower the log level on some podman operations to ease adoption.
Could we make a different priority/wording or a smarter detection to not issue a warning if there are no cgroups V2?

[2020-01-13 18:16] mheon commented on #1552
Are you seeing WARN level logs by default? That shouldn't be the case,
Podman has always defaulted to ERROR level logging.

On Mon, Jan 13, 2020, 13:05 axelthimm <notifications@github.com> wrote:

[2020-01-13 18:34] vrothberg commented on #4833
I consider this as a regression as it works with pre-1.7 versions. One more F31 user has reached out on IRC today and I would not want to introduce that to RHEL. So I'd love to figure out a way to detect if we're running in a systemd service.

More recent versions of systemd are setting some env variables (see https://serverfault.com/a/927481) but I think that might not work in all circumstances.

[2020-01-13 18:45] mheon opened #4854 "Improve logging"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman's debug-level logs are starting to get out of hand. We've been abusing the DEBUG level for everything that is below WARN, ignoring the INFO and TRACE levels entirely, and it's seriously affecting readability of our logs. Further, we should investigate improvements to log tagging if

[2020-01-13 18:45] ParitoshBh commented on #4790
Any updates on this? I am facing the exact same issue and ppa still seems to be carrying version 1.6.2. Also noticed there's a [snap version of podman](https://snapcraft.io/podman), would that be better to use (seeing that it was updated recently)?

[2020-01-13 18:48] mheon commented on #4790
I believe that @lsm5 has been making some packaging changes to the PPA related to using obs; @lsm5 any updates on getting 1.7.0 built there?

[2020-01-13 18:51] mheon commented on #4846
Without execute on the top-level `/run/user/$UID` that won't help us - I believe we need execute on every level from root in order to access the directory in question.

[2020-01-13 19:00] mheon commented on #4833
What happens if the user does something that requires creating a cgroup, though? Sets resource limits on the Podman command line, uses pid=host, etc?

[2020-01-13 19:22] rhatdan commented on #4833
Can't we look at the current cgroup and figure out if it is a service cgroup?

[2020-01-13 19:40] vrothberg commented on #4833
In some cases that might be okay, e.g., when Podman/conmon is not the main PID of the service. Checking for the parent PID is afaics more realiable.

It seems redundant to what systemd provides but we must make sure to not regress. Tricky!

[2020-01-13 19:51] #4687 closed

[2020-01-13 20:28] rhatdan commented on #4849
@vrothberg @mtrmac I believe this is a change in containers/image?

[2020-01-13 20:33] giuseppe commented on #4833
that should not matter for the conmon cgroup, we don't set any limit there.  We will still create a cgroup for the container payload.

That is why I was suggesting another mode for disabling cgroups only for conmon, differently than what we do now with `disabled` where the container itself has not a new cgroup.

yes agree.  For example on Fedora 31 my console session has this cgroup:

[code]

[2020-01-13 20:36] mheon commented on #4833
Ahhh.

Could we just disable creating a distinct cgroup for conmon in rootless entirely? I can't think of any advantages to having it in a distinct cgroup.

[2020-01-13 20:38] mtrmac commented on #4849
Yes, this is https://github.com/containers/image/pull/752 behaving as intended: with this check, pulling incorrect-architecture images fails early instead of with a more confusing error (`exec user process caused "exec format error"`) on trying to execute the executables form the container.

(Are there any objections in this behavior in principle?)

Short-term, the `--override-arch` flag should al

[2020-01-13 20:40] giuseppe commented on #4833
Unfortunately we need that as the user creating the container must own the current cgroup, otherwise it won't be possible to move the container process inside the correct cgroup (you must control both the source and destination cgroup).  There are cases where that is not true, as the current cgroup is owned by root.  We were not creating it on cgroup v1 as anyway we were not able to use cgroups, t

[2020-01-13 20:45] #4844 closed

[2020-01-13 20:45] rhatdan commented on #4849
`--overide-arch` is currently only available on Skopeo, should we add this to podman pull?

[2020-01-13 20:47] mtrmac commented on #4849
[code]
… OTOH it’s marked as hidden, I guess it was intended for testing only or something like that.

[2020-01-13 20:52] gbryant200 commented on #4508
I'm running docker
[code]
on Ubuntu 18.04
[code]
I'm behind a company proxy; I have /etc/systemd/system/docker.service.d/proxy.conf file:
[code]

`systemctl show --property=Environment docker` list the environment variables as expected (if I URL encode the '\', then this command doesn't list anything).

### is there a way to specify the type of proxy authentication in the above file?  I've had to

[2020-01-13 20:57] rhatdan commented on #4846
If the container process is walking the path it would but if this is volume mounted into the container then it does not.  At least that is what I understand.  @giuseppe would know for sure.

[2020-01-13 21:01] ANaumann85 opened #4856 "Transport endpoint is not connected"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman run leads to the error message __Transport endpoint is not connected__ after some commands.

**Steps to reproduce the issue:**

1. build an image (with base image debian:jessie-slim) and install  [EasyBuild](https://github.com/easybuilders/easybuild)

2. run podman with the image and c

[2020-01-13 21:04] rhatdan commented on #4849
Ok so fairly easy to turn on, if people want it.

[2020-01-13 21:21] axelthimm commented on #1552
I have podman embedded in a CI setup and use different log-levels tuned by a global setting, but I opted the default to be warning, as most warnings are lingering issues. This one is tainting the setup and I had to return to error level.

Warnings should be cast for potential errors or misconfigurations IMHO, not for future development.

[2020-01-13 22:07] larsks commented on #4508
@gbryant200 you seem to be in the wrong place: this is for bug reports about [podman](https://podman.io/), which is an alternative to Docker. It's not for questions about Docker.

[2020-01-14 00:25] zhuguoliang commented on #4848
@vrothberg
Here is the output when invoke "make".

touch .gopathok
GO111MODULE=off go generate ./cmd/podman/varlink/...
GO111MODULE=on go build -mod=vendor  -gcflags 'all=-trimpath=/home/zgl/go/src/github.com/Genetalks/libpod' -asmflags 'all=-trimpath=/home/zgl/go/src/github.com/Genetalks/libpod' -ldflags '-X github.com/containers/libpod/libpod/define.gitCommit=9e2e4d7615311b38b1e553af32a5666888ef

[2020-01-14 03:44] alitvak69 commented on #4789
@jnovy It seems to be an issue with epoch 2 being used.  Successfully built 1.6.2 has no epoch.

[2020-01-14 04:56] mheon commented on #4856
Is the Podman container still running after this? If so, can you attach to it again via `podman attach` (and if you do so, is everything back to normal?).

The error in question is ENOTCONN. I'm honestly not sure what that means in the context of a Unix socket; it certainly seems like the container or Conmon is going down, but I would expect attach to exit cleanly as the socket went down, not rema

[2020-01-14 07:36] zhuguoliang commented on #4779
@adrianreber Hi Mr.Reber, I kept on seeing timeout when restoring containers. The logs says that I am stuck at running conmon.

[code]

[2020-01-14 07:40] zhuguoliang commented on #4779
@adrianreber I'll leave this issue open and ask about the timeout in a new issue.

[2020-01-14 07:47] zhuguoliang opened #4857 "Timeout while restoring a exported container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman pull docker.io/elasticsearch:7.5.1

2. echo "FROM docker.io/elasticsearch:7.5.1
RUN chmod 755 /usr/share/elasticsearch" > Containerfile

3. podman build .
#note this will build a image for use in step 4, we assume it is xxx

4. podman run -d --rm -

[2020-01-14 07:53] jschlyter commented on #4849
I can confirm that `podman pull --override-arch=arm arm32v7/debian:stretch` works as well as that building/running works as expected (given another `--override-arch`) argument.

I would be quite helpful if this option wasn't hidden :-)

[2020-01-14 08:13] ANaumann85 commented on #4856
Yes, the container keeps running. But attaching to it does not work. I do not get any response.

Instead I tried to exec an additional shell, but then I get the error message

There is something wrong with the filesystem inside the container.

[2020-01-14 09:42] vrothberg commented on #4849
Thanks for checking! @jschlyter, are you interested in creating a PR to make the flag visible?

[2020-01-14 10:55] marusak commented on #4847
of course it breaks api :disappointed:  Running command https://github.com/containers/libpod/issues/4847#issuecomment-573731214 on 1.6 and 1.7):
[code]

[code]
The one from 1.6 is of course invalid command and it fails. So I guess we AGAIN need to put conditions on API version in cockpit-podman.

[2020-01-14 12:28] giuseppe commented on #4846
it looks like changing the permissions for the rundir and the tmpdir is not needed anymore.  I've tested it both with runc and crun.

I've opened a PR here: https://github.com/containers/libpod/pull/4859

[2020-01-14 13:30] #4847 closed

[2020-01-14 14:01] martinpitt commented on #4847
varlink was designed to be a self-descripting, extensible, and stable API. This really isn't that. Also, encoding a list into a string and passing that through the API as a string? Why not actually passing a list? On top of being sensible, this would have kept the API backwards compatible, this now broke it for no reason at all..

Sorry for the rant, but that has happened several times now...

[2020-01-14 14:33] mheon commented on #4856
Can you check if the `conmon` executable is still running on the post? Also, would it be possible to run this test as root, so we can confirm this is fuse-overlayfs and kernel overlayfs is not affected?

[2020-01-14 15:31] mrueg opened #4862 "podman pull from docker-daemon does not preserve xattrs"
/kind bug
**Description**

With docker buildkit, containers can be built with extended attributes on files and they get preserved within the docker image storage. When importing them to podman from docker daemon, this information is lost.

**Steps to reproduce the issue:**

1. Create a minimal Dockerfile
[code]

2. Run  `DOCKER_BUILDKIT=1 docker build --no-cache . -t test:latest`

3. Validate
[cod

[2020-01-14 15:53] mheon commented on #4862
@vrothberg PTAL

[2020-01-14 16:26] ANaumann85 commented on #4856
- The conmon executable remains running
- The tests as root do not show this error

[2020-01-14 16:27] mheon commented on #4856
@giuseppe PTAL

[2020-01-14 17:27] giuseppe commented on #4863
@haircommander PTAL

[2020-01-14 17:53] giuseppe commented on #4856
@ANaumann85 do you have a Dockerfile you could share?

[2020-01-14 19:08] afbjorklund opened #4865 "Build script stopped working after upgrading podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I upgraded podman from version 1.4.4 to 1.6.4, and then it stopped working.

Also tried with later versions, both v1.7.0 and master but with same results...

**Steps to reproduce the issue:**

1.  This is a simplified version of the process:

2. sudo podman run -d --name build busybox sleep 3

[2020-01-14 19:13] afbjorklund commented on #4865
Possibly related to #4818 and friends

[2020-01-14 19:16] mheon commented on #4865
As discussed in IRC, this could be the lack of `-i`. I believe we started respecting it for `podman exec` in 1.6.x with the exec rework (previously it was unconditionally assumed).

[2020-01-14 19:17] afbjorklund commented on #4865
Seems that the `-i` flag is now needed, when wanting to pass stdin to `exec`.

Upgrading to `master` seems to have worked, so I suppose 1.7.1 would too.

[2020-01-14 20:56] haircommander commented on #4863
oh, hooray I already fixed this in https://github.com/containers/libpod/pull/4818 :smile: can you try latest master @debarshiray ?

[2020-01-14 20:57] mheon commented on #4863
I think a better question now might be what did #4818 not fix - great work @haircommander

[2020-01-14 20:57] mheon commented on #4863
We should cut a 1.7.1 after Devconf.cz to get this out into the wild

[2020-01-15 00:54] zhuguoliang commented on #4779
@adrianreber Hi, is there any steps to diasble ipv6 for podman? I ensured that the following is in my "/etc/sysctl.conf" of ubuntu18
[code]

[2020-01-15 01:57] zhuguoliang commented on #4779
@adrianreber after disable ipv6 the timeout problem is gone, case closed.

 The lucene problem stems from libpod tar format, will look into it later.

[2020-01-15 01:57] #4779 closed

[2020-01-15 01:57] zhuguoliang commented on #4857
This is ipv6 related problem, I found the cure, closing.

[2020-01-15 01:57] #4857 closed

[2020-01-15 10:40] DOlearczyk opened #4871 "After installing Podman, it searches for incorrect user in /etc/subuid"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After installing Podman via `apt`, all podman commands print output with following error log at start:
[code]

**Steps to reproduce the issue:**

All I did was basically follow the tutorial, so:

1. `dolearczyk@ktwdarolenb:~$ sudo add-apt-repository ppa:projectatomic/ppa`

2. `dolearczyk@ktwd

[2020-01-15 11:45] #4846 closed

[2020-01-15 13:53] colundrum commented on #4790
@ParitoshBh Snap is like LXC so it's not a solution when you have dedicated server to run podman
In that case, why not running podman in VM using Fedora ?

@mheon Are you referring to [Open Build Service](https://openbuildservice.org/) ? Have you any ETA about when it'll be okay for prod because deleting good container to after restart them, it's a little overkill and bad experience for user "pro-

[2020-01-15 13:57] rhatdan commented on #4790
PTAL https://github.com/containers/libpod/pull/4873

[2020-01-15 14:03] colundrum commented on #4790
@rhatdan Thanks
@ParitoshBh you can look directly at: https://github.com/containers/libpod/blob/d9bcf20b3de0f2f085044b1724154ba1950d46d6/install.md#debian-1

[2020-01-15 14:29] TomSweeneyRedHat commented on #4871
@giuseppe PTAL

[2020-01-15 14:54] vrothberg commented on #4862
Thanks for opening the issue, @mrueg!

Podman is getting the image from Docker via the API. It looks like a Docker issue -> https://github.com/moby/moby/issues/40375.

Please re-open if the issues persists once Docker is ready.

[2020-01-15 14:54] #4862 closed

[2020-01-15 15:20] giuseppe commented on #4871
Podman uses the $USER env variable and `getpwuid_r`

Is the user configured through LDAP?

[2020-01-15 16:25] apollo13 commented on #4831
In my case it also just removed everything from /run/user/1000 -- it complained that it couldn't remove the gvfs folder (that's how I noted it in the first place). Luckily I didn't have anything mounted and mapped to there :)

[2020-01-15 16:28] mheon commented on #4831
I think we need to just delete the c/storage directories, instead of the entire temporary directory - we still have a lot of old installs with /run/user/$UID as tmpdir, not a subdirectory

[2020-01-15 18:02] ParitoshBh commented on #4790
@colundrum Thanks. Followed the instructions, can confirm this particular issue has been resolved (version 1.7.0-rc1).

[2020-01-15 19:02] andrewhill93 commented on #4285
Still an issue. Just pushed an image using podman on CentOS 8 and it doesn't show anything in the DockerHub UI, but I can pull the image fine (and it shows that there have been image pulls)

[2020-01-15 20:04] apollo13 opened #4875 "feature request: support pods in `systemd generate --new`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman generate systemd --new pod` currently fails with:
[code]

**Steps to reproduce the issue:**

1. Run `podman generate systemd --new pod` on a pod

After talking to @mheon on IRC he suggested to open a feature request since it should be technically possible to create such a systemd

[2020-01-15 20:41] imcsk8 commented on #4834
Can you paste how are you testing the connection to the port 80 of the host?

[2020-01-15 21:40] matihost commented on #4769
Yes, and it seems final as  https://github.com/cri-o/cri-o/issues/2963#issuecomment-574478983 has been closed today and instructions in https://github.com/cri-o/cri-o/tree/release-1.16#installing-cri-o also apply to podman.

However for podman in  the new repository is unusable when docker is present in the system as well.

Issue: https://github.com/containers/libpod/issues/4747
The podman package

[2020-01-15 21:47] alitvak69 commented on #4769
@lsm5 @jnovy Could you please take a look at #4747.  I am not running docker on the same boxes as podman anymore but it looks like number of devs do.

[2020-01-15 21:49] agners opened #4876 "Support --device-cgroup-rule"
/kind feature

**Description**

Support the `--device-cgroup-rule` flag to add rules to cgroup what devices are allowed. This is useful when devices appear after the container has been started.

[2020-01-15 22:00] rhatdan commented on #4876
[code]

[2020-01-15 22:01] rhatdan commented on #4876
@giuseppe WDYT?

[2020-01-15 22:12] rhatdan commented on #4769
This was a screw up in packaging.  The podman-docker man pages ended up in the main podman package.  I believe @jnovy is fixing this.

[2020-01-15 22:25] jschewebbn commented on #1182
I'm running into this same issue. I've executed the commands to setup my subuid and subgid files and have confirmed that they have my username:10000:65536 in them. My uid is 1832001200.
The output of the pull command above gives the same error
[code]

Version of podman
[code]

[2020-01-15 22:32] jschewebbn commented on #1182
Found a solution at https://github.com/containers/libpod/issues/2542.
Executing
[code]
after modifying my sub*uid files fixed it.

[2020-01-15 23:20] agners opened #4877 "podman play kube tires to fetch amd64 infra container on arm"
/kind bug

**Description**

Using `podman play kube` on a ARMv7 system seems to pick the wrong infra container.

**Steps to reproduce the issue:**

1. Build podman for ARM (e.g. using OpenEmbedded and the meta-virtualization layer)

2. Run `podman play kube your.yaml`.

**Describe the results you received:**

[code]

**Describe the results you expected:**

No error but starting the pod.

**Additio

[2020-01-15 23:22] agners commented on #4811
If you prefer building your own distribution, the OpenEmbedded layer meta-virtualization has recipe for podman (https://git.yoctoproject.org/cgit/cgit.cgi/meta-virtualization/).

[2020-01-15 23:55] giflw opened #4878 "Podman build does not keep ENV from Dockerfile on COPY or ADD"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using ENV defined vars to select files to ADD or COPY, build fail.

**Steps to reproduce the issue:**

1. Create Dockerfile
[code]

2. Create file `file-0.0.1.txt` in same directory

3. Use `podman build .` to build image on that directory

**Describe the results you received:**

The bui

[2020-01-16 03:23] colundrum commented on #4790
@ParitoshBh for me, I used stable and not testing so I've podman 1.6.4~2 and all fine
@rhatdan thanks

[2020-01-16 06:11] DOlearczyk commented on #4871
Ok, I found out some code changed my $USER env variable, which caused this issue. Thanks for your help!

[2020-01-16 06:11] #4871 closed

[2020-01-16 09:45] vrothberg commented on #4875
I'll pick this one. It's already on my todo list but I deferred tackling it as I wanted to think a bit about an elegant way to find a mapping to the pod.

[2020-01-16 09:45] vrothberg commented on #4875
Thanks for opening the issue, @apollo13 !

[2020-01-16 10:05] vrothberg commented on #4877
Thanks for opening the issue, @agners! Could you rerun with `podman --log-level=debug` and share the logs?

[2020-01-16 10:12] Komic opened #4880 "podman play kube does not pull images like it should"
/kind bug

`podman play kube` does not seem to be pulling updated images as directed by the `:latest` tag or `imagePullPolicy: always`.

**Steps to reproduce the issue:**

1. `podman stop/remove` an outdated container
2. `podman play kube` a .yml containing the `:latest` tag or `imagePullPolicy: always`
3. The container is recreated from the outdated image

**Output of `podman version`:**

[code]

[2020-01-16 10:16] vrothberg commented on #4159
We really need to get catatonit packaged in the Fedora/RHEL universe. @lsm5, @jnovy, do you have some spare cycles?

[2020-01-16 12:13] matihost commented on #4791
Workaround for people on or updating to CentOS 8.1:

Uninstall podman before updating it `sudo yum -y remove podman` and install it back w/o manpages:

[code]

PS. When fixed, please provide podman packages to centos-stream so that people who enable centos-stream repos (via `sudo yum -y install centos-release-stream`) could solve their podman / docker confict without above workaround.

[2020-01-16 12:45] guymguym commented on #4511
After running a new downloaded binary that fails on unidentified developer, open your "System Preferences" -> "Security & Privacy" and you will see close to the bottom a message saying that process was blocked and a button "Allow Anyway". Click the button and run the binary again, and then you will be able to approve it.

Looks something like this -

![image](https://user-images.githubusercontent.

[2020-01-16 12:56] lsm5 commented on #4747
this one's on me, @jnovy is fixing rhel.

[2020-01-16 13:12] guymguym opened #4883 "podman-remote build fails over varlink (invalid character / failed to open the context dir tar file)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using crc (https://github.com/code-ready/crc) version 1.4.0 to run a local openshift 4.2 inside hyperkit on my Mac. My goal is to build images directly on the openshift machine.

I am using:
- podman 1.4.2 runs on RHCOS 4.2 inside hyperkit.
- podman-remote 1.4.2 runs on MacOS (Catalina)

[2020-01-16 13:26] lsm5 commented on #4747
I removed the docker manpages from podman 1.7.0. There's no docker-blah or podman-docker symlink being installed right now, I'll include this as a subpackage later on..

The new podman should be available in an hour or less hopefully https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman .

Closing, please re-open if this persists.

[2020-01-16 14:00] rhatdan commented on #4880
@Komic Do you have a simple kubernernetes.yaml file we could test with?

[2020-01-16 14:19] rhatdan commented on #4648
@Noah-Huppert @mheon Is this still an issue?

[2020-01-16 14:24] rhatdan commented on #4706
I believe this is still an issue.

[2020-01-16 14:25] rhatdan commented on #4039
The APIV2 code has been merged into the upstream master, but still aways from podman remote work.

[2020-01-16 14:27] #4790 closed

[2020-01-16 14:37] rhatdan commented on #4811
@agners Could you open a PR to add that link to the install.md file?

[2020-01-16 14:38] rhatdan commented on #4878
Could you check if the same problem happens with `buildah bud`.  If so then open an issue with buildah.  Podman just vendors in buildah for `podman build`

[2020-01-16 14:39] rhatdan commented on #4499
The API server has merged into master, so we are a lot closer on this.  Should have stuff you can play with in next couple of weeks on master branch.

[2020-01-16 15:00] shaicoleman opened #4885 "Update Ubuntu installation documentation"
**Description**
The installation instructions for Ubuntu are out of date, now that builds are available through OBS.
https://podman.io/getting-started/installation

In the Atomic PPA, the description needs to be updated to say it's deprecated
https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

[2020-01-16 15:03] vrothberg opened #4886 "CI flakes in test/e2e/run_signal_test.go"
I've seen the "signals are not forwarded to container with sig-proxy false" flake a couple of times lately. Let's have a look and investigate the test.

/var/tmp/go/src/github.com/containers/libpod/test/e2e/run_signal_test.go:135

[2020-01-16 16:04] YuLimin commented on #2669
# podman version
[code]
# podman info --debug
[code]

# docker version
[code]
# docker save multiple images work fine.
[code]

# podman save multiple images work failed.
[code]

[2020-01-16 16:19] giflw commented on #4878
`buildah bud .` on the same directory Works as expected.

[2020-01-16 16:47] YuLimin commented on #3761
Here are the case of incorrect Digest value in OCP 4.2.12 by podman
[code]
After podman pushed image, It generated new sha256 value 617ac31a8a7716639486a991b6173f13548d369a702f7774b216950bcbfcb26d in registry(docker.io/library/registry:2) server directory, such as in the /docker/registry/v2/repositories/openshift-release-dev/ocp-release/_manifests/tags/4.2.12/index/sha256/617ac31a8a7716639486a991b

[2020-01-16 17:39] Komic commented on #4880
A basic example:

[code]

[2020-01-16 18:48] rhatdan commented on #4878
What versions of Buildah are you using?
[code]

[2020-01-16 18:55] giflw commented on #4878
All version information is on description:

Buildah: `Version:         1.10.1`
Buildah on Podman: `  BuildahVersion: 1.11.3`

[2020-01-16 19:02] rhatdan commented on #4878
Strange that the older vresion of Buildah works, but the newer Buildah in Podman fails.
Do you have access to buildah in master version or something newer to see if this is fixed in latest releases?

[2020-01-16 19:03] rhatdan commented on #4878
@TomSweeneyRedHat Any ideas?

[2020-01-16 19:04] wwilson opened #4888 "Podman 1.7.0 incompatible with mount_program using overlay2 driver?"
Hi All,

We were successfully using fuse-overlayfs with overlay2 driver on podman 1.6.2.

Following upgrade to 1.7.0, the output of 'podman info' no longer shows any mount_program option. We noticed the change to the structure of storage.conf, and moved the setting inside [storage.options.overlay] block. Tried again and still didn't work. We also tried making a [storage.options.overlay2] block, an

[2020-01-16 19:05] giflw commented on #4878
@rhatdan Its interesting to note that interpolation works when file not exists, but not after file is found (when actually copying it)

[2020-01-16 19:11] mheon commented on #4888
@rhatdan @nalind Did we change the format of `storage.conf` recently?

[2020-01-16 19:23] #4886 closed

[2020-01-16 19:33] rhatdan commented on #4888
Not in that area.  Are you sure you are looking at the correct storage.conf file.  The one in ~/.config/containers/storage.conf?

[2020-01-16 19:40] wwilson commented on #4888
That's the one we're looking at.

What is the recommended way to configure podman 1.7 to use fuse-overlayfs under overlay2? Does `podman info` still report whether it's using a custom mount program?

[2020-01-16 19:42] rhatdan commented on #4888
It should.  It certainly works for me.

Could you just remove the storage.conf file and let podman regenerate it?

[code]

[2020-01-16 19:47] wwilson commented on #4888
Hmm... I've tried running podman with --log-level=debug, and that didn't get me anything, but fuse-overlayfs isn't present at all in the output of `podman info` in 1.7.0.

I noticed I have a relatively old version of fuse-overlayfs. Is it possible there's some incompatibility which is causing a silent failure?

[2020-01-16 19:50] rhatdan commented on #4888
Perhaps.  @giuseppe Any ideas?

[2020-01-16 19:53] matihost commented on #4769
The #4747 has been fixed and podman 1.7.0 install well on Ubuntu 19.10 now. Thank You.

[2020-01-16 20:06] mtrmac commented on #3761
@YuLimin That’s unrelated to the issue discussed here, and completely expected behavior (image digests are created during `push`, and depend on the way the image is compressed, i.e. on the particular version of the implementation and the Go standard library; there is no guarantee at all, ever, that `pull`+`push` will reproduce the same digest. Use `skopeo copy` instead of `pull`+`push` to copy ima

[2020-01-16 20:16] #4769 closed

[2020-01-16 20:29] wwilson commented on #4888
Upgraded to fuse-overlayfs-0.7.3 and this is still not working.

FWIW, I am running on ubuntu-18.04

[2020-01-16 21:31] rhatdan commented on #4888
On Ubuntu the overlay driver works in the user homedir.  I believe, so you might not need fuse-overalay, maybe this is what is going on.  Do containers work for you?

[2020-01-16 21:48] giuseppe commented on #4888
No you can't still use overlay as the unprivileged user cannot create whiteout files and the storage driver fails trying to create them

[2020-01-16 21:50] rhatdan commented on #4888
Ok that is a fix that is going upstream.  Any idea what is going wrong with @wwilson box?

[2020-01-16 21:58] wwilson commented on #4888
Does that go for overlay2 as well?

If fuse-overlayfs is no longer needed for rootless containers with overlay2, then that will solve my problem... eventually.

[2020-01-16 22:38] TomSweeneyRedHat commented on #4878
Something's gone south, it's not working in Builda upstream, looks like a regression.  I've been moving to a new PC most of the day today and need to run shortly, will look deeper in the morning.

[2020-01-16 23:46] agners commented on #4877
@vrothberg here you go:

[code]

[2020-01-17 10:41] sshnaidm commented on #4654
Just an update, after working with @gundalow on Openstack modules moving, we'll start with podman modules.

[2020-01-17 11:28] giuseppe commented on #4888
@wwilson fuse-overlayfs should be used automatically when it is installed.

If not please make sure it is used as following:

[code]

[2020-01-17 11:46] giuseppe commented on #4876
I think this is a good idea.

@agners would you like to open a PR for adding this feature?  I can guide you through it if you hit any blocker

[2020-01-17 12:05] jonasbartho opened #4891 "How to mount new volume(s) into my home folder with podman run(rootless)?"
/kind bug ?

I really really want my firm to go away from docker and completely switch to rootless podman....  The only problem I have with rootless podman is that I can't mount new volumes in my own home folder? I asked Daniel Walsh 2 months-ish ago and he said that it should have been fixed in the master branch(I was using v1.6.2 on fedora 30 back then)

Now I am trying the same thing with podma

[2020-01-17 12:44] rhatdan commented on #4888
Container engines do not differentiate between overlay and overlay2 (They are both overlay2)  No one uses the original overlay driver from Docker, so we just called our version of overlay2, overlay.

@wwilson No as @giuseppe points out, currently overlay is allowed to be mounted, as non root on Ubuntu, but you are still not allowed to create whiteout devices, since you don't have CAP_MKNOD.  Upstr

[2020-01-17 13:28] MartinPotier commented on #4357
Bumped into this problem today as well

[2020-01-17 14:01] vrothberg commented on #4877
That's an interesting one.

Let's first look at the manifest list:
`$ skopeo inspect --raw  docker://k8s.gcr.io/pause:3.1 | jq .`
[code]

The pause image is provided for different architectures. Let's try to force-pull the arm image:
[code]

We're seeing the same issue as reported. Although we explicitly tried to pull the arm image, the config/manifest claims to be for amd64. Same when pulling via

[2020-01-17 14:03] kisst commented on #4885
Builds are also failing on the PPA, the dependency list on the install page contains packages which are not available on the default repo( like btrfs-tools ), currently I would say it's not possible to install `podman` on Ubuntu, a distro which cover quite a large user-base.

An install instruction update is needed for sure.

[2020-01-17 14:33] vrothberg commented on #4877
I'll open an issue over at Kubernetes and ask to update the pause image.

[2020-01-17 16:13] dawud commented on #4877
I'm affected by this on Fedora IoT 31.

Running `rpm-ostree rollback`, which, among other changes, rolls back `podman`, solves the issue for me.

[code]

[code]
 So it seems to be a bug introduced in `libpod`/`podman` somewhere between 1.6.2 and 1.7.0, and not a problem in the images.

[2020-01-17 16:17] vrothberg commented on #4877
@dawud, we are performing some more rigorous checks on images now. The changes have been integrated with Podman v1.7.0. Hence, it works with pre-1.7.0 versions of Podman. Although the images work with older versions, those images are still wrong. The config of the arm image claims to be for amd64 which is ultimately causing Podman v1.7.0 to error out.

[2020-01-17 16:22] dawud commented on #4877
Yes you are indeed right, that seems to be case.

`# skopeo inspect docker://docker.io/pihole/pihole:4.3.2-1_aarch64`

reports:

[code]

[2020-01-17 18:08] wwilson commented on #4888
I checked, and I'm getting the same behavior with buildah. So maybe a change in containers/storage?

Buildah info at 1.10.1 (note overlay2.mount_program):

Buildah info at 1.12.0 (mount program missing):

Newly regenerated storage.conf (I set the mount program in both the locations that seem implied by the old format and by the new format):

[2020-01-17 18:37] rhatdan commented on #4888
With that change does it work?

[2020-01-17 18:42] wwilson commented on #4888
Not sure what change you're referring to. The storage.conf is unchanged between the two invocations of "buildah info". It's just that after upgrading the mount_program option isn't reflected anywhere (and ditto for podman).

[2020-01-17 18:48] rhatdan commented on #4888
Does podman info show the fuse-overlay?

[2020-01-17 18:49] wwilson commented on #4888
It does at version 1.6.2, it does not at version 1.7.0.

[2020-01-17 18:50] wwilson commented on #4888
My guess that this could be due to containers/storage was it seemed unlikely that the same change was made to both buildah and podman, but presumably you guys have both vendored a newere containers/storage in the meantime?

[2020-01-17 18:51] rhatdan commented on #4888
I think the overlay2 might be confusing it.  Can you change your storage.conf to have just overlay not overlay2?

[2020-01-17 19:10] mheon commented on #4888
For clarity, containers/storage (and the programs that use it - Podman, Buildah, CRI-O) do not have an overlay2 driver. The original, deprecated overlay driver was removed, and overlay2 was renamed to overlay. I'm actually surprised that c/storage works at all with overlay2 set as the driver

[2020-01-17 19:24] rhatdan commented on #4888
It aliases them together.  But I found a bug.

https://github.com/containers/storage/pull/513

[2020-01-17 19:24] rhatdan commented on #4888
In my testing on my laptop setting overlay2 caused a similar issue, The above PR fixed it for me.

[2020-01-17 19:34] rhatdan commented on #4549
The quay.io has been disabled so closing this issue.

[2020-01-17 19:34] #4549 closed

[2020-01-17 19:49] rhatdan commented on #4885
This PR was merged 5 hours ago.  Does this fix your needs?

[2020-01-17 20:02] wwilson commented on #4888
Switching to "overlay" does appear to fix the problem. If "overlay" and "overlay2" in fact get us the exact same on-disk format, then I think we're all good here.

Thanks for the help all.

[2020-01-17 20:06] phlogistonjohn commented on #4888
I also had a fairly minimal storage.conf that no longer works:
[code]
And it now produces the following with 'podman images':
[code]
Adding in just `driver = "overlay"` in the "[storage]" section seems to resolve that error for me as well, so I'm assuming it's the same issue. It's too bad that when podman gets updated I feel like I frequently have to fiddle with storage.conf to get things working

[2020-01-17 20:13] rhatdan commented on #4891
@jonasbartho You want it to create a new directory on your host when you mount it, and we decided to reject this fix.  My problem with it, is it can lead to errors where a typo accidentally succeeds.  If Docker creates new directories on the host, when you volume mount them in, I believe this is a bug.

To me this is like saying
mount -o bind /home/jonas/neo4j/data /mnt
and expecting the mount pro

[2020-01-17 20:23] rhatdan commented on #4888
Sorry, I actually think it was me that introduced this bug.  Hopefully the container/storage PR fixes it.

[2020-01-17 21:44] samdoran commented on #4813
I merged the fix for this in Ansible (ansible/ansible#66263) and opened a backport to `stable-2.9`. It should be in the next 2.9 release.

[2020-01-17 22:33] agners commented on #4876
@giuseppe sounds tempting...  But then, I do have no go experience, and I fear that this is a rabbit hole which takes more time than want I want to spend right now :-)

[2020-01-18 00:22] mheon commented on #4704
The changes related to the work @rhatdan was talking about should be in 1.7, so this may be fixed

[2020-01-18 00:23] #4724 closed

[2020-01-18 02:07] nefigtut opened #4900 "a rootless privileged container refuses to start if a host device layout has changed"
/kind bug

**Description**

a rootless privileged container refuses to start if a host device layout has changed since its creation.

**Steps to reproduce the issue:**

1. install the latest available podman:
[code]

2. create regular rootless privileged container:
[code]

3. run it to verify it is fine and quit:
[code]

4. **unplug the mouse or any other usb device**

5. try to rum the container

[2020-01-18 02:22] mheon commented on #4900
I don't think we want to remove the general-case requirement that mount sources must exist in order to be mounted into the container, so I think we need a more narrowly-tailored fix here.

Can we mount the entirety of /dev from the host, instead of individual devices, and then mount over whatever we want to replace?

[2020-01-18 09:09] jonasbartho commented on #4891
Aha, thank you for this clarification @rhatdan! I see your point!  👍
Such small differences in comparison to docker like this one should be proper documented to avoid misunderstandings.

[2020-01-18 09:09] #4891 closed

[2020-01-18 12:46] kisst commented on #4885
Once that repo version of the install instruction is published to the main website ( podman.io ) then this issue can be closed, but yes I managed to use the opensuse builds to install on Ubuntu based on the repo's version of the install instruction.

[2020-01-18 12:51] afbjorklund commented on #4865
Builds are working again, with `1.7.1-dev`.

[2020-01-18 12:51] #4865 closed

[2020-01-18 15:45] Komic commented on #4704
I think I'm still having related issues on 1.7.

[code]

A combination of `rm -fv` and `--storage` on `example` and `0f77bf6fb52dd06c240877df081a7e156383c1030e6550593c5c052013d69a3a` allows me to play kube the container again.

[2020-01-18 17:02] mtrmac commented on #4580
https://bugzilla.redhat.com/show_bug.cgi?id=1726861 (note, that is primarily about a _different_ package) says:

Do note that using the CodeReady-Builder repository on RHEL probably has significant impact on the amount of support you can get from Red Hat for the related activities.

[2020-01-18 17:03] afbjorklund commented on #4787
@vrothberg : added PR, as requested

Before:

[code]

After:

[code]

[2020-01-18 17:58] TomSweeneyRedHat commented on #4878
I don't have a root cause yet, but a suspicion or too, still digging.  As you noted, this should still work, however I did find a workaround that might be useful?  I adjusted your sample Dockerfile like this:

[code]
And that works.  it looks like the code is now only using ARG variables when resolving variables rather than ARG variables and ENV variables as it should.

Still working on a permanen

[2020-01-18 21:16] TomSweeneyRedHat commented on #4878
@giflw Proposed fix at https://github.com/containers/buildah/pull/2095.  Once merged we'll then have to vendor Buildah upstream.  Should be in the next release of the Podman (v1.7.1+).

[2020-01-18 21:37] mtrmac commented on #3294
This will be resolved with https://github.com/containers/image/pull/794 — but the existence of the separate repository is intentional and I don’t intend to closely track the upstream repository for every single release irrelevant to the containers/image/signature uses, so the “resolution” may well be considered temporary.

[2020-01-18 22:34] abitrolly commented on #4134
/label do-no-close

[2020-01-18 22:35] abitrolly commented on #4134
@github-actions

this is not fixed yet, because `podman` build is not a simple `go build`

[2020-01-18 23:24] felixfontein commented on #4654
The Ansible docker_* modules are not related to Docker Inc., and as far as I'm aware the set of current docker_* maintainers/developers is disjoint from the set of people related to Docker Inc. (like employees). So I don't see why the docker_* modules should/could end up in https://github.com/docker. I personally would prefer if they end up in a "generic" container / cloud collection, instead of a

[2020-01-19 02:45] onlyjob opened #4902 "1.6.4 unable to "exec -it": "Error: AppArmor not initialized correctly: OCI runtime error""
I'm trying to enter the successfully running container:

[code]

Not sure where to begin troubleshooting this...

Here is what happens with `--log-level=debug`:

[code]

Same result with `conmon` 2.0.2 and 2.0.9.
I've found no relevant information in _syslog_...

[2020-01-19 02:52] mheon commented on #4902
@vrothberg PTAL

[2020-01-19 06:16] NickJLange opened #4903 "Raspberry Pi Support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I've not been happy with the process to get podman working on a raspberry pi. As such, I've written an ansible role that solves this problem - if a binary distribution is ever created, then this ansible role would be deprecated.

*Question* Is there general guidance on how to increase the

[2020-01-19 07:49] henrywang opened #4904 "Fedora 31: Can't run selenium/hub container image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Can't run selenium/hub:3 image and get the following error:
[code]
And after I delete `/var/home/xiaofwan/.config/containers/libpod.conf`, `libpod.conf` can't be generated automatically

**Steps to reproduce the issue:**

1. run `podman run -d --network host --name hub --privileged selenium/hu

[2020-01-19 09:23] afbjorklund commented on #4903
It would probably be easier to cross-compile this from the laptop ?

`GOARCH=arm GOARM=6 make podman`

https://github.com/golang/go/wiki/GoArm

Note that you might to have to run `make varlink_generate` first...

Some of the generated binaries might crash with `qemu-arm`.
And the detection scripts don't really work when cross-compiling.

[code]

[code]

[2020-01-19 09:28] afbjorklund commented on #4903
This would of course also be fixed by #4811 - or, even better, by #1742

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440

Note that the default kernel might not be optimal for running containers.

See https://blog.hypriot.com/post/verify-kernel-container-compatibility/

[2020-01-19 12:40] rhatdan commented on #4904
I take it, you are running rootless?  Can you try running this container as root.
My usual suspects on this type of issue, is something in User Namespace is blocking the access.  Of course another potential problem would be SELinux.  So if SELinux is enabled, could you try with `setenforce 0`

[2020-01-19 12:47] rhatdan commented on #4876
Thanks @agners anyways,  we will hopefully get somone working on this.

[2020-01-19 12:47] rhatdan commented on #4876
@QiWang19 PTAL

[2020-01-19 12:49] rhatdan commented on #4725
@giuseppe Could you look into this one?

[2020-01-19 12:52] rhatdan commented on #4885
@TomSweeneyRedHat PTAL

[2020-01-19 12:57] rhatdan commented on #4654
I am all for that.  We should use the generic name container rather then the company name Docker, whenever possible.

[2020-01-19 12:58] rhatdan commented on #4729
@pgporada are you satisfied with the response?  Can we close this issue?

[2020-01-19 12:59] rhatdan commented on #4720
I think @mheon answered this one, Closing. Reopen if I am mistaken.

[2020-01-19 12:59] #4720 closed

[2020-01-19 13:00] rhatdan commented on #4131
This is the main PR to get this working.
https://github.com/containers/libpod/pull/4698

[2020-01-19 13:04] rhatdan commented on #4715
@Koushikgudipati @mccv1r0 What should I do with this issue?

[2020-01-19 13:09] rhatdan commented on #4900
@giuseppe Could you take a look at this?

[2020-01-19 13:42] sshnaidm commented on #4654
Well, in this case it makes sense to host `docker_*` modules under "containers" Galaxy namespace as @geerlingguy suggested. I have no objections to be it like: `containers.podman.*` and `containers.docker.*` or whatever.
@felixfontein The question is where to host the repositories with `docker_*` modules? Under this "containers" github organization? Or somewhere else? And who will handle `docker_*

[2020-01-19 13:45] rhatdan commented on #4654
Are these modules exec'ing docker/podman or talking directly to the docker.sock?

[2020-01-19 13:56] henrywang commented on #4904
Thanks @rhatdan! You always have such a quick response! :+1:
1. Yes, I'm running rootless.
2. Tried run with root, same error log.
3. Still have same issue after setting SELinux to Permissive mode.
4. Podman is able to create libpod.conf automatically if it does not exist. But it does not work in Silverblue. I tried on my Fedora 31 machine, it works. Is it related with home directory different? (`

[2020-01-19 14:03] rhatdan commented on #4904
Well if this fails as root, then it is not a rootless issue.  Does the container work with docker?  Does the container work if you run it with `--privileged` flag?

[2020-01-19 14:04] sshnaidm commented on #4654
@rhatdan ansible `docker_*` modules use docker sock and `docker-py` python libraries. They are very different from podman ones.

[2020-01-19 14:13] rhatdan commented on #4654
Well if you are following libpod, there is an effort to support docker.sock and some of docker-py with Podman. APIV2.
https://podman.io/releases/2020/01/17/podman-new-api.html
Podman might be able to work with docker ansible modules in the future.

[2020-01-19 14:14] henrywang commented on #4904
This image is download from `docker.io/selenium/hub`, and same image works on my Fedora 31 machine running with `podman`.
No, it does not work with `--privileged` flag.

[2020-01-19 15:24] sshnaidm commented on #4654
@rhatdan thanks, that's very interesting and promising!
Actually it may change we develop podman modules (currently as wrapper about `podman` commands). If new API will support most of the important `docker-py` functionality, Ansible users could just use `docker_*` modules as is with underlying podman.
Although podman modules structured differently and (I hope!) much better than current `docker_*`

[2020-01-19 15:25] henrywang commented on #4904
@rhatdan, I can use the `--user root` option to get the hub and nodes running. Do you have any ideas about the reason? Thanks!

[2020-01-19 18:56] sshnaidm commented on #4654
@gundalow can we move here also ansible [podman connection plugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/podman.py)? Issues like https://github.com/containers/libpod/issues/4813 affects plugin funcitonality and blocks us to use it, for example for molecule testing. We'll need to wait until next ansible release to use it, after it's packaged, distributed, etc

[2020-01-19 20:24] lfarkas opened #4905 "podman build no longer works in 1.7.0"
with the latest fedora podman-1.7.0-2.fc31.x86_64 update podman build no longer works ie, it's hang in a copy command:
[code]
forever. it's start to get really annoying that none of the latest fedora podman build working (the previous totally ignore .dockerignore which result a catastrophic images).

is there any way to debug what's happening or in what it's hang?

[2020-01-19 20:42] mheon commented on #4905
Adding `--log-level=debug` to the command line might help.

@TomSweeneyRedHat PTAL

[2020-01-19 21:26] gundalow commented on #4654
Yes, all plugins should be moved into the new collection.

[2020-01-20 04:36] NickJLange commented on #4903
Thanks for the links. Based on the links, it seems normal users will not have to go through the pain of building this manually. So the first question is answered - this playbook will shortly be  redundant except for folks playing on the bleeding edge.

I agree. That was plan A. Alas, across the eco-system (podman, buildah, skopeo, slirp4netns etc) it gets painfully complex unless I'm on a linux-ba

[2020-01-20 06:08] afbjorklund commented on #4903
Another approach is changing Linux distribution, and use something like Ubuntu or Fedora instead...

Then you get support for the `aarch64` (arm64) architecture, as well as package support for `podman`.

Raspbian is a 32-bit architecture for backwards-compatiblity, so it runs arm even on 64-bit processors.

But there is no reason why both can't be supported... Especially for the older 32-bit gener

[2020-01-20 08:33] vrothberg commented on #4903
@NickJLange, can you state which problems you encountered? As @afbjorklund has mentioned, Podman is packaged for many distributions, which support the Raspberry Pi.

In case you want to build everything from scratch, refer to the following guide: https://github.com/containers/libpod/blob/master/install.md#building-from-scratch

[2020-01-20 08:37] vrothberg commented on #3294
Closing the issue.

[2020-01-20 08:37] #3294 closed

[2020-01-20 09:14] vrothberg commented on #4902
@onlyjob, thanks for opening the issue. Could you provide the data the issue template is asking for (`podman info --debug` etc.)? The error comes from `runc` and the version may play a role.

I assume this error is new, is it? Can you reproduce the error with v1.7.0?

[2020-01-20 09:16] vrothberg commented on #4902
Correction, the error comes from `crun`. @giuseppe, any suspicion?

[2020-01-20 09:24] onlyjob commented on #3294
Thanks!

[2020-01-20 09:46] giuseppe commented on #4725
I've tried Docker 1.13 and I don't see binfmt mounted.  What version have you tried?

If it is not namespaces, I don't think we should add it by default.  Changes done there are visible to the host and it could be used to register malicious handlers.

[2020-01-20 09:55] onlyjob commented on #4902
Yes, it is from the latest version of `crun`. Can't check the 1.7.0 yet...

[2020-01-20 09:59] onlyjob commented on #4902
Here is `podman info --debug`, but I had to restart the server with `apparmor=0` kernel boot option:

[code]

[2020-01-20 10:01] abalage commented on #3653
Thanks a lot for implementing. I am impressed.

[2020-01-20 10:08] giuseppe commented on #4900
if we give access to `/dev` and mount stuff on top of it, then a privileged container can still umount the new mounts and get access to the underlying files.  e.g. we now skip mounting `/dev/tty` from the host.  If we would mount `/dev` from the host then cover it with a new tmpfs, the user inside of the container can still umount("/dev/tty") and get access to the original files.

With root contai

[2020-01-20 11:01] rhatdan commented on #4535
@QiWang19 Please update.

[2020-01-20 11:05] rhatdan commented on #4725
I thought the problem was whether we do with --privileged flag?

[2020-01-20 12:19] giuseppe commented on #4725
yes but I think it could still be a problem to add it by default since it is not namespaced.  Changes done to to the binfmt files will be propagated to the host and to every other container.  Do we want to do it by default?

[2020-01-20 12:48] rhatdan commented on #4725
No.  Does Docker do it by default?  Or only when used with --privileged?

[2020-01-20 12:52] lsm5 commented on #4903
@NickJLange have you seen the raspbian section in the [install doc](https://github.com/containers/libpod/blob/master/install.md). Let me know if any issues..

[2020-01-20 12:55] lsm5 commented on #1742
Quick update, the [install doc]( https://github.com/containers/libpod/blob/master/install.md) has been updated to include OBS repo setup. The debian maintainers can update the relevant sections once the official packages are shipped. HTH.

[2020-01-20 13:00] lsm5 commented on #4307
19.10 has been enabled now, see: https://github.com/containers/libpod/blob/master/install.md . Please re-open if any issues..

[2020-01-20 13:00] #4307 closed

[2020-01-20 13:05] abalage opened #4907 "podman inspect only shows NetworkSettings from the first network a container is attached to"
/kind bug

**Description**

I created multiple pods each having containers. The containers may be attached to more than one networks created by `podman network create` in advance.
Manually checking the network interfaces within the containers looks legit, however `podman inspect <container>` shows only the settings of the first network the container was attached to.

**Steps to reproduce the issue

[2020-01-20 13:14] michaeladler commented on #4725
Interestingly, I just realized that manually mounting binfmt_misc works using podman (in privileged mode, of course). So the problem seems to be with the container itself, as can be seen from these two commands:

[code]

[code]

While I tend to agree that setting up (or mounting) binfmt_misc from inside a container is not very clean, I still would expect the same behavior from docker and podman. (

[2020-01-20 13:23] abalage opened #4908 "Infra containers receive IP addresses implicitly from unused network"
/kind bug

**Description**

The package cni I use installs a bridge network by default into location `/etc/cni/net.d/87-podman-bridge.conflist`.
Although I do not use the network called `podman` it provides explicitly, IP addresses are assigned from that network to infra containers when I attach containers to other user defined networks.

I found this issue during #4907 All details which should re

[2020-01-20 13:27] groovyman opened #4909 "podman build fails to emulate systemd (daemon-reload) while setting up postgresql"
/kind bug
Podman run has a useful support for systemd (--systemd) during build and runtime. On Fedora you have to allow `container_manage_cgroup` and then you can build and later run this Dockerfile:

[code]

This is great! But when you try to do the same with postgres, you will receive an error:

It is clear to me, that configuring the httpd is easier because you need no running server to get you

[2020-01-20 13:33] giuseppe commented on #4909
do you get the same error if the executable you run in the container is named `init` or `systemd`?

[2020-01-20 13:35] giuseppe commented on #4905
do we have https://github.com/containers/buildah/pull/2072 in the vendored copy?

[2020-01-20 13:45] lfarkas commented on #4905
ok it's build, but the build takes about a halfen hour while it was about a minutes in the previous version. from the --log-level=debug the build is full of (for all file):
`DEBU[0030] error closing backward: invalid argument `

[2020-01-20 13:46] alitvak69 commented on #4789
@lsm5 Can you please take a look?  This has been going on forever, the builds are failing to publish due to some tag issue on CBS while rpms seems to be building fine.

[2020-01-20 13:53] groovyman commented on #4909
Salut Guiseppe,
i took the Dokerfile of the httpd-System example into mine, so these are the recent lines:

[code]

[2020-01-20 14:19] rhatdan commented on #4907
Any chance you would be interested in opening a PR to fix this issue?

[2020-01-20 14:20] rhatdan commented on #4908
@mheon PTAL

[2020-01-20 14:32] HarryMichal commented on #3821
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description:**

Comman "podman rm --force" does not remove the container (is running). This only happens for rootless containers.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
`Error: cannot remove container 0430f582afed34b74d43891ed8801c0f596d728d5ba9a9d752ecf0debd0d35da as it could not be stopped: giv

[2020-01-20 14:43] rhatdan commented on #3821
@mheon PTAL

[2020-01-20 14:52] rhatdan commented on #4904
You are saying you needed to run this command
[code]
And it worked?  This should be the default, unless selenium/hub:3 defaults to running as a non root user?

[2020-01-20 14:59] jtudelag opened #4910 "podman 1.7.0 take ages to list images, after upgrading to Fedora 31."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After uprading from Fedora 30 to Fedora 31, now `podman images` command. takes a lot of time to list all my images.

**Steps to reproduce the issue:**

1. Upgrade to Fedora 31

2. Run `podman images`

3. Wait ~ 5 minutes.

**Describe the results you received:**
[code]

**Describe the results y

[2020-01-20 15:15] mheon commented on #4910
For the debug logs - are those printed all at once, or gradually as Podman runs? How many total images do you have installed?

[2020-01-20 15:18] mheon commented on #4905
Uh. Let's give it a few days and do it while we have everyone in the Brno office.

[2020-01-20 15:20] mheon commented on #4908
`    "name": "podman",`

Eeek. Do you still have the stock `87-podman.conflist` file installed as well? These names are supposed to be unique, and that file also uses the same name. I don't think we can expect sane things when they're not.

[2020-01-20 15:20] jtudelag commented on #4910
I have 115 images in total.
The pair of lines:  `parsed reference....`   & `exporting opaque data...` are printed sequentually in pairs. It seems the output of a loop ;).

[2020-01-20 15:21] mheon commented on #4907
Need to check how Docker formats things when this happens - is it an array of the network settings struct, or just appending to the struct

[2020-01-20 15:45] TomSweeneyRedHat commented on #4905
@rhatdan do you suspect this was cured by the Overlayv2 fix in c/storage that went into Buildah this weekend?  @lfarkas, if so, any chance you could try upstream Buildah?

[2020-01-20 15:52] lfarkas commented on #4905
i can try anything if you give me an rpm/binary and or command to test

[2020-01-20 16:28] mccv1r0 commented on #4715
IMHO close it.  It can be reopened if it's still a issue.

[2020-01-20 16:28] mheon commented on #4907
[code]

Looks like a map keyed by network name

[2020-01-20 16:29] mheon commented on #4907
To be clear, this is a subset of the NetworkSettings struct - NetworkSettings itself is still present but no part of it save for Networks is populated.

[2020-01-20 16:38] mheon commented on #4907
I don't know how much of this we can populate; a lot of this is inside CNI, and we can't easily get at it. We have one CNI Result struct for each network we attach to, which gives us interfaces, IP adresses, routes, and DNS. Matching that up with the name of the network that created the result could be difficult, and it doesn't give us things like aliases, IPAMConfig, etc.

[2020-01-20 16:44] groovyman commented on #4909
The steps around the occurence of `daemon-reload`  has been described here:
https://pgstef.github.io/2018/02/28/custom_pgdata_with_systemd.html

[2020-01-20 17:03] mheon commented on #4909
Does Buildah have the same systemd integration Podman does? That would be the first thing I'd suspect

[2020-01-20 17:09] afbjorklund commented on #4903
@lsm5 : there are some issues with the Raspbian instructions.

Some minor:
`-bash: /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list: Permission denied`

Some major:
`E: Unable to locate package podman`

Also, you probably want to have `varlink`, `libvarlink` and `libvarlink-dev` in different packages ?

[2020-01-20 17:19] afbjorklund commented on #4903
Apparently the 32-bit builds for arm are failing in OBS:
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

[2020-01-20 18:21] abrahm commented on #4849
I ran into a possibly related problem. I have a container image based on i386/centos:6 that I've archived with "podman save". Podman 1.7 won't let me "podman load" the image (Image architecture mismatch: image uses "i386", expecting "amd64") and doesn't like --overide-arch. Downgrading to podman 1.6 gets everything working again.

[2020-01-20 18:45] adrubesh opened #4913 ""Container already exists" error when starting pod with published port"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

    #!/bin/bash
    __PODNAME="podmantest"

    podman pod stop $__PODNAME
    podman pod rm $__PODNAME
    POD=$(podman pod create --name $__PODNAME -p 8085:8085)
    podman pod start $POD

**Describe the results you received:**
`ERRO[0000] "error starting

[2020-01-20 19:14] afbjorklund commented on #4787
Two problems with above PR, it broke builds **not** using $(VERSION) and it _still_ used git...

[2020-01-20 19:18] mtrmac commented on #4849
Yes, I suppose `podman load` should have the same option (it does not exist at all, unlike `podman pull`, where it exists but is not documented).

[2020-01-20 19:41] afbjorklund commented on #4787
I will go with the (undocumented) `$CIRRUS_TAG` for now, feel free to improve the build.

[2020-01-20 21:09] abalage commented on #4908
I don't. By default there are only two files:

1. 87-podman-bridge.conflist
2. 99-loopback.conf.sample

[2020-01-20 21:14] mheon commented on #4908
This does not sound like a bug, then. Pods presently do not support being attached to user-specified networks, and if this was supported, it would have to be done at pod creation time; attaching containers that specify custom networks should not be allowed. Your pods have joined the default network, and are receiving IP addresses from it; this sounds correct. There are separate issues for the abil

[2020-01-20 21:25] abalage commented on #4908
What is the purpose of attaching a pod to a network from podman's perspective?
I mean, like you said you cannot do that upon pod creation, but you can attach a container of a pod to any networks. My containers have IPs I do not need.
If it does have a purpose I am fine with it but would like to know why. :)

Sorry, I may not get everything right as I am kinda new to the concept of pods.

[2020-01-20 21:29] groovyman commented on #4909
As far as i understood, podman uses buildah and libpod. Anyway the build process should allow the setup of all services, so we need a better build support for systemd.

[2020-01-20 22:39] Ciantic commented on #4903
Besides the first line missing sudo, I'm encountering also the fact that podman is not available.

[code]

[2020-01-21 03:21] henrywang commented on #4904
Yes. It worked. The `selenium/hub:3` runs as `seluser`, not `root`.

[2020-01-21 03:26] rhatdan commented on #4909
No buildah does not have support for running systemd inside of containers only inside of podman.

[2020-01-21 03:37] rhatdan commented on #4904
Then that means the selenium/hub image is incorrect and should be fixed.  It seems like there is a permission issue, and the seluser is not able to do what it needs.

[2020-01-21 03:43] rhatdan commented on #4910
Is it accidently getting the size of the images?

[2020-01-21 04:21] #4715 closed

[2020-01-21 04:27] henrywang commented on #4904
Got it! Thanks @rhatdan.

[2020-01-21 05:25] NickJLange commented on #4903
Indeed I have! All I'm doing (for the ecosystem) is wrapping that up in a glorified for-if-then-do compile and build script

My problem is building the ecosystem (podman, buildah, skopeo etc) and distribution across my fleet of rpis. This playbook automates this chore away until the raspbian repos are updated to allow "apt install libpod." All the work separately referenced is progress towards mak

[2020-01-21 06:56] lsm5 commented on #4903
ack, I'll sort this out and get back to you..

[2020-01-21 07:58] henrywang commented on #4904
@rhatdan, I tried same container image `selenium/hub:3` on Fedora 30, everything works well.
The difference is `cgrouip v1` vs `cgroup v2` and `runc` vs `crun`. Is that possible that the cgroup or crun caused this issue? Thanks!

**Info on Fedora 30:**
`podman version`
[code]
`podman info --debug`
[code]

[2020-01-21 10:07] lfarkas opened #4916 "podman history gives wrong size"
we use a very simple basic container image from ubi7-minimal and install live555 live555-tools. podman images show:
registry.access.redhat.com/ubi7-minimal                latest         2b4f0d37c483   4 weeks ago     83 MB
while the two packages size: 1497835, 687984 (and we run in one line and run microdnf clean all). and the resulting image size:94.3 MB.
but why? how can i discover who fill up t

[2020-01-21 10:39] groovyman commented on #4909
Salut Daniel (@rhatdan),

### foreword
yes and thanks. That must be the reason, why the dog is called buildah and not runnah!

Ok, anyway my suggestion should be correct, that the podman-build should be able to use systemd and its services. Building may also include a setup of a database.

### my workaround
I found a workaround for this problem. My application needs the httpd and postgres services

[2020-01-21 11:37] abitrolly commented on #4501
The problem is probably that `podman` can not be built on Ubuntu 18.04 with native `go`. Or dependencies are missing. Either way `snap` build needs Ubuntu 18.04 libs and fails there.

[2020-01-21 12:22] vrothberg commented on #4849
I create a dedicated issue for this one.

[2020-01-21 12:25] vrothberg opened #4917 "podman (v1.7) load doesn't support other architectures"
Starting with Podman v1.7, we have some more rigorous checks for matching the architecture and os of an image to the local machine. We can override the local machine by using --override-{arch,os} in other Podman commands but it's currently missing for Podman load.

Based on user feedback: https://github.com/containers/libpod/issues/4849#issuecomment-576385798

[2020-01-21 12:36] vrothberg commented on #4916
Thanks for taking the time to open the issue, @lfarkas! Could you provide the requested info from the issue template? The most important part is the output from `podman info --debug`.

[2020-01-21 13:03] lfarkas commented on #4916
[code]

[2020-01-21 13:46] loibpet opened #4918 "Streaming a tar archive with podman cp - fails"
/kind bug

From https://github.com/containers/libpod/blob/master/docs/source/markdown/podman-cp.1.md:

However, this is not working, whereas this is working without any issues for docker.

**Steps to reproduce the issue:**

Testing on 2 RedHat 7.7 boxes, one with a podman and the other one with a docker installation.

The following shell script can be used as a test case:
[code]

Gives for podman:

[2020-01-21 13:54] mheon commented on #4918
I feel like we may have fixed this already, but I'm on mobile so I can't
verify. Testing against master would confirm.

On Tue, Jan 21, 2020, 14:46 Peter Loibl <notifications@github.com> wrote:

[2020-01-21 14:56] ecks commented on #4595
I ran into this issue as well. Looks like there is a cmd format and an exec format for entrypoint, which are two different things. By default it will use cmd format, meaning it will execute the entrypoint using "sh -c", however you can opt out of that and have the entrypoint command executed directly by enclosing it in brackets.

Maybe the docs need to be annotated to account for that?

[2020-01-21 15:24] AquaL1te opened #4921 "there might not be enough IDs available in the namespace (system migrate doesn't work)"
/kind bug

**Description**
I'm running RHEL 7.7 and I followed [these](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html-single/managing_containers/index#set_up_for_rootless_containers) instructions. However, I ran into a few problems. Most of these issues are resolved and had to do with NFS and overlapping LDAP UIDs and GIDs.

I'm now left with one last iss

[2020-01-21 16:40] afbjorklund commented on #4787
Reopen as per comments in the initial attempt. Apparently everyone is doing their own workarounds.

[2020-01-21 16:43] cevich commented on #4501
Idea: What about using Fedora to do the snap build, it's got everything go-related available as native packages?

[2020-01-21 17:28] afbjorklund commented on #4390
@jwhonce : did you need any help with this ? We do something similar with `minikube kubectl`

Now with the new `podman-env` support, it _does_ seem a bit odd to keep writing `podman-remote`...

----

Translating these: <https://minikube.sigs.k8s.io/docs/tasks/docker_daemon/>

`eval $(minikube docker-env)`

`docker ps`

In https://github.com/kubernetes/minikube/issues/6350#issuecomment-576788026

[2020-01-21 19:07] ipbabble commented on #4364
@amitkrout  I followed the instructions here and got it to work:
https://github.com/containers/libpod/blob/master/docs/tutorials/remote_client.md

But FYI export that env var for the link. I'm not sure why the doc shows it the way it does.

[2020-01-21 19:13] ipbabble opened #4922 "[Mac] Man pages are not complete for the remote client on Mac."
/kind bug

**Description**

On the Mac client (remote client) the complete set of manual pages is not available. Only the highest level man page is available. So for every podman man page you request you get the main podman man page.

**Steps to reproduce the issue:**

1.
Example:
$ podman images
Error: Could not get runtime: dial unix /run/podman/io.podman: connect: no such file or directory
podm

[2020-01-21 19:23] ipbabble commented on #4922
FYI the version of Podman on my Fedora 31 server is:
'''
# podman version
Version:            1.7.0
RemoteAPI Version:  1
Go Version:         go1.13.5
OS/Arch:            linux/amd64
'''

[2020-01-21 20:39] grzegorzk opened #4924 "Rootless containers not starting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am following podman rootless tutorial (https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md) and on fresh arch linux install after following all of the steps I get error when starting container as non-root user.

**Steps to reproduce the issue:**

1. fresh ar

[2020-01-21 22:35] abitrolly commented on #4501
@cevich there is no Fedora base https://snapcraft.io/docs/base-snaps

[2020-01-22 06:17] henrywang commented on #4904
Hey @rhatdan,
I downgrade `podman` to `1.6.2` from `1.7.0` on Fedora 31. Running `podman run -d --network host --name hub --privileged selenium/hub:latest` (non-root) works.
Any changes between 1.6.2 and 1.7.0 caused this issue? Thanks!

[2020-01-22 08:55] mheon commented on #4913
I managed to reproduce once, but manually removing the pod was enough to resolve it.

[2020-01-22 09:08] mheon commented on #4793
Fixed upstream

[2020-01-22 09:08] #4793 closed

[2020-01-22 09:16] dependabot-preview[bot] opened #4927 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/21204439).

[2020-01-22 09:31] giuseppe commented on #4725
with Docker 1.13, I don't see it mounted in both cases

[2020-01-22 10:18] mheon commented on #4288
Closing as this appears to be fixed

[2020-01-22 10:18] #4288 closed

[2020-01-22 12:20] gima commented on #4718
**Why does the infra container need a network connectivity at all?**
Given that anything can be in the infra container image, I'd say it's a security hole waiting to happen.

Currently the infra container's networking is hard-coded to "bridge": [runtime_pod_infra_linux.go#L98](https://github.com/containers/libpod/blob/b300b981e7b101070198e8d8c9ef5c1c97f0c394/libpod/runtime_pod_infra_linux.go#L98).

[2020-01-22 13:09] debarshiray commented on #4863
Confirmed fixed in master. I tested the snapshot at commit d52132b6ecc1c1c9fb955ecee629f8d169ef1119

[2020-01-22 13:24] #4863 closed

[2020-01-22 13:44] mheon commented on #4908
Containers in a pod all share the same network namespace - they use the same network stack and IP. Containers may allow you to specify things like CNI network if they are doing this, but that is a bug - it will be ignored, and the container will join the pod network, which is already configured.

[2020-01-22 14:20] danopia commented on #4718
@gima Actually, the _purpose_ of the infra pod is to hold one consistent network namespace, so that the pod's containers can depend on the network namespace existing at all times and automatically reuse it.

From #4908

That usecase sounds backwards to how a pod is supposed to work - you'd want to set up the pod's intended network profile on the pod itself (aka the infra container), and then whate

[2020-01-22 15:02] abalage commented on #4908
Thanks for the clarification. Then it sound more reasonable to define network on pod level than on container level like the way it works now.
I am looking forward to get it supported. I am following #4718.
This case can be closed I think.

[2020-01-22 15:14] lsm5 commented on #4903
`podman_1.7.0~2` succeeded for raspbian 10 on OBS. So please give this another try.

@afbjorklund i'll work on splitting varlink packages next ..

[2020-01-22 16:31] delight commented on #4522
Would someone please be so kind to publish a new release to the ppa for *buntu ?
PPA is still on the buggy 1.6.2 (1.6.2-1~ubuntu18.04~ppa1) version

https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

Thnx

[2020-01-22 17:05] RobertYost opened #4935 "[prior to v1.8] Port binding not working in rootless mode"
# **EDIT** (by @AkihiroSuda): If you are hitting an issue similar to this with Podman >= v.1.8.0, you are likely to be hitting https://github.com/containers/libpod/issues/5249, not this issue.
- - -

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman isn't properly binding to a port I specify when running rootless

**Steps to reproduce

[2020-01-22 18:01] TomSweeneyRedHat commented on #4522
ping @lsm5 thoughts?

[2020-01-22 18:12] gima commented on #4718
Ahhh, I missed a thing.
Apparently it's not possible to specify which network<sup>(CNI netconf file)</sup> to use for the containers in the pod when using `podman play kube` command. It's just hard-coded to "bridge" in [libpod/runtime_pod_infra_linux.go#L98](https://github.com/containers/libpod/blob/b300b981e7b101070198e8d8c9ef5c1c97f0c394/libpod/runtime_pod_infra_linux.go#L98).

[2020-01-22 18:43] grzegorzk commented on #4924
OK, looks like the reason is because I'm on cgroups V1 and it seems that rootless containers are possible only when using cgroups V2 (https://podman.io/blogs/2019/10/29/podman-crun-f31.html)

[2020-01-22 18:43] #4924 closed

[2020-01-22 18:47] baude commented on #4924
This is not true.  Rootless works on v1 and v2.  The underlying tooling does change however.

[2020-01-22 20:34] mheon commented on #4935
There have been major changes in rootless port forwarding in master that
will be landing soon in release 1.7.1 - I think these may resolve your
issue.

On Wed, Jan 22, 2020, 18:05 Robert Yost <notifications@github.com> wrote:

[2020-01-23 02:28] alitvak69 opened #4937 "Keeping historical packages in the new Ubuntu repositories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Currently, on openSuseBuild server repos, only the packages from the latest release are installed.  There is no way to go back manually or via packaging tools.  Older packages are gone from the repo forever.   I believe that older podman and build dependencies should be available for downg

[2020-01-23 05:14] grzegorzk commented on #4924
Thanks for the comment @baude, so should I be able to run containers (i.e. `podman run`) as non-root user while still being on cgroups V1? I'm confused... When testing on cgroups V1 I was having errors (as described) but as soon as I switched to cgroups V2 everything works as expected..

[2020-01-23 06:31] grzegorzk commented on #4924
Yup you are right, it was permissions issue on my host.

[2020-01-23 08:05] vrothberg commented on #4927
@mtrmac, I assume this will be fixed once we update c/image?

[2020-01-23 08:32] mtrmac commented on #4927
See https://github.com/containers/buildah/issues/2096#issuecomment-577094933, that should be working now. I’m not sure whether Dependabot needs a command to retry.

[2020-01-23 08:33] vrothberg commented on #4736
@larrypl, thanks for opening the issue!

I cannot reproduce your observation. Podman and Docker pull have quite the same performance. One observation I see in your logs is that the Podman binary is built with go 1.10 while Docker is built with go 1.12. This might have a significant impact on the download speed as both Podman and Docker are using golang's http stack.

Another problem with reproduci

[2020-01-23 08:34] vrothberg commented on #4927
Thanks!

[2020-01-23 08:34] #4927 closed

[2020-01-23 09:43] FlorianLudwig opened #4950 "generate kube does not include security-opt"
/kind bug

**Description**

The `security-opt` is not included when generated kubernetes pod descriptions.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
The `security-opt` has no influence on the generated yaml

**Describe the results you expected:**
the `test.yaml` should contain `securityContext: seLinuxOptions`

**Additional information you deem important (e

[2020-01-23 09:49] delight commented on #3575
In watchtower the behavior configureable over labels:

https://containrrr.github.io/watchtower/container-selection/

[2020-01-23 09:58] mheon commented on #4595
I think we probably should rewrite `--entrypoint` to match the way we parse `ENTRYPOINT` - try a JSON decode, and if that fails use it as an argument to `sh -c`.

[2020-01-23 09:58] mheon commented on #4595
Need to verify that matches Docker, though

[2020-01-23 10:35] mheon commented on #4918
Confirmed this is fixed on master, closing

[2020-01-23 10:35] #4918 closed

[2020-01-23 10:35] mheon commented on #4937
@lsm5 PTAL

[2020-01-23 10:37] mheon commented on #4922
@jwhonce PTAL

[2020-01-23 10:38] mheon commented on #4935
Also - do you have `slirp4netns` installed at all? Can you confirm it is running when the container is running?

[2020-01-23 10:39] mheon commented on #4921
Can you try `podman system migrate --log-level=debug` and include the results here?

@giuseppe PTAL

[2020-01-23 10:40] mheon commented on #4917
@vrothberg Given we're removing the checks in c/image, can this be closed?

[2020-01-23 10:43] mheon commented on #4909
@nalind PTAL

[2020-01-23 10:45] AquaL1te commented on #4921
Here it is:
[code]

[2020-01-23 11:05] mheon commented on #4910
Images doesn't seem to support a `size` parameter, so I don't think it would be calculating it.

I can't replicate this locally, even with a large amount of images pulled. Wiping your existing storage by removing `~/.local/share/containers/storage` might fix this but will remove all your existing containers and images.

[2020-01-23 11:05] #4908 closed

[2020-01-23 11:12] mheon commented on #4904
If you only downgraded Podman, it's not `crun` or CGroups v2

[2020-01-23 11:14] mheon commented on #4888
I think we can close this; the fix has been merged into c/storage and we just vendored a new version of storage into master. Should be fixed in 1.7.1

[2020-01-23 11:14] #4888 closed

[2020-01-23 11:15] mheon commented on #4885
Fixed by @lsm5 in https://github.com/containers/podman.io/pull/182

[2020-01-23 11:15] #4885 closed

[2020-01-23 11:16] mheon commented on #4883
@baude @jwhonce PTAL

[2020-01-23 11:17] mheon commented on #4878
@TomSweeneyRedHat Have we pulled in a Buildah with this version yet?

[2020-01-23 11:18] mheon commented on #4877
I believe the consensus is that we are going to remove these checks, as they are not necessarily helpful. I don't think this fix will make it into 1.7.1 though.

[2020-01-23 12:43] guymguym commented on #4883
BTW I tested with podman 1.7 on fedora as a server and podman build succeeded.

I still had another issue with `podman build -f build/Dockerfile .` it appeared that through varlink the location of the dockerfile was failing for some reason.

[2020-01-23 12:52] mtrmac commented on #4877
https://github.com/containers/image/issues/799 for tracking.

[2020-01-23 13:22] TomSweeneyRedHat commented on #4878
@mheon, not yet, this will be in Buildah v1.13.2 (or maybe 1.14.0).  This just got merged earlier this week there.

[2020-01-23 13:40] TomSweeneyRedHat commented on #4741
Closed by #4819, I'm not sure why GIT didn't autoclose this.

[2020-01-23 13:40] #4741 closed

[2020-01-23 13:59] collinvandyck commented on #4747
@lsm5 hi :wave: i just ran into this problem with podman_1.7.0~3 using this apt source `deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_19.10/` and `sudo apt install podman`:

[code]
Any ideas what I'm doing wrong here? Thanks very much.

[2020-01-23 15:15] lfarkas opened #4954 "podman does not resolve short hostname in image name"
we try to run our own local registry and refer to the image as registry/repo/image but podman doesn't able to resolve it only FQDN ie. in this case search for images in the global registry list. the strange thing is that:
- registry/repo/image can NOT be used
- registry:80/repo/image can be used
- registry:443/repo/image can be used

it seems that the first format assume it's a path element while

[2020-01-23 15:23] vrothberg commented on #4917
Let's wait until we merged c/image. Keeping it open might prevent users from a doing a redundant report.

[2020-01-23 15:28] saschagrunert opened #4955 "Empty NetworkSettings when using slirp4netns"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The network settings are not written/exposed when running rootless podman on top of slirp4netns.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue

[2020-01-23 15:33] mheon commented on #4955
I would argue that they don't really have IP addresses, gateways, MAC addresses, etc - they bind against the host, so the addresses don't belong to them.

[2020-01-23 15:36] saschagrunert commented on #4955
Makes sense, but I would need the information which IP the `tap0` interface got assigned via podman. So we may want to set this field somehow.

[2020-01-23 16:13] shaicoleman commented on #4747
Same for me on Ubuntu 18.04

[2020-01-23 17:48] itamarst commented on #3865
Docker Compose now supports calling out to Docker CLI, so it's possible Podman would work now... https://www.docker.com/blog/faster-builds-in-compose-thanks-to-buildkit-support/

[2020-01-23 17:57] cevich commented on #4501
Sorry I was not very clear.  Right now the test and upload CI jobs use a container image: `yakshaveinc/snapcraft:core18`.  I'm wondering if we make a Fedora version of that image, if that might help with the dependency problems.  I'm not opposed setting up quay.io to build an image, for example from a `./contrib/fedsnap/Dockerfile`.  I just don't know what needs to go into that.

[2020-01-23 18:02] viggy96 commented on #3575
@delight That's not what I want though. I want to have podman update all my containers just like watchtower does by default.

[2020-01-23 18:12] stbischof opened #4956 "Podman in fedora 31 testing repo"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**

At the moment are the "testing versions" only for Fedora 32 available.

 IT would be great to have them also in Fedora 31

https://github.com/containers/libpod/blob/8beeb067aac857deb29e91562cf4b6f068fe0328/install.md#L167-L178

**Steps to reproduce the issue:**

https://bodhi.fedoraproject

[2020-01-23 18:13] TomSweeneyRedHat commented on #4956
@lsm5 PTAL

[2020-01-23 18:25] barseghyanartur commented on #3865
Hey, to ping back, I'm already successfully using podman and podman-compose as docker/docker-compose replacement.

[2020-01-23 19:27] vlina opened #4957 "Permission errors running rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable mount volume when running a rootless container.

**Steps to reproduce the issue:**

1. Fresh install of Fedora 31

2.
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
The volume to be mounted with the correct permissions.

**Output of `podma

[2020-01-23 21:03] larrypl commented on #4736
@vrothbert - thanks for taking a look!
I'm using the CentOS 7.6-provided docker (docker-ce) and podman; I didn't realize they used different versions of go - thanks for catching that! I'll see if I can test with a newer version of podman somewhere.
The repo.corp.pinger.com link is an Artifactory repository where the artifact actually resides, not a proxy, so I don't think that's part of the proble

[2020-01-23 23:46] grantseltzer opened #4959 "Cannot create /lib mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a container using podman mounting `/lib` does not actually create a mount. The contents of the host `/lib` do not appear in the container

**Steps to reproduce the issue:**

1. `mkdir /lib/test`

2. `podman run -it -v /lib:/lib fedora bash`

3. (in container) `ls /lib/modules`

[2020-01-24 00:22] delight commented on #3575
@viggy96 anyways I think you are addressing your request to the wrong project though. IMO it's rather an implementation detail of watchtower. Right now watchtower is accessing the docker api via go. It's rather up to watchtower to support podman additionally.

[2020-01-24 00:43] mathieu-benoit commented on #4325
Hi there, I'm very new with `podman` and I'm trying to get it working with WSL1 but I still have the error with the command below:
[code]
Are you able to have this command working? I see otherwise that "setting the libpod.conf to use a file instead of journald" but sorry for a dummy question, but how to do that?
Thanks!

[2020-01-24 01:29] larrypl commented on #4736
@vrothbert - thanks for taking a look!
I'm using the CentOS 7.6-provided docker (docker-ce) and podman; I didn't realize they used different versions of go - thanks for catching that! I'll see if I can test with a newer version of podman somewhere.
The repo.corp.pinger.com link is an Artifactory repository where the artifact actually resides, not a proxy, so I don't think that's part of the proble

[2020-01-24 01:29] larrypl commented on #4736
Initial tests seem to indicate that podman 1.4.4-4 is faster than 1.4.4-2!

[2020-01-24 01:52] viggy96 commented on #3575
@delight I was just using watchtower as an example. I'm not expecting podman guys to support watchtower. I was asking for a similar solution that would work for podman. @vrothberg has already taken up this issue, so I'd say its very relevant to this project.

[2020-01-24 02:38] mrguitar commented on #3575
+1 to having a mechanism to generate timers for this. That would be great.

[2020-01-24 05:00] rhatdan commented on #4718
If someone were to open a PR on this, I am sure we would consider it.

[2020-01-24 05:06] rhatdan commented on #4551
I have a PR for this, but it is not tested in container/storage.

https://github.com/containers/storage/pull/518

This PR is totally untested, and needs work, when I get time, or if someone else grabs it and finishes it.

[2020-01-24 05:07] rhatdan commented on #4739
@giuseppe Any more progress on this?

[2020-01-24 05:07] rhatdan commented on #3917
This is all tied to the containers.conf PR.

[2020-01-24 05:13] rhatdan commented on #4904
Can you confirm that going back to podman 1.7.0, it is broken again?

[2020-01-24 06:16] mheon commented on #4718
There is one open, but abandoned. I'm going to see if I can push it the
last bit over the finish line

On Fri, Jan 24, 2020, 06:00 Daniel J Walsh <notifications@github.com> wrote:

[2020-01-24 09:12] haraldh opened #4960 "[conmon:d]: failed to write to /proc/self/oom_score_adj: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`)

[2020-01-24 09:21] siscia commented on #4739
I am still trying to figure out what is the best approach for this.

I was expecting the storage to be layer-digest based, like each layer was indexed by its own hash.
Something like:
[code]
Where `123...` and `abc...` where the hash of the layer itself.

This does not seems to be the case.

Unfortunately I still haven't understood what hash is used to index the layer.

However this is quite a com

[2020-01-24 12:59] tanwald opened #4961 "podman logs produces blank lines"
/kind bug

**Description**

`podman logs` does not mirror console output.

**Steps to reproduce the issue:**

1. Create an image that runs wildfly configured with a logger that uses a console handler and a file handler.

2. Run the image in detached mode.

3. Execute `podman logs -t <container-name> | head -n100`

4. Execute `podman exec  <container-name>  head -n100 /opt/wildfly/standalone/log/se

[2020-01-24 13:08] travier-anssi commented on #1742
@lsm5 Thanks for the packaging work! This is very much appreciated!
The latest podman build from the Kubic project repository (podman_1.7.0~3) installs the "docker" man pages as well as the podman ones which makes this package conflict with Docker on a system with Docker already installed.

[2020-01-24 13:14] tanwald opened #4962 "podman logs should print container names instead of ids"
/kind feature

**Description**

As soon as you print the logs of more than one container you can hardly read the output. (Especially in combination with  #4961)

**Steps to reproduce the issue:**

1. Run `podman logs <some-container> <another-container> ...`

**Describe the results you received:**
[code]

**Describe the results you expected:**

[code]
An option to print logs of different container

[2020-01-24 13:30] abitrolly commented on #4501
@cevich it won't help. If `snap` is based on `core18`, that `snapcraft` will spin up Ubuntu 18 and build the `snap` inside. For `core` it will be Ubuntu 16. My image is a hack only `core18` snaps to avoid spinning that new image  - `snapcraft` sees that it is launched in Ubuntu 18, already in container, and the `snap` that needs to be built is to be run on the same Ubuntu 18, and doesn't try to cr

[2020-01-24 14:03] rasup opened #4963 "Fails to set 'security.selinux' extended file attribute when moving file inside container"
/kind bug

**Description**

Fails to set 'security.selinux' extended file attribute when moving a file to a mapped volume inside a container.

This causes Python's `shutil.move()` to raise an exception and commandline `mv` to output an error message.
I'm not sure if this is actually a Podman bug but version 1.7.0 exhibits this while 1.6.2 doesn't.

**Steps to reproduce the issue:**

1. On Fedora 3

[2020-01-24 14:53] baude commented on #4959
are you seeing any avcs or messages in the journal

[2020-01-24 17:36] Noah-Huppert commented on #4648
@rhatdan

Yes:

[code]

[2020-01-24 17:37] Noah-Huppert commented on #4648
What does the stale issue marker signify? Does this cause the issue to get placed lower in a queue? Should I bump this issue every 30 days to prevent this?

[2020-01-24 20:28] onlyjob commented on #4783
The closest I can think of is [github.com/mattn/go-shellwords](https://github.com/mattn/go-shellwords)

[2020-01-24 23:08] cevich commented on #4501
oh wow, gosh, that's a lot of detail, thanks for explaining.  I'll need some time to read/understand that better.

Note: We're not necessarily limited to containers in this environment.  I could allocate a VM to run for the snap build, whatever distro. flavor is needed.  Not sure if that's helpful yet or not before I read :smile:

[2020-01-24 23:27] astronouth7303 opened #4967 "Project Kubric bugs?"
Went to use the Project Kubric builds, found two issues:

* The docker manpages are being shipped in the `podman` binary package
* There is a typo'd directory `/usr/share/bash-completion/comletions/`

What's the best place to file these bugs?

[2020-01-25 07:22] abitrolly commented on #4501
@cevich I reworked the text to make it easier to read.

[2020-01-25 07:23] abitrolly commented on #4501
@cevich running the build on Ubuntu 18.04 and then just packing the binaries might be much much easier.

[2020-01-25 07:40] rhatdan commented on #4960
In a rootless container, you are not allowed to set the oom_score_adj to a Negative number, just like you are not allowed to do it as a normal user
[code]

[2020-01-25 08:29] vrothberg commented on #4737
@giuseppe PTAL

[2020-01-25 08:30] vrothberg commented on #4967
Thanks for reaching out! This seems related to the opensuse packages, so I suggest to file them at https://bugzilla.opensuse.org.

[2020-01-25 08:30] #4967 closed

[2020-01-25 08:43] vrothberg commented on #4783
The package is _really_ small, so I forked it into libpod: https://github.com/containers/libpod/pull/4968

[2020-01-25 09:10] onlyjob commented on #4783
Wouldn't it be better to switch to `mattn/go-shellwords`? It appears to be already used by Buildah and `containers/storage`.

[2020-01-25 09:11] haraldh commented on #4960
so, why is conmon doing it?

[2020-01-25 09:34] mheon commented on #4960
We use the same Conmon code when we run as root, and without root. The OOM adjust is the only thing that breaks, so this is generally fine. We don't necessarily need it (it's very helpful in low-memory situations to prevent the critical conmon process from being killed, but under normal circumstances it's not needed. Our approach so far has been to let it log warnings about this, which has so far

[2020-01-25 09:34] mheon commented on #4960
Your actual error appears to be
`
time="2020-01-24T09:57:32+01:00" level=error msg="unable to start container \"fedora-toolbox-31\": writing file '/proc/11598/gid_map': Operation not permitted\nsetgid(0): Invalid argument: OCI runtime permission denied error"
`

[2020-01-25 09:37] mheon commented on #4960
This looks suspiciously like a newgidmap failure - I would check the permissions of `newuidmap` and `newgidmap` and make sure they look right

[code]

[2020-01-25 09:58] mjudeikis opened #4969 "[Feature Request] Podman run to accept kube yaml"
Podman currently can generate kube yaml. It would be amazing if podman could accept kube-yaml and run it locally for local development/debugging outside the cluster. Basically do a roundtrip for kube generate :)

There is some caveats on what can and can't be run. But let's assume YAML was generated by podman, so we could support backward compatibility.

[2020-01-25 10:12] mheon commented on #4969
We support this via the 'podman play kube' command

On Sat, Jan 25, 2020, 10:58 Mangirdas Judeikis <notifications@github.com>
wrote:

[2020-01-25 10:13] mjudeikis commented on #4969
+1 :) thanks for fast response :)

[2020-01-25 10:13] #4969 closed

[2020-01-25 12:30] haraldh commented on #4960
[code]

[2020-01-25 21:15] astronouth7303 commented on #4967
Opened as https://bugzilla.opensuse.org/show_bug.cgi?id=1161824

[2020-01-25 23:18] MarcoFalke opened #4971 "podman exec does not work with pipes"
/kind bug

This used to work I think, but I can't bisect.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

[code]

**Output of `podman version`:**

[code]

[2020-01-26 01:12] theoretical2019 opened #4972 "podman run breaks if iptables is not installed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run` breaks if a port forward is specified and `iptables` is not installed (at least on Ubuntu Bionic).  This is different from #3655:

- #3655 is for the case where an `iptables` binary is present, but `$PATH` is not configured to point to it.
- This issue is for the case of a comple

[2020-01-26 06:05] #4783 closed

[2020-01-26 07:07] mheon commented on #4971
Can you try master, by chance? We should have a fix for this merged already
and ready to release in 1.7.1 (due later this week).

On Sun, Jan 26, 2020, 00:18 MarcoFalke <notifications@github.com> wrote:

[2020-01-26 07:10] mheon commented on #4972
We can't forward ports as root without iptables, so the correct course of
action here might be to error earlier and with a better message. I don't
want to proceed and produce a container where not everything works.

On Sun, Jan 26, 2020, 02:13 theoretical2019 <notifications@github.com>
wrote:

[2020-01-26 07:11] mheon commented on #4972
Agree it should be a dependency though. @lsm5 PTAL

On Sun, Jan 26, 2020, 08:10 Matthew Heon <matthew.heon@gmail.com> wrote:

[2020-01-26 07:12] #4822 closed

[2020-01-26 10:31] mheon commented on #4963
I assume you're running rootless?

[2020-01-26 10:32] mheon commented on #4963
@rhatdan Does this sound like a permissions issue because rootless can't set SELinux contexts, or is this more likely to be fuse-overlay?

[2020-01-26 11:51] jrabbit commented on #4791
Same issue in debian + ubuntu packages
work around is `sudo apt install -o Dpkg::Options::=--force-overwrite podman`

[2020-01-26 12:38] afbjorklund commented on #3875
Now `sudo` has been implemented for both `podman-machine` and `minikube podman-env`...

This means that the VM no longer has to allow SSH access for the root user, in order to work.

[2020-01-26 12:44] ArangoGutierrez opened #4978 "Add annotations into containers.conf file"
With the upcoming feature of containers.conf file, having the ability to hard code "--annotation" oci hooks into the conf file will be a good idea and a very handy tool to have.

This will open the door for sysadmins or even users to hard code ocihooks to prepare the environment, bindmount GPU drivers based on nvidia-smi bin or other related use cases, as to also hard code a clean up process for P

[2020-01-26 17:19] RobertYost commented on #4935
Looks like it is installed, with version 0.4.2. I'm not quite familiar with how slirp4netns works, how would I go about checking to see if it's running while the container is running?

Also - will make sure to look out for that release, thanks for the heads up.

[2020-01-26 17:24] rhatdan commented on #4963
The problem is shutil.move python bindings is attempting to copy the Security attributes from the source file to the target file.  I believe the latest shutil.copy code ignores this error, since it will not be allowed within a container.  Since SELinux indicates that it is disabled to processes within the container, shutil should not be attempting to keep these labels.

[2020-01-26 17:28] rhatdan commented on #3875
@dustymabe Can we close this?

[2020-01-26 17:43] baude commented on #4978
@rhatdan wdyt?

[2020-01-26 18:00] baude commented on #4962
@rhatdan @mheon @haircommander  What do you guys think? We could also just a --names option.

[2020-01-26 18:02] mheon commented on #4962
Option is best way to handle this, I think.

[2020-01-26 18:04] baude commented on #4971
I just confirmed this works.
[code]

[2020-01-26 18:04] baude commented on #4971
Closing, please re-open as needed

[2020-01-26 18:04] #4971 closed

[2020-01-26 18:14] baude commented on #4956
For stable Fedora version, our process is that we only put packages that are bound for actual stable releases.  To me, this is what upstream is for.   We really want to avoid bug reporting on unreleased versions, though as a user, I can completely understand the desire.

We also have a COPR repo building from upstream -> https://copr.fedorainfracloud.org/coprs/baude/Upstream_CRIO_Family/  Each com

[2020-01-26 18:16] baude commented on #4954
@lfarkas short names are used all the time.  can you give a real world example and maybe someone can debug

[2020-01-26 18:22] baude commented on #4903
@lsm5 i personally would disable varlink supported in any build for rasberry pi.

[2020-01-26 18:26] baude commented on #4878
@mheon want to pull in the commit instead of waiting for a release? If not, @TomSweeneyRedHat how do you feel about getting a release done

[2020-01-26 18:28] baude commented on #4854
@mheon make a card and lets remove from here. wdyt ?

[2020-01-26 18:42] mheon commented on #4878
We're waiting on a c/image release right now, to pull some architecture checks that were added in error, for a fresh Podman release - gives us a bit of time?

I'd prefer not to pull in a bare commit if the Buildah folks don't want one, liable to make their lives a lot harder

[2020-01-26 18:43] mheon commented on #4956
The COPR might solve the ask here

[2020-01-26 18:46] rhatdan commented on #4950
label=disable in SELinux terms would translate to
[code]
I guess.

@FlorianLudwig interested in opening a PR?

@mheon @haircommander Do we have enough info in the container to know SELinux was disabled.

[2020-01-26 18:49] rhatdan commented on #4922
@ipbabble Could you open a PR to fix this?  Not likely @jwhonce Will get to it soon, since he is concentrating on APIV2.

[2020-01-26 18:58] mheon commented on #4950
The `io.podman.annotations.label` annotation in newer Podman-created containers should do the jobr

[2020-01-26 19:14] giuseppe commented on #4902
I will verify on an Ubuntu VM.  In the meanwhile, can you tell me the content of  `/sys/module/apparmor/parameters/enabled`?

[2020-01-26 19:16] afbjorklund commented on #4390
@Romain-Geissler-1A : implemented in #4981, using environment variables:
* PODMAN_HOST
* PODMAN_VARLINK_BRIDGE
* PODMAN_VARLINK_ADDRESS

[2020-01-26 19:27] baude commented on #4834
@MK27 nudge

[2020-01-26 19:30] baude commented on #4814
We dont support native compilation on osx ... only cross-compile from linux.  Varlink is one reason.  @ssbarnea how do you want to deal with this/go from here.

[2020-01-26 19:32] baude commented on #4812
@jwhonce ptal ... circle back to me if you cannot get to it.

[2020-01-26 19:32] baude commented on #4811
@vrothberg care to knock this out for bug week?

[2020-01-26 19:38] baude commented on #4809
@astronouth7303 given that a type has to be declared ... can you give me an actual example?  are you converting the array to a string before passing it?

[2020-01-26 19:39] baude commented on #4794
@rhatdan what  gives on this one?

[2020-01-26 19:41] baude commented on #4791
@jnovy where do we stand on this one?

[2020-01-26 19:43] baude commented on #4787
@vrothberg can you look at this again?

[2020-01-26 19:43] baude commented on #4784
can we close this?

[2020-01-26 19:54] ssbarnea commented on #4814
Linting must work from any platform likely to support contributions from, even if compilation would be cross-compiled.

I was planning to do something about it myself but got busy with other stuff. Keep it open until someone fixes it.

I would consider acceptable even if only pre-commit runs on macos and the rest is skipped. The more interesting aspect is that pre-commit works but make never reach

[2020-01-26 20:17] Romain-Geissler-1A commented on #4390
Cool thank you ;)

[2020-01-26 21:04] baude commented on #4792
@marusak There is a `InspectContainer` endpoint that does the exact same thing as ContainerInspectData.  The string being return is just json-string and should be able to marshalled.  i think this solves your problem. Please comment otherwise and we can re-open.

[2020-01-26 21:04] #4792 closed

[2020-01-26 22:14] baude commented on #4880
@Komic I can understand that `imagePullPolicy: always` would trigger a pull of the latest but at least in podman, there is no precedent for triggering a pull based on the latest tag.  Would honoring the pull policy be sufficient?

[2020-01-26 23:02] lfarkas commented on #4954
- setup a repo which is NOT in the /etc/containers/registries.conf's registries.search
- put an image into the new registries repo/image
- podman pull registry/repo/image

[2020-01-26 23:12] onlyjob commented on #4784
I'm not sure... On one hand at this time I recognise no action that maintainers can take. But on another hand due to probable Golang bug Libpod requires a very specific and non-obvious build workaround. This is definitely an problem that ideally should be addressed this way or another.
I would keep this issue open until it is better understood.

[2020-01-26 23:40] astronouth7303 commented on #4809
No? It's pretty straight-forward?

OCI says entyrpoint is an array (an argv). Docker says that entrypoint either an array or a string.

OCI says that the program actually run is entrypoint and command, concatenated.

So my usage, I want the entrypoint `["/mc-server-entrypoint", "-shell", "/bin/sh"]`. Since `command` is an array, would expect that `entrypoint` is also an array. But it's not, it's a

[2020-01-27 04:56] Akasurde commented on #4962
@mheon @baude If you don't mind, I would like to take this issue. Thanks.

[2020-01-27 05:43] mheon commented on #4809
I'll take this one, I think it's identical to the change parsing I did
earlier

On Mon, Jan 27, 2020, 00:40 Jamie Bliss <notifications@github.com> wrote:

[2020-01-27 10:01] rasup commented on #4963
Yes, I am.

So what you are saying is that it is a bug in `shutil.move`?

[2020-01-27 10:13] stbischof opened #4990 "docker and libpod endpoint of Rest API V2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The Post that announces the new rest api v2 https://podman.io/blogs/2020/01/17/podman-new-api.html describes that there are 2 main entpoints.

one For docker and one for libpos

[code]

wouldn't it be better to have libpod and docker in  separate

[code]

[2020-01-27 10:28] stbischof commented on #4956
works for me!

you may should add  this to way to the docs

`sudo dnf config-manager --add-repo https://copr.fedorainfracloud.org/coprs/baude/Upstream_CRIO_Family/repo/fedora-31/baude-Upstream_CRIO_Family-fedora-31.repo`

[2020-01-27 10:49] mheon commented on #4990
I don't think we have support for TCP listening in the service command yet,
only unix socket. It is desperately in need of documentation, though

On Mon, Jan 27, 2020, 11:13 Stefan Bischof <notifications@github.com> wrote:

[2020-01-27 12:13] rhatdan commented on #4648
No it just means no one has commented on it in 30 days.  The goal is to wake us up to relook at the issue or close it, if it is no longer relevant or not something we will fix.

[2020-01-27 12:16] stbischof commented on #4990
the docy showed me the way to tcp:/

´For example, *unix://tmp/foobar.sock* or *tcp:localhost:8080*.´

https://github.com/containers/libpod/blob/aa13779e9e8d5bb6090d514e3aad9387cb0a2d35/docs/source/markdown/podman-service.1.md#L8-L15

[2020-01-27 12:17] rhatdan commented on #4648
@giuseppe Were you able to recreate this?
@Noah-Huppert Does this happen if you use runc as your OCI Runtime?

[2020-01-27 12:22] #4706 closed

[2020-01-27 12:26] AquaL1te commented on #4921
And here is the log for the image pull with the debug level:
[code]

[2020-01-27 13:15] dustymabe commented on #3875
It's been a while since I've played around with this. Any particular docs I should follow now to test?

[2020-01-27 13:26] rhatdan commented on #4978
I am fine with this.  We talked about it at devconf.cz

[2020-01-27 13:30] rhatdan commented on #4903
A very impressive demo at devconf.cz was using the virtual kublet talking varlink to podman on a raspberry pi
https://github.com/virtual-kubelet/podman

[2020-01-27 13:35] rhatdan commented on #4956
Could you open a PR to add this to the docs?

[2020-01-27 13:38] rhatdan commented on #4962
It is all yours @Akasurde

[2020-01-27 14:08] rhatdan commented on #4990
Doing this is totally unsupported.  You are opening up a root connection on your host with no security protections.  It would work on localhost, but would be very dangerous if you actually listed on a public port.
We would recommend using ssh tunnel. connections to embed the socket connections from a remote host.
@jwhonce is working on a nice solution to make this easy for users to do.

[2020-01-27 14:16] baude commented on #4990
the service command supports a uri format of tcp or unix more or less.  the format of the URI will change slightly when I get a chance to correct it (tcp:/ vs tcp:// vc tcp:).  I believe the issue you hit is that you don't have the version in the path "v1.24"

[2020-01-27 14:18] baude commented on #4962
@Akasurde thanks!

[2020-01-27 14:44] baude commented on #4954
@mtrmac wdyt here? one thing we dont try when resolving names is to flat out try a pull.  That might fix this one?

[2020-01-27 15:09] mtrmac commented on #4954
No, this is working as designed, and is pretty much the opposite to resolving short names.

"registry/" which has neither a dot nor a colon, and is not `localhost`, is treated as a repository, not as a hostname, i.e. this is defined to be a short name.

At upstream Docker, `docker pull registry/repo/image` would always pull `docker.io/registry/repo/image`.

---

I would strongly suggest _not_ usin

[2020-01-27 15:18] baude commented on #4954
thanks @mtrmac !

[2020-01-27 15:18] lsm5 commented on #1742
@travier-anssi whoops, thought I disabled docker manpages, but apparently not, fixing..

[2020-01-27 15:19] baude commented on #4581
closing

[2020-01-27 15:19] #4581 closed

[2020-01-27 15:35] TomSweeneyRedHat commented on #4878
I'm happy to do a release, but won't get to it until tomorrow (Tues 1/28) if that works.

[2020-01-27 15:39] 5paceToast commented on #4764
Given that https://github.com/containers/storage/pull/508 has been merged for a bit now, my understanding is all that's left to do is bump the dependency in libpod and make a bugfix release.
It's been a couple of weeks now, is there any general ETA?

[2020-01-27 15:39] cevich commented on #4501
Yes, and also better from a maintenance perspective.  Long-term, we want something both simple (for reliability) and with zero or very little additional human maintenance.  So, if the packaging process could be tied (for example) into the build process we use for running tests, it won't add any new maintenance on top of what I already perform.

In fact, it's possible to cache the output-files from

[2020-01-27 15:45] stbischof commented on #4990
All I did with tcp / http / rest is just to test the new features:

This ticket is because i think that the /libpod endpoint should be beside not inside the docker one

<endpoint_base_url>/libpod/images/json
<endpoint_base_url>/docker/images/json

[2020-01-27 18:44] lsm5 commented on #4903
@baude why so? arch issues or other hardware limitations?

[2020-01-27 18:58] andrejpetras commented on #4747
[code]

![image](https://user-images.githubusercontent.com/828045/73204484-526f6a80-413f-11ea-9f2b-5e1f04e2fc29.png)

[2020-01-27 20:09] rhatdan commented on #4959
/lib on the host is a symbolic link.

ls -l /lib
lrwxrwxrwx. 1 root root 7 Jul 24  2019 /lib -> usr/lib

So you end up volume mounting in a symbolic link, not the /usr/lib directory that you expected.
If you do -v /usr/lib:/usr it should fix the problem

[2020-01-27 20:11] lsm5 commented on #4747
`1.7.0~4` will be available (should be an hour or less) on the kubic repo. That will not install any docker manpage. Let me know if any other issues..

[2020-01-27 20:12] lsm5 commented on #1742
@travier-anssi https://github.com/containers/libpod/issues/4747#issuecomment-578930208

[2020-01-27 20:23] yolanv commented on #4811
@vrothberg Indeed, the openSUSE page has builds for armHF (more specifically Raspbian). This basically solves the issue. Thanks alot!

[2020-01-27 20:44] baude commented on #4903
because long-term varlink support for us will be deprecated and I just don't know that it is worth it.

https://podman.io/blogs/2020/01/17/podman-new-api.html

[2020-01-27 20:50] baude commented on #4702
is this resolved?

[2020-01-27 20:52] baude commented on #4580
@ssbarnea can we close this or ?

[2020-01-27 20:53] baude commented on #4560
@mheon fixed? @towe75 have you been able to try master?

[2020-01-27 20:53] Komic commented on #4880
Of course, that does not match the behavior described by https://kubernetes.io/docs/concepts/containers/images/ though.

[2020-01-27 20:55] ssbarnea commented on #4580
AFAIK, no because at this moment we build it without gpgme feature. This would be ok to close when we address this aspect. PRs are welcomed here.

[2020-01-27 21:18] afbjorklund commented on #4903
Then again the varlink support is already there, and the new HTTP API is not really out yet ?

Varlink (the binary) is also really really small, it is the build system that is big (hello, meson)

[2020-01-27 21:35] baude commented on #4499
I think you can begin to playu with it now.  Keep in mind it is very much unstable

[2020-01-27 21:35] #4499 closed

[2020-01-27 21:47] baude commented on #4465
i *strongly* suspect you had an extra conmon somewhere and the integration tests were finding it by default.  closing. this works all day for the rest of us.

[2020-01-27 21:47] #4465 closed

[2020-01-27 21:49] grantseltzer commented on #4959
ah that did it, can't believe I didn't notice that. Thank you @rhatdan!

[2020-01-27 21:58] baude commented on #4454
Ok, I have this one nailed down.  It is mariadb specific and not the fault of podman or cni.  In one terminal, run top.  In another, run the command as provided ... and in another terminal, run a podman container log -f.  What you will observe is this:

In the container, by way of top, the mysqld binary is chewing up CPU presumably to get setup.  The maria db logs are as follows:
[code]
Then, as o

[2020-01-27 21:58] #4454 closed

[2020-01-27 21:59] baude commented on #4433
@vrothberg any update here?

[2020-01-27 22:09] #4956 closed

[2020-01-27 22:10] baude commented on #4286
@lsm5 is this fixed?

[2020-01-27 22:13] baude commented on #4244
@cevich still an issue for you?

[2020-01-27 22:14] baude commented on #4167
.. i think we shot this one ... closing for now.

[2020-01-27 22:14] #4167 closed

[2020-01-27 22:22] #4799 closed

[2020-01-27 22:43] mheon commented on #4560
I think that APIv2 should remove the need for this

On Mon, Jan 27, 2020, 15:53 Brent Baude <notifications@github.com> wrote:

[2020-01-27 23:36] jwhonce commented on #4364
@ipbabble https://github.com/containers/libpod/pull/4997 updates the documentation for setting up the varlink bridge.

[2020-01-28 00:50] delight commented on #4747
1.7.0~4 installs fine next to an existiing docker-ce! Issue solved  :heavy_check_mark:

Question:
Is there a reason to not rollout the registries.conf with either the podman package or the containers-common package and instead suggesting in the installation steps to create that file manually?

`sudo mkdir -p /etc/containers`
`echo -e "[registries.search]\nregistries = ['docker.io', 'quay.io']" | s

[2020-01-28 01:57] lsm5 commented on #4747
sorry about that, will fix in `1.7.0~5`, should be ready tomorrow.

[2020-01-28 06:54] grzegorzk opened #4998 "Is it possible to get `ip link set up` not to fail inside unprivileged container?"
/kind feature

**Description**

I have a simple container with openvpn process in it. I'm trying to start openvpn in this container as unprivileged user by passing capabilities when executing `podman run`

**Steps to reproduce the issue:**

1. `Dockerfile`:
[code]

2. Build image (as unprivileged user)

[code]

3. Start container with systemd

`systemd` service:
[code]

4. Start the service (as ro

[2020-01-28 07:09] towe75 commented on #4560
@mheon I was not aware about your ApiV2 branch until now, so i did not try it yet. I like the idea of not depending on varlink.

But my question was actually about telling podman to redirect the streams to a different file or socket, regardless of the used api transport/encoding.

I assume that the new API can poll/stream both streams to a client. This would help me to do a proper integration, alt

[2020-01-28 09:02] giuseppe commented on #4702
got no answer to my question, I think we can close it

[2020-01-28 09:02] #4702 closed

[2020-01-28 09:19] vrothberg commented on #4747
Thanks for the great work, @lsm5 !

[2020-01-28 09:19] #4747 closed

[2020-01-28 09:21] vrothberg commented on #4234
@rhatdan, still valid?

[2020-01-28 09:27] haraldh commented on #4960
Ok, solved the issue by:

[code]
seems like the default config (from older versions) was broken somehow. Also in my first attempts to clear the config, I forgot to `kill` and it had no effect.

What a mess.

[2020-01-28 09:27] #4960 closed

[2020-01-28 09:54] giuseppe commented on #4921
can you show the output for?

[code]

[2020-01-28 10:07] giuseppe commented on #4648
@rhatdan I've not tried as the issue requires a system without systemd

[2020-01-28 10:15] vrothberg commented on #4433
https://github.com/containers/libpod/issues/4433#issuecomment-549163675 should answer the initial issue. It is important to notice that a single service that only starts/stops the Pod is not sufficient to track the health of the entire Pod. `podman generate systemd $pod` is hence generating a set of services for the pod including all containers within this pod.

The next version of Podman ships wi

[2020-01-28 10:15] #4433 closed

[2020-01-28 10:17] AquaL1te commented on #4921
[code]

[2020-01-28 10:17] giuseppe commented on #4737
I think that CPU usage is expected when using slirp4netns as it is emulating the entire network stack.

[2020-01-28 10:35] #4811 closed

[2020-01-28 11:23] vrothberg commented on #4737
Closing the issue as it's expected behavior.

[2020-01-28 11:23] #4737 closed

[2020-01-28 11:28] vrothberg commented on #4783
@onlyjob, `go-shellwords` seems to behave differently. It's used to split a single-string shell command into an array, while `camelcase` is splitting a camelcase borders.

[2020-01-28 11:31] vrothberg commented on #4736
Thanks for checking, @larrypl! I will close the issue. Feel free to re-open if you continue to see performance differences.

[2020-01-28 11:31] #4736 closed

[2020-01-28 12:49] rpjday opened #5000 "Trying to copy *out* of container errors with "cannot copy into ...""
/kind bug

**Description**
With a running CentOS 8 container, simply trying to copy a file **out** of the container generates an error suggesting you're trying to copy **into** the container.

[code]
Simply trying to cat that same file appears to work fine:
[code]

**Output of `podman version`:**

[code]

[2020-01-28 12:51] giuseppe commented on #4921
it seems user namespaces are still blocked.  What is the content of `/proc/sys/user/max_user_namespaces`?

Also, can you show the output for?

[code]

[2020-01-28 12:54] #4473 closed

[2020-01-28 12:56] AquaL1te commented on #4921
The last command did not provide any output.

[code]

[2020-01-28 13:02] mheon commented on #5000
I thought we forced the default for pause to false on rootless with CGroups
v1.

On Tue, Jan 28, 2020, 07:49 Robert P. J. Day <notifications@github.com>
wrote:

[2020-01-28 13:18] rpjday commented on #5000
Both the host (Fedora 31) and container (Centos 8.1) are currently using cgroups v2, so not sure what v1 has to do with this issue.

[2020-01-28 13:22] giuseppe commented on #4902
The only way I got to reproduce it is to create a container with an apparmor profile and then make `/sys/module/apparmor/parameters/enabled` inaccessible, in my case with a tmpfs mount on top of it.

[code]

Please show the content for `/sys/module/apparmor/parameters/enabled` when the exec fails

[2020-01-28 13:37] collinvandyck commented on #4747
+1 @lsm5 thank you!

[2020-01-28 13:38] yoctozepto commented on #4431
Same issue with docker and dnf.

[2020-01-28 13:59] HarryMichal opened #5001 "Inconsistency between json output of podman ps and podman images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Hi, when I run commands `podman ps --format json` and `podman images --format json` I see some inconsistency between those two outputs.
1. Names of entries of containers start with upper case letters (eg. Image, Command,..) and special words are all in capitals (eg, ID, PID,..). In the ca

[2020-01-28 14:45] #4959 closed

[2020-01-28 15:10] seem8 commented on #4198
Hi.
I have very similar problem today. I stopped container with podman stop and tried to re-enter with toolbox:

 toolbox -v enter --container mongodb
toolbox: running as real user ID 1000
toolbox: resolved absolute path for /usr/bin/toolbox to /usr/bin/toolbox
toolbox: checking if /etc/subgid and /etc/subuid have entries for user lukasz
toolbox: TOOLBOX_PATH is /usr/bin/toolbox
toolbox: running o

[2020-01-28 15:22] nimbius opened #5002 "podman generate systemd service files fail for rootless pods"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. create nginx pod named 'nginx', port maps 80 and 443 to rootless ports

2. run nginx in pod

3. podman generate systemd --name nginx --files

4.  copy these to /etc/systemd/system && daemon reload

5.  systemctl start services, auth as user, errors will r

[2020-01-28 15:58] rhatdan commented on #4954
I am going to close this issue, as I believe from the discussion this is not a bug.  Reopen if you disagree.

[2020-01-28 15:58] #4954 closed

[2020-01-28 16:45] cevich opened #5004 "Podman-remote mangles SIGINT"
/kind bug

**Description**

Discovered in master, sometime prior to commit a8bd3473e0bb648be88b6d9b84f18fc097de70ee under F31, the system-tests fail in `130-kill.bats`.

**Steps to reproduce the issue:**

1. From a clone of the repo. run 'make remotesystem'  (observe test failure)

2. Copy attached script into **root of source tree**, rename and execute it.
[repro.sh.txt](https://github.com/contai

[2020-01-28 17:01] cevich commented on #5004
@vrothberg PTAL

[2020-01-28 17:55] mtrmac commented on #4580
PRs to what? This Podman repository? Packaging somewhere?

The link above says that the gpgme-devel package is available, although in a repo that may have to be explicitly enabled. Is that incorrect?

[2020-01-28 17:59] rhatdan commented on #4431
Does this mean this issue has nothing to do with podman?

[2020-01-28 18:06] yoctozepto commented on #4431
Unless it shares the same buggy code with docker, could also be dnf.

[2020-01-28 18:38] rhatdan commented on #5002
Could you try this with the `--new` flag.
podman generate systemd
currently defaults to only starting/stopping the originally created container.  --new creates and destroys the container on each service start.

@vrothberg Perhaps we should change default on --new to true.

[2020-01-28 19:07] rhatdan commented on #4325
My understanding is podman did not work well on WSL1 because of the way the kernel was configured.  Is there a chance you can try with WSL2?

[2020-01-28 19:11] rhatdan commented on #4963
I am saying, I believe in Python3 latest release in Fedora 31, shutil.move has been changed to ignore these errors.
The problem is, there are SELinux Extended attributes on these files and shutil.move is attempting to create them on a fuse-overlay file system.  SELinux is blocking them from being created.  There is nothing Podman or SELinux or fuse-overlay can do to fix this.

[2020-01-28 19:14] rhatdan commented on #4764
This was merged into podman on Jan 23rd.  We are looking to cut a new release within the next week or two.

[2020-01-28 19:14] #4764 closed

[2020-01-28 19:16] rhatdan commented on #4990
The installed base of "docker" api callers are going to call
<endpoint_base_url>/images/json, this is not something we can chage.
<endpoint_base_url>/libpod/images/json
is not under
<endpoint_base_url>/images/json

[2020-01-28 19:26] rhatdan commented on #4903
We are going to be supporting varlink for quite a while longer, so I think we should put it in.

[2020-01-28 19:39] #4849 closed

[2020-01-28 19:43] rhatdan commented on #4998
podman uses user namespaces, if you pass a CAP into podman running rootless, you give it the Capability over the user namespace,  This only effects the container and has no effect on the host OS.  If you attempt to do an activity that requires a real Capability, then this will NOT work.  Rootless users still have no way to get Real Capabilities.

[2020-01-28 20:13] rasup commented on #4963
I don't think it has. I'm on Fedora 31 using `python3-3.7.6-1.fc31.x86_64` which I believe is the latest version.

I found [this old issue](https://bugs.python.org/issue1438480) which is still open but seems like it would have fixed my issue too.

Thanks!

[2020-01-28 20:35] #4880 closed

[2020-01-28 21:10] baude opened #5006 "Podman F31 CI: rootless login/logout tests fail"
Several tests in test/e2e/login ... fail due to various issues including trying to copy files as a regular user into the cert dir.  In this case, a separate rootdir in the test's tmp dir should be used along with --cert-dir option to the command.

The offending tests are going to be disabled for rootless so that CI on F31 can continue.

The tests that fail are:

[code]

[2020-01-28 21:24] cevich commented on #5006
Note this section of code is not correct for rootless testing: https://github.com/containers/libpod/blob/master/test/e2e/login_logout_test.go#L43-L52

1. Assuming the files are labeled correctly, I don't see why reading them should cause any selinux related problems.  Might just be a matter of `chcon` on the files to force correct labels (if os != ubuntu).
2. If `setenforce` is required, it should

[2020-01-28 21:27] cevich commented on #5006
more notes:  WRT: https://github.com/containers/libpod/blob/master/test/e2e/login_logout_test.go#L69 and related operations failing in rootless.

1. If podman automatically checks '$HOME/.config/containers/certs.d/' then using that when `isRootless()` instead of hard-coding the `/etc/...` one, could be easy fix.

2. Maybe we need a top-level config. option for directory where to find certs?  That

[2020-01-28 21:36] mathieu-benoit commented on #4325
Thanks @rhatdan, I just converted my WSL1 into WSL2 and indeed this command below works on WSL2:
`podman --cgroup-manager=cgroupfs --events-backend=file run --net=host -it fedora bash`. Thanks!

[2020-01-28 21:37] rhatdan commented on #4963
I see this in /usr/lib64/python3.7/shutil.py
[code]

[2020-01-28 21:41] rhatdan commented on #4963
Looks like the move calls move calls copystat which calls copyxattrs.

[2020-01-28 21:53] baude commented on #5004
I have moved this to crun -> https://github.com/containers/crun/issues/230

closing for now

[2020-01-28 21:53] #5004 closed

[2020-01-28 21:54] nimbius commented on #5002
--new doesnt appear to be a flag.
podman generate systemd --help
Generate a systemd unit file for a Podman container

Description:
  Command generates a systemd unit file for a Podman container

Usage:
  podman generate systemd [flags] CONTAINER | POD

Examples:
  podman generate systemd ctrID

Flags:
  -f, --files                   generate files instead of printing to stdout
  -n, --name

[2020-01-28 22:00] baude commented on #5000
i cannot replicate this with upstream master.
[code]

@rpjday can you confirm what you are doing here? this is rootless and the container is running ?

[2020-01-28 22:01] baude commented on #4880
@Komic both pieces were added to play kube!

[2020-01-28 22:04] baude commented on #1671
@mheon any chance your recent work happened to fix this?

[2020-01-28 22:24] baude commented on #2909
I believe #5008 will simplify learning that you have a bad cni conf file.  For example, i purposely made a bad conf file named `foo`:

[code]

[2020-01-28 22:26] baude commented on #3323
is this issue resolved?

[2020-01-28 22:47] drpaneas commented on #4373
Just for the reference, KinD does *not* work with podman. There are many small things need to be addressed in KinD project to make it work properly.

[2020-01-28 23:24] mheon commented on #5002
That's because it's not present in 1.7.0 (or, for that matter, any released version) - it's too new for that.

[2020-01-28 23:24] mheon commented on #5002
(It will probably solve your issue once it works its way into a release - I want to cut a fresh release by end of this week)

[2020-01-28 23:26] digitalcircuit commented on #4559
I've updated [the original issue comment](https://github.com/containers/libpod/issues/4559 )'s test script `podman-rootless-port-test-seafilebox.sh` to use the new [Podman `install.md#ubuntu` instructions](https://github.com/containers/libpod/blob/master/install.md#ubuntu ).

With [the new rootless networking backend](https://github.com/containers/libpod/pull/4592 ), **this works 10 out of 10 time

[2020-01-28 23:48] rhatdan commented on #4234
Yup, needs containers.conf...

[2020-01-28 23:55] #2909 closed

[2020-01-29 00:02] mheon commented on #5000
I think we fixed the error on upstream. I do think the error message could use a touchup to reflect that it doesn't matter if we're copying in or out.

[2020-01-29 00:07] mheon commented on #1671
Nope.

[2020-01-29 00:22] Jousboxx commented on #3323
Solved for me, OP hasn't responded

[2020-01-29 02:11] nimbius commented on #5002
Works for me.  I'll reopen if the issue persists.

Thanks!

[2020-01-29 05:06] grzegorzk commented on #4998
Thanks for explanation, I thought capabilities passed through `Capabilities` within service file would be "available" from inside of the container. Is this a feature podman would support in the future?

[2020-01-29 07:18] vrothberg commented on #5002
I don't think the issue should be closed. It seems that the generated service files for the pod do not work which is unrelated to the --new flag.

[2020-01-29 07:21] #3323 closed

[2020-01-29 08:07] peculater opened #5009 "Upgrading from 1.6 to 1.7 deletes named persistent volumes on `podman run --rm`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Named volumes automatically created by version 1.6 of podman are retained through multiple invocations of `podman run --rm`.  For example, postgres databases that specified a named volume the first time that they ran will work through multiple invocations of the container.  Named volumes that

[2020-01-29 08:17] rasup commented on #4963
Yes. `errno.EACCES` is missing from the tuple of allowed errors raised by `os.setxattr()`.

[2020-01-29 10:03] rpjday commented on #5000
On Tue, 28 Jan 2020, Matthew Heon wrote:

  couple thoughts ... first, is it the copying error that has been
fixed upstream? given that copying a file from a container to the host
seems like such a basic operation, i'm puzzled as to how there can
have been an issue with it all this time. surely i can't have been the
only one who has tried something like this and had it fail.

  and second, i would

[2020-01-29 10:36] rhatdan commented on #4998
I don't know if this is possible.  @giuseppe Any ideas?

[2020-01-29 11:00] rhatdan commented on #4963
Yes not sure why they would handle EPERM and EACCESS differently.

[2020-01-29 11:06] rpjday commented on #5000
On Tue, 28 Jan 2020, Brent Baude wrote:

  not sure if you still wanted the recipe i'm using to generate this
but:

  - fully updated fedora 31
  $ podman version
    Version:            1.7.0
    RemoteAPI Version:  1
    Go Version:         go1.13.5
    OS/Arch:            linux/amd64

start ubuntu container with:

  $ podman run -it ubuntu sh

if i try a simple "podman cp" *out* of the running

[2020-01-29 11:09] delight opened #5010 "errors when using podman pull with [storage] driver = "overlay""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman pull` runs into errors when using overlay as storage driver.

**Steps to reproduce the issue:**

1.
Adjust $HOME/.config/containers/storage.conf from driver = "vfs" to

[storage]
  driver = "overlay"

2.
podman pull docker.io/gogs/gogs

3.

**Describe the results you received:**
Trying

[2020-01-29 11:28] delight commented on #5010
Ok I found this entry about fuse-overlayfs in https://github.com/containers/libpod/blob/master/troubleshooting.md

So it seems that it is a permission (root-less) problem. Unfortunately there is no fuse-overlayfs for Xbuntu < 19.04 :-/

[2020-01-29 11:34] giuseppe commented on #5004
I've changed crun to force the default for the signal handlers and behave like runc.

But I think it is safer anyway to do: `./bin/podman-remote run -d --name=foobar fedora-minimal env --default-signal sh -c "for i in ${signals[*]}; do trap \"echo got: \$i\" \$i; done; echo READY; while ! test -e /stop; do sleep 0.05; done;echo DONE"`

Note the extra `env --default-signal`

[2020-01-29 11:46] rhatdan commented on #5010
Not really an upstream problem, and not sure if someone is going to package fuse-overlayfs for older versions.

[2020-01-29 12:06] giuseppe commented on #4998
it will work if you create a new network namespace, but you are passing `--network "host"` and an unprivileged user cannot modify the host network namespace

[2020-01-29 12:07] delight commented on #5010
@rhatdan Everything I found googling was related to rootless **build** on top of overlayfs but not on related to run or pull

The informations seem a little ambiguous to me right now ... should podman pull and podman run work on overlayfs without fuse ?

[2020-01-29 12:13] rhatdan commented on #4998
But he is attempting to leak capabilties into the container.  He granted the process in the unit file CAP_NET_ADMIN which should allow processes in the service to modify the network stack.
My guess is once you create  User Namespace then all Linux capabilities no longer exists.

[2020-01-29 12:16] rhatdan commented on #5010
No, the issue is the a rootless user is NOT allowed to mount an overlayfs (Yet).  When you are pulling an image or doing a podman run, the storage layer needs to be mounted.  Since you are running rootless all `mount -t overlay` is blocked.  This is why we use fuse-overlay, since `mount -t fuse` is allowed in a usernamespace for non privileged users.

[2020-01-29 12:19] giuseppe commented on #4998
that is not enough.  The user namespace where the user has all the capabilities doesn't own the host host network namespace.

If a network namespace is created, then it is owned by the user namespace where the user has all the capabilities (unless dropped).

The owner of the host network namespace is the initial user namespace, so that is root without running in a new user namespace.  So it would

[2020-01-29 12:23] delight commented on #5010
Got it. So we should probably close this issue! Sorry for opening it in the first place.

@rhatdan Would the storage drivers for btrfs have similar "problems" in rootless?

[2020-01-29 12:36] giuseppe commented on #4921
They are not installed correctly, they lack both the file capabilities and the setuid bit.

How have you installed `/usr/bin/newuidmap` and `/usr/bin/newgidmap`?

You'd need to make sure they either have the cap_setuid/cap_setgid file capability or they are installed as setuid binaries.

[2020-01-29 12:37] grzegorzk commented on #4998
Indeed when I remove `--network "host"` I'm getting through `tun0` creation and assigning IP address as well as bringing the interface up. I cannot see the external interface from within the container though. I'll search through documentation, I guess I need to set NAT rule to route traffic to that interface.

[2020-01-29 12:49] vrothberg commented on #4916
Looking into it now. There's clearly a bug.

[2020-01-29 13:00] AquaL1te commented on #4921
Strange. I reinstalled the shadow-utils package and indeed, now the capabilities are correct. Podman also works fine now. Thanks for your help!

[code]

[code]

[2020-01-29 13:00] #4921 closed

[2020-01-29 13:00] giuseppe commented on #4998
that won't be possible though.  A rootless user cannot modify the host network devices.

You'd need to set it up separately as root user

[2020-01-29 13:09] grzegorzk commented on #4998
That was my understanding. Many thanks for direction.

Ps. I love what you guys are doing and thought for a moment there would be something I could help with.

[2020-01-29 13:09] #4998 closed

[2020-01-29 13:17] vrothberg opened #5012 "podman build prints image ID twice"
In current master, podman-build prints the image ID twice.

[code]

[2020-01-29 13:49] #4814 closed

[2020-01-29 13:57] vrothberg commented on #4916
I opened https://github.com/containers/libpod/pull/5013 to fix it. Thanks for opening the issue, @lfarkas !

[2020-01-29 14:06] mheon commented on #5009
I'll take this one

On Wed, Jan 29, 2020, 03:07 William Lieurance <notifications@github.com>
wrote:

[2020-01-29 15:16] cevich commented on #4244
Not that I've seen, though I also haven't been looking.  I say we close this for now and I can re-open if it shows up again.

[2020-01-29 15:16] #4244 closed

[2020-01-29 15:18] baude commented on #4530
We discussed this today and how to apply it to Podman.  We believe that while this RFE has merit, any implemented would undercut that same merit with performance hits.  Using Docker as an example of implementing this shines light on at least one (maybe more) use issues:

In Docker, suppose you add a container named `foo`. You now have a container named `foo` and a dns entry for `foo`.  If you add

[2020-01-29 15:23] #4916 closed

[2020-01-29 15:47] HarryMichal opened #5014 "Can't stop toolbox containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've been using Fedora Rawhide before version 1.7.0 was released and I've been able to stop my toolbox containers with `podman stop [container]`. But a few days ago (27/01) I rebased (Fedora Silverblue) back to release 31. Since then I've not been able to stop my toolbox containers with `podm

[2020-01-29 16:05] cevich commented on #5004
Good idea, thx.

[2020-01-29 16:11] Komic commented on #4880
Good stuff, thank you all!

[2020-01-29 16:56] rhatdan commented on #5012
Probably the vendored code from buildah is printing it, and then the podman is printing it.

[2020-01-29 18:46] decosvaldo opened #5016 "Map mounted local volume to the same and correct local user id (rootless mode)"
I'm sorry if this was already discussed, but I've tried everything from the other topics with no success...

I'm using podman in CentOS 8.1 with SELINUX enabled (enforcing) The native podman version in this system is podman version 1.4.2-stable2

I'm mounting a local volume with podman in rootless mode, using a user called web. The command I'm using is:

`podman run -v /opt/web/jurberglab/src:/var

[2020-01-29 18:53] mheon commented on #5009
This appears to be a side-effect of our migration to anonymous volumes.

Previously, we did not properly support anonymous volumes, but attempted to mimic this support through general named volumes. Docker removes anonymous volumes when containers are autoremoved via `--rm` but not volumes that are given names. We conflated anonymous and named volumes, removing both with `podman rm --volumes` and

[2020-01-29 19:17] mheon commented on #5009
Fix in #5018

[2020-01-29 20:15] rhatdan commented on #5016
Why are you using the nobody user?  If you use a normal user then you could just create the directory owned by the users UID on the host.

[2020-01-29 20:33] rhatdan commented on #5010
I believe btrfs works in rootless mode, but I never tried it.

[2020-01-29 22:01] #5009 closed

[2020-01-29 22:27] baude commented on #4485
@mheon is this something you fix quickly?

[2020-01-29 22:30] rhatdan commented on #4107
Lets make this apply to APIV2, Varlink is in depracated mode.

[2020-01-29 22:33] rhatdan commented on #4485
I would just close this.  I don't see a big issue in going back and fixing this. Not a high priority. We are onto 1.7.0 at this point.

[2020-01-29 22:33] #4485 closed

[2020-01-29 22:41] rhatdan commented on #4107
@jwhonce Says we have this now in APIV2.

[2020-01-29 22:41] #4107 closed

[2020-01-29 23:24] TomSweeneyRedHat commented on #5012
Yeah something flakey in Buildah, it's printing it twice.

[2020-01-29 23:37] space88man opened #5021 "[Question] Is systemd-localed.service supposed to work inside a podman container?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Question: is systemd-localed meant to work inside a container or is this a natural restriction?

I am getting
[code]

**Steps to reproduce the issue:**

1.
[code]

2.

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information yo

[2020-01-29 23:47] space88man commented on #5021
Yikes - just observed that the default systemd-localed  unit file uses so it's not going to work inside podman. Sorry for the noise.

[code]

[2020-01-30 06:28] Noah-Huppert commented on #4648
@rhatdan I believe I am using `runc` as my OCI runtime:

[code]

[2020-01-30 07:52] johanbrandhorst commented on #4107
Sorry, I missed the varlink deprecation, what is the future plan for the podman API and what is the deprecation schedule? I have written libraries that consume the varlink API so it'll let me plan ahead.

[2020-01-30 08:49] pkubatrh commented on #4326
Can confirm the fix working as well. Hope this gets into Fedora and RHEL soon.

[2020-01-30 09:32] lfarkas commented on #4326
we're waiting to it also...at least someone can make a scratch-build for fedora and rhel-7 then we'd be happy to test them:-)

[2020-01-30 10:30] fatherlinux commented on #4549
So, I have to chime in on this ticket. We are enumerating tons of edge case scenarios. I don't disagree with any of these in "theory" but NONE of them have been proven in public.

The fact that people were downloading the typo-squated land grabs does NOT prove that real people are getting the wrong image. This could be nothing more than scanners downloading and analyzing images. TONS of image scan

[2020-01-30 10:39] mrguitar commented on #4549
This needs more review. I agree w/ the sentiment of the issue, but calling those two bugs "hardening" is, at best, a stretch.

[2020-01-30 10:40] fatherlinux commented on #4549
I should add though, in theory, I don't disagree with this problem and have ranted about short names for years. There are no solid rules for how they resolve like DNS. I have a lab that even demonstrates this problem [1].

That said, this breaks the sentiment of ABI/API compatibility in RHEL, as well as our policy for 6 years. I think targeting RHEL 9 for this change might be reasonable, but not R

[2020-01-30 10:48] Dmitriy-Chilikin opened #5023 "Error: could not get runtime: could not find a working conmon binary (configured options: [/usr/bin/conmon]): invalid argument"
I installed Podman and started running integration tests. Got this error :
Error: could not get runtime: could not find a working conmon binary (configured options: [/usr/bin/conmon]): invalid argument
Failure [0.042 seconds]
[BeforeSuite] BeforeSuite
/go/src/github.com/containers/libpod/test/e2e/common_test.go:98

  Expected
      <int>: 125
  to equal
      <int>: 0
What do I need to do to fix i

[2020-01-30 11:05] vrothberg commented on #5023
Please provide the requested information in the issue template. The most important data is the output of `podman info --debug`.

[2020-01-30 11:06] delight commented on #5010
@rhatdan btrfs driver seems not to be supported at all in podman 1.7.0~5 - neither for root nor for rootless

I gave it a spin on a system with btrfs

`podman --storage-driver btrfs info`

[code]

Same thing happens if

[code]

is changed to

[code]

Should I create a issue/ticket for this?

Btw. Docker detects btrfs automagically, uses that btrfs storage driver and works as expected.

[2020-01-30 11:14] Dmitriy-Chilikin commented on #5023
Error: could not get runtime: could not find a working conmon binary (configured options: [/usr/libexec/podman/conmon /usr/local/libexec/podman/conmon /usr/local/lib/podman/conmon /usr/bin/conmon /usr/sbin/conmon /usr/local/bin/conmon /usr/local/sbin/conmon /run/current-system/sw/bin/conmon]): invalid argument

[2020-01-30 11:17] vrothberg commented on #5023
Which distribution and which version of Podman?

[2020-01-30 11:32] decosvaldo commented on #5016
Your suggestion is that I use a user inside the container with the same ID as the outside user? But won't that be translated to one of the namespace ID range the same way?

[2020-01-30 12:04] Dmitriy-Chilikin commented on #5023
podman version 1.7.1-dev
I deleted and reinstalled Podman. The problem is gone.

[2020-01-30 12:09] #5023 closed

[2020-01-30 12:17] vrothberg commented on #4787
I prefer @afbjorklund and @cevich to continue working on the issue. They seem to have an idea how to move forward on this.

[2020-01-30 12:19] #5021 closed

[2020-01-30 12:30] vrothberg commented on #3821
I can pick this one with https://github.com/containers/libpod/issues/5014. I believe to have a fix.

[2020-01-30 13:01] TomSweeneyRedHat opened #5026 "Podman push error: file integrity checksum failed"
Moved from https://github.com/containers/buildah/issues/2116

**Description**

Podman fails when pushing some containers images to registry in rootless mode. It works well when executing the same build/push process with root user.

**Steps to reproduce the issue:**

This is just an example of an erratic container building process

1. $ git clone https://github.com/cloud-bulldozer/ripsaw.git --dept

[2020-01-30 13:02] TomSweeneyRedHat commented on #5026
Tagging @rsevilla87  and @bengland2 , we'll track this issue going forward from here.

[2020-01-30 13:15] dbaker-rh commented on #4549
Scott:

This issue was created due to real people getting the wrong image.

[2020-01-30 13:15] decosvaldo commented on #5016
Answering my own question. Yes, if I use any other user than nobody the effect is the same. Files are mapped to one of the ID's inside the range, even if the inside and outside user have the same ID.

[2020-01-30 13:46] loibpet opened #5027 "podman commit with different mandatory parameter than docker commit"
/kind bug

**Description**

Ran into this problem, when I was checking if scripts developed for docker were running with podman.

podman supposed to be compatible to docker in terms of parameters. However, there are still breaking differences:

[code]

whereas:

[code]

The issue the second mandatory parameter (`IMAGE`) for the `podman` command.  This breaks any compatibility.

**Describe the resu

[2020-01-30 14:24] rsevilla87 commented on #5026
Adding podman and container-selinux versions.

[code]

[2020-01-30 14:29] baude commented on #4107
We are in the process of completing, documenting, and writing tests for the new api now.  We are still working on some of the major bits like attach.  But we are getting close.  As for a timeline, I honestly cannot be certain.  One indicator to nearly done will be when you see us wiring the remote client from varlink to the restful interface.

[2020-01-30 14:31] mheon commented on #5027
@baude I remember we added this one waaaay back to solve a problem we were having... I want to say when we moved to using `buildah commit`?

@TomSweeneyRedHat Can buildah commit without a tag? We're using your code, so if you can, we ought to be able to

[2020-01-30 14:33] mheon commented on #5016
I'm assuming that your UID on the host is 1000. As such, your `uid_map` indicates that root within the container will write files as your user on the host - did you try root?

[2020-01-30 14:35] baude commented on #4257
I have published a blog on this -> https://www.redhat.com/sysadmin/podman-windows-wsl2 I now consider this closed.

[2020-01-30 14:40] #4829 closed

[2020-01-30 15:03] vrothberg commented on #5014
@HarryMichal, thanks for opening the issue. I can't reproduce the issue on a fresh Siverblue 31. Do you hit it every time?

[2020-01-30 15:07] baude commented on #4277
the rpm spec for podman has the dep now.  so this should no longer happen.  closing as such.

[2020-01-30 15:07] #4277 closed

[2020-01-30 15:09] baude commented on #5027
@mheon the cli should be able to do this.  lemme check.

[2020-01-30 15:11] TomSweeneyRedHat commented on #5027
Buildah's commit doesn't require an image or tag, both are optional.
[code]

[2020-01-30 15:12] vrothberg commented on #713
Friendly ping. Any updates on this?

[2020-01-30 15:23] vrothberg commented on #3454
Thanks for sticking with us, @marusak! I can reproduce with your last comment and will have a look.

[2020-01-30 15:43] vrothberg commented on #3454
What I see in the logs (reverse order):
[code]

[2020-01-30 15:46] HarryMichal commented on #5014
On my personal laptop: 'yes'. In a VM with fresh Fedora Workstation 31: 'no'. I may try to reset podman with `podman system reset` and see if it solves anything.

[2020-01-30 16:09] bgeesaman commented on #4549
Can we prove that zero real users were affected?  They were only squatted for ~90minutes.  When the download stats started going up much quicker than others for certain images, I took them down.

From my perspective, the attack has been proven to be cost-effective, practical, and stealthy, and we’re fortunate that it’s not being actively exploited—mostly due to it not being widely known.

Should w

[2020-01-30 16:26] TomSweeneyRedHat opened #5029 "podman commit gives bad error when container is not running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  podman pull alpine

2.  podman run alpine /bin/sh

3. podman commit {ctrId}

**Describe the results you received:**
[code]
If I use the same command on a container that's running, it works.

**Describe the results you expected:**
Preferably the commit to

[2020-01-30 17:04] decosvaldo commented on #5016
Just tried. Root is an exception and inside/outside files are now owned by user 0 (root), which is undesirable. If I use any other local user inside the container, it will be mapped to one ID of the namespace for the user that is running the container, and I will have wrong permissions...

Any thoughts? Really need to make this work...

[2020-01-30 17:36] mheon commented on #5016
`--userns=keep-id` will automatically map your UID outside the container to the same UID inside the container, so files created as UID 1000 in the container would also be 1000 outside it

[2020-01-30 17:38] mheon commented on #5016
Also, I would *not* expect files outside the container to be owned by UID 0, if they were made with root inside the container. Root inside a rootless container is not special - it's mapped to a user outside the container, by default your user, and it has no special privileges that you do not have. There are some security benefits to running as non-root in a rootless container, but they mostly have

[2020-01-30 18:21] decosvaldo commented on #5016
This completely solved my problem. Now I just have to create an inside user with the same ID from the outside rootless user.

Thank you very much!

[2020-01-30 18:21] mtrmac commented on #4549
Discussing whether users have been affected _in the past_ is not productive; that’s a discussion that makes sense after an incident, when trying to assign blame/liability, in some contractual relationship I suppose.

As engineers on an Open Source project, it’s our responsibility to design software so that, _going forward_, users are not going to be put at risk. It’s been amply demonstrated that s

[2020-01-30 19:30] baude commented on #5029
@TomSweeneyRedHat i cannot reproduce this.

[2020-01-30 19:42] baude commented on #5026
I can duplicate this but i don't understand why it is failing.

[2020-01-30 19:44] cevich commented on #4787
I originally wanted to do this except found some even less documented complications:

* It's desirable to do throwaway builds on PRs, to validate the build+release process actually works.
* I found `$CIRRUS_TAG` is only set when executing against a commit that is tagged. Meaning it will almost never be set for a PR.
* Worse, a tagged commit may show up in the middle of a PR's set of commits.
* Mor

[2020-01-30 19:45] baude commented on #5026
fwiw, pushing with buildah also works.

[2020-01-30 19:49] baude commented on #5016
closing as reporter claims the problem is solved

[2020-01-30 19:49] #5016 closed

[2020-01-30 19:55] bengland2 commented on #5026
I reproduced the problem and the workaround. .   I would have naively guessed that the push function would be common code used by both podman and buildah?

[2020-01-30 20:08] afbjorklund commented on #4787
I would rather **not** have a situation like fedora, where release ends up being broken for half a year due to overly complex versioning scheme... (looking at you, `cri-o-1.15.2-1.module_f30+6830+9be88745`)

Everything works fine when building from the git repository directly, so the main breakage was when trying to use "traditional" packaging systems - normally based on numberic versions and dist

[2020-01-30 20:15] afbjorklund commented on #4787
And I don't think that build time even _can_ be fixed, as per https://reproducible-builds.org/

But if anything, one would probably have to add [SOURCE_DATE_EPOCH](https://reproducible-builds.org/docs/source-date-epoch/) to metadata ?

[2020-01-30 20:44] rhatdan commented on #5026
@giuseppe @mtrmac @vrothberg PTAL

[2020-01-30 20:53] mtrmac commented on #5026
That error means that the local storage (either tar-split metadata, or probably more likely the local overlay layer storage) is corrupt.

OTOH the reported versions of Buildah/Podman differ in c/storage only minimally (1.15.3 vs 1.15.4), and the changes seem unlikely to be relevant (to the very little extent I understand c/storage).

[2020-01-30 20:54] rhatdan commented on #5026
Could this be something in fuse-overlay?

[2020-01-30 21:17] cevich commented on #4787
That's why in the Makefile, I went to 'git describe' and for making tgz/zip files, that detail is encoded into release.txt  The problems related to `$CIRRUS_TAG` is related but more about automation knowing when to push artifacts (as opposed to always pushing them on every merge).

[2020-01-30 21:19] cevich commented on #4787
FWIW: If you want to extend/add to metadata in `release.txt` the only user of it (AFAIK) is `contrib/cirrus/upload_release_archive.sh`.

[2020-01-30 22:19] TomSweeneyRedHat commented on #5026
FWIW,
Podman uses the Buildah build code, some of the commit code, and a few packages.  I'm not aware of the Podman pull or push code using anything significant from Buildah's code.

[2020-01-30 22:41] TomSweeneyRedHat commented on #5029
Sorry about the firedrill baude, I must have had something messed up in my sandbox that created the issue.  I just refreshed it to master, rebuilt and I too can't duplicate.  Closing and apologizing.

[2020-01-30 22:41] #5029 closed

[2020-01-30 22:48] mheon commented on #4595
The given entrypoint doesn't work on my Docker; what version are you using?

[2020-01-31 01:10] #5027 closed

[2020-01-31 02:25] rhatdan commented on #4648
Well then you could try crun,  but I doubt that will fix the issue.

[2020-01-31 02:27] #4257 closed

[2020-01-31 06:39] johanbrandhorst commented on #4107
Is there a definition of the new API? Something to generate clients against (OpenAPI/Protobuf)?

[2020-01-31 08:23] vrothberg commented on #4107
Here's a recent blog post on the new API: https://podman.io/blogs/2020/01/17/podman-new-api.html

We're always happy about contributions :)

[2020-01-31 08:35] johanbrandhorst commented on #4107
Thank you! I will take a look.

[2020-01-31 09:22] vrothberg commented on #3454
Some further observations:
* It only happens when at least two containers are _running_
* It does _not_ happen when one containers is created while another is running
* It only happens when the varlink endpoint is running for a longer time
  * Stopping and starting the varlink endpoint solves the problem
  * Serving only a single request and shutting down behaves correctly as well

@mheon, I recal

[2020-01-31 09:25] vrothberg commented on #5014
@HarryMichal, did a reset solve the issue for you?

[2020-01-31 09:31] vrothberg commented on #4905
@lfarkas could you share your Dockerfile as a reproducer? This would simplify checking if your issue has been solved.

[2020-01-31 09:32] vrothberg commented on #3778
#4415 has been merged, so I am closing the issue.

[2020-01-31 09:32] #3778 closed

[2020-01-31 09:46] vrothberg commented on #3761
@mtrmac do you have cycles to tackle this issue?

[2020-01-31 09:48] vrothberg commented on #3679
Friendly ping. Any updates on this issue?

[2020-01-31 09:51] vrothberg commented on #3655
I am going to close the issue. https://github.com/coreos/go-iptables/pull/66 doesn't have any consensus and I understand the reasoning that iptables should be in $PATH.

[2020-01-31 09:51] #3655 closed

[2020-01-31 09:53] vrothberg commented on #3550
Friendly ping.

[2020-01-31 09:56] vrothberg commented on #3264
@rhatdan, shall we reevaluate the priority of this request?

[2020-01-31 09:57] vrothberg commented on #2979
Friendly ping.

[2020-01-31 09:57] vrothberg commented on #2957
Friendly ping.

[2020-01-31 10:04] vrothberg commented on #2791
Any objections against closing this issue? I think we have a consensus about how to move forward since the meeting in November.

We are about to start consolidation the image-related code; initially we planned for a high-level API in c/image but changed plans to create a new `libpod/pkg/image` (or similar) to consolidate as much high-level code in libpod as possible.
Once the API v2 work is done,

[2020-01-31 10:06] vrothberg commented on #2669
I fear we have other tasks with higher priority on our tables at the moment. Let's move discussion over to https://github.com/containers/image/issues/610.

[2020-01-31 10:07] vrothberg commented on #4159
Friendly ping.

[2020-01-31 10:10] vrothberg commented on #3464
Closing in favor of https://github.com/containers/libpod/issues/4131 (they're essentially the same).

[2020-01-31 10:10] #3464 closed

[2020-01-31 10:14] vrothberg commented on #4046
This should be fixed in the meantime. The PPA has now been replaced with OBS (see https://github.com/containers/libpod/blob/master/install.md#ubuntu).

[2020-01-31 10:14] #4046 closed

[2020-01-31 10:17] vrothberg commented on #4114
Friendly ping.

[2020-01-31 10:17] vrothberg commented on #4834
Friendly ping.

[2020-01-31 10:19] vrothberg commented on #4019
Closing as the provided workaround does the trick.

[2020-01-31 10:19] #4019 closed

[2020-01-31 10:21] vrothberg commented on #4014
Closing. Please reopen in case it's not working in a privileged container.

The support for unprivileged containers will improve with https://github.com/containers/libpod/pull/4698.

[2020-01-31 10:21] #4014 closed

[2020-01-31 10:23] vrothberg commented on #3993
Closing this issue as we can combine it with https://github.com/containers/libpod/issues/2808#issuecomment-549759625.

[2020-01-31 10:24] vrothberg commented on #2808
Friendly ping. @giuseppe, do you have cycles to pick this?

[2020-01-31 10:26] vrothberg commented on #3982
@bmaupin, I am going to close it as we can't reproduce the issue :(

Please reopen if there's a reproducer.

[2020-01-31 10:26] #3982 closed

[2020-01-31 10:28] vrothberg commented on #3917
Closing in favor of https://github.com/containers/libpod/issues/4131. They're all tied together, so we can consolidate the issues a bit.

[2020-01-31 10:28] #3917 closed

[2020-01-31 10:31] vrothberg commented on #3977
Friendly ping. @mheon, do you have cycles to tackle this?

[2020-01-31 10:33] vrothberg commented on #4495
I am going to close this issue. To the best of my knowledge, there are no plans to support copy over varlink. This will likely change with the upcoming v2 API (rest based).

[2020-01-31 10:33] #4495 closed

[2020-01-31 10:38] vrothberg commented on #4431
I believe the problem is `gpg` which really wants a TTY. As shown above, it work when allocating a TTY for the container. If you want to run it without one, for instance, when building a container, you can set `GPG_TTY=/dev/null` in the environment. We had a similar issue lately in Buildah.

Since the issue is not related to Podman but ultimately a gpg issue, I am closing it.

[2020-01-31 10:38] #4431 closed

[2020-01-31 10:41] vrothberg commented on #4398
Still an issue.

[2020-01-31 10:42] vrothberg commented on #4364
@jwhonce, is this issue resolved with the latest updates to the docs?

[2020-01-31 10:45] vrothberg commented on #4349
I am going to close the issue due to the aforementioned solutions above.

Note that the PPA has been deprecated in favor of OBS. You can follow the updated install instructions here: https://github.com/containers/libpod/blob/master/install.md#ubuntu

[2020-01-31 10:45] #4349 closed

[2020-01-31 10:45] vrothberg commented on #4335
Friendly ping.

[2020-01-31 10:46] vrothberg commented on #4323
Friendly ping.

[2020-01-31 10:49] vrothberg commented on #4286
The PPA has been deprecated in favor of OBS, see the [new install instruction](https://github.com/containers/libpod/blob/master/install.md#ubuntu).

We don't support Ubuntu 16.04 but 18.04 and onward, so I am going to close it.

@lsm5 please re-open if I am mistaken.

[2020-01-31 10:49] #4286 closed

[2020-01-31 10:52] vrothberg commented on #4285
I just tested and Docker Hub is now displaying OCI images correctly, so I am closing the issue.

[2020-01-31 10:52] #4285 closed

[2020-01-31 10:56] vrothberg commented on #4251
@mtrmac, how shall we proceed?

I suggest we open an issue over at c/image to clean up the temp files in case of an error.

We could move this issue over to c/image to discuss if (and in which cases) a retry might be justified.

WDYT?

[2020-01-31 10:56] saschagrunert commented on #2791
Is this anywhere written down? If not then it's nearly impossible for me to contribute to this plan.The only thing I can see so far is in https://github.com/cri-o/cri-o/projects/1.

Feel free to close if there needs nothing to be done here.

[2020-01-31 10:59] vrothberg commented on #4729
I'll take a stab at it and close the issue. Improving this specific error seems like a symptomatic fix to me as we cannot really give any guarantee of a proper/correct behavior if the disk is full. There are so many other commands that would fail in many different ways.

[2020-01-31 10:59] #4729 closed

[2020-01-31 11:01] vrothberg commented on #4725
Maybe you should try a version of Docker from after the war :^)

@michaeladler, which version of Docker are you running?

[2020-01-31 11:06] vrothberg commented on #2791
The project seems to cover all relevant items. @mtrmac, once you start with the image work, would you move the card in https://github.com/cri-o/cri-o/projects/1 to "in progress"?

:+1:

[2020-01-31 11:06] #2791 closed

[2020-01-31 11:08] vrothberg commented on #4662
@mheon, do you know when a more recent Podman hits CentOS 7? I believe the CP bug has been fixed in more recent versions.

[2020-01-31 11:40] saschagrunert commented on #2791
Do we want to refine the tasks written down in https://github.com/cri-o/cri-o/projects/1 to be able to split them across multiple people?

[2020-01-31 12:24] lfarkas commented on #4905
the dockerfile itself is very simple or actually large but everything run fast but the relevant part is only one line:
`COPY . .`
which try to copy the generated laravel/php code into the image and during the copy it's full of errors like this:
[code]
and it takes very long time. since there are 26180.
if i leave it there it can finish...once:-)
real	28m9.044s
user	18m19.830s
sys	16m43.759s
and al

[2020-01-31 12:37] edsantiago opened #5034 "podman run --rm : Error forwarding signal 23 to container, plus stacktrace"
On rawhide:
[code]
podman-1.7.1-0.66.dev.git36af283.fc32.x86_64
conmon-2.0.11-0.3.dev.gitccfdbb6.fc32.x86_64
5.5.0-0.rc6.git3.1.fc32.x86_64

[2020-01-31 12:47] junaruga commented on #3679
I keep in mind and remember the task. But I am sorry. No progress so far.

[2020-01-31 13:03] vrothberg commented on #2791
Do you have a specific task in mind?

[2020-01-31 13:13] vrothberg commented on #5034
Looking into it. Installing a rawhide VM atm.

[2020-01-31 13:13] mtrmac commented on #2791
The way I’m currently thinking about things (without looking at much of the code), I’m planning to work on two somewhat independent aspects:
- Sharing the “search for unqualified images” code across projects (while perhaps still retaining project-specific heuristics)
- Sharing a “local images” wrapper on top of c/storage, with more high-level API. (I’m not at all clear on details about this one ye

[2020-01-31 13:19] vrothberg commented on #5034
Very curious to see a SIGURG flying around O.o

[2020-01-31 13:26] mtrmac commented on #4251
I think we do clean up the temporary files in case of an error. (We won’t remove correctly-created intermediate layers in c/storage if creating the rest of the image fails — but, well, that would actually help avoid redundant downloads in this case.)

As for discussing automatic retries in c/image — sure, that would be more accurate than Podman, I guess.  Still, I can’t (yet?) see that it makes se

[2020-01-31 13:28] saschagrunert commented on #2791
Everything where you need help. 🙈

I’m not sure if the document is up-to-date since it has not been touched after the November meeting.

[2020-01-31 13:30] thoraxe opened #5035 "COPY no longer honoring .. (folder above) in paths"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Building a Dockerfile where the COPY statement that references the path "../file" no longer works

**Steps to reproduce the issue:**

1. Create a Dockerfile with something like:
[code]

2. `podman build -t blahblah .`

**Describe the results you received:**
[code]

**Describe the results you e

[2020-01-31 13:39] vrothberg commented on #2791
For the moment, I prefer to wait until @mtrmac 's draft for the new image package.

A somehow related big chunk of work in the new v2 API where we could need helping hands. Once that's finished, we could start tackling separating Podman and libpod. Doing that in parallel could cause to much noise.

@baude is the chief of the new API. @baude, do you have an endpoint/task that @saschagrunert could t

[2020-01-31 13:39] giuseppe commented on #2808
I think we need to unify pod create with container create, so that we can expose all the options.  Unfortunately it is not a trivial amount of work :/

[2020-01-31 13:42] mtrmac commented on #3761
I guess that I won’t be able to resist tackling this during the libpod/pkg/[image] work :)

[2020-01-31 13:45] vrothberg commented on #3761
Awesome!

[2020-01-31 13:47] vrothberg commented on #5035
@TomSweeneyRedHat PTAL

[2020-01-31 13:49] vrothberg commented on #4251
I trust your guts and agree to close the issue. If someone comes up with a clean way forward, we'd be more than happy and welcome contributions!

[2020-01-31 13:49] #4251 closed

[2020-01-31 13:50] lsm5 commented on #4286
18.04 (x86_64 only) repo does exist on OBS (18.10 however has been EOL'd). 16.04 on OBS looks too expensive to maintain (main issue being an older golang) but in case we have any volunteers toward that, I can work with them.

[2020-01-31 14:40] vrothberg commented on #4961
Thanks for taking the time to open the issue, @tanwald !

Could you provide instructions to do that? A complete reproducer would be great.

@baude, any suspicion?

[2020-01-31 14:48] mheon commented on #4961
Is this just logs from `exec`? Can you reproduce this by `head`ing the log file in a `podman run` command?

[2020-01-31 14:51] mheon commented on #4961
Also - is the log file syncronized in any way? Are we potentially seeing the Conmons for `podman run` and `podman exec` trampling each other?

Including the log file from a container that does this (you can find the location from `LogPath` in `podman inspect` on the container) would help a lot for debugging.

[2020-01-31 14:51] vrothberg commented on #5002
I can't reproduce it. It works on my machine but I copy the service files to `$HOME/.config/systemd/user`.

[code]

... gives me the impression we're mixing root and rootless. The pod and the infra container _must_ be present unless they have been removed.

[2020-01-31 14:55] mheon commented on #2808
We have a partial unification in the works - I'm working up cards for it. Hopefully will have (at least network) related options exposed over the next few sprints.

[2020-01-31 14:56] mheon commented on #2808
Long-term we're moving away from an infra container, hopefully using the work @haircommander is doing for CRI-O for that purpose

[2020-01-31 14:58] mheon commented on #4662
I think 1.6.3 is landing in 7.8? Not sure of the timeframe there

[2020-01-31 14:59] vrothberg commented on #4972
@lsm5 is about to update the packages to add iptables as a dependency.

Thanks for opening the issue, @theoretical2019 !

[2020-01-31 14:59] vrothberg commented on #4662
@jnovy @lsm5, do you know ~ETA?

[2020-01-31 15:01] vrothberg commented on #4905
@TomSweeneyRedHat @rhatdan, do we need to do the vendor dance before or are we good to test with the lastet master?

[2020-01-31 15:03] mheon commented on #4961
It seems my concerns are unfounded - looks like `exec` is either not logged at all, or logged to a separate file. Would still appreciate the log file from a container in which this happened, though

[2020-01-31 15:04] mheon commented on #4905
I don't think we have an updated Buildah landed.

[2020-01-31 15:06] baude commented on #4961
reproducer would help.  i mean this is not really that the logs is producing empty lines, it is that the service is and we are following suit.

[2020-01-31 15:10] TomSweeneyRedHat commented on #4905
If the c/storage fix fixed the issue, we won't have that until Buildah 1.13.2+ lands.  That's a WIP atm.  So we are still doing the vendor dance here.

[2020-01-31 15:12] mheon commented on #3977
Will take a look today

[2020-01-31 15:24] vrothberg commented on #4904
I cannot reproduce on F31 in the very same setup (crun, cgroupsv2, podman 1.7).

@henrywang, are you still seeing the issue?

[2020-01-31 15:28] vrothberg commented on #4831
Friendly ping. @rhatdan, did you have the chance to look into this?

[2020-01-31 15:41] vrothberg commented on #4903
I am closing the issue. Podman 1.7 is now available, see https://github.com/containers/libpod/issues/4903#issuecomment-577233696

[2020-01-31 15:41] #4903 closed

[2020-01-31 16:02] mheon commented on #3454
We definitely have some leakage/use-after-delete issues with the image code. I'm not sure of anything directly impacting container *start* though.

[2020-01-31 16:42] delight commented on #5010
permission problems and missing fuse-libraries ain't the problem of libpod IMO

issue can be closed

[2020-01-31 16:42] #5010 closed

[2020-01-31 17:43] mbaldessari opened #5040 "podman images --filter is missing 'since' support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Docker allows you to filter images based on the since keyword:
[root@compute-0 ~]# docker images --filter since=5730ecdbe270
REPOSITORY                                               TAG                 IMAGE ID            CREATED             SIZE
192.168.24.1:8787/rhosp13/openstack-nova-comput

[2020-01-31 17:47] mheon commented on #5040
Sure, this should be doable

[2020-01-31 18:05] rhatdan commented on #3264
Yes I think this is something we should start work on.

[2020-01-31 18:06] rhatdan commented on #2979
I don't think we have come up with a good solution for this, so I am thinking it might be time to close this issue.

[2020-01-31 18:13] TomSweeneyRedHat commented on #5035
I've just verified.  Copying a file using a relative directory like that is a security risk and not allowed.  We did have a better error message there about this at one point, but it looks like it's been obscured.  I'll see if I can fix that up.

FWIW, here's a much better error message from Docker upstream using a similar setup of copying a file from the directory above the context directory:

[c

[2020-01-31 18:15] rhatdan commented on #4323
Closing, reopen if we find that Docker does this.

[2020-01-31 18:15] #4323 closed

[2020-01-31 18:54] tanwald commented on #4961
Hi, you could run
`podman run --rm --name logging -d quay.io/serenditree/branch-seed:latest `
and compare
`podman exec logging head -n 400 /opt/wildfly/standalone/log/server.log `
vs
`podman logs logging | head -n 400 `
You can inspect the logging configuration by running
`podman exec logging cat /opt/wildfly/standalone/configuration/standalone.xml | sed -n '/urn:jboss:domain:logging/,/<\/subsyste

[2020-01-31 19:04] tanwald commented on #4961
The mongodb/kafka exceptions are in this context intentional/predictable - real world example, I thought... Try to debug with podman logs.. ;)

[2020-01-31 19:22] rhatdan commented on #5040
@mbaldessari Any chance you could open a PR to add this?

[2020-01-31 19:49] mheon commented on #4961
Confirmed, I can reproduce

[2020-01-31 19:50] mheon commented on #4961
I think we're seeing control characters in the logs that might be causing this

[2020-01-31 19:52] mheon commented on #4961
Yeah, this is definitely terminal control characters in the output.

@haircommander I wonder if we actually want Conmon to log characters like this...

[2020-01-31 20:14] haircommander commented on #4961
what log driver? file or journald

[2020-01-31 20:18] mheon commented on #4961
File

[2020-01-31 20:53] jwhonce opened #5042 "conmon /pids.max: no such file or directory"
/kind bug

**Description**

Podman fails to remove a containerless pod when using an alternative root.

[code]

The error occurs using varlink API or podman executable.  setenforce 0, had no impact on the issue.

**Steps to reproduce the issue:**

This script reproduces the issue without using the varlink API.

[code]

**Describe the results you received:**
Programs fail with error above.

**Descr

[2020-01-31 21:32] delight opened #5043 "storage-driver btrfs not supported"
**BUG REPORT**

/kind bug

Podman is refusing to work with btrfs as storage-driver

**Steps to reproduce the issue:**

Easy way:
Specify desired storage driver as parameter
`podman --storage-driver btrfs info`

"Right" way:
1. adjust storage.conf

Change
[code]
to
[code]

2. Empty $HOME/.local/share/containers/storage/

Make sure $HOME/.local/share/containers/storage/
is emtpy or emtpy it

3. run

[2020-01-31 21:50] mheon commented on #3977
We don't actually make these directories - they're created by the OCI runtime when it goes to finalize the container's rootfs and make bind mounts.

@giuseppe Poke - do you think this is something crun/runc should do?

[2020-01-31 22:33] #4364 closed

[2020-01-31 23:02] astoycos opened #5045 "Error in Podman getting started page"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
BUG REPORT
/kind bug

/kind feature

**Description**

When following the "Getting Started" page on podman's documentation I run into a permissions error where the sample container I started with

[code]
Can only be seen when running as user, however then when I get to the portion regarding "Checkpointing the container" t

[2020-01-31 23:32] goneri opened #5046 "podman exec -i truncates the STDIN input"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

Hi,

I tried to get Ansible working with pipelining. Pipelining makes use of STDIN. The following command works fine with `1.8.0-dev`:

`echo 'print("a\n");'| podman exec -i 'ubi8' '/bin/sh' -c '/usr/bin/python3.6 && sleep 0' `

But I get a failure if I try to inject something bigger (an Ansiblz). I managed t

[2020-02-01 02:13] mikelpr commented on #2979
is there a manual way of moving an image to the root storage then? in the absence of support in the tooling

[2020-02-01 06:35] shaneing opened #5047 "I can't understand why to use a lot of pointer in iopodman.Create."
The `iopodman.Create` as follow:

[code]
IMHO, the struct is hard to use.

[2020-02-01 14:55] mheon commented on #5047
It makes a distinction between the empty string, "", and completely unset.
A nil means the setting should be left as default, a "" overrides it with
the empty string. The two have very different meanings in some places.

On Sat, Feb 1, 2020, 01:35 shaneing <notifications@github.com> wrote:

[2020-02-01 15:34] shaneing commented on #5047
It seems less needed. For example:

[code]

If really needed, the following struct is looked good to me:

[code]
🤔

[2020-02-01 15:42] shaneing commented on #5047
I have another problem. Why not use `iopodman.ContainerMount` instead of `iopodman.Create.Mount`.

[2020-02-01 17:05] mheon commented on #5047
The Varlink API is in the process of being deprecated, so not much we can
do about this right now. Part of the interface for the new HTTP API is
fixed for compatibility, but design of the libpod endpoints is still early
enough that comments would be welcome

On Sat, Feb 1, 2020, 10:42 shaneing <notifications@github.com> wrote:

[2020-02-01 17:27] Onlinehead commented on #3761
Probably the same digest problem also affects running images in Google Cloud Run (fully managed).
In case when image pushed to a Google Container Registry by podman, Cloud Run cannot find it by SHA (it point to the image by SHA even if it is selected by user using tag).
As a result, it is impossible to use podman together with GCR and CloudRun. In the same time, and it is expecting, pull (and push

[2020-02-01 22:17] TomSweeneyRedHat commented on #5035
Just as a follow up, the issue is arising [here](https://github.com/containers/buildah/blob/master/imagebuildah/stage_executor.go#L439).  The call to SecureJoin with a src of `../upperfile.txt` is not creating an error that would then be caught two lines below with an appropriate error message.  Instead, it's removing the `../` and returning `upperfile.txt` which is later appended to the context d

[2020-02-01 22:19] alitvak69 commented on #4937
Is there an update on this issue?  Ubuntu 1.8.0 released under testing but 1.7.0 have disappeared.  What prevents one from keeping both versions?

[2020-02-01 22:59] cyphar commented on #5035
I'll post a response both there and here -- the reasoning is that `SecureJoin` (which is soon going to be out-dated by `libpathrs`'s path handling which is race-free) is effectively acting like a `chroot`. Thus `/..` always becomes `/`.

This is necessary because there are lots of examples of malformed symlinks which only work because of this behaviour. If we made `/..` cause an error, those symli

[2020-02-02 00:36] tobwen opened #5049 "rootless: permission denied when trying to write to /run/user"
/kind bug

**Description**
When running _podman_ from an unprivileged user (`uid=1001(tobwen) gid=1001(tobwen) groups=1001(tobwen)`), _podman_ tried to write to _/run/user_, where the user doesn't have permission on _Debian_.

**Steps to reproduce the issue:**
1. no _podman_-config file exists (I'm using switches only)
2. all the dependencies (_crun_ etc.) are installed and the paths are correct
3

[2020-02-02 00:40] tobwen commented on #5049
Oops. Looks like a regression:

https://github.com/containers/libpod/blob/master/troubleshooting.md#4-rootless-could-not-get-runtime---database-configuration-mismatch

[2020-02-02 09:26] shaneing commented on #5047
@mheon ok, thanks. I will follow the HTTP API.

[2020-02-02 09:26] #5047 closed

[2020-02-02 09:37] mid-kid commented on #5045
I have a similar problem with the tutorial but the error reads this:
[code]

[2020-02-02 14:57] groovyman opened #5050 "podman ps -a --filter "status=exited" does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am unable to filter for Stopped or exited container. I can filter for  "status=running" but i am unable to use  "status=exited". The bash Script is used on the host container to start/stop root-less container on system startup or shutdown.

So shutdown is not an issue, i perform:
`
  podman

[2020-02-02 14:59] groovyman commented on #5050
/kind bug

[2020-02-02 16:07] ppenguin opened #5051 "podman restart behaves not the same as podman stop && podman start (firewalld specific?)"
/kind bug

**Description**

The command
`podman restart mycontainer`
appears to behave differently from
`podman stop mycontainer && podman start mycontainer`

This is observed when a container which needs internet access via the host is restarted, which apparently does not update the firewall rules (in my case on Fedora adding e.g. `10.88.0.31/32` to the trusted zone, where the ip is the one of th

[2020-02-02 17:46] mheon commented on #5051
Hm. I think we might be reusing the old network namespace - which, as you point out here, could be a bad thing in certain circumstances.

[2020-02-02 17:48] mheon commented on #5051
Confirmed, we're not tearing down the network namespace when we stop the container. Easy fix, I think.

[2020-02-02 17:53] mheon commented on #5051
Fix in #5052

[2020-02-02 19:52] hikhvar commented on #4478
Currently I miss the "recreate-if-changed" semantic in `podman play kube pod.yaml`. I want to use podman to deploy some containers to a low single digit number of hosts. The setup is so small, Kubernetes will be a big overhead. However it would be dope if I can upload the PodSpec to a host and just run `podman play kube` and podman replaces the pod if the spec has changed. Currently I have to emul

[2020-02-02 19:55] rhatdan commented on #4662
I would figure this lines up with Summit.  IE March/April time frame.

[2020-02-02 19:57] rhatdan commented on #4905
We have issues with buildah vendoring into Podman, due to the containers.conf merger into Buildah.  I am working on reverting/fixing some issues on this now,  Hopefully this will get merged fairly quickly.  But I would rather not rush containers.conf buildah out right now.

[2020-02-02 20:52] ppenguin commented on #5051
Now that's what I call a quick fix!
Thanks!

[2020-02-02 20:52] #5051 closed

[2020-02-02 21:12] tobwen commented on #5049
I fixed it: Damn you, _cgroupfs v2_!

### doesn't work
`su tobwen`

### works
`su -l tobwen`

Should we add this to https://github.com/containers/libpod/blob/master/troubleshooting.md ?

[2020-02-02 23:22] lsm5 commented on #4937
@alitvak69 hi, i had set automation up to delete older builds when newer builds show up, I'll check if OBS does keep older debs if I leave the older packaging sources in there..

[2020-02-02 23:37] groovyman commented on #4332
Why that ?

I can write a c application that creates a passive endpoint for portnumber > 1024 (or more?) using the IP-device ? So why do you forbid that ?

[2020-02-03 00:02] mheon commented on #5050
The filter itself is working, but Podman seems to be retaining the default behavior (show only running containers) even when `--filter` is passed; Docker does not, and filters all containers, even stopped ones.

[2020-02-03 06:52] raukadah commented on #713
@vrothberg Sorry the late reply, I have started working on that, I will get the PR up by this week.

[2020-02-03 07:37] vrothberg commented on #4604
Closing. Please reopen when there's a reproducer. One thing to check is if there's proxy between Podman and the registry. Some proxy configurations have shown to cause issue.

[2020-02-03 07:37] #4604 closed

[2020-02-03 07:39] vrothberg commented on #5002
@nimbius, can you check if the pod and its containers are still present (e..g, podman-pod-ps and podman-ps)?

[2020-02-03 07:49] vrothberg commented on #4750
@Michael-Angel-Sec, do you have further questions?

[2020-02-03 07:57] vrothberg commented on #5035
@cyphar, do you have a timeline for that? Libpathrs requires new kernels, which forces us to use `SecureJoin` for a longer time, right? It would be great if Buildah could continue using `SecureJoin` but we had to address the stripping of `../`.

[2020-02-03 08:09] vrothberg commented on #2979
* https://github.com/containers/libpod/issues/2979#issuecomment-529500623 is a workaround.
* Another one is using `skopeo copy containers-storage:$image dir:$image` followed by a `sudo skopeo dir:.. containers-storage:...`. `podman push` will do the same.

I agree. As mentioned above, the tools allow copying images with some intermediate steps. Doing that in one command while addressing all possib

[2020-02-03 08:09] #2979 closed

[2020-02-03 08:13] michaeladler commented on #4725
Docker version 19.03.5, build 633a0ea838f10e000b7c6d6eed1623e6e988b5bc

However, please take notice of my last comment: https://github.com/containers/libpod/issues/4725#issuecomment-576268919
It seems to be an issue with the way the specific container is built. Still, since the slogan of podman is `alias docker=podman`, I would expect this to work :)

[2020-02-03 09:12] mbaldessari commented on #5040
I might take a stab in the next week or so, I only filed it because I noticed the discrepancy while doing some unrelated work.

[2020-02-03 09:21] cyphar commented on #5035
@vrothberg libpathrs does **not** require new kernels -- it does (safe) user-space emulation for old kernels, precisely to avoid the concern about bumping the kernel version to 5.6. There are some security hardenings it's not possible to do on old kernels (or even at all right now) but libpathrs will always work best-effort on old kernels.

As for a timeline, I recently merged Go bindings for libp

[2020-02-03 09:36] groovyman opened #5057 "Reboot of your system might kill your container image files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am using a clean F31 distribution. On my server i created a technical user (id > 1000, not the first) , that is dedicated to run a podman-container, rootless of course. I got my server into run state and before a shutdown i make sure, that the container is stopped by podman stop <container i

[2020-02-03 09:36] groovyman commented on #5057
/kind bug

[2020-02-03 10:12] vrothberg commented on #5035
Perfect! Thanks for the explanation.

I begin to think we should address the issue on Buildah's side. We somehow regressed but for good reasons. We could improve the error message (and docs?) to better communicate what's happening. @TomSweeneyRedHat, @rhatdan  WDYT?

[2020-02-03 10:35] HarryMichal commented on #5014
Yes, it did. But I hade to run it and reboot several times. Here's the output after running the command for the first time:
![Screenshot from 2020-02-03 11-16-52](https://user-images.githubusercontent.com/17991284/73646185-2bea8b80-4679-11ea-9eb5-eff68db5fbf2.png)

But nevertheless, it works now, so I'm closing this.

[2020-02-03 10:35] #5014 closed

[2020-02-03 10:53] cyphar commented on #5035
@vrothberg

I agree (since the theoretical usecase of these safe resolution tools is more for container runtimes operating on a container rootfs than the whole "build context" concept from `docker build`), but feel free to ping me if you want my input.

[2020-02-03 10:58] mnahkies opened #5059 "bind mounts not working without --privileged flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using podman on Fedora 31 as a replacement for docker, I've had issues getting bind mounts to continue working correctly.

Unless I pass the `--privileged` flag, I seem to also get a permission denied error when trying to access any of the files mounted inside the container.

All files a

[2020-02-03 12:52] rhatdan commented on #4961
BTW, I believe `podman logs` is only showing the STDOUT/STDERR of pid1 of the container. There is nothing that logs `podman exec`, since this is a random process inside of the container.

[2020-02-03 12:55] rhatdan commented on #5043
This is an issue with the way the package was built, the BUILD TAGS are disabling btrfs support.

[2020-02-03 12:55] rhatdan commented on #5043
@lsm5 @jnovy PTAL

[2020-02-03 14:07] nimbius commented on #5002
podman pod ps shows the pod still available. podman ps shows the container is not running.

[2020-02-03 14:15] vrothberg commented on #5002
Can you verify that both, the pods&containers as well as the systemd service, are rootless? For instance, I usually copy user-specific services to ` $HOME/.config/systemd/user`

[2020-02-03 14:27] astoycos commented on #5045
Podman has some limitations for running as rootless user, they can be seen here https://github.com/containers/libpod/blob/master/rootless.md

This explains the above behavior

[2020-02-03 14:27] #5045 closed

[2020-02-03 14:29] mheon commented on #5045
I think it does mean that we need to rework the Getting Started page pretty badly to explain this better

[2020-02-03 14:44] nimbius commented on #5002
pods and containers under the user are present.  as youve requested I moved the service files to the local user's unit directory and to no avail.

[code]
results in a slightly different error?

[code]

[2020-02-03 14:48] mheon commented on #5046
Can you try this as root, and see if that resolves the issue? Want to see if this is definitely Podman or potentially fuse-overlayfs

[2020-02-03 14:51] vrothberg commented on #5002
Do a `systemctl --user daemon-reload` before. Also note that we need to pass `--user` to `systemctl`.

[2020-02-03 14:53] nimbius commented on #5002
Eureka! Thanks for your help and patience.  targets are found and the pod starts and operates normally.

[2020-02-03 14:57] #4335 closed

[2020-02-03 14:58] mheon commented on #5059
Are y ou running as root, or rootless

[2020-02-03 14:58] vrothberg commented on #5002
Awesome! Thanks for reaching out!

[2020-02-03 14:58] #5002 closed

[2020-02-03 14:58] nimbius commented on #5002
it should be noted that this type of service file generation doesnt create a systemd target that spawns _as_ the user during boot.  podman generate still requires a user to login first.

[2020-02-03 15:08] mheon commented on #5057
No such file or directory on rootless storage directory? We should be recreating that on detecting a reboot. RunRoot is set appropriately to a tmpfs, so it looks as though we ought to be wiping the alive file after reboot, which is confusing.

`Error: error freeing lock for container a6edeae3c8807b9d39b54733566c2533dd53f8efbcd92365b98913896261bb39: no such file or directory`
That is not particular

[2020-02-03 15:37] mnahkies commented on #5059
Running as my own user, which has the default uid/gid of 1000:1000

I've tried passing `-u 1000:1000` to the run command as well to no avail.

[2020-02-03 15:44] groovyman commented on #5057
Sorry,
i am a bit confused, because i would never put a container image on a tempoary filesystem.
The curious thing is, that this does not happend on a workstation F31 Installation with a user having a uid 1000.
I want to point our,that is stopped the container before i initiate a reboot. So there should not be any volatile data on a tmpfs directory at all, am i right.-

- How can i support to sol

[2020-02-03 15:44] mheon commented on #5059
SELinux pops up as the most obvious cause to me. Does appending `:z` to the volume mount to relabel it (or running the container with `--security-opt label=disable`) resolve the issue?

[2020-02-03 15:48] mheon commented on #5057
What is happening is that Podman is not detecting and appropriately handling the reboot; as such locks are not reallocated, temporary directories are not recreated, etc. We detect reboots via a file created on a tmpfs directory, somewhere in `RunRoot` (as seen in `podman info`), which appears to be a tmpfs filesystem and should be recreated after reboot. If you can provide a `--log-level=debug` tr

[2020-02-03 15:51] goneri commented on #5046
Hi @mheon,

I don't see any difference:

[code]

[2020-02-03 15:53] mheon commented on #5046
@haircommander Could we be losing information along the Unix socket? Conmon not reading it fast enough, maybe?

[2020-02-03 16:07] rhatdan commented on #5059
Please show the command that does not work, and what errors you are seeing.
Most likely SELinux or User Namespace related.

[2020-02-03 16:09] mnahkies commented on #5059
The linked repository contains a minimal reproduction of the issue I was experiencing.

Appending `:z` does indeed work, thanks. Unfortunately my knowledge of SELinux is pretty limited. Why do the files need to be re-labelled?

I see that on the docker documentation there is a warning that this could have unintended consequences due to the relabelling, and I notice that the relabelling removes the

[2020-02-03 16:19] mnahkies commented on #5059
Also tested using the `--security-opt label=disable` parameter, and can confirm that also worked (and did not modify the existing labels)

I'll close this, but if you don't mind explaining the reason why this becomes necessary when migrating to podman from docker I'd appreciate it - this has been my only real pain point so far and I'd like to better understand it

[2020-02-03 16:19] #5059 closed

[2020-02-03 16:34] mheon commented on #5059
This should be identical between Docker and Podman - you may have been running Docker without SELinux support?

[2020-02-03 16:35] cevich opened #5063 "Cirrus-CI: Gate job lint/validation fails with error 128"
/kind bug

**Description**

For pull requests, automation executes a series of 'make' targets against a clone of the author's forked/branched code.  A required optimization in this process is to limit the checks to only encompass a commit range beginning with a a known upstream branch commit (commonly referred to as the Epoch commit).

However, depending on the starting-point for the authors fork'