[2021-02-01 11:06] #9002 closed

[2021-02-01 11:31] vrothberg commented on #9176
Thanks for reaching out, @ntkme!

I am open to this idea. @Luap99 what do you think?

[2021-02-01 12:28] Luap99 commented on #9176
SGTM, we also have to escape a backslash according to the systemd documentation.

[2021-02-01 12:39] vrothberg commented on #9176
Perfect!  Do you have cycles to tackle the issue?  I appreciated to have another pair of eyes on the systemd-gen code :)

[2021-02-01 12:45] mlegenovic commented on #8713
The same problem is described in issue https://github.com/containers/podman/issues/7857, just for pull endpoint.

[2021-02-01 12:50] PavelSosin-320 commented on #9166
After installation of Podman 3.0 I got registries.conf installed and containing unqualified-search-registries with the broad list of DNS registry names. Some of them are not OCI image registries like CentOS and Fedora registries and have no suitable transport. Occasionally it interferes with the bug in Microsoft WSL's DNS resolution and My ISP's DNS malfunction. Instead of a clear choice between D

[2021-02-01 12:51] sebastian-philipp commented on #9096
https://tracker.ceph.com/issues/49076

[2021-02-01 12:54] vrothberg commented on #9096
@containers/podman-maintainers FYI

[2021-02-01 12:54] Luap99 commented on #9176
Yes I will take this one.

[2021-02-01 12:58] vrothberg commented on #9166
Thanks for elaborating!

What do you mean by "OCI image search"?

Skopeo and Docker always resolve to `docker.io` which Podman never did.  If a user wishes to not interact, they need to either specify a fully-qualified image reference (e.g., docker.io/library/alpine vs alpine) or configure the registries.conf. There's a blog post from last year going into the details: https://www.redhat.com/sysadm

[2021-02-01 13:00] edsantiago commented on #9096
There are gating tests for this condition. Unfortunately they're disabled for podman-remote due to #7360 which remains open: https://github.com/containers/podman/blob/b045c173756dddcedf6a99a70f520bf423072826/test/system/075-exec.bats#L61-L62

[2021-02-01 13:13] st1971 commented on #8710
had a look through some code last night and would seem to be a problem in pkg/specgen/generate/kube/kube.go, regardless of what's put in the selinux options in the yaml file it always ends up in the role position in the label.

will try to submit a PR this week for this.

[code]

[2021-02-01 14:12] ikke-t commented on #9089
Thanks, that's good point. However in this case, I tried to netcat from external host, so it wasn't about OUTPUT chain from my understanding.

[2021-02-01 14:30] baude commented on #9169
as you can see, the network stack is problematic ... it has not specifically been discussed.  I'm not terribly versed on the cni usage for rootless but i'll ask around and see what's involved.

[2021-02-01 14:36] edsantiago commented on #7139
FWIW I've tried the reproducer in comment 0, no luck. I do get a lot of these:
[code]
...and once in a while one of these:
[code]
but in about fifteen minutes of retries, have never seen the `unlinkat` error.

[2021-02-01 14:42] mheon commented on #8710
SGTM! Thanks for taking this one.

[2021-02-01 15:06] mheon commented on #5336
Unfortunately, I don't think we had a solid reproducer - we noticed that the RHEL 8.4 test suite was dumping core on several tests, traced it to Conmon, and fixed it from said coredumps without really looking further.The fix was in https://github.com/containers/conmon/pull/233, and the fixed release was 2.0.25.

[2021-02-01 15:21] gcs278 opened #9181 "podman play kube support for configMap volumeSource"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Hello,

With podman v2.2.1, we are able to do  `podman play kube ... --configmap` and add configmaps. The current supported usage of config-maps in YAML is with `spec.containers[].envFrom.configMapRef`.

Is there a plan to support `spec.volumes.configMap` with `podman play kube`?

**Steps

[2021-02-01 15:31] mheon commented on #9096
@edsantiago Is the issue actually with `podman-remote` here? This seems to be local Podman - which should be much more stable, since there's no server-side traffic forwarding going on.

[2021-02-01 15:39] edsantiago commented on #9096
@mheon my mistake again - I seem to be having reading comprehension problems today! I've edited my comment. Sorry for the confusion.

[2021-02-01 15:47] dirextric commented on #9089
Ah, I misunderstood. I just tried your steps above in a fresh VM and found something interesting. When I try to port forward with the command `firewall-cmd --add-forward-port=port=80:proto=tcp:toaddr=127.0.0.1:toport=1180`, I cannot reach the VM on port 80 from the host. But when I use the command `firewall-cmd --add-forward-port=port=80:proto=tcp:toport=1180`, it works. Maybe try removing the `to

[2021-02-01 16:37] justinkb opened #9183 "podman hangs on "receiving" too much output to console"
/kind bug

**Description**

Executions in containers hang when they output too much data too fast to stdout.

**Steps to reproduce the issue:**

podman run docker.io/archlinux hexdump -C /dev/random

**Describe the results you received:**

execution hangs and ends at around 20k of the file hexdumped

**Describe the results you expected:**

execution should output the entire hexadecimal representat

[2021-02-01 16:52] mheon commented on #9183
@vrothberg This reminds me of https://github.com/containers/podman/issues/9096 but in the other direction. Likely related.

[2021-02-01 17:02] PavelSosin-320 commented on #9166
The problems for me were 1. I expected the "best hit" from the security and reliability marked or selected by the default. 2. Why I see the entry "registry.centos.org" when I work in Fedora?  Then I see "can't resolve errors and
ping registry.centos.org
PING registry.centos.org (35.180.173.132) 56(84) bytes of data.
From ec2-35-180-173-132.eu-west-3.compute.amazonaws.com (35.180.173.132) icmp_seq=

[2021-02-01 17:18] vrothberg commented on #9166
Did you read https://www.redhat.com/sysadmin/container-image-short-names?  Your security concerns should be addressed by it.

Changing the default list of unqualified-serach-registries is up the distributions to decide. Fedora, for instance, ships a different list than Debian or openSUSE.

[2021-02-01 17:19] justinkb commented on #9183
That's interesting. I agree it's very likely the same issue. Should clarify my original report that the hanging at prompt occurs when using pod with an interactive command, otherwise it just returns with truncated, as the other bug report says, output. Likely the hanging behavior is a result of some part of the interactive prompt bit of podman not knowing what to do when the container process abor

[2021-02-01 17:23] PavelSosin-320 commented on #9166
@vrothberg I thik the reason is
ls /usr/share/containers/
containers.conf  mounts.conf  seccomp.json  selinux
The blank repositories.conf is missed.

[2021-02-01 17:25] vrothberg commented on #9166
The registries.conf is in _/etc/containers/registries.conf_.

[2021-02-01 17:43] PavelSosin-320 commented on #9166
/etc/containers/registries.conf contains
unqualified-search-registries = [ "registry.access.redhat.com", "registry.centos.org", "docker.io"]
in the Fedora package and it is not commented.
I suppose it is used by the root. When I copy it to the $HOME it gives me centos again.
When I cleaned up the registries.conf from the junk entries and copied them to my $HOME it started to work.

[2021-02-01 17:45] #9176 closed

[2021-02-01 18:26] mheon commented on #9183
Thanks a bunch - Conmon doesn't get much activity, so that should narrow things down to a narrow set of commits.

@haircommander PTAL

[2021-02-01 19:41] rhatdan commented on #8677
@giuseppe any update on this issue?

[2021-02-01 19:56] rhatdan commented on #9162
I think the change is we used to not specify the default driver in storage.conf file, now we specify "overlay"
driver=""
versus
driver="overlay"

Just specifying the --storage-drover="vfs" on a single command, will not change the default.  You need to specify it on every command or modify the storage.conf file to use vfs.

[2021-02-01 19:58] rhatdan commented on #9158
We can chnage the upstream to journald, and have RHEL ship a containers.conf setting its defaults to k8s_file.

[2021-02-01 20:03] mheon commented on #9162
@rhatdan Podman will force the driver the database was created with, in this case VFS - so this should work.

[2021-02-01 21:05] baude commented on #9167
@knumskull , the first part of this is #9189.  Because we are about to release Podman 3.0,  we decided to get the framework a little cleaned up and then once that is in, I will do the rest of it targeting 3.1. thanks for your report.

[2021-02-01 21:31] justinkb commented on #9183
[code]

[2021-02-01 21:45] rhatdan commented on #9162
Well we are still seeing issues above according to Adrian.

[2021-02-01 23:00] smijolovic commented on #9135
Thank you for the pointer.  Will bring this up with canonical this week.  Did a strace to look for more evidence....

[pid 120566] openat(AT_FDCWD, "/proc/self/attr/keycreate", O_WRONLY|O_CLOEXEC) = 6
[pid 120566] epoll_ctl(7, EPOLL_CTL_ADD, 6, {EPOLLIN|EPOLLOUT|EPOLLRDHUP|EPOLLET, {u32=2235174584,u64=140520680197816}}) = -1 EPERM (Operation not permitted)
[pid 120566] epoll_ctl(7, EPOLL_CTL_DEL,

[2021-02-02 01:33] smijolovic commented on #9152
Strace of crun snippet:

[pid 171238] write(6, "\0\0\0\0\0\0\0\0", 8 <unfinished ...>
 [pid 171239] <... read resumed>"\0\0\0\0\0\0\0\0", 520) = 8
 [pid 171238] <... write resumed>)       = 8
 [pid 171239] openat(AT_FDCWD, "/proc/thread-self/attr/exec", O_WRONLY|O_CLOEXEC) = 6
 [pid 171238] read(6,  <unfinished ...>
 [pid 171239] fstatfs(6, {f_type=PROC_SUPER_MAGIC, f_bsize=4096, f_blocks=0, f_bfr

[2021-02-02 01:55] xrow opened #9191 "Open mounts all over the place on userdata/shm"
/kind bug

**Description**

It seems podman is not able to clean up layers. I have no pod runnning but hundreds of mounts. The system gets slow and akward. A reboot helps.

shm                     64000        0     64000   0% /var/lib/containers/storage/overlay-containers/b7d38b15781e1cdfd7a2801a9782ba08cec8830430269a240b1bff0c0dbdaea4/userdata/shm
shm                     64000        0     64000

[2021-02-02 02:05] mheon commented on #9191
Can you run a container and, after it exits, run `podman inspect --format '{{ .State.Status }}'` on it and see if it is in Stopped or Exited state?

[2021-02-02 06:20] disposab1e opened #9193 "FIPS mode secret always mounted on Fips enabled hosts - optional?"
/kind feature

**Description**

When running a container with a Fips aware OS (e.g. RHEL 7/8) on a Fips enabled host (e.g. RHEL 8.3) podman mounts a FIPS mode secret at `/etc/system-fips` and creates a symlink to `/run/secrets/system-fips`.

In many cases this is a prefect behavior!

But in some cases.. when the process (software) is not prepared to handle Fips this leads to trouble.

Concrete Exa

[2021-02-02 08:53] trusch opened #9194 "rootless-cni-infra image needs to be updated"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

As mentioned in https://github.com/containers/podman/pull/8585#issuecomment-768409098 the rootless-cni-infra image needs to be rebuild and pushed to quay.io.

As a consequence the --network-alias feature is not yet working for podman 3.0

I locally build podman 3.0, migrated my local system a

[2021-02-02 09:28] Luap99 commented on #9194
@trusch Please show the output of  `podman images`

[2021-02-02 09:33] cehoffman commented on #7189
It is likely that the ip6tables command is using nftables under the hood through a compatibility interface. Debian buster is such a system, to use the original iptables you need to switch to the `-legacy` executables. Example on debian buster that fixed the issue for me.

[code]

[2021-02-02 09:33] Luap99 commented on #9194
Commit c3b39842ce76e3e3bfc843abfebeeb603f04591d is from Jan 27, please get the latest upstream or rc2. My PR was merged on the 28th.

[2021-02-02 09:33] #9194 closed

[2021-02-02 09:40] vrothberg commented on #9183
@giuseppe PTAL

Thanks everybody!

[2021-02-02 09:46] xrow commented on #9191
[root@server005 ~]# podman inspect a3251ac01907 --format '{{ .State.Status }}'
exited

[2021-02-02 09:53] xrow commented on #9191
If I take one it from that shm list it gives me 2 different results:

[root@server005 ~]# podman inspect a86d19efac7770ccf04ff7d7e34bc7262230a9b933f456cdea38b41667f9d41c --format '{{ .State.Status }}'
Error: error inspecting object: no such object: "a86d19efac7770ccf04ff7d7e34bc7262230a9b933f456cdea38b41667f9d41c"

or

[root@server005 ~]# podman inspect bd3d7f88a33f9b6ba15e9a02db27213e60325c17150f

[2021-02-02 10:18] tmds commented on #8577
@baude see my previous question: What generates the swagger for these types? And can we make it include a `title` property?

[2021-02-02 10:48] giuseppe commented on #9183
https://github.com/containers/conmon/pull/237

[2021-02-02 10:49] giuseppe commented on #9183
closing as a duplicate of https://github.com/containers/podman/issues/9183

[2021-02-02 10:49] #9183 closed

[2021-02-02 11:50] rhatdan commented on #9193
You should not run non fips mode software on a fips mode enabled system. That is the basic idea of fips mode.  If you are breaking the rules then you are not fips mode.

[2021-02-02 11:56] disposab1e commented on #9193
@rhatdan  I didn't want to be taught. I had a specific question.

[2021-02-02 12:57] giuseppe commented on #9137
could you configure some additional IDs for your user in `/etc/subuid` and `/etc/subgid`?

Are newuidmap/newgidmap installed on your system?

A couple of things to look into:

https://github.com/containers/podman/blob/master/troubleshooting.md#9-newuidmap-missing-when-running-rootless-podman-commands

https://github.com/containers/podman/blob/master/troubleshooting.md#19-error-creating-libpod-runt

[2021-02-02 13:45] giuseppe commented on #8677
it could be related to: https://github.com/containers/conmon/pull/237

[2021-02-02 14:00] dqminh commented on #8737
@giuseppe @cevich i've also seen this today. This is most likely because bfq is compiled as a modules af (ubuntu does this), hence is not loaded at the time.

If you do `modprobe bfq`, the file should appear.

[2021-02-02 14:00] tmds opened #9199 "latest packages copr repo"
https://copr.fedorainfracloud.org/coprs/baude/Upstream_CRIO_Family/builds/ is mentioned as a source for latest packages on https://podman.io/getting-started/installation.

There aren't many recent builds, so maybe part of the CI/CD is broken?

cc @baude

[2021-02-02 14:37] mheon commented on #7189
CNI should be able to work with the `nftables` frontend commands - we did a lot of work a year or so ago to get a good experience with `iptables` with the `nftables` backend working as expected. Unfortunately we did not work with `ip6tables` at the same time. Most of what needed to be changes was exit codes (CNI checks those to determine what a command actually did, and they seem to have changed d

[2021-02-02 14:40] mheon commented on #9199
@baude PTAL

[2021-02-02 15:10] giuseppe commented on #9152
is `system_u:system_r:container_t` defined in your selinux policy?  I think that is the issue you are seeing

[2021-02-02 15:22] rhatdan commented on #9152
Do you have the container-selinux package installed?

[2021-02-02 15:50] mheon commented on #9191
Hmmm. That could be a symptom of Podman losing track of container state - which usually happens when we detect a reboot in error (something wiped our temporary files directory). Sometimes we've seen systemd do this (systemd-tmpfiles will "clean up" our directory, and delete files we use)

[2021-02-02 15:58] jwhonce commented on #8773
https://github.com/containers/podman/pull/9196 should have included fix in podman

[2021-02-02 15:58] #8773 closed

[2021-02-02 16:27] millerthegorilla opened #9201 "Podman doesn't play well with terminal sizing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)*
/kind bug

**Description**

**Steps to reproduce the issue:**

1. enter a container

2. run the django dev server and/or shell.  After four or five minutes or an unknown and possibly random amount of commands, the command line # disappears, and then using the command line history becomes difficult with at best a garbled p

[2021-02-02 16:36] #9077 closed

[2021-02-02 17:04] disposab1e commented on #9193
Podman only checks for /etc/system-fips on the Host file system to decide is a container running on a fips enabled host. If you rename /etc/system-fips before starting the container, no symlink /run/secrets/system-fips is created and from now the container believes it's not on a fips host.

I wander cause....
[code]
...is still showing fips is enabled.

@rhatdan It's so easy to break the rules...

[2021-02-02 17:08] knumskull commented on #9167
@baude that sounds really cool. Do you have an eta for the 3.1 version?

[2021-02-02 17:19] smijolovic commented on #9152
Yes I have the the container-selinux (container) policy loaded.

I'm more concerned with the "Invalid argument" when setenforce 0 is set. With runc, you pointed me to the /proc/self/attr/keycreate situation where a kernel patch may not have been applied.  I'm wondering if there is a similar issue with /proc/thread-self/attr/exec.

Regardless of the cgroup driver (systemd or cgroupfs), it always co

[2021-02-02 17:25] yangm97 commented on #8005
@rhatdan Sorry, I think you meant #5986?

[2021-02-02 18:16] djgilcrease commented on #9137
[code]

When I deleted `/tmp/run-1000/libpod/tmp/pause.pid` I now get
[code]

Delete my storage.conf and poof it works again. So should I add an entry to https://github.com/containers/podman/blob/master/troubleshooting.md

---
### 27) podman aborts with Error: cannot re-exec process

[code]

#### Solution

  * Remove the `pause.pid` file `$ rm /tmp/run-1000/libpod/tmp/pause.pid`

[code]

[2021-02-02 18:39] rhatdan commented on #9152
ls -l /proc/thread-self/attr/exec
-rw-rw-rw-. 1 dwalsh dwalsh 0 Feb  2 13:39 /proc/thread-self/attr/exec

Can you make sure container-selinux is working.

runcon system_u:system_r:container_t:s0 id -Z
system_u:system_r:container_t:s0

[2021-02-02 18:47] rhatdan commented on #9135
Since this is an issue with Ubuntu, I am going to close this issue.

[2021-02-02 18:47] #9135 closed

[2021-02-02 18:49] rhatdan commented on #9006
I believe this is fixed in podman 3.0.  With newer kernels, we should be able to get rootless overlay working without fuse-overlay as well.

[2021-02-02 18:49] #9006 closed

[2021-02-02 18:51] rhatdan commented on #8936
Not sure what TPROXY is doing, but could you try with the host network.

--net=host

[2021-02-02 18:52] rhatdan commented on #8466
Lets do that.

[2021-02-02 19:02] #8913 closed

[2021-02-02 19:16] arunah commented on #8684
minikube start
😄  minikube v1.17.1 on Ubuntu 20.04
👎  Unable to pick a default driver. Here is what was considered, in preference order:
    ▪ vmware: Not installed: exec: "docker-machine-driver-vmware": executable file not found in $PATH
    ▪ docker: Not healthy: "docker version --format {{.Server.Os}}-{{.Server.Version}}" exit status 1: Got permission denied while trying to connect to the Docke

[2021-02-02 19:33] secondspass commented on #8580
Sorry for the lack of response! I will update as we do more testing.

[2021-02-02 19:35] smijolovic commented on #9152
$ sudo semodule -l | grep container
container

$ ls -l /proc/thread-self/attr/exec
-rw-rw-rw-. 1 chaasmadmin chaasmadmin 0 Feb  2 19:35 /proc/thread-self/attr/exec

runcon system_u:system_r:container_t:s0 id -Z
runcon: invalid context: ‘system_u:system_r:container_t:s0’: Invalid argument

[2021-02-02 19:38] baude commented on #9167
not really, but you can see i made a PR today.  please pull it and give feedback if you know how to!

[2021-02-02 19:53] rhatdan commented on #9152
Looks like the container policy did not install.

Do you have setools-console installed?
Check if container_t exists.

[code]

Check which roles it exists in.
[code]

[2021-02-02 19:57] #9165 closed

[2021-02-02 20:07] smijolovic commented on #9152
$ seinfo -tcontainer_t -x

Types: 1
   type container_t, can_receive_kernel_messages, corenet_unconfined_type, process_user_target, container_domain, container_net_domain;

$ seinfo -tcontainer_t -r

Roles: 14
   auditadm_r
   dbadm_r
   guest_r
   logadm_r
   nx_server_r
   object_r
   secadm_r
   staff_r
   sysadm_r
   system_r
   unconfined_r
   user_r
   webadm_r
   xguest_r

Types: 1
   conta

[2021-02-02 20:31] riyad opened #9206 "[APIv2] killing a container hangs after "Switch podman stop/kill/wait handlers to use abi""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regressions in the [`RestartContainerTest::test_restart_with_low_timeout`](https://github.com/docker/docker-py/blob/master/tests/integration/api_

[2021-02-02 20:50] ikke-t commented on #9089
@dirextric hey, thanks a lot! that actually works \o/

firewall-cmd is super hard to guess how it works, I don't know where this info should have been found. The rule looks like this:
[code]

[2021-02-02 20:54] afbjorklund commented on #8684
Please see https://podman.io/getting-started/installation#ubuntu

[2021-02-02 21:06] giuseppe commented on #8005
to create a corrupted storage, we can use a reproducer like:

[code]
The machine is powered off.

On the next reboot, if it still boots :-) ...
[code]

[2021-02-02 21:08] jwhonce opened #9207 "Consolidate API versions to libpod version package"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug (technical debt)

**Description**

Currently the API version is defined in the API package, the bindings, and the libpod version package

**Describe the results you received:**

Currently there are a possibility for the libpod and API version to drift without notice.

**Describe the results you expected:**

Co

[2021-02-02 21:09] rhatdan commented on #8005
If you attempt to run a container on that image, what error do you see?

[2021-02-02 21:14] giuseppe commented on #8005
[code]

[2021-02-02 21:16] edsantiago commented on #9096
Is this one also closed by https://github.com/containers/conmon/pull/237 ?

[2021-02-02 21:21] mheon commented on #9096
Yes.

[2021-02-02 21:21] #9096 closed

[2021-02-02 21:26] ikke-t commented on #9089
Only problem I find now is that somehow the container does not get the src ip right. Firewalld rules:

[code]

where the container being pihole (dns server) reports src being 127.0.0.1 :(

[code]

So unfortunately someone somewhere does NAT, even though firewalld reports no masquerade. So perhaps the podman network forwarding?

[2021-02-02 21:31] ikke-t commented on #9089
so the question being, why is there NAT done, and how to get rid of it to keep original src ip seen in container?

[2021-02-02 21:42] baude commented on #9206
@rhatdan that is your recent commit ... mind peeking at this in the chance that the code is fresh in your mind?

[2021-02-02 23:31] mheon commented on #9089
Known problem with rootless Podman using the default port driver - try creating the container with `--net=slirp4netns:port_handler=slirp4netns`

[2021-02-03 01:30] bblenard commented on #5651
Currently trying to write some tests for these changes before I open a PR.

[2021-02-03 01:36] nzjustin opened #9211 "'podman generate kube' confuses 'args' with 'command', and no support for 'command'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In general (not specific to this issue) there is confusion between the Podman/Docker concepts of:

'entrypoint' and 'command'

And the Kubernetes equivalents of:

'command' and 'args'

Podman/Docker 'entrypoint' = Kubernetes 'command'
Podman/Docker 'command' = Kubernetes 'args'

When you use

[2021-02-03 03:55] xrow commented on #9191
What next do you want me to run more tests? Is it a bug that is already here and that i missed?

[2021-02-03 04:01] mheon commented on #9191
First thing to do would be to check if any containers are still running - especially any of the containers that say `configured`. Checking `ps` to see if the container process is running in the background would be helpful. Trying to remote such a container should also fail with errors about how it is still mounted.

[2021-02-03 04:17] mheon commented on #9211
Could you check the behavior again with the Podman 3.0 RCs? We've made numerous changes to `play kube` since v2.0.5

[2021-02-03 04:26] xrow commented on #9191
Nothing is running

[root@server005 ~]# podman ps
CONTAINER ID  IMAGE   COMMAND  CREATED  STATUS  PORTS   NAMES
[root@server005 ~]# mount | grep shm | wc
    262    1572   49376

[2021-02-03 06:19] asottile commented on #8759
Here's the hacky workaround I'm using such that the lingering process is not part of my main service

[code]

and then my other service uses

[code]

should this issue be reopened until there's a better solution (or is there somewhere I can track that's better than this issue?)

[2021-02-03 07:36] giuseppe commented on #8759
I think we always move the pause process in its own cgroup.

Can you run with debug messages and check if you have some messages like `Failed to add pause process to systemd sandbox cgroup`?

[2021-02-03 07:38] asottile commented on #8759
I'm not super experienced with the tech involved here -- is that an option to podman? the systemd service?

[2021-02-03 07:46] giuseppe commented on #8759
it is an option to podman:

`podman --log-level debug ...`

[2021-02-03 07:49] asottile commented on #8759
here's the last few lines:

[code]

[2021-02-03 07:51] giuseppe commented on #8759
Feb 03 07:47:16 ip-172-31-67-194 bash[1623]: time="2021-02-03T07:47:16Z" level=warning msg="Failed to add podman to systemd sandbox cgroup: exec: \"dbus-launch\": executable file not found in $PATH"

the dbus-launch program is missing on your system.  I think that is the reason why it is not moved to its own scope

[2021-02-03 07:54] asottile commented on #8759
`dbus-launch` is provided by `dbus-x11` on ubuntu -- I don't think I should need X11 to run podman

[2021-02-03 08:07] asottile commented on #8759
even with that installed it still does not work:

[code]

[2021-02-03 08:30] aojea opened #9212 "podman deadlocks when used in both sides of a pipe"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman deadlocks when used in both sides of a pipe

**Steps to reproduce the issue:**

ok, this is interesting, there is a deadlock somewhere with podman, it hangs if I do

[code]

[code]

but it also doesn´t allow me to execute new podman commands :thinking:  it is possible that `podman` doe

[2021-02-03 10:00] #9167 closed

[2021-02-03 10:23] vrothberg commented on #9211
Just tested and I get:
[code]

I think that's okay, is it?  @haircommander PTAL

[2021-02-03 10:27] vrothberg commented on #9137
Do other commands work after removing the `pause.pod`?

[2021-02-03 10:30] vrothberg commented on #9166
I still don't understand the request, @PavelSosin-320.

[2021-02-03 11:11] PavelSosin-320 commented on #9166
After installation on Fedora33 VM the file registries.conf contains the list of registries with a redundant entry for "CentOS7 image registry". Then this registry appears in the registries proposals dropdown if the user providers partially qualified image name. It's impossible to pull something from this "registry",  login to it, or even resolve its DNS name -  Podman pull prints several technical

[2021-02-03 11:36] vrothberg commented on #9166
Thanks, @PavelSosin-320!

I don't think it's redundant since if you pull `centos`, the CentOS registry will be used and the image gets pulled from `registry.centos.org/centos:latest`.

Could it be network issue in your environment?  This registries.conf configuration is used on millions of machines but it's not involved in DNS.

I think there is a network issue on your VM.  The `unqualified-search

[2021-02-03 12:01] vrothberg commented on #9212
Thanks for reaching out.  I can reproduce on master:
[code]

[2021-02-03 12:02] vrothberg commented on #9212
It works with `podman load` on the right side though

[2021-02-03 12:15] vrothberg commented on #9212
I can also reproduce as rootless

[2021-02-03 12:20] vrothberg commented on #9212
Okay, I think this cannot work. `podman save alpine |`  expects the pipe to be read but `podman ps` does not do that. Hence's we're stuck on `Copying blob ...`.

I think it's actually a livelock since `save` opened a stream for copying the layer but the stream isn't consumed. Only once the layer has been copied, the storage lock will be released.

@rhatdan @giuseppe PTAL to have a second pair of e

[2021-02-03 12:46] PavelSosin-320 commented on #9166
Yes, I know This is 1. The issue of my ISP's DNS that is obviously doesn't work as DynDNS must work. I need some tricks to bypass it and use Quad9. 2. This is a Windows WSL bug: MS blindly believes that Windows runs on the Desktop staying on the desk and connected to the wall via modem and every user uses the single infrastructure and served by a single ISP  providing single available DNS. The ide

[2021-02-03 12:56] vrothberg commented on #9166
I think there is nothing we can do in this case. Users are free to change the default list to whatever suits them.  Changing it to only default to docker.io would break millions of users who rely on the configured `unqualified-search-registries`.

The main intention is to provide flexibility and prevent vendor lock in.  Only using Docker Hub is understandable for Docker but it is not very friendly

[2021-02-03 13:18] vrothberg commented on #9201
Thanks for reaching out, @millerthegorilla!

Can you elaborate on the "terminal sizing"? Is the Django terminal resized before the symptoms occur?

[2021-02-03 13:23] giuseppe commented on #9212
isn't it equivalent to `$ podman save alpine | sleep infinity`?  I am not sure we can do much about it

[2021-02-03 13:26] vrothberg commented on #9212
I concur.  I am closing the issue but we can continue the conversation.

@aojea , where should the saved image go to?

[2021-02-03 13:26] #9212 closed

[2021-02-03 13:26] rhatdan commented on #9212
Since we have a workaround and we really can not fix, I agree this shouldbe closed.

[2021-02-03 13:40] vrothberg commented on #9172
Opened https://github.com/containers/podman/pull/9217 to address the warning, thanks @afbjorklund !

[2021-02-03 14:30] aojea commented on #9212
@vrothberg the image is piped into the containerd storage, using `ctr --import -`

[2021-02-03 14:43] haircommander commented on #9211
technically that's not correct, but it will work. It's odd that both command and args are string slices, allowing for this behavior.

it would be more correct to have
[code]

[2021-02-03 14:45] vrothberg commented on #9212
@aojea, does that work?

[2021-02-03 14:49] aojea commented on #9212
I didn´t tried to do directly, this is used by KIND to preload images on the cluster
https://github.com/kubernetes-sigs/kind/pull/2041#issuecomment-768993462

So, basically it saves the output in the pipe, and in the other side of the pipe, it iterates through all the containers and copies the stream from stdin into ctr --import

[2021-02-03 14:55] vrothberg commented on #9212
Yes, that won't work. The data must be read immediately as it's holding the storage lock.

[2021-02-03 14:59] mheon commented on #9191
If we've lost track of them, `podman ps` won't work - you'll have to use the actual `ps` binary. Doing a `ps` and grepping for the command of containers that are in the Configured state would identify these.

[2021-02-03 15:01] vrothberg commented on #9211
Thanks @haircommander.  I'll take a look. This looks like a simple fix I can get in before the meetings.

[2021-02-03 15:13] droogmic opened #9219 "rootless exec: OCI permission denied"
/kind bug

**Description**

Trying to get podman rootless working in archlinux. <https://wiki.archlinux.org/index.php/Linux_Containers#Enable_support_to_run_unprivileged_containers_(optional)>

Containers can be started correctly, but exec does not. I think this worked when I first set podman up, but after a few days of tinkering it does not work anymore.

**Steps to reproduce the issue:**

1. `po

[2021-02-03 15:21] mheon commented on #9219
@giuseppe This look like a `systemd` cgroup issue, maybe?

[2021-02-03 15:47] millerthegorilla commented on #9201
No, the terminal is sized as normal, in the case of gnome terminal (I haven't used terminology for a while).
I don't resize it, the issue just happens normally.

[2021-02-03 15:53] baude commented on #9199
not sure whats going on there ... everything looks ok, i edited the settings and re-saved to see if the autobuilds start working again.

[2021-02-03 16:22] djgilcrease commented on #9137
Yes, everything works as expected now.

[2021-02-03 16:45] cevich commented on #8737
I'm not an Ubuntu expert.  Is there a way to force that to happen automatically at boot time?

[2021-02-03 16:45] vrothberg commented on #9137
Great, thanks! I am going to close it assuming it was temporary hiccup.

[2021-02-03 16:45] #9137 closed

[2021-02-03 16:59] afbjorklund commented on #9172
No worries, hope that you can get it fixed before the release.

[code]

[2021-02-03 17:05] #9206 closed

[2021-02-03 17:08] millerthegorilla commented on #9201
When using bpython as a shell for django, inside the container, I get the following error, which I think might be related:
[code]
It might be something completely different, but I thought I'd mention it since it seems to have issues with painting to the terminal.
Is it possible that the value for columns should be set but itsn't?
I'm afraid I don't know a great deal about the terminal setup and ho

[2021-02-03 17:11] edsantiago commented on #9083
@r-cheologist ping, have you had a chance to try @mheon's suggestions?

[2021-02-03 17:12] rhatdan commented on #5572
@haircommander @vrothberg Where are we on this one?

[2021-02-03 17:13] afbjorklund commented on #9172
I think @vrothberg accidentally said the magic word (as in: does **not** fix)

/reopen

[2021-02-03 17:14] rhatdan commented on #4646
@mtrmac Could you update the state on this one and the PRs?

[2021-02-03 17:14] edsantiago commented on #9056
@Smahane ping, have you had a chance to try buildah or skopeo to see if they present the same issues?

[2021-02-03 17:15] edsantiago commented on #9026
Closing as a likely dup of #7139

[2021-02-03 17:15] #9026 closed

[2021-02-03 17:15] rhatdan commented on #8128
@filippog Are you still interested in this?

[2021-02-03 17:16] rhatdan commented on #8872
I have begun writing a blog on building multi-arch containers, which I think would handle some of this.

[2021-02-03 17:21] rhatdan commented on #8856
BTW Privileged also turns off the read/only mounts on /proc and on /sys file system as well as masking over them.

[2021-02-03 17:22] rhatdan commented on #8856
@umohnani8 When the smoke clears on 3.0 you and I have to write a blog on using podman within other container runtimes. Specificall podman in podman and podman within CRI-O/Kubernetes.

[2021-02-03 17:23] rhatdan commented on #7370
Since this is a feature, we can put it off for a while until we stabilize 3.0

[2021-02-03 17:23] rhatdan commented on #6496
@nalind Any thoughts on this?

[2021-02-03 17:49] giuseppe commented on #9219
can you tell me the output for:

`ls -l /sys/fs/cgroup//user.slice/user-1000.slice/user@1000.service/user.slice/libpod-5e22f237b52c26e8845f98ae4e6bf8cdb8fe220ff9d2a904be308d311b4a043a.scope/container/cgroup.procs`

and

`cat /sys/fs/cgroup//user.slice/user-1000.slice/user@1000.service/user.slice/libpod-5e22f237b52c26e8845f98ae4e6bf8cdb8fe220ff9d2a904be308d311b4a043a.scope/container/cgroup.controll

[2021-02-03 18:09] baude commented on #8854
@tockar poke, do you have a reproducer i could use?

[2021-02-03 18:16] giuseppe commented on #9219
could you also try: `systemd-run --scope --user podman container exec exec_test echo TEST` ?

[2021-02-03 18:21] rhatdan commented on #8737
I would figure there is something like /etc/modules-load.d

[2021-02-03 18:23] rhatdan commented on #8737
https://www.cyberciti.biz/faq/linux-how-to-load-a-kernel-module-automatically-at-boot-time/
indicates

[code]

[2021-02-03 18:34] baude commented on #8788
can we close this issue?

[2021-02-03 18:34] baude commented on #8786
@rhatdan can we put this to bed?

[2021-02-03 18:36] baude commented on #8785
@jwhonce ptal

[2021-02-03 18:41] baude commented on #8279
im with @mheon

[2021-02-03 18:49] tbongiovani opened #9222 "podman build error creating new mount namespace"
**Is this a BUG REPORT**

/kind bug

operation not permitted from create directory

**Description**

**Steps to reproduce the issue:**

1.
root@32e35d5a8172:/azp# podman build   .
STEP 1: FROM ubuntu:20.10
STEP 2: USER 0
--> Using cache 8659dca2a86dd325d3033f5d58860e7731b8c0a8781fb9d98c8bcb6660f67c81
STEP 3: RUN mkdir app
error running container: error creating new mount namespace for [/bin/sh -c

[2021-02-03 18:56] lsm5 commented on #8704
@Ds894 @leftl could you try a `dnf clean all` and then retry installing?

[2021-02-03 18:57] baude commented on #7318
I looked at this today ... I observed that in the case of your YAML, the db container fails to run properly.

[code]

The second YAML provided from the article, works perfectly with latest 3.x code.

[2021-02-03 19:01] afbjorklund commented on #8788
There are still only static binaries available for podman-remote, not podman:

https://github.com/containers/podman/releases/tag/v2.1.1

https://github.com/containers/podman/releases/tag/v2.2.1

Apparently there are no binaries done for RC, so unclear if it is fixed or not ?

[2021-02-03 19:04] afbjorklund commented on #8788
The static build seems to be failing in CI:
https://cirrus-ci.com/task/6039928757813248

[code]

[2021-02-03 19:11] lsm5 commented on #8704
The stable repo ain't getting any 3.0 until I get green light from matt for v3.0.0

[2021-02-03 19:31] tjanez commented on #4123
@QiWang19, the thing that helped me solve the issue was to set:

[code]
so that GPG could ask me for my YubiKey's PIN to decrypt the credentials stored via `pass`.

Afterwards, listing worked as expected:

[code]

[2021-02-03 19:46] xrow commented on #9191
Like this? The are 430 shm mounts and 0-1 podman

[root@server005 ~]# mount | grep shm | wc
    430    2580   81128
[root@server005 ~]# ps -ax | grep podman
3227385 ?        Ssl    3:12 /usr/bin/podman --log-level=info system service
3277267 ?        Ssl    0:00 /usr/bin/conmon --api-version 1 -c 71c4474a0f3abc2236f345d36870a6d5a79a052f85398f07bf4c9f3d642e95c2 -u 71c4474a0f3abc2236f345d36870a6d5a7

[2021-02-03 19:51] rhatdan commented on #9193
Yup,  I guess we could add a --security-opt fips=disable or something like that if you are interested in opening a PR.  :^)

[2021-02-03 19:56] rhatdan commented on #9152
And does system_u has system_r?

What does `id -Z` show?

[2021-02-03 19:57] rhatdan commented on #8776
@giuseppe @vrothberg FYI ^^

[2021-02-03 19:58] rhatdan commented on #8521
Any chance you could try this with podman-3.0

[2021-02-03 20:01] smijolovic commented on #9152
$  seinfo -u system_u -r

Roles: 14
   auditadm_r
   dbadm_r
   guest_r
   logadm_r
   nx_server_r
   object_r
   secadm_r
   staff_r
   sysadm_r
   **system_r**
   unconfined_r
   user_r
   webadm_r
   xguest_r

Users: 1
   system_u

$ id -Z
sysadm_u:sysadm_r:sysadm_t:s0-s0:c0.c1023

$ seinfo -u sysadm_u -r
Roles: 14
   auditadm_r
   dbadm_r
   guest_r
   logadm_r
   nx_server_r
   object_r
   se

[2021-02-03 20:15] QiWang19 commented on #4123
@tjanez That works. Thanks!

[2021-02-03 20:15] mheon commented on #9191
And `podman ps` shows no running containers?

If so, that is 100% evidence that something is wiping Podman's state.

[2021-02-03 20:16] mheon commented on #9191
To verify that tmp path is in use, can you do a `podman info --log-level=debug` and provide the full output? That will help determine what might be doing this.

[2021-02-03 20:19] xrow commented on #9191
And podman ps shows no running containers? Yes

[code]

[code]

[2021-02-03 20:23] edsantiago opened #9224 "podman-remote: build: timeout + unexpected EOF [flake]"
This one is manifesting as flakes in the `podman exec preserves container groups with --user and --group-add` test, which is awkward because there are *two* other flakes in that test that I don't understand enough to file issues for.

The symptom is:
[code]
The ones I've confirmed so far:

## Podman exec [It] podman exec preserves container groups with --user and --group-add

* gce_instance:prior-

[2021-02-03 20:24] mheon commented on #9191
Alright. What I think is happening is that something (not Podman) is deleting `/var/run/libpod/alive` while Podman is still running. We use this file to detect system reboots, and on detecting a reboot will perform a state wipe. Podman itself will never remove that file, so it has to be something else. We have seen cases where this something is `systemd-tmpfiles`.

I recommend adding https://githu

[2021-02-03 20:27] mheon commented on #9222
Can you provide additional details on "Run docker in docker" - is Podman being run inside a container? If so, please provide more details on the outer container.

[2021-02-03 20:27] mheon commented on #9222
@nalind @TomSweeneyRedHat PTAL

[2021-02-03 20:29] xrow commented on #9191
The file was already there wiht different contents. See below. I added the file from git.

[code]

[2021-02-03 20:30] #8865 closed

[2021-02-03 20:30] droogmic commented on #9219
[code]

[2021-02-03 20:34] rhatdan commented on #9222
You can only run podman within a privileged docker container at this time.

[2021-02-03 20:36] rhatdan commented on #9191
Well you have to find what is blowing these files away.  This is not a Podman bug but most likely a systemd process or cron job that is cleaning up content in /tmp directory.  Not much Podman can do about this.

[2021-02-03 20:45] rhatdan commented on #8005
We have seen these type of errors many times, which gives us a clue on what could cause it.

If you just do podman rmi fedora, or better yet podman pull fedora, does that cleanup your images?

[2021-02-03 20:57] edsantiago commented on #9191
Could this be related to the `/var/run` vs `/run` mess?

[2021-02-03 21:02] cevich commented on #8737
Huh, really?  Okay, I would have bet money it wouldn't be *that* easy...nope, of course it's not.  Double-bad-news:

[code]

I searched all through that directory, up, down, and sideways.  There are no elevator modules of any kind, anywhere, not even `deadline`.  What we get is compiled in :cry:

Worse, it seems this is a google-customized kernel, so we can't jam  a module in or update from of a p

[2021-02-03 21:04] edsantiago commented on #8737
"Ten percent"? /me wishes it was ten percent. Typical recent result:

| type | distro     | user     |    local |   remote | container |
| ---- | ------     | ----     |    ----: |   -----: | --------: |
| int | fedora-32   | root     |    29:17 |    43:15 |     30:19 |
| int | fedora-33   | root     |    29:32 |    41:01 |     30:19 |
| int | ubuntu-2004 | root     |    38:58 | 01:04:58 |
| int |

[2021-02-03 21:06] mheon commented on #9191
Umm. Podman itself shouldn't care because they're linked to each other. My initial impression is no.

[2021-02-03 21:08] rhatdan commented on #9166
Correct it is up to each distribution to choose the list.  Fedora will stick to it's list.

I don't see this as a Podman issue.  If Fedora or Ubuntu get full support on WSL, then the shipped Podman should work.  If users install there own Podman from scratch or third party sites, it is there responsibility to get it all installed correctly.

Closing as I don't see this as Podmans issue.  Reopen if

[2021-02-03 21:08] #9166 closed

[2021-02-03 21:11] pclass-sensonix commented on #8005
I am sporadically seeing this issue as well on my Linux device when I pull power unexpectedly. I have a 'base image' on a seperate partition that I spin up a podman container against on boot using systemd. When this failure happens, the container fails to launch and I have to 'podman rmi' my base image and reload it from scratch to use my container. I haven't been able to figure out how to work ar

[2021-02-03 21:17] xrow commented on #9191
Hmmm ok my feeling is I need to provide a better reproducable use case. Even for myself. So far I am just seeing those things without knowing how.

One last question. I was mentioning i was using podman in podman. Could this be the cause of dispearing items?

[2021-02-03 21:23] philnalwalker opened #9226 "Document exact seccomp profile to use when running Podman inside a k8s container (CI container build use case)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We have Podman working with overlay to build containers on EKS Jenkins, however this is by way of granting the SYS_ADMIN capability. We want to eliminate granting SYS_ADMIN by way of utilizing a seccomp profile.

After doing a bit of Googling and reading similar threads on Github issues w

[2021-02-03 21:23] cevich commented on #8737
Oof!  Well it _was_ only 10%...must be that y'all added a few more tests into the mix :wink:

[2021-02-03 21:29] cevich commented on #8737
Note/Clarification: Rejigging our Ubuntu image build workflow is ***not*** going to be a fast solution to any issue.  For this BFQ/permission denied thing...a more test-local fix/workaround will be much faster (if maybe less desirable).

[2021-02-03 21:42] rhatdan commented on #9191
Any chance you are using "shared" on your volume mounts?

[2021-02-03 21:50] mheon commented on #9191
If some of your outer containers mount in `/var/lib/containers/` (or subdirectories) but not `/var/run/podman` that could be a cause

[2021-02-03 21:51] mheon commented on #9191
(By outer containers, meaning the containers that Podman is running inside)

[2021-02-03 21:53] rhatdan commented on #9226
The seccomp rules provided in containers-common /usr/share/contaniers/seccomp.json

Should allow buildah/podman build to run within a container.

the --isolation=chroot, basically eliminates some of the more privileged requirements required for setting up lots of namespaces. From a security point of view, we see this as you are already within a container, so want launch subcontainers. just use chr

[2021-02-03 22:04] rhatdan commented on #9201
COLUMNS seems to come from bash, not available via sh

[2021-02-03 22:08] mheon commented on #9201
Can you try forcing a resize by sending Podman a SIGWINCH?

[2021-02-03 22:15] rhatdan commented on #8786
I think we have answered this issue.

[2021-02-03 22:15] #8786 closed

[2021-02-03 22:15] philnalwalker commented on #9226
Hi @rhatdan I specifically tried the seccomp rules provided in containers-common /usr/share/contaniers/seccomp.json. I also pasted the file in the original issue. Is it possible there are some needed syscalls missing? Is there a good way for us to efficiently figure out what syscalls to grant?

[2021-02-03 22:16] rhatdan commented on #8785
A little late for podman 2.1.1 with Podman 3.0 about to release can we just close this issue?

[2021-02-03 22:17] rhatdan commented on #8279
Well I am going to close and risk this triggering again and giving @edsantiago the ability to say I told you so.

[2021-02-03 22:17] #8279 closed

[2021-02-03 22:29] rhatdan commented on #9152
Anything reported in the journal?

You got me.  Any idea @wrabcak @stephensmalley

[2021-02-03 22:41] rhatdan commented on #9226
The syscall that is missing should be listed in the audit.log or in the journal.

[2021-02-03 22:59] xrow commented on #9191
This is one test case about one S2I podman in podman build that adds one extra presistent shm layer to my maschine. This is sort of the response to @mheon and propsoing /var/run/podman to be added.

Nevertheless. The test case is not fully developed. I guess I need to supply something that is similar to what the build actually does when it is triggered over the podman API. Nevertheless the test ca

[2021-02-03 23:43] xrow commented on #9191
By the way my result from my test script looks liek this:

[code]

[2021-02-04 01:59] rhatdan commented on #9191
First off what is this for?

--volume /var/run/podman:/var/run/podman \

No reason to do this.

[2021-02-04 02:01] mheon commented on #9191
I would only do that if you are actually mounting `/var/lib/containers/` into the container to share host storage.

[2021-02-04 02:06] rhatdan commented on #9191
First I would not use /tmp for my images. I would use /var/lib/mycontainers or something like that on permanent storage.

This would at least eliminate something coming up and cleaning up /tmp.  Also /tmp is probably a tmpfs and storing lots of images there is probably not a great idea.

[2021-02-04 03:38] xrow commented on #9191
I would only do that if you are actually mounting /var/lib/containers/ into the container to share host storage.

@mheon yes I wanted to share. Plus else I get other errors.

Let me try to do and updated script.

[2021-02-04 03:39] xrow commented on #9191
@rhatdan --volume /var/run/podman:/var/run/podman was a response to the comment:
If some of your outer containers mount in /var/lib/containers/ (or subdirectories) but not /var/run/podman that could be a cause

[2021-02-04 06:13] max-arnold commented on #5580
Did another round of testing. Here is a json response diff between podman and docker:

`GET http://localhost/v1.35/containers/5d30a00aa13ee9335cf7d1b7bf6f983364ad1f78ed9f6de3711c3e33f4d3e832/json`

[code]

The NetworkSettings part (at the end of the diff) is almost identical, and that is good!

Then Salt tries to start the container:

`POST http://localhost/v1.35/containers/5d30a00aa13ee9335cf7d1b

[2021-02-04 08:10] InfRandomness opened #9228 "podman hanging on a lot of subccommands without logs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman looks like it hangs on my system when typing those commands :
podman auto-update
podman build
podman events
podman exec
podman images
podman import
podman info
podman inspect
podman load
podman login
podman logout
podman mount
podman pause
podman port
podman ps
podman pull
podman rmi
po

[2021-02-04 08:29] InfRandomness commented on #9228
After a bit of playing around with podman, I noticed that running those commands as root seems to work,
I am now wondering if this is not an issue related to selinux or an issue related to user permissions

[2021-02-04 08:57] sampie commented on #8521
Sure, where I can find the deb packages?

[2021-02-04 09:32] Luap99 commented on #9228
Do you have the `newuidmap` and `newgidmap` binaries on your system installed?
This sounds like https://github.com/containers/podman/issues/7890

[2021-02-04 09:43] InfRandomness commented on #9228
Yes, I have them installed.

I took advantage of the description of the issue you mentioned and did an strace :
https://susepaste.org/35177576

[2021-02-04 10:22] r-cheologist commented on #9083
Sorry for the delay.

    podman unshare mount | grep fuser-overlayfs

(after stopping the container) gives **NO** output.

    podman inspect --format '{{ .State.Status }}' <CONTAINER_HASH>

produces:

    exited

There were several updates over the last days (in the context of my Arch system), but the problem persists as described above.

[2021-02-04 10:38] vrothberg commented on #5572
No progress yet

[2021-02-04 11:38] ikke-t commented on #9089
@mheon I'd still like to keep this ticket open. It seems that with the way you described does not get udp packets in. The http traffic goes back and forth fine, but the dns queries being 53/udp do not end up into container. Container is running dns server.

container def .config/systemd/user/pihole-container-pod-pihole.service:

[code]

Now starting that with:
[code]

and firewall openings and for

[2021-02-04 11:44] chuanchang opened #9229 "Failed to run 'make run-docker-py-tests'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. make all

2. make run-docker-py-tests and select an image

**Describe the results you received:**
[code]

**Describe the results you expected:**
fix image path

**Additional information you deem important (e.g. issue happens only occasional

[2021-02-04 12:42] InfRandomness commented on #9228
I have tried to reproduce this on my deskop (which runs the same distro) and it works fine

[2021-02-04 12:52] Luap99 opened #9230 "Podman v3.0 fails to run a container on a readonly rootfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman run fails with `Error: error chowning container 01041b61625c64e34a849b974c5aa9dcc34377fd5025b9ee7fd629b2a0c5ad79 workdir to container root: chown /run/user/1000/test: read-only file system` when  I try to run a container with a read only rootfs.

This worked with `v2.2.1`.

**Steps to

[2021-02-04 13:09] abitrolly commented on #8786
Without labeling I can not access it from container on Fedora. Even if it is my app that needs this access.

[2021-02-04 13:14] abitrolly commented on #8786
Unfortunately, there is no filesystem isolation at volume level. There are no drivers for volume mappings that can implement more reliable access rules that other than a single SELinux label for everything.

Therefore to make my system usable without the risk of locking up my system, I need not just to detect if my automation scripts are given the home path to map as a volume, but also if there ar

[2021-02-04 14:42] Luap99 commented on #9169
This is definitely possible. I am currently working on #8910. With the changes there it should be a very trivial change to support network connect/disconnect for rootless.

[2021-02-04 14:49] mheon commented on #9089
This may be a known bug with the `slirp4netns` port handler - it has the advantage of preserving source IP, but it's inferior to `rootlessport` in most other ways. @AkihiroSuda @giuseppe Have either of you heard of slirp4netns port forwarding dropping UDP packets?

[2021-02-04 14:59] cevich commented on #8737
Ugh...what a complex spiderweb of a problem :confused:

[2021-02-04 15:54] rsommer opened #9232 "When using podman in gitlab ci, latest image is never pulled"
/kind bug

**Description**

When using podman as docker replacement in gitlab ci, latest images are never pulled.

**Steps to reproduce the issue:**

1. Setup a new docker-runner with docker executor, using podman via podman.socket

2. Execute a CI run on this runner using a simple image

3. Update the Image from another host, so that no local version is present

4. Execute another CI run -> the n

[2021-02-04 16:21] umohnani8 commented on #8930
This is a feature request, closing the bug.

[2021-02-04 16:21] #8930 closed

[2021-02-04 16:27] umohnani8 commented on #8855
No response from the reporter, closing.

[2021-02-04 16:27] #8855 closed

[2021-02-04 17:38] mheon commented on #8908
My first thought would be that the server does not have the environment variable set. Can you try running the service manually (`podman system service --timeout 0` will start the service with the socket at the default location) on a shell where you are sure the environment variable is exported?

[2021-02-04 17:48] terceiro opened #9233 "podman3.0rc2: podman build does not ese the cache in 3.0rc2"
/kind bug
I'm on Debian unstable, and was using podman 3.0 rc1 for some time. After I upgraded to 3.0 rc2, cache does not work anymore with `podman build` (or with buildah 0.19.3, using `buildah bud`). If I revert back to rc1, it works again, even if the previous build was done with rc2. That is, rc2 is able to write to the cache, but to read from it.

**Steps to reproduce the issue:**

With rc2:

[2021-02-04 17:50] terceiro commented on #9233
no, wait, there is something wrong with my example there. I will re-test this.

[2021-02-04 17:50] mheon commented on #9233
@rhatdan @TomSweeneyRedHat PTAL

[2021-02-04 17:53] terceiro commented on #9233
I was misled by the message saying that it's using the cache. It says that, but it's not. I updated the issue description accordingly.

[2021-02-04 18:02] rhatdan commented on #8940
Issue was explained and a work around was suggested, closing.

[2021-02-04 18:02] #8940 closed

[2021-02-04 18:08] rhatdan commented on #8903
@giuseppe @haircommander Any ideas?

[2021-02-04 18:12] #9211 closed

[2021-02-04 18:18] rhatdan commented on #8867
On Fedora 33, this works fine for me.
$ cat /tmp/Containerfile
FROM fedora
RUN yum -y install firefox
$ podman build -t firefox /tmp
...
$ podman run -ti --security-opt label=disable --rm -v /tmp:/tmp -e DISPLAY=:0 firefox /usr/bin/firefox

Firefox window shows up.

I had to disable SELinux separation.  But everything else worked.

I can also drop all caps except DAC_OVERRIDE, and it works.

$ pod

[2021-02-04 18:18] #8867 closed

[2021-02-04 18:20] terceiro commented on #9233
FWIW I cannot reproduce this with podman built from git and dependencies automatically managed by go, so this might be Debian-specific.

cc @siretart

[2021-02-04 18:21] rhatdan commented on #8985
Turn on the virt_use_nfs boolean and this will be allowed.

# setsebool -P virt_use_nfs 1

[2021-02-04 18:21] #8985 closed

[2021-02-04 18:24] rhatdan commented on #9226
BTW, We prefer to just use `buildah bud ` when running builds within a container.

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2021-02-04 18:30] terceiro commented on #9233
I tried building podman against buildah 1.9.3 (which is the version in Debian) and then I can reproduce this.

[2021-02-04 18:30] Luap99 opened #9234 "podman inspect ctr is broken after network disconnect"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After running network disconnect on a container `podman inspect` fails with `Error: network inspection mismatch: asked to join 1 CNI network(s) [foo-a], but have information on 2 network(s): internal libpod error
`

**Steps to reproduce the issue:**

1. `podman run --name test --network foo-a

[2021-02-04 18:32] rhatdan commented on #8894
Fixed in podman 3.0
[code]

[2021-02-04 18:32] #8894 closed

[2021-02-04 18:34] rhatdan commented on #8856
Since we have 3 other podman-in-container issues, I am going to close this one.  Please look for podman-in-container label and add comments there.

[2021-02-04 18:34] #8856 closed

[2021-02-04 18:38] rhatdan commented on #9191
I prefer to share /var/lib/containers as a readonly share rather then a read/write share.

I cover some of these topics here.

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2021-02-04 18:40] rhatdan commented on #9191
If you are sharing /var/lib/containers within the host then I believe that any containers run on the host will leak into the container, and this could prevent the unmount of the shm on the host, until the container exits.

[2021-02-04 18:43] rhatdan commented on #9191
Ok I got the leak.

# podman run --privileged -v /var/lib/containers:/var/lib/containers quay.io/podman/stable podman run alpine echo hello
hello

Causes the leak.

[2021-02-04 18:54] rhatdan commented on #9191
I am not sure I can stop the leak.

[2021-02-04 18:55] terceiro commented on #9233
I bisected this between buildah 1.19.2 and 1.19.3, and the first bad commit is

[code]

[2021-02-04 19:00] siretart commented on #9233
Upstream's release version 3.0-rc2 does indeed build [against buildah 1.19.2](https://github.com/containers/podman/blob/510a983a752a136a5df0bdbff9d14db0490956b2/go.mod#L13). However, [podman HEAD](https://github.com/containers/podman/blob/aaa86c68c045519085fe7b174b6adce5f8373ad6/go.mod#L13) builds against buildah 1.19.3.

Did we find a regression ahead of time?

[2021-02-04 19:02] vrothberg commented on #9233
@umohnani8 PTAL

[2021-02-04 19:15] terceiro commented on #9233
FWIW, if I bisect from the podman side, indeed the first bad commit is

[code]

[2021-02-04 19:19] umohnani8 commented on #9233
@terceiro found the issue, opening a PR with the fix in buildah. Thanks for finding this! I was using the `using cache` output to determine if the cache was being used or not. Going to transfer this issue to buildah.

[2021-02-04 19:47] rhatdan commented on #9222
We have multiple podman in container issues open, lets keep discussion in one place. #9015

[2021-02-04 19:47] #9222 closed

[2021-02-04 19:48] rhatdan commented on #9226
We have multiple podman in container issues opened lets have discussion in one place. #9015

[2021-02-04 19:48] #9226 closed

[2021-02-04 19:57] rhatdan commented on #9228
Does this hang?

$ podman unshare cat /proc/self/uid_map

[2021-02-04 19:59] rhatdan commented on #9199
Did this work?

[2021-02-04 19:59] rhatdan commented on #9181
Interested in opening a PR to add this functionality?

[2021-02-04 20:01] rhatdan commented on #9172
@afbjorklund Could you try again against the main branch?  To see if we get more info.

[2021-02-04 20:03] rhatdan commented on #9164
So this is not an issue, for us to fix, I am closing.  If I am mistaken please reopen.

[2021-02-04 20:03] #9164 closed

[2021-02-04 20:04] xrow commented on #9191
@rhatdan Ok meaning you could reproduce this now? You need no more help from my side?

[2021-02-04 20:04] #8764 closed

[2021-02-04 20:05] xrow commented on #9191
This there a wokraround? because actually I am using podman over the new API.

[2021-02-04 20:34] rhatdan commented on #8762
Seems to be working on

$ podman version
Version:      3.0.0-rc2
API Version:  3.0.0
Go Version:   go1.15.6
Built:        Fri Jan 29 18:06:12 2021
OS/Arch:      linux/amd64

[2021-02-04 20:34] #8762 closed

[2021-02-04 20:35] rhatdan commented on #8737
Since runc and crun have patches for this, I am going to close.

[2021-02-04 20:35] #8737 closed

[2021-02-04 20:36] rhatdan commented on #8719
rpm -q conmon
conmon-2.0.25-1.fc33.x86_64

Looks like this is available with podman  3.0.

[2021-02-04 20:36] #8719 closed

[2021-02-04 20:39] rhatdan commented on #9191
Why do you want to run a container with /var/lib/containers volume mounted into it?  I am trying to figure out how to prevent this.  Will be talking to kernel engineer later.

[2021-02-04 20:41] xrow commented on #9191
Actually I do not want this, but the same bug is happening when you trigger PODMAN over the API and have running podman inside. See https://gitlab.com/gitlab-org/gitlab-runner/-/issues/27119

[2021-02-04 20:41] rhatdan commented on #6259
This either needs volunteers to work on it, or we need guidance on priorities and funding from Red Hat to work on it.

[2021-02-04 21:16] cevich commented on #8737
***N/B:*** The `podman run blkio-weight test` [is currently disabled on Ubuntu because of this issue](https://github.com/containers/podman/blob/master/test/e2e/run_test.go#L521-L523).  Maybe we should keep this issue open until runc/crun updates are available so we can confirm, and remember to remove the `Skip()`?

[2021-02-04 21:34] #9234 closed

[2021-02-04 21:55] baude commented on #9199
working now, builds are flowing.

[2021-02-04 21:55] #9199 closed

[2021-02-04 21:58] baude commented on #5580
I suspect this issue is because the default network for docker is actually called default and on podman it is called podman.  If you want the default network, you could try not sending it (to Podman)

[2021-02-04 22:12] mheon commented on #5580
@baude I'm fairly certain `default` is not a network name, but rather a reserved word Docker uses to refer to whatever the current default network is.

[2021-02-04 22:13] mheon commented on #5580
We patched this elsewhere (I remember Dan working on the PR for it)

[2021-02-04 23:08] jwhonce opened #9238 "Refactor test/apiv2/rest_api/test_rest_v2_0_0.py"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

https://github.com/containers/podman/blob/master/test/apiv2/rest_api/test_rest_v2_0_0.py  has become unwieldy making backports and maintenance difficult.

**Describe the results you expected:**

The areas of concern, for example: images, containers vs pods, should be moved to other files. The

[2021-02-04 23:09] jwhonce commented on #9238
@mheon FYI

[2021-02-05 04:52] max-arnold commented on #5580
According to the diff, the default network for docker is called  `bridge`, and the network id is empty (for podman they are both set to `default`):

[code]

This is the whole API exchange between Salt and Podman:

[code]

I did a little bit of digging to see where the `"HostConfig": {"NetworkMode": "default"}` part comes from. Apparently, it is a default value in `docker-py`: https://github.com/do

[2021-02-05 05:25] max-arnold commented on #5580
I did a little bit more digging, and while Salt can't pass an empty NetworkMode (because of the default fallback value in `docker-py`), it can provide an explicit `network_mode` keyword:

[code]

This avoids the 500 error when starting the container:

[code]

And finally:

[code]

So I can call it a success! 🎉

[2021-02-05 06:38] afbjorklund commented on #9172
Yes, now the error looks much "better" now on podman master (b1bd126cd):

[code]

Just running towards a local server, so shouldn't be about network issues.
 
`./bin/podman system service --timeout=0
` 

[2021-02-05 08:17] giuseppe commented on #8903
how have you created the chroot environment?

Could you create a mount point for `/` (mount --bind / /)?

[2021-02-05 09:10] #9175 closed

[2021-02-05 09:41] #8697 closed

[2021-02-05 09:41] #9157 closed

[2021-02-05 09:45] vrothberg commented on #9172
Thanks for checking, @afbjorklund!

This smells like a race in the remote client. Resizing a "stopped" container won't work :)

[2021-02-05 09:50] AkihiroSuda opened #9239 "`podman build --jobs` is not parallelized"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build --jobs` is not parallelized

**Steps to reproduce the issue:**

Run `podman build --no-cache --jobs 0` with the following Dockefile
[code]

**Describe the results you received:**

The second `date` was delayed 6 seconds.

[code]

**Describe the results you expected:**

The secon

[2021-02-05 09:50] AkihiroSuda opened #9247 "`podman build --jobs` is not parallelized"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build --jobs` is not parallelized

**Steps to reproduce the issue:**

Run `podman build --no-cache --jobs 0` with the following Dockefile
[code]

**Describe the results you received:**

The second `date` was delayed 6 seconds compared to the first one.

[code]

**Describe the results

[2021-02-05 10:14] afbjorklund commented on #9172
Reliving old Docker bugs... It used to ignore WINCH signals, had to run `resize` in shell

[2021-02-05 11:01] mstublic commented on #8985
Thanks! I'm not able to test this right now as my Fedora 32 is hit by another known selinux issue:
https://bugzilla.redhat.com/show_bug.cgi?id=1818990

Still do you think virt_use_nfs should be part of default selinux policy for Fedora Workstation containers?

[2021-02-05 11:22] rhatdan commented on #9191
Turns out the issue is the podman inside of the container, sees its environment is a fresh boot, and launches a storage reset.  This causes the database of the external container to be reset and causes it to not cleanup properly.
Spent the day looking at leaked mounts, mount propagation ...  And problem ends up being a lot simpler.

[2021-02-05 11:23] xrow commented on #9191
Sounds cool... Im ready to test what ever you ship.

[2021-02-05 11:29] #9230 closed

[2021-02-05 11:33] rhatdan commented on #9191
You could just build the new command and test it.

Here is the command I used to test it. From within the podman github check out directory.

./bin/podman run -ti --rm --privileged -v ./bin/podman:/usr/bin/podman -v /var/lib/containers:/var/lib/containers quay.io/podman/stable podman run alpine echo hello

[2021-02-05 11:59] rhatdan commented on #9239
If you specify --jobs=3 does it work correctly?

[2021-02-05 12:01] rhatdan commented on #9098
Since this is now fixed in podman 3.0, I am going to close this issue. Reopen if I am mistaken.

[2021-02-05 12:01] #9098 closed

[2021-02-05 12:02] AkihiroSuda commented on #9239
No

[2021-02-05 12:04] rhatdan commented on #9019
I believe this issue is answered. Closing.  Reopen if I am mistaken.

[2021-02-05 12:04] #9019 closed

[2021-02-05 12:30] afbjorklund commented on #9098
It probably won't fix it for podman 2.0, so there one has to keep using the podman 2.0 client...

Might want to document those shortcomings, when running older servers ? (before version 2.1)

----

But seems to be working for podman 2.2, so as long as client is 2.1+ (**not** 1.9, **not** 2.0) it's OK.

[code]

[code]

If I understand the original bug report (above), this might be something to docu

[2021-02-05 13:03] filippog commented on #8128
Thank you for following up @rhatdan. I thought I was but realistically I haven't found the time, I'm ok to close the issue though

[2021-02-05 13:16] xrow commented on #9191
@rhatdan This there a nightly rpm I can use for testing or do I need to setup a build environment for testing? I can`t find a binary download soemwhere.

[2021-02-05 13:24] xrow commented on #9191
@rhatdan I do have additional questions and one for a supported rh customer of mine here in Germany. In what containtertools release will planned backport be available?

Next towards testing. Do I need to update just the binary in the container or both including the one on the host?

[2021-02-05 13:52] tmds commented on #9199
great, thanks!

[2021-02-05 14:51] baude commented on #5580
if you good, mind closing this?

[2021-02-05 15:23] baude commented on #8577
@jwhonce ptal

[2021-02-05 15:24] giuseppe commented on #8944
I am not able to reproduce locally using the reproducer above so I suspect it is something related to the different environment.

I am going to close since there was no feedback for more than 15 days.  Please reopen if the issue still persists and there are additional information that can help us find the reason for the failure.

[2021-02-05 15:24] #8944 closed

[2021-02-05 15:30] DaniBet opened #9241 "MongoURL outside container"
Hello,

I have two kube files, one for mongo and one for another application.

In the second kube deployment file, I have to specify the mongo url. In kubernetes it is something like <podname>.<namespace>.svc.cluster.local . But here how can I specify it? It doesn't seem to work with the container name or podman:container_name.
[code]

[2021-02-05 15:48] mheon commented on #8524
@srcshelton We recently found and fixed a bug in Conmon where it would dump core in some cases when launching the cleanup process. Can you test again with the latest Conmon tag, v2.0.26?

[2021-02-05 15:57] mheon commented on #9241
@baude Is this something that dnsname would handle?

[2021-02-05 16:02] baude commented on #9241
are you wanting this to work soley in podman or also in kube?

[2021-02-05 16:08] srcshelton commented on #8903
It's basically an entire 64bit image extracted to a directory rather than living on an SD card/hard drive.  I've then got a script which (bind) mounts the needed directories from the running system into the choot, including such things as devtmpfs, proc, sysfs, etc.

I have to admit I've not tried (can you mount a directory directly onto itself!?) - I'll give this a try ASAP...

[2021-02-05 16:09] srcshelton commented on #8524
Sure thing - let me get this built now!

[2021-02-05 16:45] giuseppe commented on #5623
does the issue still exist with ` -v /dev/:/dev:rslave --mount type=devpts,destination=/dev/pts`?

I think we should document this behavior, but not make it the default as we expose all devices to the container, even if unprivileged

[2021-02-05 17:36] DaniBet commented on #9241
Only in podman. The both kube files are used only in Podman.

[2021-02-05 17:48] rhatdan commented on #8737
Lets just open a PR to remove the skip.

[2021-02-05 18:16] rhatdan commented on #9191
podman 3.0 will be in RHEL8.4 with this fix.

You only need the new podman inside of the container.

[2021-02-05 18:17] rhatdan commented on #9191
Currently we don't make new versions available for binaries, although you should be able to get a new version of podman rc3 if this fix gets in.

[2021-02-05 18:17] xrow commented on #9191
ok I will test when i have access...

[2021-02-05 18:53] rhatdan commented on #8786
No, if you are looking to share your home directory with containers or between containers, then disable SELinux separation.
--security-opt label=disable

Or use udica.

[2021-02-05 18:53] mheon commented on #8710
Fix has merged

[2021-02-05 18:53] #8710 closed

[2021-02-05 19:20] rhatdan commented on #8880
So --noheader would just not create these two lines in the spec file?

[code]

[2021-02-05 19:39] rhatdan commented on #8985
No because I am not sure that many people share content with their VMs and Containers via NFS.

[2021-02-05 19:50] #8128 closed

[2021-02-05 20:00] rhatdan commented on #8575
If podman --privileged or podman --security-opt apparmor:unconfined do not fix this, then some other entity is blocking podman, and podman is not doing it by itself.

I don't believe this is a podman issue, but something else on your system.  No one else has reported problems with Apparmor and Podman. So I believe it is a configuration problem.  If you get this to happen on another system, reopen

[2021-02-05 20:00] #8575 closed

[2021-02-05 20:02] rhatdan commented on #8521
Not released to Debian yet, should be in the next couple of weeks.

Podman 3.0 does a better job of using ~/.config/containers/storage.conf and I believe this bug is fixed there.  Reopen if I am mistaken.

[2021-02-05 20:02] #8521 closed

[2021-02-05 20:04] rhatdan commented on #8417
We have a lot of bugs/issues asking about Podman in a container.  We are working on a blog/paper to describe the best practices on running podman in different kinds of containers, and consolidating all issues looking at podman in a container into a single issue.
https://github.com/containers/podman/issues/9015

[2021-02-05 20:04] #8417 closed

[2021-02-05 20:07] rhatdan commented on #8545
@giuseppe is this us setting up cgroups incorrectly in rootless mode on cgroups V1?

[2021-02-05 20:10] rhatdan commented on #1671
I am going to close since this is the only time we have ever hear about this issue over many years.

[2021-02-05 20:10] #1671 closed

[2021-02-05 20:13] rhatdan commented on #5623
SELinux will also block some of the access to devices which could cause spurious AVCs.

[2021-02-05 20:28] mheon commented on #9083
Alright. Exited indicates that we successfully tore down the network stack, so that idea's a bust.

Can you try adding the `--net=slirp4netns:port_handler=slirp4netns` option to your `podman run` commands and see if that resolves it?

[2021-02-05 20:29] mheon commented on #7360
I wonder if Conmon 2.0.26 has resolved this - will re-test with it.

[2021-02-05 20:36] srcshelton commented on #8785
[code]

... it's not fixed in RC2 either :(

[2021-02-05 20:44] abitrolly commented on #8786
Am I reading it correctly that there is no way to figure out if running `podman -v ...:Z` would cause remapping (loss of previous values) of SELinux label for some files under the current tree?

[2021-02-05 20:52] srcshelton commented on #9164
Not worth re-opening this issue for, but perhaps a clearer error message which at least mentions `podman system renumber` might give any user hitting this a clearer indication of how to solve the problem?

[2021-02-05 20:59] rhatdan commented on #8786
:Z or :z tells podman to force the label to be container specific.  There is no attempt at knowing the ramifications of this from the Podman point of view.  Except for some rudimentary attempt to block certain directories, that we know are a mistake.

Looking at the existing labels, is not something Podman could do, or will do, since the labeling is arbitrary.  And not static across all distributi

[2021-02-05 21:07] rhatdan opened #9249 "We need to get logs testing to pass with journald driver."
We attempted to switch default to journald, but tests were blowing up.

We need to fix these and to double the logging tests to run on both k8s_file and journald.

[2021-02-05 21:08] rhatdan commented on #9249
@ashley-cui Once you get your secrets merged, I would like you to work on this, so we can change the default to journald.

[2021-02-05 21:11] mheon commented on #8785
@jwhonce assures us that it will be ready for 3.0 final - we apparently need a revendor of containers/common with his patches, and then a fresh patch to Podman on top of that.

[2021-02-05 21:42] Smahane commented on #9056
I'm not familiar with buildah/skopeo. So far I'm getting this error bellow. I will need to google a bit

(base) bash-4.2$ buildah pull docker-daemon:hello-world
Error during unshare(CLONE_NEWUSER): Invalid argument
User namespaces are not enabled in /proc/sys/user/max_user_namespaces.
ERRO error parsing PID "": strconv.Atoi: parsing "": invalid syntax
ERRO (unable to determine exit status)

[2021-02-05 23:59] philnalwalker commented on #9226
@rhatdan The seccomp profile you linked Dan actually worked. I made the mistake of removing CAP_SYS_ADMIN from the pod thinking that I did not need that anymore when using the seccomp profile. For anyone else facing this issue you need both CAP_SYS_ADMIN in the securityContext and the appropriate seccomp metadata annotation.

Thanks you for the feedback on using buildah bud over podman. Why do you

[2021-02-06 03:23] #5580 closed

[2021-02-06 04:28] leftl commented on #8704
@lsm5 apologies for the late response! Looks like the issue still exists on my VM, even after running `clean all`. I'll try spinning up a fresh install of 8_Stream and give it another go.
[code]

[2021-02-06 04:41] xcffl opened #9250 "Expose `--dependency` for `podman run`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

There's already a field in the container metadata (`podman inspect xxx`) called `Dependencies`, which could perfectly solve the problem of container dependency (e.g. apps should be run after the database). But there's no such way to add dependency when create the container. The only place

[2021-02-06 08:33] marusak opened #9251 "Rootless API not usable right after image is deleted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In Cockpit tests we saw one test failing way too many times so I played with it. It is timing issue, possibly some race as sleeping just one second resolves this.

**Steps to reproduce the issue:**

Prerequisites:
- When you start make sure that rootless service is not running
- Make sure tha

[2021-02-06 08:56] bharath-123 commented on #8788
My apologies. My gmail account storage had filled up and I did not receive these notifications.

We have found a decent workaround installing podman for our use case. But it would be really useful if podman had static binaries available so that we can easily script server bootstrap programs with podman. Podman is useful as it is relatively agnostic to the container runtime.

We can close this issu

[2021-02-06 08:56] #8788 closed

[2021-02-06 14:55] riyad commented on #5386
Because @matejvasek asked over in another PR:

I've put together some scripts and documentation on how to run the docker-py integration tests against Podman.
Please have a look at https://github.com/riyad/podman-integration-test-utils

I hope someone finds it useful. :smiley:

[2021-02-07 00:24] Kiritow opened #9252 "podman stats not working, returns cgroup deleted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman stats` not working. Using `root`, `podman stats` returns `Error: unable to load cgroup at /machine.slice/machine-libpod_pod_8cbc0cae539eb254c64e9fb5a613b151ed364c351083af55f5437fa4661e217f.slice/libpod-3b221f7e8b39f1e85111d88e7e8e864f7acbca8a6b880504cbd34793a72e8997.scope/init.scope:

[2021-02-07 01:32] onlyjob opened #9253 "3.0.0~rc2, 2.1.1: rootless Podman cant run "expect" (The system has no more ptys.) [regression]"
Since few releases ago (going several weeks back) I can't (re-)build a particular container image any more due to `expect` binary failing (in `spawn` command) as follows in rootless mode:

    The system has no more ptys.  Ask your system administrator to create more.

(Formerly this container image was building fine by the older release of Podman).

[_expect(1)_ man page](https://manpages.debian.

[2021-02-07 02:48] mheon commented on #9253
Can you provide additional details on how you're launching Podman - an exact command line to reproduce would be greatly helpful.

[2021-02-07 05:14] onlyjob commented on #9253
Something like `podman build --no-cache --rm --force-rm -t centos7-app .`

Build script invokes `expect` script that fails... It is a straightforward script:

[code]

It is invoked as `runuser -u appuser /var/tmp/appsetup-linux.expect` during container build.

[2021-02-07 07:14] marusak opened #9254 "`build` fails on `bpf create`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This might be problem with the way we prepare our environment, but it may indicate problem in rawhide.
If the former, hopefully we can edit our approach.

Anyway, `podman build` is failing on:
[code]

**Steps to reproduce the issue:**

1. Take basic Fedora-33
2. Install some packages from raw

[2021-02-07 08:45] chuanchang opened #9255 "many apiv2 test cases don't work well on RHEL 8.4"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. make all

2. make localapiv2

**Describe the results you received:**
[code]

**Describe the results you expected:**
fix them.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman versio

[2021-02-07 11:11] InfRandomness commented on #9228
Hi, sorry for the late answer,

yes it does

[2021-02-07 12:17] rhatdan commented on #9056
You are on a RHEL7 box and have to enable the /proc/sys/user/max_user_namespaces in order to use user namespace for rootless podman or rootless buildah.

Could you try to do these commands as root, and see if they work with your proxy?

[2021-02-07 12:19] rhatdan commented on #8779
Still in holding pattern.  We would like to really push this forward once podman 3.0 is released.

[2021-02-07 12:21] rhatdan commented on #8559
@vrothberg Since this involves Shortnames can you take a look?

[2021-02-07 12:22] rhatdan commented on #8874
Baude this seems like something in your area.

[2021-02-07 12:23] Friz-zy opened #9256 "Podman v3 miss all registries except listed in short names"
/kind bug

**Description**

Podman at least version 3 from testing repo comes without `/etc/containers/registries.conf`. As a result it doesn't know anythin about any registry and images except listed in `/etc/containers/registries.conf.d/shortnames.conf`

**Steps to reproduce the issue:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package inf

[2021-02-07 12:27] Friz-zy opened #9257 "Podman v3 can't pull any image because of default policy"
/kind bug

**Description**

Podman show an error while trying pull any image from any public registry like docker.io or registry.fedoraproject.org

**Steps to reproduce the issue:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest version

[2021-02-07 13:22] Friz-zy commented on #9257
Also it's affect even layers copying between builds:
[code]

In podman v2 `/etc/containers/policy.json` just contain something like
[code]
if I right remember, so I did it for v3 too as a hotfix

[2021-02-07 13:34] srcshelton opened #9258 "Additional `podman stats` metrics"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be really helpful if additional column(s) could be added to those available when specifying custom `podman stats` output to indicate:

* maximum/high-water-mark memory usage;
* Average CPU usage (since started in in a given period);
* total CPU time;
* average I/O reads/second;
*

[2021-02-07 16:36] mheon commented on #9256
Which testing repository are you referring to?

[2021-02-07 16:37] mheon commented on #9257
@vrothberg PTAL

[2021-02-07 16:51] vrothberg commented on #9257
This looks like a packaging issue. @lsm5 PTAL.

I saw the same issue on IRC last week but I couldn't reproduce.

[2021-02-07 17:58] PavelSosin-320 opened #9259 "Podman info shows cgroup manager cgroupfs"
It's possible to configure different cgroup managers, systemd and cgroupfs for the root and rootless users. Is it really possible? /kind bug

1. Configure cgroup manager = systemd as by default
2. Ligin as root user
3. execute podman info - group manager is shown as systemd
4. Login as non-root user, i.e.pavel
5. exec podman info

**Describe the results you received:**

[pavel@MSI-wsl ~]$ podman i

[2021-02-07 19:35] Friz-zy commented on #9256
@mheon `https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/xUbuntu_${VERSION_ID}` from [the install manual](https://podman.io/getting-started/installation)
[code]

Stable version (v2) come with `/etc/containers/registries.conf` that contain docker.io and quay.io.
Test packages, however, miss it.

So this looks like a packaging issue, like #9257

[2021-02-08 08:22] lachlan2k opened #9260 "Podman 3.0.0-rc2 --iidfile Output is Incomptable with docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

From my understanding, one of the goals of Podman 3 is to [provide docker-compose compatibility.](https://www.redhat.com/sysadmin/podman-docker-compose) However, Podman's `--iidfile` output is not in the format docker-compose expects, and will cause `docker-compose build` to fail.

For contex

[2021-02-08 09:33] gbraad opened #9261 "Podman IN Docker works for Fedora, but not CentOS 8"
Have been trying to get Podman IN Docker, which was no problem with the current Fedora 33; by changing the cgroup_manager, event_logger and the storage driver. However, when performing the same steps for CentOS 8 I kept having issues with iptables.

/kind bug

**Description**

**Steps to reproduce the issue:**

1. I create a Pind container image for CentOS: https://github.com/gbraad/pind-images/bl

[2021-02-08 10:02] r-cheologist commented on #9083
Adding `--net=slirp4netns:port_handler=slirp4netns` to the `podman run` commands does **not** make it work - the error now changes to `This site can’t be reached. The webpage at http://localhost:8787/ might be temporarily down or it may have moved permanently to a new web address. ERR_SOCKET_NOT_CONNECTED`, though.

[2021-02-08 10:09] vrothberg commented on #8880
Exactly.

[2021-02-08 10:15] vrothberg commented on #9260
Thanks for opening the issue, @lachlan2k!

I think that changing the output to be compatible with Docker is the right thing to do.

[2021-02-08 11:16] yrro opened #9264 "3.0.0rc2 regression: can't create conatiners - socket paths too long"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't start new containers with 3.0.0rc2. Previously (<= 2.1.1) this was not a problem.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The path `/run/user/876099160/libpod/tmp/socket/8b370207625cd9ab38eaa5bb142ff3077ef65f307b4ae8e6b8ac3668d8f3d4ae/attach

[2021-02-08 11:17] yrro commented on #9264
https://github.com/containers/podman/pull/1704 sounds similar but is quite old - hence this seems like a regression

[2021-02-08 11:20] yrro commented on #9264
With podman 2.2.1 the sockets are called:

[code]

i.e. the socket path is truncated to 108 bytes (including the NUL terminating byte).

[2021-02-08 11:27] vrothberg commented on #9260
Opened https://github.com/containers/buildah/pull/2984 to address the issue.

[2021-02-08 11:31] yrro commented on #9264
Probably actually a dupe of https://github.com/containers/podman/issues/8798

[2021-02-08 11:44] yrro commented on #9264
...  maybe not. As far as I can tell, https://github.com/containers/podman/pull/8933/files is already present in 3.0.0-rc2.

Delving in with strace, I can see...

[code]

... which probably corresponds to https://github.com/containers/podman/blob/master/libpod/oci_attach_linux.go#L32 so maybe whatever is supposed to create that socket is no longer able to do so.

[2021-02-08 11:46] yrro commented on #9264
If I create the container detached...

[code]

Note the socket _is_ present but it's called `atta` like it was under Podman 2.2.1!

And this explains why I can't attach to it:

[code]

i.e., the socket is created with a truncated path, and the attach operation fails because it uses the untruncated path.

[2021-02-08 12:06] gbraad commented on #9259
You are running WSL, so can you share the config you are using `/etc/containers/containers.conf` as the change to use `cgroupfs` is needed as WSL does not use systemd (but a simple init replacement when bash is started). If you are systemd how was this configured? or are you using podman-remote? Some information here is missing or confusing

[2021-02-08 12:29] yrro commented on #9264
Aha, if I upgrade conmon (from 2.20.20 to 2.20.25) then the `attach` socket is created with its full path and podman can now attach to it. Sorry for the noise!

[2021-02-08 12:29] #9264 closed

[2021-02-08 12:35] edsantiago commented on #9229
The `run-docker-py-tests` target requires setting `$DOCKERPY_IMAGES` and `$DOCKERPY_TEST` environment variables. There is no indication of what those should be.

The `run-docker-py-tests` target was added in #4832. Although that PR is owned by @baude, that particular commit (d924494f5) was by @jwhonce. It looks like those environment variables are part of his local setup, but (according to `git lo

[2021-02-08 12:47] edsantiago commented on #9254
This is [RHBZ#1920857](https://bugzilla.redhat.com/show_bug.cgi?id=1920857)

[2021-02-08 13:10] giuseppe commented on #9259
rootless on cgroupv1 cannot really use cgroups, it is not safe to delegate cgroup v1 to unprivileged users.

If you want to use cgroups as rootless user you need cgroup v2.

I am going to close the issue but feel free to add more comments

[2021-02-08 13:10] #9259 closed

[2021-02-08 13:45] vrothberg commented on #8387
@XinRedhat, can you try with a more recent version of Podman (e.g., v2.2.1)?

[2021-02-08 13:50] vrothberg commented on #8972
My hopes are high the flake has been fixed with the latest conmon v2.0.26 (currently in testing for F3{2,3}).

[2021-02-08 13:55] matejvasek commented on #5386
@riyad nice, I'll try it out.

[2021-02-08 13:57] martinpitt commented on #8751
This bug is still in Fedora 33, upstream we have an [ugly hack](https://github.com/cockpit-project/cockpit-podman/blob/master/Makefile#L162) for it, and  downstream it still [breaks tests](https://osci-jenkins-1.ci.fedoraproject.org/job/fedora-ci/job/dist-git-pipeline/job/master/17659/testReport/(root)/tests/cockpit_podman/). Any chance that this could be fixed in Fedora 33? Thanks!

[2021-02-08 14:22] baude commented on #8751
it should come out with podman v3 which is in rc3 right now

[2021-02-08 14:36] baude commented on #8874
that is a scary thought

[2021-02-08 14:45] mheon commented on #9261
@rhatdan @umohnani8 Here's another in-container bug for you folks

[2021-02-08 14:49] mheon commented on #9083
Can you confirm that this is only on the second invocation of Podman, as it was before? Or is this for every invocation of Podman now?

@AkihiroSuda PTAL

[2021-02-08 14:56] edsantiago commented on #9224
Bunch of new ones right after I made the initial post:
* gce_instance:fedora : int remote fedora-33 root host
  * PR #9113
    * [02-03 11:48](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6298835560431616/html/int-remote-fedora-33-root-host.log.html#t--podman-exec-preserves-container-groups-with---user-and---group-add--1)
* gce_instance:prior-fedora

[2021-02-08 15:07] baude commented on #8673
network prune is merged.

[2021-02-08 15:07] #8673 closed

[2021-02-08 15:08] PavelSosin-320 commented on #9259
@giuseppe The issue for me is that I use WSL Fedora33 distro tricked to use systemd. This required to start distro differently once in the "boot" mode using genie -s and then in the "login" mode via WT using genie -l . The cgroup manager is configured globally as systemd. But podman info shows different values for the root and non-root users. Everything else works as expected in the root and rootl

[2021-02-08 15:19] mheon commented on #9253
@TomSweeneyRedHat PTAL

[2021-02-08 15:21] baude commented on #9241
@DaniBet Here is how I do it with a little commentary around it.

In Podman, communication between Pods (disregarding containers here because the kube functions are always pods) can be done through a CNI plugin called `dnsname`.  However, dnsname is not enabled on the default Podman network (following docker's lead here).  This is further complicated by the fact that play kube will always use the

[2021-02-08 15:21] r-cheologist commented on #9083
Yes I followed exactly my recipe above and end up with a running non-localhost:8787 accessible container from the new image.

[2021-02-08 16:35] #6510 closed

[2021-02-08 18:34] mccv1r0 commented on #7415
CNI doesn't and never did use `nat64` and I doubt it ever will.  I'm confused why `nat64` was brought up at all.

I took the exact config you used above, and change a few names to `xxx` so as to not conflict what what I already have running.  Note this config is not dual stack, just IPv6.

[code]

I don't have any  problem.  I used port 8080 since this node already has a web server on 80, and I ma

[2021-02-08 18:50] rugk opened #9271 "Error: cannot find newuidmap: exec: "newuidmap": executable file not found in $PATH"
/kind bug

**Description**

I cannot run any podman command anymore.
It just errors with the error described below and in the title.

**Steps to reproduce the issue:**

I don't know what I've changed. I've changed nothing.
Just run ` podman version`.

Maybe the cause could be I did not properly shut down the system due to some other errors, so some file is corrupted? I have no idea.

Also toolbox

[2021-02-08 18:53] mheon commented on #9271
Is the `newuidmap` binary available? What's the output of `which newuidmap`?

[2021-02-08 20:11] matejvasek commented on #9255
@chuanchang isn't there any process using 8081 on you machine by any chance?

[2021-02-08 21:28] rhatdan commented on #9253
@onlyjob Could you try this against buildah in both rootful and rootless mode.  Also have you tried this against the podman 3.0 rc?

[2021-02-08 21:40] photoszzt opened #9276 "Fail to generate swagger.yaml"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Fail to generate swagger.yaml

**Steps to reproduce the issue:**

1. get the go-swagger with version v0.26.1
2.  make swagger

2.

3.

**Describe the results you received:**
swagger generate spec -o swagger.yaml -i tags.yaml -w ./ -m
2021/02/08 15:25:23 WARNING: Missing embedded parser for a

[2021-02-08 21:52] rhatdan commented on #5278
@cevich Any update on this?

[2021-02-08 21:54] rhatdan commented on #9252
Could you try this on the main branch or podman 3.0.

We have made some changes to allow stats to work on systems that do not enable all of the cgroups stats attempts to read.

[2021-02-08 21:54] rhatdan commented on #9252
I believe it is fixed in main branch and 3.0.  Reopen if I am mistaken.

[2021-02-08 22:02] rhatdan commented on #9228
Well I have no idea what is going on.  Have you tried to reboot this system, or have you tried this with a different account?

[2021-02-08 22:03] rhatdan commented on #9228
Is there anything special about your homedir?  IE NFS based?

[2021-02-08 22:04] rhatdan commented on #9258
Well PRs welcome.

[2021-02-08 22:09] rhatdan commented on #9257
That file is shipped as part of containers-common,
 rpm -qVf /etc/containers/policy.json

[2021-02-08 22:15] matejvasek opened #9277 "Missing info in body for Docker APIv2 push endpoint"
Podman returns 200 and empty body upon successful push.
Docker however returns 200 and non empty body.
The body looks like:
[code]

[2021-02-08 22:18] matejvasek commented on #9277
I would like to at least receive digest.

[2021-02-08 22:21] rhatdan commented on #9254
Looks like a kernel issue.

[2021-02-08 22:28] liewegas commented on #9096
Thank you, everyone!

[2021-02-08 22:45] rhatdan commented on #9271
This looks like for some reason shadow-utils is not installed or not installed correctly
rpm -qV shadow-utils

[2021-02-08 22:56] InfRandomness commented on #9228
Yes, I have tried rebooting (multiples times even), I haven't tried using another user, will report back on that.

I have a regular btrfs root partition with nothing special about my homedir

[2021-02-09 00:01] lachlan2k commented on #9260
Awesome! Thanks for the quick turnaround -- the format is as expected and docker-compose is now working perfectly for me.

[2021-02-09 00:01] #9260 closed

[2021-02-09 06:13] PavelSosin-320 opened #9278 "repository"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2021-02-09 06:43] PavelSosin-320 opened #9279 "Registry selection dropdown contains both valid and invalid registries"
**Description**
In the case when not fully qualified image name is used in the run and pull commands the dropdown list contains both valid and invalid proposals:
Already login-in, not yet login-in, that allow anonymous access, those require authentication, accessible, not accessible, etc.   The selection of one of the registries from the list causes arbitrary error message and unpredictable result

[2021-02-09 07:12] pendulm opened #9280 "rootless service not work with systemd socket activation"
/kind bug

**Description**

podman system service works broken in rootless mode, not get socket from systemd user session, and a lot of noise fill in the system log because system service restart continuously.

**Steps to reproduce the issue:**

Run command as a **non-root user**, so podman  run in rootless mode

1.  $ systemctl --user start podman.socket

2. $ nc -U /run/user/$UID/podman/podman.s

[2021-02-09 07:23] afbjorklund commented on #9280
I think this is normal, since the podman service has a 5 second timeout by default.

`podman system service --timeout 5000`

[2021-02-09 07:26] pendulm commented on #9280
I dig into this bug further, and I found the root in [pkg/systemd/activation.go](https://github.com/containers/podman/blob/19507d0ffe8cda0a69f056838556f471fd9e61fa/pkg/systemd/activation.go#L10)

In rootless mode, podman fork&exec a podman process in new user-namespace,  and systemd pass LISTEN_PID as pid of the parent, so this check breaks:
[code]

But in root mode,  no subprocess be forked, so s

[2021-02-09 07:38] pendulm commented on #9280
yep. podman exit after timeout is normal as expect:
  when traffic come in, systemd activate the service, and when idle time, the service shutdown.

but with the bug, thing go wrong:
  1. when traffic come in,  systemd activate the service, but podman service fail to get the socket, so create the socket by it self
  2. no traffic go in the new created socket, podman service shutdown after timeout

[2021-02-09 08:18] realJayNay commented on #8086
I am also experiencing this issue on Podman version 2.2.1, when pressing `Ctrl-C` to shutdown a container that was started via `podman run`. Consistently reproducible.

I can confirm that the issue does not occur when the container is started via `podman run -it`.

[2021-02-09 08:19] giuseppe commented on #9259
how does "ls /sys/fs/cgroup"?  If the system is using cgroup v1 then rootless cannot use it (neither systemd or cgroupfs) and it just fallbacks to cgroupfs

[2021-02-09 08:20] PavelSosin-320 commented on #9279
Further consideration: on the top of this correction, if filtered proposed registry list has only 1 entry the is no need in the visualization of UI, and the command can proceed with [INFO] message. It will be good for the test automation because simple bash script:
podman login
podman pull
podman run
do tests
podman logout

can be used for unit testing.

[2021-02-09 08:41] vrothberg commented on #9256
@lsm5 PTAL

[2021-02-09 08:50] vrothberg commented on #9279
We've been discussing this behavior in detail in another issue already. The decision of which registries are in the `unqualified-search-registries.conf` in `/etc/containers/registries.conf` is up to each distribution. Fedora has a different list than RHEL, same for OpenSUSE.

Please refer to the blog on short-name aliasing (https://www.redhat.com/sysadmin/container-image-short-names) or the docume

[2021-02-09 08:50] #9279 closed

[2021-02-09 08:51] #9278 closed

[2021-02-09 10:00] PavelSosin-320 commented on #9279
@vrothberg No I want to use more than one. But I don't want to stuck with secured registries without authorization. When I develop a test I can't edit the configuration inside before_all and after_all methods.  I also want dev, test, and rel environment separation.

[2021-02-09 10:11] vrothberg commented on #9279
For testing, you could have multiple local config files and use the `REGISTRIES_CONFIG_PATH` environment variable. Would that work in your environment?

[2021-02-09 10:24] vrothberg commented on #8854
Closing due to inactivity.

We can reopen once we have a reproducer.

[2021-02-09 10:24] #8854 closed

[2021-02-09 10:24] vrothberg commented on #8897
Thanks for opening the issue, @fcrozat!

I'll take a look.

[2021-02-09 10:56] PavelSosin-320 commented on #9279
@vrothberg If registry configuration will work as described in the old [Atomic Insecure times of users and support in the future](https://www.projectatomic.io/blog/2018/05/podman-tls/) it will definitely work. But id doesn't solve the issue that the dropdown should not show invalid options or should not allow their selection (inactive). Podman login --user-info does the probe and easily save the t

[2021-02-09 11:45] vrothberg commented on #9279
@PavelSosin-320, do you consider a registry to be invalid when there are no local credentials for it?

[2021-02-09 11:52] chuanchang commented on #9255
The port 8081 is used by restraintd on the RHEL-8, I tried to kill restraintd process,
and it works well for me now,

[code]

[2021-02-09 11:52] #9255 closed

[2021-02-09 12:25] PavelSosin-320 commented on #9279
Yes, the is widspread scenario when a user knows the registry URL because it was published or used in the past, but his/her authorization has not been granted or revoked by the proprietary registry owner. Also, RedHat has such a registry. When authorization is revoked, it doesn't update registries.conf file. It only makes this registry "invisible" to the user without logon. Podman login --user-inf

[2021-02-09 12:37] vrothberg commented on #9279
The prompts only purpose is to let the user decide which `unqualified-search-registry` to pull from. Previously, Podman was just iterating over the list and the first successful pull won.

Only displaying registries that have local matching credentials is not part of the decision making.  A user may very well have forgotten to log in or may just want to pull a public image.  Querying each and ever

[2021-02-09 12:56] PavelSosin-320 commented on #9279
No, I don't propose to edit registries.conf. I would like to avoid it. The cost of getting
[pavel@MSI-wsl ~]$ podman pull nodejs
✔ docker.io/library/nodejs:latest
Trying to pull docker.io/library/nodejs:latest...
  denied: requested access to the resource is denied
Error: Error initializing source docker://nodejs:latest: Error reading manifest latest in docker.io/library/nodejs: errors:
denied: re

[2021-02-09 13:40] srcshelton commented on #8524
... so I'm now on:

[code]

[code]

... and unfortunately I'm seeing the same behaviour: even when started with `--rm`, these particular (but not all!) containers are persisting after they exit.

[2021-02-09 13:47] baude commented on #8524
it looks like you are on gentoo, can you paste the bit of the build where the gocode is being compiled? i wonder if we are dealing with a missing option or use flag?

[2021-02-09 13:48] vrothberg commented on #8980
Are you starting the files via ansible?

[2021-02-09 13:50] srcshelton commented on #8524
I am... were you looking for the build-log from `conmon` (presumably?), `podman`, or one of the other tools?  Any/all of the above? 😅

[2021-02-09 13:50] vrothberg commented on #8980
I only saw this issue in https://access.redhat.com/solutions/4420581 or when setting the `User` attribute in a systemd unit running Podman.

[2021-02-09 13:51] vrothberg commented on #8980
I am going to close since I am convinced it's a systemd issue. But we can continue the conversation here.

[2021-02-09 13:51] #8980 closed

[2021-02-09 13:57] MarcoFalke commented on #9162
Same issue here:

[code]

[2021-02-09 13:58] baude commented on #9276
@photoszzt i just tried this on my laptop (fedora) by rebuilding the latest go-swagger from their github repo.  It worked perfectly.  Could you tell me more about your environment.  Did you use their static build? How did you get go-swagger onto your system?

[2021-02-09 14:53] karljaxon commented on #8908
@mheon - thanks for looking at this. This works - the proxy settings are respected.
The issue here is with how I activated the socket. If you search for 'podman socket' the first hit is:
http://crunchtools.com/a-first-look-at-the-podman-2-0-api/

It activates the socket with a straight call to:
systemctl enable --now podman.socket

The same method is used in a few redhat docs and issues here (eg.

[2021-02-09 14:53] #8908 closed

[2021-02-09 15:12] mheon commented on #9280
@jwhonce PTAL

[2021-02-09 15:34] mheon commented on #9162
@rhatdan Should we ignore per-driver configuration like this in storage.conf when using a driver other than the one for which the config option belongs? Seems sensible, IMO

[2021-02-09 16:00] edsantiago opened #9286 "CI capabilities test: inconsistent CapBnd"
First things first: this makes no sense to me. I don't see how this could be a flake; it should either consistently fail or consistently pass on the same machine. Instead, we get one-offs, and the ginkgo retry (so far) always passes.

Symptom:
[code]
Source: https://github.com/containers/podman/blob/68ca9066d08bcb14616de009c496d346ef4f63b7/test/e2e/run_test.go#L334-L338

Environment: so far, only

[2021-02-09 16:36] rhatdan commented on #9286
The service needs to be reset after setting CONTAINERS_CONF to /dev/null.

[2021-02-09 16:53] rhatdan commented on #9277
Not sure if this is a bug or a feature?

[2021-02-09 17:01] riyad opened #9290 "[APIv2] building container with isolation=default started failing after #9246"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regressions in the [`BuildTest::test_build_isolation`](https://github.com/docker/docker-py/blob/master/tests/integration/api_build_test.py#L185)

[2021-02-09 17:12] matejvasek commented on #9277
@rhatdan neither am I.

I am not sure whether this is mandatory of just for user convenience (progress displaying). However docker does output it.

Unfortunately [one of our tools](https://github.com/boson-project/func/) relies on fact that output contains `digest: sha256:\w{64}` , IIRC at the time we didn't found better way to receive digest upon `push`.

I am already looking into fix.

For `/lib

[2021-02-09 17:19] PavelSosin-320 commented on #9259
It looks not bad:
[pavel@MSI-wsl ~]$ whoami
pavel
[pavel@MSI-wsl ~]$ ls -al /sys/fs/cgroup/
total 0
drwxr-xr-x 19 root root 380 Feb  8 09:53 .
drwxr-xr-x 10 root root   0 Feb  8 09:53 ..
dr-xr-xr-x  2 root root   0 Feb  8 09:53 blkio
dr-xr-xr-x  2 root root   0 Feb  8 09:53 cpu
drwxr-xr-x  2 root root  40 Feb  8 09:53 cpu,cpuacct
dr-xr-xr-x  2 root root   0 Feb  8 09:53 cpuacct
dr-xr-xr-x  2 root

[2021-02-09 17:58] mheon commented on #9290
@rhatdan PTAL

[2021-02-09 18:01] photoszzt commented on #9276
@baude I try both "go get" and download the static build. They both fail the same way.

[2021-02-09 18:26] rhatdan commented on #8908
Should we document this better?  Should we put something in the systemd unit file about setting up proxies?

[2021-02-09 18:29] rhatdan commented on #9280
@giuseppe PTAL

[2021-02-09 18:33] mheon commented on #9251
@baude @jwhonce PTAL

[2021-02-09 18:34] mheon commented on #9250
I'll self-assign this one.

[2021-02-09 18:45] rhatdan commented on #9162
Does the /etc/containers/storage have global mount options specified? If yes,then I don't think we should ignore it.

In the newer storage.conf files we have made these driver specific, so the mount_program is only specified under the overlay section.  Sadly the global is still supported for backwards compatibility.

Is this an older storage.conf?  RHEL8?

[2021-02-09 18:57] lsm5 commented on #8560
That was on @mheon's suggestion where the regular package's dependency on containernetworking-plugins caused some issue which I don't remember off-hand.

[2021-02-09 19:09] rhatdan commented on #9277
Interested in opening a PR for this?

[2021-02-09 19:12] mlegenovic commented on #9277
#8713

[2021-02-09 19:12] matejvasek commented on #9277
I will, but there is a dependency on another PR of mine. I'll create PR for this once the other PR is merged.

[2021-02-09 19:14] TomSweeneyRedHat commented on #9260
@lachlan2k thanks for the follow up!  :+1:

[2021-02-09 19:15] mlegenovic commented on #9277
And the same problem just for pull endpoint #7857

[2021-02-09 19:18] diggnsaegg commented on #8980
I think you mean "generate" them? Yes, with the shell module and becoming the user who should run the service. But it also fails when I create them manually. Doesn't matter though :/

I already found that which did not help in my case.

Thank you for helping me :)

_________

As i mentioned earlier in this thread, I already tried a fresh install of Fedora 33 and that did work as expected. So I thi

[2021-02-09 19:23] #8897 closed

[2021-02-09 19:35] vrothberg commented on #8980
Can you try removing `/usr/share/containers/containers.conf` and re-run? Or did you run on a fresh system?

[2021-02-09 19:56] #8559 closed

[2021-02-09 20:10] mheon commented on #8560
Kubernetes provides its own CNI plugins, which caused our packages to conflict with Kubernetes. The new package's relaxed dependencies fixed that.

[2021-02-09 20:13] mheon commented on #9162
Providing full contents of both the user's `$HOME/.config/containers/storage.conf` and `/etc/containers/storage.conf` may help.

[2021-02-09 20:21] d3xter opened #9292 "Containers created with docker-compose are not able to connect to each other by using their name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Creating multiple containers with a single docker-compose.yml should allow the running containers to talk to each other using the container name. Connecting via IP address works fine.

docker-compose.yml:

[code]

**Steps to reproduce the issue:**

1. Run `sudo docker-compose -H unix:///run/p

[2021-02-09 20:22] diggnsaegg commented on #8980
I removed the file and when I try to `systemctl --user start mycontainer.service` the commando hangs and then times out
But `systemctl --user status mycontainer.service` shows the following:

`Feb 09 21:19:16 localhost.localdomain systemd[1690]: Starting Podman container-httpd.service...
Feb 09 21:19:16 localhost.localdomain systemd[1690]: con-httpd.service: Found left-over process 15596 (podman p

[2021-02-09 20:27] MarcoFalke commented on #9162
<details><summary>storage.conf</summary>

[code]

[code]

</details>

[2021-02-09 20:32] mheon commented on #9292
@baude PTAL

[2021-02-09 20:36] rhatdan commented on #9228
Perhaps this has something to do with btrfs.

@giuseppe Any ideas?

[2021-02-09 20:36] riyad opened #9293 "[APIv2] /networks endpoint returns `null` instead of `[]` when there're no networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a flaky assertion in the [`TestNetworks::test_remove_network`](https://github.com/docker/docker-py/blob/master/tests/integration/api_network_test.p

[2021-02-09 20:57] rhatdan commented on #9162
These look good to me.  I don't see how you get errors about mount options from that config?

[2021-02-09 20:58] rhatdan commented on #9293
@jwhonce @baude @Luap99 PTAL

[2021-02-09 21:30] Luap99 commented on #9293
I take this one.

[2021-02-09 21:47] baude commented on #9292
this worked perfectly for me ... you likely do not have the dnsname plugin installed.

[code]

This is likely not being built or dep'd by the COPR repository.

[2021-02-09 22:05] baude commented on #9276
It worked perfectly for me using 20.04's default golang which is 1.13. I used both a compiled version of go-swagger and their static binary. Perhaps it is your golang binaries that have a problem?  That said, I am using golang-1.15 on Fedora with no problem.  I'm not sure we can call this a Podman issue at this point?

[2021-02-09 22:22] photoszzt commented on #9276
I'm using the binary I directly download from go's website(https://golang.org/dl/).

[2021-02-09 22:29] photoszzt commented on #9276
@baude I tried both 1.15.8 and 1.14.15, and fail the same way.

[2021-02-09 22:32] InfRandomness commented on #9228
it does run on another user.

[2021-02-09 22:48] baude commented on #9276
@photoszzt I'll look again in the morning, but again, I don't think is a podman issue at all. if you can join #podman on freenode we might be able to live debug the issue collaboratively.

[2021-02-09 23:21] photoszzt commented on #9276
@baude Sure. I can join freenode tomorrow. I also try the ubuntu's go and also fail. I also try using a fresh ubuntu 20.04 container, install the dependencies and it also fails.

[2021-02-09 23:40] #9286 closed

[2021-02-10 00:54] d3xter commented on #9292
@baude Good catch, the dnsname plugin was not installed. Establishing a connection works after installing it and recreating the network

[2021-02-10 00:54] #9292 closed

[2021-02-10 06:19] PavelSosin-320 commented on #8840
Not relevant after Podman 3.0 rc release.

[2021-02-10 06:19] #8840 closed

[2021-02-10 06:39] vrothberg commented on #8980
@msekletar, do you have an idea how the upper error can occur? It seems to only occur on this specific machine.

[2021-02-10 06:45] #9293 closed

[2021-02-10 06:52] MarcoFalke commented on #9162
The error is mostly about `User-selected graph driver "overlay" overwritten by graph driver "vfs" from database - delete libpod local files to resolve`, because my config specifies `driver = "vfs"`. Is there some other config I need to modify as well? Or do I need to upgrade to podman 3?

[2021-02-10 07:06] vrothberg commented on #9228
Does `buildah pull` or `skopeo copy docker://alpine containers-storage:alpine` work?

[2021-02-10 07:14] vrothberg commented on #9250
@mheon, can you add a check for the `PODMAN_SYSTEMD_UNIT` and throw a warning in case it's set?

A Podman-side dependency management can conflict with a systemd-side one (starting sequence, potential dead locks, etc). I think users should chose between the two but not mix.

[2021-02-10 07:19] xcffl commented on #9250
That's tricky. The `podman generate systemd` depends on the podman-side dependency.

[2021-02-10 08:16] vrothberg commented on #9250
I don't think it's tricky (I wrote most of generate systemd). The dependencies are taken into account and are especially important for pods but I don't think we should mix podman-side and systemd-side dependency management.

If users wish to do that, we should allow it but a warning may spare some from a longer debugging journey.

[2021-02-10 08:21] xcffl commented on #9250
Sure. Just want to make sure it doesn't break generate systemd

[2021-02-10 10:20] MarcoFalke commented on #9162
Sorry for hijacking this issue. I think it is unrelated to my problem, which I fixed by creating the previously missing config file in my user home dir:

[code]

[2021-02-10 11:03] LordPraslea commented on #5986
**I too can confirm that this issue has just recently occurred and is still happening** It was so nasty I didn't really know what happened and why. Because everything is so interconnected.
There was a surge in the zone over the weekend which resulted in lost electricity. I had recently moved the raspberrypi I use for testing and it had no UPS. Only one container seems to have been affected a rootf

[2021-02-10 12:22] vrothberg commented on #9254
Closing as it's now being fixed (https://bugzilla.redhat.com/show_bug.cgi?id=1920857#c25).

[2021-02-10 12:22] #9254 closed

[2021-02-10 13:05] vrothberg commented on #3550
Need some massaging in `buildah/copier` to get that to work.

[2021-02-10 13:21] afbjorklund commented on #8788
Same problem with 3.0.0 (RC3)

`cannot build derivation '/nix/store/19vhd1mfr39acn6hv2zykzxd8szsfi4k-podman.drv': 1 dependencies couldn't be built`

Same workaround, though.

`nix build -f nix/ /nix/store/sa7scdrzmwfkgsk0c883iz7xi30p8xr8-go-1.15.7.drv --option sandbox false`

[2021-02-10 14:12] mpolden opened #9303 "Podman inspect returns invalid values for unlimited ulimits"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run a container with unlimited core size:
[code]

2. Inspect the container ulimits:
[code]

**Describe the results you received:**

Inspect returns the following:

[code]

**Describe the results you expected:**

[code]

**Additional information you deem i

[2021-02-10 14:17] mpolden commented on #9258
Some of these metrics can be retrieved through runc: `runc events --stats <complete-container-id>`.

[2021-02-10 14:20] rhatdan commented on #9228
Something in your homedir setup is causing this to fail.

[2021-02-10 14:22] mheon commented on #9250
@vrothberg Sure

[2021-02-10 14:23] InfRandomness commented on #9228
I haven't done anything particular in my home that could be causing this to fail, in fact I didn't even have podman installed before I had this bug, I installed it with toolbox.

Is there a set of files / configs that are related to podman I could check ?

[2021-02-10 14:25] InfRandomness commented on #9228
I do not have have the buildah command accessible under neither of my users (test and infrandomness), yet it works under the test user, nor do I have the skopeo command

[2021-02-10 15:12] baude commented on #9276
@photoszzt try this:

[code]

1. Make a Containerfile from the above.
2. podman build -t swagger .
3. podman run -it --rm swagger /bin/bash
# make swagger

[2021-02-10 15:38] ashley-cui commented on #3264
closed via https://github.com/containers/podman/pull/9125

[2021-02-10 15:38] #3264 closed

[2021-02-10 18:12] photoszzt commented on #9276
@baude Thanks for the steps. It's working now.

[2021-02-10 18:15] rugk commented on #9271
[code]

Though… now after a restart it does suddenly work:
[code]

This is this version now:
[code]

[2021-02-10 18:16] rugk commented on #9271
Maybe some rpm fixes where there. As I consider this to be fixed, I'll close it.

[2021-02-10 18:16] #9271 closed

[2021-02-10 18:20] #9276 closed

[2021-02-10 18:42] mheon commented on #6003
Fix in #9308

[2021-02-10 19:42] riyad opened #9310 "[APIv2] `/networks/prune` endpoint has wrong response format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across the failing [`TestNetworks::test_prune_networks`](https://github.com/docker/docker-py/blob/master/tests/integration/api_network_test.py#L467) test.

[2021-02-10 19:45] cevich commented on #5278
Oh, actually I think we can close it.  We have a working test for this, and I'm [massaging the release-process docs](https://github.com/containers/podman/pull/9142) to help make sure test failure is not ignored for a release.

[2021-02-10 19:45] #5278 closed

[2021-02-10 21:56] baude commented on #9310
thanks for the excellent write up!

[2021-02-10 23:14] riyad opened #9314 "[APIv2] /secrets endpoint with filter param doesn't filter and returns 400 with two responses"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across the failing [`SecretAPITest::test_list_secrets`](https://github.com/docker/docker-py/blob/master/tests/integration/api_secret_test.py#L63) test.

T

[2021-02-10 23:19] mheon commented on #9314
@ashley-cui PTAL

[2021-02-10 23:31] debarshiray opened #9315 "'podman ps --format json' no longer has a numeric UNIX timestamp in "Created""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman ps --format json` no longer has a numeric UNIX timestamp in `Created`. In the release candidates for Podman 3.0.0, it's a string that looks like `"2021-01-19T19:17:40.179387486+01:00"`. Earlier, in Podman 2.2.1, it used to be a number that would get parsed as a `float64`.

Note that:

[2021-02-10 23:36] #9303 closed

[2021-02-10 23:44] riyad opened #9316 "[APIv2] secrets are missing Version field"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a failing assertion [`SecretAPITest::test_inspect_secret`](https://github.com/docker/docker-py/blob/master/tests/integration/api_secret_test.py#L41

[2021-02-10 23:45] riyad commented on #5386
I hope all the issues I'm opening aren't getting on your nerves :sweat_smile:

[2021-02-11 00:43] TomSweeneyRedHat commented on #5386
@riyad never!  But we'd love it if you sent in a PR or two too!  :smiley:

[2021-02-11 02:52] ashley-cui commented on #9314
Yeah, this is on purpose as of now. (https://github.com/containers/podman/blob/db64865164b72af7017e9d3c34e75ee3bfd8546e/pkg/api/handlers/compat/secrets.go#L32)
Secrets doesn't have filter params implemented, since we decided not to implement tags as of now (may be done in future? but also might not make sense since the secrets aren't in a swarm) and so it doesn't really make sense to have filter o

[2021-02-11 03:38] mheon commented on #9316
@ashley-cui PTAL

[2021-02-11 06:55] afbjorklund commented on #9315
Changed in 2d861ac14ad5b677717f357bd57c3f56f06307d5, which modified the output format as well as the internal representation.

[2021-02-11 07:17] LordPraslea commented on #8005
I'm also starting to see this issue on some containers run by systemd. Again, unexpected power disconnect.

[2021-02-11 07:26] apinter opened #9318 "Podman checkpoint fails on openSUSE"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**
I'm trying to export a test container which is running nginx - named test - with `podman container checkpoint --keep --leave-running --export=/root/test.tar.gz test` but for some reason it fails.

**Steps to reproduce the issue:**

1. `podman run -d --name test nginx`

2. `podman container chec

[2021-02-11 10:23] #6003 closed

[2021-02-11 10:38] #9310 closed

[2021-02-11 11:08] rhatdan commented on #8928
This seems like a good request.  Currently the core team is concentrating on Bug fixes and stabilization of podman 3.0.
Opening a PR is always the best way to get new features in, if you are interested.  I will add the help wanted flag to see if someone in community would like to work on this.

[2021-02-11 11:11] rhatdan commented on #8834
Not sure what the ask is?  Is this currently supported in containers.conf and podman, to be able to modify the MTU.  So should this issue be closed?

[2021-02-11 11:12] rhatdan commented on #8825
I think this issue is fixed, reopen if I am mistaken.

[2021-02-11 11:12] #8825 closed

[2021-02-11 11:12] rhatdan commented on #8841
@daniel-wtd @Luap99 is this still an issue or should it be closed?

[2021-02-11 11:14] rhatdan commented on #8785
Looks like this is working in the main branch now.

 podman inspect --format '{{ .Config.Env }}' -l
[PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin TERM=xterm container=oci HOME=/ HOSTNAME=c571ef8e3531]

[2021-02-11 11:19] rhatdan commented on #8645
@adamchew89 Any progress on this?

[2021-02-11 11:23] rhatdan commented on #8442
@mier85 What is the scoop on this one?

[2021-02-11 11:24] rhatdan commented on #8060
@giuseppe any progress?

[2021-02-11 11:25] rhatdan commented on #7774
Since I have not heard response, I am going to close this issue.  If more discussion is necessary please reopen.

[2021-02-11 11:25] #7774 closed

[2021-02-11 11:28] rhatdan commented on #7404
From my naive reading of this issue, it seems like an easy fix, is there a reason that this has not been solved other then people busy on other projects?

@Luap99 @baude @jwhonce ???

[2021-02-11 11:28] daniel-wtd commented on #8841
@rhatdan Not an issue for me, since I can tweak the systemd unit files to my needs.

Since there is some development for sdnotify, I will come back to it and either:

- open a PR for some additonal option for `podman generate systemd`
- write an article for podman.io / docs.podman.io to document a way of systemd integrated logging

If it's not a problem, it would be awesome to have a look after 3.

[2021-02-11 11:31] Luap99 commented on #8785
This is not fixed. @rhatdan You need to have a tab character in the env var. Use the Containerfile from this comment https://github.com/containers/podman/issues/8785#issuecomment-753664394

[2021-02-11 11:37] Luap99 commented on #8841
Lets keep it open. It is not that difficult to implement. I added the Good Fist Issue label if someone wants to work on it.

In order to make it work three things are required:
* change the unit type to simple
* don't add --detach if the --new option is used; if --new is not used add --attach to podman start
* add a new cli flag (--attach) to podman generate systemd for this

[2021-02-11 12:45] vrothberg commented on #9318
I cannot reproduce on Fedora 33 with runc nor crun.

@apinter could you retry with using `crun`?

[2021-02-11 13:02] vrothberg commented on #8387
Closing. Feel free to reopen when we have more information.

[2021-02-11 13:02] #8387 closed

[2021-02-11 13:07] giuseppe commented on #8060
I had a look and I am not happy with all the plumbing needed.

If the issue is only in SetupRootless, maybe we can find another way to address it.

@zv0n would something like setting `DBUS_SESSION_BUS_ADDRESS=unix:path=/dev/zero` and using `--cgroups=disabled` work with you?

[2021-02-11 13:16] giuseppe commented on #9280
can we just drop this check?

[code]

Does it break anything with root?

[2021-02-11 13:20] vrothberg commented on #8167
I am consolidating issues.  This is effectively a duplicate of https://github.com/containers/podman/issues/5356 so I am closing this one here.

[2021-02-11 13:20] #8167 closed

[2021-02-11 13:20] giuseppe commented on #9259
Thanks for confirming it, so the system is using cgroup v1.

it is just not used because it cannot use cgroup v1 with rootless.

[2021-02-11 13:24] vrothberg commented on #7497
@rhatdan I think we should tackle this item after bug week(s). Once this feature here is addressed, we can tackle the image package.

[2021-02-11 13:25] vrothberg commented on #1911
We want to tackle this item this year.  We broke it into separate pieces and I am positive we'll get it done.

[2021-02-11 13:30] vrothberg commented on #5521
I am closing this issue in favor of https://github.com/containers/podman/issues/7497.  It's still on the radar and we'll tackle it soon.

[2021-02-11 13:30] #5521 closed

[2021-02-11 13:44] rhatdan commented on #9228
Could you rm -rf ~/.config/containers ~/.local/share/containers

And see if it still hangs.

[2021-02-11 13:45] rhatdan commented on #9228
Also could you show the output of printenv in your user account that does not work, perhaps there is some setting in environment that is causing this to hang.

[2021-02-11 13:49] ashley-cui commented on #9316
hmm, didn't we decide that it doesn't make sense to have a version field since docker only responds with a version field since it has a swarm manager that deals with secrets? but i guess since its compat, should i wire in the version number anyway?

[2021-02-11 13:57] vrothberg commented on #9316
Yes, that what we thought initially.  I am also not sure which version to return.  @jwhonce @baude WDYT?

[2021-02-11 14:50] mheon commented on #9315
@rhatdan PTAL

[2021-02-11 14:57] baude commented on #9315
@afbjorklund did you intend to have the output format modified as well?

[2021-02-11 15:15] PavelSosin-320 commented on #9259
I found that the following check confirms that cgroup v2 is supported:
grep cgroup /proc/filesystems
nodev   cgroup
nodev   cgroup2
Dan Wallsh said that non-root users can use cgroup v2 starting from Fedora 32 about a year ago.
The real root causes may be:
1. I  [Fedora33 WSL distro from](https://fedoramagazine.org/wsl-fedora-33/)
2. Microsoft Kernel is 4 releases behind the Current stable 5.8. un

[2021-02-11 15:53] rhatdan commented on #7497
SGTM

[2021-02-11 15:56] rhatdan commented on #9316
I have no idea what version to return, Perhaps API version.

[2021-02-11 16:05] mheon commented on #5788
Unassigning myself, I don't think I'm going to have time for this any time soon. Hopefully the New First Issue label will attract contributors?

[2021-02-11 16:22] mheon commented on #9316
Docker secrets allow mutation - AFAIK the Version is incremented every time the secret changes.

It sounds like we should add the field and fix it to 1?

[2021-02-11 16:27] ashley-cui commented on #9316
Ohh that makes more sense than the swarm version number. I can add the version in pretty easily, I can do that fairly easily, if it's just fixing it to 1

[2021-02-11 16:29] vrothberg commented on #9316
42 would also be cool :sunglasses:

[2021-02-11 16:30] afbjorklund commented on #9315
It was not me (but rhatdan) - just digged it up in log, and it looked unintentional

Should be straightforward to make it more similar to the images list, I think ?

[code]

But you seem to be having something else going on there already

[2021-02-11 17:07] rhatdan commented on #9315
The goal was to be more precise then just Unix() which returns EPOCH Seconds.  As I recall there were tests that we sorting two containers, that we definitely created one after the other, but created in the same second. So sorting them would randomly put one before the other.  Getting to more precision eliminated this problem.

[2021-02-11 17:08] afbjorklund commented on #9280
systemd is quite vague about it.

[code]

From `sd-daemon.c`

[2021-02-11 18:11] lpgc opened #9325 "Provide a shared library for C users"
/kind feature

in order to enable access to libpod APIs from languages other than golang, libpod.so should be built as a C shared library

[2021-02-11 18:32] cevich opened #9328 "[v3.0] APIv2 Test: FAIL: test_start_containers (test_rest_v2_0_0.TestApi)"
/kind bug

**Description**

[Daily cirrus-cron job failed at commit 2b89fe on branch v3.0.
](https://cirrus-ci.com/build/5137396943552512)

**Steps to reproduce the issue:**

1.  Wait for cirrus-cron job to execute on v3.0 branch

2. Open a PR against v3.0 branch (without any changes)

**Describe the results you received:**

https://cirrus-ci.com/task/4800100344004608

**Describe the results you e

[2021-02-11 18:33] #9315 closed

[2021-02-11 18:34] baude commented on #9325
huh? you want us to rewrite in c?

[2021-02-11 18:35] baude commented on #9325
btw, the official response here is that you can use the RESTFul interface for this kind of stuff.

[2021-02-11 18:50] lpgc commented on #9325
no build the library "-buildmode=c-shared"

[2021-02-11 19:33] baude commented on #9325
@lpgc have you tried this on our repo and it works?  if so, how about making a make target and a readme on how to use it?

[2021-02-11 19:42] lpgc commented on #9325
I'll give it my best shot! and report back here... I need to do a little background on the full effects of this buildmode on the resulting shared object before I "ready, fire, aim" ... it may require a separate .so from the native golang one...

Rgds

- larry

[2021-02-11 19:47] TomSweeneyRedHat commented on #9325
@lpgc thanks for running with this, a c library could be very useful for some folks.

[2021-02-11 19:50] lpgc commented on #9325
Happy to! - my motivation is somewhat selfish as I want to be able to call into the API from Java (via JNA or JNI) and would prefer to "avoid" doing this via REST if possible... but that is always an option to fallback on...

[2021-02-11 21:40] Foxboron opened #9330 "Release key for 3.0.0 has expired"
Yo!

Seems like the key that belongs to @mheon has expired. It's the key that has signed the v3.0.0 tag and previous tags. No updates on the keyserver and the key fetched from their github profile is not updated either.

[2021-02-11 21:43] mheon commented on #9330
I definitely updated the expiration for the key locally and pushed it to a keyserver. Maybe Github also requires a new copy of the pubkey?

[2021-02-11 21:49] Foxboron commented on #9330
Which keyserver? I'm not sure if I'm failing at fetching it because of the keyservers being wonkey these days. Nothing on WKDs either :/

[2021-02-11 22:02] rhatdan commented on #8785
Ok, I looked at the first commands and tried them locally and had no issue.  I did not read down the the reproducer.

[2021-02-11 22:03] photoszzt commented on #9276
@baude By the way, this is the container setup I try that fail:
[code]
I think the difference is I didn't know I need to put the source folder in GOPATH.

[2021-02-11 22:15] mheon commented on #9330
I just re-pushed to pool.sks-keyservers.net and pgp.mit.edu, in case it hadn't updated.

[2021-02-11 22:21] Foxboron commented on #9330
I was pulling from keyserver.ubuntu.com as the sks keypool has been broken for a while. Got it now :) Thanks!

[2021-02-11 22:21] #9330 closed

[2021-02-12 05:18] pendulm commented on #9280
just drop the check won't works, same as add a plus check like this:
[code]
because different module check this logic
`pkg/systemd/activation.go` and `vendor/github.com/coreos/go-systemd/activation/files.go`, the later come from vendor.

[2021-02-12 08:26] InfRandomness commented on #9228
I tried to remove ~/.config/containers and ~/.local/share/containers, it didn't help

here's my env : https://susepaste.org/86410544

[2021-02-12 09:29] debarshiray commented on #9315
Yay! Thanks for the fix.

[2021-02-12 10:08] stephen-dexda opened #9333 "No apparent way to run commands in a Buildah container using the Kata runtime when SELinux is enabled"
**Description**

There doesn't seem to be any way (using Buildah/Podman) to run commands in a Buildah container using Kata as a runtime.

* `buildah --runtime=kata run` results in an error (see https://github.com/containers/buildah/issues/2524).
* A workaround suggested on that bug, `buildah mount` then `podman run --rootfs`, fails when SELinux is enabled (SELinux support was re-enabled in Fedora'

[2021-02-12 10:10] rhatdan commented on #9333
I guess we could check if the rootfs has system_r:system_u:container_file_t:* as a prefix, then use the level.  Not the cleanest solution in the world, but would make users life easier, even if this is a relatively rare corner case.

[2021-02-12 10:31] karljaxon commented on #8908
Hi @rhatdan - more documentation would be useful, particularly around how we should treat the socket in real-world situations. The use case I have is a commandline app (written in Python) that controls deployments. It can drive either docker or podman, and users would interact with it a lot. The available python libraries control podman through the API.

I'd initially thought this should be used w

[2021-02-12 10:52] debarshiray commented on #9315
Oops, on closer inspection, I see that https://github.com/containers/podman/pull/9320 changed `Create` to a UNIX timestamp in nanoseconds, while earlier in 2.2.1 it used to be in seconds. This throws off Toolbox's parsing because it just sees a number and doesn't know if it's in seconds or nanoseconds. Is there a good way to differentiate between those?

Toolbox doesn't use the `CreatedAt` field i

[2021-02-12 10:54] mqus opened #9334 "Go bindings tutorial is out of date"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The documentation in https://github.com/containers/podman/blob/master/docs/tutorials/podman-go-bindings.md is out of date and refers to the old repository libpod. Please update it, I personally can't make sense of the new structure, what I need and what I don't need.

It would also be nic

[2021-02-12 11:44] mwilck commented on #5914
@mtorromeo, thanks a lot. I stumbled into the same problem. For me the solution was slightly different.

I found that I had to create a private group for my user (which didn't exist before) and chgrp the directories `$HOME/.local` **and** `$HOME/.local/share` to this group. It's quite weird, because neither directory had any group rights assigned, and `$HOME/.local/share/containers` was a symlink

[2021-02-12 12:04] vrothberg commented on #9334
Thanks for reaching out.

@lsm5 would you update the tutorial with the latest 3.0 bindings? @baude FYI

[2021-02-12 12:13] rhatdan commented on #9228
Does
podman --log-level=debug info

Give you any information
@giuseppe @mheon PTAL

[2021-02-12 12:22] rhatdan commented on #9315
If the number of seconds is well in the future then it is nanoseconds.

[2021-02-12 13:17] slippyex opened #9336 "podman pull fails for bigger images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to pull an image, it fails at the stage, where it tries to commit the finished image (Error committing the finished image: error adding layer with blob ... Error processing tar file(signal: killed):)

What I figured so far is, that it works perfectly fine for smaller images like fo

[2021-02-12 13:34] vrothberg commented on #9336
Thanks for reaching out!

How much RAM is on this machine?  I _guess_ Podman's is getting OOM'ed when untarring a big layer.

[2021-02-12 13:37] slippyex commented on #9336
The box has 32gb of RAM
[code]

[2021-02-12 13:39] vrothberg commented on #9336
Curious.  Could you rerun with `podman --log-level=debug pull ...`?

[2021-02-12 13:45] debarshiray commented on #9315
Well, one way to tell them apart is to take the timestamp value of the present moment and compare it with the number in the JSON. If the JSON value is higher then we could say that it's in nano seconds, because `Created` is meant to express a past event.

What I am not sure about is, how robust this will be against weird pathological cases like broken clocks and such.

[2021-02-12 13:48] slippyex commented on #9336
Here's the debug-log output of the `podman --log-level=debug pull node:12-alpine`
[code]

[2021-02-12 13:58] vrothberg commented on #9336
Something's killing Podman. Can you have a look who's killing Podman (e.g., via `/usr/share/bpftrace/tools/killsnoop.bt`)?

[2021-02-12 14:09] mheon commented on #9228
Vague theory: remove anything with `libpod` in the name in `/dev/shm` in case there's a locking issue.

[2021-02-12 14:18] baude commented on #9334
I think we have some wires crossed.  The reporter is correct that the tutorial is out of date.  There is an updated how-to on the bindings right here -> https://github.com/containers/podman/tree/master/pkg/bindings.

However, the second link provided by @mqus are API calls "in" libpod.  It should be clarified that when we talk about bindings, we are referring to go-bindings that wrap the RESTFul A

[2021-02-12 14:48] mqus commented on #9334
Sorry, I'm still a newbie when it comes to podman and the container ecosystem as a whole. I got to the linked godoc by following the godoc badge at the top of the main readme, so this must have misled me.

Can I also use libpod to do effectively the same thing as the go bindings, but more directly, without having to set up a socket and daemon? Or are these APIs too raw and intended to be used inte

[2021-02-12 14:52] slippyex commented on #9336
Hey @vrothberg your hint was super useful and also led to the actual issue.
Since I initially mentioned, this is my work laptop ... And we are forced to run SentinelOne ... Now, exactly that `s1-scanner` always killed podman, when it tried to finalize the image commit ... I was able to reproduce it ... and the counter-check was to (temporarily) disable SentinelOne and then re-run the pull ... this

[2021-02-12 14:58] rhatdan commented on #8288
Brent now that you are taking on the MAC work, this one seems to fall under that perview.

[2021-02-12 15:03] HarryMichal opened #9337 "Random errors in Zuul CI when running Podman exec"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Toolbox uses for its CI [Zuul](https://zuul-ci.org/). We've been refactoring our system tests and started to experience random flakes. These happen for the command: `toolbox run sudo id`, which under the hood starts the container, checks if `sudo` exists and then executes the command `sudo id

[2021-02-12 15:13] jharrington22 commented on #8148
I too just ran across this error @nalind (hi!)

[code]

Not sure if this helps but

[code]
and

[code]

[2021-02-12 15:16] giuseppe commented on #9259
I am not familiar with WSL, but you need to boot the system with cgroup v2 only, you may need to tweak the kernel command line for that.

The end result should be like:

[code]

[2021-02-12 15:19] jharrington22 commented on #8148
I think I broke it with a Ctrl-C mid `podman build` or by providing the `podman build` `-f` parameter with no dockerfile. See the outputs here

Note the make target is called `make docker-build` but its running `podman build`

[code]

[2021-02-12 15:25] giuseppe commented on #9280
it seems we have a check in rootless_linux to rewrite `LISTEN_PID` to the current pid.

Would it be possible for you to check why it is failing?

[2021-02-12 15:32] #9336 closed

[2021-02-12 15:44] giuseppe commented on #9219
ok thanks for confirming it, so it is somehow failing to detect the current cgroup ownership.

What do you get with `cat /proc/self/cgroup`?

[2021-02-12 15:44] Spindel opened #9338 "Failing to access vainfo with --device /dev/dri/ for containers"
/kind bug
**Description**

Attempting to access vaapi (vainfo) in a container fails due to some restriction.

I'm attempting to get hardware acceleration going in an openSUSE MicroOS machine, thus trying to run it in a container. Some restricting that is present without the --privileged flag is preventing this, but I cannot figure out which or how.

group 484 is "video"   on the host
group 486 is

[2021-02-12 15:46] vrothberg commented on #9336
Excellent, thanks for reaching out @slippyex!

[2021-02-12 15:50] afbjorklund commented on #8788
I uploaded the static binaries here:
https://github.com/afbjorklund/podman/releases/tag/v2.1.1
https://github.com/afbjorklund/podman/releases/tag/v2.2.1
https://github.com/afbjorklund/podman/releases/tag/v3.0.0

[code]

[2021-02-12 16:02] mheon commented on #9334
Libpod can definitely do that, but the APIs it offers are not presently considered stable (meaning we reserve the right to change the public interface without a major version bump; that won't happen with the REST API). Practically speaking, though, the bigger issue is a lack of documentation - we have docs around the REST API, but almost none exist for Libpod.

I also really want to go through and

[2021-02-12 16:09] vrothberg commented on #8148
I'll take this one @nalind :+1:

[2021-02-12 17:37] lsm5 commented on #8560
Should be fixed with v3.0.0 on kubic stable. Please reopen if issue persists...

[2021-02-12 17:37] #8560 closed

[2021-02-12 17:38] lsm5 commented on #9256
Should be fixed in the current kubic testing. Please reopen if issue persists.

[2021-02-12 17:38] #9256 closed

[2021-02-12 17:38] lsm5 commented on #9257
Should be fixed with v3.0.0. Please reopen if issue persists.

[2021-02-12 17:38] #9257 closed

[2021-02-12 17:57] Spindel commented on #9338
strace inside a container (with cap_sys_ptrace added) suggests that the system is attempting to look up character devices via /sys/dev/char, and I can't for the life of me figure out how to get that path mounted into a container without using --privileged

[code]

[2021-02-12 18:18] rhatdan commented on #9338
Tey podman --security-opt unmask=/sys/dev or /sys/dev/char ...

[2021-02-12 18:20] baude commented on #9337
would it be possible to check with podman-3 currently in updates-testing for fedora?

[2021-02-12 18:28] zgoda opened #9345 "Package update failure on Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Ubuntu 20.04 update fails with dpkg error

**Steps to reproduce the issue:**

1. sudo apt update

2. sudo apt upgrade

**Describe the results you received:**

[code]

**Describe the results you expected:**

Packages gets updated.

**Output of `podman version`:**

[code]

**Output of `podma

[2021-02-12 18:34] vrothberg commented on #9345
Thanks for reaching out! @lsm5 PTAL

[2021-02-12 18:58] HarryMichal commented on #9337
Currently the CI is broken due to GPG issues in the Rawhide image we use. When the issues goes away, I'll give you an update.

[2021-02-12 19:00] rhatdan commented on #9226
buildah bud eliminates some of the features in podman and has been used a lot more for this use case.

But if you are running privileged it does not matter.  If  you want to run as locked down as possible buildah bud --isolation chroot...
Can be run within a container running with /dev/fuse, CAP_SETUID, CAP_SETGID and nothing else.  Since it uses the user namespace.

When running within CRI-O I wo

[2021-02-12 19:03] apinter commented on #9318
I could, but it is only available from unofficial repos which I really don't feel like adding to my server. Is there anything I could check/fix with the current `criu`/`runc` installed?
Should I report a bug on the openSUSE side maybe?

[2021-02-12 20:01] Spindel commented on #9338
is --security-opt unmask=...  a new feature?

it's not available on either my Fedora 33 machine nor openSuse tumbleweed?

[2021-02-12 20:43] InfRandomness commented on #9228
https://susepaste.org/32558978

[2021-02-12 21:01] mheon commented on #9228
`DEBU[0000] error from newgidmap: newgidmap: gid range [1-65537) -> [100000-165536) not allowed `

Interesting. Does your user have a valid entry in `/etc/subgid`?

[2021-02-12 21:13] InfRandomness commented on #9228
infrandomness:100000:65536
test:100000:65536

[2021-02-12 21:43] rokat commented on #9345
Hello after removing the package containers-image

By doing
[code]
Because it tries to replace
[code]
Which is already owned by containers-image , in my opinion package-conflict issue

And re-installing it word as a charm

Good luck ! (eager to test podman3 and remove podman-compose from pip ^^)

[2021-02-12 22:25] edigaryev opened #9351 "API: container wait endpoint regression in 3.0.0"
In https://github.com/containers/podman/pull/9048, which was included in the 3.0.0, the `condition` parameter was [changed to be a slice](), however, the assumptions behind the change explained in https://github.com/containers/podman/pull/9048#discussion_r570209609 does not seem to be valid. Two examples to demonstrate this:

Here's a Podman 3.0.0 with the fix from https://github.com/containers/po

[2021-02-12 23:16] asottile opened #9352 "Breaking change not mentioned in the changelog: [storage] engine => driver ?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In podman 2.x I had this storage configuration:

[code]

Upon upgrading to 3.x I get this error message for any podman command:

[code]

**Steps to reproduce the issue:**

1. storage configuration above

2. `podman images`

**Describe the results you received:**

see error message above

**De

[2021-02-12 23:28] asottile opened #9353 "podman complains about missing `dbus-launch` -- but I don't want to install a full desktop environment"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I run any `podman` command as another user, I get this output:

[code]

`dbus-launch` on ubuntu is provided by the `dbus-x11` package which pulls in a full x11 environment which I absolutely do not need on a headless server.

**Steps to reproduce the issue:**

1. run any podman command a

[2021-02-12 23:31] asottile commented on #9352
the fix for me is really easy, just replace `engine` with `driver` in the config file

[2021-02-12 23:37] asottile commented on #9256
@lsm5 just checking (because I'm unfamiliar with the terminology) -- should I expect this to be fixed in 3.0.0 or do I wait for a future release for this

Are there any workarounds for this?

[2021-02-13 02:28] scotticles commented on #9345
This happened to me on two machines, had to completely remove podman and then install podman, which is fine but i have production servers with podman...and not really wanted to remove and add to get podman v3. Hopefully a fix is on its way.

[2021-02-13 04:11] asottile commented on #9345
for me the workaround was:

[code]

[2021-02-13 04:28] mheon commented on #9351
We were OK with this as 3.0 is a major version bump, including a major API version bump (to v3.0.0). It's obviously not ideal and we would like to keep breaking changes to a minimum, but 3.0 offered an opportunity to batch necessary ones together in one release - this was one of those.

[2021-02-13 04:29] mheon commented on #9351
Though it looks like the v1.0.0 in the URL should be causing errors... @jwhonce Minimum API version is set to 3.0.0, but we're happily accepting v1.0.0 URLs still.

[2021-02-13 04:29] mheon commented on #9352
@rhatdan PTAL

[2021-02-13 08:46] afbjorklund opened #9354 "Volume mounting changed in podman 3.0.0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There was a regression between `v3.0.0-rc3` and `v3.0.0`, causing minikube start to **not** work with podman driver.

Possibly related to 9de1a68fff2ea6353823365ad860827a5af4aa99, there are now important files missing from the volume that were supposed to be copied.

**Steps to reproduce the

[2021-02-13 08:46] afbjorklund commented on #9354
ping @mheon

[2021-02-13 08:50] afbjorklund commented on #9354
Reverting 9de1a68fff2ea6353823365ad860827a5af4aa99 makes it work again, with `v3.0.0`.

[2021-02-13 11:00] SISheogorath commented on #3277
I would love to see a DNS proxy since my upstream DNS servers are DoT-only. Currently I pass `--dns 1.1.1.1` to solve the problem, but it's a not correct to assume that systemd-resolved's configured name servers are Do53 servers.

[2021-02-13 11:49] vrothberg commented on #9318
Can you you rerun with `podman --log-level=debug`?  A look at `journalctl` may reveal some more details.  Trying `crun` may help isolate the error source.

I suggest to wait a bit.  In case we don't find a reproducer, it may be worth opening a bug there.

[2021-02-13 18:14] WittyNameHere commented on #8704
Is this the same issue? RHEL 8.3 running CentOS repo.

[code]

[2021-02-13 19:32] afbjorklund opened #9355 "The source tarball for podman 2.2.1 now has different checksum"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The checksum of the release tarball changed, causing verification in build scripts to fail.

**Steps to reproduce the issue:**

1. `curl -RLOJ https://github.com/containers/podman/archive/v2.2.1.tar.gz`

2. `sha256sum podman-2.2.1.tar.gz`

3.

**Describe the results you received:**

`3212bad6

[2021-02-13 21:08] tobwen opened #9356 "[v3.1-dev] [rootless] detection of id > 0 doesn't work for storage"
/kind bug

**Description**
When running podman as a non-root user (id > 0|1000), local _storage.conf_ gets ignored and an error is thrown. This also happens, while all needed parameters are giving in command line.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Don't show this error, since all needed parameters are p

[2021-02-13 21:23] jmguzik commented on #9325
@lpgc @TomSweeneyRedHat as far as I know, according to the documentation, it is impossible to create shared C lib out of functions which are using complex go structures as well as interfaces.
@lpgc what you could do, if you really do not want to use provided API, you can write a library in Go, using provided binding, and then export it to shared C lib, stripping complicated types and interfaces. I

[2021-02-13 21:25] tobwen opened #9357 "[v3.1-dev] [rootless] cgroup v2 not detected"
/kind bug

**Description**
Seems like _cgroup v2_ isn't detected by rootless podman.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
_cgroupVersion v2_, since it's activated in my kernel:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[

[2021-02-13 21:28] mheon commented on #9357
Podman will only use V2 if it is the only cgroup system in use. We do not
support it in hybrid mode where both v1 and v2 are both active at the same
time. From your report, I suspect that is what you are doing.

On Sat, Feb 13, 2021 at 16:26 tobwen <notifications@github.com> wrote:

[2021-02-13 21:41] lpgc commented on #9325
@jmguzik thanks - sounds like this may be the direction to go, I guess I will decide how much of the API I need and I will take it from there!

I'll close this issue for now, and re-open if I go ahead and create a "simple" API binding that would be generally useful to others!

[2021-02-13 21:41] #9325 closed

[2021-02-13 22:03] tobwen commented on #9357
Actually, I've used podman with v2 in the past without changing my system's config. But let me try to disable v1.

[2021-02-13 22:29] tobwen commented on #9357
A reboot did it:

[code]

[2021-02-13 22:29] #9357 closed

[2021-02-13 23:16] mheon commented on #9356
@rhatdan PTAL

[2021-02-13 23:22] tobwen commented on #9356
@mheon @rhatdan no need to. `
There was an old global _storage.conf_ in the system! Since this gets read first, the error appears. Maybe a warning would be better. So this is solved, but I'll keep it open according my suggestion for a warning instead of an error.

[2021-02-13 23:23] #9356 closed

[2021-02-14 01:39] edigaryev commented on #9351
But note that the https://github.com/containers/podman/pull/9048#discussion_r570209609 implies that this wasn't intentional.

Moreover, current [3.0 API docs](http://docs.podman.io/en/v3.0/_static/api-static.html#operation/libpodWaitContainer) show that the parameter is named `condition` and it's a `string`, whereas currently to get it working you have to use the name `condition[]`.

This prevents

[2021-02-14 01:52] edigaryev opened #9358 "Provide at least two different Podman major versions in the repositories"
Recently Podman 3.0.0 was released and it seems to introduced some breaking changes (e.g. https://github.com/containers/podman/issues/9354, https://github.com/containers/podman/issues/9352 or https://github.com/containers/podman/issues/9351).

Currently in the [Ubuntu 20.04 repository](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/) there's only binar

[2021-02-14 03:54] gbraad commented on #9259
Without a clear description of how this was enabled on WSL, it would be hard to reproduce.
Especially as https://github.com/arkane-systems/genie/issues/98 does not provide a working setup from a base F33 import, adding groupinstall "Basic Desktop" to get systemd, etc. but this results in issues with policykit and dbus.

[2021-02-14 06:57] PavelSosin-320 commented on #9259
WSL (Windows Subsystem for Linux)  is the lightweight VM that allows running Linux distros inside Windows OS and can be enabled today even in OEM Windows Home edition. Microsoft resists enabling systemd  in WSL and insists that it doesn't work, can't work, and is not needed for Microsoft users. So it will be never implemented by Microsoft. In spite of this statement, systemd can be easily enabled

[2021-02-14 07:25] gbraad commented on #9259
I m not unfamiliar to WSL2. I used to work on the build for the Fedora project before the legal issues (indemnification) would prevent publication

I got the install for the WLS systemd working as described here: https://github.com/arkane-systems/genie/issues/98#issuecomment-778641443

[2021-02-14 07:31] gbraad commented on #9259
Note:

Shouldn't this be `wsl -d Fedora33 genie -s` and have a default user enabled be sufficient? The logon prompt seems like an unnecessary step.

[2021-02-14 07:57] gbraad commented on #9259
and that might be part of the issue. AFAIK you can only specify a custom kernel from the `.wslconfig` [ref](https://docs.microsoft.com/en-us/windows/wsl/wsl-config#configure-global-options-with-wslconfig)

[code]

and not arguments like `--args="systemd.unified_cgroup_hierarchy=1"` if not mistaken.

[2021-02-14 08:16] afbjorklund commented on #9358
It has happened before (with 1.9 to 2.0 transition), the workaround is to rebuild the old packages from source...

[2021-02-14 08:56] droogmic commented on #9219
I am not sure why, but the last reboot appears to have fixed the issue. I was rebooting regularly at the start to try and resolve this issue, so I am a bit confused. I will close the issue until I can continue reproducing it. Apologies.

[2021-02-14 08:56] #9219 closed

[2021-02-14 11:23] aojea opened #9359 "podman requires dnsmasq for custom networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I hit this in the Github actions CI, it seems that podman packages doesn't have dnsmasq as a required dependency.
Without dnsmasq custom networks fail.

**Steps to reproduce the issue:**

try to create a container with podman with a custom network without dnsmasq in the system

**Describe the

[2021-02-14 13:36] Luap99 commented on #9359
The cni plugin dnsname requires the dnsmasq dependency. On fedora the dnsname plugin is install via the `podman-plugins` package which requires dnsmasq.
[code]

[2021-02-14 13:46] apinter commented on #9318
I did, this is what happened:
[code]

[2021-02-14 14:04] aojea commented on #9359
so, what is the best solution for https://github.com/actions/virtual-environments/issues/2708?

[2021-02-14 15:11] wagoodman commented on #8305
This is still being worked on.

[2021-02-14 17:01] mheon commented on #9351
Alright, that definitely sounds like a bug - the expectation was to change parameter type but keep the name, from my understanding.

[2021-02-14 17:02] mheon commented on #9354
Self-assigning. I'll take this one on Monday.

[2021-02-14 17:58] replicajune opened #9361 "labeling networks"
/kind feature

**Description**

I would like to use label for network as we can for containers or volumes using `--label`

**Output of `podman version`:**

[code]

[2021-02-14 18:03] buck2202 commented on #9345
Probably goes without saying, but this affects 18.04 as well. `containers-image` was previously a dependency of `containers-common`, but `containers-common` is now listed without dependencies.

Output from an un-updated system:
[code]

[2021-02-14 18:11] mheon commented on #9361
This is already supported as of 3.0.

[2021-02-14 18:11] #9361 closed

[2021-02-14 18:25] eriksjolund opened #9362 ""podman cp" handles "/dev/stdout" as "-" (docker incompatibility)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The command
`docker cp foobar:/root /dev/stdout`
fails.
The same command with Podman does not fail, instead Podman writes a tar stream to _stdout_.
To match the Docker behaviour, Podman should fail too.

**Steps to reproduce the issue:**

#### Running with Podman

[code]

#### Running with Do

[2021-02-14 18:27] replicajune commented on #9361
I forgot to double-check after running an upgrade. Sorry for that. It's indeed available !

[2021-02-14 18:34] buck2202 opened #9363 ""metacopy check" insufficient? all "sudo podman __" commands failing on ubuntu 18.04 kernel 4.15"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a clean installation of podman 3, all commands fail when executed as root.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
From the podman error message, it seems like there is a test to determine kernel support for "metacopy", but it fails with an untrapp

[2021-02-14 19:19] buck2202 commented on #9256
This seems to still be an issue in the current stable/testing (which at this moment, show the same version numbers)

[code]

[2021-02-14 20:24] michelesr opened #9364 "Cannot create container with bridge network in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to create a container using a network created with the `podman network create` command, an error is raised by `rootless-cni-infra`:

[code]
By editing the `rootless-cni-infra` script  with `set -x` I managed to see that `Exit status 3` is printed by `cnitool add foo /proc/19293/ns

[2021-02-14 20:43] buck2202 opened #9365 "kubic xUbuntu_18.04 broken default OCI runtime config? dockerfile RUN lines fail with default installation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Simple dockerfile builds fail on a default configuration install of podman 3 from the kubic xUbuntu_18.04 repository. The default oci runtime configuration seems broken

**Steps to reproduce the issue:**
I created a very dumb dockerfile which fails during its build
[code]

runc is not present

[2021-02-14 21:03] buck2202 commented on #9365
explicitly uncommenting the `crun` lines in `/etc/containers/containers.conf` still isn't enough to get past this without manually specifying the runtime per-command. There is no user-level override present

[code]

[2021-02-14 21:11] Luap99 commented on #9364
Can you paste your cni config. Does it fail for all containers/networks?
Can you run the podman command with `--log-level debug` and provide the output.
Also try to remove the rootless-cni-infra container.

[2021-02-14 21:14] Luap99 commented on #9365
@rhatdan PTAL

[2021-02-14 21:40] alitvak69 commented on #3924
@lsm5 I see an old podman repository for centos7 in [OBS](http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/old_podman/CentOS_7).  Is it indication of the things to come for other repos?

[2021-02-15 04:20] fugkco commented on #9365
Got the same issue. Happy to provide output of `podman info` and the lot if needed.

One additional thing I'd like to add is I attempted to explicitly add the `runtime` to the rootless config (since I was running rootless) in addition to the global config, but still not working:

[code]

As OP mentioned, running manually by adding `--runtime` flag works.

[2021-02-15 06:04] buck2202 commented on #8432
Still trying to get to the point of being able to run/test my simple example for this. I finally got podman built from source (I might have some updates to suggest for the website), but criu is currently failing in ways that I don't see when I install podman from the kubic repo. So...I might call it progress, but not on the actual issue yet

[2021-02-15 06:30] michelesr commented on #9364
Tried, but it doesn't help.

All the ones I tried so far, created using `podman network create` (with and without `--subnet` flag)

[code]

[code]

[2021-02-15 07:33] rsommer commented on #9232
Just updated to podman 3.0to test if this may be fixed, but the problem still persists.

[2021-02-15 08:01] vrothberg commented on #9232
Thanks for checking!  Do you know which REST endpoint the CI runner is using?

[2021-02-15 08:29] rsommer commented on #9232
The image is created via `POST /v1.25/images/create?fromImage=` with `tag=latest`. I'm not quite sure on which side the bug resides. If I set the pull_policy in containers.conf to `always`, everything works as expected. If I'm using the default settings and specify pull_policy=always inside the gitlab runner config, the images never get pulled again when they exist locally. As far as I understand,

[2021-02-15 08:31] vrothberg commented on #9362
Thanks, @eriksjolund!

I can tackle the issue as I caused the incompatibility :^)  The philosophical question whether it's a bug or feature but Docker compatibility is the goal.

[2021-02-15 08:33] vrothberg commented on #9318
@adrianreber, do you know what may go wrong?

[2021-02-15 08:42] adrianreber commented on #9318
I guess this is because of btrfs.

https://criu.org/Filesystems_pecularities

Sorry, but btrfs is known to be not correctly supported.

Upstream CRIU we do not get many questions about btrfs, so that nobody looked into fixing it so far.

In bugzilla I would close this ticket with cantfix.

If you can please try it with another filesystem.

[2021-02-15 08:43] vrothberg commented on #9353
Thanks for reaching out!

Podman uses the `systemd` cgroup manager by default.  You could change it to `cgroupfs` on the CLI via `--cgroup-manager=cgroupfs` or you tweak `/usr/share/containers/containers.conf` and set
[code]

[2021-02-15 08:46] vrothberg commented on #9353
Please let me know if that works for you.

[2021-02-15 08:46] giuseppe commented on #8929
since we have a way to have just one mapping in the user namespace with `--uidmap 0:0:1` and that there is no need in skipping newuidmap, I am going to close the issue.

Please reopen if you disagree

[2021-02-15 08:46] #8929 closed

[2021-02-15 08:52] adrianreber commented on #9318
Oh, in the  `userdata` directory there should be a log file from CRIU called `dump.log`. That would be interesting to see. But I am pretty sure this happens because of btrfs.

[2021-02-15 08:59] PavelSosin-320 commented on #9357
@tobwen Sorry for incompetence. Do you mean to add           **cgroup_no_v1=all systemd.legacy_systemd_cgroup_controller**
I've added the parameter kernelCommandLine=cgroup_no_v1=all to to the .wslconfig file:

following the documentation:
       _These options cause the kernel to boot with the cgroups v1
       controllers disabled (meaning that the controllers are available
       in the v2 hier

[2021-02-15 09:48] vrothberg commented on #9362
The more I think about it, the greater the feelings that this is a bug in Docker. `-` and `/dev/stdout` are essentially the same.

@eriksjolund is there a specific reason you consider it a bug?  Some tools that may depend on this specific behavior?

[2021-02-15 09:58] Luap99 commented on #9364
OK I have no idea what is causing this. One difference between your and mine setup is that I am using crun v0.17 instead of runc. Might be worth to try.

[2021-02-15 10:09] vrothberg commented on #9365
Thanks for reaching out!  I'll take it and prepare a fix.

[2021-02-15 10:20] daiaji commented on #8936
https://www.kernel.org/doc/Documentation/networking/tproxy.txt
It looks like this, but can iptables really work in a container?

[2021-02-15 10:20] michelesr commented on #9364
Tried with crun v0.17 with no luck. Do you know what `Exit status 3` means in `cnitool` ? I've looked at the source code (which I suppose is this https://github.com/containernetworking/cni/blob/master/cnitool/cnitool.go) but I couldn't figure it out.

[2021-02-15 10:21] Luap99 commented on #9086
I see this error also in the integration tests:
https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5499289146228736/html/int-podman-fedora-32-rootless-host.log.html#t--podman-attach-to-a-container-with---sig-proxy-set-to-false--1

[2021-02-15 10:38] Luap99 commented on #9359
You mention ubuntu 2004 so I assume it is installed via the kubic repo.

@lsm5 PTAL It looks like the `podman-plugins` debian package doesn't depend on `dnsmasq`

[2021-02-15 10:41] vrothberg commented on #9365
Opened https://github.com/containers/podman/pull/9368 to fix the issue.

[2021-02-15 11:55] RaphaelPour commented on #9363
I can confirm this bug.

I noticed that my 18.04 ci job failed with `podman login`. Having set `--log-level=debug` the 18.04 job diverged from the 20.04 one starting with the following  log messages:

[code]

[2021-02-15 12:06] asciiprod commented on #9345
If `containers-image` is obsolete, it must be added to the control file of `containers-common` in the `Replaces` line.

[2021-02-15 13:29] ghost opened #9371 "SELinux volume permission issues when playing kube file (rootless)"
/kind bug

**Description**

As mentioned in https://github.com/containers/podman/issues/8710 I have been having issues playing a kube file that I generated with podman. The problem seems to persist (I'm not 100% sure it's still the same issue).
Now on v3.0.0 I have permission issues with the volumes.

**Steps to reproduce the issue:**

SELinux is set to "enforcing".

_Scenario A: running everythin

[2021-02-15 13:48] rhatdan commented on #9363
This change would at least make this a warning rather then a hard failure.
https://github.com/containers/storage/pull/819

[2021-02-15 13:53] daiaji commented on #8944
@giuseppe
[code]
BUG seems to still exist.

[2021-02-15 14:00] rhatdan commented on #9371
This the YAML file include the :Z?

[2021-02-15 14:05] rhatdan commented on #9353
The containers.conf change should be made in /etc/containers/containers.conf

[2021-02-15 14:06] g574 commented on #9371
Yes, I created a pod, then a container in the pod with :Z :
[code]
Then I generated the YAML from this pod.

[2021-02-15 14:08] rhatdan commented on #9338
Yes new feature in podman 3.0.

[2021-02-15 14:10] rhatdan commented on #9352
The name 'engine' was never supported, and this field was being ignored.  The change in 3.0 is that we are enforcing that the user specify the "driver" rather then having the tool guess the driver.

[2021-02-15 14:10] #9352 closed

[2021-02-15 14:24] rhatdan commented on #9371
Sorry I just saw the yaml file.  If you add :Z to the image path, does it work?

[code]

[2021-02-15 14:24] daiaji opened #9373 "The podman generate systemd command generated the wrong file."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The podman generate systemd command generated the wrong file.
This usually only occurs in the cgroups v2 environment, it does not seem to happen in the cgroups v1 environment.

**Steps to reproduce the issue:**

1.`podman pod create --name test-pod`

2.`podman run -d --name test --pod test-pod

[2021-02-15 14:28] g574 commented on #9371
No, it doesn't.
Here's the result:
[code]

[2021-02-15 14:31] vrothberg commented on #9373
Thanks for reaching out!

@Luap99 already self-assigned, so expect a fix in the next few minutes :-)

[2021-02-15 14:33] rhatdan commented on #9228
Is newgidmap setuid or getcap?

$ getcap /usr/bin/newgidmap
/usr/bin/newgidmap cap_setgid=ep
$ ls -l /usr/bin/newgidmap
-rwxr-xr-x. 1 root root 29848 Nov 16 04:17 /usr/bin/newgidmap

@saschagrunert @vrothberg Any ideas?

[2021-02-15 14:36] daiaji commented on #9373
In fact, I have encountered more than this one of the pod-related bugs, whether there is a lack of testing of the pod function.

[2021-02-15 14:37] apinter commented on #9318
Had a feeling that `btrfs` might be the cause of the issue. Unfortunately CRIU doesn't even create a `dump.log` to get more information on the issue. Guess I could move the container into a `pod` and just play it on another server and use `btrfs send-receive` to send over the volume as well.
Considering F33 by default is on `btrfs` too I'm wondering if it fails there as well.

[2021-02-15 14:38] baude commented on #6866
Moving to a separate repo will  still pull in all the dependencies that are present in the main repo.

[2021-02-15 14:41] adrianreber commented on #9318
I think only F33 Workstation is using btrfs. Only new installs and only Workstation. If you do an upgrade you will stay on the existing FS. But yes, I also expect more people to complain about it.

[2021-02-15 14:44] mheon opened #9374 "Podman panics when Image ID is passed to `pod create --infra-image`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `--infra-image` flag to `podman pod create` panics when an image is specified by its ID, instead of its name. The image in question also had no tags, which could be a contributing factor.

**Steps to reproduce the issue:**

1. Select any valid, untagged image available on your system and

[2021-02-15 14:55] drewbailey commented on #6866
If it's purely a lift and shift, sure. I think the community would greatly benefit from a widely adopted and easy to use api package, similar to https://github.com/moby/moby/tree/master/client

[2021-02-15 14:57] Luap99 commented on #9373
I opened #9375 to fix this issue. It is a recent regression introduced in #9178.

[2021-02-15 15:00] vrothberg commented on #9228
The error message points to *g*id. @InfRandomness can you also share `cat /etc/subgid`?

[2021-02-15 15:07] InfRandomness commented on #9228
`prints nothing`

![image](https://user-images.githubusercontent.com/43730933/107962889-ca593e80-6fa7-11eb-99b6-91025ccffc53.png)

[code]

[2021-02-15 15:11] cevich opened #9376 "[1.6.4-rhel] golangci-lint: SA1019: g.Spec is deprecated"
/kind bug

**Description**

Branch-testing jobs run daily via Cirrus-CI cron jobs on various branches, including https://github.com/containers/podman/tree/v1.6.4-rhel

[As of 2/14/2021 the 'gate' task on this branch has started failing with an error.](https://cirrus-ci.com/task/4604818851364864)

**Steps to reproduce the issue:**

1. Open a PR or wait for daily branch job to execute

2. No code ch

[2021-02-15 15:12] rhatdan commented on #9228
Yes it means its is setuid (or has file caps) in this case it is setuid.
Everything looks fine, but I have no idea why this is blowing up.  Perhaps some setting in SUSE that blocks the use of the uid range.

Could you change the range to see if having duplicate ranges in the /etc/subuid is being rejected?

[2021-02-15 15:23] tobwen commented on #9357
No, I've added `systemd.unified_cgroup_hierarchy=1` to `GRUB_CMDLINE_LINUX_DEFAULT` in  `/etc/default/grub` a long time ago, but seems like any script removed it. After rebooting, it worked again.

I've also read that mounting the cgroupv2 mounts should be enough to make it work. But as @mheon suggest, this might not be supported right now.

[2021-02-15 15:26] gbraad commented on #9259
had some time besides the 'mandatory family visits' (CNY), but setting the `kernelCommandline="systemd.unified_cgroup_hierarchy=1"` didn't do it.

[2021-02-15 15:27] ebousse opened #9377 "Error: open executable: Operation not permitted: OCI permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a simple `podman run` command, I get an error: `Error: open executable: Operation not permitted: OCI permission denied`.

**Steps to reproduce the issue:**

1. Run `podman --log-level=debug run --rm docker.io/klakegg/hugo:0.80.0-ext-alpine-ci hugo version`

**Describe the results

[2021-02-15 15:28] InfRandomness commented on #9228
Here are my new ranges :

[code]
I logged out and logged back in after changing those and the issue is still happening

[2021-02-15 15:32] daiaji opened #9378 "Cannot execute getent when running scratch image in podman."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Cannot execute getent when running scratch image in podman.
But it works in docker.

**Steps to reproduce the issue:**

1.`podman run docker.io/filebrowser/filebrowser`

**Describe the results you received:**

`2021/02/15 15:21:09 exec: "getent": executable file not found in $PATH`

**Describe

[2021-02-15 15:42] rhatdan commented on #6412
@kblin Did you ever get a chance to look at this?

[2021-02-15 15:43] asottile commented on #9353
that changes the error message but doesn't fix it:

[code]

[2021-02-15 15:44] asottile commented on #9353
and actually, if I install `dbus-x11` (which I don't want to) it still doesn't work (this is with the default container config):

[code]

[2021-02-15 15:45] saschagrunert commented on #9228
Uh, I did not test it on Leap for quite a while. I think we have to debug it within a VM if it's reproducible.

[2021-02-15 15:46] InfRandomness commented on #9228
I can test it out in a VM a bit later on

[2021-02-15 15:48] vrothberg commented on #9353
Can you try with `sudo --login -u`.  It looks like the systemd session of the `pcrunner` user is not complete.

[2021-02-15 15:49] edsantiago opened #9379 "build: cannot tar container entries: 0 errors occurred"
Another unfortunate flake that happens in multiple tests, so I can't easily analyze it:
[code]
This is happening all over the place, and is now our number-one flake. It is not easily characterized other than "podman-remote build". It seems to have started on February 8. I recommend treating this as very high priority due to the number of flakes yesterday.

## Podman rmi [It] podman rmi with cached

[2021-02-15 15:51] asottile commented on #9353
It's meant to be a service user only -- does podman require a full login session?

[2021-02-15 15:51] vrothberg commented on #9379
I thin we may need @nalind's force.

[2021-02-15 15:51] asottile commented on #9353
(fwiw, this prints -- as I expect for service users):

[code]

[2021-02-15 16:00] vrothberg commented on #9378
Thanks for reaching out!

This seems to be a `crun` issue.  It works with `runc`. @giuseppe PTAL

[2021-02-15 16:07] mheon commented on #9363
@buck2202 Are you deliberately trying to run remote Podman?

It looks like Podman is trying to connect remotely there, which could be another serious bug if you did not intend that.

[2021-02-15 16:09] edsantiago commented on #9086
Thank you for logging that instance. Unfortunately, my flake-finder tool only catalogs by test name; it does not capture the error string[*]. The flake you report above is in the `podman attach to a container with --sig-proxy set to false` test, and there are no flakes in that test within the last 60 days. (Your PR #8910 in which this happened is not in my database because I only count PRs that ar

[2021-02-15 16:09] mheon commented on #9377
Can you upgrade to 3.0 final and see if the issue still occurs?

[2021-02-15 16:21] ebousse commented on #9377
Sure! I've installed the build from: https://koji.fedoraproject.org/koji/buildinfo?buildID=1708795

Now I have:
[code]

But the exact same error remains:
[code]

[2021-02-15 16:25] buck2202 commented on #9363
@mheon no, I'm not trying to run remotely. You say that because of the REST API reference in the error message? Or the "remoteSocket" section of `podman info`?

As root, after editing storage.conf to `mountopt = "nodev"`:
[code]

[2021-02-15 16:36] edigaryev commented on #9351
Looks like this:

...actually "works" only in terms of API simply ignoring the parameter by the virtue of:

https://github.com/containers/podman/blob/a5e37ad2805b2594339e0d5d41da0e0cc37e4f4a/pkg/api/handlers/decoder.go#L19

So the actual parameter name remained the same (`condition`), but the `error converting value for index 0` happens due to type change from `string` in 2.2.1:

https://github.co

[2021-02-15 16:41] sebastian-philipp opened #9382 "podman as root: Cannot connect to the Podman socket, make sure there is a Podman REST API service running"
Hi folks,

the Ceph CI got a new issue as of podman 3.0:

We're running this command as root:

[code]

This this run:

http://qa-proxy.ceph.com/teuthology/yuriw-2021-02-12_16:01:06-rados:cephadm-wip-yuri2-testing-2021-02-08-1048-octopus-distro-basic-gibba/5877761/teuthology.log

Note that runnin `podman pull docker.io/ceph/ceph:v15` as root worked fine on the previous podman package

**Is this a B

[2021-02-15 16:58] Luap99 commented on #9382
Dup of #9363

[2021-02-15 16:58] #9382 closed

[2021-02-15 16:59] kblin commented on #6412
I didn't have the time to spare yet.

[2021-02-15 17:20] kkujala opened #9387 "WORKDIR changes the an existing folder's ownership to root:root"
**Description**

I checked the bug reports I found one issue about folder ownership and WORKDIR: https://github.com/containers/buildah/issues/2323. That issue is about USER and WORKDIR, and in this case the folder is pre-created and chowned.

The podman and buildah work differently with WORKDIR than docker. The folder ownership (user:group) changes from my user (12345:12345) to root user (0:0) in

[2021-02-15 17:32] mheon commented on #9363
@vrothberg found the issue there - looks like it was just an issue with the message displayed, which is a relief. Metacopy issue should be separate.

[2021-02-15 17:48] al-cheb commented on #9353
I can reproduce the same behavior on Ubuntu 18.04. Starting with podman 3.0.0 one of dependence is `dbus-user-session` which breaks CI with `Az.Accounts` powershell module. Is it possible to eliminate installation the `dbus-user-session` pkg?

[code]

journalclt -e
[code]

[2021-02-15 18:28] quarckster opened #9384 "podman build requires runc"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

`podman build` requires `runc` to be presented in the PATH and it doesn't respect `containers.conf`.

**Steps to reproduce the issue:**

1. Uninstall `runc`
2. Install `crun`
3. Create `$HOME/.config/containers/containers.conf` with the following content:
[code]
4. Start building a container image with `podman build` command

[2021-02-15 18:35] PavelSosin-320 commented on #9357
Maybe, the root cause is the Fedora33 distro that I use. It is not something official but Microsoft official Fedora is not functional at all. It is also started using genie because Microsoft doesn't want to support systemd.
I checked my systemd version and configuration:
systemctl --version
systemd 246 (v246.10-1.fc33)
+PAM +AUDIT +SELINUX +IMA -APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRY

[2021-02-15 18:37] rhatdan commented on #9232
We are probably defaulting to pullifmissing?

[2021-02-15 18:43] rhatdan commented on #8936
They can work within a --privileged container, but I believe you want them on the host network, not buried on a VPN.  Since this is not a podman issue, I am going to close.

[2021-02-15 18:43] #8936 closed

[2021-02-15 18:54] rhatdan commented on #9371
Ok looks like two bugs in one...  I will take a look, unless you want to take a stab?

[2021-02-15 19:14] PhilipSchmid commented on #5114
For all wondering what @rhatdan probably meant with "reset your storage":
[code]
At least it worked for me on Pop_OS 20.04 with Podman (`3.0.0`) :smile: ...

[2021-02-15 19:38] rhatdan commented on #9377
Permission denied usually means Security.
First thing I try is to run --privileged
[code]
Since this fails in rootless --privileged, I will try rootfull.
[code]
Blows up there as well.

At this point it looks like something strange is going on.  Does this image work within Docker?

I think your entrypoint is screwed up.

# podman run --rm -ti --entrypoint hugo docker.io/klakegg/hugo:0.80.0-ext-alp

[2021-02-15 19:48] mheon commented on #9384
@rhatdan I thought we fixed this one? Do we need a newer Buildah than 1.19.2?

[2021-02-15 19:49] Luap99 commented on #9384
I think this is a dup of #9365

[2021-02-15 19:49] mheon commented on #9384
Concur. I'll close it as a dupe.

[2021-02-15 19:49] #9384 closed

[2021-02-15 20:23] giuseppe commented on #9378
the issue seems to be that podman sets `HOME=`.  runc considers it as not set (probably testing os.Getenv() != ""?) while crun considers it set and doesn't touch its value.

I think the crun behavior is correct and considers `HOME=` as set.

In any case, if the image requires `HOME` to be set otherwise it fails, then I think it must be set explicitely in the image and do not depend on an undefined

[2021-02-15 20:53] tobwen opened #9386 "[v3.1-dev] inconsistent output of containerID"
/kind bug

**Description**
podman's _start_ returns the ID, which the user has entered, not the complete only as _stop_ does.

**Steps to reproduce the issue:**
1. ```$ podman start 7c0```
2. ```$ podman stop 7c0```

**Describe the results you received:**
1. ```7c0```
2. ```7c0af7b0d1be2938f62c4ddc22d93b29e890320a159fb3b411cf938c35808b2f```

**Describe the results you expected:**
I expect both com

[2021-02-15 20:54] InfRandomness commented on #9228
Unfortunately I wasn't able to reproduce this

[2021-02-15 20:56] rhatdan commented on #9387
@vrothberg looks like your podman workdir change is forcing WORKDIR to be set to root:root.

[2021-02-15 21:02] kkujala commented on #9387
Out of curiosity, how can the image content be checked on that detail?

[2021-02-15 21:31] tobwen opened #9389 "[v3.1-dev] [rootless] binaries in same path make podman throw a warning"
/kind bug

**Description**
When _podman_ and _crun_ are in path, _podman_ throws a warning. Although this warning is wrong since the runtime has been defined in _containers.conf_

**Steps to reproduce the issue:**
1. ```$ PATH="$PATH:/home/tobwen/podman/usr/local/bin" /home/tobwen/podman/usr/local/bin/podman info```
2. ```$ /home/tobwen/podman/usr/local/bin/podman info```

**Describe the results y

[2021-02-15 21:37] edigaryev opened #9390 "Shortnames are broken in 3.0.0 due to missing list of unqualified-search registries"
[3.0.0 changelog](https://github.com/containers/podman/releases/tag/v3.0.0) states that:

As described in the [RedHat blog about this feature](https://www.redhat.com/sysadmin/container-image-short-names), the user can expect some form of fallback in case no shortname alias is defined:

However, because the 3.0.0 installation is missing these registries, pulling `python:latest` (or any other image

[2021-02-15 21:55] rhatdan commented on #9387
`podman image mount IMAGEID` and then you can look around the image.

[2021-02-15 21:56] kkujala commented on #9387
Cool, thanks!

[2021-02-15 22:04] rhatdan commented on #9390
Is this on Debian? Ubuntu?

The registries.conf file is invalid it should have at least that registry in the list/

[2021-02-15 22:05] erikerlandson opened #9392 "build arguments behave as empty in podman build"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using build arguments they appear to be treated as empty when I use `podman build`.  This seems to happen whether I am giving them default values or setting them on command line with `--build-arg`.  Or whether I am using them in an `ENV` or a `RUN`.

**Steps to reproduce the issue:**

Co

[2021-02-15 22:06] mheon commented on #9390
I think this is a dupe, but I can't find the other bug.

Regardless, this is not the first I've heard of this - it seems like we're having packaging issues in OBS. @lsm5 PTAL

[2021-02-15 22:10] mheon commented on #9392
Can you upgrade to Podman 3.0 and retry?

[2021-02-15 22:13] erikerlandson commented on #9392
Will try to install 3.0, report back

[2021-02-15 22:16] edigaryev commented on #9390
I'm observing this on both distros, the repos are:

* Debian: https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10/
* Ubuntu: https://ftp.gwdg.de/pub/opensuse/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/

The https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_10/all/containers-common_1-7_all.deb file doesn't

[2021-02-15 22:44] ocafebabe commented on #9353
I'm observing the same behaviour with a fresh podman 3.0.0 install on Ubuntu 20.04...

I never had this issue with podman 2.2.1 on my other Ubuntu 20.04 servers, what has been changed in the latest release?

[2021-02-15 22:45] erikerlandson commented on #9392
@mheon   I installed 3.0.1-dev  via COPR,  it didn't seem to work either:

[code]

[2021-02-15 22:53] erikerlandson commented on #9392
in case it matters:

[code]

[2021-02-15 22:59] erikerlandson commented on #9392
oh, `podman info` from the 3.0 upgrade:

[code]

[2021-02-15 23:43] edigaryev opened #9393 "Podman 3.0.0 fails to run containers with VOLUME's defined (e.g. postgres or mysql)"
[code]

[code]

[code]

[2021-02-15 23:48] klDen commented on #9393
I am getting the same error as above but for gradle.

[code]

[2021-02-15 23:57] mheon commented on #9393
https://github.com/containers/podman/pull/9383 will fix

[2021-02-15 23:58] mheon commented on #9392
@TomSweeneyRedHat PTAL

[2021-02-16 00:04] asottile commented on #9353
I believe the reason it is just showing up now is the default log level changed from ERROR => WARN in 3.0.0

[2021-02-16 00:11] ocafebabe commented on #9353
This really sucks because now I get false-positive alerts whenever podman is invoked as this gets printed during crontab task executions.

BTW my use case is similar to yours: service account (accessed using `sudo -u xxxxx -i`) running on headless servers.

[2021-02-16 00:23] asottile commented on #9353
I'm currently hacking around the warning with `--log-level error` (in a commit that I hope to revert once this issue is fixed)

[2021-02-16 05:15] dimon222 commented on #9345
Same issue is affecting entire Debian tree (not just Ubuntu)

[2021-02-16 05:34] pendulm commented on #9280
sure, I'll check it and make a PR when I have found the bug.

[2021-02-16 06:24] PavelSosin-320 commented on #9357
I re-checked the recent available systemd version for Fedora33 and after reading [Managing cgroups with systemd](https://www.redhat.com/sysadmin/cgroups-part-four) I found that my systemd version is the latest available. After running Fedora OCI image as rootless user I got:
podman ps
CONTAINER ID  IMAGE                                     COMMAND    CREATED        STATUS            PORTS   NAMES

[2021-02-16 08:45] ebousse commented on #9377
Yes it does. I tried it with docker before trying it with podman, and it works without problem. That's part of why I expected it to work with podman. Also note that this image is quite popular (5M+ pulls) and is even the one recommended by the hugo development team for using hugo through docker, as shown here: https://gohugo.io/getting-started/installing/

Thanks for the workaround though, this gr

[2021-02-16 09:53] g574 commented on #9371
@rhatdan , Thank you for asking but I'm not a programmer :(  I am only a Podman user.

[2021-02-16 10:15] rhatdan commented on #9389
I tried this exact test and could not get the error you are seeing to happen.

I even did
 PATH="/home/dwalsh/podman/usr/local/bin" ./bin/podman info
And it worked fine. (Once I copied all of the executables into that path.

I have no idea what is causing your issue.  The code looks correct as well.

[2021-02-16 10:33] vrothberg commented on #9378
I agree that the image should set the variable _but_ Podman aims at Docker compatibility.  @giuseppe would you reconsider changing the behavior of crun or should we consider changing the behavior in Podman and not set `HOME= `?

[2021-02-16 10:34] vrothberg commented on #9378
I reopen to find a solution to achieve compat.

[2021-02-16 10:38] cjeanner opened #9395 ""podman play kube" fails to set proper DNAT"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
It seems ```podman play kube <file>``` doesn't properly set the DNAT when either hostIP or nodeIP is passed: it just redirects everything to it without any filtering.

**Steps to reproduce the issue:**

1. create a yaml file describing a container (type: pod), and make sure you set hostPort, c

[2021-02-16 10:56] #9373 closed

[2021-02-16 10:56] cjeanner commented on #9395
Quick reproducer:
[code]

We can also see this when we inspect the pod:
[code]
The "hostIP" is empty..... Though the IP does exist on the host:
[code]

[2021-02-16 11:31] rhatdan commented on #9386
In order to match "Docker" behavior we need to change `podman stop` to print the short name or to be more specific, the same input as the user.

[2021-02-16 12:02] Kiritow commented on #9252
Just upgrade and installed Podman 3.0.0 on Ubuntu 20.04.2 LTS. Ran into these two issues during upgrade:

https://github.com/actions/virtual-environments/issues/2703

https://github.com/containers/podman/issues/8227

After upgraded to Podman 3.0, still can reproduce with steps above.

[code]

(I'm upgrading and running this command on another virtual machine, because I can't stop the original serv

[2021-02-16 12:13] vrothberg commented on #9232
Yes, we are but we should be using `PullIfNewer`. I'll spin up a PR.

[2021-02-16 12:23] rhatdan commented on #9392
I attempted the build described above with Docker and got the same results as Podman/Buildah.

When I moved the ARG definitions after the from

[code]
Docker, Podman and Buildah worked the same.

[code]

[2021-02-16 12:24] rhatdan commented on #9392
Here is the output of Docker with the initial Containerfile
[code]

[2021-02-16 12:25] rhatdan commented on #9392
I don't believe this is a bug. Reopen if I am missing something?

[2021-02-16 12:25] #9392 closed

[2021-02-16 12:35] vrothberg commented on #9232
https://github.com/containers/podman/pull/9397

[2021-02-16 12:41] aressem opened #9398 "Files copied with 'podman cp' not available inside container when running systemd."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run --name copytest --detach --systemd always --entrypoint /sbin/init docker.io/centos:8
2. touch myfile
3. podman cp myfile copytest:/tmp
4. podman exec copytest /bin/ls /tmp
ks-script-esd4my7v  ks-script-eusq_sc5

**Describe the results you recei

[2021-02-16 12:42] erikerlandson commented on #9392
Thanks! I misinterpreted the scoping rules - you can define ARG before FROM but after that FROM they go out of scope

[2021-02-16 12:53] giuseppe commented on #9378
then I think we should address it in Podman to not set `HOME=` if it cannot find any better value

[2021-02-16 12:54] vrothberg commented on #9398
Thanks for reaching out, @aressem!

I can reproduce on Podman v3.0.  The source of the issue is that `/tmp` is mounted as a tmpfs when running systemd in the container.  @rhatdan, do you concur?

I see that you're running on RHEL.  Please note that this is the upstream project.  If you want us to treat the issue with priority, please open a bug in the Red Hat channels.

[2021-02-16 13:00] aressem commented on #9398
Thanks @vrothberg. I have a workaround for the issue in my case (using another dir for copy), so this is not urgent. I just found this puzzling and wanted to bring it to your attention.

[2021-02-16 13:01] vrothberg commented on #9398
Thanks, I appreciate it!  Using another directory sounds like a good idea.

[2021-02-16 13:20] giuseppe commented on #9378
the issue also happens in crun when there is no `HOME` set and the `/etc/passwd` file doesn't exist as in the image above: https://github.com/containers/crun/pull/599

[2021-02-16 13:24] vrothberg commented on #9378
Podman-side fix: https://github.com/containers/podman/pull/9399

[2021-02-16 13:27] #9387 closed

[2021-02-16 13:53] #9365 closed

[2021-02-16 14:22] #9232 closed

[2021-02-16 14:25] #9374 closed

[2021-02-16 14:46] #9386 closed

[2021-02-16 14:48] TomSweeneyRedHat commented on #9392
@rhatdan is spot on, this is a scoping issue with the ARG and FROM statement.  Once the Containerfile processing hits a FROM, it wipes out any ARG statements prior.    In a Containerfile like this one, it doesn't seem to make intuitive sense, but it is very useful when you have multiple FROM statements in a Containerfile.

[2021-02-16 15:03] lrodorigo opened #9402 "Arm64 Ubuntu 16.04 : Cannot set property PIDs, or unknown property.: OCI runtime error"
/kind bug

**Description**
I am unable to start a single container on Ubuntu 16.04 Arm64 device (Nvidia TX2 board), .

**podman info**
[code]

**Steps to reproduce the issue:**

1. Compile and install the above specified versions of podman, conmon, libseccomp and runc.

2. Try to run a simple container:
`podman run -it quay.io/prometheus/busybox-arm64v8-linux`

3.
[code]

**Output of `podman versi

[2021-02-16 15:08] mheon commented on #9402
Can you try with the `crun` OCI runtime instead?

[2021-02-16 15:15] baude commented on #9402
I have to believe podman 3.0 wont work on ubuntu 16.10 ?

[2021-02-16 15:24] erikerlandson commented on #9392
@TomSweeneyRedHat thanks!   At the risk of going off on a tangent, I'd be extremely interested to see an example of a docker-file where nuking the ARG scope at each FROM is useful.

[2021-02-16 15:40] mheon commented on #9398
@vrothberg Suggest we add an error from copy code if we try to copy into a directory we can't handle - something mounted over by a filesystem like tmpfs or sysfs.

[2021-02-16 15:46] lrodorigo commented on #9402
@mheon I'm going to try it.
@baude Anyway I'm on Ubuntu 16.04... I hope it can run, in some way