[2018-11-14 04:55] watersb commented on #1801
The workaround, with a modified copy of `libpod.conf` in `${HOME}/.config`, is not working for me.

[2018-11-14 04:57] mheon commented on #1801
Sorry - the directory is ~/.config/containers - that was my mistake

On Tue, Nov 13, 2018, 23:55 Boyd Waters <notifications@github.com wrote:

[2018-11-14 05:13] watersb commented on #1801
Ok, trying a `libpod.conf` in `${HOME}/.config/containers`

`$ podman ps
error creating libpod runtime: database tmp dir /run/user/1000/libpod/tmp does not match our tmp dir /run/user/1000/run: database configuration mismatch
`
My `${HOME}/.config/containers/libpod.conf` file has all lines commented out, except for

`tmp_dir = "/run/user/1000/run"`

I am willing to troubleshoot this a bit; since I

[2018-11-14 05:18] mheon commented on #1801
Use the full path from the error message - the first one listed (from the
database, not the one labeled as "ours").

The error really needs to be improved - it's trying to say that a
configured path for libpod files no longer matches what the database was
created with (which can cause very bad things - losing track of running
containers, for example). It's just very not clear what field isn't
matc

[2018-11-14 05:19] watersb commented on #1801
I am willing to hack on `fedora-toolbox`, if I can get closer to a work-around.

`$ podman version
Version:       0.11.2-dev
Go Version:    go1.11.2
OS/Arch:       linux/amd64
`
on Fedora Rawhide, using `rpm-ostree`.

[2018-11-14 05:29] mheon commented on #1801
I'm in the process of patching libpod to respect the paths in the database
if they're not explicitly overridden, which should solve this, but it's
proving to be slow work. I'm hopeful it will be done sometime tomorrow, and
we can get a new, fixed build out. In the meantime, it might be easier to
just revert to an older package

On Wed, Nov 14, 2018, 00:26 Boyd Waters <notifications@github.com wrot

[2018-11-14 05:33] watersb commented on #1801
Great! I will try again in a day or three. Thanks.

[2018-11-14 15:29] robmv opened #1815 "Add reflinks suport to the vfs storage driver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**

In order to speed up rootless container creation using the vfs storage driver, it could be possible to use reflinks when available, for example over Btrfs or XFS (with reflink enabled format), when creating the container tree. The speed of container creation is one the drawbacks of the vfs driver, since it has to cop

[2018-11-15 07:22] cjeanner opened #1816 "timed out waiting for runtime to create pidfile for exec session"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

# **kind bug**

[//]: # **kind feature**

**Description**
We are sometimes hit by the following error while deploying a bunch of containers:
[code]

**Steps to reproduce the issue:**

Unfortunately, no steps as it's apparently random...

**Describe the results you received:**
It fails at running t

[2018-11-15 07:31] cjeanner commented on #1816
Seems linked to #1495 - the 1000ms isn't enough apparently... Maybe it should become an option we pass to `podman exec` ?

[2018-11-15 12:58] cjeanner opened #1817 "unable to find user root: no matching entries in passwd file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

# **kind bug**

[//]: # **kind feature**

**Description**
Sometime, we hit the following error while deploying a bunch of containers:
[code]

**Steps to reproduce the issue:**

Appears at random.

**Describe the results you received:**
It's randomly failing

**Describe the results you expected:**

[2018-11-15 14:56] cjeanner commented on #1817
Some more info I could dig in some previous run, with debug:
[code]

[2018-11-15 15:24] rhatdan commented on #1817
I take it you do have a root user in /etc/passwd?  Or are you missing /etc/passwd?

[2018-11-15 15:24] rhatdan commented on #1817
@cjeanner What is the actual command you are running?

[2018-11-15 15:31] mheon commented on #1817
@cjeanner Is the error message consistent? Or does it vary between runs? We call this function more than once per container, so I'm curious as to whether it's failing in different places each time, or consistently when we try and set up image volumes

[2018-11-15 15:33] cjeanner commented on #1817
@rhatdan so the user does exist in the container. Else it would be consistent, on a specific set of container. But this isn't the case.

@mheon nope, not consistent. It hits "sometimes", and not always for the same container - so it's really, really hard to reproduce (I've spend my day trying really hard... no chance)

[2018-11-15 16:04] rhatdan commented on #1817
So this is runc blowing up?

[2018-11-15 16:11] mheon commented on #1817
It could be the runc passwd parse code? We're using it as part of libpod's lookup functions...

[2018-11-15 18:10] #1816 closed

[2018-11-16 08:03] rhatdan commented on #1775
I agree I think it would be ok to just warn on this not block.

[2018-11-16 08:19] rhatdan commented on #1815
There is nothing that podman needs to do to support XFS Reflink.  This needs to be configured in the underlying storage at storage creation time.  When you create the mount point for your home dir with XFS you need to specify the mkfs that you want to use reflink.  Then when you run podman it will take advantage.  I sent an email to the xfs storage team a while ago to ask them to turn it on reflin

[2018-11-16 08:19] #1815 closed

[2018-11-16 08:37] rhatdan commented on #1815
https://bugzilla.redhat.com/show_bug.cgi?id=1650453

[2018-11-16 08:49] giuseppe commented on #1815
Enabling reflinks in the file system is not enough, we will need to add support for it to containers/storage to try a clone first then do a raw copy.  AFAICS, we are using "copy with tar" for vfs.

[2018-11-16 10:47] cjeanner commented on #1782
Hmm we have some read-write as well in that location, hence container_file_t might be best.

If I understand correctly, a chcon (or fcontext) is mandatory in any cases, unless we push some new policy from openstack-selinux or the like (and that modification will probably be rejected right?).

Guess we can close this request as "not a bug".

[2018-11-16 11:04] #1586 closed

[2018-11-16 11:30] rhatdan commented on #1782
Well you can also volume mount with the ":z" or ":Z"

[2018-11-16 11:30] #1782 closed

[2018-11-16 11:34] giuseppe commented on #1815
is it possible to move this issue to containers/storage (https://blog.github.com/changelog/2018-10-30-issue-transfer/)?  I am not an admin on libpod so I cannot do it

[2018-11-16 19:36] #1797 closed

[2018-11-16 23:58] netroby commented on #1384
Thanks for your kind reponse.
For long time read document ,try solution, i found libpod not best tools for me .
It can not provide us benefit like docker.
we run docker on windows for develop.
Run docker build prepare for image build for production.

[2018-11-16 23:58] #1384 closed

[2018-11-17 11:40] rhatdan opened #1826 "Is there a reason we are hard coding the storage driver type in the database."
I would want to be able to use multiple different storages in podman at the same time.  But the database refuses to allow me?

[2018-11-17 11:41] rhatdan commented on #1826
@mheon WHY?

[2018-11-17 11:43] rhatdan commented on #1826
I am running podman in my homedir, and I want to play with fuse-overlay, but I have to blow away all containers, since i ran originally with the vfs driver.

[2018-11-17 13:47] TomasTomecek commented on #1801
Given Matt's advices, I'm going to close this one as the issue is resolved for me. Please keep those UX fixes coming.

[2018-11-17 13:47] #1801 closed

[2018-11-17 14:48] mheon commented on #1826
If you swap storage driver type with active containers, suddenly the
contents of your storage dirs become useless, and we lose whatever active
containers you have - you need to delete them and recreate them on the new
storage driver. Basically, we're trying to ensure database consistency by
making sure everyone using it can see and use the same set of containers in
c/storage

On Sat, Nov 17, 2018,

[2018-11-17 14:50] mheon commented on #1826
I think our basic answer for swapping to fuse-overlayfs is tell people to
blow away their database after saving all relevant containers...

On Sat, Nov 17, 2018, 09:48 Matthew Heon <matthew.heon@gmail.com wrote:

[2018-11-19 06:21] wking opened #1828 "Pre-create config manipulation?"
There's been a lot of discussion over in opencontainers/runc#1811 about how to support the NVIDIA folks and others who want to be able to create devices (possibly after having loaded kernel modules) and bind userspace libraries into the container.  Currently that's happening in the middle of run's `create`-time mount handling before the container pivots to its new root directory with `runc`'s inco

[2018-11-19 06:58] rlpowell opened #1882 "Wow podman really doesn't like this image."
**Description**

I can't run "podman build" with "FROM kristophjunge/mediawiki:1.30"; it fails out immediately no matter what.

**Steps to reproduce the issue:**

Given:

[code]

run: sudo podman build .

**Describe the results you received:**

[code]

Also, *every time I run that*, the size of /var/lib/containers increases by 1.1GiB, despite the above command occurring almost instantly.

**Descri

[2018-11-19 08:38] giuseppe commented on #1516
is the job running in a container and`/var/lib/containers/storage` is not a volume?

It looks like the issue is podman trying to use overlayfs on top of another overlayfs file system and that won't work

[2018-11-19 10:42] vrothberg commented on #376
Given the age of this issue, I suggest closing it. WDYT @mheon, @rhatdan?

Personally, I am afraid of the implications of a `podman container config`. I can understand why that could be useful in some use cases, but I'd argue that those look like container anti-patterns to me. A `buildah config ...` and starting a new container could be a workaround.

[2018-11-19 10:45] vrothberg commented on #414
Ping @runcom, @mrunalp. WDYT?

[2018-11-19 11:42] vrothberg commented on #605
Is there progress on this feature?

[2018-11-19 11:45] vrothberg commented on #526
Once CRI-O is ported on libpod, wouldn't `podman-commit` work like any other command on CRI-O containers (given the right namespace is used)? I wonder if we can close this issue as it seems to be an implicit part of the libpod port.

[2018-11-19 11:55] vrothberg commented on #613
@mheon, @rhatdan, I think we handle this now correctly, do we? I think the internal counter solves most of it. But I am not sure if multiple `unmounts` should break the `cp` or not?

[2018-11-19 12:01] vrothberg commented on #794
Closing. Feel free to re-open if the issue is still present or reoccurs.

[2018-11-19 12:01] #794 closed

[2018-11-19 12:08] vrothberg commented on #846
@baude, @mheon : I think we can fix this along with some other networking work (e.g., POD issues).

[2018-11-19 12:11] vrothberg commented on #860
Ping.  Is this still a desired change?

[2018-11-19 12:14] vrothberg commented on #1139
@baude @mtrmac @nalind, ping.

[2018-11-19 12:33] vrothberg commented on #1324
Closing per @rhatdan's decision: https://github.com/containers/libpod/pull/1426#issuecomment-419475509

[2018-11-19 12:33] #1324 closed

[2018-11-19 12:33] rhatdan commented on #1826
Except that figuring out where your content is in your homedirs is difficult.  And podman info stops working.  Perhaps we could make the error indicate to them that changing your storage driver requires a reset of storage.

But I still would like to run with two different storages at the same time.

What if I want to experiment with KATA containers or use kata for certain workloads while I use run

[2018-11-19 12:37] vrothberg commented on #1333
I think the initial question has been answered, closing.

[2018-11-19 12:37] #1333 closed

[2018-11-19 12:53] vrothberg commented on #1374
Closing as this issue has been fixed via #1380.

[2018-11-19 12:53] #1374 closed

[2018-11-19 13:02] mheon commented on #376
I'd still like to get a command for cloning and modifying containers in
(create a new container based on a modified version of an existing
container) to partially solve this, but I think that falls under a
different issue.

On Mon, Nov 19, 2018, 05:42 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-19 13:03] mheon commented on #605
I believe Urvashi is getting close to finishing a patch to add this.

On Mon, Nov 19, 2018, 06:42 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-19 13:04] mheon commented on #613
I think the internal counter does solve this, as long as each mount only
unmounts once.

On Mon, Nov 19, 2018, 06:55 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-19 13:05] mheon commented on #846
Agree - this is very important for pod work

On Mon, Nov 19, 2018, 07:08 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-19 13:06] mheon commented on #846
I think Port may be partially fixed already

On Mon, Nov 19, 2018, 08:05 Matthew Heon <matthew.heon@gmail.com wrote:

[2018-11-19 13:08] vrothberg commented on #1376
@TomSweeneyRedHat, I really like the proposal in this issue. Maybe we can put our heads together in not so long and collect something like a containers ABC for Podman, Buildah, Skopeo etc. (Cc: @rhatdan)?

I was skimming parts of the RHEL docu and can imagine re-purposing those for such educational purposes for the projects.

[2018-11-19 13:12] mheon commented on #1828
Overall, I think this is probably a fine addition, with a few caveats.

I am a bit concerned about potential performance hits here (a lot of
fork-exec during one of the most expensive operations in Podman/CRI-O). I
think we definitely want a way of only calling the filter programs
selectively (similar to the OCI hooks).

I'm also thinking this needs to come with a long disclaimer about how even
si

[2018-11-19 13:17] vrothberg commented on #1358
This still seems to be an issue. I am going lilo through our issue, sorry to be noisy today. @baude, do you find time to work on this or shall we re-assign?

[2018-11-19 13:32] TomSweeneyRedHat commented on #860
I think so, most likely waiting in stealth to attack @haircommander when he returns early next year.

[2018-11-19 13:34] TomSweeneyRedHat commented on #605
@vrothberg ack @mehon's thought on @umohnani8 working on this now.  She and @rhatdan were talking about it in e-mail, she's finding new layers to the issue and is trying to get a patch together that covers a chunk of them, then follow up with another PR or two to wrap up.

[2018-11-19 13:53] mheon commented on #1358
I'm working on a fix on and off (other urgent things keep intruding)

On Mon, Nov 19, 2018, 08:17 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-19 13:54] umohnani8 commented on #605
Yup actively working on on this.

[2018-11-19 14:02] TomasTomecek commented on #1092
I have attached a minimal reproducer to the original post.

[2018-11-19 16:16] TomasTomecek commented on #1092
@giuseppe, as @lslebodn figured out, openshift itself is dropping those capabilities. I have opened an origin issue over here: https://github.com/openshift/origin/issues/21514

[2018-11-19 16:53] giuseppe commented on #1092
this is a tricky issue, allowing cap_setuid and cap_setgid by default lowers considerably the security.

Potentially an unprivileged user could become any UID with the help of a suid application that is part of the image.

[2018-11-19 16:55] mheon commented on #1092
@giuseppe I think they also set no new privileges by default, which would torpedo that

[2018-11-19 17:08] rhatdan commented on #1092
I would figure you would need to have an SCC that adds these capabiltities and allows the user to run podman.

[2018-11-19 17:18] rhatdan commented on #526
Yes I think we can close this.

[2018-11-19 17:18] #526 closed

[2018-11-19 23:54] rhatdan commented on #376
Cloning a container is not really what they are after here.  They want to be able to modify the default environment variables of a container at start time.
I kind of like the idea of leaking more information into the container from the host.  For example the LANG, TERM and COLORTERM.

Does it make sense to start the container and exec into the container with these values set to the parent process

[2018-11-19 23:55] rhatdan commented on #613
I agree.

[2018-11-19 23:56] rhatdan commented on #1376
I agree.

[2018-11-19 23:57] rhatdan commented on #860
@QiWang19 Could you take a look at this?

[2018-11-20 06:51] vrothberg commented on #613
Great, this seems ready to be implemented :+1:

[2018-11-20 06:58] vrothberg commented on #376
Sorry to reply with a question, but yours made me think a  bit more. It looks like the hypothetical `container config` would be restricted as we can't change arbitrary bits of the entire config. Changing the environment (LANG, TERM, etc.), however, seems doable. Hence the question (based on yours):

Can't we add some flags to `start` and `exec`? A `container config` might invite repeated request f

[2018-11-20 10:41] giuseppe commented on #1770
there is a PR for this issue: https://github.com/containers/libpod/pull/1777

[2018-11-20 11:09] giuseppe commented on #1739
this is a TOCTTOU issue.  I think this depends on the golang binding for`Chcon` not being atomic, the `/var/lib/config-data` is probably read/written by other processes and by the time we are walking the directory some files are deleted/moved so that the `lsetxattr` fails.

I think the solution is to modify `Chcon` to not give up on an `ENOENT` (or avoiding relabelling `/var/lib/config-data`).

[2018-11-20 11:15] giuseppe commented on #1739
PR here: https://github.com/opencontainers/selinux/pull/37

[2018-11-20 12:31] vrothberg commented on #1826
Would changing the location of the storage work as well? If so, couldn't storage take care of that on its own and create per-driver databases?

[2018-11-20 12:44] vrothberg commented on #1654
@jwhonce, @baude, can you have a look?

[2018-11-20 12:48] vrothberg commented on #1670
I have no strong feelings for nor against the proposal. @baude, @rhatdan WDYT?

[2018-11-20 12:52] vrothberg commented on #1671
@mheon, did you find time to check if it's the setup code or conmon?

[2018-11-20 12:54] mheon commented on #1671
I think it's us, not conmon, but it's been awhile so not 100% sure.

On Tue, Nov 20, 2018, 07:52 Valentin Rothberg <notifications@github.com
wrote:

[2018-11-20 13:02] vrothberg commented on #1675
After reading this issue, I realized that podman doesn't offer docker's `--password-stdin` flag. Is there a reason for that? If not, we could this together in the same PR.

[2018-11-20 13:21] vrothberg commented on #1680
@rhatdan, @mheon, let's revive this thread. I think moving it the path to `~/run` is the preferable solution. I am convinced, that moving it to `/tmp` will be considered as a security issue by some folks.

[2018-11-20 13:41] zvonkok opened #1834 "bind-propagation -- shared -- not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

[//]: # **kind bug**

**Description**

Trying to use bind-propagation *shared* with podman does not work.

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**

An empty directory on the host.

**Describe the results you expected:**

A populated directory on the host.
`l

[2018-11-20 14:07] rhatdan commented on #1834
@vrothberg Could you take a look at this?

[2018-11-20 15:00] vrothberg commented on #1834
Sure. I will look into this tomorrow.

[2018-11-20 15:20] rhatdan commented on #526
BTW, I think podman commit should not have much effect for containers running in CRI-O, since I believe that containers running in CRI-O should be read/only by default.  Meaning their is nothing to commit.

[2018-11-20 15:22] rhatdan commented on #1139
@baude @mtrmac @nalind Lets revit this,  Is this worth having a bluejeans session to discuss?

[2018-11-20 16:18] QiWang19 commented on #860
@rhatdan :ok_hand:

[2018-11-20 16:51] rhatdan commented on #376
Yes I am thinking more along the lines that these environment should be leaked into the container if not explicitly set by the user.

If I am working on a german system and run podman run, should the container run with LANG=German or English.  (Defaults to English now).  LANG could cause issues, since the German Lang config might not be in the container.  And I know that LANG is en_US.UTF-8, and I

[2018-11-20 16:59] baude commented on #1139
sure, anytime

[2018-11-20 17:09] timcoote opened #1836 "cannot run example httpd under systemd in a container as a normal user."
# **kind bug**

**Description**

I am following this example use of running systemd services in docker containers as a normal user: https://red.ht/2RkJyti, on various flavours of f29, including virtualbox/vagrant (fedora/29-cloud-base), and native install.

The examples works for an normal user with docker (if I fixup the file permissions for /var/run/docker*: `sudo chmod root:wheel /var/run/docke

[2018-11-20 17:17] mheon commented on #1836
Can you run the rootless `podman run` again with `--log-level=debug`? When you do, also check `journalctl` logs for anything from `conmon` - error messages may be printed to syslog

[2018-11-20 17:18] rhatdan commented on #1826
Well if we moved the libpod directory under the storage-driver directory it could work.
@mheon Would this cause large issues?

[2018-11-20 17:19] rhatdan commented on #1670
I actually do not believe we need this, since conmon provides this behaviour now,  I believe.

conmon will reap at container process zombies.

@giuseppe WDYT?

[2018-11-20 17:20] rhatdan commented on #1675
No reason, just an oversight.

[2018-11-20 17:33] timcoote commented on #1836
I suspect that it's pretty obvious from the debug output. I'll add the journalctl later.
[code]

[2018-11-20 17:39] mheon commented on #1836
Nothing really obvious here - the EOF json message is `conmon` failing from a runc error without forwarding it (we have a patch to fix this and report better errors, but it hasn't landed yet). I'll try and reproduce locally after lunch, see if I can get a full error out of runc.

[2018-11-20 18:38] giuseppe commented on #1670
conmon won't be able to reap processes created inside the PID namespace, zombie processes are reparented to PID 1 in the namespace.

The reaper part of conmon is only to cleanup processes left around by the OCI runtime.  This is required as conmon sets itself as a reaper to be able to read the container process exit code

[2018-11-20 18:45] mheon commented on #1836
Question - why are you using `fedora:24` in your Dockerfile? That's a very old systemd - I think we might need a newer version to successfully work in rootless Podman?

[2018-11-20 19:10] ktdreyer commented on #613
I was using podman today, and I was sad about the lack of "cp" parity with `docker`. Now I'm happy to find this issue.

[2018-11-20 20:37] timcoote commented on #1836
fedora 24 is the example from Dan Walsh's blog (see link at top). I've tried all releases between 24 and 29. 24 is the only one that gives any console output, at least on x86_64. When I've cracked this, I've still got to demonstrate something working on aarch64, with fedora-iot (f29).

Here's the journalctl output:
[code]

[2018-11-20 22:19] rhatdan commented on #1836
@timcoote Use fedora 29.  That is a very old blog.

[code]
[code]

[code]

[code]
[code]

[2018-11-20 22:20] rhatdan commented on #1836
As seen above this works well for me.  I used the entrypoint of /usr/sbin/init, which is the only difference I see.   The SELinux change also needs to be made.

[2018-11-20 22:21] mheon commented on #1836
I think we might need an addition patch on systemd (written by @giuseppe) for rootless, which I believe was merged, but I don't know if it landed in Fedora yet.

[2018-11-20 22:29] rhatdan commented on #1836
@timcoote Ok getting this to work with Docker from root means that the container is running as root.  Not as the User.  The issue we have in systemd running as non root is being worked on.

But their is no difference security wise between running sudo podman ... and running docker with the docker.socket open to non priv users.  Actually sudo is more secure.

So until systemd is fixed, I would use

[2018-11-21 09:49] giuseppe commented on #1836
With the last versions of the packages on Fedora 29 we are good to go.

The `Dockerfile` @rhatdan provided, works well with rootless podman, I've prepared a test image on `quay.io` with the following Dockerfile:

[code]

and I get:

[code]

[2018-11-21 11:48] vrothberg commented on #1834
I am not able to reproduce on openSUSE Tumbleweed. Neither with the reported version (i..e, 0.10.1.3) nor with the latest or HEAD. It behaves as expected. I will continue investigating.

[2018-11-21 11:59] timcoote commented on #1836
Just to be clear, the docker daemon is running as root, but the container process is running as a normal user. Is that consistent with what you thought I meant?

I'm content with that atm. I'm looking for a simple way to migrate from Raspbian systemd services to fedora-iot.

I've got this to work for me now using root, even for the later fedora distros in the container - which didn't work with doc

[2018-11-21 12:26] ssbarnea opened #1840 "containerd/cgroups/memory.go:179:33: undefined: unix.SYS_EVENTFD2"
build fails with undefined symbols on MacOS (HighSierra)
[code]

[2018-11-21 12:27] cjeanner opened #1841 "container create failed: container_linux.go:336: starting container process caused "process_linux.go:293: applying cgroup configuration for process caused open /sys/fs/cgroup/cpuset/machine.slice/cpuset.cpus: no such file or directory""
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

# **kind bug**

[//]: # **kind feature**

**Description**

From time to time, we are hit by a failure while starting a container:
[code]

We don't have much more logs unfortunately. The action is "podman run", just after we have pulled the image.
The failure hit randomly any container, so it's not

[2018-11-21 12:30] ssbarnea commented on #1840
PS. I plan to split this ticket into multiple individual ones once I get all individual problems identified.

[2018-11-21 12:39] ssbarnea opened #1842 "libpod make fails when GOPATH is not defined"
go language does not make GOPATH variable mandatory and states that it will default to `~/go` when is not defined.

It seems that libpod Makefile is smart enough to detect if code was cloned in an unexpected location and to symlink it to `~/go/src/github.com/containers/libpod` but the problem is that this does not make it work.

When this happens go fails to build its dependencies as it end-up loo

[2018-11-21 12:41] zvonkok commented on #1834
Since `rprivate` is the default and it is "working". Is anybody going to look at the other bind-propagation options left, besides `shared`?

/cc @jeremyeder

[2018-11-21 12:45] ssbarnea opened #1843 "make libpod installable on macos using brew"
Brew always buids so publishing a recipe will be posible only when we make the build succeed and usually they are less then 10 lines of code. Still to make them work we need to assure that libpod compiles on MacOS which is not yet the case.

## Identified steps (wip)

[code]

[2018-11-21 12:52] cjeanner commented on #1841
So the "run" command is pretty long, but doesn't have much subtle things:
we have a couple of --env var set, a nice list of bind-mounts (over 10). We run the container as ```--user root```, and set a ```--entrypoint``` script.

In some cases, we also add ```--privileged```, but as the command is generated[1], it's not that easy to get the one for each of the failure we have - especially since they

[2018-11-21 12:57] cjeanner opened #1844 "standard_init_linux.go:203: exec user process caused \"no such file or directory\""
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

# **kind bug**

[//]: # **kind feature**

**Description**

From time to time, we hit this uncommon issue while running a ```podman run``` command.

**Steps to reproduce the issue:**

1. It's a random failure, no reproducer. yay.

2.

3.

**Describe the results you received:**
From time to time, it

[2018-11-21 13:01] rhatdan commented on #613
Would be a simple bash script to generate the equivalent.  (I am not a big fan of docker cp).  But I guess we will have to implement it.
[code]

[2018-11-21 13:02] mheon commented on #1844
I'll double-check, but both these bugs seem to be coming out of runc, and
seem to be related to not being able to read files. The cgroup one could
theoretically be on the host, but this one is definitely trying to read
something in the container (the program specified in the container command).

Brent initially mentioned that this could be a result of the container not
mounting properly. I'm begin

[2018-11-21 13:03] EmilienM commented on #1844
A bit more details:

The container that causes problem:
2018-11-19 21:42:01 | "Error running ['podman', 'run', '--name', 'nova_wait_for_db_sync', '--label', 'config_id=tripleo_step3', '--label', 'container_name=nova_wait_for_db_sync', '--label', 'managed_by=paunch', '--label', 'config_data={\"command\": \"/docker-config-scripts/nova_wait_for_db_sync.py\", \"detach\": false, \"image\": \"docker.io/

[2018-11-21 13:03] vrothberg commented on #1834
I can reproduce. Grabbing another coffee helped.

[2018-11-21 13:04] ssbarnea commented on #1840
This seems to be caused by https://github.com/containerd/cgroups/issues/19 and I am afraid that the reply there worries me.

[2018-11-21 13:04] rhatdan commented on #1828
I agree, this has to be optional by configuration.  We also need information back in podman info to tell us whether one of these is installed.

[2018-11-21 13:05] cjeanner opened #1845 ""podman inspect --type image --format exists <image>" reports a not-friendly error when image doesn't exist in local storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

# **kind bug**

[//]: # **kind feature**

**Description**
When we run ```podman inspect --type image --format exists <image>``` against a non-existing image, we end up with a long, not really nice message like:
[code]
It should return something like ```the image <image> does not exist``` instead,

[2018-11-21 13:07] giuseppe commented on #1834
@vrothberg do you see it also on openSUSE Tumbleweed now?

If not, can you tell me what do you get running `grep owntmp /proc/self/mountinfo` inside of the container?

[2018-11-21 13:07] mheon commented on #1836
Regarding buildah versus Podman - they should work the same (Podman uses
buildah code to build), so it shouldn't matter - both will do the same
thing with the same code.

On Wed, Nov 21, 2018, 07:28 timcoote <notifications@github.com wrote:

[2018-11-21 13:09] vrothberg commented on #1834
Yes, I do. It was just a hiccup on my side.

[2018-11-21 13:10] rhatdan commented on #1680
Probably should be .local/run

[2018-11-21 13:11] rhatdan commented on #1680
Or if we want to keep it private to containers it should go in
~/local/containers/run

[2018-11-21 13:11] mheon commented on #1840
Cgroups code is not really expected to compile on OS X, so the solution
would be to conditional-compile the code using cgroups to not build at all
on Mac.

There are various other issues with libpod on OS X, the biggest in my mind
being the lack of an OCI runtime to start containers (at least, last I
looked, no such thing existed). If we don't have something like runc or
Kata we won't be able to a

[2018-11-21 13:13] mheon commented on #1680
We probably want that to be a tmpfs, if the user namespace Podman rootless
makes will let us do that.

On Wed, Nov 21, 2018, 08:11 Daniel J Walsh <notifications@github.com wrote:

[2018-11-21 13:13] giuseppe commented on #1834
It depends on `rootfsPropagation` that by default is set to `rslave`.

We should probably change the default to `slave`, something like:

[code]

[2018-11-21 13:19] mheon commented on #1834
We set the default to that to match Docker. Should we only reset to slave
if we detect that a different propogation was requested?

On Wed, Nov 21, 2018, 08:13 Giuseppe Scrivano <notifications@github.com
wrote:

[2018-11-21 13:37] giuseppe commented on #1844
who is creating the file `/docker-config-scripts/nova_wait_for_db_sync.py'?  Is it static or can it change while the container is creating/running?

[2018-11-21 13:41] rhatdan commented on #1826
Well we could allways create overlay-libpod.

And yes I expect the containers to disappear when the drive is changed.

[2018-11-21 13:51] cjeanner commented on #1844
It's a static file, pushed before the container is started:
https://github.com/openstack/tripleo-heat-templates/blob/0561a3536a11975645f3b2371dfd458c6cbf179d/docker/services/nova-placement.yaml#L117-L120

[2018-11-21 13:52] stuggi commented on #1844
nova_wait_for_db_sync.py is a static script which is part of the used volume '--volume=/var/lib/docker-config-scripts/:/docker-config-scripts/'

The config scripts get written to the node before they are used:

2018-11-19 21:31:07 | TASK [Write docker config scripts] *********************************************
2018-11-19 21:31:08 | changed: [fedora-28-vexxhost-sjc1-0000573726] => (item=create_sw

[2018-11-21 14:16] baude commented on #1845
@cjeanner the error you show looks like python?

[2018-11-21 14:17] cjeanner commented on #1845
@baude it's the output of the command formatted in python indeed

[2018-11-21 14:32] baude commented on #1845
im probably in the minority here, but im ok with the error; lets see who is weighs in

[2018-11-21 14:38] vrothberg commented on #1834
Alright, looks like we should do something similar to https://github.com/moby/moby/blob/master/daemon/oci_linux.go#L527. I'll wrap up a PR and ping you there to have a look.

[2018-11-21 14:40] cjeanner commented on #1845
The issue is, when we have issues during the deploy, most of the time ppl search for "error" and other "failed" terms, and when they see that, they are "Ah, that's the issue", while it isn't in fact. This raises false flags, and we lose time searching in the wrong direction :/.

Let's see how it goes then ;).

[2018-11-21 14:52] rhatdan commented on #1670
Does runc have some magic to make this happen?  or does docker just run a container with a static init volume mounted into it and then execs the command?  Or does the init take an option of the first command to fork/exec?

[2018-11-21 14:52] rhatdan commented on #1670
@mrunalp @runcom WDYT?

[2018-11-21 14:56] mheon commented on #1453
Changing inspect to note if we're using `slirp4netns` is probably simple. I don't think the remaining fields will populate though - we don't have a dedicated container IP address, no ports can be forwarded, etc. @giuseppe can you confirm?

[2018-11-21 15:07] giuseppe commented on #1453
We have a RFE on how we handle slirp4netns (https://github.com/containers/libpod/issues/1733), if we go that way then we will have more information to display.  That RFE must still be discussed/investigated (personally, I am not really convinced about having a single process handling all the rootless containers) but at the moment all we can really do is to show it is using `slirp4netns` instead of

[2018-11-21 15:10] giuseppe commented on #1670
runc doesn't have any magic AFAIK, we will need to go the ugly way of mounting a static binary inside the container (this is what Docker does, it is mounted as `/dev/init`) and use it to boot the real application.

It could be a minimal static C program we ship together with conmon.

[2018-11-21 15:10] rhatdan commented on #376
Or should it be default and then the flag would turn off the leak.

I think right now if you just do
podman run --env TZ --env TERM

these environment gets put into the container.

But users will tend to forget to do this,  Which to me breaks the way normal user expectations.

With fork/exec model users expect some environment to show up in the child process, in this case the container.

We could

[2018-11-21 15:38] rhatdan commented on #1841
This is happening in down in runc, and obviously runc is not finding the file under cgroups.

@mheon
open /sys/fs/cgroup/cpuset/machine.slice/cpuset.cpus

Is this the usual location that we tell runc to use?

[2018-11-21 15:40] rhatdan commented on #1836
@timcoote I believe we had issues with that version of podman, correct @mheon, which is why it has not been pushed.  We are working on a fix for the issue.

[2018-11-21 15:45] mheon commented on #1841
That looks like cgroupfs, and I'm pretty sure we're on systemd cgroups here - so I'm not 100% sure why runc is opening a cgroupfs path?

@cjeanner can you confirm that you guys are not manually setting cgroupfs in libpod.conf or the command line?

(We really ought to add that to `podman info`)

[2018-11-21 15:47] cjeanner commented on #1841
@mheon I can confirm we don't push anything in libpod.conf. It's the vanilla file from the RPM.

[2018-11-21 15:48] mheon commented on #1836
Yeah, we're waiting for a few patches to cut a new release and get that into Fedora - 0.11.1 developed some serious regressions with rootless containers. Probably have a 0.12.x when we return next week after the holiday.

[2018-11-21 15:50] mheon commented on #1841
Great, thanks.

So this definitely isn't a path we passed into runc, @rhatdan - it's looking at cgroupfs itself

[2018-11-21 16:00] rhatdan commented on #1844
Could things be umounted before runc runs?  if you had a race between podman run and podman umount this could happen?

[2018-11-21 16:03] mheon commented on #1841
https://github.com/opencontainers/runc/blob/76520a4bf07b0558aca3b867277d696b41978b44/libcontainer/cgroups/systemd/apply_systemd.go#L215

This is what's erroring

I think it must be doing some raw parsing of /sys/fs/cgroup to apply the right cgroup, despite it being the systemd driver

[2018-11-21 16:05] mheon commented on #1844
@rhatdan The code to prevent unmount while c.state.Mounted is set should prevent that from happening - let me verify

[2018-11-21 16:08] mheon commented on #1841
@cjeanner Possible you can get some syslog messages out of journalctl on a VM that failed? Would like to see if there's anything similar to the following:

`Nov 21 11:05:10 courageous.lldp.net systemd[1]: libcontainer-8068-systemd-test-default-dependencies.scope: Scope has no PIDs. Refusing.
Nov 21 11:05:10 courageous.lldp.net systemd[1]: libcontainer-8068-systemd-test-default-dependencies.scope:

[2018-11-21 16:11] EmilienM commented on #1841
@mheon I'm on it

[2018-11-21 16:13] EmilienM commented on #1841
@mheon http://logs.openstack.org/86/617686/1/check/tripleo-ci-centos-7-containers-multinode/29b7317/logs/undercloud/var/log/journal.txt.gz

[2018-11-21 16:14] rhatdan commented on #1845
@cjeanner So you think this is not an error?  Or you want to check if the image exists?, Why not just eat the error and check the status

[code]

[2018-11-21 16:14] EmilienM commented on #1841
I can see:
```Nov 21 01:20:35 undercloud.localdomain systemd[1]: Scope libcontainer-8929-systemd-test-default-dependencies.scope has no PIDs. Refusing.```

[2018-11-21 16:20] EmilienM commented on #1845
@rhatdan because if a real error happens, we need to catch it.
I think that we'll parse the output in our Python code and ignore this string in particular, so we can still catch other errors. I'll test that and close that bug when it's done.

[2018-11-21 16:40] giuseppe commented on #1453
started working on it: https://github.com/containers/libpod/pull/1849

[2018-11-21 16:43] EmilienM commented on #1845
I've pushed https://review.openstack.org/619313 to make our inspect command quiet. I'll close this issue when I don't see that message any more with my patch.

Thanks all for your help.

[2018-11-21 16:53] EmilienM commented on #1730
@mheon let me know if I'm doing wrong but I think we can close this one since https://github.com/containers/storage/pull/234 seems to be the fix. If yes, feel free to close. Thanks

[2018-11-21 17:48] ssbarnea commented on #1845
How about adding `--quiet flag` (or `--exit-code` to follow git) that would make  podman quiet by default unless another kind of error appears.

When doing "exists" it is expected not to find an image, so no output should be given unless there is a reason that makes it impossible for podman to return a trustable exit code.

[2018-11-21 17:56] #1730 closed

[2018-11-21 18:09] rhatdan commented on #1845
I think I would prefer to add a new command to
[code]
Which would return 0 or 1.
And return errors if it was anything other then ENOENT.

[2018-11-21 18:29] rhatdan commented on #1670
Makes sense.

[2018-11-21 19:05] wking commented on #1828
The in-flight #1830 already has that covered.

Can someone give me some pointers on this.  I dunno how `info` is fed, and I dunno what sort of information you're looking for.  Do we already list matching hooks there for other stages?

[2018-11-21 19:13] mheon commented on #1828
I think what you're already doing in #1830 (reporting literal changes to the spec) is plenty sufficient - should be enough to clue us in if anything goes wrong.

[2018-11-21 22:11] baude commented on #1845
Id be happy to do that.  I often wished for similar with containers.  I assume @rhatdan you'd be cool with both? if so, ill make it happen.

[2018-11-22 02:22] watersb opened #1853 "libpod: database configuration mismatch"
[//]: **kind bug**

**Description**

After libpod upgrade, I can no longer access my containers that I had created with rootless podman.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information**

On 6 November 2018, I created some containers using `podman` via `fedora-toolbox`, which is a shell script that

[2018-11-22 05:37] watersb commented on #1853
Thanks for the work! libpod is a good direction, make things simpler, hopefully.

Just wish to follow up, I have tried to implement the workaround with config files, and that just switches me between two error states. I am sorry that I am  not more familiar as yet with the pieces at play here,

[code]

[2018-11-22 05:39] watersb commented on #1853
`${HOME}/.config/containers/libpod.conf`

[code]

[2018-11-22 06:19] cjeanner commented on #1845
Hey,
So, adding a new subcommand ```podman image exists``` is a nice idea. But still. the ```inspect --format exists``` should be less verbose - in that specific case, the fact the image does't exist is acceptable I'd say.

@EmilienM wrong idea - what if the message changes for some reason? That should not be more than a temporary work around, if this is to be done.

[2018-11-22 07:46] giuseppe commented on #1670
that is exactly what I had in mind, it works for me.

Just out of curiosity, what are the differences with tini?

Now the difficult question is how to distribute it.  I think we could add it to the conmon .rpm once we have it?

[2018-11-22 07:57] vrothberg commented on #1670
You can find the package sources for openSUSE [here](https://build.opensuse.org/package/show/Virtualization:containers/catatonit). I think that a separate package makes sense as it can be used for Docker as well (which is what we did for openSUSE/SLES).

[2018-11-22 08:09] vrothberg commented on #376
@rhatdan, the only objection against that is that I am afraid it might break something in the container. However, I am not aware of the impact of `LANG`. The concrete fear I have is that the container will behave differently depending on the ENV of the host/user which somehow feels like an anti-pattern. But again, I do not know exactly if `LANG` could yield a behavioral change. Can you elaborate o

[2018-11-22 10:16] ssbarnea commented on #1840
We need to find a way to address this issue, even if this could mean that podman would delegate commands to a remove host (or vm) that can run. Top priority would be to be able to build containers.

There is a huge number of developers that are using MacOS ar their desktop and for which its (outdated) BSD was more than enough for writing and (unit) testing their code. Docker also worked well on th

[2018-11-22 13:41] EmilienM commented on #1845
@baude +1 with the idea! we'll probably use it.

[2018-11-22 14:14] mheon commented on #1840
Your best bet if you don't mind if things are running in a VM is probably
pypodman connecting over SSH to a Linux VM. I believe someone in our IRC is
working on a solution for easily spinning up said VMs, but I'm not sure
where he published his code - I'll ask next time I see him online

On Thu, Nov 22, 2018, 05:16 Sorin Sbarnea <notifications@github.com wrote:

[2018-11-22 16:50] EmilienM commented on #1844
@giuseppe pointed me out that it also fails the same way with Docker:
http://logs.openstack.org/98/619598/3/check/tripleo-ci-fedora-28-standalone-docker/b3b6940/logs/undercloud/var/log/extra/errors.txt

So at this point I wouldn't spend much time on it for now, it's probably something on our side and we'll keep looking.

[2018-11-23 08:47] giuseppe commented on #1844
I am going to close this issue for now, since it happens also with Docker.  Most likely the problem is somewhere else.

Let's reopen it if it needs more investigation in podman.

[2018-11-23 13:40] EmilienM commented on #1845
FYI I updated https://review.openstack.org/#/c/619313/ to be prepared to use ```podman images exist```.

[2018-11-23 20:45] TomasTomecek opened #1859 "inconsistent exited state name b/w root and rootless mode with -d"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # **kind bug**

**Description**

rootless
[code]

root
[code]

**Output of `podman version`:**

[code]

[2018-11-23 20:59] mheon commented on #1859
Rootless is not successfully running the postexit cleanup process.

@giuseppe It looks like the `podman cleanup` exit command we add to Conmon is failing silently - I'm not getting any debug output from it. Might be something about execing rootless Podman straight from Conmon?

[2018-11-23 21:05] mheon commented on #1853
Alright, it looks like you'd need a modified storage.conf as well to match the storage directories as well.
Follow roughly the same instructions as libpod.conf, except the file to copy is `/etc/containers/storage.conf` (same destination, `~/.config/containers`), and don't comment anything out. Set `driver` to `"vfs"` (defaults to `"overlay"`) and set `runroot` to `"/run/user/1000/run"` (from your

[2018-11-23 21:06] mheon commented on #1853
(Replace $USERNAME in graphroot with your own username)

[2018-11-23 21:07] mheon commented on #1853
(We're patching `libpod` to autogenerate these configs, so at least in the future we'll not need most of this setup if such things need to be adjusted again)

[2018-11-23 22:42] giuseppe commented on #1859
this is podman believing to run in root mode.  We need to add some env variables to the conmon process so that once podman is called, it can understand we are in a user namespace.

PR here: https://github.com/containers/libpod/pull/1861

[2018-11-24 12:55] rhatdan commented on #1840
Yes the whole pypodman effort is aimed at allowing the use of podman/docker like commands on a MAC Or Windows box interacting with podman running on a "remote" linux box (Probably a VM).  We would love to see this made easy and to work with the CoreOS Team to make it possible.

@dustymabe WDYT?

[2018-11-25 05:41] aduzsardi commented on #1808
doesn't look like this is going to be fixed :)

[2018-11-25 20:51] baude commented on #1845
are you guys OK with a 0 exit code being successful and a non-zero meaning it didn't exist?

[2018-11-25 20:51] EmilienM commented on #1845
Yes +1

On Sun, Nov 25, 2018, 3:51 PM Brent Baude <notifications@github.com wrote:

[2018-11-25 20:57] baude commented on #1845
Do you want us to eat the error message as we talked about earlier?  Here I show the error message but it is something we could easily not output.
[code]

[2018-11-25 20:59] baude commented on #1845
like so

[code]

[2018-11-25 21:05] EmilienM commented on #1845
A message is good. In some cases we'll hide it, in others we'll print it.

---
Emilien Macchi

On Sun, Nov 25, 2018, 3:59 PM Brent Baude <notifications@github.com wrote:

[2018-11-25 21:20] afbjorklund opened #1864 "Please use varlink resolver, for the API examples"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**

Currently all examples are hardcoding the socket location, such as:

[code]

This looks ugly (well, "verbose") and doesn't work over the ssh bridge...

* https://varlink.org/#bridge

It would be better if they would use the varlink resolver, to look like:

`varlink call -m io.podman.Ping`

----

It uses a hardcoded `

[2018-11-26 04:10] kushaldas opened #1866 "podman 0.11.1 failing on Fedora 28"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**

podman is failing to run on Fedora 28. Installed from Fedora 28 updates-testing repository.

**Steps to reproduce the issue:**

1.  `dnf install podman --enablerepo=updates-testing`

2. `podman run fedora:29 cat /proc/self/loginuid`

3.  `podman run debian:9 cat /etc/os-release`

**Describe the results you received:**

[2018-11-26 11:01] Edward5hen opened #1867 "pypodman commit: options "--change", "-f" and "--message" don't take effect"
**kind bug**

**Description**
After fix #1743 , `pypodman commit` can run without any error and a commited image can be created. But options `--change`, `-f docker` and `--message` don't take effect.

**Steps to reproduce the issue:**
On Remote:
[code]

On Host:
1. `~/.local/bin/pypodman -l root --host 192.168.122.213 commit --change ENTRYPOINT=/bin/sh --change LABEL=blue=image --message "commit t

[2018-11-26 16:02] mheon commented on #1840
@ssbarnea You might want to look at https://github.com/boot2podman/boot2podman by @afbjorklund - it might do what you're looking for.

[2018-11-26 16:02] dustymabe commented on #1840
cc @praveenkumar

[2018-11-26 16:11] rhatdan commented on #1866
If SELinux is the issue.

dnf -y update
dnf -y reinstall container-selinux
restorecon -R -v /var/lib/containers

Should fix the issue.

[2018-11-26 16:14] rhatdan commented on #1867
@jwhonce PTAL

[2018-11-26 16:17] mheon commented on #1817
Going to try and find some time to look at this in the afternoon. Can you confirm it's still occurring?

[2018-11-26 17:41] kushaldas commented on #1866
`root` user.

[2018-11-26 17:43] kushaldas commented on #1866
dnf -y reinstall container-selinux
restorecon -R -v /var/lib/containers

Testing now.

[2018-11-26 17:44] kushaldas commented on #1866
Just now reinstalled `podman` , problems fixed for now. Closing the issue.

[2018-11-26 17:44] #1866 closed

[2018-11-26 18:08] mheon commented on #1866
Probably SELinux mislabelling somewhere - the commands @rhatdan pasted should fix without a reinstall if you encounter this in the future

[2018-11-26 18:56] afbjorklund commented on #1840
I would like some testers of `podman-machine`, I made some binaries for Mac and Windows:

https://github.com/boot2podman/machine

Currently it still times out and crashes after "start", but should be OK after the initial chock.

Should work with `pypodman` and `varlink` ?

[2018-11-26 19:05] afbjorklund commented on #1840
Note that it still defaults to VirtualBox, or possibly my QEMU/KVM driver as an alternative.

But it should be rather doable to "port" the drivers for Mac `hyperkit` and Win `hyper-v`...

[2018-11-26 19:34] ssbarnea commented on #1840
Thanks for the feedback, I will have a look at that. Still, I cannot refrain from mentioning that somehow I see the "no big fat daemons" statement as confusing for non Linux users. For those users the big-fat-docker-daemon is replaced by a big-fat-virtual-machine.... one that I would also remember to start and stop based on the needs.... looking back I was seeing the docker approach much easier to

[2018-11-26 19:37] mheon commented on #1840
Hm. If you already have a VM target present and defined, making `pypodman` use it shouldn't be that difficult. @jwhonce WDYT?

[2018-11-26 19:48] afbjorklund commented on #1840
If you run FreeBSD, you have both the [linuxulator](https://www.freebsd.org/doc/handbook/linuxemu.html) and [jails](https://www.freebsd.org/doc/handbook/jails.html). I'm not sure Darwin (OS X) has any of that yet ?

If not, you are going to be stuck with virtualization solutions. But it shouldn't be worse than [Docker LinuxKit](https://docs.docker.com/docker-for-mac/docker-toolbox/#the-docker-for-

[2018-11-26 19:52] mheon commented on #1840
I think I heard of an OS X solution, but it was using VM containers (similar to Kata), and I don't believe it was OCI compatible - so we don't know how to talk to it.

[2018-11-26 20:03] afbjorklund commented on #1840
Apparently FreeBSD also has both [Docker](https://wiki.freebsd.org/Docker) and OCI `runc` available already. Based on jails, naturally.

Can't see anything available for OS X (?), and Windows just keep talking about Windows _containers_...

[2018-11-26 21:57] edsantiago opened #1869 "pypodman: boolean options require values"
[code]
Basically: even though podman itself doesn't require True/False, and `pypodman run --help` lists True/False as optional:
[code]
...there doesn't seem to be a way to invoke pypodman with just `--rm` (or `-i`, or `--privileged`, or any other `BooleanAction` option).

python3-pypodman-0.11.1-1.gita4adfe5.fc29.noarch

[2018-11-26 22:29] mheon commented on #1869
@jwhonce PTAL

[2018-11-27 00:46] #860 closed

[2018-11-27 05:14] guygma opened #1870 "Feature: Native ZFS Storage Driver"
[//]: # **kind feature**

**Description**

Is there planned support for a proper `zfs` driver for the container storage (or documentation on one that already exists)? If not, this would be a very nice feature to have. It seems it is something that Docker supports so there is at least a reference implementation in a similar infrastructure.

**Describe the results you received:**

output of `podman

[2018-11-27 05:33] cjeanner commented on #1817
Hello @mheon
Yep, can confirm, it still appears randomly.
Thank you for your time!

[2018-11-27 07:52] knusbaum commented on #1534
Does podman require systemd, or is there a way to run podman on an alternative init system?

[2018-11-27 08:16] Edward5hen opened #1872 "pypodman export: Cotainer xxx not found"
**kind bug**

**Description**
`pypodman export` cannot export containers to tarball, there is an error said: Container xxx not found. But the container does exist and `podman export` can do it properly.

**Steps to reproduce the issue:**
On Remote:
* podman varlink socket is started, and there's already a container existing:
[code]
On Host:

1. `pypodman export --output fedora-ctn.tar test-export`

[2018-11-27 08:39] Edward5hen opened #1873 "pypodman export: ">" does NOT work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
">" has the same functionality as `-o`/`--output` option to export container to a tar archive. `podman` can do it successfully, but `pypodman` not.

**Steps to reproduce the issue:**
On Remote:
podman varlink socket is started, and there's already a container existing:
[code]
On Host:

1.  `~/.local/bin/pypodman -l root -

[2018-11-27 11:14] Edward5hen opened #1875 "pypodman inspect: option "--format" is not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
It seems that option `--format` is not implemented yet for `pypodman`: https://github.com/jwhonce/libpod/blob/842320d2f7922c2ea66f57a07d0a5f67d980de48/contrib/python/pypodman/pypodman/lib/actions/inspect_action.py#L17-L35
For keeping consistency with `podman`, `pypodman` should implement option `--format` as well.

[2018-11-27 11:20] Edward5hen opened #1876 "pypodman inspect: option "size" should be option "--size""
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
For keeping consistent with `podman`, the option `size` for **`pypodman`** should be `--size`, then `pypodman` will have the same usage as `podman` has:
https://github.com/jwhonce/libpod/blob/842320d2f7922c2ea66f57a07d0a5f67d980de48/contrib/python/pypodman/pypodman/lib/actions/inspect_action.py#L26

[2018-11-27 12:15] rhatdan commented on #1840
I wonder how hard it would be to get podman to run on FreeBSD?

[2018-11-27 12:18] rhatdan commented on #1840
@afbjorklund is this as easy to use as boot2docker?  How can we get this integrated into pypodman?  What is the developer/user experience?
I install pypodman from pypy, now what do I need to do?
Should you podman-machine default to fedora-coreos for its platform?
I would love ot have you and @jwhonce and @dustymabe work on the user experience together.

[2018-11-27 12:21] rhatdan commented on #1840
I would love to set up a blueajeans meeting this week or next week to further discuss the user experience here.

[2018-11-27 12:22] pkubatrh opened #1877 "podman stop should not fail when a container is stopped"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**

Trying to stop an already stopped container results in a failure (error status 125)

**Steps to reproduce the issue:**

$ podman run fedora bash -c "echo Hello World!"
Hello World!
$ podman ps -a
...
5cc9a01f27d9  docker.io/library/fedora:latest  bash -c echo Hell...  5 seconds ago   Exited (0) 5 seconds ago

[2018-11-27 12:51] guygma commented on #1870
OK - a bit more digging and tried a plain setup guessing at sane settings and following the error log. I guess you *do* have ZFS support in the graph driver. Nice! I mounted a dataset at `/var/lib/containers/storage` with `overlay=on` and had to comment out a couple lines in the `/etc/storage.conf` (as you may have guessed from the output I included as "additional information I deem important").

[2018-11-27 12:53] mheon commented on #1870
I do believe that c/storage does provide support for ZFS, but you'll likely
need to edit /etc/containers/storage.conf and manually set the storage
driver from overlay to ZFS.

On Tue, Nov 27, 2018, 00:14 Guy Marcus <notifications@github.com wrote:

[2018-11-27 12:57] mheon commented on #1534
For CGroup management, you can set Podman to use the cgroupfs driver
instead of the systemd one, which should let us run on systems without
systemd as PID1. I don't think we have any specific requirement for an init
system otherwise

On Tue, Nov 27, 2018, 02:52 Kyle Nusbaum <notifications@github.com wrote:

[2018-11-27 14:19] baude commented on #1845
Are we good to close now with the new command upstream?

[2018-11-27 14:21] cjeanner commented on #1845
Is there already a released package with the new output? If so, I think we're all good :+1:

[2018-11-27 14:29] mheon commented on #1870
For point 1 - I think the proper place is probably the storage.conf manpage (and maybe noting in the manpages for Podman that storage options are sourced from `storage.conf` if not explicitly set, and valid values are the same). I can't see any listing of valid drivers right now, so I think we do need to add that.

For point 2 - you can set storage driver in `/etc/containers/storage.conf` and not

[2018-11-27 14:30] mheon commented on #1870
(Details on `storage.conf` can be found via `man storage.conf`, but it's a little sparse in there - could definitely use some improvement)

[2018-11-27 15:25] mheon commented on #1877
Probably a regression when we parallelized stop - #1879 should fix

[2018-11-27 15:41] rhatdan commented on #1876
@Edward5hen Please open a PR to fix this.

[2018-11-27 15:48] rhatdan commented on #1534
Correct there should be no requirement for systemd if you change to using cgroupfs.  If there is, then it is a bug.

[2018-11-27 16:06] rhatdan commented on #1870
storage.conf is part defined here: https://github.com/containers/storage/blob/master/docs/containers-storage.conf.5.md
Open a PR with changes you would like to see.

[2018-11-27 16:06] rhatdan commented on #1870
@guygma zfs should work, but I don't know of anyone who has tried it out.

[2018-11-27 18:09] afbjorklund commented on #1840
@rhatdan : the user experience should be on par (at least when finished...)
My  plan was to describe it (user experience) further, we can set up a meeting

As for FreeBSD, I haven't used it years - but it seemed like `runc` is available ?
Just mentioned it, since it has a native solution and it is related to Mac OS X.

[2018-11-27 18:43] rhatdan commented on #1882
Looks like getting a new podman release out would fix this issue.  How close are we to doing this @mheon?

[2018-11-27 19:02] mheon commented on #1882
@rhatdan Hopefully tomorrow, if CI starts behaving?

(If CI doesn't start behaving, we could be waiting a while longer)

[2018-11-27 22:05] knusbaum commented on #1534
Thanks. Not to derail the thread, but does cgroupfs only work as root user? I can launch stuff with podman as root with `--cgroup-manager=cgroupfs` but any other user gets `error creating libpod runtime: exit status 1`

[2018-11-27 22:16] mheon commented on #1534
Should work everywhere - systemd is the one that has issues as non-root. It's probably another issue with rootless Podman.

[2018-11-28 15:45] jwhonce commented on #1873
pypodman cannot implement '>' with the current varlink API.  The current API never copies the image or container to the client, rather all operations happen on the server.

[2018-11-28 16:07] mheon commented on #1873
Eh, let's keep this open - we need to improve the varlink API to support this...

I'll drop @jwhonce as assignee though

[2018-11-28 16:08] mheon commented on #1873
@jwhonce If there are other places where the API is inadequate for pypodman, we should list them somewhere (maybe here)

[2018-11-28 16:57] #1867 closed

[2018-11-28 19:39] Conan-Kudo commented on #746
Wait, what? Why did this get closed? I don't see anything relating to having functionality like this implemented in podman git master...

[2018-11-28 19:51] mheon commented on #746
At some point we started discussing issues related to sdnotify. Those are fixed. The core of the issue, is not.

@baude is working on some things that do touch the scope of the original issue, but I don't think they're exactly what you're looking for

[2018-11-28 19:53] Conan-Kudo commented on #746
@mheon If it's something like OpenShift ImageStream+BuildConfig+DeployConfig yaml with podman, that works too.

[2018-11-28 20:10] mheon commented on #746
The opposite, actually - Kube (and maybe Openshift) YAML from Podman containers

[2018-11-28 20:11] rhatdan commented on #746
@Conan-Kudo Not really sure what that means.

We want to experiment with using podman commands that people are used to to generate the environment.  Our goal is not to force a user to edit a configuration/yaml/json... file to build an application containing multiple pods/containers working together, using podman.  Then use podman to extract out of the libpod configuration, kubernetes yaml files to

[2018-11-28 20:15] edsantiago opened #1889 "pypodman: 'attach' doesn't"
I think `pypodman/lib/actions/attach_action.py` got created as a skeleton but never actually implemented. I'm sorry, rewriting it is currently more than I can dive into right now.

[2018-11-28 20:23] Conan-Kudo commented on #746
@rhatdan The idea would be that you'd be able to make a minimal YAML/JSON definition in the OpenShift style to spin up groups of containers with Podman that also happened to just easily import right into OpenShift, so the mechanical process of starting an application as a container would work the same way for single node (Podman) and multi-node (OpenShift).

[2018-11-28 20:41] baude opened #1891 "checkpoint tests fail on F29"
The checkpoint tests appear to fail on F29; I am also able to reproduce manually. I have asked to disable them for F29 on #1890 .

@adrianreber is this something you can look at?

[2018-11-28 21:06] rhatdan commented on #746
Well one case @baude is looking at is Replay which would take the generated kubernetes yaml and recreate the containers/pods with podman.  I was actually asked about that last night after mentioning it in a talk I was giving to the NYLUG.

My fear though is going to be trying to support all Kubernetes Yaml config, which could become a huge time sync.

[2018-11-28 21:18] baude commented on #746
I wouldnt worry about supporting all the kube yaml config.  Most of it will be too tough to process and make assumptions in podman about.  Again, if we take this approach of only kube, we will have what i would refer to as a "lite" approach to this.

[2018-11-28 23:20] jwhonce commented on #1889
@edsantiago It looks like I got run and attach confused.  I'll take a look at attach tomorrow.  The non-CLI attach works so we should be close.

[2018-11-29 08:02] adrianreber commented on #1891
I opened PR https://github.com/containers/libpod/pull/1895 to be able to see the test failures. On my F29 system I was not able to see these failures.

[2018-11-29 08:43] adrianreber commented on #1891
I removed the commit to disable checkpoint testing on F29 but I cannot see any F29 checkpoint related errors. Is there any other place I can see the checkpoint related errors on F29?

[2018-11-29 11:37] Edward5hen opened #1897 "pypodman commit: option "--message" still does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
After #1881, option `--message` still doesn't work. Probably because the option `--type` is not implemented and `--message` can be set only when `--type` has value *docker*, which can refer to https://github.com/containers/libpod/blob/master/docs/podman-commit.1.md:

The argument `--format/-f` is not gotten from argparser

[2018-11-29 12:12] Edward5hen opened #1898 "pypodman commit: when option "--author" is not set, the value should not be the username of the host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
I missed this bug before. Today I found if `--author` is not set, the username of the host will be used.
This is different from `podman commit`, the author is supposed to be the original image's author which created and started the container:
https://github.com/jwhonce/libpod/blob/f8c5e75a10fb0a9a3a3c113075c129521c5c5099/

[2018-11-29 16:04] mheon commented on #1841
Theory: #1844 and #1817 are somehow related - three errors accessing files on the same CI VMs.

Any chance you can preserve a VM after it fails and get us access to it? I'm curious to see what the state of a container's rootfs is once a failure happens.

[2018-11-30 14:45] mheon commented on #1841
@EmilienM @cjeanner I tried yesterday afternoon, but I can't seem to reproduce locally.

I'm still somewhat convinced that these issues are all somehow related, but they also don't seem to share any code paths on our end, which makes me think it's an environment issue of some sort.

[2018-11-30 20:54] emonty opened #1908 "Running rootless containers on ubuntu bionic doesn't work"
**kind bug**

**Description**

After having installed podman on an ubuntu bionic system using the PPA and attempting to run a container, I got:

[code]

The machine in question is a recently installed from scratch Ubuntu Bionic with not a ton installed.

**Steps to reproduce the issue:**

1. Install podman:

[code]

2. Install a registries.conf file

[code]

3. Try to run a container:

[code]

**D

[2018-11-30 21:06] mheon commented on #1908
Is this running Podman without root?

[2018-11-30 21:49] emonty commented on #1908
Yes - totally just running as a normal user.

I went and tried with root and it works. (yay!) So I suppose rootless
podman is the thing that isn't working.

I have my user listed in /etc/subuid and /etc/subgid as per the docs.

On Fri, Nov 30, 2018 at 3:06 PM Matthew Heon <notifications@github.com>
wrote:

[2018-12-01 00:07] arizvisa opened #1909 "Question: Allowing users to expose other protocols (sctp) from the pod to the host"
Is there some way to expose other protocols such as "sctp" (rather than "tcp" and "udp") or is it left up to firewall rules? If you're using podman's command line, something similar to `$ podman -p $PORT:$PORT/sctp ...`

Doing a (very) quick search, it seems that this limitation might be referenced at https://github.com/containers/libpod/blob/master/libpod/oci.go#L185. Is this where it's at and is

[2018-12-01 00:38] mrguitar opened #1910 "RFE Image Pruning"
[//]: **kind feature**

**Description**
It would be really nice to have image pruning in podman. Newer versions of dkr have also added some system pruning which is helpful too, but image pruning is especially nice for cleaning up after lots of container builds.

$ podman images |grep none |wc -l
26
podman rmi $(podman images | grep "^<none>" | awk '{print $3}')

Like w/ older versions of dkr, this

[2018-12-01 00:47] mheon commented on #1909
It's less a Golang issue and more of a CNI issue, nearest I can tell.

We use https://github.com/containernetworking/cni to configure the system firewall and forward network traffic (and ports on the host) to containers. However, CNI does not at present support SCTP, to the best of my knowledge, so we can't tell it to poke holes in the firewall for SCTP traffic to the container.

@dcbw would know

[2018-12-01 01:59] baude commented on #1910
I agree.  I was thinking samsies the other day.  Assigning to myself.

[2018-12-01 03:53] mrguitar commented on #1910
It looks good to me. The behavior differs a bit from dkr, but the -a option seems silly to me - so that's probably good. I think opting into the dry run makes more sense than prompting "are you sure?", but my view is subjective. @fatherlinux wdyt?

After thinking about it a little more, I'm not sure that the system purge makes a lot of sense for podman, but purging stopped containers does. Can we

[2018-12-01 05:07] arizvisa commented on #1909
Ah ok, awesome. Thanks! I'll take a gander over there then.

[2018-12-01 05:07] #1909 closed

[2018-12-01 06:00] wking opened #1911 "feature: Per-image pull locking for bandwidth efficiency"
[//]: # **kind feature**

**Description**

If there is an existing libpod pull in flight for a remote image, new pulls of that image should block until the in-flight pull completes (it may error out) to avoid shipping the same bits over the network twice.

**Steps to reproduce the issue:**

1. In one terminal:

[code]

2. In another terminal, launched once blob sha256:9bfce... is maybe 10MB into i

[2018-12-01 11:48] rhatdan commented on #1908
What entry do you have in /etc/subuid and /etc/subgid?
This could be attempting to add an UID/GID that is not in the range of your usernamespace.

[2018-12-01 11:54] rhatdan commented on #1910
Should it be `podman image rm --prune`, `podman rmi --prune` rather then add a hole other command, and people would be more likely to find it in looking at podman rmi  man pages.

[2018-12-01 12:04] rhatdan commented on #1911
@mtrmac PTAL
I would figure this would have to be in containers/image since doing this for just podman would allow conflict on CRI-O, Skopeo and Buildah.

[2018-12-01 13:34] emonty commented on #1908
@mheon BOOM. There it is. I installed that and it worked. That's super exciting!

Perhaps uidmap should go into the Depends for the package? I'll go comment on the packaging issue

[2018-12-01 13:37] emonty commented on #1553
@vrothberg got it working with the help of @mheon ... turns out the issue was missing install of the uidgen package. Maybe we should add that to the depends-on? I know it's not *strictly* required, but it's not a big depend and it sure does make podman super sexy right out of the box.

Where's the packaging source? I'd love to make a PR for that.

[2018-12-01 13:44] emonty commented on #1553
Also, should we maybe put a an ```/etc/containers/registries.conf``` in containers-common or podman? I also had to do

[code]

to get things working, which was a little odd ... but totally workable.

[2018-12-01 13:46] emonty commented on #1908
For completeness, the following is what is needed to get rootless podman working on ubuntu bionic:

[code]

[2018-12-01 14:37] baude commented on #1910
@rhatdan that works for me ... for the record,  `podman rm --prune` would remove all stopped containers from the system? That should not include created but not run correct?

[2018-12-01 16:54] mheon commented on #1908
@lsm5 We might want to make `uidmap` a dependency of Podman in the PPA, so we can have rootless work out of the box

[2018-12-01 17:03] mtrmac commented on #1911
Well, this is where \#NOBIGFATDAEMONS makes things more difficult :)

- We would need some kind of inter-process locking mechanism, like the one being built for container state — but with a much larger namespace (blob digests), so we can’t just use a preallocated dense integer table. Maybe that involves a separate, separately-locked, map from digests to lock numbers, or something like that (i.e. i

[2018-12-02 07:33] abitrolly opened #1915 "Deliver podman through a snap"
[//]: # **kind feature**

I've just noted that Ubuntu proposes to install `docker` as a snap. :O
[code]
I would rather use `podman` on Ubuntu. It is not available through standard `apt` repositories. Now if Docker was packages as a `snap` then it should be possible to pack `podman`.

**Describe the results you expected:**
Run build tools with `podman` to avoid files owned by root in my project dir

[2018-12-02 12:40] abitrolly opened #1916 "set podman image storage location"
[//]: # **kind feature**

or, rather, **support request**.

My root is mounted at SSD for speed, and so does my home. However, I am not rich, so SSD is small, and now I want more space. First I want to move images to another disk, and if that won't help, move containers as well.

I found `podman info`, which printed some useful info at the end.
[code]
The path `/home/anatoli/.local/share/container

[2018-12-02 12:51] abitrolly opened #1917 "dangling dir in vfs"
[//]: # **kind bug**

I've got unknown 706M of image/container data.
[code]
What is that and how to clean it?

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2018-12-02 16:09] abitrolly commented on #1917
It is standard `dnf install podman` on Fedora 28. Maybe I should create an issue to make it the default?

[2018-12-02 16:15] abitrolly commented on #1916
Sounds like `podman` doesn't support changing image storage location with a simple user setting. Does that qualify for a future request? Having an option in `~/.config/containers/storage.conf`- `ImageStore.location = /data/podman-image`.

[2018-12-02 16:52] mheon commented on #1917
On Fedora, it should actually be installed by default, so you can swap without compiling it.

We should be swapping it to the default driver next release, but this will not take effect for existing Podman users unless you deliberately delete your Podman storage directory - it's not possible to upgrade without deleting all your containers/images locally and starting from scratch, and we don't want

[2018-12-02 16:54] mheon commented on #1916
We are moving over to creating the file by default, with the correct settings (so you'll only need to swap the one setting). That should be out in our next release (hopefully tomorrow). If you're looking for a way to just swap image storage, though, I don't think that's possible as of now - we storage images and containers in the same place as part of the architecture of containers/storage. We mig

[2018-12-03 04:53] abitrolly opened #1919 "podman pull download output is verbose"
[//]: # **kind feature**

This is current `podman pull` output is too verbose. Even in `--quiet` more.
[code]
I'd like to propose more concise version.
[code]

[2018-12-03 05:01] abitrolly commented on #1916
Let me know what should I do when it is released. I guess removing `podman`, cleaning up config files and then reinstalling it again to create the config in my home dir? Then I will be able to edit it to set storate location.

[2018-12-03 05:05] abitrolly commented on #1917
I can remove images no problem. What should I remove to clean up from the previous storage type, and what to change in config for `fuse-overlayfs`?

`fuse-overlayfs` was not installed with `podman`.
[code]

[2018-12-03 05:06] abitrolly commented on #1915
I started the process - https://github.com/abitrolly/podman - time to work on it is limited, though.

[2018-12-03 09:42] Edward5hen opened #1921 "pypodman kill: option "-a/--all" and "-l/--latest" are not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As the title said, these two options are not implemented, but `podman` can use them smoothly.
[podman kill doc](https://github.com/containers/libpod/blob/master/docs/podman-kill.1.md):

Although these two options are not provided as parameters in varlink method:

but we might implement this with the help of the other

[2018-12-03 09:54] Edward5hen opened #1922 "pypodman kill: option "-s/--signal" does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
`pypodman kill -s $sig_number $container` raises error, and `pypodman kill -s $sig_name $container` is not implemented. `podman kill` works fine with these two ways.

**Steps to reproduce the issue:**

1.  `~/.local/bin/pypodman -l root --host 192.168.122.213 kill --signal 9 test-kill`

2. `~/.local/bin/pypodman -l root -

[2018-12-03 11:43] giuseppe commented on #1917
@abitrolly we made fuse-overlayfs the new default if it is found the first time podman runs.

What operations have you done to get that dangling dir?  I've pulled a bunch of images, created some containers but once I rmi all the images the `~/.local/share/containers/storage/` directory size goes down to almost 0.

[2018-12-03 13:40] rhatdan commented on #1553
Yes we should setup a registries.conf with
docker.io, quay.io, and whatever the ubuntu default container registry if it exists.

[2018-12-03 13:41] rhatdan commented on #1553
I think adding a dependency on uidgen is fine (Shadow-utils in Fedora land has this so it is automatically installed.)  Is there a concept of weak dependencies in APT?

[2018-12-03 15:11] emonty commented on #1553
Yeah - you can list it in Recommends: and, at least on Ubuntu, it'll get installed by default, but uninstalling it won't cause podman to be uninstalled. A person can also skip the recommends with --no-install-recommends when they do the install. I think that's likely a good choice for uidgen here (the chances someone REALLY wants to avoid it are low)

If we wanted to be even more soft, uidgen coul

[2018-12-03 15:22] baude commented on #1875
I differ in opinion here; it will be a fair amount of work to deal with the structures i think? is it really worth it for the sake of compatibility?  ultimately, i defer to you guys on this but my two cents would be to have users ask for it first.

[2018-12-03 15:39] EmilienM commented on #1729
Workaround here: https://review.openstack.org/#/c/614290/

[2018-12-03 15:45] baude commented on #1729
are we good to close?

[2018-12-03 15:47] EmilienM commented on #1729
@baude yes if you never change it or it'll break our code

[2018-12-03 16:00] cjeanner opened #1925 "RFE: Add "rename" subcommand for better Docker compatibility"
# **kind feature**

**Description**

Docker has a "rename" subcommand allowing to change a container name. This feature is missing in podman, and is useful in some cases.

Thank you!

[2018-12-03 16:10] swilmet-uclouvain opened #1926 "podman rmi --all doesn't remove images that have dependent child images"
kind bug

(Sorry I pressed Enter too quickly, I edit the message and title).

`podman rmi --all` doesn't remove all images. Example:
[code]

[2018-12-03 16:11] EmilienM commented on #1925
I agree the feature from [docker](https://docs.docker.com/engine/reference/commandline/rename/) would be useful. Shutting down and removing the container then creating a new one isn't a valid answer when you run containers in production.

[2018-12-03 16:16] mheon commented on #1925
I was thinking about a `podman alias` command that would let you add/remove aliases that would act as extra names for a container. Changing a container's actual name would be very difficult for us do to the internal structure of containers, but I can easily let you add/remove additional names from existing containers.

[2018-12-03 16:22] cjeanner commented on #1925
@mheon hello :).
Sooo. an alias might work, but we'll need to find a way to make this alias work for tasks like "podman start <name>" and the like.
Also, it would be needed to set a "preferred alias" or something that shows up in a `podman ps` output as the container name, else we will have "some" issues finding what container is running and so on.

Fact is, we really rely on the container name fo

[2018-12-03 16:37] abitrolly commented on #1917
I don't know what caused it. I noticed that `podman` doesn't detect containers created by `buildah`, so maybe some other tool created it. How to check?

Should I just remove `podman`, kill `~/.local/share/containers` and try to see it will pick up `fuse-overlayfs`? But then I should install it manually.

[2018-12-03 16:46] baude commented on #1926
can you help me out here by suggesting how I get an image with dependant children?

[2018-12-03 16:48] baude commented on #1925
During a rename, can the container ID change ?

[2018-12-03 16:49] baude commented on #1926
basically a replicator

[2018-12-03 16:54] cjeanner commented on #1925
@baude I think the id can change - at least, I see no reason for us to base our workflows on ids as they aren't predictable, on the contrary to the name (hence the need of the "rename" :) ).

[2018-12-03 16:58] swilmet-uclouvain commented on #1926
It happens with the FROM instruction in a Dockerfile: to base an image on another image, with layers.

[2018-12-03 16:59] mheon commented on #1925
Aliases would work like container names for everything except PS, where
we'd probably need a separate column for them (would be good enough for
grep, but probably break things if you're parsing the output of PS). Of
course, if you wanted to filter to a single container based on name/alias,
we could make that work exactly like it does now

On Mon, Dec 3, 2018, 11:54 Cédric Jeanneret <notifications@

[2018-12-03 17:05] cjeanner commented on #1925
@mheon hmm ok. well, I think we can give a try?

[2018-12-03 18:14] rhatdan commented on #1553
Yes recommends makes more sense.  Now if we could only get Podman and Buildah into Debian and Ubuntu default repos....

[2018-12-03 18:17] #1775 closed

[2018-12-03 18:23] rhatdan commented on #1875
Ok, lets document what we don't support.  Put it in the non existent man pages, or however Windows and Mac document CLI.

[2018-12-03 18:35] giuseppe commented on #1853
Alternatively, if it is fine for you to destroy the storage you can more easily do it with:  `sudo rm -rf ~/.local/share/containers/storage/`

[2018-12-03 18:53] emonty commented on #1553
++ to getting them into default repos!

While I'm just saying random words, it would be cool to have both in alpine as well.

Basically - podman is awesome and I want it in all the places. :)

[2018-12-03 19:03] johnfosborneiii opened #1927 "Support for Image Signing"
Does podman support image signing from the CLI similar to docker-ce/notary? If not, is it on the roadmap?

[2018-12-03 19:08] rhatdan commented on #1926
I think this is caused, because you used podman build, which creates buildah containers.  Podman only looks for containers in libpod, which is causing this issue.  We should probably also delete all buildah containers when we cleanup as well.

[2018-12-03 19:08] rhatdan commented on #1926
baude you can probbaly get this issue if you do a podman build which fails?

[2018-12-03 19:11] mheon commented on #1927
I believe @QiWang19 is starting to work on signing support in https://github.com/containers/libpod/pull/1899 but for the most part we recommend you sign images using `skopeo`

[2018-12-03 19:13] TomSweeneyRedHat commented on #1926
@baude and I were chatting on IRC.  We've a reproducer that happens with `podman build` or `buildah bud`.  The interesting part is both `buildah rmi -a` and `podman rmi -a` have the same error message.  However if you do `podman rmi -a --force` it still fails while `buildah rmi -a --force` cleans everything out.

I think the error as is is correct, however `podman rmi -a --force` should remove the

[2018-12-03 19:14] mheon commented on #1853
#1918 should be a more permanent fix

[2018-12-03 19:29] rhatdan commented on #1910
I don't know what `podman rm --prune` means.  You prune images not containers.

[2018-12-03 19:30] rhatdan commented on #1919
LGTM, PRs gladly accepted.

[2018-12-03 19:32] rhatdan commented on #1916
SImpler fix would be to setup a bind mount
cp -R ~/.local/share/containers /data
rm -rf ~/.local/share/containers
mkdir ~/.local/share/containers
mount -o bind /data/containers ~/.local/share/containers

[2018-12-03 19:34] rhatdan commented on #1915
@lsm5 Could you look into this?

[2018-12-03 19:39] fatherlinux commented on #1910
@rhatdan I believe:

1. podman rm --prune would remove all of the COW layers for non-running containers aka created, but not running
2. podman rmi --prune would remove all image layers not in use by either A. running containers or B. created, but not running containers

I always complained that the docker interface was terrible. The "docker images" command shows repositories, the "docker ps -a" co

[2018-12-03 19:41] mtrmac commented on #1927
There already is `podman push --sign-by=`, and `podman pull` does, AFAIK, verify signatures according to the systemwide signature policy.

So, the primary elements of “simple signing” are already available in `podman`; the above-linked `podman trust` work can help with setting up the configuration but is not, strictly speaking, necessary to benefit on push/pull.

[2018-12-03 19:42] baude commented on #1926
i got it ...

[2018-12-03 19:50] jwhonce commented on #1921
@Edward5hen Currently the API does not support "--latest" as that makes little sense in a remote scenario.  If multiple people are using a server, you would not know which container was "--latest" .

You are correct we can loop over all containers and send the signal to each.  I was waiting for demand before implementing anything that resource intensive.

[2018-12-03 20:08] rhatdan commented on #1910
Well podman rm --prune would seem pretty dangerous then. But I am fine with adding it.

I would think podman rmi --prune basically removes all non tagged images, which means no one is using them.

[2018-12-03 20:11] rhatdan commented on #1910
Maybe those are dangling.

atomic images prune
       prune

       Prune/delete all dangling images, freeing wasted disk space.

[2018-12-03 20:15] rhatdan commented on #1921
Should we add that to the API, so that the varlink API handles it, and we don't need to do it in the client. (--all)

[2018-12-03 20:15] rhatdan commented on #1921
@baude WDYT?

[2018-12-03 20:19] mheon commented on #1910
My only issue with `rm --prune` is the potential for typo or autocomplete danger with `rmi --prune` - someone goes to remove dangling images, slight typo, now a bunch of their stopped containers are gone

[2018-12-03 20:51] mtrmac opened #1929 "libpod/contrib/python/podman/podman/libs.Image.push disables TLS by default"
AFAICS https://github.com/containers/libpod/blob/5f6ad82524ca7a3281c8464c84b4f9be4ff90aef/contrib/python/podman/podman/libs/images.py#L78-L81 disables TLS by default; that is a rather dangerous default.

Cc: @jwhonce

[2018-12-03 20:54] baude commented on #1910
it is already fixed in the PR.  we now have container prune and image prune.  In the case of image prune, it removes all unused images; that can be <none> (by definition) or any images without an associated container.

[2018-12-04 09:51] Edward5hen opened #1931 "pypodman logs: option `--since`, `-f` and `-t/--timestamps` are not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As the title, below options are not implemented:

The implementation of `--follow` might be difficult/impossible, but `--since` and `--timestamps` are possible.

[2018-12-04 13:55] emonty opened #1934 "pypodman: publish to pypi"
**kind feature**

**Description**

The python library, pypodman, is not published to PyPI. This makes it harder for folks to write python code that depends on it.

[2018-12-04 16:16] #1876 closed

[2018-12-04 16:43] jwhonce commented on #1934
@emonty Coming RSN I have a couple outstanding bugs to get patches merged then I'll publish from the PyPi test servers to the the production servers.

[2018-12-04 16:47] emonty commented on #1934
@jwhonce awesome! Thanks a bunch.

[2018-12-04 16:55] abitrolly commented on #1919
I can not find the place where the string is constructed. Either GitHub search is broken, or it is in some 3rdparty lib.

[2018-12-04 17:07] rhatdan commented on #1919
https://github.com/containers/image
[code]

[2018-12-04 19:03] abitrolly commented on #1919
Aha, it is a different repository!

https://github.com/containers/image/blob/63a1cbdc5e6537056695cf0d627c0a33b334df53/copy/copy.go#L525

There are two places where the bar is referred.

https://github.com/containers/image/blob/63a1cbdc5e6537056695cf0d627c0a33b334df53/copy/copy.go#L644

https://github.com/containers/image/blob/63a1cbdc5e6537056695cf0d627c0a33b334df53/copy/copy.go#L690

L644 looks l

[2018-12-04 19:07] wking opened #1937 "libpod crashes when numeric gid is not in group file"
[//]: # **kind bug**

**Description**

When an image config sets [`config.User`][1] to a numeric value (like `1000:1000`), but those values do not exist in the container's `/etc/passwd` and/or `/etc/group`, libpod is currently breaking.  However, the OCI spec [requires converters to copy numeric `uid` and `gid` to the runtime config without attempting to look them up][2].

**Steps to reproduce the

[2018-12-04 19:37] baude commented on #1877
closing as appears to be fixed

[2018-12-04 19:37] #1877 closed

[2018-12-04 19:38] darkmuggle commented on #1566
fwiw, I think hit this when running `podman` as a non-privileged user; using `suio podman` work just fine.

[2018-12-04 19:45] rhatdan commented on #1566
@giuseppe I did not think we used CNI when running in non root mode?

[2018-12-04 19:49] mheon commented on #1870
I think we have an action item here to update the c/storage storage.conf manpage to include valid storage drivers. I've opened https://github.com/containers/storage/pull/250 to handle that.

[2018-12-04 19:50] #1926 closed

[2018-12-04 19:52] mheon commented on #1841
@cjeanner gave me configs for reproducing the Openstack CI VMs on which these are seen. I've run the suite a few times, but haven't seen these yet.

@EmilienM @cjeanner how often are you folks seeing this? Once every 2-3 runs? Once every 10 runs?

[2018-12-04 19:56] mheon commented on #1566
We shouldn't. Looks like initialization isn't checking if we're rootless.

I'll add the check and see if that breaks anything.

[2018-12-04 20:03] adrianreber commented on #1891
It's selinux related. Still trying to better understand it, but right now I think it needs selinux policy changes. I would just open a ticket in bugzilla and see where that discussion leads.

[2018-12-04 20:20] maxamillion opened #1941 "error when downloading centos image on debian 9 kvm vm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
# **kind bug**

**Description**

**Steps to reproduce the issue:**

1. Build `podman` on debian 9 as per the documentation found [here](https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md#install-podman-on-ubuntu)

2. Run `podman pull centos` as non-root user

**Describe the results you received:**
[code]

**Describe the

[2018-12-04 20:29] wking commented on #1937
Off topic:

If you want to adjust the issue template, Prow might pick up [`/kind bug`][1] on its own so you don't have to do that manually.  Haven't tested recently though, and I haven't checked to see if the label plugin is enabled for this repo.

[1]: https://deck-ci.svc.ci.openshift.org/command-help

[2018-12-04 20:31] mheon commented on #1937
I think you're right... I'll poke at it

[2018-12-04 20:34] EmilienM commented on #1729
@baude please close

[2018-12-04 20:43] adrianreber commented on #1891
Depending on the version of `container-selinux` I either see:

[code]
which is with `container-selinux-2.55-1.fc28.noarch`

and with `container-selinux-2.76-1.git87fae85.fc28.noarch` I get:

[code]

CRIU uses ptrace to stop the process, but the memory from the process is not extracted using ptrace but with the help of what is called parasite code. The parasite code is injected into each dumped pro

[2018-12-04 20:44] #1729 closed

[2018-12-04 20:44] baude commented on #1941
@maxamillion I'm able to pull  that same image as a non-root.  Does --log-level=debug reveal anything odd?  Also, Id be curious if something like podman --root /tmp/foobar centos behaves any differently?

[2018-12-04 20:46] rhatdan commented on #1941
This could be that User Namespace is not setup correctly and a UID is attempting to be written that does not exists in the users userns.

[2018-12-04 20:50] rhatdan commented on #1891
First one looks like the container process is attempting to connect back to a socket created by the podman command?  Is this something varlink does?

The second one looks like a labeling issue.  container_var_lib_t usually means something is mislabled.

In F28 we had issues with container-selinux

dnf -y reinstall container-selinux
restorecon -R -v /var/lib/containers

See if this fixes the issues

[2018-12-04 20:55] maxamillion commented on #1941
@rhatdan I `--root /tmp/foobar` didn't net a different result, here's the output from `--log-level=debug`

[code]

[2018-12-04 20:57] baude commented on #1941
@mheon @rhatdan i think our startup code is going to have spit out uid/gid when DEBUG...

[2018-12-04 20:57] rhatdan commented on #1941
If you run buildah unshare, and cat /proc/self/uidmap

buildah unshare cat /proc/self/uid_map
         0       3267          1
         1     100000      65536

[2018-12-04 20:58] rhatdan commented on #1941
Yes rootless should spit out the content of /uid_map. If it can get it.

[2018-12-04 20:58] rhatdan commented on #1941
@giuseppe WDYT?

[2018-12-04 21:03] maxamillion commented on #1941
@rhatdan on the debian machine, I don't have `buildah` installed (it wasn't part of the install docs I followed to compile from source). I have it on my Fedora machines because all this stuff is nicely packaged (and works!) over there :)

[2018-12-04 21:03] maxamillion commented on #1941
[code]

[2018-12-04 21:07] adrianreber commented on #1891
For me the first one is CRIU talking to its injected parasite code. Not 100% sure but from what CRIU usually does this would make sense.

Running `restorecon` does not help.

[2018-12-04 21:11] rhatdan commented on #1941
cat /etc/subuid
dwalsh:100000:65536

[2018-12-04 21:18] rhatdan commented on #1891
@adrianreber Could you point me where podman is injecting the parasite code.  We might want to label the socket based on the container process label, which would then allow the access.  But this could be somewhat complicated.

[2018-12-04 21:19] rhatdan commented on #1891
Does criu cause top to connecto a socket?

[2018-12-04 21:20] rhatdan commented on #1929
Yes I think this should be set to True by default.

[2018-12-04 21:30] maxamillion commented on #1941
[code]

[2018-12-04 21:53] baude commented on #1433
should we just implement this with a container create and a mount?

[2018-12-04 22:17] mheon commented on #1433
Do we need to? I think c/storage might support mounting images already, in which case it's just wiring up a command to do the heavy lifting

[2018-12-04 22:36] rhatdan commented on #1891
Will need this PR merged to make it happen.

https://github.com/opencontainers/selinux/pull/38

Then we should be able to just call label.SetSocketLabel(processlabel) in podman before setting up crio to make this work.

[2018-12-04 23:21] guygma commented on #1870
Thank you all for the clarification!  The zfs driver did end up working for me, so I agree it would be nice to have that made a bit more clear in the documentation. I didn't know to look in `man storage.conf` but indeed it does leave some breadcrumbs for the motivated. My case for getting that container up and running was in a VM so I haven't used anything long-term on ZFS yet, but all my bare-met

[2018-12-05 00:06] abitrolly opened #1943 "`libprotobuf-c0-dev` is not found"
[//]: # **kind bug**

There is no [`libprotobuf-c0-dev`](https://github.com/containers/libpod/blob/master/install.md#build-and-run-dependencies) on Ubuntu 18.04.

[code]

[2018-12-05 08:44] giuseppe commented on #1941
@maxamillion are newuidmap/newgidmap installed?

I've seen that they are not installed by default on Debian/Ubuntu.  We recently added a change to podman (https://github.com/containers/libpod/pull/1923) to report an error when the user namespace cannot be configured because of newuidmap/newgidmap missing

[2018-12-05 09:03] giuseppe commented on #1908
this PR should avoid the kind of isses you've reported: https://github.com/containers/libpod/pull/1923

[2018-12-05 09:03] #1908 closed

[2018-12-05 10:29] vrothberg commented on #1599
@TomSweeneyRedHat, can we close this issue? It seems to be fixed now.

[2018-12-05 12:30] TomSweeneyRedHat commented on #1599
Yep, we can close this.  I should have quite a while ago.

[2018-12-05 12:30] #1599 closed

[2018-12-05 14:06] adrianreber commented on #1891
CRIU is creating the socket here:

https://github.com/checkpoint-restore/criu/blob/criu-dev/compel/src/lib/infect.c#L362

[2018-12-05 15:43] maxamillion commented on #1941
I do have it installed, those utilities come from the `uidmap` package in debian land.

[code]

[2018-12-05 16:07] mheon commented on #1870
C/storage manpages have been updated, so I'm going to close. If you encounter any further issues with ZFS, feel free to repoen

[2018-12-05 16:07] #1870 closed

[2018-12-05 16:08] mheon commented on #1853
With #1918 landed, this should be fixed. Release with the fix is coming soon.

[2018-12-05 16:08] #1853 closed

[2018-12-05 16:09] #1937 closed

[2018-12-05 17:04] giuseppe commented on #1941
the reason for the failure is the old linux kernel being used that doesn't allow file capabilities to be set from a user namespace:

[code]

We could ignore this error, but at the same time it will break images using fcaps so I am not sure it is the correct thing to do.  In this case ping wouldn't work (even if ping itself requires slirp4netns + `net.ipv4.ping_group_range` to work).

[2018-12-05 18:49] jwhonce commented on #1931
@Edward5hen --since and --timestamps were not supported as the API return is an array of strings.  If the API is enhanced to return (timestamp, message) the client could then support these options.  Otherwise the overhead is too great. /cc @baude

[2018-12-06 00:40] jwflory opened #1948 "Podman unable to resolve DNS queries(?) — aka pulling images does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # **kind bug**

**Description**

Pulling new images does not work. Podman returns `no such host` for all of the registries it tries to hit. This issue does not happen with Docker on the same system.

I also tried running with SELinux set to permissive, since I had similar issues [once before](https://bugzilla.redhat.com/show_bug.cgi?id=1585802)

[2018-12-06 00:53] mheon commented on #1948
What are the contents of `/etc/resolve.conf`?
Can you pull images with other Go programs (`buildah`, `skopeo`)?

[2018-12-06 01:05] baude commented on #1948
Do you have an `/etc/containers/registries.conf` ?  And if so, what is inside it. Also, does podman --log-level=debug reveal anything interesting? also, mind updating to the latest podman version? you are reporting against an old version.

[2018-12-06 01:10] mheon commented on #1948
@baude That is the latest on F28 for now, until we can get 0.12.1 out the door tomorrow. Assuming CI doesn't decide to take a vacation again

[2018-12-06 01:20] #1929 closed

[2018-12-06 10:30] dbuse opened #1949 "podman pull fails with "permission denied" in rootless mode with overlay"
**Is this a BUG REPORT or FEATURE REQUEST?:**

[x]: # **kind bug**

**Description**

When using podman in rootless mode with overlayfs as the storage driver, pulling some images fails with a "permission denied" error.
Note: It does not matter if the storage location (graphroot) is non-existent oder pre-populates with working images.

**Steps to reproduce the issue:**

1. podman pull opensuse/portu

[2018-12-06 10:31] praveenkumar opened #1950 "podman isn't able to create a sane image from multistage dockerfile."
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # Uncomment only one, leave it on its own line:

**kind bug**

[//]: # **kind feature**

**Description**

[code]

**Describe the results you received:**
not able to put binary which generated from first build to second one and then this issue.

**Describe the results you expected:**
Should able to build it properly.

**Additional information you

[2018-12-06 13:14] mheon commented on #1950
Since we use Buildah as the backend for Podman build, you should refile
this bug against github.com/containers/buildah - the maintainers over there
should be able to help you.

On Thu, Dec 6, 2018, 05:31 Praveen Kumar <notifications@github.com wrote:

[2018-12-06 13:44] TomSweeneyRedHat commented on #1950
@praveenkumar thanks for the issue report.  As @mheon indicated, this should be filed against Buildah.  However, you may want to save yourself some time and close this.  We've an issue in Buildah that's very related: https://github.com/containers/buildah/issues/1175 which has a PR up for review https://github.com/containers/buildah/pull/1181 that addresses your particular issue as well as the init

[2018-12-06 15:14] rhatdan commented on #1949
Do you have newuidmap installed?
@giuseppe @mheon Is this the same issue others are having with Ubuntu?

[2018-12-06 15:18] giuseppe commented on #1949
this was recently fixed upstream with: https://github.com/containers/storage/pull/237

we have already vendored that change in podman

[2018-12-06 15:58] abitrolly commented on #1943
After running `apt update` it becomes available. Sorry for the noise.

[2018-12-06 16:15] dbuse commented on #1949
Yes, installed and configuration set in `/etc/subuid` and `/etc/subgid`.

[2018-12-06 16:25] baude commented on #1949
i thought one couldn't use overlay and rootless?

[2018-12-06 16:31] #1910 closed

[2018-12-06 18:32] maxamillion commented on #1941
@giuseppe maybe just gracefully handle it and say "Unable to accomplish this, likely because your kernel is too old and doesn't have required capabilities" or whatever wording you'd like to use. I'm perfectly fine with the limitations of the kernel being something that must be respected, but a handled exception and an informative error message would be a nice to have.

[2018-12-06 18:47] giuseppe commented on #1941
@maxamillion yes absolutely, we need to make the error message nicer

[2018-12-06 20:08] #1690 closed

[2018-12-06 20:11] rhatdan commented on #1949
Fixed in podman 0.12.1

[2018-12-06 20:11] #1949 closed

[2018-12-06 20:34] rhatdan commented on #1941
I guess the problem here would be, do we want to support some containers that do not use file caps, or do we just stop podman from running on this kernel at all?

The error is probably buried within the tar archive.  Is it easy to report an error there?

[2018-12-06 20:44] maxamillion commented on #1941
As an user, I think it would be nice to support all containers possible and simply don't support the ones you can't with useful error messages because this means as an user I can build my own and use podman for development/testing on all platforms I have but I'm also not a podman maintainer and don't know how large of an effort that would be to actively maintain over time so I'd defer. This is bas

[2018-12-07 05:30] praveenkumar commented on #1950
Thanks, I will try that PR on buildah side. I think we can keep it open till we start consuming the fix from buildah.

[2018-12-07 09:54] TomasTomecek commented on #1826
I completely agree with Dan here. I'm trying to move from one driver to another right now and can't:
[code]
If you care about running containers, you could easily print a warning that there are containers running with driver $x while driver $y is being used right now.

[2018-12-07 11:52] TomSweeneyRedHat commented on #1950
FWIW, https://github.com/containers/buildah/pull/1181just merged into upstream a few hours ago.  If by chance it's still problematic, please send us your Dockerfile if you can.

[2018-12-07 12:08] praveenkumar commented on #1950
@TomSweeneyRedHat Ack, I think then I need to rebuild it locally and try it since I am using the release packages from fedora repo. I will try it today or during the weekend.

dockerfile which I used is here : https://github.com/coreos/kubecsr/blob/master/dockerfiles/Dockerfile.kube-etcd-signer-server

[2018-12-07 12:21] mheon commented on #1826
I think our problem with the proposed fix is that it's a breaking change
for everyone using Podman. Everyone, rootless and not, will lose all their
containers of we move the DB. We need a way of maintaining backwards
compatibility if we want to fix this.

On Fri, Dec 7, 2018, 04:54 Tomas Tomecek <notifications@github.com wrote:

[2018-12-07 14:52] TomSweeneyRedHat commented on #1950
FWIW, I tried on my machine, but it looks like I'm missing a Makefile for the COPY that I'm not seeing after a quick look

[code]

[2018-12-07 15:21] rhatdan commented on #1826
I agree, I was thinking that the tool shold look to see if the old format exists and  matches the driver, then we copy/mv it to the new directory.  I will attempt to do this on the next pass.

[2018-12-07 18:40] qiancai commented on #1742
I suppose this is not needed anymore. The easiest path looks like just to get podman into snap store.

https://snapcraft.io/search?category=server

It looks like anyone could create that for  CRI-O/podman etc as well.

https://docs.snapcraft.io/creating-a-snap/6799

Any objection?

[2018-12-07 19:15] mheon commented on #1836
v0.12.1 has been released, so closing

[2018-12-07 19:15] #1836 closed

[2018-12-07 19:16] mheon commented on #1882
We finally have a v0.12.1, so closing

[2018-12-07 19:16] #1882 closed

[2018-12-07 19:35] qiancai commented on #1742
Looks like only Ubuntu and its descendant use snap store, but I suppose our goal is to reach the Ubuntu 's huge developer base.

[2018-12-07 19:47] rhatdan commented on #1742
Yup, That gets us to 95% of users,  So much better then what we get now.

[2018-12-07 20:51] qiancai commented on #1742
Sounds good. I'll let @lsm5 get those in the snap store then, since he have already packaged everything to PPA. I'll help around if needed.

[2018-12-07 21:23] jwhonce opened #1959 "podman commands documentation on --detach-keys wrong"
[//]: **kind bug**

**Description**
The documentation on detach-keys legal values does not match the source code.
Included in the documentation is:

- CLI argument descriptions in go code
- markdown documents
- man pages
- API.md

**Steps to reproduce the issue:**

1. Review containers/libpod/vendor/github.com/docker/docker/pkg/term/ascii.go vs. documentation listed above.

**Describe the results

[2018-12-08 22:12] jwflory commented on #1948
It looks like this:

[code]

For debugging, I added `nameserver 1.1.1.1`, but nothing changed.

Yes, see below.

[code]

I'm not sure if this is helpful or not. I stopped copying after the first host failed for readability's sake, since the rest were duplicates of this error:

[code]

Once the 0.12.1.1 package update in [Bodhi](https://bodhi.fedoraproject.org/updates/FEDORA-2018-e8e19475eb) pushes

[2018-12-08 22:51] mheon commented on #1948
Alright, you clearly have a valid nameserver, and yet just as clearly the Go code can't make DNS queries.

@mtrmac It seems like we're failing in c/image here, but I'm pretty sure none of the image code does things that would affect DNS resolution

@jwflory Anything unusual about your setup? I'm pretty sure this is a Go standard library HTTP request failing, which is very well tested and should be

[2018-12-09 00:17] jwflory commented on #1948
I can't guess what. I don't work with Golang often so I haven't made many changes. The only thing I've consciously changed about my Golang environment is setting a custom `$GOPATH` somewhere else in my user's home directory.

I also had a similar issue in Fedora 27 with Docker ([bug 1585802](https://bugzilla.redhat.com/show_bug.cgi?id=1585802)). However, the problem there was SELinux. Reinstalling

[2018-12-09 02:36] baude commented on #1948
Does pulling a fully qualified image work?
i.e.

[code]

[2018-12-10 01:20] rlpowell commented on #1882
How do I try this out on Fedora 29?

[2018-12-10 02:42] space88man opened #1960 "Stopping a container with volume mount leaks a cgroup scope mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# Uncomment only one, leave it on its own line:

**kind bug**

[//]: # **kind feature**

**Description**

Stopping a container that uses volume mounts leaks a xxxxxxxx.scope mount in the cgroup hierarchy.

**Steps to reproduce the issue:**

1. Start a container that uses a volume mount

2. Stop the continainer

3.

**Describe the results you received:

[2018-12-10 03:00] Edward5hen opened #1961 "pypodman mount: option `--notruncate` is not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As title, mount option `--notruncate` is not implemented by pypodman:
https://github.com/containers/libpod/blob/1f547b2936af06656eaf579c3adaf8f345d227fc/contrib/python/pypodman/pypodman/lib/actions/mount_action.py#L12-L25
For keeping consistency with podman, pypodman should implement option `--notruncate` as well.

[2018-12-10 03:54] space88man commented on #1960
@rhatdan  — you are right, thanks!

Fixed in podman-0.12.1.1-1.git66d3499.fc29.x86_64.

[2018-12-10 03:54] #1960 closed

[2018-12-10 04:51] praveenkumar commented on #1950
@TomasTomecek I don't think you need to build it locally, can you try below?

[code]

[2018-12-10 05:02] rhatdan commented on #1961
Well this is worse that that, it is not actually showing what is mounted, but it is hard coded to list the merged directories.  We need this in the formal API.

[2018-12-10 05:09] rhatdan commented on #1919
Any progress on this?

[2018-12-10 05:09] rhatdan commented on #1917
Yes could you try that.

[2018-12-10 05:10] rlpowell commented on #1882
On Sun, Dec 09, 2018 at 07:24:50PM -0800, Daniel J Walsh wrote:

[code]

^^ Unless that already *is* the new package?, but that seems
unlikely.

[2018-12-10 05:16] mheon commented on #1882
Yeah, that's not the latest package. It might not have made it to
updates-testing yet, I'll verify tomorrow.

On Mon, Dec 10, 2018, 00:10 rlpowell <notifications@github.com wrote:

[2018-12-10 11:40] vrothberg commented on #1574
@mheon, has this issue been resolved in the meantime?

[2018-12-10 12:31] adrianreber commented on #1891
@rhatdan : What about the other message where the parasite code tries to write to CRIU's logfile:

[code]

Can this also be solved?

[2018-12-10 14:49] rhatdan commented on #1891
@adrianreber Where is the dump log created?  Are their actually messages in the log that are missing, or is this just the log file gets created and leaked to the processes inside of the container?

[2018-12-10 15:16] baude commented on #1948
@jwflory is this still a problem?

[2018-12-10 15:17] edsantiago commented on #1640
Still present in podman-0.12.1.1-1.git66d3499.fc29

[2018-12-10 16:04] jwhonce commented on #1961
@Edward5hen pypodman mount --no-trunc <id> works.  The call to super() pulls in --no-trunc

[2018-12-10 16:09] akostadinov opened #1963 "podman anonymous pull fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:
**kind bug**

**Description**

podman seems to not allow anonymous pull.

**Steps to reproduce the issue:**

1. Skopeo can inspect image:
[code]

2. Podman run image
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
I enter into proper bash shell

**Additional information you deem important (e.g. issue happen

[2018-12-10 16:11] jwhonce commented on #1961
@rhatdan When I run podman mount on a container I get the only the merged directory. I don't know if that is the container I'm picking or a change you are looking for in the python and go CLI's.

[2018-12-10 16:22] edsantiago opened #1964 "regression: 0.12.1.1-1 breaks mount as nonroot"
[code]
Podman does think the mount is active:
[code]

podman-0.12.1.1-1.git66d3499.fc29

[2018-12-10 16:25] mheon commented on #1964
@giuseppe PTAL

We had some c/storage revendors - possible one of them broke it?

[2018-12-10 17:18] giuseppe commented on #1964
is it the same issue as https://github.com/containers/buildah/issues/1225  ?

[2018-12-10 17:19] giuseppe commented on #1964
fuse-overlayfs runs in a new mount namespace and that cannot be propagated to the host.  vfs works as it doesn't create any new mount, it just explodes the container so it is still accessible from the host.

What we can do is to show a warning for mount.  Buildah will need the same fix

[2018-12-10 17:22] mheon commented on #1964
Hm. We might want to look into a `podman copy` then, that could successfully join the user namespace and copy a file into it

[2018-12-10 17:36] clebergnu commented on #1916
+1 for the file based configuration of the storage location.

[2018-12-10 17:38] edsantiago opened #1965 "regression: 0.12.1.1-1: restart running-container (nonroot): executable file not found"
[code]
Works fine as root. Only seems to happen with running containers; restarting a stopped one works fine.

podman-0.12.1.1-1.git66d3499.fc29

[2018-12-10 17:41] mheon commented on #1965
@giuseppe PTAL

I'm betting this is the fuse-overlayfs mount issue we were discussing in the other issue - we'll probably need to join the user namespace of the container if it's running when we try to restart it

[2018-12-10 18:21] mheon commented on #1963
Tried locally, can't reproduce on 0.12.1.1. Can you grab the package (it's in updates-testing) and see if you can still reproduce?

[2018-12-10 21:22] adrianreber commented on #1891
The `dump.log` file is created in `c.bundlePath()`, but with the changes from above mentioned pull request (1962) these AVC messages are gone and checkpoint/restore works again in F28 and F29.

[2018-12-11 00:01] TomSweeneyRedHat commented on #1950
@praveenkumar I think you meant your last reply to me (@TomSweeneyRedHat) and not @TomasTomecek .

I'm assuming that the test that you ran on the latest Podman did not work for you?  I tried on two separae vm's today and had unrelated issues with both.  Will try again in the morning my time.  If you could confirm that the latest didn't work on your machine, that would be good info to have.
Thanks!

[2018-12-11 01:20] jwflory commented on #1948
@baude I haven't had a chance to run this again on the affected machine. I'll try to update soon and try again ASAP. Sorry for the slow response, I am taking semester exams this week.

[2018-12-11 04:45] ardrigh opened #1972 "non-root podman cannot see images from non-root buildah"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
This is a bit of an odd problem.  In Fedora 28 I was able to run non-root `buildah` and then run non-root `podman` for a simple image workflow when required.

In Fedora 29 non-root `buildah` successfully creates images but non-root `podman` cannot see them.

I notice `podman info` lists `GraphDriverName: vfs` when the con

[2018-12-11 04:51] mheon commented on #1972
To get the new Overlay driver you may need to delete your local Podman
files - we only changed the default from VFS in 0.12.1, and if you used
Podman prior to that we keep you on VFS - the swap to overlay is a breaking
change.

I suspect this may be part of why you're not seeing the Buildah images.
Buildah may be using the new Overlay default while we're stuck on VFS.

On Mon, Dec 10, 2018, 23:45

[2018-12-11 06:46] ardrigh commented on #1972
Fedora 29 comes with v10 of Podman pre-installed, and the version I am running I pulled from `updates-testing`.  I suspect a number of people will run into similar issues to me.

It's not clear why deleting all of the existing files would fix this problem, when the files being used were pointed at using `overlayfs`.

The files in `~/.config/containers` that I copied into the ticket don't point any

[2018-12-11 07:01] ardrigh commented on #1972
As a comparison, after removing the packages and installing again, this is the new output for `podman info`

[code]

I am not sure why this is listed twice now though:

[code]

That line is commented out in the file in `/etc/containers/storage.conf` and it's not in the other config files I can see.

[2018-12-11 08:17] Edward5hen commented on #1961
@jwhonce Yes, you're right. Sorry I didn't notice that, but the option for podman is `--notruncate` here we have `--no-trunc|--no-truncate`, I think pypodman should have the same behavior, or users might be confused about this.
https://github.com/containers/libpod/blob/master/docs/podman-mount.1.md#options

[2018-12-11 08:24] kunalkushwaha opened #1973 "building libpod using podman fails, if image already present."
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**
If `libpod` is build using `libpod`, it fails if image is build once with following error

If image cache exists, error happens while resolving the symlinks.

[code]

**Steps to reproduce the issue:**

1. sudo make dbuild

2. after completion of build, make some changes in code.

3. sudo make dbuild.

**Describe the

[2018-12-11 09:14] Edward5hen opened #1974 "pypodman port: `-l/--last` is not implemented and "pypodman port $ctn $port" does not work well"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
As the title says.
* Ones work fine:
1. `pypodman port -a/--all`
2. `pypodman port $ctn`
* Which not work:
1. `pypodman port -l/--last`
2. `pypodman port $ctn $port`

**Steps to reproduce the issue:**

1.  `pypodman port -l`

2.  `pypodman port test-port 80`

3.  `pypodman port test-port 80/tcp`

**Describe the results yo

[2018-12-11 09:24] giuseppe commented on #1965
good catch, I've opened a PR here: https://github.com/containers/libpod/pull/1975

[2018-12-11 13:31] rhatdan commented on #1964
Also we might be able to do some stuff with buildah unshare, which puts you into the user namespace and you could interact with the mount point then.

[2018-12-11 13:32] rhatdan commented on #1964
And I think we definitely need podman cp command now, as much as I hate to admit it.

[2018-12-11 14:05] TomSweeneyRedHat commented on #1950
@praveenkumar I'm still hitting the `make: *** No rule to make target 'bin/kube-etcd-signer-server'.  Stop.` error is still happening for me.  Is there an associated Makefile that I should have?

[2018-12-11 14:19] rhatdan commented on #1974
We don't want to support --last for remote API, since it opens up the chance of race conditions to too large.

[2018-12-11 14:19] #1974 closed

[2018-12-11 14:30] mheon commented on #1574
Yeah, this should be fixed via #1689 - if it's not, feel free to reopen

[2018-12-11 14:30] #1574 closed

[2018-12-11 14:35] mheon commented on #1973
This seems like it could be a Buildah error - @TomSweeneyRedHat agree?

[2018-12-11 14:53] TomSweeneyRedHat commented on #1973
@mheon, maybe.  I'm a bit confused to what exactly is happening though.  @kunalkushwaha is this something you can reproduce outside of the makefile?  I.e. do you have a Dockerfile and a few podman/buildah commands that you use to reproduce this?

[2018-12-11 16:04] #1965 closed

[2018-12-11 16:15] mheon commented on #1817
#1978 may offer a fix - it removes the offending piece of code. This could only move the race elsewhere, but it may well be enough to stop it.

[2018-12-11 16:17] mheon commented on #1973
@TomSweeneyRedHat This looks like `make dbuild` exploding, which basically amounts to a `podman build` plus a `podman run` - it looks like the `podman build` part is what's blowing up, which led me to suspect Buildah. The exact line in question is https://github.com/containers/libpod/blob/master/Makefile#L149-L150

[2018-12-11 17:14] EmilienM opened #1980 "container create failed: container_linux.go:336: starting container process caused "setup user: permission denied""
**Is this a BUG REPORT or FEATURE REQUEST?**:
[//]: # **kind bug**

**Description**
Systemd fails to start containers with a permission error.

**Steps to reproduce the issue:**

1. Deploy podman 0.12.1.1 and configure a systemd service to start a container (example in this [blog post](http://my1.fr/blog/openstack-containerization-with-podman-part-2-operations/)).

2. Start the container with ```p

[2018-12-11 17:39] mheon commented on #1980
Definitely looks like some sort of failure in `runc` - https://github.com/opencontainers/runc/blob/aa7917b7518ce48deed3a591dc415b006d478fd0/libcontainer/init_linux.go#L239-L240 is the function in question

Unfortunately the amount of debugging in runc code paths like this is extremely small, so we can't tell exactly where the permission denied is coming from easily from the error message, which is

[2018-12-11 17:42] EmilienM commented on #1980
If you leave Enforced mode in SElinux it works fine. Let me see why I didn't see the alert.

[2018-12-11 17:49] ardrigh commented on #1972
Yes, after clearing the files and doing the reinstall, `podman images` now successfully lists the images created by `buildah`.

Thanks.

[2018-12-11 17:52] mheon opened #1981 "Podman start --attach with nonexistent container does not fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Podman start --attach doesn't error immediately when a container that does not exist is specified

**Steps to reproduce the issue:**

1. `podman start --attach does_not_exist`

2. Press enter key after command is run

**Describe the results you received:**

The `start --attach` command only errors after any key is pressed o

[2018-12-11 17:53] mheon commented on #1981
Alright, now we have two bug labels, so that's nice and confusing.

[2018-12-11 17:54] EmilienM commented on #1980
found 1 alerts in /var/log/audit/audit.log
--------------------------------------------------------------------------------

SELinux is preventing /usr/bin/runc from setattr access on the fifo_file .

*****  Plugin catchall (100. confidence) suggests   **************************

If you believe that runc should be allowed setattr access on the  fifo_file by default.
Then you should report this as

[2018-12-11 17:56] EmilienM commented on #1980
ping @rhatdan ^

[2018-12-11 18:13] EmilienM commented on #1980
In container-selinux we already have ```allow container_runtime_t unconfined_t:fifo_file setattr;``` in an optional policy, I'm wondering if we need to run it by default with latest runc.

[2018-12-11 18:19] mheon commented on #1972
I think setting `vfs` when storage.conf explicitly states `overlay` is something we do need to look into; I'm hesitant to respect storage.conf unconditionally given our prior issues with Rootless breaking changes, but printing a warning (`Overriding storage driver overlay as database was created with VFS driver` or similar) would be a good thing.

[2018-12-11 18:33] baude commented on #1981
cannot reproduce

[2018-12-11 18:35] mheon commented on #1981
I can't reproduce locally anymore... Not sure what was going on with my terminal. I'm going to close until I can reproduce again.

[2018-12-11 18:35] #1981 closed

[2018-12-11 19:24] pmlopes opened #1984 "podman build hangs on ARG step forever"
I'm on fedora 29 and podman 0.12.1 is my current version.

When building this `Dockerfile`:

[code]

Podman hangs at:

[code]

which i don't pass as build argument and I can only see that there are 2 podman processes with the same command line args running (I've confirmed that I only launch 1) plus there's a defunct podman process.

I've tryed to rm my local installation `rm -Rf ~/.local/share/con

[2018-12-11 19:32] kirbyfan64 opened #1985 "podman run --rm will not remove the container if the command isn't found"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `podman run --rm` with some command that is not inside the container's path, e.g. `podman run --rm -it alpine xyz`. This occurs in both standard/root and rootless modes.

2. Observe that is says `internal libpod error`.

3. Run `podman ps -a` to see the list of present containers.

**Describe the results you received:**

The lis

[2018-12-11 19:38] TomSweeneyRedHat commented on #1984
Hey @pmlopes, thanks for the issue.

Can you show me what you're seeing when you run the command?  It gets past that ARG command for me, see below.  Then fails later as it can't find the directory for the add.  Just a quick thought, which shouldn't matter, could you try with all the 'ARG' command lines at the beginning of the file?

[code]

[2018-12-11 20:05] mheon commented on #1985
This is actually deliberate and mirrors Docker's behavior in the same situation. We retain the container for debugging purposes - you might want to go back and see what caused it to fail.

I'm not 100% convinced by that logic, but we'll probably leave it as-is to maintain compatibility.

[2018-12-11 20:08] kirbyfan64 commented on #1985
Huh, I didn't realize that... Is there a particular reason you'd want to debug this, though? Like, maybe I could understand for something more complicated, but most of the time when the executable isn't found and you used `--rm`, it's just easier to use `podman run --rm` again than to try and look up the container ID to exec in it, and even then it's probably just typos that are immediately obviou

[2018-12-11 20:09] mheon commented on #1984
@pmlopes Can you pastebin the output of `podman --log-level=debug images` after it freezes? I'd be interested to see where we fail

[2018-12-11 20:10] mheon commented on #1984
I'm suspecting this is a deadlock somewhere in c/storage but I'll hold off tagging that until we can confirm

[2018-12-11 21:19] mheon commented on #1817
I'm going to reopen this until @cjeanner and @EmilienM can confirm the issue is fixed on their end

[2018-12-11 21:20] mheon commented on #1985
@baude Huh. I know this issue came up before, and Docker compat was the reason we didn't end up changing it.

I'm not exactly committed to this functionality, so if it's not deliberately matching Docker behavior, I vote we scrap it and delete the container.

[2018-12-11 21:22] baude commented on #1985
OK, I'll take this one...

[2018-12-12 05:36] Edward5hen commented on #1974
@rhatdan Yes sir, it makes sense.
I think `pypodman port $ctn $port` should be implemented, it seems no other risks included.

[2018-12-12 09:19] vrothberg opened #1991 "podman rmi/rm -af and infra containers"
Podman is unable to delete all images (`podman rmi -af`) when an infra container of a Pod still exists.

The first attempt of `podman rmi -af` will yield a helpful error message, e.g.:
`
error removing image da86e6ba6ca197bf6bc5e9d900febd906b133eaa4750e6bed647b0fbe50ed43e: container 05bd830d6625975d8013d6004099c4df92daa050f12637c7e85bd0a1664d6273 using image could not be removed: container 05bd830

[2018-12-12 09:21] giuseppe commented on #1941
opened a PR to address this issue: https://github.com/containers/storage/pull/254

Since we are already ignoring setxattr errors if they are not supported by the underlying file system, it should be fine to ignore them as well when running in a user namespace on an older kernel

[2018-12-12 10:01] harche opened #1992 "Test cases should use multi-arch images"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/ **kind bug**

**Description**

Test cases shipped with libpod for testing [containers](https://github.com/containers/libpod/blob/master/test/test_podman_baseline.sh) and [pods](https://github.com/containers/libpod/blob/master/test/test_podman_pods.sh) fail on architectures other than x64 (e.g. `ppc64le`). This is because the container images used in

[2018-12-12 10:02] harche commented on #1992
@baude

[2018-12-12 10:09] harche commented on #1992
I should mention that after replacing the default images with the standard multi-arch images everything worked on `ppc64le`, except for `docker/whalesay:latest`. I wasn't able to find a multi-arch image for `docker/whalesay:latest`. But the aim of that test case seemed like just printing something on the stdout, so I used standard `ubuntu:latest` and replaced CMD [arg](https://github.com/container

[2018-12-12 10:09] lsm5 commented on #1742
I guess I'll defer this until I find out from kube maintainers if they're willing to include our tools on their apt repo.

[2018-12-12 10:18] harche commented on #1992
@baude Let me know if I could send the patch to address this issue.

[2018-12-12 10:50] harche opened #1993 "'podman build' cannot create images with empty Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/**kind bug**

**Description**

[code]
[code]
So `buildah` can create an image from a Dockerfile that has only `FROM scratch`. Now let's try with `podman build`

First cleanup,
[code]
[code]
As you can see `podman build` didn't create any image, but `buildah bud` was able to. Now let's try this,
[code]
So this time it worked if some content was added

[2018-12-12 10:57] giuseppe commented on #1964
PR here: https://github.com/containers/libpod/pull/1994

[2018-12-12 10:59] giuseppe commented on #1964
I've created two PR, one for Buildah and one for Podman.

I've verified that it is possible to use "podman mount" and "buildah mount" even with fuse-overlayfs when in the environment created with "buildah unshare"

[2018-12-12 11:09] harche opened #1995 "I/O error during execution of test_podman_build.sh"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/**kind bug**

**Description**

While running the test case, https://github.com/containers/libpod/blob/master/test/test_podman_build.sh I am frequently seeing errors highlighted below. I have noticed this on `x64` as well as `ppc64le`. Although created images work fine, but nevertheless, during the image creation it throws that error repeatedly.

  TA

[2018-12-12 13:31] TomSweeneyRedHat commented on #1995
Thanks for the issue report.  I've seen this happen recently in my environment too, but thought it was a local problem on my system.  I think there may be a similar problem reported against Buildah, but I can't find it quickly.  When I've run into it, the issue does not seem to make the command fail, but it sure is ugly.

[2018-12-12 13:49] TomSweeneyRedHat commented on #1992
@harche thanks for the problem report.  Always happy to get a PR spun up.  As far as the whale-says test goes, please do not delete that.  However if there's not a ppc64le image available and you've a way to not run it automatically in a ppc64le environment, I'd be fine with that.

You're right about it's use as an easy visual to see if the test has stopped running and at least that test passed.

[2018-12-12 14:48] harche commented on #1992
@TomSweeneyRedHat it looks like `docker/whalesay:latest` executes a perl command. So this should be easy to make it work on other architectures. I will create a multi-arch image which should work everywhere.

[2018-12-12 14:53] mheon commented on #1995
Seemingly a bug in `Buildah`

[2018-12-12 15:02] mheon commented on #1993
@TomSweeneyRedHat Since we're calling straight into `buildah` code here, what are we looking at? Do we need a newer version of `buildah` or do we have a bug in our wrapper code?

[2018-12-12 15:05] mheon commented on #1991
The first error is pretty good, aside from the duplication of the infra container ID.

The second error is wierd and makes no sense - did something we do alter the state? We shouldn't be modifying images we don't end up removing, I think?

[2018-12-12 15:17] rhatdan commented on #1995
@harche Could you just make sure this is not an SELinux issue, can you run your test with SELinux in permissive mode.
setenforce 0

[2018-12-12 15:42] baude commented on #1992
@harche can you swing into #podman on freenode and perhaps we can talk about this?  I'd like to talk over what you think the solution should be.

[2018-12-12 15:43] rhatdan commented on #1993
Probably need to fix, but I don't see where this is a real world issue. Unless you want to ship an totaly empty image, that would be very secure.  :^)

[2018-12-12 15:46] maxamillion commented on #1941
@giuseppe thank you!

[2018-12-12 15:54] adrianreber commented on #1891
This is now fixed with #1962, I will open a PR to re-enable checkpoint/restore tests on F29.

[2018-12-12 15:58] rhatdan commented on #1916
With podman 0.12.1.1  It should generate ~/.lcontig/containers/storage.conf
This file can be edited to point at /data/containers.

[2018-12-12 16:56] TomSweeneyRedHat opened #1997 "podman images -q can show too many images."
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**

When an image with multiples names is displayed with the `podman images -q` command, multiple images are listed with the same Image ID.  This will break Docker scripts that are aliased that do `podman rmi -f $(podman images -q)`

[code]

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
A

[2018-12-12 17:17] mheon commented on #1916
`~/.config/containers/storage.conf` to be clear

[2018-12-12 17:48] harche commented on #1993
@rhatdan as I mentioned above the test case, https://github.com/containers/libpod/blob/master/test/test_podman_build.sh#L23 is failing on my system because of this issue.

[2018-12-12 18:01] harche commented on #1995
@rhatdan I ran the test cases again in SELinux permissive mode, but if failed with the same error.

[root@rhel8 libpod]# /bin/bash  test/test_podman_build.sh

test build-from-scratch

--> 6d13e287771dc6e224fbd30f3096188d09212428b345c7ebd1c607da04e117ec
STEP 1: COMMIT scratch-image
804b51481617af8de674e331947bfb1b25ab1064a46ee4eae2ca270e0277154b
STEP 1: FROM scratch
STEP 2: COPY test /
--> Using ca

[2018-12-12 18:20] harche commented on #1992
@baude The solution is to,

1. Create an image for individual arch using [this](https://github.com/docker/whalesay/blob/master/Dockerfile) Dockerfile.
2. Then create a multi-arch image using `docker` or https://github.com/estesp/manifest-tool
3.  and finally refer that image in test case [here](https://github.com/containers/libpod/blob/master/test/test_podman_baseline.sh#L440).

[2018-12-12 18:45] baude commented on #1992
fwiw, the whalesay tests are not an official part of our testing.  it is something we use manually (or in some cases programatically) to test the latest podman packages.

[2018-12-12 19:28] TomSweeneyRedHat opened #1999 "'make shell' is broken"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**

The 'make shell' command is shown in the Integration Test Readme (https://github.com/containers/libpod/blob/master/test/README.md) is broken and fails with:

[code]
It also is using golang v1.10 and probably should be bumped up to v1.11.

**Steps to reproduce the issue:**

1. `make shell`

**Describe the results you re

[2018-12-12 22:13] #1999 closed

[2018-12-13 09:02] abitrolly commented on #1917
I cleaned up everything with `buildah` and `podman` and there are again dangling dirs in `vfs`. Most of them are layers, but not all.
[code]
I don't know the command to clean up those layers, so I now clean and remove them manually. That was `podman 0.10.1.3`.

Interesting, I can not remove them.
[code]

[2018-12-13 09:06] abitrolly commented on #1917
[storage.zip](https://github.com/containers/libpod/files/2675206/storage.zip)

[2018-12-13 09:20] abitrolly commented on #1916
[code]

[code]

[2018-12-13 09:31] abitrolly commented on #1919
Nope. I am worrying about money balance and can't concentrate on doing experiments with https://github.com/cheggaaa/pb/tree/v2 - `v1` doesn't provide necessary customization options.

[2018-12-13 09:36] vrothberg commented on #1919
This will conflict with our current work on parallelizing the copying of layers. The output of the progress bars will be less verbose than before:
[code]

[2018-12-13 12:09] abitrolly commented on #1919
I don't see any reason to duplicate efforts, and I'd let this be handled by parallel branch. For the output above does "Copying config" need a sha and progress bar? Where is it copied from?

[2018-12-13 13:09] rhatdan commented on #1973
Could someone attempt this with the nodev line removed from /etc/containers/storage.conf.

We are seeing some weird interaction between builds being done inside of containers, if the container Overlay is mounted nodev.  (CRI-O Is seeing it, and Ben was able to reproduce with buildah.)  I will be investigating what is going on next week when back from Kubecon.

[2018-12-13 13:14] rhatdan commented on #1980
@EmilienM What service is running as unconfined_service_t?

ps -eZ | grep unconfined_service_t

[2018-12-13 13:34] rhatdan commented on #1985
Yes I agree, I think we should scrap the container.  If a user wanted to examine it, he could just run the same command again with out the --rm.

[2018-12-13 13:44] vrothberg commented on #1919
It was shown before, so I thought I keep it. I think it makes sense to display it as it's also being downloaded from the registry (https://registry-1.docker.io/v2/library/nginx/blobs/sha256:568c4670fa800978e08e4a51132b995a54f8d5ae83ca133ef5546d092b864acf).

[2018-12-13 13:50] EmilienM commented on #1980
@rhatdan
system_u:system_r:unconfined_service_t:s0 7935 ? 00:00:04 registry
system_u:system_r:unconfined_service_t:s0 102039 ? 00:00:00 conmon

[2018-12-13 13:54] #1941 closed

[2018-12-13 14:37] adrianreber commented on #1891
@rhatdan my testing was not complete. On F29 after a reboot I still get:

[code]

Running `restorecon -R -v /var/lib/containers` does not change anything (as far as I can tell).

Interestingly this only happens when running Podman directly. If running from the test cases through ginkgo, this error does not happen. Could this be related to ginkgo putting the containers on `/tmp`?

[2018-12-13 14:39] rhatdan commented on #1995
Well that elmiinates SELinux as the culprit.

[2018-12-13 14:49] mheon commented on #1916
It's not really clear from the generated file, but `graphroot` there is container and image storage

[2018-12-13 14:51] TomSweeneyRedHat commented on #1992
@harche thanks for running with this.  For Podman we have what I call 3 "By Hand" tests.  They're just quick tests that we run against new releases prior to release to make sure things haven't fallen over.  They are not run automatically in the CI system, only after somebody drops them somewhere and runs them directly.

They all live in Podman's /test directory and are test_podman_*.sh where * equ

[2018-12-13 14:56] clebergnu commented on #1916
@mheon you're right that it's not clear... not sure if the generated `~/.config/containers/storage.conf` can include comment/documentation. That alone would help a lot.

[2018-12-13 15:30] mheon commented on #1916
It could, but it would be a fair bit of effort on our end (straight TOML generation to templated output). Probably worth it, though.

[2018-12-13 15:33] #1985 closed

[2018-12-13 15:56] abitrolly commented on #1916
Looks like Tom doesn't count comments as a feature - https://github.com/toml-lang/toml/issues/284

[2018-12-13 16:05] #1546 closed

[2018-12-13 16:15] rhatdan commented on #1993
This works ok in Buildah?

[2018-12-13 16:35] TomSweeneyRedHat commented on #1995
When this popped up in my environment a while ago, it looked to be some kind of stdio/tty overflow condition.  As I checked with others and they weren't seeing it, I wrote it off to my flakey PC.  I'll try diving back in, but happy to here others thoughts.

[2018-12-13 16:37] rhatdan commented on #1919
I agree we should work this in parallel work.  @abitrolly We would love to have your help and feedback on this.

[2018-12-13 16:37] #1919 closed

[2018-12-13 16:39] rhatdan commented on #1980
conmon should not be running as a unconfined_t service, I think this means that you launched podman from a systemd unit file, and podman was not labeled correctly?
 ls -lZ /usr/bin/podman
-rwxr-xr-x. 1 root root system_u:object_r:container_runtime_exec_t:s0 29932824 Dec  7 11:30 /usr/bin/podman

[2018-12-13 16:39] TomSweeneyRedHat commented on #1993
Perfectly fine in Buildah, that's the odd part.

[2018-12-13 16:40] EmilienM commented on #1980
@rhatdan yes, this is exactly my bug: when running containers from systemd I have this AVC. See https://github.com/containers/container-selinux/pull/59

[2018-12-13 16:43] rhatdan commented on #1891
Ok we have to look into who is creating dump.log and whether we want to label it correctly.

One option would be to allow the append, without a create, which means the container would only be able to append to the log file if it was leaked into the container, not able to go and start writing to container_var_lib_t by default.

[2018-12-13 16:51] rhatdan commented on #1980
Is this only happening in the test suite, where it is running a mislabeled podman?

[2018-12-13 16:52] EmilienM commented on #1980
@rhatdan it's happening for us in OpenStack when we run SElinux in Enforced mode and control containers with Systemd. I've been adding this scenario in Podman testsuite too: https://github.com/containers/libpod/pull/1987 and https://github.com/containers/libpod/pull/2002 so we catch it earlier next time.
Like I wrote in the bug description, it only happens with latest podman. With 0.11.x it works

[2018-12-13 17:11] adrianreber commented on #1891
CRIU creates dump.log at

https://github.com/checkpoint-restore/criu/blob/criu-dev/criu/log.c#L172

We could create the log file in Podman, label it and CRIU should just overwrite (O_TRUNC) the existing file. Is that possible?

[2018-12-13 21:46] #1964 closed

[2018-12-13 22:35] TomSweeneyRedHat commented on #1993
OK, I know what the difference is at least.  By default Buildah sets the default value of the --layers parameter to false.  Podman sets the same value to true.  If you do

[code]
The image will build.  Now I need to figure out why it's not building with layers set to true.

[2018-12-14 04:43] kunalkushwaha commented on #1973
Just wanted to update that in my setup,  my `/etc/containers/storage.conf `is blank i.e. it is using defaults from code and my `podman info ` output suggest dont have graphOption for `nodev`.

I think the problem lies in cache time which is set .. could be `time variable` have some corrupt value.

[code]

[2018-12-14 11:15] cjeanner commented on #1925
Hello @mheon - any news for this? :)

Cheers,

C.

[2018-12-14 11:23] cjeanner commented on #1841
@mheon sorry for the delay.

Apparently we don't see that in the logs for at least 7 days.
I propose we close this for now, and if it comes back to live, I just reopen.

[2018-12-14 11:23] #1841 closed

[2018-12-14 12:43] Ghostium opened #2009 "Podman on Debian 9 publishing port doesn't work"
# **kind bug**

**Description**
Webserver in container isn't reachable in the host terminal or via browser. The webserver is reachable inside the container.

**Steps to reproduce the issue:**

1. Use Debian 9 image
[code]
2. Make sure you have Debian Backports enabled.

3. Run commands as root
[code]

4. Wait till server has rebooted

5. Run more commands as root
[code]

6. Add /etc/containers/reg

[2018-12-14 14:52] baude commented on #2009
are you running as root?  and also, can you provide the run command with pod --log-level=debug ?

[2018-12-14 15:04] Ghostium commented on #2009
Yes, I am running the commands as root.

Command with log level debug:
[code]

[2018-12-14 15:31] baude commented on #2009
is the network connection between the container and host healthy? meaning, they can ping each other?

[2018-12-14 15:59] mheon commented on #2009
`INFO[0000] About to add CNI network crio-bridge (type=bridge) `

There's the problem - it's preferring the CRI-O CNI network over the Podman one

[2018-12-14 16:01] mheon commented on #2009
@Ghostium Do you have an `/etc/containers/libpod.conf` and if so does it contain the line `cni_default_network = "podman"`?

[2018-12-14 16:04] Ghostium commented on #2009
I am sorry, but I've never dealt with container networking before.
If I interpret this correctly the default route/gateway is reachable inside the container as is the public IPv4 address. The container ip adress is reachable from the host.

Is this correct?
[code]

@mheon There is no libpod.conf file under /etc/containers/libpod.conf.
[code]

[2018-12-14 16:07] mheon commented on #2009
@Ghostium Would you mind creating libpod.conf and retesting once it's present, using the contents of https://github.com/containers/libpod/blob/master/libpod.conf

[2018-12-14 16:16] Ghostium commented on #2009
@mheon Thanks that fixed it.
The webserver is now reachable from the outside and in the terminal.

Maybe default registries.conf and libpod.conf files could be added to the according packages in the ppa repo? That podman works out of the box.

The new output is:
[code]

[2018-12-14 16:17] mheon commented on #2009
@lsm5 @baude We should definitely be including those configs in the PPA

[2018-12-14 18:06] cgwalters opened #2012 "rootless: cached builds fail with: "error resolving symlinks and comparing modified times""
[code]

This is running inside an outer podman container on FSB29.

[2018-12-14 18:07] cgwalters commented on #2012
This looks like a dup of https://github.com/containers/libpod/issues/1973

[2018-12-14 18:07] #2012 closed

[2018-12-14 19:00] baude commented on #1973
where are we on this?

[2018-12-14 19:04] mheon commented on #1973
I think it's definitely a Buildah bug, though I don't think we have a consistent reproducer yet

[2018-12-14 20:13] pmlopes commented on #1984
sorry I totally missed the updates on the issue. I had to rebuild the machine where this was happening, but I'll give it another try Monday.

[2018-12-14 20:43] owtaylor commented on #1747
For systems using systemd user sessions (e.g. Fedora for quite some time), the system setup with socket activation could be directly duplicated.

[2018-12-15 00:58] vbatts opened #2013 "`podman push` to "dir:" has wrong mediaType"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**
both as format docker `v2s2` and as `oci`, the layers say they're `+gzip` but are just plain tar archives.

**Steps to reproduce the issue:**

1. `podman push vbatts/slackware dir:xx`

2. `podman push --format oci vbatts/slackware dir:xxx`

3.

**Describe the results you received:**
[code]

and
[code]

**Describe the re

[2018-12-15 06:07] rlpowell commented on #1882
Still not getting the newer package, just FYI.

[2018-12-16 10:48] abitrolly opened #2014 "Portable dir mounting (SELinux problem)"
[//]: # **kind feature**

**Description**

Non-transparent volume mappings make `podman` is non portable the same way as Docker. Means that commands that work on Ubuntu won't work on Fedora, because `:Z` suffix needs to be supplied for the later.

Even for the case when I run image as myself in my own directory and I map it explicitly so that container can operate on it.

    ✗ podman run -v $PWD:

[2018-12-16 18:52] edwintorok opened #2015 "sudo podman create: error creating container storage: error creating ID-mapped copy of layer "8042eb3a896959439cf57f9e6c964552292c90a8540048fa2efb80cef5d5feec": exit status 1: error during chown: storage-chown-by-maps: chown("usr/bin/ping"): no data available"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]:  **kind bug**

**Description**

Running podman create with sudo fails to create a container.
Running the command without sudo (rootless) creates the container, but  I run into another issue (https://github.com/containers/buildah/issues/1240).

**Steps to reproduce the issue:**

1. `sh -x /usr/bin/fedora-toolbox --sudo -v create`

**Describe the

[2018-12-17 01:03] seandjones92 commented on #2015
I am also running into this. I have reported this directly against the fedora-toolbox repo but posting here was probably what I should have done.

https://github.com/debarshiray/fedora-toolbox/issues/25

[2018-12-17 01:05] mheon commented on #2015
@seandjones92 Fedora toolbox is usually run rootless - are you hitting this issue when running rootless, or when run as root?

@giuseppe Given that it's the `ping` binary I'm imagining it's the extra handling for file capabilities?

[2018-12-17 01:11] seandjones92 commented on #2015
@mheon I have attempted to run rootless multiple times, only ran once with root as a test and it still failed.

I can reproduce this on demand either on my machine or in a 'vanilla' VM. I'd be more than happy to assist with gathering further information or testing.

I'm running Fedora Silverblue

[2018-12-17 08:59] vrothberg commented on #2012
@cgwalters, #1973 seems to have issues reproducing it. Is it reproducible in your environment and if so, could you share instructions in  #1973?

[2018-12-17 10:00] Edward5hen opened #2016 "varlink API - GetInfo() misses host/swap_total and host/oci_runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:
**kind bug**

**Description**
Access varlink API `GetInfo()` with python client, find that some information is missing from the result.

**Steps to reproduce the issue:**

1. `podman varlink -t 0 unix:/run/podman/io.podman`

2. open another terminal and python3:
[code]

**Describe the results you received:**
`podman info`:
[code]

**Describe the result

[2018-12-17 12:15] giuseppe commented on #2015
it looks like an overlayfs bug.  Probably it is related to the copyup for metadata only, as I can see it happening only with files having file capabilities and size > 0:

Simple reproducer:

[code]

/cc @rhvgoyal

[2018-12-17 14:00] ansemjo opened #2017 "compatability with 'docker inspect' - .ContainerConfig vs .Config"
**Is this a BUG REPORT or FEATURE REQUEST?**:
**kind bug**

**Description**

A while ago I tried to transition from Docker to `podman` for building and pushing images to a [Flynn](https://github.com/flynn/flynn) cluster. The Flynn CLI runs `docker inspect` before pushing and looks at `.Config` to get some metadata about the image. Since the `{{ .Config }}` field is empty in `podman inspect`'s outp

[2018-12-17 14:38] baude commented on #2017
@rhatdan wdyt?

[2018-12-17 16:48] #1997 closed

[2018-12-17 17:23] jwflory commented on #1948
Thanks for your patience. I was able to re-test now.

I updated to 0.12.1.1 and this bug is still present.

Unfortunately, still no dice:

[code]

[2018-12-17 18:50] baude commented on #1948
this has me baffled.  is that same user able to resolve names to IP addresses normally?

[2018-12-17 18:52] cgwalters commented on #2012
Yep, reproduces 100%.   As far as I can tell this seems likely to be a regression from https://github.com/containers/buildah/commit/0ce1071650c5ab8b7f5e696855e1e05198e2f1f4

I was adding some debug prints but the panic is being thrown from somewhere in the guts of golang's `Cmd.Run()`.

[2018-12-17 18:55] cgwalters commented on #2012
As far as reproducing, the repository above is https://github.com/openshift/machine-config-operator which has some basic commands that run `podman`.  It's only the 2nd build that breaks.

[2018-12-17 18:57] #1991 closed

[2018-12-17 19:12] #1980 closed

[2018-12-17 19:50] cgwalters commented on #2012
Except of course now that I play around with downgrading back to podman 0.10 (which failed with other errors), then back up to `podman-0.12.1.1-1.git66d3499.fc29.x86_64` I can't reproduce anymore...

[2018-12-17 22:13] rhatdan commented on #2013
Valintin can you take a look at this.

[2018-12-17 22:20] rhatdan commented on #2017
@ansemjo Could you verify that we are comparing apples to apples.
You might be comparing a OCI image to a Docker image.

Could you see if this works better with

podman build --format docker ...

Which should cause podman to build a docker image.

[2018-12-18 00:16] vugardzhamalov commented on #1226
Hi there I was wondering if there is any chance to re-open this?

I am running following on Fedora 28 as unprivileged user:
podman run --entrypoint=/usr/sbin/init --stop-signal=RTMIN+3 -t --privileged fedora:29

And here is my output:
systemd 239 running in system mode. (+PAM +AUDIT +SELINUX +IMA -APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ +LZ4 +SECCOMP +BLKID +ELFUTIL

[2018-12-18 00:21] mheon commented on #1226
This is fixed when running Podman as root. The latest versions should also work with rootless, though I believe a patched systemd is required (https://github.com/systemd/systemd/pull/10646 - it's merged but I'm not sure if it's made its way into a release as well). Regardless, this is definitely a separate issue, so I'd recommend you open a new issue.

[2018-12-18 07:57] vrothberg commented on #1973
@cgwalters dropped something at https://github.com/containers/libpod/issues/2012#issuecomment-447956685 that might help here.

[2018-12-18 07:59] vrothberg commented on #2013
Sure :+1:

[2018-12-18 16:37] rhatdan commented on #2017
Ok, seems like a fairly big bug.  @baude could you look at this.

[2018-12-18 16:57] rlpowell commented on #1882
*ARGH*.  I *was* cleaning the cache; I forgot that the semantics of "install" have changed.  *sigh*  10+ years of "yum install foo" getting me the latest version, but no longer!  I'm never going to stop getting bitten by that.  -___-

That looks *MUCH* better, thank you!

[2018-12-18 19:52] edsantiago opened #2025 "fedora 28: podman run: permission denied (AVC)"
[this is not a podman issue; it's Fedora. I'm filing here in hopes of helping someone else. Please close this issue, since I don't have privs to do so.]

Problem
======
`podman run ANYTHING`, as root (not rootless!)  fails with an AVC on Fedora 28:
[code]

Solution
======
`dnf reinstall container-selinux`

Explanation
========
I have no idea. This seems to be happening on new f28 installs/images,

[2018-12-18 19:53] #2025 closed

[2018-12-18 20:31] rhatdan commented on #2014
This is SELinux blocking.  If $PWD is your homedir, you would need to disable SELinux

podman run --security-opt label=disabled -v $PWD:/src -w /src snapcore/snapcraft:beta ls -la

[2018-12-19 04:52] abitrolly commented on #2014
I written that it is SELinux in issue title. The point is to make `podman` select user friendly variant automatically without explicit options to make commands portable for documentation.

[2018-12-19 08:46] rhatdan commented on #2015
Ok will have to get this fix into RHEL8 as well as Fedora.

[2018-12-19 09:01] rhatdan commented on #2014
That would be insecure by default.  Which is not going to happen.   A user  needs to know what they are doing when running a container.  There are lots of other potential secuity options that could block running of an application, and we will not disable them either.

[2018-12-19 10:24] wking opened #2026 "Pull fails with "unable to find '...' in local storage: no such image""
[//]: # **kind bug**

**Description**

Podman fails to pull `quay.io/openshift-release-dev/ocp-v4.0@sha256:535875db8b4bcb4e04a4fb1f3fc010f515681f6b34172ebb598c9d82b3ed13b1`.

**Steps to reproduce the issue:**

Get a pull secret from [here][1].

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

A successful pull.

**Output of `podman version`:**

[code]

[2018-12-19 12:35] nerijus opened #2027 "empty file when exporting"
Version is podman-0.12.1.2-1.git9551f6b.fc29.x86_64 from F29 updates-testing.
I am running podman as user, not root.

$ podman container ls
CONTAINER ID  IMAGE                          COMMAND               CREATED         STATUS             PORTS  NAMES
1ffe1ad85dee  localhost/teamviewer10:latest  /bin/sh -c /opt/t...  11 seconds ago  Up 11 seconds ago         vibrant_stallman

$ podman export 1f

[2018-12-19 16:18] mheon commented on #2026
So it looks like we're pulling the image successfully, but our attempt to
retrieve it from storage after it's pulled so we can get it's full digest
and verify its presence is failing. Which is pretty interesting.

On Wed, Dec 19, 2018, 05:24 W. Trevor King <notifications@github.com wrote:

[2018-12-19 16:19] mheon commented on #2027
@giuseppe Another fuse-overlayfs not leaving the user namespace issue?

On Wed, Dec 19, 2018, 07:35 Nerijus Baliūnas <notifications@github.com
wrote:

[2018-12-19 17:21] giuseppe commented on #2027
PR here: https://github.com/containers/libpod/pull/2028

[2018-12-19 18:45] nerijus commented on #2027
Thank you, exporting works now. But when importing on another PC I get an error:

$ podman import /tmp/tv.tar
Getting image source signatures
Copying blob sha256:161e4951ad5a9fd9c33b872f10fdd462c2d7db4f9e98e4ed4a0ed0fcac1c279a
 275.23 MB / 275.23 MB [==================================================] 2m7s
Copying config sha256:7954a6d6c52ef2879830fe61dfe4efdab634bb0062a11510b2e270b0a707ee5b
 415

[2018-12-19 19:58] abitrolly commented on #2014
On Wed, 19 Dec 2018 at 12:01, Daniel J Walsh <notifications@github.com>
wrote:

Can you be more specific about security implications in this case of
mounted directories? Without :Z option it is impossible to mount. With :Z
it is insecure? Are there any other variants?

[2018-12-19 20:25] vbatts opened #2032 "podman build --layers: runtime panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**

**Steps to reproduce the issue:**

1. https://github.com/vbatts/copr-build-bazel

2. continually call `podman build --layers .`

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

normal build process

**Additional information you deem important (e.g. issue happens only occasion

[2018-12-19 20:37] cevich commented on #2032
@ypu or @edsantiago mind adding a ginkgo system-test to verify this (and confirm it's fixed, when it is)?

Kinda important that build and cache work properly :confused:

[2018-12-19 20:59] giuseppe commented on #2027
@nerijus that bug got fixed recently upstream, could you try with a newer version of Podman?

Basically it is erroring out as it cannot create devices, but they are just ignored in recent versions of Podman

[2018-12-19 21:04] TomSweeneyRedHat commented on #2032
@vbatts Can you add the full Dockerfile that you used or a ptr to it?  I looked, may have missed it.

[2018-12-19 21:17] EmilienM commented on #1844
@giuseppe please re-open, we can still see this one with podman 0.12:

```standard_init_linux.go:203: exec user process caused \"no such file or directory\"", ```

http://logs.openstack.org/03/625903/2/gate/tripleo-ci-centos-7-containers-multinode/23f5730/logs/undercloud/home/zuul/undercloud_install.log.txt.gz#_2018-12-19_20_05_52

[2018-12-19 21:17] EmilienM commented on #1844
@mheon @baude @rhatdan @cjeanner FYI ^

[2018-12-19 21:20] vbatts commented on #2032
@TomSweeneyRedHat https://github.com/vbatts/copr-build-bazel/blob/master/Dockerfile

[2018-12-19 21:35] nerijus commented on #2027
I downloaded source from git head (this repo), applied patches from PR #2028, but still get the same error when importing.

[2018-12-19 21:54] rhatdan commented on #2014
We can not generalize policy to allow any content that is volume mounted into  a container to automatically have all of the labels allowed for read/write/execute.

So the user needs to label the content correctly or turn SELinux separation off.  We do have a side project to allow users to create new types to allow access with more security but for now, we have three choices.

1 User Labels source

[2018-12-19 22:02] TomSweeneyRedHat commented on #2032
@vbatss TY!

[2018-12-20 08:35] giuseppe commented on #2027
what image are you using?

[2018-12-20 08:41] nerijus commented on #2027
Custom made image, I can give a link if needed.

[2018-12-20 08:53] nerijus commented on #2027
https://sat.lt/tv.tar.gz

[2018-12-20 09:06] nerijus commented on #2027
I rebuilt podman with the latest commit, made a new export and tried to import - still the same error. The exported image is https://sat.lt/tv.tar.xz

[2018-12-20 09:35] ypu commented on #2032
Hi @cevich
Will add this to system test later after it fixed. Or we can add it now as system test will not always triggered in pr?

Hi @TomSweeneyRedHat
Try to reproduce this with simpler Dockerfile, and find this may caused by "ADD . xxx"

With following Dockerfile this problem still can reproduced:
[code]
Test "ADD" with a file or a dir name it will not trigger this. Only "." or "../"will trigge

[2018-12-20 11:16] cjeanner opened #2034 "New podman version introduce new issue with selinux and relabelling: relabel failed "/run/netns": operation not supported"
# **kind bug**

**Description**

With latest podman release (see bellow), we encounter an issue when we mount /run/netns with "z,shared" flags:
[code]

**Steps to reproduce the issue:**

1. Create some network namespace in order to ensure /run/netns exists

2. Create a container with /run/netns mounted as a volume (--volume /run/netns:/run/netns:z,shared)

3.

**Describe the results you received:*

[2018-12-20 11:17] cjeanner commented on #2034
@EmilienM I took the liberty to open this one ;). If you have some other things to add, feel free to do so.

[2018-12-20 12:53] rhatdan commented on #2034
Since /run/netns mount does not support labeling, remove the :z.  Should fix the issue.

What is the label on  /run/netns?

ls -lZd /run/netns

[2018-12-20 13:00] nerijus commented on #2027
I pushed image to quay.io, and trying to pull on another PC errors out too:
$ podman pull quay.io/nerijus/teamviewer10
Trying to pull quay.io/nerijus/teamviewer10...Getting image source signatures
Copying blob sha256:a02a4930cb5d36f3290eb84f4bfa30668ef2e9fe3a1fb73ec015fc58b9958b17
 71.68 MB / 71.68 MB [=====================================================] 34s
Copying blob sha256:a3ed95caeb02ffe68

[2018-12-20 13:06] giuseppe commented on #2027
@nerijus it seems I am not authorized to pull the image:

error pulling image "quay.io/nerijus/teamviewer10": unable to pull quay.io/nerijus/teamviewer10: unable to pull image: Error determining manifest MIME type for docker://quay.io/nerijus/teamviewer10:latest: Error reading manifest latest in quay.io/nerijus/teamviewer10: unauthorized: access to the requested resource is not authorized

[2018-12-20 13:09] nerijus commented on #2027
please try again.

[2018-12-20 13:30] nerijus commented on #2027
Yes, also from git. $ podman pull quay.io/nerijus/teamviewer10 --log-level debug
flag provided but not defined: -log-level

[2018-12-20 13:34] giuseppe commented on #2027
please try: `podman --log-level debug pull quay.io/nerijus/teamviewer10`

[2018-12-20 13:47] nerijus commented on #2027
Sorry.
$ podman --log-level debug pull quay.io/nerijus/teamviewer10
INFO[0000] running as rootless
DEBU[0000] Initializing boltdb state at /home/user/.local/share/containers/storage/libpod/bolt_state.db
DEBU[0000] Using graph driver overlay
DEBU[0000] Using graph root /home/user/.local/share/containers/storage
DEBU[0000] Using run root /run/user/1000
DEBU[0000] Using static dir /home/user/.local/s

[2018-12-20 13:52] giuseppe commented on #2027
what kernel are you using?

[2018-12-20 13:54] nerijus commented on #2027
4.14.18-300.fc27.x86_64

[2018-12-20 13:59] cjeanner commented on #2034
Hello @rhatdan
Thanks for your quick answer. The labels (before anything is done with podman or whatever) are:
[code]

We have containers that are actually using netns, for creation, removal and global management, and this directory is mounted in multiple containers. That's why I used the ":z" flag - maybe the "shared" will be enough?

Cheers,

C.

[2018-12-20 14:17] giuseppe commented on #2027
we don't really support F27 as it is EOL since 2018-11-30. Could you try on a newer system if it is still broken?  I've tried on two different F29 systems, going to try F28 now

[2018-12-20 14:17] nerijus commented on #2027
Tried on kernel 4.19.10, and it worked.

[2018-12-20 14:22] rhatdan commented on #2027
Ok, I guess we can close this then.

[2018-12-20 14:22] #2027 closed

[2018-12-20 14:46] rhatdan commented on #2034
Well that is the label of the directory, but the contents of the directory seem to be process labels of the process that created the network namespace.

I see unconfined_t and container_runtime_t.

I believe the container_t process should be allowed to read those.

[2018-12-20 14:53] cjeanner commented on #2034
Hmm ok. So here's the labels for the content of netns:
[code]

This is a namespace created from the host directly. For now I don't have the right process creating the namespaces - I need to patch my code locally in order to drop the ":z", else it won't work as podman will reject that flag and make an error.

We already pushed some patches in our CI in order to get rid of those "z" flags, and appar

[2018-12-20 15:00] ret2libc commented on #2015
Same issue here.

[2018-12-20 15:34] baude commented on #1961
I have evaluated this and this really needs @jwhonce's hands.  He has designed a customer add parent arg parser where he adds `no-` in front of options.  therefore i think he needs to decide how to handle this.  on that note @jwhonce , the description for no-truncate is inaccurate as it describes trunc and not no-trunc.
[code]

[2018-12-20 15:39] nerijus opened #2038 "checkpointing a container requires root"
Although https://podman.io/blogs/2018/10/10/checkpoint-restore.html has examples of checkpoint run as user, on podman-0.12.1.2-1.git9551f6b.fc29.x86_64 it does not work:
$ podman container checkpoint teamviewer10
checkpointing a container requires root

[2018-12-20 15:40] rhatdan commented on #2038
I am not sure if we have rootless support for check pointing.

Could you try this with running podman as root.

[2018-12-20 15:41] baude commented on #1973
@TomSweeneyRedHat are you looking at this?

[2018-12-20 15:44] TomSweeneyRedHat commented on #1973
@baude I'd looked into it before PTO and wasn't able to reproduce it in my environment.

[2018-12-20 15:48] mheon commented on #2038
I'm pretty sure we should just change the examples here - @adrianreber can confirm, but I think we have a requirement for root with checkpoint/restore

[2018-12-20 15:52] nerijus commented on #2038
checkpoint works as root, restore no:
# podman ps
CONTAINER ID  IMAGE                                COMMAND  CREATED         STATUS             PORTS  NAMES
8e802732b330  quay.io/nerijus/teamviewer10:latest  bash     12 seconds ago  Up 12 seconds ago         amazing_yalow
# podman container checkpoint 8e802732b330
8e802732b3309582e8d36af03f639decfb88a1ffcce2b6b8ee9a09e4ee041880
# podman container

[2018-12-20 16:06] adrianreber commented on #2038
Checkpointing can only work as root as CRIU has no support for non-root checkpointing. Some years ago there was a push to get it working as non root, but right now development is stuck upstream.

There are a few kernel interfaces missing to get it working as non-root. It is doable, but right now I am not aware of anybody in the CRIU community actively working on it.

Google is using CRIU for conta

[2018-12-20 16:09] adrianreber commented on #2038
@nerijus Where do you see that it works as non-root?

[2018-12-20 16:13] nerijus commented on #2038
https://podman.io/blogs/2018/10/10/checkpoint-restore.html :

"I can now checkpoint the container:
$ podman container checkpoint podman-criu-test"

[2018-12-20 16:15] adrianreber commented on #2038
@nerijus hm, okay, sorry if it confusing, but this should not mean as non-root? Why does this mean as non-root? What would be better to make it clear it works only as root?

[2018-12-20 16:18] nerijus commented on #2038
Because of prompt - $. It ususally means user, # means root.

[2018-12-20 16:20] adrianreber commented on #2038
Ah, right. Did not think about that. Good point for the future. Thanks.

[2018-12-20 16:25] adrianreber commented on #2038
Can you run ` podman ps -a` to share the state of the checkpointed container.

Can you run `podman container checkpoint -k 8e802732b330`. With `-k` there should be a file `dump.log` and a `checkpoint` directory. Can you share the log file? If you run podman with `--log-level debug` there should be a line where `dump.log` is mentioned. Something like:
[code]

Maybe also a listing of the content of

[2018-12-20 17:31] nerijus commented on #2038
[code]

[2018-12-20 17:36] nerijus commented on #2038
There is no "Writing checkpoint logs" with --log-level debug. After checkpoint I see this:
[code]

[2018-12-20 17:52] sjenning commented on #1973
I am able to recreate.

I put a debug message in `modTimeIsGreater` and got found out that `path` and `rootdir` are the same, which makes `path[len(rootdir)+1:]` invalid.

Both are `/home/sjennings/projects/go/src/github.com/openshift/machine-config-operator` in my case.

[2018-12-20 17:53] mheon commented on #1973
Thanks for the reproducer!

[2018-12-20 17:57] sjenning commented on #1973
This code area went it here
https://github.com/containers/buildah/commit/0ce1071650c5ab8b7f5e696855e1e05198e2f1f4

fyi @umohnani8

[2018-12-20 18:02] adrianreber commented on #2038
Interesting. Not sure what is happening, yet.

Which distribution do you have, which version of Podman and which version of CRIU?

[2018-12-20 18:09] nerijus commented on #2038
F29, podman-0.12.1.2-1.git9551f6b.fc29.x86_64, criu-3.11-1.fc29.x86_64.

[2018-12-20 18:09] sjenning commented on #1973
This patch fixes it for me
[code]
But this seems like a hack and that the code path doesn't expect this in general.

Probably need @umohnani8 or someone on the buildah team to look at it.

[2018-12-20 18:37] adrianreber commented on #2038
On F29 I see the following:
[code]

If you try those commands, does that work? In this case the log file would be at: `/var/lib/containers/storage/overlay-containers/6f724578a7972c75f5cfe848ec0ef6c71cec13e4b6190f5d7d63565bcf318e30/userdata/dump.log`

[2018-12-20 19:02] jwflory commented on #1948
@baude In a non-container context? I'm able to successfully resolve DNS with `host` in the command line.

[2018-12-20 20:57] TomSweeneyRedHat commented on #1973
I'm not able to reproduce using upstream.  Did someone sneak a fix in or  is my testing not right?  Then again there's not a lot of output, I'm not sure if this a "success" or a quiet failure.

[code]

[2018-12-20 21:36] EmilienM commented on #2034
@cjeanner have you manually tested the changes in tripleo with selinux enforced? (I haven't yet)

[2018-12-20 22:37] nerijus commented on #2038
It works, I get
[code]
but there is no dump.log:
# ls -l /var/lib/containers/storage/overlay-containers/9657e8d4443b9fa534591d5b38404b6e6c3325854dc96f18f49b25ca3c9c602e/userdata/dump*
ls: cannot access '/var/lib/containers/storage/overlay-containers/9657e8d4443b9fa534591d5b38404b6e6c3325854dc96f18f49b25ca3c9c602e/userdata/dump*': No such file or directory

[2018-12-21 05:21] greg-hydrogen opened #2041 "Chrome crashes when running in podman"
**kind bug**

**Description**

Unable to reliably run chrome in a container started with podman.  Chrome crashes quickly when attempting to visit a site

**Steps to reproduce the issue:**

1.  Use the base image from fedora.  Install the latest version of chrome.  Create a new user.  save the image to be relauched

2.  Run the container with the following command line (root is needed due to /dev/d

[2018-12-21 05:45] mheon commented on #2041
I'm assuming that an identical setup run with Docker succeeds without crashing?

I wonder if this isn't a `runc` issue. We're running very close to master, and issues do occasionally pop up...

Also, can you pastebin the result of the `podman run` you use for chrome with `--log-level=debug` added, to see if there's anything unusual going on?

[2018-12-21 06:09] greg-hydrogen commented on #2041
@mheon  - yep the exact same setup run's in Docker without any issues

sure here is the pastebin output
https://pastebin.com/1ibcZQJc

[2018-12-21 06:47] adrianreber commented on #2038
`dump.log` is only kept if you are running the `checkpoint` command with `-k` (or `--keep`).

But now it at least sounds like basic checkpoint/restore works on your system. Good. Can you now try the same commands with your container to see if that also works. This time please use `-k`, so that I can see the `dump.log` in case it fails. Please always include all the output from `podman  --log-level

[2018-12-21 07:44] cjeanner commented on #2034
@EmilienM it's on the bench right now with under + overcloud deploy.

[2018-12-21 08:13] cjeanner commented on #2034
@rhatdan ah, forgot to say, it's on a permissive environment… podman shouldn't try to relabel things on a permissive env, should it? I'm not sure docker actually tries that…

[2018-12-21 09:51] planetf1 commented on #1843
++ for this request

I'm currently using docker to build containers for kubernetes (for a OSS project), and was just reading about podman, but most devs are using macOS so to encourage others in the team to experiment I need something easy to use. 'brew install podman' would be the answer! (alongside yum/apt on *nix AND something on windows) . Manual compile is fine for me, but it makes it harder

[2018-12-21 10:32] cjeanner commented on #2034
@EmilienM so once the patches are applied, I get my containers running with the netns mount, and apparently it's working as expected.

@rhatdan so basically, this seems to be once again the issue that podman tries to relabel things on a non-SELinux enabled system. I think we already hit that in the past.

[2018-12-21 10:51] EmilienM commented on #2034
Thanks Cedric, that's good news. We'll probably be able to restore podman
in our CI asap.

On Fri, Dec 21, 2018, 10:32 AM Cédric Jeanneret <notifications@github.com
wrote:

[2018-12-21 12:11] rhatdan commented on #2041
You would need to disable SELinux to make this work as well.
--security-opt label=disable

[2018-12-21 13:15] rhatdan commented on #2034
Permsisive does not mean Disabled.  All SELinux actions will take place and only actions denied by SELinux AVC messages will be allowed. Any activity like relabeling, is still going to be blocked if it is not supported.

[2018-12-21 13:18] rhatdan commented on #2034
@cjeanner This is a case where the file system does not support SELinux XAttr labeling.  So the kernel denies the label.  In those cases we have three choices
1: Attempt to mount the file system with a context="LABEL" flag so we treat the entire mount point with a single label
2: we use the default labels contained in the file system and make changes to containers to be able to use these labels
3:

[2018-12-21 13:23] rhatdan commented on #1843
The pyproject goals is to satisfy this need.  @jwhonce Is working on this, but would love some help in setting this up.
Please review the work that has been done in pypodman and tell us what you think this needs.

We would love to get to a Boot2Coreos type environment going where pypodman would pull in a FedoraCoreOS image and work with it.  We plan on having some Blue Jeans meetings to discuss th

[2018-12-21 13:43] nerijus commented on #2038
[code]
[code]
[code]
[code]
dump.log is https://sat.lt/dump.lo

[2018-12-21 13:48] rhatdan commented on #1973
@sjenning Could you open a PR for imagebuilder with this fix, and then we can get it vendored into buildah?

[2018-12-21 13:48] adrianreber commented on #2038
Cool, so checkpointing works. It now fails in restore. Unfortunately the restore creates another log file. If you could also share `restore.log` which should be available right next to `dump.log` after the restore command has failed.

[2018-12-21 13:50] nerijus commented on #2038
https://sat.lt/restore.lo

[2018-12-21 13:57] rhatdan commented on #1948
You are running podman inside of a container?  Or directly on the host?
Are you doing this with non-root podman?
Does sudo podman pull
Work for you ?

[2018-12-21 14:39] adrianreber commented on #2038
@avagin do you have an idea why the restore does not work? Have you seen errors like this before?

[2018-12-21 14:42] rst0git commented on #2038
@nerijus what is your runc version?
[code]
@adrianreber isn't `criu` not supposed to dump/restore the network namespace?

[2018-12-21 14:44] adrianreber commented on #2038
I think there was a recent runc bug fix. Which version of runc are you using? This could be https://github.com/opencontainers/runc/pull/1944

[2018-12-21 15:03] adrianreber commented on #2038
Too many negations in one sentence :wink: ; not sure I understand your question, but I think the runc version is new enough to contain the correct network namespace handling in combination with CRIU.

I tried to build an updated version of runc with the missing patch from https://github.com/opencontainers/runc/pull/1944 included:

https://koji.fedoraproject.org/koji/taskinfo?taskID=31556170

@neri

[2018-12-21 15:20] nerijus commented on #2038
With updated runc restore worked successfully.

[2018-12-21 15:33] #2038 closed

[2018-12-21 15:41] rhatdan commented on #2038
Building latest runc versions for F28 and F29 now.  We need to get this updated in RHEL8 as well.

[2018-12-21 15:44] greg-hydrogen commented on #2041
@rhatdan  - I had forgot to mention that the host is set to permissive.  I added the extra parameter of --security-opt label=disable... unfortunately the same result

[2018-12-21 16:00] rhatdan commented on #2041
Any log from CHROME on why it was crashing?

[2018-12-21 16:00] rhatdan commented on #2041
BTW This is with the device directory patch correct?

[2018-12-21 17:04] rhatdan commented on #2041
Does it work if you do --privileged

[2018-12-21 17:09] greg-hydrogen commented on #2041
just tried again, no luck, I used two variations of the run command

sudo podman run --privileged --security-opt seccomp=unconfined --security-opt=label=disable  -v /tmp/.X11-unix:/tmp/.X11-unix  --device /dev/dri:/dev/dri -v /dev/shm:/dev/shm --name chrome --user greg -e DISPLAY=:0.0 -ti chrome2 /bin/bash

sudo podman run --privileged  -v /tmp/.X11-unix:/tmp/.X11-unix ---device /dev/dri:/dev/dri

[2018-12-21 17:15] rhatdan commented on #2041
So you are using X not wayland for running the pod.  I am building my own chrome container.

[2018-12-21 17:20] rhatdan commented on #2041
This works for me.
podman run -e DISPLAY=:0.0 --net=host -ti -v /etc/machine-id:/etc/machine-id --user 3267 --device /dev/dri/ --privileged chrome google-chrome

[2018-12-21 17:20] greg-hydrogen commented on #2041
Sorry I should have provided more details on the host OS.  I am running Fedora 28 XFCE spin fully up to date with the patched version of podman
The same is happening on a Fedora 29 XFCE spin that is fully up to date with a patched version of podman as well
Both running X

[2018-12-21 17:21] rhatdan commented on #2041
I am using wayland.

[2018-12-21 17:21] rhatdan commented on #2041
Try adding --net=host

[2018-12-21 17:41] rhatdan commented on #2041
Ok that crashed for me also.

[2018-12-21 17:47] rhatdan commented on #2041
Try adding --ipc=host
That seems to be working better for me.

[2018-12-21 17:50] rhatdan commented on #2041
BTW A google-chrome flatpack is actually probably what you want for this use case.

https://flathub.org/home

[2018-12-21 19:02] DavidHaltinner opened #2043 "Only one podman container can use host volume at a time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 **kind bug**

**Description**
When using a host volume in a container, access is fine. If another container attempts to access a subdirectory, the original container can no longer access the host volume.

**Steps to reproduce the issue:**

1. Create a directory with random folders and files on the host.

2. Create container and use mount or -v to att

[2018-12-21 19:09] mheon commented on #2043
Can you try disabling SELinux (`setenforce 0`) to see if that resolves the issue?

If so, you should investigate the volume SELinux options (`:z` in particular, to indicate the volume is shared by two containers) to tell Podman to mark the volume as accessed by multiple containers.

[2018-12-21 19:13] DavidHaltinner commented on #2043
Sorry, I did forget to mention that. I did use :Z, the files show as having container_file_t applied. I can try with selinux in permissive or disabled later today, but the audit log showed no denials as well, as I had been watching it

[2018-12-21 19:21] mheon commented on #2043
Can you try lowercase Z? Capital Z uses a per-container private label, which would prevent containers sharing volumes.

It would be very interesting if it's not SELinux, though. These are just bind mounts, and we're not even making them (`runc` is). If it turns out to not be SELinux, can you try Docker on the same host and see if you see the same problem?

[2018-12-21 19:31] rhatdan commented on #2043
https://opensource.com/article/18/2/understanding-selinux-labels-container-runtimes
https://danwalsh.livejournal.com/76016.html

[2018-12-21 19:31] #2043 closed

[2018-12-21 19:58] rhatdan commented on #2041
Weird you say it works the same on docker, though and docker has
[code]

[2018-12-21 19:59] rhatdan commented on #2041
Perhaps we should not set this at all, and just let shm grow to 50% of cgroup mount max.

[2018-12-21 20:02] mheon commented on #2041
@rhatdan Docker wasn't seeing it because of `-v /dev/shm:/dev/shm` - they were using the host SHM

[2018-12-22 11:37] rhatdan commented on #2017
This should be fixed in upstream podman.

[2018-12-22 11:37] #2017 closed

[2018-12-22 11:38] rhatdan commented on #2041
@greg-hydrogen Can I close this issue now, since we know the cause.

[2018-12-22 11:41] #2014 closed

[2018-12-22 11:51] rhatdan commented on #1959
@jwhonce Can you open a PR to fix the documentation. I tried ctr-p, ctr-q to detach from a container and it does not seem to work.

[2018-12-22 11:52] rhatdan commented on #1984
@pmlopes Did you ever try again?

[2018-12-22 11:52] rhatdan commented on #1233
I believe this is fixed in latest podman.

[2018-12-22 11:52] #1233 closed

[2018-12-22 11:53] rhatdan commented on #1291
Some of @baude  podman containre play code is implementding

[2018-12-22 11:55] rhatdan commented on #1388
One thing we could do if we had podman unshare is be ableto do podman mount and manipulate the mount point.

[2018-12-22 12:00] rhatdan commented on #1401
I still have no idea on fixing this.

[2018-12-22 12:01] rhatdan commented on #1399
We built a static buildah command, on Fedora, but it seems to crash randomly.  I am not sure that Fedora static librarie work real well.  What OS is static docker built on?

[2018-12-22 12:03] rhatdan commented on #1348
@semoac Have you looked any further into this?  Is this still something you need.  Seems like something we could provide via podman varlink.

[2018-12-22 12:05] rhatdan commented on #1320
@mheon Any more thoughts on implementing this?

[2018-12-22 12:07] rhatdan commented on #1147
Looks like thiere was a fix for this merged months ago
@aengelke Reopen this issue if the problem still exists.

[2018-12-22 12:07] #1147 closed

[2018-12-22 12:39] rhatdan commented on #1404
Once these ^^ PRs get merged, I think we can close this issue.

[2018-12-22 12:39] rhatdan commented on #1469
I think this is fixed.

[2018-12-22 12:39] #1469 closed

[2018-12-22 12:40] rhatdan commented on #1429
@AkihiroSuda @giuseppe Where are we on this issue?

[2018-12-22 12:41] rhatdan commented on #1579
@mheon Any movement on this issue?

[2018-12-22 12:43] rhatdan commented on #1602
@mheon What do you want to do with this issue?

[2018-12-22 12:44] rhatdan commented on #1430
Any updates on this bug, I am going to assume it is fixed.

[2018-12-22 12:44] #1430 closed

[2018-12-22 12:44] rhatdan commented on #1636
@vrothberg @TomSweeneyRedHat Did you guys ever change anything?  Can we close this issue?

[2018-12-22 12:45] rhatdan commented on #1629
I believe this is fixed.

[2018-12-22 12:45] #1629 closed

[2018-12-22 12:45] rhatdan commented on #415
This continues to be worked on .

[2018-12-22 12:47] rhatdan commented on #1651
@giuseppe WDYT on this one?

[2018-12-22 12:47] rhatdan commented on #1604
I am going to take it that this has been fixed.

[2018-12-22 12:47] #1604 closed

[2018-12-22 12:48] rhatdan commented on #1601
@umohnani8 I take it this has been fixed?  If not please reopen this issue.

[2018-12-22 12:48] #1601 closed

[2018-12-22 12:49] vrothberg commented on #1636
@rhatdan, no, I don't think so. What we need is a new description of Podman (i.e., a text in various lengths) that we can then spread over documents, manpages, and the website. When browsing on https://podman.io/ it's still hard to figure out what it actually is. Same applies to Buildah.

[2018-12-22 12:49] rhatdan commented on #1618
@adrianreber Is looking into this.

[2018-12-22 12:50] rhatdan commented on #1703
@mheon Has this been fixed?

[2018-12-22 12:50] rhatdan commented on #148
@mheon You are continuing to work on this correct?

[2018-12-22 12:51] rhatdan commented on #1303
This should be fixed in latest podman.

[2018-12-22 12:51] #1303 closed

[2018-12-22 12:51] rhatdan commented on #1719
@mtrmac any update on this?

[2018-12-22 12:52] rhatdan commented on #1732
@giuseppe has this been fixed?

[2018-12-22 12:52] rhatdan commented on #1733
@AkihiroSuda @giuseppe Any movement on this?

[2018-12-22 12:53] rhatdan commented on #1552
I believe this is fixed now.

[2018-12-22 12:53] #1552 closed

[2018-12-22 12:54] rhatdan commented on #713
@mtrmac Any comment?  @vbatts Is this still something you want?

[2018-12-22 12:54] rhatdan commented on #1792
@floriankoch @mtrmac Any movement on this issue?

[2018-12-22 12:56] rhatdan commented on #1755
@vrothberg @TomSweeneyRedHat Any movement on this?  Better documentation in man pages?

[2018-12-22 12:56] rhatdan commented on #1589
I am going to close this since I think this is a configuration issue.

[2018-12-22 12:56] #1589 closed

[2018-12-22 12:57] rhatdan commented on #1750
@vbatts @giuseppe Where are we with this issue?

[2018-12-22 12:57] rhatdan commented on #1516
Is this issue still happening? Can we close this?

[2018-12-22 12:58] rhatdan commented on #414
This issue seems to have gone dead.  Should this issue be moved to CRI-O?

[2018-12-22 12:59] rhatdan commented on #846
What is the latest on this issue?

[2018-12-22 12:59] rhatdan commented on #1358
@mheon Are you still working on this?

[2018-12-22 12:59] rhatdan commented on #605
We now have the volume command so I believe this is fixed.  Reopen if I am mistaken.

[2018-12-22 12:59] #605 closed

[2018-12-22 13:00] rhatdan commented on #1092
@TomasTomecek @giuseppe What should we do with this issue?

[2018-12-22 13:01] rhatdan commented on #1376
I think we need to start working on this blog/white paper.

[2018-12-22 13:02] rhatdan commented on #1770
Since this PR has been merged, I am going to close this issue.

[2018-12-22 13:02] #1770 closed

[2018-12-22 13:02] rhatdan commented on #1671
@mtrmac @vrothberg Any update on this,  Can we close this issue?

[2018-12-22 13:03] rhatdan commented on #1139
@mtrmac @baude Whats going on with this issue?

[2018-12-22 13:04] rhatdan commented on #1675
@TomSweeneyRedHat Can you add this feature --password-stdin?

[2018-12-22 13:04] edsantiago commented on #1516
I haven't seen it since having filed it; @atlaskerr if you're still seeing it, could you respond to @giuseppe's question?

[2018-12-22 13:06] rhatdan commented on #613
@QiWang19 Could you look into adding this command.

[2018-12-22 13:07] rhatdan commented on #1680
@mheon @giuseppe Whats happening with this issue?

[2018-12-22 13:08] rhatdan commented on #1670
@giuseppe @vrothberg Any movement on this issue?

[2018-12-22 13:08] rhatdan commented on #1808
@vbatts Any update on ths?

[2018-12-22 13:09] #1845 closed

[2018-12-22 13:10] rhatdan commented on #1840
We have had one meeting on this, and plan on revisiting this in January.

[2018-12-22 13:11] rhatdan commented on #1883
@cmoulliard  @ipbabble are we all set with this issue?  Can I close it?

[2018-12-22 13:41] vrothberg commented on #1755
@rhatdan, for me https://github.com/containers/libpod/pull/1795 solved the issue. I am not sure if we could improve the situation besides making that clear in the RHEL docs.

[2018-12-22 13:42] vrothberg commented on #1670
I don't think so but I can look into it.

[2018-12-22 13:43] vrothberg commented on #1670
Thanks for catching up, @rhatdan :)

[2018-12-22 13:44] vrothberg commented on #1671
@mheon ^

[2018-12-22 15:02] AkihiroSuda commented on #1429
@rhatdan It looks like Fedora is not going to adopt `pam_cgfs.so` (or any its equivalent for cgroups v1), so probably we need to implement cgroups v2 for runc instead: https://github.com/opencontainers/runc/issues/654 (needs consideration for device & freezer stuff)

[2018-12-22 15:42] greg-hydrogen commented on #2041
@rhatdan - I will, should we open a new issue for podman not using the host SHM when mounted via -v /dev/shm:/dev/shm?

[2018-12-22 16:07] giuseppe commented on #1651
we internally support it for testing but I don't think it should be enabled for all users, as most images will stop working.  On the other hand, I don't like to put arbitrary limitations if the users wish so, maybe it can be a configuration for `~/.config/containers/libpod.conf` and not something to expose in the CLI

[2018-12-22 16:10] giuseppe commented on #1732
no, this is still open

[2018-12-22 16:11] giuseppe commented on #1092
I think we can close it.  There is nothing we can do without CAP_SETUID/CAP_SETGID, except have a single user mapped in the user namespace

[2018-12-22 16:31] giuseppe commented on #1733
no, I am not sure about the design here and if having a single instance of slirp4netns is what we want

[2018-12-22 16:35] mheon commented on #2041
@greg-hydrogen Opening a new issue sounds like a good plan.

[2018-12-22 16:36] mheon commented on #1671
I think we should keep this open. This hasn't become an urgent issue yet, but it's also definitely not fixed.

[2018-12-22 16:37] AkihiroSuda commented on #1651
I suggest setting `user.rootlesscontainers` xattr instead of lchown.
Our fork of PRoot can emulate file permission using the xattr (with significant ptrace overhead):  https://github.com/rootless-containers/proto

[2018-12-22 16:38] mheon commented on #1808
@rhatdan Worth noting this down in the troubleshooting guide, maybe?

[2018-12-22 16:39] mheon commented on #1680
This should be fixed by the code to reuse paths from the DB - we are now guaranteed that we won't swap tmp directories after Podman first starts.

[2018-12-22 16:39] #1680 closed

[2018-12-22 16:40] mheon commented on #613
I think this is definitely more urgent now that `podman mount` is broken for rootless

[2018-12-22 16:40] AkihiroSuda commented on #1733
Any other idea for supporting inter-container communication?

[2018-12-22 16:41] mheon commented on #1358
@rhatdan Yes, hope to get to it sometime during January

[2018-12-22 16:42] mheon commented on #846
Fairly certain this is still broken

[2018-12-22 16:43] mheon commented on #1579
Nope, never found the time to look at it

[2018-12-22 16:44] mheon commented on #148
@rhatdan It'll be my first priority once we get back from shutdown, want to have it in quickly so I can talk about it at Devconf

[2018-12-22 16:44] mheon commented on #1703
Nope. I'll take it, should be a quick fix.

[2018-12-22 16:46] mheon commented on #1602
@rhatdan I think we need some documentation written on this

[2018-12-22 16:47] mheon commented on #1320
I think we'd want to do this as part of `podman container clone` whenever we get around to that

[2018-12-22 17:21] giuseppe commented on #1733
I think they should be set to run in the same pod

[2018-12-22 19:18] TomSweeneyRedHat commented on #1636
@rhatdan, this bubbled too far down my stack, need to bubble it back up.

[2018-12-22 19:33] TomSweeneyRedHat commented on #1675
@rhatdan ack

[2018-12-22 21:09] TomasTomecek commented on #1092
I'm going to work in this area a bit more in coming weeks and might open more specific issues.

[2018-12-22 21:09] #1092 closed

[2018-12-22 22:31] adelton opened #2046 "podman failing in Travis CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**

I've started to look into the possibility of adding podman Travis CI configuration to https://github.com/freeipa/freeipa-container, besides the existing docker. The attempt is in branch https://github.com/adelton/freeipa-container/tree/podman.

I configure Travis to use Xenial, I use `ppa:projectatomic/ppa`.

When

[2018-12-22 22:33] TomSweeneyRedHat commented on #2046
@lsm5 PTAL

[2018-12-22 23:03] #2041 closed

[2018-12-22 23:13] greg-hydrogen opened #2047 "podman not honoring volume shm mount"
**kind bug**

**Description**

Podman is not overriding the default SHM when the user specifies the volume mount -v /dev/shm:/dev/shm

**Steps to reproduce the issue:**

1.  Run a container with the volume shm mount ( -v /dev/shm:/dev/shm)

**Describe the results you received:**

The container continue to use the default SHM size as 64M

**Describe the results you expected:**

Container should use

[2018-12-23 07:08] adelton commented on #2046
I use the following https://github.com/adelton/freeipa-container/blob/podman/.travis.yml. I have

[code]

Which I believe is Ubuntu 16.* VM environment.

In any case, neither the `runc` dependency, nor the error about `json: cannot unmarshal object into Go value of type []string` seem like a kernel issue.

[2018-12-23 14:54] rhatdan commented on #1670
Yes lets make it part of the package, we don't want to support it independantly, especially in RHEL.

[2018-12-23 14:55] rhatdan commented on #1429
Well I would love to go to CGroups v2, but we always seem to be stuck in V1 world.

[2018-12-23 14:56] rhatdan commented on #1755
Ok closing.

[2018-12-23 14:56] #1755 closed

[2018-12-23 14:56] rhatdan commented on #1516
Reopen if you can get this issue to happen.

[2018-12-23 15:34] mheon commented on #2046
The `runc` problem is interesting, because `cri-o-runc` is being installed. Podman might not be looking in the right path for it. This could also be the cause of the second issue in the runtime - we bundle it in the PPA because the Ubuntu repos have a very old version.

@adelton Can you add `--log-level=debug` to the build command, to see what runtime path it's selecting?

[2018-12-23 15:40] mheon commented on #2046
@TomSweeneyRedHat I'm looking at the code for `podman build` and it doesn't seem like it respects OCI runtime path from `libpod`, which would explain this - the runtime path is properly set to use the CRI-O runc binary in `libpod.conf`, but `podman build` isn't respecting this

[2018-12-23 16:49] mgoltzsche commented on #1733
I agree when two containers should communicate on the same host _ideally_ they should run in a pod. However the ability to make multiple pods communicate with each other still provides more flexibility: Picture a Docker Compose project where multiple services use the same port and still communicate with each other. Now if you want to run this with podman you have to change the configuration or you

[2018-12-23 19:06] pmlopes commented on #1984
Sorry I can't reproduce it anymore and in the meantime I saw an update on the stable Fedora 29 repo. I'll keep building my containers with podman and report with the instructions above if it happens again.

[2018-12-23 19:06] #1984 closed

[2018-12-23 19:33] cyphar commented on #1429
Not to mention that switching to cgroupv2 is effectively a userspace regression for containers, because now programs that understand cgroupv1 cannot work with cgroupv2 (and if you switch partially to cgroupv2 then programs in containers cannot use cgroupv1 and thus would be be broken by the switch).

File capabilities v3 was handled by silently doing conversions (in quite a few ways) specifically

[2018-12-24 08:08] Edward5hen opened #2050 "pypodman restart: option '--all' and '--running' do NOT work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**
As the title said, these two options `--all` and `--running` do not work for pypodman.

**Steps to reproduce the issue:**
On remote:
[code]
On host:
1.  `pypodman -l root --host 192.168.122.213 restart --running`

2.  `pypodman -l root --host 192.168.122.213 restart --all`

**Describe the results you received:**
On host

[2018-12-24 13:08] rhatdan commented on #2041
@greg-hydrogen I have a fix for this other issue in https://github.com/containers/libpod/pull/2051

[2018-12-24 13:45] giuseppe commented on #1733
@AkihiroSuda is already working on exposing network ports to the slirp4netns network.  Once that lands, we will be able to expose ports from the host to the network namespace of each pod/container we wish to.  This is the way, IMO, for different containers/pods to communicate, only by a selected and controlled set of ports.

Said so, I agree on the CNI idea.  It would be nice to enable support for

[2018-12-25 11:22] edwintorok opened #2053 "Podman file descriptor limit applies to entire container not individual processes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**

I get EMFILE when running any command inside a rootless unprivileged podman container, whenever one process in the background has used up all its file descriptors.

**Steps to reproduce the issue:**

1. See https://github.com/esy/esy/issues/762
[code]
(You can also install strace and run `strace esy` and see `EMFIL

[2018-12-27 04:07] dungdm93 opened #2054 "Could use podman to manage pods/containers running on containerd/cri-o?"
I am looking for Docker-friendly tool work with pods on `containerd`/`cri-o` and `podman` is a [good option](https://github.com/containers/libpod/blob/master/transfer.md).

However, after some works, I realize that `podman` is more like a standalone daemonless container engine (like [`rkt`](http://rkt.io)) than a client tool for existed engine like [`containerd`](https://containerd.io) or [`cri-o`

[2018-12-27 07:36] Edward5hen opened #2055 "pypodman search: a ValueError is raised when nothing can be searched out"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**
As the title said.

**Steps to reproduce the issue:**

1. `pypodman -l root --host 192.168.122.213 search xxxxyyyy`

**Describe the results you received:**
[code]

**Describe the results you expected:**
No error is printed out.

[2018-12-27 08:02] Edward5hen opened #2056 "pypodman search: output should add a column to show the `index` as podman does"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind feature**

**Description**
`INDEX` column is important information to let users know where the images come from. `podman search` has this column, but `pypodman` does not. And NAME column should have the registry location part.

**Steps to reproduce the issue:**
On remote
[code]

**Describe the results you received:**
On host:
[code]

**Descri