[2021-10-27 10:08] arctic-alpaca opened #12113 "API: images list response contains three additional fields not listed in reference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The images list API endpoint returns three additional fields which are not listed in the reference: `Names`, `Digest`, `History`

This affects version 3.4.x, I have not tested the development version 4.x since the project I'm working on is targeting 3.4.x and 4.x will contain breaking API cha

[2021-10-27 10:17] arctic-alpaca opened #12114 "API: images remove (single image endpoint) response differs from reference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The schema returned by the API endpoint to remove a single image (`/libpod/images/{name}`) differs from the reference.

This affects version 3.4.x, I have not tested the development version 4.x since the project I'm working on is targeting 3.4.x and 4.x will contain breaking API changes.

**S

[2021-10-27 10:35] arctic-alpaca opened #12115 "API: list processes for pods and containers doesn't stream"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The list processes API endpoint for pods and containers both don't seem to support streaming.

This affects version 3.4.x, I have not tested the development version 4.x since the project I'm working on is targeting 3.4.x and 4.x will contain breaking API changes.

**Steps to reproduce the iss

[2021-10-27 11:14] #11993 closed, assigned to nobody

[2021-10-27 11:20] marchmallow opened #12116 "MacOS: podman machine start fails with error of not finding gvproxy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman machine start on MacOS fails with the following error:

$ podman machine start
Error: unable to start host networking: "could not find \"gvproxy\" in one of [/usr/local/opt/podman/libexec /opt/homebrew/bin /opt/homebrew/opt/podman/libexec /usr/local/bin /usr/local/libexec/podman /usr/l

[2021-10-27 13:47] #12116 closed, assigned to nobody

[2021-10-27 13:51] #12101 closed, assigned to nobody

[2021-10-27 15:24] #11933 closed, assigned to nobody

[2021-10-27 16:56] paulraines68 opened #12122 "podman cannot use host automounted directories over bind mounts unless pre-mounted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Bind mounted automount points that are not already mounted fail inside the container

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest versi

[2021-10-27 18:10] #12122 closed, assigned to nobody

[2021-10-28 01:35] kmhagan opened #12123 "Unable to mount file into container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to mount a file into my container. I get:
[code]

**Steps to reproduce the issue:**

1. install podman `brew install podman`

2. init `podman machine init`

3. start `podman machine start`

4. Create Dockerfile
[code]

5. Create example.txt `echo "Hello" >> example.txt`

6. Build

[2021-10-28 07:35] #12123 closed, assigned to nobody

[2021-10-28 08:50] #12072 closed, assigned to nobody

[2021-10-28 22:01] ekinano opened #12132 "After podman machine start, periodic "connect: operation timed out" messages appear in the executing window."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I do

[code]

Everything works fine. However in the window where I executed those commands, I periodically get messages of the form `ERRO[0168] net.Dial() = dial tcp 140.211.169.196:443: connect: operation timed out`. These messages do not affect Podmans' normal operation, but they do se

[2021-10-29 03:23] ianw opened #12134 "Debian requirements : failed to locate iptables: exec: "iptables": executable file not found in $PATH"
Hello,

The Debian bullseye 3.0.1 podman packages have a dependency on the iptables package [1], but the testing (and unstable) version 3.4.1 has dropped this to a "suggests" [2].

We recently pulled the unstable version into our CI to work around another issue [3], and found that "podman run" started failing [4] with the error below

[code]

After modifying the CI to also explicitly install iptab

[2021-10-29 07:11] adamish opened #12135 "Cannot run containers with --pid host in RHEL 8u4"
/kind bug

**Description**

Following an upgrade from RHEL 8u2 to 8u4 rootless containers started with --pid host fail.

This is an example using a stock image, obviously you wouldn't need --pid host for the registry

1. As a non-privileged user, open a terminal
2. podman run --pid host docker.io/library/registry:2.7

**Describe the results you received:**
Error: container_linux.go:370: starting c

[2021-10-29 08:13] #12134 closed, assigned to nobody

[2021-10-29 08:30] gbraad opened #12136 "Unable to run Podman on gitpod"
Have been looking into getting Podman to run on gitpod, but for some reason this fails. I use the following repo to get this started: https://github.com/gbraad/gitpod-template-podman/. You can easily open and verify this with https://gitpod.io/#https://github.com/gbraad/gitpod-template-podman

The error I get is that both Rootless and rooted does not work. Below are the errors:
[code]

From the de

[2021-10-29 09:36] #12102 closed, assigned to jwhonce

[2021-10-29 18:02] masonzaizhe2 opened #12140 "Reporting outdated/vulnerable dependencies"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
This is actually a security concern (not a bug report) of the dependencies you are using. Due to the scanning result of OWASP dependency check tool we find several vulnerabilities causing by outdated dependencies. Could you please confirm if you are using the dependency versions in the attache

[2021-10-29 18:46] lsm5 commented on #12140
@masonzaizhe2 thank you for the report. We recommend you follow the procedure outlined in https://github.com/containers/common/blob/main/SECURITY.md .

Thanks again.

[2021-10-29 18:46] #12140 closed

[2021-10-29 19:47] rhatdan commented on #11837
You are describing close source versus open source. And you may be right, but I think Podman and Fedora CoreOS will improve and still allow flexibility for users to us other distributions.  At one time Solaris worked better the Linux as well...

[2021-10-29 19:57] mheon commented on #11396
What Podman version?

[2021-10-29 20:07] mheon commented on #10800
It's not fixed.

[2021-10-29 20:22] #12089 closed

[2021-10-29 20:29] mheon commented on #12135
I recall a bug of this nature from a few months back - it's possible we regressed from 8.3 to 8.4. Fix was in runc if I recall correctly?

[2021-10-29 20:59] vitaliy-sk commented on #7806
still reproducible on podman-remote version 3.4.1

podman-remote system connection add xxx --identity ~/.ssh/id_rsa ssh://xxxx/run/user/1000/podman/podman.sock
podman-remote ps
Key Passphrase: <prompt>

[2021-10-29 22:40] martinetd commented on #11688
I didn't test, but I assume it wouldn't as device is split directly with `strings.Split(device, ":")` in containers/common/pkg/config/config.go if I understand this correctly.
Given that there is also the path inside the container to consider (host path, container path, permission) I guess a similar fix would also work as long as the path within the container does not contain colons, but frankly t

[2021-10-30 07:13] unknowndevQwQ opened #12142 "bug: podman does not pass important args to runsc"
/kind bug

**Description**

Using runsc without adding `--runtime-flag root=/var/lib/containers` in podman causes runsc to complain that it cannot find the container

Because of the cgroup issue in runsc release-20211019.0, rrelease-20211011.0 is used here

**Steps to reproduce the issue:**

1. `sudo podman --cgroup-manager cgroupfs --runtime /bin/runsc --runtime-flag debug --runtime-flag debug-lo

[2021-10-30 08:03] kaleal commented on #8016
The problem of nfs, samba, and others is the need of extra configuration. Vagrant uses *rsync* to keep local and remote filesystems in sync. I think this is the way to go, since it uses ssh for transferring files between local and remote filesystem and no extra configuration would be needed.

[2021-10-30 09:01] afbjorklund commented on #8016
The problem here is that this story got involved in two different use cases...

One is the true remote like we had with `podman-machine` (v1) and Docker Machine, and there we did use scp and rsync.

The other is the hidden VM in `podman machine` (v3) and Docker Desktop, where we fake a local file system using 9p or something.

Using NFS or SMB is somewhere "in between"

[2021-10-30 09:05] rhatdan commented on #12135
This has a feeling of SELinux or Seccomp.

Could you check if one of those are involved.

sudo ausearch -m avc -ts recent
sudo ausearch -m seccomp -ts recent

[2021-10-30 09:12] rhatdan commented on #12142
How is this a Podman bug and how do you suggest we fix it?

[2021-10-30 09:34] unknowndevQwQ commented on #12142
How do other OCI runtimes handle this issue?

[2021-10-30 09:52] haf-tech commented on #12075
@Luap99 very big, I have symlinks to remote storages/filesystems
with this info, repeating the scenario in an empty directory and the parent dir is not a symlink works totally fine

will be this fixed with the upcoming version?

[2021-10-30 10:03] fl00r commented on #11396
My bad, sorry

[code]

[2021-10-30 10:45] Luap99 commented on #12075
The default podman machine is only 10 GB AFAIK.
Please remove the machine with `podman machine rm` and create a new one with `podman machine init --disk-size 100` for 100 GB storage, you can use a bigger number if needed.

[2021-10-30 11:00] afbjorklund commented on #11837
I think some (including myself) was looking for a "slower" track, but it seems like that this would be covered by using Red Hat Enterprise Linux rather than Fedora ? The machine is handled by CoreOS and not by Podman, so I guess that's where to fix.

i.e. Podman doesn't link to a particular version of the server, but uses the latest tested and available from the _other_ project. Which means that a

[2021-10-30 11:05] rhatdan commented on #12142
OCI Runtimes do not need to deal with container storage, they deal with already mounted images on rootfs. Podman and container engines manage the storage.

[2021-10-30 11:06] rhatdan commented on #11636
@ashley-cui PTAL

[2021-10-30 12:45] unknowndevQwQ commented on #12142
offtopic: Can you create a telegram group for general questions and discussion?

[2021-10-30 14:44] #11680 closed

[2021-10-30 15:29] rhatdan commented on #7806
Please open an new issue.

[2021-10-30 15:53] vitaliy-sk opened #12143 "Remote client on MacOS is not using ssh-agent and is prompting to unlock keys everytime"
/kind bug

**Description**

The MacOS remote client is not making use of the ssh-agent and is prompting for the password to unlock the SSH key every time podman is used.

**Steps to reproduce the issue:**

1. brew install podman

2. Add remote using identity `podman-remote system connection add --identity ~/.ssh/id_rsa <host> ssh://<user>@<host>/run/user/1000/podman/podman.sock`

3. podman ps

**D

[2021-10-31 01:57] cscetbon opened #12144 "Podman can't run command on M1 with container built on X86"
Docker can run on Apple M1 a container built on X86 but Podman can't

[code]

[code]

[2021-10-31 07:08] homayoonsadeghiarkami commented on #12085
yes I haved but I'm in ubuntu so SELinux is disable by default. so I do not think that is the cause of this problem.

[2021-10-31 09:54] haf-tech commented on #12075
@Luap99 could you explain a little bit the background? will podman also replicate/copy the entire content into the machine instance too? Thanks

[2021-10-31 09:55] rhatdan commented on #11397
@baude any progress on this?

[2021-10-31 09:55] rhatdan commented on #11397
@ashley-cui ?

[2021-10-31 10:03] rhatdan commented on #12085
Did you check seccomp?

[2021-10-31 10:45] rhatdan commented on #12144
@baude If we install qemu-user-static on the Fedora CoreOS, this would just work, although would be slow.

[2021-10-31 10:49] rhatdan commented on #12075
When using podman -remote, like we do on a MAC, podman build, copies the entire context directory on to the remote server. On a MAC this is the VM, in order that the Podman service actually doing the build has access to the contents. This works the exact same way as docker build.

So bottom line, you have to have enough space in the VM to store any content that you want to build from.

[2021-10-31 11:25] homayoonsadeghiarkami commented on #12085
yes I even use the default seccomp profile of docker witch is this:
`curl -LO https://raw.githubusercontent.com/moby/moby/master/profiles/seccomp/default.json`
and then run the container with this command so that if this work fine in docker maybe it would work in podman and the result was the same for first try it will mount but for further attempt I will get that error again.
`podman run -d --nam

[2021-10-31 12:07] afbjorklund commented on #12144
You could also add arch to the podman machine config, and run the virtual machine with qemu-system.

[2021-10-31 13:56] afbjorklund commented on #8016
I added a volume type and a mount type to the PR in #11454, so that one _could_ extend it with reverse sshfs.

There is some code in https://github.com/lima-vm/sshocker/blob/master/pkg/reversesshfs/reversesshfs.go

Basically one has to start a SFTP server on the host.

And then connect to it on VM, using a FUSE file system.

[2021-10-31 15:41] cscetbon commented on #12144
@rhatdan, do you mean there is a way to be more efficient or that's just what it is ? I suppose we can also mimic what is done by docker ?

[2021-10-31 17:06] mheon commented on #5751
The answer from @rhatdan is correct - the UID/GID of the user should not be included. We get that implicitly.

I don't see where in the documentation the user's own UID and GID are mentioned?

[2021-10-31 17:08] mheon commented on #12143
@jwhonce PTAL

[2021-10-31 17:25] afbjorklund commented on #12144
Docker uses the same `qemu-user-static`, and the same binfmt_misc feature of Linux in order to do this.

[code]

It is statically linked, so it works the same inside the container as it does in Linux outside the container.

[2021-10-31 17:33] cscetbon commented on #12144
Then I guess it's the way to go and easy enough to implement 🙌

[2021-10-31 17:43] afbjorklund commented on #12144
Note that you get much better performance, by selecting the same arch.

The "multi-arch" images (manifests) makes this easy, so that it gets the same name.
I used the arch-specific name above, just to force a mismatch for the demonstration.

[2021-10-31 17:49] cscetbon commented on #12144
Yeah yeah I get it. Sometimes images are not available on one architecture and it's easier to just use them instead of having to build one for the arm64 architecture, especially for non production images.

[2021-10-31 17:57] afbjorklund commented on #12144
Probably one could have saved some space in the image, if not **all** binaries were in the same package ?

Most users are only interested in `qemu-aarch64-static` and `qemu-x86_64-static`, not the other 32 arch.

[2021-10-31 23:52] Folaht opened #12147 "Running podman rootless on Manjaro OS gives "Error cannot setup namespace using newuidmap: exit status 1""
/kind bug

**Description**

It's a fresh installment on my home computer.
Funnily enough I did not experience this on my server machines, which also run Manjaro OS.

_rootless podman info_
[code]

_subuid_
[code]

_subgid_
[code]

**Steps to reproduce the issue:**

1. pacman -S podman

2. podman info

**Output of `podman version`:**
[code]

**Output of `podman info --debug`:**
[code]

**Package in

[2021-11-01 00:52] cdoern commented on #11786
@rhatdan did we ever decide if this is actually a bug?

[2021-11-01 03:06] unknowndevQwQ commented on #12142
Is the --root flag that runsc wants the location of the rootfs?

[2021-11-01 04:35] zhangguanzhang commented on #12142
try:
[code]

[2021-11-01 04:46] masonlu2014 opened #12149 "podman build is very slow"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  podman build --no-cache -t test/postgresql:13.4.1 .

2. waiting here:

STEP 1/8: FROM postgres:13.4
STEP 2/8: RUN export DEBIAN_FRONTEND=noninteractive     && echo 'APT::Install-Recommends "0";\nAPT::Install-Suggests "0";' > /etc/apt/apt.conf.d/01norecom

[2021-11-01 05:57] unknowndevQwQ commented on #12142
`sudo: you may not specify both the -i and -E options`

[2021-11-01 06:47] flouthoc commented on #12149
I think you are rebuilding all the layers using `--no-cache`. I'd suggest dropping `--no-cache` to leverage caching of layers.

[2021-11-01 07:05] p0da opened #12150 "Nonvolatile Upper Overlay Mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Would it be possible expand the current overlay volume mount support to allow for modifications to the upper to not be discarded on container stop but instead cached to a specified location. Then upon the next start the mount could be reconstructed, ultimately allowing the overlay mount's

[2021-11-01 08:41] adamish commented on #12135
SELinux is permissive, I'm aware of seccomp, but never had any dealings with it.

[code]

[2021-11-01 09:11] Folaht commented on #12147
Solved!

[code]

[2021-11-01 09:11] #12147 closed

[2021-11-01 11:17] rhatdan commented on #12085
Ok if it is not seccomp or selinux or apparmor. Then have you tried
Running podman as root?  If this works, then it is user namespace.
If not try running --privileged.

[2021-11-01 11:40] statiksof opened #12152 "error configuring CNI network plugin: exec: "nsenter": executable file not found in $PATH"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run -d -it centos:7

2. podman exec -it container ping www.google.com

**Describe the results you received:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

*

[2021-11-01 11:48] rhatdan commented on #11797
Since we have had no response and I do not see us doing this in the short time, I am closing.

[2021-11-01 11:48] #11797 closed

[2021-11-01 11:51] rhatdan commented on #11786
Yes I think it should be fixed.

[2021-11-01 11:51] masonlu2014 commented on #12149
Good suggestion, I will do it, thanks for checking….

从 Windows 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>发送

发件人: ***@***.***>
发送时间: 2021年11月1日 14:47
收件人: ***@***.***>
抄送: ***@***.***>; ***@***.***>
主题: Re: [containers/podman] podman build is very slow (Issue #12149)

I think you are rebuilding all the layers using --no-cache. I'd suggest dropping --no-cache to leverage caching of layers

[2021-11-01 11:53] flouthoc commented on #12149
@masonlu2014 Closing this :) . Please feel free to re-open.

[2021-11-01 11:53] #12149 closed

[2021-11-01 12:02] rhatdan commented on #12150
@flouthoc WDYT?  The issue is we would not want to save this content into an image.  I think doing this would be fairly easy, figuring out a UI for the user to specify it could be difficult.  Would :o versus :O work.
:O Overlay last while container is running (Does not get committed to image).
:o Overlay lasts while container exists (Does not get committed to image).

[2021-11-01 12:03] rhatdan commented on #12135
Well if crun works and runc does not, it could be an older runc or a bug in runc.

[2021-11-01 12:07] flouthoc commented on #12152
I think its missing following package `util-linux` could you please try installing with `yum install util-linux`.

[2021-11-01 12:09] statiksof commented on #12152
@flouthoc where? on the host package `util-linux` is already installed.

[2021-11-01 12:14] flouthoc commented on #12150
@rhatdan Could we have another extra flag `--persist-overlay` or something similar which could be specified as an additional flag with `:O`. Since `:O` and `:o` would become confusing with time. But overall I agree this could be useful. I'll check this issue.

Thanks @p0da for creating this issue

[2021-11-01 12:17] flouthoc commented on #12152
@statiksof what is the output of `which nsenter` on host.

[2021-11-01 12:19] flouthoc commented on #12152
also does error occurs after step 1 or step 2 ?

[2021-11-01 12:27] statiksof commented on #12152
after 2

[2021-11-01 12:28] statiksof commented on #12152
somehow I am having problems running `which` in the container (command not found) but on the host the output is `/usr/bin/nsenter`

[2021-11-01 12:31] flouthoc commented on #12152
@statiksof on **host** does `echo $PATH` contains path `/usr/bin/` or `/usr/bin/nsenter`. If not could you please add path to PATH variable and try again.

Also we don't need `nsenter` on container only on host.

[2021-11-01 12:38] statiksof commented on #12152
@flouthoc PATH contains `/usr/bin`, I added manually `/usr/bin/nsenter` but didn't change anything.

[2021-11-01 12:38] rhatdan commented on #12150
The problem with additional option is this is per volume.  So theoretically I could have

`-v /a:/a:O -v /b:/b:o`

[2021-11-01 12:41] rhatdan commented on #12150
As far as confusion, I don't think it would be a huge issue.  Only time :O would matter would be in the case of Builds, which is why this Overlay volume was first designed.  In the case of --rootfs it might make more sense to default to persist.

We want :O behavior in builds, since we don't want

`RUN dnf -y update; dnf -y clean all`
To remove preexisting cache, We would rather it return to the u

[2021-11-01 13:06] Timoses commented on #11883
Hate to ask again, but it is still relevant. Any updates?

[2021-11-01 13:09] freva opened #12154 "Shared mounts with UID/GID mapping"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We are running multiple rootfull containers with `--uidmap` & `--gidmap`, each with disjoint ranges from other containers. Overtime the goal is to migrate to fully rootless containers and I think the issue also applies there.

The problem we want to solve is that we want to be able to mou

[2021-11-01 14:09] mheon commented on #11396
Please open a fresh issue, that version should have all the issues we know about with port forwarding worked out.

[2021-11-01 14:14] flouthoc commented on #12150
ah i see makes sense.

[2021-11-01 14:24] Luap99 commented on #12152
`nsenter` must be in $PATH on the host and not the container.
Can you execute `nsenter` in your shell?

[2021-11-01 14:42] mheon commented on #12135
This is [RHBZ 1947432](https://bugzilla.redhat.com/show_bug.cgi?id=1947432) - we must have regressed. Missing patch from runc most likely.

[2021-11-01 14:45] statiksof commented on #12152
@Luap99 yes, I can.

[2021-11-01 14:46] mheon commented on #12135
There was apparently also a Podman patch. I don't see it in the v3.0.1-rhel branch.

[2021-11-01 14:48] Luap99 commented on #12152
@statiksof What is the output of `command -v nsenter` on your host.

[2021-11-01 14:50] statiksof commented on #12152
@Luap99 I am running in rootless mode, `command -v nsenter` for the user returns `/bin/nsenter`.

[2021-11-01 15:12] statiksof commented on #12152
I also activated debug mode and there are other errors/warnings before `nsenter`:

[code]

[2021-11-01 15:35] matejvasek commented on #12112
I think question here is:
Do we want to change prune endpoint to return body of shape:
[code]
like the image delete endpoint does,  so it is consistent, but breaking API by doing it.

Or do we want to change swagger spec? @jwhonce @rhatdan wdyth?

[2021-11-01 15:36] matejvasek commented on #12112
I think for `podman` 4.0 we could change API, but I don't think that it can be back-ported to 3.X.

[2021-11-01 15:38] matejvasek commented on #12112
@arctic-alpaca I wonder are you to create bindings for some language other that `Go`?

[2021-11-01 15:40] Luap99 commented on #12152
You can ignore the other warnings in the log.
Is `/bin` in your $PATH? How do you execute the `podman exec` command. It does not makes sense that this error only occurs for `podman exec`, the same code is used for `podman run`.

[2021-11-01 15:47] cevich opened #12155 "Socket unexpectedly shared by multiple rootless tests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On an [assumed unrelated PR](https://github.com/containers/podman/pull/11958), several 'remote' tests ran on an Ubuntu 21.04 VM and clashed over the same `/var/run/podman/podman-<ID>` which should never ever happen.

**Steps to reproduce the issue:**

1. Execute CI testing

2. If failure does

[2021-11-01 15:48] cevich commented on #12155
cc @cdoern @baude @mheon @edsantiago

[2021-11-01 15:54] Luap99 commented on #12155
Maybe just switch to `GenerateRandomID()`

[2021-11-01 15:56] arctic-alpaca commented on #12112
@matejvasek You are correct, I'm currently working on rust bindings / API-client. At this time, it's not open source yet, but this is planned and approved by my employer.

[2021-11-01 15:57] statiksof commented on #12152
`/bin` is in the $PATH. After rebooting the machine I no longer can see the container, is this related?

[code]

[2021-11-01 15:59] cevich commented on #12155
So it's not a very "pretty" fix, but one simple thing that could be done is to check if there is an existing socket file [right before `p.RemoteSocket = fmt.Sprintf("unix:/run/podman/podman-%s.sock", uuid)`](https://github.com/containers/podman/blob/main/test/e2e/common_test.go#L296).  If there is one, get a new uuid or throw an test-stopping error.

We "should" be running the `rngd` service in ou

[2021-11-01 16:00] cevich commented on #12155
Obtaining "real" entropy from the system can be extremely slow if the pool is low/empty.

[2021-11-01 16:06] Luap99 commented on #12155
According to the [math/rand package doc](https://pkg.go.dev/math/rand) it is not safe for concurrent use.

[2021-11-01 16:16] matejvasek commented on #12112
@arctic-alpaca `podman` also server `docker` API, so until swagger doc is fixed / you library implemented, you can use `podman` with rust docker client if there is any.

[2021-11-01 16:23] philnalwalker commented on #11951
Only 12 syscalls are getting filtered and seccomp is disabled when when running "amicontained" in the k8s pod running Podman. I posted the output in an earlier reply to this issue.

I also tried adding every available Linux capability and see the same issue with Podman. --privileged is a non-starter for us as reduced privileges on k8s is the big reason why we are replacing Docker with Podman for c

[2021-11-01 16:25] cdoern commented on #12155
@cevich this might be more of an issue with either my PR or the testing suite in general because rebasing and pushing created more unrelated failures it seems: https://github.com/containers/podman/pull/11958

[2021-11-01 16:50] arctic-alpaca commented on #12112
@matejvasek Thanks for the heads-up. We work with pods so we need podmans libpod API.

[2021-11-01 17:53] Avijit009 commented on #11936
Does podman support diskless migration?

If support then how to do that?

[2021-11-01 18:24] afbjorklund commented on #8016
Here is the volume implementation using sshocker (and sshfs): https://github.com/containers/podman/compare/main...afbjorklund:sshfs-volumes

Currently it has an issue with the CoreOS symlinks, so you need to use the canonical path: `/var/mnt`.

[code]

Since it uses ssh, it will also work over long distances as compared to the other solutions built into qemu.

[2021-11-01 18:32] haf-tech commented on #12075
@rhatdan but I have never seen such problems with docker ;-) my environment (macOS, workspaces, storage, configuration etc) is still the same, I replaced only docker thru podman. So probably in the docker world the allocated space is much higher, instead of the default value 10GB?

[2021-11-01 18:36] afbjorklund commented on #8016
Choosing which volume driver to use would need some better configuration. Currently it is hard-coded.

[2021-11-01 18:43] cevich commented on #12155
@cdoern It could easily be both.  I looked at the latest logs and it seems there are some actual flakes mixed in.  In one case, it's a flake we were waiting to reproduce for another issue I opened...so...err...thanks :grin:

@baude or @mheon I'm not 100% in understanding how the remote testing works, would you mind sharing your wisdom/observations here?

[2021-11-01 18:44] cevich commented on #11191
@giuseppe [It reproduced again with your new name (log)](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6513868798164992/html/int-podman-ubuntu-2104-root-host.log.html#t--podman-run-with-cgroups-disabled-runs-without-cgroups--1)

[code]

So that means it cannot be systemd, it must be a podman or crun bug, eh?

[2021-11-01 19:42] cevich commented on #12155
This problem isn't just affecting Ubuntu, [here's an example in Fedora-land](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5382878683987968/html/int-remote-fedora-33-root-host.log.html):

Search the log for `021b9640208565a03009719b90fce72fe55cc4f4852d17ded76a27b37db86878` and you'll see there are several different remote tests all referencing this sa

[2021-11-01 19:47] cevich commented on #12155
Update: I took a look at the VMs, and it seems I was mistaken.  The Ubuntu images do **not** have rngd installed/enabled, but the Fedora VMs do.  Even so, `rngd` isn't perfect, it's still possible the systems are running out of entropy and hitting this bug by starting tests at the exact same time (thus getting the same generated IDs).

[2021-11-01 19:54] rhatdan commented on #12075
Yes I would guess they have a much larger machine by default.

[2021-11-01 20:47] matejvasek commented on #12113
This is interesting: there is a name clash between ours and `docker`'s (vendor dir) `ImageSummary` struct. So even if we do changes to our struct generated swagger has origin in `docker`'s struct.

I managed to force generator to also use our `ImageSummary`:
[code]
but there is a problem: it not only generates definition of `LibpodImageSummary` but it also somehow modifies original `docker`'s `Ima

[2021-11-01 20:54] matejvasek commented on #12113
Or maybe another option would be not to rename `entities.ImageSummary`, but rather create identical copy of it in `swagger.go` with name `LibpodImageSummary`.

[2021-11-01 21:05] matejvasek commented on #12113
Another option would be not to include `docker`'s structs by using `-x` flag: `swagger generate spec -o ${SWAGGER_OUT} -i tags.yaml -w ./ -m -x github.com/containers/podman/vendor/github.com/docker/*` but I am not sure whether we want that.

[2021-11-01 21:39] matejvasek commented on #12113
OK I created a fix, still I suspect that very same issue may possibly affect some other types.

[2021-11-01 22:22] carlos-algms opened #12161 "podman machine start cannot find gvproxy when brew is not installed in the standard directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

It is not possible to run `podman machine start` when brew is not installed in the default location.

**Steps to reproduce the issue:**

1. Install `brew` on your user directory, as described in the [official docs](https://docs.brew.sh/Installation#untar-anywhere):
 ```mkdir ~/homebrew && cur

[2021-11-02 00:08] cdoern commented on #12155
@cevich I am not familiar with the different time complexities of `GenerateNonCryptoID` vs `GenerateRandomID` would switching to the truly random options dramatically change the outcome? It could be worth it if it solves more flakes than it causes but again I do not know the time difference.

[2021-11-02 05:25] homayoonsadeghiarkami commented on #12085
my containers are running as root, I'm not using rootless container for now. so yes podman is running as root. I'm forbid to use --privileged with my containers for security concerns.

[2021-11-02 06:23] lukasbestle commented on #10875
The issue/idea is still relevant.

[2021-11-02 08:17] flouthoc commented on #12150
@p0da Also i am interested in understanding your actual use case.

As far as i can see you want overlayed named volumes to persist while you also need changes to be reflected on lower right ?

[2021-11-02 09:55] giuseppe commented on #11191
yeah, it seems it is all our fault :/

[2021-11-02 10:10] Luap99 commented on #12161
see https://github.com/containers/podman/issues/11960
I think this should be reported against homebrew, there is no way that podman can know about custom install locations.
@ashley-cui PTAL

[2021-11-02 10:23] web-devel commented on #11860
The same with Ubuntu 20.04

[code]

[2021-11-02 10:40] carlos-algms commented on #12161
I reported it here because I thought it was podman installing and executing `gvproxy` as a dependency under the `libexec` folder.

[2021-11-02 11:46] #12113 closed

[2021-11-02 11:53] giuseppe commented on #11191
another attempt:https://github.com/containers/podman/pull/12162

[2021-11-02 12:20] rhatdan commented on #11784
Since this is not a Podman issue, should I close this?

[2021-11-02 12:20] rhatdan commented on #11766
@mheon any ideas?

[2021-11-02 12:23] rhatdan commented on #12154
Potentially something like this could be done with the shifting file system, but we don't use that yet.  @giuseppe WDYT?

[2021-11-02 13:33] zeha opened #12163 "podman DNS does not use macOS DNS"
/kind bug

(could also be a feature I guess.)

**Description**

**Steps to reproduce the issue:**

1. Be on macOS 12.0.1, have a VPN solution (here: Cisco AnyConnect), and a Container Registry (here: GitLab) on an internal network. The registry name is not resolvable without the VPN.

2. Have podman machine setup normally, i.e.
[code]

3. Try logging into the registry:

[code]

**Describe the resu

[2021-11-02 14:06] PavelSosin-320 commented on #12142
I think the same for the crun case, but in the special case: 1. Fedora 34, i.e BTRFS storage driver. 2. Podman invoked from the Systemd unit, i.e. storage root and Cgroup structure are not pre-defined by User's session. The result is "invalid reference" when binding volume. I tried to pass everything from the systemd environment but something is still missing. It can't be configured using crun con

[2021-11-02 14:25] ashley-cui commented on #12161
gvproxy is installed by homebrew as a dependency in the podman libexec folder. homebrew does not recommend installing in another directory, and in the docs there is a warning that things may break when homebrew is installed in another place.

[2021-11-02 14:36] carlos-algms commented on #12161
I know, but `gvproxy` is the only missing part, if I link it to one of the paths podman listed that it is looking for it, everything works as expected.

Can it then be a new feature?
Where podman just reads its `realpath` and look for `gvproxy` in one more folder?
Its own **libexec** folder?

It would be great for people that do not have `root` access, as it is blocked by the Enterprise restrictio

[2021-11-02 14:47] PavelSosin-320 commented on #12142
For curiosity only: try
sudo systemctl --user xxxx
Failed to connect to bus: $DBUS_SESSION_BUS_ADDRESS and $XDG_RUNTIME_DIR not defined (consider using --machine=<user>@.host --user to connect to bus of other user)
to see what is needed, at least, to make systemd as cgroup manager working.

[2021-11-02 15:17] cevich commented on #12155
Looking at the code, it first tries to get a "true" random number (backed by the kernel's entropy pool), if that fails it gets a number based on the current system time (in nanoseconds when supported).  So I _think_ what's happening in CI is kernel-entropy is exhausted, and two (or more) tests executing in parallel obtain the same random number ID.  It's a mystery to me how/why the manage to execu

[2021-11-02 15:18] cevich commented on #12155
[Another Fedora example of this problem happening with socket IDs.](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6053429278670848/html/int-remote-fedora-33-root-host.log.html#t--podman-pod-pause-a-running-pod-by-id--1)

[2021-11-02 15:22] cevich commented on #11191
Proof positive that no matter how hard we try, we're still human.  But a positive way of looking at it is: At least we don't need to patch systemd + wait for a new version to be released + incorporate that into our VMs :grin:

[2021-11-02 16:49] Luap99 commented on #12163
@jwhonce Do you think this is fixed with https://github.com/containers/podman/pull/11976?

[2021-11-02 17:05] rhatdan commented on #11936
@adrianreber PTAL

[2021-11-02 17:16] carlhoerberg commented on #11936
The original issue is solved so this ticket should be closed. The rest is very much general questions and off topic and should go to a mailing list or forum IMHO

[2021-11-02 17:16] adrianreber commented on #11936
@Avijit009 I already described to you what is necessary to print the CRIU statistics in another ticket. It is really not helpful if you ask the same questions in different tickets.

Yes, use `--ignore-rootfs` when exporting the checkpoint.

[2021-11-02 17:19] #12112 closed

[2021-11-02 17:35] afbjorklund commented on #12161
Normally you wouldn't link directly to the Cellar, but to the prefix: `~/homebrew/libexec`

But the default configuration still has to be patched, since it only has hardcoded locations.

[2021-11-02 17:46] ashley-cui commented on #12163
Yep, that's pretty simple to do, I can do it and test it :)

[2021-11-02 17:48] ashley-cui commented on #12161
@afbjorklund for most places, it would link to `$HOMEBREW_PREFIX/bin` or `$HOMEBREW_PREFIX/lib`, but libexec is special in Homebrew, it doesn't get linked to the homebrew prefix

[2021-11-02 18:32] cevich commented on #12155
So @mtrmac doesn't like my fix-the-seed PR (justifiably and understandably).  He also pointed out there are inherent socket-creation races along with a missing-need (in the tests) to properly assert ID collection-avoidance.  At this point I think what's really missing is an understanding how this issue is even possible (are the logs lying?)

[2021-11-02 18:39] afbjorklund commented on #12161
right, because users are supposed to only call the stuff that is available in bin

[2021-11-02 18:49] p0da commented on #12150
I would not need changes to be propagated to the lower directory, just that the upper directory's state is cached to a specified arbitrary location (such as a separate bind mount) allowing for both mount point reconstruction on container restart and backup/archival of the upper should it be necessary to destroy the initial container. Apologies if that was not clear.

[2021-11-02 19:09] afbjorklund commented on #12161
Unfortunately, it looks like the formula is broken.

[code]

It installs /usr/local/libexec/gvproxy et. al. :-(

It was supposed to be in a subdirectory ?

[2021-11-02 19:15] flouthoc commented on #12150
My bad i did a typo: I meant you also wanted changes reflected from lower. Cause otherwise you could have just used named volumes with content copied. Nvm I understand your use-case. Thanks

[2021-11-02 19:31] ashley-cui commented on #12161
`#{prefix}` is `/usr/local/Cellar/foo/0.1/`. `$HOMEBREW_PREFIX` is different, it's `/usr/local`.
every formula in cellar is also symlinked into `$HOMEBREW_PREFIX/opt/foo`.

[2021-11-02 19:34] afbjorklund commented on #12161
Right, here they translate to:

HOMEBREW_PREFIX: /home/linuxbrew/.linuxbrew

prefix: /home/linuxbrew/.linuxbrew/Cellar/podman/3.4.1

[2021-11-02 19:34] mheon commented on #11766
Very difficult to debug unless I can reproduce myself, and I don't have access to a system that does

[2021-11-02 19:39] matejvasek commented on #12114
resolved by #12156

[2021-11-02 19:40] matejvasek commented on #12114
@arctic-alpaca please close this, it should be fixed in `main`.

[2021-11-02 19:42] #12114 closed

[2021-11-02 20:41] rhatdan commented on #12085
Sure, but did it work as privileged?
If yes, could you try without --privileged but with `--cap-add=all`

[2021-11-02 21:16] rhatdan commented on #12003
Could you show the podman command used to create the /etc/hosts file?

[2021-11-02 21:23] rhatdan commented on #12150
I think we just add :o and keep it simple.

[2021-11-02 21:28] #12115 closed

[2021-11-02 21:44] p0da commented on #12150
In that case would there be any way to extract the upper's cached content if needed?

[2021-11-02 21:50] rhatdan commented on #12150
Only by sneaking under the covers.

[2021-11-02 23:55] zeha commented on #12163
I've tried to change my local homebrew formula like this, but it does not help. I guess the VM process actually makes the DNS request?

[code]

(Or maybe this homebrew formula change did not work...)

[2021-11-03 04:03] DrSensor commented on #11081
I also run the same issue. Seems like [`exec`](https://docs.docker.com/compose/reference/exec) command is not yet implemented in podman-compose.
[code]

[2021-11-03 07:23] homayoonsadeghiarkami commented on #12085
I test it again with --privileged flag but still it doesn't work and also --cap-add=all flag wouldn't solve my problem.
I read all the logs of glusterfs client and server, but I got nothing useful ...

[2021-11-03 08:25] fgimenez opened #12165 "docker api: NetworkSettings.SecondaryIPv6Addresses type mismatch"
**Is this a BUG REPORT or FEATURE REQUEST? **

/kind bug

**Description**

When inspecting a container with non-empty `NetworkSettings.SecondaryIPv6Addresses` I get the following error: `Error response from daemon: json: cannot unmarshal string into Go struct field NetworkSettings.SecondaryIPv6Addresses of type network.Address`

**Steps to reproduce the issue:**

Having created a `container` with

[2021-11-03 11:18] MartinX3 commented on #10105
@rhatdan please remove the stale status. :)

[2021-11-03 11:58] tmds commented on #11825
I'm also hitting an inotify limit when using rootless podman on Fedora 34.

Is this limit configurable?

I tried `echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p` but it doesn't seem to make a difference.

[2021-11-03 12:11] rhatdan commented on #11081
podman-compose is not part of Podman, it is a separate project.
Podman supports both podman-compose and docker-compose, and perhaps docker-compose has exec.

[2021-11-03 12:14] rhatdan commented on #12085
What does not work?

[2021-11-03 12:28] homayoonsadeghiarkami commented on #12085
I mean, I can't mount the volume even with these flags enabled.

[2021-11-03 12:37] Luap99 commented on #11825
You also have to set `fs.inotify.max_user_instances`, the default is 128

[2021-11-03 15:44] edsantiago opened #12167 "pprof test is flaking again"
Currently our number one flake. @jwhonce PTAL.

### podman system service verify pprof endpoints [It] are available
* fedora-33 : int podman fedora-33 rootless host
  * PR #12157
    * [11-02 18:18](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5904958668144640/html/int-podman-fedora-33-rootless-host.log.html#t--are-available--1)
    * [11-02 18:18](h

[2021-11-03 15:46] mtrmac commented on #12155
https://github.com/containers/podman/pull/12168 should make sure we never accept _randomly-generated_ ID collisions (so if we still see collisions afterwards, it’s something about how the RemoteSocket value is used/propagated later), and add a bit more logging if the collisions do come from the randomness mechanism.

[2021-11-03 16:14] rhatdan commented on #12085
You are talking about mounting a gluster volume?  Or the gluster side.
I have a feeling this has something to do with the volume you are leaking into the container.

You might want to volume mount with the :shared or :slave options.

[2021-11-03 17:49] mtrmac commented on #12155
I have another hypothesis: See all of this, and weep:
https://github.com/containers/podman/blob/4105b025d60dd6d067fa293de11c45dcfd7ea30e/libpod/kube.go#L217
https://github.com/containers/podman/blob/4105b025d60dd6d067fa293de11c45dcfd7ea30e/test/e2e/common_test.go#L380
https://github.com/containers/podman/blob/4105b025d60dd6d067fa293de11c45dcfd7ea30e/test/utils/utils.go#L476
https://github.com/cont

[2021-11-03 17:52] ekinano commented on #12132
Any updates on this issue's status?

[2021-11-03 17:58] dilyanpalauzov commented on #11998
podman generate kube -s still prints:
[code]

[2021-11-03 18:48] cevich commented on #12155
Ref: `ginkgo -seed int`

(I'm assuming this is GinkgoRandomSeed)

[2021-11-03 18:55] mtrmac commented on #12155
Run that again, and the default will change with `UnixNano`. But AFAICS all _child processes_ of a parallel run share that value.

---

We can’t reasonably patch `math/rand` in the standard library.

One obviously safe approach is to keep the current `rand.Seed` calls, but _also_ create completely independent `rand.Reader` objects and only use the latter everywhere.

And then, later, if we ever au

[2021-11-03 19:15] WoozyMasta commented on #11883
Maybe it’s worth adding this information to the [Podman Troubleshooting Guide](https://github.com/containers/podman/blob/main/troubleshooting.md), as I understand this problem is not going anywhere, and it would be nice to describe it in order to finalize your position and possible solutions?

[2021-11-03 19:34] rhatdan commented on #11998
Yup, not sure how we get rid of those.  I believe we would need to filter those out.
@umohnani8 PTAL

[2021-11-03 19:47] rhatdan commented on #12155
Should we remove the extra rand.Seed within kube.go?

[2021-11-03 19:49] rhatdan commented on #11883
I don't think it is a great idea to document short comings of older distributions.

[2021-11-03 19:50] mtrmac commented on #12155
Just removing it might break things.

[2021-11-03 19:52] rhatdan commented on #12155
Well we have CI Tests for this and as long as the Seed has been called in storage, we should be all set.  Another option would to be to create a storage function to seed once, and replace this call with a call to storage seed.

[2021-11-03 19:57] dilyanpalauzov commented on #11998
I wrote the last comment, because the ticket was closed.

[2021-11-03 20:00] mtrmac commented on #12155
No, I’m saying that the `kube.go` code linked above _explicitly says_ it needs a seed different from the deterministic one from the standard library. Given that, it makes no sense to just _drop_ that initialization and have it _silently_ rely on someone else initializing that same global RNG; instead, that code should pay its own way, and create its own RNG that is sufficiently initialized without

[2021-11-04 03:52] jfroy opened #12170 "Running a systemd container with rootfull podman but using uidmap fails because the cgroupv2 filesystem is owned by an unmapped user"
/kind bug

**Description**

Running a systemd container with rootfull podman but using `uidmap` fails because the cgroupv2 filesystem is owned by an unmapped user.

**Steps to reproduce the issue:**

1. Build a simple systemd-based container image:

[code]

`# podman image build --rm -t localhost/fedora-systemd:latest .`

2. Run the container, using `--tty` to see the output from systemd.

[code]

[2021-11-04 05:16] Avijit009 commented on #11936
Thank you.
Is it the same as https://criu.org/Disk-less_migration this one?

[2021-11-04 09:12] vincentclaes opened #12171 "podman run - order of arguments makes the command fail/work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

- I installed podman v3.4.1
- configured "podman" executable in VSCode Remote Containers https://code.visualstudio.com/docs/remote/containers#_can-i-use-podman-instead-of-docker
- rebuild container (now by using podman) and i get the following error:

`➜ ~ p

[2021-11-04 09:23] adrianreber commented on #11936
No. That is something completely different and not implemented, as far as I know, by any container runtime or container engine. Patches are always welcome.

[2021-11-04 09:23] #11936 closed

[2021-11-04 10:29] rhatdan commented on #12171
Volumes are not supported with MAC yet.  Podman is attempting to mount this directory from within the VM not from the MAC. So it is failing.  We are figuring out the best way to handle this upstream and should have a fix by the end of the year.

[2021-11-04 11:17] rhatdan opened #12173 "podman pod create needs to support --security-opt"
We need to be able to disable SELinux, Seccomp, apparmor support for a POD,especially if volumes are being leaked into the pod.

[2021-11-04 11:51] boaz0 commented on #11998
@rhatdan @dilyanpalauzov it's related to this issue in Go https://github.com/golang/go/issues/22480

[2021-11-04 11:59] rhatdan commented on #11844
Looks like your problem is solved, Closing.

[2021-11-04 11:59] #11844 closed

[2021-11-04 12:00] rhatdan commented on #11383
@ashley-cui @baude I think overriding the ignition file is the best path forward.

[2021-11-04 12:02] rhatdan commented on #11482
I believe this is fixed in the current release, reopen if I am mistaken.

[2021-11-04 12:02] #11482 closed

[2021-11-04 12:07] rhatdan commented on #11001
No movement on this in the last month. I am not sure what has to change in Podman, or if this is just issues with CRIU.

[2021-11-04 12:11] rhatdan commented on #11998
Sadly this has existed since 2015 or so.

[2021-11-04 12:11] rhatdan commented on #11998
@boaz0 Do you think we can filter this out in our output?

[2021-11-04 12:21] edsantiago opened #12175 "podman-remote with journald+file mishmash: crashes client"
With this `containers.conf`:
[code]
...and this server command:
[code]
...the following sequence yields an unexpected client failure:
[code]
Expected: the new "file + journald not supported" error. (Which is shown on the server, but only as `info` level):
[code]

[2021-11-04 12:22] edsantiago commented on #12175
Oops, forgot to reference #11795

[2021-11-04 12:28] edsantiago opened #12176 "bindings tests: need better error detection"
The `logging` test does not seem to detect a client crash; this manifests as a hang in the tests.

https://github.com/containers/podman/blob/a245da1e52b63c451f4683f7a9b225aa49521939/pkg/bindings/test/containers_test.go#L354-L374

The crash in this instance is a bug (#12175) but even after that's fixed, there will be others.

[2021-11-04 12:30] rhatdan commented on #12175
https://github.com/containers/podman/pull/12130 was an attempt to fix this, but I think we should just fail outright if you setup this environment. IE If you set journald for logging, we should require event-logger to use it and vice versa.

[2021-11-04 12:37] Luap99 commented on #12171
The ordering matter but only if you add arguments behind the image name. Every argument behind the image will be added to the container entrypoint and it not interpreted by podman.

The remote volume mount work is tracked here https://github.com/containers/podman/issues/8016 I believe .

[2021-11-04 12:37] #12171 closed

[2021-11-04 12:55] boaz0 commented on #11998
I think I have an idea. Mind assign it to me?

[2021-11-04 14:34] cevich commented on #12175
Any chance this is related to issue 12029 as well?  (I'm grasping at straws here)

[2021-11-04 14:43] #11191 closed

[2021-11-04 14:48] edsantiago commented on #11827
This is the same as #12052. Although this issue was filed earlier, #12052 has more activity.

[2021-11-04 14:48] #11827 closed

[2021-11-04 14:52] cevich commented on #12155
Since we cannot control what vendor code does, It almost sounds as if we need to independently maintain some kind of local RNG state, recovering before and storing after every random-number request.  Understandably that adds a LOT of complexity, but it seems like otherwise callers can never trust the state is non-deterministic :disappointed:

[2021-11-04 14:54] cevich commented on #12155
On second thought...the golang community is pretty large...maybe somebody else has already solved this problem?

[2021-11-04 15:11] mtrmac commented on #12155
Yes

that’s neither necessary nor quite possible: just keep a private `rand.Reader` object for each unique use case, like https://github.com/containers/podman/blob/c0351a75ae1e4a74a633ac95f1d2ca9c7d96f044/vendor/golang.org/x/crypto/ssh/tcpip.go#L48 (or, in the somewhat wasteful extreme, a single-use `Reader` like https://github.com/containers/podman/blob/c0351a75ae1e4a74a633ac95f1d2ca9c7d96f044/ve

[2021-11-04 15:41] edsantiago commented on #10927
Still seeing this. [int remote fedora-35 root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6707502466203648/html/int-remote-fedora-35-root-host.log.html#t--podman-exec---detach--1)

[2021-11-04 15:45] cevich commented on #12155
Great.  Though I still want us to take a step back, and look at the tests more deeply to confirm we're simply not leaking data:  Your changes in #12168 when paired with the code that originally exposed the collisions (#11958) [in my test PR](https://github.com/containers/podman/pull/12169) allow the remote tests to pass.  However, searching the logs shows we still have collisions (based on the new

[2021-11-04 16:17] Luap99 commented on #12152
Is your /tmp on tmpfs? The podman directories under /tmp must absolutely be removed after reboot otherwise serious bugs can happen.
You should also make sure that you have a proper logins session, e.g. do not use sudo/su.

[2021-11-04 16:19] Luap99 commented on #12152
I close this issue as the main branch no longer depends on `nsenter`.
Either way something is wrong in your environment. $PATH should be the same for podman exec and podman run,  so it does not makes sense that only exec is failing.

[2021-11-04 16:19] #12152 closed

[2021-11-04 16:19] Luap99 commented on #12170
@giuseppe PTAL

[2021-11-04 16:25] adrianreber commented on #11001
I also think there is nothing Podman can do here. The information in `config.json` does not match the actual mount, so either the runtime must mount it differently or CRIU needs to handle it differently. Definitely not something Podman can solve.

[2021-11-04 17:13] jfroy commented on #12170
I just tried with `crun version 1.2.34-e2dd` (compiled from git main) and the result is about the same. Some of the controllers in the cgroupv2 mount are owned by uid 0 (container userns), but most are not:

[code]

[2021-11-04 17:24] mheon commented on #12170
Can you include the output of a `podman inspect` of one of these containers? I'm curious what the cgroup namespace settings we're getting are.

[2021-11-04 17:25] jfroy commented on #12170
Here's the container bundle config.jso

[broken-uidmap-container-spec.json.zip](https://github.com/containers/podman/files/7476949/broken-uidmap-container-spec.json.zip)
n.

[2021-11-04 17:28] jfroy commented on #12170
[code]

[2021-11-04 17:30] mheon commented on #12170
The `/sys/fs/cgroup` mount is wrong for CGv2 - it's being mounted as `ro` but Libpod should always be mounting it as `rw` when the container is in systemd mode.

[2021-11-04 17:32] mheon commented on #12170
Ah, we're not in systemd mode... Can you try with `--systemd=always`?

[2021-11-04 17:34] jfroy commented on #12170
Ah man, I was running the container with an override on the command, because it does not start if it is systemd. Yeah, let me reattach this data with that flag.

[2021-11-04 17:40] #12176 closed

[2021-11-04 18:13] jfroy commented on #12170
OK, same problem with systemd mode forced.

[code]

Inspect output:

[code]

[2021-11-04 18:51] edsantiago commented on #12029
I can't reproduce this on a 1minutetip f35 box. I can't figure out what's different between it and our CI environment.

[2021-11-04 19:14] mheon commented on #12142
The crun issue is almost certainly unrelated.

For this issue, I think the actual solution is a new field in `containers.conf` to specify per-runtime arguments that should be added by default - see https://github.com/containers/common/issues/715.

[2021-11-04 19:25] mheon commented on #11860
@lsm5 PTAL

[2021-11-04 19:55] cevich commented on #12029
That's odd, you ran it from inside a container, ya?

[2021-11-04 19:58] edsantiago commented on #12029
Ohhhh.... no, I missed that part. Thank you!

[2021-11-04 20:19] ashley-cui commented on #12163
@zeha when you made the change to your local homebrew, did you use brew install --build-from-source?

[2021-11-04 20:37] mtrmac commented on #12155
My fight with `bin/ginkgo` to produce a full unedited output of the log was unsuccessful (I’m sure there is a trick, but I don’t know what it is), but I did end up guessing this:

[code]

So that’s interesting:
- We now have something indicative to the extent that `test/utils/utils.go` is probably the only RNG initialization that happens
- … and that the code as written is _intended_ to have the s

[2021-11-04 20:55] zeha commented on #12163
Yes!

[code]

[2021-11-04 21:04] Luap99 commented on #12163
I think you have to use the podman main branch and not 3.4.1 to make sure #11976 is used.

[2021-11-04 21:35] edsantiago commented on #12029
Okay, this is trivial to reproduce:
[code]
One solution: when running podman in container, create `/etc/containers/container.conf` with:
[code]
E.g. by creating that file and bind-mounting it, or by creating it in `setup.sh` if `$CONTAINER == 1`.

There are probably many other ways to force file logging. (And there might even be a better alternative, e.g. making `journalctl` work in the container

[2021-11-04 22:08] nalind commented on #12029
Thanks @edsantiago, that clears up a lot.  `journalctl` goes and looks directly at journal files, and so does the API we use to read the journal.  When the files, and the directories that contain them, are absent, the initialization check at https://github.com/containers/common/blob/2dd5d30196f0dc7e15d1e2d53965c91821fd7e10/pkg/config/systemd.go#L70 succeeds anyway, since it skips over content that

[2021-11-04 22:15] jfroy commented on #12170
Ah, it actually works fine with crun 1.2.34-e2dd. I should have paid more attention to the cgroup directory.

crun does the following:
- The cgroup root directory is chown'ed to the container uid/gid 0.
- Controllers listed in `/sys/kernel/cgroup/delegate` are chown'ed to the container uid/gid 0.

This is enough for systemd. The code is here: [chown_cgroups](https://github.com/containers/crun/blob

[2021-11-04 22:24] jfroy commented on #12170
And it's pretty clear from https://man7.org/linux/man-pages/man7/cgroups.7.html that runc is not handling delegation properly.

[2021-11-05 08:54] PavelSosin-320 commented on #12142
@mheon Related. ICrun needs many things that exported to the session environment by the services managed by the systemd --user. From the systemd point-of-view it is easy: PassEnvironment ...
On the Desktops Terminal is a plain Gnome GUI application reusing Session environment generated by systemd, exported to the session.service, like XDG_RUNTIME_DIR, Logger socket path, DBUS socket path. Journald

[2021-11-05 11:25] ferakpeter opened #12181 "podman logging trace level request logs when log-level set to warn"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

we are running podman with the default logging level, which should be "warn" according to the documentation. we even tried setting log-level=error, but the same behaviour was observed: since upgrading to **3.4.1** (and same with **3.4.0**) we receive a vast amount of request logging. The requ

[2021-11-05 12:43] rhatdan commented on #12181
@jwhonce @baude PTAL

[2021-11-05 13:58] Mordecaine commented on #11719
@Luap99
Is it ok for you if I ask carefully that you have an update to this error?

Cheers and a nice weekend,
Mordecaine

[2021-11-05 14:05] srcshelton commented on #8785
Just to say, this all appears fixed with `3.4.1` - thanks!

[2021-11-05 14:10] unknowndevQwQ commented on #12142
https://fars.ee/KhKd

This is the output of /tmp/runsc when docker uses runsc

[2021-11-05 14:27] cevich commented on #12155
@mtrmac thanks so much for all the experimenting and deep analysis.  So it sounds like we need two additional issues:

1) Find/fix "all Podman callers to GenerateNonCryptoID...check for conflicts and retry."
2) Implement local RNG state for "all the shared users of math/rand"

I'm happy to open those issues (assuming you agree it's a good idea).  As for #12168, I'll make some comments in the diff

[2021-11-05 14:46] zeha commented on #12163
@Luap99 argh, thanks. I didn't think of passing --HEAD to brew install. So #11976 really seems to solve this for me. Now on to SSL certificate trouble, but thats another problem.

Thanks everyone!

[2021-11-05 14:46] #12163 closed

[2021-11-05 14:58] flouthoc commented on #8785
@srcshelton :+1: thanks for confirming.

[2021-11-05 15:20] SN4K3D commented on #4595
Thanks a lot @mheon for your first response its working for me

[2021-11-05 15:38] cevich commented on #12029
Yes, thanks a lot @edsantiago this one has had us stumped for a while.  I'm a little hesitant to workaround the problem as you suggest (but thanks for the ideas) simply because I don't want to hide this/related problems in the future.  Though I suppose I could but in a temporary band-aid if I must.

@nalind do you think it will take weeks/months to fix the logic?  Do you, or who knows this code?

[2021-11-05 15:52] mtrmac commented on #12155
On second thought, that shouldn’t be possible; `test/e2e` depends on `stringid`, so we should have seen logs of the `stringid` initialization, in some order. So, until that it explained, the `Unix()`-one second granularity is a guess with no reliable evidence towards it being _the_ cause.

(I’m not sure I’ll be able to dig into that further this week.)

---

I think the above are a good idea regar

[2021-11-05 15:58] metlos commented on #10817
Seeing this exact issue with:

[code]

[2021-11-05 16:06] stiller-leser opened #12185 "Error: chtimes /var/lib/containers/storage/volumes/my-volume-name/_data: permission denied"
**Description**

I have a Kubernetes deployment where I run the podman api (privileged) and an ubuntu container that uses podman (via podman-remote as user 1000) automatically via a Jenkins automations. Before starting my container, Jenkins creates a podman volume that mounts a cifs volume.

In the ubuntu container my-deployment as user 1000 via Jenkins:
[code]

After the volume is created, Jenkin

[2021-11-05 17:01] skorobogatydmitry commented on #5431
Up!
Same issue. I'm running couple containers as a systemd service.
And podman network rule disappear from nft time to time.
So it seems that firewalld watch for underlying config (or just reloads on schedule).

[2021-11-05 17:05] jwhonce commented on #12181
@ferakpeter Sorry for the confusion on this change. I agree this should not be logged at all levels but I think it is more important than TRACE. Would logging at INFO be acceptable for your solution? /cc

@rhatdan @baude

[2021-11-05 17:18] douglas-legulas commented on #12003
Sorry, what do you mean? The pod building scripts are here: https://github.com/containers/podman/files/7388549/LegulasPod.zip

[2021-11-05 17:20] nalind commented on #12029
Hmm, actually, that shouldn't be the problem, though I can submit a PR to check that there's at least one entry in the journal as a last-ditch thing.  All of that defaults logic gets short-circuited if we look in `/proc/1/comm` and don't find "systemd", so it shouldn't even be getting that far.  Are we still explicitly setting the log driver to "journald" in /usr/share/containers/containers.conf?

[2021-11-05 17:39] rhatdan commented on #12170
Could you open an issue with runc?

[2021-11-05 17:40] rhatdan commented on #10374
@brauner Any update we can look at?

[2021-11-05 17:40] jfroy commented on #12170
Yep will do. I've in fact been digging into runc and hoping to write the PR myself.

[2021-11-05 18:00] igo95862 commented on #11963
It turns out easier to run RPC over SSH. All I have to do is to use STDIN and STDOUT that are piped over SSH. The client only has to pass the commands that start the matching program to the SSH program.

I have put the library in to this repository.

https://github.com/igo95862/golang-rpc-over-ssh-cmd

I can start experimenting with integrating it with podman next.

[2021-11-05 18:04] rhatdan commented on #10817
Have you checked SELinux?

[2021-11-05 18:10] rhatdan commented on #12185
Permission denied is almost always SELinux or User Permissions. Looks like SELinux is disabled.

[2021-11-05 18:19] rhatdan commented on #12181
I think logging at info makes sense.

[2021-11-05 18:22] rhatdan commented on #12003
Could you make a simple repeater that we could examine.

[2021-11-05 18:31] cevich commented on #12029
I just checked in `quay.io/libpod/fedora_podman:c5920205063847936` (from my F35 PR).  The file from `containers-common-1-32.fc35.noarch` is attached.

[containers.conf.txt](https://github.com/containers/podman/files/7488196/containers.conf.txt)

[2021-11-05 19:30] nalind commented on #12029
I think we want to stop forcing that, then.

[2021-11-05 19:53] #12181 closed

[2021-11-05 20:00] douglas-legulas commented on #12003
I've added a virtual host and an example webpage.
[LegulasPod.zip](https://github.com/containers/podman/files/7488553/LegulasPod.zip)

To reproduce:
1. Build the pod (as root)
[code]

2. Check `/etc/hosts`:
[code]

### Expected results:
[code]

### Actual results:
[code]

[2021-11-05 20:43] stiller-leser commented on #12185
Hey,

Thank you for the quick response. The strange thing is that it does not work when executed via Jenkins. But if I leave the pod running and then kubectl exec into (I.e. The same pod Jenkins started), it then works. So if SElinux would be to blame, I would expect it to never work...

Best regards,
stiller-leser
________________________________
From: Daniel J Walsh ***@***.***>
Sent: Friday, No

[2021-11-05 21:20] guystreeter opened #12188 "AVC errors with rootless podman after upgrade to Fedora 35"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**rootless podman AVC denied after upgrade to Fedora 35 (on only one system)**

**Steps to reproduce the issue:**

1. `$ podman run -it fedora /bin/bash`

**Describe the results you received:**

I just get my host system shell prompt back

**Describe the results you expected:**

A container shell prompt

**Ad

[2021-11-05 21:41] guystreeter commented on #12188
update: I just realized it's happening on several of my systems. I was using `label=disable` for the containers on the other machines, so I didn't notice the failure

[2021-11-05 23:08] prbsparx commented on #11941
Some thoughts on how podman can discover the proxy settings:

1. Ingest the system proxy settings on Mac. You can get the settings by running: `scutil --proxy` or in Objective-C using the SystemConfiguration framework: https://developer.apple.com/documentation/systemconfiguration/1517088-scdynamicstorecopyproxies
2. Ingest proxy settings from ENV.
3. Allow the user to override by adding an argumen

[2021-11-05 23:37] wuxxin opened #12189 "podman can not run a container with a symlinked /etc dir"
/kind bug
**Description**

while trying out https://github.com/remote-android/redroid-doc (a GPU accelerated AIC (Android In Container) solution) running on podman (rootful), podman throws an error:
[code]
A look inside the container revealed that redroid uses symlinks for:
[code]
and some android related symlinks in the root directory including the **symlink of /etc to /system/etc**.

while traci

[2021-11-06 07:28] tungphuong opened #12191 "Run podman remote from windows to WSL2"
Hello, I set up success Podman with WSL2 on Windows 11; can run the container with the Podman CLI in WSL2.

Now I want to access it remotely from the Window host, but I cannot find any document to guide me to set up it and it seems that we cannot start socket/Rest API for the Podman server.

In WSL2, when running `podman --remote info`, got the exception
`Error: cannot connect to the Podman socket

[2021-11-06 15:33] haf-tech commented on #12075
could we add in the install instruction page the hint with the size and `--disk-size` flag?
https://podman.io/getting-started/installation

[2021-11-06 17:51] andrewmed commented on #12143
I confirm, ssh agent is ignored, please have a look at this issue, typing a long password each time is not an option ☹️

[2021-11-06 18:19] andrewmed opened #12192 "api incompatibility on minor versions: server API version is too old. Client "3.1.0" server "3.0.0""
/kind bug

**Description**

Podman client reports api incompatibility on minor version difference with server:

Message:
"server API version is too old. Client "3.1.0" server "3.0.0"

**API compatibility on minor version change should not be broken.**

client:
macOS BigSur, client 3.1.0

server:
debian bullseye, server 3.0.0

**Output of `podman version`:**

[code]

On client:

[code]

**Output of

[2021-11-07 07:18] homayoonsadeghiarkami commented on #12085
yes of course as you can see in my first comment I create a volume in the container where my glusterd is installed, and then start that volume. then I want to mount it outside of the container, in my host over the network.
where should I put these option??? I didn't find anything related to these options!?

[2021-11-07 09:20] abitrolly opened #12194 "`podman` security - attack vector through GitHub PR checkout"
/kind feature

**Description**

I am trying to find a lightweight method for securely evaluating occasional projects on GitHub (if they compile, test, generally usable, etc). When rootless `podman` came to Fedora, that was one big joy. However, with time, more and more people are expressed concerns that containers (and `podman`) are insecure, and my frustration grew up to the point that I am writi

[2021-11-07 11:13] afbjorklund commented on #8016
For now I would recommend using lima instead of `podman machine`, since it handles both volumes and sockets.

limactl start [https://raw.githubusercontent.com/lima-vm/lima/master/examples/podman.yaml](https://github.com/lima-vm/lima/blob/master/examples/podman.yaml)

[2021-11-07 13:42] mskarbek opened #12196 "[RFE] `podman volume label [--list||--add||--remove] <volume>`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to manipulate volume labels after volume creation and attachment to the container.
Use case:
- volume snapshot indication
- containers attachment history

`podman volume label [--list] <volume>` - list all labels, print formal like `volume inspect`, if no options s

[2021-11-07 14:51] PavelSosin-320 commented on #11547
Playing with RunC vs CRun I found that RunC has strong requirement that RunRoot where the bundle is stored must be on the TMPFS, i.e. /Run?User/ ... But Fedora ( and the future possible WSL Fedora distro based on WinBTRFS driver boxes users inside distro's /home FS that is always BTRFS. Does somebody know how to mount bind different FS type?
On my Fedora Desktop it is done via 3th FS - gvfs that w

[2021-11-07 15:05] gliptak opened #12198 "Static Build for #11728 isn't static"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Downloaded `Static Build` for #11728 isn't static

[code]

[code]

**Steps to reproduce the issue:**

1. Download (current) Static Build

2. Validate with `ldd`

**Describe the results you received:**

**Describe the results you expected:**

[code]

**Have you tested with the latest version o

[2021-11-07 16:19] LastLightSith commented on #10480
sometimes rebooting is not an option

[2021-11-07 16:28] mskarbek opened #12199 "[RFE] Support for wildcard in `volume ls --filter label=key`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Labels, following k8s standard, have prefix and name parts separated with `/`. Podman does not enforce strict k8s rules for volume labels, so I'm able to add another part after either `/` or `:` depending on which convention I would like to use.
I would like to be able to list all volumes

[2021-11-07 16:43] pjannesen opened #12200 "Multiple networks with static ip addresses"
/kind feature

I need to link a pod/container to multiple physical NICs with a static ip addresses. The current syntax only allow to specify an ip address when there is only 1 network. A workaround (with macvlan) is to create of networks per ip address and use a /32 ip-range. It would be a lot simpler and nicer if there is the possibility to give parameters to a network such as a static ip-address

[2021-11-07 18:15] afbjorklund opened #12201 "podman --remote run pulls image on every invocation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman4 client pulls image every single run, where podman3 client only pulls if missing.

**Steps to reproduce the issue:**

1. podman --remote run busybox true

2. podman --remote run busybox true

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[c

[2021-11-07 18:32] afbjorklund commented on #12201
This seems related to the new policy:

[code]

----

[code]

[code]

[2021-11-07 18:42] afbjorklund commented on #12201
For some reason this only seems to happen when using a remote client (ssh), not when using a local client (unix).

[2021-11-07 19:13] convexset commented on #11528
Would this be the same problem as the port mapping for pods happening inside the podman machine VM instead of on the host on OS X?

See below:

[code]

[2021-11-07 19:14] b177y opened #12204 "Unwanted logging output in API Bindings package"
In **pkg/bindings/containers/containers.go** there is an instance of `logrus.Infof`
https://github.com/containers/podman/blob/abbd6c167e8163a711680db80137a0731e06e564/pkg/bindings/containers/containers.go#L203
which I assume was put there during development and was accidentally left in, as none of the other bindings seem to produce any output.

[2021-11-07 19:25] guystreeter commented on #12188
`touch /.autorelabel` and reboot seems to have fixed this problem on all my systems. I don't understand what changed from Fedora 34 to 35 to make that necessary.

[2021-11-07 19:28] Luap99 commented on #11528
@convexset That looks like a separate issue, please open a new one.

[2021-11-07 19:31] Luap99 commented on #12200
This is planned for podman 4.0.
I close this as duplicate of https://github.com/containers/podman/issues/9883.

[2021-11-07 19:31] #12200 closed

[2021-11-07 21:19] afbjorklund opened #12205 "Podman + runc: Cannot mount read-only filesystem on host as a volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to use rootless containers on ubuntu 21.10 with podman 3.2.1 using the default "runc" fails.

Installing "crun" makes it work again, with runc the volume mounts are failing (OCI permission denied)

**Steps to reproduce the issue:**

1. `limactl start examples/podman.yaml`

2. `export C

[2021-11-07 22:29] TomaszGasior opened #12206 "Podman cannot be used by docker-compose when docker binary is installed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With user-wide Podman service enabled and `DOCKER_HOST=unix://$XDG_RUNTIME_DIR/podman/podman.sock` environment variable I am unable to successfully run `docker-compose up`. There is an error message "Server did not provide an image ID. Cannot write /tmp/[...]".  I use Fedora 35 and I have bot

[2021-11-08 01:31] srbala commented on #11852
@lsm5 is it possible to setup some GH workflow actions to update sources. Now OBS build service supports GitHub integraions. Give me some guidelines, I would be happy help/maintain

[2021-11-08 01:35] convexset opened #12207 "Port Forwarding for Pods on OS X not working on Host (But does in postman machine VM)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On OS X, the port mapping for pods does not work on the host machine like it does for containers.

Interestingly, or expectedly, port mapping works correctly inside the podman machine VM.

See below:

[code]

Creating a container on the host. Port mapping is fine:
[code]

Creating a pod on th

[2021-11-08 03:07] IrosTheBeggar opened #12209 "ose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2021-11-08 03:07] #12209 closed

[2021-11-08 06:04] homayoonsadeghiarkami commented on #12085
@rhatdan, I have found the problem it is discussed in this issue too #5097 but how can I fix this problem? I mean when I delete the pod or container, all iptables rules should get clean immediately.

[2021-11-08 07:18] flouthoc commented on #12204
Hi @b177y I think you are correct but this on a `Info` level added in https://github.com/containers/podman/pull/7451 and I don't think it is doing any harm in fact it seems to be okay for `Info` purpose ? If it is causing any troubles from usage perspective I'd request moving it to `Debug`.

But honestly I don't think its causing any harm. So i am closing this one but please feel free to move it t

[2021-11-08 07:18] #12204 closed

[2021-11-08 07:22] flouthoc commented on #12199
@mskarbek The use case you have specified could be easily matched with `HasPrefix` but nothing is stopping users from making a query like `*/secondlabel/anotherlabel/` so i am afraid we will end up implementing `regex` for this.

I am not also sure if there were any intentions so support multiple labels using `delimiters` but I'd agree it would be cool thing to add. I'd wait for podman-maintainers

[2021-11-08 07:34] flouthoc commented on #12199
@mskarbek also just to clarify are you expecting `wildcards` in label keys ?

[2021-11-08 08:32] giuseppe commented on #12170
there is already an open PR for runc: https://github.com/opencontainers/runc/pull/3057

I am closing the issue since there is nothing we can do in Podman

[2021-11-08 08:32] #12170 closed

[2021-11-08 09:50] vrothberg commented on #11636
@mtrmac may be able to help track the bug down on Mac OS.

[2021-11-08 10:00] adamish commented on #12135
Further info... Seems that /usr/bin/crun isn't actually present on my system. Note that system in question is a highly stripped down installation.

[2021-11-08 10:28] srcshelton opened #12212 "'overlay' filesystem support being missing is permanently cached (until reboot?)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

(This follows from #1516)

I have a system which tries to start `podman` on boot, which I've just updated to a new kernel.  Something seems to have changed, but whilst the `overlay` module was previous being auto-loaded is no longer is... but this I can fix.

The issue is that if `podman` is

[2021-11-08 10:37] flouthoc commented on #12018
Above PR should close this.

[2021-11-08 10:47] vrothberg commented on #12194
Your statements seem rather vague to me.  What are the concrete problems or scenarios where Podman is missing something?

Let's take the following statement as an example:

What are these claims based on?  Fedora and Red Hat registries provide signed images that Podman checks and verifies.

In which context and which attack vector?

Again, I am not sure what you are asking for.  If there are preci

[2021-11-08 12:09] edsantiago commented on #11784
cirrus-flake-grep reports that this is still happening. Only f33, which makes sense if it's a runc bug. Here are two recent examples: [pr 11956](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5848798850187264/html/int-remote-fedora-33-root-host.log.html) and [pr 12107](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/container

[2021-11-08 12:30] #11778 closed

[2021-11-08 14:02] Luap99 commented on #12207
Can you provide the output of `podman inspect $(podman pod inspect --format {{.InfraContainerID}} mypod)`

[2021-11-08 14:05] Luap99 commented on #12207
I think it should work when you create the pod with `podman pod create --name mypod -p 8080:80 --network bridge`

[2021-11-08 14:06] rhatdan commented on #12212
@giuseppe @rhvgoyal PTAL
Shouldn't the overlay driver be autoloaded?

[2021-11-08 14:23] rhatdan commented on #12194
Podman is way more secure then running processes natively.
VMs are more secure then running Podman
Podman inside of a VM is way more secure then VMs
Podman inside a VM inside of a separate physical machine is way safer then running a VM with Podman on your host.

You have to pick your level of risk.

[2021-11-08 14:35] Luap99 commented on #12207
PR #12222 should fix it

[2021-11-08 14:36] #11735 closed

[2021-11-08 14:39] giuseppe commented on #12212
this is a configuration issue, since `runRoot` is supposed to be on a volatile file system like tmpfs that doesn't survive a reboot.

Please change the `runRoot` to be on tmpfs.

We do not have a runtime check since there are use cases when this is fine, e.g., running in a nested container

[2021-11-08 14:39] #12212 closed

[2021-11-08 14:50] convexset commented on #12207
[code]
does make things work.

However, it may be something that has to be addressed anyhow.

(I take it that the `--network bridge` option is hiding somewhere?)

[2021-11-08 14:53] Luap99 commented on #12207
`--network bridge` is set via config for podman machine
podman pod create just didn't read the config value

[2021-11-08 15:14] abitrolly commented on #12194
@rhatdan yes, so I need to understand what is the level for `podman`.

[2021-11-08 15:35] dustymabe commented on #11895
@rhatdan - all the timezones are there. we just don't set a timezone by default (i.e. UTC). Maybe `podman` could/should be modified to assume UTC if no `/etc/localtime` exists?

[2021-11-08 15:48] rhatdan commented on #11895
Sounds reasonable to me.

[2021-11-08 15:49] rhatdan commented on #11895
@ashley-cui PTAL
A better solution might be to have ignition grab the timezone off of the MAC and inject it into Fedora CoreOS.

[2021-11-08 15:50] #12018 closed

[2021-11-08 16:06] cevich commented on #12029
Should the line just be commented out, or default to something explicitly?

[2021-11-08 16:11] mheon commented on #12189
Can you provide more details on the container you're running (ideally a command that reproduces)? Podman should not be dealing with `/etc/mtab` at all during container creation, so this doesn't look like something Podman is doing.

[2021-11-08 16:21] cevich commented on #12155
Yeah, that's most definitely strange.  Perhaps there's some clash with `logrus` initialization, and maybe a `fmt.Printf()` would work better?

[2021-11-08 16:22] wuxxin commented on #12189
hey, thank you for your response, i am not sure what is needed from your side, but just try to run:
[code]

the error message is coming from the sourcecode i referred to.

[2021-11-08 17:17] mheon commented on #12185
What do you mean when you say that if you `kubectl exec` in, it works - are you running a container with the volume attached to it manually, and that works?

[2021-11-08 17:18] mheon commented on #12185
Also - the volume is mounted as read-only, but it seems Jenkins is trying to modify it (at the very least, to change the modification time?) - this seems expected? Read-only means read-only.

[2021-11-08 17:20] beroset commented on #12188
I have been having similar issues also after upgrade to Fedora 35 on two different machines.  Here's what happens:
[code]
Note that without either `z` or `Z`, the command successfully executes in 1 second.  With either it takes almost two minutes!  After this test, I went up a directory and executed `restorecon -r -vv -F mydata`.  After that lengthy operation completed, I ran the tests above again

[2021-11-08 17:20] mheon commented on #12192
This is expected. We've gotten better about forward/backwards compatibility in recent releases but 3.0 is too old to have those fixes - for something that old client and server versions must be matched.

[2021-11-08 17:20] #12192 closed

[2021-11-08 17:21] mskarbek commented on #12199
@flouthoc yes, I had keys in mind.

[2021-11-08 17:21] mheon commented on #12143
@ashley-cui PTAL

[2021-11-08 17:22] afbjorklund commented on #12201
This scenario happens with:

1) Server is running the latest version available for ubuntu: 3.2.1
Installing a newer version is problematic (requires kubic packages)

2) Client is running the latest version available for brew: 3.4.1
Installing an older version is problematic (need to build from source)

So instead, it pulls every time.

[2021-11-08 17:24] beroset commented on #12188
I have been having similar issues also after upgrade to Fedora 35 on two different machines.  Here's what happens:
[code]
Note that without either `z` or `Z`, the command successfully executes in 1 second.  With either it takes almost two minutes!  After this test, I went up a directory and executed `restorecon -r -vv -F mydata`.  After that lengthy operation, I rebooted and ran the tests above ag

[2021-11-08 17:27] LastLightSith opened #12225 "MongoDB Authentication failed."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Can't run mongodb with authentication enabled while it works in docker

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
same as docker. Just replace podman in above commands with `sudo docker`

**Additional inform

[2021-11-08 17:28] mheon commented on #12191
@baude PTAL

You'll need to either make the Podman socket available to the filesystem of the Windows host (not familiar enough with WSL2 to know how/if this is possible) or tell `podman system service` in the container to bind to a port on localhost and access it via that port.

[2021-11-08 17:29] mheon commented on #12225
The passwords in your example don't seem to match - `-p msecret` vs `-e MONGO_INITDB_ROOT_PASSWORD=secret`?

[2021-11-08 17:31] avadhanij6si commented on #11126
Will mention it here since I am seeing the same issue on my end, in a completely different scenario. It happened when using Bazel to build images. I had set Bazel to use `podman` instead of `docker`, and then I saw this as the cause for failure -

`failed (Exit 1)
time="2021-11-08T00:27:41-08:00" level=error msg="finding config on system: unable to resolve HOME directory: user: unknown userid 501"

[2021-11-08 17:34] mheon commented on #12198
What do you mean by "Downloaded static build" for that issue? It's not a release so no build is associated with it? Are you trying to download a specific static build for a specific release? Please be more specific.

[2021-11-08 17:35] mheon commented on #12196
I don't think this is possible in the Podman model. Our objects (containers/volumes/pods) are, for the most part, immutable after creation.

[2021-11-08 17:35] afbjorklund commented on #12201
The workaround is to run `podman` on the server instead, over ssh.

[code]

Instead of trying to use the `podman-remote` binary locally, over ssh.

[code]

[2021-11-08 17:42] afbjorklund commented on #12191
I don't think the Windows file system supports Unix sockets, at least it didn't for the QEMU sockets (required fifo instead)

[2021-11-08 17:46] PavelSosin-320 commented on #11778
It will be awesome to inimize using Path environment variables in the storage.conf and use only configuration files merge because manipulation with environment in the systemd units is the hell: generators + Environment= + EnvironmentFile=  + PassEnvironment= + PostExec=systemctl --user --export-environment, DBUS .....

[2021-11-08 17:53] #11984 closed

[2021-11-08 17:56] PavelSosin-320 commented on #11778
@rauar Why you didn't create symbolic link ?

[2021-11-08 18:01] LastLightSith commented on #12225
sorry, copy pasting mistake somehow. edited

[2021-11-08 18:01] stiller-leser commented on #12185
Hey, yes this was in fact a copy and paste mistake. Sorry about this

I mean, if Jenkins starts the pod (it does not work), but when it leaves the pod running and I then `kubectl exec` from my local machine into the same pod it does work.

[2021-11-08 18:02] rhatdan commented on #12188
If $(PWD) is large it will take a while to relabel all of the files,  Not much we can do about this.

Those AVCs are allowed by default, you might have had an unsuccessful update of container-selinux. And eventually this cleared up.

Everything seems to be working the way it is supposed to now, so closing.

[2021-11-08 18:02] #12188 closed

[2021-11-08 18:09] rhatdan commented on #12198
We don't support static builds.  If users want static builds they should attempt to do them on their own.

[2021-11-08 18:11] rhatdan commented on #12196
Please give us more information on the use case?

[2021-11-08 18:15] rhatdan commented on #12201
This looks like it works correctly in podman 3.4.
[code]

[2021-11-08 18:15] #12201 closed

[2021-11-08 18:21] rhatdan commented on #12225
Does it work with rootfull Podman?  Does it work with rootless podman run --privileged

[2021-11-08 18:24] rhatdan commented on #12185
The ID you ran above was that in on the node or in the container.  id -Z inside of a container will lie to you about SELinux being enabled.

I believe the issue is either your kubectl exec is running the success  full process with a different user or SELinux label, and this is why it succeeds.

[2021-11-08 18:44] nalind commented on #11897
The containers/storage bug was fixed in its v1.32.2 release.  That version, and later versions, are used in podman's 3.3 and 3.4 branches.  I believe one of those versions will be included in the "container-tools" module in RHEL 8.5.

[2021-11-08 18:51] jwillikers opened #12226 "Missing healthcheck defined in image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating a Syncthing container from the image [docker.io/syncthing/syncthing](https://hub.docker.com/layers/syncthing/syncthing/1.18.4/images/sha256-888042e42d60221e82f70bf4c19901912e02f5aed9108cbaf13d78904772275f?context=explore), the included healthcheck is missing.
The [Syncthing Dock

[2021-11-08 18:57] gliptak commented on #12198
@mheon I'm referring to Staic Build section on https://cirrus-ci.com/build/6564084112949248 (sorry Cirrus isn't very linking friendly)

![image](https://user-images.githubusercontent.com/50109/140800957-5abc286f-6848-40bf-b9bb-73eeeec51d7c.png)

@rhatdan the main README specifically highlights static build for testing purposes https://github.com/containers/podman/blob/main/README.md#static-binary-

[2021-11-08 19:05] mheon commented on #12185
Again, what do you do *after* you `kubectl exec`? Are you running a container that contains the volume?

[2021-11-08 19:05] mheon commented on #12198
@cevich PTAL

[2021-11-08 19:07] mheon commented on #12226
The output of `podman inspect` on that image does not show a healthcheck. There's a note about one in the comments but no actual healthcheck in the config.

[2021-11-08 19:11] mheon commented on #12206
What version of docker-compose?

[2021-11-08 19:12] TomaszGasior commented on #12206
[code]

[code]

[2021-11-08 19:14] rhatdan commented on #12189
This is happening just because /etc->/system/etc. So easy to setup.

This most likely is an error happening in crun.

@giuseppe WDYT?

[2021-11-08 19:23] rhatdan commented on #12189
This issue, seems to be the hard links I think if you change the /etc->/system/etc to /etc->../system/etc, it would fix the problem.

[2021-11-08 19:26] rhatdan commented on #12189
@nalind Do we have anything to does a choot.Symlink?

[2021-11-08 19:30] rhatdan commented on #12194
Podman shares the host kernel within the container, but uses every security feature of the host to isolate the workload.

SELinux, Seccomp, User Namespace, Readonly /proc and /sys. Dropped linux capabilities, namespaced envioronment to prevent view of network, processes, and other parts of the file system...

[2021-11-08 19:41] afbjorklund commented on #12201
It looks like there are no kubic packages available for Ubuntu 21.10.

[2021-11-08 19:44] rhatdan commented on #12191
Well you could setup Podman service to listen on a network port, but be careful.

[2021-11-08 19:51] cevich commented on #12029
Ugh :vomiting_face: looks like [upstream _does_ have this commented out (code)](https://github.com/containers/common/blob/ca3c04191745d47bdf440000d259878eb271523c/pkg/config/containers.conf#L154).  So that begs the question: How/why is it _not_ commented out in the packages we install in VMs?

[2021-11-08 19:51] nalind commented on #12189
Not directly, but since the link is already there in this case, `github.com/containers/buildah/copier.Mkdir()` should resolve it correctly when it's told to create it.  Could get expensive if we have to do it for multiple locations, though.

As an aside, the image includes SELinux labels (i.e., "security.selinux" xattrs) for many of its contents, which I didn't think was recommended.

[2021-11-08 19:52] wuxxin commented on #12189
i tried to workaround by creating a symlink in /system/etc/mtab to /proc/mount, as an extra step from the original container, but that didnt help, mkdir /etc is still tried and container start aborts.

I am happy to have a workaround, for a container having /etc a symlink, but so far, i did not find a combination that worksaround /etc as a symlink

[2021-11-08 19:55] cevich commented on #12029
I'll send a note to the team, I think this might be beyond a "We need a new RPM" question...

[2021-11-08 19:58] umohnani8 commented on #11994
Closing this as targetPort gets the value of 0 when it is left empty and is coming from where the struct is defined in k8s.

[2021-11-08 19:58] #11994 closed

[2021-11-08 20:06] edsantiago commented on #12029
https://src.fedoraproject.org/rpms/containers-common/blob/f35/f/containers.conf#_152-154

[2021-11-08 20:07] mheon commented on #12189
Again, are we sure this is actually Podman? We should not be doing anything with `/etc/mtab` - I don't see how `/etc/` being or not being a symlink/hardlink affects that? I could potentially see issues with /etc/hosts or `/etc/resolv.conf` (we actually have had symlink issues with `resolv.conf`) but `mtab` makes no sense. There are similarly 0 mentions of `mtab` in the crun codebase.

[2021-11-08 20:10] cevich commented on #12029
Bingo, thanks @edsantiago.  I sent a note to the team, assuming it's not just a simple fix (maybe there's a reason it's set that way).

I'll add a temporary workaround for this in our image-build, so we don't have to wait weeks for RPMs to roll (if that's what's needed).

[2021-11-08 20:12] nalind commented on #12189
The phrase "error creating mtab directory" suggests it's roughly around [here](https://github.com/containers/podman/blob/3a31ac50daa819e2dec686d2bdfc2e92c974e28e/libpod/container_internal.go#L1602).

[2021-11-08 20:14] mheon commented on #12189
That's only within the container's filesystem - I see no evidence this is related to `/etc/mtab` on the host. Still don't see a link here. Seems more likely to be an issue with the container itself as opposed to the host system?

[2021-11-08 20:14] mheon commented on #12189
Ahhh, nevermind, it's symlinked inside the container.

[2021-11-08 20:18] mheon commented on #12085
Most likely the cleanup process is not firing. Please run Podman with `--log-level=debug` and provide any logs from Podman or Conmon in the system journal.

[2021-11-08 20:25] mheon commented on #12205
I recall seeing similar things on RHEL, which turned out to be a too-old `runc` - newer version fixed it.

[2021-11-08 20:29] jwillikers commented on #12226
I'm checking with the Syncthing project upstream to see if it's an issue with how they build their image. Building locally with `--format docker`, the health check works.

[2021-11-08 20:32] afbjorklund commented on #12205
Could be a bug in the podman packaging then, currently it says "`runc (>= 1.0.0~rc92~) | crun`"

And if course runc is a system package, so that means that it is stuck on OS (currently 1.0.1)

[2021-11-08 20:36] rhatdan commented on #12226
Does not seem to be a podman issue. closing.

[2021-11-08 20:41] cevich commented on #12155
As an experiment, I tried using `fmt.Printf()` in `vendor/github.com/containers/storage/pkg/stringid/stringid.go` init instead of `logrus`.  When the podman command runs, the log line is printed immediately.  However, (despite the tests breaking horribly)  I still don't see the expected output at the beginning when the ginkgo binary executes.  So something deeper and more sinister is happening wit

[2021-11-08 20:45] rhatdan commented on #12205
If this is a runc issue, it should be opened over their. If this is a runc version issue, then Podman upstream can not fix.  Is there anything upstream Podman can do to fix this, then we need to close the issue. (We are in bugfix mode and need to get our issues under 200.)  :^)

[2021-11-08 20:52] rhatdan commented on #11840
Since we have had no feedback in a month, closing.

[2021-11-08 20:52] #11840 closed

[2021-11-08 21:06] rhatdan commented on #12075
Please open a PR on how you want to change it.

[2021-11-08 21:12] cevich commented on #12198
Hmm, indeed it doesn't appear to be working properly. I wonder if [this warning message gives any clue as to why](https://cirrus-ci.com/task/5724808781496320?logs=main#L437).  In any case, I didn't write the static-build task nor do I fully understand the underlying build system :confused: We'll need to tap the person who set this up, and I can't remember who that is off-hand, we'll need to go dig

[2021-11-08 21:16] cevich commented on #12198
@hswong3i or @saschagrunert either of you can tell what might be going wrong here?  I will add that we do pre-build non-static `./bin/podman` and `./bin/podman-remote`, so maybe those are getting in the way somehow?

[2021-11-08 21:16] rhatdan commented on #11842
Since I got no response to my idea, I am closing.  If you want to respond and see if this is the problem then reopen.

[2021-11-08 21:17] rhatdan commented on #10275
@boaz0 Reminder ping

[2021-11-08 21:25] Luap99 commented on #12206
docker-compose tries to use the docker binary for some tasks, we have no control over this.
You can use `COMPOSE_DOCKER_CLI_BUILD=0` for build, and `COMPOSE_INTERACTIVE_NO_CLI=1` for run/exec to make it does not use the docker binary.
I do not think we can do anything about it besides some documentation.

[2021-11-08 21:29] TomaszGasior commented on #12206
Maybe it's possible to inspect what docker-compose is calling from `docker` binary internally and make `podman` compatible with that. This is very important for making podman replacement for docker users, like me. Most of Docker users won't put enough effort to make some wrappers around podman-compose like me. If this is possible, this should work transparently.

I will try your env variables, alt

[2021-11-08 21:33] #11814 closed

[2021-11-08 21:33] rhatdan commented on #11729
I believe this is solved, closing.  Reopen if I am mistaken.

[2021-11-08 21:33] #11729 closed

[2021-11-08 21:33] Luap99 commented on #12206
It is compatible, that is why it works with the `podman-docker` package. But when docker-compose talks to the podman socket and then it tries to use the docker commands which will talk to the docker socket it will fail. You would need to change docker-compose so that it will call podman instead of docker which your script is doing. I think this is the best workaround besides installing `podman-doc

[2021-11-08 21:34] #11394 closed

[2021-11-08 21:34] rhatdan commented on #11389
@baude any progress?

[2021-11-08 21:35] TomaszGasior commented on #12206
No. Both `docker` and `docker-compose` communicate with user-wide Podman thanks to `DOCKER_HOST` variable.

[2021-11-08 21:38] Luap99 commented on #12206
OK, in this case we would need the exact docker calls which are happening. This should work in theory

[2021-11-08 21:41] edsantiago commented on #11682
* fedora-33 : int podman fedora-33 root container
  * PR #12223
    * [11-08 12:24](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4680072280932352/html/int-podman-fedora-33-root-container.log.html#t--podman-make-sure-once-container-is-removed--1)
    * [11-08 12:24](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/

[2021-11-08 21:45] jwillikers commented on #12226
@rhatdan Please re-open this issue.
I've conferred with the Syncthing developer and both of us have a working healthcheck out-of-the-box when using Docker directly.
It appears that Podman isn't registering the healthcheck for some reason.

[2021-11-08 21:47] rhatdan commented on #12135
Since this can not be fixed in upstream podman, closing.  This should be a bugzilla.

[2021-11-08 21:47] #12135 closed

[2021-11-08 21:51] rhatdan commented on #12185
cat /proc/self/attr/current

if set, then you are on an SELinux system.

[2021-11-08 22:00] rhatdan commented on #12189
Yes the issue is inside of the container we have etc->/system/etc.
We have an serious issue that the os.Symlink actually could attempt to follow the link to the systems /system, if it existed.

This is why we should be doing this within a chroot.
chroot MOUNTDIR; ln -s /etc/mtab /proc/mountinfo

Would work.

[2021-11-08 22:09] rhatdan commented on #12206
Yes if you could get the docker commands that are blowing up, we could take a look.

[2021-11-08 22:13] rhatdan commented on #12226
The only reference to the HEALTHCHECK is in History.
Could you ask Syncthing developer how Docker knows to run a Healthcheck?  If the image does not have a healthcheck field?

[2021-11-08 22:16] rhatdan commented on #12226
Ok when I pull the image with Docker I see.

[code]
Which I don't see in Podman.

Is there two images, once OCI and one Docker format?

@mtrmac @vrothberg Ideas?

[2021-11-08 22:24] jwillikers commented on #12226
@rhatdan I've invited the Syncthing developers to respond to your question in this thread.

[2021-11-08 23:44] baude commented on #11576
@jwhonce @cdoern do the right thing here. I am too far removed from it.  We can also discuss in water cooler tomorrow if there is any open questions ...

[2021-11-08 23:44] AudriusButkevicius commented on #12226
It's just a single image that we push, for different architectures.

The layers do have the health check:
https://hub.docker.com/layers/syncthing/syncthing/1.18/images/sha256-bc5810f54839d3976ac2558fd0ad4b4e2e9987282764151690c23ae8d415ebb2?context=explore

[2021-11-09 01:08] #12207 closed

[2021-11-09 01:18] rhatdan commented on #11416
Is this fixed in podman 3.4.1

[2021-11-09 02:00] hswong3i commented on #12198
Sorry all I may no longer contribute for static build maintenance, since I had shift my focus to per-OS native deb/rpm packaging: https://build.opensuse.org/project/show/home:alvistack

e.g. When https://github.com/containers/podman/releases/tag/v3.4.1 released, I could taking care its packaging within 30mins for both Ubuntu/Debian/CentOS/Fedora/openSUSE recent releases as below:
* https://github.

[2021-11-09 02:28] ktock opened #12231 "Podman fails to pull OCI image with non-`http(s)://` urls"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman fails to pull OCI image with non-`http(s)://` urls.

**Steps to reproduce the issue:**
Podman cannot pull the following image (but Docker can).

[code]

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

OCI-compliant image should be pulled

[2021-11-09 02:30] ktock commented on #12231
This will be fixed by https://github.com/containers/image/pull/1403.

[2021-11-09 02:41] tungphuong commented on #12191
Thanks, do you have any guidelines or documents to set up? I look around but cannot find any relevant documents.

[2021-11-09 04:01] xfoobar opened #12234 "Failed to decode the keys ["infra_image"]"
/kind bug

**Description**

change default infra_image by using user config
[code]

**Steps to reproduce the issue:**

1.
```echo "infra_image = "kubernetes/pause:latest" > ~/.config/containers/containers.conf```
2.
```podman --version```

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens on

[2021-11-09 05:36] metafaniel commented on #12136
I was having the same WARN and this command solves the issue under _Fedora Remix for WSL v34_.
Thanks!

[2021-11-09 06:23] afbjorklund commented on #12191
I think we are normally using ssh for this purpose, on the other platforms (e.g. Mac)

[2021-11-09 06:27] afbjorklund commented on #12205
It's possible to use docker with runc, and podman with crun. Just not podman with runc, which might be expected ?

Something about the fuse-mounted directory, that makes it fail the mount when podman tries to make the OCI do it.

[2021-11-09 06:38] flouthoc commented on #12234
@xfoobar Value is missing closing `"` ( double-quote ) also key `infra_image` is under table `[engine]`.

So final config should look like
[code]
I am closing this issue since it looks like a typo from your end.

[2021-11-09 06:38] #12234 closed

[2021-11-09 06:55] abitrolly commented on #11394
So. no [`docker compose`](https://docs.docker.com/engine/reference/commandline/compose/) support in `podman`?

[2021-11-09 07:24] abitrolly commented on #12194
So many scary words, and still not more secure than VMs. So, what about attack vectors. SELinux potentially creates more problems that solves, but it can not be seen without specific scenarios. Here is the scenario of malicious PR request. What components are relevant here? I guess all these are designed to shut some attack vectors, so what are the vectors and risks for this story?

[2021-11-09 07:41] vrothberg commented on #12194
Again, please quote sources.  So far your claims are not backed by data.

Can you elaborate what you mean by "malicious PR request"?  Do you mean that somebody opens a PR with bad intentions to change the code in a way to create security issues?

[2021-11-09 08:31] flouthoc commented on #12189
I think moby performs unlink before creating `/etc/mtab` https://github.com/moby/moby/blob/master/daemon/initlayer/setup_unix.go#L41

@wuxxin Could you please try following diff on latest main. I am not able to use image `docker.io/redroid/redroid:11.0.0-latest` due to its weird selinux labeling so I did not try running this with `redriod`. I'll wait for your confirmation.
[code]

[2021-11-09 08:40] max06 commented on #11416
@rhatdan Sorry, I completely missed this...

Just tested: Removed all previous versions, made sure my env vars are clean. Still a lost double-quote after 3.4.1...

[2021-11-09 08:45] saschagrunert commented on #12198
The issue seems to be in those lines: https://cirrus-ci.com/task/5724808781496320?logs=main#L421-L423

We copy the `bin` directory to the target sources and therefore the Makefile thinks everything is already up to date.

[2021-11-09 08:49] abitrolly commented on #12194
@vrothberg here is the whole story about SELinux experience - https://github.com/containers/podman/issues/4794 with a closing summary "This needs to be fixed in the python3 package, I don't see anything for us to do here.", and another one is that if you need to run a container in HOME, the :z option can lock up your profile from booting, because it kills other labels.

Already wrote twice. Hoped

[2021-11-09 08:58] boaz0 commented on #10275
waiting for code review... :crocodile:

[2021-11-09 09:26] vrothberg commented on #12194
Well you claim that "SELinux potentially creates more problems that solves" which really needs more data than a single issue.  So far SELinux has proven to be a reliable security mechanism to protect from container escapes.  Note that I am not saying it is easy to use but I think it's wrong to claim it creates more problems than it solves, especially in the context of security.

I know, but I need

[2021-11-09 09:33] flouthoc commented on #12185
@stiller-leser Along with what @rhatdan mentioned could you also please paste output of `id` executed from `container` arg and the one you get after `kubectl exec`

[2021-11-09 09:49] vrothberg commented on #12226
The healthcheck is definitely in the image on the registry (and once pulled in the local containers storage):
[code]

I need to have a closer look at what's going on.

[2021-11-09 09:57] flouthoc commented on #12136
@gbraad I think the error is coming from `crun` (https://github.com/containers/crun/blob/main/src/libcrun/cgroup.c#L587) . I wonder something is up with way the cgroup is mounted, permission issue or something entirely different with `gitpod` .

Could you please paste content of  `mount`, `cat /proc/self/cgroup`,  `cat /proc/cgroups`  and `ls /sys/fs/cgroup`

[2021-11-09 10:15] flouthoc commented on #12044
@PumpkinSeed I am not sure if this will be ever directly supported in podman `run` since this looks like a very specific use-case  and as suggested by @mheon with little bit of manual plumbing `socket-actived containers` would be better solution for this.

Just marking this issue as closed but feel free to re-open or continue discussion in this thread.

[2021-11-09 10:15] #12044 closed

[2021-11-09 10:24] flouthoc commented on #12050
@cevich Please correct me if i am wrong If i recall correctly this goes in parity with issues which @vrothberg faced while working with `pause` image. But underlying issues was `overlay` inside `overlay`. So wondering if this still an issue with any actual operation.

Could you also add the `Readme.md` link where this needs to be updated.

[2021-11-09 10:37] flouthoc commented on #12043
@stellarpower Quoting above comment closing this issue.

[2021-11-09 10:37] #12043 closed

[2021-11-09 10:41] vrothberg commented on #12226
I found the issue.  `buildkit` is setting the health check in image's config while Docker and Podman set it into the image's container config.

I created a test image and will prepare a PR in containers/common.

[2021-11-09 10:46] vrothberg commented on #12226
https://github.com/containers/common/pull/822

[2021-11-09 11:10] flouthoc commented on #11902
This is fixed for `docs.podman.io`. Closing this issue.

[2021-11-09 11:10] #11902 closed

[2021-11-09 11:16] dennismeissel opened #12236 "rootless podman doesn't work on WSL2 after system restart"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If you run a container on WSL2 using `podman run -d -p 8080:80 nginx` and restart (or sign out from) your windows PC, you get an error message after every podman command, until you delete or restart a couple of times this container.

[code]

The same happens if you run a pod using the command

[2021-11-09 11:24] flouthoc commented on #11566
@mr-c Following is a duplicate of https://github.com/containers/podman/issues/11836. Closing this one so we could track implementation  at a common place. Please feel free to re-open.

[2021-11-09 11:24] #11566 closed

[2021-11-09 11:27] bogdanmuresan opened #12237 "Connection refused is returned as Connection reset by peer"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

 We have an haproxy running as podman rootless, when all frontends are disabled, it is expected we respond with 'Connection refused', but the response is actually  'Connection reset by peer'

  This can also be replicated running a container, and mapping to a closed port. The behaviour is different if the con

[2021-11-09 11:28] flouthoc commented on #11340
@vrothberg @rhatdan Afaik I think we are building `pause` locally now. Could this be closed.

[2021-11-09 11:51] giuseppe commented on #12189
I'd play safe here and handle the error.  If the `Unlink` fails for any reason, then we end up again with the same situation that the symlink exists and can point to the host.

[2021-11-09 11:53] giuseppe commented on #12189
another solution would be to use `openat2`, but it needs Linux 5.6+.  `c/storage/pkg/chunked` has `safeSymlink` function that uses it.

[2021-11-09 12:15] vrothberg commented on #11340
Good catch, @flouthoc. Yes, this issue has been resolved.

[2021-11-09 12:15] #11340 closed

[2021-11-09 12:16] vrothberg commented on #11340
We can close issues once they're merged into the main branch.

[2021-11-09 13:30] vrothberg commented on #12226
Both locations are fine.  AFAIK `buildah config ...` allows for setting it in both locations.

Yes, I will do the rest of the plumbing here.

[2021-11-09 13:31] rhatdan commented on #12194
Since this is not an issue, more of a descussion, I am going to close the issue.  You can continue the discussion here or open a discussion on github.com.

I have given many talks about container security including explaining VMs versus Containers.
https://www.youtube.com/watch?v=ZE2nI1SwSVk

[2021-11-09 13:31] #12194 closed

[2021-11-09 13:42] vrothberg commented on #12226
Actually, it fixes it entirely.  Just need to vendor in c/common.

[2021-11-09 13:59] giuseppe commented on #12154
yes, I think this can be achieved with idmapped mounts.

We will need to make it explicit though, with a new option `-v /data:/data:M`?

[2021-11-09 14:00] giuseppe commented on #12154
also, this should happen in the OCI runtime, which is currently not possible because the runtime-specs miss this feature

[2021-11-09 14:10] giuseppe commented on #12050
`/tmp` and `/run` are not needed to be on tmpfs, if the entire storage is transient.  e.g., when running in a nested container since the storage is destroyed once the parent container is removed

[2021-11-09 14:16] giuseppe commented on #11951
systemd on cgroupv1 needs the `/sys/fs/cgroup/systemd` named hierarchy to be writeable.

We have no control over that.  You need to ensure it exists in the outer container and that it is usable by systemd in a container.

[2021-11-09 14:28] stiller-leser commented on #12185
Hi everybody,

I tried creating a picture to hopefully explain this a little better:

![grafik](https://user-images.githubusercontent.com/2844279/140938217-bafb9235-e8f8-4256-8114-7f993145b9e5.png)

Here's what I tried to do in the meantime:

- Ran `cat /proc/self/attr/current`, which returned `docker-default (enforce)` in both cases
- Ran `id`, returned `uid=1000(my-user) gid=9999(my-group) group

[2021-11-09 14:28] Luap99 commented on #12237
Yes this is a slirp4netns problem.
@AkihiroSuda Can this be fixed in slirp4netns?

[2021-11-09 14:32] Luap99 commented on #12236
I recommend to mount a tmpfs on /tmp. Having the tmp files available after a reboot results in all sort of bugs. e.g. `podman ps` will show wrong information because it thinks your containers are still running.
@mheon Any other ideas?

[2021-11-09 14:36] mheon commented on #12236
At some point during system restart, `/tmp/podman-run-1000/alive` has to be removed, so we detect the restart. Recommended way of doing that is a tmpfs, as @Luap99 said, but a script doing it (so long as that script ran only once, and only ran immediately after a restart) would also work.

For now, you can manually remove the file, which will cause a restart to be detected and should make Podman f

[2021-11-09 14:39] mskarbek commented on #12199
It's a convenience request for API and Ansible use cases. Ofc it can be worked around.

[2021-11-09 14:49] mheon commented on #12205
Update: I still think this is a `runc` issue, but on examining the original issue I thought it was, it is not (that bug was specific to `--pid=host`).

Would be interesting to see an OCI spec from Docker/Containerd vs one from Podman. Fix is probably still in runc but knowing that exactly is causing it to blow up would help a lot.

[2021-11-09 14:52] mheon commented on #12050
The problem is visible with pet containers, though. If the system restarts and the outer container is subsequently restarted we will run into issues.

[2021-11-09 14:52] mheon commented on #12050
(I think toolbox either mounts host `/tmp` or their own tmpfs to avoid this)

[2021-11-09 14:54] #12198 closed

[2021-11-09 15:01] afbjorklund commented on #12205
You should be able to duplicate this on your own machine, by using the "docker" and "podman" example files.

https://github.com/lima-vm/lima/tree/master/examples

[2021-11-09 15:34] giuseppe commented on #12050
I think toolbox is mounting the host `/tmp` but also delegating podman to run on the host, not in the nested container, so it is the host responsibility to ensure `/tmp` and `/run` are on tmpfs

[2021-11-09 15:57] #12226 closed

[2021-11-09 16:29] gbraad commented on #12136
If you click the link above you can actually run it yourself and inspect.
Else you have to wait till tomorrow

[2021-11-09 16:33] LastLightSith commented on #12225
extremely sorry. this was caused by old volumes which I was using. I did not used volumes with docker thats why it was working. in reproducible example, I was using wrong credentials.

[2021-11-09 16:33] #12225 closed

[2021-11-09 16:54] wuxxin commented on #12189
@flouthoc happy to help, but i used podman from the ppa, i did not build it myself so far, (to attach the diff), but i can try in the next days, but its not a quick thing i can do.

[2021-11-09 17:01] mheon commented on #12205
That definitely seems like a bug - concur we should detect this. I'll rename the issue.

[2021-11-09 17:01] edsantiago commented on #11594
Still happening:
* 10-26 [int remote f33 root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5848798850187264/html/int-remote-fedora-33-root-host.log.html#t--podman-play-kube-with-image-data--1)
* 10-27 [int podman ubuntu-2104 rootless](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4746606357512192/html/i

[2021-11-09 17:13] afbjorklund commented on #12205
`crun`happily accepts the OCI spec with read-write - and then goes on to mount it read-only (like the original).

`runc` tries to run the OCI spec with the read-write, so that is why docker changes the spec so that it doesn't fail

[2021-11-09 17:15] abitrolly commented on #12194
Yes, the `podman` focus on trusted source scenarios is the primary reason I opened this issue. As written in its description "The usage of podman in Fedora/Red Hat ecosystem all assumes that you control and trust the source you're executing.". and this thread just confirms this.

Basically, the answer I've got so far from this thread - if I want to run untrusted sources with `podman` I should go w

[2021-11-09 17:59] TomaszGasior commented on #12194
@rhatdan You can convert issue to the GH discussion using button in right sidebar if you can manage this repo.

[2021-11-09 18:03] felixn commented on #12033
Had the same issue, `--security-opt label=disable` fixed it.

[2021-11-09 18:40] rhatdan commented on #11394
Why do you say that?  We obviously support most Docker-compose work loads.  If you want to troll and say that the latest version does not work well, then fine. If you want to see this happen faster, then roll up your sleeves and start contributing.

[2021-11-09 18:42] rhatdan commented on #11416
28 days ago, I nagged the PR to MSI, but still no movement that I can see.

[2021-11-09 18:42] rhatdan commented on #10275
@vrothberg PTAL

[2021-11-09 18:46] #11998 closed

[2021-11-09 18:49] abitrolly commented on #11394
[code]

[2021-11-09 18:50] max06 commented on #11416
/shrug
Can I add some WD-40 somewhere?

[2021-11-09 18:53] #11951 closed

[2021-11-09 18:54] abitrolly commented on #11394
And then you're saying that "Administrators/users still need to enable the service.", but neither `docker compose` nor `podman play` require any services to be enabled, and you've closed the issue, so from my side it looks like you are not going to implement the same UX.

[2021-11-09 19:01] rhatdan commented on #12199
@jwhonce WDYT?

[2021-11-09 19:20] rhatdan commented on #12189
@giuseppe Does RHEL8 has saveSymlink?

[2021-11-09 19:31] rhatdan commented on #12236
Don't see how Podman can fix this issue. Closing.

[2021-11-09 19:31] #12236 closed

[2021-11-09 20:13] cevich commented on #12050
IIRC, I was thinking of `./contrib/podmanimage/README.md` should maybe mention it so it doesn't catch users off-guard.

[2021-11-09 20:39] rhatdan commented on #11394
Podman compose does not exist in the podman command (podman-compose does, but this is a different tool).

Docker compose requires the docker daemon or podman service to be running.  So Docker and Podman have the same requirements.

Podman play kube works without a daemon.  Docker-compose does not.

[2021-11-09 20:40] rhatdan commented on #11416
Go add a further whine to #11089

[2021-11-09 20:42] rhatdan commented on #12050
Where would you like it added?

[2021-11-09 20:49] max06 commented on #11089
Jumping in here: Did something happen? Is switching to another installer an option?

[2021-11-09 20:52] rhatdan commented on #11089
I would be fine with that. (I know squat about Windows. Last touched in 1998)

[2021-11-09 21:04] cevich commented on #12050
"Sample Usage" maybe?  Though it's tricky enough of an issue, maybe it needs a dedicated section also.

[2021-11-09 21:12] cevich commented on #11089
I don't see any movement in the upstream PRs linked above.

I'm happy to help with switching to another tool/installer but....

Funny, that's the same year I gave up on it :laughing:

Seriously though...we do have the possibility of running the binary and installer build on a [Windows Container (docs)](https://cirrus-ci.org/guide/windows/), if that's "easier" for someone (I just have no idea how).

[2021-11-09 21:20] abitrolly commented on #11394
https://docs.docker.com/engine/reference/commandline/compose/ docs doesn't mention that `docker compose` requires any daemons to be manually managed by users or admins.

[2021-11-09 22:13] rhatdan commented on #11394
Try running it on a system with docker daemon shut down.

[2021-11-09 22:14] rhatdan commented on #12050
You mean in the README.md file or TROUBLESHOOTING.md or podman.1.md?

[2021-11-10 00:23] codefromthecrypt commented on #11089
The good news is the current problem is limited in scope to a point few would notice (ex who would look at the PATH after uninstall and notice aren't that many). The other good news is the upstream project isn't dead https://gitlab.gnome.org/GNOME/msitools/-/merge_requests?scope=all&state=merged

The reality I think is someone needs to recreate the linked PR as the author went AWOL. I think if the

[2021-11-10 00:27] max06 commented on #11089
Sadly it also seems to affect #11416 - there's a single double-quote at the end of the path after installation.

[2021-11-10 00:29] codefromthecrypt commented on #11089
how many more issues before someone says "alright, that's it.. I'm
rewriting msitools in go" ;)

[2021-11-10 03:18] xfoobar opened #12245 "containers.conf -> infra_image doesn't work"
/kind bug

**Description**

Cannot change infra_image  by using user containers.conf

**Steps to reproduce the issue:**

1.
[code]
2.
Edit file
[code]
3.
[code]
4.
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
It still doesn't work after modifying `/usr/shar

[2021-11-10 06:25] homayoonsadeghiarkami commented on #12085
so hi again I run some scenario and here is my result, First I run the container Like this:
`podman run -d --name glusterfs --hostname glusterfs -v /data/volume1:/data/glusterfs/gvol-primary/brick1/brick --cap-add SYS_ADMIN --cap-add NET_RAW --cap-add NET_ADMIN -v /dev/fuse:/dev/fuse -p 2222:2222,111:111,24007:24007,24008:24008,49152:49152 --log-level=debug -t glusterfs9:local`
the logs from stdou

[2021-11-10 07:23] Mingli-Yu opened #12246 "failed to make veth pair: operation not supported"
[code]

[2021-11-10 08:39] PavelSosin-320 opened #12247 "Podman replicates all artifacts in the "rootless_storage_path" to every account on BTRFS-based Linux workstation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After playing with Podman under my own account on Fedora34 Workstation I found numerous subvolumes in the /.local/share/containers/storage of another user account created on the same workstation

**Steps to reproduce the issue:**

1. Login to the User account 1

2. Config storage.conf to use

[2021-11-10 08:46] mscherer commented on #11842
Why is the bug closed ? There was no sign of it being fixed, and and I gave all information. Should I repopen a bug and link that one ?

[2021-11-10 08:49] vrothberg commented on #10275
I am reviewing daily but my comments must be addressed.

[2021-11-10 09:11] giuseppe commented on #12247
The BTRFS backend is **not** supported in any Red Hat product.  It is present only in the upstream project.

I had a quick look at the btrfs code and I don't see anywhere that could create subvolumes with a different user.

If you manually create a subvolume in the `subvolumes` directory in your user storage, does it get propagated to other users as well?  If that happens, then it is out of the co

[2021-11-10 09:12] giuseppe commented on #12246
it looks like your kernel doesn't support veth pairs.

What kernel are you using?

[2021-11-10 10:02] christopherchong94 opened #12248 "[podman machine] Port auto-forwarding does not work in macOS when used with podman play kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I run podman machine on MacOS. When I try to spin up containers by using `podman play kube` on k8s yaml file, I cannot seem to access my rootless container - automatic port forwarding by gvproxy does not work when I start the container and expose the port.

**Steps to reproduce the issue:**

[2021-11-10 10:04] vrothberg commented on #12245
Thanks for reaching out, I'll prepare a fix.

[2021-11-10 10:05] giuseppe commented on #12245
opened a PR: https://github.com/containers/podman/pull/12249

[2021-11-10 10:06] giuseppe commented on #12245
@vrothberg ah sorry, I was working on that already, does the fix LGTY?

[2021-11-10 10:21] vrothberg commented on #12245
LGTM

[2021-11-10 10:24] giuseppe commented on #12245
I've closed #12249 in favor of #12250

[2021-11-10 10:25] vrothberg commented on #12245
:rofl: a double-race :-)

[2021-11-10 10:29] vrothberg commented on #10782
ping

[2021-11-10 10:31] giuseppe commented on #12205
The way crun implemented it is to first try the mount, and if it fails then check the mount options for the source and attempt again with `ro` if it is present there.

How to check it beforehand?   Does docker adds `ro` anytime the source is mounted as read only?

[2021-11-10 10:32] vrothberg commented on #10391
Apologies for missing the ping.  Yes, I am sure we can assemble the storage path in libimage.

[2021-11-10 10:34] vrothberg commented on #11382
ping

[2021-11-10 10:41] vrothberg commented on #10876
@baude, do you recall the team's ideas?

[2021-11-10 11:20] Footur commented on #11842
@mscherer, can you please respond to rhatdan's comment.

[2021-11-10 11:33] karthikeyansundararajan-agi commented on #12248
Facing the same issue.
macOS Monterey version 12.0.1
Podman:
version:
  APIVersion: 3.4.1
  Built: 1634740316
  BuiltTime: Wed Oct 20 14:31:56 2021
  GitCommit: ""
  GoVersion: go1.16.8
  OsArch: linux/amd64
  Version: 3.4.1

[2021-11-10 11:36] Luap99 commented on #12248
Can you try with `podman play kube  --network bridge pod.yaml`?

[2021-11-10 11:44] giuseppe commented on #11544
are there containers running when you run `du`?

Do you get the same result if you add `--one-file-system` to `du`?

[2021-11-10 12:02] giuseppe commented on #12189
openat2 is available on RHEL8.

`safeSymlink` is is defined here: https://github.com/containers/storage/blob/main/pkg/chunked/storage_linux.go#L819

[2021-11-10 12:07] vrothberg commented on #10927
I'll take a stab at it.  Thanks for assembling the data, @edsantiago!

[2021-11-10 12:27] #11547 closed

[2021-11-10 12:29] vrothberg commented on #11541
@guillaumerose @dustymabe friendly ping

[2021-11-10 12:36] vrothberg commented on #11970
I'll tackle it.  Not a bug but easy to get done.

[2021-11-10 12:37] vrothberg commented on #10927
[code]

Ran over 30 minutes but no failure.  I'll have a look at the code; maybe I can come up with a theory but a reproducer would be great.

[2021-11-10 13:46] giuseppe commented on #9201
there was no feedback since February.  Please reopen if you've more data

[2021-11-10 13:46] #9201 closed

[2021-11-10 14:19] edsantiago opened #12254 "play kube: brings in unwanted k8s pause"
IIUC the world has changed, and pods no longer need k8s/pause. `podman play kube` fetches it anyway:
[code]
I expected to see `localhost/podman-pause`; did not expect to see the `k8s` one.

main @ 5437568fcda04c2999b5fa9aad4dd07f2d3cfd67

[2021-11-10 14:40] #12245 closed

[2021-11-10 14:55] dustymabe commented on #11541
I'm no expert here. So mac/windows don't have a good way to keep VM clocks in sync with the host clock but the code in https://github.com/linuxkit/linuxkit/commit/d24d0bd559ad756314ecafb1d0ea2d6d4aef31ae knows how to extract that information from the hypervisor and apply it to the VM?

If there is a way to extract the host time from the guest I'm surprised linux (or some builtin userspace daemon)

[2021-11-10 15:00] rhatdan commented on #11905
This seems to be a factor in Docker hard coding the registry into the tool.
[code]
Now Podman could do something similar and walk through the registries and grab images that match or just look for images that end with a '/' and only match on the final image name.

Docker only matches on the full image name.
[code]

[2021-11-10 15:03] rhatdan commented on #11905
If I manually add the glob, it works.
[code]
But only at the end.

[code]

[2021-11-10 15:14] christopherchong94 commented on #12248
I got the following error

[code]

According to https://docs.podman.io/en/latest/markdown/podman-play-kube.1.html#network-mode-net, the network mode bridge needs to be defined in k8s yaml — how do I define that in my `pod.yaml`?

[2021-11-10 15:18] Luap99 commented on #12248
I do not think you can set bridge explicitly. Unless host networking is set in the yaml it should use bridge.
Can you provide the output of `podman inspect $(podman pod inspect --format {{.InfraContainerID}} <podname>)`.
Also could you try with `podman play kube --network podman pod.yaml`

[2021-11-10 15:27] giuseppe commented on #10876
I don't think Podman needs to deal with this issue.  If you run out of space, then you need to clean up something to make it possible for Podman to work.

If you know you are going to end up without any space left, one possible solution is `touch /var/lib/containers/storage/{remove_me_if_needed,remove_me_if_needed2}` that you can delete when needed.

I am closing the issue, but please reopen if yo

[2021-11-10 15:27] #10876 closed

[2021-11-10 15:31] vrothberg commented on #10876
I am torn since I sympathize with the expectation that `podman system prune -f` would be able to free up space.

I am not sure _why_ writing a temporary images.json would trigger that error though.  Shouldn't the images have been free'd prior to writing that?  Could it be a kernel fart that the write is scheduled prior to deleting the image(s)?

[2021-11-10 15:41] giuseppe commented on #11526
since there was no feedback, I am closing the issue.

Please reopen if you still have the problem

[2021-11-10 15:41] #11526 closed

[2021-11-10 15:49] giuseppe commented on #11841
I am closing the issue since I've got no feedback on my last question.

Please reopen if the issue still persists

[2021-11-10 15:49] #11841 closed

[2021-11-10 15:50] vrothberg commented on #9957
@jwhonce do you want to tackle it?  4.0 is coming closer

[2021-11-10 15:58] cevich commented on #12050
Oh that's a thought, maybe all three?  I was thinking of the podman container images primarily because it seemed a likely place for someone to run into this.  But those other docs seem reasonable as well, especially `TROUBLESHOOTING.md`.

[2021-11-10 16:09] kishorekkota commented on #12132
I have the same issue as well.

[2021-11-10 16:09] adrianreber commented on #11945
I had a look at it and the used runtime is actually part of the checkpoint (config.dump: `"runtime": "crun",`). I tried to create a patch, but the problem is that the runtime is selected very early in the code path and once we unpack the checkpoint archive the runtime is already selected.

I was not sure if I can just change the name and path of an existing runtime. It felt not like the right thin

[2021-11-10 16:33] cevich commented on #11089
If you speak batch/powershell, you're well ahead of basically everybody here.  You're more than welcome to experiment/learn in a PR.  Something like...

[code]

(Note: This assumes the proper `Makefile` changes - or just replace the call to `make` with whatever build commands are needed)

[2021-11-10 16:37] carlhoerberg commented on #11945
I'm glad closing this as there's a working solution for the issue, maybe just add a note to the documentation and call it a day?

[2021-11-10 16:39] mheon commented on #11945
@adrianreber I think we need to check if the runtime requested by the checkpoint exists in our available runtimes - if it does not, we can give a sane error back to the user ("checkpoint was created using "runc" but Podman does not recognize this runtime" or similar.

[2021-11-10 16:43] max06 commented on #11089
Oh ... I tricked myself into that one, didn't I? 😅

Not promising anything here, I have no clue about your toolchain at all, or about cirrus. But I'll see what I can figure out!

[2021-11-10 16:46] cevich commented on #12029
Update: I've moved the workaround into the podman CI scripts, since that will be easier to un-do later.  Ref: https://github.com/containers/podman/pull/11795/commits

[2021-11-10 16:53] cevich commented on #11089
Yep, and I jumped on the opportunity :grin: But we can offer you plenty of :cookie: in exchange for your toil :rofl:

No worries in any case, what we have now mostly "works", so it's fine if it's only a learning exercise, or you abandon it from the start in favor of more healthy :carrot:

[2021-11-10 16:56] Luap99 commented on #11089
If we use windows we can use [wix](https://wixtoolset.org/) to create the msi installer, this would allow us to use all msi features instead of being limited to msitools on linux.

[2021-11-10 17:23] max06 commented on #11089
There's actually a [docker image](https://hub.docker.com/r/felfert/wix) for wix on linux.

[2021-11-10 17:26] edsantiago commented on #12167
@jwhonce could you make time to look at this please?

### podman system service verify pprof endpoints [It] are not available
* fedora-34 : int podman fedora-34 rootless host
  * PR #12235
    * [11-09 04:36](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6272633235832832/html/int-podman-fedora-34-rootless-host.log.html#t--are-not-available--1)
    * [

[2021-11-10 17:27] #11970 closed

[2021-11-10 18:04] RobertBerger opened #12259 "atomic container updates"
Do you provide atomic container updates with podman?

If not how do you suggest this can could be done?

[2021-11-10 18:25] jwhonce commented on #10974
@vrothberg @rhatdan Dug through the text/tabwriter library, docker and podman formatting code to determine the root reason for the difference.

Summary: Both leverage Go's text/template library. Podman always uses a text/tabwriter when rendering the output for commands using the common/report pkg. Docker only uses text/tabwriter when the "table" keyword is given in the --format value.

I have an i

[2021-11-10 18:47] mtrmac commented on #11636
- Are there any credential helpers configured in `~/.docker/config.json` or `~/.config/containers/auth.json`? In `registries.conf`?
- Logs of `podman --log-level=debug login` and `podman --log-level=debug pull` could help reveal what is being read/written.

[2021-11-10 19:10] edsantiago commented on #10927
I can't reproduce on my laptop either, but on a 1minutetip f34 VM it fails instantly, on the very first try:
[code]
After that first time it still fails, but only once in 4-5 times. Note that it fails even without `< /dev/null` on either podman command.

podman-3.4.1-1.fc34.x86_64
conmon-2.0.30-2.fc34.x86_64

[2021-11-10 19:12] edsantiago commented on #10927
One more note: I think the `-it` is needed on `exec`. Without it, I can't reproduce the failure.

[2021-11-10 19:20] rhatdan commented on #12050
Care to open a PR against troubleshooting.md

[2021-11-10 20:09] Luap99 commented on #11558
PR #12260 should fix this

[2021-11-10 20:32] erikarvstedt commented on #10337
Support for `close_range` has only recently been added to seccomp:
https://github.com/seccomp/libseccomp/commit/ac849e7960547d418009a783da654d5917dbfe2d

[2021-11-10 20:33] rhatdan commented on #10782
Since we have no input, I am closing.  Reopen if you still want this worked on, and can provide more data.

[2021-11-10 20:33] #10782 closed

[2021-11-10 20:35] rhatdan commented on #11842
If you respond then we can continue the conversation.  We have hundreds of issues, and when reporters do not responde for 30 days I close the issue.

[2021-11-10 20:41] rhatdan commented on #12189
Care to open a PR to fix this?

[2021-11-10 20:55] rhatdan commented on #10927
mheon PTAL

[2021-11-10 20:56] rhatdan commented on #10927
One would think this is a race between podman run creating the container and launching conmon, and podman exec gets to talk to conmon before it knows there is a container,causing some issues.

[2021-11-10 21:08] rhatdan commented on #12247
Could this be systemd restart script looking in all user accounts to see if they have a restart container waiting to start?

[2021-11-10 21:12] mheon commented on #10927
Very difficult to track this down without a repro - we need to know what's going on with Conmon such that it's blowing up (personally I think Conmon is probably either segfaulting or just printing the error to the journal and exiting without reporting the real error to Podman). Might be logs in the journal that will help us?

[2021-11-10 21:12] mheon commented on #10927
@rhatdan It's not actually container create that's failing, that's a bad error message. We're trying to make a Conmon for the exec session but Conmon is failing with no logs as to why.

[2021-11-10 21:21] rhatdan opened #12262 "Exited pod can not be started after a while"
### Discussed in https://github.com/containers/podman/discussions/12252

<div type='discussions-op-text'>

<sup>Originally posted by **dispensable** November 10, 2021</sup>
Hi, I am currently using podman pod manage my dev environment. After dev done, i am used to `podman pod stop` my pod for less resource consume. But after a while (maybe 3 or 4 days ?), I wanna resume my dev env from exited pod

[2021-11-10 21:21] rhatdan commented on #12262
@mheon you have it as an issue now.

[2021-11-10 21:42] rhatdan commented on #12254
@vrothberg PTAL

podman/pkg/domain/infra/abi/play.go is pulling the image.

[2021-11-10 21:57] rhatdan commented on #12259
I am not sure what you mean here.  We do have auto-updates.

https://fedoramagazine.org/auto-updating-podman-containers-with-systemd/

[2021-11-10 22:12] douglas-legulas opened #12263 "podman logs -f (follow) stops working after a while"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The follow `-f` option only works once after creating the containers. If you stop the pod with `podman pod stop`, the next time you start them the follow option will only print logs and quit immediately after, without "following".

**Steps to reproduce the issue:**

1. Start the container nam

[2021-11-10 22:29] #12038 closed

[2021-11-10 22:35] edsantiago commented on #10927
@mheon see my `1minutetip f34 VM` comment above. It reproduces reliably.

[2021-11-10 23:20] mheon commented on #12262
I mostly wanted the issue so the reporter would have to fill out the issue template (`podman info`, `podman version`, environment details) :smile:

[2021-11-11 00:48] spkane commented on #11636
Thank you for that feedback @mtrmac. It helped me narrow down the issue.

* Something very close to this was in my `~/.docker/config.json`:

[code]

Removing it works around the reported problem, but is obviously not the desired solution.

After looking at the debugging below, I saw this:

[code]

So, it appears to be trying to lookup the credentials for that registry even though I am not trying t

[2021-11-11 01:08] mtrmac commented on #11636
Is this a “remote” Podman connecting to a remote server?
[code]

In that case, IIRC `podman pull` on the client collects all credentials and sends them to the server, even for registries not specifically named on the command line (@vrothberg please confirm or correct me); that’s necessary to support mirrors (… without excessive implementation complexity, at least).

[2021-11-11 02:20] Mingli-Yu commented on #12246
The kernel version is 5.10.75, how to configure the kernel to support veth pairs, any hints? Thanks,

[2021-11-11 03:05] RobertBerger commented on #12259
Maybe I should mention, that I am talking about Embedded Linux systems. You might want to have a look here[1] but let me try to explain what I mean. Think about a headless system in the field which gets over-the-air software updates. There is no user available to manually fix things. The software update process needs to be flawless and atomic and must not leave the device in a non-working state.

[2021-11-11 03:18] christopherchong94 commented on #12248
`podman play kube --network podman pod.yaml` works! I can access my container via localhost.

Output from `podman inspect $(podman pod inspect --format {{.InfraContainerID}} <podname>)`
[code]

[2021-11-11 03:39] dispensable commented on #12262
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After a `podman pod stop` for a while, exited pod can not start with `podman pod start`. Got a error: `Error: error starting container 0bb63adcda1bafe126e5ad1369dbc1bed40a25c0a1a0e0384fe07d81eb808c23: open `/proc/17813/ns/net`: No such file or directory: OCI runtime attempted to invoke a comm

[2021-11-11 03:41] dispensable commented on #12262
@mheon Thank you for your time. I can provide more info if you need.

[2021-11-11 04:05] dispensable commented on #12262
Should we upgrade our crun version ?

[2021-11-11 04:40] mheon commented on #12262
Can you get a `podman pod inspect` on a pod that reproduces (and, ideally, a `podman ps -a` while there's a pod that won't restart)? I have a suspicion something is killing the pause container and its associated conmon, and that's causing us to believe it's still running and try and reuse its namespaces.

[2021-11-11 06:32] PavelSosin-320 opened #12264 "Security issue on Linux Workstation with multiple accounts: cross-account artifact creation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman randomly creates BTRFS subvolumes representing OCI artifacts on the Fedora 34 workstation with multiple accounts when accounts are frequently switched. Accounts that were never used for running Podman get btrfs subvolumes when another account creates/runs containers.
**Steps to reprodu

[2021-11-11 07:03] dispensable commented on #12262
**podman pod inspect**

[code]

**podman ps -a**
[code]

**podman logs infra container**
[code]

And a weired thing happend:

[code]

[2021-11-11 08:27] flouthoc commented on #12189
I tried following diff for running this container. Container **runs** successfully but  `qemu` inside `redriod` panics without any logs. I am not sure why is `redroid` panicking without any logs.

[code]

[2021-11-11 08:33] flouthoc commented on #12189
I can see on redroid github issues similar crash reports for other platforms as well. But really hard to identify quickly now if its crashing because podman or because of my host configuration since its leaving no logs behind.

I get almost 0 logs.

[2021-11-11 08:55] giuseppe commented on #12246
My suggestion is to start from a known working configuration, like the Fedora kernel configuration: https://src.fedoraproject.org/rpms/kernel/blob/rawhide/f/kernel-x86_64-fedora.config

[2021-11-11 08:55] #12246 closed

[2021-11-11 08:59] giuseppe commented on #12189
this doesn't seem correct.

Why a container image cannot have a symlink for `etc`?  We need to deal with it and resolve it inside the container

[2021-11-11 09:48] flouthoc commented on #12189
@giuseppe After unlinking `/etc/mtab` the call fails with `Error: error creating mtab directory: mkdir <mountpoint>/merged/etc: file exists`  since there is a symlink for `/etc` as well.  But i agree that should be handled.

[2021-11-11 10:42] giuseppe commented on #12189
I'll open a PR to fix this issue

[2021-11-11 11:20] freva opened #12266 "`podman images` slow with `--uidmap`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We run a single ~6 GB podman image with multiple containers, each rootfull and with a unique `--uidmap` & `--gidmap`. When running many (~20-30) such containers `podman images` command becomes very slow. After a quick look with `strace` and some other debugging, I believe most of the time spe

[2021-11-11 11:25] giuseppe commented on #12189
PR: https://github.com/containers/podman/pull/12267

After the PR still requires that the target for the `/etc` symlink exists in the container, so if you have a `etc -> /system/etc` symlink, you need to make sure `/system/etc` exists.  We could take care of it, but it is more expensive as we need to iterate each component

[2021-11-11 11:38] PavelSosin-320 commented on #12264
And the reason is in the systemd: there is long discussion but it looks like XDG_CONFIG_HOME, XDG_DATA_HOME, etc. are not set automatically, at least at the beginning of user's GUI session startup by systemd. It is not set synchronously. The user's systemd configuration lacks of targets, except the default. I hope that everything that needs complete configuration presence can wait for [systemd-pam

[2021-11-11 12:10] mskarbek opened #12268 "`podman load` unreliable with ZFS driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Occasionally `podman` fails to load image with error:
[code]

Let's say I have a few images to load from archives:
[code]
At some point, ZFS driver just fails unexpectedly:
[code]
Debug log from a single occurrence of the error:
[code]

Working solution for now is to remove `podman`storage db

[2021-11-11 13:22] Masber commented on #5296
I got around this issue running:
[code]

[2021-11-11 13:32] Luap99 commented on #12248
The podman inspect output is from the working pod, right?

[2021-11-11 13:48] rhatdan commented on #11533
@tk185141 @afbjorklund Is this something you are willing to write up a document on to explain how to set this up, then we could add it to the installation guide.

[2021-11-11 13:50] rhatdan commented on #11146
@edsantiago giving up yet?  :^)

[2021-11-11 13:51] edsantiago commented on #11146
Absent a way to reproduce this, I see no alternative.

[2021-11-11 13:51] #11146 closed

[2021-11-11 14:15] mheon commented on #12262
This generally seems to match my thinking - the IDs that are failing are always the infra ID, so it seems like something is going on.

Can you do a `podman inspect` on the infra container's ID, find it's PID (should be at the top with the state information), and verify that PID is actually running? Alternatively, when it says "open `/proc/37393/ns/net`", the 37393 is the PID.

[2021-11-11 14:37] rhatdan commented on #12259
Sounds interesting,  @vrothberg WDYT?

[2021-11-11 14:38] #11558 closed

[2021-11-11 14:45] mheon commented on #12268
Error's coming out of c/common image library, but I suspect it's hiding a real error from c/storage. @vrothberg PTAL

[2021-11-11 14:47] mheon commented on #12266
@vrothberg PTAL, I know you've been doing some work in this area.

@freva Any chance you can try with a more-recent Podman (3.4.x ideally)? We've definitely made some improvements already in this area.

[2021-11-11 14:56] mheon commented on #12263
Can you update your reproducer? Your description mentions `podman pod stop` but I don't see anything about it in the reproducer.

[2021-11-11 15:15] douglas-legulas commented on #12263
I forgot to add it. Here it is.

[LegulasPod.zip](https://github.com/containers/podman/files/7521339/LegulasPod.zip)

It's the same pod from the other issue.

### To reproduce:

1. Build the pod (as root). When it ends, the pod will be running.
[code]

2. Try to follow the logs (it should work)
[code]

3. Stop the pod
[code]

4. Start the pod
[code]

5. Try to follow the logs again (this time it w

[2021-11-11 15:15] dispensable commented on #12262
# inspect infra container
[code]

[code]
[code]

The infra container pid not exits as you see.

[2021-11-11 15:18] rhatdan commented on #12264
What change would be required to make that happen?

[2021-11-11 15:50] kolyshkin commented on #12205
@afbjorklund does it work if you run it as `podman --remote run -it -v $PWD/hello:/hello:ro docker.io/busybox cat /hello/world` (e.g. add `ro` flag)?

[2021-11-11 16:10] mheon commented on #12262
The infra container is dead, but *conmon* is still alive? That's... very unusual.

@haircommander Any thoughts here? Conmon detecting exit and exiting itself seemed pretty foolproof last I checked it.

[2021-11-11 16:19] mscherer commented on #11842
Well, I can answer, but I do not understand the question, as it seems not related to the problem from my perspective.

The volume /drone is created by podman, as the API call do not have a src directory in argument, cf my 1st comment. From what I understand, that mean that podman will create it on the fly in /var/lib/containers/

The container is started with Workdir set to a subdirectory of that

[2021-11-11 17:33] edsantiago commented on #10927
Here's one in the brand-new [ubuntu-2110](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5861486519123968/html/int-podman-ubuntu-2110-root-host.log.html#t--podman-exec-terminal-doesn--39-t-hang--1)

[2021-11-11 19:43] afbjorklund commented on #12205
Adding an explicit `:ro` to the mount made it work also with runc, but would require modifying every command line and specification and would be very intrusive.

Running with root also "worked".

[2021-11-11 19:44] rhatdan commented on #12263
Is this with journal back end?

[2021-11-11 19:47] #12189 closed

[2021-11-11 19:50] rhatdan commented on #11842
In the compat API we should just force the CreateWorkingDir option. please open a PR for that.

[2021-11-11 20:24] douglas-legulas commented on #12263
Sorry, how do I check that?

[2021-11-11 20:34] edsantiago opened #12273 "flake: check dnsname plugin test"
Seeing this one a lot lately:
[code]
### Podman run networking [It] podman run check dnsname plugin
* fedora-33 : int podman fedora-33 root container
  * PR #12098
    * [10-26 13:18](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5640711879000064/html/int-podman-fedora-33-root-container.log.html#t--podman-run-check-dnsname-plugin--1)
* fedora-33 : int

[2021-11-11 21:21] rhatdan commented on #12263
podman info

[2021-11-11 22:09] douglas-legulas commented on #12263
`journald`, I suppose. Yeah.

[code]

[2021-11-12 01:26] Mingli-Yu commented on #12246
Thanks, install xt_conntrack.ko address the above error.

[2021-11-12 01:59] spkane commented on #11636
I am running `podman machine start` on my Mac. I suppose that could be considered remote, since it is a VM by necessity.

[2021-11-12 02:02] spkane commented on #11636
If what you suspect is true, maybe simply printing a warning would suffice if it can't find credentials for one of the registries, and leave it up to the remote system to throw an error if it actually fails to auth against the registry...

[2021-11-12 02:21] christopherchong94 commented on #12248
Yep!

[2021-11-12 03:06] nivekuil commented on #11544
yes

It's closer, but still not quite matching:

~# podman system df
TYPE           TOTAL       ACTIVE      SIZE        RECLAIMABLE
Images         25          18          3.629GB     1.05GB (0%)
Containers     39          38          409.5MB     0B (0%)
Local Volumes  34          18          3.734GB     655.4kB (0%)

~# du -hs /var/lib/containers/storage/
19G	/var/lib/containers/storage/

~# du -h

[2021-11-12 04:22] unknowndevQwQ commented on #12142
@rhatdan I want to know what environment variables podman passes to oci runtime

Related questions: https://github.com/google/gvisor/issues/6849#issuecomment-966525492

[2021-11-12 08:52] wabuMike commented on #10800
I'm having the exact same errors on Ubuntu 20.04.3 LTS after restarting the system. Everything works until the system is restarted.

[2021-11-12 09:59] vrothberg commented on #12266
Thanks for the ping, @mheon!

I recently did some major improvement to speed-up image listing.  But those improvement only apply when there is more than one image.  In this case, we have exactly one image and the performance degrades with the number of containers using that image.

[code]

That is very suspicious as the the image has been listed initially to be `6.33 GB`.  It seems like something'

[2021-11-12 10:07] Zplusless opened #12275 "podman checkpoint failed because of 'external socket is used'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

 checkpoint a container failed and the dump.log says it result from "external socket is used"
**Steps to reproduce the issue:**

1. start the container using
[code]

2. checkpoint the container with
[code]

3. the image `docker.io/zzdflyz351/snake-edge` starts a container that can run a littl

[2021-11-12 10:08] rst0git opened #12276 "Container checkpoint fails with --ipc=host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container checkpoint fails when then the container is running with `--ipc=host`

**Steps to reproduce the issue:**

1. `sudo podman run --ipc=host --name some-postgres -e POSTGRES_PASSWORD=mysecretpassword -d postgres`

2. `sudo podman container checkpoint some-postgres`

**Describe the resul

[2021-11-12 10:08] vrothberg commented on #12266
Not sure if I will find time today but I will next week.

[2021-11-12 10:18] rst0git opened #12277 "checkpoint/restore fails with PostgreSQL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container checkpoint fails for PostgreSQL without the CRIU fix in https://github.com/checkpoint-restore/criu/pull/1622.
However, with this fix container restore still fails due to missing files in `/dev/shm`

**Steps to reproduce the issue:**

1. `sudo podman  run --name some-postgres -e POST

[2021-11-12 11:02] vrothberg commented on #12259
Pulling in @giuseppe since he has been working in this domain as well.

My gut feeling is that auto-updates and the recent fixes and enhancements to detect corrupt images are sufficient. But it would be a healthy exercise to go through all scenarios in detail. I am not sure about the exact limitations of detecting storage corruptions.

Since Podman 3.4, auto-updates also support rollbacks which pl

[2021-11-12 11:23] MitrichDot opened #12278 "LGTM"
LGTM

_Originally posted by @umohnani8 in https://github.com/containers/podman/issues/12271#issuecomment-966368510_

[2021-11-12 11:23] #12278 closed

[2021-11-12 12:00] rhatdan commented on #12263
@nalind PTAL

[2021-11-12 12:14] mscherer commented on #11842
Done. So far, I tested by replacing podman on my personal CI, but I will also add it to ./python/docker/compat/ once I have a grasp of the current testing infra.

[2021-11-12 12:21] vrothberg commented on #12266
@giuseppe PTAL

The reproducer works reliably on my machine as well.  Looks c/storage related to me.

[2021-11-12 12:33] Zplusless commented on #12275
latest test on Ubuntu 20.04 with Podman 3.3.1

dump.lod:
[code]

[2021-11-12 12:38] RobertBerger commented on #12259
@vrothberg Which version of `podman` do I need at least to run some tests? This is what's currently on offer with `meta-virtualization` [1]

[code]

I will use a `btrfs` partition while will hold the containers.

Probably, with your help, we can come up with some test cases. I'm willing to run some experiments as time permits.

[1] https://git.yoctoproject.org/cgit/cgit.cgi/meta-virtualization/tre

[2021-11-12 12:40] vrothberg commented on #12259
@RobertBerger, you seem to be on Podman 3.4 which is the latest version.  We can't get any fresher :-)

[2021-11-12 12:46] RobertBerger commented on #12259
@vrothberg OK cool. I am currently baking something else, but as soon as I'll find some time I'll build some image with this and we can give it a try ;)

[2021-11-12 12:48] vrothberg commented on #12254
Thanks for the report and the ping.

Here's a PR to fix the issue: https://github.com/containers/podman/pull/12280

[2021-11-12 12:49] vrothberg commented on #12259
Thank you, @RobertBerger!  I'd love to put our heads together on this issue and collaborate.

[2021-11-12 13:09] giuseppe commented on #12266
this problem will go away once we move to idmapped mounts

[2021-11-12 13:31] RobertBerger commented on #12259
@vrothberg Thanks! Seems a pretty common issue, but, as far as I know, only has "not so open" solutions or rather complicated ones.

[2021-11-12 13:58] bogdando commented on #9128
Is there an option to use pre-created (unshared) cgroup,ipc,net,uts,pid etc namespaces to call an equivalent of ``podman pod create -n testpod1 --share cgroup,ipc,net,uts,pid`` but via podman-py?

[2021-11-12 14:00] homayoonsadeghiarkami commented on #12085
@rhatdan @mheon
do you figure it out what is the problem with the cleanup process which is not firing after the deletion of pod/container? or how should I solved it for now except to cleanup them myself?

[2021-11-12 14:03] cevich commented on #12050
TBH, I understand the basic technical issue here, but not the full practical effects or implications.  I don't feel I have enough experience to offer much on the troubleshooting topic.  I just thought we maybe needed to add a few `--tmpfs` args in the example...as a very blunt instrument to cover some abstract class of issues for people who use this container.

[2021-11-12 14:28] vrothberg commented on #12268
Probably ZFS related which I have absolutely no experience in.  @giuseppe, do you have advice?

[2021-11-12 14:43] lsm5 commented on #11860
We're not doing builds for 18.04 anymore. https://podman.io/blogs/2021/03/02/podman-support-for-older-distros.html

I recommend switching to 20.10 or higher with podman in the default repos, or at least 20.04 LTS which can get podman from the Kubic repos.

HTH.

[2021-11-12 14:43] #11860 closed

[2021-11-12 14:44] vrothberg commented on #12007
... continuing now

[2021-11-12 14:49] lsm5 commented on #11852
@srbala we recently removed installation steps for Kubic packages on CentOS 8 from the official podman docs because the Kubic packages were causing issues for someone (I think it was the Ceph team). Given that removal + CentOS 8 going EOL sometime this December (IIRC) + availability of latest podman builds in in the default repos on CentOS 8 Stream (& 9 Stream), it's really not worth maintaining t

[2021-11-12 14:49] #11852 closed

[2021-11-12 14:55] vrothberg commented on #11897
Closing as it's fixed in the main branch.

[2021-11-12 14:55] #11897 closed

[2021-11-12 15:00] vrothberg commented on #11896
Apologies for the silence, @deexitp-splunk!

I recommend having a look at how Podman uses the bindings here https://github.com/containers/podman/blob/main/pkg/domain/infra/tunnel/events.go#L14

[2021-11-12 15:00] #11896 closed

[2021-11-12 15:06] vrothberg commented on #11964
I want to find consensus on how to proceed.  To summarize the issue:

* We have consensus that Podman should only resolve to local images with the `latest` tag.  Hence, even if there's a local image `foo:123` Podman would (conceptually) resolve `foo` to `foo:latest` and ignore `foo:123`.

We do not have consensus on the already mentioned scenario:

I think we run at risk of breaking existing Podma

[2021-11-12 15:07] mheon commented on #12085
We need logs from the cleanup process, which are only printed to the system journal, not the terminal. Running with `--log-level=debug` turns on debugging for the cleanup process, which runs after Podman does and cleans up after the container.

[2021-11-12 15:14] devfbe opened #12282 "Podman Machine on Mac: podman build --net doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm using podman machine on a mac. I have the requirement to spawn a container which is available in an own network and accessible for container images during build (it's an authentication proxy that handles all credential / ssl stuff so that I don't need to pass it to the image to build). Cr

[2021-11-12 15:16] homayoonsadeghiarkami commented on #12085
Hi thanks but I uploaded the system journal logs in two .txt files, they are attached to the previous comment. or should I do something else?

[2021-11-12 15:16] vrothberg commented on #12035
@GolanTrevize10 are you still seeing the issue?

Cc: @giuseppe

[2021-11-12 15:19] mheon commented on #12085
```Nov 10 09:23:00 glusterfs /usr/bin/podman[2209]: time="2021-11-10T09:23:00+03:30" level=error msg="unable to cleanup network for container 5683796a6638b0c4b9e855f64ba67741de9faac0614bbcafde874235b19e6920: \"error tearing down CNI namespace configuration for container 5683796a6638b0c4b9e855f64ba67741de9faac0614bbcafde874235b19e6920: error removing pod glusterfs_glusterfs from CNI network \\\"pod

[2021-11-12 15:21] haircommander commented on #12262
can we do an strace on the conmon process? that may help us glean where it's at

[2021-11-12 15:24] Luap99 commented on #12085
Is is not properly fixed but it should not cause such problems at the moment. The actual fix will be in 4.0.

[2021-11-12 15:31] ncdc commented on #11528
FYI, I think once this is fixed, https://github.com/kubernetes-sigs/kind should be able to work OOTB with podman!

[2021-11-12 15:45] #12254 closed

[2021-11-12 15:51] dispensable commented on #12262
[code]

[2021-11-12 15:53] Luap99 commented on #12282
Does it work with local podman on linux? I do not think custom networks are supported by `podman build --network`.

[2021-11-12 15:55] #11842 closed

[2021-11-12 15:57] PavelSosin-320 commented on #6383
@giuseppe This is exactly the same problem that holds me already more than month in #https://github.com/containers/podman/issues/12247 and #https://github.com/containers/podman/issues/12264 and .. all my other issues. The only differences is that I use Fedora 34 Workstation with GNOME 4 and,  another method to switch users. This is exactly the same Systemd environment hell ! When GNOME session is

[2021-11-12 16:12] rhatdan commented on #12268
We have no clue and little experience with zfs, I would recommend you switch to Overlay,

[2021-11-12 16:25] rhatdan commented on #9128
Better off asking that question at podman-py, I don't know.

[2021-11-12 16:26] rhatdan commented on #11528
Should we close this issue?

[2021-11-12 16:28] ncdc commented on #11528
@rhatdan why?

[2021-11-12 16:38] Luap99 commented on #11528
I am working on it right now

[2021-11-12 17:57] rhatdan commented on #12142
Looks like it passes down:
[code]

[2021-11-12 18:15] mskarbek opened #12284 "[RFE] new `podman` secret mount format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to choose an additional secret type - `mount-env` (I don't have a good name for it yet ;)).
Current `mount` type dumps secret content into file, `mount-env` should prefix that content with new option  `env` content.
`podman run -d --secret some_secret,type=mount-en

[2021-11-12 18:38] rhatdan commented on #11528
@ncdc sorry I read:
FYI, I think once this is fixed ...
But my brain saw
FYI, I think this one is fixed ...

[2021-11-12 18:45] rhatdan commented on #12284
@ashley-cui PTAL

[2021-11-12 18:59] #12248 closed

[2021-11-12 19:33] douglas-legulas commented on #12263
@nalind Hi. Were you able to reproduce this issue?

[2021-11-12 19:48] nalind commented on #12263
@douglas-legulas Yes, the log reader would stop when it encountered an entry that indicateed that the container had exited, never noticing if the container was later restarted.

[2021-11-12 20:01] mskarbek opened #12287 "[RFE] respect `target` option in `mount` type secret"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman run -it --secret token,type=env,target=TOKEN ubi8/ubi:latest bash` is currently a valid command.
`podman run -it --secret token,type=mount,target=TOKEN ubi8/ubi:latest bash` ends with error:
[code]
I would like to be able to specify `target` option in `mount` type as file name. Th

[2021-11-12 21:20] jschwartz-cray opened #12289 "Intermittent failures with SSH_AUTH_SOCK and many keys loaded in agent"
/kind bug

**Description**

podman intermittently fails with:
[code]

when using `SSH_AUTH_SOCK`, an agent with many different ssh keys loaded, e.g. 12 different ones for various different envs, servers, source control systems, etc.:
[code]
and a podman remote server with a relatively low `MaxAuthTries` set (not uncommon for security reasons, some hardening even sets this to 1).

The usual solutio

[2021-11-13 01:25] unknowndevQwQ commented on #12142
Variables with no value in rootfull mode

[2021-11-13 02:32] colinbendell commented on #11528
Docker supports the notion of `-p 127.0.0.1:2000-2100:2000-2100` as a shorthand for publishing a range of ports (also for exposing). I'll open a parallel issue if you don't want to tackle it in this PR,  but wanted to draw your attention to the need to support port ranges in the future.

[2021-11-13 07:44] dezza commented on #9619
I can reproduce this error by pushing a v2s2 image to a private registry with basic auth (authenticated)

[code]

[code]

Now trying to run it.

[code]

[code]

Using [snyk](https://docs.snyk.io/products/snyk-container/snyk-cli-for-container-security/advanced-snyk-container-cli-usage#testing-multi-platform-images) for container testing understands this new v2s2 format, but it seems authenticated p

[2021-11-13 08:37] afbjorklund commented on #12205
That is my understanding:

[code]

https://github.com/moby/moby/blob/20.10/daemon/oci_linux.go#L640

[2021-11-13 08:42] afbjorklund commented on #12205
Anyway, switched over to `crun` in lima since it seems that `runc` is not tested as much.
You might want to do the same in the ubuntu packaging too, or perhaps flip the order ?

From the comments above, it seems like podman could add the "ro" instead of "crun".
That would make it work with any runtime, even if it doesn't implement the retry itself ?

[2021-11-13 09:12] afbjorklund commented on #12073
Note that gvproxy no longer exposes 7777, so you have to do it some other way.

[2021-11-13 11:08] Luap99 commented on #11528
@colinbendell Port ranges are already supported

[2021-11-13 11:16] mtrmac commented on #11636
I have filed https://github.com/containers/image/issues/1406 to add more context to the reported error.

As for whether failures to get credentials should be non-fatal, I’ll let Podman maintainers decide.

[2021-11-13 11:32] #12073 closed

[2021-11-13 11:37] mtrmac commented on #11964
My fairly weak vote is in favor of strictly matching only _exactly_ the requested repo (or a repo that results from the application of `localhost/` or the search list); and a _very weak_ vote in favor of prioritizing the search order over local image availability (per https://github.com/containers/podman/issues/11964#issuecomment-947714468 ).

Due to the risk fo breakage, either should probably ha

[2021-11-13 11:48] rhatdan commented on #12287
@ashley-cui PTAL

[2021-11-13 11:48] rhatdan commented on #12287
@flouthoc PTAL

[2021-11-13 11:48] rhatdan commented on #12287
@mskarbek interested in opening a PR to allow this?

[2021-11-13 11:52] afbjorklund commented on #12073
This will be done internally in podman and gvproxy instead, with authentication.

* https://github.com/containers/podman/issues/11494

[2021-11-13 12:10] #10866 closed

[2021-11-13 21:50] devfbe commented on #12282
Hi Luap99,

nope, doesn't work on Linux (Ubuntu 21.10 with podman 3.2.1) :(

I'm still not sure if it's no bug because with docker (without buildkit :() it works flawless.

[2021-11-13 22:06] idleroamer commented on #10337
in my local yocto build on even podman 3.4.2 with https://github.com/seccomp/libseccomp/commit/ac849e7960547d418009a783da654d5917dbfe2d I still observe the same defect.
`Error: OCI runtime error: invalid seccomp syscall 'close_range'`

[2021-11-14 00:00] jhutar opened #12290 "[RFE] when logging with journald driver, also log container name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'm using `podman run --log-driver journald ...` but once the container if gone, it is hard for me to find its log messages as there is no container name field in journald log message:

[code]

**Steps to reproduce the issue:**

1. podman run --name my-gunicorn-container --log-driver jour

[2021-11-14 11:14] Luap99 commented on #12290
This is already the case, please update to a newer version.

[2021-11-14 11:14] #12290 closed

[2021-11-14 11:27] Luap99 commented on #12073
You can use `podman machine ssh curl http://gateway.containers.internal/services/forwarder/expose  -X POST -d '{"local":":9090","remote":":9090"}'`

[2021-11-14 11:51] afbjorklund commented on #12073
But it seemed like the preferred approach for cockpit was to use ssh, anyway ?

[2021-11-14 13:54] jhutar commented on #12290
Thank you!

[2021-11-14 14:35] mbrancato opened #12291 "Remote client should handle auth and credential helpers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When using podman on Mac with podman machine (or any other VM), the podman remote client should handle the docker auth process. Currently, podman relies on auth from inside the VM.

What would be best, both to keep the VM clean and support as many configurations as possible, the podman re

[2021-11-14 14:41] voquangphu opened #12292 "Cannot connect to debug port on Windows (WSL2)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have been trying to migrate all Docker recipes to Podman for both Mac and Windows.
On Windows running Debian (WSL 2) I am able to install, build and run Podman container successfully, running Tomcat 7 service and access the service from Windows host (via localhost:8080).
However, I am not a

[2021-11-14 15:38] mskarbek commented on #12287
@rhatdan is there a documentation describing code structure, or maybe recording of a codding session that shows of code structure during implementation of some feature? I have written little to no Go code, but I'll gladly learn something new.

[2021-11-14 17:08] cgruver commented on #11507
I am struggling with this issue as well.  Although, it does work if you add `--tls-verify=false` to all of your Rodman commands.  So, "struggling" is perhaps a bit strong...  ;-)

However, since I have trusted the certs for my local registry, it would be nice if there were a way to inject them into the VM that `podman machine` creates.

[2021-11-14 18:30] #12106 closed

[2021-11-14 19:06] colinbendell commented on #11528
Digging deeper, it looks like an [EXPOSE problem](https://github.com/containers/podman/blob/main/pkg/specgen/generate/ports.go#L416-L423) where port ranges aren't supported. All good; shouldn't be a concern then for this PR.

[2021-11-14 19:31] colinbendell opened #12293 "EXPOSE does not support port ranges"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`EXPOSE` with a port range (eg: EXPOSE 20000-20100) in a `Dockerfile` throws a parsing error when attempting to run the image.

Likely related to: https://github.com/containers/podman/blob/main/pkg/specgen/generate/ports.go#L416-L423

**Steps to reproduce the issue:**

1. Dockerfile with:
[co

[2021-11-15 05:25] AkihiroSuda commented on #12237
The default port driver is RootlessKit, not slirp4netns.

And this behavior is expected with both RootlessKit and slirp4netns, because they always listen on the parent namespace regardless to whether the actual port is listened in the child namespace.

I'm not sure whether we can solve this issue.

[2021-11-15 08:10] PavelSosin-320 commented on #12264
Please, please, please ! check pam-xdg-support packaging with Podman. This package had problems in Ubuntu and fresh bugzilla record in the RedHat [pam-xdg-support](https://bugzilla.redhat.com/show_bug.cgi?id=753882). After upgrade to Fedora 35 Podman stopped to work completely:
_/home/pavelsosin/.local/share/containers/storage/btrfs/subvolumes
# podman container create ead53a357190 --name p1
Error

[2021-11-15 08:52] #11962 closed

[2021-11-15 09:13] giuseppe commented on #12035
it looks to me there are just not enough IDs available to the user.

What is the output for `podman unshare cat /proc/self/?id_map`?

[2021-11-15 09:17] flouthoc commented on #12287
@mskarbek I think this is a good RFE and needs a small patch. @rhatdan @ashley-cui  PTAL

[2021-11-15 10:42] flouthoc commented on #12292
Are you able to connect the ones on `8080` ? also could you paste output of `podman inspect <your-container>`.
If possible could you try switching your debug port from `8000` to something else and try.

[2021-11-15 11:21] flouthoc commented on #12199
@mskarbek Could you please try above patch. Above patch adds supports to perform pattern based matching on keys. While keeps original behavior intact.

[2021-11-15 13:14] voquangphu commented on #12292
yes I am able to access HTTP port 8080, it can render the application page correctly.
I also tried to switch debug port to 8001, 8081 but none of them worked.
Here is the output of `podman inspect`
[code]

[2021-11-15 13:18] edsantiago commented on #9752
The "requested cgroup controller 'pids' is not available" message also appeared (not recently) in the cgroups=split test:

### Podman run [It] podman run with cgroups=split
* fedora-34 : int podman fedora-34 root host
  * PR #11834
    * [10-01 16:37](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6739354816086016/html/int-podman-fedora-34-root-host.lo

[2021-11-15 13:38] edsantiago commented on #12065
Reopening due to failure in [bodhi gating tests (rootless)](http://artifacts.dev.testing-farm.io/aff941cb-ed6a-4ab6-9fb1-2a8866360128/work-tests.ymlY4Lp7m/tests-u6vnoE/test.podman-rootless-cgroupsv2.bats.log):
[code]
Packages:
[code]

[2021-11-15 13:49] hakonhall opened #12296 "podman pull ignores a TMPDIR override in containers.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  Set /etc/containers/containers.conf to

[code]

2. Pull image, e.g. `podman pull rockylinux/rockylinux:8`, and hit Ctrl-z to freeze the download to see where podman downloads images to.

**Describe the results you received:**

Inspecting /tmp and /var/tm

[2021-11-15 14:09] giuseppe commented on #12154
opened two PRs:

- https://github.com/containers/crun/pull/780
- https://github.com/containers/podman/pull/12298

[2021-11-15 14:23] PavelSosin-320 commented on #12247
Indeed, there are some created but  not started at all. This is something very obvious: podman can't see them to start. When Podman runs on Fedora / Ubuntu workstation the Terminal is a plain graphic application inheriting its environment from the corresponding environment block of user's session service. The systemd-pam xdg helper must put everything that Podman needs to the systemd environment.

[2021-11-15 14:56] kittylyst opened #12299 "Named podman machines do not start correctly on Mac"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The ability to have multiple named machines on Mac seems broken.

**Steps to reproduce the issue:**

1. podman machine init --cpus 1 cpus1

2. podman machine stop

3. podman machine start cpus1

[code]

4. podman ps -a

[code]

**Describe the results you received:**

As above, the machine see

[2021-11-15 15:19] Luap99 commented on #12299
Podman only has one default connection. If you have more than one VM you have to manage the connection yourself. You can use the `podman system connection` commands for this, `podman system connection ls` lists all connections. To use a connection you just run `podman --connection NAME ...`

[2021-11-15 15:19] #12299 closed

[2021-11-15 15:30] #10275 closed

[2021-11-15 15:41] rhatdan commented on #12296
[code]
From the code, it looks like it will not be set if the TMPDIR is set in the environment.
unset TMPDIR podman ...

Should set the envioronment based on containers.conf.

It should work for podman pulls, in podman 3.4, and probably earlier, how did you check?

[2021-11-15 15:43] rhatdan commented on #12296
Could you try the same test in podman 3.4.  I fixed somehing on this back in June.

commit 7864108ff191e2d78666fb5bdf098d295b7bae59
Author: Daniel J Walsh <dwalsh@redhat.com>
Date:   Fri Jun 18 17:27:39 2021 -0400
[code]

[2021-11-15 15:46] brauner commented on #10374
The first part of the required vfs work for this is about to be sent this (latest next) week.

[2021-11-15 16:03] mheon commented on #12277
Can you provide the logfile it mentioned?

[2021-11-15 16:03] mheon commented on #12277
Ah, nevermind, I see it now.

@adrianreber PTAL

[2021-11-15 16:04] mheon commented on #12277
For reference, `/dev/shm` is a tmpfs in a the container, so I imagine that's related.

[2021-11-15 16:09] mheon commented on #12292
Can you verify that port 8000 is working inside the container? My suspicion is more with Tomcat than with Podman given what you've described.

[2021-11-15 16:10] giuseppe commented on #10374
Thanks!  In the meanwhile, I've plugged support for idmapped volumes:

- https://github.com/containers/podman/pull/12298
- https://github.com/containers/crun/pull/780

[2021-11-15 16:11] adrianreber commented on #12277
I already discussed it with @rst0git

From what I have seen that is not entirely true. `/dev/shm` is a tmpfs on the outside of the container and bind mounted into the container. A tmpfs in the container would be easy, but a tmpfs outside of the container is not handled by CRIU.

The solution we came up with for exporting checkpoints is basically:
 * During checkpointing, before unmounting the tmpf

[2021-11-15 16:12] mheon commented on #12289
@baude @jwhonce @ashley-cui PTAL

[2021-11-15 16:13] ashley-cui commented on #12284
Hmm, I don't think this is a good idea? Secrets is designed to be used with secrets created from the `podman secret create` command, and not handle data passed in via the --secret flag on runs. This feature seems to break that pattern.

[2021-11-15 16:16] mheon commented on #12277
I wonder if there's a good reason for us to have this special handling for `/dev/shm` - I'll bring this up at our scrum, but I don't see a specific reason why it needs to be a tmpfs that is subsequently mounted in.

[2021-11-15 16:18] adrianreber commented on #12277
We were also wondering why this is the case. For a pod with a shared IPC namespace it makes sense, but for a standalone container it was not obvious to us.

[2021-11-15 17:30] rst0git commented on #12277
Yes, I hope to open a PR with a fix soon.

[2021-11-15 18:34] cevich opened #12304 "systemd-run podman ... --cgroups=split fails for rootless in F35"
/kind bug

**Description**

Found while [executing podman's integration tests in newly built F35 VM CI-images (comment)](https://github.com/containers/podman/pull/11795#issuecomment-966620742).  Produces the typical (but unhelpful) `Job failed. See "journalctl -xe" for details.` error.  The contents of the systemd journal at the time of occurrence also (unfortunately) don't appear to be very helpf

[2021-11-15 18:37] rhatdan commented on #12277
The /dev/shm is for sharing IPC namespace with another container.  The issue is you never know whether an existing container will be shared.  So we had to mount it to container storage and then bind mount it into the container.

[2021-11-15 19:09] #12296 closed

[2021-11-15 19:16] rhatdan commented on #12291
You are saying that podman login, does not create the auth.json file on the MAC but inside of the VM?

[2021-11-15 19:18] rhatdan commented on #12293
@Luap99 @mheon is Buildah writing out the wrong thing or is this a Podman bug?

[2021-11-15 19:19] rhatdan commented on #12293
@colinbendell does the image work with Docker. or is the image bad?

[2021-11-15 19:29] colinbendell commented on #12293
This is a valid image in Docker. It is poorly documented though in Docker.

[2021-11-15 19:53] Luap99 commented on #12293
The oci spec https://github.com/opencontainers/image-spec/blob/main/config.md only documents the `port/protocol` syntax.
I also do not find that syntax in the docker documentation for the EXPOSE key in a dockerfile https://docs.docker.com/engine/reference/builder/#expose.
Given that it is very easy to support without breaking changes we should fix it anyway.
Buildah also happily builds an image wi

[2021-11-15 19:55] #11255 closed

[2021-11-15 20:02] hakonhall commented on #12296
I verified TMPDIR was not set in the environment before invoking podman by verifying TMPDIR was not set in `/proc/<podman-pid>/environ`, and also `sudo bash -c 'echo $TMPDIR'` was empty.

Thanks for the quick fix, I'll take it you have reproduced it and verified the fix.

[2021-11-15 21:04] edsantiago commented on #12273
Another one in [f34 rootless](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6048788029636608/html/int-podman-fedora-34-rootless-host.log.html#t--podman-run-check-dnsname-plugin--1)

[2021-11-15 21:09] #12263 closed

[2021-11-15 22:00] mheon commented on #12205
We're not using crun as the default in Ubuntu already? That's news to me.

[2021-11-15 22:04] mheon commented on #12275
@adrianreber PTAL

[2021-11-15 22:04] edsantiago opened #12306 "CNI: failed to set bridge addr: "cni-podman1" already has an IP address different from 10.25.31.1/24"
New flake in the `podman play kube --ip and --mac-address` test:
[code]
### Podman play kube [It] podman play kube --ip and --mac-address
* fedora-34 : int podman fedora-34 rootless host
  * PR #12272
    * [11-12 14:07](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5446866918703104/html/int-podman-fedora-34-rootless-host.log.html#t--podman-play-kube-

[2021-11-15 22:04] mheon commented on #12293
I thought the existing code already handled ranges for expose, but I could well be wrong. Concur we should fix it.

[2021-11-15 22:18] mheon commented on #12282
Any chance you can try with Buildah directly (`buildah bud` instead of `podman build`)?

@nalind @TomSweeneyRedHat PTAL

[2021-11-15 22:19] mheon commented on #12282
(The `buildah` commands would need to be on Linux)

[2021-11-15 22:21] mheon commented on #12276
`Version:      4.0.0-dev`

Where did you get this Podman build? We shouldn't be shipping a 4.0.0-dev anywhere.

Regardless, I recall us fixing this upstream recently - please try v3.4.2

[2021-11-15 22:31] afbjorklund commented on #12205
The depends line in deb is: `runc (>= 1.0.0~rc92~) | crun`

Default: runc

The requires line in rpm is: `oci-runtime` (i.e. runc or crun)

[code]

Default: crun

If you want "the other", you have to add it to the installation:

`apt install podman crun`

`dnf install podman runc`

[2021-11-15 22:47] colinbendell commented on #12293
The --expose run parameter does support ranges. The attached PR just re uses the logic.

[2021-11-15 22:47] devfbe commented on #12282
Hi @mheon:

same Problem with buildah:

[code]

[2021-11-16 00:27] rod260185 commented on #7946
I have the same problem now, with this configuration:
host:
  arch: amd64
  buildahVersion: 1.23.1
  cgroupControllers:
  - cpuset
  - cpu
  - io
  - memory
  - hugetlb
  - pids
  - rdma
  - misc
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: conmon-2.0.30-1.1.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.30, commit: unknown'
  cpus: 4
  distribution:
    d

[2021-11-16 00:30] rhatdan commented on #12296
Yup,  Pretty much followed your procedure,  Thanks for finding it.

[2021-11-16 00:31] rod260185 opened #12308 "Possible regression with podman system service causing high cpu usage"
I have the same problem now (https://github.com/containers/podman/issues/7946), with this configuration:
host:
  arch: amd64
  buildahVersion: 1.23.1
  cgroupControllers:
  - cpuset
  - cpu
  - io
  - memory
  - hugetlb
  - pids
  - rdma
  - misc
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: conmon-2.0.30-1.1.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.3

[2021-11-16 00:36] rod260185 opened #12309 "Possible regression with podman system service"
I have the same problem now, with this configuration:
host:
  arch: amd64
  buildahVersion: 1.23.1
  cgroupControllers:
  - cpuset
  - cpu
  - io
  - memory
  - hugetlb
  - pids
  - rdma
  - misc
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: conmon-2.0.30-1.1.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.30, commit: unknown'
  cpus: 4
  distribution:
    d

[2021-11-16 00:44] #12309 closed

[2021-11-16 00:45] #12287 closed

[2021-11-16 00:47] rod260185 commented on #12308
Additionaly, when a service using docker-compose uses rabbitmq, it triggers a cpu usage of 120-160% in 4 CPUs.

[2021-11-16 00:48] rhatdan commented on #11999
@Luap99 @mheon @baude PTAL

[2021-11-16 00:52] rhatdan commented on #11916
@umohnani8 PTAL
A better solution would be to run the container with type:spc_t rather then forcing privileged.  But I think we now have a label/attribute that will tell podman play kube to do a relabel.

[2021-11-16 00:56] rhatdan commented on #11916
@baude committed 1ff6a5082a440fe4a4c3f3670534ab6185d26752 but there is no documentation in the man pages.

[2021-11-16 01:11] rhatdan commented on #11446
What would be the expected behaviour here.  Should we just not return an error?  This looks like stdin is closed before we attach it to the container.

[2021-11-16 01:11] rhatdan commented on #11446
@edsantiago WDYT?

[2021-11-16 01:16] rhatdan commented on #11636
It should not be fatal, all we care about is pulling the image, This should be a warning.

[2021-11-16 01:16] rhatdan commented on #11636
@vrothberg PTAL, this seems to be more podman-remote then podman machine.

[2021-11-16 01:17] rhatdan commented on #9540
@infiniteregrets @mheon Did either of you work on this?

[2021-11-16 01:21] rhatdan commented on #12282
Buildah knows nothing about CNI networks, so this is an issue, I don't believe.  @nalind is that correct?

[2021-11-16 01:23] rhatdan commented on #11923
I don't see this as something we can fix.

[2021-11-16 01:23] #11923 closed

[2021-11-16 01:25] rhatdan commented on #9539
@Luap99 @baude @mheon Is this something we hope to have a fix for in 4.0?

[2021-11-16 01:28] infiniteregrets commented on #9540
@rhatdan sorry, got really busy with school couldn't get time to work on it

[2021-11-16 01:29] voquangphu commented on #12292
I could verify from Tomcat log that it started service for port 8000 as well as port 8080 from catalina log.
Also as I mentioned, I used exactly the same recipe for Mac and Windows Docker Desktop, both of them can connect to 8000.

[2021-11-16 03:52] mbrancato commented on #12291
No, I use an external credential helper. Specifically, I use GCR and their credential helper pattern: https://cloud.google.com/container-registry/docs/advanced-authentication#gcloud-helper

As I understand, the `~/.docker/config.json` is used for auth with podman or can be. Specifying this as the auth file, also fails because podman is looking in the VM. Additionally, this won't work because the h

[2021-11-16 07:20] adrianreber commented on #12275
Those are tow different errors. The second should be fixed by a kernel update.

Ubuntu has non-upstreamed kernel patches to support shiftfs and they break CRIU on overlayfs: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257 and https://github.com/checkpoint-restore/criu/issues/1316

Updating the kernel should fix this, although we have seen the same error on 21.10.

The first error coul

[2021-11-16 07:31] Zplusless commented on #12275
@adrianreber  Thanks for your reply.

yes, X socket is used because I'm tryting to  migrating games to test the performance of cloud gaming running in an mobile edge computing environment.

Since cloud game is faced with challenge of service migration, is there any chance to support checkpointing GUI applications in the future?

[2021-11-16 07:45] rst0git commented on #12276
@mheon I build Podman from source.

Yes, there is a related PR (https://github.com/containers/podman/pull/12088), but this is a different problem.

It fails because CRIU doesn't currently support this use case:
https://github.com/checkpoint-restore/criu/blob/688149930abd96fd9e1db4ee3b67c727bab4f3d8/criu/cr-dump.c#L433

We discussed this with @adrianreber last week.

[2021-11-16 07:45] adrianreber commented on #12275
Theoretically it is possible. But, people have been asking this for years and it still does not exist. Assuming it is possible to extract the hardware state out of the GPU it should be doable, and I do not know if all graphics cards can even do this. From what I have heard from AMD (https://linuxplumbersconf.org/event/11/contributions/891/) it works for GPGPU use cases and so it should be theoreti

[2021-11-16 07:51] Zplusless commented on #12275
@adrianreber
Thanks for your detailed explanation.

I'll close this issue

[2021-11-16 07:51] #12275 closed

[2021-11-16 10:35] statiksof opened #12312 "Error: cannot re-exec process"
I can't execute any podman command (as a user) after an upgrade of the virtual machine.

I see in logs that these packages have been updated:

* container-selinux.noarch
* containernetworking-plugins.x86_64
* containers-common.noarch

among others.

Any idea?

[2021-11-16 11:35] homayoonsadeghiarkami commented on #12085
so what should I do now? just wait for that version to be released...

[2021-11-16 11:41] Luap99 commented on #12085
@homayoonsadeghiarkami 4.0 should fix it entirely but there is also already a fix in dnsname, can you check the output of `/usr/libexec/cni/dnsname`. It should be at least version 1.3 IIRC.

[2021-11-16 11:44] Luap99 commented on #12085
Also `unset XDG_RUNTIME_DIR` should work when running as root. Note that you need to set this before you start the containers.

[2021-11-16 11:52] Luap99 commented on #12085
Closing since it is fixed on main. I assume your dnsname version is to old. How did you install podman?

[2021-11-16 11:52] #12085 closed

[2021-11-16 11:55] Luap99 commented on #12308
Can you share the API calls to get into this situation? Also the server debug log would be helpful.

[2021-11-16 11:59] Luap99 commented on #12306
I renamed the issue to display the correct issue `cni plugin bridge failed: failed to set bridge addr: "cni-podman1" already has an IP address different from 10.25.31.1/24]`. The other errors are expected because we try to teardown the cni network so that we do not leak any iptables rules.

[2021-11-16 12:44] rdean-csx commented on #11507
I ran into this issue yesterday and haven't gotten much traction on a solution.

There's a `--certs-dir`  option on the `podman pull` command within the vm that doesn't exist on the Mac side.  Assuming this is because the cert would have to be part of the ignition file at vm startup.

I found this link that suggests that  certificates could be added to the CoreOS vm through an entry in the `storag

[2021-11-16 12:51] rhatdan commented on #12291
@vrothberg @mtrmac PTAL

[2021-11-16 12:56] #12231 closed

[2021-11-16 12:57] romanstech commented on #10593
RHEL8 finally received podman v.3.3.1. I've been testing for the socket during the last 2 days and it seems that the socket works stable.

Thank you very much.

[2021-11-16 13:05] rhatdan commented on #12312
As root, do setenforce 0, and see if it works, if yes then it is SELinux, and most likely you have a labeling issue.  You also could try to reinstall container-selinux package, I have heard about some failures on install.

[2021-11-16 13:08] cmoulliard opened #12313 "podman machine do not use a `tab` but instead `spaces` to list the VM machines"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The format used to stdout the list of the podman machine do not use a `tab` but instead `spaces`.
The list of the machines displayed should respect the format defined and documented and add a tab between the columns result
[code]

**Additional information**

podman version: 3.4.2
OS: MacO

[2021-11-16 13:13] rhatdan commented on #12313
Interested in opening a PR to fix?
@jwhonce have you been looking into similar fixes?

[2021-11-16 13:20] rhatdan commented on #11470
@ashley-cui @jwhonce Any progress on this?

[2021-11-16 13:24] rhatdan commented on #9619
Still waiting on container/image PR.

[2021-11-16 13:43] rhatdan commented on #11712
Where do we stand on this, is this just the podman-machine was not big enough to start?  Is there something that Podman can fix?

[2021-11-16 13:44] rhatdan commented on #11532
@baude What is going on with this one?

[2021-11-16 13:49] rhatdan commented on #12284
@vrothberg WDYT?

[2021-11-16 13:53] #11528 closed

[2021-11-16 13:53] #11728 closed

[2021-11-16 13:56] Luap99 commented on #11532
I think we can add `After=sshd.service` to the ready unit: https://github.com/containers/podman/blob/8430ffc72e74f1271174984674a1c2ee6118779e/pkg/machine/ignition.go#L82

[2021-11-16 13:58] rhatdan commented on #11532
Please open a PR?

[2021-11-16 13:59] nalind commented on #12282
No, buildah uses CNI.  Is podman's notion of networks the same thing?

[2021-11-16 14:03] pgampe commented on #9390
Even better, add a file /etc/containers/registries.conf.d/docker.conf with just the line `unqualified-search-registries=["docker.io"]`

[2021-11-16 14:21] mheon commented on #11999
For the first question, yes, `--ipv6` is still not implemented, target remains v4.0 once the network rewrite is complete.

For the second question - we require assignment of a routable subnet for v6 use, with your network infrastructure configured appropriately to route the subnet to the system using Podman. The address you're using is going to make it out to the internet as such, and since you're

[2021-11-16 14:25] mheon commented on #9539
Maybe? @Luap99 when we move the CNI DNS plugin into Podman, we can make it default (at least for Netavark) and resolve this.

[2021-11-16 14:26] mheon commented on #12282
Should be - we're creating standard CNI network configs that Buildah should parse without issues if it uses the CNI code.

IIRC, Buildah does not discriminate between individual CNI networks, though, and automatically attempts to join every network on the system.

[2021-11-16 14:38] rhatdan commented on #12282
SGTM, the more code reuse we get, the better for support.

[2021-11-16 15:12] Luap99 commented on #11532
PR #12314

[2021-11-16 15:27] #11836 closed

[2021-11-16 15:35] stuertz opened #12415 "secret is not mounted during build (macos)"
**Description**

A secret mounted during build is not available

**Steps to reproduce the issue:**

[code]

[code]

[code]

**Describe the results you received:**

`/run/secrets/` folder is empty

**Describe the results you expected:**

a `/run/secrets/mysecret` file.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman versi

[2021-11-16 15:41] vrothberg commented on #11964
Thanks, @mtrmac.  I hope to find time to tackle it next week.

[2021-11-16 15:45] edsantiago commented on #12052
Another failure. [Bodhi, f36, remote, rootless](http://artifacts.dev.testing-farm.io/b51dd952-001c-4e10-b4b0-d563a434b9fe/work-tests.yml7omsqw/tests-h8PgH1/test.podman-remote-rootless.bats.log):
[code]

[2021-11-16 15:55] vrothberg commented on #12284
Lets assume `run --secret some_secret,type=mount-env,env=PASSWORD` would work and it's being used in a systemd unit.

How it behave on `systemctl restart`?  Would it recreate the secret?  Would it override it?  Would it fail due to the conflict?

I don't have good answers to that and sympathize with what @ashley-cui mentioned.

[2021-11-16 15:58] edsantiago commented on #11775
Seen just now in bodhi, [f36 remote rootless](http://artifacts.dev.testing-farm.io/b51dd952-001c-4e10-b4b0-d563a434b9fe/work-tests.yml7omsqw/tests-h8PgH1/test.podman-remote-rootless.bats.log). Build is `3.4.2-1`, and `git tag --contains c9ea2cae1` shows no hits, so even though this was fixed way way back in September I'm going to just assume that 3.4 does not contain the fix.

[2021-11-16 16:01] edsantiago commented on #12065
Closing again. I think this is another one of those "fixed a long long time ago" bugs that hasn't actually propagated into whatever is being built in f36.

[2021-11-16 16:45] cmoulliard commented on #12313
As a Report Template test case validates that the template populated include `\t`, then I suspect that the issue occurs when the result is stdout on macos

Test case tested
[code]

[2021-11-16 16:46] freva opened #12316 "Dangling layers left behind after deleting image that was started with --uidmap"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This issue was mentioned in https://github.com/containers/storage/issues/1060, but I figured it would be best with a separate issue.

After removing an image that was previously run by a container that was started with `--uidmap` only the top layer is removed. The remaining layers are left be