[2020-08-25 21:46] bam80 commented on #6389
Sorry what does it mean? Can I recreate the containers keeping all theirs data?

[2020-08-25 23:10] asottile opened #7454 "`podman exec` exiting nonzero produces "Error: exec session exited with non-zero exit code 1: OCI runtime error" with no way to suppress"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

might be a feature, though it differs from how `docker`'s cli outputs

**Description**

when `podman exec` exits with a nonzero code there is a message on stderr and no way to suppress it as far as I can tell

the equivalent `docker` does not produce this output:

[code]

**Steps to reproduce the issue:**

1.

[2020-08-25 23:43] mheon commented on #7454
Fixed on Master already. I believe this also made its way into 2.0.5.

[2020-08-25 23:43] #7454 closed

[2020-08-26 02:03] dustymabe commented on #7441
[code]

[2020-08-26 02:03] dustymabe commented on #7441
IIUC you should be able to reproduce this real easy if you just spin up a system with cgroups v1 and try to run the reproducer in the description.

[2020-08-26 06:50] ioparaskev commented on #3843
There is a file in `/etc/containers/ which is basically a link to `/usr/share/containers/containers.conf`. I did change the `num_locks` to `4096` and it "broke" podman since any command I tried to give after that resulted in:

[2020-08-26 09:31] gigabit942007 commented on #7052
This actually sounds usefull, for my usecase the solutions don't really work well as i would expect so i'm reverting to docker as that fits my bill a lot better. Will run docker in a VM and be done with it, for my purposes having the data as such it's just not worth the time and effort. I would consider this to be a basic functionality, working with data outside of the container and podman just do

[2020-08-26 12:13] yamrzou commented on #7434
Thank you, yes that's should accomplish what I'm looking for.

[2020-08-26 12:23] edsantiago commented on #7195
There's something bothering me about this. In reviewing my flake logs I see various instances of flakes in the ginkgo tests that could be this problem -- but I'm not seeing any evidence of the scope we've seen the last two weeks. It has gotten so it's impossible to pass CI, even with me spending my day pressing the Re-run button. What has changed?

[2020-08-26 12:36] lsm5 commented on #7307
See: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

For ubuntu 18.04, podman is available only for x86_64. I'd recommend upgrading your ubuntu to 20.04 which has aarch64 package available.

Closing...

[2020-08-26 12:36] #7307 closed

[2020-08-26 13:05] Nuc1eoN commented on #7406
`podman images` is instant for me.

Also a little update. I let `podman system df` run for a while and it turns out it does actually finish but the process takes ~3 minutes.

[2020-08-26 13:54] baude commented on #7378
@edsantiago it is updated now, lemme know if you see this flake any more

[2020-08-26 14:07] AkihiroSuda commented on #6863
Opened draft PR https://github.com/containers/podman/pull/7460

[2020-08-26 14:13] AkihiroSuda commented on #1733
PR: https://github.com/containers/podman/pull/7460

[2020-08-26 15:02] burhan opened #7461 "podman uses wrong pid(?)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I don't think this is a bug, but maybe it should be? Or am I doing something wrong here? Using `su` to switch user, and podman uses the original user's pid resulting in errors (rootless).

**Steps to reproduce the issue:**

1. Create RHEL 8 vm or machine

2. A normal user is created (pid 1000

[2020-08-26 15:31] mgnsk commented on #7052
I'm also using docker in a VM to run some legacy stuff but for dev/tinkering I prefer podman.

I looked into `fuse-overlayfs` and it gives the same effect without chowning the files:
`podman unshare fuse-overlayfs -o uidmapping=0:3000:1,gidmapping=0:3000:1,lowerdir=code,upperdir=code,workdir=workdir mount`

lowerdir and upperdir are the same since I only use it for the UID shifting. The only issue

[2020-08-26 15:36] mheon commented on #7461
I'm assuming the UID of the user you `su`'d to is not 1000?

There are well-known problems with rootless Podman and `sudo`/`su` (they don't count as a full "session" in the eyes of PAM and systemd, so certain things that Podman expects will be created and configured are not), but it looks like we have a different problem here. I suspect that some environment variables (`XDG_RUNTIME_DIR` perhaps?)

[2020-08-26 15:46] minioin opened #7462 "Compatibility: Add filters for listing networks"
I tried to run k3d with podman system service but k3d returned error with ``filters for listing networks is not implemented ``. As I looked at docker [api](https://docs.docker.com/engine/api/v1.40/#operation/NetworkList), it lists filters as an option.

This features is one of the first thing I encountered while running [k3d under podman ](https://github.com/rancher/k3d/issues/84).

[2020-08-26 15:50] edsantiago commented on #7148
My reproducer (please don't judge me):
[code]
On a 1minutetip f32 VM, seems to fail within 15-25 minutes.

[2020-08-26 16:06] bam80 opened #7463 "Can't stop container"
Seems I can't stop the containers left after Toolbox:
[code]

The reason of the error is seems `conmon` subprocesses run with weird PID `100000`:
[code]
[code]
What is it? Is it an error, or it's by design?
In the former case, how could I fix my containers?

Fedora Silverblue 32
podman Version:      2.0.4

[2020-08-26 16:38] mheon commented on #7463
Can you provide a reproducer?

[2020-08-26 16:45] bam80 commented on #7463
@mheon sorry?

[2020-08-26 16:53] mheon commented on #7463
Can you provide something to allow me to produce the scenario that you're in where these containers cannot be stopped? I've never heard of this problem before which makes me think something unusual is going on, and I would like to see if I can reproduce the issue on my machine.

[2020-08-26 17:04] #7235 closed

[2020-08-26 17:08] ngdio commented on #4251
The patch doesn't fix the issue for me. The problem is that *all* chunks are redownloaded, even if just one of them fails. The same error occurs again and again on each try, so this isn't helping at all, unfortunately.

[2020-08-26 17:39] bam80 commented on #7463
Hmm, you are right - for some reason I can't reproduce it anymore.
I still see that 100000 PID `seep` process, but `podman stop` can stop it anyway.
I'm not sure what has changed. For now, probably we can close it.

[2020-08-26 17:39] #7463 closed

[2020-08-26 18:15] QiWang19 commented on #4251
@ngdio can you provide more information about the errors you get?

[2020-08-26 18:39] ngdio commented on #4251
Basically the same thing.

[code]
Some chunks don't complete and make it fail completely. This is probably due to my internet connection (I've had the same issue on multiple machines) but I experience zero issues anywhere else (downloads, streaming, docker all fine). It might be caused by the parallel downloads.

Version is 2.0.5 with the retry patch applied on top.

[2020-08-26 18:49] mtrmac commented on #4251
Yeah, if only some layer blobs are downloaded, they are not extracted into c/storage (that currently happens only at `ImageDestination.Commit`), and removed before trying again. Retrying at the high level can’t help with cases where, _on average_, a complete image is never downloaded.

(Valentin was working on c/image changes that would apply layers as they were coming, that would indirectly help

[2020-08-26 19:28] Luap99 commented on #7462
The problem is that podman handles networking differently from docker. The podman backend only supports `name` and `plugin` as valid filter keys for networks. I guess that's the reason why the api don't allow filters.

[2020-08-26 19:32] Luap99 commented on #7447
I also think that we should not remove the config file.
@rhatdan WDYT? I can open a PR to fix this.

[2020-08-26 20:22] ngdio commented on #4251
If that change would effectively mean the process works just as in Docker (individual layers are redownloaded if necessary), then it would help indeed. Is there any issue/pull request where I can track progress, or do you have an ETA? I can't use Podman in my network at all right now, so that would be helpful.

[2020-08-26 20:56] ideepika commented on #7260
@giuseppe
[code]
sorry missed notification, but still the issue persists

[2020-08-26 21:29] burhan commented on #7461
The system has two users; my user (burhan, uid 1000) and the retool user, (uid 1001).

As `retool` is a system user, I login with my user, and then `su` to `retool`. However, to test things out, I enabled ssh and when I ssh directly using `retool`, it works.

I did re-run the shell (executed `/bin/bash` after logging in as retool), because I read somewhere else (forgot where) that this loads the e

[2020-08-27 01:08] asottile commented on #7461
if you're using `su` you'll probably want to use `su --login`:

(from `man su`)

[code]

otherwise you'll leak XDG environment variables which can affect processes in the other user:

[code]

[2020-08-27 01:33] averyfreeman commented on #7318
I am experiencing this same problem, but my system does not have SELinux, as I am using Ubuntu 20.04.

Should I open a new bug report, or post my criteria in this same thread?

[2020-08-27 02:53] averyfreeman commented on #7318
Upon further reading, I'm seeing `podman play kube` feature is "very much under development" - are the YAML files created from `podman generate kube` only intended to be run by kubernetes?  Should I just assume that for now podman is broken in this area?

[2020-08-27 03:31] sunyitao commented on #7058
This problem still exists in 2.0.5

[2020-08-27 03:33] sunyitao commented on #3759
This problem still exists in podman 2.0.5

[2020-08-27 04:02] mheon commented on #7058
Please open a separate issue and provide a reproducer and any relevant
details about how and when the issue occurs.

On Wed, Aug 26, 2020, 23:31 sunyitao <notifications@github.com> wrote:

[2020-08-27 04:26] wdouglascampbell opened #7466 "Reboot after ostree update causing "error setting rlimit type 6: operation not permitted""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am running Fedora CoreOS.  When the system auto-updates to a new release and reboots.  The rootless containers that I am running and have configured services to start upon reboot aren't starting up.  Instead I see errors like the following in the journalctl logs.

error setting rlimit type

[2020-08-27 04:59] minioin commented on #7462
Considering that we already need a system service for docker compatibility, how is it difficult to maintain a list of networks to implement this feature? What is blocking this api exactly?

[2020-08-27 06:18] burhan commented on #7461
Ah okay. I didn't realize there was an environment variable being used.

Is it going to be an issue if the target user (retool in this case) has no shell? As its just a system user in production they won't have a shell assigned and won't have a home directory either. Its just for permission management.

[2020-08-27 06:25] asottile commented on #7461
idk, you'd have to try it -- worst case you can probably utilize `env` (either with `-i` or `-u`)

or use `sudo -u ...` which seems to do a better job than `su`

[2020-08-27 07:50] zhangguanzhang opened #7468 "podman generate kube without hostAliases"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.create pod
[code]
2.  generate kube
[code]

**Describe the results you received:**
the `spec.hostAliases` is null

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasional

[2020-08-27 07:53] Luap99 commented on #7462
@mheon stated that he is looking to improve this in the future https://github.com/containers/podman/issues/7080#issuecomment-664021523

@minioin Do you know what filter k3d is using? I think we can at least implement the name filter for now.

[2020-08-27 10:14] giuseppe commented on #7148
Thanks for the hint.  I wasn't yet able to reproduce it on my machine (and in a VM), but inspecting more the code, I've found the root issue of the race: https://github.com/containers/crun/pull/474

It can be easily reproduced by adding a sleep just before crun tries to read the cgroup:

[code]

then I get:

[code]

the different error open pidfd instead of kill is related to crun supporting pidfd

[2020-08-27 10:25] rhatdan commented on #7096
Sadly this is still active.

[2020-08-27 10:28] rhatdan commented on #7318
@ashley-cui @haircommander @mheon PTAL

[2020-08-27 10:31] rhatdan commented on #7466
@dustymabe When is fedora coreos getting updated?

[2020-08-27 10:40] rhatdan commented on #7462
@minioin Time is the only thing blocking us.  Getting community to help build it is always helpful.

[2020-08-27 10:57] rhatdan commented on #7396
Ok so we need to blow away all storage in this case.

[2020-08-27 10:58] rhatdan commented on #6940
@andrew-kennedy @vro is this still an issue?

[2020-08-27 11:06] andrew-kennedy commented on #6940
No! Somehow the --new flag seems to work now. But they don't work with auto update so I opened a ticket for that.

[2020-08-27 11:10] burhan opened #7474 "Change documentation site to use monospaced fonts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Please use a mono-spaced font on the documentation site, because the current font makes it difficult to distinguish between a `-` and `--` in the command line arguments.

[2020-08-27 11:20] rhatdan commented on #7434
Labeling this as containers.conf, since I should write this up in the forthcoming blog on containers.conf.

[2020-08-27 11:21] rhatdan commented on #7195
I am thinking if @mheon does not fix this soon, we need to disable this remote tests, in order to get the back log of PRs merged.

[2020-08-27 11:23] andrew-kennedy commented on #6940
They're now starting at login and creating new containers every time as `--new` would imply, so some bug has clearly been fixed. But now `podman auto-update` isn't working so I opened a new [issue](https://github.com/containers/podman/issues/7407)

[2020-08-27 11:27] Luap99 commented on #7474
Are you talking about https://docs.podman.io?

[2020-08-27 11:32] edsantiago commented on #7195
Agreed. I nearly suggested that in Planning yesterday; the commitment to fixing flakes dissuaded me.

[2020-08-27 11:35] #7148 closed

[2020-08-27 11:40] burhan commented on #7474
Yes.

[2020-08-27 11:48] Luap99 commented on #7404
I have looked at the swagger documentation but didn't found a way to achieve the desired result. Maybe someone else finds/knows a way to do this.

[2020-08-27 11:59] mheon commented on #7195
I think I am close, but it keeps developing new and exciting failure modes
to convince me otherwise.

On Thu, Aug 27, 2020, 07:32 Ed Santiago <notifications@github.com> wrote:

[2020-08-27 12:01] edsantiago commented on #7096
Correct. Instances since initial filing:

* fedora-31 : test fedora-31
  * PR #6851
    * [07-28 11:12](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5396844572311552/html/integration_test.log.html#t--Podman-create-two-containers-with-the-same-IP--1)
    * [07-28 11:12](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/contain

[2020-08-27 12:16] rhatdan commented on #7447
Sure. SGTM. but add a message saying the file exists, if it does.

[2020-08-27 12:23] mheon commented on #7447
I think removing the file still makes sense in some circumstances. We may still have legacy storage.conf files autogenerated by Podman, and those can be part of the problem that users would run `podman system reset` to resolve (we could have hardcoded a bad temporary directory path based on the system configuration where Podman was first run, for exampke).

[2020-08-27 13:13] dustymabe commented on #7466
Tracking it over here: https://github.com/coreos/fedora-coreos-tracker/issues/575

Currently blocked on https://github.com/containers/podman/issues/7441

[2020-08-27 13:15] dustymabe commented on #7466
You can test with podman 2.x by [using the `next` stream](https://docs.fedoraproject.org/en-US/fedora-coreos/update-streams/#_switching_to_a_different_stream). `next` [currently has podman 2.0.4](https://getfedora.org/en/coreos?stream=next).

[2020-08-27 13:19] dustymabe commented on #7466
@rhatdan - if we could get the fix for #7441 backported to the 2.0.5 rpm in fedora for f32 then we would drop the freeze on podman 1.9.3 I think.

[2020-08-27 13:24] c-goes commented on #6867
@skorhone
I tried something similar with Travis-CI.

https://github.com/c-goes/podman-gitlab-testing/blob/master/.travis.yml
https://travis-ci.org/github/c-goes/podman-gitlab-testing/builds/721686928

I don't know yet how to run the Podman API in background correctly (I add & after the command). The API seems to stop working somewhere in the build. Is this what you expect as output?

[2020-08-27 14:32] mheon commented on #7195
Re-pushed. The exec exit codes issue should theoretically be fixed.

[2020-08-27 14:32] mheon commented on #7195
If it is, this can finally be closed...

[2020-08-27 14:59] wdouglascampbell commented on #7466
Thanks @dustymabe.  I'm hesitant to try switching to the next stream for fear that I might mess up my production environment.  I cannot tell from the instructions whether that fear is warranted or not but I am willing to wait in hopes that the freeze on podman 1.9.3 will end soon.

[2020-08-27 15:04] c-goes commented on #6734
I tested with Ubuntu and Podman master branch and it's working.

[2020-08-27 15:14] c-goes commented on #6734
I tried compiling podman today
This is the output of testing podman master branch:

[code]

[2020-08-27 16:46] ypu opened #7476 "Some options of podman run --log-driver didn't work as expect"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During the test, find journald and json-file are not work as expect when we start a container with --log-driver.

**Steps to reproduce the issue:**

1. Start a container with --log-driver $option
json-file:
[code]
journald:
[code]
2. Check the message is store in the file as expect
json-file:

[2020-08-27 17:14] haircommander commented on #7318
@averyfreeman can I see the kube yaml file you created?

[2020-08-27 17:23] bcstinch commented on #7468
Does this fix #7442 as well? will hostAliases translate back into a podman pod from the kube yaml?

[2020-08-27 17:46] dustymabe commented on #6734
@c-goes - see https://github.com/containers/podman/issues/7441. I think you're hitting that.

[2020-08-27 18:07] eriksjolund commented on #7474
If I do copy paste of some text in

http://docs.podman.io/en/latest/markdown/podman-run.1.html

with Google Chrome and Fedora 32 it looks like this

[code]
I think it should have been

[code]

[2020-08-27 18:11] TomSweeneyRedHat commented on #7474
@eriksjolund and @burhan I'd not noticed that, thanks for the heads up.  Now to figure out how to change the font there....

[2020-08-27 18:13] QiWang19 commented on #7476
for the usage --log-driver journald, looks like the podman logs has not been fully implemented for journald?
https://github.com/containers/podman/blob/7d3cadcc54cbad9a109471f586c10541544bc7db/libpod/container_log.go#L31-L33

[2020-08-27 18:24] #7401 closed

[2020-08-27 18:27] TomSweeneyRedHat commented on #7476
This might be related to https://bugzilla.redhat.com/show_bug.cgi?id=1873204 @ashley-cui

[2020-08-27 18:28] ashley-cui commented on #7476
@TomSweeneyRedHat yep, looks like same issue

[2020-08-27 18:54] dustymabe commented on #7466
Hey @wdouglascampbell - your fears are warranted, but I would encourage you to run at least *some* `testing` nodes in order to know when breakage is coming to your production cluster and helping us fix the problems before it hits stable for everyone.

Right now (08/27/2020) `testing` and `next` only differ in podman version, nothing else.

[2020-08-27 18:57] #7195 closed

[2020-08-27 19:00] skorhone commented on #6867
I would expect to see debug messages from podman, if integration tests were calling the podman service.

Instead of having multiple shell steps, you could try creating a small shell script that starts service and runs tests. CI might just kill container process between steps

[2020-08-27 19:12] repomaa opened #7479 "Closing stdin of container from containers.Attach"
/kind feature

**Description**

Using the go bindings I stumbled across the issue that attaching to a container and passing a `Reader` as the `stdin` parameter (in my case an `io.PipeReader`) will keep the `stdin` of that container open, after the `Reader` returns `EOF`.

I think Docker does this by returning a special kind of struct called `HijackedResponse` which has a `CloseWrite` method. Calli

[2020-08-27 20:00] wdouglascampbell commented on #7466
I will keep that in mind and see what I can do about setting up a `testing` node.  Thanks!

[2020-08-27 20:10] burhan commented on #7474
A few options:

* change the markdown  so that instead of bold `**--build-arg**=*arg=value*` for the arguments, it is marked up as a code block, the default Sphinx theme being used (`alabaster`) will use `'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace`, which should render better.

* override the default body font, by adding `font_family` to the `conf.py` setting fo

[2020-08-27 20:18] averyfreeman commented on #7318
Absolutely:

The YAML file auto-generated by `podman generate kube < wptestpod.yaml`:

[code]

The same YAML file with several removals referenced by https://www.redhat.com/sysadmin/compose-podman-pods  :

[code]

Both produce same result (pod cannot be accessed, `403 error forbidden`) but were created from a working pod created by commands

(again, I tested this twice on two similar systems, free

[2020-08-27 20:59] paravz commented on #7406
`journalctl -l --all --no-pager -f` while `sudo podman system df` is running shows that all (most?) image layers is being mounted during this process, takes 5 minutes on my system, output is funky to say the least (containers were created using podman 1.5 or 1.6, now running F32's podman 2.0.4):
[code]

Note pid 1 and systemd --user's pid in log (trimmed):
[code]

[2020-08-27 21:02] burhan commented on #4565
Is this fixed? I am getting the same error.

[code]
[retool@localhost onpremise]$ podman info
host:
  arch: amd64
  buildahVersion: 1.14.9
  cgroupVersion: v1
  conmon:
    package: conmon-2.0.17-1.module+el8.2.1+6771+3533eb4c.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.17, commit: 3c703d9f178a3a53966e1d5c03d0275ea6cb36a0'
  cpus: 1
  distribution:
    distribution: '"rhel"'

[2020-08-27 21:19] psakar commented on #7235
@zhangguanzhang @mheon I've retested with podman version 2.0.5 using procedure described at the beginning of the issue and the issue is not fixed. Can you please reopen ?

[2020-08-27 21:24] TomSweeneyRedHat commented on #7474
@burhan TYVM for the pointers, I'll go dig around for those.

[2020-08-27 21:25] mheon commented on #7235
The fix for this did not make it into Podman 2.0.5, from the look of things.

[2020-08-27 21:25] mheon commented on #7235
I suspect it will be in Podman 2.1.0 - we should start cutting release candidates for that sometime next week.

[2020-08-27 21:28] bbros-dev opened #7484 "systemd user script `--healthcheck-command ...` always has Status: starting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman healthcheck command never changes status from 'starting' state.

[code]

**Steps to reproduce the issue:**

1. Generate systemd unit file

[code]

2. Alter `ExecStart` to:

[code]

3. Enable and start the service

[code]

**Describe the results you received:**

[code]

**Describe the r

[2020-08-27 21:55] Luap99 commented on #7484
Does `systemctl --user status <full ctr id>.service` works and and shows healthy in the log?

[2020-08-27 23:03] edwintorok commented on #4162
FWIW this is still an issue on Fedora 32, which ships podman 2.0.4. Could you bump the version in Fedora to include this bugfix?

[2020-08-27 23:14] mheon commented on #4162
Podman 2.0.5 should be hitting stable soon, but I'm not sure if it has the
fix. Worst case, it will come in Podman 2.1.0 which will release in a week
or so.

On Thu, Aug 27, 2020, 19:03 Török Edwin <notifications@github.com> wrote:

[2020-08-28 00:26] QiWang19 commented on #6987
This flake should be fixed by https://github.com/containers/podman/pull/7120

[2020-08-28 00:26] #6987 closed

[2020-08-28 01:36] zhangguanzhang commented on #7117
I test this on 2.0.5, It still exists

[2020-08-28 01:41] zhangguanzhang commented on #7468
after https://github.com/containers/podman/pull/7469 be merged, I will take a look at https://github.com/containers/podman/issues/7442

[2020-08-28 02:48] zhangguanzhang commented on #7117
https://github.com/containers/podman/blob/master/pkg/domain/infra/tunnel/containers.go#L481
containers has be removed by `podman-remote rm -f foo`, so this will response a 404
https://github.com/containers/podman/blob/master/pkg/bindings/containers/containers.go#L263
so line 481's `exitCode` will be 0

[2020-08-28 09:08] doc-olliday commented on #6510
I'm going to close this ticket.
We give up, for now. Due to too many problems we've migrated back to docker-ce.

[2020-08-28 09:53] #7441 closed

[2020-08-28 10:15] sistematico commented on #1182
Awesome! Thank you..

[2020-08-28 10:17] Luap99 commented on #7434
I just want to add that docker uses `--log-opt` for this. https://docs.docker.com/config/containers/logging/json-file/#options
`docker run -it --log-opt max-size=10m --log-opt max-file=3 alpine ash`
This might be worth mentioning.

[2020-08-28 10:37] 42wim opened #7487 "podman remote flag/overlay check (regression?)"
/kind bug

**Description**

Running podman --remote in a container doesn't work anymore in v2.0.5 (worked in v2.0.1) (not tested on versions between v2.0.1 and v2.0.5 yet)

**Steps to reproduce the issue:**

1. run a podman remote service (podman system service --timeout=0)

2. run a container which bind mounts the socket (/run/podman/podman.sock)

3. run podman <any command> --remote (eg podman i

[2020-08-28 10:39] domo141 commented on #7297
It looks to me that podman 2.0.5 (on fedora 32) works for me...

[2020-08-28 10:45] 42wim commented on #7487
Seems older rpm's aren't kept on https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/x86_64/ so I can't easily try an older version.

But my guess is https://github.com/containers/podman/pull/6716 has something to do with this issue

[2020-08-28 11:04] c-goes commented on #6867
Thanks, I made some progess, now with output from both Gitlab Test and Podman API

https://travis-ci.org/github/c-goes/podman-gitlab-testing/builds/721980418

As you can see the API keeps writing these lines until travis stops because of too many lines.

[code]

[2020-08-28 11:25] Luap99 commented on #7487
I think this is by design. `podman subcommand --remote` does not make much sense as `--remote` is only applicable to podman and not the subcommand. That fact that this worked before introduced some bugs and that's why it got changed with #6716.

[code]
That could be a invalid config. Looks like you are running as root, can you share the output of `/etc/containers/storage.conf`?

[2020-08-28 11:28] 42wim commented on #7487
@luap99 The same config and command works fine on podman v2.0.1
The /etc/containers/storage.conf is the default config from the containers-common-1.1.1-1.el8.x86_64 rpm
Everything is default, no config has been changed.

[2020-08-28 11:43] Luap99 commented on #7487
Can you try `podman --storage-driver=vfs info` please.

[2020-08-28 11:46] 42wim commented on #7487
[code]

[2020-08-28 11:50] Luap99 commented on #7487
Can you create a new container and remove the storage.conf before you run any podman commands.

[2020-08-28 11:55] 42wim commented on #7487
This can be very easily reproduced, you don't even need a remote podman running as it doesn't look at that yet because of the overlay issues

[code]

[code]

[2020-08-28 11:58] 42wim commented on #7487
when removing the storage.conf in a new container before any commands:

[code]

[2020-08-28 12:07] 42wim commented on #7487
Did some tests now with bind mounting the socket again.
(`podman run -v /run/podman:/run/podman  --rm -ti centos:8`)

Now it doesn't give a VFS error anymore, but another error and not the correct output (it should show the centos:8 image)

[code]

[2020-08-28 13:29] mheon commented on #7487
Can you add `--log-level=debug` to one of these commands, so we can verify it is indeed ignoring `--remote`?

@jwhonce PTAL

[2020-08-28 13:37] mheon commented on #7297
Yes, Podman 2.0.5 has the fix. Going to go ahead and close this...

[2020-08-28 13:37] #7297 closed

[2020-08-28 13:42] mheon commented on #6510
I'm going to reopen - this is definitely still a problem, and we are still interested in solving it.

[2020-08-28 14:13] rhatdan commented on #7102
@ashley-cui PTAL

[2020-08-28 14:15] rhatdan commented on #7091
We don't do this automatically but there is a place for the admin to configure this data.

[code]

[2020-08-28 14:16] rhatdan commented on #7112
@ashley-cui @haircommander PTAL

[2020-08-28 14:17] rhatdan commented on #7108
@apasrini Is this still an issue?  We have had no feed back in over a month?

[2020-08-28 14:18] rhatdan commented on #6518
@edsantiago Still an issue?

[2020-08-28 14:32] ashley-cui commented on #4511
@ssbarnea try
[code]
Podman is now available through brew, not brew cask, and should not have the signing issue now.

[2020-08-28 14:55] cevich commented on #4511
Update (on the signed-installer effort):  This has been pushed down one notch on my TODO list for now.  I'm currently focusing on erasing some automation technical-debt.  Once that's done, I'll get back onto this effort.  For end-users, debugging/playing, the solution @ashley-cui invented will hopefully be adequate.  (thanks Ashley)

[2020-08-28 15:58] st1971 opened #7490 "hosts file not populated when using user namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
when running a rooted container with either --uidmap or --subuidname /etc/hosts does not have an entry for the container.

**Steps to reproduce the issue:**

1. sudo podman run --rm -it --uidmap=0:100000:5000 --hostname=mycontainer fedora:32 /bin/bash -c "cat /etc/hosts"

2.

3.

**Describe th

[2020-08-28 16:03] ssbarnea commented on #4511
Super! For the first time I was able to install podman and run `podman --version` on MacOS without any security prompts.

Sadly the `--connection-string` format seems to be something undocumented, doing a google search also gives no answers, even trying to search this on official docs site brings no hope.

[2020-08-28 16:07] 42wim commented on #7487
[code]

[2020-08-28 16:09] mheon commented on #7487
I see libpod debug info in there, so it looks like `--remote` is indeed being ignored.

[2020-08-28 16:10] TomSweeneyRedHat commented on #7490
@st1971 thanks for the issue report.  A couple of questions.

If you run this same image as root, does it have an /etc/hosts file?   Also, can you share how you created the container image initially?  Depending on the build options, this might be expected.

[2020-08-28 16:11] TomSweeneyRedHat commented on #4511
So close!  @ashley-cui @jwhonce ideas on how to get @ssbarnea over the finish line?

[2020-08-28 16:17] ssbarnea commented on #4511
Based on what I read the other day I expect that I will not be able to connect to my centos-8 devbox as it is running podman-1.7 but I should be able to connect to my fedora box which is runnind 2.0.5, once I reverse engineer the connection string format, or that is the `--url` ?.

What is the podman equivalent of `export DOCKER_HOST=ssh://root@some.example.com`?

[2020-08-28 16:18] Luap99 commented on #7487
I found it. https://github.com/containers/podman/pull/7042 is not backported to 2.0.

[2020-08-28 16:31] Luap99 commented on #7487
I opened #7491 to backport this.

[2020-08-28 16:36] st1971 commented on #7490
@TomSweeneyRedHat Thank you for taking a look, much appreciated.

This is happening only as root and i am using a vanilla fedora:32 image pulled from registry.fedoraproject.org. Both of the below are run as root..

With --uidmap
[code]
Without --uidmap
[code]
Also get the same with a stock alpine image from docker.io.

[2020-08-28 16:54] skorhone commented on #6867
I have a feeling that test fails because podman doesn't currently handle pull (create image) request same way that docker does and because container creation code path is more or less broken

Docker hijacks the connection and streams progress updates until image is available. Podman just sends single line and handles request asynchronously on the background.

Container creation in podman API unfor

[2020-08-28 16:56] debarshiray commented on #7389
What's the way forward here?

Recently, `--userns=keepid` started actually creating the user, but apparently not the group.

Is it a *mistake* that it creates the user, or that it doesn't create the group?

[2020-08-28 17:09] mheon commented on #7389
The code to add the user is deliberate, but we did not make the code alter `/etc/group` as well, so we'll probably need to do that as well.

[2020-08-28 17:11] mheon commented on #6867
Container creation is definitely on our radar, that's being tracked already - I don't know when we'll be able to get to it, unfortunately.

The image pull thing is new, I think we need a fresh issue for that.

[2020-08-28 17:12] ashley-cui commented on #4511
@ssbarnea Take a look at the docs for podman system connection. We should be publishing a blog soon on how to set everything up, but the basic gist of it is
Copy ssh pub key from mac to Linux box
On your Linux box: `systemctl --user enable podman.socket`
On Mac: `podman system connection add *name* --identity path/to/ssh_key`

Then you should be able use podman commands as normal

[2020-08-28 19:59] #7447 closed

[2020-08-28 20:06] #7468 closed

[2020-08-29 10:56] fstephany opened #7495 "Swagger API documentation for specific podman version"
/kind documentation

**Description**

Is there any way to retrieve the API documentation for a given version of Podman?
From what I understand, the [API swagger description](https://docs.podman.io/en/latest/_static/api.html) is based on the master branch of the repo? Are the generated docs versioned somewhere (say, I'd like to retrieve them for Podman 2.0.4 specifically)?

[2020-08-29 12:41] njam commented on #4056
For completeness sake adding the command to run podman _rootful in rootless_ using **fuse overlay** storage (instead of vfs):
[code]
Works with the latest podman 2.0.5

[2020-08-29 14:29] afbjorklund commented on #4511
@ashley-cui : the formula seems to be failing in linuxbrew, but I guess that was expected (hardcodes `podman-remote-darwin`)

I was trying to test it, like before https://github.com/containers/podman/issues/4511#issuecomment-570891830

[2020-08-29 14:31] afbjorklund commented on #4511
`CONTAINER_HOST=ssh://root@some.example.com/run/podman/podman.sock`

[2020-08-29 14:32] marcpawl opened #7497 "Feature Request: recover from failed pull without restarting"
/kind feature

**Description**
When pulling down a an image large layer (>1GB) through Artifactory the download fails often towards the end.  This seems to be a known issue with Docker also, and has lots of questions posted.

When you pull the same image the download of the layer starts all over again, and the same problem occurs, so it may take many attempts to get the image. (And of course consu

[2020-08-29 14:50] ssbarnea commented on #4511
[code]

The error is not clear, does not give any hints regarding the nature of the failure.

After running `systemctl enable --now podman.socket` on the remote host the problem resolved and podman seems now to be able to communicate.

In order to avoid a huge amount of confusions among early adopters, I think we need a clear error message, one that would mention that `/var/run/podman/podman.sock`

[2020-08-29 14:59] afbjorklund commented on #4511
We talked a bit about it in #6809, when discussing how to replace the "sudo varlink" method currently used...
Some systems don't allow connecting as root (either at all, or simply by not providing a ssh key by default)

So wanted a way to separate between connecting to root socket and connecting as rootless and user socket.
Currently that is being accomplished explicitly by using different socket

[2020-08-29 15:22] ssbarnea opened #7498 "podman build with remote is always silent (logging level does not work)"
**Description**

podman build seems totally silent. when run locally this does not happen.

Apparently the entire stdout/stderr is lost.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

no stdout/stderr whatsover/

**Describe the results you expected:**

Some stderr logging information, especially when using `--loglevel 1,2,3`

**Additional information you deem i

[2020-08-29 15:24] ssbarnea commented on #4511
All nice until I tried my first build and discovered that no stdout/stderr is displayed at all. So I raised https://github.com/containers/podman/issues/7498

Apparently when building in remote mode, we loose any ability to see buildah output.

[2020-08-29 16:01] marcpawl commented on #7497
Workaround for docker?
https://forums.docker.com/t/docker-pull-results-in-request-canceled-while-waiting-for-connection-client-timeout-exceeded-while-awaiting-headers/73064/7

[2020-08-29 16:19] njam opened #7499 "Cannot login as user from "generateCurrentUserPasswdEntry""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since 2.0.5 podman creates a user account when `--userns=keep-id` is set. I experience problems using that account in the container. I think it might be caused by an invalid entry in `/etc/passwd`.

**Steps to reproduce the issue:**

1. Start a debian container, and try to run a command as th

[2020-08-29 17:41] njam commented on #7499
Another problem regarding `generateCurrentUserPasswdEntry()` seems to me that it will add a user account with an already existing UID.

For example the `quay.io/podman/stable` image already has a user account with UID 1000 ("podman"). When I run a container with that image, podman will create a second user with UID 1000 named after my host user.
[code]

[2020-08-29 19:52] mheon commented on #7499
Second one is a separate, more serious bug - please file a new issue for it.

[2020-08-29 19:53] mheon commented on #7499
For the first one - @rhatdan Thoughts?

[2020-08-29 20:03] mheon commented on #7498
I believe @jwhonce is working on this in https://github.com/containers/podman/pull/7452

[2020-08-30 06:05] zhangdaopin commented on #3288
According to the above problem description and treatment methods, I still haven't solved the problem that podman started alpine container. Is there any new progress in this problem? ?

`
root@N-20HEPF15JN1Q:/etc/apt/sources.list.d# podman run --cgroup-manager=cgroupfs --net=host -it  --rm docker.io/library/alpine /bin/sh                Your kernel does not support pids limit capabilities or the cg

[2020-08-30 07:47] afbjorklund commented on #7498
It doesn't seem to be "just" the logging, I don't actually get any image built either...

[code]

[code]

The base image is there, because I ran a simple "run" test before the "build".

[2020-08-30 07:51] afbjorklund commented on #4511
Yeah, but that bug seems to be same on Linux (with podman-remote v2). I can't build at all either... ☹️

[2020-08-30 08:05] afbjorklund commented on #7487
Same here, using `podman-remote` as the fallback since `podman --remote` is so "unstable"

[code]

[code]

But there are no guarantees, since podman-remote also runs locally "sometimes". https://github.com/containers/podman/issues/6598#issuecomment-651800762

It would be nice if there had been a simple regression test, for each release (especially v2).
Like checking the basic podman-remote version

[2020-08-30 08:14] avikivity commented on #7417
Is there no workaround?

[2020-08-30 09:42] rishubn opened #7501 "Podman fails to grab docker container and fails when accessing quay.io"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run --cap-add=NET_ADMIN -d -v /mnt/data:/data -v /etc/localtime:/etc/localtime:ro haugene/transmission-openvpn:latest-armhf`

This happens with both `haugene/transmission-openvpn:latest` and `haugene/transmission-openvpn:latest-armhf`

**Describe

[2020-08-30 10:24] njam opened #7503 "User from "generateCurrentUserPasswdEntry" created with duplicate UID"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since 2.0.5 podman creates a user account when `--userns=keep-id` is set, with the UID of the user on the host system. The algorithm doesn't check if there's _already_ a user with the same UID inside the container. As a result in the end there might be two user accounts with the same UID.

**

[2020-08-30 10:38] rolandweber commented on #6950
Happened to me as well. I created a GitHub workflow that calls "podman push" with a tag that includes the job run number. The first attempt with that job step failed, giving the error message reported here. On re-running the job (which uses the same tag a second time), the push succeeded. Running a new job (which generates a new tag) then succeeded immediately.

Maybe it's really just about the ve

[2020-08-30 10:39] rolandweber commented on #6950
@rhatdan Could you please re-open this issue? I don't have the required permissions.

[2020-08-30 10:43] Luap99 commented on #7501
Are you signed in and have the access right for this image?

[2020-08-30 10:44] rolandweber commented on #6950
I'm using the pre-installed `podman` from GitHub's Ubuntu 20.04 image.
This is the job that succeeded on re-run: https://github.com/rolandweber/pityoulish/runs/1047389837

[code]

[2020-08-30 10:47] shrub77 commented on #7501
Yes, I believe so. When using docker instead of podman it works without issue

[2020-08-30 10:54] Luap99 commented on #7501
@shrub77 You have to login with `podman login quay.io`.

[2020-08-30 10:55] akvadrako opened #7504 "Feature: support uidmap with `podman play kube`"
/kind feature

I would like to use pod.yaml as a rootless alternative to docker-compose. In a pod I'm working on, some containers expect to run as root and some expect to run as a non-root user. I would like all of them to map to my current user in the host's namespace.

For this I need some way to pass the **uidmap** option using a pod.yaml file. Something like:

[code]

Related: https://github.c

[2020-08-30 12:00] akvadrako commented on #6123
It would also be useful to keep **uidmap** relative to the default uidmap because you can specify the "current user" in a uidmap. For example, to run a container as user 100 and mapping it to the current user, you could do:

    podman run --user=100 --uidmap=100:0:1

[2020-08-30 20:48] debarshiray commented on #7389
Now that Podman 2.0.5 has made it into Fedora 32, we really need to fix this. Otherwise this warning will begin to bother people every time they `podman exec` into a container:
[code]

[2020-08-30 23:37] debarshiray commented on #6943
I am not sure what the deal is here.

[Toolbox](https://github.com/containers/toolbox) has been doing `--volume /dev/:/dev:rslave` for more than a year now. Haven't run into any problems so far.

From what I understood after discussing with @giuseppe a few weeks back, it's not a problem unless you do `podman create --interactive --tty ...`, which Toolbox doesn't. Instead, doing `podman exec --inte

[2020-08-31 04:41] bbros-dev commented on #7484
As requested, I believe this shows the service is started without error:

[code]

On the host I am able to check ports `4001` (and `4002`) respond:

[code]

[2020-08-31 04:48] bbros-dev commented on #7501
I've encountered this when:

[code]

I have logged in with `podman login docker.io` and try to run a `docker.io` container.

[2020-08-31 06:42] burhan opened #7505 "cannot install container tools on rhel8"
/kind bug

**Description**

On a fresh install of RHEL8, I am unable to install container tools, because `udica`(?) is not installable.

[code]

[2020-08-31 06:50] afbjorklund commented on #7498
Probably related to #7136 and #7137

[2020-08-31 07:05] fhwsuper opened #7506 "Except for Podman V2.0, which other release version will be also supported? such as: 1.9.x ？ 1.8.x ？"
Except for Podman V2.0,  which other release version will be also supported? such as: 1.9.x ？ 1.8.x ？Are there any rules or documents for supported release version?

[2020-08-31 08:48] x70b1 opened #7508 "broken dependencies on debian 10"
/kind bug

**Description**

At the moment the dependencies for podman 2.0.5 on debian are broken.

**Steps to reproduce the issue:**

1. use sources from the [docs](https://podman.io/getting-started/installation.html)

2. `sudo apt-get -qq -y install podman`

3. Error: `E: Unable to correct problems, you have held broken packages.`

**Describe the results you received:**

The core problem seems to

[2020-08-31 09:04] Jakuje commented on #6976
Seems like it is finally fixed in my Fedora 32 and I am able to build oss-fuzz containers. Please, confirm. In that case, we can probably close this issue.

[2020-08-31 09:42] jjzmajic opened #7509 "Automatic creation of storage.conf/libpod.conf is an anti-feature"
This effectively introduces the requirement that all users running podman either have a writable home directory or are provisioned in advance. This is not always the case, especially at scale with lots of "worker" users.

The cost is clear but I see no benefit to this approach. Is there something I'm missing?

[2020-08-31 10:39] jjzmajic commented on #7509
I presume this specific use case was why the `--storage-opt` setting was added. (Though I sorely miss an equivalent `--libpod-opt`.)

[2020-08-31 11:21] Luap99 commented on #7484
No I really mean `systemctl --user status <full ctr id>.service` because podman creates a transient `.service` and `.timer` unit with this name to run the healthcheck. I get output like this:
[code]
[code]

The Error seams to be indicating that this special unit did not get created by podman in your case.

[2020-08-31 11:37] mkoura opened #7510 ""error setting rlimit type 6: operation not permitted" after upgrading system in container"
/kind bug

**Description**

I have a container created using toolbox. After upgrading system inside the container using `dnf update`, I can no longer start the container. I have also upgraded host's system and new kernel version was installed, not sure what caused the issue.

Might be related to https://github.com/containers/podman/issues/7466 although I'm not running Fedora CoreOS.

**Steps to re

[2020-08-31 11:58] rhatdan commented on #7404
@baude @jwhonce Any ideas?

[2020-08-31 12:06] edsantiago commented on #6518
Uh, well, no, because it was flaking so much that I disabled the test (#7143). I haven't tried to generate a reproducer, but if today is calm I will try to do so. I've removed the stale-issue label because until the test is reenabled, we don't know.

[2020-08-31 12:08] rhatdan commented on #7447
Then we should just output that this file is left behind, and the user could remove it.

[2020-08-31 12:15] stephankoelle commented on #7508
Same issue here, with update to date debian 10.
I have tried to exclude cri-o-runc, I think it is not needed, podman uses crun by default?

[2020-08-31 12:30] edsantiago commented on #7135
Still happening, master @ 575b3a3d8ab4f1f72d58b71aa4d534eca3a5d8f9

[2020-08-31 12:30] afbjorklund commented on #7506
There was a partial answer on https://podman.io/blogs/2020/08/01/deprecate-and-remove-varlink-notice.html

[2020-08-31 13:02] hakonhall opened #7511 "Static IPv6 address and --ip6"
/kind feature

**Description**

We need to start containers with a static IPv6 address: the `--ip6` option to `podman run`. These containers may or may not also have a static IPv4 address (`--ip`).

This has been mentioned in tickets and comments before, but extracted to this ticket for visibility:
https://github.com/containers/podman/issues/7265#issuecomment-671054850
https://github.com/container

[2020-08-31 13:29] mheon commented on #7506
Generally speaking, we provide full support for the most recent version, and backports of security issues and major bugfixes to a few previous versions. At present, we're starting to spin the Podman v2.0 branch down to only critical backports as we prepare to begin cutting RCs for Podman 2.1.0

[2020-08-31 13:34] mheon commented on #7508
@lsm5 Poke, PTAL

[2020-08-31 13:36] mheon commented on #7510
Host upgrades are more likely to have caused this - any chance Podman was upgraded as part of this?

[2020-08-31 13:36] mheon commented on #7484
@baude PTAL

[2020-08-31 13:37] #7112 closed

[2020-08-31 13:38] mheon commented on #7509
I believe we've already disabled this - @rhatdan can you confirm?

[2020-08-31 13:40] mheon commented on #7505
Can you file a Bugzilla about this?

[2020-08-31 13:41] mheon commented on #6976
I'm going to go ahead and close, given that the Buildah fix appears to have landed in several releases.

[2020-08-31 13:41] #6976 closed

[2020-08-31 13:43] mkoura commented on #7510
Yes, podman was upgraded from podman-2:2.0.4-1.fc32 to podman-2.0.5-1.fc32. The problem is still the same after downgrading to 1.8.2-2.fc32 (2.0.4 is no longer available in Fedora 32 repos).

[2020-08-31 13:44] mheon commented on #7510
Any chance you re-created the Toolbox container as part of this upgrade?

[2020-08-31 13:48] mkoura commented on #7510
I don't think so. The container was created about two months ago and it was running during the host's upgrade. I found out this morning after host's reboot that I can no longer start the container.

[2020-08-31 13:53] mheon commented on #7510
Can you include the output of `podman inspect` on the container?

[2020-08-31 13:59] mkoura commented on #7510
[code]

[2020-08-31 14:23] baude commented on #7484
outside the context of the system business, it seemed to work perfectly.  im going to ask @vrothberg to take a peek at this to see if anything systemd is interfering.

[2020-08-31 14:25] mheon commented on #7510
Hmmm. Those rlimits don't seem like defaults - I wonder if the system rlimits changed, and that's causing us to be unable to start?

@rhatdan Any idea how we'd check that?

[2020-08-31 15:08] rustysys-dev opened #7512 "permissions errors on working directory when multiple containers attach the same volumes."
/kind bug

**Description**

tl;dr : When multiple containers attach to the same volumes, only the last container has access to the working directory when working directory within said volume.

For local troubleshooting of a production application we have a docker-compose file for which I use podman-compose to bring up the test environment.

I created a test that can reproduce the error below.

**S

[2020-08-31 15:13] Luap99 commented on #7512
From the podman create man page

so you need to you a lower case `z`

[2020-08-31 15:15] rustysys-dev commented on #7512
just saw that... sorry closing!

[2020-08-31 15:15] #7512 closed

[2020-08-31 15:16] mkoura commented on #7510
Not sure where the ulimits values come from. Originally I just used `toolbox create` to create the container. On newly created container the ulimits are empty.

[2020-08-31 16:10] afbjorklund commented on #7506
We are currently building our own packages for 1.9.3, since there are no "subprojects" available for podman:

https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

It was recently added as a feature for cri-o, for users that wanted to stay on older releases (or on branches):

https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable

----

For podman there

[2020-08-31 16:12] #6940 closed

[2020-08-31 16:56] plopresti opened #7513 "ignore_chown_errors is ignored in global storage.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

ignore_chown_errors = "true" does not work if I put it in /etc/containers/storage.conf. It does work if I put it in ~/.config/containers/storage.conf.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
"pm info | grep ignore_chown_errors" shows nothing even tho

[2020-08-31 17:37] mheon commented on #7513
@nalind @rhatdan PTAL - I was under the impression that we based rootless storage configuration on global storage configuration, but I could be mistaken.

[2020-08-31 17:38] mheon commented on #7510
There was a brief period where Podman automatically created them, but if Podman added them, it would always have failed unless the system configuration changed, from my understanding...

[2020-08-31 17:39] mheon commented on #7510
Any chance you can downgrade to the previous Podman and check if it still works?

[2020-08-31 17:49] #7442 closed

[2020-08-31 17:54] forgems opened #7515 "Podman 2.0.5 can't run containers that don't contain /etc/passwd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

While trying to run images based on scratch base image that contain only static linked binary and USER command that changes user to non root it fails with following error:
For example
[code]

**Steps to reproduce the issue:**

1.
[code]

2.
[code]
3. `podman build . -t go-static`
4. `podman run go-static`

**D

[2020-08-31 17:57] mheon commented on #7515
I'll take this one.

[2020-08-31 18:07] nalind commented on #7513
If I'm reading it right, it's currently an either-or thing.  I could see us wanting to change that, and wiring in a `/usr/share/containers/storage.conf` while we're in there.

[2020-08-31 18:24] plopresti commented on #7513
@mheon @nalind I do not understand your replies. Are you saying my bug report is incorrect?

Simply put, I want to enable ignore_chown_errors globally for all users. Is there a way to do this?

[2020-08-31 18:29] mheon commented on #7513
@plopresti My understanding was that the global storage configuration file was taken into account when generating per-user storage configuration, which would mean I would expect your adding configuration to that file would work.

@nalind has indicated that is not presently the case, though, so there is presently no way to set global storage configuration options for rootless Podman at present.

[2020-08-31 18:30] mheon commented on #7513
It sounds like something we should allow, though - your use-case of globally setting ignore-chown-errors is 100% valid.

[2020-08-31 18:39] plopresti commented on #7513
This version of podman does not generate any per-user storage configuration. (If you start with no ~/.config/containers/storage.conf, running podman does not create it.)

This is kind of how I noticed... My own storage.conf was generated the first time I ran podman a while ago. So I had instructions for people to edit their per-user storage.conf after running "podman" the first time. But they cann

[2020-08-31 18:49] bbros-dev commented on #7484
@Luap99 correct, while the container is running ...

[code]
... the intermediate service is not created.

[code]

[2020-08-31 18:58] mheon commented on #7513
Creating config files on first run had its own set of problems (https://github.com/containers/podman/issues/7509 is an example) so we decided to disable it. You should still be able to create the file yourself with minimal contents (just the basic structure and ignore_chown_errors set, everything else commented out) and we will still read and use it.

[2020-08-31 19:06] lsm5 commented on #7508
so @mheon mentioned that we're defaulting to runc (provided by cri-o-runc) so I'll check whatsup with the seccomp dependency.

[2020-08-31 19:37] asottile commented on #7454
this seems to not yet be fixed in 2.0.5:

[code]

[2020-08-31 20:15] edsantiago commented on #7228
Yet another flake in [Fedora gating tests](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/15438/pipeline/#step-177-log-1077):
[code]
This failed just minutes ago. The fix for #7195 was committed last week. This really proves to me that the root cause is unrelated to 7195.

[2020-08-31 22:20] mkoura commented on #7510
I downgraded to podman-2.0.4-1.fc32 and it doesn't work. Probably kernel upgrade changed limit defaults, my current limits are:
[code]

[2020-08-31 22:28] mheon commented on #7510
Hm. NOFILE in Podman is set to 524288 and your system has 524288 set, so that's fine. NPROC, on the other hand, is set to 63397 in Podman and 63388 on your system - the Podman one is larger. That's probably the error there.

[2020-09-01 03:14] andrew-kennedy commented on #7175
Is there no planned way to remap ports *within* the context of a pod? This seems like a really necessary feature for containers that weren't necessarily already intended to be in the same "port namespace". Otherwise good luck trying to easily use containers like Organizr in the same pod as other containers that contain some kind of PHP web service like Heimdall because they will always conflict on

[2020-09-01 05:27] jjzmajic commented on #7509
Ok, this is my mistake. I didn't rehash my shell after `sudo make install`. You did remove this feature.

Should I open a separate issue for `--libpod-opt`? My issue is that I cannot guarantee the appropriate `XDG_SESSION_ID`, the right `XDG_RUNTIME_DIR`, nor a writable home directory. I would like to configure all of this from the command line and I assume this is only possible with something lik

[2020-09-01 05:55] jjzmajic commented on #7509
There still seem to be some directories that podman is trying to create, but the upside is that at least it can still run under 2.0.5.

I'm running the following command:
`podman --root /podman/storage --runroot /podman/run run -it alpine sh`

As expected, I get dropped into `ash`, but I still get:
`ERRO[0000] unable to make temp dir /home/<dummy>/.config`

[2020-09-01 06:16] jjzmajic commented on #7509
I believe this line is the culprit: https://github.com/containers/podman/blob/master/pkg/util/utils_supported.go#L87

It should have also been removed as part of the changes discussed above no? (For the same reasons at least.)

[2020-09-01 06:16] hobbytp opened #7518 "OAuth2 support"
does podman support OAuth2 (bearer token) authorization like docker engine does in the picture in https://docs.docker.com/registry/spec/auth/token/?  There are 6 steps in OAuth2 flow.
That means, when podman pull image, it will try to access container registry but failed (return 401 unauthorized), and then it send request to "Authorization Service" to get access token, after getting access token,

[2020-09-01 08:13] mkoura commented on #7510
Right. I was finally able to increase the NPROC limits and the container is able to start. Thanks for your help @mheon :+1:

[2020-09-01 10:07] #7515 closed

[2020-09-01 10:46] rhatdan commented on #7509
Yes that should have been removed before.

@jjzmajic Nice catch.

[2020-09-01 10:47] rhatdan commented on #7518
@mtrmac @QiWang19 PTAL

[2020-09-01 11:20] rei-ber opened #7520 "Get reset connection packets for rootless pod after stop/start"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman pod start` does not work properly after `podman pod stop` as rootless. If I run a server in a pod and try to connect to it, it works after creating the pod and starting it. If I stop the pod and start it again, I observe a reset connection like #7016 already documented. If I do a rest

[2020-09-01 11:29] Luap99 commented on #7520
2.0.5 will fix this.

[2020-09-01 12:23] stephankoelle commented on #7508
Work arround:
get an old cri-o-runc packge from some were an older poman 2 is installed:

/var/cache/apt/archives/cri-o-runc_1.0.0-3~dev2_amd64.deb

install that with dpk -i
continue to install pomman with apt-get ... (should install without complain)

[2020-09-01 13:28] hakonhall opened #7521 "Server/service fails to detect client disconnect in stats REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The server does not detect client disconnect with the stats REST API, taking up resources linear in the the number of historical requests.

**Steps to reproduce the issue:**

1.

[code]

2.

Start the service in terminal A:

[code]

3.

In Terminal B:

[code]

and then `control-c` after, say,

[2020-09-01 13:38] mheon commented on #7521
The API in 1.9.3 is *very* early - any chance you can retest with Podman v2.0.5?

[2020-09-01 14:46] hakonhall commented on #7521
On RHEL 8 that's the latest I have available.  The description in https://podman.io/getting-started/installation would install an even older version, so it requires building from scratch.

[2020-09-01 15:10] burhan commented on #7505
As requested: https://bugzilla.redhat.com/show_bug.cgi?id=1874548

[2020-09-01 15:17] lsm5 commented on #7508
@mheon @baude @cevich I sent a `2.0.5~3` to OBS just now which should unblock debian 10 users. It goes back to preferring runc over cri-o-runc in the dependencies. However, if there's a cri-o-runc installed already, it will prefer using that instead as `/usr/lib/cri-o-runc/sbin/runc` is listed before `/usr/sbin/runc`. So, as long as we have the CI image builder explicitly install cri-o-runc, we sh

[2020-09-01 16:05] lsm5 commented on #7508
2.0.5~3 is available in the OBS stable repo now. Closing this. Please reopen if you still see this issue.

[2020-09-01 17:57] ideepika commented on #7260
@giuseppe @rhatdan @TomSweeneyRedHat this is blocking in some sense.
I can see the cause being I moved the previous username to a new user and deleted old one, but turns out podman is somehow picking up the old one in creating overlay path:
`Error: stat /home/deepika/.local/share/containers/storage/overlay/ffd9ff7408b75314c2fea3331aea9b7ee4be6b54e4f7de30771b869aee82f167: no such file or directory`

[2020-09-01 18:00] ideepika commented on #7260
you see here as well, instead of using ideepika, podman is making use of /home/deepika ( whick does no exists)

[2020-09-01 18:01] #7505 closed

[2020-09-01 18:01] baude commented on #7505
closing this as it is a distribution bug

[2020-09-01 18:07] ideepika commented on #7260
when with sudo I get:
[code]
although I have tried to remove the container using it's ID as well:

[code]

[2020-09-01 18:12] mheon commented on #7260
You will need to `podman rm --storage` the ID if it does not appear in `podman ps` but Podman complains about it existing

[2020-09-01 20:35] mtrmac commented on #7518
Please start with describing what you are actually trying to do.

That protocol you link is not really OAuth, and it is ~supported in the default flow starting with `podman login` (but not _exactly_ as described because that isn’t how Docker behaves, and that would not allow working with some real-world registries). There is a separate way to sort of integrate with (something closer to?) real OAut

[2020-09-01 21:03] acmel opened #7529 "'podman build' fails where 'buildah bud' works"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Fails:

podman build -t my_image .

Works:

buildah bud -t my_image .

Then I can go and use my_image with 'podman run', etc.

**Steps to reproduce the issue:**

[perfbuilder@five fedora]$ mkdir b
[perfbuilder@five fedora]$ cd b
[perfbuilder@five b]$ vim Dockerfile
[perfbuilder@five b]$ cat D

[2020-09-01 21:09] coreyryanhanson commented on #7052
@mgnsk Thank you, this solution seems to be what I was looking for! However, I don't think I have the namespaces mapped quite right yet and wanted to make sure I was actually headed in the right direction.

If one is running a container where the default account is a non-root user, will this allow writing files without both the --privileged tag and bouncing between file ownership? Am I assuming co

[2020-09-01 23:08] greenpau commented on #5352
@soostdijck , @g574, @edsantiago , fyi, I just finished working on beta version of CNI plugins compatible with `nftables` and running with CentOS 8. I would greatly appreciate feedback and testing. https://github.com/greenpau/cni-plugins#table-of-contents

[2020-09-01 23:46] TomSweeneyRedHat commented on #7529
@acmel thanks for the issue.  My first guess is the `--layers` option.  By default, Podman uses `--layers=true`.  Could you try:
' podman build --layers=false -t my_image .`

If you've time, it would also be interesting to see if buildah with layers with true fails `buildah bud --layers=true -t my_image .`

But all that said, I'm not sure why `--layers` would trip up this Dockerfile, it seems rath

[2020-09-02 01:21] acmel commented on #7529
[perfbuilder@five b]$ podman images | grep my_image
[perfbuilder@five b]$ podman build --layers=false -t my_image .
STEP 1: FROM fedora:32
STEP 2: RUN dnf -y install make
2020-09-02T01:20:31.000195784Z: sd-bus call: Permission denied
error running container: error creating container for [/bin/sh -c dnf -y install make]: : exit status 1
Error: error building at STEP "RUN dnf -y install make": error

[2020-09-02 06:27] AkihiroSuda opened #7530 "Any reason to support slirp4netns for rootful?"
Is there any reason to keep support for `podman run --network=slirp4netns` on rootful?

During fixing up CI failures in https://github.com/containers/podman/pull/7460, I found it is hard to keep support for slirp4netns+rootful .

[2020-09-02 07:04] hakonhall commented on #7511
From https://github.com/containers/podman/issues/6114#issuecomment-632410709 this may already be in progress @mheon ?

[2020-09-02 07:51] rei-ber commented on #7520
2.0.6 fix it for me; thanks =)

[2020-09-02 07:51] #7520 closed

[2020-09-02 08:53] masayag opened #7531 "no_proxy environment variable causes to access the proxy when it shouldn't"
/kind bug

**Description**

Podman uses the proxy for accessing the domain although no_proxy environment variable is set as '.domain-name'.
Podman doesn't use the proxy for accessing the sub-domain when only the domain is set.
There is no option to exclude only subdomains from using the proxy.

Specifically, when setting the following values for no_proxy, this is the actual behavior:

- no_proxy="

[2020-09-02 10:50] #7509 closed

[2020-09-02 11:22] rhatdan commented on #7530
Would there be a use case where you want to run podman within a locked down container, without NET_ADMIN as root and still need to setup the network?

[2020-09-02 11:35] rhatdan commented on #7531
Podman is just using the golang libraries to handle this.  If no_proxy is not working correctly then it is a bug in go/golang, I believe.  There is not much that Podman can do about this.

[2020-09-02 12:20] masayag commented on #7531
Thanks for highlighting it, so I'm closing this issue since the behavior is as defined on https://godoc.org/golang.org/x/net/http/httpproxy for the NoProxy field which seems to be the desired one by golang lib.

[2020-09-02 12:20] #7531 closed

[2020-09-02 12:28] iwilltry42 commented on #7462
@Luap99 , in k3d we're only filtering by name: https://github.com/rancher/k3d/blob/main/pkg/runtimes/docker/network.go#L47-L54
[code]

[2020-09-02 13:11] ashley-cui commented on #6628
@jgallucci32 looks like this is docker behavior too..
[code]

[2020-09-02 13:11] #6628 closed

[2020-09-02 14:05] baude commented on #1433
this can now be done by podman

[2020-09-02 14:05] #1433 closed

[2020-09-02 14:10] #4398 closed

[2020-09-02 14:12] baude commented on #4264
@mtrmac is this a bug or not?

[2020-09-02 14:13] baude commented on #4114
closinig as this sounds fixed or distribution specific

[2020-09-02 14:13] #4114 closed

[2020-09-02 14:15] baude commented on #5763
@mheon please do the consolidation and close this

[2020-09-02 14:21] baude commented on #6190
I'm going to close this.  Retry is implemented I believe and really this issue would need to filed against another component if there was any way to do this...which I think @mtrmac is saying there isnt.

[2020-09-02 14:21] #6190 closed

[2020-09-02 14:22] baude commented on #6139
closing as distribution problem.  re-open with updates if not happy.

[2020-09-02 14:22] #6139 closed

[2020-09-02 14:26] baude commented on #6692
this should be fixed

[2020-09-02 14:26] #6692 closed

[2020-09-02 14:26] baude commented on #6642
this should have been all cleaned up now. i believe @jwhonce got them all now.

[2020-09-02 14:26] #6642 closed

[2020-09-02 14:27] baude commented on #6558
https://www.redhat.com/sysadmin/podman-clients-macos-windows

[2020-09-02 14:28] baude commented on #6558
this should now be fixed, ive also provided a brief how to

[2020-09-02 14:28] #6558 closed

[2020-09-02 14:44] nalind commented on #4264
Looking at the output from `skopeo inspect --raw` on both `docker://jimmyherron/why:base` and `docker://jimmyherron/why:44D9D4B4`, the config blobs for the two images are described as having different digests, which I'd expect, but the same size, which is not what I'd expect, and which we know from `skopeo inspect --raw --config` is incorrect for the derived image's config blob.  To me, that looks

[2020-09-02 14:59] mheon commented on #7530
I think the request is usually for Podman in a container, or otherwise scenarios where modifying IPTables isn't really feasible.

It sounds like the amount of effort going into keeping it working when changes are made is high, though it generally doesn't seem to break or develop many bugs otherwise.

[2020-09-02 15:08] Noah-Huppert commented on #6692
Thank you very much!!!

[2020-09-02 17:18] rhatdan commented on #7497
@mtrmac PTAL

[2020-09-02 17:19] rhatdan commented on #7499
The /etc/passwd entry seems correct.

[2020-09-02 17:29] mheon commented on #7503
I'm working on this now.

[2020-09-02 17:31] mheon commented on #7499
@rhatdan Sure, but we're not messing with `/etc/shadow` (and I really don't want to do that) so we're creating a user that claims it has a password, but actually does not. This breaks the ability to log in as the user in the container, which is relevant to pet container use-cases like Toolbox (I can also definitely see systemd-in-a-container as rootless wanting to do this).

[2020-09-02 17:41] jenschurchill commented on #6800
Any podman command I run, gives:

ERRO[0000] error joining network namespace for container 470b76724bcff05db55806baeb376b9951e8a4db66412937ed827e3d18677e4a: error retrieving network namespace at /run/user/1000/netns/cni-8bf84c49-dcbd-bd4b-f954-a09d142834f0: failed to Statfs "/run/user/1000/netns/cni-8bf84c49-dcbd-bd4b-f954-a09d142834f0": no such file or directory

ERRO[0000] unable to get containe

[2020-09-02 17:42] mheon commented on #6800
Does `podman rm --force 470b76724bcff05db55806baeb376b9951e8a4db66412937ed827e3d18677e4a` work?

[2020-09-02 17:43] jenschurchill commented on #6800
Yes, it appears to.
Thank you, incredible response time!

[2020-09-02 19:06] edsantiago opened #7535 "APIv2: DELETE libpod/containers/foo?force=true: unlinkat: directory not empty"
Probable flake; filing so we can track it. In API tests:
[code]
Source: [apiv2_test](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5373175691214848/html/apiv2_test.log.html#t--00258) in #7534

Am assuming it's a flake, since I didn't touch any of this code. Will restart failing test.

[2020-09-02 19:47] mtrmac commented on #4264
Yes; randomly checking https://github.com/google/containerregistry/blob/8a11dc8c53003ecf5b72ffaf035ba280109356ac/client/v2_2/append_.py#L82-L85 (I have spent _absolutely no time_ to ensure this is actually the code involved in the description above), that code updates the digest but not the size.

Closing.

[2020-09-02 19:47] #4264 closed

[2020-09-02 19:54] mtrmac commented on #7497
Taking advantage of _successfully pulled_ layers on future pulls might happen as a side effect of parallel layer commit Valentin was working on some time ago.

Restarting an _individual layer pull_ with a range request is problematic with the current architecture, where compression/decompression/encryption/decryption happens on the fly, so there may not be any obvious restart point. It seems feasi

[2020-09-02 21:21] QiWang19 commented on #7501
@shrub77 Could you check you have configured `'docker.io'` in `/etc/containers/registries.conf` file? looks like `haugene/transmission-openvpn` does not on quay.io, and when using shortname, podman will try `registries.search` search list.

[code]

[code]
[code]

[2020-09-02 21:33] ashley-cui commented on #7196
@zhangguanzhang looks like you were right on this issue, seems to be libpod not reading log lines correctly. Thanks for pointing it out, but it's strange since it affects the remote api but not the cli in outputting the log. if you have any ideas, let me know

[2020-09-03 01:02] QiWang19 commented on #7529
Could you try `podman build --cgroup-manager=cgroupfs -t my_image .`
issue #6368 has encountered with the same error sd-bus call: Permission denied

[2020-09-03 01:07] QiWang19 commented on #7423
Close the issue since it's fixed by #7436

[2020-09-03 01:07] #7423 closed

[2020-09-03 01:37] acmel commented on #7529
Yeah, that did the trick, see below.

Now please hand hold me, am I missing some kernel config option? There is this cgroup transition, I'm probably missing something really obvious here :-\

perfbuilder@five b]$ podman build --cgroup-manager=cgroupfs -t my_image .
STEP 1: FROM fedora:32
STEP 2: RUN dnf -y install make
Fedora 32 openh264 (From Cisco) - x86_64

[2020-09-03 02:04] jfmcbrayer commented on #3843
I had this issue, and it turned out that, according to `podman system df`, I had 2047 local volumes. I did `podman volume prune, followed by a `podman system renumber` for good luck, because I'm basically cargo-culting here, and my container worked after that.

[2020-09-03 08:56] hobbytp commented on #7518
thanks @mtrmac, sorry for unclear description. let me try to clarify my questions as below:

I tried docker engine/docker client + docker registry (configured with authorization server realm and root cert) +keycloak (use docker-v2 protocol mapper), the OAuth2 flow in https://docs.docker.com/registry/spec/auth/token/ can work, I tcpdump the pkt to verify it.  So I would like to know if podman comma

[2020-09-03 09:08] cyphar opened #7537 "support "--security-opt systempaths=unconfined""
/kind feature

**Description**

Right now you can't disable the `/proc` overmounts. While these are a security feature in general, due to kernel restrictions, this means that you cannot run a subcontainer or other sandbox that tries to mount `procfs` (even if it uses user namespaces). Having a way to optionally disable this would be neat and would also bring more feature parity with Docker (which

[2020-09-03 10:11] ioparaskev commented on #3843
@jfmcbrayer Thanks!  `podman volume prune` did the trick! I saw it deleted many many volumes.
Any ideas why this garbage was left? I  wouldn't want to bump into to in the future and have to manually prune again

[2020-09-03 10:34] ioparaskev commented on #3843
I just did a test starting two containers and then stopping them using the systemd service file I posted above. I then did a `podman volume prune` and it deleted two volumes. This means that these two volumes were left as garbage when the containers stopped. (I also did the test manually starting -> stopping -> removing a container and the result was again leftover volumes)

[2020-09-03 11:30] rhatdan commented on #7513
This should work.

[code]
So it looks like this field is being ignored by rootless containers,  This is definitely a bug.

[2020-09-03 11:31] rhatdan commented on #7513
We need to get this fixed ASAP.  It is needed for HPC Environmnets.

[2020-09-03 11:48] ikke-t commented on #3843
Thanks for the tip. It seems it has gotten messed up a lot, There were tens of volumes I coulnd't remove as there are no locks for them. The output starts like this, perhaps there should be some script done so that those would get cleaned as well.:

[code]

[2020-09-03 13:10] mheon commented on #7537
We already support passing options to the `/proc` mount via `--security-opt proc-opts` (added in #7227). It looks like Docker went ahead and added it at some point at well, using a completely incompatible syntax, so now we'll have to support that as well...

[2020-09-03 13:39] mheon commented on #3843
@ikke-t Said volumes were removed, but Podman is warning you it was unable to reap their locks as well.

It's probably fine, but you may want to run `podman system renumber` to make sure all is well.

[2020-09-03 14:07] ikke-t commented on #3843
thanks, turns out that can't be done without shutting down the pods, which I can't do ATM:

[code]
Perhaps at the next time I need to reboot anyhow or something.

[2020-09-03 14:47] zhangguanzhang commented on #7196
Up to now, I have not found any clues about the occurrence of the problem

[2020-09-03 15:50] QiWang19 commented on #7529
@acmel thanks for checking, In the `/etc/containers/containers.conf` or `/etc/containers/libpod.conf`, is the `cgroup_manager = "systemd"` configured?

[2020-09-03 16:32] cyphar commented on #7537
This is separate to procfs mount options. This is about disabling the `/proc/scsi` et al overmounts (`MaskedPaths`).

[2020-09-03 16:34] mheon commented on #7537
Ah - I see, you're entirely right. This is definitely worth adding.

[2020-09-03 16:58] x70b1 commented on #6253
I got a message `ERRO[0000] normal attach` now.
But there is still no content until screen resizing.

[2020-09-03 17:33] mheon commented on #6253
I think we must have changed something about how resize is handled that broke this. We used to unconditionally resize the screen, which would trigger terminal prompts to re-display. It looks like this was disabled at some point, though...

[2020-09-03 19:21] acmel commented on #7529
I couldn't find any containers.conf or libpod.conf in this system, its a fedora:32 with:

[perfbuilder@five b]$ rpm -q podman
podman-2.0.5-1.fc32.x86_64
[perfbuilder@five b]$ rpm -qa | grep libpod
[perfbuilder@five b]

[2020-09-03 19:22] acmel commented on #7529
I take that back, I didn't find it in /etc, it is at:

[perfbuilder@five b]$ grep cgroup_manager /usr/share/containers/containers.conf
# cgroup_manager = "systemd"
[perfbuilder@five b]$

[2020-09-03 19:25] acmel commented on #7529
So if I change in that file it to:

$ grep cgroup_manager /usr/share/containers/containers.conf
cgroup_manager = "cgroupfs"
$

I works, equivalent to using   --cgroup-manager=cgroupfs, thanks!

[2020-09-03 19:49] #7529 closed

[2020-09-03 21:20] mtrmac commented on #7518
containers/image/v5/docker/docker_client.go has nothing to do with the Docker Engine.

[2020-09-04 07:12] abpatwa commented on #4543
As i said, we require internet service on that server i can disable the proxy on system as its will stop internet.  So require parameter to exclude the system proxy while running podman command for pull

[2020-09-04 10:40] rhatdan commented on #7175
@giuseppe @AkihiroSuda @mheon Any comment on this?

[2020-09-04 10:45] rhatdan commented on #7510
Those values would only be set on a broken version of Podman from a while ago.  I don't believe they are set any longer.  We really can not fix this container at this point, other then destroying it and recreating it.  Since you were able to reset your user account rlimits to make this work, I am going to close the issue.

[2020-09-04 10:45] #7510 closed

[2020-09-04 13:12] mheon commented on #7175
The only way I can think of doing this is Seccomp notifier syscall interception/hijacking - we could intercept bind calls, strip application-requested port numbers, and slot in our own randomly-assigned number. Potential problems: We'd need to report that number back to the user somehow - `podman pod inspect` would work but the script would need to give Podman pointers as to what PID had been give

[2020-09-04 14:09] lsm5 commented on #7440
fixed with `conmon-2.0.20-3`. Please reopen if you still notice this.

[2020-09-04 16:42] lz006 commented on #7440
thanks, but now unfortunately it's slirp4netns again
[code]

[2020-09-04 17:19] lsm5 commented on #7440
@lz006 could you try a `dnf clean all` and then retry installing podman. I can install slirp4netns correctly on a clean centos8 env.

[2020-09-04 17:30] lz006 commented on #7440
hi, you were right. It must be caused by some kind of tmp files. It is working. Thanks for quick response.

[2020-09-04 18:22] mheon commented on #7490
Suspicion: This is due to `postConfigureNetNS`.

Generally speaking, Podman configures the network namespace completely, then creates any files it needs to bind-mount in (`/etc/hosts` amount them), then goes ahead with container creation. However, with containers in a user namespace, we are forced to use a different flow - the network namespace is configured much later in the process, after `/etc/

[2020-09-04 19:12] QiWang19 commented on #7351
Close the issues since it's fixed in upstream.

[2020-09-04 19:12] #7351 closed

[2020-09-04 19:38] cwawak opened #7543 "Podman remote commands do not provide same textual feedback as local"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When running podman remotely against a Fedora 32 VM, the commands don't appear to return as much information as running locally.

**Steps to reproduce the issue:**

1. brew install podman, config remote podman according to https://www.redhat.com/sysadmin/podman-clients-macos-windows
2. run a p

[2020-09-04 22:41] propeeves opened #7544 "Unable to run `podman pod create` on systems without systemd installed."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When attempting to run `podman pod create` on systems without systemd installed, such as on a system with OpenRC as the init system, podman errors with `unable to create pod cgroup for pod`. Setting cgroups-manager to cgroupfs and systemd to false in containers.conf does not fix the issue.

*

[2020-09-04 23:13] mheon commented on #7544
Can you try using `--cgroup-manager=cgroupfs` and see if it works?

[2020-09-04 23:14] mheon commented on #7544
Ah, sorry, I see you already mentioned this doesn't work. Interesting...

[2020-09-04 23:41] propeeves commented on #7544
It seems that `cgroup-manager=cgroupfs` was not being applied in `/etc/containers/containers.conf`, but is applied properly when put in `/etc/containers/libpod.conf`

I'm sure I just got mixed up somewhere in the docs on what to put where, or didn't fully understand how to utilize containers.conf - sorry for the hassle!

[2020-09-04 23:45] propeeves commented on #7544
Hm, now when `podman pod create` is run as it's own command, it works fine, but when podman-compose runs it it errors with

[code]

Not sure what's happening here.

[2020-09-05 00:33] rrichardson opened #7545 "Apparmor status incorrectly detected on Arch/Manjaro"
/kind bug

**Description**

When running `--security-opt apparmor=unconfined` I get this error:
`Error: Apparmor profile "unconfined" specified, but Apparmor is not enabled on this system`

However, Apparmor is enabled on my system
[code]

So I'm guessing perhaps I am missing some flag that allows podman or the container to detect this?
This is the command I'm executing.. Actually it's `kind` 0.8.

[2020-09-05 00:37] propeeves commented on #7544
Okay, I think I've isolated the issue - rootless runs the `pod create` with no issue, but root does not.

---
Root invocation of `podman pod create`
[code]

---
Rootless invocation of `podman pod create`
[code]

---

Only configuration file named libpod.conf or container.conf on my system is the `/etc/containers/containers.conf` file that has the text

[code]

[2020-09-05 00:47] rrichardson commented on #7545
Note I just tested with 2.0.6 and got the same result.

[2020-09-05 01:52] EduardoVega commented on #5845
Hi @rhatdan I would like to work on this one if it is still required.

[2020-09-05 14:14] rcasta74 opened #7546 "rootless podman not using rootless_storage_path from /etc/containers/storage.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Not sure if bug or not well documented behaviour. From `man containers-storage.conf`:

The last sentence let me think I can define it somewhere to override the default path for all users (usually system wide configurations are defined into /etc).
I tried to define it into `/etc/containers/sto

[2020-09-05 14:27] j0057 opened #7547 "OCI runtime permission denied when trying to use --userns container:id"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to run a container as a sidecar to another container, by sharing the user and net namespaces using the `--user container:id` and `--net container:id` options. This gives an "OCI runtime permission denied" error.

**Steps to reproduce the issue:**

1. Start the main container: `sudo

[2020-09-05 14:30] j0057 commented on #7547
The `--net sys` in repro step 1 refers to the following CNI config file (although the error reproduces exactly the same with the default podman network):

[code]

[2020-09-05 15:08] Luap99 commented on #7546
Yes this is a bug. See: #7513

[2020-09-05 17:51] jmou commented on #4900
Hi sorry if this is already known, but I just wanted to share my experience between podman and docker. I can reproduce this issue on podman with:
[code]

With docker:
[code]

When I unplug the device, the running docker container still includes the removed usb device. It is no longer present when the container is restarted. It looks like docker reconfigures /dev when the container starts.

[2020-09-05 18:36] shrub77 commented on #7501
@QiWang19 Sorry for the delay -
Here is my `/etc/containers/registeries.conf` :
[code]

Here is the output of the pull:
[code]

[2020-09-05 21:03] andrew-kennedy commented on #7175
@mheon I'd be okay with that. Anything that saves me container image edits and/or stops forcing me to not use a pod would be welcome. So would your proposed future method be that I'd put ports I know will conflict in the `--randomize-ports` flag and then use `podman inspect` to actually find those ports to be able to reference them from other containers? And they'd persist between restarts of the

[2020-09-06 01:30] mheon commented on #7175
Persistence across restart wasn't something I originally thought about, but it should be possible, we'd just have to store which container ID corresponded to which port.

Otherwise, yes, that sounds like the flow I had in mind.

[2020-09-06 07:19] PavelSosin-320 opened #7548 "Feature request: Podman on Centos8 distro on Windows WSL 2 on any Windows edition."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

kind feature

**Description**
Background:
After I have succeeded to run Docker on CentOS7 distro on Windows WSL2 without any additional software products like DockerDesktop I would like to run Podman on CentOS8.1 distro on Windows WSL2 available on any Windows edition, including OEM Home, as a standard featur

[2020-09-06 08:32] zhangguanzhang commented on #7548
the latest version is 2.0.6

[2020-09-06 11:02] giuseppe commented on #7547
could you try using crun instead of runc as the OCI runtime?

[2020-09-06 11:42] rhatdan commented on #7548
Can you just use --net=host?

@baude @mheon Ideas?

[2020-09-06 16:37] psgreco commented on #6867
Don't know if this is appropriate here, but this is how I've been testing this.
CentOS8, with 2.0.5 + https://github.com/containers/podman/commit/cb61a2d858d7874c66bafcf6d17c17bb9d7849e8 backported (so it can create the volumes).
Gitlab runner seems to think that everything worked, but the commands sent though the API are not really executed

[2020-09-06 22:07] x70b1 opened #7550 "readonly mount is not supported in kubernetes yaml"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

At the moment a setting like `readonly: true` is ignored for a mount in a kubernetes yaml.
I found out that it seems to be supported for a cli run: https://github.com/containers/podman/pull/6380

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The contai

[2020-09-07 02:39] hobbytp commented on #7518
Thanks @mtrmac for clarification. it is not real OAuth, so can I call it auth challenges?

Can I understand code containers/image/v5/docker/docker_client.go only follow OCI distribution spec to do some auth job? or it just follow Docker distribution API? Is this auth flow is the similar with https://docs.docker.com/registry/spec/auth/token/?

And I guess both podman and  skopeo can use containers/

[2020-09-07 06:40] j0057 commented on #7547
I did, adding `--runtime crun` to both podman commands, and still got an error in step 2: ```Error: make `/var/lib/containers/storage/overlay/cb46d77853d327613e84f76653cf7912827980bec6fc8fe103201fac326a8215/merged` private: Permission denied: OCI runtime permission denied error```.

[2020-09-07 07:26] vrothberg commented on #7550
Thanks for opening the issue, @x70b1!

@ashley-cui, do you have cycles to tackle the issue?

[2020-09-07 07:43] vrothberg commented on #7545
Thanks for opening the issue, @rrichardson!

@saschagrunert, do you have cycles to look into this? I just got back from PTO and have around 1k more mails to go :^)

[2020-09-07 08:05] saschagrunert commented on #7545
Yes sure :+1:

[2020-09-07 08:22] saschagrunert commented on #7545
Fix is incoming in https://github.com/containers/podman/pull/7553

[2020-09-07 08:37] #7530 closed

[2020-09-07 09:30] vrothberg commented on #7444
I opened https://github.com/containers/podman/pull/7554 to follow up on the issue. I think that the nil checks are sufficient to address the issue. As the build has been killed, we may very well end up with some missing data / an incomplete image.

[2020-09-07 09:54] dtitov commented on #3264
So, AFAIU, this was not implemented? What are the official suggested alternatives? How do people inject secrets to `podman` now? Just as plain files?

[2020-09-07 10:00] vrothberg commented on #7484
I cannot reproduce the issue. The .service and .timer are always created on my F32 workstation with the latest Podman.

@bbros-dev, can you try running the container manually and see if healthchecks work outside of a systemd unit?

@baude, if I use `CMD-SHELL ls /` the run fails but it succeeds without the CMD-SHELL. I don't see this documented. What's the purpose of it?

[2020-09-07 10:03] vrothberg commented on #7407
Hi @andrew-kennedy, thanks for opening the issue and sorry for the long silence. I was on PTO and the issue must have slipped through the inbox of other maintainers.

The last comment seems to be truncated (see `docker.io/caddy`). Can you repaste the full command? It seems that auto-update believes `90a12b5c957bab94f57aadfd9e655d414ab69443495f22ef430152181ab0aede` is the image name.

[2020-09-07 10:07] andrew-kennedy commented on #7407
It's not truncated actually. I created these containers from the generated systemd units and the output above is still what I get from the CreateCommand podman inspect query.

[2020-09-07 10:12] andrew-kennedy commented on #7407
I think I see the problem. Podman auto-update seems to be using the Image field instead of ImageName. For example, for caddy they have these values:

[code]

and the auto-uodate error mentions that image check for image `90a12b5c957bab94f57aadfd9e655d414ab69443495f22ef430152181ab0aede` failed, that it couldn't find a repository with that name. I think it should be using ImageName instead during th

[2020-09-07 10:16] vrothberg commented on #7407
Thanks! That should be enough information to get it fixed :+1:

[2020-09-07 10:32] #7545 closed

[2020-09-07 10:41] PavelSosin-320 commented on #4325
@rhatdan Hi I'm working on WSL! I get this message! This is the known gap - WSL doesn't support systemd because it uses MS proprietary init. On the other hand, Ubuntu 20.04 from Microsoft store does support systemd as I can see in its startup message. So I think it is possible for all distros but not documented.

[2020-09-07 10:58] vrothberg commented on #7407
I can only reproduce when the container has been created with the image ID (i.e., 90a12b5c957bab94f57aadfd9e655d414ab69443495f22ef430152181ab0aede) instead of the name (i.e. docker.io/caddy).

Could try again from scratch and make sure that names are used instead of IDs?

[2020-09-07 11:10] vrothberg commented on #7535
Also seen here https://cirrus-ci.com/task/6597748277379072 in https://github.com/containers/podman/pull/6811

[2020-09-07 11:12] rhatdan commented on #7213
@mheon Did you ever have a chance to work on this?

[2020-09-07 11:13] rhatdan commented on #7234
@vrothberg @srcshelton @baude Was anything done to make this happen?

[2020-09-07 11:14] vrothberg commented on #7234
Not to my knowledge.

[2020-09-07 11:48] vrothberg commented on #7535
I've been poking around in the code and couldn't find anything suspicious in the code that would explain the flake.

However, local podman will evict containers in case of `force` which the remote one does not. Cc @baude @jwhonce.

Could it be that the `unmount` (right before the delete) hasn't finished? @giuseppe WDYT?

[2020-09-07 12:03] vrothberg commented on #7167
@mheon, I assigned the issue to you. I simply forgot to unassign myself before.

[2020-09-07 12:07] vrothberg commented on #6053
@QiWang19 PTAL. Let's focus on the policy parts.

[2020-09-07 13:43] #7405 closed

[2020-09-07 13:43] mheon commented on #7213
No - will get to it this week.

[2020-09-07 13:44] mheon commented on #7234
Concur, this still needs to be worked on.

[2020-09-07 15:00] mheon commented on #4325
The `net=host` bit is concerning to me and should be looked into - I'd hope that we'd be able to get standard networking running, given WSL2's support for Docker (and presumably Libnetwork).

The remaining two (`--cgroup-manager=cgroupfs` and `--events=backend=file`) are not a big deal - they're the usual defaults when systemd is not available, and will be safe even the systemd does use systemd fo

[2020-09-07 15:02] mheon commented on #3264
No, this is not presently implemented, but it is something we'd like to look into. Can you describe your use case? I think a big part of the problem with this one is not really understanding how a secrets implementation should function in a single-node scenario.

[2020-09-07 15:14] dtitov commented on #3264
Sure, so the scenario is pretty simple. I'm migrating my single-node Docker Compose deployment to podman. In my `docker-compose.yml` file I have the secrets section, and then those secrets are injected to some services, here's the file: https://github.com/neicnordic/LocalEGA-deploy-swarm/blob/master/docker-compose.yml

Now, I converted my Docker Compose setup to podman setup following [this articl

[2020-09-07 16:46] llunved commented on #6389
I got my existing toolbox container working by setting the nproc limit for my user in /etc/security/limits.conf to the value reported for the existing container with podman inspect --format '{{ printf "%+v" .HostConfig.Ulimits }}'

[2020-09-07 19:29] mtrmac commented on #7518
Are you encountering any _actual issue_? Did you try using Podman, and did it work? Is there something that does not work, or something specific that you can’t configure?

If you want to understand the how the code works, it’s all Open Source; but I’m not going to explain it line by line if there is no bug/feature to investigate.

[2020-09-07 19:33] plopresti commented on #7513
@rhatdan I would expect the storage configuration to be implemented like this:

1) Assign defaults to all settings
2) Read /etc/containers/storage.conf, applying any settings therein to override (1)
3) Read ~/.config/containers/storage.conf, applying any settings therein to override (1) and (2)
4) Parse the command line, applying any settings therein to override (1), (2), and (3)
5) Run with the f

[2020-09-08 00:51] bbros-dev commented on #7484
@vrothberg

[code]

then

[code]
 I won't clean this up in case you require some additional data from the current state.

Standing-by.

[2020-09-08 02:45] lilinxiong opened #7555 "about "Command update""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Output of `podman version`:**

[code]

**Output of `podman --help`:**

[code]

In docker have "update". In latest podman I can't find "update".

If I want update container, What should I do?

[2020-09-08 07:03] vrothberg commented on #7484
Thanks for checking, @bbros-dev!

The `Error: container id file exists. [...]` forces us to remove the specified id file before we can run the container. Could you remove the file(s) and try again? Once the container is up and running, try running healthchecks again and please also check if the transient systemd timer and service exist (e.g., via `systemctl --user $containerID.{service,timer}`).

[2020-09-08 08:15] vrothberg commented on #7548
I also think that using the host network may be the best/cheapest way on WSL. Starting with Podman v2.0, we can set the default in the `containers.conf` (netns="host").

You can install more recent versions of Podman via the repositories we maintain on the Open Build Service as described on [podman.io](https://podman.io/getting-started/installation).

[2020-09-08 08:23] vrothberg commented on #7537
@cyphar, do you have cycles to open a PR?

[2020-09-08 08:28] vrothberg commented on #7479
Hi @repomaa, thanks for reaching out and apologies for the longer silence.

@baude @jwhonce @mheon what do you think? This might be something to consider when refactoring the bindings (not sure if that's still on the roadmap).

[2020-09-08 08:29] vrothberg commented on #7474
@TomSweeneyRedHat, did you find a way to alter the fonts?

[2020-09-08 08:34] vrothberg commented on #7461
Not having a home will very likely be an issue as that's where the rootless container storage for each user resides.

[2020-09-08 08:36] vrothberg commented on #7444
Closing as it's fixed in master. Will backport to 2.0 now.

[2020-09-08 08:36] #7444 closed

[2020-09-08 08:42] PavelSosin-320 commented on #4325
There is additional complexity in the Podman networking: Pod creation. I'm building Pod which consists of 2 images:
podman pod create --name theiaTest -p 3000:3000
podman run -dt --pod theiaTest -it -P -v "$(pwd):/home/project:cached" --name=theia  theiaide/theia
podman run -dt --pod theiaTest --name=ngInx
and the main issue is
Error: error starting some containers: internal libpod error due to
le

[2020-09-08 08:45] vrothberg commented on #7446
@ashley-cui, did you find time to look into the issue?

[2020-09-08 08:51] vrothberg commented on #7434
@rhatdan, did you add that to the blog? Can we close the issue?

[2020-09-08 08:54] andrew-kennedy commented on #7407
weirdly enough, the containers are created "automatically" via generated systemd unit files which are themselves created via `podman generate systemd`, which I generate after I create containers myself by image name.

[2020-09-08 09:11] vrothberg commented on #7407
To be 100 percent sure. Did you do a `systemctl --user daemon-reload` before starting the service?

[2020-09-08 09:24] vrothberg commented on #7413
@rhatdan @giuseppe any ideas? It seems we're either missing or requiring a capability (it works with `--cap-add=all`).

[2020-09-08 09:25] vrothberg commented on #7404
https://stackoverflow.com/questions/24951268/sort-api-methods-in-swagger-ui looks promising.

[2020-09-08 09:30] vrothberg commented on #7404
But I don't know how our docs are wired. @baude, in case you tackle it, I'd like to watch over your shoulders so I know what to tweak where.

[2020-09-08 09:31] vrothberg commented on #7398
@TomSweeneyRedHat, can we move it over to buildah?

[2020-09-08 09:32] vrothberg commented on #7397
Closing as it's now fixed.

[2020-09-08 09:32] #7397 closed

[2020-09-08 09:40] vrothberg commented on #7394
I can reproduce. However, only if when disconnecting from the terminal. If the container is being killed from another terminal, it works.

@mheon could this be conmon?

[2020-09-08 09:45] vrothberg commented on #7394
Now I cannot reproduce anymore...

[2020-09-08 09:53] vrothberg commented on #7384
Thanks for the report, @asottile! It really smells like an internal race caused by `--rm`.

[2020-09-08 10:03] vrothberg commented on #7384
Running the above reproducer, I've also seen `ERRO[0010] Storage for container d9e60a9b3ff3bee2e32c38c42e5ebb3ec1ff18dc6cd0aadfb6b8c2494cc1ee4d has been removed
`

[2020-09-08 10:45] rhatdan commented on #6862
@matpen @cmurf @cyphar Any movement on this.  I don't see the core developers working on this, since none have specific knowledge on BTRFS.  So we need help from community if this is going to move forward.

[2020-09-08 10:46] rhatdan commented on #3288
@baude @ashley-cui PTAL

[2020-09-08 10:47] rhatdan commented on #6123
@giuseppe PTAL

[2020-09-08 10:49] rhatdan commented on #7090
@AkihiroSuda Any further thoughts on this?

[2020-09-08 11:30] rhatdan commented on #7499
Not sure what you mean by logging into the user.  Seems to me we have 4 possible values to stick in this field.

"" - Dangerous because no password required to become user
* - Indicates not a login user, and no entry in /etc/shadow (Problem is some programs like su on debian complain)
x - Indicates a login user, but we are supposed to have an entry in /etc/shadow, which we don't want to have
RANDO

[2020-09-08 11:40] vrothberg commented on #7378
I am optimistically closing the issue. I haven't seen it flake while browsing through recent PRs.

Please reopen if I am mistaken.

[2020-09-08 11:40] #7378 closed

[2020-09-08 11:43] edsantiago commented on #7198
Still a problem.

[2020-09-08 11:44] vrothberg commented on #7360
@mheon, do you have cycles to tackle it? My guts tell me you'll know where to punch :)

[2020-09-08 11:48] vrothberg commented on #7340
Looking into this now. Thanks a lot for providing all the details, @edsantiago !

[2020-09-08 11:52] andrew-kennedy commented on #7407
Sorry, left that step out of my summary, but yes. Had to I believe, because otherwise systemctl thinks it can't find the unit file. Here is the generated unit file for good measure:

[code]

[2020-09-08 12:13] vrothberg commented on #7340
Looking at the remote code I found that `--rm --detach` is broken. Will prepare a fix for that as well.

[2020-09-08 12:25] vrothberg opened #7558 "podman-remote-pull - service pulls even when client is killed"
/kind bug

**Description**

When killing a `podman-remote pull $IMAGE` the service continues pulling.

**Steps to reproduce the issue:**

1. `podman system service -t0`

2. `podman-remote pull alpine` + CTRL+C

**Describe the results you received:**

Service pulls the image.

**Describe the results you expected:**

Service should cancel the pull/copy operation

**Additional information you deem im

[2020-09-08 12:31] rhatdan commented on #7497
@vrothberg FYI

[2020-09-08 12:35] vrothberg commented on #7497
@rhatdan, let's discuss in the next planning when to tackle it. We may well get this in for v3.0. Once Podman v2.1 is out, we have some wiggle room for bigger changes.

[2020-09-08 13:21] vrothberg commented on #7340
https://github.com/containers/podman/pull/7561 to fix both issues

[2020-09-08 13:29] rhatdan commented on #7434
I have not written any blogs yet.  Too much vacationing.

[2020-09-08 13:30] PavelSosin-320 commented on #4325
Ubuntu 20.04 from Microsoft store has Podman from the Kubic project ??????
* Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

  System information as of Tue Sep  8 16:12:38 IDT 2020

  System load:  1.43               Processes:                    73
  Usage of /:   2.4% of 250.98GB   Users logged in:

[2020-09-08 13:31] ashley-cui commented on #7550
@vrothberg i'll take a stab at it

[2020-09-08 13:32] haykhovsepyan opened #7562 "rootless podman containers Error: unable to obtain cgroup stats:"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**
podman stats  not working :
Error: unable to obtain cgroup stats: open /sys/fs/cgroup/libpod_parent/libpod-06e04ef2d62db292f5981bcb9edbfab7947c22f6c0da8234a9e076d130af858d/pids.current: open /sys/fs/cgroup/libpod_parent/libpod-06e04ef2d62db292f5981bcb9edbfab7947c22f6c0da8234a9e0

[2020-09-08 13:36] rhatdan commented on #7413
The issue is the podman image is not defaulting to run as the podman user.  Plus you need to use --device /dev/fuse
[code]
I am not sure how much of this actually works.  We have never gotten the time to fully test it.

[2020-09-08 13:37] rhatdan commented on #7413
It would be nice if we had a way to report an error to the user, like this image requires /dev/fuse to work correctly.
perhaps have an OCI hook that checks if the device exists and then prints out an error that the user could use.

[2020-09-08 13:38] vrothberg commented on #7334
@hswong3i please take a look

[2020-09-08 13:39] vrothberg commented on #7413
Great idea!

[2020-09-08 13:40] rhatdan commented on #7413
This reminds me of something atomic command used to have.  The help command. That would read and display a help message from the container image, on how to use it.

podman image help quay.io/podman/stable:latest

Would display help on use cases for this image.

[2020-09-08 14:02] vrothberg commented on #7413
Maybe we should add a runlabel to the image as well, so users can just `podman runlabel quay.io/podman/stable`?

[2020-09-08 14:03] mheon commented on #7479
I think we need to figure out how the Docker API handles this and try and duplicate that behavior. I'm actually not sure how they handle closing one side of the HTTP connection, but they clearly have some way to do it.

[2020-09-08 14:04] mheon commented on #7548
Given that Docker + Libnetwork should be working on WSL2, I would expect that whatever is necessary to enable full networking should be present. It may be a pain to get it enabled and working, though.

[2020-09-08 14:08] mheon commented on #7394
I believe this is https://github.com/containers/podman/issues/7258

[2020-09-08 14:09] mheon commented on #7394
I'm going to close this as a duplicate as such.

[2020-09-08 14:09] #7394 closed

[2020-09-08 14:14] rhatdan commented on #7413
Sure, except I am not sure of the default way that users want to use this image.
Do they want to run it rootless mode?
Do they want to just play with the latest version of Podman?

[2020-09-08 14:18] #7384 closed

[2020-09-08 14:24] mheon commented on #7562
This is expected on non-cgroups v2 distributions, where we don't have cgroups as rootless and cannot run commands that require them (like stats).

The error message is absolutely terrible, though. We should be returning an error that makes it explicit that cgroups v1 systems do not support this command.

@ashley-cui Mind taking a look at this one?

[2020-09-08 14:25] edsantiago commented on #7139
Update: this might not be remote-only: this failed [today](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5555471920660480/html/system_test.log.html#t--00019) in #7556 on ubuntu-19
[code]

[2020-09-08 14:31] vrothberg commented on #7327
@jwhonce can you have a look at it? I believe you already have some battle scars in that big version matrix.

[2020-09-08 14:33] vrothberg commented on #7198
@jwhonce is your PR (https://github.com/containers/podman/pull/7452) fixing that?

[2020-09-08 14:34] mheon commented on #7360
Maybe? I'll self-assign, and we'll see how much I can get done this week.

[2020-09-08 14:35] vrothberg commented on #7371
@mtrmac, do you think it's a bug or feature request/enhancement?

[2020-09-08 14:37] mheon commented on #7558
For reference, I think Docker works like this as well - so it's not the worst thing if we do as well...

[2020-09-08 14:37] mheon commented on #7558
Still, we need a big rework of the Pull endpoint anyways (it needs to stream progress back to the client). We can probably accommodate this as part of that.

[2020-09-08 14:38] rhatdan commented on #7186
Since we have had no futher comments, I guess we have explained it.  Reopen if more discussion is necessary.

[2020-09-08 14:38] #7186 closed

[2020-09-08 14:42] rhatdan commented on #7219
@baude @TomSweeneyRedHat Have either of  you gotten a chance to look at this.

After quickly reviewing the docs, not sure where the man page should be referenced, perhaps in the main commands page.

It would also be nice to get the man page links to work.  IE If I am looking at podman-attach and it refereces podman-exec, I should be able to click on the see-also link at the bottom of the page.

[2020-09-08 14:42] rhatdan commented on #7183
@wwilson Did you figure out any additional information on this?

[2020-09-08 14:43] mheon commented on #7327
From the look of things, we're going to need a separate version endpoint for Compat that reports the Docker API version, not the Libpod one.

[2020-09-08 14:43] rhatdan commented on #7144
@edsantiago has this flake been fixed?

[2020-09-08 14:44] rhatdan commented on #6809
@ashley-cui PTAL

[2020-09-08 14:46] mheon commented on #7144
I remember that we merged code from @QiWang19 to fix it, and I haven't seen it recently, so I'm going to close on the assumption that it is fixed.

[2020-09-08 14:46] #7144 closed

[2020-09-08 14:47] rhatdan commented on #4543
NoProxy=true podman ...

Should satisfy this.

[2020-09-08 14:49] mheon commented on #7139
I have definitely seen this on non-remote Podman, but it's more of a symptom than a cause. Usually, something blocked Podman from unmounting the container's root filesystem, so we subsequently could not *remove* said root filesystem. Unfortunately, we only see the second bit, so we don't know what actually started the failure.

[2020-09-08 14:50] hswong3i commented on #7334
@mario19911 are you install and running nix with root? It supposed to be running with normal user, I had tried for many times with root and getting into trouble...

P.S. lastest master branch build successfully on my local machine.

[2020-09-08 15:26] wwilson commented on #7183
Only one relatively weak piece of information: it appears to happen much less often on Ubuntu 20.04.

[2020-09-08 15:26] wwilson commented on #7183
Actually, now that I'm thinking about it, I haven't seen this happen in a few weeks. Maybe some combination of OS and podman upgrades has solved the issue, or at least made it asymptomatic.

[2020-09-08 15:42] mheon commented on #7499
Initial decision from the team: we're going to set `*` instead of `x` which should allow login via `su`

[2020-09-08 16:19] asottile commented on #7384
awesome, thanks for the fix on this -- I know how tricky finding and fixing these races can be!

[2020-09-08 16:21] djnotes commented on #7186
@rhatdan

Actually I login via a normal user. Nevertheless, after following your `podman system reset` recommendation and restarting the computer, the issue was solved completely.

[2020-09-08 16:55] mheon commented on #7555
Podman containers are, by design, immutable. As such, they cannot be updated or renamed once created. We have plans to implement a `podman container clone` command (tracked in #1925) that will allow for a copy of an existing container, with user-specified modifications, to be created, which we believe we accomplish much the same thing.

[2020-09-08 16:55] #7555 closed

[2020-09-08 16:57] mheon commented on #7543
The Pull command seems to need very similar treatment to what's happening with the Build command in #7452 - going to assign this one to @jwhonce as he's already handling that one.

[2020-09-08 16:58] mheon commented on #7535
My first suspicion would be that the unmount has not completely finished. If we add a 5-second sleep between them, that would help confirm the race.

[2020-09-08 16:59] mheon commented on #7499
I'll take this one

[2020-09-08 17:01] mheon commented on #7562
Actually, let's hand this one to @ParkerVR

[2020-09-08 17:11] mheon commented on #7487
Going to close this, as the relevant patches are now included in 2.0.6

[2020-09-08 17:11] #7487 closed

[2020-09-08 17:16] mheon commented on #7301
The blog has been published: https://www.redhat.com/sysadmin/podman-clients-macos-windows

I'm going to go ahead and close this - please open a new bug with any further issues that arise with the new process.

[2020-09-08 17:16] #7301 closed

[2020-09-08 17:18] mheon commented on #7241
@edsantiago Still seeing this one?

[2020-09-08 17:20] rhatdan commented on #7183
Ok I am going to close, reopen if this happens again.

[2020-09-08 17:20] #7183 closed

[2020-09-08 17:20] mheon commented on #7167
@ParkerVR PTAL

[2020-09-08 17:21] mheon commented on #7061
Has anyone seem this since the release of Podman 2.0.5? I suspect it should be fixed with the pod cleanup code having merged

[2020-09-08 17:22] rhatdan commented on #7558
Is this really a bug?  Or is this expected behaviour.  If I pulled a huge image and the network went down, I would be happy that the image completed.

[2020-09-08 17:22] mheon commented on #7020
@ParkerVR PTAL. Since no one remembers why we stripped them originally, I think it should be safe to put them in.

[2020-09-08 17:24] mheon commented on #6969
#7167 is a dupe of this, but has more comments. I'm going to close in favor of that one.

[2020-09-08 17:24] #6969 closed

[2020-09-08 17:25] mheon commented on #6769
Fixed by Tom, closing

[2020-09-08 17:25] #6769 closed

[2020-09-08 17:36] mheon commented on #6765
@ashley-cui PTAL

[2020-09-08 17:37] mheon commented on #6950
@QiWang19 @vrothberg Any thoughts on this one?

[2020-09-08 17:38] mheon commented on #6800
Seems to be fixed, closing - please re-open if incorrect

[2020-09-08 17:38] #6800 closed

[2020-09-08 17:38] edsantiago commented on #6518
Yes, still happening, in post-merge testing on master:
[code]
Links, from most- to least-specific:
* [htmlified log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5870210613772288/html/integration_test.log.html)
* [CI run](https://cirrus-ci.com/task/5870210613772288?command=integration_test#L1161)
* [CI job](https://cirrus-ci.com/build/555242054772326

[2020-09-08 17:42] rhatdan commented on #7513
Podman 2.0.7 should have this fix.

[2020-09-08 17:42] #7513 closed

[2020-09-08 17:44] mheon commented on #6757
@ashley-cui PTAL

[2020-09-08 17:44] mheon commented on #6514
@ParkerVR PTAL

[2020-09-08 17:46] mheon commented on #6510
@vrothberg Mind taking a look at this one?

[2020-09-08 17:48] mheon commented on #5922
I don't think anyone has managed to reproduce this. I'm going to close this for a lack of information on how to proceed; if someone has a reproducer, please comment and we can reopen.

[2020-09-08 17:52] mheon commented on #5790
We've heard nothing about this for quite some time - I'm going to close. If anyone else sees this, please comment (ideally with a reproducer) and we can re-open.

[2020-09-08 17:52] #5790 closed

[2020-09-08 17:52] mheon commented on #4134
@cevich Poke - anything going on here?

[2020-09-08 18:00] rhatdan commented on #7061
Closing, reopen if you have seen it.

[2020-09-08 18:00] afbjorklund commented on #6809
For what it is worth, the systemd units are still missing in podman 2.0.6~1 as well.

It only has the varlink units:

[code]

Gives error: `Failed to enable unit, unit podman.socket does not exist.`

[2020-09-08 18:11] edsantiago commented on #7241
Sorry, yes. Issue still present in master @ 54a61e36a4fd1c5416707e0a661f20abf2d464dc. It took 35 minutes of looping on my f32 laptop, but:
[code]

[2020-09-08 18:20] TomSweeneyRedHat commented on #7474
@vrothberg no I've not, I was sidetracked by other things.  Will try to boost this up the queue again.

[2020-09-08 18:26] rhatdan commented on #6809
You mean they are not shipped within an RPM?

[2020-09-08 18:28] rhatdan commented on #6809
@lsm5 PTAL

[2020-09-08 18:31] devurandom opened #7563 "Load $XDG_CONFIG_HOME/containers/auth.json"
/kind feature

**Description**

`podman login` currently ignores `$XDG_CONFIG_HOME/containers/auth.json`

**Steps to reproduce the issue:**

1. Place a valid auth file at `$XDG_CONFIG_HOME/containers/auth.json`
2. Run `podman login`
3. Observe how you're being asked for a password
4. Run `podman login --authfile=$HOME/.config/containers/auth.json`
5. Observe `Authenticating with existing credentia

[2020-09-08 18:44] ParkerVR commented on #7562
Hi @haykhovsepyan , I followed your reproducer but did not encounter the error. I will work to improve the message anyways, but can you provide a specific reproducer?

[2020-09-08 18:59] TomSweeneyRedHat commented on #7219
I've not looked at it since dropping this issue so we wouldn't forget it.  I'm not sure where it should live either on the page, but my thought was at least under the commands section along with the other man pages.

[2020-09-08 19:03] TomSweeneyRedHat commented on #7398
I think this one lives in both Buildah and Podman, but if you want to move it, feel free.  Personally I'm wondering if it's something we should fix or not.  I'm not convinced that what Docker is doing is correct in this instance, but just setting the UTC to zero if unset might be the way to go to avoid the TZ ask for a script.

[2020-09-08 19:16] QiWang19 commented on #6950
Tried with podman 2.0.2 and GitHub Packages, the push/pull works fine in my case.  Have no clue why GitHub returns the error "Docker image with name..."

[2020-09-08 19:42] lsm5 commented on #6809
@afbjorklund `2.0.6~2` fixes the issue of unitfiles. https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . PTAL.

[2020-09-08 20:32] cevich commented on #4134
Not a single thing, safe to close.

[2020-09-08 20:32] #4134 closed

[2020-09-08 21:04] rhatdan commented on #7398
Is the difference that Docker does not provide a tty to ask the question at, and podman/Buildah does?  Apt figures there is no tty so it just continues the install?

[2020-09-08 21:21] mtrmac commented on #7371
In general, neither. The change ultimately happens in https://github.com/containers/image/blob/1c313b2d23e039a81a64bbced1b2b427d60429e1/image/docker_schema2.go#L78 , and as the comment says, the conversion from v2s2 to OCI is lossy (IIRC OCI does not have health checks).

So, workflows that convert from v2s2 to OCI should be prepared for the config digest == image ID changing. (If the missing fiel

[2020-09-08 21:23] rhatdan commented on #7371
@edsantiago Does this answer your question?

[2020-09-08 21:24] edsantiago commented on #7371
Yes, it does. Thanks @mtrmac.

[2020-09-08 21:24] #7371 closed

[2020-09-08 21:36] TomSweeneyRedHat commented on #7398
@rhatdan, the tty/notty angle sounds like a very good theory.

[2020-09-08 21:40] rhatdan commented on #5845
@EduardoVega are you interested in doing this?

[2020-09-08 21:46] EduardoVega commented on #5845
Hi @rhatdan, yes if it is still required, I would like to work on it.

[2020-09-08 21:47] rhatdan commented on #5845
Yes that would be great.

[2020-09-08 21:49] rhatdan commented on #7233
I would think not, but will wait for @nalind to respond.

[2020-09-08 22:23] QiWang19 commented on #7233
Podman haven't implemented to pick one image from the list of images from a manifest list, just have checked with @nalind that had been supported in cri-o, will look into it.

[2020-09-09 00:11] bbros-dev commented on #7484
Possibly more informative error:

[code]

The file `/run/user/1000/container-rqlite-5.4.0.ctr-id` exists but is empty so no containerID service unit files to lookup.

[2020-09-09 00:54] hswong3i commented on #7334
[code]

[2020-09-09 01:49] lilinxiong commented on #7555
@mheon Ok~ Thank you for your reply.
But I have a question. If **containers immutable** . why `podman command` has 'auto-update' ? in [podman-auto-update - Man Page](https://www.mankier.com/1/podman-auto-update) As if **containers It's not immutable**. Another `podman container clone`  CPU Memory and Hard disk storage the cost is huge.
Please consider `podman container update`.
Thanks~

[2020-09-09 01:56] mheon commented on #7555
The `podman auto-update` command does not *modify* container - it *re-creates* them, using an identical command. Any changes to the container not contained in volumes are lost as part of this. Podman's architecture is not intended to support mutating containers once they have been created. The cost of creating a new container is not particularly large (the disk cost, in particular, is minimized by

[2020-09-09 02:04] lilinxiong commented on #7555
My usage scenario is in **containers** use GPU, if through `podman container clone` my GPU will the double ?

[2020-09-09 04:48] mario19911 commented on #7334
Hello,

now it is also working perfectly fine for me :) thank you!

[2020-09-09 06:50] haykhovsepyan commented on #7562
@ParkerVR  tested on distribution CentOS Linux release 8.2.2004 (Core),
`kernel 4.18.0-193.14.2.el8_2.x86_64`

cgroup v2 , OCIRuntime crun,

Problem with "podman stats"
[code]

[2020-09-09 07:24] PavelSosin-320 commented on #7548
"Stock" Docker works on CentOS7.
Podman as a single container runner is not so valuable. How containers that belong to the same pod will communicate? It is impossible to use ----network option with  podman pod create to bridge Pod with WSL VM  eth0 interface. What is the host network in such a case, WSL VM or Windows host?
All ports on WSL eth0 have translated automatically to the Windows host but

[2020-09-09 08:13] vrothberg commented on #7334
Thanks for checking!

[2020-09-09 08:13] #7334 closed

[2020-09-09 08:23] vrothberg commented on #7371
I entirely oversaw the conversion, thanks for clarifying @mtrmac!

[2020-09-09 08:50] vrothberg commented on #6950
This is a registry-side error that I have not seen before. In case it happens again, could you share the debug logs (`podman --log-level=debug push [...]`). Before copying, please make sure to remove any credentials that may be visible in the logs.

[2020-09-09 08:56] vrothberg commented on #6510
Pulling in @nalind as well who wanted to look into the c/storage parts.

[2020-09-09 09:02] haykhovsepyan commented on #7562
@mheon  but systems runs with cgroup v2.

[code]

[2020-09-09 09:37] rhatdan commented on #3264
@dtitov Please open a second issue on the ConfigMaps, I think this is something we could easily get someone to work on.  Should not be that hard.

On the Secrets, I believe we should handle them the same way that kubernetes does.  (Not that I know how that is done.)  We are always looking for Community help, and often their are people looking to add Kubernetes features/ideas to Podman,

[2020-09-09 09:38] rhatdan commented on #7497
I agree this seems like a good 3.0 feature.

[2020-09-09 09:51] rhatdan commented on #3264
I would say the smartest thing would be to tie the support to Kubernetes.

Following what is provided here.

https://kubernetes.io/docs/concepts/configuration/secret/

Add the ability for `podman secret` to manage this content and share it with Kubernetes.  The problem we will have is how to store these secrets.  Docker seems to store them in some encrypted service, we have no service for Podman,

[2020-09-09 09:55] Luap99 commented on #7373
Closing since this got already fixed by #7390

[2020-09-09 09:55] #7373 closed

[2020-09-09 10:14] dtitov commented on #3264
Got it, thanks 👍

[2020-09-09 10:14] rhatdan commented on #7398
If you run the podman build command with < /dev/null, does this fix the situation?

[2020-09-09 10:35] #2669 closed

[2020-09-09 10:37] dtitov opened #7567 "Kubernetes ConfigMaps in podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

As per the suggestion from this [comment](https://github.com/containers/podman/issues/3264#issuecomment-689449505), I'm creating a feature request here for implementing something similar to [Kubernetes ConfigMaps](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-conf

[2020-09-09 11:17] vrothberg commented on #7157
Here we're initializing the variable which is okay. But I could now track it down. We're not catching the `--name=foo` case but only `--name foo`. I'll prepare a fix in a bit.

[2020-09-09 11:35] vrothberg commented on #7157
Opened https://github.com/containers/podman/pull/7571

[2020-09-09 12:02] vrothberg commented on #7484
^ this is missing quotes around the --health-check-command. Adding quotes around that works for me:

[2020-09-09 12:21] vrothberg commented on #7135
I'll take a stab at this one. Thanks for providing a reproducer, @edsantiago !

[2020-09-09 12:29] vrothberg commented on #7135
#7572 to the rescue

[2020-09-09 12:40] rhatdan commented on #7567
@haircommander WDYT?

[2020-09-09 13:12] #6514 closed

[2020-09-09 13:22] rhatdan commented on #7189
@mheon have you gotten a chance to look at this?

[2020-09-09 13:24] rhatdan commented on #7129
I believe @stanislaw55 we answered your question? Satisfied this issue?  If not reopen the issue.

[2020-09-09 13:24] #7129 closed

[2020-09-09 13:28] rhatdan commented on #7250
@Luap99 commented in a PR

[code]
 I agree and think this is a not something Podman should fix.

[2020-09-09 13:28] #7250 closed

[2020-09-09 13:53] apoos-maximus commented on #7511
I want to work on this issue !

[2020-09-09 13:55] mheon commented on #7562
Oh, that's very interesting... I wonder if this is a cgroupfs vs systemd cgroup problem.

Can you try creating the container and running `podman stats` with `--cgroup-manager=systemd` and seeing if that changes anything?

[2020-09-09 13:58] mheon commented on #7555
Yes, that should work fine.

[2020-09-09 14:00] mheon commented on #7511
Sure, let me assign it to you.

This should mostly involve adding the flag to the command line and passing it through into Libpod, similar to how the existing `--ip` flag works. Unfortunately, it looks like CNI presently limits us to a static IP or IPv6 address, both cannot be used at the same time.

[2020-09-09 14:03] haykhovsepyan commented on #7562
it`s not even works on root user.

[code]
like with systemd PATH cahnged to .scope.

also maybe this can help
[code]

[2020-09-09 14:13] nalind commented on #7233
No, it isn't expected.  It falls out of the current implementation, where the name is associated with the manifest list and not the images that are mentioned in it.  I think we have most of what would be needed to make this work if the runnable image was in local storage (I _think_ the only missing piece is tagging the runnable image with a digested reference that matches the name that's been assi

[2020-09-09 14:18] #7157 closed

[2020-09-09 14:19] mheon commented on #7189
No - and honestly, it's rapidly exceeding my expertise with networking (I know enough about IPv4 and iptables to be dangerous, but my knowledge of v6 is a lot more limited). I think we need to get a solid reproducer and hand this over to the CNI folks.

[2020-09-09 14:42] vrothberg commented on #7117
I opened https://github.com/containers/podman/pull/7574 to fix it. This required quite some massaging but it's passing on my end.

[2020-09-09 15:11] mccv1r0 commented on #7189
I think this https://bugzilla.redhat.com/show_bug.cgi?id=1860518 is what is being seen.

[2020-09-09 15:30] matpen commented on #6862
I just finished a long debugging process with the cloud provider, but we could not track down the problem, either. Unfortunately, tests appear to lead to random results and are very complex to setup. All that we know so far is that
* it "looks lke" it is related to volumes;
* the volumes sometime appear to "freeze" (even for more than one second) like they were hitting some bottleneck;
* this can

[2020-09-09 16:22] #7135 closed

[2020-09-09 17:12] rhatdan commented on #7511
Welcome @apoos-maximus. Looking forward to what you come up with.

[2020-09-09 18:54] lpil commented on #4056
@njam I tried your command and got the following error: `Error: setrlimit `RLIMIT_NOFILE`: Operation not permitted: OCI runtime permission denied error`.

[2020-09-09 19:47] haircommander commented on #7567
makes sense to me

[2020-09-09 20:43] giuseppe commented on #7547
PR here: https://github.com/containers/podman/pull/7578

[2020-09-09 21:10] WarGloom commented on #4429
fedora 32
podman-2.0.5-1.fc32.x86_64
exactly the same problem still exists
https://github.com/containers/podman/issues/4429#issuecomment-549588997

[2020-09-09 21:46] rhatdan commented on #4056
What does your ulimit -a say?

[2020-09-10 00:10] TomSweeneyRedHat commented on #7474
@burhan do you have some MD tips you might offer?  The issue I'm having is if I convert this line:
[code]
which now shows as:
**--interactive**, **-i**=**true**|**false**

To a code block for each of the bold fields in that line:

[code]

I see:
**`--interactive`**, **`-i`**=**`true`**|**`false`**

That makes the bold text too small.  The only thing I could come up with is this:
[code]
which shows

[2020-09-10 01:48] lilinxiong commented on #7555
I mean if GPU memory 8G single **container** use 6G.  if through `podman container clone`, my GPU memory insufficient…
If has `podman update` there won't be such a problem.
So please consider `podman upadte` It is very useful ~

[2020-09-10 01:58] mheon commented on #7555
The intention would be that the first container is stopped and (and potentially removed) after being cloned, so the two containers would not be active at the same time.

[2020-09-10 02:03] mheon commented on #7189
That sounds about right. If I follow that correctly, it looks like we need an update to go-iptables or ip6tables itself to resolve.

[2020-09-10 09:12] vrothberg commented on #6945
Friendly ping

[2020-09-10 09:12] lpil commented on #4056
[code]

[2020-09-10 09:13] vrothberg commented on #6919
@choman did leaking the group via crun solve the issue for you?

[2020-09-10 09:15] AkihiroSuda commented on #6945
Podman doesn't write slirp4netns PID to any file, so please substitute `cat /tmp/pid` with `pgrep slirp4netns`

[2020-09-10 09:15] vrothberg commented on #6884
@rhatdan, can we revive the issue?

[2020-09-10 09:21] vrothberg commented on #6627
On it now

[2020-09-10 09:28] vrothberg commented on #6627
This has been fixed in the meantime.

[2020-09-10 09:28] #6627 closed

[2020-09-10 10:04] vrothberg commented on #6517
I think the restore endpoint needs a general rework, which I want to discuss before further touching the code.

 `"/libpod/containers/{name}/restore"`

As shown above, the endpoint expects a container to exist (i.e., name parameter in path). However, a container mustn't exist in the storage when importing an archive. The local client even rejects additional arguments when using `-i`.

I suggest to

[2020-09-10 11:54] vrothberg commented on #6244
@lsm5 are you interested in tackling the issue?

We can handle it entirely on the client side. Currently, `podman run` first checks if the image exists and pulls in case not. We shouldn't perform this check if --platform is specified and always pull in this case (image exists checks don't cover platform etc.). `--platform` is effectively a combination of `pull --override-arch ... --override-os`.

[2020-09-10 12:00] vrothberg commented on #6192
I suggest to create a package in common `github.com/containers/pkg/containerenv` and define a struct there along with a useful API to create and populate the file.

@lsm5 could you do this (after bug week)? The reasoning to pack it into c/common is to allow other tools to use it and semi-standardize on a format.

Once we a PR draft is open, we can start bikeshedding on the format and fields.

[2020-09-10 12:01] vrothberg commented on #6170
I'll ask our auth specialist, @QiWang19, to document it :)

[2020-09-10 12:07] vrothberg commented on #6090
@mheon, did we fix it? Is the crux of the matter the libpod.conf?

[2020-09-10 12:12] edsantiago opened #7580 "CI flake: podman run --conmon-pidfile: conmon not running?"
One of the system tests does `podman run --conmon-pidfile=PATH` then reads pid from PATH and confirms that `/proc/pid/exe` is a symlink pointing to `.*/conmon`. This test has flaked twice in the past month, with:
[code]
The two flakes:

* fedora-32 : special_testing_rootless
  * PR #7539
    * [09-05 07:13](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podma

[2020-09-10 12:18] mheon commented on #6090
I do not recall anyone fixing this, but at the same time I have not heard any reports of it for two months.

[2020-09-10 12:21] daniel-wtd commented on #6090
At least, I cannot reproduce it in 2.0+

[2020-09-10 12:25] vrothberg commented on #6050
@lsm5 are you interested in looking into it? I think we can start with adding a docker/compat endpoint first.

AFAIUI we have to mount the container and the archive the specified path inside the container and throw it back over the wire.

[2020-09-10 12:26] vrothberg commented on #6090
I couldn't reproduce either. I'll close but please drop a comment or reopen if it pops up.

[2020-09-10 12:26] #6090 closed

[2020-09-10 12:44] mheon commented on #6517
Should we consider splitting this into two endpoints - one that makes containers, one that restores existing containers? I don't really like APIs that do vastly different things based on parameters.

[2020-09-10 12:45] mheon commented on #6050
@vrothberg This is part of the copy work, so I'll be on this one once we're off bug week.

[2020-09-10 12:49] vrothberg commented on #6050
@mheon, sorry, I didn't notice you just self-assigned yesterday.

[2020-09-10 15:14] QiWang19 commented on #7501
@shrub77  could you give more log info? try with `$ podman --log-level debug pull haugene/transmission-openvpn:latest-armhf`?

[2020-09-10 15:37] #6830 closed

[2020-09-10 16:54] edsantiago opened #7583 "CI flake: podman run with new:pod and static-ip: Error adding network: failed to set bridge addr"
The symptom is:
[code]
These are all three-time failures, causing the entire CI job to fail, probably because the first failure leaves things in a bad state for the test reruns -- subsequent attempts fail with:
[code]
So, at a minimum, I would suggest fixing the test so as to clean up after itself.

Flake history:

* fedora-32 : test fedora-32
  * PR #7408
    * [08-21 22:29](https://storage.googl

[2020-09-10 17:10] #7117 closed

[2020-09-10 17:19] rhatdan commented on #7262
@Luap99 @mheon Any movement on this issue?

[2020-09-10 17:20] rhatdan commented on #7278
Since we have had no response @j00bar I figure this issue no longer exists, closing.  Reopen if I am mistaken

[2020-09-10 17:20] #7278 closed

[2020-09-10 17:21] rhatdan commented on #7580
This looks like the old race condition where we were not getting stdout back on the remote end.  I believe that is fixed?

[2020-09-10 17:24] rhatdan commented on #7563
XDG_RUNTIME_DIR to locate the auth file

[2020-09-10 17:24] rhatdan commented on #7563
...
podman-login(1)()                                            podman-login(1)()

NAME
       podman-login - Login to a container registry

SYNOPSIS
       podman login [options] [registry]

DESCRIPTION
       podman  login  logs  into  a specified registry server with the correct
       username and password. If the registry is not specified, the first reg‐
       istry under [registries.search

[2020-09-10 17:26] edsantiago commented on #7580
You mean #7195? That seems doubtful because one of the failures is non-remote, and regardless, the missing output is from `readlink` which is not running under podman. Did I misunderstand?

[2020-09-10 17:26] rhatdan commented on #7501
What does `podman unshare cat /proc/self/uid_map`
Output?
Can you pull this image when run as root?

[2020-09-10 17:36] rhatdan commented on #7580
Ok, I did not read the actual code, I just saw the failure and it looked familiar.

[2020-09-10 17:40] rhatdan commented on #7580
Would this happen if $conmon_pid nolonger existed?

[2020-09-10 17:41] rhatdan commented on #5805
@mccv1r0 @mheon Anyone ever work on this?

[2020-09-10 17:42] edsantiago commented on #7580
Yes. Is  that possible in a `sleep infinity` container?

[2020-09-10 17:43] rhatdan commented on #6440
Getting closer on this.

[2020-09-10 17:44] rhatdan commented on #6440
@Luap99 How close are we on this?

[2020-09-10 17:44] rhatdan commented on #6097
@mheon Any update on this issue?

[2020-09-10 17:45] rhatdan commented on #5651
Since this is already available, closing.

[2020-09-10 17:46] rhatdan commented on #5376
I don't think we have made any progress on this

[2020-09-10 17:47] rhatdan commented on #4648
@giuseppe Any update on this one?

[2020-09-10 17:49] rhatdan commented on #5431
@mccv1r0 @mheon Any new ideas on this one?  Seems to be an issue with CNI Plugins.

[2020-09-10 17:49] rhatdan commented on #4739
@ktock @giuseppe Still working on this?

[2020-09-10 17:50] rhatdan commented on #4123
@giuseppe @alexlarsson @QiWang19 Any update on this?  Has dbus been fixed?

[2020-09-10 17:51] rhatdan commented on #5623
@aleks-mariusz @giuseppe needs feedback.

[2020-09-10 17:52] rhatdan commented on #5521
Has this bubbled up in priority yet?

[2020-09-10 17:52] rhatdan commented on #4219
@mccv1r0 @mheon Any progress on this?

[2020-09-10 17:53] mccv1r0 commented on #5805
No.  CNI has no way of knowing what you want the network you create to do/not do with respect to other "networks" (e.g. bridges) on the host system.

[2020-09-10 17:54] rhatdan commented on #5986
@lewo @nalind @mheon What should we do with this issue?

[2020-09-10 17:54] rhatdan commented on #5356
Still waiting.  @nalind WDYT, Can we finally get the containers/storage update?

[2020-09-10 17:55] rhatdan commented on #5802
@QiWang19 Did you ever get a chance to look at this?

[2020-09-10 17:55] rhatdan commented on #6045
@giuseppe @mheon @mccv1r0 Any movement on this? Any new Ideas?

[2020-09-10 17:56] rhatdan commented on #5788
@mheon @ashley-cui Could you take a look?

[2020-09-10 17:57] rhatdan commented on #1911
@mtrmac PTAL

[2020-09-10 17:57] rhatdan commented on #3842
@mheon Did you ever make any progress on this?

[2020-09-10 17:58] rhatdan commented on #3993
@giuseppe Is some of the work you have done with a container joining another containers usernamespace help out here?

[2020-09-10 17:59] rhatdan commented on #4207
@sshnaidm @afbjorklund @vrothberg @baude Where are we on this one?  We now have API V2 and podman cp should be using it.

[2020-09-10 18:00] rhatdan commented on #4304
@mheon @baude Podman V2 is out, we have customers looking for docker volume support, I think it is time we start prioritizing this.

[2020-09-10 18:00] #6863 closed

[2020-09-10 18:01] rhatdan commented on #5140
@haircommander Any chance you could look at this?

[2020-09-10 18:02] mheon commented on #5805
@rhatdan I think we'll need another CNI plugin, similar to the dnsname plugin, to do this.

[2020-09-10 18:03] mheon commented on #6097
No. Should be fairly simple to implement, but I've never found time.

[2020-09-10 18:03] rhatdan commented on #4059
@haircommander If you don't have time to work on this, could you at least document what needs to be done?

[2020-09-10 18:20] rhatdan commented on #4646
@QiWang19 @vrothberg Do we still have this issues, with some of the fixes for load that have been happening?

[2020-09-10 18:21] rhatdan commented on #3761
@mtrmac Any changes?

[2020-09-10 18:22] rhatdan commented on #5278
@cevich Friendly Ping.

[2020-09-10 18:23] rhatdan commented on #3979
@mheon Should we merge a bunch of these issues together that requires `podman container clone`

[2020-09-10 18:24] rhatdan commented on #3722
@adrianreber ping again

[2020-09-10 18:25] rhatdan commented on #3550
@nalind @QiWang19 Any progress?

[2020-09-10 18:26] mheon commented on #3979
@rhatdan Agree, that sounds like a good idea

[2020-09-10 18:27] mheon commented on #3842
I actually have a (very neglected) PR open for this: https://github.com/containers/podman/pull/6545

I will try and get it completed.

[2020-09-10 18:28] afbjorklund commented on #4207
Here is what I get, with podman-remote 2.0.6/podman 2.0.5:

[code]

Installing latest/greatest podman 2.0.6 (from koji) didn't help...

[2020-09-10 18:33] ParkerVR commented on #6721
The PR in c/image was closed as it was decided to change the code in Podman directly. It was intentionally not implemented in this way (https://github.com/containers/buildah/issues/1407#issuecomment-472575647) but this functionality may be added

[2020-09-10 18:35] afbjorklund commented on #4207
There are some weird `ABIMode` and `TunnelMode` constants.

And the "cp" command only has the ABIMode, assume that is local ?

[2020-09-10 18:45] rhatdan commented on #3977
I don't think this is a bug.  I did the same thing on Docker and got the same results.

[code]

[2020-09-10 18:45] #3977 closed

[2020-09-10 18:48] devurandom commented on #7563
I know. I would like podman to load `$XDG_CONFIG_HOME/containers/auth.json` in addition to `$XDG_RUNTIME_DIR/containers/auth.json`.

[2020-09-10 18:51] rhatdan commented on #3587
containers.conf is now implemented, should fix this issue.

[2020-09-10 18:51] #3587 closed

[2020-09-10 18:55] rhatdan commented on #7263
@jwhonce @baude @mheon This looks like a regression and should be fixed ASAP
@danopia Please confirm that this has not been fixed?

[2020-09-10 18:56] rhatdan commented on #7136
@jwhonce Has this fix been merged yet?

[2020-09-10 18:58] QiWang19 commented on #7246
@rhdojun  In kube, if the image is tagged with latest, it will always pull, try just `image: localhost/simpleserver` can use just the local image.

[2020-09-10 18:58] mccv1r0 commented on #6045
Has anyone tried / considered adding the virtual interface on the host first, then using the [host-device CNI plugin](https://github.com/containernetworking/plugins/tree/master/plugins/main/host-device)?   You can put a real interface inside the container this way.  CNI just moves the netdev so virtual interface should work as if it was a real one.

CNI itself expects to find the "host-device" alr

[2020-09-10 19:05] danopia commented on #7263
Hello, I just upgraded to 2.0.6 and still see the behavior of not receiving HTTP headers until the first event occurs.

[2020-09-10 19:10] mheon commented on #4207
@rhatdan I was in the early stages of implementing this one before we went bugs-only

[2020-09-10 19:16] #7547 closed

[2020-09-10 19:19] haircommander commented on #5140
I will try to cleanup these play/generate kube issues

[2020-09-10 19:20] haircommander commented on #4059
wow, a whole year has gone by. Yeah I'll either tackle this or document what needs to be done

[2020-09-10 19:41] rhatdan commented on #1671
Are we sure this works differently on Docker?

[2020-09-10 19:42] rhatdan commented on #6015
Closing as I believe this is fixed.

[2020-09-10 19:42] #6015 closed

[2020-09-10 19:44] rhatdan commented on #6612
@gcs278 Any movement onthis?

[2020-09-10 19:45] rhatdan commented on #6717
@QiWang19 Please take a look at this?
I think revealing this information in podman info is worth while also.

[2020-09-10 19:48] #6659 closed

[2020-09-10 19:49] rhatdan commented on #6579
@edsantiago a couple of months later still an issue?

[2020-09-10 19:50] rhatdan commented on #6547
@ashley-cui Any chance you could look at this?

[2020-09-10 19:51] #4234 closed

[2020-09-10 19:54] ashley-cui commented on #6547
@rhatdan yep, ill give it a go soon

[2020-09-10 19:57] edsantiago commented on #6579
Issue is still present, but I see no non-team watchers on the issue, so perhaps this isn't important to anyone but me.

I'm not going to be the one to close it, but I'll accept a CLOSED_NOBODYCARES from the team.

[2020-09-10 20:07] rhatdan commented on #5895
Opened docs PR to be able to close this issue.

[2020-09-10 20:08] rhatdan commented on #5898
@vrothberg I take it this is still in the distant future.

[2020-09-10 20:08] rhatdan commented on #5386
Still not a priority.

[2020-09-10 20:10] rhatdan commented on #4725
@giuseppe Still no idea on this one?

[2020-09-10 20:11] rhatdan commented on #5730
@ashley-cui PTAL

[2020-09-10 20:12] rhatdan commented on #6528
Since this is a kernel issue, I am going to close, please open this issue against the kernel.

[2020-09-10 20:12] #6528 closed

[2020-09-10 20:13] rhatdan commented on #6503
@progtologist We would certainly consider this, but would need a PR to review.

[2020-09-10 20:13] rhatdan commented on #6265
@QiWang19 Did you ever get a chance to look at this?

[2020-09-10 20:16] rhatdan commented on #5849
@disaster123 Could you check this against podman 2.0.5 or later?

[2020-09-10 20:17] rhatdan commented on #5572
@ikke-t @vrothberg Is this merged?  Can we close this issue?

[2020-09-10 20:20] rhatdan commented on #4530
@baude @mheon I think we should bring this one back to the foreground.

[2020-09-10 20:24] rhatdan commented on #5608
Blog published
https://www.redhat.com/sysadmin/image-stores-podman

[2020-09-10 20:24] #5608 closed

[2020-09-10 20:24] rhatdan commented on #4773
@TomSweeneyRedHat Could you take a look?

[2020-09-10 20:26] rhatdan commented on #4254
Since this is an issue with Artifactory and issues have been opened over there I am going to close.  Users with this problem, please keep nagging Jfrog to properly support OCI Images.

[2020-09-10 20:26] #4254 closed

[2020-09-10 20:29] QiWang19 commented on #4646
Still a issue

[2020-09-10 20:29] mheon commented on #4530
@rhatdan Only so much time in the day :smile:

[2020-09-10 20:31] rhatdan commented on #6884
This has been fixed in master and podman 2.0.6

[2020-09-10 20:31] #6884 closed

[2020-09-10 20:32] rhatdan commented on #5763
Duplicate of https://github.com/containers/podman/issues/1925

[2020-09-10 20:32] #5763 closed

[2020-09-10 20:33] rhatdan commented on #7521
@baude Has a PR for this.

[2020-09-10 20:35] rhatdan commented on #7462
@iwilltry42 @minioin  @Luap99 Can we close this issue now since your PR has been merged?

[2020-09-10 20:42] TomSweeneyRedHat commented on #4773
I'm happy to look, but I've not a clue on where to start.  I'll have to dig deeply into Google.  Pointers gratefully accepted.

[2020-09-10 20:44] mheon commented on #6253
Alright, this is not as simple as I assumed. We are actually sending a resize event, but it's not forcing a redraw of the terminal.

Further, I'm seeing that detaching from an attach session is actively killing the container, which is definitely not good.

[2020-09-10 20:49] mheon commented on #6253
Also, very confusing: I have no idea where the "normal attach" error message is coming from. That string exists nowhere in Podman or Conmon, nor do I see any obvious string composition of error messages.

[2020-09-10 20:55] mheon commented on #6253
Ah, found it - looks like leftover debug from a c/image update from @vrothberg that slipped into the v2.0 branch and nowhere else.

[2020-09-10 20:58] rhatdan commented on #7052
This is a lot to digest, but I believe the issue is solved.  Closing, reopen if I am mistaken.

[2020-09-10 20:58] #7052 closed

[2020-09-10 20:59] rhatdan commented on #7260
podman ps -a --storage
now exists.  Working on adding the ability to remove specific container images.

[2020-09-10 20:59] #7260 closed

[2020-09-10 21:00] rhatdan commented on #7506
Issue was answered.

[2020-09-10 21:00] #7506 closed

[2020-09-10 21:01] x70b1 commented on #6253
I tested it again. Something else that I found: podman leaves the container with unclean output.

`apt update`, `apt install htop`
`podman run -it debian bash`
`htop`
`press ctrl+p, then ctrl+q`

I got my old prompt from the host system. But the output of htop is still hanging around until I override it some other content.

[2020-09-10 21:02] rhatdan commented on #6943
Closing carry on discussion in #4900

[2020-09-10 21:02] #6943 closed

[2020-09-10 21:04] rhatdan commented on #7389
This PR is merged.

[2020-09-10 21:04] #7389 closed

[2020-09-10 21:04] mheon commented on #6253
Ah, think I have it. We need to send a SIGWINCH to the container to force redraw after attach completes.

[2020-09-10 21:05] #7503 closed

[2020-09-10 21:05] #7499 closed

[2020-09-10 21:05] rhatdan commented on #7504
Is this syntax valid for Kubernetes?

[2020-09-10 21:05] rhatdan commented on #7504
@haircommander @giuseppe WDYT?

[2020-09-10 21:06] rhatdan commented on #7417
@giuseppe @vrothberg Ideas?

[2020-09-10 21:07] rhatdan commented on #4511
@ashley-cui Is this fixed now?

[2020-09-10 21:08] rhatdan commented on #7108
Since no information, closing, reopen if further info becomes available.

[2020-09-10 21:08] #7108 closed

[2020-09-10 21:12] rhatdan commented on #7406
@vrothberg PTAL

[2020-09-10 21:13] rhatdan commented on #7406
Seems similar to the issues you took care of with images.

[2020-09-10 21:15] rhatdan commented on #7466
@dustymabe podman 2.0.6 should have the fix.

[2020-09-10 21:15] #7466 closed

[2020-09-10 21:17] rhatdan commented on #7137
This continues to be worked on.

[2020-09-10 21:18] rhatdan commented on #6990
@QiWang19 I think we need to raise the importance of this issue.

[2020-09-10 21:19] rhatdan commented on #7418
@sycured You need to find the maximum UID used within the image, most likely it is larger then 65k.

[2020-09-10 21:20] rhatdan commented on #7418
Have you tried to build the image in privileged mode?

podman build --privileged ...

[2020-09-10 21:23] rhatdan commented on #7420
@mheon Buildah bud 1.6 supports --net ns:

[2020-09-10 21:26] haircommander commented on #7504
hey @Akasurde upstream still seems to be figuring out how the support for usernamespaces will land. right now, it's added as an annotation, and only processed by the cri implementation. I would rather not handle this until there is clarity with the upstream on what the approach will be

[2020-09-10 21:26] rhatdan commented on #7432
@mheon @maybe-sybr Are you just looking for --add-host?

[2020-09-10 21:27] rhatdan commented on #7415
@mccv1r0 PTAL

[2020-09-10 21:28] rhatdan commented on #5403
@mccv1r0 PTAL

[2020-09-10 21:29] rhatdan commented on #7387
@vrothberg What is going on with this issue?

[2020-09-10 21:32] mheon commented on #6253
#7592 to fix

[2020-09-11 01:03] zhangguanzhang commented on #5730
close it, could reopen if this rehappend

[2020-09-11 01:03] #5730 closed

[2020-09-11 01:16] lilinxiong commented on #7555
oh~ It's great ! Thank you for your explain.
I have another question. But, I'm not sure it is BUG or other…
about `podman -p` command
I run **nginx container**
[code]
Output of `podman ps`
[code]

I bind 80 and 443 port, But in `podman ps` show only 80 port.
But `podman inspect nginx_ws` output message(Only the **HostConfig**):
[code]
Is this normal ?

[2020-09-11 03:33] apoos-maximus commented on #7511
@rhatdan sure !

[2020-09-11 05:13] Akasurde commented on #7504
@haircommander I think you meant @akvadrako

[2020-09-11 05:54] mtrmac commented on #6381
Yes, I would love for `NewFromLocal` and `pullGoalFromPossiblyUnqualifiedName` to be consistent — and `pullRefPair.dstRef` values already are storage references, so it should not be very hard to do.

OTOH, read `findImageInRepotags`. IIRC I was last involved with that code only to preserve the existing behavior via `suspiciousRefNameTagValuesForSearch`, which also indicates my lack of understandin

[2020-09-11 07:38] alexlarsson commented on #4123
I'll ping some people about it

[2020-09-11 08:51] abpatwa commented on #4543
It looks like not a valid Flag

Error: unknown flag: --Noproxy
Error: unknown flag: --noproxy

[2020-09-11 09:19] vrothberg commented on #7387
^ no breaking changes at this point :)

[2020-09-11 09:24] vrothberg commented on #5572
It is still an issue. We should migrate the systemd unit files over to sdnotify. I hope to find time once we've burned down the number of issues and the short-name work is done.

[2020-09-11 09:27] #6170 closed

[2020-09-11 09:32] #7550 closed

[2020-09-11 09:56] #4059 closed

[2020-09-11 09:59] #6253 closed

[2020-09-11 10:19] rhatdan commented on #7391
Is this still an issue,  I tried the test and it never failed until the master container exited?

[2020-09-11 10:21] rhatdan commented on #7377
@mheon Is there any issue with removing the constraing other then podman inspect?  Which I believe should not work for pods, we should require podman pod inspect.

I know Docker merges them altogether, but I am not a big fan of unexpected results.

[2020-09-11 10:24] rhatdan commented on #7337
The PR for this one seems to have stalled.

[2020-09-11 10:25] x70b1 commented on #7550
@ashley-cui Thanks a lot for your work.

I have a note here:

In my initial request I used `readonly` in the yaml tree.
But the [Kubernetes docs](https://kubernetes.io/docs/concepts/storage/volumes/#local
) call it `readOnly`.

Should this be fixed? Sorry if this creates work again.
But if podman would be compatible to the kubernetes pod yaml that woud be cool for the future.

[2020-09-11 10:29] rhatdan commented on #7348
Could you kill the podman that is running in your user session if there is one?

[2020-09-11 10:39] rhatdan commented on #7348
Ok I just got this to work, but it was not pretty.  The --root directory needs to point at the storage directory.

[code]
The problem is libpod has hard coded information about paths into the database. So I remove the libpod database.
[code]

[2020-09-11 10:40] rhatdan commented on #7348
Note removing the boltdb will cause your system to loose track of the containers.

[2020-09-11 10:42] rhatdan commented on #7316
Looks like https://github.com/containers/conmon/pull/182 is ready to go in, but was not looked at for 20 days.

[2020-09-11 10:43] rhatdan commented on #6986
@QiWang19 Can we get these PRs merged?

[2020-09-11 10:45] rhatdan commented on #6986
This looks like it is ready to merge, lets get it over the finish line.

[2020-09-11 10:46] rhatdan commented on #7251
Since we have had no answer, I am closing for lack of information, reopen if new information arises.

[2020-09-11 10:46] #7251 closed

[2020-09-11 10:48] rhatdan commented on #7328
Not sure how this is a podman issue versus a Kata issue.  Kata is reporting an error, and I know others have gotten kata to run with podman.

[2020-09-11 10:50] rhatdan commented on #7259
Seems like #7260 is closed and we have a way to remove improper containers, I am working on making this easier in the future.

[2020-09-11 10:50] #7259 closed

[2020-09-11 10:51] rhatdan commented on #7309
I have a PR for this, just need to get it merged.

[2020-09-11 10:57] rhatdan commented on #4131
With the current quay.io/podman/stable I am able to get podman to run in a locked down podman session, to some extent.

[code]
[code]
But running a container still fails
[code]

[2020-09-11 11:03] ssbarnea opened #7602 "macos: podman 2.0.6 remote support is broken"
While recent versions of podman improved the remoting  support they also introduced some critical bugs, like

[code]

Trying to increase verbosity has not effects.

Both client (macos) and remote (fedora-32) are using same version of podman 2.0.6

[2020-09-11 11:07] jskovjyskebankdk commented on #4131
FWIW I see the same inside a rootless OpenShift container:

I can use `podman build` to build images (using VFS).

But I still have to use buildah to run a dynamic command line (same problem as Daniel noted, as I recall).

[2020-09-11 11:07] ssbarnea commented on #4511
We should close this ticket as I considered it resolved, or unable to reproduce anymore, mainly because we now compile it with brew instead of using a cask.

Still, I just raised another issue https://github.com/containers/podman/issues/7602

I see someone added `do-not-close` label, so I will let them make a decision on that.

[2020-09-11 11:08] vrothberg commented on #7602
@ashley-cui PTAL

[2020-09-11 11:08] #4511 closed

[2020-09-11 11:22] rhatdan commented on #6866
@baude I think after the bug week, we should work on this.  Basically figure out how we can minimize the stuff we pull in for bindings.  Something you are pretty good at.  :^)

[2020-09-11 11:23] rhatdan commented on #5580
@max-arnold @zhangguanzhang Does this mean we can close this issue?

[2020-09-11 11:24] rhatdan commented on #3932
@TomSweeneyRedHat Reminder

[2020-09-11 11:25] rhatdan commented on #4119
@QiWang19 What is the latest on this?

[2020-09-11 11:26] rhatdan commented on #6496
@mtrmac Seems we are not making progress on this?

[2020-09-11 11:28] rhatdan commented on #6114
Looks like @apoos-maximus is going to work on part of this

[2020-09-11 11:31] vrothberg commented on #7406
I'll take a look, sure. A friendly reminder to use our issue template as it's invaluable to have data about the host and its environment.

[2020-09-11 11:34] max-arnold commented on #5580
@rhatdan The main issue (missing `Networks` key) is still present, see https://github.com/containers/podman/issues/5580#issuecomment-671046709

[2020-09-11 12:11] vrothberg commented on #7406
Eeek ... looking deeper, the image sizes reported by `df --verbose` are wrong. I'll tackle that as well.

[2020-09-11 12:50] vrothberg commented on #7406
https://github.com/containers/podman/pull/7604 to the rescue

[2020-09-11 12:51] Luap99 commented on #7583
I will take a look.

[2020-09-11 13:13] ashley-cui commented on #7550
both readonly and readOnly work with this fix

[2020-09-11 13:15] x70b1 commented on #7550
Oh, awesome! Thx!

[2020-09-11 13:22] ashley-cui commented on #7602
@ssbarnea is this a duplicate of https://github.com/containers/podman/issues/7498 ?

[2020-09-11 13:29] mccv1r0 commented on #7415
```nftables``` is used, but there is (should be) compatibility with iptables user mode application

Can you provide the output of the nat table:

```sudo iptables -nvL -t nat | grep 80``` and ```sudo ip6tables -nvL -t nat | grep 80``` ?

Please adjust `80` to the port you are actual ```--publish```

Also, `sudo ss -nltp | grep 80` (as before, adjust 80 for what you publish)

A copy of the conflist

[2020-09-11 13:30] haircommander commented on #7504
oops, sorry for the noise, yes I did mean @akvadrako

[2020-09-11 13:32] haircommander commented on #7504
@akvadrako does the https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#securitycontext-v1-core `runAsUser` field fit your needs? I'm not sure we support it right now, but if you need a container to run as a certain user on the host, I do not think you need usernamespaces for that

[2020-09-11 13:36] #7340 closed

[2020-09-11 13:41] ssbarnea commented on #7602
It seems like but there are two different issues: lack of logging and lack of returning the result code from the command. I would treat them differently, later one being critical.

[2020-09-11 13:45] afbjorklund commented on #7602
Same situation on Linux. It was working in 2.0.0-2.0.4, but broken in 2.0.5-2.0.6

Since older versions are no longer available, it is not possible to downgrade either.

[2020-09-11 13:45] edsantiago commented on #7535
This one is quickly becoming the number-one flake

259 [25-containersMore] DELETE libpod/containers/foo?force=true : status
* fedora : special_testing_rootless
  * PR #7593
    * [09-10 18:13](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4745234661769216/html/apiv2_test.log.html)
* fedora-31 : test fedora-31
  * PR #7534
    * [09-02 14:54](https://s

[2020-09-11 13:46] akvadrako commented on #7504
`runAsUser` is supported, but it's not enough. For example, given this pod:
[code]
one finds that:
- /tmp/abc-root is owned by my current user
- /tmp/abc-1000 is owned by 100999 (due to my /etc/subuid file)
but I want that both files are owned by my current user.

[2020-09-11 13:47] ashley-cui commented on #7602
@ssbarnea got it, thanks
@afbjorklund thanks for the info, that'll definitely be helpful. I'll take a look at this soon

[2020-09-11 13:54] jhkrischel commented on #5045
Just hit this same issue following the tutorial.

If the tutorial is going to require a container that is NOT in rootless mode, it should start with creating a container that is NOT in rootless mode.

[2020-09-11 13:58] afbjorklund commented on #6809
Thank you, works now.

`    default: Created symlink /etc/systemd/system/sockets.target.wants/podman.socket → /lib/systemd/system/podman.socket.`

[code]

This was Ubuntu 20.04.

[2020-09-11 14:03] giuseppe commented on #3993
the reproducer works fine with the last crun.  In any case, I don't think there is anything we can do from Podman, the issue must be fixed in the OCI runtime.

[2020-09-11 14:03] #3993 closed

[2020-09-11 14:14] afbjorklund commented on #6809
We now have two working solutions, either connect as root@ and use the default - or change the group and use user@.

I'm not sure if you want to document it anywhere on podman.io, but now we have a solution to replace the `sudo varlink`:

[code]

So you can close the ticket...

But I think we will wait for 2.1.

[2020-09-11 14:17] afbjorklund commented on #7602
Hopefully some regression tests can be added for podman 2.1, for a better release ?

As it is now, we will probably will stay on podman 1.9.3 for the rest of the year or so.

[2020-09-11 14:24] ruben-herold opened #7606 "ipv6 support for portmap"
hi,

I try to use podman on a centos 8 host. The host has only Ipv6. So I want portmap a container with ipv6.
I could not find any option on podman create to make it listen on ipv6

[2020-09-11 14:26] mheon commented on #7606
Are you running as root, or rootless?

[2020-09-11 14:34] ruben-herold commented on #7606
podman container create  -p 9115:9115 blackbox_exporter
podman container start $container_id

After this it  is only listen on ipv4

[2020-09-11 14:35] mheon commented on #7606
Again - are you running Podman as root, or as a normal user?

[2020-09-11 14:37] #5895 closed

[2020-09-11 14:37] ruben-herold commented on #7606
I was testing as root sorry

[2020-09-11 15:00] #6986 closed

[2020-09-11 15:33] #7406 closed

[2020-09-11 15:33] yan12125 commented on #6050
I noticed that the API endpoint to upload an archive in Podman uses different HTTP method than the corresponding API in Docker. The former uses POST and the latter uses PUT. Is the difference intentional?

[1] https://docs.podman.io/en/latest/_static/api.html#operation/putArchive
[2] https://docs.docker.com/engine/api/v1.40/#operation/PutContainerArchive

[2020-09-11 15:47] rhatdan commented on #4056
And how do those number compare to the ulimits specified in the container?

[2020-09-11 15:47] rhatdan commented on #6919
If it did not, reopen this issue.

[2020-09-11 15:47] #6919 closed

[2020-09-11 15:52] jwhonce commented on #6050
@yan12125 That is a bug on podman's part.  /cc @mheon

[2020-09-11 15:54] rhatdan commented on #6068
The basic problem is the lack of XDG_RUNTIME_DIR being set or other fields set incorrectly so that podman tries to do stuff that the root process can only do.  IE Write the /root homedir or /run/user/0/...

We have to document that the user needs to setup a true user login session by either coming in through a login process or by executine `su -- USER`.

[2020-09-11 15:57] rhatdan commented on #6517
Makes sense to me.

[2020-09-11 16:13] cevich commented on #5278
My current thinking on this:  [Use a 'manual' task](https://cirrus-ci.org/guide/writing-tasks/#manual-tasks) that's limited to PRs, and an automatic task for branches: Both dependent upon the `success` task.  This allows:

1. A human can run the manual task if they know it's a release PR (a minority of all PRs).  This task has an `only_if` condition on `$CIRRUS_PR` being non-empty.  When it runs,

[2020-09-11 16:54] afbjorklund commented on #6809
Note that in the case of minikube we are using `podman` to load images for `crio`, that is why the root requirement here...

There's  also some missing pieces in the minikube OS, in order to run rootless containers (mainly because it wasn't needed)

[code]

But we do allow the user to run containers with podman, mostly to avoid them having to run **two** VMs (1 podman, 1 k8s).

[2020-09-11 17:10] rhatdan commented on #7580
One would hope not, but that is the symptom

[2020-09-11 17:10] choeger opened #7608 "podman build cannot read from /sys/fs/selinux/"
/kind bug

**Description**

Cannot run `useradd` inside a CentOS 6 container due to permission problems with /sys/fs/selinux/

**Steps to reproduce the issue:**
(executed on a standard Fedora 31 with SElinux enabled, podman version 2.04)

1. Add the following Dockerfile (strace only for demonstrating the issue)
[code]

2. Build the dockerfile: `podman build  --cap-add SYS_PTRACE .`

**Describe the

[2020-09-11 17:22] rhatdan commented on #7608
This is fixed once buildah is updated, waiting for buildah 1.16.1 to be cut by @TomSweeneyRedHat

[2020-09-11 17:26] rhatdan commented on #7602
We are going to start release candidates on Monday for podman 2.1 so @ashley-cui Could you try each one out.

[2020-09-11 17:28] smekkley commented on #4131
I'm curious about the implementation. It's disabled to create new cgroup? But but I assume it's different from buildah isolation chroot mode, if it's not working properly.

I'd also like to add that most users don't need network, ipc and pid isolation, if that makes you guys development easier.
As for filesystem, it doesn't have to be completely isolated as well. buildah chroot mode is quite fine.

[2020-09-11 17:31] rhatdan commented on #7602
@ssbarnea We added a new method to handle connections in podman 2.0
podman system connect
[code]

[2020-09-11 17:44] rhatdan commented on #6097
@ashley-cui PTAL

[2020-09-11 17:49] rhatdan commented on #7563
So you want it to search through each one of these?

[2020-09-11 17:49] rhatdan commented on #7563
@QiWang19 PTAL

[2020-09-11 17:58] rhatdan commented on #6045
@giuseppe @mheon WDYT?

[2020-09-11 17:59] rhatdan commented on #4207
Ok sorry I thought we were further along.

[2020-09-11 18:01] rhatdan commented on #5140
You da man.

[2020-09-11 18:04] rhatdan commented on #6579
Well @jwhonce Is doing a rewrite of this section of code, so maybe it will be fixed in his next pass.

[2020-09-11 18:04] rhatdan commented on #4646
Still an issue, that I look forward to fixing?  :^)

[2020-09-11 18:05] rhatdan commented on #4530
Understood.

[2020-09-11 18:07] rhatdan commented on #4773
I was hoping @cevich could jump in an offer up a way to do this on CIRRUS.  Basically we need an arm64 vm with buildah/go ... installed, and have it build the images.  Once we have images built for different arches, we need something to reassemble them into a manifest, I believe.

[2020-09-11 18:07] rhatdan commented on #4773
Perhaps @nalind has some ideas.

[2020-09-11 18:12] #7279 closed

[2020-09-11 18:43] ashley-cui opened #7610 "MacOS podman images fails"
/kind bug

**Description**

podman images on mac fails
**Steps to reproduce the issue:**

$ podman images
Error: parsing time "1581706310" as ""2006-01-02T15:04:05Z07:00"": cannot parse "1581706310" as """

**Describe the results you expected:**
same as podman images on local client

**Additional information you deem important (e.g. issue happens only occasionally):**
podman-remote on linux doesn'

[2020-09-11 18:50] ashley-cui commented on #7602
@rhatdan yep, looks like this is a real regression. i'll see if i can get this done.

[2020-09-11 18:55] rhatdan commented on #4543
If you set the environment variable `no_proxy=*` will tell golang/podman to not use a proxy when connecting to https.

https://godoc.org/golang.org/x/net/http/httpproxy

[code]

[2020-09-11 19:25] rolandweber commented on #6950
I'd have to create a new repository to reproduce the problem. I'm a bit short on time at the moment :-(

[2020-09-11 19:27] #7462 closed

[2020-09-11 19:28] mheon commented on #7462
I'm going to go ahead and close this. We're not 100% there yet, but we can open separate, more specific issues for any remaining missing filters.

[2020-09-11 19:28] ashley-cui commented on #7602
huh, i was able to reproduce once for the linux podman-remote and then later it worked.. odd
[code]

[2020-09-11 19:57] #7020 closed

[2020-09-11 19:57] mheon commented on #7020
Fixed by #7587

[2020-09-11 20:03] mheon commented on #7608
I believe Buildah 1.16.1 has been vendored into Podman, going to close.

[2020-09-11 20:03] #7608 closed

[2020-09-11 21:42] bobhenkel opened #7613 "podman run --rm -it alpine sh (apk update or any egress doesn't work)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm running podman run --rm -it debian sh and podman run --rm -it alpine sh with the root account on a ubuntu 20.04 instance.  When running alpine and debian images I can't resolve addresses from inside the container, but with the ubuntu image I can.  From the host OS I'm able to hit the inter

[2020-09-11 21:52] Luap99 commented on #7613
What is the output of `cat /etc/resolv.conf` inside the container ?

[2020-09-11 21:54] bobhenkel commented on #7613
search openstacklocal us.kuberchaun.com americas.kuberchaun.com kuberchaun.com dev.kuberchaun.com
nameserver 10.0.2.3
nameserver 8.8.8.8
nameserver 8.8.4.4
nameserver 2001:4860:4860::8888
nameserver 2001:4860:4860::8844
options edns0

[2020-09-11 23:01] bobhenkel opened #7615 "sles15.2/sp2 (podman-1.8,crun,groupsv2) can't run containers when sshing with non-root account"
Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)

/kind bug

**Description**
I'm running sles15.2/sp2 and can't ssh into the vm with a non-root account and run a container without an error, simple run like this podman run --rm -it alpine sh will fail.  I have enabled cgroupsv2 and installed crun details below.  If I instead never ssh in as the non-root account and instead

[2020-09-12 07:30] afbjorklund commented on #7602
I will take a look to see if this new `podman system connection` command can replace the variables.

I don't fully understand how it would work with **two** machines/shells, but I see that it has "names".

[code]

However, there doesn't seem to be a variable for which connection to use - or am I missing something ?

So each command would have to use `podman --remote --connection name`, if not usin

[2020-09-12 08:10] devurandom commented on #7563
Yes, that would be very convenient, because then I could store authentication information permanently.

Also it would be nice if the way podman, buildah and skopea read config files could be unified, so when e.g. authenticated access to a registry works in one of them, it works in all of them. (I was surprised when I read the different manpages and found out they each have their own search path fo

[2020-09-12 08:28] AkihiroSuda opened #7617 "Move ghcr.io/akihirosuda/podman-rootless-cni-infra to official quay"
https://github.com/containers/podman/blob/25fb0c2b966c193e8c4045e440316850f6f1b889/libpod/rootless_cni_linux.go#L25-L29

The image should be moved to the official quay repo

Follow-up to #7460

[2020-09-12 08:35] AkihiroSuda opened #7618 "[rootless+CNI] `podman run -p` is flaky (because `lo` in the container isn't brought up sometimes)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run -p` is flaky when running with rootless CNI

**Steps to reproduce the issue:**

1. `podman network create foo`

2. `podman run -d -p 8080:80 --network foo nginx:alpine`

3. `curl http://localhost:8080/`

**Describe the results you received:**

Sometimes it works ("Welcome to nginx

[2020-09-12 09:33] ericzolf commented on #7415
Result is empty for both.

As I use 8080, I didn't bother to adapt :smirk:

Same result, nothing.

Only the default conflist but here you are.
[87-podman-bridge.conflist.txt](https://github.com/containers/podman/files/5212473/87-podman-bridge.conflist.txt)

I tried again all the tests with podman 2.0.6 on F32, root and rootless, no change to the (negative) results.

[2020-09-12 09:52] ericzolf commented on #7415
Sorry, the result was while the pod wasn't running (because I tried first rootless, and it just doesn't start), if I call the same commands while the root pod is running (on port 80), the result is different:

[code]

[2020-09-12 11:10] rhatdan commented on #5580
@max-arnold Something you would be interested in opening a PR to fix?  :^)

[2020-09-12 11:13] max-arnold commented on #5580
Unfortunately, I do not know Go :(

[2020-09-12 11:44] zhangguanzhang commented on #7613
could you try this:
[code]

[2020-09-12 11:47] zhangguanzhang commented on #7610
I think could use dlv to debug this, but I work on windows, I can't help

[2020-09-12 11:58] rhatdan commented on #5045
Please open a PR to fix it.

[2020-09-12 11:59] rhatdan commented on #7377
Podman 3.0 seems correct.

[2020-09-12 12:34] cevich commented on #4773
I'm happy to advise, but there are no ready-to-go options here.  Non-commodity hardware is a big ask for every cloud-provider.  I'm told even the IBM cloud tightly controls ppc64 :confounded: We're really beholden to the cloud-providers here if we want something automated and public.

I did open up:

https://github.com/containers/automation_images/pull/21

That image has nested-virt. enabled.  My

[2020-09-12 14:56] mlegenovic commented on #7327
Problem with Jetbrain's Docker plugin is that version string is not parsed as semver string (what Podman returns). Docker API also does not strictly define that ApiVersion must be semver string.

I have patched Podman's `/version` endpoint (which BTW is already in compat package) to return Docker API version just to test if everything else works. Result is:
- Jetbrain's Docker plugin can now conne

[2020-09-12 22:31] bobhenkel commented on #7613
That seems to work.  Does that shed some light on the underlying reason for the issue?  No issue with ubuntu image, without the --net host.

[code]

[2020-09-13 03:30] bobhenkel commented on #7613
So I read issue #3277 and a comment suggested adding --dns 10.0.2.3 to the podman run command to force the dns being used. Seems there's some dynamic values being added resolve.conf file that can cause the issue I see.

While this works around my issue, why does this not happen on a ubuntu image?  So far I have it happen on both a debian and alpine image?  It would be nice to have a consistent  be

[2020-09-13 03:40] mheon commented on #7613
Are the contents of resolve.conf different based on the image you run?
Podman should always be generating a fresh one, based on the host's and not
the one in the image, so it would surprise me if that was the case.

On Sat, Sep 12, 2020, 23:30 Bob Henkel <notifications@github.com> wrote:

[2020-09-13 05:02] bobhenkel commented on #7613
"Are the contents of resolve.conf different based on the image you run?"
No.
So what allows the ubuntu image to hit the internet while the alpine not to?  I mis-stated earlier in the thread that this also happens on the debian image, I just ran it and was able to to apt update just fine and was able to yum update on a fedora image just fine as well.
[code]

[2020-09-13 14:58] zhangguanzhang commented on #7613
could you try this:
[code]

[2020-09-13 15:25] Luap99 commented on #7583
OK, I don't thing there is anything wrong with the "new:pod and static-ip" command itself. I ran this test for hours on a slow and fast computer without any problems.

Looking at the error it seems that podman is trying to set a ip on an existing bridge interface (cni-podman1) which already has a different ip address.

You could force this error by doing something like this:
[code]
Don't delete th

[2020-09-13 15:56] afbjorklund commented on #7610
There are some extra quotes in there, which is causing this error.

[code]

2009/11/10 23:00:00 parsing time "1581706310" as ""2006-01-02T15:04:05Z07:00"": cannot parse "1581706310" as """

[2020-09-13 15:59] afbjorklund commented on #7610
Possibly https://github.com/golang/go/issues/23134

[2020-09-13 16:27] afbjorklund opened #7623 "Support environment variable for choosing podman-remote connection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

From https://github.com/containers/podman/issues/7602#issuecomment-691434579

**Description**

Currently there is an environment variable for the --url, but nothing for the --connection

[code]

There _could_ a $CONTAINER_NAME for setting the connection name,
similar to the current $CONTAINER_HOST for set

[2020-09-13 16:28] cyphar commented on #7537
I'll write something up this week.

[2020-09-13 16:31] afbjorklund commented on #7623
The workaround is to continue to use `CONTAINER_HOST` and `CONTAINER_SSHKEY`.

[2020-09-13 18:05] bobhenkel commented on #7613
[code]

[2020-09-13 21:39] #7246 closed

[2020-09-14 06:20] PavelSosin-320 commented on #7583
Similar in my Podman running on WSL CentOS 8.1 when I try to run Theia container:
failed to set bridge addr: "cni-podman0" already has an IP address different from 10.88.2.1/24
While podman network inspect podman | grep bridge
                                "bridge": "cni-podman0",
                                "type": "bridge"
and IP -a shows:
6: cni-podman0: <NO-CARRIER,BROADCAST,MULTICAST,UP

[2020-09-14 07:45] #5845 closed

[2020-09-14 07:58] vrothberg commented on #7615
Hi @bobhenkel, thanks for opening the issue!

I suggest opening a ticket on the SUSE Bugzilla. I don't know if crun is supported on SLES. Upstream, we're focusing on the latest version and issues against RHEL or SLES should go through the corresponding support channels.

Note that you can run rootless containers with runc and CGroups v1 as well. CGroups v2 has some more sophisticated features but

[2020-09-14 07:58] #7615 closed

[2020-09-14 07:59] vrothberg commented on #7617
Thanks for catching up on this, @AkihiroSuda. I'll move the image and open a PR to change the reference.

[2020-09-14 08:35] vrothberg commented on #4646
Note that multi-image support is limited to docker-archive. oci-archive may be an entirely different beast. I've not looked into though.

[2020-09-14 08:36] vrothberg commented on #4646
I guess that's something we should discuss and size during planing with @mtrmac

[2020-09-14 09:27] siscia commented on #4739
We are close to merge a PR that will allow us to create the correct file-system structure to be used by containers/storage as `additionalStorage`.

It is CVMFS specific work thought.

[2020-09-14 09:28] siscia commented on #5895
Many many thanks!

[2020-09-14 09:33] ktock commented on #4739
@siscia Do you need changes like discussed in https://github.com/containers/storage/pull/644#issuecomment-668509243 ?

[2020-09-14 09:55] siscia commented on #4739
No we don't. We just use the `additionalStorage` interface of containers/storage.

However, while technically we don't *need* it, it would arguably be a nice feature to have a discoverability for layers.

At the moment all our layers are encoded in an huge JSON, which is suboptimal, still working, but...

Also, I must be honest, it is not clear to me yet, how we would use the interface you are pro

[2020-09-14 10:49] lostz opened #7631 "podman centos8 repo unavailable"
Status code: 404 for http://ftp.lysator.liu.se/pub/opensuse/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/repodata/91e2f0d1b4f5e4dbaaffe33fccfefad47782c4b6537eb36d3487a8456f6f00ae-filelists.xml.gz

ftp.lysator.liu.se seems not rsync any more.

[2020-09-14 11:28] Luap99 commented on #7583
@PavelSosin-320 What command are you using?

[2020-09-14 12:14] PavelSosin-320 commented on #7583
I use
podman run -P --pod new:cheWsServerNetLog --log-driver="json-file" --net podman docker.io/theiaide/theia

on WSL2 Centos 8.1 image.
But it looks like a generic issue because I see the Podman bridge interface in ip -j -4 a show cni-podman0 output as exists in my VM
[{"ifindex":6,"ifname":"cni-podman0" ....... "addr_info":[{"family":"inet","local":"10.88.0.1","prefixlen":16,"broadcast":"10.88.

[2020-09-14 13:10] djnotes opened #7626 "HostPath is currently the only supported VolumeSource"
I am trying to create a pod and start my services on it using Podman play kube deploy.yaml. Since I am using MariaDB database image, I need to pass in a named volume, but Podman does not seem to support it. Here's my deployment.yaml:

[code]

The error I get:

[2020-09-14 13:23] edsantiago commented on #7228
Another gating-test flake. [podman-2.1.0-0.261.dev.gitfd7cdb2.fc34](https://bodhi.fedoraproject.org/updates/FEDORA-2020-311871711d), rootless.  ([log](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/15940/pipeline/)).
[code]

Removing the `remote` label since gating tests are local only.

[2020-09-14 13:25] mccv1r0 commented on #7415
I tested on fedora 31 and  this works.

The 87-podman-bridge.conflist.txt you linked to does NOT have an IPv6 address configured.  Can you add one and try to `curl` or `nc` to this address and the published port?

Using loopback in IPv6 is a known issue:
https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap#known-issues

[2020-09-14 13:41] mheon commented on #7583
@PavelSosin-320 I'm confused as to the question about what IP the CNI bridge listens on - bridges don't listen on any IP, because they're a layer 2 construct. There's an interface on the host in the bridge and another interface for each container to allow communications to the gateway, and then we configure iptables in masquerade mode to NAT the subnet in use on the bridge. It seems like we're not

[2020-09-14 13:43] mtrmac commented on #4646
Purely structurally, the OCI archive and docker-archive are pretty similar, so it’t very tempting to use a a docker-archive-like multi-reader/writer .

The way OCI can use an index to represent a multi-archive image (or IIRC something else, to an arbitrary depth of nesting _in theory_), and the way c/image actually implements multi-archive in OCI in practice, may interact/conflict with that, thoug

[2020-09-14 13:47] edsantiago commented on #7391
Still failing on f31 with `podman-2:2.0.6-1.fc31.x86_64`:
[code]
Cannot reproduce in f32, even given 25 minutes. I have not seen this in CI since the initial report. I'm not going to be the one to close this, but I'll understand and accept if someone else does.

[2020-09-14 14:38] nalind opened #7627 "Error: `podman wait` accepts at most one argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The help output for `podman wait` suggests that podman can wait for multiple containers if I give it all of their IDs, but when I try to do so, it produces a `Error: 'podman wait' accepts at most one argument` error.

**Steps to reproduce the issue:**

1. `podman run --cidfile a fedora`

2. `

[2020-09-14 14:48] darkdragon-001 opened #7628 "mount argument order"
/kind bug

**Description**

Order of `type=`, `src=` and `target=` should not matter.

**Steps to reproduce the issue:**

1. Mount with `type=` _after_ `target=`

**Describe the results you received:**

Invalid syntax error.

**Describe the results you expected:**

Should work without problems.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `pod

[2020-09-14 15:37] chanseokoh commented on #4646
Note that this issue has a much narrower scope than the multi-arch support with multiple images. The feature is merely to give multiple tags to a single image.

And if you follow the issue on the OCI image spec repo, they do suggest to have multiple entries pointing to the same manifest to assign multiple tags.

[2020-09-14 15:56] mtrmac commented on #4646
It’s not really narrower: right now the top level blindly assumes that the archive contains a single image (or that the user has specified a single image out of the archive). We need to build an infrastructure to list all images and handle them appropriately, and the “list all images” part necessarily includes “detect multi-arch images and treat them appropriately”.

[2020-09-14 16:15] PavelSosin-320 commented on #7583
Yes, it is true! I don't see how to configure the bridge. There is the long-lasting discussion about the bridge vs NIC in the WSL 2 VM.   The is neither a bridge nor even a fully-functional V-switch in the WSL2. The eth0 in the VM is created on-the-fly and IP address is generated every time when Windows LXSS service is started. The VM itself is a singleton and I see cni-podman0 interface from the

[2020-09-14 18:09] ashley-cui commented on #6809
@afbjorklund looks like you've found working solutions, so i'm going to close this issue. Re-open if there's more to be done here.

[2020-09-14 18:09] #6809 closed

[2020-09-14 18:24] edsantiago commented on #7391
Oh dear, I spoke too soon. Failure in #7452, prior-fedora (which I have to assume is f31), RCLI=false. [log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5552962586017792/html/system_test.log.html).
[code]

[2020-09-14 19:20] bobhenkel opened #7632 "Is there a Podman Version Requirement to enable (systemctl --user enable podman.socket ?)"
Is there a required version for podman to be at on the podman host for this to work? If so is there a manual way to get this to work on say podman version 1.8.6?

I was following this post https://www.redhat.com/sysadmin/podman-clients-macos-windows.

Thanks!

[2020-09-14 19:24] mheon commented on #7632
Our support for the REST API (and the accompanying `podman.socket` systemd service for the API socket) was added in Podman v1.9, but only became stable in Podman v2.0. We recommend using Podman v2.0 and up if you want to use the REST API.

[2020-09-14 19:34] ashley-cui commented on #7610
huh, an issue in 2.0.6 but solved on master. welp, another issue to close

[2020-09-14 19:34] #7610 closed

[2020-09-14 19:44] afbjorklund commented on #6809
@ashley-cui : yes, the only thing remaining is to actually do it (code). Should have podman support back for next major release.

[2020-09-14 21:16] rhatdan commented on #5278
SGTM

[2020-09-14 21:36] dustymabe commented on #7466
FYI podman 2.0.6 is in `testing` and `next`. Coming to FCOS `stable` soon.

[2020-09-14 22:10] TomSweeneyRedHat commented on #7413
Did you all make any changes to Podman for this?  I just reset my sandbox to upstream, compiled and install Podman and now it's able to run the podman images.....  But I don't see any changes to the Dockerfiles that run it...  Maybe something else or maybe my system had a bad bit in Podman?

[2020-09-15 03:09] #7627 closed

[2020-09-15 03:15] maybe-sybr commented on #7432
@rhatdan I think the problem I was having was that things like `--add-host` aren't available via the `podman play kube` CLI. I would have definitely used that and been happy if it jammed the host entry into all containers. This is what happens when I try to do something naive like that:

[code]

Unless something got added recently which I've missed, I don't think there's a way to do what I was ask

[2020-09-15 04:32] zhangguanzhang commented on #7432
you could edit the busybox.yaml add this:
[code]

[2020-09-15 05:35] ericzolf commented on #7415
It's the standard default network, and the last time I tried to modify it, it went horribly wrong but I can try this.

Do you have the format somewhere documented? The man-pages for podman-network (create or inspect) seem to know only the version 0.3.0 of the format where 0.4.0 is the current one, no explanation of what routes exactly are (inwards or outwards is my first question), and they defini

[2020-09-15 07:53] vrothberg commented on #7631
It looks like the mirror isn't working. Can you try another one?

[2020-09-15 08:27] vrothberg commented on #7558
Docker does not continue pulling.

The speed of our link at home is quite poor (a couple 100 meters far from fibre unfortunately). If I accidentally pull a huge image and CTRL^C the client I want it to stop pulling. If it continued, I had to kill the service.

[2020-09-15 08:41] vrothberg commented on #7558
Labelling it as a feature for now. Remote pull is working and other items have a higher priority.

To make it work, we first have to allow `copy.Image(...)` in c/image to be cancellable via the provided context.Context.

[2020-09-15 08:46] vrothberg commented on #1911
Something for planning. The work required to get that done is comparatively high. We've been working on it last year for a while but priorities changed.

[2020-09-15 09:39] vrothberg commented on #4725
Note that @giuseppe is on PTO

[2020-09-15 09:42] vrothberg commented on #5580
@zhangguanzhang, do you have time to tackle the issue?

[2020-09-15 09:46] vrothberg commented on #5898
Rollbacks are definitely possible and fairly easy to implement. But time is scarce at the moment.

[2020-09-15 09:48] vrothberg commented on #7546
@rhatdan PTAL

[2020-09-15 09:51] vrothberg commented on #7484
@bbros-dev, does it work with the corrected quoting?

[2020-09-15 09:52] vrothberg commented on #7461
@burhan are you ready to go? Can we close?

[2020-09-15 09:56] vrothberg commented on #7407
Thanks, @andrew-kennedy! I can reproduce with the service file you provided. Will take a close look now :)

[2020-09-15 10:01] vrothberg commented on #7407
I found the issue. It's related to `--pull=always` changing the recorded "raw" image specified by the user.

[2020-09-15 10:17] #7136 closed

[2020-09-15 10:17] #7137 closed

[2020-09-15 10:17] #7602 closed

[2020-09-15 10:21] #7617 closed

[2020-09-15 10:38] afbjorklund commented on #7626
Sorry, wrong bug number (ignore "macos: podman 2.0.6 remote support is broken")

[2020-09-15 10:40] ioparaskev commented on #3843
I was already using `-v` in my systemd files for the podman service (although I skipped mentioning them in my example above) and I had the leftover volumes issue

[2020-09-15 11:20] burhan commented on #7461
Yes thank you. This resolves the issue. I need to create a "real" user with a valid home and environment.

[2020-09-15 11:20] #7461 closed

[2020-09-15 11:57] vrothberg commented on #7263
I'll take the risk and assign the issue to me. I know that @jwhonce is working on more urgent issues at the moment.

[2020-09-15 12:20] lsm5 commented on #7631
@lostz I'm able to install podman just fine using the steps mentioned in the install doc. Maybe it's just a case of a bad mirror. Check if a `dnf clean all` followed by the installation steps works for you. If that doesn't work either, I guess it's best to open a bug with the opensuse people.

Closing...

[2020-09-15 12:20] #7631 closed

[2020-09-15 12:59] vrothberg commented on #7628
Thanks for opening the issue, @darkdragon-001! I'll take a look

[2020-09-15 13:03] ashley-cui commented on #7498
closed via #7452

[2020-09-15 13:03] #7498 closed

[2020-09-15 13:16] zhangguanzhang commented on #5580
The information of podman inspect is different from that of Docker.  I am afraid I can’t solve this problem

[2020-09-15 13:29] edsantiago commented on #6579
FWIW, issue still present after #7452

[2020-09-15 13:50] rj-gp commented on #4530
Yes, Yes, Yes!!...

[2020-09-15 14:20] rhatdan commented on #7602
I suppose we could add a connection name environment variable to override the default, if this is something you would want.

[2020-09-15 14:23] rhatdan commented on #7563
They should all share the authorization file now.  They share the same code for it.
I am fine with adding XDG_CONFIG_HOME to the search if XDG_RUNTIME_DIR file does not exists.  Similar to how we currently look for $HOME/.docker/config.json

[2020-09-15 14:24] rhatdan commented on #5580
@baude Back in your court.

[2020-09-15 14:26] djnotes commented on #7626
Hi. What does this mean?

[2020-09-15 14:35] rhatdan commented on #4773
@nalind is this something you could attempt with your presentation from Devconf.cz?

[2020-09-15 14:37] rhatdan commented on #7327
@baude PTAL

[2020-09-15 14:47] rhatdan commented on #7610
Should be fixed in podman 2.1 which is in RC1 at this point.

[2020-09-15 14:48] rhatdan commented on #7623
I would think CONTAINER_CONNECTION would be better then CONTAINER_NAME

[2020-09-15 15:19] #7263 closed

[2020-09-15 15:26] cevich commented on #5278
Okay, I'll work this into https://github.com/containers/podman/pull/6784

[2020-09-15 15:58] dustymabe opened #7639 "rootless: cgroupsv1: 2.1.0rc1: trying to run systemd in container fails with OCI runtime permission denied error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running systemd inside a rootless podman container seems to be broken on cgroupsv1. We added [a test](https://github.com/coreos/fedora-coreos-config/blob/testing-devel/tests/kola/podman/rootless-systemd) to our FCOS CI for this case and [it fails](https://github.com/coreos/fedora-coreos-confi

[2020-09-15 16:08] jwhonce commented on #6579
@edsantiago Thanks for attaching the output.  That is coming up from buildah on stderr.  At the podman/libpod layer I can either ignore stderr or display it.  I cannot filter because of partial writes coming out of buildah.

[2020-09-15 17:24] jwhonce commented on #7327
@baude I've got this.

[2020-09-15 17:48] afbjorklund opened #7641 "When running podman-remote build, all output comes at the end"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `podman-remote build`, all the output comes in one big chunk at the end.

As opposed to local `podman build`, where it comes out more gradually - for each stage.

**Steps to reproduce the issue:**

1. (echo '# start'; podman-remote build . ) | ts '[%Y-%m-%d %H:%M:%.S]'

2.

3.

*

[2020-09-15 17:53] afbjorklund commented on #7641
I did try without the pipe too, but then you need to see it to understand what happens.

Throwing in some more statements (or a more complex Dockerfile) also works for that.

[code]

[2020-09-15 17:57] afbjorklund commented on #7641
Swedish word of the day: "ketchupeffekt"

https://www.thelocal.se/20181211/swedish-word-of-the-day-ketchupeffekt

[2020-09-15 18:01] afbjorklund commented on #7623
I was just going with CONTAINER_HOST vs CONTAINER_URL, but you are probably right.

The use case would be running in two shells at the same, towards different virtual machines.

[2020-09-15 18:53] jwhonce commented on #7327
@mlegenovic Can we move the discussion around omitted fields to another issue? To save on bandwidth when encoding JSON we have routinely omitted zero-value fields.  If this is causing decoding issues, we can revisit this design decision.

[2020-09-15 19:06] shrub77 commented on #7501
@QiWang19 Here is the output of the command
[code]
[code]

I am unable to pull the image even as root

[2020-09-15 19:16] rhatdan commented on #7391
Fixed in latest release on newer OS.

[2020-09-15 19:16] #7391 closed

[2020-09-15 19:21] jwhonce commented on #7641
@afbjorklund Using podman built from master
[code]
I see the sleep delays in the `ts` output and on the screen progress.

- running podman under bash.
- podman version
$ ../bin/podman-remote version
Client:
Version:      2.1.0-dev
API Version:  1
Go Version:   go1.14.7
Git Commit:   0be5836e49da38b156951639b7e19eaec6a6e593-dirty
Built:        Tue Sep 15 10:32:28 2020
OS/Arch:      linux/amd64

Ser

[2020-09-15 20:11] afbjorklund commented on #7641
Maybe I need to upgrade the server as well, for everything to work ?

[code]

[2020-09-15 20:50] usrbinkat opened #7645 "'play kube' ignores cache + erroneous attempt to call non-existent api"
/kind bug

**Description**
Podman `play kube` incorrectly & inconsistently forces api call instead of first looking for images in local cache. This becomes an issue when attempting to run a pod from images loaded to the local cache as a means of solving many critical delivery problems.

Incorrect behavior:
  Executing `podman play kube docker.io/library/registry:latest` triggers an image source re

[2020-09-15 21:35] QiWang19 commented on #7233
if the manifest list exists locally, try with `--pull always` can success `podman run --pull always --rm "$M"`, but is this enough for this issue?

[2020-09-15 22:04] QiWang19 commented on #7501
`haugene/transmission-openvpn:latest-armh` looks not right, should it be `haugene/transmission-openvpn:latest-armhf`? maybe its a typo and forget the `f` at the end?

[2020-09-15 22:28] shrub77 commented on #7501
Good catch! I've rerun the command with the `f`
[code]

[2020-09-15 23:47] EduardoVega commented on #7567
@rhatdan,  @haircommander I would like to help on this one.

[2020-09-15 23:57] maybe-sybr commented on #7432
Even better, @zhangguanzhang - I just had a look at the diff in #7496 and it sounds like the right solution for what I wanted in this issue. I'll close this with thanks to you and the podman crew!

[2020-09-15 23:57] #7432 closed

[2020-09-16 00:03] xordspar0 commented on #4478
I agree, this issue is about `podman play kube` having parity with `kubectl apply`, not about docker-compose, even though it has a similar feature.

That's right, when the pod spec of a deployment spec changes, Kubernetes does a rolling redeploy of the deployment. The old pods go down one by one and get replaced by a new pod from the new deployment.

The new pods don't even have the same name as t

[2020-09-16 00:06] haircommander commented on #7567
thank you @EduardoVega !

[2020-09-16 02:03] #7639 closed

[2020-09-16 02:06] #7327 closed

[2020-09-16 02:41] xordspar0 commented on #4478
As for a way to find pods associated with a deployment, I opened a PR that adds labels to pods if they are defined in the deployment spec: https://github.com/containers/podman/pull/7648

[2020-09-16 02:51] haircommander commented on #5140
it turns out, when we do the initial `generate kube` we aren't taking the image's env into account, only the containers. Play kube does this, so on the second `generate kube`, we've picked up the images env. Unfortunately, I believe fixing this requires plumbing all of generate kube with the image.Runtime and ctx to actually be able to inspect the image and get the env out of it. as such, I believ

[2020-09-16 06:12] burhan opened #7649 "cannot ping services on host, from rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a RHEL8 host that is running a postgresql instance. On the same host, I have podman running rootless containers, and in the environment for those containers, I am pointing to the host with port 5432.

The containers (running in a pod), are unable to connect to the host service. Exact e