[2021-12-07 12:58] #12509 closed

[2021-12-07 13:06] edsantiago commented on #12436
If you find the problem, there's already a test you can un-skip: https://github.com/containers/podman/blob/9af07fd3ed7157f5944c35e83ff96ed8909d7be3/test/e2e/runlabel_test.go#L107-L109

[2021-12-07 13:08] edsantiago commented on #12521
Thank you. If you find the cause, there's already a test you can un-skip: https://github.com/containers/podman/blob/9af07fd3ed7157f5944c35e83ff96ed8909d7be3/test/e2e/run_entrypoint_test.go#L105-L106

[2021-12-07 13:08] vrothberg commented on #12436
Thanks!

[2021-12-07 14:06] ctron commented on #12493
Hm, that doesn't look like an IntelliJ issue:

[code]

Around 20 seconds later, still:

[code]

[2021-12-07 14:12] Luap99 commented on #12493
Can you create another user and try there.

[2021-12-07 14:41] cgwalters opened #12530 "half-baked idea: `Dockerfile` support for explicit layer generation"
Today, `Dockerfile` is basically the lowest common denominator of the container ecosystem.  There are better tools to build container images out there; I'm filing this because it relates to [this ostree-container issue](https://github.com/ostreedev/ostree-rs-ext/issues/69) but really I found
https://grahamc.com/blog/nix-and-layered-docker-images
very inspirational.  I honestly hadn't fully interna

[2021-12-07 15:13] mheon commented on #12530
I'll tag in @nalind and @rhatdan here for opinions. I do recall that we have been reluctant in the past to extend the syntax of Dockerfiles, to prevent a split in supported syntaxes between Podman/Buildah and other tools.

[2021-12-07 15:20] bayeslearner commented on #12509
In the mean time,  is there a work-around, given the code snippets?

[2021-12-07 16:18] abitrolly commented on #11394
But the docker daemon is enabled and started be default when installed. So why `podman` couldn't improve on that by bringing the API on demand?

[2021-12-07 16:19] #11636 closed

[2021-12-07 16:23] vrothberg commented on #12509
@bayeslearner, a workaround would to replace all image references on `nickbusey/homelabos` with `docker.io/nickbusey/homelabos`.

[2021-12-07 16:53] iongion commented on #11494
Thanks for all the support guys so far - here it is in its initial shape

https://iongion.github.io/podman-desktop-companion

Planning to release binaries for Windows and Mac too, first things I need to address

- Mac using lima
- Windows with WSL (maybe in 4.0)

This is due to volume mounts support

[2021-12-07 17:13] afbjorklund commented on #11494
I "ported" the sshocker volume support from Lima to Podman, until virtfs can be added...

https://github.com/lima-vm/sshocker

It is basically using the same reverse sshfs as originally sugged in https://github.com/containers/podman/issues/8016#issuecomment-843546053

To make it more usable, I think the ssh config generation should be separated out.

[2021-12-07 19:21] flyingflo opened #12533 "Container IP in /etc/hosts is wrong with docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
On Fedora 35 with stock podman and docker-compose:
When running containers with docker-compose, the container's own IP address in /etc/hosts doesn't match it's network interface address. The address in the network's dnsmasq matches the interface address, however.
Hence, containers can not conn

[2021-12-07 19:27] apollo13 commented on #12533
To add more information, this happens only with `docker-compose up` and not with `docker-compose up -d`: The main difference here is that without `-d` compose does the following sequence:
 * create
 * attach logs (this does not happen for detached containers), at this the oci runtim assigns an ip (visible in the journal)
 * disconnect container from network
 * reconnect container to network
 * sta

[2021-12-07 19:46] Luap99 commented on #12533
Can you share the compose file so we can reproduce?

[2021-12-07 19:55] flyingflo commented on #12533
Sorry, I forgot all the attachments that I promised ;)

[test-network.tar.gz](https://github.com/containers/podman/files/7671204/test-network.tar.gz
[podman.service.log](https://github.com/containers/podman/files/7671210/podman.service.log)
)

[2021-12-07 20:02] apollo13 commented on #12533
Even more simplistic example:
[code]

[2021-12-07 20:19] rugk commented on #12477
Yes it did. :upside_down_face: Or well… somewhat…
So:
* In the YAML it is named `entrypoint: /cron.sh`.
* However podman-compose starts `podman run` with this parameter `--entrypoint ["/cron.sh"] ` (see my initial post, the full command-line of `podman-compose` is at the end) – and it works there.
* And `podman generate system` uses it like it is and yes, it did spit that out. I did not modify the

[2021-12-07 20:28] rugk commented on #12477
Alos, BTW, when you fix that, is there anything you can do to (also or at least) improve that crazy error message?

Saying `Error: executable file `[/cron.sh]` not found in $PATH` is hardly useful – though, maybe when you know what the issue is, then maybe it makes sense. Otherwise it does not, because:'
* it does seem to parse the "array-like syntax" actually, because it says it tries to run `[/c

[2021-12-07 20:47] rugk commented on #12477
Ohh, maybe it is about the difference of `podman create` vs `podman run`:
[code]

Okay no, that works as expected. Huh, I wonder why that `podman-compose` command it generated there worked at all? :thinking:

[2021-12-07 20:48] iongion commented on #11494
Awesome @afbjorklund - can't wait for the next release and also huge appreciation for your advice and being a caring human! Keeping my eyes on it!

[2021-12-07 20:57] afbjorklund commented on #11494
Currently the biggest issue on CoreOS _and_ on WSL, is that `/mnt` needs to be used for files.

Other than that, it should be (relatively) straight-forward to get mounts from the host working...

[2021-12-07 21:08] #12461 closed

[2021-12-07 21:51] 2xB commented on #10090
I observed such a deadlock-like behavior once recently, but couldn't reproduce it. Although I saw two other issues that might be linked to this while using Podman inside a custom GitLab Runner executor:
* GitLab Runner provided as TMPDIR a subfolder of /tmp, podman used this to build and frequently ran out of memory during committing. I could imagine if this was happening in an unfortunate moment,

[2021-12-07 22:17] bayeslearner commented on #12509
I did add everywhere docker.io and the errors are still there.   Upon further experimentation, I think the errors are due to various issues on top of the the tag's naming issue.

**Issue 1.**  rootful podman build and rootless podman run clash.     podman won't find the image built for root.
Solution:  removed sudo for the build or pull everywhere.
[code]

**Issue2.**  selinux volume mounting.
Sol

[2021-12-07 23:54] edsantiago opened #12535 "Failed to add conmon to systemd sandbox cgroup: EEXIST"
Seeing this pretty heavily on gating tests for the new f35 build (podman-3:3.4.3-1.fc35):
[code]
Root. Lots and lots of failures. Seem to be only in exec.

@giuseppe PTAL when you get back from PTO. This is looking pretty urgent.

[2021-12-08 00:15] judaew opened #12536 "`podman machine start` freezes on "fails with -accel hvf: invalid accelerator hvf""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Exec `podman machine start` on M1 with QEMU builded without the `hvf` accelerator.

**Describe the results you received:**

QEMU freezes here:

[code]

See https://trac.macports.org/ticket/64131 and https://github.com/macports/macports-ports/pull/13267

*

[2021-12-08 00:16] judaew commented on #12536
I don't know why QEMU freezes up instead of choosing another accelerator. Perhaps, in this case, as a workaround, you can check the output of the command `qemu-system-aarch64 -accel help`, and based on the output, compose the variable opts.

https://github.com/containers/podman/blob/3b21ba2f623da5a4228a6236c684d1d0b245f240/pkg/machine/qemu/options_darwin_arm64.go#L13-L23

[2021-12-08 01:39] edsantiago commented on #10710
I just saw this on gating tests for podman-3:3.4.3-1.fc35, rootless:
[code]

[2021-12-08 02:11] edsantiago commented on #10710
root, too. And I just realized, this is `podman run`, not `exec`. The `exec` test is commented out, completely disabled. We now have `podman run` flaking on this, and it's like over 50%:
[code]

[2021-12-08 02:21] edsantiago commented on #12535
Root only. I don't see it rootless. And, this isn't even a flake any more: it's 100%.
[code]
I can't find a way to *not* make it happen.

[2021-12-08 02:25] Loches525 opened #12537 "podman run config log-driver to syslog"
Does Podman support to config log-driver to syslog like Docker when run the comman "podman run "? Currently will prompt "Invalid log driver" error.

Podman version: 3.2.3

[2021-12-08 05:53] sify21 commented on #12504
Somehow the ntfs3 driver is working now, and all operations above succeed. Things I did (I don't know which step fixed the mounting error):
- upgrade to fedora 35
- repair the ntfs disk under windows, using chkdsk (which took a long time, and some data were lost)

I tried that, it does not work

[2021-12-08 07:36] vrothberg commented on #12509
Solution: removed sudo for the build or pull everywhere.

Yes, it is not possible to access the storage of other users. So `root` and `rootless` cannot be mixed.  That may explain the original error with trying to pull from `localhost/...`.

Both solutions look good to me.

I have two _guesses_: 1) try running without selinux or disable it temporarily just to be sure. 2) is there a symlink somewhe

[2021-12-08 07:40] vrothberg commented on #12477
The error message comes from the runtime (e.g., runc or crun).  I understand it's confusing in this specific issue but I have no idea how we could improve the error message.

Thanks for tracking the issue down. I wasn't aware that `create` and `run` seem to treat entrypoint differently.  I will have a close look and see what we can do.

[2021-12-08 08:33] giuseppe commented on #12535
PR here: https://github.com/containers/podman/pull/12538

[2021-12-08 11:02] doverride opened #12539 "init_process = override on command line"
I would argue that if you specifiy `--security-opt label=type:foo` that this should then also apply to `init_process`. Currently it does not. We cannot manually override the
'init_process = ""' entry from `lxc_contexts` like we can override the 'process = ""' entry from `lxc_contexts`.

Either the above or maybe add a `--security-opy label=init-type:foo` so that we can override the default from `l

[2021-12-08 11:34] rhatdan commented on #12537
No currently Podman only supports k8s-file, journald, and none.

Won't journald driver work for you?  Why do you need the syslog driver?

[2021-12-08 11:44] #12535 closed

[2021-12-08 11:45] rhatdan commented on #12539
Containers with container_init_t have different permissions then processes with container_t

[2021-12-08 11:49] rhatdan commented on #12539
podman run --security-opt label=type:spc_t ubi8-init
Shows me systemd running as spc_t?

Which seems to work in main branch
[code]

[2021-12-08 11:49] #12539 closed

[2021-12-08 11:58] rhatdan commented on #5805
@AkihiroSuda Since this is no movement in the upstream project, I am not sure what we can do about this?

[2021-12-08 12:02] rhatdan commented on #12353
Any chance you have a simple repeater.  podman images list --external is just supposed to list images in container/storage, which includes Buildah images.  I would like to know how the image is invisible to container/storage.

[2021-12-08 12:04] rhatdan commented on #11394
The docker daemon is not installed and started by default on any distribution I know of?  Or are you talking about on a MAC?

Fedora, RHEL, Centos, Ubuntu, Debian ... Do not start any services that get installed by default.  The administrator has to enable to service after installation.

[2021-12-08 12:07] rhatdan commented on #10710
This is happening to you on podman not podman-remote.  I do not get any reproducers.

[2021-12-08 12:16] doverride commented on #12539
hmm not here...
[code]

[2021-12-08 12:19] edsantiago commented on #10710
I've got a 1minutetip VM right now that's reproducing it super-easily. Ping me for access.

The "remote" connection (in comments above) was me grasping at straws. I don't know if this merits a new issue. My gut tells me no, that the common factor is "stty is broken", not whether it's via exec or remote.

[2021-12-08 12:28] Luap99 commented on #10710
My [comment](https://github.com/containers/podman/issues/10710#issuecomment-863981334) is still valid.

[2021-12-08 12:45] elezar commented on #11088
I will look into this again once I'm back from PTO.

[2021-12-08 12:54] rhatdan commented on #12493
What does `systemctl status --user podman.sock` show?

[2021-12-08 13:29] ctron commented on #12493
[code]

[2021-12-08 13:40] vrothberg commented on #12477
Found the issue and prepared a fix in https://github.com/containers/podman/pull/12545.

If the specified entrypoint is an array/slice, then it must be specified as a JSON string. `podman-compose` does that but the quoting got lost. `generate systemd` is now preserving the quotes.

[2021-12-08 14:06] rhatdan commented on #12506
This is not a kernel update but a library update libseccomp. And kernel updates do not include syscall changes, just back ports.

[2021-12-08 14:08] abitrolly commented on #11394
Okay. I may be wrong. Haven't used Docker in a while.

[2021-12-08 14:42] #12436 closed

[2021-12-08 14:44] rhatdan commented on #12530
I am traveling and have not been able to concentrate on this.  But this could be something we could extend with Containerfile support as opposed to Dockerfile.

[2021-12-08 14:45] rhatdan commented on #12530
@flouthoc @giuseppe @vrothberg @saschagrunert WDYT?

[2021-12-08 14:52] cgwalters commented on #12530
There may be a better place to discuss this; totally agree that were we to try this, the benefit is much greater if it's "standardized" by being shared with docker/moby.

This isn't a burning urgent issue or anything.  But I just wanted to get it written down in a persistent place so I can link to it and we can potentially revisit it at some point.

[2021-12-08 14:56] rhatdan commented on #12539
You are using SELinux?

What do these two commands output?
$ podman run --systemd=always ubi8-init cat /proc/self/attr/current
$ podman run --security-opt label=type:spc_t --systemd=always ubi8-init cat /proc/self/attr/current

[2021-12-08 15:04] vrothberg commented on #12530
I have a hard time wrapping my head around it. My first impression is that multi-stage builds allow for selectively copying data from other images/layers.

[2021-12-08 15:32] rhatdan commented on #12493
I'm sorry should have been socket.
 systemctl status --user podman.socket

[2021-12-08 15:35] rhatdan commented on #11394
No problem.

[2021-12-08 15:39] slvr32 commented on #12423
I just tried updating to podman 3.3.1, and seemed to have luck after I stopped/started the containers with the new podman version, e.g.

Before stopping/starting the containers, but after the update to podman 3.3.1

[root@devpodman ~]\# for i in `podman ps -a | egrep -vi container | awk '{print $10}'`; do podman exec -it $i bash -c ls; done
anaconda-post.log  entrypoint.sh  lib	    media  proc  sb

[2021-12-08 15:44] bayeslearner commented on #12509
Yeah, it seems to be selinux again.   Thanks for the suggestion.  Not sure how to fix it, except disable it.

[2021-12-08 15:50] doverride commented on #12539
Daniel J Walsh ***@***.***> writes:

Yes

The output is identical for both. I will try a newer version of Podman,
maybe the issue was addressed in a later version.

--
gpg --locate-keys ***@***.***
Key fingerprint = FCD2 3660 5D6B 9D27 7FC6  E0FF DA7E 521F 10F6 4098
Dominick Grift

[2021-12-08 16:19] slvr32 commented on #12423
On second thought, the issue returns later, but this is the first time I've seen (w/podman 3.3.1) a stop/start of a container provide a quick (albeit temporary?) fix

[2021-12-08 16:24] ctron commented on #12493
Ah ok :)

[code]

[2021-12-08 16:47] flouthoc commented on #12521
@edsantiago Above PR closes the issues and test is passing.

[2021-12-08 16:50] #12521 closed

[2021-12-08 17:26] strideynet opened #12548 "Using `pkg/bindings` Go API should not require native dependencies to be installed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

As it stands, building an application that uses Podman via the HTTP API  client (`pkg/bindings`) requires native dependencies (e.g `libbtrfs`, `libgpgme` etc) to be available on the machine.  This provides a poor developer experience, especially to those on operating systems other than Li

[2021-12-08 18:04] rhatdan commented on #12493
So that says the systemd should be listening on /run/user/110147/podman/podman.sock  and the socket should exist.  If the socket does not exists, then something must have removed it, without systemd doing it. Anyways I would bet that something on your system is cleaning this.  If the socket is disapearing, then Podman is not involved.

[2021-12-08 18:11] rhatdan commented on #12548
We build the remote client with these golang build tags, which should remove most of the heinous stuff you are seeing.

REMOTETAGS ?= remote exclude_graphdriver_btrfs btrfs_noversion exclude_graphdriver_devicemapper containers_image_openpgp

Sure we would love to get rid of these bindings leakage, but it is fairly difficult to do, and we have not recently had the engineering time to look into it.

[2021-12-08 18:22] strideynet commented on #12548
Thanks @rhatdan for providing a work-around, that's greatly appreciated. I'll give that a go in tomorrow's working hours and see if that resolves the issue <3

Does it seem reasonable to you to keep this ticket open long term to track this until the root issue is resolved ?

[2021-12-08 19:35] rhatdan commented on #12539
What label would podman choose if the installer did not install the default label. If you notice the entire /etc/selinux/contexts directory is default labels according the the policy that is installed.  Hard coding SELinux types into code is frowned upon.

Yes if you disable SElinux by default it should work.

[2021-12-08 19:40] rhatdan commented on #12509
NO, do not relabel content that is not private to the container.  Relabeling ssh keys is a bad idea, since other confined objects on the host could break.

Disable SELinux separation for the container if you are going to leak data like this inside.

--security-opt label:disable

You are basically giving the container the ability to attack every host with keys in ~/.ssh.  Confining the container wi

[2021-12-08 20:16] flouthoc commented on #12530
@cgwalters Please correct me if i missed anything or interpret anything wrongly. I just have few doubts.

What would be the exact behavior of `OUTPUT /layers` , would it `commit` a new layer every time invoked ? and how would `caching` work with this.

I might be interpreting this wrongly but doesn't `multi-stage` builds allows users to generate layers per each stage and `multi-stage` layers could

[2021-12-08 20:22] doverride commented on #12539
Podman would not choose a label at all, That is the point. You would be able to let SELinux take care of transitions manually.

Imagine this scenario. Some once said "confining the unconfined (unconfined_t) is a oxymoron" but by relying on "process =" in "lxc_contexts" you do not have much of a choose.

unconfined_t will transition to the domain specified there by default instead of just running t

[2021-12-08 21:44] pclass-sensonix opened #12550 "Cannot disable cgroups with docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The 'cgroups' configuration setting in **/etc/containers/containers.conf** is not used by the podman system service when containers are started with docker-compose. I need to be able to disable cgroups for a collection of containers started with docker-compose.

In my **/etc/containers/contai

[2021-12-08 21:53] 2xB commented on #12353
That was actually quite simple and @mheon is right that one gets this from an aborted build - I do that frequently because I compile code in containers and abort builds as soon as I see a compiler error. Similarly, a CI system like the GitLab Runner also cancels builds regularly depending on its setting, so that's probably "explaining" both setups. Here's an example where you can copy-paste each b

[2021-12-08 22:22] axelsimon commented on #5049
Quick and dirty workaround, for someone else landing here:
`sudo mkdir /run/user 1000 && sudo chmod 700 /run/user/1000 && sudo chown $(whoami)`
Just creates the old user directory and gives your user the right to use said directory.

[2021-12-08 22:51] rhatdan commented on #12539
SELinux when disabled does rely on transitioning, as well as when lxc_contexts file does not exists.  The issue is that all images are labeled the same so transition is setup to spc_t.

$ sesearch -T -s container_runtime_t | grep spc_t
type_transition container_runtime_t container_file_t:process spc_t;
type_transition container_runtime_t container_ro_file_t:process spc_t;
type_transition container

[2021-12-08 22:53] rhatdan commented on #12550
@umohnani8 PTAL

[2021-12-08 23:04] rhatdan commented on #5049
[code]
Would setup the proper shell environment also.

[2021-12-08 23:13] matejvasek opened #12551 "The Docker APIv2 `/info` endpoint doesn't return sufficient info with regard to registries"
[code]
vs
[code]

[2021-12-08 23:13] matejvasek commented on #12551
I could look into this.

[2021-12-08 23:48] rarguello commented on #8016
No idea why, but the `fuse-sshfs` package was deprecated on RHEL 8.5:

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/8.5_release_notes/deprecated_functionality#deprecated-packages

RHEL 9 Beta or CentOS 9 Stream do not include `fuse-sshfs`.

[2021-12-09 02:56] Loches525 commented on #12537
As we need to collect the container log from system log and it' better that podman can directly generate the log to that position. Any other ways to meet this requirement?

[2021-12-09 04:50] AkihiroSuda commented on #5805
If we can't get review comments for containernetworking/plugins#584 in the next couple of weeks, I think we should just use  https://github.com/AkihiroSuda/cni-isolation .

[2021-12-09 06:14] doverride commented on #12539
Daniel J Walsh ***@***.***> writes:

Nice. That is indeed what I meant, and it goes to the heart of my
issue.

By removing lxc_contexts you disable Podman SELinux awareness
unconditionally. In other words: lxc_contexts is a hard requirement for
Podman SELinux awareness.

That means that you cannot default to automatic transitions without
losing the ability to support --security-opt label, and the

[2021-12-09 06:48] doverride commented on #12539
defaulting to no manual transitions, and providing the option to override any existing automatic transitions define in policy is more flexible than defaulting to some label manually (and thereby by default overriding any existing automatic transitions defined in policy.

I could tell SElinux to make this the default:

init_t -> (podman_exec-t)podman_t -> (crun_exec_t)crun_t -> (container_file_t)co

[2021-12-09 07:00] doverride commented on #12539
Please do not disable Podman labeling functionality when no (valid) lxc_contexts exists. If no (valid) lxc_contexts exists then just do not manually label anything by default (because it means that the administrator opted to take care of the defaults via automatic SELinux transitions)

[2021-12-09 07:44] afbjorklund commented on #8016
Previously it was found in either EPEL, or CentOS "PowerTools"...

For the new version, you have to use the Fedora SRPMS directly.

[2021-12-09 08:09] ctron commented on #12493
But just starting `podman --remote info` triggers this behavior. So only `systemd` and `podman` are involved here.

[2021-12-09 08:19] ctron commented on #12493
Ok, I just did a quick peek at the code:

https://github.com/containers/podman/blob/02eaebda46418d6a69a54a08066080fa24f38ebe/cmd/podman/system/service.go#L94-L96

And at the systemd docs: https://www.freedesktop.org/software/systemd/man/systemd.socket.html

And the podman unit doesn't set any value: https://github.com/containers/podman/blob/main/contrib/systemd/system/podman.socket

So I guess pod

[2021-12-09 08:26] ctron commented on #12493
Ok, I played a bit more with that. And got it resolved by:

[code]

[2021-12-09 08:41] #12477 closed

[2021-12-09 08:51] #12493 closed

[2021-12-09 08:54] Luap99 commented on #12075
The symlink error should be fixed and the default disk size was increased to 100GB

[2021-12-09 08:54] #12075 closed

[2021-12-09 09:27] ydayagi opened #12553 "play kube: optional secrets generate empty environment variable when missing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I have the following PodSpec:
[code]
I use it with 'podman play kube'.
The secret keys do not exist and are optional in the pod's Spec.
K8S creates a pod without creating the environment variables.
Podman does create the environment variables.
Output of 'env' command in the container:
[code]

[2021-12-09 10:02] vrothberg commented on #12509
That makes perfect sense, thanks @rhatdan !

[2021-12-09 11:34] strideynet commented on #12548
Interestingly, providing these flags allows me to build, run, and test unless I enable race detection, which then causes a rather interesting cgo error:

[code]

[2021-12-09 11:54] sebelk commented on #12428
@rhatdan Thanks  for your wise advice :)
 I've disabled the selinux modules mentioned in https://github.com/containers/podman/issues/12428#issuecomment-981913397 and run with `:Z` suffix and worked like a charm

[2021-12-09 11:55] strideynet commented on #12548
I can confirm that applying these build flags resolves the need to install the native dependencies. It feels like it could be potentially helpful to others to include these instructions in the documentation regarding the API client.

[2021-12-09 12:12] edsantiago commented on #11871
Yesterday's [3.4.4-1.fc36 build](https://bodhi.fedoraproject.org/updates/FEDORA-2021-dd9a3bc3d2) passed its gating tests; the [previou build](https://bodhi.fedoraproject.org/updates/FEDORA-2021-675fab67a0) failed, but not with this error. Closing until it happens again.

[2021-12-09 12:12] #11871 closed

[2021-12-09 12:42] douglas-legulas commented on #12003
Were you able to reproduce the issue?

[2021-12-09 12:55] miladhub commented on #12507
I'm now using podman 3.4.4, but the issue still remains - how exactly can I reach my MacOS machine from the container?

I've tried them all:
[code]

This is the /etc/hosts file in the two cases:
[code]

My Mac's IP is:
[code]

so I expected to find this IP in the container's `/etc/hosts` file.

[2021-12-09 13:00] Luap99 commented on #12507
As stated before you have to wait until podman is updated inside the VM.

[2021-12-09 13:01] ananthb commented on #2788
I ran into this exact issue after migrating my user account to a systemd-homed managed account.

[2021-12-09 13:21] miladhub commented on #12507
Does this happen automatically in ~2 weeks, as you said?

[2021-12-09 13:21] edsantiago commented on #12052
[Still happening](http://artifacts.dev.testing-farm.io/91736b83-3248-474a-a855-f1fb7312e242/work-tests.yml0ggwkm/tests-_uYumX/test.podman-remote-root.bats.log) ([podman 3.4.3-1.fc36 ](https://bodhi.fedoraproject.org/updates/FEDORA-2021-675fab67a0)):
[code]

[2021-12-09 13:36] edsantiago commented on #11946
Still happening

### Podman prune [It] podman system prune - pod,container stopped
* fedora-34 : int podman fedora-34 root container
  * PR #12541
    * [12-08 10:42](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6553677776289792/html/int-podman-fedora-34-root-container.log.html#t--podman-system-prune---pod-container-stopped--1)
    * [12-08 10:42](ht

[2021-12-09 13:40] edsantiago commented on #10927
Here's one where it fails with bad exit code, but the `conmon` error isn't present:
[code]
### Podman exec [It] podman exec terminal doesn't hang
* fedora-34 : int podman fedora-34 root container
  * PR #12541
    * [12-08 10:42](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6553677776289792/html/int-podman-fedora-34-root-container.log.html#t--podman-

[2021-12-09 16:40] allisonkarlitskaya opened #12558 "podman container rm --auto-named"
It would be cool if there was a command:

[code]

which removed all containers that were automatically assigned their names (these names like `strange_gagarin`, `elegant_colden`, `musing_lamport` and so).

Those are usually created as a result of experimentation (often as a result of forgetting `--rm` to `run`) and it's basically never my intention to keep them around for more than a few minutes.

[2021-12-09 17:45] #11825 closed

[2021-12-09 17:51] stac47 opened #12559 "podman-in-docker: building image fails on cgroupv2-enabled systems"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building image with podman from a docker container fails on recent OS (ubuntu 21.10) but works on old systems (Red Hat Enterprise Linux Server release 7.9 (Maipo)). It is probably linked to the fact cgroupv2 is enabled on not.

**Steps to reproduce the issue:**

1. Using the podman image desc

[2021-12-09 17:52] mattouille opened #12560 "podman load from buildctl using type oci results in incorrect name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Images produced with buildctl are not resulting in the specified names when loaded into podman. This issue has been discussed before and was thought to be an issue with BuildKit (#11619). After [speaking with the BuildKit team](https://dockercommunity.slack.com/archives/C7S7A40MP/p16389398783

[2021-12-09 18:38] rhatdan commented on #12560
@vrothberg @mtrmac PTAL

[2021-12-09 18:54] rhatdan commented on #12551
It is yours.

[2021-12-09 18:58] rhatdan commented on #12206
Since we have had no feedback, I am going to close.  Reopen if you have the feedback.

[2021-12-09 18:59] rhatdan commented on #12196
Since we have had no additional feedback, I am closing, reopen if  you have new feedback.

[2021-12-09 18:59] #12196 closed

[2021-12-09 19:01] rhatdan commented on #12143
@ashley-cui Have you had a chance to look at this?

[2021-12-09 19:13] rhatdan commented on #12539
If  you disable SELinux containerization support, you get what you want. (I happen to disagree with what you want.)

You can do this for Podman by changing the label field in containers.conf to false.

[code]
Then SELinux will rely on transition rules like you desire.

The problem with this is that all containers will run with the same label if they use the same transition rules.  This means all c

[2021-12-09 19:16] rhatdan commented on #12553
@umohnani8 PTAL

[2021-12-09 19:19] edsantiago commented on #12167
Oh noooooo... now it's [flaking in the Interrupt, not the Eventually](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6547120636297216/html/int-podman-fedora-35-rootless-host.log.html)

[2021-12-09 19:24] rhatdan commented on #12548
Interested in opening a PR to fix the documentation?

[2021-12-09 19:25] rhatdan commented on #12548
BTW Which bindings are you using. If you game me a simple go program that used the bindings I could take a look at where it is pulling in containers/storage and try to fix it.

[2021-12-09 19:30] rhatdan commented on #12003
@Luap99 did you ever get a chance to look at this?

[2021-12-09 19:35] mskarbek commented on #12196
I'm fine with this, I have rethought and moved this portion of metadata to the external KV store.

[2021-12-09 19:53] baude commented on #12206
@TomaszGasior please post an example compose file that triggers the behavior you are describing

[2021-12-09 19:55] ashley-cui commented on #12143
Not yet, haven't specifically looked at this issue, though I've been using podman-remote via machine on macs for a bit and I haven't run into this

[2021-12-09 20:08] rhatdan commented on #12558
Better to just write up a script
[code]

[2021-12-09 20:08] #12558 closed

[2021-12-09 20:21] edsantiago opened #12561 "Understand how the cgroup-sandbox bug made it through CI"
The problem: issue #12535 (fixed by #12538). Nasty bug that was not caught in CI, yet manifested itself 100% reliably on a 1minutetip VM. I believe we should try to understand why the problem never showed up in CI.

It does not seem to be a package difference:

| package | CI | 1minutetip | ... |
| --- | --- | --- | --- |
| kernel | 5.14.18-300.fc35 | = | Also tried 5.15.6-200.fc35 |
| systemd | 2

[2021-12-09 20:31] Luap99 commented on #12003
No I have no spare time at the moment to look at this unfortunately.I am very busy with netavark work

[2021-12-09 21:56] rhatdan commented on #12003
@douglas-legulas any chance you get this to happen without docker-compose?  IE Can you get it to happen with a simpler podman run or podman -remote run?

[2021-12-09 22:04] strideynet commented on #12548
If you are referring to the comment I made, and then deleted. I resolved that issue, that was just the ol race detector/macos monterey bug (https://github.com/golang/go/issues/49138). If you are referring generally, we are using most of the bindings available in `pkg/bindings, however, those flags resolve any issues so I'm happy with that.

I'd be happy to do so. I'm technically on leave for Chris

[2021-12-09 22:23] douglas-legulas commented on #12003
I'm using `podman pod`, not docker compose. It's just `buildah` and `podman`, nothing else.

But I'll try to produce something more simple, starting from scratch. I'll do it this weekend.

[2021-12-09 22:27] doverride commented on #12539
Its not about relying.. its about exercising control over the default behavior

if i do what you say then --security-opt label= will no longer be respected

anyway,  never mind. will make do with the current state.

[2021-12-09 22:50] EvgenyPrikhodko opened #12562 "podman container forward ports firewalld"
how to run a container with a port so that it is only available inside the host
For example,
1. Сontainer  nginx port look outside and look  to backend port,
2. Container only inside, backend, but nginx sees it.

[2021-12-09 23:26] rhatdan commented on #12539
Yes --security-opt label=disable will be the default.  You can still activate it if you want. But you would need to specify the types you want your containers to run with.

[2021-12-10 00:09] WhyNotHugo commented on #11874
still relevant.

[2021-12-10 01:23] Darkness4 opened #12563 "Cannot compile podman on gentoo musl amd64 (undefined reference to `TEMP_FAILURE_RETRY`)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to emerge [app-emulation/podman-3.4.3](https://packages.gentoo.org/packages/app-emulation/podman) with no success on Gentoo Hardened Musl amd64. The USE flags were USE="fuse rootless -apparmor -btrfs (-selinux)".

I also tried to do it manually using the git repository with the tag `v

[2021-12-10 07:40] pdavid31 opened #12565 "Internal rootless network DNS"
Sorry if this questions is a duplicate or I am just not seeing the bigger picture, but how would you go about using DNS name resolution of containers in a rootless internal network?

As I see [here](https://github.com/containers/podman/pull/9057), the dnsname plugin is generally disabled for networks that are created with the `--internal` flag.

[2021-12-10 08:54] Luap99 commented on #12565
see https://github.com/containers/podman/issues/10672

we are working on supporting that in the future maybe with podman v4.0 or v4.1

[2021-12-10 08:54] #12565 closed

[2021-12-10 08:59] stac47 opened #12566 "--quiet option not honored when building image with docker cli"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running docker CLI against the podman service socket, the `--quiet` option for `docker build` is not honoured: in addition to the image ID, we have an additional line like `Successfully built e49ef0b54fd7`

**Steps to reproduce the issue:**

Comparing the three output (docker, docker against

[2021-12-10 10:14] stac47 opened #12567 "Listing images with docker client only shows tagged images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Listing images with Docker CLI against Podman service only displays the tagged images.

**Steps to reproduce the issue:**

Three cases with docker, podman-remote and docker against podman service

1. Docker
[code]

2. podman-remote
[code]

3. But with `docker image ls` against podman service:

[2021-12-10 10:32] vrothberg commented on #12560
tl;dr
I think we can support these _custom_ files but note that buildkit is not 100 percent in line with the OCI spec, more below.

buildkit is adding a `manifest.json` file for OCI images which shouldn't be there but only in archives in the Docker format.  That makes it harder to "guess" in which format the tar ball actually is (OCI or Docker). The OCI spec does not explicitly forbid adding more

[2021-12-10 12:21] vrothberg commented on #12560
https://github.com/containers/common/pull/853 adds support for buildkit archives.

[2021-12-10 13:11] iamyb commented on #3799
I had similar issue on wsl2 with ubuntu 18.04. The leakage seems still be there after removing all those files in .local/share/xxxx.
last I found one solution [here ](https://github.com/microsoft/WSL/issues/4699)and the problem solved.

[2021-12-10 13:27] konstruktoid opened #12568 "`podman machine` time drift"
/kind bug

**Description**

Leaving the podman VM running will cause a time drift pretty quickly, ~5 min after two days.

[code]

One possible issue is to add NTP servers to the `systemd-timesyncd` service.
Will report back after the weekend if this hasn't worked.

[code]

[code]

**Steps to reproduce the issue:**

1. `podman machine init`

2. `podman machine start`

3. _wait_

**Describe the resu

[2021-12-10 13:50] Luap99 commented on #12568
Duplicate of #11541

[2021-12-10 13:50] #12568 closed

[2021-12-10 13:52] protosam commented on #8016
@rarguello @afbjorklund might find [copr](https://copr.fedorainfracloud.org/) useful. [Here's](https://docs.pagure.org/copr.copr/user_documentation.html) some docs for it too.

[2021-12-10 13:53] vrothberg commented on #12167
Come on! :laughing:

[2021-12-10 14:02] konstruktoid commented on #11541
Is there anyway to easily configure the VM?
No real need to install additional services as one possible issue is to add NTP servers to the systemd-timesyncd service.
Will report back after the weekend if this hasn't worked.

[code]

[2021-12-10 14:03] doverride commented on #12539
Daniel J Walsh ***@***.***> writes:

If that is the case then that would also solve my issue (although its
not really transparent as it requires that user adds that to
containers.conf whereas if it would just behave like that if
lxc_contexts is unreadable, then i wouldnt have to rely on user
intervention)

Will try it out, thanks

--
gpg --locate-keys ***@***.***
Key fingerprint = FCD2 3660 5D6B 9

[2021-12-10 14:07] rhatdan commented on #12185
I might be missing something here.  But it seems you have podman running in rootless mode as UID 1000 within the container. Then you report the error as
 Error: chtimes /var/lib/containers/storage/volumes/my-volume-name/_data: permission denied
WHich should only happen if podman thought it was running in rootful mode, and is getting permission denied, because podman running as UID 1000 is attempti

[2021-12-10 14:08] rhatdan commented on #12136
@gbraad @flouthoc any progress on this?

[2021-12-10 14:09] rhatdan commented on #11895
@ashley-cui Any movement on this?  @afbjorklund WDYT?

[2021-12-10 14:16] vrothberg commented on #12566
Thanks for reporting the issue, I'll take a look.

[2021-12-10 14:20] afbjorklund commented on #8016
Would still need someone to maintain it, just like EPEL and PowerTools and whatnot.

[2021-12-10 14:28] ashley-cui commented on #11895
Not yet, still mostly working on GUI stuff. l might get a chance to look at it soon

[2021-12-10 14:39] afbjorklund commented on #11895
No idea about CoreOS

[2021-12-10 15:10] #12563 closed

[2021-12-10 15:11] gbraad commented on #12136
Gitpod can now run Fedora images since the introduction of Imge Builder mk3.

Will update the repo and try again.

[2021-12-10 15:36] lucab commented on #11895
For reference, Fedora CoreOS sticks to the default on this and follows the [specs](https://www.freedesktop.org/software/systemd/man/localtime.html) for `localtime`:

[2021-12-10 15:38] #12560 closed

[2021-12-10 15:43] rhatdan commented on #11895
So if someone who understood MAC and ignition, they could have the podman machine init command query the timezone on the MAC and then tell ignition to set it within the VM.  Could someone take a stab at this.  I can't do it because of lack of access to a MAC.

[2021-12-10 15:43] rhatdan commented on #11895
@flouthoc Is this something you could do?

[2021-12-10 15:57] rhatdan commented on #12136
Ok reopen this issue if there is work required by podman.

[2021-12-10 15:57] #12136 closed

[2021-12-10 16:02] flouthoc commented on #11895
@rhatdan I don't have a mac machine handy to play around with this.

[2021-12-10 18:45] rarguello commented on #8016
More info on `fuse-sshfs`:

Bug 1758884 - sshfs needs to be rebuilt for EPEL-8
https://bugzilla.redhat.com/show_bug.cgi?id=1758884

[2021-12-10 18:48] afbjorklund commented on #8016
No idea where PowerTools went in 9-Stream, either.

[2021-12-10 20:06] MrErr opened #12574 "podman checkpoint error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.podman container checkpoint dhcp-host -e dhcp-host.tar.gz --tcp-established

2.

3.

**Describe the results you received:**
[root@xroads irlanet]# podman container checkpoint dhcp-host -e dhcp-host.tar.gz --tcp-established; grep -i error /home/podstorage/o

[2021-12-10 21:40] jwhonce commented on #12567
@rhatdan All code paths appear to use vendor/github.com/containers/common/libimage/runtime.go:530. I would run the service through delv to dig into what is causing those images to be filtered out.

[2021-12-11 11:53] awfulcooking commented on #10955
Fwiw, I found that this caused a DoS for other accounts on the system. None of them could start or create containers and I ended up restoring the system from backup to fix it. I wasn't 110% sure I hadn't done something else to cause the problem, but I think it's worth investigating

[2021-12-11 13:00] afbjorklund commented on #8016
There doesn't seem to be any interest in adding any implementation for virtfs or sshfs, until design is settled.

So no support in Podman for remote mounting, until then... Users can provide their own solution, meanwhile.

[2021-12-11 13:08] rhatdan commented on #10955
Were you using overlay2?

[2021-12-11 13:12] rhatdan commented on #12567
I believe they are being filtered out on the client side.  Which would indicate to me, that we are not doing the compat API correctly.

[2021-12-11 14:04] awfulcooking commented on #10955
[code]

Sorry if this is a separate issue. I think I was linked here from IRC when I described it. I'll try to reproduce it in a VM.

[2021-12-11 17:44] douglas-legulas commented on #12003
Here's a greatly simplified pod setup:
[testpod.zip](https://github.com/containers/podman/files/7697462/testpod.zip)

It builds, without any modification, two local images named `localhost/testpod-httpd` and `localhost/testpod-php`, which are based on [httpd](https://hub.docker.com/_/httpd) and [php](https://hub.docker.com/_/php), respectively. They run on a pod named `testpod`, and the containers

[2021-12-11 19:09] giuseppe commented on #12574
@adrianreber PTAL

[2021-12-11 19:43] adrianreber commented on #12574
A quick look at the log seems to indicate that CRIU has problems handling `/sys/kernel/config`. I have not seen this before.

@MrErr any ideas why `/sys/kernel/config` is mounted in your container. My containers do not have `/sys/kernel/config` mounted.

[2021-12-11 20:32] MrErr commented on #12574
Probably because the container is run with the --privileged flag. It is a DHCP server, so requires some hardware accesses and therefore need of the privileged flag.

[2021-12-11 22:47] adrianreber commented on #12574
Even with a `--privileged` I do not see `/sys/kernel/config` mounted in my containers. Can you tell us how you start your container?

I am also a bit worried about the DHCP server. CRIU can handle raw sockets to a certain degree. Not sure checkpointing of DHCP will work.

Anyway, can you provide detailed information how to replicate your setup for me to try locally?

[2021-12-11 23:00] MrErr commented on #12574
Here are the flags I used to create the container.
podman create \
	--name $NAME \
    --hostname $NAME \
    --network host \
    --privileged \
    --mount type=volume,src=$NAME-conf,dst=/etc/dnsmasq.d \
    --mount type=volume,src=$NAME-status,dst=/var/lib/dnsmasq \
	--restart always \
    $IMAGE:$VER

$NAME is the container name. The image is an almalinux 8.4 with dnsmasq installed in it.

[2021-12-12 07:52] PavelSosin-320 commented on #12264
@vrothberg Please, help in **systemd-homed** - **Selinux** integration is needed! According to the audit log operations on the home area including read access are blocked by Selinux and corresponding entries are written into the audit.log. Usage of $HOME in the storage.conf means that all artifacts are written into the home area. The similar issue is mentioned twice: in [ Fedora project tests resu

[2021-12-12 15:39] adrianreber commented on #12574
Using your example my container still does not has `/sys/kernel/config` mounted.

Can you share `config.json` of your container? See `podman inspect`.

Can you share `podman exec dhcp-host mount`?

Can you try `podman exec dhcp-host umount /sys/kernel/config` and try to checkpoint again?

Running a DHCP server should be possible without `--privileged`. Can you try to only give the container the ca

[2021-12-12 19:49] dimon222 opened #12575 "Podman in Debian Bullseye is heavily outdated"
Podman in Debian Bullseye repositories is still of version 3.0.1, while 3.4.4 is now around.
Any ETA when its going to be updated? Barely anyone is on `testing` branches of future Debian.

[2021-12-12 20:57] nupplaphil commented on #12003
I can reproduce it as well.

**Setup**
[code]

**Output `/etc/hosts`**
[code]

**Additional info**
- Podman 3.4.2
- Ubuntu bullseye/sid

[2021-12-12 21:26] Luap99 commented on #12003
@douglas-legulas Thanks
I think it was caused by https://github.com/containers/podman/pull/11605 which fixed https://github.com/containers/podman/issues/11596. I think to make sure that the other issue stays fixed the expected result should look like this:
[code]

[2021-12-12 22:50] MrErr commented on #12574
Here is what you asked for
[root@xroads irlanet]# podman inspect dhcp-host
[
    {
        "Id": "8831da0e28f631b5538184c250f814eb2e507e82511fbfda1bb63cd0756f038a",
        "Created": "2021-11-24T16:18:42.209146777-06:00",
        "Path": "/usr/sbin/init",
        "Args": [
            "/usr/sbin/init"
        ],
        "State": {
            "OciVersion": "1.0.2-dev",
            "Status": "runn

[2021-12-12 22:53] MrErr commented on #12574
[dump.log](https://github.com/containers/podman/files/7700030/dump.log)

[2021-12-12 23:01] MrErr commented on #12574
Is there a quick way to stop container, remove the --privileged flag and the "--cap-add=NET_ADMIN" flag? If that is the wrong flag for DHCP, what would be the right flag? Would --cap-add="CAP_NET_BIND_SERVICE" be the right one?

[2021-12-13 00:42] alanruttenberg commented on #12053
Hi,
I can compile for Mac, but don't know how to get the right version into the VM. Is this fix going to make it into a release? I just tried again with versions 3.4.2 on Mac and in the VM(Fedora CoreOS 35.20211203.2.1) but no love. Failing that, if you could give me (or point me at) some instruction on how to get the right version into the VM I'd be very grateful. Or perhaps there's an alternativ

[2021-12-13 00:45] dblitt commented on #8399
Is there any update for this? I would love to properly separate networks but have predictable DNS resolution in containers with multiple networks.

[2021-12-13 07:37] adrianreber commented on #12574
From what I see in the log you might have found a situation that CRIU does not support. The mount point problem is gone as you unmounted `/sys/kernel/config`. It seems you are using systemd in the container and checkpointing systemd seems to fail. There is not much Podman can do. Using a simpler init system in the container might help, but your current setup is something CRIU cannot handle.

[2021-12-13 09:16] vrothberg commented on #12264
Please open a dedicated issue for `systemd-homed`.  This issue here has already so many different topics mentioned that it's hard to follow.

`systemd-homed` uses id-mapped mounts which I guess are causing troubles when placing a container storage on top. @giuseppe what do you think?

[2021-12-13 09:18] vrothberg commented on #12575
Thanks for reaching out. I think that Debian won't update Podman for a given release cycle, so Bullseye will continue using Podman 3.0.1 until EOL.  @siretart, please correct me if I am wrong.

[2021-12-13 09:18] #12575 closed

[2021-12-13 09:19] vrothberg commented on #12575
If you like the Debian universe, Ubuntu has more recent versions of Podman.

[2021-12-13 09:25] ghost opened #12578 "--security-opt label=role: inconsistency"
[code]
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
[code]
The file is not created with the specified role

**Describe the results you expected:**

File test with context `wheel.id;wheel.role:containers.state.file:s0` instead of it trying to create file test

[2021-12-13 11:47] giuseppe commented on #12264
the idmapped mount itself should not be a problem.  I guess the session is still running in the host namespace so there are no user namespaces involved?

Does it work if you run `restorecon -Rv ~/`?

[2021-12-13 12:08] vrothberg commented on #12578
@rhatdan PTAL

[2021-12-13 12:15] vrothberg commented on #12559
@giuseppe PTAL

[2021-12-13 12:15] PavelSosin-320 commented on #12264
@giuseppe Unfortunately, it fails itself with multiple errors like
/home/pavelsosin/.local/share/containers/storage/btrfs/subvolumes/a20d37aac15dc7554398dbed9074c553616793f438371e8bd1f750a4f7e24e48/var/log not reset as customized by admin to system_u:object_r:container_file_t:s0:c306,c854.
Maybe, re-tag from by admin to system_u:object_r:container_file_t:s0:c306,c854 impossible regardless run as r

[2021-12-13 12:19] vrothberg commented on #12537
journald supports forwarding to syslog (see https://www.loggly.com/ultimate-guide/centralizing-with-syslog/).  I haven't tried but that should allow for using `journald` log-driver in Podman.

[2021-12-13 12:19] #12537 closed

[2021-12-13 12:31] doverride commented on #12578
I read somewhere in the docs that "podman guarantees uniq categrories for separation" but I highly doubt that.

Say you have four users all running Podman, then how would these four Podman instances be aware of what sets of compartments they use?

That is where separation using roles comes in: In the event that two Podman user instance use the same sets of compartments, the instances will still be

[2021-12-13 12:35] vrothberg commented on #12247
As discussed in the other issue, the "switch user" thing in GNOME doesn't change XDG_ variables and is hence deemed to fail. Let's continue over in https://github.com/containers/podman/issues/12264 to consolidate the conversation a bit.

[2021-12-13 12:35] #12247 closed

[2021-12-13 12:41] doverride commented on #12578
One should also ensure that if label=user: and label=role: is specified on the command line that the overlay is mounted with context= taking the user and role into account.

[2021-12-13 12:42] vrothberg commented on #9229
I cannot reproduce (anymore), so I am closing.

[2021-12-13 12:42] #9229 closed

[2021-12-13 12:49] vrothberg commented on #9413
I wonder as well.

[2021-12-13 12:56] vrothberg commented on #9413
Closing in favor of https://github.com/containers/podman/issues/11377 which has some reproducer

[2021-12-13 12:56] #9413 closed

[2021-12-13 12:56] edsantiago commented on #11682
Last 30 days:

### Podman init containers [It] podman make sure once container is removed
* fedora-33 : int podman fedora-33 root container
  * PR #12520
    * [12-06 10:24](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5488227118219264/html/int-podman-fedora-33-root-container.log.html#t--podman-make-sure-once-container-is-removed--1)
    * [12-06 10:

[2021-12-13 13:01] vrothberg commented on #11350
Friendly ping @rhatdan.  Looks like you've been working on the issue in October.

[2021-12-13 13:10] vrothberg commented on #11717
I think this has been resolved in the meantime. Also note that images will resolve to docker.io (compat API) starting with Podman 4.0 (to be released early next year)

[2021-12-13 13:10] #11717 closed

[2021-12-13 13:12] edsantiago commented on #11784
Still happening.
* Five instances on [November 20](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6669243333738496/html/int-remote-fedora-34-root-host.log.html)
* Six on [November 23](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6750548943699968/html/int-remote-fedora-34-root-host.log.html)

Please rememb

[2021-12-13 13:16] giuseppe commented on #12559
I think it might happen because the Podman process is at the cgroup root inside the parent container, so the OCI fails to create a new cgroup and move a process there.  I am not sure if it is something Podman needs to deal with though.

To confirm what I said above, could you please try running these commands first in the Docker container before running Podman?

[code]

[2021-12-13 13:34] clementremillieux opened #12580 "Using audio on a container with Podman, on Mac OS"
Hello,

I'm trying to use audio on a container launched with Podman on MacOS.

The container is jess/pulseaudio
I am using a big Sur OS with an Apple M1 chip ( also tested on an INTEL chip)
I use podman in version 3.4.4

The commmand `podman run hello world` works well

After launching podman ( `podman machine init` and `podman machine start`),  I connect with ssh to the VM and `install pulseaudio

[2021-12-13 13:39] PavelSosin-320 commented on #12264
I found something very similar in the CentOS forum: [SELinux prevents access to the external drive](https://mail.google.com/mail/u/0?ui=2&ik=b2be6e8d11&attid=0.2&permmsgid=msg-a:r-2127986109152001892&view=att&disp=safe&realattid=f_kx4aasb71). Maybe, "SELinux-man" can advise something better? If Podman storage volume is mountable btrfs volume it can be treated as "external drive".
Otherwise, rootle

[2021-12-13 13:51] rhatdan commented on #12050
@TomSweeneyRedHat Care to take a stab at this?

[2021-12-13 14:08] vrothberg commented on #12142
It has since been fixed in runsc to not use an empty XDG_ variable, so I am closing the issue.

[2021-12-13 14:08] #12142 closed

[2021-12-13 14:22] rhatdan commented on #11895
@baude PTAL

[2021-12-13 14:23] mheon commented on #12580
@baude @ashley-cui PTAL

[2021-12-13 14:28] rhatdan commented on #10974
I believe this is now fixed.  Reopen if I am mistaken.

[2021-12-13 14:28] #10974 closed

[2021-12-13 14:29] mheon commented on #12053
This did not make it into the recent 3.4.4 release (didn't backport cleanly, diffs versus main were too large). It will be fixed in Podman 4.0.0, released early next year. At that point it should make its way into the VM and Brew at around the same time.

[2021-12-13 14:41] afbjorklund commented on #11895
Podman machine works on Linux, as far as I know ?
Last time I rented a Mac in the cloud (24 hr minimum)

[2021-12-13 16:14] pclass-sensonix commented on #12550
Is the podman system service expected to honor the containers.conf file? Or is there a different way to disable cgroups for an environment started with docker-compose and podman? Thank you.

[2021-12-13 16:19] mheon commented on #12550
I think we expect the Podman APIs to honor containers.conf. I don't think it's as clear with the Docker-compatible APIs.

[2021-12-13 16:46] alanruttenberg commented on #12053
Thanks for getting back. I'll keep an eye open in the year.
Alan

[2021-12-13 17:49] Hendrik-H opened #12582 "error locating item named "manifest" for image with ID .... when parallel pulling images and listing them"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I pull multiple images in parallel and at the same time invoke `podman image ls` the later sometimes fails with an error like
[code]

**Steps to reproduce the issue:**

1. `podman image prune --all -f`

2. start `while podman image ls; do echo ""; done` in one terminal window

3. pull mu

[2021-12-13 17:54] mheon commented on #12563
While this was fixed, I will note that we strongly recommend using glibc, not musl - Podman uses some features of POSIX mutexes (for multiprocess memory safety) that musl does not implement, which can lead to deadlocks when musl is in use (we had an issue about this previously, but I can't locate it).

[2021-12-13 18:47] mheon commented on #12582
@vrothberg This is a corrupted c/storage situation, right?

[2021-12-13 19:26] Moltey opened #12583 "--add-host: No connection via Domain. Connection via IP, only"
/kind bug

**Description**

Using the **--add-host** parameter on a container does not work as expected on rootless podman. The same config is working on docker.

**Steps to reproduce the issue:**

1. Start mosquitto rootless on host with IP 192.168.0.11 (bound to sub.domain.com):
[code]

2. Start node-red rootless on the same host with IP 192.168.0.11 (bound to sub.domain.com):
[code]

**Describe

[2021-12-13 19:37] rhatdan commented on #12550
Yes it should follow containers.conf.

[2021-12-13 19:54] #12566 closed

[2021-12-13 20:32] Hendrik-H commented on #12582
If the storage was really corrupted I would expect that it stays that way. To me it looks like the image listing code is reading data from the container storage that is not correctly locked by some lock file and thus sees some image data that it should not see (yet).

[2021-12-13 20:59] rhatdan commented on #8399
We are getting towards completion of rewrite of network stack, so issues like this will be reviewed when the stack is ready.

[2021-12-13 21:22] TomSweeneyRedHat commented on #12580
IDK but two quick thoughts.  I noticed you fully specified your volume in the Podman  command:`-v /home/core/.config/pulse:/home/pulseaudio/.config/pulse`, but not in Docker: `-v ~/.config/pulse:/home/pulseaudio/.config/pulse`.  I can't imagine that's the problem, but maybe if they're two different files?

My other question is this:  `-e PULSE_SERVER=docker.for.mac.localhost`.  Is that pointing to

[2021-12-13 21:53] rhatdan commented on #12578
Correct if you had multiple users on the same machine at the same time, then there is a chance that the MCS Labels would conflict.

Podman mount label only supports a single label mount_file_t, specified in
[code]

[2021-12-13 21:54] rhatdan commented on #12578
Separation on users would be handled by DAC.  Luckily it is very rare that multiple users would be running multiple containers on a single machine.

[2021-12-13 21:55] Moltey commented on #12583
The IP address 192.168.0.11 is the address of the physical NIC of the host. Therefore, mosquitto is bound e.g. to port 192.168.0.11:8883 of the host. I am able to connect to 192.168.0.11:8883 from other physical hosts in the network.

[2021-12-13 21:56] rhatdan commented on #12578
SELinux library does not handle file system roles and users at this point. PRs welcome.

[2021-12-13 22:06] MrErr commented on #12574
OK.
Also I got the container to run without the --privileged flag. I had to add both "--cap-add NET_ADMIN" and "--cap-add NET_RAW" for dhcp functionality to work.

[2021-12-13 22:08] rhatdan commented on #11895
Could you open a PR to add the linux /etc/localtime settings to the ignition file so that the VM matches the localtime of the host?  Would this same change work on a MAC?

[2021-12-13 22:11] Luap99 commented on #12167
Still flaking (I confirmed  that my branch has the latest "fix"): https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5457134111424512/html/int-podman-ubuntu-2110-rootless-host.log.html

[2021-12-13 22:23] clementremillieux commented on #12580
When I use `~` with the Podman command, this corresponds to `/Users/user` path of the MacOs files, this path does not exist in the Podman VM. That's why I put the user path of the VM, but I'm not sure about it.

I forgot to mention that directly from the Podman VM (via ssh) I can't even play audio with the `aplay` command.

`docker.for.mac.localhost` is an internal docker DNS, it corresponding to

[2021-12-13 22:29] Luap99 commented on #12583
Please check if the entry is added to the containers /etc/hosts file.

[2021-12-13 22:36] Moltey commented on #12583
Yes, it is:
[code]

The curl command initially provided also shows that the /etc/hosts entry is recognized correctly as curl tries to connect to 192.168.0.11 as it correctly resolves sub.domain.com to 192.168.0.11 ...

[2021-12-14 07:20] doverride commented on #12578
Users and levels work fine, it's just roles that is lacking.

[2021-12-14 07:25] doverride commented on #12578
Exactly and that is also why I argued in another thread that Podman should rely on SELinux if no `lcx_contexts` exists. It is like you said: `lxc_contexts` only "supports one label" and that imay have been suffice in the past but these day's with per-user instances it is just no longer helpful.

Anyway's luckily users can disable the label feature in `~/.config/containers/containers.conf`, and gue

[2021-12-14 07:30] doverride commented on #12578
Yes there is no such thing as a "single label". You could atleast have omited to user role and level for `lxc_contexts`:

[code]
But aside from the fact that there is just no such thing as a single label, you would still get into `context=` mount label issues because ideally one would really be able to specify mount label user, roles, types and levels

[2021-12-14 09:20] vrothberg commented on #12582
Probably, yes. What I "suspect" is a race between pruning (removing image data) and looking up image data.
[code]

Looking up an image and inspecting it is not an atomic operation, so I think we have to optimize the image-listing code path to make these errors non-fatal as we've done for other code paths already.

[2021-12-14 09:25] vrothberg commented on #12167
:sob: ... OK, let's bump it to 10 seconds?

[2021-12-14 09:25] Hendrik-H commented on #12582
I'm actually doing the pruning before the parallel pulls. But the problem should be still the same following your description.

[2021-12-14 09:30] vrothberg commented on #12582
If both commands run in parallel, the upper race would still apply.  I need to check further though since we have optimized many code paths for such errors already.

[2021-12-14 09:43] vrothberg commented on #12582
Found the location: https://github.com/containers/common/blob/main/libimage/filters.go#L34-L36

We need to add some further error checks here when filtering images.  There is a number of PR extending the filters.  Once merged, I'll prepare a PR to fix this issue.

[2021-12-14 10:03] vrothberg commented on #12167
Bumped to 20 in https://github.com/containers/podman/pull/12588

[2021-12-14 10:10] vrothberg commented on #11010
@edsantiago are we still seeing this flake?

@Luap99 does @tlammi's comment on networkd interfering help?

[2021-12-14 10:13] vrothberg commented on #9752
containers/crun#758 has merged on Oct 19 and since CI is using newer cruns, I think we're good to close.  Please reopen if I am mistaken.

[2021-12-14 10:13] #9752 closed

[2021-12-14 10:14] vrothberg commented on #11946
@giuseppe could you take a look this one?

[2021-12-14 10:34] hakonhall commented on #12316
Which podman version will this be included in?

https://github.com/containers/storage has not yet made any releases since September 30, and AFAIK Podman does not mention this issue as included in the latest 3.4.x releases.

[2021-12-14 10:52] vrothberg commented on #11784
There's a race condition (see below).  It seems that the freezer state has changed when attempting to freeze.
[code]

I used the following diff to get the error log:
[code]

@kolyshkin @cyphar could you have a look?  I am not familiar with the runc code and think you know where to poke.

[2021-12-14 11:57] edsantiago commented on #11010
The last instance I see in my flake logs is from September 14, and the log has been GC'ed, so I'll close.

[2021-12-14 11:57] #11010 closed

[2021-12-14 12:25] #12167 closed

[2021-12-14 13:00] EvgenyPrikhodko commented on #12562
Yes. It's a shame that the port is immediately visible on the physical interface. Administrators need to be given a choice. This is a security issue.

[2021-12-14 13:25] vrothberg commented on #11682
@edsantiago is this the same as https://github.com/containers/podman/issues/10927?

[2021-12-14 13:33] edsantiago commented on #11682
Oops. Yes, sorry. My script just reports the failing test, and I blindly copied. Sorry about that. I've edited my comment, and confirmed that the other failures (in 12520) are the `once` flake.

[2021-12-14 14:03] ananthb opened #12590 "Podman does not work with users created by homectl/systemd-homed."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

All podman root-less commands fail with `Error: cannot setup namespace using newuidmap: exit status 1` with a user managed by systemd-homed.

**Steps to reproduce the issue:**

1. Activate systemd-homed service, and create a user account with homectl.
2. Login as the newly created user and ru

[2021-12-14 14:39] Luap99 commented on #12583
OK that makes zero sense, what the hell is going on here?
If the curl connection directly to the ip:port works and curl successfully resolves the given name to the correct ip then it has to work. There should be no difference at the transport level. Can something in the mqtt protocol cause this?

[2021-12-14 14:49] ypu opened #12591 "podman --network-backend netavark report Error in CentOS Stream 9"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Try podman with netavark in CentOS stream9, and get a error message:
Error: netavark: : EOF

**Steps to reproduce the issue:**

1. Install podman and netavark from podman-next
[code]
2. Start a container with --network-backend netavark
[code]

**Describe the results you received:**
podman rep

[2021-12-14 14:56] vrothberg commented on #11682
OK, I think I found something.

[2021-12-14 14:57] #12582 closed

[2021-12-14 15:12] giuseppe commented on #11946
PR here: https://github.com/containers/common/pull/858

[2021-12-14 15:34] vrothberg commented on #11682
I see two (separate) issues in the linked failures:
1) `podman [options] exec -it c733c9d4b1c641454b402d3fd54630656e45e725f8f34df66765c1075457f866 cat /dev/shm/ajFADnTdMnDi` should exit 1 but sometimes exits 0. I see this only on F33 container! Since we don't exercise that anymore, I consider it "fixed". The file shouldn't be in `/dev/shm` anymore once the Pod got restarted and it exceeds my knowl

[2021-12-14 15:37] vrothberg commented on #11682
https://github.com/containers/podman/pull/12593 for 2)

[2021-12-14 15:37] vrothberg commented on #11682
@edsantiago can you confirm my theory on 1)?

[2021-12-14 15:45] edsantiago commented on #11682
I can't confirm it, but since you have a possible fix, and since f33 is gone, it's perfectly fine with me if we sweep (1) under the rug.

[2021-12-14 15:54] #11946 closed

[2021-12-14 16:32] vrothberg commented on #11682
Thanks!

[2021-12-14 16:54] vrothberg commented on #11682
With https://github.com/containers/podman/pull/12593 merged, I am closing this issue.

[2021-12-14 16:54] #11682 closed

[2021-12-14 17:32] #12063 closed, assigned to nobody

[2021-12-14 17:38] #11382 closed

[2021-12-14 17:40] Luap99 commented on #12591
OK I just installed centos stream 9 in a VM and it works for me. Same podman and netavark package versions, the only difference I can see is that I am on kernel version `5.14.0-25.el9.x86_64`

[2021-12-14 17:48] PavelSosin-320 commented on #12247
Searching the possible solutions/workaround for the issues related to
Podman I found funny thing: Fedora issues dashboard shows somes critical
tickets related to Fedora rawhide Fedora rawhide issues
<https://src.fedoraproject.org/tests/selinux/issues> related to SELinux. I
use Fedora 35 upgraded to dev repositories, so it should work very
similarly to Rawhide.If Podman integration tests run on the

[2021-12-14 19:51] rhatdan commented on #12580
Just throwing it out there that there is potential for SELinux issues with this.

[2021-12-14 20:05] rhatdan commented on #12578
Most of this conversation should be taking place in github.com/opencontainers/selinux

[2021-12-14 20:46] TomSweeneyRedHat commented on #12583
Just a WAG, but if you add `--privileged` to your first command:

[code]
Does that work?

[2021-12-14 20:56] rhatdan commented on #12353
podman continaer ls --all --external

Should show them. Currently the code only shows external if you add --all.
I will fix this.

[2021-12-14 21:01] rhatdan commented on #12353
BTW This was documented in the podman ps  man page.
[code]

[2021-12-14 21:10] rhatdan commented on #12353
@mheon @nalind WDYT about marking Buildah containers created by Podman as podman containers and then allowing podman rm --all to destroy them automatically.

[2021-12-14 21:11] rhatdan commented on #12353
Is there a field in storage we could mark, or just add names based on podman-alpine1 or something like that.

[2021-12-14 21:17] rhatdan commented on #12590
Looks like no /etc/subuid and /etc/subgid is being configured, which is pretty much required for rootless podman.

[2021-12-14 21:22] nalind commented on #12353
`buildah.OpenBuilder()` should fail when called for containers for which buildah hasn't created any state data of its own, either from a call to `buildah.NewBuilder()` or `buildah.ImportBuilder()`.

[2021-12-14 21:22] voor commented on #10817
The `fixfiles restore $HOME/.local/share/containers` approach does not seem to fix this for me (Fedora 35), but temporarily turning off selinux does (which is not preferred).

[2021-12-14 21:34] rhatdan commented on #10817
What AVCs are you seeing?

[2021-12-14 22:01] Moltey commented on #12583
I am **_very, very, very sorry_** for wasting everyones time. I lost 5 hours of my life (and almost my mind) due to a typo:

What I had in my script:
--add-host=sub.domain.com:19`1`.168.0.11

What was ment to be:
--add-host=sub.domain.com:19`2`.168.0.11

After I tried the priviliged version of @TomSweeneyRedHat (not successfully), I tried to curl a new nginx conatiner on the same host as suggested

[2021-12-14 22:01] #12583 closed

[2021-12-14 22:05] TomSweeneyRedHat commented on #12583
@Moltey glad you found it and no worries.  Leave it to a bit to bite you!  ;^)

[2021-12-15 01:25] storrgie commented on #5858
@mheon sorry to necrobump this. Wondering if use of `runuser` or another utility is more advisable? Or, is it best to always ssh in as the user?

With `runuser` you can have a "shell-less" user (e.g. `/sbin/nologin`) and specify the shell at invocation: `runuser -ls /bin/bash <user>`.

[2021-12-15 02:55] ananthb commented on #12590
I ran into this error only with /etc/subuid and /etc/subgid configured. I deleted them just before opening this card to see what would happen if I ran without it. It did run but it printed a warning about missing subuids first.

[2021-12-15 08:19] ypu commented on #12591
Hi @Luap99 I update the system and now my kernel version is 5.14.0-25.el9.x86_64 now. But it still failed. Here is my network devices inside the vm:
[code]
If you need any more information for debugging the problem, please let me know.

[2021-12-15 09:28] 2xB commented on #12353
That sounds like a good first step - I would also argue that when the containers are created with `podman build`, they should also be removed by `podman container prune` without additional flags, and be visible via `podman container list` - just to make it easier for users to discover that cancelling builds actually pollutes the container storage. Since these containers aren't usable anyways, disc

[2021-12-15 12:04] voor commented on #10817
Oh, good recommendation on checking, it's **not** in my home directory.

[code]

Here is the sample containerfile:
[code]

And just running:

[code]

[2021-12-15 12:28] vrothberg commented on #10912
[code]

@giuseppe, could this be a crun issue?

[2021-12-15 12:30] vrothberg commented on #12574
@adrianreber is that something we should document in the man pages?

[2021-12-15 12:34] vrothberg commented on #12559
@giuseppe I can confirm that this is resolving the issue.

[2021-12-15 12:40] vrothberg commented on #12476
I am skeptical since we had to translate one format to another, neither of which we control. Those are moving targets. Since there is already `kompose`, I would prefer to leave it up to this tool support translating compose files into K8s yaml.

In other words, I'd appreciate if we wouldn't have to support this scenario and once something has merged, we effectively support it.

@containers/podman-

[2021-12-15 12:48] vrothberg commented on #12475
@baude PTAL

I am mostly worried about (yet another) breaking change to existing users. @Luap99, as the cobra expert in team: Is it possible to add sub-commands as described here (i.e., `play-kube-{up,down}`) AND to main the current flags of `play-kube`?

Having written that, it seems like a recipe to create more confusion by mixing apples and oranges.  I sympathize with the suggestion but I am no

[2021-12-15 12:51] vrothberg commented on #12485
Friendly ping.

@BernhardPosselt would the build annotations as outlined above satisfy your needs?

[2021-12-15 12:52] #12530 closed, assigned to nobody

[2021-12-15 12:55] vrothberg commented on #12437
@oskgu360 could it be a kernel issue?  The working systems seems to be using a more recent one.

[2021-12-15 13:25] adrianreber commented on #12574
Probably. I will open a PR mentioning it.

[2021-12-15 13:40] vrothberg commented on #12441
I'll tackle this one.  Everything's in order but I will open a PR explaining the behavior.

[2021-12-15 13:56] BernhardPosselt commented on #12485
Yes.

[2021-12-15 14:25] #9883 closed

[2021-12-15 14:25] #11534 closed

[2021-12-15 14:29] mheon commented on #5858
For reference, I did end up writing a blog about this: https://www.redhat.com/sysadmin/sudo-rootless-podman

SSH is probably the easiest but systemd also provides some tools that create a proper login session - `machinectl login` for example.

[2021-12-15 14:43] #12353 closed

[2021-12-15 14:47] Luap99 commented on #12591
@flouthoc @mheon @baude Can you reproduce?

[2021-12-15 14:56] baude commented on #12591
I just pulled CentOS-Stream-GenericCloud-9-20211214.3.x86_64.qcow2 and followed the instructions provided by the reporter and it worked perfectly.

[2021-12-15 15:32] Luap99 commented on #12475
Yes it should be possible to do this without breaking changes. You would need to create new cobra commands and then you just export the run function and the flag definitions and add them to the new commands.

I personally like `podman kube play` and `podman kube down`. Adding extra features such as the default filename can be added later.

[2021-12-15 15:36] Luap99 commented on #12476
Right supporting/debugging this will be a nightmare.
I think it is more favourable to support `podman compose` directly than converting the file format to k8s yaml first. Compose V2 is a docker cli plugin so adding it to podman should be possible.

[2021-12-15 15:42] Luap99 commented on #10838
This should be fixed in the main branch. The container list endpoint should use the specgen format.

[2021-12-15 15:42] #10838 closed

[2021-12-15 15:43] Luap99 commented on #10373
Lets close this as dup of #7511.

[2021-12-15 15:43] #10373 closed

[2021-12-15 15:45] Luap99 commented on #7511
Should I add the flag or do we only want to support the `--network netname:ip6=fd10::2` syntax, @mheon WDYT?

[2021-12-15 15:46] Luap99 commented on #12562
you can use `-p 127.0.0.1:8080:80` to make it inly bind the locahost ip.

[2021-12-15 15:46] #12562 closed

[2021-12-15 15:48] Luap99 commented on #12562
If you just want to make the nginx container talk to the backend container use a network instead of port forwarding.

[2021-12-15 16:00] EvgenyPrikhodko commented on #12562
![image](https://user-images.githubusercontent.com/25795145/146220684-540a7455-d7ed-437f-b78d-c943ab914acc.png)

[2021-12-15 16:00] mheon commented on #7511
We should add the flag for Docker compat's sake

[2021-12-15 16:06] Luap99 commented on #7511
ack, should be simple to add now

[2021-12-15 17:46] k-wall opened #12612 "podman build --file with absolute path fails with "no such file or directory" on Mac"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a `podman build` command password a --file parameter as an absolute path fails on a the Mac.  The equivalent command  has doesn't fail on Linux.

**Steps to reproduce the issue:**

1.  Create a Dockerfile
[code]
2.  podman build -f /tmp/Docker .

**Describe the results you received:**

[2021-12-15 19:00] flouthoc commented on #12485
@vrothberg Sure I'd love to.

[2021-12-15 19:40] afbjorklund commented on #11533
The lima messages have been improved a bit in lima version 0.8.0, so that it now gives actionable output:

[code]

The location of the socket and the podman binary, depends on the current user and operating system.

[code]

https://github.com/lima-vm/lima/blob/v0.8.0/examples/podman.yaml

[2021-12-15 19:45] Constantin07 opened #12613 "Linux podman info - stat /bin/fuse-overlayfs: no such file or directory"
/kind bug

**Description**

On CentOS7.9 with `podman` build from sources it fails to find `fuse-overlayfs` under `/usr/local/bin`. This happens when invoked as non-privileged user.
As `root` user it works just fine.

Note: The `fuse-overlayfs` has been compiled from sources and installed in `/usr/local/bin`.
The `PATH` variable includes `/usr/local/bin` for both `root` and non-privileged user.

*

[2021-12-15 19:48] cevich commented on #10817
Dan will have a for-sure answer for you, but `tcontext=unconfined_u:object_r:container_file_t` looks almost right.  My F34 `~/.local/share/containers/storage/overlay*` directories are all `container_ro_file_t` but maybe that's expected.

[2021-12-15 21:52] afbjorklund commented on #8016
Current solution requires **modifying** the path, since the root directory is read-only on CoreOS:

`podman machine init -v /foo:/mnt/foo`

`podman --remote run -v /tmp/foo:/foo`

This breaks compatibility with local version, that would do `podman run -v /foo:/foo` (no `/mnt`)

[2021-12-15 22:16] Dan-superposition opened #12615 "`userns = "auto"` not respected in `containers.conf`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`userns = "auto"` in `/etc/containers/containers.conf` does not seem to be respected.

**Steps to reproduce the issue:**

1. Add subuid and subgid maps for `containers`
[code]

2. Set `userns = "auto"` in `containers.conf` under `[containers]` heading

3.
[code]

**Describe the results you re

[2021-12-15 22:22] cgwalters commented on #8016
See https://github.com/coreos/rpm-ostree/issues/337 - I think eventually we will support this on CoreOS more cleanly, but for now there is a hack possible.  You just have to be aware that data there will go away on upgrades, but it's fine for mount points.

[2021-12-15 22:37] afbjorklund commented on #12011
Updated the lima examples to Fedora 35 and CentOS 8-Stream, since CentOS Linux is soon EOL...

limactl start https://raw.githubusercontent.com/afbjorklund/fedora-lima/main/fedora-podman.yaml

limactl start https://raw.githubusercontent.com/afbjorklund/fedora-lima/main/centos-podman.yaml

They use the "Cloud" versions (with cloud-init), rather than the "CoreOS" versions (with ignition).

----

[cod

[2021-12-15 22:41] afbjorklund commented on #8016
Good to know, then it should work better with the volumes. Must have changed during the months it was pending review

[2021-12-16 00:20] EvanFabry opened #12616 "Build exit code propagation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman builds don't propagate exit codes from the build, instead returning exit code 125 when something else is thrown within the build script. I'm looking for either a way to make that happen or to recover the build exit code without grepping it out of debug logs.

Buildah used to exhibit th

[2021-12-16 00:27] siretart commented on #12575
that is accurate. However, I do intend to update the podman 3.0.1 package with appropriate fixes as necessary. For instance the glibc issue is on my list of things to fix for an upcoming stable update.

I'd like to challenge that statement. Using debian testing is actually a more conservative choice than tracking unstable directly, which is a rather popular choice in itself. I personally use a tes

[2021-12-16 03:47] kolyshkin commented on #11784
From what I see, this is just two calls to `setFreezer` -- the first one to freeze it, the second one to unfreeze it. No race here.

I will take a closer look later.

[2021-12-16 06:15] snhardin commented on #11446
Seeing an issue similar to this on Mac OS X using Podman 3.4.2. Attempting to pass a file via STDIN to a `podman run` command using `<` operator works the first time but fails subsequent times until the virtual machine is restarted. Docker is unaffected.

[code]

Using `cat FILE.json | podman run ...` is a workaround.

[2021-12-16 06:27] PavelSosin-320 commented on #12103
No,No,No, this is Open source feature request related to using Podman on Linux workstation only. There is no Enterprise customer hard requirement behind it. Cloud based solution is more suitable for enterprise customers. But Fedora's cloud distro uses btrfs too. What to do with it?

[2021-12-16 06:55] cyphar commented on #11784
The `openat2` warning doesn't mean that freezing failed -- I think we fallback to basic open if openat2 ever fails in a particular operation. The fact it's failing with ENOENT might be related to https://github.com/opencontainers/runc/pull/3030.

[2021-12-16 07:07] lou-lan opened #12617 "MacOS Hackintosh qemu-system-x86_64: Error: HV_ERROR"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1. brew install podman

2. podman machine init

3. podman machine start

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output o

[2021-12-16 08:30] stac47 commented on #12559
Unfortunately, I cannot confirm it works. I am stuck here:
[code]
I don't know why I cannot write `/sys/fs/cgroup/init/cgroup.procs`
[code]
Tell me if I missed something.

[2021-12-16 08:54] giuseppe commented on #12613
does the user have a custom configuration file under `~/.config/containers` that overrides the mount_program?

[2021-12-16 08:56] martinetd commented on #11688
Hi,

ignoring the fact that there is no `--mount type=device` type (I don't see the difference with `type=bind`), `-- mount` has the same problem with commas that --device has with colon:
[code]

I think @giuseppe 's suggestion of using /proc/self/fd/x is more robust, even if it's a bit of a pain to use and might have side-effects for some devices (some drivers don't like having a device open mult

[2021-12-16 09:30] brauner commented on #10374
The vfs bits are lined-up.

[2021-12-16 09:37] vrothberg commented on #11784
Thanks! To elaborate on why I think there's a race. Each time it fails, state is ` != configs.Undefined` which made me believe that the specific path isn't always present or some condition must be waited for/on. But it's just an uninformed guess; I am not familiar with the runc code base.

[2021-12-16 09:38] vrothberg commented on #12617
Thanks for opening the issue, @lou-lan!

@ashley-cui, @baude, PTAL

[2021-12-16 09:41] vrothberg commented on #12616
Thanks for opening the issue.

[2021-12-16 09:44] giuseppe commented on #11688
another alternative could be a symlink.  You need to clean it up afterwards but at least it doesn't cause side effects like opening the device earlier

[2021-12-16 09:48] giuseppe commented on #12103
I suggest using overlay there, it works better also on BTRFS as backend.

If you still want to use BTRFS, PRs are welcome.

[2021-12-16 10:43] Mohamed-Abubucker opened #12620 "podman push --authfile failed with auth error even after podman login (aws ecr"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am building my nodejs application container using buildah bud command, my plan is to build oci format container image and push it to ecr repo, so that i can run ecs fargate containers using that oci formatted image.

but the problem is, everything working until podman push. when i push imag

[2021-12-16 10:47] flouthoc commented on #12616
I'll check this @vrothberg if you are not already on it.

[2021-12-16 10:48] vrothberg commented on #12616
It's all yours, @flouthoc, thanks!

[2021-12-16 11:34] giuseppe commented on #12615
PR here: https://github.com/containers/podman/pull/12621

[2021-12-16 11:39] giuseppe commented on #12423
could you give it a try using crun instead of runc?

Is the issue still reproducible?

[2021-12-16 11:43] giuseppe commented on #12150
can we add `upperdir=` and `workdir=` mount flags?  If `upperdir=` is present, then we use it instead of creating a new one.

`-v /foo:/bar:O,upperdir=/persistent/upperdir/content,workdir=/persistent/upperdir/wd`

The nice thing is that in future we can think of adding new custom options (e.g. `volatile`)

[2021-12-16 11:56] flouthoc commented on #12150
I agree since this is already advanced use-case, I guess more verbose configuration options might be more helpful.

[2021-12-16 12:44] vrothberg commented on #12620
Thank you for reaching out. The debug logs show the following line

Please check if you logged into this registry (i.e., `my-pvt-ecr-repo.dkr.ecr.us-east-1.amazonaws.com`) and that the specified authfile includes credentials for this specific registry.

[2021-12-16 12:52] rhatdan commented on #12150
Are we opening ourselves up to potential weird errors.  Is workdir allowed to be on different disk then upperdir?
@rhvgoyal WDYT?

[2021-12-16 12:59] edsantiago opened #12624 "Return of the Evil Dead Pprof"
Sorry, @vrothberg and @jwhonce. This one just won't die.
[code]
[link](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5837420917686272/html/int-podman-fedora-35-rootless-host.log.html#t--are-available--1)

[2021-12-16 13:01] Constantin07 commented on #12613
You are right, @giuseppe I did found in `~/.config/containers` a storage config file though not sure how it was created. Probably from old podman rpm package which I did install initially and then removed because it was very old.

The above file indeed had `mount_program = "/bin/fuse-overlayfs"`. Now If I rename this file I get:
[code]
Wasn't supposed podman to look into `/etc/containers/storage.c

[2021-12-16 13:01] vrothberg commented on #12624
I think it's time to have a closer look. Bumping the timeouts clearly does not help.

:cry:

[2021-12-16 13:07] rhatdan commented on #12613
Looks like XDG_RUNTIME_DIR is set incorrectly.

[2021-12-16 13:10] #12620 closed

[2021-12-16 13:13] vrothberg commented on #12620
Awesome, glad the issue has been resolved!

[2021-12-16 14:24] mheon commented on #11446
Are you using `--preserve-fds`? If not, I think this merits a fresh issue, as it's a separate bug. If so, it's probably still a fresh bug deserving of a separate issue, because that flag shouldn't be available for remote (we can't forward FDs across to the VM, so it doesn't make much sense).

[2021-12-16 14:32] rhatdan commented on #12590
If the /etc/subuid and /etc/subgid accounts are back in place, can you do

$ cat /etc/subuid
$ cat /etc/subgid
$ podman system migrate
$ podman unshare cat /proc/self/uid_map

[2021-12-16 14:32] rhatdan commented on #12590
@giuseppe FYI

[2021-12-16 14:32] mheon commented on #12475
I'm a little more in favor of keeping existing subcommand structure, so kmaybe `podman play kube` and `podman down kube` (or even a subcommand of `podman stop`? `podman stop kube`?)

[2021-12-16 14:35] mheon commented on #12316
Usually we only do significant version bumps to dependencies in new minor releases, so it would have to wait until Podman 4.0.0 in late January. However, we had to pick up a new c/image in 3.4.4 that also brought a new c/storage, so I think it may be in the v3.4.4 release?

[2021-12-16 14:40] ashley-cui commented on #12617
Looks like qemu itself doesn't like the hackintosh system... A quick google shows this: https://stackoverflow.com/questions/67264212/android-emulator-crash-when-start-hvf-error-hv-error

Could you try that out?

[2021-12-16 14:43] Luap99 commented on #12475
`podman stop kube` is not possible, the cli parser cannot know if kube is a subcommand or the container name used for `podman stop`

[2021-12-16 14:44] mheon commented on #12591
It's gotta be an environment issue - something about the CPU featureset the VM claims to have, maybe?

[2021-12-16 14:44] giuseppe commented on #12613
if you don't override the configuration in `~/.config/containers` then what is set in `/etc/containers` is used.

Older versions of Podman were always creating files under `~/.config`.  Can you try removing `storage.conf` as well?

[2021-12-16 14:45] eriksjolund commented on #11446
@mheon  My reproducer in https://github.com/containers/podman/issues/11446#issuecomment-917163965 does not make use of `--preserve-fds`.
When created this issue, I thought it was directly connected to `--preserve-fds` but now when I can reproduce the error message without `--preserve-fds` I tend to think that  `--preserve-fds` is not so important for this issue.

[2021-12-16 14:47] mheon commented on #11446
OK.

[2021-12-16 14:48] Luap99 commented on #12591
@ypu Can you share `cat /proc/cpuinfo`? I found some issues online where people had similar problems with a AMD processor.

[2021-12-16 14:53] leahneukirchen opened #12628 "Docker incompatibility: events API uses Action="died", not Action="die""
This is essentially the same issue as #10168 (fixed in 3.2.0), but for the `Action` field of the event. I suggest to change it for the legacy API as well.

[2021-12-16 15:06] leahneukirchen opened #12629 "podman events prints wrong timestamps"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `podman --remote events`

2. Run something to generate some log lines, e.g. `podman --remote run --rm -it alpine:latest echo foo`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The current date and time (`2021

[2021-12-16 15:13] Luap99 commented on #12629
Does this only happens with podman-remote or also local podman?

[2021-12-16 15:35] edsantiago commented on #12273
Not as frequent, but still happening as of 11-29

### Podman run networking [It] podman run check dnsname plugin
* fedora-35 : int podman fedora-35 rootless host
  * PR #12372
    * [11-19 13:23](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5831848392654848/html/int-podman-fedora-35-rootless-host.log.html#t--podman-run-check-dnsname-plugin--1)
* ubun

[2021-12-16 15:43] lou-lan commented on #12617
Thanks. I am try it, but it not work for me.

If just run `./qemu-system-x86_64`, it work.

<img width="722" alt="截屏2021-12-16 下午11 43 05" src="https://user-images.githubusercontent.com/13095837/146402539-9bc9e9da-4f03-455e-9fcf-efd7df17afb2.png">

[2021-12-16 15:45] ypu commented on #12591
Here is the cpuinfo from my vm:
[code]

[2021-12-16 15:50] jerdna-regeiz commented on #5802
I got it to run with docker-compose v2, but it requires the docker cli to be installed
[code]
To note: the -H is now a parameter for the docker cli itself and the compose cmd does not know anything about -H

[2021-12-16 16:01] #12441 closed

[2021-12-16 16:32] weitlich opened #12630 "podman ps is empty if container got started via crontab"
/kind bug

**Description**
I am trying to automate the restart of my podman containers after reboot via an entry in the crontab (@reboot) for my application userid (not root).

I had to add
   #!/bin/sh --login
to the shell script that is called from cron and that in turn executes
   podman run ....
to make it work at all.

Now, the containers are started and running after a reboot, but I cannot s

[2021-12-16 16:33] leahneukirchen commented on #12628
also podman sets `containerExitCode`, but docker sets `exitCode`.

[2021-12-16 17:56] giuseppe commented on #12150
They both must be on the same mount otherwise the overlay mount fails

[2021-12-16 18:34] Constantin07 commented on #12613
@rhatdan looks like that's the case. As `root` logged in on a box I get:
[code]

Now, when I do `sudu su - jenkins` I get that it's not set:
[code]
but I do get `XDG_SESSION_ID=2` env. var set. This is a login/interactive shell.
Now I'm wondering if `XDG_RUNTIME_DIR` is supposed to be set when run as service account, e.g. running Jenkins with `jenkins` non-priviledged user ?

[2021-12-16 18:37] edsantiago opened #12631 "apiv2 tests: mirroring doesn't play well with multiarch?"
In @jwhonce's PR #12527, the apiv2 test [failed](https://api.cirrus-ci.com/v1/task/6216807318028288/logs/main.log) (not clear if it's a flake) with:
[code]
The test code in question is https://github.com/containers/podman/blob/b9141c06f0350c0ec53b8dc3246d1dbd5c72e2a9/test/apiv2/10-images.at#L51-L58

This is a test that hasn't otherwise failed. It seems possible that the root cause is my recent PR

[2021-12-16 18:42] Constantin07 commented on #12613
@giuseppe I did remove entirely the `~/.config/containers` directory for regular user (let's call it `jenkins`).
but unfortunately no luck - getting the same error:
[code]

Here is my global config:
[code]

The `storage.conf` is as per dump shown above.

[2021-12-16 19:00] rhatdan commented on #10912
No you are running a container within a Pod and already have set the userns size to 500, now you are attempting to set a container in the same user namesapce to use 3000 uids, which is not allowed.

What should happen here is --pod and userns option should conflict if container is sharing userns with the pod.

[2021-12-16 19:01] rhatdan commented on #10912
BTW We should do that for all of the namespace options.  If you share a namespace with the pod, then you should use the options set within the pod.

[2021-12-16 19:04] rhatdan commented on #10912
593d0907c5c11e933be7dbdce98022f76183ea3c just did this for conflicting --hostname when in a Pod.

[2021-12-16 19:17] Constantin07 commented on #12613
defining XDG_RUNTIME_DIR env. var. doesn't help:
[code]

[2021-12-16 19:37] rhatdan commented on #12476
I agree, I would prefer to just support podman compose with the docker-compose plugin.

[2021-12-16 19:44] rhatdan commented on #12612
This is working fine in the main branch.
@flouthoc Did you (or Perhaps me) fix this recently?

[2021-12-16 19:55] flouthoc commented on #12612
@rhatdan You fixed it here https://github.com/containers/podman/pull/10550 and there was another follow up PR for symlinks which i remember. @k-wall Please try it with latest version. Also there a version diff between your `podman` client and `podman` server.

[2021-12-16 20:08] rhatdan commented on #10817
Try restorecon -R -F  $HOME/.local/share/containers

It looks like you relabeled the homedir ( $HOME/.local/share/containers) content while in a container.

[2021-12-16 20:58] rhatdan commented on #12475
podman down kube seems like a nice compromise.

[2021-12-16 21:04] rhatdan commented on #5802
We need to look at how we can get podman to directly run compose.

[2021-12-16 21:09] rhatdan commented on #12630
Did you become the user before executing podman ps?  Rootfull containers and rootless containers are different.

[2021-12-16 21:10] rhatdan commented on #12628
Please open a PR to change.  4.0 is your time to fix these. Although if they are compat then they can be fixed at any time.

[2021-12-16 21:12] rhatdan commented on #12629
Interested in  opening a PR?

[2021-12-16 21:15] rhatdan commented on #12150
Which we should probably check, otherwise this will end being a common failure

upperdir=$HOME/upper, WORKDIR=/tmp/workdir

[2021-12-16 21:28] leahneukirchen commented on #12629
I found the error here: https://github.com/containers/podman/blob/main/pkg/domain/entities/events.go#L45
e.TimeNano contains nanoseconds since the epoch, not just the nanosecond part of e.Time.

[2021-12-16 21:31] leahneukirchen commented on #12629
`time.Unix(0, e.TimeNano)` should work.

[2021-12-16 21:37] #11895 closed

[2021-12-16 21:41] rhatdan commented on #12629
Please open a PR.

[2021-12-16 21:53] rhatdan commented on #12613
@mheon WDYT?

[2021-12-17 00:40] martinetd opened #12635 "podman restart=always accumulates conmon processes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a container with restart=always (or on-failure) keeps spawning one more process everytime the container stopped.

I could reproduce this on podman 3.4.4 on alpine/fedora (conmon 2.0.30), it doesn't seem to happen on 3.4.2 on debian (conmon 2.0.25)
I tried recompiling podman 3.4.4 and

[2021-12-17 00:51] martinetd commented on #12635
Ah, I take that back -- upgrading conmon on debian _does_ reproduce the issue, but further restarts run with the system conmon again and forget about the --conmon option that I had passed, so I didn't noticed when just one process was stuck!

Should be easy to confirm where the issue is now, if someone could move the issue to containers/conmon it might make sense to do so.

[2021-12-17 01:56] quentin9696 opened #12636 "Support `STATUS` sd_notify"
/kind feature

**Description**

Support sd_notify `STATUS`

Actually, podman `3.4.1` only support `WATCHDOG` and `READY` notification when using  `--sdnotify=container`.

That would be interesting to integrate more messages, like `STATUS`

[2021-12-17 02:21] martinetd commented on #12635
So I can confirm the change of behaviour has been introduced in conmon's 4d3dba9c4beb7 "exit: fix race zombie reaper" (pull containers/conmon#291 - issue containers/conmon#290) as I had initially guessed.

The original code indeed had a race between the first `reap_children` and later waitpid(exit_pid), the problem seems to be that while the forked conmon process does exit,  it didn't "detach" the

[2021-12-17 02:28] Lunarequest opened #12637 "Error: cannot setup namespace using newuidmap: exit status 1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
attempting to create any container rootlessly results in `Error: cannot setup namespace using newuidmap: exit status 1`

**Steps to reproduce the issue:**

1.run `podman run docker.io/hello-world`

**Describe the results you received:**

`Error: cannot setup namespace using newuidmap: exit sta

[2021-12-17 02:30] ananthb commented on #12590
I've got a disk image of the system that caused this issue. Had to reinstall to have a usable system again. I suspect that systemd-homed's fscrypt implementation may have something to do with this error. I've switched to the LUKS backend, and podman user mode runs absolutely file.

Here's a bug caused by systemd-homed's implementation of fscrypt that breaks docker: https://github.com/google/fscryp

[2021-12-17 02:51] ananthb commented on #12590
/etc/subuid
`ananth:100000:65536
`
/etc/subgid
`ananth:100000:65536
`
podman system migrate
`Error: cannot setup namespace using newuidmap: exit status 1
`
podman unshare cat /proc/self/uid_map
`Error: cannot setup namespace using newuidmap: exit status 1`

@rhatdan

[2021-12-17 03:12] martinetd commented on #12635
alright, it looks like I had guessed right with "prctl magic", it's about PR_SET_CHILD_SUBREAPER.

I've opened https://github.com/containers/conmon/pull/309 with a possible fix, it's not perfect though so happy to hear back and adjust.

[2021-12-17 08:12] weitlich commented on #12630
Yes, I am trying the
   podman ps
as the user for which the crontab is defined that has started the containers.

[2021-12-17 08:20] giuseppe commented on #12637
can you check if `newuidmap` has the setuid bit set or has file capabilities?

Please show the output for: `getfattr -d -m- /usr/bin/newuidmap` and `stat /usr/bin/newuidmap`.

[2021-12-17 09:09] adippel opened #12638 "Loading multiple Images via the Docker compatible REST-API does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

Loading a tar docker-archive with multiple exported images using the docker compatibility REST-API does not work although this is possible using the original Docker REST API and is stated in Podman's API Spec. Additionally, loading the very same archive using Podman's CLI works without any problems.

The problematic lines st

[2021-12-17 09:29] flouthoc commented on #12638
@adippel Thanks for reporting and debugging this. You are right but I think compat API should have this instead of removing error handling

[code]
But yes please open a PR with what worked for you. Lets discuss it on the PR :smile:

[2021-12-17 10:16] flouthoc commented on #12635
I can reproduce this.

As requested let me try transferring issue to `conmon` repo.

[2021-12-17 10:16] rhatdan commented on #12292
@voquangphu By any chance have you updated to the latest Podman and latest podman machine (OS)

[2021-12-17 10:17] rhatdan commented on #12276
@adrianreber Any movement on this?

[2021-12-17 10:20] PavelSosin-320 commented on #12103
@giuseppe I already tried overlay driver and fuse mount: the same issue. This is not btrfs itself. This is some combination of btrfs, mounting /home by systemd-homed timing and SELinux' customizable label in Fedora. I would like to build Storage CLI by myself and play around using systemd-run and mount dependency but my make failed😒maybe, because btrfs lib version 15.5 .

[2021-12-17 10:22] voor commented on #10817
`restorecon -R -F $HOME/.local/share/containers` fixed it, thank you!

[2021-12-17 10:28] rhatdan commented on #12590
Ok, one other thing would be if the process has already dropped privs. One thought would be you are already in a user namespace or a second one would be you already dropped caps.

$  cat /proc/sef/uid_map
$ grep Cap /proc/self/status
CapInh:	0000000000000000
CapPrm:	0000000000000000
CapEff:	0000000000000000
CapBnd:	000001ffffffffff
CapAmb:	0000000000000000

[2021-12-17 10:37] rhatdan commented on #12630
I would do podman info in both locations.

Does podman ps -a
Show the containers?

[2021-12-17 10:51] rhatdan commented on #12636
Interested in opening a PR.

[2021-12-17 10:57] rhatdan commented on #12103
Is systemd-homed modifying the default binding set for caps?

grep Cap /proc/self/status

[2021-12-17 11:41] PavelSosin-320 commented on #12103
@rhatdan
From the "Terminal application"
grep Cap /proc/self/status
CapInh:	0000000000000000
CapPrm:	0000000000000000
CapEff:	0000000000000000
CapBnd:	000001ffffffffff
CapAmb:	0000000000000000

[2021-12-17 11:55] Lunarequest commented on #12637
stat returns
[code]

[2021-12-17 12:14] Arryboom opened #12639 "name resolve failed."
- enviroment
[code]
- problem
**cannot resolve container hostname in created network**

- steps to prove:

[code]
then got follow error from container rk:

[code]
it's clear container doesnt has "rkdb" hostname resolve to rkdb container.
since I've use another setting ``--hostname mongork``,so I tried this one to create rk container again
[code]
and still got the same error:

[code]
and by execute

[2021-12-17 12:16] #12616 closed

[2021-12-17 12:25] vrothberg commented on #12103
There's an issue for systemd-homed already -> https://github.com/containers/podman/issues/12590

[2021-12-17 12:27] #12476 closed

[2021-12-17 12:32] giuseppe commented on #12637
thanks.

Can you also show the content of the  `/etc/subuid` and `/etc/subgid` files?

How is `/run` mounted?  The output `grep /run /proc/self/mountinfo` could help to detect whether it is mounted with `nosuid` that would prevent the setuid bit to have any effect

[2021-12-17 12:36] vinzBad commented on #12308
I think I have the same problem. rootless podman on Fedora 35. `podman images` takes ~10s for 134 images and causes a short spike in cpu usage.

But when I visit the Docker tab in VSCode and it starts querying the podman daemon I get a lot of these messages in the debug log. Even after VSCode runs into a timeout error daemon keeps logging these for a while until it stops, causing a long spike in c

[2021-12-17 12:37] Lunarequest commented on #12637
`/etc/subuid/`
[code]
`/etc/subgid`
[code]
`/run` seems to be mounted by nixos with `nosuid`

[2021-12-17 12:51] vrothberg commented on #12631
Thank you for filing this issue, @edsantiago.

Multi-arch images in the wild have a looooooong history of sometimes screwing things up.  For instance, a "multi-arch" image (or manifest list) would have an entry for `arm64` while the image it points to claims to be an `amd64` one. There was a bug in Docker that lead to it. A prominent example was the k8s pause image. This is my best guess. I don't

[2021-12-17 13:02] vrothberg commented on #12631
Curious, that is already covered:
[code]

If we pull `alpine` we'll pull `docker.io/library/alpine` which gets translated to `quay.io/libpod/alpine`.  That being said, I have no explanation since the arm64 image of `quay.io/libpod/alpine` has the correct architecture:
[code]

[2021-12-17 13:17] giuseppe commented on #12637
ok, thanks.

Can you try the following commands?
[code]

Do they work fine?

[2021-12-17 13:18] Lunarequest commented on #12637
yeah they exit with 0 no issues

[2021-12-17 13:22] Lunarequest commented on #12637
[code]

[2021-12-17 13:23] vinzBad commented on #12308
Here are all the `GET` requests of a freshly booted VSCode Docker extension (I pressed `refresh` once)
[code]

[2021-12-17 13:28] giuseppe commented on #12637
`error from newuidmap: newuidmap: write to uid_map failed: Invalid argument ` means the wrong mapping was provided.

What is your user id (output from `id`)?

[2021-12-17 13:29] Lunarequest commented on #12637
`uid=1000(nullrequest) gid=100(users) groups=100(users),1(wheel)`

[2021-12-17 13:32] vinzBad commented on #12308
Ok after pruning my podman images down to 23, performance is back to nominal.

[2021-12-17 13:37] giuseppe commented on #12637
thanks, still I've no clue why it doesn't work.

Would it be possible for you to apply the patch here: https://github.com/containers/podman/pull/12641 and see if the error message gives us a better understanding?

[2021-12-17 13:49] Lunarequest commented on #12637
[code]

[2021-12-17 13:59] giuseppe commented on #12637
it looks like the patch was not applied

[2021-12-17 14:06] Luap99 commented on #12630
Rootless podman needs a user login session to work properly. If you just want to start your container at boot look at `podman-generate-systemd(1)`. You should use the systemd user session, there are no root privileges needed. You also need to run `loginctl enable-linger <username>` to make sure that the containers are started at boot and keep running after user logout.

[2021-12-17 14:11] Luap99 commented on #12630
Also please provide `podman info` it is likely that your storage paths are not ideal when you run podman the first time without the systemd user session.

[2021-12-17 14:15] Luap99 commented on #12639
Do you have `podman-plugins` installed? Please provide the output of `podman network inspect rkshare`.

[2021-12-17 14:25] Lunarequest commented on #12637
yeah my bad I'm trying to rebuild it from source its taking a while, I'll update when its done

[2021-12-17 14:31] mheon commented on #12613
Please remove `~/.config/containers` again after ensuring that $XDG_RUNTIME_DIR is defined; Podman is using the old paths, cached in the DB, which contain an invalid tmp directory.

[2021-12-17 14:58] slvr32 commented on #12423
Ok, I switched this LXC host with 9 containers to use crun, restarted podman and all of the containers.

For now, the exec -it command doesn't come back with an error, but I'll have to check periodically to see if that changes, since I noted in my previous comment that restarting the containers would provide a temporary fix w/podman 3.3.1.

I'll update this later to confirm whether things look mor

[2021-12-17 15:06] Constantin07 commented on #12613
@mheon I did remove it. But I have the same result.
I've observed that it does create an empty file `~/.config/cni/net.d/cni.lock`.

Please note that I'm using `podman` only for building container images, not for running them.

The below error message is misleading: the file `/run/libpod/alive.lck` does exist, is empty and has read permission allowed for everyone. If it tries to open this file in

[2021-12-17 15:17] 321sp opened #12645 "jenkins pipeline error from podman in podman: error in copier subprocess: error changing to intended-new-root directory \"/var/lib/containers/storage/overlay/5d...f1/merged\": chdir /var/lib/containers/storage/overlay/5d...f1/merged: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. running multiple builds with Copy --chown statement in Dockerfile.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):*

[2021-12-17 15:48] jawnsy commented on #12476
Fair enough, thanks for your consideration!

[2021-12-17 16:05] giuseppe commented on #12590
another thing to check is the mount table.  It could be systemd to mount `/usr` with `nosuid`

[2021-12-17 16:05] giuseppe commented on #12590
could you share the output of `cat /proc/self/mountinfo`?

[2021-12-17 16:22] mheon commented on #12613
That directory should not be in use by rootless Podman. We should be using a directory in `/run/user/$UID` (or, failing that, a directory in `/tmp` unique to the user in question). That is the root Podman temporary files directory. It cannot be used by rootless Podman.

[2021-12-17 16:30] davdr commented on #12292
From the Windows host, can you check if http://[::1]:8000 works? I suspect it will work and only http://127.0.0.1:8000 fails, which is by default what localhost:8000 is.

[2021-12-17 16:35] Constantin07 commented on #12613
Thanks @mheon for explaining, I'm wondering what other thing could make `podman` when run as privileged user to connect to too `root` resources ?

[2021-12-17 17:00] quentin9696 commented on #12636
No, because I'm not dev and I never touched Go.

Maybe with some indication on where to search in the code I can try.

[2021-12-17 22:01] muayyad-alsadi opened #12646 "following logs of stopped containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when we create a container without starting it (`podman create`)
or when we stop a container

if we follow the logs using `podman logs -f`
on multiple containers one or more of them is running and one or more is stopped

later if it started logs are not shown.

**Steps to reproduce the issue:

[2021-12-17 23:42] EvgenyPrikhodko commented on #12562
up

[2021-12-17 23:56] ttys3 opened #12647 "podman >= 3.4.2 version generate kube does not export environment vars anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

after version >= 3.4.2, `podman generate kube container-name` does not generate yaml file with environment vars anymore.

test with the old version like `3.4.1` it works fine.

maybe related commit:

https://github.com/containers/podman/commit/b3eaa08c5f#diff-4e2259d2c3a8a7fad49c3f395c21ebdb0

[2021-12-18 00:10] ttys3 commented on #12647
![image](https://user-images.githubusercontent.com/41882455/146621438-10bc6052-b282-4be6-b2b1-5e285b2f9191.png)

[2021-12-18 08:12] voquangphu commented on #12292
I asked the same question in WSL 2 and this solution works, I'll try to see if http://[::1]:8000 also works when I have sometime.
https://github.com/microsoft/WSL/issues/7732

[2021-12-18 10:44] rhatdan commented on #12590
Similarly could you check if sudo works in this environment?
$ grep -i new /proc/self/status
NoNewPrivs:	0

[2021-12-18 10:49] rhatdan commented on #12308
@vrothberg thoughts?

[2021-12-18 11:29] rhatdan commented on #12636
@vrothberg WDYT?

[2021-12-18 11:41] rhatdan commented on #12191
I am not sure what is required to go forward with this issue or to close it.  Thoughts?

[2021-12-18 11:41] rhatdan commented on #12191
Moving to discussion for now.

[2021-12-18 11:44] rhatdan commented on #12144
This seems like more of a discussion then an actual issue, unless you want us to ship qemu-user-static inside of the fedora coreos?

[2021-12-18 11:45] rhatdan commented on #12132
@jwhonce @baude Thoughts on this.

[2021-12-18 11:49] rhatdan commented on #12023
@jwhonce did you ever get a chance to look at this?

[2021-12-18 11:50] rhatdan commented on #11383
@baude @ashley-cui Did you get a chance to look at this?

[2021-12-18 11:51] rhatdan commented on #10800
@giuseppe What is the state of this one?

[2021-12-18 15:21] kriansa commented on #5802
@rhatdan [this](https://github.com/docker/docker.github.io/issues/10852#issuecomment-996023453) discussion might be of interest, since the future of compose as a standalone tool might be compromised depending on their internal decision. We all know compose is a ubiquitous tool in the ecosystem and it would not be great if its codebase eventually gets merged onto docker-cli (forks are not ideal IMH

[2021-12-18 17:04] protosam opened #12650 "hooks.d running stat on volumes before hooks can do volume work"
Based on reading [this](https://github.com/containers/podman/blob/main/pkg/hooks/docs/oci-hooks.5.md) and [this](https://github.com/opencontainers/runtime-spec/blob/main/config.md), I believe the following should run the mount-fixer script before performing a stat on anything.

Edit: I have made steps in [this gist](https://gist.github.com/protosam/a862b2f519153b5f39e1e997f6c68454) that use the de

[2021-12-18 20:21] cpolizzi commented on #11941
We solved this in a corporate environment on MacOS that requires a secure proxy server to access all external resources. We use the podman managed machine via `podman machine`. All configuration takes place on the VM. We have been using this successfully now for almost two months now.

**Requires:** Podman 3.4.0 at a minimum on MacOS host and managed machine.

### Configure Proxy Support Globally

[2021-12-19 00:28] JayDoubleu opened #12651 "Running podman with sudo returns `error loading cached network config: network "podman" not found in CNI cache`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman with sudo returns `error loading cached network config: network "podman" not found in CNI cache`
**Steps to reproduce the issue:**

1. run `sudo podman run -it fedora /bin/bash`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Podman should

[2021-12-19 00:31] JayDoubleu commented on #12651
Problem goes away when I run `sudo podman network create podman`
Should there be network created by default when ran with sudo ?

Perhaps this is expected behaviour. `sudo podman build...` worked fine without podman network.

[2021-12-19 01:53] Arryboom commented on #12639
everything is default  as the network rkshare was created by ```docker network create rkshare```
[code]

[2021-12-19 05:42] Lunarequest commented on #12637
I'm running into issues building on nixos

[2021-12-19 05:45] Lunarequest commented on #12637
also another thing to note, running with root  everything works. its only in rootless mode where there are issues

[2021-12-19 07:10] PavelSosin-320 commented on #12264
@rhatdan really sorry for personal appeal but  it looks like that something conceptually wrong in Podman running on the Fedora Workstation with GNOME 4: I expect that Podman process a child of bash that is a child of session's process that is a child of systemd ID 1 process inherits its capabilities and restrictions configured by [Systemd configuration](https://www.freedesktop.org/software/systemd

[2021-12-19 07:10] #12264 closed

[2021-12-19 12:36] #12617 closed

[2021-12-19 12:38] ananthb commented on #12590
[code]

@giuseppe @rhatdan

[2021-12-19 13:35] Luap99 commented on #12639
You have to install the dnsname plugin which is provided by `podman-plugins`, if you have dnsname installed you need to recreate the network.
see https://github.com/containers/dnsname

[2021-12-19 13:35] #12639 closed

[2021-12-19 13:44] Luap99 commented on #12651
Did you update your podman from 3.3.x to 3.4.x? There was an update bug in fedora which removed the default network by accident. `sudo podman network create podman` is one of the workarounds, the better one would be to run `sudo /var/lib/containers/storage/libpod/defaultCNINetExists` after this the next podman command will recreate the default network automatically with the correct settings.

The

[2021-12-19 13:44] #12651 closed

[2021-12-19 13:51] rhatdan commented on #11712
Since common PR got merged.  I am going to close.

[2021-12-19 13:51] #11712 closed

[2021-12-19 13:52] JayDoubleu commented on #12651
Thanks for clarification. I'm indeed running the `3.4.4` version of podman, where I was able to produce this result.

[2021-12-19 13:59] Luap99 commented on #12651
The binary version does not really matter, versions >= 3.4 should create the default network on its own when `/var/lib/containers/storage/libpod/defaultCNINetExists` does not exists. The update bug was in fedora because the rpm package would remove the default network file `/etc/cni/net.d/87-podman-bridge.conflist`.

[2021-12-19 17:10] dmikov opened #12652 "v3.4.2 API containers/wait route does not accept any conditions ."
/kind bug

**Description**

When calling API containers/wait endpoint it always fails with 400 error when condition is specified. The podman image `quay.io/podman/stable`  is running in docker with
`podman system service tcp:0.0.0.0:2376 -t=0` command.

<pre><font color="#4E9A06"><b>dmikov@ubuntu</b></font>:<font color="#3465A4"><b>~</b></font>$ curl -X POST http://localhost:2376/v3.0.0/containers

[2021-12-19 18:49] cdoern commented on #11805
actively working on this.

[2021-12-20 03:41] gyakovlev opened #12653 "shadow changed libsubid abi"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
https://github.com/shadow-maint/shadow/commit/32f641b207f6ddff1460a22fdc654def4a9c473d#diff-e14258ca4078ba3372fd32b8faf2e0eb74c97e125f8e44e4482ce62816ebe6cc
above commit changed symbol names
so libuid test in
https://github.com/containers/podman/commit/db60a1e654d2212fcc36145cf5e4ba0dd74ce622

[2021-12-20 03:41] gyakovlev opened #12654 "shadow-4.10 changed libsubid abi"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
https://github.com/shadow-maint/shadow/commit/32f641b207f6ddff1460a22fdc654def4a9c473d#diff-e14258ca4078ba3372fd32b8faf2e0eb74c97e125f8e44e4482ce62816ebe6cc
above commit changed symbol names
so libuid test in
https://github.com/containers/podman/commit/db60a1e654d2212fcc36145cf5e4ba0dd74ce622

[2021-12-20 06:37] Arryboom commented on #12639
ok,so by default this plugin won't be installed with podman?

[2021-12-20 07:57] Arryboom commented on #12639
ok,seems dns resolver plugin got another problem when a container connected to more than one network...it's good it's not enabled by default....

[2021-12-20 08:08] giuseppe commented on #12654
thanks for opening an issue.

The PR to fix it is here: https://github.com/containers/podman/pull/12655

[2021-12-20 08:13] giuseppe commented on #10800
I am not able to reproduce locally, so I cannot verify my patch.

I can open a PR with my patch, as I am not sure why we have that check in place anyway

[2021-12-20 08:16] giuseppe commented on #12637
root doesn't need `newuidmap` and `newgidmap` because it is already running with capabilities

[2021-12-20 08:19] giuseppe commented on #12637
why do you have your user listed twice with the same range in the `/etc/subuid` and `/etc/subgid` files?

Can you drop one line from each file and make sure there are no overlapping mappings?

like:
[code]

[2021-12-20 08:59] Lunarequest commented on #12637
yeah that was the issue, dropping the extra lines fixed the issue

[2021-12-20 08:59] #12637 closed

[2021-12-20 09:56] Luap99 commented on #12652
`/v3.0.0/containers/<ID>/wait` is the docker compat endpoint. The docker endpoint accepts only "next-exit", "removed", or "not-running" as wait condition. If you want to talk to the libpod api you have to use `/v3.0.0/libpod/containers/<ID>/wait`

[2021-12-20 09:56] #12652 closed

[2021-12-20 11:49] vrothberg commented on #12646
Thanks for reaching out and providing the great reproducer.

It turns out that `podman logs sh2` returns logs from container `sh1`.

[2021-12-20 12:18] doverride commented on #12578
Two more observations:

Cannot manually override:

* pod infra container context (uses process =)
* volume (create) context (uses file =)

[2021-12-20 12:34] vrothberg commented on #12636
Thanks for reaching out.  This it outside of Podman's hands but something conmon had to support.

I'll transfer the issue.

[2021-12-20 12:49] vrothberg commented on #12308
There was a regression in c/common that was fixed with https://github.com/containers/common/commit/f745869fbc76 which has made it into Podman's main branch. It has not been backported to Podman v3.4.x.

@rhatdan please let me know if we should backport or wait for 4.0

[2021-12-20 13:02] muayyad-alsadi commented on #12646
[code]

[2021-12-20 13:27] vrothberg commented on #12646
@muayyad-alsadi, can you retry with `--tail=-1`? That should display what you're looking for, does it?

[2021-12-20 13:55] rhatdan commented on #12155
@mtrmac @cevich What is going on with this issue?

[2021-12-20 13:57] rhatdan commented on #12341
@vrothberg @mtrmac @jwhonce any movement on this issue?

[2021-12-20 13:57] rhatdan commented on #9075
@mheon Ping again.

[2021-12-20 14:16] muayyad-alsadi commented on #12646
[code]

output

[code]

if I typed `--tail=-1 ` again it will display things correctly

[code]

[2021-12-20 14:17] muayyad-alsadi commented on #12646
in short, if the container is stopped at the time of `podman logs`, then its logs will get followed even if it got started later.

[2021-12-20 14:26] Aight25 opened #12660 "podman.service: Unit process X (conmon) remains running after unit stopped."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Setup a nested podman rootful container with privileged flag from a rootless user

2. Fix images

3. Start (5) containers (airflow in this case) via podman-remote from a client not running in this nested podman host.

4. A couple of days later, there are,

[2021-12-20 14:32] rhatdan commented on #12308
Probably should back port.

[2021-12-20 15:33] lucab opened #12661 "run: iptables/modprobe call in unprivileged context fails due to permissions"
NOTE: The full story and more details behind this are at https://github.com/coreos/fedora-coreos-tracker/issues/1046.

In the context of Fedora CoreOS CI we do perform some **unprivileged** podman run.
One of them does the following:
[code]

On current rawhide (F36) it started failing if the `ip_tables` module isn't already loaded.

What's interesting is that in this unprivileged context there is

[2021-12-20 15:35] mheon commented on #9075
https://issues.redhat.com/browse/RUN-1385

Done

[2021-12-20 15:40] mheon commented on #12661
@Luap99 Looks like CNI is trying to run the IPTables code despite being rootless?

[2021-12-20 15:56] #12631 closed

[2021-12-20 16:32] vrothberg commented on #12308
@mheon, WDYT, since you mentioned a 3.5 earlier today

[2021-12-20 16:39] rst0git commented on #12276
@adrianreber This is a different issue. CRIU doesn't support checkpoint/restore of sysvipc mapping in external IPC namespace (https://github.com/checkpoint-restore/criu/commit/75d8b81fd17c43370ce2fb5eacb6cf608b2a7b98).

I will close this issue as it is a problem with CRIU not Podman.

[2021-12-20 16:39] #12276 closed

[2021-12-20 16:53] rst0git commented on #12277
@adrianreber I have a patch for this issue but it requires the changes in https://github.com/checkpoint-restore/criu/pull/1622

[2021-12-20 17:00] Luap99 commented on #12661
This is expected, normally iptables will load the necessary modules for you but this does not work as rootless user. You either have to load the kernel modules manually as root before or you cannot use networks and have to run with slirp4netns.

[2021-12-20 17:39] NiccoBiondi commented on #10039
Hello,
I recently installed slurm using the Nvidia https://github.com/NVIDIA/deepops repo.

I configured slurm and podman on the node and they both work fine on their own. I have some difficulties trying to use them together, particular the gpu resource filtering.

After a srun / sbatch on the node, nvidia-smi correctly displays the resources allocated by slurm (e.g. 2 out of 4 gpus), but when we

[2021-12-20 18:23] cdoern commented on #12076
@Luap99 @rhatdan how about this at the bottom of `libpod/reset.go`

[code]

[2021-12-20 18:48] ttys3 commented on #12647
closed in https://github.com/containers/podman/pull/12648

[2021-12-20 18:48] #12647 closed

[2021-12-20 20:46] dustymabe commented on #12661
There might be some middle ground here when thinking about this from a UX perspective. @Luap99 what you said is true about the rootless user not really being able to control this, but `systemd` upstream [just changed some default behavior](https://github.com/coreos/fedora-coreos-tracker/issues/1046#issuecomment-996053567) and you're probably going to have a lot more people bumping up into this lim

[2021-12-20 22:19] Luap99 commented on #12661
@dustymabe Right the UX sucks at the moment. However there is not much we can do at the moment. This error comes from CNI which executes iptables this fails. Our only possibility would be to string parse the error message in order to create a better one.
This might change with our new netavark network stack where we could create better errors, however we also use iptables commands there so I expec

[2021-12-20 22:20] Luap99 commented on #12661
Either way someone has to figure out which modules are actually needed, it is definitely more than just `ip_tables`.

[2021-12-21 08:09] thommarko opened #12666 "The podman remote API service doesn't report a failing image build"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In out setup we cannot use local podman installations, so we use the remote podman api with the fabric8 docker-maven-plugin in our maven builds.

Our Problem is in case of a failing image build the podman remote API just puts out a debug message (in its own log output) but does't fail the mav

[2021-12-21 08:11] martinpitt opened #12667 "podman run fails without /etc/hosts"
/kind bug

**Description**

Starting a podman container (as root/system or as user, same issue) fails if the host does not have an `/etc/hosts` file. Having one is not really necessary -- `nss-systemd` auto-resolves things like "localhost", "localhost6" and the host's own hostname automatically, so in most cases /etc/hosts is just an obsolete boilerplate file these days.

**Steps to reproduce the

[2021-12-21 09:16] vrothberg commented on #12667
Thanks for the report, @martinpitt! I'll take a stab.

[2021-12-21 12:02] shady333 commented on #8016
I'm getting an error for this command
`Error: unknown shorthand flag: 'v' in -v`

Any alternatives?

[2021-12-21 12:08] crabmanX opened #12669 "Podman rootless container with --uidmap and --pod cannot bind to ports below 1024"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using --uidmap and --pod on a rootless container, the container cannot bind to port 80.

**Steps to reproduce the issue:**

1. Create a rootless pod
[code]

2. Create a container which listens to port 80 in that pod:
[code]

3. Stop/Remove that container and create a new one with --uidma

[2021-12-21 13:01] afbjorklund commented on #8016
There is no support for getting files from the host yet, so all files must be on the machine VM already.

[2021-12-21 13:13] ssbarnea commented on #8016
If we would have a mode that would do volume mounts when possible and fallback to (r)sync on remotes it would be extremely useful for testing code inside a container.

The number of case where a developer wants to test his (local) code remotely is growing fast. Some people have very thin local machines which cannot effectively test their changes, or would do it 10x slower than a remote server.

[2021-12-21 13:25] afbjorklund commented on #8016
You can do ssh connections (for scp and rsync), but the ssh configuration is hidden inside the "system connection"

[2021-12-21 13:42] #12615 closed

[2021-12-21 13:48] rhatdan commented on #12076
SGTM
@vrothberg WDYT?

[2021-12-21 14:08] mheon commented on #12308
I was going to focus 3.5 mostly on OS X backports and fixes, and this does seem to qualify as a `podman-remote` fix. Feel free to backport to the v3.4 branch, I'll be basing v3.5 on v3.4

[2021-12-21 14:57] rhatdan commented on #12669
In the latest branch, I believe specifying a UIDmap different then the pod you are joining, is not allowed.

Basically --uidmap and --pod should conflict, if you want to create a pod in a particular UserNS mapping, then you need to do it at Pod Creation.  All containers of a POD have to run within the PODs user namespace. (At least if they are sharing the userns.

[2021-12-21 14:57] rhatdan commented on #12669
@cdoern Am I correct in assuming these conflict?

[2021-12-21 15:13] MaxKellermann opened #12671 "Annotation "io.podman.annotations.seccomp" has no effect"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Annotation `io.podman.annotations.seccomp=unconfined` has no effect. The setting shows up in `inspect`:

[code]

This is the same output which also appears when I create the container with `--security-opt=seccomp=unconfined`. With the command line option, io_uring system calls work, but with

[2021-12-21 15:20] rhatdan commented on #12671
@vrothberg Is this defined in the OCI Spec?

Personally I don't believe that there should be anything in the image that can cause containers to run with less privilege, unless the caller to the container engine wants to "trust" the image.

@MaxKellermann are you saying the Docker works with this annotation? Kubernetes?

[2021-12-21 15:23] vrothberg commented on #12671
No that's our custom way of shipping seccomp profiles with images.  I don't think that `unconfined` is a supported value though.

I can have a look tomorrow.

[2021-12-21 15:23] vrothberg commented on #12671
It's a Podman-specific feature.

[2021-12-21 15:25] MaxKellermann commented on #12671
No, I'm not saying that. I have never used Docker, and this is a podman-specific annotation. Like all annotations, it is undocumented.

This annotation showed up in `podman inspect` when the container was launched with `--security-opt=seccomp=unconfined`, so I tried adding this annotation to the OCI image manifest, and it showed up the same way without that command-line option, and it showed up th

[2021-12-21 15:27] MaxKellermann commented on #12671
Where can I find documentation on what values for this annotations are legal, and how can I allow my container to use io_uring? That's all I really want.

[2021-12-21 15:28] rhatdan commented on #12671
The idea of this flag, was to allow a user to set a subset of seccomp rules to allow, Less then the default.  So setting unconfined would not be allowed by default. (Not sure if this feature was ever fully implemented.)

[2021-12-21 15:30] vrothberg commented on #12671
The `annotation` is undocumented since we don't want to promote this feature yet. There's some ongoing work to make it more usable and once merged, we'll add documentation and promote it.

`--security-opt=seccomp=unconfined` is the way to go if you want to disable a seccomp filter.

[2021-12-21 15:34] MaxKellermann commented on #12671
If an unsupported value is specified, I'd expect podman to fail with an error, instead of promoting the (unsupported and actually unused) value straight into the "inspect" command. If I see something in "inspect", I expect it to work. Maybe, after clearing up that what I try to do isn't supposed to work, this is the remaining bug - just an error handling bug.

[2021-12-21 16:02] Aight25 commented on #12660
podman-remote v3.4.4-1 is not compatible with podman v3.4.2-1 which results in conmon processes that never will go down after the container / pod has been stopped and that they will multiply as well. After upgrading to podman v3.4.4-1, the conmon processes is shutdown after the container is stopped

[2021-12-21 16:02] cdoern commented on #12669
Yes, I think that conflict is supposed to happen. You should be able to resolve this by setting `--share=none` then the containers do not share the UserNS w/ the pod. The issue here is that when sharing with the pod you are really sharing with the infra container. So setting a new uidmap that goes against infra's userNS setup is not allowed. @mheon can you confirm that this makes sense?

[2021-12-21 16:13] rhatdan commented on #12671
I agree, although, it should probably print a warning.  I would not want to block users from using an image, that was created incorrectly.

[2021-12-21 16:21] rhatdan commented on #5802
Yes I am not sure we would ever add a CLI plugin interface. But supporting docker-compose as it evolves is something we hope to be able to maintain.

[2021-12-21 22:47] ibukanov opened #12676 "Clarify documentation on uid mapping with several subuid maps per user"
/kind bug

**Description**

[Documentation](https://docs.podman.io/en/latest/markdown/podman-run.1.html) for podman run --uidmap does not describe what happens with multiple mappings per user in /etc/subuid with rootless containers. It is not even clear if it is supported.

[2021-12-22 07:14] PavelSosin-320 commented on #12590
In Fedora 35 Workstation:
/proc/mounts
[pavelsosin@Dell ~]$ cat /proc/mounts
proc /proc proc rw,nosuid,nodev,noexec,relatime 0 0
sysfs /sys sysfs rw,seclabel,nosuid,nodev,noexec,relatime 0 0
devtmpfs /dev devtmpfs rw,seclabel,nosuid,size=3971500k,nr_inodes=992875,mode=755,inode64 0 0
securityfs /sys/kernel/security securityfs rw,nosuid,nodev,noexec,relatime 0 0
tmpfs /dev/shm tmpfs rw,seclabel,nos

[2021-12-22 08:31] PavelSosin-320 commented on #12590
There is home.mount unit exists in the GNOME user's graph. Maybe, its status check is necessary to ensure that Podman has storage at all when used by roootless users?

[2021-12-22 08:55] flouthoc commented on #12666
I'll check this thanks.

[2021-12-22 09:22] flouthoc commented on #12666
@thommarko This is fixed in upstream here: https://github.com/containers/podman/pull/12405

Could you please try with latest `main` as your `podman` server.

[2021-12-22 09:38] vrothberg commented on #12308
Here's a PR to backport the fix along with some other libimage-related fixes that will come in handy: https://github.com/containers/common/pull/866

[2021-12-22 09:42] flouthoc commented on #12660
@Aight25 Often their are changes and bug fixes where change radius  affects for both `client` and `server` so its not
guaranteed that all bug fixes will be back-ported for older `clients`.

I think its a good idea to keep `client` in parity with `server` if you looking for bug fixes.

But I'll also tag @containers/podman-maintainers for their opinion on this.

[2021-12-22 10:27] flouthoc commented on #12645
@321sp Does this happens intermittently or always ?

I am suspecting intermittently as there were few race conditions in `c/storage` in past but they were fixed.

I tried running multiple builds with `COPY --chown=` concurrently but i was unable to reproduce this with `main` branch.

I believe the most common race was fixed here https://github.com/containers/storage/pull/1037 and fix is not on the

[2021-12-22 10:28] vrothberg commented on #12671
OK, it is documented (see https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--seccomp-policypolicy) but the annotation is a different one: `io.containers.seccomp.profile`

I'll take a look now what `io.podman.annotations.seccomp` is meant to do.

[2021-12-22 10:30] vrothberg commented on #12671
The annotation is only set when a container has been created with a custom seccomp profile (or unconfined) and it is only used in `podman inspect`.

[2021-12-22 10:37] vrothberg commented on #12671
Here's a PR to clarify the semantics: https://github.com/containers/podman/pull/12679

As mentioned in https://github.com/containers/podman/issues/12671#issuecomment-999463802, the correct label to use in the image is `io.containers.seccomp.profile` which will be applied when the seccomp policy is set to `image`.

Previous statement from me above were incorrect (e.g, re: undocumented etc.).

[2021-12-22 10:54] MaxKellermann commented on #12671
Thanks @vrothberg, that is an improvement - but one issue remains: if specified in the container manifest, the `io.podman.annotations.seccomp` annotation shows up twice in `podman inspect`, once in the annotation list and again in `SecurityOpt`. Reflecting that (invalid) input value strongly suggests that Podman has accepted it and uses it, but that's not the case.
I wish to have two things, to av

[2021-12-22 11:09] #11805 closed

[2021-12-22 11:13] #12667 closed

[2021-12-22 11:22] Romain-Geissler-1A opened #12680 "Accept --arch based on uname -m names (ie x86_64/aarch64) in addition to GOARCH like arch (ie amd64/arm64)"
/kind feature

**Description**

I personally think it would be a nice to have if podman build/run would accept a flag "--arch=aarch64". Right now it doesn't. Example trying podman in podman with upstream podman:

[code]

normally it's been several months that for example "docker buildx build" accepts using aarch64 rather than arm64.

Why would this help ? In case of multiarch builds which we are r

[2021-12-22 11:45] flouthoc commented on #12650
@protosam Above PR should remove failure on `early` stat and failure will be relayed from `OCI` runtime. But I am afraid `crun` would still fail before calling hooks.

May i ask which `OCI` runtime are you using and are you sure `hooks` are right thing for this use case ?

[2021-12-22 11:47] Romain-Geissler-1A opened #12682 "podman seems to "remember" what was the latest --arch flag and implicitly reuse it."
/kind bug

**Description**

Podman seems to "remember" what was the latest --arch flag, and use it implicitly if it was not provided on the command line.

**Steps to reproduce the issue:**

1. On a RHEL 8 where podman and qemu-user-static is install, first run a container with an explicit arch, for example amd64:
[code]

2. Now run the same command, without explicit --arch: it still uses x86_64, w

[2021-12-22 12:11] vrothberg commented on #12671
Let me see what I can do.  Podman is applying the annotations from the image to the container, which explains why the annotation is shown there.

[2021-12-22 12:15] rhatdan commented on #12680
I am fine with this, interested in opening a PR for this?  The only issue, I see is that when inspecting the image, users would see a different value.

I ask for x86_64 but when I inspect image I get amd64.

I have had the same problem confusing the two names.

[2021-12-22 12:25] vrothberg commented on #12680
Please note that the accepted values are clearly restricted in the OCI specifications. We should be very careful to add "custom" architectures.

[2021-12-22 12:34] vrothberg commented on #12671
Added another commit to https://github.com/containers/podman/pull/12679 to prevent Podman from applying "reserved" annotations from the image to the container.

[2021-12-22 12:41] vrothberg commented on #12682
Thanks for taking the time to open the issue.

Yes, `podman run $IMAGE` will run `$IMAGE` independent of the architecture. While this seems strange at first glance, it is an unfortunate necessity since there are images which specify the wrong architecture (see https://github.com/containers/podman/issues/10682).  That means that once an image has been pulled, Podman will not apply any architecture

[2021-12-22 13:07] Romain-Geissler-1A commented on #12682
Mmmh, this is indeed very counter intuitive. Given that on my account, I am run many scripts from many projects that eventually start a container, and since I tend to use fedora by default in a lot of my projects, it means that to be shielded by this I shall add --arch $(uname -m) in pretty much all my "podman/docker run" command in all my projects, I don't find this super user friendly.

However

[2021-12-22 13:22] vrothberg commented on #12682
Thanks for your understanding, @Romain-Geissler-1A!  Also thanks for correcting, I was entirely unaware that Docker is supporting it as well.

Would a WARNING as emitted by Docker be more user friendly in your eyes?  I totally sympathize that it's not ideal for you use case but I think that our hands are tied given that so many images don't get the architecture right.

[2021-12-22 13:27] Romain-Geissler-1A commented on #12682
Yes I consider that the warning that docker emits is welcome in understanding a bit more what's wrong. I would personally add in this warning message something mentioning that either you shall explicitly provide an arch (what docker reads already), or somehow re-pull/change the pull policy to always pull, since both can fix the issue.

And from now on internally in Amadeus, since we are about to m

[2021-12-22 13:34] vrothberg commented on #12682
@Romain-Geissler-1A, maybe I can give you more. How about a new option in `/etc/containers/containers.conf` that would allow you enforce the arch/platform checks when looking up local images? Probably something we can do some plumbing for on the CLI as well.

@rhatdan PTAL ... mutli-arch is hard and I think we should continue doing what we're doing BUT an option can be a nice compromise if users k

[2021-12-22 13:35] vrothberg commented on #12682
@Romain-Geissler-1A, I reopened the issue and turned it into a feature request.

[2021-12-22 13:57] Romain-Geissler-1A commented on #12682
Just throwing here some random ideas. Do you have a way to store in the local image cache what was the full collection of variants offered by a given image name ? Typically, for an image that has only a single variant, even different from the host one (for example an arm image I have just built locally), podman/docker shall always attempt to run it with that unique arch if no --arch flag was provi

[2021-12-22 14:03] vrothberg commented on #12682
The information if a given image has multiple variants is not generally available since images can also be pulled directly by digest which will pull the image directly without looking at the manifest list (Docker) or image index (OCI).

Assuming we had such information, I would still be extremely careful since images may change on the source registry.

I think the core of the problem is that `podm

[2021-12-22 14:16] Romain-Geissler-1A commented on #12680
I just checked the latest upstream version. It seems that buildah already accepts --arch aarch64:

[code]

but podman doesn't (for now):

[code]

I will try to find by myself how this is achieved in buildah and see if I can shamelessly copy/paste this in podman as well ;)

[2021-12-22 14:22] vrothberg commented on #12680
Note that the fedora manifest list (see below) has no matching entry for `aarch64`, so it seems correct to me that Podman errors out.

[code]

[2021-12-22 14:24] Romain-Geissler-1A commented on #12682
If such a strict option existed, yes I would definitely reach the people in charge of the developer VM management to customize our podman installation with this stricter option enabled in /etc/containers/containers.conf. In case of podman remote, I am not sure if the client side /etc/containers/containers.conf would be read, or the server side /etc/containers/containers.conf. However, since I see

[2021-12-22 14:24] mheon commented on #12669
Yes, that's accurate - the two options should be mutually-exclusive assuming that any namespaces are shared by the pod.

[2021-12-22 14:28] vrothberg commented on #12680
Buildah is using containerd's platform normalization (e.g., https://github.com/containers/buildah/commit/9f9f32ceddf4) so it seems that containerd is supporting it as well. So it seems Podman should as well. I think that we could handle that down in libimage.

@nalind @rhatdan WDYT?

[2021-12-22 14:30] bam80 commented on #105
Hmm, even withing container, it seems INT can't be caught - you can't interrupt `read` with ^C in following example:
[code]
Ideas?

[2021-12-22 14:34] rhatdan commented on #12682
I am fine with adding a strict check, I even think it is a good idea.  Maybe at some point in the distant future we could turn it on by default.

[2021-12-22 14:35] vrothberg commented on #105
@bam80, you need to run it with `--init`. This will set an init binary as the entrypoint of the container which will be able to do proper signal handling.

[2021-12-22 14:37] rhatdan commented on #12680
Yes I think this is a good idea.

[2021-12-22 14:47] rhatdan commented on #12660
Yes you should attempt to keep them in sync.  The issue right now is we are moving very fast and they might be having difficulty in older support.

[2021-12-22 15:40] #12000 closed

[2021-12-22 15:52] vrothberg commented on #12680
PR over in c/common: https://github.com/containers/common/pull/867

[2021-12-22 16:02] Romain-Geissler-1A commented on #12680
Ah thanks for looking at it. I had found the platform.Normalize call, but I really understand nothing to Go, this thing is much more complicated to C++ that I use everyday ! ;)

[2021-12-22 16:18] mheon commented on #105
That should work without init, though, assuming `--sig-proxy` is active (and it is by default). We'll forward the SIGINT from the Podman process in the foreground to the container's PID1.

[2021-12-22 16:43] mheon commented on #12666
Closing on the assumption that this was #12405 - reopen if it turns out to be a different issue

[2021-12-22 18:00] mheon commented on #12612
I'm going to go ahead and close, since this is fixed upstream.

[2021-12-22 18:00] #12612 closed

[2021-12-22 18:05] protosam commented on #12650
The podman machine is using crun. [Here is the complete output of podman info](https://gist.github.com/protosam/49f7861f7d7b0fd90a2e39ff21067f75), sorry it was not in my initial post.

My goal is to mount my network filesystem that is in development as needed to bridge host to guest VM. So I think that hooks are the right thing (though if I'm wrong, I'm open to being told that, my ego is smaller t

[2021-12-22 19:29] jpf91 opened #12686 "podmanimage: Enable podman.sock"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be nice if the podman docker image had `podman.sock` enabled by default. It would then be possible to just start the container with `/sbin/init` and mount `/var/run/podman` to make `podman.sock` externally available.

[2021-12-22 19:31] mheon commented on #12686
@TomSweeneyRedHat @rhatdan PTAL

[2021-12-22 20:47] bam80 commented on #105
Well, it doesn't work without the `--init`:
[code]
Bug?

[2021-12-22 21:17] rhatdan commented on #12686
The podman image (No need for docker adjective) does not include systemd.  So I am not sure it is worth adding the overhead to add systemd, perhaps we could add a podman-init image along with Podman which would do what you want.

You do not need systemd within the container to do what you want though, try:

$ podman run --privileged -v /run:/run quay.io/podman/stable podman system service -t 0

[2021-12-22 23:17] m3freak commented on #12003
The hosts file format proposed by @Luap99 doesn't work for me universally because services running in my containers are configured to listen for connections on 127.0.0.1. I'm not sure how to work around this without assigning fixed IPs. That's not going to be fun to fix.

[2021-12-23 03:47] vsoch opened #12688 "CreateInit is public but requires a private cobra cmd"
Hiya! So I'm working on integrating podman into one of my applications, and I hit a blocker when trying to do a run, at this point:
https://github.com/containers/podman/blob/85f21fb2bd39d76300ab61a1fb1207405e05f9d2/cmd/podman/containers/run.go#L132

I am poking around and trying to learn and first I saw that [some clients](https://github.com/containers/toolbox/blob/73c53a347b402748b6a12ef9f74cecb7

[2021-12-23 04:02] vsoch commented on #6866
hey y'all, sorry to be the lemur to comment on a closed issue, but I'm developing on Ubuntu 20.04 and just hit this issue when trying to add podman as a Go module:

[code]
I understand it's a hard problem, but for developers (and eventual users) I'm not happy with trying to add a Go module (which usually works out of the box) and seeing an error traceback like this, and then being faced with "Oh n

[2021-12-23 05:10] djnotes opened #12689 "Export a Docker Compose Project using 'podman generate'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind question

**Description**

I came across a seemingly simple idea of exporting my WordPress project that was running using Docker Compose to a kubernetes description file using `podman generate`. It seemed simple, but then I found I could not reuse the existing containers to add them to a pod in order to export the

[2021-12-23 07:23] mtrmac commented on #12155
At the very least #12168 needs reviewing/merging, to fix the test flakes we encounter from time to time.

As for actually making the whole codebase robust against RNG collisions, https://github.com/containers/podman/issues/12155#issuecomment-973907757 overall seems pretty hard.

[2021-12-23 08:07] chenxiaolong opened #12690 "`-p` port mapping works on host's IP (v4 & v6) and 127.0.0.1, but not ::1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a container is created inside a dual-stack podman network, ports exposed via `-p <port>:<port>` are reachable over the hosts's IP (both IPv4 and IPv6), but on localhost, they're only reachable on 127.0.0.1 and not ::1.

**Steps to reproduce the issue:**

(Everything here assumes rootfull

[2021-12-23 08:28] LStandman opened #12691 "add option to bind mount (pod managed) /etc/* files to nonstandard locations"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

There are programs that allow some daemons to run chrooted for some added security *within* the program. (e.g., Postfix.)
Within a pod /etc/hosts is managed by the pod and automatically bind mounted to guest:/etc/hosts.

Perhaps *podman run* should expose an option to bind mount that pod-

[2021-12-23 08:33] giuseppe commented on #12676
PR here: https://github.com/containers/podman/pull/12692

[2021-12-23 08:50] flouthoc commented on #12650
@protosam Above PR https://github.com/containers/podman/pull/12681 fixes this but we also need a tweak in `crun` which is being discussed here: https://github.com/containers/crun/pull/827

[2021-12-23 08:58] giuseppe commented on #12650
I am not sure this should happen in the OCI runtime, storage is usually managed before the OCI runtime runs.

Can't the storage be mounted before running Podman?

[2021-12-23 09:22] Luap99 commented on #12690
The linux kernel does not support this, also see https://www.cni.dev/plugins/current/meta/portmap/
Maybe you can try with `--network slirp4netns:enable_ipv6=true,port_handler=rootlesskit` as described here https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--networkmode---net

[2021-12-23 09:22] #12690 closed

[2021-12-23 09:40] flouthoc commented on #12650
After discussing with @giuseppe I agree hooks is not a good solution for this use-case.

One problem is nothing defines if `createContainer` hooks should be triggered before setting up mounts instead `runtime-spec` explicitly states that it should be done after creating runtime environment and before `pivot_root`: https://github.com/opencontainers/runtime-spec/blob/main/config.md#createcontainer-h

[2021-12-23 09:44] #12277 closed

[2021-12-23 09:50] #11089 closed

[2021-12-23 09:50] rhatdan commented on #12313
@jwhonce Any progress?

[2021-12-23 09:51] rhatdan commented on #12282
@Luap99 what should we do with this one?

[2021-12-23 10:10] vrothberg commented on #105
I don't think it's a bug. Without `--init` we are limited by how PID 1 inside the container behaves with respect to signal handling. In some cases it _may_ work, in others it won't.

Running the same with `busybox` works: `$ podman run -ti --rm  busybox sh -c "read -p 'Press a key...' && echo OK"`

Hence, if signal handling is critical, we should always use `--init`.

[2021-12-23 11:30] jpf91 commented on #12686
good catch ;-)

I tested this previously and it seemed to be available in the image, so I guess it's in the base image. But anyway, your solution is indeed much better, thanks!

Maybe this information could be added to the article which actually caused my interest in exporting the socket from a container: https://www.redhat.com/sysadmin/podman-inside-container ? Great article by the way and great

[2021-12-23 11:56] flouthoc commented on #12688
@vsoch I believe `CreateInit` is public so it can be used in other podman packages as well: https://github.com/containers/podman/blob/main/cmd/podman/pods/create.go#L140

I don't think `cmd` package was meant to be used directly but does changing imports to `Cobra "github.com/spf13/cobra" and using `* Cobra.command` solves your use case ?

[2021-12-23 12:21] rhatdan commented on #6866
You need to set the BUILDTAGS to turn this off.

[2021-12-23 12:22] rhatdan commented on #6866
@mtrmac @nalind Should we change these to required Buildtags to add versus defaulting them on and requiring users to turn them off.

[2021-12-23 12:24] jpf91 commented on #12686
Unfortunately, further testing shows that for some use cases, running systemd in the image seems to be necessary. I want to use the podman-in-podman setup as a backend for drone-ci. Using the `podman system service -t 0` command as suggested causes this error when trying to run images in drone-ci:

It works perfectly fine when I use "/sbin/init" as entry point for the container and run `systemctl

[2021-12-23 12:41] rhatdan commented on #12691
Not sure what the issue you are attempting to fix.  Do you want to have a chroot within a container which would see the hosts file created within the pod?
BTW Not sure how much security a chroot within a container adds.  A container is already a super secure chroot.

[2021-12-23 12:45] #12650 closed

[2021-12-23 12:46] #12676 closed

[2021-12-23 12:58] LStandman commented on #12691
Exactly

I believe that a container separates an abstract service (e.g., an SMTP server) from the host that runs the server.
A within-container chroot would create a layer of separation between the processes that comprise that abstract service (assuming you cannot neatly containerize these processes).

[2021-12-23 13:04] #12680 closed

[2021-12-23 13:07] rhatdan commented on #12691
In this case you would want the hosts file mounted twice. What about the resolv.conf and other files created by Podman to be mounted into the container.

[2021-12-23 13:32] LStandman commented on #12691
Then I suppose we should generalize the issue. :)
Maybe the command line option should be used point to all "etc/" directories, and then podman will mount *all* those specially-treated files more than once. E.g., *podman run --etc-targets=/etc,/var/run/foo,/var/run/bar*

[2021-12-23 13:36] rhatdan commented on #12686
Try to build a container use this Containerfile

[code]
Now Build it
[code]
And try it out.

[2021-12-23 13:40] rhatdan commented on #12691
Are you mounting these in the same location under the chroot IE would
--rootfstargets=/, /var/run/foo

And you end up with /var/run/foo/etc/hosts?

[2021-12-23 13:45] LStandman commented on #12691
I hope I am understanding you correctly.
Yes, there is always a corresponding etc/ folder under the chroot

[2021-12-23 13:47] rhatdan commented on #12691
I just don't want to be specific to etc. Not that we currently generate other files, I believe but keep out options open.
I think keeping it
--altrootfs=/var/run/foo and still mounting in / would be a better alternative.

[2021-12-23 13:49] LStandman commented on #12691
Indeed, yours is the better alternative. :)

[2021-12-23 13:50] vsoch commented on #12688
Yes that would technically solve it but why should I need to copy paste your command logic just to use CreateInit? It doesn’t make a lot of sense, hence why I provided the two suggestions to improve the API.

[2021-12-23 13:58] vsoch commented on #6866
I think that would be a good solution so the build works out of the box.

[2021-12-23 14:02] vrothberg commented on #12688
Thanks for reaching out, @vsoch!

The `cmd/podman` (sub) package(s) is not meant to be used outside of the project. I recommend not to use it since there's absolutely not guarantee of stability.

Have you had a look at the bindings (https://github.com/containers/podman/tree/main/pkg/bindings)? Those are part of the API and subject to semantic versioning.

[2021-12-23 14:04] bam80 commented on #105
Indeed. Probably in this case PID 1 is busybox itself, and it handles signals differently than PID 1 of other containers we tried before..

[2021-12-23 14:14] #12671 closed

[2021-12-23 14:19] rhatdan commented on #12691
@vrothberg @giuseppe Thoughts?

[2021-12-23 14:25] rhatdan commented on #105
Right bash within fedora is ignoring the signal, while sh within busybox exits.

[2021-12-23 14:31] gdetrez commented on #11081
I have a very similar issue.  Fresh install of Fedora 35 with both podman and docker-compose installed with dnf.

I tried to follow the steps recommended by @mheon, and here are the logs being printed when I do `docker-compose exec ubuntu ls`  (I used the minimal compose file from the original issue):
[code]

Could this :point_down:  be the issue?
[code]

[2021-12-23 14:34] mheon commented on #11081
Potentially?

Is the error exactly the same as the one here (`permission denied` forking conmon)?

Anything else in the logs? Dmesg?

[2021-12-23 14:49] gdetrez commented on #11081
I'm not sure.  I don't get an error message when running `docker-compose exec`, it just exits with return code 1.
If I add `--verbose --log-level debug` to docker-compose, I get this:
[code]

[2021-12-23 14:53] gdetrez commented on #11081
Log is empty (I assume you mean the output of `docker-compose logs`) and no message appear in the output of dmesg when running `docker-compose exec ...`.

[2021-12-23 16:56] ghenry commented on #10735
@captn3m0 I can this on Fedora 35:

[code]

What typo have I done?

[2021-12-23 17:21] rhatdan commented on #10735
You have to specify an image.

[2021-12-23 17:23] ghenry commented on #10735
Ah, I'm trying to build one from a Dockerfile.

[2021-12-23 17:31] cdoern commented on #12688
I agree with @vrothberg, cmd/podman isn't supposed to be plucked out of its place and used as a standalone function. When I wrote CreateInit (or heavily modified it for the infra container rework) I made it "more" modular. the command is necessary for us to check if the command line flags have been altered, as only cobra can tell us that.

My only advice @vsoch if you really want to use this logic

[2021-12-23 17:39] vsoch commented on #12688
So Podman isn’t designed to have a Go API for developers? Can you expand upon “zooming out a bit” and point me to the Go APIs that are intended to be used?

[2021-12-23 17:45] rhatdan commented on #12688
We have a GO REST API, this is the only API we guarantee at this time.  It is under pkg/bindings.

[2021-12-23 17:47] vsoch commented on #12688
Hmm I’m not really wanting my tool to use a rest API - how does that work, Podman runs some kind of service? :/

[2021-12-23 17:56] vsoch commented on #12688
Oh I see I found the documentation,

https://podman.io/blogs/2020/08/10/podman-go-bindings.html

 it’s via a socket. So is this something that a majority of users are running or hugely unlikely to have it running? Eg what percentage of my users using an installation of Podman they do not control will not be able to use a tool that uses this API?
![C2D31BE8-5D31-4C90-837B-4C90071F927C](https://user

[2021-12-23 18:00] rhatdan commented on #12688
If you can run the podman command you can run the podman service.  It works in both rootfull and rootless mode.

[2021-12-23 18:01] vsoch commented on #12688
Ok great I’ll give it a try and report back! Thanks @rhatdan.

[2021-12-23 18:02] vsoch commented on #12688
Has anyone ever (via Go) started and stopped the service on behalf of the user so they don’t need these extra steps?

[2021-12-23 19:01] rhatdan commented on #12688
You can enable it via systemd and it will only run when someone connect to it.  By default it exits 5 seconds after the last connection goes a way.

[2021-12-23 19:35] vsoch commented on #12688
Testing on our clusters - doesn't seem to be a permission I have.
[code]
Ok - so I understand that the cmd library is not intended to be used outside of the library - but why not libpod? I'd want to be able to use libpod to do all the basics - create a container, run, etc., It sounds like the core library was called libpod but not written in a way to be used by developers. Is this something we cou

[2021-12-23 20:24] rhatdan commented on #12688
You can use it, but we are not giving any guarantee that on the next release we will not break you.  While the library changes slowly, we do not concentrate on guaranteeing the libpod API is stable.  podman 4.0 there will be major changes which will almost guaranteed to break your code.

[2021-12-23 20:42] protosam commented on #12650
The [example here](https://github.com/opencontainers/runtime-spec/blob/main/config.md#example-2) seems to illustrate mount related tasks being done. That seems to hint to me that it should be capable of doing whatever it needs to do without being impeded.

Regarding plumbing, I am not sure what you had in mind @flouthoc. The only thing I can imagine is wraping podman with a shell script to do some

[2021-12-23 20:53] vsoch commented on #12688
Understood! So thinking about 4.0 - is there a plan underway to improve the developer experience of using libpod, or is this something we should open conversation about what we would like? @alecbcs and I are working on a tool (and were hoping to have Podman be the default container backend) but the socket isn't going to work for our use-case. Ideally we'd like a stable developer Go API, so I think

[2021-12-23 21:05] bam80 commented on #105
One more question here:
I've made a wrapper around cmake to use it inside Qt Creator:
[code]
For some reason, if I skip either of `-i` or `-t`, I can't stop that "cmake" from Qt Creator, so it runs until it finishes itself.
Any ideas why?
`-it` is somewhat problematic here because for some other reason it pollutes output and Qt Creator doesn't capable to parse Ninja's stats for it's progress bar a

[2021-12-23 22:08] chenxiaolong commented on #12690
Thanks for the info! (and the link to the portmap docs, I completely overlooked that)

[2021-12-24 01:32] godmar commented on #12376
To follow up on the conversation with my sysadmin. They claimed that some "cleanup" script (whose content they weren't willing to disclose) led to the stopping of my user unit and that they were able to restart it. They then proceeded to disable that "cleanup" script.

After that, I've used podman on the same cluster for a group of over 200 students successfully. Each student built a container and

[2021-12-24 01:32] #12376 closed

[2021-12-24 09:56] jpf91 commented on #12686
Seems to work for me :+1: (I've only tested root-mode podman)

Didn't have an effect for me if the intention was to disable the login console. `mask` instead of `disable` deactivated it properly.

[2021-12-24 10:18] amenzhinsky opened #12699 "conmon process missing, cannot retrieve exit code: conmon process killed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Sometimes containers like envoy or traefik simply stop listening and clients get connection refusals, their entries are missing in `ss -tlpn`, but when I try to restart them, I get the following error message `Error: container c6e6b4a6b8389f948f5ad09a06ed1cefe9c46bdedc8c03d83ba9d65f9a33c1ca c

[2021-12-24 14:15] Aight25 commented on #12660
What about a warning when you setup a connection with podman-remote to a podman with lower version that it isn't compatible or similar?

Thanks in advance!

[2021-12-24 22:52] EvgenyPrikhodko opened #12700 "podman container forward ports vs firewalld"
https://github.com/containers/podman/issues/12562 - History of the issue

![image](https://user-images.githubusercontent.com/25795145/147373743-cd1cdc15-df3f-401c-8d9e-6f55615cdd96.png)

[2021-12-25 00:24] MartinX3 commented on #6114
@rhatdan Could you remove the stale label?

[2021-12-25 06:59] nicolasff opened #12701 "Publishing a port on localhost with `podman run` causes immediate client disconnections"
## Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)

/kind bug

## Description

Hello! I am trying to use Podman to run a service that serves requests on a TCP port, but I need to avoid letting unknown clients connect from some other host on the same network.

To enforce that the port is **only opened locally**, I use `-p` as described in the [Podman documentation](https:/

[2021-12-25 10:01] Luap99 commented on #12701
It looks like you use podman machine, port forwarding with host ip is not yet supported for machine. Podman 4.0 will fix this

[2021-12-25 10:01] #12701 closed

[2021-12-25 13:55] ttys3 opened #12702 "podman `stats` shows incorrect memory usage on cgroup v2 Linux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

related PR:

https://github.com/containers/podman/pull/12703

https://github.com/containers/common/pull/870

**Description**

`podman stats` shows incorrect memory usage

**Steps to reproduce the issue:**

1.  run kafka pod

prepare data dir:

[code]

`sudo podman play kube kafka.pod.yaml`

kafka.pod.yaml con

[2021-12-25 18:52] mogsie commented on #10105
Just as a user of both k8s and podman, I'd like to offer an opinion on what I would find useful for secret interoperability.

The thing that podman play brings to the table is being able to take a Deployment and being able to "play" that in podman.  If the deployment defines and references persistent volumes, then (if fashioned correctly) Podman play can use those.

It should be the same for secre

[2021-12-25 20:10] timmydo opened #12704 "Running podman container with --privileged doesn't mount --device"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running with the --privileged flag, I don't see the device inside the container. I don't see an error either.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

/dev/kvm missing

**Describe the results you expected:**

/dev/kvm present or error message

*

[2021-12-26 11:47] rhatdan commented on #12688
Sure sounds good.  We have monthly cabal meetings and this should be brought up at one of those.
https://podman.io/community/meeting/

I think this would be best discussed there, with @mheon present.

[2021-12-26 11:51] rhatdan commented on #105
The -i tells the Podman to setup input to go to the process within the container, and -t tells it to setup a tty, I am not fully sure why they are needed.

You could attempt to redirect stdout and stderr to /dev/null, which might help you.
@edsantiago Might have better information.

[2021-12-26 11:52] rhatdan commented on #12391
Since I answered this issue I am going to close, if you want to continue the conversation, you can do it in this issue.

[2021-12-26 11:52] #12391 closed

[2021-12-26 11:53] rhatdan commented on #12396
@ashley-cui Please respond to this issue.

[2021-12-26 11:54] rhatdan commented on #11507
@jwhonce @flouthoc Could either of you look into this?

[2021-12-26 11:55] rhatdan commented on #7705
@umohnani8 did you ever make any progress on this?

[2021-12-26 11:56] rhatdan commented on #7479
@jwhonce @baude any progress on this?

[2021-12-26 11:58] rhatdan commented on #12376
Thanks @godmar Great information, and I am happy Podman worked correctly.

[2021-12-26 12:01] rhatdan commented on #12686
Great to know, I was fooling around with trying to disable them.  But lost time (and interest)...
Glad you were successful.

[2021-12-26 12:01] #12686 closed

[2021-12-26 12:09] rhatdan commented on #12660
@jwhonce WDYT?

[2021-12-26 12:10] rhatdan commented on #12660
@Aight25 Interested in opening a PR?

[2021-12-26 12:14] rhatdan commented on #7404
This seems to be a never ending Issue, with noone coming up with good ideas.
@TomSweeneyRedHat Any chance you could look at this?
@flouthoc Any ideas?

[2021-12-26 12:14] rhatdan commented on #6114
@MartinX3 you just commenting on it seems to have removed the stale label...:^)

[2021-12-26 12:30] rhatdan commented on #12704
I don't see this when I test, and it would be very strange since in rootless mode. we are just bind mounting /dev:/dev
when you run in --privileged mode.
[code]

[2021-12-26 12:31] MartinX3 commented on #6114
@rhatdan thank you for enhancing the bot :D

[2021-12-26 12:34] rhatdan commented on #6114
I would love to take credit for that, but someone else did it, we just take advantage of it.

[2021-12-26 22:40] timmydo commented on #12704
Do you have any recommendations for something I could do to root cause it? I don't have much experience with container internals so I don't know where to start.

[code]

[2021-12-26 22:41] PhrozenByte opened #12706 "Add support for `${XDG_CONFIG_HOME}/containers/auth.json`"
/kind feature

**Description**

Podman currently expects auth files in `${XDG_RUNTIME_DIR}/containers/auth.json` and, for Docker compatibility, in `$HOME/.docker/config.json`. Alternatively one can pass the `--authfile` option to most Podman commands, or set the `REGISTRY_AUTH_FILE` environment variable, to use arbitrary paths.

I'd like to suggest that Podman additionally checks in `${XDG_CONFIG_

[2021-12-27 02:43] rhatdan commented on #12704
@giuseppe Ideas?
On the host what does
ls -l /dev/kvm show?

[2021-12-27 02:45] rhatdan commented on #12704
ls /dev
versus
podman run fedora ls /dev/

[2021-12-27 03:26] asbachb commented on #10900
Can someone double check if this is fixed in 3.4.4? I still get this error on windows (remote client) and linux (via TCP).

[2021-12-27 06:23] martinetd opened #12707 "run with `--arch` or `--platform` do not search local images unless some `unqualified-search-registries` is set"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to run a local image with its short name works iff some unqualified-search-registries is set in the config.

**Steps to reproduce the issue:**

1. setup qemu user emulation (here at least aarch64) + `podman pull docker.io/arm64v8/alpine && podman image tag docker.io/arm64v8/alpine test

[2021-12-27 07:38] flouthoc commented on #7404
`Redoc` maintains the order which is specified in spec `swagger.yaml` and `go-swagger` maintains the order in which our code is commented.

Solution 1.
We could reorder our code but this is non-scalable approach and hard to maintain.

Solution 2.
Patch `go-swagger` to sort swagger according to `summary`. Again this would be wrong since not all documenting solution use `summary` as title.

Solution

[2021-12-27 07:44] flouthoc commented on #7404
Screenshot of fix:

![swagger-fix](https://user-images.githubusercontent.com/9384699/147447989-ffb2f905-00c3-4d83-a004-512a8935b336.png)

[2021-12-27 10:21] flouthoc commented on #11507
@rhatdan I believe something like `cert` should not be done over API. Instead it should be done while we are doing the `machine init` step and we could pass certs via ignition file.

Here is the PR:https://github.com/containers/podman/pull/12709

[2021-12-27 10:22] flouthoc commented on #11507
@Conan-Kudo @rdean-csx Could one of you please try above PR on `macOS` I can verify this on a `linux` machine.

[2021-12-27 10:47] flouthoc commented on #10900
@asbachb Is your `client` and `remote` both on `3.4.4`. Could you show the command and the `error`.

[2021-12-27 11:40] asbachb commented on #10900
@flouthoc

[code]

[code]

[2021-12-27 11:44] flouthoc commented on #10900
@asbachb What you are trying is `bind` mounting from a `windows` host into `linux` podman machine. This feature is currently not supported and more on `mounting files from host to remote` is being discussed here: https://github.com/containers/podman/issues/8016

[2021-12-27 13:25] amenzhinsky commented on #12699
Upd: `podman ps` reports that container is up and running, but it's not, the process cannot be found in the system's `ps`

`journalctl CONTAINER_NAME=...` doesn't contain anything helpful.

[2021-12-27 13:40] amenzhinsky commented on #12699
Turns out `podman-restart` killed the container: `systemd[1]: podman-restart.service: Killing process 1386 (conmon) with signal SIGKILL.`

[2021-12-27 13:48] rhatdan commented on #11507
I agree this should be done at init or start.

[2021-12-27 14:00] 321sp commented on #12645
@flouthoc This is happening intermittently when running multiple builds remotely and running under Jenkins as a CI/CD pipeline

[2021-12-27 14:03] rhatdan commented on #7404
Great job @flouthoc

[2021-12-27 14:04] asbachb commented on #10900
@flouthoc Ah thanks for clarification. I guess the error message was kind of confusing for me as it indicates a problem on guest side.

[2021-12-27 14:16] amenzhinsky commented on #12699
https://github.com/containers/podman/commit/12d0a850917c97314cd4fdb49e68757dfe3b5289 fixed it

[2021-12-27 14:16] #12699 closed

[2021-12-27 14:20] flouthoc commented on #12645
@321sp Would it be possible to try running `main` branch on your jenkins. I am playing with `main` and unable to reproduce this issue.

[2021-12-27 16:01] Glutwolf opened #12710 "podman ignores /etc/containers/storage.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello there, I am new to Podman and experiencing some problems getting it to work properly on a VPS. I think that podman somehow ignores my /etc/containers/storage.conf,

**Steps to reproduce the issue:**

1. Install `podman`

[code]

2. Create container from image and run it

[code]

- Descr

[2021-12-27 20:37] timmydo commented on #12704
on the host:
[code]

[2021-12-27 22:33] vmpn commented on #12339
I am experiencing what sounds like identical issue (rootless only) and I was able to track down additional details that perhaps can help:

1. runc is asked to execute spec (config.json) that lack "user" namespace nor uid and gid mapping sections resulting in runc refusing to run rootless.

Adding PODMAN_USERNS=auto seems to allow related logic in https://github.com/containers/podman/blob/main/libp

[2021-12-28 15:37] Glutwolf commented on #12710
## Update

When executing the following command, I also get a error message:

[code]

[code]

[2021-12-28 20:24] scolby33 commented on #4720
What is the current best practice for getting container output in the journal when running rootless containers as user units? With podman 3.0.1 on Debian 11, I see

- no logs in the journal at all with the default `podman generate systemd --new ...` user unit
- logs in the journal under `_SYSTEMD_USER_UNIT={unit_name}` when `-d` is removed and `type=simple` is set

In the latter case, I tried kill

[2021-12-29 06:52] protosam commented on #11462
My PR for containers/gvisor-tap-vsock/issues/41 should solve this issue, I think.

[2021-12-29 11:24] tbrodbeck opened #12713 "How can I increase number of CPUs?"
I have been trying to increase the amount of cpus of my podman because I am not able to start minikube:
[code]
How can I fix this? I am temporarily have to switch back to docker where it runs without a problem.

I could not find a reliable resource or explanation how to increase the amount of cpus podman uses.
I have tried
[code]

Version (latest from brew):
[code]

[2021-12-29 11:24] pycloux commented on #3945
Don't know if this is "on purpose" but the behavior is still different from Docker default one.
If you mount an "empty" volume into a docker container to a new path (say "/opt/test") and then mount the same volume to another container to a "non-empty" path, then the content of the "non-empty" path will be copied on to the volume.
With Podman (I just tested it with the version 3.3.1), the volume wi

[2021-12-29 11:31] rhatdan commented on #3945
Please open a new issue.

[2021-12-29 11:33] rhatdan commented on #12713
@giuseppe PTAL

[2021-12-29 11:55] giuseppe commented on #12713
I don't think that error is coming from Podman.  It looks like a check in Minikube itself.  Are you running Podman as rootless?  Does it work differently if you run as root?

[2021-12-29 12:19] afbjorklund commented on #12713
The amount of cpus and memory is set when the machine is created, so you will need to re-create it:

[code]

 Make sure to save any images and such before deleting, it _might_ be possible to edit the json directly.

[2021-12-29 12:23] afbjorklund commented on #12713
Podman defaults to 1 vCPU and 2 GiB RAM, while `kubeadm` requires 2 vCPU + 2 GiB

[2021-12-29 12:32] afbjorklund commented on #12713
If there existed any Podman Machine documentation for this, minikube could be linking to it:

[code]

[2021-12-29 14:08] rhatdan commented on #12713
Interested in adding documentation?

[2021-12-29 14:26] tbrodbeck commented on #12713
Thanks. I was able to fix the error!
Still, I cannot get minikube starting. So I opened an issue in the minikube Repo, FYI: https://github.com/kubernetes/minikube/issues/13261

[2021-12-29 14:46] giuseppe commented on #12713
Would it make sense to change the podman machine configuration to use 2 cpus?

[2021-12-29 16:00] afbjorklund commented on #12713
Possibly, if you want it to run kubeadm ? Otherwise 1 vCPU and 1 GiB _used_ to be fine...

But Lima uses 4 vCPU and 4 GiB by default, so I guess it depends on the situation.

i.e. the available resources on the local laptop, and how many VMs you plan to run ?

[2021-12-29 16:21] afbjorklund commented on #12713
I think it is documented in the man page:

https://docs.podman.io/en/latest/markdown/podman-machine-init.1.html

But there is no User Manual, as such.

[2021-12-29 16:43] n1hility commented on #11462
@protosam this issue is a little different. In this case we need to consume gvproxy’s recent support (see above comments) of Unix to Unix forwarding over ssh. In this particular use case we want to avoid podman acting as a daemon or listening over TCP.

[2021-12-29 16:50] thangchung commented on #12056
I tried to run `podman` on Windows 11 with `tye` (just like docker-compose, and podman underline).

I have passed `.env` file as

[code]

Inside `.env` file:

[code]

The logs are as follows

[code]

That mean `podman` couldn't pass any env variables into it container, I guessed :(

[2021-12-29 17:37] fansari commented on #12590
I have a simular  issue. I want to test systemd-homed and create rootless containers. The issues start when I try to pull an image.

[code]

Tested with Fedora 35 Sliverblue.

[code]

[2021-12-29 17:44] rhatdan commented on #12713
Aren't these settings available in the containers.conf?

[2021-12-29 18:52] protosam commented on #11462
In the case of the podman machine and the podman client itself, it wont be listening over tcp even though the inside of the vm might be. You can have rootless podman on a different port than the rootful podman daemons. The unix-to-tcp proxy achieves the desired results (unix-to-unix coming soon ™️ as well).

[2021-12-29 19:11] afbjorklund commented on #12713
I don't think minikube works with podman machine yet, it failed for me as well.

[2021-12-29 19:26] afbjorklund commented on #12713
https://podman.io/getting-started/installation#macos links to this page for "advanced":

https://github.com/containers/podman/blob/main/docs/tutorials/mac_experimental.md

It doesn't mention either --cpus or containers.conf, for changing the machine init.

[2021-12-29 20:40] pycloux opened #12714 "Podman behavior with shared volumes : copying files from mounted path"
/kind bug

**Description**

I don't know if this is "on purpose" but the behavior with named volumes is different between Docker and Podman.
If you mount an "empty" volume into a docker container to a new path (say "/opt/test") and then mount the same volume to another container to a "non-empty" path, then the content of the "non-empty" path will be copied on to the volume.
With Podman, the volume

[2021-12-30 00:08] alaviss opened #12715 ""potentially insufficient UIDs or GIDs available in user namespace" when pulling"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Pulling any image fails with `potentially insufficient UIDs or GIDs available in user namespace`. I have verified that subgid/subuid has been setup correctly.

**Steps to reproduce the issue:**

1. `podman pull docker.io/debian:testing-slim`

**Describe the results you received:**

[code]

**

[2021-12-30 03:41] ibukanov opened #12716 "-v dir fails where the parent of directory is only accessible by subuid user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running as a user bind-mounting a host directory fails when the ownership of the parent directory is `root:some_subgid` and mode is `0750`. Here `root` is the root on the host and `some_subgid` is an id from /etc/subgid range for the user.  The user `root` can be replaced by any other us

[2021-12-30 05:21] n1hility commented on #11462
Hi @protosam the gvproxy pieces were implemented here: https://github.com/containers/gvisor-tap-vsock/pull/58 and here https://github.com/containers/gvisor-tap-vsock/pull/66

Although this was a static approach since it’s tied to the life the of VM. Dynamic registration might be be interesting for other applications though

The remaining bits for this use case on mac are on the podman side: consum

[2021-12-30 07:28] yiya1989 commented on #10735
I use the lastst version of crun and podman, but i still raise errors.

[lch@n131-251-011 ~]$ podman run --userns=/usr/bin/runc --userns=keep-id -it docker.io/library/ubuntu:14.04 bash
Error: executable file `bash` not found in $PATH: No such file or directory: OCI runtime attempted to invoke a command that was not found
[lch@n131-251-011 ~]$ podman run --runtime /usr/local/bin/crun --userns=keep-

[2021-12-30 07:43] flouthoc commented on #12716
Hi @ibukanov thanks for creating the issue.

I am a bit confused and could be wrong here.

[code]
only changes group for `/tmp/foo`

Then shouldn't you try
[code]
instead of
[code]
?

`/tmp/foo/bar` still has its group as `root` as far as i can see.

[2021-12-30 08:04] flouthoc commented on #12715
Hi @alaviss thanks for creating the issues.

This is new i have never seen this error while pulling an image. Does it happen if you try to pull other images as well ? Like `podman pull alpine` ?

If you configured your range after the first error. Then you must also run `podman system migrate`.

Could you try doing `podman system migrate` and repull ?

[2021-12-30 08:21] PavelSosin-320 commented on #12590
@fansari I tried almost every combination: btrfs driver + fuse-mount, default mount, wtc. Nothing works. The message that I get references STAT  error. According to [Relese notes 4.13](https://btrfs.wiki.kernel.org/index.php/Changelog#btrfs-progs_v5.15_.28Nov_2021.29) <html>
<body>

overlayfs | 4.15 | Overlayfs can now use btrfs as the lower filesystem.
-- | -- | --

</body>
</html>
But it still d

[2021-12-30 08:36] alaviss commented on #12715
I got a similar issue with alpine image too:

[code]

[code]

It doesn't seem to work :(

[2021-12-30 08:59] flouthoc commented on #12715
Does it works when you run with `sudo` ? I definently think now its the issue with your `subuid` and `subgid` setup.

[2021-12-30 09:24] alaviss commented on #12715
Yep it works with `sudo`, but I would like to use `toolbox`, so `sudo` is a no-go for this...

Do you have any tips for diagnosing `sub*id` setups? The error messages are very unhelpful for this.

[2021-12-30 09:34] flouthoc commented on #12715
Do you have ` newuidmap/newgidmap` binaries installed ?
Could you share output of following commands ?
* `getcap /usr/bin/newuidmap /usr/bin/newgidmap`
* `id`
* `podman unshare cat /proc/self/uid_map` after `podman system migrate`
* `podman unshare cat /proc/self/gid_map` after `podman system migrate`
* also try reinstalling `shadow-utils` and run `podman system migrate` after reinstall.

[2021-12-30 12:01] vikram077 opened #12717 "nova_libvirt: podman panic issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create a VM in RHOSP 16.2.
2. Login to the same compute node in which VM is launched
3. Start/Stop nova_libvirt container.
4.  Issue arise after repeating step-3 3-4 times.

**NOTE:** Issue only occurs when VM is in Active state in compute node, else ther

[2021-12-30 12:16] rhatdan commented on #12716
Does https://www.redhat.com/sysadmin/supplemental-groups-podman-containers help you understand what is going on?

[2021-12-30 12:27] ibukanov commented on #12716
@flouthoc The purpose is to mount /tmp/foo/bar into /bar in the container so /bar/somefile can be accessed by any user in the container who otherwise would not be able to access /tmp/foo/bar. This way the group on /tmp/foo serves as a protection point to restrict who can read its content. Then the bind mount allows to relax that for a particular container so any user in the container can access /t

[2021-12-30 13:03] giuseppe commented on #12716
does it work if you use `--group-add keep-groups`?

[2021-12-30 13:23] fansari commented on #12590
I have created a new user with homectl with  fs-type=xfs. The error messages look the same.

[code]

[2021-12-30 13:32] ibukanov commented on #12716
@giuseppe keep-groups does not work since at the time of the invocation of the command the user does not have the group 100000 in the list of supplementary groups at the moment of the command invocation.

[2021-12-30 13:48] ibukanov commented on #12716
Interesting that the bug does not happen when in the above example the group root is replaced by an arbitrary gid from subgid range (12345 in the example below) and even when that gid and the original user is not mapped into the container:
[code]

[2021-12-30 13:52] fansari commented on #12590
I found the issue. I followed this guide:

[https://unix.stackexchange.com/questions/176593/how-to-influence-the-assignment-of-subordinate-uids-gids-when-creating-user-acco](url)

[code]
This created the missing entries in /etc/subuid and /etc/subgid.

Seems that when you don't use systemd-homed all this is done automatically.

After setting this up I was able to pull and image.

[2021-12-30 14:20] ibukanov commented on #12716
It can be a misfeature of Linux kernel when the dac_override/dac_read_search capabilities in the user namespace does not really override all permissions check. In particular, when the file owner is outside the namespace but the group is in the caller still must have the necessary supplementary group to access the file:
[code]

[2021-12-30 15:27] giuseppe commented on #12716
I think that is expected otherwise you could gain privileges with directories you don't own

[2021-12-30 15:46] araven commented on #5443
This command works for me
[code]

[2021-12-30 16:15] ibukanov commented on #12716
@giuseppe As the example #issuecomment-1003008103 demonstrates, there is no protection as the desired result can be archived with an explicit bind-mount from the container. But it will be nice if it worked without starting a privileged container and manual dropping of privileges after the bind mount.

[2021-12-30 16:16] xcffl opened #12719 "podman run --entrypoint treats doesn't honor an absolute path in an array argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run --entrypioint` treats the first element of an array argument as an executable name, without considering it an absolute path. However, if it's a string argument, the absolute path case will be considered.

**Steps to reproduce the issue:**

[code]

**Describe the results you receiv

[2021-12-30 17:41] vv9k opened #12720 "Network inspect response doesn't match swagger schema"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman response doesn't match the libpod swagger schema defined here: https://docs.podman.io/en/v3.4.4/_static/api.html.

[code]

**Steps to reproduce the issue:**

1. Make a GET request to `/libpod/networks/<network>/json`

2. Receive invalid response
[code]

Expected schema:

[code]

[code]

[2021-12-30 18:19] alaviss commented on #12715
No output.

These two binaries are owned by `root:root` and have setuid bit set.

[code]

[code]

[code]

No change, unfortunately :(

[2021-12-30 20:10] giuseppe commented on #12717
what other processes are running on the host?

How many CPUs cores are available?

@mheon could it be different podman installations (different graphroots) stepping on each other shm locks?

[2021-12-30 20:19] giuseppe commented on #12715
do you get any error if you try running as rootless these commands`$ touch foo; podman unshare chown 0:42 foo`?

[2021-12-30 20:36] Luap99 commented on #12720
You are looking at the lasted api documentation for podman4.0. You can get the 3.4.4 doc [here](https://storage.googleapis.com/libpod-master-releases/swagger-v3.4.4.yaml). I think the online view is broken and always points to the latest version.

[2021-12-30 20:39] Luap99 commented on #12719
I think you have to escape the quotes as well, either use `--entrypoint \[\"/cron.sh\"\]` or `--entrypoint '["/cron.sh"]'`

[2021-12-30 21:32] hikhvar opened #12722 "Podman play kube adds _pod suffix if container is named like pod."
**BUG REPORT**

/kind bug

**Description**

I wanted to create a pod via `podman play kube` with the name `nginx` and a single container also named `nginx`. I got the warning `a container exists with the same name ("nginx") as the pod in your YAML file; changing pod name to nginx_pod` and the resulting pod had the name `nginx_pod`. I expected the pod to be named `nginx`. If I name the pod `fancy`

[2021-12-30 23:31] mheon commented on #12717
I don't think so - it shouldn't be possible for two Libpods to allocate the same lock.

More likely, IMO, is we somehow ended up with more than one container/pod/volume using the same lock (probably 0). Does a `podman system renumber` help?

[2021-12-30 23:41] mheon commented on #12710
I would expect the storage changes might require a `podman system reset` after being made, otherwise we'll use the previous version cached in the DB.

Does making the cgroup settings in `/etc/containers/containers.conf` work?

[2021-12-30 23:46] mheon commented on #12722
This is expected.

Podman maintains the invariant that all pod and container names must be globally unique. This is baked very deep into the code, and while I'd like to change it, it would be a major investment of time and I don't see us doing it for at least a year (and a potential Podman 5.0).

[2021-12-30 23:48] mheon commented on #10735
That is a separate error, please file a new issue.

[2021-12-31 02:53] alaviss commented on #12715
I get the same error:

[code]

[2021-12-31 03:22] hikhvar commented on #12722
Since the final container name of every container in a pod will be `<POD NAME>-<CONTAINER NAME>` isn't that invariant already maintained? In general I find that invariant as a user confusing. Why can't I choose the same name for two objects with a different kind?

[2021-12-31 04:54] vikram077 commented on #12717
**How many CPUs cores are available?**

[code]

**what other processes are running on the host?**

It is fresh deployment of RHOSP 16.2, crash only happens when `qemu` is running in the node else everything works as expected.

---

**Also please check my few findings**

We have also observed below logs in our system

[code]

We also not able to understand why podman restarted the container when I

[2021-12-31 05:17] vikram077 commented on #12717
**How many CPUs cores are available?**

[code]

Memory

[code]

**what other processes are running on the host?**

It is fresh deployment of RHOSP 16.2, crash only happens when `qemu` is running in the node else everything works as expected.

---

**Also please check my few findings**

We have also observed below logs in our system

[code]

We also not able to understand why podman restarted the c

[2021-12-31 06:19] vv9k commented on #12720
Thanks a lot, that clears a lot of issues for me :) The link should be improved though as the documentation states it's for v3.2.0 not v4.

[2021-12-31 06:19] #12720 closed

[2021-12-31 10:43] giuseppe commented on #12715
Can you confirm there are enough IDs in /proc/self/uid_map and /proc/self/gid_map?  If so, then the error is coming from the underlying file system and there is nothing podman can do about it

[2021-12-31 11:53] mybigman commented on #12590
@fansari still doesnt resolve this issue for me I get the same error as you https://github.com/containers/podman/issues/12590#issuecomment-1003027364

[code]

[2021-12-31 13:22] #12719 closed

[2021-12-31 13:34] xcffl opened #12723 "`podman generate systemd` doesn't escape the value for --entrypoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In continuation of https://github.com/containers/podman/issues/12719, the issue turns out to be that `podman generate systemd` generates a systemd unit where the `--entrypoint` parameter was not escaped.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code

[2021-12-31 13:35] rhatdan commented on #12722
I think @mheon answered your question. But as he says, it is not likely to be fixed for a long time.

[2021-12-31 14:06] rhatdan commented on #12590
What does `podman unshare cat /proc/self/uid_map` show?
Can you execute `podman system migrate` and try this again.

[2021-12-31 14:11] rhatdan commented on #12059
I think this has been answered, reopen if I am mistaken.

[2021-12-31 14:11] #12059 closed

[2021-12-31 14:12] rhatdan commented on #11695
@giuseppe PTAL

[2021-12-31 15:03] pohlt commented on #3990
Thanks @rhatdan for the excellent article series where you explain things like `podman unshare` (https://www.redhat.com/sysadmin/rootless-podman-makes-sense).

This works fine for a single container trying to access a host folder, but how about _two_ containers which potentially use two different users both trying to access the same host folder (e.g. one writing, the other reading files)?

[2021-12-31 15:12] mheon commented on #12722
The containers are not named `pod name-container name` - they are just named by the container name, right now, which is why the pod name must change.

[2021-12-31 15:20] mheon commented on #12717
Are you sure it's Podman restarting the container? Openstack makes extensive use of systemd-managed containers and I view it as likely that this is one of them, so systemd may have decided to restart the container on detecting it stopping.

The Stopping state issue should be fixed in newer Podmans and backported to the 3.0 stream used by Openstack but I'm not sure when that fix will be arriving.

[2021-12-31 15:23] hikhvar commented on #12722
Maybe we are talking about different names. I don't see any container named `nginx` container before and after `podman play kube`.
[code]

[2021-12-31 15:25] mheon commented on #12717
Regardless, I strongly recommend you open a BZ about this. There are a lot more moving parts here than just Podman (in an Openstack environment, Podman is heavily orchestrated by systemd) and I think we'll need debugging assistance from the OSP team on this.

[2021-12-31 15:26] mheon commented on #12722
Interesting. @baude Did we add renaming for containers at some point?

[2021-12-31 15:43] ananthb commented on #12590
I re-created the home directory using LUKS storage and the error is gone. It could be related to systemd-homed using fscrypt v1 encryption policy.

[2021-12-31 16:34] Luap99 commented on #12723
This was already fixed in https://github.com/containers/podman/pull/12545