[2020-02-19 01:18] jmou opened #5255 "podman exec inherits environment variables from container process"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman exec` does not use the environment variables that the container image is built with. Instead it seems to inherit environment variables from the container process.

**Steps to reproduce the issue:**

1. Run
[code]

**Describe the results you received:**

[code]

Note $x is set and $PAT

[2020-02-19 02:14] ykuksenko opened #5256 "/etc/resolv.conf with dnsname plugin and user namespace not using dnsname resolver"
/kind bug

**Description**

When running a container that is using a user namespace attached to a non default network with dnsname plugin enabled /etc/resolv.conf contains the hosts resolvers instead of the dnsmasq resolver for the network.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
The output for /etc/resolv.conf for the two runs was different, first produci

[2020-02-19 02:18] Noah-Huppert commented on #4648
@rhatdan My fix has been adding `alias podman="sudo podman"` to my shell profile...

I was hoping someone with more in depth knowledge of this issue would be able to provide a fix since it breaks podman on what I assume are all non-systemd systems. I had attempted to look around the source code but I couldn't figure out where this error was being thrown, given me never having touched the code befo

[2020-02-19 02:36] zvonkok commented on #713
/cc @zvonkok @sjug

[2020-02-19 02:45] #5242 closed

[2020-02-19 08:07] raukadah commented on #713
@rhatdan I did not made any progress, got busy with other works, Please take over this issue. Thanks!

[2020-02-19 08:31] cathay4t commented on #3679
I tried to run dbus in container of travis [using podman][2].

Without root, the dbus will never start up.
With root, podman [failed][1] with:

[code]

[1]: https://travis-ci.com/nmstate/nmstate/jobs/288756640
[2]: https://podman.io/getting-started/installation.html

[2020-02-19 08:34] NobodyXu commented on #5220
`time podman image ls` go back to normal again mysteriously:

[code]

[2020-02-19 08:50] giuseppe commented on #5249
@AkihiroSuda we are already using `runtime.LockOSThread()` in a few places to ensure the thread runs in the same namespace.  Are we sure that is the issue?  I am looking at the `ns_linux.go` code and I don't see how it can fail and run in a different namespace

[2020-02-19 08:57] matpen commented on #3924
I understand now: you are using a third party service which automates the build, and discards older versions automatically. I scanned their docs, but could not find anything useful. Maybe its worth asking them via [IRC](https://openbuildservice.org/support/)?

Uhmm this was not me... unless I am missing something.

[2020-02-19 08:59] abitrolly commented on #4794
Partially the reason I started to use `podman` is to avoid problems with
`docker` on SELinux enabled systems. The former can run unpriviliged
containers and is engineered from scratch to be awesome, but it doesn't fix
the problem with sharing volumes r/w. Maybe that's not the use case for
containers at all, and I better find resources to complete my plan9 to be
independent of problems with filesys

[2020-02-19 10:23] schubter opened #5260 "APIv2: containers/create does not call Init"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

creating a container via the API does create the container, but isn't created  in the OCI runtime
thus attaching to the container does not work.

**Steps to reproduce the issue:**

1. create a container via the api

2. try to attach to the created container

**Describe the results you receive

[2020-02-19 10:29] vrothberg commented on #3679
@cathay4t, which version of Podman are you using and on which distribution (and repository)?

[2020-02-19 11:00] cathay4t commented on #3679
It's Travis Ubuntu 18.04 with podman version 1.8.0.

[2020-02-19 11:19] marusak commented on #5228
This is still happening.
It now returns code 400, but still appends `null`:

[code]

[2020-02-19 11:47] vrothberg commented on #5260
This looks like an typo in the error message `can only attach to created or running containers: container state improper`; we can only attach to running containers. @mheon WDYT?

[2020-02-19 11:50] schubter commented on #5260
the error is fine, attaching to created containers too.
I've fixed it with

[code]

above https://github.com/containers/libpod/blob/master/pkg/api/handlers/containers_create.go#L75

and attaching via the api, works like I expected it to.
i am however not sure if that's the intended design

[2020-02-19 11:59] vrothberg commented on #3679
[code]
@lsm5, have you seen this before on 18:04? Looks like some plugins are missing?

[2020-02-19 12:05] vrothberg commented on #5255
Thanks for opening this issue, @jmou! Podman should behave as Docker does. I'll take a look!

[2020-02-19 13:09] pburgisser-c2c commented on #3843
I have tested it 2500 times and it seems to work like a charm!

Thanks for the hints!
@mheon @mheon

[2020-02-19 13:19] vrothberg commented on #3843
Wonderful, thanks for checking, @pburgisser-c2c!

@mheon, looks like we're running into race with `run --rm` and `rm`?

[2020-02-19 13:52] rhatdan commented on #4831
Ok lets check to see if the director == $XDG_RUNTIME_DIR, and not remove it in that case.  If it is containers then it should be removed.

[2020-02-19 13:53] rhatdan commented on #5254
@Komic Would you expect it to throw an  error or create the working dir?  What does kubernetes do?

[2020-02-19 14:10] rhatdan commented on #4648
Did you ever try crun?  I am guessing the runc was attempting to connect to dbus.

[2020-02-19 14:11] #5146 closed

[2020-02-19 14:23] oleastre commented on #4159
@lsm5 I'm not a recognized fedora packager although I sometimes provide patches to existing one.
I just did it quickly to solve the problem here. But if this can solve the problem on the fedora level, why not.
And as suggested by @rhatdan , I'll update the spec file to install in `/usr/libexec/catatonit/catatonit` which makes more sense.
Although that does not solve the installation for podman on

[2020-02-19 14:32] mheon commented on #3843
If we're leaking locks, one of them has to be dying midway through removal, but I'm not sure as to how this is happening. I'll take a look if I get a chance.

[2020-02-19 14:34] rhatdan commented on #4794
Well we can always drive python3 to fix the issue with shutils.  Which they have  a partial fix for.  The bottom line is, the kernel prevents setting SELinux XAttrs on file systems that were mounted with the context mount, or on file systems that do not support SELinux labels.  Since we are using fuse-overlay for rootless containers, we end up with this restriction.  You could remove fuse-overlay

[2020-02-19 14:37] lsm5 commented on #4159
I'll post a fedora review request and @jnovy will review it. Patches are welcome anytime!

[2020-02-19 14:38] mheon commented on #5260
Init should happen automatically in start - see `prepareToStart()` (https://github.com/containers/libpod/blob/master/libpod/container_internal.go#L767-L777). What we're probably seeing here is an incorrect state check somewhere in the handler code, which an Init is working around by changing the state of the container.

[2020-02-19 15:26] lsm5 commented on #4159
package review request filed at https://bugzilla.redhat.com/show_bug.cgi?id=1804768

[2020-02-19 15:50] vrothberg commented on #5255
Opened https://github.com/containers/libpod/pull/5264 to fix that along with consolidating env-related code.

[2020-02-19 15:52] schubter commented on #5260
As I have understood It this is somewhat replicating the docker api and from what I gathered from things like gitlab-runner it expects the container to be fully created as it attachtes right after to inject some things and then starts the container with a custom command.

With the lines above gitlab-runner does get pretty far now, not all the way there yet but it can create, pull, attach, kill and

[2020-02-19 15:57] Komic commented on #5254
That I don't know. Why is the working dir even relevant here, is it used internally? If not, as a user I guess I just expected it to run.

[2020-02-19 16:01] edsantiago commented on #4283
Skopeo is currently not compatible with podman auth file path; see https://github.com/containers/skopeo/issues/823 and https://github.com/containers/skopeo/issues/822

[2020-02-19 16:10] kommulu commented on #5239
So,
I tried it like @giuseppe suggested:
`podman run -d --name iot_test -p 8081:8080 -v iot-data:/datadir -v /path/to/cifsshare:/files -e UID=8000 -e GID=8000 --uidmap 0:1:1 --uidmap 1:0:1 --uidmap 2:2: 8000 iot:latest`

That alsmost did it, but the cifs-share was then owned by uid/gid 1 inside the container.
I tinkered around with the last --uidmap, but had no luck, but I also do not yet understa

[2020-02-19 16:30] #5087 closed

[2020-02-19 16:37] Akasurde commented on #5081
Can we close this since PR #5248 is merged ? Thanks.

[2020-02-19 16:38] sshnaidm commented on #4654
Not a problem, just issue for tracking. I think I'll send updates via ML about that later.

[2020-02-19 16:48] #5081 closed

[2020-02-19 17:13] ipbabble commented on #3932
Fair. I will look at it tonight.

William

On Thu, Oct 31, 2019 at 12:55 PM Tom Sweeney <notifications@github.com>
wrote:

--

William G Henry

Senior Distinguished Engineer

Red Hat <https://www.redhat.com>

M: +17192716951     IM: ipbabble
<https://www.redhat.com>

[2020-02-19 17:37] groovyman opened #5269 "podman generate systemd creates incomplete systemd service-file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am running a non-root podman container. Since i want control the start and stop of this container in by systemd i found i nice function in `podman`. Unfortunately it does not work properly for non-root pod-container.
Let's have a look, here is my container, as you may notice, the technical

[2020-02-19 17:57] edsantiago commented on #5269
Just to make sure: can you include the exact path of where you're saving the generated systemd unit file, and all commands you're using to activate and verify it?

[2020-02-19 18:44] edsantiago commented on #5046
Just to clarify: pipes have nothing to do with this, at least not between host and container (possibly between conmon and podman though). Same thing happens with simple redirection:
[code]
Curiously, it does not seem to happen (despite dozens of retries) when `of=/dev/null`:
[code]
(I say "curiously" because conmon has no way of knowing that the container's output is `/dev/null`; so interprocess c

[2020-02-19 19:20] mheon commented on #5255
It's an OCI runtime thing - happens on `crun` but not on `runc`. @giuseppe PTAL

[2020-02-19 21:13] groovyman commented on #5269
You mean this one: `/mnt/raidSpace/Homes/lohnbuchhaltung`

[2020-02-19 21:16] edsantiago commented on #5269
Probably not. What I mean is: the output of `podman generate systemd`, you're saving it in a file somewhere, right? Then running certain systemd commands to enable it. Can you post the exact path of the file, and the exact systemd commands you are running?

[2020-02-19 21:30] groovyman commented on #5269
Ok, i did the following:
1. The file creation was initiated from the account, that is also serving the container. The contents of the file was given in my very first post.
2. Then, the file is copied into /etc/systemd/system
3. Then i perform `systemctl daemon-reload`
4. The i gonna test it, just getting the state by `systemctl status container-lohnbuch_00.service` and i receive
[code]

[2020-02-19 21:31] edsantiago commented on #4900
OMG. Confirmed: if I happen to create the container with my Yubikey plugged in, then start it after unplugging Yubikey, podman barfs. I consider this a serious usability bug.

[2020-02-19 21:40] edsantiago commented on #5269
Thank you. This confirms what I was suspecting.
[code]
There's your problem. The unit file was, unless I misunderstand completely, created as user X. The unit file, therefore, must also be created such as to be owned by user X:
[code]
Can you try that and see if it resolves your problem?

[2020-02-19 21:47] lsm5 commented on #3924
Thanks @sysrich!

@matpen would you be willing to help us out in setting this up? I can add you as a co-maintainer..

@matihost did you have some job for caching builds? Is that something you could share publicly?

[2020-02-19 22:18] groovyman commented on #5269
Ok, as the user, i:

1. created the directory
2. and create the service file like this: `podman generate systemd --name lohnbuch_00 > ~/.config/systemd/user/container-lohnbuch_00.service`
3. performed `systemctl --user daemon-reload`
4. The checkout the state: `systemctl --user status container-lohnbuch_00.service` and i received:

[code]

I got a similar error, when i copied the user generated se

[2020-02-19 22:22] mheon commented on #4900
I would love to see something like this in the OCI runtime spec - that seems like the most logical place.

@giuseppe Is there an issue or PR against runtime-spec to track this?

[2020-02-20 01:27] lsm5 commented on #5043
@delight should be fixed by `1.8.0~5`, will be available in an hour or less. Please re-open if it doesn't.

[2020-02-20 01:30] lsm5 commented on #4791
Closing. Please re-open if issue persists with the latest OBS packages.

[2020-02-20 01:30] #4791 closed

[2020-02-20 05:26] medyagh commented on #5205
@baude all i need is a way to get the routable IP of the host from inside of the container.

so if I have a webserver running on the host machine,
from inside the container, I wanna be able to ping that IP .

in docker I get that IP using this command:
[code]
i want same command for podman (so I can implement minikube mount command)

[2020-02-20 05:58] space88man commented on #4398
@rhatdan https://github.com/cri-o/ocicni/pull/70 PTAL, does this work for podman?

[2020-02-20 08:16] giuseppe commented on #4900
it is not tracked anywhere at the moment

[2020-02-20 09:22] #4283 closed

[2020-02-20 09:32] TomasTomecek opened #5276 "buildah in podman: statx is blocked and hence an image can't be committed"
/kind bug

**Description**
I am using a demo to showcase buildah inside a podman container:
[code]

I originally thought this is SELinux, but it's seccomp actually:
[code]

So after turning off seccomp, it builds just fine:
[code]

Goldilocks, we need you!

[code]

[2020-02-20 09:39] #2808 closed

[2020-02-20 09:39] #3837 closed

[2020-02-20 09:39] #4432 closed

[2020-02-20 09:39] #4718 closed

[2020-02-20 09:39] #4770 closed

[2020-02-20 13:47] TomSweeneyRedHat opened #5278 "Need test to make sure buildah doesn't list "-dev" in its output of podman info"
Add a test to make sure there is never the letters "-dev" in the podman info | grep -i buildah before we release a new podman. Don't want that gating PRs but only releases.

[2020-02-20 13:47] TomSweeneyRedHat commented on #5278
From #5253 comments

[2020-02-20 13:49] edsantiago commented on #5278
What difference is there in test environment between regular PR and release-gating? That is, how does the CI environment know "this is a release candidate"?

[2020-02-20 14:13] TomSweeneyRedHat commented on #5276
Just curious, doe it work if you keep seccomp in play but use the `--privileged` option with `podman run`?

[2020-02-20 14:13] rhatdan commented on #5278
Good question.  I guess it would be perfect if we could trigger that before pushing a release.

[2020-02-20 14:23] lsm5 commented on #3679
Haven't tested podman on ubuntu beyond an 'apt install'. I'll check it now..

[2020-02-20 14:27] mheon commented on #5276
Wait, what? We block `statx`? I can't believe we do that by default...

[2020-02-20 14:28] mheon commented on #5276
It is definitely in the ALLOW section of our default Seccomp policy

[2020-02-20 14:29] mheon commented on #5276
Do you have a custom Seccomp profile installed, or have you customized the default at all?

[2020-02-20 15:01] ikke-t commented on #4159
this is likely obvious to everyone, but also RHEL8 is missing it. Just to mention here in order to get it somehow into pipeline to RHEL.

[code]

[2020-02-20 15:16] lsm5 commented on #3679
[code]

@vrothberg So, the plugins are present in the expected path.

[2020-02-20 15:22] lsm5 commented on #4159
@ikke-t yes, this will quite likely happen once things are present in Fedora. But RHEL will have its own processes/schedules, so no ETA promised. But I can ensure the OBS packages for CentOS have it once Fedora is done.

[2020-02-20 15:39] cathay4t commented on #3679
Aha. The `containernetworking-plugins` is just suggested by podman, not depend on.

I will try to manually install it and try again.

[2020-02-20 15:54] cathay4t commented on #3679
@lsm5 Once manually install `containernetworking-plugins` in `.travis.yml`. It works like charm.

Maybe a document saying podman as root in ubuntu need `containernetworking-plugins` could helps others.

Thank you for fixing this.

[2020-02-20 16:39] manics commented on #3679
Travis defaults to `--no-install-recommends`. I think `sudo apt-get -qq -y install --install-recommends podman` should install everything.

[2020-02-20 16:41] #5040 closed

[2020-02-20 16:45] mheon commented on #3679
Per discussion, it sounds like we're going to swap it back to a Requires. I remember it being swapped originally so rootless Podman did not need to install root-only dependencies, but if that results in broken installations, it doesn't seem to be worth it.

[2020-02-20 16:52] lsm5 commented on #3679
This will be fixed in `1.8.0~6` which is currently being uploaded to OBS.

[2020-02-20 17:11] lsm5 commented on #3679
`1.8.0~6` sent to OBS. Should be available soon. Closing...

[2020-02-20 17:11] #3679 closed

[2020-02-20 17:13] abitrolly commented on #4794
I probably miss the point. Speaking user stories, **as a user** I don't
want to know how SELinux works with XAttrs, how `vfs` and `fuse-overlay`
operate and why `overlayfs` is worse or better to use `podman` for writing
the results of running a container over my project dir (which is a Git
checkout).

That's why I think that it is easier to instruct container to mount volume
over network, and prov

[2020-02-20 19:33] delight commented on #5043
@lsm5 just tryed 1.8.0~5 and 1.8.0~6

Both are able to start the btrfs storage drive.
Downloading the image and starting a container works. Podman creates subvolumes in btrfs as expected.
Removing thou won't work correctly.

Simplest way of reproducing the error is something like
`podman pull ubuntu
`
and then trying to delete it again
`podman rmi ubuntu`

result in
Error: remove /home/koko/.local

[2020-02-20 20:06] rhatdan commented on #5276
Can you grep statx in /usr/share/containers/containers.conf  or /etc/containers/seccomp.json

[2020-02-20 20:09] edsantiago commented on #3447
Looks like this is [still happening](https://api.cirrus-ci.com/v1/task/6261604358553600/logs/integration_test.log#t--podman-run-add-dns-server):
[code]
Cirrus says this is fedora-30 but I have no way of knowing which version of containernetworking-plugins is installed.

[2020-02-20 20:24] edsantiago commented on #3447
UPDATE: [package_versions.log](https://api.cirrus-ci.com/v1/task/6261604358553600/logs/package_versions.log) shows:
[code]

[2020-02-20 20:28] edsantiago opened #5285 "CI: update VMs to add skopeo, newer containernetworking"
This is a reminder to update the VMs used in CI:
* Install `skopeo`, wanted by #5265
* Update f30 to `containernetworking-plugins >= 0.8.5`, to address #3447

[2020-02-20 21:24] lsm5 commented on #4159
catatonit has been added to the OBS repos (debian and ubuntu only so far), will be published soon. I'll add it to CentOS once it's in Fedora.

[2020-02-20 21:25] delight commented on #5043
I guess the problem is already known see #3963

something around https://github.com/containers/storage/blob/1c8d809f3db40ab852112332457e2ea7a09ba859/drivers/btrfs/btrfs.go#L635 ?

[2020-02-20 21:41] delight commented on #5043
OK, using the mount option "user_subvol_rm_alowed" is a pragmatic workaround IMO .. a little documentation on the topic would be desirable. I'll check for the right place but would appreciate if you could pin-point me to a good place.

Closing this ticket.

[2020-02-20 21:41] #5043 closed

[2020-02-20 22:19] rhatdan commented on #5043
I would guess in storage.conf man page? in github.com:containers/storage.

[2020-02-20 23:16] #5219 closed

[2020-02-21 05:49] hikhvar commented on #5219
Thank you for that quick fix!

[2020-02-21 08:28] abitrolly commented on #4794
The filesystem isolation layer with 9pfs could also fix this [top voted](https://github.com/moby/moby/issues?q=is%3Aissue+sort%3Areactions-%2B1-desc) Docker problem https://github.com/moby/moby/issues/2259

[2020-02-21 09:10] sdlarsen commented on #1675
Was this ever fixed?

[2020-02-21 11:18] Schrottfresse commented on #3245
@mheon Is there any indication when static IPv6 addresses (the  --ip6 flag) get implemented?

[2020-02-21 13:34] HarryMichal opened #5288 "Different error messages when getting 503 when pulling images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pulling images with `podman pull` from registry.fedoraproject.org I sometimes get a 503 HTTP status. That is most likely a problem of the registry itself. Problem is that there are 2 slightly different messages for the 503 HTTP status. I can see that they are coming from different parts

[2020-02-21 13:55] #5256 closed

[2020-02-21 14:23] mheon commented on #5288
These look like errors from different parts in the pull process. The first is from initially verifying the registry is reachable; the second is from attempting to pull the image. I don't know if we want to drop the extra information here, as it could be valuable for debugging.

[2020-02-21 14:27] mheon commented on #5288
Speaking more generally, while I definitely do understand the request here, it's difficult to give consistent errors on registry operations in general. While most of the implementation of a registry is standardized, there's enough differences between implementations for it to be impossible for us to know for certain what went wrong on getting an error back.

In cases like this, for non-debug logs,

[2020-02-21 14:28] mheon commented on #3245
It's not an immediate priority, but ought to be easy enough to add.

[2020-02-21 14:33] mheon commented on #1675
Was closed by PR https://github.com/containers/libpod/pull/3015 in Podman 1.3.0. Are you still seeing it?

[2020-02-21 14:45] space88man opened #5289 "Cannot join the uts namespace of a running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
A container is unable to join the uts namespace of another running container.

**Steps to reproduce the issue:**

1. podman run --rm -it --name uts_1 centos:8

2. podman run --rm -it --name uts_2 --network container:uts_1 --uts container:uts_1 centos:8

3.

**Describe the results you received:

[2020-02-21 15:30] jwhonce commented on #5288
@mtrmac Please comment.

[2020-02-21 15:40] HarryMichal commented on #5288
I would propose just to unify the wording of the last part of the errors. Either choose `received unexpected HTTP status: 503 Service Temporarily Unavailable` or `invalid status code from registry 503 (Service Unavailable)`. At least from my point of you that wouldn't disrupt debugging too much.

If the unification was done then the first two lines would look the same (and that kinda makes sense t

[2020-02-21 15:41] rhatdan commented on #5254
Workingdir, is the location where the executable is launched from.  Apps tend to do getpwd() call and I guess if this fails, then the app could fail.

[2020-02-21 15:47] mtrmac commented on #5288
Overall this feels like an attempt to script around a failing server by grepping an error message; it feels way too easy to recommend “just” fixing the server in the first place instead of trying to check for errors that should not be happening, or maybe retrying on _all_ kinds of errors except those specifically recognized[1] instead retrying only on one.

---

In general, error texts returned by

[2020-02-21 15:54] wwilson commented on #4159
Who is currently maintaining catatonit? We reported a couple of serious bugs (encountered while using it with podman) over a month ago, but noticed that there hasn't been any active development in about a year. If the Project Atomic community is going to depend on it, would make sense for us to take over maintenance as well?

[2020-02-21 16:21] rhatdan commented on #4398
I will let @mheon and @baude answer that question.

[2020-02-21 16:24] rhatdan commented on #4900
@vbatts PTAL

[2020-02-21 16:32] sspoddiglane commented on #5128
Be glad to when I get a moment.  Is there a form you prefer?

On Tue, Feb 18, 2020 at 4:12 PM Daniel J Walsh <notifications@github.com>
wrote:

--

Susan SpoddigLane

Sr. Linux Admin  IV

NOAA/NESDIS Center for SaTellite Applications and Research (STAR)
College Park
Office:301-683-1328
cell: 202-394-8991
Email: susan.spoddiglane@noaa.gov
[image: noaa_logo_full.png]

<https://www.noaa.gov/>  <https

[2020-02-21 17:05] rhatdan commented on #3447
@rhvgoyal was just showing some similar errors to this.  We had to do a podman system reset to clear them up.

[2020-02-21 18:12] #5131 closed

[2020-02-21 18:12] kommulu commented on #5239
After thinking about the whole thing some more, is there any possibility at the moment to get this to work in a rootless environment?
The alternative for me would be: start the container as root, application starts with uid/gid 8000, cifs-share gets mapped correctly.
Only benefit here would be to ditch Docker.
SELinux is active on the container-host and works like a charm with podman, so I still h

[2020-02-21 18:37] TomSweeneyRedHat commented on #1675
I'm not convinced that credential-helpers and credstores are handled as they should be by podman/buildah login/logout.  There are certainly no tests or documentation anywhere that I can find.  I'm going to reopen this until we can at least verify, fix if necessary, and create appropriate tests and documentation.

[2020-02-21 19:07] fansari opened #5291 "rootless containers don't work anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

My rootless containers are not accessible anymore. I have changed nothing. The issue started a few days ago.

"podman ps" is hanging on the shell.

[code]

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

see above

**Describe the results you expected:**

[2020-02-21 19:17] rhatdan commented on #5239
If you want that you could do it with
[code]

[2020-02-21 19:25] rhatdan commented on #5291
Could you check to see if you have any podman processes running on your system and kill them?

[2020-02-21 19:27] mheon commented on #5291
Could this be https://github.com/containers/libpod/pull/5183

[2020-02-21 19:28] vbatts commented on #4900
trying out @edsantiago reproducer with docker 19.03.2 this does not seem to be the case.
Perhaps that is something that is reconciled at 'start' of the container?

[2020-02-21 19:31] mheon commented on #4900
If we want to move this into Libpod, we could. There's still the potential for a race between finalizing the spec on the Libpod side and passing it into `runc`, though. Not sure how big of a deal that is.

[2020-02-21 20:27] rhatdan commented on #5128
Awesome.  Just a PR to github, if that is what you meant?

[2020-02-21 20:30] #5228 closed

[2020-02-21 20:45] fansari commented on #5291
It is strange. This started few days ago. Yesterday it suddenly worked. Today the problem was there again. I tried to reboot several times but the problem remained.

I have now killed all processes, removed all images and containers and started from scratch.

What I noticed during the last months working with podman is that typically all these problems are related to rootless containers. My root c

[2020-02-21 21:18] baude commented on #4398
we w ould just need to know to vendor in when it is merged

[2020-02-21 22:37] mheon commented on #4907
Fixed by #5295

[2020-02-21 23:24] jcassee opened #5296 "Ubuntu 19.10 package conflicts with kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to install version 1.8.0~7 of podman on Ubuntu 19.10, apt fails with the following error:
[code]

Running `apt-get install -f` results in:
[code]

The package `kubernetes-cni` is installed because of kubadm.

**Steps to reproduce the issue:**

1. Set up Ubuntu 19.10 to install pod

[2020-02-22 02:18] mheon commented on #5296
@baude @lsm5 Alright, I guess this is what happens when we turn CNI from Recommends to Requires. Can we move the plugins install directory, maybe?

[2020-02-22 03:28] simonsigre commented on #5200
Any users running `fedora core 30` can upgrade the fixed packages from `rawhide`
[code]

[2020-02-22 10:12] sdlarsen commented on #1675
Yes @mheon, I see it. Running podman 1.8.0

[2020-02-22 12:56] afbjorklund opened #5298 "The fedora package of podman-remote contains regular podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `podman-remote` 1.8.0 package in Fedora 31 contains a regular `podman` binary.

This means that all commands run locally, despite $PODMAN_VARLINK_ADDRESS

**Reason**

It is missing a space character in the rpm specfile, when adding the extra build tags...

See https://github.com/kubernete

[2020-02-22 12:57] afbjorklund commented on #5298
ping @lsm5

[2020-02-22 13:02] olivierlemasle commented on #5298
Fedora bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1806147
Pagure PR: https://src.fedoraproject.org/rpms/podman/pull-request/24

[2020-02-22 13:45] fansari commented on #5291
I cannot confirm that it works now because now there is another problem:

What does this mean? How can I fix it?

[code]
This error appears when I run "podman ps" after I boot my PC. Then running it a second time this error is gone and I can start some container.

[code]

[2020-02-22 14:09] afbjorklund commented on #5298
Probably better handled in Fedora, thanks for reporting!

[2020-02-22 14:09] #5298 closed

[2020-02-22 14:35] afbjorklund commented on #4134
@rhatdan : I think there was a request from the user, to not have to use different commands depending on if the containers were running locally or remotely - it was described more in https://github.com/containers/libpod/issues/4390#issue-515074454

For minikube, we want the user (who could be on linux) to be able to run podman-remote to the VM. So it would be nice to have `podman-remote` available

[2020-02-22 14:40] mheon commented on #5291
Run 'podman system renumber' - this looks like a lock duplicate allocation,
and that command should resolve it.

On Sat, Feb 22, 2020, 08:45 Frank Ansari <notifications@github.com> wrote:

[2020-02-22 15:41] Perflyst opened #5299 "Add support to disable healthcheck(s)"
/kind feature

**Description**

Docker has the option to disable healthchecks, the `--no-healthcheck` is missing in podman

It was mentioned with a ? in #3455 but got no reply, therefore I am creating this issue.

**Describe the results you expected:**

Same as with docker, disable all the HEALTHCHECKS

[2020-02-22 17:06] fansari commented on #5291
Yes - this fixed this issue.

But now I found that systemd is not starting my rootless containers anymore. Even with --log-level=debug I get no output.

[code]
This is in ~/.config/systemd/user/podman-ldap.service:

[code]
On the other hand: starting the container after boot is possible:

[code]

[2020-02-22 17:07] baude commented on #5296
i dont see kubernetes-cni ini the official package repo so it too must be something that is in a separate repo like us.  if we go back to the soft requires, then we could end up with backlevel cni code (pre 0.8) which would be really bad.  ideally we could share the same cni package.

[2020-02-22 18:25] fansari commented on #5291
Since all this is confusing I tried to make a test for systemd:

First I define a shell script:

[code]

Then I put this into a service:

[code]

and enable this:

[code]

Now I notice the following behaviour:

- When I start this service manually it writes the /tmp/bla.txt file.
- When I reboot my PC the file is not written as expected.
- When I do the same thing as root the file is written also

[2020-02-22 20:00] TomSweeneyRedHat commented on #4359
Closed via: https://github.com/containers/image/pull/821

[2020-02-22 20:00] #4359 closed

[2020-02-22 20:18] FlorianLudwig opened #5302 "log corrupted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

[code]

(produced by running same image inside docker)

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g.

[2020-02-22 21:15] jcassee commented on #5296
@baude Good point. I installed kubeadm (and so kubernetes-cni) from the Kubernetes APT repository (apt.kubernetes.io):

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2020-02-23 04:52] NobodyXu commented on #5220
`time podman image ls` took `1m24s` again:

[code]

`lslock` output:

[code]

`ps aux` output:

[code]

[2020-02-23 09:29] Aculeo opened #5303 "Updating from CentOS 8.0 to 8.1 broke all pods"
/kind bug

**Description**

After updating my CentOS 8.1 all pods have stopped working. Running `podman pod ps` hangs, attempting to stop existing pods hangs as well. The new `system reset` command also hangs.

Any information on how I can recover from this situation would be appreciated - like how can I manually remove these broken pods and recreate them?  Note I've also tried installing Podman 1

[2020-02-23 11:59] rhatdan commented on #4134
@baude @jwhonce, @mheon and I have been discussing this for the rewrite of podman-remote to support APIV2.

[2020-02-23 13:32] NobodyXu commented on #5220
However, right after I pulled a image from docker hub, it went back to the norm:

[code]

[2020-02-23 13:38] afbjorklund commented on #4134
I made my own binaries meanwhile, basically just ran `make` - before the CI process is up again...

`make podman-remote-linux podman-remote-windows podman-remote-darwin`

https://github.com/boot2podman/libpod/releases/tag/v1.6.5

Apparently nobody is using tarballs or checksums anymore.

[2020-02-23 14:44] rhatdan commented on #5303
Could you try
podman system renumber

[2020-02-23 14:49] fansari commented on #5291
I have fixed it now. There are two things you have to keep in mind when working with user services:

1.)
WantedBy=multi-user.target is wrong. You have to use:

WantedBy=default.target

After changing this systemd starts podman but it is hanging.

The I reminded myself to this:

2.)
https://github.com/containers/libpod/issues/4678

Here I have presented a workaround with monitor-resolv-conf.service

[2020-02-23 14:53] rhatdan commented on #5291
@vrothberg PTAL

[2020-02-23 15:54] mheon commented on #5303
Note to self: we can detect and prevent these deadlocks before they happen
by checking lock numbers before locking. Will work up a PR to this effect
soon.

On Sun, Feb 23, 2020, 09:44 Daniel J Walsh <notifications@github.com> wrote:

[2020-02-23 16:02] rhatdan commented on #5220
While an image is being pulled the container/store is locked until the pull completes.  That is probably what is happening.  We have a PR to move to Read and Write locks for the container store, but I am not sure if this would help your problem.

[2020-02-23 17:06] baude commented on #5299
@Perflyst thanks for the report!  fix should be merging shortly

[2020-02-23 17:21] #5299 closed

[2020-02-23 18:24] Aculeo commented on #5303
Yes, that worked, thank you!
Not sure if you want to keep this issue open for the deadlock detection, but it's good to have this workaround.

[2020-02-23 22:22] kommulu commented on #5239
Hi @rhatdan ,
I think I wrote this the wrong way.
With rootless podman, as far as I know, when I create a container as a normal user, the application inside gets started as user root. But, this is done inside a new usernamespace. So in the container it runs as uid 0, but on the host it is e.g. 13456.

Now, the problem seems to be, if I start my container as a non-privileged user, the mapping of my

[2020-02-24 00:50] NobodyXu commented on #5220
But I wasn’t pulling images when running podman image ls

On Mon, 24 Feb 2020 at 03:02, Daniel J Walsh <notifications@github.com>
wrote:

[2020-02-24 08:21] faulesocke opened #5306 "Rootless podman error: could not get runtime: open /proc/31678/ns/user: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running any podman command (for example `podman info` or `podman version`) as non-root only gives me the following output:

[code]

It works when running as root.

**Steps to reproduce the issue:**

1. Run `podman info`

**Describe the results you received:**
[code]

**Describe the results yo

[2020-02-24 08:53] faulesocke commented on #5306
Oh it just noticed one interesting and probably important thing: The PID in the path (`/proc/...`) is always the same value: `31678`. Of course that PID can not exist. That is probably why the thing is failing.

[2020-02-24 09:04] giuseppe commented on #4900
running as root doesn't have this problem as it can use `mknod`, same for Podman.

The issue only happens with rootless where `mknod` is not allowed and we need to bind mount the devices.

Even if we fix Podman to check whether the devices exist before the container runs, there is still a race condition and the device can disappear before the mount is done

[2020-02-24 10:46] daiaji commented on #3680
@mheon Will the future default IPv6 support be implemented through nat6, or will DHCPv6 get a subnet and assign IPv6 address to container?
Nat6 may be too evil🥶

[2020-02-24 10:59] rhatdan commented on #5220
Strange, I would figure some other podman or buildah was contending for the locks, which is why it was going slow.  You say now it is working fine?

[2020-02-24 11:06] NobodyXu commented on #5220
@rhatdan It was fine yesterday, but today, merely after shutting down and restarting my computer, caused it to be slow again:

[code]

The output from `lslocks` is interesting this time, though, showing two holding locks in `podman`, but I **only run one `podman` command`**:

[code]

The full `ps aux` output:

[code]

[2020-02-24 11:12] NobodyXu commented on #5220
@rhatdan From `ps aux` output, I found some interesting pieces:

[code]

I don't understand why there are two `podman` processes while I only ran one `time podman image ls`.

[2020-02-24 11:15] NobodyXu commented on #5220
I reran `podman image ls` this time instead of `time podman image ls`, it is still pretty slow and I think it takes at least 1 minute, and here is `lslocks` output:

[code]

`podman` processes in `ps aux`:

[code]

Full `ps aux` output:

[code]

[2020-02-24 11:24] rhatdan commented on #5306
Could you check if you have a podman running as the user?  If yes, could you kill it and then see if the problem goes away?

[2020-02-24 11:37] faulesocke commented on #5306
No podman running, also tried restarting the box.

[2020-02-24 12:12] rhatdan commented on #5220
Second podman process is holding the User Namespace for you.  Every system running rootless podman has one.  @mheon @giuseppe Any ideas?  Could this be the size issue?
`podman image ls` might be attempting to get the size of a particular image?

[2020-02-24 12:13] NobodyXu commented on #5220
@rhatdan Here, there are actually 3 `podman` process, 1 for holding the namespace open which I didn't count...

[2020-02-24 12:13] rhatdan commented on #5306
What OS are you running podman on?  Could this be your kernel does not support User Namespace?
ls -l /proc/self/ns

[2020-02-24 12:45] faulesocke commented on #5306
@rhatdan I'm running Void Linux. The Kernel supports user namespaces. The issue is probably not the namespace but podman figuring out some bogus PID when building the path.

[code]

Could this issue be ulimits related?

[2020-02-24 14:09] giuseppe commented on #5306
could be fixed by: https://github.com/containers/libpod/pull/5237

[2020-02-24 14:14] giuseppe commented on #5289
looks like the lookup for alias is broken.

It works if the full ID is provided

[2020-02-24 14:37] faulesocke commented on #5306
@giuseppe Nope. Installed 1.8.1-rc1 and the error is still there.

[2020-02-24 14:38] mheon commented on #3680
Definitely not NAT. Right now, I think our approach might be requiring users to manually configure v6 subnets manually (maybe provide a range in the configuration file that `podman network create` can pick out of).

[2020-02-24 14:59] faulesocke commented on #5306
It have downgraded a little bit. 1.7.0 is also affected but 1.6.5 works. So this got broken somewhere between 1.6.5 and 1.7.0.

[2020-02-24 15:28] daiaji opened #5309 "It appears that the directory could not be mounted."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.Compiling image for non root users

2.

3.

**Describe the results you received:**
podman build -t v2ray .
STEP 1: FROM alpine AS builder
STEP 2: RUN apk update     && apk add --no-cache bash ca-certificates curl unzip     && curl $CURLPROXY -fsSL https://

[2020-02-24 15:39] Obbi89 opened #5310 "podman logs --tail reverses output"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using `podman logs --tail 10` on a container the output is newest line first instead of oldest first.

**Steps to reproduce the issue:**

1. `podman run --name tail_reversion -it debian:stable bash -c 'for f in {0..20}; do echo $f; done'`

2. `podman logs --tail 10 tail_reversion`

**Des

[2020-02-24 15:47] mheon commented on #5310
@baude Would your tailreader have fixed this?

@Obbi89 We actually rewrote the way that `podman logs --tail` works in 1.8.1-rc1 to fix an unrelated issue, any chance you can try the RC?

[2020-02-24 15:59] Obbi89 commented on #5310
@mheon aye I was able to quickly build podman and run it with the same commands as described above and the bug seems fixed.
Should've tried that earlier.

[2020-02-24 15:59] #5310 closed

[2020-02-24 16:06] mheon commented on #5309
@TomSweeneyRedHat PTAL - looks like a build issue

[2020-02-24 16:35] edsantiago opened #5311 "APIv2 is now super-slow"
In window 1:
[code]
First thing to note: even though the `--timeout 10` should make it exit almost instantaneously, it doesn't. It just sits there. (It eventually exits, maybe 3 minutes later; I haven't done exact timing).

Next, try a trivial query:
[code]
That's 1.6 seconds for something that (in previous commits) was 0.07 seconds.

Bisecting shows #5158 to be the culprit. That's way too big a c

[2020-02-24 17:30] edsantiago opened #5314 "rootless: "The cgroups manager is set to systemd blah blah""
#4574 is back in podman-1.8.1-0.3.rc1.fc31 (and, I believe, in rawhide)
[code]
Yes, linger is enabled. Error goes away if I manually set magic envariables:
[code]

[2020-02-24 17:42] mheon commented on #5314
Are those environment variables not set otherwise?

[2020-02-24 17:43] edsantiago commented on #5314
No, but podman has (had?) some sort of magic internal logic that set them to defaults if unset.

[2020-02-24 18:25] espenaf opened #5315 "Port forwarding to host not working when using non default network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Port forwarding to a container is not accessible locally or remote when using a newly created network via "podman network create".

**Steps to reproduce the issue:**

1. Fresh install of CentOS 8.1.1911 dvd iso with "dnf update" to latest version

2. podman create network podman2

3. podman r

[2020-02-24 18:37] edsantiago commented on #5314
bisect shows #5253 as culprit?!?

[2020-02-24 18:45] mheon commented on #5315
Can you try removing the following from the network definition:

[code]

(You'll also need to remove the trailing `,` on the line before)

Then run a `firewall-cmd --reload` (assuming you use firewalld) and try running a container

[2020-02-24 18:56] matpen commented on #3924
Not sure how much time I will be able to spare, but I am willing to help!

[2020-02-24 19:09] ikke-t opened #5316 "how to enable traffic from pod to another pod's port?"
/kind feature

**Description**

I need a bit guidance. I don't get traffic from one pod to another on the same host. How to enable pod to pod traffic within podman?

**Steps to reproduce the issue:**

1. I start pod for mqtt, it listens to 1883/tcp:

[code]

2. I start another pod as mqtt client for sending traffic to mqtt broker:

[code]

**Describe the results you received:**

I've tried both se

[2020-02-24 19:50] mheon commented on #5314
Did this part of the rootless code move into containers/common? Potentially we desynced between common and Podman implementations?

[2020-02-24 19:55] mheon commented on #5316
The request here seems to be to access another pod via ports forwarded to the host with PortMap (that is, hit another pod via the host's IP and a forwarded port).

@mccv1r0 PTAL

[2020-02-24 19:56] edsantiago commented on #5314
No, and that's what's stumping me! I don't see anywhere that could be affecting this:
[code]
The DBUS-setting code is in `libpod/runtime.go:SetXdgDirs()` and I could see how things might get twisty if `XDG_RUNTIME_DIR` is unset but the warning happens even if it _is_ set. And `/bus` exists under it. I've even tried stepping back to clear my mind; I don't see what can be causing this.

[2020-02-24 20:06] edsantiago commented on #5314
`ltrace` seems to imply that `SetXdgDirs()` is getting invoked and is performing correctly:
[code]
(but it could also be the `Setenv` in `vendor/github.com/godbus/dbus/conn.go`. I don't know how to tell).

[2020-02-24 20:10] espenaf commented on #5315
Firewalld is in use per default CentOS install. The change did not help, also tried to do a full reboot, but still not working.

[2020-02-24 20:31] cevich commented on #4511
@rhatdan I chatted with @lsm5 about this.  We need to tread carefully here so we don't give anyone wrong impressions about what is trusted and what is not.

Same for every other OS as well.  Any builds we do in public-side automation are technically susceptible to tampering, even if only for a short while before detection.  However, those signatures carry a much longer validity period.  Therefor,

[2020-02-24 20:34] edsantiago commented on #5314
Update. I'm starting to feel sure that it's something to do with this new file:
[code]

[2020-02-24 20:56] mheon commented on #5315
@mccv1r0 PTAL - seems like the portmap plugin is not running, despite being in the CNI config?

[2020-02-24 20:58] mccv1r0 commented on #5316
On Fedora 30 (my laptop) a quick test for me works fine.  I can connect to the port specified via -p using either the IP address assigned to the LOM device which gets dhcp address from corp network as well as the podman0 Linux bridge.

What is your iptables FORWARD policy?  Actually, to save a few round trips, what are your iptables rules for filter and nat tables?

The value of these sysctl varia

[2020-02-24 21:01] mccv1r0 commented on #5316
Make sure ```br_netfilter``` module is loaded as well

[2020-02-24 21:10] cevich commented on #5100
Ya, builds on branches are broken due to not having an existing named storage bucket to upload them.  This can be fixed manually (by creating the bucket).  I'm more concerned about builds from the master branch not being uploaded, I'll need to investigate that...

[2020-02-24 21:12] cevich commented on #4501
Okay, so the dump-plugin seems to be the way forward here.  I believe I can generate the list of destination files automatically at 'make' time, where does this data need to end up for snap to do it's thing?

[2020-02-24 21:15] cevich commented on #4922
Hrmmm, I'm not sure about this one, @baude do you know where/how that homebrew package comes from?

[2020-02-24 21:36] cevich commented on #5285
Got it.  thanks.

[2020-02-24 21:44] mccv1r0 commented on #5316
@ikke-t : if possible can you try to insert a rule into firewalld FORWARD chain at the beginning:

 ```sudo iptables -I FORWARD -s 10.88.0.0/16 -j ACCEPT ```

If the last rule is a REJECT that matches everything, setting the default policy to ACCEPT isn't going to help.

[2020-02-24 23:11] TomSweeneyRedHat commented on #5309
@daiaji can you verify that I'm using the right Dockerfile?  It seems to be working for me as a rootless user and as root.

[code]

[2020-02-25 00:59] #5314 closed

[2020-02-25 04:45] daiaji commented on #5309
@TomSweeneyRedHat In fact, I can't even run the container.
[code]
Is there a relationship between subuid and subgid settings?
[code]

[2020-02-25 05:25] mheon commented on #5309
Can you provide the full output of `podman run --log-level=debug -it alpine sh`

[2020-02-25 07:20] ikke-t commented on #5316
Thanks a lot guys, now it works!

The magic there was that by default, RHEL doesn't load the br_netfilter. Also, one needs to put the bridge ip or host public ip instead of localhost.

I believe localhost is the 127.0.0.1 in the pod net namespace, instead the host one. I also removed the above mentioned trial of adding firewalld rich rule for bridge ip range, it is not needed once br_netfilter is

[2020-02-25 09:24] daiaji commented on #5309
@mheon
[code]

[2020-02-25 12:16] TomSweeneyRedHat commented on #5309
@daiaji just double checking were you logged on as the 'fake' user when you did the run?  Are you able to run this as root?

[2020-02-25 13:28] grzegorzk opened #5321 "Running `pytest` very slow"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to run `pytest` from within the container. It takes long time to run small number of tests (7) - to run same tests on host takes milliseconds.

**Steps to reproduce the issue:**

1. podman run -it --rm ubuntu /bin/bash

2. apt-get update

3. apt-get install python3 python3-pip git

4.

[2020-02-25 13:33] daiaji commented on #5309
@TomSweeneyRedHat I just replaced the user name in the log. In fact, I am using another user name, which can work under root.

[2020-02-25 14:06] baude commented on #5321
I'm inclined, but won't, to make the claim this is not about podman.  Running those tests on the host and inside a container are not fair assessments of podman.  You are running rootless, and therefore filesystems are at play that might explain this readily.  Lets see what others have to say.

[2020-02-25 14:28] mheon commented on #5321
The two big potential causes I can think of:
- Seccomp. Large whitelists are a performance issue all on their own, and added to that they presently unconditionally trigger some additional layers of defense against Spectre-type attacks (which, naturally, slow things down further). This can be disabled (at cost of security) with `--security-opt seccomp=unconfined`
- Filesystem. Rootless does not hav

[2020-02-25 14:31] mheon commented on #5321
I think I would expect the performance of root Podman using kernel overlayfs with Seccomp disabled to be very similar to running outside of a container. Unfortunately, without kernel Overlay support (this is being debated in the kernel community, there are security implications), we can't guarantee that level of performance for rootless Podman. But things will probably be significantly faster if y

[2020-02-25 14:35] mheon commented on #5309
Error's definitely out of runc, but I'm not exactly sure what it is. Manpages say that mount(2) can't return EEXIST so this is probably some form of check before the mount is made?

[2020-02-25 15:00] mheon commented on #5309
This is our relevant code block:

https://github.com/opencontainers/runc/blob/688cf6d43cc4f8b5a56d0fb7c7512dcfcec2cfd7/libcontainer/rootfs_linux.go#L301-L318

I'm betting the cause is that initial Lstat

[2020-02-25 15:02] mheon commented on #5309
Hmm. Actually, probably not. Could be the MkdirAll.

[2020-02-25 15:03] baude commented on #5321
maybe edit the original post with a real example for step 5 and it could be examined.

[2020-02-25 15:20] mheon commented on #5309
@daiaji Any chance the `crun` runtime is available in Tumbleweed? Can you try that instead via `--runtime=crun` if so? I'd like to see if that gives a different/better error message

[2020-02-25 16:43] jobcespedes opened #5322 "'shared' bind-propagation not working with unionfs-fuse"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to use bind-propagation shared with unionfs-fuse inside podman container does not work. The mount point is correctly shown inside container but not in host. Docker works. I'm not sure it is related to #1834

**Steps to reproduce the issue:**

1.  create dir layout for unionfs-mount
[co

[2020-02-25 16:54] giuseppe commented on #5246
PR here: https://github.com/containers/libpod/pull/5324

[2020-02-25 16:54] cevich opened #5325 "special_testing_bindings_task, `podman remove a paused container by id with force` test fails"
/kind bug

**Description**

On F31:

[code]

**Steps to reproduce the issue:**

1. `make`
2. `cd pkg/bindings/test && ginkgo -r`

**Describe the results you received:**

Test fails

**Describe the results you expected:**

Test passes

**Additional information you deem important (e.g. issue happens only occasionally):**

Discovered in/before commit 6babc9f20ca9e3633da1792a31d0391bde6201b6 on master

[2020-02-25 17:01] mheon commented on #5322
@rhatdan I think you're the most familiar with mount propagation - mind taking a look?

[2020-02-25 18:00] ChristianCiach commented on #4016
Wow, this stuff is way too complicated. I've the same issue as @abitrolly. I've read every comment here and I still don't have an idea how to make this work.

[2020-02-25 18:03] ChristianCiach commented on #3990
Wow, this stuff is way too complicated. I've the same issue as @abitrolly (running podman as non-root, having a user inside the container that is not "root" and I cannot write to the mounted directory). I've read every comment here and I still don't have an idea how to make this work.

[2020-02-25 18:05] cevich commented on #5325
Marking test to be skipped via commit `Temp. skip "remove pause by id" bindings test ` on #3901

[2020-02-25 18:19] ChristianCiach commented on #3990
So, it seems like I can make it "work" be "chown"ing (on the host) the shared directory to the user-id that the non-root-container-user (in my case called "jenkins", because I'm using the jenkins:jenkins image from Docker hub) is mapped to on the host system. In my case, this jenkins-user from inside the container has the UID 559751 on the host system. So, doing `sudo chown 559751 builds` on the h

[2020-02-25 18:25] ChristianCiach commented on #3990
Okay,  but how?

[2020-02-25 18:35] mheon commented on #3990
Root should not be necessary - `podman unshare` sticks you into the same user namespace that the rootless container uses, which gives you access to every UID/GID that the container does. Within a `podman unshare` shell you should be able to chown folders/files owned by your user to the UID/GID used by Jenkins. You will need to know what IDs are in use inside the container, because `podman unshare`

[2020-02-25 19:15] ChristianCiach commented on #3990
@mheon Thank you very much for your detailed comment!

I definitely needed "sudo" to execute `sudo chown 559751 builds` on the host. This may be because the user accounts are centrally managed and there may be something wrong with my `/etc/subuid`..? I remember that it was necessary for me to create this file manually some months ago. But this may be because my workstation is old and my Fedora ins

[2020-02-25 19:29] mheon commented on #3990
I agree that `unshare` is a terrible name; we named it after an existing utility that enters user namespaces (doing something very similar to what we do, but not doing many of the things we do to make sure that it matches what other `podman` commands are doing.

[2020-02-25 19:32] daiaji commented on #5309
@mheon Fortunately, although the official software source does not have crun, I found the community maintenance package. Unfortunately, the community software source does not provide the binary package of i586, but the spec template file can be compiled on the i586 architecture. Just a year ago, I compiled one or two packages. After splitting the spec template file and compiling it, I still got th

[2020-02-25 19:35] mheon commented on #5309
@giuseppe Any thoughts here?

[2020-02-25 19:51] giuseppe commented on #5309
Could be the interaction runc with fuse-overlays, I'll need to check. Also it can be the 32 bits arch, I have never tried fuse-overlays there

[2020-02-25 20:16] #5246 closed

[2020-02-25 20:32] #5285 closed

[2020-02-25 20:32] #3447 closed

[2020-02-25 20:32] #5311 closed

[2020-02-25 20:33] giuseppe commented on #5322
this is not a bug.  Rootless containers cannot create mounts in the host.

The `shared mount` is created inside of the rootless mount namespace, you can reach it with `podman unshare`

[2020-02-25 20:37] giuseppe commented on #5309
just to make sure the namespace is created correctly, could you show the output for `podman unshare cat /proc/self/uid_map`?

[2020-02-25 20:39] mheon commented on #5322
@jobcespedes It sounds like we expect this to work as root, but not without.

[2020-02-25 22:08] jobcespedes commented on #5322
Thanks for the clarification @giuseppe and @mheon . I was not aware of it.

Two things:
1. I recently tried running it as root and `mount point`, files don't show up in host.
2. `podman unshare ls -al /tmp/multienv/unionfs` and `podman unshare mount`  show nothing for '/tmp/multienv/unionfs'

Am I getting it wrong?

[2020-02-25 22:12] GabyCT opened #5331 "not possible to get fedora image for e2e testing"
I am trying to run the e2e testing for podman, however, I am getting an error saying that is not possible to get the fedora image
[code]

Podman version 1.6.2

[2020-02-25 22:13] mheon commented on #5322
If the procedure here fails as root, I'd consider that a bug. Reopening.

[2020-02-25 22:15] baude commented on #5331
not much we can do about that? ideas?

[2020-02-25 22:17] mheon commented on #5331
This looks like the Fedora registry being its usual, very flaky self. I would try again in a few hours and see if it works.

[2020-02-25 22:58] jobcespedes commented on #5322
@mheon I just find out it works with root outside /tmp. I don't know why it doesn't work in /tmp. For example mounting somewhere inside $HOME instead:
[code]

[2020-02-25 23:08] jobcespedes commented on #5322
One more thing: when rootless, even outside /tmp/, I didn't find anything with `podman unshare`

[2020-02-25 23:49] faulesocke commented on #5306
Okay, this is odd. After I've downgraded it yesterday, i've now upgraded it back to 1.8.0. Then it worked. Then I rebooted to make sure no processes from the old version are running. And it still works. Don't know what went wrong there.

[2020-02-26 00:50] daiaji commented on #5309
@giuseppe
[code]

[2020-02-26 05:12] grzegorzk commented on #5321
Hi @baude, I will build test package over the weekend. Simple dependencies-less package I have already built does not show this problem so I'll try to put the same dependencies.

[2020-02-26 07:03] giuseppe commented on #5309
it seems you are running it in the host.  Please use `podman unshare`:

`$ podman unshare cat /proc/self/uid_map`

[2020-02-26 10:02] giuseppe commented on #5322
you need to make sure `$parent/multienv/unionfs` is already a mount on the host.

You can do something like:

[code]

for rootless you need to run that command from the `podman unshare` environment

[2020-02-26 10:04] giuseppe commented on #5306
thanks for the update.  Let's close the issue for now.

If it still happens, feel free to re-open it with more details

[2020-02-26 10:04] #5306 closed

[2020-02-26 10:05] daiaji commented on #5309
@giuseppe
[code]

[2020-02-26 10:18] giuseppe commented on #5289
PR here: https://github.com/containers/libpod/pull/5332

[2020-02-26 11:37] michaeladler commented on #4725
Docker version 19.03.5, build 633a0ea838f10e000b7c6d6eed1623e6e988b5bc:

[code]
**Notice: the last line says binfmt_misc**

podman version 1.8.0:

[code]

If I run `sudo mount binfmt_misc -t binfmt_misc /proc/sys/fs/binfmt_misc` inside the container, the mountpoint is there (as expected).

[2020-02-26 14:14] giuseppe commented on #5309
the userns looks good.

At this point, I am afraid it depends from the arch you are using

[2020-02-26 15:19] jobcespedes commented on #5322
I see it now with `podman unshare`. Thank you.

I might need to change my approach. I wanted to symplify having a union directory.  But my current approach of having the unionfs binary and mounting the directory in a  rootless container seems kind of cumbersome related to that initial goal. I though it was just a matter of exposing the union directory to the host.

This is not podman related anymo

[2020-02-26 15:20] #5322 closed

[2020-02-26 15:26] mheon commented on #5322
I wonder if adding `rshared` to the options for the volume mount would help

[2020-02-26 15:28] QiWang19 commented on #4535
podman run --pull=always can always pull the new image and solve this issue.

[2020-02-26 15:28] #4535 closed

[2020-02-26 15:36] giuseppe commented on #5322
for rootless no.  Mounts created in a rootless mount namespace will never be propagated to the host.

As unprivileged user you could use directly FUSE on the host to mount the unionfs but you'll have some limitations (no containers, no multiple IDs available...)

[2020-02-26 15:58] #5289 closed

[2020-02-26 16:23] TomSweeneyRedHat commented on #4326
New related BZ:  https://bugzilla.redhat.com/show_bug.cgi?id=1807379

[2020-02-26 16:45] jobcespedes commented on #5322
this is great for me actually, since the original intention is not to create one but to expose files from the union directory.

If just files from a directory could be shown in the host without a mount being propagated...

I was thinking live syncing files between the union directory and another second directory, inside the container. Being that second directory, the volume shared with the host. H

[2020-02-26 19:29] ikke-t opened #5335 "podman fails setting forward rules"
/kind bug
**Description**

I lost all connectivity to network from a pod after switching to firewalld on RHEL8.1.

**Steps to reproduce the issue:**

1. install podman on rhel 8.1
1. install firewalld
1. remove firewall section from /etc/cni/net.d/87-podman-bridge.conflist
1. create pod as root with any image that has curl
1. curl any web address from within the pod

**Describe the results you rec

[2020-02-26 19:32] mccv1r0 commented on #5335
The same setup works using fedora 30

[2020-02-26 19:44] ikke-t commented on #5335
box was installed by this kickstart: https://github.com/RedHatNordicsSA/iot-hack/blob/master/rhel-device/ks.cfg

and further configured by this playbook:

https://github.com/RedHatNordicsSA/iot-hack/blob/master/setup-rhel-host.yml

and not much hand tweaking. Except for removing the firewall part from podman network config.

[2020-02-26 20:25] ikke-t commented on #5335
[code]

[2020-02-26 20:37] ikke-t commented on #5335
Important note I forgot to write here! So this happens only with root containers. The non-root containers do work. So it's related to the bridge.

[2020-02-26 21:48] tunip commented on #5306
Have this issue too after each reboot of the host system. Only a `podman system migrate` as user (rootless) resolves this temporary (until next boot). Can't downgrade/upgrade the package, as this is a new void linux installation and only podman 1.8.0 packages is available.

[2020-02-27 01:13] daiaji commented on #5309
@giuseppe I will try to test podman on the new 32bit openSUSE or switch to 32bit Ubuntu test.

[2020-02-27 03:06] edsantiago opened #5336 "Flake: container 'stopped' vs 'exited'"
I'm seeing CI flakes, a few per day, in which some test runs `ps` or `inspect`, checks `.State.Status`, expects it to be `exited`, but sees `stopped` instead.

I don't know if this is f30 or f31, runc or crun, root or rootless. I can't reproduce it at will. Rerunning the CI job usually makes the problem go away. I got nothing; I just want to file this so we can start linking to log results and gat

[2020-02-27 06:28] ikke-t commented on #5335
I got some extra info out of this by accident. As we know, podman root containers work with iptables. I had some containers running, set up with firewalld firewall setting. I changed the network config in /etc/cni back to firewall being iptables. I forgot to remove containers before that. I cleaned them away (podman rm -f)  only after changing the podman config back to iptables, and it spit out an

[2020-02-27 06:58] ikke-t commented on #5335
it seems ping works, so it's tcp that get's bypassed by nat mangling.

[2020-02-27 07:05] ikke-t commented on #5335
it's the same with iptables btw, I just didn't notice earlier:

but more details, it seems non TCP works, here's ```tcpdump -i any``` of ping:

[code]

and here's the same with TCP ```curl 192.168.1.1```:

[code]

The NAT doesn't happen on TCP.

[2020-02-27 07:40] ikke-t commented on #5335
now trying it out with iptables firewall setting, the rules look normal. However the TCP bypasses the masquerade rule:
[code]

I believe it should happen on the very last rule

[2020-02-27 07:53] ssbarnea commented on #4511
If you already know how to do it manually and we do have a macos host that can be used as signer, I could try to find a safe way to sign. In the end the key is to secure the key, not what is signed. Probably is ok to sign only merged code and not open PRs, or at least not with the same certificate.

I wonder if we can find a way to make “brew install” or “brew cask install” to take care of the sig

[2020-02-27 11:33] #4907 closed

[2020-02-27 11:33] rhatdan commented on #5321
@giuseppe FYI

[2020-02-27 12:09] svireli commented on #4648
Hi,
I'm experiencing the same issue. Running with sudo fixes it for now.
I'm using void linux (without systemd).

**BuildahVersion: 1.13.1
CgroupVersion: v1
runc version spec: 1.0.1-dev
Version:            1.8.0
RemoteAPI Version:  1
Go Version:         go1.13.7
OS/Arch:            linux/amd64**

[2020-02-27 13:09] edsantiago commented on #5336
Here's one: https://api.cirrus-ci.com/v1/task/5541879722803200/logs/integration_test.log

I can't tell which OS this is on, but it looks like APIv2 testing.

[2020-02-27 14:31] mheon commented on #5335
Is this IPtables backend with firewalld still running? I don't think we want to support that - we should focus on iptables with firewalld off, and firewalld with firewalld on.

[2020-02-27 14:58] mheon commented on #5336
This is potentially a timing issue. It requires that Podman have successfully cleaned up the container before the status call comes in, which is probably happening in parallel in the background. CLI should have checks built in for this, but APIv2 might be missing them.

[2020-02-27 15:01] edsantiago opened #5339 "flake: "timed out waiting for file""
Seeing this flake in CI periodically; so far, it always seems to be connected to 'podman exec':
[code]
This is a placeholder so we can track the problem and gather info.

[2020-02-27 15:02] edsantiago commented on #5339
Here's one: https://api.cirrus-ci.com/v1/task/6227133299163136/logs/integration_test.log#t--podman-run---net-container--copies-hosts-and-resolv

[2020-02-27 15:04] ah83 opened #5340 "Couldn't move process 6845 to requested cgroup"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I try to run about 100 containers with podman ~~and start them with systemd~~.
~~Every container runs systemd inside~~. If i reboot the server, all containers are started,
but i mostly get 3 to 8 failed systemd units (libpod-xxxxx.scope).

**Steps to reproduce the issue:**

1. Install podman 1

[2020-02-27 15:54] GabyCT commented on #5331
The issue is still there :(

[2020-02-27 16:14] ikke-t commented on #5335
System had some firewalld commands given to open ports. The only thing on RHEL using iptables was the podman network config, until I removed the piece from the config.

I also put it back, as I thought podman works with iptables, but it didn't work. So it was the update of the system that broke the podman root containers external networking all together.

If I now again remove the iptables stanza

[2020-02-27 16:30] ikke-t commented on #5335
Tadaa, success! So if I have firewall defined to firewalld, it all starts to work!

[code]

If I leave the firewall definition part out, root containers don't get to internet. Myth busted. Probably this should be tested again before removing that part from RHEL8.2?

Or perhaps some other changes fix it for 8.2, but on RHEL 8.1 it needs to be this way. Thanks for help.

[2020-02-27 16:31] mheon commented on #5335
Uh-oh.

@baude Eeeeeeek.

[2020-02-27 16:42] ikke-t commented on #5316
I propose you add br_netfilter loading to podman rpm. As otherwise people will fail a lot with this. I fixed it like this on my system:

[code]

[2020-02-27 16:51] rhatdan commented on #4535
We should add the --pull default into contianers.conf

[2020-02-27 16:52] AkihiroSuda opened #5341 "cgroup2: privileged and cgroupns"
The [cgroup v2 KEP](https://github.com/kubernetes/enhancements/pull/1370) which was merged yesterday says "Privileged pods will still use the host cgroup namespace".

Should this apply to:
* `podman play kube`?  (I suggest yes, for Kubernetes compatibility)
* `podman run --privileged`? (I suggest no, for backward compatibility)

[2020-02-27 16:53] mheon commented on #5341
Tend to agree on both. We should also investigate enabling CGroup namespace sharing for our pods - I believe they're still not sharing.

[2020-02-27 17:05] rhatdan commented on #5322
@jobcespedes It would be good if you could write up a blog talking about what you found out.  Then we could link it from podman.io.

[2020-02-27 17:09] GabyCT commented on #5331
ok so it seems that works with podman version 1.8.0, which is weird ...

[2020-02-27 17:12] rhatdan commented on #5306
Is the runtime directory /run not on a tmpfs?  We rely on the /run directory being cleaned on a reboot.

[2020-02-27 17:36] edsantiago commented on #5339
Another one: on f30: https://api.cirrus-ci.com/v1/task/4863888097280000/logs/integration_test.log#t--podman-run---net-container--copies-hosts-and-resolv

[2020-02-27 17:38] rhatdan commented on #5316
Seems like a packaging issue as opposed to an upstream issue.
@lsm5 WDYT?

[2020-02-27 17:42] mheon commented on #5339
Always the same test, seemingly - two execs, one after the other.

[2020-02-27 17:51] mheon commented on #5331
We actually changed the location we fetch images from on Master to avoid the Fedora registries due to issues like this

[2020-02-27 17:51] mheon commented on #5331
That patch might be backportable - there's no real changes aside from where the image we use for the tests lives.

[2020-02-27 17:53] GabyCT commented on #5331
@mheon thanks for all the help , I will close this issue :)

[2020-02-27 17:53] #5331 closed

[2020-02-27 18:11] cevich commented on #4511
In both cases, we're executing w/in a public cloud using in-tree automation logic.  Since it's possible to modify the logic w/in a PR, there's the possibility for malicious things to enter unnoticed.  In other words, a PR could simply modify the build + upload logic to name + sign the file as if it was a release.

I'm not comfortable trusting this public-side automation machinery to hold something

[2020-02-27 18:57] edsantiago commented on #5339
And another one: https://api.cirrus-ci.com/v1/task/6533719171268608/logs/system_test.log

This one is "special_testing_rootless" (I don't know if that's Fedora or Ubuntu) and, more interestingly, it's in the BATS tests instead of ginkgo. Common factor is, as @mheon pointed out, two `exec`s in quick succession.

[2020-02-27 19:41] edsantiago commented on #5339
and another: f30: https://api.cirrus-ci.com/v1/task/5078770545590272/logs/integration_test.log#t--podman-run---net-container--copies-hosts-and-resolv

Have we seen this on f31?

[2020-02-27 19:54] tunip commented on #5306
/run is on tmpfs

[code]

[code]

[2020-02-27 20:20] edsantiago commented on #5339
Extra info: yesterday, at @cevich's suggestion, I tried switching to `vfs` and also some scheduler magic for compatibility with CI:
[code]
Tried an infinite-loop of the `networking` BATS test. No failures. But this is f31, and so far it's looking like all the flakes are happening on f30...?

[2020-02-27 20:25] cevich commented on #5339
Could this be related to the runc/crun thing I'm trying to fix in #5342

(we're using crun in F30 in CI vs earlier we were using runc IIRC)

[2020-02-27 20:57] baude commented on #5339
@cevich yes are we ready to merge that?

[2020-02-27 23:00] groovyman commented on #5269
No one there ?

[2020-02-27 23:30] edsantiago commented on #5339
Bummer. f31: https://api.cirrus-ci.com/v1/task/5474270998429696/logs/integration_test.log#t--podman-run---net-container--copies-hosts-and-resolv

[2020-02-27 23:43] astronouth7303 opened #5350 "Podman hanging"
/kind bug

**Description**

Might be #5291, but I'm not using systemd-spawned containers.

I'm consistently having problems with podman hanging

**Steps to reproduce the issue:**
Ok, this is a multi-terminal thing, but I'll try my best.

I'm starting with a fresh podman instance with nothing else on the system.
[code]
[code]
(The command in 🐚 exits)

[code]
[code]
[code]
Ctrl-C in 🐚 does work, and

[2020-02-27 23:44] astronouth7303 commented on #5350
Oh, and even though `podman rm` throws an error, the container is no longer listed in `podman ps`.

[2020-02-27 23:58] astronouth7303 opened #5351 "Podman hanging with couchdb"
/kind bug

**Description**

Podman+Couchdb consistently hangs.

I don't think this is quite the same as #5350 because I can get this to happen even immediately after I clean out all of podman.

**Steps to reproduce the issue:**

1. `podman run --env COUCHDB_USER=spam --env COUCHDB_PASSWORD=eggs --publish 127.0.0.1:5984:5984 --detach couchdb`

Other podman commands like `podman ps` hang while the a

[2020-02-28 00:34] mheon commented on #5350
Can you reproduce with a `podman run` command with `--log-level=debug` added and provide the output?

[2020-02-28 01:30] edsantiago commented on #5269
I'm sorry; this is beyond me. I spent some time last week trying to recreate your setup, and everything just worked fine for me. I really don't know what else to suggest. Perhaps someone else on the team might have a look next week (we're trying to get a release out the door this week). I am sorry I wasn't able to help.

[2020-02-28 02:50] astronouth7303 commented on #5350
[code]

[2020-02-28 05:49] mheon commented on #5350
Seems like slirp. @giuseppe @AkihiroSuda PTAL

[2020-02-28 07:51] grzegorzk commented on #3659
Hi @dagrayvid - I successfully built container with nvidia drivers and CUDA within it, this comment here helped me: https://github.com/containers/libpod/issues/3155#issuecomment-573288597

Additionally I spotted weird behavior. I was using opencv from within the container and simple code like below was failing until I have executed it from the host first:

[code]

[2020-02-28 08:47] soostdijck opened #5352 "CNI is trying to use iptables while it should use nftables (centos8)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podmanpod is trying to manipulate my firewall via iptables, but I'm using nftables (without firewalld) instead. I've also tried changing my `87-podman-bridge.conflist` to nftables, but that doesn't seem to do anything.

**Steps to reproduce the issue:**

1. Install CentOS 8.1 with podman 1.8.

[2020-02-28 08:52] zhuguoliang commented on #2396
Hi, is there any convention on remapping dirs for overlay?
Here is what I did:
1. do the mounts

mkdir -p /root/mnt
mount -o bind /root/mnt /var/lib/containers/storage/overlay
restorecon  -R -v   /var/lib/containers/storage/overlay

2. check the mounts
after executed the commands above,
there are two mount points for /dev/vdb1 in /proc/mounts

3. do a normal status check

4. recheck the mount poin

[2020-02-28 10:02] TomasTomecek commented on #5276
Sorry for a late reply: travel.

I don't afaik. I recall I played with seccomp some time ago, but I didn't definitely change any defaults.

Bot files are empty.

[2020-02-28 10:45] groovyman commented on #5269
That's ok. I will wait until you release your next version. Please be so kind and make sure, that fedora users get their rpm updates. I will immediately will inform you, in case of any different behaviour.

My testbed (F31 server edition) is a stable but slow environment (J4205 CPU with 4xraid harddisk and EXT4FS). The idea is to check its stability and to optimize it before i gonna migrate it to

[2020-02-28 11:06] cpanato commented on #4414
sorry for the delay, PR today :) @rhatdan

[2020-02-28 15:30] cevich commented on #5339
This task: https://cirrus-ci.com/task/5474270998429696

@edsantiago more data is almost never a bummer, it means we're guessing less :smile:

So mostly F30 but possibly F31 then.  In that task I show:

[code]

[2020-02-28 15:30] baude commented on #5351
can you provide the whole command you are using including the image name?

[2020-02-28 15:46] mheon commented on #5351
I'm thinking this could also be a slirp issue

[2020-02-28 17:45] rhatdan commented on #5269
@vrothberg and I are on PTO this week.  Should give more feedback next week.

[2020-02-28 17:55] #4962 closed

[2020-02-28 18:19] cevich commented on #5339
An example of this in F30 using the new images from #5342 (with crun -> runc fixed)

https://cirrus-ci.com/task/4714742136700928

[2020-02-28 18:21] cevich commented on #5339
(implication being: the problem does not appear to be impacted by anything changed/fixed in that PR)

[2020-02-28 18:31] adamcavendish commented on #5296
Hi I wonder whether there're ways to intall an old version of podman. Since I need to create new VMs and it's breaking my kubernetes installation, is it possible for me to switch back to an old version?

[2020-02-28 18:49] cevich commented on #4511
I think I see a way we could help improve at least the "when and where" of automating this stuff better.  Cirrus-CI recently fixed a problem that was causing post-tag-push testing to not work.  We don't make good use of it now, so it mostly fails. For example: https://cirrus-ci.com/build/5826216389246976

However, since it's impossible for anyone to trigger these runs without upstream-push rights,

[2020-02-28 22:21] jlebon opened #5356 "Can't start a container while a push operation is in progress"
Was trying to push a container image to quay.io and in a separate terminal I tried to start a container based on it. The start operation blocked without any apparent feedback in the terminal or the journal. Cancelling the push allowed me to create it.

Some kind of locking I suppose? If so, seems like they should be using shared lock?

[2020-02-28 22:53] paleozogt opened #5357 "quay.io/podman tags don't match included podman version"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman images on `quay.io` have tags that don't match the version that's in the image.

**Steps to reproduce the issue:**

Tag v1.6.2 has v1.6.2 in it:

[code]

But tag v1.6.5 has v1.6.2 in it (O_o):
[code]

Similarly for v1.8.1-rc2:

[code]

**Describe the results you received:**

The po

[2020-02-28 23:19] astronouth7303 commented on #5351
@baude oops sorry, it's just the dockerhub `couchdb` library image.

[2020-02-28 23:44] mheon commented on #5356
I wonder if this is the c/storage locking that @saschagrunert has been trying to work around with https://github.com/containers/storage/pull/473

[2020-02-28 23:44] mheon commented on #5357
@TomSweeneyRedHat I think you maintain this image?

[2020-02-29 07:34] saschagrunert commented on #5356
If starting containers does not need write access to layers then we could solve it with https://github.com/containers/storage/pull/473. If not, then we can still solve this issues with layer-wise storage locking.

[2020-02-29 11:20] soostdijck commented on #5352
Turns out that if I flush nftables things "just work", but when I load my firewall rules it breaks. Do I need specific chains or something? The only table that I have rules in is `inet filter`...

[code]

[2020-02-29 12:05] bear0330 commented on #5352
+1
Unable to connect to network from container using root on CentOS 8.1
Inside container, I can ping a ip address, but can't do anything else, even curl a ip address not working.
But if I don't use podman by root, it works on slirp4netns net mode.

[2020-02-29 14:13] shlao commented on #2240
I hit this problem again:
After a reboot, I run some scripts to create pod.

+(./04_setup_ironic.sh:128): sudo podman run -d --net host --privileged --name httpd --pod ironic-pod -v /opt/dev-scripts/ironic:/shared --entrypoint /bin/runhttpd quay.io/metal3-io/ironic:master
Error: error creating container storage: the container name "httpd" is already in use by "0bbbfaecbbb46a0ad51b786dd8a7e439868a1

[2020-02-29 15:47] TomSweeneyRedHat commented on #5357
Yes.  Unfortunately when we tag a new Podman release quay.io automatically builds a "stable" version with that release number as a tag.  However, the new release hasn't been made into an rpm yet, never mind getting it through the stable release platform.  So I need to remove them "by hand" and then create the image once it reaches stable.

I'll clean that up in the next day or two.

[2020-02-29 18:00] cryobry commented on #2240
@shlao which version of podman are you running? I found that podman >= 1.7.0 fixed this issue for me. F31 is already at 1.8.0 but it looks like you are using CentOS 7.

[2020-02-29 20:16] edsantiago opened #5358 "f30: could not get runtime: default OCI runtime "crun" not found: invalid argument"
1.8.0-3.fc30 is failing [gating tests](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-f30-build-pipeline/detail/fedora-f30-build-pipeline/1357/pipeline/) with:
[code]

[2020-02-29 21:39] alitvak69 commented on #3924
@lsm5 @matpen Any updates on the topic?  At this point, I can no longer download the source from SuSe build service (no download links) for old source packages.  Ubuntu Packages for 1.8.1 rc2 are no longer being built either (no debs packages in testing repo)

[2020-02-29 21:44] TomSweeneyRedHat commented on #5357
FWIW, I've removed the badly labled tags from that repo.  Podman v1.8 is not yet in stable and our first test sadly pointed to a packaging problem that we'll need to tend to.  I also tried to build a v1.7 variant, but found issues with that RPM.  Will post later versions once they become stable.

[2020-03-01 00:08] mjsteinbaugh commented on #4431
Setting `GPG_TTY=/dev/null` isn't working for me on a CentOS 8 Docker build. I'm doing some additional sleuthing on this, and will post a fix if I can get Google Cloud SDK to install cleanly.

[2020-03-01 03:18] larsks opened #5360 "mountpoint for <blank> not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have an image that builds find for a non-root user. When I try to build it as `root` (`sudo podman build -t test .`), I get the following error:

[code]

**Steps to reproduce the issue:**

1. build an image as `root

**Additional information you deem important (e.g. issue happens only occas

[2020-03-01 03:19] larsks commented on #5360
You can infer this from the error message, but this is failing on a Dockerfile that looks like:

[code]

[2020-03-01 16:17] baude commented on #5360
it is something related to the copr build. i dont have the problem with master.  i also cannot replciate this exatly but i get a different error.

[2020-03-01 16:20] baude commented on #5352
in the cni configuration you are using (/etc/cni/net.d/...) you need to make an adjustment.  remove the "backend" definition of the firewall plugin ... keep the plugin though.

[2020-03-01 17:49] alitvak69 opened #5361 "Podman log issues"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I cannot seem to get my log tags to show up in systemd journal.  Changing tags  to different variables, or just a string has no difference.  Perhaps I don't understand how it should work but so far it makes no sense.
**Steps to reproduce the issue:**

1. I am running a nomad batch job which i

[2020-03-01 19:27] soostdijck commented on #5352
I removed the backend, and podman shows the results correctly... However I still get the exact same error.

[code]

[2020-03-01 20:35] grzegorzk commented on #5321
I tried to build reference package and after spending some time with it I pinpointed the offending package - boto3. I was too fast to jump into conclusions, doh! Apologies.

[2020-03-01 20:35] #5321 closed

[2020-03-01 20:35] #5352 closed

[2020-03-01 21:17] #5361 closed

[2020-03-01 21:31] alitvak69 commented on #5361
We found that tag work, we just had to use journalct like this

journalctl -o verbose CONTAINER_TAG=ubuntu-bionic:

[2020-03-01 22:41] ya-isakov opened #5362 "Unprivileged podman should allow to not use slirp4nets ans still have port forwarding"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It looks like, now Podman is using Rootlesskit to implement port forwarding. This is confirmed by the fact, that incoming packets are seen on loopback interface, not on tap0. So, if I understand correctly, for some containers slirp4netns is not needed at all, e.g. for services which doesn

[2020-03-01 23:07] mheon commented on #5362
Isn't this what `--net=none` does?

[2020-03-01 23:11] groovyman commented on #5269
Dear sirs,
i think i understand, what went wrong. I created a new container using podman-create-run under another user, that serves a web-page. So this is what i get:

[code]

The most recent pod is  `kiki_p05`. The next step was to figure out, if a user-systemd directory exist under `~/.config/systemd/user` , but there wasn't any. So create it.

[code]
and now create my individual service with

[

[2020-03-01 23:54] ya-isakov commented on #5362
Unfortunately, no. I also hoped that it will work, but it doesn't. Two things are not quite right - loopback interface is not up, and it looks like no process is listening for port in host.

[2020-03-02 07:29] praiskup opened #5364 "rootless: can't install httpd into a Fedora container because of capabilities"
With this dockerfile:
[code]
I run `buildah bud .`, and I see:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2020-03-02 07:55] vrothberg commented on #5269
Great, happy that it's working for you!

[2020-03-02 07:55] #5269 closed

[2020-03-02 09:54] laped83 commented on #5364
Adding the needed capability seems to work. I was fighting with the same for iputils. Not sure if this is the correct way to do it.

buildah bud --cap-add="CAP_SETFCAP" .

[2020-03-02 10:04] vrothberg commented on #5220
This looks like we have two podman-image-ls processes running at the same time, right?

[2020-03-02 10:08] vrothberg commented on #4159
@wwilson, catatonit is a _very_ small binary and not performing much work. A year without code changes doesn't necessarily imply the project is dead. Can you point to the bugs? Did you reach out to the maintainers?

[2020-03-02 10:08] NobodyXu commented on #5220
@vrothberg yes, that was what I saw

[2020-03-02 10:29] vrothberg commented on #5220
I believe that https://github.com/containers/storage/pull/473 will improve the situation.

[2020-03-02 10:52] lsm5 commented on #3924
@alitvak69 sorry, there were some dependency issues on the builder image I used for CI. Fixed now, 1.8.1-rc2 is available at https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/podman . There are some build issues for 32-bit which I've already informed upstream about.

@matpen let me know once you have an obs/opensuse account. I'll add you as co-maintainer on the testing proj

[2020-03-02 12:10] marusak opened #5366 "APIv2: Container create requires network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Using APIv2 to create a new container fails with `invalid network`. I just want to create a new container with using only the image name as I would do on command line.

**Steps to reproduce the issue:**

1. `sudo curl --unix-socket /run/podman/podman.sock http://d/v1.12/libpod/containers/creat

[2020-03-02 13:31] cyphar commented on #4159
@wwilson Are these the bugs you're referring to -- openSUSE/catatonit#4 and openSUSE/catatonit#5? I didn't get the impression these were "serious bugs" in the reports -- they are semantic bugs and should be fixed but I haven't had time to look into them (I've been away from home almost consistently for various reasons since Jan 2nd). If those aren't the bugs you're referring to, then I don't belie

[2020-03-02 14:32] rhatdan commented on #5239
The issue is whether or not the UID that owns the cifs-share is available within the User namespace that the user has access too.

If the CIFS share is owned by UID 98765, and is only writeable by user 98765 then all the rootless users has to have 98765 mapped into their User Namespaces.  We do not handle this well at this time.

But another option would be to user default user groups.  If the Gro

[2020-03-02 14:40] rhatdan commented on #5276
[code]

Looking at the log files for containers-common.
[code]

[2020-03-02 15:02] lsm5 commented on #5358
i think this will be handled by https://bodhi.fedoraproject.org/updates/FEDORA-2020-89326b1795 . /cc @cevich

[2020-03-02 15:05] edsantiago commented on #5358
That is literally the build that broke gating tests...

[2020-03-02 15:09] lsm5 commented on #5358
err sorry, i should've noticed the version-release sooner, can we modify gating test to explicitly install crun for f30? @cevich asked me to make crun a weak dep for f30.

[2020-03-02 15:11] edsantiago commented on #5358
f30 shouldn't be requiring or using crun, it should be runc only

I think there's some config file broken maybe? Maybe this is packaging a too-new version from master, and picking up a config file that specifies crun? I haven't dived into it, obviously.

[2020-03-02 15:14] lsm5 commented on #5358
ack, yes. So I got `sed -s 's/^runtime[ =].*"runc/runtime = "crun/' libpod.conf  -i` in the rpm spec file. I guess I should leave it unchanged for f30.  /cc @mheon @cevich

[2020-03-02 15:20] mheon commented on #5358
Yeah, that should be 31 and higher only.

[2020-03-02 15:21] baude commented on #5366
i have a fix for this in my local git as I was fixing a number of issues.  I'll prune it out this morning and make a pr.

[2020-03-02 15:48] cevich commented on #5358
On master, the gate CI task uses a F31 container.  Other branches use lower versions but I'm not going to go looking for problems there :smile:

[2020-03-02 15:50] cevich commented on #5358
oh oops, those aren't the gating tests I was thinking of.  nevermind.

[2020-03-02 16:26] kommulu commented on #5239
Thanks for the additional idea, but all the servers are RHEL-based.
Anyways, I will try and get this to work in some way.
Thanks everybody for your help.

[2020-03-02 16:26] #5239 closed

[2020-03-02 16:29] lsm5 commented on #5358
https://bodhi.fedoraproject.org/updates/FEDORA-2020-ccc3e64ea5

[2020-03-02 18:21] jkisiele opened #5369 "Can't adjust fs.mqueue.* sysctls inside rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello,
Let me preface everything with me saying that I'm not sure this is a bug or just me lacking experience and going against conventional wisdom. If that's the case - forgive me.

I'm trying to create a container as a rootless user with custom values for kernel parameters regarding message

[2020-03-02 19:00] pvr1 commented on #3932
Hi. Found this thread as I had the same error. The error was resolved with
`podman system migrate` and after having completed the /etc/subuid and /etc/subgid entries as mentioned above as a prerequisite. Hope it helps. My system setup is CentOS 7 and I used the latest podman (1.8.0) from the podman.io instructions
`# CentOS 7`
`cd /etc/yum.repos.d/`
`sudo wget https://download.opensuse.org/reposit

[2020-03-02 22:28] rhatdan commented on #5369
Works for me on f32?
Could this be an SELinux issue?

[2020-03-02 22:52] medyagh opened #5376 "feature request: network create does not have "--label""
in minikube we recently added podman as a driver, however we can not create a network with a label like for docker.

the reason for creating a network with a label is, minikube delete should be able to clean up after itself and delete all the created containers and networks.

[code]

is there any chance to match docker on this feature ?

[code]

[2020-03-03 01:00] edsantiago commented on #5336
Here's [an example](https://cirrus-ci.com/task/5167712590626816). As @mheon predicted, it's in the APIv2 test.

[2020-03-03 01:31] baude commented on #5336
I believe you will need to test for both conditions.  As @mheon explained it to me, those cannot be predicted as easy.  In our tests, we have done somethink like isStopped which is stopped || exited.

[2020-03-03 01:37] baude commented on #5376
is it not sufficient to podman network rm -f <name_of_network>?

[2020-03-03 05:34] groovyman commented on #5094
Salut Daniel,
no, it is a tcp-socket! (postgres)

[2020-03-03 06:23] jkisiele commented on #5369
@rhatdan Thank you for the suggestion, but setting SELinux to Permissive was the first thing that I've tried. I should've mentioned it in the OP - sorry.

[code]

[2020-03-03 08:11] groovyman opened #5377 "on system-(re)boot podman locks while starting a pod on a autogenerated systemdfile on F31"
/kind bug

**Description**
i created two containers, that are running under two separate user accounts. After successful podman-build and podman podman-run both container are running. Both container are currently build on FedoraF31, the host is also running a F31-server edition. The hardware (testbed) is a cheap J4205 server with 4 raid disks, the OS is configured to load updates by itself and per

[2020-03-03 08:47] cyphar commented on #4159
I've fixed the two bugs I linked.

[2020-03-03 09:32] vrothberg commented on #4159
Thanks, @cyphar !

[2020-03-03 12:00] saschagrunert opened #5378 "Pushing signed images does not work as expected"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I push an image into `quay.io` via `podman push --sign-by` and the repository has content trust enabled, then the pushed tag does still not show-up as signed.

**Steps to reproduce the issue:**

1. Create a quay.io repo with enabled content trust:
    ![create_repo](https://user-images.git

[2020-03-03 12:56] rhatdan commented on #5378
@vrothberg @mtrmac I think this is quay.io, does not understand simple signing.  And expects things to be signed by notary?

[2020-03-03 13:04] rhatdan commented on #5094
@vrothberg Any ideas?

[2020-03-03 13:06] saschagrunert commented on #5378
My follow-up question on this would be: Which registry understands GPG-based signing?

[2020-03-03 13:11] ah83 commented on #5340
I did another test run. this time with a dummy container image without systemd.

Build:
[code]
systemd service

[code]

The result is the same and i still get about same amount of errors

[code]

[2020-03-03 13:12] vrothberg commented on #5094
If your container needs the postgres service to be running, then you need to add this a dependency.

I assume systemd did.

[2020-03-03 14:06] PauloLaScience opened #5380 "Error when trying podman inspect --format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I get an error when I try to inspect Network Ports. I can get a list but not individual elements
**Steps to reproduce the issue:**

1. Start with podman run a stopped container pw2

2.  podman inspect --format='{{range $p, $conf := .NetworkSettings.Ports}} {{$p}} -> {{(index $conf 0).HostPort}

[2020-03-03 14:37] mtrmac commented on #5378
Quay uses a Notary (-like ?) signing system.

“Simple signing” (the c/image thing) does not quite _require_ registry support; the signatures are stand-alone blobs.

Anyway, the two are not interoperable at all.

AFAIK, there is only one implementation with direct support and no configuration required (just pull/push and the signatures are automatically included), the OpenShift integrated registry;

[2020-03-03 14:46] groovyman commented on #5094
uh yes!

[code]

Thank you!

[2020-03-03 15:04] vrothberg commented on #5094
[code]
... is still outstanding (working on it atm)

[2020-03-03 15:05] rhatdan commented on #5369
Try with --privileged, to see if it is dropped caps or seccomp.
If this works we can dig deeper into what is going on.
If not, then I would guess it is something to do with User Namespace.

[2020-03-03 15:10] groovyman commented on #5094
Ah i see. This belongs to the issue i posted this morning (see my idea at the bottom of my error description.) So the systemctl should wait, until the user-level and the user-account itself becomes vital. (see issue #5377)

As a consequence, i should add the user@1001.service as Requires and After to my systemd.service file. This make sense.

[2020-03-03 15:35] groovyman commented on #5094
I gave the change of the systemd.service file
[code]

a try. With the user@1001.services in the systemd-file the services are not started. Regardless of the change you have to implement, the system is still failing to run my services. (see #5377). There is another problem.

[2020-03-03 15:40] groovyman commented on #5377
Some updates. (see also #5094) The services are not being launched if i extend the the systemd-service-file with dependencies to user@1001.service.

[code]

user@1001.service
After=user@1001.service

[2020-03-03 15:44] groovyman commented on #5094
I think the user@1001 service is wrong, because when i try:

[code]

[2020-03-03 15:49] vrothberg commented on #5094
I believe that's not something we can control. Systemd manages that alone. I need to test a bit in a VM. There's a dedicated run-mount service for each user.

[2020-03-03 15:50] groovyman commented on #5094
Yes how do you access the postgres.service out of a systemd-user-scope.
[code]

[2020-03-03 16:22] jkisiele commented on #5369
Tried as instructed (with SELinux in Enforcing and Permissive mode), got the same result.

[code]

[2020-03-03 16:46] paleozogt commented on #5357
It looks like 1.8.0 is available via `yum`, but not the other post 1.6.2 builds:
[code]

[2020-03-03 17:14] avikivity commented on #4483
I'm seeing this problem; is there any resolution? The user is a distcc daemon, so I can't expect it to spawn a dbus-daemon process.

[2020-03-03 18:25] AkihiroSuda commented on #5341
@giuseppe WDYT?

[2020-03-03 18:52] decosvaldo opened #5384 "Problem running via systemd after upgrade from 1.4 to 1.6.4"
Hi everybody.

I'm using podman in CentOS 8, which was recently upgraded to the version 1.6.4. After the upgrade, I'm facing an issue when starting the container via Systemd with the detach option.

I'm using rootless containers and one of my systemd files are bellow:

[code]

Everything was working correctly. But now, when running via systemd, I receive an error when starting and this log informa

[2020-03-03 19:31] #5336 closed

[2020-03-03 20:21] rhatdan commented on #5369
Ok it looks like user namespace then.

podman unshare cat /proc/sys/fs/mqueue/msg_max

[2020-03-03 20:23] rhatdan commented on #5369
$ podman run --rm   docker.io/library/centos ls -l /sys/fs/mqueue/msg_max
$ podman run --rm   docker.io/library/centos cat /sys/fs/mqueue/msg_max
$ podman run --rm   docker.io/library/centos bash -c "echo 20 > /sys/fs/mqueue/msg_max"

[2020-03-03 21:42] gartnera opened #5386 "apiv2: test using docker-py integration tests"
/kind feature

**Description**

Consider using the docker-py integration tests to measure the progress on the apiv2 development effort. This is what the output of the tests look like with `dockerd`:
[code]

This is what the output of the tests look like with `podman system service -t 0`:
[code]

There's clearly a long way to go on development. This would also help potential users understand what i

[2020-03-03 21:44] baude commented on #5386
take a closer look at the tests ... they use swarm and a bunch of stuff we will never do.

[2020-03-03 21:45] baude commented on #5386
they also dont support multiple registries and consider docker.io to be the one and only registries making their short name use difficult to deal with.

[2020-03-03 21:48] jkisiele commented on #5369
Okay, I've modified the msg_max parameter to a value on the host machine to one different than default (10) to illustrate better. No idea if this will help but trying my best to make things easier for everyone involved.

[code]

For the last three I'm guessing there should be a /proc prefixed to the path:
[code]

The contents of my /etc/subuid and /etc/subgid were generated during installation and

[2020-03-03 22:03] gartnera commented on #5386
Yep those aren't features I care about either. But it's a great way to demonstrate to potential adopters what works with apiv2 (in a very granular fashion). I'm not even necessarily saying run it with your normal CI pipelines, maybe just run it for every release.

This doesn't seem to be particularly relevant to this issue (unless I'm misunderstanding).

If you want apiv2 to be compatible with the

[2020-03-03 22:59] baude commented on #5386
it matters because several of the tests fail because of it.  again, so many of the tests use functions that we won't support I wonder how to make any of it applicable.

[2020-03-04 08:31] giuseppe commented on #5341
I would prefer that we are uniform here and both `--privileged` modes use the host cgroup namespace.  I think we are still in time for such a breaking change for `--privileged` on cgroup v2 :-)

[2020-03-04 08:43] AkihiroSuda commented on #5341
Either is fine to me

[2020-03-04 08:54] matpen commented on #3924
@lsm5 I registered on openSUSE and can now login to OBS. My username is the same as here on GitHub. Let me know if you need further info to set things up.

[2020-03-04 09:22] zaro opened #5391 "Can't use official docker images like docker:stable"
/kind bug

Can't use the docker:stable ( docker:19.03 also fails ) image with latest podman.

**Steps to reproduce the issue:**

1. Create docker file

        echo 'FROM docker:stable' > Dockerfile

2. Try to build it

       $ podman build .
       STEP 1: FROM docker:stable
       Error: error creating build container: while pulling "docker:stable" as "stable": error parsing
       attempted im

[2020-03-04 10:00] ah83 commented on #5340
A workaround for this problem is to use cgroupfs as cgroup-manager, so systemd is out of the loop regarding cgroups.

[code]
Every container has its own libpod-... cgroup and i can set memory limits.

[2020-03-04 10:05] vrothberg commented on #5391
Hi @zaro, thanks for taking the time to open the issue. Can you try using `FROM docker.io/library/docker:stable`? This should work.

There must be a parsing bug in Buildah (Cc @TomSweeneyRedHat) that checks for `docker:` prefix instead of a `docker://` prefix to match against the docker-transport in the containers/image library.

[2020-03-04 10:07] zaro commented on #5391
@vrothberg  indeed this works.

[2020-03-04 10:25] saschagrunert commented on #5378
Thanks for the clarification @mtrmac :pray: I wrote up a little tutorial [in a GitHub gist](https://gist.github.com/saschagrunert/1d0b3cc40ce0418558d7c2a5a8fe8a1c). I'm wondering if it would be worth the effort to add it to this repo. WDYT?

[2020-03-04 11:21] rhatdan commented on #5369
@giuseppe Does this work for you?

[2020-03-04 11:36] rhatdan commented on #5341
We have set a precedent that --privileged does not effect namespaces only security controls.  I don't think we should change that.

[2020-03-04 12:05] giuseppe commented on #5341
I think the goal is to be uniform with what Kubernetes does.  It was agreed to not unshare the cgroup namespace as there is currently no way to set it in Kubernetes and was also considered a breaking change.

Not sure how much we should care though.

[2020-03-04 12:10] giuseppe commented on #5369
I think the kernel is blocking it:

[code]

[2020-03-04 14:32] rhatdan commented on #5391
This is a pretty serious bug.  Should be moved to buildah.

[2020-03-04 14:56] TomSweeneyRedHat commented on #5391
Closing as this issue has been moved to Buildah https://github.com/containers/buildah/issues/2205

[2020-03-04 14:56] #5391 closed

[2020-03-04 15:07] vrothberg commented on #5384
Hi @decosvaldo, thanks for taking the time to open the issue.

@giuseppe, does that ring a bell?

[2020-03-04 15:13] shanemcd commented on #4648
I am seeing something similar to this while trying to run (rootless) Podman inside of a privileged container running under Docker for Mac:

[code]

[2020-03-04 15:25] mheon commented on #4648
You need to mount /sys/fs/cgroup into the outer container to resolve that

On Wed, Mar 4, 2020, 10:13 Shane McDonald <notifications@github.com> wrote:

[2020-03-04 15:25] mheon commented on #4648
The complication is that said mount must be from the Linux VM, not the Mac
host's filesystem

On Wed, Mar 4, 2020, 10:24 Matthew Heon <matthew.heon@gmail.com> wrote:

[2020-03-04 15:54] shanemcd commented on #4648
Thanks for the quick response. Getting closer. Now I'm seeing:

[code]

Dont want to hijack this issue, so I'll poke elsewhere. Thanks again.

[2020-03-04 15:58] #4628 closed

[2020-03-04 18:21] rhatdan commented on #5369
So this is a kernel issue.

[2020-03-04 18:21] #5369 closed

[2020-03-04 20:53] edsantiago commented on #5339
We are wasting unbelievable amounts of time because of this bug. I just did a pass through submitted PRs, and a number of them are in red-X state because of this bug. (I restarted the tasks).

I have been unable to reproduce it in any test environment: f30, f31, overlay, vfs, `--root /tmp/xx`. I'm starting to think it might be something in how podman is compiled in the CI environment.

Here is a s

[2020-03-04 20:58] edsantiago commented on #5339
Oh wait,  there's a [new error now](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5744413083172864/html/integration_test.log.html#t--podman-run---net-container--copies-hosts-and-resolv--2):
[code]
Happening in the same place the "timed out waiting for file" error happens. It, too, is a flake (goes away on retry). Any ideas?

[2020-03-04 21:02] rhatdan commented on #5339
@haircommander @giuseppe Conmon? crun?

[2020-03-04 21:13] haircommander commented on #5339
hm this is from https://github.com/containers/libpod/pull/5373, which was supposed to fix this flake. Maybe I missed a case

[2020-03-04 21:15] edsantiago commented on #5339
Oh, thank you. It's a huge relief to know that this is getting attention.

[2020-03-04 21:24] haircommander commented on #5339
Unfortunately, making the change above only moved how podman failed here. There's still some issue where it seems conmon is crashing when consecutive execs happen on a system under load. That's all the details I have right now, unfortunately. I'll try to give this some love in the next couple of days, but there's a lot on my plate this week :confused:

[2020-03-05 10:54] vrothberg commented on #5094
FWIW I cannot reproduce on F31 rootless. In case of root, we had to add network dependencies which is addressed with https://github.com/containers/libpod/pull/5382.

Can you try `run-user$UID.mount` instead of `user@$uid.service` and see if that works for you?

[2020-03-05 10:56] vrothberg commented on #5377
Closing as we already discuss ~ the same issue in https://github.com/containers/libpod/issues/5094.

[2020-03-05 10:56] #5377 closed

[2020-03-05 11:42] abitrolly commented on #3990
@ChristianCiach have you been able to come up with tutorial for your colleagues?

[2020-03-05 11:44] #4130 closed

[2020-03-05 14:25] groovyman commented on #5094
1. yes i am also running the service rootless.
2. Sad to say, not successful.
[code]
The weird thing is, that he did not forget old depencencies.

I think the database dependency can be implemented by connecting to the db-listner by `ExecStartPre`, but anyway i would expect a symbol here like `postgres@postgres.service`.
I think, it is time for a deep look into the manuals.

[2020-03-05 14:28] vrothberg commented on #5094
@groovyman, can you try with a simpler service, maybe just running `podman run -d alpine top`? Once we have this running on your machine, we can tackle your more complex scenario.

[2020-03-05 15:08] cevich commented on #4511
Update: Github-Actions supports both Windows and MacOS container-based automation (in addition to Linux).  Doing the build/certify/signing of packages there solves all the trust, license, and cloud issues I identified.  We can encode secrets (private keys) within github such that they are not exposed in cirrus or public clouds.  Conveniently, triggering is branch centric, meaning the workflow/proc

[2020-03-05 15:09] cevich commented on #5100
Consolidating this into #4511

[2020-03-05 15:09] #5100 closed

[2020-03-05 15:09] shawnweeks opened #5403 "Podman and Docker IPv6 Compatibility Differs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. Install CentOS 8 with IPv6 Enabled

2. Install latest PodMan

3. Attempt to start Keycloak instance
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (

[2020-03-05 15:10] cevich commented on #4501
Related: #4511  (meaning: We really should be doing build/release work from automation on the `$DEST_BRANCH` head).

[2020-03-05 15:11] shawnweeks commented on #5403
https://unix.stackexchange.com/questions/566812/keycloak-failing-to-start-with-failed-to-resolve-interface-private/

[2020-03-05 15:15] mheon commented on #5403
Can you provide more details on the failure here? I don't think any of our developers are particularly familiar with Tomcat, so more details on what's going wrong would make this much easier.

Is Tomcat trying to bind to an IPv6 address inside the container?

[2020-03-05 15:18] shawnweeks commented on #5403
It's Wildfly not Tomcat but I'm not exactly sure what the failure is. If I disable IPv6 on CentOS 8 in Grub it goes back to working. I'm trying to narrow it down now.

[2020-03-05 15:36] shawnweeks commented on #5403
Network inside the container looks like this. I'm assuming WildFly is trying and failing to bind to all addresses.
[code]

[2020-03-05 15:40] shawnweeks commented on #5403
There maybe something else going on. For some reason podman is pulling a really old version of Keycloak instead of the current one in docker hub.

[2020-03-05 15:49] shawnweeks commented on #5403
Realized I wasn't testing against the same versions. The issue seems to be that Podman presents an IPv6 interface inside the container that might not actually allow binding and Docker does not.

This is docker based
[code]

This is podman based
[code]

[2020-03-05 17:09] boogie777 opened #5405 "podman search in private registry fails : error unauthorized: authentication required"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.
podman search debian
ERRO[0000] error getting search results from v2 endpoint "registry.bob.io": unable to retrieve auth token: invalid username/password: errors:
denied: requested access to the resource is denied
unauthorized: authentication required
IND

[2020-03-05 17:47] bruno-anjos opened #5406 "libpod and varlink version (ctx context)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I generate the Go Bindings for the Podman Varlink API, it uses methods from the `varlink.Connection` yet it does not provide the first argument that is required, which should be `ctx  context`.

**Steps to reproduce the issue:**

**Describe the results you received:**

**Describe the res

[2020-03-05 18:18] rhatdan commented on #5406
Is there a reason you want to do this with Varlink, versus APIV2?

[2020-03-05 19:33] baude commented on #5406
@rhatdan dont assign this to me! you already stated you didn't want this fixed when Jhon asked you about it.  Are you changing your mind?  Harald changed the the varlink api which broke us

[2020-03-05 19:40] rhatdan commented on #5406
Don't recall.  Anyways just looking for your comment.
@bruno-anjos We are deprecating varlink support.  We would love to work with you on APIV2 support.

[2020-03-05 19:40] #5406 closed

[2020-03-05 22:26] jobcespedes commented on #5322
Here is a [Draft](https://jobcespedes.github.io/2020/03/alias-docker-podman/) for the Blog idea. Planning on posting on Dev.to

Let me know what you think.

[2020-03-06 08:27] PieperCH opened #5411 "Podman always uses /var/tmp for loading docker images and not removing the files after loading"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using podman load with image on commandline it always creates temporary files in /var/tmp. This is ok for temporary usage, but as podman doesn't remove the file afterwards. It's also hardcoded to use /var/tmp for loading the files.
As a result /var/tmp is running out of memory when loadi

[2020-03-06 09:28] michaeladler commented on #4725
Ok, so I think I have nailed down this problem a little further:

1. Run debian:buster-slim in a privileged container, e.g. `docker run --privileged debian:buster-slim /bin/bash` (or podman instead of docker)
2. `apt-get update && apt-get install -y qemu-user-static`
3. `mount | grep binfmt`

If the container was created using docker, you will see the line `binfmt_misc on /proc/sys/fs/binfmt_misc

[2020-03-06 10:39] karlyeurl commented on #5411
It's amusing that I was preparing a similar bug report, because I encountered the same issue in an environment where `/var` is on a ridiculously small partition.

I would like to point out that `libpod/runtime_img.go` also contains two ocurrences of `ioutil.TempFile` with a hardcoded reference to `/var/tmp`.

If there is no good reason to force these values, I can make a PR with the necessary chan

[2020-03-06 12:01] tunip commented on #5306
removed .config and .local directorys and started from scratch. Now it works also after a reboot.

[2020-03-06 12:18] rhatdan commented on #5306
Great, happy to hear that.

[2020-03-06 12:23] bruno-anjos commented on #5406
There is no reason for me to use the old API versus the new one. I just read the New API announcement in the blog, and I thought the varlink API was still the one fully implemented and working, therefore the one I should be using.

Is the new APIV2 already in a usable state? I would also be using Go, so the bindings mentioned in the post would also be really useful. Is there anything you can point

[2020-03-06 12:48] rhatdan commented on #5406
Well it is under heavy development, but for most use cases it is probably ready.  @baude could give you the most up2date information, and the documentation on it is pretty good.

Any help you can give us on testing would be greatly appreciated.

[2020-03-06 13:24] AkihiroSuda commented on #5341
Any ETA of the final decision?

[2020-03-06 14:38] aleks-mariusz opened #5413 "issue cross-compiling podman for armv6.."
/kind bug

**Description**

Having gotten tired of docker using up the little memory on my rapsberry pi Model B, i decided to try podman.  I've gotten this to build previously but when trying to use rootless mode, i seemed to have been affected by [this issue](https://github.com/containers/libpod/issues/5314) so i git pull'd to get the latest and tried a 2nd time to uncompile, this time unsuccessf

[2020-03-06 14:39] vrothberg commented on #5405
Thanks for opening the issue. Does it work when doing `podman search --authfile $file ...`?

[2020-03-06 14:41] mheon commented on #5413
Can you try master? I think we may have fixed this with a revendor of containers/selinux

[2020-03-06 14:42] vrothberg commented on #5413
Yes, this has been fixed in master.

[2020-03-06 15:05] vrothberg commented on #5405
That's the wrong path actually. By default, Podman is using `${XDG_RUNTIME_DIR}/containers/auth.json` which usually is `run/user/$UID/containers/auth.json`.

Can you copy the file there instead and retry?

[2020-03-06 15:45] sshnaidm commented on #4654
FYI modules have been moved to new place: https://github.com/containers/ansible-podman-collections/pull/3

[2020-03-06 16:15] rhatdan commented on #4725
Ok the difference seems to be your image is running the entrypoint of  --entrypoint=/kas/docker-entrypoint which is mounting or causing to mount the binfmt_misc mountpoint.

For some reason podman is not executing this or it is failing to mount.

[2020-03-06 16:17] rhatdan commented on #4725
@giuseppe I checked this against runc and crun and podman does them the same either way.

[2020-03-06 16:45] aleks-mariusz commented on #5413
selinux has been fixed in master, what i am opening _this_ issue about is

[code]

if you closed it because of selinux is fixed then that is not what this issue is about, please re-open..

[2020-03-06 16:56] vrothberg commented on #5413
Apologies for missing that! Repoened the issue.

[2020-03-06 18:53] boogie777 commented on #5405
Hello @vrothberg , thx for you answer.
i tried ( and removed the file from previous path)  but got the same result

 echo ${XDG_RUNTIME_DIR}
/run/user/1000
 boogie@boogieland  /run/user/1000/containers  cat auth.json
{
	"auths": {
		"registry.bob.io": {
			"auth": "xxxx"
		}
	}
}
 boogie@boogieland  /run/user/1000/containers  podman search debian
ERRO[0000] error getting search results from v2

[2020-03-06 20:07] thoraxe opened #5416 "cannot access /dev/fd/1 from UID!=0"
/kind bug

**Description**
When trying to run supervisord inside a container with podman and UID!=0 you get:
IOError: [Errno 13] Permission denied: '/dev/fd/1'

**Steps to reproduce the issue:**
1. podman run image

**Describe the results you received:**
https://gist.github.com/thoraxe/0139d451ba627b488683a83204ddf6e7

**Describe the results you expected:**
Image runs

**Additional information you

[2020-03-06 20:08] mheon commented on #5416
@rhatdan @giuseppe @vrothberg I feel like this happened before, but I can't seem to find details. Any ideas?

[2020-03-06 20:12] thoraxe commented on #5416
I was previously using F28 and it worked there, so whatever podman version was present in F28 as of a few months ago it worked. You can use quay.io/openshiftroadshow/lab-ocp-ocs:ocp4-prod to test with

[2020-03-06 21:34] st1971 commented on #5416
this may have something to do with no tty being allocated...
`podman run --rm quay.io/openshiftroadshow/lab-ocp-ocs:ocp4-prod`
fails
`podman run --rm -t quay.io/openshiftroadshow/lab-ocp-ocs:ocp4-prod`
works (well for me)

[2020-03-07 10:29] ttys3 opened #5419 "podman exec -i import large .SQL file got stuck"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

run `sudo podman exec --log-level debug -i `  on a container with command which need read a large file (about 1.2GB)  into stdin got stuck after few seconds and no error output the the pipeline seems not work too

**Steps to reproduce the issue:**

1. run mariadb container
[code]

`sudo podma

[2020-03-07 12:30] rhatdan commented on #5322
Looks great, thanks.

[2020-03-07 13:11] Snapstromegon opened #5420 "CentOS7 can't execute rootless containers with slirp4netns installed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I installed a fresh CentOS 7 VM and tried to install podman from the default repo, the stable opensuse binarys and the testing ones, but as soon as I install slirp4netns for rootless networking the containers fail to start.

I'm ultimatively trying to install podman without root access (given

[2020-03-07 13:42] pwFoo opened #5421 "[Question] Problem to start container with special / custom host"
Hi,
I have a special and minimal host setup based on busybox with iptables, crun runtime and podman on build running (at the moment) from initrd.

maybe something is missing, because I get that error message if I try to start a podman container.
[code]

cgroup v2 is mounted
[code]

[code]

Containers started with crun working fine.
[code]

I know it isn't easy because of the very special host setu

[2020-03-07 15:00] st1971 commented on #5416
had a bit more of a poke about on this, possibly a crun problem, think it's creating fifos with incorrect ownership.
with crun:
`podman run --rm --user 1000:1000 fedora:31 /bin/bash -c 'ls -lah /dev/fd/1; while true; do echo "test" > /dev/fd/1; sleep 2; done;'`
fails with permission denied, if i use lsof on the host to find the underlying fifo that's being used that fifo is owned uid 1000, the sym

[2020-03-07 16:25] giuseppe commented on #5416
that should be fixed with conmon 2.0.11: https://github.com/containers/conmon/pull/112

[2020-03-07 16:52] fansari commented on #5291
This is really annoying. Sometimes it works and sometimes it does not work. I would expect to have my containers in place after booting. This works for root containers - for my rootless containers it works like  this: sometimes both are up, sometimes both are hanging and sometimes just one container is up (but not always the same container) and the other hanging.

Some days ago my ldap container w

[2020-03-07 18:02] groovyman commented on #5094
Yeah, i did not, because i described two of my container (a more compex one and a simple one) that already was quite simple enough to play with it. But, got the solution to this problem, the very first idea of that solution was described in #5377.

Under "An ideas" is i described my impression/approach, that the user context has not been completly setup to run the container. I described the situat

[2020-03-07 20:45] mheon commented on #5419
Likely related to https://github.com/containers/libpod/issues/5046

[2020-03-07 20:46] mheon commented on #5420
@giuseppe @AkihiroSuda PTAL - looks like a non-zero return out of slirp, but no error message?

[2020-03-07 20:47] mheon commented on #5421
You mention containers started with crun - what do you mean by that? Are you manually crafting OCI specs and passing them in? If so, can you provide one of those, so we can see cgroup configuration in the spec?

@giuseppe PTAL

[2020-03-07 20:54] pwFoo commented on #5421
Sorry, my bad...

Running container with crun works fine with my setup. Podman just try to start an alpine image like that
[code]

Used default libpod config with runtime changed to crun and `no_pivot_root = true`.
Host use busybox init. So no systemd, firewalld or something else.

Any hint where to search for my error message? Missing kernel module? Missing libraries / dependencies?

[2020-03-07 21:44] AkihiroSuda commented on #5420
Should be fixed in https://github.com/rootless-containers/slirp4netns/commit/e6b31feb414766a7760a3cba453838a9170c4e97

[2020-03-07 21:51] Snapstromegon commented on #5420
@AkihiroSuda I had v0.4.3-beta.1 installed. I assume this is a beta version which didn't have that fix yet. I'll try it in the next days.

[2020-03-07 22:59] kernel-io commented on #5291
I've been having weird issues where sometimes a pod will just stop forwarding a port, sometimes it is midway through operation, other times it is when I restart a container within the pod (the one exporting the port). I'm also on Fedora Silverblue 31, it's doing my head in. Sometimes I need to reboot multiple times for it to start working again. I'm running it rootless also.

[2020-03-07 23:50] am-oxipay commented on #5249
I think I'm hitting this in production with a rootless .NET Core kestrel application that listening on port 8088.

If I create the image  with :

$ podman create -p 8088:8088 --pull=never --name=qux 2cb6474985da
$ podman start qux

The kestrel instance inside the container throws an exception while trying to bind to 8088. Address already in use. However netstat on the host doesn't list anything li

[2020-03-08 07:46] wlodekb commented on #4373
@drpaneas Since it is closed, is there any issue (maybe PR) which tracks it?

[2020-03-08 09:22] mritd opened #5422 "Missing podman 1.8.0 conmon binaries on ubuntu 18 system"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

missing podman 1.8.0 conmon binaries on ubuntu 18 system

**Steps to reproduce the issue:**

1. Install podman according to [official documentation](https://podman.io/getting-started/installation)

2. Execute `podman ps` command

3. An error message appears: `Error: error creating libpod runt

[2020-03-08 13:21] Snapstromegon commented on #5420
slirp4netns v0.4.3 (non beta) solves the problem.
Now I have problems with "Failed to add conmon to cgroupfs sandbox cgroup", but this doesn't seem to be related, so I close this issue.

[2020-03-08 13:21] #5420 closed

[2020-03-08 13:26] DsDeesu commented on #5422
Same here, Ubuntu 18.04. Installed with instructions from https://podman.io/getting-started/installation.

Error: could not get runtime: could not find a working conmon binary (configured options: [/usr/libexec/podman/conmon /usr/local/libexec/podman/conmon /usr/local/lib/podman/conmon /usr/bin/conmon /usr/sbin/conmon /usr/local/bin/conmon /usr/local/sbin/conmon /run/current-system/sw/bin/conmon])

[2020-03-08 14:59] ReveredMachine commented on #5422
A previous provided build of 1.8.0 for ubuntu 18.04 was working properly. Is there anyhow a way to get a previous build of the version 1.8.0 via apt-get ?

[2020-03-08 15:26] mritd commented on #5422
@ReveredMachine You can make it work by manually compiling conmon:

[code]

But this is not the best solution ... I still can't believe the lack of binary files in deb (theoretically, it should pass the test before releasing the release version).

[2020-03-08 15:32] mritd commented on #5422
I even look forward to officially adding a `make deb` option to the Makefile so that we can build deb packages on our own; however, most open source projects are built by a dedicated repository, and the repository contains a more professional package build configuration (I prefer fpm to package, because I don't want to learn build specifications for specific packages... 😂)

[2020-03-08 15:37] mritd commented on #5422
Similar to the kubeadm official documentation, it is best practice to use the `apt-mark hold` command to maintain the version after the specific version is installed, so that we don't have to worry about problems caused by accidental upgrades 😂

[2020-03-08 16:04] #5411 closed

[2020-03-08 16:18] rhatdan commented on #5416
@giuseppe @jnovy @lsm5 Looks like conmon-.2.0.11 is built for F31, but not in updates testing?

[2020-03-08 19:39] johscheuer commented on #5422
Related: https://github.com/containers/conmon/issues/126 (or probably the issue)

[2020-03-08 20:25] Diaoul commented on #5422
So, I wanted to try podman for the first time and encountered this bug. This is rather embarrassing :laughing:

[2020-03-08 21:33] hunleyd commented on #5422
Ran into this after upgrading to conmon-2.0.11-2 from conmon-2.0.10~2

[2020-03-08 21:45] wdouglascampbell opened #5423 "podman generate systemd creates incorrect WantedBy for user services"
/kind bug

**Description**

I'm using podman to generate a systemd service file.  I am planning to run the container rootless and use systemd to automatically start the container.

I have enabled linger.

**Steps to reproduce the issue:**

1.  Generate systemd.
[code]
2.  Reload User Service Units.

[code]

3.  Enable Service.

[code]

4.  Reboot

**Describe the results you received:**

No attempt

[2020-03-08 22:00] mheon commented on #5423
@vrothberg PTAL

[2020-03-08 22:00] ReveredMachine commented on #5422
@mritd Thank you for the hint regarding _apt-mark hold_ with this I can prevent an upgrade from podman which I have already installed on a machine. But unfortunately this will not help if I have to install it on another machine too.
It seems to be that it also will not work if I install conmon manually (see comment from @hunleyd) or am I wrong ?

[2020-03-08 23:36] TomSweeneyRedHat commented on #5422
@lsm5?

[2020-03-09 03:20] mritd commented on #5422
@ReveredMachine

@ReveredMachine I tested by manually compiling conmon that works.

[2020-03-09 08:59] vrothberg commented on #5423
Thanks for opening the issue, @wdouglascampbell! I will have a look at it asap.

[2020-03-09 09:20] vrothberg commented on #5291
This might be due to missing network dependencies. We have fixed it in master with https://github.com/containers/libpod/pull/5382 and it will be part of the next podman release.

[2020-03-09 09:35] vrothberg commented on #5405
@boogie777 the auth file only points to `registry.bob.io` which won't match `paasregistry.ilius.io`.

[2020-03-09 10:43] ReveredMachine commented on #5422
@mritd I also tested it, and it worked. Thus for a development system it can be done as a feasible workaround.
But for none development systems the development packages (build-essential libc6-dev libglib2.0-dev) will usually not be instzalled, so there this kind of workaround is not a good solution.

[2020-03-09 11:03] lsm5 commented on #5422
sorry about that everyone. Fixes building on testing and stable repos: https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/conmon and https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/conmon . Should be installable in a bit.

[2020-03-09 11:04] barseghyanartur commented on #4057
@wishachu:

That worked well for me. Thumbs up!

[2020-03-09 11:16] vrothberg commented on #5423
I opened https://github.com/containers/libpod/pull/5427 to address the issue. I couldn't reproduce your issues in my VMs but tested https://github.com/containers/libpod/pull/5427 successfully for system and user services.

[2020-03-09 11:21] vrothberg commented on #5291
https://github.com/containers/libpod/pull/5427 may actually be more relevant in the rootless case.

[2020-03-09 11:23] vrothberg commented on #5094
https://github.com/containers/libpod/pull/5427 will fix parts of the reported issues here as well.

[2020-03-09 13:32] vrothberg commented on #5215
@spidercatnat can you try `podman load` instead of `podman import`? Import is usually done on tar balls that have been `podman export`ed.

[2020-03-09 13:38] vrothberg commented on #4648
@Noah-Huppert did you try running rootless but with `crun` instead of `runc`?

[2020-03-09 14:53] mritd commented on #5422
@lsm5 Thanks for fixing this, it has worked after testing. Should I close the issue or wait for feedback from others?

[2020-03-09 14:56] ctron opened #5430 "Builds fail with "no such device or address""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

All of a sudden podman stopped building images, when it tries to commit the first build step, it always fails with `no such device or address`:

**Steps to reproduce the issue:**

1. I don't how to get podman into this state

2.

3.

**Describe the results you received:**

[code]

**Describe

[2020-03-09 14:59] #5422 closed

[2020-03-09 14:59] rhatdan commented on #5422
I closed issue, reopen if this was a mistake.

[2020-03-09 15:00] rhatdan commented on #5430
Could you try the podman release that is in updates-testing?

[2020-03-09 15:01] rhatdan commented on #5430
Also make sure you have the latest crun and fuse-overlayfs

[2020-03-09 15:45] ctron commented on #5430
I just figured out, that it doesn't seem to be an issue with my machine, but with the base image:

It fails with `FROM registry.fedoraproject.org/fedora-minimal:31`, but works when I change back to `registry.access.redhat.com/ubi8/ubi-minimal`.

[2020-03-09 15:45] ctron commented on #5430
If you can tell me "how", sure.

[2020-03-09 15:53] drpaneas commented on #4373
My memory doesn't serve me at the moment. I remember there were some PRs  for fixing 1 or 2 issues, yet there were more problems that need to be addressed. When I will give it a try next time, I will be more concrete.

[2020-03-09 16:01] ChristianCiach commented on #3990
@abitrolly Sorry for the late reply, but yes, creating a simple wrapper that calls "podman unshare" before calling "podman run" works as expected. This is good enough for my use case.

[2020-03-09 16:07] mheon commented on #5413
#5429 should fix

[2020-03-09 16:22] jwhonce commented on #5413
Additional information...

Using a Raspberry PI 4 with ubuntu 19.10 64-bit, Built on-board, not cross compiled.

`make BUILDTAGS='seccomp apparmor'`

[code]

[2020-03-09 16:42] greenpau commented on #5352
@soostdijck , what were the rules, i.e. table, chain? How did you deal with them?

For example, I have the following config:

[code]

[2020-03-09 17:06] #5423 closed

[2020-03-09 17:40] rhatdan commented on #5430
dnf -y update podman --enablerepo=updates-testing

[2020-03-09 17:46] rhatdan commented on #5413
I believe this is fixed in master.

[2020-03-09 17:46] #5413 closed

[2020-03-09 18:24] Schrottfresse opened #5431 "CNI: Make firewalld rules --permanent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I configured CNI to use firewalld as firewall backend and added my podman network interface to the `trusted` zone. When I'm reloading firewalld (`firewall-cmd --reload`) all my podman related rules go missing. I'd like to have the ability to make the podman firewalld rules --permanent.
(I'm s

[2020-03-09 18:32] Schrottfresse opened #5433 "Dangling file in /var/lib/cni/networks/podman after hard restart"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

My server restarts hard occasionally (as in I have a brownout because my fuse triggers). When this happens I have the same dangling files reported [here](https://github.com/containers/libpod/issues/4526) and [here](https://github.com/containers/libpod/issues/3759). Podman has no possibility t

[2020-03-09 18:40] wdouglascampbell commented on #5423
Yep.  Just got to test adding the WantedBy=default.target to what was already generated and that works.  Thanks!

[2020-03-09 18:40] mheon commented on #5433
I'll take this one.

[2020-03-09 18:46] mheon commented on #5431
I don't think we can do this because we want the rules to disappear after reboot.

We've talked about this before, and the best we think we can do is offer a command that forces network reconfiguration for all running containers, recreating the rules.

[2020-03-09 19:28] boogie777 commented on #5405
Hello, thanks for your answer :this is a fake registry as i wanted to quickly hide the real name ..i wrote this name just for exemple ..
there's only one registry tested and the result is the one provided ... impossible to search even if the authent file has been set in the ${XDG_RUNTIME_DIR}/containers/auth.json.
Feel free to ask me to try something else. Thx for your help.

[2020-03-09 20:17] mheon commented on #5433
@Schrottfresse Any chance you can test #5434 and see if this resolves it?

[2020-03-09 20:17] jonasbb commented on #5046
This issue now blocks compatibility with the VSCode Remote extension (https://github.com/microsoft/vscode-remote-release/issues/116#issuecomment-596487771).

[2020-03-09 20:54] Schrottfresse commented on #5433
@mheon I will try to do it the next days.

[2020-03-09 21:07] jan-hudec commented on #5046
@edsantiago,

Could it be a timing issue then? Writing `/dev/null` is faster, because the kernel does not even bother copying the data. And the first test where it wrote less data the first time suggests the same—first run is slower, because the executable code is not cached yet.

[2020-03-09 21:22] #4950 closed

[2020-03-09 21:34] baude commented on #5431
@mheon doesnt this also make some assumptions about the network stack being exactly the same each time as well?  Given that we have zero interaction with firewalld itself, this seems nearly impossible.

would it be possible to have something like a run-hook option where an executable could be run once the container state hit running or some such? of course, this could be done nicely with systemd a

[2020-03-09 21:43] mheon commented on #5431
If we do it any later, we end up with a race where traffic after the container started but before the network started will be lost.

We can probably preserves IP address and MAC address on container recreation, even for non-static IP and MAC (we have a mechanism built-in already for doing this, originally for checkpoint/restore). I think we can probably duplicate the network configuration "well en

[2020-03-09 22:56] jobcespedes commented on #5322
[Here](https://jobcespedes.dev/2020/03/alias-docker-podman/) it is. The final version.

[2020-03-10 00:33] coandco opened #5438 "podman container runlabel documentation references nonexistent --set flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman documentation at `docs/source/markdown/podman-container-runlabel.1.md` describes a `--set NAME=VALUE` option which (as far as I can tell from looking through the git history) has never existed in the `podman container runlabel` command.  As such, it seems like the feature should ei

[2020-03-10 00:34] coandco commented on #5438
I've created a pull request to remove `--set` from the documentation at #5437.

[2020-03-10 02:35] ttys3 commented on #5419
@mheon  I've updated the issue.  provided info about run `sudo podman exec`  with `--log-level debug`

[2020-03-10 02:59] ttys3 commented on #5419
@mheon  Yes, seems the `stdin` input got truncated, and mysql  command is waiting for data forerver but podman does not git it anymore.

[2020-03-10 06:08] ttys3 commented on #5431
I've encountered with this problem too.
[code]

[code]

sources empty now:
[code]

try restart one of the container:
[code]

try restart again, this time it will success:
[code]

and got back:
[code]

[2020-03-10 07:09] vrothberg commented on #5094
With https://github.com/containers/libpod/pull/5427 being merged, I am closing this issue. Both, system and user services are now reported to be starting during startup.

[2020-03-10 07:09] #5094 closed

[2020-03-10 07:10] vrothberg commented on #5423
Wonderful, thanks for testing!

[2020-03-10 08:11] ctron commented on #5430
So here is a bit more information:

* When I use a `RUN touch foo` step, it seems to work. When I use my original command `RUN microdnf -y install java-11-openjdk-headless` it fails (but works when using the UBI image, however that might also indicate some issue with the RPM or microdnf)

* Next I installed podman from testing:

      $ rpm -q podman && podman --version
      podman-1.8.0-2.fc31.x

[2020-03-10 08:22] vrothberg commented on #5405
@boogie777, can you try a `podman login` and then search? I cannot reproduce your issue and it's the first time I have seen a report it's not working; I want to figure out if the provided authfile may be incomplete.

[2020-03-10 08:25] gbraad opened #5440 "Podman remote not working with RHCOS on Windows/Hyper-V"
Please see: https://github.com/code-ready/crc/issues/1083 and related debugging info in https://github.com/code-ready/crc/issues/961#issuecomment-595661000. We have tried to use `podman-remote` with the RHCOS VM (using CRC) on Windows+Hyper-V but no matter how it is configured it does not work as expected, while the VM works on macOS. Also, targetting a VM running F30 on Hyper-V works.

[2020-03-10 10:08] gbraad opened #5441 "Spike: VPN support (Windows)"

[2020-03-10 10:08] #5441 closed

[2020-03-10 10:16] Markolie opened #5442 "Starting a systemd container with USER set to non-root fails to start systemd ungracefully"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Starting a systemd container by setting the CMD to "/sbin/init" when the USER is set to non-root causes systemd to fail to start. The container still works, however.

This is sort of expected behavior, but I don't think it can hurt to handle this a bit more gracefully so the user is more clea

[2020-03-10 11:31] aleks-mariusz commented on #5413
confirmed, now cleanly built off master as of last night

[2020-03-10 12:44] rhatdan commented on #5430
@giuseppe Any ideas?

[2020-03-10 12:44] decosvaldo commented on #5384
Anybody? I opened the same case within the slirp4netns repo and they suggested me to come back here :(

[2020-03-10 12:59] #4414 closed

[2020-03-10 13:00] aleks-mariusz opened #5443 "podman warnings while rootless, falling back to --cgroup-manager=cgroupfs"
/kind bug

**Description**

possibly related to (maybe even re-opening) #5314 .. when doing any podman command as a non-root user, i am also get repeated warnings:

this is _despite_ having not only `loginctl enable-linger`'d already, as well as manually set the environment variables (as per [the workaround mentioned in the related issue](https://github.com/containers/libpod/issues/5314#issue-5700

[2020-03-10 13:12] rhatdan commented on #5442
I don't see a role for the container engine here.  We could catch that you are running /sbin/init and say we refuse to run this as non root, but then someone might find an init program that can be run as non root.

[2020-03-10 13:14] mheon commented on #5443
From the fact that you have enabled linger already, I assume that your system is systemd-based?

@giuseppe PTAL

[2020-03-10 13:16] antze-k opened #5444 "RFC: "podman image prune" seems to consider any unnamed images dangling"
/kind bug

**Description**

`podman image prune` removes intermediate build images, while `docker image prune` keeps them, allowing incremental work with Dockerfiles.

**Steps to reproduce the issue:**

1. Create an example Dockerfile:

[code]

2. Uses cache (it was previously built):

[code]

3. Prune removes intermediate images

[code]

**Describe the results you received:**

Cache is lost:
[cod

[2020-03-10 13:22] aleks-mariusz commented on #5443
yes, version info (in case it helps):

[code]

[2020-03-10 13:23] rhatdan commented on #5413
Great.

[2020-03-10 13:29] mheon commented on #5384
Can you add `--log-level=debug` to Podman commands in your systemd unit file and provide logs from the container starting?

[2020-03-10 13:42] Markolie commented on #5442
Ah, my bad @rhatdan. I figured I'd report it, but if it's not something the engine should handle feel free to close this.

[2020-03-10 16:30] greenpau opened #5446 "ERROR: table `nat' is incompatible, use 'nft' tool."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use nftables; when starting a container I get:

[code]

**Steps to reproduce the issue:**

1. Create network configuration:

[code]

2. Pull fedora image and start a container:

[code]

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

No errors.

*

[2020-03-10 16:43] junaruga opened #5447 "Failed to install podman with download.opensuse.org repo on Travis Ubuntu bionic non x86_64"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Related to https://github.com/containers/libpod/issues/4570#issuecomment-573536966 , I tried the new way to install podman to Ubuntu bionic, following the document: https://podman.io/getting-started/installation - Ubuntu
This works on Travis x86_64 (amd64) host environment.
But it does not wo

[2020-03-10 16:47] mheon commented on #5446
The nftables backend for iptables should work, even with nftables...
@mccv1r0 PTAL

[2020-03-10 16:48] junaruga commented on #5447
Do I need to set below kind of arch info to the repository like docker's installation document?

https://docs.docker.com/install/linux/docker-ce/ubuntu/

arm64 case to set the repository for docker on Ubuntu.

[code]

[2020-03-10 16:48] mheon commented on #5447
@lsm5 PTAL

[2020-03-10 17:17] lsm5 commented on #5447
@junaruga so, non-x86_64 envs for 18.04 aren't setup correctly which causes many unresolvable dependency errors and fixing that ain't too high on OBS' priority list. So, quite unlikely this will get fixed. But I'm hoping they'll enable 20.04 soon as it's released, so you'll have some LTS to work with.

I'll update the doc to specify what arches are currently supported for what distro.

[2020-03-10 17:22] mccv1r0 commented on #5446
I can't recreate on fedora 30.   The cni config uses backend ```nftables``` and ```nftables``` is being used by fedora 30.

[code]

What do you mean by ```The nftables backend for iptables should work, even with nftables...```

The system should be running what the cni config specifies.

[2020-03-10 17:24] greenpau commented on #5446
@mccv1r0 , why would the following clause trigger the execution of `iptables` and not `nft`?

[code]

[2020-03-10 17:36] junaruga commented on #5447
@lsm5 In case of Travis, the Ubuntu newest distro version is bionic (= 18.04). After 20.04 will be released, I am not sure when Travis will start supporting 20.04.

I have been waiting that this issue https://github.com/containers/libpod/issues/4570#issuecomment-573475045 that prevents podman to be installed on non-x86_64, would be fixed. This issue was fixed on podman 1.7.0.

But podman project c

[2020-03-10 17:40] junaruga commented on #5447
I just share that some people in Travis community are expecting podman will be installed on Travis.
https://travis-ci.community/t/podman-libpod-support/6823

[2020-03-10 17:40] decosvaldo commented on #5384
Here it goes:

`Mar 10 14:38:29 messenger systemd[1]: Starting Site Lnes...
Mar 10 14:38:29 messenger podman[4575]: time="2020-03-10T14:38:29-03:00" level=debug msg="Reading configuration file \"/home/web/.config/containers/libpod.conf\""
Mar 10 14:38:29 messenger podman[4575]: time="2020-03-10T14:38:29-03:00" level=debug msg="Merged system config \"/home/web/.config/containers/libpod.conf\": &{{f

[2020-03-10 17:43] mheon commented on #5384
I think linebreaks might have been broken somewhere in there; any chance you can pastebin and/or upload as a file?

[2020-03-10 17:44] decosvaldo commented on #5384
Sorry, I saw that and was just fixing it.

[2020-03-10 17:47] lsm5 commented on #5447
On Tue, Mar 10, 2020 at 10:37:11AM -0700, Jun Aruga wrote:

sorry, I can't have that on my plate now. I've modified my autobuilder scripts
to use OBS, and PPA will require separate maintenance.

If it helps, I can add you to
projectatomic/ppa and/or help you create your own ppa, would that be good for you?

And you should be able to just re-use this source: https://gitlab.com/rhcontainerbot/podman

[2020-03-10 17:48] decosvaldo commented on #5384
[log.txt](https://github.com/containers/libpod/files/4313927/log.txt)

[log.txt](https://github.com/containers/libpod/files/4313930/log.txt)

[2020-03-10 17:50] mccv1r0 commented on #5446
CNI uses what the underlying OS is already running.

[2020-03-10 18:12] junaruga commented on #5447
projectatomic/ppa and/or help you create your own ppa, would that be good for you?

@lsm5 thank you for showing the possibility to create the own ppa.
As I am not familiar with deb packaging, I am not a right person to be added to the ppa.

status of that.

podman is actually in review status for the Debian new package, seeing the page.
https://ftp-master.debian.org/new/libpod_1.6.4+dfsg1-2.html

[2020-03-10 18:15] greenbergphssedu commented on #4580
@rhatdan , the `gpgme-devel` is not in RHEL8 repositories.

[code]

[2020-03-10 18:25] greenbergphssedu commented on #4580
@ssbarnea , how do you disable building `gpgme`? I tried using tag `exclude_gpgme` to no avail.

[code]

[2020-03-10 18:26] greenpau commented on #4580
@ssbarnea , how do you disable building `gpgme`? I tried using tag `exclude_gpgme` to no avail.

[code]

[2020-03-10 18:30] greenpau commented on #5446
@mccv1r0 , in my case I don't run iptables. Only nftables. Should this issue belong to `github.com/containernetworking/plugins`?

[2020-03-10 18:37] rhatdan commented on #4580
@mtrmac ^^

[2020-03-10 18:53] rhatdan commented on #5442
Thanks, but I don't think we can do anything about it.

[2020-03-10 18:53] #5442 closed

[2020-03-10 19:01] mtrmac commented on #4580
See https://github.com/containers/libpod/issues/4580#issuecomment-575918453 , but I haven’t personally verified that. If the package is missing and you need it, please use your RHEL support options.

The tag to use would be, as mentioned in https://github.com/containers/libpod/issues/4580#issuecomment-561084164  , `containers_image_openpgp`.

[2020-03-10 19:03] greenpau commented on #4580
@mtrmac , @mtrmac , thank you!

For anyone interested, here are my steps building `podman`:

[code]

[2020-03-10 19:31] polachz opened #5451 "Containers change volumes owner/group to root occasionally"
/kind bug

**Description**

I'm trying to run Graylog instance as rootless pod. Then I have three containers is same pod (mong:3, docker.elastic.co/elasticsearch/elasticsearch:6.8.7, docker.io/graylog/graylog:3.2.2).

Occasionally i got problem that start of the container(s) change UID:GID of files in container mounted volumes to 0:0 (root:root) and then all files are inaccessible for containers.

[2020-03-10 19:38] mheon commented on #5451
We can't set UID/GID 0 as rootless Podman - we don't have root privileges, so we should not be able to chown things to root.

Is it possible a Podman instance as root is slipping in somewhere?

[2020-03-10 19:39] greenpau commented on #5446
The error is coming from [here](https://github.com/containernetworking/plugins/blob/master/pkg/ip/ipmasq_linux.go#L44-L49). Deep dive begins ...

[2020-03-10 19:41] greenpau commented on #5446
Opened a separate issue https://github.com/containernetworking/plugins/issues/461.

[2020-03-10 19:55] rhatdan commented on #5451
I would figure this is "container/usernamespace" root as opposed to real root.
Most likely one of the containers in the pod is creating content in the volume as "usernamespace" root.

[2020-03-10 20:21] dpepper commented on #4878
Is there any update on this? This blocks me from using podman at all. I'm actually working around multiple issues on different podman levels, so moving down to a different level doesn't work.

[2020-03-10 20:24] mheon commented on #4878
I think we've pulled a Buildah with a fix into master.

[2020-03-10 20:30] dpepper commented on #4878
So how can we use that? Is there a way to make podman use a buildah that is installed on the machine instead of one packaged with it?

[2020-03-10 20:32] boogie777 commented on #5405
Hello @vrothberg
as requested here's the output of login and search command.you 'll see that even if we're loggued , it 's not possible to search  for images in our private registry ..even if the image ..as been pushed previously using podman push .

Thx for your help.

 podman login -u xxx -p xxx https://xxx.xxx.xx
Login Succeeded!
 boogie@boogieland  ~  podman search debian-helm
ERRO[0000] err

[2020-03-10 20:40] TomSweeneyRedHat commented on #4878
Yes, this was in 1.13.2 which was grabbed with a recent vendor of Buildah.  It also might have been done in an earlier rc.

@dpepper You couldn't use the updated Buildah from Podman directly unless you pulled down from upstream.

You could however, install Buildah and then change your `podman build ...` c

[2020-03-10 20:42] TomSweeneyRedHat commented on #4878
@dpepper, please see my edited comment.

[2020-03-10 21:06] dpepper commented on #4878
@TomSweeneyRedHat thanks I actually just tried that, I'm also hitting a bug in buildah bud --layers unfortunately where buildah does not use it's cache in an automated build environment. https://github.com/containers/buildah/issues/2215

[2020-03-10 21:50] greenpau commented on #5446
Upon research, it appears that cni is being implemented via `vendor/github.com/cri-o/ocicni/pkg/ocicni/ocicni.go`, which in turn uses `github.com/containernetworking/cni/libcni`

[2020-03-10 23:52] aleks-mariusz commented on #5443
another strange behaviour is even after the program runs/exits, i still see it in my proceseses..

[code]

[2020-03-11 00:09] mheon commented on #5443
We expect one process to stay alive (the pause process - it keeps our user namespace active). If there's any more than one with no containers running, I'd be concerned.

[2020-03-11 02:18] computator opened #5454 "Podman stops accepting terminal input"
/kind bug

**Description**

Podman seems to intermittently corrupt the terminal somehow while running containers. Once this happens, any new containers will not accept any input or the detach keys. The only way to regain control is by stopping the container from another terminal. When the container exits, all the keys typed into it are dumped to the shell which then causes "command not found" or o

[2020-03-11 05:05] polachz commented on #5451
No, it's not possible. Podman operations are provided only as user 1001, nowhere else

I agree with @rhatdan that it is probably caused by initial container code and that the code run with container namespace UID 0.

But another question is, why it change rights to inherited files too. Maybe it user chown -R, I don't know, but anyway, sometimes i get UID:GID 0:0 in host and then no one than root c

[2020-03-11 05:33] mheon commented on #5451
If it's setting them to 0:0 on the host, root Podman must be involved (or
you somehow mapped root into your user namespace, which should never be
done). We do not have permission to chown to 0:0 on the host, even inside
our rootless user namespace.

On Wed, Mar 11, 2020, 01:06 Zdenek Polach <notifications@github.com> wrote:

[2020-03-11 06:02] polachz commented on #5451
you somehow mapped root into your user namespace, which should never be
done). We do not have permission to chown to 0:0 on the host, even inside
our rootless user namespace.

I'm not namespaces expert on Linux. I can only say that the user 1001 is not in wheel, then is not possible to use sudo to increase privileges for the user.  User has been freshly created especially for rootless containers (

[2020-03-11 10:52] rhatdan commented on #5451
If a non root user is able to use podman or user namespace to create a real UID=0 file on disk then this is a security problem.  Could you verify as root that the file is created as real root ownership?  IE Check if the file is owned by root, and the user namespace that is checking is in the hosts user namespace.

[code]

[2020-03-11 13:07] polachz commented on #5451
@rhatdan

done as real root on the host -> conuser (UID 1001) has no access now -> permission denied

drwxr-x---. 2 root root 4096 Mar  8 18:03 config
-rw-r-----. 1 root root 20711 Mar  8 18:03 graylog.conf

dump map as root and as container user

conuser@host ~$ cat /proc/self/uid_map
         0          0 4294967295

root@host config$ cat /proc/self/uid_map
         0          0 4294967295

[2020-03-11 13:12] mheon commented on #5451
Your subuid and subgid files don't have 0 on the host in them, so there's no way we have permission to create or chown to 0:0 as non-root Podman in this scenario. Most likely there's something else at play here.

[2020-03-11 13:23] polachz commented on #5451
I'm not Linux guru... Maintaining Linux at my homelab is just hobby.

I can't say what's wrong, but this happen only when i try to run a container by podman. And just sometimes, not all the time.  audit.log has no record about any of mentioned files :(

If you need any additional checks or file dumps, please let me know...

[2020-03-11 13:35] mheon commented on #5451
An audit watch on the files might let us know what's changing permissions, which would help a lot

[2020-03-11 13:36] rhatdan commented on #5451
@polachz So you are saying the config directory and glaylog.conf file did not exists before running the rootless containers and now they exists with these permissions?

drwxr-x---. 2 root root 4096 Mar 8 18:03 config
-rw-r-----. 1 root root 20711 Mar 8 18:03 graylog.conf

[2020-03-11 13:44] Akasurde commented on #5438
@mheon @rhatdan Can we close this since the #5437 is merged? Thanks.

[2020-03-11 13:45] #5438 closed

[2020-03-11 13:52] polachz commented on #5451
@rhatdan
When last incident has occured all files and folders exists for all containers. They had UID:GID 166xxx:166xx. (depends on container user id, mongo has 999, elastic 1000 and graylog 1100)..

Containers run more times before incident smoothly, with several restarts and reboots.

After last boot containers was not able to start due permission issues and all files in storage mounts of all th

[2020-03-11 13:55] rhatdan commented on #5451
I would think that some root running process, perhaps at reboot is recreating  these files and that is the issue that you are seeing.

[2020-03-11 14:06] polachz commented on #5451
Unfortunately, previous incidents doesn't happened during boot. It happened when i start container by **podman run** or **podman start** from conuser (1001) command line. As i mentioned before, conuser is not in sudoers file and wheel group, then here is no a way how to interfere with anything as root.

What I'm sure is that problem occurs during container boot process. When i take look to contain

[2020-03-11 16:26] TomasTomecek commented on #5276
interesting, so I don't understand what's wrong with my system; let's close and I will reopen if I ever hit this again

[2020-03-11 16:26] #5276 closed

[2020-03-11 16:37] svireli commented on #4648
@vrothberg I guess crun needs systemd, I can't even build it without systemd libraries.

[2020-03-11 16:50] giuseppe commented on #4648
you can configure it with `./configure --disable-systemd`

[2020-03-11 17:38] edsantiago opened #5461 "podman commit: implement --iidfile"
Placeholder: `podman build` includes a `--iidfile=file` option; `podman commit` should as well.

[2020-03-11 18:02] matzew opened #5462 "docker incompatible volume mount ?"
/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. running the openshift/release repo target `jobs`
https://github.com/openshift/release/blob/master/Makefile#L49-L53

I get:

[code]

However, when I remove the `:z` on the volume, I get a succesfull build!

**Output of `podman version`:**

[code]

[2020-03-11 18:07] mheon commented on #5462
Need more details here. Are you running Podman rootless? If so, is the directory in questioned owned by a user other than the one running Podman?

[2020-03-11 19:06] aleks-mariusz commented on #5443
so to me, this looks like exactly that, a 'no containers running' situation, where i end up having a podman running after i simply performed a query command:

[code]

[2020-03-11 19:09] mheon commented on #5443
There's still just one process (the pause process) - seems normal

[2020-03-11 19:41] aleks-mariusz commented on #5443
ahh i misread previously and missed the part about 'more than one'.. apologies..

any ideas about all the warnings (original reason for this issue) ?

[2020-03-11 20:13] rhatdan commented on #5461
@sujil02 PTAL

[2020-03-11 20:35] rhatdan commented on #5443
The error usually means that you are running a container on a system without systemd or rootless without a dbus session?

Did you use `su` from root to become a user?

[2020-03-11 20:44] miquecg opened #5464 "Spike of disk I/O with podman run"
/kind bug

**Description**
Briefly after starting any new container with `podman run ...` I notice a big spike on hard drive activity that doesn't stop after minutes.

The moment I exit the container, disk usage goes back to normal.

**Steps to reproduce the issue:**

1. `podman run -it alpine /bin/sh`
2. wait a few seconds or execute a non harmful `ls -la /`

**Describe the results you received:*

[2020-03-11 21:03] aleks-mariusz commented on #5443
system definitely has systemd, how do i check if there's a dbus session ? negative on the if i su'd from root

[2020-03-11 21:47] duritong opened #5466 "[1.8] rootless container with --userns=keep-id does not forward ports"
/kind bug

**Description**

I am not able to get a rootless containter that forwards port if using `--userns=keep-id`

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Container runs - but Port 55432 is not bound

**Describe the results you expected:**

Port 55432 is bound

**Additional information you deem important (e.g. issue happens only occasionally):**

If I

[2020-03-11 22:34] mheon commented on #5466
@AkihiroSuda @giuseppe PTAL

@duritong Can you provide the output of your `podman run` command with the `--log-level=debug` option added?

[2020-03-12 03:53] alitvak69 opened #5467 "Podman fails to run with --log-driver=journald on Centos 7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When running podman it fails to start the container if log driver set to journald.  Looks like the same issue described in https://github.com/containers/conmon/issues/67#issuecomment-594775765

**Steps to reproduce the issue:**

1.  podman run --name test --log-driver=journald httpd

**Describ

[2020-03-12 04:30] alitvak69 commented on #5467
Rebuilding conmon source RPM with packages below installed fixed the issue.

`systemd-libs`
`systemd-devel`

I believe it was the same issue with packaging as the one I have seen for ubuntu while ago.

[2020-03-12 09:19] mrinaldhillon opened #5472 "database configuration mismatch with '--tmpdir=/tmp/user/$USER/libpod/tmp'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Not able to change path to the tmp directory for libpod state content

**Steps to reproduce the issue:**

1. podman --tmpdir=/tmp/user/$USER/libpod/tmp info --debug

**Describe the results you received:**
podman --tmpdir=/tmp/user/$USER/libpod/tmp info --debug
Error: could not get runtime: dat

[2020-03-12 10:21] giuseppe commented on #5466
it is fixed with: 170fd7b038757228bf169e6180cab19a1e412f26

[2020-03-12 10:22] giuseppe commented on #5466
@duritong could you try with that patch?

[2020-03-12 11:02] polachz commented on #5451
@rhatdan

Today I have try to build everything from scratch, then I have tried to remove all images, and download them again etc... Due this I have discovered, that many files inside user
_.local/share/containers_ is owned by root.

In the attachment you can find list of all files reported by this command:

[root_owned.log](https://github.com/containers/libpod/files/4323757/root_owned.log)

it's m

[2020-03-12 11:12] duritong commented on #5466
Tested with the F31 1.8.1-1 build I found in Koji and it works.

[2020-03-12 11:12] #5466 closed

[2020-03-12 11:41] intelfx commented on #3277
@giuseppe

This does not always work. The nameserver is chosen at random (or at least it is not defined how it is chosen), so chances are that a generic nameserver will be chosen instead of `10.0.2.3`.

This has just hit me. Host `resolv.conf`:
[code]

Container `resolv.conf`:
[code]

Host is connected to a corporate VPN which provides a custom nameserver that resolves several internal-only domain

[2020-03-12 12:07] polachz commented on #5451
@rhatdan Anyway, I have prepared a trap by special auditd rule for chown on specific files. If it occurs again, i'll notice you here

[2020-03-12 13:18] mheon commented on #5451
This sounds like, somehow, rootless Podman is executing as UID 0 - which is honestly bizarre. Some of our detection for whether we are/are not rootless is based on the UID the process is running as. If Podman was somehow accidentally run as root, we wouldn't be using those directories, we'd revert to the root-owned ones in `/var/lib/containers`

[2020-03-12 13:23] gbraad commented on #5440
tested with @baude and got an updated client which looks good:

[code]
https://github.com/code-ready/crc/issues/1083#issuecomment-598182506

[2020-03-12 13:25] mheon commented on #3277
Chosen as random? What? That does not sound correct. Per the `resolv.conf` manpage:
[code]

Queried in order should be a safe assumption. How are you making DNS queries / what libc are you using?

[2020-03-12 13:25] mheon commented on #3277
Ah, I see. `systemd-resolvd` has apparently decided that the rules for everyone else don't apply to it, and is doing its own thing. So that's fun.

[2020-03-12 13:27] cben commented on #3586
I see $container set to `oci`, not `podman`.  podman version 1.7.0.

[2020-03-12 13:30] mheon commented on #5472
The reason for this error is that, if we move part of Libpod's state but not all of it (the static content - database, container images, etc) we can end up with undesired behavior. We'd end up with content from running containers in the old temporary directory missing, for example. Furthermore, Libpod detects reboots by checking a file in the temporary directory, so assigning a new directory would

[2020-03-12 13:31] mheon commented on #3586
This can be overridden by images, `podman run --env`, etc

[2020-03-12 13:32] mheon commented on #3586
I'm fairly certain that we don't set `oci` explicitly anywhere in Podman itself.

(Unfortunately, this does mean that it's difficult to rely on the environment variable being set to any specific value - images in particular can override us)

[2020-03-12 13:34] mheon commented on #5467
@alitvak69 Where are these packages sourced from? I'm pretty sure the official repos aren't shipping those versions yet

[2020-03-12 13:36] edsantiago opened #5475 "podman build: error opening file `.../cgroup.freeze`: No such device"
In [CI](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5756523582324736/html/system_test.log.html). Rootless. I don't know which Fedora:
[code]
CI links: [cirrus](https://cirrus-ci.com/task/5756523582324736) -- [highlighted](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5756523582324736/html/system_test.lo

[2020-03-12 13:37] mheon commented on #5475
Rootless is on F30, I thiiiiiink?

@cevich can you confirm?

[2020-03-12 13:58] edsantiago commented on #5475
Yep, it was a flake.

[2020-03-12 14:35] edsantiago commented on #5475
Oh dear. Seeing it [in ginkgo](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/4808011696832512/html/integration_test.log.html#t--podman-rmi-with-cached-images--1) now (as opposed to BATS the first time). Again, rootless.

[2020-03-12 14:48] gbraad opened #5477 "Remote; difference between msi and zip on Windows"
To provide the podman support with CRC we would like to use an easy way to embed/provide the client binary to install on the user's machine. using the `*.msi` is not preferred, but we noticed the `*.zip` is not made the same. See: https://github.com/code-ready/crc/issues/961#issuecomment-594913942

[2020-03-12 14:53] rhatdan commented on #3586
Correct, container=oci, is being set by some Red Hat images, I believe.
Bottom line is checking if container is set, should be valid for thinking you are running inside of a container.  What it is set to can vary..

[2020-03-12 14:53] alitvak69 commented on #5467
https://podman.io/getting-started/installation

[2020-03-12 14:54] alitvak69 commented on #5467
The repo for centos listed there and managed by @lsm5

[2020-03-12 15:33] lsm5 commented on #5467
@alitvak69 so you only added these two as build-deps and no other change in the build process, yes? I can fix that for centos.

@mheon @haircommander fedora would need this too, yes?

[2020-03-12 15:36] mheon commented on #5467
Yep, if not already done, we should depend on those in Fedora as well

[2020-03-12 15:41] alitvak69 commented on #5467
@lsm5 I didn't changed specs I just made sure those packages were there :-).  But yes it totally makes sense to add those as dependencies.

[2020-03-12 16:08] miquecg commented on #5464
Today I've received a Podman update on Arch Linux:

[code]

But issue is still present.

[2020-03-12 16:22] mheon commented on #5464
Do you have any idea what's being written? Can you use `iotop` to see what's generating the I/O?

[2020-03-12 16:27] intelfx commented on #3277
@mheon

`curl` in an alpine container (so, musl).

No, systemd-resolved is on the host, not in the container, and it's actually doing the right thing (as tempting as it is to blame systemd for everything).

[2020-03-12 16:41] miquecg commented on #5464
Well, `iotop` doesn't show any extra information besides command and I/O metrics.

Command: `podman run -it /bin/sh`
IO: between 60-70 %

This time I've could have a normal run without issues but after a second time it happened again.

[2020-03-12 16:50] mheon commented on #5464
So it is Podman itself, and not Conmon.

@baude Any thoughts here?

[2020-03-12 16:51] mheon commented on #5464
Oh - @miquecg Can you run a `podman run` command as root, and see if that triggers it? Would be useful to know if this is rootless-only

[2020-03-12 17:04] miquecg commented on #5464
It happens also when running as podman as root.

[2020-03-12 17:12] vrothberg commented on #3575
I opened https://github.com/containers/libpod/pull/5480 to support auto-updating containers. Feel free to play with it and provide feedback.

[2020-03-12 18:11] mrinaldhillon commented on #5472
Unprivileged users need to run rootless container in kubernetes pods. Users don't have access permissions to /run/user/$(id -u) path due to security policy. So we need to change this to /tmp/user/$(id -u) .

[2020-03-12 18:21] mheon commented on #5472
@rhatdan Do we have anything in `containers.conf` to fix this?

For now, I recommend that you remove the libpod database and files at `~/.local/shared/containers/storage/libpod` (which will also remove all containers for the user - unfortunate, but necessary to ensure no breakage). Then, run one Podman command with `--tmp-dir` set - this will write the new location in the database when it is recre

[2020-03-12 18:34] baude commented on #5464
filesystems arent my bag ... @giuseppe any ideas?

[2020-03-12 18:42] bundi78 opened #5483 "race condition when using --rm?"
/kind bug

**Description**

When running a podman container, an error is thrown when exiting.

**Steps to reproduce the issue:**

1. podman run -t --rm hello-world

**Describe the results you received:**

ERRO[0000] Error forwarding signal 23 to container fa034e6e2b78ba590b4dbc917e2d5e69473314e6b3237ff6f79c6f976c1e5750: container has already been removed

or

ERRO[0000] Error forwarding signal 23

[2020-03-12 19:00] mheon commented on #5483
Uh-oh.

@edsantiago @baude @vrothberg It spread to arch

[2020-03-12 19:01] mheon commented on #5483
For context, this is likely related to https://github.com/containers/libpod/issues/5034

We've been seeing it elsewhere (Fedora rawhide) but haven't had the chance to properly investigate. There are theories that it is related to building with the latest version of the Golang compiler

[2020-03-12 20:05] baude commented on #5477
https://github.com/containers/libpod/releases/tag/v1.8.1  <-- how does this work!

fwiw, i put the msi there and a zip containing just the podman-windows-remote.exe and a docs dir with the html files

[2020-03-12 20:32] rhatdan commented on #3277
If the resolv.conf is properly formatted, their is little podman can do to fix that.
Is the issue that the processes inside of the container can not reach the nameserver?

[2020-03-12 21:05] rhatdan commented on #5477
Looks good, do we have the readme.md links to there?

[2020-03-12 21:06] rhatdan commented on #5477
Should we have MAC Version there as well.

[2020-03-12 21:14] larsks opened #5485 "Problems with podman generate systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The unit files produced by `podman generate systemd --new ...` are problematic because they will fail to start the service if the system crashes.  This happens because the container is only removed as part of `ExecStopPost`, and during a crash (/power failure/etc) that never runs.  The result

[2020-03-12 21:15] mheon commented on #5485
@vrothberg PTAL

[2020-03-12 21:21] rhatdan commented on #5443
The code is checking for environment variable DBUS_SESSION_BUS_ADDRESS

[code]

[2020-03-12 21:27] baude commented on #5483
this is due to the 1.14 compiler. if compiled with arch's 1.13, works fine. investigating continues.

[2020-03-12 21:31] bebosudo opened #5486 "--volume needs explicit container path after podman 1.6.2"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

I've been using podman 1.6.2 on CentOS 7, until yesterday I updated it to 1.8.1.
With podman 1.6.2 I was able to "mount"/"bind" a file inside the container by using `-v /etc/hosts`; in 1.8.1 I need to specify also the destination path, like `-v /etc/hosts:/etc/hosts`.
The RPM for both versions on CentOS 7 are available in my

[2020-03-12 21:39] mheon commented on #5486
This is an unfortunate result of our attempts to improve compatibility with Docker; Podman has added support for anonymous named volumes in recent versions, which in Docker use this syntax (only a destination path, no source). We never documented that `-v /dest` would make a mount of `/dest` on host to `/dest` in container, so we decided that this was an acceptable breakage; it was never really in

[2020-03-12 21:45] mheon commented on #5483
It appears to be the result of a deliberate change in Go 1.14. From the [release notes](https://golang.org/doc/go1.14):

[code]

It looks like the Go runtime is generating Signal 23 to tell a goroutine to yield (or something similar - definitely some form of IPC), which we are dutifully catching as part of `--sig-proxy` and forwarding into the container. This is:
* Flooding the container with spur

[2020-03-12 21:46] edsantiago commented on #5483
Thank you for tracking it down!

[2020-03-12 21:54] djerius opened #5487 "XDG_CONFIG_HOME ignored on linux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The XDG_CONFIG_HOME environment variable is ignored

**Steps to reproduce the issue:**

[code]
**Describe the results you received:**

[code]

**Describe the results you expected:**

I expected that the configuration directory would be  `$XDG_CONFIG_HOME/containers`, i.e., `/tmp/podman/config/

[2020-03-12 22:43] bebosudo commented on #5486
I understand; thanks for the explanation.

[2020-03-12 22:43] #5486 closed

[2020-03-12 23:37] mtrmac commented on #5378
The tutorial looks great. (Two nits: The default does not point at localhost:8000, and for general use mentioning the X-R-S-S extension = OpenShift integrated registry, at least in passing, might be useful.)

Adding it to https://github.com/containers/libpod/tree/master/docs/tutorials makes sense to me, but that’s up to the maintainers of the Podman repo. Or maybe a blog post? Or both 😎

[2020-03-13 02:17] baude commented on #5483
I'm not convinced yet as I observed differences in 1.14 and go head.  I want a chance to chase a little further.  I will try to have some more information by weekend's end.

[2020-03-13 07:18] mrinaldhillon commented on #5472
Still the same issue: could you please test on your setup

Error: could not get runtime: database libpod temporary files directory (tmpdir) "/run/user/1000/libpod/tmp" does not match our libpod temporary files directory (tmpdir) "/tmp/user/mdhillon/libpod/tmp": database configuration mismatch

[2020-03-13 08:38] giuseppe commented on #5464
I am not able to reproduce locally.

@miquecg could you strace the podman process?

Once you are able to reproduce the issue, please attach strace to it with: `strace -f -p $PID_PODMAN`

[2020-03-13 08:55] mrinaldhillon opened #5488 "not able to run rootless podman in k8 pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./podman info

**Describe the results you received:**
WARN[0000] The cgroups manager is set to systemd but there is no systemd user session available
WARN[0000] For using systemd, you may need to login using an user session
WARN[0000] Alternatively, you c

[2020-03-13 09:22] vrothberg commented on #5485
Thanks for reaching out, @larskarlitski!

I like the idea of a `--replace` flag as it allows to generalize this problem beyond systemd.

@mheon @giuseppe @rhatdan WDYT?

[2020-03-13 09:25] computator commented on #5454
I just ran across something that might help. After I had a container get stuck and stop accepting input, I stopped it in another terminal per usual as above. However, this time I tried running another podman command (that wasn't podman run), and this was the result:
[code]
It wrote the prompt out, but never gave me a chance to pick yes or no, it immediately failed when it tried to read stdin. So t

[2020-03-13 09:30] computator commented on #5454
I just ran `sh` to clear the error so my terminal was usable again and I got this potentially relevant message:
[code]

[2020-03-13 10:15] giuseppe commented on #5485
could we add a `ExecStartPre` that does a `rm -f`?

[2020-03-13 10:20] vrothberg commented on #5485
That will only work for containers that have been named but won't work for unnamed containers.

[2020-03-13 11:21] polachz commented on #5451
@mheon

Hallo, the trap has been successful. And problem is on the server as you mentioned before...

It's forgotten old cron script to take ownership of un-owned files. And due userspace mapping, all files from containers looks like unowned, then script assigned them to root :(
This script has been forgotten in the VM template...

Then all files in persistent storage has been taken by root and fi

[2020-03-13 11:31] saschagrunert opened #5493 "Probable inotify issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running an inotify test, then is succeeds on Docker but not in Podman.

**Steps to reproduce the issue:**

1. Assume a Dockerfile:
[code]

2. Build it with Docker:
[code]

3. Podman:
[code]

**Describe the results you received:**

If we build the image without the `make` run, then we can

[2020-03-13 11:45] Rafficer opened #5494 "systemd doesn't autostart/can't find pods or containers from a non-root user account"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

Rootless pods or containers don't start on boot with unit files generated by `podman generate systemd -f --name <podname>`

**Steps to reproduce the issue:**

1. Create a pod with containers (**not as root**)
[code]

2. Generate the systemd files
[code]

3. Copy these files to `/etc/systemd/system/`
[code]

4. Enable the ser

[2020-03-13 11:53] vrothberg commented on #5494
Hi @Rafficer, thanks for opening the issue! It should be fixed with Podman v1.8.1. Once the package is updated, can you re-try and report if it works?

[2020-03-13 12:03] matzew commented on #5462
Hi @mheon,

thanks for getting back to me!

I do not invoke it with `sudo`, and here are my `groups`
* `matzew wheel libvirt docker`

No, all owned by me (`matzew`)

[2020-03-13 12:31] TomSweeneyRedHat commented on #5378
I'd love to have the tutorial in either or both spots.   Dropping it in the tutorial section in Podman and I'd be happy to write a little blog post that links to it if you didn't want to on podman.io.

[2020-03-13 12:41] saschagrunert commented on #5378
Alright cool, I'll prepare the PR so we can close this for now. :pray:

[2020-03-13 12:41] #5378 closed

[2020-03-13 12:50] Rafficer commented on #5494
Hey, thanks for the quick reply. I've set up Fedora Rawhide to test it there with v1.8.1, but sadly I get the same outcome.

[2020-03-13 12:55] rhatdan commented on #5483
Can we just tell the sig-proxy to not send Signal 23?

[2020-03-13 13:01] mheon commented on #5487
@giuseppe PTAL

[2020-03-13 13:03] mheon commented on #5483
I think we're going to have to, which kind of sucks - I'm fully expecting a bug in a few months with the title "Podman with --sig-proxy does not forward Signal 23". I really wish this change from Go had been more clearly communicated and had some way to disable.

[2020-03-13 13:11] mheon commented on #5454
Can you try clearing terminal configuration with `reset` to see if that resolves it? I'm wondering if some of the changes we make for terminal attach (setting raw mode, among a few other things) might be being set, but not cleared.

[2020-03-13 13:14] mheon commented on #5488
@rhatdan You were working on containers inside unprivileged containers - any input?

[2020-03-13 13:17] mheon commented on #5494
@vrothberg This looks like a root/rootless thing - container was created as a normal user, but it's being managed by root systemd.

@Rafficer Root and rootless podman do not share containers (for security and technical reasons), so this is somewhat expected. If you have a systemd user session you can autostart there with `systemctl --user` or it may be possible to set the user in the unit file bei

[2020-03-13 13:23] mheon commented on #5462
@rhatdan Any thoughts?

[2020-03-13 13:24] Rafficer commented on #5494
@mheon Thanks for your reply.

Yes, as I've said in the "Additional information you deem important" section, it does make sense. However, I couldn't get it to work with the `User=` flag and couldn't find any documentation on how to run it as non-root user. That's why I've opened the issue.

[2020-03-13 13:30] greenpau commented on #5446
@mheon , do you know why `github.com/containernetworking/plugins/pkg/utils/iptables.go` is not in `libpod`'s `vendor/` directory?

There is a series of dependencies when it comes to `podman` and CNI:

[code]

Unfortunately, I am getting when attempting to compile, the `vendor/` directory gets only a subset of `github.com/containernetworking/plugins` files.

The files `https://github.com/containers

[2020-03-13 13:41] mheon commented on #5446
Most likely because we're not invoking it directly?

My understanding is that CNI is packaged as a series of plugins - small binaries that are executed separately, each doing part of the job of network setup. The heavy lifting, including IPTables, likely occurs there. Podman sends along instructions for configuring the network, but we do not directly invoke the relevant code, but instead separate

[2020-03-13 13:43] greenpau commented on #5446
@mheon , not in `podman`'s case. Here, you compile the

[2020-03-13 13:45] greenpau commented on #5446
@mheon , let me try recompiling the CNI plugins.

[2020-03-13 14:17] giuseppe commented on #5487
opened two PRs:

https://github.com/containers/common/pull/91
https://github.com/containers/storage/pull/562

[2020-03-13 14:18] mheon commented on #5472
Something must be recreating the database before the Podman command. Can you verify that `~/.local/share/containers/storage/libpod/bolt_state.db` exists? I wonder if your Podman isn't using another directory for the database

[2020-03-13 14:19] mheon commented on #5494
@vrothberg Do we have any documentation on Podman + Systemd as rootless?

[2020-03-13 14:20] mheon commented on #5451
No problem, glad to hear it's solved. Thanks for reporting back!

[2020-03-13 14:25] mheon commented on #5485
No issues here, sounds reasonable to do

On Fri, Mar 13, 2020, 06:21 Valentin Rothberg <notifications@github.com>
wrote:

[2020-03-13 14:49] adelton commented on #5430
Is this the same issue as https://github.com/containers/buildah/issues/2161?

[2020-03-13 14:55] adelton commented on #5430
For the record, I see this problem when building from registry.fedoraproject.org/fedora:32 or registry.fedoraproject.org/fedora:rawhide images but not with registry.fedoraproject.org/fedora:31, registry.fedoraproject.org/fedora:30, or registry.fedoraproject.org/fedora:29.

[2020-03-13 15:38] mrinaldhillon commented on #5488
Base container in privileged. Its entry point sets up unprivileged user that works on containers with podman.
tmpdir is /var/run/user/43346/
mdhillon:100000:65536 in /etc/{subuid,subgid)
HOME=/homes/mdhillon mounted from host.

FYI buildah v1.14.2 is working fine with unprivileged user: just warnings annoying.
[code]

[2020-03-13 15:44] vrothberg commented on #5494
Good catch, @mheon!

I will open an issue to improve documentation in the `podman-generate-systemd` man page.

[2020-03-13 15:45] vrothberg commented on #5494
Closing this issue. The .service files must be copied to `$HOME/.config/systemd/user` for rootless.

[2020-03-13 15:45] #5494 closed

[2020-03-13 15:47] vrothberg opened #5497 "improve podman-generate-systemd man page"
The generate systemd man page needs to be updated and improved. Especially the examples deserve more use cases and need to clearly explain how to run the generated .service files as root and non-root.

[2020-03-13 15:47] mrinaldhillon commented on #5472
Your are correct I am using /b/workspace/.local/share/containers/storage/libpod :) . tmpdir issue got fixed by cleaning up this path. But now I am stuck on this https://github.com/containers/libpod/issues/5488

[2020-03-13 16:02] TomSweeneyRedHat commented on #5430
@adelton it may be the same, but I'd like to keep this open until we fully determine that.  Sure looks like it though.

[2020-03-13 16:44] miquecg commented on #5464
I measured I/O again but using `-P` flag (only show processes) this time. Numbers are one order of magnitude smaller (3-6 %).

I left strace running for less than 10 seconds and the dump is huge, 15 MB! I'm attaching a trimmed down version of it:

[strace.log](https://github.com/containers/libpod/files/4330616/strace.log)

[2020-03-13 17:21] rhatdan commented on #5497
@sujil02 PTAL

[2020-03-13 17:25] rhatdan commented on #5488
You want to disable cgroups, have the cgroups of the parent container control the podman inside of the container.

podman run --cgroups disabled ...

[2020-03-13 17:49] giuseppe commented on #5464
thanks, I don't see anything strange in the strace log.

Have you attached the first part of it?

Could you attach the part that is generated during the I/O spike?

[2020-03-13 17:52] rhatdan commented on #5493
@saschagrunert Any ideas why?  @giuseppe ?

[2020-03-13 17:56] mheon commented on #5488
Please note that this requires the `crun` OCI runtime

[2020-03-13 17:58] rhatdan commented on #5462
Indicates that /home/matzew/go/src/github.com/openshift/release/ci-operator is not on a file system that supports labels.

[2020-03-13 18:07] #5451 closed

[2020-03-13 18:13] giuseppe commented on #5493
tail detects immediately that it is running on overlay, and it disables the inotify support.  The test fails because it never switch to polling as it is using the polling mode since the beginning.

Is Docker not using overlay or at least for that directory?

[2020-03-13 18:27] miquecg commented on #5464
Once this strange behaviour begins, I/O activity is constantly at 3-6 %.

[Full strace dump gzipped](https://github.com/containers/libpod/files/4331022/strace.dump.gz)

[2020-03-13 18:48] rhatdan commented on #5493
Perhaps Your docker is using btrfs for the back end?

[2020-03-13 19:02] mheon commented on #5493
Overlay over btrfs ought to be fine - I've done it before

[2020-03-13 19:03] mheon commented on #5493
Ah, misunderstood - storage driver could be it

[2020-03-13 21:29] Rafficer commented on #5494
I've gotten it to work now. I'll briefly document them here in case someone else stumbles upon it as well:

None of these commands are executed as root.

1. Normally generate the files

    `podman generate systemd -f --name testpod`

2. Create the systemd user directory

    `mkdir -p ~/.config/systemd/user`

3. Copy the files over to that directory

    `cp pod-testpod.service container-containe

[2020-03-13 22:09] computator commented on #5454
Resetting the terminal was the first thing I tried, sadly it doesn't help.

[2020-03-13 22:11] greenpau commented on #5446
@mheon , you are correct 👍 The plugins are being called indirectly.

Compiled `github.com/containernetworking/plugins` and added trace to `pkg/utils/iptables.go`

[code]

As part of `EnsureChain()` function, there is `ChainExists()` check. The following arguments are being passed to it. It checks for the existence of the `CNI-FORWARD` chain.

[code]

That is where it fails.

[2020-03-13 22:24] greenpau commented on #5446
Another aspect of this issue. When I run `iptables -t filter -S --wait` it partially succeeds. However, when I do the same with `root`, then it fails.

[code]

[2020-03-13 22:47] the-antz commented on #5443
I have `cgroup_manager = "cgroupfs"`in `/etc/containers/libpod.conf (I'm not on a systemd distro) but still get this warning. Shouldn't this suppress the warning?

[2020-03-13 23:29] greenpau commented on #5446
@mccv1r0 , @mheon , this is not a bug. It is more of a feature request in the upstream repo, i.e. `containernetworking/plugins`. Closing this one. Thank you for being responsive! 👍 😃

[2020-03-13 23:29] #5446 closed

[2020-03-13 23:57] mheon commented on #5443
This could be overridden in `~/.config/containers/libpod.conf` if that file exists

[2020-03-14 00:04] #5483 closed

[2020-03-14 00:40] the-antz commented on #5443
Thanks for the hint but I don't have that file.

Setting the option as command line argument doesn't suppress it neither.

[2020-03-14 00:40] #5472 closed

[2020-03-14 01:42] NHRedAnt opened #5498 "gitlab container volume frequently blocks io (hangs) until a mounted volume is accessed from within the container."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During create (or run) of a complex container like "gitlab" multiple hang (IO block?) events occur when running on CentOS 8.1.1911.  It does not unblock when left untouched for 12 hours.  However it will immediately unblock when "ls /opt/gitlab" command is run from inside the container.

This

[2020-03-14 02:03] gbraad commented on #5477
Why are the contens of the Windows zip archive so different from the MSI and also when compared to even the macOS release? `podman-remote-windows` and `podman`

`podman-remote-latest-master-darwin-amd64.zip - ZIP archive, unpacked size 50,308,978 bytes`
[code]

`podman-remote-windows.zip - ZIP archive, unpacked size 51,827,111 bytes`
[code]

Note the names and the additional directory

[2020-03-14 03:35] mrinaldhillon commented on #5488
@rhatdan all podman commands are failing in rootless mode.
@mheon I installed crun and set it as default runtime. even that made no difference.

Is there a way to disable cgroups manager ?

[2020-03-14 04:19] mheon commented on #5498
Are you running as root, or rootless? If rootless, fuse-overlayfs sounds like a likely culprit.

I somewhat doubt this is related to volumes. `/opt/gitlab` is not a volume in the command you gave; you're just poking the container's root filesystem. Exec also does many other things (modifies cgroups for the joining process, for example) so it could be affecting system state in other ways.

[2020-03-14 08:49] junjieyuan opened #5499 "podman generate systemd (systemd-user) service enabled but can't autostart"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.podman generate systemd --name v2ray > v2ray.service

2.put v2ray.service to ~/.config/systemd/user/

3.systemctl --user enable (and start) v2ray.service

**Describe the results you received:**
v2ray.service can not autostart

**Describe the results you ex

[2020-03-14 08:51] junjieyuan commented on #5499
thanks for @ firecat53 https://bbs.archlinux.org/viewtopic.php?id=250813 # 5

[2020-03-14 08:52] junjieyuan commented on #5499
v2ray.service

[code]

[2020-03-14 09:32] faulesocke commented on #5306
I ran into this again on another machine. This time the PID is 7577 but I guess this doesn't matter. Where the hell does podman get these PIDs from?

[2020-03-14 09:36] faulesocke commented on #5306
Also I can't run podman system migrate nor podman system reset. podman is completely inoperable from this user. Not sure how to reset it. The issue occoured after a reboot and of course no podman process is running in BG.

[2020-03-14 14:52] aleks-mariusz commented on #5443
I guess i'm just going to have to  work-around the issue for the time being i guess until it can be sorted..

mine is: `alias podman='podman 2>/dev/null'`

[2020-03-14 15:04] baude commented on #5477
look, i did what i thought would be helpful.  given this is almost entirely being done for you, what do you want?  i could just zip the executable and drop the docs.  let me know.

[2020-03-14 16:50] mheon commented on #5443
@aleks-mariusz Can you see if the DBUS_SESSION_BUS_ADDRESS environment variable is set?

@the-antz Can you provide your `/etc/containers/libpod.conf`? I'll take a look on Monday and see where we're calling this code, this code being called if cgroup manager is not set seems like a bug

[2020-03-14 16:52] mheon commented on #5306
@faulesocke Are you on Podman 1.8.1? That should have the fix.

If not, can you try removing `/run/user/$UID/libpod/pause.pid` and see if that fixes it (replace $UID with the UID of the user running Podman)?

[2020-03-14 17:10] djerius commented on #5443
I also see this on rootless podman 1.8.1.  In addition to ignoring the `--cgroup-manager` command line option, it also ignores the entry in `libpod.conf`:

[code]
[code]

[2020-03-14 17:12] the-antz commented on #5443
@mheon thx!

[libpod.conf.txt](https://github.com/containers/libpod/files/4333063/libpod.conf.txt)
(had to rename the file to make github happy)

[2020-03-14 17:28] djerius opened #5500 "XDG_DATA_HOME ignored except when creating initial configuration files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman.1  documents XDG_DATA_HOME as

The phrase _Images are pulled_ seems to indicate that XDG_DATA_HOME is somehow connected with `podman pull`, but its value is used when podman initializes `storage.conf` to set the values of `storage.graphroot` and `storage.rootless_storage_path`.  That i

[2020-03-14 17:57] greenpau opened #5501 "No non-localhost DNS nameservers are left in resolv.conf. Using default external servers."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1. The `/etc/resolv.conf` is being managed by NetworkManager. The is a DNS server itself.

[code]

2. Start a container:

[code]

3. The network config look like this:

[code]

**Describe the results you received:**

As part of output I see:

[code]

**D

[2020-03-14 18:06] greenpau commented on #5501
Basically, I cannot have the `127.0.0.1` resolver.

Essentially, I would need to start a container with `--dns` arg set to some external resolver, e.g.

[code]

[2020-03-14 18:08] mheon commented on #5501
We can't use anything on the host's localhost interface - the container
cannot connect to anything bound there. We fall back automatically to
alternate servers to ensure the container has at least some servers to
connect to. It may be possible to convince your DNS server to also bind to
the bridge that Podman creates, and then manually specify the bridge IP as
a DNS server.

On Sat, Mar 14, 2020,

[2020-03-14 18:14] greenpau commented on #5501
the bridge that Podman creates, and then manually specify the bridge IP as
a DNS server.

I run `coredns` on `0.0.0.0:53` in the main networking namespace. The server uses `NetworkManager` to manage DNS. The `NetworkManager` DNS configured for 127.0.0.1.

The local `coredns` has a number of upstream servers:

[code]

@mheon , is there a way to configure `10.10.10.10 10.20.20.20` via CNI network co

[2020-03-14 18:20] mheon commented on #5501
`resolv.conf` in the container is controlled by Podman, not CNI, so CNI config is the wrong place to look. We presently don't have the ability to do this, but it's coming in as part of the addition of a new configuration file (`containers.conf`) that @rhatdan is working on.

[2020-03-14 18:35] greenpau commented on #5501
@mheon , 👍  thank you! for now, I will just pass DNS args.

[2020-03-14 18:35] #5501 closed

[2020-03-14 18:42] intelfx commented on #3277
@rhatdan

I'm not quite sure what do you mean by that, but earlier in this thread @giuseppe did something to the effect of reordering nameservers in the generated resolv.conf, which means that my suggestion is also possible.

No, the issue is that the processes inside of the container reach the _wrong_ nameserver — instead of contacting systemd-resolved on the host they try to contact upstream nam

[2020-03-14 18:42] intelfx commented on #3277
@rhatdan

I'm not quite sure what do you mean by that, but earlier in this thread @giuseppe did something to the effect of reordering nameservers in the generated resolv.conf, which means that my suggestion is also possible.

No, the issue is that the processes inside of the container reach the _wrong_ nameserver — instead of contacting systemd-resolved on the host they try to contact upstream nam

[2020-03-15 04:00] bbros-dev commented on #5306
I've just hit this on podman `1.6.2`, `/run` is `tmpfs`.
Considering it hasn't been given yet I'm posting the strace before I try to reinstall podman to a more recent version. Redacted `/home/<user>`.

[code]

[2020-03-15 04:32] bbros-dev opened #5502 "rh-container-bot stopped building 17 weeks ago"
/kind bug

**Description**
Not sure if this is the best place to report this? But it looks like the @rh-container-bot stopped building about 17 weeks ago:

https://launchpad.net/~projectatomic/+archive/ubuntu/ppa?field.series_filter=bionic

Please point me to the more appropriate place to report if it is not here.

I arrived at that PPA via the install doc instructions:

[code]

[2020-03-15 08:29] vertti opened #5503 "Os is empty string"
/kind bug

**Description**

Originally filed it to buildah here https://github.com/containers/buildah/issues/2225 but it seems not to be a buildah issue.

**Steps to reproduce the issue:**

`podman build` produces images that when inspected show `Os` field as empty `""` instead of expected `linux`.

OpenShift refuses to run these containers and prints out:
[code]

**Steps to reproduce the issue:**