[2021-06-12 14:14] ocofon opened #10666 "Podman 3.2.0 crash in cgroups.getAvailableControllers"
/kind bug

**Description**

podman in version 3.2.0 is crashing on "run" and "info" when a controller is in /proc/cgroups but is not mounted in cgroupRoot

**Steps to reproduce the issue:**

[code]

[code]

https://github.com/containers/podman/blob/d1cb5d14e94534d5065e20178b6bd435097920e9/pkg/cgroups/cgroups.go#L169-L172

After changing line 170 to:
[code]
the commands are working again.

**Output

[2021-06-12 16:40] hmarsanch1 commented on #10554
Run

[2021-06-12 18:13] vrothberg commented on #10657
+1

On Sat 12 Jun 2021 at 11:43, Thomas Weber ***@***.***> wrote:

[2021-06-12 18:36] #10660 closed

[2021-06-12 18:56] #10615 closed

[2021-06-12 20:14] #10145 closed

[2021-06-12 20:15] rhatdan commented on #10666
Please open a PR to fix.

[2021-06-12 20:16] rhatdan commented on #10657
I think the issue has served its purpose.

[2021-06-12 20:16] #10657 closed

[2021-06-12 21:36] stevegt commented on #10100
The OP's kernel:  ` kernel: 3.10.0-1160.15.2.el7.x86_64`
My kernel was: `4.8.0-58-generic`

Problem went away for me when I upgraded to kernel 5.4.0.  Turns out it's possible, starting with an older image and upgrading packages selectively, to get the host image into a state where the buildah package installation will succeed, but the system does not have all the prerequisites.   (In my case I was

[2021-06-13 08:30] penn5 commented on #9976
Still an issue

[2021-06-13 09:03] flouthoc commented on #10666
@ocofon You can skip the entire flow when file is not mounted on CgroupRoot. Please let me know if you are picking this up.

[2021-06-13 15:22] #10664 closed

[2021-06-13 16:42] sshnaidm commented on #10612
Just a note about missing 404 error, the podman-py expects exactly for 404 to raise exception about non pulled image:
https://github.com/containers/podman-py/blob/850f97cef0867e3ba1a383d7c2a4068b95849de9/podman/domain/images_manager.py#L303-L304
[code]

[2021-06-13 17:52] jberkus commented on #10623
yeah, the problem is that, because of the crun version numbering problem, upgrading users aren't getting the new crun.

[2021-06-13 19:41] Blfrg commented on #10274
I just tested with the latest SilverBlue available today

Which installs

[code]

I am not experiencing any issue with my existing container(s):

[code]

If there was any regression [a couple days ago] maybe it has been resolved already.

[2021-06-13 20:20] storrgie opened #10669 "Clarification, rootless-as-non-root UID/GID remapping"
Was going to post to the mailing list, but this may be more discoverable... and it may result in a feature/enhancement documentation change.

The shortest form of my question/confusion is:

The follow up to this would be, how does one handle __many__ non-root users (e.g. gitlab omnibus container has many non-root users writing to disk)?

For example:

[code]
 - create a non-root user on the host s

[2021-06-14 02:48] Davidnet opened #10671 "Podman Docker compose cannot build"
/kind bug

Testing docker-compose rootless on a simple flask application, see: https://github.com/docker/awesome-compose/blob/master/flask/docker-compose.yaml

I'm getting:

[code]

**Steps to reproduce the issue:**

1. `systemctl --user start podman.socket`

2.`systemctl --user start podman`

3.`docker-compose -H unix:/run/user/1000/podman/
podman.sock up` on this [folder](https://github.com/dock

[2021-06-14 05:05] stevegt commented on #10100
Just now found this in https://github.com/containers/fuse-overlayfs/blob/master/README.md:

So yeah, the 4.8.0 kernel I was running isn't supposed to work, let alone the 3.10.0 kernel in OP's case.

I've submitted PR containers/buildah#3295 to update the buildah docs.

The podman installation instructions don't mention a minimum kernel version at all -- that should probably be fixed too:  https://

[2021-06-14 05:07] infiniteregrets commented on #7370
hey @vrothberg, are you working on this? If not then, can I try working on it

[2021-06-14 07:33] Yajo opened #10672 "Cannot resolve other containers names in internal network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers in internal network are not able to see each other

**Steps to reproduce the issue:**

1. As rootless user.

2.     ❯ podman network create --internal
       WARN[0000] dnsname and --internal networks are incompatible.  dnsname plugin not configured for network cni-podman0
       /

[2021-06-14 10:25] dan-m8t opened #10673 "rootless container suddenly stops and cannot be restarted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am running Podman rootless. Adguard Home is my DNS server, the container suddenly just stops for no reason and cannot be restarted. A reboot of the whole system is needed to get it to work again

The container itself is restarting a lot of times, this is the container log:

[code]

**Steps

[2021-06-14 11:31] ipanova commented on #10322
podman-3.3.0-0.5.dev.gited983c9.fc35.x86_64

[code]

[2021-06-14 11:42] giuseppe commented on #10673
`runRoot: /tmp/podman-run-1000/containers`

tmp is cleaned up by systemd-tmpfiles (with the default configuration weekly).

If you are using containers that run longer than that, please make sure a different path is used, or instruct tmpfiles to not touch files under /tmp/podman-run-1000`

[2021-06-14 11:45] Luap99 commented on #10672
As you can see by the warning, dnsname is not supported with internal networks. For now you have to use external network if you want to use dnsname.
I tag this as feature, the team wants to rework the network stack in the near future.

[2021-06-14 11:47] anthr76 commented on #10274
Have you tried using a re-producer above? Usually you needed to specify a custom toolbox image for it to break..

[2021-06-14 11:48] giuseppe commented on #10669
what error do you have?  If the volume is owned by your rootless main user, then it should be able to access it.

When you say "consistent mapping", do you mean the identify mapping?

[2021-06-14 12:24] edsantiago commented on #10003
@mheon do you think #10405 fixes this?

[2021-06-14 13:09] #10614 closed

[2021-06-14 13:16] mheon commented on #10669
This is definitely the use-case for `--userns=keep-id`. Privileged does not and will never do this by default - the default container root to user launching container mapping is a lot safer as container apps run as root (and the the user launching the container) by default. You can certainly duplicate what `--userns=keep-id` does through `--uidmap` and `--gidmap`, but I think you're only duplicati

[2021-06-14 13:20] statiksof commented on #10470
I confirm, the script worked on CentOS 8 and it installed version `2.2.1`

[2021-06-14 13:21] statiksof commented on #10470
as I mentioned, the ansible script comes from the official podman documentation, it's not mine.

[2021-06-14 13:35] edsantiago opened #10674 "podman search: Cannot move process 482667 to cgroup \"/sys/fs/cgroup/user.slice/user-31763.slice/user@31763.service/user.slice/podman-pause.scope\"""
This is the new top flake, the "https" one. Over a hundred of these in the last week:
[code]
## Podman search [It] podman search attempts HTTP if registry is in registries.insecure and force secure is false
* fedora-33 : int podman fedora-33 rootless host
  * PR #10654
    * [06-11 10:46](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5762858781769728/

[2021-06-14 13:35] edsantiago commented on #10674
@giuseppe PTAL

[2021-06-14 14:24] pclass-sensonix commented on #10617
@cdoern - thanks for starting to look into this. Were you able to reproduce the failing healthchecks as I described?

[2021-06-14 14:32] dan-m8t commented on #10673
How do I make sure that podman is using a different path?
I got some other containers running way longer than this one, those do not run into any issues.

[2021-06-14 14:48] mheon commented on #10673
We now ship a tmpfiles config that will tell systemd to ignore these directories. Please upgrade to a more recent Podman.

[2021-06-14 14:50] mheon commented on #10322
@vrothberg This one looks like a potential c/image issue, but I think it also ties into the image library error consistency work we want to do - this should probably return some sort of consistent error message indicating we have no permission to push?

[2021-06-14 14:53] dan-m8t commented on #10673
This is the most recent podman version I get from RHEL repos ...

`dnf list installed | grep podman
podman.x86_64                                     3.0.1-7.module+el8.4.0+11311+9da8acfb          @rhel-8-for-x86_64-appstream-rpms
`

there's another container-tools stream which gives me this:

`dnf module info container-tools:3.0 | grep podman
  podman-0:3.0.1-6.module+el8.4.0+10614+dd38312c.x86_6

[2021-06-14 15:32] mheon commented on #10671
Can you build the Dockerfile in question with `podman build` and see if it fails there?

[2021-06-14 15:36] stephanritscher commented on #10354
I just retried with podman-3.2.0-5.fc34.armv7hl.
Unfortunately the problem still is the same.

[2021-06-14 15:52] Luap99 commented on #10671
@mheon Yes podman build is failing too. PR to fix https://github.com/containers/buildah/pull/3296

[2021-06-14 15:53] Luap99 commented on #10671
@Davidnet As a workaround adding  a `RUN ls` step after the `WORKDIR` step in the Dockerfile should work

[2021-06-14 16:03] therealdjryan commented on #10495
I am having what appears to be this issue while starting containers with podman-compose. Is there a workaround I can use until this fix is released? I apologize if the answer tis obvious, I am a novice with containers.

[2021-06-14 16:16] edsantiago opened #10675 "podman logs -f: misses final container output"
This one smells a little like #10003 but it's podman-local, not -remote.
[code]
(The above is not a real reproducer, just an overview of the problem)

## sys: podman kill - test signal handling in containers
* fedora-33 : sys podman fedora-33 rootless host
  * PR #10635
    * [06-11 11:14](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4808706966683648

[2021-06-14 17:04] #10621 closed

[2021-06-14 17:07] edsantiago commented on #10675
Here's a reproducer (copy-paste into `foo.sh`):
[code]
What it looks like to me is a resurrection of an old bug: `podman logs -f` sees that the container has died, and it exits without emitting the final output from the container.

Note that when this script fails, `podman logs -l` (correctly) shows DONE as the last line, but `/tmp/foo.log` does not include DONE.

Connected to @vrothberg's recent

[2021-06-14 18:02] storrgie commented on #10669
Thanks for the response @giuseppe:

 - on the host the mapped folder is owned by `uid` `606`
 - within the container the root user (`uid` `0` can write to the mapped folder)
 - within the container the non-root user __cannot__ write to the mapped folder (`uid` is `910` by default in the container I mentioned above)

[2021-06-14 18:05] storrgie commented on #10669
Thanks for the response @mheon, I did read through that and felt like I was entirely confused about `--userns=keep-id`, but I didn't debug very long with it. As I'd mentioned just above to @giuseppe, the user that is running the process in this container is not the root user, so it doesn't seem to have proper permissions to write to the mapped volume. Permissions changes (e.g. `o+rwx`) don't seem

[2021-06-14 18:17] storrgie commented on #10669
@mheon follow up on:

I'd tried to toy with this, I was unable to get it to work and I didn't share my logs. I'm away from the machine for a moment but wanted to respond with a question (as I might have had the wrong idea for testing).

Ideally, in the case of freshrss above, I can either just know that the `uid` and `gid` are `910` or I an specify with an envar (the way the container is built). I

[2021-06-14 18:20] mheon commented on #10669
I defer to @giuseppe on whether it's possible to have multiple GIDs in the container map to one GID on the host

[2021-06-14 18:41] jberkus commented on #10623
Confirmed that this is now fixed in current rawhide:

[code]
[code]

There's a new issue, though, so I'll open a new bug for that.

[2021-06-14 18:41] cevich commented on #10656
I think I see the problem: The definition for `$LDFLAGS_PODMAN_STATIC` seems to have been lost.  Working on a PR to fix it.

[2021-06-14 18:51] tobwen opened #10677 "[systemd] launching podman in systemd from root in another instance makes trouble"
## category
That's neither a bug nor a feature. Maybe something for https://github.com/containers/podman/blob/master/troubleshooting.md

## summary
When trying to launch a _podman_/_conmon_  from _systemd_ service in another User/Group **from root**, neither `Type=forking` nor `Type=notify` works because of _systemd_'s safety precautions.

## `Type=notify`
[code]
Fails with the error message like:

[2021-06-14 18:55] jberkus opened #10678 "Transitory libc.so.6 error"
/kind bug

**Description**

Immediately after upgrading the kernel and crun via Fedora Silverblue, I experienced a transitory podman error where pods would not start.  This error somehow resolved itself.

I am reporting this in case other users encounter the same error, so that they will find this issue and discover that the error is transitory.  Recommend "close wontfix".

**Steps to reproduce th

[2021-06-14 19:22] edsantiago commented on #10675
UPDATE: I edited the reproducer, simplifying it because signals and `exec` have nothing to do with the failure. It's just logs. But I'm also now seeing weird `ERROR[0000] <nil>` messages spit out at random:
[code]

[2021-06-14 19:23] mheon commented on #10677
I know we talked to the systemd team, specifically about the `Type=forking` bit here - it seems like it would make sense that, since `User=podman` is specified, the PID file being owned by `podman` would be ok, but they did not agree. Their recommendation was to use `systemd --user` for the user in question instead.

Can't speak to the Notify bit, but it may well be similar reasoning.

[2021-06-14 19:31] tobwen commented on #10677
The problem I'm having with that is: it's ugly to control from root:
[code]

_systemd v248_ will be nicer, at least _Debian Bullseye_ comes with _v247_ only:
[code]

Aliasing might help here, of course.

[2021-06-14 19:48] barfurth commented on #9222
@nalind it seems user namespaces configuration is not relevant. A clean Ubuntu Docker container won't run a `podman build` with `RUN` commands unless it gets privileged. Ubuntu usually has namespaces enabled by default.

In cases where the Docker context can't be modified (shared CI environments for example) it appears Podman cannot replace Docker yet.

[2021-06-14 22:50] Blfrg commented on #10274
@anthr76 I followed the same steps as [the previous time](https://github.com/containers/podman/issues/10274#issuecomment-836131002) I experienced this issue:
- update to current SilverBlue
- Try toolbox enter (default or named container)
- experience error

Per your request I have tested with an additional existing [named] container:
[code]

I did not experience an issue with the named container.

[2021-06-15 00:44] storrgie commented on #10669
Here is the example I was working with.

[code]
 - as root, become user `freshrss`
 - make directory `data`
 - `freshrss` has `uid` and `gid` of `606`.

I'd like to use the `--userns=keep-id` and have this container be able to write to the `data` volume, but... it seems to have permissions errors:

[code]

 - permissions errors
 - nothing written to the `data` directory

Now without `--userns=keep

[2021-06-15 01:25] zhangguanzhang commented on #10495
https://github.com/containers/podman/pull/10658/files#diff-68d24fa81558aae3d8c59e2aa57a4fa719ea3b04d7fa14beff45f16f00858f50R21
could use the latest version `v3.2.1`

[2021-06-15 06:39] Yajo commented on #10672
Thanks for the feedback. And are there any known workarounds for the time being?

[2021-06-15 07:26] hetzbh opened #10682 "podman doesn't run image with invalid architecture"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I start a simple systemd service that I created and it needs to pull an image, if an image is already in the local cache, it fails with this message on the journal:

[code]

However, if I clean the cache (podman rmi pihole) prior to running the systemd service, it starts without an issue

[2021-06-15 07:33] giuseppe commented on #10674
[code]

I think we should ignore the warning, or downgrade it to a debugging message

[2021-06-15 07:40] giuseppe commented on #10674
The failure seems to happen reliably with updated images, so added a patch here: https://github.com/containers/podman/pull/10451

[2021-06-15 07:46] giuseppe commented on #10669
that is not possible.  One ID in the user namespace can only map to one ID in the outer environment.

you'd need to allocate IDs 1->N on the host to the rootless user.  I really suggest you to not do it, as you allow the unprivileged user to use system IDs.

Why is such a requirement to have the same IDs mapped to the same values on the host?

[2021-06-15 09:05] Luap99 commented on #10560
@rhatdan Yes

[2021-06-15 10:06] dan-m8t commented on #10673
Problem seems to be fixed after I set `rootless_storage_path` - no more restarts, closing this, thanks for your input!

[2021-06-15 10:06] #10673 closed

[2021-06-15 12:03] edsantiago commented on #10675
Yeah, there is something broken in `podman logs`. That's where the red `ERRO[0000] <nil>` is coming from. Changing the above reproducer as follows:
[code]
...makes the ERRO message go away. Instead, it shows up in foo.log as:
[code]
And, bizarrely, it takes many more iterations for the failure to happen (about 10-20, instead of 2-5).

[2021-06-15 12:26] tobwen commented on #10682
Isn't it just `run ... pihole/pihole` - without `docker.io/` like `podman pull pihole/pihole`?

[2021-06-15 12:28] hetzbh commented on #10682
I tried first without the docker.io part and it didn't work, so I thought that if I would add docker.io it would solve the issue. It doesn't.

[2021-06-15 12:28] tobwen commented on #10682
What does `journalctl -r` say? Also, why don't you use `podman generate systemd` to generate "state of the art" service files? :-)

[2021-06-15 12:51] Luap99 commented on #10675
@edsantiago Just to confirm you are using the file log driver?

[2021-06-15 12:52] hetzbh commented on #10682
Ok, looks like it's not systemd fault. Try to run the following command (as root) twice. At first it will pull the image, and at the 2nd, it will give an error "Error: pihole: image not found"

```podman run -d -p 53:53/tcp -p 53:53/udp -p 67:67/udp   -p 80:80/tcp -p 443:443/tcp -e DNS1=1.1.1.1 -e DNS2=8.8.8.8   -e TZ=America/New_York --name pi-hole -e WEBPASSWORD=blah pihole```

journal doesn't s

[2021-06-15 12:53] tobwen commented on #10682
Works like a charm here:
[code]

[2021-06-15 12:54] edsantiago commented on #10675
I'm just using whatever is default, I haven't touched anything. I assume the CI systems (which are failing, which is the motivation for filing this issue) also use default.

On my system:
[code]
Is `eventLogger` the same as `log driver`?

[2021-06-15 12:56] tobwen commented on #10682
No problem here. Did you forget to stop the container or replace it? You can't run a daemon two times with the same name:

[code]

To replace it:
[code]

[2021-06-15 13:00] Luap99 commented on #10675
Yeah the default is `k8s-file`, `eventLogger` is not the same as `log driver`.
You can check the container with `podman container inspect --format "{{.HostConfig.LogConfig.Type}}" ...`.

[2021-06-15 13:01] hetzbh commented on #10682
You're right, but the error that I get is something else (I think it's related to Fedora's Pi version). Take a look:

[code]

[2021-06-15 13:03] tobwen commented on #10682
There isn't such a container. The name is just `pihiole`:

[code]

[2021-06-15 13:06] hetzbh commented on #10682
This is from docker hub and I'm already logged in. In both cases it tries to pull from the same registry.

[code]

[2021-06-15 13:10] tobwen commented on #10669
Speaking of myself (not as the topic owner): _PostgreSQL_ for example creates an internal UID `999` (_postgres_) to store the database's data. When trying to backup this data from "outside", the access to this directory fails. So you need to be root or allow the outer user `sudo` rights. Sure, there is `podman unshare`, but the file being created again belongs to another user. This can be chowned

[2021-06-15 13:29] #10666 closed

[2021-06-15 13:30] Luap99 commented on #10682
I think the pihole image is for amd64 only and not arm64.

[2021-06-15 13:32] hetzbh commented on #10682
If it wasn't, it wouldn't be running on my Pi 4B

[2021-06-15 13:33] tobwen commented on #10682
Just to be sure, please try `pihole/pihole:nightly-arm64-stretch` (or similar). But I don't have a problem on x64 here.

[2021-06-15 13:35] hetzbh commented on #10682
Same. It seems to be an aarch64 issue.

[2021-06-15 13:36] Luap99 commented on #10682
@hetzbh Did this work prior v.3.2?

[2021-06-15 13:36] hetzbh commented on #10682
Donno, I just installed Fedora 34 on Pi yesterday.

[2021-06-15 13:38] Luap99 commented on #10682
@vrothberg PTAL, local image lookup is failing when the image is already downloaded.

[2021-06-15 13:44] storrgie commented on #10669
It depends on the container composition. The example I expressed with freshrss and containers built by [this community](https://www.linuxserver.io/) was because there are likely many people using these tools and running into this use case. There are other cases of more complex containers, like gitlab, which has `uid` of `991`, `995`, `996`, `997` and a `gid` of `998` that shows up. This makes inte

[2021-06-15 13:54] storrgie commented on #10669
@tobwen when you use `--userns=keep-id` does this ensure that the volume for postgres is written as the host uid?

[2021-06-15 14:02] Vogtinator opened #10685 "podman image rm --force also untags other images (3.2.0 regression)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `podman image rm -f foo`, not just `foo` is deleted, but all references to that image.

This is a behaviour change and I couldn't find any explicit mention of that in the changelog.

**Steps to reproduce the issue:**

Have multiple tags for the same image:

[code]

Then delete an

[2021-06-15 14:05] tobwen commented on #10669
Yes.

[2021-06-15 14:18] tobwen commented on #10669
Oh, I was using `--user tobwen --userns=keep-id` here. You're right, I'm also ending up on IDs like `166536` on the host, when creating another user.

[2021-06-15 14:46] edsantiago commented on #10682
Interesting. I'm seeing something similar on my Gentoo laptop after upgrading this morning. Downgrading to 3.1.2 fixed it.

[2021-06-15 15:37] edsantiago commented on #10675
I cannot reproduce this if I switch the `podman run` as follows:
[code]
(even if I keep the `podman exec`)

[2021-06-15 15:49] edsantiago opened #10686 "v3.2.1 (on Gentoo): Error: error configuring CNI network plugin: failed to create new watcher too many open files"
rootless podman v3.2.1 fails on my Gentoo laptop, no matter what I run:
[code]
It fails very early: not even `podman info` nor `podman system reset` get past this point. `strace` shows a smoking gun here:
[code]
Per watercooler discussion 2021-06-15 the source of the error is in CNI plugins. The root cause is almost certainly something on my end, possibly my use of `syncthing` (which also periodic

[2021-06-15 16:02] edsantiago commented on #10675
I cannot reproduce if I change `sleep 0.05` to `sleep 2`. I *can* reproduce with `sleep 1`.

[2021-06-15 16:06] bigon commented on #9682
podman build with "golang-github-containers-storage (= 1.31.3+ds1-1)" in debian experimental works, so I think for the `container_file_t` part it's fine

[2021-06-15 16:30] Luap99 commented on #10686
Does it work rootful?

[2021-06-15 16:32] edsantiago commented on #10686
Yes - I tagged with the `rootless` label in hopes of making that clear, but next time I will be more explicit.

[2021-06-15 16:38] Luap99 commented on #10686
What is the value in `/proc/sys/fs/inotify/max_user_instances`?

[2021-06-15 16:41] edsantiago commented on #10686
[code]

[2021-06-15 16:43] #10566 closed

[2021-06-15 17:29] #10671 closed

[2021-06-15 18:54] edsantiago commented on #10675
Followup from this morning's conversation: every so often, the reproducer will hang. I just got one of those; it was 30 seconds, and my CPU was pegged during that period:
[code]
I don't have the granularity to know exactly where it hung: it could've been `podman run`, or `podman logs`, or `podman exec`, or `podman wait`.

[2021-06-15 19:02] edsantiago commented on #10675
The hang is in `exec`. `strace -p` is useless, showing `futex(0x28709f0, FUTEX_WAIT_PRIVATE, 0, NULL`, a pause, then `) = ?`.

[2021-06-15 20:12] #9579 closed

[2021-06-15 20:12] #10539 closed

[2021-06-15 20:13] #10188 closed

[2021-06-15 20:19] #10656 closed

[2021-06-15 20:42] rhatdan commented on #10682
@vrothberg PTAL

[2021-06-15 20:43] rhatdan commented on #10678
Any chance an update was happening during this failure?

[2021-06-15 20:44] rhatdan commented on #10678
`error while loading shared libraries: libc.so.6: cannot change memory protections`  Usually means SELinux, you might want to check if you got an AVC on containers.

[2021-06-15 20:53] rhatdan commented on #10677
Interested in opening a PR for troubleshooting.md
@vrothberg WDYT?

[2021-06-15 21:11] jmpolom commented on #10669
From the `podman run` documentation it would appear that using `--userns=keep-id` will only affect the uid:gid of the user that starts the command inside of the container once running. How would this result in several other uid/gid getting mapped to a different uid? Similarly, the `--user` flag only affects the uid:gid of the user that runs the default command/entrypoint for the container image as

[2021-06-15 21:19] basilgello commented on #10297
I am using the `createContainer` OCI hook to add iptables rules.

On simple containers like Debian it works like a charm, but on some containers Podman manages to lauch slirp4netns right before startContainer, but not before createContainer hook is called.

I guess we must ensure that createContainer hook is called after slirp4netns is started.

Also the SandboxKey from the alpine example is non-e

[2021-06-15 23:03] storrgie commented on #10669
@jmpolom this is what I expected but didn't have a chance to fully verify. My assumption was that `--user` was implicit when running rootless.

The question I'd have is, how do I "snipe" some UIDs and map them to host IDs? similar to what I'd mentioned above, for a single UID mapping:

For multiple?

Then I can use group membership of host based users to alleviate management of files on disk.

[2021-06-15 23:56] tnk4on commented on #10555
I've got v3.2.1 working fine. Also, #10578 seems to have been fixed.
Thanks!

[2021-06-16 08:53] Luap99 commented on #10686
Maybe the best short term fix is to ignore this error. Only cni needs this, it should only fail when you try to use cni, e.g. `podman run --network mynet...` and not for each podman command.
In the long run we should get rid of the inotify requirement.

[2021-06-16 10:56] AlbanBedel commented on #10105
With k8s secrets I think the important part is that they can be passed to podman separated from the pod definitions. What really happen once both have been input into podman doesn't matter that much to me, as an operator I could extract them anyway. Sure it would be great to add things like being able to mark env as secret so they can be redacted where it make sense, but that would still not allow

[2021-06-16 13:12] mheon commented on #10686
EMFILE here is, per the manpage, that the maximum number of user inotify sessions has been reached. I'm assuming you don't have 128 processes using inotify running, so this seems somewhat suspicious to me.

[2021-06-16 14:07] edsantiago commented on #10686
Not necessarily a safe assumption. I've had problems with this system for years, something to do with dbus (which I *still* have no idea what it is apart from something to irritate us oldtimers). There were 391 "dbus-daemon" processes running, and `lsof` on a sampling of those showed inotify active. Killing them fixes the EMFILE problem, allowing me to run `podman images`, but then runs into the "

[2021-06-16 14:21] tobwen commented on #10669
I think there's a more difficult thing to consider. When you would be able to assign multiple "users inside the container" to one user "outside the container" - how to get reassign it correctly on the next run?

Let's say: `991`, `995`, `996`, `997` (inside) get mapped to `1001` outside
How do you want to recover the internal UIDs, when it's all `1001` outside? You can't "split" it back to the ori

[2021-06-16 14:23] Luap99 commented on #10686
I think this might be a bigger issue. The problem is that you cannot use more than 128 podman processes concurrently without failing. I don't know if there are any users who would reach this but I think 128 is not much. It is also potentially dangerous when podman container cleanup processes start failing.

[2021-06-16 14:50] mheon commented on #10686
I think we need to add a config knob to CNI so we can turn this off everywhere that is not `podman system service`.

[2021-06-16 14:58] Luap99 commented on #10686
Actually we never need inotify, even for the service. I remember changing OCICNI to always reload the networks from disk when you use one which was not found in memory. This was needed because the podman CI flaked to often since inotify was slower than `podman-remote network create ... && podman-remote run --network ...`

[2021-06-16 15:10] #10674 closed

[2021-06-16 15:21] HarryMichal opened #10693 "Unable to pull Docker registry image on Fedora Rawhide (Error processing tar file(exit status 1): operation not supported)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While trying to pull an image through `podman run` the command fails with:
[code]

The affected command is:
[code]

The command is ran as part of system tests ran using [bats-core](https://github.com/bats-core/bats-core). In the `certs` dir are certificates needed for HTTPS. That part can be

[2021-06-16 15:27] tobwen opened #10694 "[conmon] pass custom `--log-opt`"
/kind feature

**Description**
It would be nice to pass custom `--log-opt` to _conmon_. That way, I could finish https://github.com/containers/conmon/pull/273

**Example**
[code]
to get
[code]

[2021-06-16 15:34] tobwen opened #10695 "protect pods from getting stopped by `podman stop --all`"
/kind feature

**Description**
It would be nice to "protect" containers running in pods from `podman stop --all`.  The man page just says `Stop all running containers` on the `--all`, so I was a bit surprised that also the pods were stopped (which, of course, consist of containers).

**Example**
``podman pod start --protect foo``

[2021-06-16 15:38] edsantiago commented on #10386
## Podman systemd [It] podman run container with systemd PID1
* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #10635
    * [06-10 07:07](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5881830315393024/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [06-10 07:07](https://storage.googleap

[2021-06-16 15:56] haircommander commented on #10694
would you be interested in submitting a patch :)

[2021-06-16 16:03] tobwen commented on #10694
Trust me, you really don't want me to mess around in _GO_. But I can give it a try.

[2021-06-16 16:19] edsantiago commented on #10686
I got curious, and tested:
[code]
To me, that shows 130 concurrent user processes, none of them failing? What did I do wrong?

[2021-06-16 16:22] Luap99 commented on #10686
You run the container detached, so podman already exited. If you run them attached it fails.

[2021-06-16 16:27] edsantiago commented on #10686
Oh - yeah, wow, that sure reproduces it! Thank you!

[2021-06-16 17:13] tobwen commented on #10694
Easier than expected. Let me work on it:

https://github.com/containers/podman/blob/9b9bd9e0e7b72c91d8e60103e8da7999cefbc63d/pkg/bindings/containers/types.go#L13:6

[2021-06-16 17:35] mheon commented on #10693
Do we have any more details on the CI environment - is Podman running in a VM or a container? Are there any security constraints on the CI environment, e.g. a seccomp profile that could block a syscall we want to use?

[2021-06-16 17:55] mheon commented on #10695
Would a filter be sufficient here? Something like `podman stop --all --filter pod=none`?

[2021-06-16 18:06] HarryMichal commented on #10693
Podman runs in a VM. The CI is used for testing Toolbox and that can not be done inside of a container.

I'm not aware of any abnormalities in the setup but my knowledge of the CI environment is very limited.

[2021-06-16 18:43] jorgeml commented on #10682
Same issue here but on a Raspberry Pi 2 Model B Rev 1.1 (armv7l) running Fedora 34 IoT.

[2021-06-16 18:49] HarryMichal commented on #10693
@TristanCacqueray might know a bit more about some possible limitations in the CI environment.

[2021-06-16 18:59] flyn-org opened #10698 "podman: does not honor TMPDIR when executing run sub-command"
/kind bug

**Description**

I am working with podman on OpenWrt, a light-weight distribution that aims to support network devices. The default OpenWrt environment does not allow non-root users to write to /var/tmp, and thus the TMPDIR environment variable is necessary to allow podman to work. However, it seems that the `run` sub-command might ignore TMPDIR for one of its operations.

I do see refe

[2021-06-16 19:07] edsantiago commented on #10682
The problem is with password-protected registries. I can reproduce this on my f34 laptop using master @ b3f61ec38cda171caf8e8624a9ec875ba85bc20d:
[code]

[2021-06-16 19:13] tobwen commented on #10694
Sorry, I'm stuck here. Maybe I'll make it an environment variable for conmon or just apply the changes to my own builds.

[2021-06-16 19:27] cevich commented on #10386
In case it matters: New VM images for Ubuntu were ***just*** merged in for use by PR https://github.com/containers/podman/pull/10451 . This includes (among other things) and updated runc v1.0-rc95.

[2021-06-16 19:29] #10560 closed

[2021-06-16 19:44] rhatdan commented on #10698
Fix is in https://github.com/containers/common/pull/628, once it is merged, we will revendor into Podman.

[2021-06-16 19:45] rhatdan commented on #10695
I dont't think we can change the meaning of podman stop --all, but adding a filter would make some sense.

[2021-06-16 19:48] rhatdan commented on #10694
Isn't this what tag does?

[code]

[2021-06-16 19:50] rhatdan commented on #10693
This is rootless Podman correct?

[2021-06-16 19:56] HarryMichal commented on #10693
Indeed.

[2021-06-16 20:13] rhatdan commented on #10693
This smells like the linger issues that people often have.   But the Operation not supported, does not match the usually issue.

@giuseppe Any thoughts?  One difference in Rawhide, is that it uses native overlayfs rather then fuse-overlayfs.

[2021-06-16 20:15] TristanCacqueray commented on #10693
This is happening with an OpenStack instance started with the fedora cloud image. I don't think there is any special security constraints.

[2021-06-16 20:21] HarryMichal commented on #10693
I believe I forced the use of `fuse-overlayfs` by applying https://github.com/containers/podman/issues/10038#issuecomment-820185033.

[2021-06-16 20:24] edsantiago opened #10701 "podman exec: periodic 30-second CPU-hogging hangs"
[code]
Now just keep watching, it might take a minute or so. When you hear your CPU fan go loud, hit RETURN so you can mark the spot where it hangs. The next entry will be timestamped 30 seconds after the previous. Example:
[code]
master @ 2509a81c343314fa452a0215d05e9d74ab4ec15c, root and rootless.

[2021-06-16 20:25] edsantiago commented on #10675
Filed #10701 for the `exec` hang.

[2021-06-16 20:27] rhatdan commented on #10669
I think you are asking for stuff that user namespace can not do.

if you want to use real UIDs mapped to real UID within the container, then you need to handle this with --uidmap, and --gidmap, which will not be pretty.  You would also need all of the entries added to /etc/subuid and /etc/subgid.

[2021-06-16 20:28] rhatdan commented on #10669
BTW You can manipulate all of the files in the volume, by simply executing a script with

`podman unshare chown`and then chown the files to what you want.

[2021-06-16 20:33] #10606 closed

[2021-06-16 20:40] rhatdan commented on #10701
One would think we are leaking something.  Perhaps mount points.

Have you tried this as root?  If this works fine as root and not as rootless, that might point to something with fuse-overlay.

[2021-06-16 20:43] edsantiago commented on #10701
Yep, tried root and rootless (see final line of OP). No leaked mounts that I can see (I even checked while the exec hang is in place; no new mounts)

[2021-06-16 20:53] rhatdan commented on #9333
This would probably work.

[code]

[2021-06-16 21:05] mheon commented on #10701
Can't reproduce. Had it running for the last 5 minutes without any effect? F34, latest main branch.

[2021-06-16 21:10] edsantiago commented on #10701
Oh, weird. It reproduces within seconds for me as root, and ~1 minute rootless. Also f34, 5.11.17-300.fc34. With root I can't even get three iterations of the loop without a hang.

[2021-06-16 21:12] edsantiago commented on #10701
[code]

[2021-06-16 21:36] TomSweeneyRedHat commented on #10329
Almost every *.md file that we have scattered across the site will need attention, plus several other scripts and such.

`grep -R master . | grep -v tests | grep -v vendor | grep -v pkg | grep master`

[2021-06-16 21:58] HarryMichal commented on #10693
Without applying the workaround the job still fails with the same error. Output of `podman info --debug`:

[code]

[2021-06-16 22:17] edsantiago commented on #10701
Well, drat. I brought up a 1mt VM, 5.11.15-300.fc34, and can't reproduce in almost an hour of looping (using test-and-break so I could leave it unattended):
[code]

[2021-06-16 22:51] tobwen commented on #10694
No, see my report on conmon. The tag ends up in a journald variable, which is pretty costly to extract (see rsyslog docs on their journald module for example).

My approach just prefixes the important stuff to the syslog message, which is processed by default and at high performance.

But I am making use of the tag, of course. All that is missing is a switch to change the behavior to not break def

[2021-06-16 23:34] mheon commented on #10698
@rhatdan You sure? He's on 3.1.x per his report - that regression was from the new image code from Valentin, so it should only have appeared in 3.2.0 and above?

[2021-06-16 23:37] mheon commented on #10694
Passing new log options is pretty cheap on the Podman side, so long as Conmon is capable of interpreting them correctly (that would be a @haircommander question)

[2021-06-16 23:38] mheon commented on #10693
So we fail both with, and without, mount program set, with the same error?

[2021-06-17 02:45] Davidnet commented on #10671
Oh thanks. @Luap99  works

[2021-06-17 02:50] flyn-org commented on #10698
@rhatdan and @mheon, I tried manually applying the changes in containers/common#628 to my podman 3.2.0 build, but the problem remained. Might this be a different issue?

[2021-06-17 06:44] sappersd opened #10702 "stable podman 3.2 packages for CentOS 8"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi! I see you released podman v3.2.1, but for CentOS 8 still doesn't exist stable v3.2.0 rpm (kubic repo). May be you know why? And when appropriate packages will appear?

[2021-06-17 07:07] vrothberg commented on #10677
SGTM

[2021-06-17 07:10] vrothberg commented on #10685
Thanks for reaching out, @Vogtinator!

I can confirm, it's a regression. We did a major rewrite of the image handling.

[2021-06-17 07:14] tobwen commented on #10694
Pretty cheap for someone who's into it :-) I'd extent _Conmon_ of course. But I wanted to check if it's possible to get a _podmon_ switch at all. Without it, I would only patch it for my own use (because nobody else would be able to access it).

[2021-06-17 07:20] vrothberg commented on #7370
Thanks, it's yours :)

As mentioned above.  This feature will need extensive testing in https://github.com/containers/podman/blob/master/test/system/065-cp.bats but we can assist.  Code wise, the plumbing would happen `cmd/podman/containers/cp.go`.

[2021-06-17 07:24] vrothberg commented on #10655
Sounds good to me.  Indeed the man pages suggest that Wants= would address the issue.

[2021-06-17 07:25] vrothberg commented on #10648
@wrobell, could you open an additional issue for Buildah?

[2021-06-17 07:32] vrothberg commented on #10682
Local image lookup is working as expected _but_ the pihole image is wrong, see below:

$ skopeo inspect --format "{{.Architecture}}" docker://docker.io/pihole/pihole@sha256:4e10b0a5cfa2f36ff29554599664b47e984986f48a713e1c0ad831b1cf88401a
amd64

The arm64 image set its architecture to amd64.  I think we need to loosen the platforms check in libimage as I prefer to keep using broken images over brea

[2021-06-17 07:39] giuseppe commented on #10693
I guess "$BATS_RUN_TMPDIR" is pointing to `/tmp` or another tmpfs that doesn't support extended attributes.

The error above happens when setting an extended attribute, to reproduce it:

[code]

Please use another file system for the storage root.

I am closing the issue but please keep commenting and re-open it if I am wrong and that is not the reason.

[2021-06-17 07:39] #10693 closed

[2021-06-17 07:49] vrothberg commented on #10685
Opened https://github.com/containers/common/pull/630

[2021-06-17 07:55] giuseppe commented on #10669
mapping system IDs (< 1000) in a rootless container is a bad practice as you are allowing your unprivileged user to access system IDs.

If you want 1->1 mapping on the host, could it be done with a a root container without user namespaces?

[2021-06-17 08:50] tobwen commented on #10669
It's done in some major packages, like _PostgreSQL_ and _Gitlab_.
https://github.com/docker-library/postgres/blob/0ecab4075024289cfec9c0919fba9e5af8a9bbd9/13/buster/Dockerfile#L21-L27

[2021-06-17 09:05] HarryMichal commented on #10693
That sounds like the cause of the problem. Thanks for the insight, @giuseppe!

I wonder though why this issue happens only on Rawhide and not the stable versions of Fedora.

Anyway, I'll try to use a different location for the root.

[2021-06-17 11:21] giuseppe commented on #10693
that happens because Fedora Rawhide has support for native overlay also for rootless.  In this case whiteout files are created using extended attributes, while on the older Fedora version we were using a different format for whiteout files (`.wh.FILE`) that is used by fuse-overlayfs

[2021-06-17 11:36] jpalus opened #10705 "Is rootless container nested in rootless container possible?"
Actually not even nested container, but just `podman import` and `podman push` inside rootless container. Every podman command invoked inside container results in:
[code]
If strace is to be believed that's likely because of:
[code]
`newuidmap` has proper file capabilities.

Tried also with `seccomp=unconfined` but still same result. Anything I might be missing?

[2021-06-17 11:42] edsantiago commented on #10682
Oh, *blush*, yeah, it's Arch, not password-protection.
[code]

[2021-06-17 12:47] gbraad opened #10707 "Q: Which connection is the default; rootless or root?"
https://github.com/containers/podman/blob/a634b2cd5977c60f1907733efe07b61ba36271fb/pkg/machine/qemu/machine.go#L172-L180

[2021-06-17 12:48] vrothberg commented on #10707
@ashley-cui @baude PTAL

[2021-06-17 13:07] ashley-cui commented on #10707
@gbraad  rootless is the default, unless you have already set another connection to be the default via `podman system connection add`

[2021-06-17 13:17] #10707 closed

[2021-06-17 14:17] tobwen commented on #10669
Wouldn't a `chmod 777` (or such) be better because a `chown` might make it unreadable from the container. Or `chown` to a group and `chmod g+rwX` of course.

[2021-06-17 14:21] tobwen commented on #10695
Surely a filter would be useful. I just didn't assume that `podman stop` also stops containers in pods. I thought this was the task of `podman pod stop`.

For me, you don`t need to include the function. So you can close the request if it's up to me.

[2021-06-17 14:23] tobwen commented on #10694
@mheon
Could you guide me, how to integrate new log options (as you can see, I already tried) Then I could finish it and present it to you.

[2021-06-17 14:42] afbjorklund commented on #10702
I don't think there are any packages for Ubuntu 20.04 LTS either, latest is v3.1.2.

[2021-06-17 14:44] mheon commented on #10702
@lsm5 PTAL

[2021-06-17 14:48] mheon commented on #10695
I think the intent of the `stop --all` command is to stop every container that is possible to stop. This includes every container in every pod, so as a side effect it does take pods down as well. Could be worth documented in the manpages? Maybe even a blog about how Podman treats pods - they're groups of containers, so all common container operations continue to work on containers in a pod, up to

[2021-06-17 14:55] lsm5 commented on #10702
there were some selinux issues on f33. Let me check how things go on centos 8 and update there.

ubuntu packages are in kubic testing. I'll run some quick tests there and release to the main kubic repo.

[2021-06-17 15:52] giuseppe commented on #10669
depends what you are aiming at.

If you want to make the files world writeable/readable then that is fine.

if you want to chown to your own user, then you need a different command, and that probably will make files not accessible from the container.

I am closing the issue as I am not sure what we can do from Podman, but feel free to keep commenting

[2021-06-17 15:52] #10669 closed

[2021-06-17 16:12] edsantiago commented on #10701
Hypothesis: it might be the systemd journal GC.
[code]
If I add `--events-backend=file` to my reproducer (both podman-run and podman-exec), the problem goes away. I cannot reproduce the hang, even over the course of many minutes.

I have a 1mt VM running, and am trying my best to fill up the journal by piping binaries through `logger`. It's not filling up fast enough. Any suggestions?

[2021-06-17 17:29] edsantiago opened #10710 "podman-exec tty resize: stty: standard input"
Fallout from #10683 (tty resize). The test even flaked in that very same PR:
[code]

## sys: podman detects correct tty size
* ubuntu-2104 : sys podman ubuntu-2104 root host
  * PR #10683
    * [06-16 11:55](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6429990330826752/html/sys-podman-ubuntu-2104-root-host.log.html)

...and it just [triggered in a ne

[2021-06-17 18:12] edsantiago commented on #10710
Yikes - the #10688 flake was a triple:
* [06-17 12:26](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6350591485018112/html/sys-podman-ubuntu-2104-root-host.log.html)
* [06-17 11:20](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5626898622447616/html/sys-podman-ubuntu-2104-root-host.log.html)
* [06-17 07:4

[2021-06-17 18:27] Luap99 commented on #10710
@edsantiago Are you able to reproduce locally?

[2021-06-17 18:28] edsantiago commented on #10710
I have not been able to reproduce, because I'm plagued by #10701 on my laptop.

[2021-06-17 18:35] mheon commented on #10710
I'm struggling to see how this could happen - the resize is now happening in a way that can't race.

[2021-06-17 18:35] infiniteregrets commented on #7370
I will try to work on it as soon as possible. I will ping you if I am stuck! Thank you

[2021-06-17 18:45] mheon commented on #10705
Another Podman in Podman, @rhatdan

On Thu, Jun 17, 2021 at 07:36 Jan Palus ***@***.***> wrote:

[2021-06-17 18:46] marcpawl opened #10712 "1GiB layer limit?"
/kind bug

**Description**

Images pull down using docker but fail with podman  Layers are very large and fail consistently at 1Gib.

**Steps to reproduce the issue:**

1.
'/usr/bin/podman'  'pull'  'XXX/YYY/ZZZ:cc1d905']
Trying to pull XXX/YYY/ZZZ:cc1d905...
Getting image source signatures
Copying blob 55521dc71959 skipped: already exists
Copying blob 0b0cbaa13104 skipped: already exists
Copying

[2021-06-17 20:16] edsantiago commented on #10710
I just reproduced on f34, podman-3.2.1-1.fc34 rootless. Passed on retry.

[2021-06-17 20:24] flyn-org opened #10713 "podman: trying to support running podman as non-root user on OpenWrt"
/kind feature

I am trying to modify [OpenWrt](https://openwrt.org) and its podman package to allow users other than root to manage containers on that system. @rhatdan suggested I create a GitHub issue after [I brought this up](https://lists.podman.io/archives/list/podman@lists.podman.io/thread/4OF4YIG5EWWXJVAACZDTMFNWJTNZQTSH/) on the podman mailing list.

I have made some progress, including wor

[2021-06-17 20:26] flyn-org commented on #10713
Somewhat similar to https://github.com/containers/podman/issues/9219.

[2021-06-17 20:41] jeffreycwitt opened #10714 "failure when running `sudo curl -v -s --unix-socket /run/podman/podman.sock http://d/v1.0.0/libpod/info`"
/kind bug

**Description**

I'm new to podman, but I'm trying to get the nomad driver to work with podman

I'm having the same problem as described here (https://discuss.hashicorp.com/t/nomad-podman-rhel8-driver-difficulties/21877/2)

The comments there suggest that in order for the nomad driver to work the following should succeed:

So I've tried running this on my RHEL 8, with podman version 3.0

[2021-06-17 20:54] edsantiago commented on #10710
Reproduced on same f34 system as above, this time in podman-remote rootless. Does the warning message help?
[code]

[2021-06-17 21:03] edsantiago opened #10715 "[remote] filters test broken in podman-3.2.1-1.fc34"
I have no idea how this passed CI, so I'm guessing it must be some new not-in-CI combination of kernel/crun/whatever.
[code]
That is: the event no longer includes the label name.

100% reproducible on 1mt f34, root/rootless (podman-remote only. podman is fine)

podman-3.2.1-1.fc34 (yes, from rpm)
5.12.10-300.fc34
crun-0.20.1-1.fc34
systemd-248.3-1.fc34

Sorry for not giving a reproducer, I'm too l

[2021-06-17 21:04] mheon commented on #10710
OK, so the resize is happening too soon, presumably? That at least makes sense.

[2021-06-17 21:09] edsantiago commented on #10715
Reproducer:
[code]
(notice that `aaa=bbb` does not show up in output. It does if you use podman instead of podman-remote).

[2021-06-17 21:43] jwhonce commented on #10714
@jeffreycwitt It appears you are not connecting to the running Podman service. You give `--unix-socket /run/podman/podman.sock` in your curl command but `podman info` shows
[code]
It would appear you should be using:
`curl -v -s --unix-socket /run/user/1000/podman/podman.sock http://d/v1.0.0/libpod/info`

`systemctl --user status podman.socket podman.service` will provide you with the Podman servi

[2021-06-17 22:33] jeffreycwitt commented on #10714
Thanks so much for your response. I think I may even be having trouble getting the socket open in the first place.

Here's what I'm getting when I run `$ systemctl --user status podman.socket podman.service`

[code]

I tried:
[code]
Which did the following:
[code]
but the status request is giving me the same response.
[code]

I'm definitely a newbie (as you can tell) but I appreciate any advice yo

[2021-06-17 22:39] jwhonce commented on #10714
@jeffreycwitt From contrib/systemd/README.md, there is a section for `user (podman service run as given user aka "rootless")` did you follow those instructions to copy the necessary unit files? I ask because your status above points to `/usr/lib/systemd/user/podman.socket`. Or maybe a `systemctl --user daemon-reload` is needed?

[2021-06-17 22:44] edsantiago commented on #10710
Recommendation: try `wait_for_ready`.

[2021-06-17 23:03] jeffreycwitt commented on #10714
Ok, I definitely did NOT do that. Thanks so much for the pointer. I just copied the example files to run the socket and service as root.

And voilà, success, which also seemed to  lead to in running nomad with the podman driver. Huzzah!

[code]

Thanks so much for your help. I think we can definitely close this issue.

[2021-06-18 00:05] psilvaggio commented on #8086
This is still an issue.

[2021-06-18 00:05] vsoch commented on #9654
Ping! I think we were almost done but I wanted to discuss some possible tweaks.

[2021-06-18 00:16] EduardoVega commented on #8579
Still working on this. I've been able to get some progress and now trying to get a minimal attach workflow working (podman run without `-d` flag)

[2021-06-18 00:26] sdhoward commented on #9727
this issue has no activity because I got no response, not because it's irrelevant...

[2021-06-18 00:32] Saroufim commented on #9637
From my end the problem is fixed

[2021-06-18 00:35] ianw opened #10717 "podman-3.2.0-5.fc34 : "Error: cannot setup namespace using newuidmap: exit status 1" for unprivileged users"
/kind bug

**Description**

Running any un-privileged command on our Fedora 34 nodes, with and unmodified podman-3.2.0-5.fc34 results in

[code]

The hosts have subuid

[code]

When I strace podman to see what newuidmap is doing I see

[code]

So I guess that shows ```newuidmap``` is there and working, the ```subuid``` seems to be read correctly, it's opening ```/proc/<pid>/uid_map``` -- but then

[2021-06-18 06:26] holgerpieta commented on #9637
I haven't been able to try, because there seems to be nothing beyond 3.0.1 on any Raspberry Pi OS compatible repository.
It looks like 3.2 is in Ubuntu 21.10 Impish, but that's arm64 and so doesn't work on armhf from Raspberry Pi OS.
I'll probably going to switch that Pi from Raspberry Pi OS to Ubuntu sometimes in the near future, but I have to find the time to do that.

@Saroufim : How did you tr

[2021-06-18 07:05] Saroufim commented on #9637
I'm running Fedora IoT 34 with podman 3.2. It was fixed back when the 3.1.2 update was pushed

[2021-06-18 08:37] vrothberg commented on #9637
Thanks for checking!

[2021-06-18 08:37] #9637 closed

[2021-06-18 08:46] vrothberg commented on #10712
Thanks for reaching out, @marcpawl!

@mtrmac, have you seen that happening before?  I _suspect_ a transient network error.

[2021-06-18 08:51] vrothberg commented on #10715
Hmmm ... commit c751544facb3 should have fixed that.

[2021-06-18 09:45] vrothberg commented on #10682
Note that a workaround is to use the image ID for `podman create/run`.  That will use whatever the user specified.  Referencing by name at the moment will apply architecture checks.

It's tricky to have multi-arch support and be tolerant toward images with an incorrect arch. I am working on a fix for this specific case since the manifest list/image index is correct, just the image config is off.

[2021-06-18 10:19] HarryMichal commented on #10693
Thank you for the explanation!

[2021-06-18 10:35] rhatdan commented on #10713
With the mount proc issue, are you running podman within podman?

You could try to add `--security-opt=umask=/proc/*` and see if this helps.

[2021-06-18 11:12] rhatdan commented on #10717
I would think there is something wrong with your install of newuidmap and newgidmap.

Could you try

dnf reinstall -y shadow-utils

And see if this fixes the problem.  I believe for some reason the newuidmap and newgidmap executables on your system no longer have the setfcap turned on.

[2021-06-18 11:15] rhatdan commented on #10715
Works for me in rootless mode.

[code]

[2021-06-18 11:16] #10714 closed

[2021-06-18 11:18] rhatdan commented on #10712
Could you be running out of disk space?  I think we cause 2*Sizeofimage to be used?  Image space is being used in /var/tmp by default.

[2021-06-18 11:19] rhatdan commented on #10710
@Luap99 PTAL

[2021-06-18 11:21] rhatdan commented on #10705
Try using quay.io/podman/stable image.

[code]

[2021-06-18 11:22] #10702 closed

[2021-06-18 11:24] rhatdan commented on #10701
Does journald do throttling?

[2021-06-18 11:32] vrothberg commented on #10715
It's also passing CI but why isn't it passing with the rpm?

[2021-06-18 11:51] Luap99 commented on #10710
Well you managed to reproduced this issue with `podman-remote run` so this is not the same problem as `podman exec`.

@mheon I believe the race is between podman and conmon. The resize call will simply write to a named pipe and after that podman will write to another pipe to signal conmon that it should start the process.  I can imagine a case where conmon reads the start pipe before the resize pi

[2021-06-18 12:25] rhatdan commented on #10698
It could be that some other component in podman is attempting to write to /var/tmp/  The change I made is just going to fix the pulling of images.

I setup my /var/tmp read/only, and with this patch I got it to work.

[diff.patch.txt](https://github.com/containers/podman/files/6676988/diff.patch)

[2021-06-18 12:26] rhatdan commented on #10698
@vrothberg PTAL

[2021-06-18 12:33] vrothberg commented on #10698
A reproducer would help.

[2021-06-18 12:43] AntonioAmore opened #10722 "podman run fails inside of a Docker container in AWS Batch Job"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I launch an AWS batch job - a docker container, with podman inside. Podman successfully pulls a container, and dies on running  it with `invalid memory address or nil pointer dereference`. The issue appeared after podman v3.2.1 published.
**Steps to reproduce the issue:**

1.Create a Docker i

[2021-06-18 12:51] rhatdan commented on #10722
@giuseppe PTAL

[2021-06-18 12:53] #10695 closed

[2021-06-18 12:56] vrothberg commented on #10648
Once https://github.com/containers/common/pull/634 is merged, I will do some plumbing in Podman and then it should work again.  There are further use cases that suggest that Podman should continue eating those images.

[2021-06-18 13:21] qm78 commented on #10702
@rhatdan: could you explain, why this issue has been closed? Is Podman 3.2 on its way to Centos 8 stream? Thanks in advance!

[2021-06-18 14:01] cdoern commented on #10655
@vrothberg would this be as simple as changing `Wants=network.target` to `Wants=network.online.target` in `common.go`? If so I can open up a PR.

[2021-06-18 14:10] mheon commented on #10710
Could we also be looking at an internal latency in Conmon, where the process is not immediately ready after the start pipe is read?

Regardless, this sounds like a reasonable conclusion. I don't see an easy way around it, though - Conmon doesn't tell us that the start signal was received, either, so there's no easy way to syncronize

[2021-06-18 14:16] KKoukiou opened #10724 "podman ps --filter changed behavior between podman 3:3.1.2-3.fc34 and 3:3.2.0-5.fc34"
/kind bug

**Description**
Filter became now more sensitive and wants to use also a registry and tag:

**Steps to reproduce the issue:**
Now (3.2.0-5):

[code]

Previously:
[code]

[2021-06-18 14:21] mtrmac commented on #10712
“error happened during read” means this is the registry client reporting, so not local storage.

For now I see no reason to doubt that “unexpected EOF” is exactly what happens, i.e. the registry (probably cleanly, not 100% sure about this part) closes a connection before sending all of the data. That could be a timeout, some kind of proxy (we’ve had reports of environments that let through connect

[2021-06-18 14:23] tobwen commented on #10694
Implementation is too complicated and the audience is too little. Closing.

[2021-06-18 14:23] #10694 closed

[2021-06-18 14:28] mheon commented on #8466
I'm going to close. We don't support the flag, but we are adding the entry to /etc/hosts by default now.

[2021-06-18 14:28] #8466 closed

[2021-06-18 14:29] mheon commented on #10724
@vrothberg This looks like an image library thing?

[2021-06-18 14:34] mheon commented on #10713
Most of the maintainers here are probably not familiar with OpenWRT (I can say for certain I am not). More details on the environment Podman is being run in will help if you can give them, particularly ways it differs from a standard Linux distro

[2021-06-18 14:41] statiksof opened #10725 "stat /home/USER1/.config/containers/storage.conf: permission denied""
Any idea of what causing this?

`stat /home/USER1/.config/containers/storage.conf: permission denied"`

Actually I started the container as USER 2 and have no config for that user, so why podman is trying to `stat`
 into other USER directory.

[2021-06-18 14:44] mtrmac commented on #8223
So rereading more carefully…

This looks like a fairly clear bug: it’s very reasonable to expect that `podman manifest push --sign-by $tag` will create a valid signature, but that uses `pushOptions.ImageListSelection = cp.CopySpecificImages` with empty `pushOptions.Instances`, which causes `copy.Image` to sign the manifest list (not used for anything), but not the individual images. `podman manife

[2021-06-18 14:49] giuseppe commented on #10722
could it be fixed with fc9868e2247d2eb651586bd4b3e9a4ece3562fa0 ?

[2021-06-18 14:55] mheon commented on #10725
Did you copy any configurations from the first user? Or, potentially, do a `sudo` or `su` from the other user (these will retain environment variables from the first user in some cases, so we get a bad XDG_RUNTIME_DIR, for example)?

[2021-06-18 14:56] mtrmac commented on #8223
Yes: with your naming scheme, there needs to be a `signature-1` and `signature-2`, one signing `…:20.04` and one signing
`…:20.04-arm`.

That seems like something that could happen if `manifest list add` is a metadata-only operation that does not pull the image.

But with `podman manifest push --all` doing a full copy, it should _also_ copy the signatures from the source. Is the computer doing the

[2021-06-18 14:59] giuseppe commented on #10722
yes, I think that is the correct fix.  Closing the issue

[2021-06-18 14:59] #10722 closed

[2021-06-18 15:00] mheon commented on #9727
Can you provide the *full* logs? I'm not sure if that's actually related - the auth failure is interesting, but that is not the only place we use dbus.

[2021-06-18 15:01] KKoukiou commented on #10724
I quickly bisected it:
[code]

[2021-06-18 15:05] mheon commented on #10724
Ahhhh - I remember now. I believe this was deliberate (the filter should not have been that liberal in matching its arguments).

[2021-06-18 15:06] KKoukiou commented on #10724
Alright, docker had this 'new' behavior as well. If it's expected and you think it's the correct behavior feel free to close.

[2021-06-18 15:09] mheon commented on #10724
Roger, closing

[2021-06-18 15:09] #10724 closed

[2021-06-18 15:25] Luap99 commented on #10655
@cdoern Yes

[2021-06-18 16:12] jpalus commented on #10705
@rhatdan indeed if initial container is started like this then it works fine. `newuidmap` is not spawned then. However it does not seem to work if first container is started with full systemd inside. `podman import` doesn't work neither when invoked over ssh nor when run through `podman exec` into initial container. Should it work fine when run with systemd as well?

[2021-06-18 16:19] flouthoc commented on #6717
@mtrmac  @rhatdan @lsm5 @TomSweeneyRedHat This got implemented in https://github.com/containers/image/pull/1204 and https://github.com/containers/common/pull/607 and propagated to podman via https://github.com/containers/podman/pull/10690.

There is a add example to  docs PR: https://github.com/containers/podman/pull/10068 (not necessary though)

But I think this issue can be safely closed now.

[2021-06-18 17:31] flyn-org commented on #10713
OpenWrt is a distribution that aims to provide firmware for routers and "small" network devices. One way that it differs from most other distributions is that it does not use systemd. OpenWrt relies on busybox, but things like shadow-utils are available too.

OpenWrt is a bit niche, and I do not expect most people would have a deep understanding of it. This is why I expect to do most of the engine

[2021-06-18 18:09] mheon commented on #10713
For the first one - we use a user namespace to allow (limited) access to the mount syscall. The kernel has been patched to allow non-root users the ability to mount a few types of filesystem within a user namespace, most notably tmpfs and fuse, with full overlayfs being available in very recent kernels. Very old kernels (I don't have a precise version, but I think it was 2017-ish that the patch al

[2021-06-18 18:58] jwhonce commented on #8288
@FallenWarrior2k Use tcp://<ip>:<port> as the server and connection URL. Note this is an unsecured connection.

[2021-06-18 18:58] #8288 closed

[2021-06-18 20:11] infiniteregrets opened #10726 "Podman should support pulling multiple images in a single command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Currently podman pull command accepts only one argument and it would be really nice if it could support pulling images in a single command.

[code]
If someone wants to pull multiple images and if they are not familiar with bash scripting then they might have to do it manually by calling th

[2021-06-18 20:22] MartinX3 commented on #9729
Fixed with podman 3.2.1
Thank you

[2021-06-18 22:49] ianw commented on #10717
@rhatdan thanks, a prescient insight!  reinstalling shadow-utils did seem to help, so it appears we have some capabilities issues to sort out

[2021-06-18 22:49] #10717 closed

[2021-06-19 06:31] infiniteregrets commented on #8314
I just downloaded this file: https://github.com/containers/podman/releases/download/v3.2.1/podman-remote-release-darwin.zip and did not get any such thing as unsigned binary. Can you please provide the exact steps to reproduce this?
Currently on:
[code]

[2021-06-19 07:39] Roxolasu opened #10729 "Exposing ports on an internal network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to deny internet / network access while exposing some ports.

**Steps to reproduce the issue:**

1. `sudo podman network create --internal internal-net`
2. `sudo podman run --network=internal-net -dt -p 8080:80 docker.io/library/httpd`
3. `sudo podman run -dt -p 9080:80 docker.io/l

[2021-06-19 09:20] rhatdan commented on #10726
I don't really see the value in this, since as you say, you could do it with bash.  Also containers/image is going to prevent you from pulling more then 6 layers at a time, so you would not get any more performance.  @vrothberg @mtrmac WDYT?

[2021-06-19 09:22] rhatdan commented on #10729
@Luap99 @mheon PTAL

[2021-06-19 09:23] rhatdan commented on #10725
Usually this is $HOME or $XDG_* directories pointing at the previous users information, when you su or sudo to a different user.

[2021-06-19 09:28] rhatdan commented on #10705
Could you give me a reproducer?

[2021-06-19 09:28] statiksof commented on #10725
@rhatdan @mheon thank you for your quick replies. Is there a way to set those variables in real time? I mean something like:

`podman exec --env XDG_=... `

I am already using --root, it solved me other issues but still having this one.

[2021-06-19 10:42] jpalus commented on #10705
I'm on ARM machine right now hence base image is ARM, but swapping image to your architecture should do:
[code]

[2021-06-19 10:48] afbjorklund commented on #10726
We even had to add a lock* (mutex) when running `load` with xargs, since otherwise the simultaneous load would overwhelm the node... When using docker this throttling happened in the daemon, but when forking podman commands we had to do it explicitly.

\* https://github.com/kubernetes/minikube/commit/98a2a557c584ee5eeae9355a2922bd8fd9da4a48

[2021-06-19 11:27] giuseppe commented on #10713
an unprivileged user can mount proc if it is in a user namespace and it owns the mount and the pid namespace.  An additional requirement from the kernel is that there is already a `procfs` file system fully visible and already mounted.

Can you show the list of mounts on your system (`cat /proc/self/mountinfo`)?

[2021-06-19 13:09] mtrmac commented on #10726
Yeah, I don’t quite see the benefit.

It doesn’t make all that much sense to me to add a command just to avoid iteration, because iteration is a concept that’s going to be needed anyway (e.g. presumably after pulling the images, it will be necessary to run them — and that’s not nearly as easy to do in one command because CLI arguments need to be provided). So there would have to be something _spec

[2021-06-19 14:30] mheon commented on #10725
You’ll need to set them in your shell before calling ‘podman exec’.

On Sat, Jun 19, 2021 at 05:28 statiksof ***@***.***> wrote:

[2021-06-19 14:34] mheon commented on #10729
First question is, does this work with Docker? To me, internal means
internal and an internal network should not have any access to the outside.

From a technical perspective, this also sounds completely out of what CNI
offers now. We’d either need a rewritten version of the Portmap plugin, or
to use slurp.

On Sat, Jun 19, 2021 at 05:22 Daniel J Walsh ***@***.***>
wrote:

[2021-06-19 15:07] Roxolasu commented on #10729
Docker fails with the same error.

I guess this depends on the definition of "internal". Comparing the documentation of --internal, the intent of docker seems clearer to me.

- Docker: Restrict external access **to** the network
- Podman: Restrict external access **of** this network

I was hoping it might be supported by CNI, as there is this snipped in the internal-net:
`            {

[2021-06-19 16:42] dilyanpalauzov opened #10730 "push and pull from tarball file"
The documentation of [buildah push](https://github.com/containers/buildah/blob/master/docs/buildah-push.md) offers as export
[code]
The documentation of [podman push](https://github.com/containers/podman/blob/master/docs/source/markdown/podman-push.1.md) contains:
[code]
It does not offer just **oci:**.

The documentation of [buildah pull](https://github.com/containers/buildah/blob/master/docs/bui

[2021-06-19 18:43] frafra commented on #4963
That's not just Python related. The same problem occurs while running a Fedora 34 container using Podman on a Fedora 34 system and calling the `mv` program from coreutils.

[2021-06-19 18:47] tnk4on opened #10732 "Run `podman machine init` as root, and /etc/containers/containers.conf is created with permissions of 600."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

First, when I run `podman machine init` as root, `/etc/containers/containers.conf` is created with permission of 600.
Second, when I run any `podman` command as non-root, I get a permission denied error.

**Steps to reproduce the issue:**

1. Run `podman machine init` as root.

[code]

2. Run

[2021-06-19 19:59] basilgello commented on #10729
@Roxolasu I do achieve the same by running iptables in createContainer OCI hook. This works most of the time in rootless mode with Slirp4netns. However I decided to add new "netwprksetup" extension hook exactly for that purpose (see #10704). If you run containers in non-root mode, jailed process won't be able to alter iptables rules within the network namespace.

If you need an example of how I do

[2021-06-19 21:02] Roxolasu commented on #10729
@basilgello An example would be much appreciated!

[2021-06-19 21:19] mgoltzsche opened #10733 "podman wrongly detects systemd-resolved and fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman fails to run within an alpine container (without systemd-resolved) that uses the host network on a host that uses systemd-resolved. This is because podman detects systemd-resolved based on the nameservers and attempts to read `/run/systemd/resolve/resolv.conf` which however doesn't exi

[2021-06-19 21:56] basilgello commented on #10729
@Roxolasu here you go:

First, you define the following the script in `/etc/containers/restrict-outbound-access` and `chmod 0755` it:

[code]

It allows outgoing traffic only to Slirp4netns gateway to be able to forward traffic between your mapped ports and jailed app but nothing more.

Then, define an OCI hook in `/etc/containers/oci/hooks.d/restrict-internal-networks.json`:

[code]

Finally, as

[2021-06-20 03:56] flyn-org commented on #10713
@mheon, it seems that podman is trying to mount proc without the use of fuse-overlayfs, right? At least this is how I interpret the strace fragment above. Is this expected?

@giuseppe, proc is mounted; see below. When you say, "if it is in a user namespace and it owns the mount and the pid namespace," how can I determine if podman has satisfied these conditions?

OpenWrt uses the musl C library. C

[2021-06-20 06:46] Roxolasu commented on #10729
Wow, thank you!

[2021-06-20 08:44] afbjorklund commented on #10726
We use it for caching the Kubernetes images, using the afore-mentioned `kubeadm config images` commands.
Out of the box it only supports downloading and caching in docker daemon, so did some make / shell wrappers.

[code]

It is more useful to have this possibility when doing "save", but I just used `xargs` when doing the "pull".
(The bigger problem was that having multiple images in one archive w

[2021-06-20 11:51] jxs opened #10735 "Error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: permission denied: OCI permission denied"
Hi, I am getting this error with latest `podman` my podman info is:
[code]
downgrading [containers-common](https://archlinux.org/packages/community/any/containers-common/) from `0.40.0-1` to `0.39.0-3` fixes the issue

thanks

[2021-06-20 13:49] mheon commented on #10735
@cevich Well, we have a report of this in the wild now.

@jxs Workaround for now is to use `crun` instead of `runc` as your OCI runtime. We're seeing this in our CI and are trying to chase down the exact cause.

[2021-06-20 14:38] infiniteregrets commented on #9715
I think showing the entire help command on naked podman would be a bit too much. I like using --help instead of getting my command line get filled with help info on running the naked command, because I don't get lost in case I accidentally write `podman` instead of a command like `podman images`
A brief overview could be useful for someone. But I am not completely sure.
The Git like suggestions ar

[2021-06-20 16:06] flouthoc commented on #6717
@rhatdan @TomSweeneyRedHat This is resolved. Could we close this as well.

[2021-06-20 19:13] MagicRB commented on #8027
Same here, but on NixOS, tried to flush iptables, disable firewall.service, set the backend option in the network definition, nothing helped...

[2021-06-21 07:26] Jean-Daniel opened #10737 "podman remote bypass system resolver and fails to resolve mDNS hostnames."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to connect to a ".local" hostname with Podman remote, it tries to resolve the hostname by querying the network DNS instead of using the local resolver and fails to resolve the hostname.

I have a running machine that exposes the `podman.local` hostname using a mDNS daemon. This ho

[2021-06-21 07:26] vrothberg commented on #10726
I have no objections against supporting pulling more than one image.  The pulls should not happen in parallel but in sequence.  Everything could be handled on the command-level:
[code]

In fact, I desired such a feature a number of times already. `podman pull image1, image2, image3` ... grab a coffee ... continue working.

[2021-06-21 07:27] vrothberg commented on #10726
Regarding performance benefits et al:  I thinks it's purely a UX improvement.

[2021-06-21 07:27] #6717 closed

[2021-06-21 07:28] vrothberg commented on #6717
Thanks @flouthoc !

[2021-06-21 07:50] #10698 closed

[2021-06-21 07:54] vrothberg commented on #10655
@cdoern, the unit tests will require some massaging as well.  You can run them in the project root with `go test -v ./pkg/systemd/generate`.

[2021-06-21 08:19] infiniteregrets commented on #10726
Exactly, I don't think there is a limit for sequential pulling of images so I think this should exist

[2021-06-21 08:24] pyronaid opened #10738 "Podman not able to start pod from jenkins"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi all, let me describe better what happened. Currently I have a rootless user for podman called myuserpod. In addition to that I have on the same machine also a jenkins user that have some sudo privileges to launch podman command as myuserpod.
jenkins ALL=(myuserpod) NOPASSWD: /usr/bin/podma

[2021-06-21 09:28] sappersd commented on #10702
@lsm5 Are there any predictions for rpms publication?

[2021-06-21 10:09] tobwen opened #10740 "[rootless] kernel 5.13rc6: not using native diff for overlay"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Since I'm on a later kernel than 4.8, it should use native diff for overlay.

**Additional information you deem important (e.g. issue happens only occasionally):**
I

[2021-06-21 10:29] mtrmac commented on #10726
I meant to ask about pulling several images in sequence _in interactive use_. Scripts do that of course, but those also have rather weaker relevance for CLI design ergonomics.

---

(I don’t feel strongly about this at all.) In my view the added convenience for a _sequential_ pull is very minimal; while the cost is that we give up the _option_ to define some other semantics for the CLI; either for

[2021-06-21 10:31] mtrmac commented on #10726
c/image doesn’t have global state for this; there are 6 layers pulled at a time _for a single pull_, and if the caller initiates concurrent pulls in concurrent coroutines, each pull will try to pull 6 layers in parallel. (Each caller can also decide the level of parallelism in `copy.Options`, and such a caller probably should do so.)

[2021-06-21 11:06] #10733 closed

[2021-06-21 11:24] vrothberg commented on #10730
Thanks for pointing that out, @dilyanpalauzov!

Podman and Buildah support the exact same transports for push and pull.  It seems like a doc-only issue.  My proposal would be to point to the `containers-transports` man page instead of listing them in buildah/podman push/pull.

@mtrmac @nalind @TomSweeneyRedHat WDYT?

[2021-06-21 11:29] vrothberg commented on #10732
Thanks for opening the issue, @tnk4on!

@ashley-cui, can you have a look?  Why is Podman creating containers.conf?

[2021-06-21 11:40] vrothberg commented on #10725
@statiksof, make sure to use the `--login` flag when using sudo or su.  That will setup the required login session.

[2021-06-21 11:40] #10725 closed

[2021-06-21 11:41] vrothberg commented on #10712
@marcpawl, can you elaborate a bit on the registry that you attempt to pull from?  What's your networking environment?  Is there a proxy in between?

[2021-06-21 11:44] mtrmac commented on #10730
Yup, the transport:… format should have consistent semantics everywhere, if at all possible.

Linking to the primary transports man page would make it easier to maintain the reference as transports change (though it might well make sense to directly include some frequently-used examples, specifically chosen for a specific subcommand).

[2021-06-21 11:52] vrothberg commented on #10701
@msekletar,  have you seen such symptoms where writes to the journal are substantially delayed?

[2021-06-21 12:06] vrothberg commented on #10675
I'll take a look.  I recently touch the code and may have caused this regression.

[2021-06-21 12:38] vrothberg commented on #10675
Opened https://github.com/containers/podman/pull/10742 to clean up the ugly error log and fix the race condition.

[2021-06-21 13:27] ashley-cui commented on #10732
Huh interesting bug. I'm able to reproduce, will dig into it now!

[2021-06-21 14:36] cevich commented on #10735
Aye, s'pose it was eventually inevitable.  For reference, this is being [tracked in a containers-common issue](https://github.com/containers/common/issues/631) (but affects both podman and buildah bud).

[2021-06-21 15:46] msekletar commented on #10701
@vrothberg I don't recall any recent issue regarding delayed writes. In general writing to journald may cause clients to block (as with any other syslog daemon). Hence logging code should be able to deal with this condition. Answer to question, "Is message that we are about to log critical enough to stall the entire application in case logging subsystem is busy or otherwise no responsive?" should

[2021-06-21 17:06] #10675 closed

[2021-06-21 17:09] jwhonce commented on #10737
@Jean-Daniel We will have to dig into the cause here. Podman currently delegates this lookup to the Go ssh library. /cc @baude

[2021-06-21 17:16] TomSweeneyRedHat commented on #10702
No promises @sappersd , but fingers crossed, early July

[2021-06-21 17:48] vrothberg commented on #10090
Thanks! I'll look into it.

[2021-06-21 18:24] siretart commented on #10645
FYI, the `podman-docker` is now available in debian/experimental and ubuntu/impish.

[2021-06-21 20:06] pyronaid commented on #10738
I discovered something new. If I add a sleep 3m at the end of jenkins pipeline, the pod work fine during all the 3minutes.
This means that some processes died together with the jenkins bash launching the podman commands invalidating the pod status. Is there any possible solution to this behaviour?

[2021-06-21 20:42] isavcic opened #10745 "Network and restart issues with Exited containers in named networks"
/kind bug

**Description**

Exited containers in named networks cannot be restarted and when deleted leave orphan iptables rules in place.

**Steps to reproduce the issue:**

1. `podman network create testing`

2. `podman run -d --name test1 --network testing -p 8141:80 busybox echo Test`

3. `podman ps -a`

[code]

4. `podman restart test1`

[code]

5. `podman rm test1`

6. `iptables -L -v -n -t

[2021-06-21 21:26] rugk opened #10746 "Add website to GitHub description"
IMHO the best would be to just click on the wheel in the “About” section of your repository and add the following website link:
https://podman.io/

![image](https://user-images.githubusercontent.com/11966684/122830034-0f8bd500-d2e8-11eb-8b28-c1b595e3a4cf.png)

Edit: As far as I see,. it’s also not linked in the Readme anywhere.

[2021-06-21 22:11] dustymabe opened #10748 "rootless: fuse-overlayfs stack trace"
/kind bug

**Description**

I keep getting a stack trace when interacting with a container of mine. The container runs tmux inside of systemd. When I manipulate the container (i.e. detach from tmux or something) sometimes I get a stack trace. Anyone seen this before?

[code]

Another one:

<details>

[code]

</details>

**Steps to reproduce the issue:**

The setup is a bit complicated but an examp

[2021-06-22 02:10] mheon commented on #10748
@giuseppe PTAL

[2021-06-22 07:07] volker-raschek opened #10750 "set signed-by via environment variable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Hello,
I have set up a sigstore after the following post.

https://github.com/containers/podman/blob/master/docs/tutorials/image_signing.md

What bothers me as a developer is that I have to specify the gpg key every time I want to sign images. In the documentation I did not find an enviro

[2021-06-22 07:21] vrothberg commented on #10746
Thanks for reaching out!

It's linked in the README but rather in the middle of the document: https://github.com/containers/podman/blob/master/README.md#podman-information-for-developers

Maybe we should drop a link at the top of the README?

Putting the website in the description sounds good to me.

@mheon @TomSweeneyRedHat PTAL

[2021-06-22 07:53] captn3m0 commented on #10735
Thanks @mheon.

`podman --runtime /usr/bin/crun run` worked for me (after installing [crun](https://github.com/containers/crun))

[2021-06-22 08:07] vrothberg commented on #10750
Thanks for reaching out, @volker-raschek!

@mtrmac @rhatdan PTAL

Maybe something for registries.conf or containers.conf?

[2021-06-22 08:34] vrothberg commented on #10090
What I see in the logs below is the the containers in question are not getting deleted.  At least, the handlers do not finish deletion in the two minutes.

[code]

[2021-06-22 08:47] vrothberg commented on #10090
It also seems that sigkills are failing to the container:
[code]

Before the deadlock, I see 5 consecutive requests to `/networks` causing quite some noise:
[code]

But only two of these requests return:
[code]

The others do not return.

A lot to unpack.

[2021-06-22 09:02] thmo commented on #10090
That corresponds to the observation that a bunch of temporary containers created by the CI are not cleaned up (also not after the two minutes) and have to be removed manually.

[2021-06-22 09:07] vrothberg commented on #10090
Only shows up 3 times but I expect to see 5.

[2021-06-22 09:11] vrothberg commented on #10090
It seems like some logs are not displayed. The "shares network namespace, retrieving network info of container" suggest that all 5 network lists ran through.

[2021-06-22 09:45] vrothberg commented on #10090
Yet, looking at the logs, the only theory I came up with so far is that the network listings ran into some deadlock. @mheon @Luap99 is there anything in the networking code that would support this theory?  Some functions look to be recursive (e..g, getContainerNetworkInfo()).

[2021-06-22 10:43] giuseppe commented on #10713
please try the following command: `unshare -r -m -f -p --mount-proc=/proc echo it works`

Does it work for you?

[2021-06-22 11:07] giuseppe commented on #10740
have you tried the command with a fresh storage (`podman system reset`)?

[2021-06-22 11:16] isavcic commented on #10745
I have just tested this out, this doesn't happen with the default network:

[code]

[2021-06-22 11:34] tobwen commented on #10740
Yes:

[code]
[code]

Oh, appears in rootless only, not in rootful.

[2021-06-22 11:57] Luap99 commented on #10090
There is definitely a lot of runtime locking but I do not see anything obvious where it could deadlock.
However I noticed that `netNsCtr.syncContainer()` is called without locking `netNsCtr` first.
https://github.com/containers/podman/blob/ed511d27d7d2198624dcda41b9e06e9e582e5c20/libpod/networking_linux.go#L885-L898
According to the comment `syncContainer()` should only be called when the containe

[2021-06-22 12:02] vrothberg commented on #10678
Closing as it seems selinux related.  We can continue the conversation and reopen if needed.

[2021-06-22 12:02] #10678 closed

[2021-06-22 12:04] Luap99 commented on #10745
I cannot reproduce. Can you run the restart command with `--log-level debug`. Does it work with `podman stop ... && podman start ...`?

[2021-06-22 12:45] isavcic commented on #10745
As it's already stopped (exited), it cannot be stopped and then started.

Created a new test container after the host reboot. Here's the debug output:
[code]

[code]

[code]

The orphan iptables rules are there after the removal of the container.

[2021-06-22 12:52] rhatdan commented on #10730
SGTM

[2021-06-22 13:00] Luap99 commented on #10745
Please reboot and remove the `/var/lib/cni/` directory before you start any containers and try again.

[2021-06-22 13:10] flyn-org commented on #10713
The command you suggested fails, even when run as root:
[code]

Here is a portion of the output from `strace -f unshare ...`:
[code]
I am able to mount procfs elsewhere as root:

[code]

My build of OpenWrt is not running SELinux or anything else I can think of that would restrict processes beyond the standard Unix permissions model. Do the kernel configuration fragments in my earlier comment shed

[2021-06-22 13:12] vrothberg commented on #10710
Any progress on that?  It's a quite consistent and stubborn flake in the main branch at the moment.

[2021-06-22 13:14] mheon commented on #10746
SGTM

[2021-06-22 13:20] mheon commented on #10090
That probably won't deadlock, but it is definitely undefined behavior - could cause really weird results if 2 operations were happening to the container at the same time. Since our API handlers are multithreaded, that could well be happening.

[2021-06-22 13:25] vrothberg commented on #10090
I think that's the best shot we have so far.  This code is executed concurrently (see logs) can yield undefined behavior which would reflect the image I got from staring at the logs.  Maybe the deadlock is a symptom of that undefined behavior/state?

@Luap99, mind opening a fix for that?

[2021-06-22 13:26] mheon commented on #10745
@isavcic Are you on a distro that uses systemd? We ship a systemd-tmpfiles script to clean out the `/var/lib/cni` directory (which contains IP address lease files) on system reboot, which should prevent this.

Prior to us doing this, I heard of users that had success mounting a tmpfs at `/var/lib/cni`.

[2021-06-22 13:32] mheon commented on #10738
The first bit that is suspicious to me is the `sudo -u`. Podman requires a login session be available for the user we are run as, and sudo usually does not do this. You can try doing a `loginctl enable-linger` for the user you are running Podman as.

[2021-06-22 13:32] rhatdan commented on #10732
We should not create that file unless content is being added, it and should be 644, if created.

[2021-06-22 13:37] rhatdan commented on #10726
If they are purely sequential, then I am fine with this, change to Podman pull.  I am not that worried about the CLI changing in the future.

[2021-06-22 13:58] rhatdan commented on #10645
Great thanks @siretart

[2021-06-22 14:08] infiniteregrets commented on #9715
I think I overthought this, there is literally nothing to be changed except a small addition
This works fine now:
[code]

[2021-06-22 14:18] Luap99 commented on #10090
PR #10754
@thmo Can you build this and test if it solves this issue?

[2021-06-22 14:20] isavcic commented on #10745
@Luap99 I did so, same thing happens with the named, non-default network.

@mheon Yes, Ubuntu 20.04. Upon reboot everything is good, but it returns errors until rebooted.

Curiously, I couldn't reproduce this on my desktop, which is Arch Linux. I'm stuck, I have no ideas what else to try, given that the debug logs essentially didn't return errors (except for that error on container restart, which

[2021-06-22 14:45] dustymabe opened #10755 "make `podman system reset` handle external containers"
/kind feature

**Description**

If I have "external" containers (like ones created by `buildah` or `podman build` then `podman system reset` will error:

[code]

To an average user it's not obvious where these containers come from because `podman ps -a` doesn't show anything. However `podman ps -a --external` does.

We should be able to add some flag to the `podman system reset` command to scoop u

[2021-06-22 14:56] thmo commented on #10090
Copied [this static binary](https://api.cirrus-ci.com/v1/artifact/task/5039555368714240/binary/bin/podman) over `/usr/bin/podman` from kubic's `podman-3.2.1-1.el8.4.1.x86_64`, doesn't change the overall situation (stray containers, hanging `podman ps`.

[code]

[2021-06-22 15:44] pyronaid commented on #10738
Hi mheon, many thanks for your feedback.
I've tried to launch the command: "loginctl enable-linger jenkins"
In addition to that I've removed the sudo on the second user and configured the user jenkins as podman user as well in order to try to understand the core issue.
Unfortunately the issue remain. Until the jenkins pipeline is running the pod started and works well. As soon as it ends the pod l

[2021-06-22 15:45] pyronaid commented on #10738
Does the command "loginctl enable-linger jenkins" need a reboot to work?

[2021-06-22 15:51] mheon commented on #10738
No.

Is the Jenkins pipeline doing anything with the filesystem - NFS mounts, maybe?

[2021-06-22 17:11] pyronaid commented on #10738
I do not think so but let me put my jenkinsfile here below just to make the context clearer

pipeline {
    agent any
    tools {
        //maven 'Maven_3.6.3'
        //jdk 'jdk_1.8.0_292'
        maven 'localMAVEN'
        jdk 'localJDK'
       }
	environment {
		//Use Pipeline Utility Steps plugin to read information from pom.xml into env variables
		IMAGE = readMavenPom().getArtifactId()
		VER

[2021-06-22 17:13] pyronaid commented on #10738
The yaml instead start from a local image that make some activities like:

RUN mkdir -p /Local-Storage/${IMAGE}/${VERSION}
COPY ./package/${IMAGE}-${VERSION}.tar.gz /Local-Storage/${IMAGE}/${VERSION}/
COPY ./cfg/online/igfs.properties /Local-Storage/${IMAGE}/${VERSION}/
WORKDIR /Local-Storage/${IMAGE}/${VERSION}
RUN tar -xvzf ${IMAGE}-${VERSION}.tar.gz
RUN cp igfs.properties cfg/online/igfs.proper

[2021-06-22 17:18] mtrmac commented on #10750
Not `registries.conf`, this is a very per-user configuration.

`containers.conf` might make sense — but do you _really_ want to sign every single image ever pushed from that user account? Is it reasonable to sign every accidental testing one-off throw-away images, possibly with known vulnerabilities, during some experimentation? (Is that user account a bot that ensures this never happens?) Would t

[2021-06-22 18:47] rhatdan commented on #10735
You can change this by default in /etc/containers/containers.conf

[2021-06-22 19:16] rhatdan commented on #9715
You planning to make a PR?  I don't know if we have code smart enough to figure out a spelling mistake.  Are you suggesting we just throw out the name of all commands under Did you mean?

[2021-06-22 20:04] isavcic commented on #10745
Comparing the two hosts running the same commands and using `strace`, I definitely see the problematic host not running `iptables -D` nor `iptables -F` commands. Which command runs those? podman, crun, conmon?

[2021-06-22 20:17] #10686 closed

[2021-06-22 21:13] MartinX3 opened #10757 "Set docker_host environmental variable to rootless podman socket via podman-docker packet"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Please set the docker_host env variable and let it point to the rootless podman socket, now since podman officially supports rootless docker-compose.
Maybe via config file to choose between root and rootless socket.

**Steps to reproduce the issue:**

1. Try to boot a docker-compose servi

[2021-06-22 21:45] TomSweeneyRedHat commented on #10746
I've added the website to the description of the site (Buildah's too).  I don't think I want to move the site up any in the README.md as it stands. With the link front and center at the top of the page, I don't think that part is necessary.  Thanks for the idea!

[2021-06-22 21:45] #10746 closed

[2021-06-23 02:08] infiniteregrets commented on #9715
@rhatdan I meant listing the relevant commands that could point someone in the right direction in case they forgot the correct name. Cobra handles this for us. It picks the relevant commands, pretty much like git. And this is also used by the kubectl cli too
Docs:
https://pkg.go.dev/github.com/spf13/cobra#readme-suggestions-when-unknown-command-happens
https://pkg.go.dev/github.com/spf13/cobra#Com

[2021-06-23 04:40] njhsi commented on #10713
I found there're some diffs between normal debian and openwrt as below:
1. openwrt had no cgroup.procs as debian did
[code]
2. debian mount cgroup2 on "/sys/fs/cgroup/unified", openwrt mount cgroup2 on "/sys/fs/cgroup". would this matter anything?

3. debian had xxx.slice and init.scope folders, openwrt not. openwrt had only one folder, "service" that contained dropbear the ssh service only.

debi

[2021-06-23 07:39] vrothberg commented on #10757
Thanks for reaching out!

Please reach out to your distribution if you want this solved in the podman-docker package.

[2021-06-23 07:39] #10757 closed

[2021-06-23 08:03] vrothberg commented on #10755
Thanks for reaching out, @dustymabe!

I totally agree that Podman should handle external containers.  I think that the image removal in `system reset` should behave just as `podman rmi -af` which will remove external containers.

@mheon @baude @rhatdan thoughts?

[2021-06-23 08:12] vrothberg commented on #10710
I opened https://github.com/containers/podman/pull/10758 to disable the flaky tests. We need to make sure to reenable the tests once the underlying issue is fixed (I made sure to drop a comment).

I usually feel strongly about disabling tests but the flakes are just too frequent.

[2021-06-23 08:56] isavcic commented on #10745
Commands with `CNI_COMMAND=DEL` env didn't fire on this problematic host.

[2021-06-23 09:58] PavelSosin-320 commented on #10575
If Podman service is a Linux service which kind of service it is, simple or forking or oneshot? What is the head process of Podman service?
On one hand, Podman requires systemd t run but on another hand is incompatible with systemd.

[2021-06-23 10:08] Foxboron commented on #10735
Arch maintainer here. Feel free to poke me to test patches and/or if we should add some workarounds.

Are we better off swapping runc for crun in our `podman` package going forward?

[2021-06-23 11:43] vrothberg commented on #10052
I also see the compose tests flaking frequently.

[2021-06-23 11:54] Luap99 commented on #10745
The networking is handled by CNI. Podman calls into the cni plugins which setup the network according to the cni config.

Something in the cleanup process is failing. Check if you see any errors in the journal.

[2021-06-23 11:59] giuseppe commented on #10738
since the user myuserpod is used to launch containers, don't you need something like `loginctl enable-linger myuserpod` instead of using the `jenkins` user?

[2021-06-23 12:05] DanHam commented on #10439
@giuseppe @TomSweeneyRedHat @rhatdan

It seems others have come across and have been affected by this exact issue - see https://github.com/actions/virtual-environments/issues/3536

While I agree that this isn't caused by podman, **the issue can be fixed by a simple `chown`** so it seems a shame not to try and take this further and get it fixed.

Running `sudo chown -R $(id -un):$(id -gn) /sys/fs/c

[2021-06-23 12:22] vrothberg commented on #10197
Sorry, this one fell through my email filters.

@Saroufim, could you share the unit file?

[2021-06-23 12:24] vrothberg commented on #10197
Does it work with Podman v3.2.1?

[2021-06-23 12:25] vrothberg commented on #10100
@rhatdan @TomSweeneyRedHat PTAL

[2021-06-23 12:27] vrothberg commented on #10027
A number of fixes went into c/storage to fix these symptoms, so I am optimistic that it works with Podman v3.2.x.

[2021-06-23 12:27] #10027 closed

[2021-06-23 12:32] vrothberg commented on #9948
I am going to close this issue.

@rhatdan is currently working on making journald the the default log-driver.

[2021-06-23 12:32] #9948 closed

[2021-06-23 12:45] Saroufim commented on #10197
The systemd unit file of any pod whatsoever?

[2021-06-23 12:45] Saroufim commented on #10197
No it doesn't work on 3.2.1

[2021-06-23 12:55] vrothberg commented on #10197
After reading https://bugzilla.redhat.com/show_bug.cgi?id=1959276 the bug doesn't look to be related to Podman running in systemd units.

[2021-06-23 12:59] olivergs opened #10762 "CONTAINERS_STORAGE_CONF variable is not working properly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

CONTAINERS_STORAGE_CONF variable is not working properly.  If set, podman info --debug shows that store configFile is the one specified by the environment variable, but the contents of the file are ignored and graphRoot and runRood are not changed at all and the default is shown.

**Steps to

[2021-06-23 13:41] rhatdan commented on #10735
That is what we are doing in Fedora land.  We think in the long run having a lighter weight OCI Runtime is a good thing.  Also we hope to get newer "plugin" runtimes that use crun as a front end in the future. libkrun for example.

[2021-06-23 14:19] pyronaid commented on #10738
hi giuseppe, after the suggest of mheon i removed the intermediate layer of myuserpod, using only jenkins user to execute podman commands too.

[2021-06-23 14:24] baude commented on #10755
If we are going to do this (which I support), I would like there to be a prompt stating there are external containers *or* a --force that includes them.  In other words, an overt action says I want the nuclear option.

[2021-06-23 14:27] baude commented on #10729
can we close this?

[2021-06-23 14:29] dustymabe commented on #10755
adding a `--external` flag might be sufficient?

Run once, see there are external containers (maybe we augment error message to be more helpful). Run a second time with `--external`.

[2021-06-23 14:31] rhatdan commented on #9715
SGTM.  I am all for making this easier for the user.  What I don't want is `podman -help` being puked at the user every time they have a typo.  As long as it is only a few helpful commands, then it sounds great.  (And it is not a lot of engineering work.)

[2021-06-23 14:37] vrothberg commented on #10755
I like @baude's proposal of displaying the external containers. To me, `system reset` is stronger than an `rmi -f` as it nukes everything, so I don't think we need a new flag for that.

[2021-06-23 14:52] mheon commented on #10755
My only concern is that `podman build` tends to leak Buildah intermediate containers, so I don't think there will be many cases where `--external` is not required

[2021-06-23 14:53] dustymabe commented on #10755
how do we improve ^^

[2021-06-23 15:04] mheon commented on #10755
My memory on this is hazy, but: my understanding is that, when you Control-C (or otherwise abnormally terminate) a build midway through a RUN command, the code that would remove the intermediate container cannot fire (because it was stopped), so we end up with excess Buildah containers. I don't really know what we can do about that, given we don't really have a daemon to clean up - maybe have `pod

[2021-06-23 15:23] mheon commented on #10575
I believe we're `Type=notify` in the upstream unit files. Definitely not `Type=forking`.

[2021-06-23 16:58] marchandfab opened #10764 "setfacl yields "Operation not supported" in rootless container"
/kind bug

**Description**

When using "setfacl" inside a rootless container, an "Operation not supported" error is returned.
It happens even with a "--privileged" flag.

**Steps to reproduce the issue:**

1. `podman run -it --rm --privileged centos /bin/bash -c "setfacl -m u:ftp:r /tmp"`

**Describe the results you received:**

```setfacl: /tmp: Operation not supported```

**Describe the results

[2021-06-23 17:01] #10730 closed

[2021-06-23 17:05] #10682 closed

[2021-06-23 17:05] #10648 closed

[2021-06-23 17:12] rhatdan commented on #10757
The current podman-docker package should be setting up a symbolic link at boot time betweek /run/docker.sock->/run/podman/podman.sock

[2021-06-23 17:45] mheon commented on #10764
I bet this is a fuse-overlayfs limitation - rootless Podman uses a FUSE
filesystem to mount containers, and it likely does not support the extended
attributes required for access lists.

On Wed, Jun 23, 2021 at 12:58 marchandfab ***@***.***> wrote:

[2021-06-23 18:11] rhatdan commented on #10439
I don't see an issue with it, other then podentially allowing the id user to chown the content, but that user already is allowed sudo, so I really don't see this as a problem.

[2021-06-23 18:16] rhatdan commented on #10100
This issue with kernel versions is it ignores kernels like RHEL/CentOS where fixes are back ported to certain kernels.

[2021-06-23 18:18] marchandfab commented on #10764
The thing is that the user launching the rootless container is able to use `setfacl` on a FUSE FS on the host machine:

[code]

[2021-06-23 18:34] rhatdan commented on #10729
Reopen if you believe this still needs to be fixed.

[2021-06-23 18:34] #10729 closed

[2021-06-23 18:45] #10457 closed

[2021-06-23 18:50] rhatdan commented on #10764
Looks like a fuse-overlay problem.

Since this works

$ podman run -it --rm --privileged --tmpfs /tmp centos /bin/bash -c "setfacl -m u:ftp:r /tmp"

[2021-06-23 18:50] rhatdan commented on #10764
@giuseppe PTAL

[2021-06-23 18:52] baude commented on #10197
I am able to reproduce this ... looking further.

[2021-06-23 20:38] xabinapal opened #10767 "Swapped private and shared mount relabel options"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

As per the docs (https://github.com/containers/podman/blob/master/docs/source/markdown/podman-run.1.md),

So with `--volume /path:/path:z` a shared bind mount is created and `--volume /path:/path:z` creates an unshared volume.

Also, the same functionality exists in the `--mount` command and

[2021-06-23 20:59] Roxolasu commented on #10729
It would certainly be nice to have a simple and default way to prevent outbound access from a container. This might be better suited for a new feature request. What would you prefer, if any?

[2021-06-23 23:25] jwhonce commented on #10612
@sshnaidm The HTTP status code is problematic here. If streaming straight from c/images (as currently written), we write to the client before knowing the final results.

@cdoern I do not like seeing all the status messages in one string. That is going to break clients who have built state machines around the expected output stanzas.

One implementation, could be to buffer the channel output from c

[2021-06-24 01:38] bbros-dev commented on #6953
We are triggering this error in `3.0.1` via:

[code]

[2021-06-24 02:03] chenzhiwei commented on #8827
I encountered same issue, but solved by using WSL2 kernel package, you can have try: https://docs.microsoft.com/en-us/windows/wsl/install-win10#step-4---download-the-linux-kernel-update-package

[2021-06-24 06:35] MartinX3 commented on #10757
That's true
But what's the best way for the rootless way?
Filling the docker_host env in profile.d or giving an option in a settings file to redirect it to the rootless socket?

[2021-06-24 07:00] vrothberg commented on #10685
This has been fixed in master. Backported to v3.2.2 (soon to be released) via https://github.com/containers/podman/pull/10763.

[2021-06-24 07:00] #10685 closed

[2021-06-24 07:03] vrothberg commented on #10732
This has been fixed in master and is backported via https://github.com/containers/podman/pull/10763 to the soon to be released v3.2.2.

[2021-06-24 07:03] #10732 closed

[2021-06-24 07:47] Mingli-Yu opened #10769 "podman rootless support"
It works with root, but throw below error with non-root user.
$ podman version
ERRO[0000] cannot find UID/GID for user test: open /etc/subuid: no such file or directory - check rootless mode in man pages.
WARN[0000] using rootless single mapping into the namespace. This might break some images. Check /etc/subuid and /etc/subgid for adding sub*ids
Error: kernel does not support overlay fs: 'overlay

[2021-06-24 09:23] PavelSosin-320 commented on #10575
@mheon I tried but it doesn't work due to the original problem - zombie process:
Jun 24 11:50:47 MSI-wsl systemd[127]: Starting PodmanAPI Service for dogs...
Jun 24 11:50:47 MSI-wsl systemd[127]: podman.service: Got notification message from PID 18421, but reception only permitted for main PID 18411
[pavel@MSI-wsl user]$ pidof podman
18421 18411

Maybe, if the only duty of the 2nd process is the c

[2021-06-24 09:47] #10204 closed

[2021-06-24 10:06] djnotes opened #10770 "Podman socket does not create docker.sock for rootless Docker Compose"
Most of the time I work with root-less Podman and my projects work fine. For a while I have been using [Podman-Compose](https://github.com/containers/podman-compose), but recently switched to Docker Compose backed by Podman.
In order for Docker Compose to work with rootless Podman, I have to manually symlink `/run/user/1002/podman/podman.sock` to `/var/run/docker.sock`.
First, I enable podman sock

[2021-06-24 10:48] trusch commented on #10769
Please have a look at https://github.com/containers/podman/blob/master/docs/tutorials/rootless_tutorial.md

It explains how to setup your system so that rootless podman can work. In the end it will boil down to create /etc/subuid and /etc/subgid with correct values, so its an easy thing to do.

[2021-06-24 11:08] infiniteregrets commented on #8314
hi @ashley-cui can you provide more info on this? Or has this issue been resolved

[2021-06-24 11:53] randchoice commented on #6945
[I ran into this issue myself ](https://www.reddit.com/r/linuxadmin/comments/o6e1x6/performance_issues_when_running_nginx_reverse/). This issue only appears when running both containers on the same host. Running the same containers on two separate machines works fine.

I tried to change tcp_rmem but running:

`nsenter -t $(cat /tmp/pid) -U -n -m`

as @AkihiroSuda suggested gives me the following e

[2021-06-24 12:00] AkihiroSuda commented on #6945
@randchoice `nsenter -t $(cat /tmp/pid) -U --preserve-credentials -n -m`

[2021-06-24 12:05] Luap99 commented on #10770
I would say this up to the user to configure this. If you install `podman-docker` a symlink from `/run/docker.sock` to `/run/podman/podman.sock` is created. How should this work when several users activate the socket? You can only symlink to one destination. Also normal users should never get access to `/run/docker.sock`.

If you want your docker tools to talk to the rootless podman socket just se

[2021-06-24 12:05] #10770 closed

[2021-06-24 12:07] isavcic commented on #10745
I spotted the error:

[code]

It doesn't show up with `podman --log-level trace run` on stdout/stderr, but only in journald. There's no `/run/containers/cni` directory at all. What is supposed to create it?

[2021-06-24 12:11] infiniteregrets commented on #10726
Okay then, is this something that can be added or does it break the way the CLI is defined?

[2021-06-24 12:18] randchoice commented on #6945
Adding --network slirp4netns:mtu=1500 to the podman run command for the nginx container appears to fix the issue.

@AkihiroSuda I messed up the c&p. I ran it with your pgrep slirp4netns substitution.

Running
`nsenter -t $(pgrep slirp4netns) -U --preserve-credentials -n -m`
Gives me the same error message as before.

[2021-06-24 12:21] AkihiroSuda commented on #6945
You have to specify a PID that is associated with the child network namespace. i.e., a PID of container. (`podman inspect <CONTAINER>`)

[2021-06-24 12:28] Luap99 commented on #10745
OK, this looks like an issue with the dnsname plugin. If you do not need name resolution create the network with `--disable-dns` to get things working again.

We should debug further why dnsname is failing for you.

[2021-06-24 13:11] cdoern commented on #10612
@jwhonce do you suggest I exclude the `stream` in the final output but keep the new quiet param? that would eliminate the single string in the final report but still give the functionality to exclude the ongoing stream. Or I could also add another param to explicitly include the stream output in the final report, I feel like adding explicit features won't break compatibility because pre existing c

[2021-06-24 13:31] ashley-cui commented on #8314
Sure, after downloading podman, if you try to run it, on macs, a pop up will show and warn that the program is not safe because it is 1. not signed, and 2. downloaded from the internet. I think @baude is working on this though. Please let me know if you are able to see the pop up warning, @infiniteregrets

[2021-06-24 13:42] infiniteregrets commented on #8314
@ashley-cui Nope, didn't see any such pop up

[2021-06-24 13:54] mheon commented on #6953
Can you give further details - is this 100% consistent? Can you give any details on the container/pod you're generating from, so we can repro ourselves?

[2021-06-24 14:24] ashley-cui commented on #8314
It's the right one. I'll give it another look today and update you :)

[2021-06-24 14:27] rhatdan commented on #10433
This looks like it is no longer an issue with Podman, So closing. Reopen if I am mistaken.

[2021-06-24 14:27] #10433 closed

[2021-06-24 14:30] rhatdan commented on #10413
@groovyman Do you still have this issue.  The TMPDIR setting should be used to redirect where podman stores temporary images pulled from the internet --tmpdir is just for storing container runtime content, not image content.

[2021-06-24 14:31] rhatdan commented on #10442
@edsantiago what is the latest on this flake?

[2021-06-24 14:35] infiniteregrets commented on #8314
@ashley-cui sounds great! If there are any other mac related issues that I could possibly help then lmk!

[2021-06-24 14:54] rhatdan commented on #10161
@giuseppe any ideas on this one?

[2021-06-24 14:59] rhatdan commented on #10757
Yes profile.d is probably best.  Since mimicking the docker.sock in rootless mode, was never thought of.

Which socket does compose attempt to write to in rootless mode? Does it still try /var/run/docker.sock, or does it try a user specific socket?

[2021-06-24 15:33] matejvasek opened #10776 "Volume mounting changes owner of existing directory"
`podman` volume mounting doesn't preserve original directory owner. it changes owner to user that is currently running the container. `docker` preserves the original owner.

[code]

[2021-06-24 15:39] mcheshkov opened #10777 "podman inspect does not show EXPOSEd ports"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

For container with `EXPOSE` contents of `docker inspect` and `podman inspect` differ in exposed ports while container is running: docker show exposed ports without mapping, podman does not show ports at all

**Steps to reproduce the issue:**

1. Get image with EXPOSEd ports
2. Run container f

[2021-06-24 15:44] matejvasek commented on #10776
I think that's all right only if the directory is not yet existing in the image.

[2021-06-24 15:54] MartinX3 commented on #10757
Good to know

First it looks for docker_host, then it wants to use the root docker socket.
But maybe my informations are wrong.

Since docker also has a (for me not good working if I use networks) rootless mode, I wonder how docker-compose handles it.

But I think the socket can get changed here
https://wiki.archlinux.org/title/docker#Daemon_socket

And here it is further described I see now
https

[2021-06-24 15:56] rhatdan commented on #10769
Continue to ask questions here if you have problems, but I am closing this issue.

[2021-06-24 15:56] #10769 closed

[2021-06-24 15:58] #9715 closed

[2021-06-24 16:40] infiniteregrets commented on #10282
@rhatdan was this functionality added or is under work?

[2021-06-24 16:54] rhatdan commented on #6953
Is the container running as user yelgeb?

[2021-06-24 16:54] rhatdan commented on #6953
Is this container created with --userns=keep-id?

[2021-06-24 17:04] rhatdan commented on #10777
Interested in opening a PR for this?

[2021-06-24 17:07] rhatdan commented on #10776
Care to open a PR for this.  Basically you believe that the destination directory in an image should match the existing directory UID/GID/Permissions if a named volume is created and mounted on the container.

I thought I had a similar bug like this and fixed it. but maybe not.

[2021-06-24 17:23] rhatdan commented on #10282
Nope this was lost in the flow.  Interested in opening a PR?

[2021-06-24 17:32] matejvasek commented on #10776
For more context we need this to use [`pack`](https://github.com/buildpacks/pack) for building buildpacks.

The tool spawns container that is running as a `root` and it is mounting new volume (it is created together with the container) to `/workspace`, the `/workspace` already exits in the base image (owned by `cnb` user). Latter the container switches from `root` to the `cnb` user and tries to do

[2021-06-24 17:35] rhatdan commented on #10776
Yes this makes total sense that it should work this way.

[2021-06-24 17:59] mcheshkov commented on #10777
Actually yes!
I'll try to implement and test this.
But I'm not sure if this feature conflicts with something, or if it is considered "bad" in some way.

[2021-06-24 18:21] rhatdan commented on #10777
No if Docker displays this content then we should also.

[2021-06-24 19:09] cardil commented on #10776
To play a devil advocate here, the [manpage of mount(8)](https://man7.org/linux/man-pages/man8/mount.8.html) says:

That's why if the first command is run as user `root` the volume is created, and mounted with that user UID. Subsequent calls with different user, are trying to reuse that volume, but they see it is owned by root.

All this can be avoided by calling run with proper user for each time

[2021-06-24 19:18] mheon commented on #10776
I think the patches from @rhatdan may have changed the behavior on main - @matejvasek are you testing with the latest code?

@cardil Unfortunately, while I tend to agree with you, our compatibility promise with Docker means we are largely tied to their decisions, including bad ones. As @rhatdan says - "Bug for bug compatible"

[2021-06-24 19:34] mheon commented on #10757
When I look up rootless docker-compose guides, they don't do anything special to instruct compose to point to a different socket. This makes me think that compose is smart enough to know it's not running as root and use the rootless Docker socket, but this needs to be confirmed manually.

If this is true, perhaps it's enough to have a symlink from the Docker socket at `$XDG_RUNTIME_DIR/docker.sock

[2021-06-24 19:39] groovyman commented on #10413
Salut Dan, (@rhatdan )

well as a workaround i exchanged the dockerfile from

to
FROM fedora:33

and i got my image. Well, after a couple of updates, let's give him a change. ...

[2021-06-24 20:00] mheon commented on #10770
I think `docker-compose` may also use the rootless Docker socket at `$XDG_RUNTIME_DIR/docker.sock` which we ought to be able to create ourselves. Needs further testing.

[2021-06-24 20:13] matejvasek commented on #10776
@mheon What patches? I run code from `master` the issue is still present.

[2021-06-24 20:15] groovyman commented on #10413
Salut @rhatdan

still got the blues with:
`LANG=C podman build --tag kivirel:V0_6_1t00_34 --tmpdir=${DATA_STORE}/podmanTMP -v ${DATA_STORE}/data:/var/lib/pgsql/data:z  -v ${DATA_STORE}/logs:/var/log:z -v ${DATA_STORE}/rteFiles:/www/kivitendoData:z --build-arg  A_POSTGR_USR=tu_lxoffic --build-arg POSTGR_PWD=lx1geheim --build-arg   A_POSTGR_PORT=5435  --cgroup-manager=cgroupfs .

Error: error commit

[2021-06-24 20:18] mheon commented on #10776
They're already merged (I just backported them for 3.2.2), so if master is broken, the issue isn't fixed.

[2021-06-24 20:56] Luap99 commented on #10770
No they don't. Docker always uses `/run/docker.sock` even when you are rootless. They do this because they allow access to the socket for normal users when you are part of the docker group. Even for the docker rootless cli you have to set ´DOCKER_HOST`, see https://docs.docker.com/engine/security/rootless/#client

[2021-06-24 21:12] mheon commented on #10770
It looks like they do support this but only via contexts, which means explicit configuration of Docker is still required.

I do wonder if the context is writing a config file somewhere we can mock to set the default socket path.

[2021-06-24 21:28] rhatdan commented on #10776
I fixed the permissions, but not the ownership, I guess.

[2021-06-24 21:29] rhatdan commented on #10776
I had thought that it already worked.

[2021-06-25 05:34] djnotes opened #10779 "SELinux blocks bind mount with Docker Compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a service called db defined as follows in docker-compose.yml:

[code]

**Steps to reproduce the issue:**

1. Start podman.socket (systemctl --user start podman.socket)

2. Start docker-compose in the directory where docker-compose.yml exists

3.

**Describe the results you received:**

[2021-06-25 07:07] giuseppe commented on #10337
this is fixed in c/common

[2021-06-25 07:07] #10337 closed

[2021-06-25 07:23] vrothberg opened #10780 "RFC: image exists on registry"
Based on an internal user issue:

`podman search` is not a reliable indicator whether an image exists or not since the search semantics of registries differ. `podman image exists`, however, only works on images in the local container storage.

I'd love to extend `podman image exists` by supporting all kinds of transports.  This way, a `podman image exists docker://...` would indicate if there's a

[2021-06-25 07:25] #10767 closed

[2021-06-25 07:55] giuseppe commented on #10161
looks like the user doesn't own the cgroup and then systemd refuses to run without cgroups.

Could you wrap the call to podman with `systemd-run --scope --user` and see if it makes any difference?

I also suggest to add `--log-level debug` to podman, so we can check if it is failing to create a new cgroup

[2021-06-25 08:18] rhatdan commented on #10779
What AVCs are you seeing?  Where does /etc/mysql/conf.d/ come from?  Most likely this directory needs to have its labeling changed on the host.

[2021-06-25 08:21] rhatdan commented on #10780
SGTM, is there a way to do this, without triggering a pull?

[2021-06-25 08:26] vrothberg commented on #10780
I would always just read the manifest which should be portable across the transports.  Maybe @mtrmac has an even less expensive idea?

[2021-06-25 08:36] giuseppe commented on #10738
can you verify if there is the user systemd session running at any time? Even after the jenkins user logs out?

[2021-06-25 09:05] adelton commented on #10161
Here's the run with
[code]
https://travis-ci.com/github/adelton/freeipa-container/jobs/518998380

[2021-06-25 09:12] giuseppe commented on #10161
is the job triggered if I open a PR against your github repo?

Maybe it will be easier for me to debug what is going on

[2021-06-25 09:24] adelton commented on #10161
No. I'm pretty lot on the Travis CI credits at this point so I only run things manually when necessary.

[2021-06-25 09:42] giuseppe commented on #10161
I can't spot anything strange in the debug log.

Would be helpful to also print `find /sys/fs/cgroup/ -type d -exec stat \{\} \; && cat /proc/self/cgroup && ps auxww`

[2021-06-25 09:44] Luap99 commented on #10358
This should be fixed in the main branch

[2021-06-25 10:05] adelton commented on #10161
Here you go: https://travis-ci.com/github/adelton/freeipa-container/builds/230846266

[2021-06-25 10:17] djnotes commented on #10779
I'm mounting some custom configuration files from the host to /etc/mysql/conf.d for the mariadb container. About avc, I'm not sure. I just see the following error before the container exits:

`db_1     |      mysqld: Can't read dir of '/etc/mysql/conf.d/' (Errcode: 13 "Permission denied")`

[2021-06-25 11:13] infiniteregrets commented on #10282
Sure, I'll try

[2021-06-25 11:40] vrothberg commented on #9949
Note: I started spending time on it.

[2021-06-25 12:07] giuseppe commented on #10161
the cgroup seems to be configured correctly, so I don't think it is an ownership problem.

I'd give it a try with seccomp and AppArmor disabled: `--security-opt seccomp=unconfined --security-opt apparmor=unconfined`

[2021-06-25 12:09] mgoerens opened #10781 "Error: no FROM statement found when buildin rootless-cni-infra for RHEL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The instructions to build rootless-cni-infra (https://github.com/containers/podman/tree/v3.0.1-rhel/contrib/rootless-cni-infra ) on RHEL leads to `Error: no FROM statement found` with `podman version 3.0.2-dev`

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[2021-06-25 12:16] tobwen opened #10782 "`podman login` writes no content into /tmp/"
/kind bug

**Description**
While _Podman_ correctly detects _systemd_ and uses the default `XDG_RUNTIME_DIR`, some parts of `podman login` seems to have a small bug.

**Steps to reproduce the issue:**
[code]
<details>

[code]
</details>

As you can see, the directory is empty. The correct content is in `XDG_RUNTIME_DIR`
[code]
<details>

[code]
</details>

[code]
As expected, `XDG_RUNTIME_DIR` has

[2021-06-25 12:19] rhatdan commented on #10779
Right the source content has to have the correct label on it.  You can add a :Z to the volume in the compose, which should fix it.  Same issue would happen with Docker Daemon if SELinux enabled.

[2021-06-25 12:34] rhatdan commented on #10782
I really do not understand what the bug is,   Are you saying the podman is creating /tmp/containers-user-1001/containers/ when even when XDG_RUNTIME_DIR is defined?

[2021-06-25 12:37] tobwen commented on #10782
No, but since some builds (I cannot tell the exact commit), _podman_ doesn't complain about a missing `XDG_RUNTIME_DIR` anymore.

If `XDG_RUNTIME_DIR` isn't set, _podman_ uses the default location (`/run/user/1001/`) and writes its stuff into. But in this case, `/tmp/containers-user-1001/containers/` gets created without any content.

[2021-06-25 12:41] rhatdan commented on #10782
Ok, I would guess that there is different code handling different parts of the system, and one looks to see if a writable /run/user/* exists if XDG_RUNTIME_DIR does not exist and another piece just goes write to /tmp/containers-user-1001/containers/
Can you do a podman info on the container and which paths are in there?  I think containers/storage is creating the content in /tmp.

[2021-06-25 12:43] Luap99 commented on #10781
You cannot download from github links directly, you have to use the **raw** version, `https://raw.githubusercontent.com/containers/podman/v3.0.1-rhel/contrib/rootless-cni-infra/Containerfile` and `https://raw.githubusercontent.com/containers/podman/v3.0.1-rhel/contrib/rootless-cni-infra/rootless-cni-infra`. If you download from `github.com` you get html and not the actual  file content.

[2021-06-25 12:43] #10781 closed

[2021-06-25 12:49] tobwen commented on #10782
`podman info` is in my first post, if you mean `inspect` on a running container, here we go:

[code]

[2021-06-25 12:57] mgoerens commented on #10781
Ah right .. :facepalm: .. thanks !!

[2021-06-25 13:03] adelton commented on #10161
That worked: https://travis-ci.com/github/adelton/freeipa-container/builds/230860587

Now to figure out which of those did the trick.

[2021-06-25 13:14] adelton commented on #10161
So it turns out, both are actually needed to make systemd in rootless podman container work.

[2021-06-25 13:18] rhatdan commented on #10161
Could you look into /var/log/audit/audit.log to see what seccomp failures were being denied

ausearch -m seccomp

[2021-06-25 13:19] rhatdan commented on #10108
@ashley-cui @Luap99 @cdoern Any one have time and want to look at this?

[2021-06-25 13:19] rhatdan commented on #10108
Or any contributor out there?

[2021-06-25 13:40] adelton commented on #10161
I take that back -- `--security-opt seccomp=unconfined` helped.

[2021-06-25 13:50] mtrmac commented on #10780
(My first instinct is to ask “why is this necessary”, it’s a TOCTOU-as-a-feature and the caller almost certainly wants something a bit different. “Is the image {accessible using $credentials, accessible anonymously, exactly the same as $my_built_image }?” In the extreme, “is the image in the top 10 search results for $term?”

`podman image exists` might well be a useful way to answer a large set o

[2021-06-25 13:57] rhatdan commented on #10161
The seccomp failure should be fixed, we need to know which syscalls are being blocked.

[2021-06-25 14:01] adelton commented on #10161
When I try `ausearch`, I get
[code]
and I have no idea how to get it on that Travis CI Ubuntu. And when I try to grep it directly with `sudo grep -i seccomp /var/log/audit/audit.log`, I get
[code]

I think I'll leave it with you guys, for the FreeIPA container `--security-opt seccomp=unconfined` is enough as a workaround.

[2021-06-25 14:20] rhatdan commented on #10161
Do you get journal logs?

[2021-06-25 14:37] adelton commented on #10161
I tried that with `sudo journalctl -l | grep -i seccomp` but did not see anything related to seccomp in the output: https://travis-ci.com/github/adelton/freeipa-container/builds/230870090

[2021-06-25 14:50] isavcic commented on #10745
@Luap99 Can confirm it works now. I'm able to restart/remove and recreate the exited container because the NAT rules get deleted when the container is stopped/removed.

[2021-06-25 16:00] djnotes commented on #10779
I'm using the :Z option in the docker-compose.yml file. However, looks like the SELinux option is [not supported with services](https://github.com/moby/moby/issues/32579). Are there any workarounds?

[2021-06-25 17:00] cdoern commented on #10108
I can look into this! I need to get some background knowledge on how `image save` works but I think I could figure it out @rhatdan

[2021-06-25 18:22] duanhongyi opened #10783 "About the compatibility change between podman 3.2.1 and docker"
I use podman + buildpack to build my application in one of my systems. Recently, I upgraded podman from v3.1.2 to 3.2.1, and the system failed; It does not pull the image when it does not exist.

* Start podman as docker style first `podman system service --time 0 --log-level debug`
* Execute the following command in another console:
[code]

* There will be the following logs in podman service

[c

[2021-06-25 19:22] rhatdan commented on #10779
That Error has nothing to do with Podman, I would think.  Could you show me the line in the docker-compose.yml, we might have a bug in our code.

Anyways if you go to the directory on the host and do `chcon -R -t container_file_t PATHTOHOSTDIR`

It should solve your issue.

[2021-06-25 20:13] tobwen opened #10785 "[makefile] `ETCDIR` isn't prefixed"
/kind bug

**Description**
Files, like `87-podman-bridge.conflist` are dangling in the wrong target directory.

**Describe the results you received:**
See line 42
https://github.com/containers/podman/blob/8d3a82838388d7f3a60dbb713340aed374293a78/Makefile#L38-L42

**Describe the results you expected:**
According to the other parts of the makefile, this is expected:

[code]

**Additional information

[2021-06-25 20:18] cdoern commented on #9258
CPU features implemented but reopening to link more PRs and new Stat features.

[2021-06-25 22:16] tobwen opened #10787 "systemd service files contain hardcoded paths"
/kind bug

**Description**
On installation via `make install`, the _systemd_ service files contain hardcoded paths even when `DESTDIR` or `PREFIX` are set.

**Describe the results you received:**
https://github.com/containers/podman/tree/master/contrib/systemd

**Describe the results you expected:**
These files should be created with the settings that the user has specified. Alternatively, it is q

[2021-06-25 22:39] tobwen commented on #10785
Actually, another place might for this file might be`PREFIX/share/doc/podman/examples/`, since it can be also generated from _podman_ itself.

[2021-06-26 04:48] djnotes commented on #10779
The line causing error is:
`                        - ./data/conf.d:/etc/mysql/conf.d:Z`
It seems the issue persists after running `chcon`.

[code]

[2021-06-26 08:34] bbros-dev commented on #6953
Not running as user `yelgeb`, not created or running with `--userns=keep-id`.

Here is the Dockerfile:

[code]

The docker-compose (podman-compose) and Podman Pod setup we're working on is [here](https://github.com/bbros-dev/goose/tree/issue-289/examples/the-internet)

[2021-06-26 09:21] rhatdan commented on #10729
You want to prevent a container from using the network?

--net=none

Or do you want something else?

[2021-06-26 09:23] rhatdan commented on #10726
It can be added and it will change the CLI but not in a compatibility way. So it should be fine to add.
For now we could just add it to the cmd/ branch. I don't see that this needs to be added to the server side.

[2021-06-26 09:45] rhatdan commented on #10750
@mtrmac has some great points, @volker-raschek are you fine with this?

[2021-06-26 09:50] rhatdan commented on #10413
`TMPDIR=${DATA_STORE}/podmanTMP/tmp` LANG=C podman build --tag kivirel:V0_6_1t00_34 --tmpdir=${DATA_STORE}/podmanTMP -v ${DATA_STORE}/data:/var/lib/pgsql/data:z -v ${DATA_STORE}/logs:/var/log:z -v ${DATA_STORE}/rteFiles:/www/kivitendoData:z --build-arg A_POSTGR_USR=tu_lxoffic --build-arg POSTGR_PWD=lx1geheim --build-arg A_POSTGR_PORT=5435 --cgroup-manager=cgroupfs .

[2021-06-26 09:50] rhatdan commented on #10413
I was suggesting something like this^^

[2021-06-26 10:01] rhatdan commented on #10787
I would prefer to keep the fixes and have the make install modify the path based on the PREFIX value.

[2021-06-26 10:01] rhatdan commented on #10787
Interested in opening a PR?

[2021-06-26 10:29] rhatdan commented on #10779
I believe this error is happening because the directory is now owned by the mariadb user within the container.
If you went in the container the directory would be owned by root, and mariadb is running with the mariadb user.

If you add a :ZU to the volume mount, does that work?

[2021-06-26 10:29] volker-raschek commented on #10750
Hi @mtrmac and @rhatdan,

yes I would like to sign every image pushed by a user account. Maybe a little more on the background. The problem with signing does not only affect the developer, who has to set the flag manually, but also the user of a jumping station.

The jumping station is documented and rolled out as part of the infrastructure using Ansible. Images that are deployed via the jumping s

[2021-06-26 10:30] rhatdan commented on #10779
./data/conf.d:/etc/mysql/conf.d:ZU

[2021-06-26 10:38] Roxolasu commented on #10729
I want to prevent a container from using the network *while having exposed ports*.

The host should be able to access the exposed ports, the container should be prevent from accessing any outside its pod.

[2021-06-26 10:52] infiniteregrets commented on #10726
Alrighty, I'll open a PR

[2021-06-26 11:55] djnotes commented on #10779
No, still does not work. The error I get now when running docker-compose:
[code]

[2021-06-26 13:15] kallisti5 commented on #10735
Just saw this on ArchLinux
[code]

podman version 3.2.1

[2021-06-26 13:17] kallisti5 commented on #10735
switching to crun fixes it.  To have a workaround documented in this ticket, how do you change the default runtime of podman to crun?

[2021-06-26 13:21] jxs commented on #10735
@kallisti5 :

[see here](https://github.com/containers/common/blob/main/pkg/config/containers.conf#L404-L406)

[2021-06-26 14:26] mtrmac commented on #10750
Wouldn’t that job, or its part that runs on the Jumping Station, be a natural place to add the `--sign-by` parameter, then? I’m guessing whatever happens on that station is mostly intended to be a consistent deterministic process. If the inputs are (image determined to be trusted, destination), a `transfer-image $source $destination` script can do that in one step without users _manually_ typing `

[2021-06-26 15:31] basilgello commented on #10729
If the pod must be accessed, too, then create a private network and attach to it. My solution is for containers that need to have Internet-only connectivity without letting them reach infrastructure :)

[2021-06-26 16:00] flouthoc commented on #10755
@dustymabe @vrothberg  could you please give a try to this patch  https://github.com/containers/podman/pull/10789 with  `podman system reset --force`. While `podman system reset` without **--force** would give a prompt as @baude suggested.

[2021-06-26 16:27] bear0330 opened #10790 "containers-rootlessport memory hungry"
/kind bug

**Description**

I have 6 django apps container running on CentOS 8.4 with podman 3.1.2.
I found the containers-rootlessport process and its child eat a lot of memory (not really very much but it seems high for a component of podman).

Here is my ps output:
`nuwa        1080  0.0  1.0 1553588 30680 ?       Sl   Jun26   0:01 containers-rootlessport
nuwa         996  0.0  1.0 1479856 3055

[2021-06-26 17:22] Hoeze commented on #5431
Could we have @ranjithrajaram's solution packaged with podman?

[2021-06-26 17:32] Roxolasu commented on #10729
@basilgello: What do you mean by "private network"?

- If it is `--internal `: it doesn't work, see my first post ;)
- if it is -o parent=privateBridge: I assumed macvlan was deprecated completely, upon rereading the manpage it seems only the **option** --macvlan is deprecated. If macvlan stays, its exactly what I am looking for.

[2021-06-26 17:46] basilgello commented on #10729
Either macvlan or `--network=private` or `--network=container:id`

[2021-06-26 19:02] volker-raschek commented on #10750
Yes definitively, when you should add the flag and define the used gpg key inside the `transfer-image $source $destination` script, but we don't want to define the gpg key inside the script.

The jumping station example was simply another example where we could have used the ability for the GPG key to be configurable.

The GPG key is not defined in a script or specified by flag. It is much more pa

[2021-06-26 20:01] tobwen commented on #10787
But why include these only then? I mean, we've got way more configs, which are needed in _podman_, but don't get installed by `make install`:

[code]

[2021-06-26 20:39] isavcic commented on #10745
@Luap99 @mheon I've figured out what's the issue: root user on this host (and I log in directly as root via ssh) has `XDG_RUNTIME_DIR` env variable set, to `/run/user/0`. When creating the container on a network with `dnsname` plugin, the CNI config is written to a directory under $XDG_RUNTIME_DIR, but when it's cleaned up, those files are looked up under `/run/containers/cni` directory, which doe

[2021-06-26 22:22] tobwen opened #10791 "some entries might be missing in `tmpfile.d`"
/kind bug

**Description**
`/run/libpod` and `/run/user/*/libpod` might be missing in `tmpfile.d`.
I also don't think, `/var/lib/cni/networks` would touched from `systemd-tmpfiles` at all?

**Describe the results you received:**
https://github.com/containers/podman/blob/0a0ade3cc00c3779bbf68ddd103d3efd10b5c25b/contrib/tmpfile/podman.conf#L3-L7

**Describe the results you expected:**
[code]

**Addi

[2021-06-26 22:22] tobwen commented on #10791
@mheon
In commit message https://github.com/containers/podman/commit/9a02b50551d73c1427d158cca85d020fc71e27a7 you also wanted to add `/run/user-$UID/libpod`, but you didn't. Was this just a typo (`s/run/tmp`)?

[2021-06-26 22:55] tobwen opened #10792 "unify config locations"
/kind feature

**Description**
Right now, _podman_ reads configs from various locations.

**containers.conf**
1. `/usr/share/containers/`
2. `/etc/containers/`
3. `$HOME/.config/containers/`

**storage.conf**
1. `/etc/containers/`
2. `$HOME/.config/containers/`

**registry.conf**
1. `/etc/containers/`
2. `/etc/containers/registries.d/`
3. `$HOME/.config/containers/`

**policy.json**
1. `/etc/conta

[2021-06-27 00:13] mheon commented on #10791
Ah, it was a typo, but the commit message, not the entry in tmpfiles.d - it
should be in /tmp, not /run. Oops. At least the patch was right, even if
the commit message was off?

As for whether entries in /run should be there - I believe, but am not
sure, that systemd-tmpfiles only targets /tmp (at least, I don't think
we've ever had reports of it wiping our state in /run).

On Sat, Jun 26, 2021 at

[2021-06-27 03:34] #10783 closed

[2021-06-27 08:51] eriksjolund commented on #10039
I think it would be great if Podman had some instructions targeted for this type of HPC user

* the user does not have any root privileges
* the user's home directory resides in a network file system where subuids are not understood. (And maybe even XATTRS support might be missing)
* the has write access to a directory on local disk (outside of the home directory). Podman could be configured to us

[2021-06-27 10:55] tobwen commented on #10791
I've just seen:
[code]

And thought: okay, there might be a reason, why they've done this. But then, it's incomplete :-)

I don't even think, `/var/lib/` will be touched. On Debian, `/var/lib/postgresql/` contains the _PostgreSQL_ clusters. I hope, _sytemd-tmpfiles_ will never ever go there.

[2021-06-27 11:09] rhatdan commented on #10039
This seems like a rather specific use case to document in general documention.  I think you should blog on your experience. But I don't see where the upstream would put something like this.

[2021-06-27 11:09] thomasw64 commented on #10578
Thank You!!! This is working with 3.2.2. (didn't have the time to test on 3.2.1).
[code]

Here a short trial-run:
[code]

`podman info --debug` output:
[code]

[2021-06-27 11:09] #10578 closed

[2021-06-27 11:16] rhatdan commented on #10787
So you want to make it more complex. In a perfect world, we should specify man installs for each of these config files in their subpackages.

[2021-06-27 11:28] tobwen commented on #10787
My main problem was that `make install` by default installs configs with paths, which didn't match with my configuration. So there are two ways at least:

1. fix those configurations to match to `prefix`
2. don't make them default `make install`, like all the other configs.

"1" doesn't seem that hard to make. I'd just insert a placeholder in the contrib config and replace them using `sed`. I can

[2021-06-27 11:33] rhatdan commented on #10787
Yes both seem reasonable.  We probably should not install the configs with make install.  I would be willing to take that as long as we add a make install.configs.  Handling the PREFIX change would be nice also.  Interested in opening a PR?

[2021-06-27 11:36] tobwen commented on #10787
Yes, but I can't start until the week after next at the earliest. And my knowledge of "go" is limited, so I can do it on Makefile and shell level only ;)

[2021-06-27 11:39] rhatdan commented on #10779
Sorry they are supposed to be a comma separated list.
Z,U

[2021-06-27 11:46] rhatdan commented on #10791
These lines tell systemd-tmpfiles to delete this content if it exists at boot time.  The /run command is probably unnecessary, since systemd will not boot (As I understand it) if /run is not a tmpfs.
The /var/lib/cni/networks is definitely necessary.

[2021-06-27 11:47] tobwen commented on #10791
So:

[code]

[2021-06-27 11:50] rhatdan commented on #10787
SGTM

[2021-06-27 12:06] djnotes commented on #10779
Thank you for the clarification. You are right. Adding the Z,U options fixes the issue and docker-compose successfully launches the project.

[2021-06-27 12:23] eriksjolund commented on #10039
@rhatdan yes, you have point. My use case is probably a bit  too specific.

What if there would be a more general document about "surviving in the harshest conditions", that would spell out: What are the minimal requirements for running a container with Podman?

If I understand correctly this is always required:

The value of _/proc/sys/user/max_user_namespaces_ would need to be a positive number

[2021-06-27 13:19] mskarbek opened #10794 "RFE: pod infra container name customization"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to set name for infra container created inside pod, Additional option in `podman pod create` in form of `--infra-name=name` should be ok. Reasoning: we are using strict naming convention for pods/containers and only infra containers require additional code path to

[2021-06-27 14:06] x-yuri opened #10795 "Only the first `docker-compose up -d` succeeds"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The first `docker-compose up -d` succeeds, but the following ones fail. The workaround is to do `docker-compose down` before `up -d`.

**Steps to reproduce the issue:**

`docker-compose.yml`:

[code]

`Dockerfile`:

[code]

[code]

Change 1000 to 2000 in `docker-compose.yml`.

[code]

**Descr

[2021-06-27 15:43] tnk4on commented on #10732
I confirmed the fix in v3.2.2. Thank you!

[2021-06-27 16:06] vrothberg commented on #10783
@duanhongyi, did you resolve your issue?  Can you share how?

[2021-06-27 16:09] vrothberg commented on #10726
I agree.  The restriction to just one argument should be lifted to "at least one" and the pull code moved into a loop.

[2021-06-27 17:04] sampie commented on #10039
@eriksjolund If you find a way to run podman under a SLURM job, I would be very interested testing the method / config.

[2021-06-27 18:36] mheon commented on #10790
@AkihiroSuda PTAL

[2021-06-27 18:38] mheon commented on #10795
I'll take a look on Monday

[2021-06-27 19:44] groovyman commented on #10413
Salut Daniel,
i already tried  this, but with no success. Besides i also executed a export directive.
`
# first run
$ TMPDIR=${DATA_STORE}/podmanTMP/tmp LANG=C podman build --tag kivirel:V0_6_1t00_34 --tmpdir=${DATA_STORE}/podmanTMP -v ${DATA_STORE}/data:/var/lib/pgsql/data:z -v ${DATA_STORE}/logs:/var/log:z -v ${DATA_STORE}/rteFiles:/www/kivitendoData:z --build-arg A_POSTGR_USR=tu_lxoffic --build

[2021-06-27 21:08] #10779 closed

[2021-06-28 05:55] Mingli-Yu commented on #10769
$ cat /etc/subuid
test:10000:65536
$ cat /etc/subgid
test:10000:65536

$ podman --version
podman version 3.2.1
$ podman ps -a
Error: kernel does not support overlay fs: 'overlay' is not supported over <unknown> at "/home/test/.local/share/containers/storage/overlay": backing file system is unsupported for this graph driver

[2021-06-28 06:15] trusch opened #10796 "new "podman secret import" action"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Since we now have support for the new `passdriver` for secrets and hopefully soon support for external secrets using the `shelldriver`, we should have a way to import already existing secrets.

In the current approach of secret subsystem the actual secret driver acts like a storage engine

[2021-06-28 06:59] kniec commented on #10039
Happy to add Podman to the runtimes in this workshop: https://containers-on-pcluster.workshop.aws/run.html
I am using Amazonlinux2, which is essentially CentOS7. I had a stab at it a while ago, might worth another shot.

[2021-06-28 07:52] sachinkaushik opened #10797 "cannot clone : Operation not permitted and Error: cannot re-exec process"
Hi Team,

I'm trying to create a rootless container using  below Dockerfile. I have created a user called CLI and that is a rootless user for container.  When I ran container and trying hit podman commands like podman images or podman ps. I'm getting error mentioned in subject line.

Can you please help me what else configuration required in Dockerfile to create a rootless container.

------------

[2021-06-28 07:56] Mingli-Yu commented on #10769
It works now after install fuse-overlayfs.

[2021-06-28 08:06] vrothberg commented on #10780
Thanks, @mtrmac!   I keep forgetting about the TOCTOU.  Unless there's a convincing argument (which I do not have), I think we're at a good place.

[2021-06-28 08:06] #10780 closed

[2021-06-28 08:10] vrothberg commented on #10108
Feel free to ping me if you have questions, @cdoern. I am free 10-11AM eastern.

[2021-06-28 12:39] mtrmac commented on #10780
To be fair, “is the image accessible using $credentials” might be reasonable to express as a `podman --authfile … image exists …`. OTOH pointing users to Skopeo can work well enough that writing extra code is probably not worth it.

[2021-06-28 12:59] Procyhon opened #10799 "Update podman-container-runlabel"
/kind bug

**Description**

While adapting the `podman-container-runlabel` manpage to the MANPAGE_SYNTAX there were some questions that came up since some things may not be explained enough.

The example command below shows the use of arguments as shown in the current manpage:
[code]
What arguments can be put behind the `container image`?
I would assume that with the use of the `opt1/2/3` argument

[2021-06-28 13:13] rhatdan commented on #10413
I did recently do some fixes for podman to handle TMPDIR

I did a fix for handling of TMPDIR in podman here. 7864108ff191e2d78666fb5bdf098d295b7bae59
But I am not sure if that is the problem you are seeing.  Any chance you can check a newer podman 3.2.1 or later?

[2021-06-28 13:14] rhatdan commented on #10794
Interested in opening a PR to fix this?

[2021-06-28 13:14] rhatdan commented on #10794
@cdoern Interested in taking a look at this?

[2021-06-28 13:53] rhatdan commented on #10796
Why not just extend podman secret create to allow it to point at a `remote` store?

[2021-06-28 13:59] rhatdan commented on #10039
I agree it would be nice if podman could run without any of those files.  I would be interested in which it needs now.

It should not need containers.conf anywhere.  I am not sure if it fails without seccomp.json or not. It probably requires a storage.conf, but this can be moved around with environment variables.  As you state rootless containers usually need more then one UID so /etc/subuid and /

[2021-06-28 14:00] rhatdan commented on #10039
Podman for RHEL7 and Centos7 is very old, unless you use code from outside the distribution.  Using RHEL8/Centos8, is preferred.

[2021-06-28 14:07] groovyman commented on #10413
Salut Daniel,
i am running a `podman-3.2.1-1.fc34.x86_64` on my testserver. Sad to say, that the problem is
still there. The given tmpdir is not beeing used and i did not recognized any problem on the
file endpoint.
I think, that the new tmpfile-System is running out of space.

[2021-06-28 14:09] rhatdan commented on #10797
So you are attempting to run a rootless container within a rootless container?

If so then the range of UIDs within the rootless container must be a subset of the UIDs the user is using.

Most likely your rootless user is only allowed to use UIDs 0-65000, but you are attempting to run with UID 100000, which is not mapped within your user namespace.
The example we use:
https://github.com/containers

[2021-06-28 14:10] rhatdan commented on #10769
Kernels 5.13 will support rootless overlay, without requiring fuse-overlay.

[2021-06-28 14:14] trusch commented on #10796
@rhatdan we could also do that, all it would take in addition then would be the id that the remote store uses.

I guess we would need a dedicated import method on the secret manager though.

I thought the semantic would be much clearer if we give that functionality a new verb

[2021-06-28 14:26] dustymabe commented on #10755
I can try it if someone has a link to an rpm (scratch-build or copr, any rpm).

[2021-06-28 14:27] mtrmac commented on #10750
Using what protocol??! So, no.

[2021-06-28 14:34] rhatdan commented on #10413
@giuseppe PTAL

[2021-06-28 14:35] rhatdan commented on #10796
I would like to see what @ashley-cui and @vrothberg Think.

[2021-06-28 14:39] edsantiago commented on #10442
Seen June 23 in [int podman ubuntu-2104 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5991574128558080/html/int-podman-ubuntu-2104-rootless-host.log.html). (Prior two failures were in `sys` tests, this one is `int`; all so far are rootless ubuntu 2104). As with the others, once it triggers, all subsequent tests fail.

[2021-06-28 14:43] edsantiago commented on #10442
Also seen June 8 in [sys podman ubuntu-2104 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6440271610118144/html/sys-podman-ubuntu-2104-rootless-host.log.html).

[2021-06-28 14:48] giuseppe commented on #10413
can you please try with fuse-overlayfs 1.6?

[2021-06-28 14:53] groovyman commented on #10413
Where can i get it? I am using Fedora F34!

[2021-06-28 14:55] ashley-cui commented on #10796
It sounds interesting. It seems like this can just use the List() method of a driver, and parse the results, and then make a note of all the available secrets. There has to be checking for duplicates of secret id's too. I don't think allowing arbitrary id's and relaxing of id's is a good idea though, since we want the id's to match what kind of id's docker uses.

I'm still a little wary, since I'm

[2021-06-28 15:46] matejvasek commented on #10776
@rhatdan @mheon I tried to hackaround this in our software by creating the volume in advance.

I am doing something like `docker volume create --opt device=tmpfs --opt type=tmpfs --opt o=uid=1000,gid=1001 someVol` but not via CLI but via Go client library.

There is an issues with this approach:

The thing is that for `docker` daemon the `device` and `type` options are mandatory, however if I set

[2021-06-28 15:53] ahwayakchih opened #10800 ""cgroup is not set: internal libpod error" when adding container to existing pod while rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With podman v3.2.x, when running rootless on Alpine Linux (no systemd, cgroups switched to v2/"unified"), adding container to a existing pod that was stopped and started at least once, started showing errors like this:

[code]

**Steps to reproduce the issue:**

1. Create pod with some contai

[2021-06-28 16:14] cevich commented on #10735
Closing this as the [root cause issue](https://github.com/containers/common/issues/631) has also been closed.  To be clear, the fix is podman 2.3.1 (or later) plus either:

* Use crun
* Use runc 1.0.0 (released 23rd June)

[2021-06-28 16:14] #10735 closed

[2021-06-28 16:22] matejvasek commented on #10776
That chown is probably deliberate but that's not what docker does.

[2021-06-28 16:31] matejvasek opened #10801 "podman cp chowns files"
Sub-comman `podman cp` doesn't preserve uid/git from tar. It deliberately chowns everything to uid/gid the container is running under at the moment. `docker` however preserve uid/gid. Since `podman` is drop in replacement we should do that too.
If not for the `cp` CLI sub-comman then an least for docker APIv2.

[2021-06-28 16:32] matejvasek commented on #10801
/cc @mheon @vrothberg

[2021-06-28 16:37] lmgray opened #10802 "podman-3.2.1 in container: cannot clone: Operation not permitted Error: cannot re-exec process"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following was working prior to release of podman 3.2.1 (i.e. worked until last week under podman 3.1.2)

Trying to build a centos-8-based container with podman and skopeo installed in a docker-in-docker (Jenkins agent running in kubernetes) environment...  The larger context is Jenkins build

[2021-06-28 16:49] olivergs commented on #10762
Well, after reading the code I found the option rootless_storage_path

Seems that if I'm running podman rootless, the runRoot and graphRoot are ignored when read from the configuration file, but, if I set the rootless_storage_path, then the graphRoot and volumePath changes automatically to the one specified in rootless_storage_path.

Is this the intended behavior?

[2021-06-28 16:59] rhatdan commented on #10801
@matejvasek Could you write a repeater example?

[2021-06-28 17:28] matejvasek commented on #10801
[code]

[2021-06-28 17:29] matejvasek commented on #10801
[code]
this should fix it

[2021-06-28 17:37] matejvasek commented on #10801
btw `docker` can chown files like `podman` does but `-a` flag has to be used.

I find it weird because:
[code]
I would expect that it would works exactly opposite: if `-a` flag is present it IMHO should preserve uid/gid from tar, but opposite is true, if `-a` flag is present files are chowned. Am I misunderstanding anything here @rhatdan?

[2021-06-28 17:41] matejvasek commented on #10801
Maybe we could add the `-a` flag to the `podman`?

[2021-06-28 17:51] mheon commented on #10762
This definitely sounds like a bug, we should not be ignoring that environment variable.

[2021-06-28 17:54] mheon commented on #10802
My first thought is Seccomp - the Docker container could be blocking some flags of clone that we require. I believe that `docker build` supports `--security-opt seccomp=unconfined` so that could be a good starting place.

@cevich PTAL - do you recall any of the debugging you did for the linked issue?

[2021-06-28 17:55] mheon commented on #10800
I'll take this one. Vague suspicion it is fixed in main with the patches from @cdoern to change cgroup parent for pods to the infra container's cgroup.

[2021-06-28 18:39] rhatdan commented on #10802
Yes or `--security-opt seccomp=/usr/share/containers/seccomp.json`
Podman requires the clone syscall.
If you are on an SELinux box, you also need to disable SELinux. for the container

--security-opt label=disabled

We are about to release a large blog on this, probably the week after the 4th.

[2021-06-28 18:45] olivergs commented on #10762
Well, the variable is not ignored. The configFile value is set if I set the variable. The problem is that the values I set into that alternate file for runRoot and graphRoot are not being taken into account when running the rootless podman. There is another extra variable as I told before, called rootless_storage_path that seems to do what I need, but I asked if this is the intended behavior or th

[2021-06-28 18:46] rhatdan commented on #10801
SGTM
Interested in opening a PR.
@vrothberg PTAL

[2021-06-28 19:07] lmgray commented on #10802
[code]

[2021-06-28 19:29] matejvasek commented on #10801
The flag is by default false meaning that by default files are not `chown`ed as opposed to current `podman` behavior. May I do such a change?

[2021-06-28 20:16] elya5 opened #10805 "No external connection to container via forwarded port"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm trying to run a podman container on an unprivileged port and add a firewalld rule to forward traffic to that port. Traffic is accepted by a test server on the higher port. A container using the same port fails however.

**Steps to reproduce the issue:**

1. Add firewall port forwarding: `f

[2021-06-28 20:24] cdoern commented on #10800
@mheon, I can't seem to recreate this when running locally on my machine. output is as follows:

[code]

[2021-06-28 20:48] mheon commented on #10800
You'll need to use `--cgroup-manager=cgroupfs` on all your commands since you're on Fedora, which will default to the systemd cgroup manager.

[2021-06-28 20:57] cdoern commented on #10800
[code]
this is running on my branch w/ the pod cgroup changes. Seems like it might be more of a miscommunication in the cgroup where the pod cgroup is set but like mentioned in irc, the other containers in the pod are in a different cgroup? not sure.

[2021-06-28 21:05] cevich commented on #10802
Yes, my steps were:

1. Get more coffee
2. Try again and expect different results
3. Panic and ask for help

Basically...what Dan said.  IIRC, you (@mheon) and I had an IRC chat in which you confirmed: We deliberately bypass lots of stuff for the version sub-command.  Apparently we still need to clone though :disappointed:  In this particular case (with docker), I'm afraid the answer might be buil

[2021-06-28 21:07] cevich commented on #10802
hmmmm...though...I do seem to remember playing around with running buildah builds inside a docker container.  I seem to remember being able to pull it off by jamming upstream podman's seccomp-profile into docker.  Lemmie see if I can find that work...

[2021-06-28 21:15] cevich commented on #10802
...ugh, I can't find it.  Sorry :disappointed:

[2021-06-28 21:18] edsantiago opened #10806 "podman network rm: blocks previously-used ports"
This one has plagued me for months but I knew it would be a pain to track down. Here it is (DO NOT TRY THIS ON YOUR LAPTOP UNLESS YOU WANT TO REBOOT):
[code]
That is: once the container stops, connecting to the port fails with ECONNREFUSED, which is the proper thing to do. But after running `podman network rm`, the previously-used port somehow becomes busy and completely unusable. It remains unusa

[2021-06-28 21:52] jwhonce commented on #9957
Should be covered in https://issues.redhat.com/browse/RUN-1217

[2021-06-29 03:38] sachinkaushik commented on #10797
Thank you for your response..!!

Yes I'm trying to create a rootless container and inside that container, User can build container image using podman.
I used the Dockerfile, from that link which you have shared and integrated few things related to jupyter lab. But still I'm getting an error saying "**Error: error creating runtime static files directory: mkdir /home/podman/.local/share/containers/s

[2021-06-29 06:59] e-minguez opened #10807 "podman play kube --network flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman play kube --network flag doesn't allow to specify port_handler settings, instead it only allows you to connect the pod to CNI networks. From the help command:

[code]

**Steps to reproduce the issue:**

1. Create any yaml file to run a pod
2. Run `podman play kube --network=slirp4netns

[2021-06-29 07:56] Mingli-Yu commented on #10769
@rhatdan
Thanks your info!
But there comes a new issue:
1,
$ cat Dockerfile
FROM centos:latest

RUN yum -y install systemd mariadb-server nginx

RUN systemctl enable mariadb.service && \
    systemctl enable nginx.service

EXPOSE 80

# Use systemd as command
CMD [ "/usr/sbin/init" ]

2, build the image
$ podman build --rm -t myserver .
[snip]
psmisc-23.1-5.el8.x86_64
  xkeyboard-config-2.28-1.el8.

[2021-06-29 08:30] vrothberg commented on #10796
I am torn but sympathize with the idea.

Extending the secrets-driver interface with an "Import" method would work but it's a lot of work to implement _now_, to maintain _over time_ and when potentially adding new drivers _in the future._

On the other hand, writing a bash script to populate/import secrets seems fairly easy. `pass find/list` ... `pass show` -> `podman secret create`.

I think it's

[2021-06-29 08:37] vrothberg commented on #10801
Note that `podman cp` has never been fully compatible with `docker cp`.  Changing the behavior now may cause regressions for Podman users.

@rhatdan, do you want to continue?  I am not necessarily against it but want to weigh in.

[2021-06-29 08:42] sampie commented on #10039
@rhatdan Podman has potential to solve many problems caused by old programs and libraries in CentOS7/RHEL7. Is there a technical reason why newer podman would not run on 7, like too old Linux kernel? Currently, it also seems that CentOS, as it was, has been discontinued which causes problems/delays for upgrading.

[2021-06-29 08:42] trusch commented on #10796
@vrothberg I think you got one thing wrong: we don't have to touch the secret driver interface. All that would be needed is a new function in the secret manager that imports a secret. This action would just take the driver, driver options and a secret id as used in the backend and write that into the secret metadata store. That method *could* call the driver to validate that the secret exists, but

[2021-06-29 10:47] jvanz commented on #10794
Can I work on this? Thanks!

[2021-06-29 10:50] SquidDev opened #10809 "Tarballs produced by buildkit are treated as OCI archives"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman image load` on a docker-archive tarball produced by buildkit treats it as an OCI archive rather than a docker archive, meaning tag information is discarded.

**Steps to reproduce the issue:**

1. Build an image and export it to a docker tarball using `buildkit`: `buildctl buil

[2021-06-29 12:04] ananthb opened #10810 "Podman TCP Remote - Image List & Pull Failure"
/kind bug

**Description**

Podman is unable to list images and pull new ones, over a remote TCP connection.

**Steps to reproduce the issue:**

1. Run `podman system service tcp:[::]:8080` on one machine.
2. From a second machine, that can reach the first machine, run
[code]

**Describe the results you received:**
`podman --remote --url ... images` fails with

`Error: parsing time "1623795577" as

[2021-06-29 12:41] Luap99 commented on #10806
I cannot reproduce, does it happens always? Can you share more details about your environment.

[2021-06-29 12:45] edsantiago commented on #10806
I was afraid of that. Can you try with `podman-remote`?
[code]
I initially only saw it in podman-remote, but decided to test with plain podman, and saw it happening there too so I changed my report. But maybe the fact that I had used podman-remote got the system screwed up in such a way that even plain podman caused the error.

[2021-06-29 13:51] Luap99 commented on #10806
Still no luck, can you check if you see errors in the journal. Also `iptables -t nat -nvL` would be helpful.

[2021-06-29 13:52] rhatdan commented on #10801
I think it is best to add the -a function and default to true to match current podman behaviour, then lets add a flag to containers.conf if people want default to Docker behaviour.

[2021-06-29 13:54] vrothberg commented on #10809
Thanks for opening the issue!

The produced tarball looks like a mix of an oci-archive (i.e., oci-layout plus index.json plus blobs) and a docker-archive (i.e., manifest.json).
[code]
index.json set "org.opencontainers.image.ref.name":"latest" which what Podman is looking at.  Docker seems to read `"RepoTags":["test:latest"]` from the manifest.json. Note that the manifest.json is not part of OCI i

[2021-06-29 14:01] edsantiago commented on #10806
[code]

[2021-06-29 14:02] edsantiago commented on #10806
VM available if you want it (for next few hours, say until 2000 CET). Ping me (esm) on Libera or internal IRC for access details.

[2021-06-29 14:06] mtrmac commented on #10809
Does loading this as a `docker-archive:` work? If so, we could just switch the order of the attempts easily enough, at the cost of making OCI-archive users slower.

Or, more correctly, I think Podman should let the caller _specify_ the input format; the caller almost always _knows_, so we shouldn’t _have to_ guess when the guesses are so costly and the caller should just tell us. That would also l

[2021-06-29 14:14] SquidDev commented on #10809
Yes, `podman pull docker-image:image2.tar` correctly imports it. It looks like it's some hybrid which is both OCI and Docker compatible, hence the ambiguity.

[2021-06-29 14:15] KKoukiou opened #10812 "rest api calls ran immediately after events might lose data"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
A recent RHEL-9 test image refresh seems to break one test from cockpit-podman. Within that refresh  podman changed:

* from: 3.1.0-0.15.el9
* to: 3.3.0-0.6.el9

The failure in question is happening with the following test scenario:
* test pulls an image
* UI should update with the new image

[2021-06-29 14:47] vrothberg commented on #10809
I am surprised (but can confirm) that docker-archive loads it.  Mostly because docker-archive usually does not use a `./blobs` dir.

[2021-06-29 14:51] jwhonce commented on #10812
@vrothberg PTAL

[2021-06-29 14:52] mtrmac commented on #10809
The _new version_ of docker-archive is manifest-driven, `manifest.json` contains paths to other files, rather than relying on conventions.

[2021-06-29 14:53] edsantiago opened #10813 "podman system connection list: please sort"
The output of `podman system connection list` is random. This is causing [flakes](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4612888552800256/html/int-podman-ubuntu-2010-root-host.log.html#t--default--1). Please make it sort deterministically.

[2021-06-29 15:01] vrothberg commented on #10809
@mtrmac, maybe we should massage oci-archive to return an error if there's a file or dir that doesn't comply with the OCI layout?

[2021-06-29 15:13] vrothberg commented on #10812
Thanks for reaching out.  I wonder what `3.3.0-0.6.el9` is supposed to be?  Podman 3.3.0 doesn't exist. It looks more like a package version.

@KKoukiou, can you paste the full output of `podman version`?

[2021-06-29 15:23] hlemcke opened #10814 "Podman 3.2.1 not starting any image on Ubuntu 20.04 LTS"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Podman on Ubuntu 20.04.2 LTS (Raspi 4) with
[code]
2. Run any Podman image like: `sudo podman run -dit nginx`

**Describe the results you received:**

Error:  OCI runtime error: cannot find memory controller for the current process

**Describe the results you expected:**

Image started as a new container.

**Additional infor

[2021-06-29 15:23] vrothberg commented on #10812
Do I understand the issue correctly?

* pull foo
* receive image event
* list images (no foo listed?)

[2021-06-29 15:25] KKoukiou commented on #10812
For your interest I was able to reproduce from the CLI:

One one terminal tab I run:
[code]

On another terminal tab I run:
[code]

Since the image pull will generate a pull event the image list handler from the event listening command will run. The output it generated is:
[code]

Not that the newly generated image from image pull it not part of the images listed!
If I run it again of course the i

[2021-06-29 15:26] KKoukiou commented on #10812
I was also suprised since I did not see such tag:
Here is the output:
[code]

[2021-06-29 15:31] KKoukiou commented on #10812
According to the changelog it is:
[code]

[2021-06-29 15:52] vrothberg commented on #10812
Thanks, @KKoukiou.  Could the issue be caused by commit 86610c7852ee?  Could try reproducing after a `git reset --hard 86610c7852ee~`?

[2021-06-29 15:53] vrothberg commented on #10812
Did the cockpit tests pass with Podman v3.2?

[2021-06-29 15:57] mheon commented on #10802
If you can retest with 3.1.x, it would be interesting. I don't know if I'd consider this a regression given that there should be a reasonable expectation that the clone syscall works?

An strace to get the exact failing syscall would also be helpful.

[2021-06-29 16:06] ahwayakchih commented on #10800
OK, i've retried from start and it looks like system reboot changes something, not just pod create, start and stop.
Everything is run on Alpine Linux:

[code]

Right after create, and also after stop and start, it seems to work ok:

[code]

It stops working after reboot:

[code]

Don't know if it matters or not, but i'm logging into Alpine (which is running inside QEmu) system through SSH.

Podman

[2021-06-29 16:08] Luap99 commented on #10806
I don't have time today but I would like to take a look at it later this week.

[2021-06-29 16:23] lmgray commented on #10802
Do you know where I can get podman 3.1.x packages for centos?  They seem to be gone from the kubic yum repo.

I can upload strace output if you like, but it's fairly huge. This is pretty easy to reproduce-- just run `docker build -t test .` with the following Dockerfile:

[code]

[2021-06-29 16:30] mtrmac commented on #10809
If such mixed-format archives exist in the wild, a _failure_ seems rather undesirable: if both `oci-archive` and `docker-archive` had such a check, there wouldn’t be any way to load the archive at all.

---

To an extent this is a bug in the producer, using a different tag for the two formats; if that difference weren’t there, wouldn’t we be quite happy with loading the OCI format? And again, even

[2021-06-29 16:36] lmgray commented on #10802
By removing the kubic repo setup and using centos default podman packages, you can see this is successful using podman 3.0.1.

Dockerfile:

[code]

[code]

[2021-06-29 17:11] rhatdan commented on #10797
What podman command are you running to create the container?

[2021-06-29 17:32] srcshelton commented on #9258
I've commented on the (merged) change above:

https://github.com/containers/podman/pull/10696#issuecomment-870782566

In short, it appears that the current change only averages CPU usage (I've not checked time) over the period the single `stats` invocation is running, so when run with `--no-stream` the results aren't usable.

I feel that the counters for these stats should be associated with each

[2021-06-29 17:37] trusch commented on #10796
@ashley-cui I think having duplicate driver level secret IDs is not a problem, as long as the driver/opts differ. But we should indeed forbid importing the very same secret with the same config twice.

I'm not that opinionated on being compatible with the secret id handling of docker. As far as I know these IDs are not user facing, and the mapping from secret name to driver ID happens in the secre

[2021-06-29 17:37] cdoern commented on #9258
@srcshelton I took a look earlier, you are right that the no stream doesn't seem to work with these I will look into a fix. Time seems to work as intended since the timers don't reset on every `stats` call

[2021-06-29 17:42] mheon commented on #9258
I don't know if we can store metrics persistently. How would we capture them, considering Podman doesn't have a daemon?

[2021-06-29 17:44] lmgray commented on #10802
I think something is more fundamentally broken @rhatdan 

[code]

[2021-06-29 17:46] cdoern commented on #9258
@mheon I was just thinking the same thing. All of our other stats are captured "in the moment". the `avg cpu` usage (besides time) is the only cumulative stat we currently have.  Time only works because it is a `cgroupStat`

[2021-06-29 17:49] mheon commented on #10806
This looks like more of a `podman rm` issue - the iptables rules should have been torn down when the container was removed? Why would we expect them to last longer than that?

[2021-06-29 17:53] mheon commented on #10814
@giuseppe Error seems to be coming out of crun.

[2021-06-29 17:55] mheon commented on #10813
@ashley-cui @baude PTAL

[2021-06-29 17:56] mheon commented on #10810
There was a major version bump - Podman 2.0.x clients do not work against Podman 3.0.x servers. Please try and match major version between client and server.

[2021-06-29 18:00] mheon commented on #10805
Looks very similar to https://github.com/containers/podman/issues/9089

[2021-06-29 18:01] nmvega opened #10815 "How to route requests between the HOST and PODs attached to a podman network"
Hello again Friends:

I asked this [question on `StackOverflow`](https://stackoverflow.com/questions/68183481/podman1-how-to-route-requests-between-the-host-and-pods-attached-to-a-podman), but figured I'd ask here, too. `Note`: I use `Spark` here to aid this `podman(1)` question, but the question itself isn't about `Spark`.

Using `rootless podman(1)`, I start a tiny `Spark` cluster within it's ow

[2021-06-29 18:15] mheon commented on #10815
Are you running as root, or without?

As root, the internal IP addresses of the pods should be accessible from the host, same as Docker. Without root, we do not have privileges to configure bridge networking that would allow that. Rootless containers can only be accessed via forwarded ports as their network configuration is confined to a network namespace.

[2021-06-29 18:24] ashley-cui commented on #10796
@trusch secret id's can be used as args to inspect, rm, as well as an arg to the --secret flag, so it is user facing. Podman strives as much as possible to keep docker compatibility in these circumstances. Currently, driver level secret ID's and manager level ID's are the same, and I think driver secrets are indexed using ID's and not name.

[2021-06-29 18:25] nmvega commented on #10815
Hi again @mheon  Sorry, I forgot to mention that, indeed, I'm running `rootless`.

Okay, I understand your comment.

But even if I were to forward ports, the `SparkUI` `URLs` will always point to a non-accessible, internal `IP-Address`. That's what makes this example interesting and why I chose it.

And ideas on how to handle that?

[2021-06-29 18:35] cevich opened #10817 "bash: error while loading shared libraries: libc.so.6: cannot change memory protections"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After updating Fedora 33 to podman 3.1.2 I started getting this error whenever trying to run a container

**Steps to reproduce the issue:**

1. On a Fedora 33 system, update to podman 3.1.2

2. As a regular user, run `podman system reset` to ensure a clean state

3. As the same user, run `pod

[2021-06-29 18:37] cevich commented on #10817
It was suggested that this is a [known issue due to a necessary SELinux policy update.](https://github.com/kubernetes-sigs/kind/issues/2296) with [a documented workaround](https://github.com/kubernetes-sigs/kind/pull/2340):

Temporarily run in permissive mode (`sudo setenforce 0`)

[2021-06-29 18:43] cevich commented on #10817
I'm told there is a package update in the works that will resolve this issue.  We can close this once it goes GA.

[2021-06-29 19:08] mheon commented on #10815
There isn't really a way of dealing with this, aside from setting host networking on the pod to disable network separation or running the application with root Podman. Without root, we don't have the privileges to make those IPs available to the wider system.

[2021-06-29 19:29] rhatdan commented on #10769
@giuseppe PTAL

[2021-06-29 19:30] nmvega commented on #10815
@mheon Understood.

And with `host networking`, are `Pod`s still relevant for network separation? For example, if `Pod-A` and `Pod-B` have services that use the same `port`, I assume there will be `host-side` port conflicts, correct?

In other words, for `host networking`, what advantages do `Pod`s offer, if not network isolation?

Thank you.

[2021-06-29 19:34] rhatdan commented on #10039
Well there are potentially problems, but bottom line is Red Hat engineers are not supporting it.  We want people to move from RHEL7 to RHEL8.  RHEL7 is very old (8 Years) and some features of kernel the podman wants to take advantage of will never be back ported.

If community wants to support older versions, that is fine with me.  But if issues languish, then the upstream will close them.

[2021-06-29 19:54] mheon commented on #10815
They continue to provide a grouping of containers which are managed together, but you are correct that host networking removes the advantage of shared networking for all containers in the pod (instead, you get shared networking for all containers on the system with host networking, and the host itself).

[2021-06-29 19:56] nmvega commented on #10815
@mheon Excellent and well-written replies. I'll close this issue. Thanks as always for the help Matt!

[2021-06-29 19:56] #10815 closed

[2021-06-29 20:00] rhatdan commented on #10794
Sure we love free labor...

[2021-06-29 20:02] giuseppe commented on #10769
Looks like a very old version of fuse-overlayfs that doesn't support running without a upperdir.  Please use a newer version for fuse-overlayfs

[2021-06-29 20:41] lmgray commented on #10797
seems like this is a more general podman-3.2.1 problem -- working on #10802 I found I can't run basic podman commands even in images from quay.io (no docker build involved):

[code]

[2021-06-29 20:44] rhatdan commented on #10802
Try
[code]
If you don't have SELinux no need for label=disable.

[2021-06-29 20:47] giuseppe commented on #10814
can you please show me the content of the files: `/proc/self/cgroup`, `/proc/cgroups` and `/proc/self/mountinfo`?

[2021-06-29 20:47] lmgray commented on #10802
tried both with and without `label=disable` to be sure -- errors on both:

[code]

[2021-06-29 20:50] lmgray commented on #10802
works with \`--privileged\` -- did not used to need this (podman \<= 3.2.1) and not an option with `docker build ...`

[code]

[2021-06-29 20:56] lmgray commented on #10802
seems `--security-opt seccomp=unconfined` is enough:

[code]

[2021-06-29 20:57] lmgray commented on #10802
`--security-opt seccomp=unconfined` doesn't seem to be an option to perform docker builds:

[code]

[2021-06-29 20:58] rhatdan commented on #10802
Why would you need to?

[2021-06-29 21:01] #10810 closed

[2021-06-29 21:07] #10813 closed

[2021-06-29 21:13] lmgray commented on #10802
podman/buildah is not a mature, drop-in replacement for docker for container builds in jenkins pipelines.  We support a common Jenkins CICD pipeline used across numerous teams to build hundreds of projects, most of which are not interested in making the switch to podman.  We will need to support docker as a container build tool for some time as we try to increase podman adoption.

Until the 3.2.x

[2021-06-29 21:16] rhatdan commented on #10802
Sure, but I am asking why docker build has a relation to Podman.  Are you using docker build against a Podman backend?

[2021-06-29 21:24] lmgray commented on #10802
Our CICD infrastructure is Jenkins hosted in IBM Cloud -- our Jenkins agents are Centos 8 containers running as IBM Cloud kubernetes pods.  These Centos 8 containers have podman installed (and docker and other tools).  Within these pods, we perform docker builds.  So, we have a container running in kubernetes that does docker builds (docker-in-docker) that need to execute podman commands.  As of p

[2021-06-29 21:43] hlemcke commented on #10814
I misinterpreted `close` to just close the comment. The issue is still open !

[2021-06-30 02:16] mmaguigan commented on #5572
@vrothberg referring to the comment by @holgerpieta I am also having the same problem with the proposed solution on `CentOS 8.4.2105`. This causes systemd to mark the job as failed with the result `protocol`...

[2021-06-30 03:36] sachinkaushik commented on #10797
Hi @rhatdan  ,

I'm using below docker run command to create the container.

![pod](https://user-images.githubusercontent.com/7932463/123898060-3c905580-d982-11eb-9755-de1b586d26c0.PNG)

--------------------------------------Dockerfile Start-----------------------------------------------
FROM registry.fedoraproject.org/fedora:latest

RUN dnf -y update; yum -y reinstall shadow-utils; \
yum -y insta

[2021-06-30 05:13] djnotes commented on #10779
It's very weird. I just booted up my system and brought up the same project with Docker Compose, and the error shows up again. Adding more details from the error:

[code]

I have made no changes in the db service of docker-compose.yml. The line is still there:
`                        - ./data/conf.d:/etc/mysql/conf.d:Z,U`
Even tried docker-compose down and docker-compose up again. No difference.

[2021-06-30 06:25] hlemcke commented on #10814
Just performed an `apt upgrade`. Same error occured.

**Output from  `apt list --upgradable`**

[code]

**Output from  `podman version`**

[code]

**Output from  `podman info --debug`**

[code]

**Output from  `apt list podman`**
[code]

**Output from  `cat /proc/self/cgroup`**
[code]

**Output from  `cat /proc/cgroups`**
[code]

**Output from  `cat /proc/self/mountinfo`**
[code]

[2021-06-30 06:32] djnotes commented on #10779
It's very weird. I just booted up my system and brought up the same project with Docker Compose, and the error shows up again. Adding more details from the error:

[code]

I have made no changes in the db service of docker-compose.yml. The line is still there:
`                        - ./data/conf.d:/etc/mysql/conf.d:Z,U`
Even tried docker-compose down and docker-compose up again. No difference.

[2021-06-30 06:38] elya5 commented on #10805
Ah, I missed that one. Indeed the `--net=slirp4netns:port_handler=slirp4netns` was missing.

[2021-06-30 06:38] #10805 closed

[2021-06-30 07:30] vrothberg commented on #10809
I concur with @mtrmac. Closing the issue but we continue the conversation.

[2021-06-30 07:30] #10809 closed

[2021-06-30 07:31] KKoukiou commented on #10812
Sorry I can't find the this version uploaded anywhere for RHEL-9. Feel free to ping me on IRC after if you can provide me we the repo sources for this, or the RPM it self.

[2021-06-30 07:34] vrothberg commented on #10796
Thanks for clarifying, @trusch.  No objections from my side.  I let you and @ashley-cui figure out the details :)

[2021-06-30 07:47] vrothberg commented on #5572
@mmaguigan, thanks! Would you open a new issue for that?

[2021-06-30 07:49] KKoukiou commented on #10812
There are no podman-3-2.0-0.*el9 builds available on brew so I can't verify that. If you want to me to check a specific rpm feel free to send me a link, I will on #podman IRC channel on libera today (kkoukiou nick)

[2021-06-30 08:32] vrothberg commented on #10812
Okay, I see the problem now (I caused it). I will wrap up a fix.

[2021-06-30 08:39] x86cloud opened #10822 "playkube : How to specify infra image"
**Description**
when i use 'playkube' to create a pod, how do I specify infra image

**Describe the results you expected:**
Where to configure or where can I specify infra image

[2021-06-30 08:40] vrothberg commented on #10812
https://github.com/containers/common/pull/655

[2021-06-30 10:35] sachinkaushik commented on #10797
Hi @rhatdan ,

Some how Im able to run podman command inside container but now Im getting below error.

**using mount program /usr/bin/fuse-overlayfs: fuse: device not found, try 'modprobe fuse' first
fuse-overlayfs: cannot mount: No such file or directory**

![mount error](https://user-images.githubusercontent.com/7932463/123946397-c8bf6e80-d9bc-11eb-8a5b-29ca58b8e26c.PNG)

host:
  arch: amd64

[2021-06-30 10:40] patdowney commented on #10822
I've been able to configure the infra image in `containers.conf`. For rootless containers it lives in `$HOME/.config/containers/containers.conf`.

[code]

Documented here: https://github.com/containers/common/blob/main/docs/containers.conf.5.md

[2021-06-30 10:50] rhatdan commented on #10797
Add the --device /dev/fuse to Docker or Podman command line

[2021-06-30 11:25] flouthoc commented on #10755
@dustymabe Feature is merged with master , I guess you should be able to use it with next minor release whenever its out where `podman system reset --force` should do the trick for the needed use-case.

@vrothberg @rhatdan @mheon  I think we can safely close this issue.

[2021-06-30 11:31] #10755 closed

[2021-06-30 11:31] vrothberg commented on #10755
Nice work, @flouthoc!

And thanks again for opening the issue, @dustymabe !

[2021-06-30 11:36] sachinkaushik commented on #10797
Hi @rhatdan ,

Thanks for quick response..!!

I tried below command, but still same error

podman build --device /dev/fuse -t demo .
Error: error creating build executor: error getting info of source device /dev/fuse: stat /dev/fuse: no such file or directory

[2021-06-30 12:46] rhatdan commented on #10797
Ok, you are confusing me.  You keep switching back and forth on questions.

Let's concentrate on one thing at a time.

Are we set with running `podman run` within a `docker run` container?

[2021-06-30 12:48] rhatdan commented on #10797
The comment on the --device /dev/fuse is for the docker/podman command on the outside launching the podman within the container.

docker run --device /dev/fuse ... podman build ...
podman run --device /dev/fuse ... podman build ...

Although we would recommend that you just use `buildah bud --isolation=chroot` for this use case.

https://developers.redhat.com/blog/2019/04/04/build-and-run-buildah-

[2021-06-30 12:48] lmgray commented on #10802
Thinking about this more...  for our use case, I think we only need to use podman during a docker build when we're building our build agent (i.e. bootstrapping it).  When building our jenkins agent, we install podman and then run `podman version` and `podman info` to test the install -- but could live without that I suppose.  Later in the jenkins agent build, we use `podman image trust set ...` to

[2021-06-30 12:51] yvanarnaud opened #10824 "[macos] cannot start a VM created with podman machine init after a reboot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On MacOS, after rebooting, the VM created with `podman machine init` cannot start anymore.

**Steps to reproduce the issue:**

1. create a VM with `podman machine init` : working as expected

2. start it with `podman machine start` : working as expected

3. reboot

4. start VM again with `pod

[2021-06-30 12:54] sachinkaushik commented on #10797
@rhatdan ,

I have created a rootless container using below Dockerfile. And now inside that container, I'm trying to create a container image using **podman build -t demo .** command.  When I'm running this command that time only getting below error related to mount.

**Command** :  podman build -t demo .

**Error :**

![mount error](https://user-images.githubusercontent.com/7932463/123963523-2c06

[2021-06-30 13:05] rhatdan commented on #10802
Running podman within a Docker build is going to be difficult, for a lot of use cases.  What you are seeing is we moved some of the commands under the user namespace when the CAP_SYS_ADMIN capability is not allowed.
If you run `docker build --cap-add CAP_SYS_ADMIN ...`  Podman would probably work.

[2021-06-30 13:08] rhatdan commented on #10802
Oops docker build does not have --cap-add, but podman build does.

[2021-06-30 13:17] rhatdan commented on #10053
@jwhonce any chance you can work on this?

[2021-06-30 13:20] lmgray commented on #10802
OK, sounds like this was a choice -- makes me sad because it runs counter to the main "What is Podman" value prop: [https://podman.io/whatis.html#what-is-podman-simply-put-alias-dockerpodman](https://podman.io/whatis.html#what-is-podman-simply-put-alias-dockerpodman)

I'll work on refactoring our Jenkins agent build to not use podman in the docker build context.

[2021-06-30 13:20] rhatdan commented on #9777
@Luap99 @mheon @AkihiroSuda @giuseppe @vrothberg We still have this issue,  Ideas on a solution?

[2021-06-30 13:21] rhatdan commented on #9181
@xordspar0 Any progress on this?

[2021-06-30 13:22] rhatdan commented on #8305
@wagoodman Still waiting on this?

[2021-06-30 13:44] flouthoc commented on #10814
@hlemcke @giuseppe
Dont think controller for `memory` is even mounted or enabled here.

Not sure but could you try this
[code]

[2021-06-30 13:56] trusch commented on #10796
@ashley-cui Ok, I see that this is not working then. How about adding a "driver-id" field to the secret spec? In the regular case (user creates secret through podman-secret-create) the driver id would just be equal to the secret id, but in the import case this ID will be specified by the user and can be different from the secret id. That way we have uniform, docker-compatible secret IDs but will s

[2021-06-30 13:57] trusch commented on #10796
@ashley-cui you are right that the secrets are only indexed by id on the driver level. The driver actually doesn't know anything about the name of the secret.

[2021-06-30 14:10] ashley-cui commented on #10796
Adding as driver-id sounds like it could work! Do you have any ideas on how we would we deal with generating secret names for each imported secret, since the driver does't know anything about secret names?

[2021-06-30 14:27] rhatdan commented on #10779
If you are going to run multiple containers with the sam data directory then use :z so it can be shared amongst the containers.

[2021-06-30 14:39] edsantiago opened #10825 "[placeholder] podman exec sometimes exits 137"
I see this once in a while. Too infrequently to have a good reproducer. Only rootless so far:
[code]

[2021-06-30 14:45] mheon commented on #10825
Is this latest code, or a released version?

[2021-06-30 14:47] edsantiago commented on #10825
Sorry. The above is podman-3.3.0-0.20.dev.git599b7d7.fc35 but I've also seen it in f34 (bodhi-testing rpms). I do not see any instances in actual CI.

[2021-06-30 14:48] rhatdan commented on #10802
Well No if you want to have podman inside of a container talking to podman service on the host, then that will work without User Namespace.  This is what Docker In Docker does, I believe.  I don't think you can run docker containers within a docker build?

podman --remote will work if you leak the podman socket from the host into the container.

[2021-06-30 14:52] Luap99 commented on #10799
@baude PTAL

[2021-06-30 14:56] mheon commented on #10824
@baude @ashley-cui PTAL

[2021-06-30 14:57] #10812 closed

[2021-06-30 14:57] Luap99 commented on #10792
Seccomp should already use `/etc/containers/seccomp.json` if present.

I do not think we should change the CNI directories `/etc/cni/net.d/` and `$HOME/.config/cni/net.d/`

[2021-06-30 14:58] Luap99 commented on #10792
@rhatdan Did you patched `containers.conf` to read from `containers.conf.d` directories?

[2021-06-30 15:04] edsantiago opened #10826 "[placeholder] podman images: "failed to kill PID""
Weird one. I've only seen it once (rawhide, rootless, podman-3.3.0-0.20.dev.git599b7d7.fc35) and have not been able to reproduce:
[code]
Filing as a placeholder for when we see it again. Maybe the error will look meaningful to someone.

[2021-06-30 15:41] ashley-cui commented on #10824
@yvanarnaud, if you do a `podman machine stop` before rebooting, does the error still occur?

[2021-06-30 15:45] cevich commented on #10329
Local podman updates for CI are in https://github.com/containers/podman/pull/10827

Changes for udica are in https://github.com/containers/udica/pull/93

[2021-06-30 15:46] edsantiago commented on #10003
Still seeing this. podman-3.3.0-0.20.dev.git599b7d7.fc35

[2021-06-30 15:58] lmgray commented on #10802
That might well not work -- never tried...   I wasn't trying to _run containers_ with podman.  Previously, using `podman version`, `podman info`, commands after podman install to confirm it's installed properly and `podman image trust set` to prep the image for using podman (in privileged mode) to run builds worked -- never thought about what it was really trying to do...

\`version\`, \`info\`, \

[2021-06-30 16:01] trusch commented on #10796
@ashley-cui for now I would go with implementing this as a single secret operation so that the user specifies the secret name like `podman secret import my-ext-secret --driver ... --driver-opts ... --driver-id external/secret/id`

For bulk importing we will indeed need something to generate the names. But I would exclude this for now and will open a new issue when the single import is implemented.

[2021-06-30 16:03] srcshelton commented on #9258
Is there no facility for the long-running `podman run`, `common`, or `runc`/`crun` processes to be interrogated by a one-shot `podman stats` invocation to retrieve enough data to provide this form of statistic?

If not, could `podman` gain an additional mode (`podman monitor`?) which would attach to a running container (or all running containers?) and in a lightweight fashion gathers this data to

[2021-06-30 16:06] edsantiago commented on #10826
Took a while (30m) but I got a reproducer:
[code]

[2021-06-30 16:11] edsantiago commented on #10386
## Podman systemd [It] podman run container with systemd PID1
* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #10811
    * [06-29 09:13](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6338015317458944/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [06-29 09:13](https://storage.googleap

[2021-06-30 16:29] yvanarnaud commented on #10824
@ashley-cui, I tried that but the error still occur.

[2021-06-30 17:05] tobwen commented on #10792
Thanks, I've updated my initial post. Here another design:

|                 | /usr/share/containers/ | /etc/containers/ | $HOME/.config/containers/ | /etc/cni/net.d/ | $HOME/.config/cni/net.d/ |
|-----------------|------------------------|------------------|---------------------------|-----------------|--------------------------|
| containers.conf | 1                      | 1                | 1

[2021-06-30 17:07] yvanarnaud commented on #10824
A workaround is to create the missing podman directory:
[code]
Still, I don't know why and when this directory is removed.

[2021-06-30 17:11] ashley-cui commented on #10824
Hmm okay thanks for the info!

[2021-06-30 17:23] rhatdan commented on #10329
Done

[2021-06-30 17:23] #10329 closed

[2021-06-30 18:10] baude commented on #10824
That location is akin to a tmpdir iirc.  I wonder if macos changes the tempdir after reboot?  Should be easy enough to replicate and see.

[2021-06-30 18:24] rhatdan commented on #10802
Thanks, sorry about breaking your workflow.  You can always get rid of docker engine on the host and switch to Podman everywhere. :^)

[2021-06-30 18:24] #10802 closed

[2021-06-30 18:25] rhatdan commented on #10796
Yes, lets keep this simple.  Users can build scripts for more complex loads.

[2021-06-30 18:27] rhatdan commented on #9258
runc/crun run once and then die.
rootless podman can launch other services like fuse-overlay, slirp4netns and conmon.
Rootfull usually just does conmon.

[2021-06-30 18:29] lmgray commented on #10802
Podman's not an easy swap in Jenkins workflows I'm afraid -- no great love for docker, but podman isn't CLI compatible enough to "alias podman=docker" I'm afraid.  Hopefully in time!

[2021-06-30 18:29] ashley-cui commented on #10796
@trusch SGTM! Thanks :D

[2021-06-30 18:29] rhatdan commented on #10792
Yes containers.conf now supports .d files.

[2021-06-30 19:50] yvanarnaud commented on #10824
@baude, you are right:
[code]
It is the same folder after each reboot.

[2021-06-30 20:05] xordspar0 commented on #9181
No; I had very limited Internet access in the last few weeks. Unfortunately the tests require an Internet connection to work. I'm re-connected now though. I'm planning to resume work tomorrow.

[2021-06-30 21:13] #10807 closed

[2021-07-01 04:02] sachinkaushik commented on #10797
Hi @rhatdan  ,

We have deployed Container Image(that we created using above dockerfile) to OpenShift. This container is running as a rootless OpenShift container.

Do we need more previledge for that podman User in OpenShift?

Because when we are building container image in openshift container, we are getting below error.

**: using mount program /usr/bin/fuse-overlayfs: fuse: device not found, t

[2021-07-01 05:37] Mingli-Yu commented on #10769
@giuseppe
Thanks you! Have upgraded fuse-overlayfs to 1.6, I can succeed to build the image with rootless now.
But a new issue occurs.
1,
$ cat Dockerfile
FROM centos:latest

RUN yum -y install systemd mariadb-server nginx

RUN systemctl enable mariadb.service &&
systemctl enable nginx.service

EXPOSE 80

# Use systemd as command
CMD [ "/usr/sbin/init" ]

2, build the image
$ podman build --rm -t

[2021-07-01 06:20] hzliangbin commented on #9715
@rhatdan sorry, late for this.

[2021-07-01 06:58] zleppy commented on #10814
Seeing the same error on my RPI4

The command mkdir results in

mkdir: cannot create directory ‘/sys/fs/cgroup/memory’: Read-only file system

[2021-07-01 07:14] ananthb commented on #10810
Ah thanks! I ran the same local and remote OS, and it works!