[2021-11-16 17:10] rhatdan commented on #12316
This is the expected behavior since the underlying layers could be used by other images.  In this case the UID mapping is actually creating a separate image. What would you expect the command to do. @nalind @giuseppe WDYT
We could check to see if we are removing a UID mapped image, to remove the underlying storage if no other images are using it.
When we move to idmapped images, this will change t

[2021-11-16 17:13] freva commented on #12316
Maybe I'm missing something, but how am I supposed to remove these? `podman images` doesn't show anything, `podman image prune` doesn't remove anything, so this just uses up disk space.

[2021-11-16 17:21] cmoulliard commented on #12313
The error occurs when we use the `Report Tab Writer` --> see:
[code]

[2021-11-16 17:31] Luap99 commented on #12306
OK I took a look at the logs. I think the actual issue is `Unable to cleanup network for container 4c3c259fac1ae12b5ff6c89982d38114b0ad5b2b14065bc1f02513fd4348c01d: \"error getting rootless network namespace: failed to Statfs \\\"/run/user/13236/netns/rootless-netns\\\": no such file or directory\""`

@edsantiago  Can you grep for `error getting rootless network namespace`?

[2021-11-16 17:44] edsantiago commented on #12306
Here are some. They seem to begin on 11-09.

### Podman network connect and disconnect [It] podman network disconnect and run with network ID
* fedora-33 : int podman fedora-33 rootless host
  * PR #12227
    * [11-09 10:46](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6097254554533888/html/int-podman-fedora-33-rootless-host.log.html#t--podman-networ

[2021-11-16 17:47] Luap99 commented on #12306
https://github.com/containers/podman/pull/12183 caused this, I know how to fix it. I will open a PR later this week.

[2021-11-16 18:08] edsantiago commented on #11446
I can't reproduce this on my laptop (f35), neither with `podman-3.4.1-1.fc35` nor main @ f031bd23c6f5f790dde383d542c940bfe2dfaadd.

One consistent element of your reports is the high fd number: 15, 16. Perhaps this is a stupid question, but is there something in your environment that produces this? What does `ls -l /proc/self/fd` show when run from your shell?

[2021-11-16 18:12] edsantiago commented on #11594
Hmmm, I just managed to accidentally reproduce this on my laptop. I ^C'ed a while-forever loop that was doing `podman run`. This left a container in state `Created`, which I then tried to rm:
[code]
(Yes, two blank lines afterward).

The pause surprised me: I did not expect to need `-t 0` on a `Created` container.

[2021-11-16 18:27] mscherer opened #12320 "Moby client behavior rely on Moby API, and is not compatible with podman short name handling"
According to https://github.com/moby/moby/blob/master/client/image_pull.go#L22-L29 , "docker.io" suffix is stripped when a program call client.ImagePull (since that's the "familiar name")

For example, trying to client.ImagePull(_, "docker.io/a6543/test_git_plugin", _ ) will result in a API call of
[code]

This is not compatible with the short-name feature of podman (https://www.redhat.com/sysadmi

[2021-11-16 18:46] eriksjolund commented on #11446
@edsantiago  I can reproduce it with podman-3.4.1-1.fc35 on my Fedora 35 laptop.

[code]

[2021-11-16 18:54] edsantiago commented on #12065
...and reopening again. This has just triggered in PR #11795 (the monster f35 Cirrus one), in [f35 rootless](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4672926227103744/html/sys-podman-fedora-35-rootless-host.log.html):
[code]
(the PR is rebased on main @ f031bd23c, which includes the purported fix (#12126)

[2021-11-16 19:38] cevich commented on #12065
Oh, I guessed it was b/c of the 0.1.7 update PR.  I rebased, let's see if it happens again.

[2021-11-16 19:52] rhatdan commented on #12316
If you do `podman rmi IMAGE` twice it removes it correct?

[2021-11-16 19:56] freva commented on #12316
If I re-pull the image in between, yes. I cant run the rmi command twice in a row (fails with "image not known").

[2021-11-16 19:59] rhatdan commented on #11446
I got this to happen on my f34 box within a couple of seconds.

[2021-11-16 20:10] rhatdan commented on #12316
I am saying does this work and clear out the image?
[code]

[2021-11-16 20:14] freva commented on #12316
Yeah, I got it, the rmi command doesnt work twice in a row, the second one fails with "image not known":
[code]

[2021-11-16 20:42] edsantiago commented on #9597
Reopening. Seen just now in [f35 root, remote](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4833363958693888/html/sys-remote-fedora-35-root-host.log.html), in the seemingly-jinxed PR #11795
[code]

[2021-11-16 21:08] rhatdan commented on #12316
What does podman images show?

[2021-11-16 21:21] freva commented on #12316
No images

[2021-11-16 21:27] rhatdan commented on #12316
No images, but you still see storage?

[2021-11-16 21:27] rhatdan commented on #12316
@nalind PTAL

[2021-11-16 21:34] freva commented on #12316
Yes
[code]
The `images.json` is empty, but `layers.json` has content (see original post). All the IDs under overlay are also in overlay-layers.

[2021-11-16 21:39] edsantiago commented on #12065
Seen [again](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6436509357178880/html/sys-podman-fedora-35-rootless-host.log.html) in #11795.

[2021-11-16 22:01] homayoonsadeghiarkami commented on #12085
@Luap99, thanks man I do recompiled the dnsname package with the latest version release and it worked seamlessly.

[2021-11-16 22:07] edsantiago commented on #12065
...and [again](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6128676031954944/html/sys-podman-fedora-35-rootless-host.log.html). At this point it is no longer a flake, it is a showstopper.

[2021-11-16 22:10] edsantiago commented on #12065
@giuseppe PTAL ASAP.

[2021-11-17 01:48] anthr76 commented on #7511
Any ways the community can chip in and help? I'm not super familiar with podman CNIs yet but I'm going to read up a bit tonight

[2021-11-17 01:53] kolyshkin commented on #12205
Tried to repro this with `runc` and a read-only mount.

Was able to reproduce with fuse-sshfs.

Was **not** able to reproduce with
1. a directory read-only bind-mounted to itself;
2. a read-only tmpfs mount;
3. a read-only ext2 mount on a loop device.

So, for some reason, this is really specific to fuse. Maybe a bug in fuse?

[2021-11-17 03:39] mtrmac commented on #12291
AFAIK the client _does_ handle authentication; at least #11636 shows that happening (and failing).

(OTOH note that `credsStore` is not supported; you can use `credential-helpers` in `registries.conf` instead.)

[2021-11-17 04:45] mbrancato commented on #12291
well, I tried again today and it just worked. I think the issue is I may have been I started out specifying the auth file path.
[code]

I'll close this.

[2021-11-17 04:45] #12291 closed

[2021-11-17 05:20] mindon commented on #4454
under MacBook Pro, the connection refused. the podman remote host container shows following error:

but `podman exec -it mariadb  /usr/bin/mysql -uroot -p` works

[2021-11-17 06:50] afbjorklund commented on #12205
It was seen when running podman under lima. It mounts the home directory read-only (reverse sshfs) by default.

It has been "fixed", by changing from runc to crun. Leaving the other one to be used only with nerdctl and docker.

[2021-11-17 07:10] afbjorklund commented on #12205
On the command line we use `fusermount` rather than `mount`, maybe something similar is needed for this remount ?

[2021-11-17 08:53] bogdanmuresan commented on #12237
We are starting the podman container via systemd, so moving the systemd definition from the user namespace to system fixed this problem. The once concern is if this is an "official" feature, or just an implementation detail that could change in any version.

Thank you.

[2021-11-17 09:13] giuseppe commented on #12065
@edsantiago opened a PR: https://github.com/containers/podman/pull/12323

[2021-11-17 09:28] vrothberg commented on #12259
Heads up: I am converting the issue into a discussion.

[2021-11-17 09:29] #12259 closed

[2021-11-17 09:32] vrothberg commented on #12264
This looks like a GNOME/systemd bug to me rather than a Podman bug.  Also note that "OCI artifacts" are something different (see https://github.com/opencontainers/artifacts).

[2021-11-17 09:40] vrothberg commented on #12191
Ping.  Do we have a tutorial on that?  I don´t know of any.

[2021-11-17 09:46] dispensable commented on #12262
@haircommander @mheon After update crun to v1.2, all degrade pod can be `restart` and resume to running normally now. Thank you for you time! I think we can close this issue now ?

[2021-11-17 09:49] flouthoc commented on #12262
Closing this issue. :) Please re-open if this shows-up again.

[2021-11-17 09:49] #12262 closed

[2021-11-17 09:51] statiksof commented on #12312
@rhatdan @Luap99 I am not sure if is related to SELinux but I found out that after the upgrade the user has multiple (additional) entries for `/etc/subuid` and `/etc/subgid`. I removed them and now it works aagain. I don't know if podman set up them automatically after the update.

[2021-11-17 09:53] flouthoc commented on #12312
Could you share additional entries which you removed  to make it work.

I am closing this since issue is resolved for user but we still need to investigate about what did you remove to make it work and if it could re-appear.

[2021-11-17 09:53] #12312 closed

[2021-11-17 09:57] vrothberg commented on #12053
https://github.com/containers/podman/pull/12281 should fix it.  Remote checkpoint/restore had a number of issues.

[2021-11-17 10:36] statiksof commented on #12312
Before the update:

[code]
 after the update:

[code]
I removed the 3 line to make work again.

[2021-11-17 10:39] #12065 closed

[2021-11-17 10:52] rod260185 commented on #12308
I can't inspect what call are causing it, but it happens when I use the default VSCode docker extension, which I think does some regular api calls, like "podman image ls", "podman ps -a" etc. As also the taiga-docker running through docker-compose, which, first get the 2 rabbitmq services down at start up, but then when I restart just then, they work, but causes this eternal high cpu consuming loo

[2021-11-17 10:58] rhatdan commented on #12308
Could you turn on logging at the server side and see if you can figure out what the server is doing
--log-level=debug.

[2021-11-17 11:02] #12007 closed

[2021-11-17 11:04] rhatdan commented on #12312
Was the user user1?

[2021-11-17 11:13] statiksof commented on #12312
yes

[2021-11-17 11:31] rod260185 commented on #12308
I did it and exported a system log after I start rabbitmq services on taiga and used VS Code Extension "Docker", it seems related with conmon.
Nov 17 08:18:51 ev00000897 podman[972]: time="2021-11-17T08:18:51-03:00" level=debug msg="exporting opaque data as blob \"sha256:4c9846a172155e344066941749b9952a17419d2835c244913c4cac0096e7455d\""
Nov 17 08:18:51 ev00000897 podman[972]: time="2021-11-17T08:

[2021-11-17 11:35] rod260185 commented on #12308
Nov 17 08:18:51 ev00000897 podman[972]: @ - - [17/Nov/2021:08:18:51 -0300] "GET /containers/json?all=true HTTP/1.1" 200 45653 "" ""
This seems related with VSCode.

[2021-11-17 12:29] PavelSosin-320 commented on #12264
@vrothberg Maybe. I asked to check packaging Podman with systemd version for Fedora35. The environment of Systemd manager looks incomplete and incorrect: Some XDG variables are missed, some are not updated when I switch between users via GNOME, i.e. re-execute systemd-daemon. It is not like su - .another user.  HOME and XDG variables are set into environment every systemd-user run. Some environmen

[2021-11-17 12:38] vrothberg commented on #12039
Is that remote only?

[2021-11-17 12:50] vrothberg commented on #12023
@jwhonce could you tackle it?  I had a quick look and it seems that the notion of it being a `path` (in contrast to a URI) is very embedded.

[2021-11-17 12:52] vrothberg commented on #11934
Closing since it has been fixed.

[2021-11-17 12:52] #11934 closed

[2021-11-17 12:57] vrothberg commented on #11533
Friendly ping

[2021-11-17 13:02] afbjorklund commented on #11533
I think it was waiting for another magazine article, probably best if written by a Mac user (instead of Linux) ?

[2021-11-17 13:19] edsantiago commented on #12039
It seems to be. Here are the logged failures since my initial report:

### Podman play kube [It] podman play kube replace
* fedora-33 : int remote fedora-33 root host [remote]
  * PR #11956
    * [10-26 08:43](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5848798850187264/html/int-remote-fedora-33-root-host.log.html#t--podman-play-kube-replace--1)

[2021-11-17 13:35] vrothberg commented on #12053
Merged, closing.

[2021-11-17 13:35] #12053 closed

[2021-11-17 14:13] etenzy opened #12329 "compatibility with coreutils on apple silicon"
/kind bug

**Description**

podman machine does not create/start when coreutils are installed on mac

**Steps to reproduce the issue:**

1. brew install coreutils

2. podman machine init

**Describe the results you received:**
[code]

**Describe the results you expected:**
podman machine to be initialized

**Additional information you deem important (e.g. issue happens only occasionally):**

**Out

[2021-11-17 14:56] baude commented on #12329
are you saying that podman machine failed to init? or subsequent podman commands do not work.

[2021-11-17 14:57] umohnani8 commented on #11916
@rhatdan got it, will update my PR to relabel instead of forcing privileged

[2021-11-17 15:06] etenzy commented on #12329
podman machine fails to init because it calls `dd` on Apple silicon.

if coreutils are installed `dd` is linked to a GNU version of dd, which only accepts uppercase units which results in an error.

imho the solution would be to call the system dd directly via `/bin/dd` (see my pr)

[2021-11-17 15:26] mheon commented on #7511
Testing netavark, our new network stack, once it becomes available (we're starting to get close to done, functionality-wise) will be extremely helpful - we'll put out a post once it's ready for testing.

The new network code lives at https://github.com/containers/netavark - we're accepting contributions there, but it's still changing rapidly as things come together.

[2021-11-17 15:46] afbjorklund commented on #12329
Installing GNU tools without the "g" prefix breaks all kinds of stuff

[2021-11-17 16:08] mheon commented on #12304
@giuseppe PTAL

[2021-11-17 16:16] etenzy commented on #12329
right, that's a thing about how brew deals with coreutils...
so i thought we could use the system's dd exclusively, because /bin/dd shouldn't go anywhere

[2021-11-17 16:55] edsantiago opened #12334 "podman-remote checkpoint/restore tests: failing"
Tests [failing](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5825307493007360/html/int-remote-fedora-34-root-host.log.html). Almost certainly related to #12281. Failure seems to be here https://github.com/containers/podman/blob/f5e509ce098074cbb4c468b9d443f46e6c7770ed/test/e2e/checkpoint_test.go#L917

[2021-11-17 17:59] cevich commented on #12155
@mtrmac any updates on this?  What's needed to move forward?

[2021-11-17 18:15] giuseppe commented on #12304
it is a regression in systemd: https://github.com/systemd/systemd/issues/21297

It could be fixed now (at least I cannot reproduce it locally on an updated F35).  @cevich could we update the F35 images?

[2021-11-17 18:16] edsantiago commented on #12334
@containers/podman-maintainers looks like I missed @vrothberg, and he's OOTO tomorrow. Can anyone look into this please? It is blocking #11795.

[2021-11-17 19:15] cevich commented on #12304
Thanks for tracking this down @giuseppe .  Good news that it's already fixed.  Actually, I started building fresh new images b/c of another problem that came up in the system tests.  I'll give them a go and can close this if/when it doesn't reproduce.

[2021-11-17 19:17] mheon commented on #7946
This issue is over a year old, please open a fresh issue.

[2021-11-17 20:28] rhatdan commented on #12191
@tungphuong man podman-system-service is the best we have.
But realize you are opening a pipe to full access to the user account which is listening on the TCP socket.  So if you run this command as root and anyone can connnect to the socket, then they can get full root on your system.

[2021-11-17 20:33] rhatdan commented on #12312
So removing user1:200000:1001 made it work.

[2021-11-17 20:34] rhatdan commented on #12312
I add that to my account and I don't see any issue.  Might be a red herring.

[2021-11-17 20:35] rhatdan commented on #12308
@giuseppe PTAL

[2021-11-17 20:39] kolyshkin commented on #12205
What runtime does is a bind mount, so it does not really matter if this is a fuse mount or not.

Anyway, I am fixing this in runc (and the most complicated part is writing a test case).

[2021-11-17 20:54] cevich commented on #12304
Okay, I yanked out the "skip" commit from my PR, let's see if that systemd update did the trick...

[2021-11-17 21:05] afbjorklund commented on #11533
Hopefully it was fairly straight-forward, how to install lima and how to make it run podman/fedora instead of nerdctl/ubuntu.

[code]

### ubuntu-nerdctl
[code]

### fedora-podman
[code]

Maybe @ashley-cui have time to give it a try ?

The GUI is available from here: [lima-gui.app](https://github.com/afbjorklund/lima-gui/releases/download/v0.1.0/systray.pro-v1-clang_64-default.zip) (zip)

----

Th

[2021-11-17 21:38] geekorous opened #12335 "Multiple networks with static IP address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

My container requires to be configured on multiple networks and for the purpose of testing, I would like to fix those IP addresses to static addresses of a predefined range. `podman run` command works fine with multiple networks by providing a comma-separated list of networks and when usi

[2021-11-17 22:10] mtrmac commented on #12155
Doh. `go test -mod=vendor` makes that show up:
[code]

OTOH that disproves the `test/utils/utils.go` variant, and the one-second-granularity, as being the primary cause.

But then again, https://cs.opensource.google/go/go/+/refs/tags/go1.17.3:src/math/rand/rng.go;l=208-211;drc=refs%2Ftags%2Fgo1.17.3 ; and that’s actually documented in https://pkg.go.dev/math/rand#Seed :

despite the `int64` type.

[2021-11-18 02:23] rittneje opened #12657 "copy image contents to local filesystem"
With buildkit I can output my image to a local directory via `--output type=local`, which copies over the root file system. I am looking for a similar feature to copy the root file system from an existing image in a remote registry to the local file system. Is there any tool in the containers project that can support this use case?

Obviously I can feed a one line Dockerfile to buildkit to accompl

[2021-11-18 03:20] martinetd opened #12336 "cannot start containers after reboot (defaultCNINetExists check -> error configuring network namespace for container)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers do not start anymore after rebooting (as root, on alpine, if that matters -- I assume something this big works on "normal" setups so I must be missing something obvious?)

**Steps to reproduce the issue:**

1. start containers

2. reboot without shutting it down (doesn't seem clean

[2021-11-18 03:39] martinetd opened #12337 "`Error: readlink /var/lib/containers/storage/overlay: invalid argument` after commit + hard reset (unflushed data)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm aware running `podman commit` then pulling the power is not supported, but I'm hoping the most obvious errors can be squashed if traced down precisely enough.
If these issues are not enough I can afford some time to make it into PRs, but someone familiar with the code will probably fix it

[2021-11-18 03:49] martinetd commented on #12337
By the way, I think it'd make a lot of sense to issue a fssync() at the end of podman commit, that'd probably avoid most of the bug reports that came back to me because of similar issues -- what do you think?

[2021-11-18 03:54] kolyshkin commented on #12205
@afbjorklund can you test the fix?

https://github.com/containers/podman/issues/12205

(You can get the static binary by navigating to Checks -> validate, when at the very bottom of the page under "Artifacts" you'll find "release-NNNNN" file which contains pre-built binaries).

[2021-11-18 06:45] juhp opened #12338 "running toolbox causes ~/.local/share/containers/storage/overlay to be owned by uid 10000"
/kind bug

**Description**

Running a toolbox container in F35 or since June in F34 changes
the ownership of `~/.local/share/containers/storage/overlay` to be uid 10000.

**Steps to reproduce the issue:**

1. In a clean update to date Fedora 33/34/35 instance/account or F35 live image:
[code]

2. `dnf install toolbox`

3. `yes | toolbox enter`

**Describe the results you received:**
[code]

**Desc

[2021-11-18 07:04] rockmenjack opened #12339 "podman run hang with error: container creation timeout"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run --rm -it --network=host alpine:3.14.3` hang and exit after a while with error:  `Error: container creation timeout: internal libpod error`

From the debug log, seem container has been successfully created with crun/runc, but podman failed to connect to the container somehow.

[cod

[2021-11-18 07:43] MartinX3 commented on #9181
@rhatdan please remove the stale status. :)

[2021-11-18 08:05] vrothberg commented on #12334
I will have a look but I guess that something else must have merged after https://github.com/containers/podman/pull/12281 and broken it. https://github.com/containers/podman/pull/12281 was clearly green (and passed locally).

[2021-11-18 08:19] vrothberg commented on #12334
Correction: I suspect that the tests are now executed with runc, and those break.  I can reproduce locally.  I still have 40 minutes until the course and will hurry to pull something together.

[2021-11-18 08:36] jelly opened #12341 "[API] No way to obtain image pull progress"
/kind feature

**Description**

In cockpit-podman we are currently showing pull progress as "pulling container from XYZ", it would be nicer to shows the progress as a percentage.

The current `/libpod/images/pull'` API uses a POST to pull the image and returns once the download is complete, the stream status is only returned after completion.

I can understand that the current behaviour of the API

[2021-11-18 08:48] vrothberg commented on #12334
Here's a PR: https://github.com/containers/podman/pull/12342

[2021-11-18 09:34] paalbra commented on #11988
Any news here? I noticed that 3.4.1 has arrived and the issue is still present in this version.

Maybe an even simple oneliner to test this:
[code]

Podman 3.4.1:
[code]

Podman 3.3.1:
[code]

[2021-11-18 09:43] WoozyMasta commented on #11883
@rhatdan
Well, where then can I get the latest distributions for CentOS 7? That's right, no where.

Let me remind you that the EOL for CentOS/RHEL 7 is 06/30/2024. And I think by adding a small remark to the README so that users of outdated distributions would not even try to install podman and not waste time solving problems like me.

[2021-11-18 10:34] Luap99 commented on #12336
Is your `/etc/cni/net.d/` directory on a tmpfs?
Once the default network is created it should stay there, why would you need it to be recreated every single time?

Note that podman4.0 will store the default network in memory so this should be fixed then.

[2021-11-18 10:38] Luap99 commented on #12335
This is the plan for podman4.0.

I am closing this issue in favour of https://github.com/containers/podman/issues/9883

[2021-11-18 10:38] #12335 closed

[2021-11-18 10:42] martinetd commented on #12336
Ah, I didn't know there was extra configuration generated there, that explains it.

Yes, it is indeed a tmpfs. It's normally not a problem as the podman /var/lib/storage/container is normally also a tmpfs, but I was testing a persistent mode for it when I ran into this...

It looks like a one-time thing so I can just run podman once and keep this content at install time. If it's kept in memory in

[2021-11-18 10:48] Luap99 commented on #12336
We cannot backport this, this feature is part of a very big network rewrite.

[2021-11-18 10:48] #12336 closed

[2021-11-18 10:57] Luap99 commented on #12341
Are you sure that it is not streaming? If I pull a big image with curl I definitely see the stream output right away.

[2021-11-18 11:44] #12329 closed

[2021-11-18 12:33] rhatdan commented on #11282
Since I never heard back, I am going to consider this issue fixed.  Reopen if I am mistaken.

[2021-11-18 12:33] #11282 closed

[2021-11-18 12:35] rhatdan commented on #10197
@giuseppe any ideas?

[2021-11-18 12:54] rhatdan commented on #9181
@umohnani8 PTAL

[2021-11-18 13:08] rhatdan commented on #11988
[code]
So the error here is the containers hostname should be set to match the host name of the pod `dan`.  That is my understanding.
@Luap99 @mheon @vrothberg @baude do you agree?

[2021-11-18 13:23] rhatdan commented on #11988
Ok I figured this out.

If you share net, you should also share uts (Which handles hostname).
[code]

[2021-11-18 13:25] rhatdan commented on #11988
Podman-compose if it creates a pod with only net, then it should add uts.

[2021-11-18 13:29] rhatdan commented on #11883
If you want to complain about a supported OS then complain to RHEL by opening a bugzilla.   This is an upstream REPO.  If you want to open a PR to fix the install text to mention that OLD OS will not get updated, then open the PR.  If you want to build and support newer versions of Podman for older OS like CentOS and RHEL then that is also up to you.

The current upstream community does not have t

[2021-11-18 13:35] PhrozenByte opened #12347 "Rootless overlayfs on Kernel 5.14+ refuses to merge config dirs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

:arrow_right: *Reported first at https://github.com/coreos/fedora-coreos-tracker/issues/1025*

Since native rootless overlay support is here (apparently since kernel 5.13+, tested with kernel 5.14.14 and 5.15.2), overlayfs refuses to merge two directories (specifically `/etc/mysql` from a Mar

[2021-11-18 13:37] giuseppe commented on #10197
error starting container 66460ff48911be1e2d6f499160b019defa600f23fcb2cf615a130cc06c425152: executable file `/pause` not found in $PATH: No such file or directory: OCI not found

could be the wrong arch for the pause image?

[2021-11-18 13:37] rhatdan commented on #12329
Makes sense to me.

[2021-11-18 13:38] septatrix commented on #11988
So does this require a fix in podman-compose or is it something we can fix ourselves? For reference: https://github.com/containers/podman-compose/issues/165 https://github.com/containers/podman-compose/issues/173

[2021-11-18 13:47] rhatdan commented on #11589
Lets concentrate the discussion in #11940

[2021-11-18 13:47] #11589 closed

[2021-11-18 14:07] jelly commented on #12341
[code]

Indeed shows the progress, but a frontend can't present this as a download progress in terms of percentage downloaded.

[2021-11-18 14:08] rhatdan commented on #12338
How exactly is this a Podman issue?  I don't believe Podman is doing anything to change the ownership of the storage.
Possible toolbx in it's install is doing something to chown the content of the storage to match the default root in a toolbx container.

[2021-11-18 14:09] Luap99 commented on #12341
@vrothberg @mtrmac @jwhonce PTAL

[2021-11-18 14:10] paalbra commented on #11988
I'm not into all the technical details here. My understanding is currency that this is considered a bug in podman-compose and not podman?

I'm not sure if those old issues should be revived (very old versions), or if a new issue should be filed in podman-compose. Unless there a more current one exists?

Is my understanding correct? Maybe @rhatdan could shed some light?

As mentioned. Adding `uts`

[2021-11-18 14:11] rhatdan commented on #12339
Looks like something is going wrong with the btrfs driver.  Could you switch to the overlay driver and see if this works.
btrfs driver is not well tested, and most of the upstream does not use it.

[2021-11-18 14:14] mheon commented on #11988
Filing a new issue against Compose is probably appropriate.

[2021-11-18 14:25] rhatdan commented on #12347
@giuseppe PTAL

[2021-11-18 14:27] rhatdan commented on #10197
Ok since we have gone upstream to shipping the pause executable and building an image localy, I figure we won't hit this type of issue going forward, so I am going to close this issue, as fixed upstream.

[2021-11-18 14:27] #10197 closed

[2021-11-18 15:57] cmoulliard commented on #12205
I also suffer from a similar issue when I try to mount volumes between my mac machine and the podman vm

[code]
@kolyshkin

[2021-11-18 16:08] kolyshkin commented on #12205
@cmoulliard this issue is about podman + runc inability to bind-mount a read-only fuse mount to a container (because podman do es not add `ro` flag to the runtime spec, and runc does not retry with ro).

What you see is a different and most probably unrelated issue; please feel free to file a separate bug.

[2021-11-18 16:11] afbjorklund commented on #12205
@cmoulliard Note that the containers mount files on the VM, so you need to have some remote filesystem (like 9p or sshfs) mounted if you want to access files on your host. You can check the available files with `minikube ssh ls ...`

[2021-11-18 16:22] mheon commented on #11712
Make the machine bigger by default? That seems to be what the competing solutions have done.

[2021-11-18 16:24] cevich commented on #12304
...yep, the systemd update did the trick.  Thanks again @giuseppe

[2021-11-18 16:27] afbjorklund commented on #12205
@kolyshkin : I can confirm that this new `runc` binary fixes the issue, where the old `runc` still shows it.

https://github.com/opencontainers/runc/commit/d7846bc19a51b21b46803b4fd6a68b7ca31c33af

https://github.com/opencontainers/runc/commit/ecf09297 (merge commit, per binary)

working:
[code]

ubuntu: (not working)
[code]

[2021-11-18 16:32] mheon commented on #12337
@nalind PTAL - this one seems pretty bad, given that c/storage seems unusable?

I don't think this is Podman itself given that we don't make any changes to c/storage

[2021-11-18 16:37] michael-d-fmtech opened #12350 "upper fs does not support xattr, with --userns keepid, rhel 8.5 podman 3.3.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a fresh rhel 8.5 installation, when trying to launch containers using native overlayfs, with userns mapping  and user ID mapping (--userns keepid --user ${userid}),

I receive the following error in the kernel logs,

` overlayfs: upper fs does not support xattr, falling back to index=off a

[2021-11-18 17:19] kishorekkota commented on #11340
This is causing lot of for using podman in corporate env - can this be done quickly ? Pleeeeeease.

[2021-11-18 18:12] Luap99 commented on #12237
I think it is a implementation detail. If this can be fixed it has to happen in slirp4netns and rootlesskit so I am going to close the issue since there is nothing podman can do.

[2021-11-18 18:12] #12237 closed

[2021-11-18 18:17] umohnani8 commented on #9181
@xordspar0 are you still working on this? If not, I can take over

[2021-11-18 18:24] cevich commented on #12155
IMHO, this is the really bad one.  I think that ginkgo seed is the same value across all the threads.  So that's just asking for a module-initialization-order change to give us a bad day.  We should not use the ginkgo seed anywhere in our code.

[2021-11-18 18:42] baude commented on #11712
we did, we made it 20GB by default and it is configurable on the command line.

[2021-11-18 18:48] #12334 closed

[2021-11-18 18:56] 2xB opened #12353 "rmi: image in use by nonexistent container"
First: If there's anything I can provide info on or test out, I'd be happy to do so in the next days. I plan on resetting podman storage next week, so now would be the time to test anything as long as the issue is visible.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On my machine, some untagged images exist that are not removed with `

[2021-11-18 19:04] alanruttenberg commented on #12053
Hi,
Thanks for this! Could you give me an idea about what the best way to test it is? I tried brew install podman --HEAD, deleted and re-inited podman machine and started it. I run an image and then try to checkpoint it, but still fail.

[code]
I notice a couple other regressions:
[code]

[2021-11-18 19:06] alanruttenberg commented on #12053
podman info --debug

[code]

[2021-11-18 19:10] giuseppe commented on #12350
the container starts slowly because native overlay doesn't support idmapping of IDs, so the image must be cloned (and it takes time).
The error you are seeing is a test podman does to verify what features overlay support, and it should not affect your container.

What image are you using?

Does it happen even with small images (e.g., ubi, busybox)?

[2021-11-18 19:12] mheon commented on #12350
Also, please provide the full output of a `podman run` command that fails with the `--log-level=debug` flag added

[2021-11-18 19:16] mheon commented on #12353
3.4.0 is a few minor versions out of date, can you try 3.4.2?

That container is probably a leftover Buildah container from an aborted build. Does `podman rm --force` remove it?

[2021-11-18 19:18] vrothberg commented on #12053
Thank you for checking!

For testing, you would need to compile Podman for Mac and for Linux (and get that into the VM) from the main branch.  I don't think that there are daily builds available in brew.

@baude @ashley-cui what do you think?

[2021-11-18 19:23] xordspar0 commented on #9181
I got stuck a while back. Feel free to take a look at my branch and do something different. :slightly_smiling_face: I'll keep checking in here as well, so I can take over eventually if it doesn't get done.

[2021-11-18 19:33] vrothberg commented on #11340
@kishorekkota, good news, it has been done and is merged into the main branch.  It will be shipped with the next release of Podman which will be early next year.

[2021-11-18 19:36] vrothberg commented on #11712
Are we good to close the issue?

[2021-11-18 19:38] giuseppe commented on #12347
have you pulled again the image after you've switched to fuse-overlayfs?

[2021-11-18 19:39] Luap99 commented on #11712
Looking at the code the default is still 10 GB, so no. https://github.com/containers/common/blob/77aa0316f20c77d094bc3205aaad3377640f2e39/pkg/config/default.go#L225-L232

[2021-11-18 19:40] vrothberg commented on #11712
Always good to have you watch our backs, thanks @Luap99

[2021-11-18 19:42] michael-d-fmtech commented on #12350
@giuseppe   - Ok this make sense

I've tried a couple of container images
1) rhel minimal install + some packages ~2-3 GB
2) rhel minimal install + large application ~ 10GB

The smaller image has a 'faster' startup time ; Although extremely slow compared to fuse-overlay, clearly attributable to the clone

Are there any suggestions about improving this startup time?  Or are you aware if any kernel

[2021-11-18 19:42] vrothberg commented on #11712
https://github.com/containers/common/pull/832

[2021-11-18 19:43] giuseppe commented on #12347
AFAICS, this is expected:

[code]

The `etc/mysql/.wh..wh..opq` file is a directory whiteout file, which means to cover anything below this layer.

I think the issue is in in the image.

Since you've switched to fuse-overlayfs probably when the image was already in the storage, fuse-overlayfs wouldn't honor the other whiteout format that native overlay uses.

I've tried with a fresh storage, and f

[2021-11-18 19:57] giuseppe commented on #12350
sadly not yet.

We are waiting for idmapped mounts in the kernel to support overlay, which is not the case at the moment.

The issue is tracked here: https://github.com/containers/podman/issues/10374

I am closing this issue, since there is nothing we can do in Podman to address it.

The only alternative at the moment is to use fuse-overlayfs

[2021-11-18 19:57] #12350 closed

[2021-11-18 20:03] michael-d-fmtech commented on #12350
Agree,
Thanks

[2021-11-18 20:26] edsantiago opened #12355 "RFE: way to detect/kill in-flight pulls"
The scenario: in window 1:
[code]
Window 2:
[code]
This of course makes perfect sense: there are no containers. However, this matters because of `e2e` tests, and in particular `Cleanup`: https://github.com/containers/podman/blob/0376e6092c850435b4740876045fdccb467cafd8/test/e2e/common_test.go#L480-L490

What happens is, one test runs `podman run --name foo ...`, but that times out while still pull

[2021-11-18 20:38] umohnani8 commented on #11916
@rhatdan we can check for rootless and selinux and add the annotation, but when the yaml is used in a k8s cluster, k8s won't recognize it and will still cause the error mentioned in this issue. So might be best to just add a note to let the user know to make the pod privileged or to relabel the volume with chcon. We can generate the annotation so that it is used with play kube, but doesn't look li

[2021-11-18 20:49] ashley-cui commented on #12053
Sounds about right.

[2021-11-18 20:59] #12306 closed

[2021-11-18 21:00] #11532 closed

[2021-11-18 21:01] #12154 closed

[2021-11-18 21:03] #12199 closed

[2021-11-18 21:28] PhrozenByte commented on #12347
@giuseppe We might talk at cross purposes, or I simply don't understand what you mean :sweat_smile:

As described above, I've tried this on *five* different platforms which naturally all came with a fresh storage - and `fuse-overlayfs` never behaved this way. I'm not sure how you managed to break it with `fuse-overlayfs` :confused: Anyway, I might have made a mistake, so I just deleted the user's

[2021-11-18 22:07] edsantiago opened #12357 "[remote] import --signature-policy /no/such/file: runs happily"
[code]
Expected:
[code]

[2021-11-18 22:29] ImanGharib opened #12358 "Podman stoped working properly after update on centos 8"
Running podman as rootles leas to shell time out after waiting for almost 10 minutes. It happens by some commands like
`podman ps` . But `sudo podman ps` works.

[2021-11-18 22:31] 2xB commented on #12353
@mheon Yes, the container is even removed successfully using `podman rm` without force. It is not removed using `podman container prune` though.

I btw. have 6 such ghost containers left to test.
Regarding 3.4.2: Is there a better way for Manjaro than building it from source?

[2021-11-18 22:45] juhp opened #12359 "podman run --userns=keep-id causes ~/.local/share/containers/storage/overlay to be owned by uid 10000"
/kind bug

**Description**

Running a toolbox container in F35 or since June in F34 changes
the ownership of `~/.local/share/containers/storage/overlay` to be uid 10000.

**Steps to reproduce the issue:**

1. In a clean update to date Fedora 33/34/35 instance/account or F35 live image:
[code]

2. `dnf install toolbox`

3. `yes | toolbox enter`

**Describe the results you received:**
The overlay/ d

[2021-11-18 22:45] rhatdan commented on #12359
Yes I just got it to happen here.  Transferring back.

[2021-11-18 22:46] rhatdan commented on #12359
[code]
@giuseppe @nalind Ideas?

[2021-11-18 22:47] rhatdan commented on #12359
[code]
Seems like each run of a container is changing the ownership of the overlay directory, based on root of the user namespace.

[2021-11-18 23:04] rhatdan commented on #11340
We might need to add this to podman 3.5 rather then waiting for podman 4, if we want to get it into RHEL sooner.

[2021-11-19 01:32] rhatdan commented on #11916
It sounds fine with me. But it could get a little wordy.

[2021-11-19 01:40] rhatdan commented on #12357
--signature-policy shoud not even be valid for podman-remote.

[2021-11-19 02:04] rhatdan commented on #12358
Have you checked if you are having SELinux issues?
If not what does
$ podman unshare cat /proc/self/uid_map

Show?

[2021-11-19 02:37] edsantiago opened #12362 "[remote] error creating cgroup [...]: dial unix /run/systemd/private: connect: EPERM"
New podman-remote flake. Two triggers, both in the `command completion` system test:
[code]
Seen [November 17](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5114466883862528/html/sys-remote-fedora-34-root-host.log.html) and [18](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4870384060203008/html/sys-remot

[2021-11-19 04:04] mtrmac commented on #12155
Per `ginkgo -debug -dryRun -nodes=5`, that’s indeed the case (or at least the 5 per-process logs all list the same seed).

OTOH, I could argue that making collisions more likely would help make the code more robust against collisions, which we should do anyway. It’s almost tempting to add a universal `BeforeEach(func() { rand.Seed(42) })`. Almost — I’m not going to _actually_ do that.

[2021-11-19 04:49] martinetd commented on #12336
@Luap99 Forgive me for continuing on this, I have a few extra questions about how that `/etc/cni/net.d/87-podman.conflist` file is generated (it looks like I can't reopen the issue, hopefully you'll see this anyway)

(to reply first, I shouldn't have used 'backport' -- I didn't mean to use the change as it is, just another fix that would avoid the issue, but I agree my setup is rare enough and pro

[2021-11-19 06:48] mtrmac commented on #12341
c/image does provide a (somewhat) more detailed progress API for Go callers; compare https://github.com/cri-o/cri-o/blob/407d866343dfa3fca4997089894d05b15c5a64b3/server/image_pull.go#L174-L211 . I don’t immediately know whether it is sufficient to produce the Docker progress stream.

[2021-11-19 06:55] vrothberg commented on #11340
Pulling in @mheon.  @rhatdan, did you mean 3.4?

[2021-11-19 07:01] coppercash commented on #912
I have suffered from this for a long time, until I find your found.

[2021-11-19 07:25] ImanGharib commented on #12358
It shows:
         0       1000          1
         1     100000      65536

[2021-11-19 07:32] ImanGharib commented on #12358
And this is `sestatus`
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy name:             targeted
Current mode:                   enforcing
Mode from config file:          enforcing
Policy MLS status:              enabled
Policy deny_unknown status:     allowed
Memory protection checking:     actual

[2021-11-19 07:36] jakub-dzon opened #12363 "Add end-to-end support for config map-based env variables in play kube"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind feature

**Description**
This is a follow-up for #12243: `configmaps` query parameter for /v4.0.0/libpod/play/kube is not forwared to the `ContainerEngine.PlayKube` with `PlayKubeOptions` and as a result config maps are not supported in remote `play kube` execution.

As discussed during [the last Podman Community Cabal](https://podman.io/communit

[2021-11-19 07:37] jakub-dzon commented on #12363
I'm going to work on that issue.
Can one of the members of the organization assign this issue to me and add "In progress" label?

[2021-11-19 07:52] ImanGharib commented on #12358
And all of the sudden I get `podman ps
ERRO[0000] XDG_RUNTIME_DIR directory "/run/user/1000" is not owned by the current user `
today!!

[2021-11-19 08:13] giuseppe commented on #12347
here the whiteout are stored in a format that overlay understands.  The ones I've showed earlier are coming from the OCI image.  You can reproduce with the commands I've provided.

When using native overlay, the whiteout files for the directory are stored using xattrs.  To verify that, try to read the extended attributes on the `etc/mysql` directory in the storage.

AFAICS, the issue is in the ima

[2021-11-19 09:36] mtrmac commented on #12155
Where I think we’re at:
- c/storage: After https://github.com/containers/storage/pull/1065/files does not seed the global RNG, and AFAICS can reliably work even if the RNG generates collisions.
- c/image: No math/rng use (but does depend on crypto/rand). The signature protocols require generating a random ID value; we load existing values from the server, and avoid collisions with those, but we mi

[2021-11-19 09:41] vrothberg commented on #12355
There is no reliable way to detect in-flight pulls (and map that to a process).

Probably the tests should use random names or use the `--replace` flag.  It's an interesting issue.  I also wonder why ginkgo doesn't kill the process when the timeout kicks in.  Is that the case?

[2021-11-19 10:08] Procsiab commented on #10987
Hello there, I experienced the same error but in a different situation (upgrading **Fedora IoT** from 34 to 35): suddenly, I got the same error that @ppenguin reported in the issue.
However, creating the container.conf file under the home directory of the user I ran the containers with, and setting `log_driver = "k8s-file"` and de-commenting `events_logger = "journald"`, I could then get the logs

[2021-11-19 11:51] Luap99 commented on #12336
There is no check if the subnet is already used. You can change the default subnet in containers.conf. That however only works before the file is generated. Once the file is generated it is not changed by podman in any way.

If you need to make some adjustments to config you can copy this one into the dirctory https://github.com/containers/podman/blob/main/cni/87-podman-bridge.conflist and change

[2021-11-19 12:03] tweetysat commented on #12236
@Luap99 What do you mean with **mount a tmpfs on /tmp** ?
In my case I tired with `podman run -d --name nginx -p 8080:80 nginx` then `wsl --shutdown`
After that `podman ps -a` show the same message but the container is not running anyway.
I can do a `podman stop nginx`.  Then `podman ps -a ` works back normally but the container cannot be started again.
The only solution is to remove it an recreat

[2021-11-19 12:06] edsantiago opened #12366 "[remote] checkpoint --file-lock test: new flake"
The new checkpoint file-locks test (#12333) is [failing in f34 remote](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6345255898316800/html/int-remote-fedora-34-root-host.log.html#t--podman-checkpoint-and-restore-container-with---file-locks--1)
[code]
Weird thing is, `criu failed` _does_ appear in the error message a few lines above. I have no time to

[2021-11-19 12:09] martinetd commented on #12336
Thanks for the details! I'll just document a workaround for our users in case someone stumbles upon this.

[2021-11-19 12:50] Luap99 commented on #12236
The /tmp files should be on a temporary filesystem. So you either remove the /tmp/... files after each boot before you run any podman commands or the easier solution is to mount a temporary filesystem which only exists in ram so it is automatically deleted for each boot. You can run this command to do it: `mount -t tmpfs none /tmp`, on normal linux distros you can set this in `/etc/fstab` so that

[2021-11-19 12:57] #12165 closed

[2021-11-19 13:18] tweetysat commented on #12236
So I removed the `/tmp` folder.
I edited the fstab to mount tmpfs on /tmp.
I seems working.  I created a file in /tmp.  After reboot /tmp is empty.
I tired again `podman run -d --name nginx -p 8080:80 nginx`
Reboot.
`podman ps -a` ... is working without any message !
Of course the container is not started but I can do it with podman start nginx.
It is full working.
Many thanks.

[2021-11-19 13:39] rhatdan commented on #912
Please open an new issue if this is not fixed in current Podman/Buildah.

[2021-11-19 13:41] rhatdan commented on #12363
@umohnani8 FYI

[2021-11-19 14:16] mheon commented on #11340
There is no chance that this makes it into 3.5.

There is a chance we do a 3.5, but it will exclusively be OS X fixes and features, and it will continue to be based off the 3.4 branch with backports. We still need to work out the timing on 4.0 and a potential 3.5.

[2021-11-19 14:45] mheon commented on #12339
My read on this is that it looks like a conmon or crun issue - Conmon is not reporting back to Podman that the container was successfully created without our (very generous - I think it's 900 seconds?) timeout. @giuseppe Any way to get more verbose debug logs out of crun?

[2021-11-19 15:10] PhrozenByte commented on #12347
Okay, a lot of time for debugging went into this (nearly a whole working day), and now I'm confident that you're right: it's an issue with the image. Sort of. But it's a different issue. And it's ultimately caused by Podman and Buildah because they handle things in unexpected ways. This should be addressed, otherwise we'll likely see this more often for images built with `buildah mount` when nativ

[2021-11-19 15:23] rhatdan commented on #12205
So is this fixed in upstream runc?  Or is this something we need to fix in Podman, or can I close this issue?

[2021-11-19 15:27] hansena opened #12369 "Podman not honoring registries.conf"
/kind bug

**Description**
Podman is not honoring the configurations defined in registries.conf.  I have tried staging the file in both `~/.config/containers/registries.conf` and `~/private/etc/containers/registries.conf` with no change in the results.  The file is clearly being read as introducing a syntax error into the file does create an appropriate error condition in `podman pull postgres`, h

[2021-11-19 15:29] cevich commented on #12155
Great work @mtrmac and thanks for the summary.

(All IMHO)

I think there are some very rare and special cases where deterministic RNGs are required|useful.  One example is the randomized test-order, which can be forced as needed by `ginkgo ... -seed 42`.  Otherwise I think having them in test|user code is a slippery slope.  It's nearly always best they're made non-deterministic, since that's the

[2021-11-19 15:39] Luap99 commented on #12369
If you are using podman machine you have to change the files in the VM.

[2021-11-19 15:48] #12366 closed

[2021-11-19 15:52] rhatdan commented on #11618
@vrothberg @w4tsn What is up with this issue?

[2021-11-19 15:53] rhatdan commented on #9075
@mheon ping

[2021-11-19 15:54] rhatdan commented on #8579
@EduardoVega Any progress?

[2021-11-19 15:56] rhatdan commented on #8136
@flouthoc @giuseppe no work lately correct?

[2021-11-19 15:57] vrothberg commented on #11618
I think of adding a `--start-timeout` to `podman generate systemd`. What do you think?

[2021-11-19 15:58] flouthoc commented on #8136
@rhatdan Doing some research again. Hopefully will update here soon.

[2021-11-19 16:03] w4tsn commented on #11618
I think a `--start-timeout` option is reasonable as it also documents that this could be an issue / something you might want to configure.

[2021-11-19 16:05] hansena commented on #12369
Can confirm PEBKAC.  Thanks @Luap99 for your assistance!

[2021-11-19 16:05] #12369 closed

[2021-11-19 16:14] afbjorklund commented on #12205
Once the new runc has been released, it will work with the current Podman and the `rw` volumes on a read-only sshfs disk.

Until then, one _has_ to use crun since the current runc only works with Docker and its `ro` volumes.

----

Currently this mostly affected lima users, but an update has been pushed there...

Unless some other project (including Podman Machine) also starts using sshfs volumes

[2021-11-19 16:21] rhatdan commented on #12358
Which looks like you have a configuration issue.

[2021-11-19 16:21] #12358 closed

[2021-11-19 16:24] #12316 closed

[2021-11-19 16:34] MrErr opened #12370 "cannot resolve host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run  fedora /bin/bash -c "curl ident.me"

2.

3.

**Describe the results you received:**

podman run  fedora /bin/bash -c "curl ident.me"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2021-11-19 16:56] rhatdan commented on #11618
SGTM

[2021-11-19 17:33] Luap99 commented on #12370
Can you provide the content of `/etc/resolv.conf` from the host and the container. Also can you run your command with `--log-level debug` and provide the full output.

[2021-11-19 17:39] MrErr commented on #12370
On host
cat /etc/resolv.conf
# Generated by NetworkManager
nameserver 1.1.1.1

In container
podman run fedora /bin/bash -c "cat /etc/resolv.conf"
nameserver 1.1.1.1

podman --log-level debug run  fedora /bin/bash -c "curl ident.me"
INFO[0000] podman filtering at log level debug
DEBU[0000] Called run.PersistentPreRunE(podman --log-level debug run fedora /bin/bash -c curl ident.me)
DEBU[0000] Merged

[2021-11-19 17:47] Luap99 commented on #12370
This looks good. Can you `ping 1.1.1.1` from the container?

[2021-11-19 17:52] MrErr commented on #12370
Sorry, that does not work because ping is not installed
podman run  fedora /bin/bash -c "ping 1.1.1.1"
/bin/bash: ping: command not found

When I try to install ping, this happens
odman run  fedora /bin/bash -c "dnf -y install iputils"
Fedora Modular 31 - x86_64                      0.0  B/s |   0  B     00:30
Errors during downloading metadata for repository 'fedora-modular':
  - Curl error (6):

[2021-11-19 17:53] Luap99 commented on #12370
Can you just `curl 1.1.1.1` that should also work.

[2021-11-19 17:57] MrErr commented on #12370
podman run  fedora /bin/bash -c "curl 1.1.1.1"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (7) Failed to connect to 1.1.1.1 port 80: No route to host

[2021-11-19 17:58] Luap99 commented on #12370
Do you reach 1.1.1.1 from your host? It looks like the container has no internet connection.

[2021-11-19 17:59] MrErr commented on #12370
Yes!
curl 1.1.1.1
<html>
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1>301 Moved Permanently</h1></center>
<hr><center>cloudflare</center>
</body>
</html>

[2021-11-19 18:00] Luap99 commented on #12370
You run the container as root right? If so can you provide the output of `iptables -nvL -t nat`.

[2021-11-19 18:04] MrErr commented on #12370
That is what I concluded too, that the container has no internet connection, or maybe it is just the DNS that is not working.

[2021-11-19 18:05] MrErr commented on #12370
Yes, the container runs as root.

iptables -nvL -t nat
Chain PREROUTING (policy ACCEPT 1227 packets, 103K bytes)
 pkts bytes target     prot opt in     out     source               destination
    6   304 DNAT       tcp  --  *      *       0.0.0.0/0            97.90.225.42         tcp dpt:80 to:10.88.13.8:80
   33  1960 DNAT       tcp  --  *      *       0.0.0.0/0            97.90.225.42         t

[2021-11-19 18:09] MrErr commented on #12370
I can curl from one container to another already running root container
podman run  fedora /bin/bash -c "curl 10.88.13.7"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0<!DOCTYPE html>
<html>
<head>
	<script> wi

[2021-11-19 18:12] Luap99 commented on #12370
It looks you have a lot of container running, do the others work? If not already, could you also try a reboot.

[2021-11-19 18:23] MrErr commented on #12370
Yes, I do have a lot of containers working. I can stop them all except for one webserver for testing. I can also try removing all the excess firewall rules.

I have already tried rebooting several times and that has not helped.

[2021-11-19 18:36] MrErr commented on #12370
So after removing all the firewall rules and containers. The results are the same.

No access to host network from within container
podman run  fedora /bin/bash -c "curl 1.1.1.1"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:--

[2021-11-19 18:36] rhatdan commented on #12205
Ok I am going to close this issue, since it is not a issue that Podman can fix.  Although I guess we could update the spec file to require the latest runc once it is released.

[2021-11-19 18:36] #12205 closed

[2021-11-19 18:39] rhatdan commented on #12370
Most likely CNI, but could you verify stuff works if you use --net=host?

[2021-11-19 18:41] MrErr commented on #12370
It works using --net=host
podman run --net=host  fedora /bin/bash -c "curl 1.1.1.1"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   167  100   167  <html>  0      0      0 --:--:-- --:--:-- --:--:--     0
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1>301 Moved

[2021-11-19 18:45] rhatdan commented on #12370
And I bet it works rootless mode also.  Something is hosed up in you CNI setup.
@mheon Thoughts.

[2021-11-19 18:47] MrErr commented on #12370
You are right it works in rootless mode too :)

podman run  fedora /bin/bash -c "curl 1.1.1.1"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   167  100   167    0  <html>    0      0 --:--:-- --:--:-- --:--:--     0
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1

[2021-11-19 18:50] MrErr commented on #12370
Not sure if it helps, but here is the default network config

podman network  inspect podman
[
    {
        "cniVersion": "0.4.0",
        "name": "podman",
        "plugins": [
            {
                "bridge": "cni-podman0",
                "hairpinMode": true,
                "ipMasq": true,
                "ipam": {
                    "ranges": [
                        [

[2021-11-19 18:51] giuseppe commented on #12339
my suggestion is to see what processes are still running after a couple of minutes and use `strace` to see where they got stuck

Any reason for using the btrfs backend instead of overlay?

[2021-11-19 18:58] MrErr commented on #12370
I can create a new podman network and still run into the same problem

[root@xroads irlanet]# podman network create podman2
/etc/cni/net.d/podman2.conflist
[root@xroads irlanet]# podman run --net=podman2  fedora /bin/bash -c "curl 1.1.1.1"
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

[2021-11-19 19:20] mheon commented on #12370
The Prerouting DNAT rules don't look like anything I've ever seen CNI produce, and they're pointing at container IPs, which makes me a little uneasy.

[2021-11-19 19:25] MrErr commented on #12370
I have removed most of the firewall rules to make it easier to debug.

[root@xroads irlanet]# iptables -nvL -t nat
Chain PREROUTING (policy ACCEPT 12447 packets, 922K bytes)
 pkts bytes target     prot opt in     out     source               destination

Chain INPUT (policy ACCEPT 22 packets, 1506 bytes)
 pkts bytes target     prot opt in     out     source               destination

Chain OUTPUT

[2021-11-19 19:28] rhatdan commented on #12370
Do you have some other firewall tool running that is adding these rules.

[2021-11-19 19:32] MrErr commented on #12370
Yes, I use firewalld to add those prerouting rules. They are not coming from CNI. Those firewall rules have worked for years.

To help with debug, all those excess firewall rules have been removed, but the issue still exists. My last reply has the current firewall rules.

[2021-11-20 08:47] afbjorklund commented on #12205
Current ETA is runc 1.1.0

[2021-11-20 09:20] afbjorklund opened #12374 "Rootless podman stopped working after upgrade on ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading podman on ubuntu, it can no longer read the images.

Apparently you have to delete everything, in order to keeep using it ?

**Steps to reproduce the issue:**

1. `apt update`

2. `apt upgrade`

3. `podman version`

**Describe the results you received:**

`ERRO[0000] User-sele

[2021-11-20 13:25] fansari commented on #11999
I have a public IPv6 subnet inside of my container. Otherwise my question would make no sense.

Example:

[code]

For this reason I wrote that I tried to proxy it to my outer network interface:

ip -6 neigh add proxy 2a02.:...:5 dev enp6s0

This is exactly what works with kvm but not with podman so I was wondering why this is the case.

I have tested this again today and it does not work. Even wit

[2021-11-20 14:25] godmar commented on #12029
I'm using podman on a native system where I don't have root. Our sysadmin set up podman for us to use in rootless mode, using `/var/lib/user/$USER` as rootless storage path. I can build containers (and start them), but any attempt to look at the logs of a detached container fails with:
[code]
This is `podman version 3.4.1-dev` on `CentOS Stream release 8`
`/etc/containers/container.conf` does not

[2021-11-20 17:00] godmar opened #12376 "clarification request regarding the necessity and persistence of enable-linger in rootless mode"
The [troubleshooting guide](https://github.com/containers/podman/blob/main/troubleshooting.md) has 2 entries:

[17. rootless containers exit once the user sessions exits](https://github.com/containers/podman/blob/main/troubleshooting.md#symptom-14) and [21. A rootless container running in detached mode is closed at logout](https://github.com/containers/podman/blob/main/troubleshooting.md#21-a-root

[2021-11-20 19:10] giuseppe commented on #12347
are these xattrs visible when you mount the image?

If you do `ROOT=$(buildah mount $FOO)`, what does `getfattr -d -m'.*' $ROOT/etc/mysql/` show?

Is the container mounted using native overlay or fuse-overlayfs?

this is not a regression.  fuse-overlayfs expects the whiteout with a `.wh.` file, while native overlay expects it in the `user.overlay.opaque` xattr for unprivileged users or `trusted.ov

[2021-11-20 20:09] giuseppe commented on #12347
I've tried to run the https://github.com/SGSGermany/mariadb/blob/main/base/build.sh script locally on F35 and I get the expected result.

Do you build the image locally?

[2021-11-20 20:11] maxandersen commented on #11422
Still relevant

[2021-11-20 22:25] edsantiago commented on #12362
This one is getting nasty. It took me three or four re-runs to get CI passing in my PR.

### [sys] 278 podman shell completion test
* fedora-34 : sys remote fedora-34 root host [remote]
  * PR #12367
    * [11-19 10:14](https://storage.googleapis.com/cirrus-ci-6707778565701632-fc
ae48/artifacts/containers/podman/5961907518570496/html/sys-remote-fedora-34-root
-host.log.html#t--00278)
  * PR #12349

[2021-11-20 22:27] edsantiago commented on #12362
And I think this is the same symptom, in [unit tests](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6593814245670912/html/int-remote-fedora-35-root-host.log.html#t--podman-checkpoint-a-container-with-volumes--2). The EPERM is on `/proc/self/fd/X` instead of `/run/systemd/private`, but it still looks pretty similar to me:
[code]

[2021-11-21 07:45] stac47 opened #12378 "Image build cache not working through podman listening service"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building the same image through the podman API server does not make usage of the build cache

**Steps to reproduce the issue:**

1. Write a basic Dockerfile:
[code]
2. Start the podman API server:
[code]
3. Run a first time the build using the Docker client (or directly with cURL):
[code]
4.

[2021-11-21 09:58] kopiczko opened #12379 "`podman machine init` fails on M1 Macbook Air with exit status 1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `brew install podman && podman machine init` on M1 Macbook Air

**Describe the results you received:**

[code]

I don't see any flags increasing verbosity for the `machine init` command.

Subsequent call results in:

[code]

Trying to start the machin

[2021-11-21 11:25] PavelSosin-320 commented on #12247
I see very strange thing: 2 folders under ... containers/storage/btrfs/ : subvomes and subvolums (older one). and error message when I'm trying to create container saying stat .. subvolumes/containerid doesn't exist. Indeed, the folder is empty. Does Podman knows where is its graph root shown as .local/share/container/storage ? When Podman runs on Ubuntu / Fedora Desktops it sees already created b

[2021-11-21 14:44] DesantBucie commented on #12379
Same error. Podman 3.4.2, nixpkgs, macos 12.0.1.

<img width="702" alt="image" src="https://user-images.githubusercontent.com/46130107/142766519-a03bbe2c-e432-4066-9df6-c17cbb81cf83.png">

[2021-11-21 14:53] mskarbek commented on #12287
Can this be back ported to 3.4.2-rhell branch/included in 3.4 release in RHEL?

[2021-11-21 17:31] mheon commented on #12287
I recommend you open a BZ if you want a backport.

[2021-11-21 17:45] #12293 closed

[2021-11-22 03:20] rockmenjack commented on #12339
after switching to overlayfs the hang issue still persist:

[code]

after the tiemout, I can see conmon is still running but crun has exited:

[code]

[2021-11-22 10:48] flouthoc commented on #12378
@stac47 I think its because we use additional `--layers` which is explicitly set `true` by default from `podman client` but since docker client does not sets therefore it is `false` by default.

Could you try running podman server with and then invoke with docker client ?
[code]

[2021-11-22 11:11] flouthoc commented on #12378
@stac47 Could you try above PR please.

[2021-11-22 12:02] vrothberg commented on #12029
@godmar, you can create following file at /etc/containers/containers.conf:

[code]

Or edit `/usr/share/containers/containers.conf` (or copy that over to /etc/ and edit it there).

[2021-11-22 12:32] edsantiago commented on #12355
There's no timeout that I know of. Basically, the container gets started in the background, but nothing knows about it. Using random names is a good practice in general but, ironically, if that had been in use I might not have found the actual bug.

If there's no way to detect active pulls, and no interest in doing so, feel free to close.

[2021-11-22 12:52] vrothberg commented on #12355
I think a `ps | grep | sed  | kill` may be easier.

[2021-11-22 12:55] edsantiago commented on #12029
Closing because this issue was specific to #11795, which has merged. (In particular, this was specific to containerized environments). @godmar if @vrothberg's suggestion doesn't resolve your needs, could you please open a new issue?

[2021-11-22 13:08] edsantiago commented on #10927
### Podman network connect and disconnect [It] podman network disconnect when not running
* ubuntu-2110 : int podman ubuntu-2110 root host
  * PR #12305
    * [11-20 21:59](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6026337128284160/html/int-podman-ubuntu-2110-root-host.log.html#t--podman-network-disconnect-when-not-running--1)
    * [11-20 21:59](

[2021-11-22 13:45] stac47 commented on #12378
Question 1: with `podman-remote` the cache is correctly used
Question 2: the PR works fine

[2021-11-22 13:45] rhatdan commented on #11981
Since the question was never answered, I am closing the issue, Reopen if you have more data.

[2021-11-22 13:45] #11981 closed

[2021-11-22 13:47] rhatdan commented on #8124
@nasirhm @lsm5 What is going on with this issue?

[2021-11-22 13:49] willcohen commented on #8016
Already mentioned in #11454, but just for watchers here, still working on pushing 9p darwin upstream to qemu: https://lists.gnu.org/archive/html/qemu-devel/2021-11/msg04325.html. I'll probably need to go through a third version of the patch, and 9.2 (December release) is already well into release candidates, but hopefully that makes it in by 9.3 in early-ish 2022.

[2021-11-22 13:51] rhatdan commented on #12374
Were you using a VFS backend before?

[2021-11-22 13:52] stac47 commented on #12378
By chance, do you know how that problem could be worked around with the podman 3.x series ?
If not, is it possible to backport that fix in the 3.x branches ?
Thanks in advance,

[2021-11-22 13:53] rhatdan commented on #12374
Most likely the kernel changed, which cause fuse-overlay to  no longer be needed, but use native overlay.  Don't know where the vfs error comes from.

[2021-11-22 14:11] rhatdan commented on #12376
Are you interested in opening a PR fo this?
It looks like enable-linger requires the user to be in the `wheel` group or to provide the root password, I don't think there is a capability involved, since this is a communication with systemd.
You can see what users are enabled to linger by listing /var/lib/systemd/linger directory
$ ls /var/lib/systemd/linger
dwalsh

Pretty much without setting the l

[2021-11-22 14:18] rhatdan commented on #12379
@ashley-cui @baude PTAL

[2021-11-22 14:20] mheon commented on #12376
I would concur with Dan that what you're experiencing (needing to frequently reenable lingering) sounds like a bug (almost certainly with Systemd, not Podman, we don't touch that directly).

[2021-11-22 14:23] mheon commented on #11999
We are in the process of a complete rewrite of our networking backend, so the nftables problem should be resolved in Podman 4.0 or 4.1. I don't think the v6 experience we improve much in 4.0 as we're still trying to get the basics working, but I expect it will be a priority for Podman 4.1.

[2021-11-22 14:26] mheon commented on #12370
It's hard to debug why this is from the given information, though. Packets do seem to be flowing through postrouting, and the match (purely on source address) is very simple.

[2021-11-22 14:28] mheon commented on #12370
Can you provide an updated copy without the Firewalld bits? Because those DNAT rules still seem suspicious to me - one of them seems to be NATing all traffic.

[2021-11-22 14:29] ashley-cui commented on #12379
[code]
 It's working for me, but I'm on Darwin Kernel Version 20.6.0. Let me update the the mac and see if it still works

[2021-11-22 14:38] mheon commented on #12374
Did Ubuntu start shipping a default `containers.conf` for all non-root users, potentially? Are these the official packages, or from our OBS repos?

[2021-11-22 14:39] mheon commented on #12374
That error should only occur if there's a `storage.conf` file in the user's own home directory, hardcoding a graph driver of `overlay`, but the user has previously run Podman without said file using a graph driver of `vfs`

[2021-11-22 14:39] edsantiago commented on #11946
In the past month:

### Podman prune [It] podman system prune - pod,container stopped
* fedora-33 : int podman fedora-33 root container
  * PR #12260
    * [11-11 09:04](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6103194125205504/html/int-podman-fedora-33-root-container.log.html#t--podman-system-prune---pod-container-stopped--1)
    * [11-11 09:04]

[2021-11-22 14:44] #11945 closed

[2021-11-22 15:09] edsantiago commented on #12052
[Still happening](http://artifacts.dev.testing-farm.io/4474aa93-c764-4ade-b577-6c40f841c24e/work-tests.ymlW72rFu/tests-JZyr1Z/test.podman-remote-root.bats.log):
[code]

[2021-11-22 15:26] rhatdan commented on #12378
We hope to do a 3.5 release at some point, so this might be a candidate for that or a podman 3.4.3 release.

[2021-11-22 15:31] edsantiago commented on #11825
[Still happening](http://artifacts.dev.testing-farm.io/f9878557-57c3-449e-928d-67521d82a055/work-tests.ymlssN_eX/tests-WDi6kc/test.podman-remote-rootless.bats.log):
[code]

[2021-11-22 15:36] Luap99 commented on #12379
The failure is with `podman machine init` not `podman machine start`. If init failed start cannot work. Is this the same issue as https://github.com/containers/podman/issues/12329?

[2021-11-22 15:39] godmar commented on #12376
Thank you for the reply, at this point I feel like I don't know enough about podman to do this. Perhaps for now continuing this discussion here may help other readers.

On my machine (CentOS 8 Stream with podman-3.4.1-dev), I found out that I can change my own linger setting without requiring any additional privileges such as being in `wheel`, only trying to change another user's linger setting ap

[2021-11-22 15:42] Luap99 commented on #12355
Why does a test reuse the existing storage, I thought each test will use a separate storage so a new run should not cause naming conflicts.

[2021-11-22 15:47] ashley-cui commented on #12379
Ah sorry forgot to copy all the lines from my terminal, but init works as well for me. Let me try installing coreutils and seeing if that breaks anything...

acui@Ashleys-Mac-mini podman % podman machine init
Extracting compressed file

[2021-11-22 16:15] rhatdan commented on #12362
@Luap99 PTAL

[2021-11-22 16:17] Luap99 commented on #12362
The failure has nothing to do with the shell completion test IMO. It fails at a simple pod create. I cannot help to debug this.

[2021-11-22 16:45] rhatdan commented on #12376
I am by no means an expert on this.  I think one of the reasons Podman wants linger is that it uses XDG_RUNTIME_DIR and wants this to be set when running in a systemd user service at boot.

I am not as concerned with when a user logs out, as for the system services.

[2021-11-22 16:46] godmar commented on #12029
Thanks, setting `log_driver="k8s-file"` in `/usr/share/containers/containers.conf` resolved the issue, with the following caveats:

- This setting applies only to new containers started after the setting took effect and not retroactively to existing containers, not even when they are stopped + restarted.
- `/usr/share/containers/containers.conf` does not appear to have `[engine]` section.

[2021-11-22 17:08] Luap99 commented on #12282
I looked at this closer and the biggest question is what do we do with the rootless netns. Supporting this for podman and buildah is almost impossible. I think it makes sense to support networks for rootful buildah but for rootless it should continue to use slirp4netns.

[2021-11-22 17:25] edsantiago commented on #7096
And again, a triple failure causing a CI failure, but it's in [f33](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5470368979746816/html/int-podman-fedora-33-root-container.log.html) on an old branch so I'm not bothering to reopen.

[2021-11-22 18:02] #12378 closed

[2021-11-22 18:18] edsantiago commented on #12362
I cannot reproduce this on a 1minutetip VM. I tried this and let it run for 4 hours, no failures:
[code]
I'm seeing a weird EPERM in a completely unrelated test ([Static Build](https://cirrus-ci.com/task/6012127799410688)):
[code]
I've restarted that test, operating on the assumption that it's a flake. I don't know if it's related, and if it is, I can't imagine what it would mean.

[2021-11-22 18:48] kolyshkin commented on #12205
I did a backport for runc 1.0.3, too, which might come before 1.1.0.

[2021-11-22 20:15] rhatdan commented on #8086
@vrothberg @mheon @giuseppe any knew thoughts on this one?  I just tried it locally and run 100 containers and had no issues. But my machine is not fully loaded.

[2021-11-22 20:19] rhatdan commented on #11462
@baude @n1hility What needs to be done to get this exposed now.
Do we still need a
`podman connection docker-env` or something to show the DOCKER_HOST environment variables?

[2021-11-22 20:20] rhatdan commented on #10360
@jesselang Did you ever get a chance to work on this?

[2021-11-22 20:21] jesselang commented on #10360
Apologies, no. I'm afraid I won't be able to get to it anytime soon. Feel free to hand it out to someone.

[2021-11-22 20:29] asottile commented on #8086
in case it helps, here's a `--log-level=debug` output for a container which hits this

[log.30148.txt](https://github.com/containers/podman/files/7584136/log.30148.txt)

[2021-11-22 20:32] zdog234 commented on #11941
The way Docker engine handles this is obnoxious because it requires a GUI toggle and restarting the VM when you jump on / off a corporate network. If there were a way to have `podman pull` get proxy settings either from the environment or CLI arguments, that'd be sweet

[2021-11-22 20:36] rhatdan commented on #12339
Are you sure you are on overlay.  What does podman info show?  You might need to podman system reset your storage.

[2021-11-22 20:45] rhatdan commented on #12374
Yes I agree with this assessment.

[2021-11-22 20:46] rhatdan commented on #12374
If you were on a system without fuse-overlay and native overlay support, the podman rootless commands would default to vfs.

[2021-11-22 20:48] edsantiago commented on #9597
Bump. This is becoming a multiple-times-a-day flake.  [example](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5604276228587520/html/sys-remote-fedora-35-root-host.log.html)

[2021-11-22 20:52] #11916 closed

[2021-11-22 20:55] rhatdan commented on #8086
The `open pidfd` error is coming from crun.

[2021-11-22 21:10] bitstrings commented on #8086
Nothing changed. When the system is under some load I do get

![image](https://user-images.githubusercontent.com/911165/142935716-e81fc7ce-4a54-4874-8c9b-e9a8ae5f10a6.png)

[2021-11-22 21:54] edsantiago commented on #12362
In the last two days (as in: Saturday, Sunday, Monday up to now). This is a nasty one.

### [sys] 278 podman shell completion test
* fedora-34 : sys remote fedora-34 root host [remote]
  * PR #12381
    * [11-22 11:53](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5335687059734528/html/sys-remote-fedora-34-root-host.log.html#t--00278)
  * PR #12305

[2021-11-22 21:56] edsantiago commented on #9597
### [sys] 60 podman logs restarted - k8s-file
* fedora-35 : sys remote fedora-35 root host [remote]
  * PR #12386
    * [11-22 14:35](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5890716187492352/html/sys-remote-fedora-35-root-host.log.html#t--00060)
  * PR #12364
    * [11-19 12:55](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/ar

[2021-11-22 23:47] wayneeseguin commented on #8016
@willcohen Update much appreciated, thank you!!! Is there any documentation on how to apply the patches so we can help test it out?

[2021-11-23 01:49] willcohen commented on #8016
If you compile qemu with those patches and have it be the qemu used on your path, you can compile podman per the PR at https://github.com/containers/podman/pull/11454#issuecomment-917296954 and basically duplicate what @afbjorklund does in this screenshot. If you can get a folder to mount from macOS and see it in the podman machine, then you should be good to go! Duplicating that result plus passi

[2021-11-23 02:09] rockmenjack commented on #12339
please check the latest log: `DEBU[0000] Using graph driver overlay `

[2021-11-23 06:14] PavelSosin-320 opened #12390 "Use BTRFS transactional nature to keep Rootless user artifact storage consistent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Use BTRFS snapshot of the rootless user Podman storage area consistent over any possible failure in the container creation.

To avoid situations like
#https://github.com/containers/podman/issues/12264
Since BTRFS subvolumes are well protected from writing by non-owner it can improve secur

[2021-11-23 08:14] gnd opened #12391 "Docker image with podman.socket service"
/kind feature

Hi, we are experimenting with replacing Docker with Podman in production, and with simple builds this is fairly easy. We are using gitlab runners (docker) within a Kubernetes cluster. The usual way to replace Docker for builds would be:

[code]

However more complex pipelines utilize a lot of docker-compose for testing. According to [this article](https://www.redhat.com/sysadmin/pod

[2021-11-23 08:52] vrothberg commented on #8086
@giuseppe @flouthoc could you eyeball the pidfd logic in crun?

[2021-11-23 09:24] giuseppe commented on #8086
crun returns that error when the container is already exited.

I think a fully loaded machine just makes easier to trigger the race where Podman thinks the container is running and sends a signal.

On such failures, probably Podman should ask the runtime if the container is still alive, and ignore any error when it is already terminated

[2021-11-23 09:54] stac47 opened #12392 "Failing image build not reported to Docker client through podman API service"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building an image from an invalid Docker file using docker client through podman API service, should return an error code.

**Steps to reproduce the issue:**

1. Start the podman.socket API service
[code]
2. Try to build an image from a broken `Dockerfile` using the podman listening socket:
[

[2021-11-23 10:25] #11618 closed

[2021-11-23 10:32] flouthoc commented on #8086
@giuseppe @vrothberg I guess in case of error would could make another call to `kill` and if its `unix.ESRCH` means no PID is there and we could terminate gracefully we are already going it for `SIGKILL`. I could open a PR but want to check if everybody agrees with this.

[code]

[2021-11-23 10:39] giuseppe commented on #8086
I think that would not work well with VMs.  It is better to go through the OCI runtime (`$OCI-RUNTIME state $CTR`).

[2021-11-23 10:46] dispensable opened #12393 "Podman play kube does not respect `spec.hostname` setting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After setting customized hostname in play kube yaml file with `spec.hostname` and use `play kube` create pod, the container's hostname is still pod name instead of `spec.hostname`.

**Steps to reproduce the issue:**

1. touch test.yaml with content:
[code]

2. use `podman play kube test.yaml`

[2021-11-23 11:18] garrett commented on #11494
A desktop client for Podman being worked on, but in other places, not necessarily in this issue... so it's not stale.

[2021-11-23 11:29] rhatdan commented on #12391
Do you want a systemd version of the service, or why not just start it yourself, with `podman system service -t 0`

[2021-11-23 11:31] gnd commented on #12391
well i tried that too, and this was the result:

[code]

[2021-11-23 11:43] jgato opened #12395 "podman pull 403 forbiden with region blocked ip"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was having problems pulling a docker image, and the only info I get was:

[code]

**Describe the results you received:**

This only happens from my laptop (home network). But I could pull other images from other registries. It is not a real authentication problem, I have checked it well. Th

[2021-11-23 11:46] Luap99 commented on #12362
@giuseppe Can you look at this, it looks like podman cannot create the pod crgoup via systemd.

[2021-11-23 12:10] rhatdan commented on #12392
This looks like Docker is expecting a different error code then we are sending. Probably something in the API.

[2021-11-23 12:10] rhatdan commented on #12392
@flouthoc PTAL

[2021-11-23 12:23] #11964 closed

[2021-11-23 12:27] rhatdan commented on #12393
@umohnani8 PTAL

[2021-11-23 12:35] rhatdan commented on #12391
The issue is the docker daemon that github is running is not allow the syscall clone, which will prevent you from running containers inside of containers.
Podman and friends defaults to allowing clone within seccomp.json, but Docker does not.
[code]
If you run Docker with podman seccomp.json file, then this should work.

[2021-11-23 12:37] rhatdan commented on #11494
Correct @ashley-cui  is working on one.

[2021-11-23 12:39] rhatdan commented on #7479
@jwhonce @mheon any movement on this one?

[2021-11-23 12:44] rhatdan commented on #12339
This one has me stumped.
@giuseppe Any ideas?
@rockmenjack Have  you tried to swap out the OCI Runtime, try with runc?

[2021-11-23 12:46] rockmenjack commented on #12339
yeah, tried runc with overlayfs

[2021-11-23 12:58] rhatdan commented on #12362
Something is giving permission denied.  The process running Podman is running as root and unconfined_t, and the socket is 777.
To me this indicates that this is not DAC (ownership permissions) or SELinux causing the issue.  But perhaps systemd returning permission denied when podman tries to talk to the socket.

[2021-11-23 12:58] rhatdan commented on #12339
So both runc and crun hang?

[2021-11-23 13:00] rockmenjack commented on #12339
correct

[2021-11-23 13:02] rhatdan commented on #12339
Perhaps kernel related, but I have no idea.

[2021-11-23 13:50] afbjorklund commented on #12374
Was using fuse-overlayfs

[2021-11-23 13:58] #8086 closed

[2021-11-23 14:11] vrothberg commented on #12390
Probably something for containers/storage but we don't have BTRFS expertise in the team.  Overlay has the best quality.

@rhatdan @giuseppe PTAL

[2021-11-23 14:26] Smeds opened #12396 "podman play kube and secrets"
I need some guidance. I can start pods successfully using "podman play kube" with podman secrets, provided to the container with fromEnv and secretRef. My problem with this solution is that then my secrets are viewable using inspect. Is it possible to have them mounted as files like with "podman run --secret"? Or is that just not possible right now with "podman play kube"?

[2021-11-23 14:28] vrothberg commented on #12396
Thanks for reaching out, @Smeds!

@ashley-cui PTAL

[2021-11-23 14:41] mheon commented on #7479
Negative. This is probably more of a @jwhonce and @baude thing than me since it will be entirely a bindings change.

[2021-11-23 14:50] #12357 closed

[2021-11-23 15:07] rhatdan commented on #12390
Yup, definitely something that the upstream community would need to develop. I don't see the core team working on this.

[2021-11-23 16:26] giuseppe commented on #12362
I see the following AVC in the [Cirrus logs](https://api.cirrus-ci.com/v1/task/5335687059734528/logs/journal.log):

[code]

[2021-11-23 16:39] Conan-Kudo commented on #11507
In Docker Desktop, the certs are copied from the host into the VM that the true Docker daemon runs in. For Podman on Mac, we'd want the same thing (contents of `~/.config/containers/certs.d` and `~/.config/docker/certs.d` should be copied to the VM's `/etc/containers/certs.d/` directory).

[2021-11-23 16:59] mheon commented on #12376
In addition to requiring a valid `XDG_RUNTIME_DIR` for rootless users (systemd will tear down `/run/user/$UID` on logout by default), as Dan mentioned, we also require an active DBus socket for the user on CGroupsv2 systems, which requires an active user session.

[2021-11-23 17:57] godmar commented on #12376
As a related aside, on one of the machines where I am testing, the use of podman to run a rootless detached container has somehow led to the killing of the 'User Manager' systemd unit for my account. This means that `XDG_RUNTIME_DIR` is no longer set when I log in. It's a machine where I don't have root so I can't examine the logs; I'm working with the system administrator to try to find out what

[2021-11-23 18:23] jfroy opened #12400 "`podman stats` reports only the container's PID 1 information, which is not so useful for systemd containers"
/kind bug

**Description**

`podman stats` seems to report the container's PID 1 information, and this is perhaps not as useful for systemd containers.

**Steps to reproduce the issue:**

1. Build and run a simple systemd-based container image:

[code]

[code]

2. Run `podman stats`

[code]

**Describe the results you received:**

The returned stats are for the container's PID 1 only (e.g. systemd

[2021-11-23 18:30] #12363 closed

[2021-11-23 18:31] edsantiago commented on #12362
Oh, this is interesting. [This time](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4676992655163392/html/sys-remote-fedora-34-root-host.log.html) the failure happens near the *end* of the test, not (as usual) in the beginning:
[code]
What I find interesting:
* One `pod rm` succeeds.
* Immediately afterward, another `pod rm` fails.
* `teardown` is invo

[2021-11-23 18:50] MrErr commented on #12370
[root@xroads irlanet]# iptables -nvL -t nat
Chain PREROUTING (policy ACCEPT 12447 packets, 922K bytes)
pkts bytes target prot opt in out source destination

Chain INPUT (policy ACCEPT 22 packets, 1506 bytes)
pkts bytes target prot opt in out source destination

Chain OUTPUT (policy ACCEPT 15485 packets, 1087K bytes)
pkts bytes target prot opt in out source destination

Chain POSTROUTING (policy AC

[2021-11-23 19:11] mheon commented on #12370
Still 0 packets going through the CNI chains - so the traffic isn't matching the conditions of the Postrouting rule most likely?

Can you confirm that the container's IP address matches the one being shown in Postrouting?

[2021-11-23 19:23] Luap99 commented on #12370
Could this be somehow a conflict between legacy iptables and nf tables?
What is the output of `iptables --version`?

[2021-11-23 19:32] rhatdan commented on #12362
The AVC indicates that podman inside of a container is attempting to connect to systemd.
[code]
This is being blocked by SELinux and never getting to systemd.  The question is why is podman running within a locked down container when this happens.

[2021-11-23 19:42] Luap99 commented on #12362
The common factor are remote tests, can the server change the label of itself instead of the container by accident?

[2021-11-23 20:15] rhatdan commented on #12362
Theoretically yes, but I do not see how,  The likely candidate was right here:
https://github.com/containers/podman/blob/main/libpod/oci_conmon_linux.go#L1436-L1450
But this code should have changed the label to "s0", but the avc Giuseppe shows above is s0:c331,c658

[2021-11-23 20:20] rhatdan commented on #12362
selinux.SetTaskLabel would change the label of the service process, but no one calls that.
SetProcessLabel() is setting the label of executables exec'd by podman.
@edsantiago Any chance we know the PID of the service.  If we new the server was running as pid=4369 then we would know that it is the process causing the issue. (Which is most likely the case).

[2021-11-23 20:21] zmc commented on #12379
I am seeing this on a fresh install of podman on a new 14" MBP:
[code]
Should it be using an x86_64 image?

[2021-11-23 20:25] rhatdan commented on #12362
There are actually more AVCs.
[code]

[2021-11-23 20:27] edsantiago commented on #12362
There are provisions for cat'ing the server log, but I don't see them triggered anywhere. If you're still playing with your reproducer PR, you could try:
[code]

[2021-11-23 20:48] rhatdan commented on #12362
I think the issue is here:
https://github.com/containers/podman/blob/main/libpod/oci_conmon_linux.go#L780-L78

[2021-11-23 20:58] rhatdan commented on #12362
We just turned on remote checkpoint testing, and the previous tests before the failing test is a checkpoint test.
I am no Hercule Poirot, but I think this is the issue.

[2021-11-23 23:33] MrErr commented on #12370
Yes, that is the ip address of the container.
Did not realize that fedora is moving away from iptables. There is probably a bug in their compatibility package.
Anyway, I will be moving from fedora to centos-stream, just because I cant afford the down time. Thanks to everyone who helped.

[2021-11-23 23:33] #12370 closed

[2021-11-24 00:46] #12362 closed

[2021-11-24 00:51] xandris opened #12402 "`podman image save` results in `Error: open /dev/stdout: permission denied`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman image save centos:7 | gzip -9c > test`

**Describe the results you received:**

[code]

`test` is empty (except for the gzip header).

**Describe the results you expected:**

A gzipped tarball at `test`.

**Additional information you deem importan

[2021-11-24 01:10] beatboxchad commented on #4217
To accommodate machine-generated YAML or API calls, such as with `docker-compose`.

Thus, this issue is breaking the new, exciting `docker-compose` compatibility. I ran into the same problem described in a comment on [issue 11717](https://github.com/containers/podman/issues/11717#issuecomment-932992780).

This constrains shops/teams who want to adopt Podman but keep the developer experience consis

[2021-11-24 02:33] rockmenjack commented on #12339
tried 5.10.81, still no luck...

[2021-11-24 07:34] MartinX3 commented on #6114
@rhatdan Could you remove the stale label?

[2021-11-24 10:03] giuseppe commented on #12400
opened a PR: https://github.com/containers/podman/pull/12403

[2021-11-24 10:26] flouthoc commented on #12392
@stac47 above PR should close this.

[2021-11-24 13:02] rhatdan commented on #12402
I don't believe this is a podman issue.  I have no idea but there is nothing about podman which would cause /dev/stderr would be read/only.  I am sure this is caused by something else on your system.

[2021-11-24 13:06] rhatdan commented on #4217
A

[2021-11-24 13:06] #4217 closed

[2021-11-24 13:09] vrothberg commented on #12402
@mtrmac could you have a quick look at this issue?  I don't have a Mac. https://discussions.apple.com/thread/251125990 suggests there may be issues on Mac OS when opening `/dev/stdout` directly.

[2021-11-24 13:36] mtrmac commented on #12402
I didn’t test Podman itself, but from experimenting with the code below, it looks like `os.Create` (in `infra/tunnel.ImageEngine.Save`) fails on `go run ./foo.go | cat`, and that’s because the pipe is write-only (`O_WRONLY` succeeds, `O_RDWR` fails.) The `/dev/fd/*` permissions apparently don’t show the true difference between read/write ends of a pipe, or something like that:

[code]

[code]

Tha

[2021-11-24 14:12] rhatdan commented on #12402
So you think
[code]
Would fix this issue?

[2021-11-24 14:27] mtrmac commented on #12402
`O_WRONLY`.

[2021-11-24 15:32] rhatdan commented on #12402
Ok so it is failing to open it for read.

[2021-11-24 20:52] tnk4on opened #12409 "podman-remote: Cannot build if context directory is symlink"
**Description**

When building with podman-remote, an error occurs if the context directory is symlink.

**Steps to reproduce the issue:**

If the context directory is symlink.
[code]

If the context directory is a real directory.
[code]
Additional notes:
I reproduced the same error on macOS remote client(v3.4.2 and latest main branch).
This error will block the execution of "[Clone Repository in

[2021-11-24 22:28] baude commented on #12379
I think your problem might be related to having rosetta installed? I believe I saw this once before where brew got confused or something confused brew about what architecture it was on.

[2021-11-24 22:29] baude commented on #12379
@kopiczko can you verify that the path that is being reported in the error actually exists?

[2021-11-25 00:01] DesantBucie commented on #12379
@baude I run it, if it helps. I'm using nix, not brew though, but i reproduced every step and i have 1:1 problem.
[code]

[code]

[2021-11-25 00:06] zmc commented on #12379
@baude apologies, I deleted my comment and _later_ noticed your reply; you're basically correct. My issue was that I had very recently migrated from an Intel Mac and hadn't set up the separate aarch64 Homebrew install - so I ended up with x86_64 copies of qemu and podman. Everything worked once I corrected that, so my issue wasn't the one described here.

[2021-11-25 09:15] jonyhy96 commented on #10116
@vrothberg this issue seems not solved
https://github.com/containers/podman/blob/main/cmd/podman/images/pull.go#L112 it still not use `/etc/containers/certs.d` as default value for `--cert-dir`. should be like
[code]

[2021-11-25 09:27] flouthoc commented on #12409
@tnk4on I don't think this a buildah issue it seems to be failing at very early level hence moving it to podman. I don't have a `remote` setup but sharing `--log-level=debug` could be helpful.

[2021-11-25 09:30] vrothberg commented on #10116
@jonyhy96, https://github.com/containers/image/blob/main/docker/docker_client.go#L65-L68 is the place to look at.

[2021-11-25 09:44] Luap99 commented on #12409
I think this already fixed in the main branch, see https://github.com/containers/podman/issues/11732

[2021-11-25 10:07] penn5 opened #12410 "Podman pull behaviour different between `podman pull` and `podman run`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman run 10.0.2.2:5000/library/postgres:11` returns `Error: initializing source docker://10.0.2.2:5000/library/postgres:11: pinging container registry 10.0.2.2:5000: Get "https://10.0.2.2:5000/v2/": http: server gave HTTP response to HTTPS client` even though I've configured the so

[2021-11-25 10:14] vrothberg commented on #12410
Thanks for reaching out.  The issue has already been fixed in the main branch via https://github.com/containers/podman/pull/12064.

@mheon I don't see a backport to v3.4.  Should we prepare one?

[2021-11-25 10:14] #12410 closed

[2021-11-25 10:27] kopiczko commented on #12379
Thanks @Luap99 I think it's https://github.com/containers/podman/issues/12329 as I have `coreutils` installed and `PATH` changed on my machine. From my POV the fix looks good but I'm not sure if it will work with the nix setup mentioned by @DesantBucie. Waiting for the new release. I could try installing the latest main if there are instructions how to do so on MacOS.

Answering other questions ju

[2021-11-25 10:59] #12400 closed

[2021-11-25 11:24] rhatdan opened #12413 "podman play kube with --ports defined in yaml file seems to be broken."
Create a container with
$ ./bin/podman create -p 8080:8080 --name myapp quay.io/rhatdan/myimage
$ ./bin/podman generate kube myapp >  myapp.yaml

[code]
Now attempt to the play the yaml file
[code]
It looks like the Pod and container use of port:8080 are conflicting?

@cdoern Is this something that you changed?  @mheon Thoughts?

[2021-11-25 11:25] rhatdan commented on #12413
[code]

[2021-11-25 11:27] rhatdan commented on #12413
I am not sure if the infra container or the container within the pod are doing the wrong thing?

[2021-11-25 11:38] Luap99 commented on #12413
It is normal that podman ps displays the ports for each container in a pod.

The infra needs to bind the ports the other containers should just join the  infra network namespace.

[2021-11-25 11:39] Luap99 commented on #12413
Are you sure you have nothing running on 8080? If I read the error correctly the infra cannot bind the ports which happens before the other container is even started.

[2021-11-25 11:52] flouthoc commented on #12415
Moved this to `podman` since it is not directly related to `buildah`.

For remote secret mount added a PR: https://github.com/containers/podman/pull/12414

[2021-11-25 12:15] JayDoubleu opened #12416 "Unable to pull image : `Error processing tar file(exit status 1): lsetxattr /vendor: invalid argument`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to pull image results in error.

**Steps to reproduce the issue:**

1. `podman pull  docker.io/redroid/redroid:12.0.0-latest`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens o

[2021-11-25 14:54] Luap99 commented on #12395
@vrothberg @mtrmac PTAL I assume this must be fixed in c/image.

[2021-11-25 15:03] mtrmac commented on #12395
Note to self: Looks like `GetBlob` should call `registryHTTPResponseToError`, not just `httpResponseToError`.

[2021-11-25 15:57] pkliczewski opened #12417 "readiness probe for play kube"
/kind feature

In pod spec as defined by Kuberenetes there is [readiness](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-readiness-probes) probe. ATM the support is missing in podman play kube.

[2021-11-25 16:10] flouthoc commented on #12417
@pkliczewski I worked on liveness probe a while ago since we dont have `kubelet` here it was backed by native podman health checks / systemd and restarts container if they need to. https://github.com/containers/podman/pull/10956

I might be missing on something but i am still curious what practical application would `readiness` probe would solve here since we don't have a construct of `service` in

[2021-11-25 17:28] tnk4on commented on #12409
@flouthoc Thank you for moving the issue!
The debug log is below.
[code]

[2021-11-25 17:58] tnk4on commented on #12409
@Luap99 Thanks for the information on the related issue.
As far as I've tried on my macOS, this issue doesn't seem to be fixed...

[2021-11-25 18:04] Luap99 commented on #12409
The path is slightly different between your error and the old one:
`/var/tmp/libpod_builder150168969/build/root/build-test/test2/Containerfile` while the old one was `/var/tmp/libpod_builder324688225/build/Dockerfile`. I guess the problem is the extra `root/build-test/test2` in the path.

[2021-11-25 18:10] tnk4on commented on #12409
Sorry for the confusion.
The debug log was re-fetched from the newly created Podman environment. It is reproducible.

[2021-11-25 18:16] Luap99 commented on #12409
No I am saying your path is different from the one in the old issue #11732, you have a extra `root/build-test/test2` in there

Can you try with the full path to the directory, e.g. `podman -r build -t test2 /path/to/link`

[2021-11-25 18:44] tnk4on commented on #12409
OK, I understand. I was able to build it by specifying the path.
[code]
The Linux version of podman-remote seems to be fine.

[2021-11-25 19:12] tnk4on commented on #12409
On macOS, the error continues.
[code]

[2021-11-25 20:33] giuseppe commented on #12416
how was the image created?

The file `/vendor` has an extended attribute: `security.selinux=u:object_r:vendor_file:s0` which probably doesn't exist on your system.

@rhatdan should we ignore `security.selinux` when we extract the image?

[2021-11-26 02:03] Geek-sky commented on #11584
Hi @mheon , I've met this issue again... this time ,when i use `podman run`  to start a container and I added `--cap-add CAP_AUDIT_WRITE`  to ensure i can use ssh to connect the container , but i could not to connect the container again . did you konw other capabilities i forgot to add ?
Below is when I use podman to start a container's command
`podman run -itd --cap-add CAP_AUDIT_WRITE -p 2299:22

[2021-11-26 07:05] mario19911 opened #12418 "Cannot set RT priority in container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to run a short program in a podman container. When I tried to set the priority to realtime, I always get EPERM as errno. I already tried to run podman with the flag --cpu-rt-runtime=950000.

The program:
[code]

**Steps to reproduce the issue:**

1. Compile the following program with

[2021-11-26 07:46] pkliczewski commented on #12417
When multiple containers are booting and some depend on others with readiness probe it would be easy to understand whether application would work as a whole.

[2021-11-26 08:11] xatier opened #12419 "Podman should respect ReadOnly flag in API calls."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In the `/container/create` API [1], one should be able to specify `HostConfig.Mounts[].ReadOnly` flag to indicate if the mount point is read-only or read-write. This flag is default to `false`, i.e., the mount point should be `rw` by default.

[1] https://docs.podman.io/en/latest/_static/api.

[2021-11-26 08:11] xatier commented on #12419
@rhatdan please take a look :pray:

[2021-11-26 08:34] xatier opened #12420 "/containers/{id}/archive should report 403 if the PUT call fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is related to https://github.com/containers/podman/issues/12419 , with the same context from https://github.com/nektos/act/issues/303 .

When the `PUT` API call failed to upload the tar ball into the container, it should report 403 to indicate the error.

**Steps to reproduce the issue:*

[2021-11-26 08:38] xatier commented on #12420
Looks like we emit a `200` before even checking `copyFunc()`'s error :smile:

https://github.com/containers/podman/blob/47eaf23039/pkg/api/handlers/compat/containers_archive.go#L125-L139

[2021-11-26 08:44] flouthoc commented on #12418
@mario19911 I think you would need more privileges or alteast `CAP_SYS_NICE` , could you try with `podman run --security-opt seccomp=unconfined --cap-add all -it --entrypoint=/bin/sh realtime`

Could you elaborate more here ? Do you mean `--cpu-rt-runtime=950000` is not processed by `crun` properly while it works with `runc` ?

[2021-11-26 08:54] flouthoc commented on #12418
@mario19911 For the `invalid argument` it looks more like that there is less CPU bandwidth available than requested. I'd suggest testing with a smaller value with `podman/crun` `--cpu-rt-runtime=95000`.

[2021-11-26 09:16] mario19911 commented on #12418
@flouthoc : Thanks for the fast answer.
I just ran it with ``podman run -it --mount type=bind,source=realtime,target=/realtime --cap-add all --security-opt seccomp=unconfined --entrypoint=/bin/sh rtus/rtum85/04.mj``. This also failed for me.

Additionally I tried to add the ``--cpu-rt-runtime=950000`` and again got the error ``Error: OCI runtime error: writing file `cpu.rt_runtime_us`: Invalid arg

[2021-11-26 09:20] giuseppe commented on #12418
does the same config.json file work with crun?

Could you share the config.json file you've used?

[2021-11-26 09:37] rhatdan commented on #12413
Yup, sadly it was systemd socket activation, thanks.  I was checking to make sure all containers were down.  But did not check systemd.

[2021-11-26 09:37] #12413 closed

[2021-11-26 09:38] jgato commented on #12395
@mtrmac how do I test that change?

[2021-11-26 09:44] mario19911 commented on #12418
Sure, this it is:
``{
	"ociVersion": "1.0.2-dev",
	"process": {
		"terminal": true,
		"user": {
			"uid": 0,
			"gid": 0
		},
		"args": [
			"sh"
		],
		"env": [
			"PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin",
			"TERM=xterm"
		],
		"cwd": "/",
		"capabilities": {
			"bounding": [
				"CAP_CHOWN",
				"CAP_DAC_OVERRIDE",
				"CAP_DAC_READ_SEARCH",
				"CAP_FOWNER",
				"CAP

[2021-11-26 10:03] flouthoc commented on #12418
@mario19911 One difference is your custom config with `crun/runc` also sets `realtimePeriod` while with podman you aren't doing that could you try with `--cpu-rt-runtime=950000` with `--cpu-rt-period=1000000` .

[2021-11-26 10:10] mario19911 commented on #12418
I tried the following two calls:
**First: just setting the period:**
``podman run -it --mount type=bind,source=realtime,target=/realtime --cap-add all --security-opt seccomp=unconfined --cpu-rt-period=1000000 --entrypoint=/bin/sh rtus/rtum85/04.mj`` --> here I got the same issue when executing the realtime program.

**Second: setting period and runtime:**
``podman run -it --mount type=bind,source=

[2021-11-26 10:31] giuseppe commented on #12418
one difference when you run the container manually is that it is not setting a new group.

Since you are using the cgroupfs, please make sure the parent cgroup has the correct settings, you may need to manually do something like:

[code]

or specify a different `--parent-cgroup`

[2021-11-26 10:40] mario19911 commented on #12418
Thank you very much, with this settings it worked :)

Just for my understanding - when I use systemd as cgroup manager do I have to do the same?

[2021-11-26 10:41] giuseppe commented on #12418
yes, systemd doesn't manage the realtime CPU controller.

[2021-11-26 10:41] #12418 closed

[2021-11-26 13:23] flouthoc commented on #12415
Above issue will be closed by the stated PR. We are going for `copying` secrets to tar as it will solve use-case for both `remote` and `mac` setup.

[2021-11-26 15:05] ypconstante opened #12421 "Permission error on named volume with docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `docker-compose up` with podman, a named volume has a permission error.
Using podman-compose with podman, or docker-compose with docker, works as expected.
Changing to short syntax with `z` label also works.

**Steps to reproduce the issue:**

1. Clone [https://github.com/ypconst

[2021-11-26 15:17] jgato commented on #12395
Maybe this would help. I took the blob image from podman output and tried to download just with Firefox.

[code]

[code]

[2021-11-26 15:58] afbjorklund commented on #12374
Suggested workaround (deleting files) will have to do

[2021-11-26 15:58] #12374 closed

[2021-11-26 17:54] slvr32 opened #12422 "podman stats failures, cgroup, slice errors"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman stats doesn't reliably return container stats, and instead fails with various cgroup/slice errors

**Steps to reproduce the issue:**

On an host (incidentally also an LXC guest) with

\# podman stats --no-stream -a

**Describe the results you received:**

WARN[0000] Failed to retrieve

[2021-11-26 18:29] slvr32 opened #12423 "podman exec -it failures"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman exec -it commands fail sporadically

**Steps to reproduce the issue:**

On a box with several containers, looping through the containers to see this issue...

\# for i in `podman ps -a | egrep -vi container | awk '{print $1}'`; do podman exec -it $i bash -c "ls"; done

**Describe the r

[2021-11-26 18:45] npmccallum opened #12424 "Running podman under systemd DynamicUser"
Nesting podman doesn't work. We know that. But I still need to isolate an emepheral service which runs containers. So I'm trying systemd's `DynamicUser` facility. I didn't expect it to be painless. Okay, here's what I have so far:

1. I start off by running bash under `DynamicUser`:

[code]

2. Next I run `podman`:

[code]

The `/etc/subuid` and `/etc/subgid` problem I expected. But I didn't expec

[2021-11-26 21:12] slvr32 commented on #12423
exec -i is still useful for scripting commands against containers, but exec -it is valuable for typical (human) interactive shell commands

[2021-11-26 21:56] tnk4on commented on #12409
The following code solved the problem. This works not only for macOS, but also for podman-remote on Linux
[code]

[2021-11-27 08:56] afbjorklund commented on #11494
I guess the [community](https://podman.io/community/meeting/notes/2021-10-21/#podman-system-monitor-for-mac--130-in-video) [meetings](https://podman.io/community/meeting/notes/2021-11-02/#podman-on-mac-status)  are the place to get updates on this ?

[2021-11-27 09:06] afbjorklund commented on #11494
The GUI from the old article has been updated:

https://www.redhat.com/sysadmin/replace-docker-podman-mac-revisited

Previously it used Vagrant, to replace machine:

~~https://www.redhat.com/sysadmin/replace-docker-podman-macos~~

[2021-11-27 16:59] sebelk opened #12426 "podman cannot publish ports to the host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot publish ports to the host

**Steps to reproduce the issue:**

1. podman run --rm -p 80:80 nginx

**Describe the results you received:**
Error: failed to start rootlessport process: fork/exec /proc/167913/exe: permission denied

**Describe the results you expected:**

Something as in do

[2021-11-27 17:09] sebelk commented on #12426
Nevermind, the problem was using a privileged port (80).

[2021-11-27 17:09] #12426 closed

[2021-11-27 20:56] sebelk opened #12427 "Permission denied to volume directory in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container exists immediately because of entrypoint command exits due permissions/ownership(?) issues.

**Steps to reproduce the issue:**

1. `podman run --rm -p 4100:4100  -v $PWD:/src registry.gitlab.com/mpolitze/backslide-docker:latest serve -s -p 4100`

**Describe the results you received:

[2021-11-27 20:59] sebelk opened #12428 "Permission denied to volume directory in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container exists immediately because of entrypoint command exits due permissions/ownership(?) issues.

**Steps to reproduce the issue:**

1. `podman run --rm -p 4100:4100  -v $PWD:/src registry.gitlab.com/mpolitze/backslide-docker:latest serve -s -p 4100`

**Describe the results you received:

[2021-11-28 18:52] pratikmallya opened #12432 "Unable to connect to remote vm with podman: ssh: rejected: connect failed (open failed)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm unable to connect to a linux vm from podman on a mac.

**Steps to reproduce the issue:**

1. Get a VM on OCI. I got the free tier with the following "shape" and `Oracle-Linux-8.4-aarch64-2021.10.25-0`:

|Type                    |Value               |
|------------------------|------------

[2021-11-29 02:02] Romain-Geissler-1A opened #12434 "Allow users to customize storage.conf with a storage.conf.d folder ?"
/kind feature

**Description**

Hi,

When testing a scenario of podman inside docker, I ended up needing to change the storage driver to either using vfs, either using overlays with mount_program. In both cases, I need to update the existing file /etc/containers/storage.conf, which (with Fedora at least) seems to be packaged in the "podman" package. Changing a packaged config file is usually not a

[2021-11-29 04:53] IvantheDugtrio commented on #9619
Can confirm I'm getting the same issue pulling containers from docker.io. Using podman 3.2.1 on Ubuntu 21.10, installed from apt.
`podman pull docker.io/library/grafana/grafana:5.4.3
Trying to pull docker.io/library/grafana/grafana:5.4.3...
Error: Error initializing source docker://library/grafana/grafana:5.4.3: Error reading manifest 5.4.3 in docker.io/library/grafana/grafana: errors:
denied: req

[2021-11-29 05:31] IvantheDugtrio commented on #9619
Nevermind I incorrectly assumed the address for all dockerhub projects had to be docker.io/library/USERNAME/REPO:VERSION.
using docker.io/grafana/grafana:latest worked as expected.

[2021-11-29 05:49] runiq commented on #10090
I hope I'll be able to try this today at work.

[2021-11-29 07:03] PavelSosin-320 commented on #12264
Indeed, in the Workstation I can have 1 Terminal application running with several tabs connected to the different sessions of different users. su -p helps to navigate between sessions and tabs. su is out of the sync with systemd-logind! Then, I'm userid 100 but my XDG_RUNTIME_DIR is /run/user/1001/. This is exactly as in Windows.

Since sessions are controlled by systemd the User object looks more

[2021-11-29 07:16] n1hility commented on #11462
@rhatdan IMO we should support both. We should listen on a generated sock in data, and also optionally link the docker API locations. This would support both the case of a podman exclusive system and one running both podman and docker desktop in the process of transition.

I am currently working on a win support PR, but next thing to look at was win proxy support via a mini gvproxy. As soon as I g

[2021-11-29 08:51] giuseppe commented on #12434
I think this is a packaging problem.  We need to ship `storage.conf` under `/usr/share/containers/` so that `/etc/containers/storage.conf` can be modified freely.

@lsm5 PTAL

[2021-11-29 08:52] giuseppe commented on #12427
closed as dup of #12428

[2021-11-29 08:55] giuseppe commented on #12428
it could be SELinux to block access to the current directory.

Can you try disabling temporarily selinux (`setenforce 0`) and try again?

If that is the case, you might need to relabel the current directory (`-v $PWD:/src:Z`), or disable selinux for the container:

[code]

[2021-11-29 09:00] #12427 closed

[2021-11-29 09:28] giuseppe commented on #12424
`DynamicUser=1` doesn't create a systemd session for the ephemeral user, so there are some limitations even if we manage to get it running.

Since you are running with a single ID, you will at least need `--storage-opt overlay.ignore_chown_errors=true`.

The error you are seeing is because systems mounts the `WorkingDirectory` with `nosuid`:

The issue you are seeing though seems to be caused by `

[2021-11-29 09:28] #12424 closed

[2021-11-29 09:30] giuseppe commented on #12422
can you share the output of `cat /proc/self/mountinfo` ?

[2021-11-29 09:40] flouthoc commented on #12417
@pkliczewski SGTM,  I  think we would need another pod **field** in podman. As right now it shows if a `pod` is `Running, Created, Exited, Stopped, Dead` there is no **Ready** field like `kubernetes`.

This is a fair request I agree if `n/n` containers are ready in theory application should work.

[2021-11-29 11:14] #12420 closed

[2021-11-29 13:10] edsantiago opened #12436 "$GLOBAL_OPTS runlabel is not implemented"
`$GLOBAL_OPTS` was added in #2905. Only one month later it got broken, and the test was "temporarily" disabled in #3328:
[code]
Obviously nobody has used this feature since June 2019. It might not be important enough to reimplement. If so, it should be removed from the code and documentation.

Possible reproducer:
[code]
(I may have the number of backslashes wrong in the line above. It's impossibl

[2021-11-29 13:31] edsantiago commented on #10825
My cirrus flake logs show no further instances of this since the 10-18 one. Closing; I'll reopen if it becomes a problem again.

[2021-11-29 13:43] edsantiago commented on #12087
No activity on the [reference issue](https://gitlab.com/cki-project/kernel-tests/-/issues/799). No instances in my cirrus flake archive. Closing on the assumption that this was a misconfiguration or transient error.

[2021-11-29 13:43] #12087 closed

[2021-11-29 14:13] oskgu360 opened #12437 "Container restore fails on Debian 11 server after reboot: can't write lsm profile -2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ```
     podman create --name nginx --net host docker.io/library/nginx
     podman start nginx
     podman container checkpoint --all --tcp-established
[code]

**Describe the results you received:**
Command hangs and timeouts with error: Error: container

[2021-11-29 14:29] cryobry opened #12438 "Remove multi-user.target from all systemd units"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Remove multi-user.target from `podman generate systemd` output. This will prevent the following error in `systemctl --user` mode: `Unit /home/user/.config/systemd/user/container-name.service is added as a dependency to a non-existent unit multi-user.target.`

**Steps to reproduce the issue:**

[2021-11-29 14:31] mheon commented on #12438
@vrothberg PTAL

[2021-11-29 14:36] mheon commented on #12410
If you're willing to do the c/common backports, sure.

[2021-11-29 14:42] vrothberg commented on #12438
@cryobry which system are you running on?  Can you share the output of `podman system info`?

[2021-11-29 14:43] mheon commented on #12437
@adrianreber PTAL.

[2021-11-29 14:46] mheon commented on #12417
This doesn't sound like a pod state to me - possibly a bool in `podman pod inspect` that states if the probes are healthy (`Ready: true` or `Ready: false`).

[2021-11-29 14:48] cryobry commented on #12438
[code]

[2021-11-29 14:49] mheon commented on #12428
I imagine you're running Docker as root, and not rootless, which is probably why it succeeds?

Have you read https://www.redhat.com/sysadmin/debug-rootless-podman-mounted-volumes

[2021-11-29 14:56] flouthoc commented on #12417
@mheon Yes I intended the same a new field other than `pod state`. I guess it was not clear enough.

[2021-11-29 15:01] mheon commented on #12423
@edsantiago Is this an exec flake we've seen before?

[2021-11-29 15:03] mheon commented on #12421
Can you include a `podman inspect` of a container using the volume? If it's mounted by path, I would expect that SELinux could be a problem.

[2021-11-29 15:04] adrianreber commented on #12437
Unfortunately I myself know next to nothing about AppArmor and I know that we have no one working upstream CRIU on it. I did all the changes in CRIU for SELinux but we have AppArmor even disabled on our CRIU CI systems. There used to be AppArmor support in CRIU in 2015 for LXC/LXD but since then no one really made sure it works.

Unfortunately I can only suggest to disable AppArmor or to use SELin

[2021-11-29 15:11] edsantiago commented on #12423
@mheon we have rather a lot of `exec` flakes (#10927, #10825) but `cirrus-flake-grep` finds no hits for "exec failed:.*ptmx" nor "exec failed:.*operation not permit". I don't keep logs for RHEL flakes, though.

[2021-11-29 15:13] rhatdan commented on #12339
@mheon @Luap99 @vrothberg Thoughts?

[2021-11-29 15:15] mheon commented on #4217
Concur with this being a separate issue. We have no intention of fixing this for the Podman CLI. For the Docker-compat remote API, which did not exist when this issue was originally created, we have a stronger compatibility guarantee, so we'll have to fix it there.

I will note that this is not the only thing preventing Compose v2.0 from working (there were a rash of changes to how images were bui

[2021-11-29 15:19] rhatdan commented on #12056
@ashley-cui Do you have access to a Windows box to see what is going on here?

[2021-11-29 15:20] mheon commented on #12339
We need more data to debug. An `strace` including crun + conmon (the provided `strace` does not use `-f` so it doesn't follow forks - it's not useful given that). Something is going wrong in either Conmon, as it tries to start the runtime, or `crun` as it starts the container. @giuseppe Is there a way to enable verbose debugging of crun? That could help as well.

[2021-11-29 15:28] edsantiago opened #12441 "Bindings: remove(nonexistent) does not return response code"
Discovered via lint. The `images_test.go:It("remove image")` test was a NOP. Fixing it resulted in:
[code]
On a similar vein, in the same test:
[code]

[2021-11-29 16:33] vrothberg commented on #6160
No. Please let me know if this has priority and I will tackle it.  Otherwise, my pipeline is very long.

[2021-11-29 16:53] ypconstante commented on #12421
I generated this two log files with some commands to compare the two executions.
The volume inspection has the same output for both tools.
When inspecting the containers, I saw that with docker-compose the volume has the RW flag as false, which seems to be the cause of the error I got.

[podman.log](https://github.com/containers/podman/files/7619707/podman.log)
[docker.log](https://github.com/cont

[2021-11-29 17:54] rhatdan commented on #6160
@flouthoc Something you are interested in looking at?

[2021-11-29 18:00] debarshiray opened #12442 "Unable to enter Toolbx container when in /run/media/$USER"
/kind bug

**Description**

When a removable storage device is plugged in, that shows up at `/run/media/$USER` on the host, running `toolbox enter` fails (because `podman exec` fails) if the current working directory on the host is also under `/run/media/$USER`.

Some details about the USB stick mount:
[code]

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`podm

[2021-11-29 18:45] sebelk commented on #12428
Thanks. I'was considering SELinux, but I think some denials don't were shown until I run `semodule -DB`.
After that, I've created and  intstalled a couple of SElinux modules and now it worked :)

[2021-11-29 18:45] #12428 closed

[2021-11-29 18:58] rhatdan commented on #12442
There are a couple of SELinux issues in here.  But even if  you run in --privileged mode, you are going to have problems.
[code]
It looks like /run/media/dwalsh is now owned by dwalsh, and I think this is causing the container to fail.
Why do you want the workdir to be there?

@giuseppe is this something that the container runtime is complaining about?

[2021-11-29 18:59] rhatdan commented on #12442
If I don't set Workdir to that directory everything seems to be fine.

[2021-11-29 19:15] flouthoc commented on #6160
@rhatdan On revisiting thread and in the light of this comment. I think we already implemented `liveness` probe (https://github.com/containers/podman/pull/10956) and the whole idea of multi-container approach goes along with the design of `Pods`. Therefore I think we should invest time in hardening `liveness` and `readiness` probes for `pods` which is exactly for these use-cases.

@jritter You cou

[2021-11-29 19:48] protosam commented on #8016
Stumbled upon this and I'm very interested in checking out that qemu patch for p9 support. For podman volumes I have been testing out using `github.com/pkg/sftp` to dynamically present paths in the fuse mount point. So no need for multiple connections, managing mounts, or anything crazy.

However I really want p9 support in qemu, because I have been looking for a way to also do something similar t

[2021-11-29 20:06] mheon commented on #6160
I don't see how this is any different from "improving liveness probes". This is improving healthchecks to integrate much more closely with systemd units (and systemd's much better dependency management. I still see a lot of value here.

[2021-11-29 20:12] rhatdan commented on #12432
@jwhonce PTAL

[2021-11-29 20:16] rhatdan commented on #12434
I agree we need to move to shiping /usr/share/containers/storage.conf

[2021-11-29 20:16] rhatdan commented on #12434
storage.conf does not inherit fields from other storage.conf files, so making a /etc/containers/storage.d directory makes no sense.

[2021-11-29 20:30] rhatdan commented on #12434
containers-common-1-36.fc36 now has /usr/share/containers/storage.conf and only ghosts /etc/containers/storage.conf.
I think we will need a change to podman info now.

[2021-11-29 20:30] #12434 closed

[2021-11-29 21:02] rhatdan commented on #12436
GLOBAL_OPTS only works with podman runlabel not with podman build?

[2021-11-29 21:05] rhatdan commented on #12428
Could you please show the SELinux allow rules you added? Or better yet show the AVCs.

ausearch -m avc

With --security-opt label=disabled, you should not need to add any rules.

[2021-11-29 21:06] rhatdan commented on #12428
$ podman run --rm -p 4100:4100 --security-opt label=disable -v $PWD:/src:`Z` registry.gitlab.com/mpolitze/backslide-docker:latest serve -s -p 4100
Might have worked if $PWD was private to the container.

[2021-11-29 21:07] rhatdan commented on #12417
@umohnani8 FYI

[2021-11-29 21:09] rhatdan commented on #12417
If Podman play kube launched a pod that required another pod to be ready, would it wait for the readiness probe to complete?

[2021-11-29 21:10] #12419 closed

[2021-11-29 21:12] rhatdan commented on #12441
@baude PTAL

[2021-11-29 21:38] #12392 closed

[2021-11-29 21:46] rhatdan commented on #11695
@Luap99 friendly ping.

[2021-11-29 21:48] rhatdan commented on #11088
@zvonkok @elezar what is up with this issue?

[2021-11-29 21:48] rhatdan commented on #10373
This is being worked on and can be followed in github.com/containers/netavark.

[2021-11-29 22:02] rhatdan commented on #12076
Would it just make sense to have podman system reset do a
systemctl try-restart podman.service
or systemctl --user try-restart podman.service

[2021-11-29 22:03] rhatdan commented on #12076
@cdoern would you like to take a look.

[2021-11-29 22:05] rhatdan commented on #11458
This is being worked on .

[2021-11-29 22:06] rhatdan commented on #11903
@kbul is this still broken?

[2021-11-29 22:11] rhatdan commented on #11584
Could you try ?
[code]
Which is what I see.

[2021-11-29 22:24] rhatdan commented on #11688
--mount is the only answer for now.

[2021-11-29 22:24] #11688 closed

[2021-11-30 00:00] slvr32 commented on #12422
Unfortunately for troubleshooting/analysis, I 'fixed' the broken stats (with some container stops/removals/creations) on the host that was showing the errors for now, so I'll see if I can find another host having podman stats issues.

[2021-11-30 05:14] psaini79 opened #12444 "Set --cpu-rt-runtime=950000 automatically at podman level on machine restart"
/kind feature

**Description**

Unable to find a  consistent way to specify the CPU real-time at podman level as podman is not a daemon. For e.g. in docker we were able to set at following at the docker daemon level:

`--cpu-rt-runtime=950000`

However, in Podman there is no way and because of this, we are unable to set CPU RT runtime at Podman level.

**Describe the results you received:**

Conta

[2021-11-30 07:43] ydayagi opened #12446 "podman play kube support for secrets"
/kind feature

**Description**

support secrets in podman play kube. We know that podman already supports some form of secrets. Our goal is to use podman play kube for creating the secrets and the pods (with references to the secrets) just as we do in k8s. Will podman support that? Can my team add this support?

[2021-11-30 08:17] pkliczewski commented on #12417
It depends whether the readiness probe is used by podman or by a pod waiting on required dependency. I think it should be the latter.

[2021-11-30 09:04] flouthoc commented on #6160
@mheon makes sense my intention was to only point towards the problem statement described in the original issue where application itself is not aware of the `systemd` example here a `webserver api` and `a database`.

But sure I agree RFE seems useful where system is already being orchestrated using `systemd`.

[2021-11-30 09:17] giuseppe commented on #12442
yes.  That error is coming from crun (and looking at it, I think it should be made clearer).

I am not sure though it is an issue in the OCI runtime.  The OCI runtime MUST perform a `chdir`, we cannot avoid it.  Otherwise, the current working directory will be still set to whatever it was before joining the mount namespace.

Does it work if you create the container with `--security-opt label=disab

[2021-11-30 09:43] giuseppe commented on #12444
this affects every cgroup under `/sys/fs/cgroup/cpu,cpuacct/machine.slice` so not only Podman containers.

For this reason, I don't think Podman should touch it.

Would it be cleaner if the ` /bin/echo 950000 > /sys/fs/cgroup/cpu,cpuacct/machine.slice/cpu.rt_runtime_us` command is moved to a systemd oneshot service on its own and add a dependency to it?

[2021-11-30 09:44] #12402 closed

[2021-11-30 10:02] vrothberg commented on #12410
https://github.com/containers/common/pull/840

[2021-11-30 10:06] kbul commented on #11903
Good day @rhatdan,
Unfortunately the problem remains unchanged even though there was two updates in fedora repository since then.
Regards.

[2021-11-30 10:30] vrothberg commented on #12438
Thanks!

Looks like `multi-user.target` has been removed from Fedora.  It also impact the systemd files we ship via the package (e.g., `podman.service`, `podman-auto-update.service`, etc.).

I'll prepare a fix.

[2021-11-30 10:38] giuseppe commented on #12442
PR to make the error clearer: https://github.com/containers/crun/pull/792

[2021-11-30 10:49] elezar commented on #11088
The tooling to generate a CDI spec for installed NVIDIA devices is available in an MR. We have not been able to move forward on testing the podman CDI integration though. Is there someone that we could work with directly to start moving forward on this?

[2021-11-30 11:00] rhatdan commented on #12422
Ok reopen when you have another issue.

[2021-11-30 11:24] rhatdan commented on #12446
We have looked into this in the past, and have a hard time translating the two concepts, but I would be very interested in revisiting this.  @vrothberg @ashley-cui WDYT?

[2021-11-30 11:31] rst0git commented on #12437
[code]

@adrianreber It looks like Apparmor is disabled

[2021-11-30 11:49] rhatdan commented on #12444
This seems like a system configuration issue, not a Podman issue. I am going to close, but we can continue the conversation here.

[2021-11-30 11:49] #12444 closed

[2021-11-30 12:04] rhatdan commented on #11903
@Luap99 any more thoughts?

[2021-11-30 12:07] rst0git commented on #12437
Hi @oskgu360, I was not able to replicate this problem on the following configuration:
[code]
[code]
I used the following steps to create, checkpoint and restore nginx container:
[code]

[2021-11-30 12:08] rhatdan commented on #12442
What I find that is strange is if I remove the --workdir and just run a shell, then I can simply chdir /run/media/$USER and I get no error.

[2021-11-30 12:09] rhatdan commented on #11088
You want someone from the Podman team?

[2021-11-30 12:39] vrothberg commented on #12446
Closing this issue as it's a duplicate of https://github.com/containers/podman/issues/10105#issuecomment-958936019, let's continue over there.

[2021-11-30 12:39] #12446 closed

[2021-11-30 12:41] vrothberg commented on #10105
Continuing the conversation from https://github.com/containers/podman/issues/12446 here:

Please refer to an earlier comment above: https://github.com/containers/podman/issues/10105#issuecomment-859887828

tl;dr

[2021-11-30 13:22] kbul commented on #11903
Recently we were discussing an option in which /etc/hosts entries changed. Would it work if i add those entries manually and restart the container?

[2021-11-30 13:52] vrothberg commented on #12410
Here's the backport to v3.4 -> https://github.com/containers/podman/pull/12451

[2021-11-30 14:15] leahneukirchen opened #12452 "Docker incompatibility: ContainerTop ps_args is not split on whitespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman and Docker differ in the interpretation of `ps_args` for the ContainerTop call, and in the behavior of the "docker top" arguments.

In particular, Podman CLI replaces all spaces in `ps_args` with `,`, breaking some calls.

Podman legacy API passes `ps_args` as a single argument. Docker

[2021-11-30 14:23] vrothberg commented on #12452
Thanks for reaching out, @leahneukirchen.

Out of curiosity. What do you refer to with "Podman legacy API"?

[2021-11-30 14:50] m-kn opened #12453 "Listing images via Docker-compatible REST API returns 500 on Fedora 34"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

I'm using testcontainers to start a localstack container to run some integration tests which involve some AWS services. afaik testcontainers doesn't intend to [support podman](https://github.com/testcontainers/testcontainers-java/issues/2088), so a fallback to the [Docker-compatible API ](https://podman.io/blogs/2020/07/01/r

[2021-11-30 15:30] #12320 closed

[2021-11-30 15:34] cevich commented on #10817
***Update***:  This problem has been observed recently in F35 as well.  Though the ultimate cause is unknown at this time, the trouble comes from the same mechanism: Wrong SELinux type labels set on `$HOME/.local/share/containers/storage/overlay*` (or $HOME/.local/share/containers in general).  Generally speaking, the `overlay*` sub-directories should be labeled with the `container_ro_file_t` type

[2021-11-30 15:38] stac47 commented on #12392
Sorry for the delay. I just tested the PR and it works as expected. Thanks very much.

[2021-11-30 15:56] kishorekkota commented on #11340
Do i need to do this on local MacOS or does this need to be run in PODMAN MACHINE itself. I see PODMAN MACHINE running as a linux container which delegates / executes all the command issued on the local machine ( MacOS in my case ). I am a bit confused on architecture. Is there documentation with visuals to help understand the architecture ?

[2021-11-30 16:09] #12438 closed

[2021-11-30 16:50] Luap99 commented on #11340
@kishorekkota The config change should be done in the VM, for the podman commands it should not matter.

This blog might help you to understand the architecture: https://www.redhat.com/sysadmin/podman-mac-machine-architecture

[2021-11-30 17:39] rhatdan commented on #11041
Did you do the system migrate?

[2021-11-30 17:47] rhatdan commented on #11903
Try it out, that should help.

[2021-11-30 17:51] Hoeze commented on #11041
@rhatdan Yes I ran `podman system migrate` (now with podman v3.3.1), but I still get the same error:
[code]

As I said, we do not want to setup subuid-ranges for every user (shared filesystem, many hosts, ...).
Instead we need to keep the current uid's.

[2021-11-30 18:26] rhatdan commented on #10817
This seems to be happening when containers-selinux package is updating, something is failing.  Container-selinux is supposed to fix the labels in the homedir.

[2021-11-30 18:28] DazWilkin opened #12456 "`podman push` doesn't error with non-existent Google Artifact Registry repo"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman push` apparently does not fail when pushing images to non-existent [Google Artifact Registry (GAR)](https://cloud.google.com/artifact-registry) repos. The command fails (correctly) when `push`'ing to non-existent [Google Container Registry (GCR)](https://cloud.google.com/container-reg

[2021-11-30 18:29] #12415 closed

[2021-11-30 18:51] rhatdan commented on #11041
You run with a single UID, but not with more then one, unless you use /etc/subuid and /etc/subgid.
We should have support for these files being available over the network.

[2021-11-30 19:08] Hoeze commented on #11041
Yes, but why does Podman then try to setup `/proc/4024492/gid_map`?
There is no need to move into subuid/subgid ranges.

E.g. normally I have
[code]
I want to keep exactly those IDs.

[2021-11-30 19:12] edsantiago opened #12457 "podman-remote wait: fails with open /proc/PID/cgroup: ENOENT"
New podman-remote flake:
[code]
### [sys] 166 podman export, alter tarball, re-import
* fedora-34 : sys remote fedora-34 root host [remote]
  * PR #12454
    * [11-30 13:22](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6352096069943296/html/sys-remote-fedora-34-root-host.log.html#t--00166)
  * PR #12433
    * [11-29 11:09](https://storage.googleapis.

[2021-11-30 19:14] edsantiago commented on #12167
### podman system service verify pprof endpoints [It] are not available
* fedora-34 : int podman fedora-34 rootless host
  * PR #12235
    * [11-09 04:36](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6272633235832832/html/int-podman-fedora-34-rootless-host.log.html#t--are-not-available--1)
    * [11-09 04:36](https://storage.googleapis.com/cirrus-ci-

[2021-11-30 19:15] rhatdan commented on #11041
Does podman unshare fail?

[2021-11-30 19:18] edsantiago commented on #10927
### Podman exec [It] podman exec terminal doesn't hang
* ubuntu-2110 : int podman ubuntu-2110 root host
  * PR #12449
    * [11-30 09:31](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6554795440865280/html/int-podman-ubuntu-2110-root-host.log.html#t--podman-exec-terminal-doesn-t-hang--1)
    * [11-30 09:31](https://storage.googleapis.com/cirrus-ci-670

[2021-11-30 19:24] mauruco commented on #4454
I got it running with the --network flag.
podman run \
--network=host \
--name mysql \
--detach --interactive --tty \
-e MYSQL_ROOT_PASSWORD=my-secret-pw -d docker.io/mysql:5.7.31

[2021-11-30 19:26] cevich commented on #10817
IIRC from a BZ, the update scriptlet ignores errors.  There are also cases not covered (like a post-upgrade tar/backup resotre) or non-standard home directory locations.  In other words, the scriptlet probably helps, but the underlying environment is still not fully defined (or definable), so it's still possible to encounter this :cry:

[2021-11-30 19:26] Hoeze commented on #11041
Podman unshare works fine :)

[2021-11-30 19:34] rhatdan commented on #11041
How about if you don't use --userns=keep-id?  I think with this you would be required to have two UIDs root and your UID.

[2021-11-30 19:40] Hoeze commented on #11041
Now I get a new error:
[code]

[2021-11-30 19:53] cdoern commented on #12076
@rhatdan sure, I am in this region anyway with my `podman system setup` work

[2021-11-30 19:57] rhatdan commented on #11041
The which bash will run locally, do you have a $TMP/rootfs/usr/bin/bash?

[2021-11-30 20:04] Hoeze commented on #11041
No, there are only the following folders:
[code]

[2021-11-30 20:14] Luap99 commented on #12076
I still do not see why this is needed, `podman system prune` should work just fine.
Restarting the service via systemd will not work when the user manually runs the service as it is the case in the original report.

[2021-11-30 20:14] rhatdan commented on #11041
Then it will never work, there is nothing to run there.  You need to add a /bin directory or /usr/bin.

[2021-11-30 20:29] Hoeze commented on #11041
I see, getting closer now:
[code]
Why does the bash shell close immediately?
Running `podman run [...] $(which bash) -c "echo 'test'"` does not return anything as well.

[2021-11-30 20:38] rhatdan commented on #11041
Add a --tty
Also you probably need to disable SELinux --security-opt label=disable

[2021-11-30 20:38] #11041 closed

[2021-11-30 20:39] rhatdan commented on #11041
We can continue the conversation here, but this is not an issue with Podman.

[2021-11-30 20:42] rhatdan commented on #12076
If I have a long running service waiting for a connection, ( I think we run for 5 minutes) then someone does podman system reset, connections to the service will fail until the service stops.  Stopping the service ourselves fixes that problem.
I agree if a user runs a service themselves, then it is there problem.

[2021-11-30 21:45] edsantiago commented on #12457
One more:

### Podman run [It] using journald for container with container log_tag
* ubuntu-2110 : int remote ubuntu-2110 root host [remote]
  * PR #12403
    * [11-24 09:45](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4922925737312256/html/int-remote-ubuntu-2110-root-host.log.html#t--using-journald-for-container-with-container-log_tag--1)

[2021-11-30 22:11] edsantiago opened #12459 "podman network rm: ... cni plugin bridge failed"
Old flake that I'm only just now categorizing:
[code]
This is another one of those that flake in multiple different tests, making it very hard to isolate:

### Podman run networking [It] podman run check dnsname plugin
* fedora-33 : int podman fedora-33 rootless host
  * PR #12227
    * [11-09 10:46](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/60972

[2021-11-30 22:34] edsantiago commented on #10927
Fresh one in [ubuntu 2110 root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6528163959275520/html/int-podman-ubuntu-2110-root-host.log.html). Curious thing: once it happens one time, it seems to happen on a bunch more tests afterward.

[2021-12-01 01:45] tigris commented on #12379
Not sure if I'm seeing the same or similar problem. I also had `coreutils` installed and setup in a way that every GNU tool from homebrew would be found first in my path, including but not limited to `dd`. I switched back to a more stock path to test.

[code]

[code]

[2021-12-01 05:41] fingon commented on #11541
This is still an issue, an example from a podman machine started early yesterday:

[code]

Funnily enough even the 'RTC' is lagging but not as much as the system time. systemd's ntp thing is clearly not working, I'm not sure why (it is supposed to have sane defaults, and running ntpdate inside container works, but cannot set time due to permissions I guess).

[2021-12-01 06:23] jritter commented on #6160
Thanks @flouthoc for pointing out the Pod lveness / readiness probe feature, I'll definitely have a look at this! I agree though with @mheon , in some cases not everything is "containerized" and, and the startup order of components should be orchestrated. I had such a usecase where periodic retries are just not an option (customer facing information kiosk), and I had to do some tedious plumbing to

[2021-12-01 06:40] ivansmm opened #12461 "Error with symlinked /etc/resolv.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When container is run on debian unstable (bookworm) on which /etc/resolv.conf is a symlink to /etc/resolvconf/run/resolv.conf, container startup fails.

**Steps to reproduce the issue:**

1. podman network create tstnet

2. podman pod create --name tst --hostname tst --network tstnet --publis

[2021-12-01 09:00] Luap99 commented on #12461
Can you provide the output of `podman --log-level debug unshare --rootless-cni ls -l /etc/resolv.conf`

[2021-12-01 09:20] Luap99 commented on #12461
Ok that looks good, can you show `podman unshare --rootless-cni mount` and `podman unshare --rootless-cni cat /etc/resolv.conf`
Is ` /etc/resolvconf/run/resolv.conf` or maybe the directory above another symlink?

[2021-12-01 09:29] ivansmm commented on #12461
[code]
[code]
/etc/resolvconf/run/resolv.conf is a regular file. Actually I was copying it to /etc/resolv.conf with cp when testing.

[2021-12-01 09:31] Luap99 commented on #12461
But maybe `/etc/resolvconf/run` or `/etc/resolvconf` is a symlink?

[2021-12-01 09:32] Geek-sky commented on #11584
Hi @rhatdan

[code]

[2021-12-01 10:09] ivansmm commented on #12461
Yes, /etc/resolvconf/run is a symlink to /run/resolvconf

[2021-12-01 10:39] mazzy89 commented on #6160
Just to understand guys. I have the following systemd unit service

[code]

When unhealthy it does not restart automatically. so it remains unhealthy. is it the exact issue here?

[2021-12-01 12:44] giuseppe commented on #12457
PR here: container, cgroup: detect pid termination #12464

[2021-12-01 12:54] Luap99 commented on #12461
If you symlink `/etc/resolv.conf` directly to `/run/resolvconf/resolv.conf` it should also work.

I see the problem, I will try to fix it later this week.

[2021-12-01 12:58] Luap99 commented on #12459
PR https://github.com/containers/podman/pull/12348 should have fixed the `error getting rootless network namespace: failed to Statfs \\\"/run/user/9228/netns/rootless-netns\\\": no such file or directory` problem. Given that almost all logs are from before that PR I think it helped but there still seems to be a small corner case where it can fail.

[2021-12-01 13:01] Luap99 commented on #12459
I think I can fix it by ignoring the ENOENT error on teardown. If the namespace file does not exists there is no reason to teardown.

[2021-12-01 13:03] ivansmm commented on #12461
Thanks! With direct symlink you suggested it works.

[2021-12-01 13:03] edsantiago commented on #12459
There is (a corner case). The reason I took the time to file this is because I saw it [on my own PR the other day](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4708385208664064/html/int-podman-ubuntu-2110-rootless-host.log.html#t--podman-run-check-dnsname-plugin--1) (Nov 29) (and yes, I was fully rebased). I didn't realize that the earlier instances

[2021-12-01 13:22] Luap99 commented on #12459
Actually no my assumption is wrong, ignoring ENOENT is a bad idea.

The problem is that the rootless netns operations are locked. So if two container are stopped at the same time one needs to wait for the other. After the first container is done it will call cleanup to make sure we are not leaking the netns if no containers are running. This is a simple is running check and it will return true bec

[2021-12-01 14:20] 2xB commented on #12353
@mheon Tried it on Podman 3.4.2 (its Manjaro package was updated). Same issue as before, only after removing the ghost container with `podman rm` and calling `podman rmi` to remove the image again, which resulted in:
[code]
So it works after removing the container, but it writes the same error message it would write if the container was there after successfully deleting the image.

[2021-12-01 14:22] 2xB commented on #12353
If there's any test I could perform to provide more information to fix this, I'd be very interested in doing so!

[2021-12-01 14:22] mheon commented on #12421
Potentially a volume option issue in the Docker API, then.

[2021-12-01 14:28] mheon commented on #12421
@jwhonce I think API logs would help here. Is your improved API logging at trace level, or debug level?

[2021-12-01 15:23] vrothberg commented on #9957
Ping @jwhonce @baude @rhatdan.  Shall we tackle that before 4.0?

[2021-12-01 16:10] rhatdan commented on #11584
I have no idea why it is crashing.  Is there anything in the log files inside of the container?

[2021-12-01 16:26] drpebcak commented on #11397
This would be really nice to have!

[2021-12-01 16:37] Hello71 opened #12467 "graphroot and runroot default to current directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If storage.conf exists but does not contain graphroot or runroot, they will be saved in the database as "." in the first podman invocation, and further invocations will use the current directory for storage.

**Steps to reproduce the issue:**

1. Delete all podman storage.

2. Create storage.

[2021-12-01 17:19] #12452 closed

[2021-12-01 17:25] leahneukirchen opened #12468 "Docker incompatbility: status message on streamed push"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Different status string formatting for the compat API than in Docker.

**Steps to reproduce the issue:**

When using the compat API to push an image, podman responds with a status like this:
[code]

However, Docker responds with
[code]

This caused a bug in production software that assumed `s

[2021-12-01 17:58] rhatdan commented on #11541
Run it privileged, and it should work.

[2021-12-01 18:10] rhatdan commented on #12468
This seems like a legitimate bug.

[2021-12-01 19:59] #12457 closed

[2021-12-01 20:12] rhatdan commented on #9957
Yes.

[2021-12-01 20:13] rhatdan commented on #9957
Well it should be fixed in 4.0

[2021-12-01 20:34] rhatdan commented on #11397
Agreed.

[2021-12-01 20:58] DesantBucie commented on #12379
No it probably won't as I think nix installs coreutils as a dependency.

[2021-12-01 21:59] sebhoss opened #12473 "authentication file sometimes required"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Commands like `podman pull`, `podman run`, and possibly others require authentication file, but `podman build` does not.

**Steps to reproduce the issue:**

1. Run `podman pull fedora:latest` without an authentication file
2. See error message `Error: stat /var/home/seb/.config/docker/config.

[2021-12-02 00:25] acdha commented on #11541
I just ran into this and strongly suspect it's related to system sleep events, which should be easier to trigger at wake in the VM, since the clock hardware on the host has very low drift and I saw a ~3.5 hour lag in the last 6 wall-clock hours.

One factor which is almost certainly exacerbating this: I'm on a network which firewalls arbitrary NTP and podman does not pass through the host's NTP `/

[2021-12-02 00:35] jawnsy opened #12475 "docker-compose-like syntax for podman play kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Users frequently want a simplified way to develop applications consisting of multiple services. For applications deployed into Kubernetes, users frequently use tools like kind, k3d, or minikube, to create a Kubernetes cluster into which to deploy their application. These tools introduce a

[2021-12-02 00:40] jawnsy opened #12476 "docker-compose support for podman play"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Many users use docker-compose for building applications consisting of multiple containers. While `podman play kube` can do the same things, it requires users to first convert their files over to Kubernetes deployment syntax.

A tool like `kompose` is helpful for converting the docker-comp

[2021-12-02 01:36] rugk opened #12477 "Array-like --entrypoint [ "cmd" ] syntax not supported in podman run (in systemd file), but supported in podman create (via podman-compose)?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Starting my

**Steps to reproduce the issue:**
I used podman-compose to create podman containers/a pod.

The thing is, with podman-compose everything starts fine, but as soon as I use `podman` to generate systemd units out of it and start it as rootless (i.e. `--user` ) services, it fails.

S

[2021-12-02 02:33] protosam commented on #8016
I think for this to be viable, permissions need to work in a predictable way.

In testing the patch for MacOS and it doesn't seem that the `mapped-xattr` or `mapped-file` values for `security_model` work. Has anyone else tested this out?

[2021-12-02 02:45] josh-coderpad commented on #12379
Removing `/opt/homebrew/opt/coreutils/libexec/gnubin` from my `$PATH` (then a `podman machine rm` first) fixes the issue with `podman machine init` for me.

[2021-12-02 05:53] wdouglascampbell opened #12479 "Containers no longer add to log after being restarted"
/kind bug

**Description**

Any new containers I create logging only works until I restart the container.  At that point no logs appear anymore.

**Steps to reproduce the issue:**

1.  podman pull hello-world

2.  podman create --name hello-world hello-world

3.  podman logs hello-world

4.  podman restart hello-world

5.  podman logs hello-world

**Describe the results you received:**

After step

[2021-12-02 07:43] wdouglascampbell commented on #12479
I downgraded Fedora CoreOS to the previous version (34.20211031.3.0) and now I get the expected results with the logs.

I then go ahead and upgrade back to the latest Fedora CoreOS and I can get the expected results for the containter I already created BUT if I recreate the container the problem returns.

I guess this means that perhaps podman isn't the issue but I am not sure where to report the

[2021-12-02 09:20] fingon commented on #11541
How? At least with podman machine, it does not apparently help.

[code]

[2021-12-02 09:30] #12409 closed

[2021-12-02 10:43] vrothberg commented on #12479
Thanks for reaching out!

This has been already been fixed in main with commit 63ef7135d957 (so I am closing). @nalind shall we backport your fixed to the v3.4 branch? I recall a number of improvements from you.

[2021-12-02 10:43] #12479 closed

[2021-12-02 10:50] KUGA2 commented on #12062
Hi, is there a new version out supporting this?
I just installed it on ubuntu 20.04 (with this [instructions](https://podman.io/getting-started/installation.html#linux-distributions)) and i got podman version 3.4.2.

[2021-12-02 10:54] vrothberg commented on #12477
Thanks for reaching out.  Can you share a reproducer that we can copy-paste one-by-one?

[2021-12-02 11:01] vrothberg commented on #12473
Thanks for reaching out.  Could you share the debug logs (i.e., via `podman --log-level=debug`)? What does `ls -la /var/home/seb/.config/docker/` return?

[2021-12-02 11:42] vrothberg commented on #12453
Thank you for taking the time to open the issue, @m-kn.

I can reproduce the bug which happens when there is a local manifest with no entry matching the current system.  I'll wrap up a fix.

[2021-12-02 11:43] flouthoc commented on #12467
@Hello71 Above PR should close this.

[2021-12-02 12:42] sebhoss commented on #12473
Yep sure, `podman pull` shows:

[code]

`podman run` looks similar:

[code]

`podman build` shows a little more and seems to handle missing credentials:

[code]

`ls -la /var/home/seb/.config/docker/` returns the following:

[code]

Not having a `~/.docker` folder might seem strange, but I do not need any kind of credentials on this machine because I only use public or local images. To work around

[2021-12-02 12:48] vrothberg commented on #12473
Is by any chance the `REGISTRY_AUTH_FILE` variable set on the buggy machine?

[2021-12-02 13:11] daviddavid opened #12481 "podman stop doesn't recognize "latest" flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to stop the latest container (`podman stop --latest`) results in a `Error: unknown flag: --latest`

**Steps to reproduce the issue:**

1. Run any(?) container, for example the httpd container from the tutorial:`podman run -dt -p 8080:80/tcp docker.io/library/httpd`

2. Try to stop it u

[2021-12-02 13:19] Luap99 commented on #12481
The latest flag does not work on the remote client, this is expected. see https://github.com/containers/podman/blob/main/docs/source/markdown/podman-stop.1.md#--latest--l

[2021-12-02 13:19] #12481 closed

[2021-12-02 13:36] rhatdan commented on #11786
@cdoern still working on this?

[2021-12-02 13:55] #12355 closed

[2021-12-02 13:59] rhatdan commented on #11541
It does require a rootfull containers.  Rootless users are not allowed to adjust machine time.

[2021-12-02 14:07] rhatdan commented on #12062
3.4.2 is the latest version.

[2021-12-02 14:23] sebhoss commented on #12473
Nope `env | grep REGISTRY_AUTH_FILE` returns nothing - however that actually showed me the problem!

Some time ago I followed https://wiki.archlinux.org/title/XDG_Base_Directory to move all dotfiles in my $HOME to their proper XDG paths. Since I'm managing my dotfiles across all machines (most of which have an authentication file), this resulted in me having a `DOCKER_CONFIG` env variable that poi

[2021-12-02 14:25] vrothberg commented on #12473
Great catch!  Indeed, Podman is also checking for DOCKER_CONFIG for compatibility reasons.

Thanks for reaching out, glad you're back into a working state.

[2021-12-02 14:25] #12473 closed

[2021-12-02 14:43] rhatdan commented on #12475
Please describe the syntax you would like?

[2021-12-02 14:43] rhatdan commented on #12475
Or better yet open a PR.

[2021-12-02 14:45] rhatdan commented on #12476
I am fine with this, if the community wants to take it on.  Since `docker compose` now exists, I would not be surprised if we are pushed to add support for this.

[2021-12-02 15:08] cdoern commented on #11786
yep @rhatdan I have a PR out for it, I will check back on it today

[2021-12-02 15:12] #12453 closed

[2021-12-02 16:13] BernhardPosselt opened #12485 "When using podman kube play, allow to specify Dockerfile/build folder location"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman play kube allows you to [build a container from a local container file](https://docs.podman.io/en/latest/markdown/podman-play-kube.1.html#description) by using a subdirectory as the image value.

This is fine if you set up a new project, but if you retroactively want to enable in y

[2021-12-02 16:25] jawnsy commented on #12475
@rhatdan Thanks for triaging! I'd be happy to open a PR, and we can do it in a compatible way by adding the commands alongside the existing ones, as an alias. Perhaps something like:

[code]

It may be preferable to maintain the current hierarchy, in which case we could do `podman play kube up` etc.

As a separate item (#12476), we could consider adding `podman play compose up` to run a docker-com

[2021-12-02 18:31] rhatdan commented on #12485
SGTM, But the Dockerfile and context directory are per image, I believe.  How should it be handled if there is more then one image?

[2021-12-02 18:31] rhatdan commented on #12485
@baude WDYT?

[2021-12-02 18:33] rhatdan commented on #12475
Yes I would prefer podman play kube up and podman play kube down.
Isn't docker-compose (2) now a separate package?  Could podman play compose just use that and exec the docker-compose package?

[2021-12-02 18:53] BernhardPosselt commented on #12485
Yep, they are per image. I'm currently trying to learn podman/k8s and migrate off Docker so I'm not 100% sure but the [yaml spec doesn't look like there can ever be more than 1 image per container](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#Container)

[2021-12-02 20:13] rhatdan commented on #12485
Right, but what if you have two containers in a Pod? Then  you would have two images to build potentially.

[2021-12-02 21:08] #12468 closed

[2021-12-02 21:33] #12467 closed

[2021-12-02 21:47] 2xB commented on #12353
Although ignored by `podman container prune`, using `podman system reset`, the containers are listed with `WARNING! The following external containers will be purged:`. Reading the source (https://github.com/containers/podman/blob/473f958e137eb9d8a3a3ef44cf3c17513243c18d/cmd/podman/system/reset.go), this means the ghost containers can be listed via
`registry.ContainerEngine().ContainerListExternal(

[2021-12-02 22:20] baude commented on #12485
yeah this gets kind of ugly quickly, which is why I asked @BernhardPosselt to make the issue.  could we allow the context dir to be set in addition to the subdir.  it would have to then be for all images.

the other idea i was chewing on is some sort of k8s annotations ... but we cannoot auto-gen those. it would all be manual.   k8s would ignore it

[2021-12-03 02:08] SadPencil commented on #5431
This issue is quite annoying because I can't do `dnf update` cause the firewalld service might get restarted and the issue happens.

I think there is a way to at least enable user to workaround this issue:
- Let user specify `slirp4netns` as the networking mode in root mode through the configuration file.

[2021-12-03 04:53] MagicTrevor opened #12492 "Trying to mount nfs share into rootless container for user-data"
I could use some guidance in regards to rootless podman and NFS shares to store user data only, not to run container images from.

I am probably grossly misunderstanding this, but I have an NFS share mounted in the host and am trying to mount that directory as a volume into a container and receive the following error:
`Error: lsetxattr /mnt/mynfs/: operation not supported`

`-v /mnt/mynfs:/path/in

[2021-12-03 08:19] ctron opened #12493 "Podman socket (user) not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman socket activation not working as advertised.

**Steps to reproduce the issue:**

1. Enable (--user) podman.socket

2. Try to connect

3. Doesn't work

**Describe the results you received:**

[code]

**Describe the results you expected:**

Works.

**Additional information you deem impor

[2021-12-03 08:37] aurany opened #12494 "Permission denied when signing image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I get this error message when i'm trying to push and sign an image. "Error: creating signature: Permission denied". Not sure if this is a "local" problem (like writing to wrong folders) or if it´s related to the repository.

**Steps to reproduce the issue:**

1. Login as rootless
2. podman pu

[2021-12-03 09:48] skorhone commented on #5431
One option would be that podman added direct support for firewalld. If
podman created firewalld service configuration files, firewalld reload
wouldn't cause any issues. This would work perfectly for those who use
podman for long running containers.

Upside of this solution would be that tools that are used for auditing
firewalld rules, would be able to get data for podman containers.

On Fri, Dec

[2021-12-03 10:53] mnsmithuk commented on #5431
Currently, for me the best solution has been to use the latest version of podman from the Kubic Project ( https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman) and when I restart or reload the  firewall I follow it with the command "/bin/podman network reload -a". Alternatively there is probably a way to automatically trigger the same command.  The "reload" argument  for

[2021-12-03 10:56] fingon opened #12495 "podman machine network connectivity stalls after some uptime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After some uptime of podman machine on MacOS 12, TCP outbound connectivity stops working. ICMP works, for some reason.

**Steps to reproduce the issue:**

1. Leave podman machine running

2. Day or two later, outbound TCP stops suddenly working; inbound works (e.g. `podman machine ssh`). The

[2021-12-03 13:41] rhatdan commented on #5431
There is a major rewrite of the podman network stack (called [netavark](https://github.com/containers/netavark)) going on now, which hopefully will address some of this.

[2021-12-03 13:54] #9181 closed

[2021-12-03 14:23] m-kn commented on #12453
Thx for the quick fix. I'll check it out as soon as it hits fedoras updates-testing repo.

[2021-12-03 14:32] BernhardPosselt commented on #12485
Wouldn't it be possible to attach that build information on the container level itself? Otherwise I actually wouldn't mind going for something like annotations that define per image where my Dockerfile and context directory are.

As for the use case: looked into it a bit more but then realized that I can't even move it around in the repository because I would break the deployment scripts (which I

[2021-12-03 14:58] luxifer commented on #12245
Hello, has this been released in the `3.4.2`?

[2021-12-03 15:56] xordspar0 commented on #9181
Woo, nice work @umohnani8! :tada: I look forward to seeing this in the next release!

[2021-12-03 16:04] rhatdan commented on #12161
Where do we stand on this issue?  Is it still a problem?
@ashley-cui @afbjorklund @carlos-algms WDYT?

[2021-12-03 16:12] ashley-cui commented on #12161
I don't think this is an issue that should be fixed on our end, its more of a homebrew install issue, and homebrew specifically states that some packages may break if not installed in their default location

[2021-12-03 16:40] afbjorklund commented on #12161
They forgot to patch the default config, with the current path to use.

[2021-12-03 16:47] afbjorklund commented on #12161
Back in the day we used `./configure`. Not sure what the new variant would be?

[2021-12-03 16:49] carlos-algms commented on #12161
I would say it is good for the community in general to have this fixed.
As it was pointed out, the paths are hardcoded and It would be great to have a dynamic check on the installation folder before giving up looking for executables.

I raised this ticket because if your computer is blocked by the company work, and you don't have admin/sudo rights, installing on a custom directory is the only opti

[2021-12-03 16:54] afbjorklund commented on #12161
You can provide your custom directory in configuration, if Homebrew doesn't want to fix their packaging

[2021-12-03 17:49] afbjorklund commented on #12161
I patched out all the hardcoded paths, but it seems like they were vendored from containers-common ?

[2021-12-03 18:20] #12393 closed

[2021-12-03 18:45] afbjorklund commented on #12161
Homebrew prefers to have their packages unpatched, so left all the unused paths in there.

/usr/local/opt/podman/libexec
/opt/homebrew/bin
/opt/homebrew/opt/podman/libexec
/usr/local/bin
**/usr/local/libexec/podman**
/usr/local/lib/podman
/usr/libexec/podman
/usr/lib/podman

[2021-12-03 18:48] rhatdan commented on #11766
@kinoher Do you still see this issue.  This seems to be a freaky incident which we can not reproduce.  Reopen if you got a reproducer.

[2021-12-03 18:48] #11766 closed

[2021-12-03 19:00] rhatdan commented on #11805
@cdoern PTAL

[2021-12-03 19:18] rhatdan commented on #10875
It seems that you could fairly easily script this with something like
[code]

[2021-12-03 19:19] rhatdan commented on #10875
Might be better to do this in language like python.

But doing this in Podman would probably be alright.

[2021-12-03 19:20] rhatdan commented on #10875
The real question would be whether or not to keep the existing data in the image,  which currently we do not. Only the volumes are preserved the container image is destroyed.

[2021-12-03 19:25] rhatdan commented on #12485
Currently we look for the subdirs with the image name.  We could point to a different directory, which also had the image named subdirs.  But that is not really what you want.

[2021-12-03 19:33] rhatdan commented on #12492
Don't add the :z.  NFS directories sometimes do not support XATTRs.  I think policy should allow this to work without the relabeling.  NFS does support XATTRs but you need to configure the client and server to make it work.

https://www.thegeeksearch.com/how-to-configure-selinux-labeled-nfs-exports/

[2021-12-03 19:33] rhatdan commented on #12492
Since this is not an issue, I am moving it to a discussion.

[2021-12-03 19:35] rhatdan commented on #12493
@vrothberg PTAL

[2021-12-03 19:36] rhatdan commented on #12494
@mtrmac PTAL

[2021-12-03 19:37] rhatdan commented on #12494
This might be podman image sign trying to write to a system directory?

[2021-12-03 19:38] rhatdan commented on #12495
Something with the proxy?
@baude PTAL

[2021-12-03 19:42] rhatdan commented on #12245
I doubt it, most likely will not be released until Podman 4.0

[2021-12-03 20:02] flouthoc commented on #12485
I am pretty sure kubernetes does not supports this but this could be a podman only [RFE].

Developers use tools like `skaffold` (https://skaffold.dev/docs/) as client instead of `kubectl` with `kubernetes` which performs building of images https://skaffold.dev/docs/pipeline-stages/builders/` locally.

If this is a podman only `RFE` then I'd agree with @baude pod annotations looks like a really goo

[2021-12-03 20:13] luxifer commented on #12245
This bug is actually boring because when we configure the infra image in containers.conf it's not taken into account :/

[2021-12-03 20:16] rhatdan commented on #12245
You could always attempt to setup a mirror for the image.

[2021-12-04 02:47] colorsakura commented on #3759
Error: unable to start container 95bfae788dd9dc358a9b0c1e7513c42cc39a7a040e7df75e8023bb7d9b74fe9d: error configuring network namespace for container 95bfae788dd9dc358a9b0c1e7513c42cc39a7a040e7df75e8023bb7d9b74fe9d: failed to allocate for range 0: 172.16.16.37 has been allocated to 95bfae788dd9dc358a9b0c1e7513c42cc39a7a040e7df75e8023bb7d9b74fe9d, duplicate allocation is not allowed

host:
  arch: a

[2021-12-04 10:42] sify21 opened #12504 "file permissions problem when bind mount a ntfs volume"
**Description**
I want to use `mysql` image, but I don't have much space left in my home dir. I have a data disk with ntfs filesystem, so I plan to store mysql data files in this disk and bind mount them to mysql container.

This data disk is mounted by `Thunar` (a file manager for xfce) at location `/run/media/sify/Elements SE`.  I just clicked it under the `Devices` section of `Thunar`.

By defa

[2021-12-04 10:48] Luap99 commented on #12495
It looks like dns stops working but the network itself is still working.
Can you check `/etc/resolv.conf` and test with `nslookup google.com`?

[2021-12-04 10:56] fingon commented on #12495
As described, DNS (=UDP) and ping work from the machine. Anything with TCP stalls.

[2021-12-04 10:57] fingon commented on #12495
In the example ftp.funet.fi dns resolution and ping work. Curl does not.

[2021-12-04 11:04] Luap99 commented on #12495
That definitely sounds like an issue with gvproxy. @guillaumerose PTAL

[2021-12-04 14:43] mtrmac commented on #12494
This is not writing/uploading signatures, this really is a failure _creating_ the signature. It looks like a failure somewhere in/below GPGMe . Running the command under `strace -ff`, or maybe using the `GPGME_DEBUG` variable might reveal more. (I didn’t try reproducing it now.)

Consider also contacting official RH support if you are a customer.

[2021-12-04 16:49] rhatdan commented on #12504
First is this an SELinux issue.  Have you tried this with SELinux disabled?

[2021-12-04 18:08] tdashton opened #12506 "Error: OCI runtime error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: requested action matches default action of filter"
I get the error "Error: OCI runtime error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: requested action matches default action of filter" upon trying to run any new containers.

Amusingly enough, I have running containers managed by systemctl and they seem fine.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its o

[2021-12-04 18:58] miladhub opened #12507 "allow_host_loopback=true does not work on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I cannot reach / ping / telnet the host from a container.

**Steps to reproduce the issue:**

1. Create a file named "foo" with contents "bar"

[code]

2. Create a web server on the folder

[code]

3. From another terminal tab, create a container with `slirp4netns:allow_host_loopback=true` fr

[2021-12-04 20:12] lukasbestle commented on #10875
I don't fully understand the internal workings of the container images, so pardon the question: What makes up the data of an image? The options that were passed during creation like ports to publish, name, memory limit etc.?

[2021-12-04 21:17] tdashton commented on #7415
@ericzolf did you solve this issue? I am having the same problem. I noticed the following behavior: (I also cannot connect to any podman ipv6 fowrwarded ports) and believe it to be an issue with the ip6tables configuration when fowarding ipv6 ports via podman. See below.

It appears that podman doesn't set up the correct ip6tables rules when doing a fowarding such as

[code]

opens an ipv4 port

[

[2021-12-05 01:07] sify21 commented on #12504
change to permissive mode with `setenforce 0`, the issue still exists

[2021-12-05 13:37] MidnessX opened #12508 "OCI permission denied when using --subuidname and a bind mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to run a container using a UID mapping and a bind mount fails with message:
```Error: error stat'ing file `/home/myuser/testdir`: Permission denied: OCI permission denied```

Podman is run as root and the UID mapping to use is specified via the flag:
```--subuidname myuser```
and the v

[2021-12-05 14:43] vrothberg commented on #10875
I think that's a fair requirement. Persistent data should be on volumes.

If runtime data should be preserved, we could explore `checkpoint/restore` and inject the new image during `restore` but that requires root privileges.

[2021-12-05 14:44] bayeslearner commented on #11181
This issue is there in 3.4.2.

[2021-12-05 14:45] vrothberg commented on #10875
I think that's worth exploring; that's what the systemd units do on a high level as well.  A `container clone` would be better since we could do it in Go without having to re-exec Podman.

[2021-12-05 15:12] bayeslearner opened #12509 "podman run seems to be trying to pull local images as if they don't exist and or are hosted at localhost."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

 bug

**Description**
podman can't pull image from docker.io and built one locally,  and preappends it with a "localhost" as repository.  But later when podman run is executed, it tries to connect to "container registry localhost. "

[code]
[code]

**Steps to reproduce the issue:**

1.  I used this git repository https:

[2021-12-05 15:34] oofnikj commented on #11636
I ran into this issue today. To work around it I ended up removing the Docker-style configuration from `~/.docker/config.json` and instead adding the equivalent `podman` configuration to `~/.config/containers/registries.conf`:
[code]

Now I can pull both images that do not require auth as well as ECR images.

[2021-12-05 15:41] vrothberg commented on #12509
Thanks for reaching out.  Any chance you can share a sequence of podman commands that lead to the issue? Cloning a git repo and analyzing everything is time costly.

[2021-12-05 18:45] EvgenyPrikhodko opened #12510 "podman firewalld zone trust"
Hello everyone.
How to create a container so that the ports are not accessible from the outside?

for example, I create a postgresql container with port 5432.
Since the container falls into the trusted zone, the port is automatically accessible from the outside.

[2021-12-05 19:11] bayeslearner commented on #12509
By the way, I am able to successfully setup everything using docker (not podman) on a different machine.  So it is definitely a parity issue between them.

 Here are some relevant code snippets of how docker is used.
docker asks to tag image as `nickbusey/homelabos:$(VERSION)`,
podman would tag it with localhost prefix.

Later docker run will work fine, but it doesn't with podman.

[code]

[code]

[2021-12-05 19:32] rugk commented on #12477
As I am not sure what exactly causes this issue I am a little afraid I cannot. The YAML file itself is quite big and I would need to remove a lot of sensitive stuff etc.

But for sure I'll soon try that again with Nextcloud v23.

[2021-12-05 20:19] #12510 closed

[2021-12-05 20:35] aurany commented on #12494
Thanks @rhatdan and @mtrmac! This was not an issue with podman. I believe this error occured when GPG tries to open the password prompt which was not permitted. I solved it by adding "allow-loopback-pinentry" to gpg-agent.conf.

[2021-12-05 20:35] #12494 closed

[2021-12-05 22:23] n1hility commented on #12056
Ran into this one as well. The windows env parsing is stubbed out via an "unsupported" impl using build tag atm. I was planning to fix as a followup of #12503  but if @ashley-cui you want to take that one thats great too!

[2021-12-06 02:55] #11584 closed

[2021-12-06 03:32] wang-jian-yu opened #12512 "In jenkins Podman"
could not get runtime: please update to v2.0.1 or later: outdated conmon version

[2021-12-06 05:20] tkagn commented on #12236
Had the same issue. Implemented the tmpfs mount @Luap99 posted

[2021-12-06 05:47] ericzolf commented on #7415
No, I gave up and decided to use the host-network. Not the most secure approach, it keeps me from making the service internet-facing, but the best I could reach so far.

[2021-12-06 07:09] mheon commented on #5431
Adding support for a firewalld backend is planned for netavark, but it will not address this. We cannot make our changes to the firewall permanent because that will cause serious issues with restart handling (when the system restarts, we need a clean slate, and having firewall rules lingering from the last boot - and worse, not knowing what they are - is not something we can reasonably support).

[2021-12-06 07:14] mheon commented on #12353
Because they may be containers you are actually using. If you're on a system with CRI-O or Buildah installed, those containers could have been made by one of those; there's no easy way to determine whether these containers are artifacts of a failed build or intentionally-created containers from another tool.

We added a flag to `podman image prune` (`--external`) to remote such containers when pru

[2021-12-06 07:17] mheon commented on #11181
Please open a new issue

[2021-12-06 07:23] vrothberg commented on #12477
Thank you, @rugk, I appreciate it!

[2021-12-06 07:36] carlocab commented on #12161
It seems weird to call this a Homebrew install issue when this is also causing problems for user who aren't even using Homebrew. See #11960 (also referenced above).

[2021-12-06 08:32] 2xB commented on #12353
That is awesome! I bet CI systems such as the hopefully progressing GitLab Runner Podman executor can really profit from this way of avoiding a buildup of unused files by canceled builds. I am btw. using `podman build`, therefore I didn't expect to have "external" containers.

But should I be worried though that the ghost containers don't show up when doing `podman container list --external` in `3

[2021-12-06 08:36] afbjorklund commented on #12161
Technically it is a problem for all "weird" installations that don't use the "usual" `/usr` (or `/usr/local`).

But there really isn't any good substitute for `./configure --prefix=$PREFIX` either, so needs patching...

[2021-12-06 08:56] Luap99 commented on #7415
@tdashton You cannot forward ipv6 connections if your container has no ipv6 network. If you need ipv6 support you need to add a ipv6 subnet to your network config.

[2021-12-06 08:59] Luap99 commented on #11719
@Mordecaine Sorry I do not have time to debug this issue further. We are currently working a new network backend called [netavark](https://github.com/containers/netavark) which hopefully also fixes this issue.

[2021-12-06 09:13] #11416 closed

[2021-12-06 09:17] Luap99 commented on #12507
`allow_host_loopback=true` is a slipr4netns setting to allow the container to access the loopback adapter from the podman host. In the case of podman machine this is the VM not your macos host. To access your VM host you should use `host.containers.internal` dns name. The slirp option is not needed for this.

[2021-12-06 09:19] Luap99 commented on #12504
Kernel 5.15 has a native ntfs driver. Can you try to use this?

[2021-12-06 09:31] Luap99 commented on #12508
If you use `--subuidname` it will map the range from /etc/subuid, in your example this range `0:100000:65536`. This means that the uid 100000 on the host is mapped to uid 0 in the container with a range of 65536. Your homedir is owned by uid 1000 so the container has no access rights to this directory because the uid is not mapped into the user namespace.

If you want to mirror the rootless user n

[2021-12-06 09:31] #12508 closed

[2021-12-06 09:32] vrothberg commented on #12509
@bayeslearner, how are you running Podman?  By aliasing docker=podman or by pointing the Docker client to the Podman socket?

[2021-12-06 09:51] vrothberg commented on #12493
[code]

That doesn't make sense to me.  Why is systemd reporting the socket to be active when it's not?

FWIW, I cannot reproduce on my workstation, neither on a fresh F35 server VM.

@ctron, could you retry after a reboot?

[2021-12-06 10:19] kopiczko commented on #12379
Confirmed. Everything works with `PATH=/bin:$PATH podman`.

[2021-12-06 10:19] #12379 closed

[2021-12-06 10:41] #11905 closed

[2021-12-06 11:40] miladhub commented on #12507
It doesn't work either, regardless of the slirp4netns option:
[code]
These are the contents of the /etc/hosts file in the two cases:
[code]

What IP / DNS name should I use from the container the VM host?

[2021-12-06 11:40] sify21 commented on #12504
@Luap99  Although I'm on fedora 34 with kernel 5.15.6, I can't mount using the new ntfs3 driver:
[code]
After searching on the internet for solutions, I read some [bad comments](https://www.reddit.com/r/Fedora/comments/r3cjim/kernel_updated_to_515_should_i_keep_ntfs3g/hmc32es/) saying that ntfs3 driver is not stable now, and it's buggy, slower than ntfs-3g,  and may cause data loss, which holds me

[2021-12-06 11:57] Luap99 commented on #12504
Run `podman unshare` and try to create/read/chown files within it. If that does not work the ntfs-3g fuse driver does not support user namespaces.

[2021-12-06 12:07] Luap99 commented on #12507
Ah commit https://github.com/containers/podman/pull/11649/commits/cf28dab9f10d346dea07f7f6306b9701858d5268 was not backported to v3.4.

[2021-12-06 12:07] rhatdan commented on #12506
This is not an upstream issue, you should open a bugzilla if you want support.

The problem is likely a RHEL7 box does not understand one of the seccomp syscalls.

[2021-12-06 12:07] #12506 closed

[2021-12-06 12:08] rhatdan commented on #12506
You probably need to remove bdflush from the seccomp.json file.

[2021-12-06 12:11] edsantiago commented on #12175
Problem still present in main @ 18e31935ab068567178d50e0317ab2f3ea54926e

[2021-12-06 12:15] rhatdan commented on #11963
@igo95862 @cdoern What is up with this issue?

[2021-12-06 12:25] edsantiago commented on #9597
This one is one of our biggest flakes right now. Who can take a look?

### [sys] 60 podman logs restarted - k8s-file
* fedora-35 : sys remote fedora-35 root host [remote]
  * PR #12511
    * [12-05 20:25](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5151600063807488/html/sys-remote-fedora-35-root-host.log.html#t--00060)
  * PR #12486
    * [12-02 16:

[2021-12-06 12:29] edsantiago commented on #12167
Can someone else, anyone, please take a look at this flake? It's hitting us hard.

### podman system service verify pprof endpoints [It] are not available
* fedora-35 : int podman fedora-35 rootless host
  * PR #12482
    * [12-02 10:46](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6132977408147456/html/int-podman-fedora-35-rootless-host.log.html#t--

[2021-12-06 12:35] igo95862 commented on #11963
My SSH RPC library works but I did not have any feedback on it...

[2021-12-06 12:40] edsantiago commented on #10912
Reopening: this is still happening.

### Podman pod create [It] podman pod create with --userns=keep-id can add users
* fedora-34 : int podman fedora-34 rootless host
  * PR #12235
    * [11-09 04:36](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6272633235832832/html/int-podman-fedora-34-rootless-host.log.html#t--podman-pod-create-with---userns-keep-

[2021-12-06 12:54] miladhub commented on #12507
Thank you for reopening, let me know if there's anything I can do to test.

[2021-12-06 12:59] morgans2 commented on #11941
I'm having the same issue and have attempted several ways of modifying the proxy and cert files. Here the relevant portion of my ignition file. I'd be grateful for anyone who can spot an error.

`{"verification":{}}},"proxy":"{"httpProxy": "http://myproxy:80/"}","{"httpsProxy":"http://myproxy:80/","{"noProxy":"somevals"}","security":{"tls":{"certificateAuthorities": [{"source":"https:/site.interna

[2021-12-06 13:08] Luap99 commented on #12507
Does `podman machine ssh nslookup host.containers.internal` work for you?

[2021-12-06 13:21] rugk commented on #12477
Okay, same error with Nextcloud v23…

Dec 06 13:51:49 ***** podman[1082190]: Error: executable file `[/cron.sh]` not found in $PATH: No such file or directory: OCI runtime attempted to invoke a command that was not found

Also I tried generating the systemd unit files without `--new` now and they then even fail to start.
Interesting, I see what could be the cause here:

The first thing, `podman-co

[2021-12-06 13:31] vrothberg commented on #9597
I will take a look :heavy_check_mark:

[2021-12-06 13:41] rugk commented on #12477
Hmm? There [is no parameter named `--infra-name` in `generate systemd`](https://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html)…

[2021-12-06 13:58] ashley-cui commented on #12056
Unfortunately I don't have a windows box ATM, so feel free to grab this one @n1hility

[2021-12-06 14:08] vrothberg commented on #9597
Ouch, this one even flakes locally.

[2021-12-06 14:36] vrothberg commented on #9597
Easy reproducer on my workstation:

[2021-12-06 14:56] edsantiago opened #12521 "podman-remote run --entrypoint "" : fails to override image entrypoint"
Looks like a simple corner case:
[code]
With non-remote podman, this returns the expected date.

[2021-12-06 14:58] bayeslearner commented on #12509
Not a problem with how podman is run.  I'm using it for other  docker-compose/docker related stuff.

dnf install docker-compose podman-docker
systemctl enable --now --user podman.socket
export DOCKER_HOST="unix:$XDG_RUNTIME_DIR/podman/podman.sock"  in bashrc.

[2021-12-06 15:12] miladhub commented on #12507
This is the result:
[code]

[2021-12-06 15:17] Luap99 commented on #12507
If you use `192.168.127.254` it should work, the PR linked above will allow `host.containers.internal` in the next 3.4 release

[2021-12-06 15:19] miladhub commented on #12507
I confirm that this command works:
[code]

Great! So I'll wait for the next 3.4 and try it out. Thanks!

[2021-12-06 15:30] ctron commented on #12493
I just did. It was there.

Then I configured IntelliJ again to make use of it. And it went away.

Re-starting `podman.socket` brings it back.

Makes it more weird :) Not sure what causes that behavior.

[2021-12-06 15:31] ctron commented on #12493
I just did. It was there.

Then I configured IntelliJ again to make use of it. And it went away.

Re-starting `podman.socket` brings it back.

Makes it more weird :) Not sure what causes that behavior.

[2021-12-06 15:58] josh-coderpad commented on #12379
It'd be nice if podman supported GNU Coreutils on mac, or at least documented that it didn't/gave a better error. That said, I imagine this doesn't need to be run often, so the workaround is effective for now.

[2021-12-06 16:19] mheon commented on #3759
This has been fixed on upstream. There are presently no plans to backport this fix to v3.0. You can work around it by mounting a tmpfs on `/var/lib/cni/networks`.

[2021-12-06 16:22] mheon commented on #12353
That is very unusual, that should show all containers, even those not created by Podman - sounds like a bug. @rhatdan Any thoughts?

[2021-12-06 16:24] tdashton commented on #7415
Nice, @Luap99 I will try this, I presume you mean in `/etc/cni/net.d/87-podman-bridge.conflist` in `plugins.[].bridge.ipam.ranges`:

[code]

[2021-12-06 16:27] mohd-akram opened #12523 "Volume directory has wrong permissions when overriding container directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman, unlike Docker, does not seem to match the existing permissions of a container directory when overriding it with a volume. The steps below use the `podman-docker` alias.

**Steps to reproduce the issue:**

1. `docker run --rm -v osm-test:/var/lib/postgresql/12/main --entrypoint ls over

[2021-12-06 16:31] mheon commented on #12523
https://github.com/containers/podman/pull/10531 looks related, but that's been in since v3.3.0 so this is still occurring despite it.

[2021-12-06 16:31] mheon commented on #12523
@rhatdan Any ideas?

[2021-12-06 16:33] tdashton commented on #12506
@rhatdan thx for your gracious help, I did indeed try removing `bdflush` from `/usr/share/containers/seccomp.json` and it seems to then jump to the next element in this array, failing with the same error but now `kexec_file_load`.

Could you help me understand what the implications of the syscalls in this array are, or point me to an appropriate resource?

Would you kindly point me to the Bugzilla

[2021-12-06 16:39] Luap99 commented on #7415
@tdashton Not quite do not use the `fe80` range, this is reserved for link local addresses. If you need a private ipv6 subnet you need to use a `fd....` subnet, see https://simpledns.plus/private-ipv6

Also I think it has to be a two dimensional array (https://www.cni.dev/plugins/current/ipam/host-local/):
[code]

[2021-12-06 18:12] rhatdan commented on #12353
Yes they should show up.
Could you execute `buildah containers`

[2021-12-06 19:37] 2xB commented on #12353
Sure! So far, I've only used `podman build` and no external tool like `buildah`, so I've installed `buildah` freshly. Output:
[code]

One could get the impression that I used Fedora 31 a lot.

[2021-12-06 19:41] 2xB commented on #12353
I btw. have no idea where so many containers come from. I do cancel builds from time to time, but that seems like an extremely high amount of containers. Other than that, I start my containers with the `--rm` flag.

[2021-12-06 20:57] mheon commented on #12475
Even better, it's a Docker CLI plugin - if we were to implement that API, we'd have it integrated natively.

We'd still need to resolve the other blockers for Compose v2.0 support first, of course.

[2021-12-06 21:16] Luap99 commented on #12507
Closing since the PR is merged, the next release happens today or tomorrow but you will need to wait until the podman version inside the VM is updated which will take at least two weeks.

[2021-12-06 21:16] #12507 closed

[2021-12-07 04:11] cdoern commented on #11963
@igo95862 I can make some changes for port assumptions if you want. I currently have a PR improving the syntax and error messages for SCP. Other than that I feel like this falls back to a decision from @baude or @jwhonce on supporting openSSH

[2021-12-07 04:58] bayeslearner commented on #12509
Is this related to this error: https://github.com/containers/podman/pull/9127

[2021-12-07 08:30] flouthoc commented on #12512
@wang-jian-yu Could you please share more context. I think from error it seems you are using really old version of `conmon` could you try updating it please.

We would also need more info like `podman info`

[2021-12-07 08:31] flouthoc commented on #12521
I'll check this.

[2021-12-07 08:39] vrothberg commented on #9597
There's something (race) going on in remote start/attach but I cannot put my finger on it.

@mheon could you take a look?  The flake has been dealt with but the bug is still there.

[2021-12-07 08:46] vrothberg commented on #12493
Thanks for checking.

@giuseppe @Luap99 do you have any suspicion?

[2021-12-07 09:20] vrothberg commented on #12477
No, but `podman pod create` has one.  Ultimately, it looks like `cron.sh` cannot be found in the container, so the container doesn't start.

[2021-12-07 09:23] vrothberg commented on #12477
Can you replace `--entrypoint ["/cron.sh"]` with `--entrypoint /cron.sh` and try again?

[2021-12-07 09:34] vrothberg commented on #12477
The notation in brackets isn't supported in create/run but I wonder: did `podman generate systemd` spit it out like that?

[2021-12-07 09:39] vrothberg commented on #12039
Did it happen again?

[2021-12-07 09:48] flouthoc commented on #12523
@mohd-akram @mheon Above PR should close this , we add extra `0111` to target path's stat causing this issues.

@mohd-akram I have verified patch with your reproducer feel free to try it.

[2021-12-07 10:46] vrothberg commented on #11636
There's actually a bug in c/image. It's totally 0K when a credential helper doesn't have credentials but the error should be checked for and we do, but just not in this specific code path.

[2021-12-07 11:00] rhatdan commented on #12523
No idea or memory of where this came from.  Only thing I can think of is this had something to do with user namespace. @giuseppe @nalind @vrothberg Any ideas?
If the tests pass, I am fine with it.

[2021-12-07 11:32] Luap99 commented on #12493
Something is removing this socket file. I cannot reproduce.

Can you test after starting the socket `podman --remote info` wait at least 5 seconds after that the service should be stopped, now check if the socket file is there.

Maybe IntellIJ is causing this problem?

[2021-12-07 11:39] #12523 closed

[2021-12-07 12:09] rhatdan commented on #11001
Since we have not heard further and we don't believe Podman is doing anything wrong, closing.

[2021-12-07 12:09] #11001 closed

[2021-12-07 12:14] rhatdan commented on #12506
Basically these are syscalls that are supported in newer kernels, and not supported in RHEL7 kernels.
The tooling uses a library which you did not  update (And probably should not, libseccomp) which can not translate the string names to a syscall, so it is rejecting them.  Removing them is save since they are not available on RHEL7.

I would just go through them one by one and remove.  Or just get

[2021-12-07 12:17] rhatdan commented on #12353
Do a `buildah rm --all` and see if the situation is cleared up.

[2021-12-07 12:38] 2xB commented on #12353
I can, but if that works I can then of course no longer help debugging it - maybe I should add that I also saw this issue on a CentOS 8 Stream machine that I set up a week ago. So this is nothing special to the configuration on one machine.

[2021-12-07 12:40] 2xB commented on #12353
I should add that doing a `podman system reset` on the CentOS machine yesterday worked. If `buildah rm --all` is not only a workaround but would also provide insights into this issue, I can of course do it anyways and wait until these containers build up again.

[2021-12-07 12:49] edsantiago commented on #12039
Only two instances since my last post:

### Podman play kube [It] podman play kube replace
* fedora-34 : int remote fedora-34 root host [remote]
  * PR #12380
    * [11-23 04:26](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6750548943699968/html/int-remote-fedora-34-root-host.log.html#t--podman-play-kube-replace--1)
  * PR #12354
    * [11-18 15:20](

[2021-12-07 12:54] vrothberg commented on #12512
Please open a new issue and fill out the requested data in the issue form.

[2021-12-07 12:54] #12512 closed

[2021-12-07 12:56] tdashton commented on #12506
@rhatdan cool thanks a lot for the information! I will try removing them.

I am a bit confused why the RHEL7 kernels do not receive updates including to the kernel, as CentOS's official EOL for 7.9.2009 is Jun 30th, 2024. I guess maintenance means only critical patches in this context.

[2021-12-07 12:58] vrothberg commented on #12509
Thanks, @bayeslearner.  This issue should already be fixed in the main branch by commit 5bdd571b1e46.

Short-name normalization works very differently in Podman when compared to Docker.  However, we recently made Podman behave like Docker on the Docker REST API.

What happens is that the image is being tagged as `localhost/$tag` and it seems there's a follow-up attempt to _pull_ the image which ul