[2022-03-17 23:31] cdoern commented on #13548
hm, I will look at this one. I am assuming there is some issue with the infra container design.

[2022-03-17 23:54] cdoern commented on #13548
I cannot reproduce this on the main branch @daynyxx have you tried building podman from the github repo and testing your issue?

[2022-03-17 23:59] alanruttenberg commented on #12053
The container checkpoints and restores if I invoke the commands with --file-locks --tcp-established
Not sure why I have either, but will investigate.

[2022-03-18 00:43] daynyxx commented on #13548
@cdoern I just built from main. I'm getting an error creating a pod that says ```Error: building local pause image: finding pause binary: exec: "catatonit": executable file not found in $PATH```.

[2022-03-18 00:53] daynyxx commented on #13548
@cdoern build from main and still running into this problem.

create pod:
```podman pod create --name=test -v /home/kuroda/pod-test:/test```

run ls on /test:
```podman run --pod=test fedora ls /test```

result:
ls: cannot access '/test': No such file or directory

run ls on /:
```podman run --pod=test fedora ls /```

result:
[code]

[2022-03-18 02:15] xunpan opened #13549 "overlayfs daemon left after container is finished"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There are multiple overlayfs daemons left when the containers are finished. The daemons are cleaned until manually remove the containers.

**Steps to reproduce the issue:**

1. There is no overlay daemon
[code]
2. run a container and make it done
[code]
3. more containers more daemon leaks
[co

[2022-03-18 02:18] baude commented on #13549
This is not observed on main branch, 4.0.2

[2022-03-18 03:14] hyche commented on #13535
I tried to reinstall it, the client version stays at 4.0.0-dev with git commit `e59f71d230cf5435dc569add90e22cc644e38647-dirty`, and the build still hangs though.

[2022-03-18 05:10] aragilar opened #13550 "Add option to easily capture syslog/journald from within container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently getting logs out from a container is somewhat painful. Either:
* You log to stdout/stderr, implicitly losing log level information/context.
* You log to files/syslog/journald, and set up mounts to map host paths to container paths, complicating running the container.
Instead, if

[2022-03-18 07:50] amenzhinsky opened #13551 "podman update 3.x to 4.x: KeyError: 'exitcommand'"
Updating podman from v3.x to v4.x broke containers creation, it seems containers info dict has changed since v3:

[code]

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

[2022-03-18 08:02] amenzhinsky commented on #13551
Sorry, wrong repo

[2022-03-18 08:02] #13551 closed

[2022-03-18 08:24] grooverdan commented on #12746
I was hoping you'd see the visibility of `/sys/devices` and only masking `/sys/dev/block` as the fix for [rhbz#1772993](https://bugzilla.redhat.com/show_bug.cgi?id=1772993) a cosmetic fix for `lsblk` only and not really a comprehensive masking of host storage devices.

In the event that this isn't a good enough reason for implementing this slightly over-engineered, but me friendly implementation,

[2022-03-18 10:03] Luap99 commented on #13169
Closing since I consider this out of scope for podman. You can always setup the network namespace yourself and use it via `--network ns:/path/to/netns`

[2022-03-18 10:03] #13169 closed

[2022-03-18 10:12] Luap99 commented on #12495
@guillaumerose Any progress?

There are 3 thumbs up on this issue, it would be great if someone could look at this.
Does `strace` work on macos? It would be helpful if someone could attach it when the problem occurs to see what is failing.

[2022-03-18 10:16] vrothberg commented on #13526
Thanks for reporting the issue!  Interested in opening a pull request?

[2022-03-18 10:20] #13543 closed

[2022-03-18 10:45] Luap99 commented on #13224
@vikas-goel Would a container.conf option work for you?

[2022-03-18 11:06] giuseppe commented on #13550
how would you expect it to look?

Something like https://github.com/projectatomic/oci-register-machine ?

[2022-03-18 11:23] rhatdan commented on #13548
[code]

[2022-03-18 11:23] giuseppe commented on #13549
could have been some failure when cleaning up the container, could you try running manually `podman container cleanup $CONTAINER_ID`?  Does it show any error message?

[2022-03-18 11:26] rhatdan commented on #13548
$ podman inspect -l --format '{{ .Mounts }}'
[{volume pod-test /home/dwalsh/.local/share/containers/storage/volumes/pod-test/_data /test local Z [nosuid nodev rbind] true rprivate}]

[2022-03-18 11:32] giuseppe commented on #13463
so I assume the issue is fixed upstream.  Thanks for confirming it!

[2022-03-18 11:32] #13463 closed

[2022-03-18 11:33] giuseppe commented on #13360
there was no feedback to the questions above, so I am going to close the issue.

Please reopen if it still persists and you provide the requested information

[2022-03-18 11:33] #13360 closed

[2022-03-18 11:38] #13510 closed

[2022-03-18 11:48] #11822 closed

[2022-03-18 11:51] SarthakGhosh16 commented on #3761
I'm facing same issue as stated [HERE](https://github.com/containers/podman/issues/3761#issuecomment-884231335)

[code]

I built an image using `podman` on an env
[code]

On checking the digest of the image on the env, I got below result
[code]

After pushing the image to local repository, I pulled the image again using` podman` and checked the digest and got this
[code]

I then pulled the same im

[2022-03-18 12:08] vrothberg commented on #13549
Since you are running on RHEL.  Please report issues via the Red Hat support channels (e.g., Bugzilla).  This way, we can properly prioritize the issue and prepare backups if needed.

[2022-03-18 12:18] pymonger commented on #13185
hi @giuseppe, @rhatdan: any further thoughts on this feature?

[2022-03-18 13:35] mheon commented on #11874
We've fixed the other notable Compose v2 issue, and added Compose v2.2.3 to our test suite (which includes several compose projects with builds), and it seems to be working fine so far. Given this, I'm going to close this, but if anyone is able to reproduce with Podman's main branch and Compose v2.2.3, I'd be very interested in seeing a reproducer.

[2022-03-18 13:35] #11874 closed

[2022-03-18 13:41] vikas-goel commented on #13224
Yes.

[2022-03-18 14:48] Luap99 commented on #13543
Ah yeah, we do have arm systems in CI unfortunately. You would need to compile from source then.

[2022-03-18 15:27] daynyxx commented on #13548
@rhatdan it did work when I ran the command you used both with and without :Z. It did not work however when I used the absolute path
[code]

[2022-03-18 15:52] reini-1 opened #13557 "BUG: podman-remote-static crash in ubuntu 20.04 (wsl)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

old version works fine

[code]

**Steps to reproduce the issue:**

1. download https://github.com/containers/podman/releases/download/v4.0.2/podman-remote-static.tar.gz

2. un-tar it

3. run it

**Describe the results you received:**

crash, see above

**Describe the results you expec

[2022-03-18 18:19] mheon commented on #13548
Please include a `podman inspect` of one of these containers - want to see if we have any volumes added

[2022-03-18 18:30] daynyxx commented on #13548
[code]

[2022-03-18 18:37] daynyxx commented on #13548
This is the result using a volume mount rather than a bind mount.
[code]

[2022-03-18 18:56] mheon commented on #13548
`          "Mounts": [],`

Mounts are definitely unset for that container, so Podman did not add the mount.

[2022-03-18 18:56] mheon commented on #13548
Any chance you can do a `podman inspect` of the infra container of the pod that has the volume mount and provide that?

[2022-03-18 18:59] daynyxx commented on #13548
[code]

[2022-03-18 19:06] shanesmith commented on #13543
Verified fixed with a build from source, thanks!

[2022-03-18 20:15] lovette commented on #13277
Since the [Community Cabal meeting yesterday](https://hackmd.io/@_1NXWuD7QOiEcW1zqgjA7A/HJgTdAPsw) I've been trying to reconcile the operational differences between using the default network and custom networks. On the face of it, one would think that moving from one to the other would simply give you more control over network properties. But in fact fundamental changes occur. Initially I was disa

[2022-03-18 20:54] TomSweeneyRedHat commented on #13393
@Romain-Geissler-1A The plan is to get this into Podman v4.0.*, probably v4.0.4, both in RHEL and the other distributions.  It will also be in Podman v4.1 in all distributions other than RHEL.

[2022-03-18 21:00] srcshelton commented on #13516
Just from general use, tonight's output:

[code]

(78GB is obviously not 0% of 86%, and 4.7MB for 24 containers seems a little low?  Also, the output is showing more Active Local Volumes than Total Local Volumes...)

[code]

… so `podman`'s reported 37GB saving is actually more like 11/12GB?  The "Images" 'reclaimable' figures from before and after don't seem to add up either.  Having said this, e

[2022-03-18 22:15] Cameron-Kurotori opened #13561 "macOS podman build fails with Dockerfile not in context"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On OSX (darwin) running `podman build` with the `-f` pointing to a file that's outside the context directory tree, the build fails with `no such file or directory` error. This issue also affects building from stdin (`-f-`) for the same reason (since stdin is written to a tmp file)

**Steps to

[2022-03-18 22:19] Cameron-Kurotori commented on #13561
I did a bit of digging myself and I believe the issue is related to the `filepath.Walk` through the sources when building the tar file due to the skip on root dir: https://github.com/containers/podman/blob/4966adddbb8890fdcdd542c3219469133b5583eb/pkg/bindings/images/build.go#L566

I tried out this code and it seems to make the build work now:

[code]

Not sure if there would be other implications

[2022-03-18 22:22] Cameron-Kurotori commented on #13561
before changes:
[code]
after changes:
[code]

[2022-03-19 04:24] aragilar commented on #13550
Sure. I wouldn't mind further inspectability, it's mainly around the need to futz around with mount paths and ensure permissions match etc.

[2022-03-19 07:05] DaveWK commented on #13360
Oops, thanks, sorry -- yes -- I was able to crib from the podman container in fedora to make a Centos9-Stream container that was capable of running podman-in-podman (and ultimately make a jenkins worker container) -- the key seemed to be adding a second entry into subgid/subuid. When running the container I included in my first post, and reinstalling shadow-utils, it will only make 1 entry in the

[2022-03-19 09:19] m3nu commented on #8647
Got this issues after a reboot. Clearing `/run/user/1000/libpod` as described fixed it.

Maybe Podman could recover form this error by itself without intervention?

[2022-03-19 15:50] alanruttenberg opened #13566 "podman restore --keep sometimes fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want to be able to restore a container multiple times. As I understand it, in order to enable this I need to use the --keep argument with podman container restore. For one image, ubuntu:1604, this works. I can restore with --keep, attach, exit, and do it again. However with another containe

[2022-03-19 16:19] mtrmac commented on #3761
@SarthakGhosh16 That seems reasonable at a first glance; `podman build` creates an _uncompressed_ representation of the image, `podman push` writes a _compressed_ one. The two are going to have different digests.

[2022-03-19 16:52] benyaminl commented on #12778
For now I use tmux to run the systemctl service from rootless podman. It works even after I detach or close ssh connection, because it kept the user logged in 🤣

[2022-03-19 18:15] rhatdan commented on #11544
SInce no response, I am going to assume it is fixed, reopen if I am mistaken.

[2022-03-19 18:15] #11544 closed

[2022-03-19 18:16] rhatdan commented on #10886
@mheon @Luap99 is this possible to fix?

[2022-03-19 18:40] mheon commented on #10886
We can potentially make Netavark smart enough to clear all netavark-generated firewall rules; but I don't think we can fix for CNI.

[2022-03-19 23:51] rhatdan commented on #13174
@Luap99 @vikas-goel Any movement on this Issue?

[2022-03-19 23:53] rhatdan commented on #13236
@grooverdan @vrothberg What should we do with this issue?

[2022-03-20 18:49] millerthegorilla opened #13571 "podman unshare does not work on standard user account added to coreos on pi4."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to run podman unshare.  I have su'd to a standard user account from the core user of coreos on a pi4b.  I get the following errors when running the podman unshare command.
```Failed to connect to bus: Operation not permitted (consider using --machine=<user>@.host --user to connect

[2022-03-21 01:12] xunpan commented on #13549
with `podman container cleanaup`, the overlay process is finished. There is no error message showed.

[code]

[2022-03-21 01:36] grooverdan commented on #13236
Is an early spawn of the cleanup process possible that activates when the parent process dies? I normally see cases of SIGCHILD but not the other way around.

Doesn't `NotifyAccess=all` resolve this? If it does the first conman process that does the cleanup and its child sends mainPID to advertise itself as sacrificial? I don't know how that would work if the container process sends mainPid too.

[2022-03-21 08:46] #13526 closed

[2022-03-21 09:06] vrothberg commented on #13236
I don't think we should change the `mainPID` for the clean-up process as it will very likely cause hiccups.

The main challenge is to find a way to prevent the clean-up process from being killed by systemd. @msekletar, do you have suggestions? The problem in a nutshell:
* We communicate the container ID via a file
* The file is then used in `StopPost` do `podman rm` the container
* We'd love to fi

[2022-03-21 09:25] giuseppe commented on #13185
I am fine with something like was suggested above `--passwd-entry="1000:*:1000:1000:container user:/home:/bin/sh"` or even more generic as `--append-to-file="/etc/passwd:1000:*:1000:1000:container user:/home:/bin/sh"`.

Now it must be implemented :)  Are you interested in opening a PR?  Otherwise I can take a look

[2022-03-21 09:33] xsa commented on #12751
Experiencing issue here too... Machine doesn't even start. Recently upgrade to macOs Monterey and podman 4.0.2. Temporary folder exists. Tried to reboot, same issue. Thinking there might be some default "forbid connections" policy in macOS. Thoughts anyone?

[code]

[2022-03-21 09:41] vrothberg commented on #13340
Works on my end. Can you try again? Maybe `docker.io` had a temporary hiccup.

[2022-03-21 09:41] #13340 closed

[2022-03-21 09:59] giuseppe commented on #13236
would the gain just be to not use an external file?

If so, I agree we should probably close this issue since it seems there are no valid alternatives

[2022-03-21 10:04] flouthoc commented on #13571
Hi @millerthegorilla , I think this is because somehow the systemd session is not created properly.

Could you share output of `echo $XDG_RUNTIME_DIR $UID` please ?
I think you would either need to do `ssh` into the user which are using or create a valid session using `machinectl login`.

I'm not at all sure but I don't think this is a podman issue looks more like issue with `systemd` configuratio

[2022-03-21 10:50] Luap99 commented on #13571
Inside podman unshare $UID will always be 0, thus your `export XDG_RUNTIME_DIR="/run/user/$UID"` in bashrc will point to the wrong location.

Using su is not recommended, even if you enable lingering you still have to at least use `su --login` to set the proper env vars.
It is best to use `machinectl shell -q username@` to change the user with systemd or setup ssh for localhost.

If you want to us

[2022-03-21 10:50] #13571 closed

[2022-03-21 10:53] Luap99 commented on #13566
@adrianreber @rst0git PTAL

[2022-03-21 11:12] Luap99 commented on #13561
Duplicate of #13293
@cdoern PTAL at the suggested change

[2022-03-21 11:12] #13561 closed

[2022-03-21 11:13] Luap99 commented on #13557
@mheon @lsm5 PTAL

[2022-03-21 11:25] n1hility commented on #12751
@mithucste30 @xsa You might be experiencing an incompatible machine (#13510). Try double check you are on 4.0.2, copy any files off that you want and then try recreating the machine instance  (machine rm followed by machine init)

[2022-03-21 11:35] mithucste30 commented on #12751
I have solved this issue by install coreutils. Not sure why it wasnt installed with brew at first place.

[2022-03-21 11:48] xsa commented on #12751
coreutils is now installed (it wasn't at the time of reporting my problem, but had to install it for something else in the meantime). Unfortunately issue persists with the same error message.

[code]

[2022-03-21 11:56] xsa commented on #12751
Thanks @n1hility - I'm indeed on 4.0.2, and had already performed the steps you advised before posting my issue. Still no dice.

[2022-03-21 12:16] #13459 closed

[2022-03-21 12:16] #13458 closed

[2022-03-21 12:22] Luap99 commented on #13516
#13575 fixes the percent calculation but it does not fix the incorrect values for the volume

[2022-03-21 12:35] flouthoc commented on #13533
@cevich I played around with this and was able to figure out the cause, problem is `--net=host`, it is almost certain that dns does not works fine with `--net=host` since containers are expected to use host's `resolve.conf`. I think it can work with `--net=host` as well but lot of manual plumbing is needed.

* Both `aardvark-dns` and `dnsname/dnsmasq` does not works when `--net=host` is being used

[2022-03-21 12:49] Luap99 commented on #13394
How about keeping the hardcoded path but in case the binary is no longer there still fall back to the same detection logic as for machine init.

[2022-03-21 12:53] rhatdan commented on #13259
Since this is not supported upstream I am closing.

[2022-03-21 12:53] #13259 closed

[2022-03-21 13:06] adrianreber commented on #13566
This sounds like a misunderstanding. `--keep` cannot be used the way you want to use it. Or better, it can work, but it can also fail.

The idea behind the `--keep` option is to keep log files and also the checkpoint data for error analysis. The way you are using it was not the intend.

To restore a checkpoint all files need to be the same as during checkpointing or else your restored process is a

[2022-03-21 13:07] giuseppe commented on #13185
If we decide for `--passwd-entry` I think we would also need to add `--groups-entry`

[2022-03-21 13:18] mheon commented on #13557
Initial thought: is the static build actually static? Anyone run `ldd` against it recently? That looks like a potential libc version mismatch issue.

[2022-03-21 13:29] Luap99 commented on #13533
I don't understand this. The container should still have a valid resolv.conf. Why would running aardvark fail in this case?

[2022-03-21 13:43] lsm5 commented on #13557
@mheon

[code]

If it matters, I built it on rawhide with go 1.18 (i think it was an rc back then).

[2022-03-21 13:45] afbjorklund commented on #13557
It is a known bug in Go, when linking statically

[2022-03-21 13:45] lsm5 commented on #13557
using the executable on a centos 9 stream, I see:

[code]

[2022-03-21 13:46] flouthoc commented on #13533
@Luap99 `dnsname` also fails in this case. I verified both with `aardvark` and `dnsname`.

[2022-03-21 13:46] mheon commented on #13557
Ah, lovely. I love Go.

[2022-03-21 13:50] arctic-alpaca commented on #13340
@vrothberg Can confirm this is working as expected again. Thanks for looking into it.

[2022-03-21 13:51] lsm5 commented on #13557
@afbjorklund @mheon ummm, so do we need to build for each distro-release combination?

[2022-03-21 13:54] flouthoc commented on #13533
@Luap99 Its mainly because the second container contains the `resolv.conf` from host. You can try a reproducer with

[code]

[2022-03-21 14:03] edsantiago commented on #13188
There was one more flake, the day after I filed this issue. My logs do not show it happening since.

* fedora-34 : int remote fedora-34 root host [remote]
  * PR #13205
    * [02-10 16:43](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6683802725515264/html/int-remote-fedora-34-root-host.log.html#t--podman-run---mount-type-bind-bind-nonrecursive--1)

[2022-03-21 14:05] ryester27 opened #13578 "Healthcheck always shows "starting" when disabled with --no-healthcheck"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
When running a container with the --no-healthcheck option, the healthcheck is still present and always shows "starting" when viewing container status using "podman container ls"

**Steps to reproduce the issue:**

1. Create container with --no-healthcheck option

2. Execute "podman container ls

[2022-03-21 14:05] mheon commented on #13227
Can't reproduce on my laptop. Are the Echos and the `podman execs` meant to be going on at the same time, to cause a lot of disk IO?

[2022-03-21 14:11] flouthoc commented on #13533
@Luap99 Does `dns` works for you in second container.

[2022-03-21 14:12] flouthoc commented on #13533
@Luap99 Try `podman run --rm --network test --name hello nicolaka/netshoot:latest dig hello`

[2022-03-21 14:19] Luap99 commented on #13533
Yes dns does not work but this is not related too /etc/resolv.conf. The hostns would be correct since we started the parent container with --net=host.

The problem is that I cannot ping/curl from within the container to the outside of the system, so the general network connectivity is broken.

[2022-03-21 14:20] millerthegorilla commented on #13571
@Luap99   I did as you said, removing the 'hack' from .bashrc, and used ```sudo machinectl shell -q username@``` to login.  It logged in ok, but when I ran podman unshare, I got the following error.
[code]
I did manage to get the podman unshare command to work, but that was when the 'hack' was in .bashrc, and I su'd into the user account, then commented out the 'hack'.  I was then able to run the

[2022-03-21 14:21] millerthegorilla commented on #13571
With that in mind, and because I need to be able to run commands in the standard user account from scripts that are based in the core account, I used the following different 'hack' to get the podman unshare command working.
[code]

[2022-03-21 14:25] Luap99 commented on #13571
machinectl should set the correct `XDG_RUNTIME_DIR` and `DBUS_SESSION_BUS_ADDRESS` values, what are the values when you run it without the export in your bashrc?

[2022-03-21 14:34] flouthoc commented on #13533
@Luap99 Yes any address in hostns is not accessible, in my reproducer all host address is unreachable and  `resolv.conf` is rendered incorrectly in my second container. But it could be due to my custom config while spawning second container.

But anyways after playing around I think case with both `dnsname` and `aardvark-dns` and `container inside docker` with similar scenario causes DNS to don't

[2022-03-21 14:35] Luap99 commented on #13533
This should work!

I disabled friewalld and it started working with dnsname. I have nor yet tested with aardvark.

[2022-03-21 14:39] Luap99 opened #13579 "quay.io/podman/stable is outdated"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman stable image is not on 4.X and is still based on fedora 34.

**Steps to reproduce the issue:**

1. `podman run --pull always quay.io/podman/stable:latest podman version`

**Describe the results you received:**
podman version 3.4.4 on fedora 34

**Describe the results you expected:*

[2022-03-21 14:48] mheon commented on #13578
Can you include a `podman inspect` of a container showing this symptom?

[2022-03-21 14:56] millerthegorilla commented on #13571
[code]

[2022-03-21 14:56] millerthegorilla commented on #13571
does it make any difference if this user is lingering?

[2022-03-21 15:00] mheon commented on #13227
@edsantiago Where are you redirecting? Conmon should have no relation to TTY, so my assumption is that it's the process of writing the logs for the exec session that's causing it to lag and fail to create the exit file in a timely fashion (or somehow hang?). If you're redirecting the output on the host system, I don't see how that could affect Conmon.

[2022-03-21 15:25] cdoern commented on #13464
@rhatdan what was our decision on this one? I can implement this.

[2022-03-21 15:30] andrin55 opened #13582 "'podman pull' no simple way to check if newer image was pulled"
/kind feature

**Description**

It would be nice if there was a status line when pulling an image to determine if a newer version was pulled. This would help with automation.

**Describe the results you received:**
Example with podman pulling an image which is new:
[code]

Example with podman pulling the same image again:
[code]

One could only determine the image already was up-to-date by looking

[2022-03-21 15:35] ryester27 commented on #13578
[code]

[2022-03-21 15:40] mheon commented on #13578
@baude PTAL

[2022-03-21 15:47] giuseppe commented on #13185
I've played a bit with it and got with: https://github.com/giuseppe/libpod/tree/passwd-entry

You can write something like:

[code]

What do you think about it?  Would it work for you?

[2022-03-21 16:05] Luap99 commented on #13533
I don't understand what any of this has to do with docker?

I just used the `quay.io/libpod/fedora_podman:c5140433071243264` image from the command and the problem is that we use systemd-run to start aardvark but there is no systemd running inside the container thus the command is failing.

So we have to fix this netavark to make sure systemd-run is only used when systemd is running.

@cevich Can

[2022-03-21 16:16] Luap99 commented on #13402
Closing since this is a configuration problem and there is nothing we can do upstream.

[2022-03-21 16:16] #13402 closed

[2022-03-21 16:18] Luap99 commented on #13327
@srcshelton Any update? Should we just go ahead and increase the timeout in buildah?

[2022-03-21 16:21] Luap99 commented on #10886
I think we could implement something like this in netavark but I think we should rather use the time and fix actual problems which would cause the cleanup to fail.

[2022-03-21 16:25] Luap99 commented on #13277
There is no difference between containers on default or custom network! There should also be no difference for rootless/rootful. Please provide reproducers if you see actual differences.

You will see differences for `--net=` `host`, `bridge`, `slirp4netns` or `none`, this is expected.

[2022-03-21 16:27] wnm3 commented on #12175
I'm getting these errors:
Error: host directory cannot be empty
Error: channel "123" found, 0-3 supported: lost synchronization with multiplexed stream
attempting to run a container mounting volumes

Any solution? I have tried using the command:
podman system connection default podman-machine-default-root

but this does not address the problem for podman v4.0.2

[2022-03-21 16:33] jahamilton12121 commented on #13419
I am trying to get another user to demonstrate this however it only happens infrequently. The project I am working on creates and removes users frequently.

[2022-03-21 17:10] mheon commented on #12074
I think we can close this, given it seems to be a configuration issue

[2022-03-21 17:10] #12074 closed

[2022-03-21 17:20] afbjorklund commented on #13557
I'm getting a ton of warnings, when building the `podman-remote-static`.

Probably related to the change of `CGO_ENABLED`, since v3.4.2 ?

[2022-03-21 17:23] mheon commented on #13557
Why did we do that? I don't know that podman-remote actually needs cgo.

[2022-03-21 17:24] mheon commented on #13557
https://github.com/containers/podman/commit/ab4c9a8948b24a5390b7143131f5ed2ad634a2fb suggests there is a legitimate reason to want to do it, which is unfortunate

[2022-03-21 17:25] afbjorklund commented on #13557
It was done here: 319fcf52fc5eaa3a83c4a152405910a5b516f89a

[2022-03-21 17:28] afbjorklund commented on #13557
@lsm5 probably just delete podman-remote-static, similar to the other static build ? (the Nix one)

[2022-03-21 18:13] lsm5 commented on #13557
@afbjorklund yes, I find building with musl a PITA too. I'm cool with removing podman-remote-static. @mheon @ashley-cui @baude wdyt?

[2022-03-21 18:16] Luap99 commented on #13557
Why not just disable cgo, we clearly have users using it.

[2022-03-21 18:25] ashley-cui commented on #13517
I don't think this is a bug, as this is the behavior and syntax regular ssh does:

[code]

However, doing this command without the `sh -c` works correctly both in `podman machine ssh` and  regular ssh:

[code]

Feel free to re-open if you think there is more to this.

[2022-03-21 18:25] #13517 closed, assigned to nobody

[2022-03-21 18:33] ashley-cui commented on #13225
Closing, looks like this has been resolved.

[2022-03-21 18:33] #13225 closed

[2022-03-21 18:45] Luap99 commented on #13557
Because you still have cgo enabled:

[2022-03-21 18:50] lsm5 commented on #13557
ah I see, that did give me a successful build. Let me test the binary on another env. Thanks!

[2022-03-21 19:37] kgibm commented on #13517
@ashley-cui

The point is to run multiple commands in the podman machine using a single `ssh` execution. Your examples are executing one command on the podman machine and the other command on your macOS machine. This point can be more easily explained by changing your `echo` to `uname`:

[code]

The semicolon after your first example command ends the `ssh` (or `podman ssh`) command and then execut

[2022-03-21 19:50] kgibm commented on #13517
Found the solution. Additional quoting was needed:

[code]

[2022-03-21 19:54] baude commented on #13535
I just completely nuked my mac (to be dead sure).  Completely clean install, install brew, install podman and the version is 4.0.2.

[code]

[2022-03-21 19:59] baude commented on #8016
@wnm3 yes it works... did you read the blog announcement for it? What did you try? You gotta provide more information and perhaps I can help.

[2022-03-21 20:04] baude commented on #8195
I believe this issue should be closed with Podman-4.0.2 and the new network stack.  If you try POdman 4.0.2 from an upgrade to a previous version of podman, please be sure to run podman system reset --force before trying your test again.  Please re-open if new Podman does not resolve your issue.

[2022-03-21 20:04] #8195 closed

[2022-03-21 20:07] lovette commented on #13277
Well, I swear I experienced a container `--add-host` affecting unrelated containers, but I cannot reproduce that today. 🤷‍♂️ After Dan mentioned that containers on the same network share the same /etc/hosts I didn't investigate further. I felt confident in what I saw at the time and can only explain away my confusion by the fact that removing and restarting a container causes duplicate hosts, and

[2022-03-21 20:09] fulldecent commented on #12728
I get this issue using VS Code + Remote Containers extension. VS Code does not seem to have a way to include this `unset SSH_AUTH_SOCK` directive.

[2022-03-21 20:28] cevich commented on #13533
Re: --net=host and --dns

"Because it was always done this way" :grin:   Seriously, I'm absolutely not against changing the setup to suit our needs.  Even in a super-privileged container, I'm sure there's a limit to how much the container can affect changes on the host, so some test skipping is also okay.

Otherwise, please don't wait on me to test changes.  You're able to go directly hands-on to

[2022-03-21 20:31] baude commented on #13535
hard to say, are you seeing any clues in podman --log-level=debug build .... ?

[2022-03-21 20:34] baude commented on #12728
@jwhonce ^^^ heads up

[2022-03-21 23:02] mafischer commented on #8016
I can provide an example which occurs with VS Code using [Remote-Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers):

[code]

[2022-03-21 23:19] n1hility commented on #12751
@xsa can you check the following:

1. Does /Users/<my user>/.local/share/containers/podman/machine/podman-machine-default/ exist?
2. Is there any stale qemu processes running (e.g. ps -ef | grep qemu)
3. When you do a podman machine rm; podman machine init, do you get any errors there, or is it successful?
4. When you run podman machine start and get the EINVAL, is there a qemu process running aft

[2022-03-22 00:24] jahamilton12121 commented on #13419
[code]

[code]

[2022-03-22 01:39] bduffany commented on #13341
I am running into the same issue on Ubuntu 20.04, podman version 3.4.2:

[code]

[2022-03-22 01:53] bduffany commented on #13341
Indeed it looks related to apparmor. I ran the following:

[code]

And it works now.

Not sure exactly why disabling apparmor fixes the problem. Disabling apparmor is not a great solution, though. Happy to share more info about my system and/or try out various debugging commands if it would help at all.

[2022-03-22 03:01] baude commented on #13341
we dont currently have any apparmor experts on the team.  where did you get podman from? if it was from ubuntu, can you create a launchpad with them and perhaps get some help?

[2022-03-22 03:16] jpbow commented on #6800
The below command worked for me (running Podman 3.4.2 on WSL 2):

`rm -rf /tmp/podman-run-$(id -u)/libpod/tmp`

[2022-03-22 03:21] hyche commented on #13535
Here is the  log

[code]

[2022-03-22 04:41] flouthoc commented on #13533
@cevich Yes i think if we are not able to make it work in most generic way then I see no harm in skipping and we can have separate task for few tests. So this should not be a blocker.

But I think we can keep this issue open till we are sure about this.

[2022-03-22 06:38] afbjorklund commented on #8016
You need to mount it using a flag to `podman machine init`, like so: `-v /Users:/Users`.

Unlike Docker Desktop there are no default mounts (yet), so everything is explicit.

[2022-03-22 07:02] flouthoc commented on #13578
Above PR should close this issue.

[2022-03-22 07:33] hyche commented on #13535
More on the logs, I waited the build for ~10 mins, it finally build
[code]

[2022-03-22 07:45] flouthoc commented on #13014
`buildx inspect` is not applicable for `podman`. `buildx inspect` specifically tells about builder daemon instances I don't think there are any plans for podman to use `buildkit daemon` as of now, instead podman uses buildah which implements part of buildkit features which is not invoked as a daemon.

We can implement a dummy output for `buildx inspect` so it does not breaks the systems which are

[2022-03-22 08:11] vrothberg commented on #13582
Thanks for reaching out, @andrin55!

I think there's some valuable information in the Docker output that we could use as well.

@mtrmac WDYT?

[2022-03-22 08:32] srcshelton commented on #13327
Sorry, I thought you were already planning to do this!

I'm patching my podman builds with a timeout of 30s, which seems fine so far - but if a value of 4m is used elsewhere then this sounds like the most compatible value to use permanently.

[2022-03-22 08:33] vrothberg commented on #13525
After a closer inspection of the compilation error, I seems more like a Slackware setting to me.

   81 |                                 copy(rt.storageConfig.GraphDriverOptions, config.GraphDriverOptions)
      |                                 ^
libpod/container_stat_linux.go:13:49: note: ‘copy’ imported here
   13 |         "github.com/containers/podman/v4/pkg/copy"

That is even in different

[2022-03-22 08:33] #13525 closed

[2022-03-22 08:46] srcshelton commented on #8016
This blog post: https://podman.io/blogs/2022/03/15/podman4.0.2brew.html ?

Is there further documentation with more detail available for macOS(/Windows?) mounts specifically?

From further replies above it sounds as if `podman machine init` must be run with `--volume` arguments for every possible mountpoint that any container may subsequently wish to use - is this correct?

[2022-03-22 08:53] vrothberg commented on #11940
FWIW, I think that `podman ps` is way to expensive. The lock of a single container is acquired and released ~ a dozen times just to query certain data (e.g., state, mappings, root FS, etc.). I think we need to optimize querying that data and put it into a single locked function (rather than N locked ones).

[2022-03-22 08:57] typekpb commented on #8016
@srcshelton , correct, works for me with mount on machine as well, see: https://medium.com/@butkovic/favoring-podman-over-docker-desktop-33368e031ba0

[2022-03-22 09:01] giuseppe commented on #13492
I also cannot reproduce it.

I am closing the issue as it lacks feedback, please reopen if you've more data to share

[2022-03-22 09:09] vrothberg commented on #11940
I'll take a stab at it.

[2022-03-22 09:36] nikital opened #13586 "--userns=keep-id doesn't work with --init"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run` failed if both `--userns=keep-id` and `--init` are supplied

**Steps to reproduce the issue:**

1. Start with a fresh updated Fedora 35 machine

2. `podman run -it --userns=keep-id --init ubuntu:latest`

**Describe the results you received:**
[code]

**Describe the results you ex

[2022-03-22 09:37] vrothberg commented on #11940
Scratch that ... these operations are batched.

[2022-03-22 09:50] flouthoc commented on #13446
Hi @owtaylor I think this change was intentionally added here https://github.com/containers/common/pull/831 so `\n` can be replaced with actual breakline when used in format string.

Your use-case is already documented here in tests: https://github.com/containers/common/pull/831

So something like this should work
```podman inspect registry.access.redhat.com/ubi8 --format='{{ range .Config.Env }}{

[2022-03-22 10:05] giuseppe commented on #3979
opened a PR: https://github.com/containers/podman/pull/13587

[2022-03-22 10:08] xsa commented on #12751
@n1hility

Yes.

No.

No errors. All successful.

Nope.

[2022-03-22 10:14] giuseppe commented on #13419
could it be a race condition?

What was the first session that created the podman pause process?  e.g. was it running in a separate ssh session?

rootless podman cannot use any GID it wishes to, newgidmap would not allow using a gid if it not already allocated to the user.

what is the parent process of `catatonit -P` process that keeps the rootless user namespace alive and what is its UID/GID?

[2022-03-22 10:17] giuseppe commented on #13382
@mheon are you fine with https://github.com/containers/podman/pull/13398 or https://github.com/containers/podman/pull/13403?

[2022-03-22 10:20] giuseppe commented on #13341
this doesn't look like a podman issue, AppArmor should not block the `pidfd_send_signal` call

[2022-03-22 10:20] #13341 closed

[2022-03-22 10:25] giuseppe commented on #13338
this is fixed with https://github.com/containers/common/pull/947

[2022-03-22 11:07] flouthoc commented on #13092
This looks like a `swagger` or `go-swagger` issue to me, it should resolve type for `Mount` from `runtime-spec` however it resolves types from `docker/api/types/mount/mount.go` which is not even part of struct.

[2022-03-22 11:16] #13557 closed

[2022-03-22 11:31] baude commented on #12751
my assumption is also you have rm'd the machine at least once and done a new init?  If so, can you provide the output from `podman --log-level=debug` <your_command>.  Perhaps it will reveal something.

[2022-03-22 11:44] baude commented on #8016
we intend to have a default volume mount in 4.1, but for now you have to mount it.  Consider something like -v $HOME:$HOME ?

[2022-03-22 11:45] djarbz commented on #13338
Thanks @giuseppe
Is there a way to confirm that my version of containers-common has the fix?
I am using the Alvistack repo to get the latest packages for Debian and I see it was last compiled today, but I am still experiencing the error.

[2022-03-22 11:50] flouthoc commented on #13291
I think following might is useful for cases when user is already aware about the tar which is being imported, above PR closes this issues: https://github.com/containers/podman/pull/13588

[2022-03-22 11:54] baude commented on #13535
Im not sure what is going on here.  Here are some things to try:

1. podman machine rm
2. podman init ....
3. try a different build
4. share your build context dir so we can try it

[2022-03-22 12:06] fulldecent opened #13589 "Documentation: setup with VS Code"
I am requesting please that a complete setup guide for podman with VS Code be added and maintained as part of our official documentation. Just like this but substituting Docker for podman: https://code.visualstudio.com/docs/remote/create-dev-container

# Why

VS Code is a major use case, they have excellent support for containers and their support is viral. **When you open a git repo configured fo

[2022-03-22 12:06] giuseppe commented on #13363
users are able to create more keys and they are able to use more memory since each key can be up to `/proc/sys/kernel/keys/maxbytes` bytes.  With the default 200 and 20000 users can use around 4M of memory, in your case they can go up to ~8M.

I am closing the issue since it is a system limit and not something Podman can deal with

[2022-03-22 12:06] #13363 closed

[2022-03-22 12:08] owtaylor commented on #13446
OK, dug into this some, and I believe that the situation is:

* podman < 4: `\t` is replaced with a literal tab for all templates
* docker cli: `\t` is replaced with a literal tab, `\n` is replaced with a literal newline for many template arguments (ps, images, etc), no replacements are done for other templates (inspect, info). With the dividing line being, as I understand it, the templates where

[2022-03-22 12:14] flouthoc commented on #13446
I think for consistency `--format` of all the options should match but if `docker inspect` is being treated as anomaly then I think we should also do this, but since changes in https://github.com/containers/common/pull/831 seemed intentional I'll request @jwhonce to take a look.

I'll also re-open this issue since this needs more clarification.

[2022-03-22 12:21] giuseppe commented on #13422
would something like `podman pod create --name test --share +pid,+uts` work too?

[2022-03-22 12:43] xsa commented on #12751
Correct @baude -- And here's the output you asked.

[code]

[2022-03-22 12:49] baude commented on #12751
@xsa ok, two ideas ... just to confirm, are you on an Intel Mac?  Second, can you gert onto libera irc and join #podman?  maybe we can figure some things out?

[2022-03-22 12:51] baude commented on #13589
@fulldecent thanks for the submission.  We are actually in the process of writing that exact kind of thing!  your request suggests we are on the right track!  assigning to @jwhonce as the author

[2022-03-22 12:53] flouthoc commented on #12660
@Aight25 Producing a warning SGTM but one doubt would be when should we warn, do we want to warn on every command invocation ? Cause it might become annoying for users after a while also making an API call to check version on every command sounds expensive to me.

Ideally `podman-remote info` shows version for both `remote` and `server` shouldn't that be enough for checking compatibility ? I'd sug

[2022-03-22 12:59] mtrmac commented on #13582
(Note that this is _only_ affecting the human-readable log output; it would not show up in the API.)

[2022-03-22 13:21] mheon commented on #13382
Preference would be for #13398 but if folks prefer 13403 I will not object too strongly

[2022-03-22 13:29] lsm5 commented on #13579
@cevich @TomSweeneyRedHat how do we wanna do this? fedora 35 + copr or fedora 36?

[2022-03-22 13:44] #13578 closed

[2022-03-22 14:14] wnm3 commented on #8016
Thanks @typekpb the article you referenced is nicely organized and provided the missing step for me when initializing the machine to mount data that could later be referenced by the -v command when running a container.

[2022-03-22 14:23] rhatdan commented on #13579
Looks like this is fixed now.

$ ./bin/podman run --rm quay.io/podman/stable:latest cat /etc/redhat-release
Fedora release 35 (Thirty Five)

[2022-03-22 14:23] #13579 closed

[2022-03-22 14:24] Luap99 commented on #13579
This is still a poor ux IMO.

[2022-03-22 14:27] rhatdan commented on #13579
I agree, but I don't think pulling in a non improved package into fedora is a great improvement.

[2022-03-22 14:43] baude commented on #13491
@benoitf are you ok with tailing a file?

[2022-03-22 14:56] #13382 closed

[2022-03-22 16:17] brianjmurrell commented on #12715
My uid on this system is 11412345.  Might that have something to do with the problem?

[2022-03-22 16:36] mafischer opened #13596 "Error: unrecognized command `podman unshare`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman unshare

**Describe the results you received:**
[code]
**Describe the results you expected:**
[podman unshare](https://docs.podman.io/en/latest/markdown/podman-unshare.1.html) command appears to be missing from latest version of podman.
**Additiona

[2022-03-22 16:49] Luap99 commented on #13596
podman unshare is a local only command. The remote api does not give you access to execute commands on the host directly.
If you want to use this use `podman machine ssh` to enter the vm.

[2022-03-22 16:52] mafischer commented on #13596
Thanks @Luap99

[2022-03-22 16:52] #13596 closed

[2022-03-22 16:54] mafischer commented on #13596
Would be nice if the remote podman could at least display information via `podman unshare --help`

Let the users know that the command is only available locally.

[2022-03-22 16:55] Luap99 commented on #13596
Created https://github.com/containers/podman/pull/13598 to at least mention it in the man page.

[2022-03-22 17:13] cevich commented on #13533
In many cases we should already have separate (non-containerized) tests, so only skipping incompatible is necessary.

Yep, and if you think we need to do something like add `--dns` or other arguments to [the `podman` call](https://github.com/containers/podman/blob/b4b8b8b5374967f9a98aef6c9793c51342d54b9d/contrib/cirrus/runner.sh#L132-L139), I'm not opposed to that either.

[2022-03-22 17:16] markkrj commented on #13422
With my patch (above), or you are proposing such behavior?

With patch above, that would fail, as it would strip only leading '+' from `--share`... but `--share +pid,uts` would work, even though, uts is already in default shares, so it is not needed. Only namespaces missing from `--share` are cgroup and pid, but (IIUC) cgroup is inherited from pod, so only pid would be needed.

[2022-03-22 17:17] Luap99 commented on #13415
Closing, feel free to continue the discussion here.

[2022-03-22 17:17] #13415 closed

[2022-03-22 17:33] cevich commented on #13579
Certainly, and perhaps that need extends beyond 4.0 + current fedora?  Should we do a `:rawhide` (assuming it exists) + upstream podman maybe?  In any case, F36 will be here shortly and I'm sure we'll get more "feedback" than we're able to handle in a day :grinning:

[2022-03-22 17:38] elfosardo opened #13599 "podman build fails if dnf inside Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running podman build, the process fails as the container OS can't resolve a repository url
The host machine can resolve the url with no problem

**Steps to reproduce the issue:**

1. Run podman build with a Dockerfile that contains a dnf command

2. the build fails with:
[code]

**Descri

[2022-03-22 17:47] flouthoc commented on #13599
Hi @elfosardo I can't see your entire container file or setup so would be hard to tell. But could you try a different base image to test if networking is working fine, maybe `ubuntu:latest` and do `apt-get update` inside container.

I think most likely its issue with your container's `dnf` config, if networking is working fine for other base images.

[2022-03-22 17:49] giuseppe commented on #13422
yes I was proposing something more generic

[2022-03-22 17:50] giuseppe commented on #12715
what is in your `/etc/subuid` and /etc/subgid` files?

[2022-03-22 17:52] giuseppe commented on #13338
the change must be vendored in Podman, so you'll need a newer Podman

[2022-03-22 17:59] brianjmurrell commented on #12715
I've actually opened containers/buildah#3834 about my current problems and those files are at the end of that report.

[2022-03-22 17:59] elfosardo commented on #13599
@flouthoc while doing the test, some more info, I'm using ubi8 as base image -> https://catalog.redhat.com/software/containers/ubi8/ubi/5c359854d70cc534b3a3784e?container-tabs=overview

I'm not modifying any dnf related configuration or any other part, just adding some internal repositories and running dnf upgrade

[2022-03-22 18:26] countofsanfrancisco opened #13601 "Container signing against an HSM."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

** Container Signing against an HSM (Hardware Security Module) **

According to docs/tutorials/image_signing.md, the private key needs to be on the same server as the signing server. In my infrastructure this is not possible as the private key is protected by an HSM. Is it possible to either (a) produce a

[2022-03-22 18:33] elfosardo commented on #13599
@flouthoc I was having issues pulling the ubuntu image so I tried with a simple centos image, my Dockerfile contains only:
[code]
same result
[code]

[2022-03-22 18:47] flouthoc commented on #13599
@elfosardo Could you try with `podman build --network=private -t test .`, although it seems like there is a issue with your network cause on your local its working fine cause mirrorlist is cached but inside container is failing which getting the mirror list.

[2022-03-22 18:55] Luap99 commented on #13599
I would think that `--network private` is already the default so I would try with `--network host` first.

[2022-03-22 19:48] cevich commented on #13533
[Newer containerized F36 testing results](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6631604939390976/html/int-podman-fedora-36-root-container.log.html) (annotated log) - Should these tests be skipped also?

[2022-03-22 20:17] Luap99 commented on #13533
Well they should work too but this is the same problem as in the other tests, feel free to skip them until we fix it or add the `rm /usr/bin/systemd-run` workaround.

[2022-03-22 20:39] edsantiago commented on #12029
Uh-oh. Seen just now in [f35 root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6390551242080256/html/sys-podman-fedora-35-root-host.log.html#t--00226):
[code]

[2022-03-22 20:56] rhatdan commented on #12804
@idleroamer Progress?

[2022-03-22 21:00] rhatdan commented on #13461
If we could do this simply, IE if an executable is in a directory, then we can show it in the help, and execute the commands, then I am fine with it.  If it involves huge engineering, then I agree it is not worth it.

[2022-03-22 21:07] muayyad-alsadi commented on #13461
This is exactly this is what I want. Just execute the binary and display help.

[2022-03-22 21:12] rhatdan commented on #13461
PRs welcome.  :^)

[2022-03-22 21:17] konstruktoid commented on #11541
Yeah, absolutely

[2022-03-22 21:22] cevich commented on #13533
Roger, thanks.

[2022-03-22 21:52] jwhonce commented on #12804
@idleroamer I have picked up this issue.

ContainerCreate appears to have all the options for the compatibility API listed. Were you looking for documentation on the fields?

[2022-03-22 22:01] jwhonce commented on #12804
@idleroamer I see two differences in ContainerList, we support an additional query parameter `external` which need not be used. And the filter `isolation`, is not supported as podman service does not support windows. Did you expect the unsupported filter to be ignored?

[2022-03-22 22:06] sfc-gh-hyu opened #13603 "Support seccomp-notify-socket and seccomp-notify-plugins option sent to conmon"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Latest conmon support two new options: `--seccomp-notify-socket` and `--seccomp-notify-plugins` which allows user to load a dynamic library as a plugin to handle seccomp user notification. However, there is no way to pass those two options to conmon. [Here](https://www.scrivano.org/posts/2

[2022-03-22 22:17] jwhonce commented on #12804
@idleroamer Do you have an audit tool you were using or did you find these issues coding against the API?

[2022-03-22 23:12] pymonger commented on #13185
Hi @giuseppe, that would definitely work.

[2022-03-22 23:17] TomSweeneyRedHat commented on #13589
@fulldecent, IDK if it's of use, but we have a video by Chris Short on our YouTube channel demoing how he does it.  I know it doesn't take the place of a document, but it might be a stop-gap for you or others finding this issue:  https://www.youtube.com/watch?v=FnBzu3X9AMs&t=2s

[2022-03-23 00:27] #12804 closed

[2022-03-23 06:30] elfosardo commented on #13599
@flouthoc @Luap99 thanks, using `--network host` seems to work
not sure what the root cause is though

[2022-03-23 06:33] dav009 commented on #13464
@rhatdan  @cdoern  happy to contribute and learn if some hints are given. TA!

[2022-03-23 06:36] flouthoc commented on #13599
@elfosardo Could you try without `--network host` as well now ? I am assuming it could have been something with your network.

[2022-03-23 07:50] elfosardo commented on #13599
@flouthoc just did another test, removing `--network host` brings back the issue and the build fails because it can't resolve the repo url

[2022-03-23 08:52] flouthoc commented on #13599
@elfosardo Does any network call work at all when you remove `--network host`, could you try `RUN curl google.com` or something similar ?

[2022-03-23 08:55] elfosardo commented on #13599
@flouthoc I was actually doing some tests with pure curl, and from what I can see no host can be resolved during build without `--network host` option

[2022-03-23 09:06] elfosardo commented on #13599
that works:
[code]

[2022-03-23 09:20] dtantsur commented on #13599
I have the same issue, but for me the situation is even more confusing: `dnf` works in `podman build`, but not in `sudo podman build` (using the same source).

[2022-03-23 09:20] Luap99 commented on #13599
@elfosardo Can you provide the output of `ip link` on the host. I susspect there could be a mtu mismatch here.

[2022-03-23 09:21] dtantsur commented on #13599
My `ip link` if it helps:
[code]

[2022-03-23 09:25] dtantsur commented on #13599
The fun continues:
[code]

[2022-03-23 09:35] Luap99 commented on #13599
@dtantsur You might have a different issue. Do you use cni or netavark? Plese check in podman info for network backend.

@elfosardo Do you run as root or rootless?

[2022-03-23 09:36] dtantsur commented on #13599
Oookay, interesting (sorry for spam - posting as I discover things). I see the same issue with podman 3.4.1-dev on my outdated Stream 8 machine but NOT in a Stream8 VM inside that machine. Both are completely different environments from the first machine, so I think we can rule out both podman 4.0 and most of potential environmental issues.

[2022-03-23 09:41] elfosardo commented on #13599
@flouthoc same as @dtantsur , sudo doesn't work, without sudo it works

[2022-03-23 09:42] dtantsur commented on #13599
Podman infos:
- From the first broken machine: https://pastebin.com/NnerLJJw
- From the second broken machine: https://pastebin.com/n2m08Ac4
- From the working VM: https://pastebin.com/ir6ieRsA

The first machine has `networkBackend: cni`, the other two do not list a networkBackend.

[2022-03-23 09:42] Luap99 commented on #13599
I suspect there is something wrong with the iptables rules.
Can you paste the output `iptables -nvL -t nat` and `iptables -nvL`

[2022-03-23 09:42] Luap99 commented on #13599
networkBackend is new with 4.0 older versions always use cni

[2022-03-23 09:43] elfosardo commented on #13599
my `ip link` output is a bit longer, but essentially similar to @dtantsur
btw I'm on CentOS Stream 9 at the moment
[code]

[2022-03-23 09:46] elfosardo commented on #13599
`sudo iptables -nvL -t nat`

[code]

[2022-03-23 09:47] elfosardo commented on #13599
`sudo iptables -nvL`

[code]

[2022-03-23 10:03] Luap99 commented on #13599
OK I see nothing wrong there, have you tried rebooting the system?
Also is `firewalld` running? If so can you stop it and try again.

[2022-03-23 10:16] vrothberg commented on #13603
Thanks for reaching out, @sfc-gh-hyu!

@giuseppe PTAL

[2022-03-23 10:16] giuseppe commented on #13603
I've tried to do that in the past but I've not come up with a nice UX.  Do you have any suggestions how this should look like without the user having to know about internal details as seccomp-notify-socket)?

[2022-03-23 11:49] elfosardo commented on #13599
@Luap99 restarted host and disabled firewalld, same issue

[2022-03-23 11:50] #13327 closed

[2022-03-23 11:56] Luap99 commented on #13599
Can you switch to netavark and try with this I do not see anything wrong here.
`dnf install netavark` and `podman system reset -f` should make you switch to the new stack, make sure to check this in `podman info`

https://www.redhat.com/sysadmin/podman-new-network-stack
https://podman.io/blogs/2022/02/04/network-usage.html

[2022-03-23 11:59] rhatdan commented on #13464
The decision was to do the following.  When a container exits, podman container cleanup is executed.

This program needs to be changed to check if the container is running within a Pod, if so, and the pod has no other containers running, it should stop the pod.  If there are other containers running, then it should just exit.

A Pod with no containers should continue to run, which it will.

We nee

[2022-03-23 12:15] #13291 closed

[2022-03-23 12:22] lsm5 commented on #13579
rawhide tag does exist in the fedora container image and seems to get built regularly (maybe with every compose) as dnf update doesn't seem to update anything.

[2022-03-23 12:30] rhatdan commented on #13579
Problem with that, is I believe Rawhide now == f37, so there is no f36 release.  If everyone wants to hack this until f36 is released, I can live with it.

[2022-03-23 12:51] #13270 closed

[2022-03-23 12:55] fithisux opened #13609 "Intel macOS qemu_podman-machine-default.sock: connect: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I upgraded my podman with brew to 4.0.2. I tried to use it but it does not work.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

4.

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happen

[2022-03-23 12:59] lsm5 commented on #13579
there's also a fedora:36 published btw.

[2022-03-23 12:59] rhatdan commented on #13185
SGTM --passwd-entry and --group-entry.

[2022-03-23 13:20] baude commented on #13609
consider the following:

1. podman system connection ls ; how many listings are there.  Are you certain the default listing is correct for the default machine?  if you dont know and don't care, rm the machine; then double check system connections.  if some still exist, remove them and start over at init.
2. do the dirs being cited exist? do you have write permissions to them?
3. are there any secu

[2022-03-23 13:20] baude commented on #13609
wooh, @Luap99 nice find.

[2022-03-23 13:22] Luap99 commented on #13609
@baude Maybe this workaround helps:
https://github.com/containers/podman/blob/f049cba47c31d31a4a8ed9a9180f0e847be3411c/cmd/rootlessport/main.go#L201-L217

But I have no idea if this would work on darwin.

[2022-03-23 13:22] baude commented on #13609
@Luap99 or @fithisux you could also create a shortened machine name. i.e.  `podman init --now foo`

[2022-03-23 13:27] baude commented on #13609
verified on my m1 that indeed the long name throws the same errors.

[2022-03-23 13:29] kbaran1998 opened #13612 "Improving directory structure within libpod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

While going through the `libpod` directory, I saw that 72 `.go` files were not placed into sub-directories, making it challenging to go through it and find a specific file within some logical structure. It is a bit of a nit, but I think it could improve the development experience.

**Step

[2022-03-23 13:36] elfosardo commented on #13599
@Luap99 unfortunately same story with
`networkBackend: netavark`

[2022-03-23 13:37] Luap99 commented on #13612
While I agree that libpod package is supper big and hard to browse most stuff needs to be there. The way go code works each directory is one package.

Splitting this would be a huge amount of work for almost no benefit

[2022-03-23 13:43] Luap99 commented on #13599
It must be somehow related to your environment.
Can you try with  `podman run -it --rm  --network bridge  centos:stream8 curl google.com` to make sur ethis test actually uses the bridge networking.
If this works I suspect there is something causing a huge packet loss and thus dnf times out.

[2022-03-23 13:44] mheon commented on #13612
The Libpod god-package is also mostly deliberate, and due to Go's visibility rules. The original Libpod API design (from waaaay back - I don't think it was ever committed to Git) had libpod/containers, libpod/pods, libpod/images, but that required making a lot of implementation details (e.g. direct access to the public container store) in Libpod become public, and we did not want these in the publ

[2022-03-23 13:49] elfosardo commented on #13599
@Luap99 same result `curl: (6) Could not resolve host: google.com`

[2022-03-23 13:49] vrothberg commented on #13612
Go supports that if a package is placed under a `internal` directory.  In theory, there could be a `libpod/internal` package: everything behind that is only accessible to `libpod` but not to the outside.

[2022-03-23 13:54] giuseppe commented on #13328
can you share the content of `/proc/self/mountinfo`?

[2022-03-23 13:55] vrothberg commented on #13612
Nope that's not allowed:
[code]

[2022-03-23 13:56] vrothberg commented on #13612
We're making quite some use of that in containers/image to evolve the internal API without breaking the external one.

[2022-03-23 13:57] giuseppe commented on #13185
I am not sure we need `group-entry` at this point: `return fmt.Sprintf("%s:x:%s:%s\n", g.Name, g.Gid, username)`.  There is not much we can customize here

[2022-03-23 13:57] elfosardo commented on #13599
@Luap99 that works, and yes the issue is the dns, I think I mentioned that in the description of the issue

[2022-03-23 14:05] baude commented on #13609
i got this one ..,.

[2022-03-23 14:07] Luap99 commented on #13599
`Resolving timed out after 30000 milliseconds` can mean anything, it doesn't have to be related to dns.

Can you paste the output of `podman run -it --rm --network bridge centos:stream8 cat /etc/resolv.conf`

[2022-03-23 14:14] fithisux commented on #13609
Unfortunately this is not possible. But my issue is that the files / sockets is not there at all

`Last login: Wed Mar 23 15:14:37 on ttys001
➜  ~ ls /var/folders/70/tpb1l8jd45s8zj742ljrmbs80000gp/T/podman

➜  ~ ls -l /Users/vassilisanagnostopoulos/.local/share/containers/podman/machine/podman-machine-default

➜  ~`

[2022-03-23 14:16] fithisux commented on #13609
This does not seem to work

➜  ~ podman init --now foo
Error: unknown flag: --now
See 'podman init --help'
➜  ~

[2022-03-23 14:18] rhatdan commented on #13259
I agree, I also think a static Podman makes little sence, since Podman relies on so many other programs to be able to run properly.  It is not a standalone application.
You need, conmon, OCI Runtime (crun, runc, kata ...), newuidmap, newgidmap, containers-common, container-network-stack (cni or netavark), container-selinux, slirp4netns ...

[2022-03-23 14:21] Luap99 commented on #13609
use `podman machine init` ...

[2022-03-23 14:25] elfosardo commented on #13599
@Luap99 output of `cat /etc/resolv.conf`

[code]

[2022-03-23 14:30] iwt-kschoenrock commented on #12292
I'm encountering this problem as well (Win 11 21h2)

[2022-03-23 14:32] Luap99 commented on #13599
Is 8.8.8.8 blocked by your firewall? Try `nslookup google.com 8.8.8.8` from the host. What is in your `/etc/resolv.conf` on the host.

[2022-03-23 14:38] fithisux commented on #13609
Works now. Thank you.

[2022-03-23 14:42] dtantsur commented on #13599
I seem to vaguely recall that either our internal network blocks 8.8.8.8 or (more likely) 8.8.8.8 blocks our internal network. This may be the clue indeed:
[code]
but then I don't understand the difference between `sudo` and no `sudo`.

[2022-03-23 14:45] jsanta commented on #8016
Tried creating my podman machine with the -v parameter to  mount a folder, specifically /opt
Worked on a first try, restarted my mac and stopped working. Had to  create again my containers without any volumes.
I'm getting:
[code]
Then to check:
[code]

[2022-03-23 14:45] pbrezina opened #13613 "Error: open /var/lib/containers/storage/overlay-containers/.../userdata/.../exit/...: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running Ansible with podman connection plugin inside GitHub Action to provision and build container images. I get randomly this error:

[code]

It happens when Ansible tries to call chmod a+x on a file that it wants to execute, it goes through the code down to `podman exec` and I believe

[2022-03-23 14:49] baude commented on #8016
@jsanta can you please file a new issue for this one?  can you also walk me through all the commands issued? I appreciate it.

[2022-03-23 14:53] wnm3 opened #13615 "Trouble COPYing from synlinked directory that was mounted into podman with machine init -v"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a symlinked directory /store/waamount that points to /Users/wnm3/csnext/aiden/ai-c-aiden/common/WAAUXServer/data
I have initialized my machine passing -v /store/waamount:/store/waamount
This has allowed me to run containers from images I'd already built, using the -v /store/waamount:<s

[2022-03-23 14:55] baude commented on #8016
there is a github discussion on the matter at -> https://github.com/containers/podman/discussions/13537

please file new issues for bugs regarding volume mounts.

[2022-03-23 15:12] afbjorklund commented on #13259
The other container runtimes provide an all-in-one tarball, it is not fully static but it does include e.g. `runc` and `containerd`

[2022-03-23 15:28] fulldecent commented on #13589
Thank you. I have watched the video and it does not appear to have anything to do with podman integration. It seems like he is just using VS Code to SSH into another box. And he is running manual podman commands in the terminal on those boxes.

The possibilities for VS Code integration are much greater. You are able to open a repository, not know anything about podman, not have access to other ser

[2022-03-23 15:30] giuseppe commented on #13185
opened a PR: https://github.com/containers/podman/pull/13616

[2022-03-23 16:06] rhatdan commented on #13259
Well if someone in community is interested in maintaining that then they are welcome to it.  But if it is just going to be a source os issues, with mismatched versions, then it is more of a pain. Running a container image from a distribution is a simpler solution if people want to try newer versions of XYZ container engine.

[2022-03-23 16:10] elfosardo commented on #13599
I confirm it's blocked, and also puzzled by the sudo-no-sudo difference

[2022-03-23 16:18] Luap99 commented on #13599
So the difference can be explained easily. Rootless uses slirp4netns which acts as userspace proxy. It allows us to use the system resolver because it is just another process in the host namespace.

If you run as root it will route traffic normally with firewall rules. I think your resolver contains only localhost addresses they cannot be reached from the container.

It would be very helpful if yo

[2022-03-23 16:20] elfosardo commented on #13599
@Luap99 this is the content of /etc/resolv.conf in the host
[code]

[2022-03-23 16:28] Luap99 commented on #13599
Ok in this case our behaviour is correct and you have configuration problem. Because it is not possible to reach 127.0.0.1 from the container we remove it from /etc/resolv.conf. Now you have no dns servers left so we will add the default google servers.

Possible solutions:
* let your dns server run on the eth0 ip and use this in /etc/resolv.conf
* configure extra nameservers in /etc/resolv.conf t

[2022-03-23 16:55] Luap99 commented on #4219
@mheon WDYT, we could implement this easily in netavark.

Add a field to containers.conf (maybe `firewall_management = true|false`) and pass this down to netavark. In netavark we could implement a new none firewall driver which implements the interface but only provides stub methods with no actual logic.

[2022-03-23 17:09] afbjorklund commented on #13259
Yes, probably best to remove the old nix files from the git repository if they are not working (or being tested) anyway.

[2022-03-23 17:11] giuseppe commented on #13613
@mheon could https://github.com/containers/podman/pull/13600 fix this issue as well?

[2022-03-23 17:11] mheon commented on #4219
Isn't the ask here to continue to add firewall rules as normal, but add an additional chain that runs before any rules we generate, so that users can add their own filtering?

[2022-03-23 17:11] mheon commented on #4219
Regardless of exact details, concur that this is an easy ask for netavark

[2022-03-23 17:12] mheon commented on #13613
Potentially? Depends if this is the same race. @pbrezina Do you have a more complete reproducer?

[2022-03-23 17:12] mheon commented on #13613
(By that, I mean one that ideally doesn't require a Gitlab install)

[2022-03-23 17:18] giuseppe commented on #12713
https://github.com/containers/podman/pull/12718 was merged.  Closing the issue

[2022-03-23 17:18] #12713 closed

[2022-03-23 17:32] Luap99 commented on #13394
I think this is the best we can get: https://github.com/containers/podman/pull/13620

[2022-03-23 17:40] Luap99 commented on #12730
I close this since this is a configuration problem and nothing podman can really fix. We can continue the discussion here.

[2022-03-23 17:40] #12730 closed

[2022-03-23 17:58] mheon commented on #4219
Ahh. Is the request to *completely* disable creation of rules? No NAT, even? That seems strange, but if people really want it, OK.

[2022-03-23 18:38] #13227 closed

[2022-03-23 18:47] rhatdan commented on #12746
So you want the links of the block devices that are present in the container.  How would I figure this out?

[2022-03-23 19:07] rhatdan commented on #12756
@ydayagi Are you interested in documenting what is and is not supported?

[2022-03-23 19:09] rhatdan commented on #12874
We now have support for volumes on Mac and Windows platforms.  Which I believe mostly satisfies this issue.  Closing.

[2022-03-23 19:09] #12874 closed

[2022-03-23 19:18] mheon commented on #11081
Don't believe so

[2022-03-23 20:55] edsantiago opened #13626 "parallel builds not quite there yet"
Looks like #13404 still needs some work. It's flaking. Example 1 was a CI flake in #13536, I can't find a link now. Example 2 happened just a few minutes ago in [f35 rootless netavark](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6099794304172032/html/sys-podman-fedora-35-rootless-host-netavark.log.html#t--00137).

[2022-03-23 21:12] flouthoc commented on #13626
@edsantiago I tried a few things here https://github.com/containers/podman/pull/13536#issuecomment-1072967446 but I was not able to replicate the build flakes but I can see that untagging is stll using `SetNames` however it should use new `RemoveNames` which might cause these flakes, maybe we need to remove `rmi` from the test and use built image count in the test.

[2022-03-23 21:25] zowoq commented on #13394
Is it not possible to have it always use the `qemu` that is set by `CONTAINERS_HELPER_BINARY_DIR`?

[2022-03-23 21:35] flouthoc commented on #13626
@edsantiago One of my suspect is also `wait` call in the test, does `wait` guarantee that a build process was completed, however i'm not able to repro this on my local so this is just my suspect.

But I'll play again with this tests on my machine in really high quantity and chaos to see if i could reproduce any flakes.

Just for reference actual verifier and reproducer which customer reported on b

[2022-03-23 21:57] flouthoc commented on #13626
Yup I think its the race in untagging which happens while calling `rmi` but not a build race a separate issue i think but worth fixing, I'll rectify test so they are only `build` focused and don't use other operations.

[2022-03-23 22:15] edsantiago commented on #13626
If the race is in `rmi`, an argument could be made that the crucial task is to fix the race, not patch the test. (i.e., this may be a really useful test to *keep*)

[2022-03-23 22:22] flouthoc commented on #13626
@edsantiago Yes that must fixed across all code base. Entire code should stop using function `SetNames` but to make sure we don't regress parallel build test i was thinking of something like this in the test for now but I to verify the below diff first.

[code]

[2022-03-23 22:31] n1hility commented on #13451
@Luap99 Right now all we have is the WIP videos atm, which I agree isn't sufficient. We definitely need some overview doc. I agree machine init needs some notes (some of the config parameters are not applicable). To start I could throw together a basic Windows README or wiki page? I have two patches I am trying to squeeze in this week first (away next week)

[2022-03-23 22:47] svenstaro opened #13627 "Allow `podman wait` to wait on healthy state"
/kind feature

**Description**

I'd like for `podman wait` to be able to wait until a container is healthy. Currently we are using an external blocking command that's exactly the same as the health command and I think this could be made to be more elegant. This scenario crops up if starting a container in detached mode for integration testing, for instance.

I think this might be easy to add consi

[2022-03-23 23:14] kishorekkota opened #13628 "Issue with port forward in corporate proxy envinronment"
/kind bug

**Description**

PODMAN 4.x seems to have addressed the issue with PODMAN Machine carrying the proxy setting local machine and set it in the PODMAN VM Machine. With this release, it did address the issue around Connection Timeout thats seen while running PODMAN Machine in Mac OS.

But this introduced another issue, that could be specific how my company works.

I am able to run PODMAN co

[2022-03-24 01:40] grooverdan commented on #12746
Iterate the mount points inside the container taking into account; default mounts, volumes, and `--device` arguments passed
-  `stat` on those locations
- use the returned `st_dev` broken out to the major/minor device numbers as the symlinks in `/sys/dev/block` to keep.
- `readlink` on those.

`tmpfs` mask `/sys/dev/block`
- recreate the symlinks.

Optionally to enhance isolation:
* mask `/sys/dev

[2022-03-24 01:42] jmontleon opened #13629 "podman -r manifest push does not work unless I log into quay within the machine vm first"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've set up a podman machine, done a multiarch build, and tried to push it using the machine. It seems to work up until I run podman -r manifest push.

**Steps to reproduce the issue:**

1. podman machine init --cpus 2 -m 8192
2. podman machine start
3. podman machine ssh sudo rpm-ostree inst

[2022-03-24 07:54] ydayagi commented on #12756
I can document the parts I know of. where should I add this doc?

[2022-03-24 08:03] elfosardo commented on #13599
@Luap99 thanks for the analysis and the help
The host we use is a development machine with dnsmasq
I think the only viable solutions for our case is to try having extra namservers in /etc/resolv.conf or containers.conf
I'll do some tests, worst case scenario we have the `--network host` option as a workaround

[2022-03-24 08:22] fithisux opened #13631 "[macOS] Error: for attach: setxattr"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to attach a folder for busybox ls (sanity check) in my MacOS laptop through podman

**Steps to reproduce the issue:**

1. podman machine init -v /Users/vassilisanagnostopoulos:/mnt/Users/vassilisanagnostopoulos foo

2.podman run -it --volume /mnt/Users/vassilisanagnostopoulos/work:/sh

[2022-03-24 08:35] dtantsur commented on #13599
@Luap99 thank you so much!

Note that this behaviour affects all systems that use a local dnsmasq as a resolver, which may be all modern distributions that use NetworkManager (RHEL, Fedora, Ubuntu, ...?). If anyone has 8.8.8.8 blocked, they will see exactly the same problem.

[2022-03-24 08:37] benoitf opened #13632 "wrong example in `podman machine set` help"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman machine help` shows an invalid example command

**Steps to reproduce the issue:**

1. Run `podman machine set --help`

[code]

There is an example saying : try `podman machine set --root=false`

Try to run this example

[code]

**Describe the results you received:**
See the error

[co

[2022-03-24 08:43] Luap99 commented on #13599
The default for fedora and also some other distros is systemd-resolved (which uses 127.0.0.53 in resolv.conf), for this we have a workaround because it writes the actual upstream resolvers to `/run/systemd/resolve/resolv.conf`. Unless dnsmasq has a similar fixed location there is not much podman can do besides adding default servers such as 8.8.8.8.

[2022-03-24 08:47] benoitf opened #13633 "Allow to manage existing podman machine cpu/memory/disk through cli"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

As a user, you start a podman machine (probably using defaults)

Then at some point, you want to increase the memory or cpu or even the disk size
Or also decrease the settings because you want to adjust to your needs.

But this is not possible easily today.

`podman machine set` command a

[2022-03-24 08:58] vrothberg commented on #11784
I agree.

[2022-03-24 08:58] #11784 closed

[2022-03-24 09:40] Luap99 commented on #13628
I think I know the problem since the port forwarding also uses http to talk to the gvproxy api it will get redirect to the proxy which cannot connect to gvproxy.

Should be easy to fix, we need to make this http request does not use a proxy.

[2022-03-24 09:46] hyche commented on #13535
I think the problem is my context dir is probably too large, I have a Rust project dir which is a workspace, it contains 3 crates. After I remove all `target/` dir (which is build directory), it did speed up, and only delay a few seconds, but even I have a `.dockerignore` which blacklist `target` dir, it still checks for it ?

The .dockerignore is simply like this
[code]

[2022-03-24 09:53] Luap99 commented on #13633
Disk could be difficult because we would need to change the file system size as well.

The other ones should be easy to implement.

[2022-03-24 09:57] Luap99 commented on #13631
Does it work when you remove the `:z`?

[2022-03-24 10:02] Luap99 commented on #13533
@cevich The fix for this is in netavark v1.0.2.

[2022-03-24 10:06] flouthoc commented on #13533
@Luap99 Does it also work without disabling the firewalld in the host or we still have to do it in CI.

[2022-03-24 10:06] flouthoc commented on #13533
I haven't tried the new patch yet but i can give it it a try.

[2022-03-24 10:13] fithisux commented on #13631
Yes it does. What is this z ?

[2022-03-24 10:13] pbrezina commented on #13613
Unfortunately I don't have any other reproducer. The description in the PR sounds like it may fix it, besides "If an exec session is created that exits almost instantly, but generates a large amount of output (e.g. prints thousands of lines)". Ansible only runs chmod in this case and that will not generate thousands of lines.

[2022-03-24 10:19] Luap99 commented on #13533
CI runs without firewalld AFAIK, I have not looked why it is failing with firewalld.

[2022-03-24 10:23] Luap99 commented on #13631
z stand for selinux relabeling which requires extended attributes. I am not sure if virtiofs support this.
https://github.com/containers/podman/blob/main/docs/source/markdown/podman-run.1.md#--volume--vsource-volumehost-dircontainer-diroptions

If it works without out it you do not need it.

cc @baude @rhatdan

[2022-03-24 10:24] #13631 closed

[2022-03-24 10:41] vrothberg commented on #13292
Closing as there was no further feedback. We can reopen if needed.

[2022-03-24 10:41] #13292 closed

[2022-03-24 12:19] rhatdan commented on #13627
@vrothberg @baude @mheon Thoughts?

[2022-03-24 12:35] rhatdan commented on #13275
Because Docker standardized on setting the hostname based on the container name when creating the containers, I think we can stick with this standard.  Podman creating pods based on the name is also our standard, and we use hostname, which I think is a better long term solution, so I don't believe there is anything to change here.

[2022-03-24 12:35] #13275 closed

[2022-03-24 12:46] rhatdan commented on #13599
Is this discoverable?

[2022-03-24 12:47] vrothberg commented on #13627
I like the idea, thanks for proposing

[2022-03-24 12:55] Luap99 commented on #13599
I think so, at least on my default fedora 35 install I also have `/run/NetworkManager/no-stub-resolv.conf` even if it uses systemd-resolved. I reopen this, I think we should check `/run/NetworkManager/no-stub-resolv.conf` first before defaulting to google servers.

[2022-03-24 13:05] rhatdan commented on #13599
SGTM

[2022-03-24 13:14] rhatdan commented on #12746
Seems like a hell of a lot of work, potentially very error prone, and I am not even sure it is the right thing to do.  Might make more sense to expose the mount masks in containers.conf and just allow users to choose.

[2022-03-24 13:17] kishorekkota commented on #13628
@Luap99  Thank you.

[2022-03-24 13:27] rhatdan commented on #12756
Man pages.

[2022-03-24 13:36] rhatdan commented on #13535
@jwhonce I think we were doing the filtering on the client side, for just this reason, was that removed?

[2022-03-24 13:43] rhatdan commented on #13631
Mac file systems based on Plan 9 does not support SELinux labeling `z` and `Z` should not be used.  When we transition to use virtiofsd, it should support SELinux labeling, and then we can use it for better container separation on the MAC.

Currently the volumes mounted into the VM are labeled as nfs_t, and all containers are allowed to read/write the content.

[2022-03-24 13:55] lolllpop opened #13643 "port_handler=slirp4netns not publishing multiple ports anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using port_handler=slirp4netns to preserve the src IPs, podman v4.0.2 does not publish multiple ports anymore, only the first port seems to be forwarded. On v.3.4.4, publishing multiple ports does work.

**Steps to reproduce the issue:**

1. podman run -p 2379-2380:2379-2380 --network slirp4n

[2022-03-24 14:01] Luap99 commented on #13643
I take a look

[2022-03-24 14:06] elfosardo commented on #13599
@Luap99 I confirm also on CentOS Stream 8/9

[2022-03-24 15:36] cevich commented on #13533
I believe that's right, ya, we do not install firewalld explicitly.

[2022-03-24 15:43] cevich commented on #13533
Thanks guys, I'll keep an eye out for that version number

[2022-03-24 16:46] runbmp opened #13649 "generated systemd unit file hangs on enable with rootless user"
/kind bug

**Description**

https://github.com/containers/podman/issues/8506 appears to be back

**Steps to reproduce the issue:**

1.  `podman-compose up -d && podman-compose stop`

2. `podman generate systemd --name caddy --files && mv container-caddy.service ~/.config/systemd/user/`

3. `systemctl --user enable --now container-caddy`

**Describe the results you received:**
Enabling the unit han

[2022-03-24 16:55] jwmatthews opened #13650 "Error from remote 'manifest push' is hidden"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Errors from 'podman manifest push' are silently dropped, no output returned of what went wrong.
This was seen while looking into issue #13629

**Steps to reproduce the issue:**

1.  podman machine init --cpus 2 -m 8192
2. podman machine start
3. podman machine ssh sudo rpm-ostree install qemu

[2022-03-24 16:59] #13515 closed

[2022-03-24 17:09] #3979 closed

[2022-03-24 17:11] #13394 closed

[2022-03-24 17:49] #13086 closed

[2022-03-24 17:53] #13628 closed

[2022-03-24 18:13] runbmp commented on #13649
I did a `podman-compose down` followed by `podman container prune` and `podman image prune` and then a `podman-compose up` and `podman-compose stop` and regenerated the systemd units and they work  just fine.

[2022-03-24 18:13] #13649 closed

[2022-03-24 18:15] #13293 closed

[2022-03-24 18:32] zowoq commented on #13394
@Luap99 Should I open a new issue for this?

[2022-03-24 19:01] Luap99 commented on #13394
Well the idea is to keep the behaviour as @baude said. First use the path which was used for init.

Isn't this something you could patch downstream, this problems looks very nixos specific.

[2022-03-24 19:27] jmontleon commented on #13629
Looking at push it looks like auth headers might be missing. This seems to get it working:
[code]

[2022-03-24 19:29] kishorekkota commented on #13628
Do i need to wait for a release or something i can try it again and see if this is resolved ? When i can get this version of Podman ?

[2022-03-24 19:38] unixfox commented on #7415
Sorry to add one more comment to a closed issue, but there is no clear documentation on how to easily enable ipv6 on podman. On docker there is one here: https://docs.docker.com/config/daemon/ipv6/
Anyway, for anybody finding this command, here is a quick example on how to run an NGINX container with ipv6 published ports on 8080:
[code]
I hope this help.

[2022-03-24 19:51] rhatdan commented on #13629
Interested in opening a PR?

[2022-03-24 19:52] rhatdan commented on #13628
We will probably back port this and release podman 4.0.3 early next week.

[2022-03-24 19:54] rhatdan commented on #7415
Care to write a blog on how you did this?

[2022-03-24 20:03] jmontleon commented on #13629
Sure!

[2022-03-24 20:03] Luap99 commented on #13394
I understand that.
The problem with using `CONTAINERS_HELPER_BINARY_DIR` is that this was mainly added for testing purposes.
The env var is not documented. I would never expected someone to use it outside of this context. I have no problem with you using it for this, it is just that relying on an undocumented implementation details is often not a good idea.
So the first step would be to document `

[2022-03-25 00:00] zowoq commented on #13394
TBH I'd be very happy if `CONTAINERS_HELPER_BINARY_DIR`/`FindHelperBinary` and all the other preconfigured paths here and in `containers/common` went away and `podman` just looked for everything in $PATH. (cni plugins are probably the only ones that need any special handling.)

Yes, that would work.

We aren't choosing to keep it around and it isn't actually installed, `/nix/store` is the users pa

[2022-03-25 00:48] kishorekkota commented on #13628
thanks a bunch

[2022-03-25 07:08] fishbar commented on #8768
@hellocloudnative  the offical Golang does not support sw_64 arch,  you should read this blog https://blog.frytea.com/archives/598/?hmsr=joyk.com&utm_source=joyk.com&utm_medium=referral

[2022-03-25 08:20] giuseppe commented on #13419
I am closing this issue since I don't see how it could be caused by Podman.  Podman runs as unprivileged user and it cannot change its UID/GID (except to the ones configured in `/etc/sub?id` through the newuidmap/newgidmap tools).

Please add more comments and we try to help debug what is going on

[2022-03-25 08:20] #13419 closed

[2022-03-25 08:38] giuseppe commented on #9540
this is done with https://github.com/containers/podman/pull/13059

[2022-03-25 08:38] #9540 closed

[2022-03-25 08:39] giuseppe commented on #12035
got no feedback, closing the issue

[2022-03-25 08:39] #12035 closed

[2022-03-25 08:51] Luap99 commented on #13394
The function already looks in $PATH so I am not sure why you use `CONTAINERS_HELPER_BINARY_DIR`, that doesn't change the fact that it will still record the full path on init. So if this is already symlinked it should just work?

[2022-03-25 09:50] rhatdan commented on #12475
once we get done with bugfix mode, we should tackle this rework of the cobra CLI

[2022-03-25 09:52] rhatdan commented on #13628
@kishorekkota If you want you can open a cherrypick your self to get it into the 4.0 branch.

[2022-03-25 09:56] zowoq commented on #13394
$PATH not working because of recording the full path is why I originally opened the issue. I would like for `CONTAINERS_HELPER_BINARY_DIR` to work as we discussed above:

[2022-03-25 10:33] Luap99 commented on #10090
Given that @mheon removed the runtime lock (https://github.com/containers/podman/pull/13311) I would think this is fixed.
Can anyone try this with the main branch?

[2022-03-25 11:11] rhatdan commented on #12929
@fpoirotte interested in opening a PR to add this?

[2022-03-25 11:34] rhatdan commented on #12850
@Luap99 What do you think about doing something like the following patch and retaining the order that the user added the objects.

[order.patch.txt](https://github.com/containers/podman/files/8350021/order.patch.txt)

[2022-03-25 11:36] rhatdan commented on #11446
@eriksjolund @giuseppe any update on this?

[2022-03-25 11:36] rhatdan commented on #10076
@jwhonce do we still have this issue?

[2022-03-25 11:38] rhatdan commented on #9597
Since no one is working on this and Ed said we can close it...

[2022-03-25 11:38] #9597 closed

[2022-03-25 11:42] Luap99 commented on #12850
I am not a huge fan of adding a new field for this, this will everything more complicated, this can be set by api users so we would need to check for invalid user input.
IMO if we want to make it deterministic we should sort by the interface name, then we can apply the names in the frontent in the order which --network was given. But adding the names in the frontent would also conflict with https:

[2022-03-25 11:45] rhatdan commented on #12850
Let discuss this on Monday with @mheon at standup.

[2022-03-25 11:57] arctic-alpaca commented on #10076
There is currently no consistent naming in the API, neither in parameters, nor in responses.
The [system->get info endpoint](https://docs.podman.io/en/latest/_static/api.html#operation/SystemInfoLibpod) example from the first post in this issue is still using multiple naming schemes.

[2022-03-25 12:14] thmo commented on #10090
In which release is this going to be?

[2022-03-25 12:25] karta0807913 commented on #10800
Hi everyone, I have the same problem.

I already set the `--cgroup-manager=cgroupfs` options.

It works sometimes, but I get the same problem now.

[code]

[code]

[2022-03-25 12:26] rhatdan commented on #10090
Definitely 4.1

[2022-03-25 13:07] mlegenovic opened #13661 "--sysctl kernel.msgmax=<value> in rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind question

**Description**

Is it possible to use --sysctl argument for rootless container?

From documentation:

_--sysctl=name=value_

_Configure namespaced kernel parameters at runtime._

_For the IPC namespace, the following sysctls are allowed:_

_- kernel.msgmax_
_- ..._

There is no hint that this argument i

[2022-03-25 13:26] mheon commented on #13661
Because of the inherently unprivileged nature of rootless Podman, most sysctls are not going to work (it might even be *all* sysctls, but I don't know enough to answer that definitively, and will defer to @giuseppe for that). It seems like we need to update the manpages to indicate the `--sysctl` generally requires root privileges.

[2022-03-25 13:29] kishorekkota commented on #13628
@rhatdan  Are there nightly builds that get released - if i do so ?

[2022-03-25 13:33] giuseppe commented on #13449
From what I can see Docker doesn't have any special handling for uid != 0 and `--privileged`.  I've looked into the generated OCI configuration file and they configure all the capabilities but they do not set `Ambient` capabilities, so on the exec into the container all the caps are effectively lost.

It seems that a lot of code in our capabilities handling is just there to emulate the issue in Do

[2022-03-25 13:37] mheon commented on #13449
I believe the first time this came up it was considered a CVE because we were granting "excess capabilities" - so I'm not opposed, but we should be cautious given potential security implications here.

Will try and find the CVE once I'm done reviewing issues and PRs

[2022-03-25 14:49] mheon commented on #11940
I was seeing this earlier this week in a slightly different context (`podman ps` and `podman rm -af`), so I took a further look. Current observations support it being contention of the container locks, which is exacerbated by the amount of parallel processes we run . I believe our algorithm is CPU Cores * 3 +1, which means that on my system, I have 25 threads going for both `podman ps` and `podman

[2022-03-25 14:56] mheon commented on #11940
Other possible thought: randomize the order in which we act on containers. `podman ps` and `podman rm` were operating on the same set of containers in the same order, with one being a lot slower than the other, so `ps` was run second but caught up quickly and ended up waiting on locks until `rm` finished. Random ordering much improves our odds of getting containers that aren't in contention.

[2022-03-25 14:57] giuseppe commented on #13449
that would be done only with `--privileged`.  Isn't that the expectation when you use that flag?

[2022-03-25 15:05] mheon commented on #13449
Evidently, it is not. I found the CVE:

https://access.redhat.com/security/cve/CVE-2021-20188

It's not specifically SYS_ADMIN (I believe it's DAC_OVERRIDE) but it's definitely a too-many-caps issue.

[2022-03-25 15:30] mheon commented on #11940
I added a bit of randomization to the ordering, but it wasn't enough - no appreciable increase in performance, there are still too many collisions (25 parallel jobs over 200 test containers meant `ps` and `stop`, for example, are each working on 1/8 of total containers at any given time - high odds for collisions, which cause lock contention, which cause `ps` to slow down....)

[2022-03-25 15:32] giuseppe commented on #13449
Maybe it is too late to fix it, but I disagree with that CVE and the analysis.  The current behavior is quite confusing as it looks like there is a separation between the "container capabilities" and the "PID 1 capabilities".  To me, they are the same thing.

The command line I specify, IMO, should apply to the process that is launched.  Instead, it seems that `--privileged` affects future exec se

[2022-03-25 15:42] giuseppe commented on #13661
it depends on the sysctl.  Some of them are namespace, some others are not.

In the specific case of `kernel.msgmax`, it is namespace but only root in the initial user namespace (i.e. the real root), can write to it:

[code]

[2022-03-25 15:42] #13661 closed

[2022-03-25 16:06] jwhonce commented on #13535
@rhatdan Short answer - yes filtering is still there. https://github.com/containers/podman/blame/37bb6aa346e584a37366538b33cd906f4762b5ab/pkg/bindings/images/build.go#L583
Longer answer - there have been a number of changes in that code, one could have broken the filename matches.
A quick scan of the e2e tests, does not show a test covering this scenario.

[2022-03-25 16:09] vrothberg commented on #11940
@mheon, that is a great trail your on.

Maybe we should think in terms of a work pool rather in terms of workers per caller.  Could we have a global shared semaphore to limit the number of parallel batch workers?  That would limit lock contention etc.  AFAIK the locks are already fair.

[2022-03-25 16:26] sfc-gh-hyu commented on #13603
@giuseppe Can we just add a new option `--conmon-seccomp-notify-plugin`?

[2022-03-25 16:27] giuseppe commented on #11446
I've tried again to reproduce locally but no luck

[2022-03-25 16:38] giuseppe commented on #13603
sure.

Would you like to open a PR?  That would be the quickest way to move forward

[2022-03-25 16:55] mheon commented on #11940
We do have a semaphore right now, but it's per-process, not global. Making it global is potentially interesting, if we can get a MP-safe shared-memory semaphore.

[2022-03-25 16:58] sfc-gh-hyu commented on #13603
Sure. Do you have any recommendation/best practice on where to put this `seccomp-notify-socket`?

[2022-03-25 17:03] mheon commented on #11940
Shared semaphore looks viable. My only concern is making sure that crashes and SIGKILL don't affect us - if, say, `podman stop` is running and using all available jobs, and then gets a SIGKILL, we want the semaphore to be released back to its maximum value.

[2022-03-25 17:11] giuseppe commented on #13603
do you mean `--conmon-seccomp-notify-plugin`?

To start playing with it, I'd suggest it becomes part of `--security-opt`, e.g. `--security-opt seccomp-notify-plugins=....`

[2022-03-25 17:19] sfc-gh-hyu commented on #13603
No what I mean is that ideally, we want to hide `seccomp-notify-socket` from end users. End users only need to pass the path to the plugin ( a.k.a. a dynamic library). But conmon need to unix domain socket so that kernel can return the notification back to userspace. I think podman should mange this unix domain socket, i.e. create this unix domain socket somewhere in the filesystem, and pass this

[2022-03-25 18:19] eriksjolund commented on #11446
I currently don't have access to the laptop that I used for the previous tests,
but I can reproduce the issue on another computer.

Running
[code]
in one Bash terminal didn't reproduce the issue, but running the the command in two Bash terminals at the same time reproduced the issue:

[code]

Software versions:
[code]

[2022-03-25 18:49] paralin opened #13663 "podman: play kube: replace and/or down option not working with api"
/kind bug

**Description**

When calling "podman kube play" via the API with either "Down: true" or "Replace: true" in PlayKubeOpts,

[code]

**Steps to reproduce the issue:**

1. Use the "tunnel" ContainerEngine w/ the remote bindings.
2. Call PlayKube to create a kube pod.
3. Call PlayKube again with Replace: true or Down: true.

**Describe the results you received:**

[code]

**Describe the res

[2022-03-25 18:53] paralin commented on #13663
I noticed that in the domain/infra/tunnel/play.go the options Replace and Down are not checked.

[2022-03-25 19:01] giuseppe commented on #13603
it should probably be some internal path under the podman rundir (e.g. `/run/user/1000/libpod/tmp/$CONTAINER_ID-notify`)

[2022-03-25 19:59] mheon commented on #13601
I'll tag @mtrmac and @vrothberg given their work on cosign

[2022-03-25 20:01] mtrmac commented on #13601
a) https://github.com/containers/image/tree/main/docs

b) see #6259 .

Cosign would entirely change a); as for b), the supportability/testing concerns would stay the same, and continue to likely be a blocker; the _technology_ is very different (quite likely impacting which HSMs are usable).

[2022-03-25 20:04] mheon commented on #13601
Any chance Cosign would let us delegate the HSM bits to their upstream? Or was that too much to hope?

[2022-03-25 20:04] mheon commented on #13601
Regardless, closing as dupe of #6259

[2022-03-25 20:04] #13601 closed

[2022-03-25 20:10] rhatdan commented on #13449
I would prefer we figure a way for users to specify it perhaps in containers.conf. I like the separation between root user having the caps and rootless requiring a setuid app to get it.

[2022-03-25 20:20] giuseppe commented on #13449
so is  `--privileged` used only to enable all capabilities in the bounding set?  If it is to affect exec sessions, there is always the possibility to specify `--privileged` for the exec itself:

[code]

[2022-03-25 20:26] mtrmac commented on #13601
To an extent. There is quite a lot of various interoperability code there (including _some_ PKCS#11 support); but most of that is something we can’t practically test, so it’s unclear that we would want to ship it in Podman. It’s definitely not going to be a part of our _first_ version.

Cosign could help in the sense that it would be possible to use Podman to create an image, and then use the the

[2022-03-25 20:42] Luap99 commented on #13663
We handle this in https://github.com/containers/podman/blob/dd2a28bfe623a722bb1126acf7c7148f7bb11847/cmd/podman/play/kube.go#L195-L202

We do not support using `pkg/domain/infra/tunnel` directly in external code. Please use the `pkg/bindings` directly, everything else is not stable and we do not support use cases outside of podman.

[2022-03-25 20:42] #13663 closed

[2022-03-25 20:51] countofsanfrancisco commented on #6259
I think we need to simply the HSM compatibility and testing problem.  HSMs are varied and there really isn't any standard protocol for it. The closes one is the KMIP protocol. One mentioned CMS earlier. Even these two protocols are not widely implemented for HSM. I think a lot of HSMs are proprietary so asking to support HSM may not be the best way to support HSM. Perhaps, the best way to support

[2022-03-25 21:00] paralin commented on #13663
I understand what you're saying, but it really sounds like:

This code is objectively broken but it's okay because we don't allow third parties to call it.

[2022-03-25 21:31] pratclot opened #13664 "Completion in bash 5 gives bash: _get_comp_words_by_ref: command not found"
/kind bug

**Description**

Hi! I am using `Arch` with `bash 5.1.16(1)-release`, installed `bash-completion` package.

After doing `. <(podman completion bash)` pressing Tab after having typed `podman` gives this:

[code]

**Steps to reproduce the issue:**

1. Install bash 5 and bash-completion, podman.

2. Type `podman` in a new terminal session.

3. Hit Tab.

**Describe the results you received:

[2022-03-25 21:42] jahamilton12121 commented on #13419
@giuseppe I have it set up so the user and podman containers are created by a systemd job running a single threaded python script and not initiated by ssh sessions/direct user input. Basically it creates a user, then loads a podman image inside of it, then a new systemd job will load podman run inside the user.

Creating a user
[code]

How I load the container image inside the user. (the image is

[2022-03-25 21:52] sfc-gh-hyu commented on #13603
Sounds good. I will see if I can figure something out and submit a pr.

[2022-03-25 21:55] jahamilton12121 commented on #13419
Also I have two users with different names that run the same image. These users are the only ones that are problematic
[code]
[code]

[2022-03-25 21:58] jahamilton12121 commented on #13419
[code]

[2022-03-25 22:15] leonardolang commented on #13492
Hi - I also experienced the same issue and had some trouble pinpointing what was causing this behaviour in the particular script where it appeared, but eventually was able to narrow it down to having a `buildah run` statement after `buildah config --volume=[..]`. Not sure if there are other requirements but I was able to consistently trigger/avoid the issue.

See below a minimum example that trigg

[2022-03-25 22:48] jwhonce commented on #13535
@rhatdan @hyche I added a test in https://github.com/containers/podman/pull/13665 to ensure that .containerignore is being honored.

@hyche How many files were in the target/ directory? We currently use filepath.Walk() when building the tarball and I suspect [filepath.WalkDir()](https://github.com/golang/go/issues/42027)  might be faster when there are a lot of files in an ignored directory.

[2022-03-26 03:37] saikpr commented on #5906
Just experienced the same in a fresh debian installation with podman version `3.0.1`

[2022-03-26 05:28] hyche commented on #13535
The target/ dir contains 334 directories, and 3136 files, it's about 2.6GB size.. So it's fairly large. And yeah, I can confirm the `.dockerignore` works, there is another large directory which is `.git` dir (around ~800 MB), after I exclude it the build now build instantly though. Thanks all for the support!

[2022-03-26 07:50] giuseppe commented on #13664
do you have the bash-completion package installed?  On Fedora it is:

[code]

I expect it to have the same name on Arch

[2022-03-26 08:35] keonchennl commented on #13627
May I work on this?

[2022-03-26 08:39] giuseppe commented on #13419
can you share the content of `/etc/passwd` and `/etc/group` when that happens (at least the portion for `name` and `name-thing`)?

[2022-03-26 08:45] jahamilton12121 commented on #13419
[code]

[2022-03-26 09:44] rhatdan commented on #9075
@mheon I think it is time you work on this one, since you understand it the best.

[2022-03-26 09:52] rhatdan commented on #13535
@jwhonce Are you going to switch to filepath.WalkDir()?

[2022-03-26 11:19] pratclot commented on #13664
Hey @giuseppe, thank you for reaching back.

I have it installed I believe:
[code]

Do I need 2.11-3 for it to work?

[2022-03-26 12:01] rhatdan commented on #13627
Sure

[2022-03-26 12:23] nivekuil opened #13669 "ipv6 connectivity -- managing NDP entries"
/kind feature

**Description**

Podman 4.0 has added support for ipv6 static addresses (really appreciating the perf improvements with netavark, btw). Podman also has facilities for routing traffic to containers (e.g. managing firewall rules). With this in mind, it could be nice if Podman also took the step of ensuring ipv6 connectivity through managing the host's NDP table.

Linux has some suppor

[2022-03-26 13:04] navidys opened #13670 "container rename command is not generating event"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman container create --name busybox01 busybox

2. podman container rename busybox01 busybox02

3. podman events --since 0h1m

**Describe the results you received:**

 `podman events` output includes image pull and container create events but no events

[2022-03-26 15:09] afbjorklund commented on #13615
If I recall correctly, the files used with the `COPY` command needs to be in the build context.

[2022-03-26 15:15] afbjorklund commented on #13609
You should still be able to use `ssh` sockets just fine, it's just the legacy `unix` sockets that have this limit.

[2022-03-26 17:24] ThanatosDi opened #13671 "failed to mount runtime directory for rootless netns: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

bug

**Description**

From docker to Podman to develop with Laradock
after build, want up containers will get error **failed to mount runtime directory for rootless netns: no such file or directory**

**Steps to reproduce the issue:**

1. build nginx, php-fpm(8.0), workspace with Laradock

2. podman-compose up -d nginx

[2022-03-26 18:29] mheon commented on #9075
Ack, sure.

[2022-03-26 20:03] rst0git opened #13672 "Checkpoint of imported container with different name fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman/CRIU fails to checkpoint a container restored using `--import` and `--name`.

**Steps to reproduce the issue:**

1. Create container
[code]

2. Checkpoint container with `--export` and remove old container
[code]

3. Restore container checkpoint with `--import` and `--name`
[code]

4.

[2022-03-26 20:04] rst0git commented on #13672
cc: @adrianreber

[2022-03-26 23:38] nycnewman opened #13676 "Building multi-arch with podman appears to result in a pushed image with only one arch"
**Description**
Attempting to build multi-architecture images on MacOS using Podman appears to be broken and resulting uploaded image has only one architecture. It also appears that images are tagged as localhost/<expected-tag> or no tag at all.

podman installed on M1 Apple with Monterey 12.3. Also installed qemu-user-static into podman machine to enable multiarch execution.

The process appears

[2022-03-27 00:39] alanruttenberg commented on #13566
Thank you very much @adrianreber for the explanation! Yes, using -XX:-UsePerfData does let it work.  Repeating to make sure I understand: If I change any file after I resume a checkpoint, I won't be able to resume it again.

I had done some experiments with --export but the performance was too slow for what I'm aiming for. It took at least 10 seconds and sometimes low 20 seconds to import and rest

[2022-03-27 09:01] eriksjolund commented on #13236
Another mechanism that might be useful is to store information with [memfd_create()](https://man7.org/linux/man-pages/man2/memfd_create.2.html) and [sd_pid_notify_with_fds()](https://www.freedesktop.org/software/systemd/man/sd_notify.html). I don't know if that mechanism could be helpful for this issue, but I think it's worth mentioning.

I tested it with a minimal C program and saw that file desc

[2022-03-27 09:18] adrianreber commented on #13566
Yes, if any file which is opened by any of the checkpointed processes changes in size, CRIU will not restore the process to avoid unnecessary possible failures. It could work but CRIU stays on the safe side.

With export there is usually a compress/decompress (which can be disabled, by the way) and copying involved. Try to disable compression during checkpointing with `--compress none` (I think).

[2022-03-27 11:13] #13629 closed

[2022-03-27 12:10] rhatdan commented on #13628
No, sorry

[2022-03-27 12:10] farnoy opened #13673 "Infra container from pods leaks from the cgroup/systemd hierarchy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1. Create a pod with a container in it

2. Import `podman generate systemd $pod_name` into your systemd directory
3. Edit `$container_name.service` to replace `--cgroups=no-conman` to `--cgroups=split`
4. `systemctl start pod-$pod_name.service`

**Descri

[2022-03-27 22:16] jahamilton12121 commented on #13419
@giuseppe After testing a reproduction script for a while it seems it only happens when the virtual machine undergoes a custom ssd reset which deletes several things. The service files to the systemd jobs are removed but the jobs themselves can stay running. Users are not affected and the container keeps running. But I have a script which will remove them after a reset

Currently this happens:
res

[2022-03-28 02:11] seantwie03 opened #13675 "win-sshproxy.exe does not exist in 4.0.2 remote windows client."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install podman 4.0.2 on Windows 10 21H2 with WSL2 installed

2. podman machine init

3. podman machine start

**Describe the results you received:**
win-sshproxy.exe is not included in podman-remote-release-windows_amd64.zip
[code]

**Describe the results

[2022-03-28 06:09] grooverdan commented on #13236
The gain, by moving to `Type=notify`, is like @eriksjolund's socket activation example shows, is that we get to use containers on services that are aware of systemd, and use its notify/api controls, running both in a container as a systemd service transparently.

[2022-03-28 07:49] flouthoc commented on #13676
@nycnewman I am closing this issue since you need to push manifest and works fine with `podman-remote` and `podman-machine` setup but please feel free to reopen if you are still facing issue with `macOS` as I did not try on `macOS` but it should work.

@ashley-cui @baude Could you try this on `macOS` please.

[2022-03-28 07:53] Hendrik-H commented on #6259
The callback approach sounds good to me. In a addition to the actual signing and verification it should also possible to somehow easily create the hash for the image. I for example need to sign SHA-3 hashes and not SHA-2 hashes.

[2022-03-28 09:30] flouthoc commented on #13670
Hi @navidys , Thanks for creating the issue above PR should close this.

[2022-03-28 10:51] navidys commented on #13670
Hi @flouthoc
Thanks for that.

[2022-03-28 10:54] Luap99 commented on #13671
Do you have slirp4netns installed?

[2022-03-28 11:15] Luap99 commented on #13664
Did you restart your shell after installing bash-completion?

I don't see this as podman issue, I would figure that this is a problem with your bash-completion package on arch.

The function is defined here https://github.com/scop/bash-completion/blob/c0f328f42eca7717a6200718ffa865bbd5e5914d/bash_completion#L392 so something is not loading it in your session.

[2022-03-28 11:15] #13664 closed

[2022-03-28 11:38] Luap99 commented on #13663
That is what not supported means. I understand your problem but this is not a single problem in that place, you will find this everywhere. There is no consistent structure of what is done in cmd/podman, pkg/domain or libpod.

[2022-03-28 11:51] giuseppe commented on #13673
`--cgroups=split` affects the container, not the pod.  We currently don't have a way to customize the pod cgroup (unless you set it manually with `--cgroup-parent`), could you share what you got and what you would expect it to be?

[2022-03-28 12:30] giuseppe commented on #11446
still no luck, I've tried on two different systems.  Have you changed anything in the default configuration?  In what environment are you running that command (GNOME, ssh, ...)?

[2022-03-28 12:35] paralin commented on #13663
Why do those functions accept Opts arguments if half the parameters are not used?

This is code smell which, when ignored, can lead to major problems down the line when new developers make certain common sense assumptions about what the code is doing based on how it's written.

As someone who is about to adapt a lot of code to podman from docker, seeing things like this get shoved under the rug so

[2022-03-28 12:47] dcermak commented on #10941
This issue has now been fixed in the `main` branch, but released podman versions like 3.4 still suffer from this bug. Could this be backported to the 3.4 branch as well please?

[2022-03-28 13:15] rhatdan commented on #10941
We don't backport unless it is to supported Branches like in RHEL, and even there we frown on it.

[2022-03-28 13:15] #13670 closed

[2022-03-28 13:16] vrothberg commented on #10941
That doesn't apply to the current state since we cannot bump Fedora 35 to v4.0.  We actually did backport quite some patches to Podman v3.4 because of that.

[2022-03-28 13:27] mheon commented on #13675
@n1hility PTAL

[2022-03-28 13:29] eriksjolund commented on #11446
#### Previous laptop HP EliteBook 850 G6
On the previous laptop that I currently don't have access to, I was logged in to a gnome-session and ran the command in gnome-terminal. At that time I had the feeling that I could trigger more failures by opening up many web browser tabs and switch between the web browser tabs rapidly. (I didn't test it enough times to validate that theory though. It could

[2022-03-28 13:37] #13650 closed

[2022-03-28 13:47] soukainakhalkhouli opened #13678 "CI/CD by using podman and tekton"
While building images using teckton pipeline i’m getting this error :
Writing manifest to image destination
Storing signatures
time="2022-03-28T09:48:59Z" level=debug msg="Start untar layer"
time="2022-03-28T09:48:59Z" level=error msg="Error while applying layer: ApplyLayer exit status 1 stdout:  stderr: Error creating mount namespace before pivot: operation not permitted"
time="2022-03-28T09:48:5

[2022-03-28 13:48] soukainakhalkhouli commented on #13678
My dockerFile is:
#!/bin/bash
# uncomment to debug the script
#set -x
# copy the script below into your app code repo (e.g. ./scripts/build_image.sh) and 'source' it from your pipeline job
#    source ./scripts/build_image.sh
# alternatively, you can source it from online script:
#    source <(curl -sSL "https://raw.githubusercontent.com/open-toolchain/commons/master/scripts/build_image.sh")
# ---

[2022-03-28 13:49] rhatdan commented on #13678
Looks like tekton is taking away some SYSCALLs required for podman to run within a container.

[2022-03-28 13:51] soukainakhalkhouli commented on #13678
thank you @rhatdan

Any idea on how i can fix the issue

[2022-03-28 13:56] soukainakhalkhouli commented on #13678
Below logs:
API endpoint: https://cloud.ibm.com
Logging in with API key from environment variable...
Authenticating...
OK

Targeted account GBS co Macys (6e87f4ebc26c4f8caf2df653328cf065) <-> 2300460

Targeted region us-south

API endpoint:      https://cloud.ibm.com
Region:            us-south
User:              Bharath.Kumar.Endhurthi@ibm.com
Account:           GBS co Macys (6e87f4ebc26c4f8caf2d

[2022-03-28 14:04] rhatdan commented on #13337
@vrothberg @Luap99 any movement on this?

[2022-03-28 14:06] vrothberg commented on #13337
Nope.

[2022-03-28 14:07] Akasurde commented on #13337
@rhatdan @vrothberg I am interested in working on this.

[2022-03-28 14:08] Akasurde commented on #13337
/assign @Akasurde

[2022-03-28 14:15] soukainakhalkhouli commented on #13678
DockerFile is :
`FROM alpine:latest
#FROM python:3.6
COPY . /app
WORKDIR /app
RUN pip install -r requirements.txt
ENTRYPOINT ["python"]
CMD ["app.py"]
`

[2022-03-28 14:34] edsantiago opened #13679 "upgrade from v3.1.2: cni plugin bridge failed: failed to allocate"
This one isn't new -- the first instance I see is from January -- but it's starting to happen daily
[code]
### [Upgrade] 12 exec
* fedora-35 : Upgrade test: from v3.1.2
  * PR #13662
    * [03-25 12:16](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5122246594265088/html/upgrade_test-podman-fedora-35-root-host.log.html#t--00012)
  * PR #13637
    * [03

[2022-03-28 14:37] edsantiago commented on #12273
### Podman run networking [It] podman run check dnsname plugin with Netavark
* fedora-35 : Netavark int podman root
  * PR #13662
    * [03-25 11:38](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4594481012932608/html/int-podman-fedora-35-root-host-netavark.log.html#t--podman-run-check-dnsname-plugin-with-Netavark--1)
    * [03-25 11:38](https://stora

[2022-03-28 14:39] edsantiago commented on #12273
This is a different test, but the symptom (dig, no results) looks similar. Oh, and all of these are causing CI failures.

### Podman run networking [It] Aardvark Test 5: Two containers on their own subnets, one container on both
* fedora-35 : Netavark int podman root
  * PR #13662
    * [03-25 11:38](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/45944

[2022-03-28 14:42] edsantiago commented on #12273
Another failure-to-resolve one, possibly related, possibly not

### Podman network [It] podman Netavark network with multiple aliases
* fedora-35 : Netavark int podman root
  * PR #13662
    * [03-25 11:38](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4594481012932608/html/int-podman-fedora-35-root-host-netavark.log.html#t--podman-Netavark-network-wi

[2022-03-28 14:46] mtrmac commented on #6259
The “raw bytes to sign” are currently constructed, and encapsulated in a message format, by GPG, not directly under control of Go code. That’s why replacing the `/usr/bin/gpg*` binary is an obvious interaction point.

Defining some other plugin interface is plausible in principle, but we are talking about:
- a completely new codepath to construct GPG payloads
- a completely new plugin interface
-

[2022-03-28 15:12] Luap99 commented on #13679
Yeah I think there was a reason why I added podman start && podman stop instead of restart.
I will take look.

[2022-03-28 15:48] DemiMarie commented on #6259
As someone who has worked on a program [(Qubes OS split-gpg v1)](https://github.com/QubesOS/qubes-app-linux-split-gpg) that tries to do exactly that, I strongly recommend taking a different route.

The problem with replacing `/usr/bin/gpg*` is that the GPG command-line interface is very difficult to reimplement outside of GPG.  My `gpg` has 422 command-line options, some of which take arguments an

[2022-03-28 15:52] mtrmac commented on #6259
Sure. https://github.com/containers/image/blob/0899a2be301675ac067c3d9f0bec7c8c5bb9bb81/signature/mechanism.go#L20-L38 exists in Go; if someone wants to contribute (and maintain) a third implementation to c/image, and have that implementation shell out to whatever, that’s reasonable. But at given other work (e.g. the Cosign transition), it’s not code we are likely to write, and it’s not something

[2022-03-28 16:39] Luap99 commented on #11829
I think someone should create a document in the repo where we could track API changes more detailed.
Reviewers would need to enforce that this documented is updated when API endpoints are changed.

[2022-03-28 16:57] Luap99 commented on #13679
Good news, I can reproduce. Bad news, it looks like the upgrade test is terribly broken (it is hanging) when you host uses netavark because the old podman will still use cni obviously.

[2022-03-28 17:26] edsantiago commented on #11446
It now reproduces for me, using `registry.fedoraproject.org/fedora:latest  (750037c05cfe)`. It does not reproduce with `quay.io/libpod/testimage:20210610` (which is based on alpine).
[code]
podman main @ b76d717bbfc41188d4e03641c33200f2814a0baf on f35

[2022-03-28 17:28] rhatdan commented on #13678
Can you cause the container used to build to run in privileged mode?

[2022-03-28 17:50] jahamilton12121 commented on #13419
I forgot to mention, a reboot fixes the GID issue. Just leaving everything as is and rebooting without doing anything else

[2022-03-28 18:43] rhatdan commented on #13419
The 40001 is the GID of the "othername" user, so yes this is normal.

[2022-03-28 18:45] jahamilton12121 commented on #13419
I mean 231072      296608     362144

[2022-03-28 18:47] rhatdan commented on #13419
Yes these come from the /etc/subgid files for each user. useradd automatically generates them.

[2022-03-28 18:55] edsantiago commented on #11446
Also reproduces with `registry.access.redhat.com/ubi8:latest  @ 552ac8ae4291`:
[code]

[2022-03-28 19:04] sfc-gh-hyu commented on #13603
@rhatdan I am not sure if I understand question correctly. I am thinking that if `--conmon-seccomp-notify-plugins` is provided to podman during the run or exec command, then podman should try to setup socket, and pass to both plugins and socket to conmon?

[2022-03-28 19:34] rhatdan commented on #13603
Ok so you are saying the user would do somethin like:

podman run --security-opt seccomp:notify ...

[2022-03-28 21:47] sfc-gh-hyu commented on #13603
I would imagine that for certain syscalls, user will say ALLOW or KILL directly, but for other syscalls, it will deferred the decision to the user space. Check example here: https://man7.org/linux/man-pages/man2/seccomp_unotify.2.html It really just depends on how user write the seccomp bpf program, ( or how the seccomp policy file is written ). So I think user would do something like `podman run

[2022-03-28 22:31] mondo192 opened #13683 "Feature request: Add support for "slirp4netns" networking to allow local image registry connectivity with KIND."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'm trying to create a local repository on my machine to store images for containers. Then use the local image repository with Kubernetes IN Docker (KIND) in this case Kubernetes IN Podman. However, when I try to connect the local registry to KIND's network, in order to be able to pull im

[2022-03-28 22:48] thunderbirdtr opened #13684 "AVC Denied - SELinux is preventing bash from read access on the file /usr/lib64/libc.so.6."
/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1.  podman run -it fedora:36 /bin/bash

**Describe the results you received:**

No bash/  podman stop and Selinux warning comes up

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. ou

[2022-03-29 01:37] baude commented on #13684
should this bug not be in bugzilla? And I am not sure why it is a podman problem?  I'll defer to the guy who makes the coloring books.  @rhatdan ptal

[2022-03-29 02:45] baude commented on #13491
@benoitf our current proposal and likeliest implementation will be that we will watch a given directory for sockets.  Should a socket be in the directory, we will write events to it.  This way, readers can opt in and out and there will be no collisions.  As a consequence of this approach, there will also be no history for those events.

[2022-03-29 05:12] robin-a-meade opened #13685 "Unexpected output from `quay.io/libpod/banner` in Basic Networking Guide for Podman tutorial"
/kind bug

**Description**

I receive unexpected output when carrying out the steps of the tutorial [Basic Networking Guide for Podman](https://github.com/containers/podman/blob/main/docs/tutorials/basic_networking.md).

**Describe the results you received:**

[code]
And same for `curl http://127.0.0.1:8081`.

**Describe the results you expected:**

[code]
And same for `curl http://127.0.0.1:8081`

[2022-03-29 06:17] Luap99 commented on #13683
When you start the container with slirp4nents you cannot connect it to other networks (bridge mode).
Why not just start the registry container directly with `--network kind` or you have to start the container with `--network bridge` so you connect more networks later.

I don't think we want to support mixing network modes so I am closing this one.

[2022-03-29 06:17] #13683 closed

[2022-03-29 06:35] flouthoc commented on #13678
@soukainakhalkhouli  Adding securityContext to your tekton step should grant enough priviledge
[code]

[2022-03-29 07:30] ThanatosDi commented on #13671
oh, yes!
I don't have install slirp4netns.
This is my first time to use podman, thanks~

[2022-03-29 07:30] #13671 closed

[2022-03-29 07:41] dcermak commented on #10941
Daniel J Walsh ***@***.***> writes:

This issue most certainly impacts RHEL as well. It impacts everything
but the main branch (and possibly the 4.0 release)

[2022-03-29 08:26] Folaht commented on #12730
I still have this issue with podman 4.

[2022-03-29 09:03] soukainakhalkhouli commented on #13678
Yes @flouthoc  it's already used

[2022-03-29 09:29] grooverdan commented on #12746
If we break this into two tasks, the first and most important, re-populating the `/sys/dev/block` that caused a masking of Linux block device visibility discoverability away from the user-space ([sysfs(5)](https://man7.org/linux/man-pages/man5/sysfs.5.html)). With this I don't we can break this any more than what the masking already did.

Once we have this right, we can think if additional masking

[2022-03-29 09:44] Luap99 commented on #13685
@baude PTAL

[2022-03-29 10:43] flouthoc commented on #13678
@soukainakhalkhouli Could you try `--security-opt seccomp=unconfined --cap-add all` with your `podman build` command i think its a `seccomp` issue.

[2022-03-29 10:59] soukainakhalkhouli commented on #13678
I have tested by using this command and i'm getting the same issue:
` sudo podman build --storage-driver vfs --security-opt seccomp=unconfined --cap-add all -t ${REGISTRY_URL}/${REGISTRY_NAMESPACE}/${IMAGE_NAME}:${IMAGE_TAG} ${DOCKER_ROOT} -f ${DOCKER_FILE} --log-level debug `

[2022-03-29 11:09] flouthoc commented on #13678
Could you also share tekton task yaml and the content of `${DOCKER_FILE}` as well thanks.

[2022-03-29 11:11] soukainakhalkhouli commented on #13678
Yes sure below all documents:
Dockerfile
`FROM alpine:latest
#FROM python:3.6
COPY . /app
WORKDIR /app
RUN pip install -r requirements.txt
ENTRYPOINT ["python"]
CMD ["app.py"]
`
 task.yaml
`apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: build-task
spec:
  params:
    - name: repository
      description: the git repo
    - name: repository-kust
      description: the git repo for kust

[2022-03-29 11:14] soukainakhalkhouli commented on #13678
Yes, sure bellow all files in attachments:
DockerFile:
`FROM alpine:latest
#FROM python:3.6
COPY . /app
WORKDIR /app
RUN pip install -r requirements.txt
ENTRYPOINT ["python"]
CMD ["app.py"]
`

[2022-03-29 11:15] flouthoc commented on #13678
@soukainakhalkhouli I can't see any attached yaml for your tekton task could you check again please.

[2022-03-29 11:16] soukainakhalkhouli commented on #13678
Task.yaml :
`
[task.txt](https://github.com/containers/podman/files/8370770/task.txt)
`

[2022-03-29 11:17] soukainakhalkhouli commented on #13678
@flouthoc  please check this link https://github.com/containers/podman/files/8370770/task.txt

[2022-03-29 11:20] joes commented on #6777
The tutorial [How to run Podman on Windows with WSL2 ](https://www.redhat.com/sysadmin/podman-windows-wsl2) relies on `podman info` creating `$HOME/.config/containers/libpod.conf`. Is there a workaround or is the step "Rootless configuration file changes" in the tutorial simply not necessary anymore?

[2022-03-29 11:47] Luap99 commented on #13679
I think I understand the root cause now.

Podman4 uses a new db structure for networks. Podman3 cannot read this any more.
To understand how it flakes, we need to look at how podman container cleanup works. Running `podman stop` will always cause a race between the `podman container cleanup` and `podman stop`, both processes will try to cleanup the mounts/networks but only one can do it (locked op

[2022-03-29 11:52] rhatdan commented on #12746
Can you do that without breaking the original problem we were striving to fix?

[2022-03-29 12:13] rhatdan commented on #13603
Shouldn't Podman just review the profile.json file looking for SECCOMP_RET_USER_NOTIF and setup the socket?  User would not need to add input?

[2022-03-29 12:15] rhatdan commented on #8193
@Luap99 @mheon Is this still an issue with netavark based systems?

[2022-03-29 12:16] Luap99 commented on #8193
Yes

[2022-03-29 12:19] rhatdan commented on #13684
I am guessing that either you have a labeling issue in your homedir.

$ restorecon -R -v $HOME/.local/share

Or you are volume mounting some content from $HOME/.local/share into your container.

Sometimes container-selinux might not have updated successfully, so you might want to try

$ sudo dnf -y reinstall container-selinux
$  restorecon -R -v $HOME/.local/share

[2022-03-29 12:19] #13684 closed

[2022-03-29 12:25] rhatdan commented on #6777
It should not be necessary if you use podman machine.

[2022-03-29 12:45] #13324 closed, assigned to nobody

[2022-03-29 12:59] dcermak commented on #13324
Thanks for fixing this @rhatdan!

[2022-03-29 13:44] devlead opened #13690 "Server OS can't be queried same way as docker"
/kind feature

**Description**

With docker one can query server os using version command `docker version -f {{.Server.Os}}`, will return `linux` or `windows` based on if the docker engine is configured to build Linux or Windows containers. This has often been used in scripts to determine if Linux or Windows containers should be built.

**Steps to reproduce the issue:**

1. ` podman version -f {{.

[2022-03-29 13:45] jamjon3 opened #13691 "Azure DevOps Container Resource Endpoint: Error: credentials key has https[s]:// prefix"
/kind bug

**Description**

Using podman-docker on a self-hosted agent running RHEL8, defining a container as a resource with an endpoint (predefined service connection) fails with

Error: credentials key has https[s]:// prefix

This is due to the way registry service connections are formatted in Azure DevOps which require the leading 'https://' and cannot be omitted. Using podman-docker allows th

[2022-03-29 14:04] vrothberg commented on #13691
Thanks for reaching out!

Yes, it has been fixed in the meantime and was backported to 3.4.x.  Since you're reporting against RHEL, please reach out through the Red Hat customer channels (e.g., Bugzilla etc.) when reporting issues on RHEL.

A workaround for `podman login` is to strip the `https://` prefix.

[2022-03-29 14:04] #13691 closed

[2022-03-29 14:05] jamjon3 commented on #13691
No. Reverting back to RHEL7 is not what I'm looking for. I'm looking to replace those RHEL7 VM's with RHEL8 and using podman. Currently, podman doesn't work as I described. I have podman docker working and I can build containers with those hosted agents BUT I can't run jobs inside containers using defined resources with a service endpoint.

[2022-03-29 14:06] jamjon3 commented on #13691
I can't 'strip' https:// on a service endpoint in Azure DevOps. Just not an option.

[2022-03-29 14:09] vrothberg commented on #13691
I double checked.  It will be fixed with RHEL 8.6.

[2022-03-29 14:13] sfc-gh-hyu commented on #13603
Yeah, I think that should work as well. I am not aware that podman has the capability to parse the content of profile.json.

[2022-03-29 14:41] mheon commented on #13679
*Usually* `podman stop` will always win because it has a higher priority (assuming it is run keyboard-interactive). However, if run from a script, we lose that.

Maybe we can deliberately nice our `podman cleanup` processes, to try and guarantee other Podman processes get CPU time first? It's not a guarantee but it's better than nothing.

[2022-03-29 15:01] nycnewman commented on #13676
Looks like Github swallowed some of the command lines. I tried the following:

podman build --log-level debug --platform linux/arm64/v8 --platform linux/amd64 --manifest docker.io/nycnewman/web-frontend:0.3 .

podman manifest push docker.io/nycnewman/web-frontend:0.3 docker://docker.io/nycnewman/web-frontend:0.3

podman push docker.io/nycnewman/web-frontend:0.3 docker://docker.io/nycnewman/web-fro

[2022-03-29 16:31] Luap99 commented on #13679
I cannot confirm this on my laptop, if I run `podman --log-level debug stop` interactively it always shows `Network is already cleaned up, skipping... `

Anyway I fixed it in the test, I don't think this is a real world problem.

[2022-03-29 16:32] #13679 closed

[2022-03-29 17:19] afbjorklund commented on #11494
The new "Container Desktop" electron application is available at:

https://github.com/containers/desktop -- with a [v0.0.1](https://github.com/containers/desktop/releases/tag/v0.0.1) release

[2022-03-29 17:38] AddictArts opened #13700 "Cannot resolve mirrors.fedoraproject.org Windows machine init"
BUG REPORT

/kind bug

Windows `podman machine init` after podman-4.0.2.msi install has an error. " - Curl error (6): Couldn't resolve host name for https://mirrors.fedoraproject.org/metalink?repo=fedora-35&arch=x86_64".

**Steps to reproduce the issue:**

1. Install WSL2

2. Install podman-4.0.2.msi

3. Run podman machine init using the Command Prompt.

C:\>podman machine init
Extracting compress

[2022-03-29 17:56] Luap99 commented on #13700
Can you ssh into the vm with `podman machine ssh`?

@n1hility PTAL

[2022-03-29 18:04] AddictArts commented on #13700
@Luap99 unfortunately no since the machine is never started and failed init.

[code]

[2022-03-29 18:36] rhatdan commented on #13603
It doesn't but it could be added, WDYT @giuseppe

[2022-03-29 19:00] n1hility commented on #13700
@AddictArts is this issue transient? what happens if you podman machine rm and then podman machine init? If you have wsl already installed as your instructions indicate, are you able to reach remote sites from within the stock wsl instance (e.g run “wsl” then after getting a bash promt does curl resolve remote addresses)?

btw  I’m away this week with limited availability so will unfortunately be

[2022-03-29 19:59] fraschm1998 commented on #13671
I have slirp4netns and I'm having the same problem using Gentoo linux with openrc:
Podman failed to mount runtime directory for rootless netns: no such file or directory. I'm not sure if it's an issue with SELinux: https://dpaste.com/ANRM893KY
podman info logs: https://dpaste.com/CBPETY4TV

I found where the error message is printed (lines 128-138): https://fossies.org/linux/podman/libpod/networki

[2022-03-29 19:59] fraschm1998 commented on #13671
Edit I tried starting up the container again and get this:

[code]

[2022-03-29 20:03] edowado opened #13702 "Podman and VPN IP Address conflicts"
/kind bug

**Description**

I'm running fedora 34 and installing podman and podman compose broke my VPN (removing it the same way I installed it - with dnf- did not fix the issue).
Is there a way to completely purge podman from my system and bring the changes back?

**Have you tested with the latest version of Podman and have you checked the Podman Troubleshooting Guide? (https://github.com/contai

[2022-03-29 20:08] Luap99 commented on #13671
@fraschm1998 Please create a new issue for this

[2022-03-29 20:15] fraschm1998 opened #13703 "Podman failed to mount runtime directory for rootless netns: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman build .
2. podman-compose up

**Describe the results you received:**
Podman failed to mount runtime directory for rootless netns: no such file or directory. I'm not sure if it's an issue with SELinux: https://dpaste.com/ANRM893KY

I found where the

[2022-03-29 20:25] Luap99 commented on #13702
If you run as root, the default cni network with the `10.88.0.0/16` subnet is used.
A reboot should fix the temporary interfaces and iptables rules. Otherwise you need to remove the cni-podman0 interface manually.

If podman is run rootless it should not conflict with any host network settings.

[2022-03-29 20:28] farnoy commented on #13673
I get this:

[code]

It's the infra container under machine.slice that I'm concerned about. I'd like to have it under pod-hass.service. That would make sense to me.

[2022-03-29 21:01] baude commented on #13702
this can be avoided by changing the default subnet in containers.conf.  I believe, however, you will need a newer version that what is available with F34.

[2022-03-29 21:39] AddictArts commented on #13700
@n1hility Thanks for asking. No it is not transient. I did try those steps and I get the same results. Inside WSL2 and Ubuntu instance I am able to access remote sites.

Mirrors.fedoraproject.org is a redirect, which I can curl from wsl2. This machine though tends to use ipv6, or at least I have had to use ::1 for example as 127.0.0.1 would not work, nor would localhost. Just pointing this out on

[2022-03-29 21:42] n1hility commented on #13675
@seantwie03 as a workaround these are included in the msi windows installer (recommend install mechanism). I can add these to the zip after I am back (currently away this week)

[2022-03-29 21:58] jahamilton12121 commented on #13419
More information, I can repro without doing a reset and just uninstalling and reinstalling. I uninstall all 3 agents in synchronously and reinstall about 60 seconds after the last one is finished being removed. The issue doesn't seem to happen when alternating the uninstall and reinstall.

[2022-03-29 22:01] jahamilton12121 commented on #13419
uninstall process: `systemctl stop jobname` -> remove service file and script file -> remove podman container then image -> remove user.
[code]

remove user
[code]

[2022-03-29 23:12] nickthetait commented on #10941
I'm trying to determine the security impact for this bug. It might deserve assigning a CVE (which I can take care of). Forgive my basic questions as I'm not very familiar with Podman yet. Below are my guesses/questions to the CVSS score, used in determining severity. Please correct me if any assumptions are wrong.

**Attack Vector**
Local - An attacker would need direct access to the host machine?

[2022-03-29 23:14] DemiMarie opened #13706 "Support a setuid/setcap helper and/or privileged service for networking and/or container setup"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, rootless Podman uses slirp4netns, which is slow and has been a source of security problems in the past.  One alternative would be to use native Linux kernel networking.  This requires privileges on the host, however, which is why rootless Podman cannot currently support it.

Th

[2022-03-30 00:30] seantwie03 commented on #13675
@n1hility Thanks for the response. The MSI is working! I'll close this Issue.

[2022-03-30 00:30] #13675 closed

[2022-03-30 02:11] dixonwille opened #13707 "Filepath Conversion issue when running podman machine's in WSL2 and volumes/tmpfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a freshly installed VM using `podman machine init`, I get errors reporting that relative paths are not accepted.

**Steps to reproduce the issue:**

__Case 1__: Easiest way to reproduce is below.

1. `podman machine init`
2. `podman run --tmpfs /tmp hello-world`

__Case 2__: An alternative

[2022-03-30 02:54] shanesmith commented on #13543
Would I be right in assuming this fix will make it into v4.0.3? =)

[2022-03-30 03:25] n1hility commented on #13707
Volume support is not yet fully implemented but on my TODO after I get back (away this week) I have a preliminary client side approach available here if you want to try it out [1], but we need more for detecting and handling docker api clients on the server side. Although, docker clients do work today if you use a /mnt/c/foo/bar convention.

[1] https://github.com/n1hility/podman/tree/client-win-m

[2022-03-30 03:31] dixonwille commented on #13707
I'll check it out thanks for the heads up. Wasn't sure what is/isn't supported considering the WSL2 changes were so recent.

[2022-03-30 04:46] mheon commented on #13543
Assuming it backports cleanly, yes

[2022-03-30 06:51] vrothberg commented on #10941
No.  As an attacker I would try push a malicious image on a public registry and wait for users to run it and run `podman top`.

It is largely independent from how the container is run.

I don't think that's a hurdle. A simple Dockerfile is sufficient.

The latter.  As mentioned above, I would try to push an evil image on a public registry.

It is possible to send signals to the host's systemd whic

[2022-03-30 06:56] giuseppe commented on #11446
I've attempted your reproducer twice:

[code]

What kernel version are you using?  I am on `5.16.14-200.fc35.x86_64`

[2022-03-30 07:50] martinetd opened #13709 "podman info --format does not work with go template format with store/host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'd like to print some specific field of podman info with --format and it doesn't seem to work, or I couldn't figure out the correct syntax:
[code]

compared to the json output or version:
[code]

**Steps to reproduce the issue:**

1. `podman info --format '{{.store.runRoot}}'`

2. notice err

[2022-03-30 08:11] HoogWater opened #13710 "cgroupControllers difference between remote and on vm(podman on mac) when trying to run rootless kind"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When trying to run kind with rootless podman the following error occurs
[code]

**Steps to reproduce the issue:**

1. kind create cluster

**Describe the results you received:**
ERROR: failed to create cluster: running kind with rootless provider requires setting systemd property "Delegate=yes

[2022-03-30 08:21] Luap99 commented on #13709
The golang struct field in a template must always be exported (aka start with an upercase letter). So the naming convention is pascal case.

`podman info --format {{.Store.RunRoot}}` works,
btw you get shell completion for this when you type `podman info --format {{.` and press tab.

[2022-03-30 08:21] #13709 closed

[2022-03-30 08:37] HoogWater commented on #13710
see https://github.com/kubernetes-sigs/kind/issues/2684 for the issue for the kind project

[2022-03-30 08:40] Luap99 commented on #13706
I am really against this.

First of the argument slirp4netns has been a source of security problems in the past doesn't make sense when you ask for a privileged helper program. How can we make sure this helper program would have no security issues? We can't and it it would be much worse since the program would have more privileges that can be exploited. How can we make sure that a user doesn't abu

[2022-03-30 08:40] Luap99 commented on #13706
@baude @mheon @rhatdan WDYT?

[2022-03-30 08:52] benoitf opened #13711 "podman machine list report machine being running before machine is really usable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Start a podman machine (like the default one) using `podman machine start`

And check 'podman machine list' result
You'll notice that the machine goes in state 'Running' before that the machine is really Running.

**Steps to reproduce the issue:**

1. run script `while true;do clear; podman m

[2022-03-30 09:29] garrett commented on #11494
BTW: There's also a brand-new Podman desktop UI written in Rust for GNOME. It's called "Pods":

https://github.com/marhkb/pods

(It's currently a build-it-yourself project, as it's so new... As it's a project built with GNOME Builder, it's just a matter of checking out the source with GNOME Builder and then clicking the play button to build and run it as a Flatpak locally. As such, it'll probably

[2022-03-30 09:57] Luap99 commented on #13703
The error `ERRO[0000] failed to move the rootless netns slirp4netns process to the systemd user.slice: The name org.freedesktop.systemd1 was not provided by any .service files` should be ignored since you do not run systemd. I will fix this so that we do not log the error when you do not use systemd.

`Error: unable to start container 159d3d6111ff17c9c33108d37a547fb382e4909300ee07873f842ae2ac505fb

[2022-03-30 10:30] asdil12 commented on #9724
I have the same issue on a debian 11 (bullseye) system with conmon 2.0.25.

[2022-03-30 11:37] giuseppe commented on #13603
podman uses the content of `profile.json`.  The content in `profile.json` is parsed by Podmand and converted to a configuration usable by the OCI runtime.

We would still need to pass the plugins though (or configure them in `containers.conf`).

@haircommander would it be possible with `conmon-rs` to load `.so` files so we can support seccomp plugins as well?

[2022-03-30 11:50] Luap99 commented on #13566
@alanruttenberg If you want to skip the copy to your host os from the VM you have to use `podman machine ssh podman ...`

[2022-03-30 11:51] #13690 closed

[2022-03-30 12:09] Luap99 commented on #13710
@giuseppe @flouthoc PTAL

[2022-03-30 12:19] Luap99 opened #13713 "podman container clone looses network info"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman clone looses network information for the container. All networks are removed from the container and is only keeps the default one.

**Steps to reproduce the issue:**

1. `podman network create t1`

2. `podman run --network t1 --name test  alpine ip a`

3. `podman container clone test`

[2022-03-30 12:31] Luap99 opened #13714 "Podman container image contains too many host namespaces"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

IMO the podman container image should behave as much as possible like a normal podman on the actual host.
Currently most namespaces are set to host via container.conf in the image:
https://github.com/containers/podman/blob/ff8834f0232f128b781ec23d66a5676da0670847/contrib/podmanimage/stable/co

[2022-03-30 12:42] HoogWater commented on #13710
i am sure
the first is the output of "podman info" on the mac
the second is when ssh'ed into the vm and running a "podman info"

[2022-03-30 12:44] rhatdan commented on #13714
The basic idea of podman and buildah inside of a container, is you already have separate namespaces from the parent container, so use them.  Rather then add the complexity of multiple different namespaces.

[2022-03-30 12:45] rhatdan commented on #13714
Uts should match up with what we decide for network though.

[2022-03-30 12:48] rhatdan commented on #13710
Sure, I just want to make sure that the other parts of info agree.

$ podman info  | grep rootless
    rootless: true
$ podman --remote info  | grep rootless
    rootless: true

[2022-03-30 12:48] Luap99 commented on #13714
Sure but then podman should be working with a host uts namespace.

Also buildah ignores most containers.conf settings, see https://github.com/containers/buildah/pull/3836

[2022-03-30 12:49] vanyasvl opened #13715 "Issue with volumes when recreating a pod"
/kind bug

**Description**

When you creating a pod from kube yaml file with ConfigMap volume, you can't recreate (--replace) a pod
[code]

**Steps to reproduce the issue:**

1. Create and pod and configmap yamls
[code]

[code]
2. Create a pod
[code]
3. Make any changes in yaml and try to recteate a pod
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
I

[2022-03-30 13:08] ncdc commented on #13710
Can confirm `rootless: true` for both those commands

[2022-03-30 13:10] ncdc commented on #13710
[code]

[2022-03-30 13:28] rhatdan commented on #13710
And both are podman 4.0.2 correct?

[2022-03-30 13:39] rhatdan commented on #13710
@giuseppe ideas?

[2022-03-30 14:25] mheon commented on #13711
@baude PTAL

[2022-03-30 14:27] lovette commented on #13277
I stumbled across another reason to make hosts management more flexible... the Visual Studio Code Remote-Containers extension fails its container setup if container hosts does not define `localhost`. I've been running everything with `--no-hosts` to keep the hosts's hosts out of my containers, which leads to an empty containers hosts file. I've now augmented this to `COPY` a hosts file with a sing

[2022-03-30 14:27] fraschm1998 commented on #13703
I do have selinux installed but getenforce reports that it's in permissive mode. These are the logs I could find related to podman in /var/log/messages: http://dpaste.com/FRZSBJKZL

[2022-03-30 14:31] rhatdan commented on #13710
@ncdc Can you add a LGTM to the PR.

[2022-03-30 14:39] Luap99 commented on #13703
We are tying to label it with the iptables_var_run_t type, is that available on your system?
@rhatdan Any idea how to check what package provides this type?

[2022-03-30 14:42] fraschm1998 commented on #13703
These are the packages I have related to iptables:
[code]

[2022-03-30 14:58] msisj opened #13717 "Podman REST API can't create container with mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was trying to implement mounts handling in [podman-py project](https://github.com/containers/podman-py) but it is impossible to do it basing on REST API documentation.

**Steps to reproduce the issue:**

1. Check REST API documentation https://docs.podman.io/en/latest/_static/api.html#opera

[2022-03-30 15:11] mheon commented on #13717
The docs here are completely wrong - that is not the struct used. [This](https://github.com/opencontainers/runtime-spec/blob/main/specs-go/config.go#L110-L120) is what we're actually using.

@jwhonce I recall us seeing this before, is it fixed on newer versions?

[2022-03-30 15:18] Luap99 commented on #13717
I think the problem is that the types used in the swagger docs are not namespaced when they are generated so it will use the same struct name only once.

[2022-03-30 15:23] Luap99 commented on #13703
This is not about missing binaries, you are missing a selinux policy which provides this selinux type.
@rhatdan ideas how to debug this?

[2022-03-30 15:25] DemiMarie commented on #13706
I guess this really needs to be handled on the kernel side, or perhaps by `systemd-networkd`.

The problem with this approach is that it (rather obviously) does not scale.

[2022-03-30 17:24] reda-alaoui opened #13719 "containers.no_hosts is not considered by podman system service"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use Jetbrains IntelliJ to connect to the Docker api. I don't have control on the way IntelliJ communicates with Docker.
All I can do is point IntelliJ to podman unix socket.

I want podman to behave like `Docker` regarding `/etc/hosts` entries management. `Docker` does not copy host `/etc/h

[2022-03-30 17:25] #13643 closed

[2022-03-30 17:43] fulldecent commented on #13589
A great use case for Podman + VS code + GitHub will be for GitHub Pages repositories.

Here is one example GitHub Pages repository: https://github.com/fulldecent/blog.phor.net

GitHub Pages is hosted with Jekyll which can be difficult to install, especially on macOS. Also, this installation has been related some security issues in the past.

A simple podman, no-root install would be a blessing for

[2022-03-30 18:02] fulldecent commented on #13589
BOUNTY NOTICE:

Pacific Medical Training commits a USD 200 bounty to whoever can resolve this issue.

Terms:

- Offer is effective for 60 days, through May 30th.
- Output includes: creating the documentation for setting up podman+VS Code+Jekyll for https://github.com/fulldecent/blog.phor.net to build and run the GitHub Pages website locally, result must be accepted/published by the podman project.

[2022-03-30 18:14] rhatdan commented on #13703
This looks like you have a custom policy and not the default policy.   Your policy does not support MLS labels (MCS) which Podman relies on for container separation.

Someone wrote podman_t types, and the person writing and shipping this policy needs to diagnose and figure out what is going on.  This is not something the upstream policy team can fix.

[2022-03-30 18:15] rhatdan commented on #13703
I would be willing to work with whomever wrote this policy, but this is not a Podman issue.

[2022-03-30 18:18] rhatdan commented on #13706
Lets take a step back.  What is your goal?  Is it to have developers running and building containers via rootless mode, or do you just want to make sure that containers do not have a process in them that is running as full root?

If the second, have you looked at `# podman run --userns=auto ...`

This command will run podman containers in a unigue UserNS isolated from the host, but be started as r

[2022-03-30 18:38] alanruttenberg commented on #13566
@Luap99 Thanks. I just tried that but get an error on restore. The last bit of the log is below. I presume that since I exported within podman machine I needed to import it in same. The commands, within a shell started with podman machine ssh```. Note that I verified that the export/import I did on my host does succeed. FWIW I have updated to 4.02. between my last comment and this one.

[code]
Log

[2022-03-30 18:42] jamjon3 commented on #13691
Thank you @vrothberg ! I'm refusing to install Docker on RHEL8 and getting ready for RHEL9 but I have no option with those service connections defined as 'resources' so that's great news!!!!

[2022-03-30 18:45] alanruttenberg commented on #13566
In case it matters, my podman machine is initialized with

```podman machine init --cpus 8 --memory 16384 --rootful -v /Users:/mnt/Users```

[2022-03-30 18:57] white-gecko opened #13720 "Inspect field .State.Health vs. .State.Healthcheck"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In a script (currently for docker) with a command:

    docker inspect --format='{{json .State.Health.Status}}' container_name

however, for podman the field is called `Healthcheck`

    docker inspect --format='{{json .State.Healthcheck.Status}}'

To reach better convergence, I suggest to pr

[2022-03-30 19:03] mheon commented on #13720
@flouthoc Mind taking this one?

[2022-03-30 19:09] Luap99 commented on #13720
I am almost sure I fixed this at some point.

[2022-03-30 19:10] white-gecko commented on #13720
Sorry, I couldn't verify this with the latest version. So maybe you should verify it first :-\

[2022-03-30 19:11] Luap99 commented on #13720
https://github.com/containers/podman/pull/11654, this is fixed in 4.0

[2022-03-30 19:11] #13720 closed

[2022-03-30 19:34] Luap99 commented on #13706
Saying rootless podman should not be used in production sounds wrong, I see no problem with doing this.

If you are just looking at a slirp4netns alternative you can look at `pasta` https://passt.top/passt/about/#pasta-pack-a-subtle-tap-abstraction, the maintainer want to integrate this into podman in the near future.

I don't understand the assumption that if we would write it from scratch that i

[2022-03-30 19:39] cevich commented on #13364
Note, the underlying automation work for this is complete, I'm just waiting on the job to actually run to confirm this is fixed and can be closed.

[2022-03-30 19:43] DemiMarie commented on #13706
The difference is the choice of programming language.  C is a poor choice for this.

[2022-03-30 19:46] DemiMarie commented on #13706
There is a potential licensing problem.  Google and many other companies won’t touch AGPL code.

[2022-03-30 20:01] rafaelfranca opened #13723 "Permission denied when trying to use the `/var/run/docker.sock` file generated by the mac-helper"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to use the VSCode Remote container extension with podman, one of the commands that is executed tries to use the `/var/run/docker.sock` file to mount a volume. That file has different file permission than the original podman socket it is being liked to:

[code]

This is causing the

[2022-03-30 20:23] mheon commented on #13706
If speed is a concern, https://github.com/rootless-containers/bypass4netns is an option - it's purely an extension of slirp but I've heard good things about its performance improvements.

[2022-03-30 20:26] jwhonce commented on #13717
@msisj A quick note on the URL formatting,

- URLs like `vX.Y.Z/libpod/containers` are for the podman/libpod API endpoints.
- Whereas URLs like `vX.Y.Z/containers` or `containers` are for compatibility endpoints.

`/_ping` is an out-layer, it always returns the compatibility and libpod Headers. This was done to allow clients to switch between endpoints if they desire.

[2022-03-30 20:38] fraschm1998 commented on #13703
Could it be related to this? https://github.com/opencontainers/selinux/issues/171

[2022-03-30 20:42] rhatdan commented on #13703
It could be, but I thought some fixes had gone in for this.

[2022-03-30 21:59] joanbm opened #13727 "Podman 4.0.0+ fails to SELinux-relabel symlinks in volumes when using the ":Z" option, resulting in "permission denied" errors (Regression, bisected)"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

## Description

When mounting a volume containing symlinks using Podman 4.0.0+ in a SELinux-enabled system (e.g. a clean Fedora 36 Workstation beta install), specifying the `:Z` flag in order to relabel the files in the volume, the symlink is not relabeled (but regular files are), resulting in "permission denied" errors.

Running the same com

[2022-03-30 22:00] DemiMarie commented on #13706
Looks like it has TOCTOU security problems.  The only solution I can think of is for the bypass code to open the socket itself.

[2022-03-30 22:13] grooverdan commented on #12746
I think so - #13708 as first working POC.

I probably need to do a tmpfs mount rather than a volume. Feedback welcome.

[2022-03-30 23:17] nickthetait commented on #10941
That helps a lot! I will be assigning a CVE.

Can we come up with a better title for the security issue? The current title "podman top not work with userns=keep-id container" was how it was discovered but the userns switch is actually irrelevant to the security impact. How about "Privilege escalation in 'podman top'"?

Podman will need to be updated to use a fixed version of psgo right?

[2022-03-30 23:42] paralin opened #13729 "Cannot determine if a container was unable to start"
/kind feature

**Description**

Say I execute a pod with the following pod spec:

[code]

The resulting container, of course, cannot start:

[code]

... due to command not found.

However, this error does not appear anywhere in the "podman inspect" output:

[code]

... the container just appears as "created" and there's no way to distinguish why it failed.

**Describe the results you received:**

[2022-03-30 23:56] paralin commented on #13729
For reference, this is what I'm doing now as a workaround:

[code]

[2022-03-31 00:22] paralin opened #13730 "cannot unmarshal string into Go struct field PodRmReport.RmReport.Err of type error"
/kind bug

**Description**

When testing some unrelated code, I came across this error which happens if you call engine.PodRm after a pod was already deleted:

`json: cannot unmarshal string into Go struct field PodRmReport.RmReport.Err of type error`

Note that the implementation of PodRm checks if the pods exist before calling the actual PodRm API call.

So, this is a race condition bug as well:

[2022-03-31 02:16] cdoern commented on #5805
@flouthoc I am looking to dive into some rust/netavark work. @rhatdan @Luap99 you think this would be a good thing to try as a first issue I got here from containers/netavark#154

[2022-03-31 04:36] flouthoc commented on #5805
@cdoern Sure, please feel free to take this one. I think this falls more into category of iptables/firewall stuff.

[2022-03-31 06:34] bkaczynski opened #13731 "Cannot start podman systemd service"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've homelab NUC server running openSUSE MicroOS and during creating pod I encounter errors during enabling containers after reboot. I've tested more complex scenario that I pasted below. I've tried `loginctl enable-linger <user>`, I've added to my `~/.bashrc` file these lines
[code]
but it w

[2022-03-31 07:58] m3nu commented on #8647
Had this issue on ~10% of my pods after a reboot. Caused high server load. Had to make a small script to clear those stale `pause.pid` files. This will check if the process from the PID exists and then remove the file. This fixed my high server load instantly and got all pods in a working state.

Hopefully this check can be added to Podman at some point. 🤞

Can we reopen this, @rhatdan. My Podman

[2022-03-31 08:38] Vogtinator commented on #13731
Probably caused by hte systemd 250 update and its `oom_score_adj` change: https://github.com/systemd/systemd/issues/22437

You can try starting the container with `--oom-score-adj=200` or undoing the systemd change to `user@.service`.

[2022-03-31 09:39] flouthoc commented on #13715
Hi @vanyasvl , thanks for creating the issue. Above PR should close this.

[2022-03-31 10:43] Luap99 commented on #13727
@rhatdan PTAL

[2022-03-31 11:01] rhatdan commented on #13727
This is what the fix in opencontainers/selinux is all about, calling lsetfilecon versus setfilecon.

[2022-03-31 11:02] rhatdan commented on #13727
https://github.com/opencontainers/selinux/pull/173

[2022-03-31 11:07] Foxboron commented on #13427
I assume you are all busy so I'm wondering if @mheon could clear-text sign a document stating the release managers and their keyids. It should be good enough for the time being while you figure out a better way to distribute the keys :)

[2022-03-31 11:09] rhatdan commented on #5805
Sure, if you think you can handle it, and @Luap99 and @flouthoc and @mheon don't have time to work on it.

[2022-03-31 11:21] volgar1x commented on #11484
I can confirm that either created as root or as a user, permissions are too restrictive for another user to use it in `additionalimagestores`. Is it possible to specify which permissions are used when creating the image store? And when updating it?

[2022-03-31 11:28] rhatdan commented on #8647
Open a new issue.  Is your /run/user on a tmpfs?

[2022-03-31 11:30] #13715 closed

[2022-03-31 11:45] msisj commented on #13717
@mheon Thanks! I guess that means that there is no plan to switch to the structure which is currently in REST API documentation.
@jwhonce I see, that's what I've suspected, it was pretty confusing for me that the other endpoint uses "new" REST API, but since it's a bug it uses just "different" syntax.

I think this issue should stay opened then up until the documentation (or most likely swagger, a

[2022-03-31 11:48] rhatdan commented on #13369
@vrothberg @mtrmac thoughts?

[2022-03-31 12:48] rhatdan commented on #13730
Interested in opening a PR to fix?

[2022-03-31 13:22] minesunny opened #13736 "Can't install dependency python?"
==> Pouring python@3.9-3.9.10.arm64_monterey.bottle.tar.gz
Error: No such file or directory @ rb_sysopen - /Users/mine/Library/Caches/Homebrew/downloads/cdd0b8d6d70c23220e916efb061f7619dd11a7bb369672723e538e9da834a79c--python@3.9-3.9.10.arm64_monterey.bottle.tar.gz

Library/Caches/Homebrew took 13s
➜ ls -lat | grep python
lrwxr-xr-x   1 mine  staff   123  3 31 21:17 python@3.9--3.9.10 -> downloads

[2022-03-31 13:23] m3nu opened #13737 "Most podman commands as user abort with "Error: cannot re-exec process""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Most podman commands as user abort with "Error: cannot re-exec process". E.g. `podman ps`. Using a **rootless** setup.

**Steps to reproduce the issue:**
Not fully sure how to reproduce this reliably. It seems to happen under high load. E.g. after rebooting a server with hundreds of rootless

[2022-03-31 13:23] vrothberg commented on #13736
@jwhonce PTAL

[2022-03-31 13:25] m3nu commented on #8647
New issue here: #13737

[2022-03-31 14:09] Luap99 commented on #13737
@giuseppe PTAL

[2022-03-31 14:29] giuseppe commented on #13737
could you verify if catatonit supports the `-P` flag?  Does `/usr/libexec/podman/catatonit -P` work fine for you (you can Ctrl-C the process once you verify it works)?

[2022-03-31 14:59] giuseppe commented on #11484
you can do it with `force_mask = "shared"` in `storage.conf`.  You also need to use a mount program and chown the storage directory itself

[2022-03-31 15:21] vrothberg commented on #10941
Sounds good to me, thanks.

v4.0 has the fix. Older ones need to be updated.

[2022-03-31 16:00] cevich commented on #13364
Okay, looks like [the new build automation](https://cirrus-ci.com/task/4557825379663872?logs=main#L202-L230) (log) successfully pushed `quay.io/podman/hello:latest`.  It seems to work for me locally, and there were no errors compiling it under foreign architectures.   Please re-open this and/or let me know if there are any problems with the image.

[2022-03-31 17:46] volgar1x commented on #11484
It does not seem to work with podman 3.4.4. Here's how I proceeded:

1. run as root: `install -d -o drone -g drone -m 755 /data/containers/images`
2. configured `/home/drone/.config/containers/storage.conf` like this:
[code]
3. run as drone: `podman pull alpine:3.14`\
4. checked permissions with ls:
[code]

Same result with this config:

[code]

Should I wait for openSUSE Tumbleweed to update to p

[2022-03-31 17:52] carljmosca commented on #12751
was seeing same on M1...uninstalled and reinstalled and now getting this:

Error: dial unix /var/folders/l8/h2xpqsn1385dzpl58_cz84zh0000gn/T/podman/podman-machine-default_ready.sock: connect: connection refused
ERRO[0003] cannot receive packets from , disconnecting: cannot read size from socket: EOF
ERRO[0003] cannot read size from socket: EOF

any additional cleanup needed in addition to this fro

[2022-03-31 18:20] baude commented on #12751
carl, i think you might be exceeding the max length of filenames for sockets in macos... can you try:

`podman machine init test
`podman machine start test
`
and see if this is any better?

[2022-03-31 18:40] rhatdan commented on #13737
Does it work in permissive mode? Does it work as root.

[2022-03-31 19:04] carljmosca commented on #12751
Thank you for the suggestion Brent; that got me going again on the M1.

Will try on an Intel Mac a bit later.  Did not realize I could name the machine (guess if I had looked at the usage that would have been obvious). :)

[2022-03-31 19:22] jahamilton12121 commented on #13419
UPDATE: If I kill podman pause before removing the user then I no longer run into this issue. I believe it is an issue with podman and not my code.

[2022-03-31 20:33] fpoirotte commented on #12929
I don't really have any experience with the Go language so I'm not sure I would be up to the task? I would feel much safer knowing someone with more experience is taking over this subject.

[2022-03-31 20:58] joanbm commented on #13727
Thanks, I didn't realize a fix was already available upstream. I tested applying #13689 and it does indeed fix the issue.

[2022-03-31 21:28] jan-hudec commented on #13449
The bounding set should also be usable by setuid binaries, right?

So with `--privileged` and non-0 uid the main process can't use the capabilities, but any setuid helpers it calls can. This allows restricting how the process can use the capabilities. Basically a `--privileged` container behaves exactly as the host system in this regard, which I think is a useful use-case.

[2022-04-01 01:14] vikas-goel commented on #13174
Just checking the timeline for this one to be available?

[2022-04-01 05:36] afbjorklund commented on #13364
Thanks, looks ok now.

`podman run --platform=linux/amd64 quay.io/podman/hello`

`podman run --platform=linux/arm64 quay.io/podman/hello`

[2022-04-01 06:40] flouthoc commented on #12774
The PR linked to this issue is yet to be reviewed by @jwhonce

[2022-04-01 07:52] giuseppe commented on #13449
Thanks for the feedback.  Since it is working as expected, I am closing the issue.

[2022-04-01 07:54] ubergeek77 commented on #13449
Sorry, I'm not sure I see how this is expected behavior?

How am I supposed to give an arbitrary process any permission it needs using only `--privileged`?

[2022-04-01 07:55] giuseppe commented on #13419
when you delete the user, you also need to ensure all its processes are terminated.  Otherwise, you reuse the UID/GID for a different user causing a potential security issue.

[2022-04-01 07:59] giuseppe commented on #11484
are the files under ` /data/containers/images/overlay` stored with the correct mask?

For the upper directories you'll need to manually tweak the permission masks with `chmod -R 755 /data/containers/images`

[2022-04-01 08:09] z997974738 opened #13743 "shell error running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1.podman l

2.pull TAB

3.here is nothing

**Describe the results you received:**
podman l

**Describe the results you expected:**
podman log

**Additional information you deem important (e.g. issue happens only occasionally):**
~/.bashrc ，no complete de

[2022-04-01 08:17] giuseppe commented on #13449
you can add them individually with `--cap-add`.  Unfortunately there is a check in podman now that prevents it, but I've opened a PR to make it possible:

https://github.com/containers/podman/pull/13744

[code]

[2022-04-01 08:23] ubergeek77 commented on #13449
Perfect! Thanks for making that PR. That will solve the main problem that led me to make this issue in the first place.

[2022-04-01 08:31] volgar1x commented on #11484
Nope, I still have to manually to `chmod -R 755 $REPO` every time an image is built. Here is the commands I ran:

1. as root:
[code]

2. as drone:
[code]

[2022-04-01 09:53] ssbarnea commented on #11541
Apparently it become impossible to use podman 4.0.2 on macos, as the connection is randomly failing, almost like 50/50 chance:

That is like 2 seconds later, repeat and you might get one or another:
[code]

I know that is 1st of April, but I sweat that is not a joke.

[2022-04-01 10:30] rhatdan commented on #12929
No problem. Thanks for reporting it.
@umohnani8 PTAL

[2022-04-01 10:39] leolovejj opened #13746 "IPv4 address is assigned automatically inside container when start the container with only ipv4 address specified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I created the dual stack macvlan. While starting the container, only specifiy the ipv4 address, however, the IPv6 address is assigned automatically.

**Steps to reproduce the issue:**
1. Create dual stack macvlan with the following command:
[root@centos8 bin]# ./podman network create -d macvla

[2022-04-01 10:43] leolovejj commented on #13746
Same issue when only specify IPv6 address when start container
============================================
[root@centos8 bin]# ./podman run -itd --name=master --network=ens192 **--ip6=2630:210:f021:9011::6** 32572d8c0408 /bin/bash
63d4a099245c7f4a5f622a8cdcb5b3ccf39215f75a2707efc74d327a273faabc
[root@centos8 bin]# docker ps -a
Emulate Docker CLI using podman. Create /etc/containers/nodocker to qu

[2022-04-01 10:50] leolovejj commented on #13746
Issue does not occur with pure IPv4 or IPv6 macvlan
==================================
[root@centos8 bin]# ./podman network create -d macvlan -o parent=ens192 --subnet=192.168.1.10/24 --gateway=192.168.1.1 ens192
ens192
[root@centos8 bin]# ./podman run -itd --name=master --network=ens192 --ip=192.168.1.5 32572d8c0408 /bin/bash
0f148ba61fb03fd48666de0feba0bbb2cd11e90ece001b25e2c59e6a38160ef4
[root@

[2022-04-01 10:52] Luap99 commented on #13746
This is the expected behavior. Why do you create a network with a ipv4 and ipv6 subnet but only want one ip assigned.
--ip just set a single static ip, the other subnets will always get the other ips assigned automatically.

Just create a subnet with only ipv4/ipv6 if you want this.

[2022-04-01 10:52] #13746 closed

[2022-04-01 10:53] Luap99 commented on #13743
I don't understand your problem. Are you saying shell completion doesn't work? If so do you have `bash-completion` installed?

[2022-04-01 12:49] pbeckm opened #13747 "Built podman does not seem to respect ETCDIR."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Failing to build podman so that it respects ETCDIR=$INSTALL_PREFIX/etc

**Steps to reproduce the issue:**

1. ``make  BUILDTAGS="selinux seccomp systemd" && \ ``
    ``make install PREFIX=/opt/podman-4.0.2 ETCDIR=/opt/podman-4.0.2/etc ``
2.  ``find /opt/podman-4.0.2/etc``
/opt/podman-4.0.2/et

[2022-04-01 13:11] reda-alaoui opened #13748 "podman behaves differently than docker regarding /etc/hosts management"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unlike Docker, podman adds the `/etc/hosts` host entries to the `/etc/hosts` container

**Steps to reproduce the issue:**

1. On the host, create an `/etc/hosts` file with the following content:
[code]

2. podman run -it --rm busybox cat /etc/hosts
3. docker run -it --rm busybox cat /etc/host

[2022-04-01 13:22] mheon commented on #13748
We had this discussion before - I need to find the issue. Regardless, the conclusion was that our way seemed to be more correct, and that there were efforts to patch `containerd` to match it, hence our decision to continue using our existing strategy.

We could potentially add an option to use the container's `/etc/hosts` instead, but at this point I don't want to change the default.

[2022-04-01 13:24] mheon commented on #13748
https://github.com/containers/podman/issues/11835 is the previous issue.

[2022-04-01 13:25] #13449 closed

[2022-04-01 13:27] reda-alaoui commented on #13748
So looks like podman 4 has the feature.

[2022-04-01 13:28] reda-alaoui commented on #13748
https://github.com/containers/podman/issues/11835#issuecomment-1039552527 says the feature is in version 4, but can't find it in https://docs.podman.io/en/latest/markdown/podman-run.1.html

[2022-04-01 13:28] mheon commented on #13748
I don't remember any PRs to add it, so @rhatdan might have been wrong.

[2022-04-01 13:31] mheon commented on #13174
This isn't prioritized at present, so no one is actively working on it or planning to work on it; I'd suggest opening a Bugzilla if you'd like to have it prioritized. Earliest likely date in that case would be Podman 4.1, for RHEL 8.6.0.2.

[2022-04-01 13:51] #13548 closed

[2022-04-01 13:54] Luap99 commented on #13174
Also this is an open source project, anyone can implement the changes. I am always happy to review community PRs.

[2022-04-01 13:56] reda-alaoui commented on #13748
In my case, this difference in behaviour is causing a functional issue.

We have been using docker-compose on our dev environment for a long time to boot our webapp platform.
The docker-compose looks like this:
[code]

On each developer machine, `/etc/hosts` contains:
[code]

With Docker, this configuration allows the host and each container to access `https://app.example.org` and `app-identity.ex

[2022-04-01 15:00] markstos opened #13751 "error running newuidmap: "invalid internal status""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to run a container with podman 4.0.1 on Arch Linux

**Steps to reproduce the issue:**

1. `podman run -ti --rm --network=host docker.io/mongo:4.4 mongo`

**Describe the results you received:**

[code]

Running `podman system migrate` does not fix it. I got a different error before I ra

[2022-04-01 15:25] mheon commented on #13748
Option in containers.conf SGTM

[2022-04-01 15:32] reda-alaoui commented on #13748
It would be a good option for me if the new flag is considered by `podman system service` because the client is not podman (the client is IntelliJ in my case), but a client I have no control over that only knows how to speak with the Docker daemon.

If you give me some guidance (Golang noob here), I could open a pull request (hopefully better than https://github.com/containers/podman/pull/13725).

[2022-04-01 15:44] Luap99 commented on #13748
We do not add specific flags like that to podman system service. You can change the containers.conf settings yourself so docker clients would not have to set it. I want to get the /etc/hosts stuff done for podman 4.1 in a few weeks.

[2022-04-01 15:48] reda-alaoui commented on #13748
I thinkI haven't been clear enough. I don't want a flag added to `podman system service` command, I just want this new option in `containers.conf` to be considered by `podman system service`. I say that because it seems it is not always the case. For example, `containers.no_hosts` is honored by `podman` client but not `podman system service` (#13719) .

[2022-04-01 15:52] reda-alaoui commented on #13748
If you think I can add an option to `containers.conf` relatively easily without requiring a big refactoring, I can start working on that earlier (this weekend probably).

[2022-04-01 15:59] #13535 closed

[2022-04-01 16:48] paralin commented on #13730
It's fixable by changing the field from Error to String or by using an intermediate type to unmarshal, or by overriding UnmarshalJSON and MarshalJSON.

Which approach makes most sense here?

[2022-04-01 19:26] vikas-goel commented on #13174
To enable this capability, is the change going to be limited to "podman" project or does it extend to some external dependencies too?

[2022-04-01 19:46] ctml91 commented on #13492
/reopen
@giuseppe @vrothberg

[2022-04-01 20:22] ctml91 opened #13754 "proxy issue on mac m1 when running podman build"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman build on mac m1 is not using corporate proxy despite upgrading to latest version which I understand now supports sourcing the proxy from system environment variables. I am not sure if I am missing something, or it is a bug affecting my environment specifically.

**Steps to reproduce the

[2022-04-01 21:25] baude commented on #11541
@ssbarnea that error usually means that you have a bunch of ssh keys and have exceeded the limit of keychain.  Is that possible?

[2022-04-02 02:18] leolovejj commented on #13746
Thanks for the quick response. I think the macvlan can has the ability to support both ipv4 and ipv6 subnet, but customer should be able to decide use one of them or both. The macvlan setting should be independent with the network setting inside the container. What do you think?

We have the following use case:
Customer created dual stack IPv4/IPv6 macvlan, while creating the instance container, t

[2022-04-02 11:09] rhatdan commented on #13351
Since we recieved no feedback, I am closing.  Reopen if you want to continue working on this issue.

[2022-04-02 11:09] #13351 closed

[2022-04-02 14:46] konstruktoid commented on #11541
With both timers and systemd:
[code]

[2022-04-02 14:55] konstruktoid commented on #11541
Can’t reproduce, @ssbarnea. No errors in 50 tries. Two keys in ssh-agent.
[code]

[2022-04-02 17:00] Jacalz opened #13755 "Running "podman images -a" is very slow"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running the `podman images -a` command takes a very long time. With just two images, it takes several seconds and the time seems to scale with the amount of images on the system. I found this with https://github.com/containers/toolbox/issues/1027 first and have now replicated with podman 4.0.

[2022-04-02 19:33] andrewaylett opened #13756 "Unable to create anonymous volumes with --mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. When running a tool which is provided as a Docker image (in my case, jetbrains/qodana-gradle-plugin)

2. The tool attempts to start a container with an anonymous volume mount: `--mount type=volume,dst=/data/project/.gradle`
    The full command executed i

[2022-04-02 23:47] joanbm commented on #13727
While 4.0.2 + #13689 works as far as I tested, but 4.0.3 + #13689 fails to run `RUN` from a Dockerfile:

[code]

My guess is that https://github.com/containers/buildah/pull/3630 started using `label.Relabel` on `/proc/self/fd/123`, internally `label.Relabel` calls `selinux.Chcon` which at the same merge started using `setxattr` instead of `lsetxattr`, however https://github.com/opencontainers/seli

[2022-04-03 02:34] xaviermerino opened #13758 "Documentation Checkpoint Example Fails"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

The [documentation](https://podman.io/getting-started/checkpoint.html) checkpoint example does not work. Checkpointing itself fails. I am using Ubuntu 21.10 and CRIU 3.14. Is there something I can do?

**Steps to reproduce the issue:**

1. `sudo podman run -dt -p 8080:80/tcp docker.io/library/httpd`

2. `sudo podman containe

[2022-04-03 06:48] heipa0 commented on #13731
I can confirm this bug. Until yesterday everything worked fine on my openSUSE MicroOS.
Since the last update non of my podman containers start anymore via systemd.

Before the update:
`systemd 249 (249.7+suse.57.g523f32df57)`

After the update:
`systemd 250 (250.4+suse.35.g8ef8dfd540)`

[2022-04-03 08:43] miry commented on #13165
@enriquesalceda How did you solve the problem?

[2022-04-03 10:17] giuseppe commented on #11377
I am closing this issue since migrating to a new UID is a very specific corner case and it seems to me not trivial to maintain in the long term as we'll have to deal with different run directories and storage directories, as well as volumes, so every time we add a new feature we must make sure it can be migrated to a new UID.

If you are still interested in working on it though, please feel free t

[2022-04-03 10:17] #11377 closed

[2022-04-03 13:57] fansari opened #13760 "podman netawark: disable extra rules for iptables and nftables"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature
I started to work with podman 4.0 and netawark. I found that it puts rules into iptables and nftables.

Is it possible via configuration to disable this behaviour?

**Description**

It puts rules like this in nftables:

[code]
Also in iptables appear rules although I don't use iptables at all:

[code]

**S

[2022-04-03 15:34] hierfer commented on #5906
Cloud server, Debian 11.1 same problem, same solution.

[2022-04-03 15:49] baude commented on #13760
I'm not certain what you are really asking for here, but at the risk of guessing ... you did say you don't use iptables or nftables.  So can we assume you DO use firewalld?  If that is the case, we must use iptables to set up the port mapping because the firewalld dbus api was incomplete at the time of netavark's writing.  *When* the that API is complete and widely distributed, we will drop the us

[2022-04-03 15:54] imbezol opened #13761 "s"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2022-04-03 17:00] fansari commented on #13760
I use iptables but nftables instead.

I want to able to define the nftables rules on my own without extra stuff from podman. It maybe useful to have this auto config stuff but it should also be possible to disable this. In docker I can do this with "iptables" : false in /etc/docker/daemon.json and I want to know whether there is a similar setting for podman.

After reboot of my PC I found that one

[2022-04-03 17:27] adrianreber commented on #13758
The Ubuntu kernel has non-upstreamed kernel patches for overlayfs which breaks CRIU. Try it on a non Ubuntu system and it should work.

[2022-04-03 17:30] adrianreber commented on #13672
We solved this. This needs a fix in CRIU and runc/crun. CRIU tries to restore the original cgroup settings but runc/crun places the new container in another cgroup and so there is a wrong cgroup setting after restore.

* https://github.com/checkpoint-restore/criu/pull/1800
* https://github.com/opencontainers/runc/pull/3447

I will also open the corresponding crun pull request.

[2022-04-03 17:30] mheon commented on #13756
I’ll take this one

On Sat, Apr 2, 2022 at 15:33 Andrew Aylett ***@***.***> wrote:

[2022-04-03 17:44] pratikmallya commented on #12432
Looking at this again now (apologies, been busy with other stuff).

It looks like oci released a newer version of podman (`3.4.2`) but that too seems to not work:

server:
[code]

client:
[code]

I see that the latest version is `4.0.3`, so its possible that this may not be an issue in the latest version.

Going to see if I can build podman from scratch on server next to see If I can repro with a

[2022-04-03 17:55] Aculeo commented on #3657
Sorry for commenting on an old issue, but I'm using `generate_systemd` flag of Ansible to create the unit files, and I face pretty much the same issue as described here. I assume it creates the unit files incorrectly under the hood, and I should run `podman generate systemd` directly instead? Maybe this should addressed directly in Ansible.

[2022-04-03 18:07] sanyer opened #13762 "bind volumes don't work with podman pod create command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create a pod with `-v host-dir:container-dir`

2. Add a container to the pod

3. Inspect the container with `--format='{{ .HostConfig.Binds  }}'`

**Describe the results you received:**

1. `[]` is returned from inspect command
2. `WARN[0000] Could not fi

[2022-04-03 20:19] mig4 commented on #13731
I can confirm starting the containers with the `--oom-score-adj=200` option and re-generating the unit files makes those services start up OK.

I'm guessing the connection to systemd/systemd#22437 is such that systemd now sets `oom_score_adj` to 100 for user services and so podman now has a similar issue as the one in dbus referenced in that systemd issue and so podman will need to be changed to a

[2022-04-03 20:22] Vogtinator commented on #13731
Yup. IMO `nsexec` could (optionally) just warn if it fails to change the OOM score and continue.

[2022-04-03 21:42] pratikmallya commented on #12432
Additional datapoint: I looked at the sshd logs server side. It looks like its able to connect, but the session is closed:

[code]

[2022-04-03 22:29] xaviermerino commented on #13758
@adrianreber thank you! I tried with Fedora and it works! 👍

[2022-04-03 22:29] #13758 closed

[2022-04-03 23:23] senorsmile commented on #2542
I had the same error, and after trying lots of stuff, I finally found that the perms on /etc/subuid and /etc/subgid were -rw-rw----.  I did a chmod 0644 /etc/sub*id, then got errors about inaccessible files under ~/.local/share/containers.  I sudo rm'd that dir and now rootless is working for me!

[2022-04-03 23:49] mskarbek opened #13763 "Container gets private network when pod is created with --network=host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman pod create --network=host --name=net-test

2. podman run -d --pod=net-test ubi8/ubi:8.5 sleep 300

**Describe the results you received:**
[code]

**Describe the results you expected:**
Container should also get host network.

**Additional informati

[2022-04-04 01:51] mheon commented on #13763
Reproduces locally on main, this seems pretty significant. @cdoern @Luap99 PTAL

[2022-04-04 01:54] mheon commented on #13762
@cdoern Did your infra inheritance PR fix this?

[2022-04-04 02:13] cdoern commented on #13762
@mheon I believe so yes

[2022-04-04 04:33] cyphar commented on #10941
Yeah we're only in the mount ns. There are a few other attacks you should be able to do carry out in addition to the one mentioned (you can get access to the host filesystem using `open_by_handle_at` using a similar exploit to CVE-2014-3519 because the seccomp profile is not applied -- and from there you have full system filesystem access). You can also probably access any databases on the host th

[2022-04-04 06:54] #13761 closed

[2022-04-04 07:04] giuseppe commented on #13751
could you try running manually these commands?

[code]

Does the newuidmap call succeed?

[2022-04-04 07:11] vrothberg commented on #13731
Why did systemd perform the change? I'd expect a number of units to start failing after the update.

@giuseppe WDYT?

[2022-04-04 07:20] flouthoc commented on #13755
Hi @Jacalz , I am not sure but I think @vrothberg has already fixed this. I'd request @vrothberg to confirm.

[2022-04-04 07:20] vrothberg commented on #13747
Thanks for reaching out, @pbeckm!

Such a functionality does not exist in Podman.  May I ask about your motivation to have a separate /etc?

[2022-04-04 07:24] flouthoc commented on #13754
I think this is already fixed here: https://github.com/containers/podman/pull/13209 and works in linux podman machine setup but it would be nice if someone could confirm this on `macOS`. @baude @ashley-cui Would it possible to try this out on a `macOS`

[2022-04-04 07:27] vrothberg commented on #13755
Performance regressions are hard to detect but it's the first report for 4.0.

@Jacalz, could you run `podman --cpu-profile=/tmp/podman.prof images -a` and upload the profile somewhere?  This will help narrow down what's taking so much time.

[2022-04-04 09:11] msekletar commented on #13236
I think what @grooverdan suggets in the issue description is doable but requires changes in conmon. Conmon can't exit immediately after starting cleanup process in the container cgroup. Instead it needs to wait for cleanup process to finish and only after that it exists to signal systemd that unit is no longer active. To avoid sending kill signal to other processes running in the cgroup podman sho

[2022-04-04 09:44] sanyer commented on #13762
So, it is a known one, great.
Oh, even merged at https://github.com/containers/podman/pull/13594
Thanks for the letting me know! @mheon @cdoern

[2022-04-04 09:45] sanyer commented on #13762
My issue is basically a clone of https://github.com/containers/podman/issues/13548
I didn't find it when was for existing issues :-(

[2022-04-04 10:39] flouthoc commented on #13762
I am closing this since this is expected to be fixed but please feel free to re-open if issue still persists.

[2022-04-04 10:39] #13762 closed

[2022-04-04 10:46] flouthoc commented on #13760
@fansari Correct me if i got this right you want a mode in `podman` where it does not alters ( add or update ) any of the `iptables` or `firewalld` rules ?

One problem which i see that there is no guarantee that things will work if podman is not taking care of any of the `iptables` and `firwalld` rules but I guess it is expected if user is expected to create them by themselves.

[2022-04-04 10:48] sanyer commented on #13762
Just checked it on main and it is fixed. Thanks everyone and especially @cdoern !

[2022-04-04 11:04] ctml91 commented on #13754
Thanks. I saw that PR, is it not included in 4.0.2?

[2022-04-04 11:05] Luap99 commented on #13763
The infra container looks fine but the shared namespaces are not, I only see that uts and ipc are shared.

[2022-04-04 11:11] Luap99 commented on #13763
Problems seems to be here: https://github.com/containers/podman/blame/main/pkg/specgen/generate/namespaces.go#L486-L490
git blame says 221b1add74e17ded10e8f2f832a53065578aa264

I don't understand why this was added but it is definitely broken in v3.4 as well.

[2022-04-04 11:17] vrothberg commented on #13236
Thanks for taking a look, @msekletar, and for the chat off GitHub.

I agree that this is the only way.  For this to work, we had to update both
* `conmon` to wait for the cleanup process to finish
* `podman` to not nuke `conmon` during cleanup which probably requires an additional flag to make the behavior conditional

@mheon, what are your thoughts?

[2022-04-04 11:22] Luap99 commented on #13760
Duplicate of #4219, see there for more info
You could also use macvlan which does not generate iptables rules.

[2022-04-04 11:22] #13760 closed

[2022-04-04 11:24] giuseppe commented on #13731
opened a PR: https://github.com/containers/podman/pull/13765

[2022-04-04 11:52] Luap99 commented on #13763
The problem is that we cannot join the infra namespaces as rootless when the infra already runs in the host namesapce. The oci runtime will fail with eperm on setns. I think we should catch this in podman and set the container to the host ns when the infra already uses the host ns.

I would think the other namespace options have the same problem.

[2022-04-04 12:06] #13502 closed

[2022-04-04 12:23] rhatdan commented on #12432
Did this work with podman 4.0?

[2022-04-04 13:25] mheon commented on #13236
Podman killing Conmon is a safety measure to ensure that we have a clean slate for restarting the container - Conmon holds the container's ports open, and if it's not gone attempting a container restart via the cleanup process (as happens with containers with restart policy) is not possible. Of course, Conmon could potentially be written to clean up all open FDs instead to clear that conflict, but

[2022-04-04 13:29] #13756 closed

[2022-04-04 13:29] vrothberg commented on #13755
Note that 3.4.4 still has this regression but a fix for Fedora 35 will arrive with Podman v3.4.5 (Cc @mheon). v4.0 has the fix.

Are you positive to have tested with v4.0? I am asking since https://github.com/containers/toolbox/issues/1027 was filed with Podman v3.4.4.

[2022-04-04 13:51] pbeckm commented on #13747
Thanks for the swift reply.  We'd like to employ podman in a HPC cluster setting.  Since it might be necessary to experiment with different versions of podman (and if need be, runc and conmon), having separate config dirs could be handy.
The other reason is that /opt, i.e. the installation directory for podman et al, is exported via NFS to all worker nodes, but not /etc.    So my question was main

[2022-04-04 13:52] markstos commented on #13751
It failed. So I'm guessing this is not a podman problem? If not, it would be helpful if podman's diagnostic message could provide a little more direction on how to possibly resolve the issue.

I'd really love to use rootless containers with Podman on Arch Linux.

[code]

[2022-04-04 14:49] rhatdan commented on #13747
This would be a very invasive change and might reach down into lower level libraries.  For such a change to happen, I think it would have to come from community and work through the entire stack.

[2022-04-04 14:50] mheon commented on #3657
That definitely sounds correct. `podman generate systemd` changes progressively between releases and reflects the most current knowledge on how to best integrate Podman and systemd - trying to reimplement does not seem sustainable given this.

[2022-04-04 14:51] rhatdan commented on #13751
I would figure either newuidmap is not setuid or does not have the filecap setuid applied to it.
Also is there entries in /etc/subuid for this user.

[2022-04-04 14:55] rhatdan commented on #13755
Yes I believe it does.

[2022-04-04 15:11] mheon commented on #13729
So, to be perfectly clear, the request is to include the error in the `Error` field of container inspect's `State` struct?

[2022-04-04 15:23] vrothberg commented on #13747
We'd probably need a package in c/storage with a global variable `GlobalRoot` (or something similar) which is an empty string by default. It can then be set at build-time. Other go packages in the stack can use it as a prefix in locations dealing with config files etc.