[2020-05-01 13:07] afbjorklund commented on #5205
I think it would be better to look at the container's gateway ? Or am I missing something here.

[2020-05-01 15:27] lsm5 commented on #4159
catatonit is now in the fedora testing repos https://bodhi.fedoraproject.org/updates/?packages=catatonit . I'd recommend people install this instead of any prior builds I posted.

It's also present on the OBS repos now.

[2020-05-01 16:16] rhatdan commented on #4159
Should probably add a recommends on suggests for this package to podman.

[2020-05-01 16:25] lsm5 commented on #4159
It's in there already in podman 1.9.1

[2020-05-01 16:27] rhatdan commented on #4159
Awesome.

[2020-05-01 16:27] #4159 closed

[2020-05-01 16:51] mtrmac commented on #6053
Things like https://github.com/containers/libpod/blob/6803e72bf87e737663db054d971135bc06d0747f/cmd/podman/images/pull.go#L84 exist, and c/image also allows specifying the policy path.

If `podman import` does not have the CLI option, and does not use the same rootless code to set the rootless overrides (which are _not_ c/image defaults), at least currently, that’s all entirely within the Podman re

[2020-05-01 16:56] lsm5 commented on #4159
Fedora users, please add karma to the f31 and f32 packages https://bodhi.fedoraproject.org/updates/?packages=catatonit

[2020-05-01 17:40] abitrolly commented on #6050
I am not sure. While it seems pretty interesting, my motivation is still pretty low as I am not backed by any big company and on the personal scale I also won't be able to use it, because `podman` 2.0 is not ready, and API fixes are not backported to 1.9.x

[2020-05-01 19:44] Diniboy1123 opened #6064 "Allowing rootless containers to be binded to a specific IP"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

By the nature of POSIX it's impossible to bind an application to a specific interface as far as I know, especially if one user doesn't have root. Though it should be possible to send the container traffic to  a specific IP address.

In my case the goal would be to have all the container t

[2020-05-01 20:54] guardiande opened #6065 "Portmap plugin does not work on networks other than the default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I create a new network which has the same configuration as the default network, publishing ports does not work due to missing port forwarding entries in iptables.

**Steps to reproduce the issue:**

1. Create an identical copy based on the default interface:
[code]

2. Change name and ip

[2020-05-01 21:42] Congee commented on #5306
have this issue with 1.9.1~1 on ubuntu, 1.8.2~140 works

[2020-05-01 21:47] mheon commented on #5306
Can you open a fresh issue? This one is getting rather long, and this definitely should be fixed

[2020-05-01 22:59] jberkus commented on #6045
I'm talking about a virtual interface on the host, not just an internal IP address in the podman network.

[2020-05-02 05:13] grronline commented on #6034
any update

[2020-05-02 10:08] duritong opened #6067 "Rootless podman on EL7.8 can't start read-only containers if we have userns=keep-id"
I am not able to run containers with the read-only flag if I want to keep the id in my user-ns. Without keeping the id it works:

[code]

Debug:

[code]

[code]

[2020-05-02 15:24] guardiande commented on #6065
I just tried the same procedure in Fedora Server 32 and cannot reproduce the problem there.

[2020-05-02 15:36] guardiande commented on #5315
Just noticed I opened a duplicate with #6065 :)

With CentOS 8.1 the problem still persists but I was unable to reproduce it on Fedora Server 32.

[2020-05-02 17:39] avikivity opened #6068 "Trouble with rootless podman over ansible or distcc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use rootless podman underneath distcc to serve various compiler images. If I let distcc or ansible execute "podman pull", under the distcc user, then I get the dreaded "there might not be enough IDs" message. If I execute the command from a login shell, then it works. I suspect that podman

[2020-05-02 19:52] mheon commented on #6068
It's already known and documented that Podman does not play nicely with `sudo` and `su` (they don't play nicely with some PAM things that we expect, for example mounting `/run/user/$UID`), so I suspect that this may be similar; however, I've never seen an ID-related error involved in that. I don't know exactly how `become_user` works, but it's possible that it's doing things in a strange manner th

[2020-05-03 05:45] avikivity commented on #6068
That's unfortunate. What do people do?

Is there a list of such requirements that I can try to satisfy myself?

[2020-05-03 06:12] avikivity commented on #6068
The failure could be much more graceful. If /run/blah doesn't exist, tell me that's the problem, don't tell me that there might not be enough IDs available.

[2020-05-03 10:06] joequant opened #6070 "github reports "Error: direct image runtime not supported""
/kind bug

**Description**

podman version 0fd8242 (2020 May 2) reports "Error: direct image runtime not supported"

Works for version 8857ba2 (2020 April 15)

**Steps to reproduce the issue:**

1.  Run podman

**Describe the results you received:**

All runs give erro

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

*

[2020-05-03 11:26] joequant commented on #6070
This seems to be triggered by

https://github.com/containers/libpod/commit/554c663b5ad2bd0c0fa4c58559ec2a9b19ed399f

[2020-05-03 11:50] avikivity commented on #6068
I worked around this by giving this command to ansible: `sudo sudo -i -u distcc podman pull ...`. Of course ansible cursed me for using sudo.

Please make it easier to work with rootless podman in non-interactive scenarios. And also try to improve error reporting, the "not enough IDs" message is thrown whenever there is some misconfiguration, but there is no clue as to what the misconfiguration is

[2020-05-03 12:35] rhatdan commented on #5685
Looks like this is fixed in master.

[2020-05-03 12:35] #5685 closed

[2020-05-03 12:49] rhatdan commented on #5623
@giuseppe Any further thoughts on this one?

[2020-05-03 12:50] rhatdan commented on #5666
Since this is fixed in master, I am going to close.

[2020-05-03 12:50] #5666 closed

[2020-05-03 12:50] rhatdan commented on #5538
Looks like this as fixed in upstream

[2020-05-03 12:50] #5538 closed

[2020-05-03 12:51] rhatdan commented on #5249
@AkihiroSuda Any update on this?

[2020-05-03 13:05] AkihiroSuda commented on #5249
Is this still reproducible?

[2020-05-03 14:02] mheon commented on #6068
If sudo actually works, it sounds like something about Ansible's become is
confusing the rootless code majorly. I wouldn't consider this a
misconfiguration, but rather Podman likely not being entirely sure what
user it was run as and not locating the proper subuid entry.

On Sun, May 3, 2020, 07:50 Avi Kivity <notifications@github.com> wrote:

[2020-05-03 15:29] avikivity commented on #6068
It works after I added the service that kept /run/user/$(id foo) up (I did not do exhaustive checks to see if the exact incantation that ended up working does not work without it).

Is it possible to make podman's notion of the user more consistent with other system tools? And perhaps report the user it thinks it is when consulting subuid?

[2020-05-03 15:29] avikivity commented on #6068
and/or document what podman expects?

[2020-05-03 15:57] cbz commented on #5249
Have seen this on:

Version:            1.9.0
RemoteAPI Version:  1
Go Version:         go1.10.1
OS/Arch:            linux/amd64

[2020-05-03 16:42] mxhaupt commented on #4537
I experience the same problem with `podman version 1.9.1` using Kernel `5.3.0-51-generic` (Linux Mint 19.3). The suggested workaround mentioned in https://github.com/rootless-containers/slirp4netns/blob/master/slirp4netns.1.md#bugs does not work in the sense that root privileges are actually required to change it, also in unshared mode. I thought RootlessKit port forwarder might be in in the curre

[2020-05-03 17:34] AkihiroSuda commented on #4537
Not true since kernel 4.15. Note that you need to nsenter the namespaces to change it.

The RootlessKit port forwarder doesn't seem to hit the problem

[2020-05-03 17:36] AkihiroSuda commented on #5249
Could you try Podman 1.9.1 with Go 1.13?

[2020-05-03 19:35] coreyautoforkingbufferaccount opened #6071 "Does podman compose have a way to pass the "--userns keep-id" argument?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. add "userns_mode: keep-id" or try "userns: keep-id" to a yaml file

2. Run with podman-compose -f <filename>  up -d

**Describe the results you received:**
The arguments generated to start the container do not change at all.

**Describe the results you ex

[2020-05-03 20:58] fabrei opened #6072 "Try running rootless container ends with OCI runtime error on raspberry pi 4"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a rootless container on raspberry pi 4 with debian buster ends with an OCI runtime error. See error description below. Doesn't amatter which image I try.

**Steps to reproduce the issue:**

1. Install podman as described: https://podman.io/getting-started/installation#raspbian

2. log

[2020-05-03 21:02] mheon commented on #6071
This seems like a feature request for podman-compose, not Podman itself; I'd recommending opening an issue at github.com/containers/podman-compose

[2020-05-03 21:03] mheon commented on #6072
@giuseppe Any thoughts here?

[2020-05-04 01:39] coreyautoforkingbufferaccount commented on #6071
Apologies. You are right and I meant to post there but went to the wrong browser window. Thanks!

[2020-05-04 01:39] #6071 closed

[2020-05-04 06:22] 5eraph commented on #6064
Hi, I was working on this rootless-containers/slirp4netns#200  and it should be included in slirp4netns v1.1.0.

Although we will have to integrate some way with libpod and I am not sure how. `slirp4netns` options are currently not directly exposed - libpod rather calls preferred options on its own.

We need to expose slirp4netns in non intrusive way and possibly even expose iptables POSTROUTE to

[2020-05-04 06:37] #5341 closed

[2020-05-04 06:38] giuseppe commented on #6072
it is an issue in fuse-overlayfs: https://github.com/containers/fuse-overlayfs/pull/199

Please update to fuse-overlayfs 1.0

[2020-05-04 06:38] #6072 closed

[2020-05-04 06:57] giuseppe commented on #5623
I'd suggest to try overriding `/dev` inside of the container.  That is the solution we were evaluating for solving a similar issue.

You can use -v `/dev/:/dev:rslave` so the entire dev is bind mounted instead of creating bind mounts for each device.  Have you already tried it?  Do you hit any problem if you bind mount the entire `/dev`?

[2020-05-04 07:11] avikivity commented on #5903
I am seeing this too, even with --cgroups-manager=systemd.

podman-1.9.1-1.fc32.x86_64

[2020-05-04 07:13] avikivity commented on #5903
`podman system migrate` and `podman system reset` did not fix it.

[2020-05-04 07:13] giuseppe commented on #6034
if you want to run rootless containers through systemd I suggest to manage their lifecycle through the systemd user session `systemctl --user` or at least make sure lingering mode is enabled.

Setting just `User=` in the systemd service file will not set up the session for the rootless user and will confuse Podman/OCI runtime.

Also the `MemoryMax=3G` and `CPUQuota=20%` limits you've specified do

[2020-05-04 07:15] giuseppe commented on #5306
it is fixed with: 89d4940a3787ccc871c92950a79347efc0d5c58c

[2020-05-04 07:58] giuseppe commented on #5653
that is expected.  More details here: https://github.com/containers/libpod/pull/857#issue-191611537

If you'd like to have some environments variable set in the hooks, you need to explicitely add them to the hook configuration.

I've tried both runc and crun.  runc seems to leak the environment variables in the prestart hook, while crun behaves the same as the poststop hook.

I am going to close t

[2020-05-04 07:58] #5653 closed

[2020-05-04 08:08] giuseppe commented on #5658
I've not looked at it yet.

@darix is it something that you can workaround setting explicitly the cgroup manager `--cgroup-manager=cgroupfs`?

[2020-05-04 09:02] vrothberg commented on #5631
This question is still open. We don't yet know enough and have no reproducer.

[2020-05-04 09:25] siscia commented on #5895
@giuseppe , very sorry for bothering you on this one.

Do you know with who is appropriate to discuss this use case?

Should we just try to submit a PR?

[2020-05-04 10:41] bam80 opened #6075 "passthrough fuse mounts to host?"
Is it possible? So I could see the same mounts on host I mounted inside the container.
Also filed for Toolbox: https://github.com/containers/toolbox/issues/429

[2020-05-04 10:49] balamuruganravi commented on #6034
@giuseppe @mheon
I am also facing this issue `podman ps` not listing the running container after 3-4 days.
could you please help me to understand the issue. when I try to get inside the container `podman exec -it elasticsearch /bin/bash` throws

### My config details
Podman Version: 1.4.4
AWS RHEL 7.7 & 8.1
Instance Type: t3a.large 8GB RAM

### Podman run command:
`podman run -d \
-p {{port}}:{{po

[2020-05-04 12:19] AlbanBedel commented on #5653
I understand that a minimal environment is desirable, but no PATH is a bit extreme as it break every shell script or program that use execlp or execvp.

[2020-05-04 12:20] grronline commented on #6034
@giuseppe ,

i have made note of your point regarding lingering mode,  podman related resource control parameters like memory,cpu in rootless mode give below error, cgroup v2 is still in technical evaluation stages in rhel 8.1 platform, how can we achieve resource control in rootless mode.

demopod@hostname[DEV][~] $ podman create --cpus=2 --name test localhost/postgres:12
Error: invalid configura

[2020-05-04 12:42] rhatdan commented on #5653
@AlbanBedel If you add
                  "env": [
                    "PATH=/usr/local/bin:/bin:/usr/bin",
                  ]
Doesn't this solve your issue?

[code]

[2020-05-04 13:17] giuseppe commented on #5895
hi @siscia.  I have already reported the issue for runc some time ago: https://github.com/opencontainers/runc/issues/586

Could you workaround it with a bind mount as suggested in the issue I've linked above?

[2020-05-04 13:28] giuseppe commented on #6034
unfortunately there is no way of achieving it without cgroup v2, cgroup delegation on cgroup v1 is not safe.

If you need resource control on cgroup v1, then you should use root containers

[2020-05-04 13:31] siscia commented on #5895
Hi @giuseppe :)

yes, for my specific use case I can do it. However it would be quite hard to drive adoption if people are forced to create mount points.

For us, the problem lies mostly on the read-only limitation, than on the symlink one.

I don't know what is the strategy of podman here, but if podman could detect that the filesystem we are trying to use is read-only, it could create an overlay

[2020-05-04 13:34] ksingh7 commented on #2240
[code]

[2020-05-04 13:43] mheon commented on #2240
Patches for this were landed in 1.7.0, and should be in RHEL 8.2.1 (which will include a 1.9.x release of Podman).

[2020-05-04 13:45] rhatdan commented on #6034
@giuseppe Will runc be able to support cgroupV2 by RHEL 8.3?

[2020-05-04 13:47] giuseppe commented on #5895
that is a good feature for Podman, I agree.  I am just not sure about the CLI for exposing it.

We could either add a new flag `--rootfs-opt` or extend the rootfs argument like:

`podman run ... --rootfs ... /path/to/the/rootfs:list,of,arguments`

And one of those arguments could be `overlay=path/to/upperdir`.  Have it automatically handled by the storage library is more difficult, as at the momen

[2020-05-04 13:47] mheon commented on #6064
I think we're at the point of needing an extra flag on `podman run` for extra network configuration, as seen by the PR to switch rootless port forwarding backend from @aleks-mariusz - a `podman run --network-opt KEY=VALUE` might be appropriate here, to pass general network configuration into the container without further polluting the incredibly complicated parsing of `--network`

[2020-05-04 13:51] rhatdan commented on #5895
Does this work with crun?

[2020-05-04 13:53] rhatdan commented on #6064
Yes I agree this calls for another option.

[2020-05-04 13:58] rhatdan commented on #6075
We need a lot more information about what you are asking?

[2020-05-04 14:01] mheon commented on #6075
Assuming that this is for Rootless - unfortunately, I don't think this is possible, as it's a kernel limitation. The user namespace that rootless Podman runs inside creates what is effectively a separate mount table, which the kernel does not allow to mix with the table on the host.

[2020-05-04 14:06] siscia commented on #5895
I see how a smart handle of the `--rootfs` would be complex.
Even thought it would be a quite nice interface!

Also, the use of a different runtime, might be simpler to sell than teach the correct use of the `--rootfs` arguments...

Thanks for the feedback!

[2020-05-04 15:01] bam80 commented on #376
What is the status? Is the issue for `podman container clone` created?
If not, should we reopen this one?

[2020-05-04 15:41] giuseppe commented on #6034
I believe so

[2020-05-04 15:43] giuseppe commented on #5895
yes, a symlink in the rootfs path is accepted by crun

[2020-05-04 16:49] hitchhooker commented on #5376
`podman network ls --filter ` does there even exist such flag as --filter for network? I keep receiving unknown flag error when trying to replace docker with podman for matrix-docker-ansible-deploy.

`podman network ls -q --filter='name=^{{ matrix_podman_network }}$'
Error: unknown flag: --filter`

[2020-05-04 17:26] 5eraph commented on #6064
Great thanks, I like `podman run --network-opt KEY=VALUE`. I will look into exposing outbound addresses like that. (assuming other options may be ported over time as necessary)

[2020-05-04 18:01] rhatdan commented on #5895
Then I would prefer to switch the OCI Runtime, or get the fix into runc.  Don't really want to make podman handle this.

[2020-05-04 18:18] mheon commented on #5903
Can you open a fresh issue? This should have been resolved with v1.9.1

[2020-05-04 18:40] mxhaupt commented on #4537
Thanks for your quick answer. I did a mistake in my thinking regards network namespace, was using the namespace of the slirp4netns process, which I couldn't modify without root privileges (and didn't make any sense anyway). In the bug hint, I associated "inside the namespace" with the namespace of slirp4netns itself, which is wrong.

I got it working by hooking into the container processes themsel

[2020-05-04 18:45] AkihiroSuda commented on #4537
Isn't wrong, and that is same as the container's namespace? 🤔

[2020-05-04 18:53] giuseppe commented on #5895
that is only one part of the issue.  The part to handle in podman would be a read only rootfs where we create the overlay on top of it.  That is also very useful for using exploded images that can come from any source (really interesting with network file systems) and that we can still use as a base for multiple containers.

[2020-05-04 18:56] mxhaupt commented on #4537
Whenever I try to nsenter -n with target PID of any `/usr/bin/slirp4netns --disable-host-loopback --mtu 65520 ...` I get `nsenter: reassociate to namespace 'ns/net' failed: Operation not permitted`
Seems I'm not yet on the right track :D but at least I could change it on the container's PID 1 and got rid of the slow inital input.

[2020-05-04 18:58] bam80 commented on #6075
Hm, what should be the solution then?
I have an app ultimate goal of which is to create that mount - it's a distributed FS: https://book.keybase.io/docs/files
And it doesn't need root to operate. It works perfectly fine within Toolbox.
Of course, it's highly advisable to have that mount point accessible on the host also.

It's undesirable to install it on host because I run immutable OS - Fedora S

[2020-05-04 19:03] rhatdan commented on #6067
This looks like it works on Fedora and perhaps newer versions of podman on RHEL8.  Any chance you could try this on RHEL8?

[2020-05-04 19:04] rhatdan commented on #6065
podman 1.9.1 or later coming in RHEL8.2.1 should fix this issue.

[2020-05-04 19:05] jeyaramashok commented on #5234
@rhatdan just curious, when will v1.9.2 will be released ( approx) ?

[2020-05-04 19:06] rhatdan commented on #6070
This looks like you are running podman-remote not podman?  Is this the rpm installed podman?
Did you use something like CRC to install podman?

[2020-05-04 19:31] rhatdan commented on #5895
Need to be careful there, since some people might do a
podman mount

And then attempt to run containers on the overlay mounted rootfs.

[2020-05-04 19:34] rhatdan commented on #6075
Can you run a rootful podman and do your commands, I think this is supported on Silverblue.

[2020-05-04 19:35] rhatdan commented on #5234
No idea.  It is probably best to pester @mheon.  We probably could release new minor versions every couple of weeks.   We only want tiny changes, since we are concentrating mainly on podman-2.0 right now.  But this is going to take a long time to stabilize.

[2020-05-04 21:44] mheon commented on #5234
Early next week sounds like a reasonable target for a 1.9.2

[2020-05-04 22:14] ayilmaz81 commented on #6053
I am getting the same error while i do `podman build .`
`STEP 1: FROM busybox
STEP 2: COPY sleep10.sh /home/
Error: error committing container for step {Env:[PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin] Command:copy Args:[sleep10.sh /home/] Flags:[] Attrs:map[] Message:COPY sleep10.sh /home/ Original:COPY sleep10.sh /home/}: error obtaining default signature policy: open /etc

[2020-05-05 02:29] sfhardman commented on #4759
For me changing the `ExecStop` command from `podman stop` to `podman rm -f` resolved the issue as a workaround (Podman 1.6.4)

[2020-05-05 02:58] AkihiroSuda commented on #6075
/proc/PID/root might be what you want

[2020-05-05 05:41] chrmarti opened #6083 "podman info fails while removing container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman info` fails while removing container.

**Steps to reproduce the issue:**

1. Run:
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

`podman info` should print the info either including or excluding the container being removed, but not fail

[2020-05-05 06:27] avikivity opened #6084 ""Error: invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run -it --rm fedora:32`

**Describe the results you received:**

`Error: invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd`

**Describe the results you expected:**

`#`

**Additional information

[2020-05-05 06:27] avikivity commented on #5903
#6084

[2020-05-05 07:23] balamuruganravi opened #6085 "[rootless] unable to get inside the podman containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
`podman run -d \
-p {{port}}:{{port}} \
--name $CONTAINER_NAME \
-h $CONTAINER_NAME \
-v $CONTAINER_NAME:/usr/share/containerA/data \
-e "ES_JAVA_OPTS=-Xms{{ jvm_heap_size_min }} -Xmx{{ jvm_heap_size_max }}" \
-e "node.master=true" \
-e "node.ingest=true" \
-

[2020-05-05 09:03] giuseppe commented on #6085
looks like a duplicate of: https://github.com/containers/libpod/issues/6034

If you agree, can we close this issue and keep the discussion there?

[2020-05-05 10:52] KlausThornProgrammfabrik commented on #5431
To my understanding, firewalld and nftables were designed to solve this exact type of problem:

  ... from: https://developers.redhat.com/blog/2018/08/10/firewalld-the-future-is-nftables/

I guess podman/CNI would have to use nftables and create own tables. And leave firewalld to the user's local customization, only. Then firewalld-cmd --reload will just affect the user's stuff.

Have you investig

[2020-05-05 10:58] AlbanBedel commented on #5653
It does, my point is that having a completely empty environment is very unusual. As a casual user you write a script, test that it work, configure it as a hook and ... nothing works. Cue a frustrating debug session to then find out that the empty environment is causing everything to fall to pieces. That's just frustrating and I expect quiet some users just give up assuming OCI hooks are utterly br

[2020-05-05 11:14] avikivity commented on #6084
Update: this started to happen on my second Fedora 32 machine. On the other hand, I rebooted the first one (due to an unrelated problem :( ) and the problem went away.

I'm running Linux 5.6.7 on the still-broken machine, so it's unlikely to be kernel version related.

[2020-05-05 12:38] balamuruganravi commented on #6085
ok. could you please update your response for my issue mentioned in #6034

[2020-05-05 12:44] bam80 commented on #6075
@AkihiroSuda could you explain what do you mean please?

[2020-05-05 13:16] mheon commented on #376
The command is not yet ready. I swore that we had an issue dedicated to `podman container clone`, but it does not look like you do; feel free to file an RFE for it.

I'd like to get to it soon (I think some recently work we've done will make it a lot simpler), but currently all priority is on the HTTP API and Podmanv2

[2020-05-05 13:25] mheon commented on #6085
Closing as dupe of #6034

[2020-05-05 13:25] #6085 closed

[2020-05-05 13:30] rhatdan commented on #6053
If you create policy.json in ~/.config/containers/policy.json
Something like:
[code]

Does it work?

[2020-05-05 13:33] ayilmaz81 commented on #6053
I have that file indeed. I am running rootless podman.
`podman run`, `podman pull` works fine.

[2020-05-05 13:57] balamuruganravi commented on #6034
@giuseppe could you please provide your comments for this issue. also I have tried the `podman ps --all --sync` but it didn't help

[2020-05-05 14:28] rhatdan commented on #5718
@lsm5 Was this ever fixed?

[2020-05-05 14:28] rhatdan commented on #5648
@giuseppe @AkihiroSuda Any comment on this one?

[2020-05-05 14:33] AkihiroSuda commented on #5648
Maybe fixed in https://github.com/containers/libpod/pull/5183 ?

[2020-05-05 14:37] zxdev commented on #4114
sudo podman run -d -p 27017:27017 -v /data/db:/data/db --name mongod mongo
ERRO[0000] Error adding network: failed to create bridge "cni-podman0": could not add "cni-podman0": operation not supported
ERRO[0000] Error while adding pod to CNI network "podman": failed to create bridge "cni-podman0": could not add "cni-podman0": operation not supported
Error: error configuring network namespace for co

[2020-05-05 14:41] lsm5 commented on #5718
@rhatdan yes

@vbaruh please re-open if this is not fixed.

[2020-05-05 14:41] #5718 closed

[2020-05-05 14:42] daniel-wtd opened #6089 "Bug: Restarting rootless containers with published ports fails (coredump)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a container with a published port (rootless) like so:

[code]
And restarting the container afterwards:

[code]

One will get an error like:

[code]

and the container will be stopped. Starting the container via `start` afterwards works fine. A coredump will be created via systemd

[2020-05-05 14:43] daniel-wtd opened #6090 "Bug: Errors when using rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi,

when running rootless containers, I am getting some errors:

[code]

These kind of errors occur for several subcommands like: run, stop, start, restart
Other subcommands like "ps" seem not to be affected.
Disabling SELinux does not help to prevent the errors.

## information

OS: Fedora

[2020-05-05 15:18] siscia commented on #5895
Hi @rhatdan

I am not sure I understand the concern here. There would be security implication?

I mean, I can always figure out where the container filesystem is with the right permission.

Are you afraid that people will change the underline filesystem while a container is running?

Cheers,
Simone

[2020-05-05 15:50] mheon commented on #6090
@rhatdan Looks like containers.conf again.

@daniel-wtd Can you provide your `~/.config/containers/libpod.conf`

[2020-05-05 16:02] daniel-wtd commented on #6090
@mheon sure:

[code]

[2020-05-05 16:40] aleks-mariusz commented on #3245
@mheon / @rhatdan can i ask why this case is closed? Seems there are still things missing, so can we either re-open this issue (or create a new one with a more specific title about what needs work) please?

My experience is as such: While I've gotten ipv6 generally working only on my host (running CentoOS7), i cannot seem to get this working within a podman-created container still..

I updated my

[2020-05-05 16:44] mheon commented on #6089
Believe this is a dupe of #6018 - can you verify the fix there resolves this?

[2020-05-05 16:46] mheon commented on #3245
Rootless IPv6 sounds like a separate issue - that uses an entirely different network backend (slirp4netns vs CNI).

The rest of that sounds like a potential bug with CNI - I'd open an issue about it with more details.

[2020-05-05 16:51] b1zzu opened #6093 "Podman default ulimit is too low 1024"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Start a basic container like **fedora** `podman run -it centos sh`

2. Check the file system limits `cat /proc/self/limits | grep open`

**Describe the results you received:**

The value I see is only `1024`, and that's the reason why a good number of con

[2020-05-05 16:52] mheon commented on #6090
I know we're now ignoring `events_logger` which is probably why we're forcing file...

@daniel-wtd Can you remove the `events_logfile_path = ""` line and see if the errors go away? I suspect we're going to have to ignore that setting as well if it's explicitly set to `""`

[2020-05-05 16:55] daniel-wtd commented on #6090
@mheon I can confirm commenting or removing the lines does the trick.

[2020-05-05 16:55] mheon commented on #6093
@rhatdan I think we fixed this one in master, but I don't see a backport in the v1.9 branch - any idea what happened?

[2020-05-05 17:00] mheon commented on #6084
Can you provide `~/.config/containers/libpod.conf` from a system that reproduces?

[2020-05-05 17:03] b1zzu commented on #6093
If I use the option `--ulimit=host` than the container will start with the same limit as my user

[code]

is there a way to set the `--ulimit` option globally?

[2020-05-05 17:05] mheon commented on #6093
It may be in `containers.conf`

[2020-05-05 17:07] mheon commented on #6034
@balamuruganravi Are you managing the container with systemd? Also, any chance you could try a more recent Podman version - 1.4.4 is getting very long in the tooth.

[2020-05-05 17:10] b1zzu commented on #6093
@mheon can you point me out to documentation, can't find anything for `containers.conf`

[2020-05-05 17:10] #6065 closed

[2020-05-05 17:21] mheon commented on #6093
Ah, you're still on F31; we started shipping one (`/usr/share/containers/containers.conf` AFAIK) in F32.

A default `containers.conf` can be found at https://github.com/containers/common/blob/master/pkg/config/containers.conf

[2020-05-05 17:27] TomSweeneyRedHat commented on #6093
And in case the man page for the latest containers.conf is useful:  https://github.com/containers/common/blob/master/docs/containers.conf.5.md

[2020-05-05 17:28] b1zzu commented on #6093
@mheon I'm on Fedora 32, and I found it, I've set the ulimit in `/etc/containers/containers.conf` and it works as expected

[code]

Thanks :)

[2020-05-05 17:30] mheon commented on #6093
I'm going to leave this open because we should be doing this by default, but I think the patch got lost somewhere and didn't make it into the 1.9 release

[2020-05-05 17:46] balamuruganravi commented on #6034
No I am not using systemd for managing the containers.
I am facing this problem even on `podman version`
[code]

[2020-05-05 18:22] mheon commented on #6034
Can you confirm that the container is still running? The container process should also have a `conmon` parent; can you check if `conmon` is dead if the container process is not?

[2020-05-05 19:17] rhatdan commented on #6093
https://github.com/containers/libpod/pull/6004

[2020-05-05 19:18] rhatdan commented on #6093
Podman 1.9
podman run alpine grep open /proc/self/limits
Max open files            1024                 1024                 files

podman 2.0
./bin/podman run alpine grep open /proc/self/limits
Max open files            1024                 524288               files

[2020-05-05 19:57] avikivity commented on #6084
That one has no `~/.config/containers/libpod.conf`.

[code]

[2020-05-05 19:58] avikivity commented on #6084
`Linux avi 5.6.7-300.fc32.x86_64 #1 SMP Thu Apr 23 14:13:50 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

[2020-05-05 20:33] zem opened #6097 "podman-pod-create --network slirp4netns is unsupported for root containers"
I am not sure why that switch is simply missing, it is supported when you create an unpriviledged pod so why not be able to do slirp4netns as root?

Reasons:
- I cant access a port from another container that is published on the host, I probably just dont get it yet  how to resolve the IP address other pods elegantly out of the box.
- Published ports on bridged networking do not bind on ipv6 slirp

[2020-05-05 20:35] ben-alkov opened #6098 "`podman {FOO}` results in "cannot open: /proc/$NONEXISTENT_PID/ns/user" on fresh F32 install"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman {FOO}` results in "cannot open: /proc/$NONEXISTENT_PID/ns/user" on fresh F32 install

Typing ANY podman command (except `version`) results in "cannot open: /proc/$PID/ns/user" where $PID doesn't exist in /proc.

**Steps to reproduce the issue:**

1. Install Fedora 32 release (KDE spin

[2020-05-05 20:40] mheon commented on #6097
We originally only implemented a small subset of `--network` for pods (because of the way creating the infra container is handled, parsing needs to be very different for both, and rewriting the complicated parsing for `--network` was put off to later). This definitely sounds doable, though, it would just need some additions to the existing parsing logic.

[2020-05-05 20:41] mheon commented on #6098
@giuseppe PTAL - looks like a pause process issue, but still happening on v1.9.1 (and a fresh install, at that)

[2020-05-05 20:44] mheon commented on #6084
It's definitely a v2 system from `podman info`, so the issue must be the cgroup manager. Can you try a container with `--cgroup-manager=systemd` and see if that works?

[2020-05-05 20:45] mheon commented on #6084
@rhatdan Does this look like a potential containers.conf issue to you? Maybe a default resource limit specified in the config?

[2020-05-05 20:48] ben-alkov commented on #6098
I don't understand how this could have happened, but I had **neither** `/etc/subuid` **nor** `/etc/subgid`.

Simply following the ~~prompts~~ errors from running `podman system reset` (as NON-root) led me to `man 5 subuid` and creating the appropriate files.

[2020-05-05 20:48] #6098 closed

[2020-05-05 21:44] klaus4040 commented on #4318
Maybe my brain shorts out after days getting into podman, but in podman 1.9.1 I think there is something wrong with image volumes and default options. The image defines a volume and podman finds it
`DEBU[0000] Adding image volume at /var/atlassian/application-data/bitbucket`
and i bind a volume of my own to it
`-v bbvolume:/var/atlassian/application-data/bitbucket`
yet in the end the defaults are

[2020-05-05 22:29] mheon commented on #4318
I think that's fully expected - the image volume is overridden by your volume mount, and your named volume defaults to `noexec`. Right now, only image volumes default to `exec`. There has been significant talk about this, though, and I think my resistance to having the default be `exec` is crumbling.

[2020-05-05 23:03] klaus4040 commented on #4318
k thanks, the container instructions by atlassian at docker.io with docker in mind don't tell to use the exec option, yet without the container doesn't start properly, so there is an inconsistency with docker then (propably, haven't checked).

[2020-05-06 01:40] rhatdan commented on #6090
If you did not modify libpod.conf, it is probably best to remove the file.

[2020-05-06 06:37] firefly-serenity commented on #5626
I am currently doing some standard benchmarks in within a podman container and came by the same error message. This time there was no mpi involved:

[code]

I suspect that the error occures when the system needs to deal with a huge load. Because, when doing the same benchmark with a smaller problem size I get no error:

[code]

Maybe you can reporduce this.

[2020-05-06 07:44] balamuruganravi commented on #6034
Yes the container is running and I am able to access the application URL. can you please provide me the cmd/steps to check the `conmon ` process status

[2020-05-06 08:20] hiisukun commented on #6084
I also bumped into this. First time running podman on Fedora 32, trying to launch a couple of containers.

Output:

[code]

`podman version`:

[code]

`podman info --debug`:

[code]

`rpm -q podman`:

[code]

`uname -a`:

[code]

`libpod.conf`:

[code]

Other:

* `/usr/share/containers/libpod.conf` is whatever came with my package (unmodified by me)
* Specifying `--cgroup-manager=systemd` on the c

[2020-05-06 08:30] hiisukun commented on #6084
Well, after shutting down the various things and rebooting, it has indeed gone away as per @avikivity mentioning. Hopefully the source of the problem can be fixed since rebooting isn't always convenient.

[2020-05-06 09:15] giuseppe commented on #5648
yes I think it is fixed upstream, there were few fixes in rootlessport related to it.

@ingobecker @jmou could you verify if the issue still persists in 1.9?

[2020-05-06 09:21] giuseppe commented on #5626
what podman version are you using?

The issue you are seeing should be fixed both on master and on the v1.9 branch

[2020-05-06 09:31] firefly-serenity commented on #5626
Since I am testing for a productive environment I am stuck with the current release that comes with RedHat 8 which is 1.6 I think.

But it is good to know, that the issues have been fixed in later releases. Just out of curiousity, what was the problem that led to the "unable to close namespace" error?

[2020-05-06 09:33] avikivity commented on #6084
Tried it, no change.

[2020-05-06 09:44] giuseppe commented on #5626
the patch that fixes it is 788fdc685b00dee5ccb594bef845204250c4c123

You can safely ignore the error message.  What happens is that Podman closes all the files once it re-execs itself in the child user namespace, and the userns/mountns file descriptors were mistakenly closed twice.

[2020-05-06 09:55] avikivity commented on #6084
Since I needed the machine to work I rebooted it (unfortunately, couldn't check if logout is sufficient since Fedora 32 loses the keyboard/mouse after logout). The problem went away on that machine too. Unfortunately this means I can't help with debugging it until it recurs again (and then I will be limited by needing podman to work).

[2020-05-06 10:38] firefly-serenity commented on #5626
Thank you @giuseppe

[2020-05-06 10:38] #5626 closed

[2020-05-06 11:11] ingobecker commented on #5648
It's fixed. Thanks for the reply.

[2020-05-06 11:17] MartinNowak commented on #6084
For me it was an outdated `~/.config/containers/libpod.conf` config file that still had a `cgroup_manager = "cgroupfs"` line.
I don't remember having created that config file, so I suspect it was automatically created by podman (or maybe by me following some tutorial).
I removed that file and now running a container works without the `--cgroup-manager=systemd` override.
This doesn't sound exactly

[2020-05-06 14:14] rhatdan commented on #5895
No security issue, this is more about breakage.  Since overlay on Overlay is not supported, Someone doing a podman mount as a readonly mount and then doing --rootfs on it, will fail.

[2020-05-06 14:21] rhatdan commented on #3245
@aleks-mariusz Yes I think newer issues are better and easier to consume. Also breaking apart issues from rootless and rootfull networking since as @mheon points out they are very different beasts.

[2020-05-06 14:48] debarshiray opened #6105 "'podman inspect --format json --type container' returns State:Pid as float64"
/kind bug

**Description**

When trying to parse the `Pid` field out of the JSON returned by `podman inspect --type container` in Go with `encoding/json`, the PID value is a `float64`.

Reproducer:
[code]

**Describe the results you expected:**

The `Pid` value should be an integer type.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. ou

[2020-05-06 15:35] mheon commented on #6084
The reboot part of this seems bizarre...

If anyone else encounters this problem: can you try running `podman system reset` and see if things go back to normal after that?

[2020-05-06 16:14] mlschroe commented on #5658
Yes, that seems to work well for us. Thanks for the hint!

[2020-05-06 16:30] jmou commented on #5648
It's fixed for me, thanks!

[2020-05-06 16:58] trebor8x commented on #6084
I am facing the same issue after upgrading Fedora 31 to 32.
Only config I could find is located at `/usr/share/containers/libpod.conf` and it states `cgroup_manager = "systemd"`

Running with debug output yields:
[code]

Running `podman system reset` does not change the result.

Previously I removed the directory `.local/share/containers/`, but the error persists.

[2020-05-06 17:14] mheon commented on #6084
Can you provide full output for the command with debugging enabled?

Can you try manually setting `--log-driver=k8s-file` and seeing if that resolves the issue?

Finally, does `systemctl --user` as the user running Podman work?

[2020-05-06 17:32] trebor8x commented on #6084
The command `systemctl --user` reports: `Failed to connect to bus`.
It is also impossible to start a new gnome-terminal by now.

[2020-05-06 17:34] mheon commented on #6084
Alright, I don't think this is Podman.
It sounds like the systemd user session is just not running, but starts after a reboot? Tempted to say it's a systemd bug?

[2020-05-06 18:11] mheon commented on #6034
Try and find the PID of the process in the container (looks like a JVM from my initial glance). Then, see what the parent of that PID is - I usually use a tool like htop to do this. We expect every container to have a Conmon process as its parent.

Also, providing `podman inspect` for the container in question may help.

[2020-05-06 19:31] #5648 closed

[2020-05-07 02:32] chuanchang opened #6110 "`make lint` also fails on Linux"
I got similar issue to #4814 on Fedora 31, and I can't find related documentation in https://podman.io/getting-started/installation.

[code]

[2020-05-07 03:35] abitrolly opened #6111 "How to find who owns unreadable files in .local?"
/kind feature

`podman` creates unreadable files in my home, which fill find output with many errors. I don't know how they appeared. Perhaps I ran `podman` with `sudo`. How to find out to which container do these belong? It would be convenient to get is a script for that.
[code]

[2020-05-07 04:26] mheon commented on #6111
If you open a shell with 'podman unshare' you should be able to remove
them. They are likely made by the extra users we map into the container
from subuid and subgid, which the unshare command gives you access to.

On Wed, May 6, 2020, 23:36 Anatoli Babenia <notifications@github.com> wrote:

[2020-05-07 05:42] balamuruganravi commented on #6034
To find the PID of the process executed the `netstat -tulpn | grep LISTEN`  and got the belwo PID
`tcp        0      0 0.0.0.0:9200            0.0.0.0:*               LISTEN      20190/slirp4netns`

then executed the ` ps -ef | grep 20190` and got the PPID as 1

[code]

[2020-05-07 06:07] joequant commented on #6070
I'm a packager for mageia and this is what happens when generate the rpm.  When I generate the rpm with sources before mid-April, the works.  When I run the spec file against May sources, it doesn't.

[2020-05-07 06:08] joequant commented on #6070
Here is the spec file.  Could something have changed with the build

[podman.spec.txt](https://github.com/containers/libpod/files/4590987/podman.spec.txt)

[2020-05-07 06:37] joequant commented on #6070
The specific commit that causes problems is 241326a9a8c20ad7f2bcf651416b836e7778e090

Maybe some interaction with build script?

[2020-05-07 07:35] joequant commented on #6070
Or is there some migration between v1 and v2?

[2020-05-07 07:43] giuseppe commented on #6034
another possibility is that systemd automatically cleans up files under `/tmp` and we lose track of the
containers.

https://www.freedesktop.org/software/systemd/man/systemd-tmpfiles.html

Can you show the content of `/tmp/run-600000` when the container disappears?

[2020-05-07 07:55] vrothberg commented on #6110
Did you clone libpod according to where GOPATH wants it?

[code]

[2020-05-07 08:03] denesb commented on #6084
I'm also seeing this on Fedora 31.

[2020-05-07 08:13] joequant commented on #6070
Think I found it.  I'm running go build directly and so the bulld args changed between V1 and V2

[2020-05-07 08:18] joequant commented on #6070
Yeah.  That's the problem.  Closing

[2020-05-07 08:18] #6070 closed

[2020-05-07 08:34] chuanchang commented on #6110
$ tree -L 4 $GOPATH | grep -A4 src
└── src
    └── github.com
        ├── containers
        │   ├── buildah
        │   └── libpod

[2020-05-07 08:40] vrothberg commented on #6110
That looks good!

Next "guess" ...

The "(Rawhide)" seems suspicious to me. Is it a clean F31 install with the latest updates? Rawhide, and sometimes even betas, have pre-release versions of go.

[2020-05-07 08:44] chuanchang commented on #6110
It' not a clean F31, it's upgraded from F30 to F31(Rawhide).

[2020-05-07 08:47] vrothberg commented on #6110
Curious. I can only guess and suggest the following:
* make sure the git tree is clean: `git status` shouldn't list any files or unstaged changes
* to be extra sure run `make vendor`
* run `make podman` and then try `make lint`

[2020-05-07 08:55] chuanchang commented on #6110
It still doesn't work for me.

[code]

[2020-05-07 09:17] balamuruganravi commented on #6034
`ls /tmp/run-600000`

[2020-05-07 09:21] chuanchang commented on #6110
@vrothberg  I can solve this issue by the following steps, although it's failure due to missing golangci-lint, BTW, which rpm includes golangci-lint command, thanks.

[code]

[2020-05-07 09:25] chuanchang commented on #6110
@vrothberg I guess it may be a reason, I cloned my own old libpod(Latest commit
9f92b21 on Apr 19, 2019) as origin then merge current upstream libpod, it's okay
w/ fresh upstream libpod.

[2020-05-07 09:29] vrothberg commented on #6110
Good to know a clean repo works! That looked very exotic :)

[2020-05-07 09:29] #6110 closed

[2020-05-07 09:38] matzew opened #6113 "cgroups v2 incompatibility issue ?"
/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. running the openshift/release repo target `jobs`
https://github.com/openshift/release/blob/master/Makefile#L49-L53

I get:

[code]

**Output of `podman version`:**

[code]

**Output of `docker info`:**

[code]

[2020-05-07 09:54] trusch commented on #6105
Thats how json works. It only knows numbers, so when you parse something using the standard json decoder into an `interface{}` it will be converted to a `float64` because there is no more type information in the json.

[2020-05-07 10:59] rhatdan commented on #6070
Greate.  @joequant There is huge changes going on in Master branch.  So you need to realize this.  If you want to go with the released branch `v1.9`, that should be more stable.

We are just finishing up getting podman V2.0 to pass `rootful` tests.  Next we will get it to pass `rootless` tests, followed by more distributions, and then on to making sure podman-remote is passing all tests.

[2020-05-07 11:15] giuseppe commented on #6034
can you please show the output for `find /tmp/run-600000/libpod /tmp/run-600000/runc` ?

[2020-05-07 11:25] balamuruganravi commented on #6034
podman@ip-xx.xx.xxx[~] $ `find /tmp/run-600000/libpod /tmp/run-600000/runc`

/tmp/run-600000/libpod
/tmp/run-600000/libpod/pause.pid
/tmp/run-600000/libpod/tmp
/tmp/run-600000/libpod/tmp/events
/tmp/run-600000/libpod/tmp/events/events.log
/tmp/run-600000/libpod/tmp/events/events.log.lock
/tmp/run-600000/libpod/tmp/socket
/tmp/run-600000/libpod/tmp/socket/3ee91c0e041f8e127e328f184b13e4d5eaf0261ade9

[2020-05-07 12:24] aleks-mariusz opened #6114 "adding IPv6 section to 87-podman-bridge.conflist breaks host's ipv6 network access"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since I've gotten IPv6 connectivity recently set up to my CentOS 7 host, i wanted to start taking advantage and see how well Podman supports IPv6.  This is as root (so _not_ rootless).

After adding the relevant IPv6 section to  `/etc/cni/net.d/87-podman-bridge.conflist` per [the docs pages](

[2020-05-07 12:25] aleks-mariusz commented on #3245
Opened #6114 with full gory technical details..

[2020-05-07 13:16] mheon commented on #6114
@mccv1r0 Mind taking a look? This one seems very much like a CNI issue.

[2020-05-07 13:19] mheon commented on #6034
`/tmp/run-600000/libpod/tmp/alive` being suddenly removed (by systemd or otherwise) sounds like a very good candidate here. That would make Libpod assume the system restarted and perform a full state refresh.

[2020-05-07 13:22] avikivity commented on #6084
@mheon please change the error message to "could not connect to dbus" then. The current error message looks like it's trying to help, but it's actively misleading.

[2020-05-07 13:34] mheon commented on #6084
Digging deeper, that part looks like a bug. We should be discarding resource limits and not erroring unless manually set, but it looks like containers.conf is forcing resources to be set on every Podman invocation.

@rhatdan From a brief parse, I'm pretty sure `containers.conf` is unconditionally setting the PID limit, which is causing us to blow up on cgroups v2 systems that are not using the sys

[2020-05-07 13:37] mheon commented on #6070
In short, master is really not stable right now, so use at your own risk. We'll start cutting release candidates for v2.0 once we feel master is stable again, but that's probably a few weeks off.

[2020-05-07 13:44] aleks-mariusz commented on #5403
FWIW, i've seen issues with other workloads failing to resolve after i enabled IPv6 on the host and my network, due to the container only having an IPv6 address nameserver (and IPv6 network access appears to be "not there yet" with podman).. not sure this is the case here but something to check inside the container the contents of /etc/resolv.conf

[2020-05-07 13:46] aleks-mariusz commented on #5715
to bump this and follow up, so specifying the ipv6 address not like the typical `[2001:db8::]`  is how it _does_ work with docker or with podman?

just as a note, that is counter to how every other utility that supports ipv6 works (the brackets are required to delimit where the address ends and where the port is to be specified..

[2020-05-07 13:47] mheon commented on #6113
Dupe of #6084 I believe. Closing as such. If you disagree, we can reopen.

[2020-05-07 13:47] #6113 closed

[2020-05-07 13:50] mheon commented on #5715
I think we're going to have to retain support for the strange and nonstandard Docker parsing, but we can at least add support for standard IPv6 parsing at the same time.

[2020-05-07 14:03] mccv1r0 commented on #6114
Looking... (meetings all a.m.)  I just tested using fedora 30 and all this works.  I run this setup 24x7.
An IPv6 client (`nc -6`) from quarantine location has native IPv6 support.  It connects via public Internet to podman container on "podman" bridge running on linode VM, which provides a /48 for all my podman container.  I use this all the time so I know it works in general.

Things breaking on

[2020-05-07 14:07] aleks-mariusz commented on #6114
at some point this happens (output of `ip mon`):

`Deleted default via fe80::21f:caff:feb2:ea40 dev eth0 proto ra metric 1024 expires 1751sec hoplimit 64 pref medium`

so something related to starting the container is triggering it.. i'm open to ideas how to diagnose what could be invoking this?

[2020-05-07 14:55] bonzini commented on #3982
I'm seeing this issue as well:

[code]

Doing a `strace` shows that `/var/tmp/pbonzini/containers/storage/overlay-images/602671436e1c5081c66ab9c979b8c8d4708b8ae4a7eeaccbd475c2b9594fcd45/manifest` does not exist, in fact the whole directory is not there.  Based on the files opened by podman, it looks like `/var/tmp/pbonzini/containers/storage/overlay-images/images.json` is not consistent with the b

[2020-05-07 14:56] mccv1r0 commented on #6114
Is that output from `ip mon` the containers eth0 or the hosts eth0?  I'm guessing the host (which isn't related to podman) for several reasons.

You would have to be running `ip mon` inside the container(?)  Not ruling it out, but doubtful.  Correctly me if I'm wrong.

Your output above is from the host:

`fe80::21f:caff:feb2:ea40 dev eth0 lladdr 00:1f:ca:b2:ea:40 router REACHABLE
lladdr ba:04:ac:

[2020-05-07 14:59] vrothberg commented on #3982
@bonzini, do you have reproducer for the issue? Cc @nalind @rhatdan

[2020-05-07 15:05] aleks-mariusz commented on #6114
yes the ip mon output is from the host.. (i wouldn't see how i could have ran it inside the container if i'm setting the container up in the first place).

yes eth0 has several IPv6 address, link-local of courase as well as the GUA i have for ipv6 internet reachability..

and yes, i am giving the same range to the container in the 87-podman-bridg.conflist..

after starting the container, yes the c

[2020-05-07 15:06] bonzini commented on #3982
@vrothberg  my machine :) But I suspect that just "rm -rf"-ing one of those directories under `/var/tmp/pbonzini/containers/storage/overlay-images` would do.

`/var/tmp/pbonzini/containers/storage` is the graphroot in my `~/.config/containers/storage.conf`, by the way.

[2020-05-07 15:08] vrothberg commented on #3982
If that's the case, we're in between a rock and a hard place. If files are removed from the storage, bad things will happen :^)

[2020-05-07 15:10] bonzini commented on #3982
I didn't do it on purpose though. :) Is there a way to fsck the storage so to speak, and remove bad images from `images.json` file

[2020-05-07 15:17] jlebon commented on #5950
Just to make sure we understand the impact, this only affects rootless containers, right?

[2020-05-07 15:20] mheon commented on #5950
This can affect root containers as well, but we're using tmpfs directories not managed by systemd there, so it's a lot harder to hit - you could deliberately produce a configuration that would hit it, but the default config never should.

[2020-05-07 15:41] joequant opened #6119 "rootless v2 podman pod create returns error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am packaging podman for mageia linux, and I've run into a problem I suspect is because I am packaging configuration files incorrectly.

When I run podman pod create with the git version of 20200417, I get

[joe@big-apple libpod-241326a9a8c20ad7f2bcf651416b836e7778e090 (master)]$ podman pod

[2020-05-07 15:52] joequant commented on #6119
Here is the error for 20200507

'''
[joe@big-apple SPECS]$ podman pod create
ERRO[0001] Error freeing pod lock after failed creation: no such file or directory
Error: error adding Infra Container: cannot join CNI networks if running rootless: invalid argument
'''

[2020-05-07 15:56] mccv1r0 commented on #6114
So it looks like `podman` is FAD

`podman` doesn't claim (@mheon correct me if I'm wrong) to automatically setup the host allow external systems to reach containers.  For IPv4 port forwarding is used.  I don't know if/when something like port forwarding is/will be supported for IPv6.  We shouldn't need it, but... well, I'll spare you my soapbox.

IMHO what you are trying to do is the "Right Thing"

[2020-05-07 16:15] mheon commented on #6114
If CNI doesn't claim to configure the host for external v6 reachability of containers, then Podman presently doesn't make any such claims. I'd have to verify against Docker to see if we should be aiming to do so.

[2020-05-07 16:19] mheon commented on #6119
What Podman version?

[2020-05-07 16:51] joequant commented on #6119
It's version 2.0.0 prerelease.  Running from master.

When I dump out the c.config.Networks, I get the network slirp4net

[2020-05-07 17:02] joequant commented on #6119
It looks to me like the networking changed between v1 and v2, and without a configuration file, podman defaults to v1 options which breaks v2 networking.  Thoughts?

[2020-05-07 17:09] mheon commented on #6119
Podman v2 right now is not very stable, so it's entirely possible that this is a bug in master. I'll take a look.

If you're looking to package, I'd recommend trying the v1.9 stable branch for now - it's going to be receiving bugfixes and other backports for some time, and it's a lot more stable than master is now.

[2020-05-07 17:28] hynd commented on #5950
I've been running into the same error (tho possibly via a different cause - starting rootless containers from the "system" systemd with `User=xxx`)...

It feels it could be some kind of race between a rootless podman initialising before systemd-logind has the opportunity to create/mount `/run/user/$UID` (via the user-runtime-dir service).  If `/run/user/$UID` isn't mounted, i believe podman falls

[2020-05-07 17:46] mheon commented on #5950
I think that's probably accurate. I know that we've definitely had issues with running with the User directive without having lingering enabled for the user in question. It's unclear to me whether it's actually a race, or systemd is simply not creating the directories at all (not interpreting this as a "real" login); regardless, the end result is the same (we don't have `/run/user/$UID` and try to

[2020-05-07 17:59] joequant commented on #6119
It' packaging for cauldron the bleeding edge part of Mageia.  Since we aren't releasing that soon, I prefer to work a little on the wild side.

Thanks for looking into it.  My suspicion is that without a config file that the defaults are being set to something odd.

[2020-05-07 18:03] giuseppe commented on #3982
the report from Paolo is really helpful.

One thing in common I see with the original report is that both his configuration and the original one use directories where systemd-tmpfiles can clean up.  We don't set the sticky bit for any of out files (and we cannot really do that for image files).

@bonzini are you using the default configuration for systemd-tmpfiles or have you tweaked it?

In the d

[2020-05-07 18:13] rkjnsn opened #6123 "Document that in rootless mode, uidmap is in terms of the default mapping, not host uids"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a container that accesses a device as a non-root user (in the container) that I'm trying to run as a non-root user (outside of the container). To have access to the device, I need that user in the container, not root, to be mapped to my user ID, but I still need the containers entry po

[2020-05-07 18:15] mheon commented on #6123
I think this sounds like how things should work, so this is just a matter of documentation.

[2020-05-07 18:16] mheon commented on #6123
@giuseppe Mind taking a crack at this?

[2020-05-07 18:17] mheon commented on #3982
Wait, what? I was completely unaware of this. This sounds like it could break Podman's alive lock on long-running systems...

[2020-05-07 18:28] bonzini commented on #3982
Nope, I have not tweaked the configuration in any way. That's a great catch @giuseppe!!

[2020-05-07 18:32] aleks-mariusz commented on #6114
this /64 was given to me by my provider (their router is on 2a03:8c00:1a:6::1), i can ping this fine and it looks like SLAAC is used to configure the 2a03:8c00:8::/64 address range that ended up on my eth0.  i statically assigned those IPv6 settings in my /etc/sysconfig/network-scripts/ifcfg-eth0 file (along with IPv4 static address).

I'm not at the level of doing port forwarding, but in the IPv4

[2020-05-07 18:45] daniel-wtd commented on #6089
@mheon afaik, therefore I need to build podman on my own, correct?

Will have a look.

[2020-05-07 19:05] mheon commented on #6119
I get slightly different error messages, but the same general theme - it looks like rootless `pod create` is setting the default network namespace configuration incorrectly. Should be a simple fix.

[2020-05-07 19:15] mccv1r0 commented on #6114
Did your provider give you a static IPv6 address?   If not, SLAAC will suffice, but... don't put that in your `ifcfg-eth0` file.  The address is SLAAutoConfigured.  It can change each time.  All (at least dynamic) IPv6 addresses have a lifetime.

Did the provider delegate another prefix to you for use on e.g. cni-podman0?  Otherwise they will have no idea how to route to you.

Check your math.  Th

[2020-05-07 19:16] aleks-mariusz commented on #6114
per @mheon:

this statement seem at odds with:

per @mccv1r0:

how can i do this too? :-) what does your config files/versions/etc look like?

[2020-05-07 19:25] dustymabe commented on #5950
I am reproducing this on the Fedora CoreOS `next` stream. I am using a systemd unit to start a rootless container by using the following in my systemd unit:

[code]

[2020-05-07 19:28] rhatdan commented on #5653
I tend to agree with you, but I guess we would need this added to the standard.  What do you think @giuseppe Just adding PATH=/bin:/usr/bin would solve this problem

[2020-05-07 19:36] mccv1r0 commented on #6114
`podman` didn't do any of it.  Nor did  `docker` or `lxc` before that.  Long before containers or VM's even my home Unix box just uses eth0 (to ISP) and ethX (to local networks) and yea, a `podman` network.  This is just basic networking (L3 routing specifically.)  There is nothing IPv6 specific, everything can be done with IPv4 as well if you have routable IPv4 prefixes.  Most don't which is why

[2020-05-07 19:39] aleks-mariusz commented on #6114
Ok good point, i cleaned up my ifcfg-eth0 file (removed address specifics and let SLAAC do it's thing).. only thing in my ifcfg-eth0 related to IPv6 now (per [this redhat blog post](https://www.redhat.com/sysadmin/configuring-ipv6-rhel-7-8)) is:

[code]

and ipv6 verified to work again without hard coding static IPv6 addresses/ranges.. this hasn't had any effect on my default route being dropped w

[2020-05-07 19:52] hynd commented on #5950
Yep, that's pretty much what i'm doing (with linger enabled on the `User` already too).  Not sure if it's the same kinda steps that @adelton is triggering it with tho?

I see `/run/user/$UID` created on boot as the unit fires, but it's hard to tell the exact order of things stopping/starting from journald alone.  Adding an `After=systemd-logind.service` to the systemd unit seems to pretty reliably

[2020-05-07 20:01] mheon commented on #5950
To update with status from a discussion in IRC, we think we've identified the cause of the race, and @rhatdan is looking into a fix

[2020-05-07 20:02] aleks-mariusz commented on #6114
i think i'm being misunderstood.. somehow you are able to accomplish this...

without any configuration file changes or custom settings? :-) that's what i'm asking for please

[2020-05-07 20:06] shayaviv commented on #4397
I'm hitting this on Fedora 32 with:
* `podman-1.9.1-1.fc32.x86_64`
* `conmon-2.0.15-1.fc32.x86_64`
* `crun-0.13-2.fc32.x86_64`

[2020-05-07 20:20] mccv1r0 commented on #6114
There are topology specific setting that need to take place.  What works with SLAAC doesn't (necessarily) work with dhcpv6 and/or static or combination.

I'm not convinced your current prefixes are right.  Regardless, if you used ULA for all your internal traffic, you should be able to get inside container to reach IPv6 address of `eth0` (assuming firewall permits the traffic.

Assuming that the l

[2020-05-07 20:56] HarryMichal commented on #6090
I also experience the same issue. I successfully started a few containers and then the issue appeared. I did not edit libpod.conf. Removing the file fixed it.

System: Fedora Silverblue 32
Versions: 1.9.1

[2020-05-07 21:06] aleks-mariusz commented on #6114
of those sysctl's, `net.ipv6.conf.eth0.accept_ra` was set to 1, i set it to 2, and `net.ipv6.conf.eth0.router_solicitations` was set to 3, i set it to 1.. the middle two were already those values..

ipv6 on host still stops working if i start a podman container (and i can't ping anything beyond the cni-podman0 LL/GUA addr)..

curiously, if i manually re-add the default route, the host ipv6 starts

[2020-05-07 21:11] aleks-mariusz commented on #6114
i've tried different ranges inside the `87-podman-bridge.conflist` including LL as well as ULA ranges.. any mention of IPv6 inside that file regardless of address types being used have caused IPv6 to stop working :-( it's only now i see that re-adding the default route manually afterwards keeps it from being deleted again..

[2020-05-07 22:18] mccv1r0 commented on #6114
If your provider is sending RA's, the kernel should detects the RA and add the default route for you.

[code]

If I didn't manually delete it, the RA received by eth0 would have refreshed the timeout of the existing entry.

AFAICT there are things not quite right about your setup on `eth0` or the network it attaches to?  Are you receiving Route Advertisements?  Make sure your firewall isn't blocki

[2020-05-08 00:12] storrgie commented on #5740
I think this can be closed as we've posted #5828.

[2020-05-08 00:15] #5740 closed

[2020-05-08 01:12] dustymabe commented on #5950
The proposed change in https://github.com/containers/libpod/pull/6125 seems to fix the issue for me.

[2020-05-08 02:26] joequant commented on #6119
Cool.  If you need some help fixing it, just point me to the relevant code
and I can take a look.

One thing about podman v2 is that it seems faster.

在 2020年5月8日 週五 03:05，Matthew Heon <notifications@github.com> 寫道：

[2020-05-08 02:28] wingzero0 commented on #5433
I have the same issue on the centos 8, podman version 1.9.1.

Do I need to apply any setting to activate the #5434  ?

Thank you

**Output of `podman version` :**
[code]

**Output of `podman info --debug`:**
[code]

[2020-05-08 02:55] wingzero0 commented on #5433
For more detail, there are 4 running containers with dedicated IP settings (10.88.0.2, 10.88.0.3, 10.88.0.4, 10.88.0.5) in my centos 8.

After reboots (I use `reboot` command), there are usually 1 or 2 IP exists at `/var/lib/cni/networks/podman`

[2020-05-08 05:04] balamuruganravi commented on #6034
Yes. I'm not sure on why it exists suddenly. Could it possibly be a bug depending on the OS version? Is it sure that performing a state refresh will cause login rejections to containers but allow it to run? Trying to understand on how that works..

[2020-05-08 06:39] Edward5hen opened #6128 "API v2 restart a container: query parameter "t" seems not to work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

query parameter "t" seems not to work. I'm testing this following the doc - http://docs.podman.io/en/latest/_static/api.html#operation/libpodRestartContainer. No matter which value I set in the data field `-d '{"t":$int}'`, it would take the default timeout 10s to restart the container.

**St

[2020-05-08 07:36] vrothberg commented on #5405
I am going to close the issue as we don't have a reproducer. Feel free to reopen at any time.

[2020-05-08 07:36] #5405 closed

[2020-05-08 07:41] giuseppe commented on #6034
by default files older than 10 days are periodically deleted from `/tmp` (as configured in `/usr/lib/tmpfiles.d/tmp.conf`).

`/tmp` should be really used only for short lived sessions

[2020-05-08 08:11] balamuruganravi commented on #6034
I could see the below entry in `/usr/lib/tmpfiles.d/tmp.conf` file. is it causing the problem
[code]

[2020-05-08 08:39] aleks-mariusz commented on #6114
i've confirmed my firewall is wide-open, and i'm receiving RA's:

[code]

I've also setup another KVM at home (different network), same package versions same OS, same config for 87-podman-bridge.conflist.. also confirmed RA's are coming in (no firewall set up there either)..

and same IPv6 default route dropping :-/

[2020-05-08 08:39] giuseppe commented on #5653
I think we could default to the same env variables we use for containers.  What do you think?  From a security perspective it won't be any worse than what we already do for a less privileged process.

[2020-05-08 08:41] giuseppe commented on #6123
@mheon yes sure.

@rkjnsn it would take me a while before I get to work on this issue, would you like to improve the documentation with your findings and submit a PR?  I'll be happy to review it

[2020-05-08 09:24] giuseppe commented on #6034
I would say yes.  Files in that directories can disappear after a certain time.

[2020-05-08 09:46] makandra-stefan-langenmaier opened #6132 "rootless podman 1.9.1: cannot open: /proc/17321/ns/user"
I didn't want to continue the closed and solved issue (https://github.com/containers/libpod/issues/5306) but just document my workaround for podman 1.9.1.

I can start using podman again after I run `podman system migrate` (no reboot required) until I remove my created containers. Then I'm back to the above error message.

_See also posted by @tunip in https://github.com/containers/libpod/issues/5

[2020-05-08 09:46] #6132 closed

[2020-05-08 10:07] giuseppe commented on #3982
yes, we should not use `/var/tmp` or `/tmp` for long lived sessions.  They are really usable only with short lived sessions (e.g. CI, builds) and not persistent data.

We could probably fix the rundir side, and set the sticky bit for each file, but that is difficult to get right as we will certainly miss some of the files.

I don't see any way in systemd for doing it for directories (unless the di

[2020-05-08 10:10] bonzini commented on #3982
No problem, I'll move the graphroot under /var/lib and just regenerate all the images, in effect it's just like dropping a cache. One thing that can be done from your side is to add a "podman image fsck" command that drops inaccessible images from the json directory, which would un-hose my graphroot.

[2020-05-08 10:10] vrothberg commented on #3982
Is it possible to create a libpod-specific directory in tmp, move everything there and set the sticky bit there?

[2020-05-08 11:15] giuseppe commented on #3982
the sticky bit cannot be set for a directory for tmpfiles to skip cleaning it, because the sticky bit has already a different meaning for directories.

that can be useful in general to have, but for this particular issue I'd still feel uncomfortable that files can suddenly disappear from the storage.  If systemd-tmpfiles deletes the right whiteout file, then the super secret file covered by the im

[2020-05-08 11:21] giuseppe commented on #3982
@rhatdan should we worry about the security implications having the storage on such directories can have or is it out of scope/wrong configuration?

[2020-05-08 11:22] abitrolly commented on #6111
@mheon not sure I want to remove them. Maybe they are from legit containers.

[2020-05-08 11:34] Edward5hen commented on #6128
The similar issue is found to stop a container - http://docs.podman.io/en/latest/_static/api.html#operation/stopContainer, query parameter "t" does not work too.

[2020-05-08 12:19] storrgie commented on #5828
We may be using this wrong, it doesn't appear to "buy" us anything in the sense that every folder would have to be created by the rootless container with the parent folder set to `o+rwx`. Once the container is only creating files it seems that we can drop the `o` permissions with this annotation in place.

Simple example case would be starting up a postgres rootless container with the annotation i

[2020-05-08 13:07] bonzini commented on #3982
It's not just whiteouts, deleting random files in an image can also screw up the installation or apply the wrong configuration (e.g. it could enable password-less sudo).  In fact before noticing this symptom, I had found the top image in the chain to be completely broken because half of /usr had disappeared from the `fedora:30` base image.

So I don't think the security implications are serious; i

[2020-05-08 13:16] rhatdan commented on #3982
@bonzini Yes it is a bad idea to put storage on /tmp.
@giuseppe I don't think we can prevent users from sticking storage into a random directly like this.  There are potential security attacks from one user to another I guess, if we don't lock down the search paths in the containers directory.

[2020-05-08 13:26] mheon commented on #5747
I'll self-assign this. It's fairly low priority, but hopefully I can get to it sometime in the next few weeks.

[2020-05-08 13:47] firefly-serenity opened #6138 "Trying to run mpi job in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

What I am trying to achieve is, having multiple mpi jobs on one host. What works so far is to start one job with the flags `--pid=host --net=host --ipc=host --userns=keep-id`

To seperate the two jobs it would be nice to have seperated namespaces between the jobs. So I thought this would be a

[2020-05-08 13:57] Navdeepuniyal opened #6139 "Cannot access port from external IP when starting container using root access"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

Networking Bug: While starting a container using root access, the ports cannot be reached from an external IP.

**Description**

If we start a Podman container using root access, the exposed ports cannot be reached from an external IP address. On running the same container using non-root access, the ports are accessible

[2020-05-08 14:02] hynd commented on #5950
Neat.  I can see how it fixes the issue, just wondering if having podman's tmpdir set differently depending on the state of the filesystem the first time it was invoked could be a bit nondeterministic/confusing? (or should the tmpdir not be something we have to care much about?)

[2020-05-08 14:09] mheon commented on #5950
The DB should actually override in that case - we'll be forced to use the original temporary directory. If it actually doesn't exist, we'll still blow up, but since this seems to be a race, we should be fine.

[2020-05-08 14:10] rhatdan commented on #5721
Since we never got feedback, I am going to close, if @MariusHllk  wants more help please reopen the PR.

[2020-05-08 14:10] #5721 closed

[2020-05-08 14:11] rhatdan commented on #5704
@minnixtx Any progress?

[2020-05-08 14:13] mheon commented on #6119
#6124 should fix, if you're willing to test

[2020-05-08 14:16] bam80 opened #6140 "Can't start wayland compositor on separate tty"
Cross-posted https://github.com/containers/toolbox/issues/428

I tried weston and sway.
For example, weston gives following:
[code]
Seems the problem is always related with logind session.
Is there something we can do with it?

The problem doesn't happen if run outside the container.

[2020-05-08 14:16] mheon commented on #6128
@baude PTAL

[2020-05-08 14:21] mccv1r0 commented on #6114
There are two default routes.   At this point I don't know which one we're talking abut.

 `ip mon` earlier (and iirc our discussion re RA) were about the default route in the host network namespace that should egress out eth0 on the host to your provider.  Since you're using SLACC this route should should be set by the kernel when RA is received.  I've shown above that even if something deletes t

[2020-05-08 14:21] mheon commented on #6140
It seems to be angry that `systemd` is not available inside the container. Systemd-in-a-container is a supported configuration with Podman, so you could try running in a container with systemd set as PID 1?

[2020-05-08 14:25] mheon commented on #6139
I am seeing the firewall plugin working here. I've been told that the firewall is otherwise disabled, so theoretically iptables is not blocking access to the port itself...

@mccv1r0 PTAL

[2020-05-08 14:34] bam80 commented on #6140
Thanks @mheon for the quick reply!
In the container, I run the script to pass-through hosts' systestemd instance: https://gitlab.gnome.org/fmuellner/silverblue-stuff/-/blob/master/sb-gnome-shell-setup.sh
`systemctl` seems work at least. Isn't it enough?

[2020-05-08 14:35] #6119 closed

[2020-05-08 14:43] mheon commented on #6140
According to that Wayland binary, it can't find/access logind - so I suspect it's not?

[2020-05-08 14:46] bam80 commented on #6140
Then, can we somehow passthrough logind also? I would rather use host's instance instead.

[2020-05-08 14:46] rhatdan commented on #4397
Do you have a reproducer we could play with?

[2020-05-08 14:48] bam80 commented on #6140
BTW, logind seems also work?
[code]

[2020-05-08 15:24] mheon commented on #6140
I'm honestly not sure. You might want to ask the toolbox folks; they're a lot more familiar with this than I am.

[2020-05-08 15:26] bam80 commented on #6140
Maybe. Just less responsive. Thanks! :)

[2020-05-08 15:27] mccv1r0 commented on #6139
Which is it?

or

CNI isn't involved at all with non-root networking at all.

Does `iptables -nvL FORWARD` allow packets to be forwarded?  Either with an explicit rule or using default policy of ACCEPT.

[2020-05-08 15:41] rhatdan commented on #5741
@mheon Isn't this ready to be played with now?

[2020-05-08 15:42] rhatdan commented on #5730
@athena-metis @kunalkushwaha Any progress?

[2020-05-08 15:58] rhatdan commented on #5653
SGTM. This needs to be handled in crun and runc correct?

[2020-05-08 16:12] mheon commented on #5741
Nope. Going to pick it up again on Monday - it's very close, but there's a conmon bug in the way

[2020-05-08 16:40] Navdeepuniyal commented on #6139
If we start the container using root access.
As shown in the IPTables output:

[code]
The one above is not present in the ones with non-root access. Potentially this is done by the CNI.

Moreover, I am not sure which firewall plugin is working here. Cannot find anything.
[code]

[2020-05-08 16:45] athena-metis commented on #5730
Sorry i've been struggling for time to do any meaningful tests, they are not worthy of PRs but if anyone wanted to look at some potential changes for this they are at:
athena-metis@e8b2602 - Code change
athena-metis@6060170 - Start on some tests (not an ideal way of doing things but that would require a new unit test suite rather than adding to the existing e2e)

[2020-05-08 16:49] shayaviv commented on #4397
@rhatdan Yes, I have a reproducer. Please run this:
[code]
then copy and paste these lines (in one go, with the newline) into a shell:
[code]
Every time I run this, I get an interactive shell that:
* Hangs
* Does not respond to `CTRL-c` or `CTRL-d`
* Only closes when I hit `CTRL-p CTRL-q` (after some noticeable delay)

[2020-05-08 16:49] mheon commented on #6139
CNI is definitely adding NAT table rules, but we don't know if the system firewall is actually configured to accept connections. `iptables -nvL` with a root container running would help determine that.

[2020-05-08 16:56] mccv1r0 commented on #6139
`podman` needs to be started via root (e.g. `sudo podman run...`) otherwise  CNI doesn't get used.

On the host itself we need to see `sudo iptables -nvL` to determine if the FORWARD chain will let source IPv4 address that are not local to this system be forwarded to containers running on the bridge used by `podman`

[2020-05-08 16:57] aleks-mariusz commented on #6114
Apologies, when i refer to the default route it's almost always from the host perspective, the IPv6 one that's getting deleted when i launch a podman container.. The default route _within_ the container i've never actually checked yet (will do so now), because the host connectivity is the main focus as this has higher outage potential.

<details><summary>this hasn't been my experience.. </summary>

[2020-05-08 16:58] Navdeepuniyal commented on #6139
Condition: No container running (using sudo)
iptables -nvL  :

[code]
Condition: container running (using sudo)
iptables -nvL  :

[code]

[2020-05-08 17:00] mheon commented on #6139
Default policy for FORWARD does seem to be drop, so I think you'll need to manually add a rule to allow inbound traffic on port 8000.

[2020-05-08 17:29] Navdeepuniyal commented on #6139
Done that. Didn't work !

[2020-05-08 17:36] mheon commented on #5433
Can you provide the names of the files? Do they prevent you from starting the containers which use those IPs?

[2020-05-08 17:45] anthonyjmartinez commented on #5789
@tigerpaws2 - thanks for doing the debug for us all. Always nice when the first search result contains the answer.

For me this started after upgrading from F31 to F32.

[2020-05-08 17:58] mheon commented on #5789
I think this is a separate bug (containers.conf related). Hopefully we'll get it fixed in 1.9.2 or 1.9.3.

[2020-05-08 18:05] rhatdan commented on #6034
Yes move your storage to /var/tmp (if that is not cleaned up, or better yet, allocate a directory owner by the user to store storage

[2020-05-08 18:05] #6034 closed

[2020-05-08 18:12] rhatdan commented on #6111
They are most likely legit files.  Almost every container in the world that is based on a distro, will have more then one UID in them.  These UIDs can only be created and removed while in the user namespace,

podman unshare

Puts you in the user namespace and allows you to manipulate these files.

Read https://github.com/shadow-maint/shadow/issues/154 to get the whole gory details or what I would

[2020-05-08 18:20] rhatdan commented on #5950
Since #6125 is merged we can close this.  This will be in podman-1.9.2 which should be done early next week.

[2020-05-08 18:20] #5950 closed

[2020-05-08 18:29] rhatdan commented on #6140
Mostlikely you need to share /run or /run/systemd into the container and not run with systemd in the container.  You might get some issues though where systemd does not trust processes inside of containers.

[2020-05-08 18:30] rhatdan commented on #6140
Usually when people are trying to run Desktop apps in containers, we want them to look at Flatpack, which might be better for your use case.

[2020-05-08 18:41] rhatdan commented on #4397
Nice, @mheon @haircommander Does this help you guys out?

[2020-05-08 18:57] Navdeepuniyal commented on #6139
Update:
I tried the scenario again with another machine. The only difference here is that no docker is running on this new VM. Following are the IP tables output:

[code]

This works fine and I am able to access port from external IP Address.
Not sure but iptables rules by docker might be interferring with Podman.

[2020-05-08 19:23] dustymabe commented on #5950
should we close this (fixed by #6125) and maybe link to the conmon PR that fixed it originally?

[2020-05-08 19:23] dustymabe commented on #5950
darn.. commented on a stale page.

[2020-05-08 19:29] rhatdan commented on #6123
I am wondeing in rootless mode if we are doing this incorrectly.

I believe it would be a lot easier to understand if everything was relative to the current user namespace.

Example if I am in rootless mode

podman unshare cat /proc/self/uid_map
         0       3267          1
         1     100000      65536

Then if I run a container
podman run --uidmap 0:10000:1000

Then this would setup a con

[2020-05-08 19:30] joequant opened #6149 "OCI runtime permission denied error running setns against proc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

Getting error

'''
Error: unable to start container 981e1f9359e97b99ba68e3fdceb3c80e887940999adf6e5bc6a06f944111a482: cannot setns `/proc/1525717/ns/cgroup`: Operation not permitted: OCI runtime permission denied error
'''

**Steps to reproduce the issue:**
1. podman pod create

[2020-05-08 20:02] mheon commented on #6149
Running as root, or without?

[2020-05-08 20:04] mheon commented on #6149
Confirmed that this reproduces rootless

[2020-05-08 20:12] #5980 closed

[2020-05-08 20:28] mheon commented on #6149
I don't think it's the pod. Creating the container with Podman v1.9 works; with v2.0, it doesn't

[2020-05-08 20:31] mheon commented on #6149
From parsing inspect for both: `io.kubernetes.cri-o.SandboxID` seems to be incorrect, but I don't think this is the bug. No other obvious differences.

[2020-05-08 20:41] mheon commented on #6149
The PID in the error message is, indeed, the PID of the infra container.

[2020-05-08 21:00] mheon commented on #6149
It looks like we're attempting to join the infra container's cgroup namespace. That doesn't sound correct, given the shared namespaces of the pod.

[2020-05-08 21:52] mheon commented on #6149
#6152 to fix

[2020-05-09 00:10] bam80 commented on #6140
IIRC, the script does exactly this: https://gitlab.gnome.org/fmuellner/silverblue-stuff/-/blob/master/sb-gnome-shell-setup.sh#L15
[code]
Toolbox seems also take care of sharing /run/user/<uid> and /run/dbus with the host.
About trusting, I don't see any systemd complains in journal during weston run.

I doubt it would be easy to run and develop the _whole_ Desktop in Flatpak ;)
https://blogs.gnome

[2020-05-09 01:17] abitrolly commented on #6111
@rhatdan I skimmed over the thread, but still could not understand what a user namespace is, and what `podman unshare` really does.

[2020-05-09 10:13] rhatdan commented on #5757
I don't believe this is a bug in the master branch.  Podman1.4.4 is a very old release.  On RHEL and Centos the current suported release is podman 1.6.4 please upgrade and see if the issue is fixed.

[2020-05-09 10:13] #5757 closed

[2020-05-09 10:13] rhatdan commented on #5729
@lsm5 any input on this?

[2020-05-09 10:15] rhatdan commented on #6140
Anyways I would think @debarshiray would be better at helping on this then most of us.

[2020-05-09 10:19] rhatdan commented on #6111
These might help you understand.

https://lwn.net/Articles/532593/

man podman-unshare

https://opensource.com/article/19/2/how-does-rootless-podman-work
https://www.redhat.com/sysadmin/behind-scenes-podman

[2020-05-09 10:46] urfin78 commented on #5849
Sorry to hijack this thread but I get the same error with an older podman version on CentOS 8.
When trying to add a simple healtcheck to the podman run of a selfbuild container based on apache-php in rootless mode:
`podman run -d --name web --hostname web --log-level=debug --healthcheck-start-period 2m --healthcheck-retries 5 --healthcheck-command "CMD-SHELL curl http://localhost  || exit 1" --log

[2020-05-09 10:48] vianney opened #6153 "Cannot start container with userns inside a pod"
/kind bug

**Description**

When running as root, one can specify the user namespace of a container by providing the `--[ug]idmap`, `--sub[ug]idname` or `--userns` options.  This works fine when running an isolated container.  It fails when running the container inside an existing pod with the `--pod` option.

From my understanding, the container fails to join the network namespace of the pod's in

[2020-05-09 12:53] maxm123 commented on #6139
I guess it's still the same as [here](https://github.com/containers/libpod/issues/5316#issuecomment-592057783) and even [here](https://github.com/containers/libpod/issues/2886#issuecomment-488620599). Red Hat distros seem to have fixed that (at least Fedora did and [this thread](https://bugzilla.redhat.com/show_bug.cgi?id=1703261#c30) is about RHEL). In e.g. the Debian packages, this wasn't done y

[2020-05-09 13:00] mheon commented on #6153
I believe this is expected. Every container in the pod, including the infra
container created when the pod is created, needs to be part of the same
user namespace (otherwise, there will be permissions issues joining
namespaces, like this - the kernel only lets a process in a user namespace
join child namespaces of the initial userns, and in this case the infra
container is not part of the namespac

[2020-05-09 13:09] vianney commented on #6153
That's what I thought.  I am fine with assigning a userns to a pod and let it be shared by every container inside the pod.  That seems like a logical thing to do.

I guess we could consider this issue as a feature request to extend `pod create` to accept userns-related options.  And maybe also `pod play kube`.

[2020-05-09 13:50] balamuruganravi commented on #6034
Could you please help
To move storage to /var/tmp what file and param/key I should make changes

[2020-05-09 14:02] junjieyuan commented on #6090
And podman will create an empty ".lock" file in $PWD.

[2020-05-09 14:16] lsm5 commented on #5729
@c0d3st0rm last time I checked there were dependency issues on the 18.04 environment and those were low on OBS admins' priority list. However, 20.04 is now available for aarch64, so maybe that's a better option for you..

[2020-05-09 14:16] #5729 closed

[2020-05-09 14:27] c0d3st0rm commented on #5729
20.04 sounds fine, thanks!

[2020-05-09 15:39] bam80 commented on #6140
@debarshiray I would be very appreciated for your input

[2020-05-09 17:36] marafa opened #6155 "podman refuses to delete pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.podman pod create --name postgresql -p 5432 -p 9187

2. observed that it was in created state.

3. podman rm postgres has nothing to delete

**Describe the results you received:**
i see this instead
[code]

**Describe the results you expected:**
just works

[2020-05-09 17:42] mheon commented on #6155
Please use `podman pod` commands to stop and remove pods. `podman pod rm -f` will remove the pod in question. We deliberately do not allow infra containers to be removed without removing the pod that contains them.

[2020-05-09 17:49] marafa commented on #6155
i had done that but missed it in the report
[code]

[2020-05-09 17:49] marafa commented on #6155
what do u know!
[code]

[2020-05-09 17:49] marafa commented on #6155
thank  you!

[2020-05-09 21:06] #6149 closed

[2020-05-09 22:20] storrgie opened #6157 "generate systemd transportability"
This might be an unwelcome suggestion, so just close if so. When using `podman generate systemd` I encountered a couple issues:

 - Use of `%t` might cause users headaches
 - the `.cid` file doesn't get removed until you start the unit again, where systemd itself removes the `.pid` file.

podman has an opinionated scope of "user" when using it (pretty much all around). While working through the us

[2020-05-09 22:55] mheon commented on #6157
@vrothberg PTAL

[2020-05-09 23:19] joequant opened #6158 "debug log level should dump out system call for container exec"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This is a minor feature request to follow up with #6149.  One difficulty in debugging #6149 was the lack of diagnostic information.  When debug is turned on, podman should dump out the system call that was used to execute runc/crun and the parameters and data send to the container.  This

[2020-05-10 00:10] amarshall commented on #6084
I see the original error as well when using `cgroup_manager="cgroupfs"` (which I need to use due to a different error which I’ll likely open an issue for soon). Downgrading podman from 1.9.1 to 1.8.2 appears to resolve it.

[2020-05-10 03:20] amarshall commented on #5723
That’s what I do normally, but for the purposes of testing if this bug had been resolved in an unreleased version I used the development COPR repository listed in the [Podman installation docs](https://podman.io/getting-started/installation#installing-development-versions-of-podman).

Anyway, testing on Podman 1.9.1 I can confirm this is resolved.

[2020-05-10 03:20] #5723 closed

[2020-05-10 11:59] smekkley commented on #4131
I've found a very dirty workaround (kind of).
[code]
and then from a whatever container with podman-remote inside,
[code]
This isn't podman in podman and requires ssh server but theoretically it can solves issue like this, where docker mounts docker socket.
https://code.visualstudio.com/docs/remote/containers

In case of docker it's a big security issue but with podman it can be done rootless.

[2020-05-10 15:30] giuseppe commented on #6034
`/var/tmp` has exactly the same issue.  You need to use a directory not cleaned up by systemd

[2020-05-10 16:34] afbjorklund commented on #4207
I used the following workaround, for missing remote functionality:

`podman cp /foo container:/bar `--> `podman-remote exec -i container tee /bar < /foo`

Even if it is fixed in Podman 2.0, clients will be older 1.x for a while.

We will still use the regular "cp" command, when running locally.

[2020-05-10 16:42] afbjorklund commented on #6033
I installed "podman-remote" in a special PATH (as "podman"), so that I can troubleshoot podman-remote issues also on Linux... The alternative would have been to just call it `podman-remote` everywhere.

[2020-05-10 16:50] afbjorklund commented on #4390
Would it be possible to **also** install `podman-remote` also on Mac and Win, like a symlink ?

That way we could avoid having to have OS-specific tabs (for the path) in the documentation.

https://minikube.sigs.k8s.io/docs/drivers/podman/

https://minikube.sigs.k8s.io/docs/handbook/pushing/#3-pushing-directly-to-in-cluster-crio-podman-env

[2020-05-10 16:57] mheon commented on #4390
I think the end goal is to have everything be named Podman. Linux builds will have both remote and local support compiled in (removing the need for podman-remote) and Windows/OSX will compile out local support and work like podman-remote does now.

[2020-05-10 17:00] afbjorklund commented on #4390
Okay, so I guess we will change it to `podman` tomorrow then. And watch it fail on Linux.
Unlesss you set up some funky path locally, which is how I am currently testing it...

[2020-05-10 17:02] afbjorklund commented on #4390
I you will only do this for the HTTP, I guess ? Not for the varlink ?

[2020-05-10 17:27] neVERberleRfellerER opened #6159 "`podman auto-update` should support multiple authfiles"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman auto-update` does not respect `--authfile` originally used to pull image nor original `REGISTRY_AUTH_FILE`. It also does not take `REGISTRY_AUTH_FILE` environment variable manually added to generated systemd services. This makes it impossible to use reliably with gitlab container

[2020-05-10 18:05] jritter opened #6160 "[RFE] Integrate sd_notify with podman health checks"
/kind feature

**Description**

Recently I have played around multiple times with starting podman containers using systemd. If a service consists of multiple containers, e.g. a web application and a database server, some applications require the start of the service to be orchestrated, i.e. the web application needs to be started after the database container is started and ready.

Dependencies can

[2020-05-10 19:15] joequant commented on #6003
Any suggestions on how to fix?  I can add a flag to CopyWithTar to avoid the check when copying a volume

[2020-05-10 21:09] mheon commented on #4390
Yeah, only HTTP

On Sun, May 10, 2020, 13:03 Anders Björklund <notifications@github.com>
wrote:

[2020-05-10 21:38] mheon commented on #6003
That's definitely one way to do it. I somewhat wonder if we really need all of CopyWithTar for what should be a relatively simple copy.

[2020-05-11 05:38] balamuruganravi commented on #6034
When I change path in `/home/podman/.config/containers/storage.conf` to `runroot = "/var/local"` and run the `podman info`
but it still shows the `RunRoot: /tmp/run-600000`  did I miss anything.

[2020-05-11 07:53] duritong commented on #6067
It works on Centos 8.1 using podman 1.6.4 - though this is not yet with cgroupv2

[2020-05-11 09:07] vrandr opened #6162 "Deprecated libpod.conf shipped on Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description:**

-  The current Ubuntu 18.04 package comes with an old configuration file `/usr/share/containers/libpod.conf`.
- The new `containers.conf` configuration file is not part of the package

**Steps to reproduce the issue:**

1. Install `podman_1.9.1~1_amd64.deb` on Ubuntu 18.04

2. Run `dpkg -L p

[2020-05-11 09:08] vrandr opened #6163 "Wrong path to containers.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description:**

-  If you use a `$HOME/.config/containers/libpod.conf` configuration file you'll receive a wrong Debug Message on were to put the new `containers.conf`

**Steps to reproduce the issue:**

1. Setup a configuration file `$HOME/.config/containers/libpod.conf`

2. Run `podman ps --log-level=debu

[2020-05-11 09:15] chuanchang opened #6164 "[unit test] panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. make localunit

**Describe the results you received:**
[code]

**Describe the results you expected:**
fix it

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podm

[2020-05-11 09:35] floating-cat commented on #5605
Hi,
I use the `podman auto-update` in my several servers and I really like it.
Though I am also fine to use the `Watchtower` instead of it if the Podman team thinks the `Watchtower` would be a better choice in the long run. Otherwise, I am very looking forward to seeing the support for the `--new` after the Podman v2.

[2020-05-11 11:25] vrothberg commented on #6164
While it's unclear to me why the test continues facing an unexpected error, I opened https://github.com/containers/libpod/pull/6169 to add an extra nil check.

[2020-05-11 11:51] vrothberg commented on #6157
Thanks for reaching out and providing the details.

The `%t` issue is already tracked in https://github.com/containers/libpod/issues/5572. I am currently busy fighting other fires but will tackle it as soon as possible. I want to make sure that using another macro doesn't introduce other undesired side effects.

Is this causing a problem for your use case? Note that it's not systemd removing the p

[2020-05-11 11:53] storrgie commented on #6157
Closed as duplicate of #5572.

[2020-05-11 11:53] #6157 closed

[2020-05-11 11:55] storrgie commented on #5572
I'd also suggest, even if it seems weird, that there is a `ExecStopPost=/usr/bin/rm -f %T/%N.cid`. It seems as if enumerating to systemd via `PIDFile` automatically cleans up that `.pid`, but the `.cid` is left around. I see that by default the template attempts to clear it upon `ExecStartPre`, but it feels somewhat disingenuous that systemd would clear the `.pid` at the end of a unit run and we'd

[2020-05-11 11:58] storrgie commented on #6157
I'd love for there to be consistency then of removal of `.pid` and `.cid`. I think in almost every use case I saw the `.cid` stick around after the unit was stopped. It's not necessarily a problem for my use case as much as it's weird that conmon implicitly handles the `.pid` but doesn't handle the `.cid` (confusion of consistency).

[2020-05-11 11:58] vrothberg commented on #5572
To clarify the `.pid` removal. It's not systemd removing but Podman+conmon, so the inconsistency is on our side.

While it should not cause any harm, I find the inconsistency at least confusing. Unfortunately, I don't think we can change the behavior without (potentially) breaking users.

[2020-05-11 11:59] vrothberg commented on #5572
Note to self: make sure that the file removal is properly explained in the man pages.

[2020-05-11 12:02] storrgie commented on #5572
I'd venture that one of the __big strengths__ of podman is rootless/daemon-less with combination to your existing init system. So any amount of consistency that can be achieved would be welcome as quality of life when combining podman+systemd . Documenting, while helpful, is going to only help comprehensive RTFM momements, when really this idiosyncrasy is likely to catch and confuse people for som

[2020-05-11 12:41] vrothberg commented on #5572
Thanks for the feedback! I cannot disagree but I need to keep backwards compat in the back of my head.

@mheon @baude @rhatdan , what are your thoughts on the issue? In summary, the --conmon-pidfile is being removed with the container while the --cidfile is not.

[2020-05-11 13:03] peterducai opened #6170 "docs doesn't state if auth.json is created by default and if it's secure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Manual at docs/source/markdown/podman-login.1.md doesn't clearly state that if you do podman login, it will actually create /run/user/1000/containers/auth.json with base64 encoded password which is not secure.

**Steps to reproduce the issue:**

1. podman --log-level debug login registry.redh

[2020-05-11 13:14] mheon commented on #5572
`--cidfile` is a deliberate Docker compatability measure, AFAIK - we made the lifecycle match what Docker expected. They're also entirely outside of Libpod - we don't know that they exist, so once they're made we never remove them. We had no such constraints with pidfiles - they're fully managed by Libpod, and required to interact with init systems (and, since a while ago, used for every container

[2020-05-11 13:24] cjeanner opened #6171 "please backport PR#6008 to 1.6.x (rhel-8 version)"
/kind bug

Hello,

Would it be possible to backport the mentioned 4a5fd6ca60ed3b318b50aca7a2965d03ea2a8f67 commit in podman 1.6.x version?
We currently have 1.6.4 on rhel-8, it would be really, really helpful to get the patch available there.
This patch has already been backported to 1.9, but this version isn't in rhel-8 :(.

For more background about the issue, please check #5915

Thank you!

C.

[2020-05-11 13:31] rhatdan commented on #6157
%h could b e an issue on NFS homedirs systems, since they might require the user to login to be used.

[2020-05-11 13:34] #6164 closed

[2020-05-11 13:49] vrothberg commented on #6163
Thanks for the report! https://github.com/containers/libpod/pull/6175 will fix the issue for Podman 1.9.

[2020-05-11 13:49] rhatdan commented on #6170
Woudl you care to open a PR without your suggested text?

[2020-05-11 13:50] mheon commented on #6171
Do you just want a scratch build, or do you want this to ship in RHEL? If the latter, can you open this as a Bugzilla, so we can start the formal backport process?

[2020-05-11 13:51] EmilienM commented on #6171
we'll need it in both CentOS8 and RHEL8. Cédric, can you open a BZ for RHEL8 please?

[2020-05-11 13:52] rhatdan commented on #5572
Can you remove them in the generated unit file?

[2020-05-11 13:55] vrothberg commented on #5572
Yes, we can do that in the unit file as well.

[2020-05-11 13:55] cjeanner commented on #6171
will do asap, thanks for the feedback!

[2020-05-11 14:13] storrgie commented on #5572
Right, the concern I'd had was that `.pid` was being removed implicitly (by conman, I'd thought systemd) but the unit file was also attempting to remove it in `ExecStartPre` (assuming was left there as cruft or in case of conman crash?).

I'd ended up here in my futzing around:
[code]
 - I'm specifically __not__ detaching because I want console output to be caught by systemd/journald, which is acc

[2020-05-11 14:16] rhatdan commented on #6171
Podman 1.9.1 will be in RHEL8.2.1 which is scheduled for July.

[2020-05-11 14:37] cjeanner commented on #6171
@rhatdan hmm, we can't wait for that one I think :(.
@mheon here's the BZ asking for the backport to rhel-8.1: https://bugzilla.redhat.com/show_bug.cgi?id=1834346

[2020-05-11 14:49] #6155 closed

[2020-05-11 15:07] mheon commented on #6162
@rhatdan @baude @vrothberg Should we remove the example `libpod.conf` from the repo? I think that's where it's being sourced from.

[2020-05-11 15:11] vrothberg commented on #6162
SGTM
@lsm5 WDYT

[2020-05-11 15:48] rhatdan commented on #5773
@hswong3i Have you been able to work on this?

[2020-05-11 16:58] summatix commented on #6098
I'm now getting this same error

[2020-05-11 17:16] mheon commented on #6098
Podman version? Fedora release?

[2020-05-11 17:16] summatix commented on #6098
Solution for me was:

    rm -rf /tmp/run-`id -u`

[2020-05-11 17:17] summatix commented on #6098
Fedora 32, podman 1.9.1

[2020-05-11 17:32] rhatdan commented on #6159
Thanks @neVERberleRfellerER
Interested in opening a Pull Request for fixing this issue?

[2020-05-11 17:48] rhatdan commented on #6034
No, I believe we still use either /run or /tmp for "temporary" files.  The permanent storage should be in /var/local.

[2020-05-11 18:07] rhatdan commented on #5605
No we would like to make this an integrated part of Podman.

[2020-05-11 18:28] rhatdan commented on #6162
Yes remove it and ship a containers.conf if we need customizations.  We are shipping a containers.conf in Fedora 32 now.

[2020-05-11 18:43] xcffl commented on #5605
That's the best. It wasn't ported so I thought you abandoned auto updates.

[2020-05-11 20:06] cevich commented on #4511
Update: Conclusion of Cirrus-CI issue: We cannot rely on tag-push automation which needs to relate back to Cirrus-CI results (there is no link and no easy way to fix it).  I'm currently collaborating with Matt, Brent, and Dan about some ideas that can workaround the tag-event limitation safely.

[2020-05-11 20:38] ktdreyer opened #6183 "systemd fails to start in centos:7 image"
/kind bug

**Description**
I can run systemd inside the `centos:8` container, but I cannot run it within the `centos:7` container.

**Steps to reproduce the issue:**

1. Install podman on Fedora (I'm using Fedora 31)
2. Start systemd inside the CentOS 7 image:
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
systemd starts in `centos:7`, the same as it

[2020-05-11 21:06] mheon commented on #6183
This is a known issue, though I don't know if it made it to the troubleshooting guide.

Basically, the systemd in the Centos 7 image is rather old (dates back ~6 years to the release of Cent 7, though it's seen backports since) - too old to support Cgroups v2. Fedora 31 uses Cgroups v2 by default, and in systemd containers, Podman forwards a subset of the host's cgroups into the container (so syst

[2020-05-11 21:12] ktdreyer commented on #6183
Thank you for explaining this. It would be great to add this information to the troubleshooting guide.

Should I expect this to work on a Cgroups v1 host (like CentOS 7)?

[2020-05-11 21:24] mheon commented on #6183
Yes, I'd expect it to work fine on a Cent 7 host.

[2020-05-11 21:32] ktdreyer commented on #6183
Thanks for the detailed answers. I'm closing this ticket now.

[2020-05-11 21:32] #6183 closed

[2020-05-11 21:36] neVERberleRfellerER commented on #6159
@rhatdan I have basics here https://github.com/neVERberleRfellerER/libpod/tree/sysgenauth, but I can't really test it beyond systemd unit generation because `auto-update` in master does not do anything (at least when I build it on Fedora 32 or Arch; it never makes it past https://github.com/neVERberleRfellerER/libpod/blob/sysgenauth/pkg/autoupdate/autoupdate.go#L103 , not sure why) and v1.9 is too

[2020-05-12 04:42] jdoss opened #6184 "Rootless --userns=keep-id doesn't work with --pod"
/kind bug

**Description**

I am trying to run Elasticsearch as a rootless container inside a rootless pod. I encountered https://github.com/containers/libpod/issues/2898 where the mount point of `/usr/share/elasticsearch/data` for the volume is mounted as root uid/gid. This lead me to https://github.com/containers/libpod/pull/3196 to use `--userns=keep-id` which works but not when you try to crea

[2020-05-12 06:52] paoloantinori opened #6185 "Podman fails with no relevant diagnostics"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run` fails reporting only `Error: error executing hook `/usr/libexec/oci/hooks.d/oci-systemd-hook` (exit code: 1): OCI runtime error`

**Steps to reproduce the issue:**

1. `podman --log-level=debug  run  -it homeassistant/home-assistant:0.107.7`

2.

3.

**Describe the results you re

[2020-05-12 07:16] vrothberg commented on #6185
Thanks for opening the issue! In this case, there is nothing much Podman can do as the underlying container runtime executes the hook (i.e., crun). It's already being tracked over at crun: https://github.com/containers/crun/issues/353

[2020-05-12 07:16] #6185 closed

[2020-05-12 07:17] paoloantinori commented on #6185
Thank you!

[2020-05-12 07:24] vrothberg commented on #6159
This would mean that no container has the "io.containers.autoupdate=image" label set. I can have a look at it.

Thanks for opening the issue! Support for `--authfile` is definitely a logic next step. I am quite happy to see that autoupdates are already being used.

[2020-05-12 07:50] neVERberleRfellerER commented on #6159
It looks more like label detection issue because even when I use podman from master for everything, `auto-update` from podman 1.9 (using different binary) works and complains about registry permissions. At the same time autoupdate from master doesn't do anything.

[2020-05-12 08:19] vrothberg commented on #6159
I opened https://github.com/containers/libpod/pull/6186 which adds support for --authfile.

[2020-05-12 08:42] neVERberleRfellerER commented on #6159
@vrothberg Would you also accept my approach on top of functionality provided by your PR (when I can finally test it properly)?
My approach persist autfile path into environment variable in generated systemd services and autoupdate reads it the same way it's done with `PODMAN_SYSTEMD_UNIT`. Or I can drop persistence and just add environment into generated systemd files manually - even this simpler

[2020-05-12 08:47] vrothberg commented on #6159
Sure, feel free to open a PR at any time! Note that auto-updates now support the REGISTRY_AUTH_FILE env variable.

If you want to extend `generate systemd` and add an REGISTRY_AUTH_FILE there, I suggest to generalize the problem and add an `--env` flag:  `generate systemd --env KEY=VAL --env KEY=VAL`

This way, we can support a whole range of env variables at once. Feel free to reach out here or o

[2020-05-12 10:13] #6159 closed

[2020-05-12 12:28] rhatdan commented on #6183
@ktdreyer It is covered in the troublshooting guide.
dependabot/go_modules/github.com/rootless-containers/rootlesskit-0.9.5

[2020-05-12 12:30] vrothberg commented on #4875
I going through issues at the moment and noticed that this one is covered mutliple times. Given https://github.com/containers/libpod/issues/5605 has a more recent conversation, I am going to close this one here and ask to move comments over to https://github.com/containers/libpod/issues/5605.

[2020-05-12 12:30] #4875 closed

[2020-05-12 12:32] vrothberg commented on #6163
Closing as this is fixed in master and backported to 1.9. @mheon will release a new patch release for 1.9 soon.

[2020-05-12 12:32] #6163 closed

[2020-05-12 12:55] debarshiray opened #6190 "Would be nice to have a different 'podman pull' exit code for network failures"
/kind feature

**Description**

Every once in a while, I come across people who failed to create a [toolbox](https://github.com/containers/toolbox) container because `podman pull` errored out for some reason. For example:
[code]

And if you use the `--verbose` flag you get to see the spew from `podman pull`.
[code]

More often than not (almost always?) these are passing network errors. I have seen

[2020-05-12 12:56] debarshiray commented on #6190
There's a similar feature request for `buildah pull` too: https://github.com/containers/buildah/issues/1499

[2020-05-12 13:11] debarshiray opened #6192 "Provide metadata to identify a container from inside"
/kind feature

**Description**

Sometimes I come across people who are looking for ways to identify their [Toolbox](https://github.com/containers/toolbox) containers while sitting inside them. One use-case is to customize the shell prompt, just like one of those fancy Git prompts that identify the current branch and such.

I don't know what the ideal format would be.

Flatpak puts a INI-style file

[2020-05-12 13:13] #5193 closed

[2020-05-12 13:24] mheon commented on #6184
This is a dupe of #6153 and the same reasoning applies there - we need to make user namespace configuration a per-pod setting.

Closing as a dupe.

[2020-05-12 13:24] #6184 closed

[2020-05-12 13:46] mheon commented on #6192
Easy enough to do. Only 2 real questions in my mind are:
- What metadata to include?
- What format to use?

[2020-05-12 13:47] mheon commented on #6192
Initial suggestions on the first one: Full ID and name of the container, image it was created from (if applicable). Maybe whether we are rootless?

[2020-05-12 14:03] mheon commented on #6190
The big issue on our end is identifying what is a network failure from c/image - I don't think the errors we get out of it are formatted in a way to make that easy.

[2020-05-12 14:06] rhatdan commented on #6190
@mtrmac WDYT?

[2020-05-12 14:22] mtrmac commented on #6190
(As a side note, matching on error texts is completely unsustainable.)

On network errors, I would expect the returned error (or maybe `errors.Cause(err)`) to be a somewhat-well-typed Go error in that case. But it’s hard to consider that an API contract, _especially_ when the Go library itself does not commit to using any particular types (e.g. there is a `DNSError` type but not a commitment to re

[2020-05-12 14:26] mtrmac commented on #6190
BTW looking at the examples above(or were they truncated?), `toolbox` could definitely help users by actually printing the error; it does not contain a Podman-printed message even on `--verbose`. (But then the Podman or c/image errors could also benefit from someone working to make them look nicer.)

[2020-05-12 14:35] halfline commented on #6140
This error message means that weston can't identify which logind session it belongs to.  It does this using a `sd_pid_get_session` call. I don't think `sd_pid_get_session` is going to work inside the container because the pid namespace is different.  Furthermore, logind only allows one "session controller" per session to have access to the drm device. if outside the container is already the contro

[2020-05-12 15:31] vrothberg commented on #5572
We're working on this issue and are talking to the system developers. There are couple of issues with changing the user (i.e., using `User=`). Among other things, we can't use `PIDFile` as systemd will refuse it as it's being created by the non-root user.

We'll keep you posted.

[2020-05-12 15:40] bam80 commented on #6140
Thanks @halfline I've filed the issue against weston: https://gitlab.freedesktop.org/wayland/weston/-/issues/401

[2020-05-12 16:52] davidstrauss commented on #6083
Is the change in #116 sufficient to fix this issue? Can this also be closed?

[2020-05-12 17:05] halfline commented on #6140
hmm @debarshiray pointed out on IRC that toolbox doesn't use a separate pid namespace.  Still, it's `sd_pid_get_session` failing, so I think my proposed fix should help.

[2020-05-12 17:36] ktdreyer commented on #6183
Is there a web URL where this is documented? I Googled rootlesskit like a noob but I cannot find this information in that project's [README](https://github.com/rootless-containers/rootlesskit).

Before I opened this ticket, when I was searching Google about this problem, I found docs like [rootless.md](https://github.com/containers/libpod/blob/master/rootless.md), but it was not clear to me if any

[2020-05-12 17:38] ktdreyer commented on #6183
Ok, I found this now: https://github.com/containers/libpod/blob/master/troubleshooting.md#17-rhel7-init-based-images-dont-work-with-cgroups-v2

[2020-05-12 17:44] ktdreyer commented on #6183
I've updated that document with some language that might have helped me discover this: https://github.com/containers/libpod/pull/6195

[2020-05-12 17:44] debarshiray commented on #6190
At the moment `--verbose` or `-v` shows the `stderr` of all the inner commands and some extra debug spew from Toolbox itself. You can escalate that with `-vv`, which will invoke Podman with `--log-level debug`.

[2020-05-12 17:47] debarshiray commented on #6190
Having an explicit code for the Podman binary would remove the urge to parse the actual error text (as in https://github.com/containers/libpod/issues/5288). :)

[2020-05-12 18:13] halfline commented on #6140
just one more follow up.  The reason `sd_pid_get_session` is failing is because podman isn't running under the user's session, but it's own scope attached to the user on the side:

[code]

(and it's not in `loginctl session-status` output)
So weston needs code similar to the mutter code I pasted for an analogous reason: it's getting run outside of a logind session.

[2020-05-12 18:15] mtrmac commented on #6190
That’s sort of exactly my point: If we reserve an exit status for exactly HTTP status 503, as #5288 asks, and an exit status for exactly “network failures” (whatever that means – and does that include HTTP status 503?), as this issue asks, how can we design such an API without breaking users as new feature requests come along? It just doesn’t work for more than 2–3 cases.

[2020-05-12 18:18] mtrmac commented on #6190
See also https://github.com/containers/buildah/blob/912ca5acd9c7d74f41dce2620caef0a043ecdc9f/common.go#L121 .
- This shows things that _can_ be built
- The logic is different than what you are asking for (probably, this issue does not have a strict spec): DNS failures are “network failures”, but not retryable.

[2020-05-12 18:34] numas commented on #6084
I experienced this too on my Fedora 31 laptop (going through 28 > 29 > 30 > 31 upgrades). An inelegant deletion of ~/.config/containers fixed it, but not sure if there are consequences in this.

[2020-05-12 19:39] rhatdan commented on #6084
Most likely you are fine.  Podman will just use the defaults if that directory was removed.  If you made any customizations, then there could be issues.

[2020-05-12 19:56] #4397 closed

[2020-05-12 20:46] NikolausDemmel commented on #5722
Is there a way to still manually generate a default config file on demand?

[2020-05-12 20:51] bam80 commented on #6140
Thanks @halfline, I wonder if it's the right way to behave for toolbox/podman? @debarshiray
By the way, Sway compositor has the same problem..

[2020-05-12 22:15] NikolausDemmel commented on #4551
Does "this" mean "a config option to configure the storage to some place outside HOME", or "storage on NFS"?

[2020-05-12 22:45] QiWang19 commented on #4551
@NikolausDemmel the storage path can be configured by setting `rootless_storage_path` in storage.conf, it's not required under `HOME` https://github.com/containers/storage/blob/master/docs/containers-storage.conf.5.md

[2020-05-12 22:47] NikolausDemmel commented on #4551
Ok, thanks for the quick response. So no storage on NFS yet (no problem).

[2020-05-13 05:00] max-arnold commented on #5580
Up

[2020-05-13 05:40] chrmarti commented on #6083
#6091 sounds like it might address it. I can give it a try when it is released.

[2020-05-13 07:25] alexlarsson commented on #6192
Here is how a typical /.flatpak-info looks:
[code]

I think, somewhat in order of importance, what most people are interested in is:

 * Am I in a container or on the host
 * What sort of container technology is used (i.e. flatpak vs podman)
 * What sort of environment am i  running in (flatpak app+runtime, container name, base image name, etc)
 * What kind of permissions do I have wrt the host (n

[2020-05-13 09:49] abitrolly commented on #5793
@mheon yes, removing `-t` key doesn't make it hang.

[2020-05-13 12:05] rhatdan commented on #5580
I think you are indicating that this is still an issue.

[2020-05-13 12:10] max-arnold commented on #5580
Yes, just want to make sure that the issue won’t be closed automatically due to inactivity

[2020-05-13 12:22] mheon commented on #5580
We were discussing this a bit yesterday among the team. It's definitely on our radar, and will probably come up sooner rather than later as part of our work on the Podman HTTP API.

[2020-05-13 12:32] debarshiray commented on #6190
I don't care that much about the distinction between retryable and non-retryable failures. If such a distinction can be made, then great, but it's not critical.

I mostly care about the difference between a faulty `podman pull` invocation (eg., with an invalid image URL), and a valid invocation that failed due to problems with the network or the registry. In the first case, it's clearly the user's

[2020-05-13 12:43] mheon commented on #6190
The biggest issue there is that individual registries cannot agree what a bad URL vs a registry issue will actually do. HTTP status codes aren't really standardized for registry implementations, so a missing image could be a 404, a 500, or any number of other things - and we really can't know exactly what they mean without knowing the exact server software in question is and how it uses those code

[2020-05-13 13:00] chuanchang opened #6208 "[apiv2] query parameter doesn't work for list images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2.  curl -v -d '{"all": true}' http://localhost:8080/v1.40/libpod/images/json

3. curl -v -d '{"filters": "reference=docker.io/library/alpine:latest"}' http://localhost:8080/v1.40/libpod/images/

[2020-05-13 13:18] rhatdan commented on #5580
@max-arnold BTW, we currently do not close issues automatically.  The reminder is just a kick in the butt for us to relook at the issue.

[2020-05-13 13:36] chuanchang opened #6209 "[apiv2] query parameters doesn't work for list images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2.  curl -v -d '{"all": true}' http://localhost:8080/v1.40/libpod/images/json

3. curl -v -d '{"filters": "reference=docker.io/library/alpine:latest"}' http://localhost:8080/v1.40/libpod/images/

[2020-05-13 13:37] #6209 closed

[2020-05-13 13:38] chuanchang commented on #6209
it's duplicate issue due to network delay

[2020-05-13 13:39] rhatdan commented on #4551
@NikolausDemmel I don't expect there to be any NFS support for User Namespace for many years, most likely never.

[2020-05-13 13:40] rhatdan commented on #4551
@QiWang19 Let's write a blog on this together.

[2020-05-13 13:40] NikolausDemmel commented on #4551
OK got it. Thanks!

[2020-05-13 13:41] rhatdan commented on #4551
We wrote on this subject before, but it is time to update it.

https://www.redhat.com/sysadmin/rootless-podman-nfs

[2020-05-13 13:42] #4551 closed

[2020-05-13 13:42] mheon commented on #6017
Fixed in master and v1.9.2

[2020-05-13 13:42] #6017 closed

[2020-05-13 13:42] QiWang19 commented on #4551
ok, Let's do it. I can look at this first.

[2020-05-13 13:55] #5793 closed

[2020-05-13 14:07] marusak commented on #5840
Any update on this? We would like to get cockpit-podman with REST API into rhel-8.3, but we are slowly running out of time until we can actually make it.

[2020-05-13 14:56] giuseppe commented on #5840
@marusak can you try the latest version from git master?  I've used your reproducer and it seems to work fine here.  I can run curl multiple times and it always returns success.

[2020-05-13 15:33] maxm123 opened #6212 "Use of constant pkg/network/config.go#CNIConfigDir"
/kind bug

**Description**

The files pkg/network/files.go and pkg/api/handlers/libpod/networks.go still make use of the static constant _CNIConfigDir_ in pkg/network/config.go.

The resulting issue appears when the cni config dir is changed in libpod.conf. While `network create` and `network ls` use pkg/domain/infra/abi/network.go#getCNIConfDir, `inspect` and `remove` use pkg/network/files.go#Get

[2020-05-13 15:36] ssbarnea opened #6213 "centos-8: build fails with missing btrfs/ioctl.h"
On CentOS-8, running `make` would fail to build libpod regardless which system dependencies you install because it needs `btrfs/ioctl.h` which is not provided by any  official distro repository.

**Describe the results you received:**
TBH

**Describe the results you expected:**

Detect missing dependency and attempt to install it, with failure if it fails to sudo.

[2020-05-13 15:44] mheon commented on #6213
I don't think this is a job for our makefile; we need to run on multiple distributions, and the names of packages are not really consistent between them (not to mention we might be building in a minimal container without a functioning package manager). Best we can do is probably to use `pkg-config` to detect whether things are installed, and warn if they're not (or set build tags, if there are tag

[2020-05-13 17:40] marusak commented on #5840
Indeed, the current master does not have this problem anymore. Thanks!

[2020-05-13 17:40] #5840 closed

[2020-05-13 18:04] mtrmac commented on #6190
In principle, it _would_ be valuable to collect all that knowledge and provide a best-effort API for that in c/image. (IIRC we were reasonably close with the plain “image not found” case a few years ago, but not quite there so it was abandoned at that time.)

Still, I don’t see that we can squeeze this through the single exit code (with a fixed set of exclusive values) in a long-term sustainable w

[2020-05-13 19:24] joelddiaz commented on #4318
Quoting @rhatdan above. So is the intention to match Docker behavior regarding default mount flags? Because the Podman docs specifically state that you will get 'noexec' by default (differing from Docker).

[2020-05-13 19:27] mheon commented on #4318
I don't want to promise we will match completely; the utility of `noexec` is questionable and we may remove it, but I see definite value in `nodev` and `nosuid` and I don't think we'll be dropping those.

We presently also include `noexec` but I think we'll be dropping it by default (probably in v2.0)

[2020-05-13 19:32] abitrolly commented on #5793
@mheon is it possible to properly fix it?

[2020-05-13 19:33] rhatdan commented on #6083
Yes that is the goal,  it is fixed in master.

[2020-05-13 19:33] #6083 closed

[2020-05-13 19:40] rhatdan commented on #6192
We currently create /run/.containerenv with no data in it.
Docker creates /.dockerenv

We could populate these files with content, but don't we really need a standard location for returning this content between podman, buildah, cri-o, flatpack (bubblewrap?)
I believe .containerenv is the correct name for this but I guess we could argue about location.
Name value pairs is the best thing for bash to

[2020-05-13 19:49] mheon commented on #6192
The Flatpack example seems to be TOML, which seems like it would work pretty well as well

[2020-05-13 19:50] mheon commented on #6192
Ah, nevermind, it's not - no quoting, etc... I need more coffee

[2020-05-13 20:04] smekkley opened #6219 "Specifying podman socket with podman cli."
I noticed that now we have podman api socket.
Does/will it support something like this?
[code]
[code]

[2020-05-13 20:07] mheon commented on #6219
I'll defer to @rhatdan here, but I believe the answer is no - we're reluctant to add support for that as it will require us to provide authentication for the socket.

Instead, we're focusing on tunneling requests to the unix socket over SSH.

[2020-05-13 20:50] rhatdan commented on #6213
Correct

cat ./hack/btrfs_tag.sh
#!/bin/bash
cc -E - > /dev/null 2> /dev/null << EOF
#include <btrfs/version.h>
EOF
if test $? -ne 0 ; then
	echo btrfs_noversion
fi

[2020-05-13 21:00] rhatdan commented on #4318
I agree with removing noexec, keeping nosuid and nodev makes sense.

[2020-05-13 21:12] rhatdan commented on #6219
Yes, we will not listen on random ports.  The idea is to setup ssh connections to the host, that way we can rely on ssh to provide crypto/authentication/authorization and Podman does not need to do it.
That being said.   I am not sure if what you specified will not work.
@jwhonce @baude WDYT?

[2020-05-13 23:08] mheon commented on #5793
I don't believe so - this is how terminal attach works (setting raw mode). Not creating a terminal does not set raw mode and properly splits STDOUT and STDERR so redirection works as expected.

[2020-05-14 00:28] abitrolly commented on #5793
@mheon what could be the point of setting `raw mode` to redirected terminal? If there is no point, maybe in that case `podman` should ignore the flag?

[2020-05-14 00:53] mheon commented on #5793
Containers with a terminal are streaming the literal bytes of the
container's terminal and writing them to the target terminal, including
flow control characters, etc; we could look into it, but my initial
impression is that the output would be full of garbage.

On Wed, May 13, 2020 at 8:29 PM Anatoli Babenia <notifications@github.com>
wrote:

[2020-05-14 03:41] chuanchang opened #6221 "[apiv2] unable to copy to response : "write tcp 127.0.0.1:8080->127.0.0.1:50680: write: connection reset by peer""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2. ./bin/podman pull alpine

3. curl -v -s http://localhost:8080/v1.40/libpod/images/alpine/get

**Describe the results you received:**

[code]

**Additional information you deem important (e.g.

[2020-05-14 07:34] snir911 opened #6222 "kata cleanup is not completed when --rm is used"
/kind bug

**Description**

When running kata-containers with --rm qemu is not terminated after container
running is completed.

**Steps to reproduce the issue:**

1. Install kata

2. sudo podman  --runtime=/usr/bin/kata-runtime run --security-opt label=disable -it --rm fedora:latest sleep 1

3. ps aux | grep qemu

**Describe the results you received:**

qemu process is still running

**Describe t

[2020-05-14 07:37] snir911 commented on #6222
I was able to fix it with something like that:
https://github.com/snir911/libpod/tree/kata_cleanup

Although I'm not sure it's a proper fix as i found out that the issue is derived by the order of the cleanup, qemu is not terminated whenever runtime continer cleanup (delete(ctx)) is done after tearing down the storage (Is it a valid order of operations?)

Any guidance will be appreciated :)

[2020-05-14 07:50] mkoura commented on #6098
I'm getting the same error on Fedora 31 with podman 1.9.1

[2020-05-14 11:10] wooque opened #6225 "Custom ps format prints escaped values"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman ps --format` prints characters `&gt;` instead of `>`

**Steps to reproduce the issue:**

1. Run `podman ps --format 'table {{.Names}} {{.Ports}}'`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem importa

[2020-05-14 11:50] rhatdan commented on #5698
@sujil02 Did you ever fix this problem?

[2020-05-14 11:57] lburgazzoli commented on #6015
before trying to run podman system service in a container I gave it a try running it on my host against something that emulate what a pipeline would do.

So what I did is:

1. run podman as service as `podman system service --timeout 0 tcp:localhost:9999`
2. export DOCKER_HOST=tpc://localhost:9999
3. docker pull mongo:4.0
4. run some [java code](https://github.com/lburgazzoli/testcontainers-playgr

[2020-05-14 12:12] rhatdan commented on #6222
I believe we are calling kata-runtime-stop  and kata-runtime-kill when stopping and removing the container, then we remove the storage.  kata-runtime should be stopping the qemu process.  Podman does not know anything special about kata versus crun, versus runc.

@mheon WDYT

[2020-05-14 12:15] sujil02 commented on #5698
I did try a lot working around it. The current `ctr.config.User` is basically a user name string. And to pass appropriate user details to volumes binding might need to be updated to hold uid. I will give it a go today again and see if I might have been mistaken.

[2020-05-14 12:20] raukadah opened #6226 "/usr/bin/podman version returns Error: default OCI runtime "crun" not found: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

*On Installing podman from master on fedora 31and creating the rpm using make package-install command
and then run
podman version
It returns Error: default OCI runtime "crun" not found: invalid argument
**Steps to reproduce the issue:**

1.git clone https://github.com/containers/libpod

2. ma

[2020-05-14 12:26] Navdeepuniyal commented on #6084
I am facing the same issue when using REST API:
[code]
{"cause":"invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd","message":"CreateContainerFromCreateConfig(): invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd","response":500}

Any hints?

[2020-05-14 12:27] rhatdan commented on #5698
There are calls in buildah that translate the User field to a UID, by reading the /etc/passwd inside of the container.
	"github.com/containers/buildah/pkg/chrootuser"

uid, gid, _, err := chrootuser.GetUser(s.mountPoint, s.builder.User())

[2020-05-14 12:29] matzew commented on #6018
How can I get this fix, in 1.9.2 ?

I do not seem to get an update on my Fedora 32 ...

[code]

gives me nothing to update :disappointed:

[2020-05-14 12:32] sujil02 commented on #5698
oh wow, this is great certainly helps. On it.

[2020-05-14 12:38] rhatdan commented on #6226
Podman requires crun to run on cgroupV2 machines.

[2020-05-14 13:14] rhatdan commented on #6084
Did you remove the libpod.conf, and could you try out podman-1.9.2 in updates-testing?

[2020-05-14 13:16] rhatdan commented on #6018
It must not have gotten out to the mirrors yet.
You can grab the package from:
https://koji.fedoraproject.org/koji/buildinfo?buildID=1506922

[2020-05-14 13:31] mheon commented on #6225
Working fine with the new v2.0 code on my system. Going to close as such; this is minor enough that I don't think we want a backport to v1.9

[2020-05-14 13:31] #6225 closed

[2020-05-14 13:49] mheon commented on #6222
The suggested patch is completely unworkable; we cannot allow cleanup on running containers, it would allow containers that are running to be unmounted.

It sounds like Kata really disagrees with us unmounting the storage first, then removing the container from the runtime. That seems like a reasonable ask from an OCI runtime, so I've added a patch (#6229) to do this. If that's not enough to resol

[2020-05-14 13:55] mheon commented on #6015
Is Alpine ever explicitly pulled?

[2020-05-14 14:01] lburgazzoli commented on #6015
No, the java code references only [mongo:4.0](https://github.com/lburgazzoli/testcontainers-playground/blob/master/src/main/java/com/github/lburgazzoli/Main.java#L16)

[2020-05-14 14:25] mheon commented on #6015
That last InternalServerException seems to indicate it was looking for alpine, but the errors further in the stack do seem to indicate mongo:4.0.

Any chance you can add `--log-level=debug` in `podman system service` and provide the logs it produces (particularly parts where your demo is running against it)

[2020-05-14 14:30] lburgazzoli commented on #6015
Here you have:

[code]

[2020-05-14 14:37] baude commented on #6015
can you provide the json that is embedded as part of the body on the create call?

[2020-05-14 14:39] Navdeepuniyal commented on #6084
Interestingly, it works with the restart.

[2020-05-14 14:57] snir911 commented on #6222
Does Removing state means container might still be running? (in this patch i changed it so be set to Removing only if it's not Running)

#6229 won't help as cleanupRuntime checks it's Stopped or Created state on the beginning and the state is Removing.

The problem seems to be with teardownStorage not cleanupStorage, what is actually the difference?

[2020-05-14 15:26] lburgazzoli commented on #6015
I'm trying to get it but in the meantime I found out that the library does also try to download alpine:3.5 as part of the process bootstrap

[2020-05-14 15:35] lburgazzoli commented on #6015
This is the entire "conversation":

[code]

[2020-05-14 15:37] mheon commented on #6222
Removing means the container is in the process of being deleted. I'm really confused as to how we're getting into Removing while cleanup hasn't been completed, though, Removing should guarantee cleanup already ran...

[2020-05-14 15:43] storrgie commented on #6084
Seeing the same issue on two F32 instances, rolling back `podman-1.8.2` (whats currently "new" in F31) was our current solution. We'll be watching this ticket with intent!

[2020-05-14 15:54] mheon commented on #6222
Nevermind, think I know what's going on here. If `cleanupRuntime()` is happening as part of `remove()` we are never in a good state to actually remove the runtime if it exists (IE, the container was in ContainerStateStopped).

[2020-05-14 16:04] mheon commented on #6222
Pushed one more commit that might resolve this

[2020-05-14 16:30] smekkley commented on #6219
I've already tried podman-remote through varlink with ssh.
Then I found this that varlink is going to be deprecated, so i assumed no ssh client in podman which is not necessarily bad news to me. Because that means I have an option to use tcp directly or set up ssh tcp forwarding with openssh.

 https://github.com/containers/libpod/blob/master/docs/source/markdown/podman-system-service.1.md

[2020-05-14 16:48] edsantiago opened #6233 "flake: Error adding network: failed to list chains"
Flake: seen only once, on rawhide gating tests (cgroups v2), cannot reproduce:
[code]
podman-2.0.0-0.24.dev.git7e9ed37.fc33
containernetworking-plugins-0.8.5-7.1.gitf7a2fc9.fc33
iptables-nft-1.8.4-7.fc33

Does not seem to be #5352:
[code]

Seems very closely related to #5569, except mine is on Fedora Rawhide and not easily reproduced.

This is an on-demand VM, spun up solely for running gating tes

[2020-05-14 16:55] rhatdan commented on #6084
I would love to see if people with this issue, see if it is fixed by podman 1.9.2

[2020-05-14 16:57] mheon commented on #6084
I think this one is resolved by 1.9.2, but I'm going to hold off on closing until someone can confirm

[2020-05-14 17:27] edsantiago commented on #6233
Another failure (still no reproducer, just a brute-force series of reruns):
[code]
This is a simple `podman run`, without `--pull` as in the first report.

Oh hi, and another one on my immediate retry:
[code]
This one is on `run false`.

I still can't get a simple one-command reproducer, but I am comfortable recommending this:
[code]
It consistently fails for me within a few iterations.

[2020-05-14 17:29] mheon commented on #6233
Exit status 1 is thoroughly unhelpful, but I somewhat doubt that there's more detailed output available, knowing CNI.

[2020-05-14 17:37] pruje opened #6234 "create volume path if not exists"
**FEATURE REQUEST**

**Description**
When running a container with mounted volumes, if the directory does not exists, podman returns an error. This is very annoying when using a tons of volumes (often declared in podman-compose files), because we have to `mkdir -p ...` each path before running the container.

**Steps to reproduce the issue:**
[code]
If /path/to/directory does not exists, podman sh

[2020-05-14 18:06] mheon commented on #6234
@rhatdan I believe you had some thoughts on this one?

[2020-05-14 18:24] mheon commented on #6219
We're definitely integrating SSH tunnelling into the remote Podman client, and I believe the Go bindings for the HTTP API as well (@jwhonce can confirm whether I'm right about that).

[2020-05-14 18:34] afbjorklund opened #6237 "Building with podman-remote hangs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to do a `podman build` over podman-remote, and the connection gets stuck.

This happens with both 1.9.0 and 1.9.1, but works OK with 1.8.2. On Ubuntu 19.10

The workaround is running "sudo podman build" remotely (over ssh), which works.

But that means that the user needs to transport

[2020-05-14 18:47] PavelSosin-320 opened #6239 "Question: which combinations are possible: call podman from docker, docker from podman, etc."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2020-05-14 18:51] snir911 commented on #6222
I have a similar version but i was not sure if doing the cleanup before setting the Removing state will make Removing state redundant (or even to regress the bug< #3906> you fixed with 25cc43c376c5ddfa70a6009526f8f03b5235c2c6)

Otherwise, i can confirm this is working (maybe worth moving the kata/runtime part from the first patch commit to the second one, which actually fix it)

[2020-05-14 18:56] baude commented on #6239
@PavelSosin-320 could you make your question clearer? At this point, the question is too wide to provide an accurate response.

[2020-05-14 18:58] baude commented on #6219
yup

[2020-05-14 19:29] rhatdan commented on #6234
@pruje I believe this is a bug in Docker, and should return an error.  We have decided to not create the source directory if it exists.  The reason that I do not like this, is users could easily have a typo in the source path, which will lead to one or more directories being created on their system.  If a user wants the source directory then they should create it.  Not have it created as a side ef

[2020-05-14 19:29] #6234 closed

[2020-05-14 19:33] #5981 closed

[2020-05-14 19:57] rhatdan commented on #6239
Docker and Podman are two different container engines.  They work independently and neither requires the other.  Both work with the same container images and container registries and both launch containers using the same tools to configure the linux kernel to run containers (runc).

[2020-05-14 19:58] rhatdan commented on #6219
Also varklink is deprecated.  Not going away for a while.

[2020-05-14 20:06] lburgazzoli commented on #6015
when using docker the flow is the following one:

[code]

[2020-05-14 20:59] mkoura commented on #6098
@mheon I cannot reproduce the issue on v1.9.2. Thanks!

[2020-05-14 21:05] snir911 commented on #6222
fixed by #6229

[2020-05-14 21:05] #6222 closed

[2020-05-14 21:42] jdockter opened #6240 "Question: when do new podman releases, like 1.9.2, become available for Ubuntu?"
**Description**

Wondering how frequently new releases get pushed to repositories like kubic for platforms like Ubuntu
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/
?

[2020-05-14 22:08] mheon commented on #6240
They should be auto-built by OBS - @lsm5 can you elaborate here?

[2020-05-14 22:17] mheon commented on #6237
@baude PTAL

[2020-05-15 01:56] jordanst3wart commented on #5513
Removing `events_logfile_path = ""` in `libpod.conf` removed the error for me. Thanks @mheon

[2020-05-15 08:14] vrothberg commented on #6226
I believe there's a slight regression when running `podman version` which should not error out even if crun isn't installed. @giuseppe suspected in IRC that we might be loading the config for `podman version` but shouldn't.

[2020-05-15 09:35] chuanchang opened #6241 "[apiv2] failed to export an running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2. ./bin/podman run --name myalpine -td docker.io/library/alpine:latest /bin/sh

3. curl -v -s http://localhost:8080/v1.40/libpod/containers/myalpine/export

**Describe the results you received:*

[2020-05-15 10:14] chuanchang opened #6242 "[apiv2] only outputs container ID whatever running any command inside a running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2. ./bin/podman run --name myalpine -td docker.io/library/alpine:latest /bin/sh

3. curl -H 'Content-type: application/json' -d '{"AttachStderr": true,"AttachStdin": true,"AttachStdout": true,"Cm

[2020-05-15 10:34] chuanchang opened #6243 "[apiv2] failed to create a new image from a running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2. ./bin/podman run --name myalpine -td docker.io/library/alpine:latest /bin/sh

3. curl -v -s -H 'Content-type: application/json' -d '{"container":"myalpine","repo":"newalpine","tag":"v1","comme

[2020-05-15 12:37] onny opened #6244 "Unsupported flag "--platform", multi arch support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1. ``docker run -it --name archlinux-cupsd --platform linux/amd64 archlinux``

**Describe the results you received:**

Unsupported flag "--platform"

**Describe the results you expected:**

Emulate target platform using Qemu. This seems to be an experime

[2020-05-15 13:46] mheon commented on #6242
Exec is only partially implemented right now; #5831 has most of the rest.

[2020-05-15 13:52] rhatdan commented on #5802
@christian-korneck Any movement on this?

[2020-05-15 13:53] rhatdan commented on #5805
@baude @mheon @mccv1r0 Any further info on this?

[2020-05-15 13:53] rhatdan commented on #5788
@kunalkushwaha Any progress on this?

[2020-05-15 13:53] rhatdan commented on #5788
@mheon @haircommander Any ideas on this?

[2020-05-15 13:56] mheon commented on #5788
On our end, the real difficulty is figuring out the format for Kube volume YAML. Once we have that, I think it's a pretty simple mapping.

[2020-05-15 13:56] christian-korneck commented on #5802
no, not from my side so far

[2020-05-15 13:57] mheon commented on #5805
Nope. We should investigate further, though, this sounds like something we should support.

[2020-05-15 14:15] haircommander commented on #5788
named volumes sound like [emptyDir](https://kubernetes.io/docs/concepts/storage/volumes/#emptydir). am I correct in saying so?

[2020-05-15 14:20] mheon commented on #5788
Hmm. That does sound pretty close. I'll take a look.

[2020-05-15 14:26] mccv1r0 commented on #5805
This is (should be) a function of what you set the `iptables` FORWARD chain to allow.

[2020-05-15 14:28] frezbo commented on #5788
@haircommander That seems fine to me too, since podman runs on the host.

[2020-05-15 14:39] #6212 closed

[2020-05-15 15:41] rhatdan commented on #5513
I would just remove libpod.conf altogether.  If you never customized it, the system should work fine without it.

[2020-05-15 15:52] mheon commented on #5513
I do think we're going to need to handle this on the `containers.conf` side - all the autogenerated rootless libpod.conf files are going to trigger this, and unfortunately our past mistakes are going to continue to haunt us for a while more here.

[2020-05-15 16:05] rhatdan commented on #6226
Config is loaded by default for every podman command, and it must be complaining that the system has no container engine.  Must be in containers common that this is being checked. But removing the check will just cause systems to blow up with then attempt a podman run.

[2020-05-15 16:29] lburgazzoli commented on #6015
My understanding is that the call

    GET /images/json?filter=alpine%3A3.5

is not properly handled by podman as it does not apply the given filter

[2020-05-15 17:02] ssbarnea opened #6248 "contrib/build_rpm.sh fails on CentOS-8, RHEL-8 and Fedora-31"
As reported by RDO 3rdPaty CI jobs that run on each PR and also as periodic on master, the ability to build rpms directly from source on these plaforms got broken somewhere during the last two weeks.

* https://review.rdoproject.org/zuul/builds?job_name=podman-package-centos-8&project=containers%2Flibpod
* https://review.rdoproject.org/zuul/builds?job_name=podman-package-rhel-8&project=containers%

[2020-05-15 17:09] ssbarnea commented on #6248
We tried to fix this at CI level via https://review.rdoproject.org/r/#/c/27527/6/playbooks/podman/pre.yaml with good results but we realised that would be a really bad idea, as it would involve hacking the operating system and bringing it to an unsupported status (installing ElRepo repositories).

It is much better to implement these changes directly in `contrib/build_rpm.sh` where anyone contribu

[2020-05-15 17:42] rhatdan commented on #6244
Not going to be high on our priority list, but would welcome community to add patches.

[2020-05-15 18:21] rhatdan commented on #5513
Should we ignore events_logfile_path = ""?

[2020-05-15 18:48] bkircher commented on #6090
Can confirm. .lock file is created in $PWD and just removing $HOME/.config/containers/libpod.conf does the trick.

[2020-05-15 19:19] sallyom commented on #5513
weird, I also recently upgraded to fedora32
* First, I had a problem because my rootless podman ~/.config/containers/libpod.conf had `cgroup_manager = "cgroupfs"` instead of `cgroup_manager = "systemd"` but then once I fixed that I'm hitting this issue
* `ERRO[0000] unable to write pod event: "open : no such file or directory"`
 I fixed by `rm -rf ~/.config/containers` altogether (that would've so

[2020-05-15 19:35] rhatdan commented on #5513
The idea is you could copy the system one to that location and modify it to change your defaults. But I guess we have hard coded this into info to show where rootless looks for the default, it then fails over to /etc/containers/storage.conf

podman 1.9.2 should handle the cgroup_manager=systemd issue.

[2020-05-15 20:00] Jooho commented on #3982
This issue happens on my openshift customer site too. Definitely, the customer did not change podman configuration. Unfortunately, there are no reproduce steps.

[2020-05-15 20:57] baude commented on #6243
This is not a bug.  You need to pass those parameters as query parameters.  The proper syntax would be:

```'http://d/v1.40/libpod/commit?container=baude&repo=newalpine&tag=v1&comment=test&author=ajia'```

This too will then fail with an error because only comment can be used with the docker format.

Also, make sure your query parameters are http encoded as they get more complex.  if you need us t

[2020-05-15 20:57] #6243 closed

[2020-05-15 21:00] #6241 closed

[2020-05-15 21:03] mheon commented on #6242
This should be working since #5831 is landed, so I'm going to close.

Resize is still pending on another PR from @jwhonce though.

[2020-05-15 21:03] mheon commented on #6242
Feel free to reopen if exec issues persist.

[2020-05-15 21:09] baude commented on #6221
remove the -s and you will find that the -s is covering up an error.  the error is that this endpoint returns a binary stream (the image), it encourages you to use -o or redirect your output.  For this sort of thing, i would recommend using -o as to not mask any errors.  I would also drop -s from the standard incantation of curl.

[2020-05-15 21:19] baude commented on #6208
-d on curl sends the specified json inside the body of the http request which in certain endpoints (create) is correct.  however, this endpoint uses query params for its input and those attached to the end of the url in the form of url?key=val&anotherKey=val

#2 should be `curl http://localhost:8080/v1.40/libpod/images/json?all=true'`

#3 should be `curl -v -X GET 'http://127.0.0.1:8080/v1.40/libp

[2020-05-16 01:53] refi64 commented on #5631
Sorry about the delay

Actually...normally no, but every time I run `podman images` it starts this process in the background that stays stuck sleeping:

[code]

I'll try on master soon too, since it changed a lot so this might be fixed.

[2020-05-16 03:44] chuanchang commented on #6208
good to know this, thanks.

it works for me.

-X GET can be inferred, it's not necessary in here. the above cmdline will list all of images not only alpine image.
[code]

[2020-05-16 04:02] chuanchang commented on #6221
I only saw the path parameter is required in http://docs.podman.io/en/latest/_static/api.html#operation/libpodExportContainer, so I originally think there is a default
exported path, but it's seems not, it means users must use -o or redirect their output.
in addition, IMO, I also need to improve this for the following error even though users
forgot output path option w/ curl or it's a purpose beha

[2020-05-16 04:15] chuanchang commented on #6241
Unnecessary use of -X or --request, GET is already inferred, a failure reason is users must use -o or redirect their output w/ curl, I can't find this in documentation - http://docs.podman.io/en/latest/_static/api.html#operation/libpodExportContainer , thanks.

[2020-05-16 04:42] chuanchang commented on #6243
Thanks for your comment!

It will be better if there is a comment about this in query parameters 'comment' in documentation - http://docs.podman.io/en/latest/_static/api.html#operation/libpodCommitContainer

It will be friendly for users to give request samples in documentation - http://docs.podman.io/en/latest/_static/api.html#operation/libpodCommitContainer

[2020-05-16 08:00] afbjorklund commented on #5736
It has another block of info now, so I suppose this is fixed.

before: (without the actual date, for brevity)
[code]

after: (without the actual date, for brevity)
[code]

Added in 62803f8d3bacaea9956e6ec3176b223b85d260a5

The main difference seems to be date format.

podman info (partial)
[code]

podman version
[code]

[2020-05-16 08:01] afbjorklund commented on #6240
Our problem is currently that they are _too_ new, and would prefer having e.g. 1.8.2 instead...

[2020-05-16 10:16] danielpo commented on #6084
It didn't work with 1.9.2
``root@podman:~# dnf update --enablerepo=updates-testing,updates-testing-modular podman
...
Upgraded:
  containernetworking-plugins-0.8.6-1.fc32.x86_64
  podman-2:1.9.2-1.fc32.x86_64
  podman-plugins-2:1.9.2-1.fc32.x86_64

Installed:
  catatonit-0.1.5-2.fc32.x86_64

Complete!

root@podman:~# sudo -u rootless_user bash
rootless_user@podman ~ $ podman run -it --rm fedora:32

[2020-05-16 11:57] rhatdan commented on #5833
@alitvak69 Is this still a problem?

[2020-05-16 11:58] rhatdan commented on #5781
I am going to close this since we have a work around.

[2020-05-16 11:58] #5781 closed

[2020-05-16 12:03] rhatdan commented on #6243
Any chance you could make a PR to make these doc changes?

[2020-05-16 12:05] rhatdan commented on #5736
Yes I guess we should translate the date.

[2020-05-16 12:22] jdockter commented on #6240
@afbjorklund so is there a bug in podman-remote?  Is it possible to build another way?

[2020-05-16 12:49] afbjorklund commented on #6240
I suppose we can build from source

[2020-05-16 13:55] afbjorklund commented on #6240
There is some kind of limitation in the opensuse platform, so it can only keep one deb version.
And there are not multiple tracks like in cri-o, so the other releases are only available for RHEL.

#3924 #4937

Was looking for the older packaging, but seems most of it happened in a single commit.
So probably means having to build our own binaries, like we also do for podman-remote.

https://gitlab.

[2020-05-16 16:42] alitvak69 commented on #5833
Not please close the issue.  Sorry for allowing it to go stale.

[2020-05-16 16:42] #5833 closed

[2020-05-16 17:12] lsm5 commented on #6240
I have disabled autobuilds for podman atm. Working on getting crun included into OBS after which I'll build podman.

RE: older releases, I think I'll go the route of creating OBS subprojects for older releases, so in that case if you need an older release, it would be a matter of adding an additional apt repo and installing the release you like.

[2020-05-16 19:29] Chayatan opened #6250 "Error: error pulling "": unable to pull or load image on a root-less container"
Problem: podman load -i rhel6-6.tar fails in non-root user environment

guest2@host:/home $podman load -i rhel6-6.tar
Getting image source signatures
Copying blob f65fa38dc372 done
Copying config 594a9a79ca done
Writing manifest to image destination
Storing signatures
ERRO[0006] Error while applying layer: ApplyLayer exit status 1 stdout:  stderr: invalid argument
ERRO[0006] Error pulling image re

[2020-05-16 19:43] mheon commented on #6250
Any chance this could be re-tried with a more recent Podman? RHEL/CentOS 7.8 and 8.2 should have a 1.6.x release of Podman available.

[2020-05-16 20:22] joequant commented on #6003
Is there any reason why I can't just replace CopyWithTar with a call to shutil?

[2020-05-16 21:18] gnu-lorien opened #6251 "Root containers aren't able to wget web urls"
/kind bug

**Description**

My root containers are no longer able to wget regular web URLs. Rootless containers seem to still be able to do this.

**Steps to reproduce the issue:**

1. sudo podman run -it --rm alpine wget http://github.com/containers/libpod

**Describe the results you received:**

wget: bad address 'github.com'

**Describe the results you expected:**

Connecting to github.com (192

[2020-05-16 21:35] mheon commented on #6251
Probably a firewall plugin issue - https://github.com/containers/libpod/issues/5335

To verify, can you check if `wget` works when you provide a full IP address, and provide the contents of any files in `/etc/cni/net.d/`

[2020-05-16 22:16] gnu-lorien commented on #6251
[code]

[2020-05-16 22:25] mheon commented on #6251
Alright, not what I was thinking, then. Interesting.

Does your system use firewalld for firewall management? And can you provide the output of: `iptables -t nat -nvL` and `iptables -nvL`

[2020-05-16 23:32] abitrolly commented on #6048
F32 is now with `podman` 1.9.1. Backporting #5883 is another issue.

[2020-05-16 23:32] #6048 closed

[2020-05-17 00:10] mheon commented on #5854
@TomSweeneyRedHat Mind taking a look at this one? Must have slipped by when it was first reported

[2020-05-17 11:30] storrgie commented on #6084
Do you know when 1.9.2 will be promoted out of testing on F32?

[2020-05-17 11:53] x70b1 opened #6253 "podman attach prints nothing until modification"
**Description**

If I attach to a container the terminal is still empty until:

* I press a key to change the output on the screen (like enter in a shell)
* I resize the screen

I could not find any other issue with that problem.

/kind bug

**Steps to reproduce the issue:**

1. `podman run --name test -it debian bash`
2. `podman attach test`

**Describe the results you expected:**

I would expect

[2020-05-17 16:56] vrothberg opened #6255 "podman-system-service: support sighup reload"
Long-running processes are commonly reloading their configs after receiving sighub. Since `podman-system-service` may be such a long-running process, it could be worth supporting such reloads. Configs to consider:
* containers.conf
* storage.conf
* registries.conf (+ registries.conf.d)
* ...?

Basically a similar behaviour as cri-o.

@baude @jwhonce @mheon @rhatdan @TomSweeneyRedHat WDYT?

[2020-05-17 18:48] mheon commented on #6255
This could be as simple as stopping + recreating our `libpod.Runtime`, though I'm not sure if that will be enough - some of our config logic is wired as `sync.Once` IIRC.

[2020-05-17 18:50] mheon commented on #6255
Initial look suggests that a lot of rootless paths are `sync.Once`'d. And not much else. This might end up being not that bad.

[2020-05-17 23:39] CameronNemo commented on #5874
This appears to be fixed with the 1.9.2 release.

[2020-05-17 23:39] #5874 closed

[2020-05-18 10:07] Silvanoc commented on #1742
Even when this issue is closed, just to share the information with the people following this issue: [Podman has been accepted to "unstable"](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440)! 🎉

Currently it's still on [version 1.6.4](https://packages.debian.org/sid/podman), but I assume that an update will follow.

If some [criteria are fulfilled](https://wiki.debian.org/DebianTesting), t

[2020-05-18 10:22] Hendrik-H opened #6259 "support HSMs for signing images"
/kind feature

**Description**
Currently it is possible to sign images using OpenPGP. While OpenPGP is supported by security keys like YubiKey (https://www.yubico.com/products/) or Nitrokey (https://www.nitrokey.com/#comparison) there is usually no support by HSMs like:
  - https://www.yubico.com/product/yubihsm-2
  - https://www.nitrokey.com/#comparison
  - https://www.ibm.com/security/cryptocard

[2020-05-18 10:32] lsm5 commented on #6240
Seems like podman entered debian unstable, so I guess we're gonna soon start recommending that as the go-to build for anyone that requires stability.

[2020-05-18 11:16] Edward5hen opened #6260 "API v2: force delete a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Force delete a running container by API v2 following the [doc](http://docs.podman.io/en/latest/_static/api.html#operation/libpodRemoveContainer) seems not to work.

**Steps to reproduce the issue:**

1. setup the API v2 service.

2. podman run --name testctn -d alpine sleep 1000

3. curl -v -X

[2020-05-18 11:23] Edward5hen opened #6261 "API v2: delete an image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
As the [doc](http://docs.podman.io/en/latest/_static/api.html#operation/libpodRemoveImage) says, `/libpod/images/{name:.*}/remove` should delete an image with DELETE method. But I get a "no such image" 404 code.

**Steps to reproduce the issue:**

1. setup the apiv2 service

2. podman pull alp

[2020-05-18 11:51] chuanchang opened #6263 "[apiv2] command can't be executed correctly by attached running container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2.  to run a container

3. to attach the above running container and execute command

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional i

[2020-05-18 12:23] rhatdan commented on #6255
containers.conf is sync.Onced.  But that does not mean the global data could not be substituted for by calling another function.  The `podman system service` is not supposed to be a long running service in general, but I guess could end up that way if under heavy load.
In a perfect world, we could watch for the config file changes with INotify and reload automatically.  But this could become diffi

[2020-05-18 12:30] Edward5hen commented on #6260
I'm closing this, I mistaken the query parameters as payload. Sorry about this.

[2020-05-18 12:30] #6260 closed

[2020-05-18 12:35] Edward5hen commented on #6128
I'm closing. I mistook the query parameters as payloads. The cURL command `curl -v -X POST http://localhost:8081/v1.40/libpod/containers/testctn/restart?t=30` works fine.

[2020-05-18 12:35] #6128 closed

[2020-05-18 13:56] TomSweeneyRedHat commented on #5854
Will take a look today, slipped off my stack.

[2020-05-18 14:01] mheon commented on #6261
@baude PTAL

[2020-05-18 14:20] baude commented on #6261
@Edward5hen i can understand this one is a little confusing because we expose both a single and "batch" removal for images.

http://docs.podman.io/en/latest/_static/api.html#operation/libpodRemoveImage is the standard endpoint which removes one image only and the name is in the path of the endpoint.  For example, images/foobar ... note there is no remove endpoint, instead the method of DELETE tell

[2020-05-18 14:26] baude commented on #6261
actually, there is a bug ...  the single endpoint should NOT have a trailing /remove.  Fixing now...

[2020-05-18 14:32] baude commented on #6261
@Edward5hen thanks for the report!

[2020-05-18 15:00] rhatdan commented on #5828
If the parent container is writable by the shared group, then it should work.

[2020-05-18 15:09] storrgie commented on #5828
yeah, currently using `chmod g+s` to setgid on the parent folder is the approach we're taking.

[2020-05-18 15:10] storrgie commented on #5828
In an effort to clean up. We're generally taking "fork 3" as enumerated above. We've been spending a good deal of time trying to get systemd units to play nice with lifecycling podman containers.... overall I'm incredibly thankful podman exists!

This can be closed, I just wanted others to find this when they started their journey to do deployments with cni/rootless/other ideas.

[2020-05-18 15:34] #6261 closed

[2020-05-18 15:43] #6208 closed

[2020-05-18 15:59] Edward5hen commented on #6261
@baude it's really my pleasure. The fix is so quick!

[2020-05-18 16:45] baude commented on #6237
can you provide the dockerfile in question?

[2020-05-18 16:58] maage opened #6265 "Signed image save"
I'm trying to implement setup where every image is signed and every time image is run,  I want to be able to move images from one host to another without registry (using *podman image save*, *podman image load* and keep signatures intact).

I'm using buildah to create an image and sign it. I use rootless setup with podman / buildah.

But it seems I am not able to save a image as policy denies it e

[2020-05-18 16:58] afbjorklund commented on #6237
Here it is:

[code]

[2020-05-18 17:22] jdockter commented on #6240
@afbjorklund @lsm5 not sure I follow, so should I be seeing 1.9.2 at https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/ soon or should I get it from a different process/location?

[2020-05-18 17:53] rhatdan commented on #6250
Where did rhel6-6.tar come from?

[2020-05-18 18:00] rhatdan commented on #5796
@aanno Any movement on this?

[2020-05-18 18:03] rhatdan commented on #6084
Did you give it good karma?

[2020-05-18 18:25] #5828 closed

[2020-05-18 18:26] fatherlinux commented on #6259
@mtrmac PTAL. Thoughts? :-)

[2020-05-18 18:43] limburgher commented on #6084
I was hitting this and 1.9.2 fixes it for me, but I can't find the update in bodhi to provide karma.

[2020-05-18 18:59] rhatdan commented on #6084
https://bodhi.fedoraproject.org/updates/FEDORA-2020-fb351fcdbb

[2020-05-18 19:01] limburgher commented on #6084
Thanks. :)

[2020-05-18 19:20] mtrmac commented on #6259
I imagine this would use something closer to the X.509 ecosystem instead of continuing to use the OpenPGP format. The c/image policy config format anticipates that to be possible, but no code to use PKCS#11 nor a non-OpenPGP format exists currently.

For HSMs, a major concern is compatibility and testing; PKCS#11 is more or less an “do anything” interface and it’s not so obviously and trivially tr

[2020-05-18 19:21] mtrmac commented on #6259
Overall: Yes, HSM support is a legitimate feature request, but it’s a very non-trivial amount of work _and ongoing maintenance_.

[2020-05-18 19:50] lsm5 commented on #6240
it's building now. Should be ready in sometime.

[2020-05-18 20:09] mheon commented on #6263
I don't think we can test attach with curl, and I'm 99% certain that your command is actually running in the host's shell, not being forwarded to the container. The URL itself seems to have some escaping issues.

I can see streaming output from a container started as `podman run -t -i --rm --name testctr alpine top` with `sudo curl --unix-socket /var/run/podman/podman.sock -v -X POST 'http://local

[2020-05-18 20:29] afbjorklund commented on #6237
Thanks @baude:

I tried upgrading (to `904ee39`) and it seems to have fixed the first issue.

But it now seems to hang on the second step, and eventually time-out:

[code]

Is there something similar needed, for other parts of the protocol too ?

[code]

[2020-05-18 20:37] afbjorklund commented on #6237
Here is how it looks with 1.8.2: (i.e. when not cached, same VM as above)

[code]

[2020-05-18 20:37] baude commented on #6237
@afbjorklund it finished for me ... ill try multiple times.

[2020-05-18 20:39] baude commented on #6237
[code]

[2020-05-18 20:40] baude commented on #6237
[code]

[2020-05-18 20:42] Hendrik-H commented on #6259
@mtrmac thanks, I hadn't found that documentation before. I don't quite understand this point:

The signature contains what is described here: https://github.com/containers/image/blob/master/docs/containers-signature.5.md#json-data-format
That digest in there is a bit complicated to determine so it's easier to just do an OpenPGP signing of the image with any key. The folder that the signature is s

[2020-05-18 20:45] RussianNeuroMancer commented on #6240
Not installable currently:

[code]

Pay attention to the "~1" part of the conmon and containernetworking-plugins package version.

[2020-05-18 20:47] summatix commented on #6098
I just had this error happen again. Maybe I need to make a habit of running `rm -rf /tmp/run-$(id -u)` whenever I want to use podman.

[2020-05-18 20:56] mtrmac commented on #6259
I don’t understand at all. What aspect of “the image” is signed in this process? Easier to do what?

With the simple signing signatures, no keys of any kind are stored alongside signatures by c/image, podman, or the like, AFAIK. It almost seems as if you meant “digest” here.

If this is talking about the https://github.com/containers/image/blob/master/docs/containers-signature.5.md#json-data-forma

[2020-05-18 20:56] lsm5 commented on #6240
hmm, let me push an update, thanks for that

[2020-05-18 20:59] afbjorklund commented on #6237
The environment is still a bit shaky in general, it's not _unheard_ of to get timeouts and such.

`ssh: exit status 255`

It is running a privileged container (in podman), and in this one it runs the varlink bridge...

Both started with `sudo`.

----

I don't think the VM-based environment has similar issues, then again it still runs 1.8.2.

So I will check if we have the same problems in VirtualB

[2020-05-18 21:04] mtrmac commented on #6259
(BTW Skopeo provides several subcommands that can be helpful for creating or reviewing signatures without the full Podman integration, including something to help with the manifest digest value. In general I’d fairly strongly recommend defaulting to the Podman pull/push and Skopeo copy functionality; the specialized subcommands may be useful for separately-implemented HSM integrations, if you alre

[2020-05-18 21:11] lsm5 commented on #6240
I pushed `1.9.2~2` just now to handle this. Should be ready in sometime.

[2020-05-18 21:16] paoloantinori commented on #6185
@vrothberg I've built `crun` master but I still don't see anything.

Could you be able to confirm if you the 2 files created remain empty?:

[code]

[2020-05-18 21:36] mheon commented on #5884
#6270 has support for detached exec.

[2020-05-18 22:59] mheon commented on #6098
What Podman version? 1.9.2 doesn't appear to be in stable yet, but it should be landing there tomorrow (it's marked for stable as of today).

[2020-05-18 23:08] summatix commented on #6098
I'm still using 1.9.1. It's a simple enough problem to fix so I'll wait for 1.9.2 to be released to stable. The trouble is I don't know how to reproduce the error, it just happens sometimes.

[2020-05-18 23:56] wking commented on #1911
cri-o/cri-o#3409 fixed this issue one level up, for folks who are coming at this down that pipe.  As mentioned there, there will be continued work on getting a fix down lower in the stack for other containers/image consumers, but fixing at those levels is more complicated.

[2020-05-19 06:26] nimula commented on #6033
Is there any place can find the tarball file of podman for macOS?

[2020-05-19 06:40] Hendrik-H commented on #6259
If I want to create the signing file on my own without using podman or skopeo I need to have the image manifest JSON file, which looks like this one: https://github.com/containers/image/blob/master/docs/containers-signature.5.md#json-data-format
I have not found any easy way to get that file. That's why I also don't see how I could use https://github.com/containers/skopeo/blob/master/docs/skopeo-m

[2020-05-19 06:51] Hendrik-H commented on #6259
As stated in the earlier reply I'm missing a command to get the manifest JSON. As said it would be nice to be able to create the `signature-1` file by myself but still have podman verify that when an image is pulled or even when a container is started. Using stand alone code I could sign the image digest and verify that before I start the container. But I would really prefer the checking to be int

[2020-05-19 07:56] afbjorklund commented on #6033
I think it is available in Homebrew ? `brew cask install podman`

[2020-05-19 07:56] stephan-klein opened #6272 "Update of Podman to 1.9.2 via Kubic fails on Centos 8 because of dependency issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install/Update Podman under Centos 8 via Kubic Repository as described here https://podman.io/getting-started/installation.html

**Describe the results you received:**
[code]

**Describe the results you expected:**

Successful update of podman

**Addition

[2020-05-19 08:52] #6240 closed

[2020-05-19 09:23] vrothberg commented on #6185
Isn't crun being install to `/usr/local/bin/crun` if you use the makefile?

To debug the seccomp hook, you can also use `sudo journalctl` and look for `oci-seccomp-bpf-hook`.

[2020-05-19 09:31] giuseppe commented on #6098
I think the easiest reproducer is to run `killall podman` as rootless and it will also kill the pause process.

[2020-05-19 10:17] paoloantinori commented on #6185
you are right, thanks for spotting that!
[code]

But I still cannot see anything in the output files or in `journalctl` logs.

Am I doing something clearly wrong or is there still a set of scenarios where no logs are presented?

https://gist.github.com/paoloantinori/fe325ca014e4f17d060c0236cb40d129

[2020-05-19 10:21] vrothberg commented on #6185
Can you try with a simple `alpine ls` container? Just to start with something known to work.

[2020-05-19 11:48] chuanchang opened #6274 "[apiv2] can't build successfully an image from the given Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080

2. to create a Dockerfile

3. curl -v -X POST "http://localhost:8080/v1.40/build?dockerfile=./Dockerfile"|jq

**Describe the results you received:**
[code]

**Describe the results you expected:**

[2020-05-19 12:32] nimula commented on #6033
The Homebrew version stays at 1.6.1-dev, I hope to find a newer version.

[2020-05-19 12:35] isimluk commented on #6084
Works for me. Karma voted. Thanks. :sake:

[2020-05-19 12:39] rhatdan commented on #6033
They should be available from here.
https://github.com/containers/libpod/releases/tag/v1.9.2

[2020-05-19 12:42] afbjorklund commented on #6033
The mac binary seems to be missing yet, maybe it is upcoming ?
(there is windows and static and .msi, but no darwin or mac installer)

Was there any volunteers for adding podman to homebrew proper ?
(to build it from source code, rather than the current binary "cask")

[2020-05-19 12:42] afbjorklund commented on #6033
I'm not sure if you are missing all that much by going with 1.6 ?

It's only the client, most of the improvements happen server-side

[2020-05-19 13:38] nimula commented on #6033
Thanks, I will try the homebrew version.

[2020-05-19 13:41] aric49 opened #6276 "After upgrading to 1.9.1 - ERRO[0010] unable to write pod event"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
A few days ago I updated to Podman 1.9.1.  After updating I am receiving error messages when performing common container operations such as `podman run`:

[code]

or when stopping containers:
[code]

The commands still execute, but the error messages are still displaying. Here is a full log of

[2020-05-19 13:46] mheon commented on #6276
I believe this is fixed with v1.9.2, which should be hitting stable on F31 very soon (likely sometime late today / early tomorrow). If you can test with that and report back, it would be greatly appreciated!

[2020-05-19 14:13] mheon commented on #6084
Thanks for checking, everyone! Glad to see this is resolved.

[2020-05-19 14:15] mheon commented on #6272
@vrothberg Any thoughts here?

[2020-05-19 14:18] mheon commented on #6274
@vrothberg PTAL

[2020-05-19 14:23] rhatdan commented on #6033
@mheon Why is there no mac client on https://github.com/containers/libpod/releases/tag/v1.9.2?

[2020-05-19 14:24] rhatdan commented on #6276
dnf -y update --enablerepo update-testing podman

[2020-05-19 14:24] mheon commented on #6033
Nobody told me to build one, so I didn't - I assume we do want one?

[2020-05-19 14:27] aric49 commented on #6276
@mheon  -- Thanks for the heads up. I just saw the update in DNF just now and that resolved the issue for me. No more pesky errors, closing this issue.

[2020-05-19 14:27] #6276 closed

[2020-05-19 14:31] vrothberg commented on #6274
The usage of curl is not correct (see https://docs.docker.com/engine/api/v1.40/#operation/ImageBuild). The build endpoint expects a tarfile with the Dockerfile(s) and the entire build context:
[code]

I have to leave the keyboard in a bit, so I cannot reproduce but the usage of this issue is wrong and Podman validly errors out.

[2020-05-19 15:19] anarcat commented on #1742
for those wanting details of the debian package, i find that https://tracker.debian.org/pkg/libpod is a better URL to follow. `packages.debian.org` is more "user-facing" and `tracker.debian.org` is better for "developers" (including upstreams), and will show stuff like "has the package entered testing? why not? which versions are in which release? (including ubuntu if it diverges? yes!) is it behi

[2020-05-19 15:51] disaster123 commented on #5138
+1 this broke two of my setups as well also I find it very strange to see 127.0.0.1 as source IP for exposed ports

[2020-05-19 17:50] rhatdan commented on #5859
@baude You ready for this?  Or has this already been done?

[2020-05-19 17:53] chuanchang commented on #6274
Thanks, but I haven't found related documentation about 'header Parameters' in http://docs.podman.io/en/latest/_static/api.html#operation/buildImage

[2020-05-19 17:53] disaster123 commented on #5138
i think all users expect that the source IP is the real source ip even in rootless mode

[2020-05-19 18:12] rhatdan commented on #6098
dnf -y update --enablerepo=update-testing podman

And you will get the new version.

[2020-05-19 18:16] TomSweeneyRedHat commented on #5854
@thoraxe apologies for the delay on this one.

So I'm a bit confused, and perhaps it's just a matter of me not understanding your results.  Above you said you didn't see the `templates` directory, yet in the "results you received" section, it looks like a `templates` directory is there?

Using Podman 1.8.3-dev, it seems to work for me.  Can you confirm your results please, or more likely, straight

[2020-05-19 18:17] mheon commented on #5138
I think that's a little hyperbolic - while we've seen complaints about the switch to rootlesskit port forwarder, for the most part it doesn't seem to have been a problem for our users.

We have no plans to revert the change of port forwarder, but @aleks-mariusz is working on a PR to allow optionally selecting the old port forwarding method for containers where the new approach does prove problemat

[2020-05-19 18:21] disaster123 commented on #5138
may be ;-) at least i'm thinking of log files where remote ip is logged. I already tried the PR but src IP is still 127.0.0.1 - commented in the PR

[2020-05-19 18:23] baude commented on #5859
sure

[2020-05-19 18:52] joequant commented on #6003
put in a fix in #6279

This turned out to be a very tricky patch to get right.

[2020-05-19 18:58] rhatdan commented on #6272
Can we update containernetworking-plugins >= 0.8.6-1?

[2020-05-19 19:01] rhatdan commented on #6033
We want a MAC Version yes, primarily for CRC.

[2020-05-19 19:13] mheon commented on #6272
Ahh, this is an OBS-build Cent package - @lsm5 PTAL

[2020-05-19 19:26] lsm5 commented on #6272
my bad, seems like some of my changes in the autobuilder job didn't get done correctly for the plugins package. Fixing...

[2020-05-19 19:29] rhatdan commented on #6274
It would be great to get these curl commands into a test suite that we could run on each PR.

[2020-05-19 19:45] mheon commented on #4318
#6280 flips the default to off for named volumes.

[2020-05-19 20:22] lsm5 commented on #6272
Done. Please close once you verify this works.

[2020-05-19 20:52] #5238 closed

[2020-05-19 20:58] edsantiago opened #6283 "podman pod inspect: needs --format option"
[code]
Pretty low priority if noone has asked for this yet (I searched)

[2020-05-19 22:08] siretart commented on #1742
Thanks anarcat for keeping this issue posted.

The packages in debian are currently lagging a few upstream releases behind, but the good news is that I already prepared updated packages and they work great for me on my laptop. The new packages needed a couple of dependencies updated and as soon as [they](https://ftp-master.debian.org/new/golang-github-containers-ocicrypt_1.0.2-1.html) [make](https

[2020-05-20 05:05] sjbylo opened #6285 "Download error"
Click on the "Latest remote client for MacOS" link shows this error.

Download error: NoSuchKeyThe specified key does not exist.No such object: libpod-master-releases/podman-remote-latest-master-darwin-amd64.zip

[2020-05-20 08:00] vrothberg commented on #6274
That's a fair point. The docs should mention that.

[2020-05-20 08:01] Edward5hen opened #6286 "make error - undefined: varlinkapi.New"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm following [the installation doc](https://podman.io/getting-started/installation) to build podman from scratch for version [2.0.0-rc1](https://github.com/containers/libpod/releases/tag/v2.0.0-rc1) on fedora 32. An error happens while doing the make step: `undefined: varlinkapi.New`. I didn'

[2020-05-20 09:09] Edward5hen opened #6287 "APIv2 healthcheck: hang while cURLing when the container is healthy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The cURL command will hang when using [APIv2 for healthcheck](http://docs.podman.io/en/latest/_static/api.html#operation/libpodRunHealthCheck). And there will be a process `podman heathcheck run .....` always running in the background.

**Steps to reproduce the issue:**

0. `podman system serv

[2020-05-20 09:45] boaz0 commented on #6283
if no body minds I would like to work on this.

[2020-05-20 09:50] vrothberg commented on #6283
Sure, thanks!

[2020-05-20 10:15] carlpett opened #6288 "podman images very slow"
/kind bug

**Description**
The bash_completion for `podman run` is *very* slow. Running with `set -x`, it seems the longest operation is listing all images:
[code]

I have ~460 images locally at this time (according to `podman images | wc -l`, so quite a lot of `<none>` and versions sharing underlying layers), and `podman images` takes takes 20 seconds:
[code]

Note that this happens even when I a

[2020-05-20 10:24] carlpett commented on #6288
Checked `du -hs ~/.local/share/containers`, and it contained 51G. Ran `podman system prune`, and the directory is now 32G instead. And `podman images | wc -l` is now 117, and takes 0.5 seconds.
This installation of podman has been used and upgraded for 18 months or so, could there have been some broken old data lying around that made it very slow, or is there some non-linear algorithm in there to

[2020-05-20 10:37] lsm5 commented on #6272
@stephan-klein Closing, please reopen if the issue isn't resolved for you.

[2020-05-20 10:37] #6272 closed

[2020-05-20 10:42] Edward5hen opened #6289 "APIv2 doc error - image tree return code 404"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

 The http return code for "no such image" should be 404 in DOC: http://docs.podman.io/en/latest/_static/api.html#operation/libpodImageTree, but not 401.

And it was designed as 404, I believe this is a typo.

[code]

[2020-05-20 13:08] ikavalio opened #6290 "CONTAINER_NAME field is missing in journald logs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'm using a journald driver for podman containers and the output used to include `CONTAINER_NAME` field. Unfortunately, all current podman versions (CentOS 8.1, Fedora 32) don't have it that makes the process of finding the actual container harder than necessary (reverse lookup container

[2020-05-20 13:18] mheon commented on #6290
@haircommander This is mostly a Conmon thing, IIRC - we'd need a flag to pass container name in, and then the journald log formatter would need to include it?

[2020-05-20 13:26] haircommander commented on #6290
conmon already has this capability
https://github.com/containers/conmon/blob/82e9358196126b4183e393e4517428f2cc22dfc7/src/ctr_logging.c#L229
but podman wasn't passing the name down. cooking up a PR to fix now

[2020-05-20 13:28] lsm5 commented on #6287
Trying this on master branch, I don't see a hung process, but this instead:

[code]

@Edward5hen So, IIUC, expected result would be a `"Status":"healthy"` in there instead of a blank status, yes? /cc @vrothberg

[2020-05-20 13:54] mheon commented on #6290
Awesome!

[2020-05-20 13:55] lsm5 commented on #6286
hmm, rawhide rpmbuilds work fine with BUILDTAGS  https://koji.fedoraproject.org/koji/packageinfo?packageID=26289 , but that's because they don't run `make` for building. Looking...

[2020-05-20 13:56] haircommander commented on #6290
oops, we need a conmon fix too https://github.com/containers/conmon/pull/154

[2020-05-20 13:57] mheon commented on #6288
We do have some algorithmic parsing in `podman images` (to determine if images are dangling, IIRC?) which may significantly add to the amount of processing involved, but that significant of a slowdown does sound unusual

[2020-05-20 13:57] mheon commented on #6288
@vrothberg Any thoughts here?

[2020-05-20 14:02] lsm5 commented on #6286
@Edward5hen can you try `make BUILDTAGS="varlink selinux seccomp"`. The `varlink` tag needs to be specified.

@baude @jwhonce @vrothberg do we expect this to succeed without the `varlink` tag?

[2020-05-20 14:03] vrothberg commented on #6288
Unfortunately, I have nothing at hand. Some users made similar observations over time but such slow downs are seemingly random in the sense that we don't have a reproducer.

[2020-05-20 14:04] lsm5 commented on #6285
@cevich @jwhonce PTAL ^

[2020-05-20 14:05] mheon commented on #6285
#6277 will resolve this (though I still need to get an OS X build up for the latest release)

[2020-05-20 14:06] vrothberg commented on #6286
I believe we need varlink. `make {binaries, podman, podman-remote}` set the build tags automatically. I recommend use these targets for building.

[2020-05-20 14:07] vrothberg commented on #6286
The `make BUILDTAGS="selinux seccomp"` in the installation docs refers to building runc. Maybe there was a confusion around that?

[2020-05-20 14:07] mheon commented on #6286
I would 100% expect Podman to build successfully without Varlink - that's a tag we added ourselves to gate whether Varlink support was added to the build.

[2020-05-20 14:09] haircommander commented on #6290
and the podman fix: https://github.com/containers/libpod/pull/6291
@ikavalio can you try these two fixes to see if they fix your problem?

[2020-05-20 14:10] vrothberg commented on #6286
`# github.com/containers/libpod/pkg/domain/infra/abi` ... I assume the varlink API isn't guarded by the build tag

[2020-05-20 14:12] lsm5 commented on #6162
@rhatdan Is it ok to use the containers.conf from the vendored containers/common the containers.conf inside libpod?

The containers.conf shipped in f32 skopeo/containers-common differs from the containers.conf vendored via containers/common inside libpod like so:

[code]

[2020-05-20 14:13] ikavalio commented on #6290
@haircommander sure, thanks very much for your help and quick reply!

[2020-05-20 14:14] edsantiago opened #6292 "podman pod create --pod-id-file : broken (empty file contents)"
Broken in master (4eee0d840f0af81560d89864ea64b95c9e70b18d):
[code]
Works fine in podman-1.9.1-1.fc32

[2020-05-20 14:21] lsm5 commented on #6286
thanks, I'll look into this..

[2020-05-20 14:29] lsm5 commented on #6162
btw, would the same registries.conf also be used by buildah? I guess it's best added to containers-common deb package then.

[2020-05-20 15:31] #6289 closed

[2020-05-20 16:03] haansn08 commented on #6155
The error message could clarify that this error occurs because the container is used in a pod and you have to delete the pod first.

[2020-05-20 16:40] rhatdan commented on #6155
Would you like to open a PR to make that happen?

[2020-05-20 16:53] ikavalio commented on #6290
@haircommander I'm sorry, I wasn't able to build fully functional podman from sources, but I built and tested them separately and everything seems to work fine. Thanks!

[code]

[code]

and from a separate conmon test
[code]

[2020-05-20 17:23] carlpett commented on #6288
Yeah, I pretty much regretted not taking a snapshot as soon as I had started the prune :( Should never destroy a repro...
Anyway, I started a synthetic test on my machine now, pretty much just looping over `podman build`, `touch some-file`, `time podman images`, and I can see a pretty rapid rise in the timings. I'll push it up to ~450 and then post a gist with the data.

[2020-05-20 17:37] alitvak69 opened #6298 "podman stop command fails to properly stop container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  Run container without detaching
[code]
2.  Stop container
[code]
**Describe the results you received:**
On the stderr / stdout of attached terminal I get

`[ERR] Unknown signal terminated`

Eventually, after 10 seconds,  I see podman stop returning an id

[2020-05-20 17:43] lsm5 opened #6299 "podman 1.9.2 fedora32 rootless gating test failures"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Gating tests for rootless are failing and that caused the bodhi update for 1.9.2 to get ejected from the stable set.

See the failures [here](https://jenkins-continuous-infra.apps.ci.centos.org/blue/rest/organizations/jenkins/pipelines/fedora-f32-build-pipeline/runs/484/nodes/220/steps/247/lo

[2020-05-20 17:44] lsm5 commented on #6299
/cc @mheon @giuseppe @edsantiago

[2020-05-20 17:45] lsm5 commented on #6299
lots of:
[code]

[2020-05-20 17:45] edsantiago commented on #6299
Direct link: https://jenkins-continuous-infra.apps.ci.centos.org/blue/rest/organizations/jenkins/pipelines/fedora-f32-build-pipeline/runs/484/nodes/220/steps/247/log/?start=0

[2020-05-20 17:56] gnu-lorien commented on #6251
Sorry for the delayed response.

Yes I use firewalld.

[code]

[code]

[2020-05-20 18:26] mheon commented on #6251
I don't see a single CNI-created chains in there, interesting.

@mccv1r0 Any ideas here? I'd expect to see at least something CNI in there.

[2020-05-20 18:34] carlpett commented on #6288
Okay, made a run between 127 images (what was left after the prune) up to 450. I used this script:
[code]

With this Dockerfile:
[code]

I can't share the actual files we copy over, but it is ~50k of plain text in /config. The layers above are ~250M, but the only layers which are rebuilt are the bottom three, due to touching a file in /config.
I don't believe the content of the image makes any dif

[2020-05-20 19:02] haraldh opened #6303 "podman version --format '{{.Server.APIVersion}}'"
Would be cool, if this one could be added:

[code]

as in PR #4608

_Originally posted by @haraldh in https://github.com/containers/libpod/pull/4608#issuecomment-631664581_

[2020-05-20 19:08] rhatdan commented on #6292
@sujil02 PTAL

[2020-05-20 19:11] rhatdan commented on #6162
I think the containers.conf from Fedora would be fine.  Although it looks newer then what is in containers/common?  The registries.conf file in Ubuntu should probably drop the fedora registry.  Perhaps add an ubuntu registry if one exists.

[2020-05-20 19:23] mccv1r0 commented on #6251
Agreed.  Looking at my `podman` using `firewalld` setup I see the usual CNI Chains.

Try using

[code]

[2020-05-20 19:42] mheon commented on #6298
Are you sure that message is not coming from the app inside the container? That doesn't seem to match the format of the error logs Podman itself prints.

[2020-05-20 19:59] rhatdan commented on #6288
Could be us trying to see the size of some of the images, which we should not be doing by default.

[2020-05-20 20:34] haraldh commented on #6303
So, we want to replace `docker` in a hosted github action runner. I thought about symlinking podman to /usr/bin/docker .. but then again the github runner does these:

[code]

and podman does not understand `--label` and `network` in rootless mode.

[2020-05-20 20:35] haraldh commented on #6303
I might write a filter shim...

[2020-05-20 20:59] baude commented on #6298
I just verified it is indeed coming from inside the container.  The 10 seconds is a timeout.  It looks like the app in your program catches the first signal.  After a 10 second timeout, podman kills it.

[2020-05-20 21:06] alitvak69 commented on #6298
Yes you are right, looks like they wait for interrupt to kill the server
[code]
Tested with nginx an it all good, sorry for jumping to conclusions.

[2020-05-20 21:09] alitvak69 commented on #6298
Now, I wonder though why podman ps is hanging when I issue podman stop against this container in different terminal.  It looks like podman is waiting for one container to die.

[2020-05-20 21:11] haraldh commented on #6303
But then again... maybe it's not even possible to run rootless podman in rootless podman.

[2020-05-20 21:19] baude commented on #6298
because while podman is waiting for the timeout, it has the container locked.  you'd be better suited to do a `podman stop -t0 httpd-echo` in this case.

[2020-05-20 22:18] alitvak69 commented on #6298
I think I understand.  Thank you all.

[2020-05-20 22:18] #6298 closed

[2020-05-21 00:50] kallisti5 commented on #4318
oh wow.. this one was a obnoxious to track down and not super obvious. All of our CI started breaking.

Pretty much compiling anything within a named volume requires exec (autoconf does a bunch of gcc compiler checks which execute test binaries)

[2020-05-21 03:39] Edward5hen commented on #6286
@lsm5 this issue is not seen if I add the tag varlink - `make BUILDTAGS="varlink selinux seccomp"`

[2020-05-21 04:09] Edward5hen commented on #6287
@lsm5 I changed to use another server(fedora32) and podman version(2.0.0-rc1). I still got the hung process.
Yes, I think `"Status":"healthy"` is more reasonable.

[2020-05-21 09:13] chuanchang commented on #6274
@vrothberg , I still can't get expected result w/ above parameters, maybe, I'm wrong, could you give a cmdline example?  thanks!

[code]

[2020-05-21 11:52] eyusupov commented on #3993
Looks like #2808 added network options, but not `userns`.

[2020-05-21 14:02] #5884 closed

[2020-05-21 14:44] baude commented on #6287
please check again with master ... i think i inadvertently fixed this while fixing healthcheck integration tests.

[2020-05-21 15:00] edsantiago commented on #6299
OK I think I'm getting closer. The [failing bodhi tests](https://bodhi.fedoraproject.org/updates/FEDORA-2020-fb351fcdbb) list three builds, not one, and I think the smoking gun is `conmon`. In September 2019 I added [fedpkg gating tests for conmon](https://src.fedoraproject.org/rpms/conmon/c/92baedb48187e9c18ad63ef957f28fbf9cd6358f?branch=master), and nauseatingly did so by copying podman tests. (

[2020-05-21 15:39] lsm5 commented on #6287
On Thu, May 21, 2020 at 07:44:18AM -0700, Brent Baude wrote:

yes, works with current master branch.

[code]

[2020-05-21 15:49] rtartler-blp commented on #5732
I'm seeing this problem on a RHEL 7.7 system:

[code]

From https://www.redhat.com/en/blog/three-new-container-capabilities-red-hat-enterprise-linux-77 I understand this kernel is supposed to work. Any suggestions how to diagnose this issue further? What else might be the problem?

[2020-05-21 15:59] edsantiago commented on #6299
Tests pass when run manually with the required `loginctl`. I've `+1`ed the bodhi build but it looks like there isn't actually any way to waive test results, despite documentation to the contrary.

[2020-05-21 15:59] #6299 closed

[2020-05-21 17:35] #6287 closed

[2020-05-21 17:56] mheon commented on #3993
I'm going to reopen given that.

[2020-05-21 19:16] sujil02 commented on #6292
Fixed with #6313

[2020-05-21 19:16] #6292 closed

[2020-05-21 19:33] lsm5 commented on #6162
@vrandr please try `1.9.2~3` and lemme know. Should be available on OBS now.

[2020-05-21 20:51] rhatdan commented on #5885
@htfy96 Are you still seeing this in the master branch?

[2020-05-21 20:52] rhatdan commented on #5878
Looks like this is fixed/merged.

[2020-05-21 20:52] #5878 closed