[2019-06-10 07:52] nertpinx commented on #3277
@mheon Well, clearly slirp4netns, as the userspace process running in the default network namespace, should be able to connect to the same nameservers as other processes in the default net namespace, so I see no reason for having google dns servers in /etc/resolv.conf. I just do not know if that is done by slirp4netns or podman.

[2019-06-10 10:01] rhatdan commented on #3288
@baude is this podman attempting to write events to the journal?

[2019-06-10 10:17] rhatdan commented on #3277
That would most certainly be podman doing the resolv.conf.

[2019-06-10 10:20] deefin opened #3289 "Expected behaviour of kill SIGKILL from host to podman"
**BUG REPORT? : not sure...**

/kind bug

**Description**

Upon `go get ./cmd/...` in an application, the container consistently hangs when fetching a specific module. The container becomes un-useable and they only way to kill it is with `kill -9 $(pidof podman)`. This leaves many artifacts behind that effect the behaviour of simple commands like `podman images`.

**Steps to reproduce the issue:**

[2019-06-10 10:25] rhatdan commented on #3289
@mheon PTAL

[2019-06-10 11:57] nertpinx commented on #3277
Great! So did I miss any reasoning behind providing default google nameservers with slirp4netns instead of just using 10.0.2.3?

[2019-06-10 12:21] deefin commented on #3289
To update, I can only reproduce this behaviour when using `go get with a go.mod`. Outside the project dir, I can `go get github.com/go-sql-driver/mysql` without issues...

[2019-06-10 12:27] mheon commented on #3288
We'll definitely need WSL 2. Ideally it works out of the box at that point,
though I suspect config file tweaking is going to be needed.

On Mon, Jun 10, 2019, 06:02 Daniel J Walsh <notifications@github.com> wrote:

[2019-06-10 13:14] rhatdan commented on #3277
@giuseppe Any ideas?

[2019-06-10 13:51] mheon commented on #3277
@nertpinx So, to clarify - what does your host system's resolv.conf look like? 127.0.0.1, then 10.0.2.3? And we're dropping 127.0.0.1 in favor of the Google DNS servers, despite 10.0.2.3 being in resolv.conf already?

[2019-06-10 13:59] mheon commented on #3289
There seem to be two issues here.

The first is a stalled `go get` in a container, which could be a bug.

The second is `kill -9` leaving artifacts around. That one's a lot easier to answer. We recommend that you never manually SIGKILL a container. If you have a nonresponsive container, `podman kill` and `podman stop` should be used instead; when the container exits, the Podman process will detect

[2019-06-10 13:59] mheon commented on #3289
(Also, if you `podman stop` a container and it's still running, `kill -9` isn't going to help - we've already done that as part of `podman stop`)

[2019-06-10 14:03] mheon commented on #3289
`images` segfault probably a nil pointer in the image runtime's `store` - which can potentially happen if we're running rootless, but probably shouldn't.

[2019-06-10 14:03] nertpinx commented on #3277
No, 10.0.2.3 is the slirp4netns' DNS provided on the emulated network stack that works. On my machine resolvconf has only ::1, on the clean fedora install with systemd-resolved properly applied it has only 127.0.0.53.

[2019-06-10 14:03] mheon commented on #3289
Hm. @giuseppe he's manually killing `conmon` - aren't we using `conmon` to hold open the namespaces for rootless? What happens if that gets a SIGKILL?

[2019-06-10 14:04] ashcrow commented on #3267
This ended up being a bad SELinux policy. Following the steps at https://docs.fedoraproject.org/en-US/fedora-silverblue/troubleshooting/#_selinux_problems allowed things to work properly once more. Thanks for looking into this @mccv1r0 and @mheon. Thank you to @miabbott for pointing me at the SB troubleshooting page.

[2019-06-10 14:04] #3267 closed

[2019-06-10 14:06] mheon commented on #3277
Aha. Alright, I think we're probably seeing a bad interaction between our resolv.conf handling and the handling in slirp4netns, then.

[2019-06-10 14:11] kallisti5 commented on #3264
sure.  I've been searching for secret storage solutions, and tbh the options outside of k8s kind of suck. Vault looks interesting, but Hasicorp is pretty hard to deal with if you don't have a contract with them.

I'll play around with some things and see if anything interesting comes of it.  Would PR's 'going the right direction' that don't break the build be accepted, or is this a 'we need a work

[2019-06-10 14:30] rhatdan commented on #3264
Right direction would be fine.

[2019-06-10 14:43] kallisti5 commented on #3264
ok. *early*  work in progress here:
  * https://github.com/kallisti5/libpod/commits/podman_secrets

Thinking of modeling secrets like volumes initially.
  * Secrets using the 'local' driver get stored at:
    * secret_path="~/.local/share/containers/storage/secrets"
  * A randomly generated encryption key stored in "~/.config/containers/libpod.conf" which encrypts all of the secrets on disk.
  * S

[2019-06-10 16:55] rhatdan commented on #3264
We already have a direcory /run/secrets in every container, better to place them there.
If this is a rootless case, should the secrets be encrypted with the a key key under ~/.ssh?

[2019-06-10 16:55] rhatdan commented on #3264
@mtrmac @vrothberg @mrunalp  WDYT?

[2019-06-10 17:06] mtrmac commented on #3264
- It would be very nice (if not an outright requirement) if this could seamlessly graduate to k8s secrets (i.e. using the same concepts / formats, and ideally `pod man generate kube` knowing how to export them in the right format). (OTOH personally I am very uninterested in Swarm compatibility, but others may have different opinions on that.)
- I am extremely skeptical about encrypting secrets and

[2019-06-10 17:14] rhatdan commented on #3264
I agree on both points.  We need this to be as integrated with the k8s work flow as possible.  And at least for the rootless version, have the secrets encrypted with the user login session.  At least then they would be secret when the user is not logged in.

No really good way to solve this for secrets used by root though, unless systemd has some magic thing.

[2019-06-10 18:11] TomSweeneyRedHat opened #3292 "RFE - Create Dockerfile.common for podmanimage Dockerfiles"
In #3287  @vrothberg suggested making a Dockerfile.common for the Dockerfiles found in ./contrib/podmanimage rather than having repetitive lines in all three.  Before fully implementing, we need to make sure the quay.io/user/podman account is happy building the images using a Dockerfile that includes another.  I think it will be OK, but it does need to be verified.  Valentin's comment:

[code]

If

[2019-06-10 18:19] #2755 closed

[2019-06-10 18:19] #3157 closed

[2019-06-10 18:48] rhatdan commented on #3292
SGTM

[2019-06-10 21:10] edsantiago commented on #980
ping, this is still broken in 1.4.0 on both f29 and f30

[2019-06-10 21:19] edsantiago commented on #2212
tested on master @ c93b8d6b02c7ec0c91af34481133001421b9628d; looks to be fixed. Thank you!

[2019-06-10 21:19] #2212 closed

[2019-06-11 02:23] kallisti5 commented on #3264
Things like hashicorp vault require 3 of 5 unlock keys to decrypt the secret storage on startup.. unfortunately that doesn't make much sense in the non-daemon world. (And from a security standpoint still isn't super great since 'the app in the container still has to auth to vault'

So.. key things to solve:
 * How to encrypt / decrypt secrets in a way that offers some real protection.
 * How to ex

[2019-06-11 05:03] onlyjob opened #3294 "obsolete dependency github.com/mtrmac/gpgme"
Libpod depends on [github.com/mtrmac/gpgme](https://github.com/mtrmac/gpgme) which is an obsolete (unmaintained) fork of [github.com/proglottis/gpgme](https://github.com/proglottis/gpgme).

Please consider using the original project -- https://github.com/proglottis/gpgme

[2019-06-11 05:08] space88man opened #3295 "ubuntu+systemd: Failed to mount tmpfs at /run/lock: Operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**
Ubuntu 19.04 + systemd container is failing with

[code]
This happens on one Fedora 30 host, but another one runs the container with no issue.
`--log-level DEBUG` and journalctl output are not sufficiently illuminating to explain why this
would work on one host but not the other.

**Steps to re

[2019-06-11 05:32] space88man commented on #3295
Failing host:
[code]

Successful host:
[code]

[2019-06-11 05:54] space88man commented on #3295
Update: the problem host was missing `oci-systemd-hook`. With this package installed the host now runs the container correctly.

I vaguely remember reading somewhere that this package was no longer required and that podman and runc together do the systemd dance. I close the issue shortly in case the maintainers want to chime in on `oci-systemd-hook` necessity.

[2019-06-11 06:34] giuseppe commented on #3277
I think the issue is that we block slirp4netns from accessing the loopback device for security reasons.  If you check, you'll see that we are passing an explicit `--disable-host-loopback` to the slirp4netns process.

[2019-06-11 06:41] tmds commented on #3191
@TomSweeneyRedHat will this be implemented in one of the next releases?

[2019-06-11 07:41] giuseppe commented on #3179
@kamalmarhubi all I've tried is to run `runc run CONTAINER` and from another terminal `runc exec -t CONTAINER sh`

Get a container running with runc is not easy as you need the exploded container rootfs + a config.json file, I'd suggest you just use podman to create the container, and then from another terminal you can use directly runc on that container.

[2019-06-11 07:45] giuseppe commented on #3289
that should not be an issue anymore with the pause process.

The issue seems related to fuse-overlayfs, could you try the last version from bodhi?  It solves exactly an issue where `flock(2)` would hang the fuse-overlayfs process and the container: https://bodhi.fedoraproject.org/updates/FEDORA-2019-fff1ded16e

[2019-06-11 07:54] nertpinx commented on #3277
I would guess that forbids accessing the host directly (through 10.0.2.2) from the child namespace, not the slirp4netns process. And trying it out it really is the case, if I leave 10.0.2.3 in resolv.conf it works nicely (on the fedora reproducer VM).

[2019-06-11 09:00] deefin commented on #3289
Thanks for the response @mheon

I disagree, `podman kill` fails to kill the running container and this is evident when issuing a `podman ps`.

Thus far the only solution I have had is to kill -9 from my host user. Im more then happy to keep debugging the `go get` side of things. Ill have a look through podman code and see if i can get it to spew anywhere... If you have any recommendations on where

[2019-06-11 10:16] michielhemme commented on #3270
@mheon , Also the beta? Because I get exactly the same error in 7.7.

[2019-06-11 10:53] deefin commented on #3289
this resolved the `go get` issue :)

Is that `WARN` anything to worry about then?

[2019-06-11 11:06] TomSweeneyRedHat commented on #3191
@tmds thanks for the reminder.  Let me see if I can crank this out quickly, I'd set it aside for other fires.

[2019-06-11 11:16] rhatdan commented on #3294
@mtrmac PTAL

[2019-06-11 12:50] rhatdan commented on #3295
Ok then this looks like a bug in either systemd inside of a container or the implementation of podman.

[2019-06-11 13:18] mheon commented on #3295
Hm. `systemd` is trying to do an explicit mount of `/run/lock` as a tmpfs... but I seem to recall being told it didn't require that, so long as all of `/run` was a tmpfs... Hm.

[2019-06-11 14:01] mtrmac commented on #3294
This was historically forked to avoid bringing in too recent GPG symbols, which broke builds on RHEL [67].

I’m keeping an eye on the upstream from time to time, there is AFAICS nothing (definitely no feature, and no bug fix that I can see) that we would get by updating.

Sure, ideally the fork should be dropped if/when the older GPGME versions are no longer a concern. This may already be the case

[2019-06-11 15:44] ashley-cui opened #3299 "Podman Inspect: uable to find in local storage"
/kind bug

**Description**

**Steps to reproduce the issue:**

1.  podman-remote-darwin --remote-host <<host ip>> --username root ps --all

**Describe the results you received:**
[code]

**Describe the results you expected:**
Just the bottom table without the errors should pop up

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[2019-06-11 15:52] cgwalters opened #3300 "1.4.0 regression: infinite loop with `COPY . .`"
/kind bug

**Steps to reproduce the issue:**

1. `git clone https://github.com/openshift/machine-config-operator/`

2. `podman build -t localhost/machine-config-server:latest -f Dockerfile.machine-config-server --no-cache`

**Describe the results you received:**

Indefinite hang at `STEP 3: COPY . .`

**Describe the results you expected:**

Successful build.

**Additional information you deem impo

[2019-06-11 16:13] mheon commented on #3300
@TomSweeneyRedHat PTAL

[2019-06-11 16:24] mheon commented on #3289
Again, that won't help - we've tried that already as part of `podman stop`. You're killing Podman's command line process and `conmon`, our container monitor process, but the container itself is still running - if you grep through `ps` I bet you'll find a `go get` still running, zombified.

You can kill the Podman frontend without consequence - it's not actually frozen, just attached to a frozen co

[2019-06-11 16:25] mheon commented on #3286
I got this one - https://github.com/containers/libpod/pull/3293

[2019-06-11 16:26] mheon commented on #3247
Closing, as fixed upstream by CNI.

[2019-06-11 16:26] #3247 closed

[2019-06-11 16:34] mheon commented on #3270
I think it should be - if you see this in the 7.7 Beta, I'd recommend opening a BZ, so we can potentially get a fixed build into the final release

[2019-06-11 18:32] jlmagee opened #3301 "CentOS 7 podman rpm not installing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
The podman-1.4.0 in https://cbs.centos.org/repos/virt7-container-common-testing/x86_64/ has unresolved dependencies.

**Steps to reproduce the issue:**

1. yum install podman*

2.

3.

**Describe the results you received:**
Error: Package: podman-1.4.0-1.el7.x86_64 (virt7-container-common-

[2019-06-11 18:45] mheon commented on #3301
@lsm5 PTAL

[2019-06-11 18:49] mheon commented on #3219
1.4.0 has been released, and should be trickling into F30 over the next few days (we hit some additional issues with the 29 packages, so they'll take longer). Closing as such.

[2019-06-11 18:49] #3219 closed

[2019-06-11 18:50] mheon commented on #3226
@alitvak69 Are you running as root, or rootless?

[2019-06-11 18:51] mheon commented on #3226
I'm wondering if this might be systemd killing the cgroup Podman is in.

[2019-06-11 18:52] mheon commented on #3216
As we know this is an issue with a mismatched Conmon, closing

[2019-06-11 18:52] #3216 closed

[2019-06-11 18:54] jlmagee commented on #3301
@lsm5 How might we have a better CentOS 7 installation source?

[2019-06-11 19:03] edsantiago opened #3302 "[intermittent]: podman run -a stdin&stderr: read unixpacket: connection reset by peer"
This is a combination that I can find no realistic use for, but even so I think merits attention because it might present itself in other more real-world situations:
[code]
Reproduces maybe one in five attempts; the rest of the time it succeeds. It also fails with `echo ls /` and `echo ls /sdf`, but does not (seem to) fail with `</dev/null` (redirection, not pipe).

`--log-level=debug` adds nothin

[2019-06-11 19:09] saschagrunert commented on #3216
Yes it should be fixed with the latest podman Version I packaged for openSUSE. Sorry for the late reply.

[2019-06-11 19:19] alitvak69 commented on #3226
@mheon I am running as root

[2019-06-11 19:21] mheon commented on #3226
Hmm. Is this exec only? The container in question keeps running, but the exec session dies?

[2019-06-11 19:22] mheon commented on #3226
I *think* the conmon exec work from @haircommander - #3143 - will solve this one

[2019-06-11 19:27] lsm5 commented on #3301
@jlmagee thanks, I'll fix this in a bit

[2019-06-11 19:27] rhatdan commented on #3295
The issue is that if /run/lock is not mounted separately, then systemd will attempt to mount it.  Since mount is blocked then systemd fails.  Bottom line SYSTEMD expects /run/lock to be a separate mount point.

[2019-06-11 19:27] alitvak69 commented on #3226
Container dies.  If exec would die I wouldn't complain.  Container dies not cleanly and I have to force remove it to start a new one.

[2019-06-11 19:30] haircommander commented on #3226
how are you disconnecting ssh session?

[2019-06-11 19:30] haircommander commented on #3226
(just wondering so I can test my patch to see if it does fix it like @mheon thinks)

[2019-06-11 19:31] alitvak69 commented on #3226
I believe it is reproducible with a similarly run container of any sort.  It doesn't have to be ceph.

[2019-06-11 19:32] alitvak69 commented on #3226
I have a terminal open with Xshell (could be any terminal software I guess)  and I click disconnect.

[2019-06-11 19:33] alitvak69 commented on #3226
Under linux / unix I beleive you could just close a terminal window.

[2019-06-11 19:39] haircommander commented on #3226
I was unable to reproduce with
`podman run -d alpine top`
`podman exec -til /bin/sh`
`while x=1; do ls; sleep 1; done`
**disconnect**

@alitvak69 are you able to find a reproducer that is less complicated than the ceph container? otherwise, I can look into it more tomorrow. I feel similarly that the patch will at least not brick the container if the exec session is disconnected

[2019-06-11 19:47] alitvak69 commented on #3226
You are detaching container (-d) and I do not,

[2019-06-11 19:48] alitvak69 commented on #3226
Also, I run container via systemd unit perhaps this has anything to do with the issue?

[2019-06-11 19:52] alitvak69 commented on #3226
Maybe running some web server with --rm without -d  will help.   I guess I will try to find something later today,

[2019-06-11 19:53] bmaupin opened #3303 "Building images with labels can be slow"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We're using org.opencontainers labels in our projects and I recently switched to podman. When building a container I noticed that the LABEL commands were all taking a very long time

**Steps to reproduce the issue:**

1. Create the Dockerfile
[code]

1. Build the container

[code]

**Describe

[2019-06-11 19:54] lsm5 commented on #3301
@jlmagee should be fixed with https://cbs.centos.org/koji/taskinfo?taskID=843367 ... let me know if any other issues.

[2019-06-11 19:54] haircommander commented on #3226
@alitvak69 oh yes, I got it
1: `podman run alpine top`
2: `podman exec -til /bin/sh`
2: `while x=1; do ls; sleep 1; done`
**kill 2**
**kill 1**
`Error: cannot remove container ffde6a6bf513b7bebe8d2480c46db953a711987da2a52570f05a65c22e57c9d5 as it has active exec sessions: container state improper`

The patch mentioned above doesn't fix, but it shouldn't be a bad follow up PR to fix this issue.

[2019-06-11 19:59] mheon commented on #3303
@TomSweeneyRedHat PTAL

[2019-06-11 20:12] bmaupin opened #3304 "Podman creates images that cannot be removed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While creating a minimal test case for #3303, I managed to create images that I was unable to remove, even using `-f`.

**Steps to reproduce the issue:**

1. Create the Dockerfile

[code]

2. Build the image

[code]

3. Try to delete any of the built images

[code]

**Describe the results you

[2019-06-11 20:23] mheon commented on #3304
Could be related to #3266

[2019-06-11 20:26] mheon commented on #3304
I think these are coming straight out of c/storage - it looks like we're getting all images via `store.Images()`, which returns a number of layers, but then subsequently asking c/storage about the image in question is causing errors? Hard to tell where, the error isn't being wrapped anywhere between cmd/podman and c/storage

[2019-06-11 20:29] TomSweeneyRedHat commented on #3300
I've a strong suspicion that this is the same issue as: https://github.com/containers/buildah/issues/1578

[2019-06-11 20:30] mheon commented on #3266
We have a good reproducer for getting these images in #3304

[2019-06-11 20:30] mheon commented on #3304
Confirmed that I can reproduce on master

[2019-06-11 20:32] mheon commented on #3304
Interesting: `podman rmi --all --force` only catches one of the errors, I see a lot more on `podman images`

[2019-06-11 20:34] mheon commented on #3304
Identical errors out of `buildah images`. I think this is definitely c/storage.

I'll ping @nalind but he's on vacation this week.

[2019-06-11 20:34] jlmagee commented on #3301
The yum install works now.  Thanks for the quick response.

[2019-06-11 20:34] #3301 closed

[2019-06-11 20:37] mheon commented on #3304
Slightly more illuminating error in `podman image tree` on one of the remaining images:
[code]

[2019-06-11 20:37] mheon commented on #3304
So we've somehow ended up with images that are missing layers.

[2019-06-11 20:38] mheon commented on #3304
Re-pulling the image doesn't fix it.

[2019-06-11 20:38] mheon commented on #3304
@rhatdan PTAL, this one looks pretty bad

[2019-06-11 20:43] mheon commented on #3304
I can still launch containers with affected images, and they still work as advertised - it's just removing that seems to be the problem?

[2019-06-11 20:46] GoodMirek commented on #3219
I can confirm that the issue is fixed in podman-1.4.0-1.fc30.x86_64.

[2019-06-11 21:42] rhatdan commented on #3264
Would storing the unlock key in gnome-keyring or in kernel keyring be more in line with what the Docker Daemon does.
IE I specify the key one time and then it uses the one in the kernel keyring from then on.

[2019-06-11 21:43] TomSweeneyRedHat commented on #3304
and/or @mtrmac  PTAL

[2019-06-12 00:01] onlyjob commented on #3294
I don't know how urgent this problem is. Probably there is no emergency.
Obsolete fork must be dropped not to gain features but for hygiene and life cycle (support) purposes.
Needless forking is harmful. Suppose you've found a problem in the library -- where would you report a bug? _mtrmac_ doesn't even have the issue tracker. Development of this library is clearly happens in one place and that's

[2019-06-12 04:35] baude commented on #3300
@TomSweeneyRedHat if you replicate this, just connect to the pid with dlv and you will know right away whats going on ... if you need help with this one, let me know.

[2019-06-12 05:46] deefin commented on #3289
@mheon Thanks for the reply.

I was never able to drop out of the container with SIGINT(crtl-c), I always had to open a new terminal up and kill it that way.

So is there a recommendation on how to handle the following conditions:

- frozen container state
- unable to exit container with SIGINT
- Unable to kill/stop with `podman X`

Seems like the only thing to do (besides rebooting) is to try kil

[2019-06-12 07:15] rhatdan commented on #3302
Must be a race condition.

[2019-06-12 07:29] rhatdan commented on #3303
LABEL should not be creating a new Layer, I wonder if there is a bug in buildah code that creates layers with LABEL command?
@bmaupin Could you try the same tests with the latest `buildah bud`  to see if this is just podman having an older buildah vendoring?

[2019-06-12 07:29] rhatdan commented on #3303
@nalind WDYT?

[2019-06-12 07:30] pck commented on #3232
PPA has an updated conmon for Ubuntu 18.04 but not for 16.04.

[2019-06-12 07:54] rhatdan commented on #3232
@lsm5 ^^

[2019-06-12 08:32] giuseppe commented on #3277
we could probably just drop all the other DNS servers and use only `10.0.2.3` but let's be safe and keep the other DNS servers around.  I've changed it so now `10.0.2.3` is the first in the list:

https://github.com/containers/libpod/pull/3305

@nertpinx, does it work if you place it as the first entry in the `/etc/resolv.conf` file?

[2019-06-12 08:34] giuseppe commented on #3289
no, that is expected as rootless containers cannot (yet) use cgroups.

This is a fuse-overlayfs issue, I think we can close it as it is already been addressed and new packages are on their way

[2019-06-12 09:22] rhatdan commented on #3289
Please update and tests against the latest fuse-overlayfs.

[2019-06-12 09:22] #3289 closed

[2019-06-12 09:37] deefin commented on #3289
Yes, the latest fuse-overlayfs pkg resolved the `go get` hang.

Still unsure on how to handle that container state? or is the handling of this state no longer valid with the resolution?

[2019-06-12 10:21] kurobeats commented on #1670
Where can we find the workaround?

[2019-06-12 11:27] thawkins commented on #3304
has anybody checked the ownership of the container files in ~/.local/share/containers , I have been fighting with a problem in "toolbox" where i get this issue, and it appears the files are being created with the mappeduid and mappedgid uid/gid

executing the following makes them accessible and hence removable.

sudo chown -R $USER:$USER /home/$USER/.local/share/containers

If the files where crea

[2019-06-12 11:29] thawkins commented on #3266
see my note on #3304 about the uid/gid used to create the container files in ~/.local/share/containers

[2019-06-12 13:03] mheon commented on #3304
Hmm. I'm running as root, so we're probably looking at two separate issues
here - but I'll give it a look

On Wed, Jun 12, 2019, 07:27 Tim Hawkins <notifications@github.com> wrote:

[2019-06-12 13:06] mheon commented on #3289
Ideally this happens only very rarely - processes should not get themselves
stuck such that SIGKILL doesn't get rid of them often. In those cases, I
think that manually removing Podman precesses and leaving Conmon around is
the right call.

On Wed, Jun 12, 2019, 05:37 dom finn <notifications@github.com> wrote:

[2019-06-12 13:12] deefin commented on #3289
Thank you all @mheon @rhatdan @giuseppe  for your time. Much appreciated.

[2019-06-12 13:48] bmaupin commented on #3304
Yes, the only actual issues I noticed were that I couldn't remove the images and that more images were created than should've been (I would have expected no more than 1 image to be created since I wasn't using `ADD`, `COPY`, or `RUN`).

I just checked and everything appeared to be owned by my  user. As such, `sudo chown -R $USER:$USER /home/$USER/.local/share/contain` doesn't seem to help unfortun

[2019-06-12 13:56] TomSweeneyRedHat commented on #3300
@baude given the other irons in the fire that I have atm and my suspicion that @nalind has a fix in flight, I'll most likely wait until early next week to check in with him when he returns.

[2019-06-12 14:11] bmaupin commented on #3303
@rhatdan Is this what you were asking for?

[code]

[2019-06-12 14:30] #3277 closed

[2019-06-12 14:31] TomSweeneyRedHat commented on #3303
@bmaupin that's it.  Can you throw a time in front of the `buildah bud` command to see what it looks like?  Then if you have an extra cycle,  also try

`time buildah bud --layers true .`

By default `buildah bud` doesn't use layers while `podman build` does.

[2019-06-12 14:43] bmaupin commented on #3303
That's much faster:

[code]

That was after I had already run it and the layers were cached. But even without the cache it's much faster than podman.

That was much slower:

[code]

[2019-06-12 14:45] TomSweeneyRedHat commented on #3303
Thanks a bunch @bmaupin , that will help us narrow down the search quite a bit.

[2019-06-12 15:35] edsantiago opened #3309 "ginkgo tests: 'port -l' is racy"
`test/e2e/port_test.go` runs `nginx` but doesn't actually wait for it to start before running `podman port -l`. This is resulting in test panics:
[code]
This is obviously **THE** standard problem with `run -d`; the classic solution (run `podman logs` waiting for well-known string) doesn't work here because there's no log output. One possibility might be to repeat-loop the `podman port -l` until th

[2019-06-12 15:59] junwang123 commented on #3270
The `podman` gid mapping problem appears to be reproducible with the [7.7 beta packages](https://access.redhat.com/downloads/content/69/ver=/rhel---7/7.7%20Beta/x86_64/packages). Refer to [buildah issue #1657](https://github.com/containers/buildah/issues/1657) for the test case and steps to reproduce.

[2019-06-12 16:06] baude commented on #3288
yes, it is simply saying it cannot find journald.  I don't believe the error is fatal.  This can be remedied in a couple of different ways but the easiest would be to alter the event logger in libpod.conf.

[2019-06-12 16:06] baude commented on #3288
In fact, i wonder if we should include that in the error message?

[2019-06-12 16:08] kkimdev commented on #3288
@baude I think that's a good suggestion. When I encountered, I couldn't figure out if it's fatal or not just from the error messages.

[2019-06-12 16:09] baude commented on #3288
BTW, here you can just change to file and it should help.

https://github.com/containers/libpod/blob/master/libpod.conf#L104

[2019-06-12 16:11] baude commented on #3288
is this still an issue?

[2019-06-12 16:25] mheon commented on #3309
This is basically what healthchecks are for, I think? Set one up and wait until it goes green?

[2019-06-12 16:27] cevich commented on #3309
Healthchecks?

I think this is a race in this specific test, though haven't looked at the code yet.

[2019-06-12 16:28] mheon commented on #3309
We can solve the race by setting up a healthcheck and looping until it goes green, which would indicate that it's ready to proceed

[2019-06-12 16:28] mheon commented on #3309
Though, honestly... Why do we need the container running? `podman port` just reads the configuration of the container.

[2019-06-12 16:30] mheon commented on #3309
Hell, why does it need to be nginx? We just need a `podman create -t -i -p 80:80 alpine top` or similar.

[2019-06-12 16:31] cevich commented on #3309
Some of the tests actually try to connect to the container.

[2019-06-12 16:34] cevich commented on #3309
All the other failures are in 'podman create'  Perhaps something bad broke there, and the 'podman port' panic's are just another symptom?

[2019-06-12 16:38] kkimdev commented on #3288
@baude yes
[code]

[2019-06-12 17:08] mheon commented on #3288
I think that's probably WSL v1 (syscall emulation) not being able to do everything we need.

[2019-06-12 17:11] edsantiago commented on #3309
I don't think we do; but `-P` gets its ports from the container config, which means the image has to be pulled and read. Maybe the solution is to split it into `podman create` and then `run`?

[2019-06-12 17:16] mheon commented on #3309
Hm. Alright, this one's properly strange. It's not a `run` vs `create` issue (I'm still going to swap them over to using `create` for speed) - the container is definitely created, and that's all we need.

Instead, the issue seems to be that the container has no ports. This could be an issue with `podman port` or `podman run` with `-P`.

[2019-06-12 17:17] mheon commented on #3309
@cevich We're only seeing this flake on the system testing PR from @edsantiago right?

[2019-06-12 17:24] mheon commented on #3309
Alright, nevermind everything I said. It's as @edsantiago originally predicted - a race between `podman run` starting the container and `podman port`.

I assumed it wasn't because there is no technical reason we need the container to be running for `port` to work, but I ignored Docker compatability - Docker will only print the ports of *running* containers, and we duplicated that.

[2019-06-12 17:28] edsantiago commented on #3309
Thanks for finding the problem.

As for 'only seeing this', I'm going to go out on a limb and say I've only seen it _on this specific CI run_. All my CI runs fail, and all of them seem to be different failures, but I think I would've noticed the **[Panic]** if I'd seen it before.

[2019-06-12 17:43] mheon commented on #3309
What we really need here is a generic "wait for container to be ready" call in the Ginkgo machinery - something that uses some mechanism (events, maybe?) to ensure a container is running before proceeding.

[2019-06-12 17:44] edsantiago commented on #3309
`s/in the Ginkgo machinery/in general for pretty much every situation where I've ever needed podman run -d/`

hashtag maybeanideafor1.5?

[2019-06-12 17:46] mheon commented on #3309
Outside of the context of tests, we'd really recommend healthchecks (more complex, allows you to check that what's in the container is ready) or events (if you see a start event for the ID the container is running).

[2019-06-12 17:58] baude commented on #3204
any update @EricHripko

[2019-06-12 18:03] baude commented on #3309
This is what I emailed you about last week with the idea of signals, which I agree is maybe more complex than needed.  The idea of a healthcheck could be one way to do it as well.  It would allow us to use podman function to verify readiness without having to use separate tooling.  The downside is that whatever the healthcheck uses (like curl) needs to be installed in the container.

[2019-06-12 18:05] baude commented on #3309
fwiw, i self assigned this one and had planned to fix it Monday whenI return from PTO.  do you want/need it fixed faster?

[2019-06-12 18:10] mheon commented on #3309
I'll leave the faster thing up to @edsantiago

I really wish we had a better way of triggering stuff on events coming in... Might be worth grabbing Giuseppe and Dan and huddling about ways of doing that without killing performance.

[2019-06-12 18:11] mheon commented on #3309
(Writing the events thing because it's be super neat if we could easily hook into a single container and trigger things on specific events coming in - solves this easily)

[2019-06-12 18:21] mbaldessari commented on #3148
So I tried with an installed runc with the 2062 applied to no avail. Is updating runc, restarting the box and then rerunning the test sufficient? I left some details around my testing here https://bugzilla.redhat.com/show_bug.cgi?id=1710871#c11

[2019-06-12 18:29] mheon commented on #3148
If I'm correct, we also need to teach Podman to take advantage of the new `runc` feature - correct? @mrunalp

[2019-06-12 18:40] edsantiago commented on #3309
No rush on my account. I'm thinking of spinning the CI roulette wheel again on my PR and seeing what comes up.

[2019-06-12 18:54] varac commented on #1742
@siretart Are you aware of any progress of a official Debian package ?

The old [debian-go thread about packaging podman](https://lists.debian.org/debian-go/2018/11/msg00002.html)  (next to other container tools) stalled.
I crreated a [request for packaging](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440).
It would be awesome to have it in plain Debian !

[2019-06-12 19:26] muayyad-alsadi commented on #1670
you can pass any init using `podman run --init-path=` like `dumb-init`.

also in `libpod.conf` there is a line for `init_path=""`

[2019-06-12 19:36] #3191 closed

[2019-06-12 19:40] fansari commented on #3245
For me the missing of IPv6 seems to make podman unusable for certain scenarios. I have tried to get bind9 running in a podman container in a way I can do address resolution with this- but it behaves strange. Sometimes it works and then it is hanging again. I have no idea what could be the reason so I guessed this might be because of this IPv4.

I built the same scenario with docker and had the sam

[2019-06-12 19:49] mheon commented on #3245
Per CNI, there is partial support for v6 (partial in the sense that port-mapping doesn't work, as it requires NAT, and v6 NAT is horrifying and best avoided at all costs). I believe static v6 IPs are now supported as of the 0.8.x plugin releases, though. We haven't actually looked into this, but in theory, everything except static v6 addresses can be accomplished by modifying config files on the C

[2019-06-12 20:38] rhatdan commented on #3288
Does --net=host work?

[2019-06-12 20:41] kkimdev commented on #3288
Still the same
[code]

[2019-06-12 20:46] kkimdev commented on #3288
Actually, I just noticed that the flags are supposed to be before "ubuntu".  Now I'm getting a different error
[code]

[2019-06-12 20:48] rhatdan commented on #3288
Need to default libpod.conf to use cgroupfs rather then systemd.
podman --cgroup-manager=cgroupfs ...

Should fix this.

[2019-06-12 20:49] Gigadoc2 commented on #3245
That is true. However, precisely because you don't use NAT with IPv6, the ability to specify static addresses is paramount.

If you want to run a service accessible over IPv6 on a one-server setup, the easiest and best way is to just define a static IPv6 for the service and point your DNS towards it.
Even if you were to use a dynamic load-balancing service and thus could deal with dynamic addresse

[2019-06-12 20:50] kkimdev commented on #3288
I guess it's getting closer, one step at a time! =D

[code]

[2019-06-12 20:55] kkimdev commented on #3288
Btw, I can share my WSL for debugging using Chrome remote desktop https://remotedesktop.google.com/support .

[2019-06-13 03:27] praveenkumar commented on #2767
@rhatdan @mheon Apology for commenting on a closed issue but https://github.com/containernetworking/plugins/releases/tag/v0.8.0 have now `static` plugin release and I am currently using ` 1.0.2-dev` where I also hit the same issue. I also observed https://github.com/containers/libpod/blob/master/vendor.conf#L17 we are still using `0.7.4` are we plan to update that?

[2019-06-13 03:36] mheon commented on #2767
We are planning to convert over to the 0.8.0 plugins, though I don't have a timeframe yet - ideally for 1.5.0, but we'll need to make sure it's ready before we bump our minimum plugin version to 0.8.0 (moving to the new model will break the old static IP approach).

[2019-06-13 04:39] praveenkumar commented on #2767
Thanks 👍, do we have any tracker issue so I can subscribe for this one?

[2019-06-13 06:07] AkihiroSuda opened #3314 "Feature request: port over `docker run --mount type=bind,bind-nonrecursive`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`docker run --mount type=bind,bind-nonrecursive` should be supported, because recursive bind-mount cannot be read-only.
https://github.com/docker/cli/pull/1430

[2019-06-13 09:36] giuseppe commented on #3314
PR here: https://github.com/containers/libpod/pull/3315

[2019-06-13 10:33] KKoukiou opened #3316 "Race condition with podman crashing when ListImages API is called while an image is being deleted"
This appeared first time on fedora-30 update from last week, happened in cockpit-podman testing. ***It's not persistent***

The test that triggered this is running some containers from an image and then force removes all images (together with the assosiated containers). I assume there is some issue with trying to fetch the image list while something is being deleted. But this is just an dummy assu

[2019-06-13 11:26] KKoukiou opened #3317 "Varlink pullimage API should not have fast fail behavior in case some registry is inaccessible"
/kind bug

**Description**
When one of the registries configured in /etc/containers/registries.conf is not secure but it's not listed under insecure registries section, PullImage API fails fast without trying to fetch the requested image from other available registries.
This behavior is not consistent with the podman CLI pull command, which correctly tries to fetch the image from other available r

[2019-06-13 11:53] KKoukiou opened #3318 "varlink Commit API fails with Error: Varlink Error: Connection Closed"
/kind bug

**Description**

Varlink Commit API fails consistentl with:
 Error: Varlink Error: Connection Closed

**Steps to reproduce the issue:**

1. Create some container for example with
podman run busybox

2. Get the ID of the created container by inspecting the podman ps command output

3. Try to commit the container:
[code]

**Describe the results you received:**
Exited with:
Error: Varlink

[2019-06-13 12:41] mheon commented on #2767
No tracker yet, feel free to make one.

On Thu, Jun 13, 2019, 00:39 Praveen Kumar <notifications@github.com> wrote:

[2019-06-13 14:05] giuseppe commented on #3202
opened a PR here: https://github.com/containers/image/pull/640

[2019-06-13 15:17] rhatdan commented on #3202
What label is attempting to be set?

[2019-06-13 15:21] giuseppe commented on #3202
it is not clear from the debug messages we have, but it fails trying to set the label for `/root/sbin/depmod`.

[2019-06-13 15:54] giuseppe commented on #3202
I've tried different combinations of images, but I wasn't able to reproduce it

[2019-06-13 16:03] baude commented on #3316
@KKoukiou would you be willing to try upstream master? The code in question has been altered and I wondered if it is fixed already?

[2019-06-13 16:07] baude commented on #3318
Does it work if you provide all the attributes described by the API?

https://github.com/containers/libpod/blob/master/API.md#Commit

[2019-06-13 16:56] vladkosarev opened #3323 "Stuck on Storing Signatures"
/kind bug

**Description**
Using Void Linux, latest podman gets stuck on sitespeed.io container at "Storing Signatures" step.

**Steps to reproduce the issue:**
podman run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.3.2 https://sitespeed.io

**Describe the results you received:**
[vlad@void-vm ~]$ podman run --rm -v "$(pwd)":/sitespeed.io sitespeedio/sitespeed.io:9.3.2 https://sitesp

[2019-06-13 17:31] cgwalters commented on #3300
This is definitely a regression, works fine with `podman-1.3.1-1.git7210727.fc30.x86_64`.

[2019-06-13 17:56] edsantiago opened #3325 "podman logs -f: hangs forever as nonroot"
[code]
This now hangs forever (podman @ master). Works as expected (exits when container exits) when run as root.

Caught by BATS tests.

[2019-06-13 18:08] edsantiago opened #3326 "podman inspect on stopped container: inconsistent status"
At some recent point, podman inspect started reporting 'stopped' for nonroot and 'exited' for root:

[code]

[code]

Caught by BATS tests (which expect, and have long expected, 'exited')

[2019-06-13 18:17] mheon commented on #3326
Uh-oh.

It seems like cleanup processes aren't firing for rootless again.

@giuseppe PTAL

[2019-06-13 18:20] mheon commented on #3325
Rough timeframe on when this broke? Between the last release that went into 8 and now?

[2019-06-13 18:21] edsantiago commented on #3325
I'm guessing the last 2 days; I'm pretty sure I ran my bats tests on master on Tuesday. But it might've been Monday.

[2019-06-13 18:27] mheon commented on #3325
Alright, definitely not the changes I was thinking, then...

[2019-06-13 18:29] mheon commented on #3323
@mtrmac PTAL.

My first instinct is that this is related to the VFS driver, but not certain yet.

[2019-06-13 18:29] mheon commented on #3300
@TomSweeneyRedHat We're not expecting a fix for this in the Buildah revendor tomorrow, right?

[2019-06-13 18:43] edsantiago commented on #3325
git bisect blames: 629017bb197bcda31ac129fb712ba3c6917b100b , and my manual testing confirms, but that makes no sense....

[2019-06-13 18:44] mheon commented on #3325
Uh... huh...
Alright that one's strange.

[2019-06-13 18:57] mheon commented on #3288
With the release of WSL 2 (though only through the Insiders program thus far), I think we should be ready; I'd be interested to see someone try Podman on the new WSL and report back.

[2019-06-13 18:59] mheon commented on #3326
We might have also broken `--syslog` at some point, which was the only way of debugging these things, so that's fun

[2019-06-13 19:04] mheon commented on #3326
It's mount options - the PR from @rhatdan that disabled mount options if a new storage driver was specified.

It's wiping the fuse-overlayfs path so it tries to use kernel overlayfs.

[2019-06-13 19:06] edsantiago commented on #3326
Wow. Thanks for identifying. This has been a surreal gremliny week, it's comforting to know that there's a logical explanation for this one.

[2019-06-13 20:01] ikke-t opened #3329 "podman doesn't run pod due ghost id which can't be removed"
/kind bug

**Description**

I had pods running. Then I updated podman. Now I'm in state that pod can't be started due id for the pod name exists (ghost). The ghost pod can't be found for podman rm either using pod name or id. Still it prevents new one starting

**Steps to reproduce the issue:**

1.
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

It co

[2019-06-13 20:02] mtrmac commented on #3323
@vladkosarev Can you provide the output of `podman --log-level=debug run …`?

“Storing signatures” is a memory-only operation that can’t really hang; afterwards `storeImage.Commit` runs, which actually creates all the layers and c/storage objects, so this could just be a c/storage deadlock, or maybe something in the graph drivers.

[2019-06-13 20:20] TomSweeneyRedHat commented on #3300
@mheon, unless the Buildah Fix Fairy swings by, I'm not suspecting this will be fixed for 1.8.4

[2019-06-13 20:34] vladkosarev commented on #3323
After I logged this ticket I set up a bunch of other containers and worked with those.
I just tried the container in question here and it actually worked this time around.
I should've mentioned that it was a fresh install of podman and I did hello world container (which worked) and next container that I tried was the one mentioned here that failed for me.

Since it works now we can close the ticke

[2019-06-13 20:41] giuseppe commented on #3202
I am unable to reproduce, I've opened a PR to make the error clearer so we can see what context it tries to set (https://github.com/containers/image/pull/644)

@refi64 please reopen if you have a reproducer or more information about it

[2019-06-13 20:41] #3202 closed

[2019-06-13 21:14] bvdeenen opened #3331 "podman 1.4.0 requires apparmor module active in kernel"
Using podman on Void Linux, I found that apparmor needs to be installed, and activated in the kernel in order to `podman run` any image. When not enabled in the kernel, it `podman run` will abort with an `broken pipe` error.

Enabling apparmor in the kernel (adding `apparmor=1 security=apparmor` to the kernel command line) was enough to make the issue go away.
Full details on the [void linux reddi

[2019-06-13 21:15] mheon commented on #3331
@vrothberg Mind taking a look here?

[2019-06-13 21:18] mheon commented on #3300
Alright, Podman 1.5.0 it is, then.

[2019-06-13 21:19] mheon commented on #3323
Hm. I'll close this, then. If anyone else hits a similar problem, leave a comment with details, we'll reopen.

[2019-06-13 21:56] TomSweeneyRedHat commented on #3300
The first of the two dots in the Copy command seem to be the issue.  If I change that first dot to a file or even an '*' (asterisk), it seems to work.   Smaller reproducer:
[code]

[2019-06-13 23:39] TomSweeneyRedHat commented on #3300
@cgwalters if you have a chance, can you try running your build command with `--log-level debug` added?  `podman --log-level debug build ...`?  Adding that seems to make things work for me and I'm not quite understanding why ATM.

[2019-06-14 03:28] refi64 commented on #3202
I can definitely still reproduce, I'll try to use it with that other branch to see if I can get some more info on it. :/

[2019-06-14 07:00] KKoukiou commented on #3316
I was not able to reproduce locally, it fails only on our CI and not always. So I guess I will find out after your next release if it persists. Feel free to close, and in case it reappears  I will re-open it.

[2019-06-14 07:07] KKoukiou commented on #3318
No. I tried to pass everything and it still does not work, but anyway, the only required are the two I used above, https://github.com/containers/libpod/blob/master/API.md#func-commit

[2019-06-14 08:59] giuseppe commented on #3202
can you tell me what do you get with the command: `selabel_lookup -r -v -b file -k /sbin/depmod` ?

[2019-06-14 10:05] navigaid commented on #3288
Adding ` --cgroup-manager=cgroupfs --net=host ` works for me.
[code]
For anyone interested, I'm using archlinux on WSL2 through https://github.com/yuk7/ArchWSL

[2019-06-14 10:12] giuseppe commented on #3202
I've also tried on Silverblue:
[code]
I've tried as root as well but no difference.

[2019-06-14 10:53] nertpinx commented on #3277
@giuseppe Yes it does (at least the main issue), thank you!

[2019-06-14 11:12] giuseppe commented on #3325
that commit has broken many other things with rootless containers.  If you try your command twice, you'll see it will fail twice as c1 is not removed despite `--rm` being passed.

https://github.com/containers/libpod/pull/3328 is fixing this issue too

[2019-06-14 12:22] mheon commented on #3288
So net=host is still required for the new WSL? Interesting.

On Fri, Jun 14, 2019, 06:05 navigaid <notifications@github.com> wrote:

[2019-06-14 13:44] #3314 closed

[2019-06-14 14:57] rhatdan commented on #3331
@bvdeenen most of us are much more experienced with SELinux then Apparmor.  Any chance you could look at the code and Open a PR?

[2019-06-14 15:30] vrothberg commented on #3331
I just had a look and believe to have a fix. I'll wrap up a PR, so you can test if that solves the issue.

[2019-06-14 15:38] vrothberg commented on #3331
https://github.com/containers/libpod/pull/3334 should do the trick. I am currently restricted with bandwidth and cannot set up a new VM for testing.

[2019-06-14 15:45] bvdeenen commented on #3331
I'll have a look in a few hours. I'm travelling and on a very limited bandwidth, so I'm not sure I can build runc. Depends on how much stuff I have to pull in.

[2019-06-14 16:48] cgwalters commented on #2317
The high level is: Define an API for a container to gain access to the host's trusted CA roots.  You're asking more about the implementation:

Right, doing it the same way flatpak does would make sense to me.  (It works for flatpak without policy changes because flatpak doesn't apply special labels to its containers)

[2019-06-14 18:23] baude commented on #3325
@giuseppe mind adding some integration tests for some of those things that were broken?  it might help us in the future? if time is a concern, then lets list what they should be and between the interns and I, maybe we can write them?

[2019-06-14 19:24] #3331 closed

[2019-06-14 20:54] #3329 closed

[2019-06-14 22:18] #3326 closed

[2019-06-14 22:40] vorburger opened #3340 "Support, or at least just ignore, Docker Volume :delegated option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[Docker, apparently, supports](https://docs.docker.com/docker-for-mac/osxfs-caching/#delegated) Volume options `:cached` and `:delegated` and I've run into this Podman failing with `Error: invalid option type "delegated"` on a `docker run ... -v /cache:/cache:delegated` which (presumably) wor

[2019-06-15 10:36] rhatdan commented on #3340
@QiWang19 PTAL

[2019-06-15 10:40] rhatdan commented on #3340
Looks like these flags are more for podman remote, we might just want to allow them and ignore them on podman local.
https://docs.docker.com/docker-for-mac/osxfs-caching/

https://docs.docker.com/v17.09/engine/admin/volumes/bind-mounts/#choosing-the--v-or-mount-flag
[code]

[2019-06-15 10:48] #3059 closed

[2019-06-15 11:19] vorburger commented on #3340
Right, makes sense now, so the key point here is:

FYI I hit this error while running [this kubernetes/test-infra/planter/planter.sh script](https://github.com/kubernetes/test-infra/blob/297f03c3de37a4545ec02e398d03e0d2ef6e943d/planter/planter.sh#L95) on Fedora 30 ... looks like they just always add `:delegated`, because somone found it does something useful for Mac users, and `docker run` apparen

[2019-06-15 16:18] fansari commented on #3245
So far I could not figure out how to do it.

This is my original cni file. What is the cni version? How do I find it?

[code]

I have this installed:

[code]

Now I tried this:

[code]

Trying to create a container gives this error message:

[code]

Perhaps something is wrong with my syntax. I wanted to make a very easy example to start with.

[2019-06-15 22:04] jakefanvote commented on #3232
On 16.04 same issue.

[2019-06-16 07:20] eriksjolund opened #3342 "The "args" attribute to "when" is not documented in oci-hooks.5.md"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

Inconsistent information about the allowed attributes to `when` in the online documentation

https://github.com/containers/libpod/blob/master/pkg/hooks/docs/oci-hooks.5.md#100-hook-schema-1

There is an example where `args` is used as an attribute to `when`

[code]
---

But   `args` is not listed as one of th

[2019-06-16 09:38] redcap52 opened #3343 "What should I import to use API ?"
In your docs you said that you have an API for Golang. So, what path should I import to use CreateContainer()  method ?

[2019-06-16 11:08] eriksjolund commented on #3155
Quote from:
https://github.com/containers/libpod/blob/master/docs/podman.1.md

---

If `--hooks-dir` is unset for root callers, Podman and libpod will currently default to `/usr/share/containers/oci/hooks.d` and `/etc/containers/oci/hooks.d` in order of increasing precedence.  Using these defaults is deprecated, and callers should migrate to explicitly setting `--hooks-dir`.

---

As I interpret t

[2019-06-16 13:33] baude commented on #3318
the backtrace suggests:

[code]
If you use the varlink call with -m (more), it works.

[2019-06-16 14:53] baude commented on #3317
much like the other issue, there appears to be an issue when not using -m with pull.  We may also have an addition proiblem but this should be fixed first.

[2019-06-16 14:57] fansari commented on #3245
Strange. Today it suddenly worked. I have now changed this a little bit os I also have default routes.

[code]

[2019-06-16 15:34] twelfthdoctor opened #3344 "Can't connect to local Podman`s varlink API through a varlink client"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't connect to podman's varlink API via varlink client

**Steps to reproduce the issue:**

1. ``` podman varlink unix:/run/io.projectatomic.podman ``` (Launch podman's varlink API)

2.Try to send some request to it
``` varlink call unix:/run/io.projectatomic.podman/io.projectatomic.podman

[2019-06-16 17:58] edsantiago commented on #3344
`podman varlink` is only useful with `--timeout=0`:
[code]

[2019-06-16 18:33] ikke-t commented on #3329
thanks, works for me now!

[2019-06-16 18:48] #3344 closed

[2019-06-17 05:36] michielhemme opened #3345 "Error: must provide image ID and image name to use an image: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Podman 1.3.2 on RHEL 7.7 with basic repo, extras and beta, and make a test user without root rights.

2. Login with the test user.

3. Try to run multiple containers.

**Describe the results you received:**
Second container gives error that i need

[2019-06-17 07:00] onlyjob opened #3346 "please upgrade "logrus""
Currently a fairly old _logrus_ library is [vendored](https://github.com/containers/libpod/blob/master/vendor.conf#L69-L70).

Upgrade is straightforward and much similar to https://github.com/x-cray/logrus-prefixed-formatter/issues/22.

The following (untested) patch fixes compilation with logrus-1.3.0:

[code]

[2019-06-17 08:39] KKoukiou commented on #3318
@baude verified that it works with `-m`.
This behaviour must have changed though between 1.3 and 1.4.
So now all method that return a MoreResponse need to be called with a more = true parameter?

[2019-06-17 08:53] giuseppe commented on #3325
this issue could be easily detected with the test I've added here: https://github.com/containers/libpod/pull/3347

[2019-06-17 13:06] rhatdan commented on #3342
Please open a PR to fix this, if you could.

[2019-06-17 13:27] rhatdan commented on #3345
This is strange, I don't see an issue on Fedora.
If you attempt to run nginx a third time, does it continue to give you the same error?
Of course I am using a slightly newer version.
[code]

[2019-06-17 13:28] rhatdan commented on #3346
Can you open a PR to do this?

[2019-06-17 14:04] mheon commented on #3345
Can't reproduce with 1.3.2, rootless, on F30. I'll try 7.7 later, but this one seems like it could be an environment issue.

[2019-06-17 14:10] dankohn opened #3350 "SVG logos shouldn't use text or tspan"
Compare https://github.com/containers/libpod/blob/master/logo/podman-logo-source.svg and https://github.com/containers/libpod/blob/master/logo/podman-logo.png on a computer that doesn't have the font Montserrat installed and you can see that the SVG doesn't render correctly.

We converted the font text to be objects so that it renders correctly on all computers. See https://github.com/cncf/landsca

[2019-06-17 15:04] michielhemme commented on #3345
@rhatdan I'm using podman 1.3.2, runc 1.0.0-rc8+dev and slirp4netns-0.3.0.2

[test@localhost ~]$ podman ps
CONTAINER ID  IMAGE                           COMMAND               CREATED         STATUS             PORTS  NAMES
5cf40bbb4d91  docker.io/library/nginx:latest  nginx -g daemon o...  23 seconds ago  Up 23 seconds ago         infallible_napier
[test@localhost ~]$ podman run -d nginx
Error: mu

[2019-06-17 15:05] mheon commented on #3345
Alright, so it's consistent, but seemingly only on RHEL7

@michielhemme To confirm, are these fresh installs of Podman, or upgrading existing installations that have run Podman before?

[2019-06-17 15:14] michielhemme commented on #3345
@mheon, the podman installation is fresh out of the repositories. It is being delivered with runc-1.0.0-59-dev and trying to start a container then results in:

[test@localhost ~]$ podman run -d nginx
Error: container create failed: cannot specify gid= mount options for unmapped gid in rootless containers
: internal libpod error

after upgrading runc to the latest version, I get the other error. T

[2019-06-17 16:25] edsantiago commented on #3325
Confirmed as fixed.

[2019-06-17 16:25] #3325 closed

[2019-06-17 16:45] rhatdan commented on #3345
Could this be a vfs storage issue?  That is one difference.  RHEL7 does not support fuse-overlay.

[2019-06-17 16:48] mheon commented on #3345
Can't replicate with VFS on F30 - still seems RHEL specific

[2019-06-17 17:37] rhatdan commented on #3345
@giuseppe Any ideas?

[2019-06-17 17:44] rhatdan commented on #3350
Thanks @dankohn I would love to pursue getting Podman donated to CNCF...
Could you open a PR to replace the image?

[2019-06-17 17:46] EmilienM opened #3351 "RFE: podman getconfig <container>"
/kind feature

Instead of using ``podman inspect`` command to get an image or a container's config (which is expensive due to the database access and the locks), we could have a command which only access to the Config field.

The command would output the same thing as ``podman inspect --format "{{index .Config}}"<container>``.

[2019-06-17 17:59] rhatdan commented on #3351
Extended commands like should be in the
[code]

[2019-06-17 18:09] fansari commented on #3245
This solution seems ok - except for one thing: "podman run --ip6" as not implmented according to the man page.

I would need to set a static IPV6 address and add it to neigbour proxy.

Can you please implement this?

[2019-06-17 18:11] EmilienM commented on #3351
I just realized that for me needs, I can use ``podman ps -a --format "{{.Image}}" --filter label=container_name=memcached`` to get the infos that I need instead of the inspect.

I guess I can close it since podman ps seems to provide that easily?

[2019-06-17 18:13] #3351 closed

[2019-06-17 18:38] TomSweeneyRedHat commented on #3350
FYI @mairin

[2019-06-17 18:50] baude commented on #3270
please file a bugzilla if you hope to have this fixed.

[2019-06-17 19:26] #3295 closed

[2019-06-17 19:56] fansari commented on #3245
Regarding the firewalld issue I have also opened this bug.

https://bugzilla.redhat.com/show_bug.cgi?id=1721275

[2019-06-17 20:06] EmilienM opened #3353 "podman ps --format produces invalid json"
/kind bug

**Description**

The output of podman ps --format produces invalid json.

**Steps to reproduce the issue:**

1. Run podman ps -a --format '{{index .Labels}}'

**Describe the results you received:**
an HTML rendered output:
[code]

**Describe the results you expected:**
Some valid JSON

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `po

[2019-06-17 20:12] rhatdan commented on #3353
@EmilienM Could you try this against podman 1.4?

[2019-06-17 20:14] #2821 closed

[2019-06-17 23:03] #3299 closed

[2019-06-17 23:27] #3353 closed

[2019-06-17 23:27] EmilienM commented on #3353
it worked with with podman 1.4, I'll workaround in my code to decode it for older versions.

[2019-06-17 23:41] kofalt commented on #3157
Could this be reopened?

I'm afraid that on pod 1.4.0 from apt, using the same instructions above, I get a different error:

[code]

This is reminiscent of #3283, and the patch author actually mentions `play kube`:

Let me know if anyone has trouble reproducing.

[code]

[2019-06-17 23:49] kofalt commented on #2963
On podman 1.4.0 my above example from the RH blog works :tada:

Note that `podman play kube` on the result will still fail until #3157 is fixed.
@Fodoj maybe give it another shot? I think this can be closed.

[code]

[2019-06-18 00:04] onlyjob commented on #3346
Not sure... Maybe later. PR just for this would be easy but I don't know how to handle/upgrade vendored library and for now my hands are full with other things... I hope making this change would be easy for a regular contributor or anyone who is more familiar with _libpod_ build system than me.

[2019-06-18 00:52] haircommander commented on #3157
Hey @kofalt this was fixed with podman 1.14.1 can you try that out?

[2019-06-18 04:10] mheon commented on #3157
I think you mixed up your versioning there - it's 1.4.1 :smile:

[2019-06-18 04:11] mheon commented on #3157
(We also have improved upstream testing for `play kube` so failures like this should be much less frequent from here on)

[2019-06-18 08:03] giuseppe commented on #3345
the 7.7 kernel is missing some ioctl's we are using.  We will need to backport 4dca13e70423e657aec98999d9c6803075359517

[2019-06-18 08:05] giuseppe commented on #3345
it applies cleanly on top of v1.3.2, and it seems to solve the problem on RHEL 7.7

[2019-06-18 12:48] mairin commented on #3350
the podman logotype is actually meant to be a bit thicker with the man in grey instead of black, see attached:

![podman-final](https://user-images.githubusercontent.com/799683/59683251-d3c44f00-91a5-11e9-921c-29e65f927176.png)

I can submit the svg as a separate PR

[2019-06-18 13:05] mheon commented on #3345
Is that in 1.4? We're expecting a 1.4 with 7.7, so if it's available there
we should be set

On Tue, Jun 18, 2019, 04:05 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-06-18 13:33] dankohn commented on #3350
LGTM. SVGs can be tricky.

[2019-06-18 14:21] edsantiago opened #3359 "weird: 'podman history' loses history if centos image is present"
This is a surreal variant of #980. Please bear with me:
[code]
So far, so good. In particular, note the second (non-header) history line of the second command: it references `3b72fee4c9a3` which is i1, the image on which i2 is based.

Now remove those images, pull in centos, and repeat:
[code]
Now look at the second (non-header) line of the second history command. I expected to see `ece3...`, the

[2019-06-18 14:21] edsantiago commented on #3359
@jwhonce this explains why we couldn't reproduce #980 on a clean system.

[2019-06-18 14:54] mheon commented on #3359
The two images in question, centos and fedora, don't share any layers... I'm not sure exactly what could be going on here

[2019-06-18 15:02] edsantiago commented on #3359
Fun addition:
[code]
(it's fixed!)

[2019-06-18 15:10] edsantiago commented on #3359
Oops - one confounding factor: it's not just centos. It's the combination of centos and rhel:
[code]
Only when both are present does the history command show `<missing>`; if I rmi rhel or centos, `history` works as expected. I'm sorry for not noticing this earlier.

[2019-06-18 15:10] mheon commented on #3359
@mtrmac Any ideas here?

[2019-06-18 15:37] mheon commented on #3304
@nalind PTAL - think we have a serious storage issue here

[2019-06-18 15:40] giuseppe commented on #3345
yes, it is included in 1.4

[2019-06-18 15:54] edsantiago commented on #980
Closing, because the podman 1.4 failure looks like a new one.

[2019-06-18 15:54] #980 closed

[2019-06-18 16:13] rlandy opened #3363 "podman version 1.4.1 errors when starting containers - "run failed after [conmon:e]: No such log driver json-file""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using podman version 1.4.1 on RHEL 8 (updated) we see the following error when starting containers:

ERROR: 27947 -- ['/usr/bin/podman', 'start', '-a', 'container-puppet-glance_api'] run failed after [conmon:e]: No such log driver json-file",
"Error: unable to start container <container ID>:

[2019-06-18 16:14] mheon commented on #3363
Seems like it could be a Conmon version mismatch - @haircommander can you confirm?

[2019-06-18 16:15] mheon commented on #3363
@haircommander Assuming it is... maybe we need something similar to what c/storage does for overlayfs - code to probe Conmon to determine what features it supports

[2019-06-18 16:26] haircommander commented on #3363
Actually somehow log driver is being set as json-file, which used to be a noop but now is an error (we used to pretend we supported json file). @rlandy can you post your libpod.conf? And what image are you trying to run?

[2019-06-18 16:31] mairin commented on #3350
hey the wrong version got merged, can this be reopened?

[2019-06-18 16:32] mheon commented on #3350
Done

[2019-06-18 16:52] eriksjolund commented on #3342
Ok, I gave it a try. It seems "args" should not be documented because it was a mistake.
I replaced it with "commands".

https://github.com/containers/libpod/pull/3365

[2019-06-18 16:59] haircommander commented on #3363
@rlandy you should be able to do your create/run command above with `--log-driver k8s-file` to fix your problem. It doesn't appear the libpod.conf has a member for log_driver, so I'm not sure where json-file is coming from...

[2019-06-18 17:53] kofalt commented on #3157
Sounds good. I can confirm 1.4.1 solves the issue!

[2019-06-18 19:05] mheon commented on #3340
Working this one now.

[2019-06-18 19:20] mtrmac commented on #3359
Lots of heuristics in libpod/image… One thing that quickly jumps at me is
https://github.com/containers/libpod/blob/3cabd81045c25172786a133c538fe97b5ab83c14/libpod/image/image.go#L734 is using an `interestingImages` index to index into `images`, but I haven’t read it all in detail nor tried to trace it.

(FWIW: the recorded history does not actually store image IDs; there is a record of the comman

[2019-06-18 20:04] baude commented on #3316
how are you removing all containers and images? are you using the prune functions or iterating over the containers and images and deleting them one by one?

[2019-06-18 20:22] KKoukiou commented on #3316
@baude we bulk delete the images in that test with `podman rmi -f $(podman images -q)` and containers get deleted because of that as well.

[2019-06-18 20:52] ashley-cui opened #3368 "Podman remote crashes when podmate-remote.conf file is incorrect"
/kind bug

**Description**

Podman-remote checks podman-remote.conf for credentials saved in this conf file. However, when the conf file is not set up correctly, i.e. missing a field, the program crashes really bad. Probably a parsing and catching issue.

**Steps to reproduce the issue:**

1.  Create podman-remote.conf in ~/.conf/containers

2. In podman-remote.conf, write
[connections]

[2019-06-18 21:21] #3309 closed

[2019-06-19 05:39] cjeanner commented on #3363
Hello,
Basically, dropping the "json-file" broke things. That kind of change shouldn't happen like that imho, since it was the only driver available for previous versions..... Not really cool :(.

[2019-06-19 05:54] mheon commented on #3363
I think this one's my fault. I didn't realize we already had a `--log-driver` flag when we added support for journald logging (and implemented the backend for the `--log-driver` flag), so I requested that we remove an alias of json-file to k8s-file in code review to leave it open for future implementation (the default log driver which we use isn't actually logging JSON, or to any sort of standardi

[2019-06-19 06:20] cjeanner commented on #3363
@mheon thanks for your explanation.

I don't think aliasing now the "non-json" «json-file» to k8s-file is the right thing to do - we're already changing things in our project (TripleO) - it should be good soon. Hopefully ;).

[2019-06-19 08:02] amoralej commented on #3363
Even if using "json-file" for a non-json log is uggly, i'd say that keeping some sort of backwards compatibility wins unless there have been proper deprecation period, notification, etc... I'm not sure if it's the case here, but IMHO backwards compatibility wins.

[2019-06-19 09:10] vrothberg commented on #3316
@KKoukiou, can you try with `podman rmi -af`. That ultimately doesn't fix the issue but should be a workaround.

[2019-06-19 09:23] KKoukiou commented on #3316
@vrothberg thanks for your reply. The problematic code is only in the tests, we don't run this `podman rmi` commands for deleting the images when a user performs the operations from the UI.

I have already marked the test as xfail, and I 'd rather keep it like that so that I can monitor if this issue will be fixed, instead of removing the problematic code.

[2019-06-19 10:10] carroarmato0 opened #3373 "Mount succeed, but files not visible"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a container with a directory mounted on the host, the files are not shown even though the mount succeeded and the folder path is correct

**Steps to reproduce the issue:**

1. mkdir ${PWD}/volume

2. podman run -d -v ${PWD}/volume:/var/lib/registry/:z -p 5000:5000 --name k8terer

[2019-06-19 11:29] carroarmato0 commented on #3373
Apparently after trying to run it outside of Virtualbox/Centos on my Ubuntu 19.04 host, it works, and that's probably due to the waaay more newer version of Podman. *sigh* Centos and older software...

Podman version on my host machine where it works:
[code]

[2019-06-19 11:29] carroarmato0 commented on #3373
Since this is a problem resolved by a newer version of podman, closing this issue.

[2019-06-19 11:29] #3373 closed

[2019-06-19 13:14] mheon commented on #3373
The good news is that the next CentOS minor release should have 1.4.0, and
I think we'll be getting 1.3.2 out in a point release before that.

On Wed, Jun 19, 2019, 07:30 Christophe Vanlancker <notifications@github.com>
wrote:

[2019-06-19 13:20] carroarmato0 commented on #3373
I just realized that podman 1.3.2 is actually present in the Centos Extra repository and I don't do a yum clean all before installing podman, causing the older version to be installed in Virtualbox through Vagrant. So it's actually an already solved problem :)

[2019-06-19 14:25] haircommander commented on #3363
Added a fix in #3375 . Now, we will make `json-file` an alias, but give an error message describing such :)

[2019-06-19 15:00] eriksjolund commented on #3342
#3365 was merged.

[2019-06-19 15:00] #3342 closed

[2019-06-19 15:36] #3346 closed

[2019-06-19 16:05] rhatdan commented on #3345
Closing since it is in Master and soon to be everywhere.

[2019-06-19 16:05] #3345 closed

[2019-06-19 16:41] sshnaidm commented on #3363
from docs:

https://github.com/containers/libpod/blob/master/docs/podman-run.1.md
Is it still correct?

[2019-06-19 16:44] haircommander commented on #3363
aah nope that is no longer correct. Thanks @sshnaidm for pointing that out

[2019-06-19 16:50] haircommander commented on #3363
Added a doc fix in #3375 as well

[2019-06-19 18:16] #3340 closed

[2019-06-19 18:33] #3363 closed

[2019-06-19 21:55] edsantiago commented on #3302
Still present in podman-1.4.2-1.fc29 and fc30.

There's another failure which I think must be related. Instead of `sh`, run something that outputs to stderr:
[code]
At this point it hangs - AFAICT forever. `^D` has no effect. `podman ps` in a separate window shows the container running. `^C` yields:
[code]
"container not running" even though a few seconds ago `podman ps` showed it running and, rig

[2019-06-19 22:18] mheon commented on #3302
The exec thing will hopefully not be a problem after the wide-reaching refactor by @haircommander lands. Which will be by end of week. We're going to force it in if we need to.

For the rest... I'm going to bet it has something to do with the lack of a terminal. Terminal-less attach is poorly tested and rarely used.

[2019-06-19 22:21] edsantiago commented on #3302
Excellent - thank you.

[2019-06-19 23:07] onlyjob commented on #3346
Thanks, @jwhonce.

[2019-06-20 11:24] h-vetinari commented on #2887
After getting to try out the new podman 1.3.2 (following #3044), I can report that the problem has been fixed also in the rhel-packaged world. Thanks everyone here for the help and @fatherlinux for delivering the extras-version-bump early!

[2019-06-20 11:24] #2887 closed

[2019-06-20 11:53] matthiasclasen opened #3381 "f30: podman fails to start my toolbox containers"
I had these toolbox containers for a while and they were working fine. Recently, I had to switch from rawhide to F30, for some unrelated issue. And now, the toolboxes fail to start.

This is with podman 1.4 in F30:

[code]

[2019-06-20 13:26] matthiasclasen commented on #3381
Debarshi points out that

[code]

works around this breakage.

[2019-06-20 14:28] giuseppe commented on #3381
can you spot any other error message in the journal?  Seem like it is failing in runc

[2019-06-20 17:13] sshnaidm opened #3384 "Podman creates directory when copying a file from and to container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when podman copies file to/from container, it creates a directory with the same name on destination and copies file to it
**Steps to reproduce the issue:**

[code]
Exactly the same thing when copying file from container to host.

**Describe the results you received:**
Directories with files

[2019-06-20 18:45] yishan-lin opened #3387 "[Feature Request] Support Podman on HashiCorp Nomad"
/kind feature

**Description**
HashiCorp Nomad is an orchestrator that supports a variety of container runtimes via task driver plugins.  Nomad currently supports Docker, rkt, QEMU, Java task drivers.

Nomad 0.9 introduced a plugin framework that enables users to write task drivers to support any container runtime (i.e Singularity, LXC).  There has been significant interest in having a Podman task

[2019-06-20 20:28] drrford opened #3389 "Do you support Weave network?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

Hello. Do you have [Weave network ](https://www.weave.works/docs/net/latest/overview/) support? Weave network has a CNI plugin. This plugin provides Kubernetes support for Weave network. So, I want to know how to use Weave network with Podman.

[2019-06-20 20:31] mheon commented on #3389
I don't believe anyone has ever tested this, but if Weave provides a CNI plugin, it should work - Podman exclusively uses CNI for networking.

[2019-06-20 22:01] baude commented on #3387
@yishan-lin what is the expectation here on podman upstream?

[2019-06-20 22:32] mheon commented on #3389
Actually, I should rephrase that.

We use CNI, but only for root-owned containers.

When not running as root, we don't have the privileges to invoke CNI, and thus use slirp4netns.

So I believe Weave will work, but only for root-owned containers.

[2019-06-20 23:02] altmind commented on #2553
Having the same issue on centos 7.6 with podman podman.x86_64 1.2-2.git3bd528e.el7 :
`podman run --rm --name container-registry registry`  does not remove overlay file system on stop. trying to `podman rm -f container-registry` give an error "/var/lib/containers/storage/overlay/.../merged device or resource busy"

sytemd service:
[code]
The podman fails at "podman run":
[code]

[code]

[code]

[co

[2019-06-20 23:13] altmind commented on #2553
Well, seems that it was fixed in moby around 2018. For podman, that can be fixed by using "slave" mount.
`-v /etc/letsencrypt:/certs -v /opt/docker:/var/lib/registry` -> `-v /etc/letsencrypt:/certs:slave -v /opt/docker:/var/lib/registry:slave`

[2019-06-21 03:11] juhp commented on #3381
I see:
[code]

[2019-06-21 03:39] rhatdan commented on #3389
It should work, and if it does not it is probably a bug.  Reopen this issue if that is the case.

[2019-06-21 03:39] #3389 closed

[2019-06-21 05:16] juhp commented on #3381
Maybe running `podman stop` before rebooting, avoids this problem.

[2019-06-21 07:09] giuseppe commented on #3381
@juhp could you share your `~/.config/containers/libpod.conf` and  `~/.config/containers/storage.conf` files?

[2019-06-21 09:02] giuseppe commented on #3381
`/run/user/1000/libpod` should be empty after a reboot.  Is it on a tmpfs?

[2019-06-21 10:13] juhp commented on #3381
[code]

[2019-06-21 10:16] juhp commented on #3381
Also
[code]

[2019-06-21 11:04] giuseppe commented on #3381
I was not able to reproduce the exact issue, but I can force `start` to fail by creating the `attach` file before starting the container.

I've opened https://github.com/containers/conmon/pull/46 so that conmon will unlink the existing file before trying to create a socket there.  It solves the case where I manually create it.  Would it be possible for you to try it out?

Once you build the conmon

[2019-06-21 11:06] JeffreyVdb opened #3394 "Support podman ps filter regular expressions like in docker CLI"
/kind bug

**Description**

To filter a container on it's exact name, the filter `name=^postgres$` should work, but it doesn't. When using the filter `name=postgres`, containers named `postgres-exporter` and `postgres` will be returned. That's why this filter can be useful.

**Steps to reproduce the issue:**

Podman

1. Run in shell: `podman run --rm -d --name postgres docker://docker.io/library/p

[2019-06-21 13:24] #3381 closed

[2019-06-21 16:43] juhp commented on #3381
@giuseppe not sure how you are testing - I imagine it is easy to reproduce on Silverblue at least with Toolbox.

I tested the patch but it doesn't completely fix the problem:

[code]

[2019-06-21 16:54] juhp commented on #3381
These are the files I see in my `userdata/`:
[code]

[2019-06-21 17:22] juhp commented on #3381
The main difference compared to on F30 Workstations seems to be `conmon.pid`.

[2019-06-21 19:48] csantanapr opened #3402 "can't compile go using podman"
/kind bug

**Description**

Trying to use podman to build a container using golang

Describe the results you received:
error building
[code]

Describe the results you expected:
Build to work

**Steps to reproduce the issue:**

1. Using podman from ubuntu using a container
Created the container using this Dockerfile
[code]

2. Create app Dockerfile
[code]

3. Run podman build with the following `Do

[2019-06-21 20:21] owtaylor commented on #3381
So, after a debugging session with @giuseppe and @mheon, it turned out that for me, the problem was that I had multiple containers with a lock ID of 0, which occurred in 1.1/1.2 for various reasons, and with 1.3 and later, causes the 'refresh' operation after a reboot to fail, and the conmon temporary files not to be cleaned up.

Workarond is to run `podman system renumber` and reboot.

[2019-06-21 20:37] mbigras commented on #3232
This is an issue for me on ubuntu 16.04, I'm not able to run `podman run` without any options:

[code]

[2019-06-21 20:56] mheon commented on #3232
I'll poke @lsm5 again and ask about getting this fixed

[2019-06-21 20:59] mheon commented on #3402
Is `go build` attempting to make a fresh mount namespace?

Regardless, bug is in build, tagging the Buildah folks
@nalind @TomSweeneyRedHat PTAL

[2019-06-21 21:25] csantanapr commented on #3402
Thanks @mheon for looking and tagging.

Do you have a Dockerfile sample that would allow to compile a go program?
There might be I need to adjust the Dockerfile to be compatible with podman

[2019-06-21 21:27] csantanapr commented on #3402
Forgot to add the `helloword.go` file that is trying to compile

https://github.com/knative/docs/blob/master/docs/serving/samples/hello-world/helloworld-go/helloworld.go

[2019-06-21 23:48] TomSweeneyRedHat commented on #3402
@giuseppe could this error be due to not use Fuse?  @csantanapr any objections to using Fedora instead of Ubuntu within your first image?

[2019-06-21 23:57] csantanapr commented on #3402
@tomsweeneyredhat sure I can try Fedora

Do you have Dockerfile that I can try to build and use a container image on Mac?

[2019-06-22 00:05] TomSweeneyRedHat commented on #3402
@csantanapr, still a bit of a WIP, but you can try the Dockerfiles [here](https://github.com/containers/libpod/tree/master/contrib/podmanimage)

[2019-06-22 02:24] juhp commented on #3381
I see interesting, thanks, Owen!

I had indicative trouble with running `podman system renumber`.
Before rebooting I got one error, which I should have noted down, and after reboot I got:

[code]

But after (re)moving `~/.local/share/containers/storage/overlay-containers/containers.lock` those errors went away and I am now able to reboot to reworking toolboxes without having to remember to `podman

[2019-06-22 08:17] fkaempfer opened #3405 "hostname not added to /etc/hosts in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

I think this is a bug, if it is not intended to work like this.

**Description**

**Steps to reproduce the issue:**

1. $ podman run --hostname=hello alpine:latest cat /etc/hosts

**Describe the results you received:**
An exact copy of the host's /etc/hosts file is displayed, it does not include the container

[2019-06-22 10:21] rhatdan commented on #3405
@giuseppe PTAL

[2019-06-22 12:27] giuseppe commented on #3405
opened a PR here: https://github.com/containers/libpod/pull/3406

[2019-06-22 12:29] giuseppe commented on #3402
from the error message, it seems that it is attempting to create a new namespace.  You need at least to provide "--cap-add SYS_ADMIN" and see if it improves anything.  You would probably also like to `--security-opt seccomp=unconfined`

[2019-06-22 14:09] TomSweeneyRedHat opened #3407 "Validate man pages for rootless config location"
I stole the location for the configuration files from some man pages saying they files were located in XDG_RUNTIME_DIR.  However as pointed out in #3404 they really live in ${HOME}

Adding this as a reminder for myself to find and scrub.

[2019-06-22 14:41] Fodoj opened #3408 "podman generate kube results in broken ports configuration"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

YAML generated by `podman generate kube` contains broken ports configuration. There is also a bonus bug found during removing the pod.

**Steps to reproduce the issue:**

[code]
Last command throws this error:

[code]

But it's probably m'kay, because pod is removed and all good. Let's contin

[2019-06-23 01:09] baude commented on #3408
to be certain, it appears this is a rootless usage? can you confirm as such

[2019-06-23 04:56] Fodoj commented on #3408
Yes, rootless

[2019-06-23 13:37] baude commented on #3274
@giuseppe ptal

[2019-06-23 14:28] baude commented on #3288
Couple of notable items here, i tried wsl2 with ubuntu:
* it looks like the cni network cannot be configured due to an invalid iptables command. iptables on bionic is quite old. i tried manually compiled iptables 1.8.2 but that didn't work either. trying a newer distribution is probably worth our while, will do next week.
* rootless also fails with an error about not being able to re-exec. im not

[2019-06-23 16:07] mheon commented on #3343
To confirm, we're talking about the Golang API, not the Varlink one, correct?

For the Go API:

Our core API functions live in `github.com/containers/libpod`, with image functions specifically available in the `github.com/containers/libpod/image` subpackage.

Also note that any code calling into Libpod via the Go API must contain the following bit of code somewhere early in main (necessary to make

[2019-06-23 16:07] mheon commented on #3343
@baude I'm fairly certain this one is Varlink, though. There's no CreateContainer endpoint in the Go code, we call it `NewContainer()` there.

[2019-06-23 19:27] afbjorklund opened #3410 "complaining about missing "loginctl" systemd binary"
/kind bug

running rootless gives warning (no "loginctl" is available in $PATH):

[code]

Maybe you can check for the presence of `/bin/loginctl`, or something ?

https://github.com/containers/libpod/blob/master/pkg/rootless/rootless_linux.go#L201_L211

[2019-06-23 19:46] mheon commented on #3410
We should probably make the loginctl call dependent on the system being systemd-booted. If it is, we should warn if it fails (we need to ensure that the rootless pause process remains alive, so we need loginctl). If the system isn't using systemd, there's no point to the call anyways.

[2019-06-23 20:09] ikke-t opened #3411 "podman segfaults while podman ps --sync"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm again at the state where podman can't start container due conflicting ghost container name #3329 . I tried to get rid of ghost image by upgrading from podman-1.4.2-1.fc29 to podman-1.4.3-0.30.dev.git7c4e444.fc31, but that version segfaults while doing podman ps --sync

**Steps to reproduc

[2019-06-23 20:42] mheon commented on #3411
It seems like the deference of `ociRuntime` in `exitFilePath()` being the cause, but I'm unclear as to how we got into a situation where that's nil. If we don't have a valid OCI runtime we should be bailing much earlier. I'm going to lay initial blame at the feet of my multiruntime changes but I'm still not clear how it happened.

Your `podman info` doesn't really match what you've described - is

[2019-06-23 20:44] ikke-t commented on #3411
this is fedora 29 with latest podman from kodi

[2019-06-23 20:45] mheon commented on #3411
Ack. Can you cause the segfault any other way? IE, does `ps` without `--sync` still segfault? My once-over suggests that it probably should.

[2019-06-23 20:47] mheon commented on #3411
Also, for reference, we're adding new functionality to deal with these 'ghost containers' (containers existing only in storage, not Podman) - `podman rm` now has a `--storage` flag to force removal of such containers, and I'm working on adding support to `ps` to list container IDs/names that exist but aren't known by Podman.

[2019-06-23 20:47] ikke-t commented on #3411
I found one possible problem initiator. For some reason NFS share had stopped serving, I had to restart NFS on server. Some containers point directly there. Perhaps it initiated problems. However, this pod does not use nfs. Also, while I do ps --sync now that NFS is up, it still segfaults.

Answering your question, "podman ps" without sync does not crash.

[2019-06-23 20:50] ikke-t commented on #3411
Great, that --storage managed to remove the ghost!
[code]

[2019-06-23 20:53] mheon commented on #3411
Confirmed that the segfault reproduces locally, and only happens with `--sync`

[2019-06-23 21:04] mheon commented on #3411
#3412 to fix

[2019-06-23 21:09] ikke-t commented on #3411
Wau, you are fast! I also got my containers back up in meanwhile, thanks for quick fix. I wonder if there would be a way to have some --purge or similar option to get rid of all the ghosts at one go, triggered by some failure. But that's not related to this segfault, so it's another discussion.

[2019-06-23 21:47] giuseppe commented on #3274
The issue started to be visible with b0fcd555db55fc8e739614f44c62f14cd608725d when the function was still under of libpod.

We try to use the default configuration when it is possible.  One difficulty is that the default configuration is not static (e.g. we use `fuse-overlayfs` only when the executable is present), so we need to cherry-pick only a subset of the configuration that is safe to use.

[2019-06-24 03:44] marshallford opened #3413 "cgroup_manager config option regression"
/kind bug

**Description**

I think I've found a regression between `1.4.0` and `1.4.2` regarding the `cgroup_manager` option in `libpod.conf`. Based on some quick digging podman `1.4.2` does not seem to respect the option set in the configuration file but still respects the cli flag: `--cgroup-manager=cgroupfs`.

Compare two builds of a podman container image that I am working on:

* https://circ

[2019-06-24 08:50] giuseppe commented on #3413
I've tried locally and `cgroup_manager` from the configuration file seems to be honored correctly.

Could you attach the output running `podman --log-level=debug ...`?

[2019-06-24 10:06] boydkelly opened #3415 "Permission denied mounted volume with userns=keep-id"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
permissions issue with mounted volume and userns=keep-id and -it bash

When entering container and running bash, permission denied errors when trying to access mounted directories.  When doing ls -la permissions look fine,

**Steps to reproduce the issue:**

1.  Create an image with a user wit

[2019-06-24 10:14] rhatdan commented on #3288
Does WSL Support User Namespace?
As root, attempt to run with a user namespace

--uidmap 0:100000:5000

[2019-06-24 10:53] #3405 closed

[2019-06-24 11:02] rhatdan commented on #3415
It is SELinux.
Volumes need to be mounted with the :Z flag, or you need to disable SELinux separation.
--security-opt label:disable

[2019-06-24 11:02] #3415 closed

[2019-06-24 11:18] #3274 closed

[2019-06-24 13:29] mheon commented on #3288
Might want to see if we can pull the flags they compiled their kernel with - they might not be shipping userns-enabled kernels?

[2019-06-24 13:42] giuseppe commented on #3410
I am addressing this issue as part of https://github.com/containers/libpod/pull/3397

[2019-06-24 13:48] dustymabe commented on #3274
One thing we could do is change "root podman" to default to an empty config

In that empty config we place comments and commented out defaults that can easily be un-commented and edited.

[2019-06-24 14:01] baude commented on #3288
results for uidmap

[code]

[2019-06-24 14:34] baude commented on #3343
@redcap52 can you please clarify your question here given @mheon's answer?

[2019-06-24 15:09] baude commented on #3288
It looks like the kernel supplied for WSL does not support user namespaces.

[2019-06-24 15:33] giuseppe commented on #3408
slirp will try to bind mount the specified ports on the host.  Could you please verify that the ports  5432 and 9187 on the host are free and not already used?

[2019-06-24 15:36] Fodoj commented on #3408
They are. Please note that the issue is not about binding this ports, but because of configuration from Podman which configures both ports for both containers. If I leave relevant port for each container, then it works just fine.

[2019-06-24 15:54] yishan-lin commented on #3387
It would be hard to say without knowing the velocity of Podman upstream.  Are breaking changes introduced often?  How often are new features released in base Podman that would need to be brought into its plugin?

Conversely, in terms of the effort to maintain this plugin and keep it up to date with Nomad's upstream driver APIs, we see it as pretty minimal - we don't have any features in the immedi

[2019-06-24 16:25] rhatdan commented on #3274
SGTM

[2019-06-24 16:30] giuseppe commented on #3408
thanks for the clarification.

@baude should not we create a single network namespace for the infra container and let the other containers join it?

[2019-06-24 16:32] mheon commented on #3408
I think that we're looking up the ports for each container individually during `generate kube`. I recall a change a month or so back where `podman port` was made to understand that containers sharing a network namespace all had the same ports forwarded - that may be what broke us here, because the lookups for each container now return the ports forwarded to all containers in the pod.

[2019-06-24 16:36] #3411 closed

[2019-06-24 17:40] michael-read opened #3416 "can't talk to a V1 docker registry"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
Can't pull images from `hub.docker.com`:
[code]

1. `podman run -i -t openjdk:8-jre-alpine /bin/sh`
[code]

**Describe the results you expected:**
I expected it to pull the image and run it.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[2019-06-24 17:51] mheon commented on #3416
I believe 1.4.0 has the sysregistriesv2 work...
@mtrmac PTAL - I suspect this is in c/image

[2019-06-24 18:17] rhatdan commented on #3408
@haircommander Is this something you changed?

[2019-06-24 18:19] fansari commented on #3245
This "UNKNOWN SOURCE" stuff seems clear now. firewalld adds allow rules dynamically when you start a container. This means when you stop it it says "oops" I don't see this IP anymore. This seems to be the background of this error. I only get it when firewalld and the container are both running and I then stop the container.

Unfortunately it also seems that I still have some "hanging" when I use I

[2019-06-24 18:22] mheon commented on #3408
I got this one

[2019-06-24 18:28] mheon commented on #3408
#3417

[2019-06-24 18:51] mheon commented on #3245
Current status there:

We need to get CNI v0.8.1 pushed out to Fedora, so we can use it in our CI.

Then we can migrate Podman itself over to using v0.8.1 and the new static IP reservation mechanism. That will allow us to add static IPv6 address support.

[2019-06-24 19:51] baude commented on #3387
We try to not to introduce breaking changes but then again, I'm not sure where exactly you would be referring to. I dont know enough about the plugins to say otherwise.

[2019-06-24 20:12] mheon commented on #3350
With both PRs here merged, I think we're good on updating the logo. Closing as such.

[2019-06-24 20:12] #3350 closed

[2019-06-24 21:38] juansuerogit opened #3421 "error creating libpod runtime: there might not be enough IDs available in the namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have RHEL servers in the 7.x range ( i think they are 7.4 or 7.5 ) that we currently run containers on with docker-compose.   Went to a Red Hat conference and learned about Podman so want to use Podman in production to help us get away from the big fat deamons and not to run containers as r

[2019-06-24 21:43] mheon commented on #3421
`--uidmap 0:100000:500` looks like the problem. You're requesting to map to UID 1000000 with rootless Podman (I'm presuming that last Podman command in your reproducer is run without sudo).

You don't need to use `--uidmap` with rootless Podman - we'll automatically select the UID/GID ranges from subuid and subgid. You only need the uidmap flag if you want to change the way users are allocated wit

[2019-06-24 21:45] mheon commented on #3421
And to provide further clarity on why it fails - `--uidmap` is trying to map to UID 1000000, which is not mapped into the container. The container only has 65536 UIDs from the ranges in `/etc/subuid` and `/etc/subgid` (plus one more - the UID/GID of the user that launches it). Mapping to UID 1000000 and higher won't work, since we don't have any UIDs higher than 65536 available.

[2019-06-24 21:49] #3384 closed

[2019-06-24 22:17] juansuerogit commented on #3421
Ahhh so to take your example further.   if for example i use the mongodb image where the user mongod might be user 23 i dunno.  some number other than zero.   and i just want to run that no modifications with rootless podman then i will need to use --uidmap to map my regular user to the mongod user number 23 inside the container.  so in that case the args would be --uidmap 0:23 ?

[2019-06-24 22:45] mheon commented on #3421
Depends on how you want to use it... There's no requirement that the user running in the container must match the user who ran Podman. However, if you have volumes in the container, and you need to access them from the host, you generally will need to ensure the UIDs match. (Alternatively, you can use `podman unshare` to get a shell with UID/GID mappings matching the rootless container).

Technica

[2019-06-24 22:59] juansuerogit commented on #3421
ok thanks that got me past that error but now im running rootless and getting image related errors.

podman run -v /home/meta/backup:/root/backup -dt docker.io/centos:latest sleep 100

note: im using the fully qualified path here because without it i get another type of error.
and further more i cant seem to draw from the my companies registry either even though im docker logged in via their tools

[2019-06-24 23:01] mheon commented on #3421
`WARN[0000] using rootless single mapping into the namespace. This might break some images. Check /etc/subuid and /etc/subgid for adding subids`

There's your problem.

Do you have `newuidmap` and `newgidmap` binaries installed?

[2019-06-24 23:07] juansuerogit opened #3423 "Error pulling image , Error committing the finished image: error adding layer with blob ..."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

I have RHEL servers in the 7.x range ( i think they are 7.4 or 7.5 ) that we currently run containers on with docker-compose. Went to Red Hat conference and learned about Podman so want to use Podman in production to help us get away from the big fat deamons and not to run cont

[2019-06-24 23:10] juansuerogit commented on #3421
no the directions at https://github.com/containers/libpod/blob/master/install.md  didnt say to do this

[2019-06-24 23:28] juansuerogit commented on #3421
ok i ran the directions at  https://www.scrivano.org/2018/10/12/rootless-podman-from-upstream-on-centos-7/

it gave me the newuidmap and newgidmap binaries and i rebooted.

now when i run
podman run -v /home/meta/backup:/root/backup -dt docker.io/centos:latest sleep 100

i get
Error: error checking path "/home/meta/backup": stat /home/meta/backup: no such file or directory

isnt this suppose to wo

[2019-06-24 23:31] juansuerogit commented on #3421
In addition when i create the directory manually i cannot exec into the container...

after running mkdir ./backup and then
podman run -v /home/meta/backup:/root/backup -dt docker.io/centos:latest sleep 100

the container can be seen as running with
e1516b7986b9  docker.io/library/centos:latest  sleep 100  3 seconds ago  Up 2 seconds ago         nervous_williamson

but when i try to exec..

podman

[2019-06-24 23:32] mheon commented on #3421
@giuseppe Any idea about that exit status out of runc? Sounds like something we might have fixed in a more recent version.

[2019-06-24 23:33] mheon commented on #3421
RE: the Docker issue - I'll look into this tomorrow. If we're not matching Docker, that's definitely a bug.

[2019-06-24 23:36] juansuerogit commented on #3421
fyi my requirement is to be able to run rootless here is docker version...
not sure if they are clashing.
i didnt install runc or anything else

docker version
Client:
 Version:           18.09.6

podman version
Version:            1.3.2

[2019-06-25 07:17] debarshiray commented on #3423
The `podman info --debug` output that you pasted below has the reason for this:

See the podman(1), subgid(5), subuid(5) and usermod(8) manuals for more information. This caused by users created with older version of `shadow-utils`. Newer versions take care of updating `/etc/subuid` and `/etc/subgid` for you.

As an example, on my host OS, both those files have:
[code]

If your files are currently

[2019-06-25 10:29] rhatdan commented on #3421
We explicitly decided not to follow Docker on this one.  Creating a bind mount volume on the host when it does not exist.  I believe that this is a bug in Docker, since it could lead to user typos, being ignored an unexpected directories/volumes being created.

[2019-06-25 10:30] rhatdan commented on #3421
There are other flags in the kernel that need to be set to use User Namespace on RHEL7/Centos 7.
@giuseppe PTAL

[2019-06-25 11:45] giuseppe commented on #3421
I see different issues here.  The blog post I've written some time ago seems outdated, I'll need to write another one.

So the first thing: newuidmap/newgidmap seems to be missing, you'll need to install them, or most images won't work (same issue as https://github.com/containers/libpod/issues/3423).

You need to update runc, since the version you are using has different issues with rootless conta

[2019-06-25 13:04] giuseppe commented on #3274
we should support the missing setting but I don' think we should change the default.  We do it to be safe in the case the rundir changes and then you won't be able to see the state of the existing containers.

For example, if you run your containers out of a user session, there is no `/run/user/$UID` available, and podman fallbacks to `/tmp` (*).  We use `/tmp` as it has the sticky bit set so it i

[2019-06-25 13:47] mtrmac commented on #3416
Isn’t this just a simple configuration error?

@michael-read Did you specifically intend to make the search path use `hub.docker.com`, or just the common Docker Hub, which uses the `docker.io` hostname?

Notably `docker://docker.io/openjdk:8-jre-alpine` does exist and can be reached.

---

As for the V1 protocol:

c/image has never supported the v1 protocol (which is so dead that the server reposi

[2019-06-25 13:53] MarcoFalke commented on #3218
I think I figured out steps to reproduce:

[code]

[2019-06-25 14:17] mheon commented on #3218
I think this is actually expected behavior - 100999 looks like the correct UID for the first user to be created in that rootless container. Inside the container `ubuntu` is probably UID 1000, so that's mapping to `100999` outside the container. `podman cp` retained the original UID here - this isn't a bug, it's just how rootless containers work.

We could potentially consider a flag for rootless c

[2019-06-25 14:42] QiWang19 commented on #3218
@mheon  why there's different  UID/GID result when the issues was reported https://github.com/containers/libpod/issues/3218#issue-449488229 ?

[2019-06-25 14:46] MarcoFalke commented on #3218
The first example ("working") uses the default user and does a `chown`. The second example uses a dockerfile with `useradd` and `USER ubuntu:ubuntu`.

[2019-06-25 14:57] mheon commented on #3218
That one also looks like a user running in the container

[2019-06-25 15:01] mheon commented on #3218
Alternatively... a `chown` to another user in the rootless container would do the same. Anything that's not root (or your own UID if `--userns=preserve-id` is given) is going to come out of a rootless container with distorted UIDs.

You can use `podman unshare` to chown them to your UID.

[2019-06-25 15:13] michael-read commented on #3416
Yes, so there was no default set, so I just added the following to the config:
[registries.search]
registries = ['hub.docker.com']

Should it be something else like docker.io? Maybe I'll give that a try.

[2019-06-25 15:16] michael-read commented on #3416
okay, I changed it to docker.io. Maybe that should be configured as the default during installation.

Now I have another error:
[code]
I guess I need to find `slirp4netns`, and get it installed. Would have thought the default install would have set up any required dependencies.

[2019-06-25 15:20] rhatdan commented on #3416
What are you installing on?  All of this is setup correctly if you install on Fedora, Centos, RHEL, and I believe it should work correctly in Ubuntu, SUSE.

If you are building and installing from hand, then you need to handle the required packages.

[2019-06-25 15:21] michael-read commented on #3416
Ubuntu 16.04 LTS

[2019-06-25 15:24] rhatdan commented on #3416
Did you get the packages from the PPC?

[2019-06-25 15:28] michael-read commented on #3416
I just used:
[code]
However now, when trying:
[code]
I just get a prompt, without an error:
[code]
It appears Podman hasn't been tested on Ubuntu 16.04 LTS.

[2019-06-25 15:40] rhatdan commented on #3416
Are you in a container when the prompt completes?

[2019-06-25 15:57] MarcoFalke commented on #3218
Is there documentation available for `podman unshare`? The help doesn't tell me how to unshare the file in the running container `run_002:/home/ubuntu/test_file`.

[code]

[code]

[2019-06-25 15:59] mheon commented on #3218
Unshare without arguments will get you a shell with the same user mappings as the rootless container - within that shell you can run podman cp to extract the file, and chown it to UID 0 (your user outside the container).

Given the complexity here, I am thinking that a flag for `cp` to squash UIDs is definitely a good idea.

[2019-06-25 16:03] MarcoFalke commented on #3218
So I will have to call any future command that reads the file from the `podman unshare` shell?

[2019-06-25 16:07] MarcoFalke commented on #3218
Would be nice if `podman cp` behaved identical to `docker cp` with regard to ownership.

https://docs.docker.com/engine/reference/commandline/cp/#extended-description

[2019-06-25 16:11] michael-read commented on #3416
okay, my apologies. It does appear that I'm in the container. Closing. Thanks for the help!

[2019-06-25 16:11] #3416 closed

[2019-06-25 16:24] rhatdan commented on #3218
From the docs, it looks like podman cp should be creating files inside of the container as "root" inside of the container, if we are not, then that is a bug.

[2019-06-25 16:58] sshnaidm opened #3426 "Empty dns search option should set "search" option as empty in containers /etc/resolv.conf"
/kind bug

**Description**

According to docs:

As I understand this, by specifying ``--dns-search=''`` my search domain should be empty, no matter what it was before. It's not the real case.

**Steps to reproduce the issue:**

``podman run -it --rm --name f --dns-search='' alpine cat /etc/resolv.conf``
Ouput:
[code]
**Describe the results you received:**
The results are exactly if I didn't set dn

[2019-06-25 18:07] baude commented on #3426
@jwhonce ptal

[2019-06-25 18:21] #3408 closed

[2019-06-25 18:56] #2815 closed

[2019-06-25 19:56] junaruga opened #3432 "A different behavior about non-root user's volume mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am not sure if this is a bug.
There is a different behavior to use `podman -v HOST_DIR:CONTAINER_DIR` for created `VOLUME` in `Dockerfile` between `podman` and `docker`.
This is important use case for me because the use case is used to run a source code in container with same user on host s

[2019-06-25 20:04] rhatdan commented on #3432
@mheon Was this fixed in your rework on volumes?  Potentially fixed in 1.4.2?

[2019-06-25 20:05] mheon commented on #3432
This one is a bug in that rework, actually - fixed in 1.3.2 (plus 1.4.0 and later).

[2019-06-25 20:10] #3432 closed

[2019-06-25 20:23] llchan commented on #3421
I have podman working on my normal host, but today when I went to try it on a different host I saw the "not enough IDs available" error mentioned here. I must be forgetting a step that I ran on the other host, so if we could put together a pre-flight checklist that would be helpful.  Off the top of my head here are the things I checked:
- newuidmap/newgidmap exist on PATH (version 4.7)
- runc exis

[2019-06-25 20:33] mheon commented on #3421
Is the image requesting an ID over 65k? Some images do include UIDs in the million range - those can break even for properly configured rootless.

[2019-06-25 20:53] llchan commented on #3421
I don't think so, it said `(requested 0:42 for /etc/shadow)` for the alpine:latest I was testing with.

[2019-06-25 20:55] rhatdan commented on #3421
Does podman unshare work?

podman unshare cat /proc/self/uid_map

[2019-06-25 20:57] llchan commented on #3421
Yes, I think so:
[code]
`unshare -U` also appears to work.

[2019-06-25 20:59] rhatdan commented on #3421
That indicates that the user executing podman unshare only has one UID 12345
I would guess that /etc/subuid does not have an entry for user 12345 USERNAME.

[2019-06-25 21:08] alitvak69 opened #3433 "Questions about podman 1.4.3"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently podman 1.4.0 released via package on atomic ppa.  However 1.4.3 is already in release.
One of the features is a much better performance in I/O heavy environments.
1.  What does it mean compared to 1.3.2?  I currently run ceph in podman and it is I/O intensive.
2.  Will 1.4.3 pac

[2019-06-25 21:14] mheon commented on #3433
I'll poke @lsm5 about a fresh release on the PPA.

On a test system with 100% pegged I/O on the partition Podman was using, we saw execution times for simple Podman commands go down from ~90 seconds to ~4 seconds. This is mostly accomplished through streamlining the fastpath - there are still many things which will cause slower performance (for example, launching containers will not be significant

[2019-06-25 21:16] caffeinejolt opened #3434 "podman-1.3.2-1 busts --tmpfs=/var"
I just noticed all my podman containers failed to come back up after the podman-1.3.2-1 release to RHEL 7.  I had to remove --tmpfs=/var...options in order to get podman to start without error... but that breaks things for those of us running systemd in a container... or depending on /var being a tmpfs for anything else.

I had previously posted about this in issue #2996

Anyways, this release is

[2019-06-25 21:17] mheon commented on #3434
Can you get specific error messages?

[2019-06-25 21:19] caffeinejolt commented on #3434
Error: container create failed: container_linux.go:336: starting container process caused "process_linux.go:399: container init caused \
"rootfs_linux.go:58: mounting \\\"tmpfs\\\" to rootfs \\\"/srv/machines/roots/php54/root\\\" at \\\"/tmp/runctop604820653/runctmpdir9856
91176\\\" caused \\\"tmpcopyup: failed to copy /srv/machines/roots/php54/root/var to /tmp/runctop604820653/runctmpdir985691176

[2019-06-25 21:21] caffeinejolt commented on #3434
May be worth noting I am using --rootfs  --rm=true --read-only

[2019-06-25 21:24] mheon commented on #3434
Tmpcopyup is running out of space copying up the contents of `/var/` - eek.

[2019-06-25 21:33] caffeinejolt commented on #3434
There are other problems too...  the above error message is what I get if I use just --tmpfs /var  which I was only using to test out the new podman.  If I use what I want to actually use: --tmpfs=/var:rw,nosuid,nodev,size=524288000  I get this error: Error: nosuid: duplicate mount destination

[2019-06-25 21:34] mheon commented on #3434
That looks like a parsing error on our end - from the error format, it seems like we're actually trying to mount to `/nosuid` in the container, instead of parsing it as an option. Double eek.

[2019-06-25 21:38] caffeinejolt commented on #3434
I only get the "parsing error"  with both specified:  --tmpfs=/var:rw,nosuid,nodev,size=524288000   --tmpfs=/tmp:rw,nosuid,nodev,size=524288000

[2019-06-25 21:43] caffeinejolt commented on #3434
Ok - if I remove /var/lib/cache from my --rootfs image (uses 133MB - yum related it seems), I can get --tmpfs=/var:rw,nosuid,nodev,size=524288000 to work

Which is weird... but I can at least work with that.

Leaving the inability to to specify both --tmpfs=/var:rw,nosuid,nodev,size=524288000 --tmpfs=/tmp:rw,nosuid,nodev,size=524288000 as the remaining problem....

[2019-06-25 21:51] mheon commented on #3434
I can duplicate the parse error as follows:

`sudo ./bin/podman run -t -i --tmpfs=/var:rw,nosuid,nodev,size=524288000 --rm --tmpfs=/tmp:rw,nosuid,nodev,size=524288000 --read-only fedora bash`

(ignore the bin/podman here, that's my development copy)

Looking into it

[2019-06-25 21:55] mheon commented on #3434
It's StringArray vs StringSlice again.

@baude We have to do a survey for this, it's broken us a lot.

[2019-06-25 22:06] llchan commented on #3421
Did a bit more snooping, looks like the podman log level is not set early enough, so the newuidmap debug output is getting swallowed. I built a binary with that log level bumped up and this is the error that causes the issue:
[code]

[2019-06-25 22:09] mheon commented on #3434
Fix for the parsing issue in #3435

[2019-06-25 22:11] caffeinejolt commented on #3434
Just using  --tmpfs=/tmp:size=524288000 works and results in the nosuid,nodev,noexec stuff defaults - so I have a workaround for that too now.

I know that podman is considered "experimental" in RHEL7 - so breakage on updates is to be expected, but I need to get this stuff in production soon - so am considering excluding podman from auto yum updates.  Any idea as to when/if it will be out of exper

[2019-06-25 22:11] mheon commented on #3421
Permissions issue on the binary?

[2019-06-25 22:11] mheon commented on #3421
I'll tag @giuseppe in case it isn't that - he might have some ideas

[2019-06-25 22:31] caffeinejolt commented on #3434
Actually - using --tmpfs=/tmp:size=524288000  --tmpfs=/var:size=524288000

Works without having to remove /var/cache as specified above - seems to indicate all of the above is parser related

[2019-06-25 23:16] llchan commented on #3421
Binary is readable/executable and executes fine, but it looks like on this box where it's not working, it's owned by a user other than root:root (we deploy packages differently to that host). Is it required for it to be root:root to do its magic?

Also, is there any way to detect newuidmap for too old of a version? I have a colleague who ran into an issue with his PATH so it was falling back to th

[2019-06-26 03:56] space88man opened #3436 "podman not gracefully cleaning up attach socket and fifo ctl"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Three containers sharing the network namespace of the first container.

When the containers are shutdown gracefully, i.e, podman stop con1 con2 con2

the attach socket and ctl fifo are left behind.

**Steps to reproduce the issue:**

1.

[code]

2.
[code]
3.

**Describe the results you receive

[2019-06-26 10:25] mheon commented on #3436
Seems like cleanup process might not be firing. Running with
--log-level=debug and --syslog might reveal issues.

On Tue, Jun 25, 2019, 23:56 space88man <notifications@github.com> wrote:

[2019-06-26 11:19] rfrohl opened #3439 "rootless containers with systemd default-hierarchy=hybrid (cgroups v2)"
/kind bug

**Description**

Hi,
I am trying to run a container in rootless mode with the `--memory="512m"` option, but podman complains that cgroups v2 is needed. My setup is running a systemd using `default-hierarchy=hybrid`. Is this mode supported ? Are any config changes needed to run this setup?

In general I am not sure if this is a setup issue or if this mode hasn't been considered.

**Steps

[2019-06-26 11:27] giuseppe commented on #3439
unfortunately not.  The hybrid mode is not supported and I think it won't be supported as it is really messy to manage cgroups that have some controllers on v1 and some others on v2.

Also for experimenting with cgroup v2 you'll need to use crun as OCI runtime, since runc has no support for cgroup v2 yet.

If you are curious on how to setup the system for cgroup v2, I've written about it here: htt

[2019-06-26 11:27] #3439 closed

[2019-06-26 11:28] giuseppe commented on #3436
@mheon could it be the same issue we have seen recently where it was needed to run "podman system renumber"?

@space88man could you try "podman system renumber" before attempting to start the containers?

[2019-06-26 11:37] giuseppe commented on #2998
I'll close this issue, as checking for `mknod` is not enough on Ubuntu/Debian as well, since an unprivileged user still has no permissions for that.

[2019-06-26 11:58] giuseppe commented on #3421
yes, newuidmap/newgidmap must be owned by root and it must either have fcaps enabled or installed as setuid.

[2019-06-26 12:23] TomSweeneyRedHat commented on #3439
Do we have the lack of hybrid support documented somewhere?

[2019-06-26 12:32] giuseppe commented on #3439
We have no support for cgroup v2 yet, we are just starting to play with it

[2019-06-26 13:12] #2998 closed

[2019-06-26 13:21] rfrohl commented on #3439
thanks for the quick update, will try the blogpost

[2019-06-26 13:58] junaruga commented on #3432
Thanks for the checking.
In the podman 1.4.2, there is no error.
But the file's owner and group is "root". It needs to be "jaruga". That is different from docker.
Can you reopen?

[code]

[code]

[2019-06-26 14:23] mheon commented on #3432
Try with --userns=keep-id

Rootless containers map the UID of the user that ran the container to root
without it.

On Wed, Jun 26, 2019, 09:58 Jun Aruga <notifications@github.com> wrote:

[2019-06-26 14:40] juansuerogit commented on #3421
So long story short I need to use RHEL 8?

[2019-06-26 14:44] giuseppe commented on #3421
that will surely help as all the needed pieces are there, including an updated kernel where you can use fuse-overlayfs.

[2019-06-26 14:45] rhatdan commented on #3421
getcap /usr/bin/newuidmap
/usr/bin/newuidmap = cap_setuid+ep

If this is not set then this will not work.

[2019-06-26 14:45] juansuerogit commented on #3421
Is there a Podman-Compose?  How do i run the same container/container images iterated over in Dev with Podman and Buildah with a deployment to Amazon ECS, Azure AKS or IBM IKS?

[2019-06-26 14:47] giuseppe commented on #3421
@juansuerogit you can use `podman generate kube` and `podman play kube`

[2019-06-26 14:50] juansuerogit commented on #3421
So my friends on Mac are dead in the water.  I told them to get a Red Hat workstation they wouldnt listen :( :(

[2019-06-26 15:08] junaruga commented on #3432
@mairin thanks for the info. It works with "--userns=keep-id"! the option is podman specific feature right?

[code]

[code]

[2019-06-26 17:33] QazerLab opened #3440 "Podman pause hangs the system during shutdown"
Note: first I wanted to post a PR with a fix, but then doubted, because this problem is too easy to reproduce and probably could not be overlooked. Opening an issue to confirm that this really should be treated as a bug.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
BUG REPORT

/kind bug

**Description**

[This commit](https://github.com/containers/libpod/commit/ce

[2019-06-26 18:50] llchan commented on #3421
Okay, I've confirmed that the owner of newuidmap must be root for it to work.  I'll pass that along to our package deployment people to see if we can find a workaround.

@rhatdan somehow getcap returns nothing even on the host that's working :thinking:

Btw @juansuerogit sorry for sort of hijacking your thread, I thought it was related but maybe not :)

[2019-06-26 20:06] jwflory opened #3441 "rootless: Enable rootless containers by default with user UIDs/GIDs to 65535 in /etc/subxid"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It is difficult to enable rootless containers in an environment where there might be hundreds or even a thousand unique users connecting to a host (e.g. HPC clusters). It requires adding all usernames to the `/etc/sub{u,g}id` files. Maintaining this list of users is difficult and needs ca

[2019-06-26 20:25] #3368 closed

[2019-06-27 00:27] rhatdan commented on #3421
@llchan Then it is probably setuid.

@juansuerogit I had a nice demo today of podman running on a MAC using podman-remote.  Should soon have packages available on Brew.

[2019-06-27 00:32] rhatdan commented on #3432
Yes, since Docker does not use the User Namespace it does not support the field.
Basically rootless podman either creates the container with the USERUID as root by default or creates a container with the first UID in /etc/subuid as root inside of the container and the USERUID==USERUID inside of the container when run with --userns=keep-id

[2019-06-27 00:45] rhatdan commented on #3440
@giuseppe PTAL

[2019-06-27 01:25] rhatdan commented on #3441
I have opened bugs to support managing the /etc/subuid and /etc/subgid files via nsswitch, which should get us closer to what you want.

[2019-06-27 07:46] space88man commented on #3436
[code]

Nevertheless, by triplet container set is able to start up.

[2019-06-27 08:32] giuseppe commented on #3440
@QazerLab thanks for the report, I think it makes sense to not block SIGTERM.

If you already have a patch, could you please open a PR?

[2019-06-27 11:03] QazerLab commented on #3440
@giuseppe yep, will PR it few hours later.

[2019-06-27 11:04] laolux opened #3444 "nextcloud-apache image hangs unprivileged, fine if run as root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I try to run the nextcloud container image from dockerhub using podman as unprivileged user. However, this does not quite work. The container starts and starting to setup nextcloud works, but it never finishes. The container is eventually stuck and cannot be stopped with `podman stop`. If I d

[2019-06-27 11:31] towe75 opened #3445 "How to use libpod as library in my own program?"
/kind feature

**Build a stand alone program with libpod features**

I'd like to work on integrating podman and nomad, see also https://github.com/hashicorp/nomad/issues/5312#

So i started out to build a test program where i want to get familiar with the libpod api before building the actual nomad plugin.

I did not have any trouble building the tool but i can not manage to get a libpod.Runtime o

[2019-06-27 12:14] mheon commented on #3445
I think you're missing the storage reexec.Init() call - I'm not at a
computer so I can't get the exact invocation, but you can find it in
cmd/podman/main.go

On Thu, Jun 27, 2019, 07:31 Thomas Weber <notifications@github.com> wrote:

[2019-06-27 12:21] rhatdan commented on #3444
Not root users are not allowed to bind to port 80 on the host, or any ports < 1024.  I suspect that is your issue.

https://github.com/containers/libpod/blob/master/rootless.md

@giuseppe What do you think about adding a patch to podman to check for NET_BIND_SERVICE when the user specifies a port < 1024 and throwing an error?

[2019-06-27 12:23] mheon commented on #3444
The Podman stop error indicates that SIGKILL didn't stop the container - I
think we have further issues here than just a low port

On Thu, Jun 27, 2019, 08:21 Daniel J Walsh <notifications@github.com> wrote:

[2019-06-27 12:33] alitvak69 commented on #3433
@mheon: Any updates on 1.4.3?

[2019-06-27 12:48] towe75 commented on #3445
@mheon you made my day!
Still having some better documentation would be awesome.

Thank you!

Cheers,

Thomas

[2019-06-27 12:48] #3445 closed

[2019-06-27 12:51] lsm5 commented on #3433
building now..

[2019-06-27 13:53] cevich opened #3447 "Testing Flake: iptables chain already exists"
/kind bug

**Description**

Occasionally, automated testing fails due to a [race-condition involving CNI iptables (though others CNI tools could also race)](https://github.com/containernetworking/plugins/issues/335).  Since `firewalld` is intended to mitigate this, but use is forbidden, synchronization either needs to happen within CNI or within libpod.

**Steps to reproduce the issue:**

1. Run C

[2019-06-27 14:04] giuseppe commented on #3444
one observation:

I think the container is not working correctly on a terminal (not sure why it would work as root), if I run your same command and I try to resize the terminal the application is terminated:

[code]

I think the issue is in the file system, could you try https://bodhi.fedoraproject.org/updates/FEDORA-2019-1fba8e63f5 ?

Unfortunately that release didn't make into Fedora yet, even t

[2019-06-27 14:08] laolux commented on #3444
@rhatdan
Thanks for pointing that out, but I don't think that I have a port issue here. I use `podman run -t -i -a STDIN -a STDOUT -a STDERR -p 8080:80/tcp nextcloud:16-apache` which contains `-p 8080:80/tcp` which as far as I know will bind port 80 from the container to port 8080 of the host.
Also, if I try to start with `-p 80:80/tcp`, then the container will not start to begin with.

[2019-06-27 14:18] laolux commented on #3444
@giuseppe
Thousand thanks, that fixed it :-)

Thank you all for your help and quick responses.

[2019-06-27 14:18] #3444 closed

[2019-06-27 14:31] giuseppe commented on #3441
I think it could be solved in the immediate future if we enhance newuidmap/newgidmap to allow a static assignment for the additional UIDs/GIDs.

It can be easily done by choosing a range of system users that are allowed to get additional IDs, then split equally the remaining IDs to these system users.

Let's say we pick 0-65536 as the system users range, we have `4294901760` IDs more that we can a

[2019-06-27 15:34] mritd opened #3449 "podman play kube error(log driver must be set)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman play kube` error

**Steps to reproduce the issue:**

1. `podman run -dt --name nginx -p 1234:80 nginx:1.17.0-alpine`

2. `podman generate kube nginx > nginx.yaml`

3. `podman rm -f nginx`

4. `podman play kube nginx.yaml`

**Describe the results you received:**

[code]

**Desc

[2019-06-27 15:38] haircommander commented on #3449
This has been fixed in 1.4.1!

[2019-06-27 15:39] haircommander commented on #3449
First reported here https://github.com/containers/libpod/issues/3157#issuecomment-502889898

[2019-06-27 15:45] #3449 closed

[2019-06-27 16:58] towe75 commented on #3027
I'd like to bump this one.
The ubuntu version 1.4.0 from the Projectatomic PPA is still lacking varlib support.

[2019-06-27 17:01] towe75 commented on #3343
@redcap52  maybe you want to have a look at my related question in https://github.com/containers/libpod/issues/3445

I endet up with this working example program:

[code]

@baude it would be nice to have some small api example like this in the docs, what do you think?
Obviously it's hard to get started on this topic.

[2019-06-27 17:11] towe75 commented on #3387
Hi. I am playing with the nomad plugin api right now.
Though i am a bit unsure on the best approach in regard to the architecture.

My choices so far are:

nomad-plugin-podman links directly against libpod go api.
Advantages: everything is nicely encapsulated, no magic, full control and all features even if they are not exposed over varlink
Disadvantages: getting go dependencies right is relativel

[2019-06-27 17:14] alitvak69 commented on #3433
@lsm5 the build doesn't appear on PPA yes

[2019-06-27 17:33] lsm5 commented on #3433
On Thu, Jun 27, 2019 at 10:14:21AM -0700, alitvak69 wrote:

It will, once it's done, fighting some other fires too, I'll let you know once
the build is ready

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-06-27 18:21] haircommander commented on #2963
Given #3157 is fixed, and the above reproducer works for me on 1.4.3, I'm closing this. Feel free to reopen if you disagree @Fodoj !

[2019-06-27 18:21] #2963 closed

[2019-06-27 19:02] rhatdan commented on #3387
Podman varlink bridge mode supports running podman varlink if it is not configured.  IE no socket activation needed.  Basically the podman valink will be launched based on the CLI, and then will run for the length of the connection.  This can be run in root or rootless mode.

[2019-06-27 19:04] jwflory commented on #3441
@rhatdan Do you have links to those bugs I could follow too?

[2019-06-27 19:13] towe75 commented on #3387
@rhatdan , yes, i understood this already. That's what i ment with "nomad-plugin-podman uses varlink and starts podman as sub-process."

This approach would lead us to this process hierarchy:

 nomad
        └── nomad-plugin-podman
            └── podman

So the plugin would control the lifecycle of a single podman (with varlink bridge mode) "slave".
Nomads plugin api, in turn, also starts the plu

[2019-06-27 19:17] rhatdan commented on #3441
https://github.com/shadow-maint/shadow/issues/154
Also internal email conversation with glibc developers.

[2019-06-27 19:19] rhatdan commented on #3387
I believe this is what we are doing with next generation of cockpit-podman

@haraldh @baude @jwhonce WDYT?

[2019-06-27 20:17] mheon commented on #3387
I wouldn't be terribly worried about Go dependency versions - a lot of them
are up to date because of our recent go module migration, but previously
they were on much older versions for the most part.

On Thu, Jun 27, 2019, 15:19 Daniel J Walsh <notifications@github.com> wrote:

[2019-06-27 22:10] #3440 closed

[2019-06-27 22:32] MarcoFalke commented on #3218
As a workaround I use `tar` to pipe the folder to stdout on the container and `tar` to receive it from stdin on the host.

[2019-06-28 00:58] mritd commented on #3449
Thank you for your reply 😁

[2019-06-28 01:20] flx42 opened #3453 "podman is no longer installable alongside containerd.io on ubuntu"
With the update of the `containerd.io` package to 1.2.6-3 (probably today with the release of docker ce 18.09.7), runc moved from `/usr/sbin/runc` to `/usr/bin/runc`, which directly clashes with the `cri-o-runc` package:

[code]

[2019-06-28 07:06] marusak opened #3454 "Cannot start container with API while similar is running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When I start two similar containers and then stop one of them, I cannot restart it with API as long as the second one is running.

**Steps to reproduce the issue:**
1.
[code]
2.  Then
`sudo varlink call unix:/run/podman/io.podman/io.podman.StartContainer '{ "name": "second"}'`
fails with:
[cod

[2019-06-28 09:34] vrothberg commented on #3453
Thanks for opening the issue, @flx42. @lsm5 PTAL

[2019-06-28 10:23] mheon commented on #3454
On initial inspection it looks awful similar to what I'd expect if the
container wasn't mounted prior to starting.

On Fri, Jun 28, 2019, 03:06 Matej Marušák <notifications@github.com> wrote:

[2019-06-28 13:01] rhatdan commented on #3453
The Docker/containerd package is providing its own version of runc, as well as Podman.  Not sure if Podman can work with containerd version.  We are having this same issue with Fedora, although in the Fedora case, we have a separate runc package which each tool should just use, rather then attempting to provide their own.

[2019-06-28 13:56] DisposaBoy commented on #3407
PR https://github.com/containers/libpod/pull/3404 is incorrect. You just got the name of the env var wrong. The correct name is *XDG_**CONFIG_HOME***.

See https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html for docs.

[2019-06-28 13:59] ebiederm commented on #3441
Giuseppe Scrivano <notifications@github.com> writes:

I think that is already the default policy in Ubuntu.  Unless I am
misunderstanding the suggestion this is already supported and the
configuration knobs just need to be set appropriately on the distro's
you care about.

The user addition takes care of allocationg subordinate uids and adding
them to /etc/subuid, ditto for /etc/subgid.

Or am I n

[2019-06-28 14:01] #3410 closed

[2019-06-28 14:22] rhatdan commented on #3407
Could you open a PR to change the code as well as the help message to do the "RIGHT" thing.

[2019-06-28 14:40] marshallford commented on #3413
I've ran into this problem both when building podman from source (alpine) and when using the package published to the fedora repos.

[code]

[2019-06-28 14:40] xlz-jgoutin opened #3456 "Rootless access to PCI devices"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

From my container, I need to access to a PCI device (A FPGA in my case). The user I use to run the container has access to the device using a special group (``fpgauser``, that is the user primary group):

On the host, the device ownership is set to ``root:fpgauser`` (example ``/sys/devices/pc

[2019-06-28 15:03] baude commented on #3454
I am unable to replicate this.  Here's a replay script:

[code]

Can you verify the varlink version and package you are using?

[2019-06-28 15:09] marusak commented on #3454
We have rather different varlink:
[code]

[2019-06-28 15:13] mheon commented on #3456
Are you running rootless?

This seems like a user mapping issue with rootless containers.

On Fri, Jun 28, 2019, 10:41 xlz-jgoutin <notifications@github.com> wrote:

[2019-06-28 15:31] rhatdan commented on #3456
I think you would need to map the group into the container, which I am not sure you can,

fpgauser

Something like

--gidmap fpgauser:fpgauser:1

Which I am not sure if this is allowed.  fpgauser might have to be translated into the actual GID.

[2019-06-28 16:53] giuseppe commented on #3456
this won't work as the `--gidmap` will be relative to the UIDS/GIDS we have in the first user namespace.

Strange that the user first GID is not mapped inside of the container, that should be present.

Can you show me the output of `id` when you run it from the host and both `cat /proc/self/uid_map`, `cat /proc/self/gid_map` from the container?

Also, could you try to bind mount `-v /sys:/sys` fro

[2019-06-28 18:21] baude commented on #3454
I tried with the same libvarlink version.
[code]

[2019-06-28 18:30] nalind commented on #3304
@thawkins owner information on containers and images stored in your home directory gets mapped from their originally-specified range to ranges which `/etc/subuid` and `/etc/subgid` mark as available for your use, but since your typical shell session is still running as an unprivileged user, you can't always access their contents directly.  Running `podman unshare` opens a shell in a new user names

[2019-06-28 19:29] giuseppe commented on #3441
Fedora does that automatically as well, every new user gets 65k additional users.

What I am suggesting is to make the mapping function of the UID, not the user name, perhaps enabling this configuration through a new conf file.  The mapping function `UID -> additional ranges` won't require any lookup in the user DB to find the user name and in `/etc/subuid` to find the ranges allocated to that use

[2019-06-28 19:34] debarshiray commented on #3179
Turns out that the `ONLCR` flag is disabled in the terminals exhibiting this bug. As per `termios(3)`, `ONLCR` translates to *map NL to CR-NL on output*.

With a PTY created by GNOME Terminal:
[code]

With `podman run ...`:
[code]

With `podman exec ...`:
[code]

[2019-06-28 19:36] SEJeff commented on #3441
I just attempted (unsuccessfully) to just put uids into `/etc/subuid` in place of usernames so I could trivially template it for a large range of users. If it supported both, like the `id` command or something, that should be enough to trivially just auto-generate it.

I like your idea from a pragmatic standpoint @giuseppe.

[2019-06-28 20:12] debarshiray commented on #3179
Sadly, enabling `ONLCR` with `stty onlcr` doesn't make the problem go away.

[2019-06-29 09:19] giuseppe commented on #3421
@juansuerogit the discussion derailed a bit from the original issue you were having.  Have you had any chance to try again?  Keep in mind the uidmap for rootless works in the default user namespace we create, so you'll need to pick IDs in the range [0-number of IDs available], this for example should work:
`podman run -dt --uidmap 0:100:500 ubuntu sleep 1000`

[2019-06-30 04:48] mritd commented on #3433
Can we build our own debian package? I also need to upgrade podman to version 1.4.2, but only 1.4.0 in ppa.

[2019-06-30 10:06] lsm5 commented on #3433
I just built 1.4.3 for 18.04 (16.04 to follow), should be published in a bit.

@mritd in case you're interested in building your own or if you want to package it for vanilla debian, untar [this tarball](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+sourcefiles/podman/1.4.3-1~ubuntu18.04~ppa1/podman_1.4.3-1~ubuntu18.04~ppa1.tar.xz) and look in the `debian/` directory.

[2019-06-30 10:08] lsm5 commented on #3129
@isavcic i just built 1.4.3 for 18.04, should be published in a bit. I plan to build stable releases only for the ppa going forward, with the long term goal being snap packages (snaps make it trivial to have dev/stable/release builds)

[2019-06-30 10:27] lsm5 commented on #3027
@towe75 @EricHripko I'll get the libvarlink package on the ppa next week. So please hold on a little longer. I added v1.4.3 to the ppa btw.

[2019-07-01 01:42] marshallford commented on #3413
Ah my mistake. I placed `libpod.conf` in `/usr/share/containers` instead of `/etc/containers`. Sorry for troubling you.

[2019-07-01 01:42] #3413 closed

[2019-07-01 02:10] mritd commented on #3433
@lsm5 Thank you for your help.

I am not familiar with the debian package build, I just used [fpm](https://github.com/jordansissel/fpm) to create the debian package. Does the official have tools such as scripts for quickly creating installation packages for different Linux distributions? (e.g. `make package`)

[2019-07-01 03:13] paravz opened #3459 "systemd --user session fails due to permissions on /sys/fs/cgroup/systemd"
/kind bug

**Description**

"Interactive" sessions for non-root users in systemd container do not function properly due to systemctl -session failing, which fails most of modern functionality, including dbus, ssh sessions, etc

**Steps to reproduce the issue:**

1. create container and enable systemd-logind
[code]
2. The issue is observed when logging as user
[code]
3. "user session" service `syst

[2019-07-01 03:32] mheon commented on #3459
[code]

This path doesn't look correct - it seems like we've duplicated the `/machine.slice/libpod-$CID.scope` portion? Could be related.

[2019-07-01 03:36] mheon commented on #3459
Output of `systemd-cgls` on the host with the systemd container running might help debug

[2019-07-01 03:45] paravz commented on #3459
I was "holding" a user session using `sudo podman exec -it sysuser su - user -c 'bash -c "id; sleep 3; SYSTEMD_LOG_LEVEL=debug systemctl --user; sleep 60"'`, here is the subset of the results for the given container:
[code]

[2019-07-01 03:46] paravz commented on #3459
This looks related, although closed: https://github.com/systemd/systemd/issues/3388

[2019-07-01 08:23] marusak commented on #3454
I can reproduce this always also in our test VMs in Cockpit.
That gave me idea.
1. I've rebooted my machine
2. Tried to reproduce this - no luck
3. Opened `Podman Containers` in Cockpit (just opened, did nothing specific)
4. Try it again in terminal and now I can reproduce it again (sometimes it takes `run first`, `run second`, `stop second`, `varlink`, `stop second`, `varlink`)

So it seems that

[2019-07-01 09:38] rhatdan commented on #3459
@giuseppe PTAL

[2019-07-01 10:34] jwakely opened #3460 "podman cp cont:/tmp/foo.bar baz" always tries to create a new directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using `podman cp` to copy a file from a container to the local machine, the file is always created in a new directory, contrary to the documented behaviour.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

A new directory is created with  the basename o

[2019-07-01 10:38] giuseppe commented on #3459
I am not sure it will work without properly creating the user session, if you try to use directly `systemctl --user` on the host you'll probably get the same error.

Could you try to run as root `systemctl start user@1000.service" or alternatively `loginctl enable-linger 1000`?

[2019-07-01 10:39] giuseppe commented on #3460
/cc @QiWang19

[2019-07-01 10:50] jwakely commented on #3460
Oh I think this looks like a dup of #3384

[2019-07-01 12:04] mheon commented on #3460
Agree this is probably a dupe - would be nice if you can verify its fixed
on master though.

On Mon, Jul 1, 2019, 06:50 Jonathan Wakely <notifications@github.com> wrote:

[2019-07-01 13:48] carlosedp opened #3462 "Podman errors using CNI on Risc-V archtecture"
After all work by @giuseppe towards having Podman on Risc-V architecture, everything works fine (building, running, etc) containers but I'm seeing some problems with CNI (not using `--net host`).

    ➜ podman version
    Version:            1.4.4-dev
    RemoteAPI Version:  1
    Go Version:         devel +f980a63fcb Fri May 24 20:26:57 2019 +1000
    Git Commit:         ffbc4a97801a59a887c49016a

[2019-07-01 13:57] TomSweeneyRedHat commented on #3407
@DisposaBoy I'm not entirely clear on your last line:
"EDIT: my mistake, the code does in fact hard-code this path — which is the wrong thing to do."

Which path are you seeing hardcoded?  I think you're looking at lines like this next one, but just wanted to be sure we were on the same page.

[code]

[2019-07-01 15:57] xlz-jgoutin commented on #3456
After reading your comments, I finally managed to make it work. Thanks.

I maybe had something wrong last day with the user group because this time I get ``nobody:root`` as ownership (Maybe because last time I added the user to the group and then make the group as primary, today I directly created the user with this group as primary).

After this, I tried to reproduce the same user and group pair

[2019-07-01 16:55] paravz commented on #3459
the user session creation is enabled by unmasking `systemd-logind`. `systemctl status user@1000.service` has the same output as my step 3 - it attempts to start and fails without the chmod.

[2019-07-01 17:07] marcov opened #3463 "Running `sudo -E podman` after rootless `podman` has side effects"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `sudo -E podman <anycommand>` after a rootless podman command (that creates the pause process) causes podman to misbehave.

**Steps to reproduce the issue:**
[code]
**Output of `podman version`:**

[code]

[2019-07-01 17:08] mheon commented on #3463
@giuseppe PTAL

[2019-07-01 17:09] marcov commented on #3463
Adding some debug Printf right before trying to create `/var/lib/containers/storage`, I can see that the user namespace of the `sudo -E podman` is the same of the podman pause process showed in `lsns -t user`

[2019-07-01 17:43] orf opened #3464 "Error: could not get runtime: operation not permitted with stable podman image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the `quay.io/podman/stable` image on MacOS or Kubernetes results in `Error: could not get runtime: operation not permitted`

**Steps to reproduce the issue:**

1. Run `docker run -it quay.io/podman/stable podman info`

**Describe the results you received:**

`Error: could not get runtim

[2019-07-01 17:45] mheon commented on #3464
This is a pretty terrible error, regardless of where it's coming from - we need to get this wrapped so we can present a more reasonable explanation as to where it's coming from

[2019-07-01 17:58] giuseppe commented on #3463
Isn't XDG_RUNTIME_DIR pointing to the wrong directory with sudo -E?

[2019-07-01 18:01] TomSweeneyRedHat commented on #3464
FYI @giuseppe

[2019-07-01 18:03] marcov commented on #3463
Yea, it is still pointing to `/run/user/1000`. I guess that's not OK then...

[2019-07-01 19:04] stoeps13 opened #3467 "Invalid byte squence"
/kind bug

**Description**

I freshly installed Fedora 30 and used it to switch from Docker to Podman, but when I run a container, I get following error message:

[code]

**Steps to reproduce the issue:**

I'm not sure if it's reproducable, but the error appears with all containers I tried to run. Nothing in the container logs, container were created, but show no output.

**Describe the results yo

[2019-07-01 19:09] mheon commented on #3467
I can't find that error string anywhere in our repo or Cobra's repo - no idea where this is coming out of.

[2019-07-01 19:15] mheon commented on #3467
Works fine here on latest master on my system. Identical locale. Works both as root and rootless.

[2019-07-01 19:28] nalind commented on #3467
This could be coming from `conmon`, relaying an error it's getting back from `libglib-2.0.so.0`.

[2019-07-01 19:36] mheon commented on #3467
Conmon seems like a reasonable guess here

[2019-07-01 19:38] stoeps13 commented on #3467
Installing a VM with default an try again. Thanks for the hint. Will come back when the vm is running.

[2019-07-01 19:59] giuseppe commented on #3463
I've opened a PR here: https://github.com/containers/libpod/pull/3468

[2019-07-01 20:10] stoeps13 commented on #3467
It is not reproducable. I installed FC30 minimal with just podman and it works like a charm.
So it is related to something I added (zsh, i3wm, tmux or whatever). I will dig into it, thanks for all tips.

[2019-07-01 20:10] #3467 closed

[2019-07-01 20:57] #3463 closed

[2019-07-02 01:32] kkimdev commented on #3288
Just tried on WSL2 Ubuntu

[code]

[2019-07-02 01:36] kkimdev commented on #3288
Actually, "sudo" in front of the command worked

[code]

[2019-07-02 08:29] giuseppe commented on #3464
we don't have really anything in place in Podman for creating a user namespace when root has limited capabilities.
Creating the user namespace won't be difficult, but we need to ensure we will still refer to the correct config files.  Differently from Buildah, we will need to ensure all containers are created from the same user namespace, so we need a pause process for root as well.

I'd suggest j

[2019-07-02 08:52] DisposaBoy commented on #3407
I can try and make a PR later this week/next week if I have time, but yes... I'm talking about the hard-coded paths like `join(home, .config)`. Those are the default directories, so things will work most of the time, but it doesn't actually follow the XDG spec. Those code paths should be using the `XDG_CONFIG_HOME` env var and only use the hard-coded paths if it's not set.

You can probably just r

[2019-07-02 08:58] giuseppe commented on #3456
@xlz-jgoutin yes, `--userns=keep-id` is the correct way to keep the same UID inside of the rootless container. `--gidmap 1000:1001:1 --uidmap 1000:1001:1` are not enough, you will still need to map root inside the container, so you'll probably need to do something like:

`--uidmap 0:1001:1 --uidmap 1:1:1001`

If `--uidmap` and `--gidmap` are the same, you can avoid providing `--gidmap`.

I am clos

[2019-07-02 08:58] #3456 closed

[2019-07-02 10:02] giuseppe commented on #3462
could you try without `nftables`?

[2019-07-02 10:19] rhatdan commented on #3288
I thought someone had confirmed that the Kernel used did not have User Namespace enabled, meaning rootless podman will not work.  Someone should point out to Microsoft or Ubuntu or whoever that this should be enabled in the kernel.

[2019-07-02 10:27] rhatdan commented on #3464
Yes, I am not really sure of the use case of running podman in a locked down container anyways.
Seems to me the container should be privileged if you are running it to easily launch containers or demonstrate the features of podman.

[2019-07-02 10:47] pkubatrh commented on #3304
Can confirm #3422 fixed the issues I had with unremovable images.

[2019-07-02 10:49] rhatdan commented on #3304
Can we close this issue?

[2019-07-02 12:20] orf commented on #3464
What about a simple case where you want to push and pull an image, or do any number of things that doesn't involve running a container? Podman is pretty great in this regard.

[2019-07-02 12:27] TomSweeneyRedHat commented on #3407
@DisposaBoy if you've time, would love a review on #3466.

[2019-07-02 12:55] Zjemm commented on #1742
i hope it will get picked up as debian is my go to for bare metal servers. So it would me great to use podman on vanilla debian

[2019-07-02 13:12] baude commented on #3288
the kernel always comes from microsoft.  and indeed, it does not support user namespace.  so both rootless and rooted without --net=host fail.

[2019-07-02 13:14] kkimdev commented on #3288
I guess we should file an issue to https://github.com/microsoft/WSL2-Linux-Kernel then?

[2019-07-02 13:40] hallyn commented on #3441
Hm, supporting uids in /etc/subuid should be simple and I don't see any issues with that.  If that helps you, I don't mind accepting or writing a patch to that effect.

[2019-07-02 13:50] SEJeff commented on #3441
@hallyn my C is a bit rusty but I might take a stab at this. It would be a fun and simple one, thanks!

[2019-07-02 13:50] giuseppe commented on #3441
interestingly, it seems to already work that way.  We will need to adapt Podman to do the lookup in the same way when requesting a range

[2019-07-02 13:51] giuseppe commented on #3441
@SEJeff could you try if https://github.com/containers/storage/pull/376 is enough to solve the issue?  We need to re-vendor containers/storage in podman

[2019-07-02 14:03] rhatdan commented on #3464
Ok, but skopeo would also be good in that category,   perhaps better.

[2019-07-02 14:11] rhatdan commented on #3288
@kkimdev Could you take care of that?

[2019-07-02 14:17] nalind commented on #3304
Yup!

[2019-07-02 14:17] #3304 closed

[2019-07-02 14:20] kkimdev commented on #3288
Filed in issue https://github.com/microsoft/WSL2-Linux-Kernel/issues/8

[2019-07-02 14:34] carlosedp commented on #3462
When I reverted the iptables to legacy (on Debian), it worked but printed tons of messages to dmesg.

[code]

Dmesg output:

<details>

[code]

</details>

Both VMs, Debian and Fedora uses exactly the same Kernel and modules but on Fedora (that iptables show as legacy) I get the error. My Kernel config is on https://gist.github.com/carlosedp/4100815296675d126334f8f6afba4e93.

[2019-07-02 14:34] Biswa96 commented on #3288
This may help https://github.com/microsoft/WSL/issues/4165

[2019-07-02 14:41] kkimdev commented on #3288
@Biswa96 Thanks for the information!

I just tried `curl -L https://raw.githubusercontent.com/moby/moby/master/contrib/check-config.sh | bash` on WSL 2 and it reports `CONFIG_USER_NS` is already enabled.

I'm not really familiar with the kernel/namespace stuff so I will back off from further investigation though.

[2019-07-02 15:22] nalind commented on #3288
Does `sysctl user.max_user_namespaces` print `0`?  Older versions of RHEL had the support for user namespaces compiled in but disabled by default, so that could be why something like `unshare -Ur cat /proc/self/uid_map` would fail to create a new user namespace.

[2019-07-02 15:23] kkimdev commented on #3288
No I got the following on WSL 2.
[code]

[2019-07-02 16:47] imcsk8 commented on #3464
Is this a valid use case?

[2019-07-02 17:35] johrstrom opened #3475 "Both root and $USER exist in rootless container"
I've been reading a lot of issues about mounting directories and user namespaces and so on, and I believe my use case is different enough from what is currently provided to open this ticket.

What I need in a rootless container are these 2 things.
* the entrypoint is (what it believes to be) root
* I am $USER (as an example - uid 1000, gid 1000) both inside and outside the container so I can mount

[2019-07-02 17:39] mheon commented on #3475
Does `--userns=keep-id` work here? It preserves the UID of the user running the container in the mappings - UID 1000 on the host and in the container would be the same user. The container should still default to running applications as root.

[2019-07-02 17:53] johrstrom commented on #3475
When I'd tried that my app hung in weird places trying to escelate privileges. If i just `-it /bin/bash` into something like that and try to `sudo ls` it prompts for a password and I think that's causing issues.  A password I don't know btw, my actual host password doesn't seem to work.

[2019-07-02 17:55] mheon commented on #3475
Hmm. I don't know if we expect sudo to work inside of rootless containers - at least, not natively...

@debarshiray Toolbox allows sudo, right? Do you know if you're doing anything special to allow that?

[2019-07-02 17:57] johrstrom commented on #3475
Yep, I think I see it [here](https://github.com/debarshiray/toolbox/blob/master/toolbox#L976). Let me try some stuff. Thanks!

[2019-07-02 18:29] johrstrom commented on #3475
Thanks you so much! That works just like a charm.

FYI, just in case anyone in the future sees this, I added these lines to my build script and a simple `sudo -u root ....` to my entypoint.
[code]

[2019-07-02 18:29] #3475 closed

[2019-07-02 18:55] jwflory opened #3478 "Add rootless support for General Parallel File Systems (GPFS)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman is unable to pull images as a rootless user. When I try to pull images, while storing signatures, Podman attempts to open `/root/.bash_logout`, which the rootless user expectedly does not have access to.

In my case, I am using the VFS storage driver as well, although this is inten

[2019-07-02 20:01] ephracis opened #3481 "Drop-in replacement of docker network create"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be really nice to have a drop-in replacement of `docker network create` to properly cover the following use case:
- Running two or more containers on a single host
- The containers can find each other using name resolution
- Exposed ports are only accessible from other containers

[2019-07-02 20:07] ephracis opened #3482 "Ansible modules to replace the docker_xxx modules"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We are a company using Ansible to deploy and manage lots and lots of containerized services. This was quite easy using the `docker_xxx` modules in Ansible. When trying to add support for RHEL 8 we are forced to use podman instead of docker and now we have to resort to using command line i

[2019-07-02 20:11] jwflory commented on #3478
Per IRC, here is the output with debug logs:

[code]

[2019-07-02 20:34] mheon commented on #3481
We can expose `network create` to make CNI bridge network configs - it's been on the radar for a while, so I'd like to get it out by end of summer.

Exposed ports only being available within networks could be more problematic... CNI isn't really equipped for that right now. (I'm assuming you mean running containers with `-p` here to expose the ports - if you just mean "container A runs an HTTP ser

[2019-07-02 20:35] mheon commented on #3481
The tl;dr here being that I think `network create` will be arriving soon, but possibly without that port behaviour and without name resolution.

[2019-07-02 20:36] mheon commented on #3482
@rhatdan I think you're the most up to date on the state of our Ansible efforts

[2019-07-02 21:51] jwflory commented on #3478
@giuseppe debugged with me on IRC today and we determined that this is an issue with the [General Parallel File System](https://www.ibm.com/support/knowledgecenter/en/SSFKCN/gpfs_welcome.html) (GPFS) from IBM:

[code]

[2019-07-02 21:51] TomSweeneyRedHat commented on #3482
FYI @TomasTomecek

[2019-07-03 00:19] baude commented on #3481
My two cents:

* As @mheon says, we can make a docker network command.
* Name resolution between containers is not related to docker network.  We have no plans in the immediate future for name resolution between containers.
* It might be late in the day but iirc, containers on the same network can access each other's ports without having to expose ports.  Exposing ports allows "other" networks to

[2019-07-03 00:20] baude commented on #3481
@ephracis thanks for the well written issue.

[2019-07-03 06:41] TomasTomecek commented on #3482
@ephracis there was already a ton of work done in this area:
* [podman_image](https://docs.ansible.com/ansible/latest/modules/podman_image_module.html) - new in Ansible 2.8
* [podman_container](https://github.com/ansible/ansible/pull/57956) was merged recently

[2019-07-03 07:25] Davio opened #3485 "Add packages for Ubuntu 19.04"
/kind feature

**Description**
I'm currently running Ubuntu 19.04, but the packages in the PPA are only for the LTS versions 16.04.2 and 18.04, see https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

**Steps to reproduce the issue:**

1. Go to https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

**Describe the results you received:**
See that there are no packages for 19.04

**Describe

[2019-07-03 08:25] mbaldessari commented on #3148
So just an update here. Since I got back from PTO I am unable to reproduce this downstream. I'll try a bit more in the next days, but for sure it is not seen constantly as we did before. Not sure what changed under me though

[2019-07-03 09:00] marcov opened #3487 "Inappropriate error triggered when container and pod ID have a partial match"
/kind bug

**Description**

When a container ID and a pod ID share a a common prefix, trying to address to the container or to the pod with that prefix results in:
[code]
I understand that IDs are unique for {containers ∪ pods}, but the error message is not making it obvious.
Even better if it is possible to distinguish between pods and containers and avoid triggering this error.

**Steps to repro

[2019-07-03 09:03] vrothberg commented on #3487
Hi @marcov, thanks for the report! Are you interested in fixing that?

I agree that the removal should check the object type, if possible.

[2019-07-03 09:05] marcov commented on #3487
Thanks @vrothberg, sure, that's something I am interested in.

[2019-07-03 09:08] vrothberg commented on #3487
Awesome, thanks @marcov !

[2019-07-03 10:20] ephracis commented on #3481
Yes, that is how it works in Docker. Published ports (using `-p`) are routed in from the host. If the port is not published, it is only exposed on the network and thus only accessible from other containers on that same network. So I guess CNI networks address this properly already.

That would be really helpful. Cause if I don't know the order containers then I have no idea what IP they will get,

[2019-07-03 10:22] ephracis commented on #3482
This is great news! Thanks.

[2019-07-03 12:07] rhatdan commented on #3478
Is this like NFS in that GPFS does not understand User Namespace?

[2019-07-03 12:35] rhatdan commented on #3485
We really could use help from the Ubuntu community for packaging up Podman for Ubuntu either as a Snap or as a PPA.

[2019-07-03 12:46] vrothberg opened #3489 "missing docs for podman-container-init"
`podman-container-init` misses documentation such as man pages.

I'd also love the command to place a copy of the config in $PWD to make it more accessible.

[2019-07-03 12:53] hallyn commented on #3441
Ok so IIUC this is not an issue here.  I'll close this.  If I'm wrong, please reply :)

[2019-07-03 13:14] mheon commented on #3489
We have a manpage for podman-init but did not alias it for podman-container-init... Oops.

[2019-07-03 14:13] jwflory commented on #3478
@rhatdan As I understand, yes.

[2019-07-03 15:22] vrothberg opened #3490 "pull: add new line after `Trying to pull $image...`"
A user asked for improving the readability for the logs:

[code]

Note the `Trying to pull localhost:5000/busybox...DEBU[0000]` which is on a normal log level followed by `Getting image source signatures`.

[2019-07-03 16:24] kamalmarhubi commented on #3179
@debarshiray oh interesting! Do you think this is something that might need to be done by runc? I really don't know anywhere near as much about terminals as I'd like to.

[2019-07-03 16:36] kamalmarhubi commented on #3179
This is one of these situations where I feel like things would be simpler if runc / podman would just `setns(2)` and `execve(2)` instead of forking and doing all this pseudoterminal nonsense.

[2019-07-03 16:46] debarshiray commented on #3179
From a distance, it does seem reasonable to avoid divergences between the different ways in which podman and runc create pseudoterminals. However, in this case, it doesn't look like the `onlcr` flag is the one causing the problem.

Maybe I need to stare harder at the `stty` output to notice any other differences? I don't know, really.

[2019-07-03 17:36] orf commented on #3464
True, Skopeo is a better use case for re-tagging and pushing, you're right.

In any case, it's quite a confusing error that's not great right off the bat. If you cannot really support podman running in a locked down container it should error with a slightly more informative message!

[2019-07-03 17:46] edsantiago opened #3492 "Regression: 1.4.4 breaks --sig-proxy as nonroot"
`--sig-proxy` seems broken in 1.4.4:
[code]
Expected behavior (as seen in 1.4.2-1.fc30):
[code]
podman-1.4.4-1.fc29 and .fc30

[2019-07-03 17:47] mheon commented on #3492
Did you test 1.4.3, by chance? Trying to determine whether this is just 1.4.4 commits or 1.4.3 as well

[2019-07-03 17:50] edsantiago commented on #3492
As a matter of fact, yes, I did, but I ignored nonroot errors because of all the hooplah about it being broken in 1.4.3 (a claim I was not actually able to confirm). Same sig-proxy failure on 1.4.3.

[2019-07-03 17:56] mheon commented on #3492
Thanks, that does narrow it down a lot.

[2019-07-03 18:34] QiWang19 opened #3494 "SendFileOverVarlink doesn't return file path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. try to use [SendFileOverVarlink](https://github.com/containers/libpod/blob/f5593d305f68409cf093ea6b66a9d1f121ec0fd6/pkg/adapter/runtime_remote.go#L492) to implement `podman-remote cp`.
My implemented based on current master(v1.4.5-dev): https://github.com

[2019-07-03 23:08] ftsell commented on #3179
On my setup the only differences are:
- `iutf8` on host, `-iutf8` in container
- `onlcr`on host, `-onlcr` in container

Now I don't know a lot about terminal magic either but to me it doesn't seem like iutf8 is a crucial capability

[2019-07-04 09:09] vrothberg opened #3498 "use golangci-lint"
Other projects (e.g., CRI-O and Buildah) either use or pass golangci-lint runs already and it has shown to improve the quality and maintainability of the code quite a bit (did not quantify).

Before a migration would be possible, the code has to be cleaned up. Below you can find a run on current master:
[code]

[2019-07-04 11:40] rhatdan commented on #3478
Could you add a PR to modify rootless.md to add this to the NFS section?

[2019-07-04 13:18] jwendell opened #3499 "rootless podman ubi8 does not use host subscription"
/kind bug

I'm using podman within a registered RHEL8 box, and it seems that subscription inside containers only work when running podman as root:

**Running as root (works fine)**
[code]

**Rootless (does not work):**
[code]

**Output of `podman version`:**
[code]

**Output of `podman info --debug`:**
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
This is RHEL8 runn

[2019-07-04 13:35] vrothberg opened #3500 "podman-inspect segfault on infra-container"
Running podman-inspect on a Pods infra-container has some issues (see below).

### `podman inspect` with useless output

[code]

### `podman inspect --type=container` with segfault
[code]

[2019-07-04 13:42] vrothberg commented on #3286
I am currently having a hard time running YAML files I find on the web, so I was looking for issues.

#3293 was adding unit tests but those are using podman to generate the YAML files. This is a bit problematic as podman is testing itself and we don't have a predefined behaviour we can test against.

I'd love to have a set of YAML files that we test against in addition to the generate-play cycle t

[2019-07-04 14:41] mheon commented on #3499
I know we've been talking about this internally. I believe it'll be fixed in 8.1, when rootless becomes officially supported.

[2019-07-04 14:46] mheon commented on #3498
We rolled this out once, but had to immediately revert because it completely hosed our CI.

I'm fine with giving it another go, but this time we need to make sure the testing images (in particular ci/prow/lint) are ready.

[2019-07-04 14:48] mheon commented on #3500
It's assuming the create artifact is there.

Unfortunately that is not a safe assumption.

[2019-07-04 16:02] mheon commented on #3500
Alright, I'm going to self-assign this.

It may be possible to completely eliminate the create artifact. It looks like most of what we use it for is stored in libpod's ContainerConfig and the OCI spec already (though not in a format we can directly use - we'd need to convert it). The few others, we can probably stick in spec annotations for...

[2019-07-04 20:22] #2303 closed

[2019-07-05 13:09] vrothberg opened #3503 "podman-remote: messages refer to `podman` instead of `podman-remote`"
Examples:
[code]

One way to approach this, could be to make the root-cobra-command build conditional. This would allow for changing the description as well.

Cc: @baude @jwhonce

[2019-07-06 10:29] rlifshay opened #3504 "Volume mount of '.' uses internal directory"
/kind bug

When using `.` as the source of a volume mount podman seems to use a podman related directory for the mount instead of either using the current directory or throwing an error.

**Steps to reproduce the issue:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-07-06 14:03] mheon commented on #3504
Hmm. Probably due to it being runc that uses the paths - I'm pretty sure it
runs in that directory so it can easily find the OCI spec.

Easy solution is to convert relative paths to absolute as early as we can,
so we get Podman's current directory.

On Sat, Jul 6, 2019, 06:30 Reuben Lifshay <notifications@github.com> wrote:

[2019-07-07 10:12] towe75 commented on #3387
I published a systemd/varlink based proof of concept to https://github.com/pascomnet/nomad-driver-podman. There is of course no release yet but you can download the binary from the linked circleci build or just compile it yourself. Featureset is very limited but it's some start, also it lacks tests so far.

[2019-07-07 10:44] rhatdan commented on #3503
@ashley-cui PTAL

[2019-07-07 10:52] rhatdan commented on #3499
I believe this is a matter of subscription-manager using files that are not world readable.

https://bugzilla.redhat.com/show_bug.cgi?id=1691544

subscription-manager version
server type: Red Hat Subscription Management
subscription management server: 2.3.17-1
subscription management rules: 5.35
subscription-manager: 1.25.11-1.el8

Will be fixed in RHEL8.1

[2019-07-07 10:52] #3499 closed

[2019-07-08 08:53] stefanb2 opened #3507 "podman incompatiblity with healthcheck from docker image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman interprets the `HEALTHCHECK` section in a Docker image incorrectly. Instead of running the expected command line `docker-healthcheck` the healthcheck tries to execute `CMD`.

**Steps to reproduce the issue:**

I'm using docker images that have been created using this `Dockerfile` snipp

[2019-07-08 09:07] stefanb2 commented on #3507
Just to make sure: the healthcheck script in the image is **not** broken.

iI I manually create the container from the given image and override the healtcheck command:

[code]
Inspection on the container:

[code]

[2019-07-08 09:29] jwakely commented on #3460
The bug is fixed in the Fedora `podman-1.4.4-1.fc30.x86_64` package:

[code]

So I suggest closing it as a dup of #3384. Sorry for the dup.

[2019-07-08 11:25] stefanb2 commented on #3507
I guess to be 100% compatible podman should also understand `['CMD-SHELL', 'some shell string']`

[2019-07-08 12:56] ashley-cui commented on #3489
@vrothberg What do you mean by 'config'?

[2019-07-08 13:05] vrothberg commented on #3489
[code]

@ashley-cui, I was referring to the runtime config (i..e, the config.json above). Maybe it's better to just print the path to the container's userdata instead of the config. In the current form, users will have a hard to figure out where the generated files by init are placed.

@mheon @rhatdan WDYT?

[2019-07-08 13:14] mheon commented on #3489
@vrothberg My original intent was to let you grab the path from `podman inspect` after using `podman init`; `podman init $ctr; podman inspect $ctr | grep OCI` for example.

[2019-07-08 13:22] mheon commented on #3507
Hm. I'm not actually sure whether this is a Buildah problem (creating the image) or a c/image problem (parsing the healthcheck out of the image). Are you building these images yourself with Podman, or pulling them down from a registry?

[2019-07-08 13:28] ashley-cui commented on #3503
The problem with this is that when we use podman on the mac (which is just a version of podman-remote), we do want it to pop up as only podman, but on using podman-remote it should pop up as podman-remote. Not really sure how to branch off these three, since the usage is in the shared main file.

[2019-07-08 13:33] vrothberg commented on #3503
@ashley-cui, that's a good point!

I think we can inject it as a string from the `Makefile`. We're doing that already for a bunch of variables (see https://github.com/containers/libpod/blob/master/Makefile#L66). Depending on the make target, we could set the name of command with "podman" being the default. What do you think?

[2019-07-08 13:38] stefanb2 commented on #3507
I guess I could have stated this clearer in my description.

These are `docker build` generated images pulled from our company internal repository via `podman pull`. No Buildah is involved.

[2019-07-08 13:42] mheon commented on #3507
Alright, it's a parsing issue, then. Thanks.

[2019-07-08 13:44] #3460 closed

[2019-07-08 13:44] mheon commented on #3460
Closed, thanks for verifying!

[2019-07-08 13:45] ashley-cui commented on #3503
@vrothberg Sounds good, I'll look into it!

[2019-07-08 14:41] rhatdan commented on #3507
Thanks @stefanb2, any chance you could open a PR to fix?

[2019-07-08 14:43] mheon commented on #3507
@rhatdan I think this is a c/image thing - we might not have proper support for this format of healthcheck there...

We might want to poke @mtrmac about this one

[2019-07-08 14:56] mtrmac commented on #3507
It’s literally a < 3 minute check to find https://github.com/containers/libpod/blob/61c000a1d3bc58bbd669626ab67a9552088f3242/libpod/healthcheck.go#L115 and see that it handles neither `NONE` nor `CMD`, so I’m not sure how the shout of c/image could ever come up.

(c/image does not deal with the config other than `json.Unmarshal` (and schema1/schema2 conversions); the `health check` text literally

[2019-07-08 14:56] baude commented on #3507
this is podman ... ill take a look

[2019-07-08 14:57] baude commented on #3507
oh and @mheon , you poked the bear!

[2019-07-08 15:30] mheon commented on #3507
Oops. My bad.

[2019-07-08 15:34] hjensas opened #3516 "Not possible to pull image using IPv6 IP address"
# Not possible to pull image using IPv6 IP address #

/kind bug

**Description**

It is not possible to pull images from an IPv6 server by it's IP address.

**Steps to reproduce the issue:**

1. podman pull [fd12:3456:789a:1::1]:8787/tripleomaster/centos-binary-ironic-api:current-tripleo
or
2. podman pull fd12:3456:789a:1::1:8787/tripleomaster/centos-binary-ironic-api:current-tripleo

**Describe t

[2019-07-08 19:07] rugk opened #3520 "Crashed on Silverblue (via toolbox) with different shell on host than in pod"
/kind bug

**Description**

Podman crashes.

**Steps to reproduce the issue:**

I am not entirely sure, but if you have:
* zsh on the host
* in the pod, I have also had ` zsh`  installed (but that does not actually matter, I had the same crash before when there was no zsh in the pod)
* `toolbox enter`

The image is all defaults, i.e. toolbox Fedora 30 image.

For more complete STRs/the whole backs

[2019-07-08 19:13] mheon commented on #3520
Eek.
@debarshiray Are you folks doing any mounts related to entrypoint shell in toolbox?

[2019-07-08 20:13] lsabi commented on #3485
**NON-OPTIMAL SOLUTION (MAY LEAD TO PROBLEMS)**
I found a dirty work around:

Go to the launchpad page

[https://launchpad.net/~projectatomic/+archive/ubuntu/ppa](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa)

Click on "Technical details about this PPA" and select your ubuntu version. You will have two lines of code: deb \<url> and deb-src \<url>

Run in the terminal
`sudo add-apt-repo

[2019-07-08 20:20] VonNaturAustreVe commented on #1189
Worked for me, thanks.

[2019-07-08 20:43] debarshiray commented on #3520
The entry-point specified in `podman create ...` is also the `toolbox(1)` command with a set of specific flags. This is done this way to let the container self-configure itself at run-time. It works by having the toolbox script bind mounted into the container.

Is that what you meant by *mounts related to entrypoint shell* ?

[2019-07-08 20:57] muayyad-alsadi commented on #3507
for what I see here

https://docs.docker.com/engine/reference/run/#healthcheck

[code]

it's using the shell, I wonder how I can tell it not to use default shel ?

please when you are done here, please ping me on podman-compose to make it speak same language

https://github.com/muayyad-alsadi/podman-compose/issues/23

[2019-07-08 21:24] rhatdan commented on #3504
@QiWang19 Can you fix this?

[2019-07-08 21:58] #3503 closed

[2019-07-09 05:31] stefanb2 opened #3523 "Creation of healthcheck service fails in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Adding `--healthcheck-command XXX` in rootless mode results in a warning instead of creation of the service & timer units.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

Service & timer should be generated

**

[2019-07-09 06:00] stefanb2 opened #3524 ""run" fails to pull image with authorization failure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Pull operation from company internal docker repository with `podman run IMAGE` fails whereas `podman pull IMAGE` works fine.

**Steps to reproduce the issue:**

1. `podman image rm docker.COMPANY.COM:5004/PATH/mongo:3.4.7`
2. `podman run docker.COMPANY.COM:5004/PATH/mongo:3.4.7`
3. `podman pu

[2019-07-09 06:08] stefanb2 commented on #3524
@muayyad-alsadi while not really fatal this does cause an annoying regression for users of [podman-compose](https://github.com/muayyad-alsadi/podman-compose), i.e. users have to manually pull images beforehand.

[2019-07-09 06:33] stefanb2 opened #3525 "Does not schedule healthcheck for images with HEALTHCHECK"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman only schedules health check when command line option `--healthcheck-command` is given but not when the docker image has a `HEALTHCHECK` configuration. This is a regression compared to Docker CLI behaviour.

**Steps to reproduce the issue:**

1. build (docker) image with `HEALTHCHECK` i

[2019-07-09 07:56] juhp commented on #3520
The crash is caused by `podman container exists fedora-toolbox-30` (as seen when running `toolbox -v enter`.

[2019-07-09 07:58] muayyad-alsadi commented on #3507
from what I see I guess podman should parse the value of `--health-cmd` the following way

- it takes a single string value after it
- if it starts with `[` and can be parsed as json list, consider it a list of arguments starting with command path
- else (either a string that does not start with `[` or can't be parsed as json, then it's a shell string to be passed as a single param to `["/bin/sh",

[2019-07-09 08:11] juhp commented on #3520
I can reproduce the `podman container exists` crash after a fresh reboot, before running any other podman command.

[2019-07-09 09:22] giuseppe commented on #3524
could it have been a temporary failure?  I am not able to reproduce it locally using a local registry using a httpasswd file

[2019-07-09 09:42] stefanb2 commented on #3524
No, this happens for any docker image from our local docker repo.

I'm not sure if this is relevant: our local docker repo is
[code]
That server is connected to our local AD, i.e. I have to use my AD account name and password to authenticate.

My authorization tokens are stored in `~/.podman-auth.json`, apparently for BASIC authentication, i.e. Base64 encoded `<user>:<password>` strings

[2019-07-09 09:53] KKoukiou opened #3526 "varlink Commit API returns a lot of garbage output which makes it really slow"
/kind bug

**Description**
Commit API prints out a lot of garbage.

**Steps to reproduce the issue:**

1. sudo varlink call unix:/run/podman/io.podman/io.podman.Commit '{"name": "8ff65ed72f78", "image_name": "test_image"}' --more

**Describe the results you received:**

There are A LOT of empty reply messages in the reply when using more which make the processing of the Commit API result unnecessa

[2019-07-09 10:37] KKoukiou commented on #3318
@baude this is still broken on 2:1.4.4-1.fc30 FYI

[2019-07-09 10:47] baude commented on #3520
ok there were recent changes there ... if you reboot and run a podman command like "create" and then the same exists command, does it fail?

[2019-07-09 10:51] vrothberg commented on #2871
My apologies for the very late reply.

The PR at containers/image is merged, and everything has been vendored into Podman. The documentation for mirroring registries can be found here: https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md

[2019-07-09 10:51] #2871 closed

[2019-07-09 10:58] giuseppe commented on #3524
could you try if https://github.com/containers/libpod/pull/3528 solve the issue you are seeing?

[2019-07-09 11:25] giuseppe commented on #3523
PR here: https://github.com/containers/libpod/pull/3529

[2019-07-09 11:37] giuseppe commented on #3520
@baude I see a `GetRuntimeNoStore()` in the call stack and then podman crashes when it tries to access the storage in `GetRunDir()`.  Looks like we need to use `GetRuntime()` if `refresh` wasn't already called

[2019-07-09 13:27] juhp commented on #3520
(No it doesn't)

[2019-07-09 13:31] mheon commented on #3520
Alright. I think we need to detect a refresh and conditionally ignore NoStore if we need one.

[2019-07-09 13:31] mheon commented on #3520
I'll take this one

[2019-07-09 13:33] #3524 closed

[2019-07-09 14:09] #3523 closed

[2019-07-09 14:15] vsoch commented on #3453
I just ran into this issue too - in my case I had installed podman a few months back, and was re-installing docker today with instructions from [here](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-docker-ce). When I hit the apparmour error I thought it was a repeat of this one https://github.com/docker/for-linux/issues/503 but my original fixes didn't work this time. I purged eve

[2019-07-09 14:59] jttrail0 opened #3533 "podman 'play kube' fails when editing libpod.conf"
When modifying the "infra_image" variable set in /usr/share/containers/libpod.conf running "podman play kube mypod.yaml" returns "Error: pod was given but no pod is specified: invalid argument"

/kind bug

**Description**

I need to modify the infra container used because the host does not have internet access.  When I return the libpod.conf back to the original value the command runs, but returns

[2019-07-09 15:26] mheon commented on #3533
Fixed upstream already - dupe of https://github.com/containers/libpod/issues/3157

[2019-07-09 15:27] mheon commented on #3533
We're shipping a 1.4.x release in 7.6.6 which should resolve this.

[2019-07-09 16:19] jwhonce commented on #3387
I think using varlink would be the best.

[2019-07-09 16:55] elmarco opened #3535 "--net=none does not create loopback device"
/kind bug

**Description**

getaddrinfo() fails to find ipv4 or ipv6 support, and result in error.

**Steps to reproduce the issue:**

Compile and run the following program:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-07-09 17:53] jttrail0 commented on #3533
thanks!

[2019-07-09 18:35] towe75 commented on #3387
Thank you for your opinions. Varlink seems to be a good fit so far. But i am sorry to say: it almost feels like having a daemon :-)

Sometimes i face some strange deadlock situations when accessing a container immediately after creating and starting it (all done in the same varlink session).
I will try to get a reproducable test to file a bug. I am pretty sure it happens when GetContainer is used

[2019-07-09 20:08] edsantiago opened #3540 "[intermittent] podman ps --size sometimes returns '0B', 'error unmounting'"
Seeing this on f29 only; in particular, a non-dnf-upgraded f29. And only intermittently:
[code]
It only seems to happen when there are two containers; I haven't yet seen it with only one.

The '0B' thing is sporadic; sometimes it displays 10.5MB.

podman-1.4.4-2.fc29.x86_64; kernel 5.1.16-200.fc29.x86_64

I cannot reproduce on f30. This leads me to suspect that there's a dependency somewhere that

[2019-07-09 20:10] rhatdan commented on #3540
Could it be kernel related?  Something to do with the MetaCopy flag?

[2019-07-09 20:12] edsantiago commented on #3540
Kernel is latest available on f29, but yes, I suppose it could be metacopy. Let me try removing that from the options.

[2019-07-09 20:19] edsantiago commented on #3540
I think that's it. With `mountopt = "nodev"` I cannot reproduce this, even with automated infinite-loop testing.

If this is the case, I think it might be prudent to package a new containers-common.fc29 _without_ the `metacopy` option, then build a new podman that `Requires:` this version.

Very nice thinking, @rhatdan. Thanks for the lead.

[2019-07-09 20:31] rhatdan commented on #3540
My concern here is that you are revealing a new bug.

@rhvgoyal WDYT?

[2019-07-09 20:32] mheon commented on #3387
Would be very interested to look at that if you can get us a reproducer - deadlocks are high priority to fix

[2019-07-09 20:38] rhvgoyal commented on #3540
@edsantiago when this happens, you can also capture kernel logs (from dmesg or journal or serial console). May be check journal and there might be some message about why mount failed.

[2019-07-09 20:46] edsantiago commented on #3540
Good idea. Log (journalctl) attached. The most prominent diagnostic seems to be:
[code]
Again, kernel is 5.1.16-200.fc29. On f30, kernel is 5.0.9-301.fc30 but latest available is 5.1.16-300. I'm going to upgrade my f30 and reboot, and see what happens.

[podman-metacopy.log](https://github.com/containers/libpod/files/3374783/podman-metacopy.log)

[2019-07-09 20:55] edsantiago commented on #3540
Well, well, well. Problem now manifests on f30 with 5.1.16-300.fc30. @rhvgoyal looks like this is headed toward your court. I'll file a kernel bz.

[2019-07-09 21:04] rhvgoyal commented on #3540
Latest kernels have added logic to do more rigorous checks to make sure no invalid configuration (overlapping layers are being used). So in this case a directory which is lowerdir is also being  used as uppperdir/workdir and that sounds like a problem in conatiner/storage.

[2019-07-09 21:04] rhvgoyal commented on #3540
Here is the upstream commit.

commit 146d62e5a5867fbf84490d82455718bfb10fe824
Author: Amir Goldstein <amir73il@gmail.com>
Date:   Thu Apr 18 17:42:08 2019 +0300

    ovl: detect overlapping layers

[2019-07-09 21:06] rhvgoyal commented on #3540
cc @nalind

Nalin, do you see how this can happen. How a lowerdir is also being used as upperdir/workdir.

[2019-07-09 21:12] edsantiago commented on #3540
@rhvgoyal thanks; you've saved me the effort of bisecting and filing a bz. I will stand back now and let (plural) you narrow down the root cause. And, reopening in case it's something fixable in podman.

[2019-07-09 21:18] rhvgoyal commented on #3540
cc @amir73il

[2019-07-09 22:08] jwflory opened #3541 "Run rootless containers on SSSD system == "cannot specify gid= mount options for unmapped gid""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to run a rootless container on a RHEL 7.5 workstation using SSSD for authentication. This happens when I run any container on my workstation. Namespace mappings exist for my login name in `/etc/subuid` and `/etc/subgid`.

This is similar to #1147.

**Steps to reproduce the issue:*

[2019-07-09 22:16] mheon commented on #3541
`ERRO[0001] cannot specify gid= mount options for unmapped gid in rootless containers` is coming out of `runc` by the look of things. There aren't any group settings listed, though, and no warnings about no GIDs being available in /etc/subgid.

@giuseppe Mind taking a look?

[2019-07-10 02:22] Gigadoc2 opened #3542 "Add option to not create own cgroups"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When using podman with a single-host setup to run "traditional" (not "cloud-native") services, I would like for podman to not create a new slice for the container.
The current behaviour means that even while using the systemd cgroup-manager backend, a command like `systemctl status contai

[2019-07-10 02:52] mheon commented on #3542
This isn't the first time I've heard this one mentioned.

We'd need a way to tell the OCI runtime not to create CGroups - there's no way of doing that in the spec currently. I believe `runc` has such functionality, but it's internal only, for integration testing - not something we can instruct it to do. If it were to expose that functionality for us, it shouldn't be particularly difficult for us t

[2019-07-10 03:16] sluongng commented on #3485
I think being able to support latest releases (not just LTS) version is quite important to make podman widely adopted in favor of the traditional docker CLI.

Ubuntu has a twice per year release cycle and it should not take this long / this difficult to get support for new version as the library are almost of not all identically supported moving from 18.04 -> 18.10 -> 19.04. And as report above, t

[2019-07-10 05:12] stefanb2 commented on #3525
I think I now understand the root cause for this: if a docker image doesn't provide a `HEALTHCHECK` option (interval, retries, timeout, start_period) then podman *does not* apply the standard default values like Docker does.

I.e. with an image created from the following Dockerfile snippet
[code]
podman would schedule a healthcheck.

[2019-07-10 06:08] durandom commented on #1843
@jwhonce is there another way to start a podman service other than boot2podman? I've tried boot2podman but failed setting up a link:

[code]

[2019-07-10 06:43] stefanb2 commented on #3525
Furthermore: podman must *disable* the healthcheck if image has been built with `HEALTHCHECK NONE`. It should not create a healthcheck configuration with command list `["NONE"]`.

[2019-07-10 07:08] giuseppe commented on #3541
I remember that being an issue in runc.  What version of runc are you using?  Could you try to update it?

[2019-07-10 08:44] giuseppe commented on #3542
as @mheon said we are limited though as we cannot configure it, but it should not be an issue at all with containers created through systemd as some of the limits can be configured in the unit file itself.

We will need to teach Podman to do the same thing with conmon and not create any cgroup.

I've exposed a new option for crun (`--cgroup-manager=disabled`) so we can start playing with it withou

[2019-07-10 11:26] davidlt commented on #2553
I have the same issue on Fedora 31 with `podman-1.4.4-1.fc30.x86_64`. There are no references of this container in `containers.json` so not sure how to clean it up manually.

[2019-07-10 11:48] edsantiago commented on #2553
I saw this also yesterday; podman-1.4.4-3.fc30 as nonroot; but cannot reproduce it. Virt is still up, with one "container name already in use" stuck. Can provide login access on request.

[2019-07-10 11:56] saschagrunert commented on #2791
Do you think it would be a good approach to separate the shared codebase between podman and CRI-O  into a dedicated repository (library only)?

[2019-07-10 12:19] mheon commented on #2553
Try a 'podman rm --storage'.

On Wed, Jul 10, 2019, 07:48 Ed Santiago <notifications@github.com> wrote:

[2019-07-10 12:22] edsantiago commented on #2553
That did it. Since this seems to be a common problem, should the podman-run message perhaps be amended to include this hint?
[code]

[2019-07-10 12:43] haircommander commented on #2791
@saschagrunert yeah I think separating libpod and other backend libraries into its own repo with its own visioning system is going to be important

[2019-07-10 12:53] saschagrunert commented on #2791
Cool, so we could start with the low level internals of libpod and CRI-O, like `imageService` and `runtimeService`, which directly interact with `containers/{storage,image}`. So we could built-up a clean middle-layer API. WDYT?

[2019-07-10 13:12] mheon commented on #2553
The only issue with recommending it unconditionally is that it will quite happily destroy containers from Buildah/CRI-O as well.

The overall recommendation works something like this: Check CRI-O and Buildah to see if it's a container running there. If it is, we recommend deleting them through `crictl` and `buildah`. If it's not there, it's probably an orphan container - hit it with `--storage`.

[2019-07-10 13:17] cevich opened #3543 "CI Fails in 'release' task"
/kind bug

**Description**

After testing is complete and successful, a new 'release' task runs to gather up cached binary zip files, and publish this to a public location.  When no cached binary releases are found, this process fails by original-design.

**Steps to reproduce the issue:**

1. No additional steps required.

**Describe the results you received:**

[code]

**Describe the results you

[2019-07-10 13:18] cevich commented on #3543
/me working on it

[2019-07-10 13:30] saschagrunert opened #3544 "Internal default CNI plugin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The idea is to have an in-memory CNI implementation which defaults to a bridged-interface to avoid the necessary runtime dependency to CNI plugins. This would make podman per-default work from a networking perspective, without pushing around network configuration files. It should still be

[2019-07-10 13:33] mheon commented on #3544
Would the goal here be to reimplement the CNI plugins? Or to vendor some of the code into Podman?

My initial reaction is to be a bit wary of potential binary bloat - we're already touching 60mb for Podman, and the CNI plugins are a pretty hefty 30-ish MB if I recall correctly.

[2019-07-10 13:34] Gigadoc2 commented on #3542
I am now wondering what happens when running rootless podman.

When doing so, the container processes do not seem to be put into different cgroups. Are runc or crun not used in this case (and then, what is used)?

[2019-07-10 13:49] saschagrunert commented on #3544
The latter, we could get inspired by the current bridge implementation of containernetworking/plugins: https://github.com/containernetworking/plugins/blob/master/plugins/main/bridge/bridge.go

Hm, this could be a point, but the bridge plugin is around 4MB and I think it would be a valuable addition to people who want to use podman as simple drop-in replacement to docker. If we don't have a clear p

[2019-07-10 14:32] mheon commented on #3542
They are both options for rootless, `runc` being default. They detect the rootless condition, and have special handling (don't create cgroups) that is is not exposed otherwise (well, it is now in `crun` via flag - thanks @giuseppe)

[2019-07-10 14:50] #3317 closed

[2019-07-10 14:50] #3318 closed

[2019-07-10 14:50] #3526 closed

[2019-07-10 15:40] matpen opened #3547 ""sudo: unable to resolve host" when running sudo in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `sudo` in a container within a pod, a warning similar to the following is emitted on console:
[code]
This does not happen when running the same image outside of a pod, and seems to be related to the `/etc/hosts` file (see below).

**Steps to reproduce the issue:**

1. Build an im

[2019-07-10 15:49] mheon commented on #3547
Interesting... We should be sharing UTS and network namespaces, so they should share hostname and /etc/hosts across all containers in the pod.

Is your pod, by chance, named `mrsdalloway` (I'm assuming that's how we sourced the pod's hostname).

[2019-07-10 16:06] matpen commented on #3547
Nope, no idea where the name comes from: seems like randomly generated to me. However, I just tested and if I use a different pod, the IP changes, but the name is the same.
[code]

[2019-07-10 18:09] edsantiago opened #3550 "podman cp, with volumes + tarfile + exact name match, is a NOP"
Looks like an obscrure corner case of #3059
[code]
Now create a tarball:
[code]
Then create a container, mounting the volume _using the same name as the subdirectory in the tarball_. `podman cp` of the tarball into the container will silently fail:
[code]
`cp` into the volume subdirectory works:
[code]
podman-1.4.4-3.fc30

[2019-07-10 18:26] cgwalters commented on #3540
Ah...I started hitting this problem a lot recently, and it being a newer kernel explains a lot.

[2019-07-10 21:31] cgwalters commented on #3540
For anyone else like me who would currently choose a functioning container stack and the possibility of (uncharacterized?) undefined behavior over random `EBUSY` errors during builds:

The upstream patch [mentioned above](https://github.com/containers/libpod/issues/3540#issuecomment-509808287) was [backported to the Linux stable branch](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.

[2019-07-10 22:58] jwflory commented on #3541
@giuseppe Updating the `runc` to latest upstream resolved the issue. I can now run rootless containers on my workstation. Thanks!

Closing. :clapper:

[2019-07-10 22:58] #3541 closed

[2019-07-11 01:14] edsantiago commented on #3540
@cgwalters a simpler safer workaround might be to remove `,metacopy=on` from `mountopt` in `/etc/containers/storage.conf`. AIUI that option is only needed for some advanced rootless cases.

[2019-07-11 02:37] space88man opened #3553 "Flag --dns does not set /etc/resolv.conf when using another containers network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am creating a container with `--dns <MYDNS1> -- dns <MYDNS2> --network container:another`.

`/etc/resolv.conf` is written with `1.1.1.1` and `1.0.0.1`, instead of the expected `<MYDNS1>`, `<MYDNS2>`

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

3.

**Describe the results you rec

[2019-07-11 02:48] mheon commented on #3553
I'm assuming you're running rootless?

[2019-07-11 02:50] mheon commented on #3553
Ahhh - I think I know what we might be seeing here.

`--network container:` forces the use of the other container's resolv.conf, and AFAIK overrides `--dns` (this should probably generate a warning or error, though - it's not really clear if that's actually what happened, hence this bug).

I'd make some changes to resolv.conf in one container and see if they're reflected in the other container. Th

[2019-07-11 03:00] space88man commented on #3553
Original test: leading pause container has no usable network/DNS; command line --dns is ignored  for dependent container  and 1.1.1.1 and 1.0.0.1 are injected.

If I create the pause container with a working /etc/resolv.conf; the command line --dns is ignored by the DNS from the leading container is injected.

Is this the intended behaviour?

[2019-07-11 03:00] mheon commented on #3535
This looks rootless. Can you give additional details on your setup? How are you invoking Podman?

[2019-07-11 03:04] mheon commented on #3553
This sounds intended, though the way we're handling `--dns` for the second container is definitely not correct. We either need to refuse to create the container on the grounds that `--dns` and `--net=container:` are incompatible, or we need to respect the DNS flag for `--net=container:`.

[2019-07-11 04:24] space88man commented on #3553
If the behaviour for `--dns` for network-dependent containers is not yet cast in stone, I vote for the latter :smile:!

[2019-07-11 07:02] elmarco commented on #3535
podman run -it --security-opt seccomp=unconfined --net=none fedora

[2019-07-11 11:58] wrabcak opened #3555 "podman CI should test udica functionality"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Udica is a tool for generating SELinux security profiles for containers, based on inspecting container.
It looks like in podman version 1.4+ json structure after inspecting container has changed, which made udica useless.
I fixed udica today:
https://github.com/containers/udica/commit/47c4

[2019-07-11 12:11] rhatdan commented on #3553
What does Docker do?

[2019-07-11 12:12] rhatdan commented on #3553
What do we do with Pods?

[2019-07-11 12:34] rhatdan commented on #3555
@cevich PTAL

[2019-07-11 13:06] mheon commented on #3535
Hmm. It seems like you're expecting to find a loopback in the container
when there is none. That means we might need to use CNI to configure even
net=none containers which is messy...

On Thu, Jul 11, 2019, 03:02 Marc-Andre Lureau <notifications@github.com>
wrote:

[2019-07-11 13:17] space88man commented on #3553
Docker follows @mheon first option:
[code]

[2019-07-11 13:45] marcov opened #3556 "rm of a container in a pod using a volume breaks podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Creating a container in a pod, assigning a volume to it and then trying to remove it results in:
[code]

**Steps to reproduce the issue:**

1. `podman pod create --name foopod`

2. `podman volume create foovolume`

3. `podman create --volume foovolume:/foovolume --pod foopod alpine sleep 1234