[2019-08-08 22:20] egmontkob commented on #3179
Looks like the stty settings aren't autoforwarded from `toolbox`'s (or `podman`'s) inside to its outside.

E.g. from `/dev/pts/2` (as reported by the `tty` command) execute `toolbox`, and then it becomes `/dev/pts/3`. The output of `stty < /dev/pts/2` does not include `-onlcr`, while the output of `stty < /dev/pts/3` does. Manually "fixing" it from another terminal (i.e. `stty -onlcr < /dev/pts/2)

[2019-08-08 22:29] TomSweeneyRedHat commented on #3464
@rhatdan I'm not 100% sure what you mean by "podman is used to launch command".  If I use an installed version of Podman, then `podman info` as a root or non-root user works just fine.  If I add `--privileged` to the command in this issue, then I see the output as expected from info, but I do get a soft error that I didn't expect.

[code]

I'm not sure what's up with the system event, that's a new

[2019-08-08 22:29] mheon commented on #3759
Alright, this bit promises to be complicated.

We wipe container state very early in the refresh process, because we can't retrieve containers otherwise - the state is not sane because of the restart, so all of our validation fails. The runtime never touches a state with the CNI result available after a reboot - it's gone by the time we have the ability to actually get containers.

We can change t

[2019-08-08 22:31] mheon commented on #3759
Hmmm. If the network namespace path isn't strictly mandatory - I think we can probably call OCICNI's `TeardownPod` without preserving the old CNI result.

[2019-08-08 22:33] TomSweeneyRedHat commented on #3464
In regards to the soft error prior, there doesn't appear to be a `/run/systemd/journal` file being created in the container and I think should be.  @mheon do you know if this is a current systemd woe?

[2019-08-08 22:44] #3218 closed

[2019-08-09 08:03] abitrolly commented on #1915
@rhatdan just fork https://github.com/abitrolly/podman under the name like https://github.com/libpod/snapcraft and I will be able to submit PRs so that we can setup CI.

[2019-08-09 08:09] vrothberg commented on #3761
That's a sharp observation and sounds plausible to me. Some layers were already present and hence skipped during pull which _may be_ and indicator for an older image already being present. Seeing the full inspect output would be helpful.

Let's follow @mtrmac's theory a bit. @dustymabe, @miabbott, can you please retry by first deleting all images (or all images listed in the `RepoDigests` array in

[2019-08-09 10:30] egmontkob commented on #3179
I was probably wrong saying that the stty settings should be autoforwarded. Many of them are not idempotent (e.g. NL -> CR NL, or ^V as input escaper ("lnext")) and you don't want them to be applied twice. What you need instead is the outer terminal not to do any special processing.

This apparently should be done using `cfmakeraw()` which includes stuff such as `stty -opost` to disable processing

[2019-08-09 10:49] egmontkob commented on #3179
This links back to the original investigation around `-onlcr`.

So it seems we have two problems, and accordingly, the following two commands fix the situation temporarily (both the tmux split case, as well as the staircase problem outside tmux):

- `stty -opost < /dev/pts/2` on the outer terminal (execute it after attaching to the container)
- `stty onlcr` on the inner terminal

and similarly, fo

[2019-08-09 10:54] egmontkob commented on #3179
Note: `-opost` does a couple of things including `-onlcr`. `cfmakeraw()` does a couple of things including `-opost`. The proper fix should do `cfmakeraw()` on the outer terminal.

[2019-08-09 11:59] giuseppe commented on #3684
fuse-overlayfs will still have to deal with the different UIDs/GIDs available in the user namespace, so I am afraid it will fail in the same way.

[2019-08-09 13:24] giuseppe commented on #2972
PR here: https://github.com/containers/buildah/pull/1775

[2019-08-09 13:46] miabbott commented on #3761
I went overboard and nuked all my containers + images for you @vrothberg :)

Looks like @mtrmac may be on to something...

[code]

[2019-08-09 13:48] vrothberg commented on #3761
Thanks @miabbott!

[2019-08-09 14:27] rhatdan commented on #1915
Could you open a PR to add this, then we can get it merged and let you fix it.  :^)

[2019-08-09 14:29] lsm5 commented on #3763
@h-vetinari what version of ubuntu btw?

[2019-08-09 14:36] haircommander commented on #1915
I just did it @rhatdan @abitrolly

[2019-08-09 14:37] dustymabe commented on #3761
Here ya go:
<details>

[code]

</details>

[2019-08-09 14:52] dustymabe commented on #3761
So you're saying that if I had previously pulled a tagged container from a registry (any registry) and then subsequently pulled either an updated container (i.e. the tag had been updated) or pulled from a different registry then the original digest could have stayed?

I nuked all images on my system and then:

[code]

So that is the right checksum (the one I would expect).

So here is what I think

[2019-08-09 14:54] marcov opened #3773 "podman commit fails with btrfs driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman commit` with storage driver btrfs fails.

**Steps to reproduce the issue:**

1. sudo podman run -it alpine uname -a

2. sudo podman commit $(sudo podman ps -q -l) myimage

**Describe the results you received:**
[code]

**Output of `podman version`:**
[code]

[2019-08-09 14:56] vrothberg commented on #3773
@marcov looks like the `/etc/containers/storage.conf` has the `mountopt` set. Can you check that?

[2019-08-09 14:57] marcov commented on #3773
@vrothberg mountopt is not specified. Is it something I should add then?

[2019-08-09 15:17] egmontkob commented on #3179
On an absolutely irrelevant note: If the character encoding is UTF-8 then `stty iutf8` should be set inside podman, too.

[2019-08-09 15:18] vrothberg commented on #3773
I wouldn't change that. Are you interested in chasing this bug?

[2019-08-09 15:22] rhatdan commented on #3773
This is the "ro" option, that I added to fsdiff.go.

[2019-08-09 15:22] dustymabe commented on #3761
Looks like I can still reproduce with the latest `coreos-assembler` image:

[code]

full `podman inspect`:

<details>

[code]

</details>

full `skopeo inspect` output:

<details>

[code]

</details>

[2019-08-09 15:27] rhatdan commented on #3773
Opened https://github.com/containers/storage/pull/416 to fix this, I believe, please try it out.

[2019-08-09 15:27] vrothberg commented on #3773
That was quick, thanks Dan!

[2019-08-09 15:31] rhatdan commented on #3773
Usually when I introduce a bug, i like to squash it as fast as possible.

[2019-08-09 16:15] vrothberg commented on #3761
I uploaded a reproducer to my quay repository:
[code]

Note that I only managed to reproduce it with a schema 1 image; altering the `name` was sufficient.

[2019-08-09 16:17] vrothberg commented on #3761
So, we're always overwriting the digest.

[2019-08-09 16:41] vrothberg commented on #3761
Retried again with a clean storage where the initial digest is not overwritten.

[2019-08-09 18:09] #3426 closed

[2019-08-09 18:29] adrianreber opened #3774 "How to handle checkpointing when started with '--rm'"
When a container is checkpointed without `--export` all the checkpoint information about that container is stored in the `userdata/` directory.

If a container is started with `--rm` this directory ('userdata') - and everything else - is removed once the container is stopped or checkpointed. Looking into how to best handle this, it seems that the information what to do with the container on exit i

[2019-08-09 18:41] mheon commented on #3774
Once Conmon is launched, we can't configure it further - so I don't think we can avoid it removing the container. Having the two conflict seems like the only option.

[2019-08-09 19:06] rhatdan commented on #3774
Yes conflict the args.

[2019-08-09 19:09] #3730 closed

[2019-08-10 03:00] mheon opened #3778 "Need to update Rootless Shortcomings doc"
We've gone a long way to remedying some of what's mentioned in there - `/etc/subuid` and `/etc/subgid` can be experimentally worked around, CGroups V2 is supported via `crun`, etc.

[2019-08-10 07:02] marcov commented on #3773
Thank you @rhatdan, @vrothberg , confirmed to work here too.

[2019-08-10 07:02] #3773 closed

[2019-08-10 09:53] rhatdan commented on #3111
@haircommander Any progress?

[2019-08-10 09:55] rhatdan commented on #3109
@TomSweeneyRedHat Can you finish this up or close it if it is no longer needed?

[2019-08-10 09:57] rhatdan commented on #3107
How well does rust interact with golang?  Is there a rust library for varlink?

[2019-08-10 09:57] rhatdan commented on #3107
@giuseppe WDYT? @mtrmac ?

[2019-08-10 10:00] rhatdan commented on #2726
@QiWang19 I don't understand, are you saying this can not be done?

[2019-08-10 10:01] rhatdan commented on #1136
@mheon Since this did not make the 1.5 release.  Could you make this feature work in the next week or so, or should we assign it to someone else?

[2019-08-10 10:02] rhatdan commented on #713
I believe @nalind is also working on this?

[2019-08-10 10:17] h-vetinari commented on #3763
@lsm5
Ubuntu 18.04

[2019-08-10 12:11] vrothberg commented on #3761
@mtrmac, @nalind, we are recording the digests already in the image but are not exposing them in inspect here. So this part seems straight forward to fix. However, I am not sure how we should treat the main Digest. It is [set once](https://github.com/containers/storage/blob/master/images.go#L37) and not being updated afterwards. Shall we change this behaviour? Once the RepoDigests are fixed, this

[2019-08-10 12:44] rhatdan commented on #3459
@paravz We released podman 1.5 yesterday with this fix, It should be available soon in Fedora soon

[2019-08-10 12:59] mheon commented on #1136
My target here is 1.5.1 or .2.

On Sat, Aug 10, 2019, 06:01 Daniel J Walsh <notifications@github.com> wrote:

[2019-08-10 14:05] debarshiray commented on #3179
To summarize @egmontkob 's diagnosis, we need:
*  `stty --file /path/to/outer/terminal/device -opost` on the outer terminal to remove OPOST
*  `stty --file /path/to/inner/terminal/device onlcr` on the inner terminal to add ONLCR

I see that the `SetRaw` function in `containerd/console` does restore the `OPOST` flag, so I believe that's where one of those two issues comes from. A bit of Git surgery

[2019-08-10 19:25] mtrmac commented on #3107
I mean, is there even any ambition at all to make libpod, or especially conmon, a library to be called by arbitrary third-party projects (with the API commitments it implies)? That’s the first question to be discussed (and API commitments have _significant_ impact on development). Only later we would possibly discuss Rust being possible / desirable / something we want to maintain as opposed to rel

[2019-08-10 21:10] mtrmac commented on #3761
No; _names_ of the images don’t matter in the `RepoDigests` hypothesis.

Yes; images with the same _content_ (but a different representation, e.g. differently-compressed or different manifest) would exhibit this behavior

_This_. My best guess at what has happened is that you have somehow pulled (or locally built) an image from/for the `quay.io` `registry.fp.org` registry, using schema2, and that

[2019-08-10 21:20] mtrmac commented on #3761
Interesting; I can’t reproduce it (with `:latest` now pointing at `@sha256:4c882fb6bf63d9779c4025c711302803f9a85920ed5aea53df9b7833a52e89e7`, and actually pull of `quay.io/coreos-assembler/coreos-assembler@sha256:7344b2012da0733f6faa9981d3144df0f1017ec1bab7943911910ddd20f5d9ed` fails with `manifest unknown` for me.

[2019-08-10 21:27] mtrmac commented on #3761
I don’t think we are; or rather, we do record digests via
[code]
but that does not include the repository name, so again `RepoDigests` would have to guess about the association.

IIRC the single `Digest` field is already obsoleted by the `Digests` array.

---

I think we want to
- Teach podman and CRI-O `RepoDigests` to read values from `Names` (probably using repo@digest values as is, and keeping

[2019-08-10 22:31] EricHripko opened #3779 "podman image prune fails on untagged images used by containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman` fails to prune images if it encounters an untagged image used by a container.

**Steps to reproduce the issue:**

1. Pull an image: `podman pull docker.io/library/ubuntu`

2. Create a container out of it: `podman run docker.io/library/ubuntu`

3. Untag the image: `podman rmi docker.io

[2019-08-11 04:47] paravz commented on #3459
podman from https://github.com/containers/libpod/pull/3731/files fixes this issue indeed. Thank you!

[2019-08-11 04:47] #3459 closed

[2019-08-11 07:04] computator opened #3780 "--tmpfs defaults are not compatible with docker"
/kind bug

The `--tmpfs` option (and probably `--mount` too) defaults to 64MB of space, vs docker's default size is unlimited according to [this documentation](https://docs.docker.com/storage/tmpfs/#tmpfs-options) of `tmpfs-size`.

In addition, Docker's `--tmpfs` doesn't allow any options, but podman's has several. I'm not too concerned about this one though since the tmpfs syntax for podman is a

[2019-08-11 08:56] EricHripko commented on #3779
This looks like a logic error in [image.GetPruneImages](https://github.com/containers/libpod/blob/master/libpod/image/prune.go#L20). `podman` should ignore any image that has a container while `all` flag should only control the `Names` condition. So it would:
- Delete unused images with no tag when `all=false`
- Delete all unused images when `all=true`

[2019-08-11 09:14] vrothberg opened #3781 "cgroupsv2: rootless: libpod.conf inherit runtimes from root configuration"
I just enabled cgroupsv2 on my machine and set crun as the runtime in `/usr/share/containers/libpod.conf`. After removing the rootless one in `~/.config/containers/`, I expected it to inherit the runtimes setting from the root config. This would be needed for clean installation of Fedora 31 where cgroupsv2 will be enabled by default.

[2019-08-11 09:36] fiws commented on #3706
Alright now (without `-u`) I'm getting the classic `go: github.com/Sirupsen/logrus@v1.4.2: parsing go.mod: unexpected module path "github.com/sirupsen/logrus"`

[2019-08-11 11:01] EricHripko commented on #3779
Nevermind - looks like in normal flow `podman rmi` doesn't let you untag an image that has a container. I somehow got my podman storage in a weird state where I had a dangling stopped container.

[2019-08-11 11:01] #3779 closed

[2019-08-11 11:17] vrothberg commented on #3706
Awesome, thanks for the update, @fiws!

[2019-08-11 14:00] #2972 closed

[2019-08-11 17:16] st1971 opened #3784 "io.podman.Ps varlink call slow"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Calling the io.podman.Ps API over varlink is excessively slow, taking approximately 30 seconds, the same behavior is exhibited with both rooted and rootless setup. Also with the all flag set to true would expect to see containers in a stopped state these are missing.
**Steps to reproduce the

[2019-08-11 20:17] baude commented on #3784
how many containers are in the store?

[2019-08-11 20:50] mheon commented on #3784
@baude Didn't we resolve an issue earlier where `--size` was unconditionally true for `ps` over Varlink? That sounds like a likely culprit

[2019-08-11 21:56] st1971 commented on #3784
@baude Currently there are only 2 container in the store

@mheon If I add ```--size``` to ```ps``` then it takes the same amount of time to execute as it does via the varlink interface, also ```--log-level=debug``` output matches.  unfortunately there is no size option in PsOpts in v1.4.4, will look out for a new release.

[2019-08-11 22:52] mikeroyal commented on #1915
Hi @lsm5, I can help you guys out. :+1:

[2019-08-11 23:53] baude commented on #3784
still, 30 seconds even with size is suggesting something else.  and the reporter is saying rooted and rootless. could be a lot of things at this point.

[2019-08-12 07:24] st1971 commented on #3784
My apologies, i have re-timed rooted this morning and there is no problem with rooted. Don't know how i managed to screw up the timing of that quite so much.  So this is only effecting a rootless setup.

Timings for the rootless calls
[code]

[2019-08-12 07:37] giuseppe commented on #3107
I agree with @mtrmac.  I'd prefer we don't commit on a libpod API yet (an exception could be CRI-O).

AFAIK, it is possible to use varlink from Rust, and I think varlink is the way to interact with Podman we can support and suggest to use.

[2019-08-12 08:10] planetf1 commented on #1843
Do you have a link to the use of 'brew cask' ?

[2019-08-12 10:45] giuseppe commented on #3781
PR here: https://github.com/containers/libpod/pull/3787

[2019-08-12 11:20] stefanb2 opened #3788 "Set User-Agent string for HTTP requests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

(not sure: you could argue this is a regression...)

**Description**

podman does not set user agent string on HTTP requests. Therefore the default will be used:

[code]

**Steps to reproduce the issue:**

1. podman pull host/path:tag
2. check the HTTP server log on the docker registry

**Additional infor

[2019-08-12 11:34] dinamic commented on #1843
@planetf1 `brew cast install podman`

[2019-08-12 12:37] edsantiago opened #3790 "rawhide: rootless: podman run broken: slirp4netns failed"
On latest & greatest rawhide:
[code]
Debug log attached, but there is no useful trace of the actual slirp4netns invocation. There are cgroup warnings at the end.

Side note: I also saw, on the very first rootless run:
[code]
No idea if this is related.
[code]
[podman-slirp4netns-failed.log](https://github.com/containers/libpod/files/3492353/podman-slirp4netns-failed.log)

[2019-08-12 12:44] ashley-cui commented on #1843
@planetf1 @dinamic [brew cask](https://github.com/Homebrew/homebrew-cask) install podman

[2019-08-12 14:04] mheon commented on #3790
The warn line is fine - we're shipping a config that includes `crun` but it's not a hard dependency of the package, so if it's not available, we throw a warning in the logs and don't allow using it.

[2019-08-12 14:04] mheon commented on #3790
@giuseppe PTAL

[2019-08-12 14:06] #3781 closed

[2019-08-12 14:38] baude commented on #1136
make a card!

[2019-08-12 15:10] planetf1 commented on #1843
Thanks. Installed ok. Next step to experiment....

[2019-08-12 17:02] #3788 closed

[2019-08-12 17:09] edsantiago commented on #3790
Still failing with latest [1.5.1-0.8.dev.gitec93c9d.fc31 build](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/5670/pipeline/) (click `/tmp/package-test.sh 12m11s` and scroll to line 470) (yes, I know the line is green and should be red. That seems to have started happening last week. I'm hoping it'l

[2019-08-12 17:58] rhatdan commented on #3778
@TomSweeneyRedHat PTAL

[2019-08-12 18:25] rhatdan commented on #3761
@mtrmac Are you going to make a PR to do this in containers/image?

[2019-08-12 18:32] rhatdan commented on #1843
@ashley-cui Do we have update information on this in install.md?

[2019-08-12 18:47] ashley-cui commented on #1843
@rhatdan Doing that now

[2019-08-12 18:58] rhatdan commented on #3790
@giuseppe PTAL

[2019-08-12 19:09] #3749 closed

[2019-08-12 19:15] lsm5 commented on #3763
@h-vetinari can you retry now with the latest podman?

[2019-08-12 19:16] rhatdan commented on #3763
I am closing this because we believe it is fixed.  Reopen if I am mistaken.

[2019-08-12 19:16] #3763 closed

[2019-08-12 19:17] baude commented on #3784
With 11 running containers, I did a brief test and the results we subsecond.

[code]

[2019-08-12 19:21] st1971 commented on #3784
@baude what version are you running 1.4.4 or 1.5.0?

[2019-08-12 19:22] rhatdan commented on #3780
@ashley-cui PTAL, just change the --tmpfs to not be confined to 64k.

[2019-08-12 19:22] rhatdan commented on #3780
Or @computator if you want to take a stab at fixing it.  PRs welcome...

[2019-08-12 19:26] baude commented on #3784
1.5 (upstream master)

[2019-08-12 19:31] rhatdan commented on #1915
Thanks @mikeroyal

[2019-08-12 20:00] edsantiago opened #3795 "regression: podman run: exit status 0 after 'rm --force`"
[code]
podman-1.5.0-2.fc30.x86_64

[2019-08-12 20:10] rhatdan commented on #3795
Why should it be 137?  Didn't `podman rm --force foo` work?

[2019-08-12 20:14] mheon commented on #3795
When trying to debug this, I found that events is acting properly strange.
`podman events --since 1h --until 1s` on 1.4.4 exits instantly, shows me the events in question. In 1.5.0, it seems to hang.

[2019-08-12 20:14] edsantiago commented on #3795
`podman rm` worked. The exit status pointed to by the arrow is that of the container itself, which was killed, therefore its exit status should be 137. Another way to say this:

In window 1:
[code]
In window 2:
[code]
Then, after the 10-second wait, go back to window 1:
[code]
Sorry for not being clear.

[2019-08-12 20:15] edsantiago commented on #3795
Side note: `podman kill foo` and `podman stop foo` both result in a container exit status of 137, as expected. It's only `rm -f` that is weird.

[2019-08-12 20:18] edsantiago commented on #3795
@mheon I cannot reproduce that behavior. I tried with a running container, without; also with running container and running `podman rm -f foo` during the 10-second wait. The `podman events` command in question always dumps a bunch of lines, then exits 0.

[2019-08-12 20:19] mheon commented on #3795
It's journald. We're scanning every single journal entry on the system. It's taking 30 seconds to complete on my desktop.

[2019-08-12 20:21] mheon commented on #3795
@baude We're probably going to need a revert of https://github.com/containers/libpod/pull/3745 - it nuked performance of events on systems with long journals.

[2019-08-12 20:22] rhatdan commented on #3795
This seems like something we should fix before releasing to Fedora.

[2019-08-12 20:23] mheon commented on #3795
I think I got the core issue here - problem was that we were testing with file backend and not journald. Might want to look into that later.

The events performance thing is separate, and probably does require a revert.

[2019-08-12 20:27] edsantiago commented on #3795
Oh, *yuk*:
[code]
Without `--rm`, works as expected (1). Without `sh -c`, also works as expected.

This may merit a separate issue but I've got a gut sense that they're related. LMK.

[2019-08-12 20:31] mheon commented on #3795
Same issue. Fix in progress.

[2019-08-12 20:34] mheon commented on #3795
#3797 to fix both issues

[2019-08-12 20:46] edsantiago opened #3798 "[ultra-low prio] behavior change: MergedDir no longer exists by default"
This is very probably not a problem report; but it is a behavior change from 1.4, and since there's a user-visible `podman inspect` field involved, I think it's worth filing for posterity:

In short: the `/var/lib/containers/.../merged` directory is no longer created by default; it only exists during the scope of `podman mount`.
[code]
It is created, with proper content, upon running `podman mount

[2019-08-12 21:04] edsantiago commented on #3359
Issue still present in 1.5.0.

What should we do? I don't know. I don't especially like it; I think `podman history` should give accurate and consistent results. But it's been almost two months and nobody else is complaining or even monitoring this issue.

[2019-08-12 21:06] edsantiago commented on #3302
Issue still present in podman-1.5.0-2.fc30.x86_64 with, presumably, new conmon and everything.

[2019-08-12 21:53] alitvak69 commented on #3485
@lsm5 Needed to use podman 1.5.0-2 from CBS repo but the build apparently failed.   Using it to verify fix in another ticket. Could you please take a look?

[2019-08-12 23:09] phlogistonjohn opened #3799 "Podman may be leaking storage files after cleanup (rootless)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to fully clean up the container storage of podman (rootless) using podman commands. In an effort to clean my homedir I tried to use podman commands to "clean up after itself" but a number of fairly large-ish dirs are left behind.

Willing to be told this is pebcak but and that I missed

[2019-08-12 23:12] mheon commented on #3799
Our first recommendation in these cases is usually to avoid using VFS, and instead use `fuse-overlayfs`. This definitely does look like a bug, though... Do you have any lingering images in `podman images`? Any lingering containers in `podman ps -a`?

[2019-08-13 01:33] #3795 closed

[2019-08-13 06:11] h-vetinari commented on #3763
Works, thanks!

[2019-08-13 10:01] giuseppe commented on #3790
slirp4netns cannot open `/dev/net/tun`.  The file has the wrong permissions:

[code]

If I change it to 666 then it works fine.

It looks like a regression in udev.  Could you file a bug?

[2019-08-13 10:48] phlogistonjohn commented on #3799
No, nothing lingering there:
[code]

Thanks for the hint about which backend is preferred. IIRC a while back I was running into errors and set vfs to work around those errors. Unfortunately, I no longer remember the exact error and didn't record it. Since my plan is to eventually move my container storage to another phsyical disk I will try fuse-overlayfs when I do so, but after I've tried to gath

[2019-08-13 11:46] vrothberg commented on #3489
@rhatdan, I don't see it

[2019-08-13 11:55] vrothberg opened #3801 "cgroupsv2: generate pod: error creating cgroup"
Running on latest master with cgroupsv2 and crun on Fedora 30:

[code]

@giuseppe PTAL

[2019-08-13 12:43] rhatdan commented on #3790
Yes this looks like  a bug.

[2019-08-13 12:45] rhatdan commented on #3790
https://bugzilla.redhat.com/show_bug.cgi?id=1740664

[2019-08-13 12:48] edsantiago commented on #3790
~I'm~ I was trying to narrow down the conditions causing breakage, by dnf-upgrading and identifying the components that cause it. It is not going well (partial dnf upgrades on rawhide, followed by reboot, cause reboot hangs). I'll try one last time and will update the bz with any info I can find.

[2019-08-13 13:02] ashley-cui commented on #3489
@vrothberg https://github.com/containers/libpod/blob/master/docs/links/podman-container-init.1

[2019-08-13 13:03] haraldh commented on #3572
So, I finally managed to debug this and find the culprit.

So, here is what is happening:
1. vendor/varlink/go/varlink/socketactivation.go
[code]

`net.FileListener` does a dup(3) and gets a new fd. varlink listens on this new fd.
`file` gets garbage collected and at some point of garbage collection time `close(3)` is happening.

Now in the podman codebase there are several places also handling LI

[2019-08-13 13:06] vrothberg commented on #3489
I must be blind, thanks @ashley-cui!

We can close the issue :)

[2019-08-13 13:06] #3489 closed

[2019-08-13 13:08] mheon commented on #3572
I'll tag in @giuseppe here - I'm pretty sure he wrote this for `SD_NOTIFY`

[2019-08-13 13:24] haircommander opened #3802 "Segfault on a failed image pull"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
CI found a segfault during a (presumed) network flake

**Steps to reproduce the issue:**

1. Run the CI

2. Have the universe choose to fail at a perfect moment?

**Describe the results you received:**
+0227s] === RUN   TestImage_NewFromLocal
[+0228s] Trying to pull docker.io/library/busybox:l

[2019-08-13 14:36] ashley-cui commented on #3780
@rhatdan should I just remove the default value for --tmpfs? How would I test this?

[2019-08-13 14:37] rhatdan commented on #3798
We did this in an attempt to cleanup leaked mount points.  I think removing it from inspect if not mounted is a good idea.

[2019-08-13 14:42] rhatdan commented on #3799
Could these be images built with buildah or podman build?

[2019-08-13 14:43] mheon commented on #3799
`podman images` should still show the images - but temporary containers from `buildah` could be it?

@phlogistonjohn Can you install `buildah` (if you haven't already) and try `buildah list --all`?

[2019-08-13 14:51] phlogistonjohn commented on #3799
[code]

[2019-08-13 15:48] xcffl opened #3803 "Always mount tmpfs with noexec"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

By default `podman run --tmpfs` always go with `noexec,nosuid,nodev` mount options as [the code](https://github.com/containers/libpod/blob/4d470c73ca9f441ced162431270977b967b547a1/pkg/util/mountOpts.go#L84) describes.

However, there is a use case where containers include s6-supervisor who ne

[2019-08-13 15:51] ashley-cui commented on #3780
@rhatdan When the --tmpfs flag is used in docker, no defaults are set. However, in podman, it automatically sets various defaults:
[code]

[code]

Should this also be fixed? I'm not really sure where the size and other defaults are used later, so I'm wary of how to manipulate it.

[2019-08-13 15:51] mheon commented on #3803
I'll take this one - I was thinking about this as part of the `ro=false` work.

[2019-08-13 15:52] mheon commented on #3803
Also, to be clear, we don't intend on stripping security-related options by default. You'll probably have to pass `noexec=false` or something similar in options for the tmpfs mount.

[2019-08-13 16:07] mheon commented on #3780
Related: #3803

We set these defaults largely for security. I think that 65MB is a safe default that can be increased if required.

[2019-08-13 16:22] xcffl commented on #3803
Passing an argument is acceptable.

Besides, this inelegant argument is intended to workaround a problem with **all images** based on [s6-overlay](https://github.com/just-containers/s6-overlay).
For instance, all linuxserver.io images will encounter this error
[code]

https://github.com/just-containers/s6-overlay/issues/248 said it can be workaround by this which is caused by `noexec`, but the cau

[2019-08-13 16:28] rhatdan commented on #3780
I would remove the 65mb, since this is still controlled by the cgroup.  The tmpfs space is < 50% of all available Memory for all tmpfs in the contianer (Memory cgroup).
The other flags should stay.  I don't see a problem with nodev, nosuid.  Perhaps we should eliminate noexec.

[2019-08-13 16:59] st1971 commented on #3784
have finally managed to get 1.5 to install on silverblue, working as expected now.  Thank you both for your help.

[2019-08-13 16:59] #3784 closed

[2019-08-13 17:16] rhatdan commented on #3803
Try running with the --systemd=false flag.

[2019-08-13 17:17] rhatdan commented on #3803
[code]

[2019-08-13 17:50] xcffl commented on #3803
Great, it works!

Is there any method to control this behavior during packaging? Or maybe I'll try to let the image producer add some documentation.

[2019-08-13 18:11] rhatdan commented on #3803
What is triggering it is the name ending with "init".  If this first program run in the image was not init, it would not happen.

[code]

[2019-08-13 18:19] mheon commented on #3803
Dan - defaulting --systemd to true/false sounds like a good use case for
containers.conf, if we add one. Some people will rarely use systemd
containers and might want it to be opt in.

On Tue, Aug 13, 2019, 14:11 Daniel J Walsh <notifications@github.com> wrote:

[2019-08-13 19:39] edsantiago opened #3808 "podman-remote: incorrect exit status of 'run --rm'"
Like #3795 but with podman-remote instead. Unclear if this is a regression because we've never tested it.
[code]
Also:
[code]

[2019-08-13 19:54] giuseppe commented on #3801
I've fixed a bunch of issues with cgroups2 today as part of https://github.com/containers/libpod/pull/3796.

From a quick test, it seems the command works now.  Could you try with last crun version from master?

[2019-08-13 21:07] giuseppe commented on #3572
I am not really familiar with this part, but some things I've observed:

- if I do `rm -fa` from the CLI, the test program unblocks
- if I open a new varlink connection before each command (i.e. reopen the connection before Start and before GetContainer), then the hang doesn't happen

[2019-08-13 21:30] giuseppe commented on #3572
I also don't understand that code block.  Why do we need to propagate the LISTEN_FDs down to conmon?  I think it should be safe to remove it.  @mheon @baude do you know why it was added?

[2019-08-13 21:50] mheon commented on #3572
Hmmm.

My original assumption was that was your code - it's definitely not mine... I think it might well end up being @rhatdan

[2019-08-14 00:43] kunalkushwaha commented on #3799
@phlogistonjohn any idea, which version of podman was initially installed, when you started working on containers on this machine.

I had also faced this issue, but somehow couldn't look into it. But I remember this happned after I upgraded my podman version.

[2019-08-14 07:38] vrothberg commented on #3801
Same issue with crun (commit 111d9cb77e57) and #3796.

[2019-08-14 09:39] giuseppe commented on #3801
PR here: https://github.com/containers/libpod/pull/3810

[2019-08-14 11:49] haraldh commented on #3572
commit a1a79c08b72793cf2f75490d8ffc844c3d16bd4a
Author: Peter Hunt <pehunt@redhat.com>
Date:   Mon Jul 1 13:55:03 2019 -0400

[2019-08-14 11:52] haraldh commented on #3572
commit 989f5e30627eb90a66fa06f87c40d161476395ed
Author: Daniel J Walsh <dwalsh@redhat.com>
Date:   Sun Feb 4 07:29:47 2018 -0500

[2019-08-14 12:11] xcffl opened #3811 "[doc] `podman run` doesn't elaborate about named volumes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Neither `--volume` nor `--mount` in [here](https://github.com/containers/libpod/blob/master/docs/podman-run.1.md) talk about named volumes. They only elaborate mounting a external data source with absolute path (which might be a cause of podman-compose attampts to create named volumes and

[2019-08-14 12:19] haraldh commented on #3572
I don't think it makes sense to use LISTEN_FDS and NOTIFY_SOCKET, if podman is in varlink mode. This should really be skipped here.

[2019-08-14 12:44] phlogistonjohn commented on #3799
Yeah, it certainly could be an upgrade thing. There was at least one other time when I hit issues with podman after an update of the package but unfortunately I don't know what version.

[2019-08-14 13:55] mheon commented on #3811
Huh. Did we never modify the manpages when we added volumes? Hm.

This should be a simple fix, thanks for pointing this out.

[2019-08-14 14:57] marcov commented on #3567
Just did some test with some 100s of containers, and `ps -l` response time is still below 1s. So, given the reduced benefit, let's close this.

[2019-08-14 14:57] #3567 closed

[2019-08-14 15:00] rhatdan commented on #3811
@xcffl Interested in opening a PR with updated docs?  PRs welcome...

[2019-08-14 15:05] mattdombrowski21 opened #3814 "Networking Issue on System Reboot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I seem to have found an interesting bug dealing with how the container networking is setup on system reboots. The container I am trying to run is created and launched by systemd and is enabled on restart.
Here is the service file for my container:
[code]

When the system is running, starting a

[2019-08-14 15:12] mheon commented on #3814
I suspect that part of the problem here is tracking the Podman executable, and not Conmon (though I suspect that `--conmon-pidfile` didn't land in Cent/RHEL 8.0 so that may not be possible until 8.1). The container is probably not being removed by the `ExecStop` line on system shutdown - so you're working with an older copy after the system restarted.

(Could be entirely wrong here, this is just a

[2019-08-14 15:30] #3801 closed

[2019-08-14 18:19] mattdombrowski21 commented on #3814
A less than ideal workaround for this problem that I found was that having it wait for 30 seconds before  creating the container fixes the issue. I just added "ExecStartPre = /bin/sleep 30" and it worked. Of course this is not a great solution and I am wondering if there is some other service that I do not realize needs to be started first.

[2019-08-14 18:32] aaronhagopian opened #3816 "Cannot run rootless mongodb on fedora"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running mongodb rootless on fedora systems errors out while running on Ubuntu seems fine.

**Steps to reproduce the issue:**
Running on Fedora 30
1. podman run --rm mongo:4

**Describe the results you received:**

$ podman run --rm mongo:4
chown: changing ownership of '/proc/1/fd/1': Permissio

[2019-08-14 18:58] mheon commented on #3816
That looks like an ENXIO on chown of a unix socket?

Can you try again with `--log-level=debug` and provide the logs? Might have some warnings popping up...

Otherwise, my suspicion might be an attempt to use a UID/GID that aren't available in the container. I can see a `useradd` in the Dockerfile for that image, but it looks like it ought to work.

@giuseppe Might want to take a look here, too

[2019-08-14 18:59] mheon commented on #3816
Hmmm. Would a `nodev` tmpfs prevent unix sockets on /tmp?

[2019-08-14 19:06] mheon commented on #3814
Alright, looks like I'm wrong then.

I suppose it's possible that the system isn't ready to process iptables requests when we start up... `network.target` would seem to indicate we're ready to start, though. Maybe `network-online.target`, to ensure communications are ready?

[2019-08-14 19:50] mattdombrowski21 commented on #3814
Just tried adding network-online.target and it still won't work

[2019-08-14 20:15] aaronhagopian commented on #3816
Here is the output with debug:

[code]

[2019-08-14 20:34] #3798 closed

[2019-08-14 20:52] giuseppe commented on #3816
I think it is caused by a regression in fuse-overlayfs.

Can you confirm you are using fuse-overlayfs 0.5?

If that is the case, https://bodhi.fedoraproject.org/updates/FEDORA-2019-33bf337c28 might solve the issue you are seeing

[2019-08-14 21:10] aaronhagopian commented on #3816
Yes I am running fuse-overlayfs 0.5.

Upgraded to 0.5.1-2 from the testing repository and the issue was resolved, hopefully they push that package to stable soon.

Thanks

[2019-08-14 21:10] #3816 closed

[2019-08-14 21:43] baude commented on #3816
@aaronhagopian it needs karma to get released -> https://bodhi.fedoraproject.org/updates/FEDORA-2019-33bf337c28

I'd encourage you to give it karma

[2019-08-14 21:48] aaronhagopian commented on #3816
@baude Done, thanks for the heads up.

[2019-08-15 08:22] rhatdan commented on #3816
Can we get one more good karma it will come out.

[2019-08-15 10:20] rhatdan commented on #3572
I agree these should only be handled for not 'remote' podman.

[2019-08-15 13:52] psafont opened #3819 "tmpfs mounts do not accept exec option"
The manual is quite clear on which flags are supported:
[code]

However the `exec` options is rejected as invalid in the current master: https://github.com/containers/libpod/blob/4d470c73ca9f441ced162431270977b967b547a1/pkg/util/mountOpts.go#L50
[code]

Additional info:
This came up while using the docker wrapper for podman, docker supports this mount option for tmpfs.

A revision on the code or t

[2019-08-15 13:58] mheon commented on #3819
Related: #3803 - we need the option to resolve that as well

[2019-08-15 14:04] mheon commented on #3819
We need to do this for all mounts - not just tmpfs

[2019-08-15 14:21] mheon commented on #3819
We need to update and revendor Buildah to land fixes to the shared option parse code first. Then we can add this to Podman.

[2019-08-15 14:30] slopedog opened #3820 "rootless podman breaks Python's os.listxattr"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Python3's `os.listxattr` is broken in rootless podman but works with `sudo podman`.

**Steps to reproduce the issue:**

1. `podman run --rm -it centos:centos7.6.1810`

2. `yum install -y epel-release && yum install -y python36 && python3 -c "import os; os.listxattr('/')"` (this raises `IsADir

[2019-08-15 15:03] mheon commented on #3820
@giuseppe Smells like fuse-overlayfs

[2019-08-15 15:11] debarshiray opened #3821 "Rootless 'podman rm --force' fails with 'given PIDs did not die within timeout'"
/kind bug

**Description**

Sometimes `podman rm --force <container>` fails to remove a running container that once had an active Exec session, but not anymore. Once it fails the first time, the container is marked as `Exited`, but `podman rm --force` continues to keep failing.

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

This doesn't happen relia

[2019-08-15 15:13] mheon commented on #3821
@haircommander Hmm. Any thoughts here? Looks like exec session PIDs are not dying, even to a SIGKILL, from our perspective.

[2019-08-15 15:31] haircommander commented on #3821
@debarshiray I wasn't able to reproduce running:
`podman run -d alpine top`
`podman exec -l sleep 2`
`podman rm -fl`
note: in the second step I tried killing the exec session before removing, as well as letting it terminate gracefully, neither failed. Do you have a better situation I can debug with?

[2019-08-15 16:00] debarshiray commented on #3821
I believe that there were no exec session PIDs to kill here because the exec:ed session was already gone. The sequence of events were:
[code]

So, by this time the exec session PIDs should be gone, but the container was also left running until the first `podman rm --force` attempt.

[2019-08-15 16:02] debarshiray commented on #3821
Sadly, this doesn't reproduce reliably, but does happen every once in a while.

If you want me to dig up something more, then let me know. I haven't touched the system so at the moment I can reproduce at will. A reboot or something can again make it disappear.

[2019-08-15 16:03] haircommander commented on #3821
does `podman inspect -l` show any ExecIDs?

[2019-08-15 16:07] debarshiray commented on #3821
[code]

[2019-08-15 16:27] haircommander commented on #3821
and what about the output of `ps -aux | grep conmon | grep ' -e'`

[2019-08-15 16:28] haircommander commented on #3821
it seems we have saved an exec session, but I am guessing the pid has already stopped, but we never cleaned up the ExecIDs, so podman fails to kill a pid that is already dead. if nothing comes up for the above command that'll confirm it.

[2019-08-15 16:29] alitvak69 commented on #3226
The box I could get for testing was a centos instance I was tasked with testing latest podman on centos in addition. :-)  Problem is the centos rpm 1.5.0.2 on CBS failed to build, and my attempt to use the f30 and cri-o branches on https://github.com/lsm5/rpm-builder/ failed due to my lack of understanding of how to get the environment ready.  Can any of you either look into 1.5.0.2 on CBS or bett

[2019-08-15 16:30] debarshiray commented on #3821
[code]

[2019-08-15 16:41] mheon commented on #3821
@haircommander We do ping each PID with signal 0 to make sure it's still alive - I'm pretty sure the PIDs exist.

[2019-08-15 16:44] #3732 closed

[2019-08-15 17:36] xcffl opened #3826 "podman cp can't only copy content within a directory as docker does"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Both `docker cp /path/to/source/ /path/to/destination` and `cp /path/to/source/ /path/to/destination` copy the **content** within the source directory to the destination. But podman copies the source **directory** instead.

**Steps to reproduce the issue:**
1. `podman cp ./data/ test_containe

[2019-08-15 19:32] mheon commented on #3826
@QiWang19 PTAL

[2019-08-15 19:51] eriksjolund opened #3829 "podman cp dereferences symlink in host context after filepath.Glob(srcPath)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

    podman cp mycontainer:/testfile /tmp/test

may resolve a symlink in the host context (e.g. the file _/tmp/hostdir/hello.txt_) and copy it into
the directory _/tmp/test_

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you e

[2019-08-15 20:23] mheon commented on #3829
`/etc/host` is always a bind-mount to a container-local copy of the host's `/etc/host`. I would expect that if you passed `--dns` to that `podman create` you'd find the contents were suddenly different.

Still, `podman cp` is definitely doing the wrong thing here, I think - albeit it's doing it entirely in container context.

[2019-08-15 20:25] mheon commented on #3829
Sorry, replace `--dns` with `--add-host` - oops

[2019-08-15 21:01] fullstackwebdev commented on #3453
Sorry, how do I use PPA 1.0.0-rc8?

How do I simply point from "rc6" to "rc8"

Following the instructions I still get an error
[code]

[2019-08-15 21:02] eriksjolund commented on #3829
Sorry, I used some other file path and did a replace string in my editor to get _/etc/hosts_ . That was not a good idea I realize now. I thought the actual file path was irrelevant.
Anyway I have now edited the original bug description and changed
the file path to _/tmp/hostdir/hello.txt_ and re-run the example again on the computer.

[2019-08-15 21:14] eriksjolund commented on #3829
And I verified that the file _/tmp/hostdir/hello.txt_ was not included in the container,
by running `podman unshare` and `podman mount $container`

[code]

[2019-08-15 22:57] QiWang19 commented on #3826
Use source path ending with /. (that is: slash followed by dot) will copy the content.
[code]
https://docs.docker.com/engine/reference/commandline/cp/

SRC_PATH does end with /. (that is: slash followed by dot)
the content of the source directory is copied into this directory

[2019-08-16 11:10] #3780 closed

[2019-08-16 11:53] lsm5 commented on #3453
Seems like I haven't gotten rid of that symlink in 16.04 runc. I'll update in a bit.

[2019-08-16 17:44] alitvak69 opened #3835 "Podman 1.5.x rpms are failing to build on CBS"
/kind packaging
I am trying to test the latest release 1.5 on centos and RPM builds on CBS are failing.
Can someone take a look at the builds and fix them?  I would also appreciate a document on how you build it using rpm-build repo so I could build them manually if I need to test master or other releases.

Thank you for all help and attention.

[2019-08-16 18:01] lsm5 commented on #3453
Should be fixed now. cri-o-runc only installs to `/usr/lib/cri-o-runc/sbin/runc`. Please reopen if the issue still persists.

[2019-08-16 18:01] #3453 closed

[2019-08-16 18:15] TomSweeneyRedHat commented on #3835
@lsm5 PTAL

[2019-08-16 18:52] lsm5 commented on #3835
@alitvak69 built at https://cbs.centos.org/koji/taskinfo?taskID=918733

RE: how it's built, all the centos specific changes are included on fedora's latest release's spec file (so right now on f30). See: https://src.fedoraproject.org/rpms/podman/blob/f30/f/podman.spec .

RE: autobuilds, there's an hourly job at https://gitlab.com/lsm5/rpm-builder/tree/fedora-release which checks for latest release

[2019-08-16 19:09] alitvak69 commented on #3835
Thank you @lsm5

[2019-08-16 19:22] QiWang19 commented on #3826
I'll close this issue. Reopen if @xcffl still have this issue.

[2019-08-16 19:22] #3826 closed

[2019-08-16 19:36] QiWang19 commented on #2726
This can be done. Created #3833 PR for --cert-dir

[2019-08-16 20:44] c16a commented on #3485
I can finally move on from the Docker daemon now. Awesome work @lsm5

[2019-08-17 12:55] #3734 closed

[2019-08-17 14:41] chenzhiwei opened #3837 "Support pod host network"
This is a follow up issue of PR: https://github.com/containers/libpod/pull/3836

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Support pod host network:
* In pod yaml file
* In pod create --network host

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. i

[2019-08-17 17:53] alitvak69 commented on #3835
I think it was closed too soon.  Where did you get libseccomp >= 2.4.1?

Resolving Dependencies
--> Running transaction check
---> Package podman.x86_64 0:1.4.4-2.el7.centos will be updated
---> Package podman.x86_64 0:1.5.1-3.el7 will be an update
--> Processing Dependency: podman-manpages = 1.5.1-3.el7 for package: podman-1.5.1-3.el7.x86_64
--> Processing Dependency: libseccomp >= 2.4.1 for pack

[2019-08-17 18:16] alitvak69 commented on #3226
I have tested with 1.5.1 and disconnecting ssh session while running the loop no longer kills the container.

[2019-08-17 18:42] lsm5 opened #3838 "v1.5.1 podman exec inconsistency with fedora/rhel v/s ubuntu containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In my regular workflow I usually start containers in detached mode and exec to them as non-root user lsm5 and /home/lsm5 as my default dir. This worked fine with v1.4.4 on f30 but with the recent upgrade to v1.5.1, I'm getting OCI runtime permission denied errors.

**Steps to reproduce the iss

[2019-08-17 19:01] lsm5 opened #3839 "update github issue report template to include rpm/deb version"
@baude @mheon PTAL..

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When filing a new issue, it would be useful to collect the rpm or deb package info in the details than to manually ask the reporter to fill in those details later on. See https://github.com/containers/libpod/issues/3838 for example.

The template addition could look

[2019-08-17 19:05] lsm5 commented on #3839
I notice `podman info --debug` does list rpm version with conmon info, but that won't be the case once conmon is independent.

[2019-08-17 19:35] lsm5 commented on #3835
@alitvak69 I'm building the newest libseccomp for CBS at https://cbs.centos.org/koji/taskinfo?taskID=919837 . But I kinda wanna suggest you hold off on the upgrade cause of https://github.com/containers/libpod/issues/3838

[2019-08-17 19:52] mheon commented on #3838
What exec command?

@haircommander PTAL

On Sat, Aug 17, 2019, 14:42 Lokesh Mandvekar <notifications@github.com>
wrote:

[2019-08-17 20:00] lsm5 commented on #3838
Run rawhide:
[code]

Exec rawhide:
[code]

That's my own registry btw.

[2019-08-17 20:02] lsm5 commented on #3838
Let me check if this happens with vanilla fedora images and report back..

[2019-08-17 20:53] lsm5 commented on #3838
@mheon @haircommander hmm, so it seems I can't reproduce this with default docker.io/fedora:rawhide image but it happens consistently with my own image (which was built initially from the docker.io/fedora image but has been rebuilt and squashed over time).

[code]

[2019-08-18 04:18] chenzhiwei opened #3840 "Include hostname in generate kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Follow up of "Allow customizing pod hostname: https://github.com/containers/libpod/pull/3836"

`podman generate kube` should include the hostname.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happe

[2019-08-18 07:36] eriksjolund commented on #3829
Another thing (not strictly this but closely related) is the handling of "-". The check to see if such a command line argument is given should be done on the actual command line arguments given (not on the result of symlink dereferencing or `filepath.Base(destPath)`).

[2019-08-18 07:56] spaghetti- opened #3841 "Container not able to talk to a specific container, other containers are fine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've 3 containers running grafana, prometheus and nginx. The nginx container cannot talk to grafana over the host (10.10.0.1:3000) but can talk to prometheus (10.10.0.1:9000) or any other container I spawn. Both prometheus and grafana can talk to each other over the host.

**Steps to reproduc

[2019-08-18 09:54] spaghetti- commented on #2553
`podman rm --storage <id>` doesn't seem to work for me with the zfs driver though:

[code]

[code]

[code]

[2019-08-18 10:16] matpen opened #3842 "A way to regenerate firewall rules"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Under some circumstances the the sysadmin might want to clear the firewall rules entirely, thereby deleting the CNI-generated rules, too. With daemon-based runtimes (e.g. docker), these rules can be regenerated by restarting the daemon, but with podman I see no other way than manually res

[2019-08-18 10:37] rhatdan commented on #3226
@alitvak69 So we can close this issue?

[2019-08-18 11:46] rhatdan commented on #3838
SELinux?

[2019-08-18 11:55] mheon commented on #3842
Likely will need CNI support. We could theoretically destroy and recreate
all networks in CNI, but I have no idea if that will actually do what we
want.

On Sun, Aug 18, 2019, 07:51 Daniel J Walsh <notifications@github.com> wrote:

[2019-08-18 12:22] ikke-t opened #3843 "error allocating lock for new pod: no space left on device"
/kind bug

**Description**

I rarely change my container setup, but if I go there after some weeks/couple months to change something, I can't spawn new containers due:

**Steps to reproduce the issue:**

1.  Run podman, any container. here is simple sample:
[code]

**Describe the results you received:**

It always fails. I updated the podman to latest 1.5.1-3, and it still fails the same. Note, th

[2019-08-18 12:25] ikke-t commented on #3843
And BTW, there are perfectly running containers while at this, this only affects while spawning a new one.

[2019-08-18 12:41] Zjemm commented on #1742
@lsm5 nice, keep us posted

[2019-08-18 13:12] alitvak69 commented on #3226
Yes you can.  Thank you.

On Sun, Aug 18, 2019, 5:37 AM Daniel J Walsh <notifications@github.com>
wrote:

[2019-08-18 13:49] mheon commented on #3843
That's a lock exhaustion error - you've run out of locks for containers and
pods. I don't suppose you're running 2048 of those?

If not - try a 'podman system renumber' (needs to shut down all containers)
- that should reclaim unused locks. It also means we have a leak somewhere,
and we're not reclaiming then properly in some case.

On Sun, Aug 18, 2019, 08:25 Ilkka Tengvall <notifications@github.

[2019-08-18 14:27] ikke-t commented on #3843
thanks @mheon, it freed up some space from somewhere. No, I don't run more than about 10 containers. However, it might effect that I do have systemd definitions for them, and if something doesn't come up, systemd always does some amount of retries. But still, likely not that amount.

systemd unit file has:
[code]

Anyhow, now the pod succeeded, so unfortunately it sounds like leaking out the locks

[2019-08-18 15:11] oblitum opened #3846 "Hitting "Error committing the finished image" "no space left on device" due to nonoptimized use of disk"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Have 50GB left on disk

2. Have a Dockerfile whose second step will take 7.5GB of data, like installing many programs

3. Have additional steps (around >5 more steps) that won't require space at all

**Describe the results you received:**

I failed to bui

[2019-08-18 15:38] mheon commented on #3846
This is a known limitation of the VFS storage driver. We recommend using
fuse-overlayfs instead, as it is capable of deduplicating storage

On Sun, Aug 18, 2019, 11:11 Francisco Lopes <notifications@github.com>
wrote:

[2019-08-18 15:50] kbaegis commented on #3464
In general, several of us *not* using systemd would appreciate decoupling.

[2019-08-18 15:51] oblitum commented on #3846
@mheon I'm newbie to podman, where should I configure that?

[2019-08-18 15:54] oblitum commented on #3846
Is it enough if I just install `fuse-overlayfs`?

[2019-08-18 15:55] kbaegis commented on #1843
Just checking my understanding- this is going to have the same approach as macOS docker, running all the container host components inside a VM that isn't Darwin?

[2019-08-18 16:31] baude commented on #3846
Does your ~/.config/containers/storage.conf look like this?

[code]

Btw, if you make an adjustment, you may need to remove your current storage **~/.local/share/containers/storage** to make the change

[2019-08-18 16:49] oblitum commented on #3846
@baude thanks for the tip. After installing `fuse-overlayfs`, it was still using `vfs` as driver. I've started anew by removing `~/.config/containers/` and `~/.local/share/containers/`. The `storage.conf` is now using `"overlay"`.

[2019-08-18 16:49] #3846 closed

[2019-08-18 16:58] baude commented on #1843
yes, at least initially.

[2019-08-18 17:00] baude commented on #3464
podman just needs to be compiled without systemd support ... simple as that.

[2019-08-18 17:04] lsm5 commented on #3838
happens regardless.

[2019-08-18 17:12] baude commented on #3841
can you please make this more generic? like make every container an nginx container and see if this works?  we dont know much about the stuff you're running but it would a stronger argument that there is something wrong with podman.  when you inspect the containers, does the port assignment look correct? does podman port look correct?

[2019-08-18 17:13] baude commented on #3839
make a pr lokesh!

[2019-08-18 17:25] #3572 closed

[2019-08-18 17:25] lsm5 commented on #3838
I see this with the latest build in rawhide as well podman-1.5.2-0.6.dev.git76f327f.fc32.x86_64

[2019-08-18 19:56] baude commented on #3842
Id want to talk this through before committing ... it is an interesting idea nevertheless.

[2019-08-18 19:59] baude commented on #3602
@martinpitt i think commit 438cbf4c8960db0b59a25a3fb38a778e24a69a40 should have resolved this.  Mind try with latest head and verifying ?

[2019-08-18 22:11] lsm5 commented on #3839
ha, I'll do that, I thought this was some github magic I didn't have access to :D

[2019-08-18 23:06] #3226 closed

[2019-08-18 23:33] lsm5 commented on #1742
@sysrich @vrothberg are those podman and buildah packages apt install-able? We could just post those install steps on our docs and be done with it. So, hopefully, nothing for me to do then :)

[2019-08-19 05:30] vrothberg commented on #1742
I have no experience in cross-distro packaging in OBS. At the moment, the packages are not offered for other distros. @sysrich, @marcov, how much work would it be to use the packages in devel:kubic to offer them for Debian, Ubuntu etc.?

[2019-08-19 06:21] spaghetti- commented on #2553
Managed to reproduce the issue accidentally by trying to Ctrl-C a container twice.

[code]

And I fixed it with an ugly hack:
[code]

[2019-08-19 08:24] marcov commented on #1742
Hi @vrothberg, from my experience with Kata, adding a new set of `{dsc,control,rules}` files to build deb packages is something that would not take more than 1 day or 2.

Assuming those packages are made available on devel:kubic, who will provide the required support for Debian/Ubuntu issues? Maybe a good solution would be to have a dedicated subproject for to deb builds, linked to the parent proj

[2019-08-19 08:28] vrothberg commented on #1742
This sounds very promising!

@lsm5, would that be you? In can certainly help getting started with the packages as I've spent quite some time packaging them for openSUSE.

I trust your cross-distro experience :) Sounds good to me.

[2019-08-19 08:32] marcov commented on #1742
Nice, I'd like to hear what @sysrich thinks about this.

[2019-08-19 09:08] lsm5 commented on #1742
On Mon, Aug 19, 2019 at 01:29:01AM -0700, Valentin Rothberg wrote:

Sure, I can own that. My OBS account is 'lsm5'.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-08-19 11:12] rhatdan opened #3850 "podman container checkpoint|Restore not working in master."
@umohnani8 was going to demonstrate this feature at Devconf.US but it kept on failing.
I am writing this to remind her to update this issue.

[2019-08-19 11:14] rhatdan commented on #3842
Lets talk to the CNI guys.

[2019-08-19 11:30] mheon commented on #2553
Sounds like a bug with the ZFS driver.

On Mon, Aug 19, 2019, 02:21 alex <notifications@github.com> wrote:

[2019-08-19 11:31] mheon commented on #2553
You might want to make a new issue for this

On Mon, Aug 19, 2019, 07:30 Matthew Heon <matthew.heon@gmail.com> wrote:

[2019-08-19 11:56] rhatdan commented on #1843
Well unless someone builds and OCI compliant Runtime for Darwin, this is the only way to run containers on a MAC.

[2019-08-19 11:59] rhatdan commented on #3464
Shouldn't podman fall back to the non journal method of events, if journal does not exists?  Or is this configured in libpod.conf to use the journal?

[2019-08-19 12:03] mheon commented on #3464
We're explicitly configured from `libpod.conf`, but we could rewrite this to fall back to non-journal if not present, I think

[2019-08-19 14:11] rhatdan commented on #2553
Also might be better to do discussion in containers/storage since podman is just using that library for management of its container images. And graphdrivers.

[2019-08-19 14:32] #3839 closed

[2019-08-19 15:02] lsm5 commented on #3027
@EricHripko @towe75 varlink enabled packages are just about getting published to ppa for 19.04 and 18.04. PTAL..

[2019-08-19 15:26] lsm5 commented on #3027
should be ready now ..

[2019-08-19 17:02] baude commented on #3027
closing then ... re-open if a problem arises.

[2019-08-19 17:02] #3027 closed

[2019-08-19 19:24] rhatdan commented on #3808
This works if you do a podman exec, but not run.  We must have the checks for this turned off for remote containers.

[2019-08-19 20:06] debarshiray commented on #3821
Do you want me to do some more poking?

I am asking because I will be travelling in a few days and will have to power off the affected system, which can potentially hide this bug and we'd have to wait until it reveals itself again.

[2019-08-20 07:57] saschagrunert commented on #2791
I updated the document regarding the migration analysis. I also added a coarse grained _Migration Plan_ to outline the necessary steps in their order.

[2019-08-20 09:25] qmeeus commented on #2542
Full procedure:
[code]

[2019-08-20 10:04] shaicoleman opened #3854 "Podman ignores labels that are key only"
/kind bug

**Description**

Podman 1.5.0 seems to ignore labels that are key only

[code]

Same thing with Docker:
[code]

Seems like a regression, because it seems to work with an older version
[code]

**Output of `sudo podman info --debug`:**
[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**
[code]

[2019-08-20 14:17] edsantiago commented on #3838
Reproducer:
[code]

[2019-08-20 14:31] haircommander commented on #3838
@mheon Do you think exec should inherit the user of run? and --user would override that?

[2019-08-20 14:35] rhatdan commented on #3838
We should follow what Docker does.

[2019-08-20 14:35] edsantiago commented on #3838
This is nonroot

[2019-08-20 14:35] haircommander commented on #3838
/assign
I'll take this

[2019-08-20 14:36] edsantiago commented on #3838
@lsm5 can you retry and confirm with older podman? I'm seeing the same behavior with podman-1.4.4-4.fc30.x86_64

[2019-08-20 14:37] rhatdan commented on #3838
Why doesn't root in the user namespace have DAC_OVERRIDE and DAC_READSEARCH?
It looks like root does not have all capabilities that it normally does when execing into a container that was created for a user.

[2019-08-20 14:38] rhatdan commented on #3838
I still think we should follow the Docker standard, if the exec comes in as a the user or as root of the user namespace.

[2019-08-20 14:48] haircommander commented on #3838
docker retains the user of the run command in exec unless overriden. putting together a pr now

[2019-08-20 16:10] gastaldi opened #3859 "Cannot restore segment prot after reloc: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I uninstalled Docker in my Fedora 30 and installed `podman` and `podman-docker`. However I get the following error when building my project (which uses Docker):

[code]

**Steps to reproduce the issue:**

1. `git clone git@github.com:quarkusio/quarkus.git`

2. `cd quarkus && ./mvnw clean inst

[2019-08-20 16:12] rhatdan commented on #3859
Looks like SELinux
ausearch -m avc -ts recent

[2019-08-20 16:13] gastaldi commented on #3859
Running `sudo ausearch -m avc -ts recent` I get:
 `<no matches>`

[2019-08-20 16:16] gastaldi commented on #3859
When disabling SELinux with:
[code]

I get a different error:

[code]

[2019-08-20 16:22] gastaldi commented on #3859
It looks like it is caused by `--user 1000:1000`. Does that ring a bell @rhatdan ?

[2019-08-20 16:25] rhatdan commented on #3859
If you run as root it works?  and if you run it with Docker it works?

[2019-08-20 16:27] rhatdan commented on #3859
Could be in linux capabilities.

[code]

Notice the CapInh?

[2019-08-20 16:28] rhatdan commented on #3859
Could you try running the command with
--cap-add all?
If this fails try
--security-opt seccomp:unconfined

[2019-08-20 16:29] rhatdan commented on #3859
Also are you executing this command with podman as root or non-root.

If non-root, please try it as root.

[2019-08-20 16:35] gastaldi commented on #3859
I am running podman as non-root. It works if:
- I run with Docker (not the podman alias);
- I run as root.

[2019-08-20 16:37] gastaldi commented on #3859
@rhatdan apparently I am unable to change the `docker run` statement since it's triggered inside my build which makes adding `--cap-add all` or `--security-opt seccomp:undefined` hard to add . Is it possible to set these options as default in Podman?

[2019-08-20 16:44] #3838 closed

[2019-08-20 18:01] rhatdan commented on #3859
No I think the issue is that you are running rootless.  Now we would need to figure out what is causing the issues when running rootless.

If you run rootless without --user 1000:1000, does it work?

[2019-08-20 20:26] edsantiago opened #3861 "podman-remote: cp crashes"
All manner of `podman cp` incantations crash. Here's one:
[code]
podman master @ f618bc3259701fd7d3c1fc90d0ec3812571fa0ab

[2019-08-21 05:33] AkihiroSuda commented on #3212
I noticed it doesn't work actually, because Podman executes slirp4netns in a user namespace and hence the cap is dropped :(

[2019-08-21 05:43] AkihiroSuda commented on #3212
RootlessKit + Docker is not affected by this problem (nor https://github.com/rootless-containers/slirp4netns/issues/135)  because RootlessKit executes its own port forwarder in the initial namespaces.

It would be great if Podman can use this pkg as well. https://github.com/rootless-containers/rootlesskit/tree/v0.6.0/pkg/port/builtin

[2019-08-21 06:09] AkihiroSuda commented on #3212
A workaround is `sudo sh -c "echo 0 > /proc/sys/net/ipv4/ip_unprivileged_port_start"`

[2019-08-21 06:58] runapp commented on #2542
It seems that running `podman system migrate` instead of deleting the pid file should be more elegant?

[2019-08-21 11:44] yann-soubeyrand opened #3864 "dnf transaction fails inside Fedora container and corrupts container"
/kind bug

**Description**

Doing a dnf install inside a Fedora container or a Silverblue toolbox results in failed transaction and corrupted container.

**Steps to reproduce the issue:**

1. podman --log-level=debug run -ti --restart=no --rm fedora

2. Inside container: dnf install jq (jq is an example, it could be dnf upgrade)

**Describe the results you received:**

DNF transaction failed. If t

[2019-08-21 11:47] yann-soubeyrand commented on #3864
I forgot to mention that using Docker instead of Podman works as expected.

[2019-08-21 12:40] gastaldi commented on #3859
@rhatdan sorry, same error happens without `--user 1000:1000`:

[code]

[2019-08-21 12:47] gastaldi commented on #3859
@rhatdan Good news, using `--cap-add=all` makes the build pass.

[2019-08-21 12:55] rhatdan commented on #3859
Well I guess we would want to know what capability actually allowed you to succeed.  Two I would try would be SYS_ADMIN and NET_ADMIN,
You could look at man capabilities to give you an idea of what CAPABILITIES are involved.

[2019-08-21 13:11] gastaldi commented on #3859
Hum, spoke too soon, `--cap-add=all` only works after I disable SELinux (with run `sudo /usr/sbin/setenforce 0`), otherwise the same error appears

[2019-08-21 13:15] barseghyanartur opened #3865 "/kind feature: podman-compose analogue of docker-compose"
/kind feature

**Description**

Introduce ``podman-compose`` as analogue of ``docker-compose``.

[2019-08-21 13:31] baude commented on #3865
@barseghyanartur there are no plans for an exact dupe of docker compose for podman.  we believe people should attempt to use podman generate kube and podman play kube.  we continue development on this feature.

a contributor has also made https://github.com/muayyad-alsadi/podman-compose which i hear people have had decent luck with.

[2019-08-21 13:35] rhatdan commented on #3859
Yes I think SELinux is blocking the first issue.
Which is why I want to catch the AVC.
ausearch -m avc -ts recent is not showing anything?

[2019-08-21 13:37] MatMaul opened #3866 "Document using rootless container with systemd"
Rootless podman works great with systemd to manage services ran as a user.
However it would be nice to add some docs for that somewhere, or tweak `generate systemd` for the rootless use case.

The 2 difficult points I ran into was:
- the service must depends on `user@uid.service` so the user dbus session is initialized and the /run user folder exists
- KillMode=none as explained in #3657

Here is

[2019-08-21 13:37] gastaldi commented on #3859
Ah I see this now:
[code]

[2019-08-21 13:42] rhatdan commented on #3865
Docker-compose is not a part of Docker, and therefore the core engineering team is not making an effort to support podman-compose a part of podman.  But this is an open source project, I could see us adding a subset of compose to podman, `podman generate compose/podman play compose`.  BUT it would have to be fully supported by the community.

Our direction (Red Hat) is to make it easy to move from

[2019-08-21 13:42] matpen opened #3867 "Flag "--pull" of "podman run" not recognized"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The flag `--pull` of `podman run` documented [here](https://github.com/containers/libpod/blob/master/docs/podman-run.1.md) does not work.

**Steps to reproduce the issue:**

1. Run a simple test: `podman run --rm --pull=never docker.io/library/ubuntu:18.04 true`

2. Observe the error: `Error:

[2019-08-21 13:47] rhatdan commented on #3866
PRs and Blogs welcomed.  :^)

[2019-08-21 13:49] rhatdan commented on #3859
Awesome that is what I needed.  I will update container selinux...

[2019-08-21 13:57] rhatdan commented on #3859
Fixed in container-selinux-2.115.0-1.gitfddfbbb

[2019-08-21 13:58] muayyad-alsadi commented on #3865
sure, I would be pleased by that.

[2019-08-21 13:59] gastaldi commented on #3859
Amazing, now how do I use this new version? :smile:

[2019-08-21 14:02] rhatdan commented on #3865
Is there a way for you to request a move, or should I just create a podman-compose and you can open a PR to it.

[2019-08-21 14:04] rhatdan commented on #3859
If you are running fedora 30 you can grab it here:
https://koji.fedoraproject.org/koji/buildinfo?buildID=1361875

[2019-08-21 14:08] muayyad-alsadi commented on #3865
yes, there is, let me click that.

[2019-08-21 14:11] barseghyanartur commented on #3865
@baude, @rhatdan:

Thanks. I see. Thanks for the quick answers. I did took a quick look at ``play kube``.

Nowadays, most of the devs make use of ``docker-compose``. What once used to be a third-party tool, became a core feature of docker and I think it's very well justified.

One way to attract more people to the project is to make it available and usable by larger audience.

If ``play kube`` is

[2019-08-21 14:11] muayyad-alsadi commented on #3865
I've followed this

https://help.github.com/articles/transferring-a-repository/

![Screenshot from 2019-08-21 17-09-54](https://user-images.githubusercontent.com/1312683/63439430-acecf800-c436-11e9-9093-0839c4ade9a5.png)

and got

![Screenshot from 2019-08-21 17-09-39](https://user-images.githubusercontent.com/1312683/63439412-a494bd00-c436-11e9-90e2-6a23f91fa020.png)

[2019-08-21 14:15] gastaldi commented on #3859
Fantastic! Now I am getting the error described in https://github.com/containers/libpod/issues/3859#issuecomment-523087307 but at least I don't need to disable SELinux

[2019-08-21 14:17] muayyad-alsadi commented on #3865
@barseghyanartur please try devel branch of podman compose on files in `examples/`

for example

[code]

[2019-08-21 14:34] rhatdan commented on #3859
Have you tried individual Capabilties to try to identify which one you are missing?

[2019-08-21 14:44] MatMaul commented on #3866
Where do you think I could contribute such a doc ?

[2019-08-21 14:44] MatMaul commented on #3866
rootless_tutorial.md ?

[2019-08-21 14:50] TomSweeneyRedHat commented on #3866
I'd drop it in rootless_tutorial at least to start.  I'd make a new section for it in that md file.

[2019-08-21 14:53] gastaldi commented on #3859
@rhatdan do I need to try each one individually or can I consider that the ones listed in the ``--cap-drop=CAP_xxx` section in  https://github.com/containers/libpod/blob/master/docs/podman-build.1.md are already set?

[2019-08-21 14:54] gastaldi commented on #3859
Found it! It's `CAP_DAC_OVERRIDE`

[2019-08-21 15:01] baude commented on #3865
But as @rhatdan points out, compose is not technically part of the docker core.  I know we are drawing lines here.  Also, if i install docker on latest ubuntu, it doesnt install docker-compose.  Anyways, podman generate and podman play is always being developed as we get input from users.

[2019-08-21 15:22] rhatdan commented on #3861
@QiWang19 PTAL

[2019-08-21 15:24] rhatdan commented on #3861
@edsantiago I don't see those error messages for podman-remote run?

[2019-08-21 15:28] edsantiago commented on #3861
They're from the varlink server process; do you have that running in a separate window? They seem to be harmless, and don't affect execution. They have been present since pretty much Day One of podman-remote; see #2212

[2019-08-21 15:54] rhatdan commented on #3861
These could be indicative of a real bug.  @baude PTAL.

Looks like varlink is attempting to execute commands on behalf of the remote client, but is checking if the fields are valid, against its own CLI.  Should we just ignore these errors or should they be real bugs?

[2019-08-21 15:56] QiWang19 commented on #3861
Do we support podman remote cp already?
My patch has been put off since the non-remote cp are changing for fixing bugs and late review

[2019-08-21 16:00] edsantiago commented on #3861
My point here is that it might be better to say "unsupported" than to dump a giant stack trace.

[2019-08-21 16:06] giuseppe commented on #3606
I don't think the quotes can make any difference, they are evaluated by the shell before they are passed to Podman as arguments.

I am hitting the same error right now both with podman 1.4.4 and from master

[2019-08-21 16:08] gastaldi commented on #3859
One interesting thing I noticed is that the user and group set for the artifacts produced in the mounted volume are different compared to the Docker client

# Podman
[code]

# Docker
[code]

This is the output of my `id` command:
[code]

[2019-08-21 16:15] TomSweeneyRedHat commented on #3606
Yeah still happening for me.  I'm not sure about the quotes helping/hurting.  I do know that I ran into this again this past weekend.  I do know that if I persist and repush, it eventually goes through.

[2019-08-21 16:17] rhatdan commented on #3859
@giuseppe FYI.
Looks like the file got created as UID 1001 in side your user namespace Rather then as root inside?

Could you do a

$ podman unshare cat /proc/self/uid_map

[2019-08-21 16:22] mheon commented on #3867
Probably a remote vs local thing - are you using podman-remote?

On Wed, Aug 21, 2019, 09:43 matpen <notifications@github.com> wrote:

[2019-08-21 16:25] matpen commented on #3867
Nope, just flat local `podman`.

[2019-08-21 16:27] TomSweeneyRedHat commented on #3867
I was near that code yesterday, I'll hop in and take a look.

[2019-08-21 16:42] TomSweeneyRedHat commented on #3867
Seems to be working on Fedora 30 Podman v1.5.2-dev

[code]

Trying to find a 1.5.0 kit to see if it's a problem that's been fixed since then.

[2019-08-21 16:55] gastaldi commented on #3859
This is the output of the unshare command:
[code]

I managed to keep the same behavior by using `--userns=keep-id`.

[2019-08-21 16:59] gastaldi commented on #3859
I think this issue can be closed? https://github.com/containers/container-selinux/commit/fddfbbb7836cabeb28feffb4602f4a3ae5016cdb seems to have fixed the original problem

[2019-08-21 17:08] #3859 closed

[2019-08-21 17:18] edsantiago opened #3869 "podman-remote: not cleaning tempfiles"
podman-remote (actually the varlink server) is not cleaning up after itself; it leaves a `buildTarballXXXX` directory and `varlink_sendXXXX` file in tmpdir:
[code]

[2019-08-21 17:22] TomSweeneyRedHat commented on #3867
@matpen My confusion with this one is I remember reviewing the code a few weeks back, but the PR (https://github.com/containers/libpod/pull/3617) was just merged a few days ago.  This functionality is only currently available in upstream Podman and will be part of the next release.  You can verify this by doing `man podman run` and I'm sure you won't see the `--pull` option there.  The online man

[2019-08-21 17:22] #3867 closed

[2019-08-21 17:33] edsantiago opened #3870 "podman-remote rmi: device or resource busy"
@cevich is seeing frequent system-test errors [\[1\]](https://cirrus-ci.com/task/4956166604455936?command=system_test#L180) with podman-remote
[code]
This is (I think) Ubuntu. I cannot reproduce on my Fedora laptop, even running the varlink server with `nice 19` and even with cores disabled to emulate a slow system. My attempted reproducer is a simplified variant of the `build` system test:
[code]

[2019-08-21 17:42] oblitum opened #3871 "Unable to run imported image rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've just saved an image that's working just fine to a tarball and then imported it and tried to run it but I keep getting errors.

**Steps to reproduce the issue:**

1. `podman save archlinux -o archlinux.tar`

2. `podman import archlinux.tar archlinux2`

**Describe the results you received:

[2019-08-21 17:43] rhatdan commented on #3859
Yes that makes sense.  Or drop the --user flag altogether to get the file owned by you.
Nice that we were able to get this to work.

[2019-08-21 17:49] oblitum commented on #3871
My main interest in doing this is to carry the tarball to other machines, but the second is that I wish to delete the original image and leave the imported one because I want to check if by doing that I can erase the internal history and overlayfs diffs from filesystem and have squashed image. I wish there was a squash command for doing this.

[2019-08-21 18:08] matpen commented on #3867
@TomSweeneyRedHat Indeed the option is not in the manpage! Thank you for clarifying that, and sorry for the noise...

[2019-08-21 18:42] oblitum commented on #3871
Oh sorry... it seems like I used the wrong command for images, it's `podman load`. And after loading, it just creates a new tag, so not useful for squashing.

[2019-08-21 18:42] #3871 closed

[2019-08-21 18:46] mheon commented on #3871
@rhatdan @TomSweeneyRedHat Can `buildah` easily squash? I think I recall that it can?

[2019-08-21 19:12] cevich commented on #3870
Thanks Ed.

Thinking about this more, I'm not seeing those particular failures anywhere else.  So there must be something _special_ about PR #3754.  That could simply be new/different VM imges - including images with embedded bugs.

Note: The two failures are on F29 and F30 (not Ubuntu) images:

* `fedora-30-libpod-5420341990522880`
* `fedora-29-libpod-5420341990522880`

I'll try your reproducer (

[2019-08-21 19:31] baude commented on #3861
if a command is not supported by remote, it should not even show up

[2019-08-21 19:34] cevich commented on #3870
@edsantiago good news is, I was able to reproduce the error using your script above and the F30 VM image from my PR.  Trying the VM image from master (expecting no error) now...

[2019-08-21 19:39] cevich commented on #3870
...as expected, no error using the VM image from master (fedora-30-libpod-5751722641719296).

Excellent, so now (hopefully) it's a matter of comparing differences. Since the libpod code is common in both VMs, they're running in the same cloud-environment, so there must be a configuration or packaging difference or something like that.

[2019-08-21 19:48] cevich commented on #3870
Same on both VMs:

* `libvarlink-util-18-1.fc30.x86_64`
* `container-selinux-2.113.0-1.dev.git4f7d6bb.fc30.noarch`
* `runc-1.0.0-93.dev.gitb9b6cc6.fc30.x86_64`
* `systemd-241-10.git511646b.fc30.x86_64`
* `slirp4netns-0.4.0-4.git19d199a.fc30.x86_64`
* `containernetworking-plugins-0.8.1-1.fc30.x86_64`
* `containers-common-0.1.37-2.fc30.x86_64`

hrmmmmm.

[2019-08-21 20:22] rhatdan commented on #3871
It might not be a bad idea to add a `buildah squash` command.  @nalind @TomSweeneyRedHat WDYT? I think there is a PR open on squashing a number of layers.

[2019-08-21 20:30] rhatdan commented on #3861
Correct, if this is not ready for support yet, it should be removed from the command line.

[2019-08-21 20:34] oblitum commented on #3871
@rhatdan I think it's great having it, because diffs may include files that don't exist anymore in the result image, because they have been removed. A squash command would be nice to clear up any of such historical artifacts.

[2019-08-21 20:38] cevich commented on #3870
Ran reproducer again, and it worked fine for a while, failing after maybe 10 passes.  So there's def. some race condition here that's somehow more likely with the images in my PR vs from master, even with the exact same libpod code :confounded:

Maybe I should try taking the podman and podman-remote binaries from the breaking-VM over to the working-VM to see if the behavior moves/changes?

Not sur

[2019-08-21 20:46] cevich commented on #3870
confirmed: it's not the binaries, behavior remains the same after copying from breaking -> working VM.

Noticed this difference though, the breaking VM is running `kernel-5.2.8-200` vs working VM (from master) is using `kernel-5.2.7-200`.  Going to try upgrading that kernel, rebooting, and see if the problem starts happening...

[2019-08-21 20:55] cevich commented on #3870
JJF**($!!343$hg80*&#//**** :angry:

updated both VMs to `5.2.9-200.fc30.x86_64` rebooted, but the pattern remains: Problem reproduces on 1fedora-30-libpod-5420341990522880` but not `fedora-30-libpod-5751722641719296`.

[2019-08-21 20:57] rhatdan commented on #3871
Could you open an issue with buildah to add support.

[2019-08-21 21:04] TomSweeneyRedHat commented on #3871
We've `--squash` already for `commit` and `bud`.  We also have a `--max-layers` PR in flight waiting for a review from @nalind (hint, hint) https://github.com/containers/buildah/pull/1790.  Just recovered my laptop after it crashed (yet again), I'll go play.

[2019-08-21 21:06] oblitum commented on #3871
@rhatdan sure: https://github.com/containers/buildah/issues/1810

[2019-08-21 21:08] oblitum commented on #3871
@TomSweeneyRedHat I tried `--squash` when building initial image with `bud` but I've hit this issue, I couldn't use the flag at all: https://github.com/containers/buildah/issues/1806.

[2019-08-21 21:34] TomSweeneyRedHat commented on #3871
Assuming `buildah commit --squash` is working, it's not solving this issue from what I can see quickly.
I was hoping the below would work.  @nalind any thoughts?
[code]

[code]

[2019-08-21 22:07] rhatdan commented on #3212
@giuseppe PTAL

[2019-08-21 22:19] rhatdan commented on #3864
@giuseppe is this one of the bugs you fixed in fuse-overlay?

[2019-08-21 22:20] rhatdan commented on #3864
I would bet it works well with root podman as well.

[2019-08-21 22:29] rhatdan commented on #3865
@muayyad-alsadi I created github.com/containers/podman-compose and made you the administrator, you can checkout it out, copy all of youre content to the new repo and then push it to github.com/containers/podman-compose.

[2019-08-21 22:50] muayyad-alsadi commented on #3865
but in that case I guess we lose issues, history ,...etc.

when I clicked transfer it gave me

would you please delete that and then fork my repo as user containers?
I hope that would work

https://help.github.com/en/articles/transferring-a-repository

[2019-08-21 22:52] muayyad-alsadi commented on #3865
it seems I don't have any permission on `containers/podman-compose`

[2019-08-21 22:53] muayyad-alsadi commented on #3865
sorry my bad I did not see the invitation

[2019-08-21 22:55] muayyad-alsadi commented on #3865
it still gives me even after I accepted the invitation to become owner

[2019-08-21 22:57] sdeoras opened #3874 "podman cni error on k8s host with calico cni running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a k8s 1.15.2 cluster with Ubuntu 18.04 based nodes with CRI-O and Calico CNI. Running podman errors out as shown below. I would like to know if there is a way to configure system such that both k8s CNI and podman CNI can co-exist.

**Steps to reproduce the issue:**

1. Setup k8s 1.15.2

[2019-08-21 23:17] mheon commented on #3874
I believe @baude is working on the final stages of updating Podman to support that version of the plugins - so Podman 1.5.2 should have support

[2019-08-22 07:01] giuseppe commented on #3864
I think this is already fixed, but the rpm didn't hit Stable yet.  Could you try with https://bodhi.fedoraproject.org/updates/FEDORA-2019-ed81918b28 ?

[2019-08-22 07:07] giuseppe commented on #3212
now rootless Podman creates and joins the user namespace immediately so it would be very complicated to run the slirp4netns process in the initial user namespace.  I think for Podman the `sudo sh -c "echo 0 > /proc/sys/net/ipv4/ip_unprivileged_port_start"` workaround would be safer

[2019-08-22 09:31] rhatdan commented on #3865
@muayyad-alsadi You need to fork the repo, and add your content to it, then open up a PR to containers/podman-compose and we can merge in your code.

[2019-08-22 10:42] #3861 closed

[2019-08-22 10:43] muayyad-alsadi commented on #3865
that's now how github transfer work. that's just uploading a fresh code, in that way we lost all stars, issues, forks connections, and no redirect from old repo to new repo   ...etc.

on the other hand if you fork my repo, then if I clicked transfer and you accept my transfer then github will redirect every one to your repo (starts, forks, urls)

[2019-08-22 10:52] rhatdan commented on #3865
Ok lets try that.

[2019-08-22 10:56] rhatdan commented on #3865
I have forked your repo into containers/podman-compose and added you as an admin

[2019-08-22 10:56] barseghyanartur commented on #3865
GitHub transfer is a way to go. Fresh re-upload should not even be considered.

[2019-08-22 10:58] barseghyanartur commented on #3865
Forking is a bad idea. It shall be transferred.

[2019-08-22 11:00] barseghyanartur commented on #3865
https://help.github.com/en/articles/transferring-a-repository

[2019-08-22 11:15] vrothberg commented on #3865
I agree. A transfer will preserve the history etc. which would be very valuable to have.

[2019-08-22 13:45] rhatdan commented on #3865
@muayyad-alsadi I did not see any email?

[2019-08-22 13:49] muayyad-alsadi commented on #3865
very strange

![Screenshot from 2019-08-22 16-46-59](https://user-images.githubusercontent.com/1312683/63519975-8db89e00-c4fc-11e9-9d30-9fe16c4a8054.png)

I'm not sure how you are supposed to accept that or where it's supposed to appear to your.

[2019-08-22 13:50] dustymabe commented on #746
I found this project called `podman compose`. Haven't tried it but maybe what you are looking for: https://github.com/muayyad-alsadi/podman-compose

[2019-08-22 13:50] barseghyanartur commented on #3865
@rhatdan:

Did you check your spam folder? :)

[2019-08-22 13:54] dustymabe opened #3875 "RFE: podman-remote: support becoming root from other user (i.e. sudo)"
/kind feature

**Description**

I couldn't find this anywhere so forgive me if it is already implemented. I'd like to be able to access the root owned containers on a machine by leveraging an existing user that has sudo privileges. The usefulness of this is that a good number of machines don't allow the root user to log in, but an admin can access root containers via a user with sudo access.

Is t

[2019-08-22 13:58] rhatdan commented on #746
We are actually working to move this under the github.com/containers umbrella.

[2019-08-22 14:06] rhatdan commented on #3875
Good point, we should think about allowing it to go through sudo.
@baude WDYT?

[2019-08-22 14:09] baude commented on #3875
it might be possible but not trivial. ill take the assignment

[2019-08-22 15:22] oblitum commented on #3871
@TomSweeneyRedHat [as I commented before](https://github.com/containers/libpod/issues/3871#issuecomment-523597449), I get the same error when I use `import` from an image I've used `save`, the image works when I `load` the .tar, not `import`. If it's the same machine you used `save` and you didn't delete the original image, then it simply creates a new tag, otherwise it'll recreate the image.

I'm

[2019-08-22 15:36] oblitum commented on #3871
@TomSweeneyRedHat I'm trying buildah like you did about, except for the `import` part, but currently I'm failing for completely different reasons, `buildah commit --squash` fails because there's no space left on disk, this seems to be happening because it's using `/tmp` as temporary storage, and my image is big. Any way for to change the temporary storage of the operation?

[2019-08-22 16:00] rhatdan commented on #3871
@oblitum open an issue on this.  Probably should be using /var/tmp the default.
Might be buildah --runroot /var/tmp/containers ...
Not sure if buldah is using this directory for temporary storage.

[2019-08-22 16:16] oblitum commented on #3871
@rhatdan done https://github.com/containers/buildah/issues/1815.

[2019-08-22 22:16] oblitum commented on #3871
Folks, I've resized my `/tmp` to try this, gladly I had enough RAM for this attempt, and `buildah commit --squash` worked! After applying it and removing the original image, all overlayfs diff history was pruned from disk, and I earned a few megabytes in the process due to that.

So @TomSweeneyRedHat, as I [commented](https://github.com/containers/libpod/issues/3871#issuecomment-523952933), I gues

[2019-08-22 23:16] TomSweeneyRedHat commented on #3871
@oblitum glad it worked out for you!  I'll poke further at that error message when I get a chance.

[2019-08-22 23:36] oblitum commented on #3871
May I ask something here, thought I think it's off-topic but I ignore where to chat about podman. I've read that podman and docker containers/images are compatible, but I'm concerned whether an image created rootless will run fine in Docker for Windows, will it? My doubt comes due to the uid/gid mapping and what will happen on Windows.

[2019-08-22 23:42] TomSweeneyRedHat commented on #3871
@oblitum best asked on the Podman mailing list:  https://podman.io/mailinglist/

I've not tried what you're suggesting, but I think it would neat experiment, I'm going to guess you're spot on about the uid/gid mapping being "fun" in Windows, but it would be fun to try.  Others on the list might  have experience with that though.

[2019-08-22 23:53] oblitum commented on #3871
@TomSweeneyRedHat OK, thanks.

[2019-08-23 06:28] oblitum commented on #3871
OK, I've loaded the tarball on docker for windows and the image simply works :)

[2019-08-23 15:19] vrothberg opened #3878 "bash-completion: list files for `podman build -f`"
/kind feature

`podman build -f`[TAB] doesn't list files or completes paths. Having that would make it easier to use. Likely, other commands could benefit from that as well but I did not examine that yet.

[2019-08-23 18:10] matpen opened #3880 "Podman run ignores stdin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Seems like `podman run` ignores stdin.

**Steps to reproduce the issue:**

1. Execute:
[code]
and observe that there is no output.

2. Compare with the analogous command performed with `buildah`:
[code]
which correctly prints "hello world!".

**Describe the results you received:**

No output

[2019-08-23 18:18] mheon commented on #3880
Podman and Docker behave the exact same here, so I'd say this is expected behavior for that command. Add `-i` to your command like to keep `STDIN` open and it will work as expected.

The lack of compatability with Buildah here is a bit concerning, but our goal is to match Docker's command line, not Buildah's. @TomSweeneyRedHat Any thoughts here?

[2019-08-23 18:26] qmeeus opened #3881 "Permission error when creating files in mounted volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I have a container which mounts a volume at runtime (using -v). I create a database and migration files in the container as user with uid > 10000. My host uid is < 10000. Therefore, I am having permission errors when those files are created. I am aware that setting my directory permissions to

[2019-08-23 18:31] TomSweeneyRedHat commented on #3880
As long as Docker and Podman's behavior is the same, then I'm good.  The run command is one that differs between Buildah and Podman.  In short Buildah's run command is supposed to emulate the "RUN" command found in a Dockerfile while Podman's is meant to handle running the container from the command line.  Different beasts as far as how they each handle IO.

@nalind any other highlight that I miss

[2019-08-23 18:36] mheon commented on #3881
I assume you're running Podman as non-root?

If so, you might want to try removing the `--user` part of your command line. There are a few security benefits to running applications in rootless containers as UIDs other than 0, but they're not really that significant. UID 0 in the rootless container is the user that launched Podman, not real root on the system - it's not a privileged user, and has n

[2019-08-23 18:50] qmeeus commented on #3881
Yes of course, all point of using podman ;-)

I rebuilt the container without creating a user, meaning that the container will run as root from now on. I also removed all mentions of `--user` in the run/exec commands. This seemed to solve the problem. The key was indeed NOT to create a user in my Dockerfile so that the container runs as root. Since I like to have the option to use both docker and

[2019-08-23 21:25] matpen commented on #3880
This indeed works. Thanks for the hint!

[2019-08-24 12:33] afbjorklund commented on #3875
The workaround in boot2podman (as compared with boot2docker) was to allow the sudo user (i.e. the default user for ssh that has sudo rights) to login as root as well (using the same authorized_keys).

[2019-08-24 12:46] afbjorklund commented on #3875
For minikube we will probably just _skip_ using varlink, there are only like two commands that are needed anyway (`podman load` and `podman build`) and those can use the regular `ssh sudo podman` instead.

Everything else can use `kubectl` or `crictl` from Kubernetes, there is no immediate need to clone the `minikube docker-env` command IMHO. The only downside is that "build context" needs to be h

[2019-08-24 18:11] oblitum commented on #3790
I get that warn too the first time I run podman on my machine, afterwards it doesn't show up anymore, until I reboot.

[2019-08-24 19:31] alitvak69 commented on #3835
Has issue #3838 been addressed?  If so is it 1.5.1 or it becomes 1.5.2?  Reading the issue, it seems to have no effect in ubuntu, correct?

[2019-08-25 11:57] #3880 closed

[2019-08-25 14:45] gaord opened #3882 "In MacOS, latest version(1.5.1) of podman can't pull images."
/kind bug

**Description**
In MacOS, latest version(1.5.1) of podman can't pull images.

**Steps to reproduce the issue:**

1. In MacOS console, run "brew cask instal podman"

2. do a pull to see the issue

3.

**Describe the results you received:**
here is the result:
bogon:Downloads test$ podman pull quay.io/openshift-release-dev/ocp-release@sha256:c28afba66cc09233f7dfa49177423e124d939cf5b0cd60d

[2019-08-25 14:59] baude commented on #3882
@gaord curious if you were following any instructions for this?

[2019-08-25 16:01] gaord commented on #3882
@baude not quite. Just new to podman from docker. Any ideas?

[2019-08-25 16:36] baude commented on #3882
the way that the mac client works is that it needs a vm running Linux and Podman to connect to ... you then, using a configuration file, can point to that VM and interact with it.

[2019-08-25 16:46] mheon commented on #3882
The Mac client defaulting to a local endpoint sounds like a bug, though

[2019-08-25 16:55] baude commented on #3882
no it isnt ... but the error could be better

[2019-08-26 01:01] kunalkushwaha commented on #3854
I am able to reproduce this issue, will look into it.

/assign

[2019-08-26 07:09] kunalkushwaha commented on #3854
This issue is already fixed with upstream code.

[code]

Shall be available with next release.

[2019-08-26 07:48] saschpe opened #3884 "login doesn't display server-side error message"
/kind bug

**Description**

*podman login* doesn't display server-side error message when it fails.

**Steps to reproduce the issue:**

1. `podman login registry.gitlab.com`
2. enter random credentials

**Describe the results you received:**
The following response seems hardcoded:

**Describe the results you expected:**
While it should have returned the error message as provided by the authenticat

[2019-08-26 07:55] vrothberg commented on #3884
Hi @saschpe, thanks for opening the issue! @QiWang19, would you have a look at it? I guess we might need some changes in c/image as well.

[2019-08-26 07:57] vrothberg commented on #3884
I have a weak preference to put this error into the debugging logs  to avoid cluttering the output but maybe others feel differently about it.

[2019-08-26 08:28] saschpe commented on #3884
Depends on how output for other registries looks like but this is important information for end users. It took me quite a while to figure out the issue. In fact I had to install *docker* again to double-check the matter ;-)

[2019-08-26 12:29] qmeeus commented on #3881
I am closing this issue as this is not a bug

[2019-08-26 12:29] #3881 closed

[2019-08-26 15:24] #3869 closed

[2019-08-26 15:24] #3840 closed

[2019-08-26 15:30] ajatman opened #3885 "Podman Doesn't Honor Dockerfile Syntax"
/kind bug

**Description**

Podman does not honor valid `Dockerfile` syntax. Rootless builds.

**Steps to reproduce the issue:**

The following Dockerfile is valid:

Dockerfile:

[code]

Does not work with `podman`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

*

[2019-08-26 16:50] #3885 closed, assigned to TomSweeneyRedHat

[2019-08-27 11:53] vrothberg commented on #3421
@rhatdan @giuseppe can you have a look?

[2019-08-27 12:15] clueo8 opened #3890 "Namespace issue when running unprivileged (non-root) container in archlinux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Installed podman from pacman, followed guides for /etc/subuid and /etc/subgid and also kernel.unprivileged_userns_clone=1.  When trying to do a simple test of running httpd, it fails to run.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe t

[2019-08-27 12:43] vrothberg commented on #3890
Are they owned by root?

[2019-08-27 12:54] undecaf opened #3891 "'volume rm' requires complete volume name instead of unambiguous volume name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman volume rm` requires the _complete_ volume name whereas containers can be identified by an _unambiguous abbreviation_ of their name.

**Steps to reproduce the issue:**

1. `podman volume create a`
`podman volume create insanelylonghashstring`

2. ` # i unambiguously identifies insanely

[2019-08-27 19:49] edsantiago opened #3894 "podman cp: unexpected mkdir on symlink expansion"
`podman cp` into a container, when the destination argument is a symlink pointing to a nonexistent path, and includes a trailing slash, will (surprisingly) mkdir that path:
[code]
When copying to `/tmp/d1/x`, where x points to nonexistent `/tmp/nonesuch1`, podman created the file `/tmp/nonesuch1`. This is weird: I would've expected an error (dangling symlink). But this is the same behavior as dock

[2019-08-27 21:48] undecaf commented on #3891
@mheon I am sorry that I did not take a look at Docker first.
Nevertheless, being able to abbreviate volume names in certain situations would be a nice time-saver.

[2019-08-28 01:23] kailin4u commented on #2542
--------
works for me at ubuntu 18.04

[2019-08-28 08:51] marusak opened #3897 "podman coredumps when commiting through varlink with wrong arguments"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
With new version of podman (`podman-1.5.1-3.fc30.x86_64`) podman coredumps when I am trying to commit and I provide wrong arguments. This works fine  when done with commandline directly.

**Steps to reproduce the issue:**

1.  `sudo podman run --name c1 fedora`
2. `sudo varlink call unix:/run/

[2019-08-28 11:03] vrothberg commented on #3890
Great. I assume the machine wasn't rebooted after `kernel.unprivileged_userns_clone=1`?

[2019-08-28 11:14] vrothberg commented on #3890
I'd expected it to work via `sysctl`. @rhatdan might have know?

[2019-08-28 13:05] #3890 closed, assigned to nobody

[2019-08-28 14:22] qmeeus commented on #1797
Hi @giuseppe ,
can you please illustrate? I have set up the `http_proxy` and `https_proxy` environment variables and they work fine with `curl`, however, podman login is left hanging...

[2019-08-28 18:58] praiskup opened #3903 "tput cols/tput lines gives wrong results in `podman exec`"
Correct output from `podman run`
[code]

Wrong output in `exec` from the same container:
[code]

[code]

[2019-08-28 19:00] praiskup commented on #3903
I used separate terminal, in separate tab in `konsole` (but I tried separate terminal in `gnome-terminal`, and I have the same results).

[2019-08-29 01:19] cgwalters commented on #3300
Did a test with rootless and
[code]

and yeah, seems to work now.

[2019-08-29 04:51] rusty-eagle commented on #3421
I had a similar problem on **openSUSE Tumbleweed**.  I had run the following commands:

But I was still getting errors like this:

And this:

I could see that **newuidmap** and **newgidmap** are installed.  **The fix** for me was this command:

`podman system migrate`

##### system info #####
Distributor ID:	openSUSE
Description:	openSUSE Tumbleweed
Release:	20190824

5.2.9-1-default #1 SMP Fri Au

[2019-08-29 07:19] vrothberg commented on #3421
Thanks for the info, @rusty-eagle! `system migrate` is usually needed when upgrading to a new version of Podman. I assume that the package missed adding that to the post-install section (Cc @marcov @flavio @sysrich). @lsm5, @mheon, how's Fedora tackling migration? I couldn't find references in the spec files.

[2019-08-29 08:46] marcov commented on #3421
@vrothberg , that's something defintely missing in the "post-install" section.
A couple of points:
- is it OK doing that at every package upgrade?
- you may consider adding a hint for the `podman system migrate` command for libpod runtime failures like those.

[2019-08-29 08:49] vrothberg commented on #3421
@mheon and @lsm5 will know.

We definitely need to improve the error messages, especially for cases where we know how it can be resolved.

[2019-08-29 09:20] marcov commented on #3421
@rusty-eagle: I'd like to know what's the set of commands you run on Tumbleweed to get:

and @vrothberg: do you know why `podman system migrate` fixed that?

[2019-08-29 09:29] vrothberg commented on #3421
Not really, no. `migrate` is currently only focusing on locks and I don't see how that could impact unser-namespace issues.

[2019-08-29 10:23] undecaf commented on #3891
@rhatdan @mheon Thanks! And will do ...

[2019-08-29 10:23] #3891 closed

[2019-08-29 11:33] rhatdan opened #3905 "rootless podman run --device /dev/fuse:/dev/fuse1 is broken."
[code]
Looks like when their is a rename operation code attempts to create a device node rather then just setting up a bind mount from the host.

[2019-08-29 11:35] rhatdan commented on #3905
Did a quick scan of the code to find out how this works in rootless mode, and so far have not found it.

[2019-08-29 13:01] mheon commented on #3421
Migrate is actually unrelated to locks. It does configuration rewrites as
necessary to fix database issues from containers created with older
versions of Podman. As of now, that only includes one single issue.

However, it does have the side effect of forcing a full restart of all
containers including the rootless init process (for safety). That is
probably what is fixing the issue.

On Thu, Aug 2

[2019-08-29 14:10] ashley-cui commented on #3882
@rhatdan I think it is working correctly; the error message looks like it's telling the user that it's not connected to a remote host. I can see if I can try to edit the error message to have better information?

[2019-08-29 14:15] TristanCacqueray opened #3906 "Container storage leak when the podman process is SIGKILL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When the podman process is SIGKILL midway, the container storage leaks and it is not obvious how to clean it up.

**Steps to reproduce the issue:**

Run this script:

[code]

Sample output:
[code]

**Describe the results you received:**

Once this happens, to be able to re-use the `test-serve

[2019-08-29 14:20] haircommander commented on #3903
thanks for the issue @praiskup  I was able to reproduce. I'll look into it

[2019-08-29 14:20] vrothberg commented on #3906
Hi @TristanCacqueray, thanks for opening the issue. There's something odd with the version since podman-version claims `1.4.5-dev`but the package is `podman-1.5.1-3.fc30.x86_64`. I have the very same package installed on my machine but podman returns the correct version.

Can you if you used the correct binary?

[2019-08-29 14:25] TristanCacqueray commented on #3906
Oops, it was a devel version in ~/.local/bin... Using the system podman resulted in the same behavior. Here are the new debug info:
[code]

[code]

[2019-08-29 14:28] mheon commented on #3906
If we finally have a consistent reproducer for this, that's a very good thing - removing storage happens *before* containers are evicted from the database, so figuring out why it's failing but the container is still not in the Libpod DB might let us fix this for good.

On `inspect` showing the container - I would not expect `inspect` to be able to locate containers not in our database. There is so

[2019-08-29 14:31] vrothberg commented on #3906
@mheon, I can share some of my cycles. Want me to have a look?

[2019-08-29 14:31] TristanCacqueray commented on #3906
Here is a new sample log using system podman:
[code]

[2019-08-29 14:35] TristanCacqueray commented on #3906
@mheon perhaps the `podman run` failure in that situation could hint at using "podman rm --storage" or something. It currently says "You have to remove that container to be able to reuse that name.: that name is already in use".

[2019-08-29 17:21] rhatdan commented on #3882
@ashley-cui Please tell @gaord how to set it up, or point him to documentation on how to do it.

[2019-08-29 17:31] ashley-cui commented on #3882
@rhatdan Is it beneficial to add a documentation on where we are currently on the mac client? Since the explanation will be pretty long anyway, should we start something like a mac_client.md, or a mac section or remote_client.md, or some sort of blog post regarding where we are and how to use it?

[2019-08-29 18:14] ashley-cui commented on #3882
Here's a brief write up: @gaord

Hi! So in order to use the the podman client on mac, currently, you have to have a linux machine running somewhere. It could be a vm or another physical machine.
In order to connect to it, you can use environment variables, flags, or the podman-remote.conf file.

To connect using flags, you can use `podman --remote-host linux-ip --username root`
Take a look at podm

[2019-08-29 18:16] mheon commented on #3882
A small addendum, but I would strongly recommend use SSH key authentication, as opposed to allowing passwordless root login - much safer

[2019-08-29 19:16] rhatdan commented on #3882
@ashley-cui Lets make a mac_client.md

[2019-08-29 20:12] agners commented on #1516
I run into the same issue after installing `fuse-overlayfs` and simply changing the driver from `vfs` to `overlay` in `~/.config/containers/storage.conf`. I guess ideally podman should add some hint how to properly migrate to `overlay`.

[2019-08-29 20:22] rhatdan commented on #3870
This could definitely cause a race.
    pr build -t build_test --format=docker $tmpdir
    pr run --rm build_test cat /myfile
When this command finishes the image is still mounted.  conmon will execute `podman container cleanup`, but after the run command finishes.
    pr rmi -f build_test
If this command executes before `podman container cleanup` finishes you can get this error.

[2019-08-29 20:23] rhatdan commented on #3870
@mheon Is my assumption correct.  Does podman container cleanup take care of the --rm as well?

[2019-08-29 20:25] giuseppe commented on #3905
in the OCI config file it is converted to:

[code]

the OCI runtime should try to list all the devices to find the correct bind mount.

I think it is safer to fix it in Podman, and when running in rootless mode automatically create the bind mount instead of the device.

[2019-08-29 20:28] rhatdan commented on #1516
@mheon If we moved to my patch that allowed multiple storage drivers this would not be an issue, other then the wasted disk space.

[2019-08-29 20:30] rhatdan commented on #3905
Yes, we have a similar issue with BUILDAH_ISOLATION=chroot.

[2019-08-29 20:40] edsantiago commented on #3870
Thanks @rhatdan. If this is the case, would it be possible to have `run --rm` block until conmon finishes cleanup?

And if that's not possible, I'd like to request a clear documentation update stating something like:

     podman-remote run --rm actually means "remove the container some time in
     the future, not necessarily now", and is not actually guaranteed to remove
     the container. If y

[2019-08-29 20:46] rhatdan commented on #3870
Yes I agree it should be cleaned up, but I am not sure if my theory is correct.

[2019-08-29 20:50] giuseppe commented on #3905
opened a PR: https://github.com/containers/libpod/pull/3909

[2019-08-29 21:11] mheon commented on #1516
@agners You need to set in your `libpod.conf`:

[code]

@rhatdan I think this is a mount options thing - I don't know if your multi-driver patch fixes it?

[2019-08-29 21:13] #3897 closed

[2019-08-29 21:18] mheon commented on #3870
`podman run --rm` should, if attached (not run with `-d`), block until container removal is complete. I don't think there's a potential for races, either.

[2019-08-29 23:20] gaord commented on #3882
Thanks all. that makes sense for me. -Ben

[2019-08-30 04:45] cameronbraid opened #3910 "podman push fails : Error copying image to the remote destination...no such file or directory"
/kind bug

**Description**

podman build completes, then following podman push fails, both to docker or to a remote registry

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Push should succeed

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm

[2019-08-30 05:19] cameronbraid commented on #3910
This works if you run podman as root

[code]

[2019-08-30 07:52] kunalkushwaha commented on #2979
I would like to take this up.

/assign

[2019-08-30 08:18] kunalkushwaha commented on #3000
I took look at this issue.

The filesystem issue seems to be fixed. Though error are for `journald` & `network`.
With wsl2, we will have native kernel running, I think these issues will be fixed with that.

We can close this issue.

[code]

[2019-08-30 10:07] rhatdan commented on #1516
I am talking about people running with vfs then installing fuse-overlayfs, then adding the mount_program and changing driver.  They still can not run until they rm -rf ~/.local/share/containers

With multiple drivers, you would not need to do the last step.

[2019-08-30 10:09] rhatdan commented on #3870
Well @edsantiago is seeing what looks like a race when using the varlink connection.

[2019-08-30 10:44] marcov opened #3912 "pkg cgroups fails to detect cgroupv2"
/kind bug

**Description**

I think `pkg/cgroups` `IsCgroup2UnifiedMode()` may not correctly detect if the cgroup v2 is used.

It is  checking the superblock magic number of `/sys/fs/cgroup`, that's a tmpfs mount. Instead, it should check `/sys/fs/cgroup/unified`.

**Steps to reproduce the issue:**

1. (set `cgroup_manager= "cgroupfs"` in libpod.conf)

2. Run a container

This is printed in the lo

[2019-08-30 10:46] saschagrunert commented on #3912
We encounter the same issue in CRI-O on the latest master and v1.15.0:

[code]
[code]

[2019-08-30 11:03] vrothberg commented on #3912
Hi @marcov, thanks for opening the issue!

@giuseppe PTAL

[2019-08-30 11:26] giuseppe commented on #3912
There should not be any /sys/fs/cgroup/unified when cgroup-v2 only is used.  The mounts table shows you are running in hybrid mode, and that is not supported. A controller can either be assigned to cgroup v1 or to cgroup v2, making things really confusing.

More info here: https://systemd.io/CGROUP_DELEGATION.html#three-different-tree-setups-

[2019-08-30 11:52] saschagrunert commented on #3912
Thanks for the hint @giuseppe, but how do we put systemd in cgroup-v2 only mode? Would it work to set something like `systemd.unified_cgroup_hierarchy=1`?

[2019-08-30 12:03] edsantiago commented on #3870
Small correction: I've never seen it; only @cevich has seen it.

[2019-08-30 12:11] giuseppe commented on #3912
Yes, you will need to modify the kernel cmdline and include `systemd.unified_cgroup_hierarchy=1`

[2019-08-30 13:18] marcov commented on #3912
I tried to boot using that cmdline and I get this:
[code]

Also, running integration tests in cri-o now gives:
[code]

[2019-08-30 13:22] vrothberg commented on #3912
@marcov, are you using crun or runc? runc doesn't support v2 yet, so we need to use crun for the time being. Not sure if that causes the issue though.

[2019-08-30 13:23] marcov commented on #3912
It's runc, yes, thanks for pointing that out. But, the `WARN` is coming from libpod, not runc.

[2019-08-30 13:32] cevich commented on #3870
@mheon wrong answer.  The correct answer is: Oh, I saw this problem yesterday and just merged a fix :grinning:

@mheon remember this is podman-remote -> podman.  Perhaps podman-remote is exiting before podman/conmon finish their job?

With Ed's reproducer script, this very reliably reproduces for me (using hack/get_ci_vm.sh on the images mentioned).  Would running in debug mode help at all?  How c

[2019-08-30 13:37] mheon commented on #3910
Hmm. And you have access to the Docker socket as the user you're running Podman as?

This seems to be coming out of c/image (`copy.Image()`). However, the missing file doesn't look like c/image code as much. @mtrmac Does this look like it might be a c/image bug, or would you suspect this is something about the interaction of build and push?

[2019-08-30 13:44] rhatdan commented on #3910
@vrothberg any ideas?

[2019-08-30 13:46] vrothberg commented on #3910
Was just looking at it. It doesn't look c/image related but the error is just surfacing there (reading from the source, writing to the destination).

[2019-08-30 13:52] rhatdan commented on #2979
@kunalkushwaha Thanks.  I have been thinking a little about this.  Basically allowing tools to grow the ability to copy between different containers storage.  Either between users or between hosts.

I look forward to your ideas.

[2019-08-30 13:52] cameronbraid commented on #3910
Yep, its talking to docker just fine

[code]

[code]

[2019-08-30 13:53] vrothberg commented on #3910
@cameronbraid, the error only occurs when pushing to a registry?

[2019-08-30 13:53] #3000 closed

[2019-08-30 13:54] cameronbraid commented on #3910
Occurs when pushing only, either to docker-daemon or a container registry like harbor

[2019-08-30 13:56] vrothberg commented on #3910
I am a bit confused. In the upper comment (https://github.com/containers/libpod/issues/3910#issuecomment-526609757), pushing to the daemon worked.

[2019-08-30 14:00] vrothberg commented on #3910
@cameronbraid, can you share the `--log-level=debug` logs when pushing to a registry?

[2019-08-30 14:08] cameronbraid commented on #3910
That last comment uses a different Dockerfile - the difference being step 2 "RUN apt-get update" was removed to demonstrante that podman can talk to docker registry fine

Here's the initial push with `--log-level=debug`

[code]

[2019-08-30 14:16] vrothberg commented on #3910
Which kind of file system is on `/media/workspace-data`?

[2019-08-30 14:18] cameronbraid commented on #3910
/dev/mapper/ssd2-workspace--data on /media/workspace-data type ext4 (rw,relatime,errors=remount-ro)

[2019-08-30 14:35] vrothberg commented on #3910
@cameronbraid, thanks a lot for sharing the information! There's nothing jumping in my eye yet. Could you try doing the same but running podman as root? Please make sure to have the graph root on `/media/workspace-data` again. I want to figure out if it may be an issue with fuse-overlayfs. Speaking of which, could you also share the output of `fuse-overlayfs -V`?

@giuseppe @rhatdan @baude @mheon

[2019-08-30 14:37] rhatdan commented on #3910
I agree. Seems to be fuse-overlay issue.

[2019-08-30 14:40] cameronbraid commented on #3910
[code]

Not sure how to configure the graph root to be on another device.

That aside, when running as root podman works with the same Dockerfile, build and push.

[2019-08-30 14:42] vrothberg commented on #3910
Thanks a lot @cameronbraid! I think we need to update fuse-overlayfs in the Ubuntu ppa. The latest version is `v0.6.1`. @lsm5, can you have a look?

[2019-08-30 14:57] mtrmac commented on #3910
This is reporting an internal inconsistency in expanded images managed by c/storage. (IIRC that the recorded tarsplit metadata refers to files which are not present on the actual filesystem.)

So, root/non-root may not be the actual difference; it could well be “already corrupted store / not an already corrupted store”.

If you search for `no such file or directory` in the containers/* repos, ther

[2019-08-30 15:03] cameronbraid commented on #3910
What do I delete to `remove local storage` - my graphroot ?

[2019-08-30 15:14] alitvak69 commented on #3835
@lsm5 Any update on this?

[2019-08-30 15:14] rhatdan commented on #3910
[code]

[2019-08-30 15:20] cameronbraid commented on #3910
I removed the graph root and retried and am getting the same issue.

[2019-08-30 15:25] cameronbraid commented on #3910
Its not just that file that is missing `/media/workspace-data/cameronbraid-local/share/containers/storage/overlay/67c727ee8a587390171c8f8be3206e6cde844819265f1542b822893b52e8626d/merged/var/lib/apt/lists/archive.ubuntu.com_ubuntu_dists_xenial_InRelease` but the merged folder is missing: `/media/workspace-data/cameronbraid-local/share/containers/storage/overlay/67c727ee8a587390171c8f8be3206e6cde844

[2019-08-30 15:26] rhatdan commented on #3910
What happens if you do a podman mount of the container, can you see the content?

[2019-08-30 15:51] cameronbraid commented on #3910
does this help :

[code]

[2019-08-30 16:24] dsalaza4 opened #3917 "Podman in podman as rootless user?"
/kind feature

**Description**

I am trying to run a podman container inside another podman container (just like docker in docker) in rootless mode.
I was not able to find any helpful information on the web :disappointed:
Actually, I would appreciate if someone can confirm if this is actually possible.

**Steps to reproduce the issue:**

I am running podman in Ubuntu 19.04.

1. Create the dockerfi

[2019-08-30 18:09] mheon commented on #3917
I think you'll have to use the VFS storage driver inside the second container; I don't think fuse-overlay enjoys being layered.

Also, you'll probably only have the use of 1 UID/GID in the inner container, and you'll have to use the ignore chown errors storage option to make that possible. It may be feasible to get newuidmap/newgidmap running inside the rootless container with appropriate mappings

[2019-08-30 18:09] mheon commented on #3917
In short, I think this has been tried, and it can probably be made to work - but there will be serious limitations, I think.

[2019-08-30 22:18] giuseppe commented on #3910
indeed.  Let's first try with an updated version of fuse-overlayfs.  0.3 is really old (released in January) and a lot of changes went in since then.

[2019-08-31 05:41] cameronbraid commented on #3910
Some good news, fuse-overlayfs 0.6.1 fixes it

[code]

[2019-08-31 05:41] #3910 closed

[2019-08-31 05:42] cameronbraid commented on #3910
Would be good to get the ubuntu PPA up to date.  I just built using podman and coppied the binary out of the container into my host

[2019-08-31 14:46] QazerLab opened #3919 "Rootless `podman run --privileged` fails if there is an inaccessible `/dev` subdirectory"
/kind bug

**Description**

Current implementation of privileged containers [uses](https://github.com/containers/libpod/blob/8ba21acd459069cd53b492d46736b85c3436296b/pkg/spec/config_linux.go#L117-L120) `libcontainer`'s `HostDevices()` function to obtain the list of host devices. This function [returns any error arising](https://github.com/opencontainers/runc/blob/51f2a861da7fb1d4f6f8370a60258c6f31

[2019-08-31 15:46] mheon commented on #3919
@giuseppe Probably related to the code added to add devices to privileged rootless containers?

[2019-08-31 17:36] fkaempfer commented on #3302
I get the same error consistently when running
[code]
And while it is open
[code]
Is this the same issue? Can somebody reproduce this? I was wondering if something is wrong on my end (Fedora 30 with podman both from master or official)

[2019-08-31 22:23] itamarst commented on #3865
Docker Compose just added support for running Docker CLI, instead of using API (https://github.com/docker/compose/pull/6865). This would in theory enable plain old Docker Compose to work with podman, I think?

[2019-08-31 22:32] giuseppe commented on #3919
since I already have a PR that changes the code to handle devices when rootless, I've added a patch to take care of this issue as well: https://github.com/containers/libpod/pull/3909

[2019-08-31 23:00] mheon commented on #3865
That sounds very interesting - worth trying it, definitely

On Sat, Aug 31, 2019, 18:23 Itamar Turner-Trauring <notifications@github.com>
wrote:

[2019-08-31 23:04] muayyad-alsadi commented on #3865
It does not work like that.
The main objective of podman-compose is to run unmodified docker-compose files *rootless*. It has to do some changes under the hood to make it work rootless for example, it creates a single pod and share its network namespace and add-host that point the name of the service to localhost which is the shared network namespace.

[2019-09-01 10:21] rhatdan commented on #3302
[code]
But I get the same error
[code]

[2019-09-01 10:22] rhatdan commented on #3302
@mheon @haircommander PTAL

[2019-09-02 01:53] sunnychanwork commented on #3000
Just FYI, WSL1 doesn't work with systemd and therefore jorunald is not installed by default.

[2019-09-02 06:58] vrothberg commented on #3865
I am closing this issue since podman-compose now resides at https://github.com/containers/podman-compose. Feel free to continue the conversation here or to move it over to https://github.com/containers/podman-compose.

[2019-09-02 06:58] #3865 closed

[2019-09-02 10:12] adrianreber commented on #3850
@umohnani8 please let me know how it failed and which versions (OS, kernel, criu, podman) you were using.

[2019-09-02 10:31] shaicoleman commented on #2544
I'm experiencing this issue with podman 1.5.0 on Ubuntu 18.04 (1.5.0-2~ubuntu18.04~ppa5)

I have a line, e.g.
`COPY --chown=myuser:myuser config myapp/config/`

And it doesn't seem to recognise when files have changed.

[2019-09-02 10:41] ViceIce commented on #3790
A workaround for the permission issue on `docker-desktop`:

https://github.com/docker/for-win/issues/4627
https://github.com/docker/for-mac/issues/3838

[2019-09-02 11:16] rhatdan commented on #2544
@shaicoleman Please open a new issue, if you believe this is a new problem.

[2019-09-02 11:27] giuseppe commented on #3917
this is not a supported use case (yet), but if you want to play with it:

- `--privileged` is needed.  It doesn't give any root permission.  Rootless podman never has that privileges (except for setting up the user namespace using newuidmap/newgidmap, but that must be configured by root anyway).
-- you will either need to use `--cgroup-manager=cgroupfs` or try to bind mount `/var/run` from the hos

[2019-09-02 11:34] shaicoleman opened #3920 "`podman build` COPY reuses cache even when files have changed"
/kind bug

**Description**

Similar to issue #2544 , might be related to #3921

**Steps to reproduce the issue:**

After running the initial build

In the Dockerfile I have a COPY line, e.g.
`COPY --chown=myuser:myuser config myapp/config/`

I run the build command:
`sudo podman build --rm --build-arg RAILS_ENV=development --build-arg NODE_ENV=development --file rails/Dockerfile -t myimage ..`

Af

[2019-09-02 11:39] shaicoleman opened #3921 "`podman build` does not reuse cache when current directory changed"
/kind bug

**Description**

When changing the directory context, the cache isn't used, even if it points to the same directory.

**Steps to reproduce the issue:**
[code]

**Output of `podman version`:**
[code]

**Output of `podman info --debug`:**
debug:
  compiler: gc
  git commit: ""
  go version: go1.10.4
  podman version: 1.5.0
host:
  BuildahVersion: 1.10.1
  Conmon:
    package: 'conmon: /us

[2019-09-02 14:30] shaicoleman opened #3923 "Ubuntu PPA out of date"
/kind bug

**Description**

The Ubuntu PPA is out of date. The latest version is 1.5.1, while the latest version on the PPA is 1.5.0

Would be great if the PPA would automatically be update whenever there's a new release.

It would save everybody time not having to deal with bugs that have already been fixed in newer versions.

[2019-09-02 15:09] mheon commented on #3923
@lsm5 PTAL

[2019-09-02 15:16] lsm5 commented on #3923
@mheon @shaicoleman yup, I had disabled autorebuild on podman cause of #3838 (sorry I felt it was troublesome). Let me re-enable it given the issue is fixed.

[2019-09-02 15:26] mheon commented on #3921
@TomSweeneyRedHat PTAL

[2019-09-02 15:27] mheon commented on #3920
@TomSweeneyRedHat PTAL

[2019-09-02 16:42] lsm5 commented on #3923
packages built at https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages ... taking a while to publish though, no idea why, should be done in sometime I hope. @shaicoleman please close this once you see the new builds on your env, thanks.

[2019-09-02 16:52] shaicoleman commented on #3923
They are updated now, thanks!

[2019-09-02 16:57] shaicoleman commented on #3920
Happens also with 1.5.1

[2019-09-02 17:52] matpen opened #3924 "Keep older versions in OBS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I have noticed that, whenever a new `podman` (or `buildah`)  release comes out, the PPA is updated with the new one, but the old ones are removed. This makes it hard to pin versions in install scripts.

Is it possible to keep older versions in the PPA (at least a few back)?

**Steps to re

[2019-09-02 17:56] baude commented on #3924
@lsm5 ptal

[2019-09-02 18:06] #3905 closed

[2019-09-02 18:06] #3919 closed

[2019-09-02 22:29] mheon commented on #3866
I think both of these could be pretty easily dropped into `generate systemd` as defaults based on a rootless.IsRootless() check

[2019-09-03 07:43] E100Beta commented on #3920
Same problem using multi-stage build and using `COPY . .` in second stage - I change files, but cache still used. Works fine in single-stage builds.

[2019-09-03 10:09] #3866 closed

[2019-09-03 10:50] rhatdan commented on #3921
@shaicoleman Best to open issues against https://github.com/containers/buildah for build issues, since podman is just using buildah code to do `podman build`

[2019-09-03 11:19] rhatdan commented on #3920
Probably best if these issues were opened on github.com:containers/buildah then on podman, since podman is just vendoring in buildah code.

[2019-09-03 12:40] giuseppe commented on #3912
@marcov can this be closed?

[2019-09-03 13:47] marcov commented on #3912
yes @giuseppe, closed

[2019-09-03 13:47] #3912 closed

[2019-09-03 14:06] EmilienM commented on #2553
Note: related to https://github.com/containers/libpod/issues/3906

[2019-09-03 15:24] holser commented on #3906
podman should act with /var/lib/containers/storage/overlay-containers/containers.json based on ACID. SIGTERM or SIGKILL shouldn't corrupt containers.json. Having containers.lock is not enough to implement ACID.

[2019-09-03 15:31] carlpett opened #3929 "Podman push to Docker Hub does not "finalize"?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Pushing an image to Docker hub does not seem to "finish all the parts". I'm not sure where exactly it misses something, but it seems the final manifest might not be uploaded?
Docker Hub seems a bit confused about it too - the image doesn't show up in their views, but when working with the speci

[2019-09-03 15:34] mheon commented on #3929
Hm. Are we pushing the image successfully, but not the tags, I wonder?

[2019-09-03 15:35] mheon commented on #3929
@vrothberg You're a lot more familiar with the image side of things than I am - mind taking a look?

[2019-09-03 15:37] mheon commented on #3906
I haven't seen any corrupted `containers.json` yet. Here, we're seeing a failure to remove for reasons we've yet to determine - but the storage metadata is intact. The container can be removed, but later.

@holser If you have a corrupted `containers.json` that's a separate issue - and significantly more serious, because that sounds like it would break storage a lot worse than this does.

[2019-09-03 15:40] carlpett commented on #3929
There's probably some sort of bug/usability issue with Docker Hub as well, but I couldn't find any way to report it to them... If you have any connections, might make sense to get them to look at it too :)

[2019-09-03 15:46] vrothberg commented on #3929
@carlpett, @mheon, thanks for opening the issue and the ping. I will have a look at this tomorrow morning (about to shut down machines now).

[2019-09-03 16:01] cevich commented on #3870
@mheon I managed to catch this in the act by instrumenting the system-test that reproduces it:

[code]

You can see what the test is doing in the diff.  When it reproduces, it happens on that last rm -f line:

[code]

So clearly a race here ***is*** possible, but perhaps (somehow) more likely when podman-remote is being used?

is it impossible for the `run ... --rm` to verify removal before exit?

[2019-09-03 16:06] mheon commented on #3870
Have we ever seen this without remote being involved? This should not be possible for local Podman.

[2019-09-03 16:34] TomSweeneyRedHat commented on #3929
Is this related to: https://github.com/docker/hub-feedback/issues/1871?  Which first cropped up in https://github.com/containers/buildah/issues/1826.   It looks like Docker hub is having problems with OCI images at the moment and that should be fixed next week.  I think this is the same.

[2019-09-03 17:13] cevich commented on #3870
@mheon As best as I can recall, I have not seen it.  Even with podman-remote it doesn't always happen.  Is it possible for podman-remote to special-case this, and verify removal happens before exiting (assuming there was no networking-error)?

[2019-09-03 20:48] mheon opened #3932 "Podman tutorial lacks rootless setup instructions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

Docs

**Description**

A friend ran through the initial Podman tutorial, and discovered that things immediately didn't work - he was getting the usual `lchown` errors from missing `/etc/subuid` and `/etc/subgid` mappings. However, he had no idea what was going on, because there are no rootless troubleshooting instructio

[2019-09-03 20:49] mheon commented on #3932
We may want to combine the rootless tutorial and normal tutorial if we're recommending that the tutorial be run without root

[2019-09-03 20:58] TomSweeneyRedHat commented on #3932
@ipbabble I think you said you were going to touch up the tutorial with this in mind?  Am I mis-remembering?

[2019-09-04 07:24] vrothberg commented on #3929
Pushing non-latest tags to the Docker Hub works now. Closing the issue. Again thanks for opening the issue :+1:

[2019-09-04 07:24] #3929 closed

[2019-09-04 13:22] rhatdan commented on #3870
Looking at the difference between pkg/adapter/containers.go and pkg/adapter/containers_remote.go.
Containers.go has a call to

[code]

And containers_remote.go does not.  I would guess this is the issue.

[2019-09-04 13:41] mheon commented on #3870
Oh. That sounds like it.

[2019-09-04 14:25] cevich commented on #3870
Oh that's a HUGE relief, thanks @rhatdan !

[2019-09-04 15:28] sdeoras opened #3935 "podman (also buildah) push to docker often gets stuck or errors out"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In a workflow that starts with building container images using `buildah` followed by pushing to `docker.io/<account>/<public-repo>:tag`, I am observing that:

- Building images always succeeds
- Pushing to docker hub often gets stuck and sometimes fails with http timeouts
- In a few instances

[2019-09-04 15:39] rhatdan commented on #3935
Docker hub is having issues with OCI Images.  Could you see if the problem goes a way if you specify --format docker,

You can make this the default if you set:
[code]

[2019-09-04 15:49] sdeoras commented on #3935
@rhatdan, I'll make that default, however, for the previous push that failed I seem to be stuck in some kind of a state that causes `buildah` to throw following error. Is there a better way to clean up (I have tried deleting `${HOME}/.local/share/containers/storage` in the past and I think that had helped)

[code]

[2019-09-04 15:53] edsantiago opened #3936 "rawhide (crun): rootless: bad exit status for /no/such/command"
On current rawhide with crun:
[code]
I can't check root because podman-root is 100% broken ([rhbz1748214](https://bugzilla.redhat.com/show_bug.cgi?id=1748214)).

podman-1.5.2-0.46.dev.git1d8a940.fc32.x86_64
crun-0.7-2.fc31.x86_64
package runc is not installed

[2019-09-04 15:58] edsantiago opened #3937 "rawhide (crun): rootless(?): podman exec broken: OCI runtime error"
On current rawhide with crun:
[code]
I can't check root because podman-root is 100% broken ([rhbz1748214](https://bugzilla.redhat.com/show_bug.cgi?id=1748214)).

With --log-level=debug:
[code]
podman-1.5.2-0.46.dev.git1d8a940.fc32.x86_64
crun-0.7-2.fc31.x86_64
package runc is not installed

[2019-09-04 16:03] edsantiago opened #3938 "rawhide (crun): rootless(?): podman build: error creating container"
On current rawhide with crun:
[code]
I can't check root because podman-root is 100% broken ([rhbz1748214](https://bugzilla.redhat.com/show_bug.cgi?id=1748214)).

With --log-level=debug:
[code]
podman-1.5.2-0.46.dev.git1d8a940.fc32.x86_64
crun-0.7-2.fc31.x86_64
package runc is not installed

[2019-09-04 16:10] edsantiago opened #3939 "rawhide: rootless(?): unable to create pod cgroup"
On current rawhide:
[code]
With --log-level=debug:
[code]
podman-1.5.2-0.46.dev.git1d8a940.fc32.x86_64
crun-0.7-2.fc31.x86_64
package runc is not installed
kernel  5.3.0-0.rc5.git2.1.fc32.x86_64

[2019-09-04 17:48] TomSweeneyRedHat commented on #3920
I'm going to leave this open for now, but believe it's a duplicate of https://github.com/containers/buildah/issues/1780

[2019-09-04 18:06] bruceg commented on #3819
FWIW I am also having this issue after switching from docker to podman for a build infrastructure tool that ends up running `ldd` on built programs on tmpfs. Without the `exec` flag, this breaks.

[2019-09-04 18:12] TomSweeneyRedHat commented on #3920
@shaicoleman could you please verify my test methodology on https://github.com/containers/buildah/issues/1780 and let me know if that's off from yours?

@E100Beta you mentioned single-stage builds were OK for you, but multi-stage ones were not.  Do you have an example of a bad multi-stage build that you could share?

[2019-09-04 19:06] shaicoleman commented on #3920
@TomSweeneyRedHat, I used the podman build command rather than calling `buildah bud`. podman v1.5.0 and v1.5.1 both include buildah 1.10.1 . are you sure https://github.com/containers/buildah/pull/1792 is included in that version? That might fix it

[2019-09-04 19:20] E100Beta commented on #3920
@TomSweeneyRedHat will Dockerfile be enough?
I use this to build my Django app:

[code]

[2019-09-04 19:40] mheon commented on #3046
#3931 to fix

[2019-09-04 19:49] rhatdan commented on #3935
Can you just `buildah rmi <image>:tag`

[2019-09-04 19:52] rhatdan commented on #3938
Buildah has hard coded runc into itself.  We have just fixed this, and need to vendor an updated buildah into podman to fix it on F31 and Rawhide.

[2019-09-04 20:05] edsantiago commented on #3936
Interesting... problem is only in podman 46. 45 (1.5.2-0.45.dev.gita16f63e.fc32) exits 127 as expected, suggesting something introduced between a16f63e9 and 1d8a9409

[2019-09-04 20:22] edsantiago commented on #3936
Never mind: problem seems to be in crun, and appears to be fixed. My VM this afternoon picked up `crun-0.8-1.fc32` which outputs the expected status code with both podman 45 and 46. (All other issues I filed today are still valid).

[2019-09-04 20:22] #3936 closed

[2019-09-04 20:43] #3803 closed

[2019-09-04 20:43] #3819 closed

[2019-09-05 06:25] #3212 closed

[2019-09-05 06:52] giuseppe commented on #3937
it should work well with crun 0.8.  The new version has different fixes for interacting with Podman and reporting the correct exit code.

[2019-09-05 07:09] giuseppe commented on #3938
I can't remember what patch exactly, but there is a fix in crun 0.8 that is needed for working with Buildah.

Also Buildah doesn't uses systemd cgroups (it always uses cgroupfs), so we need something like:

[code]

I've opened a PR to take care of the second issue: https://github.com/containers/libpod/pull/3944

[2019-09-05 07:11] giuseppe commented on #3939
looks like `XDG_RUNTIME_DIR` is not configured correctly.

Have you created the user session through `sudo`?

Could you print your environment variables?

[2019-09-05 09:29] kunalkushwaha commented on #2979
I tried to think from couple of point of views, how to enable sharing of images between different users on a system.

- UX:
   1. user should be able to list images of other users/all users
      - `podman images -u <user-name>`
      - `podman images --all-users`
  2. Copy/import image from other user.
     - `podman image copy -u <user-name> <image-name> `

- Implementations:
    Each user shoul

[2019-09-05 12:14] PrymalInstynct opened #3945 "Data not copying to volume upon initialization"
/kind Bug

**Description**

Migrating Container environment from Docker to Podman

Creating Container image with application installed (rpm), this application expects data to be persistent is various directories within its install path. My solution to deal with this is to create a volume and attach that volume to the application root path within the container. In Docker the contents of the contain

[2019-09-05 12:57] debarshiray opened #3946 "'podman exec' resets the terminal size to 80x24"
/kind bug

**Description**

Somewhere between `podman-1.4.4-4.fc29` and `podman-1.5.1-3.fc29`, `podman exec` started to reset the inner terminal's size to 80x24 even if the outer terminal had different dimensions.

Reverting `runc` doesn't help. eg., I went as far back as `runc-1.0.0-57.dev.git9e5aa74.fc29`.

In order to reproduce, resize the window of your terminal emulation application, and then

[2019-09-05 13:23] rhatdan commented on #3937
@edsantiago can you test it out, reopen if this does not fix the issue.

[2019-09-05 13:34] TomSweeneyRedHat commented on #3920
@shaicoleman I can confirm that containers/buildah#1792  was not part of v1.10.1.  That landed in v1.11.0

@E100Beta  Dockerfiles always wor the best for me when trying to track down build issues.  I'll try yours above and/or refactor mine to get an "AS" clause in play.  There may still be an issue in that scenario.

Thanks all!

[2019-09-05 13:35] haircommander commented on #3946
this is a dup of https://github.com/containers/libpod/issues/3903

[2019-09-05 13:48] edsantiago commented on #3937
Problem persists with crun-0.8-1.fc32.x86_64 although the error is different:
[code]

[2019-09-05 13:55] edsantiago commented on #3939
Session opened via `su -` from root. There is no `XDG_*` in env; only relevant variables are `HOME=/home/fedora`, `LOGNAME=fedora`, `USER=fedora`.

I realize that there's this new fancy systemd dbus XDG universe but some of us are very old UNIX users and don't use that stuff; and we can't just say "use dbus for everything" to people who have functional workflows.

[2019-09-05 14:02] debarshiray commented on #3903
Interestingly, only the initial size is wrong. If the terminal emulator window is resized afterwards, then it picks up the changes correctly.

[2019-09-05 14:03] #3946 closed

[2019-09-05 14:35] mheon commented on #3903
We might not be sending an initial resize message to Conmon

[2019-09-05 14:38] haircommander commented on #3903
yeah I found the issue. the initial resize request happens before conmon creates the ctl file, so it just errors out. I am trying to find a work around now

[2019-09-05 14:43] rhatdan commented on #3937
Progress...

[2019-09-05 15:45] praiskup commented on #3903
I just need to claim that this used to work in some previous version of podman (or runc, or whatever).  I noticed problems last week for the first time.  Btw., thanks for the work-around with window resizing!

[2019-09-05 15:49] mheon commented on #3945
Hmm. We migrate data into the volume when it's creating with the container (e.g. `podman run --volume doesnotexist:/mountpoint ...` would copy the contents of `/mountpoint` into the container into the `doesnotexist` volume as part of creating it). Let me double-check that Docker also copies for first instance of mounting after create, as well

[2019-09-05 16:14] mheon commented on #3906
I've identified something that may be part of the problem - Podman may not be unmounting the SHM mount before the removal. I'm adding some patches that might address it to #3931

[2019-09-05 16:17] mheon commented on #3945
Hm. It looks like Docker does copy contents to the volume on first mount. I'll look into adding this.

[2019-09-05 17:00] abitrolly opened #3949 "Expose port on running container"
/kind feature

Is it possible to expose a port from a running container with `podman`? I am not sure `docker` allows this.

The story - I started `db` in interactive mode, loaded dumps, configured it and forgot to expose port. Now I need to access it from outside, and I see no way to do this.

[code]

[2019-09-05 17:20] abitrolly commented on #3949
Used `podman exec` with https://serveo.net for now.

[2019-09-05 19:19] SwitchedToGitlab opened #3952 "Podman run fails to run when using named volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman runtime error when attempting to run container with named volume. Does not seem to matter if ```podman run``` is creating the volume or ```podman volume create```. Does not matter whether container is a custom build or remote image.

**Steps to reproduce the issue:**

1. Run any image,

[2019-09-05 19:22] mheon commented on #3952
Can you add `--log-level=debug` to your Podman command and give the output of that?

[2019-09-05 19:38] gabibeyer opened #3953 "cleanup mount test bug"
Not entirely sure whether this is an issue with the test not working as originally intended, or if the code base may need some modifications and the test is correct.

The "podman run -d mount cleanup test" in the `run_cleanup_test.go` [file](https://github.com/containers/libpod/blob/cef5bec06b200ffa5caed46db296e55fb7d72376/test/e2e/run_cleanup_test.go#L38) was incorrectly using the `Expect` functi

[2019-09-05 20:05] SwitchedToGitlab commented on #3952
Thanks for the quick response.

[code]

[2019-09-05 20:06] SwitchedToGitlab commented on #3952
This might also be helpful:

[code]

[2019-09-05 20:12] SwitchedToGitlab commented on #3952
This also, sorry...

[code]
[code]
[code]

[2019-09-05 20:47] mheon commented on #3952
`DEBU[0000] Creating new volume test for container`

Alright, we are definitely calling the create volume code.  The container is being created and mounted successfully, but `runc` is failing claiming the directory for the volume in question doesn't exist...

Wait, why are we looking in the specific container's `userdata` for the volume? The root for those should be `/var/lib/containers/storage/vo

[2019-09-05 20:47] mheon commented on #3952
`  VolumePath: volumes`

That from your `podman info` seems very suspect. Do you have a `/etc/containers/libpod.conf` or `/usr/share/libpod.conf`? Can you pastebin them if so?

[2019-09-05 20:51] mheon commented on #3952
`DEBU[0000] Using volume path volumes                    `

We are definitely using a bad volume path here. Two issues here:
* How did we get the bad path? It's generated by a `filepath.Join()` on `GraphRoot`, which must be empty - but clearly is not by the time we actually start containers, because those paths all make sense.
* We didn't detect and handle the obviously-incorrect volume path when

[2019-09-05 20:53] mheon commented on #3952
Eeek. Our static dir is also being set to a relative path. I'm honestly amazed things aren't exploding much earlier.

[2019-09-05 20:54] SwitchedToGitlab commented on #3952
[/etc/containers/libpod.conf](https://pastebin.com/1GXTGMds). No /usr/share/libpod.conf on my system. Thanks again, and let me know what else you need.

[2019-09-05 21:07] mheon commented on #3952
My suspicion here is that we have a `storage.conf` explicitly setting empty-string paths for `RunRoot` and `GraphRoot`. The c/storage library is probably using compiled-in defaults at that point, I imagine? Meanwhile, our paths intended to be relative to c/storage are instead ending up in wildly inconsistent places because we don't know where c/storage lives.

@rhatdan @giuseppe How do you think w

[2019-09-05 21:14] rhatdan commented on #3953
See if adding
[code]
After the stop fixes the issue.

[2019-09-05 21:15] rhatdan commented on #3953
I think this is definitely a race.

[2019-09-05 21:17] rhatdan commented on #3952
We should hard code the defaults if these are set to "".

[2019-09-05 21:23] mheon commented on #3952
Ack. Easy enough.

[2019-09-05 21:33] SwitchedToGitlab commented on #3952
Issue also applies to 1.5.1 FYI.

[2019-09-05 21:35] mheon commented on #3952
Fix pending in #3954 - however, it will only apply to new installs. It changes the locations of several core paths by default and could break existing installations.

You'd have to delete `/var/lib/containers/storage/` to pick up the fix, but this will lose all your existing containers.

[2019-09-05 21:38] SwitchedToGitlab commented on #3952
You were right about storage.conf, [here's the pastebin.](https://pastebin.com/WqxunFYb) I forgot about that until you mentioned it @mheon, that was done while troubleshooting a different issue for Buildah.

[2019-09-05 21:46] giuseppe commented on #3937
it seems to fail moving a process from cgroup A to a cgroup B, where A is the current cgroup (owned by root) and B is the destination cgroup in the container.

Can you confirm the current cgroup is owned by root with `ls -l /sys/fs/cgroup/$(sed -e 's|0::||' /proc/self/cgroup)?

Does it work if you use something like `systemd-run --user --scope podman exec foo echo hello` ?

Not sure what would be

[2019-09-05 22:09] vnjoopud opened #3955 "Error while creating a container from tensorflow-1.14.0 image on a ppc64le architecture machine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We have installed podman (version : 1.5.1) on a **ppc64le** architecture machine. We were able to create a container from a simple ubuntu image (ppc64le/ubuntu). But, we ran into an error while creating a container from tensorflow-1.14.0 image (ibmcom/tensorflow-ppc64le:1.14.0-gpu).

**Steps

[2019-09-05 22:17] SwitchedToGitlab commented on #3952
Appears that the volume path was indeed the issue. Re-installed from distro packages with all configuration files removed, and after re-creating policy.json with defaults and registries.conf from defaults this is working.

I'm closing this issue as it appears to be resolved to me. If you're troubleshooting and find this issue, ensure that the storage.DefaultStoreOptions() in storage.conf is correc

[2019-09-05 22:17] #3952 closed

[2019-09-05 23:00] mheon commented on #3955
This appears to be an error in the Nvidia OCI hook, and not Podman itself

[2019-09-05 23:19] TomSweeneyRedHat commented on #3952
Great and useful summation @SwitchedToGitlab, thanks for adding it.

[2019-09-06 02:31] PrymalInstynct commented on #3945
Thanks for investigating, this function is critical to what I am trying to accomplish.

[2019-09-06 04:32] s5unty opened #3956 "play kube cause panic"
[code]

* OK

[code]

* PANIC

[code]

* version
[code]

[2019-09-06 08:21] msekletar opened #3957 "Some systemd features might not work properly in rootless containers"
In rootless.md we already have a quite a list of known issues. I think it would be a good idea to a have a bullet-point there which mentions that some systemd APIs and options don't work in rootless containers.

For example, all cgroup resource control options won't be applied (with cgroupv1), however, service will start. Then there are unit file options which will cause service failure if used fo

[2019-09-06 11:53] rhatdan commented on #3955
Yes you should report this issue to Nvidia and see if they have ideas.

[2019-09-06 11:56] rhatdan commented on #3945
@mheon Should we assign this to @QiWang19?

[2019-09-06 11:56] rhatdan commented on #3956
@haircommander have some fun.  :^)

[2019-09-06 12:04] rhatdan commented on #3957
Any chance you could open a PR?

[2019-09-06 12:43] haircommander commented on #3956
ah but it only provided 30 minutes of entertainment :\ back to the rigmarole of crio e2e

[2019-09-06 13:22] mheon commented on #3945
Eh, I'm in there already for adding volume driver support, and this one shouldn't be more than a half hour of work now that I am.

[2019-09-06 13:28] vnjoopud commented on #3955
The nvidia OCI hooks were working with my previous version of podman on the same machine. Previously, we had podman (version 1.4.4) on the same machine and I was able to launch a container from this image (without any errors). We updated podman to 1.5.1 and then we noticed the above exception.

[2019-09-06 13:40] #3956 closed

[2019-09-06 14:13] rhatdan commented on #3945
Ok.

[2019-09-06 14:18] giuseppe commented on #3937
opened a PR to automatically create the scope: https://github.com/containers/libpod/pull/3959

[2019-09-06 14:19] rhatdan commented on #3955
Any chance you can downgrade and see if the older version still works?

I do notice that you are running with vfs back end?  Any reason you are not using overlay? fuse_overlay?

[2019-09-06 14:42] matpen commented on #2979
I am just a regular user and by no means an expert of the internals of skopeo and podman, however I wanted to share a few ideas based on our use case.

We plan to have some images to be run by different system users on the same VPS. With the current implementation, this means that the images must be duplicated for each user, which is largely inefficient in terms of disk space.

So ideally there wo

[2019-09-06 15:14] vnjoopud commented on #3955
We were not able to downgrade to a lower version (from the current 1.5.1 version to 1.4.4) as we couldn't find the lower version of podman in the repo.

`
bash$: cat /etc/apt/sources.list.d/projectatomic-ubuntu-ppa-bionic.list
deb http://ppa.launchpad.net/projectatomic/ppa/ubuntu bionic main
`
In the above repo, I could only find 1.5.1 version of podman.

Can you let me know about the instructions

[2019-09-06 15:17] vnjoopud commented on #3955
We configured storage in /tmp (did not specify vfs)

[2019-09-06 15:35] rhatdan commented on #2979
The big issue here is permissions on individual files.  Using additionalstores will not work since we have to lock the storage. We could potentially fix this in storage to allow storage use without locks, perhaps if mounted read/only.

But we still have issues with the ownership of individual files within the image.

[2019-09-06 15:36] rhatdan commented on #2979
@nalind @vrothberg @giuseppe @mtrmac WDYT?

[2019-09-06 17:33] dsalaza4 commented on #3917
I've been playing around with the flags @giuseppe suggested, but wasn't able to make it work. I'm leaving this issue open and changing the label to feature.

[2019-09-06 17:47] rhatdan commented on #3955
Does podman work if you run it as root?
If you install fuse-overlayfs and then cleanout your storage and storage config.  Podman will default to using fuse-overlay.

[2019-09-06 18:06] vnjoopud commented on #3955
I have a small question regarding it as to whether fuse-overlayfs will work if storage is on a NFS mounted directory.

[code]

[2019-09-06 18:42] rhatdan commented on #3955
User Namespace will not work properly, but not sure why fuse-overlay would have an issue.
@giuseppe WDYT?

[2019-09-06 19:01] giuseppe commented on #3955
fuse-overlayfs won't work on NFS.

Also I've not seen the "Failed to initialize NVML: Unknown Error" before, so I guess it is coming from the OCI hook?

[2019-09-06 19:10] rhatdan commented on #3955
@giuseppe yes @vnjoopud says that this was working on previous podman 1.4.4 version but is now blowing up on podman 1.5.1.

[2019-09-06 19:16] giuseppe commented on #2979
I thought about having the possibility to share images among users/system storage (owned by root), but that requires changes in the file system.  This should be possible in fuse-overlayfs.

The idea is that every file is stored with permissions 0755, so only the owner can modify them, and the original permission is stored in an extended attribute.

fuse-overlayfs then could look into different sto

[2019-09-06 20:34] TomSweeneyRedHat commented on #3920
I've not been able to duplicate this using Buildah v1.11.0 which should be in the next release of Podman. I'm not sure if that will be Podman 1.5.1 or Podman 1.6.0, but it will be contained that next version. I'm going to close this now as https://github.com/containers/buildah/pull/1792 appears to have fixed the issue. If you find otherwise, please feel free to reopen this or create a new issue as

[2019-09-06 20:34] #3920 closed

[2019-09-06 21:00] yangm97 opened #3962 "Filling up /run/libpod/socket"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. launch some containers?

**Describe the results you received:**
Something is causing `/run/libpod/socket` to fill up with files to the point where systemd will no longer reload because ther's not enough space there, it's not obvious to me what could be ca

[2019-09-06 21:08] TomSweeneyRedHat commented on #3921
I've not been able to duplicate this using Buildah v1.11.0 which should be in the next release of Podman. I'm not sure if that will be Podman 1.5.1 or Podman 1.6.0, but it will be contained that next version. I'm going to close this now as containers/buildah#1792 appears to have fixed the issue. If you find otherwise, please feel free to reopen this or create a new issue as appropriate.

[2019-09-06 21:08] #3921 closed

[2019-09-06 21:26] mtrmac commented on #2979
That doesn’t work in all the general ways some in here wish for (BTW the conversation seems to be wavering between just making fresh copies. If an unprivileged user can share a container layer to be used by other users, the unprivileged user owning the layer can maliciously modify the data (any of directory structure, metadata, contents of individual files), attacking at the very least others’ con

[2019-09-06 21:33] mheon commented on #3962
This sounds like Conmon control FIFOs and attach sockets - but those should be deleted once the container exits.

Are you running Podman as root, or without? Can you do an `ls` of the directory, so we can confirm what files are accumulating?

[2019-09-06 22:41] rhatdan commented on #2979
I am also concerned about world writable content like CONTAINER/tmp, /var/tmp.   Also access to setuid programs within these directories could cause issues.

[2019-09-06 22:44] mtrmac commented on #2979
Oh, the contents of the containers (as opposed to the immutable parent layers) needs to _definitely_ stay user-specific and inaccessible to other users; we can only be discussing the immutable layers of committed images (i.e. something pretty close to the “additional stores”); it’s just that even keeping the immutable layers immutable seems pretty difficult.

(So, if “additional stores” are unwork

[2019-09-06 22:48] yangm97 commented on #3962
All containers were up, none of them exited during the period files were piling up. This is a new install, never done any upgrade or anything, but stopping all containers and running `system renumber` as per #3436 **appears to have calmed it down for now**.

I'm running as root. I did a `ls` but since it had so many files it blew up my tmux buffer but I guess you didn't need the full output anyway

[2019-09-06 23:02] SwitchedToGitlab opened #3963 "Podman failed to destroy BTRFS snapshot on container delete"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

*bug*

**Description**

*ROOTLESS* Podman fails to delete BTRFS subvolumes when building an image or deleting a container. This causes a cascade of errors, such as container name re-use errors, as podman believes the container was removed when using ```podman ps -a``` however when attempting to re-run the ```podman run`

[2019-09-06 23:46] mheon commented on #3963
Sounds like c/storage cleanup - @nalind Agree?

[2019-09-06 23:46] mheon commented on #3963
Actually, wait - how are we using the btrfs driver with rootless?

@giuseppe PTAL

[2019-09-07 03:58] yangm97 commented on #3962
It is doing that again. So far I remember doing some `pull`, `rm` and `run`. Also this happens:

[code]

[2019-09-07 06:31] jdjgya commented on #3882
Hi team Podman,

Sorry for a question.
I'm a newcomer and fans of Podman.

I got a same problem of issue above, so I read the discussions above and setup a Fedora28 VM which already installed Podman, then follow the instructions(https://podman.io/blogs/2019/01/16/podman-varlink.html) to setup socket activation of Podman.

then I back to my MackOS to install the Podman client(followed the instructi

[2019-09-07 07:16] jbauers commented on #3110
Hey, I don't believe this is fully fixed. Please consider the following slightly adjusted Dockerfile (copying a specific file instead of dir):

[code]
[code]
[code]

Thanks!

[2019-09-07 09:28] yann-soubeyrand commented on #3110
I confirm: I can reproduce the bug ;-)

[2019-09-07 09:54] rhatdan commented on #3882
I think you might need to use root for now.  @jwhonce PTAL

[2019-09-07 13:14] giuseppe commented on #2979
I was talking about the immutable layers of the image.  Containers data cannot be shared.

Accessing another storage requires to trust the owner.  I am not proposing to do/enable by default for all users.  We would need to think of another model (checksumming each file?) if we want to use not trusted storages.

@rhatdan In such shared model, every file/dir become 0755 so there won't really be any

[2019-09-07 13:26] TomSweeneyRedHat commented on #3110
Thanks for the reproducer, we'll take another look.  @qiwang17 can you give the new Dockerfile a run through please?

[2019-09-07 13:26] TomSweeneyRedHat commented on #3110
I'll try tagging the right Qi this time.   @QiWang19

[2019-09-07 13:34] mtrmac commented on #2979
Checksumming at what point? The attacker can reshuffle the FS structure at any time, or modify a file that the victim has `mmap()`ed.

The only way a checksum/verification step would work sense if the verifier also made a private unmodifiable copy as a part of the process — but that’s just extra overhead on top of having unshared per-user stores; I suppose it would save some network bandwidth, but

[2019-09-07 14:06] neVERberleRfellerER opened #3967 "`podman run --rm` does not remove automatically created volumes"
/kind feature

**Description**

`podman run --rm` does not remove automatically created volumes.  This is different from `docker run --rm` as described in https://docs.docker.com/engine/reference/run/#clean-up---rm .

**Steps to reproduce the issue:**

1. `podman run --rm --name pg1 -d postgres`

2. `podman stop pg1`

3. `podman volume ls`

**Describe the results you received:**
Automatically crea

[2019-09-07 14:41] mheon commented on #3967
We changed this in the other direction in #3071 - need to figure out what's going on here.

[2019-09-07 14:42] mheon commented on #3967
` Only volumes that are specified without a name are removed`

Well, that simplifies matters. We don't have support for anonymous named volumes yet, I think.

[2019-09-07 14:50] giuseppe commented on #2979
Checksumming each file/directory. Then the checksum is checked after a local copy exists.  This could still be faster than duplicating the whole image as most likely not all files are accessed thus needed to be copied.  Anyway I think we should look at the trusted case first, where only trusted storages are used

[2019-09-07 15:12] neVERberleRfellerER commented on #3967
Now that I think about it, docker docs might not even have any power over this particular issue, since docs only deal with specified volumes, but my problem is with unspecified volumes (volumes created automatically by podman when `-v` was not specified). Not sure how docker handles unspecified volumes. Previously, I wa sunder bad impression that automatically created volumes are anonymous volumes

[2019-09-07 15:33] TomSweeneyRedHat commented on #3109
I'm going to close this now as I've looked through the docs and ubuntu repos.  fuse-overlayfs is now available on later versions of Ubuntu (https://packages.ubuntu.com/search?keywords=fuse-overlayfs) and the directions to install it are in the rootless install/config page (https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md)

@sVattic  if you think more work is nec

[2019-09-07 15:33] #3109 closed

[2019-09-08 06:56] cmurf commented on #3963
It's a bit confusing at the moment. For historical reasons, `btrfs subvolume create` is permitted unprivileged, but `btrfs subvolume delete` requires root privilege unless the file system was mounted with option `user_subvol_rm_allowed`.

However, recently, rmdir(2) will delete a btrfs subvolume, without privilege escalation required, so long as the user otherwise has privilege for the subvolume a

[2019-09-08 10:42] rhatdan commented on #3963
Ok, I don't truly understand what is going on here.  But are we doing something wrong in the storage driver that we can fix to make rootless podman with btrfs work?  Or should we simply block rootless podman with BTRFS because it will never work correctly and force users to use fuse-overlay?

[2019-09-08 15:13] baude commented on #3949
one thing you could do is commit the container to an image and then rerun that image?

[2019-09-08 15:27] baude commented on #3955
Any chance this is it? -> https://github.com/Kaixhin/dockerfiles/issues/1

[2019-09-08 15:29] #3938 closed

[2019-09-08 18:41] cmurf commented on #3963
If kernel 4.18+ use `rm -rf`
That will work as if the subvolume is a directory. Just like on any other file system, it will check every file and directory for the proper permissions, and unlinkat() each one in turn.

Optimization 1: If root, use `btrfs subvolume delete`.
Optimization 2: If rootless, check if the btrfs volume is mounted with option `user_subvol_rm_allowed` and if so then use `btrfs

[2019-09-08 18:46] mheon commented on #3963
We've never actually tested the btrfs driver on rootless before, and it was never written with rootless support in mind. However, it seems like everything except cleanup is already working. Given that we seem to have a way forward there (at least on newer kernels), this sounds like a reasonable fix.

[2019-09-08 19:29] cmurf commented on #3963
FWIW, `user_subvol_rm_allowed` exists since 2010, circa kernel 2.6.38. When enabled, there is only a check of subvolume owner/perm, not contents. If the user has the proper privilege for just the subvolume, `btrfs subvolume delete` will exit 0, everything inside instantly goes bye bye.

I'm not sure what use case would exist where a user owns the subvolume but doesn't own the contents, but...

[2019-09-09 02:51] yangm97 commented on #3962
I think I've been able to isolate it a little further. there's one container on my stack which has a healthcheck instruction, these socket files start piling up exactly after it has started.

[2019-09-09 03:29] juhp commented on #3903
Another workaround is for a shell is to run `reset` :)  (Yep, it is a regression as Rishi also explained in his report.)

[2019-09-09 05:44] mheon commented on #3962
Probably artifacts from `exec` then - @haircommander those ought to be cleaned up automatically, I believe?

[2019-09-09 07:07] vrothberg commented on #2979
Maybe we can take a few steps back and first define which problem(s) we're trying to solve?

**Problem 1)** The title of the issue suggests to allow for copying/moving images across storages. I think that's a valuable addition, assuming we find a way to avoid a complex CLI.

**Problem 2)** The comments are pointing to a truly sharing storage across users. Considering the comments, this seems like

[2019-09-09 07:31] praiskup commented on #3903
The `reset` workaround doesn't help in my case.

[2019-09-09 09:17] giuseppe commented on #3963
I've never tried the btrfs driver and I am surprised it works with rootless.

@cmurf would it be enough if we attempt to `rm -rf` if the volume deletion fails with EPERM?

Would you like to work on a patch for that?

[2019-09-09 12:05] rhatdan commented on #2979
I like @vrothberg simplification.  I see this is more of a scp/cp issue for now.  The additionalstores stuff would be nice,especially between root and non-root, so we don't have to worry about problems that @mtrmac is talking about.

I like to define containers/image as a library that allows you to move OCI images between different types of image storage.  What I see us doing is enhancing it or us

[2019-09-09 12:52] debarshiray commented on #3903
I wonder if there's some race involved here. For some reason this bug stopped reproducing today out of the blue, even with the same software versions that were reliably reproducing it until last Thursday.

Anyway, since @haircommander already figured it out, I'll wait for the fix. :)

[2019-09-09 13:13] marusak opened #3970 "Cannot commit user container with `--pause`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I cannot commit container that is owned by user (not root) and is running and I use option `--pause`.

**Steps to reproduce the issue:**
1. `podman run -di --name first fedora sh`
2. `podman commit --pause first commited`

**Describe the results you received:**
Output from the second step:
[co

[2019-09-09 13:18] mheon commented on #3970
Outside of CGroups V2 + `crun`, we do not have the proper permissions to pause containers without root. So the error here is expected, but it should give an error message that the option isn't supported, not the one it's giving.

[2019-09-09 13:23] marusak commented on #3970
Makes sense, when someone adds some checks please use error message that was introduced in https://github.com/containers/libpod/pull/3753 , then it is easier for us (cockpit team), thanks :)

[2019-09-09 13:24] yangm97 commented on #3962
The healthcheck instruction looks like this:

[code]

It's currently `failing` but because of reasons unrelated to docker/podman.

[2019-09-09 13:26] mheon commented on #3962
It makes sense how easily it's filling the tmpfs - we're getting... I think 3? separate files per exec session, and for some reason they are not being cleaned up. Add to that an exec every 3 seconds and we rapidly begin to accumulate files.

[2019-09-09 13:36] haircommander commented on #3962
yeah the exec artifacts should removed after an exec session. can you exec that command in the container and let me know if an error along the lines of `Error removing exec session...` pops up?

[2019-09-09 13:39] mheon commented on #3962
There should also be logs available in `podman inspect $CID` related to the healthchecks

[2019-09-09 13:56] yangm97 commented on #3962
`podman inspect` shows healthchecks as `failing` (as expected)

[code]

[code]

[2019-09-09 14:09] mheon commented on #3962
Interesting.

My assumption here would be that `podman exec` probably isn't cleaning up properly after an error, which is the original bug report here; and we have a bug causing a 100% failure rate for this type of `exec` causing massive amounts of files to be strewn across the system.

[2019-09-09 14:25] matpen commented on #2979
I allow myself to pitch in again as "just a user". It seems to me that **problem 1** is already solved with the current tools:
[code]
Instead, the emphasis of [the OP](https://github.com/containers/libpod/issues/2979#issue-435293288) and in [my previous comment](https://github.com/containers/libpod/issues/2979#issuecomment-528882684) is on the sharing of storage space

Which is basically, as far a

[2019-09-09 15:44] cmurf commented on #3963
@giuseppe actually it's a good idea to try the optimized case first, since it's way faster, and then use `rm -rf` as the fallback. It'll take me longer to find the file to work on than it'll take an actual competent person to just patch it.

[2019-09-09 17:16] yangm97 commented on #3962
Looks like fixing my broken healthchecker did not appear to have an effect on this issue.

[2019-09-09 19:00] rhatdan opened #3976 "cgroupsv2 issue with ~/.config/container/libpod.conf"
We are going to have a problem in Fedora 31, where we are changing the default of the OCI runtime from runc to crun.  We have to do this because runc is not ready for cgroupsV2 support.  The problem is each rootless user and toolbox user, has a libpod.conf file that was automatically generated in their homedir, via the podman command.  This conf file has hard coded default to use runc, so once you

[2019-09-09 19:03] rhatdan commented on #3976
@mheon @baude FYI

One possible solution would be to add a new flag to the libpod.conf file
supports_cgroup_v2 = true

Then if the file exists and does not have this flag, we change the default runc to crun the first time we run podman, with a warning message on the screen.

Then add the flag.

When runc gets support for cgroupsv2 users can change their libpod.conf file and use it, and podman will

[2019-09-09 19:12] mheon commented on #3976
My initial impression is that we really need to replace `runc` with `crun` automagically at package install time - but that's not really doable on a per-user basis.

We could make `podman run` ignore the option, but that's a super bad precedent - we should not override user configs, even if we mostly wrote them ourselves.

[2019-09-09 19:16] edsantiago commented on #3938
Confirmed fixed in podman-1.5.2-0.63.dev.git511b071.fc32.x86_64, thank you

[2019-09-09 19:29] edsantiago commented on #3937
Sorry for the late response. In case it's still helpful:

[code]

[code]

[2019-09-09 20:02] mtrmac commented on #2979
It’s not obvious how a library can get the necessary privileges, and whether it should be doing anything like that behind the caller’s back (also remember that there isn’t really a `fork` in Go, so this would require a c/image helper process to exist in a known path); doing this without an on-disk copy requires inventing a completely single-purpose RPC system.

Honestly all of this screams “corner

[2019-09-09 20:19] vnjoopud commented on #3955
@rhatdan : I wouldn't mind downgrading my podman version to 1.4.4. Can you let me know about the instructions for downgrading to a lower version. (Currently, I am not able to find the 1.4.4 version of podman in the repo. I posted more details regarding to this in my earlier comments.)

@baude : Even with the 1.4.4 version of podman, we are getting the same "NVML" error while running podman as root

[2019-09-09 20:25] TristanCacqueray opened #3977 "Podman volume parent directory created are owned by root when using --user and --uidmap"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When mounting a configuration volume, the parent directory is owned by root, which prevent the container user from creating lateral configuration.

**Steps to reproduce the issue:**

1. Create user in image
`cid=$(buildah from registry.fedoraproject.org/fedora); buildah run $cid useradd -m us

[2019-09-09 20:59] TomSweeneyRedHat commented on #3976
Just a scope question.  This is only a problem if you upgrade to F31 from a lower level right?  If you do a new clean install, then libpod.conf gets generated appropriately right?  Can/should we just document the heck out of it?   I'm be worried about what happens in debian, ubuntu, etc if we did the `supports_cgroup_v2` trick.

[2019-09-09 21:23] mheon commented on #3976
Yeah, this is basically only for upgrades, and even then only until `runc` manages to pick up support for V2 (at which time this goes back to working)

[2019-09-09 22:26] ryanj commented on #2909
Just hit this issue with FCoS IoT and `podman-1.4.5-dev`...  was using [a systemd unit to manage podman](https://github.com/ryanj/poweroverinternet/blob/master/poweroverinternet.service).

I was testing to make sure that systemd could help gracefully handle a reboot cycle, but my `/var/lib/cni/networks/podman/last_reserved_ip.0` file ended up pointed to a stale ip address, which was no longer vali

[2019-09-10 03:19] alyssais commented on #3323
I think I had the same issue when I ran `podman pull discourse/discourse_dev:release`. Extracting the images took nearly two and a half **hours**.

<details>
<summary>Logs</summary>
<pre>INFO[0000] running as rootless
DEBU[0000] using conmon: "/nix/store/ijyz1qpfqqwc4qv9vx6s1g7z8ssjv1c0-conmon-2.0.0/bin/conmon"
DEBU[0000] Initializing boltdb state at /home/state/podman/containers/storage/libpod/bo

[2019-09-10 04:28] mheon commented on #3323
This image does take quite a long time to finish committing to disk on my setup (Podman master, running as root, overlay2 driver) - but only a few minutes.

I again begin to suspect the VFS graph driver; can you possible try again with fuse-overlayfs?

[2019-09-10 11:15] alyssais commented on #3323
Only a few minutes for me too with fuse-overlayfs. Thank you very much!

[2019-09-10 11:37] juhp commented on #3937
I hit this too now while trying to test toolbox in Rawhide.

[2019-09-10 12:19] abitrolly opened #3979 "Move container to pod"
/kind feature

Is it possible to move container into a pod? I want to expose container ports without killing it (#3949) and I thought that maybe moving it to a pod can accomplish this.

**Output of `podman version`:**
[code]

[2019-09-10 12:42] baude commented on #3979
you cannot currently do this with podman. we have discussed being able to "add" a container with new ports to a pod but that feature is not implemented yet either.

[2019-09-10 13:22] menathor opened #3981 "Question: Does podman respect UFW firewall rules on ubuntu?"
Hi all,

Just wondering if any ubuntu users could tell me whether podman respects / works with UFW firewall rules? Docker bypasses them completely which is a major security issue that's been written about for years but still hasn't been addressed.

Cheers! :)

[2019-09-10 13:25] mheon commented on #3981
Podman uses CNI for networking, so this question would be better directed there - but I'm fairly certain the answer is no. CNI seems to mostly call directly into IPTables, though I think it may have support for interfacing with firewalld as well.

[2019-09-10 13:37] bmaupin opened #3982 "Error reading image ... image not known"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Several times since I switched to podman from docker I end up getting an `image not known` error. I'm unable to remove the offending image and the only solution I've found (besides manually combing through the storage and json files to clean it out) is to wipe ~/.local/share/containers/storag

[2019-09-10 13:44] mheon commented on #3982
`f2061acd5a510ad39a7ec7923d2a1aa416210ef4c2cd5c28afec92d6c4a677a1` looks like a container ID - probably a failure to remove the underlying storage of a container. You may want to try a `podman rm --storage f2061acd5a510ad39a7ec7923d2a1aa416210ef4c2cd5c28afec92d6c4a677a1`

[2019-09-10 13:50] bmaupin commented on #3982
It looks like that changes the error I get when I try to prune, but I'm still getting `image not known`:

[code]

[2019-09-10 13:52] bmaupin commented on #3982
I do use `podman run --rm` a lot. Is it possible that podman isn't always able to remove the container if files have been written inside it that my user doesn't have permissions to delete? I'm not sure if that makes sense; this isn't my area of expertise.

[2019-09-10 14:04] AkihiroSuda commented on #3981
Rootless podman obeys the system firewall configuration as well as rootless docker

[2019-09-10 14:15] mheon commented on #3982
Hm. Do you have any Buildah containers created? This looks like it may have something to do with lingering Buildah containers after builds.

[2019-09-10 14:15] mheon commented on #3982
A `buildah containers --all` might be enlightening

[2019-09-10 14:16] mheon commented on #3982
I don't suspect this is `--rm`. We're possibly seeing either Buildah containers, or containers that saw errors during removal.

[2019-09-10 14:16] bmaupin commented on #3982
[code]

[2019-09-10 14:18] mheon commented on #3982
That's probably why `podman prune` is failing - we have a large quantity of images which Podman thinks it can prune, as Podman isn't using them, but they are in use by Buildah.

We should probably just ignore those errors - if an image fails to prune because it's in use by a container, we should not have been pruning them in the first place.

[2019-09-10 14:18] mheon commented on #3982
This doesn't resolve the `ERRO[0003] error checking if image is a parent` situation, though, which seems separate

[2019-09-10 14:19] bmaupin commented on #3982
Should I create a separate issue for `podman prune`?

[2019-09-10 14:20] mheon commented on #3982
Agree - it'll probably be a trivial fix, so we should track it separately.

[2019-09-10 14:29] bmaupin opened #3983 "Failed to prune image: image is in use by a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm frequently unable to run `podman prune -a` because I get the following error:

[code]

More info:

[code]

**Steps to reproduce the issue:**

See *Description*

**Describe the results you received:**

See *Description*

**Describe the results you expected:**

I would've expected `podman i

[2019-09-10 17:10] TomSweeneyRedHat commented on #3983
Thanks for the issue @bmapuin.  You've added a link to #3982, I just wanted to note that further background discussion can be found there.

[2019-09-10 17:17] #3811 closed

[2019-09-10 17:22] mheon commented on #3982
@vrothberg You mind taking a look at the `error checking if image is a parent` errors?

[2019-09-10 17:32] mheon commented on #3983
#3984 to fix

[2019-09-10 18:45] debarshiray commented on #3179
On bisection, it turns out that commit a1a79c08b72793cf from https://github.com/containers/libpod/pull/3143 fixed this issue.

[2019-09-10 19:41] debarshiray commented on #3179
Only thing left here is to see if we can add tests for this, which I have now attempted in PR https://github.com/containers/libpod/pull/3986

[2019-09-10 19:55] mheon commented on #3179
Neat. Closing as this is fixed upstream.

[2019-09-10 19:55] #3179 closed

[2019-09-10 20:24] vashirov commented on #3179
I'm not sure it's totally fixed. I have
[code]

[code]
In another terminal (not even in tmux):
[code]

[2019-09-10 20:24] #3945 closed

[2019-09-11 07:17] debarshiray commented on #3179
That's a [different issue](https://github.com/containers/libpod/issues/3946).

[2019-09-11 07:35] vrothberg commented on #3982
Looking into it now.

[2019-09-11 07:45] juhp commented on #3903
@praiskup you are right - I came back to report the same - maybe I had resized the window...

[2019-09-11 07:54] vrothberg commented on #3982
Hard to judge from far how the `image not known` errors occur.

@bmaupin, did you manually remove data from the storage or did those errors occur without manual intervention? Could you share the output of `podman --log-level=debug images`?

This might aid in pointing to the right direction. In the meantime, I'll open a PR for c/storage to include the image ID in the `image not known` error - it co

[2019-09-11 08:24] lukczarnota opened #3987 "podman-remote.conf port and identity file support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. install podman and podman-machine on MacOS
2. create test machine
[code]
3. get envs
[code]
4. export envs
[code]
5. test podman
[code]
6. try with podman-remote.conf
[code]
7. test podman
[code]

**Describe the results you received:**
 check 6 and 7

**D

[2019-09-11 08:30] vrothberg commented on #2979
@kunalkushwaha, that's already being worked on in https://github.com/containers/image/pull/611 but more unlikely to get merged any time soon. Note that avoiding such redundant downloads is orthogonal to the request of this issue but very different.

[2019-09-11 13:31] #3983 closed

[2019-09-11 13:37] baude commented on #3987
this is not a bug, it is a feature ... we do not currently support port and identity file

[2019-09-11 13:38] baude commented on #3987
can you use your ~/.ssh/config to do this?

[2019-09-11 13:57] rhatdan commented on #3976
I think we could handle this with a check to see if machine is booted with cgroupsV2 support, has crun installed and does not have the flag.
If this situation happens, then add the flag and swap runc->crun.
If any other thing is untrue, then we don't modify ~/.config/containers/libpod.conf

I agree this is just a stop gap so that we don't blow up all users of Fedora 31.  I think most people upgrad

[2019-09-11 14:39] rhatdan commented on #3979
You can add a container to an existing container my combining the namespaces.

[2019-09-11 14:59] QiWang19 commented on #3110
in podman 1.5.1 I see the error after I change the line `COPY --from=builder /dir1/dir2/file1 /dir1/` of the Dockerfile. But I can't regenerate this error with master branch podman or buildah.

  podman 1.5.1 build use same Dockerfile twice, cache works

[code]
change the Dockerfile COPY --from=builder /dir1/dir2/file1 to COPY --from=builder /dir1/dir2/file2
[code]

[2019-09-11 15:12] tinyzimmer commented on #3302
I don't know if its addressable (might even be desired) because the command inside the container is actually succeeding, just with nothing on stdin.

But thought I might mention that when this happens, the exit code is 0. Was very confusing to track down in an automated workflow.

[2019-09-11 15:15] abitrolly opened #3990 "Can not mount volume for container with custom user"
/kind bug

**Description**

When running a container with explicitly set user, such as
https://github.com/schemaspy/schemaspy/blob/a28c9fc932cc6f85c7780050a678b3a3d7f595e9/Dockerfile#L44 the volume mounted by `podman` is not writeable.

**Steps to reproduce the issue:**

1. Get some PostreSQL host (192.168.4.1) and port (5432)

2. Create dir to mount as a volume
[code]

3. Run `podman`
[code]

**D

[2019-09-11 15:18] edsantiago opened #3991 "(minor) podman push error: exit status inconsistent with docker"
Super minor: the exit status of a failing `podman push` is 125; docker is 1:
[code]
Similarly for access-denied type errors: `podman tag alpine docker.io/nosuchname/nosuchimage`

[2019-09-11 15:27] mheon commented on #3991
@rhatdan Was this deliberate on our part, to differentiate between different pull errors?

[2019-09-11 15:32] abitrolly commented on #3979
@rhatdan you mean to existing pod? What is the command to combine namespaces?

[2019-09-11 15:51] abitrolly commented on #3990
@mheon `-u` is a parameter for `schemaspy`, the container itself defines `USER java`, and `podman` is run unprivileged without `sudo`. I'd expect `podman` to handle mount volumes transparently without leaking low level details about uid and filesystem mappings. Otherwise all scripts will need to contain `-u root`, which doesn't looks very secure. )

[2019-09-11 16:00] mheon commented on #3990
We really can't handle this ourselves - these are separate users from the perspective of the kernel, and normal filesystem permissions apply.

[2019-09-11 16:25] johrstrom opened #3993 "container with --userns=keep-id in a pod wont start"
/kind bug

**Description**

I'm not sure if this is a bug or feauture, but I'd like to run a container in a pod with the `--userns=keep-id` flag, but there seems to be some issues in mounting file systems. I've provided a trivial way to reproduce below.

If this is not appropriate let me know, I mean if containers in pods where never meant to maintain the user ids, you can close this.  I *can* get

[2019-09-11 16:33] abitrolly commented on #3990
It is possible to configure filesytem layer to ignore host permissions? If a container is already isolated through filesystem path, why impose additional `uid` restrictions?

Maybe it is possible to implement two layer writes? The first layer enforces permissions, so that container won't escape the defined path, but final writes to disk are ignoring the permissions. If container needs a separate u

[2019-09-11 16:41] mheon commented on #3993
I think we're sharing user namespaces within the pod - which means that you'd have to do `--userns=keep-id` when you first create the pod. Except the option isn't supported at a pod level yet... Hm.

[2019-09-11 18:21] johrstrom commented on #3993
OK cool.  Again, I don't know if this is a feature or bug or wontdo. Just let me know if you need more info or if there's a workaround. I'm not super good with cgroups, that seems to be the only thing you can pass into the pod command.

[2019-09-11 18:34] rhatdan commented on #3991
We have defaulted podman to exit with 125 on errors unless other tools override.

man podman

Documents this now.  I have no problem changing the default.   But other tools might be relying on this, now.

podman run and docker run both fail with 125 by default.
Just other parts of Docker fail with 1 on failures while podman does 125 for all commands.

[2019-09-11 18:36] rhatdan commented on #3979
Well all a pod is, is a bunch of containers sharing namespaces (and cgroups)

If I have an existing container and do

podman run --pid container:containerA --net container:containerA --ipc container:containerA ...

Then the two containers will basically work as a pod.

[2019-09-11 18:41] mheon commented on #3979
Actually explicitly restricted - you can only share namespaces with a container in a pod if you are part of the pod. Removal ordering issues - need to be able to remove a pod without leaving straggler containers that want to use its resources.

[2019-09-11 18:46] mheon commented on #3993
We're talking about a major rework of the pod command that will allow most of the options from `podman run` (which will be set on the infra container, and shared for all other containers in the pod). But I don't really have a perspective on when it'll happen - probably not for a few months.

[2019-09-11 19:41] mtrmac commented on #2979
That would be _a bit_ better because the compressed layers would never be mmap()ed, we already have some infrastructure to deal with untrusted registry storage, and it would be new code explicitly written for such a risky environment.

Still, it’s an attack vector (add a `manifest.json`→`/home/victim/.ssh/id_rsa` symlink, convince the victim to pull the image, and hope to see the error messages),

[2019-09-11 20:38] rhatdan commented on #3990
You can change the ownership on the volume with the `podman unshare chown UID PATH`

[2019-09-12 01:44] Kitanotori commented on #1843
Not working.

[code]

[2019-09-12 01:50] ashley-cui commented on #1843
@Kitanotori Have you taken a look at [mac-client.md](https://github.com/containers/libpod/blob/master/mac_client.md) to set up Podman for Mac?

[2019-09-12 02:19] Kitanotori commented on #1843
@ashley-cui Thanks. I see, I need to manually set up Linux host in order to use podman on macOS. I think I will just wait until podman can provide similar out-of-the-box experience on macOS as Docker for Mac. Looking forward to podman becoming serious alternative to Docker across platforms. 👍

[2019-09-12 02:31] vbatts opened #4000 "`import -c 'CMD...'` behavior does not match"
/kind bug

**Description**

comparing the behavior of docker-1.13.1 with podman 1.2.0, the `podman import -c 'CMD..' ...` behaviour does not match back.
podman is expecting `'CMD=/usr/bin/farts'` (the '='), and fails with `'CMD /usr/bin/farts'` (the ' '), and fails with brackets `'CMD ["/usr/bin/farts"]'`.

[code]

whereas docker-1.13.1 supports ' ' and brackets, but fails with '='.

[code]

**Out

[2019-09-12 04:00] kunalkushwaha commented on #2979
One way I feel sharing of images can be done without much changes in current workflow is as below.

- The `.. .local/share/containers/storage/vfs-layers` & `.. .local/share/containers/storage/vfs-layers` of users will be changed to `0755` mode.

- When user `foo` wants to list the images of user `bar` too, shall use command e.g `podman images -u bar`
  - Here, based on parsing of files `images.jso

[2019-09-12 04:34] kunalkushwaha commented on #4000
currently, the changes are parsed with `=` only. https://github.com/containers/libpod/blob/a16f63e96e9993a1e2542b6f5c85903cc4659c6e/pkg/util/utils.go#L92

need to be fixed.

[2019-09-12 05:07] abitrolly commented on #3949
@baude even if I commit the state, only saved data will be preserved - all the processes inside will be restarted and memory contents will be lost, right?

[2019-09-12 07:07] abitrolly commented on #3990
@rhatdan `PATH` is path in my directory, not `/var/...`, right? How do I know UID? What will happen to filesystem permissions after I quit this `modified user namespace`?

I also checked `man podman-unshare` and the description sounds too low level. Maybe it is possible to modify it for people who are not familiar with `cgroups` yet.
[code]

[2019-09-12 09:18] marusak opened #4002 "No documentation on system event type"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`system` event type is not documented in https://github.com/containers/libpod/blob/master/docs/podman-events.1.md even though current podman sends these events through varlink API.

Would it be also possible to explain when some events are delivered? (I am currently trying to find out when `s

[2019-09-12 15:34] cevich opened #4005 "errors with varlink via systemd"
/kind bug

**Description**

When executing in a tight loop, or multiple simultaneous podman-remote throws `EOF` errors.

**Steps to reproduce the issue:**

1. `make podman podman-remote`
1. `make install PREFIX=/usr`
2. `systemctl daemon-reload`
3. `systemctl enable io.podman.socket`
3. `systemctl enable io.podman.service`
3. `systemctl start io.podman.socket`
3. `while podman-remote run -it --rm

[2019-09-12 20:51] edsantiago opened #4012 "rawhide, rootless: spurious warning messages"
On rawhide, rootless:
[code]
Adding `|& cat` converts the messages to debug format, with time= / level=warning / msg=...

podman-1.5.2-0.79.dev.gitaf8fedc.fc32.x86_64.rpm , but 78.dev.gitafa3d11 does not elicit this, implying that the problem was introduced between afa3d11 and af8fedc

[2019-09-12 20:54] trv-rpeoples opened #4013 "panic on push"
OS: macOS 10.14.6
Podman version: 1.5.1

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to push a locally built Docker image to an OpenShift registry

**Steps to reproduce the issue:**

1. Build image with `docker build -t my-image .`

2. Use `oc login` to login, `oc project <projectname>` to set project

3. `podman push my-image m

[2019-09-12 21:16] hholst80 opened #4014 "podman info --debug fails under windows when running inside ubuntu:18.04 container"
[code]

[code]

[2019-09-13 10:02] abitrolly opened #4016 "Does Dockerfile USER make sense for podman?"
I see that projects [are still adding](https://github.com/openzipkin/docker-zipkin/pull/217) `USER` directive to Dockerfile in order to secure their containers with `docker`. Does that still make sense with `podman`?

[2019-09-13 10:15] rhatdan commented on #4012
There is no hard dependency on runc, it has switched to crun.  Why is podman (code) requiring runc?  If the libpod.conf is set to crun, runc should  be ignored.

[2019-09-13 10:17] rhatdan commented on #3602
Planning on cutting podman-1.6.0 rc1 today.  If everything goes well, we should have a release early next week.

[2019-09-13 10:32] abitrolly commented on #3979
How does it work in the following user story.
1. I created container with PostgreSQL named **postcon**
[code]
2. I forgot to expose port 5432 to access the db, and instead of restarting container I decide to create a pod name **postpod** with exposed port, and more container there
[code]
3. Now I need to move the `postcon` container to `postpod` pod. Now it gets complicated.

`pod` is just a names

[2019-09-13 10:34] abitrolly commented on #4016
I have to ask this question, because `USER` creates additional problems with volume mapping - #3990.

[2019-09-13 10:41] abitrolly commented on #3990
I've got a thought overnight.

When I run container with custom USER as non-privileged, then there is no `root` inside anymore - is that right? If it is so, then why not to map that custom USER instead of `root` to my UIDs and GIDs instead?

[2019-09-13 10:51] rhatdan commented on #3979
Yes, you can not add an existing container to a pod, because of the conflicts in namespaces, and cgroups.

[2019-09-13 10:52] rhatdan commented on #4016
Yes it still makes sense.
Podman runs as root as well as non-root, and by default even when run in non-root, you might not want your processes to run as `root` of the container.

[2019-09-13 10:58] rhatdan commented on #3990
By default podman as non root, runs as root within the container.  This means the processes in the container have full Namespaced Capabilities.  This also means that if the container process escaped the container, it would have full access to files in your homedir (Based on UID, SELinux would still block it, but I have heard that some people disable SELinux).  If you run the processes within the c

[2019-09-13 11:14] mheon commented on #4012
We don't require it but will warn if it is in the configuration but not
available

On Fri, Sep 13, 2019, 06:15 Daniel J Walsh <notifications@github.com> wrote:

[2019-09-13 12:19] edsantiago commented on #4012
Please don't neglect this message:
[code]
I've just run a quick test and see this message whether runc is installed or not. So in short:
* if runc and crun are both installed, podman nonroot issues the above warning on all (AFAICT) commands.
* if only crun is installed, podman nonroot issues the three warnings described in comment 0.

[2019-09-13 12:20] rhatdan commented on #3990
@abitrolly I am writing a blog based on these issues.  Send me your email and I can expose an early copy to you. dwalsh@redhat.com

Just needs to be reviewed and then I can get it published.

[2019-09-13 12:26] rhatdan commented on #4012
Why are we showing these errors by default?  I thought we defaulted to ERROR.

[2019-09-13 12:28] mheon commented on #4012
@giuseppe I think that systemd CGroup error was added by you, with the recent PR to join systemd cgroups?

[2019-09-13 12:28] mheon commented on #4012
@rhatdan We do, AFAIK

[2019-09-13 12:39] abitrolly commented on #3990
@rhatdan people disable SELinux, because not all builds scripts add `:Z` suffix to volume mounts, without which volumes on SELinux do not work, and `podman` doesn't add this suffix automatically.

My email is anatoli@rainforce.org. I sent email titled "Early copy" from this address.

Given that even with `podman` unprivileged model escaped container can steal my private SSH keys, I don't think tha

[2019-09-13 12:58] abitrolly commented on #3979
Is it possible to detect those conflicts and resolve them one by one manually?