[2022-09-29 20:41] afbjorklund commented on #15976
It was mostly an implementation detail. I _think_ I abstracted the mount and umount into functions, so the same would be needed with the systemd service. If it is generated by the ignition, then it would be less obvious how to manipulate it at runtime

[2022-09-29 20:52] #15989 closed

[2022-09-29 20:56] rhatdan commented on #1916
Here is mine on Fedora.
[storage.conf](https://github.com/containers/podman/files/9679048/storage.conf.txt)

[2022-09-29 21:00] baude commented on #16000
how did you get the podman binary on the windows system?  did you use the podman machine installer or just just use the precompiled binary and make some vms?

[2022-09-29 21:00] mtrmac commented on #15944
(A hypothetical bigger worry is that the `pgzip` package is used in other decompression paths, notably the primary `pull` code. I don’t immediately know if it’s possible for the problematic call combination to happen there — I suppose if it happened on the primary code paths, we would have seen much more breakage, so we are _probably_ fine.)

[2022-09-29 21:02] #15018 closed

[2022-09-29 21:10] n1hility commented on #15561
This should be resolved with our move to the signed installer in 4.3 (to be releaseed soon), which replaces the unsigned msi

[2022-09-29 21:10] #15561 closed

[2022-09-29 21:39] chrispyatt commented on #15963
Thanks that seems to have fixed the issue. When I actually go to run the image though I get the error below:

[code]

I've looked at #3234 (tried reinstalling selinux, etc) but not managed to get past this yet.

[2022-09-29 21:51] ambiamber commented on #14065
You could install podman from the [alvistack](https://build.opensuse.org/project/show/home:alvistack) project.

Podman page:
https://software.opensuse.org/download/package?package=podman&project=home%3Aalvistack

I did find that the default mirror appeared to be out-of-sync when I tried it.

Default mirror:
http://download.opensuse.org/repositories/home:/alvistack/xUbuntu_22.04/

You can find a li

[2022-09-29 22:06] n1hility commented on #15527
@baude are you still looking at this one?  @cdoern was looking for some low-hanging fruit, this looks like one

@baude you probably already determined this, but to help point in the right direction, cobra seems to have a bug where it expects program name to not have a dot:

https://github.com/spf13/cobra/blob/main/powershell_completions.go#L109

This results in the powershell output:

[code]

With

[2022-09-29 22:23] n1hility commented on #15995
@cdoern want to take a look at this one. This issue is that image-path is not properly handling absolute paths.

Relative works (// cc @brainbytes42 for a workaround)

[code]

[2022-09-29 22:40] n1hility commented on #15967
Since Windows 11 has a limited device install footprint (due to the TPM requirements), I think we should hold off on this, at least until it winds up in Windows 10

[2022-09-29 23:19] n1hility commented on #15742
Sorry, I can't seem to recreate this one, and don't see an obvious cause (other than perhaps something was holding a lock preventing removal of the json file). If you run into it again and can expand more on the conditions or even better provide a reproducer ill take another look thanks!

[2022-09-29 23:19] #15742 closed

[2022-09-30 00:26] svenstaro commented on #13627
Bump

[2022-09-30 00:54] cdoern commented on #15995
sure @n1hility ! I will take a look

[2022-09-30 01:06] jakecorrenti commented on #15983
Can I try this?

[2022-09-30 04:36] Taymindis commented on #15986
hi @Luap99 , Linux is ok. Only happened on Mac. when i do the test on MAC, `lsof -a -... | grep :53 ` will show 1000+ connection is connecting to the DNS server.

[2022-09-30 05:33] tobwen commented on #13012
I think you can set `AUDIT_FEATURE_LOGINUID_IMMUTABLE` to disallow changes:
https://github.com/torvalds/linux/blob/e359bce39d9085ab24eaa0bb0778bb5f6894144a/Documentation/ABI/stable/procfs-audit_loginuid#L12-L15

[2022-09-30 05:35] suulperi opened #16006 "[macos] podman machine start on Apple M1 uses qemu with hvf which is not yet supported by qemu on aarch64"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman machine start and the other podman machine commands use not supported qemu (brew installed 7.1.0) accelerator tcg:hvf and cpu configuration on aarch64/darwin (MacOS 12.6 on M1).

**Steps to reproduce the issue:**

1. podman machine init

2. podman machine start

**Describe the results

[2022-09-30 06:04] MartinX3 commented on #13538
/remove Stale

[2022-09-30 06:04] Romain-Geissler-1A commented on #15762
Hi @cdoern,

I don't know if the latest image `quay.io/podman/upstream` includes you change which seems to be merged now, but I tried this image juste now, and it still doesn't work. Podman version doesn't give the build date anymore, and I don't know from which commit this podman was built.

Cheers,
Romain

[2022-09-30 06:51] Hi-Angel commented on #8136
Here's a ⁺¹ comment to create activity. That could be another big advantage of Podman over Docker.

[2022-09-30 07:18] Gaurang2811 opened #16007 "Incorrect value of max_usage when fetching stats for specific container"
**Description**
I am getting incorrect values for memory_usage
getting max_usage: 18446744073709551615 and limit: 18446744073709551615

I have created a container and the memory stats are not correct in the response of getting stats for a container.

**stats cmd output:**
![image](https://user-images.githubusercontent.com/20419166/193210957-ddc2bd36-a253-4aa7-ae3e-197cb2827636.png)

**stats API re

[2022-09-30 08:07] vrothberg opened #16009 "[RFE| podman top: new descriptor for (host) uid"
I want `podman top $ctr huid,uid` to display the user IDs.  While there is already (h)user, it tries resolving to a name and prints the uid only as fallback.

I would have loved to use that in a tutorial for explaining user namespaces.

@rhatdan @giuseppe maybe something for an intern?

[2022-09-30 08:21] giuseppe commented on #15963
not sure what could be.  That seems to depend from the image payload.  Is the image public so I can access it?

Otherwise, you might need to strace the container process and see what syscall fails.  It could be seccomp, try adding `--security-opt seccomp=unconfined` and see if that helps

[2022-09-30 08:25] arixmkii commented on #16006
@suulperi  Did you by any chance migrate your homebrew installation from Intel based Mac?

I can confirm that latest native homebrew qemu + podman works with this accelerator.

[2022-09-30 08:41] suulperi commented on #16006
@arixmkii - yes I have migrated homebrew from Intel to M1. But I have uninstalled homebrew and reinstalled it without success. Maybe I have not properly uninstalled everything.

[2022-09-30 08:54] arixmkii commented on #16006
I can't comment on this as I did clean install w/o restoring anything, when I received Apple Silicon laptop. But may be this discussion will help you https://github.com/Homebrew/discussions/discussions/417

[2022-09-30 09:01] suulperi commented on #16006
I'm able to tackle accelerator error if using tcg only. but I'm still stuck with qemu cpu configuration
```Error: qemu exited unexpectedly with exit code 1, stderr: qemu-system-x86_64: unable to find CPU model 'host' ```

[2022-09-30 09:50] chrispyatt commented on #15963
Disabling SELinux got the container running (ish), but I would prefer to have SELinux enabled. Passing a local volume using `-v` changes the error to one saying `SELinux relabelling of ... is not allowed` (I'm unsure whether this solves or just masks the previous error), so perhaps this is a local server config issue.

[2022-09-30 10:03] rhatdan commented on #15963
What AVCs are you seeing

sudo ausearch -m avc -ts recent

[2022-09-30 10:04] rhatdan commented on #15963
You can also run the container with SELinux disabled

podman run --security-opt label=disabled ...

[2022-09-30 10:42] rhatdan commented on #13012
Is this available as a sysctl or just at kernel build time?

I think this should be default in Fedora BTW.

[2022-09-30 10:44] chrispyatt commented on #15963
Running with `--security-opt label=disable` doesn't seem to change anything. The output of `sudo ausearch -m avc -ts recent` (last entry) is below:
[code]

[2022-09-30 10:50] rhatdan commented on #15963
Could you run
$ sudo dnf -y reinstall container-selinux
$ restorecon -R -v ~
And then try it again.

[2022-09-30 11:09] vrothberg commented on #15983
Sure, thanks @jakecorrenti !

[2022-09-30 11:11] vrothberg commented on #15989
Awesome, thanks a lot @cevich !!!

[2022-09-30 11:16] vrothberg commented on #15974
@jjenne-cisco are you good to go?

[2022-09-30 11:19] legaul-cisco commented on #15974
We found that `podman build . -t foo` tags the image with `docker.io/library/foo`, so even if the `podman load` behaviour is explained then there may be something else to look at here? jjenne-cisco should be able to give more detail on Monday.

[2022-09-30 12:57] rhatdan commented on #16009
I agree, would like to see someone add this.
PS the place to start is in https://github.com/containers/ps.go

[2022-09-30 13:01] rhatdan commented on #15983
I think the issue is the parser we are using to translate kube.yaml is not supporting that mechanism for passing environment variables.

[2022-09-30 13:02] rhatdan commented on #15983
We end up with the value but not the name.

[2022-09-30 13:56] rhatdan commented on #14352
I believe @baude is implementing this inf netavark-dhcp.

[2022-09-30 14:02] Gaurang2811 opened #16012 "Incorrect value of max_usage when fetching stats for specific container"
**Description**
I am getting incorrect values for memory_usage
getting max_usage: 18446744073709551615 and limit: 18446744073709551615

I have created a container and the memory stats are not correct in the response of getting stats for a container.

**stats cmd output:**
![image](https://user-images.githubusercontent.com/20419166/193210957-ddc2bd36-a253-4aa7-ae3e-197cb2827636.png)

**stats API re

[2022-09-30 14:22] rhatdan commented on #11594
Reminder @giuseppe @vrothberg

[2022-09-30 14:29] bobmcwhirter commented on #13803
fwiw, this currently affects `testcontainers-rs` which attempts to support podman in addition to docker, but deserializing the output of `inspect` currently breaks hard due to expectation of an array value.

[2022-09-30 14:34] Luap99 commented on #15986
If it works on linux it is most likely a gvproxy issue (the network proxy for podman machine VMs) and not podman

[2022-09-30 14:49] #16012 closed

[2022-09-30 15:03] ashley-cui commented on #15912
Closing as it looks like this is resolved, the usage of CONTAINER_HOST is documented

[2022-09-30 15:03] #15912 closed

[2022-09-30 15:10] lsm5 commented on #15997
It's always been active whenever I've checked. Or, if I have to wildly speculate, it `became` active after running that command and started accepting jobs, which, so far, is the only explanation I have.
[code]

See the continuously failing jobs in the pipeline list at: https://gitlab.com/rhcontainerbot/pkg-builder/-/pipelines . The 2nd one from top which succeeded was a result of a manual retry, a

[2022-09-30 15:13] ashley-cui commented on #16006
Looks like you're using `qemu-system-x86_64` which is the incorrect qemu for M1. Are you using Rosetta?

[2022-09-30 15:13] rhatdan commented on #13627
Since we now have the restart policy, does it make sense to move forward on this?

[2022-09-30 15:13] Luap99 commented on #15997
not the socket, the service! `systemctl --user status podman.service`. As long as the system service process is still running systemd will not spawn a new service process. Maybe the podman system service process gets stucked.

[2022-09-30 15:14] ashley-cui commented on #14237
@cdoern does your SSH work fix this?

[2022-09-30 15:14] rhatdan commented on #6377
I think this is still waiting for conmon-rs to become a reality.

[2022-09-30 15:15] lsm5 commented on #15997
ah whoops, i read your previous comment wrong, my bad.

[code]

[2022-09-30 15:15] rhatdan commented on #8223
@flouthoc reminder

[2022-09-30 15:15] vrothberg commented on #13627
They are conceptually unrelated.  In order to work on it we need to find consensus on how to implement it, see https://github.com/containers/podman/issues/13627#issuecomment-1139545682.

[2022-09-30 15:17] lsm5 commented on #15997
do i need to enable the service and keep it enabled explicitly? The current docs don't mention it https://docs.gitlab.com/runner/executors/docker.html so maybe that needs to change?

[2022-09-30 15:18] ashley-cui commented on #15966
Closed via https://github.com/containers/common/pull/1169

[2022-09-30 15:18] #15966 closed

[2022-09-30 15:22] Luap99 commented on #15997
No, the socket should start the service once a connections happen. The podman service process will then exit when it does not handle active connections after 5 seconds. For the next connection systemd should start it again, looks like it exited in your output so I would think the systemd socket should start it again.

Can you try to curl the socket manually and see if this works? Or just use podma

[2022-09-30 15:26] mitchellmaler opened #16014 "Unable to pull 4.2.1 from quay.io/containers/podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**

Trying to use the patched 4.2.1 version of podman image but it is not found. Only 4.2.0 is avaiable.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Not found

**Describe the results you expected:**
Image available

[2022-09-30 15:47] mheon commented on #16014
@TomSweeneyRedHat PTAL

[2022-09-30 15:48] Luap99 commented on #16014
The latest version always depends on the fedora version, since 4.2.1 is not yet in fedora stable we do not have an image ready.

[2022-09-30 15:55] mitchellmaler commented on #16014
Ah okay, I was not aware of that.

[2022-09-30 16:30] rhatdan commented on #13627
@mheon Thoughts?

[2022-09-30 16:34] TheComputerM commented on #15338
Devcontainers with podman would be awesome. Are there any workarounds for this, facing this same issue.

[2022-09-30 17:27] mheon commented on #13627
IMO: Add a `Healthy` bool to the existing struct (or create a new, separate array just of strings, to allow more versatile argument passing), and allow that to be set instead of the existing conditions array. That allows us to not make a breaking change, but support new functionality.

[2022-09-30 17:30] mtrmac commented on #15944
FWIW https://github.com/klauspost/pgzip/pull/50 was merged; so we need it in _all_ the top-level commands.

[2022-09-30 18:01] mtrmac commented on #15944
Filed:
- https://github.com/containers/image/pull/1668
- https://github.com/containers/skopeo/pull/1764
- https://github.com/containers/buildah/pull/4306
- https://github.com/containers/podman/pull/16015

[2022-09-30 18:14] lsm5 commented on #15997
things seem to work better with enabling a system connection. I'll keep checking how runs go over the next few days. Thanks @Luap99

[2022-09-30 18:36] cpolizzi commented on #14388
@baude My apologies for my delay on this. Currently, for our customer, we have resolved this through our existing automation and also did a slight course correction for future planned work. That course correction is that we import our desired FCOS image from the project for both Intel and Apple silicon into a private storage solution. We augmented our automation to perform the SHA validation of wh

[2022-09-30 19:14] mheon commented on #13803
From what I'm seeing, our Docker-compat REST API correctly treats it as an array. Or are you invoking the Podman CLI and using that?

[2022-09-30 19:18] bobmcwhirter commented on #13803
Yah, I was attempting to use `testcontainers-rs` using their `Cli` interface which supports either Docker or Podman, in theory.

I've since moved to using the HTTP client over unix socket, and that works as expected, even through qemu-x86 running on an M1 mac, with all the SSH shenanigans.

[2022-09-30 21:34] yogo1212 commented on #15934
@giuseppe thank you!

i've noticed there is actually an error message for that:
[code]

adding a `-u` somehow circumvents the check leading to the more helpful error message:
[code]
i assume the code setting the uid for the application has it and the code writing to `ping_group_range` doesn't.

it works with the added `--uidmap 0:1:1` - as you promised - but with a few warnings:
[code]

these warn

[2022-09-30 22:15] YevheniiPokhvalii opened #16017 "Podman from LinuxBrew/Homebrew does not work on Linux"
I'm using `brew` on Linux a lot since they released it on Linux.
Every package I install on Linux with `brew` works as expected.
However, when I install `podman` with `brew`, there is no error, but there is no podman in the PATH after the installation even after reloading shell:

[code]

In a new shell:
[code]
[code]

I can see that `brew` downloads the package for Linux `podman--4.2.1.x86_64_linu

[2022-10-01 01:51] #15944 closed

[2022-10-01 02:16] Taymindis commented on #15986
You are right, what i saw are all gvproxy flood out the connection list

[2022-10-01 05:43] suulperi commented on #16006
@ashley-cui - Yes I was using Rosetta. I uninstalled it and after it podman works perfectly. Using correct VM image as well. Thanks for your help.

[2022-10-01 05:43] #16006 closed

[2022-10-01 07:14] robinshine opened #16019 "ps command to list container with volume filter does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Use "ps" command to list container with volume filter does not work

**Steps to reproduce the issue:**

1. Run a container with a mounted volume, for instance:
[code]
2. Run command to list all containers with mounting point "/data"
[code]

**Describe the results you received:**
No container

[2022-10-01 07:33] afbjorklund commented on #16017
The client program is called `podman-remote`, on Linux. It is renamed to `podman`, on macOS and Windows.

https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/podman.rb

The "server" program called `podman`, which also has a `podman --remote` client built-in, got stuck in review:

* https://github.com/Homebrew/homebrew-core/pull/84276

[2022-10-01 07:49] afbjorklund commented on #16003
Normally you would use something like `docker save | podman load`. You could also set up a local registry ?

[2022-10-01 07:53] afbjorklund commented on #15980
Something like this (swap file) could work, as a workaround:

https://github.com/coreos/docs/blob/master/os/adding-swap.md

[2022-10-01 09:40] rhatdan commented on #15563
@mtrmac @vrothberg PTAL

[2022-10-01 09:43] rhatdan commented on #15380
@giuseppe @nalind @vrothberg @mtrmac PTAL

This looks like a container/storage locking issue.

[2022-10-01 10:03] rhatdan commented on #13627
Seems like we would have three states, unkown, healthy and unhealthy.  So I don't think a bool would work

[2022-10-01 11:09] chickeaterbanana opened #16021 "podman 3.0.1 network - partially dropping network traffic for some hosts"
How can I debug a situation where the tcp handshake is working and https traffic is working partially for some hosts?

Situation:

partially traffic between ipv4 internet and a podman container(f.e alpine) is dropped.

 * https://www.google.com is working
 * https://s3.eu-central-003.backblazeb2.com is not working
 * tcp handshake is working in container and host network

hardware setup:
 - router

[2022-10-01 11:40] Luap99 commented on #16019
The volume filter only searches for volume names AFAIK and not paths.

[2022-10-01 11:43] Luap99 commented on #16021
We only support the latest versions upstream and 3.0 is super old.
Either way this looks like generic network issue and not something podman is doing.

[2022-10-01 11:43] #16021 closed

[2022-10-01 11:45] Luap99 commented on #16017
I recommend to file this against homebrew since we do not control their packaging.

[2022-10-01 11:45] #16017 closed

[2022-10-01 11:47] afbjorklund commented on #16017
The situation is the same (with podman-remote), if you install podman from elsewhere.

[2022-10-01 11:51] Luap99 commented on #16014
Looks like podman v4.2.1 is in fedora 36 now so the automation should create and push a new image in the next 24h.

[2022-10-01 12:48] Douile opened #16022 "Systemd check wrong on systems with hidepid=invisible"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When not using systemd but having procfs option hidepid=invisible enabled, the systemd check we default to assuming it is a systemd system. Which then means slirp4netns will error in `podman-compose up` (#13703).

**Steps to reproduce the issue:**

1. Setup rootless podman on openrc distro

2

[2022-10-01 13:22] chickeaterbanana commented on #16021
3.0.1 is the latest in debian stable https://packages.debian.org/search?keywords=podman

I'll try to update it to 3.4.7.

[2022-10-01 13:42] YevheniiPokhvalii commented on #16017
I could not locate `podman --remote`  in `brew`:
[code]

[2022-10-01 14:25] afbjorklund commented on #16017
If you want to use the Podman "distribution" instead of Ubuntu, you can install in WSL2:

https://github.com/containers/podman/blob/main/docs/tutorials/podman-for-windows.md

[2022-10-01 16:02] christianbueno1 opened #16023 "Can't create files and directories from the host without sudo in a mounted directories, #podman #mount #volume"
**Is this a BUG REPORT**

**Description**
I was mounting a host directory with the idea of edit files from the host but i can't it say permission denied.
images: wordpress:6.0.2-php7.4-apache, mariadb:10.5.15

**Steps to reproduce the issue:**

1. Create a Containerfile to add `Listen 8080` in `ports.conf` file.

[code]
2. Build the image

[code]
3. Create the directories, the mount pointers.
User

[2022-10-01 17:23] mtrmac commented on #15563
`podman run` can, in principle, pull images (depending on the `--pull` option), and IIRC for the _remote_ operation we need to list all credentials and forward them to the remote server. The way that currently works, we currently always trigger a “pull” operation on the server, and always send the full set of credentials to the server — letting the server make all the policy decisions.

It would,

[2022-10-01 17:29] christianbueno1 commented on #16023
I had a problem before about trying to create files and directories, because that I was setting the UID/GID of `var-www-html` to the user 33(www-data). I tried  to reset the directory to my user `chris(1000)` again and now that worked.

[code]
This time do can create files and directories there, and can work in my project. Thanks pal.

[2022-10-01 17:30] #16023 closed

[2022-10-01 17:30] mtrmac commented on #15380
That’s more or less just how it works; without additional image stores, using just the primary one, I expect you‘d see the same behavior.

(The behavior is not that the store being written is locked _continuously_ over the time of the pull, but it is locked _almost all of the time_, at least if we are good at optimizing the bottlenecks out; there are brief blips where the write lock is released wh

[2022-10-01 20:10] tobwen commented on #13012
```auditctl --loginuid-immutable```

[2022-10-02 00:37] richardhenwood-gradient opened #16025 "curl API CPU stats look odd?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Get CPU stats:
[code]
The [documentation](https://docs.podman.io/en/v3.4.4/_static/api.html#tag/containers/operation/ContainersStatsAllLibpod) isn't specific, but by including [this reference](https://docs.podman.io/en/latest/markdown/podman-stats.1.html) I read that AvgCPU, or CPU are: "Perc

[2022-10-02 01:43] nivekuil commented on #15708
Think you fixed this with https://github.com/containers/podman/pull/16016?

[2022-10-02 07:18] M1cha opened #16027 "`/dev/std*` don't work with `--userns=auto`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When using `--userns=auto` and NOT allocating a tty, podman will use pipes for stdout and stderr. Those work fine when using them through the file descriptors(1, 2) inherited from the parent. But you get an error when you try to open them through `/dev/stderr` or `/dev/stdout`.

This is e.g. u

[2022-10-02 10:19] Luap99 commented on #15708
I don't think so. Looking at the code in https://github.com/containers/common/blob/e5d97e0eea0a35d2b1bf15239a4130e89fee5619/libnetwork/netavark/run.go#L112 we should always delete static ips from the db. Therefore something before that must have failed and never called into that network cleanup code path.

[2022-10-02 12:37] masch commented on #12646
I have this issue, Is there a workaround until you could fix it?

[2022-10-02 14:38] andrei-n-cosma commented on #12965
In order to mimic K8s behavior in regards to network, we have to create one common network to which all pods created by play-kube will be added.
Make play-kube do following by default:
[code]
This would allow pods to discover and communicate with other pods - that's the basic of [K8s network model](https://kubernetes.io/docs/concepts/services-networking/#the-kubernetes-network-model).
Note that I'

[2022-10-03 02:03] vans163 opened #16030 "btrfs driver + graphdriver no Data inspect for link to subvolume"
/kind bug

**Description**

Using `podman inspect {container}` the GraphDriver section does not carry a link to the topmost subvolume used (overlay driver shows the lower+upper+work+merge directory)

[code]

**Steps to reproduce the issue:**

1. Enable btrfs as storage + graph driver

2. `podman inspect {container}`

**Additional information you deem important (e.g. issue happens only occasionally

[2022-10-03 02:30] miyao-kota commented on #15993
@vrothberg
Thanks for the reply.
I am having an issue with some images not being able to pull, not all images.
Since podman is installed as a dependency of a package called OCNE(Oracle Cloud Native Environment), I will check the impact on OCNE before upgrading.
Sorry for this, but I am unable to upgrade immediately.

[2022-10-03 06:17] Gaurang2811 commented on #16007
Found that it is an issue with cgroupVersion: v2 i.e.  OCIRuntime crun.

Created two containers `test_mem_default_runtime`( rutime crun) and `test_mem_custom_runtime`( runtime runc) and getting correct mem usage for `test_mem_custom_runtime`.

`podman run -d --rm -it -m 512m --name test_mem_default_runtime busybox`
`podman run -d --rm -it -m 512m --runtime=/usr/bin/runc --name test_mem_custom_runt

[2022-10-03 07:26] M1cha commented on #16027
That's what the file looks like, it uses the special symlink dereference handling for pipes:
[code]

The proc man page also has some information about this:
[code]

this leads me to think that whoever creates the pipe creates it with the wrong permissions because the user-namespace isn't being considered. Am I right that the pipe gets created by the container runtime? For me that'd be `crun`. If t

[2022-10-03 07:38] M1cha commented on #16027
okay so I did the following test:
`podman run --rm --userns=auto:size=65534 busybox sh -c 'sleep infinity'`
The PID of `sleep` was `707087`, so I did:

[code]

That seems to confirm, that the pipe is simply owned by the wrong user. The weird part is that crun should be doing this already: https://github.com/containers/crun/pull/755
I'll keep looking :eyes:

[2022-10-03 07:52] yajo commented on #15580
I just tested with podman 4.2.1 and it is still failing. On which version is this fix gonna get released?

[2022-10-03 09:02] samskiter commented on #15887
@rhatdan Thanks for the reply - I have had a good go but have been unable to get 4.2 installed and working on the Azure hosted ubuntu 20.04 machines...

[2022-10-03 09:58] kspendli commented on #10824
i faced same kind of issue.

Remove podman brew uninstall podman
Remove containers files from the following directories:
rm -rf ~/.config/containers/
rm -rf ~/.local/share/containers

rm ~/.ssh/podman* related files
Reinstalled podman using brew brew install podman
Init the podman machine and start it.

[2022-10-03 10:00] kspendli commented on #4364
i used below steps to resolve.

Removed podman brew uninstall podman
Removed containers files from the following directories:
rm -rf ~/.config/containers/
rm -rf ~/.local/share/containers

rm ~/.ssh/podman* related files
Reinstalled podman using brew brew install podman
Init the podman machine and start it.

[2022-10-03 10:07] Luap99 commented on #15580
4.3

[2022-10-03 10:33] StarpTech opened #16031 "Podman doesn't compress image layers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

Pushing with podman doesn't compress the image layers. I use Github Container registry.

**Steps to reproduce the issue:**

1. `podman push --compress <tag> <dest>` (I tried also different compression formats)

2. `docker push <tag>`

Dockerfile

[code]

**Describe the results

[2022-10-03 10:44] #15556 closed

[2022-10-03 10:54] rhatdan commented on #15579
@n1hility @benoitf @gbraad what is the state of this now?

[2022-10-03 11:09] ljavorsk opened #16033 "Reopen issue "Kerberos in container can not be initiated""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've added some updates on the issue https://github.com/containers/podman/issues/14750 but no one has answered me there so I'm opening a new issue to track it.

[2022-10-03 11:37] benoitf commented on #15579
Podman Desktop has a PR about that https://github.com/containers/podman-desktop/pull/510

ie: start Podman Desktop (that starts Podman Machine) on boot for macOS

[2022-10-03 12:07] samskiter commented on #14920
Think I'm seeing this on MS Azure agents - i think the XDG_RUNTIME_DIR is needed if connecting to an external repository? @rhatdan (the auth details after login are stored in `${XDG_RUNTIME_DIR}/containers/auth.json`)

[2022-10-03 12:36] edsantiago commented on #15356
Still in progress - I have a `docs_dedup_cleanup` local branch that is gathering all the smaller tweaks gathered in the process of docs_dedup.

[2022-10-03 13:16] jjenne-cisco commented on #15974
Hi @vrothberg, yes I'm happy to close this issue now. Thanks, for pointing me towards the skopeo behaviour.

[2022-10-03 13:18] mheon commented on #16027
@giuseppe PTAL

[2022-10-03 13:18] #15974 closed

[2022-10-03 13:40] cevich commented on #15944
Okay, so sounds like we're likely to hit the same/similar/related issues bringing F37 into other repo's CI.  Dang :disappointed:

[2022-10-03 13:41] cevich commented on #15944
Oops, didn't refresh before commenting.  I'll rebase my PR w/o the test-skip and cross my fingers :crossed_fingers:

[2022-10-03 14:55] mheon commented on #16033
Done

[2022-10-03 14:55] #16033 closed

[2022-10-03 14:56] mheon commented on #16031
@vrothberg PTAL

[2022-10-03 14:57] edsantiago commented on #15367
[f36 remote rootless](https://api.cirrus-ci.com/v1/artifact/task/5193909100871680/html/sys-remote-fedora-36-rootless-host.log.html#t--00390) again

[2022-10-03 15:20] haarts commented on #8841
I still face this issue with podman 4.1.1.

I've generated a unit with with `podman generate systemd` and got this file:

[code]

The container was initially run with the `--log-driver=journald` and I can confirm that is what it uses with `podman container inspect`.

I copied the unit file to `$HOME/.config/systemd/user` and successfully ran it with `systemctl start ...`. The logs remain empty tho

[2022-10-03 15:51] Gaurang2811 commented on #14676
I am getting this error with v4.1.1: [https://github.com/containers/podman/issues/16007](https://github.com/containers/podman/issues/16007)

[2022-10-03 15:52] edsantiago opened #16036 "podman exec: Error: retrieving exec session exit code: exec died ... unable to find event"
[code]
First seen Sep 27. So far, `aarch64` only.

### [sys] 309 sdnotify : play kube - with policies
* fedora-36-aarch64 : sys podman fedora-36-aarch64 root host
  * PR #15987
    * [09-29 10:15](https://api.cirrus-ci.com/v1/artifact/task/5646507218042880/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00309)
  * PR #15962
    * [09-27 13:00](https://api.cirrus-ci.com/v1/artifact/task/517

[2022-10-03 16:26] cevich commented on #15944
Rebased my PR with these changes and force-pushed #15760.  CI [is running now.](https://cirrus-ci.com/build/4866940639379456)  Thanks a bunch @mtrmac

[2022-10-03 16:44] mheon commented on #16007
@giuseppe PTAL

[2022-10-03 18:06] parasyte opened #16038 "Volume mounting does not work in bash on Windows"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After installing Podman Desktop on Windows, a local HTML file is opened with the following information:

<blockquote>
<h2>Volume Mounting</h2>
New in Podman v4.1 is the ability to perform volume mounts from Windows paths into a Linux container. This supports several notation schemes, includin

[2022-10-03 18:56] mheon commented on #16038
@n1hility PTAL

[2022-10-04 00:42] KCSesh opened #16039 "Podman inside of podman, understanding the pros/cons"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This is more of a question to the podman team - apologies if this is the wrong forum.

I have a use-case where I run a managed service on a managed device. This service is a systemd process that runs customer supplied containers.

I am looking to containerize my service, which has introdu

[2022-10-04 01:55] lucacome commented on #15423
I was wondering if anybody has thought of any solutions for this. Maybe we can involve people from Docker to find a common solution that works in both products?

[2022-10-04 03:23] christianbueno1 opened #16040 "After mount a host diectory can't write there. #podman #wordpress #mariadb"
**Is this a BUG REPORT **

/kind bug

**Description**

After create the pod with a wordrpess and mariadb containers there using the scripts bellow, with configurations that allow me to read/write the wordpress volume mounted there, I can't read write there. I know that the user of the directory `/var/www/html` inside the wordpress container is www-data 33.
[code]

**Steps to reproduce the issue:**

[2022-10-04 03:41] cluening opened #16041 "SSL_CERT_FILE in podman machine's systemd environment"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I work in an environment that uses an interception proxy, meaning I need to set the normal proxy variables as well as the SSL_CERT_FILE variable when using podman machine on my mac.  In recent podman releases, the certificate file gets copied into the VM correctly and almost all of the enviro

[2022-10-04 03:45] christianbueno1 commented on #16040
I dont't know what is the problem or if it is only the first time but after remove the pod and reset the UID/GID of `var-www-html` to `chris` the UID/GID remains as `chris` `1000` and can write there for example using vscode.
[code]

[2022-10-04 05:16] dneto82 opened #16042 "Windows Binaries | Include Version"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Binaries version information on Windows "Podman.exe"**

To make easier corporate deployments and detection over MDM solutions, I believe that binaries should have release version on your binaries, such other apps.

**Steps to reproduce the issue:**

1. Install podman on Windows system

2. Check installe

[2022-10-04 07:24] giuseppe commented on #16007
the issue is already fixed upstream with cf2118eab3b736feb8018bcc9f4cdb548b7ab70a

[2022-10-04 07:24] #16007 closed

[2022-10-04 08:23] giuseppe commented on #16027
what happens is that the `fchown` performed by crun fails because the pipe is owned by an user that is not mapped inside the user namespace:

[code]

conmon creates the pipe so it is a bit more complicated to get a clue about the user namespace there.  Let me try if I can solve it in crun.

[2022-10-04 09:59] Loki-Afro opened #16043 "Odd permissions when using podman save"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman save fun -o /tmp/fun.tar

2. ls -l /tmp/fun.tar

3. generates a file with this permissions: `-rw-r--r--. 1 root root`

**Describe the results you received:**
only root can read and write, the user who created it can only read, file is owned by root

[2022-10-04 10:22] giuseppe commented on #16040
could you also specify `U` to the `/var/lib/mysql` mount?  The user running inside the container is different than the user on the

[2022-10-04 10:27] giuseppe commented on #16022
would you mind to open a PR where we enhance the test to check for `dbus-launch` presence when `/proc/1` doesn't exist?  In this way it will be easier to test it on your environment

[2022-10-04 10:34] rhatdan commented on #15423
@flouthoc PTAL

[2022-10-04 10:34] rhatdan commented on #15423
@nalind PTAL

[2022-10-04 10:45] chrispyatt commented on #15963
My IT dept seems to have fixed the SELinux relabelling problem so now it runs (kind of). Thanks for your help.

Is there anything different with Podman vs Docker with respect to external database permissions? The image links out to a postgresql database on the server but is currently giving me Ident Authentication errors that I don't remember seeing before. Just trying to work out whether that's a

[2022-10-04 12:48] edsantiago commented on #15367
Slightly different symptom here, also [f36 remote root](https://api.cirrus-ci.com/v1/artifact/task/6520997825216512/html/sys-remote-fedora-36-root-host.log.html#t--00266):
[code]
It's followed by the usual cascade of everything-is-broken-forever failures, so I'm treating it as the same bug.

[2022-10-04 13:20] mheon commented on #16042
@n1hility PTAL

[2022-10-04 13:51] edsantiago opened #16046 "create --init-ctr once: once again, seems to be incorrectly running"
Another init-ctr flake; it actually looks identical to #11682 except for the warning, which is new:
[code]
Only two instances in the past month; before that, May.

### Podman init containers [It] podman make sure once container is removed
* fedora-36 : int podman fedora-36 root container
  * PR #15753
    * [09-12 18:21](https://api.cirrus-ci.com/v1/artifact/task/4883521108967424/html/int-podman-f

[2022-10-04 14:53] edsantiago opened #16047 "podman-kube@.service template: container exists, it shouldn't"
[code]
Relevant code: https://github.com/containers/podman/blob/43a8f1ae555018b5514af61ed789648afc79a589/test/system/250-systemd.bats#L436-L437

My understanding of systemd is that `systemctl stop` shouldn't return until the unit is really truly stopped? Is this a real bug, or a test bug? (It's easy to add a `wait` to the test, but my gut tells me that's not the right thing to do).

* ubuntu-2204

[2022-10-04 15:45] Luap99 commented on #16014
The v4.2.1 image is available, https://quay.io/repository/podman/stable?tab=tags

[2022-10-04 15:45] #16014 closed

[2022-10-04 16:32] cfelder opened #16048 "podman machine not starting on macOS Catalina 10.15.7 (amd64)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

First of all, thanks for creating macOS Pkg files as a brew alternative. On a recent macOS Monterey 12.3.1 (amd64) this is working fine. On my macOS Catalina 10.15.7 (amd64) the following fails though.

**Steps to reproduce the issue:**

1. Install [podman-installer-macos-amd64.pkg v4.2.1](ht

[2022-10-04 19:23] cevich commented on #16042
Hmm, well the windows binary is cross-compiled on Linux.  Maybe there's a build flag we need to add?

The podman version value is exposed (internally) in the `Makefile` as `$(RELEASE_VERSION)` and `$(RELEASE_NUMBER)`.  So if someone knows the right build argument, it should be easy to add.

[2022-10-05 00:35] christianbueno1 commented on #16040
Suddenly while working there the wordpress directory mounted `var-www-html` change to `100032:100032` . The owner of that directory in the container is `33(www-data)`  and the host user is `chris(1000)`.
If `100032` is in the range of `100000:65536` why can't write there and have to set the UID/GID to my user `1000(chris)`.

[code]

[2022-10-05 07:18] giuseppe commented on #16040
The user 33 in the container is mapped to the user 100032 on the host. If you want the directory to be owned by your users then the directory must be writeable to other users and have mode `0777`.

[2022-10-05 09:19] arcusfelis opened #16054 "Error: qemu exited unexpectedly with exit code 1, stderr: qemu-system-x86_64: cannot create PID file: Cannot lock pid file: Resource temporarily unavailable"
podman fails to start

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1. Stop machine.

2. Start machine.

3. Machine starts or not starts very unpredictably.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Stuff to work? More descriptive error messages?

**

[2022-10-05 09:27] arcusfelis commented on #16054
I've removed old machine and created a new one. For a NEW working machine I have:

[code]

info

[code]

[2022-10-05 10:19] Luap99 commented on #16022
According to [`sd_booted(3)`](https://man7.org/linux/man-pages/man3/sd_booted.3.html) it is enough to just check for the directory `/run/systemd/system/`

[2022-10-05 10:26] Luap99 commented on #16054
This error is coming from qemu, likely a bug in qemu and not podman.

[2022-10-05 10:32] Jeffy1992 commented on #7704
$ cat /proc/sys/user/max_user_namespaces
63907

[2022-10-05 11:05] micheljung commented on #15899
Related: https://github.com/containers/podman/issues/15390

[2022-10-05 11:30] na0x2c6 opened #16056 "Exit statuses such as `docker run` are not inherited from the container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When using `docker run` or `docker exec` commands with _podman-machine_, it appears that the exit status of the container is not inherited by the client. `docker-compose` is similar.

I could confirm that `podman run` or `podman exec` inherits the exit status from the container.

Running the s

[2022-10-05 11:32] Loki-Afro commented on #16043
yeah, correct, had an old alias in place ...

[2022-10-05 11:32] #16043 closed

[2022-10-05 11:49] sanmai-NL commented on #15140
Not stale

[2022-10-05 11:57] rhatdan commented on #15963
on Rootful there is no difference.  If you have the database on a volume in rootless mode, then it might not have the correct permissions on the database then expected.  You could attempt to add a volume flag on themount of :U

[2022-10-05 12:06] rhatdan commented on #16046
Could this be a race condition where containers within the first Pod start have no finished closing, before the second Pod starts and ends up continuing to use the same /;dev/shm?
Is this possible?  Does the infra container wait for all of the containers to actually stop or does it mark the pod stopped as soon as it sends the stop signal to its containers.

Do we need a podman pod wait?

[2022-10-05 12:19] micheljung commented on #15899
Thank you very much @Luap99 for your valuable input!

What I don't understand yet is in which scenario Podman decides to start slirp4netns. When creating the first container? And does it then assume that the process is already running if one container is running?

One might expect that the process is started whenever it's not running.

[2022-10-05 12:39] Luap99 commented on #15899
Podman creates the rootless netns when it does not exists (including starting slirp4netns).  As long as the rootless netns is still there (bind mount under XDG_RUNTIME_DIR/netns/rootless-netns...) we expect that everything is working. You have to stop all containers with a bridge network, only then podman cleanups the netns (and kills slirp4netns).

[2022-10-05 13:22] iamkirkbater commented on #15976
Fair enough.  I just noticed this happened overnight when I went to go create a container this morning and it failed with the `statfs /Users/me/path/to/file: no such file or directory` error, and when I looked at the tab I was logged into podman machine with I see the following:

[code]

[2022-10-05 13:27] edsantiago commented on #16046
Thank you!

[2022-10-05 13:42] djnotes commented on #15526
Is this fully solved?
I'm still getting empty list of containers on Windows with the latest pre-release version.
Tried Reload and Force Reload with no success.

[2022-10-05 13:50] FootStark opened #16059 "Syslog output with few or even single characters by conmon (not full lines)."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

conmon-output to syslog produces single or double character outputs mith mssql container. This completely floods log in /var/log/syslog. It would be great if conmon would buffer and wait for newline before printing to syslog. Or delay and buffer output for maybe up to 10 ms.

Related issues:

[2022-10-05 13:54] baude commented on #16059
please try the latest version of podman (4.2) and conmon (2.1.4)

[2022-10-05 13:57] #15963 closed

[2022-10-05 14:02] peterpramb opened #16060 "Custom DNS server ignored with user namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a rootful container/pod with user namespace, any provided custom DNS server is ignored and always overwritten when attaching to a CNI network with `dnsname` enabled. Without user namespace the provided DNS server is correctly entered in `etc/resolv.conf`.

**Steps to reproduce th

[2022-10-05 14:24] edsantiago commented on #15943
For posterity, because it looks like I'm abandoning this again: thinking that perhaps the root cause was some test that ran before the flaking one, I wrote a script to analyze my logs, looking for tests that precede the invalid fd` one in all cases. No luck: there are 73 such matches. Too many to really evaluate.

Among those, in 11 of the 16 log files, `podman run with restart-policy always resta

[2022-10-05 14:26] Taymindis commented on #15986
@Luap99 is there any workaround solution? due to overwhelming gvproxy connection, the podman machine slow down and need to restart everytime.

[2022-10-05 14:27] baude commented on #16060
@Luap99 @mheon is this a situation where we only fixed this in nv/av because CNI?

[2022-10-05 14:49] Luap99 commented on #16060
No this will likely effect netavark as well, the resolv.conf code is the same on the podman side.

[2022-10-05 14:50] Luap99 commented on #16060
@peterpramb Can you test this with podman v4.2.1 please. I remember working on this not so long ago.

[2022-10-05 14:52] Luap99 commented on #16060
Yeah looks like my work went into v4.2 (https://github.com/containers/podman/pull/14220), I think this is already fixed.

[2022-10-05 14:52] #16060 closed

[2022-10-05 16:38] fpoirotte commented on #13538
Due to https://github.com/containers/podman/pull/16029 having been merged just a few hours ago, I think the need for this feature has grown bigger.
In effect, this now seems to be the only way to prevent 2 pods from communicating with one another (as they can now do so freely over the default auto-attached `podman-default-kube-network` network).

[2022-10-05 17:54] Luap99 commented on #13538
This was already the case when run as root. To restore the previous behaviour as rootless you can still use --network slirp4netns.

[2022-10-05 18:19] lukasmrtvy opened #16062 "Podman hangs, possible deadlock ?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Seems that I am suffering from the very same problem as mentioned in https://github.com/containers/podman/issues/1574 ( 4y old ), but with the latest Podman version ( 4.2.0 ).

My scenario is a little bit different. I am running "custom scheduler" in a container with a mounted podman.socket an

[2022-10-05 19:15] iamkirkbater opened #16063 "Cannot get started contributing on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

I guess it could be either, depending on which way you look at it.

**Description**

I'm running MacOS and want to contribute to Podman. I'm having an issue trying to even build the podman CLI and can't help contribute.

**Steps to reproduce the issue:**

1. Run MacOS
2. All documentation on getting start

[2022-10-05 21:31] jedahan opened #16064 "Error: unknown flag: --latest"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I would like to list the published port on the latest container.

**Steps to reproduce the issue:**

1. `podman container port --help`
2. Look at the examples
3. `podman container port --latest`

**Describe the results you received:**

     ▲ podman container port --latest 80
    Error: unkno

[2022-10-05 23:30] bverkron commented on #8033
Did you ever find a solution to this @LexNetAT? We're running into the same problem (trying to swap out docker for podman) and this is a current hang up for us.

Not sure how to get around it without forking the [Docker Pipeline](https://plugins.jenkins.io/docker-workflow/) plugin to remove the `-eo`, which isn't a great solution.

[2022-10-06 00:30] 2xB opened #16065 "w/ GitLab Registry: "invalid status code from registry 404""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pushing to a GitLab Container Registry, I sometimes randomly get `Error: trying to reuse blob sha256:... at destination: Requesting bearer token: invalid status code from registry 404 (Not Found)`. Weirdly enough, when I upload multiple images from the same base image, I get this error m

[2022-10-06 01:21] richardhenwood-gradient commented on #16025
I have a work-around that I'm very happy with. I make two calls to the API, one second apart, calculate the elapsed nano-seconds, divide through by a billion, and then multiply by 100 to get a percent. i.e.:

[code]

[2022-10-06 02:18] baude commented on #16063
hello @iamkirkbater ... you are correct; most things are geared towards starting on Linux and contributing from Linux.  But fear not, there are options!

the first thing to know is that on darwin, try make podman-remote.  this will build the native macos "remote" client, which is the client for Macs.  In this case, consider the client to be the "front" end.  The "backend" runs on Linux and only on

[2022-10-06 02:33] baude commented on #16064
when you are using podman on a mac, you are actually using the remote client and the libpod restful api.  The `latest` flag was intentionally not implemented for the restful api because "latest" does not make sense in an environment where people are accessing remotely.

this is not a bug; this is a design point.  I'm going to close but if you are passionate about this, you can re-open and we can d

[2022-10-06 02:33] #16064 closed

[2022-10-06 02:35] baude commented on #16056
are you saying that the "compat" API for Podman returns an incorrect return code?

[2022-10-06 02:36] baude commented on #16048
@ashley-cui would you have time to peek at this? if not, maybe i can?

[2022-10-06 05:01] na0x2c6 commented on #16056
@baude
Thank you for your reply.

I was not familiar with the specifications for interacting with containers via the _compat_ API.

I checked again and it seems that the `--rm` option does not inherit the exit status.
When I ran without the `--rm` option, the exit status of the container was inherited by the client command.
Examining this container with the `/containers/{name}/json` API, the respo

[2022-10-06 07:33] Elkasitu commented on #15373
Closing, it's still an issue for me but an acceptable workaround exists (downgrade `podman` to `4.0.x` or upgrade `podman-compose` to `1.x`)

[2022-10-06 07:33] #15373 closed

[2022-10-06 09:22] Ramblurr commented on #14003
I am experiencing this bug. Is there a way to fix my podman  host without wiping everything?

[2022-10-06 10:08] arixmkii commented on #16042
There is a tool for go language, which will create resources for the linker to embed into windows binaries https://github.com/josephspurrier/goversioninfo

podman-desktop is as a separate case, but I believe there should an equivalent for Electron apps.

[2022-10-06 10:28] holgerschurig opened #16069 ""podman run" can write to /dev/null when in inside chroot, "podman start" however cannot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I make a Podman container and inside this container I create a debian image in the form of a subdirectory, to be later written to devices via rsync over the network. I create the container this way (not the --privileged) call, as root-FULL podman because of peculiarities with /dev/ device nod

[2022-10-06 12:48] ashley-cui commented on #16048
@baude Looks like its an older OS, and I'm not sure how to get an older OS on a mac.

[2022-10-06 13:14] Luap99 commented on #16059
I think this is the expected behaviour at the moment, see https://github.com/containers/conmon/issues/335

You should have a `CONTAINER_PARTIAL_MESSAGE` field in the journald which tells you that this is not the full line. If you run podman logs it will read the journal correctly and print the lines correctly.

[2022-10-06 13:37] micheljung commented on #15899
Thanks again. Maybe I need to ask this: Is there a recommended way to use Podman in CI (Jenkins) that completely isolates the containers, networks, slirp4netns process etc. from each other?

[2022-10-06 15:59] edsantiago commented on #15367
[f36 remote aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/5818176876314624/html/sys-remote-fedora-36-aarch64-root-host.log.html)

[2022-10-06 17:50] rlanting commented on #16019
When I do this:

[code]

then for
[code]

I get no output. But for

[code]

I do get the right output.

That makes me feel that podman uses the wrong path to match against with the volume filter.

[2022-10-06 17:58] rlanting commented on #16019
https://github.com/containers/podman/blob/ab3d3f818d1cc8dc5803c7022876fc87ba39914d/pkg/domain/filters/containers.go#L150-L155

That does not seem right. It matches when source and dest both match, or when source matches.

[2022-10-06 19:22] edsantiago opened #16075 "healthcheck run: error: ctr does not exist in database: no such container"
Seen just now in an [in-flight PR](https://api.cirrus-ci.com/v1/artifact/task/6347492638851072/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00292):
[code]
f36 local root aarch64. Also seen in my flake logs, but only once so I hadn't filed it:

### [sys] 288 podman create --health-on-failure=kill
* fedora-36-aarch64 : sys podman fedora-36-aarch64 root host
  * PR #15812
    * [09-16 05:0

[2022-10-06 19:33] rhatdan commented on #8033
This should have been fixed two years ago?  What problem are you seeing?  Are you using an older version of Podman?

[2022-10-06 19:36] edsantiago commented on #15367
Another new failure mode. Seen in [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/5818176876314624/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00360):
[code]
In this one, there's no `podman rm` that I can see (no failing one, I mean). The failure happens on `podman images`. (And yes, as with all other instances, causes every subsequent test to die).

Can someone pl

[2022-10-06 19:57] edsantiago opened #16076 "sdnotify play kube policies: podman container wait, hangs"
[code]
* fedora-36 : sys podman fedora-36 rootless host
  * PR #16034
    * [10-03 15:32](https://api.cirrus-ci.com/v1/artifact/task/4652967281295360/html/sys-podman-fedora-36-rootless-host.log.html#t--00310)
    * [10-03 11:37](https://api.cirrus-ci.com/v1/artifact/task/5594309993955328/html/sys-podman-fedora-36-rootless-host.log.html#t--00310)
 * fedora-36 : sys podman fedora-36 root host
   * P

[2022-10-06 20:19] rhatdan commented on #14928
@Luap99 @mheon any chance this can be worked on any time soon.

[2022-10-06 20:31] baude commented on #14928
nope, r/n we are absolutely buried .. lets discuss next week

[2022-10-06 21:41] bverkron commented on #8033
Interesting, based on the comments above is sounded like it would not be fixed, but I guess it was via https://github.com/containers/podman/pull/8449?

Same error as @LexNetAT described. When Jenkins tries to run `docker top 9526245a1f34 -eo pid,comm` it throws
`Error: error executing ps(1) in the container: executable file not found in $PATH: No such file or directory: OCI runtime command not fou

[2022-10-06 22:48] #16046 closed

[2022-10-06 22:51] rhatdan commented on #8033
Yes, if you still have a problem open a new issue with updated data.  We don't like to go back to old issues, since it is possible/likely you are seeing a different issue.

[2022-10-06 22:52] rhatdan commented on #15102
@cdoern how is this coming?

[2022-10-06 23:11] rhatdan commented on #16048
I don't think we can support older OSs

[2022-10-06 23:24] rhatdan commented on #16019
It matches when source matches and dest is not specified or is ""

[2022-10-06 23:25] rhatdan commented on #16019
I have not examined the problem just looking at the code above.

[2022-10-07 02:54] baude commented on #16048
correct, we do not; but this brings up a point about whether we documented what is supported as well as does the installer catch it ?

[2022-10-07 09:08] Shubham-Kumar-2000 opened #16085 "Restrict outgoing network access"
/kind bug

**Description**

I am trying to block internet access from a container i.e.

- Request coming inside the container should work. ( World -> container )
- Request from container to outside world should not work. (Container -> World) ❌

**Steps to reproduce the issue:**

1. I tried `--disable-dns` and `--internal`

**Describe the results you received:**

- Requests to domains blocked
- Req

[2022-10-07 10:26] Shubham-Kumar-2000 commented on #16085
Even tried with `--subnet 10.1.1.0/24` still was able to ping a server

[code]

[2022-10-07 10:33] coderofsalvation opened #16086 "confusing podman+iptables port shenanigans (running rootless https proxy nginx)"
/kind feature

**Description**

When using iptable's PREROUTING, binding to ports inside containers makes netstat output different ports (ran in that same container).
Maybe some kind of console message could warn/explain when situations like this occur?

I'm not sure whether podman is confused here, or whether iptables is responsible for this scenario, but it's hard to debug to say the least.

**S

[2022-10-07 11:49] rhatdan commented on #15611
@DaveJarvis are you interested in opening a PR to fix this?

[2022-10-07 12:10] Luap99 commented on #16086
Check `netstat -nltp` in the container and on the host to see what ports are binded.

[2022-10-07 12:16] sbrivio-rh commented on #14425
By the way, I just submitted a [patch](https://lists.passt.top/hyperkitty/list/passt-dev@passt.top/message/QWB2NVPYQAPRPIAD3SVLI2K44BYYTUD4/) for [passt/pasta](https://passt.top) implementing this using `%` as separator.

Rationale: RFC 4007, [section 11](https://datatracker.ietf.org/doc/html/rfc4007#section-11), introduces `%` as delimiter between address and zone identifier in the context of IPv

[2022-10-07 13:46] coderofsalvation commented on #16086
ok, just to be sure:

host # iptables -L && iptables -t nat -L -n -v
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destination

Chain OUTPUT (policy ACCEPT)
target     prot opt source               destination
Chain PREROUTING (policy ACCEPT 75073 packets, 10M bytes)
 pkts bytes target     pr

[2022-10-07 14:04] Luap99 commented on #16086
This clearly shows that your application in the container is listening on port 8080 and 8181 and not 80 or 81, that has nothing to do with podman. Therefore you need `-p <host>:8080 ...`

[2022-10-07 14:57] coderofsalvation commented on #16086
Well that's the crazy thing..it seems the container is not binding to 8080, but to 80.
Nothing in the dockerfile [or even repo](https://github.com/NginxProxyManager/nginx-proxy-manager/search?q=4443) of that image mentions 4443 (only the lower ports 443,80,81).

So I guess the conclusion is: iptables is responsible for these shenanigans.
I didn't know that PREROUTE also affects bind-calls inside c

[2022-10-07 14:57] #16086 closed

[2022-10-07 15:24] Luap99 commented on #16086
I doubt that iptables has to do anything with it. First, I really don't think it will alter bind calls. Second, in the container namespace you will have clean iptables rules.

[2022-10-07 15:41] coderofsalvation commented on #16086
Another theory is that the image-application has some kindof fallback-logic to bind to 8080 instead.
I just find it odd that I can't find any occurance of port 4443 in their docs or repo.
The only times port 4443 is introduced is by the podman & iptables cmds.

[2022-10-07 16:18] SaberStrat commented on #13664
For anyone stumbling over this, the solution for me for ubuntu was sourcing `/etc/bash_completion` in the `.bashrc`:
[code]

[2022-10-07 16:42] DaveJarvis commented on #15611
Sorry, I have many other fish being fried.

[2022-10-07 17:43] Shubham-Kumar-2000 commented on #16085
Hi I want to understand that if I use `--internal` network.
And I `EXPOSE 3000` port from `Dockerfile`.

Then will I be able to hit the container service using `http://localhost:3000`

@eriksjolund

[2022-10-07 19:04] eriksjolund commented on #16085
@Shubham-Kumar-2000 If you believe you've found a Podman bug, please provide a full reproducer with for instance a copy-paste of the shell session so that it's possible to see the exact commands that you have run. Specify which of those commands that gave a surprising result. In the new issue template there are some information fields that you've haven't filled out.

**Output of `podman info`:**
*

[2022-10-07 19:22] cfelder commented on #16048
Hi,

I suspect the qemu build on a more recent macOS version is not compatible w/ macOS Catalina (10.15.7)

I've resolved this issue by compiling [containers/podman-machine-qemu](github.com/containers/podman-machine-qemu) to ``/opt/podman/qemu`` on my own.

My build does not contain ``gvproxy`` in ``/opt/podman/qemu/bin`` but this is already shipped w/ the podman release package in ``/opt/podman/b

[2022-10-08 00:01] edsantiago commented on #16075
Another one on [f36 aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/4707142423281664/html/sys-podman-fedora-36-aarch64-root-host.log.html)

[2022-10-08 00:05] edsantiago opened #16091 "signal flake: Timed out waiting for BYE"
Haven't seen this one before (note, "sigkill" in test name is a misnomer, it's actually SIGINT)
[code]
Basically, it looks like container is never receiving the INT signal)

[ubuntu root](https://api.cirrus-ci.com/v1/artifact/task/6536729771900928/html/sys-podman-ubuntu-2204-root-host.log.html#t--00081)

[2022-10-08 00:42] edsantiago commented on #16075
[and again](https://api.cirrus-ci.com/v1/artifact/task/6455299606315008/html/sys-podman-fedora-36-aarch64-root-host.log.html)

[2022-10-08 01:06] tkolo opened #16092 "podman doesn't report host and null networks in API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This bug is about podman<->docker incompatibility.
When inspecting networks, docker lists two additional built-in networks that podman doesn't: host and null. While it's not a problem in tooling, same behavior occurs when querying [network list via docker.scok](https://docs.docker.com/engine/

[2022-10-08 09:13] presztak commented on #16009
@rhatdan @vrothberg I'll be happy to work on this if you don't mind.

[2022-10-08 11:47] rishubn commented on #15313
I am also experiencing this issue, only running with `sudo` changes the PID and UID of the container user

[2022-10-08 12:20] rhatdan commented on #16009
You got it.

[2022-10-08 12:43] EQUALIT-CG commented on #15313
@rishubn was that mean for me ...?
I given up would love to get it running but never worked out

[2022-10-08 13:39] rishubn commented on #15313
@EQUALIT-CG Can you try appending the flag: `--userns=""` to your `podman run` command?

[2022-10-08 13:50] EQUALIT-CG commented on #15313
@rishubn
I wasn't running pod man witch is why i DM the admin to close this i was trying to get help with Jellyfin
I asked the Discord and no one was able to help when googling i send me here and i wasn't reading what it said and posted here anyways
I later worked out what wrong place and asked the admin to close this ticket etc etc

[2022-10-09 03:40] LiZhang19817 opened #16093 "podman push image with error "writing sigstore attachments is disabled by configuration""
Hi Guys,

I am trying to push image to image registry, but hit error "**writing sigstore attachments is disabled by configuration"**, what does that means, seems like configuration issue from podman side, pls give some suggestions.

[code]

[2022-10-09 05:39] GKSONG opened #16094 "Error: OCI runtime error: error executing hook `/usr/bin/nvidia-container-runtime-hook` (exit code: 1)"
o. My run environment
   -- RHEL 8.4, gcc 8.4.*, AMD CPU
   -- A40 GPU
   -- nvidia driver : 510.47.03
   -- cgroupv2
   -- kvm, GPU passthrough enabled
   -- rootless podman

o. When (rootless) podman start, the following message displayed and not started.
    _" Error: OCI runtime error: error executing hook `/usr/bin/nvidia-container-runtime-hook` (exit code: 1) "_

   how can I start debugging

[2022-10-09 08:13] GKSONG opened #16095 "(rootless) podman stats -- only "net_io" isn't generated !!"
All other value is generated except net_io item.

Could you share any idea how to resolve it ?

[2022-10-09 12:11] YevheniiPokhvalii opened #16096 "Podman "Error: no registries found in registries.conf, a registry must be provided" while logging/pulling from docker.io"
How to integrate `podman` with `docker.io` by default?

According to these articles:
https://www.mankier.com/5/containers-registries.conf
https://www.redhat.com/sysadmin/manage-container-registries
you can configure a default registry by adding the file `$HOME/.config/containers/registries.conf`.

I added this file and filled it out with these details:
[code]

When I try to log in to DockerHub wit

[2022-10-09 14:16] YevheniiPokhvalii commented on #16096
I am answering my question.
I managed to fix the issue by modifying `.config/containers/registries.conf` with one line:
[code]

[2022-10-09 14:26] baude commented on #16096
may we close this?

[2022-10-09 14:42] YevheniiPokhvalii commented on #16096
Sure, you can close it or convert it to discussion in case there is some advice on this matter.

[2022-10-09 22:34] CtrlC-Root commented on #13970
I just ran into this and found this issue after searching online. Here's one workaround:

[code]

At this point they are both configured to use the same storage driver. However every time I run `podman` I see this error message:

[code]

I installed these packages and did not create any new configuration files or tweak any existing ones.

[code]

I guess I need to create a `storage.conf` somewhere

[2022-10-10 08:10] giuseppe commented on #16095
could you please share more details on your environment, how you created the container and what commands are you using?

[2022-10-10 08:11] giuseppe commented on #16094
so does it work after your workaround?

Doesn't seem to be a podman issue, so moving to a discussion

[2022-10-10 08:44] coderofsalvation commented on #6816
Ok..so this worked for me as well...but I don't really understand this `setfactl` utility.
It basically removes all extended acls, does that mean all the `chmod` + `chown` executions I did outside of the container *after* the container was created?
I'd love to understand how I got into this situation in the first place (my umask is 0022, is that ok-ish?)

[2022-10-10 09:43] micheljung commented on #15899
unfortunately, that's not a solution because the whole point is to have a separate network with N services (podman compose) and no open host ports as they are problematic on a CI system

[2022-10-10 09:52] DenisaIoanaMatei commented on #15928
Hi @flouthoc I'd be interested if you already created a PR for this?

[2022-10-10 10:05] mayurah commented on #11541
@ashley-cui  / @rhatdan  Sadly this is still an issue after over a year.

While this gets fixed, should we mark `podman` as beta for macOS users?

Took me on an unbelievable ride on three instances to triage what's wrong with signature based auth and log event timing.
- Developing Slack Bot which requires accurate time
- Sending Splunk log events resulted in strange time delays
- OTP Auth generati

[2022-10-10 10:07] ssbarnea commented on #13784
I think we might have to reopen this bug because as of today (4.2.1), symlinks are broken. I wrote more about the issue on https://github.com/containers/podman/discussions/16102

Hacking the vm to make them work is not really what I would expect from users. Is there a way to create the machine from start with correct security_model?

On my machine, i see `security_model=mapped-xattr`, so now I am

[2022-10-10 10:38] GKSONG commented on #16095
o. My Environment
    _-- RHEL 8.4 ( dnf module install -y container-tools:rhel8 )
     -- cgroupv2
    -- GPU A40 ( nvidia driver : 510.47.03 )
    -- User Network : 1 G_

 o. Podman Run Script : passthrough 2GPU
 _podman run \
--cpuset-cpus=0-11 -m=128g \
--pid=host \
--security-opt label=disabled \
--security-opt=label=type:nvidia_container_t  \
-e NVIDIA_VISIBLE_DEVICES=GPU-ed8565df-c450-ae7d-

[2022-10-10 11:01] rhatdan commented on #16093
@mtrmac @vrothberg PTAL

[2022-10-10 11:46] Luap99 commented on #16095
Please provide the info as requested in the issue template. This should be fixed in the latest version.

[2022-10-10 11:46] #16095 closed

[2022-10-10 11:50] tyler92 opened #16104 "TMPDIR is ignored while image is loading from oci-archive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The load command allows specifying TMPDIR environment to override default value "/var/tmp", but this feature doesn't work.

**Steps to reproduce the issue:**

1. Execute `podman save -o image.tar docker.io/library/debian:latest`

2. Execute `TMPDIR=~/test/tmp podman --log-level=debug load -i

[2022-10-10 12:59] edsantiago commented on #16075
This one is really blowing up. It has failed seven reruns (eight total) in [nightly cron](https://cirrus-ci.com/task/6234361790988288)

[2022-10-10 13:16] rhatdan commented on #16075
@vrothberg PTAL

[2022-10-10 13:30] mheon commented on #16104
@rhatdan PTAL

[2022-10-10 13:41] ashley-cui commented on #11541
@mayurah A fix for this is on our roadmap. In the meantime, using `podman machine ssh` to sync time is the best workaround.

https://github.com/containers/podman/issues/11541#issuecomment-1188987085

[2022-10-10 13:48] #16104 closed

[2022-10-10 14:10] mtrmac commented on #16093
See `use-sigstore-attachments` in https://github.com/containers/image/blob/main/docs/containers-registries.d.5.md#individual-configuration-sections .

Compare https://github.com/containers/image/issues/1613 .

[2022-10-10 14:53] mheon commented on #13970
You need to remove the Podman database to remove that error. Config file will not help. Podman has detected a change that will break all existing containers, pods, etc, and it is rejecting it until `podman system reset` is issued to remove said existing containers/pods/volumes.

[2022-10-10 14:57] mortie opened #16106 "macOS: The limit of open files in mounted volumes is 64, which is incredibly low"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Volumes mounted with `-v` have a max open file count of 64. This is way too low to be useful.

**Steps to reproduce the issue:**

1. `mkdir data-dir`
2. `podman run --rm -it -v $(pwd)/data-dir:/data-dir ubuntu:22.04`
3. Run some program which tries to open a bunch of files in `/data-dir`.

He

[2022-10-10 16:16] iamkirkbater commented on #15976
I had a few moments to poke at this last Friday and played around with the idea of just dynamically writing the `/etc/fstab` as part of the `podman machine start` command.  To test this, I manually wrote the `/etc/fstab` file on the machine, and then ran `sudo reboot`.  This worked, the new volumes came back up on reboot!  However, when I attempted to `podman machine stop && podman machine start`

[2022-10-10 16:24] afbjorklund commented on #15976
I think systemd handles `/etc/fstab`, like it handles everything else (soon)

https://www.freedesktop.org/software/systemd/man/systemd.mount.html

[2022-10-10 16:57] Luap99 commented on #15395
I don't think that fedora disables ipv6 by default. I use it on multiple fedora systems without issues and never tweaked anything to make it work.

Regardless, I agree that we should return a better error message to make clear what failed. I move the issue to netavark.

[2022-10-10 17:13] edsantiago opened #16107 "f37 rootless: pod create: creating cgroup, already exists"
on f37:
[code]
Infinitely repeatable, each time with a different SHA.

podman-4.3.0~rc1-3.fc37.x86_64 on 5.19.12-300.fc37.x86_64

also built from sources, main @ bb0b1849d7102c2f9212ebaaeb332519a92c5d3c

[2022-10-10 17:31] jbhrfx9280 opened #16108 "--name is updating /etc/hosts on container with name & IP address Why?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
bug

/kind feature
bug

**Description**
When using podman run with the --name option it updates the /etc/host file in the container with name and container ip.

**Steps to reproduce the issue:**

1.REHL 9 / Rocky 9 Linux stand alone server

2.PODMAN 4.1.1 installed
podman network create django-net
pull down im

[2022-10-10 17:35] mheon commented on #16108
Why is this a problem? Adding the container's name to /etc/hosts for easy resolution without hitting the DNS server seems like a positive for usability.

[2022-10-10 18:12] jbhrfx9280 commented on #16108
What? the --name directive is not supposed to do this anyways.
The --add-host is for this.
Ok 1st of all /etc/hosts file is the last name in DNS resolution unless
stack order is changed (/etc/nsswitch.conf). If you make an entry into
/etc/hosts file with an ip address and a host name on another line use the
same IP address and a different host name it will only use the last entry.
i.e.:
10.89.1.5

[2022-10-10 18:30] Luap99 commented on #16108
This is the expect behaviour and not a bug.

stack order is changed (/etc/nsswitch.conf).

In my experience /etc/host is first before anything else:
[code]

That does not seem to be the case either:

[code]

Just because some things are not documented does not mean it is a bug, it is briefly mentioned here: https://docs.podman.io/en/latest/markdown/podman-create.1.html#no-hosts
The docs can/should

[2022-10-10 20:34] jbhrfx9280 commented on #16108
Thank you for your reply. I appreciate your time.

Not sure what to do now?
Here is a copy of my /etc/hosts file on my MariaDB container that was
created by Podman run ... you already have the code.
# cat /etc/hosts
10.89.1.5       mariadb_node1
10.89.1.10      mariadb_node2
127.0.0.1       localhost localhost.localdomain localhost4
localhost4.localdomain4 example.com example.net
::1     localhost

[2022-10-10 21:59] baude commented on #16108
what does your host's /etc/hosts look like?

[2022-10-10 22:12] n1hility commented on #16042
agree we should do this

[2022-10-10 22:33] jbhrfx9280 commented on #16108
Um..it's in the email I sent you under /etc/hosts. Here it is again.
etc/hosts
10.89.1.5       mariadb_node1
10.89.1.10      mariadb_node2
127.0.0.1       localhost localhost.localdomain localhost4
localhost4.localdomain4 example.com example.net
::1     localhost localhost.localdomain localhost6 localhost6.localdomain6
example.com example.net
10.89.1.1       host.containers.internal
10.89.1.5

[2022-10-10 23:04] GKSONG opened #16110 "(rootless) podman stats -- only "net_io" isn't generated !!"
/kind bug

o In rootless mode, "podman stats" not display only "net_io" metric.

o. When run "podman stats", net_io metic not displayed. ( I am testing 3 server having same environment, but always not displayed)
		{
			"id": "8395bb96b52b",
			"name": "condescending_jang",
			"cpu_time": "37.474ms",
			"cpu_percent": "--",
			"avg_cpu": "0.01%",
			"mem_usage": "573.4kB / 4.295GB",
			"mem_percent

[2022-10-10 23:26] GKSONG commented on #16095
Thanks @Luap99
#16110 is informed.

[2022-10-11 02:19] cdoern commented on #15102
@rhatdan working on it this week over fall break

[2022-10-11 06:49] flouthoc commented on #15928
Hi @DenisaIoanaMatei , I have not created any PR for this till now, feel free to take is issue if you are interested in fixing this :) . Thanks

[2022-10-11 07:09] vrothberg commented on #15306
Thanks! I am out of office next weeks but maybe others can have a look.
Maybe there’s something else going on? Did you try pointing Docker to the
Podman socket and lookup the image?

On Sat 13 Aug 2022 at 15:06, Benjamin Asbach ***@***.***>
wrote:

[2022-10-11 07:24] LiZhang19817 commented on #16093
@mtrmac this issue was resolved, thanks a lot for your help.
`podman push 301721915996.dkr.ecr.us-east-2.amazonaws.com/quay:python3 --sign-by-sigstore-private-key=./cosign.key
Key Passphrase:
Getting image source signatures
Copying blob 8e079fee2186 done
Copying blob 955c9335e041 done
Copying blob 186da837555d done
Copying blob 288cf3a46e32 done
Copying blob 0c7daf9a72c8 done
Copying blob 75ba0293

[2022-10-11 07:27] holgerschurig commented on #16069
Here is the Cap outside of "podman":

[code]

Here is the cap while running "podman run":

[code]

And here is the cap while inside "docker start":

[code]

Here we have the first difference. So it turns out that the chroot wasn't really needed.

[code]

And for the sake of completeness (I don't think it's actually needed), here are the Caps form inside the chroot:

[code]

Oh, and the `--privileg

[2022-10-11 07:47] mheon commented on #13627
Feels like a bad idea, we'd be enshrining a hack into the API and forcing
us to support it for the foreseeable future. Maybe add an extra bool flag
for "Healthy" state, so we can wait on ContainerStateRunning and
Healthy=true?

On Fri, May 27, 2022 at 7:50 AM Valentin Rothberg ***@***.***>
wrote:

[2022-10-11 07:58] ghherlin commented on #9345
Ok, thanks. I'll try them.
BTW the images just showed muon package manager showing the same error...
George Herlin
Tél:+33 658 301 928

On Mon, 27 Jun 2022 at 21:52, Lokesh Mandvekar ***@***.***>
wrote:

[2022-10-11 08:27] jbhrfx9280 commented on #16000
Not sure how? Can you provide command(s)?
Thank you

On Thu, Sep 29, 2022, 12:48 PM Matt Heon ***@***.***> wrote:

[2022-10-11 08:57] mheon commented on #15377
This is deliberate, if a bit of an ugly hack. Basically, Podman needs to
retain the exec session in the database for 5 minutes after it exits for
Docker compat. We don’t have a daemon, so the easiest way to do this is to
have Conmon wait 5 minutes before cleaning up the database and exiting.

I hope to remove the need for this in the future when we move to Conmon-rs.

On Thu, Aug 18, 2022 at 15:43

[2022-10-11 09:20] gbraad commented on #12341
The CLI does, but not the API

On Mon, May 23, 2022, 19:11 Doehyun Baek ***@***.***> wrote:

[2022-10-11 11:15] #16093 closed

[2022-10-11 11:30] vrothberg commented on #16075
I'll take a look.

[2022-10-11 11:44] vrothberg commented on #16075
Opened https://github.com/containers/podman/pull/16112.  Looks like test-side fix to me.

[2022-10-11 12:18] vrothberg commented on #16076
I recently attempted to fix some issues down there.  @edsantiago, do you know when the flake happened for the _first_ time?

[2022-10-11 12:25] rhatdan commented on #16107
This is a blocker and should not be released until this is fixed.

@mheon FYI

[2022-10-11 12:25] vrothberg commented on #16076
Just saw it at the bottom "Looks like Sept 9 is the first logged instance."

[2022-10-11 12:29] giuseppe commented on #16107
this looks like a systemd issue:

I've tried the following program on F36, F37 and Rawhide and the issue happens only with F37:

[code]

On F37 it fails with:

[code]

[2022-10-11 12:33] giuseppe commented on #16107
filed a bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=2133792

[2022-10-11 13:04] defanator commented on #15972
Observing similar issues here with podman 4.2.1 on Fedora 36 (x86_64) on AWS. We are running a number of tests involving lots of requests to Ubuntu and Debian repositories, and the tests sporadically fail with something like:

[code]

Here are a few pcaps captured on the host instance that correspond to the failures:

[code]

[code]

It seems a bit weird that `dns.podman` appears in queries.

Host

[2022-10-11 13:30] iamkirkbater commented on #15976
I'm hoping to get some time to work on it during my afternoon today, I'm just wondering what the `(soon)` meant?  Is this already being worked on elsewhere?  Or is it still worthwhile for me to try to work on this?  I'd hate to spend a bunch of time trying to implement something if someone else is already working on it.

[2022-10-11 13:59] Luap99 commented on #16110
As said in the other issue this is already fixed in the latest version.

[2022-10-11 13:59] #16110 closed

[2022-10-11 16:46] baxeno opened #16119 "Error: failed to open 16384 locks in /libpod_rootless_lock_1000: numerical result out of range"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have been doing some performance testing where I needed _many_ containers, and I think this is a bug and/or misleading error message in Podman. Default limit in `engine.num_locks` is `2048` and each container use a lock.
When starting container 2049 with default configuration the following

[2022-10-11 16:57] Luap99 commented on #16119
@mheon PTAL

[2022-10-11 17:10] mheon commented on #16119
`system renumber` should be removing the lock manager on ERANGE: https://github.com/containers/podman/blob/main/libpod/runtime.go#L276-L284

I know this code works, otherwise `system renumber` would be completely broken...

Can you attach the output of `podman system renumber --log-level=debug` after changing num_locks (when it errors)?

[2022-10-11 17:33] mheon commented on #16119
Also - does it work if you use a lower number than 16k? Does 8192 cause similar issues?

[2022-10-11 17:35] mheon commented on #16119
Finally: I see you mentioning `system df`. To be clear - `podman system renumber` is absolutely required after changes to the number of locks, so if this error occurs on a `system df` after you change the number of locks that is 100% expected.

[2022-10-11 18:52] baxeno commented on #16119
Yes, I hit the issue with multiple values like `8192` and `2049`.

Just tried to recreate it on another F36 machine with `podman system renumber --log-level=debug`.
[code]
`stat /dev/shm/libpod_rootless_lock_1000`
[code]

The extra `system df` was called after `system renumber` to check if podman commands was working again, but all commands fails until `engine.num_locks` is removed from `~/.config

[2022-10-11 19:59] tyler92 opened #16120 "The logs command doesn't work with the --follow flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The logs command has '--follow' flag but it doesn't work in my environment.

**Steps to reproduce the issue:**

1. Execute `podman logs -f CTR_ID`

2. Observe output

**Describe the results you received:**

Logs + error message in the end:

[code]

**Describe the results you expected:**

No e

[2022-10-11 20:00] tyler92 commented on #16120
The same issue with `events`:

[code]

[2022-10-11 21:02] giuseppe commented on #16069
Can you show me the

thanks.

Who is the owner for the `image/dev/null` file now?  Could you do a `stat /dev/null image/dev/null`?

[2022-10-11 21:14] giuseppe commented on #16069
could you then show the output of `stat -f /dev/null image/dev/null` and `cat /proc/self/mountinfo`?  I wonder if there is any nodev mount option causing that behavior

[2022-10-11 23:30] nezartarbin commented on #8477
@mheon I am late to this, but the `SHELL` command changes the default shell used by commands such as `RUN`, which defaults to /bin/sh by default.

Is there a OCI alternative to this? the closest equivalent would be `RUN bash -c [commands]" but I would have to insert `bash -c` everywhere, and wrapping string around commands messes up syntax highlighting, which is especially bad for long or multiple

[2022-10-12 04:15] snathanail commented on #15736
For what it's worth, if I run these commands with `sudo` in my pipeline, everything works perfectly.

[2022-10-12 07:31] vrothberg commented on #16009
Reopened as the code needs to be vendored, ideally with a regression test.  I cut a new release: https://github.com/containers/psgo/releases/tag/v1.8.0

[2022-10-12 07:42] Luap99 commented on #16120
What build is this? As for podman events this should have been fixed in https://github.com/containers/podman/pull/15717.

[2022-10-12 08:41] Luap99 commented on #16120
The problem only occurs when there are zero podman journal entries, at least for podman events the linked PR should have fixed it.

[2022-10-12 08:58] tyler92 commented on #16120
You are right - I reproduced this issue again by generating a lot of logs. And it looks like my mistake - my build was not from main. Anyway tanks for the fix and sorry to bother you!

This issue can be closed

[2022-10-12 09:07] #16120 closed

[2022-10-12 11:35] #15577 closed

[2022-10-12 12:40] rhatdan commented on #14527
@flouthoc PTAL

[2022-10-12 12:41] rhatdan commented on #15631
@baude @mheon any update on this?

[2022-10-12 13:37] ssbarnea commented on #10817
I still get this error with Fedora 36, `restorecon` failed due to permissions errors but I used root to remove the entire containers folder and pull the image again. Still, even after this, it still fails.

Running the same command as root on the machine does work. Not sure what is broken but is broken even with 4.2.1.

[2022-10-12 14:01] #16075 closed

[2022-10-12 14:22] vrothberg commented on #16106
Thanks for reaching out!

@ashley-cui @baude can you confirm the observation?

[2022-10-12 14:29] vrothberg commented on #16091
Could be a timeout issue?  We're waiting at most 5 seconds for the container to echo BYE.  Maybe the machine was under heavy load?  There are many syscalls involved and many chances the scheduler could kick in.

[2022-10-12 14:30] vrothberg commented on #16091
@edsantiago, I wonder if the test could just do a `podman_run wait --condition=running foo` instead of https://github.com/containers/podman/blob/main/test/system/032-sig-proxy.bats#L9-L21.

[2022-10-12 14:39] vrothberg commented on #16091
@edsantiago can we start the container with `--detach`?

[2022-10-12 14:41] vrothberg commented on #16091
That's the only guess I have.  5 seconds seems like a small timeout compared to other ones.

[2022-10-12 14:45] edsantiago opened #16132 "remote: pod logs: catch-up delay"
As best I can tell, `podman-remote pod logs` is sometimes not actually fully catching up, so a system test is failing
[code]
The code in question is doing `echo teststring | nc localhost PORT`, then immediately running `podman logs` on a container in a pod.
https://github.com/containers/podman/blob/2a9df07f52acd8b695be71997c325bacba47db23/test/system/200-pod.bats#L300-L307

* fedora-36-aarch64 : s

[2022-10-12 14:46] edsantiago commented on #16091
`--detach`: no, because we then can't actually test `sig-proxy` :-)

[2022-10-12 14:50] vrothberg commented on #16091
Too late for a coffee for me today :-) Thanks, Ed!

[2022-10-12 14:52] rhatdan commented on #15963
Please attach the AVCs you are seeing?

[2022-10-12 15:03] cevich commented on #15410
Update:  I (finally) was able to get Renovate configured and working pretty well on the containers/image repository.  It's enabled along-side of Dependabot so we can spend some time drag-racing (comparing update PRs).  Once things stabilize on that repo, we can decide about moving forward with others.

[2022-10-12 15:05] sjug opened #16135 "podman system df does not seem to report actual disk usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman system df` doesn't show actual disk usage of container images.

Looking to find the actual disk usage of the images on disk I tried the `podman system df` command.
The image size output was 50% larger than my entire virtual disk.

**Steps to reproduce the issue:**

1. Pull many images

[2022-10-12 15:07] vrothberg commented on #16135
Thanks, @sjug!  I recall some fixes in the past that went into the image-size calculation but need to track it down.

[2022-10-12 15:12] Luap99 commented on #16135
Please try with the latest version. I recall some fixes related to that.

[2022-10-12 15:13] cdoern commented on #16107
I am going to take a look at this, I was the last one to mess around with this code. It is possible we create the directory in two places incorrectly.

[2022-10-12 15:14] waylew-abc opened #16136 "Podman Windows v4.2.1 msi not able create api forwarding"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. install podman msi

2. run 'podman machine init'

3.run 'podman machine start'

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output

[2022-10-12 15:16] vrothberg commented on #16135
No need to check the latest version IMO.  No changes were made there in libimage. But what Podman is counting is the size of each image which can exceed the total disk size given images can share layers.

[2022-10-12 15:16] cdoern commented on #16107
I would bet that this has to do with the recent split up of the runtime files for freebsd support....

[2022-10-12 15:18] vrothberg commented on #16135
That's at least my guess.  The reports try to calculate that out but I bet there's a fart.

[2022-10-12 15:29] Romain-Geissler-1A opened #16137 "The image quay.io/podman/upstream seems to be broken (crun is not installed)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The image quay.io/podman/upstream seems to be broken (crun is not installed).

**Steps to reproduce the issue:**

1. Try to run the image `quay.io/podman/upstream` and from this container to run any container:

[code]

**Describe the results you received:**

`Error: default OCI runtime "crun"

[2022-10-12 15:30] Luap99 commented on #16119
@mheon The problem is in the setup code, before we create the renumber runtime it will first try to create a "regular" runtime and this fails.

[2022-10-12 15:32] edsantiago commented on #16107
Update: this is new in podman-4.3. `podman-4:4.2.1-2.fc37.x86_64` works fine. I am sorry for the misinformation during scrum.

[2022-10-12 15:40] lukasmrtvy opened #16138 "Container attach API endpoint returns weird characters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
Container attach API endpoint ( libpod and compat ) returns weird characters.

1. `podman run --name=foo busybox sh -c "sleep 60; echo Roses are red violets are blue; sleep 1; echo I have a message that’s from stderr to you >&2"`

2. `curl -X POST --unix-sock

[2022-10-12 15:48] Luap99 commented on #16137
@lsm5 PTAL I think the upstream image is build from the copr?

[2022-10-12 15:48] lukasmrtvy opened #16139 "Container stats API endpoint ( compat ) has not feature parity with docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Container stats API endpoint ( compat ) does not have feature parity with docker.

**Steps to reproduce the issue:**

1.  `podman run -d --name foo nginx`

2. `curl --unix-socket /run/podman/podman.sock "http://d/containers/$(podman inspect foo -f '{{.Id}}')/stats"`

**Describe the results you

[2022-10-12 16:00] edsantiago commented on #11594
This one could be the same one, or could be the rm-hose issue (#15367), I can't tell. [podman ubuntu rootless](https://api.cirrus-ci.com/v1/artifact/task/6119046214057984/html/sys-podman-ubuntu-2204-rootless-host.log.html#t--00392), in `kube down`:
[code]

[2022-10-12 16:01] benoitf commented on #16139
I would say it's related to https://github.com/containers/podman/issues/15754

[2022-10-12 16:31] edsantiago opened #16140 "joining network namespace: unknown FS magic"
Wow! This one has been hiding for months, perhaps longer. It seems to trigger often in int-test cleanup, where we do no error checking. I just noticed it in a real-live test failure:
[code]
Only one log to show right now, [ubuntu rootless](https://api.cirrus-ci.com/v1/artifact/task/6174187956994048/html/int-podman-ubuntu-2204-rootless-host.log.html#t--podman-pod-kill-latest-pod--1). This log file

[2022-10-12 16:42] waylew-abc commented on #16136
interesting, now I get this error when running 'podman machine start' $ podman machine start
Starting machine "podman-machine-default"
API forwarding listening on: npipe:////./pipe/podman-machine-default

Another process was listening on the default Docker API pipe address.
You can still connect Docker API clients by setting DOCKER HOST using the
following powershell command in your terminal sessi

[2022-10-12 16:46] waylew-abc commented on #16136
hmm... unable to pull image with podman, but can with docker cli  "podman run -dt -p 8080:80/tcp docker.io/library/httpd
Trying to pull docker.io/library/httpd:latest...
Error: initializing source docker://httpd:latest: pinging container registry registry-1.docker.io: Get "https://registry-1.docker.io/v2/": dial tcp: lookup registry-1.docker.io: Temporary failure in name resolution"

[2022-10-12 17:24] rhatdan commented on #16107
@giuseppe WDYT?

[2022-10-12 18:30] lukasmrtvy commented on #16138
Solved with adding terminal ( tty ) to the container, sorry for the fuzz :(

[2022-10-12 18:30] #16138 closed

[2022-10-12 18:45] lukasmrtvy commented on #16139
@benoitf  Indeed, closing this

[2022-10-12 18:45] #16139 closed

[2022-10-12 19:05] rcannood commented on #4217
Big fan of podman here. However, this has got to be one of the weirdest bug reports I've seen thus far.

:neutral_face:

[2022-10-12 19:13] rhatdan commented on #12929
SGTM

[2022-10-12 19:16] giuseppe commented on #16107
@cdoern can you reproduce the issue with the code example I've posted above?

I'd expect that to work anyway (as it does on F36 and Rawhide), no matter what we do in Podman

[2022-10-12 19:26] mikedep333 commented on #4293
@duritong Thank you! We had the same issue on a developer's system (and same fix), but the `podman` error message was different:
[code]
`journalctl` showed:
[code]

[2022-10-12 19:43] edsantiago opened #16142 "kill cpcontainer: could not be stopped... sending SIGKILL... container state improper"
[code]
### [sys] 127 podman cp file from host to container
* fedora-36-aarch64 : sys podman fedora-36-aarch64 root host
  * PR #16072
    * [10-07 05:31](https://api.cirrus-ci.com/v1/artifact/task/5531884187811840/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00127)
* fedora-36-aarch64 : sys remote fedora-36-aarch64 root host [remote]
  * PR #15894
    * [09-21 16:44](https://api.cirrus-

[2022-10-12 20:07] cdoern commented on #16107
@giuseppe I am running F36 but it does work for me on there. is the problem reproducible with podman 4.2 on F37? The major changes that have been done due to the freebsd support and from me adding extended systemd support for pods makes me worried that it might actually be our issue.

[2022-10-12 20:10] giuseppe commented on #16107
I can reproduce the issue on F37 both with podman and the test snippet

[2022-10-12 20:11] edsantiago commented on #16107
The issue is new in podman 4.3. podman 4.2 works fine on f37. This is a regression. No matter whose fault it is, podman 4.3 cannot ship on f37 right now.

[2022-10-12 20:14] cdoern commented on #16107
Ok, this makes me think it is a podman 4.3 inclusion. Unless a major change in systemd also shipped in that timeframe? I am going to investigate the cgroup creation path this afternoon to see if I can pinpoint it

[2022-10-12 20:20] rhatdan commented on #4217
@rcannood you think we should not report a problem with the same mount specified in the command line multiple times?

[2022-10-12 20:49] iamkirkbater commented on #15976
And of course I couldn't help myself but to power through.  I ended up figuring out how to get past the immutable filesystem stuff using the same commands that are being used with the ssh bits, just they're being run as a prereq to the mount.  Had to add `Restart=on-failure` to the Mount itself because sometimes even though the `Before` directive is on the mkdir service it would still complain abo

[2022-10-12 21:24] giuseppe commented on #16107
it seems to work fine on F37 if I downgrade to [systemd-251.4-53.fc37](https://bodhi.fedoraproject.org/updates/FEDORA-2022-37c5a02924), looking at the changelog the patch "[PATCH] manager: optionally, do a full preset on first boot" was removed from the last systemd version, so I've tried running `systemctl preset-all` and the command seems to fix the system:

[code]

[2022-10-12 21:55] mtrmac commented on #12395
It’s fairly likely that #15662 will fix this, but I don’t have a way to test that.

Can someone who is experiencing this try Podman with that PR, please?

And for our test suite, it would be useful to have a capture of the failing request (headers at least, make sure to drop any credentials) and the failing response (_both_ headers and body).

[2022-10-12 21:57] mtrmac commented on #9619
#15662 will change the message to match the previous comment.

[2022-10-12 23:08] phillipinman opened #16145 "Cannot install Podman 4.2.1 on Windows using the MSI Installer"
/kind bug

On the latest Podman release (4.2.1) using the Windows MSI the installation fails and rolls back due to an invalid add command in the MSI package, it specifically fails on the "C:\Program Files\Redhat\Podman\winpath.exe"

This occurs on both a clean install (a machine that has never had podman) and a upgrade (4.1.0 MSI works fine).

Due to this taking place on a work machine I can't rea

[2022-10-13 01:04] baselsayeh opened #16147 "Passing container labels to oci-hooks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Is there any way to pass labels to OCI hooks?

**Setup**

*hook configuration:*
[code]

*hook script:*
[code]
and the command used to run podman:
[code]

the resulting file, ```/tmp/hook.log``` will look like
[code]

**Describe the results you received:**
podman only passes the pod name (

[2022-10-13 01:44] mheon commented on #16147
Labels are not part of the OCI spec, so my understanding is that they are not part of the hooks standard. You may wish to investigate annotations instead, which are passed as part of the OCI spec.

[2022-10-13 04:44] XVilka opened #16148 "podman default machine on macOS M1/M2 could ship `qemu-user-static` out of the box to use non-ARM64 containers"
Ship the `qemu-user-static` out of the box on podman machine installations of Fedora to allow non-arm64 builds out of the box

Currently it needs installing it manually:
[code]
See https://edofic.com/posts/2021-09-12-podman-m1-amd64/

It would certainly simplify things if the standard podman machine image for macOS installations would provide them by default. Running x86 containers on M1 is very c

[2022-10-13 06:55] afbjorklund commented on #16148
* https://github.com/containers/podman/issues/12144

[2022-10-13 07:08] vrothberg commented on #16076
Closing as https://github.com/containers/podman/pull/16118 merged.  I am not 100 percent sure it fixes the flake but it's the only potential source for the flake I could spot so far.  Let's reopen in case it continues.

[2022-10-13 07:50] giuseppe commented on #4293
`oci-systemd-hook` should not be needed anymore with Podman.  Could you uninstall the `oci-systemd-hook` package?

[2022-10-13 08:02] vrothberg commented on #15367
The symptoms look similar to https://github.com/containers/podman/issues/11594#issuecomment-1263642097, don't they?

[2022-10-13 09:12] nolange opened #16149 "podman generate systemd --new mishandles the --stop-timeout argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Generation a systemd unit file should take the `--stop-timeout` argument and pass it to
`podman stop`.

If the `--new` flag is used, then this is not happening.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[2022-10-13 10:08] vrothberg commented on #16142
[code]

That's interesting.  The `podman kill` succeeded and the following `podman rm` fails.

[2022-10-13 10:13] LiZhang19817 opened #16150 "Podman push image to redhat quay with sigstore was failed caused by send malformed manifest to quay"
Hi Guys,

When use podman 4.2.1 to push image to Redhat Quay 3.8.0, hit 500 error code, based on the log error message , seems like podman send malformed json to quay, pls review this issue and give suggestions.

[code]

[code]

[2022-10-13 10:17] vrothberg commented on #16150
Thanks for reaching out.  Which version of Quay are you running?  Does it work using `cosign`?

[2022-10-13 10:17] vrothberg commented on #16150
Cc: @mtrmac

[2022-10-13 10:18] LiZhang19817 commented on #16150
[code]

[2022-10-13 10:18] LiZhang19817 commented on #16150
Yes, Quay Version is 3.8.0 and Cosign works well with Quay

[2022-10-13 10:26] vrothberg commented on #16142
I opened https://github.com/containers/podman/pull/16151 to improve the error message.  I really want to know which state the container is in.

[2022-10-13 10:27] edsantiago commented on #15367
Sometimes, but not enough for me to combine the two issues. #11594 is a one-shot: it happens, and life goes on. This issue is a catastrophe: once it happens, podman never works again.

[2022-10-13 11:33] edsantiago opened #16152 "containers/* treadmill: new error message on push"
nightly `containers/*` treadmill is failing system tests:
[code]
local podman only (root/rootless); remote tests are passing. Something changed in some error message somewhere? Anyhow, heads-up for the next person to do vendor dance.

[2022-10-13 11:33] vrothberg commented on #16135
@sjug can you share the output of `podman system df -v`?  Note the **-v**

[2022-10-13 11:37] the-plate opened #16153 "mnt/"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2022-10-13 11:38] vrothberg commented on #16152
@mtrmac is on it in https://github.com/containers/podman/pull/15662

[2022-10-13 11:42] vrothberg commented on #16135
Ok, I found an easy reproducer:
[code]

That doesn't add up and the reported sizes in `-v` are wrong.

[2022-10-13 11:45] edsantiago opened #16154 "kube play: cannot unmarshal ... PodRmReport.RmReport.Err"
[code]
Three instances, first in August. Root/rootless. Always remote.

[2022-10-13 11:54] edsantiago commented on #16154
* fedora-36 : sys remote fedora-36 rootless host [remote]
  * PR #16105
    * [10-10 09:45](https://api.cirrus-ci.com/v1/artifact/task/6661751570694144/html/sys-remote-fedora-36-rootless-host.log.html#t--00392)
  * PR #15407
    * [08-22-2022 09:34](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6408248566743040/html/sys-remote-fedora-36-rootless-host.

[2022-10-13 11:57] edsantiago commented on #15367
Potentially interesting correlation: #16154 (unmarshal blah blah, podman-remote only) seems to be highly correlated with this one. My gut feeling is that "unmarshal" is its own bug; that what's happening is that THIS issue (the forever-hose) is triggering, and sending an error that podman-remote cannot deal with. So the underlying error is actually this one. But please take this with a grain of sa

[2022-10-13 13:30] avx-rchung opened #16156 "Feature request: preserve container images across podman machine recreation"
/kind feature

**Description**

When using the `podman machine` setup today, every time the VM is recreated all the images (`podman image`) are lost. It would be nice if they are preserved, similar to how things work with Docker desktop.

**Steps to reproduce the issue:**

1. podman machine init --now

2. pull some image

[code]

3. podman machine stop; podman machine rm podman-machine-default
4.

[2022-10-13 13:31] mheon commented on #16156
@baude PTAL

[2022-10-13 13:36] rhatdan commented on #4217
That seems reasonable to me. Care to open a PR for this?

[2022-10-13 13:38] aut0 opened #16157 "Podman not forwarding IPv6 port"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to publish port 443 and 80 for IPv6 on a pod.
80 is published fine.
443 is not published correctly

**Steps to reproduce the issue:**

1. Create pod that publishes 80 and 443 to the IPv6 address of the host

**Describe the results you received:**

podman inspect pod-in-question yi

[2022-10-13 14:14] mheon commented on #16157
Can you switch to the Netavark network backend and try again?

[2022-10-13 14:19] mheon commented on #16153
Closing. If you feel this is a mistake, please fill out the issue template and comment, and I can reopen.

[2022-10-13 14:19] #16153 closed

[2022-10-13 14:23] mheon commented on #16149
@vrothberg PTAL

[2022-10-13 14:25] mheon commented on #16145
@n1hility PTAL

[2022-10-13 14:30] n1hility commented on #16145
we've had reports of ml based security scanning software (e.g. falcon) blocking executable execution of bundled untrusted installer artifacts. To address this we moved to a new installer (coming in 4.3.0) which is fully signed (lowering false positives). I'll close this for now since the legacy msi is retired, but feel free to reopen or file a new issue if it persists after 4.3

[2022-10-13 14:30] #16145 closed

[2022-10-13 14:42] sjug commented on #16135
[code]

[2022-10-13 15:14] Luap99 commented on #16157
Please provide the full commands. Are you using an network with ipv6 enabled, you need to do podman network create --ipv6, the default network has no ipv6 support.

[2022-10-13 15:37] edsantiago commented on #16142
You got [lucky!](https://api.cirrus-ci.com/v1/artifact/task/5826842409041920/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00134):
[code]

[2022-10-13 15:47] vrothberg commented on #16142
Wuaaaaaaa ... I expected everything but that O.O

[2022-10-13 15:52] the-plate commented on #16153
Sorry about that. I ve created the issue by mistake. Feel free to close and delete.
My apologies.

[2022-10-13 16:39] afbjorklund commented on #16156
The previous machine used separate disk images for this, one for os - one for storage

[2022-10-13 17:12] jdoss opened #16162 "Unable to create new rootless pods after using podman stop --all and podman rm --all"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I think I put my rootless podman into a bad state. I had a bunch of containers unrelated to my pods/containers I run on a daily basis on my workstation. I decided rather than indivudally clean everything up to do `podman stop --all` and `podman rm --all` and then relaunch my pods/containers t

[2022-10-13 17:14] Luap99 commented on #16140
Honestly I do not understand why we use the NetNs interface on the Container State object. This requires us to open the netns to use it. If you look at the users of this interface they all call .Path() so they only want the path which means the the open is completely unnecessary and adds overhead. We should just use the path, this would also remove the need for the code
[replaceNetNS()](https://gi

[2022-10-13 17:16] Luap99 commented on #16162
Duplicate of https://github.com/containers/podman/issues/16107
TLDR some bug only present in fedora 37

[2022-10-13 17:16] #16162 closed

[2022-10-13 17:51] holly-cummins opened #16163 "Podman machine start fails with 'no such file or directory', reboot resolves issue on Mac M1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We are seeing an issue on a self-hosted github runner, on Mac M1. If it's not already running, we start the podman machine at the start of the github job,

[code]

Usually this works, but at some point after  a few days the machine gets into a state where it won't start. Rebooting fixes the i

[2022-10-13 17:57] mheon commented on #16140
We're only storing the path in the database right now, so this conversion should not result in a breakage of DB format. We'll still blow up horribly when trying to do anything with the old namespace (e.g. start a container), but that will be a lot less often than it happening any time we try and pull a namespace out of the database. Sounds like a reasonable approach to me.

[2022-10-13 18:52] mtrmac commented on #16150
Thanks for your report. https://github.com/containers/image/pull/1684 seems to fix that, at least against the public quay.io instance, although I’d very much appreciate independent validation.

---

For Podman maintainers: This https://github.com/containers/image/pull/1684 and independent https://github.com/containers/image/pull/1683 are relevant for sigstore interoperability with registries. Woul

[2022-10-13 20:42] krishnanrajah opened #16168 "API forwarding not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After setting up podman, the API forwarding doesn't seem to be working in Windows wsl.

**Steps to reproduce the issue:**

1. Install podman-v4.2.1.msi

2. After podman machine init, do podman machine start.
Starting machine "podman-machine-default"
This machine is currently configured in roo

[2022-10-13 22:01] #15356 closed

[2022-10-14 00:11] edsantiago commented on #16142
Failed in [nightly cron, f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/5453346147401728/html/sys-podman-fedora-36-rootless-host.log.html#t--00311). Again, state is `stopped`. So far we've seen this root and rootless, f36 amd64 and aarch64.

[2022-10-14 00:21] flouthoc opened #16172 "Podman's `--dns` + `--network` is different than docker's `--dns` + `--network`"
I think Podman's `--dns` is behaving differently than how is it supposed to work when comparing with `docker` when a container is started with `--network`.

# What Podman is doing when `--dns` is used with `--network`

Podman's `--dns` is overrding the `nameservers` inside container's `/etc/resolv.conf`

So `podman run --network test --dns 8.8.8.8 ...`   will produce a `/etc/resolv.conf` inside co

[2022-10-14 00:22] flouthoc commented on #16172
@mheon @Luap99 Could you please confirm if I am reading this right.

[2022-10-14 01:23] LiZhang19817 commented on #16150
thx, which pdoman version will have this fix?

[2022-10-14 01:32] mheon commented on #16172
What we are doing matches what Docker does for networks that do not have DNS enabled, last I checked.

It is, as you note, not correct for networks with DNS enabled. In those cases, Docker's internal DNS service takes over.

I don't see any harm in keeping the user-added DNS servers in resolv.conf, though. Just need to make sure that Aardvark is first.

[2022-10-14 02:00] mtrmac commented on #16150
Some future one.

[2022-10-14 02:25] just4id commented on #12751
Met the same issue on Monterey 12.6, brew info podman: podman: stable 4.2.1 (bottled), HEAD.
While podman machine rm the old vm and then init & start new VM, the issue disappeared.

[2022-10-14 05:32] flouthoc commented on #16172
@mheon Fair enough if container is connected to any network where DNS is enabled then we can keep aardvark's nameserver first, that should be enough to unblock my use-case. I'll open a PR to fix this first. ( cc @baude for info )

[2022-10-14 07:10] yuwata commented on #16107
Hi! I am a maintainer of systemd.
Could you open an issue on systemd upstream https://github.com/systemd/systemd with
1. minimal reproducer _without_ podman,
2. debugging log of systemd,
3. if possible, result of bisect between v251.4..v251.5,

Note, the patch about the preset-all should not be relevant. The patch was merged to v251.5, hence dropped from the spec file. The functionality about that

[2022-10-14 07:27] arixmkii commented on #16168
[code]
Looks like you don't have docker binary installed.

[2022-10-14 07:54] flouthoc commented on #16172
@mheon Upon checking again I like docker's way better since I don't see any value of repeating `nameservers` for case where container is connected to a network where `dns_enabled: true` in `/etc/resolv.conf` instead i see a drawback.

* Resolution via custom DNS server will be already handled by `aardvark-dns` or `dnsname` since its always first entry in `/etc/resolv.conf` additional entry for cus

[2022-10-14 07:57] vrothberg commented on #16150
@rhatdan WDYT?

I think it's probably worth backporting to RHEL.

[2022-10-14 08:13] vrothberg commented on #16149
Thanks for reaching out, @nolange! I'll wrap up a PR to fix the issue.

[2022-10-14 08:40] giuseppe commented on #16107
@yuwata there is already a reproducer that doesn't require Podman attached to the bugzilla.

[2022-10-14 08:49] yuwata commented on #16107
Is it possible to reproduce the issue with `busctl` or `gdbus`, without using the go module??
Also, please provide the debugging log with the reproducer. Otherwise, there is almost nothing we can do.

[2022-10-14 09:05] giuseppe commented on #16107
It works on Rawhide so from what I can see it is related to the specific version on F37.

I will try to get a simpler reproducer, but I don't see how there is nothing you can do since there is already one with minimal dependencies.  Have you tried running it on a freshly installed F37 machine?

[2022-10-14 09:36] Luap99 commented on #16172
This is only true when aardvark-dns has support for that. Before we add support for that we should not change this IMO

[2022-10-14 09:37] vrothberg commented on #16142
https://github.com/containers/podman/pull/16177 should fix the issue.  I am surprised this didn't flake more.

[2022-10-14 10:01] giuseppe commented on #16107
I've reinstalled Fedora 37 trying to find a better reproducer but I don't see the issue anymore, I'll update here as soon as I've more details

[2022-10-14 10:19] xiaoyar opened #16180 "`podman ps --filter ancestor=` should support regular expression to match image name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Usually image name is a relatively long string sometimes with tag name, exactly matching image name is somehow meaningless as a filter.
It should support regular expression to match image name.

**Steps to reproduce the issue:**

1. I have the following containers running now.
[code]

2. e.g.

[2022-10-14 10:31] eliteaz opened #16181 "Map host user to rootless container socket"
Have a simple podman container running php-fpm
with such a compose yaml
[code]
after successfully container setup has such a socket file with those permissions:
[code]
inside container socket owns seprately created **nginx** user
[code]

Is there any possibility to map my host's nginx user into container's socket ?
now nginx get socket permission denied during http requests
host's nginx user id
[c

[2022-10-14 11:16] giuseppe commented on #16107
after updating the packages and rebooting I see again the error on the freshly installed F37 VM.

This is what I captured from busctl:

[code]

[2022-10-14 12:43] aut0 commented on #16157
Yes, when i run ```podman network inspect``` I see ```"ipv6_enabled":true```.
Also it works for port 80, but all other forwarded IPv6 ports don't work.

[2022-10-14 13:11] giuseppe commented on #16107
and the same reproducer with busctl:

[code]

On F36 I get:

[code]

On F37:

[code]

[2022-10-14 13:17] keszybz commented on #16107
https://github.com/systemd/systemd/pull/25004

[2022-10-14 13:35] DaTurr3t opened #16184 "aardvark not honoring --hostname"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Aardvark does not honor setting --hostname, which means that containers cannot be resolved by their hostname by other containers.

**Steps to reproduce the issue:**

1. Create a network with dns enabled (as root)

[code]

2.  Create some containers that should resolve each other (as root)
[co

[2022-10-14 14:44] arixmkii commented on #16168
If you don't want to use anything docker you can absolutely stay with podman only. Podman provides its own binary called podman and in many cases you will be good just changing docker to podman.
Example
[code]
will become
[code]

It will not utilize this docker socket and work straight with the underlying podman.

As you mentioned API forwarding explicitly my guess was that you are trying to utili

[2022-10-14 14:54] mheon commented on #16172
Also, should we make this a Netavark-only thing? CNI should probably continue to use the old behavior.

[2022-10-14 14:54] odra commented on #16180
I am looking for a newcomer issue to work on, could I take this one?

[2022-10-14 14:57] flouthoc commented on #16172
Sure SGTM. I'll add a filter for `netavark` only.

[2022-10-14 15:03] flouthoc commented on #16184
Hi @DaTurr3t , Does `--network-alias` works for this use-case instead of `--hostname` ?

[2022-10-14 15:33] p-fruck opened #16185 "podman cp does not rename symlink target when copying from container to host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the `podman cp` command, I am able to copy the target of a symlink to a container as described in the [docs](https://docs.podman.io/en/latest/markdown/podman-cp.1.html):

In this case, the symlink target is copied to the container but is renamed to the symlink name. If I copy a symlink

[2022-10-14 15:45] DaTurr3t commented on #16184
Yes, `--network-alias` would work here. I think i misunderstood the hostname parameter  as it apparently only applies to the conatiner itself, not dns specifically.

[2022-10-14 16:10] flouthoc commented on #16184
@DaTurr3t I'm closing this issue since your use-case is resolved but please feel free to reopen.

[2022-10-14 16:10] #16184 closed

[2022-10-14 17:14] mheon commented on #16185
@vrothberg PTAL

[2022-10-14 17:15] mheon commented on #16180
Sure, feel free

[2022-10-14 17:17] odra commented on #16180
Cool, thanks :-)

[2022-10-14 17:28] mheon commented on #16168
Can you provide further details on what kind of API forwarding you're expecting? Podman machine mounts a Docker-compatible API socket on the host, which thus far has been adequate for most of our use cases.

[2022-10-14 18:03] AlexanderYastrebov commented on #10878
But `podman --network --host doesn't work on MacOS` https://github.com/containers/podman/issues/15664

[2022-10-15 02:53] MemoryShadow opened #16187 "When running "podman pod rm -f " an error message: Error: error freeing lock for container xxxx no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running podman pod rm -f <PodName>, an error message:
[code]

**Steps to reproduce the issue:**

1. Write resource inventory

[code]

2. Run "podman play kube mczlf.vipvp.top-pod.yaml"

[code]

3.Run "podman pod rm -f mczlf.vipvp.top-pod;"

[code]

**Describe the results you received:**

[2022-10-15 03:41] MemoryShadow commented on #16187
Seems to be related to #15526 ?

[2022-10-15 03:46] MemoryShadow commented on #16187
Recover after executing "podman system reset"

[2022-10-15 03:46] #16187 closed

[2022-10-15 08:29] eriksjolund commented on #15943
Just an idea:

The issue

*  #15927

also deals with a missing file descriptor (an activated socket).

I found a bug in rootless_linux.c

* https://github.com/containers/podman/pull/16188

that seems to fix #15927.
Maybe #15943 is related to that bug as well?

[2022-10-15 10:42] rhatdan commented on #16185
I have been working on podman cp --link issue, when I have time, but have not progressed as much as I would have liked, might also fix this problem.

[2022-10-15 11:07] #16009 closed

[2022-10-15 13:35] parmentelat commented on #10539
hiya lads
sorry for commenting on a closed issue, but

as far as I can tell my container, although it was started with `--restart=always` won't get restarted upon reboot

I am running podman-3.4.7 as vanilla-installed on fedora-35
and based on the discussion above, that mentions landing in 3.3,
I was expecting it would be restarted at boot-time

I cannot either find any *systemd* service named in

[2022-10-15 13:42] rhatdan commented on #16150
It will be in podman 4.4 4.3 is just about to release.  I think this would be worth back porting.

[2022-10-15 13:53] parmentelat commented on #10539
for the record, with podman-3.4.7 vanilla-installed on fedora 35, I had to manually enable the systemd service, this is not done automatically by `rpm install` as I thought at first

[code]

[2022-10-15 14:01] cevich opened #16190 "RFE: Make hack scripts pretty"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Both `hack/install_golangci.sh` and `install_swagger.sh` are fugly, scary, and full of hard-to-maintain secrets.

**Steps to reproduce the issue:**

1. run `make install.tools`

2. wonder why it broke for you

3. Scream after looking at the scripts

**Describe the results you expected:**

[2022-10-15 16:07] robertpatrick opened #16192 "Build command failed with error committing container: no space left on device"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While trying to build complex images, I am constantly hitting errors similar to this:

[code]

I am running `podman image prune` and `podman system, prune` but the builds still fail.  I assumed that no space left on device was related to disk space so I provisioned a new Oracle OCI VM with 10

[2022-10-16 10:43] rhatdan commented on #15763
@giuseppe @ntsbtz Any update on this?

[2022-10-16 10:50] rhatdan commented on #16192
Is your /var/tmp limited in space?
Do other builds work with different images?

[2022-10-16 10:54] rhatdan commented on #10539
@lsm5 PTAL, I don't think it is enabled by default even now in podman 4.3.  I agree that we should enable this by default.
@lsm5 WDYT?

[2022-10-16 12:59] s-m-e opened #16193 "Rootless container based on Ubuntu official does not have internet access"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Just installed `podman` on a fresh Linux Mint 21 system (more or less equivalent to Ubuntu 22.04 LTS). I am experimenting with the [official ubuntu image from dockerhub](https://hub.docker.com/_/ubuntu) (latest) and the [official alpine image from dockerhub](https://hub.docker.com/_/alpine) (

[2022-10-16 13:39] #16149 closed

[2022-10-16 16:53] #16150 closed

[2022-10-16 18:30] Luap99 commented on #16193
Have you tried ping to verify network connectivity? Right now I only see that dns is not working.
Also try running `podman run --security-opt seccomp=unconfined ...` to disable seccomp.

[2022-10-16 19:31] s-m-e commented on #16193
@Luap99 Thanks for the reply. `--security-opt seccomp=unconfined` does not change anything.

`ping`: I just mounted a folder containing a copy of the host's `ping` binary into the container since the Ubuntu image is missing it (and getting it via `apt` is a dead end), et voila ...

[code]

`ping` is resolving hosts, `apt` is not (but then only for rootless containers) ... ? Potentially yet another

[2022-10-16 19:52] Luap99 commented on #16193
Does `--privileged` work? Either way I highly recommend to update and try again, we cannot support old versions upstream.
Since some images work I suspect it is something like this: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=995777

[2022-10-16 20:20] robertpatrick commented on #16192
@rhatdan As it turns out, it was a disk space issue.  `podman` seems to be much less efficient than `docker` in terms of disk usage during multi-stage builds.  There is still some strange interaction between one tool that runs during the build and `podman` that does not occur when using docker.  Fortunately, I have a workaround for that issue.  Sorry for the noise.

[2022-10-16 20:20] #16192 closed

[2022-10-16 21:10] guzkodes opened #16194 "Error: netavark: : EOF in Parallels MacOS vm"
MacOS intel running Monterry, with a guest Fedora Linux 36 running on a VM in Parallels Desktop, podman 4.2.1 is basically useless.

[code]

dmesg:

[code]

If I try with ```docker```, it works fine:

[code]

[2022-10-16 21:37] s-m-e commented on #16193
@Luap99 `--privileged` does not change stuff, either.

[In my case, Ubuntu](https://podman.io/getting-started/installation#ubuntu), this would involve getting the packages from the Kubic project, right? The documentation so wonderfully states "CAUTION: The Kubic repo is NOT recommended for production use" - which makes me wonder what is supported "more"/"better" ;)

Anyway, tried to update. A depe

[2022-10-17 01:52] edgex004 commented on #14851
I seem to be running into the same issue on Fedora 36 with podman 4.2.0. I can reproduce in the same manner as listed on this ticket. `podman  run --rm  -it docker.io/ubuntu bash` followed by `podman exec 36fd7d5165cc id` in another terminal leads to:
[code]

I checked that session is owned by root:
[code]
And that `nsdelegate` is enabled for `cgroup2`:
[code]

@giuseppe you mentioned that you tho

[2022-10-17 03:24] testn commented on #14314
Is there a workaround for this?

[2022-10-17 03:40] testn commented on #15456
Should podman address this issue by introducing the new `--arch` architecture?

[2022-10-17 07:34] guzkodes commented on #16194
Disabled SELINUX and now it works as a charm!

Selinux was actually crashing podman:

/var/log/audit/audit.log

[code]

[2022-10-17 07:46] giuseppe commented on #14851
what is the current cgroup where podman is running in?  You can check it with `cat /proc/self/cgroup`

[2022-10-17 08:07] #15927 closed

[2022-10-17 08:17] lsm5 commented on #16137
@cevich @TomSweeneyRedHat remind me how this image is built again please

[2022-10-17 10:05] Romain-Geissler-1A commented on #14314
Hi,

In my opinion (but people might disagree), the qemu project shall increase it's default level of emulated CPU features as now recent distro tend to raise the bar to x86_64-v2 rather than good old v1. However I don't know if this will ever happen.

One possible workaround on podman side is what @rhatdan suggested me in the Red Hat bugzilla (I doubt you can see it, most likely it's private to m

[2022-10-17 10:36] rhatdan commented on #16194
That is not an SELinux issue.
@Luap99 Ideas?

[2022-10-17 10:38] Luap99 commented on #16194
[code]
Howe is netavark installed? What CPU is the VM using?

[2022-10-17 10:41] Luap99 commented on #16194
This is the same issue as: https://github.com/containers/netavark/issues/297
I have no idea what is causing this, somehow the binary is not compatible with the CPU instruction set.

[2022-10-17 12:06] alexlarsson opened #16199 "Avoid loading registry config when not needed"
Loading the registry config (in particular the shortname config on rhel) is quite slow, and it happens even if you run `podman run --pull=never`. Ideally it should be faster, but even better would be to not load this config at all when `pullPolicy == config.PullPolicyNever`.

[2022-10-17 12:13] alexlarsson commented on #16199
Looking into this it seems we may need the shortname aliases to be able to run an image based on a short name maybe? Can we detect when we have a match without shortnames first and only load the config otherwise?

[2022-10-17 12:21] junaruga opened #16200 "Docker prints "unsupported manifest media type" for the image on Quay.io created by Podman."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This issue is what I reported at https://github.com/containers/buildah/issues/2317#issuecomment-1263416447 originally.

Docker (`moby-engine-20.10.17-5.fc36.x86_64`) fails to read the manifest printing the message below.

[code]

The `skopeo` prints the manifest is version 2.1.

[code]

**Ste

[2022-10-17 12:28] junaruga commented on #16200
I tested with the Podman latest version `podman-4.2.1-2.fc36.x86_64` now. It seems that the result is same.

[code]

Here is the registory page.
https://quay.io/repository/junaruga/report-podman-4.2.1-image-compatibility-busybox

[code]

[2022-10-17 12:51] guzkodes commented on #16194
Installation was done via
```dnf install podman podman-plugins containernetworking-plugins netavark```

The CPU the vm uses is the host CPU (MacOS intel)
[code]

[2022-10-17 12:58] rhatdan commented on #15838
@gregoire-mullvad Interested in opening a PR?

[2022-10-17 12:59] rhatdan commented on #16192
There have been some improvements in Buildah since podman 4.1, which might help with this.

[2022-10-17 13:02] rhatdan commented on #15830
@Luap99 What is going on with this one?

[2022-10-17 13:06] Luap99 commented on #16194
Can you check the netavark version, `/usr/libexec/podman/netavark version`? There was a bug with kernel 5.19. Netavark v1.1 and newer has the fix for that but I don't suspect that is the same problem here since this returned an error message and did not segfault.

[2022-10-17 13:23] guzkodes commented on #16194
[code]

[2022-10-17 13:38] ashley-cui opened #16201 "Podman --noout does not suppress machine command output"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the `podman --noout` flag with `podman machine commands` does not suppress output

**Steps to reproduce the issue:**

`podman --noout machine init/start/stop/rm`

[2022-10-17 14:08] Luap99 commented on #16194
If it works with the other kernel it sounds like some kernel bug/regression. No idea where to start to debug this.
Have you tried to building netavark from source? Getting a full stack trace when it crashes would also help.

[2022-10-17 14:11] Luap99 commented on #16200
@vrothberg @mtrmac PTAL

[2022-10-17 14:44] edsantiago opened #16204 "podman system df: usability issues with --format, --verbose"
First: the two should not be allowed together:
[code]
Second: `--format json` is not implemented:
[code]
And, third, there is no command-completion help for `--format`:
[code]

[2022-10-17 14:47] vrothberg commented on #16199
Yes, that will avoid the expensive lookup.

[2022-10-17 15:02] alexlarsson opened #16205 "Two copies of the image references parser included"
Podman vendors the `github.com/containers/image/v5/docker/reference`, with the README.md saying:

except that ParseAnyReferenceWithSet has been removed to drop the dependency on github.com/docker/distribution/digestset.

However, it also vendors the above mentioned `github.com/docker/distribution/reference`, including the "digestset" dependency that was apparently problematic.

This is not great,

[2022-10-17 15:02] DaTurr3t opened #16206 "dns-option is an unknown flag for at least `run` and `create`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The flag `--dns-option` is mentioned in the [docs](https://docs.podman.io/en/latest/search.html?q=--dns-option) but results in an error saying the flag is unknown when used with `podman run` or `podman create`, maybe also ``.

**Steps to reproduce the issue:**

Run `podman run -d --rm --dns-o

[2022-10-17 16:20] boaz0 commented on #14965
still working on it...

[2022-10-17 17:18] bverkron commented on #8033
I was able to upgrade podman but only to version 4.1.1. I'm on RHEL  8.6 and that seems to be the newest available.
[code]

The upgrade did not help but I did discover that I can bet past the ps error by running the top command with sudo but get hung up by another error that I'm not sure what to do with.

[code]

The container definitely exists, is running, and I can attach to it and run commands

[2022-10-17 17:26] mtrmac commented on #16200
So this claims that the image is a Docker schema1 image. Docker has, IIRC, _completely removed_ support for that (old) format.

But this is a OCIv1 image, not a schema1 image. And given how `--raw` works, I rather trust this data. Unless, I guess, the registry was returning different manifests based on request headers.

This is not accessible to me.

---

From a quick look, https://github.com/dock

[2022-10-17 17:33] junaruga commented on #16200
Oh, sorry. Now I made it public.

[2022-10-17 18:35] duritong commented on #4293
I think what happened is that `oci-systemd-hook` was pulled in an earlier version as a dependency, then got dropped as a dependency, but stayed installed on system that had podman before. And thus you had to uninstall it manually.

Afaik there is no way to clean up packages automatically on upgrades, but this is an example that gives you an example, where it would be handy.

[2022-10-17 18:59] mtrmac commented on #16205
@alexlarsson I guess eventually we should catch up with (unreleased) [https://github.com/distribution/distribution/commit/1c89ce5fc1cec85e0726f598bccc12b873d04de3 .](https://github.com/distribution/distribution/pull/3566) .

So far I’ve been preferring to keep c/image/v5/docker/reference as similar to the other one as possible, but we _can_ diverge with a good reason. (I’m not inclined to think th

[2022-10-18 01:44] edsantiago commented on #8972
Reopening, because we just saw this on 36-aarch64:

* fedora-36-aarch64 : sys remote fedora-36-aarch64 root host [remote]
  * PR #16207
    * [10-17 16:10](https://api.cirrus-ci.com/v1/artifact/task/5712566482632704/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00134)

[2022-10-18 01:52] jakecorrenti commented on #16204
Can I give this a shot

[2022-10-18 05:20] mayurah commented on #11541
The issue is that you have to do it each-time macOS M1 wakes up out of sleep! If it had auto-NTP (which isn't hard to setup in VM), it would solve.

**For a perm fix, would you be able to take a PR if raised and review it? or is it that someone is actually working on the fix?**

**I believe the fix would help a lot of users who doesn't even know that this is a big issue for applications that relie

[2022-10-18 06:50] alexlarsson commented on #16205
2msec is not a huge problem in general, but the use of 1.3 meg of ram completely unnecessary seems not great.

Also, I should note that the actual code is pretty slow. Loading the shortname alias file is very slow, and the majority of that time is spent in reference.Parse(). So, rewriting this to use a hand-written parser instead of some humongous regexps might be a good idea in general.

[2022-10-18 07:12] webarchymeta opened #16208 "Feature request: support ns namespace path network option for pods"
The option
[code]
where `[netns-path]` is the path of a network namespace to join, is supported when creating containers. But when trying to let a pod to be created the same way (namely to join an existing network pre-defined in the hosting context), it fails:
[code]
My question is: is there future plan to add such a support (for pods)? It will be appreciated to have such a support to increase the

[2022-10-18 07:20] vrothberg commented on #16135
Still need to do the plumbing in podman.

[2022-10-18 09:24] vrothberg commented on #8033
Please open a new issue with a reproducer.  As Dan mentions above, recycling old issues does not work well.

[2022-10-18 09:30] vrothberg commented on #15374
Closing as the feature is not needed anymore.

[2022-10-18 09:30] #15374 closed

[2022-10-18 09:32] vrothberg commented on #15306
@fedinskiy, it looks like the option isn't documented in containers.conf.  I will open a PR to address that.

I'd appreciate a reproducer that uses Podman/Docker directly.  Setting up some external tools such as test-containers or Quarkus is very time consuming as I need to dig into this code (and I don't speak Java anymore).

[2022-10-18 09:35] vrothberg commented on #15306
The option is documented in containers.conf (see https://github.com/containers/common/blob/main/pkg/config/containers.conf#L369-L372).

[2022-10-18 09:36] vrothberg commented on #15306
It's also turned on by default.

[2022-10-18 10:54] rcannood commented on #4217
Aha! I was wondering whether you meant that I should open a PR.

I was about to look into this, but I see that you already made the necessary changes and that it was even already merged into the main branch.

Thanks a ton @rhatdan for being so open-minded on this :)

[2022-10-18 11:33] beddari commented on #14065
@siretart thanks for you work on this, any way we could help?

[2022-10-18 12:17] gbraad commented on #11541
@cfergeau can you share some information related to the vfkit implementation to resolve this? This can be adopted for use with qemu quite 'easily'.

[2022-10-18 12:41] kleinweby opened #16214 "Dangling/unreferenced layers on incomplete pull"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Interrupting a large multi-layer pull, can leave layers behind that are not referenced anywhere. These layers can then not be deleted using any command (aside from `podman system reset`). I think the fact that the layer persists after the interrupted pull is okay, and useful if one later cont

[2022-10-18 12:43] cfergeau commented on #11541
It's using a combination of [sleepwatcher](https://www.bernhard-baehr.de/) running on the host to detect the mac waking up from sleep. This triggers a script which syncs the host time to the guest using qemu-guest-agent:
[code]

A similar approach could be used with qemu.

[2022-10-18 13:14] guzkodes opened #16216 "Cannot run systemd inside container"
podman version 4.2.1
Fedora 36 Linux fedora 5.17.5-300.fc36.x86_64 #

cmd:
[code]

Error:

[code]

[2022-10-18 13:16] mheon commented on #16216
@rhatdan PTAL

[2022-10-18 13:30] KEO-RSP opened #16217 "Event not found in Podman 3.4.4 on Ubuntu Jammy"
/kind bug

**Description**

We are running Podman 3.4.4 on Ubuntu Jammy on a ThreadRipper server with 128 CPUs and 64 GB RAM. We are facing an issue we didn't face on the same hardware with Podman 3.4.2 on Focal. We are speaking about a 64-bit CPU here.

Podman 3.4.4 was installed directly via apt because it's part of Jammy.
Podman 3.4.2 was installed as described [here](https://www.how2shout.com/

[2022-10-18 13:40] baude commented on #16217
Are you willing to update to Podman 4 and try it there?

[2022-10-18 13:47] rhatdan commented on #15806
@vrothberg @mheon WDYT?

[2022-10-18 13:57] Luap99 commented on #16194
Code is here: https://github.com/containers/netavark
Install rust then you can compile it with `make`, then just copy `./bin/netavark` to `/usr/libexec/podman/netavark`

With the `RUST_BACKTRACE=1` env var it should create a stack trace but I am not sure if this works with invalid opcode problems.

[2022-10-18 13:59] azevedoedison opened #16218 "Error to run "podman machine init""
I'm not able to run the "podman machine init" command.

I am using Windows 10, podman-v4.2.1.msi and podman-desktop-0.8.0.

Occur the following error:
`An error occurred attempting the WSL Kernel update, retrying... Could not install the WSL Kernel. See previous output for any potential failure details. If you can not resolve the issue, try rerunning the "podman machine init command". If that fail

[2022-10-18 13:59] Luap99 commented on #16208
I see no reason why this is restricted, it should be simple to add this functionality.

[2022-10-18 14:02] rhatdan commented on #15705
@vrothberg @mtrmac any update on this?

[2022-10-18 14:19] vrothberg commented on #15806
A use case would help.  In theory it sounds independent of health checks but more related to the restart logic.  If a container gets restarted manually by the user or by an on-failure action should not matter.

[2022-10-18 14:20] vrothberg commented on #15705
No, waiting for feedback.

[2022-10-18 14:21] Luap99 commented on #16137
I think once per day, @cevich should know when exactly.

[2022-10-18 14:47] rhatdan commented on #16204
Go for it.

[2022-10-18 14:53] mheon commented on #16218
@n1hility PTAL

[2022-10-18 15:02] rhatdan commented on #16216
Could you please attach the AVCs.

sudo ausearch -m avc

[2022-10-18 15:04] cevich commented on #15806
A use case could be:

1. Container **A** provides a network-namespace.  On startup it does some shenanigans with a VPN to punch through a corporate. firewall.  It has health-checks to verify connectivity.
2. Container **B** provides a user-namespace, it consumes the network-namespace from container **A**.  On startup it queries, connects, or synchronizes with a remote IAM server.  It has health-ch

[2022-10-18 15:05] rhatdan commented on #16208
I agree, the check blocking it should be removed.

[2022-10-18 15:18] n1hility commented on #16218
Hi @azevedoedison, sorry this isn't working for you.

Could you post the output of a wsl --status?

[2022-10-18 15:23] n1hility commented on #16218
If you want to try resetting from a clean slate here is a suggested workflow:
(note: be sure to backup anything you have on docker desktop that you need to keep before doing this)

1. Run  `dism.exe /online /disable-feature /featurename:Microsoft-Windows-Subsystem-Linux /norestart`
2. After completion reboot
3. Run `wsl --install` (it will force you to reboot)
4. Try podman machine init again

[2022-10-18 15:34] cevich commented on #16137
Yes, once per day.  It's the `multiartch` Cirrus-cron job that does it.  Should show up here: https://cirrus-ci.com/github/containers/podman/main

[2022-10-18 17:33] cevich commented on #15410
Started to migrate containers/skopeo to Renovate, encountered an "interesting" issue WRT containers/common version retraction.

[2022-10-18 17:53] patricmutwiri commented on #11229
For debian users, check this out: https://packages.debian.org/sid/golang-github-containernetworking-plugin-dnsname

[2022-10-18 20:30] mtrmac commented on #16205
- Isn’t it 1.3 MB allocated, not necessarily used at the same time? Quite a bit of that is `regexp.MustCompile(…).String()`, where the regexp is temporary.
- The various complied regexps are a part of the public API, which we don’t want to break.
- It’s not really just `reference.Parse`; a lot of the individual API points use a regexp for validation. I guess that would make for a bigger win?
- A h

[2022-10-18 22:29] jesselang commented on #6377
Perhaps in the meantime, `fluentd` should be removed from the completion script? I can take a swing at a PR for that.

[2022-10-18 22:33] jesselang commented on #6377
Oops, never mind. Looks like `fluentd` is no longer an option in the completion script.

[2022-10-18 22:46] jesselang commented on #16019
From what I've gathered, it seems like the behavior expected would be to match on the volume name or the mount point in the container (destination) rather than the mount point on the host (source). I'd be happy to take a swing at a PR for this.

[2022-10-18 23:25] jesselang commented on #12929
I'm familiar with how `subPath` behaves in the Kubernetes pod spec. I'm new to podman/libpod, but I'd be happy to take a swing at a PR for this. That being said, if there's WIP toward it, I'd love to see that carried forward!

[2022-10-18 23:46] cdoern commented on #12929
@jesselang I will push my code that I have and you can take a look at what I was thinking

[2022-10-19 00:12] TomSweeneyRedHat commented on #16150
@vrothberg has this been backported to skopeo and Podman for RHEL 8.7/9.1 yet?  We need to do so as soon as possible.  Holler if you need version pointers.

[2022-10-19 00:38] edgex004 commented on #14851
@giuseppe
[code]

[2022-10-19 01:40] mtrmac commented on #16150
@TomSweeneyRedHat These are c/image changes.  Should that happen on a c/image branch that is then vendor-danced, or is this a Podman-only backport?

[2022-10-19 04:37] matt-deboer commented on #14302
@lsm5 FYI, I was previously (~1month ago) able to install successfully using the unstable 22.04 repo, but it seems at present to be erroring out installing `podman` with a missing `netavark` dep:
[code]
Any ideas?

[2022-10-19 05:55] KEO-RSP commented on #16217
We would certainly be willing to try that. There seems to be no obvious way to get Podman 4+ onto a Jammy installation, which approach would you recommend? Which set of software would we need to update other than just the podman binary?

[2022-10-19 07:28] alexlarsson commented on #16205
Yeah, i guess not all the 1.3 MB are kept, but still, lots of churn.

For the `reference.Parse()` part, I'm just going of what I was seeing in profiles. The thing is that on rhel/centos, the `/etc/containers/registries.conf.d/001-rhel-shornames.conf` file is 300KB, and contains 3200 aliases, and for each we call reference.Parse() which is taking a lot of time during startup.

[2022-10-19 07:29] alexlarsson commented on #16205
By lot of time, i was seeing 63msec, although 20msec of those was in the toml parser, but the rest was mainly in the reference parser.

[2022-10-19 07:33] alexlarsson commented on #16205
For the API issue, maybe one could use something like https://github.com/charlievieth/reonce to lazily initialize the regexps?

[2022-10-19 07:41] alexlarsson commented on #16205
Also, It seems a bit weird to do the regexp construction at runtime, using those helper functions. I understand that it makes things easier to write/maintain, but could maybe have that code as is and run at buildtime to just generate the final regexp strings.

[2022-10-19 07:44] vrothberg commented on #16205
Just taking over the note from another issue that parsing short names is only an issue when using short names.  No cycles are wasted parsing them when using a FQN.  A week worth of work _may_ very well be more effective tackling issues that pop up when using FQNs; at least in the automotive context.  Yet, I am all in favor of optimizing the reference package.

[2022-10-19 08:00] vrothberg commented on #16150
You said you'll open BZs but I haven't seen them yet.  Did you open some?

[2022-10-19 08:35] lsm5 commented on #4293
I guess `dnf autoremove` could have helped, not sure if it's possible to automate the autoremove option in dnf config though.

[2022-10-19 09:37] Luap99 commented on #16019
@jesselang Thanks, I assigned it to you. Feel free to ping me if you have any questions.

[2022-10-19 11:51] vrothberg commented on #16200
I am under the impression that it's a docker bug?  `docker pull` works just fine but `manifest inspect` does errors out.

[code]

[2022-10-19 11:57] vrothberg commented on #16200
It's probably due the fact that reference points to a single image and not a manifest list or image index.  Dockers error message could be better though.

I am closing as I do not see it being related to Podman.

[2022-10-19 12:21] lsm5 commented on #14302
netavark 1.2.0 should now be available on the kubic repo (for x86_64 already, others soon to follow) https://build.opensuse.org/package/show/devel:kubic:libcontainers:unstable/netavark .

cc @cevich

[2022-10-19 12:47] KEO-RSP commented on #16217
Never mind, we will go with the Kubic repositories.

[2022-10-19 12:58] lukasmrtvy opened #16225 "compat container stats endpoint does not stream if container is not yet started"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Container stats ( compat ) endpoint does not stream empty stats if the container is not yet started, while this is working for Docker stats endpoint.

Related: https://github.com/containers/podman/pull/14580

**Steps to reproduce the issue:**

1. `id=$(podman create -t nginx)`

2. `curl  -X GE

[2022-10-19 13:54] izissise opened #16227 "Bug $XDG_RUNTIME_DIR no space left on device"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Hello I'm having a hard time changing the directory where podman commits containers (during image build), my computer XDG_RUNTIME_DIR is a tmpfs of 1GiB size, which fails for large commits.
I set runroot = "/var/tmp" in ~/.config/containers/storage.conf, removed ~/.local/share/containers and p

[2022-10-19 13:56] cfergeau commented on #11541
@gbraad pointed me at https://github.com/prashantgupta24/mac-sleep-notifier which should be much better than `sleepwatcher` as it's native go/cgo code so it can directly be reused in crc/podman machine/...

[2022-10-19 14:35] cevich commented on #15410
containers/skopeo has been onboarded.  I'm going to close this issue as "complete", though I will continue the migration effort independently.  Time and experience may prove Renovate isn't the appropriate tool for all repos, and/or the current tire-kicking trials may reveal "abandon-ship" level problems.  So in all those cases there's no reason to keep this issue open.

[2022-10-19 14:42] cevich commented on #14302
Thanks @lsm5 I'll give it a go.

[2022-10-19 14:46] #16135 closed

[2022-10-19 15:10] matt-deboer commented on #14302
Thanks much,  @lsm5 ! successful build/install now on x86_64 22.04

[2022-10-19 15:12] edsantiago commented on #15367
This one is really hitting us hard. Last ten days:

* fedora-36 : sys remote fedora-36 root host [remote]
  * PR #16223
    * [10-19 09:20](https://api.cirrus-ci.com/v1/artifact/task/5066313759457280/html/sys-remote-fedora-36-root-host.log.html#t--00271)
  * PR #16221
    * [10-18 18:10](https://api.cirrus-ci.com/v1/artifact/task/5884007350009856/html/sys-remote-fedora-36-root-host.log.html#t--003

[2022-10-19 16:26] mtrmac commented on #16205
AFAICS that would still be an API break.

[2022-10-19 16:30] mtrmac commented on #16205
That linked upstream commit doesn’t quite do that, but at least it only concatenates strings. Sure, that could be improved further to move to build time.

---

Ideally, I’d like to see a generator that turns the regexes into parsers similar to the test branch above. That parser really is a rat nest of bug opportunities.

(Or, well — alternatively, I’d just like the regex engine to be fast. It’s un

[2022-10-19 17:28] junaruga commented on #16200
Thanks for checking, guys! I see. But when creating an image by Docker, the `docker manifest inspect` works for the image. The reproducer is below.

[code]

Here is the registry page.
https://quay.io/repository/junaruga/report-docker-20.10.17-image-compatibility-busybox?tab=info

Then the `docker manifest inspect` works.

[code]

The `skopeo inspect` works.

[code]

[2022-10-19 17:59] mtrmac commented on #16200
Sure, that’s not an OCI image.

[2022-10-19 18:51] andrunah opened #16230 "OSX DNS ignored for `login`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to log into a container registry, where its DNS name is not resolvable using the resolvers listed in /etc/resolv.conf. However OSX has no problem connecting to it by name.
This appears to be a reincarnation of bug: https://github.com/containers/podman/issues/12975

podman login wo

[2022-10-19 23:53] Clockwork-Muse opened #16232 "CDI spec devices are not valid input in all device input locations"
/kind bug

**Description**

Although it is now possible to list a CDI spec during `podman run`, there are a few other places where devices can be specified where the CDI spec appears to not be allowed.

**Steps to reproduce the issue:**

1. Install podman and the nvidia-container-toolkit, and generate the relevant CDI spec.

2. Modify the containers config: `sudo sed -i 's|^#devices = \[\]|devices

[2022-10-20 02:44] DCsunset opened #16233 "Default route for multiple networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, when a container is connected to multiple networks, multiple conflicting default routes will be added (shown by `ip route`), which makes it hard to control which network will be used by default.

It would be easier to control the routing if podman supports an option to specify

[2022-10-20 06:57] brainbytes42 commented on #15995
Thanks a lot @n1hility, your workaround saved my day! :-)

[2022-10-20 08:21] vrothberg commented on #12778
No.  This needs to be done on the systemd side and I am not sure there is a ticket.

[2022-10-20 08:29] rprodan commented on #12778
In this case rootless containers can than only be run as systemd **user** service?

[2022-10-20 08:31] vrothberg commented on #12778
Yes.  It works just fine using `systemctl --user ...` which will run the service/unit with the current user.

But using the `User=` primitive will not work.

[2022-10-20 08:32] vrothberg commented on #12778
I changed the title to better reflect the issue.

[2022-10-20 09:27] vrothberg opened #16235 "`podman run` reads /etc/containers/podman-machine"
[code]

I did not check the code but I do not see any reason for a `podman run` to trigger reading `/etc/containers/podman-machine`.

FYI @baude @rhatdan @ashley-cui

[2022-10-20 09:31] arixmkii commented on #15852
I might find time to contribute changes, if this is discussed/approved and the approach confirmed.

[2022-10-20 09:47] Romain-Geissler-1A commented on #15928
Hi,

@flouthoc I have found this issue while trying podman 4.3 with a docker client, and got a similar issue. I fear that any "docker build" when using the real docker client and the podman socket is broken with release 4.3.

I don't understand this part of the code you point: https://github.com/containers/podman/blob/main/pkg/api/handlers/compat/images_build.go#L404 but here you seem to consider

[2022-10-20 09:56] Luap99 commented on #16235
I cannot speak for all code paths but it is 100% required when ports are forwarded, is it read with --network=host?

[2022-10-20 10:06] flouthoc commented on #15928
@Romain-Geissler-1A Yes you are correct we have to refactor it to accept array. @DenisaIoanaMatei are you still working on this issues ? If you are short on time I can just take it and push it to completion.

[2022-10-20 10:12] DenisaIoanaMatei commented on #15928
Hi @flouthoc I was working on it but only a bit so would more than happy if you take over and push it to completion 🙏

[2022-10-20 12:55] edsantiago commented on #16091
Failed in [Fedora gating tests](https://artifacts.dev.testing-farm.io/948f365a-a8f1-466b-85e0-e752ffc719e4/work-tests.ymlz1OSKA/tests-TEM3FH/test.podman-root-cgroupsv2.bats.log):
[code]

[2022-10-20 12:58] vrothberg commented on #16091
@edsantiago do the flakes in the gating tests support the theory of the machine being under load (or just sufficiently slow) to justify bumping timeouts?

[2022-10-20 12:59] edsantiago commented on #16091
I don't know enough about the gating-test environment to answer that. I actually don't know ANYTHING about that environment. But yeah, I guess there's not much choice other than to bump timeouts.

[2022-10-20 13:41] cevich commented on #15349
-sigh- no dumb github bot, all the activity is in #15760, why would I bother to update the linked issue as well?

[2022-10-20 14:59] overshareware commented on #13200
FWIW I am using Podman 4.1.1 and it doesn't seem to be working.

[2022-10-20 15:49] baude commented on #16235
For the wider audience, this file is added by ignition when a new machine is booted.  The purpose of this file is to provide a "marker" so that Podman knows it is running in a machine "context".  There is precedent for doing this in other parts of Podman.  We could happily phase this out if we have better/faster ideas on providing a marker.

[2022-10-20 15:53] baude commented on #16217
Are your results better?

[2022-10-20 16:55] mheon commented on #16233
We are adding an option for per-network route metrics, which should allow what you want. This will only be supported by the `netavark` backend, of note.

[2022-10-20 21:55] edsantiago commented on #16036
New one today on v4.3

* fedora-36-aarch64 : sys podman fedora-36-aarch64 root host
  * PR #16241
    * [10-20 14:30](https://api.cirrus-ci.com/v1/artifact/task/5673483152654336/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00312)

[2022-10-21 04:55] martinpitt commented on #15972
Running the reproducer, the first time I get a hang in iteration 5:
[code]

No journal messages aside from the initial

    systemd[898]: Started run-r8248d1cf5c3841e09b1b1eb348ae9bb2.scope - /usr/libexec/podman/aardvark-dns --config /run/user/1000/containers/networks/aardvark-dns -p 53 run.

Another run was more severe:

[code]
but still no other journal messages.

In the meantime I upgraded to s

[2022-10-21 07:40] eriksjolund commented on #15934
@yogo1212 To fix the error
`Error: OCI runtime error: crun: write to /proc/sys/net/ipv4/ping_group_range: Invalid argument`
in the command

[code]
add the command-line option ` --sysctl "net.ipv4.ping_group_range=1000   1000"`
[code]
The test was run on Fedora 36 with Podman 4.2.1
[code]

[2022-10-21 08:25] giuseppe commented on #15934
if you do not specify a gidmap, then its value is copied from the uidmap.

To avoid the issue with ping_group_range, I've added this line to the `/etc/containers/containers.conf` file:

[code]

[2022-10-21 09:42] yogo1212 commented on #15934
@giuseppe

Thanks for addressing this recurring error/mistake.

Is that that a fix or just hiding an underlying error with unmapped uid 0?

Either way, it's an improvement, imo :-)

[2022-10-21 09:44] yogo1212 commented on #15934
@eriksjolund

thanks - interesting!
i was thinking in a completely different direction.

[2022-10-21 11:34] alexlarsson opened #16245 "Questions regarding volume lifetimes vs on-disk storage"
So, this is not necessarily an issue, but something that came up in work/discussions around transient container storage and may be problematic. At least it requires some though.

I've been looking at making /var/lib/container/storage a tmpfs for transient containers in the automotive usecase. This is nice, because we always create containers from scratch, and run them with `--rm --read-only` so th

[2022-10-21 11:36] vrothberg commented on #16245
@baude @rhatdan @mheon PTAL

[2022-10-21 11:43] lsm5 opened #16246 "Fedora gating test failure: 312 sdnotify : play kube - with policies"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
[code]

**Steps to reproduce the issue:**

1. Fedora gating tests

**Package info (e.g. output of `rpm -q podman` or `apt list podman` or `brew info podman`):**

[code]

[2022-10-21 11:44] lsm5 commented on #16246
@edsantiago PTAL

[2022-10-21 11:50] edsantiago commented on #16246
This is #16076, which ~~was~~ should've been fixed a week ago in #16118. @vrothberg PTAL. @lsm5 please confirm that this is 4.3, not something old.

[2022-10-21 11:51] lsm5 commented on #16246
It's the latest v4.3.0 on rawhide https://bodhi.fedoraproject.org/updates/FEDORA-2022-48156b03b5

[2022-10-21 12:44] cfergeau commented on #11541
The host side code for time sync for vfkit/crc is https://github.com/cfergeau/vfkit/blob/timesync/cmd/vfkit/timesync.go
This should be fairly easy to adapt for use with qemu (replace the call to `vf.ConnectVsockSync` with something connecting over `virtio-serial`)

[2022-10-21 12:51] vrothberg opened #16248 "flake: test/e2e/search_test.go"
The search tests are currently flaking.  The problem with search is that it's not part of a spec and that there is no guarantee whether the searched term will be returned even if the image exists on the registry (see failure below).

[code]

[2022-10-21 13:00] vrothberg commented on #16246
The "fix" is part of v4.3.0 but apparently not sufficient.  Any chance we can restart gating tests?

Did we see the test flake in rawhide before?

[2022-10-21 13:06] lsm5 commented on #16246
`before` meaning before v4.3.0 or on a prior test run with v4.3.0 ? Maybe @edsantiago remembers better.

[2022-10-21 13:06] lsm5 commented on #16246
rerunning gating test now

[2022-10-21 13:14] lsm5 commented on #16246
ack, no recollection. I'll leave it to Ed.

[2022-10-21 13:33] faern commented on #3761
This message gave me a glimpse of hope. So I tried `podman build --disable-compression=false`, but I still get a different hash compared to the one showing up on ghcr.io.

Is there any way to get the hash of what `podman` pushes, ugly or not? Because I need to build an image locally and push it to ghcr.io and then be able to obtain the digest locally so I can sign it and give to people. The people

[2022-10-21 14:12] reavessm commented on #15983
Any update on this @jakecorrenti?  I'd be happy to help if needed.

[2022-10-21 14:20] gregoire-mullvad commented on #15838
I could give it a go, but most likely not before one or two weeks.

[2022-10-21 14:23] jakecorrenti commented on #15983
@reavessm you can snag it. I haven't been making much progress, unfortunately.

[2022-10-21 16:09] klausenbusk opened #16250 "Support enabling idmap (or chown) globally"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`userns` can be set to `auto` in `containers.conf`, which is very useful to transparently enable this feature. This causes issues with volume ownership, which can be fixed by using the `idmap` or `chown` (`U`) option when attaching the volume to the container. Unfortunately, the client (`

[2022-10-21 16:33] gilfrade commented on #12929
I don't have the know how to help developing this feature but i can help testing this PR.

[2022-10-21 18:01] mtrmac commented on #3761
Yes. Or use the built-in signature support: `podman push --sign-by…`, `podman push --sigstore-sign-by=…`.

[2022-10-21 19:50] rachelwaldon commented on #15348
Any update on this issue?

[2022-10-21 20:48] MartinX3 opened #16252 "generate systemd warning - restart policy "always""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

WARN[0000] Container bd58493110ef5f810c2e6e1242c1b3d8dacd162d0e4d5c67b207e4b55784eaf7 has restart policy "always" which can lead to issues on shutdown: consider recreating the container without a restart policy and use systemd's restart mechanism instead

**Steps to reproduce the issue:**

1.

[2022-10-21 21:37] mheon commented on #16252
I see two Pod YAMLs mentioned in the bug, but only one is provided. Are they identical?

Aside from that: @vrothberg does auto-update work without the `--new` option to `generate systemd`?

[2022-10-21 21:43] MartinX3 commented on #16252
@mheon I'm sorry
I added the missing pvc now

[2022-10-21 22:33] mheon commented on #16245
Volume driver shouldn't matter here; nor should volume options. Driver means that the mountpoint of the volume is not managed by Podman, but by the driver; `volume_path` won't matter because an external program is managing the volume. If non-default options are chosen, Podman will use `mount` to mount over the volume's directory, in which case it not being empty doesn't matter, we're mounting our

[2022-10-21 23:53] debarshiray opened #16254 "'podman exec --tty' and 'podman run --tty' connects the inner stderr to the outer stdout"
/kind bug

**Description**

I am not entirely sure about this one, so feel free to correct me if I am wrong.

@HarryMichal and I have been staring at how [Toolbx](https://github.com/containers/toolbox) wires up the standard output and standard error streams via Podman to the final child process running inside the container.  It seems like using the `--tty` flag connects the standard error stream o

[2022-10-22 00:29] pmengelbert opened #16255 "Allow filtering by image digest in REST API"
/kind feature

**Description**

The [API endpoint](https://docs.podman.io/en/latest/_static/api.html#tag/images/operation/ImageListLibpod) `GET /libpod/images/json` allows filtering by image ID using the query parameter
[code]

I propose adding a filter for `digest` in addition to `id`. For example:
[code]

A use-case for this is when scanning images; the user/agent interested in the scan may know

[2022-10-22 00:31] DCsunset opened #16256 "External network not working correctly when internal network is present"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a container is connected to both external and internal networks,
external networks usually don't work (no internet connection).
(Rootless containers and networks are used in this case)

**Steps to reproduce the issue:**

1. Create two networks `test_default` and `test_internal`, where `t

[2022-10-22 12:36] mheon commented on #16254
`--tty` does not have a separate STDOUT and STDERR. It puts the terminal in raw mode, and both streams write raw data to it, losing all distinction between the streams. This is unavoidable if using `--tty` or other raw terminal applications.

[2022-10-22 12:38] mheon commented on #16252
Nothing in the pod YAML about restart policy, so I have to imagine it's inherent to `play kube` creating the container. Need to verify that later.

[2022-10-22 15:51] ingobecker opened #16260 "Rootful podman with --userns=auto fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a certain image as a host user `root` with `--userns=auto` causes the same errors as described in #14504 but without this option runs just fine. Other images, when run with the same option, seem to work without issues.

**Steps to reproduce the issue:**
[code]

**Describe the results

[2022-10-22 16:48] thibaultamartin commented on #13493
Will be fixed when the host runs podman 4.2 or superior

[2022-10-22 16:59] yhcote commented on #15348
OK, @mtrmac: I'll find some time to work on this. Will sync with you and other devs to validate Podman internal stuff.

[2022-10-22 19:01] CCranney opened #16262 "QEMU Error Initializing Podman on M1 Mac - 'qemu exited unexpectedly with exit code -1'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to initialize a podman machine/container, but it fails at `podman machine start`. I have a 2021 Mac Pro with an M1 Max chip.

**Steps to reproduce the issue:**

1. Install podman: `brew install podman`

2. Initialize with `podman machine init`
Which has the following output:
[code

[2022-10-22 21:00] MartinX3 commented on #16252
Also I don't know if this is correct?
Maybe it did break because I used `--name` with `podman generate systemd --files`
[code]

[code]

[2022-10-22 22:49] mheon commented on #16256
What version of Netavark do you have installed?

@Luap99 @baude We should consider adding that to `podman info`, similar to how we get info on the OCI runtime and slirp4netns

[2022-10-22 22:52] DCsunset commented on #16256
It's `netavark 1.2.0-1` from the Arch Linux package.

[2022-10-23 00:13] BitBistro-code commented on #15858
I've updated the PR.

[2022-10-23 10:55] MartinX3 opened #16263 "Linux ssh-agent not working?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman remote always asks for my ssh key.

**Steps to reproduce the issue:**

1. podman --log-level debug --connection server ps
2. asks for key
3. podman --log-level debug --connection server ps
4. asks for key

**Describe the results you received:**
Asks for key

**Describe the results you

[2022-10-23 12:02] Luap99 commented on #16256
I think this is already fixed in in netavark (main branch, not released)

[2022-10-23 12:49] akdev1l opened #16264 "podman create pod fails to create pod due to existing libpod user slice"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to use podman in F37 to create pods I just get an error message.

[code]

**Steps to reproduce the issue:**

1. `sudo dnf install -y podman`

2. `podman pod create test`

**Describe the results you received:**

I get an error message and no pod is created.

**Describe the results y

[2022-10-23 13:11] AntonOks opened #16265 "Can't change install location in new Windows installer"
Hi.

The podman Windows releases were once MSI installer files, now it's a EXE.
I haven't found any related announcement or explanation.

Whats the strategy here? How will Windows releases look in the future?

Regards

[2022-10-23 13:17] mheon commented on #16264
This is a bug in systemd. We’ve reported it to them and they are working on
a fix. Hopefully will be ready before F37 final ships.

On Sun, Oct 23, 2022 at 08:53 Alex Díaz ***@***.***> wrote:

[2022-10-23 13:28] akdev1l commented on #16264
hi thank you for replying so fast, appreciate that

do you have a link to an upstream bug so I can track the progress of this?

[2022-10-23 14:47] akdev1l commented on #16264
ah looks like this is a duplicate of: https://github.com/containers/podman/issues/16107

I see more discussion there. Including a link to systemd's issue tracker. closing this one off.

[2022-10-23 14:47] #16264 closed

[2022-10-23 15:54] mozartilize opened #16266 "docker compatiple with runc runtime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
**Case 1:**

1. Having docker, podman installed

2. `export DOCKER_HOST=unix:///run/user/$UID/podman/podman.sock`

3. Run `docker run --rm -p 8080:80 nginx`

_Describe the results you received:_
 Getting error with message `unable to upgrade to tcp, received

[2022-10-23 16:24] soft4rchitecture opened #16267 "podman machine init fails after fresh install"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

it's impossible to do podman machine init

**Steps to reproduce the issue:**

1. brew install podman

2. podman machine init

**Describe the results you received:**
Downloading VM image: fedora-coreos-36.20221014.2.0-qemu.aarch64.qcow2.xz: done
Extracting compressed file Error: key generation

[2022-10-23 18:19] debarshiray commented on #16254
Oh, yes, of course.  Once you have written to a terminal, it's just a single stream of bytes.  The STDOUT and STDERR distinction is only there before that happens.

Thanks for helping me through the haze, @mheon :)

[2022-10-23 18:19] #16254 closed

[2022-10-23 19:25] MartinX3 opened #16269 "play kube: invalid character 'a' looking for beginning of value"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Kubernetes secrets broken

**Steps to reproduce the issue:**

1. `podman kube play test-secret.yaml`
2. `podman kube play test-pod.yaml`

**Describe the results you received:**
`Error: cannot set env TOKEN: secret secret-token-secret is not valid JSON: invalid character 'a' looking for beginn

[2022-10-23 20:02] mheon commented on #16269
@ashley-cui PTAL

[2022-10-23 20:04] mheon commented on #16267
@baude @ashley-cui PTAL

[2022-10-23 20:05] mheon commented on #16266
Please provide a full `podman info`

[2022-10-23 20:10] mheon commented on #16265
@n1hility has created a new Windows installer that should be signed - that is the EXE. The legacy MSI installer will no longer be used from now on.

[2022-10-23 20:10] mheon commented on #16263
@cdoern PTAL

[2022-10-24 03:24] mozartilize commented on #16266
@mheon I provided it in the description, is there any infomation I miss?

[2022-10-24 07:28] giuseppe commented on #16260
have you added additional IDs to `/etc/subuid` and `/etc/subgid` for the `containers` user?

[2022-10-24 07:46] alexlarsson commented on #16245
I don't, I actually prefer this behaviour, in that it allows me to reinitialize the transient volume (with the same options) and get the previously written content back. Works great with the "transient storage" model. Although there is a slight fear here about relying on undocumented behaviour.

[2022-10-24 07:50] vrothberg commented on #16252
No,  `--new` is a requirement.

[2022-10-24 07:57] #16252 closed

[2022-10-24 08:01] shanewa commented on #5443
This works to me: [Fedora-33 HOST / Fedora-33 LXC GUEST :: WARN[0000] The cgroupv2 manager is set to systemd but there is no systemd user session available](https://discuss.linuxcontainers.org/t/fedora-33-host-fedora-33-lxc-guest-warn-0000-the-cgroupv2-manager-is-set-to-systemd-but-there-is-no-systemd-user-session-available/10759)

Just as the following to this file, creating it if necessary:
${HO

[2022-10-24 08:02] MartinX3 commented on #16252
@vrothberg Thanks for the response

I'll take a look into the auto update after trying your solution.

But the docs confused me a bit.
https://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html
`The default policy is on-failure unless the container was created with a custom restart policy.`
And I didn't specify a restart policy.

https://docs.podman.io/en/latest/markdown/podman-kube-

[2022-10-24 08:04] vrothberg commented on #16252
Thank you for sharing, @MartinX3!

I totally understand the confusion and will update the `kube play` man page to reflect this default setting.

[2022-10-24 08:05] MartinX3 commented on #16252
@vrothberg thank you

`It does not work on containers or pods created via the REST API or via podman kube play.`

So I am not allowed to use it. :(

[2022-10-24 08:06] ingobecker commented on #16260
I'm running Fedora CoreOS as the host system which comes with the entry `containers:165536:65536` in `/etc/sub*id` by default. One thing i recognized though is that the system doesn't come with a user `containers` by default. I created one by myself because i'm not sure if the entries in `/etc/sub*id` make sense without a corresponding user.

[2022-10-24 08:11] vrothberg commented on #16252
You can :)  See commit 274d34a25a3e.

Thanks for pointing that out.  Definitely needs another change to the docs.

[2022-10-24 08:43] mancaus commented on #15190
FYI, this, along with #15338 look like barriers to using devcontainers hosted in `\\wsl$` from VS Code.

VS Code executes docker commands within WSL itself when they are contained within the wsl filesystem. This works in Docker Desktop, which makes `docker.sock` available in installed WSL distributions.

The other option is to configure VS Code to run the docker commands in the podman distribution

[2022-10-24 08:50] vrothberg commented on #16245
Yes, I am mostly afraid of relying on undocumented behavior and a probably unintended use case.

Metadata (e.g., labels) is stored in libpod's DB which will be nuked in the described use case.  There is "works" and "works as intended" and I think we should be on the latter side.

If the volume data would be stored in `--volumepath`, we wouldn't run into this issue.  Not sure about the impacts thou

[2022-10-24 09:15] alexlarsson commented on #16245
Here is the WIP code to use this:
  https://gitlab.com/CentOS/automotive/sample-images/-/merge_requests/160
With this containers-transient-store rpm:
  https://gitlab.com/CentOS/automotive/rpms/containers-transient-store
That just adds a tmpfs .mount unit on top of /var/lib/containers/storage

[2022-10-24 10:14] ygalblum opened #16271 "Play remote system tests do not test proper failure in unsupported cases"
/kind bug

**Description**
Some features, e.g. `podman play --build`, are only supported locally and therefore block the user from using them with podman-remote. However, the system tests skip the relevant tests instead of verifying that the requests properly fail (see https://github.com/containers/podman/blob/main/test/system/700-play.bats#L243)

**Steps to reproduce the issue:**
Run the system t

[2022-10-24 10:55] vrothberg commented on #16271
Thanks for filing the issue, @ygalblum !

[2022-10-24 11:01] mheon commented on #16266
That is `podman version` not `podman info`

[2022-10-24 11:06] edsantiago commented on #16246
There is no mechanism (push nor pull) for me to know of Fedora gating-test results, so I can neither monitor them nor save logs. I'm sorry, I have no idea what the history of this flake is. Since @vrothberg _just_ fixed it a week ago in `main`, I think the important consideration is that the fix in #16118 may not be sufficient.

[2022-10-24 11:13] mheon commented on #16230
@ashley-cui PTAL

[2022-10-24 11:18] #15858 closed

[2022-10-24 11:35] rhatdan commented on #15983
@reavessm you got it.

[2022-10-24 11:49] edsantiago opened #16272 "Netavark: userns: nc: bad address 'nc-server.dns.podman'"
In podman int tests:
[code]
Probably a race condition in test setup. Rare, but still triggering.

### Podman run networking [It] podman Netavark network works across user ns
* fedora-36 : int podman fedora-36 root container
  * PR #15131
    * [09-20-2022 17:14](https://api.cirrus-ci.com/v1/artifact/task/5063465407610880/html/int-podman-fedora-36-root-container.log.html#t--podman-Netavark-network-

[2022-10-24 11:55] Qix- commented on #15585
Was experiencing this as recently as 4.3.0-rc1. Can confirm that upgrading to 4.3.0 fixed this for me on MacOS. Thanks for the fix!

[2022-10-24 12:06] Luap99 commented on #16272
I think this is the same as https://github.com/containers/podman/issues/14173,
the dns tests never fails alone which means that some condition is causing aardvark to fail and keep it from working again.
We reworked the start-up so it should be better now? Do we know the netavark/aardvark version from the tests?

[2022-10-24 12:19] Luap99 commented on #16272
Thanks, we keep aardvark and netavark in sync so it should be the same. Using netavark/aardvark v1.2 might fix this but honestly I don't know since the underlying cause is unknown.

[2022-10-24 12:32] #16248 closed

[2022-10-24 13:01] Luap99 commented on #16262
What MacOS and qemu versions are you using?
@baude @ashley-cui PTAL

[2022-10-24 13:04] Luap99 commented on #16269
Is this new with v4.3, did it work before?

[2022-10-24 13:08] MartinX3 commented on #16269
[The podman kube play command now supports Kubernetes secrets using Podman's secrets backend.](https://github.com/containers/podman/releases/tag/v4.3.0)

[2022-10-24 13:41] ashley-cui commented on #16267
Looks like an SSH key generation issue, do you know if you're using a standard SSH on your machine?

[2022-10-24 13:43] cdoern commented on #16263
is this on rc1 or on the final release? ssh was broken on rc1

[2022-10-24 13:45] mozartilize commented on #16266
@mheon my bad

<details>
  <summary>Click here</summary>

[code]
</details>

[2022-10-24 13:48] AntonOks commented on #16265
@mheon  @n1hility

thanks for sharing...

How can I set a "custom install dir" with the current EXE?
If I run the EXE with ```/install /quiet /norestart /DIR=C:\Temp\Podman2 /log C:\Temp\podman.log'```, I see the below infos in the (install) log:
[code]

[2022-10-24 13:50] cdoern commented on #16263
@MartinX3 is it possible for you to remove and recreate the connection? I have a sneaking suspicion this will fix it.

[2022-10-24 13:51] MartinX3 commented on #16263
I created it after installing 4.3.0 and already removed it to recreate it.
But I can try it again after I finish my job today.

[2022-10-24 13:53] cdoern commented on #16263
In the meantime I will take a look into what could be going on. Any quirks of the system you are running on/creating the connection with I should know about? key type... weird OS... etc ?

[2022-10-24 13:57] arixmkii commented on #13006
9pfs series of patches was resubmitted for latest qemu. Here is the screenshot accessing host FS from container (for now R/O mode only). Also, for now I had to modify config JSON directly to make it work.

![Screenshot_20221024_164811](https://user-images.githubusercontent.com/36887373/197541554-a3cc0a46-87aa-4c67-a69c-990125312a9c.png)

Another update is that unix socket netdev support passed the

[2022-10-24 13:58] MartinX3 commented on #16263
Thank you

I use this weird Arch Linux everyone is talking about.
My key is `ed25519`.
I use `openssh 9.1p1` with its ssh-agent.

It works using `ssh` into a server or using git.

[2022-10-24 14:01] rhatdan commented on #15819
@usernameisnull @mheon @afbjorklund What should we do with this one?

[2022-10-24 14:02] rhatdan commented on #15387
@flouthoc any movement on this one?

[2022-10-24 14:07] rhatdan commented on #16256
@DCsunset Could you test against the main branch

[2022-10-24 14:13] ashley-cui commented on #16262
This looks like a Rosettta issue. Please make sure you are not using Rosetta with your Homebrew install.

[2022-10-24 14:14] edsantiago opened #16277 "stop podman.service: unable to connect to podman socket: dial tcp ECONNREFUSED"
Been happening for a while, but [this](https://api.cirrus-ci.com/v1/artifact/task/6125749451620352/html/int-podman-fedora-36-root-container.log.html#t--stop-podman-service--1) is the first time I see it happen without the `fd` flake:
[code]
This seems to be a one-off flake: the kind that passes when ginkgo retries. But it seems to have a really odd pattern, a correlation with #15943 (the `fd` flak

[2022-10-24 14:23] ashley-cui commented on #16269
Do you have an example of the kube secret yaml and kube secret you're using with it? You can redact the sensitive information, but it's hard to reproduce if I don't know your kube yamls.

[2022-10-24 14:32] MartinX3 commented on #16263
[code]

Same issue :(

[2022-10-24 14:40] ashley-cui commented on #16269
Oh sorry, I missed it on the first read-through.

I think this might be the broken env secrets issue that we've had from before @cdoern's work on the current play kube secrets. (Remember the required json env secrets that was implemented by a community member?) I'm not 100% sure though, maybe @cdoern can confirm? I think this has been broken since before 4.3.

[2022-10-24 14:45] edsantiago commented on #16076
Reopening: [this is still happening](https://api.cirrus-ci.com/v1/artifact/task/5764449016479744/html/sys-podman-fedora-36-rootless-host.log.html) (and yes, I confirmed that the PR in question is forked from a `main` that includes #16118).

[2022-10-24 14:47] vrothberg commented on #16076
Can we close https://github.com/containers/podman/issues/16246 as a duplicate, or is there a need to track it separately?

[2022-10-24 14:48] edsantiago commented on #16076
Seen also in [fedora gating tests](https://artifacts.dev.testing-farm.io/bececdc4-9adf-4e74-ae83-56fbd52f24db/work-tests.ymlXe1Zth/tests-BAqFjn/test.podman-root-cgroupsv2.bats.log).

[2022-10-24 14:49] edsantiago commented on #16246
Closing as dup of #16076.

[2022-10-24 14:49] #16246 closed

[2022-10-24 14:58] Coachonko opened #16279 "podman logs doesn't work (related to #15159?)"
I am experiencing this issue on Podman 4.1.1, the system is running RHEL 9.

I run the containers as root

[code]
[code]

I looked at #15159, that person who opened that issue seems to have had a ppermissions issue with the podman user, but on my system the /etc/shadow does not contain any podman user.

Is there a known issue or solution about this?

[2022-10-24 15:44] #16204 closed

[2022-10-24 15:54] arlyon commented on #8421
It is not clear to me why this issue was closed. Is it because there it is 'impossible' or because podman does not intend to support it?

[2022-10-24 16:18] adrianreber commented on #8421
It depends on CRIU having support for checkpointing as non-root (https://github.com/checkpoint-restore/criu/pull/1930) and then runc/crun need to support it. So it is a long way until Podman can theoretically support it.

[2022-10-24 16:40] Luap99 commented on #16279
Can you please fill out the issue template as requested and provide a simpler reproducer which does not depend on that specific image. (I don't know what percona is nor do I have the defined volumes).

Also note that we (upstream) only provide support for the latest versions so please make sure to test with the latest version. If you have problems with the version in RHEL it is best to reach out t

[2022-10-24 16:41] n1hility commented on #16265
Hey @AntonOks the install folder is currently not configurable/overridable. I can patch this for the next release. Will link the PR

[2022-10-24 18:12] mheon commented on #15819
Keep it open until my blog comes out. Probably next week?

[2022-10-24 18:36] soft4rchitecture commented on #16267
running `ssh -V`yields:
OpenSSH_8.6p1, LibreSSL 3.3.6

[2022-10-24 18:46] soft4rchitecture commented on #16267
Now it works, so, something went wrong with the fact that the ssh key pair having the same name was already in $HOME/.ssh
Does that mean anything to you ? Is that ok by you ? I mean, probably it should erase that keypair shouldn't it ? I mean, it's like a reserved name for the keypair?
How do you approach this question??
Thanks

[2022-10-24 19:15] debarshiray opened #16280 "Bash is not reading ~/.bashrc when run as a non-login shell"
/kind bug

**Description**

Due to https://github.com/containers/toolbox/issues/1076, I am trying to figure out how `PATH` gets set for processes invoked inside a Podman container.  I cannot understand why invoking `bash` (as a non-login shell) doesn't read the start-up files in `$HOME`, but invoking `bash --login` does.

While it's true that Bash is expected to read a different set of files depen

[2022-10-24 19:39] Luap99 commented on #16280
From the bash man page:

       ~/.bashrc.

Using `-c` means it is not interactive and thus does not read ~/.bashrc. At least this is how I interpret it.

[2022-10-24 19:39] #16280 closed

[2022-10-24 19:47] debarshiray commented on #16280
Yes, you are right, I overlooked this part in the Bash manual:
[code]

[2022-10-24 19:53] debarshiray commented on #16280
My apologies, I should have been clearer.  I didn't mean to say that it was definitely a Podman bug.

I was just trying to understand the exact sequence of steps on the way to a process getting invoked inside a container.  From Bash's built-in defaults, to systemd, to GDM, to Podman's built-in defaults and the OCI image's built-in defaults, there seems to be an impressive number of places where `P

[2022-10-24 20:32] marwatk opened #16281 "podman build --mount=bind can't access contents of previous stage when stage is cached"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build` with a `RUN --mount=type=bind` to a previous stage can't access contents of previous stage if stage is cached. Using `buildah` directly works fine (or I would have reported there)

**Steps to reproduce the issue:**
Using this `Dockerfile`:
[code]

1. `podman build --build-arg N

[2022-10-24 21:29] dancohen21 commented on #15508
@rhatdan @baude
Just installed 4.3.0 on windows [with WSL]
my laptop has a "c" drive and a "d" drive
I'm trying to copy a file from my "d" drive to my container "se92"

this command works.  It runs from the context of the podman-machine-default.
wsl -d podman-machine-default -u user enterns podman cp /mnt/d/2022_Projects/CCCC/1861_symapi_db_20221021.bin se92:/root/

this command is not working.  r

[2022-10-24 22:55] #16180 closed

[2022-10-24 22:58] cdoern opened #16282 "using cached config breaks --connection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The changes introduced in https://github.com/containers/podman/pull/16238 seem to break --connection, which now when used always results in `Error: failed to resolve active destination: "fedora" service destination not found` due to the blank config that is returned from https://github.com/vr

[2022-10-24 22:59] cdoern commented on #16282
I can mock up a fix for this or maybe I am doing something wrong but on my machine this completely breaks any usage of --connection

[2022-10-24 23:18] CCranney commented on #16262
MacOS: macOS Monterey 12.5 with an M1 Max chip.
qemu: 7.1.0

Near as I can tell I do use Rosetta in my Homebrew install. I'm not sure exactly which website I used to do that setup when I first got this computer, but it's akin to the instructions found [here](https://hackernoon.com/apple-m1-chip-how-to-install-homebrew-using-rosetta-su12331b). I installed podman using my duplicate `Rosetta-Terminal

[2022-10-25 05:17] mupuf commented on #15878
While I agree with the general direction of this issue, this broke my use case... but it doesn't have to :)

The problem with this change is that on top of blocking access to virtual terminals (what Lennart Poettering called madness), you also prevent access to serial consoles: ttyACM/ttyUSB... And I need access to them even in systemd mode.

So, the solution would be to only block /dev/tty\d+.

[2022-10-25 08:00] Coachonko commented on #16279
I have found out the problem was not a bug. It was caused by another completely unrelated process flooding the systemd logs, whenever podman would request access to the log file it would have been rotated before it could be accessed, causing the error.

[2022-10-25 08:00] #16279 closed

[2022-10-25 08:52] vrothberg commented on #16282
Thanks for opening the issue, @cdoern.

The following diff fixes the issue on my machine:
[code]

@cdoern would you open a PR to fix it along with tests?  CI should have failed IMO.

[2022-10-25 11:35] cdoern commented on #16282
Sure will open today!

[2022-10-25 11:45] grzs opened #16285 "Rootless `podman pod create --cgroup-parent` has no effect after update"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Debian 10 machines we used to create pods with `--cgroup-parent` option and it worked as expected. After upgraded podman to version 3.4.2 the cgroups are not created anymore. The test.slice is created by systemd and mounted. Even the previously created pods are working normally according t

[2022-10-25 12:06] fbricon commented on #13165
I'm having the same issue on MacOS 12.5.1 (Intel). Uninstalled / reinstalled via homebrew

[code]

I'm completely stuck here

[2022-10-25 12:15] fbricon commented on #13165
turns out I had to delete the parent folders of */podman
[code]

[2022-10-25 12:37] vrothberg commented on #16076
Reopening as I don't expect https://github.com/containers/podman/pull/16284 to fix the underlying issue.  It may help to resolve the timeout but should fail.

[2022-10-25 12:44] baude commented on #13165
you might have been able to get away with removing the machine `podman machine rm <name>` and then using `podman system connection` to prune leftovers.   my thinking is that an identity with the same name was somehow left behind and as such, it cannot be overwritten.

[2022-10-25 13:02] Luap99 commented on #16285
We only support the latest versions upstream, please try with v4.3 or v4.2 at least.

[2022-10-25 13:07] Icephale commented on #13200
Also using podman based on upstream version 3.4.4, on Ubuntu 22.04, I ran into this problem too.
I suspect this is related to mismatch between packaged versions of podman and conmon.
On Ubuntu 22.04, conmon is based on upstream 2.0.25 which seems not to alter SYSLOG_IDENTIFIER according to tag property.
Just tried with a naive patch to confirm this is not a problem with podman 3.4.4 as modifying c

[2022-10-25 13:29] grzs commented on #16285
Thank you for the swift comment. Does it mean that I should close this issue?
Unfortunately, for Debian 10 v3.4.2 is the latest, as far as I know. We have to maintain few of these machines for several months, so I have to find a solution.

[2022-10-25 13:55] #16285 closed

[2022-10-25 13:55] rhatdan commented on #16285
Since this is fixed in upstream closing.

[2022-10-25 14:04] virtualized opened #16288 "syslog priority not preserved"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

journald log driver does not persist syslog priority

**Steps to reproduce the issue:**

1. run container with --log-driver=journald producing log output with syslog prio > 3

**Describe the results you received:**

container host journalctl log output is priority=3

**Describe the results yo

[2022-10-25 14:32] Luap99 commented on #16288
The log driver logs the containers process STDOUT/ERR. So the journald driver has no way of knowing what priority is used. Therefore it assumes 6 (info) for STDOUT and 3 (error) for STDERR.

[2022-10-25 14:34] grzs commented on #16285
OK, thanks

[2022-10-25 14:36] edsantiago opened #16289 "network create test: rootless: bind: address already in use"
Seen twice in the last two weeks:
[code]
### [sys] 362 podman network create
* fedora-36 : sys podman fedora-36 rootless host
  * PR #16191
    * [10-24 07:48](https://api.cirrus-ci.com/v1/artifact/task/5021328808869888/html/sys-podman-fedora-36-rootless-host.log.html#t--00362)
* fedora-36 : sys remote fedora-36 rootless host [remote]
  * PR #16188
    * [10-15 06:12](https://api.cirrus-ci.com/v1/

[2022-10-25 14:36] MartinX3 commented on #16252
@vrothberg thanks for the docs update
I just miss the alternative to `--new`.

https://docs.podman.io/en/latest/markdown/podman-generate-systemd.1.html
There is the `podman-kube@.service systemd template` mentioned, but not how to use it.

After searching in the internet I found
https://github.com/containers/podman/blob/main/RELEASE_NOTES.md
`systemctl --user start podman-play-kube@$(systemd-escap

[2022-10-25 16:01] marwatk commented on #16281
Nevermind, it _is_ a buildah bug, I just didn't realize buildah doesn't cache by default so my repro steps weren't hitting it.

I'll reopen this over there.

[2022-10-25 16:01] #16281 closed

[2022-10-25 16:15] debarshiray commented on #13817
It's terrific that you got it to work.  Well done!

I just wanted to close the loop here:

Toolbx uses `--ipc host` to make Qt applications work without the `QT_X11_NO_MITSHM` environment variable.  See: https://github.com/containers/toolbox/issues/163

[2022-10-25 16:17] edsantiago commented on #10927
[Yes](https://cirrus-ci.com/task/5737254827065344?logs=journal#L0).

Instructions for reference:
* Click the link to annotated logs
  * Press `Home` key to go to top
    * Click the **Task** link, this takes you to Cirrus
      * Click the red accordion, to hide the error log, it's useless here
        * Scroll down a little, to **Run journal**, click that. It's an accordion, will expand.

Good lu

[2022-10-25 17:14] Luap99 commented on #16289
The test using a fixed port but I don't understand why?
https://github.com/containers/podman/blob/589ff20aa3dd68009af5fade3b2b5e1823d4227b/test/system/500-networking.bats#L208-L209
54322 is in the dynamic range, therefore any process with external connections could take it. IMO it has to use $(random_free_port) as well.
The linked issue (https://github.com/containers/podman/issues/10806) has nothi

[2022-10-25 17:35] Luap99 commented on #10927
Yeah I already got that and looked at full log. It is hard to parse because tests run in parallel and podman exec unlike podman run does not log the output in the journal + we do not have to container id for the exec session that we would find in the logs.

[2022-10-25 17:36] edsantiago commented on #16289
Yeah... I don't get the reference either. I vividly remember wasting a **LOT** of time with this test and with that hang bug, it was in the context of gating, not CI. But I don't remember the connection between the two, and can't figure it out from the discussion. However:

Not any dynamic range that should be in play during CI. `random_free_port()` defaults to `5000-5999` (5k, not 50k). I can fin

[2022-10-25 17:40] Luap99 commented on #16289
`cat /proc/sys/net/ipv4/ip_local_port_range` every port inside this range can be taken by any process which will bind port 0, clients usually. That could be anything which creates outgoing tcp connections.

[2022-10-25 17:43] cdoern commented on #16282
@vrothberg even with this patch, my --connection is not honored. On my machine running bin/podman-remote --connection=home --log-level=debug info uses my podman machine connection each time... any ideas why this would be happening?

[2022-10-25 17:48] DCsunset commented on #16256
Yeah I think the main branch works without problem! I tried multiple times and the results were stable. Should I close this issue?

[2022-10-25 17:57] rhatdan commented on #16256
Thanks I will close.

[2022-10-25 17:57] #16256 closed

[2022-10-25 18:16] ashley-cui commented on #16262
Using Rosetta with Podman will not work on M1.

[2022-10-25 18:52] anarcat commented on #5114
you know, this would be a *great* addition to that error message :p

[2022-10-25 19:58] edsantiago opened #16294 ""open /etc in the container" is now a flake"
This is alarming. The "podman run --uidmap" => "open /etc" bug is now a flake:
[code]
Background: this is #15698 and #15977, the bugs in which if you run podman with the wrong `--storage-opt` you forevermore lose the ability to run with `--uidmap`. That was at least comprehensible, even if not (IMO) forgivable. But this one here is a flake: it passed on rerun. That's not comprehensible.

Only one

[2022-10-25 20:15] mtrmac commented on #16294
It didn’t reoccur in https://github.com/containers/podman/pull/16253 after a rebase — which only says that this is not consistently broken; it might be a _somewhat low-frequency_ flake, the worst kind.

It’s quite possible I broke something when changing the c/storage locking code.

I’ll spin up a VM and I’ll see if I can reproduce this in a debugging environment, hopefully sometime this week. (It

[2022-10-25 20:20] edsantiago commented on #16294
I will log every instance I see, but this one (the link above) is the first instance that made it to my logs.

Context: my logs do not include your PR yesterday, because "passed on rebase" is not a flake: the only thing I consider a flake is "job failed, then passed, without any changes to the code itself".

[2022-10-25 20:24] anarcat commented on #5114
well i can't figure out how to fork this repo. somehow github tells me it's already forked, but https://github.com/anarcat/podman is a 404. go figure.

maybe this patch would do it, anyways:

[code]

[2022-10-25 20:51] rclar802 commented on #14287
Do we know when Podman v4.2 will be available?