[2022-02-24 15:22] giuseppe commented on #13324
you could override the `--entrypoint` or just force `--systemd=always`.  I don't think we should try to detect the `sh -c /usr/lib/systemd/systemd` case

[2022-02-24 15:23] vrothberg commented on #13324
I concur. We cannot/should not rely on shells to behave like that consistently.

[2022-02-24 15:36] arctic-alpaca opened #13340 "Image search filter `stars` only matches on "equal" not on "equal or greater" anymore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The `stars` filter seems to only match exact stars, not equal or greater stars. I think this changed from 3.4.4 to 4.0.
Searching for an exact number of stars doesn't seem really useful as you probably just want a lower limit.

**Steps to reproduce the issue:**

1. `podman image search -f=is-o

[2022-02-24 15:47] edsantiago commented on #12624
### podman system service verify pprof endpoints [It] are available
* fedora-34 : int podman fedora-34 rootless host
  * PR #13255
    * [02-17 13:24](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6225309799284736/html/int-podman-fedora-34-rootless-host.log.html#t--are-available--1)
    * [02-17 13:24](https://storage.googleapis.com/cirrus-ci-67077785

[2022-02-24 15:50] Aryanrt commented on #7387
This works. Thanks!

[2022-02-24 16:01] bicca23 opened #13341 "send signal to pidfd: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
We use AWS SSM to run/restart podman container. This execution is done using root account. The first time shell script is executed, podman containers are started properly. Next time, when we send AWS SSM command to restart containers (podman stop, podman rm, podman run) we get issue with podma

[2022-02-24 16:28] mheon commented on #13341
Why are you using separate `podman stop` and `podman rm` commands? `podman rm -af` should suffice to get rid of every container on the system, running or not running, in a single command.

[2022-02-24 16:35] mheon commented on #13338
I strongly suspect that `su` is not setting environment variables appropriately and as such we don't know what the actual runtime directory of the user is. I think `su --login` may help?

[2022-02-24 16:56] bicca23 commented on #13341
I didn't paste full command:
[code]

Also, same shell script is used for docker which doesn't seem to support -a for rm

[2022-02-24 17:10] bicca23 commented on #13341
Even using one command triggered issue:
[code]

[2022-02-24 17:57] heapifyman commented on #11874
@brnosouza I don't think so. I just copy pasted the Dockerfile and docker-compose.yml content from @WhyNotHugo and ran `docker-compose up`.

I am using Manjaro Linux. I have installed packages:

* podman
* podman-dnsname
* podman-docker
* docker-compose

from official Manjaro / Arch community repository.

In addition, I have the following in `~/.config/containers/registries.conf̀`:

[code]

And th

[2022-02-24 18:33] arctic-alpaca opened #13342 "API: Reference of `NetworkConnectLibpod` lists `static_ips` and `static_mac` as wrong types"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In the API reference for [`NetworkConnectLibpod`](https://docs.podman.io/en/latest/_static/api.html?version=v4.0#operation/NetworkConnectLibpod), `static_ips` is listed as `Array of Array of integers` but it actually is `Array of strings`. `static_mac` is listed as `Array of integers` but ins

[2022-02-24 20:59] #12761 closed

[2022-02-24 21:02] omajid commented on #12761
Thanks!

[2022-02-24 21:33] Robert-J-Slover commented on #12132
@baude, I see your question above:

I have a colleague who experienced this issue today and verifies that he accidentally put his MacBook to sleep when he went to lunch, instead of locking the screen. I don't believe he's otherwise seen this issue.

[2022-02-25 00:51] susanatgit commented on #13319
@Luap99 , it work as expected after remove the route and gateway in cni file. thanks.

[2022-02-25 01:48] benridley commented on #13302
@Korijn I've created a repo/CI pipeline for building the latest versions of podman, conmon, runc and cni-plugins as .deb packages. You can find them here: https://gitlab.com/benridley/podman-deb/-/packages.

Just note they are mostly for my own use, so no guarantees about the quality of the packages etc. If you have any issues with them let me know, I've tested then with Debian bullseye successful

[2022-02-25 03:14] fantastic2085 opened #13345 "Podman ps error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Start a Registry using Podman, and after openstack is deployed on the same host as Podman, the Podman ps command displays an error

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**
An error is returned after executing the podman ps command
![image](https://

[2022-02-25 07:51] flouthoc commented on #13319
If CLI validation is removed from `podman` for `--internal` and `macvlan` following PR enables this feature: https://github.com/containers/netavark/pull/246

[2022-02-25 08:30] vrothberg commented on #12761
https://github.com/containers/common/pull/939 merged. The fix will make it into Podman 4.1.

[2022-02-25 08:34] 0pq76r opened #13346 "play kube with symlinked working directory in container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
```podman play kube``` cannot create a container in the pod if the container's working directory is a symlink.

**Steps to reproduce the issue:**

1.
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

The container should be started as if running:
[

[2022-02-25 09:02] adoyle-h opened #13347 "unable to start container: could not find "rootlessport" with podman 4.0.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

unable to start container: could not find "rootlessport" file.

**Steps to reproduce the issue:**

1. Install podman via `apt install podman=4.0.1+ds1-1` which from the experimental release: https://packages.debian.org/experimental/podman

2. `podman run --restart=always --name nginx -p 80:80

[2022-02-25 09:40] Luap99 commented on #13347
This is a debian bug, rootlessport needs to be installed for rootless port forwarding since 4.0 (`make rootlessport`)
cc @siretart

[2022-02-25 09:40] #13347 closed

[2022-02-25 10:17] Luap99 commented on #13345
Please provide the information as requested in the issue template.

[2022-02-25 10:56] srcshelton commented on #13327
I don't think it's load-related - I just got this on an 8GB Raspberry Pi:

[code]

[2022-02-25 11:01] Luap99 commented on #13327
Does it work with a higher timeout?

[2022-02-25 11:02] srcshelton commented on #13327
The version with the 30s timeout is on the Skylake system and looks okay so far - I'm just building it for the smaller systems to see whether it's effective there...

[2022-02-25 11:05] Luap99 commented on #13327
OK I just looked in the podman source and there we wait for a maximum of 4 minutes. So I guess when we bump it in buildah to match this it should be fine.

[2022-02-25 11:12] fjorgemota opened #13349 "No Podman 4 binaries attached to Github releases or available on Kubic repositories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

There are no binaries or packages available to use/test Podman 4. Podman Remote isn't available anymore on [Github Releases page](https://github.com/containers/podman/releases), for instance, neither from the [Kubic project](https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/podman).

*

[2022-02-25 12:12] Luap99 commented on #13349
Duplicate of #13298
For kubic see https://github.com/containers/podman/issues/13302

[2022-02-25 12:12] #13349 closed

[2022-02-25 13:10] Luap99 commented on #13342
@jwhonce Do you know how I can overwrite the swagger type of a struct field?
Looking at https://github.com/containers/common/blob/main/libnetwork/types/network.go I used `swagger:strfmt` to convert the type to a string for ip and mac addresses.

Here https://github.com/containers/common/blob/e720b5cf39f50af623bfb923bba519ae2648705a/libnetwork/types/network.go#L202 I need a string array as type. I

[2022-02-25 13:18] fpoirotte opened #13350 "RPM packages for CentOS 8 Stream"
/kind question

**Description**

I apology in advance if this is the wrong place to ask.
I am aware of the work done by @lsm5 in https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman4/ (thanks again for that!) but that repository only targets CentOS 9 Stream & Fedora 35.
Are there any plans to make podman 4 available for CentOS 8 Stream in an official repository? (or close to an official o

[2022-02-25 13:47] Luap99 commented on #13319
Note that this is not safe when you run a privileged container since it can always add the default route back. For bridge networks we block routing so this secure even for privileged containers. I don't think we can do the same for macvlan, we should not change the host macvlan device to block routing because this could break many other things.

[2022-02-25 14:00] dcermak commented on #13324
Certainly, I stated that in the bugreport. But I would still consider it a great quality of life improvement if podman would do the right thing in this case, as I guess that most shells will behave so that systemd would still work.

[2022-02-25 14:42] jensrudolf commented on #12771
Hi, is there any chance, this fix is going to be backported to 3.4.2-rhel? This is a major breakage for us on rhel 8.5.

[2022-02-25 14:46] alanfx opened #13351 "podman machine init is failing to download VM image on MI MacOS machine with error - file too large"
/kind bug

**Description**

Running `podman machine init` fails while downloading the VM image with the following error on MacOS on an M1 MacBook Air:

[code]

This is not a disk space issue. The machine has 500GB of free space.

**Steps to reproduce the issue:**

1. Execute `podman machine stop` and `podman machine rm` if you have an existing podman install that works

2. Execute `podman machine

[2022-02-25 14:47] vrothberg commented on #12771
The fixes will make it into RHEL 8.6 and according to https://bugzilla.redhat.com/show_bug.cgi?id=2055313 there is fair chance also to 8.5.

Note that RHEL-related questions should go through the Red Hat channels (e.g., Bugzilla).  This will make sure that the issues receive the right priority and attention.

[2022-02-25 14:48] baude commented on #13351
how much ram do you have?

[2022-02-25 14:54] baude commented on #13351
any chance this might be it? -> https://stackoverflow.com/questions/64826396/macos-big-sur-error-installing-puppeteer-with-efbig-file-too-large-write

[2022-02-25 15:47] mlegenovic commented on #13350
http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/Packages/

[2022-02-25 16:10] bprimekey opened #13352 "Podman loglevel when using HTTP to spawn execs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature request

**Description**

We are using the podman api to spawn container execs, but apparently the log-level is not propagated to the exec instance.
We are trying to control logging output for this scenario, but couldn't find any information about it in the codebase or documentation. Is this supported? Is

[2022-02-25 16:22] thrix commented on #13227
@mheon @edsantiago so I found a minimal reproducer. But I cannot hit the same problem on my localhost, just on our `i3.2xlarge` AWS workers (I can give you access for debugging).

With these commands I have no problems to hit the issue always (randomly on the last `podman exec`:

[code]

[2022-02-25 18:38] djarbz commented on #13338
You can pretty much ignore the actual UID, every time I reboot I create a new user to test with when I need to start from scratch. For what matters, the UID does match for the appropriate user.

What is the recommended way to try with those versions? I see the source code is available, but is there a location for prebuilt binaries that I can download?

[2022-02-25 19:07] rhatdan commented on #13324
I can go back to the original version of this patch which looked specifically for ["/bin/sh", "-c", "PATHTO/systemd"] since this is almost certainly the case where podman added the /bin/sh -c.

sh -c "command" I would think always execs the command within the same PID as the shell.

[2022-02-25 19:13] #13319 closed

[2022-02-25 19:35] fpoirotte commented on #13350
Yeah... except I'm not really sure what version this actually is because the package was built in October 2021, but podman 4 wasn't actually released until this month!
So it seems a bit fishy even though it's part of the official repositories.

[2022-02-25 20:24] mheon commented on #13350
Podman v4.0 is scheduled for RHEL 8.6.0, so I presume it should be filtering into Cent Stream 8 in advance of that.

[2022-02-25 21:11] r3h0 commented on #12637
@giuseppe, FWIW that's the default in the latest stable podman image, `quay.io/podman/stable:v3.4.4`.

podman:1:999
podman:1001:64535
[podman@podman /]$ cat /etc/subgid
podman:1:999
podman:1001:64535

[2022-02-25 23:04] mattouille opened #13354 "podman machine cannot bind to port on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman machine is unable to bind to any port on MacOS

**Steps to reproduce the issue:**

1. `podman machine init`

2. `podman machine start`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Podman machine starts and binds to the port.

**Additional inf

[2022-02-25 23:07] mattouille commented on #13354
A little more info, it looks like this thing is what's holding the port:

[code]

[2022-02-25 23:11] mattouille commented on #13354
I was able to successfully kill it with `lsof -t -i tcp:7777 | xargs kill`. While my issue is fixed, this seems like an issue.

[2022-02-26 00:09] siretart commented on #13347
fixed in Version 4.0.1+ds1-2, thanks for pointing this out!

[2022-02-26 00:15] muayyad-alsadi commented on #13267
related

https://github.com/containers/podman/issues/12646

[2022-02-26 03:44] baude commented on #13354
I would suspect a zombied process of gvproxy was already running.

[2022-02-26 03:45] baude commented on #13354
im guessing after you got it working, you didnt see it again? if that isnt the case, you need to give us a better reproducer.

[2022-02-26 04:36] zenodotus280 commented on #5906
I just experienced this in v 3.01. Running a Debian 11 VM on Proxmox 7.01.

The solution was still:

[2022-02-26 08:20] afbjorklund commented on #13302
It looks like Ubuntu 22.04 LTS will ship with Podman 3.4, just like Ubuntu 21.04 provided Podman 3.0.

[2022-02-26 08:55] afbjorklund commented on #11494
Could modify the "k8s" example for lima to use podman and cri-o, instead of nerdctl and containerd (like today).

https://github.com/lima-vm/lima/blob/master/examples/k8s.yaml

Or one _could_ just use the "podman" example, and add `kubeadm` (and CRI and CNI) to it... With CRI-O from [Kubic](https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers:stable).

https://github.com/lima-v

[2022-02-26 09:26] gbraad commented on #11494
A lot of the SNO work come out of CRC's initial experiments, however we are currently investigating if ostree layers would be able to pull the necessities in

yep. 9GB minimum for CRC's setup
An intermediate step would be to look at microshift.

[2022-02-26 09:41] judokan9 opened #13356 "Play Kube --log-opt causing panic"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman throwing an exception when run with `--log-opt tag="{{.ImageName}}"`

**Steps to reproduce the issue:**

1. Install Debian 11 (Raspberry Pi OS Lite 64Bit 28.01.2022), update the system with `testing` repos and add `experimental` repos

2. Install Podman with `sudo apt -t experimental i

[2022-02-26 10:14] Korijn commented on #13302
I'll see how much effort it is to maintain a PPA of my own and post back here later.

[2022-02-26 10:53] Romain-Geissler-1A opened #13358 "Implement a "best effort" bind mount feature that would work for remote clients"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The idea would be to implement a "best effort" bind mount feature that would work for remote clients. The goal is to be able to use "podman run -v /path/local/to/client/machine:/path/inside/container" and that on the local machine "/path/local/to/client/machine" acts as on "input/output"

[2022-02-26 11:10] Romain-Geissler-1A opened #13359 "Implement "podman build --output type=local,dest=path ." à la docker buildx"
/kind feature

**Description**

I find the "local ouput" feature of buildx quite useful and use it extensively for my "short builds" (typically creating some .rpm/.deb packages of some of our internal tools already delivered as tarballs). I use a dockerfile with multi stage builds, where the very final target is "scratch" as base image, and I copy into this image the "result" of my build. When cou

[2022-02-26 11:13] Romain-Geissler-1A commented on #13359
Actually I think I should have rather opened a buildah issue, and it seems a duplicate of this feature request: https://github.com/containers/buildah/issues/3789

[2022-02-26 13:38] keonchennl commented on #13261
May I work on this?

[2022-02-26 14:22] afbjorklund commented on #13350
I think that `4.0.0-0.10.module_el8.6.0+944+d413f95e` was some kind of packaging accident, built from 4.0.0-dev.

https://koji.mbox.centos.org/koji/buildinfo?buildID=19463

[2022-02-26 14:43] fjorgemota commented on #13298
I don't think so, but I think it honestly would help if this was clearly announced both on the release notes and on the README of the project, just to set expectations correctly. and avoid these sorts of issues being opened..

[2022-02-26 14:51] afbjorklund commented on #13298
I think static builds for `podman-remote` (client) were _supposed_ to be there, but not for `podman` (server).

[2022-02-26 15:06] fjorgemota commented on #13298
Nope, like @baude explained in a comment on [this same issue here](https://github.com/containers/podman/issues/13298#issuecomment-1046292593), podman-remote (the client) depends on the podman (server), and FCOS (Fedora CoreOS, the distro that's used on the virtual machine that podman-remote manages) wasn't updated yet to v4.0.

IMHO what could be released is the podman (server) versions for every

[2022-02-26 16:13] rhatdan commented on #13261
Yes @keonchennl I assigned it to you.

[2022-02-26 16:32] afbjorklund commented on #13298
I understand that it is some kind of weird side-track, but I did think that it was "released" as in "out there".

It (`v4.0.1`) seemed OK on Linux, downloaded fedora-coreos-35.20220225.dev.0-qemu.x86_64.qcow2.xz

[code]

Waiting for Podman Desktop 4.1.0 is probably best, if there is something else with these early builds.

[2022-02-26 17:19] DaveWK opened #13360 "Rootless podman in podman: "error from newuidmap: newuidmap: open of uid_map failed: Permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running rootless podman inside a container, I get the errors:
[code]

I have tried reinstalling `shadow-utils` as others have suggested, as well as messing with the perms on `/usr/bin/newgidmap`
neither has resolved the issue.

**Steps to reproduce the issue:**

1. Building this containe

[2022-02-26 18:27] afbjorklund commented on #13256
Found the issue with the patch, it wasn't renaming the file - which was an issue on darwin, but not on linux.

Fixed: https://github.com/afbjorklund/homebrew-core/blob/qemu-9p-darwin/Formula/qemu.rb

[code]

[2022-02-26 18:45] willcohen commented on #13256
Is this something I need to correct for v9?

[2022-02-26 18:57] afbjorklund commented on #13256
It was just how git creates patches, you need to use `git am` to apply them - simple GNU `patch` is not smart enough:

[code]

[code]

[2022-02-26 18:58] afbjorklund commented on #13256
Did get a build error with the latest version, not sure if I need to update something ?

[code]

[2022-02-26 19:34] Luap99 commented on #13354
This is fixed in podman v4.0 since it will no longer bind a port on the host at startup.

[2022-02-26 19:48] willcohen commented on #13256
Oh — quick first question. What version of macOS are you on?

[2022-02-26 20:41] afbjorklund commented on #13256
[code]

[2022-02-27 02:51] wubdub opened #13363 "Disk quota exceeded runtime error"
/kind bug

**Description**

When running a container, I sometimes encounter this error message:

[code]

I have tried a workaround of setting my containers.conf file to include:
[code]

I am stuck using version 2.2.1 for now due to issues upgrading the package and am wondering if this is a (1) known issue with this version (2) there are any other workarounds I could try (I am not even sure what a

[2022-02-27 07:06] idleroamer commented on #13150
PR here https://github.com/containers/podman/pull/13361/

[2022-02-27 08:09] afbjorklund commented on #13298
Tried rawhide, but it was still older.

`podman-4.0.0-0.6.rc4.fc37.x86_64`

[2022-02-27 08:14] afbjorklund commented on #13298
it is `podman machine` that manages CoreOS, `podman-remote` can talk to any OS

[2022-02-27 09:56] rhatdan commented on #13363
I have no idea, do you have some kind of quota turned on with this machine?

[2022-02-27 12:46] benyaminl commented on #6800
@alexcern by anychance, is the folder change in 3.3.4, or it's depend on the distro? because the folder changed to /tmp/podman-run-(uid)/

[2022-02-27 13:10] afbjorklund opened #13364 "Hello world image only available for amd64 ?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Looks like the new binary "Hello, World!" is not available for the arm64 architecture ?

**Steps to reproduce the issue:**

1. `podman run quay.io/podman/hello`

2.

3.

**Describe the results you received:**

`Error: quay.io/podman/hello:latest: image not known`

**Describe the results you e

[2022-02-27 13:12] afbjorklund commented on #13364
cc @TomSweeneyRedHat

* #13079

The shell version might have been more portable (but still needed two images, anyway)

[2022-02-27 14:07] AlphaJack opened #13365 "Systemd units for networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

While systemd units allow for full portability of pods and containers to another system, when pods are run with `--network`, the specified network must exist first, otherwise it is not possible to start the pod unit.
Is it possible to export network configurations as systemd units so they

[2022-02-27 16:05] ttys3 commented on #13081
thank you @haircommander  for replying this issue

yes, the usage case is the [nomad-driver-podman](https://github.com/hashicorp/nomad-driver-podman)

And, this strange problem, took me a rather **long** time to find the real reason -_-

for  the `nomad-driver-podman` issue, I've written a monkey patch to resolve the `conmon` wait a named pipe forever problem:
https://github.com/ttys3/nomad-driver

[2022-02-27 18:18] willcohen commented on #13256
Does it work if you replace it with `-EOPNOTSUPP` rather than `-ENOTSUPP`? I suspect that upstream will still want an error message rather than -1.

[2022-02-27 18:31] willcohen commented on #13256
Ah. It's a typo on master versus a patch version. It is supposed to be `-ENOTSUP`! Will fix when I submit v9.

[2022-02-27 18:51] aramsamy commented on #7747
I am using podman version 3.0.1 on debian11 getting below error when i try to use it on jenkins,

sudo podman run --rm --log-level debug --privileged docker.io/multiarch/qemu-user-static --reset -p yes
time="2022-02-27T18:25:21Z" level=info msg="podman filtering at log level debug"
time="2022-02-27T18:25:21Z" level=debug msg="Called run.PersistentPreRunE(podman run --rm --log-level debug --privile

[2022-02-27 20:29] afbjorklund commented on #13364
Rebuilding the image works fine, so it's more an issue of making it multi-arch (amd64 and arm64) on quay.io.

https://github.com/containers/podman/tarball/main/contrib/helloimage

[2022-02-27 21:47] wubdub commented on #13363
@rhatdan not to my knowledge, what would be the relevant configuration to check?

[2022-02-27 21:54] QuarkTheAwesome commented on #12339
No longer having this issue on the latest Fedora packages.

[2022-02-27 23:01] baude commented on #13256
@willcohen was test driving the  patch today ... can qemu do anything for us to help with the difference on uid/guid between the mac and the linux vm where the mount is made.

[2022-02-27 23:49] willcohen commented on #13256
I’ve seen this mentioned a few places but haven’t fully wrapped my head around it. To my knowledge the uid is just passed through directly. Is the idea here that qemu could reassign the number en route so it looks like one thing on the host and one thing on the guest? Is it always going to be predicable on the coreos side, so that hypothetically it’d be something we’d want to see invoked on the co

[2022-02-27 23:58] baude commented on #13256
I believe it would be predictable but it is always nice to allow it to be made by entry.

[2022-02-28 00:12] willcohen commented on #13256
For existing qemu functionality, the closest thing I can find in https://wiki.qemu.org/Documentation/9psetup is to use `-o access=<uid>` when running mount on the Linux side. At first glance that seems like it should work, rather than relying on the uid being passed through from QEMU. I assume that that basically just ignores the macOS attributes being passed through. Has this been tried?

I submi

[2022-02-28 00:43] willcohen commented on #8016
The latest 6.2.0 backport patch for the `v9` patchset: https://github.com/willcohen/qemu/compare/v6.2.0..1035762cbedfb53e5c8ddf4fc4aefa6ee75adf2a.patch

The branch https://github.com/willcohen/qemu/commits/v6.2.0-9p-darwin is equivalent.

[2022-02-28 00:53] willcohen commented on #8016
Re https://github.com/containers/podman/issues/13256#issuecomment-1053734670, has anyone resolved this uid issue here? Do we need to try to be scrambling to get one more patchset into qemu before the 7.0 freeze, or does it seem like ultimately some combination of mount arguments on the linux side and some tweaking to the qemu options already available with https://wiki.qemu.org/Documentation/9pset

[2022-02-28 00:57] baude commented on #13256
@willcohen would you mind providing a link to your v9  submission?

[2022-02-28 01:07] rhatdan commented on #13365
@vrothberg PTAL

[2022-02-28 01:10] willcohen commented on #13256
Yep!

https://github.com/containers/podman/issues/8016#issuecomment-1053746217

https://lists.gnu.org/archive/html/qemu-devel/2022-02/msg05978.html

[2022-02-28 02:03] beewoolie opened #13367 "Using port_handler=slipr4netns in pod prevents TCP connections"
/kind bug

**Description**

We want to build a POD with two containers, one of them a database and the other the application using this local database.  We also want to allow the application to see the source IP address for connections in order to enforce policy based on the requesting host.

The applications and DB can communicate within the POD and accept connections from outside hosts, but when

[2022-02-28 02:55] jayache80 commented on #7330
Sorry to dig this up but I'm hitting a similar issue and need help. I am running rootless, and have created a multi-container pod using `--infra=true` (which allows `podman generate systemd <pod-name>` to work).

What I don't understand is why is a separate unit file generated for *each* container? That's exactly what I don't want. What I want is a *single* unit file for *the pod*. Anyhow, "I'll j

[2022-02-28 04:54] jayache80 commented on #7330
Sorry again for the noise, and to answer my own question in case my stumbling is helpful to those who might be searching for similar things:

*This is just how systemd works:* it manages each container process separately.

If we want to "cluster" the container services intuitively (as one might expect of a "pod"), such that if you'd like `systemctl --user stop <pod>` to automatically stop *all* co

[2022-02-28 05:15] jayache80 opened #13368 "Make pods stoppable using generated systemd units"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When using `podman-generate-systemd` with a pod, the systemd service units are generated "in isolation" and the user has no way to easily stop all containers once the pod is started.

It would be great if a "parent" unit is automatically generated that knows how to not only start all cont

[2022-02-28 06:11] afbjorklund commented on #13256
I tested both the 6.2.0 version and the 7.0.0 (well, "to be") and besides the file rename in the patch and the typo they worked fine.

Fixing the qemu formula to cope with these changes was not so hard either, and after that it worked just like the linux version ?

[code]

I don't think there should be any more unrelated changes done to it, mapping uid and gid sounds like a separate new feature ?

[2022-02-28 06:19] afbjorklund commented on #8016
For lima, which uses reverse sshfs, the issue is addressed by 1) renaming the VM user to have the same name as the host and 2) using the `user_allow_other` option to FUSE, which allows the VM user files owned by the host user. Same name, different ID.

So if you take a casual look at the directories from a single user, it looks "normal" but there are different uids in play and it is the file syste

[2022-02-28 06:28] afbjorklund commented on #8016
@willcohen : this issue is also supposed to consider the general case, when you have a user running the client on one machine and then connecting to a remote server somewhere else. nobody (well, almost nobody) accepts users to be "magically mapped"

While one _could_ set up single-signon and synching network home directories and what not, normally we just assume that there is one (or more) local u

[2022-02-28 08:40] vrothberg commented on #13365
Thanks for reaching out, @AlphaJack.

At the time of writing, this is not possible.

I see the use case of creating networks on the fly but there is a number of obstacles:
* What if the network already exists?
* Should the previous one be deleted/recreated or used?
* Should the network be removed once the container exits?

I don't think we'll find a one-size-fits-all solution.

Users are free to c

[2022-02-28 08:47] vrothberg commented on #13368
Thanks for reaching out, @jayache80.

It already works.  The top-level `pod-xxx.service` unit does exactly what you are asking for.  If it doesn't work for you, please share an exact reproducer.

[2022-02-28 11:30] dcermak opened #13369 "Podman search does not use token authentication"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman search does not use token authentication when contacting a registry that requires authentication for searching.

**Steps to reproduce the issue:**

1. Add `registry.suse.com` to `unqualified-search-registries` in `/etc/containers/storage.conf`

2. `podman search bci-base`

**Describe t

[2022-02-28 11:35] rhafer commented on #13369
@dcermak You might want to take a look here: https://github.com/containers/image/pull/1079

[2022-02-28 12:30] rhatdan commented on #13363
No idea.  Just a weird error.  Could you try to run with crun, if you are using runc?

[2022-02-28 12:31] rhatdan commented on #12339
Ok I am going to close, reopen if his issue is still happening with podman 4

[2022-02-28 12:32] rhatdan commented on #13030
@umohnani8 Any progress?

[2022-02-28 12:34] flouthoc commented on #12774
Ackd, I can reproduce this bug exists on `podman-remote` side. I'll check this thanks.

[2022-02-28 12:57] willcohen commented on #13256
Okay. I’ll try to look a little more into this.

For what it’s worth, with the v9 patch the ENOTSUP typo shouldn’t be an issue anymore and I think you can remove it from the formula. The typo was in my older version of the branch on top of master, not in upstream HEAD itself.

[2022-02-28 12:59] rhatdan commented on #13365
@Luap99 @baude @mheon Any thoughts on this?

[2022-02-28 13:00] rhatdan commented on #13368
Is there a nice blog written up describing using Pods with systemd and Podman?

[2022-02-28 13:07] vrothberg commented on #13368
There is no post dedicated to _pods_ only but I see where you are going :^)

[2022-02-28 13:07] rhatdan commented on #13369
@mtrmac PTAL

[2022-02-28 13:30] edsantiago commented on #13227
Thank you Miro! I can easily reproduce with podman 4.x on rawhide. Two points:
* The prompts in the reproducer above are confusing: they should be hash (`#`), not dollar
* To make it much much much easier to see the problem, add `|| break` in the last command:
[code]
Without the break, output scrolls by too fast to notice.

Note that this is 100% a tty I/O problem: redirecting the `cat` makes the

[2022-02-28 13:47] rhatdan commented on #10039
This feels more like a discussion than an issue, I am moving to discussion.

[2022-02-28 13:49] zhangguanzhang commented on #13270
this is not a bug, docker also not works on not logic

[2022-02-28 13:53] rhatdan commented on #12838
@jwhonce @edsantiago @vrothberg Where are with this one?

[2022-02-28 13:58] rhatdan commented on #12749
@giuseppe @TristanCacqueray Where are we with this one.  Do we currently block --userns and --pod in the same container?

[2022-02-28 13:59] rhatdan commented on #12749
container-selinux (main) $ podman pod create --name dan
8d323c4f791279185cca5bfcbadd7a5d7661b216df7c681635d3b859adfbdb2f
container-selinux (main) $ podman run --pod dan --userns=keep-id alpine echo hi
Error: --userns and --pod cannot be set together

Looks like we do. so closing.

[2022-02-28 13:59] #12749 closed

[2022-02-28 13:59] rhatdan commented on #12927
Looks like this was fixed.

[2022-02-28 13:59] #12927 closed

[2022-02-28 14:04] edsantiago commented on #12838
The test is currently disabled in podman: https://github.com/containers/podman/blob/c39dffe83db9fa3cfa6897b971956821f1bbcce2/test/buildah-bud/apply-podman-deltas#L196-L197

Although I have provisions in `apply-podman-deltas` to change the expected error message, I don't have any mechanism to do so only for podman-remote. I'm not especially keen on adding that complexity. If the team's recommendati

[2022-02-28 14:14] rhatdan commented on #13359
Yes lets concentrate over there.

[2022-02-28 14:14] #13359 closed

[2022-02-28 14:16] TristanCacqueray commented on #12749
It seems like the original issue got fixed by crun-1.4.1. Thanks @giuseppe !

[2022-02-28 14:21] rhatdan commented on #13038
I think this was answered and is no longer an issue.

[2022-02-28 14:21] #13038 closed

[2022-02-28 14:22] rhatdan commented on #13011
@flouthoc ptal

[2022-02-28 14:24] rhatdan commented on #13011
Should this be moved to buildah?

[2022-02-28 14:58] lovette commented on #13270
While true that Docker's documentation for `docker images` does not mention syntax for negating a label search, Podman's does. My position is either I'm misunderstanding the syntax as documented, the documentation is incorrect or the implementation is broken. If what the documentation states is simply wishful thinking, I'm 100% behind a feature to support it 😁 In the meantime, I suggest the docume

[2022-02-28 15:57] willcohen commented on #8016
@philnalwalker did you figure out why CONFIG_LINUX is getting set by meson on homebrew? I'm noticing it too when building on nixpkgs, and wondering if I need to be changing something else to deal with this upstream. I'm not having this issue when building "vanilla" on macOS, which is how I've been testing this.

[2022-02-28 16:58] afbjorklund commented on #13256
Sorry, which error ?

[2022-02-28 16:59] betterharderfasterstronger opened #13373 "Podman on OSX uses bridged network for rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman on OSX seems to rely on bridged network (rootful) although container is configured to be rootless and should use slirp4netns by default.

I deletet the default CNI network labeled "podman" on the remote podman machine and now receive this error when deploying remotely:

`_Error: error

[2022-02-28 17:03] thrix commented on #13227
@edsantiago sorry forgot the good old `root` / `non-root` PS1 indication, fixed :)

[2022-02-28 17:03] willcohen commented on #13256
The `CONFIG_LINUX` issue which prevents you from building without moving `9p-util.c` to `9p-util-linux`. It seems like there may be some other issue where QEMU is incorrectly setting `CONFIG_LINUX` on Mac with nix and brew, but I can't quite pin down what it is, and perhaps it was never relevant until this feature. Similarly, my WIP pr for nix has to [remove the file from meson too](https://github

[2022-02-28 17:03] thrix commented on #13227
@edsantiago glad you reproduced it, we are a step closer :)

[2022-02-28 17:29] flouthoc commented on #13011
I think we can mirror `--format` with `--output=type=` at buildah side it self.

[2022-02-28 17:53] afbjorklund commented on #13256
Right, normally it would build from a release tarball

[2022-02-28 18:19] mheon commented on #13373
We default to bridge networking on OS X as, in versions prior to v4.0, a CNI plugin is required to set up port forwarding from the OS X host to the container in the VM. As such it is strongly not recommended to delete the default network.

[2022-02-28 18:24] mheon commented on #13270
Probably a docs issue, unless someone wants to add the functionality described - it does not exist in Podman today, so the docs are wrong.

[2022-02-28 18:29] mheon commented on #13365
The commands needed to create networks should be pretty easy to reconstruct, so we could probably add network creation logic to a `ExecStartPre` in unit files from `podman generate systemd --new`. We'd need a `podman network create --replace` (or maybe `podman network create --if-not-exist` or similar?) but otherwise it seems simple.

[2022-02-28 18:32] mheon commented on #13363
Seems like it's potentially a reused errno? Potentially indicates too many session keyrings created?

[2022-02-28 18:36] mheon commented on #13367
I assume it works with rootlesskit?

I'm assuming this is related to the shared network namespace; can you confirm that creating the two containers outside of a pod, but having one use `--net container=<ID>` to share the network namespace of the other, does not work?

@AkihiroSuda PTAL

[2022-02-28 18:37] mheon commented on #7747
That is unrelated to this issue. Please open a new issue.

[2022-02-28 18:42] beewoolie commented on #13367
The default port_handler is rootlesskit, so I expect that, yes, it is fine in this vase.

The example has only one container in a pod.  With the sample script, there isn't a meaningful way to perform the test you suggest.

However, you can use the sample script to verify that, without a pod, the port_handler change exhibits the behavior as documented.  This is described in the script as well.

[2022-02-28 18:44] mheon commented on #13367
Unless you are creating a pod without an infra container, there are at least 2 containers in the pod, and the one you created is sharing a network namespace with the infra container.

[2022-02-28 18:45] beewoolie commented on #13367
I am corrected.

I create only one container in the pod, so I don't know how I could perform the test you suggest.

[2022-02-28 18:49] afbjorklund commented on #13256
@willcohen : it doesn't matter what the value is, the meson.build won't "compile" if the file is missing.

[code]

`fs_ss.add(when: 'CONFIG_LINUXXX', if_true: files('9p-util-linux.c'))`

[2022-02-28 18:52] mheon commented on #13352
Can you provide more details - do you want to set log level for the exec session on the server from the client? We don't have a way of doing this at the moment. If this is correct, why do you want this - I'm having trouble understanding what you're doing that you'd want split log levels for different server commands?

[2022-02-28 18:54] mheon commented on #13346
@umohnani8 @flouthoc Mind taking a look?

[2022-02-28 18:54] willcohen commented on #13256
Got it -- then I'll tentatively assume that this is a backport-only issue affecting only those applying these generated patches, and it won't be an issue after 6.2.

[2022-02-28 18:58] lovette commented on #13365
Food for thought, I have a dozen pods that run on a custom network. It makes me queasy to think there'd be so many unit files with identical `ExecStartPre podman network create` statements 😁 If networks had their own systemd unit file, it would reduce duplication and let systemd manage the dependency to start and stop when necessary. And it would simplify the case where multiple networks are invol

[2022-02-28 19:07] wubdub commented on #13363
We tried ```crun``` awhile back and hit a bunch of other errors so haven't returned to using it

@mheon I was under the impression setting ```keyring = false``` would not generate a keyring? I guess my understanding is wrong?

[2022-02-28 19:08] rhatdan commented on #12838
I think we can live with the difference and should close this issue.

[2022-02-28 19:09] mheon commented on #13363
Possibly a bug where it doesn't work properly re: `keyring = false` - I remember something related to that, but v2.2.1 is rather old so I can't say for sure.

[2022-02-28 19:13] wubdub commented on #13363
@mheon, I found [this comment](https://github.com/containers/podman/issues/8384#issuecomment-749653039) but thought only settings in ```/etc/containers/containers.conf``` were not recognized. Maybe @rhatdan [comment](https://github.com/containers/podman/issues/8384#issuecomment-749695351) applied to all .conf files

[2022-02-28 19:49] lovette commented on #13277
While we're on the subject of `/etc/hosts`, it just came to my attention (I'm new to podman...) that the host `/etc/hosts` is copied into each container. This exposes the container to way more information than I want it to have access to. I'd love to have more control over the content of container `/etc/hosts`. It's helpful that some default hosts are added automatically, so `--no-hosts` is too he

[2022-02-28 19:52] rhatdan commented on #13277
Why not just volume mount in the hosts file that you want.  Otherwise I see the options getting out of hand.

[2022-02-28 19:57] betterharderfasterstronger commented on #13373
Ah ok I see. Perhaps a note in the docs would be good - as the docs state that rootless means slrp4netns by default without further indication. And executing the same command gives different results between OSX and Linux.

Thanks for clarification.

[2022-02-28 19:58] rhatdan commented on #8305
I really do not see what value we are adding with podman scan other then mounting the image and potentially launching a third party app?  Why wouldn't you just script this?

[2022-02-28 20:00] baude commented on #8016
@willcohen I was looking at the uid problem today.  I see that when using the mount commands, there is an access=uid, etc.  Do you know we can get the equivalent using qemu .... -virtfs?  That is the way @afbjorklund has it coded up today.

[2022-02-28 20:02] rhatdan commented on #13360
Does podman unshare cat /proc/self/uid_map work within the containerfile?

Did you populate the /etc/subuid and /etc/subgid files within the container?

What podman command are you using to run this container?

[2022-02-28 20:08] willcohen commented on #8016
@baude I've been so deep in the qemu patch set that I've let most of the actual podman discussion breeze me by.

We're talking about https://github.com/containers/podman/pull/11454, right?

I see that [up earlier](https://github.com/containers/podman/pull/11454/files#diff-4a3677ed5171641eba40e911f19bbf5970550a9e1ce75a30959e6c8032b2e39cR210-R217) qemu is being called with virtfs, but it does seem l

[2022-02-28 20:26] Luap99 commented on #13365
No it's not. There are many corner cases.
First, we do not know if --subnet was given or automatically assigned. So we do not know if we have to add --subnet to the command.
Second, we support two network backends. A config might work for only one backend so it can fail if the system uses the other backend.
For cni it is impossible to reconstruct the config when a custom config is used.
For macvla

[2022-02-28 20:29] baude commented on #8016
yes of course.  my problem is i know podman but virtfs :)  Ill try this out and report back.

[2022-02-28 20:35] lovette commented on #13277
I had the same thought and agree with the sentiment. It is very helpful to give podman some freedom to manipulate the hosts file to add entries such as `host.containers.internal` that may only be known at runtime. Currently, using a volume mount has the same effect as `--no-hosts`, in which case podman makes no host changes. I'm wondering if a middle ground can be found, where podman keeps some fr

[2022-02-28 20:40] rhatdan commented on #12682
@vrothberg Did we make any progress on this?

[2022-02-28 20:41] rhatdan commented on #12730
Could you verify if you still have this issue with podman 4?

[2022-02-28 20:50] willcohen commented on #8016
Also, just thinking a little more. Since #11454 already landed 4.0, if all we're talking about here is maybe another mount option or two to `machine.go` to tidy up uids, then as soon as Mac end users get a copy of QEMU that can do 9p, this'll fully work, and could potentially be fully buttoned up with a 4.0.x release? It seems to me that this note about [waiting until 4.1](https://podman.io/releas

[2022-02-28 20:54] Luap99 commented on #13367
Do you set --network on the container? If so this is incorrect, you should only use --network on the pod. If you also set it on the container you will overwrite the pod net namespace.

[2022-02-28 21:01] baude commented on #8016
we have wiggle room ... getting this working will be the key.  I have a brew tap that installs a podman only qemu.  when i run machine and specify a volume with -v, the uid and gids are correct.

however, seems like with macos, the mounted volume has the id and gid of the mac user. -o access=1000 did not influence that.  so just getting the correct mount options in there is no problem once we figu

[2022-02-28 21:03] rhatdan commented on #13277
How about --no-hosts --add-hosts ....

Which would eliminate the hosts /etc/hosts and would force the user to add his own.

[2022-02-28 21:04] beewoolie commented on #13367
Excellent.  That seems to be the issue.  I guess I didn't try /all/ of the possible combinations.

[2022-02-28 21:04] #13367 closed

[2022-02-28 21:12] Folaht opened #13377 "Default podman network can't handle ipv6 static network:"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.

[code]

2.
[code]

3.
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

A running container.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version

[2022-02-28 22:09] susanatgit commented on #13319
@Luap99 , do you mean podman wouldn't fix it when create macvlan?

[2022-02-28 22:14] lovette commented on #13277
To me `--add-hosts` implies appending something (see below.) How about just `--hosts`?

This seems fairly versatile:

Option                      | `/etc/hosts` source     | Auto entries
--                          | --                      | --
Current default             | Host                    | Yes
`--hosts=FILE`              | FILE                    | Yes
`--hosts=`                  | Imag

[2022-02-28 22:22] rhatdan commented on #13277
Containers on the same network share the same /etc/hosts and /etc/resolv.conf file.

[2022-02-28 22:25] rhatdan commented on #13277
I modified your table, to match what I would expect.

[2022-02-28 22:26] rhatdan commented on #13277
@vrothberg @mheon @Luap99 WDYT?

[2022-02-28 22:42] pclass-sensonix opened #13379 "Cannot run container as root with Podman due to Cgroups issue with missing cpu.max sysfs file"
/kind bug

**Description**

I can not run my container using Podman 4.0.0 on my Linux 5.4 i.MX8 device due to missing 'cpu.max' cgroups file. The system was built by Yocto. If I remove the **cpus** flag from my podman start command, the container starts properly. The cgroups configuration seems to be fine to me with the **cpu** cgroup controller shown as being enabled.

I also have a Microchip dev

[2022-02-28 23:27] lovette commented on #13277
I know that's the case today, but is this a nonnegotiable tenet of container networking? 😁 The scenario I'm working with is my app connects to services by hostname. I want to run two "identical" containers, each connecting to a different pod running the service endpoint. To achieve this, I need each container to have it's own *service name --> pod ip* host entry.

[2022-02-28 23:43] #13273 closed

[2022-02-28 23:52] leahneukirchen commented on #12926
Was fixed in https://github.com/containers/storage/pull/1123

[2022-02-28 23:52] #12926 closed

[2022-03-01 00:04] ashley-cui commented on #12161
Closed via: #13372

Example usage: `make podman-remote HELPER_BINARIES_DIR=/my/location/prefix`

[2022-03-01 00:04] #12161 closed

[2022-03-01 03:27] kousu commented on #13123
Thanks for this clue! I sat down with this again last night and was able to trace it out. There's an oversight in

https://github.com/containers/podman/blob/c39dffe83db9fa3cfa6897b971956821f1bbcce2/vendor/github.com/containers/storage/drivers/overlay/overlay.go#L1521-L1538

that is only triggered when using

1. the native `overlayfs` driver
2. in rootless mode
3. on a container image with many, ma

[2022-03-01 03:47] baude commented on #13379
@giuseppe or @rhatdan ptal

[2022-03-01 03:48] baude commented on #13377
i think this is a known limitation of CNI.

[2022-03-01 04:14] aramsamy opened #13381 "Error: capset: Operation not permitted: OCI permission denied"
/kind bug

**Description**

**Steps to reproduce the issue:**

while running below command on jenkins
Debian11 image.

1. sudo podman run --rm --storage-driver=vfs --cgroup-manager=cgroupfs --log-level debug --privileged docker.io/multiarch/qemu-user-static --reset -p yes

**Describe the results you received:**

observed below error
time="2022-03-01T03:31:42Z" level=debug msg="ExitCode msg: \"caps

[2022-03-01 05:37] jayache80 commented on #13368
Thanks @vrothberg. It indeed was a combination of user error and perhaps not-fully-implemented features (or maybe even a bug) of `podman-compose`.

The following will work as expected and generates systemd unit files that are properly "grouped together" and can be stopped in concert by issuing a `stop` to the pod service alone:
[code]

The service files generated from that look like this:
[code]

[2022-03-01 05:37] #13368 closed

[2022-03-01 05:39] xfoobar opened #13382 "dbus-launch and conmon/pids.max problem"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Error warning when testing pod, dbus-launch and conmon/pids.max

**Steps to reproduce the issue:**

1.
podman pod create --name=foo && podman  pod rm foo

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]
**Additional information you deem important (

[2022-03-01 06:06] Hi-Angel commented on #13123
This is an amazing research, thank you very much!

[2022-03-01 06:11] ianw opened #13383 "unqualified-search-registries not obeyed for short-name if image already exists?"
/kind bug

**Description**

I have a `registries.conf` that looks like

[code]

i.e. try to pull from ```localhost:9000```, and if not there, fall-back to docker.io

Our CI has put ```test/image``` into ```localhost:9000```.  If I try to pull it with no images in podman, it works as you expect and uses ```unqualified-search-registries``` and pulls ```docker.io/test/image``` from the mirror at ```l

[2022-03-01 06:25] afbjorklund commented on #8016
Today, last year, whatever. Took a while to get feedback.

[2022-03-01 08:13] giuseppe commented on #13379
looks like the cpu controller is not enabled.

What is the content of `/sys/fs/cgroup/cgroup.subtree_control`?

You may need to enable it manually running `echo +cpu > /sys/fs/cgroup/cgroup.subtree_control` as root

[2022-03-01 08:50] vrothberg commented on #13383
Thanks for reaching out, @ianw!

You are right.  When pulling, Podman will first attempt to resolve the image locally and then use the name of the detected image.

Podman behaves like that as long as I can remember but I would find it cleaner, just as you suggested, to only use the unqualified-search-registries as the source of truth.

Changing the current behavior would be a breaking change, so i

[2022-03-01 08:53] #12768 closed

[2022-03-01 08:58] vrothberg commented on #8305
It makes the life of users easier (same as `--all,--latest,--replace` etc.) A desire for built-in security scanner for images popped up here and there. IMHO it's check-box security: build + scan + push :heavy_check_mark:

The `docker-scan` _plugin_, for instance, is able to detect the log4j vulnerability: https://docs.docker.com/develop/scan-images/

[2022-03-01 09:03] vrothberg commented on #13365
I am torn.  I understand it would be helpful in this specific case but also we need to draw a line somewhere.  Would we do the same for volumes?

podman generate systemd --add-network ...

This could be a nice middle ground. Personally, I'd prefer something in `ExecStartPre` and extend `network create` to only create the network if it doesn't exist.

[2022-03-01 09:06] vrothberg commented on #12682
No.  I think we need to take a step back and discuss how we want to handle multi-arch as whole.  Once we have a vision, we can check what needs to done.

[2022-03-01 09:43] flouthoc commented on #12774
@snay2 Thanks, above PR should close this issue and will be present in newer versions of podman.

[2022-03-01 13:35] rhatdan opened #13387 "What's the podman equivalent of Docker's `volume-opt` parameter in mount strings?"
### Discussed in https://github.com/containers/podman/discussions/13378

<div type='discussions-op-text'>

<sup>Originally posted by **dstaley** February 28, 2022</sup>
I'm trying to translate the following `--mount` string from Docker to podman:

[code]

When running a container with this mount string, I get the error:

[code]

I understand that the options passed to `--mount` are basically parse

[2022-03-01 13:35] rhatdan commented on #13387
@flouthoc PTAL

[2022-03-01 13:36] rhatdan commented on #13277
You want them in the same pod?

[2022-03-01 13:40] rhatdan commented on #13377
Please try out netavark, this should work with Podman 4.

[2022-03-01 13:40] #13377 closed

[2022-03-01 13:43] #13261 closed

[2022-03-01 13:51] rhatdan commented on #13381
@giuseppe Any ideas?

[2022-03-01 14:06] pclass-sensonix commented on #13379
@giuseppe - that's what I thought too, but when I look at the output of **podman --info**, it shows the cpu controller enabled:

[code]

I also tried your suggestion with the subtree_control file. The file already showed **cpu**, but I ran the command to enabled it again - however it still fails when I run the container with '**missing cpu.max**':

[code]

[2022-03-01 14:07] pclass-sensonix commented on #13379
I see other syses files related to cpu cgroup control, just not 'cpu.max'.

[code]

[2022-03-01 14:28] lovette commented on #13277
I lean towards putting all containers into pods so in this case I'd have four pods, each with one container, all on the same custom network. Two "front end" pods and two "service" pods. In essence, what would be ideal is if `--add-host` for a container took precedence over any hosts configuration for the pod or network. My first thought is perhaps the `--hosts=FILE` option would also imply that `/

[2022-03-01 14:30] giuseppe commented on #13381
What is the output of `grep ^Cap /proc/self/status`?

[2022-03-01 14:38] mheon commented on #13365
Volumes auto-create if they do not exist, so I think that's somewhat of a different matter.

[2022-03-01 14:40] mtrmac commented on #13383
Isn’t there even https://github.com/containers/common/blob/9880eb424fde47b51cae762cfc35533edb1613fc/libimage/image.go#L670 , where we don’t require a host match at all?

[2022-03-01 14:46] vrothberg commented on #13383
Yes, that is the source of the behavior.

[2022-03-01 14:50] mtrmac commented on #13383
I’m all for dropping that in principle, but it’s certainly a 5.0 item. Pragmatically, I vaguely remember that we might have tried that, and that it broke our CI quite severely — and based on that we assumed that other external users are also likely to rely on that loose behavior, and gave up.

[2022-03-01 15:00] vrothberg commented on #13383
Some bells are ringing in my head, yes.

One possible middle-ground could be to not resolve to a local image with `podman pull` or the `pull=always` pull policy but the terrain is full of traps and scared of breaking users.

[2022-03-01 15:43] Luap99 commented on #13277
I am against adding new cli options.
We should disscus this at the next cabal meeting IMO.

[2022-03-01 15:58] mheon commented on #13382
`WARN[0000] Failed to add pause process to systemd sandbox cgroup: exec: "dbus-launch": executable file not found in $PATH`

This seems a bit concerning, as `podman info` says this is a cgroupfs system - we shouldn't be using systemd cgroups in that case. @giuseppe PTAL

The other error indicates we're unable to set `pids.max` on the pod cgroup, which we do in order to prevent cleanup processes fr

[2022-03-01 16:17] bprimekey commented on #13352
We have provided more information to this ticket. We don't necessarily need to control the log level on a per-request basis. The issue is that the log level that we start the system service with is not applied to the spawned execs.
Hopefully this and the added information are sufficent enough to solve this.
Thanks!

[2022-03-01 16:45] aramsamy commented on #13381
@giuseppe

grep ap /proc/self/status
VmSwap:	       0 kB
CapInh:	00000000a92425fb
CapPrm:	0000000000000000
CapEff:	0000000000000000
CapBnd:	00000000a92425fb
CapAmb:	0000000000000000

[2022-03-01 17:18] giuseppe commented on #13381
so that is the issue, you are running in an environment without capabilities but trying to use them.

How has Jenkins created this environment?  Does it work if you use `--cap-drop=all` for your container?

[2022-03-01 17:22] giuseppe commented on #13379
it looks like the kernel was compiled without `CONFIG_CFS_BANDWIDTH`.

You either need to enable that in the kernel, or you cannot use `--cpus`

[2022-03-01 17:22] #13379 closed

[2022-03-01 17:35] aramsamy commented on #13381
@giuseppe

spec:
    containers:
    - name: container-image-builder
      image: docker.xxxxx.com/personal/aramsamy/debian11-podman:1.0.0
      tty: true
      command: [ "cat" ]
      imagePullPolicy: Always
      securityContext:
        capabilities:
          add: [ "SYS_ADMIN", "SYS_RESOURCE" ]
      volumeMounts:
        - name: container-storage
          mountPath: /var/lib/containers

[2022-03-01 17:37] craftyguy opened #13388 "podman 4.0 hangs indefinitely if ipv6 is disabled on system"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman 4.0.1 will hang indefinitely with this *warning* if ipv6 is disabled on the system:

[code]

**Steps to reproduce the issue:**

1. disable ipv6 (e.g. with kernel parameter `ipv6.disable=1`

2. `podman run --rm hello-world`

3. <hangs indefinitely>

**Describe the results you received:*

[2022-03-01 17:39] mheon commented on #13388
@baude @Luap99 PTAL

[2022-03-01 17:40] giuseppe commented on #13382
that fails because rootless cannot use cgroupfs on cgroupv2, unless it is configured manually.

IMO, the best for both warnings is to downgrade them to debug when running rootless.

[2022-03-01 17:43] aramsamy commented on #13381
more details and complete debug log..

podman info --debug
time="2022-03-01T17:39:04Z" level=warning msg="Failed to detect the owner for the current cgroup: stat /sys/fs/cgroup/systemd/kubepods/burstable/podb231f7d2-b683-420c-8876-b78750655343/f3359c22e40454ac38b4fe4e7b2510ffe1828172f0b78b96626a5fcbc2b6ffb3: no such file or directory"

host:
  arch: amd64
  buildahVersion: 1.19.6
  cgroupManager:

[2022-03-01 18:05] djarbz commented on #13338
I am running the v4 release as provided [here](https://build.opensuse.org/project/show/home:alvistack).

Created a new user test ID=1006 and connected via `su -` I get the same results when I login from the console.
[code]
Ran podman info, this used to work on v3.0.1.
[code]
Enabled lingering and added the following lines to test's .bashrc.
[code]
Podman info still doesn't work, the warning is new

[2022-03-01 22:00] kousu commented on #12624
* PR https://github.com/containers/podman/pull/13375
  * [03-01 14:08](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5915070445125632/html/int-podman-fedora-35-rootless-host-netavark.log.html#t--are-not-available--1)
  * [03-01 14:08](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5915070445125632/html/int

[2022-03-01 22:26] baude commented on #8016
@willcohen I am unable to get the uid/gid stuff correct.  I even hard had the ignition file (like cloud-init) change the user's id and gid.  That resulted in a basically useless mount.  I also tried usermod but hit problems bc there are processes owned by the user in question which stop usermod from working. I fiddled with access=uid as well (<= this seems to do nothing?).

Does anyone have any id

[2022-03-01 23:31] TomSweeneyRedHat opened #13393 "Re-revert #13357"
This PR: https://github.com/containers/podman/pull/13357 was inadvertently merged into the v4.0 branch when it was supposed to be frozen for all but critical fixes as we're readying for a RHEL 8.6 and 9.0 release.  That was reverted through #13392.  Once the v4.0 branch is opened for non-critical bugs again, or when a new branch is made ready for RHEL 8.6.1 and RHEL 9.0.1, then #13357 should be ch

[2022-03-01 23:32] zowoq opened #13394 "`podman machine` writes absolute QEMU path to the VM config"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
[code]

Using an absolute path is a bit problematic for `nixpkgs` as the QEMU written to the config might not be the same as the QEMU currently in the users PATH or it may have been removed which then causes an error.

[code]

**Output of `podman version`:**

[code]

[2022-03-01 23:40] Romain-Geissler-1A commented on #13393
Hi,

Ok, I acknowledge that.

I tried to ask this several times in issues in the past: would it be possible for Red Hat to ship a "upstream" stream for the "container-tools" module in RHEL ? Obivously, it would be shipped without any Red Hat support: use it at your own risk, and don't contact Red Hat paying support if it doesn't work. Podman is a tool that is still a young project moving fast upst

[2022-03-02 00:45] TomSweeneyRedHat commented on #13393
@fatherlinux is our Product Manager.  Scott, this PR was merged just after the door closed for RHEL 8.6 and the next delivery vehicle would be 8.6.1 a few weeks after that.  IDK we ship anything upstream in RHEL, would an answer be CentOS stream or something else?

[2022-03-02 01:20] cmurf opened #13396 "Error validating CNI config file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman system reset

2.

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

No errors on reset. Or I guess it should automatically or prompt to remove stale files (?)

**Additional information you deem important (e.

[2022-03-02 03:10] xfoobar commented on #13382
@giuseppe
I reinstalled Debian 11 , the output is a little different.

podman pod create --name=foo && podman pod rm foo
[code]
podman info --debug
[code]

[2022-03-02 05:14] rubiksdot opened #13397 "podman_container does not recreate the container if image changes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I changed the CMD in Containerfile and had the image recreated. podman_container failed to detect this and, so, left the now stale container configured.

**Steps to reproduce the issue:**

1. Create image
2. Create container based on image
3. Change Containerfile and recreate image
4. Run ste

[2022-03-02 05:57] flouthoc commented on #13396
@cmurf I think your distro is missing `cni` plugins or your path variable does have `/usr/sbin` where these plugins are usually present.

Could you share output of
[code]

[2022-03-02 08:56] aramsamy commented on #13381
problem is, with same capabilities on Fedora image it works fine without any issues. But on debian11 its failing with above errors.

[2022-03-02 09:55] jianzhangbjz opened #13400 "[Question] How to let podman use the local image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. There is `registry:2.7.0` image in the local.
[code]
2. But, podman still pulls it from the remote registry. My question is how to let podman use the local image, thanks!
[code]

3.

**Describe the results you received:**
Podman stills pull

[2022-03-02 09:56] flouthoc commented on #13346
@0pq76r Thanks for creating the issue

This is more of a `podman` issue rather than direct `podman play kube`, `podman` seems to ignore if `workdir` dir is symlink and config does not allow podman to create a new `workdir` mostly happens with `run --workdir /symlink/path`  and since `podman play kube` curates similar config in indirect manner it faces the same issue.

Above PR should close this is

[2022-03-02 09:57] EdDev opened #13401 "error while loading shared libraries: librt.so.1: cannot change memory protections"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When changing the storage location for graphroot (in `/etc/containers/storage.conf`) to a path under `/var/run/...`, a permission error is raised.

Following the documentation/[troubleshooting](https://github.com/containers/podman/blob/main/troubleshooting.md#11-changing-the-location-of-the-gr

[2022-03-02 10:24] call-a3 opened #13402 "Podman fails with permission denied error"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install podman from package source http://download.opensuse.org/repositories/home:/alvistack/xUbuntu_20.04/

2. Attempt to execute a podman command as a non-root user such as "podman version" or "podman login --get-login registry-name"

**Describe the results you received:**
`Error: error opening "/etc/cni/net.d/cni.lock": permissio

[2022-03-02 10:29] giuseppe commented on #13382
alternative fix: https://github.com/containers/podman/pull/13403

[2022-03-02 11:16] farfromunique commented on #13298
(This may be the wrong place for this, but it's at least related)
How can I build the Podman-remote binary for windows? I'm not at all familiar with compiled-language software development...

[2022-03-02 11:44] flouthoc commented on #13400
@jianzhangbjz I think `podman run --pull missing ... ... ` should solve your use-case ? It will pull only if `image` is missing from the `local` store.

[2022-03-02 11:47] rvandernoort commented on #13222
Thanks for the clarification. The common updates seem to have merged already now and it now builds using the configuration, however I can't reproduce the behaviour of the changed value yet. I have added the configuration into `containers.conf` file in `/usr/share/containers` for both the client and server but that does not seem to work. Does the locally build version use another file perhaps?

[2022-03-02 12:27] vrothberg commented on #13400
There is something else going on.

@jianzhangbjz, if possible, please share the _entire_ requested information, especially `podman info --debug`.

[2022-03-02 13:40] aramsamy commented on #13381
on Fedora image i see storage.conf but not on debian11.

NAME=Fedora
VERSION="34 (Container Image)"

[root@d89643ee57a0 /]# ls -tlr /etc/containers/
total 20
-rw-r--r--. 1 root root  198 Jan  1  1970 containers.conf
-rw-r--r--. 1 root root  256 Jul 15  2021 policy.json
drwxr-xr-x. 2 root root    6 Jul 15  2021 certs.d
drwxr-xr-x. 2 root root   26 Oct  8 08:06 registries.d
drwxr-xr-x. 2 root root

[2022-03-02 14:14] baude commented on #13394
the path to qemu is discovered using FindExec at the time of init.  So this is basically the same as using path at that time.  It seems like you want to rediscover the qemu path each time we init, start, and stop?

[2022-03-02 14:49] alanfx commented on #13351
Hey @baude my machine has 16GB of RAM and changing `ulimit` helped with downloading the image archive, but I still got this error:

[code]

[2022-03-02 15:33] baude commented on #13351
i was just going to ask you to run that.  could you provide the ulimits you had prior to going unlimited?  and do you know if that ulimit is standard on macs?

[2022-03-02 15:56] #13346 closed

[2022-03-02 15:58] rhatdan commented on #13401
Could you try
sudo semanage fcontext -a -e /var/lib/containers /run/podman/containers/storage
sudo restorecon -R -v /run/podman/containers/storage

The /var/run is ignored and is a symbolic link to /run.

You should see a lot of changes when you run the resorecon.

[2022-03-02 15:58] #13401 closed

[2022-03-02 16:29] EdDev commented on #13401
That was my first try and it gave me this error:
`$ sudo semanage fcontext -a -e /var/lib/containers /run/podman/containers/storage
ValueError: File spec /run/podman/containers/storage conflicts with equivalency rule '/run /var/run'; Try adding '/var/run/podman/containers/storage' instead`

[2022-03-02 16:36] EdDev commented on #13401
Ok, this one worked:
[code]
Output: `Relabeled /volatile/podman/containers/storage from unconfined_u:object_r:user_tmp_t:s0 to unconfined_u:object_r:container_var_lib_t:s0`

[2022-03-02 16:40] EdDev commented on #13401
@rhatdan , is this suppose to work with `rootless_storage_path` as well?

I tried the equivalent, but it does not work. Giving me this error:
`Error: writing blob: adding layer with blob "sha256:ce419f530850a57ffb757cd9dfc06b6645124d63f1c15459ec799d0555815f77": Error processing tar file(exit status 1): operation not supported`.

This does not seem to be SELinux related.

Should I open a different

[2022-03-02 16:40] vincentbernat commented on #5411
Half of this bug is now fixed (we can choose another directory). The other half is not: after loading an image, the `docker-tar*` files are kept in the temporary location.

[2022-03-02 16:52] afbjorklund commented on #13298
Normally it is `make podman-remote-windows`, but please open a new issue if it doesn't work using the instructions

https://podman.io/getting-started/installation#building-from-scratch

[2022-03-02 17:00] farfromunique commented on #13298
Following that link (and searching for "Windows") tells me to install the latest remote client or read a blog post about how to install it for WSL. It says nothing about the `make` command.
It may be wise to update the documentation.
![image](https://user-images.githubusercontent.com/4977323/156410438-cac5fe06-edac-4d09-aa3c-e8092dbe4712.png)

[2022-03-02 17:07] cmurf commented on #13396
[code]

[2022-03-02 17:25] call-a3 commented on #13402
Hi @flouthoc , thanks for getting back to me.

Running `podman info` or `podman info --debug` as a rootless user also results in the output
[code]

I've checked and the lock file is indeed owned by root
[code]

I don't think I've run any podman commands after, so it's unclear to me why this lock file is here, why it is owned by root or why rootless podman needs access to it.

I've attempted to run

[2022-03-02 17:43] jradxl opened #13407 "When will you release v4 binaries (ie v4.0.2) ?"
When will you release v4 binaries (ie v4.0.2) to this repository, in my case for Ubuntu 21.10

`https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman`

Or am I looking in the wrong place?

[code]

[2022-03-02 18:09] afbjorklund commented on #13298
That assumes that there _is_ a release, which might be try again for 4.1 or so

[2022-03-02 18:21] afbjorklund commented on #13407
Possibly never:

* https://github.com/containers/podman/issues/13302

See also:

https://packages.ubuntu.com/impish/podman (3.2.1)

[2022-03-02 19:11] rhatdan commented on #13354
Hopefully this week or next.  We are trying to get first volume support in.

[2022-03-02 19:26] rhatdan commented on #13401
Well are you sure this is not SELinux?  Run a container in permissive mode.

[2022-03-02 19:29] rhatdan commented on #5411
Could you give me an exact reproducer?
And show me the left over files.

[2022-03-02 19:29] rhatdan commented on #5411
BTW You should open a new issue not add to a closed issue.

[2022-03-02 19:37] mattouille commented on #13354
@rhatdan Awesome! Are there any open meetings or office hours we can attend? We're starting to become fairly heavy users of Podman, I think it makes sense to have someone attend these meetings if there are any.

[2022-03-02 19:40] baude commented on #13298
Things will get updated today for our 4.0.2 release.

[2022-03-02 19:41] rhatdan commented on #13354
See: https://podman.io/community/#community-meetings

[2022-03-02 19:53] baude commented on #13396
that very well could be the bridge binary from iproute2.  try:

`rpm -q containernetworking-plugins`

and then `rpm -ql containernetworking-plugins` to see where they are installed.

[2022-03-02 20:18] EdDev commented on #13401
I’m sure. I set it to permissive and it had no effect.

Another strange thing I noticed is that trying to delete the folder without ‘sudo’ fails as well. (rm -rf …)
But the owner is the right user. Very strange.

[2022-03-02 20:30] afbjorklund commented on #8016
lima creates the user in the VM to have the same uid as on the host.

So if the user is 1001 on the host, then the login is 1001 in the VM too.

[2022-03-02 20:50] zowoq commented on #13394
I'd prefer that it doesn't record the path to qemu at all and just always use `qemu-system-{aarch64,x86_64}` in `$PATH`.

[2022-03-02 21:21] baude commented on #8016
im on top of it! not only that, but i have it working.

[2022-03-02 21:49] mheon commented on #13222
They should all use the same config files. I would recommend adding some debug prints to the c/common code in your local copy to see if the variable in the config file is being read in properly.

[2022-03-02 23:58] cmurf commented on #13396
[code]

Seems like podman needs a recommends or requires?

[2022-03-03 00:13] rvandernoort commented on #13222
Alright, I will investigate more then

[2022-03-03 00:16] cmurf commented on #13396
Downstream bug https://bugzilla.redhat.com/show_bug.cgi?id=2060200

[2022-03-03 07:07] rubiksdot opened #13410 "podman_container does not recreate the container if root image is changed from read-only to read-write"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Changed read_only from true to commented out (so default: false) but the container was not recreated.

**Steps to reproduce the issue:**

1. Create container read-only

2. Comment out read-only: true

3. Attempt to recreate

**Describe the results you received:**

Read-only container remained

[2022-03-03 08:39] vrothberg commented on #13407
@lsm5 PTAL

[2022-03-03 08:43] giuseppe commented on #11377
@ananthb are you still interested to work on this issue?

[2022-03-03 08:51] MarkusSchoelzel opened #13411 "Creating pod fails (even with catatonit binary)"
/kind bug

**Description**

Creating pods in a podman in docker container setup fails with 4.0.x,
but works fine with 3.4.x.

(I am using self compiled static binaries, but reproduced the issue with quay.io/podman/upstream and quay.io/podman/stable)

**Steps to reproduce the issue:**

`docker run -ti --rm --privileged --device /dev/fuse:rw quay.io/podman/upstream sh -c "sed -i -e '/^utsns=/ s/=.*/

[2022-03-03 09:07] vrothberg commented on #13411
Thanks for reaching out!

@giuseppe PTAL

[2022-03-03 09:22] farfromunique commented on #13298
@baude That was SO easy!
For anyone who finds this later, here's what the instructions probably should be for v4.0.2 on Windows, with WSL2 backend:
[code]

[2022-03-03 09:27] alanorth opened #13412 "podman prints unclear "binary not found" warning with netavark backend"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unclear "binary not found" warning when using the netavark backend in podman 4.0.1. It's not clear what binary is missing. Podman commands seem to succeed despite this warning.

**Steps to reproduce the issue:**

1. Set `network_backend = "netavark"` in `/etc/containers/containers.conf`

2. R

[2022-03-03 09:49] vrothberg commented on #13400
Thanks, @jianzhangbjz.  `podman info` looks good.  Could you rerun with `podman --log-level=debug` and share that output?

[2022-03-03 10:09] ananthb commented on #11377
Yeah! I definitely have more time to look at this now.

[2022-03-03 12:24] giuseppe commented on #13411
PR here: https://github.com/containers/podman/pull/13413

[2022-03-03 12:33] vrothberg commented on #13400
@jianzhangbjz, the logs indicate that the image has not been found in the local storage.

Could it be that the `podman images` is executed as the rootless user but the container is run with `sudo` (i.e., rootless)?

[2022-03-03 12:44] rhatdan commented on #13401
I think I would reboot your machine and start over.  Operation not supported seems strange.

[2022-03-03 12:47] MarkusSchoelzel commented on #13411
PR #13413 + catatonic binary fixed it:

`docker run -ti --rm --privileged --device /dev/fuse:rw upstream-pr13413 sh -c "curl -sLo /usr/local/bin/catatonit https://github.com/openSUSE/catatonit/releases/download/v0.1.7/catatonit.x86_64; chmod +x /usr/local/bin/catatonit; sed -i -e '/^utsns=/ s/=.*/=\"private\"/' /etc/containers/containers.conf; podman pod create"`

-> `e359cc1b1ec04bd4ec3259f1ff73f

[2022-03-03 12:51] rhatdan commented on #13077
I don't see this as a bug or issue, so I am going to close it.  If  you want to open a PR to allow duplicate --network options then feel free to do so.

[2022-03-03 12:54] rhatdan commented on #13396
Since this is a packaging issue and not related to upstream, I am closing.

[2022-03-03 12:54] #13396 closed

[2022-03-03 13:01] rvandernoort commented on #13222
I managed to get it working now, don't really know what was going wrong, but when I debugged it it suddenly worked! Anyway PR is open and ready to close this issue.

[2022-03-03 13:19] albertdb opened #13415 "Podman 4.0.2 MSI bundled dependency detected as a threat by antivirus"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to install Podman 4.0.2 on Windows results in:

![image](https://user-images.githubusercontent.com/11670727/156571839-36cfb40e-874a-43a9-9c3c-2cf72e28e081.png)

![image](https://user-images.githubusercontent.com/11670727/156571794-d4432511-bfb9-48ea-8a07-d2d8f2de7133.png)

**Steps to r

[2022-03-03 13:22] albertdb commented on #13415
Side question: podman-remote-client bundles podman machine?

[2022-03-03 13:51] giuseppe commented on #13381
I think it could be a different set of default capabilities in `/etc/containers/containers.conf`

[2022-03-03 14:02] lsm5 commented on #13407
@jradxl what @afbjorklund said.

Let me also copy @benridley and @bbalp (I'm reusing your gitlab ids so apologies if you're not the right people) . They are working on https://gitlab.com/benridley/podman-deb and perhaps you or anyone else interested can reach out there and help out.

Closing ...

[2022-03-03 14:02] #13407 closed

[2022-03-03 14:03] lsm5 commented on #13407
I will update the podman docs.

[2022-03-03 14:05] lsm5 commented on #13407
@afbjorklund wip blog post for v4.0 is happening at https://github.com/containers/podman/pull/13310

[2022-03-03 14:31] EdDev commented on #13401
I rebooted several times already.
The followed the following procedure, but it fails the same every-time:
[code]

Outcome is:
[code]

It worth mentioning that stuff did got in that path, but something is not allowing modifying things at some point.

[2022-03-03 14:56] baude commented on #13394
@zowoq understood ... and I sincerely sympathize.  here is the problem.  In the past, we had bug reports that basically pleaded for the hardcoded path because other products had "side-installed" qemu for something else and they prepended that to the path, and that qemu failed to boot vms.  in fact, i am considering doing the same but not prepending it to path.  I will keep you in mind though and s

[2022-03-03 15:05] MarkusSchoelzel commented on #13412
it's probably https://github.com/containers/aardvark-dns which is not found or missing

[2022-03-03 15:08] afbjorklund commented on #13407
As far as I know, the system packages will stay at the current versions:

Ubuntu | Podman
--- | ---
20.04 | ---
21.04 | 3.0
21.10 | 3.2
22.04 | 3.4

And then it is up to third parties, to supply the packaging for Podman 4.

[2022-03-03 15:20] afbjorklund commented on #13298
There are static podman-remote binaries for v4.0.2 now.

https://github.com/containers/podman/releases/tag/v4.0.2

[2022-03-03 15:21] pratikmallya commented on #12432
I could not update the version on the machine since Oracle doesn’t provide a newer version of podman in their package repo. I have to wait for them to release a newer version.

[2022-03-03 15:37] flouthoc commented on #13412
@cloudlena @alanorth This is correct. Following message is just a warning notifying users that `dns` will not work if `aardvark-dns` is not installed. Did you manually build and install on `Arch` ? I'm closing this issue since its already resolved but lets continue discussion below.

[2022-03-03 15:40] cloudlena commented on #13412
The problem is that `aardvark-dns` is only an optional dependency (instead of a normal "strict" dependency) of `netavark` so it doesn't get installed automatically by Arch Linux.

[2022-03-03 15:51] rhatdan commented on #13412
@flouthoc could you fix the error message to make it clear which binary is missing.

[2022-03-03 15:54] nunix commented on #13298
Thanks a lot for the follow-up 😄

[2022-03-03 15:55] flouthoc commented on #13412
@rhatdan Sure.

[2022-03-03 16:02] baude commented on #12432
seems like you should be writing the bug against oracle?

[2022-03-03 16:02] flouthoc commented on #13412
@cloudlena @rhatdan Above PR fixes the error message.

[2022-03-03 16:14] edsantiago opened #13417 "CI flake: secret file is not leaked into image"
Pretty rare flake:
[code]
(formatted for legibility).

This is ginkgo, so my hunch is that multiple secrets-related tests are all running at once. One super-simple fix might be to move `test/e2e/build/Dockerfile.with-secret-verify-leak` into a new subdirectory, `test/e2e/build/secret-verify-leak`. It should be very easy to do this and see if the flake goes away. But it's also possible that this is

[2022-03-03 17:19] djnotes commented on #11494
Just wondering why the repo is called podman-desktop-companion and not just podman-desktop.

[2022-03-03 17:24] pratikmallya commented on #12432
Ok let me try the rebuild podman suggestion. Will report back with results.

[2022-03-03 17:28] afbjorklund commented on #11494
They are two different projects:

https://github.com/containers/podman-desktop is the official GUI, for Mac

https://github.com/iongion/podman-desktop-companion is a cross-platform app

[2022-03-03 17:33] alanorth commented on #13412
Thank you. I completely missed that there was an optional package `aardvark-dns` in Arch Linux. Now I know, though improving the warning message will help users in the future!

[2022-03-03 17:38] afbjorklund commented on #11494
@TomSweeneyRedHat now available as a Tech Preview:

https://docs.docker.com/desktop/linux/ (uses KVM for the VM)

[2022-03-03 17:49] rhatdan commented on #11494
We might be rethinking all of this.  Keep tuned in...

[2022-03-03 18:26] rhatdan commented on #13410
I am really not sure what you are saying, but my guess is
[code]
This seems to work fine.

[2022-03-03 18:36] rhatdan commented on #13415
@n1hility PTAL

[2022-03-03 18:42] #13298 closed

[2022-03-03 18:59] djnotes commented on #11494
Then, I guess we will be very happy soon!

[2022-03-03 19:19] gonzalocasas commented on #13298
sorry to insist, but the main entry point for most people still returns an error when trying to download the binary:

![image](https://user-images.githubusercontent.com/933277/156636962-93b25bc0-a296-4392-85e2-180e6116a927.png)

[2022-03-03 20:16] n1hility commented on #13415
@albertdb does this happen with older podman msi releases or just 4.0.2?

[2022-03-03 21:12] rhatdan commented on #13298
@gonzalocasas Try it now.

[2022-03-03 21:19] rhatdan commented on #13383
Yay, our first 5.0 issue.

[2022-03-03 21:26] rhatdan commented on #13364
@TomSweeneyRedHat I was able to do this locally, Can we push this up to quay?

$ sudo dnf -y install qemu-user-static
$ podman build --platform linux/amd64,linux/arm64 -t podman/hello ./contrib/helloimage

[2022-03-03 21:27] rhatdan commented on #13364
Probably should build for IBM OSs also.

[2022-03-03 22:15] gonzalocasas commented on #13298
yay! thanks, it works now!

[2022-03-03 23:05] jahamilton12121 opened #13419 "rootless podman internal GID is one higher than external user sometimes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Sometimes the gid map inside of the user is one more than it should be. Sometimes it will work as expected
For ex it will be correctly set to 30000 sometimes
[code]

Other times it will be 30001
[code]

**Steps to reproduce the issue:**

1. I am creating users with `/usr/sbin/adduser --shell /

[2022-03-03 23:07] TomSweeneyRedHat commented on #13338
@djarbz I think this is fixed in 4.0.2.  We found a late-breaking bug due to permissions on our call that gets the RunTimeDir.  Any chance you can try 4.0.2?    https://github.com/containers/podman/releases/tag/v4.0.2

[2022-03-03 23:33] rubiksdot commented on #13410
oh god. sorry. I sent this to the wrong (but very related!) app. it's meant to be for the ansible podman container thingo. Sigh. :( I'll just copy it over and close this.

[2022-03-03 23:33] #13410 closed

[2022-03-03 23:43] djarbz commented on #13338
I just updated.
[code]

I am still getting this error, however, I did not see the XDG error!
[code]

[2022-03-04 00:38] TomSweeneyRedHat commented on #13364
I could, but do we have any way to test some of them?  I'd looked into this last night, but couldn't figure out how I'd validate that the arm64 say worked....

[2022-03-04 01:28] skyblaster opened #13420 "Missing systemd files in Debian 4.0.1 podman package"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description:**

@siretart, similar to Debian report [1001780](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1001780), the `4.0.1+ds1-2` package in the 'experimental' branch is missing several systemd files.

Comparing the online file list between packages for [bookworm](https://packages.debian.org/bookw

[2022-03-04 06:19] afbjorklund commented on #13364
You can use Lima to start a Podman VM (or you could use an aarch64 cloud instance)

[2022-03-04 06:25] afbjorklund commented on #13364
Adding `qemu-user` allows you to run arm64 binaries on your amd64 host, as well.

[2022-03-04 08:02] jianzhangbjz commented on #13400
@vrothberg Yes, I think so, thanks for your checking. Close it.

[2022-03-04 08:02] #13400 closed

[2022-03-04 08:23] vrothberg commented on #13400
Glad we could resolve the issue, @jianzhangbjz.

[2022-03-04 08:24] vrothberg commented on #13417
@ashley-cui please take a look

[2022-03-04 08:29] vrothberg commented on #13420
Thanks for reaching out, @skyblaster!

Since the Debian folks are already informed, I am going to close since there is nothing we can do upstream.

[2022-03-04 08:29] #13420 closed

[2022-03-04 09:00] albertdb commented on #13415
Just 4.0.2

[2022-03-04 09:26] #13411 closed

[2022-03-04 14:18] rubiksdot commented on #13397
Sorry. My bad. Accidentally filed this under podman rather than podman's ansible collection. :(

[2022-03-04 14:18] #13397 closed

[2022-03-04 15:29] jameskim0987 commented on #8118
I'm getting the `Error: failed to mount overlay for metacopy check with "nodev,metacopy=on" options: invalid argument
` after the install. I opened the `/etc/containers/storage.conf` and changed the `on` to `off` but I still get the same error.

Is it expected to get this error from a clean install and how can I fix this issue? Can I just comment out that entire line?

Environment: Ubuntu 18.04
[c

[2022-03-04 15:34] markkrj opened #13422 "Allow appending shared namespace to pod (something like --share +pid)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add option to allow appending shared namespace to pod

**Steps to reproduce the issue:**

1. podman pod create --name test --share pid

2. podman pod inspect test --format '{{join .SharedNamespaces ","}}'

**Describe the results you received:**

`pid`

**Describe the results you expected:

[2022-03-04 15:37] 0xFelix commented on #13401
It could have something todo with this bug https://github.com/containers/buildah/issues/1709

When running your setup with vfs as storage driver it works for me.

[code]

[2022-03-04 16:48] keonchennl commented on #13347
@Luap99 I still have this issue but on Ubuntu. I reproduced the issue with build `4.0.2 dev` and `4.0.0dev` (main branch) on Ubuntu 20.04.

[2022-03-04 20:42] umohnani8 commented on #13030
@Taymindis I tried this out and the port mappings are being set correctly in the generated yaml for me, here is a snippet
[code]

Can you try the latest podman and see if that works for you?

I am also not seeing the hostname being set as an ENV, but will open a PR to set it correctly to the pod spec's hostname.

[2022-03-04 20:47] baude commented on #13394
Yes, indeed.  However, to make FindHelperBinary actually work, a change needs to be made in containers-common and be vendored through all of our container projects.  I will create the PR for common once I am done getting the darwin mounting stuff working.  very close now.

[2022-03-04 20:55] Aposhian commented on #11780
I plan to start working on this in my fork.

[2022-03-05 09:07] wh6b opened #13426 "Rootless podman and authbind"
**BUG REPORT**

/kind bug

**Description**
Hello all, podman rootless container wont bind to port 80 with authbind configured while it works with another commands like python3 -m http.server 80
I dont want use ip_unprivileged_port_start (I just need to exposed few ports) to or firewall rules (I use firewalld and local processes dont follow firewalld port forwarding without adding iptables/nft rule

[2022-03-05 12:30] dvzrv opened #13427 "No chain of trust for release 4.0.2"
/kind bug
(sorry, forgot to remove the one line)

**Description**

The chain of trust for podman releases is again broken with 4.0.2 (also see #10972) and prevents downstreams from packaging the release.

The release 4.0.2 has been signed by @lsm5 (`9E33DD8704CC03E2DEB84D9A1C1EDD7CC7C3A0DD`) and not by @mheon (`B7DBDCA456F7335E91F1C25CD3624C551D0515C4`). No signature of the latter on the former ke

[2022-03-05 12:36] rtritto opened #13428 "Failed to retrieve default tmp dir: invalid image_copy_tmp_dir value "/var/tmp" (relative paths are not accepted)"
**Description**

Warning `invalid image_copy_tmp_dir value "/var/tmp"` after some podman commands.

I'm using Podman _client v4.0.2_ on Windows 11 under _WSL2_ (Fedora 35 in _podman-machine-default_ distro).

No warning in Fedora environment.

**Steps to reproduce the issue:**

`podman pull <image>`
OR
`podman rmi <image>`
OR
`podman info --debug`

**Describe the results you received:**

[code]

*

[2022-03-05 14:44] eriksjolund opened #13429 ""podman build" after startx fails with "error running container: error from /usr/bin/crun creating container for [/bin/sh -c /bin/true]: sd-bus call: Process org.freedesktop.systemd1 exited with status 1: Input/output error""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build` fails after opening a virtual console and running `startx`.
The error message is:

[code]
The same Dockerfile builds successfully if `startx` is not run before.

**Steps to reproduce the issue:**

1. As root run
[code]

2. Switch to a virtual console by pressing Ctrl-Alt-F3
3.

[2022-03-05 21:09] kousu opened #13432 "`STORAGE_DRIVER=overlay` fails when `len(mount_data)==4096`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In an obscure situation it's possible to trigger

There is meant to be protection in the code against this

https://github.com/containers/podman/blob/f4d6e8777213880204ccbce92201c47c74b33036/vendor/github.com/containers/storage/drivers/overlay/overlay.go#L1521

**Steps to reproduce the issue:

[2022-03-06 00:57] TomSweeneyRedHat opened #13434 "podman-v4.0.2.msi issues"
This may be me just having issues with Windows, but when running Podman on Windows after installing the 4.2 msi, I'm seeing

A complaint about /tmpfs, which I wasn't able to make happy using the `--tmpfs` option.  I get the same error with or without the `--tmpfs`.

[code]

Then when I try to use the `-d` option, the container runs until I try to exec into it and it appears to drop into a "Created

[2022-03-06 00:59] TomSweeneyRedHat commented on #13434
And fwiw, if I don't use the `-d` option and then open a new window, I can exec into the container without issue.

@n1hility @baude @ashley-cui any thoughts?

[2022-03-06 01:19] n1hility commented on #13434
@TomSweeneyRedHat Sorry I have been meaning to but haven’t gotten around to fixing that tmp warning yet. It should be a small patch to common. The containers.conf is in your windows users home under AppData\Roaming\containers\containers.conf

The other container state issue I had not run into yet. Does it happen when using —remote on Linux or Mac?

[2022-03-06 04:30] jewthon commented on #13388
Plz assign me this issue . I want to work on it @Luap99 @baude

[2022-03-06 04:36] peerasan commented on #13434
I also face the issue on Windows 11.  I wonder if is it effect to usage or not?   or just annoy message.

[code]

[2022-03-06 05:18] n1hility commented on #13434
@peerasan it’s harmless just annoying. You should be able  override the config setting to make it go away.

[2022-03-06 06:20] muayyad-alsadi commented on #11780
in docker you place binaries with exec flag in `/usr/libexec/docker/cli-plugins/` or `~/.docker/cli-plugins` named `docker-COMMAND`

we need to place `podman-compose` in `/usr/libexec/podman/cli-plugins/`

[2022-03-06 08:54] eriksjolund commented on #13429
I repeated the first test (i.e. see user _test103_ above) but now with `--log-level=debug`.
The command `systemd-cgls --no-pager -u user-$(id -u).slice` was also run.
<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2022-03-06 10:19] Luap99 commented on #13388
@jewthon You got it, feel free to ping me if you need help.

[2022-03-06 10:39] mcejp commented on #12003
FWIW, I found this issue when googling for problems with DNS resolution among my containers. Turns out I was just missing the `podman-plugins` package -- perhaps this helps somebody.

[2022-03-06 10:40] mcejp commented on #10855
FWIW, I found this issue when googling for problems with DNS resolution among my containers. Turns out I was just missing the `podman-plugins` package -- perhaps this helps somebody.

[2022-03-06 12:57] Luap99 commented on #12591
Closing since we now have official packages it should work, if not please let us know.

[2022-03-06 12:57] #12591 closed

[2022-03-06 13:01] Luap99 commented on #13429
Can you check the `DBUS_SESSION_BUS_ADDRESS` env var before and after startx?

[2022-03-06 13:24] Luap99 commented on #13426
From http://manpages.ubuntu.com/manpages/trusty/man1/authbind.1.html

Rootless podman will always run in a userns namespace with your user mapped to root, so the euid is always 0.
Also since podman runs in the user namespace the setuid authbind program will not work correctly because the hosts root is not mapped into this namespace.

I don't think authbind can work correctly with "newer" kernel fe

[2022-03-06 13:24] #13426 closed

[2022-03-06 13:27] siretart commented on #13347
@keonchennl please file a bug report using the tool `ubuntu-bug`, which whill make the bug show up at https://bugs.launchpad.net/ubuntu/+source/libpod and please be very detailed about what distribution you are using and how did you setup your package sources. Feel free to subscribe me to that bug on launchpad.

[2022-03-06 13:30] #13412 closed

[2022-03-06 13:37] Luap99 commented on #13402
Please check your containers.conf files for `network_config_dir` it should be commented out by default.
The following locations are used `/usr/share/containers/containers.conf` `/etc/containers/containers.conf` and `~/.config/containers/containers.conf`

[2022-03-06 13:52] eriksjolund commented on #13429
I created a new user _test116_.

Before running `startx`:
[code]

After running `startx`:
[code]

[2022-03-06 13:59] Luap99 commented on #13429
https://bugzilla.redhat.com/show_bug.cgi?id=1622259
This is not a podman bug.

[2022-03-06 13:59] #13429 closed

[2022-03-06 15:46] jeffreybreen commented on #12132
I am also seeing these errors on my Mac laptop after podman's vm has been running for a long time (such as overnight), so the speculation around sleep or other power saving-related state changes makes sense.

My question -- and pardon my ignorance -- is more basic: what are these connection attempts? These do not look like local IP addresses. Is this some sort of dial-home functionality I am not a

[2022-03-06 15:54] jeffreybreen commented on #12132
Answering my own question...of course. Podman's machine is running CoreOS, so Zincati is probably just doing its normal auto-update thing....

[code]

[2022-03-06 17:22] Luap99 commented on #13338
@djarbz see https://github.com/containers/podman/issues/13402#issuecomment-1059964347 for the permission denied problem.

Since the XDG problem is fixed I close this issue.

[2022-03-06 17:30] DevDorrejo commented on #4217
Hello this issue happen on last upstream too

[2022-03-06 17:40] djarbz commented on #13402
I am running into the same issue on Debian 11.

From what I can tell, everyone should have read permissions on the lock file.
[code]

network_config_dir is set only in the /usr/ location and is not commented out by default.
[code]

If I comment this line out, then `podman info` seems to work.

[2022-03-06 18:26] djarbz commented on #13338
Hi @Luap99, I apologize, but it looks like this issue is not actually resolved.

I was able to fix my issue with cni.lock ([#13402 (comment)](https://github.com/containers/podman/issues/13402#issuecomment-1060007360))
Now the XDG error is appearing after enabling linger for a user but prior to rebooting the host.

[code]

[2022-03-06 18:53] Luap99 commented on #13402
It looks like you use the debian package, please report this as bug there since it seems to ship a incorrect containers.conf. Unless there is a specific reason all fields should be commented out, network_config_dir should definitely not be set by default since it will not work for rootless and it would use the wrong directory for the netavark network backend.

[2022-03-06 19:11] keonchennl commented on #13347
@siretart I could not report the bug using the `ubuntu-bug` tool, as it says it's not an official Ubuntu package. The package (podman) where I found the bug, was built directly from this repo on branch `v4.0` and `main`.

[2022-03-06 19:30] siretart commented on #13347
The thing is, I don't have much capacity other than working on the official Ubuntu packages. Please reach out to the supplier of your package, I guess?

Thank you for your understanding

[2022-03-06 19:37] tricktron commented on #13394
@zowoq I created the following file under `/etc/containers/containers.conf.d/99-gvproxy-path.conf`
[code]
Now podman writes the following path into the json: `/etc/profiles/per-user/<user>/bin/qemu-system-aarch64`.

So you can just enter your `nix/nix-darwin/home-manager/nixos` path there.

[2022-03-06 19:41] djarbz commented on #13338
I just spun up a Rocky Linux LXC to test and I am experiencing the same XDG error.

OS Release
[code]

Podman Version
[code]

Podman Info
[code]

[2022-03-06 19:45] Luap99 commented on #13338
@djarbz Can you change the permissions of /run/user/$UID to 0700. This should work for now.

[2022-03-06 19:50] djarbz commented on #13338
@Luap99

No change unfortunately, for either Debian or Rocky.

[2022-03-06 21:35] zowoq commented on #13394
@tricktron I'm trying to get this fixed for all nixpkgs users so they don't need to deal with manual configuration.

[2022-03-07 04:45] ubergeek77 commented on #9131
@mheon

(Apologies if this is off topic, this is the only discussion I could find of this issue, and I'm not sure if it's a bug)

In rootless mode, I need `--privileged` to allow the container to use namespaces (for `nsjail`), but I need `--cap-add SYS_ADMIN` to allow the container to mount images via FUSE (`fuse2fs` to mount an ext4 image).

I don't know why, but having just `--privileged` does n

[2022-03-07 06:54] hussam-qasem commented on #13363
I'm facing a similar issue. Anything related to `maxkeys`?
[code]

[2022-03-07 08:35] dcermak commented on #13324
I would definitely be in favor of that.

Unfortunately this is not guaranteed by the POSIX standard. Most shells do that, but we can't really rely on that.

[2022-03-07 11:29] #13332 closed

[2022-03-07 13:17] fajtgyo opened #13443 "podman login to registry fails on first attempt after changes in resolv.conf"
/kind bug

**Description**

If the podman service is started while having a nameserver in /etc/resolv.conf, that cannot resolve the local registry, the first attempt of login fails to the registry (image push) even if resolv.conf has been updated since, as podman still tries to resolve the name based on the old resolv.conf content.
On the next attempt it succeeds, reaching out to the correct names

[2022-03-07 13:24] fdcds commented on #11482
I am using Podman 3.4.4 with Docker 18.09.5 in a container and get:

[code]

Updating to Docker 20.10.12 makes the build succeed. Will the problem be fixed in a future Podman release or is the solution to this issue to update the Docker client to one that uses API v1.40?

[2022-03-07 13:30] mario19911 opened #13444 "Security best practice when special capabilities are needed"
It is not really a bug or a feature, just a question about security.

I have a pod in which multiple containers are running...some of these containers do not need special capabilities whereas others need the capability to start realtime tasks, use unprivileged ports, raw sockets and so on.

As far as I know it is possible with podman to start the container as root, drop all privileges and assign o

[2022-03-07 13:36] #13301 closed

[2022-03-07 13:39] mheon commented on #13444
@rhatdan Does `--userns=auto` work with pods? That wouldn't help with attacks within the pod but would insulate the rest of the system from the pod.

[2022-03-07 13:44] deepforu47 commented on #11399
I am still getting below error with Podman "3.4.4" on Mac.

`Error: writing blob: adding layer with blob "sha256:b4b03dbaa949daab471f94bcfd68cbe21c1147e8ec2acfe3f46f1520db48baeb": Error processing tar file(exit status 1): potentially insufficient UIDs or GIDs available in user namespace (requested 630384594:600260513 for /usr/bin/etcdctl): Check /etc/subuid and /etc/subgid: lchown /usr/bin/etcdctl

[2022-03-07 13:47] mheon commented on #13443
This seems like an issue with Golang itself, not Podman, as I'm quite certain we're using the standard Golang code for this.

[2022-03-07 14:32] mheon commented on #4217
Yes, and we have no intention of fixing it in the CLI as, in our eyes, it's a bug in Docker. For the Docker-compatible API, we will fix it, as we guarantee bug-for-bug compat there; this has not been done yet.

[2022-03-07 14:43] djarbz commented on #13402
@call-a3 Try with the latest version that was pushed to that repo last night.
I tried on a fresh install and I am no longer receiving this error.
You may need to uninstall and delete `/usr/share/containers/containers.conf` and then reinstall podman.

[2022-03-07 14:48] lsm5 commented on #13427
@containers/podman-maintainers i think people cutting releases for all tools should spend some time signing each others keys.

[2022-03-07 14:58] rhatdan commented on #13444
Man page says it does, and I know @cdoern worked on adding this functionality.

[2022-03-07 15:20] rhatdan commented on #13443
I would figure that the podman service exited and restarted on the third attempt.  libc and probably golang does not watch for changes in /etc/resolv.conf, it is read once per start of an application.

Restarting the service is the best you can do.

[2022-03-07 15:20] #13443 closed

[2022-03-07 15:56] fajtgyo commented on #13443
The service does not restart between first (failed) and second(successful) attempt.

[2022-03-07 16:46] baude commented on #11997
yeah @mheon thats the general idea ...

[2022-03-07 16:53] rhatdan commented on #11458
@dustymabe Any chance of us getting this package installed by default?

[2022-03-07 17:31] owtaylor opened #13446 "Regression: "unterminated quoted string" using escape sequences in inspect template"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman pull registry.access.redhat.com/ubi8'

2. `podman inspect registry.access.redhat.com/ubi8 --format='{{ range .Config.Env }}{{ . }}{{"\n"}}{{ end }}'`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

[2022-03-07 17:50] mheon commented on #13428
Closing as dupe of https://github.com/containers/podman/issues/13434

[2022-03-07 17:50] #13428 closed

[2022-03-07 18:10] dustymabe commented on #11458
@rhatdan - see request and discussion at https://github.com/coreos/fedora-coreos-tracker/issues/1088

[2022-03-07 18:32] #13222 closed

[2022-03-07 18:45] rhatdan commented on #13090
@vrothberg @giuseppe Lets talk about this at Watercooler tomorrow.

[2022-03-07 18:46] rhatdan commented on #12417
@baude @umohnani8 Progress?

[2022-03-07 18:47] rhatdan commented on #12421
I think this was answered on how to descover, since there has been no recent action, I am going to close.

[2022-03-07 18:47] #12421 closed

[2022-03-07 19:00] baude commented on #12417
it was just assigned last week.  and the function has to first go into podman/libpod.

[2022-03-07 19:17] EdDev commented on #13401
It seems that if the storage path is changed for rootless containers on RHEL8, things stop working.
With @0xFelix tip above, I managed to explicitly set `mount_program = "/usr/bin/fuse-overlayfs"` and from here on it started working.

I think this is a workaround, not a solution.

Regarding the original problem of this issue, It will be nice to update the manual to reflect the results seen here.

[2022-03-07 19:41] kousu commented on #13123
This is sort of beating the horse dead, but I have only been working on this in my spare time, and I want to be sure. I got stumped on https://github.com/containers/podman/issues/13432 too...

but anyway now I've been able to work out a minimal reproducer the replicates your bug without having to download anything, which shows that the issue really is the many layers:

[code]

I made a username wi

[2022-03-07 19:42] lsm5 commented on #13350
@fpoirotte Let me try enabling the podman4 copr for c8s. If it proves too painful to maintain, I probably will disable it back. Let's see how it goes.

[2022-03-07 20:50] rhatdan commented on #12666
Since we got no response for information, I think the problem is fixed.  Closing, Reopen if I am mistaken.

[2022-03-07 20:50] #12666 closed

[2022-03-07 20:50] rhatdan commented on #12533
@mheon Did you ever get anywhere with this one?

[2022-03-07 21:03] rhatdan commented on #11780
Only issue, is you would need to add support for CLI plugins to Podman then.

[2022-03-07 21:35] baude commented on #13388
shouldn't this be implemented in netavark ?

[2022-03-07 21:38] Luap99 commented on #13388
no this is a slirp4netns ipv6 hack

[2022-03-07 21:50] baude opened #13448 "Proposed change to podman machine rm --force"
I would like to propose a small change to `podman machine rm --force`.  The help text says `--force` means *Do not prompt before rming*.  I would like to add that `--force` would stop the machine (it does not today) and remove it without prompts.  Would anyone have a conniption fit?

[2022-03-07 22:16] ubergeek77 opened #13449 "[Rootless] --privileged does not grant SYS_ADMIN to non-UID-0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In **rootless mode**, `--privileged` does not grant `SYS_ADMIN` to the container unless the container is running as UID 0.

**Steps to reproduce the issue:**

1. Build an image with this `Containerfile` and `podman build -t issue-demo .`

[code]

2. Use `--privileged` and try to mount `test.i

[2022-03-07 22:16] rhatdan commented on #13448
No that would seem to be what humans would expect.

[2022-03-07 22:22] mheon commented on #12533
No, I think this needs to be looked at as a part of a larger restructuring
of hosts handling

On Mon, Mar 7, 2022 at 15:51 Daniel J Walsh ***@***.***>
wrote:

[2022-03-07 22:23] ubergeek77 commented on #9131
Understood. On the off chance a future reader comes across this issue with the same problem, here is the new issue:

https://github.com/containers/podman/issues/13449

[2022-03-07 23:25] DevDorrejo commented on #4217
Thank you very much for the reply, i will go to bother docker to fix this issue XD.

[2022-03-08 01:23] TomSweeneyRedHat commented on #13434
@n1hilty I'm not able to get qemu to standup on my Fedora system, it could be user error.  I don't have a mac to test with.

[2022-03-08 01:58] zowoq commented on #13394
Seems `CONTAINERS_HELPER_BINARY_DIR` isn't respected if it is changed after the vm is created?

[code]
`podman machine start` should work with `qemu_2` but instead it fails trying to use `qemu_1`?

[2022-03-08 01:58] TomSweeneyRedHat commented on #13434
and just to be sure, I'm using version 6.1.0 of qemu on Fedora, IDK if that might be part of the problem or not.

[2022-03-08 02:17] ramanNarasimhan77 opened #13451 "Installation steps for WSL2 installs old version of Podman [3.4.2-1]"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

This is probably not a bug, but it is definitely not a feature; it is more of a question seeking guidance.
I selected bug because there are only 2 options (feature/bug) available.

**Description**

I am trying to move my local setup completely from Docker to Podman on WSL2, so trying to install latest Podman

[2022-03-08 04:07] yifeikong commented on #12379
I was having the same problem. My guess is that my podman machine is migrated from old Intel MacBook, so the image is Intel based, on which the Qemu bin is located in /usr/local/bin. My solution was simply remove the old machine and creates a new one.

[code]

Everything works like a charm.

[2022-03-08 05:16] mario19911 commented on #13444
I just tried the option for the podman run command:
`podman run -it --userns=auto --cap-add cap_sys_nice,cap_sys_time -v /home/test:/usr/bin realtime /bin/bash`

When executing my realtime-program I get the error "no permission". Also when trying to set the time I have the same problem.

On the other hand with the command
`podman run -it --cap-add cap_sys_nice,cap_sys_time -v /home/test:/usr/bin r

[2022-03-08 08:04] vrothberg commented on #13448
SGTM

[2022-03-08 10:04] Foxboron commented on #13427
You can sign each others keys or publish a signed document with one of the previous release keys. Both equally work for this usecase. Having some form of chain of trust is obviously preferably then keeping a document updated every now and then :)

Example from `libvirt` which had problems cross-signing keys during the pandemic https://libvirt.org/downloads.html#keys

[2022-03-08 11:23] markkrj commented on #13422
@mheon if you think that patch is OK, I can open a PR for it (plus docs)...

[2022-03-08 11:37] rvandernoort commented on #13270
I could try to implement the negation functionallity for filtering if that is desired, otherwise I can change the docs. Is this something that would only be necessary for `label`?

[2022-03-08 13:06] mheon commented on #13444
You’ll need to set it for the entire pod, by adding it to the pod create
command line.

On Tue, Mar 8, 2022 at 00:16 mario19911 ***@***.***> wrote:

[2022-03-08 13:08] mheon commented on #13444
Though, using cap-add with it may not do what you expect in general, as
user namespaces lose access to the real capabilities of the system in favor
of more limited emulated capabilities.

On Tue, Mar 8, 2022 at 08:06 Matthew Heon ***@***.***> wrote:

[2022-03-08 13:22] rhatdan commented on #13270
Just update the docs.  Do you see the negation as actually something of value?

[2022-03-08 13:30] #13150 closed

[2022-03-08 13:31] rhatdan commented on #13444
A rootless user is not going to be allowed to set the system time,  without or without a usernamespaced CAP_SYS_TIME capability.

[2022-03-08 13:31] #13444 closed, assigned to nobody

[2022-03-08 13:34] lovette commented on #13270
Personally I would find negative filters on probably everything helpful. Right now I’m using a bunch of awk and greps to workaround and it’s awful. But I appear to be alone on this front given Docker has not added it 🤷‍♂️

[2022-03-08 14:05] fogfish opened #13456 "MacOS helper daemon (podman-mac-helper) fails to start and "mount" `/var/run/docker.sock`"
/kind bug

**Description**

podman-mac-helper daemon fails to start after machine is started/stopped. It is required to remove `podman.sock` from `$HOME/.local/share/containers/podman/machine/podman-machine-default/podman.sock` to make it working.

**Steps to reproduce the issue:**

1.  `podman machine init && podman machine start`
2.  Do something with podman e.g. start some containers
3. `podman

[2022-03-08 14:17] Luap99 commented on #13388
the workaround is to set `network_cmd_options = []` under the `[engine]` section in `~/.config/containers/containers.conf`

[2022-03-08 14:25] Luap99 commented on #13365
Adding an option does not fix the underlying problems mentioned in https://github.com/containers/podman/issues/13365#issuecomment-1054017279 or https://github.com/containers/podman/issues/13365#issuecomment-1054633148

I don't think there is a good solution here.

[2022-03-08 15:42] Vogtinator opened #13458 "storage.options.mount_program not set if driver overwritten by storage database"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman writes (meta)information about the storage into `libpod/bolt_state.db`, so that the right settings to use it are available.
In the case of running podman in a rootless environment with `overlay` as storage driver for that particular storage, it does not set `mount_program` automaticall

[2022-03-08 16:06] Vogtinator opened #13459 "mount_program not autodetected when using --root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the `--root` option, it does no longer autodetect `fuse-overlayfs` as `overlay.mount_program`. It has to be specified explicitly on the commandline to make podman start again.

Both this and https://github.com/containers/podman/issues/13458 are about `mount_program` not getting aut

[2022-03-08 17:11] edsantiago commented on #13227
@containers/podman-maintainers this is really blowing up and causing problems everywhere, e.g. https://status.testing-farm.io/issues/2022-02-08-libpod-error/

How can we escalate this?

[2022-03-08 17:15] mheon commented on #13456
@baude PTAL

[2022-03-08 17:16] mheon commented on #13422
Sure, looks fine

[2022-03-08 17:17] mheon commented on #13451
@baude That's your article - might want to contact the Enable Sysadmin folks to request an update?

[2022-03-08 18:34] baude commented on #13451
it should probably be retired ... agree @rhatdan ?

[2022-03-08 19:35] muayyad-alsadi opened #13461 "support CLI plugins"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
as discussed [here](https://github.com/containers/podman/issues/11780#issuecomment-1061133562)
it's good to have a `podman <COMMAND>`  by running executable named `podman-<COMMAND>`
found in `/usr/libexec/podman/cli-plugins/` or `~/.podman/cli-plugins`

[2022-03-08 19:36] muayyad-alsadi commented on #11780
@rhatdan I've created an issue for that

[2022-03-08 19:37] baude commented on #13456
@n1hility the helper came from you correct? mind peeking at this issue?

[2022-03-08 19:49] rhatdan commented on #13451
Yes.

[2022-03-08 19:56] rhatdan commented on #13461
If you have plugins in both directories, we execute the local ones?

~/.config/containers/cli-plugins?
~/.local/share/containers/cli-plugins?

[2022-03-08 20:34] n1hility commented on #13456
sure will take a look and follow up with any fix

[2022-03-08 20:45] n1hility commented on #13456
/assign

[2022-03-08 20:50] keonchennl opened #13462 "Error: could not find "rootlessport" with podman 4.0 on WSL Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While trying to run any container with podman 4.0, the error "could not find 'rootlessport'" shows up. The latest distribution does not have this problem.
This is the same as described in this issue #13347
I tried manually building 'rootlessport' by `make rootlessport` but got the following e

[2022-03-08 20:58] n1hility commented on #13456
@fogfish are you sure that the rm is necessary? So far I am having trouble reproducing. It is required to restart the machine after the agent is installed (sorry instructions could be improved there) as the agent only creates it on demand when requested by machine start

[2022-03-08 21:05] keonchennl commented on #13462
I am also interested in working on this but not sure where to start... Is updating the make file (to include rootlessport) helpful?

[2022-03-08 21:10] hifigraz opened #13463 ""operation not permitted" on passed devices"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. ```sudo podman container run --root --rm -it --device /dev/sdc archlinux /usr/bin/sh```
   - You can use any device I've also tried and need /dev/ttyACM0

3. ```# fdisk /dev/sdc```

**Describe the results you received:**

I get a "fdisk: cannot open /dev/sdc: Operation not permitted"

**Describe the results you expected:**

partitio

[2022-03-08 21:26] Aposhian commented on #11780
Related: https://github.com/containers/podman/discussions/13425

[2022-03-08 21:28] dav009 opened #13464 "Running a pod on OSX leaves infra container running forever"
I am running a pod via play kube. My container exits, but the companion infra container keeps running forever, meaning that the whole pod keeps running forever

Is there a way to make infra container exit once pod's containers exit?

I am running on OSX

[2022-03-08 21:31] baude commented on #13464
OSX has nothing to do with it.  And fwiw, this is normal pod behavior.  I don't recall offhand that it is possible to do what you are asking; though it is getting late in the day and maybe someone will remember something.

[2022-03-08 21:51] rhatdan commented on #13462
rootlessport should be shipped as part of the distribution.
What distro are you using?

[2022-03-08 21:52] rhatdan commented on #13462
This is not an upstream issue, but more to do with the distro you are using. We can continue the conversation here.

[2022-03-08 21:52] #13462 closed

[2022-03-08 21:53] rhatdan commented on #13461
Ok I guess your suggested directories work, since this would be specific to Podman as well.

[2022-03-08 21:57] rhatdan commented on #13464
We have talked a while about instrumenting what should happen in a Pod when containers exit.

1 Pod exits
2 Pod restarts container
3 Pod does nothing

I think we should add a feature to Pod/Containers for them to specify this.
Default should be for the Pod to exit when it has no containers running.

[2022-03-08 22:05] TomSweeneyRedHat commented on #13434
reopening.  The fix took care of the tmpdir issue, but the `podman run -d` not working is still present.

[2022-03-08 22:29] edsantiago commented on #12624
Note for future: the flaking test was disabled by #13460.

We are going to get monthly "friendly reminders" from github. **KEEP THIS BUG OPEN**. If you get tired of the friendly reminders, either fix the bug or completely remove the offending test (as in, remove the code entirely, don't just skip).

[2022-03-08 23:49] baude commented on #13464
captured in RUN-1458

[2022-03-09 03:52] baude commented on #13124
@Luap99 is this fixed in 4.x? If so, lets close

[2022-03-09 05:44] n1hility commented on #13415
@albertdb Are you running the latest version and virus definitions? The CrowdStrike Falcon scanner that runs as part of VirusTotal.com, which its supposed to be always current, does not pick it up.

Another idea to try is a version built with go 1.16, golang executable do often trip up virus scanners requiring allow listing.

I built one for you if you want to try here in case you don't have a lin

[2022-03-09 07:14] martinetd opened #13467 "default seccomp profile is slow (on aarch64?)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug ?

**Description**

I was pointed out by one of our users that some benchmark workload ran much slower within a container than without (about half speed).
(For reference, it was https://github.com/kdlucas/byte-unixbench 's "pipe" workload and another one there, pipe is a simple loop that writes/read a pipe so

[2022-03-09 08:21] cfeltz34 opened #13468 "Permission denied (Errno 13) issue with Podman Rootless and docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Start Podman with Rootless mode and compose container with docker-compose.
--> PermissionError: [Errno 13] Permission denied (File "urllib3/connectionpool.py", line 677, in urlopen)
No issue with Rootful mode

**Steps to reproduce the issue:**

1. On Redhat 8.5, install "Podman", "docker-comp

[2022-03-09 08:37] dcermak commented on #13459
I would suggest that podman still tries to autodect the mount program even with the `--root` cli flag present, as the current behavior completely breaks user expectations: You don't apply any special settings to podman and just by using `--root` it breaks, if your kernel is old enough.

[2022-03-09 08:51] tricktron commented on #13456
@fogfish Did you try this with the latest version from master?

I am asking because my pr from 2 day ago https://github.com/containers/podman/pull/13442 now removes the `$HOME/.local/share/containers/podman/machine/podman-machine-default/podman.sock` file when running `podman machine rm`.

[2022-03-09 08:51] #13448 closed

[2022-03-09 10:16] cfeltz34 commented on #13468
Fixed issue by redefining DOCKER_HOST variable :
`export DOCKER_HOST="unix:$XDG_RUNTIME_DIR/podman/podman.sock"`

[2022-03-09 10:16] #13468 closed

[2022-03-09 10:18] afbjorklund commented on #13350
Some dependencies are missing:
[code]

[2022-03-09 10:52] rvandernoort commented on #13270
I could also see the value of it in a way. I think it also would be possible to add this minimally invasive by adding a general negation option for all filters.

[2022-03-09 13:33] Vogtinator commented on #13459
Agreed, it's mainly that `mount_program` is a a special case. Are there other storage options for which podman has an internal default?

I see several options:

1. Move `mount_program` autodetection to the overlay storage driver. If it's called in rootless mode and `mount_program` isn't set, it could set a default itself. That would also fix #13458.
2. Explicitly not reset `mount_program` if `--ro

[2022-03-09 13:38] christophemacabiau commented on #12842
sorry i am unable to reproduce it on a simple example, the error message does not help me :-)
if I can reproduce it later I will reopen a bug

[2022-03-09 13:38] #12842 closed

[2022-03-09 13:39] baude commented on #13467
@giuseppe do you know if this should be simply filed with seccomp folks ?  I wouldn't think our seccomp.json is the culprit?

[2022-03-09 15:14] rhatdan commented on #13459
@giuseppe WDYT?

[2022-03-09 15:37] mheon commented on #13467
Quite possible it is. Our profile is *gigantic* - I think we have every syscall in the kernel in there due to the errno split for default action. Means every single syscall has to potentially traverse all 300+ rules to be allowed/denied. This is significantly larger than Docker's, for example.

The libseccomp code could certainly be made better at structuring the rules such that it's not O(n) to f

[2022-03-09 16:30] giuseppe commented on #13467
Constant actions is an internal optimization in the kernel, that is done transparently.  There is nothing to do from userspace.  Could you please check yhat your kernel is new enough that the feature is there?

[2022-03-09 16:35] giuseppe commented on #13459
1 and 3 seem to me like a good compromise.  Anyone would like to open a PR to implement it?

[2022-03-09 20:53] #13108 closed

[2022-03-09 21:19] #12485 closed

[2022-03-09 21:36] alanruttenberg commented on #12053
Hi,
I see that podman 4.0.0 is released. Congratulations! Is the podman machine that it downloads - fedora-coreos-35.20220305.dev.0-qemu.x86_64.qcow2.xz  support 4.0.0? Didn't seem to work with a container checkpoint I tried. If not is there some way to test this now?

[code]

[2022-03-09 22:01] n1hility commented on #13434
@TomSweeneyRedHat I briefly tried mac today with 4.0.2 and it did not happen there, so probably is win specific. I'll take a look and see what's going on

[2022-03-09 22:02] n1hility commented on #13434
/assign

[2022-03-09 23:13] martinetd commented on #13467
Ugh, sorry -- the patch I linked at was never merged, and instead f9d480b6ffbe ("seccomp/cache: Lookup syscall allowlist bitmap for fast path") got in which apparently isn't in my kernel (merged in 5.11, and am on 5.10 and there is no backport), so I guess that's it.

I don't get it though -- it's userspace's code that compiles the bpf program, and the optimization done in kernel could very well b

[2022-03-09 23:13] #13467 closed

[2022-03-10 03:35] baude commented on #12053
yes it supports podman 4. an exact reproducer might help as well as you doing a podman machine ssh and looking at journalctl and other relevant things.  also, does it work if you ssh into the machine and run the commands in linux?

[2022-03-10 05:22] jewthon commented on #13388
If you include an error handling function in the errorhandlingfile in pkg
section and include there that whenever that type of warning comes give an
error message . Is this implementation ok ?

On Tue, Mar 8, 2022, 7:47 PM Paul Holzinger ***@***.***>
wrote:

[2022-03-10 05:38] n1hility commented on #13434
Finally got a chance to try it out and it works for me, although there is a tty warning I need to look into.
[code]

@TomSweeneyRedHat can you do a podman version? I'm just wondering if you have a stale machine.

[2022-03-10 06:07] n1hility commented on #13434
@TomSweeneyRedHat I have a local fix for the TTY issue, will send a PR tomorrow

[2022-03-10 06:25] shuriken1812 commented on #11822
@kriansa exact same issue.
I want to migrate my nakama host -  https://github.com/heroiclabs/nakama/blob/master/docker-compose.yml
But volumes is not supported with latest docker-compose. I hope this gets supported soon.

[2022-03-10 07:03] madhadee opened #13472 "Upgrade version 1.6.4 to latest or Podman 3 at least on RHEL 8.2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
sorry may not be bug request, but could not find information to upgrade on RHEL8.2

**Description**

can't seem to upgrade to latest version of podman 3, followed instructions to install podman on installation guide but only 1.6.4 version is available. would be great help if can get some help on this. I have t

[2022-03-10 08:51] fogfish commented on #13456
@n1hility roger! rm is optional, restart of machine helps.

@tricktron unfortunately, I've tried only 4.0.1 tag but I can try the master as well.

I think the problem is resolved now. It was not obvious about needs to restart machine after installation of agent. Thank you for confirming it!

[2022-03-10 09:47] Luap99 commented on #13388
You should ignore ENOENT here: https://github.com/containers/podman/blob/acfcecf2ae41528d1d7ecd43d37d8fd554f587bc/libpod/networking_slirp4netns.go#L321
But the more important part is to fix the hang, the way how `slirpReadyChan` is completely broken. It also does not actually check that the sysctl is set before we start slirp4netns. So I think fixing the synchronization is more complicated.

[2022-03-10 13:48] rhatdan commented on #13472
This is not an upstream issue, you should open a bugzilla for RHEL problems. The latest Podman is available on RHEL every 12 weeks, you just need to move the modules stream.

[2022-03-10 13:48] #13472 closed

[2022-03-10 13:56] brnosouza commented on #11874
@heapifyman I tested using docker-compose v2.2.3 and podman 4, and the output was kinda the same:

[code]

I'm using Fedora 35 in this case 🤔

[2022-03-10 14:53] Luap99 commented on #13364
This should go through the same build process as the other podman images such as `quay.io/podman/stable`
cc @cevich

[2022-03-10 15:12] ttys3 commented on #13145
@rhatdan it is just a little API compability problem. I think it would be better if the behavior of the various APIs were unified.

The detail is as I described in the issue "Description" section above

[2022-03-10 15:30] albertdb commented on #13415
Same happens with that binary. Version 6.34.14806 and latest definitions.

[2022-03-10 17:02] cevich commented on #13364
I'll take this on.  I'm currently working on a replacement for the github-actions workflow that builds our multi-arch images and manifest list.  I will include building this one in addition, it seems to come from `contrib/helloimage/Containerfile`.

Ref: https://github.com/containers/automation_images/pull/97

[2022-03-10 17:11] n1hility commented on #13415
@albertdb ok thanks. Perhaps their ML engine isn’t used in their virustotal report and that’s why it checks out ok. I’ll send a false positive report to their contact email. If you have a support contract with them you might be able to get a faster response via a bug report / issue. If you have the ability to alter the config / policy they should have an exemption setting you might be able to use

[2022-03-10 19:00] afro-coder commented on #2317
Hey, I came across this issue and would like to try working on this although it may take some time I'm a bit slow, I'm also not well versed with CA certs etc. I just have some questions

I checked the path, and it exists, so what is the end goal, are we trying to add opt-in (--host-ca-certs) or opt-out (--disable-host-ca-certs) to the `podman run` command.

This would be for non-root?
[code]
If no

[2022-03-10 19:36] #12968 closed

[2022-03-10 19:44] n1hility commented on #13415
@albertdb I took a look at contacting them to report the false positive but it looks like only customers can do so unless it shows up on VirusTotal. Skimming the docs I can see it looks like their ML engine has a tuning parameter for how paranoid it is when detecting whether an executable is malicious so I suspect this is why it happens for you and not on VT. Not sure if you have the ability to tu

[2022-03-10 19:54] rhatdan commented on #11899
I think I can close this issue. I believe we settled on the status quo was fine.  Reopen if I am mistaken.

[2022-03-10 19:54] #11899 closed

[2022-03-10 19:56] rhatdan commented on #10391
Since podman info will show the additional store, I think that is good enough.

[2022-03-10 19:56] #10391 closed

[2022-03-10 20:28] lsm5 commented on #13350
Instructions updated on the copr description: https://copr.fedorainfracloud.org/coprs/rhcontainerbot/podman4/ . It's a little different for centos 8 stream. I'll update the install docs on podman.io as well. I won't be able to account for mix-n-match between copr packages and the container-tools module available by default in centos 8. So, I would suggest disabling container-tools module before in

[2022-03-10 20:58] rhatdan commented on #13449
Looks like the cap is set to me.

[code]

I have a feeling masking or some other security feature like SELinux is blocking the access?

[2022-03-10 21:05] ubergeek77 commented on #13449
`--cap-add SYS_ADMIN` was never an issue. That works fine, see step 3 of my issue report.

Can you try your test command again using `--privileged`? That's where I'm having problems.

[2022-03-10 21:27] mheon commented on #13449
@rhatdan You don't have a `--user` in there.

I recall this being related to Docker compat - Docker does not grant certain capabilities to containers when a non-root user is set, even if the container is privileged. I'm on vacation so I can't chase down specific bugs related to this, but I'm 90% sure this was changed to make our behavior closer to Docker's (and because defaulting to giving less ca

[2022-03-10 22:12] TomSweeneyRedHat commented on #13364
@cevich thanks, and good thought @Luap99 .  Chris, @afbjorklund thought there might be problems with the c code across the different architectures.  See prior comments.  If that is the case, I have a bash script and containerfile to build the image tucked away.  If you'd like, I could send them to you or add them to the repo.

The bash should work anywhere, but the resulting image isn't as tiny as

[2022-03-10 22:30] cevich commented on #13364
okay, thanks for the heads up.  I'll keep an eye out for this.  I've got a POC of my new tooling (awaiting review) and was successful getting it to build the unstable podman image.  Though it takes nearly an hour and a half :cry:

Ref: https://github.com/containers/podman/pull/13478

[2022-03-10 22:37] TomSweeneyRedHat commented on #13434
@n1hility I had install 3.3* at one point, but when I went to install 4.0.2, I removed the Podman directory from the machine first and then install 4.0.2.  Perhaps leftover bits from the 3 install were still hanging around?

[2022-03-10 22:41] keonchennl commented on #13462
@rhatdan Thanks for explaining!

[2022-03-10 22:51] n1hility commented on #13434
@TomSweeneyRedHat sorry I meant the wsl based podman machine instance, if there was any chance you had a podman 3 based linux on the backend that the windows remote was talking to.  If so it could be explained by a 4 to 3 api compat issue. If you are using the wsl machine, you should be able to just podman machine rm and podman machine init. Normally you would be able to do a podman machine ssh dn

[2022-03-11 01:44] rhatdan commented on #13449
You are right, we don't give all caps to the default user.  Just add them to the bounding set.
[code]

[2022-03-11 02:28] alanruttenberg commented on #12053
I am mistaken, and checkpointing works! Thank you!

[2022-03-11 08:22] afbjorklund commented on #13364
What comments ?

[2022-03-11 08:33] afbjorklund commented on #13364
@TomSweeneyRedHat https://gnu.org/fun/jokes/hello world.html

[2022-03-11 09:00] giuseppe commented on #13419
could you share the output of `id` when the issue happens (`su -s /bin/bash - myuser -c "id; podman unshare cat /proc/self/gid_map"`)?

[2022-03-11 10:32] yellowhat opened #13482 "kubectl port-forward "Connection reset by peer""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi,
I am using podman on Fedora 35.
I am able to run `podman run -p 12345:80 nginx` and from the host:

[code]

Instead if I start a container (`-p 8080:8080`) with `kubectl` installed and configured to connect to a GKE cluster, if I run inside the container:

[code]

From inside the containe

[2022-03-11 10:33] rhatdan commented on #13449
Docker is slightly different but the user definitely does not get CAP_SYS_ADMIN.

If running with cap-add, Docker and Podman also differ.
[code]
[code]

[2022-03-11 10:46] rhatdan commented on #13482
How is this a Podman issue and not a kubelet issue?

[2022-03-11 11:00] Luap99 commented on #13482
Does kubectl listens on localhost only? Can you check with `ss -tulpn` in the container?

[2022-03-11 12:30] yellowhat commented on #13482
[code]

[2022-03-11 12:32] yellowhat commented on #13482
Yes you are right.
`kubectl port-forward nginx 8080:80  --address 0.0.0.0 ` works:

[code]

Sorry for wasting your time.

[2022-03-11 12:32] #13482 closed

[2022-03-11 12:48] vrothberg commented on #13464
We need such kind of behavior to make `play-kube` play nicely with systemd as well. Getting this done will probably be a by-product the Edge work unless tackled before.

It's probably also a better experience using a single pod in a systemd unit (from podman-generate-systemd).

[2022-03-11 12:51] vrothberg commented on #13461
How should the API of such plugins look like?

[2022-03-11 12:52] vrothberg commented on #13459
Interested in opening a PR, @Vogtinator ?

[2022-03-11 12:54] vrothberg commented on #12838
OK

[2022-03-11 12:54] #12838 closed

[2022-03-11 14:54] baude commented on #13388
user has reported this again on irc; any progress?

[2022-03-11 14:57] jewthon commented on #13388
Not yet . I have tried . But couldn't. Sorry

On Fri, Mar 11, 2022, 8:24 PM Brent Baude ***@***.***> wrote:

[2022-03-11 15:10] Luap99 commented on #13388
I will fix it.

[2022-03-11 15:49] Luap99 commented on #13388
https://github.com/containers/podman/pull/13485 should fix it. It would be great if someone could test this on a system with ipv6 disabled.

[2022-03-11 16:47] cdoern commented on #13464
yeah I can easily add a flag that changes this behavior

[2022-03-11 16:49] baude commented on #13464
@cdoern the stuff @rhatdan describes above should be the default ... as such I dont think a flag is needed?

[2022-03-11 17:14] Luap99 commented on #13461
Also see https://github.com/containers/podman/issues/5802

[2022-03-11 17:44] benoitf opened #13491 "Improve tracking events from podman machines from external tooling"
/kind feature

**Description**

Starting/stopping and all the management of podman machines is an easy task when using the CLI.

But from external tooling wanted to track CRUD operation on the machines there is no 'event' AFAIK.

For example there is a socket where we can listen events when containers are added/removed,etc. but there is no such activity tracker on machines.

**Steps to reproduce t

[2022-03-12 04:36] ctml91 opened #13492 "volume not chowned before container start"
The volume option U does not seem to result in the volume being recursively chowned prior to entrypoint on the first run.

Example: This specific container checks permissions of the mounted dir in the container and fails if they are set to root.

https://github.com/abraunegg/onedrive
[code]

Although the volume is created it is not chowned before the entrypoint is called and it throws an error. Yo

[2022-03-12 06:36] nivekuil commented on #13350
Getting this error with `podman run`, doesn't go away with ` --security-opt=seccomp=unconfined`: `Error: loading seccomp profile (/usr/share/containers/seccomp.json) failed: seccomp not enabled in this build`

[2022-03-12 08:09] floriplum opened #13493 "Podman socket won't show health status as a event"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The podman/docker socket won't update the health status of running containers.
That is important for services like traefik that check the container health.

**Steps to reproduce the issue:**

1. Start the podman socket

2. listen to the events on the socket.
`curl --unix-socket /var/run/docker

[2022-03-12 08:11] floriplum commented on #13493
I also opened an issue on the traefik github, but the issue looks like the podman api is different compared to docker for events.
https://github.com/traefik/traefik/issues/8833

[2022-03-12 09:03] nivekuil commented on #10105
According to an error message I just got podman has a secret size limit of 512k, which I think should block this issue since k8s can have much bigger secrets (https://github.com/kubernetes/kubernetes/issues/19781)

[2022-03-12 09:09] n1hility commented on #13434
PR for TTY issues: #13494

[2022-03-12 09:51] alanruttenberg commented on #12053
While the example checkpoint from the documentation works, on the case I am working on it has failed. I am trying to export the checkpoint with "-e" and the resultant checkpoint file is empty but there is no complaint. If I run the checkpoint inside the podman machine, I get the error

[code]

The CRIU logfile is over 1m, so in the interest of getting started I'm just including tail -50, below, wh

[2022-03-12 10:22] Marwel commented on #13493
When running "podman healthcheck run $containername", the health status is updated.
I also have other containers, where healhchecks are working as expected, so it is not always an issue.

[2022-03-12 10:59] flouthoc commented on #13188
Is this still flaky.

[2022-03-12 17:18] kbaran1998 commented on #13266
Created a [PR](https://github.com/containers/podman/pull/13490) for this issue.

[2022-03-12 17:23] floriplum commented on #13493
For me when i run podman healthcheck run $containername is still don't get the health status while listening to events in the socket.

[2022-03-12 22:45] chadbrewbaker opened #13495 "net.Dial() timeout reported in terminal"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

[code]

**Description**

I'm getting this error in the terminal with Podman in the background.
**Steps to reproduce the issue:**

Run podman, in the background, have these errors in the terminal.

**Describe the results you received:**

**Describe the results you expected:**

No errors in the terminal.

**Add

[2022-03-13 02:19] scottcwang commented on #13098
I ran into this issue too on Fedora 35 -- I'm not using healthchecks. Here's a minimal example.

[code]

[2022-03-13 02:24] scottcwang commented on #13098
PS additional debug info:

[code]

[code]

[2022-03-13 10:29] Luap99 commented on #13495
Duplicate of #12132

[2022-03-13 10:29] #13495 closed

[2022-03-13 15:05] har7an opened #13496 "rootless podman fails to process tar file when pulling images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running rootless podman from within a rootless podman container, some images aren't processed correctly. In particular, I noticed that e.g. `docker.io/library/python:3.9.10` cannot be pulled, due to some error with `tar` (See below).

From what I have gathered so far in other issues ([1]

[2022-03-13 15:09] har7an commented on #13496
I admit that this is likely a very uncommon setup... What I'd like to achieve is to have a podman container that has the `gitlab-runner` installed and can work both as `docker` executor (via `podman-docker`) and `shell` executor directly, all rootless and without `--privileged`, if possible. To that end I am running a container with systemd (for the `gitlab-runner` service that communicates with G

[2022-03-13 15:18] Zanathoz commented on #11719
@baude - Unfortunately, netavark and Podman4 result in a similar issue. Here's output of the docker-compose:

[code]

This is on a fresh server running commands as non-root administrative account.

[code]

[2022-03-13 15:32] rhatdan commented on #13464
I would like a default for pod creation, how to handle containers. I don't know what the option shouldbe called.

--cfinish=[exit | ignore| restart]
I guess for cosistancy we would need to default to ignore. Should be in containers.conf.

[2022-03-13 15:42] rhatdan commented on #10105
@ashley-cui PTAL

[2022-03-13 16:08] Luap99 commented on #11719
Do you run docker-compose against the root socket? Your (rootless) podman info says `networkBackend: netavark` which is good but the error is clearly from cni. I would guess that the rootful mode is still using cni.

[2022-03-13 16:27] Zanathoz commented on #11719
Understood. I have not rebooted this server after installing Podman4 but I did reboot my production server after the upgrade and ran into the same error I posted above. I just checked and it is also using CNI.

I followed this guide to upgrade from Podman3.4 to 4.0.2 - https://podman.io/blogs/2022/02/04/network-usage.html

How can I force root to use the new netavark instead of CNI?

[2022-03-13 16:41] Luap99 commented on #11719
A reboot should not be required. If you run `podman system reset` it should delete everything and the next podman command should be able to pick netavark as default. Can you check if you have any cni networks in `/etc/cni/net.d` after podman system reset. It should only show the default one (`87-podman-bridge.conflist`). If there are more you should delete them (that would be a bug because `podman

[2022-03-13 17:10] Zanathoz commented on #11719
Thanks, I'm going to work through that now. On my production system I was logged in as root when I ran the reset. This was after all systemd services disabled and all containers manually tore down and removed all image stores.

I was thinking another reset was in order as well. I ran it again on my test system and it appears netavark is default when running "sudo podman info". I'm going to go thro

[2022-03-13 17:31] Zanathoz commented on #11719
Appears my root is still using CNI backend:

[code]

That lock file appears after a reset again, I assume it is a required lock file.

[2022-03-13 17:43] Luap99 commented on #11719
Yeah the lockfile will be recreated every time, I was mostly worried about other .conflist files.

The only other reason I can think of why it is not choosing netavark is because it is not installed, but this cannot be the case since it worked in rootless mode so it is definitely installed.

To force netavark you can set it in containers.conf, add the following in `/etc/containers/containers.conf`

[2022-03-13 17:47] parmentelat opened #13497 "cannot podman rmi a stale image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have 2 images listed in `podman images` that I can't seem to remove; they are not used by any container, running or not

this survives reboots

[code]

**Steps to reproduce the issue:**

unfortunately I don't know how to reproduce; this server runs an app that heavily spawns containers; ima

[2022-03-13 17:54] Zanathoz commented on #11719
Well that's strange, that file does not exist on the system. I did read through the podman doc and saw that reference but wasn't sure if it may have been installed elsewhere.

Creating it with just that entry gives this error:
[code]

I'm going to find a standard config file and build one from scratch and see if that helps anything. It appears my test system also does not have this file preset.

[2022-03-13 18:01] ocramuni commented on #8016
Hi, I've noticed a huge performance difference between local Mac filesystem, local VM filesystem and 9p mounted folder:

Mac filesystem
[code]
local VM filesystem
[code]

9p mounted filesystem
[code]

I'm working on a M1 MacBook Air (base model), VM is "Fedora CoreOS 35.20220225.dev.0" and I'm using:
[code]
Custom qemu has been installed from fogfish tap

[code]

and podman has been installed from

[2022-03-13 18:18] Luap99 commented on #11719
I guess netavark is not installed run `rpm -ql netavark`,  it should be installed as `/usr/libexec/podman/netavark` on fedora.
There is no need to change the helper_binaries_dir in the config since it should be in the default list.

[2022-03-13 18:20] Zanathoz commented on #11719
Hey, that would help!

[code]

Should this not be installed as part of the Podman4 upgrade?

[2022-03-13 19:19] Luap99 commented on #11719
If you already have podman installed it will keep cni to prevent breaking to many people.
I think there is some form of conditional in the package, so that you do not need to have both cni and netavark installed. We should update the blog post to make this more clear.

[2022-03-13 19:41] afbjorklund commented on #8016
Currently there are no flags to tweak the mount, so it uses a default 128 kiB "msize" for 9p

https://wiki.qemu.org/Documentation/9psetup#Performance_Considerations_.28msize.29

I suppose a 10x difference is to be expected, but 30x does seem a bit excessive ?

But neither sshfs nor virtfs will have any performance, maybe virtiofs will be closer...

[2022-03-13 19:44] baude commented on #8016
I think you either in purposely or accidentally used a case where 9p, and really most network filesystems, struggle.  Lots of little files ... I wonder how it would be if you had a tarball with two to 10 files?

[2022-03-13 19:45] alanruttenberg commented on #12053
Some more information: The container I'm working first builds a number of jar files and then runs JAVA, which presents an interactive prompt.  If I checkpoint the container after the build but before I run JAVA the checkpoint succeeds. It fails when I try to checkpoint while JAVA is presenting the prompt. I could upload the image and instructions to start the application if desired.

[2022-03-13 19:51] afbjorklund commented on #8016
I think there are some cache flags to be tweaked here though, it seems like sshfs is faster than virtfs ?

Earlier tests showed the opposite, but a few large files and many small files are also very different tests.

[2022-03-13 20:20] alanruttenberg commented on #12053
The image is available here: https://mumble.net/~alanr/lsw-podman-image.gz
When the image is run with ```podman run -it lsw2/lisp``` it is at a bash prompt ```podmanlsw:~/repos/lsw2/bin % ```. The command to start the application is ```./lsw```

When the prompt "CL-USER(1):"  is presented is when I try to checkpoint.

I just found [CRaC](https://github.com/CRaC/criu), which is a modified criu used

[2022-03-13 20:31] ocramuni commented on #8016
I’ve accidentally found this problem: I was trying to install drupal with composer in a php container, and I wasn’t able to finish it (timeout error). the www root was in the 9p remote mount.

[2022-03-13 20:33] afbjorklund commented on #8016
I think that people who are using the WSL virtual machine (on Windows) are seeing the same thing too...

The files that are actually **on** the VM are fast, but the files that are accessed through `/mnt` are slow.

So it is "normal", for this Wizard of Oz setup.

[2022-03-13 20:57] Zanathoz commented on #11719
Okay - thanks for the help getting that sorted out, I've made some progress. I turned up a brand new Fedora 35 server, installed Podman4, it pulled down netavark on initial upgrade and all is well there.

Pulled down mailcow-dockerized from their github to the local system and got it running, but had to make a few tweaks to their compose file for it to work. To get it working I had to modify the f

[2022-03-13 21:36] unixfox commented on #11719
On docker ipv6nat-mailcow is not needed when is it running natively with ipv6 or if you don't care about ipv6: https://mailcow.github.io/mailcow-dockerized-docs/post_installation/firststeps-disable_ipv6/

[2022-03-13 22:36] cdoern commented on #13464
@baude @rhatdan currently the default is as described where the pod keeps running when a container exits. I was thinking of adding a flag for containers (?) where one can specify that when a specific container exits maybe the pod stops as well?

[2022-03-13 23:54] voidus opened #13500 "`podman run ... nixos/nix nix-build ...` fails with "error: renaming..." on kernel overlayfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a specific container command gives an error if using overlayfs. I've tried to find someone with knowledge about the application in question at https://discourse.nixos.org/t/weird-error-when-running-nixos-nix-under-podman/18056 before reporting this, but nobody stepped up.

**Steps to

[2022-03-14 03:51] zhangguanzhang commented on #13213
duplicate issue: https://github.com/containers/podman/issues/13212
/close

[2022-03-14 03:52] zhangguanzhang commented on #13212
duplicate issue: https://github.com/containers/podman/issues/13213
/close

[2022-03-14 03:52] #13212 closed

[2022-03-14 04:10] gbritton commented on #13293
I think I'm seeing something very similar to this using podman-3.4.4-1.fc35.x86_64.

[code]

[code]

It looks like it's reading the Dockerfile from the cwd of the server here, not the file passed in via stdin on the client.
If i remove the Dockerfile from the server directory, it uses the client file:

[code]

[2022-03-14 08:41] #13434 closed

[2022-03-14 09:33] vrothberg commented on #13464
I don't understand why we would keep a Pod running when all containers exited.  If users make heavy use of pods, they will have a lot of processes running that don't do much more than creating (a small amount of) heat.

I see an argument for keeping it running if no containers have been added yet though. But if we added a flag, I'd prefer calling it `--keep-running`.

[2022-03-14 09:42] vrothberg commented on #13497
Thanks for reaching out, @parmentelat.

There is probably a _build container_ running that is using the image.  Such build containers are fired off by either `podman build` or by buildah.  You can list them via `podman ps --external`.  You can also force remove the image which will kill and remove containers using this image via `podman rmi --force`.

[2022-03-14 09:49] vrothberg commented on #13461
Is it documented somewhere?

[2022-03-14 10:06] parmentelat commented on #13497
many thanks @vrothberg

this indeed solves my issue :)

[2022-03-14 10:08] vrothberg commented on #13491
Thanks for reaching out, @benoitf.

Currently, when running `podman events`, events of a specific machine will be listed.  As you stated above, there are no "meta" events for `podman machine` commands.

I could image a `podman machine events` command that would return/stream machine-events only though.

@baude @containers/podman-maintainers WDYT?

[2022-03-14 10:49] muayyad-alsadi commented on #13461
here

https://github.com/docker/cli/issues/1534

[2022-03-14 10:58] vrothberg commented on #13461
Thanks!

I just briefly skimmed the plugins code and am not entirely convinced that's something Podman should support. The documentation/specification really is in the code which is completely outside of our control. I am mostly afraid of a potential whack-a-mole and the maintenance burden.

@muayyad-alsadi, can you elaborate on a use case?  Podman supports [OCI hooks](https://manpages.debian.org/

[2022-03-14 11:09] Zanathoz commented on #11719
Thanks. I figured the IPv6 wasn't needed as I do have it disabled on the host and did find that document prior to deployment, but wanted to just get the stack working before any major changes.

NetFilter definitely sounds important and is not crashing after one second after disabling IPv6 in it's entirety (including the nat1pv6 container). NetFilter is still crashing after about 20 or so seconds,

[2022-03-14 11:15] Luap99 commented on #11719
Technically speaking all issues with the compose file against podman are podman bugs. We are trying to match the docker API, there are a few exceptions, the biggest thing is that we do not support docker swarm.
So as long as it works with docker and it does not use swarm it should work.

If you could create a small reproducer for both problems and create separate issues for them, this would help g

[2022-03-14 11:16] muayyad-alsadi commented on #13461
yes, the old docker-compose was not a cli plugin, the new v2 is a cli plugin
so is scan plugin
so is buildx

https://github.com/docker/scan-cli-plugin/

podman-compose and maybe scan ...etc.

exactly

so users can find help in one place

[code]

[2022-03-14 11:50] #12691 closed

[2022-03-14 11:50] Zanathoz commented on #11719
So Nginx error is resolved, somewhat. There's an HTTP/HTTPS_BIND variable in the mailcow.conf these point to. The Conf file says to leave them empty but in their documentation they have them as 127.0.0.1 pointing back to the host. I entered this into the conf and that error is resolved. NGINX still crashing for some reason, but at least no errors with it running the docker-compose now. I just need

[2022-03-14 11:52] edsantiago commented on #10825
Seen just a few days ago, this time as [**root** on f35 with netavark](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5105072295116800/html/sys-podman-fedora-35-root-host-netavark.log.html)

[2022-03-14 12:05] giuseppe commented on #13496
you cannot run overlay on top of overlay.  That is the error you are encountering, since podman in the container cannot create whiteout files.

You need to make sure the container has a volume for the location where podman inside the container is going to store its storage (it defaults to `/var/lib/containers/storage`)

[2022-03-14 12:07] giuseppe commented on #13463
@hifigraz could you try if the PR linked above solves the problem you've seen?

[2022-03-14 12:51] benoitf opened #13502 "Missing specific Podman named pipe on Windows if DockerDesktop engine is not installed"
/kind feature

**Description**

When a podman machine starts on Windows, it checks if there is DockerDesktop or not and then if Docker Desktop is not there it will create the named pipe `//./pipe/docker_engine`

But if Docker Desktop engine is there, it will register the named pipe `//./pipe/podman-<name-of-the-machine>`

The problem is that the 'Docker emulation mode' should not prevent the speci

[2022-03-14 13:06] voidus commented on #13500
I specifically addressed this

   strace **doesn't** report the mknod system call

[2022-03-14 13:57] giuseppe commented on #13500
sorry.  Do you see any `EXDEV` error coming from `rename`?

[2022-03-14 14:29] voidus commented on #13500
No worries, I know it's sometimes hard to triage issues.

Sadly, I'm not sure what nix does internally. I've created the thread on the nix discourse to debug this, but nobody could offer any insight. I'm tempted to create a matching issue in the nix github repo and cross-link this one.

[2022-03-14 15:15] cdoern commented on #13293
Thanks @gbritton I will look at both of these issues today.

[2022-03-14 15:25] afbjorklund commented on #8016
The virtualization.framework is already supported by QEMU "hvf". Supporting virtiofs (in Rust) is planned for a future version of Podman.

[2022-03-14 15:36] ocramuni commented on #8016
ok, thank you for the info. So we have to wait for the Rust virtiofs support to see I/O performance improvement.

[2022-03-14 15:46] afbjorklund commented on #8016
The first step would be to have _any_ remote file system support...

[2022-03-14 15:49] fogfish commented on #8016
Small remark about the usage of `time tar ...` to bechmark I/O. The approach measures only wall clock but do not give strong signals about the overhead I/O vs CPU. I would recommend to use dedicate tools to measure I/O e.g. `fio`.

[2022-03-14 15:54] a-vivona opened #13503 "Docs : podman-run.1.md option "--log-driver", bad command to get default log driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In the podman documentation, page **"podman-run-1.md"**, option **"--log-driver"**, it is indicated a command to display the default driver. This command does not work anymore.

https://github.com/containers/podman/blob/33d808108f837e70dc7cc0803bfa4684953fe05e/docs/source/markdown/podman-run.

[2022-03-14 16:24] Luap99 commented on #13503
You are using an older version of podman. I think this field is present in at least podman 3.4.
I recommend you use the man pages shipped by your distro so they have the same version as the binary or you select the correct version in the right lower corner on https://docs.podman.io/

[2022-03-14 16:24] #13503 closed

[2022-03-14 17:07] reavessm opened #13504 "Add quiet flag to `containers.StartOptions`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I am writing a golang application application utilizing various podman bindings and I am creating my own UI.  I would like to hide/silence all of podman's messages.  Other operations have a `Quiet` flag (like [PullOptions](https://github.com/containers/podman/blob/33d808108f837e70dc7cc080

[2022-03-14 17:13] Luap99 commented on #13504
Assuming you do not use logrus yourself you can use `logrus.SetLevel(logrus.ErrorLevel)` to set the log level higher.

[2022-03-14 17:58] afbjorklund commented on #8016
@fogfish I think the example involved both, since it was `tar` and `gzip`

[2022-03-14 20:06] #13388 closed

[2022-03-14 20:33] fogfish commented on #8016
@afbjorklund what kind of remote fs your are looking in this context? I can repeat my measurements on it.

[2022-03-14 20:38] ocramuni commented on #8016
I have run the same tar _benchmark_ starting podman machine VM (Fedora CoreOS) with native Apple Virtualization Framework:

Fedora CoreOS VM using native Apple Virtualization Framework, with /Users host directory mounted as virtiofs
[code]

9p mounted filesystem on qemu
[code]

I hope to get the same performance with the Rust virtiofs qemu support

[2022-03-14 20:38] afbjorklund commented on #8016
The ones we talked about are the native fs (xfs?), sshfs (fuse), virtfs (9p) and virtiofs (vsock).

If you are bored, you can also include SMB and NFS ?
But "virtfs" is the one, currently in podman...

[2022-03-15 01:47] baude commented on #8016
can we please transfer this conversation to a github discussion? i'm not sure we are acting in the spirit of a github issue anymore?

[2022-03-15 02:06] cdoern commented on #13293
@baude is this how context dirs are supposed to work? I thought `podman build -f Containerfile context/dir` should look for Containerfile within context/dir and otherwise fail?

[2022-03-15 02:26] cdoern commented on #13293
yeah I think, looking at the code, your the local context dir gets ignored since we `-f Containerfile`. As for the remote example, if you actually look at the output @Romain-Geissler-1A the error is not checking in `build-root` but in `reproduce-bug`. I am also running this locally and not running into the same issue you are. I will try to keep reproducing but just keep in mind the command you are

[2022-03-15 02:49] voidus commented on #13500
`EXDEV` was a great hint. I looked through the 180MB strace log and found this:

[code]

I found [this patch](https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/tree/queue-4.19/ovl-fix-missing-override-creds-in-link-of-a-metacopy-upper.patch?id=c245b0f13a29cb144a68bfef17b227229b4162ce) referenced by [this arch forum thread](https://bbs.archlinux.org/viewtopic.php?id=241866), b

[2022-03-15 06:19] afbjorklund commented on #8016
The discussion hasn't been about the issue (remote mount) in a long time, but I still prefer that over the previous situation...

Moving it to chat is fine.

[2022-03-15 08:51] dcermak commented on #13459
I have been digging a bit into this and it turns out that our first hunch that https://github.com/containers/podman/blob/f33b64d8b7d7b2bd22560cfacc90e25d1f9e16b4/pkg/domain/infra/runtime_libpod.go#L129-L133
is the culprit is wrong. I actually believe that that line does absolutely nothing, because `storageOpts` is set just a few lines above to an empty struct and `GraphDriverOptions` is not touche

[2022-03-15 09:26] skorokithakis opened #13508 "Put an "installing" section on the website"
I'm trying to install Podman and am looking around the website for instructions but can't easily find any. It would be good if there were a short section telling me how to get Podman and install it locally.

There aren't even installation instructions in the repo README, and clicking to the releases shows me a "podman-remote" binary, but I don't want Podman Remote, I want Podman itself? Or do I?

[2022-03-15 09:45] Luap99 commented on #13508
https://podman.io/getting-started/installation.html

[2022-03-15 09:45] #13508 closed

[2022-03-15 09:47] skorokithakis commented on #13508
Thanks. Now please point to the link on the page:

![image](https://user-images.githubusercontent.com/23648/158351122-cd13bd84-640f-4859-913f-aa5c7a8a10af.png)

[2022-03-15 09:48] Luap99 commented on #13508
It is linked under Getting Started in the sidebar

[2022-03-15 09:49] skorokithakis commented on #13508
There is no sidebar on my screen, as you can see in the screenshot. I assume I am getting the mobile view, where the link is hidden. Anyway, if that works for you, fine.

[2022-03-15 09:51] Luap99 commented on #13508
just press on top right corner

[2022-03-15 09:57] ahoereth commented on #13227
Also running into this irregularity but frequently in our CI. We are not running "podman in podman", but only a single rootless podman layer. Let me know if any further details would be helpful here!

Podman compiled from source (as it is not available through apt for ubuntu 20.04):

[code]

[2022-03-15 10:03] orpiske opened #13510 "Podman on MacOS: Couldn't restablish ssh tunnel on path (when a machine already exists)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This seems to happen when upgrading from Podman 3.x to 4.x.

When starting a machine on MacOS, it prints an error saying it couldn't re-establish ssh tunnel on path.

The problem seems to go away after deleting the machine and creating it again (so, probably, just need to be documented).

**S

[2022-03-15 10:15] orpiske opened #13511 "Podman on MacOS: podman-mac-helper missing?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During the machine startup, podman prints a warning that the system helper service is not installed. However, the file is not present the in the location provided in the warning message.

**Steps to reproduce the issue:**

1. Start the podman machine: `podman machine start`

2. Check the outp

[2022-03-15 11:10] giuseppe commented on #13459
wouldn't that detect the mountProgram also when native overlay is available?

[2022-03-15 11:44] rhatdan commented on #13511
@n1hility PTAL

[2022-03-15 12:13] baude commented on #13511
We got this -> https://github.com/Homebrew/homebrew-core/pull/96902

[2022-03-15 12:13] #13511 closed

[2022-03-15 12:14] vrothberg commented on #13508
@TomSweeneyRedHat PTAL

I agree that the "mobile" version should also point directly to installing Podman.

[2022-03-15 12:27] rhatdan commented on #13502
@n1hility PTAL

[2022-03-15 12:48] dcermak commented on #13459
@giuseppe I am unfortunately not at all familiar how the native overlay works. Could you point me maybe to some docs how it works in detail, especially how it behaves differently to overlay with FUSE?

[2022-03-15 12:51] Vogtinator commented on #13459
Instead of using FUSE with `fuse-overlayfs` it uses the kernel's native `overlay` filesystem by mounting that in a namespace.

https://github.com/containers/podman/blob/68ce83fe919f2d37762b8b746a73495f45e550f3/vendor/github.com/containers/storage/types/options.go#L229 checks whether that works, only if it doesn't it searches for `fuse-overlayfs`.

[2022-03-15 12:53] rhatdan commented on #13204
Since we got no further feedback and this is not something upstream can easily fix, I am closing.

[2022-03-15 12:53] #13204 closed

[2022-03-15 12:54] rhatdan commented on #10205
@Luap99 @vrothberg What should we do with this issue?

[2022-03-15 13:20] Luap99 commented on #13393
This was reverted in https://github.com/containers/podman/pull/13392

[2022-03-15 13:21] kgibm opened #13515 "Difference between podman machine set --rootful and podman system connection default podman-machine-default-root?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I just upgraded to podman 4.0.2 (on macOS). When I start the machine, I see the following:

In the past, I had run the following command to switch to rootful:

[code]

So I ran `podman system connection default podman-machine-default-root`, and then I see that I am `root` as expected:

[code]

[2022-03-15 13:22] Luap99 commented on #10205
I guess keep it open but the fix is complicated and I think there are many items with higher priority

[2022-03-15 13:26] Luap99 commented on #13515
I guess there are identical, no idea why an extra command for this was added.
cc @n1hility

[2022-03-15 13:39] Zanathoz commented on #11719
After some further testing, there's a communication issue between some of the containers. NGINX won't load because it can't connect to PHP-FPM. PHP-FPM won't load because it can't resolve to the REDIS container.

The docker-compose has them all using an internal unbound container for resolution. I connected to the local unbound and confirmed it was able to resolve outside IP addresses. When pingin

[2022-03-15 13:57] dcermak commented on #13459
It indeed does, which is not the desired outcome, right?

[2022-03-15 14:11] srcshelton opened #13516 "Storage utilisation doesn't seem to add-up..."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Could anyone explain this output?

[code]

… as a side-note, I've often seem `podman system prune` returning what appear to be feasibly high figures (… larger than the containing filesystem, in some cases) when reporting on storage savings - I always assumed this was double-counting shared la

[2022-03-15 14:40] Luap99 commented on #13515
I see, I guess this should be added in https://github.com/containers/podman/blob/main/docs/source/markdown/podman-machine-set.1.md.

@kgibm Also `podman run --rm fedora whoami` will always show you root since this is inside the container. The difference about root/rootless is if podman itself is run as root or rootless user in the VM.

[2022-03-15 14:41] hifigraz commented on #13463
@giuseppe  is there a release yet?
If not, at the moment, I have very limited time to build a package including patching.

[2022-03-15 14:48] kgibm commented on #13515
@n1hility  Thanks, so if I understand correctly, it seems I should use `podman machine set --rootful` or `podman machine init --rootful=true` instead of `podman system connection default podman-machine-default-root`.

I'm building a lab using `podman` and some of my users may be on older versions of `podman` (e.g. 3). How long has this `podman machine init --rootful=true` command been around, or i

[2022-03-15 15:20] n1hility commented on #13515
@kgibm yes this is new in 4 so if you are building automation for 3 and 4, what I would recommend doing is to prefer setting it via init or set and just having a fallback piece of logic if you get a non-zero exit code. Although if you aren't using API forwarding then you can still do it the old way with 4. Over time other things may reference the stored config setting.

@Luap99 there is a descript

[2022-03-15 15:21] hifigraz commented on #13463
made a package on branch v4.0 seems to work.
But I had to get rid of all my btrfs container subvolumes to enable starting a new container.

[2022-03-15 15:23] n1hility commented on #13502
/assign I agree it would make sense to add this, in particular since the same behavior is on the mac implementation. I went back and forth on whether there would be interest on having the second connection point, so it helps knowing there is.

[2022-03-15 15:25] #13303 closed

[2022-03-15 15:52] PavelSosin-320 commented on #12986
@giuseppe Some news as well as for https://bugzilla.redhat.com/show_bug.cgi?id=1425278. It looks amazingly similar - I can't start container as rootless user. I suspected some conflict between SELinux and XDG file layout in GNOME and so,  investigated everything related to SELiunux container runtime files labeling, CRun process domain but everything looks OK. If you need some checks in Fedora 35 W

[2022-03-15 16:43] Luap99 commented on #13124
This is not fixed. It needs changes in c/common/libnetwork.

[2022-03-15 16:43] kgibm opened #13517 "Error running multiple commands with podman machine ssh on macOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a lab that uses `podman` and one of the steps is to disable systemd-coredump in the podman machine on macOS. This works using the following 2 commands:

1. `podman machine ssh ln -sf /dev/null /etc/sysctl.d/50-coredump.conf`
2. `podman machine ssh sysctl -w kernel.core_pattern=core`

H

[2022-03-15 16:55] Zanathoz commented on #11719
Alright, I'm stubborn and my whole ecosystem is Fedora/Podman and I'd like to try and keep it that way. I just spun up Ubuntu with Docker and it worked flawlessly following these steps:
[code]
I spun up a brand new Fedora 35 instance again leaving IPv6 enabled, updated to Podman4, following the same steps as above (no patch as the previous OP stated) and ran into the same two issues previously. I

[2022-03-15 17:13] mheon commented on #13517
@jwhonce PTAL

[2022-03-15 17:20] lsm5 commented on #13350
I do see that podman is built with seccomp in the rpm, but for whatever reason podman info shows `seccompEnabled: false`.  Both c9s and c8s builds use the same rpm source, but seccomp info looks different on both.

Centos 9 Stream
[code]

CentOS 8 Stream
[code]

@mheon any idea what else would be missing ?

I have commented out `log_driver = journald` from containers.conf. If you update your conta

[2022-03-15 17:22] Luap99 commented on #13350
ipvlan does not work with netavark, only cni supports ipvlan

[2022-03-15 17:23] mheon commented on #13350
Re: seccomp - either the default profile listed is missing, or Podman was built without libseccomp support (bad buildtags?)

[2022-03-15 17:23] Luap99 commented on #13350
This sounds like podman was compiled without systemd build tag.

[2022-03-15 17:38] AddictArts commented on #13510
I had this same issue. I ended up performing, NOTE: Containers will be removed.

[code]

There may be a way to save your containers, but it didn't matter for me.

[2022-03-15 17:43] lsm5 commented on #13350
hmm, in the build logs I do see the buildtags being used : ` BUILDTAGS='seccomp exclude_graphdriver_devicemapper selinux systemd libsubid exclude_graphdriver_btrfs btrfs_noversion` is present in https://download.copr.fedorainfracloud.org/results/rhcontainerbot/podman4/centos-stream-8-x86_64/03670783-podman/build.log.gz . I'll look further though.

@Luap99  I see that in rhel8, we have set log_driv

[2022-03-15 17:46] Luap99 commented on #13350
Just do not explicitly set this field at all, the build-in default should be able to figure this out on its own

[2022-03-15 17:50] lsm5 commented on #13350
great, the latest build on the copr leaves it commented.

[2022-03-15 18:22] n1hility commented on #13510
I can confirm the bug. Issue is likely additional state. Will look into a fix.

/assign

[2022-03-15 19:29] lsm5 commented on #13427
So, @mheon @baude @jhonce and I (@lsm5) signed each others keys a few mins ago. Please give this a try again and let us know.

[2022-03-15 19:31] lsm5 commented on #13427
@ashley-cui 's keys should be signed tomorrow

[2022-03-15 19:39] craftyguy opened #13521 "allow creating macvlan network without subnet when using netavark backend"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman (with netavark) should allow creating a mavlan network without specifying a subnet, for cases where the container is capable of managing its own IP assignment on the network (e.g. running its own dhcp client). Currently `--subnet` is required, or `podman network create -d macvlan`

[2022-03-15 19:50] Luap99 commented on #13521
Yes we discussed that on IRC.
Short term I want to add --ipam-driver none option which would only add interfaces and no ip addresses.
That would also help me to fix https://github.com/containers/podman/issues/13124 and https://github.com/containers/podman/issues/12990

[2022-03-15 20:14] craftyguy commented on #13521
@mheon ya this is closer to what @Luap99 mentioned, supporting DHCP would be nice, but it sounds like it might be difficult. In reality, I just need a way to create interfaces with macvlan and have the container manage IP assignment. Currently I have to specify --subnet or else the net create will fail.

[2022-03-15 20:41] Luap99 commented on #13393
Sorry you are right. Double negative is always confusing.

@TomSweeneyRedHat Since we now have a 4.0-rhel branch this must go there instead if it should end up in RHEL with podman 4.0.

[2022-03-15 20:46] Luap99 commented on #13277
@lovette The meeting is this thursday at 11 am ET. https://podman.io/community/meeting/#next-meeting-thursday-march-17-2022-1100-am-edt-utc-4

[2022-03-15 22:14] DanielViglione commented on #13330
@vrothberg any update on this?

[2022-03-16 01:40] nupanick commented on #8896
Agreed, the examples in the documentation should work with the default config.

[2022-03-16 02:31] notklaatu opened #13525 "Compile error on slackware"
/kind bug

**Description**

Compile fails with "Error 2"

**Steps to reproduce the issue:**

1. Download source code for 4.0.2
2. Install libseccomp, libslirp, slirp4netns, cni plugins, conmon, runc, go version 1.18
3. `cd podman-4.0.2`
4. `make BUILDTAGS="seccomp"`
5. Build fails with "Error 2" Makefile line 317 (a warning about installing on a non-systemd platform, but I don't think this is actu

[2022-03-16 03:00] baude commented on #13525
it sure looks like it to me ... i was going to try compiling it inside a slackware container ... but  the setup looks steeper than dnf -y or apt-get :) maybe look at the toolchain for fedora 35 and try to do similar. i can look tomorrow but maybe some more slackware friendly can help in  the by and by.

[2022-03-16 04:30] zhangguanzhang commented on #13330
could you try this command ?
[code]

[2022-03-16 04:41] lemmi opened #13526 "Docs: podman-system-service, podman-run documentation inconsistency"
/kind bug

In order to mount the system socket into a container `podman-system-service.1.md` suggests to provide `--security-opt label:disable`, while `podman-run.1.md` suggest the option should be of the form `--security-opt=label=disable`

https://github.com/containers/podman/blob/dc0c72a48b50fd43594928172d88182fd81f3e8b/docs/source/markdown/podman-system-service.1.md?plain=1#L18

https://github

[2022-03-16 08:01] giuseppe commented on #13459
right, otherwise we will end up using fuse-overlayfs even if native overlay is supported by the kernel

[2022-03-16 08:22] vrothberg commented on #8896
Which default config (on which distribution) are you referring to?

[2022-03-16 08:23] vrothberg commented on #8896
The search registries are mentioned in the first paragraph.  If you have concrete suggestions to improve the docs, please let me know.

[2022-03-16 08:25] vrothberg commented on #13330
@baude ping.

[2022-03-16 09:26] dvzrv commented on #13427
On a related note: Please use signed tags (`git tag -s <tag>`) in the future again. The 4.0.2 tag is a lightweight tag (not signed, not annotated), where downstreams have to lock on to the commit (which is the signed object) the tag points at.

[2022-03-16 10:44] rhatdan commented on #13166
Since we got no more feedback, I am assuming the error went away,  Reopen if I am mistaken.

[2022-03-16 10:44] #13166 closed

[2022-03-16 10:53] rhatdan commented on #13464
Let's discuss at Cabal.

[2022-03-16 10:53] m8ram commented on #10800
Ran into to this problem as well. Presumably after applying a number of updates that included podman.
After removing and recreating the pod with the `--cgroup-manager=cgroupfs` option the containers start correctly again.

[2022-03-16 11:16] rhatdan commented on #13350
Is this still an issue?

[2022-03-16 12:07] fpoirotte commented on #12965
Regarding `NetworkPolicy` objects, they are akin to firewalls, allowing only select traffic to pass around between specified pods (even if the pods are connected to the same network).

I don't think supporting them would solve this issue, but it could be a nice addition in the future (although it may be hard to implement in podman due to its dependency on labels and such).

[2022-03-16 12:52] Darkclainer opened #13529 "podman-pause building fails because of .dockerignore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Building `podman-pause` respects local .dockerignore file and can therefore fail.

**Steps to reproduce the issue:**

1. Remove current `podman-pause`

[code]

2. Create .dockerignore file with content (match everything)

[code]

3. Create pod to cause building `podman-pause` image

[code]

*

[2022-03-16 13:01] deadpyxel commented on #12161
I'll check that. It seems `homebrew` is installing the latest version, but maybe it is something with the package as you say.

[2022-03-16 13:03] baude commented on #13427
@lsm5 @mheon @jwhonce and I pushed to the keyserver yesterday, yes.  As was mentioned earlier, @ashley-cui should get to hers today.

[2022-03-16 13:09] Foxboron commented on #13427
The keyserver.ubuntu.com isn't going to give you any signatures because of GDPR compliance, this is intended. I'm not sure what the best alternative is currently. It would be simpler if redhat put up the needed WKD infrastructure to host signing keys.

I'd suggest adding the keys to your webpage for download with signatures included.

Gnupg is terrible, sadly :/

[2022-03-16 13:34] benoitf commented on #13491
@baude I think the same pattern used for `podman events` would fit

[2022-03-16 13:55] baude commented on #13491
well, podman events now are written to journald, which will not work on a mac ... are you proposing an events based file ?

[2022-03-16 13:59] vrothberg commented on #13491
@baude, yes, we need an eventer on the client side. A somehow additional/separate mechanism.

[2022-03-16 14:18] benoitf commented on #13491
For now on mac if I use
`podman events`

Events are added on the command output like
[code]

so if I run `podman machine events` I would expect to receive events like
[code]

[2022-03-16 14:49] DanielViglione commented on #13330
@zhangguanzhang

Running curl gives me this (note I specify --cacert flag):

curl -v --cacert MyCompany_proxy_G3.pem  https://registry-1.docker.io/v2/
* Uses proxy env variable no_proxy == 'localhost,127.0.0.1,localaddress,.local,.availity.net,.availity.com,192.168.1.2,C02FVHB2MD6M'
* Uses proxy env variable https_proxy == 'http://proxy-corp.availity.net:8080'
*   Trying 172.28.5.130:8080...
* Con

[2022-03-16 15:08] mheon commented on #12965
I think that's a separate feature request, but it's definitely an interesting one. Mind making a separate issue for it? I think this has applications even outside of `podman play kube`.

[2022-03-16 15:24] DanielViglione commented on #13330
@zhangguanzhang

curl -v --cacert Availity_proxy_G3.pem  https://registry-1.docker.io/v2/

* Uses proxy env variable no_proxy == 'localhost,127.0.0.1,localaddress,.local,.availity.net,.availity.com,192.168.1.2,C02FVHB2MD6M'

* Uses proxy env variable https_proxy == '[http://proxy-corp.availity.net:8080']()

*   Trying 172.28.5.130:8080...

* Connected to proxy-corp.availity.net (172.28.5.130) port

[2022-03-16 15:50] mheon commented on #13427
Can I just say how much I hate GPG key distribution right now?

Plan B will be manually compiling all relevant signatures and then uploading ascii-armored pubkeys to somewhere trusted (probably each individual repo) to indicate folks trusted to make a release. Hopefully later this week.

[2022-03-16 17:30] #13350 closed, assigned to nobody

[2022-03-16 18:02] BlaineEXE opened #13532 "podman push doesn't show status bars when using podman machine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman push` (as well as other commands) do not show status output when run with a remote ssh connection. Specifically, I am on Mac using podman machine and podman v4.0.2.

**Steps to reproduce the issue:**

1. Install podman on macos via brew
2. Init and start podman machine
3. Push an

[2022-03-16 18:26] cevich opened #13533 "Podman netavark/aardvark-dns in container fails e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When executing the podman e2e tests inside a F36 super-privledged-container, there are several failures which all report name-resolution errors.

* Podman run networking [It] podman Netavark network works across user ns
* Podman run networking [It] podman run check dnsname plugin with Netavar

[2022-03-16 18:52] DanielViglione commented on #13330
It turns out it was a corporate proxy issue. Keep up the good work on Podman guys! I am using it more and more as an alternative to Docker.

[2022-03-16 20:12] mheon commented on #11822
I can now confirm that BuildKit no longer seems to be a requirement for Compose v2.0, which unblocks the rest of this work. Beginning work on fixing this volume issue now. Seems like Compose is passing the `/data` mount in two separate places, for unclear reasons; deduplicating it should be sufficient to fix. Hope to get a patch out tomorrow.

[2022-03-17 01:39] zhangguanzhang commented on #13330
/close

[2022-03-17 01:39] #13330 closed

[2022-03-17 02:07] lazarovbonifacio commented on #3890
Thank you guys. This Issue saved me. I was following the documentation in my native language and didn't have this snippet about `sudo sysctl kernel.unprivileged_userns_clone=1` and `echo 'kernel.unprivileged_userns_clone=1' > /etc/sysctl.d/userns.conf`.

[2022-03-17 03:49] habib commented on #12132
I see this behavior on the terminal even when my Mac laptop is actively being used. I'm on podman version 4.0.2 on an M1 Mac.

`ERRO[27617] net.Dial() = dial tcp 140.211.169.206:443: connect: operation timed out` is the error message in the terminal.

[2022-03-17 04:01] floriplum commented on #13493
The events are basically the same for the socket and `podman events`.

Podman events output:

2022-03-17 04:56:43.433479516 +0100 CET volume create 02d8c44379839815426f0aa4e422e409fe7d45902965d3bdbd13f3f3c4783c93
2022-03-17 04:56:43.433577113 +0100 CET container history dc668bf816be56f1f1990a995b2bff96e21596ecd9551a6d93bb81ddd3b98136 (image=, name=)
2022-03-17 04:56:43.452894279 +0100 CET containe

[2022-03-17 04:56] mafischer opened #13534 "Unable to build DOCKERFILE"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. attempt to build a DOCKERFILE: `podman build .`

**Describe the results you received:**
Error: stat /var/tmp/libpod_builder763295465/build/Dockerfile: no such file or directory

**Describe the results you expected:**
Expected the DOCKERFILE to build

**Ad

[2022-03-17 04:58] gbraad commented on #12341
Still relevant

[2022-03-17 05:08] mafischer commented on #13534
Issue was related to case sensitive spelling of `DOCKERFILE`. After changing to `Dockerfile` it started working.

[2022-03-17 05:08] #13534 closed

[2022-03-17 06:08] afbjorklund commented on #13532
Similar to #11554, the podman-remote client is limited when compared to podman (i.e. `ssh podman`)

[2022-03-17 06:38] hyche opened #13535 "Building hangs forever on M1 mac"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install dev podman with `brew install --HEAD podman`

2. Init and start machine `podman machine --init --cpus 2 --disk-size 50 -m 4096 --now`

3. Build any Dockerfile with `podman build -f path/to/Dockerfile .` (with or without Dockerfile)

**Describe the

[2022-03-17 07:15] afbjorklund commented on #13535
Try `podman machine ssh podman build - <Dockerfile` or similar, it is possible that remote building got broken again

[2022-03-17 07:52] vrothberg commented on #13532
Thanks for reaching out, @BlaineEXE.

I am closing as it's already tracked in #11554. There is also https://github.com/containers/podman/issues/12341#issuecomment-997946127 for pulling.

@jwhonce @baude @rhatdan, probably something we should put on the radar if have some cycles left.

[2022-03-17 07:52] #13532 closed

[2022-03-17 08:13] ravendererugu commented on #4251
Hi all, one of developer push the code to the azure storage Blob account through git. but unfortunately, they are missing in Github he was able to recover 2 images. but we don't know the root cause of why it happened. anyone can help me with this

[2022-03-17 08:59] benyaminl commented on #4251
Please create a new issue regarding it and post the output, log, etc, so people can see what's wrong.

This issue already solved via other patch. So please don't bump here. Thanks.

[2022-03-17 09:34] #13272 closed

[2022-03-17 09:37] Luap99 commented on #13535
Are you sure it is hanging? Is your context directory very large by any chance? podman-remote has to copy the complete directory into the VM.

[2022-03-17 10:01] vrothberg commented on #13525
@vbatts may be able to help :)

[2022-03-17 10:07] vrothberg commented on #13516
Thanks for opening the issue, @srcshelton!

It seems very odd that the volumes aren't removed with `system prune`.  For the other issues, it would be ideal to have reproducers.

@containers/podman-maintainers FYI

[2022-03-17 10:08] vrothberg commented on #13504
I agree that using `logrus.SetLevel` is the best way to silence logs.  The `Quiet` flag in pull controls the pull stream, so it's a different kind of log.

[2022-03-17 10:10] hyche commented on #13535
Yes this works for me, but to do this I have to clone a new repo inside the VM

I have thought so, but then after writing a `.dockerignore` it still didn't work.

[2022-03-17 10:13] Luap99 commented on #13504
I don't think we should close this. IMO we should do not blindly use logrus in the bindings. What if the consumer already uses logus in his code with a log level but do not want the bindings to log or the other way around.

I think we need to give the callers more options to configure this, at least we should use a custom logrus instance instead of the global one.

[2022-03-17 10:19] vrothberg commented on #13492
Thanks for reaching out.

Please fill out the entire template when opening an issue. Knowing which versions of Podman in which environment is run is oftentimes incremental to debug.  Can you share the output of `podman info --debug`?

I cannot reproduce on my end.

[2022-03-17 10:20] fogfish commented on #8016
Let's use this discussion then to continue collaboration:
https://github.com/containers/podman/discussions/13537

[2022-03-17 10:27] vrothberg commented on #13461
@containers/podman-maintainers PTAL

[2022-03-17 10:27] vrothberg commented on #13419
@jahamilton12121, friendly ping.

[2022-03-17 10:29] vrothberg commented on #13358
@baude, PTAL

[2022-03-17 10:33] vrothberg commented on #13356
I can tackle this one (looking for some small issues until lunch break)

[2022-03-17 10:37] vrothberg commented on #13356
Unassigning, this is not a quick-fix. Fixing the nil-deref is easy but it seems these options don't do what they are supposed to, so containers won't start anymore.

[2022-03-17 10:52] MartinX3 opened #13538 "Support `kind: NetworkPolicy`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**

See https://kubernetes.io/docs/concepts/services-networking/network-policies/

**Steps to reproduce the issue:**
N/A

**Describe the results you received:**
Not supported.

**Describe the results you expected:**
Being supported.

**Additional information you deem important (e.g. issue happ

[2022-03-17 10:52] MartinX3 commented on #12965
@mheon done
https://github.com/containers/podman/issues/13538

[2022-03-17 10:53] MartinX3 commented on #13538
Requested by https://github.com/containers/podman/issues/12965#issuecomment-1069231166

[2022-03-17 11:46] afbjorklund commented on #13535
You can also pass a tarball instead of a file, if you want to control the size of the build context / troubleshoot.

[2022-03-17 12:04] Foxboron commented on #13427
You are not alone! Arch recently bootstrapped the entire web of trust recently and made us independent on keyserver infrastructure. Also working on embedding GPG keys into our package files so we don't have to deal with the keyserver issues.

Is the intention that different people can release different software or do you have a list of people that can do releases for all your software?

I'm person

[2022-03-17 13:09] mcodev31 opened #13539 "podman secrets --driver=pass hardware token"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

secrets with --driver=pass uses new gpg-agent (systemd) causing hardware tokens like yubikey to not work (since they require user authentication)

**Steps to reproduce the issue:**

1. Create password store using gpg key with hardware token e.g.:
https://support.yubico.com/hc/en-us/articles/3

[2022-03-17 13:19] mheon commented on #13427
We talked it over more, and we'll probably have a single repo under containers/ where we provide all the keys, who is authorized to release what. We can link that from all containers/ project readmes and podman.io.

[2022-03-17 13:38] mheon commented on #13539
@ashley-cui PTAL

[2022-03-17 14:21] Romain-Geissler-1A commented on #13358
Brew ? You mean on Mac OS ?

It might be confusing because of my Github photo , but I am considering mainly Linux (for the both the podman client and the server), though I think this need is rather generic between any kind of podman client and podman server running on different machines.

To explain a bit more my configuration: I am in a corporate environment, where "development servers" are being

[2022-03-17 14:23] mheon commented on #13461
The question for me is, will the Docker Compose v2.x tool remain a CLI plugin?

If so, that's a pretty significant incentive for us to support the Docker plugin model, even if it is official deprecrated and mostly undocumented. With a few simple steps, a user can have Docker Compose, or Podman Compose, or both, directly integrated into the Podman CLI, and that's a very powerful argument.

Unfortun

[2022-03-17 14:24] mheon commented on #13358
So the ask here is for a remote volume mount solution that is *independent* of `podman machine`?

[2022-03-17 14:28] Foxboron commented on #13427
For inspiration you can look at how kernel.org or Arch Linux manages this.

https://gitlab.archlinux.org/archlinux/archlinux-keyring

https://git.kernel.org/pub/scm/docs/kernel/pgpkeys.git/

[2022-03-17 14:31] mheon commented on #13493
Roger, thanks. Definitely looks like messages are not being generated.

We probably want to suppress the exec messages as well, as this is a healthcheck, not an exec (they use the same backend code, so I imagine that the exec events are firing instead?).

[2022-03-17 14:52] baude commented on #13535
can you please update to 4.0.2? it is in brew.

[2022-03-17 15:41] Romain-Geissler-1A commented on #13393
Will this be backported on 4.0.x only for RHEL, or all 4.0.x version, also on other distros ? On client side (where this pull request has an effect), we use sometimes RHEL, and sometimes Ubuntu/Debian. Now ubuntu 22.04 has an official podman packages (not yet updated to podman 4, but it will be one day).

[2022-03-17 16:52] #12990 closed

[2022-03-17 16:52] #13124 closed

[2022-03-17 17:21] shanesmith opened #13543 "Rootful Podman machine cannot bind to a host IP"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A container attempting to bind to a host IP results in an error in a rootful Podman machine.

**Steps to reproduce the issue:**

1. `podman machine init --rootful --now`

2. `sudo ifconfig lo0 alias 192.168.64.1` (creates an alias to the loopback device)

3. `podman run -it -p 192.168.64.1:88

[2022-03-17 17:26] mheon commented on #13543
Any chance you can provide a `podman inspect` of a container which shows this symptom? Want to make sure we're just binding to that one IP.

[2022-03-17 17:32] shanesmith commented on #13543
@mheon The container never does start due to the error. I've updated the OP to mention this now.

[2022-03-17 17:44] lukehinds commented on #13427
I wonder if we could leverage sigstore here to help you, do you have links on how you perform you current signing?

[2022-03-17 17:48] Luap99 commented on #13543
I think I know the problem. We try to bind the ports as root in libpod but I don't call the magic machine port conversion function there.

[2022-03-17 18:01] Luap99 commented on #13543
Should be fixed by https://github.com/containers/podman/pull/13544

[2022-03-17 18:13] srcshelton commented on #13516
I'll see what I can do reproducer-wise, but it's probably going to be a tricky one to catch other than anecdotally...

[2022-03-17 18:14] Luap99 commented on #13543
For this patch you only have to change the podman binary in the VM.
Since the VM is fedora35 you can copy the binary from the CI build https://cirrus-ci.com/task/4863906593112064, just click on binary under the Artifacts section. You need the "podman" binary there.
In your VM activate rpm-ostree usroverlay with `podman machine ssh sudo rpm-ostree usroverlay`, then you should be able to copy the ne

[2022-03-17 21:52] daynyxx opened #13548 "Podman 4.x Pod volume mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When trying adding containers to a pod that has volume mounts, the containers do not have any of the volumes mounted

**Steps to reproduce the issue:**

1. create pod with a volume mount
[code]

2. then run a container
```podman run --pod=test fedora touch /test/test.file```

**Describe the re