[2020-04-08 13:14] vrothberg commented on #5729
@lsm5 PTAL

[2020-04-08 13:25] lsm5 commented on #5296
@jcassee err sorry, fixing..

[2020-04-08 13:54] mheon commented on #5745
Hm.
@giuseppe @AkihiroSuda PTAL

[2020-04-08 14:01] lsm5 commented on #5296
@jcassee will be fixed in `1.8.2~144` https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . For the previous build, I forgot to explicitly list the files in each package which caused the issue you mentioned.

[2020-04-08 15:12] giuseppe commented on #5745
I can reproduce with `1.8.1`, but not with the version from git master.

A bisect says it is fixed with 4841cd1630d892cd2e1353c88502235e79f2556f

@mlezajic could you check if it is solved for you as well?

[2020-04-08 15:27] kolyshkin opened #5763 "`podman update` is missing"
/kind feature

**Description**

`podman update` is missing

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[

[2020-04-08 15:33] mheon commented on #5763
This is deliberate. Podman containers are, by design, immutable once created.

There has been extensive discussion of a way to clone containers (`podman container clone`) to produce an identical copy with changes, which would act somewhat similar to `update`. No one's found the time to implement it yet, though.

[2020-04-08 15:40] kolyshkin commented on #5763
Would be nice to have it documented/stated somewhere (say output of `podman update`).

The resource limits can still be changed using `runc update`, `systemctl set property`, or directly writing into cgroup files. Not implying it was a bad decision, just thinking out loud.

[2020-04-08 15:51] mlezajic commented on #5745
@giuseppe
how am i supposed to apply 4841cd1 ?

[2020-04-08 15:53] mheon commented on #5763
Sure - I'd want to hide the command so it doesn't seem like `update` is a real command that is ready to use, but we can make it output an error to this effect.

Sure - the big blocker here is actually Podman's internal storage of container configuration. Our configs (which contain an initial version of the container's OCI spec among other things) are immutable as a design decision, to make state t

[2020-04-08 16:13] Yajo commented on #4499
The man page says it all.  Yo might need to add the ˋ-tˋ parameter.

See https://www.mankier.com/1/podman-system-service

[2020-04-08 16:35] giuseppe commented on #5745
you could try directly the last version from git master

[2020-04-08 17:14] mwhahaha opened #5764 "Configuring registry.mirror causes pulls to fail"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Adding a [[registry.mirror]] configuration to /etc/containers/registries.conf causes podman pull (and debug) operations to fail

[[registry.mirror]]
location = '192.168.0.127:5000'
insecure = true

2. Run a podman pull

3. Fail

I've tried different conta

[2020-04-08 17:48] edsantiago opened #5765 "apiv2: "podman info" is slowing down"
I've seen several CI flakes in test-apiv2 that look like:
[code]
e.g. [in pr 5388](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/6225967844687872/html/apiv2_test.log.html). Rerunning the test usually clears it up.

I could easily bump up the time limit, but I put that test in there for a reason: the API was getting slow. I think 6 seconds for 10 reque

[2020-04-08 18:10] jwhonce commented on #5599
@marusak I was able to reproduce the issue with your snippet.  I'm debugging issue now.  This is one of those infamous "That should never happen issues."  The debugging output shows the server exiting with a live connection. I'll be sure and tag this issue in the PR with the fix.

[2020-04-08 18:34] lsm5 commented on #5296
The build is available now. I'll close this issue. Please re-open if it persists.

[2020-04-08 18:34] #5296 closed

[2020-04-08 19:05] edsantiago opened #5769 "More exec --preserve-fds flakes: boltdb, and bad file descriptor"
Two new kinds of flakes in CI, all in the 'podman exec preserve fds sanity check' test:
[code]
Source: #5767, [1 instance](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5112116461961216/html/integration_test.log.html#t--podman-exec-preserve-fds-sanity-check--1)

Next error:
[code]
Seen this one in #5671 [instance 1](https://storage.googleapis.com/cirr

[2020-04-08 19:22] dcdh commented on #5764
Can you provide all the content of the file `registries.conf` ?

I've got the same issue (and message `cannot load TOML value of type map[string]interface {} into a Go slice`) because I was missing the registry part.

This will **not** work :
[code]

This will work:
[code]

I fall into this trap, maybe the documentation should be updated.

[2020-04-08 19:48] mwhahaha commented on #5764
So yes I had only added the [[registry.mirror]] part and not a [[registry]] as well. This seems really counter intuative. It would be useful to a fully working example similar to what you've provided in the docs. What I was trying to do is configure docker-distribution as a mirror as documented https://docs.docker.com/registry/recipes/mirror/#run-a-registry-as-a-pull-through-cache and then configu

[2020-04-09 06:22] mlezajic commented on #5745
@giuseppe
thanks for getting back to me. I am quite new to this so i have never run podman directly from git master. I guess i have to download/clone the repo and then build podman somehow or run it from within the cloned repo? Any advice would be highly appreciated.

[2020-04-09 07:29] giuseppe commented on #5745
yes exactly.  You'd need to clone the git repository at $GOPATH/src/github.com/containers/libpod.  A `make podman` should be enough to build podman (assuming you have installed all the dependencies).

Since you are running Centos 8, you can fetch the list of dependencies here: https://github.com/containers/libpod/blob/master/Dockerfile.centos#L3-L30

Some packages might have a different name (e.g.

[2020-04-09 08:04] giuseppe commented on #5751
I am closing the issue since it is not really a problem in Podman.  Fell free to open a PR to add the check for the existing UID if you'd like this behaviour

[2020-04-09 08:04] #5751 closed

[2020-04-09 08:13] hapnermw opened #5772 "podman login doesn't accept -u -p flags"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.attempt to login with -u and -p flags returns "Error: too many arguments, login takes only 1 argument"

2.login without -u and -p results in podman prompting for user and password - this works

**Describe the results you received:**

I'm running the fedora

[2020-04-09 08:15] hswong3i opened #5773 "Ansible Role for Podman"
I am now maintenance an Ansible Role for Podman installation (https://github.com/alvistack/ansible-role-podman), by building the source code manually and install for following OS:
- Ubuntu 16.04/18.04/19.10
- CentOS/RHEL 7/8
- openSUSE 15.1

Could we also introduce this as an alternative installation method, e.g. under https://github.com/containers/podman.io/blob/master/getting-started/installatio

[2020-04-09 08:16] hswong3i opened #5774 "Static Binary for Github Release?"
Refer to #5773, now we could only install podman from source build, in order to provide a synchronized user experience for installation under follow OS combination:
- Ubuntu 16.04/18.04/19.10
- CentOS/RHEL 7/8
- openSUSE 15.1

Could we reference how runc/conmon/cri-o/kubectl/kubeadm/kubelet Github release works (e.g. https://github.com/cri-o/cri-o/releases/tag/v1.17.3), therefore also provide an s

[2020-04-09 09:23] vrothberg commented on #5764
Hi @mwhahaha, thanks a lot for reaching out!

Did you checkout the `containers-registries.conf(5)` [man page](https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md)?

The `[registries.search]` notation is the (old) v1 format while only v2 supports mirroring among other things. If you want to enable mirroring, you need to use v2 only.

`[registries.search]` can transf

[2020-04-09 10:53] mlezajic commented on #5745
Thanks Giuseppe! I was able to pull all dependencies as well as building and installing a rpm with the latest code from git master using

<code>make package-install</code> resulting in:

[code]

With this code level i no longer observe the problem. Do you have an estimate on when <code>v1.8.3</code> will officially be released?

Once again many thanks for your help and Happy Easter.

[2020-04-09 11:54] #5745 closed

[2020-04-09 12:50] rhatdan commented on #5745
We are planning on releasing v1.9.0 in the next week or two.  Not sure when this will bubble down to Centos.

[2020-04-09 12:57] cfelder commented on #5568
Hello, is there any progress on this? I am experiencing the same issue on CentOS 8. When firewall is enabled. Basically name resolution does not work whereas routing works fine when using Its directly.

[2020-04-09 13:05] rhatdan commented on #5291
I believe this is fixed,  Closing, reopen if I am mistaken.

[2020-04-09 13:05] #5291 closed

[2020-04-09 13:06] rhatdan commented on #5215
Hopefully podman load fixed @spidercatnat issue

[2020-04-09 13:06] #5215 closed

[2020-04-09 13:29] mheon commented on #5568
@mccv1r0 Any thoughts on this one?

[2020-04-09 13:29] rhatdan commented on #5772
@QiWang19 PTAL

[2020-04-09 13:29] cfelder commented on #5568
This may be related to #5335. I am currently not using the kubic repos but with the version provided in AppStream repos for CentOS 8

``podman-1.6.4-2.module_el8.1.0+272+3e64ee36.src.rpm``

a wrong CNI configuration is created containing iptables as backend for the firewall plugin.

This is easy to reproduce using:
[code]

[2020-04-09 13:57] baude commented on #5568
this is a known issue and is fixed upstream ... both the network create code and default cni config

[2020-04-09 13:58] cfelder commented on #5568
any chance getting this into the releases shipped with the base/appstream repos on rhel?

[2020-04-09 14:02] rhatdan commented on #5568
Is it fixed in podman-1.16.4?  Which should be released in rhel8.2 release.

[2020-04-09 14:02] rhatdan commented on #5568
We will release podman-1.9.* in RHEL8.2.1 in the summer time.

[2020-04-09 14:05] cfelder commented on #5568
Looking forward to see this and hopefully dnsmasq plugin in the next release. Meanwhile I can workaround this by myself.

Thanks a lot.

[2020-04-09 14:15] mheon commented on #5568
Can you confirm whether there is a firewall block in the base network we ship (`87-podman-bridge.conflist`)?

[2020-04-09 14:15] QiWang19 commented on #5772
I failed to replicate the issue. can you provide more info on the podman command you are using?

[code]

[2020-04-09 14:19] cfelder commented on #5568
For ``podman-1.6.4-2.module_el8.1.0+272+3e64ee36.src.rpm`` there is the following block:

[code]

[2020-04-09 14:25] mheon commented on #5568
Alright. So we are at least shipping a vaguely working config, here.

[2020-04-09 14:40] #5769 closed

[2020-04-09 15:03] mheon commented on #5773
I have no opposition. @TomSweeneyRedHat Thoughts?

PRs to podman.io are welcome - github.com/containers/podman.io

[2020-04-09 15:28] FlorianLudwig commented on #4056
So I would assume this to work:
[code]

but it doesn't:

[code]

[2020-04-09 16:09] ObieG commented on #4131
At first I was under the impression that #4698 would solve this issue, but I think I was confused.  If possible, I'd like to know what steps need to take place in order to get this containerception to work - I'm trying to become more familiar with the internals, and my team does have a use case.

[2020-04-09 16:13] mwhahaha commented on #5764
Yes I did read the man page however it's not exactly clear on what is necessary to accomplish this.  So I guess I need to figure out the correct v1 to v2 format changes required to get it working. I think my issue is that the examples aren't exactly the best for folks who don't know how this all works. Perhaps some more complex or real world examples might be beneficial.

For UX, "sysregistry v1/v

[2020-04-09 16:36] mwhahaha commented on #5764
Ah ha. Figured it out. So for the default centos podman config looks something like...
[code]

A v2 conversion with a docker.io mirror looks like...
[code]

It should be noted (and nothing caught it) that I originally had [[regsitry.mirror]] instead of [[registry.mirror]].

Also fun fact, if you have docker-distribution setup to proxy to registry-1.docker.io you can get away with:
[code]

Anyway I

[2020-04-09 16:36] #5764 closed

[2020-04-09 17:57] hapnermw commented on #5772
Here's an example that failed:

[core@ip-10-0-6-155 ~]$ podman login –u AWS –p
"eyJwYXlsb2FkIjoiM3grZmpMT2d4bUNwZlFVVVVOdHRzZkY5MC96M1ZUa21KbzZVYWdVZTZGY0hhTmZ0NExFNVMzNjRPdC9MSkwxSTBldHlGamtYVEU2amdEdWQweTlxcHRTZnU3WWZZczZycWtRVEQ5TXNTY2gzaEtXOUhvcE93YjhaSnlqOVBLWHFCSHhYSnpsQTdxeHNGaThZcFN5MHozWmpWZnh1dkFPWkhObEhBU3ZkaE5GY0ZGSXBzWW5XR0ZCM1RyZHlxYjUyYTluaWpSTkdYNUdXTCt1akhGeVE4YmRDV2VrVDU4dUNROCs0

[2020-04-09 18:13] rhatdan commented on #4056
Actually to get this to work, you would need to use fuse-overlay, since you are not allowed to use overlay as non root.
YOu could also try with a storage driver of vfs, and see if this works.

[2020-04-09 18:18] rhatdan commented on #4056
This works
podman run -ti --cap-add SYS_ADMIN --device /dev/fuse quay.io/podman/stable podman info

[2020-04-09 18:23] rhatdan commented on #5772
-p requires a PASSWORDSTRING and we require you to enter the registry.  We don't hard code docker.io.

[2020-04-09 18:30] QiWang19 commented on #5772
@hapnermw  `–u AWS –p ...` your dash `–` looks not correct, should be `-`

[2020-04-09 18:35] hapnermw commented on #5772
I don't understand your note. Exactly what do you think is wrong with my
failed example?

On Thu, Apr 9, 2020 at 11:23 AM Daniel J Walsh <notifications@github.com>
wrote:

[2020-04-09 18:37] snelders commented on #5315
How did you check that this is the case / where the bug is?

[2020-04-09 18:39] QiWang19 commented on #5772
@hapnermw it will work if you change the `–u –p` to `-u -p`

podman login -u AWS -p "eyJwYXlsb2FkIjoiM3grZmpMT2d4bUNwZlFVVVVOdHRzZkY5MC96M1ZUa21KbzZVYWdVZTZGY0hhTmZ0NExFNVMzNjRPdC9MSkwxSTBldHlGamtYVEU2amdEdWQweTlxcHRTZnU3WWZZczZycWtRVEQ5TXNTY2gzaEtXOUhvcE93YjhaSnlqOVBLWHFCSHhYSnpsQTdxeHNGaThZcFN5MHozWmpWZnh1dkFPWkhObEhBU3ZkaE5GY0ZGSXBzWW5XR0ZCM1RyZHlxYjUyYTluaWpSTkdYNUdXTCt1akhGeVE4YmRDV2VrVDU4dUN

[2020-04-09 18:39] jayaddison commented on #5296
This issue persists with `podman:1.8.2~144`:

[code]

[2020-04-09 18:40] hapnermw commented on #5772
You are right. That is strange. I likely copied the original command from
an example that had the wrong dash character. I'll try to find it.

On Thu, Apr 9, 2020 at 11:30 AM Qi Wang <notifications@github.com> wrote:

[2020-04-09 18:41] QiWang19 commented on #5772
@hapnermw ok, thanks

[2020-04-09 18:41] snelders commented on #5315
Reproduced this bug on RHEL 8.1, RHEL 8.2 Beta and CentOS 8.1

All using:
podman: 1.6.4
nftables nftables-0.9.0
firewalld (N.A. since disabled / but nftables enabled)

[2020-04-09 18:46] hapnermw commented on #5772
Thanks for catching that. You can close the issue.

Sorry to have taken your time with such a stupid; but, hard to see problem.

Somewhere there is an example login with this issue ...

On Thu, Apr 9, 2020 at 11:39 AM Qi Wang <notifications@github.com> wrote:

[2020-04-09 18:50] QiWang19 commented on #5772
Sure. Feel free to open an issue if you have other questions.

[2020-04-09 18:50] #5772 closed

[2020-04-09 19:00] lsm5 commented on #5296
You'll need to uninstall podman and install podman-rootless.

[2020-04-09 19:35] TomSweeneyRedHat commented on #5773
@hswong3i I'd very much welcome a PR for that.  Thanks!

[2020-04-09 19:53] TomSweeneyRedHat commented on #5772
@hapnermw If you do track down that bad example, please do let us know or better yet, open up a PR.

[2020-04-09 19:56] roggy85 opened #5780 "selinux preventing access in named-volumes when container is recreated"
/kind bug

**Description**

Reusing a named volume results in wrong selinux context of updated file (unconfined_u:object_r:container_ro_file_t:s0) and "Permission denied" when tryingto access the file.

Hope its right here and not a bug in the image :)

**Steps to reproduce the issue:**

1. podman volume rm pihole-etc pihole-dnsmasq

2. /usr/bin/podman run -d -p 53:53/udp -p 80:80/tcp -p 443:443/t

[2020-04-09 20:16] mheon commented on #5780
@rhatdan PTAL

[2020-04-09 20:30] rhatdan commented on #5780
If you want to share the same volume between two containers you need to use lowercase "z".

[2020-04-09 20:40] roggy85 commented on #5780
Thanks for the fast response.
Its the same result with the lowercase ":z"

[code]

regards

[2020-04-09 20:58] xedrac opened #5781 "cp -afl --preserve=xattr failing on directories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When executing `cp -afl --preserve=xattr <dir0> <dir1)` in a podman container, it appears that podman is attempting to create hard-links for the directories themselves (which is not permitted, even as root), rather than copy the directory names and create hard-links for the files.  If I remov

[2020-04-09 20:58] rhatdan commented on #5780
Is this and SELinux issue?
Does it happen if setenforce 0 is on?
What AVCs are using seeing
ausearch -m avc -ts recent

[2020-04-09 21:01] rhatdan commented on #5781
This is probably an SELinux issue. I would figure it is getting permission denied when it attempts to reset the SELinux labels.

[2020-04-09 21:02] rhatdan commented on #5781
Are you seeing AVC messages?

[2020-04-09 21:04] xedrac commented on #5781
I am not seeing any AVC messages.
I've also tried running this as:
`--privileged`
and
`--security-opt label=disable`

Although I'm not entirely sure it's related.

[2020-04-09 21:08] roggy85 commented on #5780
Here the output from the ausearch command before the "setenforce 0"
[code]

But it looks that it also happens in permissive mode but as expected it does not block the access - but reports the issue:

[code]

[2020-04-09 21:10] rhatdan commented on #5781
The problem I because you are attempting to set labels on fuse-overlayfs and that is not allowed.  As root is it also not allowed, since the container uses a context mount on overlay.

I have no idea why this is allowed on Docker, other then perhaps you aren't using overlay or SELinux is not enabled inside the container.

[code]

[2020-04-09 21:10] rhatdan commented on #5781
Definitely SELinux and not much we can do about it.
What Xattrs are you trying to preserve?

[2020-04-09 21:13] xedrac commented on #5781
Hmm...  This is from building quilt-native in a yocto build running inside a podman container.  I'm not really sure what Xattrs they are trying to preserve.  Is there a way to disable SELinux for now?

[2020-04-09 21:16] jayaddison commented on #5296
Ok, thanks @lsm5!

That's confirmed - `podman-rootless:1.8.2~144` from Kubic can co-exist with `kubernetes-cni:0.7.5-00` from Kubernetes.io without install conflicts.

Addressing the conflict in the original `podman` package may still be worthwhile -- it'd significantly ease the migration path from [Project Atomic's PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa), leading to better

[2020-04-09 21:19] rhatdan commented on #5781
No the issue is cp is seeing the SELinux labels and trying to maintain them.
Unless you disable the SELinux for the system.

It is too bad the kernel is not a little smarter or cp, in that it is attempting to set the same Xattr that is already on disk.

[2020-04-09 21:21] xedrac commented on #5781
Thanks for the info.  I guess I'm left wondering how Docker mitigates this.

[2020-04-09 21:23] rhatdan commented on #5781
The docker version you are using is not using SELinux for separation.
Is this a Dockerfile that you are trying to build?

[2020-04-09 21:27] xedrac commented on #5781
It is an image that I built from a Dockerfile, yes.  But the issue manifests while I'm running the cp command inside the image.

[2020-04-09 21:29] rhatdan commented on #5781
And you can not change the Dockerfile?
Not sure if `buildah bud` or `buildah bud --isolation chroot` would work any better.

We might want to look at not setting up the mount label when running with SELinux disabled.  But this still would not allow this to work on a rootless podman.

[2020-04-09 21:33] rhatdan commented on #5780
This looks like the original content was not run with "z"

Lowecase "z" is supposed to set the target label to system_u:object_r:container_file_t:s0

[2020-04-09 22:12] roggy85 commented on #5780
Okay, when its a "problem" with the image I will close the issue.
Thanks for your great and super fast support, keep up the great work! :)

[2020-04-09 22:12] #5780 closed

[2020-04-09 22:36] xedrac commented on #5781
Yes I can change the Dockerfile.  I'm currently using `podman build ...` to perform the build.  I'm not sure how to translate that to `buildah bud`.

One more piece of information.  If I disable SELinux on my host machine before building the image by doing `sudo setenforce 0`, I still encounter the problem.

[2020-04-09 23:34] TomSweeneyRedHat commented on #5781
`buildah bud --layers ...` is equivalent to `podman build ...`

[2020-04-10 05:38] abitrolly commented on #4499
@Yajo the man page specified invalid number of slashes - it should be `unix://$XDG_RUNTIME_DIR/podman/podman.sock`. Otherwise works fine.

Maybe `podman system service` could output the path to the socket it is listening to? For use in scripts, for example.

[2020-04-10 05:43] abitrolly commented on #4499
The full example how to redirect Docker API application to `podman` (using `pack` project - https://github.com/buildpacks/pack/issues/564).
[code]
The command above fails, but connection to `podman` is successful.

[2020-04-10 10:37] psmolkin commented on #4056
@rhatdan thanks for updates!
Which host systems should I use?

[2020-04-10 11:03] tt-why opened #5787 "Podman bind-mount volume noexec"
/kind bug

**Description**
Locally bind-mounted volume with noexec, impossible to override.

**Steps to reproduce the issue:**

1. mkdir -p local_dir && echo -e '#!/bin/sh\necho "It works"' > local_dir/test.sh && chmod +x local_dir/test.sh

2. podman run -it -v $(pwd)/local_dir:/root/local_dir:exec alpine:latest sh

3. /root/local_dir/test.sh

**Describe the results you received:**
/ # /root/local

[2020-04-10 11:14] rhatdan commented on #5781
xedrac, I am talking about disabling SELinux on the host, not about putting it in permissive mode.  But this is not something I am recommending.  I think it is best to eliminate the preservation of the xattrs.  I am not sure what you are worried about copying from there.

[2020-04-10 11:42] tt-why commented on #5787
I've found that even if I've made my /home exec temporarily with "mount -o remount,exec /home" it was still read from /etc/fstab by podman.
Removing the noexec from fstab fixed it.

Sorry for the inconvenience.

[2020-04-10 11:42] #5787 closed

[2020-04-10 11:46] rhatdan commented on #4056
Don't really understand the question?

[2020-04-10 14:36] xedrac commented on #5781
I would eliminate it, but that command is buried deep in what is considered a read-only yocto (poky) repository.  I generate these images so infrequently that I would rather disable SELinux temporarily just to produce a functional image.  However, I'm a little confused.  Doesn't setting SELinux to permissive mode mean that it will not enforce *any* policies, just logs warnings?  If this is true, I

[2020-04-10 15:46] frezbo opened #5788 "Play kube support for volumes created with `podman volume create`"
Play kube support for volumes created with `podman volume create`

/kind feature

**Description**
Play kube support for volumes created with `podman volume create`

[2020-04-10 17:44] giuseppe commented on #5781
since you are using fuse-overlayfs, there is an option that tells fuse-overlayfs to disable xattrs support, you can try by creating a container like:

`podman --storage-opt overlay.mountopt=noxattrs=1,overlay.mount_program=/usr/bin/fuse-overlayfs run  ....`

I think this could solve the issue you've

[2020-04-10 19:18] amarshall commented on #5723
I installed Podman from the COPR referenced from [install docs](https://podman.io/getting-started/installation#fedora) which appears to be from latest git (1593d4c0) and can confirm `--cap-add` and `--cap-drop` work as expected.

-----

However, unrelated to this issue, running that latest podman as root even for a simple run, e.g. `sudo podman run -it --rm fedora` fails with:

[code]

Not sure wh

[2020-04-10 19:46] supermar1010 opened #5789 "Unable to write pod event"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Starting pods fails with `ERRO[0000] unable to write pod event: "open : no such file or directory" `

**Steps to reproduce the issue:**

1. Not sure, for me it occurs when starting my containers

**Describe the results you received:**

Errors are thrown.

**Describe the results you expected:*

[2020-04-10 20:35] mheon commented on #5789
Can you provide `~/.config/containers/libpod.conf`

[2020-04-10 21:23] dtenbrinck opened #5790 "Sending data to an unbound port leads exposed container ports to close"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During the creation of an OCI container from an image via podman it is possible to specify port bindings between host and container, even if the image from which that container is built does not expose these ports. When using curl or nc to send requests on these ports ALL specified container

[2020-04-10 21:35] mheon commented on #5790
Are you running as root, or rootless?

There is no distinction anywhere within Podman as to whether a port was exposed by the image, or by the user; all port mappings are grouped together at time of container creation. I'm wondering if this isn't caused by the forwarding process crashing after initial traffic is received.

[2020-04-10 21:42] dtenbrinck commented on #5790
Thanks for your explanation. I am running rootless.
This happens with any port I try except port 80, which is declared as "exposed" by the nginx image.

[2020-04-10 21:51] mheon commented on #5790
Can you confirm that `nginx` in the container is actually listening on port 443? Could be this is caused by hitting a port with nothing listening in the container.

[2020-04-10 21:57] dtenbrinck commented on #5790
No, `nginx` is only listening on port 80. The configuration file `nginx.conf` and its includes have no line `listen 443;`.

[2020-04-10 22:05] supermar1010 commented on #5789
What also might be worth noting is, that I always have to set `XDG_RUNTIME_DIR=/run/user/1002` before that it tries to use the id 1000, which fails with a permission denied, but this might also be a problem with the account I'm using, not sure if this is related, just wanted to mention it :)

[code]

[2020-04-10 22:12] ya-isakov commented on #5362
@rhatdan as I said in https://github.com/containers/libpod/issues/5362#issuecomment-593166903, I've tried with --net=none, and it was not what I mean, as there was no interfaces at all, even loopback, which prevents my daemon from starting, as it was not found interfaces to listen on.

[2020-04-11 18:26] Enrico204 commented on #4522
@delight Apparently it was deprecated and moved to: https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

(source: https://launchpad.net/~projectatomic )

[2020-04-12 01:53] paravz commented on #3459
@mheon same scenario is broken in pre-release Fedora 32, likely in systemd: https://github.com/systemd/systemd/issues/15408

[2020-04-12 06:54] max-arnold commented on #5580
Actually we do not care about the output compatibility with `docker network ls`. There are three problems in the linked issue:

1. Docker version number. I can fix it on Salt side, but I got the impression that you guys have a patch for it  (you mentioned it in the previous issue: https://github.com/containers/libpod/issues/5553#issuecomment-601222951). Please tell me if I'm wrong and I'll remove

[2020-04-12 07:05] Fodoj opened #5791 "Rootful connection refused for Java app"
[code]

Given this Containerfile:

[code]

And this startup.sh:

[code]

I then run `podman build . -t langtool:latest`, once for my regular user and once for root user.

Then when I run it as regular user with `podman run -p 8081:8081 localhost/langtool:latest` and try to access it `curl localhost:8081` I get, as expected:

[code]

When I run the same command as root, all I get is:

[code]

Same

[2020-04-12 07:23] abitrolly opened #5792 "How to debug/test Docker API"
It looks like `podman` implementation of Docker API might be missing information on labels.

https://github.com/buildpacks/pack/issues/564#issuecomment-611889058

How to check which requests and answers were sent during `podman system service`?

[2020-04-12 07:31] Fodoj commented on #5791
Something to add - if I use `--network host` it works fine, of course.

[2020-04-12 07:33] Fodoj commented on #5791
Also could be of interest - if I run `firewall-cmd --reload` then it still does not work, but instead of `connection refused` it times out.

[2020-04-12 07:54] abitrolly opened #5793 "podman hangs with output redirection"
/kind bug

This works correctly - shows a list of policies on the screen.
[code]
However, redirecting the output make the whole thing hang
[code]
The resulting file is there, but incomplete.
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2020-04-12 08:05] Fodoj commented on #5791
I figured out the problem - by default LangTool server runs only on localhost, so it does not listen on the interface that CNI gives to the container. Adding `--public` option solves the issue.

I was just confused it was working just fine in rootless mode, without `--public`. I guess it makes sense it works this way, but it was not obvious and confused the hell out of me.

In any case, excuse me

[2020-04-12 08:05] #5791 closed

[2020-04-12 12:31] MastaG opened #5794 "Rootless containers not working on Armv7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rootless containers not working with podman
**Steps to reproduce the issue:**

1. podman --log-level debug run hello-world

2.

3.

**Describe the results you received:**
[code]
**Describe the results you expected:**
Output of the hello-world container

**Additional information you deem impor

[2020-04-12 12:39] yellowhat opened #5795 "eBPF not supported: OCI runtime error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Hi,
I would like to use the `--device` option, but I get the following error:
[code]
Instead if I do not use the `--device` option it works as expected.
Is there something wrong with my kernel configuration?

**Steps to reproduce the issue:**
1. `sudo podman run -it --rm --device=/dev/dri/card0

[2020-04-12 14:55] mheon commented on #5793
I think this is caused by allocating a terminal for the container (-t). Try
running without -t and I suspect output redirection will work as expected.

On Sun, Apr 12, 2020, 03:54 Anatoli Babenia <notifications@github.com>
wrote:

[2020-04-12 17:15] mheon commented on #5791
@Fodoj The firewall thing is known, and has a separate bug (can't find the link right now, sorry) - the brief version is that `firewall-cmd --reload` removes all non-permanent rules, which our container rules are counted as (making them permanent would let them survive reboot, which would be bad for different reasons). I'm looking to add a command that will re-initialize container networks to re-a

[2020-04-12 17:58] #5717 closed

[2020-04-12 19:38] supermar1010 opened #5796 "podman not opening port"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The port is supposed to be routed to the host, but is not. See the output of `podman ps`. Port 10080(it is in a different docker-compose/pod) works but 10000 and 18081(both in the same docker-compose/pod) does not, there's no error message or similiar.

Sometimes it works though, I'm not sure

[2020-04-12 19:48] supermar1010 commented on #5796
This is related/the same issue: https://github.com/containers/podman-compose/issues/107

[2020-04-12 20:53] supermar1010 commented on #5789
Well this issue solved itself after recreating that user account, I'm not sure why

[2020-04-13 06:10] AndrienkoAleksandr commented on #5488
Hello @giuseppe I used latest podman  quay.io/podman/stable:master i guess it should contains the latest not release changes. But I still see this an error:

[code]

And disable group didn't help me:

[code]

[2020-04-13 07:13] giuseppe commented on #5795
the devices controller on cgroup v2 uses eBPF.

Secure Boot might be blocking eBPF (`man 7 kernel_lockdown`), could you please verify if that is the case by disabling it?

[2020-04-13 07:20] yellowhat commented on #5795
Yes secure boot is disabled.

Thanks

On Mon, 13 Apr 2020, 08:14 Giuseppe Scrivano, <notifications@github.com>
wrote:

[2020-04-13 07:47] giuseppe commented on #5796
There were different fixes with rootlessport after 1.8.2, would it be possible to build podman from git and try with it?

[2020-04-13 08:46] giuseppe commented on #5488
what crun version are you using?  It looks like an issue that was fixed in 0.13

[2020-04-13 08:47] giuseppe commented on #5795
does eBPF generally work?  Are you able to use `execsnoop`?

[2020-04-13 08:48] giuseppe commented on #5487
it is fixed in master, closing the issue

[2020-04-13 08:48] #5487 closed

[2020-04-13 09:20] yellowhat commented on #5795
Sorry, how can I test eBPF?
I have:
[code]

Thanks

[2020-04-13 09:33] yellowhat commented on #5795
I solved by enabling the flag bpf for app-emulation/crun.

Thanks

[2020-04-13 09:33] #5795 closed

[2020-04-13 09:47] rhatdan commented on #5788
This currently does not work?  What happens?
@kunalkushwaha @sujil02 PTAL

[2020-04-13 09:54] rhatdan commented on #5723
Switch to crun for an OCI runtime.  runc does not yet support cgroup V2.
What OS are you running on?

[2020-04-13 10:12] giuseppe commented on #5795
thanks for letting me know.  Is it something that should be fixed in the gentoo package?

[2020-04-13 10:18] rhatdan commented on #5362
I should have said --net=host

[2020-04-13 10:30] yellowhat commented on #5795
Maybe enable by default the bpf flag for crun?

On Mon, 13 Apr 2020, 11:12 Giuseppe Scrivano, <notifications@github.com>
wrote:

[2020-04-13 10:46] giuseppe commented on #5795
it is, but dependencies must be installed.

[2020-04-13 11:19] giuseppe commented on #5781
@xedrac does the proposed solution work for you?

[2020-04-13 11:30] rhatdan commented on #5789
I would figure this was permissions problems on /run or something like that.

[2020-04-13 11:30] #5789 closed

[2020-04-13 11:30] rhatdan commented on #5485
@larsks @vrothberg Does this issue still exist?

[2020-04-13 11:31] rhatdan commented on #5430
@adelton @TomSweeneyRedHat Still looking at this or should we close?

[2020-04-13 11:32] rhatdan commented on #5454
@computator @mheon Does this still happen with the latest versions of podman and conmon?

[2020-04-13 12:40] sujil02 commented on #5698
@mheon
I looked into this. I got the glitch. It's basically when we run a container with volume and if the volume doesn't exist it basically creates a new volume with default as root UID, GID
 Ref: https://github.com/containers/libpod/blame/master/libpod/runtime_ctr.go#L312

However, What I am not sure of is can I pick the user flag params from `ctr.config.User` or there need to be some binding up

[2020-04-13 13:06] baude commented on #5792
podman --log-level=debug will show which requests come in

[2020-04-13 13:17] FlorianLudwig commented on #4056
@rhatdan

thank you for your patients :) !

[code]

does indeed work!  But trying to execute anything fails, with networking errors:

[code]

Or:

[code]

[2020-04-13 13:23] rhatdan commented on #5698
I believe you can pick the ctr.config.User

[2020-04-13 13:51] mheon commented on #5788
We have support for bind-mount (and I think tmpfs) volumes, but not named volumes. Those generate additional bits of Kubernetes YAML, which we have to deal with in both `generate kube` and `play kube` (and there was some debate as to exactly what YAML was required). Probably not particularly difficult, but someone more familiar with Kube would be a good fit for this.

[2020-04-13 14:07] supermar1010 commented on #5796
Is there a container which can do the build? I'm not really keen to install all the dependencies on my server/desktop
And is there a how to build file? I did not find any

[2020-04-13 15:27] Hubbitus commented on #5535
It is not enough just rename field. Please look:
[code]
Formatting is completely broken.
If i remove `\t` it looks better:
[code]
But sti5ll with some escaping artifacts like `-&gt;`

[2020-04-13 15:36] giuseppe commented on #5796
`Dockerfile.fedora` has the dependencies you need.

You could use it to create an image with all the build tools, and then create a container with a volume and do the go build within the container.

[2020-04-13 16:38] rhatdan commented on #5535
@Hubbitus Any chance you could try this with the podmanV2 work?

[2020-04-13 16:57] TomSweeneyRedHat commented on #5488
@giuseppe FWIW, @rhatdan discovered that the stable image is still at v1.6.2 as of this morning.  We've an issue with the building of the final rpm that @lsm5 is looking into.

[2020-04-13 18:28] #5599 closed

[2020-04-13 18:45] rhatdan commented on #5488
Yes, we had some breakage, and I have been working on getting rootless podman to work.

The thing that is blocking me right now and podman trying to manage cgroups inside of a container.
This PR is to help fix this.
https://github.com/containers/common/pull/115

[2020-04-13 21:00] christian-korneck opened #5802 "RFE: cli plugin support?"
I'm new to podman and have a quick question: Does podman support CLI plugins, [similar to the Docker CLI](https://docs.docker.com/engine/extend/cli_plugins/)? If so it would be great if someone could point me to a starting point like docs or an example. (If not I would still appreciate a quick confirmation - it'll save me some time from digging into the sources).

(Background: I have some homebrew

[2020-04-13 21:21] mheon commented on #5802
We do not at present support CLI plugins, sorry.

[2020-04-13 21:30] christian-korneck commented on #5802
@mheon thanks for clarifying!

[2020-04-13 21:41] rhatdan commented on #5802
What exactly do you do with a CLI Plugin?

[2020-04-13 22:12] christian-korneck commented on #5802
Small convenience things that I was missing from the Docker CLI. For example I have a plugin `pushrm` which pushes the _README.md_ from the current dir to the registry (with support for Dockerhub, quay, harbor). So I can run something like this to push the image and update the repo description in one go:

[code]

I use it both interactively and in CI jobs. It uses registry creds from the Docker cr

[2020-04-14 00:01] TomSweeneyRedHat commented on #5802
hmm, sounds like a good RFE to me if someone wanted to run with it.  Maybe we should add RFE to the title of this and open it up for someone to dive into?

[2020-04-14 00:04] aparhatus opened #5805 "Communication between containers on separate networks"
Is communication between rootful containers on separate networks allowed by design? In Docker, containers on separate networks cannot access each other out of the box, whereas here they appear to:

[code]

The networks were created with `podman network create <name>`.

Is there any way to get the same behaviour as with Docker, where containers cannot reach each other directly in this fashion and i

[2020-04-14 00:10] mheon commented on #5805
No way at present, though I imagine you could add firewall rules manually to restrict networks from reaching each other.

I imagine that CNI does have some way of doing this, given its origins in Kube, so that is something else worth researching.

[2020-04-14 00:26] kunalkushwaha commented on #5788
I can look into this.

[2020-04-14 00:43] christian-korneck commented on #5802
Done. Thanks for supporting this!

[2020-04-14 05:49] ikke-t opened #5806 "podman pull unexpectly wastes lot of space for image"
/kind bug

**Description**

I fail to pull 2.1GB container into VM that has 15GBB of free disk space. Container compressed size is 689.14 MB. VM runs out of diskspace.

**Steps to reproduce the issue:**

1. I use Fedora IoT with podman 1.8.2 https://iot.fedoraproject.org/ with 20GB of storage.

2. I pull this image as non-root user:
  ```docker pull ansible/awx_task:10.0.0```

3. It takes long, an

[2020-04-14 07:15] vrothberg commented on #5764
Thanks for checking @mwhahaha!

[2020-04-14 07:31] FlorianLudwig commented on #4056
I just released that the error that is actually the problem is `setrlimit` not the networking.

Looking into the code:

https://github.com/containers/libpod/blob/b3a3fc3ef6750b01d6182ea43f1fb0921966408b/cmd/podman/main_local.go#L266

It looks like it tries to set the limit to 1048576. So I tried with `ulimit -n 1048576` and `podman --ulimit=host` but made no change:

[code]

Trying with `--storage

[2020-04-14 07:59] vrothberg commented on #4522
Yes, please refer to https://podman.io/getting-started/installation for the updated installation instructions.

[2020-04-14 08:02] vrothberg commented on #5485
Yes. The idea is to add `--replace` to run/create which will remove an existing container in case of a name conflict. There are a couple of issues I want to tackle once the v2 work is closer to the finish line.

[2020-04-14 08:08] FlorianLudwig commented on #4056
One more note: `quay.io/podman/stable` contains podman version 1.6.2! Updating to 1.8.2 did not resolve the issue, just created more error logs:
[code]

# Current state

Here the furthest I have come so far to running podman inside podman:

## ☒ Rootless
[code]

## ☑ Rootfull
[code]
 * `--cgroup-manager=cgroupfs` needed
 * podman 1.8.2 needed

[2020-04-14 08:10] FlorianLudwig commented on #4131
@the-humbe t

When running inside docker make sure you are using an up to date podman. Beware: `quay.io/podman/stable` is NOT up to date.

The following should work:
[code]

There is a similar discussion over there on https://github.com/containers/libpod/issues/4056 and here https://github.com/containers/buildah/issues/2175 with some more details

[2020-04-14 08:25] johanbrandhorst commented on #4131
Note that this sort of thing has been possible for a long time, as mentioned in the topic:

Any solution that requires `--privileged` is not a solution to this issue.

[2020-04-14 09:20] adelton commented on #5430
I do not experience any issues with rootless podman-1.8.2-2.fc31.x86_64.

[2020-04-14 10:36] AndrienkoAleksandr commented on #5488
Version was really lower than 0.13:

[code]

But issue is relevant even after update runc:

[code]

This PR is to help fix this.
containers/common#115

Thanks a lot, Good luck!

[2020-04-14 11:43] ctron commented on #5430
I can no longer reproduce this issue. Maybe it was my update to podman 1.8.2, or maybe it was due to some update in the fedora images, I can't tell. Now it works for me.

[2020-04-14 12:38] rhatdan commented on #4056
Non root users are not able to change the rlimits higher then what they are allocated.  This is controlled by the linux kernel not anything podman can do about it.  If you need huge rlimits then the user account has to default to them, or you need to run as root.

[2020-04-14 12:41] rhatdan commented on #4131
Working on it.  I am working to make this as simple as possiblem  IE using containers.conf to embed the correct options into the container image to make it easier.

I am working on the podman in podman issue right now.  One problem with podman inside of Docker is that docker has stricter seccomp rules, that are going to force you to disable seccomp.

[2020-04-14 12:53] #5430 closed

[2020-04-14 13:00] FlorianLudwig commented on #4056
@rhatdan I do not want to set any rlimits at all. Running:

[code]

Fails with:
[code]

I thought I might workaround this by setting a higher rlimit on my "host" podman but that didn't change anything.

[2020-04-14 13:17] rhatdan commented on #4056
I think it would be best right now to work on the upstream

[2020-04-14 13:49] rhatdan commented on #5802
Sure this is an open project. If we can get a contributor to work on this, we would welcome the addition.

[2020-04-14 13:57] rhatdan commented on #5806
Could this be the pull was being stored on /tmp and this ran out of space?

[2020-04-14 15:23] GrooveCS opened #5810 "Is podman run -dt command option defined or deprecated?"
/kind feature

**`podman run -dt` option not defined or labeled deprecated**
The current [podman-run.1.md](https://github.com/containers/automation_sandbox/blob/master/docs/source/markdown/podman-run.1.md) page does not list this option. It should be listed if valid or marked deprecated if it been replaced.

Several reliable source tutorials and websites are using the option "`-dt`" yet the offici

[2020-04-14 15:39] mheon commented on #5810
`-dt` is not a single option, but a combination of `-d` and `-t` - run detached, with a terminal. Docker allows merging single-letter flags together like this (`-dit` is also valid, for example - `-d`, `-i`, `-t`), and Podman has inherited this support; I'm honestly not a fan because of issues of clarity, as seen here.

[2020-04-14 17:09] rhatdan commented on #5810
In most command line tools a single `-` indicates single letter options,  As @mheon Says they can be combined.
For example
`ls -latr`
Double `--` indicates long options  `--detach --tty` for example.

I don't believe this is an issue.

[2020-04-14 17:09] #5810 closed

[2020-04-14 17:57] ikke-t commented on #5806
Good idea. I forgot to add here that fedora-iot has a bit different directory layout, so pretty much everything is under /var, mounted from root LMV. It is the users ~/.local/share/containers that get's full.

Before the pull:
[code]

after the pull:

[code]

it does some weird mapping, as here in mount you can see the sysroot is on /var, and  many others too.

[code]

But eventually it is all the

[2020-04-14 18:13] ikke-t commented on #5806
and the env for the user, just in case:

[code]

[2020-04-14 18:18] runiq commented on #4875
Any news on this? I'd love not having to keep around the container config files when creating systemd units for pods :)

[2020-04-14 19:51] rasibley opened #5815 "Podman attempts to disable LRO on a device that doesn't support it (x86_64)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman attempts to disable LRO on a device that doesn't support it (x86_64)

**Steps to reproduce the issue:**

1. Run https://github.com/CKI-project/tests-beaker/blob/master/container/podman/runtest.sh

2.

3.

**Describe the results you received:**
 WARNING: CPU: 1 PID: 4593 at net/core/dev.

[2020-04-14 19:55] mheon commented on #5815
@mccv1r0 PTAL

[2020-04-14 20:26] j0057 opened #5816 "Running containers in user namespace as root causes overlayfs errors"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After having run containers with `--uidmap` and `--gidmap` as root, `podman image ls` throws errors. This situation persists until images are removed.

**Steps to reproduce the issue:**

1. Remove all existing images: `podman image rm -a`
2. Run a container as root and clean it up again: `pod

[2020-04-14 21:14] mccv1r0 commented on #5815
Where is podman trying to turn LRO off?   Is podman even capable of doing such a thing?

If not podman what is (and where?)  Was cni configuration trying to turn LRO off (e.g. via tuning plugin)?  I don't see the cni .conflist so I can't check for myself.

[2020-04-14 21:28] mheon commented on #5815
@rasibley

Is `ens3` a host device? Is there a host-device plugin at play here, maybe?

Providing the `podman run` line for the container that caused this, and any CNI config files present in `/etc/cni/net.d/` would help diagnose.

Do you have a reproducer? Can you make this happen consistently?

[2020-04-14 21:34] mheon commented on #5815
Looking at the linked script, I can't see a single `podman run` command. @mccv1r0 This does not sound like something that would ever happen on CNI init, right? We'd need some sort of explicit call to the plugins to set up a pod to make changes to the host?

[2020-04-14 21:48] mheon commented on #5815
Ah, I see that this runs the system tests. Where are those tests located? Where can I get a copy of them?

[2020-04-14 21:53] mheon commented on #5815
I also can't see any correlation (timestamps, etc) between the different logs provided. As such, it's extremely difficult to tell which of the tests is causing this failure. I don't know how helpful we can be without knowing that.

[2020-04-15 07:01] jstancek commented on #5815
It's triggers during "podman images - history output"
[code]

[2020-04-15 08:09] jstancek commented on #5815
It is consistently reproducible with "podman images - history output" test on 5.6.4-300.fc31.x86_64.

ens3 is only guest NIC other than loopback:
[code]

[code]

Per systemtap parent of 'bridge' is podman:
[code]

But actual trigger appears to be:
[code]

On freshly booted system:
[code]

[2020-04-15 08:56] vrothberg commented on #4875
Not yet. I expect to be working on this in May. Note that you can create systemd units for pods but not (yet) with the `--new` flag.

[2020-04-15 11:06] rhatdan commented on #5816
When you are rootless you only have access to the UIDs within your user namespace.

[code]

200000 is not in the range of UIDs that you own.

This command will work with rootful, or you could attempt a range within the 65k UIDs assigned to your user in /etc/subuid and /etc/subgid.

[2020-04-15 11:08] rhatdan commented on #5806
@mtrmac @vrothberg PTAL

[2020-04-15 11:30] j0057 commented on #5816
I'm sorry, I think I may have my terminology wrong. All the steps to reproduce are ran as root, so that makes them rootful containers, even though they use --uidmap/gidmap?

If I run these steps, as root...

1. `podman image rm -a`
2. `podman run --rm --uidmap 0:60000:1000 --gidmap 0:60000:1000 -it alpine:3.11 true` (so now with a uid/gid less than 65536)
3. `podman image ls`

...then the last ste

[2020-04-15 13:25] mheon commented on #5815
Assuming this is our system tests in master, which now seems likely: likely culprit is https://github.com/containers/libpod/blob/31d14457a5636df62c755480ee10f1946a5bc8b0/test/system/010-images.bats#L50

@mccv1r0 From this, it looks like it is CNI, but it also reproduces trivially by echoing into /proc manually; does this smell like a potential issue outside Podman/CNI (kernel, maybe?) to you?

[2020-04-15 13:54] rhatdan commented on #5816
@giuseppe PTAL

[2020-04-15 14:00] giuseppe commented on #5816
docker.io/library/alpine   3.11   a187dde48cd2   3 weeks ago   unable to determine size: size/digest of layer with ID "379557b8dd3e4df8ab2a5bd0afec5cb234777ad438c3c672a0f6f8763d2e5f5d" could not be calculated: error creating overlay mount to /var/lib/containers/storage/overlay/379557b8dd3e4df8ab2a5bd0afec5cb234777ad438c3c672a0f6f8763d2e5f5d/merged: stale NFS file handle

are you using NFS?

[2020-04-15 14:54] mccv1r0 commented on #5815
Yes.  Looks like a kernel bug.

CNI/Podman  just use the kernel bridge.  CNI/podman don't touch forwarding or LRO settings.

[2020-04-15 15:35] j0057 commented on #5816
Hi giuseppe, no, this is my filesystem layout:

[code]

It seems like `err=-116` from the kernel logs is an error code that is being incorrectly translated to the error about NFS.

[2020-04-15 15:56] b1zzu opened #5821 "Can't write into shared folder "Permission denied""
/kind bug

**Description**

I'm trying to share a directory with my container and write or read to it but I can't, this is what I did:

[code]

**Steps to reproduce the issue:**

1. Run `podman run -v $(mktemp -d):/test -it alpine`

2. From inside the container try to create a file inside the /test directory `touch /test/ro`

**Describe the results you received:**

[code]

**Describe the results y

[2020-04-15 15:58] matthubb opened #5822 "Arbitrary name for infra container"
/kind feature

**Description**

I would like to be able define _and_ manage the execution of a pod using a combination of the `podman-generate-systemd` and the [Shareable Services](https://www.redhat.com/sysadmin/podman-shareable-systemd-services) techniques, and be able to use these unit files as versioned, re-deployable configuration.

The sticking point seems to be the `.service` file for the i

[2020-04-15 16:09] mheon commented on #5821
Likely SELinux.

You can either relabel the directory you're mounting in for use by the container with the `:z` or `:Z` volume options (`podman run -v $(mktemp -d):/test:z` for example) or (less desirable) disable SELinux confinement for the container with `--security-opt label=disable`

[2020-04-15 16:11] Thitho007 opened #5825 "Container failed to start using API with image informations and user context"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Container failed to start using API with image informations and user context

**Steps to reproduce the issue:**

1. Start podman API
[code]

2. Create container
[code]

3. Start container
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Same behavio

[2020-04-15 16:28] j0057 commented on #5816
When I look at `strace -s 1000 -f --failed podman image ls`, I see this:

[code]

And ESTALE does correspond to 116 in /usr/include/asm-generic/errno.h:

[code]

[2020-04-15 16:30] xedrac commented on #5781
I'm not currently in a position to test it unfortunately.  It looks like a promising workaround for sure.  Once I've finished what I'm working on, I'll revert back to cgroupsv2 and try again.  But that might be a few weeks.

[2020-04-15 16:32] mheon commented on #5825
Generation for args is likely broken - we don't seem to be accounting for ENTRYPOINT from the image.

[2020-04-15 16:59] mtrmac commented on #5806
That’s unexpected. Can you track down the exact new files/directories that are taking so much space, ideally down to the overlayfs layer or even the individual file?

---

The failing 714266dcb3… layer is 2560 bytes uncompressed, two directories and a symlink. It’s _possible_ that the process was a few kilobytes short of out of space and randomly hit that tiny layer, but it seems extremely unlikel

[2020-04-15 18:22] bcstinch opened #5828 "META: Podman Workflow Tombstone"
This is a sort of meta issue where we wanted to enumerate how we were trying to use podman for some simple deployment cases and wondering if we're missing the mark and potentially chasing antipatterns. It's entirely possible that this is a RTFM moment for the community, if that's the case I hope this is a good sort of tombstone issue that people find. It originated as a discussion on IRC with @mhe

[2020-04-15 18:24] storrgie commented on #5828
This is for sure related to the inquiry we asked issue #5740.

[2020-04-15 18:28] stanltam opened #5829 "failed to build docker with operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

failed to build docker with operation not permitted with following command:
 podman build -t test .

STEP 15: RUN bin/jboss-cli.sh --file=cli/0-K8sCluster.cli -Dserver.config=standalone-full-ha.xml
error running container: error creating new mount namespace for [/bin/sh -c bin/jboss-cli.sh --

[2020-04-15 19:58] rhatdan commented on #5821
podman run -v $(mktemp -d):/test:Z -it alpine
Will fix the issue.

[2020-04-15 19:58] #5821 closed

[2020-04-15 20:06] TomSweeneyRedHat commented on #5829
@stanltam can you share the Dockerfile that you used?

[2020-04-15 21:12] nalind commented on #5806
The vfs driver builds each layer starting with a complete copy of its parent layer.  The image has 35 layers.  The first of those layers, decompressed, is a 234 megabyte blob that takes up around 246 megabytes of space once it's extracted.  The second layer, adding a 776 megabyte layer blob, results in a layer that takes up about 985 megabytes of space.  The third and fourth layer blobs are tiny,

[2020-04-15 22:11] alitvak69 commented on #5736
podman info --debug includes podman version

[2020-04-15 22:25] alitvak69 opened #5833 "Builds for podman 1.9.0 keep failing on SuSE build service"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

May be it has to do with these messages:

`[  123s] GOPATH=/usr/src/packages/BUILD GO111MODULE=off /usr/bin/go generate ./cmd/podman/varlink/...
[  123s] warning: "./cmd/podman/varlink/..." matched no packages
[  123s] GOPATH=/usr/src/packages/BUILD GO111MODULE=off /usr/bin/go build -tags 'apparmor exclude_gr

[2020-04-15 23:35] shanemcd commented on #4648
Circling back to this in case in helps anyone else. There were a few things going on here.

First, we have the following in our Dockerfile:

[code]

Next, `/home/<user>/.local/share/containers` needs to be marked as a `VOLUME` in the Dockerfile. Without this we were getting a weird "command not found" for the `ENTRYPOINT`.

Lastly, we have containers that do some black magic in the entrypoint in o

[2020-04-16 01:20] mheon commented on #5509
Sorry that this got ignored. We're in the middle of a big rework of Podman as a whole, and this got caught in the cracks.

One piece of interesting news is that we've introduced a new configuration file, `containers.conf`, which unifies a lot of options and will eventually replace `libpod.conf`; unfortunately, it does not include storage or image configuration, as those are separate libraries. Tha

[2020-04-16 01:42] stanltam commented on #5829
Hi Tom,
 Here you are.

FROM jboss/wildfly
USER 0
COPY build/cli/test.cli $JBOSS_HOME/cli/test.cli
WORKDIR $JBOSS_HOME
RUN bin/jboss-cli.sh --file=cli/test.cli  -Dserver.config=standalone-full-ha.xml

[2020-04-16 04:15] theunrealgeek commented on #4093
@aric49 I will have a first cut at this very soon (~ couple of days). I plan on having a simple interpretation of the `Deployment` object into a bunch of identical pods. I'm still debating whether to introduce the `ReplicaSet` concept that k8s uses underlying a `Deployment`.

Also, to my understanding podman itself is stateless, so supporting something like a re-play of a changed file to only upda

[2020-04-16 05:36] aanno commented on #5796
Same problem here with fedora 32 (podman 1.8.2). Port is not accessible on host system in rootless mode. (It works in root mode.)

[2020-04-16 06:08] aanno commented on #5796
@giuseppe:
I have compiled podman (`libpod`) on my own on fedora 32. The issue is solved on master d6b3bc18f85236aa.

However, I'm unable to access mounted files in the container (like `--mount type=bind,source=/mnt/home/aanno/scm/scm/docker-compose-files/config/solr/libs/ojdbc8-12.2.0.1.jar,destination=/opt/solr/server/lib/ext/ojdbc8-12.2.0.1.jar,ro`). Is this a known issue (e.g. still #3683 or s

[2020-04-16 07:39] giuseppe commented on #5796
what error are you seeing?  Also, who owns that file?

[2020-04-16 07:50] aanno commented on #5796
I was able to fix the issue with
[code]
like mentioned in #3683. Hence it is SELinux related. However, I think that should be at least be in the troubleshooting guide...

[2020-04-16 07:53] ikke-t commented on #5806
Thanks for the good explanation. Yes, RHEL8 has "GraphDriverName: overlay". By the sounds of this, Fedora-IoT won't be the right choice for me then. Unless I could add another storage LV for containers with overlay set as the driver.

[2020-04-16 08:01] aanno commented on #5796
[code]

[2020-04-16 09:49] vrothberg commented on #5822
Thanks for opening the issue, @matthubb! We are tracking work for this in https://github.com/containers/libpod/issues/4875. I will find time to tackle that in May.

[2020-04-16 09:49] #5822 closed

[2020-04-16 09:50] Poorunga opened #5836 "failed to get new shm lock manager: failed to create 2048 locks in /libpod_lock: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

&emsp;The bottom layer of the Android architecture is based on the Linux kernel, so I want to run container on the Android-x86 platform, just for fun.
&emsp;I added the Linux kernel compilation option to make Android-x86 support Linux container features. I copied all Docker static executable files (such as docker, dockerd, d

[2020-04-16 10:03] vrothberg commented on #5034
This has been fixed in the meanwhile, closing.

[2020-04-16 10:03] #5034 closed

[2020-04-16 10:18] rhatdan commented on #5806
Why aren't you using overlay on Fedora-IoT?

[2020-04-16 10:19] rhatdan commented on #5806
If you install fuse-overlay then it will work in rootless mode.  Sorry I missed this.

[2020-04-16 10:26] mlezajic opened #5838 "Non-root container user can't access mounted host directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading from podman **v1.6.4** to a current dev version from git master (**2.0.0-dev**) i am no longer able to access files and/or directories on the host respectively on a mounted volume the way i used to be when i was still using **v1.6.4**. I would guess that this is most likely no

[2020-04-16 10:40] giuseppe commented on #5796
would you like to open a PR to describe the issue and the solution you've found?

[2020-04-16 11:06] marusak opened #5840 "APIv2: Can do at most one request for rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I can do only one request for rootless service, then the `podman.service` fails to start with `Error: unable to create socket unix:/run/user/1000/podman/podman.sock: listen unix /run/user/1000/podman/podman.sock: bind: address already in use`

**Steps to reproduce the issue:**
1. Freshly boote

[2020-04-16 12:02] aanno commented on #5796
Well, I commented on PR #5839. If still needed afterwards, I will consider the PR.

[2020-04-16 12:49] marusak opened #5841 "APIv2: "filters" don't seem to apply in "containers/json""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I try to list only one specific container by using "filters" and specifying "id".
Command I use:
[code]
This return 8 containers (because I have currently 8 running) and not only the one with the given id.

It encodes: ```/v1.12/libpod/containers/json?filters={"id":["8ad12bdc9e6c8afdc6971f6606

[2020-04-16 13:11] giuseppe commented on #5816
thanks.  Took a while to understand what was going on but I finally managed to reproduce with `index=on`.  I've opened a PR to address it:

https://github.com/containers/storage/pull/598

[2020-04-16 13:23] cevich commented on #5765
When running for CI purposes, it's really difficult to maintain control over precisely what the base-line expected performance should be.  Therefor, it's potentially challenging to maintain performance-tests among what's normally a binary pass/fail outcome for development purposes.

Here are two ideas I've come across over my years (good/bad take/leave as you will):

1. Determine a "good enough" (

[2020-04-16 13:42] mheon commented on #5838
I think you may be misunderstanding how rootless Podman works. Rootless Podman is not, and will never be, root; it's not a setuid binary, and gains no privileges when it runs. Instead, we use a user namespace to shift the UIDs and GIDs of a block of users we are given access to on the host (via the `newuidmap` and `newgidmap` executables) and your own user within the containers we create. Root in

[2020-04-16 13:44] mheon commented on #5836
Not being familiar with the Android filesystem layout - is there a `/dev/shm` in Android?

[2020-04-16 13:54] Thitho007 commented on #5841
value of id is a string from documentation :
id=<ID> a container's ID

It's OK for me :
[code]

[2020-04-16 14:00] marusak commented on #5841
from [doc](https://podman.readthedocs.io/en/latest/_static/api.html#operation/libpodListContainers). Doesn't that `[]string` mean it is an array?

[2020-04-16 14:02] rasibley commented on #5815
Thanks Jan for providing more debug details, it's easily reproducible and I'm seeing it on older kernels as well (kernel-5.3.11-100.fc29.x86_64), not sure how long this has been around.  If this is a kernel bug, feel free to close and I can report elsewhere.

[2020-04-16 14:04] marusak commented on #5841
Do you have more than one container running?

[code]

[2020-04-16 14:04] Thitho007 commented on #5840
No timeout is defined by default in podman.service systemd unit file, so the service is up for only 5 seconds.
[code]

You have to create your own service for your user :
[code]

Then reload and start the service
[code]

[2020-04-16 14:10] marusak commented on #5840
How is that related? It is socket activated, so it should not be a problem.
And the same timeout is in the root service which works just fine.

[code]

[2020-04-16 14:10] Poorunga commented on #5836
@mheon There is no `/dev/shm` file in Android filesystem.

[2020-04-16 14:54] rhatdan opened #5845 "Coming issue on handling /etc/resolv.conf, when it uses systemd-resolve"
On Mi, 15.04.20 09:01, Daniel J Walsh (dwalsh@redhat.com) wrote:

My suggestion for those container managers: if /etc/resolv.conf is a
regular file, always use that as copy source. If it is a symlinkt to
/run/systemd/resolve/stub-resolv.conf or
/run/systemd/resolve/resolv.conf then use
/run/systemd/resolve/resolv.conf as copy source.

Yes, I mean that, even if /run/systemd/resolve/stub-resolv.conf

[2020-04-16 14:55] rhatdan commented on #5845
We should be able to implement this now.

[2020-04-16 14:56] mheon commented on #5836
Alright, our default locking scheme definitely won't work then.

There were some efforts to make a file lock-based alternative, but I don't know if that's finished and ready to use, or just a development prototype. I'll take a look after lunch.

[2020-04-16 15:14] Poorunga commented on #5836
@mheon Thanks for your answers.
So can I solve it by creating `/dev/shm` and mounting it as `tmpfs` filesystem?

[2020-04-16 15:14] aidanhs opened #5846 "Podman 1.9.0~1 ubuntu package does not contain podman binary"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman package downloaded from the repository recommended on the 'install instructions' page does not actually contain the podman binary.

**Steps to reproduce the issue:**

1. Add repo from install instructions page

2. Install

3. Try and use podman

**Describe the results you received:

[2020-04-16 15:17] vrothberg commented on #5846
@lsm5 PTAL

[2020-04-16 15:19] mheon commented on #5836
Definitely worth a try

[2020-04-16 15:28] lsm5 commented on #5846
Sorry about this. I'll try to add some elementary tests in my autobuilder to complain if no binary is found

[2020-04-16 15:36] vrothberg opened #5847 "podmanV2 rmi issues"
`podman rmi`in v1 is trying to remove _all_ specified images and records the errors while v2 errors out immediately on the first error.

[2020-04-16 15:37] vrothberg commented on #5847
I can pick this up tomorrow unless someone else wants to tackle it before.

[2020-04-16 15:50] #5841 closed

[2020-04-16 15:51] lsm5 commented on #5846
@aidanhs fixed in `1.9.0~2` building currently at https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman , and should be available in sometime. I'm gonna close this. Please re-open if it's not resolved with the new build.

[2020-04-16 15:51] #5846 closed

[2020-04-16 15:54] lsm5 commented on #5846
@pilebones ack, yup, the new fix will be pushed to all supported debians and ubuntus.

[2020-04-16 15:55] pilebones commented on #5846
Thanks a lot, could you mind notifying me when it's done?

[2020-04-16 15:58] lsm5 commented on #5846
it usually gets done in less than an hour, but I'll keep an eye out and comment here.

[2020-04-16 16:26] aidanhs commented on #5846
Looks good now, thanks!

[2020-04-16 16:41] lsm5 commented on #5846
@pilebones should be ready now for all x86_64.

[2020-04-16 16:46] pilebones commented on #5846
Perfect, it works fine now

[2020-04-16 17:06] haircommander commented on #4093
@theunrealgeek
there exists the libpod database where state can be kept, but I'd honestly not go forward with the update feature yet. it's been asked for for pod yaml as well, and I think it'll take a bit of plumbing to work nicely

Excited to see the work you've done!

[2020-04-16 17:44] Poorunga commented on #5836
@mheon Thanks a lot! It works, now podman can run in Android-x86.

However another problem happened: In Android-x86, docker can handle container port mapping normally, but podman doesn't seem to work.

**Description**
I ran `podman run hello-world` -  Succeeded :)
I ran `podman run -it busybox sh` - Succeeded :)
I ran `podman run -p 8080:80 -d nginx` - Failed :(
I ran `docker run -p 8080:80 -d ngi

[2020-04-16 17:53] lsm5 commented on #5296
@jayaddison ..

IIRC, the package in the projectatomic PPA used to depend on containernetworking-plugins too. So, I don't see how the podman package in OBS is different from the one in the PPA, dependency wise atleast. Could you give more details about how migration is affected atm?

@mheon @baude is `podman-no-cni` (or something which makes it obvious) a better name for `podman-rootless` ?

[2020-04-16 18:06] mheon commented on #5838
@giuseppe @rhatdan I have vague memories of this error, but a search doesn't find anything; any ideas?

[2020-04-16 18:18] rhatdan commented on #5475
Since we are updating to run against newer kernels going to close this issue.

[2020-04-16 18:20] rhatdan commented on #5510
If this is not working in podman 1.9.0, we need to look at this functionality in podman 2.0.0 as we move to the new API.

[2020-04-16 18:20] rhatdan commented on #5467
I take it the build has dropped so closing.

[2020-04-16 18:20] #5467 closed

[2020-04-16 18:26] rhatdan commented on #5829
Are you running as root or rootless?

[2020-04-16 18:39] rhatdan commented on #5815
Open a bugzilla on the kernel and link to this issue.  If they kernel teams throw it back at us, we can reopen this issue.

[2020-04-16 18:39] #5815 closed

[2020-04-16 18:46] disaster123 opened #5849 "run gitlab-ce as a container gives error message from podman about .service not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

starting gitlab-ce container results int:
[code]

**Steps to reproduce the issue:**

1.
[code]

**Describe the results you received:**

see above

**Describe the results you expected:**

no error message

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

*

[2020-04-16 18:57] EmilienM opened #5850 "podman run (...) --rm=False removes the container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman run (...) --rm=False removes the container.

**Steps to reproduce the issue:**

``podman run --rm=False --net host fedora echo helloworld``

**Describe the results you received:**

fedora container is created and then removed.

**Describe the results you expected:**

fedora container n

[2020-04-16 18:59] mheon commented on #5849
It looks like this error is coming out of Podman, not the container. Can you add `--log-level=debug` to the `podman run` command and provide the output to be sure?

@vrothberg This doesn't look like your auto-update code, right? Only thing I can think of that we have that directly hits systemd

[2020-04-16 19:06] ikke-t commented on #5806
YES! Thanks, that fixed it. The package name is actually fuse-overlayfs, and installing that took away the problem. Now it needs to be added to Fedora-IoT, as it's clearly critical component.

[2020-04-16 19:07] ikke-t commented on #5806
I close the issue, as this solved my problem.

[2020-04-16 19:07] #5806 closed

[2020-04-16 19:13] mheon commented on #5849
Definitely looks like auto-update is triggering.

[2020-04-16 19:15] disaster123 commented on #5849
What this? never saw this message on any other container.

[2020-04-16 19:24] disaster123 commented on #5849
Is this also the problem that even i have multiple --publish args only one is used?

f.e.:
[code]

[code]

only 80 is / was taken

[2020-04-16 19:39] rhatdan commented on #5850
I checked in podmanV2 and this works correctly.  Currently we only want to fix major bugs in podman V1, and I don't see this as one.  So I am going to close as fixed in podman 2.0.0
If you believe this is critical then please open a bugzilla.

[2020-04-16 19:39] #5850 closed

[2020-04-16 19:43] rhatdan commented on #5806
It should be a recommended package for podman, is IOT being installed without recommended packages.  You should also make sure container-selinux is installed?

[2020-04-16 19:49] rhatdan commented on #5849
That would certainly be a bug.

[2020-04-16 19:53] disaster123 commented on #5849
You mean both or the port problem? I see the port problem only on the gitlab container and this is the only container where i see the service problem as well. Other containers work fine...

[2020-04-16 19:53] #5816 closed

[2020-04-16 19:58] rhatdan commented on #5849
Yes multipl --port options not working. If this works on other containers then it is specific to the image.

[2020-04-16 20:08] disaster123 commented on #5849
Works on every image without this .service error - so i'll wait until this is fixed.

[2020-04-16 20:12] rhatdan commented on #5828
The 777 is incredibly dangerous,  If you want a bunch of different users able to write to the same files/directories, then

chmod 770 and chown root:mattermost ...

Than all of your user accounts need to be in the mattermost group.

[2020-04-16 20:13] rhatdan commented on #5828
I think using host networking would be fine for this as well.

[2020-04-16 20:19] ikke-t commented on #5806
@rhatdan I created a ticket to fedora-iot bugzilla, where I learned the upstream (32) is already added with the overlayfs package. I run the latest official 31 version. And yes, I comes with container-selinux.

https://bugzilla.redhat.com/show_bug.cgi?id=1824984

[2020-04-16 20:36] storrgie commented on #5828
How do you account for the container being run rootless and being uid/gid remapped? In this case the container would be writing files with the uid, example 200166.

[2020-04-16 20:38] storrgie commented on #5828
Can you speculate on why fork 1 is unreliable? Is it intended that we always need to reboot the pod?

[2020-04-16 20:53] thoraxe opened #5854 "Basic ADD/COPY for directory during build doesn't seem to be working"
/kind bug

/kind feature

**Description**

When trying to add a directory during a build, it doesn't seem to be working.

**Steps to reproduce the issue:**
[code]
1. podman build -t localhost/something:latest .

**Describe the results you received:**
[code]

**Describe the results you expected:**
I expected to see the templates folder

**Additional information you deem important (e.g. issue happen

[2020-04-16 20:59] thoraxe commented on #5854
This works:

[code]

[2020-04-16 21:53] TomSweeneyRedHat commented on #4364
containers/podman.io#210 has merged fwiw

[2020-04-16 22:46] jayaddison commented on #5296
Replying inline, and re-ordered:

Agree with you on avoiding causing additional problems -- the old phrase 'first, do no harm' springs to mind.

During system changes, especially ones affecting low-level infrastructure and that may have limited staffing, it's good to consider those staff and make their operations as safe and predictable as possible (while still requiring clear, manual commands fro

[2020-04-17 01:37] rhatdan commented on #5828
On 4/15/20 14:23, bcstinch wrote:

||

[2020-04-17 02:57] alitvak69 opened #5857 "kernel: new mount options do not match the existing superblock, will be ignored"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When I start container I find a kernel message in the logs.
`kernel: new mount options do not match the existing superblock, will be ignored`
This message was not present with podman 1.8.2

**Steps to reproduce the issue:**

Run a container using systemd service unit

**Describe the results yo

[2020-04-17 06:29] mlezajic opened #5858 "Pod creation fails due to missing bridge mode networking"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using a current dev version from git master (**2.0.0-dev**) pods can no longer be created.

**Steps to reproduce the issue:**

We use podman in rootless mode, so we have created a dedicated technical user called <code>fwd</code> to operate podman.

1. As user <code>fwd</code> create a pod wit

[2020-04-17 08:43] vrothberg opened #5859 "enable golint"
When migrating to golangci-lint, we disabled `golint` and over time forgot to reenable it. `golint` is critical to enforce clean code and prevent certain smells from making it into the code.

Enaling it is simple by removing the following line: https://github.com/containers/libpod/blob/master/.golangci.yml#L24

The hard part comes after tackling all the reports.

[2020-04-17 09:16] j0057 commented on #5816
Thanks for looking into it @giuseppe and @rhatdan!

[2020-04-17 12:13] storrgie commented on #5828
Sorry I'm not sure how to parse above, I think the only comment was `||` ?

[2020-04-17 12:30] disaster123 commented on #5849
Any chance to workaround this one? Currently I can‘t use that container.

[2020-04-17 13:22] mheon commented on #5849
@disaster123 Can you provide a `podman inspect` of the failing container?

[2020-04-17 13:23] mheon commented on #5849
Aha, it's not auto-update - it's a healthcheck.

@baude Are healthcheck failures intended to be fatal?

[2020-04-17 13:48] disaster123 commented on #5849
Yes I can in a few hours.otherwise it’s the official container of gitlab So you can just do it on your machine if is it is easier

[2020-04-17 13:49] lifubang opened #5864 "leakage of cgroupv2"
Please see https://github.com/opencontainers/runc/issues/2321

Although, I use `--cgroupns=private`, it also can view host's whole cgroup fs structure in the container.
[code]
use `crun` is the same result.

[2020-04-17 13:52] liquidat opened #5865 "APIv2: libpod endpoint not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to get the APIv2 working. The docker endpoint works, but the libpod endpoint does not.

**Steps to reproduce the issue:**

1. In one terminal: `podman system service --timeout 5000`

2. In a second terminal: `curl -s --unix-socket /$XDG_RUNTIME_DIR/podman/podman.sock http://localhost/

[2020-04-17 15:31] baude commented on #5865
the libpod endpoints are all versioned ...

i.e. http://localhost/v1.24/libpod/images/json

[2020-04-17 17:35] disaster123 commented on #5849
@mheon here we go:
[code]

[2020-04-17 19:19] #5444 closed

[2020-04-17 19:26] AkihiroSuda commented on #5864
`podman info`, `podman version`, `runc version`, `crun version`?

[2020-04-17 19:27] theunrealgeek commented on #4093
Looks like as part of `podman V2 birth` commit, the play command and associated code got removed. I'll look into brining this back into the new v2 state of the code and I'll also need to familiarize with the new way of doing things.

[2020-04-17 19:45] rhatdan commented on #5521
@vrothberg Is it the future yet?  :^)

[2020-04-17 19:46] rhatdan commented on #5498
Since this works on newer kernel, I take it we can close this Bug?  Reopen if I am mistaken

[2020-04-17 19:46] #5498 closed

[2020-04-17 19:47] disaster123 commented on #5849
same happens with podman 1.9.0-2 - also it still only installs one port forward (-p 443:443 -p 80:80) started but podman ps -a shows only port 80:80

[2020-04-17 19:50] rhatdan commented on #5857
The message is in syslog/dmesg or is it in the joural log for your unit file?

[2020-04-17 20:02] disaster123 opened #5870 "podman 1.9 no longer works with hidepid=2 of /proc"
While podman 1.8 worked fine with hidepid=2 for /proc. podman 1.9 always prints:

[code]

[2020-04-17 23:13] lifubang commented on #5864
[code]
[code]
[code]
[code]

[2020-04-18 00:38] alitvak69 commented on #5857
Syslog / dmesg.  It is in /var/log/kern.log file.  It appears on every container restart.

[code]

[2020-04-18 01:06] sectorsize512 commented on #4254
Might be related (or not), I'm getting the following on *push*ing in Artifactory + Docker:
[code]
Does  `podman` support manifest v2 schema 2? Thanks.

[2020-04-18 01:14] mtrmac commented on #4254
@sectorsize512 That’s completely unrelated; close to https://github.com/containers/skopeo/issues/651 but probably ultimately different. Either way, please file a separate issue.

[2020-04-18 03:15] rcondondev commented on #4039
I have podman version 1.6.1-dev installed on mac, "podman login" still not available. any alternative?

[2020-04-18 06:29] grronline opened #5873 "ERRO[0131] unable to close namespace: "close /proc/%/ns/user: bad file descriptor""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
The above error is in-consistent, so unable to simulate it with same set of commands.
1.

2.

3.

**Describe the results you received:**

got error "unable to close namespace"
**Describe the results you expected:**
no errors are expected

**Additional informa

[2020-04-18 09:06] CameronNemo opened #5874 "error with podman 1.9.0 and cgroup1"
/kind bug

**Description**

podman 1.9.0 fails to run a rootless container with cgroup1, while 1.8.2 is able to run.

**Steps to reproduce the issue:**

1. Configure a fairly standard cgroup1 setup. Mount output: http://ix.io/2iuO
1. Invoke any run command, e.g. `podman --log-level DEBUG run --rm -it docker://cameronnemo/voidlinux-interactive:latest ash`

**Describe the results you received:**

*

[2020-04-18 09:50] rhatdan commented on #5859
Well now is the time to work on this.

[2020-04-18 10:21] rhatdan commented on #5828
That was unintentional.  I have no idea how that happened.

[2020-04-18 10:25] rhatdan commented on #5828
If the container is launched by a user in that group then we could leak the GroupID into the roootless container, and the processes would be allowed to write, by setting an annotation and using crun.

[code]
Anyways maybe @giuseppe @vrothberg @mheon Might have other ideas.

[2020-04-18 11:06] AmebaBrain commented on #3821
Not sure why it has been closed. Same happens for me on a fresh Linode Fedora 31 server image under default `root` account. ExecIDs array is empty `"ExecIDs": []`

[code]

[2020-04-18 11:15] rhatdan commented on #4093
@theunrealgeek Awesome we need lots of help getting V2 up to speed.

[2020-04-18 11:22] rhatdan commented on #5870
@giuseppe PTAL.
I wonder if there is an easy way to add a test for this?

[2020-04-18 11:39] rhatdan commented on #5506
@wdouglascampbell Do you still have this issue?  @dustymabe When does CoreOS get updated?

[2020-04-18 11:39] #5506 closed

[2020-04-18 11:40] rhatdan commented on #5384
Since there was never any response, I am closing this as fixed, Reopen if this is incorrect.

[2020-04-18 11:40] #5384 closed

[2020-04-18 11:44] rhatdan commented on #5857
You are talking about these correct?
[488577.976711] SELinux: mount invalid.  Same superblock, different security settings for (dev mqueue, type mqueue)
[488577.978565] new mount options do not match the existing superblock, will be ignored

They have been around for a very long time.  And we should probably remove them.  I think the container runtimes (crun, runc) are attempting to mount the mque

[2020-04-18 11:45] rhatdan commented on #4039
Not yet, that is part of the podman V2 effort.

[2020-04-18 11:48] rhatdan commented on #5873
@giuseppe @mheon PTAL

[2020-04-18 11:51] rhatdan commented on #5874
podman --log-level DEBUG run --rm -it docker://cameronnemo/voidlinux-interactive:latest ash
Works for me on cgroups V1
$ rpm -q podman
podman-1.9.0-1.fc32.x86_64

@giuseppe Ideas?

[2020-04-18 11:55] alitvak69 commented on #5857
I run ubuntu and don't have SELinux, so I had no mqueue messages, just similar to  the second one.  My dmesg  is not showing those errors before upgrade to 1.9.0

[2020-04-18 12:07] vrothberg commented on #5859
Completely agree but we had no issue for it.

[2020-04-18 13:57] xcffl commented on #5858
So basically it's due to the rootless network stack switching to CNI, whereas by default the `--network` parameter is set to `slirp4netns`. Set it manually to `--nework bridge` fixes this.

[2020-04-18 16:55] rhatdan commented on #5857
Are you using crun or runc?  And does this happen in rootless as well as rootful?

[2020-04-18 18:37] mjlbach opened #5876 "Starting container with -u $(id -u):$(id -g): cannot find name for group"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I usually launch containers passing through the group/user id of my current user via `-u $(id -u):$(id -g)`. When I try this in podman, I get the following error:

[code]
**Steps to reproduce the issue:**

1. ```podman run -it --rm -u $(id -u):$(id -g) nvidia/cudagl:10.0-base-ubuntu18.04 bash

[2020-04-18 18:38] CameronNemo commented on #5874
One difference may be the management method -- on Void we do not have systemd so it is using the cgroupsfs manager.

[2020-04-18 19:46] alitvak69 commented on #5857
I use runc.
`runc version spec: 1.0.1-dev`
Container run as root.

[2020-04-18 20:30] liquidat commented on #5865
Awesome, thanks for the answer, sorry for the noise.

[2020-04-18 20:30] #5865 closed

[2020-04-18 21:21] mheon commented on #5876
That error's not coming out of Podman - probably whatever is being launched in the container.

It appears you're running Podman rootless; are you running Docker with root?

[2020-04-18 21:36] mjlbach commented on #5876
I'm seeing this error with docker now, it might be more related to my recent Fedora upgrade to 32, though I'm not sure what's changed; I'm just running bash in the container. I'm running Docker as a member of the Docker group, but the same problem happens with directly running as root.

[2020-04-18 21:36] #5876 closed

[2020-04-19 00:01] GrahamDumpleton opened #5877 "v1.9 podman images on quay.io actually contains v1.6."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Pull down and run podman stable images from quay.io tagged v1.9 and in it run podman to verify the version.

[code]

**Describe the results you received:**

I would expect to see podman version 1.9.

**Describe the results you expected:**

I see podman version 1.6.

**Additional information y

[2020-04-19 00:28] mheon commented on #5877
@TomSweeneyRedHat PTAL

[2020-04-19 04:40] abitrolly commented on #5792
Seems fine.
[code]

[2020-04-19 04:40] #5792 closed

[2020-04-19 06:53] seifertm commented on #5873
I can confirm the issue using podman-1.8.2.

[2020-04-19 09:11] sa687 opened #5878 ""podman commit" fails with ZFS storage driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the ZFS storage driver, running **podman commit** fails with "read-only file system" error.

Possibly related:
https://github.com/containers/libpod/issues/3773
https://github.com/containers/storage/pull/416

**Steps to reproduce the issue:**

1. Create a container with Podman using

[2020-04-19 13:30] abitrolly opened #5881 "Compiling podman in toolbox"
/kind feature

**Description**

I want to compile `podman` from inside `toolbox - https://github.com/containers/toolbox but it fails.

**Steps to reproduce the issue:**

1. Clone source code and run the `toolbox`
[code]
2. Apply `Makefile` patch from https://github.com/containers/libpod/pull/5880
3. Install `make` and dependencies
[code]

**Describe the results you received:**
[code]
It looks like

[2020-04-19 13:45] abitrolly opened #5882 "Docker API /images/{image}/json is missing Labels (and other data)"
/kind bug

**Description**

Here - https://github.com/containers/libpod/blob/e4e42b28dfef0ffd12f2087048dec61f9cb03976/pkg/api/handlers/types.go#L291-L317 - the Labels field is not wired. This makes tools that expect labels to be present to fail - https://github.com/buildpacks/pack/issues/564

**Steps to reproduce the issue:**

1. Download some image
[code]
2. Run API server
[code]
3. Get image inf

[2020-04-19 17:40] MarcoFalke opened #5884 "podman exec --detach"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
What is the recommended way to run a command in the background in podman in a script? `docker exec` does it with `--detach`: https://docs.docker.com/engine/reference/commandline/exec/#options

It seems there is a manual detach option, but I presume that doesn't work in scripts?

[code]

[2020-04-19 17:53] mheon commented on #5884
Being worked on now as part of the APIv2 exec work.

[2020-04-19 18:31] MarcoFalke commented on #5884
Thanks. Is there a temporary workaround other than "install docker"?

[2020-04-19 18:43] mheon commented on #5884
Launching a shell in the container and backgrounding commands with `&` seems to work well enough - you can kill the shell and the commands will continue running.

[2020-04-19 19:40] htfy96 opened #5885 "podman run hangs after /etc/system-fips does not exist on host, not mounting FIPS mode secret"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried to migrate my existing docker-compose stack on Fedora 31 to podman using podman-compose, but podman hangs at the start up of one container.

**Steps to reproduce the issue:**

1. Run the following command as root: `podman --log-level=debug run --name=caddy -d --pod=mirrors-stack-2 -l

[2020-04-19 19:53] wdouglascampbell commented on #5506
Thanks!  I just checked again and yes, this is resolved now.  It seems a recent CoreOS update deployed crun 0.13 that is indeed working.

[2020-04-19 19:56] mheon commented on #5885
Given the timing, this is most likely a hang while executing CNI. Can you try adding `--net=host` and see if the container starts to verify this?

[2020-04-19 20:02] htfy96 commented on #5885
Still hangs:

<details><summary>LOG</summary>

[code]

</details>

[2020-04-19 20:04] mheon commented on #5885
[code]

That seems properly concerning.

[2020-04-19 20:05] mheon commented on #5885
Where are you sourcing the image from? I can't replicate as it's not in any registry I have access to.

[2020-04-19 20:08] htfy96 commented on #5885
Here's the Docker file:
<details>

<summary> Dockerfile </summary>

[code]
</details>

[2020-04-19 20:19] medyagh commented on #3924
I also like this to happen, this broke minikube docker file, because we were pinning the podman version but now we can no longer re-install the image

[2020-04-20 03:17] computator commented on #5454
I haven't had it happen yet, but I haven't been using containers much in the last week or two and may just not have triggered it yet. I will update this if I run into it again.

[2020-04-20 04:08] larsks opened #5886 "podman no longer respecting embedded CMD"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running an image with an embedded Cmd:

[code]

Results in the error:

[code]

Of course, there is a command specified (see the `inspect` output above) and the binary exists in the image:

[code]

**Steps to reproduce the issue:**

1. Build an image from the following Dockerfile:

[code]

2.

[2020-04-20 04:12] larsks commented on #5886
NB: This seems to be true for every podman-2.x.x version I've tried.

[2020-04-20 05:05] mlezajic commented on #5858
So what  needs to be done in that case?

[2020-04-20 06:08] xcffl commented on #5858
I think they haven't migrate all features to v2 yet. Personally I downgrade to 1.x.

[2020-04-20 06:56] mlezajic commented on #5858
Thanks for getting back. I am going to downgrade to v1.6.4 as well as this is the only version i get from the current CentOs AppStream repository. What 1.x version are you going to use ?

[2020-04-20 07:10] xcffl commented on #5858
v1.8 which Fedora's staging repo provides. On centos you may use project kubic repo to have 1.8 as well

[2020-04-20 07:14] giuseppe commented on #5870
it seems to work here.

Do you have any conf file under ~/.config/containers?

Please share the full output for `podman --log-level debug info`

[2020-04-20 07:16] giuseppe commented on #5857
could you share the `config.json` file that podman generates for the container?

If there is no SELinux we shouldn't specify any mount label to the OCI runtime

[2020-04-20 07:29] giuseppe commented on #5874
are you using exactly the same runc version for both?

Could you share the `config.json` file that is generated (you can get the path from the debug output: `Created OCI spec for container $CTR_ID at $PATH`)?

[2020-04-20 07:34] mlezajic commented on #5858
Right, i have already tried kubic respectively v1.8.2, where i faced following issue:
https://github.com/containers/libpod/issues/5745

So i tried my luck moving forward and use latest and greatest, unfortunately this resulted in this issue. Do you know by chance if kubic is going to move v1.9 anytime soon ?

[2020-04-20 07:54] disaster123 commented on #5870
@giuseppe :
My fault it is a problem with systemd if i boot with hidepid=2. If i remount with hidepid=2 everything works fine.

When booting with hidepid=2 systemd logs:
[code]

So this is rather a problem with systemd sorry about that.

[2020-04-20 07:56] #5870 closed

[2020-04-20 08:11] vrothberg commented on #5878
Thanks for opening the issue! It looks to be similar (or the same) as https://github.com/containers/storage/issues/602. Note that ZFS is not support on RHEL.

[2020-04-20 08:13] vrothberg commented on #5881
Did you install crun?

[2020-04-20 08:23] vrothberg commented on #5570
I suggest waiting for a newer Podman in RHEL. Note that RHEL issues should be filed through the Red Hat channels.

[2020-04-20 08:29] vrothberg commented on #5572
Thanks for opening the issue and apologies for my silence! I am currently focusing on Podman v2 but will get back to systemd stuff in May.

[2020-04-20 08:31] vrothberg commented on #5497
The issue has been fixed with #5597.

[2020-04-20 08:31] #5497 closed

[2020-04-20 08:38] abitrolly commented on #5881
@vrothberg no I thought `make package-install` will do everything for me.

[2020-04-20 08:44] abitrolly commented on #5881
@vrothberg outside sandbox the `crun` is installed.
[code]

[2020-04-20 08:59] vrothberg commented on #5881
Can you find crun inside the sandbox? Podman is screaming that crun is missing.

[2020-04-20 09:01] rei-ber commented on #5306
Same issue here after a restart of the machine. podman only works as root and not as a rootless user. I get the same error with a different PID. Here are some answers of some questions in the issue.

- there is no process called podman which is running as the rootless user which I could kill

- os:
[code]

- in case of the default kernel of leap 15.1, which does not run with fuse-overlayfs, I inst

[2020-04-20 09:15] xcffl commented on #5858
Sorry I'm not familiar with their release agenda as I'm not affiliated with red hat or suse.

However, as the repo is built by CI, I think it will get updates soon.

[2020-04-20 09:59] siscia opened #5887 "Mount inside container fuse fs, is supported?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to mount a fuse filesystem inside podman, but I got permision denied error:

[code]
Is this behavior expected?

`podman` does work just fine if I try to mount inside the container the mounting directory of the host.

[code]

**Steps to reproduce the issue:**

The step to reproduce

[2020-04-20 10:14] giuseppe commented on #5873
I've opened a PR :arrow_up:

[2020-04-20 10:22] rhatdan commented on #5881
Toolbox is running podman to put you in a container, which means your view of the file system, does not see the host /usr, so you would not see the hosts crun.

If you goal is to run podman while in a toolbox/podman container, you might have some issues,  but I am not sure.

[2020-04-20 10:27] giuseppe commented on #5887
You are trying to remount the file system as writeable, while it is mounted (by root) as read only.

Could you try with `-v /cvmfs/alice.cern.ch:/cvmfs/alice.cern.ch:ro`?  (There is an additional `:ro`)

[2020-04-20 10:28] rhatdan commented on #5858
Podman 1.9.* will be the last releases with the V1 protocol.  We have master branch working on 2.0 right now, and it is under heavy development,  There are lots of breakage and you will see lots of PRs this week to fix these.  We do not plan on releasing podman 2.* for a few months.  I would not attempt to use a podman 2.* for a while unless you are working on development.

[2020-04-20 10:35] giuseppe commented on #5881
accessing the storage from two different mount namespaces is not safe.

We might end up mounting the same container twice in two different namespaces, since the mount in one namespace is not visible in the other namespace.

You definitely need to use a different storage (`~/.local/share/containers/storage`) as well as a different run directory.

[2020-04-20 10:38] giuseppe commented on #5864
could you try with the stable branch v1.9?  Podman master is quite broken at the moment.

[2020-04-20 11:11] rhatdan commented on #5877
Building the libpod/contrib/podmanimage/stable/Dockerfile locally gets podman 1.9.0.  So this is something going wrong on quay.io.

[2020-04-20 11:33] siscia commented on #5887
That worked perfectly! Thanks!

I didn't use the `:ro` because it wasn't necessary in Docker. Anyway we can close for me!

[2020-04-20 11:48] mlezajic commented on #5858
Thanks for the clarification. One more question in this regard:
Is there a chance to get issues fixed that might occur on some back level podman version? In our case we currently can 'only' use v1.6.4 (given that the Centos8 repo currently provides that). Or is it that one is required to always move to the latest stable version (v1.9 i suppose)?

Our problem is that v1.6.4 appears to 'derail' ever

[2020-04-20 11:59] GeoffWilliams opened #5891 "[Kubic] podman run 1.9.0 fails on Ubuntu 19.10 [workaround]"
/kind bug

`podman run` fails on Ubuntu 19.10 with `The following syscalls will be blocked by seccomp:`

After upgrading from podman 1.8.2 today, I'm unable to run any containers.

**Steps to reproduce the issue:**

1. Install podman on (X)Ubuntu 19.10 following the instructions from https://podman.io/getting-started/installation. I'm using the OpenSUSE/Kubic Project debs. Error occurs on both `st

[2020-04-20 12:06] Swatigupta1997 opened #5892 "editing config.json"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I wish to attach a network to a container after it has already been created, i.e.
The functionality of "docker network connect"
Since there is no similar API in podman, I tried to do this by editing the container's config.json manually. But the config does not stay when the container is start

[2020-04-20 12:12] aleks-mariusz commented on #5891
same issue, CentOS 7.7.1908, podman updated from RPM (from the `devel_kubic_libcontainers_stable` repo):

[code]

(starting a new copy of the container has same issue)

[code]

since using `--network=host` works for @GeoffWilliams , it's might be an issue with slirp4netns ? i am running version 0.4.3 (from slirp4netns-0.4.3-23.8.x86_64 rpm, build date Wed Mar 18 23:16:43 2020).

I can't image how

[2020-04-20 12:25] aleks-mariusz commented on #5891
Another work-around i am using (which doesn't require you to attach your container to the host networking), is creating a wrapper script for slirp4netns, which re-disables _seccomp_ (with the standard caveats/disclaimers when it comes to disabling any kind of security feature):

[code]

(you'll need to undo this next time you update the slirp4netns package)

[2020-04-20 13:19] mheon commented on #5891
@giuseppe @AkihiroSuda Sounds like a slirp issue here - PTAL

[2020-04-20 13:27] rhatdan commented on #5885
Do other containers work?  Have you tried this rootful as well as rootless?

[2020-04-20 13:27] barseghyanartur opened #5893 "Request: Stable releases, keep previous versions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It's a second time already that the latest and greatest fresh release (1.9.0 in this case) breaks everything (within past 6 month).

Listing versions (```sudo dnf list --showduplicate podman```) gives me this:

[code]

I want to install 1.8.2, which worked just fine for me.

**Additional

[2020-04-20 13:28] mheon commented on #5892
This is not supported via manual editing. We regenerate the configuration for each run of the container and immediately pass it into the OCI runtime as part of the container creation process.

Podman theoretically supports "pre-create" stage OCI hooks that receive the OCI spec before the container is created and have the option to process it, but I don't believe this has been tested in a number of

[2020-04-20 13:29] rhatdan commented on #5234
@sujil02 Did you ever get a chance to look at this?

[2020-04-20 13:30] rhatdan commented on #5431
@mheon Any movement on this one?

[2020-04-20 13:30] mheon commented on #5892
Also, adding *extra* network namespace paths is not supported. The spec allows at most one.

You need to edit the container's existing network namespace.

[2020-04-20 13:31] mheon commented on #5892
Also, may I ask what you're trying to do with `network connect`?

[2020-04-20 13:32] rhatdan commented on #5454
Ok reopen if it happens again.

[2020-04-20 13:32] #5454 closed

[2020-04-20 13:33] htfy96 commented on #5885
Other containers worked as expected. This happens in rootful. I'll give rootless a try

[2020-04-20 13:33] mheon commented on #5431
No. I do want to add a command to do this, but there is no way we'll have time until Podmanv2 is done.

[2020-04-20 13:35] AkihiroSuda commented on #5891
Can't reproduce the issue with Podman v1.9.0 + slirp4netns v1.0.0 + libseccomp v2.4.1 on Ubuntu 19.10. Does slirp4netns v1.0.0 work?

[2020-04-20 13:38] rhatdan commented on #5886
Podman 2.0 is very broken right now.  I have a PR open that I think might fix this.
https://github.com/containers/libpod/pull/5862

[2020-04-20 13:39] mheon commented on #5858
That sounds like a refresh happening - any chance this is as rootless? This sort of thing usually happens when the user rootless Podman is running as either logs out, or has their `/run/user/$UID` temporary directory re-created, or otherwise has Podman temporary files removed.

[2020-04-20 13:40] #5887 closed

[2020-04-20 13:41] larsks commented on #5886
I figured that was probably the case. I'll stick with 1.9.x for now. I'll close this bug since I'm pretty sure the situation is already covered by your linked pr.

[2020-04-20 13:41] #5886 closed

[2020-04-20 13:42] rhatdan commented on #5857
I am not sure this is caused by SELinux.  But I am not sure.  I see this as a new kernel message in addition to the original mqueue one.

[2020-04-20 13:47] rhatdan commented on #5570
This should be a bugzilla, currently works in Master/Podman 1.9

[2020-04-20 13:47] #5570 closed

[2020-04-20 13:56] aleks-mariusz commented on #5891
I'll let the OP (@GeoffWilliams ) comment if that combination works for him on Ubuntu, however that combination does not work for me (on CentOS 7.7):

[code]

latest slirp4netns binary sourced from here the [releases page of the project](https://github.com/rootless-containers/slirp4netns/releases)
[code]

the official centos repo only provided libseccomp 2.3.1, i sourced 2.4.1 from [here](https://

[2020-04-20 14:02] aleks-mariusz commented on #5891
What's unusual is that, containers i created before with the older podman 1.8.2 can still be _re_started, however i can't start new ones..  So to me this seems like there's something with the container setup process related to enabling seccomp by default now.

Anyway to revert having seccomp always be enabled (probably because of [this PR](https://github.com/containers/libpod/commit/f8ccd7685882cd

[2020-04-20 14:09] mheon commented on #5306
What Podman version?

[2020-04-20 14:20] cevich commented on #4511
Opened https://github.com/containers/libpod/pull/5783 to begin integrating into libpod's CI.  Uncovered a fairly severe bug in either Github Actions or Cirrus-CI relating to job triggering.  Working to resolve or workaround that.

[2020-04-20 14:22] rei-ber commented on #5306
[code]

[2020-04-20 14:24] rei-ber commented on #5306
Ok forget the workaround of my last https://github.com/containers/libpod/issues/5306#issuecomment-616411969 .

I figured out that this error occurs, if I have a running rootless container and reboot the machine. It fails with the standard `storage.conf` under `.config/containers/` as well as a modified configuration. It works for me, if I delete `/var/tmp/run-<uid>`. Afterwards a podman command cr

[2020-04-20 14:35] mheon commented on #5306
Is `/var/tmp` not a tmpfs on your system?

Also, I would strongly recommend updating to at least 1.8.1, there are a very large number of bugfixes in that release.

[2020-04-20 14:49] rei-ber commented on #5306
No it is not. Ok for this reason the dir `run-<uid>` is not removed by a reboot and concludes in this error.
Ok, thanks for the advice to update :)

[2020-04-20 14:51] mlezajic commented on #5858
We operate podman in rootless mode. The procedure is:
1. ssh into the machine as (non-root user) **userA**:
   <code>ssh userA@host</code>

2. Become (non-root user) **userB**:
   <code>sudo su - userB -s /bin/sh</code>

3. As **userB** operate podman (create pods, containers, etc.)

Not sure what 'logout' means in this context, certainly the containers remain running once i enter <code>exit</code

[2020-04-20 14:53] siscia opened #5895 "podman run --rootfs link/to//read/only/dir does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It seems not possible to run a container using the `--rootfs` option when the exploded filesystem is in a read-only directory.

I found a couple of issues trying to run a container directly from an exploded (unpacked) filesystem directory.

I believe it is interesting for us to have them

[2020-04-20 14:56] mheon commented on #5858
Using `su` with rootless Podman is not recommended and probably not safe (at least on systems with Systemd init). We use a number of filesystems created by systemd (`/run/user/$UID` for example). Unfortunately, systemd is not really compatible with `su` and `sudo` - it doesn't treat these as real login sessions, so the filesystems we need may not be created. I imagine that this is somehow causing

[2020-04-20 15:08] mlezajic commented on #5858
So one conclusion (best practice?) could be that only the user that initially logs into the machine should be the one that is running podman (<code>userA</code> in our case) as only this is going to create a valid login session ?

[2020-04-20 15:27] mheon commented on #5858
Yes (though you can likely use SSH to localhost as a sudo-substitute). We really ought to document this better on our part, as well.

[2020-04-20 15:38] aleks-mariusz commented on #5680
@baude any chance you've been able to take a look or provide any advice please?

[2020-04-20 16:13] alitvak69 commented on #5857
[config.zip](https://github.com/containers/libpod/files/4504723/config.zip)

[2020-04-20 16:54] sebastienhasa opened #5898 "Give more control to `auto-update`"
/kind feature

**Description**

`auto-update` is really useful to update the image of a container. But
it would be even better to give more control on update process.

- Add the ability to launch manually the image update of only one
  container without the need to have the container managed by systemd
- When user launch an update of the image of one container, give the
  possibility to choose ano

[2020-04-20 16:58] mheon commented on #5898
@vrothberg I'm going to assign this one to you

[2020-04-20 17:12] vrothberg commented on #5898
Thanks for reaching out @sebastienhasa!

As you mentioned, auto-updates are currently heavily tied to systemd. While we are planning to implement simple rollbacks in the near future, there are no plans to move away from systemd. But nothing is carved into stone yet which is also why we marked the auto-update command as experimental.

@mheon @baude, as many things have changed in the backend, I wan

[2020-04-20 17:16] mheon commented on #5898
Once SpecGen is finalized, a lot closer than we were; I'd need to look more in depth to determine exactly how close.

[2020-04-20 17:20] vrothberg commented on #5898
Sounds good, thanks @mheon!

[2020-04-20 17:43] aleks-mariusz commented on #5891
@AkihiroSuda can you please also try on centos 7 system please, per the kubic repo and tell me what where the mismatch of versions is?  A lot of people are setting up podman via a repo from the opensuse kubic project (especially considering [the official podman page recommends using it on the install page](https://podman.io/getting-started/installation.html) ), which now means they all end up with

[2020-04-20 18:16] TomSweeneyRedHat commented on #5877
The build trigger on quay.io fires whenever a new branch goes out and adds a tag with the branches' name.  However, when the branch is made, the rpm has yet to make it through testing so you get the latest stable version.

I try to remember to remove those when they're created, but forgot to get to it quickly this time.  Also over the weekend, I think I figured out how to have quay.io not build th

[2020-04-20 18:16] #5877 closed

[2020-04-20 18:22] adrianlzt commented on #4483
Same problem here with
[code]

[code]
spawns a new dbus-daemon process each time it is run.

But in a newer system it does not happen:
[code]

[2020-04-20 18:30] adrianlzt commented on #4483
[code]

Podman run ``dbus-launch``, which start the ``dbus-daemon``.

[2020-04-20 19:12] mheon commented on #4483
Looks like this is the `godbus` library, not Podman itself. Are you seeing it create duplicate DBus daemons after the first one is launched?

[2020-04-20 19:18] sujil02 commented on #5234
Nope didn't get a chance, But I can give it a shot later in the week once v2 system prune I am working on is in.

[2020-04-20 19:29] sonikbhoom opened #5903 "Error: invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Use podman-compose version 0.1.6dev (also tested against 0.1.7dev)

2. run podman-compose against attached YAML
```$ podman-compose/podman_compose.py -t 1podfw -f docker-compose-podman.yml up -d```

3. Downgrade podman to 1.6.2 and the up command is succe

[2020-04-20 19:31] hooksie1 commented on #5903
Ran into this yesterday and took a while to figure out it was 1.9 that broke. Reverting versions made it work again.

[2020-04-20 19:31] mheon commented on #5903
@rhatdan PTAL - I suspect this is containers.conf related.

[2020-04-20 19:31] mheon commented on #5903
It sounds like it also reproduces without `podman-compose` involved

[2020-04-20 19:34] hooksie1 commented on #5903
Yeah

![podman](https://user-images.githubusercontent.com/17015451/79792107-5d8bfe00-831c-11ea-8dcb-25030d3a6981.png)

[2020-04-20 20:08] #5873 closed

[2020-04-20 20:11] yannlawrency commented on #5903
runs if provided with `--cgroup-manger=systemd` or running using `sudo`. This isn't th solution, just an observation.

[2020-04-20 21:24] sonikbhoom commented on #5903
if this is the case then perhaps I should open a bug with podman-compose

[2020-04-20 21:34] mheon commented on #5903
@rhatdan We may have swapped default cgroup manager for rootless from `cgroupfs` to `systemd` in 1.9

[2020-04-20 21:37] coandco opened #5906 "Rootless podman has new warning message on 1.9.0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  Create a new user account that won't have a systemd login session open for it.

2.  `su` to the new account and run `podman run --rm hello-world`

**Describe the results you received:**
On 1.9.0:
[code]

Specifically, this new warning is suddenly croppin

[2020-04-20 22:40] hooksie1 commented on #5903
Ah, my libpod.conf had cgroupfs set for cgroup_manager. It was set that way on my laptop and a box I run some containers on. I don't ever remember setting that. I only noticed from here: https://github.com/containers/libpod/blob/master/docs/source/markdown/podman.1.md

**--cgroup-manager**=*manager*

CGroup manager to use for container cgroups. Supported values are cgroupfs or systemd. Default is

[2020-04-20 23:14] abitrolly commented on #5881
My goal is to compile podman inside toolbox to avoid root level changes on my host system.

[2020-04-21 00:18] #5882 closed

[2020-04-21 00:56] sonikbhoom commented on #5903
switching ~/.config/containers/libpod.conf to systemd results in:
```Error: error executing hook `/usr/libexec/oci/hooks.d/oci-systemd-hook` (exit code: 1): OCI runtime error
[code]

[2020-04-21 04:06] tigerpaws2 commented on #5789
I am seeing exactly the same thing, but with podman 1.9.0.

[code]
Running podman with debug, it turns out that this is the real error:

[code]
I deleted libpod.conf, and voila, no more pod event errors.

[2020-04-21 06:04] abitrolly commented on #5893
@barseghyanartur do you have specific issues in mind? I want to compare with the problems I've got.

[2020-04-21 06:10] abitrolly commented on #5881
The instruction I wrote was invalid, because `toolbox` doesn't work from `/tmp` -  https://github.com/containers/toolbox/issues/418 - I edited that to avoid confusion.

[2020-04-21 06:30] vrothberg commented on #5881
Compiling works, but as pointed out, running is an entirely different story.

[2020-04-21 06:52] disaster123 commented on #5849
@mheon @rhatdan any news on this one or idea? I really would like to move gitlab to podman but the official image isn't working:
https://hub.docker.com/r/gitlab/gitlab-ce/

[2020-04-21 07:48] s-hamann commented on #5874
I believe I have the same issue on Gentoo without Systemd.
The following line in `dmesg` seems informative:
[code]
With a hybrid cgroup setup (probably with legacy v1 as well) I have `/sys/fs/cgroup/openrc`, mounted as
[code]

[2020-04-21 08:11] barseghyanartur commented on #5893
@abitrolly:

No, besides that fresh podman releases often break things (as I mentioned already, this happened twice within past half a year) and I want to have an option to stick with older versions for a little longer. If your entire development stack is very much dependant on containers, it's pretty harsh to have it unavailable even for a half of the day.

[2020-04-21 08:16] barseghyanartur commented on #5893
@abitrolly:

P. S.

This time I got the following error ``Error: invalid configuration, cannot specify resource limits without cgroups v2 and --cgroup-manager=systemd``. However, I don't want to relate specific errors to this issue. Instead, just have an option to roll back the update to the version I have successfully used.

[2020-04-21 08:30] #5858 closed

[2020-04-21 08:49] giuseppe commented on #5906
on cgroup v1 we should default to cgroupfs.

Do you see the same error if you use `podman --cgroup-manager cgroupfs run --rm hello-world` ?

if that solves the problem, I suggest to override the `cgroup_manager` to `cgroupfs` in `~/.config/containers/libpod.conf`

[2020-04-21 09:07] #5847 closed

[2020-04-21 09:51] giuseppe commented on #5857
the error is returned by the kernel when the cgroup v1 flags mismatch the flags specified for the controller if it is already mounted at another location.

I think it is safe to just ignore it

[2020-04-21 09:51] sujil02 commented on #4854
Hi, @mheon @rhatdan I looked into this. Understanding through the regular stack trace I retagged a bunch load of debug messages that referred to using or creating resources to Info level.

Referring to the log tagging with the file name and line number,  Logrus does support this however enabling it kind of clutters the logs messages with a lot of text. I suggest adding a flag for the --log-level t

[2020-04-21 09:58] Swatigupta1997 commented on #5892
Hi Matthew

Q "Also, may I ask what you're trying to do with network connect?"
 I wish to create macvtap interface connectivity between host and container.
Macvtaps require a physical interface on host for creation, but this info is not known at the time of first container start, so I must somehow allow the user to configure them at a later stage.

Right now, the network namespace (mentioned in  i

[2020-04-21 10:37] nettworker commented on #5906
I have exactly the same issue as described here.
Platform configuration: VM with Debian10, Linux kernel 4.19.98-1. I have no problems with previous version - 1.8.2 as well. Is any chance to install 1.8.2 from the same repo (Kubic Debian 10) ?

[2020-04-21 10:43] rei-ber commented on #5306
I updated to 1.9.0 and it works really good! Thanks for your help :)

[2020-04-21 10:55] nettworker commented on #5906
@giuseppe You suggestion about "podman --cgroup-manager cgroupfs run --rm hello-world" unfortunately not fix an issue.

[2020-04-21 11:02] mestaritonttu opened #5914 "userns=keep-id gives "OCI runtime permission denied error""
/kind bug

I am getting this on Arch Linux. Cgroups v2, crun and fuse-overlayfs are in use.

The same command [works fine for a CentOS user](https://www.reddit.com/r/podman/comments/fyyxfs/podman_usernskeepid_getting_error_cannot_setns/fo0cpd1/).

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt li

[2020-04-21 11:09] adrianlzt commented on #4483
There are two dbus sessions generated.
The first want could be avoided using:
[code]

The second one is executed when the container is stopped.
``conmon`` calls podman when the container is terminated with a call like:
[code]

My use-case is Zabbix (the monitoring solution) having to run a container. Probably something related with "zabbix" not being a proper user.

[2020-04-21 11:20] abitrolly commented on #5765
@edsantiago it may happen that image is scanned several times even for a single request.

[2020-04-21 11:30] cjeanner opened #5915 "native healthchecks are unreliable/inconsistent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Using native podman healthcheck feature is unreliable since there are inconsistencies between live state and the state reported within "inspect". For instance:
[code]

while:
[code]
The right state is the latter, I've broken on purpose the healthcheck in order to do some tests....

**Steps to

[2020-04-21 12:13] miquecg commented on #5464
Since you can confirm the problem doesn't happen anymore, let's close the issue report. At least you test it. Thanks,

[2020-04-21 12:13] #5464 closed

[2020-04-21 12:51] abitrolly commented on #5881
@vrothberg a separate `make` command that just installs required packages will help.

[2020-04-21 13:01] abitrolly commented on #5893
@barseghyanartur have you tried [`dnf downgrade`](https://unix.stackexchange.com/questions/266888/can-i-force-dnf-to-install-an-old-version-of-a-package/266891#266891) with previous .rpm from [koji](https://koji.fedoraproject.org/koji/packageinfo?packageID=26289)?

[2020-04-21 13:05] aleks-mariusz commented on #5420
@lsm5 as per the above, and i've been informed you are one of the maintainers of the slirp4netns package in the kubic repo's, any chance you can bump the version to something more modern than 0.4.3-beta (since both 0.4.4. and 1.0.0 are out now) please.

I've been resorting to cross-installing the opensuse_tumbleweed version of slirp4netns since it's newer but installing suse rpm's on centos is not

[2020-04-21 13:06] abitrolly commented on #5893
@barseghyanartur and the specific issue with `invalid configuration` is tracked in #5903.

I've got problems with [`toolbox`](https://github.com/containers/toolbox/), but I haven't figured yet if they are related to `podman` update.

[2020-04-21 13:13] giuseppe commented on #5881
@abitrolly I usually use `yum builddep podman`

[2020-04-21 13:24] barseghyanartur commented on #5893
@abitrolly:

```dnf downgrade``` will downgrade to ``1.6.2`` and that's not what I want. I want to downgrade to ``1.8.2``.

As for the specific issue, I managed to solve it yesterday by removing the ``~/.config/containers/libpod.conf`` file.

[2020-04-21 13:27] lsm5 commented on #5420
@aleks-mariusz building right now. I'll enable slirp4netns in my autobuilder script, sorry about the lag.

Builds can be tracked here: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/slirp4netns

[2020-04-21 13:29] mheon commented on #5893
@lsm5 PTAL

[2020-04-21 13:33] lsm5 commented on #5893
@barseghyanartur RE: downgrade, there were some issues with selinux dependencies because of which 1.8.2 never landed into stable. This hopefully was just a 1-off occurrence.

You can still get 1.8.2 from https://koji.fedoraproject.org/koji/buildinfo?buildID=1479552 . HTH.

[2020-04-21 13:35] lsm5 commented on #5420
i see there are dep issues. Looking into it...

[2020-04-21 13:37] AkihiroSuda commented on #5891
On CentOS 7, I can hit the issue with the slirp4netns upstream static binary (https://github.com/rootless-containers/slirp4netns/releases/download/v1.0.0/slirp4netns-x86_64), but the issue doesn't seem to happen when I build slirp4netns on CentOS 7.

[2020-04-21 13:37] AkihiroSuda commented on #5891
i.e. This is likely to be version mismatch of libseccomp .

[2020-04-21 13:40] AkihiroSuda commented on #5891
@cyphar @saschagrunert Could you update slirp4netns packages on Kubic? Also please make sure to use the latest CentOS 7 for building CentOS 7 RPMs, and the latest Ubuntu 19.10 for Ubuntu 19.10 dpkgs.

[2020-04-21 13:45] barseghyanartur commented on #5893
@lsm5:

Great. This is perhaps worth mentioning in troubleshooting section, if there's one. As for myself, I'll memorize that in gist. :) Thank you!

[2020-04-21 13:46] rhatdan commented on #5903
Could you just remove oci-systemd-hook and ~/.config/containers/libpod.conf

Not sure oci-systemd-hook would work with rootless and it is not needed by podman.

[2020-04-21 13:46] rhatdan commented on #5903
containers.conf replaces libpod.conf, we just use it for compatibility mode.

[2020-04-21 13:47] mheon commented on #5903
Can someone provide a sample `libpod.conf` that is causing them breakage, as well? That would help track down what's causing breaks.

[2020-04-21 13:49] lsm5 commented on #5893
Ack, we'll update the website with instructions for this. I'll close this then...

[2020-04-21 13:49] #5893 closed

[2020-04-21 13:50] aleks-mariusz commented on #5893
@lsm5 do you have a link for an older CentOS 7 rpm i can downgrade with too please? :-)

[2020-04-21 14:03] saschagrunert commented on #5891
I think @lsm5 is currently maintaining the upstream packages in OBS. Can we somehow update the ubuntu dependencies there?

[2020-04-21 14:05] edsantiago commented on #5906
I'm seeing the same on rhel8. Bizarrely, `--cgroup-manager=cgroupfs` seems to be a NOP:
[code]
I've tried all my usual tricks: `loginctl enable-linger`, `# rm -rf /tmp/run-1000 /run/user/1000`, `rm -rf /home/testuser/.{config,local}`

[2020-04-21 14:07] mheon commented on #5906
Can you provide your `libpod.conf`? I suspect this is an issue of `containers.conf` combined with a legacy, fully-specified `libpod.conf` and rootless Podman.

[2020-04-21 14:08] mheon commented on #5915
@baude PTAL

[2020-04-21 14:12] mtorromeo commented on #5903
In my case, modifying `cgroup_manager = "cgroupfs"` to `cgroup_manager = "systemd"` in `~/.config/containers/libpod.conf` fixed the issue.

[2020-04-21 14:13] edsantiago commented on #5906
So, um, that's the rathole I was just diving into. I can't find a containers.conf anywhere: not /etc, not /usr/share/containers. libpod.conf is default in /usr/share/containers; there isn't one under ~testuser.

Could this be a dependency thing? What package provides containers.conf? If it's skopeo (containers-common), it hasn't been updated on this rhel8 branch, and I wonder if it could be relate

[2020-04-21 14:14] mtorromeo commented on #5903
Maybe related: I'm on kernel 5.6.5 with `cgroup_no_v1="all"`

[2020-04-21 14:25] abitrolly commented on #5893
@aleks-mariusz if everybody is downgrading, then who will report the issues? :D

[2020-04-21 14:28] abitrolly commented on #5893
@aleks-mariusz the koji for CentOS lists 1.7.0 at the latest version https://cbs.centos.org/koji/packageinfo?packageID=6853

Going to 1.8.2 doesn't look like an upgrade there. )

[2020-04-21 14:29] barseghyanartur commented on #5893
I certainly would/will still report an issue (if not yet reported), but in the meantime will continue to use working version. :)

[2020-04-21 14:32] lsm5 commented on #5893
@abitrolly fyi, I'm not building on CBS anymore. Everything goes to OBS. https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

[2020-04-21 14:37] sonikbhoom commented on #5903
[code]

[2020-04-21 14:41] sonikbhoom commented on #5903
[code]
performing the two above steps allows the container to start.

[2020-04-21 14:43] edsantiago commented on #5906
Creating the following `/etc/containers.conf` makes the problem go away:
[code]

[2020-04-21 14:55] aleks-mariusz commented on #5893
i see no way to find any RPM older than the broken (re rootless) 1.9.0-1 there, 1.8.2 worked nicely before upgrading all my CentOS hosts this weekend :-/

[2020-04-21 15:03] mheon commented on #5906
We should be able to use a legacy `libpod.conf` if it is present; in fact, it should override `containers.conf` if both are present.

[2020-04-21 15:15] mheon commented on #5903
```cgroup_manager = "cgroupfs"``` in libpod.conf seems to be causing the problem, but only in 1.9...

Can someone try keeping cgroup_manager as cgroupfs but changing `events_logger` to `file`?

[2020-04-21 15:18] lsm5 commented on #5893
Yup, in the case of OBS, it gets rid of older packages. RE: stable, it usually means the latest upstream non-RC tag.

Upstream is aware of the issues with 1.9.0 and is working on those so stable will really mean stable going fwd :) /cc @mheon @baude

[2020-04-21 15:22] lsm5 commented on #5893
The fedora source at https://src.fedoraproject.org/rpms/podman/tree/f31 is used for the CentOS builds on OBS as well. So, in case you need an older build you could clone the source, check out an older commit and build it locally.

[2020-04-21 15:25] lsm5 commented on #5893
or rather, get the f31 srpm from https://koji.fedoraproject.org/koji/buildinfo?buildID=1479552 and rebuild it for centos7

[2020-04-21 15:29] edsantiago commented on #5765
This is a trivial `GET /v1.40/info`, repeated ten times

[2020-04-21 15:54] mheon commented on #5906
Growing theory: `events_logger` was previously ignored (always set to file). We generated a lot of `libpod.conf` files with it set to `journald` that were actually using the other backend `file`. As part of 1.9 we now respect the proper `journald` setting.

[2020-04-21 16:05] nettworker commented on #5906
@edsantiago "/etc/containers/containers.conf" - is the right location! The issue was eliminated!

[2020-04-21 16:18] NTMan opened #5922 "Couldn't change binded file inside container by command in entrypoint"
/kind bug

I see that podman allow bind single file https://github.com/containers/libpod/issues/5134
But inside the container, this file couldn't be changed by sed command in entrypoint.

[code]

**Output of `podman version`:**
[code]

**Output of `podman info --debug`:**
[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2020-04-21 16:27] edsantiago opened #5924 "1.9: podman is ignoring --cgroup-manager on command line"
[code]
If I edit (as root) `containers.conf` such that `cgroup_manager = "cgroupfs"`, and run podman (rootless) with an override:
[code]
(i.e. no warning messages).

podman-1.9.0-2.module+el8.2.1+6381+7584c8ba

I do not have `libpod.conf` anywhere.

[2020-04-21 17:02] rhatdan commented on #5906
I have opened this PR to ignore libpod.conf eventslogger setting.
https://github.com/containers/common/pull/120
If you are having this issue and remove all libpod.conf does the problem go away, without adding a containers.conf?

@mheon the priority is

builtin containers.conf (Default) no file
libpod.conf if set
/usr/share/containers/containers.conf (if set)
/etc/containers/container.con (if set)

[2020-04-21 17:32] mheon commented on #5874
We do not support hybrid cgroups in Podman - that's likely the issue there

[2020-04-21 17:47] s-hamann commented on #5874
I am aware of that, but it works just fine with Podman 1.8.2. I believe it is detected as cgroup v1, and the cgroup v2 mount is ignored, right?
So, my guess is that a cgroup v1 setup (with openrc) would have the same issue. I did not test that, though.
I did test cgroup v2, but could not get Podman to run either (due to a different issue, probably #5903).

[2020-04-21 17:55] lsm5 commented on #5420
should be ready now

[2020-04-21 17:56] edsantiago commented on #5906
@coandco can you create the following `/etc/containers/containers.conf` file and see if it helps?
[code]

[2020-04-21 18:01] aleks-mariusz commented on #5891
i've pinged lms5 about updating slirp4netns and [he mentioned](https://github.com/containers/libpod/issues/5420#issuecomment-617318882) it should now be updated

[2020-04-21 18:02] rhatdan commented on #5857
So this is because we are mounting cgroupfs on a container?

[2020-04-21 18:06] coandco commented on #5906
@edsantiago Just tried it, and I can confirm that it makes the warning message go away.

[2020-04-21 18:14] lsm5 commented on #5891
should be done for all except ubuntu 18.04 where it's giving me some weird error that I haven't quite figured out. Hope that one can wait ..

[2020-04-21 18:46] disaster123 commented on #5849
Thanks a lot that works and also makes the container run fine.

[2020-04-21 18:58] abitrolly opened #5927 "panic: attach flag redefined: detach-keys"
/kind bug

**Description**

I've compiled `podman` from sources, but when I run it, it fails.
[code]

**Steps to reproduce the issue:**

1.
[code]
2.
[code]
3.
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

If it is a missing library, I'd expect the build process to fail. It is Fedora 31.

[2020-04-21 19:06] abitrolly commented on #5927
Fixed by #5923. @baude How could it escape tests?

[2020-04-21 19:06] #5927 closed

[2020-04-21 19:09] CameronNemo commented on #5874
Same runc (same everything) for each version. I am not using the unified hierarchy.

[1.8.2 config.json](http://ix.io/2iYG)

[1.9.0 config.json](http://ix.io/2iYF)

[2020-04-21 19:25] jwflory commented on #5903
I can confirm this with Podman v1.9.0 on Fedora 31. Setting `cgroup_manager = "systemd"` in `~/.config/containers/libpod.conf` fixed Podman for me and my containers started up again.

Is the `containers.conf` file used in v1.9.0? I searched my Fedora 31 system and couldn't find this file.

[code]

[2020-04-21 19:28] baude commented on #5927
@abitrolly https://podman.io/blogs/2020/04/16/podman-v2-announce.html

[2020-04-21 22:03] jwhonce commented on #5765
It is something in the environment, on my laptop I can serve 50 calls in < 6 seconds. I did see where we need to read all the containers for state, that could create an O(n) time against the number of containers. How many containers existed at the time? `podman ps --all`

[2020-04-21 23:36] aleks-mariusz opened #5931 "podman 1.9.0 rootless on CentOS error: cgroup namespaces aren't enabled in the kernel: OCI runtime error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Fresh CentOS 7.7 kvm-guest w/ Kubic CentOS7 repo added, installs podman 1.9.0 however no containers can be started:

**Steps to reproduce the issue:**

1. fresh centos7 installed

2. setup kubic centos7 libcontainers-stable repo

3. launch nginx container

**Describe the results you received:

[2020-04-22 00:08] aleks-mariusz commented on #5931
some googling around and it appears to be coming [from here](https://github.com/opencontainers/runc/blob/master/libcontainer/configs/validate/validator.go#L125), as of [this PR](https://github.com/opencontainers/runc/pull/1976/files) last year.. <details><summary>including my runc version</summary>

[code]

</details>, and confirming i have these under `/proc/self/ns` (note no `cgroup` entry):

[c

[2020-04-22 05:00] ocroz commented on #5874
Meanwhile this issue is still opened, how can we downgrade podman to 1.8.2 ?
Following the [install](https://podman.io/getting-started/installation.html) instructions, the [Kubic project](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable) seems only to provide the latest version 1.9.0.

[2020-04-22 05:41] marusak commented on #5840
@jwhonce wanna check that this is reproducible and indeed a bug as I am blocking cockpit-podman migrating from varlink to rest API on this.

[2020-04-22 08:15] adelton opened #5932 "After upgrade to podman 1.9.0, ~/.local/share/containers being symlink causes problem"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A bit of history:

For my rootless podman usage, I wanted to have the space consumption under control. After I saw the content of `~/.local/share/containers/storage` grow, I created separate partition, moved `~/.local/share/containers` to `/mnt/containers-storage/user` and created symlink `~/

[2020-04-22 08:38] GeoffWilliams commented on #5891
Updated system and now have packages:

*  libslirp0:amd64 4.2.0~4
*  slirp4netns 1.0.0~1

I'm still getting the original error though. System is fully up-to-date:

[code]

Also tried with https://github.com/rootless-containers/slirp4netns/releases/tag/v1.0.0 which I tested by placing first on path - same issue

[2020-04-22 11:22] rhatdan commented on #5931
If we are making podman 1.9.0 available for centos 7 machines, then we need to make sure we ship a containers.conf file in /usr/share/containers/containers.conf with the correct configuration for this system.

https://github.com/containers/common/blob/master/pkg/config/containers.conf

If you copy this file to /etc/containers/containers.conf and modify the settings, you should get it working prope

[2020-04-22 11:23] rhatdan commented on #5205
@kunalkushwaha What is going on with this issue?

[2020-04-22 11:33] giuseppe commented on #5857
I think yes, it is caused by the mount of cgroup v1 inside of the container itself

[2020-04-22 11:40] aleks-mariusz commented on #5931
in the CentOS 7 rpm there is a .conf file in `/usr/share/containers` but it's called `libpod.conf`, not `containers.conf`:

[code]

Placing the above linked containers.conf at that location does not resolve the issue:

[code]

(and logging back in to test rootless):

[code]

(and removing the original `libpod.conf` installed by the RPM and leaving just `containers.conf` in `/usr/share/containers`

[2020-04-22 11:41] aleks-mariusz commented on #5931
Ahh, you did also say "..and update the settings", i missed that part (but don't know what settings you recommend are updated).  Happy to do testing to get this working so a working rpm can be put together.

[2020-04-22 11:54] lsm5 commented on #5891
@AkihiroSuda could this be because the deb package didn't have a static binary? or is it an older seccomp to blame?

[2020-04-22 12:01] lsm5 commented on #5891
@giuseppe suggested building without seccomp enabled. I'll try to get those out on the testing repo soon..

[2020-04-22 12:22] aleks-mariusz commented on #5893
Thanks for the idea, this is the work-around i ultimately went with until we get a working podman 1.9.0 running properly in rootless mode.

[2020-04-22 12:24] giuseppe commented on #5891
the packages from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/x86_64/ work well for me on CentOS 7.

Please try these commands:

[code]

Does slirp4netns exit with error?

The seccomp messages are just warnings that you can ignore.

[2020-04-22 13:44] aleks-mariusz commented on #5891
the packages from this repo only work cleanly for my CentOS 7 system in rootless mode, with the addition of the following `/etc/containers/containers.conf` contents:

[code]
(first section is due to [this issue](https://github.com/containers/libpod/issues/5931#issuecomment-617725890) and the second section is due to [this issue](https://github.com/containers/libpod/issues/5906#issuecomment-6173193

[2020-04-22 14:13] rhatdan commented on #5931
Does changing cgroups-manager to cgroupfs help to fix this?  Can  you set this cgroupns to host, but I am not sure this will fix the problem

[2020-04-22 14:14] mheon commented on #5932
@rhatdan I think we might be missing a symlink resolve somewhere after the containers.conf work, maybe?

[2020-04-22 14:15] #5903 closed

[2020-04-22 14:22] alanorth opened #5939 "Unable to expose ports when adding rootless container(s) to a pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to expose ports when adding container(s) to a pod.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

I receive an error that podman cannot set port bindings on an existing container network namespace.

**Describe the results you expected:**

I exp

[2020-04-22 14:36] rhatdan commented on #5903
We have not released it yet, It will be in Fedora 32 shipped by containers-common.  We were supposed to be the same defaults.  The problem was in that we had bugs in older versions of podman that forced "file" on events-logger,  We are working to fix this in podman-1.9.1.  But for now you can work around it by using containers.conf.

[2020-04-22 14:52] Poorunga commented on #5836
The previous problem was because the multiport function was not enabled in Android's Linux kernel.

We need to enable `CONFIG_NETFILTER_XT_MATCH_MULTIPORT=yes` and then recompile the
Linux kernel.

Now, everything is OK!

[2020-04-22 15:04] aleks-mariusz commented on #5931
for me, changing only `cgroups-manager` to `cgroupfs` (from the default of `systemd`) does not fix _this_ issue (about the complaint of cgroup namespaces not being enabled in the kernel, and not launching rootless containers), no..

[code]

but as a side-effect, it does fix [this noisy-warnings issue](https://github.com/containers/libpod/issues/5906#issuecomment-617319390) instead

i need to actua

[2020-04-22 15:09] mheon commented on #5939
For now, ports must be exposed at pod creation time. There's been some talk in the past of changing this so new containers added to the pod would have their ports exposed after a pod restart, but discussions on this stalled on implementation details.

[2020-04-22 15:12] alanorth commented on #5939
Ah, yes so I just expose all the ports I think I'll need when creating the pod and then they are forwarded to all containers:

[code]

Yes this works for me for now and I am able to connect to services running in both, though I dunno what happens if there are multiple containers in the same pod listening on the same port.

[2020-04-22 15:12] #5939 closed

[2020-04-22 15:40] stevekuznetsov commented on #3460
touch

[2020-04-22 17:17] rhatdan commented on #5857
Did you open a PR in the kernel to stop this?

[2020-04-22 17:57] Poorunga opened #5943 "Cannot access the container port in the virtual machine from the host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
&emsp;&emsp;I used VMware Fusion to create an `ubuntu 16.04` virtual machine and installed `Podman` in this VM. The IP address assigned to the VM by NAT is `172.16.227.145`.
&emsp;&emsp;I created a nginx container using Podman: `podman run -p 8080:80 -d nginx`. Then, I can use the VM's browser

[2020-04-22 18:56] mheon commented on #5943
Podman, unlike Docker, does not modify firewall rules to allow traffic on ports by default, so if you have a firewall blocking access to the ports on the host running Podman, you'll need to explicitly add firewall rules to allow traffic on 8080.

[2020-04-22 18:59] rhatdan commented on #5575
It is in the troubleshoot.md

[2020-04-22 18:59] #5575 closed

[2020-04-22 19:08] rhatdan commented on #5914
@giuseppe Ideas?

[2020-04-22 23:17] kunalkushwaha commented on #5205
Sorry, somehow it skipped from task list. Its half done.. shall make PR soon.

[2020-04-23 00:48] aleks-mariusz commented on #5138
i ran into this today, what options are there to revert away the rootlesskit optimization (for example, i need the source address more than i need 25gbps and the 7gbps bandwidth slirp4netns is more than sufficient for my use-case :-)

[2020-04-23 07:47] adelton opened #5950 "database libpod temporary files directory (tmpdir) "/tmp/run-1000/libpod/tmp" does not match our libpod temporary files directory (tmpdir) "/run/user/1000/libpod/tmp": database configuration mismatch"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've first run rootless podman via `su - user` session from root. It was giving me warning messages
[code]
but it worked.

I then thought, OK, I will log in to the machine properly. I've logged in via ssh. But then podman fails with

[code]

**Steps to reproduce the issue:**

1. Create fresh

[2020-04-23 07:55] giuseppe commented on #5138
I am just worried on the configuration side and have to maintain two different backends for minimal differences.

Would you like to open a PR to address it?  We need to take pieces from da7595a69fc15d131c9d8123d0a165bdde4232b6 that were removed and make it configurable.

We accept `--net=slirp4netns` now.  We could extend it to have extra options like `--net=slirp4netns:rootlessport` and `--net=sl

[2020-04-23 08:10] cjeanner commented on #5915
Hello!
Sooo I took some more time to get a reproducer, and detected some other inconsistencies.

## Reproducer
Dockerfile:
[code]
healthcheck
[code]
init.sh
[code]
## Methodology
1. build the container using ```podman build -t healthcheck .```
2. run the container using ```podman run --health-cmd /healthcheck --health-interval 60s --health-retries 3 -d --name healthcheck healthcheck```
3. check th

[2020-04-23 08:57] cjeanner commented on #5915
After even more digging, I found a potential reason:
it seems a log is pushed here: /var/log/containers/stdouts/healthcheck.log
I'm not really sure how this is done/managed - but apparently every healthcheck is overriding the file on its own. It's not in an append fashion, meaning container-1 will override container-2 result.

Since the log doesn't have any mention of the container, it might expla

[2020-04-23 09:05] rhatdan commented on #5950
@mheon was just talking about this exact situation inside of a bugzilla.  Where the location of the temporary files is being stored in the database.  And we don't have a good way of solving this situation.

[2020-04-23 09:24] mlezajic commented on #5838
Just tried with v1.9 and get the same error. Any ideas ?

[2020-04-23 09:44] giuseppe commented on #5914
could you share the configuration for your mount points?

What is the output for `cat /proc/self/mountinfo` ?

[2020-04-23 09:48] rhatdan commented on #5838
I think this is an error in running in a pod with --keep-id.  I was able to get this to happen, by doing
podman pod create --name monitoring-pod.

If I run the container without the --keep-id, it works.

I think we have a bug in launching a pod with one of the containers wanting to retain their UID.

[2020-04-23 10:04] mlezajic commented on #5838
Is there any chance to get this fixed or somehow adressed ?

In general, what is the strategy with regard to any bugs that show up in v1.9? Are issues going to be fixed in v2.x only or might there for instance be something like v1.9.1 anytime soon?

[2020-04-23 10:04] mestaritonttu commented on #5914
[code]

[2020-04-23 10:09] rhatdan commented on #5924
Are you running rhel8 in cgroup V2 mode?

[2020-04-23 10:15] rhatdan commented on #5838
We will look at them on a case by case basis, but we tend to force updates to the next release. In long term support worlds like RHEL we are willing to do some back ports, but it is very difficult to do and we don't have unlimited people working on this.

In the case of this bug, having an upstream person fix it with a PR, would be best.  Most of the core engineers at this point are concentrating

[2020-04-23 10:17] rhatdan commented on #5838
@giuseppe @haircommander Any thoughts on this. Looks like we are starting the Pod in one user namespace and then the container in a different. One possible solution would be to add the --keep-id to the pod, so that the pod and then all of the containers would get launched into the correct user namespace.

[2020-04-23 10:27] adelton commented on #5950
@rhatdan Do you have the bugzilla link?

[2020-04-23 10:49] rhatdan commented on #5931
@lsm5 We are going to need to ship a specially configured containers.conf for centos7, to turn off cgroupns

[2020-04-23 11:03] rhatdan commented on #5943
We consider this a security issue, and want users to explicitly modify their external firewall.

[2020-04-23 11:03] #5943 closed

[2020-04-23 11:30] rhatdan commented on #5950
Not right now, but when @mheon joins, he will point to it.

[2020-04-23 12:19] lsm5 commented on #5931
Do I just comment it out, or does it need to  be `cgroupns = "host"`

[2020-04-23 12:21] edsantiago commented on #5924
No; this is a standard rhel8. [pause] Just confirmed:
[code]

[2020-04-23 12:44] aleks-mariusz commented on #5931
From my experience, what's commented is usualy the default, and the default does not work on CentOS 7.. i think it needs to explicitly set to "host" to work.  Are you able to repro it w/ and w/o that setting to see if it makes a difference for you?  It might be better if i'm not the only data point (and i'm pretty certain i'm not the only one still using CentOS 7 :-) )

[2020-04-23 12:52] aleks-mariusz commented on #5138
i tried --net=slirp4netns and still see source ip always 127.0.0.1.. :-(

it's my understanding that slirp4netns is the "traditional" way of doing rootless networking, and as of https://github.com/containers/libpod/commit/da7595a69fc15d131c9d8123d0a165bdde4232b6 it defaults to rootlesskitport for rootless port forwarding.. so why does --net=slirp4netns not change anything?

also i'm unclear what t

[2020-04-23 12:56] giuseppe commented on #5838
yes definitely, we need the keep-id at the pod level.

We shouldn't allow creating a separate user namespace when joining a pod.  It is possible but it is difficult to manage, we would need to first join the pod namespace and then create a new one.

[2020-04-23 13:00] giuseppe commented on #5138
it won't change anything in the current version since `--net=slirp4netns` is already the default mode for rootless, and that mode uses rootlesskitport for listening.

We'd need to add back the support for listening through slirp4netns, and I was thinking of a way to expose it to users.

[2020-04-23 13:28] giuseppe commented on #5931
the fix solves the issue but I don't think it is the correct fix.

We shouldn't change the default for cgroupns.  On cgroup v1 it should still default to host otherwise it is a breaking change.

I think we need to handle it from Podman.  If the user doesn't override it in the conf file, we need to default to `host` on cgroup v1 and `private` on cgroup v2.

[2020-04-23 13:50] giuseppe commented on #5931
the fix solves the issue but I don't think it is the correct fix.

We shouldn't change the default for cgroupns.  On cgroup v1 it should still default to host otherwise it is a breaking change.

I think we need to handle it from Podman.  If the user doesn't override it in the conf file, we need to default to `host` on cgroup v1 and `private` on cgroup v2.

[2020-04-23 13:56] giuseppe commented on #5931
that cannot be a build time configuration.  Users can switch between v1 and v2

[2020-04-23 14:36] rhatdan commented on #5931
On Centos 7, there is no support for cgroupns.  So we should default for root and rootless to use host.
On RHEL8/Centos 8. We can use the patch that you got into common.

[2020-04-23 14:54] rhatdan commented on #5829
First off could you see if SELinux is blocking some operation?  Does this work in permissive mode?
If it still breaks could you try
podman build --cap-add all ...
And see if it succeeds.

[2020-04-23 15:08] tylarb opened #5955 "Panic panic: d.nx != 0 on push"
/kind bug

**Description**

On push, get `panic: d.nx != 0` in crypto/sha256.(*digest).checkSum

**Steps to reproduce the issue:**

1. Login to GCR

2. Push image which built locally successfully

**Describe the results you received:**

I've got a full panic message, and core dump as well. What's the best way to provide these?

[code]

**Describe the results you expected:**
No panic

**Additional

[2020-04-23 15:12] giuseppe commented on #5138
at the moment I've no time to look at it, but if you could give it a try and get to a point where we have both methods living in the code base (i.e. recover the existing method from da7595a) I could help with the remaining plumbing and have something faster.

Also please use the v1.9 stable branch as the base for development.

[2020-04-23 15:14] mheon commented on #5955
@mtrmac Looks like this is coming out of c/image's copy code?

[2020-04-23 15:16] mheon commented on #5955
Though it's going into the digest code, and deep enough that I'm really curious as to how it got there. It's not a segfault, and SHA256 should otherwise be pretty straightforward?

[2020-04-23 15:17] adelton commented on #5950
I don't have any `~/.config/containers/libpod.conf`.

The podman / libpod was freshly installed on this Fedora.

[2020-04-23 15:23] tylarb commented on #5955
I had previously been running podman 1.6.4 and then updated to 1.9.0 just before this panic occurred. Images had been built and pushed using podman 1.6.4 successfully.

[2020-04-23 15:28] mheon commented on #5950
Hm.

Is this the first time you've run Podman as this user? It could actually be the BZ after all.

[2020-04-23 15:34] mtrmac commented on #5955
This is https://github.com/containers/image/issues/750 , see https://github.com/containers/image/issues/750#issuecomment-603953702 .

Avoiding the panic in common cases is trivial, handling the corner cases is more tricky WRT concurrency.

[2020-04-23 15:40] rhatdan commented on #5950
@mheon he is saying he logged in first from root and did a `su - user`,  This succeeded in creating a container.  Then he logged in directly using gdm or sshd, and it blows up.  I believe this is because the `su - user` records it temporary storage differently then the true login users.

[2020-04-23 15:55] mheon commented on #5950
Yeah, this is definitely the same case as the BZ, then - BZ number looks to be 1824063

[2020-04-23 15:58] coreyryanhanson commented on #5711
@jamescassell Awesome! It definitely fixes rootless.

Unfortunately now rooted spits out an error :( There must be an even better way out there somewhere.

[2020-04-23 18:02] jwhonce commented on #5840
@marusak The issue is a bug.  We exec podman when setting up for rootless.  That is currently orphaning us from systemd's socket activation protocol.  1.9 allows you one command while 2.0 currently allows none.  I'll research getting a fix for you.

/cc @giuseppe

[2020-04-23 19:56] akerl-unpriv opened #5960 "TMPDIR not used for podman pull"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman pull` does not respect $TMPDIR for storage of temporary download artifacts, as is supported elsewhere in Podman and in buildah ( https://github.com/containers/buildah/blob/master/pkg/parse/parse.go#L994-L999 ). This causes temp storage during pull to be hardcoded to /var/tmp. On syste

[2020-04-23 20:58] mrinaldhillon commented on #4483
I have same issue with podman v1.9.0 rootless container. Seems podman expects DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus path to be present. It got resolved once I created directory /run/user/1000/bus . There is not systemd running in the base container.

[2020-04-23 22:46] hakuno commented on #5836
@Poorunga props!

[2020-04-23 23:32] rsletten opened #5964 "Podman play|generate kube isn't creating a pod with the equivalent of the -p option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman generate kube doesn't seem to create any kube yaml which would run the equivalent of ```podman pod create -p 192.168.1.239:5000:5000/tcp```

Or podman play kube doesn't create the pod with the hostIP assigned to the container.
[code]

**Describe the results you received:**
[code]
**Des

[2020-04-24 08:00] #5960 closed

[2020-04-24 11:46] floating-cat opened #5969 "[Kubic project] Add packages for Ubuntu 20.04 distributions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The Ubuntu 20.04 was released, but there is no podman package for it currently: https://build.opensuse.org/repositories/devel:kubic:libcontainers:stable

**Describe the results you expected:**
Packages for Ubuntu 20.04

@lsm5 I saw you added the support for the Ubuntu 19.10. So I am pingi

[2020-04-24 13:00] lsm5 commented on #5969
@floating-cat yes we'd like to see that as well but that's blocked on the OBS infra admins setting up 20.04 repos.

[2020-04-24 13:39] rhatdan commented on #5836
@Poorunga If you have gotten this to work, we would love to have you blog on what you did and what the experience was like.  Interested?

[2020-04-24 13:41] rhatdan commented on #5964
@haircommander WDYT?

[2020-04-24 13:50] haircommander commented on #5964
We have the hostPort options wired up, but it's possible there's somewhere it's dropped. I'll try to look at this later today

[2020-04-24 14:26] juhp commented on #5535
With podman-1.9.0 even `{{.NAMES}}` fails for me ;-(

[2020-04-24 17:06] tylarb commented on #5964
I remember from working on https://github.com/containers/libpod/pull/5642/, port parsing should be fine, but there's no bind to individual IP supported.

As of 1.9 it's not supported https://github.com/containers/libpod/blob/d985723506a29766ed21585ba8541033db6bd572/pkg/adapter/pods.go#L798

Where did pkg/adapter go in v2?

[2020-04-24 17:07] amarshall commented on #5723
@rhatdan I suspect it’s a packaging problem with the Podman from the aforementioned COPR repository, as it removes several dependencies (conmon, libvarlink-util, podman-plugins) compared with the Fedora packaged podman. I’m on Fedora 32.

[2020-04-24 17:14] ocroz commented on #5893
Dear podman developers,

Could you please revise the **definition of stable** and what **number of last package versions** should be kept available?
I think _you are not helping the adoption of podman_ by the community by providing only one package version unfortunately broken.

I have been testing podman version 1.8.2 for several weeks, and I was happy with it.
On Monday I was about to upgrade on

[2020-04-24 17:26] mheon commented on #5893
Is there a reason you're unable to use the official CentOS podman package in the extras repo? That is what we would consider our stable, supported Podman on CentOS 7 and 8. The OBS repos are provided as a rolling snapshot of Podman's latest release for those that want to try something more recent, but the intent is that most people should use the official packages.

We do recognize that this is a

[2020-04-24 20:31] jcrd opened #5979 "Detach key interferes with shell history navigation in interactive container"
/kind bug

**Description**

With the default detach key combo `ctrl-p,ctrl-q`, shell history navigation (tested in bash and zsh) using `ctrl-p` to access the previous command will not display this command. However, adding additional characters to the command will cause it to be displayed, and using `ctrl-p` a second time will display the 2nd to last command.

**Steps to reproduce the issue:**

1.

[2020-04-25 02:09] gainhad opened #5980 "No longer able to start any containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to start any containers, either using toolbox or podman directly.

**Steps to reproduce the issue:**

1. podman start <ID>

**Describe the results you received:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman ver

[2020-04-25 06:13] chrmarti opened #5981 "`podman events --format '{{json .}}'` fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman events --format '{{json .}}'` fails with an error:
[code]

This appears to be a bug. Other subcommands work with the same format string, e.g.: `podman version --format '{{json .}}'`.

**Steps to reproduce the issue:**

1. Run: `podman events --format '{{json .}}'`

**Describe the resu

[2020-04-25 10:52] rhatdan commented on #5608
Status is unchanged.

[2020-04-25 10:53] rhatdan commented on #5565
I think we have answered the questions, reopen if I am mistaken.

[2020-04-25 10:53] #5565 closed

[2020-04-25 11:04] rhatdan commented on #5603
I opened a PR to fix this PTAL

[2020-04-25 11:18] vlastoun commented on #5924
I have a similar issue with manjaro:

[code]

[2020-04-25 12:08] Everberg commented on #4483
Same here on podman 1.6.4. Sufficient to run "podman ps" a number of times to get an equal amount of dbus-daemon processes. Problem started after upgrading from from RHEL 7.7 to RHEL 7.8.
Creating /run/user/.../bus directory indeed solves it.

[2020-04-25 15:24] leonardo2707 commented on #5719
Hey, I don't know what happen, but It's working now, maybe some package update ?

**podman version**

[code]

**podman info --debug**

[code]

**podman logs --tail 5000 -f jellyfin**

[code]

What to do? close that issue ?

[2020-04-25 19:39] hakunin commented on #4159
Is there a workaround right now? I'm new to Docker and I just can't get it to run on one of my machines and switching to Podman I'm stuck on this.

[2020-04-25 19:49] mheon commented on #4159
If you can get a `tini` or `katatoinit` binary installed on the host, the path to it is in `libpod.conf` - set the `init_path` variable to the path you have an init binary installed at. The default is `"/usr/libexec/podman/catatonit"` so you could also just install the binary to that location and not worry about changing config files.

[2020-04-25 19:50] mheon commented on #4159
Sorry, `catatonit` not `katatoinit` - been looking at Kata containers too much recently, I suppose

[2020-04-25 22:50] lsm5 commented on #4159
If you're on ubuntu/debian you can get it from the kubic repos. See: https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=catatonit

catatonit package is being reviewed for Fedora right now so it's not available in the base repos for Fedora or CentOS yet. If you don't mind installing an unreleased rpm directly to get unblocked right away, you can get

[2020-04-26 03:47] mybigman commented on #5680
I have the same issue... The Health check is being ignore in the Dockerfile :/

[2020-04-26 05:27] ocroz commented on #5893
True I forgot this point.

Unfortunately the server where I am using podman is CentOS 7 for which I am getting version 1.4.4 from the official CentOS podman package in the extras repo.
With this version I am not able to share a volume with the host, making it writable from the podman container.

On CentOS 8 I am getting version 1.6.4 which is better for my purpose. At least I can share a volume wi

[2020-04-26 12:18] hakunin commented on #4159
Thank you SO MUCH! The package works perfectly.

[2020-04-26 13:16] lewo opened #5986 "Unable to start containers after a forced shutdown"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run the following container:

sudo /usr/bin/podman run  --rm -d --name atomix-1 -p 5679:5679 -it -v /opt/onos/config:/etc/atomix/conf -v /var/lib/atomix-1/data:/var/lib/atomix/data:Z atomix/atomix:3.1.5 --config /etc/atomix/conf/atomix-1.conf --ignore-res

[2020-04-26 22:06] alitvak69 commented on #5969
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04 returns 404

[2020-04-26 23:59] lsm5 commented on #5969
https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

@alitvak69 OBS people have setup the 20.04 envs, but it doesn't look like it's been done correctly yet, as I see `find: command not found` errors. I'll ping them tomorrow.

[2020-04-27 04:45] cajus commented on #5572
Same with the latest version. If I replace %t with i.e. _/run/users/1234_ podman is segfaulting while it works fine if started as the same user by `systemctl --user`.

[2020-04-27 06:04] Swatigupta1997 commented on #5892
Hi

Any updates?

[2020-04-27 09:55] lsm5 commented on #5969
20.04 is ready now for x86_64 with other arches except ppc64le being built. Checking with admins about ppc64le setup.

[2020-04-27 11:19] rhatdan commented on #5610
@tylarb @mheon Has this issue been fixed?

[2020-04-27 11:22] rhatdan commented on #5541
@mheon @xcffl Has this issue been resolved?

[2020-04-27 11:24] rhatdan commented on #5680
Are health checks only supposed if the image is built with --format docker.  I am not sure if OCI supports Healthchecks.  If not then perhaps the health checks do not work because of this?  @baude WDYT?

[2020-04-27 11:26] vrothberg commented on #5605
Removing the "good first issue" label as I don't think it is. It's fairly complex to get it right (especially considering the dependency graph).

[2020-04-27 11:32] rhatdan commented on #5893
The Centos7/RHEL7 version of Podman will be updated in RHEL7.8 to podman 1.6.4 (I believe) very soon, but this will be the final official release for RHEL7, unless there are CVEs.  Going forward the supported version of Podman for RHEL8 and therefore Centos will be updated every 12 weeks or so.  RHEL8.2 release happening this week will be podman 1.6.4 and 12 weeks from now, we plan to release podm

[2020-04-27 12:31] xcffl commented on #5605
As v2.0 is going to support Docker API, probably `podman auto-update` will be obsoluted.

The problem still exists if podman keeps handling cgroups in the same strategy. As of the dependency graph, I think systemd handles this well. Maybe that would be helpful.

[2020-04-27 12:39] vrothberg commented on #5605
Can you elaborate on that? I don't see an immediate link between the rest API and auto-updates.

Yes, systemd handles dependencies really well. Podman is already making use that when generating unit for pods. It's a bit trickier with `--new` though.

[2020-04-27 13:04] xcffl commented on #5605
I'm not so sure about what the API will be? If it means the support of `unix:///var/run/docker.sock`, we'll be able to use watchtower later, which is great :laughing:

Agree. Maybe a better solution is to allow `podman-compose` to create systemd units. Then there will be no problem (by which I mean what we can do on docker can we do on podman then as well).

[2020-04-27 13:35] #5603 closed

[2020-04-27 13:48] #5719 closed

[2020-04-27 13:59] #5628 closed

[2020-04-27 13:59] #5619 closed

[2020-04-27 14:01] rhatdan commented on #5633
This is expected and the way containers work.  You can not modify the host OS from inside of the container without exposing much more of the host to the container.

podman run -v /dev:/dev --privileged -ti busybox sh

Would probably work.

[2020-04-27 14:01] #5633 closed

[2020-04-27 14:04] tylarb commented on #5610
Both issue in libpod and some parsing improvement in rootless networking
should be fixed. This can be closed now.

[2020-04-27 15:37] joequant opened #6003 "podman cannot mount volumes with external symlinks"
/kind bug

**Description**

Podman volumes with external symlinks does not seem to be mountable

**Steps to reproduce the issue:**

1.  Create volume with symlink which references files outside of the volume.  For example symbolic link to ../foo

2. Try to mount the volume.

3. Volume does not mount

**Describe the results you received:**
Volume fails to mount

**Describe the results you expected:

[2020-04-27 15:55] mheon commented on #6003
Create a volume how? `podman volume create`, mount into a container, add a symlink in the volume?

[2020-04-27 17:26] lsm5 commented on #5969
Please re-open if you notice any issues...

[2020-04-27 17:26] #5969 closed

[2020-04-27 17:45] coldbloodx opened #6005 "Unlimited hard ulimit with soft limit not supported"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

[aaa@r8cn01 ~]$ docker run --rm -it --ulimit nofile="2000:-1"  centos  /bin/sh
Error: ulimit option "nofile=2000:-1" requires name=SOFT:HARD, failed to be parsed: ulimit soft limit must be less than or equal to hard limit: 2000 > -1

**Des

[2020-04-27 17:52] mrinaldhillon commented on #4483
@mheon could you please re-open

[2020-04-27 18:19] mheon commented on #4483
@giuseppe PTAL

[2020-04-27 18:20] mheon commented on #6005
Does the `-1` specifier work in Docker?

[2020-04-27 18:39] #5610 closed

[2020-04-27 19:31] cdjohnson commented on #5234
@sujil02 Any updates on a fix for this?  This is blocking our ability to use podman with [opm](https://github.com/operator-framework/operator-registry).

[2020-04-27 19:33] sujil02 commented on #5234
Currently working on this only. PR will be out soon.

[2020-04-27 20:09] rhatdan commented on #5535
Is this supposed to be case insensitive?

[2020-04-27 20:17] mheon commented on #5892
The path to the namespace is in `podman inspect` as `SandboxKey` - that should provide the path to it in a deterministic manner. From there, you can modify the namespace itself to add interfaces. If you want to do this before the container starts, `podman init` should create the namespace but not start the container.

[2020-04-27 20:17] rhatdan commented on #5723
Then please use the packages from the distro.

[2020-04-27 20:38] mheon commented on #5541
I don't really know - this is AFAIK an issue with `rootlesskit`. I haven't seen bugs to this effect in a few weeks, which is encouraging, but I was never able to reproduce myself so I can't confirm.

[2020-04-27 20:39] mheon commented on #5680
Healthchecks are indeed docker-only

[2020-04-27 20:47] rhatdan commented on #5924
This will be fixed in podman 1.9.1

[2020-04-27 21:07] aleks-mariusz commented on #5541
FWIW, i am now also unable to reproduce on my original host, today running podman 1.9.0 so either it's been fixed or worked-around.

the test case was basically when `podman run -d` took enough time (on the order of minutes) before returning to the prompt.. which left enough time for an errant client to try to connect while networking was still being set up... that a connection is attempted prior

[2020-04-27 21:09] aleks-mariusz commented on #5680
the image i'm using (in rootless mode) _is_ a docker image, health checks still are being ignored

[2020-04-27 21:16] baude commented on #5680
correct, oci does not support healthchecks ... we work around this in podman by allowing users to define them.  i dont think this is the problem as @aleks-mariusz states his image is a docker format image.

[2020-04-27 22:28] rhatdan commented on #6005
Were using the same parser as Docker, so I doubt it.

[2020-04-27 22:37] #5915 closed

[2020-04-27 22:38] rhatdan commented on #5541
Ok reopen if it happens again.

[2020-04-27 22:38] #5541 closed

[2020-04-28 02:42] sujil02 commented on #5234
@cdjohnson issue fixes with #6011

[2020-04-28 02:43] coldbloodx commented on #6005
@mheon @raukadah
-1 works in docker.

in docker 19.03 on ubuntu 18.04:

root@ucn01:~# docker run --rm -it --ulimit fsize="2000:-1" ubuntu hostname
7ab7510d8c17

root@ucn01:~# docker info
Client:
 Debug Mode: false

Server:
 Containers: 20
  Running: 0
  Paused: 0
  Stopped: 20
 Images: 3
 Server Version: 19.03.5
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native

[2020-04-28 02:52] coldbloodx commented on #6005
rootless mode:
[aaa@r8cn01 ~]$ docker run --rm -it --ulimit fsize="2000:-1" ubuntu hostname
Error: ulimit option "fsize=2000:-1" requires name=SOFT:HARD, failed to be parsed: ulimit soft limit must be less than or equal to hard limit: 2000 > -1

[2020-04-28 02:55] joequant commented on #6003
The work flow is

1) create a container with symlinks
2) set up a podman-compose or podman to mount a named volume with the
directory with symlinks
3) podman tries to populate the named volume by copying the files from the
container
4) and it fails

It appears that there is an internal check that throws an exception when
podman does a copy.  I'd suggest changing
that exception into a warning.

The

[2020-04-28 04:37] grronline opened #6012 "[rootless] `podman ps` doesn't show anything, but container processes are running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
issue occurs randomly for rootless containers.
1.

2.

3.

**Describe the results you received:**
podman ps doesnot return any output of running containers and also  logging to container gives below error
Error: cannot exec into container that is not running:

[2020-04-28 04:50] #6012 closed

[2020-04-28 05:08] grronline opened #6013 "[rootless] podman ps doesnot show output for running containers at times"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
not reproduceble consistently
[information.txt](https://github.com/containers/libpod/files/4543419/information.txt)

1.

2.

3.

**Describe the results you received:**
podman ps doesnot show output of running containers, also not able to do podman exec on tho

[2020-04-28 06:47] #6013 closed

[2020-04-28 07:43] lburgazzoli opened #6015 "Mount docker.sock"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm switch a jenkins installation from running with docker to podman and one of the requisite is to be able to access the docker daemon on the host to run containerized builds but mounting the docker socket does not seem to work as expected with podman:

**Steps to reproduce the issue:**

Run

[2020-04-28 10:34] mybigman opened #6017 "environment variable http_proxy cannot be overridden"
/kind bug

**Description**

--env-host as no effect
http_proxy environment variable ignored.

**Steps to reproduce the issue:**

1. set http_proxy environment variable

2. ```podman run -dt --name test -e "http_proxy=http://1.1.1.1:1111" alpine:latest```

3. ```podman exec -it test sh```

4. `env`

**Describe the results you received:**

http_proxy takes on the host value regardless.
--env-host=fa

[2020-04-28 11:19] bolind commented on #3421
I got similar errors, even with correctly configured /etc/subuid and /etc/subgid. Turns out, there's a known issue/bug when your home directory is on NFS. Try something like:

`mkdir /tmp/foo && podman --root=/tmp/foo --runroot=/tmp/foo run alpine uname -a`

[2020-04-28 11:53] marusak commented on #5950
We hit this also in cockpit tests:
We take clean and fresh fedora VM, login as root and do:
[code]
then we shut the VM down, boot it back up, login as `admin` user and when we try to do any non-root action it fails the same way:
[code]

It does not need to be even `shut down and log in as admin`, it is enough to relogin as admin and run any command.
Easily reproducible with `podman-1.9.0-1.fc31.x8

[2020-04-28 12:07] martinpitt commented on #5950
IMHO the cleanest solution is to actually do what the warning says, and run

    loginctl enable-linger 1000

or

    loginctl enable-linger $(id -u targetusername)

In our previous version of the test I just tried to set `$XDG_RUNTIME_DIR` appropriately and mkdir it, but that's not sufficient any more. Starting a proper logind session with `su -` avoids all of that hackery.

[2020-04-28 12:07] marusak commented on #5950
Two possible workarounds:
1. Executing `loginctl enable-linger $(id -u admin)` before doing `sudo -i -u admin ...`
2. Or once you broke it (not using 1.) and log in as admin and actually see this issue, doing `rm ~/.local/share/containers/storage/libpod/*` solves the problem.

[2020-04-28 12:13] akerl-unpriv commented on #6015
This should be expected, right? Podman doesn't run a daemon like docker does, so there's no docker.sock to mount (unless you're also running docker in parallel on the same host?).

[2020-04-28 12:21] lburgazzoli commented on #6015
Yes I have docker running on the host as I cannot complete replace it with podman as some of the projects I'm building with Jenklins do require to access docker through APIs (i.e. testcontainers that uses the docker-java library under the hood)

[2020-04-28 12:23] akerl-unpriv commented on #6015
Gotcha. Can you add the output of `ls -l /var/run/docker.sock` on the host, and also `ls -l /var/run/docker.sock` from within the podman pod? I'm wondering if Docker is helpfully fixing the perms to align with the container's user ID, but podman is not doing likewise.

[2020-04-28 12:28] lburgazzoli commented on #6015
**pod:**
[code]

**host:**
[code]

[2020-04-28 12:30] lburgazzoli commented on #6015
Note that my user is part of the `docker` group on the host

[2020-04-28 12:36] akerl-unpriv commented on #6015
It seems like this might be that the bind-mounted socket isn't being put into the user namespace for your container (since "root" / uid 0 in the podman pod is not the same as "root" on the outside).

[2020-04-28 13:10] marusak opened #6018 "containers-rootlessport dumps core"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In Cockpit tests we noticed that podman sometimes dumps core. I don't actually have reproducer (yet) as  it does not happen always, but around in 1/3 of runs so slow to debug.

**Describe the results you received:**
I see podman coredumping:
[code]

I am attaching the whole backtrace from gdb:

[2020-04-28 13:19] baude commented on #6018
@giuseppe PTAL ...

[2020-04-28 13:20] baude commented on #6018
@marusak did you get a core file from this? any chance you saved it?

[2020-04-28 13:25] marusak commented on #6018
Our bots save those as well, one can be found [here](https://logs.cockpit-project.org/logs/pull-370-20200428-120538-fb42efc7-fedora-31-bots-804/TestApplication-testRunImageUser-fedora-31-127.0.0.2-2201-FAIL.core/). I also have some local ones if these would end up being unusable.

[2020-04-28 13:26] mheon commented on #6015
We automatically drop supplemental groups when entering rootless containers for security reasons, which is why your access to the `docker` group is being removed.

[2020-04-28 13:28] mheon commented on #6015
If you are using the `crun` OCI runtime, adding the following annotation to the container will disable that behavior: `run.oci.keep_original_groups=1`

That may allow you to access the Docker socket, but I will strongly emphasize that you remove any and all security benefits of rootless Podman by mounting a root-owned Docker socket into it (this will enable trivial privesc from the container onto

[2020-04-28 13:32] mheon commented on #6017
Hmm. Sounds like a bug.

For now, `--http-proxy=false` should disable adding proxy-related environment variables automatically.

[2020-04-28 13:40] marusak opened #6021 "Panic in varlinkapi.imagesToImageList"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In Cockpit tests we noticed that the connection to varlink drops and then we see go-panic in journal.
I don't actually have reproducer, but I hope that the logs are verbose enough.

**Describe the results you received:**
[code]
and the more verbose version: [bt1.txt](https://github.com/contain

[2020-04-28 13:54] lburgazzoli commented on #6015
So I think it won't be too different from running Jenkins directly on the host

[2020-04-28 14:27] xpepermint commented on #3107
I'm also interested in this. Rust is meant for writing system-level apps and I believe we need direct access to lib (e.g. as we have for git).

[2020-04-28 16:23] rhatdan commented on #6005
Does it work or doesn't it?

[2020-04-28 16:25] rhatdan commented on #6003
I believe this check it to prevent CVEs,  We might be a little more strict then we need to be.

[2020-04-28 16:51] mheon commented on #6003
We're using c/storage's `CopyWithTar()` to accomplish the actual copy-up. I think you may be right that this is a CVE fix for other uses of that function (it's also used for `podman cp` and Dockerfile `ADD` instructions, I believe). I think the issue here is the `../../` component of the link, which we see as a potential attempt to escape the container.

[2020-04-28 16:59] baude commented on #3107
@xpepermint interested in writing them?

[2020-04-28 18:08] rhatdan commented on #3421
NFS homedirs are covered in the troubleshooting guide.

[2020-04-28 18:23] rhatdan commented on #6017
This works in podman 1.9
[code]

[2020-04-28 18:33] mheon commented on #6017
@rhatdan Nope, if it's set on the host, we can't override.

[code]

[2020-04-28 18:33] mheon commented on #6017
[code]

[2020-04-28 18:33] rhatdan commented on #6015
SELinux will block this access also.  giving a process access to the docker.sock is the most dangerous thing you can do. You should really run in --privileged mode if you are going to do this, so people would understand that the container has root root access on your system and no confinement.

Have you looked into using buildah to build while running inside of a container?

[2020-04-28 18:51] aleks-mariusz commented on #5138
I've put together PR #6025 to restore this according to your guidance @giuseppe please review and advise if/how it should be changed in order to be merged

(also is it worth re-opening this issue until the PR is accepted?)

[2020-04-28 19:17] xpepermint commented on #3107
@baude That was my first thought but I'm afraid I need to read more stuff before I get my hands dirty. How would you do it? Right now I have so many questions :).

[2020-04-28 19:18] rhatdan commented on #6017
Ok so this sounds like a containers.conf thing?

[2020-04-28 19:55] jpeeler commented on #4159
@lsm5 this looks like it is stalled with a needinfo for you?
https://bugzilla.redhat.com/show_bug.cgi?id=1804768

[2020-04-28 19:55] mheon commented on #6017
or the http_proxy flag - don't think that one is handled by containers.conf

[2020-04-28 20:22] baude commented on #3107
i think all of us are dying to learn rust and write the bindings but time has not afforded it.  And supporting it probably scares us more ... We have go bindings now in master and that should firm up as well.

[2020-04-28 20:43] orbsfoc commented on #3993
Is there a work around for this? With 1.9.0 i still get the same error.

[2020-04-28 20:45] rhatdan commented on #3993
Not yet,  keep discussion in  #2808 (comment).

[2020-04-28 20:53] popsUlfr commented on #3937
I think I encountered this problem on podman 1.9.0 in rootless mode :

When I try to exec :

[code]

[code]

But if I prefix with `systemd-run` :

[code]

It works.

Not sure if it is related but I have a dedicated `podmanuser` user on the system, so I SSH to my ssh user and then I `sudo machinectl shell podmanuser@` to become the other user and get a systemd user session.

Here's my `podman info`

[2020-04-28 21:02] jeyaramashok commented on #5234
@sujil02 do you know which release would have this change ? and roughly when that release would be available ?

[2020-04-28 21:10] lsm5 commented on #4159
yup, sorry, distractions. I'll get that going tomorrow..

[2020-04-28 21:19] mheon commented on #5234
As things stand now, Podman v2.0.0, probably in 4-6 weeks. If this is a critical issue we can consider a backport to the v1.9.x release series.

[2020-04-28 21:25] mheon commented on #3107
I think the core question of a new set of Rust bindings would be whether they should wrap Libpod directly and use a direct FFI to interface with Go, or implement the new Libpod HTTP API, which avoids a few potential pitfalls but also involves communicating with an existing Podman service and not directly managing Libpod.

[2020-04-28 22:08] cdjohnson commented on #5234
@mheon
Yes, this is a very critical issue for us.  Please consider this for 1.9.

FYI:  It looks like Podman v2 no longer has Docker CLI compatibility, so we'll likely need to use Podman v1.9 anyway.

[2020-04-28 22:10] jeyaramashok commented on #5234
yes. It would be great if you can backport this change to 1.9.x, we've been using podman heavily along with opm(https://github.com/operator-framework/operator-registry/issues/288) tool to build catalog images for openshift. we are currently are blocked by this since the tool does a save using digests. Also since 2.0.0 is major version bump, we aren't sure what other changes the version may entail.

[2020-04-28 22:12] mheon commented on #5234
v2 is just under heavy development - it will return to being CLI compatible in a few weeks. We're steadily re-enabling functionality and tests at present.

@sujil02 Mind cherry-picking the fix to the v1.9 branch? I can help you if you're not sure how.

[2020-04-28 23:29] djmattyg007 commented on #3421
To clarify, the machine on which I encountered this definitely had no NFS-related anything installed or running.

[2020-04-29 01:55] bbros-dev commented on #5633
To clarify, we're not trying to modify the host from within the container.  The opposite.  We are trying to modify only the container image.

Apologies for anything we wrote that caused that misunderstanding.

We'd just like `update-grub` to succeed much that same as `make vmlinux` does.

The `--privileged` does not change the observed behavior. The `--volume ...` is not our use case.

[2020-04-29 05:39] praveenkumar opened #6033 "podman remote clients for windows and mac links are broken in readme file"
podman-remote latest clients links which are part of readme are broken and there is no way to download those clients from the mentioned urls.

[2020-04-29 05:49] coldbloodx commented on #6005
@rhatdan
it does NOT work.
test environment: rhel8.1, podman 1.4.2

[2020-04-29 05:52] coldbloodx commented on #6005
just tried on rhel 8.2,
it does NOT work either:
[root@lsf1x95 ~]# docker ps
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
CONTAINER ID  IMAGE  COMMAND  CREATED  STATUS  PORTS  NAMES
[root@lsf1x95 ~]# docker run --rm -it --ulimit nofile=“2000:-1” centos /bin/sh
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
Trying to pull docker.io/l

[2020-04-29 06:18] grronline opened #6034 "[rootless] `podman ps` doesnot show running container even though container processes are still running"
[information.txt](https://github.com/containers/libpod/files/4550018/information.txt)

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
systemd based containers in rootless mode after some hours/days fails to get displayed with `podman ps`
1.

2.

3.

**Describe the results you received:**
`podman ps`  does

[2020-04-29 06:19] coldbloodx commented on #6005
@rhatdan

a mistake, here, the encoding of the double quote(") is not correct, it works on rhel 8.2(podman 1.6.4). but it does NOT work on rhel 8.1(podman 1.4.2)

[root@lsf1x95 ~]# docker run --rm -it --ulimit fsize=“40992000:-1” centos /bin/sh
Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
sh-4.4# ps -ef
UID        PID  PPID  C STIME TTY          TIME CMD
root

[2020-04-29 06:57] lburgazzoli commented on #6015
I know but what other options do we have ? i.e. is there an docker api emulation layer that uses podman under the hoods ?

here it is not about build container but to spawn container as part of the test process of some libraries.

[2020-04-29 07:11] stuggi commented on #5306
just fyi, I hit the same on RHEL 8.2 using `podman-1.6.4-11.module+el8.2.0+6368+cf16aa14.x86_64` where the system got unexpected rebooted. Cleaning `/tmp/run-1001/libpod/pause.pid` where /tmp is not on a tmpfs fixed it

[2020-04-29 09:09] giuseppe commented on #6034
are you running the container through a systemd service or is systemd running inside of the container?

Is lingering mode enabled for your user?

[2020-04-29 10:35] giuseppe commented on #6018
I've opened a PR here: https://github.com/containers/libpod/pull/6036

[2020-04-29 12:15] grronline commented on #6034
we are actually trying to run the container through a systemd service, lingering mode is not enabled for the user.
 ls -l /var/lib/systemd/linger
ls: cannot access '/var/lib/systemd/linger': No such file or directory

is it required only during rootless container being run as systemd or for any rootless container?
please share any document link for rootless container, which has the above informati

[2020-04-29 12:57] rhatdan commented on #3107
I think step 1 would definitely be the HTTP API.  Then we can garner the requirements for embedding the library.

[2020-04-29 13:53] mheon commented on #6015
There is (`podman system service` in 1.8.2 and up) but it's still in alpha.

You'll likely need to disable SELinux confinement for the container (`--security-opt label=disable`) as @rhatdan said, but I think it should work.

[2020-04-29 14:05] mheon commented on #6034
Providing the systemd unit used to launch the container would help greatly.

Also, can you try a `podman ps --all --sync` when this happens and see if the container registers as running

[2020-04-29 14:07] #6018 closed

[2020-04-29 14:15] mheon commented on #5306
That is definitely not a situation that we consider safe - Podman's rundir absolutely needs to be on a tmpfs for safety across reboots.

[2020-04-29 14:30] grronline commented on #6034
actually i had tried podman ps --all --sync that didn't help, so had to kill the conmon process and rebooted the box, post which starting the container gives the below error
Error: unable to start container "containerName": unable to find user postgres: no matching entries in passwd file

more information is present in the attachment information.txt

[2020-04-29 15:11] mheon commented on #6033
We've started adding the binaries to the individual Github releases (e.g. the [v1.9.1](https://github.com/containers/libpod/releases/tag/v1.9.1) release). We should update the readme to reflect that.

[2020-04-29 15:48] praveenkumar commented on #6033
@mheon thanks but it doesn't have for linux binary, any plan to add that or that is complete depend on distribution way of providing?

[2020-04-29 16:33] lburgazzoli commented on #6015
@mheon is it possible to run `podman system service` inside a container ?

what I'm thinking is to create a pod in which I have one container that runs jenkins and another one that runs `podman system service` listening on a tcp post and use DOCKER_HOST to let the jenkins service communicate with the podman one

[2020-04-29 16:45] mheon commented on #6015
@rhatdan I know we have Podman-in-Podman working for root containers, but what about rootless ones?

[2020-04-29 16:58] rhatdan commented on #5633
Grub would have no effect, since you are not booting a kernel when a container comes up.  Containers are not VM's they do not have their own kernels.

[2020-04-29 17:06] baude commented on #6033
@praveenkumar given that the linux client is not truely static (distributions will need different binaries), how would you recommend we do this (if we could)?

[2020-04-29 17:20] edsantiago opened #6043 "lots of segfaults in new v2 arg processing"
Basically, too many instances of `args[0]` (without checking len(args) to count. See #6041

[2020-04-29 17:26] edsantiago commented on #6043
Suggestion: pull #6041 into your tree, run `bats test/system/015-help.bats`, fix whatever it complains about, repeat. Some of the fixes seem easy, some (podman container rm) are harder because the code needs to recognize `-l`. This is going to take a while, methinks.

[2020-04-29 17:35] rhatdan commented on #6005
Ok so you are saying we have fixed this in the latest releases?
Closing issues, reopen if I am mistaken.

[2020-04-29 17:35] #6005 closed

[2020-04-29 18:13] coldbloodx commented on #6005
yes, the cli works in podman 1.6.4.

[2020-04-29 18:53] rhatdan commented on #6015
Theoretically this would work for rootless containers, but might be difficult to setup.  To get full functionality you need to run the initial container as --privileged, most likely.

[2020-04-29 18:54] TomSweeneyRedHat commented on #1925
FYI, this is now a RFE Bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1829029

[2020-04-29 18:56] rhatdan commented on #6033
If we make a static binary, it should only be podman-remote not full podman.

[2020-04-29 18:57] renich commented on #1925
@TomSweeneyRedHat well, just tried to check it out and didn't have access to it; even when logged in.

[2020-04-29 19:29] TomSweeneyRedHat commented on #1925
@renich I'm not sure how the perms work on the Red Hat Bugzilla system.  In short, it basically has the same info as in this issue.  When we have an issue pointing at a BZ or vice versa, I like to set up a pointer the other way so we don't forget to close one out after it's fixed.

[2020-04-29 21:16] jberkus opened #6045 "Feature Request: add subinterface creation podman network create"
/kind feature

**Description**

`docker network create` allows automated creation of trunk bridge mode vitual IPs that map to each created container if you call a new subinterface name, such as "eth0.2".  This is useful for running services under podman that might normally get their own virtual IP, such as serving DNS.

It would be nice to have this option in podman as well, particularly for folks

[2020-04-29 22:28] mheon commented on #6045
I know we do support `macvlan` mode right now, but the flags (and overall functionality) are very different from what I'm seeing in the Docker docs.

[2020-04-29 23:02] jberkus commented on #6045
if there is a way to create the virtual IP from podman generate network, then maybe this just requires a doc patch.  tell me how to do it and I'll write the docs

[2020-04-29 23:06] medyagh commented on #5205
@kunalkushwaha are there anything new about this ?

[2020-04-29 23:07] mheon commented on #6045
I don't think we can now - our `macvlan` support is primarily intended to source IPs from an external DHCP server

[2020-04-29 23:30] kunalkushwaha commented on #5205
@medyagh Sorry for the delay in this. Due to recent client code (v2 changes), my fix is not mergeable.
I am trying to fix this. Shall be able to do it soon.

[2020-04-30 00:02] bbros-dev commented on #5633
Understood.  That would be the case if we were trying to use grub.  The command at issue here is `update-grub` which concerns installed kernels.

[2020-04-30 00:26] mheon commented on #5652
Will try and take a look at this next week, once things are a bit more stable in master

[2020-04-30 01:04] abitrolly commented on #5825
See https://github.com/containers/libpod/pull/5883 to where it should be added.

[2020-04-30 03:40] praveenkumar commented on #6033
@baude @rhatdan I am right now only interested in the podman-remote binary not full podman since on the release page we are only listing the remote clients and those are static binary if I am not mistaken?

[2020-04-30 03:43] praveenkumar commented on #6033
Another thing I notice here on https://github.com/containers/libpod/releases/tag/v1.9.1 page there is one zip file which name as podman-remote for windows and then there is msi for windows  but it is just named as podman, shouldn't that would also podman-remote ? Also there is no tarball of podman-remote for macOS/Linux on the release page.

[2020-04-30 07:38] abitrolly opened #6048 "Fedora 32 version is lower than F31"
/kind bug

I've just updated to F32 and my podman downgraded from 1.9.0 to 1.8.2.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Expected to use latest `podman` 2.0 with #5883 merged in (1.9.1 doesn't have the fix).

[2020-04-30 09:29] vrothberg commented on #6048
1.9.1 should land soon in F32.

2.0 does not exist yet. Note that the API is still experimental, so I am not sure if #5883 will make it into any release before 2.0.

[2020-04-30 09:44] abitrolly commented on #6048
I checked that #5883 works and would like to see that released for F32.

[2020-04-30 10:17] abitrolly opened #6050 "Docker API /containers/{id}/archive"
/kind bug

Accessing `/containers/{id}/archive` on 1.9.1 gives 404. I guess it is not implemented yet.

https://docs.docker.com/engine/api/v1.38/#operation/ContainerArchive

[2020-04-30 13:10] mheon commented on #6050
Yep, a few remote endpoints (those for copy, exec, and I believe the network commands) are still being worked on.

[2020-04-30 14:16] abitrolly commented on #6050
@mheon can't wait for it to use https://github.com/buildpacks/pack/issues/564

[2020-04-30 14:23] baude commented on #6050
@abitrolly https://docs.docker.com/engine/api/v1.40/#operation/ContainerArchiveInfo is this what you are after?  if so, you are correct, this is a bug.  would you be willing to contribute?

[2020-04-30 15:22] baude commented on #6033
No, that was a special request but a agroup we work with.

[2020-04-30 15:48] edsantiago commented on #6043
Here's what I think is the full list:
[code]

[2020-04-30 16:52] grahamc opened #6053 "Rootless podman: support passing arbitrary paths to configuration files"
/kind feature

**Description**

I'd like to be able to specify all configuration files to podman (rootless or not) via configuration flags or podman-specific environment variables.

On Podman 1.9.1 and 1.8.2, when I run `podman import result/tarball/nixos-system-x86_64-linux.tar.xz my-image`, I get:

I found #1336 (rootless: allow to override policy.json by the user) but creating a file at `~/.con

[2020-04-30 17:13] lcarva commented on #5234
In case this is blocking anyone, here's a workaround with skopeo that works for me:
[code]

If you're only pulling the image so it can be saved to an archive, then a single command will do it:
[code]

[2020-04-30 18:05] rhatdan commented on #5234
@sujil02 Can you back port #6011 to podman 1.9?

[2020-04-30 18:15] mheon commented on #5234
Already done, AFAIK

[2020-04-30 18:17] sujil02 commented on #5234
yup already done.
https://github.com/containers/libpod/pull/6032

[2020-04-30 18:20] mheon commented on #6053
We verified this isn't affected by containers.conf (1.8.2 still has the bug). Based on #1336 my first suspicion is some form of runtime config validation catching it, though it's possible that it could be somewhere in c/image as well.

[2020-04-30 18:29] cevich commented on #4511
Update: Got side-tracked a bit on updating to F32 for CI here and in buildah.  Back onto working up a reproducer to help troubleshoot/debug the issue I found along with Cirrus-CI Support.

[2020-04-30 18:42] rhatdan commented on #5234
https://github.com/containers/libpod/pull/6032
Is a back port of this for podman v1.9.
The fix will show up in  podman-1.9.2

[2020-04-30 18:42] #5234 closed

[2020-04-30 19:47] rhatdan commented on #6045
@baude @mccv1r0 PTAL

[2020-04-30 19:48] rhatdan commented on #5633
Sure, but I think the tool is being fooled when looking at the host kernel, and not matching up its configuration.

[2020-04-30 19:49] rhatdan commented on #5653
@giuseppe Did you ever get to look at this?  Is this an issue with crun? runc?
@kolyshkin Do you know?

[2020-04-30 19:50] rhatdan commented on #5665
@edsantiago Is this still a problem?

[2020-04-30 19:51] rhatdan commented on #5658
@giuseppe Did you ever get a chance to look at this?

[2020-04-30 19:52] rhatdan commented on #5631
@giuseppe @vrothberg @refi64  Did this problem go away or was the issue lost in the flow of working on other stuff?

[2020-04-30 19:53] rhatdan commented on #5621
@ZeronoFreya @mheon Is this a solved problem, and we can close the issue.

[2020-04-30 19:54] edsantiago commented on #5665
Since CI is currently disabled, I have no idea. Can we leave this open until CI is back?

[2020-04-30 21:03] edsantiago commented on #6043
Fixed by #6055

[2020-04-30 21:03] #6043 closed

[2020-04-30 22:03] mccv1r0 commented on #6045
`podman run` support `--ip string` lets the interface get a static IPv4 (from host-local IPAM) which can be used for such things as DNS Server, web server, etc.   Would this suffice?   There is also the CNI [static IPAM](https://github.com/containernetworking/plugins/tree/master/plugins/ipam/static) too, which (iirc) lets you avoid the need for `--ip string`

[2020-05-01 07:53] theunrealgeek commented on #4093
Just a quick status update, I'm still working on getting `play kube` for both `Pod` and `Deployment` types working.
I'm having to rewrite many things for v2 and also got busy with my day job a little last few days...

[2020-05-01 12:23] rhatdan commented on #6033
Podman exutables on MAC and Windows, should be called Podman NOT podman-remote.  We should only use/install the `podman-remote` executable on Linux boxes, to eliminate confusion with the full featured `podman` command.

[2020-05-01 12:33] rhatdan commented on #6053
This is definitely something in containers/image.  I don't believe Podman can currently override this.