[2022-09-10 15:40] #15726 closed

[2022-09-11 06:15] boaz0 commented on #15556
Hi @jakecorrenti I think I found the problem. Can I work on it? Or you are in a middle of finishing it.
Let me know. Thanks.
If you need help let me know, I don't mind giving you a hint.

[2022-09-11 07:28] snathanail opened #15736 "Azure Release pipelines bash script deployment leads to Connection Refused."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using Azure Release Pipelines to pull an image and run a container based on that image, via a bash script. The container starts and responds normally from within the script, however if I login on the VM and try to access it, I get Connection Refused.

**Steps to reproduce the issue:**

1

[2022-09-11 10:52] Thaodan commented on #15269
Does that mean if go's TLS lib doesn't support something it can can't be done?

[2022-09-11 12:48] jakecorrenti commented on #15556
Hey, I'm still working on it. Had my first week back at school last week so just had to find my groove. I plan on trying to finish today. I'll let you know if I want to pass it off!

[2022-09-11 13:16] akostadinov commented on #15580
Anybody looked at this?

Could it be selinux related? Running my compose, I saw a selinux issue, see

https://bugzilla.redhat.com/show_bug.cgi?id=2125878

[2022-09-11 13:45] Luap99 commented on #15733
You need to use special build tags to disable the c dependencies: https://github.com/containers/podman/blob/b9cbc0c09a68be7bb55048a494753c77c08bfbd3/Makefile#L45

[2022-09-11 13:52] Luap99 commented on #15736
Is your pipeline killing all spawned processes once it finishes?
Check if you have any rootlessport or slirp4netns process still running (assuming you run rootless).

[2022-09-11 13:53] amokkara commented on #15733
Sorry, didn't quite get it. Could you give an example or detail the steps?

I'm using podman/bindings in my go project and compilation fails  when I try to build go binary for Mac.

I'm just using this module in my project
github.com/containers/podman/v3

[2022-09-11 13:57] Luap99 commented on #15733
`go build -tags "remote exclude_graphdriver_btrfs btrfs_noversion exclude_graphdriver_devicemapper containers_image_openpgp" ...`

[2022-09-11 16:08] boaz0 commented on #15374
@vrothberg / @rhatdan - if you don't mind, I start working on this.

[2022-09-11 16:27] aclarknexient opened #15739 "Running arm64 after building it on amd64"
Hello, I am trying to copy a workflow from my intel-based Linux box to my intel-based macbook pro. This is to build multi-arch manifest images for use by amd64 and arm64 archs.

On my Fedora 36 Linux box, I installed qemu-user-static, restarted its systemd service, and was able to run different architectures pretty easily:
[code]

The Dockerfile used by that build is very simple:
[code]

However,

[2022-09-11 18:29] snathanail commented on #15736
I would guess so, yeah.  Not sure how else to check this, other than with `ps`, so here goes:
[code]
I logged on as root to the VM and ran the above commands. Looks like no `rootlessport` or `slirp4netns` processes are running.

[2022-09-11 18:50] miquecg commented on #14648
Hi,

I'm having a similar issue on MacOS with Podman and postgresql. These are `cat /proc/self/limits` inside the QEMU VM:

[code]

Maybe `Soft Limit` value 1024 for `Max open files` is too low?

[code]

[2022-09-11 22:38] #15707 closed

[2022-09-12 00:52] krystalcode opened #15740 "Pod stuck in error/removing state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I ran a script that creates a pod and then adds a couple of containers to it. I immediately realized I wanted to change some environment variables before running the containers and I hit `Ctrl+C` to stop the script.

It seems no container was created in the pod (apart from the pod's infra con

[2022-09-12 02:11] jrobeson commented on #15580
@akostadinov even when selinux is in permissive mode, it still has this problem.

[2022-09-12 04:44] mheon commented on #15740
Dupe of https://github.com/containers/podman/issues/15526

[2022-09-12 04:44] #15740 closed

[2022-09-12 04:52] mheon commented on #15739
Convergint to discussion as this is a question. @baude PTAL

[2022-09-12 04:55] krystalcode commented on #15526
@mheon in reference to #15740 , is there something that I can do to remove the pod, or do I have to wait until the release that will contain the fix?

[2022-09-12 05:04] claudiusraphael opened #15742 "Podman fails to remove old install-components preventing reinstall/update (35 to 36) / re-init"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After unregistering all distros in WSL2 and complete uninstall of all related software - (Podman Desktop, Podman for Windows (WSL2), Ubuntu (Default), WSLg, WSL-Update - it was not possible to initialize podman, although the reinstall went without errors.

Using ```podman system info``` showe

[2022-09-12 05:20] sstosh opened #15743 "checkpoint failed to print rawInput on podman-remote"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

See above.

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

Succeeded to print rawInput on podman-remote on local.

[code]

[2022-09-12 07:04] p0da commented on #14776
Hmm, I will see what I can do however it may take some time for me to get to it.

[2022-09-12 07:23] vrothberg commented on #15720
Thanks for reaching out, @benoitf!

@mheon PTAL

[2022-09-12 07:27] vrothberg commented on #14864
I think this is a flake on the registry rather than Podman.

[2022-09-12 07:57] sstosh opened #15746 "run --attach stdin failed to print container ID on podman-remote"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

See above.

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

Succeeded to print container ID on local.
[code]

**Output of `

[2022-09-12 08:48] fcrozat opened #15748 "multiple cache in different order for RUN confuses podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman build fails if RUN --mount=type=cache,... --mount=...,type=cache is used

**Steps to reproduce the issue:**

1. git checkout https://github.com/distribution/distribution

2. podman build .

**Describe the results you received:**

Podman either crashes or fails:
crash :
[code]
if restar

[2022-09-12 09:01] vrothberg commented on #15748
Thanks for reaching out, @fcrozat!

@nalind @flouthoc PTAL

[2022-09-12 09:02] vrothberg commented on #15746
Thanks for reaching out, @sstosh!

[2022-09-12 09:03] vrothberg commented on #15743
Thanks for reaching out, @sstosh!

Are you interested in opening a PR?

[2022-09-12 09:04] vrothberg commented on #15742
Thanks for reaching out, @claudiusraphael!

@ashley-cui  @baude @n1hility WDYT?

[2022-09-12 09:10] RomainLyon1 commented on #15641
To answer the USB is not really directly mounted. When the device is connected a script does mknod, set permissions and the mount inside the container.

I did more test and the problem does not happen all the time. The workaround works when the problem occurs but having the USB drive connected does not cause the problem.

[2022-09-12 09:16] sstosh commented on #15743
Yes. I'll try to open a PR.

[2022-09-12 09:17] miquecg commented on #14648
Sorry for pinging @Luap99, but I'm not sure if otherwise you would get a notification from this issue.

[2022-09-12 09:20] flouthoc commented on #15748
Hi @fcrozat , Just confirming only changing `--mount=target=/go/pkg/mod,type=cache \` with `--mount=target=type=cache,/go/pkg/mod \` makes it work fine for you ? Cause when i was building i saw more issue like not setting the default type to bind when no type is specified.

[2022-09-12 09:28] miquecg commented on #14648
This is from a Linux laptop where I've had no troubles so far building same project:

[code]

[2022-09-12 10:02] fcrozat commented on #15748
Yes, applying the following patch allows to build with --no-cache (to ensure I don't have any leftover):

[code]

[2022-09-12 10:44] n1hility commented on #15742
@claudiusraphael Did you get `VM already exists` *after* a `podman machine rm`? The way the VM exists check works is it just looks for a json file containing the state of the machine. This file is removed as part of `podman machine rm` so init should not throw that error unless something prevented the file deletion.

[2022-09-12 10:55] flouthoc commented on #15748
@fcrozat I think order issue must be closed by the PR https://github.com/containers/buildah/pull/4234

[2022-09-12 11:00] djnotes commented on #15580
I am having a similar issue when I run `docker-compose up` for the second time i.e. `docker-compose up` has been run at least once before and then stopped for some reason. So, I have to run `docker-compose down` first and then `docker-compose up`.
[code]

[2022-09-12 11:36] benoitf commented on #15526
my only workaround is to call `podman system reset` twice (loosing everything) and restarting podman

[2022-09-12 12:02] jelly commented on #11576
Cockpit-podman has an prune implementation for a while and it does not require the dangling filter option to work so this issue can be closed in my opinion.

[2022-09-12 12:03] vrothberg commented on #11576
Sounds good, thanks!

[2022-09-12 12:03] #11576 closed

[2022-09-12 12:26] praveenkumar commented on #14664
@rhatdan Not yet :( , let me pick it up during this week (it is learn week).

[2022-09-12 13:02] mheon commented on #15526
It is possible that a `podman system renumber` after a `podman pod rm` may bring things back into a sane state, but I have not personally verified this.

[2022-09-12 13:07] mheon commented on #15720
We can get an array of containers referencing a volume via `VolumeInUse()` from the state. Get the length of the array, and we have the refcount. I can take this.

[2022-09-12 13:39] edsantiago commented on #10825
[f36 remote rootless](https://api.cirrus-ci.com/v1/artifact/task/6178689502150656/html/sys-remote-fedora-36-rootless-host.log.html#t--00177)

[2022-09-12 14:08] benoitf opened #15754 "missing online CPU information w/ compat REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Looking at Compat API
https://docs.docker.com/engine/api/v1.41/#tag/Container/operation/ContainerStats

it says `number_cpus = length(cpu_stats.cpu_usage.percpu_usage) or cpu_stats.online_cpus`

and
[code]

but it seems podman is not providing any of `percpu_usage` or `online_cpus`

**Steps t

[2022-09-12 14:50] mheon commented on #15729
Upstream is no longer providing support for that version, so there's not much we can do. You may have better luck filing a bug against your distribution.

[2022-09-12 15:11] edsantiago commented on #15367
[remote f36 root](https://api.cirrus-ci.com/v1/artifact/task/5094388970815488/html/sys-remote-fedora-36-root-host.log.html#t--00265)

[2022-09-12 15:16] edsantiago commented on #12052
Seen just now, [f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/5375863947526144/html/sys-podman-fedora-36-rootless-host.log.html#t--00208)

[2022-09-12 15:27] EQUALIT-CG commented on #15313
Hi guys

I'm having issues with linuxserver/jellyfin

I can not get it to start when i docker-compose up the output comes as follows

[code]

I can not get this to run when i go with UID & GID
I can log in no issues but still not able to mount my media Iv ask and looked around for support with no luck anyone able to explain to me how to fix this please

[2022-09-12 15:43] krystalcode commented on #15526
`podman system renumber` worked in my case, thanks.

[2022-09-12 16:19] mtrmac commented on #15269
It means we aren’t planning to do it the suggested way of using a C library.

[2022-09-12 17:02] Luap99 commented on #15374
I don't understand why a docker API caller would be interested in pods?
I think this change would cause problems: https://github.com/containers/podman/pull/15738#issuecomment-1243527931

[2022-09-12 17:14] mheon commented on #15374
I could see making these OCI annotations instead of labels. That will keep
them out of the compat API, and the OCI runtime might be interested that
the container is in a pod ( I know kata wants to know this, for example).

On Mon, Sep 12, 2022 at 13:02 Paul Holzinger ***@***.***>
wrote:

[2022-09-12 17:37] baude commented on #15732
do you see the gvproxy process running ?

[2022-09-12 17:55] #15688 closed

[2022-09-12 18:59] baude commented on #15631
I have this pretty much nailed down.  I need to verify a few details with @mheon before I can cobble up a fix with any confidence.

[2022-09-12 19:03] holly-cummins commented on #14702
This would also be useful on Mac. I'm experimenting with running `podman machine start` with `launchd`, but without much success yet.

[2022-09-12 19:15] rhatdan commented on #15163
@ashley-cui PTAL

[2022-09-12 19:18] rhatdan commented on #15284
@vrothberg Any progress on this?

[2022-09-12 19:20] rhatdan commented on #15272
Is this moving forward?

[2022-09-12 19:21] Thaodan commented on #15269
I just don't understand why do you want to reimplement that, with Go's habbit
of linking everything statically this just seems like bad security in the
sense that this has be pulled in on a per program basis.

Also I wonder how this should be done if you want to implement this again to
not use existing C-based interfaces like OpenSC.

[2022-09-12 19:21] rhatdan commented on #14523
@flouthoc still working on this one?

[2022-09-12 19:22] rhatdan commented on #14126
@baude @Luap99 @flouthoc @mheon re-ping

[2022-09-12 19:25] rhatdan commented on #15556
Excellent.

[2022-09-12 19:27] rhatdan commented on #15733
This feels more like a discussion then an issue.

[2022-09-12 19:28] rhatdan commented on #14768
@Luap99 Waiting for an answer from you.

[2022-09-12 19:30] mtrmac commented on #15269
Podman is a Go-based project. If you want to change that and reimplement it, this PKCS#11-focused issue is not the place.

Things like https://github.com/miekg/pkcs11 exist. So those things can be _built_; whether they are production-ready is to be determined.

[2022-09-12 19:32] rhatdan commented on #14864
Ok I will close and hope it has gone away.

[2022-09-12 19:32] #14864 closed

[2022-09-12 19:34] boaz0 commented on #15640
What if we have two containers: `container1` and `container2` and both are using image `image1`.
I would rather `podman container cleanup --rm --rmi container1` to fail instead of deleting `container1`, `container2` and `image1`.

[2022-09-12 19:45] Thaodan commented on #15269
I didn't know using Go means only pure Go code is allowed to be used,  no
intentions in rewriting anything, to me it did sound you rather rewrite or
less less finalized things than using more stable external code.

No such purism was advertised.

But I leave it at that then.

[2022-09-12 19:48] edsantiago commented on #14864
Sorry for the late response. My (incomplete) logs do not show any instances since July 14.

[2022-09-12 19:54] mtrmac commented on #15269
The above suggests that you don’t understand how PKCS#11 works (“pure Go” PKCS#11 is fundamentally impossible), nor what the linked package is (it is not pure Go either). So please leave the implementation choices to whoever is going to be doing the work.

[2022-09-12 21:01] rhatdan commented on #15313
Could you try it in rootful mode and see if it works.

Also could you see if this is an SELinux issue.

[2022-09-12 21:06] baude commented on #14126
cannot be done until podman 5

[2022-09-12 21:33] djarbz opened #15759 "log-driver=passthrough issue with /dev/stderr"
[code]
/kind bug

**Description**

I have been migrating my SystemD unit files to reference the new `--log-driver=passthrough` option.
It has been working rather well, except for this one container that logs to `/dev/stderr`.
I receive the following error when it attempts to write to the error log which is in turn symlinked to stderr.
[code]

**Steps to reproduce the issue:**

This is my unit file

[2022-09-12 23:21] kairu97 commented on #15732
Hi @baude , what command do I use to check if the gvproxy process is running? Looks like there is none.

[2022-09-13 00:33] kairu97 commented on #15732
Hi @baude , it's running. I checked in ps aux.
![image](https://user-images.githubusercontent.com/63029919/189782120-4bd1041f-7590-41b3-92cd-5d211f22f534.png)

[2022-09-13 01:11] baude commented on #15732
did it ever work?

[2022-09-13 01:17] kairu97 commented on #15732
@baude , it used to work last May when it was 4.1 point something. But when I upgraded it to 4.2, it did not work anymore. I am also running OpenShift Local (CRC), but also uninstalled it to see if it is the issue. Unfortunately it isn't.

[2022-09-13 03:07] EQUALIT-CG commented on #15313
Hi @rhatdan

Thanks so much for the comment
do you mean switch user to root and try..?

info on the system

not sure what SELinux

I'm some what newibe i guess but i know some things as well

[code]

[2022-09-13 03:12] EQUALIT-CG commented on #15313
Hi @rhatdan

Thank so much for the support
I will add my os info below

I'm so what new some what not reason i say this is i don't understand what you mean can you try and put it in simple terms for me please

[code]

[2022-09-13 04:06] EQUALIT-CG commented on #15313
Hi guys

so i can start the docker-compose "Jellyfin"
But no media shows up inside the container

I have tried as core os user "core" as well as root
haven't been able to find any media

I will not post my docker-compose so maybe someone can test it
The remote storage works fine with the default image of jellyfin so i don't have an issues with it from synology setup as NFS as root

[code]

![snipp

[2022-09-13 06:21] Romain-Geissler-1A opened #15762 "podman image scp should allow specifying image by hash name with remote connection"
/kind bug

**Description**

This is a re-opening of https://github.com/containers/podman/issues/14313 which was closes but I still can't get it to work even with the very latest `quay.io/podman/upstream` image.

**Steps to reproduce the issue:**

1. Setup two remote connections named `podman1` and `podman2`

2. Build a dummy image with remote connection `podman1`:

[code]

3. Try to scp this image

[2022-09-13 06:23] ntsbtz opened #15763 "podman run unable to start container in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman run -dt -p 8080:80/tcp docker.io/library/httpd  throwing below error while running in rootless mode
Error: OCI runtime error: runc: runc create failed: unable to start container process: chdir to cwd ("/usr/local/apache2") set in config.json failed: operation not supported

**Steps to r

[2022-09-13 06:40] dilyanpalauzov opened #15764 "Unclear default value for --userns"
The manual page of podman-run says about `--userns`: “Set the user namespace mode for the container. It defaults to the `PODMAN_USERNS` environment variable.”  I have no PODMAN_USERNS environment variable.

What is the default value for `--userns` (in rootless and rootful mode)?

Podamn Version:      4.3.0-dev

[2022-09-13 07:27] benoitf opened #15765 "memory Limit is returning invalid result for `/container/stats` REST API on macOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The field `memory_stats.limit` is returning an invalid value

**Steps to reproduce the issue:**

1. Start a dummy container like fedora

[code]

2. Display the memory of the container from inside the container

[code]

3. Now, read the value returned by the REST API

[code]

**Describe the re

[2022-09-13 07:45] vrothberg commented on #15272
@baude, did you find time to look further into this?

[2022-09-13 07:46] vrothberg commented on #15284
Thanks for the ping.  I opened https://github.com/containers/podman/pull/15766.

[2022-09-13 07:57] vrothberg commented on #15763
Thanks for reaching out, @ntsbtz!

I fail to reproduce. @giuseppe, do you have suspicion what may be causing the issue?

[2022-09-13 10:28] giuseppe commented on #15764
[code]

Since the `PODMAN_USERNS` when unset it is equal to `""`, the default value is to not use user namespaces, so the equivalent of `--userns host`

[2022-09-13 10:33] giuseppe commented on #15763
it could be a weird seccomp profile, or the underlying file system.

@ntsbtz could you please share the output of `stat -f /home/regusr/.local/share/containers/storage` and `cat /proc/self/mountinfo`?

Could you also try adding `--security-opt seccomp=unconfined` after `podman run`?

[2022-09-13 10:39] rhatdan commented on #15764
Do you think we need this in a man page.  We should change the wording to say that the container runs in the default userns in rootless mode.  Not that there is no user namespace.

--userns and --uidap --gidmap will put the container into an alternative user namespace then the default.

In rootful mode the user namespace is the default user namespace.
In rootless mode the user namespace is the cur

[2022-09-13 11:00] #15284 closed

[2022-09-13 11:05] rhatdan commented on #15209
@gbraad @pdj9na What is up with this issue?

[2022-09-13 11:06] Luap99 commented on #14768
As said before I am fine with adding an ipv6 subnet field to containers.conf.
What I do not want are fields for every single network setting because that is already possible if you create the config file manually.

[2022-09-13 11:35] #15720 closed

[2022-09-13 11:44] gbraad commented on #15209
Not an issue.

[2022-09-13 11:54] giuseppe commented on #15759
To sure of what is failing, you could try to `strace` the container process and see what syscall is failing.  I think it is  attempting to open the `/dev/stderr` file and that fails because stderr is a socket under systemd.

I am closing the issue as I don't think there is anything doable in Podman, since it is an error caused by the interaction of the container payload with systemd, but feel free

[2022-09-13 11:54] #15759 closed

[2022-09-13 11:55] Ramblurr commented on #14546
We're also running into this problem. It is quite unexpected.

[2022-09-13 11:59] vrothberg commented on #14546
Thanks for the ping(s).  I'll take a stab at it.

[2022-09-13 12:22] rhatdan commented on #15209
Ok I will close then,

[2022-09-13 12:22] #15209 closed

[2022-09-13 12:22] #15691 closed

[2022-09-13 12:32] edsantiago commented on #11829
Really, really sorry to take so long on this. It's just something I don't have expertise on, so I had to poke in unknown places.

Turns out, we already have a tool that can help: `issue-labeler`, which we use for adding windows, mac, and remote labels.

It should be very easy to add a new rule to https://github.com/containers/podman/blob/main/.github/issue-labeler.yml such that files touched under

[2022-09-13 13:01] jnovy commented on #15432
@lfarkas I put it here: https://jnovy.fedorapeople.org/runc-1.1.4-1.el9.x86_64.rpm

[2022-09-13 13:16] mheon commented on #11829
Even if we don't decide to add enforcement through the release-notes tool, having a label on PRs saying that an API change was made is useful. We're pretty lenient about letting these in, and something to invite more scrutiny would be welcome.

[2022-09-13 13:23] mheon commented on #14768
Then we really ought to make the process of producing the config file manually either easier, or better documented, because it is a frequent question.

[2022-09-13 14:19] usernameisnull opened #15774 "I am a newbie, I would like to ask why there is no linux in the release page of podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2022-09-13 14:20] yhcote commented on #15348
@mtrmac I think it's reasonable. The first pass was to mainly get each rudimentary pieces of running a SIF container in and develop from there. The support for launch scripts for the `SIF -> Podman` port is somewhat like dealing with a reversed funnel. Best is to concentrate on 80% of the use cases first and let the users guide what is useful to them.

In other words, starting with migrating `run`

[2022-09-13 14:20] baude commented on #15732
If you stop your machine, and then do a `podman machine init --now foobar` does it work?

[2022-09-13 14:23] rhatdan commented on #14768
Can we ship a configuration file with everything commented out?

[2022-09-13 14:29] edsantiago commented on #12175
Still present in main @ 07c0dd1f24b112c0161f61cafdfc1ab0866ebb9e (which includes #15717, the multiple-events-problems PR). We're approaching a year of this, and it seems like a non-issue. The June 27 flake bothers me though.

[2022-09-13 14:29] vrothberg commented on #15774
Thanks for reaching out.  You can find the answer in another issue: https://github.com/containers/podman/issues/15682

[2022-09-13 14:29] #15774 closed

[2022-09-13 14:36] rhatdan commented on #15774
Should we document this on the RELEASE Page, since we are getting requests?

[2022-09-13 14:39] vrothberg commented on #15774
Do you mean the README?  It wouldn't hurt to have it, probably even at both locations.

[2022-09-13 14:40] ntsbtz commented on #15763
Hi @giuseppe thanks for your quick response. Please check the output for below commands:

1. stat -f /home/regusr/.local/share/containers/storage/

  File: "/home/regusr/.local/share/containers/storage/"
    ID: d3ffaa436be39555 Namelen: 255     Type: ext2/ext3
Block size: 4096       Fundamental block size: 4096
Blocks: Total: 8208063    Free: 7545988    Available: 7122654
Inodes: Total: 2097152

[2022-09-13 15:11] dilyanpalauzov commented on #15764
For me an unset variable and a variable with value emtpy string are different things in the general case.

[2022-09-13 15:18] maratsal opened #15780 "podman generates RepoDigest for image even before pushing to repository"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When you run `podman build` it generates RepoDigest value (even before pushing to the repo). After pushing to the repository and pulling image from the repo we get 2 different RepoDigests for the same repositories - one is valid from remote repository and one is wrong - generated locally on b

[2022-09-13 16:12] boaz0 commented on #14965
@cdoern mind if I try my luck and work on it?

[2022-09-13 16:18] boaz0 commented on #15746
can i work on it?
@vrothberg

[2022-09-13 16:48] edsantiago opened #15783 "cannot remove container: ... running or paused containers cannot be removed without force: container state improper"
New flake seen in [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/6076189906305024/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00079):
[code]
Not sure if this is a race in the test (missing `podman wait`?) or in podman-remote itself. Filing for later.

My flake logs shwo three instances, all remote, all aarch64.

### [sys] 79 podman logs - tail test, k8s-file
* fed

[2022-09-13 17:02] rhatdan commented on #14965
@boaz0 Go for it.

[2022-09-13 17:02] rhatdan commented on #15746
GO for it

[2022-09-13 17:22] dustymabe commented on #4056
I just had some success here. This is with `podman-4.2.0-2.fc37.x86_64` on Fedora CoreOS `next` stream version `37.20220910.1.0`.

[code]

[2022-09-13 17:31] edsantiago commented on #15783
Different test, same symptom: [f36-aarch64 again](https://api.cirrus-ci.com/v1/artifact/task/6098254629699584/html/sys-podman-fedora-36-aarch64-root-host.log.html) but not remote:
[code]
This one does not look like a bug in the test, it actually looks like a bug-bug. `podman start container-that-only-runs-true`, followed by `podman rm that-container`, should never fail with "container is running".

[2022-09-13 17:43] rhatdan commented on #15783
@mheon This looks like we are waiting for podman container cleanup to change the state from running to complete?

[2022-09-13 19:18] mheon commented on #15526
#15757 should fix, but testing would be appreciated.

[2022-09-13 19:20] jornfranke opened #15785 "Build container images in a rootless container without privileges inside a Kubernetes cluster - cannot clone: operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I want to build a container image using podman in a rootless non-privileged container inside Kubernetes.  Starting already the command podman login leads to an error:
[code]

The setting corresponds roughly to the "Rootless Podman without the privileged flag" described here https://www.redhat.

[2022-09-13 19:37] giuseppe commented on #15785
the seccomp profile used by the runtime is blocking the `clone(CLONE_NEWUSER)` syscall.  There is nothing we can do from Podman, that syscall is required to create a new user namespace where rootless podman can gain capabilities.

[2022-09-13 19:37] #15785 closed

[2022-09-13 20:35] rhatdan commented on #15313
Put SELinux into permissive mode
$ sudo setenforce 0

Test docker-compose. If it works, then you have an SELinux issue.
If not try to run docker-compose as root

$ sudo docker-compose up

If this works then it is a user namespace issue.

[2022-09-13 20:36] bstrulak opened #15787 "x server"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2022-09-13 22:53] muhzii opened #15789 "Failure to set workdir with overlayfs volumes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman seems to have a problem setting the workdir (via the `-w` flag) in the container when using an overlay volume on kernels that support rootless overlays through overlayfs. I Tried forcing the use of fuse-overlayfs and it didn't result in such issue.

**Steps to reproduce the issue:**

1

[2022-09-14 00:25] kairu97 commented on #15732
Hi @baude , sorry for the late reply. I tried uninstalling and reinstalling it. Now it's outputting a different error.

Error: dial unix /var/folders/n3/zyhygp5x0h9d0s02gtn0b6gc0000gn/T/podman/foobar_ready.sock: connect: no such file or directory

Error: unable to connect to Podman. failed to create sshClient: connection to bastion host (ssh://core@localhost:50162/run/user/501/podman/podman.sock)

[2022-09-14 00:40] cdoern commented on #13461
@rhatdan would this be something good for me to do? or is it low priority

[2022-09-14 00:44] kairu97 commented on #15732
It's still the same error. But here is my containers.conf file. I don't even know why it isn't even working.
![image](https://user-images.githubusercontent.com/63029919/190033862-1d3da325-d585-4b9a-9428-ec6c81caedb2.png)

[2022-09-14 00:57] EQUALIT-CG commented on #15313
Hi @rhatdan

Thank for trying to help me but sadly non of it helped being able to see my media i will add a log below as well as switching back to my default image

also thanks for posting the commend that was very easy to read

[code]

[2022-09-14 02:07] baude commented on #15787
bogus, closing

[2022-09-14 02:07] #15787 closed

[2022-09-14 06:56] ljavorsk commented on #14750
Hi, I've just tested the workaround and I don't think it's working properly.

The issue I have is with the dist-git authentication.

I've tried a simple "git pull" with a verbose output on one of my components and it cannot authenticate via KDC (take a look at the error):
[code]

My Kerberos ticket (I've tried it with two separate kerberos tickets):
1) `09/14/22 06:38:00  09/14/22 16:38:00  krbtgt

[2022-09-14 07:08] ljavorsk commented on #14750
I've tried to add `kdc = idm01.iam.prod.int.ams2.redhat.com` to the REDHAT.COM realm as well.

But then these errors occurred when tried the "git pull" on the component:
1) With `krbtgt/IPA.REDHAT.COM@IPA.REDHAT.COM`:
debug1: Unspecified GSS failure.  Minor code may provide more information
KDC returned error string: GET_LOCAL_TGT
2) With `krbtgt/REDHAT.COM@REDHAT.COM`:
`debug1: Unspecified GSS fa

[2022-09-14 07:42] vrothberg commented on #15746
Thanks, @boaz0 !

[2022-09-14 07:45] vrothberg commented on #15783
Yes, that smells like state-transition issue.

[2022-09-14 09:58] Luap99 commented on #15783
That sounds like a test problem to me. podman start will only start the container process, there is absolutely zero guarantee that it will be finished by time we call podman rm, even if it is just `true`. After the container process finishes conmon needs to launch the podman container cleanup process.

The timing depends on the scheduler, I think the test assumption that this should work is wrong.

[2022-09-14 10:07] xiaoyar commented on #14768
Thank you, @rhatdan , @mheon , @Luap99 .
So, if I am reading correctly, we are going to introduce a new variable, such as `default_subnet6`, in containers.conf, so that the default podman network can support pure IPv4(only `default_subnet` in containers.conf), pure IPv6(only `default_subnet6` in containers.conf), and IPv4/IPv6 dual stack(both `default_subnet` and `default_subnet6` in containers.co

[2022-09-14 10:23] rhatdan commented on #13984
@sanyer Are you still working on this?

[2022-09-14 10:24] rhatdan commented on #13967
@mheon If we created a dummy file of a couple of megabytes when storage is first created, and then removed it first when attempting to do a system reset, do you think that could fix this problem?

[2022-09-14 10:34] gbraad commented on #15206
Have to take a look. Haven't been able to run this recently.

[2022-09-14 10:49] Luap99 commented on #15550
Note I just looked at https://github.com/containers/podman/issues/13342 and tried swagger v0.30.0. The static binary from this release page seems to create a completely incorrect swagger.yaml. There are many fields missing for unknown reasons. When I build the same version from upstream locally it works as expected.

Also could you list the warnings? Every time I used swagger in the past it always

[2022-09-14 11:06] vrothberg commented on #15783
Isn't the test running in the container in the foreground?  There's no `-d`.

[2022-09-14 11:06] giuseppe commented on #15789
opened a PR: https://github.com/containers/podman/pull/15793

[2022-09-14 11:08] #14546 closed

[2022-09-14 11:09] edsantiago commented on #15783
I think the  bug is missing `-a` in `podman start`. I'll open a PR to address that.

[2022-09-14 11:10] Luap99 commented on #15783
And also in the original report you see podman restart and run -d

[2022-09-14 11:12] vrothberg commented on #15783
Aaaah, nice catch, @Luap99!  I somehow thought it was a `run` `rm` sequence.

[2022-09-14 11:21] Luap99 commented on #15550
I only see warnings with that version.
But more importantly this version seems to miss a ton of fields in the final swagger.yaml. If I compile the upstream version it seems to work as expected.

[2022-09-14 11:28] vrothberg commented on #15765
Thanks for reaching out, @benoitf!

@giuseppe, can you take a look?  This looks like a cgroup stats issue at first glance.

[2022-09-14 11:33] vrothberg commented on #15762
Thanks for reaching out, @Romain-Geissler-1A!

@cdoern PTAL when you find time

[2022-09-14 11:35] vrothberg commented on #15705
@skorhone, can you work with the provided information?

[2022-09-14 11:37] vrothberg commented on #15704
Closing as https://github.com/containers/image/pull/1640 has been merged into Podman.

[2022-09-14 11:37] #15704 closed

[2022-09-14 11:37] vrothberg commented on #13369
Closing as https://github.com/containers/image/pull/1640 has been merged into Podman.

[2022-09-14 11:37] #13369 closed

[2022-09-14 11:56] vrothberg commented on #15686
I am going to tackle a couple of issues now. @alexlarsson, please let me know when you progressed porting Quadlet.  Ultimately, I want Quadlet  and `generate systemd` to share the generator.  There are still some community PRs open that touch `pkg/systemd/generate` that I want to wait for.

Cleaning up `pkg/systemd/generate` won't hurt.

[2022-09-14 11:59] alexlarsson commented on #15686
I almost have an initial port of quadlet done, give me a day more.

[2022-09-14 12:30] edsantiago commented on #15321
Here's a super-trivial reproducer:
[code]
If you run the server with `--log-level=info`, you get:
[code]

[2022-09-14 12:31] edsantiago opened #15797 "podman-remote logs: --timestamps is a NOP"
Looks like nobody has actually ever tested `podman logs --timestamps`.
[code]
Expected:
[code]

[2022-09-14 12:51] Luap99 commented on #15797
Since you already have a test in your PR feels free to apply this fix so I don't have to create another PR for one line:
[code]

[2022-09-14 12:52] edsantiago commented on #15797
Oh, nice, thank you! I will do so, but will wait until #15796 merges.

[2022-09-14 12:53] vrothberg opened #15798 "`podman ps` displays container status "healthy" for unhealthy container"
Just caught while preparing for today's demo.

1. clone https://github.com/vrothberg/tutorials
2. run `PODMAN=$PODMAN_BINARY sh healthchecks/01-on-failure-actions.sh`

Cc: @mheon

[2022-09-14 13:03] edsantiago commented on #15797
@Luap99 the timestamps I get now are 1-second resolution. With plain podman, I get sub-second:
[code]
Is this intentional? Is it fixable?

[2022-09-14 13:13] Luap99 commented on #15797
I have no idea. The timestamp is set on the server so it is part of the API, changing this format could be considered breaking?
Also maybe it is required for docker compat?

https://github.com/containers/podman/blob/83c148c4dd9c9ffb1b6a8f8436e86129067e3901/pkg/api/handlers/compat/containers_logs.go#L150
vs
https://github.com/containers/podman/blob/83c148c4dd9c9ffb1b6a8f8436e86129067e3901/libpod/lo

[2022-09-14 13:24] Luap99 commented on #15797
Looks like docker is using the local podman format:
https://github.com/moby/moby/blob/924edb948c2731df3b77697a8fcc85da3f6eef57/pkg/jsonmessage/jsonmessage.go#L17
https://github.com/moby/moby/blob/7b9275c0da707b030e62c96b679a976f31f929d3/api/server/httputils/write_log_stream.go#L51

I guess we could change the remote format to the local to better match docker?

[2022-09-14 13:41] cdoern commented on #15762
yep, I think I know where this is coming from. I will look for a fix today

[2022-09-14 13:46] edsantiago opened #15800 "sdnotify test: podman wait: hangs"
New flake seen in [f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/5520403421462528/html/sys-podman-fedora-36-rootless-host.log.html#t--00305):
[code]
That is, `podman container wait` is hanging. Code: https://github.com/containers/podman/blob/ae20f19351c03398d10ba94a31f21dcf3d86f31c/test/system/260-sdnotify.bats#L342

Looking at flake logs, first logged instance was on Monday:

### [sys]

[2022-09-14 13:59] mheon commented on #13967
Probably, assuming that whatever ate all the storage on the system doesn't eat the space we free first.

[2022-09-14 14:08] mheon commented on #15724
Our recommendation so far has been to not expose the socket and instead to use SSH tunneling to access it; as such I don't think we have implemented cert auth for the socket.

[2022-09-14 14:11] willzhang opened #15801 "run `quay.io/podman/stable:v4.2.0` with error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
run podman in container for cicd environment.
[code]
[code]

so what `quay.io/podman/stable:v4.2.0`  used for?

**Describe the results you received:**

error

**Describe the results you expected:**

run success
**Additional information you deem important (e.g. issue happens only occasionally):

[2022-09-14 14:11] mheon commented on #15801
@rhatdan PTAL

[2022-09-14 15:01] Luap99 commented on #15801
You need to allow the clone syscall in your seccomp profile.

[2022-09-14 15:19] dustymabe opened #15804 "podman remote: build with `--from oci-archive:./image.ociarchive` should copy the image to the remote"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

I left it as a bug, but this could very well be a feature request.

**Description**

Note: I would have opened this issue against buildah, since it is build related, but the relationship with `podman --remote` made me open it here instead. If this should be a `buildah` bug please transfer it to that repo.

It

[2022-09-14 15:38] cevich opened #15806 "RFE: Healthcheck restart policy should support `--requires` containers"
/kind feature

**Description**

When a container which depends on another (via `--requires`) fails it's healthcheck with a *restart* policy, it should honor a single or a chain of `--requires` container restarts as well.

**Steps to reproduce the issue:**

1. Run a container which has a dependency on another.  Either or both should have healthchecks enabled with *restart* policies.

2. Cause a hea

[2022-09-14 16:10] Luap99 commented on #15804
Duplicate of https://github.com/containers/podman/issues/15141?

[2022-09-14 16:20] edsantiago commented on #15367
Here's another one with the `unmarshal` error happening first, then everything going bonkers. [remote ubuntu root](https://api.cirrus-ci.com/v1/artifact/task/5080405429714944/html/sys-remote-ubuntu-2204-root-host.log.html#t--00384)
[code]

[2022-09-14 16:34] edsantiago opened #15807 "podman-remote start --filter: new flake: not finding the right container?"
New flake (no instances at all in my logs). [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/6206305336557568/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00098):
[code]
test source: https://github.com/containers/podman/blob/a3876c2f854b6de58c7259f09eff0ec2b126f007/test/system/045-start.bats#L46-L47

Is this another race (note the `-d` in the container run), or is it

[2022-09-14 17:13] edsantiago commented on #15807
Gonna try https://github.com/containers/podman/pull/15794/files#diff-cc7d327518501ed06d8bfbe82a39fe2bff543ca42609c05140bc937a81ed248b

[2022-09-14 17:17] jsm84 commented on #15651
For anyone else who may have run into this using podman and enforcing GPG signatures on images (on macOS), here's the workaround [sic]:

"you can do `podman machine ssh`, then do `sudo su -`, and edit `/etc/containers/policy.json` to change the entry type for registry.redhat.io from `"type": "signedby"` to `"type": "insecureAcceptAnything"`, delete the trailing comma and the `keyType` and `keyPath

[2022-09-14 17:17] #15651 closed

[2022-09-14 17:33] #15748 closed

[2022-09-14 17:59] edsantiago commented on #15800
All right kids, this one's getting trendy[1]. Here we go again, still [f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/4825809096540160/html/sys-podman-fedora-36-rootless-host.log.html#t--00305).

[1] for purposes of this discussion, "trendy" is not considered a Good Thing.

[2022-09-14 18:28] dustymabe commented on #15804
yes perhaps it is a duplicate of #15141. IIUC making this work wouldn't be too hard (just copying over a file to the remote and making it available), correct? It's just if it's worth it or not to support it.

[2022-09-14 18:28] #15789 closed

[2022-09-14 18:31] edsantiago opened #15808 "healthcheck kill flake"
Today must be new-flake day. Seen just now in [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/6475099321663488/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00276):
[code]
Test source: https://github.com/containers/podman/blob/017d81ddd0e8d228aadb949175c0aae1e4b9d925/test/system/220-healthcheck.bats#L122-L124

No other instances of this in my logs.

[2022-09-14 18:35] rhatdan commented on #13729
@mheon Reminder.

[2022-09-14 18:39] rhatdan commented on #13277
@Luap99 any chance you can work on this?

[2022-09-14 18:40] rhatdan commented on #13342
@Luap99 Is this complete now?

[2022-09-14 18:41] rhatdan commented on #5431
Not likely to happen on CNI, but maybe netavark.

[2022-09-14 18:42] Luap99 commented on #13342
Not until we get a new swagger version into podman, see #15550

[2022-09-14 18:43] rhatdan commented on #13427
I believe this is fixed, please reopen if I am mistaken.

[2022-09-14 18:43] #13427 closed

[2022-09-14 18:43] rhatdan commented on #13539
@cdoern any update?

[2022-09-14 18:44] rhatdan commented on #13461
Sure as long as you keep it simple.

[2022-09-14 18:45] rhatdan commented on #3550
@flouthoc any chance to look at this?

[2022-09-14 18:52] #13784 closed

[2022-09-14 18:58] rhatdan commented on #13967
Well since the most likely case is containers/storage used up the space, we should work fine in that situation.
Now the question is how much space do we need to allocate?

[2022-09-14 19:01] mheon commented on #13967
I would say: make a Libpod database with 100 containers, 100 pods, 200 volumes - all pretty sizable numbers - and find out what the size of it is. Then double that. That should cover typical cases, I think...

[2022-09-14 19:10] rhatdan commented on #15801
Yes disable docker seccomp protections, you an use podmans (Or better yet just use podman.)

[2022-09-14 19:10] #15801 closed

[2022-09-14 19:21] #15804 closed

[2022-09-14 19:22] rhatdan commented on #15804
Please continue the conversation on #15141

[2022-09-14 19:23] rhatdan commented on #15808
@vrothberg PTAL

[2022-09-14 19:33] #15783 closed

[2022-09-14 19:54] rhatdan commented on #4646
@umohnani8 Progress?

[2022-09-14 20:14] rhatdan commented on #15724
Correct we recommend that you rely on ssh connections and tunneling through them.

[2022-09-14 20:14] #15724 closed

[2022-09-14 20:15] goochjj commented on #6160
Because you don't understand what health checks are, or what they're meant to do. :-D

This is old but still relevant: https://developers.redhat.com/blog/2019/04/18/monitoring-container-vitality-and-availability-with-podman

You have actually proven that podman AND the health check are working, because the container status moved to unhealthy. That's all the healthcheck commands on `podman run` do

[2022-09-14 20:20] goochjj commented on #6160
Also, there appears to be active development on a health-on-failure action, so these ideas likely belong elsewhere (and this should be closed and/or linked to those issues)

[2022-09-14 20:34] edsantiago commented on #15797
Fixed in #15794 but the mergebot didn't seem to catch my edit.

[2022-09-14 20:34] #15797 closed

[2022-09-14 20:57] mheon commented on #13729
On it

[2022-09-14 21:44] jakecorrenti commented on #15556
Just want to confirm that the expected output here (based on the documentation of `podman pod logs -l`) is going to be the same as `podman logs -l`?

[2022-09-14 22:55] giuseppe commented on #15765
Docker caps the value returned from the cgroup to the maximum available memory, so I guess we are forced to do the same thing for compatibility, opened a PR: https://github.com/containers/podman/pull/15811

[2022-09-15 05:54] miquecg commented on #14648
@giuseppe do you have any idea of what can be going on? Btw, this is a rootless container.

[2022-09-15 08:00] giuseppe commented on #15763
does it work if you run as root?

Could you please strace podman with `podman unshare strace -o strace.log -f -v -s 1000 podman run ...` and attach the `strace.log` file here?

[2022-09-15 08:55] benoitf commented on #14738
I'm reopening the issue as I can still reproduce the issue on Podman 4.2.1 on macOS

I launch `podman machine start` command in terminal and in another tab `podman machine ls --format=json` and `Starting` field is never set to true I always have `"Starting": false`

[2022-09-15 09:31] yajo commented on #15580
The workaround here is using this file and obeying the comments:

[code]

This way, docker-compose won't try to check the value of the isolate option. But the 1st time you run the file, you should comment those last 2 lines to let docker-compose create the network (or precreate it with `podman network create ...`).

[2022-09-15 09:35] djoreilly opened #15814 "Rootful: v3.4 CNI_DELETE not called on dnsname plugin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**

In v3.4.7 patch https://github.com/containers/podman/commit/31df5b78fcdf3a492ef063eb1b98a3b4715e5969 does not seem to work.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Entry for web1 remains in /run/user/0/containers/cni/dnsname/net1/addnhosts after conta

[2022-09-15 09:50] rhatdan commented on #15556
Not sure what the question is, `podman pod logs -l` should show the logs of the last created pod, same as if  you specified
podman pod logs PODID

[2022-09-15 09:50] Luap99 commented on #15814
We no longer support v3.4.7 upstream, also it is expected that the commit you link does not work in v3.X since this is part of the new v4.0 network backend code which is unused on v3.
Please use v4 or as workaround unset XDG_RUNTIME_DIR in your root session.

[2022-09-15 09:50] #15814 closed

[2022-09-15 09:52] vrothberg commented on #15808
My best guess is that it's on aarch64 only which, to the best of recollection, has a number of unresolved signal issues.

[2022-09-15 09:56] vrothberg commented on #6160
Have a look at the following PR: https://github.com/containers/podman/pull/15687

This is how envision healthchecks to be used in conjunction with systemd.

[2022-09-15 10:12] #15765 closed

[2022-09-15 10:30] rhatdan commented on #14738
@ashley-cui PTAL

[2022-09-15 11:15] vrothberg commented on #15800
I'll take a look. Thanks, Ed!

[2022-09-15 12:25] rhatdan commented on #15556
Yes, The use case where this would differ would be if the Pod is older then the latest container and if the Pod contained more then one container.

If latest pod contained only latest container, then they would be the same.

[2022-09-15 13:03] ntsbtz commented on #15763
Yes it works fine as root. I cannot run with crun .

Note: In first attempt once i setup the rootless environment and try to run it is throwing the above mention error. But after that if i logout from rootless user and chown the /home/rootlessuser with rootlessuser. Login back to rootlessuser it will run successfully .

Please find the attached strace.log file .

[strace.log](https://github.com/co

[2022-09-15 13:45] na0x2c6 opened #15818 "Using podman-machine, no output from STDOUT when STDIN is used"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use podman on macOS with podman-machine.
When I pipe something to the STDIN of a process created by `podman run -i` or `podman exec -i` or `docker-compose run -T`, the process appears to not output anything.

**Steps to reproduce the issue:**
None of the following commands will output anyth

[2022-09-15 14:01] usernameisnull opened #15819 "Just curious: has anyone done a build performance comparison between podman and docker?"
Just curious: has anyone done a build performance comparison between podman and docker?
I didn't find any relevant information

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem

[2022-09-15 14:15] flouthoc commented on #15819
Hi @usernameisnull , Could please elaborate more, did you mean `podman build` vs `docker build` benchmarking ?

[2022-09-15 14:36] vrothberg commented on #15686
Thanks, Alex!  I will be traveling next week.  Let's put our heads together the following week with @rhatdan et al.

[2022-09-15 15:23] goochjj commented on #15686
Moving quadlet towards golang, and making some of these options configurable through Go templates would be pretty cool.

[2022-09-15 15:36] usernameisnull commented on #15819
I think I have the answer: https://github.com/containers/podman/issues/13226

[2022-09-15 15:38] usernameisnull commented on #15819
yes.
about ~15% slower than docker, I got it from #13226

[2022-09-15 15:44] flouthoc commented on #15819
I think benchmarking needs to happen on different parameters like `rootfull vs rootless` , `native overlay vs fuse-overlay` and maybe documented in the repo itself.

[2022-09-15 15:44] flouthoc commented on #15819
@usernameisnull Just curious are you hitting any bottlenecks while performing builds ?

[2022-09-15 15:48] usernameisnull commented on #15819
No, It's just that we are doing technical selection, one of the thing is the build speed

[2022-09-15 15:48] usernameisnull commented on #15819
I know there are many influencing factors, we can make a comparison under the best configuration of the two, or under the general configuration

[2022-09-15 15:49] usernameisnull commented on #15819
I know there are many influencing factors, we can make a comparison under the best configuration of the two, or under the general configuration

[2022-09-15 16:58] eriksjolund opened #15822 "podman-tag.1.html contains "<title>NAME &#8212; Podman documentation</title>""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The title of the web page

 https://docs.podman.io/en/latest/markdown/podman-tag.1.html

has changed since 30 July 2022. The word `podman-tag` has been replaced with `NAME`.
I would guess that this is unintentional.

Currently it looks like this
[code]

Wayback Machine has a version of the sa

[2022-09-15 19:01] #15526 closed

[2022-09-15 19:42] cdoern commented on #15762
turns out this is more complicated than I thought, and needs to be brought in at the same time as the in flight ssh PRs... Will keep this issue updated as I work

[2022-09-15 19:45] edsantiago commented on #15822
@baude, @TomSweeneyRedHat, @Luap99 PTAL. I wonder if this is connected to #15621? Does anyone know a way to simulate the `readthedocs` build environment locally?

[2022-09-15 19:52] edsantiago commented on #15822
@Luap99 I've submitted #15825 as a possible fix. Completely untested, because I don't know how to emulate the readthedocs build environment.

[2022-09-15 19:55] Luap99 commented on #15822
You should be able to build it locally with sphinx: https://github.com/containers/podman/blob/main/docs/README.md#local-testing
I think the deps might be out of date, https://github.com/containers/podman/blob/main/docs/requirements.txt should contain the actual pip deps.

[2022-09-15 20:36] cdoern commented on #15762
@Romain-Geissler-1A, fixed some scp bugs that currently exist on main. can you retry this with https://github.com/containers/podman/pull/15471 ? I cannot reproduce locally using this patch

[2022-09-15 22:15] jfrsantos opened #15828 "Create image compat endpoint does not return 404"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The create image compatibility endpoint does not behave the same as the docker engine endpoint or the documentation https://docs.podman.io/en/latest/_static/api.html#tag/images-(compat)

When provided with an image that does not exist on the query parameter `fromImage` the endpoint returns a

[2022-09-15 23:38] mhdonnelly opened #15830 "RFE: Expose docker-specific network create options via the CLI"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I am attempting to run an installer script for a product that targets docker but use podman as the container engine. During the install, the script attempts to create a network. When I run the network create command from the script on a host with docker, a bridge gets created that is visi

[2022-09-16 00:10] sanyer commented on #13984
Hey @rhatdan , yes! Coming back to it after a break.

[2022-09-16 05:14] willzhang commented on #15801
how can i enable docker seccomp protections, i can not understand what is  seccomp, i use ubuntu 22.04 server, and this way resolved my problems.

[code]

[2022-09-16 05:30] anjannath commented on #15542
We try to add `/opt/podman/bin` to `PATH` in [`postinstall` script](https://github.com/containers/podman/blob/main/contrib/pkginstaller/scripts/postinstall)

@deeplow can you please check if a line `PATH=/opt/podman/bin:$PATH` was added at the end of either the `~/.zshevn` or `~/.zshrc` file?

_maybe we need to add to the `~/.zprofile` instead?_

[2022-09-16 06:41] andrew-kennedy commented on #12965
I'm really missing this currently, as now we have official docs and blog posts explaining how to go from docker-compose services -> kubernetes yaml files -> systemd running via `podman-kube@$(systemd-escape some.yml).service` and yet there is no way to get those running pods to communicate easily if the original scenario was one app/service per `docker-compose.yml` file (and thus one pod/service p

[2022-09-16 07:41] #15822 closed

[2022-09-16 08:32] nolange commented on #13396
Should'nt these config files be ignored when podman is using netavark? I dont use the cni plugins, but get that warning anyway as `/etc/cni/net.d/87-podman-bridge.conflist`is installed with podman 4.2.0 on debian.

[2022-09-16 08:53] jkroon81 commented on #14786
I'm using podman v4.2.0, latest in Fedora 36, but I am still seeing that gitk thinks that files have changed. The folder I mount bind into the container does contain relative symlinks that point to other folders inside the top directory I am mounting. Does this somehow trick the optimization in some way, making podman still relabel files unnecessarily ?

[2022-09-16 09:06] benoitf opened #15831 "After using macOS pkg installer `/opt/podman/bin` is not available in my USER path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the macOS installer on a fresh macOS installation, I run the install flow, it's successfully completing but at the end, when opening a terminal I don't have `podman` being available

Default shell is zsh (fresh install)

I think the issue is because we check if we have some .rc/.env fil

[2022-09-16 09:08] cfergeau commented on #15831
[code]
should do the trick  (see `man path_helper`) and you can remove most of the postinstall script. Since the installer could create `/opt/podman/bin`, I assume it should be able to write to `/etc/paths.d/podman` as well.

[2022-09-16 09:10] praveenkumar commented on #15831
Yes from installer you can able to wright `/etc/paths.d/podman` locations.

[2022-09-16 09:14] ashleysommer opened #15832 "Compat API endpoint for "Inspect Container" response "Image" field should contain ImageID."
/kind bug

**Description**

The compat API endpoint to inspect container `/v1.40/containers/{container_name}/json` response has a filed named "Image", on Docker it contains the image hash, but on Podman, it contains the image name. This causes one or more operations in Docker-PY module to fail.

_Note_, the compat container _list_ endpoint `/v1.40/containers/json` _does_ include the image ID in fi

[2022-09-16 09:28] Luap99 commented on #15830
Given that we support this already in the API and we try to be compatible on the cli as well I think this is a good idea. We should move this into the network backend in c/common.

[2022-09-16 09:29] boaz0 commented on #15828
I think it returns 200 because it hijacked by web socket that streams the process of pulling and creating the container

[2022-09-16 09:38] vrothberg commented on #15832
Thank you for reaching out, @ashleysommer!

I can reproduce using the current HEAD.  @boaz0, interested in tackling the bug?

[2022-09-16 09:57] ashleysommer commented on #15832
@vrothberg
I've just realized I made a mistake. The API response type for Container Inspect for the Docker API v1.40 does not include an "ImageID" field.
See the definition:
https://github.com/moby/moby/blob/master/api/types/types.go#L449-L481

After going through the relevant Podman code and Docker code, I see where the misunderstanding lies.

This is where Docker populates the `Image` field, it

[2022-09-16 10:25] rhatdan commented on #14786
Could you give an example podman command where this is happening, and show the volume you are mounting?

[2022-09-16 10:29] rhatdan commented on #15830
I agree.

[2022-09-16 10:47] rhatdan commented on #15819
The comparison should be docker versus rootful buildah
Rootless Buildah is better for security but potentially requires fuse-overlay which will slow it down on older kernels.

[2022-09-16 11:00] rhatdan commented on #15344
@n1hility PTAL

[2022-09-16 11:01] rhatdan commented on #15338
@n1hility Any chance to look at this?

[2022-09-16 11:02] rhatdan commented on #15292
Since syncid got merged, I am closing this issue.

[2022-09-16 11:02] #15292 closed

[2022-09-16 11:03] rhatdan commented on #15190
Any update on this?

[2022-09-16 11:04] rhatdan commented on #13984
Great

[2022-09-16 11:07] rhatdan commented on #15801
YOu could  have done

docker run -it --rm --security-opt seccomp:unconfined quay.io/podman/stable:v4.2.0 sh

Which would only disable seccomp for docker.

or

docker run -it --rm --security-opt seccomp:/ust/share/containers/seccomp.json quay.io/podman/stable:v4.2.0 sh

Which tells docker to use podman's seccomp.json file if podman is installed.  But if you have podman installed you can do

podman

[2022-09-16 12:29] #15213 closed

[2022-09-16 12:40] benoitf opened #15834 "podman machine not starting on macOS ventura 13.0 beta7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

FYI, I tried to launch Podman on macOS Ventura beta7

But podman machine is not starting due to an error with QEMU
Error: HV_ERROR

it seems to be related to the acceleration flag used.
Removing that flag from the qemu configuration file (removing also the `cpu host` parameter) allows to boot

[2022-09-16 13:43] dtmdl opened #15836 "Fix in #15242 gets confused by environment variables containing '='"
See #15415 / #15415.

@cdoern Thanks for this, but it seems to get confused by environment variables with '=' in the value:

[code]

I'm guessing this [string.Split(entry, "=")](https://github.com/containers/podman/pull/15415/commits/53369aaa1575caa652461d3671713577fa0ac291#diff-a3bf936f915d0a9eb0f45ae46355a8ade507b2516c37bf9c9f7d1ae8be55b73eR359) should be [string.SplitN(entry, "=", 2)](https://g

[2022-09-16 14:00] lsm5 commented on #15347
it's mostly @cdoern and @baude working on this.

[2022-09-16 14:00] rhatdan commented on #14514
@gbraad @afbjorklund Any update on this issue?

[2022-09-16 14:02] rhatdan commented on #14390
@Luap99 Any chance you can work on this?

[2022-09-16 14:02] afbjorklund commented on #14514
No updates from me, as far as I know it will automatically reboot to receive the updates - and this is by (CoreOS) design

[2022-09-16 14:35] gregoire-mullvad opened #15838 "Allow configuring the gpg program used for signing & verification"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to sign containers using podman, but using a specific gpg binary to do the actual signing.  Something similar to git's `gpg.program` config.  (More specifically, I would like to use Qubes OS [Split GPG setup](https://www.qubes-os.org/doc/split-gpg/).)

I dug around

[2022-09-16 14:41] mheon commented on #15838
@mtrmac PTAL

[2022-09-16 14:50] mheon commented on #15819
(Not to mention slirp4netns versus native kernel networking - it your build needs to download anything of significant size, root will have a significant advantage)

I have an open card to do a performance blog on Podman vs Docker, I should try and get that done next week...

[2022-09-16 14:52] mheon commented on #15832
I think this might be fixed already in main.

[2022-09-16 14:55] mheon commented on #13396
Yeah, they should be ignored. Can you file a bug about this?

[2022-09-16 15:17] rhatdan commented on #15838
I would have no problem with it.

[2022-09-16 15:41] mtrmac commented on #15838
I’m fine with that in principle.

Just noting that it would be a fairly extensive change in c/image, most of the policy code is not currently carrying around a `types.SystemContext`. (And at this point I’m not sure if we want to do that, or design an start using some very different option mechanism.)

[2022-09-16 19:19] fischer-felix commented on #3234
Hi, I have moved the storage path for rootless podman by setting `rootless_storage_path = "/shared/ol9-arm/podman-storage"`, however now the SELinux labels are incorrect.

I have tried running
`sudo semanage fcontext -a -e ~/.local/share/containers /shared/ol9-arm/podman-storage`
and then
`sudo restorecon -R -vv /shared/ol9-arm/podman-storage`
but this did not work.

Is it even possible to have th

[2022-09-16 19:46] jkroon81 commented on #14786
I pushed a repo here: https://github.com/jkroon81/podman-issue-14786

You can clone it, then do:
make
stat dir/foobar
make
stat dir/foobar

and you will see that the "Change" timestamp is updated after every "make".

[2022-09-16 20:09] jakecorrenti commented on #15556
Looks to me like the `ignore` argument to this function is most likely the issue. Changing it to false makes `pod logs -l` work but not `podman logs -l` (just prints blank). Could I get some clarification on the what this argument is for? https://github.com/containers/podman/blob/8f76bc2d739657cf4394cb4d08f314011ba08dab/pkg/domain/infra/tunnel/helpers.go#L15-L25

[2022-09-16 20:11] jkroon81 commented on #14786
I understand that I can handle this outside of podman, by using an approach like I've done in the branch "optimize-relabel-outside-podman" in the "podman-issue-14786" repo, but if possible I would prefer if podman could just handle it automatically.

[2022-09-16 23:31] ashleysommer commented on #15832
Hmm, you're right.
https://github.com/containers/podman/commit/6411f57e789ecef322c120d34ad634495e54d257

I checked for recent commits in that file because I thought it seems like something that might've been changed (behaviour in code is different to behaviour I saw in the release), but when I checked yesterday I didn't see anything recent around that area, and I even checked git blame on that lin

[2022-09-16 23:31] #15832 closed

[2022-09-17 03:53] kairu97 commented on #15732
Hi @baude , this is the guide that I found with similar error. https://www.iamgini.com/podman . But even if I unset it, it still does not work.

[2022-09-17 07:53] fpoirotte commented on #12965
FWIU, new networks can be declared using the `NetworkAttachmentDefinition` resource kind ([syntax](https://docs.openshift.com/container-platform/4.11//networking/multiple_networks/configuring-additional-network.html#configuring-additional-network_configuration-additional-network-yaml) / [example](https://docs.openshift.com/container-platform/4.11//networking/multiple_networks/configuring-additiona

[2022-09-17 10:50] rhatdan commented on #3234
What does `matchpathcon /shared/ol9-arm/podman-storage` show?

What AVCs are you seeing?

[2022-09-17 10:54] #15836 closed

[2022-09-17 11:26] rhatdan commented on #15349
@lsm5 @cevich any progress on this?

[2022-09-17 11:27] rhatdan commented on #14993
@adhishmeena Do you have a link to the PR?  Is this still in progress?

[2022-09-17 11:49] adhishmeena commented on #14993
https://github.com/containers/podman/pull/15353#issue-1341152147

[2022-09-17 11:49] rhatdan commented on #12965
@umohnani8 @haircommander @saschagrunert WDYT? ^^

[2022-09-17 11:51] adhishmeena commented on #14993
Can you please share doc for local setup of podman?

[2022-09-17 12:10] rhatdan commented on #15819
In rootless mode, you could use --network=host during builds, which would eliminate that issue.

[2022-09-17 13:23] fischer-felix commented on #3234
Everything in /shared/ol9-arm/podman-storage is labeled `unconfined_u:object_r:data_home_t:s0` (including the actual directory)

The AVC I get when running `sudo ausearch -m avc -ts recent` is
[code]

[2022-09-17 14:57] nolange opened #15845 "Podman warns about issues with CNI, even though CNI isnt active"
/kind bug

**Description**

Podman reports warning in regards to CNI, even if only Netavark is used

**Steps to reproduce the issue:**

1. Install podman and netavark, dont install / remove all CNI tools

2. run `podman network ls` (as root)

**Describe the results you received:**

I get a warning about CNI, even though I dont use it:

[code]

**Describe the results you expected:**

No warning

**

[2022-09-17 16:06] faandg opened #15847 "Cannot remove pod after force remove of container within it"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. create pod with container in it (used podman play kube if that matters)

2. force remove (running) container using podman rm -f

3. trying to remove pod fails with lock reference to container (even with force)

**Describe the results you received:**
`podman pod ls`
POD ID        NAME

[2022-09-17 19:28] zackorndorff commented on #14142
Ran into this issue on an M1 Mac today. It looks like the qemu fix mentioned above has now been released; `brew update` followed by `brew upgrade qemu` got me the fixed qemu and now I can run Go binaries without issue.

[2022-09-17 19:46] fischer-felix commented on #3234
Never mind, I was just stupid when setting fcontext Equivalance.

Turns out I set `~/.local/share/containers = /shared/ol9-arm/podman-storage`

This meant that when running `sudo restorecon -R -F /shared/ol9-arm/podman-storage/` the descending into the directories did not work correctly and everything was labelled `unconfined_u:object_r:data_home_t:s0`, when in actuality `overlay`, `overlay-images

[2022-09-17 23:46] WhyNotHugo opened #15848 "podman + docker-compose: DNS does not resolve other containers"
/kind bug

**Description**

When using podman with docker-compose, containers don't resolve each others DNS name.

**Steps to reproduce the issue:**

1. Use this docker-compose file:

[code]

2. Run `docker-compose up postgres`.

3. Run` docker-compose up another` in a separate terminal.

**Describe the results you received:**

    nc: getaddrinfo: Name does not resolve

**Describe the results you

[2022-09-18 04:42] Taymindis opened #15849 "container status not refresh"
Linux or Mac version

**Steps to reproduce the issue:**

1. podman run --name abc -d busybox

2. podman rm -f abc

3. podman run --name abc -d busybox

Version:      4.2.0

[code]

It always showing the first podman machine started time.

[2022-09-18 06:29] aoxiangtianji opened #15850 "Unable to use IPv6 on rootless container"
My English is not good, so I used translation software.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

First create an ipv6 network:
`podman network create --ipv6 test`
And create a rootless container use this network:
`podman run -it --rm --network test archlinux`
But this container cannot connect to a ipv6 webserver.
I'm sure the h

[2022-09-18 09:54] kairu97 commented on #15732
This remains unresolved @baude . I decided to do a clean re-install of MacOS since I also have Docker Desktop which might have interfered. After doing a clean reinstall it's now working nice. Thanks for the help!

[2022-09-18 13:39] arixmkii opened #15852 "Use dedicated configured path for QEMU and gvproxy vlan socket"
Currently gvproxy uses QMP socket path to connect to QEMU vlan. Code responsible is here https://github.com/containers/podman/blob/main/pkg/machine/qemu/machine.go#L1227

The process looks like
1. podman binary starts gvproxy listening on this socket
2. podman binary connects to this socket and preserves FD
3. podman binary removes this socket (file) to allow QEMU to use this path
4. podman binary

[2022-09-18 13:47] arixmkii commented on #13006
Updated version could be found here https://github.com/arixmkii/podman/commit/6778b034fc4c7f59bc121e85a4078d59a4c00472

Changes:
* resolved issue with kernel panicking during boot by adding `monitor=off` to cpu options
* using multiple forward by gvproxy for Podman Desktop compatibility

Published as zip packaged test bundle under https://github.com/arixmkii/qcw/releases/tag/v0.0.4-alpha

List of

[2022-09-18 14:36] eriksjolund opened #15853 "Interupting "podman run" while the image is pulled, leads to the error "Error: checking platform of image ... inspecting image: layer not known" the next time "podman run" is run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Interupting `podman run --rm -ti docker.io/library/nginx /bin/true` with SIGINT while the image is being pulled, leads to the error

[code]

the next time `podman run --rm -ti docker.io/library/nginx /bin/true` is run.

I've seen the error happening on the following systems:

operating system

[2022-09-18 17:08] joanbm commented on #14859
(Posting for discoverability) With Podman 5.2.1 and Docker-Compose 2.11.0, pressing CTRL+C on `docker-compose up` caused the container to remain in "Stopped" state and further CTRL+C presses just print "no container to kill", 389a4a6cc6ce560c805338e1af6d4f78df57bdb9 fixes it

[2022-09-19 05:07] anjannath commented on #15834
Could be related with the specific [`Qemu`](https://github.com/containers/podman-machine-qemu) build the pkginstaller uses, i think worth trying to start a VM directly using the `qemu-system` binary just to make sure

[2022-09-19 06:48] SuitespaceDev commented on #7816
Though this is closed; I'll note that someone has managed to run rootless using a namespace from a pod created with --network=none to get around permission issues in subsequent pods

https://github.com/jcarrano/wg-podman

[2022-09-19 07:16] giuseppe commented on #15849
I cannot reproduce here:

[code]

Can you show the output for that same commands?

[2022-09-19 07:39] caizixian commented on #11572
@Luap99 I'm still seeing the issue on Podman 3.4.4 shipped with Ubuntu 22.04
[code]

I'm able to workaround the issue by setting `events_logger = "file"` in containers.conf.

[2022-09-19 07:51] Taymindis commented on #15849
<img width="715" alt="image" src="https://user-images.githubusercontent.com/14217761/190972388-39c28e0b-c073-4c83-b430-1f56981d3837.png">

[2022-09-19 10:07] piotr-sk opened #15855 "play kube liveness HTTP probe does not use defaults"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

TLDR: when performing `podman play kube` with a pod containing a livenessProbe using HTTP get, the probe is not working as expected: the path is constructed without the Kubernetes defaults and if the URL is wrong the ExitCode is still 0.

The [command construction](https://github.com/containe

[2022-09-19 10:47] rhatdan commented on #15852
@baude @ashley-cui PTAL

[2022-09-19 10:52] rhatdan commented on #14859
@joanbm I changed podman 5.2.1 to podman 4.2.1 Unless your from the future, I think this is what you meant :^)

[2022-09-19 11:27] rhatdan commented on #15855
@umohnani8 PTAL
Yes please open a PR to fix.

[2022-09-19 12:16] rhatdan commented on #15686
That's the goal.  We want to formalize the relationship and start encouraging people to use quadlet for running systemd based OCI containers.

[2022-09-19 12:24] jansu76 commented on #15111
Any progress with this? It is preventing me from running multiple replicas on a docker-compose stack: https://stackoverflow.com/questions/73773262/using-podman-with-docker-compose-how-to-get-multiple-replicas-of-a-service

(or, is there any workaround to this issue)

[2022-09-19 12:53] fabian-marquardt commented on #15848
I recently had the same issue, and after some confusion I found the root cause of the problem when I manually tried to attach a container to the network:
[code]
The problem was that Arch Linux/Manjaro does not have a forced dependency to install the `aardvark-dns` package if you install podman. Manually executing `sudo pacman -S aardvark-dns` fixed the problem for me.

[2022-09-19 13:20] mheon commented on #15853
@vrothberg PTAL

[2022-09-19 13:31] mheon commented on #15849
Are we sure it isn't the time on the machine that's incorrect, here? Podman just sends the timestamps for when the container was started across the network, not the actual "41 minutes ago" text, so if the server's clock is 41 minutes slow, this result makes sense, and we have known issues with clock drift on `podman machine` VMs

[2022-09-19 13:34] mheon commented on #15850
@Luap99 PTAL - probably a slirp4netns options issue?

[2022-09-19 13:36] mheon commented on #15847
Dupe of https://github.com/containers/podman/issues/15526, closing

[2022-09-19 13:36] #15847 closed

[2022-09-19 13:38] mikewwwperry opened #15858 "podman system reset --force destroy machine"
https://github.com/containers/podman/blob/541655f31a5301ea042d04782d1635ad51e9f434/pkg/machine/qemu/machine.go#L1686

Podman completely broke this system. I was following along with some guides in this projects documents. When it said to start over with a reset --force, I did so. Afterwards the entire system was broken. I'm pretty certain one of the calls in the above machine.go essentially did an

[2022-09-19 13:43] Luap99 commented on #15850
We need to enable the slirp4netns ipv6 option in containers.conf (which should be already on by default)
@aoxiangtianji Please run `ps uww | grep slirp` and check if the --enable-ipv6 option is set.

I think there are some routing issues with the ipv6 slirp4netns support, the output from, `podman unshare --rootless-netns ip -6 r` would also help.

[2022-09-19 13:48] Luap99 commented on #11572
This version is no longer supported by us upstream, please try with at least v4.2 and see if this fixes your problem. If not file a new bug with a reproducer.

[2022-09-19 13:49] Luap99 commented on #15858
@BitBistro-code Please provide the information requested in the issue template. What version is this? How did you install podman?

[2022-09-19 13:55] goochjj commented on #15686
I've been considering this more and I'm not sure I feel about it.

I've done a lot of tricky things with systemD units - including dependencies, after/before stuff, depending on volume creation or other volume mounts, adding ExecStartPre=/usr/bin/systemctl is-active somedependency lines, etc.  I'm not sure the format of /etc/containers/systemd/ will provide enough flexibility.

It seems to me like

[2022-09-19 14:11] alexlarsson commented on #15686
I'm not sure what you mean by "a new declarative language". The .container files are just systemd unit files. Only the "container" group is handled specially, everything else is essentially passed as is, which means you can use any complex systemd unit features you want, like dependencies, etc. All the features you mention can just be added as-is to the .container files.

I'm not sure what your is

[2022-09-19 14:19] goochjj commented on #15686
Let me rephrase, I've only looked at it for about an hour :-D. Had to compile the C version for Flatcar and get it arranged, figure out how to run meson in a container, then I had to move it from /usr/local/etc (where it defaulted) to /etc, and then I looked at the generated file. So I didn't spend a whole lot of time.

w.r.t install section, some of my stuff is setup as

myservice.service (runs /

[2022-09-19 14:34] Bhawyya commented on #12715
I got the same error - which is not happening for other users following the same steps/command -

![image](https://user-images.githubusercontent.com/71708460/191042858-3bd37447-1c8d-4a20-b3b4-b5d989a5b5db.png)

[2022-09-19 14:47] baude commented on #15858
there is no `reset`, did you mean `rm`?

[2022-09-19 14:52] baude commented on #15858
actually after re-reading, none of your commands are machine commands.  is it correct you are just running `system reset`?

[2022-09-19 15:47] bittracker commented on #15382
@n1hility Thanks for taking on this issue. Please let me know if you need any further information.

[2022-09-19 16:25] edsantiago commented on #15800
Seen as `root` now too

### [sys] 305 sdnotify : play kube - with policies
* fedora-36 : sys podman fedora-36 root host
  * PR #15794
    * [09-14 14:10](https://api.cirrus-ci.com/v1/artifact/task/5067724438110208/html/sys-podman-fedora-36-root-host.log.html#t--00305)
* fedora-36 : sys podman fedora-36 rootless host
  * PR #15844
    * [09-17 08:32](https://api.cirrus-ci.com/v1/artifact/task/63135

[2022-09-19 17:13] rhatdan commented on #12811
A patch supporting podman context was just merged.

[2022-09-19 17:13] #12811 closed

[2022-09-19 18:42] Clockwork-Muse opened #15861 "Consider publishing a podman-from-podman feature for devcontainers."
<!--
/kind feature

**Description**

It would be useful if there were a podman-from-podman (and possibly podman-in-podman) feature for devcontainers.

In the [propsed devcontainers feature spec](https://github.com/devcontainers/features), reflective of the capability in vscode, there are docker-from-docker and docker-in-docker features.  Part of this [is a spec to allow other to publish features](

[2022-09-19 19:20] cevich commented on #15349
Yes, I'm trying to build a fresh set of VM images then will push to my podman PR.  There are some golang 1.19 related issues I could use help fixing, otherwise I can probably figure them out or will ask for more specific help.

[2022-09-19 20:27] faandg commented on #15847
I did actually skim the dupe and the lack of version info and HTTP API label threw me off track.
Thanks a lot for putting me back on it, `podman system renumber` fixed the broken state for me as well!

[2022-09-19 20:39] rhatdan commented on #15861
Would love it if a community member took this on.

[2022-09-19 20:58] hhellbusch commented on #15321
seeing the same issue w/ a customer. the end-user is running on an M1 Macbook via podman machine.

[2022-09-19 20:59] hhellbusch commented on #15321
saw a similar report for this at https://github.com/containers/podman/issues/14517

[2022-09-19 21:26] BitBistro-code commented on #15858
Sorry yes it was system reset. I updated the title. It was compiled from source yesterday.

[2022-09-19 21:40] Clockwork-Muse opened #15863 "Cannot use userns=keep-id together with nvidia-container-toolkit on rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempting to keep the external user id with a rootless container while using the nvidia-container-toolkit fails.

**Steps to reproduce the issue:**

1. [Install the nvidia-container-toolkit](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html#step-1-install-p

[2022-09-19 22:03] kenyee opened #15864 "Dockerfile with squash: true complains that docker daemon needs experimental flags enabled"
/kind bug

**Description**

Dockerfile with the squash: true parameter:
[code]

fails with
[code]

**Steps to reproduce the issue:**

1. create Dockerfile with squash parameter set to true

2. try building the docker file (the header to this bug report mentions using buildah but the link is invalid)

3. see error

**Describe the results you received:**
fails with
[code]

**Describe the results you

[2022-09-20 03:47] agilmore2 opened #15865 "Rootful Podman for Windows fails to be rootful"
/kind bug

**Description**

Podman install on windows does not run dnf install step in a Dockerfile successfully, even when run as root.

**Describe the results you expected:**

dnf install to work as part of a Dockerfile when building a new container image. I ran into a similar problem just running wsl ubi8-buildah where I couldn't run rootless podman because missing cgroups2 and rootful podman h

[2022-09-20 06:48] afbjorklund commented on #15819
Make sure to also compare against `docker buildx` just as you want to compare with `buildah` directly ?

Using `docker build` and `podman build` is good for compatibility but not always for performance...

[2022-09-20 08:10] deeplow commented on #15542
I have installed the `v4.2.1` it was added to `.bash_profile`. I haven't configured any shell on mac, so I think bash is the default one. I would say this is solved.

[2022-09-20 08:10] #15542 closed

[2022-09-20 09:58] wzzrd commented on #15456
I'm not 100% sure, but I don't think the proposed patch was ever merged, was it? Maybe it was combined with another change or renamed?

[2022-09-20 10:16] vrothberg commented on #15863
Thanks for reaching out, @Clockwork-Muse!

By the description, it sounds more like an issue of the hook.  Does the hook leave any logs in the journal indicate why it failed?  Probably, the hook wants to run as root and has  a `uid ==0` check.

[2022-09-20 10:36] vrothberg commented on #15800
Thanks, Ed! https://github.com/containers/podman/pull/15820 should fix it.

[2022-09-20 10:38] vrothberg commented on #15853
Thanks for reaching out, @eriksjolund!  I'll take a look.

[2022-09-20 11:10] aoxiangtianji commented on #15850
Yes, the option is already set:
`/usr/bin/slirp4netns --disable-host-loopback --mtu=65520 --enable-sandbox --enable-seccomp --enable-ipv6 -c -r 3 --netns-type=path /run/user/1000/netns/rootless-netns-8812468e384cd9f4d2f1 tap0`

And the `podman unshare --rootless-netns ip -6 r` outputs this:
[code]

This is the "test" network configuration:
[code]

[2022-09-20 12:33] idleroamer opened #15869 "podman save cli doesn't support --signature-policy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

It is not possible to use custom signature-policy files with `podman save` in the similar manner to other cli commands like `podman load`, `podman pull`, ....
This effectively means without a default `/etc/containers/policy.json` the `podman save` fails.

[code]

**Steps to reproduce the issue:**

1. Remove `

[2022-09-20 12:53] mheon commented on #15865
@n1hility Have you seen anything like this?

[2022-09-20 12:58] mheon commented on #15864
That doesn't look like a Podman error message. Are you sure Podman is in use, and not Docker?

[2022-09-20 13:07] kenyee commented on #15864
"docker version" didn't show any running server until podman and minikube were started.
I did look through the podman and buildah repos for that error msg and couldn't find it so I'm a bit baffled as well.

[2022-09-20 13:11] agilmore2 commented on #15865
Note that editing things like /etc/resolv.conf in the podman default
machine still requires root/sudo and it works.

On Tue, Sep 20, 2022, 06:53 Matt Heon ***@***.***> wrote:

[2022-09-20 14:05] n1hility commented on #15865
@agilmore2 this isn't related to the Windows env but rather the Dockerfile for ruby27 sets the user to 1001 (see line 60)
https://catalog.redhat.com/software/containers/ubi8/ruby-27/5f521b90acb94fdd904e98d7?container-tabs=dockerfile

You can overide with USER 0 to install additional packages and set it back to 1001, or you could modify and creat your own ruby27 image.

// cc @mheon

[2022-09-20 14:06] #15865 closed

[2022-09-20 14:37] agilmore2 commented on #15865
Thanks! I figured it was something basic, but hadn't figured that. I appreciate it!

[2022-09-20 15:11] Luap99 commented on #15845
This is expected and not a bug.

On the first run we have to check if podman was used previously in which case we default to cni. To do so we will check for cni configs and possible detect errors and warn about that.
Assuming you did not create the cni config and it was shipped by your distro I would say this is packing bug. At least since podman v3.2 there shouldn't be a default config shipped si

[2022-09-20 18:00] boaz0 commented on #15374
@benoitf is it OK if the pod name will be shown in `annotations`? Unfortunately, `annotations` are not available through `compat API`.

[2022-09-20 18:05] benoitf commented on #15374
for me it's ok as I'm using the LibPod API, I was just thinking for people using pure "Docker tools" inspecting containers on podman. They won't have more details on containers that are part of a pod

[2022-09-20 18:10] afbjorklund commented on #15864
If you run minikube with `--driver=podman`, it will run the default runtime (docker or containerd) in a podman container.

If you want to use "podman" for the kubernetes cluster, then you also need to add `--container-runtime=cri-o`

But it does not actively change your docker configuration, unless you also run something like `minikube docker-env` ?

In this particular issue, I think that "docker

[2022-09-20 18:54] tbeauvais-imagine commented on #13482
This does not work for me. I still constantly see this where others on my team do not.

`
Handling connection for 7687
Handling connection for 7687
Handling connection for 7687
E0920 11:53:24.740012   68846 portforward.go:406] an error occurred forwarding 7687 -> 7687: error forwarding port 7687 to pod b87b23dd492d247bc96b403e326d91747bb91cb84e0ba2bc76563f96729679dd, uid : failed to execute portfo

[2022-09-20 21:39] kenyee commented on #15864
I do use:
"eval $(minikube -p minikube docker-env)"
to set the docker env.
I thought podman also included it's own docker daemon..is it just a wrapper over docker?

Looks like regular docker:

docker info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  buildx: Docker Buildx (Docker Inc., v0.9.1)
  compose: Docker Compose (Docker Inc., v2.10.2)
  extension: Manages Docker extensions (Do

[2022-09-20 23:27] kernelmethod opened #15874 "Default AppArmor profile never loaded & apparmor.IsEnabled() always returns false when rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is related to a bug I previously reported in https://github.com/containers/common/issues/958. This is really a bug in that library but it's impossible to resolve (without breakage) without making changes to Podman.

There is nominally a default AppArmor profile that gets applied to conta

[2022-09-20 23:35] kernelmethod commented on #15874
I ran into this issue while trying to write a fix for AppArmor confinement without root (https://github.com/containers/common/pull/960 was reverted due to some mistakes on my end, see https://github.com/containers/common/pull/969). It would seem like the easiest way to fix this problem would be to either

1. add a new profile to `/etc/apparmor.d` upon installing Podman, or
2. add a subcommand, e.g

[2022-09-21 00:43] decandia50 commented on #15863
There are details here in https://github.com/NVIDIA/nvidia-container-runtime/issues/85 but the summary is that the hook tries to run commands like `mknod` and `modprobe` so it fails.

[2022-09-21 02:02] tonycody opened #15875 "Can Podman command be used in WSL2 in the same way as Docker?"
# Docker Desktop
1.The WSL2 Windows subsystem includes an Ubuntu
2.Install Docker Desktop

The Docker command is available either in Powershell or in the WSL2 subsystem Ubuntu or other WSL2 subsystems.

In PowerShell
![image](https://user-images.githubusercontent.com/6773121/191396386-4588e5d8-d4d2-4f38-bd51-5714c448e542.png)
In Ubuntu for WSL2
![image](https://user-images.githubusercontent.com/67

[2022-09-21 05:34] TheComputerM commented on #15875
Is there a wsl instance called `podman-machine-default` when you run `wsl -l -v`?

[2022-09-21 05:40] TheComputerM opened #15876 "podman on windows reports two different version numbers."
/kind bug

**Description**
Two different version numbers for podman are reported on windows wsl.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
On powershell version is 4.2.1
On wsl instance version is 4.2.0

**Describe the results you expected:**
Both versions should be consistent.

**Additional information you deem important (e.g. issue happens only occasional

[2022-09-21 05:54] flouthoc commented on #15864
@kenyee Podman is not a wrapper over docker, its entirely different engine/container manager and the error you are seeing is actually coming from `docker` not `podman`. So your environment is using `docker` and not `podman`.

[2022-09-21 06:04] afbjorklund commented on #15864
Those are the **client** settings.

To change the server settings, you need to do `minikube ssh` and then edit /etc/docker/daemon.json

And restart the daemon to take effect.

You can also the edit the systemd unit files as usual, the the docker (or the systemd) documentation.

[2022-09-21 06:06] afbjorklund commented on #15864
Actually the environment is using **both** (nested containerization). But since it is not possible to use podman-in-podman (it does not support k8s), you will have to use crio-in-podman if you want to replace the default docker-in-docker configuration...

`minikube start --driver=podman --container-runtime=cri-o`

[2022-09-21 06:27] afbjorklund commented on #15864
Currently `docker-env` is not supported for cri-o runtime, only `podman-env`

In a future release, the legacy docker api will be available for all of them

You can also use `minikube image`

Most likely, Podman endpoint will be deprecated (in minikube, that is). Too much struggle with the clients and incompatible API.

[2022-09-21 08:31] #15853 closed

[2022-09-21 09:47] ghost opened #15877 "no curl from inside container"
/kind bug

curl inside a container fails.
- only to a few sites.
- the site fails from every container (indepent this construction: ubi-based, centos8/9 based, debian-based, nextcloud, no matter)
- podman 4.2 with ipv6 network
- Other sites, ipv4 or ipv6, http/https works fine.
- curl from command line outside container works well ( in my case: fedora core os, stable branch)
-This is most annoying

[2022-09-21 10:05] dcermak opened #15878 "podman exposes /dev/tty* to privileged containers when run as root"
/kind bug

**Description**

Podman will expose the host's /dev/tty* to containers that were launched with `--privileged` and as the root user, which can lead to very nasty issues if the container is running systemd and happens to have `getty` enabled. Then the container will "take over" the host's `/dev/tty1` and break it.

**Steps to reproduce the issue:**

Don't try this on your machine, it migh

[2022-09-21 10:47] tmds opened #15879 "podman auto-update: reject short image names on container creation"
`ExecStart` has:
[code]
This container is running:
[code]
`auto-update` is checking `docker.io`:
[code]
I know I can fix this using `io.containers.autoupdate=local`.

Does it make sense to check `docker.io` for `autoupdate=registry` when the image is referenced as `awesome-worker-app:latest` (and `localhost/awesome-worker-app:latest`)?

cc @mheon @rhatdan

[2022-09-21 10:51] rhatdan commented on #15875
@n1hility PTAL

[2022-09-21 10:52] rhatdan commented on #15876
@n1hility PTAL

[2022-09-21 11:12] #15746 closed

[2022-09-21 11:23] vrothberg commented on #15863
Thanks, @decandia50!  So the bottom line is that the hook requires to be run with root privileges.

[2022-09-21 11:23] #15863 closed

[2022-09-21 12:13] rhatdan commented on #15879
@vrothberg PTAL
Is this happening on a podman-machine?

[2022-09-21 12:28] Luap99 commented on #15877
Do you have any special routing rules or a VPN setup? Please provide `podman info` output as requested in the issue template.
Does it only fail when ipv6 is enabled? From your example it looks like it doesn't reach the ipv4 address.

[2022-09-21 12:32] mheon commented on #15849
Can you check if the time on the `podman machine` VM is correct? `podman machine ssh` should let you run the `date` command in the VM and verify.

[2022-09-21 12:44] tmds commented on #15879
This is on Fedora 36 with Podman 4.2.0.

I think `local` vs `registry` is about whether to try to pull the image.

What is unexpected for me is that for `podman run` `awesome-worker-app:latest` means `localhost/awesome-worker-app:latest`.
While for `podman auto-update` it means `docker.io/library/awesome-worker-app:latest`.

[2022-09-21 12:53] vrothberg commented on #15879
I will take a look. Podman should pull from localhost but it may be pulling
from both, localhost and Docker.io for some reason.

I’m traveling at the moment, so it may take a couple of days.

On Wed 21 Sep 2022 at 08:44, Tom Deseyn ***@***.***> wrote:

[2022-09-21 12:55] mheon commented on #15878
I don't know if we can change this by default - `--privileged` must, for Docker compat, mount every device from the host into the container.

I suppose that a container in systemd mode that is also privileged can possibly mask the TTY devices (or decide not to mount them?) if it's in privileged mode, though.

[2022-09-21 13:08] #14897 closed

[2022-09-21 13:13] decandia50 commented on #15863
I'll update the other issue with my findings, but you can just ignore the use of the hook completely and do things manually via bind mounts.  At the end of the day, all the hook does is mount the needed files into the container.  If those files exist on the actual system, you can mount them in.  Here's my one liner that does that:
`podman run --userns keep-id $(for file in $(nvidia-container-cli -

[2022-09-21 13:21] aoxiangtianji commented on #15850
fd00 address?
You mean the host ipv6 address or the 'test' network gateway?
Or something else?
Sorry I don't know that much about network and ipv6.

[2022-09-21 13:43] kenyee commented on #15864
Ahh...that was a bit I was missing.

Would love to see all this info above in the podman docs 😄
thx

[2022-09-21 13:43] #15864 closed

[2022-09-21 13:46] Luap99 commented on #15850
The fd... address in `podman unshare --rootless-netns ip addr show tap0`

[2022-09-21 13:56] dcermak commented on #15878
That's a bad idea according to Leonard Poettering: https://github.com/systemd/systemd/pull/24743#issuecomment-1252610524

Most init/systemd containers mask the getty service, but every container image has to do that. It would be better if podman would not pass the TTY into the container at all, as it will really just cause problems.

[2022-09-21 14:01] mheon commented on #15878
As bad of an idea as it may be, it's a 10 year old decision, and any change we make at this point could very well break existing applications.

Making containers that detect they are using systemd ad PID 1 alter this behavior is the most we can do without making a breaking change.

[2022-09-21 14:05] benoitf opened #15886 "RFE: Expose `system reset` to the API / remote CLI"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Sometimes, podman machine is not working as expected. One example is https://github.com/containers/podman/issues/15526
But to call `podman system reset` we need first to ssh into the machine which is not so convenient for users.

**Steps to reproduce the issue:**

1. podman machine ssh

2

[2022-09-21 14:43] samskiter opened #15887 "Podman save / load across machines causes cache misses and rebuilding of images"
/kind bug

**Description**

I’m trying to save an image (with layers) on one machine and then load it later on another in order to accelerate our CI build pipeline. However, after loading I'm still getting a cache miss even at the first line of my build file. When I re-run my build locally, podman build get's full cache hits and my builds are super fast.

This is a feature that seems to be support

[2022-09-21 14:46] mheon commented on #15887
@flouthoc PTAL

[2022-09-21 14:48] afbjorklund commented on #15864
I don't think it has anything to do with Podman, but it would be good to update the minikube docs if you find them missing info

[2022-09-21 15:01] edsantiago opened #15889 "CI broken: lint, ioutil"
CI Validate is [broken on aarch64](https://cirrus-ci.com/task/4579010779807744?logs=main#L16)

Looks like a merge collision between #15871 and #15842. @cevich, @ashley-cui PTAL.

[2022-09-21 15:03] kenyee commented on #15864
For the Podman part, the explanation above about how it interacts w/ docker is what I found useful and didn't see it in the docs.

[2022-09-21 15:11] dcermak commented on #15878
That actually sounds like the most sensible decision to me. Can you point me to the code that would handle this case?

[2022-09-21 15:14] afbjorklund commented on #15864
It is a bit complex, you are running docker pods in a podman system container running in CoreOS on a macOS system... 4 different layers

[2022-09-21 15:18] mheon commented on #15878
https://github.com/containers/podman/blob/12655484e39eadbc0fa0607542aa4a49a21013a1/pkg/util/utils_linux.go#L73 handles the addition of devices to privileged containers. The container knows if it was started in systemd mode (https://github.com/containers/podman/blob/main/libpod/container_config.go#L392-L393), so adding a parameter to that function for systemd mode and then omitting tty devices in t

[2022-09-21 15:35] flouthoc commented on #15887
Hi @samskiter , If there is a shared registry between two machine running the CI, I'd suggest a better solution which is `--cache-to` and `--cache-from`. See options `--cache-to` and `--cache-from` here https://github.com/containers/buildah/blob/main/docs/buildah-build.1.md#options

So on one machine you can just do `buildah build --layers --cache-to <yourrepo> --cache-from <yourrepo> -t test .` a

[2022-09-21 15:36] baude commented on #15887
@flouthoc so is it a bug or are you saying you have a work around.

[2022-09-21 15:37] samskiter commented on #15887
Hi @flouthoc I don't currently have a shared registry to easily use so I'd prefer to use `save` / `load` if possible. Also don't want to have to add a bunch of --cache-to and --cache-from to all my scripts

[2022-09-21 15:38] flouthoc commented on #15887
`save` and `load` does carries intermediate images which buildah uses a cache, afaik so i don't think it will hit the cache as is but let me confirm.

[2022-09-21 15:50] rapenne-s commented on #15310
Could we reopen this issue? I have the exact same problem. My user is uid 1003, I installed podman and I get the follow error when trying a podman command

[code]

I tried `podman system reset` as root, but didn't solve the problem.

[2022-09-21 16:05] flouthoc commented on #15887
This will not work as is, buildah caching works differently than docker, In order to support this feature I think we must implement filesystem exporters to `--cache-to` and `--cache-from` and let `save` and `load` silently use them for images with `--layers`.

Another method is sharing storage between two machines or using additional stores which is not possible for your scenario as you mentioned

[2022-09-21 16:10] samskiter commented on #15887
Thanks @flouthoc for the analysis - it would be great if podman could match docker on this feature, but appreciate it sounds like some work to get there.... if there are other workaround or ways I can get the image caching to line up, let me know!

[2022-09-21 16:15] samskiter commented on #15887
I also considered using a local root directory and caching that, but in some situations I need to combine multiple different builds into one while ensuring that I'm building the latest code - I wouldn't really know how to combine stores in this situation.... I think I may have to go away and try and work out how to use some container store now, but the access permissions to a repository may be tri

[2022-09-21 16:49] edsantiago opened #15892 "CI broken: golint 1.46.2"
About 1/3 of CI jobs are failing with:
[code]
Even in CI jobs that have nothing to do with lint, such as `sys` and `int` and `upgrade` tests.

1. Let's get this fixed
2. Let's avoid doing this step in places where it's not needed

EDIT: curl(1) sez:
[code]

[2022-09-21 17:00] edsantiago commented on #15892
Culprit:
[code]

[2022-09-21 17:51] nalind commented on #15887
You can save all images with `podman images -aq | xargs podman save -m -o /tmp/images.tar`.  If you're consistently building with `--format docker`, then `podman load`ing the images from the archive first should let the cache logic recognize the images as cache hits.

I say `--format docker` because `save -m` appears to be limited to using Docker format, minor differences between OCI and Docker fo

[2022-09-21 18:04] flouthoc commented on #15887
This is a really nice workaround till this is implemented upstream,  just adding a side-note for workaround this can generate final `.tar` really big in size if local storage contains lot of images.

[2022-09-21 18:15] samskiter commented on #15887
Thanks all, I will check this out asap. One piece of clarification though -
the docs say that the docker format is the default. Is this wrong? See
here: https://docs.podman.io/en/latest/markdown/podman-save.1.html

On Wed, 21 Sept 2022, 19:05 flouthoc, ***@***.***> wrote:

[2022-09-21 18:41] cevich commented on #15889
FWIW: I spent some time trying to figure out a way to detect deprecated modules in golang.  There's nothing in golangci-lint that I could find.  I did find some `go list...` magic, but couldn't get it to work in my copy-paste from stackoverflow.  Though I did come across a comment pointing to an (open) RFE in upstream golang that should make this easier in the future.

[2022-09-21 18:51] Luap99 commented on #15580
I will fix it sometime next week

[2022-09-21 18:53] nalind commented on #15887
For `save`, docker format is the default.  For `build`, the default image format is OCI, so conversion happens, and I haven't checked lately how converting on save and then reloading affects the cache evaluation logic.

[2022-09-21 20:02] #15889 closed

[2022-09-21 20:06] n1hility commented on #15876
This is expected for podman machine (mac & windows) to have the client run ahead just after a release, until the fedora package update is available (usually takes a week unless there is an issue - 4.2.1 is not yet available). For the machine instance to catch up on Windows you need to run `podman machine ssh sudo dnf update` (or recreate the machine - `podman machine rm` +  `podman machine init`).

[2022-09-21 20:06] #15876 closed

[2022-09-21 20:23] danielliebherz commented on #15877
indeed, its routed through a wireguard vpn.

[code]
both with and without --ipv6 same issue

[2022-09-21 20:49] edsantiago commented on #15367
Interesting variation on [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/5694475040194560/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00124): "cannot remove container" but subsequent tests actually pass:
[code]

[2022-09-21 21:12] n1hility commented on #14702
It's likely better to have a single auto-start mechanism, so I am going to close this in favor of https://github.com/containers/podman-desktop/issues/225

I assume this will cover Mac as well but will add a note

[2022-09-21 21:12] #14702 closed

[2022-09-21 22:07] samskiter commented on #15887
So does this mean I should save with oci?

On Wed, 21 Sept 2022, 19:53 Nalin Dahyabhai, ***@***.***>
wrote:

[2022-09-22 03:30] Taymindis commented on #15849
Seemed like issue cannot reproduce when I'am using development office network. So the problem is come to my server network time zone? What can I do

![image](https://user-images.githubusercontent.com/14217761/191651636-893e88b0-68ff-4b00-9ab0-3a191467a565.png)

![image](https://user-images.githubusercontent.com/14217761/191651803-61c74811-fec8-4f24-901b-dc17491d64d1.png)

[2022-09-22 04:53] danielliebherz commented on #15877
ok, thx @Luap99 its a problem with vpn wireguard.

if the vpn is stopped the routing is working.

unfortunately i cant determine exactly when this problem appears. any time in the last month.

[2022-09-22 05:20] danielliebherz commented on #15877
I set container network mtu to 1420. that's fix this problem

[2022-09-22 06:30] sstosh opened #15897 "Failed to save an image as a 'docker-dir' format on remote environment"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman-remote save --format docker-dir` saves an image as a `docker-archive` format.

**Describe the results you received:**

An image is saved as `docker-archive` format.

[code]

**Describe the results you expected:**

An image is saved as `docker-dir` format.

[code]

**Additional informa

[2022-09-22 07:52] Taymindis commented on #15849
![image](https://user-images.githubusercontent.com/14217761/191686992-884c004f-412b-413e-9a3d-16929cc9be9c.png)

Machine time out of sync

[2022-09-22 08:21] elezar commented on #15863
@decandia50 as pointed out in https://github.com/NVIDIA/nvidia-container-runtime/issues/85#issuecomment-1254182638 it is not recommented to bypass the hook like that.

Note that since the hook is defined in the OCI hooks directory, podman will invoke the hook directly and not use the NVIDIA Container Runtime which is why you're not seeing any logs (if the hook is failing).

@Clockwork-Muse As a ma

[2022-09-22 08:23] elezar commented on #15863
@vrothberg the `mknod` and `modprobe` operations are not required if the NVIDIA kernel modules are loaded and the device nodes already exist on the host. This can also be disabled by setting the `load-kmods = false` option in `/etc/nvidia-container-runtime/config.toml`.

[2022-09-22 08:41] usernameisnull commented on #15819
very much looking forward to

[2022-09-22 08:51] micheljung opened #15899 "Networking fails to set up correctly under certain conditions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Sometimes, e.g. when running `curl` in a container, it fails to resolve hostnames. I think it's not a DNS issue but a
general networking problem. This only happens occasionally, and apparently only if there are already some
containers/networks. Interestingly, it only happened when specifying

[2022-09-22 09:39] rhatdan commented on #15410
@cevich @edsantiago @vrothberg @mheon Can we switch to renovatebot?

[2022-09-22 09:46] rhatdan commented on #15387
@flouthoc @mheon What is the state of this issue?

[2022-09-22 09:58] rhatdan commented on #15261
@mheon @Luap99 What is the state of this issue?

[2022-09-22 09:59] rhatdan commented on #15013
@cdoern still circling? :^)

[2022-09-22 10:00] #15877 closed, assigned to nobody

[2022-09-22 10:06] rhatdan commented on #15897
@vrothberg is this even something we should support on remote?

[2022-09-22 10:16] rhatdan commented on #15849
This is a known problem.  Lots of people are discussing how to fix it. Basically when laptop goes to sleep, qemu VM does not know about a time shift when machine wakes up.

[2022-09-22 12:20] cdoern commented on #15013
@rhatdan sorry, this one slipped through. Will address today.

[2022-09-22 12:26] JulianLeonel3004 opened #15901 "Podman version 4.2.1 in MacOS Error: missing command 'podman COMMAND"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Issue of MacOs, message Error: missing command 'podman COMMAND

**Steps to reproduce the issue:**

1. delete ssh of macOs
2. uninstall podman with brew
3. install podman

**Describe the results you received:**
Result:
When finish of installation, prints all normal message about podman use, but

[2022-09-22 12:42] benoitf opened #15902 "RFE: Add tracking/monitoring/events of what will/is currently performed by `kube play` command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Today, we have the nice `podman kube play` command and REST API that is accepting a yaml file.

The issue that UI client are facing, is the lack of 'progress/report' of what the command will do or is doing.
For example you may wait a couple of minutes before having the command succeeding

[2022-09-22 12:45] benoitf opened #15903 "RFE: Add `--dry-run` mode on `kube play` command/REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman kube play` command is applying a subset of supported elements from a kubernetes YAML file.
so it might be good to know in advance what will be done, elements that will be skipped, etc before applying the command as we may not want to proceed this command depending on the supported

[2022-09-22 13:05] rhatdan commented on #15901
How are you installing Podman Using Brew or the install link?
@ashley-cui @baude PTAL

[2022-09-22 13:06] rhatdan commented on #15903
@umohnani8 PTAL

[2022-09-22 13:15] mheon commented on #15387
Seems like it's more of an RFE than a bug at this point, though the flag admittedly does not function at present.

[2022-09-22 13:18] #15869 closed

[2022-09-22 13:34] JulianLeonel3004 commented on #15901
Hi, @rhatdan yes, I runned `brew install podman`

[2022-09-22 13:45] nalind commented on #15887
`podman save -m` does not currently support OCI formats, so I would say no.

[2022-09-22 13:52] Luap99 commented on #15261
The ipv6 routes are added in the same order as ipv4. We do not do anything special about the ordering. I guess the kernel just stores it like that.

[2022-09-22 14:05] rhatdan commented on #15901
It would seem that there is a path issue, but I am by far not a Mac expert.

[2022-09-22 14:09] samskiter commented on #15887
Gotya, thanks! https://github.com/containers/podman/issues/15887#issuecomment-1254036038 worked great, by the way! Is there any way to narrow only to a specific image and its parent layers?

[2022-09-22 14:21] nalind commented on #15887
It looks like running `podman image history -q` for the final image, filtering out the "<missing>" parents of the base image, would provide a useful result for builds that don't use multiple stages.  For builds that use multiple stages, by their nature, that wouldn't be the complete list of the involved images.

[2022-09-22 14:25] samskiter commented on #15887
Awesome, thanks again! It's important because over time if I load in a cache of an old build and then some changes are made, the layers will change, but each time I export I will get all the old AND new image layers....

[2022-09-22 14:29] Luap99 commented on #15899
--network slirp4nents is the default as rootless so that makes sense

Once that happens do all containers fail to connect? Please check the outout from `podman unshare --rootless-netns ip addr` and check if the slirp4nents process is running.

[2022-09-22 14:37] rhatdan commented on #15858
This issue here is somehow containers/storage was pointing at /?

I have no idea how that happened.
podman system reset -f
Should be only removing graphroot.
[code]
[code]

[2022-09-22 14:48] ashley-cui commented on #15901
The error is also expected behavior, it's reminding you that you need a secondary command after `podman` ie, `podman run alpine` etc.

[2022-09-22 14:48] #15901 closed

[2022-09-22 15:06] #14707 closed

[2022-09-22 15:07] JulianLeonel3004 commented on #15901
@ashley-cui i stoped and started podman vm
steps:

1. `podman machine stop`
res: `Machine "podman-machine-default" stopped successfully`

2. `podman machine start`
res:
[code]

[2022-09-22 15:41] Luap99 commented on #15858
Right, before attempting to fix it we should know what is causing this. I agree that DataDirPrefix does not return `/`

[2022-09-22 15:42] samskiter commented on #15887
for anyone who finds this in the future, my build commands look like this:

`podman build --format docker --timestamp 0 --tag $IMAGE_NAME .`

My save commands look like this:

`  podman image history -q "${IMAGE_NAME}" | sed '/<missing>/d' | xargs podman save -m -o "$FILENAME"`

And my load command looks like this:

`podman load -i "$FILENAME"`

I do not think the `--timestamp 0` is required thoug

[2022-09-22 16:18] cevich commented on #15410
Oh sure I can look into it, thanks for pinging me.

[2022-09-22 16:34] edsantiago commented on #15277
The Code Fairy came and fixed this while we were distracted.

[2022-09-22 16:34] #15277 closed

[2022-09-22 16:37] edsantiago commented on #15280
Fixed by the Code Fairy. Tests reenabled in #15894.

[2022-09-22 16:37] #15280 closed

[2022-09-22 16:41] Clockwork-Muse commented on #15863
@elezar
[code]

Same error.

[2022-09-22 16:42] Clockwork-Muse commented on #15863
Also affects Podman 4.2.1 installed via the Kubic repo:
[code]

[2022-09-22 17:03] #15878 closed

[2022-09-22 17:39] ashley-cui commented on #15901
Please stop your machine before doing a rm.

[2022-09-22 18:09] cdoern commented on #15762
@Romain-Geissler-1A ping, any updates trying the new code?

[2022-09-22 18:35] BitBistro-code commented on #15858
Kind of hard to say exactly, because the box was erased. I have a potential patch in [here](https://github.com/containers/podman/pull/15904), but I haven't had a good opportunity to test it yet. I also haven't fully read through the CONTRIBUTING. Next week I'll be on vacation without internet. So any progress on the patch could be delayed.

I have a couple of ideas on how it might have happened. A

[2022-09-22 18:47] reavessm commented on #12485
Did this feature get implemented?  The PR listed here doesn't seem to allow specific builds per image, only one `context-dir` for the entire file

[2022-09-22 18:54] cdoern commented on #15018
this is an issue with restore on all podman-remote versions, fixing now

[2022-09-22 19:48] edsantiago commented on #15272
Hi, just checking in. I ran `cirrus-pr-timing` on #15896, one of my PRs today, a simple one:

| type | distro              | user     |    local |   remote | container |
| ---- | --------            | ----     |    ----: |   -----: | --------: |
| int  | fedora-36           | root     |    31:06 |    45:41 |     26:12 |
| int  | ubuntu-2204         | root     |    30:48 |    34:11 |
| int  | fedor

[2022-09-22 19:51] Clockwork-Muse commented on #15863
... And in contrast, is working when run against podman (4.2.1) installed on Ubuntu inside WSLg...

[2022-09-22 20:03] #15831 closed

[2022-09-22 20:29] ponimas commented on #14707
When should we expect a release?

[2022-09-22 21:19] Romain-Geissler-1A commented on #15762
Hi,

I used to use this dockerfile https://github.com/containers/podman/commit/fc95f832a597829d22b3404f9655cf38a232991c#diff-3578cf43508103a50f5808a58361f22aa6993a95eb62252f0b6bff9179fd187b to build and test pull request, but it seems you changed it for one using packages built by COPR builds. Is there any special COPR repo we can install to test pull requests ? Or the previous Dockerfile is still

[2022-09-22 21:55] byarbrough commented on #14917
#14949 closed due to difficulties in https://github.com/containers/common/pull/1099
That opens `push --all-tags` back up for somebody.

[2022-09-22 22:01] faern commented on #9706
I have this issue now in Fedora 36 with podman 4.2.0

On host (I have created udev rules to give me the ownership of this device):
[code]

In container (`--group-add keep-groups` makes absolutely no difference):
[code]

Running podman with `--security-opt label=disable` as pointed out above works. So seems to be SELinux related..

In SELinux logs on host:
[code]

[2022-09-22 22:42] mheon commented on #14707
Week after next, probably

On Thu, Sep 22, 2022 at 16:30 Alexander Ponimaskin ***@***.***>
wrote:

[2022-09-23 10:46] nictownsend opened #15912 "Podman 4.2.1 from homebrew unable to run commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman machine init

2. podman machine start

3. podman `x` (e.g `podman ps`)

**Describe the results you received:**
`Error: unable to create connection. "" is not a supported schema`

**Describe the results you expected:**
Response from podman

**Additi

[2022-09-23 11:28] SadPencil commented on #13012
Additional notes:

Besides enabling `AUDIT_WRITE`, there is another way to solve this problem.
Editing the `/etc/ssh/sshd_confilg` file and find the following line:
[code]
and change it to
[code]
So writting this line in the dockerfile
[code]

Then, sshd will no longer requires `AUDIT_WRITE` and it is totally acceptable for containers.

[2022-09-23 11:31] rhatdan commented on #12485
Open a separate Issue for that.

[2022-09-23 13:42] ashley-cui commented on #15912
What's the output of `podman system connection list`?

[2022-09-23 14:31] nictownsend commented on #15912
[code]

[2022-09-23 14:51] cevich opened #15913 "CI: Check for `IsNotExists`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

CI Should check for `os.IsNotExists(err)` versus the recommended `errors.Is(err, os.ErrNotExist)`

**Steps to reproduce the issue:**

1. Run CI having added/renamed/updated code that uses `os.IsNotExists(err)`

**Describe the results you received:**

CI Passes

**Describe the results you

[2022-09-23 15:03] nictownsend commented on #15912
`podman --url ssh://core@localhost:50537/run/user/501/podman/podman.sock version`

`Error: unable to connect to Podman. failed to create sshClient: connection to bastion host (ssh://core@localhost:50537/run/user/501/podman/podman.sock) failed: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none], no supported methods remain`

[2022-09-23 15:04] nictownsend commented on #15912
[code]

[2022-09-23 15:17] nictownsend commented on #15912
[code]

[2022-09-23 15:28] anderbubble commented on #15704
@rhatdan where can I get the 4.3 RC1 to test this fix?

[2022-09-23 15:34] rhatdan commented on #15704
Not being cut until Monday/Tuesday next week.

[2022-09-23 15:38] rhatdan commented on #15307
You need to install netavark, I guess on RHEL?

[2022-09-23 15:46] rhatdan commented on #15874
I would go with 1, Podman can be told to load a different profile via `--security-opt apparmor:PROFILE`, I believe.

But having a default one would help out rootless users.
Then again I am just an SELinux guy.

@vrothberg @saschagrunert WDYT?

[2022-09-23 16:12] rhatdan commented on #15310
You do not have a full user session and/or have XDG_RUNTIME_DIR pointing at that path.

Could you log out and log in via ssh or via a full login.

[2022-09-23 17:39] mkenigs commented on #14303
Also using nix, and for some reason I was still running into this until 4.2

[2022-09-23 18:08] rhatdan commented on #14603
@mheon @Luap99 @giuseppe Any movement on this?

[2022-09-23 18:18] rhatdan commented on #13012
Very nice would like to get this into the troublshoot.md file.

[2022-09-23 18:39] #15408 closed

[2022-09-23 20:59] dancohen21 commented on #14862
@n1hility
I was able to get a file copy into my container working with the following.
I redeployed my podman machine, rebuilt my container...
this does work:
wsl -d podman-machine-default -u user enterns podman cp /mnt/d/2022_Projects/assessments/HK197500195.bin se92:/root/

[2022-09-24 00:01] Romain-Geissler-1A opened #15921 "podman remote logs "EOF" error when building from an empty directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When building from an empty directory, podman remote logs an unexpected "EOF" error.

**Steps to reproduce the issue:**

(Tested using the `quay.io/podman/upstream` image)

1. Setup an empty build context and an Dockerfile not located in this build context:

[code]

2. Try to build this image

[2022-09-24 01:21] Romain-Geissler-1A opened #15922 "podman build --output type=local,dest=/some/dir doesn't work with remote podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman build --output type=local,dest=/some/dir doesn't work with remote podman. One might expect that this feature is not dependant on whether we use a local podman or a remote podman, as both `podman build`, `podman create` and `podman cp` work fine with remote podman, which are the basic o

[2022-09-24 06:35] eriksjolund opened #15923 "podman-system-service.1.html contains "<title>podman-service &#8212; Podman documentation</title>""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The man page [podman-system-service.1.html](https://docs.podman.io/en/latest/markdown/podman-system-service.1.html) has an incorrect title

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

[2022-09-24 07:35] eriksjolund opened #15925 "Redundant log messages : "API service listening on""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. log in as a new user
[code]
2. start the podman system service via socket activation
[code]
3. Check the log
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Just skip printing the second line to the log. It

[2022-09-24 10:10] eriksjolund opened #15927 "ActiveState=failed after running "systemctl --user start podman.service""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The systemd user service _podman.service_ is failed after running `systemctl --user start podman.service`.
(I think this explicit starting of _podman.service_ with socket activation should be supported although it is not the standard way of how to start  _podman.service_).

A sidenote: Intere

[2022-09-24 10:43] zakaria-chahboun commented on #12984
@Luap99 I'm on popos (ubuntu based) i have the version `3.4.4` which is the latest!
how i can get the version 4?

[2022-09-24 11:44] engelant opened #15928 "docker build not working with podman.service"
**BUG REPORT**

/kind bug

**Description**

Docker build is not working for me with podman socket.

**Steps to reproduce the issue:**

1. Create Dockerfile
`FROM docker.io/library/alpine:latest`

2.DOCKER_API_VERSION=1.40 DOCKER_HOST=unix:////run/user/1000/podman/podman.sock docker build .

**Describe the results you received:**
[code]
Output from systemctl --user status podman.service:
[code]

**

[2022-09-24 14:22] eriksjolund commented on #15927
After enabling `--log-level=debug` it started to work for both versions

* `systemctl --user start podman.service`
* curl

`--log-level=debug` was enabled by adding this drop-in file

[code]

### Using _"systemctl --user start podman.service"_
[code]

log

[code]

### Using curl

[code]

log

[code]

[2022-09-24 15:51] proletarius101 opened #15929 "Set `StartLimitIntervalSec` with the value of `--health-start-period` in systemd unit generation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Sometimes, it takes a considerable length of time for a container to start. Nextcloud, for example, needs to modify a large number of files SELinux context when starting. The default value of `StartLimitIntervalSec` in a systemd unit is `DefaultStartLimitIntervalSec`, i.e. [10s](https://w

[2022-09-25 02:57] n1hility commented on #15107
Closing since there was no underlying bug.

[2022-09-25 06:12] worldofgeese commented on #15338
Just a thought that WSL's [new native support](https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/) for systemd may be useful here.

[2022-09-25 07:55] afbjorklund commented on #14902
Or maybe "use root" ? 😀

At least it could be interesting to at least mention the cost of rootless, when discussing the mitigations ?

Preferably with some benchmarks.

[2022-09-25 10:26] faern opened #15930 "SELinux prevents rootless container from using passed device"
/kind bug

**Description**

Unable to use a device I pass to my rootless container due to SELinux denying it.

**Steps to reproduce the issue:**

1. Make sure my device is accessible by my non-root user with udev rules. Here I make sure I *own* the device. To rule out issues related to the mapping of groups discussed in most other threads about passing devices to containers.
[code]

1. Pass the de

[2022-09-25 13:22] n1hility commented on #15338
@worldofgeese yes it would. Although it’s only Win 11 atm so we can’t rely on it just yet.

[2022-09-25 13:24] n1hility commented on #15338
This is still on my radar it’s just been lower priority than other work. I’ll try to find some cycles soon

[2022-09-25 19:21] JasonCubic commented on #15121
Is there a workaround for this by setting a windows SSH_AUTH_SOCK environment variable?  If so what would someone need to set it to in order to get devcontainers in VSCode without WSL working?

[2022-09-25 19:31] thw0rted commented on #15121
Just to clarify, do you mean is there a value you can use for `SSH_AUTH_SOCK` that "fixes" podman, rather than just unsetting the variable (as I mentioned upthread)?  Unsetting does allow the command to run successfully.

[2022-09-25 19:35] JasonCubic commented on #15121
Can you help me understand where to run that command?  I'm on windows and unset isn't a command.

[2022-09-25 19:48] thw0rted commented on #15121
Ah right, sorry, you did say "without WSL" -- I use Git Bash (`bash` distributed with Git for Windows) but the effect is much the same.  In Windows, I believe to "remove" an environment variable, you use `set SSH_AUTH_SOCK=` (with nothing after the equal-sign).

[2022-09-25 20:00] pawilon commented on #11458
A TL;DR for people like me for whom it wasn't immediately clear how to use the solution from this issue. Here's how this works on a x86 Mac.

An initial attempt to run aarch64 architecture while on x86 will give you an error:

[code]

In order to fix it, you do the following:

[code]

Now you just wait for the machine to come back up, and voila:

[code]

In case you're on MacOS with M1 and want to

[2022-09-25 20:03] JasonCubic commented on #15121
No luck.  I am thinking that unsetting SSH_AUTH_SOCK isn't a fix for me.  I'm on windows using cmder instead of gitbash.  if I do a printenv I don't see a SSH_AUTH_SOCK variable.

this is the error I am seeing in vscode:
[code]
This is what I see on the command line:
[code]

I am wondering what ssh client vscode is using.  I don't have an ssh client installed system wide.  I'm just using the one i

[2022-09-25 21:04] samskiter commented on #15887
A semi-related issue - it seems that any `WORKDIR` command in the will invalidate a cache when I switch to a different machine. It seems [Docker has had a similar issue in the past](https://github.com/moby/moby/issues/30081)... This has been pretty reproducible for me is there any way to avoid this aside from prefixing a bunch of commands with `cd foo`? I ensured that the directory exists before t

[2022-09-25 23:04] aoxiangtianji commented on #15850
Still interested in this question?

[2022-09-25 23:55] Luap99 commented on #15850
fd..., not fe80...

[2022-09-26 05:59] amokkara opened #15932 "golangci-lint throws error when using podman/bindings"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**~/aditya/podman_test # CGO_ENABLED=0 ./bin/golangci-lint run --timeout 5m
WARN [runner] Can't run linter goanalysis_metalinter: buildssa: failed to load package images: could not load export data: no export data for "github.com/containers/podman/v4/pkg/bindings/images"
ERRO Running error: 1

[2022-09-26 06:40] micheljung commented on #13871
@Luap99 do you remember what this bug was about?

[2022-09-26 07:19] micheljung commented on #15899
As it happened:
[code]

[code]

[code]

Sometimes, we also face the issue that one container says ["no route to host"](https://github.com/containers/podman/issues/13871) to another container. Maybe that's a different issue, maybe it's not.

[2022-09-26 07:57] giuseppe commented on #15930
have you tried running `setsebool container_use_devices=true` as root?

[2022-09-26 08:23] vrothberg commented on #15932
That looks more like an issue of the version of golangci-lint you are using.  We use golangci-lint in our CI and it passes on the bindings.

[2022-09-26 08:23] #15932 closed

[2022-09-26 08:25] vrothberg commented on #15929
Thanks for reaching out, @proletarius101!

@mheon @Luap99 WDYT?

[2022-09-26 08:29] vrothberg commented on #15874
1) looks like a good way forward but I do not have the time to think this through entirely at the moment.  It's probably something distributions should do.

[2022-09-26 08:44] vrothberg commented on #15879
OK, now I see it.  `awesome-worker-app:latest` is not a valid input as auto updates require a _full_ image reference.

It looks like a regression as Podman should error out on container creation.

[2022-09-26 08:46] vrothberg commented on #15828
Yes, that sounds like a good idea!

Sorry for the late reply.  I've been out of office last week.

[2022-09-26 08:53] tmds commented on #15879
You mean: `dotnet run awesome-worker-app:latest` should error out?

[2022-09-26 09:26] amokkara commented on #15932
@vrothberg
This is my go code:

[code]

[2022-09-26 09:29] amokkara commented on #15932
I'm just following the examples given in repo. And i dont feel its related to golintci version.

[2022-09-26 09:56] vrothberg commented on #15879
Yes. See the following quote from the docs:

[2022-09-26 09:59] amokkara commented on #15932
@vrothberg i already tried that too. It doesnt work (in my case). really not sure where its going wrong. Its just simple code!!!

~/aditya/podman-poc # go mod tidy

~/aditya/podman-poc # ../bin/golangci-lint run --timeout 2m
WARN [runner] Can't run linter goanalysis_metalinter: buildir: failed to load package unshare: could not load export data: no export data for "github.com/containers/storage/pk

[2022-09-26 10:05] vrothberg commented on #15897
We do support it.  Looks like an unfortunate regression.  I get an EPERM when trying that.  Screams to have a look at the tests.

[2022-09-26 10:05] vrothberg commented on #15897
@boaz0, interested in tackling this issue?

[2022-09-26 10:06] vrothberg commented on #15932
I used version v1.47.1 with go1.19.1.

Can you try a `go mod vendor`?

[2022-09-26 10:36] amokkara commented on #15932
@vrothberg  could you share the go.mod file in your setup please.

[2022-09-26 11:03] vrothberg commented on #15879
I opened https://github.com/containers/podman/pull/15933 to fix the underlying issue.

[2022-09-26 11:27] edsantiago commented on #15367
Here's the unlinkat/ebusy one on [f36 remote rootless](https://api.cirrus-ci.com/v1/artifact/task/5022141530767360/html/sys-remote-fedora-36-rootless-host.log.html#t--00346)

OK, f2f over, we need serious attention on this one.

[2022-09-26 11:28] vrothberg commented on #15932
[code]

[2022-09-26 11:37] #15800 closed

[2022-09-26 11:48] #15923 closed

[2022-09-26 11:51] tmds commented on #15879
`podman` will now error out when creating a container with a short name if it has the auto-update label.

Another approach would be for `auto-update` to use the same image resolution for short-names as `podman create/run`.
(Or, to always use `localhost` when a short name is provided with the auto-update label.)

I'm laying out some options, because I like using short names for local images.

[2022-09-26 11:54] vrothberg commented on #15879
(Or, to always use localhost when a short name is provided with the auto-update label.)

Those can be subject to change.  It is non-deterministic.  While images can still be rewritten via `/etc/containers/registries.conf`, I think that forcing users to specify a fully-qualified image name is the right thing to do.

Since auto updates are security relevant, I think it's important to have as less "m

[2022-09-26 11:55] vrothberg commented on #15879
To elaborate on the local images:  The lookup order can vary based on the images present.  Requesting a FQN there as well reduces ambiguity.

[2022-09-26 12:08] rhatdan commented on #15879
I agree FQN should be required.

[2022-09-26 12:12] yogo1212 opened #15934 "setting net.ipv4.ping_group_range fails (uidmap/gidmap)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When spinning up a container for opensearch, there's an error (further down in the template :fire: ).

**Steps to reproduce the issue:**

1. Run `podman run --rm --uidmap 1000:0:1 --gidmap 1000:0:1 -v /mnt/opensearch1:/usr/share/opensearch/data -p 9200:9200 -p 9600:9600 docker.io/opensearchpr

[2022-09-26 12:32] #15925 closed

[2022-09-26 13:27] mheon commented on #15929
I wonder if we shouldn't take the longer of the two (IE, if the systemd default of 10s should be used if the healthcheck specifies 5s). Otherwise, sounds quite reasonable.

[2022-09-26 13:39] rhatdan commented on #15930
We should add this information to the podman run and podman create man page, to make this more discoverable.

[2022-09-26 13:45] vrothberg commented on #15874
To facilitate packaging, I think we should provide a generated profile in `c/common/pkg/apparmor`.

Cc: @siretart (Debian/Ubuntu) @sysrich (openSUSE)

[2022-09-26 14:00] vrothberg commented on #15680
@rhatdan tackles storage.conf in https://github.com/containers/storage/pull/1357

[2022-09-26 14:32] vrothberg commented on #15680
Reopening as https://github.com/containers/storage/pull/1357 addressed storage.conf only.

[2022-09-26 15:08] Blindfreddy opened #15939 "NFS volume not mounted using podman-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Although #4303 claims to have been fixed by #4305, nfs volumes are not mounted, at least not with `podman-compose`.

**Steps to reproduce the issue:**

1. create `docker-compose.yaml` with following content:
[code]

2. execute `podman-compose up -d`
[code]

3. Execute `mount | grep nfs` to ve

[2022-09-26 15:18] #15107 closed

[2022-09-26 15:31] mheon commented on #15939
This seems like a podman-compose bug, as Podman is not getting any volume options passed to it. As this is not the podman-compose repo, I'm going to close this. Please reopen against the podman-compose Github,

[2022-09-26 15:31] #15939 closed

[2022-09-26 15:43] Blindfreddy commented on #15939
Recreated as https://github.com/containers/podman-compose/issues/561 in `podman-compose`.

[2022-09-26 17:21] #15580 closed

[2022-09-26 17:21] reavessm opened #15942 "`podman play kube` only binds ports when `hostPort` is specified."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[According to k8s documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#containerport-v1-core), specifying `hostPort` seems optional.  If I specify only `containerPort`, I would expect this to use the same value for `hostPort`, or throw a validation error if it i

[2022-09-26 17:33] edsantiago opened #15943 "preserve-fds: file descriptor 4 is not available"
Been seeing this flake for the last week:
[code]
### Podman run [It] podman run --preserve-fds invalid fd
* ubuntu-2204 : int podman ubuntu-2204 rootless host
  * PR #15907
    * [09-25 22:53](https://api.cirrus-ci.com/v1/artifact/task/5786743352852480/html/int-podman-ubuntu-2204-rootless-host.log.html#t--podman-run---preserve-fds-invalid-fd--1)
    * [09-25 22:53](https://api.cirrus-ci.com/v1/art

[2022-09-26 18:04] cevich opened #15944 "Future CI: F37 fails 'podman load compressed tar file'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While attempting to update the CI VM images to F37 (beta), found this test is failing on most test-configurations.

**Steps to reproduce the issue:**

1. Run CI in https://github.com/containers/podman/pull/15760 (or make similar changes in separate PR)

**Describe the results you received:**

[2022-09-26 18:29] samskiter commented on #15887
@nalind more bad news - this also seems to be happening with the `ARG` command in my Dockerfile. While your solution is working in general, I'm now hitting into a second layer of issues. I don't support you have any more of those workarounds have you? Or is there any way to see *what* is causing the cache miss? Like what inputs were different?

![6uro74](https://user-images.githubusercontent.com/1

[2022-09-26 18:45] #15879 closed

[2022-09-26 19:29] rhatdan commented on #15451
We decided against doing this because of potential breakage.

[2022-09-26 19:29] #15451 closed

[2022-09-26 19:33] rhatdan commented on #15231
@umohnani8 @haircommander @saschagrunert PTAL and verify what we should do here.

[2022-09-26 19:34] rhatdan commented on #15446
@3nprob is this still an issue?

[2022-09-26 19:50] langdon commented on #15000
Sorry, been very busy. Will review by EOW

[2022-09-26 19:53] Shubham-Kumar-2000 opened #15947 "Unable to init machine on aws EC2 Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**

I am trying to run podman in AWS EC2. But after installation when I try to init machine it throws the following output

[code]

**Steps to reproduce the issue:**

1.  `sudo apt-get -qq --yes install podman`

2.
[code]
3. `podman machine init`

**Describe the results you received:**
Machine was

[2022-09-26 19:59] samskiter commented on #15887
I'm also assuming that using a container registry won't help me here as there seems to be something about the way podman is calculating the layer cache from the runtime context that is inconsistent between machines rather than something being lost in the save-load process?

[2022-09-26 20:35] mheon commented on #15947
Question: Why are you trying to use `podman machine` on a Linux VM?

[2022-09-26 20:35] nalind commented on #15887
The cache evaluation includes the candidate image's history, so instructions that change the entry point, workdir, and such matter.
WORKDIR in particular is used as the default destination when a subsequent COPY or ADD is given a relative destination, and as the working directory for subsequent RUN instructions.
Likewise, changes to ARG values can affect the expansion of RUN instruction commands,

[2022-09-26 20:42] samskiter commented on #15887
@nalind  thanks for the reply - so all of these are identical between the different builds. So far these have proven to invalidate the cache (when run on a different machine but with the same arguments):

- WORKDIR
- ENTRYPOINT
- ARG (when the ARG is passed or is not at the top of the dockerfile)

The above logs show hits followed by misses for e.g. entrypoint - but the command hasn't changed.

[2022-09-27 00:15] #15347 closed

[2022-09-27 00:15] #15585 closed

[2022-09-27 00:15] #15598 closed

[2022-09-27 00:20] JasonCubic opened #15950 "netavark: unable to append rule '! -d ff00::/8 -j MASQUERADE' to table 'nat'"
/kind bug

**Description**

kind create cluster fails due to a netavark issue that I do not understand very clearly.

Some details:
* I am on a corporate network with a proxy
* Using a rootful podman machine
* I had to set a custom resolv.conf due to our network dns (podman can pull down images now)
* I added a root ca trust to podman machine

**Steps to reproduce the issue:**

1. be on my corpora

[2022-09-27 01:42] dustymabe commented on #11458
In that case there is no need since `qemu-user-static-x86` is already installed on `aarch64` FCOS. See https://github.com/coreos/fedora-coreos-tracker/issues/1088 and https://github.com/coreos/fedora-coreos-tracker/issues/1237.

[2022-09-27 02:52] mheon commented on #15950
Any more details about the environment Kind is running here? Is that command running straight on the VM, in another container?

Any chance the `ip6table_nat` module is not loaded?

[2022-09-27 04:39] Shubham-Kumar-2000 commented on #15947
Hi I want to run some unkown codes through api.
Thus I was running them inside a container.

[2022-09-27 05:14] JasonCubic commented on #15950
I tried it in PowerShell and cmder.  I didn't install kind on the podman machine vm it's in windows.  How do I troubleshoot the ip6table_nat module?

[2022-09-27 05:46] sstosh opened #15952 "remote: manifest add --annotation failed to add annotations field"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In help page, podman-remote manifest add --annotation option seems to be supported.
However, --annotation option doesn't work.

[code]
**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

1. If --annotation option i

[2022-09-27 06:11] flouthoc commented on #15952
I think this was fixed for `podman` here: https://github.com/containers/podman/issues/15069 , could you confirm if `manifest annotate --annotation` works or not ? Cause we have a test for `manifest annotate` so it could be just `manifest add`

[2022-09-27 06:25] Shubham-Kumar-2000 commented on #15947
Hey,

Being a newbie I didn't knew that starting a machine is only required in `Windows` and `MacOS`.

For any future googlers if you are running podman on linux no need for

❌ `podman machine init`
❌ `podman machine start`

After installing you can directly make image / run images using

[code]

[2022-09-27 06:25] #15947 closed

[2022-09-27 06:39] sstosh commented on #15952
`manifest annotate --annotation` isn't supported on remote environment.
In e2e tests, manifest annotate tests are skipped.

[code]

[2022-09-27 06:46] flouthoc commented on #15952
Ah fair enough then I think this is not wired on the remote at all.

[2022-09-27 07:19] sstosh commented on #15952
I see, it means --annotation option isn't supported on remote environment.
I'll fix the help page.

[2022-09-27 07:34] flouthoc commented on #15952
@sstosh Yes I think entire annotate command is not yet implemented https://github.com/containers/podman/blob/main/pkg/domain/infra/tunnel/manifest.go#L81

[2022-09-27 07:42] flouthoc commented on #15928
I wonder why did `docker client` set incorrect `cacheFrom` or why did it set it at all ? Is buildkit enabled on your client ? This request payload does not looks correct as per the documentation https://docs.docker.com/engine/api/v1.41/#tag/Image/operation/ImageBuild

Could you try again disabling the buildkit ?

[2022-09-27 07:44] flouthoc commented on #15922
Hi @Romain-Geissler-1A , One issue is that usually the `remote` machine is a VM or a server running away from host the option `type=local` would not make much sense it will generate the artifact on the `remote` machine end and not the client which created the request.

Could you let me know what was your expectation here ? Were you trying to generate artifact on the remote side itself ?

[2022-09-27 07:54] Romain-Geissler-1A commented on #15922
Hi,

No for me the logical thing would be the other way around. What matters is the machine where the client runs, where the user "thinks" he is, so "local" refers to the client machine. This behavior is what buildx implements when using a "remote" docker. So technically it's a "podman build" followed by a logic similar to the one of "podman cp", to fetch back files on the machine where the client

[2022-09-27 08:04] tghosgor commented on #15928
Is it really incorrect? Docu says it should be a json array. It's type is "string" so it's a json array encoded/escaped as string.

Is it double-escaped or are those extra backslashes related to logging?

By the way, having a value in that array does not work either (through --cache-from).

[2022-09-27 08:16] flouthoc commented on #15928
I think following line broke compatibility https://github.com/containers/podman/blob/main/pkg/api/handlers/compat/images_build.go#L404 , it should first parse and ignore if its empty array instead of directly trying to create a named reference.

I'll open a PR for this.

[2022-09-27 08:38] Yvan-Masson opened #15954 "Can’t run systemd in Debian container from Debian host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

From a Debian testing host running Podman 3.4.7, running systemd in a Debian stable container fails with error `Trying to run as user instance, but the system has not been booted with systemd.`, but it works if I append `/lib/systemd/systemd` to the `podman run` command.

**Steps to reproduce

[2022-09-27 10:02] samskiter commented on #15887
Another update, `ENV` command is also doing this :(

IMO this experience is very broken with podman at the minute... is there's anything I can do to help, let me know!

[2022-09-27 10:30] arlyon opened #15955 "Command for fetching machine resource usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I am managing a podman machine, and would like an easy way of querying podman for _machine_ runtime statistics (as opposed to container) which would then query the underlying virtualization engine.

**Steps to reproduce the issue:**

1. run `podman machine inspect`
2. notice that the reso

[2022-09-27 10:47] arlyon commented on #15955
In the mean time, it is enough for me to use the ssh sock and pull out the data from the fedora vm

[2022-09-27 11:48] chrispyatt opened #15957 "podman load image fails due to small /var"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to load a docker image previously in use on our server before being upgraded from RH7 to RH8. The load command fails due to podman trying to create the image in /var/tmp, which on our server is very small. I have tried to specify a larger volume to do this in using the TMPDIR vari

[2022-09-27 12:19] deboer-tim commented on #14587
Ok, thanks for the help and all the information! Closing.

[2022-09-27 12:19] #14587 closed

[2022-09-27 13:48] edsantiago commented on #15943
@containers/podman-maintainers please help. This one is starting to trigger often.

ISTM that something somewhere is now doing an `open()` without a corresponding `close()`, leaving `fd3` stuck open forever.

The first instance of the flake was seen in PR #15833 (903f551ae5dabf51204ecdf2a340bf1b0589e5db). That doesn't mean this PR is at fault (I see nothing in it that leaks fds), it just means thi

[2022-09-27 13:57] ashley-cui commented on #15912
Hmm. Have you tried rm-ing and re-initing the machine?

[2022-09-27 14:24] edsantiago commented on #14653
We haven't been seeing this flake because I committed a horrible workaround, #14718.  Shall I remove the workaround, as a way to incentivize an actual fix?

[2022-09-27 14:42] GuilhemROLLAND opened #15959 "Adding privileged in containerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Need privileged flag to run "firehol debug", but cannot set it using a containerfile

**Steps to reproduce the issue:**

1. Run a container with firehol with --privileged in interactive mode, and type "firehol debug" --> it's OK

2. Write a containerfile with the line "RUN firehol debug" -->

[2022-09-27 14:42] ashley-cui commented on #14738
Closed via https://github.com/containers/podman/pull/15916

[2022-09-27 14:42] #14738 closed

[2022-09-27 14:42] GuilhemROLLAND commented on #15959
thanks in advance

[2022-09-27 14:43] #15106 closed

[2022-09-27 14:48] benoitf commented on #15106
@ashley-cui 4.3.0-RC1 has been cut yesterday

but I see no artifacts in the downloads section (except source code)
![image](https://user-images.githubusercontent.com/436777/192559248-be1f12fa-033a-4a9e-bfe7-e5d27c5a82a8.png)

https://github.com/containers/podman/releases/tag/v4.3.0-rc1

I was expecting there the Windows installer, and pkg files no ?

[2022-09-27 15:03] cevich opened #15960 "RFE: Provide download links to "latest" assets"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Automation updates a large number of downloads continuously, and on predictable intervals (i.e. daily) that may be useful to people.  Container images, podman and podman-remote builds for multiple architectures, and installer packages to name a few.  It would be nice to provide perma-link

[2022-09-27 15:04] mheon commented on #15959
@flouthoc PTAL

[2022-09-27 15:36] mheon commented on #15954
Please include a full `podman inspect` of the container in question

[2022-09-27 15:47] chrispyatt commented on #15957
I realised this is a sudo/user problem, not a podman issue, so will close this issue. The other part of the error message is still present though (the image being supposedly invalid) so I will make a new issue for that.

[2022-09-27 15:47] #15957 closed

[2022-09-27 15:48] edsantiago commented on #15943
My belief came from the test failure message:
[code]
...but I may be reading it completely wrong.

[2022-09-27 15:52] mheon commented on #15943
Ack, that sounds accurate. An extra FD is getting in occasionally that it altering the error message.

No chance it's leaking in from CI itself passing an extra FD in?

[2022-09-27 15:55] mheon commented on #15943
Sorry if I wasn't clear, but I concur with your assessment. It's an extra FD, not a missing FD as I originally assumed.

[2022-09-27 15:56] chrispyatt opened #15963 "Valid docker image not loading"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to load an image made using docker on a previous system. I know the image works as it has been used for several months in our lab. We've since upgraded the server from RHEL7 to RHEL8 and with that, moved to podman as that is what 'yum install docker' gives us now. The issue is tha

[2022-09-27 15:57] chrispyatt commented on #15957
https://github.com/containers/podman/issues/15963

[2022-09-27 15:57] mheon commented on #15943
I am, however, a bit doubtful that we missed a `defer file.Close()` somewhere - I seem to recall us having a linter that catches such things. Will verify that after lunch.

[2022-09-27 16:01] edsantiago commented on #15943
I found one through tedious skimming: https://github.com/containers/podman/blob/23a30661ad390e3a52fd99de241baa9e8d179e09/libpod/container_internal_common.go#L1086
(two, actually, there are two instances in that same file). But that's podman, not the e2e tests, so I can't imagine why that would affect fds in the e2e test process.

[2022-09-27 16:02] ashley-cui commented on #15106
The PR just ensures that the pkginstaller is now built in CI which means that anyone can pull them off any build. The artifacts are then downloaded from the CI artifact job and manually uploaded on releases (RC's and regular). I just got this PR merged (after RC1 was cut), so let me build this manually for you for this RC and upload it.

[2022-09-27 16:13] nictownsend commented on #15912
[code]

[2022-09-27 16:15] nictownsend commented on #15912
I stopped Docker desktop, then `rm` and `init` again:

[code]

[2022-09-27 16:21] afbjorklund commented on #15947
There seem to be a lot of new users of Docker Desktop (VM) on Linux, though. Even if not _required_.

----

I think the main issue was that you ran a VM in a VM ?

But `podman machine` itself should work on Linux too...

[2022-09-27 16:39] benoitf commented on #15106
ok I thought CI would upload automatically the artifacts for the pkg, Windows installer

[2022-09-27 17:09] #15892 closed

[2022-09-27 17:14] cevich commented on #15106
Nope, that's not been implemented due to signing-requirements and the difficulty in keeping keys safe.  I opened an RFE issue to make a page w/ links to the current builds out of CI, but they will all be unsigned.

[2022-09-27 17:16] benoitf commented on #15106
I'm fine if files are unsigned on RC

[2022-09-27 17:21] cevich commented on #15106
Yep, there are many usage contexts where it's fine.  I just don't want there to be any trust-ambiguity, since those are exceptionally hard problems to "fix" after-the-fact.  Either way, I opened https://github.com/containers/podman/issues/15960 for providing the download URLs.  The URL schema isn't hard to figure out, if you need something now, before someone is able to twiddle the markdown togeth

[2022-09-27 17:35] cevich commented on #15410
Holy-smokes renovate has a lot of options.  I've added it + basic configuration to the c/automation branch to give it a spin.  So far so good, but I have one main concern:

It (like dependabot) wants to create upstream branches for it's PRs.  However, in the past this has resulted in some goofiness with our CI system (i.e. it doesn't run or won't run).  There also tend to be a more limited/restric

[2022-09-27 17:57] KCSesh opened #15964 "eiifcckjdrcgjrgfjhgeknkurnvfkttvurulhebihhhe"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2022-09-27 18:06] #15855 closed

[2022-09-27 18:12] #15930 closed

[2022-09-27 18:26] ashley-cui commented on #15106
Uploaded the msi and the pkgs!

[2022-09-27 18:29] rhatdan commented on #15954
Could you try

FROM docker.io/library/debian:bullseye
RUN apt-get update
RUN apt-get install systemd --assume-yes --no-install-recommends
ENTRYPOINT /lib/systemd/systemd

[2022-09-27 18:31] boaz0 commented on #15897
sure, assign it to me. :smile:

[2022-09-27 18:31] boaz0 commented on #15828
Thanks. I will be working on it.

[2022-09-27 18:44] rhatdan commented on #15963
This looks like it is fixed in podman 4.2?

[2022-09-27 18:51] rst0git commented on #14653
@edsantiago I can add this issue to my todo list and work on it next week.

[2022-09-27 18:54] edsantiago commented on #14653
@rst0git thank you! But please see my comment above https://github.com/containers/podman/issues/14653#issuecomment-1164799694 suggesting that the bug may be in `podman-remote` itself, not checkpoint. (And, after you read that, please remember that I have no clue what I'm talking about).

[2022-09-27 19:46] mheon commented on #15955
@baude Didn't you add this to machine info?

[2022-09-27 19:48] mheon commented on #15950
Oh, this is WSL2, not a VM.

@n1hility Any idea if WSL2 supports v6 and/or loads the IPv6 NAT kernel modules?

[2022-09-27 19:58] rhatdan commented on #15952
This should be supported, lets fix the bug.

[2022-09-27 19:58] dancohen21 opened #15966 "Error message "this function is not implemented for windows""
/kind bug

after running 4.3.0-RC1 MSI

C:\>where podman.exe
C:\Program Files\RedHat\Podman\podman.exe

C:\>podman --help
time="2022-09-27T13:51:19-06:00" level=error msg="this function is not implemented for windows"

C:\>podman machine list
time="2022-09-27T13:51:22-06:00" level=error msg="this function is not implemented for windows"

Running Win 10 20H2 (19042.2006)

[2022-09-27 20:21] #15942 closed

[2022-09-27 20:26] Luap99 commented on #15943
I don't think there is a linter for that.

We use os/exec to start podman in the tests, it should not matter how many fds we leak in the test since os/exec will always unset all fds.
https://cs.opensource.google/go/go/+/refs/tags/go1.19.1:src/os/exec/exec.go;l=506-517
That makes me think the leak or bug must be somewhere in podman itself.

ALso the golang garbage collector will automatically close

[2022-09-27 20:53] Luap99 commented on #15899
In your fist comment the tap0 interface is missing which means that the slirp4nents process was killed or crashed. Looks like you use jenkins, I remember problems with jenkins just killing our processes.
For the second one I assume the aardvark-dns process was killed, likely the same problem.

I suggest you monitor those processes, it is very likely that something is killing them.

[2022-09-27 20:57] Luap99 commented on #15929
SGTM, but do we allow `--health-start-period` to be set even when there are no health checks? Also would it make more sense to set this at `podman generate systemd time`, containers used outside of systemd do not need this option?

[2022-09-27 20:58] Luap99 commented on #15850
If there is no fd address on the tap0 interface then there is a problem with slirp4netns.

[2022-09-27 21:40] n1hility commented on #15950
@mheon yes its compiled in:
`zcat /proc/config.gz | grep IP6_NF_NAT
CONFIG_IP6_NF_NAT=y
`

Not sure why the masq rule / load fails. I will try to reproduce

[2022-09-27 21:52] n1hility commented on #15950
@JasonCubic Ah looks like you are using WSL 1 -  kernel: 4.19.128-microsoft-standard

WSL1 is deprecated and only supports partial emulation of linux system calls

Try switching to WSL2 like so:
`wsl --set-version podman-machine-default 2`

Depending on the state of your instance you might need to flip the default and recreate it
[code]

[2022-09-28 00:10] sstosh commented on #15952
Sure, I'll try to fix this bug.

[2022-09-28 04:44] gbraad opened #15967 "Investigate how to handle WSL2 enhancement available in the 'insiders'/store release; systemd support"
Several new features are being delivered through the Windows Store version of WSL2, as part of an insiders preview. Such as, systemd support: https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/

This means there could be two version available; the in-Windows delievered WSL binary or one provided by in-store. This might lead to inconsistencies in the deployment or co

[2022-09-28 07:29] benoitf commented on #15106
are there some plans to contribute as well the file of the new windows installer binary ? https://github.com/containers/podman/tree/main/contrib/win-installer

[2022-09-28 07:51] amokkara opened #15969 "image showing different digests when pulling and pushing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
image showing different digests when i pull it, and later when i push it to a registry, its showing different digests

**Steps to reproduce the issue:**

1. pull any image
podman pull busybox:musl

2. look at the digest of the pulled image
~/aditya-poc/acc/images# podman image list --digests
R

[2022-09-28 07:52] Aldiuser commented on #15732
Hey guys,

I had this problem too and came across a solution that solved my problem. It has to do with the DNS entry on macOS. Maybe it helps with you guys: https://github.com/helm/helm/issues/11306#issuecomment-1256745270

[2022-09-28 08:04] flouthoc commented on #15969
Hi @amokkara , I think this happens because

1. The format is switched from `docker` to `oci` when push happens.
2. If compression format is unknown `c/image` will re-compress the blobs changing the digests.

I think this should not happen if compression is known so if you pull the pushed image from registry and push it again it should not happen.

But @mtrmac can confirm my points better.

[2022-09-28 08:11] JasonCubic commented on #15950
hmm I wonder what's going on there.  I am using WSLv2 as default.

[code]

[code]

I stopped and rm'd the podman machine a few times and it always comes back to 4.19.128-microsoft-standard.  I even toggled the wsl default to 1 and then back to 2.

I have a win 11 box at home and sure enough the kernel on its `podman info` is WSL2.

Could there be a bug with podman and my version 10 of windows?  Is

[2022-09-28 08:18] amokkara commented on #15969
Hi @flouthoc
I also tried another scenario.

Dockerfile:
`# Pull base image
FROM debian:latest

# Dockerfile Maintainer
MAINTAINER Jan Wagner "waja@cyconet.org"

# Install nginx and adjust nginx config to stay in foreground
RUN apt-get update && apt-get install --no-install-recommends -y nginx; \
 echo "daemon off;" >> /etc/nginx/nginx.conf

# Expose HTTP
EXPOSE 80

# Start nginx
CMD ["/usr/sbin/n

[2022-09-28 08:29] flouthoc commented on #15969
I think in `save` and `load` the digests changes because timestamp is changed while producing the `tar`. You can use `skopeo copy` if you want to push to registry without any modifications.

[2022-09-28 08:31] vrothberg commented on #15098
I am going to close as I consider the issue to be resolved.  Thanks a lot for the discussion!

[2022-09-28 08:35] vrothberg commented on #15897
Thanks!

[2022-09-28 08:44] amokkara commented on #15969
Im using digest to verify that the image is not tampered with after pushing to registry or during pushing.
if digest keeps changing due to timestamp, then it wouldn't serve any purpose right?

[2022-09-28 08:51] vrothberg commented on #15963
What exactly?

I see `potentially insufficient UIDs or GIDs available in user namespace (requested 0:42 for /etc/gshadow): Check /etc/subuid and /etc/subgid if configured locally: lchown /etc/gshadow: invalid argument`. @chrispyatt, can you paste the output of the two files?

Cc: @giuseppe

[2022-09-28 09:53] rhatdan commented on #14594
@flouthoc Reminding

[2022-09-28 09:55] rhatdan commented on #14505
We now have healthcheck restart capability.  I believe that solves the problem.  Reopen if I am mistaken.

[2022-09-28 09:55] #14505 closed

[2022-09-28 10:40] codesuki commented on #14554
Just want to say I agree that this would be an awesome feature. It also would bring parity to builds on CI (linux) and our developer machines. We basically have the same issue with testing using containers.

[2022-09-28 11:41] maxclac commented on #14306
Hi! I would like to come back to this issue, because I am not sure it is quite solved. The image taken from docker.io is indeed pulled into the local registry but, when I try to pull again, the image is pulled again from docker.io. There is apparently no attempt to look into the local registry first.

[2022-09-28 12:13] martinpitt opened #15972 "Resolving peer pod DNS names often hangs for a long time in user mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Our service has a controller container which spawns arbitrarily many "session-123UUID" instance containers. To talk to the latter, it relies on DNS to figure out their addresses. When running in user mode, it often fails to resolve the names, and worse, it often hangs up to a minute (!) befor

[2022-09-28 12:22] diegolovison commented on #14554
Hi, you can have it working ( with docker, docker-machine and VirtualBox ) if you do the following

Create a `Vagrantfile`
[code]
[code]
In the VM, change the following to and install docker using the docs https://docs.docker.com/engine/install/fedora/
[code]
In the host machine, install
[code]
Create a generic driver
[code]
[code]

You should repeat the following everytime you reboot your MacBook

[2022-09-28 13:15] mheon commented on #15972
Seems like a potential performance issue in Aardvark? @flouthoc PTAL

[2022-09-28 13:21] mheon commented on #15963
From the `podman info` provided:
[code]

No UIDs and GIDs are allocated except for a single one. Not actually a tmpdir problem, then. Sorry @rhatdan

In my defense, that error message is not particularly readable... Maybe we should de-emphasize the ENOENT errors and emphasize the transport that actually got further and produced a unique error?

@chrispyatt Your user is most likely missing an entry

[2022-09-28 13:38] naiksujit opened #15973 "Publish signed Podman*.msi"
Many organization blocks non signed applications, including mine.

It would be great if the Podman.msi is signed and published.

I have checked recent released version and that is not signed.

[v4.2.1](https://github.com/containers/podman/releases/tag/v4.2.1)

[2022-09-28 14:05] ashley-cui commented on #15106
I can take a look and see what I can do there

[2022-09-28 14:17] ArvindGundimajalu commented on #15973
Yup, this will really help me absorb the product into my organization too.

[2022-09-28 14:25] jjenne-cisco opened #15974 "Podman load unnecessarily adds 'docker.io/library' prefix"
/kind bug

**Description**

When using podman to load an image from file, unlike docker, it will prefix the image name with `docker.io` unless the repo tag contains a dot (`.`).

**Steps to reproduce the issue:**

1. Create an image tarball, name it `<something>/<something>`
[code]

2. Load that image
[code]

**Describe the results you received:**

The image repository had been prefixed with the `

[2022-09-28 14:29] dougbreaux opened #15975 "Podman Windows, Git Bash: connection actively refused"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

From Git Bash, any podman command that needs to connect to the running machine fails

**Steps to reproduce the issue:**

1. `podman machine init`/`start`/`list` all work

2. `podman info` (or `images`, or `build`, or etc.) fails with the above error

**Describe the results you received:**

[c

[2022-09-28 14:51] iamkirkbater opened #15976 "`systemctl reboot` inside podman machine clears volume mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running podman on a new M1 mac, and I need to enable the qemu-user-static package in order to support multiple architectures of packages.  I've noticed that when I `systemctl reboot` from inside the podman machine, as the machine comes back online it does not have my defined mounts anymor

[2022-09-28 14:52] edsantiago opened #15977 "rawhide: storage-opt is doing more permanent clobbering (uidmap)"
Followup to #15698.
[code]
From this point on, nothing will ever work again with `--uidmap`, until `podman system reset`.

podman-4.3.0~rc1-1.fc38.x86_64 , kernel 6.0.0-0.rc7.47.fc38.x86_64 (also 6.0.0-0.rc6.20220922gitdc164f4fb00a.43.fc38.x86_64)

Discovered in [rawhide gating tests](https://artifacts.dev.testing-farm.io/52d9e577-abfc-40c3-a721-56e3e08fd549/work-tests.ymlrwB2Ro/tests-js6wzL/).

[2022-09-28 14:57] mheon commented on #15976
@baude @ashley-cui PTAL

[2022-09-28 14:58] mheon commented on #15975
@n1hility PTAL

[2022-09-28 14:58] mheon commented on #15974
Any chance you can try with a more recent Podman - 4.2.x being preferable? 3.4 around a year old, and a lot has happened upstream since then.

[2022-09-28 15:17] jamesmikesell opened #15980 "Easy Means of Enabling Swap Memory on Podman Machine (MacOS, maybe others)"
/kind feature

**Description**

I'm wondering if there is an easy way to enable / set swap memory on the podman machine, similar to how memory can be set during the init by using the `-m` flag.

IE Being able to do something like this:
[code]

Is there a reason swap is disabled on the underlying VM by default?

[2022-09-28 15:22] samskiter commented on #9636
I believe this issue may have regressed. I have been finding a lot of issues with caching in https://github.com/containers/podman/issues/15887

[2022-09-28 15:27] cdoern commented on #15975
could be resolved with the current code in main

[2022-09-28 15:35] flouthoc commented on #15972
Could you please let me know the netavark and aardvark versions.

I am quite sure the hang issue will be fixed by https://github.com/containers/aardvark-dns/pull/220 and https://github.com/containers/netavark/pull/375. Fix for failure of looks ups on startup was attempted here: https://github.com/containers/aardvark-dns/pull/148 and https://github.com/containers/netavark/pull/308

All of these pat

[2022-09-28 15:40] martinpitt commented on #15972
Sure! `rpm -qa|grep vark` says aardvark-dns-1.1.0-1.fc37.x86_64 and netavark-1.1.0-1.fc37.x86_64

[2022-09-28 15:52] mheon commented on #15980
@ashley-cui PTAL

[2022-09-28 15:56] amokkara commented on #15969
@mtrmac could you please provide some insight into this behavior , thanks

[2022-09-28 16:06] Luap99 commented on #15976
I think this is the expected behaviour given that we currently manually make the mount calls via ssh after start, see https://github.com/containers/podman/blob/dca5ead2d7ad8ac3b14fed6736c102b571d8baf1/pkg/machine/qemu/machine.go#L661-L690

I you want to fix this you have to mount this inside the VM on boot. I think you could create the proper systemd units via ignition or append lines to fstab. Co

[2022-09-28 16:07] Luap99 commented on #15973
@n1hility @gbraad PTAL

[2022-09-28 16:09] Luap99 commented on #15934
@giuseppe PTAL

[2022-09-28 16:35] chrispyatt commented on #15963
I have added the appropriate entry to `/etc/subuid` and `/etc/subgid` and run `podman system reset`.

I now get the following error:

[code]

Do I need to configure something else to point podman away from /var and /root for the processes mentioned in the error message?

[2022-09-28 16:40] iamkirkbater commented on #15976
Thanks for pointing me in the right direction.  I'll see what I can do with the time I have to play with this.

[2022-09-28 16:41] giuseppe commented on #15977
how is it different from #15698?

Setting the `mount_program` is a destructive operation since it changes the way the files are stored in the local storage.  If you are really sure you have not created any image with the `mount_program` set, you can manually reset the status by deleting the file `$GRAPHROOT/overlay/.has-mount-program`.

If we want to test `--storage-opt=mount_program=/bin/false` t

[2022-09-28 16:42] samskiter commented on #15887
Just wanted to highlight the podman version I'm using here - 3.4.2 - is there any reason to believe that this would be fixed in 4.2?

[2022-09-28 16:45] giuseppe commented on #15934
I think `--uidmap 1000:0:1 --gidmap 1000:0:1` is not enough since you are not mapping any user to root in the container.

Could you try something like: `--uidmap 1000:0:1 --uidmap 0:1:1`?  Tip: if `--gidmap` is not specified, then it uses the same values as `--uidmap`.

Does that make any difference?

[2022-09-28 16:51] giuseppe commented on #15963
are you running out of disk space?  Could you use a different directory for the storage (you can override with `podman --root $PATH_TO_STORAGE ...`)

[2022-09-28 17:22] reavessm opened #15983 "play kube does not expand env in command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Variables defined in the `env` section are not expanded in the `command`/`args` section.  According to [the k8s spec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#container-v1-core), env vars should be expanded using the `$(VAR_NAME)` syntax.

**Steps to reproduce the

[2022-09-28 17:29] huangzhenming commented on #15966
same issue occurred

[2022-09-28 18:48] ashley-cui commented on #14409
Do you have the docker-compose snippet I can look at? Docker doesn't support USB passthrough AFAIK, if that's what you're looking for.

[2022-09-28 19:07] ashley-cui commented on #15912
Interesting, does `podman --identity /Users/nic/.ssh/podman-machine-default` work?

[2022-09-28 19:12] eriksjolund commented on #15927
New test with Fedora CoreOS. Podman version 4.2.1.
I got the same result as before.

## test: _"podman system service"_ (via _"systemctl --user start podman.service"_)

#### test.sh

[code]

#### test_unshare.sh

Is almost the same as _test.sh_ but with an additional line

[code]

[code]

When using a sleep-value of 0 seconds, the service is _active_. I guess the service has not yet failed.
[code]

[2022-09-28 19:13] ashley-cui commented on #15886
Is this a good idea? I feel like allowing users to reset settings from another machine via an API (think in non podman-machine scenarios) feels dangerous. I'd much rather have podman machine do a `podman machine ssh podman system reset` (as a singular command, as podman machine ssh takes args).

[2022-09-28 19:24] JasonCubic commented on #15950
@n1hility Good news!  My problem is resolved.  My corp manages my os updates, but I have local admin so I was able to fix this one.  My corp had not sent out any updates to the WSL kernel.  I was using WSLv2 but, even with WSLv2 the older WSL kernel version seems to have been the issue.

If anyone else runs into this here is how I solved it:
- Was able to see the older kernel in WSL by running: `w

[2022-09-28 19:24] #15950 closed

[2022-09-28 19:27] rhatdan commented on #15887
There are lots of changes and fixes in each release, so I guess it is worth a try.

[2022-09-28 19:27] ashley-cui commented on #15818
Hmm, I'm unable to reproduce.

acui@Ashleys-Mini ~ % podman -v
podman version 4.2.1
acui@Ashleys-Mini ~ % echo hello | podman run --attach stdout -i --rm alpine:latest wc -c
6
acui@Ashleys-Mini ~ % echo hello | podman run --attach stdout -i --rm alpine:latest cat
hello

[2022-09-28 19:30] ashley-cui commented on #15732
Since it seems to be working after a clean re-install, I'm going to close this issue.

[2022-09-28 19:30] #15732 closed

[2022-09-28 20:10] rhatdan commented on #15983
Are you sure your YAML file was correct.  I did the following and it worked correctly for me.

[code]

[2022-09-28 23:12] #15913 closed

[2022-09-28 23:38] #15886 closed

[2022-09-29 00:24] YevheniiPokhvalii commented on #1916
My `/etc/containers/storage.conf` in Ubuntu WSL2 is empty.

[2022-09-29 00:32] n1hility commented on #15118
I wasn’t able to reproduce this one with current releases, so I suspect this issue is no longer present, feel free to reopen if it pops up again.

[2022-09-29 00:32] #15118 closed

[2022-09-29 02:51] Taymindis opened #15986 "podman custom dns resolving bad address on and off on MAC"
Running simple custom resolving via using podman, tested `containerd` and `docker` has no issue at all.

[code]

Even run on dns 8.8.8.8 also having bad address

[code]

### and the podman machine seemed quite heavy , trying to stop it but hang.

[code]

This simple benchmark test has been verified  from docker and containerd and both are working fine ..

[2022-09-29 04:27] mheon commented on #15986
Can you provide further context here - what is Podman doing/not doing? I assume that the `ping` is supposed to succeed - is this intermittent or does it happen every time? More details are required.

Also, please follow the issue template. We need a full `podman info` and `podman version` to be able to debug.

[2022-09-29 04:30] mheon commented on #15886
The request from the desktop team was a way to "factory reset" a VM that is having problems. In that context, it seems reasonable to expose some way to do this - unless we want to require something like `podman machine ssh podman system reset`

[2022-09-29 05:19] amokkara commented on #15969
i tried with latest version of podman 4.3.0-dev
seeing same behavior. Digests are different after save and load from tar file.
and after pushing to repo

[2022-09-29 05:34] Taymindis commented on #15986
Yup, it is intermittent.

podman info

[code]
podman version

[code]

[2022-09-29 08:00] zhangguanzhang commented on #15983
k8s downward API does not support all the word

[2022-09-29 08:35] vrothberg commented on #15974
When using docker, `abc/def` implies `docker.io`:
[code]

You can still refer to the image as `abc/def` in Podman.

Besides the expectation/surprise, is there a specific use case that would break?

At the current time, I see it as expected behavior and not as a bug. But I may be missing a nuance.

[2022-09-29 08:41] vrothberg commented on #15983
Can you elaborate on that?  I am not sure whether you think Podman behaves correctly or not.

[2022-09-29 09:18] vrothberg opened #15989 "podman images on Quay lack documentation"
The official [Podman images on Quay](https://quay.io/repository/containers/podman?tab=info) lack documentation on how to use them.

I miss some text on how to use them in a specific context. Ideally something to copy-paste. Likely the Skopeo and Buildah images have the same issue.

cc: @cevich @rhatdan @TomSweeneyRedHat

[2022-09-29 09:35] zhangguanzhang commented on #15983
[code]

[2022-09-29 09:56] jjenne-cisco commented on #15974
Thanks for taking a look!

I think what I'd say here is that docker implies the default registry at the time of the `push` (which I think is right), whereas podman defaults to it in the local registry, making the output of `podman images` misleading.

My concern would be in our use case:
* we distribute a file unrelated to a registry `abc/def`
* load it with `podman load -i`
* `podman images` indi

[2022-09-29 10:08] vrothberg commented on #15974
Thanks for elaborating, @jjenne-cisco.

Yes, there is a difference between the two tools.  I am personally not a fan of the implicit `localhost/` prefix but we need to keep it for backwards compatibility.  Short names (or not fully-qualified image names) are a main difference in how Podman and Docker handle images (more on that in https://www.redhat.com/sysadmin/container-image-short-names).

In t

[2022-09-29 10:35] rhatdan commented on #1916
Check /usr/share/containers/storage.conf

[2022-09-29 10:45] na0x2c6 commented on #15818
@ashley-cui
Thank you for confirming the operation and for your reply. It seems that this problem occurs when certain conditions are met using [tmux](https://github.com/tmux/tmux).

In some cases, when I used pipe, the tty handling did not seem to work. Once I dropped all tmux sessions, it did not reproduce anymore, so I will close this issue. Sorry for the trouble. Thank you very much.

[2022-09-29 10:45] #15818 closed

[2022-09-29 10:47] jjenne-cisco commented on #15974
Ok great, thanks for your help. I should have checked the `new-img.tar` manifest.

So it looks like my issue is with `skopeo` then. The `localhost/` prefix, though unfortunate, at least doesn't imply a remote registry in my use case.

Out of interest, is there any way to load an image from file without that backwards-compatible prefix? CLI flag or environment variable? Other than that I'm happy to

[2022-09-29 10:59] vrothberg commented on #15974
No worries at all.  There are rabbit holes all over the place w.r.t. to name resolution and normalization. `docker images`, for instance, would hide `docker.io` from the output entirely.

`localhost/` is special in the sense that it can be "just a local" image or refer to an image on registry running on `localhost` which is a valid use case as well.

In theory, `containers/storage` can store image

[2022-09-29 11:19] edsantiago commented on #15977
We have fundamentally irreconcilable differences that cannot be resolved, so I yield. #15981 (merged) removes my use of `--storage-opt` from system tests. May this issue serve as a warning to other curious humans: NEVER EVER PLAY WITH PODMAN OPTIONS. They may destroy your system in unpredictable ways.

[2022-09-29 11:19] #15977 closed

[2022-09-29 11:22] #15952 closed

[2022-09-29 11:35] reavessm commented on #15983
I just copied the yaml from @zhangguanzhang 's link and this is what I get:

[code]

meanwhile, this is the expected output according to the docs:

[code]

(note: PROTOCOL is supposed to be unexpanded due to the ordering of the env, but things like SERVICE_IP should be expanded and are not).

[2022-09-29 11:46] edsantiago opened #15990 "CI Flake: podman system prune networks: expected string length 1"
This _probably_ falls under #14173, but it's hitting us hard so it deserves extra scrutiny:
[code]
### Podman prune [It] podman system prune networks
* fedora-36 : int podman fedora-36 root container
  * PR #15753
    * [09-12 17:33](https://api.cirrus-ci.com/v1/artifact/task/5662936743018496/html/int-podman-fedora-36-root-container.log.html#t--podman-system-prune-networks--1)
  * PR #15634
    *

[2022-09-29 12:30] nictownsend commented on #15912
[code]

[2022-09-29 12:31] miyao-kota opened #15993 "Unable to pull images on private container registry."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to pull an image on a private container registry with a worker node, I get the following error message and cannot pull the image.

**Steps to reproduce the issue:**

1.Pull the private container registry image (registry:2.8.0) and start it with the private container registry server

[2022-09-29 12:33] Luap99 commented on #15990
This is not related to #14173 in any way.

Given that this is a flake I suspect the problem is in the test and not podman. The test uses a shared network config dir so any other parallel running test could remove it and cause this test to flake.

[2022-09-29 12:41] brainbytes42 commented on #14698
(I'm not sure if this is exactly the same issue - but maybe someone can tell?)

We're trying to run podman (v. 4.2.1) on a development-machine running Windows *without internet connection*. (We push files only manually.)
Even when using a local --image-path, it wouldn't work, as it tries to download several packages.

Any help how to use *completely offline* on Windows would be much appreciated. T

[2022-09-29 13:15] vrothberg commented on #15993
Thanks for reaching out, @miyao-kota.

Do you get this error for all images? Can you try with a newer version of Podman?

[2022-09-29 13:20] mheon commented on #14698
That sounds like it would be worth a fresh discussion, please open one

[2022-09-29 13:25] ashley-cui commented on #15886
I'd be okay with something like a podman machine reset command, but that would literally just be a wrapper around `podman machine ssh podman system reset`, which seems like a reasonable command to just run from desktop

[2022-09-29 13:26] ashley-cui commented on #15912
Hmm, I'm unable to reproduce at all. This looks like either an issue with ssh, or something maybe a fresh install of podman would help.

[2022-09-29 13:37] mheon commented on #15986
@flouthoc PTAL

[2022-09-29 13:56] amokkara commented on #15969
@flouthoc no response from @mtrmac , could you please tag anyone else who can throw some insight on this. Thank you

[2022-09-29 14:21] brainbytes42 opened #15995 "Create Image without Internet connection on Windows"
_[Thanks @mheon for your quick reply @ [#14698](https://github.com/containers/podman/issues/14698#issuecomment-1262272190)!]_

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug   (... I think?)

**Description**

We're trying to run podman (v. 4.2.1) on a development-machine running Windows 10 / WSL *without internet connection*. (We can push files only manual

[2022-09-29 14:28] baude commented on #15886
what does factory reset mean? the contents of the vm are reset or the vm itself is reset?

[2022-09-29 14:34] benoitf commented on #15886
From a 'Client' point of view, after the reset, everything should work again and it includes data loss.

It may include a podman reset or a vm reset as well. (Sometimes podman machine is not starting anymore so podman machine ssh will hang as well as the machine is not responding)

so it may be:
if machine is responding: try to to do the system reset
if machine is not responding: wipe content or r

[2022-09-29 14:36] Luap99 commented on #15986
Did you only test this on podman-machine? If so can you try this on an actual linux system with proper networking.

If you set your dns with `--dns 192.168.1.200` podman should not do anything special other than settings this entry in `/etc/resolv.conf`. Did you check the network requests  with something like `tcpdump`?

[2022-09-29 14:40] jelly commented on #15408
Actually sorry, this might be a cockpit-podman bug...

[code]

[2022-09-29 14:46] lsm5 opened #15997 "gitlab runner issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have followed the steps for enabling podman as a gitlab runner on gitlab.com. `podman.socket` is enabled and active yet new jobs consistently fail.

Now, if I run a `systemctl --user status podman.socket` and then try the CI jobs again, they pass. But the error comes back for the next hourl

[2022-09-29 14:58] afbjorklund commented on #15976
The implementation assumes "stop" and "start", someone converted the ssh commands to a systemd service which would make it run in boot. Possibly making it harder to mount and umount while running ?

[2022-09-29 15:09] mtrmac commented on #15969
This is fundamentally how it works. The digests validate a specific image _representation_, not some abstract “sameness” of an image.

If you want to preserve the digest, you must preserve the original image representation. That means no `pull`+`push` round-trips (which, in general, recompress, and make different compression choices and create different but streams), no `save`+`load` (which don’t

[2022-09-29 15:36] edsantiago commented on #15944
A lot of historical issues suggest that this is how podman says "out of disk space". Is it possible to check `df` on the new f37 VM?

[2022-09-29 16:15] Luap99 commented on #15997
Can you check `systemctl --user status podman.service`, maybe the podman system service process itself is broken and not accepting new connections?

[2022-09-29 16:18] mtrmac commented on #15974
No; code all over enforces that `storage.Image.Names` has semantics as per `reference.ParseNormalizedNamed`, i.e. a registry is always specified (even if possibly only implied). That’s basically why we have the `localhost/` prefix for names where a registry is not implied.

---

See https://github.com/containers/image/blob/3a6e77d3097cb9982054ca7b282708c47e01e3e7/docker/internal/tarfile/writer.go#

[2022-09-29 16:30] #15990 closed

[2022-09-29 16:48] amokkara commented on #15969
@mtrmac thanks for the detailed explanation! Would you by any chance know how docker does this? Any operation on an image doesnt change the digest of the image when using docker.

[2022-09-29 17:06] mtrmac commented on #15969
That’s just not true; `docker pull` + `docker push` _will_, eventually, change the digest.

Anyone can get lucky, at a specific time, when the specific compression implementation used during push is exactly the same as the one creating the pulled version, and makes exactly the same compression choices. And that will break when that implementation is updated or chooses to make different choices.

[2022-09-29 17:35] amokkara commented on #15969
We have a process where we save image to tar file and load the image from tar file in another machine n push it to a registry of our choice.
Them we verify image in registry has same digest as the one before it's saved to tar file.
We can't get lucky every time and that too in an automated process. May be docker has fixed compression process? Need to dig further

[2022-09-29 17:40] jbhrfx9280 opened #16000 "VS Code : "Remote DEV to podman" errors and "Attach to running container" not working."
**BUG REPORT **

/Access - unable to use vs code with remote podman RHEL platform

/Remote-Containers: Attach to running Container
/Remote-Container: Add Development Container Configuration Files

**Description**
VSC not work with remote RHEL 9 / podman server.
“Remote-Containers: Attach to running Container”
“Remote-Container: Add Development Container Configuration Files”

**Steps to reproduce t

[2022-09-29 17:48] mheon commented on #16000
Any chance you can provide logs from the Podman API service?

[2022-09-29 18:04] cevich commented on #15944
CI captures df output at the end of the integration (and system?) task, but doesn't log it during.  That said, the VMs should start with 80+ GB free space, but it's possible the disk expansion mechanism broke...

[2022-09-29 18:06] cevich commented on #15944
...heh, no I[ don't think this is the problem](https://cirrus-ci.com/task/5213415214940160?logs=df#L3-L9) (df output), but it was wise to suggest checking, thanks!

[code]

[2022-09-29 18:10] cevich commented on #15944
This part of the error is curious:

[code]

Maybe something changed in go-land (`archive/tar` presumably) that removed some former "un-gzip it first" behavior?

@mtrmac knows about image stuff...does this ring any bells for you?

[2022-09-29 18:11] #15969 closed

[2022-09-29 18:14] cevich commented on #15989
Hey! At least they have ***SOME*** documentation :rofl:

I think I can remedy this pretty easily by just linking to the "how to use" sections of the relevant READMEs.

[2022-09-29 18:17] cevich commented on #15989
Ha! The description thingy supports markdown.  So I just copy-pasted the README.  I'll do the same for Skopeo and Buildah.

[2022-09-29 18:18] mtrmac commented on #15944
It doesn’t really ring any bells, and I don’t much understand how changing the build environment (without changing the Podman or c/image codebase at all, AFAICS) could make a difference here.

If I had to _guess_, missing `gzip` command in the image?

[2022-09-29 18:29] rhatdan commented on #16000
Were you volume mounting in /root or is this failing inside of the container?

[2022-09-29 18:41] jbhrfx9280 commented on #16000
There are 2 issues.
1. cannot create podman dev container on my linux server using vsc.

2: cannot attach to running podman container using vsc.

That's basically it.
John

On Thu, Sep 29, 2022, 1:35 PM John H ***@***.***> wrote:

[2022-09-29 18:46] cevich commented on #15989
Speaking of docs....I found (to my surprise) [some docs on the quay API.](https://docs.projectquay.io/api_quay.html)  Browsing through the Swagger quickly, [there is a call for updating the description.]https://docs.quay.io/api/swagger/#!/repository/updateRepo): `PUT /api/v1/repository/{repository}`.  I'll open a Jira card to add this into our build automation.

[2022-09-29 18:59] edsantiago commented on #15944
No, it's not missing gzip. I would go as far as to say that a UNIX system without gzip is impossible in 2022.

This reproduces super-trivially:
[code]
podman-4.3.0~rc1-1.fc37.x86_64
gzip-1.12-2.fc37.x86_64

[2022-09-29 19:05] cevich commented on #15944
Damn...well that probably rules out easy fixes I can do.

[2022-09-29 19:05] iamkirkbater commented on #15976
I'm sorry, I'm not quite sure I'm following that last comment.  So the implementation is designed for a physical `podman machine stop && podman machine start` I think I understand that part.  I'm not quite understanding the second part of that.  Do you mean to say that someone deviated from the original intention, or that someone _could_ deviate from the original intention by using the systemd ser

[2022-09-29 19:09] edsantiago commented on #15944
Fails even with [gzip-1.11-1.fc36.x86_64](https://koji.fedoraproject.org/koji/buildinfo?buildID=1847496). Fails with podman-4.2.1-2.fc37.x86_64. Fails with podman built from source.

[2022-09-29 19:13] cevich commented on #15944
Should we be asking: How did this ever pass?  Maybe the test was disabled and recently re-enabled by accident or fluke?

[2022-09-29 19:16] mtrmac commented on #15944
You’re right, this is clearly broken in c/image. Looking…

[2022-09-29 19:17] edsantiago commented on #15944
It passed because we don't do CI on f37, and `e2e` tests don't run as part of Fedora gating, only system tests. (Oh hi. This is me with a friendly reminder that `test/system` exists and feels neglected). So, something changed in f37, and the question is, what?

[2022-09-29 19:21] cevich commented on #15944
For context, I caught this in the e2e tests.  What I meant in my comment above is...if it's a problem in the podman code (or a dependency), it seems strange it's been passing all along in F36.  Since it has been, the problem must somehow be influenced by both the code *AND* the environment...which is hard to put my head around (in the context of the error).

[2022-09-29 19:22] edsantiago commented on #15944
@mtrmac I wouldn't be so sure it's `c/image`. podman @ main on my f36 laptop passes happily. Only f37 fails. This strongly smells like a problem in f37.

[2022-09-29 19:24] cevich commented on #15944
Does c/image interact with the system's gzip/tar or kernel in some way?  Oof.  I'm glad Dr. Miloslav is on the case :grinning:

[2022-09-29 19:35] mtrmac commented on #15944
Looking at the generated file, it seems almost exactly the first 1 MB of the decompressed data is just missing.

Replacing the use of `github.com/klauspost/pgzip` with standard library’s `compress/gzip` makes things work.

[2022-09-29 19:36] edsantiago commented on #15944
No difference if I downgrade to [glibc-2.35.9000-32.fc37.x86_64](https://koji.fedoraproject.org/koji/buildinfo?buildID=2038005), `make clean`, and `make`.

Here's the last bit of `strace`:
[code]

[2022-09-29 19:41] mtrmac commented on #15944
@edsantiago There’s a bit of confusing Podman behavior: “payload does not match any of the supported image formats:” i.e. it blindly tries four different formats. The last one is definitely going to fail like that; we are interested in the `docker-archive:` failure.

[2022-09-29 19:45] edsantiago commented on #15944
Huh... okay, trimmed a little, istm that the untar is failing:
[code]

[2022-09-29 19:51] dancohen21 commented on #15966
Update - uninstalled 4.3 and reinstalled 4.2.1 and error went away

[2022-09-29 19:58] mtrmac commented on #15944
My current hypothesis is that this is Go 1.19 and

triggering a bug in pgzip’s `WriteTo`.

Would it be trivially easy to try downgrading to Go 1.18 to see if that makes a difference? (If not, don’t do anything complicated, I can continue working from my end.)

[2022-09-29 20:05] edsantiago commented on #15944
Oh, good thinking. With [golang-1.18.4-1.fc37.x86_64](https://koji.fedoraproject.org/koji/buildinfo?buildID=2001234) it works again.

[2022-09-29 20:06] YevheniiPokhvalii commented on #1916
No such file

[2022-09-29 20:12] cevich commented on #15944
Downgrading in CI is a "hard sell" for me with the F37 images.  I feel it's important that we're running the newer/native distro toolchain to catch things like this (since it will be used at rpmbuild time).  I'm okay with leaving the test `skip()` in place for now, though the underlying issue will certainly affect end-users of F37 in a few weeks time if it's not fixed :cry:

@mtrmac is this going

[2022-09-29 20:14] edsantiago commented on #15944
Seems like the obvious solution is to fix `pgzip`. I trust that is what @mtrmac's first approach will be.

[2022-09-29 20:26] YevheniiPokhvalii opened #16003 "How to use docker images from Docker Desktop on WSL2 using podman?"
I am totally new to podman and I'm trying to move from docker to podman on WSL2, because podman does not depend on the deamon.
What I discovered is that podman uses user HOME folder to store images and containers there.
By default:
[code]
I managed to locate Docker Desktop images in:
[code]

I found somewhere in the internet that you can indicate the path to images to podman with something like th

[2022-09-29 20:31] YevheniiPokhvalii commented on #15912
The latest `podman` from Linuxbrew even cannot be run on my system. Homebrew just does not install the executable in the bin directory. Restarting the terminal did not help.

[2022-09-29 20:37] mtrmac commented on #15944
I think the ultimately correct fix will be some variant of https://github.com/klauspost/pgzip/pull/50 . There might be smaller workarounds we can do with more confidence in the meantime (e.g. wrap the code to make the `WriteTo` method unreachable, falling back to the pre-Go 1.19 code path).

FYI @mheon — current Podman is succeeding in tests, but `podman load` is broken when compiled with Go 1.19