[2022-06-30 07:31] flouthoc commented on #14780
Hi @sebastien-coavoux , Thanks for creating the issue.

For the 1st part i,e panic in podman i think issue is with older libnetwork could you please try using newer version. @Luap99 Could confirm this better.

For the 2nd part I don't think `dns` in supported on default network i.e network : `podman` see https://github.com/containers/podman/blob/main/docs/tutorials/basic_networking.md#default-netw

[2022-06-30 07:34] flouthoc commented on #14779
Hi @nathanpeck Thanks for creating the issues.

To me issue looks duplicate of https://github.com/containers/buildah/issues/3866 and `podman push --digestfile` should be useful for such cases.

[2022-06-30 07:39] saschagrunert opened #14784 "Replace `github.com/pkg/errors` dependency with native error wrapping"
The package `github.com/pkg/errors` is now in maintenance mode due to the existence of golang native error wrapping. The goal is to do that on a package-by-package basis, where everyone is welcome to contribute.

#### Conversion rules

- use the `errors` import in favor of `github.com/pkg/errors`
- convert `errors.Errorf` to `fmt.Errorf`
- convert `errors.Wrap(err, "…")` to `fmt.Errorf("…: %w", er

[2022-06-30 08:01] Luap99 commented on #14780
There is no panic. This is a simple stack trace from the error which is the normal behaviour on log level trace.

@flouthoc dns can/should work on any network when the setting is turned on

Both issues are likely the same, the problem is that podman cannot see the networks in the rootless netns which is weird.
Please run `podman unshare --rootless-netns` and check if the `$HOME/.local/share/contai

[2022-06-30 08:02] 1player commented on #14573
But how would this happen?

[2022-06-30 08:03] giuseppe commented on #14573
`docker run --privileged -p 8888:8888 quay.io/podman/stable:latest podman system service --time=0 tcp://0.0.0.0:8888`

The nested `podman system service` is running in the root cgroup

[2022-06-30 08:10] jkroon81 opened #14786 "When using :z mount option, avoid relabeling files with lsetxattr() unless required"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using ":z" mount option, podman will recursively relabel the SELinux context of all mounted files, causing the "Change" timestamp to be updated, even if the files would have the correct SELinux context to begin with. This is not so great since it tricks tools like git/gitk into thinking

[2022-06-30 08:35] vrothberg commented on #14784
@mtrmac, FYI.  I recall you had some thoughts on replacing `errors.Cause` and `errors.Is` but I may be wrong.

[2022-06-30 08:43] vrothberg commented on #14264
Apologies, I didn't mean to but clicked on the wrong button.

Things have to be maintained and new feature requests will fly in once a command is there while time is limited.  Weighing the cost-benefit ratio is challenging.

I generally prefer keeping things small.  But that does not mean the feature won't happen :)

[2022-06-30 08:55] giuseppe commented on #14573
Podman could do that automatically, but I'd prefer to avoid the cost of reading and parsing `/proc/self/cgroup` for every Podman invocation, since it is a rare corner case.

Maybe we could do that just for `podman system service`

[2022-06-30 09:04] geekerNo1 commented on #14781
Hi @flouthoc Thanks for you reply.

`/tmp/abcd` is a path on host, not a volume. I confuse those two. Sorry about that mistake.

I attempt to use `podman` instead of `docker` on rhel8. I want to use command `podman -v /tmp/abcd:/tmp/test` to instead of docker command `docker -v /tmp/abcd:/tmp:test`.
If the path `/tmp/test` is not exists on host
1. run command `podman -v /tmp/abcd:/tmp/test`, it wi

[2022-06-30 09:04] vrothberg commented on #14773
@flouthoc can you take a look?  The reproducer does not build on my end.

[2022-06-30 09:11] flouthoc commented on #14781
@geekerNo1 Thanks for making it clear. I can also confirm `docker` creates path on host if it does not exists and i think in such case podman should do the same.

[2022-06-30 09:12] giuseppe commented on #14786
it adds a cost for the general use case where the files have the wrong label.  We'd have first to first to read the extended attribute and then overwrite it.  Can't it be addressed outside of Podman and then just use the volume without relabelling?

[2022-06-30 09:16] giuseppe commented on #14781
I think the Podman behavior is saner.  It helps to find out typos more easily. e.g. something like `mkdir /tmp/foo; podman run -v /tmp/fo:/foo ...` would not be easily detected if Podman would automatically create the directory.

[2022-06-30 09:16] Luap99 commented on #14781
This was discussed before and we (Podman maintainers) think this is a bug. What if you have a typo now podman creates a new empty directory and does not use the one you intended or what if you want to bind mount a file and the file simply does not exists?

[2022-06-30 09:26] jkroon81 commented on #14786
Is it really true that the "general" case is that they have the wrong label ? At least in my case, where I run podman multiple times with the same "environment", it is only the first run that actually changes the file selinux contexts. I don't modify them outside of podman. Sure, it can be addressed outside of podman, but having podman do the check would relieve the user from taking on that respon

[2022-06-30 09:26] Luap99 commented on #14781
Also see https://github.com/containers/podman/issues/10471 and https://github.com/containers/podman/issues/6234
I know that there are more issues with more discussion about this but I cannot find them right now.

Anyway this is something we decided not to do.

[2022-06-30 09:27] vrothberg commented on #14781
All of them are closed and the docs seem to wrong. I suggest reopening and reflecting the reasoning in the docs.

[2022-06-30 09:37] vrothberg commented on #14781
See the issue description.  The doc also states "If no such named volume exists, Podman will create one".  The two conflict and if users look for that information they will very likely stop reading at some point.

[2022-06-30 09:42] Luap99 commented on #14768
Adding new commands to modify existing networks sounds very hard to support and not something I would recommend anyone to do. If you have running containers on the network things can go bad quickly if you modify it (same if you modify it in containers.conf).

Adding a new `default_ipv6_subnet` field to containers.conf make sense but I do not like adding fields for all settings, e.g. dns.

[2022-06-30 09:43] jkroon81 commented on #14786
And if I understand correctly, it would only add an additional cost the *first* time, when it is doing the relabeling. Subsequent runs would just read the context, which I guess would be slightly cheaper than updating the new context all the time.

[2022-06-30 09:50] giuseppe commented on #14573
I am mostly worried about network file systems (e.g. a volume on NFS) where reading the xattr could add a significant cost.

[2022-06-30 10:10] coiby commented on #14767
@rhatdan According to https://github.com/coiby/kexec-tools/runs/7105084564?check_suite_focus=true, Github Action specify `--config` when logging into ghcr.io and then pulling image,
[code]

Note one weird thing is `/home/test/actions-runner/_work/_temp/.docker_696612a3-8386-4209-b1f6-e04558b8d04f` is empty.

If I simply ignore `--config` in `/usr/bin/docker`,
[code]

Github Action could continue.

[2022-06-30 10:33] Eugeny commented on #11594
still happening on root containers with podman 4.1.0:

[code]

[2022-06-30 10:50] 1player commented on #13309
Any update?

[2022-06-30 11:03] rhatdan commented on #14781
Podman is working correctly.  We should NOT create the source directory. Docker might do this but I see it as a bug.
Would you expect `mount -o bind /tmp/abcd /mnt` to create /tmp/abcd?

If the docs say that we create the source directory then the docs need to be fixed.
If Docker has bad design or what we feel is clearly a bug easily remedied by the user, then we should not implement the bug for c

[2022-06-30 11:05] rhatdan commented on #14573
Seems like doing it for podman system service, makes the most sense.

[2022-06-30 11:13] rhatdan commented on #13309
@ashley-cui @umohnani8 @mheon @vrothberg can we get an intern to work on this, or someone else take it.

[2022-06-30 11:24] vrothberg commented on #13309
I suggest moving Kube-related issues up the priority list as discussed yesterday during planning. Probably worth creating an epic for it.

[2022-06-30 11:42] flouthoc commented on #14773
I'll check this thanks. Looks like issue is with using `--platform` and run together.

[2022-06-30 12:42] jainamtrivedi-crest commented on #14714
Adding mentioned lines from commit resolved the issue for now, thanks.
I see the PR merged in main branch but have you shipped this? if yes then which version includes these changes?

[2022-06-30 12:43] #14714 closed

[2022-06-30 12:44] phracek commented on #14750
Although I am connected to VPN, it does not work.
By VM you mean `podman-machine-default`?

[code]
In /etc/resolv.conf is not mentioned ipa.redhat.com:

[code]

[2022-06-30 12:45] Luap99 commented on #14410
Since I did not get any feedback I am closing this one.

[2022-06-30 12:45] #14410 closed

[2022-06-30 12:47] phracek commented on #14750
Only for sure, on the host, in my case MacBook I am able to get kerberos ticket.

[code]

[2022-06-30 12:51] rhatdan commented on #13784
I think the default of none does make sense.

@gbraad @baude WDYT?

[2022-06-30 12:53] giuseppe commented on #14573
PR here: https://github.com/containers/podman/pull/14787

[2022-06-30 12:56] rhatdan commented on #14769
I took a quick look at this.  @jakecorrenti is correct the exporting of these flags is the problem  The problem is the func
Size and Reclaimable which return Human readable content for non JSON output is conflicting with Size and Reclaimable in the structure.  Sadly I have no idea how to fix this.
@jwhonce Ideas?
Bottom line we want json to reflect raw data and all other --formats to print human r

[2022-06-30 13:07] vrothberg commented on #14781
Reopening as the docs should be less confusing.

[2022-06-30 13:09] giuseppe commented on #14786
maybe we could just check the root mount, if the label is wrong, then we assume it was never relabelled and we always setxattr, as we do now.  Instead if the root mount has the correct label, we assume it was already relabelled and we can enter the new mode where we do a getxattr first.

[2022-06-30 13:21] sebastien-coavoux commented on #14780
Good news, I have a workaround !

@Luap99 the rootless-netns shell made me realize that it was not able to access $HOME in it. This is because that use has an "exotic" home in `/var/lib/deploy` . Creating a `seb` user with defaults worked well.

Not sure if there is a fix to have in podman like add a warning. Maybe a simple note in the doc saying "home directory should / should not be X" ?

[2022-06-30 13:24] rhatdan commented on #14750
I have no idea, but this seems to have something to do with the internal networking of the VM not seeing the server for some reason.

You could try --network=host on your container to see if that works better.

[2022-06-30 13:29] rhatdan commented on #14786
We should do this at the Podman side not in go-selinux.

[2022-06-30 13:30] rhatdan commented on #14786
This does leave the risk, that files under the top level directory are mislabeled, and :z will not fix.  But I think this is reasonable to allow.

[2022-06-30 13:35] rhatdan commented on #14786
In Podman we are already doing this here:

[2022-06-30 13:37] rhatdan commented on #14786
I can update my PR for goselinux with your improvement.

[2022-06-30 13:38] giuseppe commented on #14786
but that doesn't cover bind mounts that are used by different containers.

Said so, I'd personally leave it as it is now, if you specify `:z` then you get the files relabelled.

The user could also fix it with something like `podman run -v $PATH:/foo:z alpine true` to relabel the path then always use it without `:z`.

[2022-06-30 13:50] geekerNo1 commented on #14781
Thanks all helps! Now I got it. Close the issue.

[2022-06-30 13:50] geekerNo1 commented on #14781
Thanks all helps! Now I got it. Close the issue.

[2022-06-30 13:53] kgibm commented on #14773
One odd wrinkle as per point 6 in the description is that `--platform` and `podman run` together work fine for a well-known remote manifest list (`fedora`). Maybe the locally built `localhost/test` is being evaluated as an image instead of a manifest list, or something like that.

[2022-06-30 14:01] kgibm commented on #14763
@flouthoc thx!

[2022-06-30 14:09] jkroon81 commented on #14786
Assuming I understood the comment above, with the suggested "new" mode suggested by Giuseppe, why would :z not relabel files under the top level directory ?

[2022-06-30 14:11] jkroon81 commented on #14786
Looking at the increased complexity introduced by the proposed patches, I'd say it is a small price to pay for relieving the user from having to remember whether or not he has run podman with :z at some point before.

[2022-06-30 14:14] rhatdan commented on #14786
New mode by Giuseppe will update labels. if they are different.

[2022-06-30 15:43] bioinfornatics opened #14790 "Unable to use nmcli inside podman container"
Dear podman team,
I tried to replicate docker solution to podman in order to be able to use nmcli
Thus I have this

[code]

Thanks for your help

Best regards

[2022-06-30 16:09] #14573 closed

[2022-06-30 16:15] mtrmac commented on #14784
Note the existence of an automated tool described in https://github.com/sigstore/rekor/pull/834#issue-1242258470 (I haven’t looked at how/whether it works, at least that PR looks good).

[2022-06-30 16:27] mtrmac commented on #14784
In principle: pkg/errors is an archived repo, so I very much support the general effort of migrating away.

---

Concerns:
- `errors.Cause` does not have an exact replacement. `errors.Cause` goes all the way to the bottom of the `pkg/errors` cause stack, and returns that one error to be compared; `errors.Is`/`errors.As` succeeds if anything on the cause stack matches. (The latter behavior is almos

[2022-06-30 17:19] rhatdan commented on #14784
I think as long as we go through Podman->Buildah->Common->image->storage we should be fine.

[2022-06-30 17:35] akiross opened #14791 "Resume where left off after `podman pull` fails due to missing space"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

While trying to pull a 12GB image, the storage space filled up completely after all the blobs were downloaded, but before the `podman pull` was complete; after the operation, all the downloaded blobs were removed and a subsequent `podman pull` had to restart the download. This is inconven

[2022-06-30 18:36] ebryerwork opened #14792 "group-add=keep-groups not leaking supplementary group"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am not able to leak my supplementary groups into a rootless container. I can preserve the primary group and user id, but not the secondary groups.

**Steps to reproduce the issue:**

1.
$ id
uid=1000(foo) gid=1001(foo) groups=1001(foo),495(graphite)
$ podman run --userns=keep-id --group-add=

[2022-06-30 18:56] phvajjha commented on #14155
I had the same problem. I have been using WSL for a while now with multiple machines. Moved from WSL1 to WSL2. Did not realize that the default was still set to WSL1. Thanks for the tip!

[2022-06-30 20:12] rhatdan commented on #14792
Are you sure groups combines the two NOBODY together.

Try running sleep inside of a container and then look at /proc/$PID/status of the container where $PID is a process inside of the container, and see if the groups are there.

[2022-06-30 20:26] ebryerwork commented on #14792
I stated my question poorly. Outside the container
[code]
Inside the container
[code]
Inside should show the group on file group_swst as "swst" and the group on file graphite as "graphite".

[2022-06-30 21:26] giuseppe commented on #14792
[code]

The secondary groups are not mapped inside the user namespace.  So when you are inside the user namespace, these groups do not exist and the kernel maps them to the overflow gid (by default the nobody user).

If you look from the outside then they exist because they are known in the host environment.

The kernel will use them to validate access to the file system.

[2022-06-30 21:29] ebryerwork commented on #14792
Right, but I'm using
[code]
Shouldn't that leak the secondary groups into the container?

[2022-07-01 01:45] computator opened #14797 "Using '.' for overlay mount source is broken"
/kind bug

**Description**

Using `.`  to specify the current directory as the source for a volume breaks when marking the volume as an overlay mount. It seems to be resolving the working directory at a different time in the process and using the container's internal `userdata` directory instead.

**Example:**

Start (on host):
[code]
Normal volume (correct):
[code]
Overlay volume (broken):
[code]

[2022-07-01 05:14] xiaoyar commented on #14768
Okay, let's give up the idea to introduce a new `podman network` sub command to modify existing networks.

Any other approach, other than adding a new `default_ipv6_subnet` option in containers.conf, besides manually generating/editing network config file of default network, any other approach, to make default network properly support dual stack?

[2022-07-01 07:08] 839735495 commented on #14747
Hi @Luap99,

If we want to enable dual stack for podman default network when the backend is CNI, we have to create a conflist file under /etc/cni/net.d/.
But in this file, there are a lot of parameters which I don't concern, such as the "cniVersion". Also, the 87-podman-bridge.conflist not there after rpm installed successfully.
So, I have to create an unused network using "podman create network t

[2022-07-01 07:29] giuseppe commented on #14797
@flouthoc PTAL

[2022-07-01 07:44] giuseppe commented on #14792
it does.

But you cannot see them when you are in the user namespace, because these GIDs do not exist there.  You need to inspect the process from the host.  The easiest way is to look at the `Groups` field in the `/proc/$CONTAINER_PID/status` file

[2022-07-01 11:14] rhatdan commented on #14792
We need to fix podman top $CID HGROUP

[2022-07-01 11:14] rhatdan commented on #14792
@vrothberg ^^

[2022-07-01 11:32] rhatdan commented on #14396
Is this still an open issue?

[2022-07-01 11:32] rhatdan commented on #13461
@karthikelango137 Any progress or should I assign this to someone else?

[2022-07-01 11:33] rhatdan commented on #13342
@flouthoc ptal

[2022-07-01 11:46] Luap99 commented on #13342
FYI I asked upstream https://github.com/go-swagger/go-swagger/discussions/2770 but no answer yet.

[2022-07-01 11:47] vrothberg commented on #14790
Thanks for reaching out, @bioinfornatics!

Please make sure to fill out the entire issue template next time. This will speed up triaging as we don't have to ask for environment data and the version of Podman etc.

Regarding your issue: Can you try running podman as root?  Docker on your machine is likely running with root privileges and mounting `/var/run/dbus` looks suspicious to me.

[2022-07-01 11:50] vrothberg commented on #14776
Thanks for reaching out, @p0da.  Can you give an example/reproducer?  I don't want to iron out that you may be hitting a bug.

[2022-07-01 12:02] rhatdan commented on #14388
@baude @mheon Is this still an issue?

[2022-07-01 12:12] rhatdan commented on #14790
Correct unless a unprivileged user can talk to /var/run/dbus this is likely not going to work.

As far as the dbus server is concerned it it talking to your rootless user not UID==0.

[2022-07-01 12:13] rhatdan commented on #14778
This looks like registry.redhat.io/rhel8/mariadb-105 requires you to login perhaps?

[2022-07-01 12:23] davejwatson opened #14800 "Support staged progression of stop signals"
/kind feature

Support staged progression of stop signals

When stopping a pod running PostgreSQL as PID 1, it would be useful to send a TERM to trigger a smart shutdown, followed by an INT to trigger a fast shutdown before falling back to a KILL.

The timeouts between each signal should be configurable.

[2022-07-01 12:25] karthikelango137 commented on #13461
I plan to begin next week. Do you think 4-5 weeks is enough time for this? I want to do it, but don't want to hold the team back.

[2022-07-01 12:26] rhatdan commented on #14800
This would seem to be a fairly difficult UI to implement, do you have any suggestion, that would not involve a new option?
Perhaps --stop-signal TERM:5,INT:2 ...

[2022-07-01 12:37] #14797 closed

[2022-07-01 12:46] davejwatson commented on #14800
I think as you suggest the single comma delimited argument would be cleanest. If it's a requirement to have a KILL at the end of the progression then a KILL:10 could be appended if there isn't a KILL in the argument.

[2022-07-01 12:48] giuseppe commented on #14800
Why cannot it be done using some shell scripting and `sleep`?

[2022-07-01 12:55] vrothberg commented on #14761
I extracted the following reproducer:
[code]

Works with local podman.  Failed on the 2nd run with podman-remote.  `podman ps` etc. hangs which lets me believe there is some deadlock.  I did not further analyze yet.

[2022-07-01 12:56] vrothberg commented on #14761
Note that the concurrent `stop` and `kill` trigger the deadlock.  It somehow aligns with the observations in the CI where all subsequent attempts to remove the container time out.

[2022-07-01 13:11] davejwatson commented on #14800
A script on the host could certainly find the appropriate process and send signals to it at the appropriate times. Currently I'm managing the pod with a systemd service which uses podman stop in the ExecStop. Adding in some shell scripting to determine the process to send signals to would work, but is a bit of a hack.

If it's not something that is useful to anyone else I can certainly work around

[2022-07-01 13:18] davejwatson commented on #14800
Ah I'd use podman kill --signal, rather then looking for a process, so not as messy as I'd originally thought

[2022-07-01 16:38] nathanpeck commented on #14779
Thanks @flouthoc. For more context (which I should have put in the first post) I am helping the team building [AWS Copilot](https://aws.github.io/copilot-cli/) which is our official command line tool for building, pushing, and deploying images on AWS.

We have some customer requests to support Podman. Unfortunately right now our tool does a `docker build` then `docker push` and then uses the `dock

[2022-07-01 17:27] cdoern commented on #14791
@rhatdan WDYT? maybe a flag that tells podman to cache partial images temporarily?

[2022-07-01 17:58] bugfood commented on #13784
Sorry for the noise above. I wish github wouldn't do that until there's a PR. This is work in progress.

[2022-07-01 18:00] srd424 commented on #10374
Apologies for a mild thread hijack, but @brauner - is there a reason why an idmapped mount of a merged overlay directory is still not allowed? I found a patch posted to linux-fsdevel back in 2020 where you'd enabled it..

[2022-07-01 18:40] bugfood commented on #13784
I have posted a PR for this. The change makes the security model configurable but does _not_ change the default. I'd vote for changing to default value to `none`, but that's just a reflection of my own use case. Changing the default might break other use cases and may be best reserved for a major release.

[2022-07-01 19:25] brauner commented on #10374
There was no use-case for it. What do you want to use this for?

[2022-07-01 19:38] srd424 commented on #10374
Hmm, I was thinking it would provide an easier set-up for some system container stuff until LXC/nspawn support idmapped overlays directly, but possibly I am wrong - I will try to think it through properly when I'm not full of medication. It looks like I might be able to do something with LXC pre-mount hooks instead..

[2022-07-01 21:01] giuseppe commented on #14530
fixed with https://github.com/containers/podman/pull/14795

[2022-07-01 21:01] #14530 closed

[2022-07-02 10:49] rhatdan commented on #14380
@flouthoc PTAL

[2022-07-02 10:50] rhatdan commented on #14380
@nalind PTAL

[2022-07-02 10:51] rhatdan commented on #14428
Since we never heard back, I am going to close,  Reopen if you have more information.

[2022-07-02 10:51] #14428 closed

[2022-07-02 10:51] rhatdan commented on #14425
@mheon @Luap99 any movement on this issue?

[2022-07-02 10:52] rhatdan commented on #14313
@cdoern what is going on with this issue?

[2022-07-02 10:52] vorburger opened #14809 "Podman Machine does not work out of the box on a fresh install of Fedora Workstation 36"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm new to and learning about _Podman Machine_ and got an error which I haven't further researched much yet, but can't find much interesting about when searching for it online, so I thought I would let you know about it here. Presumably you meant for this to "just work"? Perhaps the experienc

[2022-07-02 10:53] rhatdan commented on #13778
@mheon PTAL

[2022-07-02 11:09] rhatdan commented on #14809
@lsm5 PTAL

[2022-07-02 11:19] rhatdan commented on #13461
Start it and then we can follow up.  See if you can get small chunks in and we can have people help you out.

[2022-07-02 11:20] mwoodpatrick opened #14811 "could not start api proxy since expected pipe is not available: podman-westie"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Windows 11 under WSL-2 when starting machine I'm getting the error

      could not start api proxy since expected pipe is not available: podman-westie

**Steps to reproduce the issue:**

1. In powershell run: podman machine start westie.

**Describe the results you received:**

Starting m

[2022-07-02 11:27] rhatdan commented on #14800
Since the scripted podman kill --signal will satisfy this need I am closing.

[2022-07-02 11:27] #14800 closed

[2022-07-02 11:28] mwoodpatrick commented on #14811
After running

 podman machine stop westie

podman machine start westie

I got the expected result, where can I find info on what the error means any suggestions on how to debug why this issue happens I have seen this issue a few times now

podman machine start westie
Starting machine "westie"
API forwarding listening on: npipe:////./pipe/docker_engine

Docker API clients default to this address.

[2022-07-02 11:53] rhatdan commented on #14791
I leave these up to @vrothberg and @mtrmac

[2022-07-02 12:01] vorburger commented on #14809
Oh OK I see, I just poked around this a little bit... so this `gvproxy` thing is from https://github.com/containers/gvisor-tap-vsock (from https://gvisor.dev), and it's missing on a fresh install of Fedora Workstation 36.

I was able to get it to work after:

    sudo dnf install -y podman-gvproxy

Perhaps the "first user experience" could be improved here. Perhaps you would like to consider makin

[2022-07-02 12:02] rhatdan commented on #13784
SGTM, we can look at changing the default in 5.0,  We should also have this default exposed in containers.conf.

[2022-07-02 12:29] #14432 closed

[2022-07-02 12:32] rhatdan commented on #14809
I am not sure if it should be a recommends or not, definitely not a requires.  I agree, podman machine should throw an error or warning when it is not installed, and clearly as the user to install it.

@ashley-cui PTAL

[2022-07-02 13:29] Emilgardis commented on #12289
An easy way to fix this is to increase the

`MaxAuthTries` in `/etc/ssh/sshd_config`

[code]

[2022-07-02 13:45] n1hility commented on #14811
Since the pipe file it’s complaining about is the machine named file this would mean that a previous run was still holding the pipe file. There is two possibilities where that might happen. One is a race, where the exiting process still held the file briefly. The other possibility is that you had a stale win-sshproxy process that was somehow still running (it’s normally shut down as part of stop)

[2022-07-02 15:51] cdoern commented on #14313
@rhatdan I have a branch ready for a PR I just needed the remote SCP PR to merge. Now that it has I will make one asap for this.

[2022-07-02 19:01] mwoodpatrick commented on #14811
Many thanks for the info, much appreciated. I was just manually starting and stopping the machine, I will see if I can figure out more about the conditions under which this is happening and update the bug report

[2022-07-02 19:06] p0da commented on #14776
I don't believe it is a bug but I certainly can provide an example:

Setup:
[code]
While:
[code]
Returns all container names that begin with the letter t (both containers "t" and "test").

[code]
Returns only the container that is named "t".

The documentation of filter's usage of regex for some keys does not seem to exist at in the API docs but does exist in the CLI docs.

[2022-07-03 00:38] loynoir opened #14812 ".containerenv"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --d

[2022-07-03 00:39] sanyer commented on #13984
Good reminder, I'll try to get back to this issue coming week.

[2022-07-03 07:27] afbjorklund commented on #13784
That was the design, indeed.

[2022-07-03 10:02] srd424 commented on #10374
Ah, it looks like I can simply `mount-idmapped` the layers in advance now, and then have LXC set up the overlay in the container, and it all just works. So no, I guess no real use case for it, other than completeness.

[2022-07-03 10:22] alexbde commented on #14428
Hi! Sorry for the super late answer. No, it is no VM, it is a macOS AWS EC2 instance as stated in the original text. It is running on a dedicated host, from the [docs](https://aws.amazon.com/en/ec2/instance-types/mac/): "x86-based EC2 Mac instances are built on Apple Mac mini computers featuring Intel Core i7 processors and are powered by the [AWS Nitro System](https://aws.amazon.com/ec2/nitro/)."

[2022-07-03 12:32] mwoodpatrick opened #14814 "Windows Podman is using the default user to control created machines"
/kind bug

**Description**

It looks like windows podman is using the default user to control created machines/distros. I hit a [WSL issue](https://github.com/microsoft/WSL/issues/8573) when trying to run vscode from the Linux command line inside a podman machine. So I tried running vscode from the PowerShell command line:

    code --remote wsl+podman-westie /home/user

This did open vscode in th

[2022-07-03 20:33] Alexhuszagh opened #14815 "Podman Fails to Mount Volume in `/tmp` on macOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am currently using Podman version 4.1.1.

**Steps to reproduce the issue:**

The following 2 commands fail:

[code]

This is because `/tmp` is a symlink to `/private/tmp` on macOS. However, the following works fine:

[code]

**Describe the results you received:**

Podman reports the followi

[2022-07-04 00:59] p0da opened #14817 "CLI Flags To Specify Custom Config File Path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently a number of environment variables are used to specify the custom config file paths (CONTAINERS_CONF, CONTAINERS_STORAGE_CONF, CONTAINERS_REGISTRIES_CONF) would it be possible to consolidate this into a CLI flag format? For example --config, --storage, --registry, etc. An alterna

[2022-07-04 07:20] vrothberg commented on #14791
Not yet sure how to tackle this specific request.

[2022-07-04 07:27] vrothberg commented on #14776
Thanks, @p0da!  Podman behaves like this on the command line as well, just as Docker does. So it's really just something we need to document in the swagger docs.  The man pages state "accepts regex".  That's more helpful but does not match the level of detail you are requesting.

[2022-07-04 08:39] bioinfornatics commented on #14790
Thanks a lot @vrothberg and @rhatdan ,
I can confirm that we are able to use nmcli when the user own the `UID 0`.
Is is possible to do the same thinhs in rootless ?

Thanks a lot,
Have a good day

**Note:**
[code]

[2022-07-04 09:07] MissaouiChedy commented on #14589
I am having the same issue/feature request:
- Podman v4.1.1
- Windows 10
- Running behind a corporate proxy

After setting the `HTTP_PROXY` env var in Powershell `podman machine init` **fails to download the packages.**

[2022-07-04 10:13] bioinfornatics commented on #14790
Thanks @vrothberg

[2022-07-04 11:47] siretart opened #14819 "TestEnvVarValue fails on several architectures"
/kind bug
**Description**

I've updated the Debian package to version 4.1, and while the package builds and seeimgly  works fine on amd64 and arm64, any other architectures fail while running the testsuite. I've seen two kind of failures:

On:
 - i386 (32bit intel)
 - armel
 - armhf
 - mipsel

The test TestEnvVarValue fails with this output:

[code]

I note that these are all 32bit architectures,

[2022-07-04 11:48] siretart commented on #14819
All build logs can be seen from https://buildd.debian.org/status/package.php?p=libpod&suite=experimental which currently looks like this:

![image](https://user-images.githubusercontent.com/1878436/177148820-ba0a41c9-d9d7-46c8-b02a-345eb43f3d8f.png)

[2022-07-04 11:51] siretart commented on #14819
Also, this has been reported as https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1014309

[2022-07-04 12:23] git136975643 opened #14820 "win11上安装初始化后出现问题"
podman machine init命令执行后，由于网速问题有fail。
然后重新执行podman machine init就提示“Error: podman-machine-default: VM already exists”

然后我执行 podman machine start命令就提示“安装其中一个文件系统时出现错误。有关详细信息，请运行'dmesg'。
/bin/bash: line 1: /root/bootstrap: No such file or directory
Error: WSL bootstrap script failed: exit status 127”

[2022-07-04 12:47] Luap99 commented on #14819
I don't think the TestEnvVarValue test is correct. It should not compare pointers there, I don't understand how this even works on x86_64.

[2022-07-04 12:49] vrothberg commented on #14761
Another thing that looks suspicious when running podman-remote:

The default stop timeout is 10 seconds.  Not yet sure why it's 3 for remote.

[2022-07-04 12:54] giuseppe commented on #14792
could we just print a warning when the container has supplementary groups?

[2022-07-04 12:58] siretart commented on #14819
I tend to concur:

https://github.com/containers/podman/blob/5d5cb402cb6be818d6efd52d2198b00a55df0f1b/pkg/specgen/generate/kube/play_test.go#L781

indicates that `result` is actually a pointer that needs to be dereferenced instead of comparing to the pointer of the reference value. How can this possibly match?

[2022-07-04 13:03] Luap99 commented on #14817
The problem with a cli option is that config files (at least containers.conf) are parsed before cli options.
This doesn't necessarily mean that it cannot be implemented but doing so would require big changes.

Is there a specific reason why using environment variables does not work for you?

[2022-07-04 13:07] vrothberg commented on #14761
The deadlock happens when the container is in "stopping" state during kill.

[2022-07-04 13:28] vrothberg commented on #14761
Ah, got it. I'll wrap up a PR.

The problem was that `kill` didn't collect the exit code. Neither does `stop` when `kill` kicks in in the "stopping" state.

[2022-07-04 14:09] siretart commented on #14819
I can (probably) upload a new package with that patch applied later today.

I guess the failure in TestMonitorTwoDirGood is unrelated? -- would you prefer a separate issue for that?

[2022-07-04 14:11] Luap99 commented on #14173
The netavark/aardvark changes are fine but I don't think it is required to fix this flake in CI. The test already "tries" to implement a back off logic:
https://github.com/containers/podman/blob/6dffa453a4c62a183526e22ac5c099f02b6c6f0e/test/e2e/common_test.go#L1045-L1062

This does not work because dig always returns exit code 0 even when there is no match.

[2022-07-04 14:13] Luap99 commented on #14819
Yes a new issue for the other failure would be good, I haven't looked at that one.

[2022-07-04 14:37] pclass-sensonix commented on #13778
Hi - I tried the latest common ( v2.1.2  ) and it is still failing. If there is substantial container output, eventually the EOF will occur.

[2022-07-04 15:07] siretart commented on #14819
@Luap99 yes, I can confirm that your patch makes the test pass on `i386`,  but now it is failing on the TestMonitorTwoDirGood issue:

[code]

[2022-07-04 15:12] mtrmac commented on #14791
We do now commit layers one at a time as they come, so in _some_ situations a blob should not need to be re-downloaded.

But I tend to think of even the _existence_ of the layer as an on-disk file as an implementation detail (we do that primarily so that we can validate the cryptographi digest of a layer before invoking a possibly-vulnerable decompression implementation, and we _could_ not do that

[2022-07-04 15:19] lsm5 commented on #14809
@rhatdan currently `podman-plugins` does have `Recommends: podman-gvproxy` but `podman` itself has no dependency on podman-plugins or podman-gvproxy. If the main podman package provides the `podman machine` command, then I think podman should have a hard requirement on podman-gvproxy. @mheon @vrothberg wdyt?

[2022-07-04 15:24] giuseppe commented on #14812
already fixed upstream with #14582

[2022-07-04 15:24] #14812 closed

[2022-07-04 15:30] Luap99 commented on #14819
Isn't this the same failure you mentioned above already?

[2022-07-04 15:30] loynoir commented on #14812
@giuseppe
But isn't pr merged 20 days ago, and 4.1.1 is released 19 days ago?
This still appear in 4.1.1.

[2022-07-04 15:40] loynoir commented on #14812
BTW, if `.containerenv` is something like `/.dockerenv`, I suggest maybe create it at not mount-bind-able location like `/`.

[2022-07-04 15:46] Luap99 commented on #14819
I took a look at the full log and I do not see any errors with the TestMonitorTwoDirGood tests. All are passing. The output are just logs that are expected.

If you scroll further you find this:
[code]

[2022-07-04 15:55] siretart commented on #14819
Indeed, it is.

Thanks, the log is quite long, and I was mistakenly looking for `FAIL:`, whereas I really should have looked for `build failed`. It is, however, quite surprising that the test is producing output about mismatching values, without the test is  actually failing.

Further down in the log, I see this:

[code]

It seems that this test was written to only compile on `amd64` and `arm64`,

[2022-07-04 15:59] Luap99 commented on #14819
You can just skip the pkg/machine test for now. AFAIK the code should be used but only for amd64 and arm64 builds.
You could just check if the `podman machine` command is available.

I will open a PR to fix the missing build tags on the tests.

[2022-07-04 16:15] Luap99 commented on #14819
@siretart I think #14823 should fix all your issues, you can use this patch: https://patch-diff.githubusercontent.com/raw/containers/podman/pull/14823.patch

[2022-07-04 16:50] #14171 closed

[2022-07-04 16:50] #14173 closed

[2022-07-04 18:41] siretart commented on #14819
Awesome, I've uploaded your patch as version `4.1.1+ds1-2`, let's see how it goes at https://buildd.debian.org/status/package.php?p=libpod&suite=experimental this time. It seems that at least i386, armhf and ppc64el have already succeeded!

Thank you!

[2022-07-04 21:09] giuseppe commented on #14812
the release branch for 4.1 doesn't include that fix, we would have to backport it, or wait for the next release

[2022-07-04 21:09] giuseppe commented on #14812
the disadvantage with that solution is that the file will end-up in all the images when you snapshot a container, instead `/run` is likely to be on a `tmpfs`

[2022-07-05 06:42] flouthoc commented on #14773
@kgibm it works on remote list because image for provided platform is always pulled and on platform change its overridden. I think till now `podman run` had no support of running from manifest list  above PR should add support for that https://github.com/containers/podman/pull/14827

[2022-07-05 06:51] flouthoc commented on #14779
@nathanpeck Thanks for the detailed explanation i think a solution decided here https://github.com/containers/buildah/issues/3866 could be useful for your use-case where proposed solution is that on push the remote digest will be added to local storage so that it can be useful for regular podman commands.

[2022-07-05 08:55] giuseppe commented on #14504
I think we should not support a read-only rootfs, many things can break. e.g. what to do if the rootfs is missing a `/proc` directory?
 If the rootfs must be read-only then it can be done only after all the mounts are created by the OCI runtime and we specify `--read-only` to `run`.

[2022-07-05 09:43] git136975643 commented on #14820
podman machine rm 后再 podman machine init：“Failed to set locale, defaulting to C.UTF-8”
“Reinstalled:
  shadow-utils-2:4.9-9.fc35.x86_64

Complete!
Configuring system...
Error: could not create ssh keys: exec: "C:\\Users\\13697\\.ssh\\wsl.exe": file does not exist”

[2022-07-05 10:10] #14773 closed

[2022-07-05 10:26] rhatdan commented on #14504
I agree, lets just force people to use Overlay for this use case.

[2022-07-05 10:48] zhangguanzhang commented on #14820
please use the English to report your question

[2022-07-05 10:54] rhatdan commented on #14452
@karthikelango137 Any movement on this?

[2022-07-05 11:01] rhatdan commented on #14814
@n1hility PTAL

[2022-07-05 11:07] rhatdan commented on #14815
Could you try the following first:

podman machine init -v /tmp:/tmp -v /private:/private

We are only defaulting to mounting $HOME into the VM at this time, other directories would need to be added separately.  These directories can be specified in containers.conf.

[2022-07-05 11:08] rhatdan commented on #13967
@martinetd Any movement on this?

[2022-07-05 11:08] rhatdan commented on #14482
@jakecorrenti Still working on this?

[2022-07-05 11:09] rhatdan commented on #13427
@mheon Has this been fixed?

[2022-07-05 11:24] martinetd commented on #13967
Right now we still tell any customer stuck on this to temporarily extend the filesystem if that happens; it's been rare enough that I haven't automated anything yet.

Honestly I fully understand that it is hard to make commands not write anything (e.g. ps) or free up data before updating db (at least for rm, I agree we wouldn't want to do that for image rm), so if this become more of a problem res

[2022-07-05 11:30] jakecorrenti commented on #14482
Looks like some 2 failing tests that I lost track of. I'll get that going green today.

[2022-07-05 12:23] ashley-cui commented on #14636
Closed via: https://github.com/containers/podman/pull/14665

[2022-07-05 12:23] #14636 closed

[2022-07-05 12:23] ashley-cui commented on #13491
Closed via: https://github.com/containers/podman/pull/14085

[2022-07-05 12:23] #13491 closed

[2022-07-05 12:34] Luap99 commented on #14636
No I just linked this issue by accident, this was not fixed in #14665

[2022-07-05 12:40] rhatdan commented on #14817
We have tried this in the past and end up with a catch-22, which is why we use Environment variables.

[2022-07-05 12:40] #14817 closed

[2022-07-05 12:47] karthikelango137 commented on #14452
Yes, I will be opening a PR shortly

[2022-07-05 12:57] rhatdan commented on #14809
Can we make podman recommends podman-plugins?

[2022-07-05 12:59] giuseppe commented on #12475
with the `podman play` syntax we can add more ways to create pods/containers (e.g. we have a open PR like https://github.com/containers/podman/pull/14729).

We have:

- podman generate (kube|systemd)
- podman play (kube)

We could add a new command `podman down (kind)` and it will be cleaner than a `podman kube` specific subcommand

[2022-07-05 13:01] kgibm commented on #14773
Thanks!

[2022-07-05 13:02] #14819 closed

[2022-07-05 13:05] rhatdan commented on #14812
I think this can wait until next release.

[2022-07-05 13:09] vrothberg commented on #12475
@giuseppe, we are more looking into consolidating all kube-related things into `podman kube` (see https://github.com/containers/podman/issues/12475#issuecomment-1047546589).

[2022-07-05 13:26] #14761 closed

[2022-07-05 13:34] #14769 closed

[2022-07-05 13:46] #14482 closed

[2022-07-05 13:50] #14493 closed

[2022-07-05 14:24] #14589 closed

[2022-07-05 14:32] n1hility commented on #14820
This sounds like #14416

Are you running the podman command in the c:\Windows\System32 directory? If so change directories to somewhere else and rerun. Alternatively you can use powershell which does not start in system32.

[2022-07-05 16:09] mheon commented on #13778
Core error seems to be the journal. I'd imagine it's getting angry about the amount of content we're dumping into it? We've had similar issues elsewhere.

[2022-07-05 17:30] Alexhuszagh commented on #14815
I don't have access to my macOS computer today, but this is almost certainly the issue. Can we have a change in error message then, to make it easier for users to understand? Rather than say, "Error: statfs $dir: no such file or directory", it could say, "Error: $dir is not mounted in the VM, you must add the directory when running `podman machine init`".

It would make it much clearer that this i

[2022-07-05 18:18] edsantiago opened #14833 "CI: runc is not being tested"
Root cause, as best I can tell, is https://github.com/containers/automation_images/pull/115. This was supposed to make ubuntu use runc, but it didn't. ubuntu is using crun. Confirmation: #13376 brought in those new VM images, but the [ubuntu sys log](https://cirrus-ci.com/task/4867185968414720?logs=main#L11) clearly shows:
[code]
Solution is going to require a VM dance, and some way to actually lo

[2022-07-05 18:36] mheon commented on #14425
No, no work has been done as of yet

[2022-07-05 22:26] aiven-amartin opened #14836 "podman build on MacOS doesn't correctly build relative path for COPY commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On M1 Mac, if you have a Dockerfile with a `COPY ./* <dest>` command, things work as expected.
However `COPY./<actual_file_or_subdirctory_path> <dest>` will fail with `Error: error building at STEP "COPY <src> <dest>": checking on sources under "/var/tmp/libpod_builder1504039592/build": copie

[2022-07-05 23:39] mheon commented on #14836
@flouthoc PTAL

[2022-07-06 02:32] git136975643 commented on #14820
我删了podman machine 重新在D盘初始化【成功了】但是遇到2个小问题：
第一个，下载问题，需要翻墙，不然就报错如下：
PS D:\> podman machine init
Error: Get "https://github.com/fedora-cloud/docker-brew-fedora/tree/35/x86_64/": read tcp 192.168.28.122:61234->20.205.243.166:443: wsarecv: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has f

[2022-07-06 03:14] elasticdotventures commented on #14003
[code]
⚠️does not warn, WILL DELETE EVERY CONTAINER ON YOUR SYSTEM. use with caution!

[2022-07-06 03:25] kp2401075 opened #14837 "podman machine start fails on Mac M1(osx 12.4) (podman 4.1.1, qemu 7.0)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman machine start fails.
[code]
** Log-Level = Debug **
[code]
**Steps to reproduce the issue:**

1. `podman machine init`

2. `podman machine stop`

3. `podman machine start`

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem

[2022-07-06 04:31] flouthoc commented on #14836
Hi @aiven-amartin , Thanks for creating the issue.

Above bug only persists in podman and not on buildah since podman has a custom logic to populate context directory for builds and it has a small bug and above PR: https://github.com/containers/podman/pull/14838 should close this.

[2022-07-06 05:18] p0da commented on #14817
@rhatdan I understand, as an alternative would it be possible to add an environment variable to force podman to only recognize config files in the specified directory? Similar to the behavior of the --config-dir flag I mentioned previously. This would disable the merging/referencing behavior where instead of searching /usr, then /etc, then $XDG_CONFIG_HOME paths for configs
podman would simply onl

[2022-07-06 05:57] gbraad commented on #14589
using the version on current master (merged #14806)

To confirm the proxy is reachable and working I check the following from the podman VM.
[code]

To setup the proxy variables and start the environment
[code]
Note that the message `Installing proxy support` is shown.

After which:
[code]

should work with proxy

[2022-07-06 06:01] gbraad commented on #14589
@n1hility The message `Installing proxy support` is not shown on successive starts, even with new values. This is because the `proxyConfigAttempt` is passing. Perhaps to allow the write values to be logged?

[2022-07-06 06:03] p0da commented on #13092
Also ran into the same exact issue, took a while to figure it out. Seems like the API docs may need some work.

[2022-07-06 07:58] gbraad commented on #14589
On Windows you can quickly test this:
[code]

Open another terminal session
[code]

You should see the incoming `CONNECT` request for HTTPS:

![image](https://user-images.githubusercontent.com/1894/177499343-5e71c684-62db-470e-9e4f-7c235a76b78e.png)

If you would break the proxy in the first session the connection should be interrupted.

[2022-07-06 10:45] excitoon commented on #11563
https://sleeplessbeastie.eu/2021/09/10/how-to-enable-control-group-v2/
https://docs.docker.com/engine/security/rootless/#limiting-resources

[2022-07-06 11:32] duck-rh opened #14840 "Regression running inner container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We run podman inside podman with inner systemd support. There's a few configuration tweaks but it used to work up to podman 3.4.7 and stopped working with 4.1.x (for running the inner container, see environment info below for the outer one).

**Steps to reproduce the issue:**

1. as non-root:

[2022-07-06 12:38] Luap99 commented on #14840
Is `/proc/sys` mounted readonly?

In the container could you install cni and set the network backend to cni to test if this works (CNI was always used before 4.0, now we use netavark by default)

[2022-07-06 12:45] lsm5 commented on #14809
@rhatdan Sure. I can go ahead with it if no objections.

@Luap99 if we're cool with a helpful error message pointing to the right package (may need to account for multiple distros), then that's fine by me too.

[2022-07-06 12:53] Luap99 commented on #14809
podman-plugins only contains the dnsname cni plugin, we do not need/want this on netavark/aardvark systems.

[2022-07-06 13:44] rhatdan commented on #14809
Ok let's just add recommends gvproxy to podman.

[2022-07-06 14:13] eighthave commented on #5443
Here's a related bug in the Debian BTS https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1013344

[2022-07-06 14:51] #13714 closed

[2022-07-06 14:58] citrucn opened #14843 "Failed to load cached network config: network podman not found in CNI cache, falling back to loading network podman from disk"
/kind bug

**Description**

1. sudo yum module enable -y container-tools:ol8

3. sudo yum module install -y container-tools:ol8

4.podman pull redis

5.podman run redis

**Describe the results you received:**

[code]

Error: plugin type="bridge" failed (add): cni plugin bridge failed: failed to list chains: running [/usr/sbin/iptables -t nat -S --wait]: exit status 4: # Warning: iptables-legacy ta

[2022-07-06 15:09] #14843 closed

[2022-07-06 15:24] edhar-rybak commented on #14204
Interested in this feature

[2022-07-06 16:20] n1hility commented on #14759
Closing this since there is not much we can do. My hope is that once we look at signing many of these false flags will be suppressed.

[2022-07-06 16:20] #14759 closed

[2022-07-06 16:30] duck-rh commented on #14840
Quack @Luap99 ,

Indeed /sys is ro, no idea why. IIUC `--systemd=always` takes care of that right?

Switching back to CNI worked; at least I have a workaround now, thanks a lot.

\\_o<

[2022-07-06 16:51] Luap99 commented on #14840
I move this to netavark then, looks like you already set the correct sysctl value that netavark tries to set so netavark should just ignore the error

[2022-07-06 17:49] lsm5 commented on #14809
added to rawhide, will add to f36 whenever we cut a new release.

[2022-07-06 17:51] lsm5 commented on #14809
I'm gonna close this issue as the fix will land in fedora soon and it's not really an upstream issue.

Reopen if anything..

[2022-07-06 17:51] #14809 closed

[2022-07-06 21:02] n1hility commented on #14820
@git136975643 thanks. Could you paste the output of `wsl -l -v` and `wsl --status`. I could be wrong, but those errors look like version 1 of WSL is in use. Podman machine requires WSL2. If that is the case, you can switch to wsl 2 by doing

[code]

[2022-07-06 23:32] kp2401075 commented on #14837
Thanks @Luap99 ,

I remove machine and create a new one everytime I use podman.

Can you please tell me how to use podman from main branch.

is there special brew command?

[2022-07-06 23:44] rptaylor opened #14846 "--pull=newer is undocumented"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
There are 3 [options](https://docs.podman.io/en/latest/markdown/podman-run.1.html#pull-always-missing-never) for --pull: always, missing, never.

In my application I have a preference to check for a new image from the registry if it is available, but a strong requirement that the applicati

[2022-07-06 23:48] rptaylor commented on #14846
Another option would be --pull=always  with another option like --fallback-to-local-images which ignores the error raised about the image missing from the registry.

[2022-07-07 00:35] akhilles commented on #12829
Would it be possible to not depend on systemd at all for `podman image scp`? It makes it quite difficult to use in Alpine for example.

[2022-07-07 00:57] TomSweeneyRedHat commented on #14846
@rptaylor it might be late night brain on my end, but I'm not 100% sure what you're suggesting.  Is what you are suggesting that --try would do is:

1)  Attempt to pull the image from the registry
    a)  If found, ignore the local image (if any) and use the new image.
    b)  skip following steps

2) Check to see if the image exists already on local storage.
     a) If found, use the local image

[2022-07-07 01:41] rptaylor commented on #14846
@TomSweeneyRedHat  Basically yes. In pseudo code:
[code]

[2022-07-07 02:30] git136975643 commented on #14820
PS C:\Users\13697> wsl -l -v
  NAME                      STATE           VERSION
* Solus                     Stopped         2
  podman-machine-default    Stopped         2
PS C:\Users\13697> wsl --status
默认分发：Solus
默认版本：2

适用于 Linux 的 Windows 子系统最后更新于 2022/7/5
适用于 Linux 的 Windows 子系统内核可以使用“wsl --update”手动更新，但由于你的系统设置，无法进行自动更新。
 若要接收自动内核更新，请启用 Windows 更新设置:“在更新 Windows 时接收其他 Microsoft 产品的更新”。
 有关详

[2022-07-07 03:36] bb010g commented on #8136
Is this also the issue for running Windows containers on Windows, and not just running Windows containers on Linux?

[2022-07-07 04:00] flouthoc commented on #8136
@bb010g I think this issues is more of a spike for running `windows containers on linux` and not `windows containers on windows` not sure but I don't think we have any open issue for `windows container on windows`.

@apollocreed For building windows containers we have a issue opened at buildah https://github.com/containers/podman/issues/8136#issuecomment-1142194900 and not yet merged PR on buildah

[2022-07-07 04:42] sstosh opened #14847 "pod create --uts doesn't work on podman-remote"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman pod create --uts` doesn't work on remote environment.
`.InfraConfig.uts_ns` field sets private even if `--uts ns:<ns path>`.

**Steps to reproduce the issue:**

1. Create net pod with `--uts ns:<ns path>`
[code]

2. Inspect the created pod
[code]

**Describe the results you received:*

[2022-07-07 06:50] joachimBurket commented on #14769
Thanks @jakecorrenti ! 🎉

[2022-07-07 08:32] giuseppe commented on #14846
I'd suggest doing what you are already doing.  Why do you think it is wrong?

[2022-07-07 08:45] vrothberg commented on #14846
[code]

[2022-07-07 11:31] Luap99 commented on #12829
It should not depend on systemd, this is only required to create a proper login session on systemd systems.

[2022-07-07 11:55] #14674 closed

[2022-07-07 12:11] vrothberg commented on #14846
Opened https://github.com/containers/common/pull/1085 to improve the code comments.  We can copy that over to man pages of Buildah & Podman.

[2022-07-07 12:14] edsantiago opened #14849 "Packaging [ubuntu]: missing 'Maintainer' field"
Seen while debugging another issue:
[code]
Obviously this is an issue with the respective packages, not podman, but I'm filing here anyway as a placeholder. @lsm5 is this an easy one to fix?

[2022-07-07 12:25] edsantiago commented on #14173
I'm still seeing flakes on this test, and I'm somewhat sure that it's after the "fix" merged. Error message seems different:
[code]
Shall I file a new issue?

### Podman run networking [It] Aardvark Test 2: Two containers, same subnet
* fedora-36 : int podman fedora-36 root host
  * PR #14841
    * [07-06 11:47](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/

[2022-07-07 12:46] rhatdan commented on #13626
@flouthoc any progress on this?

[2022-07-07 12:46] rhatdan commented on #14276
Since we have not heard anything further on this and have not been able to replicate, I am closing.

[2022-07-07 12:49] lsm5 commented on #14849
should be. It's obviously coming from the `deb packages using fedora spec files` repo, I'm just curious to know where you're seeing this.

Also, this is just an annoying warning message, shouldn't really block installation

[2022-07-07 13:07] flouthoc commented on #13626
I think its not reported in any recent runs but i am not sure @edsantiago could confirm it better. I am not sure if this persists on upstream since original BZ author ackd and closed the BZ on the provided fix. If we see this again in any of the CI runs we can instrument the test to collect the logs and debug it further.

[2022-07-07 13:12] ashley-cui commented on #14837
brew install podman --HEAD should work

[2022-07-07 13:18] rhatdan commented on #13589
@fulldecent @baude What is the state of this?

[2022-07-07 13:25] rhatdan commented on #13539
@cdoern @ashley-cui Any movement on this?

[2022-07-07 13:28] rhatdan commented on #14815
Podman service in the VM has no way of knowing what the user was attempting to do, and does not even realize that it is in a VM. It is reporting the error. Also know way to differentiate a typo from what the user intended.

[2022-07-07 13:28] #14815 closed

[2022-07-07 13:31] KenMacD opened #14851 "Rootless exec fails, unable to write to cgroup.procs"
/kind bug

**Description**

When running a rootless container I'm unable to `podman exec` in to that container.

For example:

[code]

then in another terminal:

[code]

It does work though if I do:

[code]

Looking at the cgroup info I find:

[code]

If I look in `/sys/fs/cgroup/user.slice/user-1000.slice` for `cgroup.procs` files I see that root owns the one in that directory, but the ones under

[2022-07-07 13:36] cdoern commented on #14851
this exact process works for me. I have recently rehauled cgroup handling in podman, some of which might be in 4.1.1 and some of which is not. Can you try running this off of the main branch and see if the issue goes away?

[2022-07-07 13:40] baude commented on #13589
nothing from my side

[2022-07-07 13:48] edsantiago commented on #13626
I see no flakes since the 05-23 one reported above, and I don't remember enough about this issue to make an informed suggestion.

[2022-07-07 13:51] edsantiago commented on #14849
Yes, it's just a warning that doesn't affect anything, at least in CI-land: if these packages are used by humans, they might find the warnings objectionable.

I found it by playing in an ubuntu VM using the Cirrus rerun-in-term option. This is not something we would otherwise see in CI.

[2022-07-07 13:53] lsm5 commented on #14849
ack, we will start seeing it in CI once the ubuntu 22.04 LTS PR is merged.

[2022-07-07 13:56] Luap99 opened #14854 "test/system: podman run port forward range problem"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There seems to be an error with the reworked free port range logic. I just saw this on one of my PRs:
[code]
https://api.cirrus-ci.com/v1/artifact/build/6520991475040256/sys%20podman%20fedora-36%20rootless%20host/html/sys-podman-fedora-36-rootless-host.log.html

cc @edsantiago

I report this

[2022-07-07 14:21] #14836 closed

[2022-07-07 14:32] soltysh opened #14856 "`host.cgroupControllers` is missing cpu on rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This seems to be similar problem to https://github.com/containers/podman/issues/11931 in that when invoking `podman info` I'm not getting all the information:
[code]

but

[code]
and
[code]

both have cpu. Unfortunately this prevents [kind](https://kind.sigs.k8s.io/) from working properly,
be

[2022-07-07 14:35] rhatdan commented on #13983
@flouthoc PTAL

[2022-07-07 14:36] rhatdan commented on #13768
@gbraad Any ideas on this?

[2022-07-07 14:37] rhatdan commented on #13729
@mheon Any chance you can implement this?

[2022-07-07 14:50] edsantiago commented on #11594
Seen just now, [ubuntu 2110 remote root](https://api.cirrus-ci.com/v1/artifact/build/5742372758749184/sys%20remote%20ubuntu-2110%20root%20host/html/sys-remote-ubuntu-2110-root-host.log.html):
[code]
This then caused a cascade of failures, where every test after that failed:
[code]

[2022-07-07 15:03] rhatdan commented on #14817
The problem is Podman is using configuration files from 4 different projects.  containers/storage, containers/image, containers/common and Podman itself.  Not all of the configuration files are in the same directories and are handled the same way.  Your request would need to be in each of the subpackages, and could cause breaking changes. IE XDG_CONFIG_HOME is too generic. CONTAINERS_CONFIG_DIR, m

[2022-07-07 15:07] #14856 closed, assigned to nobody

[2022-07-07 15:11] gbraad commented on #13768
For minishift we always wrote the mount info in the rc.local file to persist across reboots or hangs of the VM.

[2022-07-07 15:26] Eugeny commented on #11594
Seems to be much easier to trigger when running on the 3.10 kernel

[2022-07-07 15:48] edsantiago commented on #11594
Okay, we've got a problem. This is blowing up today. New one, [f36 remote rootless](https://api.cirrus-ci.com/v1/artifact/build/5539940548214784/sys%20remote%20fedora-36%20rootless%20host/html/sys-remote-fedora-36-rootless-host.log.html)

[2022-07-07 15:59] #14113 closed, assigned to ashley-cui

[2022-07-07 16:12] mheon commented on #13729
Sure, I'll put it on the list

[2022-07-07 16:35] RodGaiotto opened #14858 "Podman: Recommended space for /usr ?"
Folks, I'm kind of desperate.

I'm getting the following error when I try to PULL an image to my server:

podman pull icr.io/ibmz/ibmz-optimized-for-tensorflow:1.0
Trying to pull icr.io/ibmz/ibmz-optimized-for-tensorflow:1.0...
Getting image source signatures
Copying blob bf0ba31193b7 done
Copying blob 547073c64450 done
Copying blob 0df320e2d3ad done
Copying blob 914140142ed8 done
Copying blob 3d3

[2022-07-07 16:36] edsantiago commented on #11594
And another one. Now [f36 remote root](https://api.cirrus-ci.com/v1/artifact/build/6040624804659200/sys%20remote%20fedora-36%20root%20host/html/sys-remote-fedora-36-root-host.log.html).

[2022-07-07 17:38] rptaylor commented on #14846
Aha a secret option!

I thought it did not seem like a good pattern to use two commands when it should be possible with one. To pull , then run, when run has a parameter specifying how to pull, yet none of the possible options appeared to match the desired behaviour, implied to me there should be another option.

Anyway --newer works, thanks!

[2022-07-07 17:42] #14854 closed

[2022-07-07 17:54] rhatdan commented on #14126
@Luap99 PTAL

[2022-07-07 18:00] rhatdan commented on #13768
@baude @ashley-cui thoughts

[2022-07-07 18:07] n1hility commented on #14494
This is a feature we intend to add support for, but for now, as a workaround (in addition to the approach you mentioned in the comments) you can use the lnux mount location to access Windows paths (in unix syntax) like so:

`/mnt/c/users/ahusz/git/rust-cpp-hello-word/seccomp.json`

[2022-07-07 18:08] edsantiago opened #14859 "podman-remote wait: Error getting exit code from DB: no such exit code"
Seen just now:
[code]
Only one so far. Seems suspiciously related to issue #14761 and PR #14830.

### [sys] 203 podman kill - concurrent stop
* fedora-36 : sys remote fedora-36 rootless host [remote]
  * PR #14852
    * [07-07 12:23](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5862726869188608/html/sys-remote-fedora-36-rootless-host.log.html#t--0020

[2022-07-07 18:16] rhatdan commented on #14858
You are using the vfs driver, which is probably using up all of the space on your system.
Make sure you  have fuse-overlayfs installed.  You need to reset your storage, this will remove all containers and images.
$ podman system reset
Then check podman info to make sure you are using the overlay driver
$ podman info

[2022-07-07 18:26] rhatdan commented on #14846
Shucks now the secret is out.

[2022-07-07 18:35] mbranchnl commented on #14837
currently it gives;

[code]

[2022-07-07 20:08] edsantiago commented on #14851
I tried to reproduce on f35, no luck. I have no access to Nix, or even any idea what Nix is.

[2022-07-07 20:11] RodGaiotto commented on #14858
Hi again Dan, thanks again for the help.

I managed to implement fuse-overlayfs:

aqlinux1:~ # fuse-overlayfs --version
fuse-overlayfs: version 1.1.0
FUSE library version 3.6.1
using FUSE kernel interface version 7.29
aqlinux1:~ #

However the result was the same.

Storing signatures
  Error processing tar file(exit status 1): write /usr/bin/chsh: no space left on device
Error: Error committing th

[2022-07-07 20:13] rhatdan commented on #14858
Yes your container content is being stored in
/home/vezio/.local/share/containers/storage

[2022-07-07 20:44] arogozhnikov commented on #13302
@liebig thank you for making builds.
I believe those will work for ubuntu22, but not ubuntu 20.04. At least that's what I get:
[code]

Ubuntu 20.04 indeed stops at glibc 2.31

[2022-07-07 21:42] KenMacD commented on #14851
Okay, so for some testing I started an f36 vm. It also doesn't happen by default so I started comparing differences. It looks like it happens if I set the owner on the session scope:

`chown kenny:kenny /sys/fs/cgroup/user.slice/user-1000.slice/session-1.scope`

Now sure why they're different though, or why it matters.

[2022-07-07 21:45] n1hility commented on #14820
@git136975643 ok thanks for checking that. Are you able to manually download https://github.com/fedora-cloud/docker-brew-fedora/raw/35/x86_64/fedora-35-x86_64.tar.xz? The earlier errors indicate a connectivity problem fetching it.

If that download completes successfully you could use it to manually init like so (or alternatively retry podman machine init)
[code]

[2022-07-07 21:57] giuseppe commented on #14851
what is the current cgroup (`cat /proc/self/cgroup`)?

If it is not owned by your user, then the kernel blocks moving the process out of it

[2022-07-07 21:58] n1hility commented on #14814
Similar topic: https://github.com/containers/podman/discussions/14571

While ideally our WSL integration could be enhanced so that the wsl prompt takes you in as a standard user, its likely to still have problems if vscode is using wsl.exe to directly execute commands (most likely). The issue is that podman is running inside of systemd inside of a nested namespace we create. We can use /etc/profil

[2022-07-07 22:54] PlaidPhantom opened #14862 "Error using `podman cp` on Windows"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a fresh install of podman on Windows 10 & WSL2 with a couple of containers installed and running, and I'm getting a strange error message when I try to copy a file into a container using `podman cp`:

[code]

**Additional information you deem important (e.g. issue happens only occasion

[2022-07-08 00:33] edsantiago opened #14863 "Cirrus: new API clobbers past (flake) runs"
The new logformatter URL mechanism, after #14608, has a serious flaw: flake URLs are lost. Reason: the new URLs include the **BuildID**, and **TaskName**, but not the **TaskID**. TaskID is the crucial one for linking to a flake log. Without TaskID, we have something like `/build/12345/int this that`, but the `int this that` on a successful run clobbers the one of the flaked run.

@cevich let's tal

[2022-07-08 00:36] edsantiago opened #14864 "podman pull: can't talk to a V1 container registry"
New flake in `int` test setup:
[code]

log: https://api.cirrus-ci.com/v1/task/5147934521032704/logs/main.log

[2022-07-08 00:53] edsantiago commented on #11594
And yet another one, [sys remote fedora-36 rootless](https://api.cirrus-ci.com/v1/task/5112750148943872/logs/main.log).

@containers/podman-maintainers PTAL this one is getting ugly really fast.

[2022-07-08 01:59] #14820 closed

[2022-07-08 02:10] kp2401075 commented on #14837
So I tried installing Podman from Main

``` brew install podman --HEAD```
got error as @mbranchnl  has shown.

Then I did as he sugested

``` brew edit podman```
and commented out patches section.
[code]

after that install went ok.

[code]
but Issues still remained.

I had also cleaned previous machine using `podman machine rm` and created new one from scratch

when I `podman machine stop` and tr

[2022-07-08 03:53] dgcom opened #14865 "Install podman directly in WSL2 without Windows components in latest Ubuntu - no instructions available and getting error for some containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature
/kind bug
(feature or a bug can't easily identify)

There are two related (in my view) requests):
1. Please, provide a way (instructions, etc.) to run recent version of podman purely in WSL2 without installing anything in Windows itself.
2. Instructions should probably contain any additional configuration

[2022-07-08 04:26] alexisfrjp opened #14866 "Rootless "Please select an image" even though the image exists..."
* podman version 4.0.2
* rootless, same user
* CentOS Stream release 8

The image exists
![image](https://user-images.githubusercontent.com/6713988/177916687-5b509173-69e0-41bd-a841-af66faac170e.png)

When I try to run it:
![image](https://user-images.githubusercontent.com/6713988/177916712-0844c8cf-1697-411c-8174-4f1adde92461.png)

[2022-07-08 04:42] softwareplumber opened #14867 "Yet another mysterious permissions problem when running rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
 When running a rocky or alma 8.6 container rootles (on a centos stream 8 host), `yum install openssh` consistently fails

`Error: cpio: chown failed - Inappropriate ioctl for device`

when running yum install openssh in a podman container.

**Steps to reproduce the issue:**

1.  using podman

[2022-07-08 05:22] n1hility commented on #14708
Glad this is working for you now. The fix will be included in the next release.

[2022-07-08 05:22] #14708 closed

[2022-07-08 07:06] dangthanh360 commented on #11397
thanks @tibcoplord, it works well on my MacOS BigSur.

I use this command to get the port number
`PODMAN_PORT=$(podman system connection ls --format="{{.URI}}" | grep "core" | grep -o -E '[0-9]+' | head -n 1)`

Then run these commands to create tunnel over SSH
[code]

[2022-07-08 07:10] dangthanh360 commented on #11397
thanks @n0rig, the simplest way as you mentioned:

I use
```export DOCKER_HOST="`cat ~/.config/containers/containers.conf | grep -ioE "ssh://core@localhost:[0-9]+"`"```

[2022-07-08 08:06] #14866 closed

[2022-07-08 08:08] vrothberg commented on #11594
@giuseppe, if you find time, could you take a look?

[2022-07-08 08:08] vrothberg commented on #14864
Looks like a temporary fart on `registry.access.redhat.com`.

[2022-07-08 08:11] vrothberg commented on #14859
Thanks for filing, @edsantiago.

@mheon FYI

[2022-07-08 08:22] vrothberg commented on #14858
Did you make sure that the rootless Podman storage driver was set to overlayfs?  You may need to run `podman system reset` before but note that it will remove all local images, containers etc.

Regarding fuse-overlayfs on SLES.  I recommend reaching out through the SUSE customer channels (e.g., Bugzilla).  There is nothing we can do upstream.

[2022-07-08 08:43] giuseppe commented on #14867
[code]

the file is owned by ID 0:982 (on my system, the GID might be different for you) but you have only 401 IDs available in the user namespace.

One workaround it is to run something like:

[code]

a better fix is to allocate more additional IDs to your user (through `/etc/subuid` and `/etc/subgid` then run `podman system migrate`)

[2022-07-08 08:43] #14867 closed

[2022-07-08 08:50] vrothberg commented on #14859
Another one here https://github.com/containers/podman/pull/14839

[2022-07-08 09:19] giuseppe commented on #14851
but what is the cgroup in the "normal host shell"?  Does it work better if you do something like `systemd-run --scope --user podman exec e37dd236bf3a id` ?

[2022-07-08 09:24] #14784 closed

[2022-07-08 11:03] iamthen0ise commented on #14837
Hi, @kp2401075!

I have exactly same M1 2020 Macbook Air. And the next steps make my podman work:

First, initialized the machine with `Stable` image.
[code]
then i've changed memory to desired value in
`~/.config/containers/podman/machine/qemu/podman-machine-default.json`

[code]

After this i've successfully started my podman machine with `podman machine start`

Hope it woudl help!

[2022-07-08 11:06] iamthen0ise commented on #14837
Lot of readings could be found here
https://github.com/containers/podman/issues/4364
and specially here — https://github.com/containers/podman/issues/14303

Also, there's a dirty hack with experimental build of podman https://edofic.com/posts/2021-09-12-podman-m1-amd64/
but please be aware — this build do not have a `podman-mac-helper` utility which allow you to integrate podman with docker in mos

[2022-07-08 11:53] tyler92 opened #14871 "Unable to stop not running container when RestartPolicy is used"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create container with RestartPolicy=Always, that very often restarts (due to application crash)

2. Execute podman pod stop -a

3. Execute podman stop -a

**Describe the results you received:**

Command podman stop -a exists with non-zero code.

Error: cannot get namespace path unless container d4842a93b5b96c0257ce08de921e1e879f6472

[2022-07-08 11:53] vrothberg commented on #14859
I just noticed that the test used `alpine` instead of `$IMAGE`. I'll fix that as well.

[2022-07-08 12:12] RodGaiotto commented on #14858
@vrothberg Valentin, thank you too for your attention and help!

Please, is there any recommended documentation about  _how to setup rootless Podman storage driver to overlayfs_ ?

Thanks folks!

[2022-07-08 12:20] vrothberg commented on #14858
@RodGaiotto, to the best of my knowledge there is no tutorial for that.

The [storage.conf man page](https://github.com/containers/storage/blob/main/docs/containers-storage.conf.5.md) is the best shot for docs.

But Podman should be smart enough to default to using `overlay` if the kernel supports rootless overlay fs or when fuse-overlayfs is installed.

[2022-07-08 12:24] RodGaiotto commented on #14858
Thanks for all the clarifications @vrothberg  and @rhatdan  I appreciate that!

[2022-07-08 12:24] #14858 closed

[2022-07-08 13:16] vrothberg opened #14873 "exit code of 0 if container failed to start"
[code]

Note that this behavior predates the recent exit-code changes but I found the behavior while adding new tests.  Docker properly returns/exits with 127 in the upper example.

I'll soon add a new test with a reference on this issue.

@mheon FYI

[2022-07-08 13:21] cdoern commented on #13539
@rhatdan I have a PR open in c/common but the tests are near impossible. the fix works I know that so I might look for a way to merge with minimal new tests b/c the more I try to make a test the more I break other things...

[2022-07-08 14:09] softwareplumber commented on #14867
Awesome! I completely misunderstood how the id mapping works. Can’t believe how much time I spend on this, really appreciate your help.

Many thanks

Sent from my iPhone

[2022-07-08 14:46] mheon commented on #14862
@n1hility PTAL

[2022-07-08 14:53] mheon commented on #11780
Compose v2 should work with Podman in the same manner as Compose v1 (install podman-docker or set `DOCKER_HOST` to point to your Podman socket), with the added requirement that the `DOCKER_BUILDKIT=0` environment variable must also be set.

[2022-07-08 14:53] mheon commented on #11780
There are no support restrictions, it will work anywhere Podman runs

[2022-07-08 15:16] n1hility commented on #14862
Hi @PlaidPhantom I'll put this on my TODO to add support for. In the meantime as a workaround you can access your windows drive through the mount that is on the wsl linux host, using unix path conventions, like this:

`podman cp /mnt/c/users/foo/bar/file.bakt mycontainer:/var/opt/backups`

[2022-07-08 16:58] #14846 closed

[2022-07-08 18:49] #14204 closed

[2022-07-08 20:25] fugkco opened #14877 "Allow to specify init container type when using play kube"
/kind feature

**Description**

It seems init container type (`podman create ... --init-ctr=type`) cannot be specified in the kubernetes manifest when using play kube (see https://github.com/containers/podman/blob/main/pkg/domain/infra/abi/play.go#L516).

This also doesn't match Kubernetes' default initContainers behaviour, which is closer to setting the type to `once`. In addition, when an init c

[2022-07-08 21:30] giuseppe commented on #14851
isn't `/sys/fs/cgroup/user.slice/user-1000.slice/session-1.scope` owned by root?  At least on my system it is:

[code]

[2022-07-09 01:18] kirbyzhou commented on #14314
Hi, can you tell me where you download qemu-user-static for aarch64-x86_64 ?
I can only find x86_64-aarch64

[2022-07-09 01:40] DekuDesu commented on #13700
WSL 2 was confirmed the issue for myself as well

The following commands should get it to work
[code]

[2022-07-09 06:33] n1hility commented on #13700
You should only ever use WSL2 with podman (Wsl 1 is very likely to lead to problems since it does not implement all Linux system calls (it’s also deprecated))

[2022-07-09 07:39] kp2401075 commented on #14837
Hello @iamthen0ise,
I've tried to replicate the steps you mentioned with `podman machine init --cpus 4 --image-path stable` and then changing memory config in `podman-machine-default.json` Unfortunately this did not have any effect & the issue still remains.

[2022-07-09 09:00] luckylinux opened #14878 "Several permission issues when running podman rootless on Debian 11 Bullseye"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After instaling Podman on Debian 11 Bullseye AMD64, I am experiencing several permissions issues. Furthermore, several processes or directories change from "podman" user (the user that will run podman containers) to "root". This applies to /run/user/1001/libpod/* and /home/podman/.local/share

[2022-07-09 09:08] luckylinux commented on #14878
Several edits in order to enclose commands/results in code blocks.

[2022-07-09 09:42] luckylinux commented on #14878
I  also tried to setup systemd as user and disable root-level podman.

As <podman> user:
[code]

As root:
[code]

[2022-07-09 09:49] 1player commented on #14522
Ugh. Not stale.

[2022-07-09 10:05] rhatdan commented on #14505
@mheon this Issue is waiting on feedback from you?

[2022-07-09 10:09] rhatdan commented on #13700
@n1hility is there anyway podman could detect that it is running on WSL1, and fail with a decent error message?

[2022-07-09 10:11] rhatdan commented on #14522
@umohnani8 Could you take a look at this or assign an intern?
@ashley-cui @vrothberg ^^

[2022-07-09 10:18] Luap99 commented on #14837
https://github.com/containers/podman/pull/14850 was just merged, if you rebuild from main it should return a proper qemu error message (assuming qemu fails).

[2022-07-09 10:21] luckylinux commented on #14878
The "fix" is to issue the following commands
[code]

These commands don't however survive a reboot. And   /etc/rc.local seems to give inconsistent results. Possibly because the systemd service / podman process is only starting AFTER /etc/rc.local has already been executed.

[2022-07-09 12:28] atsushi-tsuda commented on #14620
Our team found that the periodical API call of getting container's log cause the issue and the minimum reproduce procedure.
This report might not be to the point, so that I close it and recreate new one.

[2022-07-09 12:28] #14620 closed

[2022-07-09 12:39] atsushi-tsuda opened #14879 "Periodical log API call cause high CPU/memory usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The periodical, every 3 seconds for example, API call of getting log will cause the high CPU/memory usage in podman API service.

**Steps to reproduce the issue:**

1. Install podman
    Note: I tried Podman 3.0.2, 3.3.1 and 4.0.2, but the result does not change.
2. Run a "do-nothing" contain

[2022-07-09 14:18] rhatdan commented on #14878
If /home/podman is not still owned by podman:podman after a reboot, then you have something far stranger then Podman not running on your system
Is /home/podman on a normal file system?

[2022-07-09 14:25] rhatdan commented on #14879
This looks like some kind of leak. You could verify this by changing your script to fireing the service off at > 5 seconds.  Since the service is supposed to shut down after 5 seconds, when inactive.  If you changed your curl script to fire every 10 seconds, do you still see the problem?

[2022-07-09 14:32] luckylinux commented on #14878
/home/podman is on EXT4 filesystem (same as /).

The storage is on another partition (mounted to /mnt/containers, then rbind to /home/podman/.local/share/containers/storage).

This is the relevant part of my /etc/fstab
[code]

[2022-07-09 15:36] n1hility commented on #13700
@rhatdan yes we should be able to override and prevent it on on init and fail on start if it was changed afterwords. I’ll put a PR together.

[2022-07-09 16:04] jawnsy opened #14880 "podman machine causing kernel panic on macOS (Apple M1)"
/kind bug

**Description**

When running `podman machine start`, I see a dialog pop up to allow permissions for gvproxy and then a pink screen. This seems to be a kernel panic as once my machine restarts, I get the option to submit a crash report to Apple.

I'm not sure whether the issue is in podman or (it seems more likely) CoreOS, so I'm filing here to triage. cc @dustymabe

**Steps to reproduc

[2022-07-10 02:33] p0da opened #14881 "Passing "keep-groups" Using REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently there does not appear to be a way to pass the option `--group-add keep-groups` through the REST API as the /libpod/containers/create endpoint does take a groups key but passing "keep-groups" to it just results in a error on container startup.

[2022-07-10 03:26] kp2401075 commented on #14837
Thanks @Luap99 ,

I re-installed podman with `brew install podman --HEAD` and now I belive the error is being returned as you said.

[code]

[2022-07-10 05:58] glaszig commented on #10117
you just removed the podman 3.0 packages from the repo and broke our entire production pipeline. we're on centos 7 and we're not planing to upgrade the entire os which has vendor support until '24 only because the packages _of one package_ disappeared. i mean, the problem is not that there are no updates... **the packages in the centos 7 folder are just gone**.

yech. what a mess. seriously.

[2022-07-10 07:59] MartinX3 commented on #12965
/remove Stale

[2022-07-10 10:58] rhatdan commented on #14878
After reboot who owns /home/podman/.local/containers/storage?
ls -l /home/podman/.local/containers/storage

[2022-07-10 11:10] rhatdan commented on #14881
Since this is a client server operation, it would be difficult to support keep-groups in the way you would imagine. The container would get the groups of the service rather then the client application.

[2022-07-10 11:18] rhatdan commented on #14880
Can you update your MAC to 12.4 release.  This is a known issue between QEMU and Mac.

[2022-07-10 11:25] luckylinux commented on #14878
I assume you mean /home/podman/.local/share/containers/ (added "/share/") since /home/podman/.local/containers/storage doesn't exist

After reboot
[code]

Your original command says the folder doesn't exist (I assume /share/ is needed in the path):
[code]

[2022-07-10 14:37] Luap99 commented on #14881
keep-groups is just converted to an annotation so I think this already works:
https://github.com/containers/podman/blob/ca5bebb0825a738ee04c073646696906db95c97c/cmd/podman/containers/create.go#L233-L240

[2022-07-10 16:06] KenMacD commented on #14851
@giuseppe Nope, that's part of the issue. On Fedora it's owned by root, on NixOS (at least mine) it's owned by the user.

`$ ls /sys/fs/cgroup/user.slice/user-1000.slice/session-1.scope -al`
[code]

[2022-07-10 18:34] giuseppe commented on #14851
From the `cgroups(7)` man page:
[code]

I think your configuration doesn't still honor the second rule for moving a process to a different cgroup as you'd have to own the `user-1000.slice` cgroup.

I am closing the issue but please keep adding more comments.  Also reopen if I am wrong and you still think it is an issue in Podman itself :-)

[2022-07-10 18:34] #14851 closed

[2022-07-10 20:37] p0da commented on #14881
I would actually be fine with the container getting the groups of the service rather than the client application. Therefore it seems like the best solution is to manually specify "run.oci.keep_original_groups" annotation which after some testing seems to work about as well as keep-groups. Perhaps this should be documented somewhere in the API reference?

[2022-07-10 22:27] Tokariew opened #14882 "rootless podman with userns=keep-id result with drop all caps"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Adding `--userns=keep-id` result with container dropping all caps from rootless container, resulting in some containers to malfunction

**Steps to reproduce the issue:**

1. `podman run -it --rm --name busy busybox`

2. `podman inspect --format="{{.EffectiveCaps}}" busy` Will display list of

[2022-07-10 22:58] rhatdan commented on #14882
This looks correct to me.  The default for this container is to run as the UID of the user who launched it.  Since the default user namespace for rootless containers maps the users UID to UID 0 inside of the usernamespace.  And root defaults to get default caps.
$ podman run -it --rm --name busy busybox grep Cap /proc/self/status
CapInh:	0000000000000000
CapPrm:	00000000800405fb
CapEff:	0000000080

[2022-07-10 22:58] #14882 closed

[2022-07-10 23:07] srcshelton opened #14883 "`podman-4.1.1` rejects one of only two non-alphanumeric Label characters Docker accepts as valid"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In the [Docker documentation](https://docs.docker.com/config/labels-custom-metadata/), it is stated that the only valid (but currently unenforced) Label format is to start and end with a lower-case letter and contain only lower-case letters, numbers, and periods or hyphens.

On reading this,

[2022-07-11 00:47] jawnsy commented on #14880
Thanks for triaging, @rhatdan! Unfortunately, I cannot upgrade to 12.4, as this is a work computer and we have a policy that restricts upgrades to approved versions. I think this policy was put in place because previous upgrades broke some of the software we use.

It seems I can work around this by downgrading to the prior version of CoreOS, do you know the latest version that I should use? I supp

[2022-07-11 02:04] KenMacD commented on #14851
Thanks @giuseppe! I did some more digging in to permissions and the like. I found that if I have `lxcfs` installed I no longer end up with the `nsdelegate` option on the `cgroup2` mount. Removing `lxcfs` (I wasn't actually using it currently) makes everything work as expected.

Hopefully this helps others. It sounds like it's not a Podman bug, but maybe it's worth including the `nsdelegate` requir

[2022-07-11 02:35] xiaoyar commented on #14768
Is it possible to let `podman network create` modify the configuration of default network?

That means, when the specified network is the default network, `podman network create` should modify the configuration of default network, instead of reporting an error like "network already exists".

[2022-07-11 05:46] ianw opened #14884 "Running nested inside docker starts failing with Ubuntu Jammy: writing file `/sys/fs/cgroup/buildah-<random>/cgroup.procs`: Operation not supported"
In our CI, we run an application (```nodepool```/```diskimage-builder```) in container under Docker that then, nested inside this continaer, runs ```podman``` (we use it to extract the root image of containers that we then modify with ```diskimage-builder```).  Our CI recently updated from an Ubuntu Focal distribution to Ubuntu Jammy and this started failing.

The container the app runs in (under

[2022-07-11 06:36] lystormenvoy opened #14885 "Containers cannot start after system reboot in rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Some wrong after reboot system.

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

I create some container rootless. Then I try to let them start after system boot.
So I add `su - myuser -c 'podman restart --all'` to `/etc/rc.d/rc.local`
After reboot I use

[2022-07-11 08:06] vrothberg commented on #14877
Thanks for reaching out, @fugkco!

@baude @rhatdan something to groom

[2022-07-11 08:11] giuseppe commented on #14885
is `/run/user/1000/containers` on a tmpfs or a directory that is emptied on reboot?

[2022-07-11 08:13] vrothberg commented on #14885
`su - myuser -c 'podman restart --all'`

Can you try `su -login`? `su` does not create a proper login session for the user.

[2022-07-11 08:18] giuseppe commented on #14884
the issue could be that it started using cgroup v2.

I think this is a dup of #12559.  You need to make sure Podman is not running in the root cgroup

[2022-07-11 08:47] lystormenvoy commented on #14885
![image](https://user-images.githubusercontent.com/6795312/178225283-2218f8f4-6980-45ee-b8c8-ac144d868b5e.png)

[2022-07-11 09:36] eriksjolund opened #14888 ""podman info" with Go template should be able to print without the appended newline"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

__podman info__ with a Go template should support writing output without the extra appended newline.

(Changing this behaviour would be a breaking change so maybe a new command-line option is needed)

The extra newline makes it difficult to print an array with the entries separated by new

[2022-07-11 09:55] ianw commented on #14884
@giuseppe sorry for being dense, my first rodeo with this particular bit of cgroup v2 -- is that what the commands at https://github.com/containers/podman/issues/12559#issuecomment-992466414 do?

[2022-07-11 10:23] giuseppe commented on #14884
Thanks.  Could you please show me how your cgroup configuration looks like now inside the container?

[2022-07-11 10:29] giuseppe commented on #14885
"transport endpoint is not connected"

Are you using a FUSE file system for `/var/lib/docker`?  Can you show the content of `/proc/self/mountinfo`?

[2022-07-11 11:29] ianw commented on #14884
We don't do any explicit setup of cgroups inside the container; it simply calls "podman" (behind a lot of substitution variables [1])?

I can get the CI to report arbitrary things before it tries this; e.g. I'm running https://review.opendev.org/c/openstack/diskimage-builder/+/849274/2/diskimage_builder/elements/containerfile/root.d/08-containerfile now.  I'll put results when I get them.  I'll al

[2022-07-11 11:36] Luap99 commented on #14883
This is not valid go template syntax, I would be very surprised if this works with docker.

https://pkg.go.dev/text/template

You have to use the index function:
`{{index .Config.Labels "entrypoint-sum"}}`

[2022-07-11 11:36] #14883 closed

[2022-07-11 11:46] edsantiago commented on #14168
This isn't a flake I can log with my flake-logger; and I no longer remember how/when/where I saw those logs.

[2022-07-11 11:46] #14168 closed

[2022-07-11 11:55] Luap99 commented on #14888
I think adding a new line is the correct thing to do with custom templates. I undersatnd that there might be use cases wehre you want to turn it off but I am not sure how such UI should look like. This would effect all go template format options.

I think in your example you should be able to do but this seems to be broken because of https://github.com/containers/podman/issues/13446

[code]

The e

[2022-07-11 11:58] AlphaJack commented on #13337
Is it possible to also prettify pod units other than container ones?
Also, is there no option to have the image on a new line instead of the same line of the last option?

[2022-07-11 12:17] srcshelton commented on #14883
This would be great to add to the `podman inspect` man-page, which currently says only:

… with the examples not including anything more complex such as the syntax you’ve suggested!

[2022-07-11 12:22] lsm5 commented on #10117
@glaszig you can still find podman in the centos 7 extras repo. And, we've always told production users to use distro packages and not depend on kubic.

[2022-07-11 12:23] Luap99 commented on #14888
I just realized that `.Registries` is not an array/slice but rather a map so you still need a range loop.

The request is valid but we would need to figure out a good UI which should not require a new cli option IMO.

[2022-07-11 12:53] baude commented on #14303
we are cutting an 4.2 rc1 today.  Any chance you couild build that and try?

[2022-07-11 13:16] cdoern commented on #12829
I did not realize this one was still open. Now that scp is in a much more developed state, let me look back and see if withering away systemd dependencies is at all possible.

[2022-07-11 13:16] cdoern commented on #5805
@Luap99 do we need to modify podman to expose this option?

[2022-07-11 13:17] cdoern commented on #14671
@vrothberg can we close this as it seems this is expected behavior or do you want to take it?

[2022-07-11 13:17] mheon commented on #14873
We can, at the very least, refuse to exit cleanly if the OCI runtime did not exit cleanly when starting. To me, this smells like a failure in our parsing logic that attempts to determine if the OCI runtime failure was ENOENT - either it's not parsing that error correctly, or it's not running at all for `podman start`.

[2022-07-11 13:18] Luap99 commented on #5805
No but we have to add the option to the network create man page

[2022-07-11 13:44] atsushi-tsuda commented on #14879
@rhatdan

Thank you for comments.

I tried 10 seconds interval with podman 4.0.1.
The increase of CPU/memory usage became slow, but the tendency to increase them seems to be unchanged.

| CPU usage(%) | Memory usage(%) | Used Memory(KiB) | Duration after service |
|:---:|:---:|-----:|-----:|-----:|
| 0.3 | 0.3 | 62,112 | 0h |
| 3.8 | 2.2 | 366,504 | 5h |
| 7.3 | 4.7 | 762,448 | 13h |

Actually, I'

[2022-07-11 14:17] Luap99 commented on #14636
Can you try with podman from latest main, this will return a proper qemu error. I guess this is the same as https://github.com/containers/podman/issues/14837#issuecomment-1178459266

[2022-07-11 14:43] vrothberg commented on #14671
I think we need to keep this open.  Auto updates still don't work with `play kube`.  But, we have the groundwork done with the systemd integration of play-kube.  What it will probably break down to is that entire service will be restarted if one container has a new image.

[2022-07-11 14:48] rhatdan commented on #14547
@vrothberg @flouthoc is this still failing?

[2022-07-11 14:52] flouthoc commented on #14547
@rhatdan Yes cause I think this is not yet implemented on remote end I'll add this.

[2022-07-11 15:00] rhatdan commented on #14523
@giuseppe @flouthoc PTAL
I have verified that this still happens, we need buildah run to notice when its parent dies, it should also die.

[2022-07-11 15:01] rhatdan commented on #13102
@cdoern PTAL

[2022-07-11 15:03] rhatdan commented on #14878
Sorry for the typo.  This looks correct.  Does Podman work now?

[2022-07-11 15:05] luckylinux commented on #14878
Nope. As I said, the error "switches" between the different alternatives mentioned in the original post (a. b. c. and d.). The only "solution" to make it work is by applying https://github.com/containers/podman/issues/14878#issuecomment-1179519007 at every reboot.

This is however not normal at all

[2022-07-11 15:13] #13030 closed

[2022-07-11 16:15] edsantiago commented on #14833
@cevich we cannot do that. `criu` is completely broken. There is an [f35 build](https://bodhi.fedoraproject.org/updates/FEDORA-2022-e5cc3b49e9) but it's not stable yet. And, I have no idea where things stand on Ubuntu.

[2022-07-11 16:24] cevich commented on #14863
Oof.  Yes, the Cirrus-API will always reflect the "latest" artifact, so a re-run of a task for any reason will effectively clobber API access to any "old" runs.  So if I understand correctly, you need a way to link to the annotated log output from a specific run of a task, preferable by `TaskID`.  The tricky part is now we've got multiple clouds storing both logs and artifacts, so we need some kin

[2022-07-11 16:34] Luap99 commented on #14879
Does the container produce a lot of output or does it even happen without any container output?

[2022-07-11 17:19] rhatdan commented on #14878
What about the owners of the other directories after reboot, are they something other then Podman?  Do they get erased ?

[2022-07-11 17:26] cevich commented on #14833
Excellent.  Yep, just gotta be the "squeeky wheel" sometimes to get things done.  As you probably realize, this will take a while to move through the "prior-fedora" repository workflows and be released.  However, if you want to speed that up, there's no shame in fudging our image-build scripts to temporary `dnf install -y $PRERELEASE_URL` for F35.

OMG, I've had to start grouping and color-coding

[2022-07-11 17:28] rhatdan commented on #14877
I think it should follow the kubernetes behaviour.
@umohnani8 WDYT?

[2022-07-11 17:45] luckylinux commented on #14878
Based on my experience so far, 2 locations (not necessarily the same every time, since the error message is different) get owned by root after reboot:

/home/podman/.local/share/containers/storage/overlay/l
/run/user/1001/

[code]

Specifically root seems to own the following (sub)directories after reboot:

- /run/user/1001/containers
- /run/user/1001/libpod
- /home/podman/.local/share/containers/

[2022-07-11 17:50] luckylinux commented on #14878
A prime suspect at the moment for me would be podman-auto-update timer, but I'm not sure what this does to be honest.

[code]

Otherwise it could be something related to the "dead" states reported in the system log. Not sure why, but sometimes I also get the feeling like the PATH environment variable is not always set correctly for root (e.g. sometimes I cannot run "reboot", I must run "/sbin/rebo

[2022-07-11 17:58] luckylinux commented on #14878
I tried disabling all podman related services
[code]

At least now there is a new development/error:
[code]

[2022-07-11 18:01] luckylinux commented on #14878
Solved by
[code]

(shadow-utils is not available on Debian 11)

[2022-07-11 18:05] umohnani8 commented on #14877
I agree, we should follow k8s behavior for type and restarts. We can add a flag `--init-ctr` to the `play kube` command so users can specify the type. If none is specified, we can default to `once`.

I can work on this.

[2022-07-11 19:01] AlphaJack opened #14897 "Prettify also pod units, move container image below"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Hey there, thank you for implementing #13337.
I would suggest to expand the improvement also to pod units, and if possible placing the container line in a new line istead of the one used by the last option in container units.

**Pod units**

BEFORE:
[code]

AFTER:

[code]

**Container uni

[2022-07-11 20:24] cdoern commented on #13102
`-m` for pods was just implemented last week. I think `play kube` applies the memory limit to each container in the pod rather than pulling from the cgroup parent as podman pods are supposed to. This might explain the differences in settings.

Bot sure if this is a bug or just a quirk of different implementations.

[2022-07-11 21:13] rhatdan commented on #14878
Ok I will close.

[2022-07-11 21:13] #14878 closed

[2022-07-11 22:48] giuseppe commented on #14884
I don't see any sub-cgroup, that means all processes are running in the root cgroup.

With such setup, you first need to move the processes to a new sub-cgroup.  Have you tried the fix suggested here:
https://github.com/containers/podman/issues/12559#issuecomment-992466414 ?

[2022-07-12 00:12] atsushi-tsuda commented on #14879
-> The container output not much but some logs. The log is 49,152 Byte (=48KiB) and 883 lines.

[2022-07-12 01:27] lystormenvoy commented on #14885
[code]

content of storage.conf
[code]

[2022-07-12 01:58] ianw commented on #14884
@giuseppe hrm, I guess I got the same thing as the reporter in https://github.com/containers/podman/issues/12559#issuecomment-995549878

[code]

This is happening *inside* the container.  Also, I tested running the nested podman as root with ```sudo``` and that gave the same error...

[2022-07-12 06:38] vrothberg commented on #14877
@umohnani8 can you elaborate on why we need a flag? If [specified in the YAML](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use), I'd expect `play kube` to just use them as K8s does.

[2022-07-12 07:33] giuseppe commented on #14885
Thanks.  Could it be that the `su - myuser -c 'podman restart --all'` happens _before_ `/run/user/1000` is created?

In any case `su - $USER ...` is not supported since it doesn't create a user session as @vrothberg pointed out.

Feel free to comment further and please reopen the issue if it still happens from a proper user session.

[2022-07-12 07:34] giuseppe commented on #14884
after you run that command, is the content of `/sys/fs/cgroup/cgroup.procs` left unchanged?

I'll see if I can fix it in Podman and perhaps let it automatically create a sub-cgroup when running in a container, but before that, I'd need to know more about the entrypoint for your container.  Do you run directly Podman or something else?

[2022-07-12 08:01] fugkco commented on #14877
Agreed. I think if anything this option should be managable on a per init container basis, not globally. But I don't see an obvious way of doing this based on K8s Container definition. Perhaps a label on the pod spec but that seems like a lot.

[2022-07-12 09:08] lystormenvoy commented on #14885
Maybe the selinux cause this problem, I am trying

[2022-07-12 09:28] Ulrar commented on #3266
Hi,

Sorry to dig this up, but what's the solution to fix this ?
Is there some manual cleanup needed ?

Thanks

[2022-07-12 09:31] eriksjolund opened #14902 "Create a Podman performance tips tutorial"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add a Podman tutorial that discusses factors that might impact the speed of Podman.

Some sketchy ideas:

* use __--uidmap__ and __--gidmap__ instead of the __--volume__ option `:U`
* use `:O` to avoid local disk
* use a fast OCI runtime (crun)
* use a fast storage driver (native overalyf

[2022-07-12 09:52] giuseppe commented on #14884
opened a PR: https://github.com/containers/podman/pull/14904

[2022-07-12 09:55] ianw commented on #14884
thank you; i'll need a little time but should be able to test this

[2022-07-12 10:26] ianw commented on #14884
Well it has never come up before :)  Would I be on the right path in the forked shell-script that starts podman, making a cgroup and running podman with ```cgexec```?

[2022-07-12 10:45] giuseppe commented on #14884
you need to run the container entrypoint itself in a new cgroup.  There should not be any process left running in the root cgroup

[2022-07-12 11:00] rhatdan commented on #3266
Updating your version of Podman most likely.  podman system reset will remove all images and containers.

[2022-07-12 11:23] rhatdan commented on #14877
I agree no reason for a flag, we should work like Kubernetes does with init containers.

[2022-07-12 12:04] edsantiago commented on #11594
Another one: [sys remote ubuntu root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4602887803240448/html/sys-remote-ubuntu-2110-root-host.log.html)

[2022-07-12 12:43] eriksjolund opened #14906 "The command-line option builtin-volume mentioned in podman-create.1.md does not exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The documentation mentions the command-line option __builtin-volume__

https://github.com/containers/podman/blob/4d111fa9af0352d25d4c9ecc7d203f20f5727d09/docs/source/markdown/podman-create.1.md?plain=1#L452

but when I try it out Podman fails

[code]

[2022-07-12 13:53] eriksjolund opened #14908 "Create a Podman socket activation tutorial"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add a Podman tutorial that describes Podman socket activation

* mention the two ways Podman supports socket activation:
  + Podman API service
  + socket activation of containers
* provide some examples for running a container that is socket-acitvated
* mention that socket-activated traf

[2022-07-12 14:48] umohnani8 commented on #14877
Kuberentes doesn't have a field to set the type of init container in the yaml, there is no `once` or `always` in kubernetes land. We can change the default to be `once` for play kube if that is what kubernetes does.

If we want to give the user the choice to decided if they want the init containers to be `always` or `once`, that would be a flag in play kube or we parse a label added to the podspec

[2022-07-12 14:53] vrothberg commented on #14877
That sounds like a good first step.

A label/annotation sounds good. We do that for a number of Podman-specific features already and I see beauty in all these things being part of the YAML such that it works everywhere the same way.

[2022-07-12 15:10] #14837 closed

[2022-07-12 15:14] #14906 closed

[2022-07-12 16:58] popcorn9499 opened #14913 "OCI runtime error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. get a working rootless podman configuration setup

2. run this command `podman run -it docker.io/sandreas/m4b-tool:latest`

**Describe the results you received:**
I ended up getting a `Error: OCI runtime error: crun: open executable: Operation not support

[2022-07-12 17:59] rhatdan commented on #14897
@cdoern Interested in taking a look?

[2022-07-12 19:03] cevich commented on #14833
If I wasn't clear (and if you don't want to wait weeks), I'm totally okay with a temporary `dnf install -y $BODHI_URL` in the cache-image packaging scripts.  At least if we can get the Fedora's squared away, adding a `skip("TODO: issue https://blah.blah")` for Ubuntu tests isn't unprecedented.

[2022-07-12 19:05] tyler92 commented on #11940
I have investigated this issue (it reproduces in my case too). Simple program based on [shm_lock](https://github.com/containers/podman/blob/main/libpod/lock/shm/shm_lock.c) code shows the following picture:

[code]

462221 is process, that is started when restart is occurred - `podman container cleanup`
462207 is any other process, in my case it's `podman pod rm -f -a`

And these processes are dea

[2022-07-12 19:20] tyler92 commented on #11940
So it looks like we should lock of a container's Pod before lock a container. Is it a good idea?

[2022-07-12 21:12] edsantiago opened #14917 "man pages: docker differences"
Per request from @rhatdan I ran the man-page xref script against `moby-engine`. Here are the results, comparing to main @ 72d13c56ce2784aa27ce2481e85de516672d0b5f:
[code]
- [x] 'docker  --help' lists '--config', which is not in docs/source/markdown/podman.1.md
- [x] 'docker  --help' lists '--context', which is not in docs/source/markdown/podman.1.md
- [x] 'docker  --help' lists '--debug', which is

[2022-07-12 21:17] mihalicyn commented on #14833
@edsantiago Ed, please let me know if you have any problems with CRIU and help if help is needed. We haven't changed anything in the CRIU code, this is was just a build issue, because CRIU was build against old version of Glibc. From my point of view, after Adrian @adrianreber detected the problem and triggered CRIU rebuild all should start fork flawlessly.

What's the problem with Ubuntu?

[2022-07-12 21:24] edsantiago commented on #14833
@mihalicyn thank you! As I wrote in bodhi, the criu f35 build works perfectly. Unfortunately it's stuck in bodhi limbo.

Ubuntu: my recollection is that podman checkpoint tests failed on Ubuntu also. The error messages give no visibility into the reason, so I (perhaps naïvely) assumed that it was the same glibc problem. I have no way to log into an Ubuntu system, so there's no way for me to invest

[2022-07-12 22:13] mihalicyn commented on #14833
It's my pleasure!

hm... I can recall some problem with overlayfs on Ubuntu kernels.
https://bugs.launchpad.net/ubuntu/impish/+source/linux/+bug/1967924

If overlayfs was used in the podman containers then I'm almost sure that it's the same problem.

[2022-07-12 23:25] mheon commented on #11940
That is definitely a separate issue, please file a new bug for it

On Tue, Jul 12, 2022 at 15:20 tyler92 ***@***.***> wrote:

[2022-07-13 00:41] edsantiago opened #14918 "podman run: systemstack called from unexpected goroutine"
New flake seen in cron, [sys f33 rootless](https://api.cirrus-ci.com/v1/task/4643688180613120/logs/main.log) which, I assume, we don't exactly care about:
[code]
Looking through my flake logs, I see a small number of instances, in both `sys` and `int` tests, but nothing since January 2022. I'm filing this and will close it immediately: the sole purpose is for me to have a reference if/when I see i

[2022-07-13 00:41] #14918 closed

[2022-07-13 09:10] #14884 closed

[2022-07-13 09:29] vrothberg commented on #7705
Probably a nice work item for interns.

https://github.com/containers/skopeo/pull/1540 should serve as a good example of how to use the c/image API.  `podman image sign` should be able to use it directly. `podman push` needs to do some wiring in [libimage's](https://github.com/containers/common/tree/main/libimage) CopyOptions.

[2022-07-13 09:36] ebattat opened #14920 "GitHub Actions: Ubuntu: Podman build failed: Connection reset by peer"
There is a critical but in your latest version on
Ubuntu version: 22.04
Podman version: 3.4.4+ds1-1ubuntu1
The command that failed:
`podman build -t quay.io/ebattat/benchmark-runner:latest .`
The error:
`error running container: error from /usr/bin/crun creating container for [/bin/sh -c dnf update -y --nobest]: sd-bus call: Connection reset by peer #1994`

Connection reset by peer
Got the followi

[2022-07-13 09:41] vrothberg commented on #11829
I am going to take a shot and close the issue.  I believe our changelogs have improved with PRs enforcing release notes.

[2022-07-13 09:41] #11829 closed

[2022-07-13 09:43] #11718 closed

[2022-07-13 09:45] #11847 closed

[2022-07-13 09:48] vrothberg commented on #11554
@jmguzik this may be something for you :)

[2022-07-13 09:49] mtrmac commented on #11718
Despite the issue titles, from my quick skim the two have basically nothing in common. Maybe _both_ should be closed in favor of shorter and more explicit issues :)

[2022-07-13 10:10] vrothberg commented on #8193
@Luap99 shall we move the issue to netavark?

[2022-07-13 10:10] vrothberg commented on #8305
@rhatdan are you still interested in the scan command?

[2022-07-13 10:11] vrothberg commented on #8223
@flouthoc since you are deep into manifest code. Do you have cycles to look into this issue?

[2022-07-13 10:27] jmguzik commented on #11554
/assign @jmguzik
Not right now, but will look at it in the coming days.

[2022-07-13 11:41] Luap99 commented on #14917
Podman supports this as NOOP and hides it. AFAIK we always support gpus?

We have --dns-opt, interesting that nobody noticed this yet.

No idea what this is but looks related to --hostname.

AFAIK this is deprecated but still supported by podman.

This is deprecated for a long time in docker so podman never supported it.

No clue about this but this sounds scary to me.

'docker create --help' list

[2022-07-13 12:06] Luap99 commented on #14920
Running inside a container requires more setup. see https://www.redhat.com/sysadmin/podman-inside-container

[2022-07-13 12:47] rhatdan commented on #14917
Great work @edsantiago

[2022-07-13 12:48] rhatdan commented on #14917
@vrothberg @ashley-cui @cdoern @baude Intern heaven above...

[2022-07-13 12:50] vrothberg commented on #14917
:rofl:

To synchronize work, please drop a comment when starting to fix a flag. First come, first serve, but this way we can avoid duplicate work.

[2022-07-13 12:57] tyler92 opened #14921 "Deadlock when RestartPolicy is used"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Sometimes podman is unable to do anything, even `podman info`. It is caused if there is any container with RestartPolicy=Always, that is restarting very often. It looks like deadlock and I've investigated it.

**Steps to reproduce the issue:**

1. Create the following kube yaml:
[code]

2. Ru

[2022-07-13 12:58] tyler92 commented on #14921
I tried to add lock for Pod before locking container and this bug is not reproduces. But it's dirty hack to check my theory.

[2022-07-13 12:59] tyler92 commented on #11940
No problem: https://github.com/containers/podman/issues/14921

[2022-07-13 13:11] ebattat commented on #14920
Looks that latest update of podman inside ubuntu container in GitHub Actions cause it.
Can I downgrade podman version or install manually 3.4.2 instead of 3.4.4 ?

[2022-07-13 13:16] mheon commented on #14917
To add a bit more to what @Luap99 did...

`'docker create --help' lists '--runtime', which is not in docs/source/markdown/podman-create.1.md`
This is a global flag in Podman, not a flag to an individual command.

`'docker create --help' lists '-c', which is not in docs/source/markdown/podman-create.1.md`
I think this is an alias for an existing command - maybe `--cpus` or `--cpu-shares`?

`'docker

[2022-07-13 13:43] ashley-cui commented on #14917
@karthikelango137, If you're looking for work to do :)

[2022-07-13 13:57] rhatdan commented on #8305
This would probably come under the banner of plugins.  Making it easy for others to build a scanner plugin would be an issue.

[2022-07-13 14:03] edsantiago commented on #14917
Footnote: should anyone wish to run the script themselves, the following diff is necessary because of slightly different `--help` output:
[code]

[2022-07-13 14:13] umohnani8 commented on #3761
@mheon please find the bugzilla for this and link it here.

[2022-07-13 14:19] umohnani8 commented on #5805
This has been fixed upstream.

@cdoern can you please verify this?

[2022-07-13 14:20] cdoern commented on #5805
yes, a new network option `--isolate` was added in netavark.

[2022-07-13 14:21] mheon commented on #6045
Going to transfer this to Netavark, as the fix can live there

[2022-07-13 14:21] edsantiago commented on #14917
I think this is an alias for an existing command - maybe --cpus or --cpu-shares?

Belated followup: @mheon this was addressed in #14916 just now (yesterday/today). Presumably if I rerun the script right now (which I'm way too lazy to do), the above warning will be gone.

[2022-07-13 14:21] Luap99 commented on #5805
We still have to document that in the man page.

[2022-07-13 14:22] cdoern commented on #11576
@vrothberg not sure, I really think this is an example of just some necessary code removal, `--dangling` does not seem to do anything cc/ @jwhonce @baude

[2022-07-13 14:22] umohnani8 commented on #6114
Upstream cni has no interest in supporting this, it has been a legacy issues.

Please try with netavark to see if it is fixed there.

[2022-07-13 14:22] #6114 closed

[2022-07-13 14:34] cdoern commented on #5805
I will do that today, nice catch

[2022-07-13 14:34] umohnani8 commented on #8305
Will continue the conversation in the plugin issue https://github.com/containers/podman/issues/13461

[2022-07-13 14:41] mheon commented on #10665
I'm going to close this; this should be implemented by an external volume plugin, not in Podman itself.

[2022-07-13 14:44] umohnani8 commented on #10076
Unless we find a way to remain backwards compatible, we are not going to fix it. The existing deployments would break.

[2022-07-13 14:44] #10076 closed

[2022-07-13 14:46] rhatdan commented on #14917
Added a checklist of the ones that are either done or intentionally not done.

[2022-07-13 14:50] baude commented on #9539
this is verified to work with podman 4.x and the netavark/aardvark-dns network backend.  you can do this simply with standard tcp/ip with play kube.  the one gotcha is that the podman's default network does not have dns enabled, so you need to create a new network (`sudo podman network create new1`) and then ensure you also use the `--network` option in play kube.  For example:

[code]

[2022-07-13 17:09] popcorn9499 commented on #14913
It works on root with or without --privileged.

However it did not work when in rootless with --privileged either

[2022-07-13 17:14] popcorn9499 commented on #14913
I am not 100% sure how I would go about doing that I will do more looking and get back to you on that

[2022-07-13 17:22] cevich commented on #14833
If Ed's speaking of our podman CI tests, those all use the vfs driver, not overlay.  Though I believe the system tests would use overlay.

[2022-07-13 17:43] rhatdan commented on #14913
@giuseppe PTAL

[2022-07-13 19:06] shanesmith commented on #14880
FWIW, #14563 is what made things break for 12.3, so another workaround could be to undo the changes seen in the PR in your `~/.config/containers/podman/machine/qemu/<machine>.json`

[2022-07-13 19:29] #12475 closed

[2022-07-13 20:00] shanesmith opened #14928 "Multiple containers cannot publish a port from different IPs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Multiple containers cannot publish the same port from different IPs.

**Steps to reproduce the issue:**

1. Run a container with port forwarding:
`podman run -it -p 127.0.0.1:9090:9090 alpine`

2. Run a second container forwarding the same port but from a different IP
`podman run -it -p 127.0

[2022-07-13 20:05] edsantiago opened #14929 "deadlock(?) in podman rm(?)"
Sorry, I really don't know what happened nor how to even report it. While testing #14772 my podman got stuck, and remains stuck. It looks like a deadlock. I don't actually know where it stuck in `apiv2` tests, but _think_ it's in a DELETE. I was able to run a `ps`:
[code]
...but `rm` has hung for at least ten minutes:
[code]
`lsof` pointed me at `/dev/shm/libpod_rootless_lock_MYUID`, which surpris

[2022-07-13 23:41] byarbrough commented on #12548
Hi @rhatdan I ran in to this on both Fedora and Ubuntu with Podman API v3.2.1 and v4.1.1.
Here are two examples:

1. Simply running the https://github.com/containers/Demos/tree/main/podman_go_bindings demo requires downloading quite a few dependencies, as [linked in the README](https://podman.io/getting-started/installation#build-and-run-dependencies)

2. Even just calling the [system info](https:

[2022-07-14 04:16] gbraad commented on #14698
A follow-up issue is to provide better feedback on what is downloaded:

![image](https://user-images.githubusercontent.com/1894/178897178-8aa51ed8-d62b-4058-82a7-fc7b4723a6c5.png)

At the moment `rootfs.tar.xz` is the only information that is shown. It would be nice if the actual redirected version, eg `v0.0.2` is shown instead of the `latest`.

[2022-07-14 04:17] gbraad commented on #14698
@n1hility I remember you mentioning updating the man pages as the imagestream is not used (but instead an imagepath).

[2022-07-14 05:51] qrli opened #14933 "host.containers.internal accessing host port served by Windows app"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This is about latest Podman for Windows and `host.containers.internal`. The capability of `host.containers.internal` seems to differ from docker's. My tests have excluded the firewall factor.
- `host.containers.internal` can access ports exposed to host in other containers. Cool.
- Howeve

[2022-07-14 07:39] dosmanak commented on #10800
Hello I am getting this error on podman 3.4.7.
I deleted container from pod and try to recreate it.

$ rpm -q podman:`podman-3.4.7-1.fc35.x86_64`

$ podman pod  inspect tomcat_db
[code]
$ podman run --pod tomcat_db --name tomcat  -d tomcat
[code]
I restarted the podman service and even computer which did not help.

[2022-07-14 07:41] giuseppe commented on #14913
what is the underlying file system?

Could you share the content of `/proc/self/mountinfo`?

[2022-07-14 07:46] ebattat commented on #14920
Resolved by using docker instead of podman.
I think that Podman team should be synchronized with GitHub actions team regarding issue like that.
 !!!

[2022-07-14 07:48] giuseppe commented on #14913
and please also include the output for:

[code]

[2022-07-14 09:46] flouthoc commented on #14667
Created a PR and verified manually in various sample space.

[code]

[2022-07-14 09:49] flouthoc commented on #14667
@Romain-Geissler-1A Above PR in `c/common` closes this issue: https://github.com/containers/common/pull/1090 feel free to verify the patch :) Thanks

[2022-07-14 11:47] pratmeht opened #14936 "Podman Upgrade caused issues with containers"
/kind bug

**Description**

RHEL 7.9 host has podman version 0.4.1.
I tried to upgrade using following cmds:
[code]
podman got updated to version 1.6.4

Following is the output of the update.
[code]

The Apps on my Containers were accessible however when I tried to get inside the container, I get the error.

[code]

I restarted the podman host. Then I noticed that my containers went in "created" S

[2022-07-14 12:07] Luap99 commented on #14936
Upstream development can only support the latest podman versions, v4.1.1 at the moment.

If you have problems with RHEL please reach out to your Red Hat support channels.

[2022-07-14 12:07] #14936 closed

[2022-07-14 12:30] tyler92 opened #14937 "RestartPolicy doesn't work if conmon was SIGKILL-ed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**I'm not sure that it's a bug**, but at least I would like to listen to some comments. If conmon process is killed with SIGKILL signal, container will not be restarted after a crash even if RestartPolicy=Always is used.

**Steps to reproduce the issue:**

1. Create and run container with Res

[2022-07-14 12:35] pratmeht commented on #14936
Hi @Luap99 , I am trying to update my podman to latest version by doing "yum update podman", however it only goes to 1.6.4.
This does not seem to be an RHEL problem.
The podman fails to work after the update. Who can assist ?

[2022-07-14 13:15] tyler92 commented on #14937
Yes, I understand. But what if conmon will be killed by OOM (for any reason)? Looks like RestartPolicy is not a reliable mechanism? Can you give any suggestions for reliability from this point of view?

[2022-07-14 13:22] rhatdan commented on #14937
Yes the only tool that can guarantee this is systemd, because if it dies, then your system dies.

[2022-07-14 13:22] #14937 closed

[2022-07-14 13:54] rhatdan commented on #14043
I think @giuseppe pointed out the fix for this, so I am closing.

[2022-07-14 14:44] mheon commented on #10800
This has been fixed upstream. Can you try a more recent Podman?

[2022-07-14 14:48] umohnani8 commented on #12756
The follow up PR was merged in https://github.com/containers/podman

[2022-07-14 14:48] #12756 closed

[2022-07-14 14:53] jdoss opened #14941 "Podman socket performance issues"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is kind of a cross post issue to see if there is anything that can be done to improve the performance of the Podman socket under high concurrency.

I opened this issue https://github.com/hashicorp/nomad-driver-podman/issues/175 on the Nomad Podman driver project to see if we can track do

[2022-07-14 14:55] baude commented on #14941
Have you tried removing the nomad client and flood the socket without it?

[2022-07-14 15:07] baude commented on #14941
is it possible to exactly reproduce what you are doing?  otherwise, this is a lot to ask

[2022-07-14 15:18] jdoss commented on #14941
@baude Not without launching your own Nomad cluster and loading up each client node 200+ containers each. I understand it's a lot to ask and I am willing to do whatever I can on my end to provide more information.

@Luap99 Yeah the Driver does track the log endpoint. Here is where I believe it is doing that:

https://github.com/hashicorp/nomad-driver-podman/blob/main/api/container_logs.go#L16

[2022-07-14 15:22] Luap99 commented on #14928
I don't think the first solution will work. The gvproxy process forwards the port to the eth0 interface so the packages will not reach the other interfaces.

The second solution sounds complicated and hard to maintain (where would we store what ports are used?).

I don't really have a good handle on this one but open to ideas. Does it work with docker-desktop?

[2022-07-14 15:32] jdoss commented on #14941
It looks like I can disable log collection in the Nomad Podman driver.

[code]

I am going to test that out on my client nodes and see if I have better performance when deploying a lot of containers at once.

[2022-07-14 16:01] byarbrough commented on #14917
I will grab `docker push --help' lists '--all-tags`

[2022-07-14 16:01] waikontse commented on #14303
Here is a snippet from my m1 pro on 4.2 rc1. I hope it is useful. Also, I've use podman machin set --rootful
before starting the machine. Removed the old machine with the old settings set up by podman 4.1.1
`
podman --version
podman version 4.2.0-rc1
➜  podman-4.2.0-rc1 podman machine start
Starting machine "podman-machine-default"
Waiting for VM ...
Error: qemu exited unexpectedly with exit code

[2022-07-14 16:36] edsantiago commented on #14173
New set of symptoms in [remote f36 root](https://api.cirrus-ci.com/v1/artifact/task/6300287030788096/html/int-remote-fedora-36-root-host.log.html):
[code]
The surprising thing about this is that a *lot* of tests fail, and all of them have the same presumably-random string. I would expect each test to have a unique string. Whoever groks the random-netns-name code, that might be a good starting plac

[2022-07-14 16:37] edsantiago commented on #14173
Renaming & repurposing this issue as a general place to log \*vark flakes

[2022-07-14 16:41] Luap99 commented on #14173
This should not effect netavark/aardvark at all, using a custom net namespace will never call into the network backend.

[2022-07-14 16:55] shanesmith commented on #14928
Ah you're right, the first solution doesn't work, sorry should have tried it out first. With `gvproxy` configured to forward `127.0.0.1:9090` to `127.0.0.1:9090` traffic did not reach a service (eg: I used netcat) listening on that address and port, and not even if listening on `*:9090` instead.

The second solution might not be too complicated if we don't need to store/manage the random port mapp

[2022-07-14 17:24] popcorn9499 commented on #14913
The underlying filesystem should be zfs as thats the filesystem for the home directory

the contents of /proc/self/mountinfo are https://pastebin.com/XZFRyCQc

[2022-07-14 17:26] popcorn9499 commented on #14913
pastebin didnt allow me to upload that large of a file so I had to upload it here. Anyways here ya go https://photos.popicraft.net/u/files/12.26.20-14.07.22-kSEqzrEt9U.txt

[2022-07-14 17:56] shanesmith commented on #14928
I wasn't aware that iptables is used in the machine for port forwarding, could you point me to the code that handles this? Having said that, I ran `podman -c podman-machine-default-root run -it -p 9090:9090 alpine` and with `iptables -L` I don't see any port forwarding rules, although my knowledge of iptables is fairly limited so I might be missing something.

Took a look at how Docker Desktop mig

[2022-07-14 18:27] Luap99 commented on #14928
You can bind to any 127.x.x.x address on linux without problems.

You have to use `iptables -L -t nat` inside the VM to see the port forwarding rules.

I guess docker can do because there port forwarder works differently, somehow it can send the packages to localhost?
Maybe we can fix the at the gvproxy level so it can also handle this use case but I am not familiar with gvproxy so I have no idea

[2022-07-14 18:55] shanesmith commented on #14928
I've also just found this [article](https://www.docker.com/blog/how-docker-desktop-networking-works-under-the-hood/) that could be helpful, but most of it is over my head at the moment.

[2022-07-14 18:55] edsantiago commented on #14172
Still happening, but the \*vark flake situation is confusing, and possibly all related, so for now let's focus on tracking everythin in #14173

[2022-07-14 18:55] #14172 closed

[2022-07-14 19:50] karthikelango137 commented on #14917
I will take  'docker rmi --help' lists '--no-prune', which is not in docs/source/markdown/podman-rmi.1.md

[2022-07-15 00:06] ianw commented on #14884
@giuseppe I tried pulling master just do double check, but I still hit the same issue, so I think that https://github.com/giuseppe/libpod/commit/e3419c03245c5639d457cb27f4081cee400f3a36 doesn't fix this particular use case?  So I wonder if this really is closed by that...

One thing from the prior comment https://github.com/containers/podman/issues/12559#issuecomment-992466414 is that ```cat <...p

[2022-07-15 03:18] jakecorrenti commented on #14917
I will also take `'docker run --help' lists '--volume-driver'`

[2022-07-15 07:48] vrothberg commented on #12548
Thanks for bringing that up, @byarbrough.

It is definitely our goal to trim the (transitive) dependencies of pkg/bindings down as much as possible.

@baude @Luap99 FYI

[2022-07-15 07:57] #14667 closed

[2022-07-15 08:03] Luap99 commented on #12548
Using libpod/define is fine and expected, maintaining the same types twice is will cause more work and problems.
The problem here is that unlike libpod/define which only includes types it also uses types from other packages that also contain actual code and even c code, therefore you need the build tags to disable that.

The correct way to fix this is to move all required types into separate packa

[2022-07-15 08:04] vrothberg commented on #14929
I try to take a look today.

@edsantiago, `kill -SIGABRT` will let go print a stack trace which can be extremely useful for such deadlocks.

[2022-07-15 08:44] vrothberg commented on #14929
Also happens locally.  An easy reproducer:
`./bin/podman kube play ~/kube.yaml && ./bin/podman kube play --down ~/kube.yaml`

With `~/kube.yaml`:
[code]

It smells like another exit-code issue.

[2022-07-15 08:50] vrothberg commented on #14929
[code]

[2022-07-15 08:56] vrothberg commented on #14929
Also happens when using `podman pod rm`.

[2022-07-15 09:36] #14908 closed

[2022-07-15 10:57] rhatdan commented on #13779
@Luap99 @haircommander Do we know if this is fixed in conmon-rs?

[2022-07-15 10:57] #14513 closed

[2022-07-15 10:58] rhatdan commented on #13076
@vrothberg Any other thoughts on this?`

[2022-07-15 12:01] rhatdan commented on #13076
SGTM

[2022-07-15 12:34] vrothberg commented on #14929
@mheon WDYT?

[2022-07-15 13:25] mheon commented on #14929
Need to know what that lock is assigned to (`LockSemaphore(0xc000ae2a20, 0x6)` would indicate it's SHM lock 6). `removePod` unfortunately takes basically every lock in existence (locks the pod, but also every container in the pod) so I can't really tell what it's waiting on.

It could be the same as #14291 in that we seem to have a case where normal `podman rm` takes the container lock then the po

[2022-07-15 13:33] Luap99 commented on #14929
Stack trace is point at https://github.com/containers/podman/blob/b4c09bef668dd41e1cc55b8d379992e2d22714b7/libpod/runtime_pod_linux.go#L223 so it is a container lock.

[2022-07-15 13:38] Luap99 commented on #13779
Yeah unless it is integrated into podman we cannot really test it.

Although there is also still the podman issue, itjust hangs when conmon died. I know @vrothberg reworked the wait logic recently so maybe this is fixed now?

[2022-07-15 13:41] vrothberg commented on #14929
Yes, the stack trace points there as well

I do not yet see why though.

I sent something there as well but it's clearly racy.  My theory is that container cleanup and `pod rm` run concurrently to hit this race.

[2022-07-15 14:12] cdoern commented on #14897
sure, I can take this one. Just to be clear @AlphaJack the before/after is what the units look like now and what you want them to look like?

[2022-07-15 14:21] Luap99 commented on #10672
It only works with netavark/aardvark not cni.

[2022-07-15 14:28] Luap99 commented on #10672
Netavark is only used on new installs (or you have to run podman system reset) and distros that support it.
If you are on RHEL 8 you have to manually install it.

[2022-07-15 15:04] mheon commented on #14929
Cleanup should not take the pod lock, so it shouldn’t be able to force a
lock ordering deadlock. Maybe cleanup is stuck instead?

On Fri, Jul 15, 2022 at 09:41 Valentin Rothberg ***@***.***>
wrote:

[2022-07-15 15:09] vrothberg commented on #13779
Which logic are you referring to @Luap99?

[2022-07-15 15:16] Luap99 commented on #13779
You exit code work, I know there were changes to how we wait for the container exit as well in there.
Run the reproducer and see if podman run just hangs once conmon crashes.

[2022-07-15 15:19] Luap99 commented on #13779
I just tried it on main and it no longer hangs:
[code]

[2022-07-15 15:23] mheon commented on #14929
There is no pod batching mechanism so that shouldn’t be possible. The Kube
teardown code could be taking a container lock, but it would have to be
doing something to hold it indefinitely and I don’t know of many operations
that can do that. Something is probably freezing in a critical section,
only question is where. Killing all cleanup processes would probably tell
us if it’s that versus the play

[2022-07-15 15:36] oxycoder commented on #12617
I still face same issue

[code]

[2022-07-15 19:34] johnthagen commented on #11780
I was able to make some progress on making end-to-end instructions for Docker Compose v2 with `podman` on Ubuntu 22.04.

### Podman

https://podman.io/getting-started/installation

[code]

[code]

### Docker Compose v2

https://docs.docker.com/compose/install/compose-plugin/#install-the-plugin-manually

[code]

[code]

[code]

#### Add DockerHub as default registry

Add the following line to [`/et

[2022-07-15 20:12] majidaldo commented on #14495
need the ```echo -e "[network]\ngenerateResolvConf = false\n" >./etc/wsl.conf``` in the script.

[2022-07-15 20:17] majidaldo commented on #14495
need the echo -e "[network]\ngenerateResolvConf = false\n" >./etc/wsl.conf in the script.

[2022-07-15 21:14] #14572 closed

[2022-07-15 21:50] AlphaJack commented on #14897
Yes, exactly

[2022-07-16 09:54] rhatdan commented on #14603
@giuseppe want to make that change, or would that be a breaking change?

[2022-07-16 09:57] rhatdan commented on #14607
Since the docs.podman.io allows you to change the version I don't see us changing it, unless someone comes in with a way to make it more prominant.

[2022-07-16 09:57] #14607 closed

[2022-07-16 09:57] rhatdan commented on #14568
Since we never heard back, I am assuming this is fixed and closing.

[2022-07-16 09:57] #14568 closed

[2022-07-16 09:58] rhatdan commented on #14576
If you update to 12.4 this should be fixed.  The problem was between Qemu and the version of MAC.  Nothing Podman can do about it.

[2022-07-16 09:58] #14576 closed

[2022-07-16 10:01] rhatdan commented on #14536
@nalind @flouthoc Did either of you look at this issue?

[2022-07-16 10:02] rhatdan commented on #14237
@cdoern This is an ssh issue.

[2022-07-16 10:03] rhatdan commented on #14491
@Luap99 any movement on this one?

[2022-07-16 11:58] mwoodpatrick opened #14953 "podman make test fails on wsl-2 Debian 11"
/kind bug

**Description**

I'm building and testing TOT podman on my wsl-2 Debian 11 distro. The build completes without issues and basic sanity checks of the generated podman binary run without issue however when running make test some tests pass but some fail. make install also fails. The details are in the attached logs

**Steps to reproduce the issue:**

1. Fork the repo and setup tools as do

[2022-07-16 12:02] #14697 closed

[2022-07-16 12:57] johnthagen commented on #14065
@liebig

Could you add installation instructions to your fork?

I too am struggling to use `podman` on Ubuntu as we also need to use Docker Compose v2 (https://github.com/containers/podman/issues/11780#issuecomment-1178118714), but that requires [podman 4.1+](https://podman.io/releases/2022/05/09/podman-release-v4.1.0.html).

[2022-07-16 15:00] johnthagen commented on #14367
Related to

- #14065

[2022-07-16 15:31] daiaji commented on #14367
[code]
Similar failures, but in fact, failures will also occur when installing the containers common package. Maybe it's because both podman and buildah rely on the containers common package.
It seems that this bug will only reappear when some files are updated and overwritten.

[2022-07-16 16:37] johnthagen commented on #14065
For those investigating short term workarounds, I tried a [daily Ubuntu 22.**10** ](https://cdimage.ubuntu.com/daily-live/current/HEADER.html) install and installed `podman` there, but as of writing it is still on Podman 3.4.4 as well.

[2022-07-16 17:49] sanchouz12 commented on #11874
I used latest docker-compose version, currently it's `2.6.1`, on CentOS 7 production server and got this issue. Solved by downgrading straight to `2.2.2`

[2022-07-16 19:34] mwoodpatrick commented on #14953
[make_podman.msi.log](https://github.com/containers/podman/files/9126477/make_podman.msi.log)
Looks like make podman.msi also fails see attached log

[2022-07-16 22:06] tacerus commented on #7415
Hello,

I encounter the same issue and am not sure why this is closed.

An application inside a container is binding in dual stack:

[code]

The container is created with the publish option set to bind on IPv6 on the host:

[code]

Podman starts to listen on this interface:

[code]

However all attempts to connect to this end in a timeout:

[code]

The same setup works with Docker (on the same hos

[2022-07-17 00:09] svenstaro commented on #13627
I still have interest in getting this feature request filled and there seemed to be some interest from upstream to implement it.

[2022-07-17 09:27] Luap99 commented on #14491
No this is a lot of work

[2022-07-17 09:30] Luap99 commented on #7415
Port forwarding via ::1 does not work in rootful mode by default you could use `--network slirp4netns:port_handler=rootlesskit`
This is tracked here: https://github.com/containers/podman/issues/14491

[2022-07-17 10:44] rhatdan commented on #13627
@ashley-cui @vrothberg @mheon @umohnani8 Something for interns?

[2022-07-17 10:48] rhatdan commented on #14606
@Luap99 What is the state of this?

[2022-07-17 12:37] tacerus commented on #7415
Thank you for the input, @Luap99! I did not realize running in rootful mode was an issue.

[2022-07-17 12:52] Evan7o opened #14954 "Can't init machine of windows 11"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.download 4.1.1 podman .msi file and installed

2.run ```podman machine init```, auto install wsl on my 🖥, and get error:
```Error: head request failed: http://github.com/fedora-cloud/docker-brew-fedora/raw/35/x86_64/fedora-35-x86_64.tar.xz: Head "https://r

[2022-07-18 02:01] n1hility commented on #14618
Closing this one as answered.

[2022-07-18 02:01] #14618 closed

[2022-07-18 02:02] n1hility commented on #14224
This is blocked until the new msitools release is cut.

[2022-07-18 03:34] CameronNemo commented on #14035
I am not seeing the warning, but I imagine that is mostly because I reset my podman. I don't know what other users on my distro have been doing, but nobody has complained yet.

I cannot speak for @xfoobar, especially since his warning was the inverse of mine.

[2022-07-18 04:02] fulwang commented on #14837
Is this issue fixed?

I have encountered the same issue today morning when my mac recovered from sleep.
Funny thing is i installed podman qemu through brew one week ago and podman can't start at that time. so i downgrade qemu to 6.2.0 per the guidance here( #102242) and later upgrade to 7.0.0 again but didn't find any thing need to change in the "podman-machine-default.json" it worked for me, but

[2022-07-18 04:12] fulwang commented on #14837
and seems i have the same issue with @kp2401075 in the json file, duplicate entries in the "CmdLine".  another thing is when system restore from sleep i must manually stop the machine and restart again to gain the correct timing, or else when you making update in container such as apt update in Ubuntu, you would probably encounter "Repository is not valid yet" error.

(base) fulwang@MacPro ~ % cat

[2022-07-18 07:06] vrothberg commented on #13779
Nice catch connecting the dots, @Luap99 !

[2022-07-18 07:28] vrothberg commented on #13627
Maybe but it must be groomed/designed.  There is also a request to support restart policies (i.e., restart when unhealthy) which would be considered.

[2022-07-18 07:32] #14766 closed

[2022-07-18 07:49] giuseppe commented on #14603
I am in favor of this change, but let's permit the fallback when the env variable `container` is defined so we don't break nested podman

[2022-07-18 07:51] tyler92 commented on #14929
I think that it is root cause. As I understand `podman cleanup` locks not only container's lock, but also other infra (?) container. See out put from https://github.com/containers/podman/issues/14291

[code]

0 - Pod
1 - infra container
2 - container

[2022-07-18 07:52] MartinX3 commented on #13538
/remove Stale

[2022-07-18 08:00] giuseppe commented on #14913
the issue seems to be with the underlying file system that doesn't support extended attributes:

[code]

you may try to add `noacl` to the `mountopt` in your `storage.conf` file so fuse-overlayfs won't try to use it.  Altough without extended attributes other things might break.

[2022-07-18 08:00] #14913 closed

[2022-07-18 08:53] flouthoc commented on #14603
I am not entirely sure but could we check if `pid 2` is `kthreaded` or does not exists, maybe something like check if `/proc/2/status` does not contains `kthreaded` it can be assumed that this is running inside a container. Ref: https://stackoverflow.com/a/72136877

Still I am not sure so another approach could be to maintain a check list for known container manager like `docker` containers contai

[2022-07-18 08:59] vrothberg opened #14955 "[RFC] `kube play $URL`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Similar to `kubectl apply` I want `podman kube play` to read the K8s yaml from a URL, for instance, `podman kube play https://k8s.io/examples/application/guestbook/redis-leader-deployment.yaml`.

@rhatdan @umohnani8 WDYT?

[2022-07-18 09:23] giuseppe commented on #14603
could it work if we just check the file system type for `/run`?  If it is not a tmpfs then we use the fallback to `/tmp`

[2022-07-18 09:52] rhatdan commented on #14612
@maknop @aonoa What is the status on this?

[2022-07-18 09:57] rhatdan commented on #14546
@vrothberg any new thoughts on this?

[2022-07-18 09:57] #14195 closed

[2022-07-18 09:58] rhatdan commented on #12929
@cdoern this is in your hands?

[2022-07-18 09:59] rhatdan commented on #14035
Since you are not seeing it and I have not heard of other complaints, I am closing.  Reopen if this happens again.

[2022-07-18 12:08] tupyy opened #14956 "podman expose a host device using `volume` option"
/kind bug

**Description**
Using `-v` option, podman can expose a host device.

**Steps to reproduce the issue:**

1. `podman run --it --rm -v /dev/video0:/dev/video0 fedora:36 /bin/bash`

**Describe the results you received:**
[code]

**Describe the results you expected:**
It should exit with an error.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2022-07-18 12:38] giuseppe commented on #14884
not sure if terrible, but it is still a hack :)

If you need such a complex configuration inside a container, maybe you should consider running systemd

[2022-07-18 13:04] maknop commented on #14612
I thought I was going to have some time to work on this but I was wrong. I'll remove myself.

[2022-07-18 13:11] rhatdan commented on #14956
Why should it exit?  And how would it  know to exit?

[2022-07-18 13:16] JonasJonny commented on #14303
Today I had:
`podman/podman-machine-default_ready.sock: connect: connection refused`

What worked for me:

[code]

[2022-07-18 13:22] tupyy commented on #14956
Ok. You're right. It shouldn't exit.

But I'm a little confused about the need of `--device` option.

What is the difference between `--device /dev/video0:/dev/video0` and `-v /dev/video0:/dev/video0`?
From the code, I would say the options:
[code]

[2022-07-18 13:40] cdoern commented on #14956
@tupyy, `--device` has the ability to add CDI devices to the container config while I believe `-v` only mounts them as generic volumes in the config. End point has similar functionality, just different entities.

[2022-07-18 13:46] jmguzik commented on #12341
/unassign @jmguzik

[2022-07-18 13:47] jmguzik commented on #12341
In the scope of https://github.com/containers/podman/pull/14886 I implemented a solution similar to the docker one, but there is another option that has to be explored for which I, unfortunately, don't have time right now. The attached PR should provide more information. cc @vrothberg

[2022-07-18 13:49] jmguzik commented on #11554
In the scope of https://github.com/containers/podman/pull/14886 I implemented a solution similar to the docker one (for pull operation), but there is another option that has to be explored for which I, unfortunately, don't have time right now. The attached PR should provide more information. cc @vrothberg

[2022-07-18 13:49] jmguzik commented on #11554
/unassign @jmguzik

[2022-07-18 14:04] Luap99 commented on #14953
You cannot run the test on windows, they are only designed to run on linux.

The first error in wsl is because your system is not correctly configured for pulling from `registry.access.redhat.com`, check your policy.json file, you might be missing the required gpg keys.

The docs install is failing because you did not create them. The correct way should be `make && make install`

Running test in w

[2022-07-18 14:09] Luap99 commented on #14955
Sounds like a useful feature but  it is important to mention that this is basically the same as `bash <(curl -s $URL)` from a security point of view. Just like pulling images you should only use this if you can trust the remote server.

[2022-07-18 14:17] vrothberg commented on #11554
Thanks for pushing things forward, @jmguzik!

I added the needs-design-doc label to make sure we find consensus on the design before continuing implementing.

[2022-07-18 14:19] Luap99 commented on #14954
I think this is a duplicate of #14495
@n1hility PTAL

[2022-07-18 14:19] mheon commented on #14956
Device as root has some significant differences, in that it actually recreates the device node inside the container (as opposed to bind-mounting it in). As rootless, since we lack permission to do that, `-v` and `--device` are effectively identical.

Primary benefit of recreating would be that, after the initial run of the container, the major/minor number are baked into the spec, so changes to th

[2022-07-18 14:23] edsantiago commented on #14859
Reopening, sorry. Seen again in two PRs which, as best I can tell, had a branch base that included #14874

### [sys] 203 podman kill - concurrent stop
* fedora-35 : sys remote fedora-35 root host [remote]
  * PR #14932
    * [07-14 12:36](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5023966229168128/html/sys-remote-fedora-35-root-host.log.html#t--002

[2022-07-18 14:41] tupyy commented on #14956
got it. Thanks @mheon for the detailed answer.

[2022-07-18 14:41] #14956 closed

[2022-07-18 14:49] n1hility commented on #14954
Agree looks like the same issue. Reopen if you determine thats not the case. If DNS does not work it's usually a firewall/Windows Defender issue, or a VPN which is dropping packets between the WSL VMs network and the Windows host network. In 4.2 (already in RC) we are switching to a prebuilt image, and that will make workarounds simpler. If you want to resolve the underlying I have a note in that

[2022-07-18 14:49] #14954 closed

[2022-07-18 15:00] edsantiago commented on #14929
Hey, could someone make a fix for this, even if it's a subobtimal fix? The flake is triggering pretty frequently.

[2022-07-18 15:17] mheon commented on #14933
Any chance you can find out what IP address Docker's `host.containers.internal` points to, versus ours? Knowing how their configuration differs would help significantly.

[2022-07-18 15:50] mheon commented on #14929
I can take a look once I am done with RC2

[2022-07-18 16:34] phracek commented on #14750
I will try to use some RHEL image so I could get support ;)

[2022-07-18 19:00] rhatdan commented on #11554
I agree they don't need to be the same.  Just similar.

[2022-07-18 19:50] jdptechnc commented on #12715
I solved by

- Adding entries to `/etc/subuid` and `/etc/subgid` (I was using logging in via SSSD and not a local user, so the entries for my user were not automatically present
- Ran `podman system migrate`

I was actually running ansible-builder, which I presume is actually using podman underneath.

[2022-07-18 21:07] hdonnay opened #14964 "unable to use `RUN` cache mounts with SELinux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `/usr/bin/podman build -t cachetest https://gist.githubusercontent.com/hdonnay/56426a14f0b5f9c402af7d7603cb4d49/raw/c4c5b653c24dca2e443e215e88543fc2524c6279/Dockerfile`

**Describe the results you received:**

[code]

And a bunch of  `audit` errors:

[cod

[2022-07-18 22:27] edsantiago commented on #14173
Another one, this time [podman (non-remote) f36 root](https://api.cirrus-ci.com/v1/artifact/task/5684895023366144/html/int-podman-fedora-36-root-host.log.html), same "file exists" symptom

[2022-07-19 01:40] p0da opened #14965 ""--passwd-entry" Type Flag For /etc/group"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently podman has a --passwd-entry flag which allows users to specify/customize the entry that is appended to /etc/passwd file. Would it be possible to also include a --group-entry flag to do the same thing for the /etc/group file?

[2022-07-19 02:03] p0da opened #14966 "Option To Create /etc/passwd If It Does Not Exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently /etc/passwd is not created if it does not initially exist in the image, even if the --passwd/--passwd-entry flags are specified. Would it be possible to implement some option that enables podman to create /etc/passwd (probably /etc/group too) in order for the --passwd and --pass

[2022-07-19 02:11] CherrieYu commented on #8743
I got the same issue，how did you fix it？thanks

[2022-07-19 03:12] qrli commented on #14933
In podman:
172.24.126.173  host.containers.internal
nameserver 172.24.112.1 // It is what WSL's $(hostname).local resolves to.

In Docker:
host.docker.internal resolves to 192.168.65.2
while nameserver  192.168.65.5

I think docker is playing some magic here. It uses its own nameserver than WSL's, and the `host.docker.internal` access is forwarded to Windows side without roadblock of Windows Firew

[2022-07-19 07:39] giuseppe commented on #14965
`--group-entry` makes sense to have.

Would you like to open a PR to add the feature?

[2022-07-19 07:59] flouthoc commented on #14964
Hi @hdonnay I think buildah already supports additional option `z` or `Z` for hosts where selinux is enabled. I think its not documented well so created a PR to document that: https://github.com/containers/buildah/pull/4123

See: https://github.com/containers/buildah/blob/main/tests/bud/buildkit-mount/Dockerfilecachewrite

Please try out and update here

Thanks

[2022-07-19 08:24] liebig commented on #14065
@johnthagen
What exactly do you want to know? You can download from my fork either a built release or the daily build, unpack and run it. The folder structure of the packed release corresponds to the Linux folder structure and should be unpacked into the same folder (/usr). I can't say much more about this.

[2022-07-19 08:45] vrothberg opened #14971 "remote push gives no output"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman-remote` push does not print any output.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

No output.

**Describe the results you expected:**

Output.

@containers/podman-maintainers let's fix this before the v4.2 release.

[2022-07-19 08:45] vrothberg commented on #14971
Also happens with Podman v4.1.1.  I wonder how/why we did not catch that in CI.

[2022-07-19 09:03] tyler92 commented on #14929
There is a simple C code that is able to print mutexes owners:

[code]

I found it useful when investigating deadlock.

[2022-07-19 10:19] NikitaKharkov commented on #1752
Hello! Tell me please: did you resolve this issue? I mean reaching to domain names? Because in version 3.4 I still have such a problem. As a developer, I spend a lot of time finding this DevOps issue and find the solution only in the article on Medium.
Maybe I missed some configuration on docker-compose.yml?..

[2022-07-19 10:22] #14964 closed

[2022-07-19 10:41] rishubn commented on #13302
@liebig Thanks for your efforts!

Any possibility to add ARM architectures to your builds?

[2022-07-19 10:55] liebig commented on #13302
@rishubn
Good idea, I must take a look if this is easy to implement. Currently, I unfortunately do not have much time, but I have created an issue for tracking. Thanks for your feedback.

[2022-07-19 11:34] johnthagen commented on #14065
@liebig Even having that paragraph in the README would be helpful, thanks!

I was sort of expecting `.deb` files and when I saw it was a folder structure, I wasn't totally sure what the recommended instructions were.

[2022-07-19 11:39] liebig commented on #14065
@johnthagen
All right, I will add that to the README. Thanks for your feedback.

[2022-07-19 12:24] choval commented on #11541
You could also run as root directly without sudo.
Monterey & podman 4.1.1

[code]

[2022-07-19 13:43] mheon commented on #1752
Considering he was on podman v0.10 and you are on Podman v3.4, you are almost certainly seeing a different issue. Please file a new bug with details.

[2022-07-19 13:49] mheon commented on #14971
This is separate from progress bars, yes? Printing a digest?

[2022-07-19 13:56] kgibm opened #14975 "podman machine start on macOS x64 fails for a while if the machine had just been stopped"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After stopping the podman machine, I wanted to restart it soon thereafter, and I kept receiving:

`Error: dial unix /var/folders/qh/xw68c7sn2r72tltmnnd2bbnr0000gn/T/podman/qmp_podman-machine-default.sock: connect: no such file or directory`

I searched for similar issues and found suggestions

[2022-07-19 13:56] mheon commented on #14975
@ashley-cui PTAL

[2022-07-19 13:57] giuseppe commented on #14929
From what I can see the issue happens when `removePod` attempts to lock sequentially all the containers in the pod and at the same time there is already a cleanup process that has a lock on a container and then it needs to lock the dependency container as well.

I think one possible way to solve it is to make sure the container cleanup first gets the lock on its pod.

There might be other combinat

[2022-07-19 14:06] mheon commented on #14929
I'm also very curious as to why cleanup is locking dependency containers. I know that can happen with a restart policy set, but I don't see a code path that would need to inspect dependencies otherwise.

[2022-07-19 14:12] vrothberg commented on #14929
I believe that the problem can also be fixed when `pod rm` sorts the list of containers according to their dependencies.

Let's assume `A depends-on B depends-on C`:

The current deadlock can happen when we cleanup `A` who wants to lock `B`.  In parallel we have `pod rm` running which wants to lock the containers in order `C, B, A`. Boom ... deadlock.

If we make sure that `pod rm` always sorts th

[2022-07-19 14:17] tyler92 commented on #14929
I already tried this approach in PR https://github.com/containers/podman/pull/14969 and it has a bug - Cleanup function might be called from Pod.stopWithTimeout (pod_api.go) and mutex will be double-locked.

[2022-07-19 14:32] tyler92 commented on #14929
Wrong lock order is occurred not only between containers, but also between Pod and containers. For example there is a case when Pod's lock is happened after Container's lock.

`P1, C1` vs `C1, P1`

[2022-07-19 14:33] vrothberg commented on #14929
Please point to the exact location.  I don't think that is possible.

[2022-07-19 14:35] giuseppe commented on #14929
thanks, you are right, another attempt that I am still testing:

[code]

[2022-07-19 14:41] mheon commented on #14929
It looks like it's accessing containers without a lock, which isn't safe. We'd need to sync, get anything we need out of the container structs, then unlock and use the local variables we created, then lock again when the time came to remove.

[2022-07-19 14:43] vrothberg commented on #14929
@mheon, what's your take on https://github.com/containers/podman/issues/14929#issuecomment-1189106564?

[2022-07-19 14:46] mheon commented on #14929
We have code that does that (but in reverse) to start the pod. Using the existing graph-traversal code to stop the pod seems sensible to me. However, it doesn't fully resolve races, I think; we can't lock everything at once, otherwise we get the same issues as this, so while we are working on the outermost containers on the graph (those without dependencies), the inner containers can be locked and

[2022-07-19 14:50] giuseppe commented on #14929
that is what I've tried to do, what more do we need to lock?

[2022-07-19 14:52] vrothberg commented on #14929
They can still be locked and unlocked at any time.  IMHO, the crux of the matter is the _order_ in which containers are locked.  The order in `pod rm` does not follow the order in which `cleanup` locks.  That opens the race for an ABBA lock.

[2022-07-19 14:54] vrothberg commented on #14929
To rephrase it to a rule: if two containers are locked at the same time, the order of the locking must follow their dependencies.  If the order is random - which it is in `pod rm` - we will have deadlocks when running concurrently.

[2022-07-19 14:55] mheon commented on #14929
I see what you're saying. My brain initially insisted that it can't be safe, but thinking about it more I can't see any cases where it wouldn't be.

[2022-07-19 14:58] vrothberg commented on #14929
Sorry for insisting on it so much, but I really believe having a way of sorting AND accessing containers in that order for pods is the right way.  If we put it into a method `(*Pod).GetContainers()` or something like that, future maintainers can just use that method whenever they need to access all containers.

[2022-07-19 15:00] mheon commented on #14929
We have preexisting graph creation and traversal code in `container_graph.go`. I think the graph itself can be reused, but the traversal code will need a new function that does an outside-in traversal, as opposed to an inside-out one.

[2022-07-19 15:10] vrothberg commented on #14929
But I am cool using @giuseppe's patch as well. Short-lived locks that avoid keeping two containers locked at the same time in `pod rm` will also solve this issue.

[2022-07-19 15:47] giuseppe commented on #14929
opened a PR:

- https://github.com/containers/podman/pull/14976

[2022-07-19 16:31] graywolf-at-work opened #14978 "podman save does not have an option to produce the same output every time"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman save does not produce the same tarball every time it is executed. That
complicated doing reproducible builds.

[code]

**Describe the results you received:**

The two tarball are not the same.

**Describe the results you expected:**

The two tarball are the same.

**Additional info

[2022-07-19 17:09] prabu4git opened #14979 "Unable to run podman conatiners in Mac M1 Chipset"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

 Unable to run the podman conatiner in mac M1 chipset

followd the steps below.
brew install simnalamburt/x/podman-apple-silicon
After this test your installation with the following commands

podman machine init
podman machine start
podman run -it --rm docker.io/hello-world

**

[2022-07-19 17:24] ashley-cui commented on #14979
Please use the official homebrew core tap to install podman on Macs: `brew install podman`. You are currently using someone else's personal distro. If that fails, please re-open

[2022-07-19 17:24] #14979 closed

[2022-07-19 17:37] p0da commented on #14965
Unfortunately I am not familiar enough with go make an attempt.

[2022-07-19 17:58] ebryerwork commented on #14655
I'm sorry to bother you with this again, but I think it's an offshoot of this "issue" (actually misunderstanding by me). I don't understand why the alpine image works with tmpfs without `--storage-opt "overlay.mount_program=/usr/bin/fuse-overlayfs"` while ubi8 does not...
[code]
It looks like it's using the kernel overlayfs driver. I thought that didn't work with tmpfs though, so I'm baffled there

[2022-07-19 18:39] alexanderankin commented on #14388
@rhatdan - I have to recreate my podman machine every day that i want to use it (m1 issues), so downloading a 600mb fcos image every day is a pretty major problem (slow, uses a lot of bandwidth quota).

[2022-07-19 18:55] ashley-cui commented on #14388
@alexanderankin, if you're using the default fcos images (ie, next, stable), and not using a custom URL, Podman should not be downloading the image every day, as we do cache the image. Otherwise, the best thing to do to avoid pulling every day is to download the image in another directory and point the `--image-path` to where you downloaded the image.

[2022-07-19 18:57] rhatdan commented on #14966
Seems reasonable, interested in opening a PR?

[2022-07-19 19:05] alexanderankin commented on #14388
@ashley-cui I didn't realize that `--image-path` could be a local path, that works, sorry for hijacking the issue

[2022-07-19 19:35] cpolizzi commented on #14388
@ashley-cui I beg to differ. Podman client could easily be orchestrated to pull the build metadata endpoint already present, locate the appropriate JSON node in the response from the endpoint and then compare the SHA sum for that release to what is currently and locally on disk. This is just simple behavior modification and is in no way "not possible". This is not purely caching but this is cachin

[2022-07-19 20:28] ebryerwork commented on #14655
Maybe I'm just badly confused and the fuse driver in question is not on the host system but in the container. Supporting the idea it's the driver in the container, if I do "podman run -it alpine" after a "podman system reset" and type lsmod in the container, I get
[code]
If I use fuse-overlayfs to start the container I get
[code]
If so, perhaps alpine has a newer overlay driver that can handle NFS

[2022-07-19 20:53] hhellbusch commented on #14388
Hi all - I'll weigh in and see if what I say helps some :)
I've been working w/ @cpolizzi on the aforementioned partner/customer. Some background: more or less we've worked with them and set up podman as a replacement for docker & docker-desktop on the MacOS development environment. To do this, we've had to build a fairly large wrapper to orchestrate the set-up and manage the installation of podma

[2022-07-20 00:05] ymir0804 opened #14981 "[rootfull] not showing kubernetes pods in podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
after installing the k8s 1.24 version, I would like to manage the container using cri-o and podman.
I installed podman to use the podman commit function, but I can see the image, but I can't see the containers. As far as I know, I need to change the run time of Podman, how can I change it?
Add

[2022-07-20 00:57] p0da commented on #14966
Unfortunately I am not familiar enough with go make an attempt at it. However this functionality could also simply be added to the --passwd flag as that is what toggles the appending of entries.

[2022-07-20 04:12] jawnsy commented on #14880
@shanesmith Amazing, thanks for this workaround! I can confirm that it works on my 12.3.1 machine.

[2022-07-20 08:07] sanyer commented on #13780
Yes, I still remember about it, will check it again this week.

[2022-07-20 08:41] giuseppe commented on #14655
I think the difference is that the alpine image doesn't have any opaque directory, while ubi has.

What matters is fuse-overlayfs on the host, not inside the container

[2022-07-20 09:23] giuseppe commented on #14981
Podman knows about other containers in the storage (e.g. `podman ps --external`) but it is not able to handle them

crictl communicates directly with CRI-O.

In general, you should not touch manually the containers created by Kubernetes, but use higher level tools like kubectl.

Closing this issue because it is not something we can do from Podman.

[2022-07-20 09:23] #14981 closed

[2022-07-20 09:34] sladkojorka opened #14982 "Can't start standard pod |container for redhat mirror-registery"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**

Please do not judge strictly, I'm taking the first steps.
My colleague installed a redhat mirror-registery on the host.
Three services appeared in the system, but they do not start. The standard pod tried to run on its own, the result is the same.

[code]

I tried to look at the service log. T

[2022-07-20 09:55] Luap99 commented on #14982
If you use RHEL please go through the Red Hat support channels (e.g. bugzilla).
We only support the latest versions upstream which is v4.1.1 at the moment.

[2022-07-20 09:59] giuseppe commented on #14966
I don't see why we don't create the file if it is missing, @mheon is it because of some compatibility with Docker?

If that is the case, we could probably add `--passwd=always` to override this check and always create the file

[2022-07-20 10:29] albertdb opened #14983 "Cannot create network with name "bridge" because it conflicts with a valid network mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot create a network named bridge to make badly written applications (but not changeable) that depend on Docker default network name work.

**Steps to reproduce the issue:**

1. podman network create bridge

**Describe the results you received:**

Error: cannot create network with name "br

[2022-07-20 11:20] albertdb commented on #14983
@Luap99  It doesn't seem to be the case though the API.

[2022-07-20 11:28] Luap99 commented on #14983
Please provide a full reproducer

[2022-07-20 11:32] albertdb commented on #14983
Using this project as a basis https://github.com/devonfw-sample/devon4quarkus-reference

Run inside a Docker container (in my case a GitLab runner) with image: `maven:3-eclipse-temurin-11-alpine`

the following commands:

    apk add --no-cache podman podman-docker
    echo "export TESTCONTAINERS_RYUK_DISABLED=true" >> ~/.bashrc
    source ~/.bashrc
    podman system service --time=0 unix:/var/run

[2022-07-20 11:46] cdoern commented on #13780
@sanyer I am working on a fix for this

[2022-07-20 11:54] Luap99 commented on #14983
I don't have time to run such big complicated reproducers, please provide the exact API call where we error.
You can use `podman system service --log-level debug` to see the calls

[2022-07-20 12:12] loynoir opened #14987 "Question: Which method does podman official recommend, root or rootless?"
Given
- https://wiki.archlinux.org/title/Podman#Rootless_Podman

Question
- Which method does podman official recommend, root or rootless?

[2022-07-20 12:58] mheon commented on #14966
I don’t see any reason to not create it.

On Wed, Jul 20, 2022 at 05:59 Giuseppe Scrivano ***@***.***>
wrote:

[2022-07-20 13:34] b3n3w opened #14989 "podman freezes during build and run commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman freezes randomly during build and pull commands, which are executed from jenkins server. Afterwards its not possible to execute any command of podman. It will stuck in CLI until the server gets restarted completely. Furthermore i'am not able to kill the podman process by their PID and

[2022-07-20 14:16] apollo13 opened #14990 "`podman network` still mentions CNI in several places"
Now that we have multiple network backends it might make sense to remove CNI from the help pages:

[code]

[2022-07-20 14:33] Xibal-UPS opened #14991 "Failed to download metadata for Fedora repo on WIndows 10"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install latest podman msi (4.1.1 at the time of creating this bug)

2. Open Powershell

3. podman machine init

**Describe the results you received:**

Extracting compressed file
Importing operating system into WSL (this may take 5+ minutes on a new WSL i

[2022-07-20 15:58] joachimBurket opened #14993 "podman events different than docker events"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm not sure if it is Podman's goal to match Docker's outputs, but while trying to use Podman with a [tool](https://github.com/stepchowfun/docuum) designed with Docker CLI, I saw that the output of `podman events --format "{{json .}}"` doesn't contain the same fields as `docker events --forma

[2022-07-20 17:08] #14987 closed, assigned to nobody

[2022-07-20 17:12] rhatdan commented on #14966
I agree we should create it if it does not exists. I don't think Docker has an equivalent. Most likely we just coded it to expect /etc/passwd exists in the container and do not handle ENOEXIST.

[2022-07-20 17:14] rhatdan commented on #14989
@giuseppe PTAL

[2022-07-20 17:15] mheon commented on #14966
Yeah, concur. Not many images are missing a passwd file so it's not something we tested or thought of.

[2022-07-20 17:16] bugfood commented on #13784
Recent podman git has a better way to do this; I presume that will be included in the next release.
https://github.com/containers/podman/pull/14803/commits/03ee8204d394da467e991b9ec62581b80fc6c2fb

[2022-07-20 17:37] #14877 closed

[2022-07-20 17:43] #5805 closed

[2022-07-20 17:45] rhatdan commented on #14993
I believe we should make them consistent if possible.

[2022-07-20 17:52] mheon commented on #14993
The status for removing an image (remove for us, delete for Docker) is concerning. I don't think we can change that. Maybe only for the compat API?

[2022-07-20 17:54] mheon commented on #14993
The `id` field is also different (we use `ID`, Docker uses `id`) but otherwise it's just missing fields, which should be easy to address.

We also need to make an extra Untag event for images when removing but that's easy.

[2022-07-20 18:23] rhatdan commented on #14993
Couldn't we add the fields ID and delete in addition to the fields we have for better compatibility?

[2022-07-20 18:43] rhatdan commented on #14965
How are you testing this? What command is blowing up?

[2022-07-20 18:57] Luap99 opened #14996 "enable lint for pkg/machine/e2e"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We should turn on the linters for the machine tests, the `pkg/machine/e2e` dir is skipped here:
https://github.com/containers/podman/blob/dd74ef4f582057280085c91349032886e0665215/hack/golangci-lint.sh#L12-L14

This will prevent problems such as https://github.com/containers/podman/pull/14995

[2022-07-20 19:04] vallamost commented on #12751
I'm having similar issues as a new user of Podman. Can't get the VM to start successfully. Using an Intel Mac with Monterey. I keep getting the message:
[code]

[code]

[2022-07-20 19:09] afbjorklund commented on #13784
@bugfood that only changes the virtfs options, it doesn't really change driver.
(you might want to add similar options for the others as well, such as protocol version or msize and cache.

There was a comment:

It was a change in CoreOS, to allow empty directories (as mountpoints) in the (read-only) root.

Previously (when the code was written), you were **not** allowed to change anything but `/va

[2022-07-20 20:48] bugfood commented on #13784
What I mean is that the change makes 9p usable for this use case (and requires much less configuration than sshfs). Is there an advantage to using sshfs still?

Thanks, that makes sense in retrospect.

[2022-07-20 22:15] thiagolinhares opened #14998 "not inheriting default posix (extended) acls for subdirectories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

newly created subdirectories of parent directory won't inherit posix (extended) acls, while files do it properly.

**Steps to reproduce the issue:**

1. mkdir /root/parent_dir
2. setfacl -d -m u:user01:rwx /root/parent_dir
3. mkdir /root/parent_dir/subdir
5. getfacl -R /root/parent_dir

**Des

[2022-07-21 00:25] thiagolinhares commented on #14998
Alright, just tested with latest podman release and it works fine.
Closing this as it appears to be a fixed bug already.

[2022-07-21 00:25] #14998 closed

[2022-07-21 03:46] gbraad commented on #14587
Where would this file be located and what would it be called?

[2022-07-21 03:48] gbraad commented on #14225
We have merged the multi-arch build of gvisor:  https://github.com/containers/gvisor-tap-vsock/issues/130, and looking at the publication of a new release, however manual tests are needed.

[2022-07-21 04:10] langdon opened #15000 "RFE: podman generate kube storage usability"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

follow: https://docs.ckan.org/en/2.9/maintaining/installing/install-from-docker-compose.html using podman-compose then generate the kube yaml

**Output of `podman version`:**

[code]

[2022-07-21 07:01] giuseppe commented on #14989
I don't see fuse-overlays being used from your configuration.

Are you sure these processes are stuck or just slow?

Could you strace them to see where they are stuck?

[2022-07-21 07:05] userid0x0 commented on #14593
Hi,
I am facing an related issue custom proxy URL + self signed certificate. I am evaluating podman 4.1.1 on Windows
Any help is appreciated.

[2022-07-21 07:13] loynoir opened #15001 "devcontainer fail to start when using podman instead of docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

devcontainer fail to start when using podman instead of docker

**Steps to reproduce the issue:**

0. podman run hello world with normal user and root user, ensure podman is working.

1. vscode generate ubuntu devcontainer config

<details>
  <summary>All choose default</summary>

  <p>

1.1.

[2022-07-21 07:22] gbraad opened #15002 "Show WSL rootfs version when downloading"
Currently the download of the rootfs only shows a name.
![image](https://user-images.githubusercontent.com/1894/178897178-8aa51ed8-d62b-4058-82a7-fc7b4723a6c5.png)

Recently a version got included to the image repo that is formatted as `v[Fedora version].[image increment]`, eg. https://github.com/containers/podman-wsl-fedora/releases/tag/v36.0.6

Showing this as part of the download can aid in tra

[2022-07-21 07:36] b3n3w commented on #14989
Doesn't graphDriverName: overlay means that we're running on fuse-overlay ?

Waited for more than 2 Hours. Unfortunately it happend already multiple times. Also for smaller builds which usually take ~ 2 minutes.

Sure. Currently it is running fine again. I will send send you the tracereport next time.

[2022-07-21 07:42] anjannath commented on #14225
So, `qemu` is updated to 7.0.0 now, and also the PR https://github.com/containers/podman/pull/14540 uses this version along with the newly released universal binary of `gvproxy` 0.4.0

tested locally and everything is working as expected

[2022-07-21 07:43] giuseppe commented on #14965
it is not an issue but a feature request, we have `--passwd-entry` but we do not have `--group-entry`

[2022-07-21 07:48] giuseppe commented on #14966
opened a PR: https://github.com/containers/podman/pull/15003

Keep in mind that `--passwd-entry` won't be enough to trigger the entry, you'll need to specify `--user=` as well

[2022-07-21 08:05] Luap99 commented on #14587
I don't know, it could be in the same ~/.config/containers directory. My point is that automatically editing user config files is a bad idea. At least we will remove the comments every time a connection is created.

[2022-07-21 08:06] giuseppe commented on #14989
no, it must show a mountProgram as well, otherwise it is using native overlay.

[2022-07-21 08:14] afbjorklund commented on #13784
I think that sshfs is mostly a fallback, where virtfs is not available (such as CentOS guests or Windows hosts). The way forward will be virtiofs, anyway...

Just that your virtfs comment was after a sshfs post.

[2022-07-21 08:38] Luap99 commented on #15002
I think this was already added in https://github.com/containers/podman/pull/14962?

[2022-07-21 08:43] slemeur opened #15005 "Ability to bypass proxy setting without removing the configuration from the HTTP_PROXY env variable"
/kind feature

**Description**

Some users have been reporting that sometime they switch/connect/disconnect from network to another network, and in some case they would like the ability to by-pass the proxy configured, but still be able to keep it in the settings.

For now, when `HTTP_PROXY` environment variable is defined, the podman-machine always use it and there is no way to inform the podman-

[2022-07-21 08:51] Luap99 commented on #15005
With the latest changes (https://github.com/containers/podman/pull/14893) the proxy env vars are read at podman machine start time. So when you start the machine again and no longer have HTTP_PROXY set or set to a different value it should use the new value.

I think this already fixes your problem.

[2022-07-21 08:54] Luap99 commented on #15001
Can you provide the podman commands that are used to build and run the image? What are the error messages you are seeing?

Do you use it on linux, macos, windows?

[2022-07-21 08:55] benoitf commented on #15005
the env variables might be stored in the `containers.conf` file so it won't skip the read.

there is no `podman machine start --no-proxy`

[2022-07-21 08:58] slemeur opened #15006 "Impossible to delete an image"
/kind bug

**Description**

I have an image that I can't delete because Podman says it's currently in use by a container which does not exist.

**Steps to reproduce the issue:**

Unfortunately, I'm not sure how I ended up in this situation.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman images`:**

[2022-07-21 09:01] b3n3w commented on #14989
Oh thank ! You're right. I used an old storage.conf file.

Now its configured like this:

`graphOptions:
    overlay.mount_program:
      Executable: /usr/bin/fuse-overlayfs
      Package: fuse-overlayfs-1.8.2-1.el9.x86_64
      Version: |-
        fusermount3 version: 3.10.2
        fuse-overlayfs: version 1.8.2
        FUSE library version 3.10.2
        using FUSE kernel interface version 7.31

[2022-07-21 09:03] slemeur opened #15007 "Creation date of the podman-machine is updated when upgrading podman"
/kind bug

**Description**

During the upgrade from 4.0.2 to 4.1, my current podman-machine has been kept, but the creation date has been updated to the time I did the upgrade - which seems weird.

[2022-07-21 09:03] Luap99 commented on #15005
But when a user does not want the proxy anymore you could just remove the vars from containers.conf?
Or is the ask here that we should allow this on a per machine basis?

[2022-07-21 09:03] rhatdan commented on #14880
Since this is little Podman itself can do to fix this.  I am switching this to a discussion rather than an issue.

[2022-07-21 09:06] Luap99 commented on #15006
Check with `podman ps --external` to see all containers including build container.
I think you can always remove the image with `podman rmi --force`

[2022-07-21 09:06] slemeur commented on #14587
FWIW, I faced the same issue.

[2022-07-21 09:14] 1player commented on #14528
Still a valid bug. In remote mode podman volumes mount the wrong directory, which, again, sounds like a major bug.

[2022-07-21 09:43] AntonOellerer commented on #14396
I am currently working on other projects, if I come around to verify it, I will notify you

[2022-07-21 09:45] Luap99 commented on #14990
Just want to add that this is not only documentation but also internal code although this is obviously less important to fix.

I feel like we should get at the docs right for v4.2.

[2022-07-21 09:54] oshamin opened #15009 "Podman in Kubernetes can not mount /var/lib/containers/storage/overlay flags: 0x1000: permission denied"
**Description**
I am switching our CI pipelines from VM to Kubernetes (later to OpenShift).
One of the tasks is to build and run images during the pipeline run.

We use IBM Cloud Kubernetes service.
I followed the steps in the article.

https://www.redhat.com/sysadmin/podman-inside-kubernetes

Podman runs without problem in :
- Rootful Podman with the privileged flag set
- Rootless Podman with the

[2022-07-21 10:03] loynoir commented on #15001
I'm on ArchLinux.

Last error is
[code]

[2022-07-21 10:11] loynoir commented on #15001
Docker
[code]

Podman
[code]

[2022-07-21 10:26] rhatdan commented on #15009
Is this server using SECCOMP?  This might be a SECCOMP filter blocking the mount syscall?

[2022-07-21 10:40] vrothberg commented on #15006
Yes, `--force` will remove containers (and pods) using the image.

[2022-07-21 10:48] Luap99 opened #15012 "podman machine e2e test memory problem"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**

The test `set machine cpus, disk, memory` always fails locally for me (on linux):

[code]

https://github.com/containers/podman/blob/0de7e4662e6d574fe382714cb6664a4519771f88/pkg/machine/e2e/set_test.go#L59-L74
https://github.com/containers/podman/blob/0de7e4662e6d574fe382714cb6664a4519771f88/p

[2022-07-21 10:48] vrothberg commented on #15009
Containerd's [apparmor profile](https://github.com/containerd/containerd/blob/main/contrib/apparmor/template.go#L76) is denying the `mount` syscall.

If you cannot change this profile, I suggest to try running with disabling apparmor.  It's less secure but better than running a privileged container.

I am closing the issue but we can continue the conversation here.

[2022-07-21 10:48] #15009 closed

[2022-07-21 11:24] vrothberg commented on #14971
I'll tackle this one now.

[2022-07-21 11:27] edsantiago opened #15013 "test fails under runc: podman pod create --share-parent"
Test is [failing under cgroupsv1 with runc](https://api.cirrus-ci.com/v1/artifact/task/6491108266999808/html/int-podman-ubuntu-2204-root-host.log.html#t--podman-pod-create-share-parent-test--1):
[code]
The string in question is something to do with cgroups.

Context: we have not been testing with runc. The above test was introduced during this period. #14972 brings back runc.

[2022-07-21 11:34] edsantiago opened #15014 "test failing: remote build filtering: timeout in dd"
Test is [failing in f36](https://api.cirrus-ci.com/v1/artifact/task/4661520918380544/html/int-remote-fedora-36-root-host.log.html#t--Remote-build--containerignore-filtering-embedded-directory-13535---1) even though the PR in question has nothing to do with new f36 images:
[code]
The timeout is here https://github.com/containers/podman/blob/b5612df55060317bcef92de48e5b2cd400374814/test/e2e/build_te

[2022-07-21 11:41] edsantiago opened #15015 "checkpoint tests time out under $CONTAINER"
All checkpoint-related tests are [failing under containerized environment in CI](https://api.cirrus-ci.com/v1/task/6216834272722944/logs/main.log) (note: that is not a colorized/hyperlinked log. It is impossible to read without [my greasemonkey extension](https://github.com/edsantiago/greasemonkey/tree/master/podman-ginkgo-highlight)).
[code]

[2022-07-21 11:53] edsantiago opened #15017 "push tests: networking: timed out waiting for port"
Test is [failing under ubuntu-2204 remote with runc and cgroupsv1](https://api.cirrus-ci.com/v1/artifact/task/5879373692665856/html/int-remote-ubuntu-2204-root-host.log.html#t--authenticated-push--1):
[code]
Only happening in Ubuntu 2204, and only in `remote`. Consistent failure.

[2022-07-21 11:57] FlaviusHouk commented on #8743
I've also faced this issue. It happened on virtual machine after I've accidently rebooted it during build process. After that I was not able to inspect the state of cached image layer.

**Podman version**
[code]

[2022-07-21 12:06] edsantiago opened #15018 "restore --pod: cannot restore pod container without --pod"
Failing in [ubuntu 2204, remote, with cgroupsv1 and runc](https://api.cirrus-ci.com/v1/artifact/task/5879373692665856/html/int-remote-ubuntu-2204-root-host.log.html#t--podman-checkpoint-and-restore-container-out-of-and-into-pod--ipc-net-uts-pid---1):
[code]
(The discerning reader will note that `--pod` is specified in the command line). That error seems to come from https://github.com/containers/p

[2022-07-21 12:55] rhatdan commented on #8743
Please update to podman 4.* there have some fixes in this area.

[2022-07-21 12:55] #14879 closed

[2022-07-21 13:05] Luap99 commented on #15012
Also failing in CI: https://api.cirrus-ci.com/v1/artifact/task/4821594953482240/html/machine-podman-fedora-36-rootless-host.log.html

[2022-07-21 13:16] cdoern commented on #12811
on the backlog document we were looking at last week I noticed that no one got assigned to this. I think there is a debate of how this is to be implemented. I should probably work on it since I am currently redesigning how podman system connection works.

[2022-07-21 13:17] cdoern commented on #15013
on it

[2022-07-21 13:18] rhatdan commented on #14388
PRs welcome...

[2022-07-21 13:38] cdoern commented on #15013
@edsantiago I cannot reproduce this, running https://github.com/containers/podman/blob/b5612df55060317bcef92de48e5b2cd400374814/test/e2e/pod_create_test.go#L1075-L1087 manually, results in `CgroupMode = container:infraID`

[code]

[2022-07-21 13:41] cdoern commented on #15018
@giuseppe is the attempt to enter `/sys/fs/cgroup/devices...` seem weird to you? that should fail due to permissions, right? This could also be since runc separated out their device handling code.

[2022-07-21 14:01] cdoern commented on #15013
oh is this only failing in your PR as cgroupsv1? I think this is not supported in v1, the test is meant to skip when running v1.

[2022-07-21 14:03] umohnani8 commented on #11510
@tk185141 please reopen on lima if this is till an issue.

[2022-07-21 14:05] umohnani8 commented on #11554
Being worked on in https://github.com/containers/podman/pull/15022

[2022-07-21 14:15] jmguzik commented on #11554
@umohnani8 I think https://github.com/containers/podman/pull/15022 is about fixing to have any output and not moving forward with progress bars.
cc @vrothberg

[2022-07-21 14:16] umohnani8 commented on #11786
@cdoern can we revisit this? What was the actual reason for closing the PR you created for it.

[2022-07-21 14:25] umohnani8 commented on #12029
@edsantiago have you seen this recently in CI? We fixed a bunch of things in December which should have made it into the newer podman versions since then.

[2022-07-21 14:26] umohnani8 commented on #12039
@edsantiago have you seen this happen again recently?

[2022-07-21 14:29] umohnani8 commented on #12050
@rhatdan @cevich @mheon this needs to be revisited to figure out what to do here.

[2022-07-21 14:30] cdoern commented on #15013
the only guess I have here is that these tests are running with `infra=false`, the only way these tests could be reporting `host` is if `NamespaceMode` is returning that.

@edsantiago is there a way for me to get access to a cgroupv1 system?

[2022-07-21 14:31] umohnani8 commented on #12052
@edsantiago can this be closed?

[2022-07-21 14:43] edsantiago opened #15025 "podman run --uidmap: fails on cgroups v1"
Anything using `--uidmap` is [failing on cgroups v1 with runc](https://api.cirrus-ci.com/v1/artifact/task/6010935553818624/html/sys-podman-ubuntu-2204-root-host.log.html):
[code]

[2022-07-21 14:47] cdoern commented on #12289
I think this one will be fixed with containers/common#1094

[2022-07-21 14:49] umohnani8 commented on #12432
@cdoern can you PTAL to see if this is related to the other ssh issues you are working on.

[2022-07-21 14:50] MaserUser opened #15026 "Pomand network issue with more than one network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Need to send mail from inside a container (passbolt), but container can not resolve dns.
Tried also to map ports like 8888:80 4000:443 and 5000:587, put no chang in the behaviour.

**Steps to reproduce the issue:**

1. podman network create network1
2. podman run --rm -ti --name container1 --

[2022-07-21 14:50] edsantiago opened #15027 "pod inspect cgrouppath broken under cgroups v1"
[System test failure under cgroups v1 with runc](https://api.cirrus-ci.com/v1/artifact/task/6010935553818624/html/sys-podman-ubuntu-2204-root-host.log.html#t--00262):
[code]

[2022-07-21 14:50] umohnani8 commented on #12495
@baude who are the new maintainers of gvproxy so we can ping them about this issue.

[2022-07-21 14:53] Luap99 commented on #12495
Maybe this was fixed by https://github.com/containers/gvisor-tap-vsock/pull/128?
We should update gvproxy to 0.4.0 and see if the problem goes away

[2022-07-21 14:58] nalind commented on #12050
Unilaterally extending Dockerfile syntax is a not on the table.  Is this a good use case for runlabels?

[2022-07-21 14:59] edsantiago commented on #12039
Last one in my logs is 05-23.

[2022-07-21 14:59] crfrolik opened #15028 "Installing podman on ubuntu gets old version"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Ubuntu 22.04, installing podman via `apt` gets version 3.4.2, even though the latest is 4.1.1.

**Steps to reproduce the issue:**

1. `sudo apt update`
2. `sudo apt install podman`
3. `podman --version`

**Describe the results you received:**

`podman version 3.4.2`

**Describe the results

[2022-07-21 15:00] edsantiago commented on #12052
I'm not watching bodhi. I'm sorry.

[2022-07-21 15:00] mheon commented on #12050
Runlabel seems like a reasonable solution to me.

[2022-07-21 15:01] mheon commented on #15028
@lsm5 This is expected, right?

[2022-07-21 15:02] edsantiago commented on #15013
@cdoern there's a script, `hack/get_ci_vm.sh`, that works for some people (it has never worked for me). If you can get it to work, you should be able to get an Ubuntu VM using the magic `c` number in this PR. Good luck.

[2022-07-21 15:03] Luap99 commented on #15026
This was fixed with the network rewrite. with the You have to update to at least v4.0 and use netavark/aardvark.

[2022-07-21 15:03] #15026 closed

[2022-07-21 15:15] Luap99 commented on #15028
This is just the official package in ubuntu/debian. We (upstream) have no control about that. You should reach out to the packager.
Duplicate of #14065

[2022-07-21 15:15] #15028 closed

[2022-07-21 15:17] vrothberg commented on #11554
https://github.com/containers/podman/pull/15022 will fix this issue. `podman-remote push` will then behave as `pull` does and print progress but won't render progress bars (yet).

[2022-07-21 15:18] vrothberg commented on #11554
Yes, that is the request in this issue.  Once we have figured out how pull progress bars will work, the ones for push will work in the same way.

[2022-07-21 15:21] vrothberg commented on #12039
That is good enough for me to close it.  We fixed some deadlocks in the recent past, so it _may_ be related.

Let's reopen if it pops up again.

[2022-07-21 15:22] #12039 closed, assigned to nobody

[2022-07-21 15:23] crfrolik commented on #14302
I'm confused by this. Why is it still so difficult to get 4.X installed on Ubuntu?

[2022-07-21 15:25] mheon commented on #15007
@ashley-cui PTAL

[2022-07-21 15:28] vrothberg commented on #14302
It's an immense amount of work.  It is not "only" packaging podman but many of its runtime dependencies including config files, man pages etc.  Plus maintaining all of that.

Since podman is now in the main repositories of Ubuntu, we prefer users to use these packages.

[2022-07-21 15:38] cdoern commented on #15027
@edsantiago I will address this in my PR. we need to skip this test if v1, these resource limits are not supported in v1 mostly.

[2022-07-21 15:47] alexanderadam commented on #14302
The current Ubuntu 22.04 LTS will be supported for 10 years.
So you suggest that its users are stuck with Podman 3 for ten years?

I also [asked on StackOverflow for a solution](https://askubuntu.com/questions/1414446/whats-the-recommended-way-of-installing-podman-4-in-ubuntu-22-04) but so far no one got an answer how to get Podman 4 in a sane manner that doesn't involve setting up and maintaining

[2022-07-21 16:05] eriksjolund opened #15029 "--sdnotify default value from the "podman create" man page is "container" but "conmon" is used when running "podman generate systemd ...""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

__--sdnotify__ has the default value _container_ according to the __podman create__ man page but the value _conmon_ is used instead when running `podman generate systemd ...`

https://github.com/containers/podman/blob/04ed519e9d38e2ae12ec0b568e6418e750ff203d/docs/source/markdown/podman-create

[2022-07-21 17:38] cdoern commented on #12929
wait @fpoirotte so you are just looking for the `mountPath` and the `subPath` to be joined in the container?

[2022-07-21 17:43] mheon commented on #15029
I believe that this is a deliberate change to generated unit files, and we will override any user-specified setting as well. I don't recall the reasoning for that, though. @vrothberg would know.

[2022-07-21 17:45] #14966 closed

[2022-07-21 17:57] eriksjolund commented on #15029
I thought default value by definition meant that the option can be left out from the command-line whenever you need to specify that value. How it currently works does not match that. If I add __--sdnotify=container__ I get another result.

[2022-07-21 18:06] edsantiago commented on #12029
Not found in my logs since 04-04. I can no longer reproduce, because podman-in-podman no longer works for me:
[code]
(That's an error I've never seen before, and don't have time to track down today)

[2022-07-21 18:45] n1hility commented on #14593
Hi @userid0x0 @AaronRidoutAE @ericis,

In the upcoming 4.2 release, we are switching to an image with packages pre-installed, which should make adding your missing certs easier (until we have a specific feature for this).

I have a pre-built early version here if you want to try it:
https://github.com/n1hility/podman-builds/blob/main/podman-v4.2.0-dev.msi?raw=true

Using this release you should be