[2020-08-04 12:38] rhatdan commented on #7214
I am wondering why we don't return it always.  I think this might be a performance issue.

@mheon @baude Ideas?

[2020-08-04 12:46] mheon commented on #7214
Yes, this is mainly performance - Pod ID is free, pod name requires a
lookup in the DB for each container.

On Tue, Aug 4, 2020, 08:38 Daniel J Walsh <notifications@github.com> wrote:

[2020-08-04 13:00] #6084 closed

[2020-08-04 13:03] rhatdan commented on #7196
@ashley-cui PTAL

[2020-08-04 13:06] rhatdan commented on #7186
@djnotes If you don't have much content could you reset your storage and see if this clears this up.

podman system reset

Note this will delete everything in your containers/storage.

[2020-08-04 13:08] rhatdan commented on #7183
Yes this seems like something in the terminal is getting mucked up.

[2020-08-04 13:09] zhangguanzhang commented on #5964
I test it , it's ok in `2.0.4` @x70b1
[code]

[2020-08-04 13:16] x70b1 commented on #5964
@zhangguanzhang What did you exactly test?

The problem here is that podman listen on all ports instead of the defined one.

[code]
[code]

That is my kubernetes.yaml:

[code]

[2020-08-04 13:19] rhatdan commented on #7139
I have not been able to get this to fail on my laptop with master?

[2020-08-04 13:20] rhatdan commented on #7169
@rhdojun Could you start from the begining and run all commands as root or as non root and then see if this situation arises?

[2020-08-04 13:28] ashley-cui commented on #5964
Looks like it didn't get into 2.0.4 but is in master

[2020-08-04 13:30] x70b1 commented on #5964
Well, then lets hope for 2.0.5 :crossed_fingers:

[2020-08-04 13:33] djnotes commented on #7186
@rhatdan I tried `podman system reset` and executed build. It showed `sd-bus call: Permission denied`.  I rebooted the system and built and run the image without any problem. The error is gone. Why?

[2020-08-04 13:40] edsantiago commented on #7139
Now I can't either. Worse, I can't even get the reproducer script to fail on 7f38774. I did get `test/system/200-pod.bats` to fail semi-consistently on that checkout, so that reassures me that the problem was real, but on 93d63208b I can't get either test to fail even with two dozen tries. Shall I try bisecting? Shall I submit a PR to reenable `pod.bats` tests in rootless remote, and watch closely

[2020-08-04 13:50] mheon commented on #7167
Pods don't need to have infra containers - we actually have (loose) plans to replace them with pinned namespaces in the future - so I'm hesitant to make their arguments a required part of the pod command.

[2020-08-04 13:56] mheon commented on #7189
It looks like there are basically no rules present for IPv6 - most notably I am not seeing any masquerade rules to NAT the container?

@mccv1r0 Mind taking a look here?

[2020-08-04 14:04] edsantiago commented on #7139
If I remove all the `skips` and `if is_remote; then sleep`, it reproduces. Maybe this is a dup of #7119 ?

[2020-08-04 14:20] rhatdan commented on #6788
This is now fixed in master.

[2020-08-04 14:20] #6788 closed

[2020-08-04 14:21] rhatdan commented on #6400
Fixed in master.

[2020-08-04 14:21] #6400 closed

[2020-08-04 14:44] mccv1r0 commented on #7189
A quick test on fedora 32 / podman 1.8.0 shows this works.   Note:  I don't have dnsname plugin so it was removed.   Also, ping6 doesn't exist in ubuntu image so I just used an image I have handy.

[code]

Removing works too.

[code]

What version of cni is podman using?

[2020-08-04 14:47] mheon commented on #7213
We aren't technically starting the *pod* - we're starting the infra container for the pod. If there are other containers in the pod, we do not start them, only the infra container. As such, I tend to think that we should not be generating a "pod start" event.

[2020-08-04 14:49] zhangguanzhang commented on #6796
@max-arnold
https://github.com/containers/podman/blob/v2.0.4/pkg/domain/infra/abi/images_list.go#L55
https://github.com/containers/podman/blob/master/pkg/domain/infra/abi/images_list.go#L55
 it didn't get into 2.0.4 but is in master, lets hope for 2.0.5

[2020-08-04 14:55] mheon commented on #7189
Podman v1.9.3 vendors code from Plugins v0.8.5. It looks like RHEL 8.2.1 shipped v0.8.6, though.

[2020-08-04 14:58] sumit0900 commented on #7189
How to check the version of CNI and plugins?

[2020-08-04 15:01] mheon commented on #7189
`rpm -q containernetworking-plugins`

[2020-08-04 15:01] mheon commented on #7189
Oops, wrong button

[2020-08-04 15:05] sumit0900 commented on #7189
rpm -q containernetworking-plugins
containernetworking-plugins-0.8.6-1.module+el8.2.1+6626+598993b4.x86_64

podman --version
podman version 1.9.3

cat /etc/redhat-release
Red Hat Enterprise Linux release 8.2 (Ootpa)

[2020-08-04 15:07] max-arnold commented on #6796
Thanks for the clarification! I'll try to build Podman from source, since packages are often lagging behind the releases...

[2020-08-04 15:17] KKoukiou commented on #7213
I see what you are saying, but could you still emit a "pod start" event (or some event) when the PODS status changes from "Created" to "Running", which is what happens in this case?

[2020-08-04 16:01] TomSweeneyRedHat opened #7219 "podman (1) is not on docs.podman.io"
The main man page for podman (1) is not on the docs.podman.io site and should be as there are a number of global options listed on that man page that are used by a variety of commands and it should be available there along with the other man pages.

[2020-08-04 16:17] zhangguanzhang commented on #7196
https://github.com/containers/podman/blob/master/pkg/api/handlers/compat/containers_logs.go#L139
problem is in this line, but I cannot find why,  if I enabled time, It will be this:
[code]

[2020-08-04 16:30] zhangguanzhang commented on #7196
emmm, It seem the type is chunk

[2020-08-04 16:49] baude commented on #7214
ill take this one and look into it.

[2020-08-04 16:52] psakar commented on #7196
timestamps does not make any difference in my case, output is empty  ( no matter whether rootless or rootfull )

[2020-08-04 16:56] mheon commented on #7213
Maybe we need a better state for the pod here, to indicate it's only partially running - because you could run a `podman pod start` on a pod in that state, and it would still start containers within the pod.

[2020-08-04 17:18] baude commented on #7214
talked to @mheon , we have a good way to do this and not make it too much a perf hit.

[2020-08-04 17:18] baude commented on #7214
as such, @mheon is taking this over as it in involves a db call.

[2020-08-04 17:19] wwilson commented on #7061
It does indeed look like that causes the defunct fuse-overlays to exit.

So this is probably a podman shutdown bug?

[2020-08-04 17:21] rhatdan commented on #6818
@giuseppe Did you ever review this?

[2020-08-04 17:37] mheon commented on #7061
If you are on Podman v2.0.3 or later, we should be printing full logs from the cleanup process (`podman container cleanup`) to syslog if the container is started with `--log-level=debug`. The failure should be in there.

[2020-08-04 18:19] lsm5 commented on #3924
I'm gonna close this one. AFAIK, @siretart is working toward enabling podman on debian as well as ubuntu default repositories. And hopefully once those are available, I won't need to maintain debs on OBS anymore. So, this may no longer be needed anyway and don't think anyone's going to work on this meanwhile.

@matpen please reopen if you disagree.

[2020-08-04 18:47] rhatdan commented on #6847
[code]

What am I missing?

[2020-08-04 19:19] rhatdan commented on #5583
There is a PR to add retry with Podman.
https://github.com/containers/podman/pull/6905

[2020-08-04 19:37] rhatdan commented on #940
Please open a new issue.

[2020-08-04 19:56] matpen commented on #3924
@lsm5 Sorry I did not manage yet to find the time to work on this one. Anyway, having podman available from the official repos would make it even easier, both for the end user and for the maintainers. Great if this works out!

[2020-08-04 20:11] rhatdan commented on #7186
The sd-bus usually means that the containers can not communicate with the systemd dbus server.  I think this means your login account was not setup correctly or not initialized correctly.

We see this when people login as root and `su user`.  But if you login normaly via ssh or graphical login, systemd should setup the user session correctly.

[2020-08-04 20:35] rhatdan commented on #6796
@zhangguanzhang could you cherry pick this into the v2.0 release, then we know it will get into 2.0.5.

@mheon WIll be releasing 2.1 fairly soon, but getting this into the stable branch will have it show up RHEL8 and Centos 8.

[2020-08-04 20:50] langdon opened #7225 "RFE: default to "OCIFile" in addition to "Dockerfile""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to have a default filename for builds in addition to "Dockerfile." I have been using "OCIFile" as it seems accurate but, presently, I have to pass "-f" to pick it up. I would prefer it just find it.

**Additional information you deem important (e.g. issue happens only occasio

[2020-08-04 20:53] mheon commented on #7225
After some debate, I believe we settled on (and presently support) `Containerfile`

[2020-08-04 21:23] langdon commented on #7225
Oh, ha, I tried searching the issues and didn't find anything seemingly related. That's a great answer! Sorry for the noise.

[2020-08-04 21:47] #7225 closed

[2020-08-04 22:05] edsantiago opened #7228 "CI: flake: read unixpacket [conmon path]"
As predicted, we're starting to see flakes in CI due to podman-remote tests being enabled. This one manifests as:
[code]
Seen in [special testing rootless](https://github.com/containers/podman/pull/7224/checks?check_run_id=946573502) in #7224

Seen in [fedora 31 test](https://github.com/containers/podman/pull/7222/checks?check_run_id=946592904) in #7222

I'm sorry not to be able to provide more in

[2020-08-04 22:06] edsantiago commented on #7228
It is possible that this and #7195 are the same problem, but until there's evidence for that let's leave them as separate issues.

[2020-08-04 22:27] siretart commented on #3924
Done:

* https://tracker.debian.org/pkg/libpod
* https://launchpad.net/ubuntu/+source/libpod

You may want to keep your existing work for earlier Distributions. I'm not sure whether I can commit to providing backports for debian 10 or Ubuntu 20.04 or earlier. I imagine the kernel to be particularly challenging.

I wonder whether flatpack or snapd might be an interesting option for distributing pod

[2020-08-04 23:32] #7128 closed

[2020-08-05 00:01] rustysys-dev commented on #7154
@mheon Can you confirm that #7094 was included in this release?  I looked through the diff for 2.0.3 and 2.0.4 and didn't see this included.

Please let me know if I overlooked it.  In anycase I would like to reopen this as it seems that 2.0.4 doesn't actually fix the issue.

[2020-08-05 00:44] TomSweeneyRedHat commented on #7225
Yes, we indeed search for Containerfile, then if not found, Dockerfile when doing a build.  OCIFile is a good suggestion too, we had considered that at one point before settling on Containerfile.

[2020-08-05 00:47] #6994 closed

[2020-08-05 00:47] #6993 closed

[2020-08-05 02:07] mheon commented on #7154
https://github.com/containers/podman/commit/5d790bb2be77fae2de429d1004bec5fed0c55ba8
is included in the branch, so the fix is definitely in 2.0.4

On Tue, Aug 4, 2020 at 8:01 PM Scott <notifications@github.com> wrote:

[2020-08-05 03:21] wdouglascampbell opened #7230 "podman logs often cannot use --tail due to some parsing issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to look at the logs of a running container using --tail, I often get back some error about having trouble parsing the log.

**Steps to reproduce the issue:**

1.  I have a running mariadb container

2.  If I issue the following (at the moment):
[code]
I get:

[code]

3. However if

[2020-08-05 06:55] zhangguanzhang commented on #7196
I found the reason,
[code]
build with `-gcflags 'all=-trimpath=/root/zgz/podman -N -l'` and use dlv to debug it
[code]

now get the container's ID, open another terminal. and run this
[code]
You can see that there is a problem with the log-writing logic.

and I update runc, it still exsit. and I can't find where the code was written to the log file
[code]
@QiWang19 @mheon @giuseppe PTAL

[2020-08-05 07:00] alitvak69 commented on #3924
Unfortunately many people use LTS distros for ubuntu, i.e. 18.04 and 20.04 so unless ubuntu effort can be backported we would need to keep OBS or some other distro longer.  IMHO snapd is not a good idea.

[2020-08-05 07:17] psakar commented on #7196
Leaving aside other issues this line is probably wrong https://github.com/containers/podman/blob/master/pkg/api/handlers/compat/containers_logs.go#L88
I think options.Timestamps for log reading should be always true (given the log has fixed format) ?

[2020-08-05 07:30] maybe-sybr opened #7231 "Rootless pods with published ports observed blocking connections"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**

I'm using `podman play kube` to run up some infrastructure I've been working on and have noticed recently that after a number of network transactions with the pod, connections seem to cease to be forwarded to the containers. The blocking present as if SYNs were being lost. I don't yet have a r

[2020-08-05 07:31] zhangguanzhang commented on #7196
The source of the error is not here, and the log source returned by the API is also read from the container log file

[2020-08-05 07:32] maybe-sybr commented on #7231
I also noticed while trying to get a minimal repro this afternoon that spinning curl against the nginxhello image running in a pod would get recv failures and block intermittently. I'm not sure if this is the same behaviour because after about 10-20 seconds, it'll come back.

If someone could drop some handy tips for how I might be able to get some logging out of the rootlessport process, that mig

[2020-08-05 07:38] #6653 closed

[2020-08-05 07:59] giuseppe commented on #6818
sorry I've missed it.  Looks like the kernel is too old and have no support for keyrings.

Both runc and crun have an option `--no-new-keyring` to skip creating a new one

[2020-08-05 08:12] vrothberg commented on #7225
Note that building is not standardized in the OCI. I believe that's why Containerfile won the race.

[2020-08-05 09:32] psakar commented on #7196
@zhangguanzhang One more question - according to docker api doc https://docs.docker.com/engine/api/v1.40/#operation/ContainerAttach

Given that should be the output header written always ? https://github.com/containers/podman/blob/master/pkg/api/handlers/compat/containers_logs.go#L141

[2020-08-05 09:38] zhangguanzhang commented on #7196
not in the api handler,you could see this
[code]
and this
[code]
enabled `--tty` on causes some invisible characters and `^M`

[2020-08-05 09:43] srcshelton commented on #6847
Confirmed - since raising this issue, I've upgraded from podman version `2.0.0-rc6` to `2.0.3` and I now get the same result as you, that the file is successfully copied.

Is there any means to verify that there are no other edge-cases where `COPY`/`ADD` can succeed without having created the intended file, since I assume that the false-positive in `2.0.0-rc6` wasn't picked-up by any automated tes

[2020-08-05 09:48] psakar commented on #7196
Are you sure ? I think that in case tty is enable the downloaded log should not contain the output header - those "invisible characters" as you call them

[2020-08-05 12:52] mheon commented on #7196
The logs are written by Conmon - https://github.com/containers/conmon/

[2020-08-05 13:22] mheon commented on #7231
@AkihiroSuda Does this look like a dupe of https://github.com/containers/podman/issues/7016

[2020-08-05 13:39] AkihiroSuda commented on #7231
This might be different from #7016. Needs full reproducer for further analysis.

[2020-08-05 13:46] avikivity opened #7233 "Inconsistent treatment of manifest lists in "podman run""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A `podman run` with the image pointing to a local manifest list will fail.

A `podman run` with the image pointing to a manifest list in a registry will succeed.

At best this is confusing. At worst, it means there is no way to extend a manifest list, since it will be treated differently if c

[2020-08-05 13:59] mheon commented on #7231
@maybe-sybr Any chance you can upgrade to Podman 2.0.4 and re-test? If it still occurs, a more detailed reproducer would be greatly appreciated.

[2020-08-05 14:18] ashley-cui commented on #7114
closed via #7158

[2020-08-05 14:18] #7114 closed

[2020-08-05 14:50] lsm5 commented on #7012
@giuseppe  PTAL `/dev/fuse` is available. However, same issue with --ulimit host:
[code]

[2020-08-05 14:52] psakar commented on #5260
@mheon Please would you check the case in the above comment ? It blocks use of testcontainers with podman

[2020-08-05 14:55] ashley-cui commented on #5535
closed via #7159

[2020-08-05 14:55] #5535 closed

[2020-08-05 14:57] mheon commented on #5260
How does it behave differently? Can you provide details?

[2020-08-05 15:10] psakar commented on #5260
It is described in the comment https://github.com/containers/podman/issues/5260#issuecomment-668127624 - it contains full reproducer.
Basically the container does not start properly because working directory is not set (and possibly other few things)

[2020-08-05 15:14] mheon commented on #5260
I'm 99% sure that the original issue here (Init not being called) has been resolved. These sound like separate issues?

Can you file separate issues for each thing you're seeing?

[2020-08-05 15:15] psakar commented on #5260
Sure, I'll do, thanx for looking into it

[2020-08-05 15:15] mheon commented on #5260
I'm going to close this one - Init is definitely called as part of start now.

[2020-08-05 15:15] #5260 closed

[2020-08-05 15:20] lsm5 commented on #7012
RE: capabilities, does this help?
[code]

[2020-08-05 15:21] edsantiago commented on #7228
* fedora-32 : test fedora-32
  * PR #7081
    * [08-04 16:39](https://api.cirrus-ci.com/v1/task/5219124764737536/logs/system_test.log)

[2020-08-05 15:48] rhdojun commented on #7169
Thanks for your feedback!

@rhatdan Running everything without sudo didn't work, but currently can't remember why. But everything in sudo is there, it just errored out in the last step for some reason.

What I did since the creation of the ticket is build my own podman from master. So I could try it again with the current master and both in sudo and non-sudo cases it recognizes two containers. Is

[2020-08-05 15:53] srcshelton opened #7234 "Silence healthcheck warnings on hosts without systemd when '--no-healthcheck' is specified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Calling `podman run` on a Dockerfile containing a `HEALTHCHECK` statements fails (and throws errors on container removal) if attempted on a host system not running systemd.

**Describe the results you received:**

Attempting to start the container defined by https://github.com/netdata/netdata

[2020-08-05 16:34] mheon commented on #7234
@baude PTAL

[2020-08-05 16:57] psakar opened #7235 "[APIv2] Create container does not initialize WorkingDir and few other things"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container created via REST API v2 does not start properly because working dir, environment variables and network are not set correctly. It works as expected when started using podman CLI

**Steps to reproduce the issue:**

1. Assert you are able to start container via Podman CLI
[code]

2. Tr

[2020-08-05 16:59] edsantiago commented on #7119
I believe this was fixed by #7224 but the 'Fixes' line was in a comment, not OP

[2020-08-05 16:59] #7119 closed

[2020-08-05 16:59] psakar commented on #7235
@mheon As promissed new issue created. I've retested with v 2.0.4 to be sure it is not fixed in the meantime

[2020-08-05 17:01] mheon commented on #7235
Entrypoint should be fixed on master, but the rest is likely still an issue.

[2020-08-05 17:13] psakar commented on #7235
Adding diff from inspect.

Most notable differences - ENV.PATH, WorkingDir, NetworkMode, ShmSize

[code]

[2020-08-05 17:17] edsantiago commented on #7228
Wow - a [triple failure](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5594465345732608/html/integration_test.log.html#t--podman-run-user-capabilities-test--1)

[2020-08-05 17:19] baude commented on #7234
as mentioned, systemd is required for healthchecks. no other backend has been developed.  making the failure non-fatal seems reasonable.

[2020-08-05 17:27] giuseppe commented on #7012
fuse-overlayfs on top of fuse-overlayfs won't work.  You also need to add `/dev/fuse`:

[code]

[2020-08-05 17:45] mheon commented on #6893
@edsantiago Thanks, that helped a lot.

I think I have a fix now, doing some tests before I make a PR.

[2020-08-05 18:00] lsm5 commented on #7012
Thanks @giuseppe. This works fine for me now.
[code]

I'll close this. @ashokponkumar please re-open if it doesn't fix your issue.

[2020-08-05 18:00] #7012 closed

[2020-08-05 18:43] mheon commented on #7213
I'm going to bring this up at scrum tomorrow and ask for opinions from the team. I think we may end up with a new state for pods that are only partially running.

[2020-08-05 18:59] mheon commented on #6527
This one should be done

[2020-08-05 18:59] #6527 closed

[2020-08-05 19:12] lsm5 commented on #7058
I spawned 5 containers simultaneously using goroutines, seemed to work just fine for me on v2.0.4.

@sunyitao I see that you're using the podman from container-tools module on centos which is often very old. Can you check if the podman from OBS has this issue as well? Instructions for fetching it can be found at https://podman.io/getting-started/installation .

@mheon @vrothberg hope it's fair to

[2020-08-05 19:12] #7058 closed

[2020-08-05 19:57] #6893 closed

[2020-08-05 20:27] wwilson commented on #7061
I am currently unable to change my podman version. @rhatdan it looked like you had also run into this? Can you try to get the logs that @mheon needs?

[2020-08-05 20:57] #7211 closed

[2020-08-05 21:35] #7124 closed

[2020-08-05 22:02] Balthyr commented on #7189
Hello,

I'm facing the same issue like @sumit0900 on CentOS:
[code]

The versions of Podman and CNI are the latest ones:
[code]

[2020-08-05 22:16] mheon commented on #7189
Can you also provide the CNI config you're using, and `ip6tables -nvL` / `ip6tables -t nat -nvL` output?

[2020-08-05 22:25] Balthyr commented on #7189
Sure. Here is my CNI config:

[code]

- **`ip6tables -nvL`**:
[code]
- **`ip6tables -t -nvL`**:
[code]

- **An interesting thing is that the connection to web sites like `google.com` works without any issues:**
[code]

[2020-08-05 22:54] edsantiago opened #7241 "podman-remote: there's a hang somewhere"
Another semi-useless report with no reproducer nor actual details.

There's a hang somewhere in podman-remote. It's causing flakes in CI all over the place. It does not seem to be deterministic, it's happening in lots of different situations.

Examples:
* From #7238 - looks like it's in podman wait - [log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman

[2020-08-05 23:17] edsantiago commented on #7241
Another wait https://cirrus-ci.com/task/6571684087988224

[2020-08-05 23:23] jwhonce commented on #6426
@lsm5 I did some debugging. What is the value of --time in your ~/.config/systemd/user/podman.service file?

[2020-08-06 00:30] maybe-sybr commented on #7231
@mheon @AkihiroSuda It looks like you might be right, the symptoms in #7016 sound almost exactly like what I'm observing. The intermittent failures of my nginxhello setup didn't match the behaviours of my more complex system, which is what I'm more concerned about at the moment. I'll bump to 2.0.4 and do some work today to see if the problems with the complex pod go away.

For reference, the repro

[2020-08-06 00:52] maybe-sybr commented on #7231
Okay, I can confirm it's almost definitely the issue fixed in rootless-containers/rootlesskit#157.

Trivial debug step which might be useful for any future reports:
[code]
One of the rootlessport procs had 1024 FDs which I assume gets ulimited in at some point in the container setup. Interestingly I saw the FD list go up quite high and then back down again (900ish back down to 400) which seems lik

[2020-08-06 00:52] #7231 closed

[2020-08-06 01:55] rustysys-dev commented on #7154
@mheon Thank you! sorry seems I just had trouble finding it!

[2020-08-06 02:29] mheon commented on #7154
If you're still seeing the issue, would you mind opening a fresh issue?

[2020-08-06 02:48] mheon commented on #6866
@rhatdan @baude @jwhonce We should discuss this one at scrum and decide what to do. I'm not opposed to splitting this out, but we probably want to wait until the libpod move to do it (to avoid having something that vendors containers/podman, and is then vendored into containers/podman...)

[2020-08-06 07:16] valentindavid commented on #7106
Sorry for not replying earlier. Setting +s or cap_setuid (resp. cap_setgid) fixes the issue.

[2020-08-06 07:16] #7106 closed

[2020-08-06 07:57] dzerhusen opened #7242 "Podman not working with cron"
/kind bug

**Description**
Podman not working with cron

**Steps to reproduce the issue:**

1.Edit as cadmin User crontab -e
50 * * * * /opt/scripts/backup/postgresql_backup.sh >> /opt/logs/backup/postgresql_backup.log 2>&1

2.  vi /opt/scripts/backup/postgresql_backup.sh:

#!/bin/bash
whoami
/bin/podman exec  --log-level=debug postgresql /usr/bin/psql -U postgres -l

3. wait and look into the log

[2020-08-06 08:06] ssbarnea commented on #4511
I hope this is not really stale. Having podman in macos is critical for it to become mainstream.

[2020-08-06 08:27] vrothberg commented on #7234
SGTM :+1:

[2020-08-06 09:06] rei-ber commented on #6668
Thanks, now it works for me with podman 2.0.4 :+1:

[2020-08-06 10:01] rei-ber commented on #6368
Just for documentation:
It is still a valid issue on Debian 10 with podman 2.0.4, cgroupv2 and systemd 241.

like @giuseppe already said:

Running with cgroupfs like `podman --cgroup-manager=cgroupfs run --rm -it alpine` works. So it seems not to be fixed with systemd 241.

[2020-08-06 12:18] matzew opened #7243 "KIND does not seem to work with podman"
/kind bug

**Description**

Pulling `KIND` images seems not to work

**Steps to reproduce the issue:**

1. Running `kind create cluster`, I get:

[code]

OK, now going back a step and trying to just pull the image..., like:

2. Run `docker pull kindest/node:v1.18.2@sha256:7b27a6d0f2517ff88ba444025beae41491b016bc6af573ba467b70c5e8e0d85f`

same

I use the `podman docker` thing.  Running `podman pull

[2020-08-06 12:23] matzew commented on #7243
I guess this is a dup of https://github.com/containers/podman/issues/6721  ?

[2020-08-06 12:27] matzew commented on #7243
/close

[2020-08-06 12:27] #7243 closed

[2020-08-06 12:57] mheon commented on #7242
You need to run 'loginctl enable-linger' on the user. We rely on several
Systemd managed temporary directories which are only created when the user
logs in, but unfortunately Cron running something does not count as a login
so they are not there and Podman will fail. Enabling linger will have
Systemd keep the directories around and should resolve the issue.

On Thu, Aug 6, 2020, 03:58 dzerhusen <n

[2020-08-06 13:12] lsm5 commented on #6426
Hmm, no such file here. Does it consider `/usr/lib/systemd/system/podman.service` then?

[2020-08-06 13:33] lsm5 commented on #7136
@vrothberg is non-remote podman ideal, or should it also emit the `Getting image source signatures` and `Copying blob..` lines?

[2020-08-06 13:37] lsm5 commented on #7136
hmm, fwiw, non-remote won't say hi to me :(

[code]

[2020-08-06 13:42] rhatdan commented on #6818
@giuseppe Do we need  a way to pass this down through podman to the OCI runtimes?

[2020-08-06 13:46] cevich commented on #4511
nope, not stale.  I'm working on a new CI/CD setup which includes the build-release step at the end: https://github.com/containers/podman/pull/6784  Though it's still likely to take a while, as I'm not getting much help on the mac/windows scripting side.  I may have to learn that stuff myself :cry:

[2020-08-06 13:47] vrothberg commented on #7136
@lsm5 currently `remote` does not display the information from pulling/pushing or building images.

@baude @jwhonce is that something you want to see? I guess @rhatdan has a growing desire to support that, especially for Win and Mac, but I'm not sure how much work that would be.

[2020-08-06 13:48] zhangguanzhang commented on #7136
I see the `Using cache`
[code]

[2020-08-06 13:57] rhatdan commented on #6847
@nalind is adding a ton of testing for building container images to Buildah, which will hopefully catch these issues.

[2020-08-06 13:57] #6847 closed

[2020-08-06 14:01] edsantiago commented on #7241
This script will reproduce it, although not quickly, you have to do it in a loop and wait possibly hours:
[code]
I find it interesting that CREATED was 15 minutes ago, but it exited 10. Implying that it took 5 minutes between the `exec rm /foo` and the time the container exited.

I'm heading out for the day, but am leaving the container as it is in case anyone has suggestions for me to `inspect` o

[2020-08-06 14:13] dzerhusen commented on #7242
Hello,
thanks for your help. It worked after a reboot. I saw now that this is only mentioned in a short part in the docs at systemd. Maybe it should be clarified in the podman manual somewhere.

[2020-08-06 14:17] lsm5 commented on #7136
@zhangguanzhang thanks!

@vrothberg So, podman-remote doesn't seem to be using cache either as I can see the message echoed everytime. That should also be made similar to non-remote, yes?

[2020-08-06 14:42] ParkerVR commented on #6387
@chuanchang you seem to have a malformed request. Try 'http://127.0.0.1:8080/v1.40/images/json?filter=alpine:latest' instead.

➜  ~ curl -v -X GET 'http://127.0.0.1:8080/v1.40/images/json?filter=alpine:latest'
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 127.0.0.1:8080...
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)

* Mark bundle as not supporting multiuse

[2020-08-06 15:44] rhatdan commented on #7233
@QiWang19 PTAL

[2020-08-06 16:44] baude commented on #6866
@drewbailey as @mheon suggested, we did discuss this as a team.  the overwhelming response was to keep to the bindings in containers/podman.  however, we do agree that adding readme's and other related things are more than appropriate.  we have a tutorial coming out here very shortly from a team member on how to consume and use the bindings.  from that, we will derive a readme.

i am wondering ...

[2020-08-06 17:49] TomSweeneyRedHat commented on #7242
This sounds like a good addition to the known issue @mheon

[2020-08-06 17:55] mheon commented on #7242
I do believe it's already there.

We do have a discoverability problem around the known issues page - I have never once seen it among our most visited pages.

[2020-08-06 17:57] rhdojun opened #7246 "ImagePullPolicy Unexpected Responses"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to deploy both my containers (apache and its prometheus exporter) as a pod still.
You can see it here: https://github.com/rhdojun/simpleserver/blob/master/pod-simpleserver.yaml
The image that contains the httpd is locally built https://github.com/rhdojun/simpleserver/blob/master/Do

[2020-08-06 18:08] afbjorklund commented on #4511
I don’t think installing the podman-remote client was the problem here...

To become “mainstream” it needs to provide an integrated solution (including Linux) and I don’t think that anyone is currently working on that ? I guess that CRC is closest to a ready-to-run package, even if it does a whole lot more than “just” podman. Maybe parts of it could be reused for a “light” version

[2020-08-06 18:33] TomSweeneyRedHat commented on #7242
Yeah, helping the discoverability for that page is on my back burner list of todo's, I really need to pop that up a stack or two in the queue.

[2020-08-06 18:44] baude commented on #7116
@edsantiago this error is actually correct.  it may not be clear enough, but it is correct.  I'm worried that trying to catch this in the remote client (as opposed to the API), will bloat the remote client by bring in containers/image stuff.

wdyt?

[2020-08-06 19:07] cevich commented on #4511
Correct, the problem here is we need to run a build on a MacOS VM and (somehow) sign/certify the package.  However, we also need a place/method to publish it, which is how this is related to what's happening in #6784.  That PR will add a 'release' hook at the end of the Cirrus-run. That will be the automation trigger for producing, signing, and publishing a official release packages (on github).

[2020-08-06 19:15] QiWang19 commented on #7233
Create & Run using a manifest returns error `var ErrImageIsBareList = stderrors.New("image contains a manifest list or image index, but no runnable image")` , is this as expected?
@rhatdan @nalind ?

[2020-08-06 19:24] rhatdan commented on #7169
Sounds like it is fixed to me.  We can reopen if you find more problems.

[2020-08-06 19:24] #7169 closed

[2020-08-06 19:34] ParkerVR commented on #4961
This seems to have been fixed in the upstream. @tanwald let us know if this is still occurring for you.

[2020-08-06 19:40] rhatdan commented on #7213
I believe having another state makes sense.  Although I do not have a good name for that state.

[2020-08-06 19:41] mheon commented on #7213
Kube makes me lean towards `Degraded` as a good name.

[2020-08-06 19:42] rhatdan commented on #7213
Works for me.

[2020-08-06 20:04] rhatdan commented on #7061
I have two running on my system right now.

[code]
But  I don't see any mounts in /proc/mounts even if I do a podman unshare.
I don't know how to get these to happen.

[2020-08-06 20:20] rhatdan commented on #6795
@Aruscha Were you ever able to get this to work?  We have seen some issues with Artifactory registries?

[2020-08-06 20:21] rhatdan commented on #2669
Most of the work is happening in containers/image right now.

[2020-08-06 20:44] Aruscha commented on #6795
@rhatdan No, I had to go back to docker Wi-Fi is probably fine, but I can't do it on Ian.

[2020-08-06 20:50] danopia commented on #6818
Hello,

I just performed a full reformat of my Chromebook for unrelated reasons, & installed podman from the kubic debian repo. Rootful podman works great now which is excellent :) and unblocks me building stuff with podman.

Rootless, I had to set up subuid/subgid files, then had a new error message about `slirp4netns failed` mentioning seccomp, unless passing `--net=host`, at which point I got b

[2020-08-07 06:08] stanislaw55 commented on #6382
I would like to resolve issue. The reason was misconfigured proxy settings.

[2020-08-07 06:08] #6382 closed

[2020-08-07 06:39] jpescalona commented on #1182
@jschewebbn You've been my saviour! Works like a charm!

[2020-08-07 08:33] rhatdan commented on #7242
Should we add a link to podman.io?  Should we put a link into the podman man page?

[2020-08-07 08:41] tanwald commented on #4961
@ParkerVR it works on my machine... thanks!

[2020-08-07 08:41] #4961 closed

[2020-08-07 08:58] vrothberg commented on #6288
https://github.com/containers/podman/pull/7215 will eventually solve the issue. Thanks for everybody involved and for providing the details.

[2020-08-07 09:01] vrothberg commented on #6288
I am currently experiencing a huge performance decrease as root. With #7215 it takes 7 sec to list 510 images (yesterday it was 0.3 sec) while a vanilla Podman took 3 min 31 sec (6 yesterday).

@rhatdan @baude ... there's still something yet to be revealed.

[2020-08-07 09:06] tanwald opened #7250 "podman logs colours the terminal persistently"
/kind bug

**Description**

The font colour of the terminal session continues to be the same as the last log entry. Only `reset` or `echo -ne '\033c'` or similar resets the colour.

If the command is part of a script this behaviour can get confusing...

**Steps to reproduce the issue:**

1. `podman logs <container>`

**Describe the results you received:**

The font colour of the terminal session c

[2020-08-07 09:15] rhatdan commented on #7116
So `podman-remote run` only supports docker transports while `podman run` supports all of the transports.
We need to document this.

[2020-08-07 09:21] Shrinibolli opened #7251 "Podman in Openshift image pull issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman in OpenShift container does not pull images.
I have installed podman on a OpenShift container and running as a root user. I am able to login to my private registry using podman. I am also able to pull hello-world image from docker registry. I am also able to pull some images from our p

[2020-08-07 10:49] rhatdan commented on #6795
Well we have added retry to podman now, so it should be better able to handle unstable networks.

[2020-08-07 10:49] #6795 closed

[2020-08-07 10:49] #6818 closed

[2020-08-07 11:27] Aruscha commented on #6795
So up to now it does not go unfortunately still with me in lan enterprise.

Is it perhaps because of cloudflare?
Because in the wifi it goes...

![IMG_20200807_132636_272.jpg](https://user-images.githubusercontent.com/49562390/89641356-c9857880-d8b1-11ea-88cc-db7311dabaed.jpg)

[2020-08-07 12:22] rhatdan commented on #6288
I'll take 7 seconds.

[2020-08-07 12:46] rhatdan commented on #7251
If I try to pull this image from my laptop, I get a similar error
[code]
I think you need to login to the registry in order to pull this image.

[2020-08-07 12:52] rhatdan commented on #6795
Did you try this with podman in the upstream repo?

[2020-08-07 12:55] #7230 closed

[2020-08-07 12:58] rhatdan commented on #6884
@TristanCacqueray Are you still interested in this issue.  If so answer my question above, please.

[2020-08-07 12:58] #6877 closed

[2020-08-07 13:12] TristanCacqueray commented on #6884
@rhatdan I would expect the `--cap-add` option to be effective for user processes too. Though I am not sure of the implications, and if that's not a good behavior, then perhaps podman could warn about capabilities not being effective with the `--user` option as this can be a surprising change when updating from podman 1.x.

[2020-08-07 13:19] mheon commented on #7242
podman.io sounds like a good place

[2020-08-07 13:42] mheon commented on #7250
`podman logs` itself does not use colors itself, but it will quite happily write any terminal control sequences (to include colors) that the container wrote to the logs. Can you try with another container from a different image and see if the problem persists?

[2020-08-07 13:44] mheon commented on #7250
I suppose we can probably save terminal state before running logs, and restore it when we exit, but I'm not sure if that actual affects current displayed color, that's more of a terminal emulator setting AFAIK.

[2020-08-07 13:58] dadevel commented on #6884
@rhatdan: Quickly throwing in my opinion: Yes, exactly like you said. Commands like `podman run -it --rm --user nobody --cap-add net_bind_service alpine nc -lp 80` or `podman run -it --rm --user nobody --cap-add net_admin --network host myimage nft list ruleset` should just work out of the box.

[2020-08-07 14:17] Shrinibolli commented on #7251
Even after login to quay.io repository, I am getting below error with podman. I am able to successfully pull the same image with docker.

root@ucda-podman-2-n8b66:/tmp# podman login quay.io
Authenticating with existing credentials...
Existing credentials are valid. Already logged in to quay.io

root@ucda-podman-2-n8b66:/tmp# podman pull centos/nginx-112-centos7
Trying to pull docker.io/centos/ngin

[2020-08-07 14:22] zhangguanzhang commented on #6242
@chuanchang , you must create an exec session first
[code]
and start it
[code]
and the version info
[code]

[2020-08-07 14:22] #6242 closed

[2020-08-07 14:26] Shrinibolli commented on #7251
Trying to pull image from our private registry -

root@ucda-podman-2-n8b66:/tmp# podman login us.icr.io
Authenticating with existing credentials...
Existing credentials are valid. Already logged in to us.icr.io
root@ucda-podman-2-n8b66:/tmp# podman pull us.icr.io/shrini-poc/centos7-tools
Trying to pull us.icr.io/shrini-poc/centos7-tools...
Getting image source signatures
Copying blob 6010c765ce31

[2020-08-07 14:33] rocketraman commented on #2013
Does anyone know what version of podman contains those changes? I'm building with podman 2.0.3 using `BUILDAH_FORMAT=docker` and I see that the built image has a layer which incorrectly reports the mediatype for one layer as `application/vnd.docker.image.rootfs.diff.tar.gzip`, when in fact the correct media type is `application/vnd.docker.image.rootfs.diff.tar`.

Furthermore, when doing:

[code]

[2020-08-07 15:12] QiWang19 commented on #2013
From the changelog, it's included from [v1.6.2-rc1](https://github.com/containers/podman/releases/tag/v1.6.2-rc1)

[2020-08-07 15:14] TomSweeneyRedHat opened #7252 "`podman system service` and `podman system connection` is not on docs.podman.io"
The man page for `podman system service` seems to be missing from docs.podman.io.  This [page](http://docs.podman.io/en/latest/system.html) has a number of commands for `podman system`, but service is not one of them.

`podman system connection` is also not on this page and should be.

[2020-08-07 15:19] rocketraman commented on #2013
Thanks. Looks like I have a different issue then. Probably this one: https://github.com/containers/podman/issues/6496.

[2020-08-07 15:23] rocketraman commented on #6496
I have this issue (I think) as well. I'm building with podman 2.0.3 using `BUILDAH_FORMAT=docker` and I see that all or most of the built images have a layer which incorrectly reports the mediatype as `application/vnd.docker.image.rootfs.diff.tar.gzip`, when in fact the correct media type is `application/vnd.docker.image.rootfs.diff.tar`.

Furthermore, when doing:

[code]

podman apparently "corre

[2020-08-07 15:39] saschagrunert opened #7253 "Specifying seccomp profiles for privileged containers"
Right now we clear the seccomp profile for privileged containers there:
https://github.com/containers/podman/blob/288ebec6e737c105fa0ef43412de4e0a8997feb9/pkg/specgen/generate/security.go#L161-L164

Recently we added a behavioral change which allows to still run apparmor profiles for privileged containers. I think for sake of consistency and testing we should apply the same behavior to seccomp. WD

[2020-08-07 15:45] mheon commented on #7253
I think that being internally consistent makes sense - we should obey explicit user configuration of Seccomp when given, even if `--privileged` has been passed.

[2020-08-07 16:31] rugk opened #7254 "Login support for credential stores/helper"
Docker supports [credential stores](https://docs.docker.com/engine/reference/commandline/login/), podman does not.

I see this being mentioned in https://github.com/containers/podman/issues/4119#issuecomment-535660495 e.g., but it does not seem to be very successful. (and AFAIK that issue there is about the CLI of

[2020-08-07 16:31] rugk commented on #7254
Ah forget it, I guess this is a duplicate of https://github.com/containers/podman/issues/4119

The title there is just not really obvious to me, as it does not mention the credential store.

[2020-08-07 16:31] #7254 closed

[2020-08-07 17:04] rugk commented on #4119
Accidentally opened https://github.com/containers/podman/issues/7254 as a duplicate.
So I'd very much like to see libsecret support, at least, so passwords are saved in the credential store on Linux desktops.

[2020-08-07 17:16] rugk opened #7255 "$XDG_RUNTIME_DIR for passwords. Why a non-persistant path?"
Why does podman – in contrast to docker (which uses $HOME) – use a temporary path for storing the login secrets by default?

Storing it in `$XDG_RUNTIME_DIR` means it is deleted at restart/shutdown, so one has to login again and again when rebooting?

What is the reasoning for that?

[2020-08-07 17:21] mheon commented on #7255
The lack of persistence is deliberate - we didn't want to leave secret information around after the user logs out of the system.

[2020-08-07 17:26] carlpett commented on #6288
FWIW my laptop is now back to its' slow self (without doing anything actively). 18m25s for 185 images. Anything I can check, or is the linked PR already certain to have found the underlying cause @vrothberg?

[2020-08-07 17:33] rugk commented on #7255
Hmm, annoying though, especially if you follow good development practices and create API keys – which you can only view once. So you have to regenerate a key each time again and again… :roll_eyes:

Just the more reason for #4119 I guess.

[2020-08-07 17:52] mheon commented on #7115
The Alpine image does not specify ENTRYPOINT - instead it specified a CMD (`/bin/sh`). We were appending the image's CMD to the manually-specified ENTRYPOINT, but it looks like this is incorrect - we should only add image CMD if the user *did not* specify an entrypoint.

[2020-08-07 18:35] TomSweeneyRedHat commented on #7255
@rugk could you store your authfile in a secure and more permanent location and then use the `--authfile` option to point the command to use the non-default location?

[2020-08-07 19:17] klDen opened #7257 "Rootless v2.0.4 podman pod create returns error"
**Steps to reproduce the issue:**

1. sudo apt install podman

2. Run podman pod create

**Describe the results you received:**
error message

**Describe the results you expected:**
pod created

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of

[2020-08-07 19:18] klDen commented on #7257
This issue relates to closed ticket #6119 .

[2020-08-07 19:20] mheon commented on #7257
Can you provide the error? This is working perfectly on my system.

[2020-08-07 19:21] klDen commented on #7257
Hello,
Thank you for your quick reply.

[code]

[2020-08-07 19:27] mheon commented on #7257
That ID is correct for the AMD64 pause image.

Can you try removing the image and re-pulling it?

[2020-08-07 19:27] klDen commented on #7257
Also, running the same command using root permissions works.
Only when using rootless do I get this error.

[2020-08-07 19:31] wdouglascampbell opened #7258 "pasting large amount of text into vim running inside of podman hangs container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pasting a large amount of text into a container environment (usually while editing a file in vim but also to a /bin/bash and /bin/sh shell prompt)  the session hangs and there is no way to cancel, quit, exit, etc.

**Steps to reproduce the issue:**

1.  run a busybox container
[code]

2.

[2020-08-07 19:38] klDen commented on #7257
[code]

[2020-08-07 19:43] mheon commented on #7257
Interesting...
@vrothberg @nalind PTAL

[2020-08-07 19:50] wdouglascampbell commented on #7258
Just to be clear.  I don't have to be editing a file in vim.  I could just the large amount of text at the shell prompt and things stop processing after a second.

[2020-08-07 19:58] mheon commented on #7258
Can you attach to the same container again, in a different terminal, after the hang? Does that work?

How much text are we talking about? A few hundred lines, or tens of thousands?

[2020-08-07 20:01] wdouglascampbell commented on #7258
In this specific case I am pasting 2500 lines of text.

I will try to re-attach to the container from a different terminal after the hang and report back.

[2020-08-07 20:03] wdouglascampbell commented on #7258
Okay.  I attached to the still running container that is hung pasting into vim.

I ran ```ps aux``` inside the container and noticed that there is not a running vim process anymore eventhough the other terminal still is hung.

[2020-08-07 20:06] Luap99 commented on #7258
I can reproduce this on current master with something like 230 lines.

[2020-08-07 20:09] wdouglascampbell commented on #7258
@Luap99 Thanks.  Now at least I know I am not going crazy :)  Yes, I have had it happen with less lines but the number of lines doesn't seem consistent but it has always failed for 2500 lines.

[2020-08-07 20:12] Luap99 commented on #7258
It looks like the `-t` (tty) option triggers that state, it works when running the container without it.

[2020-08-07 20:17] wdouglascampbell commented on #7258
but I cannot interact with the container without the ```-t``` option, right?  At least it doesn't output anything back to me.

[2020-08-07 20:19] Luap99 commented on #7258
You can still type the commands in there is just no shell prompt. I know it is not very useful without the tty.

[2020-08-07 20:19] mheon commented on #7258
I'm trying to reproduce this locally, without success. Can you provide further details - is this a copy from another OS (over SSH) into a Podman container on a remote system? Anything unusual about the container?

[2020-08-07 20:21] lsm5 commented on #6426
this seems to work as expected with signal=TERM on latest master.

[2020-08-07 20:21] mheon commented on #7258
The terminal does seem to go a little haywire for me after a large copy - I'm seeing some unusual behavior trying to scroll with the arrow keys, for example. Definitely not hanging though.

[2020-08-07 20:23] mheon commented on #7258
Nevermind - I managed to reproduce. Needed a significantly larger file than what I was using.

[2020-08-07 20:23] Luap99 commented on #7258
@mheon I'm just running `bin/podman run -it busybox vi test` then go to https://podman.io and do a ctrl-a ctrl-c then paste this in.

[2020-08-07 20:23] mheon commented on #7258
`podman attach` to the container also seems hung. I'm betting this is Conmon.

[2020-08-07 20:23] wdouglascampbell commented on #7258
cool.  thanks.  was just about to respond.

[2020-08-07 20:24] wdouglascampbell commented on #7258
oh.  I didn't do ```podman attach```, I was using ```podman exec``` from the other terminal.

[2020-08-07 20:25] mheon commented on #7258
Conmon is definitely frozen - I'm stracing it, and it's hung on a `write` call (presumably to the container's stdin?)

[2020-08-07 20:26] mheon commented on #7258
Very interesting: when I ran `strace` a massive block of text popped up in the container - it seems like `strace` attaching to Conmon momentarily unblocked things?

[2020-08-07 20:29] TomSweeneyRedHat commented on #7258
@haircommander PING!

[2020-08-07 20:38] haircommander commented on #7258
I believe there's a decent amount of copying data to and from pipes with tty. it's possible there's something bigger than pipes buffering and having trouble catching up. I think moving this to the conmon repo makes sense and we can pick it up there

[2020-08-07 21:18] giuseppe commented on #7251
are you using overlay?

You may need to switch to vfs, or use fuse-overlayfs

Ubuntu supports rootless overlay, but that is not part of the vanilla kernel and it is not supported by Podman

[2020-08-07 22:29] ideepika opened #7259 "podman rm fail when using container name"
/kind bug

**Description**
Podman not able to identify that the container with specific name exists, hence removing container using name failed, while removing using container ID worked fine

[code]

[2020-08-07 23:13] ideepika opened #7260 "podman creating improperly configured containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

reproduced everytime
**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2020-08-07 23:24] TomSweeneyRedHat commented on #7260
@ideepika thanks for the issue report.  Couple of quick hits.  I'm assuming that you're running this as a rootless user?  Are you able to pull the image `jaegertracing/all-in-one:1.18`?  Does this by chance run as root?

[2020-08-07 23:31] ideepika commented on #7260
@TomSweeneyRedHat yes, no issues there, the container is not able to configure properly.

[2020-08-08 02:04] buvoli commented on #6980
@baude I just tried podman 2.0.4 and noticed that the status command is still not present when running `podman ps --format=json`. Do you know if the status field will be eventually added back or will it be remove permanently now?

[2020-08-08 03:26] Shrinibolli commented on #7251
I am using vfs

[2020-08-08 06:03] zhangguanzhang commented on #6426
I tested also can work normally

[2020-08-08 07:47] vrothberg commented on #6288
#7215 is definitely a huge improvement. Feel free to try it out on your machine.

However, yesterday I experienced something that has already been reported in this issue: seemingly random performance issues. For no apparent reason listing 510 images went up from 0.3 secs to 7 secs (with #7215) and from 6 sec to 3.5 mins with an unpatched Podman.

I suspect there's still something going on, very li

[2020-08-08 07:49] rugk commented on #7255
yeah I could, I guess. Could also use the docker location that is read by default anyway, there…

[2020-08-08 07:53] vrothberg commented on #6288
Another theory is that another service may consume disk I/O for a certain while. The performance issue on my F32 machine was only temporary and went back to normal after 15 mins (estimated) without any interference.

Maybe, F32 has some periodic disk checks running? @edsantiago do you know?

[2020-08-08 10:54] zhangguanzhang commented on #7259
Are you running this as a rootless user?

[2020-08-08 11:03] rhatdan commented on #7259
Do you have a way to repeat this?

[2020-08-08 11:13] rhatdan commented on #7260
@giuseppe fuse-overlayfs?

[2020-08-08 11:26] rhatdan commented on #6887
@goochjj Where are we on this issue now?

[2020-08-08 14:36] zhangguanzhang commented on #7241
same with you in "podman-remote wait $cid", in https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5815345191583744/html/system_test.log.html.
[code]
exitCode is 124,  so it seem be killed by something, but I test this on my local machine, it will be ok

[2020-08-08 14:53] #6426 closed

[2020-08-08 14:58] rhatdan commented on #7255
@rugk the issue is that the vast majority people use username/password for this, and storing these in an unencrypted file in your homedir, is too much of a security hole.  We have an effort to make credential helpers easier to use, and for users on Linux to make it use gnome-helper by default if it is running.

[2020-08-08 15:11] goochjj commented on #6160
@jritter Thoughts?

[2020-08-08 15:12] goochjj commented on #6887
All the vendoring was done so this is resolved AFAIK.

[2020-08-08 15:12] #6887 closed

[2020-08-08 15:17] rhatdan commented on #6884
And you are saying this used to work?
If you do this same thing with Docker what happens?

[2020-08-08 15:29] carlpett commented on #6288
I downloaded the build from the PR (https://cirrus-ci.com/task/5154042487767040), and here's the result:
[code]

So quite a bit better than 15-20 minutes, even though not as good as your sub-second timings.

I'm looking at `iotop` while running the old version, and it's pretty flat at 0 kb/s, so it doesn't seem like an obvious contention issue. I can even run the new build while the old one is pro

[2020-08-08 15:40] ideepika commented on #7259
Yes, please see issue  [containers/podman] podman creating improperly
configured containers (#7260)

Environment : f32, running rootless, no other operation other than ones
mentioned in #7260

On Sat, 8 Aug, 2020, 4:34 PM Daniel J Walsh, <notifications@github.com>
wrote:

[2020-08-08 15:51] TristanCacqueray commented on #6884
@rhatdan I can't tell for Docker, but this used to work with podman 1.x:

[code]

[2020-08-08 15:56] danopia opened #7262 "/libpod/networks/create API generates broken conflist on non-conforming Mask values"
/kind bug

**Description**

A valid request body to the create network API looks like:

[code]

Note that Mask is decoded as base64. If the Mask can decode, but isn't an expected bitmask afterwards, Podman stores an invalid conflist to disk.

Bodies that are accepted and produce an invalid conflist include:

* `{"Subnet":{"IP":"10.10.1.0","Mask":"ffffff80"}}`
* `{"Subnet":{"IP":"10.10.1.0","Mask":

[2020-08-08 18:17] dadevel commented on #6884
@rhatdan: Docker doesn't support it. A related [issue](https://github.com/moby/moby/issues/38664) was closed without really fixing the problem.

[2020-08-08 18:47] Luap99 commented on #7262
I did some debugging and found out that the problem resides in the golang net package. `net.IP` has a unmarshal method but `net.IPMask` has not. That's the reason why IP only accept a string (contrary to the podman api documetation), while Mask does not. The correct way to define the mask is `[255,255,255.0]`, like the doc states. Not sure why base64 works.

So a vaild request would be `{"Subnet":

[2020-08-08 18:48] danopia opened #7263 "Regression: /events API response headers aren't flushed until first event"
/kind bug

**Description**

In Podman 2.0.2 (and likely earlier), requests to `/v1.0.0/libpod/events` would immediately return an HTTP 200 OK response header, and then sleep waiting for the first event to happen.

Starting in Podman 2.0.3, requests to the same API seem to just "hang" without any server response, until something happens that generates an event.

This means that code that processes

[2020-08-08 18:52] danopia commented on #7262
Interesting, I tried having a byte slice in both arguments, but forgot to try a byte slice for just Mask. Good to see that works.

I tried base64 because it's how IPmask *serializes*: https://play.golang.org/p/BYbprvC-EPi which would logically mean that it's accepted when parsing as well.

[2020-08-08 18:53] mheon commented on #7263
@jwhonce PTAL

[2020-08-08 19:50] danopia commented on #7262
So, using byte arrays actually makes a little easier to see what's going on here, since the unmarshalling isn't the problem.

Here's a byte slice of the wrong length:

[code]

And a nonstandard IPMask slice produces somewhat different, and slightly less broken networks:

[code]

[2020-08-08 23:34] klDen commented on #7257
@mheon ,
After investigating further, it seems like my store.graphRoot path had the wrong permissions set.
After manually clearing out all the files in /home/USERNAME/.local/share/containers, I am now able to create pods as expected!
[code]

Thanks!

[2020-08-08 23:36] klDen commented on #7257
@mheon ,
After investigating further, it seems like my store.graphRoot path had the wrong permissions set.
After manually clearing out all the files in /home/USERNAME/.local/share/containers, I am now able to create pods as expected!
[code]

Thanks!

[2020-08-08 23:36] #7257 closed

[2020-08-09 08:51] vrothberg commented on #6288
Thanks for testing, @carlpett! That's pretty good news.

I'll run some analyses as well when I hit the issue again. I didn't expect it to disappear so quickly.

[2020-08-09 10:44] Magicloud opened #7264 "I cannot change the location of graphRoot"
/kind bug

**Description**

Per all the docs I found, including from podman.io, I should be able to change the location of Podman data via `graphRoot` setting in storage.conf. Along with `graphDriverName`.

But in my system (NixOS unstable with Podman 2.0.4). I cannot reach the goal in either root or rootless mode.

**Steps to reproduce the issue:**

1. `cat /etc/containers/storage.conf`
[code]

2

[2020-08-09 11:18] rhatdan commented on #7253
I agree, I thought we did, please open a PR to fix this.

[2020-08-09 11:24] fansari opened #7265 "static ip addresses"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I found two scenarios where I still don't know how to assign static IPs to a container:

- when the container belongs to a pod

- when the IP address is IPv6

**Steps to reproduce the issue:**

1. podman run -d --pod new:web --name nginx --ip=10.88.0.8  -p 443:443/tcp nginx

2. podman run

[2020-08-09 11:25] rhatdan commented on #7255
You do know there is an environment variable for this also.

man podman login
...
       Note: You can also override the default path of the authentication file by setting the REGISTRY_AUTH_FILE environment variable. export REGISTRY_AUTH_FILE=path

[2020-08-09 11:37] Luap99 commented on #7265
You should be able to create a pod with a static ip when you use `podman pod create --ip ...`.

[2020-08-09 11:40] zhangguanzhang commented on #7262
doc is :
[code]

[2020-08-09 11:45] #6064 closed

[2020-08-09 12:27] rugk commented on #7255
I did not, but thanks for the hint.
So is there anything to do in this issue? Otherwise, I'd close it?

[2020-08-09 12:35] max-arnold commented on #5580
I managed to compile `podman 2.1.0-dev` (libpod 3173a18f6f97ddb684230296054216b526a54f0e, conmon 5a6b2aca34915436e71cb200d6ef01844cbd66c9, runc a340fa9b561432b14c0dabcb5b53c834a15a87ce, containernetworking/plugins bd589992fbe0740418fcc7df7572bd98f4d759c0).

Below are the results I get when creating a container in both Docker and Podman.

<details><summary>Docker</summary>

[code]
</details>

<deta

[2020-08-09 12:44] rhatdan commented on #6884
Well if we supported this in podman 1.* then this is a regression.  I kind of like the idea, for when a user specifies a user.
Would we do the same thing if the user was specified in the image?  IE
USER FOOBAR
was listed in the Containerfile?

[2020-08-09 12:56] rhatdan commented on #6769
@abitrolly What is the current state of this issue?

[2020-08-09 12:57] rhatdan commented on #3932
@mheon Is this still an issue, was the documentation adjusted? @TomSweeneyRedHat PTAL

[2020-08-09 12:59] rhatdan commented on #6288
Can we close this issue now?

[2020-08-09 13:02] rhatdan commented on #7262
Can someone open a PR to improve our documentation so that this becomes easier to discover?

[2020-08-09 13:05] zhangguanzhang commented on #7262
I think docs is ok， but I will submit pr to prevent this error from happening

[2020-08-09 13:05] rhatdan commented on #7255
I will close it, but we hope to make the credential stuff better at least for people who use a Linux Desktop out of the box.

[2020-08-09 13:05] #7255 closed

[2020-08-09 13:06] rhatdan commented on #7255
One thing we could also consider would be adding this location to containers.conf, so users or admin could set it permanently to a different location.

[2020-08-09 13:07] rhatdan commented on #7252
@baude PTAL

[2020-08-09 13:10] Luap99 commented on #7262
Doc clearly states the IP has to be an unit8 array which is wrong (throws error), instead it has to be a string.

[2020-08-09 13:51] mheon commented on #7264
The first few steps look correct, but the step where you execute Podman
with changed parameters only works as rootless where the config files are
located in the removed directories. You need to make a
'/etc/containers/storage.conf' and plug in the paths and graph driver you
want for to Podman.

On Sun, Aug 9, 2020, 06:44 王世达 <notifications@github.com> wrote:

[2020-08-09 13:54] mheon commented on #7265
Static IPv6 addresses are not yet supported. It should be easy to get them
working, just a matter of adding a flag and plumbing it through to CNI, but
I haven't managed to find the time.

On Sun, Aug 9, 2020, 07:37 Luap99 <notifications@github.com> wrote:

[2020-08-09 14:02] dadevel commented on #6884
Yes, this would be the expected behavior. At least in my opinion.

[2020-08-09 14:03] vrothberg commented on #6288
I prefer to keep it open until we've resolved the random performance decrease. We're way faster now but there's still something to unpack.

[2020-08-09 14:45] Magicloud commented on #7264
@mheon Thanks for the reply. Please check step 1, which shows the /etc/containers/storage.conf with path and driver that I set before running Podman.

[2020-08-09 16:30] fansari commented on #7265
Yes - this is what I thought too. But together with pod I always end up with this error message (as mentioned above):

"Error: cannot set static IP or MAC address if not creating a network namespace: invalid argument"

[2020-08-09 16:40] fansari commented on #7265
This means currently the way IPv6 is meant to be used is with NAT (how else could I access a service if I don't know the IP it is using?). Working this way has some advantages: you can work with a single IP, you don't need to care about neighbor discovery,... Only thing which seems not "nice" to me working this way: IPv6 is not meant to be used with NAT.

[2020-08-09 16:44] Luap99 commented on #7265
If you use a pod you cannot assign ip addresses to your containers since they all use the network namespace from the pod. The containers inside the pod all share the same interface and can talk via localhost to each other.

[2020-08-09 22:40] joequant commented on #6003
I have a patch that fixes the issue, but it turns out to be quite difficult to get everything right.

Unfortunately, the solution for me is to keep using docker until someone else can figure out how to address this issue.

[2020-08-10 01:38] aplatypus opened #7268 "podman Failed to Install Ubuntu 20.04"
/kind bug

**Description**

**Steps to reproduce the issue:**

1.  Follow the instruction from the installation page on podman.io
     * https://podman.io/getting-started/installation

2.  use `apt install` command:

[code]

3.  Double checking ...

[code]
   *  Something to note, the label: "conmon/" above.
   * Is that a typo in the configuration?  That line is pasted directly from the termina.

[2020-08-10 02:55] Magicloud commented on #7264
I was confused that "debug" command did not show extra info. Seems like the template should be updated.

[code]

[2020-08-10 02:59] mheon commented on #7264
`DEBU[0000] Using graph driver                           `

Well that seems to be a problem - it's read in an empty graph driver from somewhere.

Can you provide your `/etc/containers/storage.conf`?

[2020-08-10 03:00] Magicloud commented on #7264
@mheon Here it is.

[code]

[2020-08-10 03:06] aplatypus commented on #7268
/update

I believe the problem lies behind the keyboard.  However the documentation for Ubuntu on the install page seems to omit a key step.

* https://podman.io/getting-started/installation#Ubuntu

Therein it has:
[code]
Which wasn't working for me until I did an `apt upgrade` then I was able to install `podman`

[code]

Personally I really don't want "quiet" when I'm loading new untried packages

[2020-08-10 03:06] #7268 closed

[2020-08-10 03:11] mheon commented on #7268
Would you mind making a PR to update the install page with this? It lives at https://github.com/containers/podman.io/blob/master/getting-started/installation.md

[2020-08-10 06:36] vrothberg commented on #7136
Yes, a server-side cache could be quite helpful.

[2020-08-10 07:28] jskovjyskebankdk commented on #6667
I can make builds now (using Buildah).

But we only have NFS-based storage which makes it really hard to get performant builds (because VFS cannot use NFS).

So I am still very much hoping that there will be some way in the future to make use of /dev/fuse.

[2020-08-10 08:03] abitrolly commented on #6769
@rhatdan I guess nobody is writing the docs.

[2020-08-10 09:27] dzerhusen commented on #7242
The problem is fixed for me. So im closing the issue for now.

[2020-08-10 09:27] #7242 closed

[2020-08-10 09:43] jritter commented on #6160
Thanks, this looks promising, I'll give this a shot once this new functionality has been released, 2.0.4 doesn't contain it yet as far as I can tell.

Well, running checks on the dependent service also occurred to me, and that's more or less how I do it at the moment. The goal behind this RFE is to be able to model these dependencies without having knowledge of services that another service depend

[2020-08-10 10:04] jritter commented on #6160
Tying the states of the health check (see `podman inspect <container-name>`) with the systemd orchestration is what my original thought was. The 'ops' part in case of a unhealthy container could be done with the systemd watchdog functionality (i.e. the periodically triggered healthcheck would send a sdnotify keepalive if the health check finds the container to be healthy). Systemd allows to config

[2020-08-10 10:26] penberg commented on #7086
FYI, I hit the same issue, and can confirm that upgrading to `podman` 2.0.4 fixes the problem.

[2020-08-10 11:04] burhan commented on #3136
@TomSweeneyRedHat This is the project, the docker file is available at their repo: https://github.com/getsentry/onpremise

[2020-08-10 13:03] jtligon opened #7271 "generate systemd invalid memory address panic"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've managed to get a container up and running with a device passed in. Now I'm trying to generate a systemd unit so thiat it will start the container when I power cycle to box. running `podman generate systemd ...` gives me the error pasted below.

**Steps to reproduce the issue:**

1. Start

[2020-08-10 13:07] vrothberg commented on #7271
Thanks for opening the issue, @jtligon! I'll wrap up a fix.

[2020-08-10 13:16] vrothberg commented on #7271
@jtligon, to unblock your work: use "always" instead of "restart-always".

[2020-08-10 13:18] jtligon commented on #7271
looks great!
tyvm sir!

`/home/jligon/container-2193796636fdba68b7c869be05ae35bb3bb47f92ac2b1b2193424aa9f705dd23.service`

panic still needs cleaning up, i assume.

[2020-08-10 13:21] vrothberg commented on #7271
Awesome!

Here's a PR to fix the issue: https://github.com/containers/podman/pull/7272/files

[2020-08-10 13:21] rhatdan commented on #6003
@baude PTAL

[2020-08-10 13:39] rhatdan commented on #6769
@TomSweeneyRedHat Can you take care of this?

[2020-08-10 13:57] drewbailey commented on #6866
@baude sorry, I should have been more specific. I don't think many users would care if the package lived in containers/podman as a submodule or some other repository.  But, in it's current form, I don't think that `pkg/bindings` is suitable for community use. Since it is currently not isolated from the rest of the podman project, community projects will need to specify the entirety of the podman p

[2020-08-10 14:10] #7086 closed

[2020-08-10 14:19] edsantiago opened #7273 "podman --help: spurious "Usage of remote" in stderr"
[code]
The "Usage of remote" is jarring and unnecessary. It also goes to `stderr`, not stdout. `git bisect` blames 98da2fa80657fecb6b083eaf68974d2ee2f84e6a. @jwhonce PTAL

[2020-08-10 14:29] yangm97 commented on #7157
Guess I'm going to close this as misconfiguration from my side, but feel free to reopen in case you guys need it.

[2020-08-10 14:36] mheon commented on #7264
The format there does not seem correct - `storage.conf` is TOML, and you're missing section headers.

I recommend using https://github.com/containers/storage/blob/master/storage.conf as a base and editing it to your desired configuration.

[2020-08-10 14:43] Magicloud commented on #7264
@mheon That was my concern as well since the file does not look like the others. Thanks. Let me try.

[2020-08-10 14:47] Magicloud commented on #7264
Seems working. Thanks.

[2020-08-10 14:47] #7264 closed

[2020-08-10 16:50] jwhonce opened #7276 "Add --connection flag"
Add `--connection <name>` flag allowing the user to pick the connection to use from `containers.conf`.  Giving a non-existing connection will cause a failure.

This will override the default connection in the user's and system's `containers.conf`. It will not override the CONTAINER_* environment variables for building a connection.

New resolution precedence:

- env `CONTAINER_HOST` / `CONTAINER_S

[2020-08-10 16:50] #7271 closed

[2020-08-10 16:51] jwhonce commented on #7276
@rhatdan and @baude PTAL re: Any additional requirements?

[2020-08-10 16:54] rhatdan commented on #6866
I think it would be better for us to fix this exact  behaviour then to break it out.  A lot easier for us in the long run.

[2020-08-10 16:59] #7214 closed

[2020-08-10 17:30] mheon commented on #6866
We probably need to audit the imports of `pkg/bindings` and figure out what we're dragging in... It could be we're using a random structure out of Kubernetes or CNI and dragging in massive packages from those two as a result.

[2020-08-10 17:55] j00bar opened #7278 "Cannot run any podman commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot run any podman commands.

**Steps to reproduce the issue:**

1. Run `podman` with or without subcommands, with or without arguments.

**Describe the results you received:**

[code]

**Describe the results you expected:**
Anything at all.

**Output of `podman version`:**

[code]

**Outp

[2020-08-10 18:04] langdon opened #7279 "RFE: rootless containers running on remote storage"
/kind feature

**Description**

I mount my "work" directory from another computer on my network via sshfs or NFS and often want to run a container mounting the content of those directories inside the container. Unfortunately, if I use the ":z" flag on the volume mount, selinux is unable to relabel the content correctly.

In case it helps with coming up with ideas for a solution, this is the actual

[2020-08-10 18:16] edsantiago commented on #7116
@baude I'm totally fine with podman-remote not accepting this usage; I just think the error message may not be helpful to users. Loath as I am to suggest this, could the remote client be hacked to intercept the message and make it palatable? Maybe add a suggestion like "You need to `podman load %s` first"?

[2020-08-10 18:27] TomSweeneyRedHat commented on #3932
Still on the list

[2020-08-10 18:35] lsm5 opened #7280 "btrfs + rawhide: make validate failure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
make validate fails on fedora with btrfs.

**Steps to reproduce the issue:**

1. build podman master branch on fedora rawhide with btrfs

2. `make validate`

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g.

[2020-08-10 18:37] lsm5 commented on #7280
seems like another golangci-lint version issue on my side.

[2020-08-10 18:44] ParkerVR commented on #6721
If you check my PR, this is technically a feature rather than a bug- I fixed the error messages. I'll look into getting it working soon!

[2020-08-10 19:18] edsantiago opened #7284 "docs.podman.io : missing man page links"
The following podman subcommands have no link entries in `docs/source/*.rst`:
[code]

[2020-08-10 19:28] danopia commented on #7262
There's a handful of angles related to this ticket... nice and convoluted 😄

The docs for both Range and Subnet (two different `/networks/create` fields) are seemingly from the raw godoc of net.IPNet:

Note that both fields claim to accept the same data type.

In reality, the podman API demands these types:

* IP: String form of an IP Address (e.g. `"10.1.0.0"`)
* Mask: JSON array of integers in t

[2020-08-10 19:31] mheon commented on #7262
Ideally these would both be strings, but that would also technically be a breaking API change.

At this point, I think we add validation to subnet to ensure it is valid, update the documentation to indicate the correct types, and change both to a string next time we make a breaking change to the API.

[2020-08-10 20:04] mheon commented on #7278
Appears that you're running rootless. Can you check if you have a `~/.config/containers/libpod.conf` or `~/.config.containers/containers.conf` and provide the contents of each if you do?

[2020-08-10 20:09] IMetZach opened #7285 "systemd unit with --new fails to control or update the container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
1. Deploy my container as root:
[code]
2. Generate a systemd unit file:
[code]
3. Start the container.
4. Notice the failure to start
[code]
5. Check the output of the journal:
[code]
6. Attempt to use the auto-update feature of podman:
[code]

**Describe the

[2020-08-10 20:21] #7127 closed

[2020-08-10 20:23] #7123 closed

[2020-08-10 20:29] #7115 closed

[2020-08-10 20:43] edsantiago commented on #7195
I have a hunch, with zero supporting evidence, that [this is another instance](https://api.cirrus-ci.com/v1/task/5132158488543232/logs/system_test.log):
[code]
If my hunch is correct, the common factor might be multiple `podman run` commands in quick succession. After a while the server gets tired and cranky, refusing to return any more stdout until it gets a nap.

[2020-08-11 03:58] max-arnold commented on #5580
@zhangguanzhang The `args must not be empty` error seems to be fixed!

[2020-08-11 04:16] Shrinibolli commented on #7251
Any solution or suggestion on this issue ?

[2020-08-11 05:41] zhangguanzhang commented on #5580
@max-arnold  I will take a look at the `Networks`

[2020-08-11 07:10] giuseppe commented on #6734
if reverting (#6569) solves your issue, you can force a new scope wrapping podman with `systemd-run` as `systemd-run --user --scope podman ...`.

[2020-08-11 07:53] giuseppe commented on #7061
have you used pods?  I think https://github.com/containers/podman/pull/7283 could help to clean up leaked mounts

[2020-08-11 08:07] vrothberg commented on #7285
Thanks for opening the issue! Let's figure out why the generated unit fails. Auto-update won't work when the container wasn't started by systemd.

Could you regenerate the unit with ` --restart-policy=no` and share the logs? We need to get the Podman logs to see why it has failed. They're currently masked by "Start request repeated too quickly."

[2020-08-11 08:22] #6980 closed

[2020-08-11 09:24] tiran opened #7287 "--systemd=true auto-detection should consider /usr/local/sbin/init"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

``podman run`` defaults to ``--systemd=true``. With ``--systemd=true`` podman checks whether the command is either ``/sbin/init``, ``/usr/sbin/init``, or ``systemd``. https://github.com/containers/podman/blob/a90ae00df1c2be0f3d46d4e7cd292599c93ded0f/pkg/specgen/generate/container_create.go#L1

[2020-08-11 10:02] lsm5 commented on #7280
seems like another golangci-lint version issue on my side.

[2020-08-11 10:02] #7280 closed

[2020-08-11 10:02] lsm5 commented on #7280
make validate seems to work fine now.

[2020-08-11 10:11] giuseppe commented on #7260
I've used the same command and it works fine here.  Can you please share the output when you run with `--log-level debug`?

[2020-08-11 10:44] rhatdan commented on #7251
We really have no idea.
You are running as root and with vfs storage and getting permission denied while trying to commit.

Of course you are using podman 2.0 on Centos 7, which is not something we really support.  Any chance you could try this on Centos 8 or RHEL8?

[2020-08-11 10:48] rhatdan commented on #7251
Ok, I just went back and read the beginning, you are running podman within a container, on a Centos 7 host?

Is the container fully privileged?

[2020-08-11 11:19] #7253 closed

[2020-08-11 12:22] Jamstah commented on #6721
I may have been a little cheeky marking as a bug, but I was working under the assumption that docker compatibility was supposed to have been achieved, and therefore things that work in docker but not podman are bugs.

Thanks for taking a look, feel free to change to feature :)

[2020-08-11 13:42] srd424 commented on #5721
FWIW, just seen this when the overlay module was unavailable in a VM. Installing it and modprobing it didn't help until I removed `/var/run/containers/storage/overlay/overlay-false` ..

[2020-08-11 13:43] srd424 commented on #1516
FWIW, just seen this when the overlay module was unavailable in a VM. Installing it and modprobing it didn't help until I removed /var/run/containers/storage/overlay/overlay-false .. presumably why @simpleauthority needed a reboot..

[2020-08-11 13:48] mheon commented on #1516
Oh, that's right, we added caching for that check... Should probably add documentation for that somewhere

[2020-08-11 13:59] vrothberg commented on #6866
Based on the error it looks like pkg/bindings is importing c/storage and c/image. Those will be pulled wherever the package is, so we need to prune the dependencies and add checks to the CI to prevent them from being pulled back.

[2020-08-11 14:16] edsantiago commented on #7284
Fixed by #7266

[2020-08-11 14:16] #7284 closed

[2020-08-11 14:37] IMetZach commented on #7285
Here is the output after it fails with the ```--restart-policy=no``` added to it:

[code]

I noticed the part ```Error: repository name must be lowercase``` so I inspected the container and here is the create command:
[code]
I'm wondering if having the arguments in caps are throwing it off.

[2020-08-11 14:49] IMetZach commented on #7285
Ok. I tried redeploying the container with all lower case arguments using the following command:
[code]

It failed and when I went digging through the journals I discovered this error over and over:
[code]
It appears that it is reading the ```york``` in "New York" as the name of the image and not the final argument.

[2020-08-11 15:50] danopia opened #7294 "Containers started using socket-activated APIv2 die from systemd activation timeout"
/kind bug

**Description**

When creating and starting containers specifically via the `/run/podman/podman.sock` endpoint, the containers are stopped when `podman.service` gets shut down due to socket activation timeout. This manifests as containers stopping 10s after the last APIv2 request is made. The shutdown is clean; `podman ps -a` shows exit code 0 for them.

Opening an APIv2 events stream o

[2020-08-11 15:58] IMetZach commented on #7285
I making it all lowercase and removing the argument ```-e tz="america/new york"``` the auto-upgrade works fine.

[2020-08-11 16:19] fansari commented on #7265
Yes I saw that they use the same address and the same hostname. But even if they share the same IP - why can't I specify which IP this is? I mean a static IP for the pod. Is this possible?

[2020-08-11 16:34] mheon commented on #7294
@baude @jwhonce @vrothberg  PTAL

I don't think we've seen this elsewhere in our testing, which is making me think this is Debian-specific. Does this happen as rootless, root, or both?

Suspicion: `systemd` is blowing away all containers when it throttles down due to KillMode on the unit file. I'd expect that moving the containers out of the unit's cgroup would fix this for root containers, but I

[2020-08-11 16:42] jwhonce commented on #7294
@mheon I have not seen this on fedora or rhel using systemd.

[2020-08-11 17:09] danopia commented on #7294
I'd believe that this is debian specific. I have not had a chance to try rootless yet, will see if I can get a repro.

I just tried adding `KillMode=process` to the podman units but it didn't seem to change anything. Not sure if I applied it right. I'm not too handy with systemd.

Separately, I noticed that systemd is not too happy about the podman shutdown in general. Here's several `systemctl st

[2020-08-11 17:16] pothos commented on #4056
This is working now, very exciting:

[code]

Even multiple Matryoshka layers, in the spirit of subhurds from GNU Hurd :smile:

[code]

[2020-08-11 17:22] Luap99 commented on #7265
As stated before. All containers insides this pod will be reachable with the pod ip.

[2020-08-11 17:25] mheon commented on #7265
This is possible, but you need to specify the static IP for the pod at time of creating the pod.

[2020-08-11 17:26] mheon commented on #7294
Can you try `KillMode=none` instead?

[2020-08-11 17:32] #7287 closed

[2020-08-11 17:32] mheon commented on #6721
Generally speaking, we do consider Docker compatibility issues bugs (aside from a few places where we've deliberately decided to be somewhat different, e.g. no `--link` support).

[2020-08-11 17:38] danopia commented on #7294
Ah crap, I patched the user unit instead of the system unit.

Adding `KillMode=process` to `/lib/systemd/system/podman.service` is a successful workaround in my docker repro.

Seems like nothing unintentional leaked?

[code]

systemd noted what leaked, too:

[code]

Do we have an explanation for why this would be debian specific? I do not see KillMode in [podman.service](https://github.com/contain

[2020-08-11 17:40] mheon commented on #7294
This was a quite recent change - @vrothberg PTAL, I think your KillMode change may have broken things.

[2020-08-11 19:38] domo141 opened #7297 "podman unshare -- podman mount ;: does not work"
BUG REPORT

/kind bug

**Description**

podman unshare - podman mount ;: fails with

Error: cannot run command "podman mount" in rootless mode

**Steps to reproduce the issue:**

1. execute podman unshare -- podman mount

**Describe the results you received:**

Error: cannot run command "podman mount" in rootless mode
Error: exit status 125

**Describe the results you expected:**

List all of the

[2020-08-11 19:40] mheon commented on #7297
@rhatdan PTAL - pretty sure you're the last one who touched this

[2020-08-11 20:16] adambkaplan opened #7298 "Digest does not match error when pulling image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Pulling the Fedora 32 toolbox image fails with:

[code]

**Steps to reproduce the issue:**

1. podman pull registry.fedoraproject.org/f32/fedora-toolbox:32

**Describe the results you received:**

[code]

Verbose pull here: https://paste.centos.org/view/faa7dcdc

**Describe the results you ex

[2020-08-11 20:17] rhatdan commented on #7260
[code]

Also works for me

[2020-08-11 20:18] rhatdan commented on #6867
@skorhone Is this still an issue?

[2020-08-11 20:21] rhatdan commented on #7276
This is the requirement we want.

[2020-08-11 20:23] mheon commented on #7298
@mtrmac PTAL. This reproduces on my machine. I suspect the registry is serving a malformed blob, but presumably Docker does similar validation to what we do and it succeeds.

[2020-08-11 20:25] #7122 closed

[2020-08-11 20:25] mheon commented on #7298
Pulling https://registry.fedoraproject.org/v2/f32/fedora-toolbox/blobs/sha256:03c837e31708e15035b6c6f9a7a4b78b64f6bc10e6daec01684c077655becf95 down does give me a file with a SHA256 of 03c837e31708e15035b6c6f9a7a4b78b64f6bc10e6daec01684c077655becf95 so the registry seems sane. Not sure what's going on here.

[2020-08-11 20:30] rhatdan commented on #7279
What happens without the :z, does it work or does SELinux block it?  If SELinux blocks access what AVC's are generated?

[2020-08-11 20:40] mtrmac commented on #7298
e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855 is a sha256sum of an empty file; is it possible it was a transient error? Right now, `skopeo --override-os linux --insecure-policy copy --debug 'docker://registry.fedoraproject.org/f32/fedora-toolbox:32' dir:t` works for me.

@mheon Does Skopeo ^^^ work for you?

[2020-08-11 20:51] mheon commented on #7298
@mtrmac No - fails on two separate machines, one on the RH VPN and one not.

Seems likely that this is registry trouble given what we're seeing here, though. `wget` retrieves the correct blob, but Skopeo (and anything else using c/image) does not.

[2020-08-11 20:55] mtrmac commented on #7298
Or maybe a Go version difference? For me, both HEAD Skopeo with `go version go1.13.10 darwin/amd64` and a very old Skopeo build with `go version go1.10.8 linux/amd64` works.

[2020-08-11 21:02] mheon commented on #7298
@mtrmac I'm talking with the Fedora admins now, and it sounds like the path we're being handed by the registry is a redirect - any chance we don't handle that properly?

[2020-08-11 21:03] mheon commented on #7298
From `wget`:
[code]

[2020-08-11 21:06] mtrmac commented on #7298
There’s a known behavior difference from Docker (~by definition a bug) in handling _credentials_ when following redirects, but redirects should be followed in principle.

[2020-08-11 21:12] mheon commented on #7298
@mtrmac Tracing further, it appears that the Fedora CDN may have cached bad values for certain files - likely explains the difference in the results we were seeing as we were hitting different CDN nodes. Talking with the Fedora admins to have the cache invalidated now.

[2020-08-11 21:13] langdon commented on #7279
Ummm. It just works. Is this a change at some point? I never used to be able to access local files inside the container with ":z".

[2020-08-11 21:34] langdon commented on #7279
Awesomely, it just works.

However, i had no idea that the label on the file would effect this. Or, put a different way, i didn't know some labels were exempt from the enforcing policy on the container. In short, if you have files labeled: `fusefs_t` or `nfs_t` -- don't use ":z" and you can access the files on the host. However, if you have other labels (e.g. `user_home_t`) you do need the ":z" so

[2020-08-11 21:41] rhatdan commented on #5721
I guess this would be nice to put in a debug message.

[2020-08-11 21:46] TomSweeneyRedHat opened #7300 "RFE: anchors in docs.podman.io's man pages would be nice to have"
I'm not sure it is possible, or easily doable, but it would be nice to have anchors on the man pages that are shown in docs.podman.io.  For instance, I was reviewing @ashley-cui 's blog on timezones and I wanted to link to the tz option there, with something like: `http://docs.podman.io/en/latest/markdown/podman-run.1.html#--tz` but I could not.  I had to use a link to the top of the page, and it'

[2020-08-11 21:58] ashley-cui commented on #7300
It looks like you can link headers but not content inside the headers, which is seems to be a markdown standard? Otherwise, you can definitely do them, I know regular HTML anchors work on markdown, but you would need to create an anchor for each flag which may be super annoying. Might be a better way, but this is as much as I know now :)

[2020-08-11 23:04] mheon commented on #7298
Going to close this - cache invalidation seems to have resolved matters.

[2020-08-11 23:04] #7298 closed

[2020-08-12 00:59] true-eye opened #7301 "Error: Get ../podman.sock: connect: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I installed podman on my macOS (High Sierra 10.13.6) using homebrew.
[code]

And it says that the podman was successfully installed!
[code]

But after I enter podman on the terminal, it gives me the following error
[code]

**Steps to reproduce the issue:**

1. brew cask install podman

2. podm

[2020-08-12 01:15] yangm97 commented on #5403
I think it's important to note the default configs (using the ubuntu package here) are a bit conflicting.

There's no IPv6 config on a "stock" `/etc/cni/net.d/87-podman-bridge.conflist` yet containers are created with an ipv6 link local address for me.

So in order to avoid issues like this, if podman ships with IPv6 disabled it shouldn't be creating those IPv6s, but if it is supposed to be enable

[2020-08-12 02:15] mheon commented on #5403
We've gone through this before, and came to the conclusion that there is no way of enabling IPv6 by default in the config. We'd need users to provide a routable IPv6 subnet for us to use internally, since NAT for v6 is strongly frowned upon - so we can't ship a default config that works everywhere.

At the same time, we have no easy way or disabling link-local addresses. CNI doesn't really expose

[2020-08-12 05:03] Shrinibolli commented on #7251
Yes the container is fully privileged. I am using privileged security context.
My container base image is Ubuntu 18.04
  distribution:
    distribution: ubuntu
    version: "18.04"
os: linux

[2020-08-12 05:44] domo141 commented on #7297
FYI: Extracted podman from

https://rpmfind.net/linux/centos/8-stream/AppStream/x86_64/os/Packages/podman-2.0.0-0.9.rc7.module_el8.3.0+432+2e9cbcd8.x86_64.rpm

and executed podman unshare -- usr/bin/podman mount

-- that particular execution worked.

[2020-08-12 06:14] afbjorklund commented on #7301
After installing podman (-remote) on your Mac, you need to set up the environment to point to your Linux server (with podman)

Unfortunately there is no documentation for v2 yet, but something like:
`export CONTAINER_HOST=ssh://root@linuxhost/run/podman/podman.sock`

The documentation progress is here: #6830

[2020-08-12 06:23] afbjorklund commented on #7301
I'm not really sure what Mac uses to administer* the built-in virtualization, but a VM with Fedora should be enough for podman...

\* Previously we used VirtualBox, but that has been deprecated. Other commercial alternatives include VMware and Parallels.

[2020-08-12 06:30] afbjorklund commented on #4511
What I meant was that I don't actually think that it is the _client_ that is the problem (as long as ignoring signing), it is the _server_.

[2020-08-12 07:57] vrothberg commented on #7294
We changed to using the default killmode (i.e., cgroups) because of https://github.com/containers/podman/issues/7021 (Cc @martinpitt).

FWIW, I can reproduce on Fedora as well. The problem I think we're having is that conmons and containers are in a sub-cgroup and are hence killed when the service stops.

@mheon @baude, I guess that's something we need to fix before 2.0.5.

I suspect that https://

[2020-08-12 08:08] giuseppe commented on #7294
If we specify `KillMode=process` then conmon will be targetted then it is a race between conmon being KILLed if it doesn't terminate before the container does.  Instead with `KillMode=cgroup` all the processes inside of the container get the signal (do we even honor the SIGNAL configuration in this case)?

IMO we should use `KillMode=none` and let podman manage how to kill the container.

[2020-08-12 09:16] aojea opened #7302 "Podman vs Docker networking: IPv4, IPv6 and Dual Stack"
/kind bug
/kind feature

**Description**

I do not think that podman and docker network will behave similar, simple because this is a long history between containers networking, CNM/libnetwork vs CNI https://kubernetes.io/blog/2016/01/why-kubernetes-doesnt-use-libnetwork/

Docker network ALWAYS use IPv4, if you enable IPv6 then it creates dual-stack networks..

[code]

With `podman network` you ca

[2020-08-12 09:34] jmvalenciz opened #7303 "Unable to access to a container from other container on the same network"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

I'm trying to run `MariaDB` and `PhpMyAdmin` on the same network and when I try to access my database from phpmyadmin, it doesn't reach the mariadb server.

**Steps to reproduce the issue:**

1. Create a new network
[code]

2. Run MariaDB:
[code]

3. Run PhpMyAdmin:
[code]

4. Go to `localhost:81` using a web browser

5. Try

[2020-08-12 09:45] Magicloud opened #7304 "Services is not accessible outside of the host."
/kind bug

**Description**

I have tried with my samba service and docker.io/magicloud/httpd image. All images and confs worked well with Docker. With the same CLI parameters but `podman`, the containers were created correctly, programs ran correctly, ports were listened correctly (in containers and host). But the services were only accessible from with the host (host itself, another container, a

[2020-08-12 11:54] cevich commented on #4511
I'm still confused.  I thought this issue was about package-signing, in which case we need to sign all the packages that would be installed.  Last I checked, only the client is able to be installed on Mac and windows.

[2020-08-12 11:54] burhan opened #7305 "file limits not being honored?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Struggling to get a simple pod (rootless) and running into all kinds of problems that I am solving one by one. The latest one that has me stumped is I am running into a too many open files panic, where my hard and soft limits are `65535`.

The error is also a bit weird, but I understand why i

[2020-08-12 12:33] yangm97 commented on #5403
There's also a point to be made that many people got used to the eggshell security v4 NAT provides their containers with so globally addressable v6 containers would open up some passwordless redis instances to the internet... yeah, I feel it.

But on the other hand, as much as I hate to say it, once v4 internet comes to an end, there's no other possible default configuration which doesn't include

[2020-08-12 13:30] mheon commented on #7294
Implementing sd-notify for `podman system service` would seem to make sense, given it's expected to run systemd socket-activated and (as rootless) fork to join the userns.

[2020-08-12 13:39] mheon commented on #7305
Podman v1.6.4 is getting very long in the tooth - can you try with a more recent version and see if things are working there? We've done quite a bit with limits in the v2.0 releases.

[2020-08-12 13:51] burhan commented on #7305
How do I upgrade? I don't see anything when I check for upgrades on RHEL 7.9 (unfortunately can't upgrade to RHEL 8).

[code]

[2020-08-12 13:54] mheon commented on #7304
Podman deliberately does not create firewall rules to allow traffic to ports - you'll need to add a rule to allow traffic on port 80 to the host. Podman will forward it to the container from there.

[2020-08-12 13:57] mheon commented on #7303
Do you have the `dnsname` CNI plugin installed?

[2020-08-12 14:00] mheon commented on #7305
You can install the latest versions for RHEL/Cent 7 from OBS here: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

Note that these are not officially supported on the RHEL side. Cent/RHEL 7 official packages are not receiving further rebases of Podman and will only get security-related fixes.

[2020-08-12 14:26] rhatdan commented on #7305
Translation, time to upgrade to RHEL8/Centos 8 if you want to use newer stuff.

[2020-08-12 14:27] bbodiya-akamai commented on #4056
This is excellent!  I was also able to confirm that this works with docker when the host kernel supports deferred deletion.  I did need to add SYS_RESOURCE in addition to SYS_ADMIN though.  Otherwise I got a setrlimit error like Florian above.
[code]
And of course for completeness:
[code]

[2020-08-12 14:55] baude commented on #7301
I'm currently writing a blog on this but here is the short version.l  You will need a linux server somewhere running sshd.  Using an ssh key right now is required, but there is a PR upstream to fix this.

On the server:
1. make sure sshd is running
2. (assumming rootless) systemctl --user start podman

On the client.
1. podman system connection add foobar --identity <path/to/key> ssh://user@host/r

[2020-08-12 14:57] mouri11 opened #7307 "Unable to install podman in Ubuntu 18.04"
**BUG REPORT**

/kind bug

**Description**

Unable to install podman by following instructions on the podman.io site.

**Steps to reproduce the issue:**

Steps mentioned [here](https://podman.io/getting-started/installation.html).

**Describe the results you received:**

[code]

**Describe the results you expected:**

Podman installed in my system.

**Additional information you deem important (e.g

[2020-08-12 15:05] Magicloud commented on #7304
@mheon Is there a way to let Podman to do it?

[2020-08-12 15:07] mheon commented on #7304
Not at present.

[2020-08-12 15:20] skorhone commented on #6867
@rhatdan Haven't checked recently. I was away on 4week vacation, so I have few things that I need to sort out at work before I can get back on this.

I'd assume that it will still fail, if API used for pulling images has not changed. Pull implementation should hijack connection and post status on progress. Last time I checked, podman's API returned immediately and didn't report progress

Once that

[2020-08-12 15:34] rhatdan commented on #7294
Lets attempt the sd-notify.

[2020-08-12 15:47] Magicloud commented on #7304
I see. Thanks.

[2020-08-12 15:47] #7304 closed

[2020-08-12 16:11] jmvalenciz commented on #7303
Hi, I installed `dnsname` and `dnsmasq` and it works perfectly. Thanks :+1:

[2020-08-12 16:11] #7303 closed

[2020-08-12 16:55] fansari commented on #7265
OK. This works. I just ran a test.

[2020-08-12 16:59] #7022 closed

[2020-08-12 17:28] ziXet opened #7309 "Is there any way to override the storage.conf options?"
I would like to run some podman commands with different options in the storage.conf.

Without this option I need to use "sed" to comment and uncomment specific lines in the storage.conf before and after running my special podman command which is not ideal with multiprocessing.

I'd prefer to run something like this:
`podman image pull --storage storage.options.additionalimagestores=["/storage"]`

[2020-08-12 19:08] giuseppe commented on #7309
podman --storage-opt...?  Is that what you would like to use?

[2020-08-12 19:29] ziXet commented on #7309
Thanks for the response.
I would like to override the value of additionalimagestores in the storage.conf. I think --storage-opt is for overriding "storage driver options".

Please correct me if I'm wrong

[2020-08-12 20:24] giuseppe commented on #7309
I think you are right.  I don't see a way to change the additionalimagestores using `--storage-opt`.

Anyway, I think that allowing a different additionalimagestores per container could cause some issues.  For example how would we find the image referred by the container if the stores can change?  We would need to store the configuration per each container

[2020-08-12 20:41] pothos commented on #4131
According to https://github.com/containers/podman/issues/4056#issuecomment-672905203 this works now without `--privileged` but only `--cap-add SYS_ADMIN --cap-add SYS_RESOURCE` (and turning off seccomp and selinux).

[2020-08-12 21:26] #7017 closed

[2020-08-13 06:29] johanbrandhorst commented on #4131
Is it possible to add these capabilities to a CircleCI/GitHub actions container?

[2020-08-13 09:42] tisc0 commented on #6982
Seems I still have the problem with `podman-2.0.4-1.fc31.x86_64`

[2020-08-13 10:40] #6401 closed

[2020-08-13 10:42] rhatdan commented on #6947
I don't see us fixing this until Maven updates to a newer version of the Docker API.

[2020-08-13 10:42] #6947 closed

[2020-08-13 12:55] shawnweeks commented on #5403
Out of curiosity how is Docker disabling the IPv6 interface inside of the containers, I thought it used similar Linux features? My base issue was that podman presented an ipv6 interface inside of the container that Wildfly couldn't bind to and it sounds like podman doesn't even enable IPv6 by default so the interface shouldn't even show up.

[2020-08-13 13:11] bhanukumar22 commented on #7007
Able to resolve this by using network=host. By default bridge was getting selected and connectivity issue was there with podman 1.6.4. As a work around, have used host network.

[2020-08-13 13:11] #7007 closed

[2020-08-13 13:19] mheon commented on #5403
It's definitely a kernel feature that's available to them (because they wrote their own networking library) but not so much to us (because we're using an existing one, CNI). We could, of course, attempt to add this to CNI and contribute that change upstream, but we haven't had much luck in that area before.

[2020-08-13 13:43] ziXet commented on #7309
My use case is a bit special. I would like to pull the images to the additional storage using:
`podman image pull myimage:v1 --root /storage`
If I run this command while I have `additionalstorage=['/storage']` in my storage.conf, I get this error:
`Error: lock "/storage/overlay-images/images.lock" is not a read-only lock`
To solve this issue, I need to set the `additionalstorage=[]` or comment it

[2020-08-13 14:10] c-goes commented on #4056
@pothos Indeed it's very exciting, still it's "just" rootful Podman inside rootless Podman, not what the issue asked for.

[2020-08-13 15:04] barnscott opened #7313 "Podman run errors after fresh install"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Using podman on arm (pinebook pro) and fedora. Podman fails to launch any new containers. I initially thought issue may be uid related, but im not sure what is the correct method to edit the uid map. When i try to edit the podman-unshare uid/gid maps, I get sync errors. However, I get podman-ru

[2020-08-13 15:46] barnscott commented on #7313
As metioned in [#4921](https://github.com/containers/podman/issues/4921#issuecomment-579744679), I reinstalled shadow-utils which eliminated previous errors, no idea why though.

But i now see a different error regarding container persistence which appears at the end of each run output:
[code]

[2020-08-13 16:31] rhatdan commented on #7309
I am working on a better fix for this, but this will work.

podman image pull myimage:v1 --storage-opt=overlay2.mountopt=nodev --root /storage

[2020-08-13 16:46] ziXet commented on #7309
Thanks Dan! it actually worked!

[2020-08-13 17:22] edsantiago commented on #7294
The killing of `pause` is one symptom of this bug; here is another reproducer I found with much worse symptoms:
[code]
Translation:
* `podman system service` does die, as reported
* the podman container *does not* necessarily die - I think there is something special about `pause`, perhaps in its signal handling, that causes it to exit.
* once `podman system service` dies, *no more podman-remote*.

[2020-08-13 17:43] mheon commented on #7313
Can you try running `podman system migrate`

[2020-08-13 18:00] rhatdan commented on #4056
Yes running rootless podman inside of rootfull podman is definitely possible, and most likely more security then rootfull podman inside of rootfull podman

Rootless podman inside of rootless podman, would be very difficult to make work,because of the multiple user namespaces.

[2020-08-13 18:01] edsantiago commented on #7195
Here's a sort of reproducer:
[code]
I say "sort of" because I haven't before seen the "container state improper" error message. But the symptom sure is the same: I expected output, got empty string.

This is podman @ master with #7312 applied, running server on the systemd socket. I can test on master itself if necessary.

[2020-08-13 18:54] edsantiago commented on #7195
Wow! I was going to add a `sleep 1` to the BATS tests, in hopes of minimizing the flake, because it's hitting almost every CI run... but that made it *worse*, and gave me an even better reproducer:
[code]
Note that this one easily reproduces the `read unixpacket` error. HTH.

[2020-08-13 19:32] barnscott commented on #7313
No changes after running `$ podman system migrate`. Still see run.PersistentPostRunE

[2020-08-13 19:32] edsantiago commented on #7228
See https://github.com/containers/podman/issues/7195#issuecomment-673651534 for a reproducer.

I'm still not convinced that this is the same as #7195: #7195 is "no output received, and sometimes there are other errors". This one is "read unixpacket error". The above reproducer triggers this error _sometimes_, but not reliably. Right now #7195 is the higher priority; until that one is understood, I

[2020-08-13 19:35] mheon commented on #7313
Are you sure that message is an error? It looks like normal debug logging from my end.

[2020-08-13 19:47] barnscott commented on #7313
you are right! it is working!
i had wrongly assumed it was not working because toolbox was still failing, however, upon a second look, i see toolbox is failing because there is not an arm toolbox image in the repo
Thanks!

[2020-08-13 19:47] #7313 closed

[2020-08-13 20:28] c-goes commented on #4056
You are right. I mistook 'privileged' for 'rootful'.

[2020-08-13 20:54] edsantiago opened #7316 "podman run -d: hangs when $NOTIFY_SOCKET is set"
[code]
Note the ten-second difference in the `socat` timestamps; that is because the container is `sleep 10`. Change it to `sleep 30`, you get a 30-second delay.

What I expected: since this is `run -d` (detached), I expected podman to detach immediately and let the container deal with sdnotify.

(How I found this: trying to run `systemd-notify` in a `fedora:latest` container. Ha ha, silly me, the

[2020-08-13 21:00] #7294 closed

[2020-08-13 21:28] edsantiago commented on #7316
Oooh! Try running `podman ps` or even `podman info` while there's a hung `podman run -d`. It too will hang. (`podman images` is fine).

[2020-08-13 22:35] micah commented on #6884
FWIW, I ran into this issue. I had a container that had a capability set, and then later when podman was updated, that capability was no longer honored (because of the --user). I was able to rebuild the container and do a `setcap` there on the binary, but I think it would be useful if this would work again.

[2020-08-13 22:41] mheon commented on #7316
Is this the same issue as https://github.com/containers/podman/issues/6688

[2020-08-13 23:15] edsantiago commented on #7316
Yes, it looks like a different manifestation of the same problem. I'd say "feel free to close", but given how badly #6688 has been neglected, I'm going to leave it open as a reminder that this really is an unpleasant and unacceptable bug,

[2020-08-14 00:16] edsantiago commented on #6962
This was fixed by #7156

[2020-08-14 00:16] #6962 closed

[2020-08-14 00:22] edsantiago commented on #6764
Removed stale-issue label, this is not stale. Triggered on #7317 : https://cirrus-ci.com/task/4997918144856064

[2020-08-14 00:59] mecurc opened #7318 "The generated yaml file does not work the same way as if I manually created a pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I manually create a pod then attach containers everything works. But when i try to play a generated kube file i got a permission denied errors.

1. I manually create a pod and attach containers:
[code]
Everything works here.

2. So, lets generate a `droplet.yml` by `podman generate kube

[2020-08-14 12:12] tanty commented on #6967
The problem is that this is not an upstream issue for Debian but an issue in the external repository for Debian 10 provided by the Kubic Project and maintained by @lsm5

I've also tried to find a different place in which to report this but the Kubic's project bugzilla doesn't seem to be the place either because that only cares about openSUSE.

These external repositories are referenced in the onli

[2020-08-14 12:46] srd424 opened #7323 "rootless: podman exec /bin/sh hangs / shows no output until child is kill -9'd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm testing docker registry in rootless mode using a multipass VM. Once the container is started, if I `podman exec -t -l /bin/sh`, I get prompt, but the shell appears to hang. If I `kill -9` then sh process, any commands typed and the output suddenly appears.

strace shows a block on a futex

[2020-08-14 13:26] stephen-dexda opened #7324 "--rootfs should be a string option, not a switch"
Currently --rootfs is a boolean option that determines the meaning of the first (non-option) argument: "If specified, the first argument refers to an exploded container on the file system."

This is needlessly confusing behaviour. It should just be a string option (i.e. value immediately following the option).

Example syntaxes:

a) `podman run ... --rootfs <root-fs-dir> <cmd>`
b) `podman run ...

[2020-08-14 14:38] mheon commented on #7324
I'm very reluctant to do this as it would be a breaking change to our CLI -
commands using your second example are presently perfectly valid and almost
certainly in use, and we'd break anyone using them.

On Fri, Aug 14, 2020, 09:27 stephen-dexda <notifications@github.com> wrote:

[2020-08-14 15:10] stephen-dexda commented on #7324
Understood. It could either be introduced under a different option name, changed as part of the next major version, or some combination of both.

[2020-08-14 15:32] c-goes commented on #6734
Thanks for this. It's useful for Molecule users with this problem. Molecule works again with Podman 2 on Ubuntu when running `alias podman="systemd-run --user --scope podman"`.

[2020-08-14 15:50] pocelka opened #7325 "podman stats - not showing anything"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have two containers running, but when executing (sudo) podman stats it is not showing any statistics at all.

**Describe the results you received:**

![image](https://user-images.githubusercontent.com/20441822/90267610-1a6b1300-de56-11ea-8396-c54d70454ee9.png)

![image](https://user-images.

[2020-08-14 18:37] dustymabe commented on #6734
Note that we've got this issue flagged as something to be fixed before we switch to podman 2.x in Fedora CoreOS. Is there any resolution or more information that we should be using to inform our decision here?

Context: https://github.com/coreos/fedora-coreos-tracker/issues/575

[2020-08-15 11:37] bkhl opened #7327 "Unable to use Podman from Pycharm due to API version string"
**Description**

Tried using the Podman REST API to enable using it as an execution backend for Pycharm.

1. Run podman API on a TCP port with `podman system service --time=0 tcp:localhost:2375 --log-level debug`
2. Configure Pycharm to connect to Docker by TCP with Engine API URL: `http://localhost:2375`

**Describe the results you received:**

This error is shown in Pycharm

[code]
With the log

[2020-08-15 11:40] bkhl commented on #7327
Also reported this to Jetbrains here: https://youtrack.jetbrains.com/issue/IDEA-226650#focus=Comments-27-4345415.0-0 , since this could potentially be fixed there as well.

However, I suspect this can cause issues with other clients, so might be good to address it in Podman regardless.

[2020-08-15 13:00] danopia commented on #7325
It looks like your containers are running rootless (no sudo). Have you tried running `podman stats` without sudo as well?

`sudo podman stats` would show containers that were run with `sudo podman`

[2020-08-15 13:10] danopia commented on #7318
Hello, to the best of my knowledge, Kubernetes does not have an equivalent for podman's `:Z` flag (which relabels the volume to match a unique-per-container selinux label). The Kubernetes selinux support is to specify [a fixed label](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labels-to-a-container) for the container, which is used for all volumes.

So

[2020-08-15 14:04] TomSweeneyRedHat commented on #7327
@jwhonce thoughts?

[2020-08-15 14:08] mheon commented on #7327
Likely issue is that one of our unversioned endpoints is reporting Libpod
API version instead of the Docker compatible API version.

On Sat, Aug 15, 2020, 10:04 Tom Sweeney <notifications@github.com> wrote:

[2020-08-15 14:11] mheon commented on #7325
I believe that we expect 'podman stats' to not work as rootless on cgroups
v1 sirens (it requires cgroups to identify what processes are in the
container and their resource usage, AFAIK - but it's been a while since I
was in that part of the code). Suspicion: the part of the code that should
have detected an unsupported configuration for stats and errored was
accidentally dropped in the migration

[2020-08-15 14:24] Luap99 commented on #7325
@mheon I still get the error `Error: stats is not supported in rootless mode without cgroups v2` in podman v2 with cgroup v1.

[2020-08-15 15:15] bkhl commented on #7327
It appears to affect versioned endpoints also. If I put in `http://localhost:2375/v1.40` I can see from the debug output that Pycharm requests `http://localhost:2375/v1.40/version`, which still says `"APIVersion":"1.0.0"`.

[2020-08-15 16:13] edeediong commented on #7259
@ideepika I'm not sure this is an issue. I tried reproducing it, see the results below.

[code]

So can you please check your setup again?

[2020-08-15 16:15] edeediong commented on #7252
Seems this issue has been fixed. Should it still be opened?

[2020-08-15 16:45] mecurc commented on #7318
Hi! Thank you for answering.

Unfortunately, I use the *.yml file with the podman cli. The documentation for `podman play kube` says:
`Note: HostPath volume types created by play kube will be given an SELinux private label (Z)`

http://docs.podman.io/en/latest/markdown/podman-play-kube.1.html.

So I expect the generated podman file to work as if I had manually created a pod and added containers to

[2020-08-15 17:25] zhangguanzhang commented on #7252
/close

[2020-08-15 17:25] #7252 closed

[2020-08-15 17:33] zhangguanzhang commented on #7265
@fansari  If there are no other questions, please close the issue

[2020-08-15 17:38] zhangguanzhang commented on #6283
https://github.com/containers/podman/blob/master/test/system/200-pod.bats#L99
this line should be removed?

[2020-08-15 21:40] ideepika commented on #7260
@giuseppe
[code]

[2020-08-15 21:42] ideepika commented on #7259
@edeediong please see https://github.com/containers/podman/issues/7260#issuecomment-674449873

[2020-08-16 08:49] ashokponkumar commented on #4056
When I tried the same, I got the below error:
`Error: error opening "/var/lib/shared/vfs-images/images.lock": no such file or directory`

I had to `sudo` the command to avoid this error. Is that expected?

[2020-08-16 10:00] #7265 closed

[2020-08-16 11:29] pocelka commented on #7325
@mheon: It's exactly as @Luap99 wrote: `Error: stats is not supported in rootless mode without cgroups v2`. However I would expect that with sudo (since it has bigger privileges) it would display those stats even if containers are running without sudo.

[2020-08-16 12:45] Luap99 commented on #7325
`sudo podman` only knows about containers created by root, so it cannot show you the stats for rootless containers. If you want to see stats on rootless with cgroups v1 you can use regular `top` or `htop` to see the resources of all processes including the ones in your containers.

Or you migrate to cgroups v2 but this requires to recreate all containers AFAIK.

[2020-08-16 12:47] pocelka commented on #7325
I have tried to use cgroups v2 but since I'm kind of Linux newbie and I got many strange errors I just recreated all containers with sudo.

Thanks for help guys!

[2020-08-16 12:47] #7325 closed

[2020-08-16 14:34] c-goes commented on #4056
The first container can be rootless. Which version of podman do you use?

[2020-08-16 15:37] smithfred opened #7328 "Container in pod fails to start under Kata"
/kind bug

**Description**

Starting a pod using Kata fails with `Error: open /run/vc/sbs/<pod-name>: no such file or directory: OCI runtime command not found error`:

[code]

This applies whether creating the pod and container with separate commands or a single command.

The same commands work fine under the default runtime (runc):

[code]

The container successfully starts in a pod when using `p

[2020-08-16 16:09] ashokponkumar commented on #4056
I was in 1.6.4. Same results with 1.9.2 too. Will try with version 2 too.

[2020-08-16 16:17] smithfred commented on #7328
Log messages from `kata-runtime` in journald after running `sudo podman --runtime=kata run -d --name=test-container --pod=new:test-pod registry.fedoraproject.org/fedora sleep 60`:

[code]

[2020-08-16 18:48] barnscott opened #7330 ""podman generate systemd" for rootless pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am seeing errors when trying to start pod created from "podman generate systemd". i do not have any issues when using systemd unit file that were generated for rootless stand-alone containers, only seeing issue for my rootless pod.

here is the pod im seeing issues with:
[code]

this is wha

[2020-08-16 19:13] Luap99 commented on #7330
`podman generate systemd` for pods will create a unit for each container inside the pod. Just use it with the `--files` option.
Here are the examples from the man page: https://github.com/containers/podman/blob/master/docs/source/markdown/podman-generate-systemd.1.md#generate-systemd-unit-files-for-a-pod-with-two-simple-alpine-containers

[2020-08-16 19:40] barnscott commented on #7330
yea, those were the steps i was following.

using --files generates an unpreferable file name, which is why i didnt use that flag.

i dont have any issues with the steps when deploying rootless container, but i get the previously posted errors when using for pod.

below is the error again. you can see the error is initiated from configs that are generated by podman-generate-systemd:

nextcloud.ser

[2020-08-16 19:43] barnscott commented on #7330
ah, ok. i got it. i simply need to make sure to create a file for each container in the pod. ill try this, thanks!

[2020-08-16 19:45] Luap99 commented on #7330
Just use it with `--files` on a pod. If you want to change the name take a look at the `--pod-prefix`,`--container-prefix` and `--separator` flags.

[2020-08-16 19:55] #7330 closed

[2020-08-16 20:01] barnscott opened #7331 "man page for podman-generate-systemd"
Man page for podman-generate-systemd references putting unit file in /usr/lib/systemd for a rootful container, however, this isnt available in silverblue/rpm-ostree system.

i used the /etc directory instead, so i have two takeaways:

1) is using etc the best alternative solution
2) if so, should man page be updated?

[2020-08-16 20:16] Luap99 commented on #7331
Yes `/etc/systemd/system` is the best option. The man page is already updated on master #7181.

[2020-08-16 21:07] ericzolf opened #7332 "Podman 2.0 fails to create container with hostname complaining about host UTS namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since the upgrade to 2.0.0.rc7 on CentOS 8 Stream, containers can't be created anymore which used to be created.

**Steps to reproduce the issue:**

1. "podman", "container", "run", "--name", "nginx-cnt", "--hostname", "nginx-host", "--pod", "ncpod", "--volume", "nextcloud-vol:/var/www/html:z

[2020-08-16 22:41] #7331 closed

[2020-08-16 23:25] mheon commented on #7332
The error message here is clearly not correct, but the fact that it is giving an error is correct. Using `--hostname` with a pod that shares the UTS namespace (as it does by default) is not supported, and the fact that it worked before is a bug. You can set the hostname for the entire pod, but individual containers inside a pod must use the pod's hostname.

[2020-08-17 00:12] mheon commented on #7332
I think this should be left open to fix the error message, though, that's rather egregious.

[2020-08-17 08:23] Luap99 commented on #7332
@ericzolf If you still want to use different hostnames for your containers inside the pod you can create the pod like this: `podman pod create --name test --share net,cgroup,ipc`. With that option the UTS namespace will not get shared in the pod and thus you can set a hostname for the container.

[2020-08-17 09:21] mario19911 opened #7334 "Error during static build"
I am currently facing the following error when trying the static build.

builder for '/nix/store/4az8b5h97kf2pqasmz8xp535dsld480p-go-1.14.6.drv' failed with exit code 1; last 10 log lines:
  ok        cmd/link        11.457s
  ok    cmd/link/internal/ld    7.362s
  ok     cmd/link/internal/sym   0.002s
  ok     cmd/nm  5.029s
  ok     cmd/objdump     3.410s
  ok     cmd/pack        1.390s
  ok

[2020-08-17 10:51] giuseppe commented on #7324
I think we should not change how it works.  It is implemented as a boolean option because when `--rootfs` is used, the image argument makes no sense.  With "c)" it is not clear whether the next argument is the rootfs or another argument.

[2020-08-17 10:51] #7324 closed

[2020-08-17 10:56] giuseppe commented on #7316
I don't think it is a bug.  `podman run` waits for the container to notify when it is ready.  If the container is never ready what should we do?  It is not even Podman fault at this point, the OCI runtime is handling the NOTIFY_SOCKET

[2020-08-17 10:57] giuseppe commented on #6688
I don't think it is an issue.  Podman and the OCI runtime wait for the container to be ready.  If the container doesn't support SD_NOTIFY, then the user must not set it.

[2020-08-17 11:48] lsm5 commented on #6967
@rhatdan this is for obs repos and the best place to file issues is here itself.

[2020-08-17 11:55] edsantiago commented on #7316
I'm fine with the container hanging. I'm not fine with `podman ps` or `podman info` or other podman commands hanging.

[2020-08-17 12:17] VivekSatpute opened #7336 "[Podman REST-API]: Network bridge creation with IPv6 addressing is failing"
**Steps to reproduce the issue:**

1. Installed podman-2.0.0-0.9

2. Used API -
curl -X POST -H 'Content-type: application/json' --unix-socket /run/podman/podman.sock -d '{"Name": "myipv6net", "Driver":"bridge", "Subnet":{ "IP": [fd00::1:8:0], "Mask": [112] }, "DisableDNS":false, "EnableIPv6":true}' http://d/v2.0.0/networks/create

**Describe the results you received:**
Failing with error -
{"caus

[2020-08-17 12:27] Luap99 commented on #7336
Related #7262

[2020-08-17 12:32] edsantiago opened #7337 "podman load -i Path-With-Caps label : invalid reference format: repository name must be lowercase"
Only when `--format=oci-archive`:
[code]
Only the exact sequence above fails. The following are fine:
* `podman save` without `--format oci-archive`
* `podman load -i /tmp/FOO.tar` without `foo` (label)
* `podman save` to an all-lower-case path

EDIT: meant to add that this also fails if any directory component has caps: `/tmp/FOO/bar.tar`

master @ 47108e2e0

[2020-08-17 12:45] rhatdan commented on #6944
I believe this is not a bug in Podman, reopen if you disagree.

[2020-08-17 12:45] #6944 closed

[2020-08-17 12:49] rhatdan commented on #7337
@QiWang19 PTAL

[2020-08-17 12:52] goochjj commented on #6688
And if the OCI runtime waits for 3-5 minutes for the container to start, and podman is completely unusable during that time, even for OTHER containers, you don't consider than an issue? `podman ps` and `podman info` and `podman exec` should all just freeze in place?

[2020-08-17 12:56] goochjj commented on #6688
What's the design? What's the guiding principles?

In my mind:
1) One container should never influence operations on another container.
2) One container's startup should never freeze podman.  Especially for non-container-specific operations like `podman info`

If these principles are incorrect, please let me know.
If these principles are correct, then the current SD_NOTIFY support violates both.

[2020-08-17 13:21] rhatdan commented on #7251
Is podman being run as non root inside of the OpenShiftContainer or is it running as root?

[2020-08-17 13:39] baude commented on #6734
@giuseppe is this something you can look at?

[2020-08-17 13:40] mheon commented on #6688
Making `podman info` query container status was a mistake in retrospect - makes it too vulnerable to these sorts of lock contention issues, and we need it to function for debugging. We could go in and add a timeout on retrieving status, return without it if it takes too long - but that's really a separate issue.

When we originally wrote Podman, one of the core assumptions was that the OCI runtime

[2020-08-17 13:43] mheon commented on #6688
@giuseppe Do you have any objection to us supporting a separate, Conmon-based path? The OCI runtime approach is probably fine for other users but I don't think it's a good fit for Podman's architecture.

[2020-08-17 13:59] giuseppe commented on #6734
PR: https://github.com/containers/podman/pull/7339

Can anyone who is on cgroup v1 please try it?

[2020-08-17 14:02] mheon commented on #6734
@dustymabe ^^ Mind testing this?

[2020-08-17 14:05] edsantiago commented on #7195
I think [this](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4822681868566528/html/integration_test.log.html#t--podman-run-with-user-group--integer-groupname---1) (from #7314) might be another instance of the bug: basically the common factor is "podman-remote, was expecting output, got nothing".

[2020-08-17 14:15] giuseppe commented on #6688
if we don't care for the oci runtime to start, couldn't we just run the "start" in the background?

I'd say we should not keep any lock during `start`.   What kind of issues could that introduce?  Could a new state "starting" solve them?

[2020-08-17 14:21] mheon commented on #6688
I'm really reluctant to do that - what if the OCI runtime fails to start (less likely on runc/crun admittedly, but I could easily see Kata or similar blowing up at start even if create succeeded earlier). We'd stick the container into an awkward "starting" state where it could potentially be removed from under us while the OCI runtime is trying to start it and hope that start succeeds in a halfway

[2020-08-17 14:34] edsantiago opened #7340 "podman-remote: run --rm: Error removing container"
Another podman-remote flake, probably a race condition. I don't think this is the same as #7195 because when it happens I actually get output.
[code]
Note that there are two distinct error messages:
* no container with name or ID ...
* container ... does not exist in database

Exit status, FWIW, is 0 even with the error.

master @ 47108e2e0, root and rootless

I've seen it even without the `-v tes

[2020-08-17 14:48] edsantiago commented on #7340
CI flakes in the field:

Podman run with volumes [It] podman named volume copyup
* fedora-32 : special_testing_rootless
  * PR #7152
    * [07-31 13:34](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5869546022109184/html/integration_test.log.html#t--podman-named-volume-copyup--1)
    * [07-31 13:34](https://storage.googleapis.com/cirrus-ci-67077785657

[2020-08-17 15:09] mheon commented on #6688
I think we've agreed to move forward with the conmon-based approach, with the option to use a flag to retain the existing behavior.

Which means we need to finally get that Conmon patch merged - sorry for the delay there.

[2020-08-17 15:12] zhangguanzhang commented on #7336
`/libpod/networks/create` is different from `/networks/create`

[2020-08-17 16:30] mheon commented on #7332
You should be able to force a private UTS namespace for just one container with `--uts=private` that would allow you to set a hostname for a container within a pod (at the cost of losing a shared `/dev/shm` and other shared IPC constructs).

[2020-08-17 16:54] rhatdan commented on #6986
@QiWang19 Could you add this option to podman run/create.

[2020-08-17 16:54] #6983 closed

[2020-08-17 16:55] rhatdan commented on #6984
This issue was supposed to be closed.

[2020-08-17 16:55] #6984 closed

[2020-08-17 17:12] rhatdan commented on #6283
@zhangguanzhang Please open a PR to remove it.

[2020-08-17 17:14] edsantiago commented on #6283
I've already got one, it's just pending a few other fixes so it's not a micro PR. I'll get it pushed out today.

[2020-08-17 17:24] rhatdan commented on #6800
Is this still an issue?

[2020-08-17 17:55] rhatdan commented on #7316
Yes, I think we need a way to work around the lock.

[2020-08-17 18:09] mheon commented on #7316
We have a way forward via https://github.com/containers/conmon/pull/182 if we can get it landed

[2020-08-17 18:49] lsm5 commented on #6967
@tanty @matutetandil @DanHam slirp4netns has been updated to the latest on obs, https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/slirp4netns . Could you let me know how it works with that? Sorry about the delay on this.

[2020-08-17 19:08] #7103 closed

[2020-08-17 19:38] DanHam commented on #6967
@lsm5 The version of `slirp4netns` and `libslirp0` currently available from the obs repository is the same as I had installed previously and encountered the issue with - so no, installing those packages gives me the same error as seen previously.

[code]

As noted previously, uninstalling the `slirp4netns` and `ibslirp0` packages and replacing it with version 1.1.4 of the slirp4netns binary availa

[2020-08-17 19:45] DanHam commented on #6967
With `slirp4netns` installed from the OBS repositories `file` tells us the binary is dynamically linked:

[code]

With `slirp4netns` installed from the slirp4netns releases page `file` tells us the binary is statically linked:

[code]

[2020-08-17 21:27] edsantiago opened #7347 "CI: gpg2: not found in $PATH"
One of those "Action recommended" IRC messages. Starting point link is https://cirrus-ci.com/build/5933219147153408

Two of those failures are the horrible nasty Monday 2020-08-17 timeout, but one looks like a different problem: [test ubuntu-20](https://cirrus-ci.com/task/5322509090291712) ([highlighted log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podm

[2020-08-17 22:41] j4m3s-s opened #7348 "strange behavior from podman images"
/kind bug

**Description**
Filling podman images for local user and then moving this cache

**Steps to reproduce the issue:**

1. podman pull $IMG
2. mv /home/$USER/.local/share/containers $SOMEWHERE

3. podman --root $SOMEWHERE images
doesn't show anything.

Using the additionalimagestores option in storage.conf has the same problem.

**Describe the results you received:**
REPOSITORY

[2020-08-18 01:25] balamuruganravi commented on #6800
Sorry for the delay. Our platform team updated the podman installation recently. I am yet to verify it. Soon I will test and post my updates here.

[2020-08-18 05:38] ericzolf commented on #7332
Thanks to everybody, now I have many options and can't decide which one to use.

Just joking but it's truly difficult to understand what the actual impact is of the choices. @mheon isn't IPC another namespace than UTS, if I refer to https://lwn.net/Articles/531114/ ? Does the hostname only impact what hostname, uname & Co returns, or also the inter-container dynamic DNS managed by podman (that was

[2020-08-18 06:11] zhangguanzhang commented on #7336
you could use this data to try
[code]

[2020-08-18 06:30] zhangguanzhang commented on #7337
on Centos8 and use the code of master to compile, it works ok
[code]

[2020-08-18 07:25] giuseppe commented on #7316
I am fine with the solution proposed there, but we would still have the locking issue when `--sdnotify=podman` is used though.

[2020-08-18 07:31] giuseppe commented on #7260
do you have `/home` on a different partition?  What does `lsblk -af` show?

[2020-08-18 08:48] vrothberg commented on #7285
Sorry for not coming back earlier. There's an issue when storing the arguments. I'll look into a fix now.

[2020-08-18 09:34] vrothberg commented on #7285
Opened https://github.com/containers/podman/pull/7350 to address the issue.

[2020-08-18 10:17] rwmajor2 opened #7351 "TMPDIR not honored"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
[code]

![image](https://user-images.githubusercontent.com/3799165/90501329-3acaf400-e11a-11ea-8ff2-75370183cb7d.png)

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happ

[2020-08-18 10:32] Luap99 commented on #7332
1. you will join the pods UTS namespace so it will be a private namespace which is shared between all containers inside the pod.
2. ns expects a path to an existing UTS namespace which the container than joins

I opened #7352 to update the docs and error message.

[2020-08-18 11:49] zhangguanzhang commented on #7351
Have you tested with the latest version of Podman ？

[2020-08-18 12:25] rwmajor2 commented on #7351
@zhangguanzhang How do I install the latest?  The more recent install from `yum install` from Redhat is 1.9.3.  Sorry for being dense....

[2020-08-18 12:40] zhangguanzhang commented on #7351
I did'nt install on rhel, I think you could use the rpm package to install http://www.rpmfind.net/linux/rpm2html/search.php?query=podman&submit=Search+...

[2020-08-18 12:55] mheon commented on #7351
I was under the impression the fix for this was already in 1.9.x, but
evidently it isn't. Will definitely be in 2.0.x arriving in RHEL/Cent 8.3.

On Tue, Aug 18, 2020, 08:40 zhangguanzhang <notifications@github.com> wrote:

[2020-08-18 13:32] edsantiago commented on #7337
[code]
That is not the test. If you copy-paste from my report, you will see that the test includes a label:
[code]
If you try that, I believe it will fail.

[2020-08-18 13:34] lsm5 commented on #6967
@DanHam sorry about that, slirp4netns is included in debian 10 afaict, so ideally it would be great if it was updated to the latest there itself. But I'll look into statically building it or maybe update libslirp0.

@siretart any idea when libslirp0 and slirp4netns would get updated in debian 10?

[2020-08-18 14:05] 0xb35c commented on #6839
Hey there,

sorry for not getting back to this for so long. I was able to get back to this issue today and tried to reproduce the issue for myself and it seems systemd is working as expected for now.
I'm not sure if it relates to the fact, that I enabled lingering (`loginctl --enable-linger <user>`), though I tried turning it off and it still works.

Anyways: I'll close this issue.

Thanks for you

[2020-08-18 14:05] #6839 closed

[2020-08-18 14:11] vrothberg commented on #6288
Couldn't reproduce anymore. Listing 1210 images takes 0.71 seconds which is a decent performance. I am going to close but feel free to comment or create a new issue in case the seemingly random issues occur again.

[2020-08-18 14:11] #6288 closed

[2020-08-18 14:35] rhatdan commented on #6985
This is fixed in upstream.

[2020-08-18 14:35] #6985 closed

[2020-08-18 14:37] rhatdan commented on #6945
@AkihiroSuda @osirase @giuseppe Is this still an issue?

[2020-08-18 14:44] lsm5 commented on #6967
libslirp build is currently give me grief:

[code]

[2020-08-18 15:25] zhangguanzhang commented on #7337
I found the case, so
[code]

[2020-08-18 16:13] QiWang19 commented on #7337
To match the behavior of docker-archive format, the `$ podman load -i /tmp/FOO.tar foo` loaded image should be `localhost/foo`

[2020-08-18 16:15] zhangguanzhang commented on #7337
[code]
after this , the image's name will be localhost/foo?

[2020-08-18 16:21] QiWang19 commented on #7337
yes

[2020-08-18 16:33] zhangguanzhang commented on #7337
[code]

now load the image
[code]
But the import shows two images, so I'll continue to change the code tomorrow😁

[2020-08-18 16:55] AkihiroSuda opened #7359 "`podman version` shows 1970-01-01 as the built date"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman version` shows 1970-01-01 as the built date

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`Built:        Thu Jan  1 09:00:00 1970`

**Describe the results you expected:**

Should be the actual date

**Output of `podman version`:**

[code]

**Have

[2020-08-18 17:02] ravinara001 commented on #7351
Thanks @zhangguanzhang  and @mheon  - after installing the latest podman and podman-docker from the following location, TMPDIR is now honored.

http://www.rpmfind.net/linux/rpm2html/search.php?query=podman-docker&submit=Search+...&system=&arch=
http://www.rpmfind.net/linux/rpm2html/search.php?query=podman&submit=Search+...&system=&arch=

[2020-08-18 17:27] mheon commented on #7359
This is also present on the v2.0.4 build we're shipping in the official Fedora RPMs, which is concerning

[2020-08-18 17:45] edsantiago opened #7360 "podman-remote exec -i, with stdin redirection, hangs"
In window 1:
[code]
In window 2:
[code]
Without `-i` there is no hang, but there is no output either.

Regular (non-remote) podman works fine: output is as expected, and the `exec` returns immediately.

master @ 748e8829d, root & rootless

[2020-08-18 17:48] Luap99 commented on #7359
#7361 to fix this

[2020-08-18 18:11] #7285 closed

[2020-08-18 18:37] #7273 closed

[2020-08-18 18:41] edsantiago commented on #6283
See #7362

[2020-08-18 18:44] #7332 closed

[2020-08-18 18:46] #6764 closed

[2020-08-18 18:49] #6734 closed

[2020-08-18 19:05] edsantiago commented on #7195
cirrus-flake-summarize just reported [this](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5618975797149696/html/system_test.log.html):
[code]
I can't reproduce on my laptop. I have a hunch that this is the same problem. What I find most interesting is that _the podman command did not fail_. `run_podman` would've barfed before the string check. So we'r

[2020-08-18 19:12] edsantiago commented on #7195
Here's a [ginkgo flake](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4822681868566528/html/integration_test.log.html#t--podman-run-user-capabilities-test--1) that appears to be the same underlying problem: all three failures are in the same test (run user capabilities), but each one fails in a different `grep`:

1) third "podman run" is empty
2) firs

[2020-08-18 20:41] burhan commented on #7305
So I upgraded to RHEL 8, and the new AppStream version of container tools. I ran into another set of issues there, but I'll close this an investigate further.

[2020-08-18 20:41] #7305 closed

[2020-08-18 22:53] #7359 closed

[2020-08-19 01:11] siretart commented on #6967
I might be able to provide an updated package in buster-backports.

For now, I'd recommend to use Debian/testing.

On Tue, Aug 18, 2020, 09:34 Lokesh Mandvekar <notifications@github.com>
wrote:

[2020-08-19 07:05] tkopecek opened #7367 "http_proxy is used even for https"
/kind bug

**Description**

When ``http_proxy`` is set in the environment, podman uses it (at least for communication with registry) even for https connections. Non/existence of ``https_proxy`` is not relevant. ``http_proxy`` should be used only for http requests.

**Steps to reproduce the issue:**

[code]
**Output of `podman version`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `

[2020-08-19 10:05] #6255 closed

[2020-08-19 12:02] daiaji opened #7370 "support container-to-container copy"
[code]
There seems to be no harm in implementing this function.

[2020-08-19 12:10] edsantiago opened #7371 "podman save --format oci-archive: loses image ID"
This may not be a bug, but I think it is, because `podman save` without `--format oci-archive` preserves image ID.
[code]
Commenting out `OCI_FORMAT=` makes all the IIDs agree.

master @ 7e2a1b34c

[2020-08-19 12:20] ThoTischner commented on #4435
you could also use `podman load`

[2020-08-19 12:35] TomSweeneyRedHat opened #7373 "Error message needed when creating container in pod with -p option"
Pulling this from a discussion by @Luap99 in #7364

IMO, we have to error on the podman create command. I've seen some people run into it and not realize the error.

This should not work:
[code]
The create command should note the -p option when being used in a pod and at the very least issue a warning if not an error and disallow it totally.

[2020-08-19 12:47] rhatdan commented on #7367
I would think this is a golang bug, since we do not use the environment variables directly.

[2020-08-19 12:48] rhatdan commented on #7367
@giuseppe @mtrmac @vrothberg WDYT?

[2020-08-19 13:00] zhangguanzhang commented on #7370
which version did you used to? or , did you tried with the latest version?

[2020-08-19 13:11] lsm5 commented on #6967
thanks @siretart. Btw, if you have access to the ubuntu package, would you be able to update those too?

[2020-08-19 13:11] mtrmac commented on #7367
AFAICS this is just `http.ProxyFromEnvironment`. I think it’s hard hard to maintain and use if Podman invents its own behavior, or papering over Go differing rom Linux, if that’s the case — instead, the Go standard library should be changed (or maybe patched by a Linux distribution).

[2020-08-19 13:20] cevich commented on #7347
Good catch @edsantiago among all the other chaos.  That's a really odd error, IIRC we install gnupg everywhere.  Thanks for opening this, I'll investigate...

[2020-08-19 13:41] edsantiago opened #7374 "CI - colon-img should only trigger if present in git subject"
PR #7317 ran the See Aye Colon Aye Em Gee set of tests, instead of real CI tests, because the string See Aye Colon Aye Em Gee was present in the git commit message **body**. This allowed a bad PR to merge, causing hours of lost work for everyone.

The cirrus magic should differentiate between git commit _subject_ and _body_, and only trigger the magic VM rebuild if See Aye Colon Aye Em Gee is pres

[2020-08-19 14:06] edsantiago commented on #7374
Requesting https://github.com/cirruslabs/cirrus-ci-docs/issues/698 from Cirrus

[2020-08-19 14:06] giuseppe commented on #7367
I agree, I don't think we have to handle it differently from Podman

[2020-08-19 14:11] mheon commented on #7367
@tkopecek You'll probably need to file an issue against https://github.com/golang/go given this is behavior from the Go standard library

[2020-08-19 14:56] yangm97 commented on #7157
Doesn't seem like 2.0.2 does it, was it added later?

[code]

[2020-08-19 15:06] mheon commented on #7370
Should be technically possible. I'll label this as a feature request.

[2020-08-19 15:29] debarshiray opened #7375 "run.oci.keep_original_groups=1 doesn't always work with 'exec'"
/kind bug

**Description**

I am trying to use the `run.oci.keep_original_groups=1` annotation to let users [access the host's Docker socket](https://github.com/containers/toolbox/issues/430) via membership in the `docker` group on the host.

So, if you have:
[code]

... then this works:
[code]

However, Toolbox is a bit weird, and `run.oci.keep_original_groups=1` doesn't seem to have the intended

[2020-08-19 15:44] lsm5 commented on #6967
alright, so I have a static build of slirp4netns happening on OBS right now. I would recommend using @siretart's official builds whenever ready for your distro, but otherwise I hope the OBS build gets you unblocked. 1.1.4~10 is the right build to use: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/slirp4netns

Let me know how that works..

[2020-08-19 15:54] mheon commented on #7375
@giuseppe Poke - is the preserve groups annotation preserved in exec sessions? Should we maybe make it a separate option for exec?

[2020-08-19 16:15] yangm97 commented on #6604
It seems like generating units for containers created with `--log-driver=journald` (or changing the `ExecStart` line to include said flag) is already enough to get `journalctl` and `systemctl` to display the container logs associated with that unit. I haven't tested with pod units though.

Assuming pod units are as good, looks like we only need to add this flag to the unit template in order to clo

[2020-08-19 17:09] giuseppe commented on #7375
it seems so, I've done a quick test and the groups are kept.

@debarshiray can you do `$ grep ^Groups /proc/$PID_EXEC_SHELL/status`.  What does it show?

[2020-08-19 17:23] Pit95 opened #7377 "Podman create command unable to distinguish between pods and containers using the same name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Creating a pod or a container with `--name` directive and a name already used, podman doesn't distinguish between pods and containers with the same name.

**Steps to reproduce the issue:**
Case A

1. Create a pod with `podman pod create --name test`

2. Create a container with `podman containe

[2020-08-19 17:36] mheon commented on #7377
This was a deliberate design decision when we originally wrote Podman - container and pod names were required to be globally unique, so a `podman inspect $NAME` (for example) could be guaranteed to return a unique result.

This hasn't necessarily turned out to be the best idea (`podman play kube` for example, runs into issues because Kubernetes allows identically-named pods and containers). Howeve

[2020-08-19 17:38] mheon commented on #7377
I'm going to remove the bug label and retag this as an enhancement request as such. This is not a bug, it was intended behaviour, just behaviour we no longer particularly want.

[2020-08-19 17:42] Pit95 commented on #7377
Thanks

[2020-08-19 18:09] AkihiroSuda commented on #6863
POC scripts for allowing an equivalent of `podman network create` with Rootless Podman, by running CNI plugins inside a "sandbox" container that is similar to Kubernetes Pod sandboxes: https://github.com/AkihiroSuda/podman-network-create-for-rootless-podman

Haven't got DNS to work yet, but probably it shouldn't be difficult.

@giuseppe @rhatdan Do you think executing CNI inside a "sandbox" contai

[2020-08-19 18:19] tkopecek commented on #7367
Filed https://github.com/golang/go/issues/40909

[2020-08-19 19:19] edsantiago opened #7378 "CI flake: healthcheck command exceeded timeout of 3s"
Seeing this one a lot lately, not just in PR testing but also in [post-merge testing](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6006585321324544/html/integration_test.log.html#t--podman-healthcheck-that-should-fail--1)

Podman healthcheck run [It] podman healthcheck that should fail
* ubuntu-19 : test ubuntu-19
  * PR #7238
    * [08-10 09:13](htt

[2020-08-19 19:20] edsantiago commented on #7378
@baude, this is the issue I mentioned in IRC just now. No rush, I'm just filing this as a placeholder.

[2020-08-19 19:34] rhatdan commented on #7367
We can follow this there.

[2020-08-19 19:34] #7367 closed

[2020-08-19 19:49] jmccormick2001 opened #7380 "using podman with kubeadm"
/kind feature

**Description**

is there any documentation on how to run kubeadm using podman?

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

would love to be able to run podman instead of docker when installing kubeadm

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of

[2020-08-19 19:51] edsantiago commented on #7148
Ping, what is the status of this? I see #7203 bringing in a new buildah v1.15.1-0.20200731151214-29f4d01c621c, but the flake continues to happen:

46 podman build - stdin test
* fedora-31 : test fedora-31
  * PR #7369
    * [08-19 06:48](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6106498675769344/html/system_test.log.html)
  * PR #7239
    * [08-10

[2020-08-19 20:09] TomSweeneyRedHat commented on #7380
@jmccormick2001 The closest that I found quickly was this post from @baude https://developers.redhat.com/blog/2019/01/29/podman-kubernetes-yaml/

[2020-08-19 20:24] rhatdan commented on #7380
Podman is not intended to be used as a CRI, CRI-O is the package you are looking for.

[2020-08-19 20:33] jmccormick2001 commented on #7380
ah, thanks Dan!

[2020-08-19 20:33] #7380 closed

[2020-08-19 20:43] #7276 closed

[2020-08-19 21:32] lsm5 commented on #6967
Closing this. Please reopen or comment if the issue still persists.

[2020-08-19 21:32] #6967 closed

[2020-08-19 21:57] edsantiago commented on #7228
Whoa - just now seeing this in [podman gating tests](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/15088/pipeline/#step-177-log-1104), which don't even pretend to test podman-remote:
[code]

[2020-08-19 22:24] dustymabe commented on #6734
I can test if someone gives me a link to an RPM. Sorry for the delayed response.

[2020-08-19 22:48] asottile opened #7384 "`podman stop $cid1 $cid2` successfully stops both but sometimes errors that $cid2 does not exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This one is pretty hard to track down and I haven't isolated a highly-reproducible scenario however I am able to observe this about ~10% of the time with my given workload.

The output below shows the failure scenario and the output of `podman container inspect $cid` for both of the container

[2020-08-20 02:49] barnscott opened #7385 "New pods are no longer deploying succesfully"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Getting following error when starting a pod with "--pod new:name"
[code]

**Steps to reproduce issue, approach 1**
[code]

**Steps to reproduce issue, approach 2**
[code]
In this second method, the pod and containers all deploy without error messages. However, the app is not accessabile at 9088

[2020-08-20 05:30] mheon commented on #7385
Can you verify that nothing else on the host is using port 9088?

[2020-08-20 07:50] vrothberg commented on #7157
We are cleaning up the files in ExecStartPre but not the containers.

However, there's an explicit clean-up for named containers where we're setting the `--replace` flag automatically. This way we enforce that a container with the same name will be removed.

@yangm97, did you remove the `--replace` from the generated unit? The replace feature has been added by commit 6118ab494884 back in June and

[2020-08-20 08:39] DanHam commented on #6967
@lsm5 I've just installed the 1.1.4~10 version of slirp4netns from the OBS repository. This version fixes the problems reported above and works perfectly!

Thanks for taking the time to look into that and providing a fix - much appreciated!

[2020-08-20 09:04] Luap99 commented on #7385
Approach 1 doesn't work because there is a bug with the new: syntax. This will be fixed in the next release. #7152

Approach 2 doesn't work because you have to specify the port binding on the pod create command. The docs are not clear on this though. This should be improved with #7364. You might want to take a look if this is a good explanation to you.

If you still have the same error you should

[2020-08-20 09:38] vrothberg opened #7387 "`podman load ... [name:tag]` inconsistencies"
The optional `name:tag` for `podman load` is treated differently among the formats. `docker-archive` will apply it as tag to the loaded image while `oci-archive` seems to try to extract it from the image. Let's try to find a way to untangle the hairy ball and get it consistent (or clearly document the different behaviours).

The man pages need to be more explicit:

Background discussion: https://g

[2020-08-20 09:44] giuseppe commented on #6863
definitely.  I've started working on the side on supporting it in rootless podman: https://github.com/giuseppe/libpod/tree/allow-rootless-cni

But before that, we need a new release of iptables with this patch: https://git.netfilter.org/iptables/commit/?id=5105e844c2ff6a3e320bf8cdadc5094d4eaef2b7

[2020-08-20 09:55] zhangguanzhang commented on #7387
[code]
after this, the image's name should be `domain.com/NewName:tag`? or just search `domain.com/NewName:tag` in the `/tmp/FOO.tar` and load it

[2020-08-20 10:48] HarryMichal opened #7389 "userns=keep-id creates unnamed user group"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container created with option `--userns=keep-id` gets the current user with the correct UID and GUID but the group does not have the user's name.

More info from the Toolbox realm: https://github.com/containers/toolbox/issues/523

**Steps to reproduce the issue:**

1. `podman run --rm --usern

[2020-08-20 11:14] vrothberg commented on #7387
That really depends what we want to do.

I am also open to change `podman load` to not accept such an optional `name:tag`. If users want to load a specific image, they can use `podman pull` instead. That way, `podman load` would be ~identical to `docker load`.

[2020-08-20 11:28] siretart commented on #6967
The upcoming 20.10 release is current right now.

20.04 and earlier are going to be difficult...

On Wed, Aug 19, 2020, 09:11 Lokesh Mandvekar <notifications@github.com>
wrote:

[2020-08-20 11:47] AkihiroSuda commented on #6863
The branch doesn't seem to contain sandboxing code at the moment, is there anything I can help?

Not necessarily if you execute sandbox as a container, or at least unshare mount namespace and mount a writable tmpfs on `/run`.

[2020-08-20 11:54] lsm5 commented on #6967
On Thu, Aug 20, 2020 at 01:39:28AM -0700, Dan wrote:

Good to know! Thanks!

[2020-08-20 11:56] lsm5 commented on #6967
On Thu, Aug 20, 2020 at 04:29:07AM -0700, Reinhard Tartler wrote:

Alrighty, no worries, thanks a lot for owning these on the default distro
side!!

[2020-08-20 12:35] barnscott commented on #7385
@Luap99 you got it! approach 2 now works with that tweak.

ive been using approach 1 on this pod since january, so i was pretty confused; and i didnt find that bug report.

thanks!!

[2020-08-20 12:35] #7385 closed

[2020-08-20 12:44] rhatdan commented on #7384
Is the container actually still running?  Or was it stopped and the error was bogus?

[2020-08-20 12:46] rhatdan commented on #7384
If the container crashed for some reason, I would expect this behaviour.  You could attempt this without the --rm and then maybe we could examine the state of the container, along with the exit code.

[2020-08-20 12:47] rhatdan commented on #7020
@baude Any ideas on this one?

[2020-08-20 12:48] #6807 closed

[2020-08-20 12:49] rhatdan commented on #6628
@QiWang19 or @ashley-cui Did you gals ever look at this?

[2020-08-20 13:05] ashley-cui commented on #6628
Started poking around, and didn't get very far before getting distracted. I can probably pick it up tomorrow or next week, but will need help with it

[2020-08-20 13:30] mheon commented on #7384
There is a race that can cause this, between gathering the containers we need to work on, and working on the individual containers - if the container stops/is removed in the gap between those, we get an error. I think we can safely ignore those errors in some cases (e.g. `--all` specified) but not others (we want to let the user know when a container they specified at the command line stopped exis

[2020-08-20 13:44] rhatdan commented on #7384
After we do the podman stop, are we checking to see if the container was stopped?  And if the rm happened, then the container no longer exists, so it was stopped.  We probably should handle this case and not report an error.

[2020-08-20 14:17] debarshiray commented on #7375
[code]

The entire file:
[code]

[2020-08-20 14:19] giuseppe commented on #7375
what happens if you don't specify `--user rishi` ?

[2020-08-20 14:24] debarshiray commented on #7375
With `--user root:root`, I get:
[code]

The entire file:
[code]

[2020-08-20 14:28] edsantiago commented on #7148
Another one today

39 podman build - basic test
* fedora-31 : test fedora-31
  * PR #7356
    * [08-20 05:05](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6633365052850176/html/system_test.log.html)

[2020-08-20 14:31] rhatdan commented on #7387
I think podman load should be identical to docker load.

[2020-08-20 14:34] debarshiray commented on #7375
When I can use the Docker socket with the `podman run ...` command above, I get:
[code]

The entire file:
[code]

[2020-08-20 14:34] giuseppe commented on #7375
your version of crun overwrites the groups when they are explicitely set.

It was fixed with 79f853cf119369b710346c5949d8dd45be30ad7c and in 0.14 so that keep_original_groups is always honored

[2020-08-20 14:45] debarshiray commented on #7375
Oh, you are right. I was missing some updates and had `crun-0.13`. Sorry for wasting your time. :(

By the way, what did you mean by *when they are explicitly set*? Just trying to understand the situation a bit better for the future.

[2020-08-20 14:52] giuseppe commented on #7375
that the conf file has a `user` setting.  In your case it has since you specify `--user` so it overrides the groups you originally had

[2020-08-20 15:00] vrothberg commented on #7387
Proposal: let's wait first for Podman v2.1 and then remove the optional arguments and get that into Podman v3.0.

Users can always load+tag or use pull to extract a specific image.

[2020-08-20 15:00] vrothberg commented on #7387
@mtrmac WDYT?

[2020-08-20 15:03] debarshiray commented on #7375
Closing, because it works with `crun-0.14`.

[2020-08-20 15:03] #7375 closed

[2020-08-20 15:03] edsantiago opened #7391 "flake: podman exec /no/such/command (sometimes) returns rc=1 (should be 127)"
Flake see in #7383, [fedora 31](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6187267871997952/html/system_test.log.html):
[code]
I was not able to reproduce on rawhide, but this will (very infrequently) reproduce it on f31:
[code]
podman-2:2.0.4-1.fc31 but the link above is to CI.

I don't know if the `true` or `/etc` are necessary. This is infrequen

[2020-08-20 15:45] mtrmac commented on #7387
Note that this is not just the CLI: changes might affect the two `/images/load` APIs (OTOH at least in Swagger the “reference” parameter seems completely undocumented).

Right now, the CLI load command prints the IDs(?) of loaded images only in a non-trivially-parseable text format.

---

_Conceptually_, I think it does make sense to offer _both_
- Extract only image $name from archive (as opposed

[2020-08-20 16:13] asottile commented on #7384
yes, from the `podman container inspect ...` output you can see it is still running just before running stop.  after stop it is stopped so I believe the error is bogus

yeah good idea, though I'd be hard pressed to see `sleep infinity` crash :) -- let me try and reproduce it without `--rm`

[2020-08-20 16:17] yangm97 commented on #7157
Nope, just ran the generate command and pasted as is. Looks like it's disabled by default: https://github.com/containers/podman/blob/dd4e0da4241ac0b6deac3f5e07ea4eeb5819379e/pkg/systemd/generate/containers.go#L210

[2020-08-20 16:20] jwhonce opened #7392 "/libpod/pods/json returns null when there are no pods"
/kind bug

**Description**

The containers and images endpoints return the empty set '[]' vs. the pods endpoint which returns null

**Steps to reproduce the issue:**

1. In window#1: `podman system service tcp:localhost:8080 --log-level=debug --time=0`

2. In window#2: `curl -s -v 'http://localhost:8080/v1.40.0/libpod/pods/json'`

**Describe the results you received:**
* Connected to localhost (12

[2020-08-20 16:55] asottile commented on #7384
I've run the same scenario without `--rm` 150+ times without failure (whereas before I'd get about ~15 failures in that amount of time) so now I'm suspecting it's something related to `--rm` 🤔

[2020-08-20 18:55] #7374 closed

[2020-08-20 19:15] andrew-vts opened #7393 "podman kill fails to kill container, podman ps lists dead container"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create a container which hangs (sorry, not great, what I did at the time was try to paste hundreds of lines into Vim which was running in a container, I can reproduce this repeatedly).
2. Run `podman kill <container>`, it exits success
3. Run `podman ps`, the container is still up
4. Run `kill -KILL` on the `conmon` process associat

[2020-08-20 19:16] andrew-vts commented on #7393
Sorry, need to close and will reopen in a moment.

[2020-08-20 19:16] #7393 closed

[2020-08-20 19:17] amarshall opened #7394 "podman kill fails to kill container, podman ps lists dead container"
/kind bug

**Description**

`podman kill` fails to kill a container which is hung, and once it is killed with `kill`, `podman ps` still lists it as Up.

**Steps to reproduce the issue:**

1. Create a container which hangs (sorry, not great, what I did at the time was try to paste hundreds of lines into Vim which was running in a container, I can reproduce this repeatedly).
2. Run `podman kill <con

[2020-08-20 19:50] edsantiago commented on #7148
Someone pretty please, help. This is flaking at least once per day, causing much lost effort. Most recently in the [v2.0.5 build PR](https://cirrus-ci.com/task/6530978346696704). @TomSweeneyRedHat @rhatdan @giuseppe @mheon anyone, please?

[2020-08-20 20:05] mheon commented on #7394
What do you mean by the container being hung - can you describe further?

[2020-08-20 20:07] amarshall commented on #7394
Interactive terminal connection is non-responsive (running with `-it`), have to <c-p><c-q> it to disconnect.

[2020-08-21 05:47] asottile opened #7396 "improve error message for graph driver mismatch"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

little itty-bitty feature -- a hint as to what command to run would be helpful in this error output:

[code]

**Steps to reproduce the issue:**

1. run any container using vfs (for example `podman run --rm -ti ubuntu:focal echo hi`
2. configure the storage engine to use overlay
[code]
3.

[2020-08-21 06:09] TrevorBenson opened #7397 "Starting a stopped pod does not bind published ports"
**Steps to reproduce the issue:**

1. Build a pod with a published port: `podman pod create --name test-ports-pod --publish 12345:12345`

2. Start the pod: `podman pod start test-ports-pod`

3. Check the port is bound: `netstat -plven | grep 12345`

4. Stop the pod: `podman pod stop test-ports-pod`

5. Check the port is missing: `netstat -plven | grep 12345`

6. Start the pod: `podman pod start te

[2020-08-21 06:28] ata-sql commented on #7235
hello,
I have a difference in Path element.
**myimage** have entrypoint **java -jar /tmp/app.jar** and when creating container using cli:
`podman run myimage --param1 --param2`, I got:
[code]
When creating using API:
`curl --unix-socket /run/podman/podman.sock http://localhost/v1.40/containers/create -X POST -H "Content-Type: application/json" --data '{"Image":"myimage", "Cmd": ["--param1", "--par

[2020-08-21 10:51] c-goes opened #7398 "podman build behaves differently from docker build"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I tried building this image (https://github.com/geerlingguy/docker-ubuntu2004-ansible) with Podman and found out that Docker behaves differently from Podman. While Docker builds the image successfully, Podman stops and asks for geographic area (related issue: https://github.com/geerlingguy/do

[2020-08-21 14:14] ashley-cui opened #7401 "podman build -q does not quiet image pull log"
/kind bug

podman build -q still shows parts of the build log

**Steps to reproduce the issue:**

1. podman build -q ~/tst

2. look at output

**Describe the results you received:**

$ ./bin/podman build --quiet ~/tst
Getting image source signatures
Copying blob df20fa9351a1 done
Copying config a24bb40132 done
Writing manifest to image destination
Storing signatures
6b857695d6b6c962e94c88b01b4f8e3

[2020-08-21 18:48] Luap99 opened #7404 "RFE: Sort the API endpoints alphabetically in the documentation."
/kind feature

**Description**

The endpoints inside the RestAPI Documentation at https://docs.podman.io/en/latest/_static/api.html are grouped in categories which is good. But within each category the endpoints seem to be in a random order (see below). It would be nice if they were sorted alphabetically.

![image](https://user-images.githubusercontent.com/45212748/90923667-5c63fe00-e3ee-11ea-9573

[2020-08-22 00:45] Nuc1eoN opened #7405 "'podman system df' usage not consistent."
`podman system df` shows 1 container in use with a total of 24.8GB space taken
[code]
`podman system df -v` shows different values
[code]
It seems like `podman system df -v` does not take the containers volume into account (contrary to the non-verbose option), but still the ~24GB is not listed under volumes.

[2020-08-22 00:47] Nuc1eoN opened #7406 "'podman system df' is slow"
`podman system df` in rootless mode hangs indefinitely for me.

Can anybody reproduce?

[2020-08-22 00:54] andrew-kennedy opened #7407 "Podman auto-update with --pull=always fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have setup a few rootless containers using systemd with the auto update label, and they fail to update using podman auto-update with errors such as the following.

**Steps to reproduce the issue:**

1. Create various containers in a pod.

2. Use podman generate to create rootless systemd un

[2020-08-22 16:30] zhangguanzhang opened #7412 "miss auto-completion is `system`"
[code]
missing auto-completion is `system`
[code]

[2020-08-22 21:58] TomSweeneyRedHat opened #7413 "podman v2*.* images on quay.io are failing"
I'm running this command using podman v2.0.2:

[code]
If I do the same command with images prior to v2.*, I see success.

[code]

Did something change with overlayfs as of v2.0 that we need to adjust within the Containerfiles that build the images on quay.io?  FWIW, the images for Skopeo and Buildah are both fine.

[2020-08-23 03:34] awerlang opened #7414 "Containers in a pod don't share the same network namespace, unless..."
/kind bug

**Description**

Containers in a pod don't share the same network namespace

**Steps to reproduce the issue:**

1. podman run -dt --rm --pod new:mypod quay.io/libpod/alpine_nginx

2. podman run -ti --rm --pod mypod quay.io/libpod/alpine_nginx curl localhost

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g.

[2020-08-23 08:26] ericzolf opened #7415 "A container publishing/listening to IPv6 interface leads to all connections going into time-out"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A container publishing/listening to IPv6 interface leads to all connections going into time-out.

**Steps to reproduce the issue:**

1. create _as root_ a container publishing to IPv6 e.g. `podman container run --name proxy-cnt --pod ncpod --volume certs:/etc/nginx/certs:ro,z --volume proxy-v

[2020-08-23 10:43] #7412 closed, assigned to nobody

[2020-08-23 17:29] avikivity opened #7417 "rootless podman doesn't work via sudo/su"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running with --pids-limit causes an error

[code]

Note: this is not a dup of #6834 which is about cgroupsv1.

**Steps to reproduce the issue:**

1. ```podman run --pids-limit 3123 -it --rm docker.io/fedora:32 echo hey```

**Describe the results you received:**

[code]

**Describe the results

[2020-08-23 19:02] mheon commented on #7417
Can you confirm that `podman info` is from the affected machine - it's reading cgroups v2 there, which should work. We use the same code to print that bit of `podman info` and determine if resource limits can be applied, so it `podman info` says v2, I would expect this works.

[2020-08-23 21:11] sycured opened #7418 "Dockerfile impossible to build with podman and buildah but working with Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Inexplicable error… Working with Docker but impossible to build using podman/buildah

**Steps to reproduce the issue:**

1.
[code]
2. `buildah bud --no-cache --force-rm --squash -f Dockerfile -t test:latest`

**Describe the results you received:**

[code]

full log: [error.log](https://github

[2020-08-23 21:36] yamrzou opened #7419 "rootless podman fails after creating storage.conf - run root overridden"
/kind bug

**Description**

In order to change podman's storage location from `~/.local/share/containers/storage` to `/mnt/podman-storage`, I created the following `~/.config/containers/storage.conf` (the directory didn't exist before), which I edited from `/etc/containers/storage.conf`:
[code]
Now podman fails with:
[code]

**Steps to reproduce the issue:**

1. `sudo mkdir /mnt/podman-storage &&

[2020-08-24 04:57] abpatwa commented on #4543
Thanks for the reply. offcourse any services follow/obey system proxy variable but there must be some way to exclude while podman runs (pull/run). For eg: curl command, we can test internet with and without proxy from his flags. It will really helpful if we try to found something like that. Because proxy is mandate on system for service runnig.

[2020-08-24 05:13] awerlang opened #7420 "Support podman build --pod in order to image building join pod's network"
/kind feature

**Description**

I wish rootless `podman build` could join another pod's network. My use case is for speeding up builds with a transparent http proxy.

**Steps to reproduce the issue:**

1. podman run --rm -d --pod new:builder --name local_proxy http-proxy

2. docker build --pod builder ...

**Describe the results you received:**

Rootless podman cannot use a `--network` flag to spe

[2020-08-24 08:12] avikivity commented on #7417
Here's a transcript. It was not edited or abridged in any way.

[code]

[2020-08-24 08:20] ioparaskev commented on #3843
@mheon I did another test trying to run a minimal hello-world and an alpine container. What's interesting is that I could not have both of them running at the same time. I had to stop one of them every time to start the other:

[code]

But this is not the case for the container I'm interested. The only difference (don't know if it makes any, just mentioning) is that my container service has mapped

[2020-08-24 09:24] rhatdan commented on #7418
Have you tried to build as root?

[2020-08-24 09:29] rhatdan commented on #7419
Could you make sure there is no podman currently running in your user session?

You will also need the following in your homedir.

mount_program = "/usr/bin/fuse-overlayfs"

[2020-08-24 09:37] rhatdan commented on #6943
@giuseppe PTAL
Can we do a better job of handling this for rootless containers?  Why do we need to walk the /dev directory rather then just bind mounting it?

[2020-08-24 09:42] rhatdan commented on #4543
Does
http_proxy="" podman pull ...

Work for you?

[2020-08-24 09:45] rhatdan commented on #7420
Overlay mounts should be used in rootful and rootless mode.

[2020-08-24 09:45] rhatdan commented on #7420
@mheon PTAL

[2020-08-24 09:47] jjzmajic commented on #7396
The error message is even worse when runroot is changed. It doesn't even tell you what's wrong, just that it failed to chown `/run/user/<uid>/overlay`. Deleting bolt_state.db fixes it, but you don't even get a hint that the database is overriding your config file.

[2020-08-24 10:00] rhatdan commented on #7417
In crun I see
[code]

I think your system does not support the resource-pids cgroup.

cat /proc/self/cgroup
0::/user.slice/user-3267.slice/user@3267.service/apps.slice/apps-org.gnome.Terminal.slice/vte-spawn-b8623b81-9d60-4add-83c6-1babe95d6bc0.scope

Then take this path and append it to /sys/fs/cgroup

[code]

@giuseppe WDYT?

[2020-08-24 10:19] rhatdan commented on #7396
@mheon PTAL

If either of you are interested in opening a PR to fix this, it would be appreciated.

I would not recommend removing the boltdb, but doing a `podman system reset` to remove all storage.

[2020-08-24 10:36] srd424 opened #7423 ""Error: unknown flag: --override-variant" - required for fetching arm/v7 images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

I'm trying do download the arm/v7 version of docker://docker.io/ubuntu:focal on my amd64 development machine, unfortunately I get:

[code]

Weirdly, --override-variant is suggestion by the tab-autocomplete feature in bash!

**Steps to reproduce the issue:**

1. Run `podman pull --override-arch arm --override-

[2020-08-24 10:46] srd424 commented on #7423
Workaround using skopeo:
`skopeo  --override-arch arm --override-variant v7 copy  docker://docker.io/ubuntu:focal containers-storage:docker.io/library/ubuntu:focal-armhf`

[2020-08-24 11:16] petersenna commented on #3012
@rhatdan is the preferred method for calling podman from a toolbox still `flatpak-spawn --host podman` or `podman-remote` ?

[2020-08-24 11:23] travier commented on #6879
Any update on this? Thanks

[2020-08-24 11:35] giuseppe commented on #7417
it looks like it failed to create the cgroup.  My guess is that there is no systemd session for the user, so we fallback to cgroupfs. Even if we are running on cgroup v2, we are not able to delegate a subtree for the user.

Is it running with the user `jenkins`?  Does it have a `systemd --user` daemon running?

[2020-08-24 11:51] avikivity commented on #7417
Indeed there is no systemd user daemon status. I don't understand why, since jenkins logins via ssh like an ordinary user.

I suggest improving the error message here.

[2020-08-24 12:01] avikivity commented on #7417
And how is a service supposed to work with podman? You can't expect it to be logged in.

[2020-08-24 12:10] pratham-m opened #7424 "Podman push fails : Error copying image to the remote destination: Error writing blob"
**Description**
Podman push fails for an image pulled from local registry and then re-tagged and pushed to image registry of OCP cluster.

**Steps to reproduce the issue:**
1. Setup local registry
2. Update /etc/containers/registries.conf to include insecure image registry
3. Build any image and push it to local registry
4. Pull the image from local registry
5. Tag the image with some different na

[2020-08-24 12:13] giuseppe commented on #7417
that is an on-going effort for now.  But at the moment we require lingering mode to be configured for the user.  I think there is still the issue of ensuring the user session starts before the service, or alternatively install the .service as part of the user configuration (under `~/.config/systemd/user`).

[2020-08-24 12:14] pratham-m commented on #3910
thank you for the reply @mtrmac. I have created new issue #7424

[2020-08-24 12:15] giuseppe commented on #6943
I think it is a dup of https://github.com/containers/podman/issues/4900

[2020-08-24 12:40] avikivity commented on #7417
It doesn't work for me even with lingering enabled. Is there some documentation on this?

For jenkins agents, Jenkins works by connecting to them with ssh, and without a pty. Is there any way to make this work?

[2020-08-24 13:20] edsantiago commented on #7228
Another [flake in Fedora gating tests](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/15221/pipeline/#step-177-log-1090):
[code]

[2020-08-24 13:23] sycured commented on #7418
I just tried as root and … it's working

I use podman and buildah for the rootless mode

[2020-08-24 13:37] mheon commented on #3843
Can you provide the output of a successful `podman run` comman with `--log-level=debug` added?

[2020-08-24 13:39] edsantiago commented on #7195
There are now three instances of `podman run --pod mypod ...` flaking with "container state improper", as reported above. The instances are:

80 podman pod create - hashtag AllTheOptions
* fedora-31 : test fedora-31
  * PR #7292
    * [08-15 12:51](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5618975797149696/html/system_test.log.html)
* fedora-31 :

[2020-08-24 13:40] mheon commented on #7420
If `buildah bud` supports `--net ns:` we can mock this under the hood by passing the path to the infra container's network namespace.

[2020-08-24 13:41] giuseppe commented on #7417
I've not tried with jenkins, so I am not sure what we could be miss to get it working.

Does systemd-run work in the same environment?  If `systemd-run --scope --user -p TasksMax=3123 echo foo` works and Podman+crun don't then we are doing something wrong.

[2020-08-24 14:01] rhatdan commented on #6830
@ashley-cui @baude PTAL

[2020-08-24 14:17] rhatdan commented on #7404
SGTM. Could one of you open a PR to fix this.

[2020-08-24 14:18] mgnsk commented on #7052
I found a another solution using `bindfs`. It transparently maps the files and directories. The source directory is `./code` but I'll bind it to `./mount` for easy removal.
`$ mkdir -p ./code ./mount`
`$ export CONTAINER_UID=3000`
`$ export CONTAINER_GID=3000`
`$ podman unshare bindfs --map=0/${CONTAINER_UID}:@0/@${CONTAINER_GID} ./code ./mount`

The effect is that host files appear as owned by co

[2020-08-24 14:23] ioparaskev commented on #3843
Sure
Here's a successful run output:

[code]
and here is the output from trying to launch a hello-world container

[code]

[2020-08-24 14:29] rhatdan commented on #7051
Reopen if this is no fixed in the upstream branch.

[2020-08-24 14:29] #7051 closed

[2020-08-24 14:30] rhatdan commented on #6412
@QiWang19 Did you get a chance to look at this?

[2020-08-24 14:30] #7414 closed

[2020-08-24 14:36] avikivity commented on #7417
[code]

[2020-08-24 14:37] avikivity commented on #7417
(this is with `sudo -s ... su - jenkins`, which I think is similar to jenkins login-without-tty)

[2020-08-24 14:37] rhatdan commented on #7052
@giuseppe PTAL

[2020-08-24 14:39] QiWang19 commented on #6412
I haven't started working on this now but can add it to my list

[2020-08-24 14:41] yamrzou commented on #7419
Yes, I tried on a fresh VM and it worked correctly (with the addition of mount_program). So I deleted all podman related folders, re-installed it, and it seems to be fixed. Thank you!

[2020-08-24 14:41] #7419 closed

[2020-08-24 14:42] TomSweeneyRedHat commented on #7401
@ashley-cui can you include the BZ that this is fixing either in the description or as a reply please?

[2020-08-24 14:57] ashley-cui commented on #7401
@TomSweeneyRedHat uhh I dont think this is a Bugzilla, this is a podman bug that I found while working on the --log-basic BZ

[2020-08-24 14:57] mheon commented on #3843
`DEBU[0000] Allocated lock 0 for container 834521ee676b5db827b72ff0dbb705832ec24bf4d9441343511be7bba70ce50a`

Alright. So we are on lock index 0. Page size for locks is 32/64 (I forget which), which means we have an absolute minimum of 32 locks available on the system - so this isn't a conventional exhaustion issue.

[2020-08-24 14:59] AkihiroSuda commented on #6863
Should be per user rather than per pod, so as to support attaching multiple networks.

(For single-network usecase, we can optionally support spawning slirp4netns per network. That would provide slightly better isolation.)

[2020-08-24 15:06] mheon commented on #3843
Do you have a containers.conf or libpod.conf in `/usr/share/containers/` or `/etc/containers`? If so can you provide then?

[2020-08-24 15:10] ioparaskev commented on #3843
Sure thing (`/usr/share/containers/`) ! For the record, I didn't make any changes to that file (at least I'm not aware of any changes)

[code]

[2020-08-24 16:05] asottile commented on #7396
`podman system reset` fails with the same error so it isn't helpful here sadly

[2020-08-24 16:29] maxamillion commented on #7056
[code]

[2020-08-24 16:48] TomSweeneyRedHat commented on #7401
OK, I thought this was part of the log-basic fix, nvm.

[2020-08-24 17:34] giuseppe commented on #6863
it would be better, I am just worried it becomes more difficult to keep track of open ports and cleaning them up.

[2020-08-24 19:07] rhatdan commented on #7406
It works for me.
Does `podman ps -a` and `podman images` take a long time?

[2020-08-24 20:17] sec841 commented on #7016
@AkihiroSuda I am experiencing the issue currently with podman 2.0.2.

What is the best / correct way to update rootlesskit to 0.10.0 in podman?

[2020-08-24 20:21] mheon commented on #7016
2.0.2 is several versions out of date - can you update to 2.0.4?

[2020-08-24 20:22] mheon commented on #7016
Worst case, it will be in 2.0.5, which I am releasing right now.

[2020-08-24 20:48] sec841 commented on #7016
I tried again with different versions, including the following:
podman version 2.1.0-dev (built from scratch)
podman 2.0.4

Still no luck - my rootless container is still dropping incoming TCP
connections like flies.

On Mon, Aug 24, 2020 at 4:22 PM Matthew Heon <notifications@github.com>
wrote:

[2020-08-24 20:48] sec841 commented on #7016
I will give it another shot with 2.0.5 once it's out.

On Mon, Aug 24, 2020 at 4:47 PM Sebastien G. Cote <cotegu@gmail.com> wrote:

[2020-08-24 23:42] maybe-sybr opened #7432 "[rootless] Naive container -> host networking"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I've been trying to do some naive inter-pod networking without having to do the legwork of probing and passing the host IP into my containers. Unfortunately it seems like something is now preventing me from (ab)using slirp gateway/DNS IPs to connect to services listening on the host or in

[2020-08-24 23:44] maybe-sybr commented on #7432
Having written that and read #6863 more deeply throughout, I'm fairly convinced that the right thing to be considered here is the introduction of a magic DNS record for the host rather than messing with whatever slirp is doing to make 10.0.2.2 work how I mentioned above. What I'm not familiar enough with is how DNS works in podman and if we already have some system which could do this.

[2020-08-25 00:20] mheon commented on #7432
DNS could be complicated, but I could do an entry in /etc/hosts trivially

On Mon, Aug 24, 2020, 19:44 maybe-sybr <notifications@github.com> wrote:

[2020-08-25 00:36] maybe-sybr commented on #7432
That's a great idea, @mheon. For me, not having it deal with runtime changes to host addresses/etc would be perfectly acceptable. Not sure how to best pick which IP to inject into the container for general cases though but I'm already using `hostname -I | cut -d ' ' -f1` elsewhere in my dev scripts which works fine for `::` and `0.0` listeners and might be good enough.

[2020-08-25 01:03] maybe-sybr commented on #7432
Another alternative/follow up might be to support hostAliases in podman play, which I could then populate manually using a `sed` prior to `podman play kube` to act as a poor man's helm. That would shift the onus for picking a sensible IP back to the user and presumably the plumbing would be mostly around whatever `--add-host` does for `podman create` and the kube parsing/generation.

[2020-08-25 02:29] sec841 commented on #7016
Still no luck with 2.0.5 unfortunately.  My app that's running in a rootless container is still rejecting remote connections as soon as they are opened.   If I run the app in a rootful container, it works - so basically still the same symptoms as described in the above thread.

[2020-08-25 04:42] JeongHyeon-Kim commented on #1925
I was looking for a feature and came here. I hope it will be added soon.

[2020-08-25 05:03] abpatwa commented on #4543
Dont Require this? It will work only without proxy as registry is inhouse-server. I need to exclude the proxy variable while run podman. With proxy variables its going over internet and then recvd error..

[2020-08-25 06:37] afbjorklund commented on #4511
You are right. Just mentioned that if it is impossible to accomplish signing, then it is possible to install from source (using "brew install") or to download a binary using the terminal. The signing blocks the straight-forward approach of using the browser...

[2020-08-25 07:42] AkihiroSuda commented on #7016
Probably different issue, please open a new issue with full reproducer

[2020-08-25 07:51] yamrzou opened #7434 "[Question] Is there a way to limit the size of the logs?"
/kind feature

Is there a way to make sure container logs do not grow indefinitely?
Would it be safe to remove ~/.local/share/containers/storage/overlay-containers/*/userdata/ctr.log while the container is running?

[2020-08-25 09:16] AkihiroSuda commented on #6863
As long as the port_handler is set to rootlesskit, `pkg/rootlessport` is spawned per Pod, so we don't need to keep track of ports.

[2020-08-25 12:25] storrgie commented on #7016
@sec841 if you're able to reproduce this well then please open something. When I was encountering issues with this it would happen periodically in away that I couldn't induce (just had to wait for it to happen).

[2020-08-25 12:33] rhatdan commented on #3012
@petersenna I have no idea @debarshiray Might?

[2020-08-25 12:34] rhatdan commented on #6879
I believe this is fixed in podman 2.0.5 or earilier.

[2020-08-25 12:37] sec841 commented on #7016
Sure - I'll try to put together a minimal repro and will open up a new issue. Thanks all.

[2020-08-25 12:38] rhatdan commented on #6879
I just checked podman 2.0.5 and it seems to be fixed.

[2020-08-25 12:38] #6879 closed

[2020-08-25 12:55] rhatdan commented on #7418
This indicates that most likely there is something in the user namespace that is blocking the build of the container image.  Usually this is UIDs outside of the range or a container within the build doing something the kernel prevents a non root user from doing.

[2020-08-25 13:35] mheon commented on #7434
There is a maximum log size for containers, in bytes, defined in `containers.conf` - it is defaulted to -1, unlimited. I believe setting that should accomplish what you're looking for?

[2020-08-25 13:36] eriksjolund opened #7440 "kubic repo: "[MIRROR] libslirp-4.3.1-1.el8.x86_64.rpm: Downloading successful, but checksum doesn't match.""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The __kubic__ repo contains some internal checksum mismatch for the package __libslirp__.

I discovered that when I put the installation instructions for Centos 8:
https://podman.io/getting-started/installation
[code]
in a Dockerfile (but with `sudo` removed)

**Steps to reproduce the issue:*

[2020-08-25 14:24] pratham-m commented on #7424
Debugged the issue and found that the issue was with user permission issue within the OCP cluster, and not related to podman.
Closing the issue.

[2020-08-25 14:24] #7424 closed

[2020-08-25 14:31] dustymabe opened #7441 "rootless: can't run systemd in a container: Failed to create control group"
/kind bug

**Description**

On Fedora CoreOS (cgroups v1) I'm trying to build and run a systemd
container via rootless podman and it fails:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

<details>

[code]

</details>

[2020-08-25 15:04] edsantiago commented on #7378
@baude I thought you had fixed this in the image? Did you forget to tag or push or something? Seeing the same failure [in pr 7437](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5975699540410368/html/integration_test.log.html#t--podman-healthcheck-that-should-fail--1)

[2020-08-25 15:09] baude commented on #7378
i lengthened the timeout.  that might not have been enough.  ill look and see.

[2020-08-25 15:13] edsantiago commented on #7378
ISTR you changing it from 3 to 10, but the error log is showing 3:
[code]

[2020-08-25 15:33] afbjorklund commented on #7440
Looks like multiple builds of the same package, from different hosts (and with different checksums)

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/repodata/

[code]

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/x86_64/

[code]

[2020-08-25 15:42] giuseppe commented on #7441
does it work if you force cgroupfs?

`podman --cgroup-manager cgroupfs run -it --rm --name httpd httpd`

[2020-08-25 15:47] lsm5 commented on #7440
OBS is stuck atm, but i'll rebuild a new one asap.

[2020-08-25 15:52] dustymabe commented on #7441
That doesn't appear to help:

[code]

[2020-08-25 16:05] bcstinch opened #7442 "Allow adding things to /etc/hosts via the kube yaml format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

In talking with mheon on IRC there seems to be no way add an entry to a container's or pod's /etc/host via the kube yaml format. For a full example of what I am trying to do see this: https://paste.debian.net/hidden/e0919611/

What should happen is the --add-host flag should be translated to something (li

[2020-08-25 17:19] edsantiago opened #7444 "podman images: panic"
I don't suppose this one will be easily reproduced. I was infinite-looping a `podman build` / `podman rmi` for purposes of reproducing #7148. I ^Ced it (in the middle of `build`), ran `podman images`, and boom:
[code]
master @ 8fdc1169546421a239644159bbaf38db407f2b0f on f32 but `podman-2.0.4-1.fc32.x86_64` barfs similarly:
[code]
buildah runs fine:
[code]
I will leave this system untouched for the

[2020-08-25 18:00] awerlang commented on #7420
It's supported in rootless buildah.

[2020-08-25 18:02] lsm5 commented on #7440
should be fixed now. Closing this, please reopen if unfixed on your side.

[2020-08-25 18:03] lsm5 commented on #7440
slirp4netns-1.1.4-2 and libslirp-4.3.1-2 are the builds with the fix

[2020-08-25 18:04] rhatdan commented on #7396
@mheon If we delete the database, will the database be regenerated, or will we have potentially lost data?

[2020-08-25 18:05] rhatdan commented on #7396
Podman system reset should work in this situation. I believe.  Could you open a separate issue on this?

[2020-08-25 18:07] mheon commented on #7396
We will not re-generate the DB, so you will lose any currently-created containers. There is no safe way to migrate a container to a new storage path at present.

[2020-08-25 18:07] sycured commented on #7418
I did `buildah unshare` before to try to build.

Have you any idea to fix it or to give you the right logs?

SELinux was setup at permissive level to avoid any block/kill due to AVC.

[2020-08-25 18:09] rhatdan commented on #6990
@QiWang19 Have you been able to look into @mheon suggestion?

[2020-08-25 18:17] rhatdan commented on #1925
Best way to get new features is to open PRs :^)

[2020-08-25 18:19] rhatdan commented on #4543
I don't understand, You can unset the environment or what ever to remove this.  These environment variables effect golang, not even something Podman understands.  We are not going to add an ignore the environment flag to Podman.

[2020-08-25 18:20] siretart opened #7445 "Permission denied for overwriting files in /tmp"
/kind bug

**Description**

[code]

This issue is reproducible with *Debian* and *alpine* images, but not with ubi7 or ubi8 images. What's different about them?

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2020-08-25 18:26] asottile commented on #7396
while making the other issue, I also noticed that `podman system reset` blows away `~/.config/containers/storage.conf` -- 🤔

[2020-08-25 18:31] asottile opened #7446 "podman system reset fails when switching from vfs to overlay"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Extending from #7396 -- while switching from vfs to overlay `podman system reset` is unable to reset state due to an error in changing the graph driver

**Steps to reproduce the issue:**

1. run any container with the vfs graph driver

2. set `~/.config/containers/storage.conf` to:

[code]

3

[2020-08-25 18:31] asottile commented on #7396
opened #7446 for the "unable to reset" issue 👍

[2020-08-25 18:35] asottile opened #7447 "podman system reset blows away storage configuration file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Set up a storage configuration file (`~/.config/containers/storage.conf`) -- for example to set up `overlay`

2. Run `podman system reset`

**Describe the results you received:**

[code]

No mention of blowing away configuration (I really don't expect thi

[2020-08-25 18:35] asottile commented on #7396
also #7447 for the "reset deletes storage.conf"

[2020-08-25 18:41] edsantiago commented on #7445
It's the sticky bit in `/tmp`. Removing it makes everything work fine. `strace` is not especially helpful:
[code]
Nothing obvious wrt capabilities:
[code]

[2020-08-25 18:41] asottile commented on #7445
this also happens outside of podman so I don't think this is a bug:

[code]

I believe it's due to the sticky bit on `/tmp` which changes how permissions work slightly (only the owning user can write to the file)

[2020-08-25 18:52] TomSweeneyRedHat commented on #7434
If so, this might be a good entry for the troubleshooting guide....

[2020-08-25 19:34] debarshiray commented on #3012
@harrymichal is already looking at providing a `podman` wrapper inside toolbox containers that transparently forward the invocation to the host.

At the moment, this will most likely use the Flatpak infrastructure (bus name: `org.freedesktop.Flatpak`, interface: `org.freedesktop.Flatpak.Development`). It is a tiny little daemon that already exists and doesn't pull in too many dependencies, so it's

[2020-08-25 19:36] siretart commented on #7445
I've investigated this a bit further, and with the help of `#debian-devel`, we believe the error doesn't happen on distros that compile bash with the option `--with-afs`.

On Debian, the kernel sets `/proc/sys/fs/protected_regular` to 2 as a hardening feature. However, it seems that Fedora/RHEL based distributions defeat this protection. I've posted some strace outputs here: https://gist.github.co

[2020-08-25 19:48] edsantiago commented on #7445
Interesting: I did confirm earlier that the problem doesn't manifest on Fedora (32):
[code]
This is indeed bash. However, something else that tries to `open()` the file fails:
[code]
So indeed, there's probably not much podman can do about it. @siretart thank you for the report and the followup. I'm closing, please reopen if new information arises.

[2020-08-25 19:48] #7445 closed

[2020-08-25 19:52] baude commented on #7444
@vrothberg you will have to chase this down and determine how you want to deal with it. i have put a simple nil check to stop the panic.  it would probably pay to perform better error handling in libpod/image/filters.go:49 when you get an error on :43

[2020-08-25 19:59] rhatdan commented on #7441
Do you have the SELinux boolean turned on?
setsebool -P container_manage_cgroup 1

[2020-08-25 20:00] rhatdan commented on #7441
Do you see any AVCs?

What version of Podman?

Podman is supposed to pick up a different container label when running systemd within a container.

rpm -q podman container-selinux

[2020-08-25 20:17] rhatdan commented on #7446
@ashley-cui PTAL

[2020-08-25 20:35] edsantiago commented on #7148
Woot, I just reproduced it with podman @ master @ 8fdc1169546421a239644159bbaf38db407f2b0f:
[code]
Unfortunately I don't see the 'got output' string.

[2020-08-25 21:24] edsantiago commented on #7148
@giuseppe I hand-patched buildah per your 2559 above. The output is not helpful:
[code]
What else do you suggest that I could try?