[2020-05-21 20:53] rhatdan commented on #5864
@lifubang Are you still seeing this in the master branch?  I believe it is fixed

[2020-05-21 20:53] #5864 closed

[2020-05-21 20:56] rhatdan commented on #6286
Yes we need to be able to build without varlink.

[2020-05-21 21:02] rhatdan commented on #6303
https://github.com/containers/libpod/pull/6275 Should fix this.

[2020-05-21 21:03] rhatdan commented on #6303
Well it will fix the podman  version one.

[2020-05-21 22:29] agners commented on #6140
@halfline

I guess by "weston needs code similar to the mutter code" you mean mainliy `sd_uid_get_display`? I tried to replicate @bam80's setup, and added `sd_uid_get_display` in case `
`sd_pid_get_session` failed (it does fail with `-ENODATA`). I do get a session it seems, at least I do not get  a return code. However, I then get:

[code]

It seems `TakeControl` D-Bus call fails, I haven't looked

[2020-05-21 23:12] ancms2600 commented on #5790
I may have run into this, as well. I decided to trial `podman` at hosting an in-house security ctf event, and had it running 41 pods for about a day before I noticed some service ports that were previously checked and verified working had suddenly closed. The container logs show no error, the app is still running inside. But the host-bound port, when connected to via `nc`, was now refusing connect

[2020-05-21 23:38] mheon commented on #5790
If you still have the setup available, an `iptables -nvL` and `iptables -t nat -nvL` from the host would be greatly appreciate (assuming this was run as root).

[2020-05-21 23:52] ancms2600 commented on #5790
It's still up. In my case it was a mix of root and rootless, mostly rootless. The container where the port broke was rootless. Missing port was `9003`. I was wrong, I do see it in `netstat`.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-05-22 00:11] x70b1 commented on #5964
I can confirm this.

[code]

This yaml create a container like:
[code]

[2020-05-22 00:12] mheon commented on #5906
We fixed this in `containers.conf` in 1.9.1 - closing as such.

If anyone can still reproduce on 1.9.1+, we can reopen.

[2020-05-22 00:12] #5906 closed

[2020-05-22 00:15] mheon commented on #5922
Sorry that this issue's been neglected for so long. I see that you were running a v2.0.0-dev build; there's been a massive amount of change to master over the last month, so would it be possible to try again with the latest master?

Also, are you running Podman rootless, or as root?

[2020-05-22 00:15] dsbaha commented on #6114
Hi, I just wanted to quickly chime in and say a few things.
First, IPv6 into my containers works without a problem! Please see my current cni config;
[code]
Please be aware you have to configure ip6tables (or whatever your OS firewall is) for forwarding.

Second issue is that I can't statically set an IPv6 address with the --ip option.  If I remove the following check, and re-compile, statically s

[2020-05-22 00:18] mheon commented on #6114
There should be a dedicated flag for static IPv6 addresses (`--ip6`) but we haven't wired it in yet. It's actually a simple change - I'll see about getting it landed in master tomorrow.

[2020-05-22 00:54] halfline commented on #6140
are you logged in with the same user on a different VT? if so `sd_uid_get_display` will return that one and try to take control of a session that already has a controller. gnome doesnt really support logging in more than once for the same user. assuming you are trying yo log into two sessions with the same user at the same time, you could make it work by picking the newest session instead of the s

[2020-05-22 07:21] rsaggino commented on #2748
We are hitting this issue on Podman 1.4, RHEL 7.6.
Version:            1.4.4
RemoteAPI Version:  1
Go Version:         go1.10.3
OS/Arch:            linux/amd64

I am also able to solve the issue with:
iptables -A CNI-FORWARD -p tcp -m tcp --dport $PORT -j ACCEPT

Should we try reopen this?

[2020-05-22 09:54] maxm123 opened #6334 "APIv2 Missing Network Endpoints"
/kind bug

In the list of APIv2 endpoints is an inconsistency concerning the use of the /libpod prefix. It's logical to use the '/libpod' prefix for services like pods, generate/play kube and the swagger (e.g. `VersionedPath("/libpod/pods/json")`).
But I don't understand this for volumes, networks and manifests (I'm not sure about container health checks). Are they intentionally prefixed?
I stumbl

[2020-05-22 12:09] storrgie commented on #5828
Wanted to come back and provide another update since the intent was always a "tombstone" for others to find when encountering the same things. We'd optioned for fork 3 when beginning deployments, it worked quite fine for very simple things (e.g. postgres is quite a well maintained delightfully simple container that binds to a singular port). This `--net=host` option falls down quite hard for some

[2020-05-22 12:33] apollo13 commented on #6274
@chuanchang You are getting back a 404, `v1.40/libpod/build` doesn't exist. You most likely ment `v1.40/build` instead since that are the docker api endpoints.

[2020-05-22 13:07] #5881 closed

[2020-05-22 13:08] rhatdan commented on #5765
@edsantiago @jwhonce Does this issue still exists?

[2020-05-22 13:29] mheon commented on #6334
All our API endpoints are duplicated (containers, pods, volumes, images, exec sessions), and most offer the additional functionality we've added that Docker does not support (the list containers endpoint, for example - `/v1.0/libpod/containers/json` - supports displaying pod information - the compatibility endpoint, `/v1.40/containers/json`, does not).

Can I ask what Podman version you tried with

[2020-05-22 13:45] baude commented on #6274
i also just made a change upstream so libpod/build now exists.

[2020-05-22 13:46] baude commented on #6334
We have not implemented compatibility endpoints for volumes as of yet.

[2020-05-22 13:47] baude commented on #2748
you should file a bugzilla

[2020-05-22 14:51] maxm123 commented on #6334
I use v1.9.2.
Yes, I see that the `r.HandleFunc(...)` calls without libpod are missing for volumes and networks which they do not for e.g. containers. I've spent ~an hour looking through the code and to me it seems as though the services work exactly like the docker spec requires them to do.

There are some parameters which aren't handled yet and the network/connect and network/disconnect endpoint

[2020-05-22 15:11] mheon commented on #6334
Network stuff is difficult because of our CNI network stack, but I think I have some ideas about it. The inspect endpoint should already be ready.

[2020-05-22 15:48] lsm5 commented on #6162
Closing. Please reopen if the issue persists..

[2020-05-22 15:48] #6162 closed

[2020-05-22 15:53] ktdreyer opened #6349 "remove doc reference to upcoming RHEL 7.7 release"
/kind bug

**Description**

The troubleshooting documentation says "Note RHEL 7 and CentOS 7 will not have support for this until RHEL7.7 is released", and Red Hat [shipped RHEL 7.7](https://access.redhat.com/errata/RHBA-2019:2351) a while ago.

**Describe the results you expected:**

The documentation should describe the default behavior with the latest released RHEL 7 utilities.

[2020-05-22 17:38] rhatdan commented on #6349
Please open a PR to fix the issue.

[2020-05-22 21:53] gasinvein opened #6361 "Podman crashes while loading OCI image from BuildStream"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

An OCI image created by BuildStream (namely `freedesktop-sdk`) casuses Podman to crash while trying to import it. No matter if it's a tarball or a plain directory.

**Steps to reproduce the issue:**

1. Build [freedesktop-sdk](https://gitlab.com/freedesktop-sdk/freedesktop-sdk) with [buildstr

[2020-05-22 23:27] storrgie commented on #6084
I was finally able to consume 1.9.2 on F32. After a `podman system reset` I'm still seeing this error. I'm instancing the container with a unit file:
[code]

[2020-05-23 01:10] mheon commented on #5891
Can anyone retry this with Podman v1.9.2 or later and report if it's fixed? I suspect that we've caught it already

[2020-05-23 01:12] mheon commented on #6084
Do you have a `~/config/containers/libpod.conf` and if so, can you provide the contents of it?

[2020-05-23 04:38] richpeaua opened #6364 "Can't limit memory with podman run -m on debian/ubuntu ditros"
<!--
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
/kind bug

**Description**

Was trying to test drive Hashicorp Nomad podman driver on Debian/Ubuntu machines and I ran into an interesting issue. Deployment of containers, via Nomad, fail, yet if I just ran `podman run <image>` it worked fine.

The errors I was gettin

[2020-05-23 04:41] richpeaua opened #6365 "podman unable to limit memory (-m flag) on Ubuntu/Debian distros"
/kind bug

**Description**

Was trying to test drive Hashicorp Nomad podman driver on Debian/Ubuntu machines and I ran into an interesting issue. Deployment of containers, via Nomad, fail, yet if I just ran `podman run <image>` it worked fine.

The errors I was getting were **"failed to write -1 to /sys/fs/cgroup/memory/machine.slice/libpod-2e61c7b46bc2aeed6dadecb07583e97e03ffcc694.scope/memory.me

[2020-05-23 04:47] #6364 closed

[2020-05-23 11:55] rhatdan commented on #6361
@mtrmac PTAL

[2020-05-23 12:09] rhatdan commented on #5857
@giuseppe Any movement on this?

[2020-05-23 12:33] rhatdan commented on #5891
Reopen if this is not fixed.

[2020-05-23 12:33] #5891 closed

[2020-05-23 12:43] geverartsdev opened #6368 "[Rootless container] sd-bus call: Permission denied: OCI runtime permission denied error"
**BUG REPORT**

/kind bug

**Description**

Launching rootless container used to work, but doesn't anymore, and I have no idea what changed since then.  This errors shows up when I try to run a container without root permissions, it works great when launched as root.

**Steps to reproduce the issue:**

1. Running Ubuntu 18.04.4 LTS
It happens on both
(A) a VM running ubuntu desktop: `5.3.0-53-gene

[2020-05-23 13:10] agners commented on #6140
@halfline Yes I was still logged in with the same user. I then logged out, and Weston worked fine from inside the toolbox container. I guess it is worth adding `sd_uid_get_display` without pid. I am not sure if I would go further than that at this point, since most application do not support two sessions anyway.

[2020-05-23 14:05] geverartsdev commented on #6368
**Some more investigation...**
Launching a simple rootless container with `crun` directly works fine too:
<details>
<summary> The content of the config.json file is shown here</summary>

[code]

</details>

To run I simply did:
[code]
The limitation of resources seems to work, launching an infinite loop inside of the container instead of the `/bin/echo "Hello World"` doesn't exceed 50% of cpu usag

[2020-05-23 14:41] geverartsdev commented on #6365
Did you try adding `swapaccount=1` as parameter to your init process? (Probably by modifying grub configuration)

[2020-05-23 14:51] dcode commented on #5431
I just ran into this as well and thinking through it, it makes sense. I'm not familiar enough with the intimate details, but seems like CNI doesn't have any sort of daemon (sort of the point, I guess), would it be possible to use a dbus-activated service (via systemd) that could examine the state of containers and recreate the appropriate entries when firewalld reloads, e.g. when `Reloaded` signal

[2020-05-23 16:29] geverartsdev commented on #4902
Hi @onlyjob , I am currently facing the same issue, did you find a way to solve it?
[code]

<details>
<summary>
Error with log-level=debug
</summary>

[code]

</details>

@giuseppe The output of `/sys/module/apparmor/parameters/enabled` for me, there is no tmpfs mount anywhere in that path:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

<details>
<summary>Cl

[2020-05-23 17:15] mtrmac commented on #6361
This should be fixed by https://github.com/containers/image/pull/940 ; testing would be appreciated.

[2020-05-23 18:02] mtrmac commented on #6259
(That’s not an “image manifest”; image manifest is the thing manifest-digest contains a digest over. This JSON embedded in the signature does not have a specific name.)

That’s generated as part of the signature; there isn’t an API to generate it from its components. Hence the suggestion to use (podman push) and override the GNUPG executable.

If you want to implement different code doing the sign

[2020-05-24 01:07] onlyjob commented on #4902
I had this problem under `nomad-driver-podman` and I had to disable *apparmor* by adding `apparmor=0` to `GRUB_CMDLINE_LINUX_DEFAULT` in `/etc/default/grub`.

Upgraing `crun` might be enough though. I did not have a chance to spin-up another server to confirm that...

[2020-05-24 01:45] richpeaua commented on #6365
@geverartsdev Geeze have I just been spoiled by the RPM distros lol. I totally forgot about the kernal params that aren't switched on by default in other distros. Yes this totally worked thank you.

A follow up question though. Are there changes that can be made to not have this problem out-of-the-box. Docker doesn't have this problem, so I'm guessing they are doing something to bypass ( I say byp

[2020-05-24 02:20] EricJeffrey opened #6370 "Varlink API - GetEvents not working on Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

call to GetEvents on Ubuntu only return a system events, instead of what `podman stats` output

**Steps to reproduce the issue:**

1. On Ubuntu 18.04, installed by kubic

2. varlink call unix:/run/podman/io.podman/io.podman.GetEvents "{}"

**Describe the results you received:**
`{
  "events":

[2020-05-24 03:08] mheon commented on #6370
@baude PTAL

On Sat, May 23, 2020 at 10:20 PM Eric <notifications@github.com> wrote:

[2020-05-24 03:08] mheon commented on #5931
Believe this one is fixed in containers/common, should be in Podman
v1.9.2 and up.

On Sat, May 23, 2020 at 8:10 PM github-actions[bot]
<notifications@github.com> wrote:

[2020-05-24 08:21] geverartsdev commented on #4902
@onlyjob thank you for replying, indeed deactivating apparmor in the kernel does the trick.  Though I feel a bit uncomfortable about this solution.  Deactivating a security feature of the kernel to be able to use a program that is supposed to provide a safe isolation between containers makes me ticker.

I already had the latest version of `crun` (0.13 at this day) installed.

[2020-05-24 08:24] yurinnick opened #6371 "Missing libglib2.0 dependency for Debian 10 packages"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Debian 10 package has missing dependency `libglib2.0-0`

**Steps to reproduce the issue:**

1. Follow the Debian 10 installation instruction from the `podman.io` website

2. Verify installation:

[code]

3. Install `libglib2.0-0`

[code]

4. Verify fix:
[code]

**Describe the results you rece

[2020-05-24 08:48] geverartsdev commented on #6365
@richpeaua I am please to know that it worked for you.

I guess it could be possible to avoid running into this issue out of the box yes.  When you take a look at the configuration file (`config.json`) that podman transmits to the container runtime in use, you can see that whenever you activate any memory limit, podman will also add a swap usage limit (which was in my case the double of the memory

[2020-05-24 10:36] dataegg commented on #5306
I resolved this issue with podman 1.6.4 on CentoOS 8.1.1911 by adding the following to the end of "/usr/lib/tmpfiles.d/tmp.conf"

R! /tmp/run-992

This way the directory is removed on reboot.

992 is the userid

[2020-05-24 10:45] afbjorklund commented on #6371
We have this in minikube as well, our workaround is to install it explicitly:

[code]

Unfortunately it was never reported upstream, at the time. (cc @priyawadhwa)

https://github.com/kubernetes/minikube/commit/abf35cfbc15b52b1d5149f66d9224a6fa7d742a3

Thanks for doing it.

Same with Ubuntu.

[2020-05-24 10:46] afbjorklund commented on #6365
We have this issue with Minikube on Ubuntu as well, there is a difference between Docker and Podman. As a workaround, we have to disable all memory limits (not only swap) for Podman...

[2020-05-24 11:18] afbjorklund commented on #6237
Upgraded to Ubuntu 20.04 and podman 1.9.2 (from the opensuse kubic repositories), same thing.

So most likely we will downgrade this to 1.8.2 for the release. Will try to rebuild the source package:

`git checkout -b debian v1.8.2`
https://github.com/containers/libpod/releases/tag/v1.8.2

`git cherry-pick debian`
https://gitlab.com/rhcontainerbot/podman/-/tree/debian

[2020-05-24 11:23] afbjorklund commented on #6240
I will try to rebuild 1.8.2~2 from source. Sometimes I miss the .src.rpm.

[code]

[2020-05-24 12:04] onlyjob commented on #4902
Yes, indeed disabling _apparmor_ feels not ideal but until recently the whole Debian world was running without _apparmor_ and it was OK. IMHO sometimes _apparmor_ causes more harm than good with hard-to-troubleshoot errors like this very one or when special workaround required for some apps...

I'm not sure how much "isolation between containers" _apparmor_ provides, if any.

[2020-05-24 12:28] afbjorklund commented on #6240
@lsm5 : the package failed to build from source, something about varlink ?

[code]

[code]

Also had to make the pbuilder BUILDHOME writable, for the go cache:

[code]

[code]

But then I was able to build the stable package for ubuntu focal:

[code]

`dpkg: warning: downgrading podman from 1.9.2~3 to 1.8.2~2
`

And now `podman-remote build` works again, unlike before. (#6237)

[2020-05-24 14:49] geverartsdev commented on #4902
Okay, thank you for your input on this, I will go with this trick for now as I am anyway not in a production environnement.  But if someone of the podman team can help me find another fix (and while we are at it enlighten my mind about what does podman need apparmor for, if it does need it) I would gladly ear it!

[2020-05-24 14:55] afbjorklund commented on #3924
I was able to find the 1.8.2~2 package in https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman?rev=137 eventually.

But I don't see how to download the podman_1.8.2~2.tar.gz file with the debian directory from there ? So will have to some guessing of the actual packaging, anyway.

The quoted repositorites seem to be outdated.

`Vcs-Git: git://github.com/lsm5/libpod.git`

[2020-05-24 15:00] alitvak69 commented on #3924
You need to sign up with suse build service and login with your account.
Then you will be able download .gz

On Sun, May 24, 2020, 9:56 AM Anders Björklund <notifications@github.com>
wrote:

[2020-05-24 15:00] afbjorklund commented on #3924
Same story with 1.9, as with the previous 1.5 series (had to rebuild `v1.8.2` from source)

Would it be possible to host the stable podman releases somewhere, like crio is doing ?

[2020-05-24 15:01] afbjorklund commented on #3924
Will do, but I do think that it would have been a lot easier to use git for this.

[2020-05-24 15:13] afbjorklund commented on #6240
Was able to find the original files for 1.8.2~2 now, with the working .dsc file. So ignore above

https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman?rev=137

[2020-05-24 16:59] RheaAyase commented on #6084
The error is still present.
* `podman-1.9.2-1.fc32.x86_64`
* `~/config/containers/libpod.conf` does not exist
* `/usr/share/containers/libpod.conf` says it's systemd (default and unchanged)
* `$ systemctl --user` -> `Failed to connect to bus: No such file or directory`

[2020-05-24 17:03] RheaAyase commented on #6084
@mheon should this issue be reopened or opened as a new issue? (The history here is pretty good, I'd rather keep it.) Even if it's a systemd bug, to serve as a tracker and to point people in the right direction.

[2020-05-24 17:15] mheon commented on #6084
I think we should probably re-open until a patch can be merged to improve
the error message.

On Sun, May 24, 2020, 13:03 Radka Gustavsson <notifications@github.com>
wrote:

[2020-05-24 18:50] storrgie commented on #6084
Correct, my system errors with the same state that @RheaAyase enumerates above.

[2020-05-24 21:19] lsm5 commented on #3924
There's [experimental work](https://github.com/debbuild/debbuild-macros) to build deb packages using rpm spec files. I would really like to take our Kubic project in that direction, but not sure when I can find sufficient time for it. I'll probably play with it in the Kubic unstable project whenever I can and migrate the changes to testing and stable projects once they are ready.

I welcome anyone

[2020-05-25 01:07] mheon commented on #5979
Sorry for the delay here, the team's been very busy with Podman v2.0 over the last month.

This is an artifact of our detach key logic, which actually pauses sending any keystrokes until it confirms it is not the detach keys (IE, until a key has been pressed following the C-p, the code assumes it could be a C-p C-q, so sends nothing). I can't think of a way of altering that behaviour without makin

[2020-05-25 02:17] harmic commented on #2396
@zhuguoliang I got stuck with that also. I did this:

    systemctl restart io.podman.service

which seemed to have the desired effect.

[2020-05-25 05:08] EricJeffrey commented on #6370
well, guess I've figured it out, might because of the `events_logger` configuration. also is `libpod.conf` replaced by `containers.conf`?

[2020-05-25 05:50] afbjorklund commented on #3924
Not sure that this would help with getting the packages accepted upstream, so that would probably mean a difference betwen the "system" packages and the "vendor" packages - just like with Docker.

Then again, maybe that is the way to go in order to make the latest and greatest available faster. I was more requesting something similar to the RHEL packages, that would actually move a bit _slower_...

[2020-05-25 06:43] EricJeffrey commented on #6370
turn out to be my unknown about varlink, need to use `more` parameter to get stream data.

[2020-05-25 06:43] #6370 closed

[2020-05-25 06:50] giuseppe commented on #5857
I am not sure there is anything to do, AFAICS it is just a warning without any effect

[2020-05-25 08:21] vrothberg commented on #6286
FWIW, I cannot reproduce on latest master on F32.

[2020-05-25 08:24] vrothberg commented on #6371
Thanks for the report!

@lsm5 PTAL

[2020-05-25 08:27] vrothberg commented on #5829
Closing due to inactivity. Feel free to reopen at any time.

[2020-05-25 08:27] #5829 closed

[2020-05-25 08:32] afbjorklund commented on #6371
The rpm package doesn't have a dependency either, but is saved by the RPM autodeps:

`libglib-2.0.so.0()(64bit)`

But the specfile only lists the build (devel) requirements, and not the runtime requirements...

`#Requires: glib2`
`BuildRequires: glib2-devel`

[2020-05-25 08:52] xcffl commented on #5605
As a temperary workaround, one can use the following  script to start containers by systemd directly, instead of pods:

[code]

[2020-05-25 10:27] lsm5 commented on #6286
yes, I see that too. I'll update my PR to only get rid of the `go generate` step when building without varlink and not specify varlink tag by default.

[2020-05-25 10:52] rhatdan commented on #6368
It looks like for some reason when attempting to communicate with systemd over dbus, you are getting permission denied. @giuseppe WDYT?

[2020-05-25 11:11] rhatdan commented on #5914
@mestaritonttu Are you still seeing this issue?
@giuseppe Any ideas?

[2020-05-25 11:12] rhatdan commented on #5955
This should now be fixed in master branch, as far as I can see.  Reopen if I am mistaken.

[2020-05-25 11:12] #5955 closed

[2020-05-25 11:13] rhatdan commented on #5838
@giuseppe @haircommander Any movement on this?

[2020-05-25 11:13] rhatdan commented on #5931
Will be released in July.

[2020-05-25 11:13] #5931 closed

[2020-05-25 11:24] rhatdan commented on #6084
/usr/share/containers/libpod.conf should also not be there.  We don't want to be shipping libpod.conf at all anymore.
rpm -qf /usr/share/containers/libpod.conf
podman-1.9.2-1.fc32.x86_64

That should be removed.

[2020-05-25 11:42] #5857 closed

[2020-05-25 12:13] mestaritonttu commented on #5914
Yep, still seeing this with podman 1.9.3 and an up-to-date system.

[2020-05-25 12:57] lsm5 commented on #6371
ack, thanks. I'll take care of that too.

[2020-05-25 13:50] harshadgavali opened #6376 "Adds normal user to root group when container is launched with --user option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Adds normal user to root group when container is launched with --user option.
Happens when running podman with sudo or without sudo.

**Steps to reproduce the issue:**
1. Create container and add normal user
[code]
2. Verify user groups
[code]
3. Verify with --user option
[code]

**Describe th

[2020-05-25 15:29] Hendrik-H opened #6377 "can not use fluentd log driver"
/kind bug

**Description**
According to the bash completion script in https://github.com/containers/libpod/blob/master/completions/bash/podman it seems like podman is supporting several log drivers, including fluentd. However when starting a container with the fluentd log driver `fluentd` is stated to be an invalid argument.

**Steps to reproduce the issue:**

1. podman run --name nginx --rm -it -

[2020-05-25 15:41] mheon commented on #6377
Looks like a bug in the completions script; we do not presently support the
fluentd log driver.

On Mon, May 25, 2020, 11:30 Hendrik-H <notifications@github.com> wrote:

[2020-05-25 15:59] Hendrik-H commented on #6377
What log drivers are supported? There seems to be some support for `journald` but entries are logged as binary and thus `journalctl -a` is required to see them and the `CONTAINER_NAME` field does not seem to be set.

Is the support for logging drivers planned anytime soon?

[2020-05-25 16:06] mheon commented on #6377
We presently support `journald` and `k8s-file` (which is somewhat similar to Docker's `json-file` but presented in a standard format used by Kubernetes and the CRI). Support for `CONTAINER_NAME` is coming soon (probably Podman v2.0; last I checked, all necessary changes for it have merged).

Proper logging drivers are more tricky, because Podman itself isn't doing the logging, but `conmon` (our ve

[2020-05-25 17:07] Hendrik-H commented on #6377
I tried the `k8s-file` log driver now using `podman run --name nginx --rm -it --log-driver k8s-file --log-opt path=/root/mycontainer.json nginx` but that resulting log file does not contain JSON but what I see as stdout prepanded with a timestamp and "stdout". Lines look like this:
[code]

The call looks just like what is documented in http://docs.podman.io/en/latest/markdown/podman-create.1.html,

[2020-05-25 18:10] FlorianLudwig opened #6378 "confusing debug message about lipod.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

I cannot find any `lipod.conf` nor `libpod.conf` on my system. It is not obvious which configs podman is making use of.

**Describe the results you received:**

**Describe the results you expected:**

Show full path of all loaded configs when running with `--log-level=debug`

**Additi

[2020-05-25 18:31] mheon commented on #6378
We'd be looking at:
- `/etc/containers/libpod.conf`
- `/usr/share/containers/libpod.conf`

Can you confirm neither of these exists? If so, this definitely sounds like a bug...

[2020-05-25 19:18] #6361 closed

[2020-05-25 19:22] FlorianLudwig commented on #6378
@mheon `/usr/share/containers/libpod.conf` does exist. Sorry, I just checked in `~` and `/etc`.

While `lipod.conf` still does have a typo it would be great to not fix the typo bug instead having the absolute path in the log would be quite helpful.

[2020-05-25 19:43] mheon commented on #6378
I didn't even notice the typo when you originally posted - oops. I agree that printing full paths would be nice here, definitely.

[2020-05-25 20:03] lsm5 commented on #6371
just pushed podman 1.9.3 to centos and debian on OBS along with the dependency fix in conmon, should be available in a bit..

[2020-05-25 21:54] lsm5 commented on #6371
Closing.. Please reopen if the issue persists after upgrading to podman 1.9.3 + conmon 2.0.16~2

[2020-05-25 21:54] #6371 closed

[2020-05-25 23:40] NTMan commented on #5922
I see that since build `2.0.0-0.13.dev.git5b4e91d.fc33` broken `WORKDIR`. Any command in entrypoint that should be executed relatively WORKDIR now not working. Because start directory now `/` instead of `WORKDIR`.

I am running Podman rootless.

[2020-05-25 23:52] sharmay commented on #6084
Removed `rm /usr/share/containers/libpod.conf`
Verified `ls -l /usr/share/containers/libpod.conf`
[code]

reboot system (test system)

`podman run -it --rm fedora:32`
[code]
`rpm -q podman`
[code]

[2020-05-25 23:59] mheon commented on #6084
@rhatdan From my reading of the issue, we've probably fixed the libpod.conf issues in containers/common, but now we're giving this error in cases where the user does not have a systemd user session enabled as well, and it's not very helpful there.

@sharmay Can you check if `systemctl --user` works?

[2020-05-26 00:28] sharmay commented on #6084
I was switching user `sudo su - <user>` and for this new user `systemctl --user` is not working. This is where I was running podman.

For now enabled ssh and podman working.

[2020-05-26 01:40] SCHEN2015 opened #6379 "Mount with read-only option is rejected by podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
BUG REPORT

/kind bug

/kind feature

**Description**

The `read-only` option of `--mount` is rejected by podman, which is a mismatch with the manual.

When run container with mount/read-only, it fails:
[code]

Replace `read-only` with `ro`, the command will work：
[code]

But according to the manual, both `read-only` and

[2020-05-26 03:42] jasimmk commented on #6084
I started experimenting with podman.. Getting some inconsistencies on running as non root user

On first run, getting a permission denied error
[code]
Running as root works fine
[user@localhost ~]$ sudo su
[sudo] password for user:
[root@localhost user]# podman run -it hello-world

Hello from Docker!
.....
After exiting root, on second time as user

[code]
**System information**
[user@localhost ~]

[2020-05-26 03:54] mheon commented on #6084
Do you have a systemd user session available? IE, does `systemctl --user` work?

[2020-05-26 04:10] chuanchang commented on #6274
Both the /libpod/build and /build didn't work for me, if my cmdline is wrong please correct me, thanks.

[code]

[2020-05-26 04:32] jasimmk commented on #6084
[code]

[2020-05-26 04:38] mheon commented on #6084
That would be your problem then. Your distro may not enabled the systemd user session by default, or you may be logging in by a method that does not create one (`su` or `sudo`). You can also make a `~/.config/containers/libpod.conf` with the line `cgroup_manager = "cgroupfs"` in it - that will disable the ability to set resource limits on rootless containers, but should remove the issue.

[2020-05-26 04:42] jasimmk commented on #6084
Lol, that was a good hint. I searched for this
[code]
 and landed on https://bbs.archlinux.org/viewtopic.php?id=234813

It says.  I need to ensure `UsePAM yes` in `/etc/ssh/sshd_config`, Which I had actually set to `UsePAM no` as part of securing sshd. In Fedora 32 `/etc/ssh/sshd_config` there is a clear warning though.
[code]

I enabled back 'UsePAM yes' and restarted system.
[code]
Everything wo

[2020-05-26 05:21] yurinnick commented on #6371
Thanks for the fast response! You're awesome!

[2020-05-26 05:47] juhp opened #6381 "looking up local images should consider search registries"
/kind bug

**Description**

`podman run <imagename>` chose an older local image.

**Steps to reproduce the issue:**

1. `podman pull docker.io/fedora:33 && podman pull registry.fedoraproject.org/fedora:33`
2. `podman run -it --rm fedora:33`
3. check which image is chosen

**Describe the results you received:**
For me the older image was run (in my case my docker.io/fedora:33 was several months old

[2020-05-26 06:41] giuseppe commented on #6368
We need to use dbus from a user namespace in Podman and the systemd version might be too old.

Can you try the command `$ unshare -r systemd-run --user echo it works` ?

[2020-05-26 06:43] giuseppe commented on #5914
it seems something specific to Arch, I've never seen it before on Fedora or Ubuntu.

I'd have to try directly on Arch.  @mestaritonttu how have you installed podman, crun and fuse-overlayfs?

[2020-05-26 06:50] giuseppe commented on #5838
what if the pod is created like the following:
[code]

Would that create the pod with the correct mapping?

[2020-05-26 07:07] stanislaw55 opened #6382 "Podman run from systemd service as non-root user cannot login to private registry"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have service `foo` which is using Podman and this service runs as systemd service as user `foo`. When I login as user `foo`, I can safely login into my company's private container registry. However, when I trigger a service to perform login, it fails with `Permission denied` error. **I have

[2020-05-26 07:11] vrothberg commented on #6382
Thanks for opening the issue!

 time="2020-05-26T08:52:46+02:00" level=debug msg="Looking for TLS certificates and private keys in /etc/docker/certs.d/my.private.registry:5000"
 time="2020-05-26T08:52:46+02:00" level=debug msg="Skipping scan of /etc/docker/certs.d/my.private.registry:5000 due to permission error: open /etc/docker/certs.d/my.private.registry:5000: permission denied"

It looks like

[2020-05-26 07:18] mestaritonttu commented on #5914
`sudo pacman -S podman crun fuse-overlayfs`
For v2 cgroups: https://wiki.archlinux.org/index.php/Cgroups#Disabling_v1_cgroups

[2020-05-26 07:37] ck-schmidi opened #6383 "Problem running rootless podman from a daemon user"
/kind bug

**Description**

We plan to run our Nagios Monitoring Checks from Container via Docker or Podman.
So far, we don't have any issues with standard Docker, but we can't figure out a proper
solution for CentOS/Podman setups.

We want to run our plugins from Nagios via `podman run`.
For our test via just configured `podman run --rm hello-world` as our Plugin call. We got the following error

[2020-05-26 07:44] stanislaw55 commented on #6382
Thanks for rapid response, @vrothberg

It's strange that Podman tries to look into this directory since it does not exist. I have `/etc/docker/` but no `certs.d` in there.

My company *do* require certificate to access registry but it is placed under `/etc/pki/ca-trust/source/anchors/` and is accessible by user `foo`. I also run `update-ca-trust` when I installed certificate.

[2020-05-26 07:46] mlezajic commented on #5838
After i have reported the issue a couple of weeks ago i went back to v1.6.4. Now, in order to test what you have suggested i wanted to install the latest v2 version from git master. When i run

[code]
it fails with

[code]

[2020-05-26 07:54] vrothberg commented on #6382
You're absolutely right, and after another coffee it's not at all a certs issue. "Forbidden" implies that the registry was reached but access was denied.

How did you confirm that the credentials work?

[2020-05-26 08:09] geverartsdev commented on #6368
Hi @giuseppe , here is the output of the command:
[code]

Unfortunetly this systemd version (237) is the latest one I can get from the ubuntu repository, does it mean that Podman wouldn't be compatible with ubuntu anymore?  That sounds rough... What changed recently that could have caused this problem?  I am 100% sur that everything was working properly less than a month ago for me.

[2020-05-26 08:37] RheaAyase commented on #6084
I for instance have UsePAM set to yes, and I'm trying to run the containers from a systemd service as a non root user. Still the same problem.

[2020-05-26 08:40] giuseppe commented on #5914
thanks.  I've installed arch, switched to cgroup v2, configured a new user (with additional subuids) and this is what I get:

[code]

I see you are using `distribution: '"antergos"'`.  It seems discontinued (https://web.archive.org/web/20190522031004/https://antergos.com/blog/antergos-linux-project-ends/), how are you keeping it updated?

[2020-05-26 08:43] jasimmk commented on #6084
It didn't work after I did sshd reload after edit.  I restarted server and it started working after. May be it could be a different problem in your case.

[2020-05-26 08:48] RheaAyase commented on #6084
No like I had UsePAM for years. It was already confirmed that reboot resolves the issue, that's irrelevant of the sshd configuration.

[2020-05-26 08:49] Edward5hen opened #6384 "[APIv2] push: unauthorized: authentication required"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was using APIv2 to push an image to dockerhub, but got a 400. I think the steps are correct, if they are wrong please correct me.

**Steps to reproduce the issue:**

1. set up APIv2 service: `podman system service --time 0 tcp:127.0.0.1:8081 &> ~/server.log &`

2.     podman tag alpine dock

[2020-05-26 08:57] vrothberg commented on #6384
Thanks for opening the bug, @Edward5hen!

https://github.com/containers/libpod/pull/6207 will add support for authentication.

[2020-05-26 08:59] cranebytes opened #6386 "Unable to install podman because of broken dependency"
It is currently not possible to install podman on CentOS 8 because of broken dependencies.

Of you try to install podman you will end up with

[code]

However in the repository itself is only `2:2.0.16-1.1.el8` of `conmon` available.

I did not check other CentOS versions for this problem. Might be also affacted.

[2020-05-26 08:59] Edward5hen commented on #6384
ACK, my pleasure!

[2020-05-26 09:02] vrothberg commented on #6386
@lsm5 PTAL. @cranebytes used the Kubic stable repo.

[2020-05-26 09:07] chuanchang opened #6387 "[apiv2] filter query parameter can't find specified image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080 &

2.  curl -v -X GET 'http://127.0.0.1:8080/v1.40/libpod/images/json?filters%3Dreference%3Ddocker.io%2Flibrary%2Falpine%3Alatest'
    or
    curl -v -X GET "http://127.0.0.1:8080/v1.40/libpod/im

[2020-05-26 09:11] Edward5hen opened #6388 "[APIv2] push: query parameter tag does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The steps are just like issue #6384 , the difference is using a different tag `mytag` in step 2. Although #6207 is still not merged, I should have the same response after I assign `mytag` to query parameter `tag` in the URL, but I got a 404 - "no such image".

**Steps to reproduce the issue:**

[2020-05-26 09:15] mestaritonttu commented on #5914
Thanks for taking the time to test. So it is some user error that is impossible for me to figure out :(
Antergos was only the original installation method, their repo is gone and this is just normal Arch now.

[2020-05-26 09:15] #5914 closed

[2020-05-26 09:39] giuseppe commented on #5838
I think you need a newer go toolchain.  What version of go are you using?

[2020-05-26 09:41] giuseppe commented on #6368
so the issue is in the too old systemd and that there is no way of creating a cgroup while being in a user namespace.

Were you using cgroup v1 before?

Does it work if you use the cgroupfs driver for podman?

`podman --cgroup-manager cgroupfs ...`

[2020-05-26 09:42] vrischmann opened #6389 "unable to run rootless container: error with setrlimit RLIMIT_NPROC"
/kind bug

**Description**

I'm unable to run a rootless container, `podman` returns the following error:
[code]
I'm on Fedora 32. I'm sure running a rootless container worked with Fedora 31 but I'm not sure if the problem appeared as soon as I migrated to Fedora 32 or if it appeared later since I don't use podman that often.

**Steps to reproduce the issue:**

1. `podman run --rm golang:1.14-alpi

[2020-05-26 09:47] mlezajic commented on #5838
[code]

[2020-05-26 09:58] geverartsdev commented on #6368
But there should be a way right?  And it seems that using `crun` standalone works just fine for that mather ([see my first comment](https://github.com/containers/libpod/issues/6368#issuecomment-633060374)).

I was using cgroupv1 before, but as there is no way for an unpriviledged user to manage any control group, which makes the experience with rootless containers quite limited (no resource manage

[2020-05-26 10:14] rhatdan commented on #6389
Are you using cgroup v1?
Do you have a libpod.conf in your homedir?  If so remove it.
rm ~/.config/containers/libpod.conf

[2020-05-26 10:15] rhatdan commented on #6389
Also what does this command show?

$ podman run --help | grep pids-limit
      --pids-limit int                           Tune container pids limit (set 0 for unlimited, -1 for server defaults)

[2020-05-26 10:20] vrischmann commented on #6389
As far as I can tell I'm not using cgroups v1, I don't see `systemd.unified_cgroup_hierarchy=0` in my `/proc/cmdline` and I'm pretty sure I never changed it.

I don't have a `libpod.conf` file, in fact right now I don't even have the directory `$HOME/.config/containers`.

The outpout from your command:
[code]

[2020-05-26 10:23] rhatdan commented on #6368
Can you update to a newer version of Ubuntu?

[2020-05-26 10:27] rhatdan commented on #6389
$ ls -l /usr/share/containers/containers.conf /etc/containers/containers.conf
$ rpm -q podman
podman-1.9.2-1.fc32.x86_64
$ grep pids_limit /etc/containers/containers.conf
$ grep pids_limit /usr/share/containers/containers.conf
# pids_limit = 2048

[2020-05-26 10:28] rhatdan commented on #6389
[code]

[2020-05-26 10:28] rhatdan commented on #6389
$ podman info | grep cgroup
  cgroupVersion: v1

[2020-05-26 10:29] rhatdan commented on #6389
Actually looking at your podman info, I see you are in cgroup V2?  Which even makes this more strange.  @giuseppe thoughts?

[2020-05-26 10:31] rhatdan commented on #4902
@vrothberg WDYT?

[2020-05-26 10:41] vrischmann commented on #6389
I'm assuming you want me to run the command you posted above ?
[code]

[code]
[code]

[2020-05-26 10:43] storrgie commented on #6084
@mheon, like @RheaAyase I'm trying to launch containers via systemd system level units (not user), but I'm specifying `User` in the unit. Is this entirely unsupported going forward with podman? It works consistently in 1.8.2.

[2020-05-26 10:44] stanislaw55 commented on #6382
I did log in into registry using *exact* credentials used by service. The only difference I can think of is that I logged in using `su -l foo`, which create login session and service may not used that.

[2020-05-26 10:51] vrothberg commented on #4902
AppArmor is an integral part of container security and I would not advice to run without as it already protected from exploits. By nature, it's not as tight as SELinux but IMHO the second best option.

But it seems like a Debian-specific issue, is it? *SUSE and Ubuntu are not affected.

[2020-05-26 10:52] giuseppe commented on #6368
if you call crun by itself like that, then it is not running in a user namespace.  Rootless podman requires to run in a user namespace so all containers are owned by the same namespace.

[2020-05-26 10:53] vrothberg commented on #6382
That might be the missing part. @giuseppe, @rhatdan, aren't there other issues w.r.t. using `su`?

[2020-05-26 11:08] geverartsdev commented on #6368
Right, sorry I mixed things up a little bit

That might mess things up with other dependencies but I can try.  What is the first next version of systemd that would be compatible do you think? (Here are the available ones for the different update I could make https://packages.ubuntu.com/search?keywords=systemd, by default I would go with ubuntu 20.04)

[2020-05-26 11:09] giuseppe commented on #6389
can you show me the output for `$ cat /proc/self/limits `?

Also, do you have any override for `default_ulimits`?  You can easily find it out with something like `grep -A 10  default_ulimits /etc/containers/* /usr/share/containers/* ~/.config/containers/*`.

[2020-05-26 11:47] abitrolly commented on #6111
@rhatdan with recursive definitions like that I need to find better info elsewhere.

[2020-05-26 11:49] HarryMichal commented on #6105
Interesting. I did not know that. Then I guess this can be closed because this is not a bug.

[2020-05-26 12:07] vrischmann commented on #6389
[code]
I only have the file `/usr/share/containers/containers.conf` with this:
[code]

[2020-05-26 12:14] giuseppe commented on #6382
one other issue with `su` is that it doesn't create a proper user session, so we fallback to using `/tmp` instead or `/run/user`.  `/tmp` is periodically cleaned up by systemd-tmpfiles, so it is really usable for short sessions.  Also, if there is no dbus session we cannot create cgroups for rootless containers.

[2020-05-26 12:18] geverartsdev commented on #6368
Using ubuntu 20.04, things seem to be fixed, until trying to limit the cpu usage:

[code]

<details>
<summary> podman info --debug </summary>

[code]

</details>

Systemd version
[code]

[2020-05-26 12:23] stanislaw55 commented on #6382
Hi @giuseppe
It may be a silly question but is there any documentation regarding using Podman in systemd service? I guess the problem is, as you said, with no D-Bus session.

[2020-05-26 12:29] lsm5 commented on #6386
This was caused due to `Release: <CI_CNT>.<B_CNT>` in the OBS project config. I'll check on how best to fix this..

[2020-05-26 12:54] matzew opened #6392 "unable to build with operator-sdk build"
/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. running the `operator-sdk build....` I get:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2020-05-26 12:57] ShadowJonathan commented on #4131
I'm currently looking out for this feature, any chance that the final "set up" image could be published as something as easily pulled as `podman/pind` (or when doing from podman: `podman/pinp`)?

[2020-05-26 12:59] onlyjob commented on #4902
It might be a Debian-specific issue but I can't see how would that be? We build with `apparmor` tag so what do you think might be the problem? Maybe https://github.com/containers/crun/issues/240 but that's just a wild guess...

[2020-05-26 13:09] vrothberg commented on #4902
Building with the tag is correct.

@onlyjob, can you share steps to reproduce? Which Debian should we use?

[2020-05-26 13:12] rhatdan commented on #6377
@haircommander PTAL
I think implementing the syslog and none drivers is a good idea.

[2020-05-26 13:14] geverartsdev commented on #4902
@vrothberg Actually it also affects ubuntu 18.04 (as I was saying [here](https://github.com/containers/libpod/issues/4902#issuecomment-633088618)), and I just tested on ubuntu 20.04 and faced the same issue.

[2020-05-26 13:17] geverartsdev commented on #6368
The issue also occur when launching non-rootless containers.
Should I open another issue?  I can not tell if it is related to the original one...

[2020-05-26 13:28] giuseppe commented on #4902
how could that affect a runtime error?

The issue is very likely in crun since few people use it with AppArmor.  I'll move the issue to the crun repository.

[2020-05-26 13:36] vrothberg commented on #6388
There is a diff between the docs and the implementation:

While the `tag` parameter is not implemented, the `destination` and `tlsVerify`  are not documented.

I vote for not supporting `tag` as the optional `destination` parameter offer more flexibility as a local image could be referenced via it's ID (or short name) in the path and be pushed to a completely different registry via the `destinatio

[2020-05-26 13:55] mheon commented on #6084
We're working with the systemd team on making that one easier. Their general recommendation was to enable lingering mode manually on every user you want to do that with.

They also didn't seem to really understand the request (were strongly in favor of making the units in the user's systemd session). I think we explained why it was desirable to our users, but more details on why folks are using it

[2020-05-26 13:55] haircommander commented on #6377
@Hendrik-H as I understand it, fluentd can also consume the cri format logs (which k8s-file uses). does that satisfy your needs?
I opened https://github.com/containers/conmon/issues/159 to track the drivers.

[2020-05-26 14:14] rhatdan commented on #5922
Can you give us a simple reproducer?

[2020-05-26 14:17] storrgie commented on #6084
Might be an education issue? I personally don't know how I'd start a unit at system boot when it's a `--user` unit. I'd chosen to set up each "container application" user with `/sbin/nologin` and specify them in the root level defined systemd unit.

I __love__ that podman is allowing me to to rootless containers without a monolithic daemon. However I still need a daemon-ish system to manage the st

[2020-05-26 14:18] rhatdan commented on #6379
Thanks it looks like to match Docker we should support readonly, which sadly also does not work.
@SCHEN2015 If you want to take a stab at fixing this, it would be appreciated,
Otherwise
@sujil02 PTAL

[2020-05-26 14:21] baude commented on #6388
@vrothberg i cannot say as to historical use of it? maybe get some team consensus from people on this one?

[2020-05-26 14:27] mheon commented on #6084
`loginctl enable-linger` is the command, I believe - and yes, that is the intent. Systemd will stop auto-pruning the user's processes on logout, and the systemd user session will stay alive.

[2020-05-26 14:32] rhatdan commented on #6381
This is based on the search path in your registries.conf.  Since docker.io comes first, it will be chosen first.  If you want to use fedora registry images first then you need to either fully specify the fedora registry or switch the search order.

[2020-05-26 14:34] rhatdan commented on #6381
Registries.conf in fedora by default have this search path.
unqualified-search-registries = ['registry.fedoraproject.org', 'registry.access.redhat.com', 'registry.centos.org', 'docker.io']
Which means that docker.io should be chosen last.

[2020-05-26 14:35] mheon commented on #6111
A user namespace is basically a way of "mapping" some (or all) users on the host into a new process (usually a container) and its descendants. It lets us expose only some users to the container (IE, for a rootless container, only your own UID and a block of users/groups specified in `/etc/subuid` and `/etc/subgid` are exposed inside the container) and also reorder those users (inside a rootless co

[2020-05-26 14:41] mheon commented on #6379
Already implemented in #6380

[2020-05-26 14:42] rhatdan commented on #6383
The problem is that you are not using a full user account.  So XDG_RUNTIME_DIR is not enabled.

[2020-05-26 14:42] lsm5 commented on #6386
Alright, so I changed ^ to `Release: <SPEC_REL>` as per OBS' advice, which will create rpms with the exact release tag as specified in the spec file. That should hopefully fix this issue.

@cranebytes please try installing in a few minutes, you should see `conmon-2.0.16-3` on the OBS repo.

[2020-05-26 14:43] rhatdan commented on #6383
@giuseppe @mheon @vrothberg Can't we at least make the error message more helpful, since this is such a common issue that people hit.

[2020-05-26 14:46] vrothberg commented on #6383
I think that's a good idea :+1: Let's see what our systemd friends come up with. I still hope we find a way to properly support that (or give guidelines).

[2020-05-26 14:53] Hendrik-H commented on #6377
@haircommander I couldn't find any documentation on fluentd supporting a cri format. I found this however, which seems to indicate that it is not supported: https://github.com/fluent/fluent-bit/issues/522

Using `k8s-file` I would get a log file that grows over time, which can cause problems. So I would need to use something like logrotate to get around that. But then I would have to hope that flu

[2020-05-26 15:09] lsm5 commented on #6386
Closing. Please reopen if the issue persists.

[2020-05-26 15:09] #6386 closed

[2020-05-26 15:09] RheaAyase commented on #6084
If I enable-linger, then I get `$ podman ps -a` -> `cannot chdir: Permission denied` under the user in question. `ps -a` should show something even if I have a broken container in the list, shouldn't it?

[2020-05-26 15:12] haircommander commented on #6377
https://github.com/fluent/fluent-bit/pull/667 seems to indicate to me that issue was closed because it was fixed, but I have done no work to verify that :smile:

understood adding the support would be best though. AFAICT the main maintainers (myself included) are pretty swamped and would happily accept PRs that would cover this gap in features :slightly_smiling_face:

[2020-05-26 15:20] Hendrik-H commented on #6377
Hm, right, odd. I actually wanted to link to https://github.com/fluent/fluent-bit/issues/522
But looks like they indeed added regex parser rule for CRI. Too many open windows ;-)
Parsing what was just written is however also not really ideal.
My Go skill is unfortunately not quite on the right level to submit a PR anytime soon.

[2020-05-26 15:27] haircommander commented on #6377
I am not sure what your C skills look like, but conmon is written in C :smiley: I'd be happy to guide you on how the log driver would be implemented

[2020-05-26 15:44] mheon commented on #6392
I don't believe this is a Podman problem; this looks like an Openshift operator failing, not Podman?

[2020-05-26 15:45] richpeaua commented on #6365
@geverartsdev That config.json provided great information, thank you. I took the liberty in doing something similar with docker to see the difference, but instead of memory limited vs non-limited, here is the output of hostconfig.json for memory-limited w/ swap enabled and w/out swap enabled.

As you can see, Docker is able to detect and conditionally change limiting from swap+mem to just mem (and

[2020-05-26 15:45] mheon commented on #6392
Also, that's a `go build` command, not `podman build`.

I'm going to close this; I recommend you open an issue against Openshift itself.

[2020-05-26 15:45] #6392 closed

[2020-05-26 15:50] mheon commented on #6365
I know where we set the swap limit in the code (I was the one who added it to Podman v2.0), so if there's an easy way to resolve if the host supports swap limiting, it should be easy enough to add.

[2020-05-26 15:51] rhatdan commented on #6389
Everything looks fine, and it works for me, but not for you.

[2020-05-26 15:53] rhatdan commented on #6389
My user account has:

Max processes             62461                62461                processes
Max open files            1024                 524288               files

Which are smaller then yours.

[2020-05-26 15:55] mheon commented on #6365
@giuseppe Is this something we can throw in the libpod cgroups package?

[2020-05-26 16:01] richpeaua commented on #6365
@mheon Awesome. When swap limiting is **disabled**, the cgroup resource control file to control swap+mem, `memsw.limit_in_bytes`, is not present. The code provided by @afbjorklund looks for the presence of that control file as a condition.

i.e
[code]

For the fix. We would need to switch from using `memsw.limit_in_bytes` to `memory.limit_in_bytes`

[2020-05-26 16:02] geverartsdev commented on #6365
Maybe checking for the existance of any of memory.swap.* (for cgroupv2) or memory.memsw.* (for cgroupv1 files) in the cgroup hierarchy?

[2020-05-26 16:10] geverartsdev commented on #6365
@richpeaua Just note that this would only work for cgroupv1, not cgroupv2.  But the same principle can be applied to cgroupv2 (looking for file `/sys/fs/cgroup/system.slice/memory.swap.*` or `/sys/fs/cgroup/user.slice/memory.swap.*`, depending on whether we are launching rootless container or not)

[2020-05-26 16:14] geverartsdev commented on #6365
Why?  This file is actually present even when no control over swap is supported

[2020-05-26 16:15] mheon commented on #6365
It doesn't look like that file check works - it's likely fine for cgroups v1, but my F31 laptop on v2 does not have it (and definitely supports swap limits)

[2020-05-26 16:15] #6105 closed

[2020-05-26 16:35] afbjorklund commented on #6365
I'm not sure if kubernetes supports v2 yet, so we just tell people to turn it off (or use a VM, if needed)

[2020-05-26 16:39] richpeaua commented on #6365
@geverartsdev Yes you're correct. Those are cgroupv1 control files. Also, if you look at my first post concerning the issue I posted the differences in the swap limit enabled and disabled directories (albeit one from Debian and the other from Centos8) but as you can see **memsw.limit_in_bytes** is not present in swap limit **disabled**. And the workaround used by @afbjorklund for minikube takes th

[2020-05-26 16:56] vrischmann commented on #6389
Running with strace I'm getting this:
[code]

The man page says this about EPERM:
[code]

I checked with `getcap /usr/bin/podman` but it doesn't return anything, which I assume means there's no capabilities. However I don't know if I'm on the right path here, is any of the binary from podman/conmon/runc supposed to have `CAP_SYS_RESOURCE` ?

[2020-05-26 16:57] geverartsdev commented on #6365
@richpeaua Right, I think I now see what you meant by saying "switch from *using* `memsw.limit_in_bytes` to `memory.limit_in_bytes`".

The thing is, if my understaning of the situation is correct, Podman does not have to deal with those files directly, this is actually the underlying container runtime (runc, crun, ...) which will, through the mean of *systemd* or *cgroupfs*, edit those files accor

[2020-05-26 17:33] richpeaua commented on #6365
@geverartsdev You're right. That would fall to the runtime... and I believe you're correct again in stating that the fix would lie, not in changing the control file to use, but what is written to the `config.json` files.

This can be seen in a post I made with the docker version of `config.json`, hostconfig.json. There was a difference in the MemorySwap field between **swap-limit-enabled** and **s

[2020-05-26 17:54] rhatdan commented on #4131
I have been sidelined working on the APIV2 support for podman 2.0.  I hope to get back to this soon.

[2020-05-26 17:54] richpeaua commented on #6365
@mheon can we perform the check on the presence of the `memsw.limit_in_byt` and change the fields added to `config.json` file? The field in question would be `linux.resources.memory.swap`.

 For example, if the file is not present then exclude that field and have the value of the `-m` flag change only the  `linux.resources.memory.limit` field?

[2020-05-26 18:11] abitrolly commented on #6111
No filesystem touched so far. What `unshare` then does without filesystem?

[2020-05-26 18:19] mheon commented on #6111
`podman unshare` enters the user namespace that Podman uses, but does not mount any containers (well, it can, but only if you tell it to). Basically, it gives you the same "view" of the system's users that the container has - you will appear to be root, but actually be your own UID, and you will have access to the users/groups you were allocated in `/etc/subuid` and `/etc/subgid` (visible as UID/G

[2020-05-26 18:22] mheon commented on #6365
As I said before, we cannot gate on the presence of that file, because it does not work for both cgroups v1 and v2. This may not be relevant for Minikube, but Podman has to support both cgroup versions.

With a reliable testing function, yes, this is a trivial change.

[2020-05-26 18:24] juhp commented on #6381
It wasn't :-)

I am wondering if it depends on the order of the images pulls?

[2020-05-26 19:39] geverartsdev commented on #6365
Seems like the Kata-Containers folks had a discussion about this (not exactly the same problem but related), this might give some ideas https://github.com/kata-containers/packaging/pull/104
They show where Docker prompt that gentle warning (https://github.com/moby/moby/blob/5fc12449d830ae9005138fb3d3782728fa8d137a/daemon/daemon_unix.go#L368), maybe starting from there one can find what Docker does

[2020-05-26 19:43] mheon commented on #6365
We can already detect whether we're on a v1 or v2 system, and we already have a viable way to detect whether swap limits are available on v1, so we just need a way to detect whether support is available on v2 and we should be good.

[2020-05-26 19:46] geverartsdev commented on #6365
Ow, didn't know that, what is it?  Couldn't this inspire something similar for v2?

[2020-05-26 20:13] richpeaua commented on #6365
FYI the kernel config settings `CONFIG_MEMCG_SWAP_ENABLED` and `CONFIG_MEMCG_SWAP` don't accurately indicate whether swap limiting is enabled or not.

Just tested this on Debian and Ubuntu machines. Setting both to `=y` did not enable swap limiting. Only explicitly adding `cgroup_enable=memory swapaccount=1` to `/etc/default/grub` enabled it... and doing so did not update the two kernel config set

[2020-05-26 20:21] vrischmann commented on #6389
Ok so I figured out a workaround.

Based on the `setrlimit` call above it's trying to set the soft/hard `nproc` limit to `4194304` however my hard limit was set to `524288`. I changed the hard limit to  `8388608` in `/etc/security/limits.conf` and now it works.

[2020-05-26 20:32] edsantiago opened #6397 "32-bit build is broken"
https://kojipkgs.fedoraproject.org//work/tasks/1613/45031613/build.log
[code]
Looks like #6238. @baude PTAL

[2020-05-26 20:35] afbjorklund commented on #6365
I guess ultimately Kubernetes _will_ support v2, and distributions (and even docker) _will_ start using it. And then it would of course be nice if the user was able to run crio-in-podman with minikube on those.

But since that is not yet the case, we require our Fedora users to either disable cgroups v2 or to run a KVM VM (with cgroups v1). As described elsewhere, this is more of a chicken and egg

[2020-05-26 20:46] rhatdan commented on #6389
The code is not supposed to do this though.  It looks like we have a bug.  The code is supposed to set the limit to the limit of the user.

Before the settings change, did the `podman unshare ulimits` show any thing intersting?

[2020-05-26 20:52] vrischmann commented on #6389
I reverted my change and ran `podman unshare ulimit -a` (`ulimits` doesn't seem to exist):
[code]

[2020-05-26 20:57] mheon commented on #6365
I think this is perfectly reasonable to do for us to support limiting memory only when swap limits aren't available, but on the Podman side, I need to make sure this does work on both v1 and v2 environments.

My current theory is that, if we can identify the cgroup that the current process is part of (alternatively we can use `system.slice` but that introduces a dependency on systemd I would prefe

[2020-05-26 21:00] boaz0 commented on #6378
@mheon can you assign it to me please :pray:
thanks

[2020-05-26 21:12] rhatdan commented on #6389
I think the big number must be coming from here?

cat /proc/sys/kernel/pid_max
[code]

[2020-05-26 21:13] rhatdan commented on #6389
But the first one should fail, and then we should set the second.

[2020-05-26 21:24] vrischmann commented on #6389
This is indeed what I have:
[code]

but looking at the strace:
[code]

it tries to set 4096*1024 or 1024*1024 which seems to be `oldMaxSize` in your code. But given that my hard limit is `524288` that will also fail.

[2020-05-26 21:26] rhatdan commented on #6378
@boaz0 I already opened it in containers/common.

https://github.com/containers/common/pull/164

[2020-05-26 22:33] richpeaua commented on #6365
@mheon It seems that rootless podman run container cgroups are in the `user.slice` and root podman containers are in `machine.slice`. A way to find which cgroup the container belongs to is run a `find -follow` (-follow flag to follow sim links) on the full `container ID` outputted on container creation or the shortened `container ID` outputed by `podman ps`

i.e
[code]

Here are some outputs from

[2020-05-27 00:44] storrgie opened #6400 "pursuing conventional systemd+podman interaction"
This is an RFE after talking with @mheon for a bit in IRC (thanks for that, sorry I kept you so late). In the shortest form I can think of the enhancement would be: facilitate podman/conmon interacting with systemd in a way that provides console output for systemctl and journalctl. In bullet form:

 - create a "system" user (e.g. UID/GID less than 1000 by convention), set shell to `/sbin/nologin`

[2020-05-27 01:01] storrgie commented on #6400
If I didn't hit it clearly, I did try to adopt 1.9.2. It requires a couple things (but ultimately does not work well). #6084 has some more information as well.

 - do the `loginctl enable-linger` on the "system" user
 - switch over to the more conventional things from `podman generate systemd` like `-d`, `Type=forking`

Starting this up, you can only see console output from the container by doing

[2020-05-27 01:03] lsm5 commented on #6400
you can get 1.8.2-3 from https://koji.fedoraproject.org/koji/buildinfo?buildID=1479547

I'll save it to my fedorapeople page as well and send you the URL later.

[2020-05-27 01:46] SCHEN2015 commented on #6379
Thanks mheon, one small comment for the code. Not sure if it is feasible.
https://github.com/containers/libpod/pull/6380/commits/e26f9eda64e4b74e1c56af0b807d37a12a1717a0#r430811794

[2020-05-27 03:22] juhp commented on #6381
To clarify my original report/question:

[code]

So my question was why does podman choose the older (or first installed) image in my case?

[2020-05-27 04:09] JaeSim opened #6401 "rootfull] publish port not working properly in user defined network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

### Publishing port seems not work properly when it use user defined network in rootfull.

Run container with publish option in rootfull and default network.
This case, i can reach to container as 8080 port without issue.
[code]

But, When i run container wi

[2020-05-27 04:45] jnsnow commented on #4963
@rhatdan do you know if a python bug got filed? I'm running into this now and this closed issue is at the top of the search results pile.

[2020-05-27 08:24] vrothberg commented on #6388
We decided to change the docs to reflect the parameters the libpod endpoint actually supports. Namely, there is a `destination` parameter which not only allows for changing the tag but the entire destination reference which allows for a `remote push $ID quay.io/....` or a `remote push docker.io/... quay.io/...`. This offers more flexibility.

I just opened https://github.com/containers/libpod/pull

[2020-05-27 09:49] vrothberg commented on #6381
I can reproduce with:
[code]

Note that the described order of `unqualified-serach-registries` only applies when pulling (and searching) but not for other operations.

[2020-05-27 09:56] vrothberg commented on #6381
I reopened to find consensus how Podman should behave.

[2020-05-27 10:06] giuseppe commented on #6368
the cpu controller is not enabled by default in systemd, you need first to enable it.

Does a `echo +cpu > /sys/fs/cgroup/cgroup.subtree_control` fix the issue?

[2020-05-27 10:10] giuseppe commented on #6383
`su nagios` probably leaves `XDG_RUNTIME_DIR` set to the wrong value, so that is used.

Can you try `su nagios printenv XDG_RUNTIME_DIR`?  What is the output?  Any difference with `su -l`?

[2020-05-27 10:16] giuseppe commented on #6365
memory swap is always present on cgroup v2, so we don't have to worry.

For cgroup v1, we need something like https://github.com/cri-o/cri-o/commit/7bdf93819f6db534ff22846aa6d77fbf9d0f9b68

If someone is interested in fixing it and opens a PR, I can review it

[2020-05-27 10:25] ck-schmidi commented on #6383
Yes, that's the problem. It does not get changed.

The result is `/run/user/0` which is from the previous logged in user.
When I `su -l` with the `XDG_RUNTIME_DIR` is not set anymore.

I know, when doing a proper login with `su -l` everything works. And actually that's not the real issue. I just try to reproduce the error on the cli to find out what could be the real issue and maybe what could be

[2020-05-27 10:52] giuseppe commented on #6400
if you enable linger mode and there is already the user session running, is there any disadvantage in in installing the .service file into ` ~/.config/systemd/user/`?

[2020-05-27 10:53] giuseppe commented on #6383
are you trying to achieve something similar to https://github.com/containers/libpod/issues/6400 ?

Could we close this issue as duplicate of #6400 ?

[2020-05-27 10:57] geverartsdev commented on #6368
Nope, I get a bad `Invalid Argument` error
[code]

[2020-05-27 11:14] storrgie commented on #6400
@giuseppe for you to be able to do that you'd need a shell for that "system" account. Above I'm creating the user as root with a `/sbin/nologin` shell. To access the `systemctl --user` session you'd actually need to login, or you'd need to set the `XDG_RUNTIME_DIR` variable... I think... like `XDG_RUNTIME_DIR=/run/user/$UID systemctl --user status`. It generally gets messy.

Also, this suggestion

[2020-05-27 11:23] geverartsdev commented on #6365
On my machine, if I don't add `swapaccount=1` in the grub configuration (where I set `systemd.unified_cgroup_hierarchy=1`), I will be lacking swap support... (and podman will fail with `-m` option)

[2020-05-27 11:40] vrothberg opened #6405 "[CI flake] podman stats --format json - no output"
I've experienced flakes in the podman-stats e2e tests and could reproduce it manualy:
[code]

The second call yields no output, ultimately yielding the marshal errors we see in the CI (see below):
[code]

I'll try to further track it down and come up with a fix.

Cc @baude

[2020-05-27 12:05] edsantiago commented on #5765
I don't know - I haven't been diligent about tracking flakes. Closing - if/when it becomes a problem again I'll just open a PR to bump up the timeout.

[2020-05-27 12:05] #5765 closed

[2020-05-27 12:32] dougsland commented on #5736
@edsantiago looks like your requested is fixed. Could you please double check?
If everything is working for you, please consider closing this ticket.

[code]

[2020-05-27 12:38] edsantiago commented on #5736
LGTM, thank you!

[2020-05-27 12:38] #5736 closed

[2020-05-27 13:26] #6405 closed

[2020-05-27 13:45] mheon commented on #6400
@vrothberg The core ask here (viewing logs for systemd-managed Podman) seems to be a pretty valid one - our current forking= approach does break this, and `podman logs` becomes very inconvenient when the services are running as rootless and you have to `sudo` into each of them to get logs.

I was thinking that it ought to be possible for the `journald` log driver to write straight to the logs for

[2020-05-27 13:50] mheon commented on #6381
This is one of the things I really wanted to solve in the refactor of the image package to be shared with Buildah & CRI-O - consistent resolution is shortnames is a significant issue in our tools.

[2020-05-27 13:55] vrothberg commented on #6400
There was a very similar request by @lucab :https://github.com/coreos/fedora-coreos-docs/pull/75#issuecomment-633512357

I was also thinking about the log driver :+1:

[2020-05-27 13:59] vrandr commented on #6162
I can confirm that `/usr/share/containers/libpod.conf` is gone now.

Thank you!

[2020-05-27 13:59] #6283 closed

[2020-05-27 14:52] rhatdan commented on #4963
No I am not sure if I did open one.

[2020-05-27 14:53] rhatdan commented on #4963
@giuseppe Didn't you have  a way to handle this in fuse-overlayfs as well?

[2020-05-27 14:56] rhatdan commented on #5736
@afbjorklund Please open an issue on podman-remote info to get the other information.

[2020-05-27 15:03] #6388 closed

[2020-05-27 15:36] aleks-mariusz commented on #6114
Tried @dsbaha 's cni config on my test centos 7 host (config with my ipv6 address [here](https://gist.github.com/aleks-mariusz/771f3dea8793c81caf0e302cbf3a2024)), still dropping default network on the host as soon as the container is started :-(

hasn't ANYONE got a centos 7 host, with ipv6 connectivity that could try to get this working??

[2020-05-27 15:44] rhatdan commented on #6389
Right if they both fail, the code should be returning.
defaultLimits := []string{}
Which should tell the system to not set the rlimits at all.

[2020-05-27 15:50] rhatdan commented on #5986
This issue seems to have been lost.  Sorry about that, are you still having issues with this?

[2020-05-27 15:51] vrischmann commented on #6389
Oh right.

Right now I can confirm that the following workarounds work:
* increasing the nproc hard limit in `/etc/security/limits.conf`
* creating `$HOME/.config/containers/containers.conf` with this:
[code]

[2020-05-27 16:02] rhatdan commented on #6401
@baude @mheon PTAL

[2020-05-27 16:06] mheon commented on #6401
I need the output of `iptables -nvL -t nat` with the container in question (port forwarded while in a user-specified network) running to give any diagnosis

[2020-05-27 17:14] rhatdan commented on #6368
Could you try as root?

[2020-05-27 17:17] geverartsdev commented on #6368
It gives the same error
[code]

[2020-05-27 18:15] edsantiago commented on #6397
Fixed by #6398

[2020-05-27 18:15] #6397 closed

[2020-05-27 18:24] edsantiago opened #6409 "apiv2: GET /libpod/images/nonesuch/get : leaks api.tar tmpfile"
Given an APIv2 server running:
[code]
...attempting to get a nonexistent image will leave behind an empty `api.tarNNNNNN` file in `$TMPDIR`:
[code]
The compat API does not suffer from this problem:
[code]

[2020-05-27 18:35] mheon commented on #6409
@baude @jwhonce PTAL

[2020-05-27 21:34] npmccallum opened #6412 "Container Timeout"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I want to use `podman run --rm ...` to run a container that is removed on exit. I *also* want the container to be forcibly killed if it is still running after `n` seconds.

Yes, I can write a podman state manager to call `podman stop`. But that requires me to do a lot of work. It is also

[2020-05-27 22:26] lewo commented on #5986
Hi, yes occasionally. Seems either the ip config file can be left dangling or a reference to the image is left.

Leigh

[2020-05-27 23:04] mheon commented on #5986
I was under the impression the symlink issue with images was resolved already in c/storage, but that sounds to be incorrect

[2020-05-28 00:58] JaeSim commented on #6401
here are output of ```sudo iptables -nvL -t nat```.
Please understand that some configuration is changed since reboot instance...
[code]

[2020-05-28 01:05] mheon commented on #6401
I see nothing there from the CNI portmap plugin. The Portmap plugin is definitely in the config, though.

Can you add `--log-level=debug` to that `podman run` command and include the output?

@mccv1r0 PTAL - it looks like Portmap is not running, even though it's in the config. Any way we can get debug information from CNI about this?

[2020-05-28 01:05] mheon commented on #5924
1.9.1 is definitely out, closing as such. Feel free to re-open if this is still happening.

[2020-05-28 01:05] #5924 closed

[2020-05-28 03:00] JaeSim commented on #6401
here is out of ```podman run``` with debug log.

[code]

[2020-05-28 06:56] hswong3i commented on #5773
Sorry for my late update, PR now goes to https://github.com/containers/podman.io/pull/242, for installing nix-based static binary by using Ansible Role ;-)

[2020-05-28 08:10] giuseppe commented on #6368
yes that could be the reason why you cannot enable the cpu controller.  To find out what RT (real time) processes you have, you can use the command: `ps ax -L -o 'pid tid cls rtprio comm' |grep RR
`

[2020-05-28 08:18] Edward5hen opened #6413 "[APIv2] list containers: parameter limit doesn't work for non-running containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
[The DOC](http://docs.podman.io/en/latest/_static/api.html#operation/libpodListContainers) says query parameter `limit`

but it does not include non-running ones in my testing.

**Steps to reproduce the issue:**

1.      podman system service --time 0 tcp:127.0.0.1:8081 &> ~/server.log &

2.
[

[2020-05-28 08:43] ck-schmidi commented on #6383
@giuseppe I don't think it's really a duplicate
I now got some more insights and the real error message from nagios.

The error message from podman run is actually
```Error: could not get runtime: error generating default config from memory: cannot stat /root/.config/containers/storage.conf: stat /root/.config/containers/storage.conf: permission denied ```

So, my question is now: Is there any oth

[2020-05-28 08:56] giuseppe commented on #4963
we have a way to skip using xattrs, if `noxattrs=1` is specified in the mountopts then it should work

[2020-05-28 09:11] geverartsdev commented on #6368
@giuseppe THANK YOU! It finally worked!
The command you showed me revealed that one RT process was running: `multipathd` and killing it (I don't know how to simply move it the the root cgroup) solved the problem right away.

This has to be done on each reboot though and I don't really understand what `multipathd` is about, in which control group it goes on boot or even if killing it might do any h

[2020-05-28 09:50] rhatdan commented on #6412
Would the container get the SIGSTOP (Actually --stop-signal value) signal or SIGKILL?
Most likely I just answered my own question.  Since if you want SIGKILL you can just add --stop-signal=kill

If I restart the container, does it run for another 30 seconds?

[2020-05-28 09:51] rhatdan commented on #6412
@mheon @vrothberg @baude WDYT?

[2020-05-28 09:52] rhatdan commented on #6412
We would need to wire this into conmon. since it is the only thing left running when you run with --detatch.
@haircommander FYI

[2020-05-28 10:10] giuseppe commented on #6383
maybe `HOME` is still pointing to `/root`?

[2020-05-28 10:18] ck-schmidi commented on #6383
yes, i just figured that out! `HOME` is not set properly from `systemd`

I found <https://github.com/systemd/systemd/issues/9652> which somehow describes a similar problem.

For us, we now use this fix to get podman running properly from systemd:
[code]
I will investigate a little bit more into systemd, maybe I can find a proper solution.

[2020-05-28 10:28] TomSweeneyRedHat opened #6414 "DOC: RHEL7 SELinux denies creation of unix socket in rootless container to /tmp"
Moved from https://github.com/containers/podman.io/issues/243 by @skorhone

Audit reports following selinux error, when java is trying to create unix socket to /tmp.

type=AVC msg=audit(1590489952.995:140737): avc:  denied  { create } for  pid=23087 comm=417474616368204C697374656E6572 name=".java_pid63.tmp" scontext=system_u:

[2020-05-28 10:39] giuseppe commented on #6383
@ck-schmidi could you give a try to `machinectl --uid $USER-UID shell` and use that environment?

You may need to set linger mode so that the containers are left around when you terminate the user session

[2020-05-28 11:50] vrothberg commented on #6412
This sounds completely reasonable to me.
Naming nit: to prevent confusion, I suggest to name it `--rm-timeout`.

[2020-05-28 11:51] vrothberg commented on #6413
Thanks a lot for the issue! I'll take a look at it now.

[2020-05-28 11:58] vrothberg commented on #6413
Ah, the implementation uses a `last` parameter for this.

@baude, @jwhonce, what's the "right" name for the parameter? "limit" or "last"?

[2020-05-28 12:05] vrothberg commented on #6413
Ironically, `--last` doesn't list as described either as it only lists running ones (also on CLI).

[2020-05-28 12:26] vrothberg commented on #6413
Opened https://github.com/containers/libpod/pull/6416 to fix the `--last` bug. The naming issue regarding swagger is not addressed.

[2020-05-28 13:19] mheon commented on #6412
My concern would be the complexity of stopping the container exclusively from within Conmon. I don't really want to implement the full logic of `podman stop` again in C (SIGTERM, timeout, SIGKILL, timeout, plus handling for containers without a PID namespace through runtime `kill --all`). If we can keep it simple (single SIGKILL, or a SIGTERM + simple fixed timeout + SIGKILL, and no containers wit

[2020-05-28 13:22] rhatdan commented on #5986
@nalind PTAL

[2020-05-28 13:23] haircommander commented on #6412
theoretically, we could also pass conmon a list of args for a podman call, like we do for exit command

[2020-05-28 13:27] haircommander commented on #6412
another thing to note is that conmon doesn't technically know when a container starts. It knows when the container starts logging things, and starts behaving like it's started, but this is not precise. We'd have to have podman send data down a pipe to tell conmon "hey, I started the container", and *then* we'd start the timeout.

[2020-05-28 13:50] rhatdan commented on #6412
I don't see this as an --rm-timeout.  I don't think --rm is required.
If I want to run a container for one hour then I could do
podman create --timeout=360 ...
podman start ...
podman start ...

[2020-05-28 13:51] rhatdan commented on #6412
Doesn't conmon get the contents of the --stop-signal?

[2020-05-28 14:01] npmccallum commented on #6412
[code]

[code]

Podman forwards the `SIGTERM` to PID 1. PID 1 swallows the `SIGTERM`. If I send `SIGKILL` to `podman`, the `--rm` is never performed and the container is still running.

It is therefore my understanding that `--stop-signal=kill` only changes the signal sent to PID 1 during `podman stop`.

This is a singleton container running untrusted code. We never want to restart it. That would

[2020-05-28 16:06] QiWang19 commented on #5205
This issue #5205 was fixed by #6161

[2020-05-28 16:06] #5205 closed

[2020-05-28 17:00] mccv1r0 commented on #6401
Any chance the raw .conflist for the user defined network `test-network` can be provided?

[2020-05-28 17:33] mccv1r0 commented on #6401
Using

[code]
A quick test shows this does work:

[code]

Now it's just a matter of configuration differences or getting the needed fix(es) in your setup.  This is the conflist I used.

[code]

Also, diff your podman network conflist  vs.  test-network  to see anything other than e.g. subnet, bridge name etc. that might stand out.

[2020-05-28 17:39] jnsnow commented on #4963
I am seeing this issue on a f31 host using the f32 container (Which I believe to be using Python 3.8). I have a python script that uses shutil.move() to move files created via tempfile (likely usually in tmpfs, /tmp) to a destination file.

In this case I am using rootless podman and declaring my storage as -v ~/foobar:/foobar:z -- but shutil calls are still causing selinux failures; the troublesh

[2020-05-28 18:56] rhatdan commented on #4963
shutils ignores the errors in one place and then fails on them in another.  They should be ignored everywhere.

[2020-05-28 18:57] mheon commented on #6401
The `$ sudo podman network inspect test-network` line in the first comment should be the literal network definition - we just read in the CNI conflist and print its contents literally

[2020-05-28 19:25] yuhuijiang opened #6421 "[APIv2] pod kill: "signal" parameter doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With "signal" parameter setting, pod should exit with differnet exitcode. podman cli works as expected, but APIv2 maybe not implement this parameter.

[root@kvm-02-guest22 ~]# podman pod start hugo
4698bcdebe125a9f7b0667696e72bd5bcd6a1bc0d915a2986d289ac79883f46e
[root@kvm-02-guest22 ~]# podma

[2020-05-28 19:48] rhatdan commented on #5680
Is this still broken in podman 1.9.2?

[2020-05-28 19:50] rhatdan commented on #5535
@juhp Have you tried with podman 2.0?  This is a major rewrite of the podman CLI.

[2020-05-28 19:51] rhatdan commented on #5892
@Swatigupta1997 @mheon Can we close this issue?

[2020-05-28 19:51] rhatdan commented on #4483
@giuseppe Did you ever get a chance to look at this?

[2020-05-28 20:05] TheEagle13 opened #6422 "Issue starting rootless container with systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When attempting to control autostart of a rootless container with systemd, it errors out with a message of
`error creating libpod runtime: database libpod temporary files directory (tmpdir) \"/run/user/1000/run\" does not match our libpod temporary files directory (tmpdir) \"/var/run/libpod\"

[2020-05-28 20:08] mheon commented on #6422
Can you upgrade to Podman v1.9.2 or higher and re-try? We've already fixed this one.

I don't know if v1.9.2 every made it to stable in Fedora, but v1.9.3 should be in updates-testing - `dnf --enablerepo=updates-testing upgrade podman` should grab it.

[2020-05-28 20:15] rhatdan commented on #6414
You should not be creating the stream socket on fuse-overlay.  Can you move this to a tmpfs?

[2020-05-28 20:22] rhatdan commented on #6414
This should be against container-selinux

[2020-05-28 20:24] rhatdan commented on #6414
Fixed in container-selinux v2.134.0

[2020-05-28 20:24] #6414 closed

[2020-05-28 21:00] #6422 closed

[2020-05-28 22:56] TheEagle13 commented on #6422
Sorry for not replying Immediately, but this is NOT resolved.
I tried with Podman 1.9.2, same issue, then I upgraded to the testing 1.9.3, and the issue still persists. Please re-open.

[2020-05-28 23:02] TheEagle13 commented on #6422
It does seem to be throwing a different error now though:
`Error: unable to find container 952a8f7a8a602a83ca192c4a608da95412e5a9f6ff4c5571bfed5fe2d410ff6b: no container with name or ID 952a8f7a8a602a83ca192c4a608da95412e5a9f6ff4c5571bfed5fe2d410ff6b found: no such container`

[2020-05-29 02:00] JaeSim commented on #6401
i update output in my environment.
As a comment, i delete DNS plugin in user defined network and run container.
but, issue is reproduced.
``rootfull`` and ``rootless`` seem to work differently.

[code]

[2020-05-29 05:15] juhp commented on #5535
Thanks, it looks fixed in podman-2.0.0-0.61.dev.git6aa802d.fc33 :-)

[2020-05-29 05:38] juhp commented on #5535
I think the original report still holds anyway (maybe `.Created` could be made an alias?).

[2020-05-29 06:47] vrothberg commented on #6422
Root cannot see rootless containers as the storage paths differ. When running rootless containers via systemd, the unit files must be installed at the correct path (see https://github.com/containers/libpod/blob/master/docs/source/markdown/podman-generate-systemd.1.md#installation-of-generated-systemd-unit-files) and be started via `systemctl **--user**`.

[2020-05-29 07:45] giuseppe commented on #4483
I'll try to cut some time next week, go-dbus probably spawns a dbus-daemon if there is not already one running.  We should not try to use systemd if it is not available.

[2020-05-29 08:36] gdm85 opened #6425 "Invalid default tmp_dir for rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a fresh podman install (non-root user) the `tmp_dir` value in `libpod.conf` does not match the runroot prefix in `storage.conf`

**Steps to reproduce the issue:**

1. run `podman info`

**Describe the results you received:**

[code]

**Describe the results you expected:**

No failure.

**A

[2020-05-29 08:58] chuanchang opened #6426 "[apiv2] curl will hang forever when sent a signal query parameters for Kill a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080 &

2. start a container

3.  curl -v -X POST -H "Content-Type: application/json" "http://localhost:8080/v1.40/libpod/containers/romantic_hellman/kill?signal=TERM"

**Describe the results you rece

[2020-05-29 09:01] HarryMichal opened #6427 "Inconsistency between json format of image and container list"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

#5582 fixed formatting difference between the output of `podman ps -a --format json` and `podman images -a --format json`. #5159 changed, among other things, `ID` to `Id` in the json formatted container list. But this change was not reflected the json formatted image list, introducing again a

[2020-05-29 11:03] TheEagle13 commented on #6422
The link your reference seems to contradict your statement.

`Note: Coping unit files to /usr/lib/systemd/system and enabling it marks the unit file to be automatically started at boot. And smillarly, coping a unit file to $HOME/.config/systemd/user and enabling it marks the unit file to be automatically started on user login`

I need these containers to start at boot, so I place the config in the

[2020-05-29 11:11] vrothberg commented on #6422
The problem in your specific example is:

The generated .service file _starts_ an existing container which is in the rootless storage. Hence, you cannot use it as another user (even root) which ultimately leads to

... as root container storage does not know this container.

Running rootless container in system (i.e., root) services can be done by user the `User/Group=...` attributes of systemd. A

[2020-05-29 11:12] vrothberg commented on #6422
I recommend using `podman generate systemd --new` which will generate services that create _new_ container in contrast to the default services which start existing containers.

[2020-05-29 11:29] TheEagle13 commented on #6422
Will the ` podman generate systemd --new` generated file in /lib/systemd start as root or as user? The whole point is to run the containers as non-root.

I will try your other suggestion of supplying the user/group to the systemd file. Maybe this should be reopened as a feature enhancment then? Surely I'm not the only one who would like to see rootless containers auto start at boot up.

[2020-05-29 11:36] vrothberg commented on #6422
They will start with all users. But note that you want to run rootless containers as root (via a root system service).

Please note that we don't support that yet (see #5572).

This is already supported. You need to enable lingering (`# loginctl enable-linger username`) for your user and enable the _non-root_ service via `$ systemctl --user $service`.

[2020-05-29 12:26] #6379 closed

[2020-05-29 13:29] ziXet opened #6430 "How to use "additionalimagestores" in storage.conf ?"
I would like to setup a readonly shared image storage that multiple podman can use it. How can I pull the images to the readonly storage?

I have this line in my storage.conf
`additionalimagestores = ['/storage']`

Now, the question is how should I instruct the podman pull command to store the image in the "/storage" directory which I want to use as a shared readonly storage?

Thanks

[2020-05-29 13:34] mheon commented on #6425
Podman 1.6.x is getting very long in the tooth - you may want to consider upgrading. It looks like you're still on the Ubuntu PPA - we've transitioned to publishing via OBS. Instructions for adding the repo can be found at https://podman.io/getting-started/installation (Ubuntu subsection)

[2020-05-29 13:35] themr0c opened #6431 "in podman-docker, drop the -u option"
The `-u` option to set the user is not supported in `podman`.
As this option is mainly used with docker to workaround the non-rootless behaviour of docker, it would be nice to drop this option as irrelevant instead of failing. (Maybe issue a warning).

It would fix issues like: https://github.com/pre-commit/pre-commit/issues/1243

[2020-05-29 13:44] mheon commented on #6431
We can't drop `-u` - the specific workaround you mention may be broken, but it's a very important flag (setting user in the container has many uses) and other than the case you mention (which seems more of a difference in how we handle Rootless versus how Docker does) we provide complete support for the flag.

[2020-05-29 13:47] mccv1r0 commented on #6401
CNI is only involved when using root.

[2020-05-29 13:49] mheon commented on #6430
@rhatdan and @baude are the experts here, so I'll tag them to answer

[2020-05-29 13:50] mccv1r0 commented on #6401
@JaeSim  Can you try adding   `"hairpinMode":true to the bridge config and see what happens?

@mheon As show, with the right version CNI works.  There may be fixes you need to bring in to this version of podman.

[2020-05-29 13:50] mheon commented on #6426
@baude @jwhonce PTAL

[2020-05-29 13:51] mheon commented on #6427
@baude @jwhonce This sounds like what we were discussing at scrum yesterday?

[2020-05-29 14:11] TheEagle13 commented on #6422
`Systemctl - - user $service` does NOT enable them at boot, it only enables them at login. Since this is a server, if there happens to be A failure where it needs to reboot, they will not start until the user logs in. So it appears to not be supported yet.

[2020-05-29 14:20] rhatdan commented on #6431
Right podman run -u testuser ...  Works fine.  If you find this does not work then reopen the issue.
Rootless & Rootful podman supports running with multiple users, both by default run with root of the user namespace they are launched in.  If you want to run with a different user within the container then you use -u to select the user.

When running in rootless mode, the `root` of the container is

[2020-05-29 14:20] #6431 closed

[2020-05-29 14:29] vrothberg commented on #6422
Again. Your scenario is supported but you need to enable lingering for your user. I just created a clean Fedora 32 VM and did the following steps:

1. Create a .service file and copy it to `$USER/.config/systemd/user`.
2. Load and enable the service via `systemctl --user ...`
3. Enable lingering via: `# loginctl enable-linger username`
4. Reboot the system.
5. Login as root (not as the user) and c

[2020-05-29 14:42] TheEagle13 commented on #6422
Sorry for dragging this out. I kept getting confused by the constant statement that it wasn't supported. (And it was early)

[2020-05-29 15:12] rhatdan commented on #6430
You can do what this with.

[code]
Now I can launch a container like the buildah container, which is configured for additional stores, and use the image

[code]
Note you can not share this image with rootless Podman.  The issue is the User Namespaces have to match.  Each rootless user of Podman runs containers in a different user namespace and this namespace is different then the root.

[2020-05-29 16:11] ziXet commented on #6430
Thank @rhatdan  for the response. I got the first one working which is pulling images to an external storage. However, I did not quite get the "-v /usr/share/mycontainers:/var/lib/shared:ro" part. Would you please explain this a bit more? Why you didn't add "/usr/share/mycontainers" to the additionalimagestores=[] config ?
Please also let me know which podman version are you using.

Thanks again!

[2020-05-29 17:19] rhatdan commented on #6430
I am writing a full blog on this issue.  I will publish it soon.

[2020-05-29 17:20] rhatdan commented on #6430
Send me an Email, and will send you a copy.  dwalsh@redhat.com

[2020-05-29 17:43] ziXet commented on #6430
sent! Thanks

[2020-05-29 17:46] rhatdan commented on #6021
@marusak Since we are moving away from Varlink and your team is moving to APIV2, we are not likely to fix or even look into this.  Al-right if I close this?

[2020-05-29 18:11] themr0c commented on #6431
I am probably missing some configuration, then. I will invertigate further. When using -u I get this error:
[code]

[2020-05-29 18:23] polongibro commented on #6425
Cat /etc/passwd for the user that is running podman and find out the uid.

Compare that uid number against the /tmp/ file that will have files starting with "run -####.

   example: ls -lah /tmp/
  result: run-1000    run-1001   run-1000

Those four numbers should match the uid of the user running podman, if they do not that is the problem.

You will also see the ownership of each of the run files

[2020-05-29 18:24] mheon commented on #6431
That UID is likely too high, if you're running rootless. By default, new users are assigned a 65536-length block of UIDs and GIDs that we use for rootless containers (the mappings are contained in `/etc/subuid` and `/etc/subgid`). Unless you've explicitly adjusted that number up, rootless containers will be able to use UIDs and GIDs up to and including 65536 (65536 from subuid/subgid plus one, the

[2020-05-29 18:34] gdm85 commented on #6425
@polongibro it's not that; I provided instructions to replicate this issue from scratch, the configuration files are generated by podman itself and with the manual change I wrote there the issue is then fixed. It has nothing to do with the UID.

@mheon thanks; with `v1.9.3` I notice that the auto-generated config files are gone and specifically this issue is also gone. I guess someone could ask th

[2020-05-29 18:34] #6425 closed

[2020-05-29 18:35] rhatdan commented on #6431
We should add a check for this on rootless containers.  Seems like an easy check on the CLI.  Then you could say something like.  You user can only launch contianers with UIDs < XYZ.

[2020-05-29 18:47] mjlbach opened #6433 "Rootless mariadb with persistent storage via bindmount: permissioned denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm having trouble getting a mariadb instance running with rootless podman.

When I run this, I get the following issue:

[code]

**Steps to reproduce the issue:**

1. Make a directory to hold the database
[code]
2. Start the database
[code]

**Describe the results you received:**
[code]

**D

[2020-05-29 18:50] rhatdan commented on #6433
podman run --security-opt label=disable --rm  -v $HOME/mysql-data:/var/lib/mysql/data:z -e MYSQL_USER=user -e MYSQL_PASSWORD=pass -e MYSQL_DATABASE=db -p 3306:3306 mariadb/server

No reason to disable SELinux here. And you figured out the solution.  Anything in your homedir is owned by "root" in your container.  So if you want the database to be owned by the mariadb user, then you need to chown it

[2020-05-29 18:55] mjlbach commented on #6433
Ah, I think I was just confused about the mapping of the uid of the "root" container user to host, I expected it to match the mysql id outside of the container but I'm realizing that was a flawed assumption. I can close

[2020-05-29 18:55] #6433 closed

[2020-05-29 19:03] coldbloodx opened #6434 "how to set podman container cgroup parent directory?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1.  create cgroup in "/sys/fs/cgroup/cpu/test111/ccc ":
[leo@centos8 ccc]$ pwd
/sys/fs/cgroup/cpu/test111/ccc
[leo@centos8 ccc]$ ll
total 0
-rw-r--r-- 1 leo leo 0 May 29 14:50 cgroup.clone_children
-rw-r--r-- 1 leo leo 0 May 29 14:50 cgroup.procs
-r--r--

[2020-05-29 19:28] mheon commented on #6431
I don't think we can do it at create time (we need to make & mount the container to translate the UID) but we can definitely do it when we go to start the container, which should be enough for `podman run`

[2020-05-29 19:29] baude commented on #6427
this is fixed in master ....

[2020-05-29 19:29] #6427 closed

[2020-05-29 19:30] rhatdan commented on #6433
You inspired me to write my third blog today.  If you want to preview it, please send email to dwalsh@redhat.com
I think I cover what you did to figure this out.  BTW Good detective work by you, other then disabling SELinux. :^)

[2020-05-29 19:40] polongibro commented on #6425
@gdm85 I see how you replicated the issue for your specific problem, however, when podman generates the libpod.conf file for each user and the "tmp_dir = "/tmp/run-1000/libpod/tmp" stanza is generated, those numbers (in this case the run-1000) in the libpod.conf stanza is based on the UID of the user. Each podman libpod.conf file will match each users UID.

You can confirm this by comparing the ca

[2020-05-29 20:45] mheon commented on #6434
First: this is not expected to work. Podman does not use cgroups on cgroups v1 systems in rootless mode (there are security issues with cgroups v1 that make them unsafe for use without root access - v2, as used in Fedora 31/32, resolve these issues). We will not create cgroups as rootless on a cgroups v1 system, as your `podman info` output indicates your host is. It might be a good idea for us to

[2020-05-29 21:51] tradetechpeter opened #6436 "podman cli does not match docker cli when no sub command is provided"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. On CentOS 7 run `sudo podman`

2. Install the latest docker cli from the docker repos https://docs.docker.com/engine/install/centos/

3. On the same CentOS 7 machine run `sudo docker`

**Describe the results you received:**
$ sudo podman
Error: missing co

[2020-05-30 02:09] Mar-Veloz opened #6437 "publishing UDP port does not work in rootful container, but does work in rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

For context, I am trying to set up a Minecraft server, which runs on UDP port 19132. I have noticed that when I create a *rootful* container using the flag `-p 19132:19132/udp`, the port forwarding does not seem to work. I confirmed this by running `tcpdump  udp port 19132 -vv` on both the host and the contai

[2020-05-30 10:32] skorhone commented on #6414
Definition for runroot in config is a bit vague. Considering I wasn't sure what gets stored to given location, I felt safer by using device that is less likely to run out of space

[2020-05-30 10:33] Yajo commented on #4458
I've been reading the other issue but found nothing about bundling podman inside flatpak. Is that done? Is that possible?

[2020-05-30 10:40] Davidnet opened #6439 "Running a sample container Docs Fail"
bug

**Description**

Using the sample tutorial located at [documentation link](https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md)

If trying to run the example:

[code]

**Steps to reproduce the issue:**

1. Run

[code]

**Describe the results you received:**

Failed to resolve the get the container

**Describe the results you expected:**

Run example and get a ht

[2020-05-30 10:50] gdm85 commented on #6425
@polongibro if you read carefully the issue I submitted you will see that the user already has an UID of 1000. The issue you are describing has nothing to do with the one I submitted.

[2020-05-30 10:55] rhatdan commented on #6436
I disagree.  I don't want podman --help to pop up on every execution of a command.  Most commands work like podman
[code]
We do not match Docker when it is a what we consider a bug.
If you type into the screen,
[code]
Docker dumps 84 lines worth of text and the actual error message scrolls off of the terminal. Most of this useless information that you probably already know. Now you have to scroll

[2020-05-30 10:55] #6436 closed

[2020-05-30 11:14] rhatdan commented on #6414
Could you open a PR to clean up the documentation?

[2020-05-30 11:16] rhatdan commented on #4458
Podman could be installed in a flatpak, and it might work. But realize that a flatpak is a container, and you would be attempting to run containers within containers, which very likely is going to be blocked by some kind of security mechanism. or other issues with namespaces.

Why do you need it in a flatpack?

[2020-05-30 11:21] rhatdan commented on #6439
Looks like fedora no longer ships this image, and I don't find the image with other versions of fedora distro.

@TomSweeneyRedHat Could you update the documentation, and find a newer example.

[2020-05-30 12:16] Luap99 opened #6440 "Shell completion"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The current bash autocompletion is hard to maintain and buggy. Cobra can create completion shell scripts. This was already tried in PR #4768 but dropped because the lack of autocompletion support for containers/pods/volumes/etc...

With the current cobra version 1.0.0 you can now add a cu

[2020-05-30 12:32] Luap99 commented on #6439
On [https://registry.fedoraproject.org/](https://registry.fedoraproject.org/ ) if found this image: **`registry.fedoraproject.org/f29/httpd`**

[2020-05-30 15:04] TomSweeneyRedHat commented on #6440
@Luap99 we're always open to contributions!  I'd say start with a small subset and we can build from there.  We also use some Cobra flags that are defined in Buildah.  I know that's so for the build command and I think the commit command to.

[2020-05-30 18:01] TomSweeneyRedHat commented on #6439
@Davidnet thx for the heads up and pointer, fix inbound.

[2020-05-30 18:11] mheon commented on #6437
[code]

Rule seems to be there, but 0 packets hit it.

I'm really familiar with nftables, though, so I'm not sure what the cause of that could be.

[2020-05-30 18:22] mheon commented on #6437
Can I ask for more details about your system - are you entirely on nftables, or do you have iptables installed with the nftables-compatible backend? A dump of firewall rules in iptables format would be somewhat more useful, because I (and the other maintainers) are a bit more familiar with that.

[2020-05-30 19:03] Mar-Veloz commented on #6437
This may be because I dumped the rules immediately after creating a new container, since I deleted the old container I was using when I encountered the bug, and created a fresh container to get the `nftables` output for the bug report.

. . . I just tried it again, and it seems the port forwarding is now working. Unfortunately, I don't remember if there was anything I did differently to cause the

[2020-05-30 20:39] mheon commented on #6437
I'll go ahead and close, but feel free to re-open if it reoccurs. Thanks!

[2020-05-30 20:39] #6437 closed

[2020-05-30 20:54] rhatdan commented on #6440
Skopeo also.  My only concern would be around more advanced features like completions of container names or image names.  Plus option values.  But having the tool automatically generate most of this would be great.

[2020-05-30 20:55] rhatdan commented on #6439
But f29 is already out of support.  I thought there might be a httpd from Centos?

[2020-05-30 21:26] Luap99 commented on #6440
OK, so i started testing this a bit and it looks like that completion for the build command will also be added automatically. I agree that completion for containers/images... is a must have but this also is doable. I will open a PR soon so you can take a look :)

[2020-05-31 02:47] mheon commented on #5825
This is fixed on master with the Libpod API.

[2020-05-31 02:47] #5825 closed

[2020-05-31 07:22] coldbloodx commented on #6434
@mheon
Got it, thank you for your answer :)

[2020-05-31 09:57] #6439 closed

[2020-05-31 22:08] jcrd commented on #5979
Thanks for the thorough explanation.

My workaround is to use a detach key combo with an unconflicting first keystroke:
`detach_keys = "ctrl-q,ctrl-q"`

[2020-06-01 00:59] JaeSim commented on #6401
i add ``"hairpinMode": true`` and run container. but issue is still reproduced.
here is detail output.
[code]

[2020-06-01 08:51] skorhone commented on #4483
Creating a directory named bus seems indeed to fix issue with leaks. But considering /run/user/.../bus should be a socket, it makes me worried about possible side-effects.

[2020-06-01 12:48] #6286 closed

[2020-06-01 13:32] baude commented on #6426
I tried all three of these invocations and each worked.

[code]
The container I used was"

[code]

Could you provide a repro for the container you ran?

[2020-06-01 13:34] rhatdan commented on #6440
Great thanks.

[2020-06-01 13:38] baude commented on #6421
-d on curl sends the information within the body of the POST.  For some commands, like container create, it is valid to send the data in the body as json.  However, in this case, the API requires path and query parameters.  So you must send like so:

`curl -X POST .... http:/.../libpod/pods/hug/kill?signal=term`

where hugo is a path parameter representing 'name' and 'signal' is a query parameter.

[2020-06-01 14:09] edsantiago opened #6448 "podman pod ps: --format .Labels seems to be unimplemented"
`podman-pod-ps(1)` documents a `.Labels` template field but:
[code]
(I've tried various different CaPiTaLiZatiOns, tried singular/plural)

podman-1.9.2-1.fc32, also master @ f42c30578958be3a502cf75b06054296269c94e9

[2020-06-01 14:48] edsantiago opened #6451 "rawhide: podman build is completely broken"
koji is completely [broken on all arches](https://koji.fedoraproject.org/koji/buildinfo?buildID=1518699) on rawhide:
[code]
I'm guessing it has to be #6353 but it'll take me too long to figure out the full root cause. I bet something needs to be tweaked in the fedpkg specfile (master).

[2020-06-01 14:53] baude commented on #6451
@edsantiago the GOPATH isnt being set.

[2020-06-01 15:58] rhatdan commented on #5979
Sadly Docker picked a bad default.  Since the ^p key is used by default in bash for previous message.
You can use containers.conf to change the default for all containers.
[code]

[2020-06-01 15:58] #5979 closed

[2020-06-01 16:00] #6409 closed

[2020-06-01 16:14] rhatdan commented on #5979
Added a PR with documentation https://github.com/containers/libpod/pull/6455

[2020-06-01 16:37] rhatdan commented on #6050
@abitrolly Does the master branch work for you now?

[2020-06-01 16:53] edsantiago commented on #6451
I've [removed varlink from the rawhide specfile](https://src.fedoraproject.org/rpms/podman/c/5907c5c652e1af6920ab16c42d0b6109f92c38ad?branch=master). Keeping fingers crossed.

[2020-06-01 17:03] mheon commented on #6050
This is not implemented yet. We added the endpoints, but they just throw "not implemented" errors for now.

Definitely on our radar, though, but will probably be combined with a rewrite of CLI `podman cp`

[2020-06-01 17:41] #6448 closed

[2020-06-01 19:21] edsantiago commented on #6451
Took two tries — my mistake, I had forgotten how to run `fedpkg local` to test — but Koji builds [are now fixed](https://koji.fedoraproject.org/koji/buildinfo?buildID=1518999).

[2020-06-01 19:21] #6451 closed

[2020-06-01 20:58] eriksjolund opened #6458 "Add support for --preserve-fds to podman run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
__Summary__: Add support for `--preserve-fds=N` to `podman run`, in the same way that the command-line option is supported in `podman exec`.

__Example__:
The command __foobar__ (in the container _localhost/example_) reads input from the file descriptor 0 and the file descriptor 3.
My goal

[2020-06-01 21:42] mheon commented on #6458
Shouldn't be that difficult (the reason `--preserve-fds` is exec-only is that the original request was only for exec, there are no technical reasons it won't work with `podman run`). Unfortunately, most of the team is swamped with Podman 2.0 work at the moment, so I can't guarantee we'll get to this quickly; community PRs are always welcome, though!

[2020-06-02 02:32] yuhuijiang commented on #6421
Yes. it works now. thanks Brent

[2020-06-02 06:57] Yajo commented on #4458
I was thinking on the possibility to create an alternative to yunohost inside a desktop app. Flatpak seemed like the best option to package it, while podman seemed like the best option to run services in it.

[2020-06-02 07:26] marusak opened #6459 "`images --no-trunc` misformated image ID"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The `image ID` when using `--no-trunc` is misformated.

**Steps to reproduce the issue:**
1.
[code]

**Describe the results you expected:**
Feels like one `sha256:` would be enough :)

Using my own build of podman from current master (d6bf6b92c).

[2020-06-02 07:32] vrothberg commented on #6459
Thanks for the report! I opened https://github.com/containers/libpod/pull/6460 to fix it.

[2020-06-02 08:00] penn5 commented on #5680
Looks like it. Tried with --format=docker, and it used the cache :hmm:. However, after nuking all images (with `podman rmi -af`) and building with --format=docker, it works! Perhaps I should file a new bug for caching between formats?

[2020-06-02 09:06] penn5 commented on #5680
See https://github.com/containers/buildah/issues/2388

[2020-06-02 09:36] chuanchang opened #6464 "[apiv2] How to use changes query parameters in committing an image from a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

1.  ./bin/podman system service --timeout 0 tcp:127.0.0.1:8080 &

2.  curl -v -X POST "http://localhost:8080/v1.40/libpod/commit?container=myfoo&changes='CMD=/bin/foo'" or s/CMD/Cmd/

3. curl -v -X POST "http://localhost:8080/v1.40/libpod/commit?containe

[2020-06-02 11:14] marusak opened #6466 "APIv2 documentation is not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
https://podman.readthedocs.io/en/latest/_static/api.html does not work. I saw this week or two weeks ago for the first time so not sure if still down or again.

![wentwrong](https://user-images.githubusercontent.com/12330670/83513962-0492b680-a4d3-11ea-9dd2-e01f4a6fad79.png)

[2020-06-02 12:41] TomSweeneyRedHat commented on #6466
@marusak How did you get to the page?  i.e. did you use a bookmark or a link from another page?  We're having a CORS issue when coming in from https://podman.readthedocs.io/en/latest and we're trying to chase those links down.  Try instead https://docs.podman.io

[2020-06-02 12:47] marusak commented on #6466
I just type `redo` into my browser and I get this option as I visited it before.

Interestingly, when I go to `https://docs.podman.io`, click on `Reference` (in "Finally, for Developers looking at how to interact with the Podman API, please see our API documentation Reference.") I see the doc in the small embedded window. When I click 'API documentation' (as in "To see full screen version please v

[2020-06-02 12:52] TomSweeneyRedHat commented on #6466
@marusak TYVM for the pointers.  I'll see if I can clean up that 'API documentation' link.

[2020-06-02 12:53] rhatdan commented on #4093
@theunrealgeek How is it going?

[2020-06-02 13:00] marusak commented on #6021
Sure, Today I tested the REST API on our tests and it seems to work rather nicely. And hopefully podman-2.0.0 is behind the corner, so we can close this.

[2020-06-02 13:00] #6021 closed

[2020-06-02 13:22] baude commented on #6464
Here is a proper encoded changes.

[code]

[2020-06-02 14:46] baude commented on #6466
Also, adding for people who are searching for a solution and end up here.  You can serve yourself the documentation by install go-swagger (https://github.com/go-swagger/go-swagger) and then:

1. cd pkg/api
2. make
3. swagger serve swagger.yaml

[2020-06-02 15:42] mheon commented on #6171
Handled upstream, going to close

[2020-06-02 15:42] #6171 closed

[2020-06-02 15:42] mheon commented on #6171
Or downstream, rather

[2020-06-02 15:42] mheon commented on #6153
Given this is technically new functionality, I'm going to change this to kind/feature

[2020-06-02 15:47] mheon commented on #6389
@rhatdan What's the verdict here - does this look like a Podman bug?

[2020-06-02 15:49] mheon commented on #6378
Closing as c/common PR landed

[2020-06-02 15:49] #6378 closed

[2020-06-02 15:50] mheon commented on #6377
Going to relabel as kind/feature as this is technically new functionality

[2020-06-02 15:52] mheon commented on #6376
Reproduces locally, will try and take a look.

[2020-06-02 15:54] mheon commented on #6368
What's our status here - is this solved, or are there lingering questions?

[2020-06-02 16:00] mheon commented on #6334
Given this is mostly a request about network endpoints now, I'm going to rename and change to kind/feature

[2020-06-02 16:01] mheon commented on #6365
I'll try and get to this one this week

[2020-06-02 16:03] mheon commented on #6233
@edsantiago Have we seen this one recently?

[2020-06-02 16:05] mheon commented on #6093
Fixed, closing

[2020-06-02 16:05] #6093 closed

[2020-06-02 16:06] edsantiago commented on #6233
Oooh! We actually [have data now!](http://file.bos.redhat.com/~santiago/cirrus-flake-xref.html). No, I don't see it. Closing, will reopen if it recurs.

[2020-06-02 16:06] #6233 closed

[2020-06-02 16:12] mheon commented on #6090
I think we need this fixed for v2.0, to make sure that upgrades from older Podmans do not blow up.

[2020-06-02 16:13] mheon commented on #6089
Should be fixed, closing

[2020-06-02 16:13] #6089 closed

[2020-06-02 16:15] mheon commented on #6050
Changing to kind/feature as this is a new feature

[2020-06-02 16:16] mheon commented on #6015
@baude @jwhonce PTAL

[2020-06-02 16:17] mheon commented on #5964
We should fix this for v2.0

[2020-06-02 16:50] geverartsdev commented on #6368
The original issue isn't solve, but going with a newer version of Ubuntu allowed me to get things working anyway.  I will close it and I guess that if someone else faces the same problem I had, he can still reopen it.

[2020-06-02 16:50] #6368 closed

[2020-06-02 17:34] chuanchang commented on #6426
I hadn't found podman.sock on my local host

podman run -td alpine  /bin/sh

[2020-06-02 18:48] #6459 closed

[2020-06-02 19:17] baude commented on #6334
we have network endpoints for compat and libpod.

[2020-06-02 19:25] rhatdan commented on #6458
@eriksjolund Feel like opening a PR?
@sujil02 @QiWang19 PTAL

[2020-06-02 20:23] rhatdan commented on #4458
@alexlarsson WDYT?

[2020-06-02 20:24] mheon commented on #5652
Still repros on master, fixing now

[2020-06-02 20:44] mheon commented on #5741
This is finished now.

[2020-06-02 20:44] #5741 closed

[2020-06-02 20:57] edsantiago opened #6472 "weird: podman [image|container] inspect -l : panics"
[code]
Same with `podman image inspect -l`, `podman container inspect -l`

master @ c4ccd7cbc1509bab6183c47f740cbf2cc4ee0424

[2020-06-02 21:01] mheon commented on #6472
Happens when no container is present, we're probably doing something silly

[2020-06-02 21:01] mheon commented on #6472
Also, `podman image inspect` should not have the `-l` flag

[2020-06-02 21:07] TomSweeneyRedHat commented on #6466
I've poked at this a bit.  As @marusak noted, the "API Documentation" link on this [page](https://docs.podman.io/en/latest/Reference.html) is failing.  We do have an issue when using the older addresses, `podman.readthedocs.io`, but this one as it is using `docs.podman.io` should work.  I suspect there may be an underlying issue with swagger and I'll need to have @cevich take a look.  However I kn

[2020-06-02 21:11] rhatdan commented on #6389
I want to try to get it to happen locally but have not had time.  Perhaps an issue for an Intern.

[2020-06-02 21:11] rhatdan commented on #6389
@sujil02 Could you see if you can get this to fail?

[2020-06-02 21:12] sujil02 commented on #6389
Sure thing will have a look.

[2020-06-02 22:05] #6349 closed

[2020-06-02 22:53] mheon commented on #6285
Fixed now

[2020-06-02 22:53] #6285 closed

[2020-06-02 22:54] mheon commented on #6248
@baude @rhatdan @ssbarnea Is this resolved?

[2020-06-02 22:56] mheon commented on #6219
I think this is adequately answered, so I'm going to close - if there are further questions, please open a fresh issue.

[2020-06-02 22:56] #6219 closed

[2020-06-02 22:59] mheon commented on #6033
Fixed now

[2020-06-02 22:59] #6033 closed

[2020-06-02 23:00] mheon commented on #6158
This seems like a request for the OCI runtime (runc/crun) - we don't directly run the process, instead we run Conmon, which then runs the OCI runtime, which performs the exec. We do print information on how Conmon was called.

[2020-06-02 23:04] mheon commented on #5849
@urfin78 Can you open a fresh issue, please? I'm going to close this one. I think your issue may be separate.

[2020-06-02 23:05] mheon commented on #5665
@edsantiago Tests are reenabled, but I don't think I've seen these recently

[2020-06-02 23:06] mheon commented on #5621
I'm going to close this due to a lack of activity; feel free to open a new issue if more questions arise.

[2020-06-02 23:06] #5621 closed

[2020-06-02 23:11] disaster123 commented on #5849
@mheon why did you close this? This still happens with gitlab-ce - the healthcheck fails.

[2020-06-02 23:23] rhatdan commented on #5665
Let's reopen if they return.

[2020-06-02 23:23] #5665 closed

[2020-06-03 00:10] mheon commented on #5849
Ah, I thought you were satisfied with the workaround - ack, reopening.

Can you check if `systemctl --user` works as the user you're running the Gitlab container as?

[2020-06-03 05:02] chuanchang commented on #6464
it works for me, thanks!

[2020-06-03 05:02] #6464 closed

[2020-06-03 05:38] wangluochao902 opened #6475 "A bug in Dockerfile"
https://github.com/containers/libpod/blob/95ea39edf34e4de4450c1674721ab02a7cf6a327/contrib/podmanimage/upstream/Dockerfile#L58
Hi, we are developing a tool to detect typos/bugs in dockerfiles automatically. Our tool finds a potential bug above. Is it a bug? we believe there is a redundant blackslash "\\" at the beginning of the line. Our tool is currently available here https://wangluochao902.gith

[2020-06-03 06:57] vrothberg commented on #6475
Thanks for opening the issue and for sharing the tool!

The backslash won't do any harm but it certainly is confusing. Would you be interested in opening a PR to fix it?

[2020-06-03 07:33] theunrealgeek commented on #4093
I've just pushed the commits addressing PR comments and I'm hoping to get it approved soon

[2020-06-03 08:07] ssbarnea commented on #6248
20 days ago it was sorted via CI/CD hacks as I mentioned, but AFAIK nobody spared time to implement these steps into in-repo build_rpm.sh script.

Without libpod cores stepping in and assuring that this happens and no regressions are allowed I doubt we have a sustainable way to keep it alive.

RDO&TripleO can assure that the CI/CD is working, but it cannot prevent regressions with a job that is no

[2020-06-03 09:36] eriksjolund commented on #6458
@rhatdan Up till now I've only been a Golang code reader and not a Golang code writer, so it would take a bit of an effort to do an PR. Unfortunately I have too little time right now.

[2020-06-03 09:56] rhatdan commented on #6475
This syntax is legal, and basically eliminates anyone having done a `alias cp=cp ...` in shell.
This could be a problem if for some reason a .bashrc or .bash_profile had setup an alias.
Most likely removing it would not be a problem.  But it is definelty not invalid syntax.

[2020-06-03 10:19] rhatdan commented on #6248
I just ran it and it is failing because we do not install debuginfo in the spec file.
Looking at the build_rpm.sh script , it looks like it does not intend to build them?
I don't see that this is something that we did to cause this, but if it was I am willing to be educated.

[2020-06-03 10:19] rhatdan commented on #6248
[code]

[2020-06-03 10:25] rhatdan commented on #6248
Ok I just looked at the failures on centos7, centos8 and rhel8.

We are not planning on shipping any more centos7/rhel7 versions, so these tests should be removed.

The failures are all caused because we are relying on newer versions of OCI Runtimes to add a provides ociruntime to their specfile.  runc, crun, kata should all provide this. That would allow podman to run with any runtime.   When we

[2020-06-03 10:43] rhatdan commented on #6458
No problem @eriksjolund, thanks for the issue.

I am always trying to encourage contributions.  Anyone helping in OpenSource projects are appreciated.

[2020-06-03 10:58] rhatdan commented on #6068
@giuseppe @mheon Could you guys add something to troubleshooting on this.

Basically document
[code]

[2020-06-03 14:57] havok4u opened #6479 "Kubevirt capability in Podman"
/kind feature

**Description**

Create the ability to launch traditional VM's (that are VNFs) the way kubevirt does.  We can call this podvirt if you want.  I know Kata is a way to do VM's in podman, but it leverages all the same methods and patterns that enable container work loads (things that terminate).  VNF's forward traffic /packets and are definitely used in any edge platform.  Kubevirt abi

[2020-06-03 15:55] durandx opened #6480 "Handle initContainer for Pods"
/kind feature

A nice feature to have in podman could be handle initContainer in the same way that K8S handle it.

The main problem is that container images and architecture has to be modified between pods in K8s and Podman : K8s can use a dedicated initContainer to properly initialise a pod whereas in podman we have to combine initialisation and core runtime in a single container. This limit the

[2020-06-03 17:27] #6472 closed

[2020-06-03 18:06] disaster123 commented on #5849
yes it does. Also healthchecks for all other containers work fine.

Have you tried to reproduce? Does it work for you?

It's just:
[code]

[2020-06-03 18:28] edsantiago commented on #6475
@TomSweeneyRedHat git blames you for introducing the backslash, in #3287 almost exactly one year ago. The commit message nor PR comments do not explain why you added the backslash. Do you remember?

[2020-06-03 18:34] Wotisrv commented on #5269
@groovyman is your container starting by systemd during boot? Mine is getting loaded but not started. I have to trigger `systemctl --user start my-container.service`

[2020-06-03 18:44] mheon commented on #6480
Creating the init containers seems fairly easy, and I think we can order pod startup to ensure that they are the first things to run in the pod without a problem (we already have a built-in startup dependency model), but the behaviour where Kube waits until an init container has *cleanly exited* to start the next one is problematic - all our dependency ordering is based on the dependency moving to

[2020-06-03 18:44] TomSweeneyRedHat commented on #6475
@edsantiago the use of the backslash was discussed in the review comments in #3287.  From what I recall the build hung without it.

[2020-06-03 18:49] edsantiago commented on #6475
I'm so sorry - it's very prominently discussed, in fact. I don't know how I missed it and apologize for bothering you.

[2020-06-03 18:54] haircommander commented on #6480
Theoretically, we could spoof init containers on podman side, and not expose to libpod.
the work flow could be
- loop through and create all init containers
- wait until each have exited
- clear the pod of all but infra container
- create and start all of the normal containers as is happening now

[2020-06-03 18:58] mheon commented on #6480
If there's an expectation that init containers run more than once - IE, on each start of the pod - I think libpod is a good place. Kube doesn't really hit this, given they never restart a stopped pod, just recreate, but we will.

[2020-06-03 19:21] wangluochao902 commented on #6475
Since it is not a bug, then there is a bug in our tool. Thank you for the helpful discussion.

[2020-06-03 19:24] haircommander commented on #6480
yeah we'd need to restart the init container process if we restarted the pod

I think a pod state: initializing would be clear for when the init containers are running. I think the containers could be ignored (or they could be cleaned up) in figuring out if the pod is running with little problem

[2020-06-03 19:31] Wotisrv commented on #5269
At least, I found the solution here:  #https://github.com/containers/libpod/issues/5494

[2020-06-03 20:04] #5747 closed

[2020-06-03 20:05] rhatdan commented on #6475
Yes @wangluochao902 \COMMAND should be ignored, as bash allows this syntax to remove alias commands.

[2020-06-03 20:24] rhatdan commented on #6479
We would need to see a PR to judge this.  Not something the Podman team has time to work on. But if the Kubevirt community wanted to contribute it is something we would consider.

[2020-06-03 22:01] edsantiago opened #6488 "v2: healthcheck not running as root"
This works as rootless, but not as root:
[code]
No matter how long I wait (up to a few minutes, anyway) the healthcheck status never changes. On rootless, though:
[code]
Also works fine with podman-1.9.3-1.fc32

This is master @ 377554d681db749547100d4cead47fb42fd9c414

No need to write a test when you fix this - that's the whole point of this PR, I have a BATS test in the works that caught this.

[2020-06-03 22:05] edsantiago commented on #6488
Oh, never mind, looks like it's an AVC. Setting context on `bin/podman` fixes it. Sorry.

[2020-06-03 22:05] #6488 closed

[2020-06-04 05:11] jgallucci32 opened #6490 "podman-api fails with 'runtime error: invalid memory address or nil pointer dereference'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman API returns an error when querying information for certain docker image

**Steps to reproduce the issue:**

1. Start Podman service in separate session
[code]

2. Pull image
[code]

3. Use cURL to get information about image using API
[code]

**Describe the results you received:**
Resu

[2020-06-04 06:29] vrothberg commented on #6490
Thanks for opening the issue! I can reproduce the issue and will take a look. In case this issue is blocking you, you could use the `libpod` endpoint (i.e., `../libpod/images/rancher/....`) which is working (on master).

[2020-06-04 07:20] MaxPeal commented on #4773
+1

[2020-06-04 07:44] vrothberg commented on #6490
I opened  #6491 to fix the issue. There was a bug in the port-parsing logic.

[2020-06-04 10:55] pothos commented on #713
Just a thought: Would it be a viable workaround to _somehow_ detect the `manifest` command in the https://github.com/containers/libpod/blob/master/docker wrapper script and run `buildah` instead of `podman`?

[2020-06-04 11:41] vrothberg commented on #6440
Note that we tried using Cobra for completions various times in our projects and failed. We cannot really automate code generation without context. Completions for volumes, images, containers and so on all need context knowledge that Cobra does not have.

That quite ignores the benefits of the manually-maintained script: just do a `podman run [TAB]`.

[2020-06-04 12:32] vrothberg commented on #713
Happy to share that `podman manifest` exists. Look forward to Podman v2 :birthday:

[2020-06-04 12:32] #713 closed

[2020-06-04 12:34] vrothberg commented on #1675
@QiWang19 can you help Tom test?

[2020-06-04 12:37] vrothberg commented on #2317
No, I think it slipped through

[2020-06-04 12:38] vrothberg commented on #2669
@baude, afaiu this issue should get some attention soon, right?

[2020-06-04 12:46] #5652 closed

[2020-06-04 12:48] vrothberg commented on #3587
@rhatdan, I guess we can close, right?

[2020-06-04 12:58] vrothberg commented on #3875
@baude @jwhonce , ping. I think we can support that as long as the ordinary user has permissions on the remote machine.

[2020-06-04 13:23] #6490 closed

[2020-06-04 14:05] baude commented on #3875
yup!

[2020-06-04 14:05] #3875 closed

[2020-06-04 14:41] QiWang19 commented on #1675
Open a PR https://github.com/containers/image/pull/950 to add documentation for credential helpers, but this only works for root, rootless login with credential helper doesn't work because of the d-bus issue.  Should add note to the documentation that credential only works for root, and close this issue, or just leave this open?  I already have filed a issue https://github.com/containers/libpod/is

[2020-06-04 19:16] edsantiago opened #6494 "podman pod --hostname: not working in RHEL8"
[code]
podman-2.0.0-0.3.rc4.module+el8.3.0+6918+d949891b.x86_64

Both root and rootless

[2020-06-04 19:29] cdjohnson opened #6496 "podman push twice results in two different digests"
/kind bug

**Description**

If I attempt to push the same tag to docker.io twice in a row, I get a different digest.

If I remove the blob cache `/var/lib/containers/cache/blob-info-cache-v1.boltdb`, then the correct digest is calculated.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
The digest is different for images that are stored in the image cache.

**Descr

[2020-06-04 19:47] mheon commented on #6494
Doesn't reproduce on my system, investigating further

[2020-06-04 20:05] edsantiago opened #6497 "rhel8 rootless: healthcheck not triggering"
Gating-test failure on RHEL8. The following works when run as *root*, but not *rootless* (and yes, the user has the magic loginctl):
[code]
No matter how long I wait (up to a few minutes, anyway) the healthcheck status never changes.

`podman healthcheck run foo` gets the status to update but still, no more periodic runs.

podman-2.0.0-0.3.rc4.module+el8.3.0+6918+d949891b

This is a copy/paste clo

[2020-06-04 20:18] #1675 closed

[2020-06-04 23:52] bbros-dev opened #6499 "Podman login returns username after logout indicates no user logged in."
/kind bug

**Description**

I'm trying to resolve [troubleshooting issue #13 - Anonymous image pull fails with invalid username password ](https://github.com/containers/libpod/blob/master/troubleshooting.md#13-anonymous-image-pull-fails-with-invalid-usernamepassword)

`podman logout docker.io` returns `Not logged into docker.io`.
Yet `podman login --get-login docker.io` returns a username

Accordi

[2020-06-05 00:15] grahamc commented on #6053
I'm not sure this is stale.

[2020-06-05 09:37] rhatdan commented on #6075
@bam80 Are you still interested in this?

[2020-06-05 09:40] rhatdan commented on #6064
@5eraph We are ready to merge those PRs with a simple fix, but we need action by the creator of the PR.

[2020-06-05 09:46] rhatdan commented on #6053
Well we gave you two options, one is placing the policy.json file in your homedir.  Or using the command line option --signature-policy PATHTOPOLICY
What else do you need?

[2020-06-05 09:47] rhatdan commented on #6053
Basically if you install podman yourself, not using a distro package, then you need to create the appropriate config files.  If this is a distro package of Podman, then the disto package was not created correctly.

[2020-06-05 10:21] adisbladis commented on #6053
This is assuming the package manager is even able to create files in `/etc/` or `$HOME`.
Not all package managers allow this.

[2020-06-05 10:33] adisbladis commented on #6053
The flag `--signature-policy` seems very inconsistently exposed and is not documented in the `podman pull --help` output.

It's not available in `podman run`, which will attempt to pull an image if it's not locally accessible.

[2020-06-05 12:38] progtologist opened #6503 "Partial image import/export"
/kind feature

**Description**

There is no option to export an image partially, that is, choose to omit some layers because we know that another system might already have them. This functionality is automatically provided when using a container repository, but somehow this is not feasible with the cli save/load functions.

This has been proposed (and [implemented](https://github.com/moby/moby/pul

[2020-06-05 13:41] #6494 closed

[2020-06-05 13:51] bam80 commented on #6075
@rhatdan yes, probably, just don't have time on it now. I'm not sure Toolbox provides rootfull containers variant..

[2020-06-05 13:51] mheon commented on #6503
I don't think the team has any time to implement this at the moment, but I don't think we'd object to a PR adding support for it.

I do have some concerns about the user interface for such a system; how does one specify which layers to include/exclude, and how do we provide a sensible error message if someone tries to import the image on a system that does not have those missing layers? These seem

[2020-06-05 17:04] mtrmac commented on #6503
The way `docker-archive:` currently pretends to use the schema2 format would not really work with missing layers. It might be fixable…

But, primarily, I’d recommend to use a registry. The `docker-archive:` format is quite inefficient to use (it requires extra I/O to create or consume a linear file, and creating the archive can’t be parallelized), and as implemented in c/image it does not allow an

[2020-06-05 17:07] mtrmac commented on #6053
Primarily Podman needs to update c/image to include https://github.com/containers/image/pull/922 , for a global default; there hasn’t been a c/image release since. And then Podman would hopefully prune some of the Podman-specific-defaults code that sets the same defaults as that PR.

And then we _probably_ should add the explicit `--signature-policy` option for `podman import` and `podman build`,

[2020-06-05 21:03] mheon opened #6506 "Issue with `podman play kube` on Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On Ubuntu, the E2e test `podman generate with user and reimport kube on pod` ([link](https://github.com/containers/libpod/blob/master/test/e2e/generate_kube_test.go#L256)) fails. We have temporarily disabled the test.

The error message is:
[code]

I believe this is related to the recent vend

[2020-06-05 21:03] mheon commented on #6506
@rhatdan @giuseppe PTAL

[2020-06-06 00:12] sdenovan opened #6507 "arm64 v8 pause container not matched"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Ubuntu 20.04 (arm64) on a Raspberry Pi 4

2. Install Podman using the Ubuntu instructions (apt integration)

3. podman pod create

**Describe the results you received:**
[code]

**Describe the results you expected:**
Pod created

**Additional information you deem important (e.g. issue happens only occasionally):**
Looking at

[2020-06-06 09:38] HarriL opened #6508 "Command: "podman run --restart=" is *not* compatible w/ "docker run --restart=""
/kind bug

**Description**

Installing _podman-docker_ the CLI command _podman_ should be as compatible as possible w/ docker.

There is an important docker command that is used in many dockerized systems. B/c the compatibility is not perfect in the podman command all the scripts should be changed because of podman. In practice you need an IF clause in all your scripts to check if you are running

[2020-06-06 13:20] mheon commented on #6508
We cannot support '--unless-stopped' as it implies the container will be
restarted after a reboot, but Podman cannot do this. Docker has a daemon
that starts on boot and it uses this to start containers on boot; Podman
does not have a daemon and this cannot do the same. This limitation is
documented in the manpages.

We recommend using Systemd unit files from 'podman generate systemd' if you
wish

[2020-06-06 16:29] rhatdan commented on #6508
@mheon Crazy idea of the day.  Why don't we just add a unit file to run podman on boot and have it check to see if any containers needed to be started, then start them. Would give us the same functionality as Docker without having to have a daemon.

[2020-06-06 17:23] TomSweeneyRedHat commented on #6508
@rhatdan what state would a container need to be in for an autorestart?  Running?  I'd just be concerned that there might be a container that could get into some ugly state if the system went down before it completed its task.

Could we add a  'restartable' field to the container to allow the user to decide which containers to restart if necessary?  Maybe add a `--restart` option to the run comman

[2020-06-06 18:03] mheon commented on #6508
@rhatdan Hm. We could probably do this with a oneshot unit - have a `podman system on-boot` that starts anything we intend to be running. I need to double-check to be sure, but I think the current restart policy code will probably allow you to determine what containers need to be restarted without much trouble?

[2020-06-07 09:31] agners commented on #6140
Interestingly, `loginctl session-status` does show the session I entered toolbox on my Fedora 30 container, however, it seems to use the primary session (the one I logged in first) when using Fedora 33. Turns out this is due to a change in `loginctl` which used to lookup `XDG_SESSION_ID`, but this got removed by v243. The commit message claims the server side can do "something similar", but I gues

[2020-06-07 15:35] doc-olliday opened #6510 "podman rmi gives "layer not known" when executed in parallel"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We use a Jenkins pipeline with parallel stages. Each stage builds, tags, pushs and removes a container image. In **about half of the pipeline runs** the `rmi` command fails with
`layer not known`.
We suspect a race condition during the parallel runs.
Running the same pipeline on "older" cento

[2020-06-07 15:40] mheon commented on #6510
@nalind @vrothberg Does this look like an error where another process already removed a layer that we wanted removed? IE, something we can just ignore and continue running?

[2020-06-08 00:03] jgallucci32 commented on #6490
@vrothberg I just tested this with Fedora Rawhide and have verified this issue has been resolved with the latest build
[code]
Here is the correct output
[code]

[2020-06-08 01:20] thegreatluke commented on #6084
I had the same issue when trying to run rootless podman containers as a non-root account that was treated essentially as a service account.
`sudo loginctl enable-linger <username> ` did allow my "service accounts" to execute the podman containers.

[2020-06-08 01:25] jgallucci32 opened #6511 "[apiv2] fails with 'strconv.ParseUint: parsing \"tcp\": invalid syntax'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Podman API returns an error when querying information on a running container when its ports are published

**Steps to reproduce the issue:**

1. Run container and publish the container's port on TCP/80
[code]

2. Use cURL to get information about the running container
[code]

**Describe the res

[2020-06-08 06:31] giuseppe commented on #6506
I think we need an updated runc that has: https://github.com/opencontainers/runc/pull/2424

[2020-06-08 08:12] progtologist commented on #6503
Thank you for taking the time to describe the underlying problems in detail. If you read through the docker merge request I have linked and the discussions linked on that as well, there are a few users/developers that have shown interest in this functionality.
It has been requested (and implemented) from users numerous times and had two different MR rejected, dating back in 2015.

The use case is

[2020-06-08 08:19] DesSolo opened #6512 "nftables and rootful"
/kind bug

**Description**

How to disable overwrite rules to nftables in rootful mode? Or how use force rootless mode?

**Steps to reproduce the issue:**

1. `cat /etc/cni/net.d/87-podman-bridge.conflist`
[code]

2. `systemctl restart nftables.service`

3. `nft list ruleset`
[code]
4. `podman run --rm -d -p 8082:80 nginxdemos/hello`
5. `nft list ruleset`
[code]

**Output of `podman version`:**

[

[2020-06-08 08:25] vrothberg commented on #6490
Wonderful, thanks for double checking!

[2020-06-08 10:11] DesSolo commented on #6512
Or how use force rootless mode?

[2020-06-08 10:24] ypu opened #6514 "APIv2 pods top of non-exist pod gets two response value"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The return value from API v2 pods top command of a non-exist pod is not the same as the docs. It include two response number 404 and 500.

**Steps to reproduce the issue:**

1. Start a podman APIv2 service
[code]
2. Use curl to try to get a non-exist pod's process
[code]

**Describe the resul

[2020-06-08 11:44] zhangguanzhang commented on #6475
could use `/usr/bin/cp`

[2020-06-08 12:17] rhatdan commented on #6475
Yes that would work also.

[2020-06-08 13:39] mheon commented on #6512
What is the exact complaint here - what in particular is being overwritten that you would like to preserve?

[2020-06-08 14:13] ypu opened #6517 "APIv2 container restore query parameter name is not working"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**
APIv2 container restore query parameter name is not working. When try to import restore from a file with name, curl command always restore to the origin container.

Also there is a query parameter "leaveRunning" exist in restore, maybe we should remove it from restore.

**Steps to reproduce the issue:**

1. Start a podman ser

[2020-06-08 14:35] DesSolo commented on #6512
Thanks for the answer. I think this is more a question than a bug. Does not work correctly with CNI in rootfull. When specifying podman not to use module CNI, this is ignored ...
I would like to use podman as a root, but not to add the rules to the firewall, the question is about this.

[2020-06-08 15:12] mheon commented on #6512
You can force the use of slirp networking as root with `--net=slirp4netns` (be aware that this does come with some limitations, though).

[2020-06-08 15:52] jgallucci32 commented on #6511
@zhangguanzhang Thanks for addressing this issue so quickly!

[2020-06-08 16:03] sergeiwaigant commented on #5431
Same here with Podman 1.6.4 on RHEL7.7 EUS.
I don't understand why this issue is not being tackled.
With this situation we would need to disable Firewalld at all to use Podman containers as services - or is there any other workaround to overcome that problem?

We are using systems maintained by central team with Puppet and they run firewalld --reload every 30 minutes, this is breaking the iptables

[2020-06-08 16:56] edsantiago opened #6518 "CI flake: Panic in Spec Teardown: send on closed channel"
cirrus-flake-xref is reporting three instances of this since May 26:
[code]
Log links:
* [PR 6356](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/4615038243700736/html/integration_test.log.html)
* [PR 6453](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5392977415634944/html/integration_test.log.html)
* [PR

[2020-06-08 17:16] mheon commented on #5431
As said before, `--permanent` is not an option because it has undesirable side effects - we do not want rules to outlive the container that created them, as would be the case after reboots. We are considering a `podman system` command that will recreate rules after a firewall reload, which I suppose you could run after your `firewalld --reload` though there would be an interruption in connectivity

[2020-06-08 17:21] edsantiago opened #6519 "CI flake: podman run --conmon-pidfile: /proc/PID/exe is empty"
cirrus-flake-xref is reporting three instances of this flake since May 27:
[code]
That is: `podman run --conmon-pidfile` is writing a pidfile with a number in it. My code is doing `readlink /proc/PID/exe`, expecting it to be `/path/to/conmon`, but it's empty.

So far only rootless, and only in `fedora-32 : special_testing_rootless`. Logs: [PR 6402](https://storage.googleapis.com/cirrus-ci-53857324

[2020-06-08 17:33] rhatdan commented on #4016
@ChristianCiach `podman unshare chown UID:GID -R PATH `

[2020-06-08 17:58] mheon commented on #6519
If the container in question exited, its Conmon would also go away. I wonder if something is killing it (or causing the container to exit immediately after it starts)

[2020-06-08 17:59] mheon commented on #6519
Also, is Conmon still running, just with an empty `/proc/$PID/exe`? Or is it completely dead?

[2020-06-08 18:03] edsantiago commented on #6519
The container command is `sleep infinity`; I should've included that.

Without instrumenting the script, I have no way of knowing if the pid is running or in fact anything else about the system.

[2020-06-08 18:08] HarriL commented on #6508
Hello from Finland,
I was not clear and detailed enough. Let's try again :-)
And sorry this lengthy text...

The issue is that **podman run** command breaks to an errno/error b/c of compatibility issue that the **podman-docker/podman/libpod** is missing one argument/policy needed for compatibility. This has nothing to do with the answers you kindly already provided, but misunderstanding how unless

[2020-06-08 18:26] mheon commented on #6376
Works properly with `runc`, shows this behavior with `crun` (verified on Ubuntu 20.04, crun 0.13 from Kubic and system runc used)

@giuseppe PTAL, looks like a `crun` bug.

[2020-06-08 18:36] mheon commented on #6508
Hm. So `unless-stopped` works exactly like `always`, minus the feature we don't support yet? That should be an easy fix. Thanks for explaining!

[2020-06-08 19:04] sergeiwaigant commented on #5431
OK. Let's say it differently.
Any reload, which can happen from tme to time even manualy, should not result in any kind of unavailablity of a service running in a container.
If that should be normal, then any kind of system services running in container are just useless.

[2020-06-08 19:22] mheon commented on #6508
#6522 to fix

[2020-06-08 19:38] yuhuijiang opened #6523 "[APIv2] volume create http response status code is 200, but in doc is 201"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

volume create http response code is 200, but in doc is 201
**Steps to reproduce the issue:**

1. podman system service --timeout 0 tcp:127.0.0.1:8080

2. curl -v -X POST -H 'Content-type: application/json' -d '{"Name":"test0142","Label":{"helloname":"yujiang","time":"2020"}}' http://localhost

[2020-06-08 19:38] rhatdan commented on #5715
@mheon Any movement on this?  Issue for Interns?

[2020-06-08 19:38] lucasbasquerotto commented on #4016
I consider running with root in the container better because it's more portable. Running with a hardcoded UID (like 1000) can make it very difficult (even impractical) when using volumes. If the user escalating from the container to the host is really a concern for whoever runs the container, afraid that the user in the container could be able to access the user credentials on the host, then I con

[2020-06-08 19:46] yuhuijiang opened #6524 "[APIv2] volume inspect no "Anonymous","GID", "UID","Status" parameters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

volume inspect output no "Anonymous","GID", "UID","Status" parameters

**Steps to reproduce the issue:**

1. podman system service --timeout 0 tcp:127.0.0.1:8080

2. curl -s http://localhost:8080/v1.40/libpod/volumes/test0142/json | jq

3. Check the output

**Describe the results you received

[2020-06-08 19:53] jgallucci32 opened #6525 "[apiv2] fails with 'schema: error converting value for \"follow\"'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Podman API returns an error when using the `follow=1` parameter (or another parameter) parameter before the `stderr` or `stdout` streams when retrieving logs on a running container.

**Steps to reproduce the issue:**
1. Run a container
[code]

2. Use cURL to retreiving logs with the `follow=1`

[2020-06-08 19:56] rhatdan commented on #6138
Sorry @firefly-serenity This seems to have been lost i the noice.
@adrianreber @giuseppe PTAL

[2020-06-08 19:58] yuhuijiang opened #6526 "[APIv2] volume ls output no "UsageData","Status""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

volume ls output no "UsageData","Status" parameters

**Steps to reproduce the issue:**

1. podman system service --timeout 0 tcp:127.0.0.1:8080

2. curl -s http://localhost:8080/v1.40/libpod/volumes/json | jq

3. Check the output

**Describe the results you received:**
[
  {
    "Name": "demo

[2020-06-08 19:59] rhatdan commented on #6506
@lsm5 PTAL

[2020-06-08 20:11] yuhuijiang opened #6527 "[APIv2] volume rm force parameter not implement"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While removing a using volume by force=true, but it doesn't work as expected

**Steps to reproduce the issue:**

1. podman system service --timeout 0 tcp:127.0.0.1:8080

2. curl -X DELETE  http://localhost:8080/v1.40/libpod/volumes/test?force=true -v

3. Check the output

**Describe the resul

[2020-06-08 20:23] kgibm opened #6528 "Feature request: Allow container to override /proc/sys/kernel/core_pattern"
/kind feature

**Description**

After some customers upgraded from OCP 3.11 to 4, they can no longer **easily** acquire core dumps of a container process which are a common diagnostic used by [OpenJ9 Java](https://www.eclipse.org/openj9/) for [memory analysis (e.g. OutOfMemoryErrors, sizing, etc.)](https://www.eclipse.org/openj9/docs/dump_systemdump/) using the [Eclipse Memory Analyzer Tool](https

[2020-06-08 20:30] mheon commented on #5715
Just finished up on it now

[2020-06-08 20:31] mheon commented on #5715
Fixed by #5715

[2020-06-08 20:32] mheon commented on #5715
Sorry, bu #6529

[2020-06-08 20:33] rhatdan commented on #6528
@giuseppe PTAL

[2020-06-08 20:33] navidsh commented on #6528
**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
OpenShift `4.3.19`

[2020-06-08 20:45] mheon commented on #6527
@ParkerVR PTAL. Feel free to reach out to me or @jwhonce for help getting started!

[2020-06-08 20:48] mheon commented on #6523
@ryanchpowell PTAL. Feel free to reach out to me or @jwhonce if you need help getting started!

[2020-06-08 20:49] mheon commented on #6525
@jwhonce PTAL

[2020-06-08 20:50] mheon commented on #6524
I have a feeling they're declared `omitempty` in the JSON...

@ashley-cui PTAL. I think this code is entirely new since you were last here, so feel free to reach out to me or @jwhonce for help finding your way around.

[2020-06-08 20:54] mheon commented on #6497
This turns out to be an error with systemd - should work on Fedora, backport required (and requested) on RHEL.

[2020-06-08 20:55] mheon commented on #6434
I think this is answered, so closing, feel free to reopen if there are further questions

[2020-06-08 20:55] #6434 closed

[2020-06-08 21:04] mheon commented on #6192
@ParkerVR PTAL

[2020-06-08 21:06] mheon commented on #5964
@ashley-cui PTAL

[2020-06-08 21:11] mheon commented on #4812
This seems fixed, closing.

[2020-06-08 21:11] #4812 closed

[2020-06-08 21:11] mheon commented on #6514
@ryanchpowell PTAL

[2020-06-08 21:40] jgallucci32 commented on #6525
@mheon @jwhonce I just confirmed the issue is not exactly how I described it. There is a problem, just different. What I realized is the API does not like the %26 encoding. Even the Docker API has the same issue. To get past the first error I had to use ampersands(&) with single quotes (') as follows
[code]
The REAL problem is this command never returns the expected `HTTP/1.1 200 OK` as it does wi

[2020-06-08 22:08] jgallucci32 commented on #6525
@mheon @baude This appears to be a regression of Issue https://github.com/containers/libpod/issues/435 and related pull request https://github.com/containers/libpod/pull/437 addressed 2 years ago. I'll file a new ticket.

[2020-06-08 22:18] jgallucci32 opened #6531 "podman logs -f continues indefinitely on a stopped container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Running `podman logs -f` on a stopped container run indefinitely and does not exit
This is a regression of Issue https://github.com/containers/libpod/issues/435 and PR https://github.com/containers/libpod/pull/437

**Steps to reproduce the issue:**

1. Run a container which exits immediately
[c

[2020-06-08 22:33] jgallucci32 commented on #6531
Did some extended testing and confirm the issue exists in older versions of podman in addition to the one reported:
* podman 1.6.4 - Hangs
* podman 1.9.3 - Hangs

[2020-06-09 01:55] zhangguanzhang commented on #6511
You're welcome

[2020-06-09 06:02] Mar-Veloz commented on #6437
@mheon I've run into the bug again today. After a reboot, a container that used to be working now is no longer working, so it seems to be an intermittent problem. I did test it a few times first this time, so the packets should have had a chance to hit the relevant rules. Here is a full dump of my `iptables` rules:
[code]
[code]

[2020-06-09 06:06] Mar-Veloz commented on #6437
Actually, here's a dump of the tables with all containers other than the offending container stopped. This should be more readable, hopefully:
[code]
[code]
Other tables are omitted since they seem to be empty.

[2020-06-09 07:32] giuseppe commented on #6528
`/proc/sys/kernel/core_pattern` seems to not be namespaced in the kernel; so it is not possible to set a different value for the container.  You can do a quick test by running a privileged container and trying to change the value of `/proc/sys/kernel/core_pattern`.  You'll see the change is propagated to the host.

It seems like an interesting feature, but we must first make sure it is supported b

[2020-06-09 08:02] giuseppe commented on #6138
both crun and runc fail for the reason that we are trying to join a PID namespace and at the same time create a new user namespace.  The new user namespace doesn't own the PID namespace, so it cannot mount `/proc`.  We can't even workaround it from Podman as we cannot bind mount PID from the host.

We need to support `--userns keep-id` at the POD level so that it is not necessary to specify it for

[2020-06-09 08:39] ktock commented on #4739
Recently I considered about the design of it and I wrote a PoC for it. We might need changes on both of `containers/image` and `containers/storage` and I opened threads (Pull Requests) for each repo:

- Higher-level part: https://github.com/containers/image/pull/956
- Lower-level part: https://github.com/containers/storage/pull/644

Though they are still draft, could I get comments on it? Both of

[2020-06-09 10:44] giuseppe commented on #4739
there is a GSOC student working on adding CVMFS support to containers/storage.

@Mohitty could you take a look at the proposal?

@ktock we are planning on using the concept of "additional store" we have in containers/storage to emulate a remote snapshotter.  Have you had a look at it?

[2020-06-09 11:01] HarriL commented on #6508
Thx

[2020-06-09 11:03] TomasTomecek opened #6535 "Missing a comprehensive guide to the new API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I wanted to check out the new API and play with it a bit but I am actually missing a guide (or a blog post) how to even reach the API.

[This documentation](http://docs.podman.io/en/latest/_static/api.html) is fantastic, but it's missing the step 0 - where is the HTTP api being served and

[2020-06-09 13:14] mheon commented on #6437
0 packets are hitting CNI-HOSTPORT-DNAT, which appears to be our problem. I can see 128 packets hit the rule targetting it in PREROUTING but none of them were sent on...
@mccv1r0 Any advice here? The rules here seem correct, but it doesn't seem like packets are getting to the dnat rules.

[2020-06-09 13:42] vrothberg opened #6536 "podman events: clarify when it streams"
When no time is specified to `podman events`, it will start streaming. That's not clear in the man page and has created some confusion during a meeting.

Let's mention this behaviour explicitly in the `--help` message and the man pages.

[2020-06-09 14:38] rhatdan commented on #6531
Just for grins, what does Docker do?

[2020-06-09 14:43] #6466 closed

[2020-06-09 14:45] jgallucci32 commented on #6531
Docker exits properly. Podman used to have this same functionality and was
fixed in a bug 2 years ago, but the log.go code was completely rewritten so
it is a regression.

On Tue, Jun 9, 2020, 07:38 Daniel J Walsh <notifications@github.com> wrote:

[2020-06-09 15:51] kgibm commented on #6528
@giuseppe Thanks, that's what I guessed also. We don't want to use privileged to update the host core_pattern as that affects other containers who may not want in-container core files.

If anything is needed for me to open a feature request for the Linux kernel, let me know. Thanks.

[2020-06-09 16:00] rhatdan commented on #4508
containers.conf support is now in.

[2020-06-09 16:00] #4508 closed

[2020-06-09 16:01] rhatdan commented on #4234
Still working on this.

[2020-06-09 16:04] edsantiago opened #6538 "podman-remote: rootless: run: slirp4netns failure (on f32)"
f32, all up-to-date:
[code]
Bizarrely (to me anyway), it works fine with `--detach`:
[code]

[2020-06-09 16:10] edsantiago opened #6539 "podman-remote: logs: missing newlines"
both root and rootless, on current master. Example uses root because rootless-run doesn't work (#6538):
[code]

[2020-06-09 16:10] QiWang19 commented on #6499
`podman login --get-login docker.io` may return username from .docker/config.json, should fix the logout error message as something like not logged in podman, please logout using docker.

[2020-06-09 16:20] edsantiago opened #6540 "[low] podman-remote: pod kill: does not do proper signal validation"
[code]
Expected: `Error: invalid signal: 0`

[2020-06-09 16:31] #4084 closed

[2020-06-09 16:38] rhatdan commented on #3977
@ashley-cui Could you fix this bug.  Basically any directory created by podman within the container should match the parent directory.

In this case the podman is creating ~/.config/ as owned by root when it should have created it with the ownership of `~` "$HOME"

[2020-06-09 16:38] rhatdan commented on #3842
@mheon This issue seems to be in many places?

[2020-06-09 16:39] rhatdan commented on #3550
@QiWang19 Could you talk to @nalind on this to see if his work on COPY can be used to fix this.

[2020-06-09 16:42] rhatdan commented on #4134
@cevich Is this still needed or can we close it?

[2020-06-09 16:43] rhatdan commented on #3454
@vrothberg @mheon Care to give an update?

[2020-06-09 16:43] #4550 closed

[2020-06-09 16:44] rhatdan commented on #4478
I am going to close this since I think this should be scripted,  Reopen if you disagree.

[2020-06-09 16:44] #4478 closed

[2020-06-09 16:45] rhatdan commented on #3761
@mtrmac Update?

[2020-06-09 16:46] rhatdan commented on #3264
@ashley-cui PTAL

[2020-06-09 16:46] rhatdan commented on #3722
@adrianreber ping

[2020-06-09 16:46] mccv1r0 commented on #6437
This: `I just tried it again, and it seems the port forwarding is now working. ` is interesting.  Leads one to believe that rules are setup properly and something else is going on.

What type of traffic are you sending to `udp/19132`?   Is there a test case that doesn't work?

Things to look out for;

- Make sure the MTU is small enough to fit on the `podman0` interface.
- Make sure your tests are

[2020-06-09 16:48] rhatdan commented on #4219
@mccv1r0 Any chance you could look at this?

[2020-06-09 16:49] rhatdan commented on #4119
@QiWang19 Could you look into fixing this and adding the warning?

[2020-06-09 16:50] rhatdan commented on #3979
@mheon Reminder.

[2020-06-09 16:55] mheon commented on #3979
I have cards for `podman container clone`, so hopefully this gets done this summer

[2020-06-09 17:05] adrianreber commented on #3979
Not sure what `clone` is exactly about, but I started to work on enabling restoring a container into an existing PID namespace: https://github.com/checkpoint-restore/criu/pull/1056

[2020-06-09 17:10] mheon commented on #3264
I still think we need to discuss how this should be implemented.

If anyone is following this, I think having use cases would very much help.

[2020-06-09 17:14] mheon commented on #3454
I'm retagging APIv2. We need to make sure this works with the new API.

[2020-06-09 17:15] mheon commented on #3842
I'll take this one. Just need to figure out a good name... `podman system reload-firewall`? `podman network reload`?

[2020-06-09 17:18] mheon commented on #6540
Hm. I bet this is an ordering this. I'll take this one.

[2020-06-09 17:18] #5350 closed

[2020-06-09 17:19] rhatdan commented on #4922
@ashley-cui Could you verify the man pages are available?

[2020-06-09 17:20] rhatdan commented on #5278
@cevich Any way we can move forward on this?

[2020-06-09 17:20] rhatdan commented on #5200
No information, reopen if this is still an issue.

[2020-06-09 17:20] #5200 closed

[2020-06-09 17:21] develroo opened #6541 "podman exec failing with Error: AppArmor not initialized correctly: OCI runtime error"
/kind bug

**Description**

After building a podman image and starting it. It starts fine but when trying to exec to it I get an error.

[code]
The debug output is:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]
apprmor is installed but no profile for podman seems presen

[2020-06-09 17:21] rhatdan commented on #4961
@haircommander Would you work with one of the interns on this?

[2020-06-09 17:23] rhatdan commented on #4961
@ParkerVR Please work on this.

[2020-06-09 17:23] rhatdan commented on #4834
Closing for lack of response.  Reopen if this is still an issue for you.

[2020-06-09 17:23] #4834 closed

[2020-06-09 17:25] rhatdan commented on #5140
@sujil02 Did you ever get a chance to look at this, If yes could you hand it over to @ryanchpowell

[2020-06-09 17:25] rhatdan commented on #5069
Closing because of lack of activity.

[2020-06-09 17:25] #5069 closed

[2020-06-09 17:27] rhatdan commented on #5232
@ParkerVR --systemd option should fail unless the value of "true", "false", "always" is passed in.

[2020-06-09 17:30] rhatdan commented on #5188
@matpen @giuseppe No work on this in the last couple of months.

[2020-06-09 17:31] mheon commented on #5232
Won't actually solve the original issue. The core of this was our change of `--systemd` from not taking an argument, to taking an argument.

[2020-06-09 17:31] rhatdan commented on #5212
@vrothberg Is this still an issue or can we close?

[2020-06-09 17:35] rhatdan commented on #4501
@cevich Any movement on this

[2020-06-09 17:36] jgallucci32 commented on #6535
@TomasTomecek The new Podman API (APIv2) is based off the Docker API referenced here: https://docs.docker.com/engine/api/

In my own personal testing the API has its limitations, but it is actively under development and supports many of the same calls you would expect in Docker. As far as I can tell it only works with sockets, but I imagine HTTP will be implemented down the road.

The use of the e

[2020-06-09 17:36] rhatdan commented on #3932
@ashley-cui Could you fix this up?

[2020-06-09 17:36] rhatdan commented on #4398
This Issue is like the never ending story...

[2020-06-09 17:37] rhatdan commented on #1671
@ryanchpowell Could you work with @haircommander To fix this one.

[2020-06-09 17:39] rhatdan commented on #4304
@mheon Reminder.

[2020-06-09 17:40] rhatdan commented on #4543
Containers.conf is there.

[2020-06-09 17:40] #4543 closed

[2020-06-09 17:40] mtrmac commented on #3761
The pkg/image work is, I’m afraid, buried behind the bug queue right now.

[2020-06-09 17:40] rhatdan commented on #4577
Since this is merged, it is in master branch.

[2020-06-09 17:40] #4577 closed

[2020-06-09 17:41] rhatdan commented on #4646
@QiWang19 PTAL

[2020-06-09 17:43] rhatdan commented on #4123
@QiWang19 What is the status on this one?

[2020-06-09 17:45] ryanchpowell commented on #1671
Yes I can work on it

[2020-06-09 17:46] rhatdan commented on #4059
@ryanchpowell PTAL

[2020-06-09 17:47] rhatdan commented on #1433
@ashley-cui PTAL

[2020-06-09 17:49] rhatdan commented on #5315
Should be fixed in podman-1.9.3

[2020-06-09 17:49] #5315 closed

[2020-06-09 17:49] rhatdan commented on #1925
@mheon Want to work on this with an Intern?

[2020-06-09 17:50] rhatdan commented on #5651
@ParkerVR PTAL

[2020-06-09 17:51] rhatdan commented on #5302
@haircommander @ryanchpowell PTAL

[2020-06-09 17:52] rhatdan commented on #5608
I have been writing a blog on this, which should be published soon.

[2020-06-09 17:54] rhatdan commented on #4854
@sujil02 Please hand this over to @ParkerVR
I want to get to the point of running by default at level Warning.

[2020-06-09 17:57] mheon commented on #6540
Think I found it - missing return statement. Oops.

I wonder if we can get lint to catch this sort of thing...

[2020-06-09 17:57] rhatdan commented on #4039
It does now.

[2020-06-09 17:57] #4039 closed

[2020-06-09 17:58] rhatdan commented on #5521
@vrothberg Ping

[2020-06-09 18:09] sujil02 commented on #5140
Yes, I did look into this a couple of times. But could not get a significant breakthrough @ryanchpowell we can connect and then probably knock this one out together?

[2020-06-09 18:09] mheon commented on #6540
#6542 to fix

[2020-06-09 18:14] sujil02 commented on #4854
@ParkerVR  Most of my findings are discussed here probably this branch might help to understand it better [https://github.com/sujil02/libpod/tree/improve-logging](url). Let's connect to get going with this further.

[2020-06-09 18:18] mheon commented on #1925
I think first step is probably to convert all of these various issues requesting renaming, updating, moving into pods, etc into one single `podman container clone` issue.

Beyond that, I need to do a bit of architecture work to figure out how this exactly should look, I don't know for sure how complex this is going to be.

[2020-06-09 18:20] mheon commented on #1671
For reference, I don't know if I consider this one high priority. I think the cockpit errors are probably implementation details on their part, and nobody else has complained about this in two years...

[2020-06-09 18:21] mheon commented on #4304
Need to talk with Brent about where this falls in the priorities stack, we still have significant work on Podmanv2

[2020-06-09 18:25] urfin78 opened #6543 "centos8 rootless: podman healthcheck not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
As requested in https://github.com/containers/libpod/issues/5849 I open this as a fresh issue.

When starting containers and defining a healthcheck command in rootless mode, the corresponding systemd.timer will not be created and healthchecks are not working.
Most likely related to this issue:

[2020-06-09 18:26] mheon commented on #6541
@vrothberg PTAL

[2020-06-09 18:27] mheon commented on #6543
This is a systemd issue - they're backporting a fix. Expect to see if in 8.3.

[2020-06-09 18:27] #6543 closed

[2020-06-09 18:34] rhatdan commented on #4935
Can we close this issue, if this is fixed in the master branches.  RHEL8.2.1 will have podman 1.9.3.
Reopen if I am mistaken.

[2020-06-09 18:34] #4935 closed

[2020-06-09 18:35] rhatdan commented on #5510
Should be fixedin podman 2.0

[2020-06-09 18:35] #5510 closed

[2020-06-09 18:35] rhatdan commented on #5509
We have done this with the introduction of containers.conf

[2020-06-09 18:35] #5509 closed

[2020-06-09 18:36] rhatdan commented on #5485
@vrothberg Any progress on this?

[2020-06-09 18:37] rhatdan commented on #5362
Since I have not heard back, I think this solved your issue.

[2020-06-09 18:37] #5362 closed

[2020-06-09 18:38] rhatdan commented on #4878
I believe this is fixed in the latest podman/buildah please reopen if I am mistaken.

[2020-06-09 18:39] rhatdan commented on #5340
@ah83 Is this still an issue?  Have you tried this with crun?  Since we have not heard a comment since April, I will take it that it is ok.  Reopen if I am mistaken.

[2020-06-09 18:39] #5340 closed

[2020-06-09 18:40] rhatdan commented on #5386
@gartnera Have you continued to work on this?

[2020-06-09 18:41] rhatdan commented on #5386
@gartnera Would be nice to see how we have progressed.

[2020-06-09 18:41] rhatdan commented on #5128
@sspoddiglane Any movement on this?

[2020-06-09 18:41] rhatdan commented on #5128
@ashley-cui Want to take a look at this?

[2020-06-09 18:42] rhatdan commented on #4264
@vrothberg @mtrmac PTAL

[2020-06-09 18:44] nishakm opened #6544 "Podman save oci-dir produces non-OCI layout"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman save --format oci-dir -o existing_dir` does not produce a OCI layout of the blobs in the `existing_dir` directory. I am not sure if this is by design, in whi

[2020-06-09 18:44] rhatdan commented on #5325
Seems to be working now

[2020-06-09 18:44] #5325 closed

[2020-06-09 18:45] rhatdan commented on #5364
I don't believe this issue still exists. Closing, reopen if I am mistaken.

[2020-06-09 18:46] rhatdan commented on #5316
I believe this is fixed in the package now.

[2020-06-09 18:46] #5316 closed

[2020-06-09 18:49] rhatdan commented on #4530
@baude @niklas88 Where are we on this one?

[2020-06-09 18:51] rhatdan commented on #5698
@sujil02 What is the scoop on this one?

[2020-06-09 18:52] rhatdan commented on #6213
This seems to be an downstream issue, closing.

[2020-06-09 18:52] #6213 closed

[2020-06-09 18:57] rhatdan commented on #6190
We currently exit 125 on syntax failures.  If we could differentiate between Image does not exist and network failure. that would be enough.

On podman rm and rmi,  we have exit codes like:

[code]
If we could specify 0 for success, 1 for image does not exist, 2 for network failure 125 for all other failures.

[2020-06-09 18:58] rhatdan commented on #5572
@vrothberg is this still an issue?

[2020-06-09 18:59] rhatdan commented on #4511
@cevich @ssbarnea Is this still an issue.
@ashley-cui Could you work this?

[2020-06-09 19:00] rhatdan commented on #6067
Please open a bugzilla on this, since this is not an issue in the upstream.

[2020-06-09 19:00] #6067 closed

[2020-06-09 19:01] rhatdan commented on #4390
We are moving a way from podman varlink so this is not likely to be fixed, if this issue persists with podman 2.0 (apiv2) then please reopen.

[2020-06-09 19:01] #4390 closed

[2020-06-09 19:02] rhatdan commented on #6160
@vrothberg @giuseppe WDYT

[2020-06-09 19:02] rhatdan commented on #4207
This is still being worked.

[2020-06-09 19:03] rhatdan commented on #5568
@mheon Is this still an issue with the upstream?

[2020-06-09 19:04] rhatdan commented on #5774
We are now shipping a static podman-remote for each release along with podman in a container.

[2020-06-09 19:04] mheon commented on #5568
This should be fixed on upstream CNI configs.

[2020-06-09 19:04] #5568 closed

[2020-06-09 19:05] Mar-Veloz commented on #6437
I'm trying to set up a Minecraft Bedrock Edition server. I know the game uses UDP port 19132 to communicate with IPv4 clients, and UDP port 19133 to communicate with IPv6 clients. Using `tcpdump udp port 19132 -vv` on both the host and the container shows that the host *is* receiving packets on UDP port 19132, but the container is not. I believe `tcpdump` should display both IPv4 and IPv6 packets,

[2020-06-09 19:05] rhatdan commented on #5763
@mheon What do you want to do with this one?

[2020-06-09 19:06] rhatdan commented on #5730
@ryanchpowell Could you work on this with consultation with @haircommander

[2020-06-09 19:07] rhatdan commented on #5704
Since we have had 0 activity in a couple of months, I am going to close this. Reopen if we need to make progress.

[2020-06-09 19:07] #5704 closed

[2020-06-09 19:08] mheon commented on #5763
Consolidate everything related to this in one `podman container clone` issue

[2020-06-09 19:09] rhatdan commented on #5750
We now have docker.sock support so theoretically a lot of docker-compose should now work.  Closing and waiting for community to add new features.

[2020-06-09 19:09] #5750 closed

[2020-06-09 19:09] rhatdan commented on #5403
@mheon PTAL

[2020-06-09 19:10] #5658 closed

[2020-06-09 19:11] Mar-Veloz commented on #6437
Actually, I think I may have just found the source of the problem. There seems to be some sort of interference between the rules defined by Podman and the firewall rules I defined using `nftables`. When I define the firewall rules *before* starting the container, I am unable to access the published port on the container, but when I define the firewall rules *after* starting the container, everythi

[2020-06-09 19:11] mtrmac commented on #4264
That image should not be even possible to pull:
[code]

and indeed, that blob (the config) has size 15527, not 16820 as the manifest claims (and it is not corrupt, the digest matches and it is valid JSON), as can be verified using `skopeo inspect --raw --config`.

Similarly, with a fairly old `Podman` build:
[code]

[2020-06-09 19:13] rhatdan commented on #4114
Opened this as a CNI issue https://github.com/containernetworking/cni/issues/770

[2020-06-09 19:14] rhatdan commented on #5376
@ParkerVR PTAL @baude Will help you out.

[2020-06-09 19:15] rhatdan commented on #5623
@giuseppe Did you ever work further on this?

[2020-06-09 19:17] rhatdan commented on #5249
I think this is fixed in latest upstream, so closing,  reopen if I am mistaken.

[2020-06-09 19:17] #5249 closed

[2020-06-09 19:20] rhatdan commented on #4900
@giuseppe @mheon @baude Lets talk about this at the next standup.  We should think of ways to fix this.

[2020-06-09 19:20] mheon commented on #5376
@rhatdan This one isn't going to be easy - basically going to need a complete rewrite of our network handling code.

[2020-06-09 19:21] rhatdan commented on #5356
@saschagrunert Still working on this?

[2020-06-09 19:21] mheon commented on #6544
@mtrmac PTAL

[2020-06-09 19:23] rhatdan commented on #6237
@afbjorklund Have you had a chance to try this with podman v2?

[2020-06-09 19:24] rhatdan commented on #6259
@Hendrik-H @mtrmac Where are we this?

[2020-06-09 19:25] rhatdan commented on #5932
@adelton Is this fixed now?  I think it is, reopen if I am mistaken.

[2020-06-09 19:25] #5932 closed

[2020-06-09 19:25] rj-gp commented on #4530
I don't know about @baude and @niklas88 but I am still needing this before I can actually use podman.

[2020-06-09 19:25] rhatdan commented on #5790
@mheon Any ideas on this one?

[2020-06-09 19:26] rhatdan commented on #6303
Fixed in master.

[2020-06-09 19:26] #6303 closed

[2020-06-09 19:26] rhatdan commented on #5898
@mheon @vrothberg This is still being worked on correct?

[2020-06-09 19:27] rhatdan commented on #5885
I believe this is fixed, reopen if I am mistaken.

[2020-06-09 19:27] #5885 closed

[2020-06-09 19:28] rhatdan commented on #3993
@giuseppe PTAL

[2020-06-09 19:28] mtrmac commented on #6544
That’s a long-standing typo (maintained through two different refactorings ): https://github.com/containers/libpod/blob/fbe09d78e91c9ac5cadc8b00a67c7d7f89d64868/libpod/image/image.go#L1478 is not creating an OCI format at all; it should be using `c/image/oci/layout.NewReference`.

[2020-06-09 19:29] rhatdan commented on #6288
@baude PTAL
Get those performance chops going.

[2020-06-09 19:29] #6290 closed

[2020-06-09 19:31] rhatdan commented on #6255
SGTM
@QiWang19 PTAL.
I think you would need to add signal handling to podman and then add interfaces to the containers.conf, storage.conf, registries.conf to reload their config.

[2020-06-09 19:32] rhatdan commented on #3842
podman network reload, works for me.

[2020-06-09 19:34] rhatdan commented on #5854
@thoraxe Any answer for @TomSweeneyRedHat Otherwise we will close as `Works for me`.

[2020-06-09 19:35] rhatdan commented on #5138
The PR is still being worked.

[2020-06-09 19:36] rhatdan commented on #1911
I think this should start moving up the priority list, now that APIv2 has settled down.

[2020-06-09 19:37] rhatdan commented on #5796
I am going to close this, since it seems to be dead now.  Reopen if I am mistaken.

[2020-06-09 19:37] #5796 closed

[2020-06-09 19:39] rhatdan commented on #5631
Hopefully you found this is fixed.  Reopen if you did not.

[2020-06-09 19:39] #5631 closed

[2020-06-09 19:40] ebiederm commented on #6528
Is there any need to support a core dump helper program?

There have been a couple attempts in the past to implement this and they have all gotten
hung up in the question of how to implement the core dump helper program.    In the long term
if systemd wants to capture core dumps we will probably have to work through the core dump helper program logic, but we don't have to do that for a first imple

[2020-06-09 19:44] rhatdan commented on #4648
Has anyone tried with the latest podman.  Now we have containers.conf and  a lot of these settings can be set by default there.  Including cgroup_manager and events_logger.

[2020-06-09 19:45] rhatdan commented on #6244
Seems like a good project for an intrepid intern.

[2020-06-09 19:45] jgallucci32 commented on #3454
1. Setup containers desribed at top of issue
[code]
2. Use APIv2 to start second container
[code]
3. Verify container is running by viewing top processes
[code]
4. Stop container using APIv2
[code]
5. Verify container is stopped
[code]

[2020-06-09 19:46] rhatdan commented on #6226
I don't see an easy fix for this.  The containers.conf would need to be modified.

[2020-06-09 19:46] #6226 closed

[2020-06-09 19:47] rhatdan commented on #5788
@ryanchpowell Could you work with @haircommander on this?

[2020-06-09 19:48] rhatdan commented on #5580
@max-arnold Could you try this against master to tell us if it still exists.

[2020-06-09 19:52] rhatdan commented on #6401
@mccv1r0 Any ideas?

[2020-06-09 19:53] rhatdan commented on #6153
@giuseppe PTAL

[2020-06-09 19:53] kgibm commented on #6528
@ebiederm Thanks, here are my thoughts:

For the J9 use case, no. We just want to set it to `core` and produce the core in the current working directory. But I guess others might want a helper program and I guess the kernel folks might not like core_pattern behaving differently within a container.

Could it be specified on the podman run command instead (like with `--ulimit core=-1`)?

Which maili

[2020-06-09 19:54] rhatdan commented on #5680
Since this is a buildah issue, closing.

[2020-06-09 19:54] #5680 closed

[2020-06-09 19:54] rhatdan commented on #4483
@giuseppe Did you ever get to this?

[2020-06-09 19:55] rhatdan commented on #6045
@giuseppe @mheon @mccv1r0 Any movement on this?  Any new Ideas?

[2020-06-09 19:57] rhatdan commented on #6430
@ziXet Was the blog enough, even though it has not been published yet.  Should be out later this month.

[2020-06-09 19:59] rhatdan commented on #5535
@ashley-cui PTAL

[2020-06-09 19:59] rhatdan commented on #5892
Reopen if I was mistaken.

[2020-06-09 19:59] #5892 closed

[2020-06-09 20:00] rhatdan commented on #5380
@ashley-cui PTAL

[2020-06-09 20:02] rhatdan commented on #6412
@vrothberg Could you take this one on?

[2020-06-09 20:04] rhatdan commented on #5773
Since this no longer applies to this repo, closing.

[2020-06-09 20:04] #5773 closed

[2020-06-09 20:05] rhatdan commented on #5802
@QiWang19 Could you take a look at this?

[2020-06-09 20:06] rhatdan commented on #6400
@ashley-cui Could you look into the --log-driver changes?

[2020-06-09 20:07] saschagrunert commented on #5356
Yep this still depends on https://github.com/containers/storage/pull/473

[2020-06-09 20:08] rhatdan commented on #6381
@ParkerVR @ryanchpowell This is a case where the shortname table would help out, so the user referring to a shortname is always the same.

[2020-06-09 20:10] rhatdan commented on #6111
Well we now have a library to be able to discover who owns these files. https://github.com/shadow-maint/shadow/commit/0a7888b1fad613a052b988b01a71933b67296e68

[2020-06-09 20:11] rhatdan commented on #4131
We have at least one other issue on this as well.

[2020-06-09 20:14] rhatdan commented on #5922
@NTMan Could you describe a simple reproducer?

[2020-06-09 20:19] rhatdan commented on #5838
@giuseppe Any progress on this?

[2020-06-09 20:20] rhatdan commented on #5605
This is now being worked on in https://github.com/containers/libpod/issues/5605

[2020-06-09 20:21] rhatdan commented on #3924
@lsm5 Any update on this?

[2020-06-09 20:22] #5836 closed

[2020-06-09 20:23] ShadowJonathan commented on #4131
https://github.com/containers/libpod/issues/4056, yes, but I think that one has a slightly different scope.

Whereas this issue focuses on making podman working inside a unprivileged *docker* container, that other issue talks about running podman inside another *podman* container.

[2020-06-09 20:29] QiWang19 commented on #4123
@giuseppe verified this is an issue with secret-tools using d-bus hardcodes the euid() inside the EXTERNAL request itself. I think he has a patch for fixing this.

[2020-06-09 20:56] gartnera commented on #5386
Looks like most of the docker-py tests fail now with errors like:

`API versions below 1.21 are no longer supported by this library`

Worked around that by editing `MINIMUM_DOCKER_API_VERSION` in `docker-py/docker/constants.py`

Now I get these results:
[code]

There are six more passing tests (71 -> 77) since the last time I tested.

The most prominent errors looks like this:
[code]

This appears

[2020-06-09 21:02] nalind commented on #5986
When we get this error, I think that calling `recreateSymlinks()`, or a version of it that only cared about the link for the specific layer whose link we couldn't read, would work around this.

[2020-06-09 21:03] afbjorklund commented on #6237
@rhatdan : Haven't tried 2.0 RC yet, but it works OK with podman 1.9.3

[2020-06-09 21:08] mheon commented on #5986
Is there an easy way to determine if the error in question is an error that would require `recreateSymlinks()`? Alternatively, how bad is this, performance-wise - I could force it to run every time Podman detects a reboot...

[2020-06-09 21:13] nalind commented on #5986
It looks like the error that's coming back from `Readlink()` in this case would cause`os.IsNotExist()` to return `true`.

[2020-06-09 21:29] jgallucci32 commented on #5260
I am unable to get this behavior to work with Docker. Both Podman and Docker behave the same way (cannot attach to container when using the API).

I ran this command using Docker 1.13 and the container cannot be attached
[code]

[2020-06-09 21:37] thoraxe commented on #5854
I probably failed to copy/paste correctly.

That being said, I'm using 1.9.3 right now. But if I hit this problem again I'll report back.

Could you maybe throw your test case into a repo and I'll check it with 1.9.3?

[2020-06-09 21:45] max-arnold commented on #5580
Thanks for the update! Unfortunately, due to personal reasons, I’ll be able to check this only in 2-4 weeks (I’m not at home and have no laptop with me).

I’ll get back to you on that as soon as I can.

[2020-06-09 22:05] mccv1r0 commented on #6401
@JaeSim Can you run

- ```ip addr show``` on this machine
- provide the contents of these two .conflist files:

[code]

[2020-06-09 22:41] mccv1r0 commented on #4219
Podman would need to have an on/off switch and tell CNI about it's value.  Podman would also need to supply any rules to a USER chain.   IIRC, the plan was for CNI to let runtime add what they want to firewall via `Chain CNI-ADMIN` (if not that one, another can be created.)

[2020-06-09 23:14] zmedico commented on #4114
Try cni-plugins-0.8.6 ([gentoo ebuilds now require it](https://github.com/gentoo/gentoo/commit/f63dc99612b4a0ee27c455566a1e24fb6fcdb037)).

[2020-06-09 23:47] bbros-dev commented on #6499
Also need to update the help documentation (linked to in OP) to cite the docker config location as a data source for Podman.

[2020-06-10 00:22] mheon commented on #5790
Given the container was rootless, probably a `slirp4netns` bug

[2020-06-10 01:04] JaeSim commented on #6401
@mccv1r0 i update information.
[code]

[code]
// Note: default test-network.conflist had ``dnsname`` plugin, but it is deleted by previous request.
[code]

[2020-06-10 01:16] #6540 closed

[2020-06-10 01:45] ktock commented on #4739
Good to hear! Please let me know if there is anything I can help from my side because I'm currently working on a remote snapshotter implementation ([containerd/stargz-snapshotter](https://github.com/containerd/stargz-snapshotter)) in containerd community.

IIUC, the additional store functionality doesn't support layer discovery? I used `Driver.Create` API instead because stargz uses container regi

[2020-06-10 02:19] hswong3i commented on #5774
@rhatdan what about also include #6402 nix-based statically linked `podman` binary into release?

[2020-06-10 04:23] Mar-Veloz commented on #6437
Okay, I believe I have found the problem. It was due to the
[code]
rules. Since UDP packets don't have a state, the packets were being rejected. Adding a `udp dport {19132, 19133} accept` rule to the forward chain seems to have solved the problem.

[2020-06-10 06:42] giuseppe commented on #4123
Merge Request here: https://gitlab.gnome.org/GNOME/glib/-/merge_requests/1403

[2020-06-10 06:48] giuseppe commented on #5838
It must be addressed in the OCI runtime.  I am currently trying to figure out a way to fix it in crun.

Let's close this bug as a dup of https://github.com/containers/libpod/issues/6153

[2020-06-10 06:48] Hendrik-H commented on #6259
Well, I'm still interested in signing support that can leverage a HSM. In the mean time I'm looking at signing images out of band. So sign and verify image digests outside of podman.

[2020-06-10 06:50] #5838 closed

[2020-06-10 06:52] giuseppe commented on #6138
I am still trying to figure out a way to address it in the OCI runtime.

I am going to close it as a dup of https://github.com/containers/libpod/issues/6153

[2020-06-10 06:52] #6138 closed

[2020-06-10 07:16] Edward5hen opened #6547 "[APIv2]: some DOC issues"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When our team - Atomic QE is verifying the APIv2 JIRA cards, we find below issues that relate to the [API v2 DOC](http://docs.podman.io/en/latest/_static/api.html)

- container checkpoint. There is no response samples for normal status(return 200)
- container restore. This doc looks like a cop

[2020-06-10 07:16] AkihiroSuda commented on #5138
Self question: why doesn't Rootless Docker have this issue?

[2020-06-10 07:17] LeoQuote commented on #4114
@zmedico this issue didnt show up since then, we're now using `libpod 1.9.0` and `cni-plugins 0.8.2`, will try `cni-plugins-0.8.6`

Really appreciate your help!

[2020-06-10 07:50] marusak opened #6548 "APIv2: ping endpoint is 404"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`libpod/_ping` endpoint does not seem to be correctly wired up.

**Steps to reproduce the issue:**
`sudo curl --unix-socket /run/podman/podman.sock http://d/v1.24/libpod/_ping` returns `Not Found`.
Also tried `libpod/ping`, `ping`, `_ping` but all are 404. According to [doc]( http://docs.podm

[2020-06-10 07:52] parmentelat opened #6549 "containers killed when restarting a systemd service"
I am transitioning a system from docker to podman; my current setup runs on

* fedora32
* vanilla podman-1.9.3-1.fc32.x86_64
* cgroupv2 aka unified hierarchy

I am using this in pre-production and am rather pleased with

In essence we have

* an main uwsgi application powering a django app, started by systemd
* the main app forks a bash script that in turn spawns containers with
  `podman run --de

[2020-06-10 08:29] parmentelat commented on #6549
PS. just out of curiosity I have just confirmed that the same behaviour happens when running the kernel with cgroupv1, i.e. with `systemd.unified_cgroup_hierarchy=0`

[2020-06-10 09:25] TomasTomecek commented on #6535
@jgallucci32 thank you, this is exactly the info I was expecting to read [here](http://docs.podman.io/en/latest/_static/api.html).

[2020-06-10 09:46] vrothberg commented on #5898
I did not touch auto-updates as it has a lower priority than other work items. Once we can clone containers, we'll have quite some new playground.

[2020-06-10 10:02] vrothberg commented on #6160
Apologies for the not replying earlier to the issue. We have focused on getting upcoming release of Podman v2.0.0 into shape.

First, I _love_ your idea as it matches our vision of extending Podman with systemd. What's important to mention is that Podman will mount the sd-notify socket into each container if it's set. The idea behind that behaviour is to delegate the messaging to the container its

[2020-06-10 10:03] vrothberg commented on #5572
Yes. The systemd team is investigating the issue.

[2020-06-10 10:09] vrothberg commented on #6541
@onlyjob mentioned AppArmor issues on Debian recently. @onlyjob, do you know if they are related?

[2020-06-10 10:11] vrothberg commented on #5521
I'd love to start working on containers/image#611 but that's something we must prioritize so that I actually have time to.

[2020-06-10 10:15] vrothberg commented on #5212
Haven't seen them in a while. Much of the code has changed.

[2020-06-10 10:31] rhatdan commented on #6531
Great thanks.

[2020-06-10 10:32] rhatdan commented on #6531
@jgallucci32 Interested on working on a fix and opening a PR?

[2020-06-10 10:45] giuseppe commented on #6160
I think there are two uses for notify.  One, as @vrothberg pointed out, is managed by the container to signal when it is ready.

Another one that could be handled with healtchecks, is systemd watchdog to signal systemd that the service/container is still working and doesn't need to be restarted.  This second use case should not be delegated to the container.

[2020-06-10 10:46] giuseppe commented on #5623
I am still waiting for more feedback on my last suggestion.

[2020-06-10 15:34] goochjj opened #6554 "--init to podman run does absolutely nothing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

--init does not appear to do anything.

**Steps to reproduce the issue:**

podman run --rm -it alpine ps awwux
PID   USER     TIME  COMMAND
    1 root      0:00 ps awwux

podman run --rm -it --init alpine ps awwux
PID   USER     TIME  COMMAND
    1 root      0:00 ps awwux

(note, no init.  /p

[2020-06-10 16:04] goochjj opened #6555 "podman exec commands use log-driver from podman run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a container with a --log-driver journald, it logs all stdout/err to journald as expect.

What is NOT expected is that when doing a podman exec -it $container bash, all stdin/out is ALSO logged.

**Steps to reproduce the issue:**

1. podman run -d --log-driver journald alpine sle

[2020-06-10 16:19] goochjj opened #6556 "podman inspect shows fuzzy matched image information instead of exact matched container information"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman inspect honors fuzzy matches against image names before exact matches against container names.

**Steps to reproduce the issue:**

1. podman pull alpine:latest
2. podman tag alpine:latest myrepo/core-someimage:latest
3. podman run --rm -d --name someimage myrepo/core-someimage:latest s

[2020-06-10 17:15] towe75 opened #6558 "Is podman-remote-windows broken?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'd like to use podman-remote-windows to interact with podman on my linux boxes. Ultimately i'd like to be able to use/debug/improve vscode integration.

For sure there are not many users on this platform (yet) but the experience for first time users is relatively bad because of terse documen

[2020-06-10 20:45] cmurf opened #6563 "automatically use btrfs driver if on btrfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Fedora 32, podman-1.9.3-1.fc32.x86_64
/etc/containers/storage.conf contains
driver = "overlay"

To use the btrfs driver, it's necessary to modify that, or create ~/.config/containers/storage.conf with the driver set to btrfs. Feature request is to use the btrfs driver if the file system i

[2020-06-11 01:11] JaeSim commented on #6401
@mccv1r0
i use base RHEL8 image of AWS.
When i checked versions of available podman, i can't find 1.8.0. and it does not register subscribe-manager yet.
Could you guide me How to manually update podman to 1.8.0..
Should i register subscribe-manager?

[code]
1.6.4-12 version is selected.

[2020-06-11 02:09] mtrmac commented on #6544
Depends, let’s concentrate the discussion in the PR. See  https://github.com/containers/libpod/pull/6562#discussion_r438502849 .

[2020-06-11 06:09] maybe-sybr opened #6565 "REST API overrides container entrypoint to empty string when not provided to the create endpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Docker compatible API does not retain an images entrypoint if one is defined when creating a container. The entrypoint in the created container is set to an empty string instead of the entrypoint of the image as expected.

**Steps to reproduce the issue:**

1. Build a trivial container with a

[2020-06-11 06:14] maybe-sybr commented on #6565
I suspect that https://github.com/containers/libpod/blob/master/pkg/spec/createconfig.go#L293 might be to blame here. I think that gets set by https://github.com/containers/libpod/blob/master/pkg/api/handlers/compat/containers_create.go#L179, presumably to `nil` since I didn't provide an entrypoint in the JSON. The comment at `https://github.com/containers/libpod/blob/b2200dbe056ac409461033f646cdd

[2020-06-11 06:23] maybe-sybr commented on #6565
It's also a little sad that the new API doesn't yet return the entrypoint when I inspect the image or containers either, foiling my attempts to work around the bug :( That's TODO'd at https://github.com/containers/libpod/blob/master/pkg/api/handlers/types.go#L250

[2020-06-11 07:46] develroo commented on #6541
Is that supposed to be installed via the package script? I only have two files in /etc/containers.

policy.json

     {
         "default": [
             {
                 "type": "insecureAcceptAnything"
             }
         ]
     }

and libpod.conf

     # libpod.conf(5) is the default configuration file for all tools using
     # libpod to manage containers

     # Default transport metho

[2020-06-11 07:50] marusak commented on #6548
Ah thanks, I totally not guessed it would be unversioned.
The documentation does not mention this in any way and it it utterly confusing.

Yes it does.

Absolutely. It should be obvious how to use this endpoint, especially since it differs from other ones.

[2020-06-11 08:37] cjeanner opened #6567 "podman1.6.4: unable to pass multiple --security-opt parameters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In podman 1.6.4 at least (used in RHEL-8.1 for OSP project), we're apparently unable to pass multiple ```--security-op``` parameters to podman run, for instance:
[code]
Although the container is started, we don't see both options - only the latest is applied, at least according to ```podman in