[2020-03-15 10:48] NHRedAnt commented on #5498
All deployments listed above are run as normal non-root users. Our main reason to use podman is for better security.
I will run a new test as root and report back.

[2020-03-15 12:02] Rafficer commented on #5499
Funny that you came across that now. I've talked about this here just 2 days ago: https://github.com/containers/libpod/issues/5494#issuecomment-598919821

:P

[2020-03-15 15:02] mrowa commented on #5443
I have the same issue on KVM guest based on fresh ubuntu 18.04 cloud image. It's headless VM. I installed podman through the method shown on podman.io for ubuntu - using Kubic repository.

OS: ubuntu based on cloud image "bionic-server-cloudimg-amd64.img" from 9th of March.
Podman version installed: 1.8.1.

[2020-03-15 16:51] wdouglascampbell opened #5506 "running podman as sudo cause umask of 0000 inside of container. why?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In trying to figure out some permissions issues involved with attempting to share a local folder between two containers: one running rootful and one running rootless, I discovered some strange behavior with umask.

Running podman rootless, the default umask is always 0022.
Running sudo podman

[2020-03-15 17:20] baude commented on #5503
im looking into this ... i have determined that podman build is not setting the field.  it is not inspect which was my first concern.

[2020-03-15 17:51] baude commented on #5503
@vertti if you can try the PR and report back, that is always helpful.

[2020-03-16 04:05] djerius opened #5509 "RFE: generalize/simplify podman's handling of configuration options and files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

First off, I should note I'm not familiar with the wealth of environments that podman is being run in, so I don't have a lot of domain specific knowledge, but I'll go out on a limb anyway.

I'm working on a network where user home directories are NFS mounted and shared across multiple het

[2020-03-16 04:08] bszeti opened #5510 "Podman remote-client v1.8.0 drops error for build: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman remote-client v1.8.0 drops error for `podman build`:
[code]
Probably the directory (/var/tmp/buildTarball334075740) is duplicated in the path where it looks for the uploaded files.

The same command works with Podman remote-client v1.6.1

**Steps to reproduce the issue:**

1. Use podma

[2020-03-16 04:59] bszeti opened #5511 "Podman remote-client credentials (--creds) don't work for pull/push"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman remote-client parameter `--creds 'USERNAME:PASSWORD'` doesn't work for pull or push. I tried with Podman remote-client v1.6.1 and 1.8.0 with matching server version.

**Steps to reproduce the issue:**

1. Use remote-client v1.8.0

2. Try to pull an image from secured registry. E.g.:
`po

[2020-03-16 08:11] giuseppe commented on #3277
if you'd like to have only `10.0.2.3`, you can force it with `--dns 10.0.2.3`

[2020-03-16 08:20] giuseppe commented on #5306
`/run/` should not survive a reboot.  Is `/run` on a tmpfs?

have you used `strace -f`?  As @mheon pointed out, the issue should be fixed in 1.8.1

[2020-03-16 08:51] giuseppe commented on #5443
I think there are two different issues here:

If you are running on a systemd service, then the `DBUS_SESSION_BUS_ADDRESS` is expected to point to the user session dbus socket (e.g. `unix:path=/run/user/1000/bus`).

The second one, is that we are checking the cgroup manager in containers/common when the default configuration is created.  We shouldn't do that because the setting can be overriden wi

[2020-03-16 09:05] saschagrunert commented on #5493
Ah yeah I'm using btrfs so that's the reason.

Interesting, thanks for the clarifications. I got a similar issue report from users using Docker for macOS, so I guess the best way is to skip that test inside a container.

Closing for now.

[2020-03-16 09:05] #5493 closed

[2020-03-16 09:17] dependabot-preview[bot] opened #5512 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/26419116).

[2020-03-16 10:18] vrothberg commented on #5499
Thanks for opening the issue! That's fixed in Podman v1.8.1. I just updated on Fedora 31.

[2020-03-16 10:18] #5499 closed

[2020-03-16 10:24] vrothberg commented on #5494
Podman v1.8.1 generates both:
[code]

This allows for running it both as root and non-root.

[2020-03-16 10:50] MrTomRod opened #5513 "Error messages with rootless "podman run hello-world""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

System: Fedora 31, completely up-to-date (date: 2020.03.16, kernel: 5.5.8-200.fc31.x86_64)

`podman run hello-world`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The same, withouth the ERRO-messages.

**Additional

[2020-03-16 10:58] aleks-mariusz commented on #5443
Well firstly, DBUS_SESSION_BUS_ADDRESS is not set automatically when i log in (is it supposed to be?), Secondly, i end up manually setting it to that value, but related to that, i don't actually see any file or dir named `dbus` under my /run/user/1000.. not sure what's supposed to create that.. i _have_ enabled linger, and from the output of `loginctl list-sessions` i see:

[code]

[2020-03-16 11:19] giuseppe commented on #5513
do you have any override configuration in `~/.config/containers/` ?

[2020-03-16 11:22] MrTomRod commented on #5513
Thanks for the quick reply! After `rm -rf ~/.config/containers` it worked. Sorry to bother you. I don't remember doing anything there, though...

[2020-03-16 11:23] #5513 closed

[2020-03-16 11:23] #5503 closed

[2020-03-16 11:24] giuseppe commented on #5443
yes it should be set automatically (unless you login through `su`).

What do you see with `systemctl --user status dbus.socket`?

[2020-03-16 11:28] bbros-dev commented on #5306
Thanks for looking at this @giuseppe.
I think you've conflated two comments?

I posted the `strace` in case it helped - initially I couldn't get podman more recent than 1.6, but switching to the Suse repos allowed me to get 1.8.1 - the RH container bot managed builds have been broken for some time see issue #5502.

Happy for this to stay closed, as mentioned I posted mainly as FYI

[2020-03-16 11:45] aleks-mariusz commented on #5443
[code]

[2020-03-16 11:47] giuseppe commented on #5500
PR here: https://github.com/containers/storage/pull/564

[2020-03-16 11:56] giuseppe commented on #5443
This seems to be the issue as rootless podman, if systemd is used, needs a session dbus and a valid `DBUS_SESSION_BUS_ADDRESS`

[2020-03-16 12:25] giuseppe commented on #5506
I am not able to reproduce, I am using the same version of runc and podman as reported above.

Is your reproducer just `podman --runtime /usr/bin/runc run --rm -ti alpine sh -c 'umask`?

Are you sure you are not using crun as the runtime when running as root?  There was an issue with an older crun version but that should be fixed now

[2020-03-16 12:37] giuseppe commented on #5475
it looks like we are using cgroup v2 on a kernel that doesn't support the freezer control.

We should either use cgroup v1 in this case, or an updated kernel

[2020-03-16 12:38] faulesocke commented on #5306
@mheon No this is 1.8.0. `/run` is on a `tmpfs` but `/run/user/$UID` does not exist. May this be the root cause of the problem?

[2020-03-16 12:38] edsantiago commented on #5475
But it's a flake: restarting the failed test makes everything OK.

[2020-03-16 12:43] vertti commented on #5503
Thanks, I will take the PR for a spin!

[2020-03-16 12:48] #5500 closed

[2020-03-16 12:48] #4831 closed

[2020-03-16 13:45] TomSweeneyRedHat commented on #5502
@lsm5 is this something on your watch?

[2020-03-16 13:47] TomSweeneyRedHat commented on #5511
@QiWang19 PTAL

[2020-03-16 13:48] lsm5 commented on #5502
@bbros-dev hi, the ppa is deprecated. I thought I added that in the description somewhere, but guess not. The podman install docs mention the steps to setup OBS repos.

[2020-03-16 13:49] #5502 closed

[2020-03-16 13:52] mheon commented on #5511
Is this related to login/logout not yet being implemented for remote?

[2020-03-16 13:56] alitvak69 commented on #5467
Any news about this.  I have not seen any updates on kubik.

[2020-03-16 13:57] wdouglascampbell commented on #5506
Okay.  If I use that --runtime parameter I get the expected results but for some reason if I just use:

`
sudo podman run --rm -ti alpine sh -c 'umask'
`
with no `--runtime=/usr/bin/runc`, I still get `0000`.

I'm not really familiar though with that parameter.  What else would my Fedora CoreOS system be using instead of runc and how might I find out?

Thanks!

[2020-03-16 13:59] TomSweeneyRedHat commented on #5467
@mheon @haircommander PTAL

[2020-03-16 13:59] lsm5 commented on #5467
i did make the changes on fedora, I think i need to change the centos branch too, let me check..

[2020-03-16 14:00] mheon commented on #5506
Can you make a container without `--runtime` and provide the output of `podman inspect` for that container? It should contain the name of the OCI runtime in use.

[2020-03-16 14:08] lsm5 commented on #5467
@alitvak69 sorry the webhook integration for autobuilds was a little messed up, it's building now using this spec file: https://build.opensuse.org/package/view_file/devel:kubic:libcontainers:stable/conmon/_service:obs_scm:conmon.spec?expand=1

[2020-03-16 14:08] rhatdan commented on #5506
Also `podman info` which should show the version.

[2020-03-16 14:12] lsm5 commented on #5467
@alitvak69 built, should land soon https://build.opensuse.org/package/live_build_log/devel:kubic:libcontainers:stable/conmon/CentOS_7/x86_64

[2020-03-16 14:21] mheon commented on #5512
Uh-oh.
@vrothberg Any ideas here?

[2020-03-16 14:22] mheon commented on #5510
@TomSweeneyRedHat Any ideas?

[2020-03-16 14:23] vrothberg commented on #5512
Maybe just a flake in proxy.golang.org?

[2020-03-16 14:28] rhatdan commented on #5306
Is this a systemd based system?  Is $XDG_RUNTIME_DIR defined?

[2020-03-16 14:28] rhatdan commented on #5475
Are we always running the same kernel?

[2020-03-16 14:39] edsantiago commented on #5475
In one of the cases above, the `package_versions` step shows `5.5.5-200.fc31.x86_64` for both the [failed](https://cirrus-ci.com/task/5756523582324736?command=package_versions#L0) and [successful](https://cirrus-ci.com/task/6225340670410752?command=package_versions#L0) runs.

[2020-03-16 14:42] rhatdan commented on #5494
Should we add a --install flag to the code to automatically install the service once it is created,  To eliminate the work that @Rafficer had to do, to figure out how to get this to work.

[2020-03-16 14:45] TomSweeneyRedHat commented on #5510
@mheon, none atm unfortunately.

[2020-03-16 14:48] vrothberg commented on #5494
I think improving the man pages should suffice. Doing a `cp` is easy to script and there are more steps needed in order to run the service (e.g., reloading the daemon etc.).

[2020-03-16 14:57] matzew commented on #5462
@rhatdan I am on `ext4` :thinking:  and it worked, until... a couple of days ago...

[code]

[2020-03-16 15:14] cevich commented on #5475
Yes, and in general/as much as possible automation avoids updating/changing as much as possible from one run to the next.  IIRC, the crun package is the only exception currently, and only for F31 VMs.

Otherwise (for F30 and Ubuntu), updated packages and kernel requires building new VM cache images (as documented).

[2020-03-16 15:51] tunip commented on #5306
@rhatdan In case of @faulesocke and me, no, we do not use a systemd based system.

[2020-03-16 15:57] bszeti commented on #5511
Using the --creds parameter we should be able to add username:password with every pull/push command. Login/logout is different as it should save the credentials temporarily or permanently in a file so we don't have to pass it with every command where it's needed.
The remote-client clearly provides no login feature at the moment, but help says that --creds should work.

[2020-03-16 16:24] NHRedAnt commented on #5498
Root podman does work on CentOS 8.1 podman 1.6.4.  So the issue does appear to affect only "rootless" instances.

A full podman exec is not necessary.  The unblocking can also come from a single "podman exec -ti  bash" and then use "ls /opt/gitlab" when needed.

Also noted that other direct volume "ls" commands or other directories appear to unblock.  Not even a "ls -ld /opt/gitlab", or "ls -ld /o

[2020-03-16 16:48] mheon commented on #5498
My suspicion is definitely fuse-overlayfs now. It sounds like it's blocking on something, and then unblocking when another operation comes in.

@giuseppe PTAL

[2020-03-16 17:23] aleks-mariusz commented on #5443
Ok, after quite a bit of researching and trying different things, i've found what the missing ingredient was:

The `dbus-user-session` package was missing (this is Raspbian, a Debian flavor, i'm on version 10 aka _buster_).

After installing this, the command will work properly (after doing `systemctl --user enable --now dbus.socket`), resulting in:

[code]

Also now when logging in the DBUS_SESSI

[2020-03-16 17:37] wdouglascampbell commented on #5506
Sure.  I created a container using `sudo podman --rm -ti alpine /bin/sh` and then switched to another session and inspect it and got the following (sorry the formatting is so bunched up):

`
[
    {
        "Id": "74340be6f373e5febf23b28e2fb88983dc0e42dd203b1d0c3af8dba01d2e2d61",
        "Created": "2020-03-17T01:30:48.786055569+08:00",
        "Path": "/bin/sh",
        "Args": [
            "/bi

[2020-03-16 17:41] wdouglascampbell commented on #5506
and here is `sudo podman info` which I see produces different output from the `podman info` I provided before.

`
sudo podman info
host:
  BuildahVersion: 1.13.1
  CgroupVersion: v1
  Conmon:
    package: conmon-2.0.10-2.fc31.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.10, commit: 6b526d9888abb86b9e7de7dfdeec0da98ad32ee0'
  Distribution:
    distribution: fedora
    version:

[2020-03-16 17:43] mheon commented on #5506
`"--runtime", "crun"` from `podman inspect`

So this is properly wierd. Inspect says we're creating containers with `crun`, but the default runtime listed in `podman info` is `runc`. I'm not sure how this is.

Regardless, I think this is probably a runc vs crun change.

[2020-03-16 17:47] wdouglascampbell commented on #5506
I posted after you wrote that last comment but it seems sudo podman causes the use of crun and podman without sudo uses runc.

[2020-03-16 17:54] mheon commented on #5046
Exact amount copied seems to vary, but on my system, it seems like ~60kb is the threshold for a successful, non-truncating copy.

[2020-03-16 18:03] mheon commented on #5046
Fragment of strace, around where the copy stopped:

[code]

The file I sent wasn't evenly divisible by 512, which makes me think this might be client-side - we're reading along as normal, but then we get a read of 0 for EOF.

The closes are pretty interesting, because I don't know where or why we're doing that, and why we're closing STDOUT after EOF on STDIN (and not STDERR, which remains open).

[2020-03-16 18:04] wdouglascampbell commented on #5506
Just to confirm what you guys are saying about "crun".

[code]
produces ```0000```.

[2020-03-16 18:29] cgwalters commented on #5513
I started getting this too after upgrading `  podman 2:1.8.0-2.fc31 -> 2:1.8.1-2.fc31`.

[code]

[2020-03-16 18:34] mheon commented on #5046
Block size has an effect

[2020-03-16 18:48] mheon commented on #5513
`events_logfile_path = ""`

That right there seems rather suspicious... We shouldn't have edited the config file during that upgrade, but if we didn't it probably should not have worked before. If you comment that out, does it go back to working?

[2020-03-16 19:00] wdouglascampbell commented on #5506
```/etc/containers/libpod.conf``` doesn't exist.

```/usr/share/containers/libpod.conf```:
[code]

~/.config/containers/libpod.conf doesn't exist for either core user or root user.

It is odd to me that the default runtime in the one file is crun when that is not what rootless podman uses.

[2020-03-16 19:05] mheon commented on #5506
@vrothberg @baude Rootless should be basing its configuration for some things (runtime being among them) on root's libpod.conf, but it doesn't seem like that's happening here?

[2020-03-16 19:05] rhatdan commented on #5488
Didn't the command above to this for you?
podman run --cgroups disabled ..

[2020-03-16 19:07] #5512 closed

[2020-03-16 19:14] NHRedAnt commented on #5498
Well here's another useful update.
Appears to work correctly on CentOS 8.1 podman 1.6.4 with updated kernel 4.18.0-177.el8.x86_64.

dnf install centos-release-stream
dnf --refresh update
reboot

Works as expected with the new kernel.

broken> cat /proc/version
Linux version 4.18.0-177.el8.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 8.2.1 20180905 (Red Hat 8.2.1-3) (GCC)) #1 SMP Wed Fe

[2020-03-16 19:36] rhatdan commented on #5114
@adrianreber Any update on this issue?

[2020-03-16 19:36] rhatdan commented on #5212
@vrothberg Any movement on this issue?

[2020-03-16 19:37] rhatdan commented on #4397
@HarryMichal Do you still have this issue?

[2020-03-16 19:39] HarryMichal commented on #4397
Yes, I still do. But on version 1.8.0. I currently don't have 1.8.1 installed on my system.

[2020-03-16 19:42] mheon commented on #5498
Can you provide 'podman info' for the 1.6.4 build? I'd like to see if the
fuse-overlay version is different.

On Mon, Mar 16, 2020, 15:15 NHRedAnt <notifications@github.com> wrote:

[2020-03-16 19:45] adrianreber commented on #5114
I do not see the error message any more in the current CRIU CI runs based on Podman 1.8.1~1.

Closing it.

[2020-03-16 19:45] #5114 closed

[2020-03-16 20:15] rhatdan commented on #5462
Any change a mount flag changed recently?  Did you mount your homedir noexec or something like that?

[2020-03-16 20:21] rhatdan commented on #5306
Which probably means XDG_RUNTIME_DIR is not set?

[2020-03-16 20:39] edsantiago commented on #5034
@baude, I built podman from master (2b2996d09d1d99c41a5c944b597e6b0c83ab23ee); f32 with golang-1.14-1.fc32.

Good news: cannot reproduce the problem using any of the above setups.

Bad news: I get a weird error on `podman rm -f`:
[code]
Now, from another shell: `podman rm -f -a`. Back to the above shell, ten seconds later:
[code]
The number in brackets is often different: 0013, 0012, 0017.

[2020-03-16 20:54] disaster123 commented on #4530
I would like to run jitsi through podman but i'm unable todo so because the docker-compose heavily uses network aliases:
https://github.com/jitsi/docker-jitsi-meet/blob/master/docker-compose.yml

currently i've no idea on how to run this with podman.

[2020-03-16 21:18] baude commented on #4530
@disaster123 I've outlined how we could do it and the up/downsides of it.  Do you have a better way to implement this or better yet, care to contribute?

[2020-03-16 21:41] NHRedAnt commented on #5498
This is from one of the CentOS 8.1 rack servers.  Unfortunately this preview system upgrade to centos-release-stream needed to be reversed (due to requiring kmod-mptsas for it's older SAS controller).  This is the information from that system after reverting.

Once we solve the SAS issue on this server, or I'm back at work with access to the Mac VM I can check to see if this information is the sam

[2020-03-16 21:45] mheon commented on #5498
The first `podman info` has fuse-overlayfs 0.7.6, the new one has fuse-overlayfs 0.7.2.

I'd be interested in a test of the new, 1.8.0 Podman with the old 0.7.2 fuse-overlayfs - I suspect that combination will work fine

[2020-03-17 00:14] faulesocke commented on #5306
@rhatdan exactly, no systemd and no `XDG_RUNTIME_DIR`. Of course I can set it and configure the system to create `/run/user/$UID` for me but I guess if it's required, at least the error message should indicate this.

[2020-03-17 01:35] bbros-dev commented on #5306
@rhatdan:

Yes to both:
[code]

[2020-03-17 03:32] kunalkushwaha commented on #5444
I will work on this.

[2020-03-17 04:02] gbraad commented on #5477
`/s/you/CRC`. The process for extracting and handling these archives should not have to inlvolve additional platform logic to deal with. It is NOT about t=having docs in there, as I could care less about those, but the subdirectory and the differently named platform executable (`podman`, `podman-remote-windows.exe`).

Are these created by a build script? If so, let me know since if this seems too

[2020-03-17 05:59] matzew commented on #5462
no change - at least none, that I did explicitly

[2020-03-17 08:59] giuseppe commented on #5498
I've tried locally on Fedora with different versions of podman and fuse-overlayfs and I am not able to reproduce the hang.  It could be the kernel.

Can you strace the container process when the hang happens?

[2020-03-17 09:01] giuseppe commented on #5506
can you tell me the output for `/usr/bin/crun --version`?  Could you try crun-0.13?

[2020-03-17 09:29] giuseppe commented on #5443
could you try to also add `events_logger =	"file"` to the configuration file?

[2020-03-17 09:34] vrothberg commented on #5212
Not to my knowledge, no.

[2020-03-17 09:36] sify21 opened #5521 "'podman pull' cache downloaded blobs temporarily"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman pull images by pulling its blobs. In case of network error, this situation may happen: most blobs are downloaded, but some timed out. In this case, the next pull will copy all blobs again. It's better that downloaded blobs are cached in a temporary place, then next pull will use th

[2020-03-17 09:40] vrothberg commented on #5521
Thanks for opening the issue! https://github.com/containers/image/pull/611 will address the issue as the blobs will be committed to the storage as soon as possible. https://github.com/containers/image/pull/611 is quite dusty but we will break the big changes into smaller ones in the near future.

[2020-03-17 12:04] xcffl commented on #4935
[code]
1.8.2 the issue still exists.
After the container being created, if I `curl` the opened port, it firstly says
[code]
The following `curl` will then return
[code]

There is nothing listening to that port (by checking `ss -lp 'sport = :port_number'`.
However, the corresponding slirp4netns process is alive (which has a `"SandboxKey": "/run/user/1000/netns/cni-xxxxxxxxxxx"`

[2020-03-17 12:41] rhatdan commented on #4904
Since this has been over a month with no response, I will close.  Reopen if this is still happening and you have more output.

[2020-03-17 12:41] #4904 closed

[2020-03-17 12:45] rhatdan commented on #5306
Ok if this is a new issue, we should open a new issue and not just add comments to this closed issue.

[2020-03-17 12:49] rhatdan commented on #5477
Yes I agree, the executable should be podman.exec not podman-remote-windows.exe

[2020-03-17 13:08] vrothberg opened #5522 "CI flake: podman run --net container"
I've seen the flake below quite frequently in the past two weeks or so.

[code]

Trace from the test:
[code]

[2020-03-17 13:19] mheon commented on #5522
This is already being tracked in #5339

[2020-03-17 13:19] #5522 closed

[2020-03-17 13:22] NHRedAnt commented on #5498
We saw no problems in Fedora 30 or 31 with and without selinux.

The problem occurs only in CentOS 8.1 podman 1.6.4/1.8.0/1.8.1 rootless gitlab image (most recent 3 upto gitlab/gitlab-ce:12.8.6-ce.0) with the default 8.1 kernel 4.18.0-147.5.1.el8_1.x86_64.

Newer kernel (4.18.0-177.el8.x86_64) or root podman works.

[2020-03-17 13:29] NHRedAnt commented on #5498
Here is the requested "podman info" from a working kernel upgraded (via  centos-release-stream) CentOS 8.1 podman 1.6.4
[code]

[2020-03-17 13:37] aleks-mariusz commented on #4935
I too seem to have developed this issue (which straingely at one point previously, it _was_ working but now i have fallen afoul of this same problem) and interesting bit here is that i'm using Podman 1.8.1 (contrary to the title saying _prior-to-v1.8_..

<details><summary>full `--log-level=debug` output of my podman run..</summary>
[code]
</details>

I am trying to work out what might have changed

[2020-03-17 13:44] AkihiroSuda commented on #4935
@xcffl @aleks-mariusz It is likely that you are hitting https://github.com/containers/libpod/issues/5249 , not this issue. The code has significantly changed in v1.8.

[2020-03-17 13:50] AkihiroSuda commented on #5249
@giuseppe Did you manage to reproduce the issue? I still cannot.

[2020-03-17 14:42] #5443 closed

[2020-03-17 15:47] #5339 closed

[2020-03-17 16:05] aleks-mariusz commented on #5249
(this is the contents of my post in the [other issue](https://github.com/containers/libpod/issues/4935) ):

---

I too seem to have developed this issue (which straingely at one point previously, it _was_ working but now i have fallen afoul of this same problem) and interesting bit here is that i'm using Podman 1.8.1 (contrary to the title saying _prior-to-v1.8_..

<details>
<summary>full `--log-l

[2020-03-17 16:06] aleks-mariusz commented on #4935
Thanks for the pointer, i've copied these details to that issue as well..

[2020-03-17 16:16] aleks-mariusz commented on #5249
p.s. i am running this on a RaspberryPi Model B, and it runs Raspbian 10 (Based on Debian 10 Buster).  Fortunately i have the system booting root off an iscsi LUN, and on my storage system i can roll back the snapshot, so i'm trying to get it back to a working state so i can try to compare the difference.. If there's specific i should be checking/looking out for, please let me know.. i've been try

[2020-03-17 16:34] AkihiroSuda commented on #5249
@aleks-mariusz The image isn't public?
[code]

[2020-03-17 16:55] aleks-mariusz commented on #5249
I just haven't uploaded it.. you can use `docker.io/aleksmariusz/octoprint:1.4.0-202003062053` as a substitute.

[2020-03-17 18:03] aleks-mariusz commented on #5249
<details><summary>So here's what it looks like when rolled back to when it did work</summary>

[code]
</details>

Which shows the expected:

[code]

Pid 1016 is:

[code]

Any ideas on how to debug why `containers-rootlessport` is not even being ran (when the issue happens)..

[2020-03-17 18:13] wdouglascampbell commented on #5506
[code]

I'm not sure how to upgrade crun on Fedora CoreOS.  I will see if I can figure that out but would appreciate any direction if you have it.

[2020-03-17 18:14] cgwalters commented on #5513
I never edited that config file obviously.  I still think it's quite wrong how podman writes the config file automatically and it definitely creates upgrade hazards like this.

Anyways, I just blew away the config+storage and re-pulled my toolbox and that worked.  Oh and hey, I don't have a `~/.config/containers/libpod.conf` anymore even after running `podman`, so that's good!

[2020-03-17 18:17] mheon commented on #5513
We no longer automatically create rootless configuration files as of... I want to say 1.8.0, but it could also be 1.7.x

[2020-03-17 18:45] Andrei-Stepanov opened #5526 "No way to increase: Max open files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I cannot build an app. Because of:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[c

[2020-03-17 18:50] mheon commented on #5526
Are you running rootless, or as root?

[2020-03-17 19:04] Andrei-Stepanov commented on #5526
@mheon rootless.
The command is : `npm install`
To install javascript dependencies to build project.
No need root for this.

[2020-03-17 19:05] Andrei-Stepanov commented on #5526
Could be related to https://github.com/containers/buildah/issues/2230

[2020-03-17 19:12] mheon commented on #5526
Can you manually adjust upwards with `--ulimit nofile=1048576:1048576` and see if that works? I'm wondering if we can't adjust limits at all, or if we can adjust but rootless is not attempting to do so (I know that root Podman will automatically adjust to the higher possible).

[2020-03-17 19:14] Andrei-Stepanov commented on #5526
[code]

[2020-03-17 19:15] Andrei-Stepanov commented on #5526
[code]

[2020-03-17 19:16] mheon commented on #5526
And just to verify - can you do a `cat /proc/self/limits` as your user, but not in the container, and see that they're higher than the 1024:1024 that rootless Podman is giving you?

[2020-03-17 19:24] Andrei-Stepanov commented on #5526
In Centos 8 there are two different ways:
Gnome
[code]
Console: Ctrl-Alt-F3:
![IMG_20200317_202226](https://user-images.githubusercontent.com/12443962/76893737-26de4600-688d-11ea-9880-5afb8acf9e06.jpg)

BUT! In both cases INSIDE container is 1024.

[2020-03-17 19:28] Andrei-Stepanov commented on #5526
![IMG_20200317_202540](https://user-images.githubusercontent.com/12443962/76894035-a3712480-688d-11ea-982c-2a278c8ad696.jpg)

Okay, seems found solution! @mheon the issue can be closed.
Now I need to find how to increase limits for Gnome session.
Thank you for your help!
@mheon ++

[2020-03-17 19:28] mheon commented on #5526
Glad to help!

[2020-03-17 19:28] #5526 closed

[2020-03-17 20:11] apollo13 opened #5530 "podman system service`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2020-03-17 20:11] #5530 closed

[2020-03-17 20:14] apollo13 opened #5531 "`podman system service` high cpu usage with `--timeout 0`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman system service -t0` from a shell results in very high cpu usage, it feels as if podman is busy looping somewhere.

**Steps to reproduce the issue:**

1. run `podman system service -t0`, root/rootless doesn't matter
2. observe high cpu usage in htop (or whatever) or just listen

[2020-03-17 20:14] danielvaughan commented on #5503
This seems to be have introduced with a more aggressive check for os in

https://github.com/containers/image/blob/d66f61bca2276786c2362ee33113dbb8f6012299/copy/copy.go

added on 22nd Nov 2019. The check stopped raising an error on 31st Jan 2020.   Perhaps OpenShift is using code from this window?

[2020-03-17 21:06] astronouth7303 commented on #4967
So openSuse says the Deb artifacts of project kubic are managed by upstream.

[2020-03-17 21:36] mheon commented on #4967
@lsm5 PTAL

[2020-03-17 21:36] andrew-aladev commented on #4224
[This issue](https://github.com/moby/moby/issues/40708) is the reason. Just one docker developer made wrong decision and broke rootless mode.

[2020-03-17 21:48] am-oxipay commented on #5249
FWIW I was on 1.8 also.
I found that using podman run usually worked but podman start triggered the issue almost always.

[2020-03-17 22:22] msekletar commented on #5046
I was able to reproduce the issue fairly reliably (on Fedora 32 with 1.8.1).

In one terminal I ran following command,
[code]
Btw my test file had 500 kB. While the loop was running it wasn’t printing anything, no truncation occurred. And then in the second terminal I spawned and exited another container (plain bash and just ran `exit`). After that string `fail` got printed immediately, dd didn’t

[2020-03-17 22:27] mheon commented on #5046
We've traced this further and believe that it's a problem somewhere in Conmon. For now, in use-cases related to `dd`, setting a large block size (I tested with `bs=32k`) should alleviate the issue.

[2020-03-18 00:48] AkihiroSuda commented on #4224
@andrew-aladev Even if we avoided using XDG dirs, anyway you need to use linger mode to keep user processes running on systemd hosts.

[2020-03-18 02:41] bbros-dev commented on #5306
No, keep closed. We were able to get more recent packages and haven't seen this since.

[2020-03-18 03:35] ttys3 commented on #5046
and also don't forget `mysql`
https://github.com/containers/libpod/issues/5419

[2020-03-18 09:14] andrew-aladev commented on #4224
@AkihiroSuda, `$HOME/.local/share` is a good standard path that is stable across sessions. `XDG_*` path is designed for software that don't want to store some data across sessions. These directories has been implemented as re-mounted tmpfs endpoiints.

[2020-03-18 10:03] jjtt commented on #5419
I also encountered this while passing a dump to a db through stdin.

Simple to replicate the issue with:

Small file is passed through nicely
[code]

But a large one does not have the same content

[code]

Where `largefile` is about 1,4 GB

Fedora 31 and podman 1.8.0

[2020-03-18 11:17] Hubbitus opened #5535 "Docker cli compatability in format: can't evaluate field RunningFor in type shared.PsContainerOutput"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`Podman` announced as a drop-in replacement for `docker` cli, but it fails to use `RunningFor` for format output of containers statistic.

**Steps to reproduce the issue:**
1. Run any container by `podman`: ```podman run -d nginx:alpine```
2. Request formatted list of containers with `.Runnin

[2020-03-18 12:11] matzew commented on #5462
/close

I did update to 1.8.1 and now, I can run the `make jobs` on the `openshift/releaes` repo.

Thanks for looking, folks!

[2020-03-18 12:12] #5462 closed

[2020-03-18 12:28] aleks-mariusz commented on #5249
hmm.. curious.. as i always am using `podman run` (and never have used `podman create` or `podman start`)..

would the issue owners here prefer i open up a new case (since i also am not actually experiencing the port being bound inside the container (i was pointed to this case maybe erroneously).. i think my issue is that i notice that `containers-rootlessport` is not starting when my port is not

[2020-03-18 13:20] TomSweeneyRedHat opened #5537 "System logs flooded with mesage"
Moved from https://github.com/containers/podman.io/issues/208 as reported there by @NTMan.  Please continue the discussion here.
Why my system logs flooded with message `container kill 8f3ff324c6a5188c9ff63ac3f870cc6c4ffc1a3046f4db025dc2d62f4de39f76 (image=dev-registry.sbis.ru/local_stand/inside:20.2100, name=inside)` when I start container?

[system-log.zip](https://github.com/containers/podman.i

[2020-03-18 13:28] mheon commented on #5535
Looks like it's named `Created` in our structs. Should be easy enough to rename to `RunningFor`

[2020-03-18 13:30] mheon commented on #5537
This is deliberate. These are the container events messages - Podman is leaving a log of what's going on. If you do not want this logged to journald, you can change to file logging by changing `libpod.conf` so that `events_logger` is set to `file`

[2020-03-18 13:36] rhatdan commented on #5188
@matpen Can I close this issue?

[2020-03-18 13:47] mheon commented on #5249
If there are different symptoms, a different bug is definitely warranted

[2020-03-18 13:55] wdouglascampbell commented on #5506
Just FYI.  There doesn't appear to be a way to upgrade crun on Fedora CoreOS.  Or at least I don't know how so I cannot try this with crun-0.13

[2020-03-18 14:04] edsantiago opened #5538 "RFE: podman generate systemd should write files to their proper path"
Currently, `podman generate systemd --file` writes to the current directory. This is problematic:
* It requires the user to `mv` the file into the proper location, which is rife with possibilities for user error
* After the mv, `systemctl start` may fail with the unhelpful message:
[code]
This is because a unit file generated in `$HOME` will have the wrong SELinux type; it has to be fixed with `re

[2020-03-18 14:10] vrothberg commented on #5538
Thanks for the detailed RFE, @edsantiago!

It would still be a breaking change; some users might rely on the current behavior that all files are generated in `pwd`.

@rhatdan asked for an`--install` flag which I didn't like yesterday but the selinux issue really convinces me.

[2020-03-18 14:13] elmarco commented on #5513
Same issue here after f32 upgrade, same solution applied. This is going to be recurrent.

[2020-03-18 14:17] NTMan commented on #5537
I suppose that the message itself said that happening something bad with the container.
And I am curious how to fix it.
That more strange today after computer reboot I didn't see these messages, but if they will return in the future I want to know what this means these messages and what should I do to fix it.

[2020-03-18 14:17] mheon commented on #5513
Wait, the configuration file *recreated itself* after you deleted it?

[2020-03-18 14:19] mheon commented on #5537
Probably the Signal 23 issue we're seeing elsewhere. Podman 1.8.2 will be released shortly to address it.

[2020-03-18 14:25] NTMan commented on #5537
Oh, I see today podman was upgraded maybe this fixed my problem.
[code]

[2020-03-18 14:27] elmarco commented on #5513
Only ~/.config/containers so far.

[2020-03-18 14:28] mheon commented on #5537
Yep, that sounds like it

[2020-03-18 14:39] decosvaldo commented on #5384
Dear mheon, have you found something useful?

[2020-03-18 14:53] mheon commented on #5384
I don't really know what to say here - nothing obvious here. We're getting a single error out of slirp, everything else seems to be fine on our end. Can you link the slirp4netns issue so I know what they were thinking, because this certainly does not seem like a Podman problem from my perspective

[2020-03-18 14:54] mheon commented on #5513
But you're still seeing error messages related to events being unable to be written?

[2020-03-18 15:36] elmarco commented on #5513
no, it's gone.

I suggest to give a hint to the user about these errors, because the user didn't do anything but upgrade podman. Iow, it should handle podman default value silently, or tell the user what to do imho

[2020-03-18 16:19] xcffl commented on #5249
I think mine sounds more like your problem. There is no suppose-to-be-outside port being opened inside. And as I use `podman-compose`, consequently I always use `podman run`. Let's open another issue.

[2020-03-18 16:47] xcffl opened #5541 "Podman run sometimes fails to open ports"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run -d -p 7005:8080  quay.io/keycloak/keycloak:latest`

2. `curl 127.0.0.1:7005 -v`

3.

**Describe the results you received:**
Very often, it gives the following result. Sometimes it's normal before `restart` or `rm` and `run` again.

[code]

**D

[2020-03-18 16:47] decosvaldo commented on #5384
https://github.com/rootless-containers/slirp4netns/issues/174

[2020-03-18 17:04] matpen commented on #5188
@rhatdan Actually, the issue does not seem to be solved. According to the [latest investigation](https://github.com/containers/libpod/issues/5188#issuecomment-586707796), there seem to be no viable workaround. My understanding is that the only hope to [get CNI to work](https://github.com/containers/libpod/issues/5188#issuecomment-585855545), as mentioned by @giuseppe. So, unless that task is being

[2020-03-18 17:14] mheon commented on #5384
SELinux being a potential issue was suggested. Can you try with `setenforce 0` and report back?

I definitely feel that this is not a Podman issue, though. The way we invoke Slirp seems perfectly valid.

[2020-03-18 17:15] #5537 closed

[2020-03-18 17:16] mheon commented on #5541
Does normal network traffic (not connecting to it via the forwarded port, but e.g. curling a file from within the container) work?

[2020-03-18 17:27] #3575 closed

[2020-03-18 18:25] AkihiroSuda commented on #5541
`containers-rootlessport` seems to die when a connection occurs from the host before the port is created inside the container.

[2020-03-18 19:25] rhatdan commented on #5538
Yes I think having --install, and then we could add it to containers.conf to allow users to always do this.

[2020-03-18 19:39] QiWang19 commented on #5511
the creds are not passed to the `func PullImage(name: string)` API, should we add a new argument to the API for creds or hide the `--creds` when remote?

[2020-03-18 19:48] rhatdan commented on #5511
I don't think creds can be used on remote system, so it should be hidden.

[2020-03-18 19:50] bszeti commented on #5511
Does this mean that we don't have any solution to pull images from authenticated registries using the remote-client?

[2020-03-18 19:53] rhatdan commented on #5511
Sorry I was mistaken,I was thinking certs not creds.  We should be able to pass creds across.  It is a requirement.

[2020-03-18 20:55] #5531 closed

[2020-03-18 23:02] xcffl commented on #5541
Yes. Inside a such container can sucessfully curl outside:
[code]

[2020-03-19 05:52] xcffl commented on #5541
Another thing to notice, when this problem occurs, network interface `cni-podman0` is not presented. But today magically when I recreated the pod, port mapping worked, and later I found there is a network interface called `cni-podman0`.

[2020-03-19 05:53] mrinaldhillon commented on #5488
@rhatdan podman run --cgroups disabled fails. even podman info is failing:

ERRO[0000] stat /sys/fs/cgroup/systemd/docker/da09413f3e39d82a2be453a6caf14c55cd3127611549557cc70c50565ef5f0f6: no such file or directory

podinfo info fails in setupRootless function when calling UserOwnsCurrentSystemdCgroup() https://github.com/containers/libpod/blob/c617484c15db0c0f227cab3c57f36a1585092a31/pkg/cgroups/c

[2020-03-19 10:06] rhatdan commented on #5006
Container/image has been merged. now we wait for it to be vendored into libpod.

[2020-03-19 10:06] rhatdan commented on #5238
@edsantiago is this still valid, or can we close this issue?

[2020-03-19 10:06] vrothberg commented on #5193
@rhatdan, can we cut a new release of ocicni to pull in the changes?

[2020-03-19 10:07] rhatdan commented on #5232
@mheon Any update on this issue?

[2020-03-19 10:08] rhatdan commented on #5001
@mheon did you ever work on this?

[2020-03-19 10:09] rhatdan commented on #4854
@sujil02 Could you investigate this?  At least look at cleaning up a some of the Warning messages.

[2020-03-19 10:11] rhatdan commented on #4551
We now have support for this on NFS Servers with rootless.  But we need a blog explaining how to do it.

Anyone want to take a stab at writing a blog.

[2020-03-19 10:45] edsantiago commented on #5238
The number of inconsistencies has doubled or tripled in the last month, with all the activity. I was going to give this one last try, re-summarize the latest script findings today, and then let @baude and @jwhonce comment on whether or not it's worth worrying about.

[2020-03-19 11:19] rhatdan commented on #5193
Sure, but I am not sure I have the power.
@haircommander @mrunalp PTAL

[2020-03-19 11:36] gbraad commented on #5477
Any update on this?

[2020-03-19 12:51] rhatdan commented on #5477
@gbraad What exactly would you like the Zip file to look like.
Do you want the help files and podman.exe?
Do you want the podman-v1.8.2-rc1-11-g6a261844/ removed?

[2020-03-19 12:55] rhatdan commented on #5477
How does this look
[podman-remote-release-windows.zip](https://github.com/containers/libpod/files/4354623/podman-remote-release-windows.zip)

[2020-03-19 13:19] mheon commented on #5541
Are you certain you're running without root? Can you add `--log-level=debug` to a `podman run` command that fails and pastebin the whole output? We should not have any dependencies on CNI when running without root.

[2020-03-19 13:26] haircommander commented on #5193
I honestly can't find evidence of there being rigorous versions of ocicni. the latest tag is 0.1.0, somehow the currently vendored version here is `github.com/cri-o/ocicni v0.1.1-0.20190920040751-deac903fd99b` I can't find where in the package the version is defined. Would you be opposed to pulling in the most recent commit instead @vrothberg

[2020-03-19 13:28] mheon commented on #5001
Nope, haven't found time

[2020-03-19 13:31] vrothberg commented on #5193
I don't feel strongly about it (given it would fix a bug) but it's a project under the CRI-O umbrella, so I have the expectation that it's doing a proper release management. It would make the lives of downstream packagers (e.g., Debian) much easier.

[2020-03-19 13:44] gbraad commented on #5477
That looks better. Can this be available on the same location for all
platforms?
From the code we use google storage:
https://storage.googleapis.com/libpod-master-releases/

It would be great to have a consistent location with tags

On Thu, Mar 19, 2020 at 8:55 PM Daniel J Walsh <notifications@github.com>
wrote:

--

   Gerard Braad | http://gbraad.nl
   [ Doing Open Source Matters ]

[2020-03-19 13:52] rhatdan commented on #5001
Ok marking this as a good first time issue, and maybe @sujil02 or someone else will have a chance to dive into it.  @kunalkushwaha WDYT?

[2020-03-19 13:54] haircommander commented on #5193
TBH I think it should live as a libpod package, but that conversation has dwindled

[2020-03-19 14:04] rhatdan commented on #5193
I just published v0.2.0...

[2020-03-19 14:08] haircommander commented on #5193
nice, thanks

[2020-03-19 14:11] vrothberg commented on #5193
Awesome!

[2020-03-19 14:21] rhatdan commented on #5193
Might get yelled at, but probably ignored.

[2020-03-19 14:28] giuseppe commented on #5541
PR here: https://github.com/containers/libpod/pull/5552

[2020-03-19 14:31] max-arnold opened #5553 "APIv2 incompatibilities with docker-py"
/kind bug

**Description**

I'm trying to make the [SaltStack Docker driver](https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.dockermod.html) work with Podman APIv2 (the driver uses `docker-py` under the hood).

I managed to run simple Salt commands like `docker.version`, `docker.info` and `docker.pull`, but more complex ones like `docker.ps` or `docker.run_container` are failing.

[2020-03-19 14:48] baude commented on #5553
@max-arnold great issue ...

[2020-03-19 14:51] baude commented on #5553
@max-arnold i have a patch for the first one ...

[2020-03-19 14:52] rhatdan commented on #5553
The next version of podman should fix the first one.

[2020-03-19 15:06] #5477 closed

[2020-03-19 15:08] baude commented on #5553
thanks for the great report and reproducers. it makes things easier.

[2020-03-19 15:43] aleks-mariusz commented on #5541
---

I too have this issue.. Here's what my `--log-level=debug` looks like..

<details>
<summary>full debug output of my podman run..</summary>

[code]
</details>

I am trying to work out what might have changed that caused it to get into this state, but am running out of ideas (i've tried reverting every change since it worked).  Could really use some help what might have changed, what to check f

[2020-03-19 15:44] aleks-mariusz commented on #5541
<details><summary>So here's what it looks like when rolled back my rootfs to when it did work</summary>

[code]
</details>

I've looked through the difference in debug log-level, but only thing i noticed different is the line is missing when it's _not_ working:

[code]

Is that just a red-herring or does it mean something?

When it's working, querying on the host, shows the expected:

[code]

Pid

[2020-03-19 15:47] AkihiroSuda commented on #5541
@aleks-mariusz Could you confirm whether https://github.com/containers/libpod/pull/5552 solves the issue?

[2020-03-19 15:57] rhatdan commented on #5488
@giuseppe Thoughts?
Currently podman is not supported running in a container.  I am not sure why it is checking for this cgroup or how we work around it.

But with --cgroups none, we should probably no be doing this check.

[2020-03-19 16:21] edsantiago commented on #5238
I'm not going to have time to massage it today, so here's unfiltered script output.

Format is: `-` shows the swagger comment as it currently is, `+` shows what my script thinks it should be. My script determines that from the name of the function invoked in `APIHandler()`. I don't know if these inconsistencies are important or not.

The usual difference is the operation id, but in some cases the

[2020-03-19 16:34] #5553 closed

[2020-03-19 23:38] bbros-dev opened #5562 "Podman run fails to respect command arguments"
/kind bug

**Description**
`ls /root` is respected that /root refers to the container.
`cp -f /root/vmlinux-* /output` not so.

**Steps to reproduce the issue:**

1.
File list shows the file is there:
[code]
 The copy command is looking in the host
[code]

2. Same happens if you remove the `--entrypoint` flag and use the command `busybox ...`,

**Describe the results you received:**

`cp: can't st

[2020-03-19 23:44] mheon commented on #5562
Are you sure your shell isn't expanding the wildcard itself? Can you try `/bin/sh -c "cp -f /root/vmlinux-* /output"` as an alternative command, which should force the wildcard to be expanded by a shell within the container?

[2020-03-20 00:21] mheon commented on #5035
We definitely have a new Buildah landed since this was written, so closing

[2020-03-20 00:21] #5035 closed

[2020-03-20 00:29] astronouth7303 commented on #4812
Has the above PR been released?

[2020-03-20 00:32] mheon commented on #4812
Merged on February 18, we've vendored Buildah several times since then. I would imagine Podman 1.8.1/1.8.2 have the fix.

[2020-03-20 03:57] kunalkushwaha commented on #5001
I can pick it up if no one is working on this.

[2020-03-20 04:15] xcffl commented on #5541
<details>
<summary>Yes. And the debug log is here</summary>

[code]
</details>

Very clearly restarting certain images (e.q. calibre-web I refered in the issue) stablely triggers this.

[2020-03-20 04:33] xcffl commented on #5541
Even after `podman system migrate`, the problem still exists.

[2020-03-20 07:08] bbros-dev commented on #5562
Not sure if this is intended behavior?
All commands have to be passed in like that?

[2020-03-20 07:12] marusak opened #5563 "Podman does not ship systemd units for APIv2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The new release `podman-1.8.2-1` is still not shipping systemd units for the new APIv2 in Fedora.
It seems it exists in the repository in `contrib/systemd/system/podman.service` though.

**Steps to reproduce the issue:**
[code]
These are though units for varlink and not for the REST API.

**Pa

[2020-03-20 09:25] marusak commented on #5366
This is still not fixed.
The same reproducer works exactly the same with `podman-1.8.2-1.fc31.x86_64` which was released yesterday. (Also tried current master to build it for myself and the same result).
Can someone please reopen this issue?

[2020-03-20 09:26] loibpet opened #5565 "podman push fails to push to own repostory"
/kind bug

**Description**

Ran into this problem, when I was checking if scripts developed for docker were running with podman.

**Setup:** Secured infrastructure with own container registry. Production container are allowed only from this own registry. Therefore, `/etc/containers/registries.conf` is modified as follows:
[code]

The following steps are performed:
1. `docker -v`
1. `docker pull ub

[2020-03-20 10:18] abalage commented on #5431
Although this is really annoying, as I recall Docker + firewalld worked the very same way.
I always had to restart docker daemon to recreate its iptables chains and rules after I did a 'firewall-cmd --reload'. I might recall that containers had to be redeployed as well.

For me what worked is to use a container specific OS (like OpenSUSE MicroOS, Fedora CoreOS) explicitly dedicated for containers

[2020-03-20 10:30] rhatdan commented on #5001
Go for it.

[2020-03-20 10:32] rhatdan commented on #5541
The problem is most likely in iptables and CNI.

[2020-03-20 10:35] rhatdan commented on #5562
If you enter a command on the command line,  the shell is going to interpret it. There is nothing podman or any other tool can do about it.  Bash sees the command first and interprets it before handing the arguments to the podman program.  This is the way shells work.

[2020-03-20 10:35] #5562 closed

[2020-03-20 11:29] JuSt19 opened #5568 "Firewalld issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Once we deploy the microservices within podman with selinux and firewalld (both activated)...services start not responding requests properly. If you connect to the container and try to ping, dig any internal or external domain, any action to verify the connection, the pod is not able no do no

[2020-03-20 11:50] rhatdan commented on #5563
I have patched the spec files and retriggered builds so we can get this release updated without having to bump the release.

[2020-03-20 12:03] vrothberg commented on #5568
@mheon PTAL

[2020-03-20 12:51] rhatdan commented on #5366
@baude PTAL

[2020-03-20 13:08] aleks-mariusz commented on #5541
tl;dr - didn't seem to? not sure if i tested correctly tho (see details below)

---

so yesterday evening i saw that 1.8.2 was just released, but dissappointingly it didn't seem to contain this PR merged so it was a bit of a burden to have to (cross-)compile on master (something i'd hope i could put behind me since i found a proper apt source for my distro/arch for podman that is fairly up to date

[2020-03-20 13:11] aleks-mariusz commented on #5541
oh and p.s. if i restart the container and make sure no connection attempts to the forwarded port, the port forwarding does work after the container finishes restarting.. i confirm with tcpdump that no connection attempts are being made.. i'm glad i at least have a work-around i can use to ensure port-forwarding will work..

something about trying to connect to the port forwarded service before it

[2020-03-20 13:18] rhatdan commented on #5568
I don't think this is an SELinux issue, but I am willing to be proven wrong?  If you put the machine in permissive mode, does it still fail with the file wall rules up?

Are there any AVC messages in the audit.log.

This issue looks a lot like a firewall rules.

From the podman info this looks like it is happening with root.

BTW There should be a newer version of podman available for centos.

[2020-03-20 14:23] g574 opened #5569 "CNI is trying to use iptables on CentOS 8"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Nearly the same issue as https://github.com/containers/libpod/issues/5352. But that has been closed and I still do not know what was the cause or how I can prevent that.

I am using nftables (no firewalld) and I have a few nftables rules.
If I try to do `podman run...` it always fails with an

[2020-03-20 14:34] ikke-t opened #5570 "go routine panics while doing podman pull"
/kind bug

**Description**

I changed my ansible playbook to run containers as a user instead of root. Now go segfaults at the very first command, image pull.

**Steps to reproduce the issue:**

1. Ansible does this:

```podman pull homeassistant/home-assistant:stable```

**Describe the results you received:**

See Ansible debug log:
[code]

**Describe the results you expected:**

Pull the image :

[2020-03-20 14:37] ikke-t commented on #5570
ah, I got some good tip from IRC:

I tried to take the debug info for the above as a user, which failed:
[code]

Which them gave a lead:
[code]

So perhaps erroring out with eroor message instead of panic if such temp dir is missing?

[2020-03-20 14:49] rhatdan commented on #5250
@larsks @baude Is this still an issue?

[2020-03-20 14:50] rhatdan commented on #5234
@vrothberg do you think we should do this?

[2020-03-20 14:53] rhatdan commented on #4961
@haircommander Any thoughts on this, should we check if a character is printable before sending it to the log file?

[2020-03-20 14:54] rhatdan commented on #4834
@MK27 Are you still interested in this?  You never gave @mheon the output of the podman run --log-level=debug?

[2020-03-20 14:58] ikke-t commented on #5568
check out it's not the same I had a while back, confusion between iptables and firewalld: https://github.com/containers/libpod/issues/5335

[2020-03-20 15:03] vrothberg commented on #5234
I like @mtrmac's idea to mimic what Docker does. @mtrmac what do you think?

[2020-03-20 15:09] mtrmac commented on #5234
Sure, why not. AFAICS `docker-archive:` (preferably via `archive.NewReference`) already supports unnamed archives, so this is something to do around https://github.com/containers/libpod/blob/235f367861be6b7f9ca3b4a62c240a03728a7a21/libpod/image/image.go#L1416 .

[2020-03-20 15:11] vrothberg commented on #5234
@rhatdan, something for interns?

[2020-03-20 15:13] rhatdan commented on #5569
This should be an issue with cni, not with podman.
https://github.com/containernetworking/plugins

[2020-03-20 15:15] ikke-t opened #5572 "systemd not always producing the %t from systemd file"
/kind bug

**Description**

I followed the blog to use conmon-pidfile and cidfile from [this blog](https://www.redhat.com/sysadmin/podman-shareable-systemd-services). However, systemd doesn't fills %t for podman user containers.

ping @vrothberg

**Steps to reproduce the issue:**

1. Ansible does this systemd file:

[code]

2 add user ```sudo useradd redhatter```
3. reload systemd ```sudo systemct

[2020-03-20 15:24] rhatdan commented on #5234
Sure unless @sujil02 gets to it first.

[2020-03-20 15:26] vrothberg commented on #5234
:trumpet: :trumpet:  :trumpet:  :notes: Let the games begin!

[2020-03-20 15:26] rhatdan commented on #5572
@vrothberg PTAL

[2020-03-20 15:32] larsks commented on #5250
This appears to have been resolved.

[2020-03-20 15:32] #5250 closed

[2020-03-20 16:20] sujil02 commented on #5461
Fixed with PR #5539

[2020-03-20 16:20] #5461 closed

[2020-03-20 16:33] ikke-t commented on #5572
It's related to this ansible role. I changed %t to %T to make it work somehow. https://github.com/ikke-t/podman-container-systemd

[2020-03-20 17:27] haircommander commented on #4961
no thoughts yet. I'll try to get to addressing this soon

[2020-03-20 18:05] NMi-ru commented on #4323
docker-1.13.1-108 on CentOS7 works with IPv6 by default.

docker-compose.yml excerpt:
  ports:
    - "10051:10051"

ss -anp | grep 10051:
tcp    LISTEN     0      128    [::]:10051              [::]:*                   users:(("docker-proxy-cu",pid=4697,fd=4))

[2020-03-20 18:14] mheon commented on #4323
That's just a proxy service holding the port open so it can't be used by any applications on the host - is it actually adding rules to forward them? `ip6tables -nvL` and `ip6tables -t nat -nvL` would help.

[2020-03-20 21:02] PrymalInstynct opened #5575 "Persistent vs Non-Persistent Volume file execution difference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
1. Dockerfile
[code]

2. buildah bud -t openvpn .
3. podman run --rm -it -v openvpn_data:/etc/openvpn:z localhost/openvpn /bin/bash
4. /etc/openvpn/easy-rsa/easyrsa init-pki

**Describe the results you received:**
Permission Denied

**Describe the results you

[2020-03-20 22:54] mheon commented on #5575
Can you try adding `exec` to the options for the openvpn_data volume and see if that does anything?

[2020-03-21 00:42] PrymalInstynct commented on #5575
I am sorry not quite sure what you mean. I know how to start a container then use exec to run a command within the started container... is that what you mean?

[2020-03-21 01:55] mheon commented on #5575
No, we allow `exec` as a volume option, similar to `:z`. Podman mounts named volumes as `noexec` by default for security reasons (though I think we relaxed this recently for anonymous and image volumes). So, instead of `-v openvpn_data:/etc/openvpn:z` try `-v openvpn_data:/etc/openvpn:z,exec`

[2020-03-21 10:46] PrymalInstynct commented on #5575
alright, great that fixed my issue. Can you point me a documentation, I have been looking everywhere?

[2020-03-21 11:28] rhatdan commented on #5260
@schubter @mheon Is this still an issue, or should it be closed?

[2020-03-21 11:30] schubter commented on #5260
yes, created containers via the api cannot be interacted with, ie attached to as they are not initialized in the runtime.

[2020-03-21 11:44] JuSt19 commented on #5568
I have updated the main issue with more information and also the title, this issues is focused in firewalld.

I've talked yesterday with @mheon and he asked me to do some tests and here's the output:

[root@test-podman-01 ~]# podman exec -it nginx02 bash
Error: cannot exec into container that is not running: container state improper

`[root@test-podman-01 ~]# iptables -nvL
Chain INPUT (policy ACCE

[2020-03-21 12:23] JuSt19 commented on #5568
I have found this links about the same issue in the same env:

https://github.com/containers/libpod/issues/348
https://github.com/containers/libpod/pull/1431#issuecomment-579939112

[2020-03-21 13:22] lfarkas commented on #4905
it's nice that you close it but after 2 month it's still not fixed and not working on fedora:-(

[2020-03-21 13:38] rhatdan commented on #4905
@lfarkas If this is not working in Buildah please open a bug over there.

[2020-03-21 13:40] rhatdan commented on #4905
There is an ongoing rewrite of copy in buildah going on.  We have lots of issues/complaints about copy being too slow. We have fixed a few, but @nalind Thinks that a full rewrite is necessary and he has been working on it. Hopefully we will have something soon.

[2020-03-21 14:30] max-arnold opened #5580 "APIv2: missing NetworkSettings and failure to start a container"
/kind bug

Iteration 2 of my APIv2 & `docker-py` compatibility tests (see #5553 for the first one).

#### 1. I still had to patch the expected minimal version (from 1.9.0 to 1.8.0).

However, problems (2) and (3) from #5553 are fixed!

#### 2. Attempt to run a container failed due to Salt code that expects `NetworkSettings` -> `Networks` to be a non-empty dictionary

Network settings:

<details><s

[2020-03-21 20:05] lfarkas commented on #4905
it's not working in podman build (since most people use it). what's a it's a regression since it was working in 1.4.4 el7!

[2020-03-22 01:41] bbros-dev commented on #5562
@rhatdan.  Point taken.  My apologies for cutting corners in the original report:
The original command I expected to work is:

[code]
Then by trial and error I got to a point where podman at least fed busybox a command busybox understood - the report I opened.

My understanding is that podman surrently handles the input for an `entrypoint` such that you have to provide `cp` in a way that the host'

[2020-03-22 02:22] xcffl commented on #5541
Another interesting observation. Pods in a good condition have infrastructure container with empty `MountLabel` and empty `ProcessLabel`, whereas infrastructure containers in pods with networking errors are labeled.

[code]

[2020-03-22 03:24] mheon commented on #5562
By making `cp -f ...` into one large argument by wrapping it with quotes, Busybox is interpreting it in its entirety as the command to invoke (as opposed to command + arguments). Adding `sh -c` in front will make this work, as Busybox will invoke a shell to interpret the string, not treat it as a single command.

So `podman run --entrypoint=busybox $IMG sh -c 'cp -f /root/vmlinux-* output/'` shoul

[2020-03-22 07:53] kunalkushwaha commented on #5001
I looked into this issue and found  `JSON` output has no compatibility issue with `docker` commands, as it's additional in `podman`. Docker only supports `--format` in Go templates.
- So making changes in `JSON` format is easy, if we agree to make changes.

This can be easily fixed and changes are required in [cli code](https://github.com/containers/libpod/blob/master/cmd/podman/images.go#L36) onl

[2020-03-22 10:53] rhatdan commented on #5278
Well we hit this, this past week.

[2020-03-22 10:56] rhatdan commented on #5205
This is definitely something we want.  Just need someone to take it up and run with it.
@kunalkushwaha @sujil02 Anyone interested?

[2020-03-22 10:57] edsantiago commented on #5278
@cevich can you suggest a way to differentiate, within a CI run, between release candidates and regular builds?

[2020-03-22 11:01] rhatdan commented on #5541
The one's without SELinux labels, will run as unconfined.
Do you see AVC messages when this happens?
grep -i avc /var/log/audit/audit.log

[2020-03-22 11:32] xcffl commented on #5541
Yeah there are flood of AVC messages, although I've set selinux to permissive:

[code]

[2020-03-22 17:30] xcffl commented on #5541
Pretty sure selinux accounts for the problem  (unix_dgram_socket). Running a unaccessable pod with generated systemd service automatically makes this pod accessable (due to different CGroup?). The AVCs also disappear.

[2020-03-22 18:42] malte-v opened #5583 "Podman fails to complete pulling some images when they are nearly fully downloaded"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to pull the official Rust image from the Docker Hub using podman. Strangely, it encounters an error when the image is nearly fully downloaded. Here are some attempts that should illustrate the problem:

<details>
  <summary>Command line output</summary>

  Rootless:

[code]

With r

[2020-03-22 19:11] groovyman commented on #5094
This issue is closed, but there was another problem i mentioned with stale connections from the host. Finally i resolved that issue (it was not on your side).  I was wondering, why the connection from the web-server inside my container to the host outside database listener sometimes was in a stale state. Now, i figured out, that the database was started too early by systemd, finally not able to bi

[2020-03-22 21:25] lfarkas commented on #4905
what's more even if the v1.8.2 release notes said: Updated Buildah to v1.14.3 it's still not working.

[2020-03-22 21:40] #5001 closed

[2020-03-22 21:50] malte-v commented on #5583
I've tried two more times on podman 1.8.2 and the issue persists, but once I got a different "unexpected EOF" error:

[code]

[code]

[2020-03-22 22:45] mheon commented on #4905
Do we have an issue about this on the Buildah side? @rhatdan @TomSweeneyRedHat

If not we should get one written

[2020-03-22 23:51] kunalkushwaha commented on #5205
I can pick this.

/assign

[2020-03-23 02:36] xcffl commented on #5541
@rhatdan well it's not really related to  #5552 AFAIK

[2020-03-23 03:34] gbraad commented on #5440
Fixed with https://github.com/containers/libpod/releases/tag/v1.8.2

[2020-03-23 03:34] #5440 closed

[2020-03-23 05:37] NTMan opened #5584 "Since version 1.8.3-0.1.dev.gitaa6c8c2.fc33 all console utilities in container working only in 80x25 chars ."
Since version 1.8.3-0.1.dev.gitaa6c8c2.fc33 all console utilities in container working only in 80x25 chars .

![Screenshot from 2020-03-23 10-07-27](https://user-images.githubusercontent.com/200750/77284816-6673ba80-6cf1-11ea-98f7-2ec35f10f1c6.png)

Last good version is 1.8.2-0.9.dev.gitcccd05c.fc33

[2020-03-23 08:50] vrothberg commented on #5094
@groovyman, thanks a lot for sharing! I am really happy it's working.

[2020-03-23 09:50] dependabot-preview[bot] opened #5585 "Dependabot wasn't able to update github.com/etcd-io/bbolt"
The module path `github.com/etcd-io/bbolt` found in your `/go.mod` doesn't match the actual path `go.etcd.io/bbolt` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `go.etcd.io/bbolt` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/27172806).

[2020-03-23 11:04] #5433 closed

[2020-03-23 11:08] marusak commented on #5563
I guess this was fixed in #5567

[2020-03-23 11:08] #5563 closed

[2020-03-23 11:56] rhatdan commented on #5583
Strange I was able to pull with no problem.
Can you pull with Docker?

[2020-03-23 11:59] rhatdan commented on #5254
@Komic Can I close this issue now?

[2020-03-23 12:00] vrothberg commented on #5583
Are you behind a proxy?

[2020-03-23 12:00] rhatdan commented on #5288
I am going to close this as the registry needs to be fixed.

[2020-03-23 12:00] #5288 closed

[2020-03-23 12:27] malte-v commented on #5583
Yes, pulling with docker works fine. But once I saw it saying "retrying in 5..4.. seconds" and then resuming the download. I'll see if it happens again and provide the pull output. According to my router, the internet connection was stable during the download.
[code]

No.

[2020-03-23 12:37] rhatdan commented on #5128
@sspoddiglane Any movement on this, or should I look for someone else?

[2020-03-23 12:39] marusak opened #5586 "APIv2: `commit` badly attached and documented"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am trying to use `commit` from APIv2 and having hard time due to miserable documentation. (1) First issue is that it is attached to `/commit` instead of `/libpod/commit` which would be much better for consistent experience. (2) But the main issue is that it does not mention that the request

[2020-03-23 12:41] rhatdan commented on #5541
These AVC's are about the auditd daemon sending packets?
Is your container running as auditd_t?

[2020-03-23 12:48] lsm5 opened #5587 "aarch64 build failure"
[code]

[2020-03-23 12:49] rhatdan commented on #5584
@mheon @haircommander @giuseppe Terminal resize broke?

[2020-03-23 12:49] lsm5 commented on #5587
https://koji.fedoraproject.org/koji/taskinfo?taskID=42716422

[2020-03-23 13:08] malte-v commented on #5583
Here is the full output of `docker pull` run through `script`:

<details>

[code]

</details>

As you can see, the retry happened rather at the start of the download.

[2020-03-23 13:09] mheon commented on #5587
@giuseppe I think this may have been your fix for the rootlesskit port forwarding issue

[2020-03-23 13:12] mheon commented on #5584
More details would be greatly appreciated - is this with `podman exec`, or `podman run`, or both?

[2020-03-23 13:16] marusak commented on #5586
Also, could I get example how to set up two changes? For example lets say I want to set up CMD to `bash -c "echo 'hello world'"` and USER to `admin`?
Thank you

[2020-03-23 13:17] mheon commented on #5586
@baude @jwhonce PTAL

[2020-03-23 13:22] mheon commented on #5568
I feel like we may have fixed this on master, but I'm not precisely sure as to when...

@JuSt19 There's a Centos virt-sig repo that distributes more up-to-date Podman packages; would you be willing to give those a shot and see if a more recent version is fixed? @lsm5 where did that repo live, again?

[2020-03-23 13:27] malte-v commented on #5583
I have no idea why, but after another reboot, the issue just magically disappeared. I'll reopen this if it happens again.

[2020-03-23 13:27] JuSt19 commented on #5568
@mheon that's perfect for me, could you please share to me this repo and then i'll test if it's already fixed.

Awaiting!

[2020-03-23 13:29] lsm5 commented on #5568
I don't maintain the virt-sig repo anymore. All non-fedora and non-rhel is on OBS now. 1.8.2 should be available for centos 7 via the OBS stable repo. See the Kubic project section under CentOS at https://podman.io/getting-started/installation for installation instructions

[2020-03-23 13:30] NTMan commented on #5584
It's the result of both commands.

1. `$ podman run my-super-container`
2. `$ podman exec -it inside mc`

[2020-03-23 14:17] baude commented on #5586
1. Added libpod endpoint in #5588
2. Was a bug, fixed
3. fixed in swagger docs
4. yup, i added that.
5. sudo curl -X POST --unix-socket /run/podman/podman.sock 'http://d/v1.24/libpod/commit?author=baude&changes=CMD%3D%2Fbin%2Ffoobar&container=foo&repo=quay.io%2Fbaude%2Fdunbar&tag=latest

[2020-03-23 14:24] xcffl commented on #5541
Well at least I didn't set that argument. But yes all of the unaccessible containers for some reasons have that label. Maybe it's a bug of containers-selinux?

[2020-03-23 14:26] rhatdan commented on #5583
I think there is something wrong with your system or your network, that is triggering a failure on the pull.

[2020-03-23 14:27] rhatdan commented on #5583
Thousands of users are able to pull thousands of images, and are not seeing this issue.

[2020-03-23 14:27] giuseppe commented on #5587
PR here: https://github.com/containers/libpod/pull/5589

[2020-03-23 14:32] malte-v commented on #5583
You're probably right. It just seemed strange to me that it always fails when it's almost finished and neither my router nor `dmesg` reported any network issues.

I'll try it on a different network.

[2020-03-23 14:32] #5583 closed

[2020-03-23 14:50] JuSt19 commented on #5568
Still failing after update to 1.8.2 and doing the same thing to reproduce the same with the old version.

[2020-03-23 17:11] marusak commented on #5586
Thank you @baude for the quick fixes!
ad 5. I was mostly asking how is it possible to pass more than one `change` (comma separated, space separated, some kind of array...)? And also how it should be encoded when the value is more than one string (sometimes these things are passed as arrays, sometimes as encoded strings...)

[2020-03-23 18:30] TomSweeneyRedHat commented on #4905
I'm not sure if we have a particular issue in the Buildah issues, but it's a problem that's also been reported via Bugzilla and @nalind has been diligently working on it.

[2020-03-23 18:33] mheon commented on #4905
Basically, I want a tracker issue that we can point people to, that will be closed when this is actually done and released. If we have a public BZ about that, that ought to be fine.

[2020-03-23 18:54] TomSweeneyRedHat commented on #4905
The BZ is at:  https://bugzilla.redhat.com/show_bug.cgi?id=1756986

[2020-03-23 20:20] #5586 closed

[2020-03-23 20:22] #5511 closed

[2020-03-23 22:10] lfarkas commented on #4905
which is totally false! since it's was closed as "Fixed in buildah-1.11.2-2" but still not working with buildah-1.14.3-1.fc31.x86_64

[2020-03-23 22:12] TomSweeneyRedHat commented on #4905
@nalind PTAL

[2020-03-23 22:18] #5421 closed

[2020-03-23 23:26] miquecg commented on #5464
@giuseppe Have you had time to check the full log?

These days I don't have access to the machine where this is happening so I cannot check again with newer Podman versions. Sorry.

[2020-03-24 01:12] ahmetb commented on #4364
I hate to say I came here with exact same problem after reading website and poking through the CLI for 15 minutes.

Can someone please update `podman.io` homepage to say:

[2020-03-24 08:54] marusak opened #5599 "APIv2: Events streaming behaves weirdly with socket activation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
This is collection of observations. I want to point out some finding. Also it does not work greatly with [cockpit http client](https://cockpit-project.org/guide/latest/cockpit-http.html) and I am not sure yet if this is problem on cockpit or podman side. I hope that we actually may figure out

[2020-03-24 09:15] FlorianLudwig commented on #5302
Hi bot! Thanks for your friendly reminder but who exactly are you reminding :sweat_smile: ?

[2020-03-24 09:17] #5585 closed

[2020-03-24 09:18] dependabot-preview[bot] opened #5600 "Dependabot wasn't able to update github.com/etcd-io/bbolt"
The module path `github.com/etcd-io/bbolt` found in your `/go.mod` doesn't match the actual path `go.etcd.io/bbolt` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `go.etcd.io/bbolt` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/27321937).

[2020-03-24 09:43] vrothberg commented on #4364
@TomSweeneyRedHat WDYT?

[2020-03-24 09:47] rhatdan commented on #5200
@imaspeer Do we still have this issue with the latest packages?

[2020-03-24 09:48] rhatdan commented on #1675
@QiWang19 I believe we support credential helpers now, can we close this issue?

[2020-03-24 09:53] chengkuangan commented on #4131
Great! Waiting for this. Testing this out in Nexus3 and hit into the same problem

Copying blob sha256:57de4da701b511cba33bbdc424757f7f3b408bea741ca714ace265da9b59191a
Writing manifest to image destination
Storing signatures
time="2020-03-24T09:43:03Z" level=error msg="Error preparing container 12b1b20f183bad5c4215bd53a8dd160e604c62b8c16f566b7f3e99a92ef9619f: error creating network namespace for c

[2020-03-24 09:54] chengkuangan commented on #4131
Great one! Testing this in Docker container with Nexus3. Saw this [#4698](https://github.com/containers/libpod/pull/4698). Waiting for this to be merged.
Copying blob sha256:57de4da701b511cba33bbdc424757f7f3b408bea741ca714ace265da9b59191a
Writing manifest to image destination
Storing signatures
time="2020-03-24T09:43:03Z" level=error msg="Error preparing container 12b1b20f183bad5c4215bd53a8dd160e6

[2020-03-24 10:07] chengkuangan commented on #4131
Great one! Testing this in Docker container with Jenkins. Saw this #4698. Waiting for this to be merged.
Copying blob sha256:57de4da701b511cba33bbdc424757f7f3b408bea741ca714ace265da9b59191a
Writing manifest to image destination
Storing signatures
time="2020-03-24T09:43:03Z" level=error msg="Error preparing container 12b1b20f183bad5c4215bd53a8dd160e604c62b8c16f566b7f3e99a92ef9619f: error creating n

[2020-03-24 10:11] vrothberg commented on #5583
Docker is slightly more tolerant for network errors and apparently has a couple of retries even on quite random failures when pulling. We don't do that as we expect the network to be stable.

I expect the pulling to succeed on a different network. @malte-v, feel free to comment here or open a new issue if you're still seeing these issues.

[2020-03-24 10:20] rhatdan commented on #5302
It is notifying everyone to take a look at it again, otherwise these issues just get lost.

I don't even recall seeing this one, and no one investigated, that I know of.

These logs are not being written by Podman, I would guess they are coming from CNI?  @mheon @mccv1r0 WDYT?

[2020-03-24 12:12] rhn opened #5603 "Man docker-pull mentions SOURCE without contextualizing it"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In `man docker-pull`, the command syntax is "podman pull [options] name[:tag|@digest]", without any mention of SOURCE. The man page doesn't mention SOURCE outside of the SOURCE section, and so there's  some link missing there.

It says ""SOURCE" uses a "transport":"details" format.", and the

[2020-03-24 12:14] vrothberg commented on #5603
Thanks for opening the issue, @rhn! The `podman-pull` man page really needs some updates. In the meantime, there's a `containers-transports(5)` man page providing all the details for the various transports. We should like to that man page.

[2020-03-24 12:47] rhatdan commented on #5603
@rhn Interested in opening a PR to improve the man page?

[2020-03-24 13:00] rhn commented on #5603
I don't really know what went wrong there unfortunately :(

[2020-03-24 13:16] dustymabe commented on #4211
@GolanTrevize10 - did your issue every get fully resolved ?

[2020-03-24 13:45] TomSweeneyRedHat commented on #4364
Sure, always happy to take a PR.

[2020-03-24 14:08] TomSweeneyRedHat commented on #1675
I've not been able to get this to work, might be a personal issue.  I'm also not able to see any documenation.  If you can point me to documenation that shows how this works, we can close this.  Otherwise as a minimum we need to document this before closing this issue.

[2020-03-24 15:03] mccv1r0 commented on #5302
Those logs don't look like anything CNI produces.

[2020-03-24 15:05] mheon commented on #5302
Concur, this is the app in the container. Looks like output is somehow being cut off.

Can you see the full logs in `podman logs`?

[2020-03-24 15:08] FlorianLudwig commented on #5302
Yes, the output is from the app itself (output from `podman run`). Running the exact same commands in docker does produce non scrambled output.

[2020-03-24 16:40] aleks-mariusz commented on #5420
for anyone else who finds this issue as well, and relies soley on RPM's, until the slirp4netns RPM (i use the kubic-stable repo) is updated with 0.4.3 (non-beta), i was able to use the opensuse RPM without issue:

`sudo rpm -Uvh http://download.opensuse.org/repositories/Virtualization:/containers/openSUSE_Tumbleweed/x86_64/slirp4netns-0.4.3-23.8.x86_64.rpm`

standard disclaimer applies, use at you

[2020-03-24 17:19] #5587 closed

[2020-03-24 19:08] lsm5 commented on #5587
On Tue, Mar 24, 2020 at 10:19:52AM -0700, OpenShift Merge Robot wrote:

built fine https://koji.fedoraproject.org/koji/buildinfo?buildID=1481604

Thanks!

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2020-03-25 02:11] mrinaldhillon commented on #5488
@rhatdan @giuseppe --cgroups=none is relevant for commands like podman run. Why cgroups are checked for podman info command?

[2020-03-25 02:30] Noah-Huppert commented on #4648
Thanks @giuseppe I was literally just building crun and ran into the same problem. Working on building a package to install for crun on my distro now.

[2020-03-25 02:35] xcffl opened #5605 "Use `--new` flag when generating systemd units for containers in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

According to https://github.com/containers/libpod/pull/4861, we should not create cgroup under systemd. Otherwise there will be
[code]
and the pod will keep restarting forever.

Also, new functions such as `podman auto-update` only works for containers with `--new`.

I don't see any reaso

[2020-03-25 03:34] Noah-Huppert commented on #4648
@vrothberg I just tried using podman rootless with crun, no change:

[code]
[code]
[code]
[code]

[2020-03-25 08:56] chengkuangan commented on #4056
I am using Docker, I do this in my Dockerfile. I do a build for go and libpod from scratch during docker build and also set the events_logger to file. The error gone away. But I have another issue similar to [this reported issue](https://github.com/containers/libpod/issues/4131).

RUN sed -i 's/# events_logger = "journald"/events_logger = "file"/g' $GOPATH/src/github.com/containers/libpod/libpod.c

[2020-03-25 09:15] #5600 closed

[2020-03-25 09:17] dependabot-preview[bot] opened #5606 "Dependabot wasn't able to update github.com/etcd-io/bbolt"
The module path `github.com/etcd-io/bbolt` found in your `/go.mod` doesn't match the actual path `go.etcd.io/bbolt` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `go.etcd.io/bbolt` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/27464392).

[2020-03-25 09:46] giuseppe commented on #5488
OCI runtimes workaround cgroup v1 delegation it by mounting only the container subtree but still `/proc/self/mountinfo` shows the full path.

The first attempt I'd do is to try running the container with a cgroup namespace (--cgroupns=private) and see if it makes any difference.

[2020-03-25 09:49] giuseppe commented on #5488
...and k8s doesn't support to specify cgroupns.

So you might need some sort of wrapper around podman for doing that.

The good news is that cgroup v2 support for k8s will default to create a new cgroup namespace.

That is the first part of the problem though, the second one is that you still need CAP_SETUID/CAP_SETGID for your container.

[2020-03-25 10:14] sandorex opened #5608 "Sharing images between rootless and root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Sharing between root and rootless podman requires running
[code]
Could a feature be added so that they share images or allow pull between rootless and root like
[code]
If pull/push approach has security issues then only root should be able to pull/push images

[2020-03-25 10:42] #5303 closed

[2020-03-25 11:23] vrothberg commented on #5605
Please open one issue per bug/request. Otherwise, it's hard to track them.

This should already fixed as we're not creating cgroups for conmon anymore.

Well, we're always welcoming contributions!

It's on the todo-list but does not have a high priority at the moment. Similar to what we're doing for containers with the --cidfile, we need a --podidfile and --pidfile for podman-create to save the po

[2020-03-25 11:55] xcffl commented on #5605
Well #4861 's approach only works for containers but not pods, because it made it by appending an parameter to the generated systemd file, which will not be appended when generating systemd service for pods:

https://github.com/containers/libpod/blob/45e7cbfef65d0379af19264c5fa90e1ae9ccb74a/pkg/systemd/generate/systemdgen.go#L174

Well it's actually derived from https://github.com/containers/libpo

[2020-03-25 12:20] rhatdan commented on #4056
Currently this requires a privileged container and it requires you to mount a different volume on /var/lib/containers/

[2020-03-25 12:42] vrothberg commented on #5565
@loibpet, am I reading the issue correctly that you want `podman push bakery/baseimages/ubi7/ubi:test` to resolve to `myregistry.mycompany.com/bakery/baseimages/ubi7/ubi:test`?

[2020-03-25 12:44] loibpet commented on #5565
Yes. This is exactly the behavior from docker

[2020-03-25 12:46] rhatdan commented on #5608
Most likely not, we have talked about this in the past  But there are issues with a rootless user sharing content with root. Mainly because the rootless user has the images stored with UIDs based on it's user namespace.  The root user has this based on root.  If  a rootless user attempted to look at a root image, all of the undefined UIDs in the image would look like -1, to the container.

The is

[2020-03-25 12:47] vrothberg commented on #5565
Thanks!

Currently, Podman and Buildah only consult use the search registries in `registries.conf` for pulling while pushing will normalize unqualified image names to `docker.io/{library}`.

I don't think we can change that behavior without breaking existing users who already rely on the current behavior.

@rhatdan, can you weigh in?

[2020-03-25 12:57] loibpet commented on #5565
So, you:

- Break the compatibility to `docker`
- Avoid the usage of own repositories as needed in secured and regulated entities; our regulations make it next to impossible to use source-to-image:
   - we are required to pre-fill our container with the complete software stack
   - run through a formal acceptance with these pre-filled container
   - run in production only these formally accpted co

[2020-03-25 13:08] vrothberg commented on #5565
The Docker we are talking about is a fork and not a vanilla Docker-ce.

Why not specify the full reference (i.e., `myregistry.mycompany.com/bakery/baseimages/ubi7/ubi:test`)? Podman is not blocking anybody from doing anything.

To be clear, only `podman pull` will iterate over the search registries and attempt to pull in the specified order. Note that only happens for short image names (or unquali

[2020-03-25 13:49] rhatdan commented on #5565
Correct registries.conf is only supposed to be used for shorname expansion. If the image is stored in container storage, it will be fully specified, if you push the image without a destination, then it will attempt to push to the fully specified image registry name specified n containre/storage.  If you want to push it somewhere else, then you need to specify a destination.

[2020-03-25 14:07] loibpet commented on #5565
So, I would have to tag my image accordingly, i.e. adding the registry to the tag. Correct?

Then, I have the issue that any regular user being able to access my pipeline or run the `podman` command on the command line can define the registry as they want to. However, modifying the `registries.conf` has the advantage that it requires a system administrator to perform this task, i.e. the regular us

[2020-03-25 14:12] rhatdan commented on #5565
Currently we don't enforce where images are being pushed, although maybe blocked will stop you from pushing to certain registries.
Is your goal to prevent malicious users or accidental users.  Malicious users are very difficult to control if you give them access to the low level tools like podman and skopeo.

[2020-03-25 14:13] vrothberg commented on #5565
Yes. Tagging would work. In case you want to push multiple images from A to B, I highly recommend having a look at `skopeo-sync`; it's meant for exactly this use case.

If you want to prevent users from accessing registries, you can specify them in the `registries.conf` as blocked. They will not be able to push/pull to these registries.

[2020-03-25 15:30] cevich commented on #5278
Yes, but it is (unfortunately) less than reliable because of ambiguity in both the definition of a "release" and inconsistent human behaviors WRT order of push operations and commits.

Ref: https://cirrus-ci.org/guide/writing-tasks/#environment-variables

* The env. var. `$CIRRUS_TAG` will be set if the currently executing run was triggered because someone pushed a new or updated tag.  The `$CIRRU

[2020-03-25 15:41] cfelder opened #5609 "Honour network settings in podman play/generate kube"
/kind feature

**Description**

I am uncertain whether the kube yaml standard supports network settings.

Either ``podman play kube`` should honour network settings, e.g. ``--network`` or the generated yaml file using ``podman generate kube`` should take into account network settings for pods and/or containers.

As far as I can see in #5241 network opts have been added to ``podman pod create`` but

[2020-03-25 16:18] tylarb commented on #5464
I'm running podman 1.8.2 on Manjaro, but don't see any meaningful IO. iotop doesn't show much for podman. @miquecg  can you provide a copy of your iotop output for clarity?

I took a look at the strace. It would be great if you could get a new strace with more details - use the following flags:  `strace -fvttTyyx -s 4096 -o /tmp/strace.txt command` or with PID: `strace -fvttTyyx -s 4096 -o /tmp/st

[2020-03-25 16:39] christianh814 opened #5610 "Podman play kube does not bind ports to localhost"
/kind bug

Given the following pod manifest...

[code]

produces the following output when running `podman play kube mypod.yaml `

[code]

Here is my version

[code]

Here is my os

[code]

[2020-03-25 16:47] miquecg commented on #5464
@tylarb Thanks for taking a look on this. I'll let you know whenever I have access to the machine where I had the issue.

Hard drive is SATA with LVM and some partitions but I cannot provide more info without looking at it.

Probably is what you suggest, some system configuration or hardware condition is causing the issue.

[2020-03-25 17:12] rhatdan commented on #5610
@kunalkushwaha @sujil02 Up for grabs.  Or available to anyone else who wants it.

[2020-03-25 17:21] rhatdan commented on #5302
Ok so most likely standard out/error is sending some non printable characters, which is causing us to have an end log line.  Perhaps a null embedded in the output?

[2020-03-25 17:25] giuseppe commented on #5610
`getPodPorts` needs to make sure the Protocol is correctly set.  Also it seems to not manage hostPort set to 0

[2020-03-25 18:20] rhatdan commented on #5609
Interested in opening a PR to fix?

[2020-03-25 19:38] mheon commented on #5584
#5613 to fix

[2020-03-25 19:44] tylarb commented on #5610
@rhatdan  I'll take a stab at this

[2020-03-25 20:50] rhatdan commented on #5610
@tylarb you got it.

[2020-03-26 02:03] Komic commented on #5254
If you don't think a fix is needed sure!

[2020-03-26 02:03] #5254 closed

[2020-03-26 08:01] #5584 closed

[2020-03-26 09:17] #5606 closed

[2020-03-26 09:55] rhatdan commented on #5315
@mheon @espenaf @mccv1r0 Do we know if this is still an issue?

[2020-03-26 09:56] rhatdan commented on #4900
@mheon @giuseppe What should we do with this issue.

[2020-03-26 11:37] giuseppe commented on #4900
I am not 100% sure how to proceed here.  We could use `-v /dev/:/dev/:rslave` for rootless.  It is not ideal and one difference more with root containers but it is the only thing we can do.

[2020-03-26 12:20] rhatdan commented on #4900
Why don't we just tighten it up at least for rootless environments so podman fixes the environment  before launching the OCI Runtime.  Then we could also make a small change to crun to handle it and suggest this as a fix for runc.  @AkihiroSuda WDYT?

[2020-03-26 12:20] rhatdan commented on #4900
This is very likely to be an issue with toolbox correct?

[2020-03-26 13:15] Elegant996 opened #5619 "podman push: 500 Internal Server Error with Harbor"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to push images with podman to Harbor registry created through Bitnami helm chart. Every push is met with `500 Internal Service Error`. Issue does not occur when using Docker to push.

**Steps to reproduce the issue:**

1. Deploy Bitnami Harbor Chart

2. Setup Ingress accordingly

3. Pu

[2020-03-26 13:33] mheon commented on #4900
What are the disadvantages of directly mounting `/dev` and then mounting over where we need to? I'm inclined to do that unless we have a good reason not to.

[2020-03-26 13:41] giuseppe commented on #4900
toolbox is already forcing `-v /dev/:/dev:rslave` so this is not an issue anymore.

one disadvantage I can think of is that a rootless container gets access to `/dev/tty` from the host.  It is not so bad as anyway it doesn't gain more privileges than the unprivileged user, but I'd have preferred if it wasn't not accessible at all.

[2020-03-26 14:02] marusak commented on #5599
och, so after some fun debugging I found reproducer that does not need cockpit in any way.

1. `systemctl enable --now podman.socket`
2. make sure that `podman.service` is inactive
3. create executable file:
[code]
4. `/sudo  ./podman_rep.sh`

See that the last command won't stay around and dies in 5 seconds. If you comment out the first or the middle command, it stays around forever and when you

[2020-03-26 14:09] marusak commented on #5599
@jwhonce or @baude can you please try this if it reproduces for you as well or if it is a very specific timing issue that is happening on my machine. Thanks!

[2020-03-26 14:16] rhatdan commented on #5619
Are you building your own images, if so then maybe the Harbor registry does not support OCI images?

You can build your images with the --format docker and see if the images are accepted then.

podman build --format docker ...

[code]

[2020-03-26 14:17] rhatdan commented on #5619
If this is true,could you contact the Harbor people and ask them to support the standard format?

[2020-03-26 14:19] rhatdan commented on #4900
Well potentially a container could hit the user with a prompt like

Password:

On the tty?  Or potentially listen to tty communications.  Not sure SELinux would do a great job of blocking this or not.

[2020-03-26 14:21] mheon commented on #4900
Can we mask the path and/or mount over it with our own TTY device?

[2020-03-26 14:28] giuseppe commented on #4900
masked paths are applied after all the other mounts so we cannot use here.  We still have our own `/dev/pts` but if a container has `CAP_SYS_ADMIN` (so the issue doesn't apply to most containers) then it is able to umount it.

[2020-03-26 14:28] tylarb commented on #5610
@giuseppe @rhatdan  I've got a few questions.

First, the kubenetes API dictates that "hostPort" need not be defined: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#containerport-v1-core

I would guess this is a bug inside of rootlessport - not setting a hostPort, which is interpreted as "parentPort" in rootlessport, causes it to default to 0, which is clearly invalid in root

[2020-03-26 14:40] ZeronoFreya opened #5621 "How do podman containers make connections and port issues?"
Question 1: not root user cannot create a nginx application with a port number of 80?

So I can only create nginx under root? And I also need PHP and mariadb to support my site, I've tried to reference PHP in nginx's configuration file:
[code]
Check with `nginx -t` and report an error: `nginx: [emerg] host not found in upstream "php" in ...`
But docker works that way

Question 2: How do I create t

[2020-03-26 14:48] giuseppe commented on #5610
@tylarb thanks for working on it.

I think your patch is fine and we could do it in place modifying the existing slice without creating a new one.

About the other issue, we need to map these concepts to Podman.  What happens as root if the hostPort is not defined?

[2020-03-26 14:50] aleks-mariusz commented on #5541
May i ask to review whether this issue should have been closed?

As I had mentioned earlier, #5552 did not seem to address this.. i've worked around it by making sure no connections are being made to the container while it's still starting (on my slow system that takes several minutes so is a wide window for a stray connection to cause rootlessport to end up terminating?
@xcffl i tried to go back

[2020-03-26 14:56] mheon commented on #5610
We have a method for randomly assigning ports for use with `--publish-all` - I wonder if a missing host port acts similar?

[2020-03-26 14:57] mheon commented on #5541
Hm. If #5552 did not resolve this, I can reopen.

[2020-03-26 15:03] mheon commented on #5621
1. Podman, when run without root, has no privileges the user running it does not have. Binding ports under 1024 on Linux is a privileged operation, requiring root (though there is a sysctl to change this - see [here](https://github.com/torvalds/linux/blob/master/Documentation/networking/ip-sysctl.txt#L947)). This is a disadvantage of rootless Podman, which needs to trade off some functionality lik

[2020-03-26 15:09] rhatdan commented on #4900
If your container has CAP_SYS_ADMIN, then we offer little protections.

[2020-03-26 15:12] aleks-mariusz opened #5623 "podman rootless container w/ passed devices reconnecting, results in permission 0000"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am running a rootless container, and passing `--device /dev/vide0` (a v4l device) to `podman run`, the container launches fine (presuming the usb-webcam is plugged in and /dev/vide0 exists), however after some time, if the webcam gets disconnected, /dev/vide0 naturally dissappears on the ho

[2020-03-26 15:16] xcffl commented on #5541
@aleks-mariusz well honestly #5552 has no correlation to my issue AFAIK.
Do you see SELinux complaints as well?
Currently my workaround is to let systemd to manage it. Magically it works. Probably related to different CGroup management to conmon as I addressed in #5605.

[2020-03-26 15:51] tylarb commented on #5610
@giuseppe  I forgot about modifying the existing slice using the index. It's still not as clean as using a pointer but should be sufficient.

As root:
[code]

This also looks to me to be incorrect - `containerPort` should be equivalent to and `expose [port]` in a dockerfile correct? It should not need a container -> hostport mapping.

@mheon  in the current design, if no hostport is specified, the

[2020-03-26 16:41] firefly-serenity opened #5626 "getting error and warning messages when running rootless podman via mpirun on multiple hosts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting rootless containers via mpirun on multiple hosts, the processes finish with the following messages (a lot of them):

time="2020-03-26T16:47:52+01:00" level=warning msg="no such directory for freezer.state"
ERRO[1198] unable to close namespace: "close /proc/39696/ns/user: bad fil

[2020-03-26 17:01] rhatdan opened #5628 "podman running kata containers is not cleanup up correctly."
[code]

[2020-03-26 17:05] TomSweeneyRedHat commented on #5628
just curious, does `buildah containers` show anything or `podman ps -a`?

[2020-03-26 17:09] rhatdan commented on #5626
@giuseppe PTAL
This looks like it is trying to use cgroups on a rootless environment

[2020-03-26 17:59] #5366 closed

[2020-03-26 18:09] mheon commented on #5610
I think we can't leave it as 0... If `containerPort` is set, setting `hostPort` to the same thing seems appropriate?

[2020-03-26 18:12] mheon commented on #5626
`  CgroupVersion: v1`

Info says we aren't in unified mode, so we shouldn't be.

The closed namespace makes me very concerned, though - something might be cleaning up/removing our containers before we get a chance to, which might impact lifecycle.

[2020-03-26 18:13] mheon commented on #5628
Why are you specifying full path to `--runtime`? Why not `--runtime=kata`? I think our default configuration file includes it now...

IMO, NOTABUG, `--runtime=FULL-PATH` is reserved for CI only.

[2020-03-26 18:47] tylarb commented on #5610
@mheon I don't think that's correct, from a kubernetes pod or podman pod perspective.

In the Kubernetes API, if hostPort is unset, the container does not get a port on the host. This behavior should be the same here.

I should be able to define this spec:

[code]

In this case, my app (and any helper apps) can access the DB at 5432, and serve data on the _host_ at 8080, internally inside the pod

[2020-03-26 19:05] mheon commented on #5610
In that case, I don't know if we should be adding these ports to the Podman pod spec - Podman ports are exclusively host:container mappings. The expectation would be that apps connect to each other over localhost using the `containerPort`-only mappings, which does not require any intervention on our part.

[2020-03-26 19:07] tylarb commented on #5610
I would expect that, in the context of Podman, "containerPort" should function like an additional "expose" flag, and "hostPort" should work like a "publish" flag. The above example, not adding to pods but just the containers:

[code]
etc...

[2020-03-26 19:08] tylarb commented on #5610
The expose should be a no-op if the same port is already exposed in the Dockerfile though.

[2020-03-26 19:09] mheon commented on #5610
For reference, `--expose` does nothing without `--publish-all` and we do not support `--publish-all` with pods (as of yet, at least)

[2020-03-26 19:10] tylarb commented on #5610
Ah. So this is different behavior than docker? You must expose a port for a server to bind/be accessible, even inside of the container engine, at least as I recall.

This is not the same in podman? I don't need to expose a port for it to be accessible by a service inside the same pod?

[2020-03-26 19:14] mheon commented on #5610
Pods are sharing their network namespace, so they can access anything bound by another service in the pod via ports bound to localhost without any `--expose` flag being used. We use `--expose` for `podman commit` (adds a port to the committed image) and `podman run --publish-all` (make all ports in `--expose` and the image public, at randomly-assigned port numbers on the host.)

[2020-03-26 19:36] tylarb commented on #5610
@mheon thanks so much for the clarification.

In my mind then, the behavior I would expect is as follows:

- containerPort (only) does nothing in a podman context, or is informational. This is line with usage in Kubernetes. https://github.com/kubernetes/kubernetes/issues/4332

- hostPort (only) acts like a publish [hostPort]:[hostPort]

- containerPort + hostPort works like it does in kubernetes,

[2020-03-26 19:37] mheon commented on #5610
Agree on all points - this sounds correct

[2020-03-26 22:53] refi64 opened #5631 "podman hangs for an extended period of time when accessing container storage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I attempt to run any podman command that accesses container storage, it hangs for several minutes before running.

**Steps to reproduce the issue:**

1. `podman images`

2. Wait for a while...

3. Keep waiting...

**Describe the results you received:**

It took a long time.

**Describe t

[2020-03-26 23:22] mheon commented on #5631
@nalind PTAL

[2020-03-27 00:45] bbros-dev opened #5633 "update-grub /usr/sbin/grub-probe: error: failed to get canonical path of /dev/mapper/<Host LVM2 Volume>"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Grub update fails in podman container run from Host where Host `/` is a LVM2 volume group.

**Steps to reproduce the issue:**

1. Start the container:

[code]

2. Inside the container run `update-grub`

[code]
3. The `/dev/mapper/...` is a Host detail:

[code]

**Describe the results you rece

[2020-03-27 02:14] Elegant996 commented on #5619
That worked, I'll need to prune the old images as rebuilding them does not appear to generate the new manifest (easy fix). I will open an issue with `goharbor` and cite this one as the cause is definitely related to the oci manifest. Thanks!

[2020-03-27 07:59] firefly-serenity commented on #5626
To add some more info about it. There are exactly 24 ERRO messages, which matches the number of processes (aka containers) started on each node. All the messages combined:

[code]

[2020-03-27 08:34] vrothberg commented on #5631
@refi64, can you reproduce consistently or does it appear at seemingly random times?

[2020-03-27 09:17] giuseppe commented on #5626
the error is raised by runc.  I could reproduce locally and it doesn't happen with crun.

This one is from Podman but I am unable to reproduce, do you get the same error if run podman manually without using `mpirun`?

[2020-03-27 10:12] abitrolly opened #5637 "podman build: Inspect output of RUN command"
/kind feature

I am unable to troubleshoot RUN issues during `podman build .`. There is no `--verbose` option to show output from the container. For `docker` there is an `--progress plain` option that is said to provide this functionality https://docs.docker.com/engine/reference/commandline/build/

**Output of `podman version`:**
[code]

[2020-03-27 10:18] abitrolly commented on #5637
Oops. My command in RUN failed to produce the output. `podman build .` does show the output.

[2020-03-27 10:18] #5637 closed

[2020-03-27 10:27] rhatdan commented on #5628
podman run -ti --runtime=kata --rm  fedora echo hello
Error: error creating libpod runtime: default OCI runtime "kata" not found: invalid argument

[2020-03-27 10:28] rhatdan commented on #5628
Anyways this error went away, since I think something was screwed up.

[2020-03-27 10:31] NMi-ru commented on #4323
Nope. 4tables contains only default "CNI firewall plugin rules" for 10.88/16, ip6tables is empty.

I've managed to implement a fix using xinetd binding to specific ipv6 address + "redirect = 127.0.0.1 443".

[2020-03-27 14:07] mheon commented on #5628
The root `libpod.conf` we ship by default includes the runtimes:

[code]

Containers.conf includes only one of these (`kata`) - https://github.com/containers/common/blob/master/pkg/config/containers.conf#L372-L379

[2020-03-27 14:14] ZeronoFreya commented on #5621
@mheon Thank you for your reply. In addition, if pod is not used, how can containers contact each other?
I see podman support for creating a network, but after I add a container (like Nginx) to the network, the browser can't access the container?
[code]

[2020-03-27 14:16] mheon commented on #5621
Networks created as root can only be used by root Podman - we should probably improve documentation about this. I would also expect that `podman run` would error when you tried the command; does it?

[2020-03-27 15:52] rj-gp commented on #4530
I also make use of network aliases when creating containers with a network. And I also have no idea how to workaround this with podman. I thought I could do the following:
1. create containers (podman create)
2. podman cp containers:/etc/hosts to someplace
3. edit these container /etc/hosts files with appropriate aliases, then copy them back into the containers, and then start the containers

Howe

[2020-03-27 16:02] mheon commented on #4530
The copy workflow isn't really supported with Podman (it looks like Docker does not handle that file as a bind mount, while we do - so the file in the container when it's not running will be mounted over even if changed). I think that launching the container once and editing `/etc/hosts` within the container would work, though - would that be sufficient?

[2020-03-27 16:07] mheon commented on #4530
Ahhh, nevermind - it looks like we recreate `/etc/hosts` for each run of the container, to account for changing internal IPs. Hmm.

[2020-03-27 16:10] mccv1r0 commented on #5315
We don't allow remote machines to access podman by design.  As part of determining what would be needed to allow remote access, on rel8 @mheon @baude and I tested that this works (and I did on fedora 30) we verified that access from the local system `curl http://localhost:8080` worked.  If there is a problem, it's probably release specific.

[2020-03-27 16:13] rhatdan commented on #5325
@cevich What is going on with this?

[2020-03-27 16:26] rj-gp commented on #4530
Being a podman newby I thought I was most likely missing out on something obvious on a better way to handle a network alias. But then I discovered this RFE and after reading the comments I am apparently not missing out.

[2020-03-27 16:32] mheon commented on #4530
We could potentially do this as part of the more-general aliases code I want to add, but that could be a way off, given our current focus on the new HTTP API

[2020-03-27 16:39] mccv1r0 commented on #5315
I've been able to reproduce this on fedora 30.

When `--network`is not the default network, CNI `portmap` plugin isn't supplied anything.  Put another way, -`-p 8080:8080` is supplied to the CNI `portmap`only for the default network, either when explicitly set via `--network` or not.  Using `--network=foo`results in CNI isn't supplied anyting.

I have only tested with `--network` omitted, `--netwo

[2020-03-28 01:46] wdouglascampbell opened #5646 "running podman rootless fails to allow port binding to multiple host IP addresses"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman rootless prevents binding port to multiple host IP addresses.

1.  Allow non-root access to privileged ports

```echo 0 | sudo tee /proc/sys/net/ipv4/ip_unprivileged_port_start```

2.  Run nginx container using podman

```podman run -d -p 172.16.2.203:80:80 -p 172.16.2.204:80:8

[2020-03-28 02:05] Aisuko commented on #4364
I hit the same issue, Is there any update for this issue?

[2020-03-28 04:31] ahmetb commented on #4364
I won't be able to provide a PR, I am hoping maintainers can jump in.

[2020-03-28 09:28] ZeronoFreya commented on #5621
@mheon  Okay, I'm already running podman as root, but how do I communicate between containers? If I can't do that, I'll have to go back to docker. At least, it's easy. Finally, let me say thank you.

[2020-03-28 15:03] edsantiago commented on #4020
Regression: this is back. I don't know if it's podman, conmon, runc, or something else:

|  tool  | works | hangs |
| --- | --- | --- |
| podman | 1.7.0-3.fc30 | 1.8.0-4.fc30 |
| conmon | 2.0.2-1.fc30 | 2.0.13-1.fc30 |
| runc | 1.0.0-95.rc9.gitc1485a1.fc30 | 1.0.0-102.dev.gitdc9208a.fc30 |

Bizarrely, I dnf-upgraded the 'works' system to match all the versions in 'hangs' --- and everything still w

[2020-03-28 15:52] TomSweeneyRedHat commented on #4364
Clarified (hopefully) in https://github.com/containers/podman.io/pull/210

[2020-03-28 17:56] jmou opened #5648 "Published port "connection refused" permanently if connected before listening"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have been having this issue for a while and finally found an isolated reproduction. In certain situations, a published port may refuse connections until the container is restarted, even if there is a container process listening. This appears to happen if connections are attempted to the por

[2020-03-28 22:35] cryobry opened #5650 "--systemd=always not starting container with systemd support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers started using `--systemd=always` do not appear to init with systemd.

**Steps to reproduce the issue:**

1. Run container: `podman run --rm -it --systemd=always fedora:latest /bin/bash`

2. Run a systemctl command in the container: `systemctl daemon-reload`

**Describe the results

[2020-03-29 01:15] jayaddison commented on #5296
Seconding @jcassee's report here that this conflict is reproducible when both the upstream [kubernetes.io apt source (xenial)](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl) and [kubic apt source (eoan)](https://software.opensuse.org/download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman) are enabl

[2020-03-29 06:29] kermorgant opened #5651 "hostname for container gateway"
/kind feature

**Description**

Provide a dns entry to containers pointing to their gateway.

Context : as a developer, one of my setup involves a service running on the host machine, that should be proxied by nginx running in a container.

**Describe the results you received:**

I could make it work by writing the container's static gateway ip in nginx's config.

**Describe the results you expect

[2020-03-29 09:05] Klaas- commented on #5335
this also happens on a current rhel8

[2020-03-29 09:17] Klaas- commented on #5335
There is a kbase article already but no bz or link to this issue: https://access.redhat.com/solutions/4859291

[2020-03-29 10:05] redbaron commented on #5046
It was resolved in https://github.com/containers/conmon/pull/131 ,fix is in conman >= 2.0.14

[2020-03-29 10:10] jtudelag commented on #4910
Hey @vrothberg, this is happening again in F31 with podman 1.8.1....
[code]

[2020-03-29 10:12] rhatdan commented on #5650
--systemd=always does not effect the entrypoint or the cmd that is run by the container.  If just sets up the environment in a way that systemd could run.
Usually this is used for debugging purposes.  You could run bash and look around then when happy execute `exec /sbin/init`

[2020-03-29 10:12] #5650 closed

[2020-03-29 10:17] rhatdan commented on #5316
@lsm5 Reping

[2020-03-29 10:18] rhatdan commented on #5309
@daiaji I take it this is fixed, or works for you.

[2020-03-29 10:18] #5309 closed

[2020-03-29 10:24] #5046 closed

[2020-03-29 13:18] jayaddison commented on #5631
@vrothberg Using https://github.com/jayaddison/grocy-docker/tree/b78b1810ff159e583a8770694305e2e5472ddb76 results in some kind of blocked-process condition during `podman play kube grocy.yaml` under the following local working environment:

[code]

Local images can be built from a copy of this tree by running:

[code]

The stall-point doesn't seem consistent between playthroughs; roughly speaking

[2020-03-29 13:24] jayaddison commented on #5631
(and to add context and clarify my previous comment: the aforementioned stalled process condition is reliably reproducible, and *sometimes* occurs following an `openat` operations on `.local/share/containers/storage/overlay**/*.lock` files; the system calls prior to the stall seem inconsistent so there may be a race condition involved)

[2020-03-29 13:57] mheon commented on #5651
Simplest way to do this would likely be to add it to/etc/hosts on
generation - we know the container's IP and gateway at that point.

On Sun, Mar 29, 2020, 02:30 Mikael Kermorgant <notifications@github.com>
wrote:

[2020-03-29 15:30] niklas88 commented on #4530
Just wanted to add my two cents in saying that I too think this feature is really important and worthwhile. For me it is the one major `podman` difference that drives me to use `docker` instead, even though I really prefer `podman`s simplicity and daemon less design. Over at my friends `gantry` project this is also the one thing stopping `podman` support
https://github.com/ad-freiburg/gantry/issue

[2020-03-29 15:55] disaster123 commented on #4530
+1

[2020-03-29 16:06] aranw commented on #4511
@cevich I was wondering whether there are any updates on this. The macOS version installed via homebrew is at 1.6.0 and I believe some of the features I'm interested in using are only available in 1.7 or 1.8

If there is no progress made on this is there install instructions somewhere for building podman locally to get the latest version?

[2020-03-29 17:14] jayaddison commented on #5631
Removing the `volumes` and `volumeMounts` configuration keys from the source YAML allows the containers to start, and that seems to confirm the notion that this issue is storage-access-related.

[2020-03-29 17:23] jayaddison commented on #5631
Note that https://github.com/jayaddison/grocy-docker/blob/b78b1810ff159e583a8770694305e2e5472ddb76/grocy.yaml#L44-L49 contains multiple `tmpfs` mounts.

Reducing this to a single mount entry removes the hang condition and allows the `kubectl play kube` process to complete and the containers (and pod) to start.

[2020-03-29 17:53] jayaddison commented on #5631
Is it possible this line has something to do with the issue?

https://github.com/containers/libpod/blob/v1.8.2/pkg/adapter/pods.go#L689

To a naive reading (I'm not hugely familiar with Go) it looks like that could lead to the [three named mounts](https://github.com/jayaddison/grocy-docker/blob/b78b1810ff159e583a8770694305e2e5472ddb76/grocy.yaml#L44-L49) collapsing down to a single key under `volu

[2020-03-29 17:58] nileshgr opened #5652 "podman stats crash with network mode host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman panics / crashes with segfault when one pod is running and podman pod stats or podman stats is run when pod is in host network mode

**Steps to reproduce the issue:**

1. podman pod create --network host -n test

2. podman run -it --rm --pod test centos:8 /bin/bash

3. podman pod stats

[2020-03-29 18:05] jayaddison commented on #5631
Confirmed: after providing unique distinguishing `name` values for the three mounts, the problem is successfully worked-around and the `kubectl play kube` step succeeds.

[2020-03-29 18:28] afbjorklund commented on #4511
I added a brew  "formula" (source) [above](https://github.com/containers/libpod/issues/4511#issuecomment-570891830) , if someone is interested in getting in included in Homebrew instead of the "cask" (binary)... ? But gave up on the download links or releases, and made my own.

https://github.com/boot2podman/machine#podman-remote

[2020-03-29 19:42] refi64 commented on #5631
@vrothberg I can reproduce it entirely consistently, as in, every single call that accesses the storage reproduces the issue across multiple reboots :sweat_smile:

[2020-03-29 19:46] AlbanBedel opened #5653 "Empty environment in poststop hooks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The environment is empty when poststop hooks run. Not even PATH is set which prevent many tools from working properly.

**Steps to reproduce the issue:**

1. Create a hook that write its environment to a temp file:
[code]

2. Register it as prestart and poststop hook:
[code]
3. Run a containe

[2020-03-29 20:55] jayaddison commented on #5631
Reading back on the original issue report here, it sounds like the problem I'm experiencing is fairly different.

I'll create a separate issue to track what I now understand regarding the issue concerning mountpoints & volume names.

[2020-03-29 21:13] jayaddison opened #5654 "podman play kube: duplicate volume names lead to stalled process"
/kind bug

**Description**
While working from a `git checkout` of https://github.com/jayaddison/grocy-docker/tree/b78b1810ff159e583a8770694305e2e5472ddb76, the `podman play kube grocy.yaml` results in a blocked-process condition.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
The `podman` process stalls without producing any output to stdout.

**Describe the resu

[2020-03-30 01:51] xcffl commented on #5621
Inter container communication is done via 127.0.0.1 if they are in a pod. Inter pod communication is done via 10.0.2.3 (rootless, in root mode should be found via `ip a`, conmon interface).

You can also use host networking, especially suitable for ingress reverse proxy. That way, the reverse proxy can find other pods via 127.0.0.1.

Besides, you should stick with root or rootless mode rather than

[2020-03-30 02:30] mheon commented on #5621
@ZeronoFreya Assuming the `dnsname` plugin for CNI is installed (it should be a dependency on most distributions) you can look up other containers via their names, as Docker does. From there, communications works exactly as it does between any two hosts; each container has an IP address, and you can connect between them without issue. You could also assign them static IPs to avoid name lookup.

[2020-03-30 02:35] mheon commented on #5654
My initial inclination would be that passing volumes with duplicate names sounds like a mistake on the user's part, so we should trap it early and inform the user that they need to fix their YAML. Or is this something that Kubernetes allows, so we'll have to handle?

[2020-03-30 02:44] marcfiu commented on #2669
I am trying to champion podman over docker; however, colleagues use "docker save" to air gap images to a docker-archive tarball.  This translates into "podman" not being a drop-in replacement "docker", which is suboptimal.  At the least, "podman save" should error out indicating "**can't do multiple images**" rather than silently succeeding with something that is simply not equivalent to "docker s

[2020-03-30 04:11] mrinaldhillon commented on #5488
@giuseppe why podman info command needs to check cgroup ownership ? shouldn't cgroup ownership be checked when running containers. This commit seems to be relevant for running containers and not podman configurations. [afd0818326aa37f03a3bc74f0269a06a403db16d](https://github.com/containers/libpod/commit/afd0818326aa37f03a3bc74f0269a06a403db16d)

Following is error for podman info
[code]

[2020-03-30 07:59] vrothberg commented on #2669
Thanks for the feedback, @marcfiu! Throwing an error is definitely better.

[2020-03-30 08:02] vrothberg commented on #4910
Thanks for reaching out again, @jtudelag! We have a new issue with the same symptoms (https://github.com/containers/libpod/issues/5631). Let's chat over there.

[2020-03-30 08:13] darix opened #5658 "Allow fallthrough to non systemd cgroup if no systemd is found"
we run podman in our build environment to build containers. the build enviroment does not run systemd. since the upgrade to 1.8.2 the fallback to a non systemd cgroup manager is broken again.

This is the 2nd time that this regression happens. Could there be a test case added to make sure this gets noticed before a release?

[code]

The podman call is sadly not visible in our build log output but

[2020-03-30 08:22] jtudelag commented on #5631
Hey! In my case I have seen the same behaviour for a couple of days, but after some time,
It disappeared...and I can't reproduce it anymore from now.

[code]

[code]

[2020-03-30 08:35] vrothberg commented on #2669
I opened https://github.com/containers/libpod/pull/5659 to address your feedback. Note that I didn't error out but log when more than one argument is passed as I don't want others to regress on the current behavior.

[2020-03-30 08:39] vrothberg commented on #5631
@giuseppe, could this be fuse-overlayfs? I have `v0.7.8` on my machine.

[2020-03-30 08:40] vrothberg commented on #5631
@giuseppe, could this be fuse-overlayfs? I have `v0.7.8` on my machine.

[2020-03-30 09:27] giuseppe commented on #5658
thanks for the report.

Can you please give more details about your environment?  Are you running as rootless?  Are you on cgroup v2?

[2020-03-30 09:44] dependabot-preview[bot] opened #5660 "Dependabot wasn't able to update github.com/etcd-io/bbolt"
The module path `github.com/etcd-io/bbolt` found in your `/go.mod` doesn't match the actual path `go.etcd.io/bbolt` found in the dependency's `go.mod`.

Updating the module path in your `go.mod` to `go.etcd.io/bbolt` should resolve this issue.

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/27926354).

[2020-03-30 10:26] jjtt commented on #5419
I hope https://github.com/containers/libpod/issues/5046 solved this one also, but haven't tested

[2020-03-30 10:28] giuseppe commented on #5488
agreed, this error should not be fatal.  I've opened a PR to address it.

Could you give it a try?

[2020-03-30 10:38] rhatdan commented on #5351
@astronouth7303 Please provide the entire command you are seeing this with?  And are you using the latest podman comand?

[2020-03-30 10:38] rhatdan commented on #5350
@giuseppe Did you ever get a chance to look at this?

[2020-03-30 10:55] reenberg commented on #3651
@rhatdan, I kind of disagree with this being a configuration issue of the container.  That change of `pam_loginuid.so` from required to optional is a workaround.

However I wonder if that workaround could impose a security issue in some way?  Anyways, the root cause should really be fixed instead.

Unless I have totally misunderstood something, then this bug has been reported in Debian ([726661](h

[2020-03-30 11:09] giuseppe commented on #5350
I think this can be fixed by: https://github.com/containers/libpod/commit/647dc33e1ad967ade50d803816366a2a944691de

[2020-03-30 13:25] edsantiago opened #5665 "binding tests: please fix flakes"
"special_test_bindings" is frequently failing in CI:
* [Podman system](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/6224214306848768/html/integration_test.log.html) fails with "Expected 2 to be 3"
* containers_test fails with `panic: send on closed channel` [example 1](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/contain

[2020-03-30 13:29] vrothberg commented on #5665
I can have a look with a fresh pair of eyes tomorrow; unless somebody picks up until then.

Thanks for providing logs, Ed!

[2020-03-30 13:37] astronouth7303 commented on #5351
The entire command is at the top.

I was using the latest at the time I filed this bug. I know you've had a release since then. I haven't retested.

[2020-03-30 13:43] mheon commented on #5351
Can't reproduce locally - seems to be working fine over here. If you can still reproduce, adding a `--log-level=debug` to the command and pasting the output would probably help.

[2020-03-30 13:43] Klaas- commented on #5335
https://github.com/containers/libpod/pull/5348 is this the fix for this issue?

[2020-03-30 13:48] mheon commented on #5335
Yes. This should be closed, as such.

[2020-03-30 13:48] #5335 closed

[2020-03-30 13:59] rj-gp commented on #4530
I agree with @niklas88 in that any name clash issues are the users issue/fault.
This shouldn't be podman's job to "coddle" us users.

[2020-03-30 13:59] #5660 closed

[2020-03-30 14:18] giuseppe commented on #5631
`podman images` should not mount any image

are there other podman processes running?

[2020-03-30 14:25] rhatdan commented on #5419
Ok reopen if it has not.

[2020-03-30 14:25] #5419 closed

[2020-03-30 14:38] jayaddison commented on #5654
@mheon Although this is a slightly indirect answer, I do currently believe that mounting a single named-volume at multiple volume mounts is supported by Kubernetes.

This is my initial understanding after having discovered [current Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath) that explains the `subPath` option on volume mounts.  That documentation i

[2020-03-30 14:40] haircommander commented on #4020
oddly, the conmon version in that CI run is 2.0.3 (according to the podman info tests). I have also run

I ran manually, and wasn't able to hit it with conmon 2.0.13 and podman 1.7.0, so I think this has to do with the exec rework and not conmon

[2020-03-30 14:44] edsantiago opened #5666 "Regression: podman exec --preserve-fds: hangs"
Similar to #4020 but opening as new issue because I have no idea where the root cause is. CI is failing with hangs in the --preserve-fds test. When I tried to reproduce, I got:

|  tool  | works | hangs |
| --- | --- | --- |
| podman | 1.7.0-3.fc30 | 1.8.0-4.fc30 |
| conmon | 2.0.2-1.fc30 | 2.0.13-1.fc30 |
| runc | 1.0.0-95.rc9.gitc1485a1.fc30 | 1.0.0-102.dev.gitdc9208a.fc30 |

Bizarrely, I dnf-up

[2020-03-30 14:44] edsantiago commented on #4020
Thanks for looking, @haircommander. I've filed new issue #5666 and will close this one.

[2020-03-30 14:44] #4020 closed

[2020-03-30 14:51] mheon commented on #5654
This isn't a volume, though, but a `volumeMount` - they're very different, AFAIK (volumes are fully managed, `volumeMount` is a simple bind mount from host to container). I agree that volumes should be allowed to be mounted at multiple points; I'm less convinced about volume mounts.

Hmmm... @haircommander Looking at the full description, Name in a volume mount only points to volumes, which we don

[2020-03-30 15:18] haircommander commented on #5654
@mheon to answer your thought, in kubernetes, `volumes` are a generic structure of "here's some data to mount into the container". volumeMount is the interface for a user to specify a volume (specified by name) should be mounted into a container. I.e. they reference the same thing, but from a different perspective. The `name` field needs to match from volumeMount to Volume, which tells the manager

[2020-03-30 15:39] lsm5 commented on #5316
I'll add this..

[2020-03-30 15:50] #5488 closed

[2020-03-30 16:03] lsm5 commented on #5316
added to rawhide https://koji.fedoraproject.org/koji/taskinfo?taskID=42876942

[2020-03-30 16:34] edsantiago opened #5668 "CI: can we get a new conmon?"
CI is still flaking with "timed out waiting for file" (#5339): [example from 2020-03-30](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/4841949664378880/html/system_test.log.html).

This is apparently fixed in [conmon PR 128](https://github.com/containers/conmon/pull/128) which, if I read logs correctly, made it into conmon 2.0.13; the failed log above

[2020-03-30 16:36] edsantiago commented on #5666
Another flake: PR 5667, [ubuntu-18 remote](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5686374594510848/html/integration_test.log.html)

[2020-03-30 17:51] tylarb commented on #5646
@wdouglascampbell  the error message is returned as part of rootlessport.

Can you verify if this behavior exists when running under root?

The check is here:

[code]

So I think the check is actually that you're using the same child port - 80 is used twice as a child port, hence your second example - mapping 80 to 80 on one container and 80 to 8080 on another container/IP works.

I can probably t

[2020-03-30 17:54] mheon commented on #5646
We confirmed on IRC earlier that this does not affect Podman as root - CNI is able to handle the multiple IP addresses properly.

This seems like a bug/feature request for rootlessport - I'm not sufficiently familiar with the constraints there to know if it's possible. @AkihiroSuda thoughts?

[2020-03-30 17:55] rhatdan commented on #5653
@giuseppe Could you take a look at this?

[2020-03-30 18:11] AkihiroSuda commented on #5646
https://github.com/rootless-containers/rootlesskit/blob/85b44e75634bb9e33dc7042b3ee1bbb2e52af02e/pkg/port/portutil/portutil.go#L62

Probably we just need to change `if sameProto && (sameParent || sameChild) { return err }` to `if sameProto && sameParent { return err }`.

[2020-03-30 18:16] rhatdan commented on #4530
I think PRs would help to move this along.  Hint, Hint.

[2020-03-30 18:26] gatoniel commented on #3421
Thanks, @ankon . The expected output of `podman unshare cat /proc/self/uid_map` was important for me, too.

On CentOS 8, it seems, one needs to run `podman system migrate` for each user that was added after the Podman installation. If you switch users with `su`, you need to use `su -`. Otherwise some old environment variables of the former user might conflict with the migrate command.

[2020-03-30 18:34] astronouth7303 commented on #5351
This seems to have been cleaned up with Podman 1.8.2/slirp4netns 0.4.3.

[2020-03-30 18:58] rhatdan commented on #5316
Can you add it to F32 as well?

[2020-03-30 19:11] tylarb commented on #5646
I confirmed fix above works. I'll submit PR to rootlesskit.

[2020-03-30 19:15] #5351 closed

[2020-03-30 19:56] darix commented on #5658
we are just calling "podman build" inside a VM.

https://github.com/openSUSE/obs-build/blob/master/build-recipe-docker#L161

(call-podman just does some setup stuff and then calls podman with those same arguments.)

FWIW: in my current failure case it is an openSUSE:Leap:15.1 kernel 4.12.14. The important bit is we **dont** have systemd running. we "boot" into our build script.

@vrothberg knows a

[2020-03-30 20:59] cevich commented on #4511
That's the right thing to do.

Thanks for the reminder.  Yes, I've been up to my eyeballs in this for the last few weeks.  I've made  quite a lot of progress solving the really difficult and security-sensitive challenges I mentioned above (relating to automatic but safe signing/certifying builds).  It ended up requiring some tricky interactions across both the Github and Cirrus-CI GraphQL API's, s

[2020-03-30 21:12] cevich commented on #5668
Yep.  And I see [the docs explaining this](https://github.com/containers/libpod/blob/master/contrib/cirrus/README.md#test_build_cache_images_task-task) need a minor update as well.

[2020-03-30 21:21] AkihiroSuda commented on #5646
Thanks @tylarb , released RootlessKit v0.9.3
https://github.com/rootless-containers/rootlesskit/releases/tag/v0.9.3

I guess the bot in this repo will automatically open PR for vendoring v0.9.3.

[2020-03-30 21:59] lsm5 commented on #5316
yup, will do

[2020-03-31 02:12] jimmyherron commented on #4264
This is still happening in podman 1.6.4

 podman images --log-level=debug
[code]

 podman image rm docker.io/jimmyherron/fairing-job:D0E23388
[code]

ls -aslph /var/lib/containers/storage/overlay-images/216e3f3352127c1d92b42cdc15d46ede6199dd2be511ebe4b1192bf7eca64b19
[code]

sha1sum /var/lib/containers/storage/overlay-images/216e3f3352127c1d92b42cdc15d46ede6199dd2be511ebe4b1192bf7eca64b19/*

[code

[2020-03-31 02:56] lsm5 commented on #5316
https://koji.fedoraproject.org/koji/taskinfo?taskID=42891689

[2020-03-31 03:21] ryudice commented on #4648
I'm having this issue on ubuntu 18.04 as well. Was trying to avoid rootful builds and stumble upon this...

[2020-03-31 04:32] theunrealgeek commented on #4093
I would love to take this on if there is still interest in this feature

[2020-03-31 10:34] nefigtut commented on #4900
afaiu, the issue is not about protection, it is about an ability to start a container. coudn't we provide a switch like `--ignore-unexisting-mounts` for `podman start`, so mounts not existing at the start time are, well, ignored? or `--ignore-unexisting-mounts=usb` so missing `/dev/bus/usb` mounts are ignored.

[2020-03-31 10:49] raukadah opened #5679 "/usr/bin/podman version returning Error: could not get runtime: eventer creation: No support for journald logging"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
On creating podman rpm from libpod master branch using make package-install command then running */usr/bin/podman version* command retruns this error.
Error: could not get runtime: eventer creation: No support for journald logging

**Steps to reproduce the issue:**

1. git clone https://github

[2020-03-31 10:51] aleks-mariusz opened #5680 "image healthchecks not being used (as rootless, user systemd service)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using a container from dockerhub that [has healthchecks defined in it](https://github.com/crazy-max/docker-cloudflared/blob/master/Dockerfile#L69-L70).

The container is a dns proxy (for supporting DNS requests over HTTPS), however at some point, the container stops responding to request

[2020-03-31 11:59] felipeborges commented on #4397
I have podman 1.8.1-dev and I still have the issue.

[2020-03-31 12:02] debarshiray commented on #4397
I have been hitting this too on Fedora 31. I have:
[code]

[2020-03-31 12:06] baude commented on #5679
u need to install systemd-devel

[2020-03-31 12:19] vrothberg commented on #5679
I wonder if something has changed. Didn't we default to a non-systemd backend for events before?

[2020-03-31 12:31] raukadah commented on #5679
@baude systemd-devel is installed on the system.
[code]

[2020-03-31 12:50] baude commented on #5679
was it installed when you built it? also, the spec in the contrib might not have support for systemd-devel yet

[2020-03-31 13:31] giuseppe commented on #4900
that won't be enough, there would still be a race condition: https://github.com/containers/libpod/issues/4900#issuecomment-586997767

[2020-03-31 14:06] larsks opened #5685 "podman failing to honor PATH variable setting in image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `elastic/filebeat:7.6.1` image sets the `PATH` environment variable. When running under Docker this works correct, but when running under Podman, the environment variable is not set as expected.

**Steps to reproduce the issue:**

1. `echo 'echo $PATH' | podman run --rm -i --entrypoint ba

[2020-03-31 14:12] mheon commented on #4093
Feel free!

On Tue, Mar 31, 2020, 00:32 Aditya Kamath <notifications@github.com> wrote:

[2020-03-31 14:14] mheon commented on #5680
@baude PTAL

[2020-03-31 14:26] larsks commented on #5685
Here's a simple reproducer.

Use this Dockerfile:

[code]

Build the image:

[code]

Spawn a shell and look at `$PATH`:

[code]

[2020-03-31 14:39] TomSweeneyRedHat commented on #5685
Thanks for the issue @larsks, I'll take a look a bit later today.

[2020-03-31 14:39] edsantiago commented on #4900
Is that really such a problem? I believe that, at least in the USB case, a user is somewhat likely to be aware of what happens in the window between hitting ENTER and having podman emit that error. "Oops, I unplugged that mouse, I'll try again". With the current situation, the user would have to remember "oh yes, when I first created that container four months and three days ago, I had my USB back

[2020-03-31 14:45] rhatdan commented on #5356
This is still being worked on.

[2020-03-31 14:51] mheon commented on #4900
We already have a number of mount options that are consumed within Libpod (`:z` and `:Z`) - so what if we added another one for mounts that are allowed to be missing? We can tag all device bind mounts for rootless as `:allowmissing` and, when we assemble the final spec, if the mount isn't there we don't include it. There's still a small race here between spec generation and container start, but th

[2020-03-31 14:59] jayaddison commented on #5654
While I'd like to revisit the `kube` functionality in `podman` in future (both generation-of and play-from kube yaml), I've opted to skip this for now and use the 'native' `podman` management commands to perform volume management and sharing instead.  From my point of view this issue is fine to resolve as `wontfix`; apologies for any distraction caused.

[2020-03-31 19:59] #5654 closed

[2020-03-31 21:57] edsantiago opened #5691 "rpm build broken: undefined: iopodman.Create"
Rawhide builds are broken. [[log](https://kojipkgs.fedoraproject.org//work/tasks/2185/42932185/build.log)]:
[code]
[Most recent build](https://koji.fedoraproject.org/koji/taskinfo?taskID=42932116)

[2020-03-31 22:01] #5668 closed

[2020-03-31 23:59] TomSweeneyRedHat commented on #5685
@larsks I'm not seeing this with the latest stable Podman version 1.8.2 on Fedora 31.  I also tried with upstream and didn't see it there.  I think you're running this on Fedora 31 too?  Can I ask where you got that version of Podman from?  Can you confirm if it works for you running rootless and as root?

This is really weird, we'd this problem a while back, like version 1.4 and we fixed, so this

[2020-04-01 00:36] larsks commented on #5360
I can no longer reproduce this behavior.

[2020-04-01 00:36] #5360 closed

[2020-04-01 00:41] larsks commented on #5685
I'm using the `podman` binary from @baude's COPR repository (which is built from `contrib/spec`). `podman version` reports:

[code]

I see the same behavior running as `root` or non-`root`.

[2020-04-01 00:44] larsks commented on #5685
Here's a terminal session reproducing the problem: https://asciinema.org/a/Zcjwu5F5fO89C3eAOXrcBYUUY

[2020-04-01 07:58] raukadah commented on #5679
During build time, it was not getting installed. https://logserver.rdoproject.org/78/5678/f7dda3889cc05d05e387791252254a20c80b5a48/github-check/podman-package-centos-7/5acfea1/job-output.txt
[code]
Message was coming. Right now after applying https://github.com/containers/libpod/pull/5683 this patch, it vanishes, I think we can close this issue.

[2020-04-01 07:59] #5679 closed

[2020-04-01 11:36] rhatdan commented on #5362
@ya-isakov Are you still seeing this issue?  I believe --net=none should solve the issue in that the processes in the container will be on the network namespace of the host.

[2020-04-01 12:45] rhatdan commented on #5685
I reproduced this in master.

[2020-04-01 12:47] rhatdan commented on #5685
[code]

[2020-04-01 12:48] rhatdan commented on #5685
The problem seems to be in Buildah.
[code]

[2020-04-01 12:55] larsks commented on #5685
@rhatdan since I first saw this with an image built with docker (the elasticsearch filebeat image), it can't be a buildah problem, right?

[2020-04-01 12:57] TomSweeneyRedHat commented on #5685
@rhatdan, I didn't pull down the absolute latest upstream before testing, so it sounds like it might be a change in the past week or two maybe?

[2020-04-01 13:09] rhatdan commented on #5685
It looks like buildah  is not saving any Env from the Dockerfile right now.

[2020-04-01 13:15] larsks commented on #5685
@rhatdan  In fact, I can't reproduce the problem that you're seeing :).

[code]

This is running from 6d36d054. What I'm seeing is a runtime, not a build-time, problem.

[2020-04-01 13:35] rhatdan commented on #5685
Ok I am seeing what you are seeing there also. This seems to be in the master branch.  Probably related to container.conf patch set.

[2020-04-01 13:46] giuseppe commented on #5666
have you opened the fd 3 before passing it down to Podman and `podman exec --preserve-fds 1`?

Otherwise it will pass some random fd down to conmon, the runtime and in the container.  Depending on what random fd is passed down, it can end up in a hang.

Could you try with: `podman exec --preserve-fds 1 test1 date 3<> /dev/null` ?

[2020-04-01 13:52] edsantiago commented on #5666
[feeling embarrassed today]. I thought I had written all that in #4020, but nope, doesn't look like it.

Yes, I tried a huge number of variants of `3<>` and `3<` and `3>` (and/or 4, and/or 2, and/or 0). I no longer have them in my terminal history, but the gist is: nothing helps.

[2020-04-01 14:08] rhatdan commented on #5685
@larsks Please try out https://github.com/containers/libpod/pull/5696

[2020-04-01 14:14] AkihiroSuda commented on #5341
ping

[2020-04-01 15:35] siepkes commented on #5249
I'm also running in to, which I think is, this issue. Like @aleks-mariusz I'm also running podman > 1.8. I'm running rootless podman 1.8.1 on Fedora 31. My experience is that the container works fine on starting and then after sometime suddenly starts exhibiting the above described behaviour (ie. getting connection refused from outside of the container).

[2020-04-01 15:42] wdouglascampbell commented on #5646
Thanks all for working on this.  Had no Internet for a few days just am able to respond.

[2020-04-01 15:44] AkihiroSuda commented on #5646
https://github.com/containers/libpod/pull/5674 should have fixed this

[2020-04-01 15:44] #5646 closed

[2020-04-01 16:07] niklasfi commented on #4264
I'm not sure what is causing this behaviour, but I can attest, that I am observing the same error(s) on my fedora31 install. How can I remove the images causing the problem?

[2020-04-01 16:29] larsks commented on #5685
#5696 resolves the problem for me!

[2020-04-01 16:53] aleks-mariusz commented on #5249
@siepkes guessing you came here by search engine as i did.. but for me it turned out the issue was not _this_ issue (but [a different one](https://github.com/containers/libpod/issues/5541) ).. if you want to see if you have _this_ issue then please check if the requested published port is being bound inside the container (otherwise, if you have the issue i actually did, the container stopped liste

[2020-04-01 18:33] edsantiago commented on #5691
Fixed [in specfile](https://src.fedoraproject.org/rpms/podman/c/251ba28a36f0d6a14749124862ee935043ce2e98?branch=master) by @baude; subsequent build [completed with no error](https://koji.fedoraproject.org/koji/buildinfo?buildID=1487418)

[2020-04-01 18:33] #5691 closed

[2020-04-01 18:59] stintel opened #5698 "named volume created when running with userns=keep-id has wrong ownership"
/kind bug

**Description**

When running podman with userns=keep-id and a named volume, the volume ownership is wrong.

**Steps to reproduce the issue:**

1. podman volume rm test

2. podman run --rm -it --userns=keep-id --mount 'type=volume,src=test,dst=/home/user' --workdir /home/user ubuntu:18.04

3. touch test

**Describe the results you received:**
[code]

**Describe the results you expected:

[2020-04-01 21:20] cevich commented on #4511
Update: Got the proof-of-concept ported yesterday but noticed a rather large gap in my testing for it.  I considered leaving it as good-enough.  However, this github action / cirrus-ci interaction stuff is really tricky and non-obvious in it's operation.  So I'm going to take another day or two to add an integration test for it (a full compliment of unit-tests is already in-place).  This will help

[2020-04-01 21:51] TomSweeneyRedHat commented on #5685
Thanks for the issue and updates @larsks , made life easier to track down.

[2020-04-01 23:05] reagentoo commented on #5464
I've got the same problem on Gentoo, SATA HDD drive with LVM+LUKS+Ext4 (libpod-1.8.0)
Can provide any info.

[2020-04-01 23:40] reagentoo commented on #5464
@tylarb
Sorry if I misunderstood your tips correctly.
I used `strace ... -p PID` where is podman's PID on the host system:
[code]
4378 strings is `openat(AT_FDCWD,`
Another fragments from last grep:
[code]

[2020-04-01 23:54] tylarb commented on #5464
@reagentoo  let's get strace with timings `strace -fvttTyyx -s 4096 -o /tmp/strace.txt -p PID`

This way, we can see if the open, read, or write is taking a long time, indicating the syscall is slow, which would mean the problem is underneath Podman - at OS level.

If you provide the full strace file I can take a look and we can observe if we're reading more bytes than expected or is reasonable fo

[2020-04-02 03:40] jimmyherron commented on #4264
if you remove the offending container either by pruning the system (if possible) then deleting the storage contents (e.g. /var/lib/containers/) you can remove the image, however doing so will prune all images.

Otherwise, I'm not too sure.

My problem is I'm trying to append an existing image and then push/pull it for execution, I'm using the containerregistry repository to do so.

No matter what

[2020-04-02 03:55] mheon commented on #4264
@jimmyherron Append an image? Can you clarify what you mean - are you modifying the image and committing it, or manually editing the image on-disk, or something else?

[2020-04-02 05:03] praiskup commented on #5364
So ping then.  This is pretty serious, we should be able to install packages
rootless.  The question is whether we have to allow capabilities by default
in podman - or whether we have to fix the packages.

[2020-04-02 05:09] mheon commented on #5364
@rhatdan Does this sound like expected behavior? I don't think this is fuse-overlay related, since adding the capability fixes this.

[2020-04-02 05:29] praiskup commented on #5364
Well, I tried again today, and it works again.  With the following list of packages
[code]

I don't know, perhaps it was fixed.  Or it is not always reproducible.

[2020-04-02 06:28] zypA13510 commented on #5538
Took me half an hour to realize what's wrong. I wish I had seen this. It should at least be listed in the man page as an FAQ.

[2020-04-02 08:12] siepkes commented on #5249
@AkihiroSuda You're right. Turns out my issue is indeed not this one but the issue you linked to (ie. the `containers-rootlessport-child` dieing). Thanks!

[2020-04-02 09:57] giuseppe commented on #5666
thanks.

The issue seems to be in conmon, the good news is that it is fixed in conmon upstream, probably as part of: https://github.com/containers/conmon/pull/139

[2020-04-02 10:27] aleks-mariusz commented on #5680
@stefanb2 @giuseppe per [this PR](https://github.com/containers/libpod/issues/3529) it is implied that this should be working, however i can't replicate [the tests in that PR](https://github.com/containers/libpod/pull/3529#issuecomment-509623819) in my environment:

First, i've removed any service files i previously created with `podman generate systemd` commands earlier):

<details><summary>start

[2020-04-02 10:37] rhatdan commented on #5464
@giuseppe FYI

[2020-04-02 10:38] rhatdan commented on #5358
I believe this was fixed a while ago, reopen if I am mistaken.

[2020-04-02 10:38] #5358 closed

[2020-04-02 10:50] firefly-serenity commented on #5626
I will install crun on the systems to confirm. Can you tell me why it is, that there is this difference?

The error does not occure when starting a single container locally, that I can confirm.

[2020-04-02 10:55] giuseppe commented on #5341
I am 50/50 whether it is better to do what K8s does (and what we did on cgroup v1) or handle cgroupns as the other namespaces.

[2020-04-02 11:05] miquecg commented on #5464
Exactly same setup.

IIRC, I don't have this problem when running podman root. The main difference could be the encryption of `/home` partition, but I'd need to double check it.

Sorry for not being really helpful here but due to quarantine we must stay home everybody and I cannot access that computer.

[2020-04-02 11:07] krisklau commented on #5447
What's the next step for resolving this?

[2020-04-02 11:14] reagentoo commented on #5464
@miquecg
I didn't try to run from root. But now I've updated libpod from 1.8.0 to 1.8.2. And now I don't observe this issue yet.

[2020-04-02 11:22] junaruga commented on #5447
As he declined it, we have to fix if we want to fix it.
I am fine to close this ticket. I can use `docker` for this use case.
We can wait podman will be shipped for the non x86_64 architectures in the official Debian repository. Then I think Ubuntu will pick up it soon.

[2020-04-02 11:22] aleks-mariusz commented on #5680
[those checks](https://github.com/containers/libpod/pull/3529#issuecomment-509623819) _still_ don't work on another system where the scope issue does not exist, so that's likely unrelated

[2020-04-02 11:24] aleks-mariusz commented on #5623
@mheon any ideas?

as a workaround for another device file, i passed (as a volume mount) the whole of `/dev/` into the container as `/host_dev`, however for _this_ device file, v4l won't accept it if it's not exactly /dev/video0 (still investigating why), so am forced to use `--device` (same issue however if i simply use `-v` instead of `--device`), and the workaround cannot be used so still is us

[2020-04-02 11:24] #5447 closed

[2020-04-02 12:22] giuseppe commented on #5626
when you specify `--pid=host` the OCI runtime tries to use the freezer controller to freeze the container before killing its processes.
On rootless cgroup v1 that is not possible since rootless cannot use cgroups.  You can ignore the warning, or not use `--pid=host`

[2020-04-02 12:25] djgalloway commented on #5306
I'm seeing this behavior on CentOS 8.1.1911 with `podman-1.8.2-81.1.el8.x86_64`.

Using systemd but `XDG_RUNTIME_DIR` is not set for the user running podman commands.

I had initially tried `rm`ing `~/.cache` and `~/.local` then `podman system migrate` but it did not resolve the issue.  Now I'm installing the latest podman packages available in the kubic repo and still hitting this problem.

Reboo

[2020-04-02 12:39] rhatdan commented on #5698
@mheon This means that the volume was created to be owned by root of the user namespace rather then the default user of the container.

Since --userns=keep-id implies --user CURRENTUSER we need to make sure this is passed down the stack.

@stintel If you executed the same command but added `--user stintel` (or whatever your username is) does it do the right thing.

[2020-04-02 12:55] adrianreber commented on #5626
One thing which is special when using MPI is that it might not create sessions as a normal login. Not sure if `XDG_RUNTIME_DIR` is set when using `mpirun`.

@firefly-serenity Do you know how your `mpirun` creates the processes on the other hosts? Is it using `ssh`? In case you are running under the control of a resource manager (slurm, pbs, something) it might not use `ssh` but some PMI(X) based m

[2020-04-02 13:11] giuseppe commented on #5698
@rhatdan it seems we are always creating volumes as root, even without user namespaces involved.

[2020-04-02 13:14] rhatdan commented on #5364
The default list of capabilities to run containers is:

AUDIT_WRITE,CHOWN,DAC_OVERRIDE,FOWNER,FSETID,KILL,MKNOD,NET_BIND_SERVICE,NET_RAW,SETFCAP,SETGID,SETPCAP,SETUID,SYS_CHROOT

So the buildah container should havv SETFCAP by default.  No idea why this is working and then not working.

[2020-04-02 13:16] rhatdan commented on #5538
Please open a PR to add the comment to the man page.

[2020-04-02 13:17] mheon commented on #5698
Inspect on the volume says that the UID/GID the volume was created with was 1 - are we sure this isn't a volume as the first non-root UID/GID?

[2020-04-02 13:18] mheon commented on #5698
@stintel Can you provide an `ls -al` of the volume from within a container, to show what it's owned by within the user namespace?

[2020-04-02 13:27] mheon commented on #5306
v1.8.2 should definitely have the latest code for handling missing pause processes. The XDG_RUNTIME_DIR thing does seem suspicious, but I believe we have patches in for handling that.

Can you try a `podman system reset` to completely wipe Podman's state, and see if that resolves things?

[2020-04-02 13:33] mheon commented on #5623
Are you running root, or rootless? And whichever you are running, can you try the other?

Reasoning: we use different methods for devices as root (we actually make a device node with the major/minor number of the device on the host) and rootless (no permissions for that, so we just make a bind mount). I'd be interested to see if either of those works.

[2020-04-02 13:45] djgalloway commented on #5306
[code]

[2020-04-02 15:29] mheon commented on #5306
Can you see if you have a `/run/user/$UID/libpod/pause.pid` (substitute your UID in there) and if so, what are the contents of that file?

Can you give the output of `podman info --log-level=debug`?

[2020-04-02 15:30] mheon commented on #5306
@rhatdan @giuseppe It looks like `podman system reset` is being blocked by this. We should investigate making `system reset` more durable - if a userns issue can prevent it being run, it's a lot less useful

[2020-04-02 15:34] djgalloway commented on #5306
[code]

[2020-04-02 15:40] stintel commented on #5698
[code]

[code]

[code]

[2020-04-02 15:48] cben commented on #4159
I want to use `--init` in a script used on various distros, here's partial sample from googling (didn't actually test):

- [x] OpenSUSE: [packaged](https://build.opensuse.org/package/view_file/openSUSE:Factory/catatonit) catatonit, [podman Requires it](https://build.opensuse.org/package/view_file/openSUSE:Factory/podman/podman.spec?expand=0)
- [x] Arch: [packaged](https://www.archlinux.org/package

[2020-04-02 15:54] cben commented on #4159
No, can't assume a path.   [opensuse](https://build.opensuse.org/package/view_file/openSUSE:Factory/catatonit/catatonit.spec) seems to put it at `/usr/bin, and [libpod.conf](https://build.opensuse.org/package/view_file/openSUSE:Factory/podman/libpod.conf) points there.

[2020-04-02 16:11] cevich commented on #5325
@lsm5 do you know about this, I'm still showing it as being skipped in master:

https://github.com/containers/libpod/blob/master/pkg/bindings/test/containers_test.go#L184-L201

[2020-04-02 18:16] aleks-mariusz commented on #5623
was running as rootless.. i tried this as root and the device stays visible with same perms, i guess this is the use case that you use mknod(2) on.. and rootless is the bind mount (where permissions disppaear and don't get re-set if/when the device re-appears).

what are your thoughts on fixing this then?

for the record, i was also able to work around this issue of permissions not being restored,

[2020-04-02 18:21] nicholasbishop opened #5703 "run fails with error creating cgroup directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run ubuntu:18.04

**Describe the results you received:**
[code]

**Describe the results you expected:**

The container should be launched.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman v

[2020-04-02 19:01] mheon commented on #5703
@giuseppe PTAL

[2020-04-02 21:21] rhatdan commented on #5341
As I said before --privileged does not effect namespaces, it should not eliminate --cgrouns or --userns.
`

[2020-04-02 21:44] minnixtx opened #5704 "ID namespace error when deploying almond-server via podman"
/kind bug

**Description**

**Steps to reproduce the issue:**

<pre><code>podman run -p 3000:3000 --uidmap keep-id \
-v /dev/shm:/dev/shm \
-v $XDG_RUNTIME_DIR/pulse:/run/pulse \
-v ${XDG_CONFIG_HOME:-$HOME/.config}/almond-server:/var/lib/almond-server \
minnixtx/almond-server:arm64</code></pre>

**Describe the results you received:**
<pre><code>ERRO[0615] Error while applying layer: ApplyLayer ex

[2020-04-02 21:54] rhatdan commented on #5698
So the bug is builtin volumes are not being created based on the user of the container, but always as root of the container.  I thought we fixed this, maybe it works as root.

[2020-04-02 21:56] rhatdan commented on #5698
Broken as root as well.
[code]

[2020-04-02 21:58] rhatdan commented on #5698
@sujil02 or someone else looking to contribute.  @kunalkushwaha ???

The basic idea is builtin volumes should be created with the owneship of the user of the container.

In the example above the /test should have been owned by UID 1000 GID 1000.

In the --userns keep-id case, it should be created owned by the user creating the container.

[2020-04-02 22:03] mheon commented on #5704
Looks like your user may not have a valid mapping in `/etc/subuid` and `/etc/subgid`. Can you provide both of those files, plus the output of `podman unshare cat /proc/self/uid_map`

[2020-04-02 22:06] mheon commented on #5698
I know we have code for this. Looks like it got broken at some point.

[2020-04-02 22:41] Gelbpunkt commented on #5648
I've had this issue too, only in rootless. Restarting the container usually helps, but not always.

[2020-04-02 23:06] minnixtx commented on #5704
/etc/subuid:

<code>minnix:100000:65536</code>

/etc/subgid:

<code>minnix:100000:65536</code>

<pre><code>$ podman unshare cat /proc/self/uid_map
         0       1000          1</code></pre>

[2020-04-02 23:12] rhatdan commented on #5306
I think this means that podman system reset is attempting to enter the user namespace.

[2020-04-03 00:45] mheon commented on #5704
Can you try a `podman system migrate` and then see if things start working?

[2020-04-03 00:48] mheon commented on #5376
Can you clarify the use case here a bit? Are you using labels and filtering with `podman network ls --filter` to identify what networks need to be removed?

[2020-04-03 00:52] mheon commented on #5380
This is part of why I really dislike templating. It requires that our internal data representations match Docker, which is not a promise that I want to make.

In this case, the format for our port structures in `podman inspect` looks to differ from the format Docker uses. We can probably reformat our output to match Docker more closely. I'll try and find some time to look into it, but this is fair

[2020-04-03 00:54] mheon commented on #5648
@giuseppe @AkihiroSuda I feel like we may have fixed this one already?

[2020-04-03 01:21] minnixtx commented on #5704
Ok will try it and post back

[2020-04-03 01:43] minnixtx commented on #5704
I'm going to reformat and reinstall and report back. I think I've kind of screwed things up with too much fiddling around.

[2020-04-03 04:23] jimmyherron commented on #4264
Hey @mheon
Let me give a bit more detail..

# Background

What I am trying to do is use a jupyter notebook running on kubeflow/Openshift.

I’m using the latest version of this repository [Kubeflow Fairing](https://github.com/kubeflow/fairing) and for reference, I’m using the ‘append’ builder class.
This class makes use of the Google Container tools [Google/Containerregistry](https://github.com/goo

[2020-04-03 06:13] #5569 closed

[2020-04-03 09:08] giuseppe commented on #5341
ok so let's just fix `kube play` for Kubernetes compatibility

[2020-04-03 09:13] minnixtx commented on #5704
Still more errors:

<pre><code>$ podman system migrate
$ podman run -p 3000:3000 --uidmap keep-id -v /dev/shm:/dev/shm -v $XDG_RUNTIME_DIR/pulse:/run/pulse -v ${XDG_CONFIG_HOME:-$HOME/.config}/almond-server:/var/lib/almond-server minnixtx/almond-server:arm64
Trying to pull docker.io/minnixtx/almond-server:arm64...
Getting image source signatures
Copying blob f77d8914c709 done
Copying blob 687c2f71

[2020-04-03 09:16] giuseppe commented on #5703
how does your `/sys/fs/cgroup` look like?

Can you show the output for `ls /sys/fs/cgroup` and `findmnt -R /sys/fs/cgroup` ?

[2020-04-03 11:43] andrewssobral commented on #3659
I had the same problem in my deep learning server, someone can help me?

`docker run --runtime=nvidia --privileged nvidia/cuda nvidia-smi` works fine but
`podman run --runtime=nvidia --privileged nvidia/cuda nvidia-smi` crashes

[code]

[code]

[code]

[code]

[code]

[code]
[code]

[code]

[code]

[2020-04-03 12:28] rhatdan commented on #5386
@gartnera Did you ever look any further into this?  Even if we could get a subset of the tests to work, it would be a big step forward.

[2020-04-03 12:29] rhatdan commented on #5357
Should be availabel now.

[2020-04-03 12:29] #5357 closed

[2020-04-03 12:33] rhatdan commented on #5704
Could you try this as root.  This might be something to do with the user namespace?
ERRO[0599] Error while applying layer: ApplyLayer exit status 1 stdout:  stderr: there might not be enough IDs available in the namespace (requested 192:192 for /run/systemd/netif): lchown /run/systemd/netif: invalid argument

Also what is the output of

$ podman unshare cat /proc/self/uid_map

[2020-04-03 12:35] rhatdan commented on #5376
@kunalkushwaha Interested in working on this? @sujil02 ?

[2020-04-03 12:36] rhatdan commented on #5380
@kunalkushwaha @sujil02 Interested?

[2020-04-03 13:39] rhatdan commented on #3659
Please open new issues, do not just keep adding to existing closed issues.

If you run podman as root does it work?

[2020-04-03 14:30] andrewssobral commented on #3659
Hi @rhatdan , no , same error when I do:
`sudo podman run --runtime=nvidia --privileged nvidia/cuda nvidia-smi`

[2020-04-03 14:32] nicholasbishop commented on #5703
[code]

[code]

[2020-04-03 14:39] andrewssobral opened #5711 "podman rootless nvidia gpu not working"
I  can't run podman rootless with GPU, someone can help me?

`docker run --runtime=nvidia --privileged nvidia/cuda nvidia-smi` works fine but
`podman run --runtime=nvidia --privileged nvidia/cuda nvidia-smi` crashes, same for
`sudo podman run --runtime=nvidia --privileged nvidia/cuda nvidia-smi`

Output:
[code]

But, runc exists:
[code]

[code]

[code]

[code]

[code]

[code]
[code]

[code]

[2020-04-03 14:58] mheon commented on #5711
[code]

This error definitely is not out of Podman, so I don't know how much we'll be able to help you. You may want to ask about it at https://github.com/NVIDIA/nvidia-container-runtime (I believe you may have already).

[2020-04-03 15:04] andrewssobral commented on #5711
Thank you @mheon for your quick feedback. Yes, I also posted my issue here:
https://github.com/NVIDIA/nvidia-container-runtime/issues/85
So, I will close this issue.

[2020-04-03 15:04] #5711 closed

[2020-04-03 15:12] mheon commented on #5711
If it does turn out to be a Podman issue from what you learn over there, feel free to reopen

[2020-04-03 15:15] jamescassell commented on #5711
Working solution: https://github.com/NVIDIA/nvidia-container-runtime/issues/85#issuecomment-604931556

[2020-04-03 15:17] rhatdan commented on #3659
Is there a nvidia hook that is attempting to launch runc?

[2020-04-03 15:17] sujil02 commented on #5698
Looking into it.

[2020-04-03 15:18] rhatdan commented on #3659
Actually I don't think podman looks for the executable in path.
If you run with it pathed does it work.

sudo podman run --runtime=/usr/bin/nvidia  --privileged nvidia/cuda nvidia-smi

[2020-04-03 15:25] sspoddiglane commented on #5128
I'll  get this out next week.  Firefighting after ISP reloaded their
routers w bad config..

On Mon, Mar 23, 2020 at 9:37 AM Daniel J Walsh <notifications@github.com>
wrote:

--

Susan SpoddigLane

Sr. Linux Admin  IV

NOAA/NESDIS Center for SaTellite Applications and Research (STAR)
College Park
Office:301-683-1328
cell: 202-394-8991
Email: susan.spoddiglane@noaa.gov
[image: noaa_logo_full.png]

[2020-04-03 15:37] andrewssobral commented on #3659
@rhatdan
This is my current output:
(same error with `sudo`)
[code]

[2020-04-03 15:43] rhatdan commented on #3659
I wonder if we exec the OCI runtime and remove the settings of $PATH.

[2020-04-03 17:57] lsm5 commented on #3924
I found out from the OBS admins that we can see the older files by going to the `Revisions` tab for a package and clicking `Browse Source` for a particular revision. Should be doable via CLI as well, but I don't know the exact commands atm. So, I'll no longer be having any `.old` files in there.

[2020-04-03 18:38] gartnera commented on #5386
No I haven't done anything more. I reran the tests this morning against master, here's the results:

[code]

Looks like there was decent improvement in `api_build_test.py` and `api_container_test.py`.

[2020-04-03 18:50] sysrich commented on #3924
@lsm5 you mean like `osc co devel:kubic:libcontainers:stable podman -r $REV` ?

[2020-04-03 18:57] rhatdan commented on #5386
FYI @jwhonce @baude

[2020-04-04 11:26] sdyalor commented on #4257
Sir, can I achieve this in centos or arch from yuk7 https://github.com/yuk7/ArchWSL

I've been trying but no success, do you recommend other centos distribution?.

[2020-04-04 14:50] Perflyst opened #5715 "Add support for IPv6 port binding"
/kind feature

**Description**

Would be nice to be able to bind ports to IPv6 addresses like with IPv4. In Docker works both.

**Describe the results you expected:**

`podman pod create --name=test --share net -p 2000:0000:60:1244::2:80:80/tcp` should work without an error like

Error: unable to create pod: Invalid ip address 2000:0000:60:1244::2: address 2000:0000:60:1244::2:: too many colons in

[2020-04-04 17:33] n1trux commented on #4499
Can I somehow use this to create a podman socket where "legacy" docker applications can listen on?

I found [this tutorial on setting up a varlink socket](https://podman.io/blogs/2019/01/16/podman-varlink.html) but it's incompatible or rather not a plug-in replacement to `/var/run/docker.sock`, right?

[2020-04-04 18:25] mheon commented on #4499
`podman system service` available starting in 1.8.1 (I believe) should do what you're looking for. Please note that HTTP API support is still very early and under heavy development.

[2020-04-04 19:51] ingobecker commented on #5648
Having the same issue. I'm staring a shell in an interactive container(`$podman run --it ...`) and from there staring the development webserver of my webframework. If i have to kill the development server (strg+c) and restart it, it's impossible to connect to the server. The only thing that helps is to restart the container.

[2020-04-04 20:40] KraTos5589 opened #5717 "Not able to run curl to the unix socket of podman (varlink work)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Able to run
```varlink call -m unix:/run/podman/io.podman/io.podman.GetInfo```
But nothing happens when I run
```curl --unix-socket /run/podman/io.podman http://d/v1.24/info```

Adding sudo has no affect on both commands -> sudo varlink works  but sudo curl does not.

OS - Fedora 31

**Steps

[2020-04-04 20:56] vbaruh opened #5718 "ubuntu 18 podman bash-completion file is installed at wrong place"
Hi there,

bash-completion file is installed in directory _comletions_ with missing **p**.

[code]

[2020-04-04 20:57] mheon commented on #5717
The same socket is not used for Varlink and the HTTP API - it can do either one, or the other. The HTTP API usually lives at `/run/podman/podman.sock` when started, I believe.

[2020-04-05 00:35] leonardo2707 opened #5719 "Error in date parse from log file, it is not possible to see the container logs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't see the logs from the jellyfin container, when I run
[code]

**Steps to reproduce the issue:**

1. Create a jellyfin container (that example is exactly what I execute to create my container)
[code]
2. Run it
[code]
3. Try to get the logs
[code]

**Describe the results you received:**

[2020-04-05 05:54] abitrolly opened #5720 "RFE: Handle Etag for caching ADD downloads"
/kind feature

**Description**

My image includes file that is being downloaded, and the process is very unstable. The image build time is long and it just failed 4 times in a row over past two days.

`podman` doesn't cache URL resources fetched with ADD command. It would be nice of him to take note of `ETag` headers and cache them.

**Steps to reproduce the issue:**

1. `ADD https://url/file.tar.

[2020-04-05 08:29] KraTos5589 commented on #5717
Thanks a lot. Could somebody point to this documentation. I could not find it anywhere.

[2020-04-05 14:52] MariusHllk opened #5721 "ERRO[0000] [graphdriver] - no support for overlay fs"
/kind bug

**Description**

On a Raspbian 10 (Butcher) with a Raspberry Pi 3 Model B Rev 1.2 I am trying to use podman for running containers/pods. It seems that the setup has a problem with the filesystem.

**Steps to reproduce the issue:**

1. podman run hello-world

**Describe the results you received:**

[code]

**Describe the results you expected:**
The usual execution of a sample hello-world

[2020-04-05 15:27] firefly-serenity commented on #5626
An update:

I could reporduce this. And it is also slightly faster.

@adrianreber these tests are started manually and mpirun is using ssh.

These messages are now appearing after each job:
[code]

[2020-04-05 17:17] daltschu22 opened #5722 "No config files created in ubuntu WSL2 when rootless"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `Podman info` not as root

2. Run `podman run container`  not as root

**Describe the results you received:**

No files created in the container folder

**Describe the results you expected:**

Config files created in container folder.

**Additional information you deem important (e.g. issue happens only occasionally):**
Running

[2020-04-05 17:47] rhatdan commented on #5715
@mccv1r0 @mheon Would this work, if we were not parsing the address so strictly?

[2020-04-05 17:49] rhatdan commented on #4499
The podman-docker package should be creating a link between the two sockets, at least that is what is supposed to happen.

ln -s /run/podman.sock /run/docker.sock

[2020-04-05 17:54] mheon commented on #5722
We've changed rootless Podman to no longer generate configuration files in the user's home directory automatically, so this is expected behavior, I believe.

[2020-04-05 17:56] mheon commented on #5715
I think we'll need to make a separate copy of each port for v4 and v6 when we add ports.

[2020-04-05 17:56] abitrolly commented on #4499
I am trying to use 3rd party utility that uses Docker socket. But running `podman system service` has no effect. `podman 1.8.2` runs with the message `This function is EXPERIMENTAL.`
[code]
How is it supposed to work?

[2020-04-05 17:56] mheon commented on #5715
Oh, hmmmm. This isn't by default, but only when a v6 address is specified.

Yeah, I think @rhatdan is right - this is too-aggressive parsing of the address to try and ensure it's an IPv4

[2020-04-05 17:57] rhatdan commented on #5720
This should be a buildah bug.

[2020-04-05 17:58] mheon commented on #5715
Also - does that command you gave work in Docker? Because I'm 90% sure that specifying port numbers after an IPv6 address using an extra `:` is wrong...

[2020-04-05 17:59] Perflyst commented on #5715
Yup, I was confused in the beginning too but it does not work with [ ] (brackets) and you need to do it like this.

[2020-04-05 18:00] rhatdan commented on #5721
Install fuse-overlayfs

[2020-04-05 18:02] rhatdan commented on #5722
Yup this works as designed.

[2020-04-05 18:02] #5722 closed

[2020-04-05 18:04] rhatdan commented on #4499
Podman service is created at /var/run/podman.sock (/run/podman.sock)
If you want to support docker, then `ln -s /run/podman.sock /run/docker.sock`

If you install podman-docker, it is supposed to create this link automatically, although I have not confirmed.

[2020-04-05 18:16] daltschu22 commented on #5722
Thank you! I was basing my experience off this article
https://www.redhat.com/sysadmin/podman-windows-wsl2

And couldnt find if that had changed since it was written when googling around. This is good to know. Much appreciated!

[2020-04-05 22:01] amarshall opened #5723 "podman build --cap-add/--cap-drop has no effect and value is not validated, contrary to buildah behavior"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Passing `--cap-add` or `--cap-drop` to `podman build` has no effect and its value is not validated. This is contrary to buildah, where it is validated and has an effect (see "additional information" below), so this does *not* appear to be a buildah bug.

For simplicity, only `--cap-add` is re

[2020-04-06 08:14] giuseppe commented on #5703
what is cros?  How is the `/sys/fs/cgroup/cros` mount created?

The cpuset controller is mounted on `/sys/fs/cgroup/cros` as cgroup v1 so it is not usable by cgroup v2.

This configuration is not supported.

We support either the legacy cgroup v1 or the unified cgroup v2 mode: https://systemd.io/CGROUP_DELEGATION/#three-different-tree-setups-

Also the configuration above is not recognized as `hyb

[2020-04-06 09:50] vrothberg commented on #5721
@rhatdan, we're _root_ (`root@raspberrypi:~#`). I have seen this error two times in the past week but could not track it down.

[2020-04-06 11:35] c0d3st0rm opened #5729 "Build packages for aarch64 Ubuntu 18.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
[OBS](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable) builds packages for aarch64/Ubuntu 19.10, however not for 18.04. Could the package suite on OBS also be built for aarch64 Ubuntu 18.04, to support the Raspberry Pi/other ARM devices running Ubuntu Server 18.04

[2020-04-06 12:38] athena-metis opened #5730 "play kube doesn't support container args"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

play kube doesn't support the "args" config option for a container in a YAML pod spec.

Behaviour of command and args are defined here:
https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes

In the code it always uses the image entry point (expected

[2020-04-06 13:16] baude commented on #4499
did you run as root? else you would have to look closer at whatever error messages it gave.  you can also curl the endpoint.

[2020-04-06 13:52] lsm5 commented on #5296
@jcassee @jayaddison I pushed a new build to OBS just now which has a `podman-rootless` package which doesn't depend on `containernetworking-plugins` but is otherwise the exact same as the `podman` package. Should be available in a bit. It should be available already on the OBS testing repo in case anyone would like to try it out, https://build.opensuse.org/project/show/devel:kubic:libcontainers:t

[2020-04-06 13:57] abitrolly commented on #4499
@baude run `podman system service`  without run. It didn't complain about anything, and I thought everything is fine. Running with `sudo` didn't change anything, and I guess that's because `/run/docker.sock` is not created.

@rhatdan there is no `/run/podman.sock` regardless of if `podman system service` runs with `sudo` or without it.
[code]

[2020-04-06 13:59] mheon commented on #4499
Probably at `/run/podman/podman.sock` by default AFAIK

[2020-04-06 14:03] mheon commented on #5730
Definitely sounds like a bug. Are you willing to do a PR to fix this?

[2020-04-06 14:07] fabrei opened #5732 "fusermount3: mount failed: Operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I try to run container as rootless, but fusermount3 throws a permission denied error. The container runs without any problems when I execute the following commands as root.

**Steps to reproduce the issue:**

1. `su - <rootless-username>`

2. `podman pull nginx`

3. `podmann run nginx`

**Des

[2020-04-06 14:07] abitrolly commented on #4499
@mheon path appears only when `podman` is run under root. Is it possible to still keep `podman` run in userspace?
[code]
The socket is not accessible without `root`.
[code]

[2020-04-06 14:08] mheon commented on #5721
@Django987 I think the error you pasted got cut off? Looks like we're missing some of it.

Can you check what filesystem is in use at `/var/lib/containers/storage`? Output of `mount` would help.

[2020-04-06 14:09] mheon commented on #4499
I think that, when run without root, we make a socket somewhere in `/run/user/$UID/` but I'm not 100% sure that is implemented yet.

[2020-04-06 14:10] mheon commented on #4499
(The intention is that, if you want to run Podman rootless with the API, the service will also be running without root, on a separate socket than root)

[2020-04-06 15:45] jayaddison commented on #5296
Thanks @lsm5 , I'll look out for that.  I'd imagine `podman-rootless` will be a temporary package name until the conflict between `containernetworking-plugins` and `kubernetes-cni` is resolved?

[2020-04-06 16:13] n1trux commented on #4499
That would be pretty great!

Could you tell me where the code for this feature is exactly? I don't really "get" the code yet.

[2020-04-06 16:17] abitrolly commented on #4499
`podman` indeed creates socket in `/run/user/$UID/podman/podman.sock` when running rootless.
[code]

[2020-04-06 16:45] #5609 closed

[2020-04-06 16:53] lsm5 commented on #5296
ummmmmm, I guess that's here to stay unless maybe OBS and kube's repos are merged or something, and I don't wanna spend any of my own time on that. But if any volunteers wanna look into it, I'd be glad to help out wherever possible.

[2020-04-06 16:58] lsm5 commented on #5296
I'll PR on podman.io's installation docs to mention this package as well for kube users.

[2020-04-06 17:31] aric49 commented on #4093
@theunrealgeek  --- Thanks for taking this on.  Just to clarify, this is still feature that I would like to see. I"m sure there are plenty of others out there that it would make sense for as well.

[2020-04-06 18:20] rhatdan commented on #5340
@mheon @giuseppe Do you guys have any thoughts on this one?  I don't know if anyone ever looked at it?

[2020-04-06 18:28] mheon commented on #5340
Sounds like some sort of race inside runc, maybe?

Trying crun might be interesting.

[2020-04-06 18:32] rhatdan commented on #5403
@shawnweeks @mheon Did we come to a conclusion that what Podman is doing is wrong?  Or just different then Docker?

[2020-04-06 18:33] nicholasbishop commented on #5703
The cros stuff is created by the `cros_sdk` tool used for building ChromiumOS and its derivatives: https://chromium.googlesource.com/chromiumos/docs/+/master/developer_guide.md#building-chromium-os

Thanks for taking a look and providing this info. I didn't realize these tools could interfere with each other. Sounds like if there is a bug here it's on the cros side, not podman, so I'll close this.

[2020-04-06 18:33] #5703 closed

[2020-04-06 18:33] rhatdan commented on #5719
@baude Any ideas?

[2020-04-06 18:51] rhatdan commented on #5730
@kunalkushwaha @sujil02 FYI?

[2020-04-06 19:23] edsantiago opened #5736 "podman info: should include podman version"
The `podman info` command does not actually include podman's own version.

[2020-04-06 19:42] afbjorklund commented on #5736
I guess it is bug-compatible with docker that way ? (it only includes server version)

[2020-04-06 19:47] afbjorklund commented on #5736
Interestingly, `podman-remote info` _does_ include the podman version.  But only for the client!

The host part of the output is the same as `podman info`, in that it only mentions Buildah version.

[2020-04-06 19:49] shawnweeks commented on #5403
I'm not sure, Docker disables IPv6 by default and in Podman it's enabled and doesn't appear to work with things like WildFly App Server. I'm not sure the IPv6 is actually broken it might just be something about how WildFly tries to use it. WildFly runs fine with IPv6 if you run it directly on CentOS or RedHat.

[2020-04-06 21:10] rhatdan commented on #4499
Yes we definitely do NOT want /run/podman/podman.sock to be available to anything other then root.  This would open a Huge security hole if this is is available to non root users.

[2020-04-06 21:28] rhatdan commented on #5732
@vrothberg @giuseppe PTAL
podman unshare cat /proc/self/uid_map

[2020-04-06 21:45] minnixtx commented on #5704
Hello thanks for your help and sorry for the delay. I promise to get back to this ASAP. It is hectic here right now. Just want to say I am appreciative and haven't forgotten.

[2020-04-06 22:15] shawnweeks commented on #5403
I've posted an a question in their forum but I suspect their going to ask why it's their issue since it works fine on Docker and bare metal. Docker has taken the approach to disable IPv6 inside of containers but bare metal with IPv6 enabled works fine.

[2020-04-06 23:19] TomSweeneyRedHat commented on #5723
@amarshall I ran a quick test against the latest from upstream and it's working for me.  Can you easily clone from GitHub and then run it?  I think this may have been recently fixed.

[2020-04-07 00:41] kunalkushwaha commented on #5730
If no one working.. I can pick it up this too.

[2020-04-07 03:22] bcstinch opened #5740 "Rootless Container Port Publishing via 127.0.0.1 Issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to publish a port on a rootless container via 127.0.0.1, that port binding crashes when other containers try and access that port.

For example, I am using a postgres container to publish 127.0.0.1:5432, and then literally trying to curl 127.0.0.1:5432, when this happens, podman p

[2020-04-07 06:49] fabrei commented on #5732
[code]
The UID and GID of this user is 2662. So this configuration seems correct in my opinion.

[2020-04-07 07:24] giuseppe commented on #5732
the kernel is too old:   kernel: 4.12.14-lp151.28.44-default

FUSE in a user namespace needs at least Linux 4.18

[2020-04-07 07:24] #5732 closed

[2020-04-07 07:35] marusak opened #5741 "APIv2: Support for starting an exec instance"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

This is tracker for implementing of [execStart](https://podman.readthedocs.io/en/latest/_static/api.html#operation/libpodStartExec). It is the last piece that is needed for cockpit-podman being able to switch to APIv2.
As I am blocked on this, I want to have something that I can point to

[2020-04-07 07:51] fabrei commented on #5732
Well..I did not expect this..Thanks for your help :-)

[2020-04-07 08:00] athena-metis commented on #5730
@kunalkushwaha I did start on this but happy to leave it to you to pick up. I was struggling with adding appropriate tests as there don't appear to be any unit test suites covering any of the code in pkgs, and it would take several e2e tests for coverage which are quite time consuming to run so didn't want to be making many additions here. It would also probably required a different image to be us

[2020-04-07 10:03] miquecg commented on #5405
Something is definitely going on with `podman login`:
[code]

**`podman version`**
[code]

**`podman info --debug`**
[code]

**`apt list podman`**
[code]

Was ever before the username inside the `auth.json`?

Hope this helps!

[2020-04-07 10:24] vrothberg commented on #5405
Thanks for providing the details!

For the sake of completeness, can you try `$ podman login --authfile /run/user/1000/containers/auth.json --get-login docker.io`? I cannot reproduce on my machine.

@mtrmac, ideas what it might be?

[2020-04-07 10:49] mtrmac commented on #5405
I really wouldn’t expect `--get-login` to be unable to find just-updated credentials.

`podman --log-level=debug …` might reveal which files the code is reading in the various commands (but, sadly, probably not which files it is writing to).

[2020-04-07 11:07] mlezajic opened #5745 "Connection to pod can only be established once"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading from podman **v1.6.4** to **v1.8.2**  we experience the problem that any newly created pod allows exactly ONE connection attempt while subsequent connection attempts are
rejected.

**Steps to reproduce the issue:**

1. Create a new pod from scratch with just one port mapping:

[2020-04-07 11:53] miquecg commented on #5405
This is super weird... Now it works! I don't know what could happen.

The only thing I've seen different is that `auth` value is now considerably longer compared to the previous one which failed (despite showing up login succeeded message).

[2020-04-07 11:57] edsantiago opened #5746 "rootless: panic in podman info"
The last four rawhide autobuilds, beginning with 1.8.3-0.81.dev.gita858b3a.fc33, [have failed](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/10545/pipeline/#step-248-log-594) when running `podman info` in the rootless gating tests:
[code]
e318b09b6 (previous commit) passes so it's likely that this i

[2020-04-07 11:58] storrgie commented on #5740
All the subsystems are new to me, so I could be guessing completely wrong. Does this mean that slirp4netns is "failing silently" and it is responsible for that forwarding of the port?

[2020-04-07 12:15] rhatdan commented on #5403
@mccv1r0 WDYT?

[2020-04-07 12:15] rhatdan commented on #5403
@shawnweeks Could you give me a link on the wildfire issue, so I can watch it and participate.

[2020-04-07 12:22] edsantiago opened #5747 "race: 'podman stop' does not always remove all podman mounts"
One of the e2e tests, `podman list running container` in [test/e2e/mount_test.go](https://github.com/containers/libpod/blob/master/test/e2e/mount_test.go#L185), occasionally [flakes in CI](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5127055163523072/html/integration_test.log.html#t--podman-list-running-container--1). Basically, `podman mount` is fin

[2020-04-07 12:44] kunalkushwaha commented on #5730
@athena-metis Please continue. Please free to ping me, if you feel to discuss anything.

[2020-04-07 13:15] mccv1r0 commented on #5403
It looks like WildFly image needs work to support IPv6.

Docker doesn't enable IPv6 unless you enable `ipv6: true` in `/etc/docker/daemon.json`.  @shawnweeks are you looking for something similar re podman?

[2020-04-07 13:41] mheon commented on #5740
Per debugging yesterday, I suspect that slirp is still up, but the rootlesskit port forwarder is dying.

@giuseppe @AkihiroSuda Mind taking a look at this one?

[2020-04-07 13:44] cevich commented on #4511
Update: finished adding integration tests, and am now working on getting them merged in.  I have some administrative tasks to attend to this week.  So that will likely slow me down in terms of bringing up usage of my work under libpod.

[2020-04-07 14:02] AkihiroSuda commented on #5740
Please provide the full reproducer. Both command 1 and 3 don't seem correct.

[2020-04-07 14:07] bcstinch commented on #5740
I apologize, I forgot I use an env-file for the postgres stuff. I have edited the original post.

[2020-04-07 14:13] AkihiroSuda commented on #5740
The port binding seems crashing just when yet another container started up.
So command 4 can be just like `podman run hello-world`. And anyway you can't connect 127.0.0.1 from  a container (regardless to rootless or rootful) unless you specify `--net=host`.

[2020-04-07 14:14] rajveermalviya opened #5750 "Implementation of compose-spec"
/kind feature

`compose-spec` implementation

Reference implementation in go: [github.com/compose-spec/compose-ref](https://github.com/compose-spec/compose-ref)

References:
[compose-spec.io/](https://compose-spec.io/)
[github.com/compose-spec](https://github.com/compose-spec)

[2020-04-07 14:15] AkihiroSuda commented on #5740
The port itself seems alive, but `podman port -l` CLI seems broken.

[2020-04-07 14:16] mheon commented on #5741
Working on this one now. Exec w/ attach support is presently in progress, detached exec is coming after that.

If you're willing to help test once I have something ready, it would be greatly appreciated

[2020-04-07 14:17] bcstinch commented on #5740
With that in mind, what is the preferred method for communicating between two containers via localhost so that traffic doesn't have to "leave the host" or open up any ports on a network-facing IP?

We were originally putting them in the same pod, but we were seeing that if we restart a container within that pod, it cannot re-bind to a published port unless we restart the _entire_ pod, which is not

[2020-04-07 14:19] AkihiroSuda commented on #5740
I suggest using UNIX sockets

[2020-04-07 14:19] mheon commented on #5750
One of the goals of Podman's APIv2 is to allow `docker compose` to run against a Podman backend, which I think satisfies the spirit of this request. The Podman team is not presently looking at making a `podman play compose` that would directly run Compose files, but if someone else were to implement and contribute one, we'd be happy to take a look and merge it.

[2020-04-07 14:37] rhatdan commented on #5747
Well if the container is running podman stop will stop the container, then conmon realizes that the container has stopped, and then execs `podman container cleanup` to cleanup the container.  This is where the race happens.
We could make podman stop wait for the container to enter the stop state or disappear, but it could wait for a very long time,

[2020-04-07 14:38] mheon commented on #5747
Hmmmm. I think that, right now, `podman stop` does not provide a guarantee that a container has been cleaned up immediately after exit (we instead wait for the cleanup process to do it). I'm not sure if this is desirable, though. If we want to add such a guarantee, it would be trivial to make `podman stop` call `ctr.Cleanup()` immediately before exiting.

[2020-04-07 14:38] wardev opened #5751 "Docker incompatibility: Podman fails if user's uid/gid is mapped in subuid/subgid"
/kind bug

**Description**

I would like podman to use all of the uid/gid mappings in subuid/subgid, which Docker currently does. It seems that currently podman only uses the first one.

**Steps to reproduce the issue:**

On Ubuntu 18.04, using podman 1.8.2 installed from kubic repo.

[code]
Output from podman:

[code]

I expected to container to be run with a user name space that includes 1001,12

[2020-04-07 14:39] mheon commented on #5751
I recall hearing that this is a limitation of the `newuidmap`/`newgidmap` utilities, but @giuseppe would know more

[2020-04-07 14:40] mheon commented on #5745
Running as root, or rootless?

[2020-04-07 14:48] mlezajic commented on #5745
Hi @mheon,
thanks for the quick response. We operate podman in rootless mode.

[2020-04-07 14:48] wardev commented on #5751
Also I forgot to mention. Thanks for making podman! Once I figured out the workaround it is already a big improvement over Docker in terms of flexibility and configurability. Thanks for all your time making this.

[2020-04-07 15:03] giuseppe commented on #5751
I think the issue is in podman.  newuidmap/newgid map supports multiple ranges

[2020-04-07 15:03] rhatdan commented on #5747
Wouldn't that give you a race as well, in that the container would still be running?  Or at least podman container cleanup would fail.

[2020-04-07 15:07] mheon commented on #5747
I think we guarantee that the container is stopped after the `Stop()` API call - it's just that we don't actually verify that the cleanup has completed when `podman stop` exits.

[2020-04-07 15:09] giuseppe commented on #5751
I get the multiple mappings:

[code]

@wardev could you try to recreate the user namespace with `podman system migrate` ?

[2020-04-07 15:09] marusak commented on #5741
absolutely, just ping me in the PR when it is testable and I'll try it out.

[2020-04-07 15:53] storrgie commented on #5740
Could you elaborate further? Some of the things you'd mentioned are not extremely obvious (e.g. the `--net=host` thing I'd not even spotted until you'd mentioned it).

[2020-04-07 16:18] AkihiroSuda commented on #5740
See https://docs.mattermost.com/install/sockets-db.html . You will need to create shared volume for `/run`.

In Rootless Podman, each of containers has its own network namespace. i.e. each of containers have  its own "localhost" which is different from "the real localhost".
`podman run --net=host` disables network namespace so that the container can access "the real localhost" as "localhost".

[2020-04-07 17:23] #5746 closed

[2020-04-07 17:32] #5006 closed

[2020-04-07 18:15] mheon commented on #5745
Possibly related to #5740

[2020-04-07 18:32] wardev commented on #5751
I tried using `podman system migrate` in both configurations. It seems to have the same effect of killing all podman processes. i.e. nothing new to report.

With both entries in the subuid/subgid files I see:

[code]

With only the second entry in the subuid/subgid files I see:

[code]

I tried adding another entry to the subuid file and it works as long as the entry for my uid is not present. Per

[2020-04-07 19:29] rajveermalviya commented on #5750
ok, that would be great!

[2020-04-07 19:41] rhatdan commented on #5750
This is not something the core team would work on, but if the community wants to build it, we would certainly consider merging it.

[2020-04-07 19:47] giuseppe commented on #5751
in the first case, podman tries to create a namespace using new*idmap using twice the same mapping, in your case.  That fails because the kernel does not accept the same id mapped twice.  Then Podman fallbacks to create the namespace with just one id mapped, that doesn't require newuidmap.

Your user id should not be present in /etc/subuid, as it can be already used without an explicit mapping.

[2020-04-07 20:12] wardev commented on #5751
Removing my uid from /etc/subuid was the workaround I found.

To enable the same behavior in Docker my uid must be the first entry in /etc/subuid. I.e. docker doesn't insert an entry for my uid. So this is a difference between docker and podman. At least it should be documented. It would be nice if podman could check if my uid is already in the mapping and skip adding it again so that I can run do

[2020-04-07 20:25] rhatdan commented on #5751
PRs often help these things forward...

[2020-04-08 01:49] prozyworld opened #5757 "as it has active exec sessions: container state improper"
现在容器不能删掉 rm -f 也不行 报as it has active exec sessions: container state improper错误

container use (rm -f) cannot delete. output error as it has active exec sessions: container state improper

Version:            1.4.4
RemoteAPI Version:  1
Go Version:         go1.10.3
OS/Arch:            linux/amd64

[2020-04-08 06:11] marusak commented on #5599
@jwhonce were you able to reproduce this or find any problem that could cause this behaviour?

[2020-04-08 06:52] giuseppe commented on #5416
we have an updated conmon for Fedora 31 now.  Closing the issue

[2020-04-08 06:52] #5416 closed

[2020-04-08 07:01] giuseppe commented on #5751
Podman doesn't require any tweak of `/etc/subuid` and `/etc/subgid` files.  Recent versions of `useradd` automatically create a range for new users and that doesn't include the user own ID mapping.   That is not needed anyway since `newuidmap/newgidmap` already allows to add it even if not specified in the `/etc/sub*id` files.

Said so, I am fine if we add a check in Podman to skip the mapping if

[2020-04-08 08:14] jcassee commented on #5296
@lsm5 Thought the podman-rootless packages would be available by now, but it does not seem to contain binaries:

[code]

[2020-04-08 08:47] mlezajic commented on #5745
#5740 talks about the port mappings being lost. This seems not to be the case here as

<code>podman port -l</code>

still lists the ports exposed by the pod even if the pod becomes inaccessible after the first connection attempt.