[2021-08-10 12:48] Luap99 commented on #10806
@edsantiago So you just run `PODMAN=./bin/podman bats ./test/system/` and the system test succeeded but the iptables rules are still there?

[2021-08-10 12:57] edsantiago commented on #10806
I haven't run a before/after comparison of iptables rules. I'm just reporting that, after running the test, that port is forever gone.

[2021-08-10 13:00] mipopescu commented on #10593
As this is the first time that I wrote on a bug, I do not know if I comply with the rules, but it might help.

Same problem here (not within 24h)

Users using rootless containers with --userns=keep-id flag and local volume mounted.
They are using cockpit to start/stop containers.

OS: Red Hat Enterprise Linux release 8.4 (Ootpa)

$ podman version
Version:      3.0.2-dev
API Version:  3.0.0
Go Vers

[2021-08-10 13:06] mheon commented on #10360
Working on this now

[2021-08-10 13:07] mheon commented on #10593
@rhatdan @jwhonce @baude Might want to give this one some priority?

[2021-08-10 13:24] Luap99 commented on #10806
OK, I think I know the problem. Can you confim that `XDG_RUNTIME_DIR` is set to `/run/user/0` when you run the tests? If so can you unset `XDG_RUNTIME_DIR` and try if it now works correctly.

[2021-08-10 13:30] MICOC commented on #5306
Please search conmon.pid in your /runroot/... folder and delete the file.
Delete all content in the /tmp/runXXXX folder. Stop Start podman. No reboot is needed.
Please give feedback if this solution works for you.

[2021-08-10 13:37] sudhirtomar opened #11181 "Podman version 3.0.2 failed to pull localhost images, everytime trying to pull from registry"
I am trying to use podman existing images but it's failing, either it's failing to load the image from localhost or it's going to pull the image from registry -

`podman --version`
podman version 3.0.2-dev

OS - RHEL 8
----------------------------------------------------------------------------------
`podman images`
REPOSITORY            TAG           IMAGE ID      CREATED        SIZE
localhost/sp

[2021-08-10 13:48] developedsoftware opened #11182 "--uidmap does not apply to mounted volumes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a RHEL UBI 8 init container (CMD /sbin/init) that is starting a SSH deamon. I understand that when I run rootless the ROOT user is mapped to my rootless user on the host. And writing files inside a volume as root inside the container get written to host as my rootless user (great!).

H

[2021-08-10 13:51] edsantiago commented on #10806
Confirmed: by default, on login on a 1minutetip f34 VM:
[code]
If I `unset XDG_RUNTIME_DIR` before running the first command in the reproducer, the final `nc` fails with `ECONNREFUSED` (good) instead of timeout.

[2021-08-10 14:10] kbi-user commented on #10593
Current findings/impressions:

1. Using cockpit by just logging in and looking at overview almost doubled open files of the user (rootless podman). Went up to 74K open files of that user alone for 50+ container. I know I had cockpit perma-on today when building.
2. Something looks weird, when gvfsd is also up. Can't fingerpoint it. Just some journal entries in similar time frames.
3. On normal and

[2021-08-10 14:12] mheon commented on #10593
Ah - I believe @jwhonce is working on FD leaks right now

[2021-08-10 14:29] mheon commented on #11182
Podman offers a `:U` option to recursively chown the volume mounted in to the appropriate permissions for the user and group in the container, which should take UID and GID maps into account. Would this suffice?

[2021-08-10 14:32] mheon commented on #11181
When you are using `podman run`, you seem to be referring to the image as `localhost/sc4slocal`, but when you are using your systemd unit file you are only using `sc4slocal`. Does it work if you use the full `localhost/sc4slocal` path in the systemd unit?

Also, I note that this looks like a custom-crafted systemd unit - we strongly recommend you use `podman generate systemd` to produce unit files

[2021-08-10 14:34] #10884 closed

[2021-08-10 14:37] mheon commented on #11157
The `exec` line is an event, and it will always appear, regardless of log level; we're logging the status of the exec into the container. The `healthy` line could be trimmed, though.

[2021-08-10 14:38] sudhirtomar commented on #11181
@mheon
When I use full localhost/sc4slocal path it will give error like below

[Service]
Environment="SC4S_IMAGE=localhost/sc4slocal:offlineimage"

systemd[1]: Started SC4S Container.
podman[3054347]: Trying to pull localhost/sc4slocal:offlineimage...
podman[3054347]: time="2021-08-10T12:37:16Z" level=warning msg="failed, retrying in 1s ... (1/3). Error: Error initializing source docker://localhos

[2021-08-10 14:40] developedsoftware commented on #11182
`Error: invalid option type "U"`

What version is that option available?

[2021-08-10 14:42] mheon commented on #11172
@nalind PTAL - This looks like rootless Podman using native overlay - possible this is the whiteout issue?

[2021-08-10 14:57] nalind commented on #11172
It's using native overlay for sure (there's no "mount_program" listed in the store.graphOptions), but the errors we would see when we get that wrong would show up as items which should have been deleted in a lower layer "reappearing" alongside their ".wh."-prefixed whiteouts.

 "shifting not enabled" usually means that the storage library records that the layer's set up to be used with one set of

[2021-08-10 15:00] umohnani8 commented on #7706
Added the --userns flag in https://github.com/containers/podman/pull/10589

[2021-08-10 15:00] #7706 closed

[2021-08-10 15:01] #8269 closed

[2021-08-10 18:00] sudhirtomar commented on #11181
@mheon

With help of `podman generate systemd` create the new unit file.

[code]

## With above configuration podman started successfully with container-splunksyslog.service
[code]

[code]

### But when I am checking the podman logs, I am seeing below errors.
[code]
I am unable to identify, why this issue is occurring.

Also If I am trying to run with
[code]
then service is not starting.

I have m

[2021-08-10 18:09] rhatdan commented on #11172
@giuseppe PTAL
Is this an issue where fuse-overlayfs had builtin shifting and native overlay does not?

[2021-08-10 18:59] lsm5 opened #11187 "commands not found when exec-ing container as non-root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Exec-ing into a container as a non-root user doesn't let me access any commands

**Steps to reproduce the issue:**

1. Start container
[code]

2. Exec container as non-root user
[code]

3. Try running any command in container
[code]

4. If I exec the same container as root I can find `/usr/bi

[2021-08-10 19:05] lsm5 commented on #11187
So, this was a mistake in the way I was setting PATH in my bashrc. Closing ..

[2021-08-10 19:05] #11187 closed

[2021-08-10 19:10] Shivkumar13 commented on #11129
I am working on this issue.

In Progress

[2021-08-10 19:11] giuseppe commented on #11172
it could be an issue where fuse-overlayfs was used to create the container, then the storage switched to native overlay and we have lost the capability of shifting the layer at runtime.

[2021-08-10 19:26] rhatdan commented on #11157
"healthy" should be eliminated, and I agree that the healthcheck unit should match up with the unit file it is checking.

[2021-08-10 19:39] rhatdan commented on #11182
I think Podman 3.1

[2021-08-10 19:48] edsantiago opened #11188 "podman build: error in copier subprocess: Inconsistency detected by ld.so: ../elf/dl-tls.c: 561: _dl_allocate_tls_init: Assertion `listp->slotinfo[cnt].gen <= GL(dl_tls_generation)' failed!"
New one-off flake in the big-scary podman build test, on [ubuntu 2010 root](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5226211992403968/html/sys-podman-ubuntu-2010-root-host.log.html#t--00112):
[code]
This is not an assertion in the podman source tree. I suspect there's not much to be done on our end.

[2021-08-10 19:51] edsantiago commented on #10926
Just a quick comment to reset the nagbot. This is still happening often:

### Podman network [It] podman network prune
* fedora-33 : int podman fedora-33 root container
  * PR #11176
    * [08-10 05:54](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5085474504048640/html/int-podman-fedora-33-root-container.log.html#t--podman-network-prune--1)
* fedora-

[2021-08-10 20:00] edsantiago opened #11189 "[rare] containers in same pid namespaces: readlink: EPERM"
I'm not even going to try to reproduce this one. Symptom is:
[code]
Unfortunately there's no indication of where in the source code that `readlink` is happening nor what it's trying to read.

Only three instances, the first two in June:

### Podman top [It] podman pod top on pod with containers in same pid namespace
* fedora-33 : int podman fedora-33 rootless host
  * PR #11176
    * [08-10 06:00]

[2021-08-10 20:08] edsantiago opened #11191 "podman run --cgroups=disabled: missing "supervisor""
One of the integration tests is flaking when reading `/proc/NNN/cgroup`:
[code]
### Podman run [It] podman run with cgroups=disabled runs without cgroups
* fedora-33 : int podman fedora-33 root host
  * PR #11176
    * [08-10 05:55](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5314172922626048/html/int-podman-fedora-33-root-host.log.html#t--podman-ru

[2021-08-10 20:11] rhatdan commented on #11191
Can we change the test to be less specific?  I /supervisor critical to the test?

[2021-08-10 20:17] edsantiago commented on #11191
The test itself doesn't have any `supervisor` in it; it's just comparing `/proc/self/cgroup` to `/proc/CONTAINERPID/cgroup`. (I think). git blames @mheon in #3581. Matt, how's your memory?

[2021-08-10 20:31] edsantiago commented on #10296
I have the gating-test fixes necessary to run toolbox-tests as part of podman gating tests in rawhide. They pass using `toolbox-0.0.99.2^3.git075b9a8d2779-1.fc35.x86_64` from the above koji link.

@containers/podman-maintainers where do we want to go with this? Are we really OK with running these tests as part of our rawhide gating?

[2021-08-10 20:38] edsantiago commented on #10296
[the diffs](https://src.fedoraproject.org/fork/santiago/rpms/podman/diff/rawhide..add_toolbox_gating). I am not pushing to fedpkg, nor even submitting as a PR, because (1) the `^3` build is not yet in stable, and (2) we need discussion from the podman team.

[2021-08-10 22:32] kbi-user commented on #10593
@jwhonce and @mheon 8 hours later, no leak... Thats what I did:
1. doubled file descriptors to 512288
2. pushed cockpit and had it on for ~2 hours: open file descriptors spiked beyond 100K for the rootless pod user.
3. Optimized my containers, reducing amount of open files by the container drastically - open files are now quite consistent around 30K (sorry, work must be done)

Results:
- cockpit *

[2021-08-10 23:10] sdhoward commented on #9727
just to fix the label: this issue is persistent and not stale

[2021-08-10 23:17] mheon commented on #11191
This test verifies that the container is running as the same cgroup that launched it if we run with `--cgroups=disabled`. An exact match is important as such. The test itself is sound. I can think of no obvious reason why it would not be failing.

[2021-08-11 02:38] mheon commented on #7479
I now know how this works on the server side. Accomplishing it on the client side could be tricky, mostly from perspective of exposing the right method to get it to happen. Could be a good 4.0 candidate since I think it could be a breaking change.

[2021-08-11 07:47] infiniteregrets opened #11194 "Ignore files/directories while using podman container cp?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**
While using podman container cp to copy files between a container and the host, I realized that there is no way to ignore a file or a directory. Having a cli argument just like `--cidfile=...` would be really nice in this case and might look like `--ignore=ignore.txt`

**Output of `podman v

[2021-08-11 08:38] ssbarnea opened #11196 "Make use of remoting support consistent between platforms (CONTAINER_HOST)"
/kind bug

**Description**

Based on discussions made yesterday on irc, I will try to describe what we should do in order to ensure that podman command line works similarly across all platforms.

At this moment on non-linux platforms we do not install `podman-remote` and instead we have a `podman` executable which is acting like `podman --remote`. If I understood @mheon correctly, **there are no d

[2021-08-11 10:05] Hyper200 opened #11197 "Rootless Containers: no such file or directory: OCI not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install RHEL 8.4

2. Install Podman

3. reboot

4. podman create docker.io/library/registry:2

5. podman start container_name
**Describe the results you received:**
Error: unable to start container "2820a02215ef24c41d2eee82167c1a911cbfd44e6b8d9649295dcdac

[2021-08-11 12:14] kbi-user commented on #10593
@jwhonce and @mheon I took the time and checked closely the past 22 hours.

Final statement: no bug from my side anymore on version 3.0.2-dev (RHEL)

Reasons:
1. I underestimated my open files per container at peak times.
2. Starting many containers in a short time (20+) escalated the issue obviously.
3. podman and containers close open files nicely over time. Sometimes it takes longer than expect

[2021-08-11 12:45] chuanchang opened #11199 "[e2e] e2e tests are failure when setting STORAGE_OPTIONS environment variable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. export STORAGE_OPTIONS="vfs"

2. make ginkgo
or
ginkgo -v -focus "podman image List" -debug test/e2e

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. i

[2021-08-11 13:01] rhatdan commented on #11191
@giuseppe thoughts?

[2021-08-11 13:05] #11199 closed

[2021-08-11 13:08] mheon commented on #11140
Concur - it doesn't sound like Podman is doing anything wrong here. I think we need to ask the systemd team what is going on.

[2021-08-11 13:19] chuanchang opened #11201 "[e2e] tests are failure when setting STORAGE_OPTIONS="--storage-driver overlay""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1. export STORAGE_OPTIONS="--storage-driver overlay"

2. make ginkgo
or
ginkgo -v -focus "podman image List" -debug test/e2e

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you d

[2021-08-11 13:26] rhatdan commented on #9229
I believe @jwhonce is working on this now.

[2021-08-11 13:28] rhatdan commented on #5196
This should now be available in rawhide.  Containers/storage has been merged into main.

[2021-08-11 13:28] #5196 closed

[2021-08-11 14:28] rhatdan commented on #11194
It would probably be best to use .containerignore syntax for this (.dockerignore)

[2021-08-11 14:57] #10745 closed

[2021-08-11 14:57] #10806 closed

[2021-08-11 15:11] mheon commented on #11197
Missing PID cgroup controller, possibly?

@giuseppe Haven't we dealt with this one recently?

[2021-08-11 15:16] Hyper200 commented on #11197
Hi All,

I used crun, that made no diffrence (the error message changed slighly), after a bit of redhat support and some digging i found out that our systemd user sessions where not starting with the error:

Aug 11 11:34:05 svd-log-01 systemd[1893]: PAM failed: Conversation error
Aug 11 11:34:05 svd-log-01 systemd[1893]: user@1007.service: Failed to set up PAM session: Operation not permitted

It

[2021-08-11 15:31] afbjorklund commented on #11196
Pretty sure we talked about this before.(~#4390~ ~#8070~) And that it ended up being required, and different:

https://minikube.sigs.k8s.io/docs/handbook/pushing/#3-pushing-directly-to-in-cluster-cri-o-podman-env

I think the end solution was _going away_ from using environment variables altogether, and invent "connections" ?

The `podman-remote` or `podman --remote` was still required, though. Th

[2021-08-11 15:36] mheon commented on #11196
We are coming up on 4.0, so if there is a time to revisit this and make breaking changes, it is now.

I do wonder if this should be configurable - have a `containers.conf` field to set a preference between local Podman and remote connections.

[2021-08-11 15:42] afbjorklund commented on #11196
Wouldn't that just mean having one instruction for podman3 and one for podman4, in Python-style ?

Currently we got stuck on podman2, since someone reverted my go compiler upgrade (that was needed)

[2021-08-11 15:42] mheon commented on #11197
Hm. That's actually a very strange error message for a missing systemd user session - I would have expected us to blow up trying to talk to the systemd dbus session in order to create a cgroup (which would also be a bad error message, but would provide a lot more breadcrumbs than this one).

[2021-08-11 15:51] Nurlan199206 commented on #4251
someone can help me with `copying blob 0 bytes`? maybe need open additional ports on network device?

podman pull quay.io/openshift-release-dev/ocp-release@sha256:3e59cff6101b0f0732540d9f2cf1fe9c7ea5ab1e8737df82e789eeb129d1a9af
Trying to pull quay.io/openshift-release-dev/ocp-release@sha256:3e59cff6101b0f0732540d9f2cf1fe9c7ea5ab1e8737df82e789eeb129d1a9af...
Getting image source signatures
Copying

[2021-08-11 15:51] yrro commented on #5431
Is listening to PropertiesChanged? `dockerd` doesn't listen to it...

This one is probably better done by watching for the `NameOwnerChanged` signal sent when `firewalld` starts up.

These are the two signals that docker listens to so that it can re-apply its iptables rules at the right time: https://github.com/moby/libnetwork/blob/64b7a4574d1426139437d20e81c0b6d391130ec8/iptables/firewalld.go#L12

[2021-08-11 15:56] mtrmac commented on #4251
@Nurlan199206 Please open a separate issue, don’t pile onto this one, unless there’s a clean connection. It’s always easier to merge two conversations than to teas them apart.

And _in the new issue_ please explain what exactly is failing; this looks like the image was pulled correctly, and we are only showing incorrect progress bars (https://github.com/containers/image/issues/1013 ).

[2021-08-11 15:59] afbjorklund commented on #11196
I think there was a "remote" flag added to containers.conf, last time around ? https://github.com/containers/podman/issues/8070#issuecomment-733363430

       --remote=true for access to the remote Podman service.

[2021-08-11 16:06] benyaminl commented on #4251
@mtrmac please lock this conversation sir so not more people are bumping here.

[2021-08-11 16:10] afro-coder commented on #5431
Hey @yrro
I was about to create a pull request with the previous systemd scripts I tested yours on a centos 8 machine and it works, now I'm confused if I should add all three systemd scripts, the previous systemd script doesn't work on RHEL?

[2021-08-11 16:15] ssbarnea commented on #11196
In fact configurable using config files and/or environment variables is an implementation detail. Both are good and usually env takes precedence over config files, as way to switch the implicit option.

What i find key in that feature is that calls made to podman via cli or API should not need to be patched when config is changed. For example we have some ansible code that talks with podman with b

[2021-08-11 16:17] afbjorklund commented on #11196
I guess the suggestion is for remote to be true, and then have it "fall back" on just running if no host or connection is found ?

That is, to allow for the `podman-remote` binary to replace the `podman` binary also on Linux (if it now can do both of them)

[2021-08-11 16:18] afbjorklund commented on #11196
We have a problem when running multiple "profiles" / clusters, in that the configuration file is shared between shells but the environment variable is possible to set to different things for each shell.

[2021-08-11 16:48] yrro commented on #5431
My unit is working on a RHEL 8 machine, I haven't tested on 7. My goal was to write a single unit to replace the two units provided by @ranjithrajaram, using the same D-Bus signals that Docker uses to install its iptables rules after firewalld is started/reloaded.

If you want to incorporate it, some thoughts:

* I don't know if `Wants=` and `After=` are necessary and/or a good idea. Maybe a syste

[2021-08-11 18:14] rugk commented on #4119
shh #badbot :no_bell::robot::no_bell:

…that does still not mean the issue is magically solved.

[2021-08-11 19:01] flouthoc commented on #11197
@Hyper200 @mheon I think following controllers are mandatory for `rootless cgroup v2`: `cpu cpuset io memory pids` , @Hyper200 could you please share output of `cat /proc/self/cgroup` and `cat /proc/cgroups`. If above controllers are not their consider enabling them.

[2021-08-11 19:42] jyennaco commented on #10800
+1 on this issue, our containers running rootless podman on Red Hat 8 stopped working once we updated from 3.0.2 to 3.2.3. Same error message as in the original port.  The workaround mentioned above, adding `--cgroup-manager=cgroupfs` to the `podman pod create` seems to be working for now.  Keeping an eye out for a fix.  Thanks!

[2021-08-11 20:10] cdoern commented on #11189
I've run into a bunch of these, mostly from incorrectly assigning bind bmounts in `SpecgenToOCI()` or `makeBindMounts()`, my guess is that --infra=false is causing the pod/the containers joining it to incorrectly set `WithPIDNsCTR` and the runtime spec is getting incorrectly set up?

[2021-08-11 20:12] banool opened #11207 "podman rm --storage fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a container that I cannot start because it says the name is already in use, but I can't delete the resources related to the name.

**Steps to reproduce the issue:**
Try to start container, see that it fails:
[code]

The container isn't actually there, but try to remove it:
[code]

**De

[2021-08-11 20:17] rhatdan commented on #4119
@cdoern PTAL

[2021-08-12 00:49] storrgie commented on #11172
How would one examine to see if they have fallen into this case?

[2021-08-12 01:45] #11012 closed

[2021-08-12 02:15] cdoern commented on #10379
working on this, contingent on #10933 which is the infra container rework

[2021-08-12 07:46] Hyper200 commented on #11197
As Requested

 cat /proc/self/cgroup
0::/user.slice/user-1002.slice/session-48.scope
 cat /proc/cgroups
#subsys_name    hierarchy       num_cgroups     enabled
cpuset  0       359     1
cpu     0       359     1
cpuacct 0       359     1
blkio   0       359     1
memory  0       359     1
devices 0       359     1
freezer 0       359     1
net_cls 0       359     1
perf_event      0       359

[2021-08-12 08:29] flouthoc commented on #11197
ah i missed reading https://github.com/containers/podman/issues/11197#issuecomment-896914876 , but indeed error message does not seems related at all :confused: . @Hyper200 is this resolved for you by making sure user sessions are up.

@mheon @giuseppe I am not sure but should we check at podman layer if there are no sessions available and end early with more intuitive error message ?

[2021-08-12 08:50] Hyper200 commented on #11197
@flouthoc  no worries - Sorry i though that infomation was helpful for you in another way!

I would welcome a better error message (having had to figure out on my own that it was related)

[2021-08-12 09:46] starnight opened #11209 "Podman cannot access /proc/sys/net/ipv4/ping_group_range, then fails to create a new container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman cannot access `/proc/sys/net/ipv4/ping_group_range` when I try to have a new container.  So, failed to create the new container.

**Steps to reproduce the issue:**

1. `podman run -it --name test docker.io/library/alpine:latest sh`

**Describe the results you received:**

Get the resul

[2021-08-12 09:53] mattiasgiese opened #11210 "Starting containers fails with message 'open /proc/sys/net/ipv4/ping_group_range : no such file or directory: oci runtime attempted to invoke a command that was not found'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to create/start containers fails with the error message `open /proc/sys/net/ipv4/ping_group_range : no such file or directory: oci runtime attempted to invoke a command that was not found`
This affects both unprivileged users as well as root.

**Steps to reproduce the issue:**

1. Run

[2021-08-12 10:14] Luap99 commented on #11210
Duplicate of https://github.com/containers/common/issues/723, look there for a workaround.

[2021-08-12 10:14] #11210 closed

[2021-08-12 10:14] Luap99 commented on #11209
Duplicate of https://github.com/containers/common/issues/723, look there for a workaround.

[2021-08-12 10:14] #11209 closed

[2021-08-12 10:41] HarryMichal commented on #11172
I accidentally purged the whole Podman state on my machine so I no longer have access to the affected container...

I added a new user some time ago but that involved a different set of problems and should not be related to this. The container was created after that change.

[2021-08-12 10:41] #11172 closed

[2021-08-12 10:47] marschal commented on #8027
Has this issue now been resolved? As I'm experiencing the same issue on a clean installed Ubuntu20.04 machine. Even if I remove all firewalld / ufw firewalls I can't access exposed container ports.
The same with docker runs just fine.

[2021-08-12 13:25] infiniteregrets commented on #11194
I asked this on irc, and afaik since there are no logs no one would have seen this.

I am a bit confused regarding how a .containerignore/.dockerignore file is applied while building an image in buildah. I can see that when we create a new executor https://github.com/containers/buildah/blob/ea7127cf6983345bc0337855fc9fd8ed7b8403d8/imagebuildah/executor.go#L137 we do parse the ignore file and add i

[2021-08-12 13:42] cdoern commented on #11158
thanks @Luap99, that will help me figure this out. I will get on it today

[2021-08-12 14:49] giuseppe commented on #11191
we create the `/supervisor` sub-cgroup only when the cgroups mode is set to `--cgroups=split`:

[code]

I don't see any other way of ending up under `/supervisor`.

One thing we could try to make the test more robust is to avoid going through its PID to read the cgroup with `--cgroupns=host` as:

[code]

[2021-08-12 14:59] storrgie opened #11213 "Bind mounts permissions issues on ZFS?"
I've been happily cruising along using Fedora+ZFS+Podman to run a variety of services. I am deploying these in what I think is the recommended pattern based on interacting with podman for a little while now. Some other contexts:

 - ZFS installed from the [OpenZFS Packaging](https://openzfs.github.io/openzfs-docs/Getting%20Started/Fedora/index.html)
 - users are created, then subuid/subgid are add

[2021-08-12 15:00] giuseppe commented on #11197
I think the issue on RHEL could be: https://bugzilla.redhat.com/show_bug.cgi?id=1897579

[2021-08-12 15:40] robbmanes opened #11214 "Error while removing volumes deletes entry from podman, which is a deviation from Docker behavior"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When using third-party volume drivers, if the volume driver returns an error when removing a volume (such as with `podman volume rm`) podman will remove the volume entry despite the error.  This is different behavior than Docker or Moby, which instead returns the error and makes no changes to

[2021-08-12 15:55] bcstinch commented on #11213
I can also reproduce this issue on Fedora 34 and podman 3.2.3. However, I am not seeing this issue if I run podman as root.

[2021-08-12 16:03] banool commented on #11207
[code]

Would you look at that. What should I do about this from here?

[2021-08-12 16:29] mheon commented on #11207
@nalind PTAL - I think the error messages here are coming out of storage.

[2021-08-12 17:05] nalind commented on #11207
It looks like `libpod.Runtime.removeStorageContainer()` is checking if `store.Mounted()` returns `storage.ErrContainerUnknown` for the supplied ID, but I don't think it ever returns that error.  `Mounted()` generally expects a layer ID, but internally looks up the one for a container if it's given a valid container ID.  It returns `ErrLayerUnknown` if the container's layer appears to have been rem

[2021-08-12 17:32] mheon commented on #11207
Ack. I'm assuming that error should be non-fatal, and proceeding will successfully remove the image?

[2021-08-12 17:57] nalind commented on #11207
I would expect `DeleteContainer()` using that ID to then succeed or return a multi-error, or `ErrNotAContainer`.

[2021-08-12 18:18] dc25 opened #11220 "slow (minutes delay) start when rinning with --userns=keep-id"
/kind bug

**Description**

podman can take a long time to start when running with --userns=keep-id

Take a look at the following transcript.   Podman run commands that start
quickly slow down when --userns=keep-id is added to the command.   If I run
the same command a second time, it starts quickly.

In this example I use a trivial Docker file that just sets a couple
environment variables to crea

[2021-08-12 18:41] rhatdan commented on #10782
@Luap99 does your change to unset XDG_RUNTIME_DIR for root, fix this issue?

[2021-08-12 18:42] rhatdan commented on #10900
@flouthoc PTAL

[2021-08-12 18:42] rhatdan commented on #10825
@flouthoc PTAL

[2021-08-12 18:44] mtrmac commented on #10782
Do we even know what the issue _is_, yet?

[2021-08-12 18:44] rhatdan commented on #9661
@zv0n Does this issue still persist?

[2021-08-12 20:17] dustymabe opened #11222 "rootless: no DNS for containers within created network + host not using resolved stub resolver"
On Fedora CoreOS we're [currently not using the DNS stub resolver](https://github.com/coreos/fedora-coreos-tracker/issues/923#issuecomment-897933919) in `systemd-resolved`. There was a change in the `podman 3:3.2.2-1.fc34 -> 3:3.2.3-1.fc34` transition that broke DNS for containers within a created network for this case.

Reproducer (on FCOS):

[code]

To get an FCOS machine to test you can use `po

[2021-08-12 20:34] Luap99 commented on #11222
Where is `/etc/resolv.conf` symlinked and what is the content of the file?

[2021-08-12 21:17] banool commented on #11207
In the interim, is there a workaround? I'm happy to nuke all my images / containers if need be.

[2021-08-12 22:05] dc25 commented on #11220
Thank you.

Just to be clear,  this does not happen with the ealier, "podman version 3.1.0-dev", version.    Is chowning the underllying storage something that needs to be done in "podman version 4.0.0-dev" but not in the earlier version?

If there's a fix on the way it doesn't mater much (to me at least) why it's happening but the "chown the underlying storage" explanation feels incomplete (at le

[2021-08-12 23:26] storrgie commented on #11213
@rhatdan would there be something I could do to test that?

I can confirm, this seems to only manifest when I have a user home directory, and the associated bind mounts, on a ZFS dataset. I moved all my applications temporarily to mdadm+xfs and everything comes up as expected.

This is a bit of a pickle. I realize that ZFS is out of tree and all that, also not golden path for RH or Fedora. Wonderi

[2021-08-12 23:43] drobakowski commented on #11222
[code]

[2021-08-12 23:55] ElMassas opened #11223 "Podman log file max size limit not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Upon setting a `log-size-max` as a general container config in `/ect/containers/containers.conf`, podman does not respect this limit and exceeds it.
I've tried this in 3 ways.

**Steps to reproduce the issue:**

_First Way with general config_

1. Create configuration file in `/ect/containers

[2021-08-13 11:37] WhyNotHugo opened #11225 "Healthcheck values don't default to the same as docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When spawning containers, it seems podman does not default to the same values as docker, so creation fails.

A concrete example:

[code]

Running `docker-compose up` works with docker, but with podman fails:

[code]

Docker [has these defaults](https://docs.docker.com/engine/reference/builder

[2021-08-13 11:42] mlegenovic commented on #11220
@dc25 You can workaround the problem with
[code]
in your `~/.config/containers/storage.conf` file.

[2021-08-13 12:56] mattymo commented on #10319
Can we reopen this @mheon?

It looks like the issue is solved incorrectly:
Here's the /etc/hosts in the container:
[code]

My podman is the latest container build: 94886d4abad7787cb920614ed26955ca36b13846 and it contains your commit.

I have a python application incorrectly detecting its primary IP as 127.0.1.1 instead of 10.244.6.78. As far as I understand, this line shouldn't be present at all.

[2021-08-13 18:18] afro-coder commented on #5431
@yrro you actually got me interested in writing a script 😛 using python, I have zero D-Bus knowledge, however I'm getting there, if I'm unable to complete that I'll add both the solutions and explain the difference between them

[2021-08-13 20:59] tnk4on opened #11226 "[macOS] Cannot start VM with podman machine start because it tries to start gvproxy from `/usr/libexec/podman/gvproxy`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I run `podman machine start` even though I have placed gvproxy in a valid execution path, I get an error that gvproxy is not found in the path and cannot start the VM.

**Steps to reproduce the issue:**

On the Mac client:

1. Get the Podman 3.3.0-rc2 source code and build it

2. Get the

[2021-08-13 22:10] TomSweeneyRedHat commented on #4119
Just noting that https://github.com/containers/image/pull/1193 supplied the credential helpers bit of this along with this issue: https://github.com/containers/podman/issues/4123

[2021-08-13 22:51] dc25 commented on #11220
Thank you.

I also had to add a "drivers" setting which resulted in the following `~/.config/containers/storage.conf` :

[code]
This took care of the slow start for me.

What, if any, cost is there to running with these config settings?  If there's no cost, would it make sense to make them the default?   For that matter, is there a way to display the defaults?  Maybe that has something to do with

[2021-08-14 08:02] afbjorklund opened #11227 "Why does server version show twice, when running with the compatibility socket ?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

More of a question

**Description**

When I run "docker version" or "podman version", I get one client and one server output.

On the remote node:

[code]

But when running docker client towards the podman socket, there are suddenly two ?

i..e two for podman itself, not just one for podman and more for conmon and crun

[2021-08-14 17:43] icsy7867 opened #11229 "DNS not working with containers on a single network."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create a podman network
`podman network create --name external`

2. Create two pods on the same network (Mine are nginx and a mysql container).  Also install iputils-ping in them.  Lets call them some-nginx and some-mysql

3. try to ping one another using

[2021-08-14 19:28] icsy7867 commented on #11229
Doing some poking around, and it looks like our RHEL is pushing 3.0.2-Dev which is an odd thing to push by default so I am looking into that.

I have also noticed that the DNS plugin is not present.
[code]
Show that there is no DNS plugin.  So I tried adding this:
`sudo nano /etc/cni/net.d/test.conflist`

After doing so `sudo podman network inspect test` seems happy, but when I try to launch a con

[2021-08-15 04:18] Rayqan commented on #10941
Any update? I Encountered this as well, however I seem to be getting another error:
[code]
Without keep-id everything works perfectly.

[2021-08-15 09:48] guss77 commented on #9290
@matejvasek - was the "networkmode" value issue ever solved? I'm also getting this in `docker build` with Podman 3.0.1 on Ubuntu 21.04.

[2021-08-15 12:43] flouthoc commented on #11229
@icsy7867 try
[code]

[2021-08-15 17:40] icsy7867 commented on #11229
Thank you!  I'll try this.

So I need to install Dnsmasq separately?

[2021-08-15 19:10] banool commented on #11207
For anyone else who is having this issue, I ran this:
[code]
This completely nukes every container and image, so use this with extreme caution, but it fixed my issue.

[2021-08-16 04:00] flouthoc commented on #11229
yup you can update glibc as well.

[2021-08-16 04:32] flouthoc commented on #10900
Destination path inside containers should be always validated as
*nixtype absolute path. So I think check should be fixed

So its recommended to use path.IsAbs() instead of filtepath.IsAbs() for destination checks. Since filepath.IsAbs() will use path_windows on windows host but destination path inside the containers should always be of *nix type.

[2021-08-16 04:41] flouthoc commented on #10825
@edsantiago are we experiencing this issue anymore, could you point me to any more such cases. Maybe the root cause is underlying infra running out of memory, I'll try recreating this.

[2021-08-16 07:58] Luap99 commented on #11222
Thank you, I will work on this today.

[2021-08-16 08:01] Luap99 commented on #10319
@mattymo Did you created a new container? I do not know if this works for already existing ones.

[2021-08-16 08:10] Luap99 commented on #11229
The dnsname plugin can be installed with `dnf install podman-plugins`. There is no need to build from source.

[2021-08-16 08:10] #11229 closed

[2021-08-16 08:16] flouthoc commented on #11229
yes you can install from dnf as well, but i think you'll still need to update glibc if that is not updated as a dependency.

[2021-08-16 08:20] vrothberg commented on #8941
Since we're targeting 4.0, I think it's a good moment to make this change.  Add a `--no-trunc` (default: false).  I think it's unlikely to break existing users since the JSON output shouldn't truncate.

[2021-08-16 08:25] flouthoc commented on #10900
but we should also move this to server side as @mheon suggested but above PR fixes the use case.

[2021-08-16 08:25] vrothberg commented on #10677
@jmpolom, this should with Podman v3.2+.  `type=notify` is now the default.

[2021-08-16 08:49] sebastian-philipp commented on #11031
Since this morning the Ceph CI is broken due to due to this issue: https://tracker.ceph.com/issues/52279

[2021-08-16 09:01] vrothberg commented on #10875
Auto updates are still tied to systemd.  Once a hypothetical `container update` is done, we can extend `auto-update` to also update containers outside of a systemd unit.

I think that `container update` should take two arguments: 1) container, 2) new image.

[2021-08-16 09:14] vrothberg commented on #11194
This is something we had to implement in buildah/copier first but I am not yet convinced about the use case.  `cp(1)` doesn't support it and I am not sure it's worth the extra complexity.

Files could easily be filtered via `find` if needed which doesn't work during build.

[2021-08-16 09:22] giuseppe commented on #11220
I think we can close this issue as a duplicate of https://github.com/containers/podman/issues/10374

[2021-08-16 09:22] #11220 closed

[2021-08-16 09:23] Luap99 commented on #11222
PR #11230

[2021-08-16 09:35] #11225 closed

[2021-08-16 09:37] mattymo commented on #10319
@Luap99 yes new container. I would agree that existing containers would not be affected since container set up only happens once.

[2021-08-16 09:42] Luap99 commented on #10319
@mattymo Can you share the commands you used to create the container.

[2021-08-16 09:56] infiniteregrets commented on #11194
@vrothberg When I was using podman cp, I had a directory with some python files and a config.py file. I just didn't want to copy that file from the directory and I couldn't figure how to do that with podman.

If you think this might not be as useful, then let me know i'll close this issue

[2021-08-16 11:58] rhatdan commented on #11213
@giuseppe @mheon thoughts?

[2021-08-16 12:02] rhatdan commented on #11226
@ashley-cui Are we not shipping gvproxy?

[2021-08-16 12:08] rhatdan commented on #8452
Since podman 3.3 rc2 has been cut, I am closing this issue.

[2021-08-16 12:08] #8452 closed

[2021-08-16 12:13] ashley-cui commented on #11226
@rhatdan I'm currently working on shipping it via homebrew. Though the gvproxy is not shipped in our tarball that's downloaded from github artifacts.

[2021-08-16 12:15] rhatdan commented on #11227
Looks like a bug in the compatibility layer.
@jwhonce PTAL

[2021-08-16 12:27] rhatdan commented on #10902
@giuseppe PTAL

[2021-08-16 12:28] rhatdan commented on #10354
@stephanritscher Is this still an issue?
@baude did you ever get a chance to look at this?

[2021-08-16 12:29] rhatdan commented on #9976
@mheon do you have time to look at this?

[2021-08-16 12:30] rhatdan commented on #10941
@vrothberg PTAL

[2021-08-16 12:34] storrgie commented on #11213
To report back in:

 - `--volume` appears to not function when the filesystem is ZFS
     + You get an OCI runtime error for whatever filesystem operation you're trying to perform (e.g. `Error: OCI runtime error: mkdir`)
 - `--mount` works just fine, as expected, read/write without issue

I'm not sure if this project is the right upstream to be reporting in, would there be a better place to report

[2021-08-16 12:34] rhatdan commented on #10875
Why do you need a new image?  Shouldn't container update, just go to a registry to see if there is a new image?

[2021-08-16 12:40] vrothberg commented on #10875
No, that would replicate `auto-update`. IMHO the user should (or `auto-update`) should tell `container update` which image to use.  Otherwise, we'll reimplement auto-update.

[2021-08-16 12:47] #11222 closed

[2021-08-16 12:51] sudhirtomar commented on #11181
Podman issue resolved, hence closing this issue.

[2021-08-16 12:51] #11181 closed

[2021-08-16 13:19] edsantiago commented on #10825
I was able to reproduce the failure using the recipe in comment 0. It took about 45 minutes (I didn't add timestamps, I just checked that window periodically). podman-3.3.0-0.26.rc1.fc35 on 5.13.0-0.rc7.20210625git44db63d1ad8d.55.fc35

I don't see any new instances in CI, though; and I don't regularly monitor bodhi failures.

[2021-08-16 13:22] vrothberg commented on #6688
By default, it's setting --sdnotify=conmon where everything's handled on the Podman-side of things.

[2021-08-16 13:27] mheon commented on #11213
Alright, that doesn't make much sense... Under the hood, those should both be kernel bind-mounts, with almost identical options.

Can you include examples of working `--mount` flags vs not-working `--volume` flags? And, ideally, a `podman inspect` of  container with a working mount vs a not-working volume - that should include detailed options for the bind-mounts.

[2021-08-16 13:31] mheon commented on #6688
OK Good. We're set then.

[2021-08-16 13:34] mheon commented on #9976
I can take a look.

[2021-08-16 13:35] baude commented on #11226
ill take this one ...

[2021-08-16 13:57] jmpolom commented on #10677
I experienced inconsistencies trying to get notify units working with podman 3.2.3 and conmon 2.0.29 on Fedora 34. The container image `docker.io/ptr727/dwspectrum-lsio` did not seem to work. The unit remained in the "activating" phase until a timeout was reached. However, the following unit worked:

[code]

Any ideas why this admittedly trivial test unit works and the other does not? Are there so

[2021-08-16 14:00] ashley-cui commented on #11226
@baude just FYI, homebrew doesn't automatically symlink libexec.install (it does for every other location but not libexec) got me tripped up on Thursday..

[2021-08-16 14:02] giuseppe commented on #10902
I think this is fixed in crun with: https://github.com/containers/crun/pull/714

[2021-08-16 14:04] afro-coder commented on #5431
@yrro I was able to write code for this using python3, although I'm not sure about the quality of the code, so anyone out here may add review it and see if it's worth it, I would probably be fine with a one-liner too.
[code]
The code
[code]
However, I'll be adding the previous solutions too, as they work too except on RHEL. It makes more sense that way.

[2021-08-16 14:05] vrothberg commented on #10677
@jmpolom, my apologies.  Podman 3.3.x (not 3.2.x) changed to use `type=notify`.

[2021-08-16 14:09] tobwen commented on #10677
I'm lost now... need to try it for myself. I'm feeling so sad for all the _podman_ users, who are on v3.0.1 now with the release of Debian 11 :(

[2021-08-16 14:10] #10900 closed

[2021-08-16 14:26] rhatdan commented on #10875
Then I am confused about the use case here.  Why do we need a separate command?

[2021-08-16 14:39] jmpolom commented on #10677
Looks like podman 3.3.x is still in rc status. Any package repos for Fedora that provide rc builds? Don't really feel like building myself to test this.

[2021-08-16 14:44] bentito commented on #10944
so after `brew upgrade podman` just now, same system info as above, I am getting:
[code]

[2021-08-16 14:59] bentito commented on #10944
I deleted the old services, so then I just get: ```$ podman system connection list
$ podman info
Error: cannot connect to the Podman socket, please verify that Podman REST API service is running: Get "http://d/v3.2.3/libpod/_ping": dial unix ///var/folders/s2/5qv42zmn6678nhr8sgd2njj00000gn/T/podman-run--1/podman/podman.sock: connect: no such file or directory```

Info for starting service again se

[2021-08-16 15:46] #10612 closed

[2021-08-16 15:49] edsantiago commented on #10296
@olivergs @HarryMichal I believe we have buy-in to enable this in podman. I just did a final review, and hit a showstopper: as best I can see, you do not have a `gating.yaml` in your [source tree](https://src.fedoraproject.org/rpms/toolbox/tree/rawhide): meaning, you do not have gating tests enabled or running on your package. Please enable gating tests on rawhide. Once we see those enabled and pa

[2021-08-16 18:50] rhatdan commented on #10902
@LucaFulchir Please try out new crun, and reopen if this does not fix the issue.

[2021-08-16 18:50] #10902 closed

[2021-08-16 18:53] rhatdan commented on #10677
https://bodhi.fedoraproject.org/updates/FEDORA-2021-94cbb4fa81

[2021-08-16 19:35] matejvasek commented on #9290
@guss77 what is reproducer for this? What does `Dockerfile` looks like? What CLI flags do you use?

[2021-08-16 19:52] matejvasek commented on #9290
OK I can reproduce it on `3.0.1`. On `main` it also fails but not because of `networkmode` but because of auth headers.

[2021-08-16 20:09] matejvasek commented on #9290
It seems to work with `3.2.3` could you please verify @guss77 ?

[2021-08-16 20:12] matejvasek commented on #9290
@guss77 try installing from `kubic` https://podman.io/getting-started/installation#ubuntu

[2021-08-16 20:20] matejvasek opened #11235 "Docker APIv2 build endpoint bug with X-Registry-Config"
Compat build endpoint is not working if user config file `~/.docker/config` contains server key like `https://index.docker.io/v1/`.\
It fails with message:
[code]
This bug was introduced in https://github.com/containers/podman/pull/11028.

[2021-08-16 20:20] matejvasek commented on #11235
/kind bug

[2021-08-16 20:20] matejvasek commented on #11235
/cc @vrothberg

[2021-08-16 20:31] kurt-google opened #11236 "rootfull Podman building is significantly slower than Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Image creation in docker is significantly slower. In my minimal tests it appears to be related to either excessive layer compression or just slower compression speeds in podman. But that may be me mistaking how podman works. This issue has been discussed somewhat it seems on the tracker but u

[2021-08-16 20:33] rhatdan commented on #11236
@nalind @mtrmac WDYT?

[2021-08-16 20:35] guss77 commented on #9290
Indeed - installing 3.2.3 from `kubic` solves the `networkmode` issue with the docker CLI.

[2021-08-16 20:57] matejvasek commented on #11235
to reproduce run
[code]
Where `test.tar` contains some simple `Dockerfile`.

[2021-08-16 20:59] matejvasek commented on #9290
@guss77 note that `build` might be broken again in some new release https://github.com/containers/podman/issues/11235

[2021-08-17 03:40] Srirammkm opened #11237 "Install particular version"
I want to install podman v1.5.0
How can i install a particular podman version?

[2021-08-17 05:34] Searge commented on #10943
Maybe I'll close it for now.

[2021-08-17 05:34] #10943 closed

[2021-08-17 07:31] tnk4on commented on #11226
I was able to podman machine start using the updated v3.3 branch.
Thanks!

[code]

[2021-08-17 07:35] jabr0ni opened #11239 "[Podman 3.2.3] Error: unable to start container ".....": error stat'ing file `/dev/input/event9`: No such file or directory: OCI runtime attempted to invoke a command that was not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**
Unsure of the exact steps, but here are the installatio steps I took to create the container:

1. podman image pull nvcr.io/nvidia/cuda:11.4.1-devel-ubuntu20.04

2.
[code]

3. Entering container as root: `podman exec --interactive --tty cuda200

[2021-08-17 07:55] vrothberg commented on #11237
Thanks for reaching out!  You can compile it from source.  To get the source you can clone the Git repository or download them directly from the release page (https://github.com/containers/podman/releases/tag/v1.5.0).

Note that v1.5.0 is two years old and not supported upstream anymore.  I recommend running the latest version of Podman.

[2021-08-17 07:55] #11237 closed

[2021-08-17 07:58] vrothberg commented on #11239
Thanks for reaching out!

The container was created with `--device /dev/input` and it seems that `/dev/input/event9` wasn't present anymore after the reboot.  I think that Podman behaves correctly.  @giuseppe @Luap99 can you confirm?

[2021-08-17 08:00] jabr0ni commented on #11239
No worries, thanks for the quick reply! If that is the case, what can I do to avoid this happening again? Would I need to omit the `-- device /dev/input` arg, or something else?

[2021-08-17 08:14] vrothberg commented on #10677
@tobwen, I am extremely happy about Podman being part of a stable Debian release.  It has been over two years of work.  If some users desire more recent versions (of any software) they use Debian testing or experimental; or Fedora :^)

Not to my knowledge.  The most notable change was to move the units over to `type=notify` and enforce `--sdnotify=conmon` by default.

[2021-08-17 08:15] vrothberg commented on #11235
@saschagrunert @mtrmac PTAL

[2021-08-17 08:43] olivergs commented on #10296
Hi @edsantiago. Ok. I'll work on that during the week and tell you when ready.

Thanks!

[2021-08-17 08:56] jabr0ni commented on #11239
Another observation I have just made - I was creating a seperate container for ubuntu18.04 and after creating that I decided I wanted to see what other errors my cuda2004 container was giving, however to my surprise the container was able to be started and entered without any issues. I used a similar `podman run` command with the `--device` arg taking the same `/dev/` instances.

[2021-08-17 08:56] vrothberg commented on #10875
`podman auto-update` is currently limited to systemd. What we want is a way to lift that limitation and allow for auto updating ordinary containers. To get there, we need a way to clone a container and then make it run on another new image.

Thinking about it, I am not whether we want to expose that new functionality to the user or not - or in which way.  But if `auto-update` and `container update

[2021-08-17 09:26] lukasbestle commented on #10875
I like the idea to name the command `rebase`. It would be a lot less confusing next to `auto-update`.

A minor disadvantage of the `rebase` name would be that it wouldn't fit for option changes. E.g. you might want to replace a container with a new one that has slightly different options (in which case Podman would take the old options and override the passed ones).

Another name idea that would f

[2021-08-17 09:57] vrothberg commented on #11239
I think that using mounting volatile devices can always be an issue if the expectation is that the container can be restarted after reboot.

[2021-08-17 11:00] saschagrunert commented on #11235
@matejvasek would it be possible to get the output of `debug.PrintStack()` if you put it there?
https://github.com/containers/podman/blob/8c228bdbd031e5930e6319e8fe25b3ff340919f3/vendor/github.com/containers/image/v5/pkg/docker/config/config.go#L749

[2021-08-17 13:11] vrothberg commented on #7316
IMHO, the only way to prevent hanging is to change the default of `--sdnotify` from "container" to "ignore";  `runc` is blocking until it receives the READY message from the container.

[2021-08-17 13:34] mheon commented on #11214
Going to try and get this one in for 3.3 final

[2021-08-17 13:49] mheon commented on #11227
We seem to be missing Git commit (seems useful), an "experimental" flag (I assume this means "this is not a formally-published release"?), and versions for Containerd and Runc (we don't use containerd and may not use runc - maybe replace with Conmon and OCI Runtime version?)

[2021-08-17 14:11] AriFordsham opened #11247 "How to enable systemd in containers?"
Where can I get containers for running systemd inside podman? Is it only the Fedora containers from the Fedora registry?

What needs to be done to modify a container to run systemd inside it on podman? I would like to run Ubuntu.

[2021-08-17 14:36] vrothberg commented on #7316
Or well, once https://github.com/containers/podman/pull/11246 is merged.

[2021-08-17 14:50] vrothberg commented on #11175
Local testing suggests that https://github.com/containers/podman/pull/11246 is fixing the flake. I'll open another PR to reenable once https://github.com/containers/podman/pull/11246 got in.

[2021-08-17 15:01] mheon commented on #11247
Podman natively supports systemd in a container; if we detect that a container is using systemd as PID1, we will automatically add support (alternatively, you can manually enable it with the `--systemd=always` flag).

It is sufficient to take any container image that contains systemd and set the entrypoint to `/usr/sbin/init` (or whatever the path to the systemd binary happens to be).

[2021-08-17 15:03] edsantiago opened #11248 "network connect/disconnect: new flake"
Followup to #11091: looks like there's still something flaking:
[code]
### sys: podman network connect/disconnect with port forwarding
* fedora-33 : sys podman fedora-33 rootless host
  * PR #11193
    * [08-11 16:43](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6156511840829440/html/sys-podman-fedora-33-rootless-host.log.html)
* fedora-34 : sys podm

[2021-08-17 15:03] xomachine commented on #10205
I made a temporary workaround for this issue:
[code]

It probably has not been made in a proper way, but I did not encounter the problem so far. (May be it is just a placebo effect, I am not sure if it works)

[2021-08-17 15:34] ashley-cui commented on #10944
I don't think the PR for the fix yet has merged: https://github.com/containers/podman/pull/11192. We'll see if we can get this in today/soon

[2021-08-17 16:03] afbjorklund commented on #11227
@mheon the git commit is missing from the packaging itself (the binary), it should be showing up where available.

[code]

The RPM and DEB packages replace the `make` with their own hacks, so they miss out on the go linker flags...

[2021-08-17 16:09] afbjorklund commented on #11227
the "experimental" means that beta features in the Docker CLI and API are enabled

It's a run-time configuration (opt-in), so not related to the actual binary or the release

/etc/docker/daemon.json
[code]

~/.docker/config.json
[code]

[2021-08-17 16:11] edsantiago commented on #10927
### Podman exec [It] podman exec terminal doesn't hang
* fedora-34 : int podman fedora-34 root host
  * PR #11219
    * [08-12 14:49](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4981506331377664/html/int-podman-fedora-34-root-host.log.html#t--podman-exec-terminal-doesn-t-hang--1)
    * [08-12 14:49](https://storage.googleapis.com/cirrus-ci-670777856

[2021-08-17 16:16] afbjorklund commented on #11227
Actually the question was not so much about those extra new features (even if nice-to-have), just about the extra fields:

With the older release, it looks more traditional:

[code]

[2021-08-17 16:24] edsantiago commented on #10927
Hmmm, I wonder if this is the same problem, in a different test? Looks suspiciously close.
[code]
### Podman network connect and disconnect [It] podman network connect
* fedora-34 : int podman fedora-34 root host
  * PR #11215
    * [08-12 12:33](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5194678308962304/html/int-podman-fedora-34-root-host.log.htm

[2021-08-17 16:43] edsantiago commented on #10927
Another one, in yet another test. Looks like this is happening more often than I thought, because it happens in multiple tests:

### Podman exec [It] podman exec --detach
* fedora-34 : int podman fedora-34 root host
  * PR #11215
    * [08-12 12:33](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5194678308962304/html/int-podman-fedora-34-root-host.log.

[2021-08-17 16:44] Luap99 commented on #11248
I will take a look.
@edsantiago Btw do you see rootless compose test flakes? I think I saw it still failing sometimes.

[2021-08-17 16:48] edsantiago commented on #11248
#11091 merged on Aug 6. compose flakes since then:

### compose: simple_port_map - curl (port 5000) failed with status 7
* fedora-34 : compose test on fedora-34 (rootless)
  * PR #11173
    * [08-10 16:25](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6698826523213824/html/compose-podman-fedora-34-rootless-host.log.html)

### compose: env_and_volume -

[2021-08-17 16:52] mtrmac commented on #11235
That’s almost certainly https://github.com/containers/podman/blob/edf9ec38e40bd2471c870c9bbf3b2685d5e45fa7/pkg/auth/auth.go#L265 .

Hum… Looking at that package, arguably https://github.com/containers/image/pull/588 (turning c/image/pkg/docker/config into a broad API exposing much of the parsers/formatters, independently from c/image uses) has a point, even if the price might be not something we h

[2021-08-17 17:26] mheon commented on #11223
Can you do a `podman run --log-level=debug` command with this field set in `containers.conf` (image and command don't matter, just need to run a container) and provide the full output? Need to see if it was passed on to Conmon

[2021-08-17 17:33] AriFordsham commented on #11247
That is my question. Such containers are hard to come by - Docker doesn't support systemd. Either 1) where can I find such a container, or 2) how can I modify a typical Docker container to use systemd init?

[2021-08-17 17:34] tobwen commented on #10677
https://github.com/vrothberg Meh, of course... I just mean all the awesome new features and bug fixes will only make it into the LTS version to a limited extent. Some users may not even know how fast and well _podman_ is constantly evolving.

[2021-08-17 17:52] mheon commented on #11247
I would imagine that you could build using a standard Ubuntu image as your base and run an `apt install` inside to grab systemd and associated dependencies?

[2021-08-17 17:56] mheon commented on #11247
To be clear, there should be no magic here. The container has access to the standard Ubuntu repositories, which will container systemd to service all non-container installs. Said package can be installed from a `RUN` instruction while building a container, and then you can set systemd as the entrypoint via `ENTRYPOINT`.

I can't speak more specifically because I'm a Fedora user myself (Fedora imag

[2021-08-17 18:03] AriFordsham commented on #11247
Thank you @mheon. I think I'm working it out.

[2021-08-17 19:20] edsantiago opened #11253 "rhel9 + log-driver=journald : missing first line"
On RHEL9:
[code]
Seems to be 100% reproducible, and is the common element behind a large number of the RHEL9 gating tests.

podman-3.3.0-0.18.module+el9beta+12201+6a03aeff.x86_64

[2021-08-17 19:46] #10944 closed

[2021-08-17 19:54] edsantiago opened #11255 "rhel9 + log-driver=journald : logs -f does not work"
Without a magic flag, it errors out immediately:
[code]
With the magic flag (which IMHO podman itself should figure out, not force the user to deal with it):
[code]
Expected: `podman logs -f` to exit once the container stops. The hang happens with and without `--rm` (in `run`).

(Note also the missing 'a'; that is filed as #11253)

podman-3.3.0-0.18.module+el9beta+12201+6a03aeff.x86_64

[2021-08-17 19:56] rhatdan commented on #11247
ubi8-init
Image comes ready to run systemd as pid1.

[2021-08-17 19:56] #11247 closed

[2021-08-17 20:05] rhatdan commented on #11253
Works fine on Fedora.
@nalind Ideas

[2021-08-17 20:10] rhatdan commented on #11253
@edsantiago
journalctl -b | grep conmon
Does this show something like:

Aug 17 16:06:03 localhost.localdomain conmon[99837]: a
Aug 17 16:06:03 localhost.localdomain conmon[99837]: b

Or does it just show `: a`?

[2021-08-17 20:16] edsantiago commented on #11253
Oh, good idea.
[code]

[2021-08-17 20:21] rhatdan commented on #11253
So reading the logs is dropping the first message.  Writing looks correct.

[2021-08-17 20:21] dustymabe commented on #10655
It's worth noting that depending on `network-online.target` won't have the desired effect for any systemd user units (i.e. the ones you put in `~/.config/systemd/user`).

See https://github.com/systemd/systemd/issues/3312#issuecomment-893009485

[2021-08-17 20:23] edsantiago opened #11256 "rhel9: no pause image"
[code]
Presumably because:
[code]
podman-3.3.0-0.18.module+el9beta+12201+6a03aeff.x86_64

PS may I suggest that the "Error freeing pod lock" message be somehow shutupped in a situation like this?

[2021-08-17 20:33] rhatdan commented on #11256
@jnovy We can just use the ubi8/pause image.

[2021-08-17 20:51] #11226 closed

[2021-08-17 20:52] rhatdan commented on #11237
Also Podman requires lots of other applications like runc, crun, containers-common, fuse-overlay. slirp4netns...  If these are not matching, bad things can also happen.

[2021-08-17 21:12] #11197 closed

[2021-08-17 21:48] kurt-google commented on #11236
I threw the reproduction case into pprof and it seems I was probably mistaken, about 3 of the 4 minutes are actually attributed to sha256sum. So its probably a case of excessive hashing and not compression occuring where it shouldnt.

Example patch for profiling

[code]

Run the same reproduction command but with `--cpuprofile=profile.pprof` and then view with `go tool pprof -web profile.pprof`

[2021-08-18 00:58] kurt-google commented on #11236
It there are multiple places where source hashes are computed even if the data is not being transformed (compressed).

* `containers/buildah/image.go:NewSourceImage` computes pre and post compression hashes. Even when data is not being compressed.
* `containers/storage/layers.go:ApplyDiff` does the same.
* `containers/image/v5/copy/copy.go:copyBlobFromStream` has a paranoid hash validation.

Makin

[2021-08-18 03:22] sshankar-rks opened #11259 "Dockerfile COPY command not working, no build context available (Windows 10 Pro host/Hyper-V guest Ubuntu 20.04)"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**
Building on Windows 10 Pro
Target Hyper-V VM in same machine

NO build context is used in podman build.
COPY commands in Dockerfile fail

**Steps to reproduce the issue:**

0. Setup remote podman (Hyper-V Host/Windows Guest/Hyper-V guest VM Ubuntu 20.04)
1

[2021-08-18 07:37] sappersd opened #11257 "kubic repo changed default dependencies for podman from crun to run runc"
Kubic repo changed default dependencies for podman from crun to runc.
2 weeks ago installation of podman requared dependend - crun, after 11 aug it requered - runc.
I can install crun separatly, but without runc podman doesn't install now.
At the same time runc is default runtime for podman yet.

Is it relate with some plans to change default runtime for podman from crun to runc? Or may be somethi

[2021-08-18 07:37] vrothberg commented on #11253
May be related to Podman setting the cursor to the wrong position.

[2021-08-18 07:45] giuseppe commented on #10864
is there a `/proc` mount fully visible in the container?

The kernel doesn't allow to mount a new `/proc` file system in a user namespace unless there is already a fully visible `/proc` mounted.

Can you show the output of `cat /proc/self/mountinfo`?

[2021-08-18 08:17] sachinkaushik commented on #10864
@giuseppe Please fine below output of cat /proc/self/mountinfo

33571 25829 0:2565 / / rw,relatime - overlay overlay rw,context="system_u:object_r:container_file_t:s0:c474,c971",lowerdir=/var/lib/containers/storage/overlay/l/4HFDQQUSKVBDJDYHIV5VDR76ND:/var/lib/containers/storage/overlay/l/WNM7J3ERZOVHKOSPZZEXRUX2L5:/var/lib/containers/storage/overlay/l/4C3MPPI6SMJBWYV5IORJK5PZDE:/var/lib/container

[2021-08-18 08:24] Luap99 commented on #11248
OK from reading `connect(2)`

A connect() on a stream socket found no one listening on the remote address.

So that means the socket file exists but no one is listening on it. The rootlessport process did create the socket with `net.Listen()` otherwise we would get a ENOENT error. For some reason rootlessport is no longer listen on it. I think the rootlessport process exited somehow  (maybe it got

[2021-08-18 08:31] Luap99 commented on #11257
@lsm5 PTAL

[2021-08-18 08:34] sappersd commented on #11257
additional info:
Centos8
repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/x86_64/
[code]

[2021-08-18 09:40] giuseppe commented on #10864
thanks for sharing it!  This is the configuration where you see the `/proc` mount error?

From what I can see the mount table looks fine.

[2021-08-18 09:46] sachinkaushik commented on #10864
Hi @giuseppe , Below is output of cat /proc/self/mountinfo , when we remove privileged: true from deployment yaml.

33824 29520 0:3015 / / rw,relatime - overlay overlay rw,context="system_u:object_r:container_file_t:s0:c126,c1014",lowerdir=/var/lib/containers/storage/overlay/l/4HFDQQUSKVBDJDYHIV5VDR76ND:/var/lib/containers/storage/overlay/l/WNM7J3ERZOVHKOSPZZEXRUX2L5:/var/lib/containers/storage/ov

[2021-08-18 10:12] plevart commented on #10539
Sorry for commenting on closed issue, but have you considered to support also the --restart=unless-stopped policy at the same time? The filter should be set-up so that it considers all restart-policy=always containers that are not in RUNNING state (which typically are not at boot time) and also all restart-policy=unless-stopped containers that are not in RUNNING or STOPPED state. When you reboot a

[2021-08-18 10:25] giuseppe commented on #10864
there are a bunch of mounts that cover `/proc`:

[code]

Even if you manage to solve the newuidmap/newgidmap problem and avoid the UID is part of the subuids, you won't still be able to run a container with a separate pid namespace because the kernel won't allow it.  There must be a fully visible `procfs`  mount (i.e. there are no other mounts coverting part of it) to be able to mount a new `procf

[2021-08-18 10:29] giuseppe commented on #10864
in other words, you need to run the pod privileged.

Or if you use CRI-O, use the CRI-O annotations to create a user namespace: https://www.redhat.com/sysadmin/podman-inside-kubernetes

[2021-08-18 10:52] hxcan commented on #5167
That solved my problem.

[2021-08-18 11:09] sachinkaushik commented on #10864
@giuseppe we dont want to run container from cli, we just want to create container image that is our requirement. we have cto push that container image to OCR registry but we dont allow user to run that container image.

[2021-08-18 11:34] giuseppe commented on #10864
aren't you trying to build the image from a Kubernetes pod?

[2021-08-18 11:34] edsantiago commented on #11248
I don't have a reproducer, but it should be easy to add a debug statement, something like `ps auxww | grep rootlessport` immediately before and then immediately after the `podman network connect` (before the `is`).

[2021-08-18 11:49] edsantiago commented on #11248
Well, that failed quickly (podman-3.3.0-0.13.rc2.fc34.x86_64):
[code]
Obviously I didn't get the `ps` right, because it's empty both before and after. Anyhow, the above failed for me in just a few minutes. Hope it helps.

[2021-08-18 11:57] edsantiago commented on #11248
Here's a better one:
[code]
(Blank line separators added for ease of reading). This shows that `rootlessport` is present before `podman network disconnect`, then is gone and never comes back. I will leave further diagnosis in your hands.

[2021-08-18 12:06] Luap99 commented on #11248
Thanks so my suspicion is right. Now the fun part, find the killer :)

[2021-08-18 12:22] sachinkaushik commented on #10864
@giuseppe we have below containerfile and using that we are creating a container image and we are creating deployment using that in openshift. So for this deployment we have a pod running in openshift, and we have expose a route using that we are accessing jupyterlab.

FROM quay.io/podman/stable:latest

RUN touch /etc/subgid /etc/subuid \
&& chmod g=u /etc/subgid /etc/subuid /etc/passwd \
&& echo

[2021-08-18 13:06] edsantiago commented on #7316
Confirmed: I no longer see this bug when I apply #11246.

[2021-08-18 13:29] mheon commented on #10539
We could do so, but we'd need to add a new filter that detects stopped-by-user containers.

[2021-08-18 13:34] plevart commented on #10539
Visible with `podman ps -a`, the container that is stopped by user reports status as `Stopped` while the container that is not running due to its main process exiting or host reboot is reported with status `Exited`. So the difference already exists. But I don't know if it is expressible in the form of filter.

[2021-08-18 13:35] mheon commented on #10539
That's not intended behavior, that's a pretty significant bug - the cleanup process is not running on manually-stopped containers and they may not be unmounted.

[2021-08-18 13:39] plevart commented on #10539
What do you mean by "cleanup process"? The equivalent of `podman rm` ? This should run only on containers started with `podman run --rm` option...

[2021-08-18 13:58] rpresser commented on #4602
Ansible is not the only product that depends on docker version. Getting a very similar error when using the Azure cli:
`[rpresser@mtllpvtcbbld01 ~]$ az acr check-health -n dynamicswebapidev002 --yes
Docker daemon status: available
An error occurred: DOCKER_VERSION_ERROR
An error occurred while retrieving Docker version. Please try verifying it manually.
Failed to run command 'docker version --form

[2021-08-18 14:01] mheon commented on #10539
It can handle `--rm`, but on containers created without it it takes care of unmounting the container's filesystems, cleaning up its network stack, and generally making sure no resources are being used by containers that are no longer running.

[2021-08-18 14:05] plevart commented on #10539
So, you are saying that `podman ps -a` reporting container status as `Stopped` is a consequence of this cleanup not being performed while it should be. And if it were performed, `podman ps -a` would report such container status as `Exited` being indistinguishable from container that just exited its main process?

[2021-08-18 14:15] sebastian-philipp commented on #11031
First time we see this in our CI was on `Aug 7, 2021 6:24:44 AM UTC`

[2021-08-18 14:18] giuseppe commented on #10864
You still need to be able to run a container in order to deal with the `RUN` statement in the Containerfile.

[2021-08-18 14:40] mheon commented on #10539
Yes.

We do retain an internal state which indicates whether a container was manually stopped by the user (`--restart=always` needs to know not to restart a container after `podman stop`) but it is presently not exposed to the user. We could add a filter to expose it, which would allow the systemd unit to filter on it.

[2021-08-18 14:58] blindshare opened #11261 "Podman REST API - can't set context directory for building an image"
/kind bug

podman REST API - can't set context directory for building an image

**Steps to reproduce the issue:**

1. A .tar package containing all files incl. the Dockerfile is created and stored on a remote-repository (e.g. github)
2. Jenkins downloads the .tar file mentioned above to a temporally directory.
3. Jenkins uses the the following curl statement to upload the .tar to the podman "Serve

[2021-08-18 15:19] mheon commented on #11261
@rhatdan You've been knocking out `podman-remote build` issues - any chance you want to take a shot at this one?

@blindshare It would help greatly if you can get us one of these tar files that Jenkins sends, so we can reproduce ourselves.

[2021-08-18 15:58] nanonyme commented on #10539
In case that thing you discussed was a bug, how about creating special issue about it?

[2021-08-18 16:01] fdvhet opened #11262 "`podman generate kube` - YAML when without shared network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am not sure if this is a bug, not added feature intentionally or feature not yet implemented.
`podman generate kube` for pod without shared network produces `YAML` file which doesn't reproduce pod state when "played".

**Steps to reproduce the issue:**

1. `podman pod create --name nginxs-p

[2021-08-18 16:12] Luap99 commented on #11248
Did you tried this in a 1minutetip vm? I got this to fail after 45 min and found out that the process is not dead after disconnect, it is dead after the curl command which makes sure that the port connection does not work. I also noticed that the rootlessport process did not exited the normal way, so it either got killed or it paniced.

I tried to reproduce with a patched podman which redirects th

[2021-08-18 16:14] edsantiago commented on #11248
Yes, this was `1minutetip -n f34`, with `dnf --enablerepo=updates-testing install podman-tests`. It consistently took 1-2 minutes to fail.

[2021-08-18 16:18] Luap99 commented on #11248
This is the patch I use:
[code]
@edsantiago Could you try to build this one see if it fails for you. Ad provide the /tmp/rootlessport file it does.

Yes that is what I did too. Failed after 45 min, and after 30 min in another run. With my patch I did not failed for now well over two hours.

[2021-08-18 16:26] edsantiago commented on #11248
I just brought up a VM, ran the reproducer, and it failed on the second iteration (a few seconds). Can I offer you my VM for you to use? I don't have a good setup for building podman in VMs, it will take me too long. PM me on IRC.

Just to confirm, though: I am running as user `fedora`, with the magic `loginctl enable-linger fedora` turned on. Did you remember to do the magic loginctl?

[2021-08-18 16:46] cryobry opened #11264 "`podman generate systemd` service file fails to start container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Note that this problem is only happening on my workstation, it does not reproduce in my test VMs.

My containers start fine using podman directly but when I attempt to start them via a `podman generate systemd` generated systemd user service file, they will not start. Using the default servic

[2021-08-18 16:56] jamjon3 opened #11265 "Support Azure DevOps resource containers for builds"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Azure DevOps on self-hosted agents (RHEL8/Podman) cannot load containers defined in 'resources'.

It fails on this workflow command in the "Initialize Containers" step

`/usr/bin/docker info -f "{{range .Plugins.Network}}{{println .}}{{end}}"`

This fails because there is no .Plugins.Network i

[2021-08-18 16:58] mtrmac commented on #11236
Thanks. A part of that sounds similar to https://github.com/containers/image/issues/1160 ; if there are more such situations in c/image, having them documented there would be helpful.

(Of course recording the redundancy and _fixing_ the redundancy are not the same; any help with the latter would also be welcome. Still, knowing what needs fixing is, by itself, valuable.)

[2021-08-18 17:04] blindshare commented on #11261
Hi @mheon, you can simply pull the .tar file from my github repo using:
`curl -L https://github.com/blindshare/simpleCherryPyPage/tarball/master > /data/work/simpletest/simpleTest.tar`

[2021-08-18 18:14] AriFordsham opened #11266 "Can't boot Ubuntu with systemd in WSL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A container with Ubuntu and systemd enabled won't start under WSL. I'm not able to confirm if this happens on regular Linux.

**Steps to reproduce the issue:**

1. Dockerfile:
[code]
2. `podman build . --tag ubuntu-systemd`

3. `podman run -ti ubuntu-systemd`

**Describe the results you recei

[2021-08-18 18:24] xycloops123 opened #11268 "Deploying podman in tekton pipeline"
## What it is

I am having trouble in deploying podman in a tekton pipeline.

## Why

I am deploying a dockerimage scanning solution which requires access do podman.sock to pull images and then do a vulnerability scanning

[2021-08-18 18:26] jwhonce commented on #11261
@blindshare, Using your reproducer and podman built from main, I was successful with the following:

[code]

Please note, I used the `dockerfile` query parameter to point to the `Dockerfile` in the tar file. [ImageBuildLibpod reference](https://docs.podman.io/en/latest/_static/api.html#operation/ImageBuildLibpod) provides the details on calling our API.

Please feel free to reopen issue if you fee

[2021-08-18 18:26] #11261 closed

[2021-08-18 18:59] Luap99 commented on #11248
OK I know what is causing this. The problem is SIGPIPE kills the process. Stdout and stderr are attached to the podman parent process and when podman exits and the rootlessport process tries to write to stdout/err it will fail with SIGPIPE, the code handles this signal and uses dup2 two set /dev/null to both stdout and stderr. I am not sure why but sometimes this seems to fail and the process cont

[2021-08-18 19:30] cryobry commented on #11264
Due to the errors from `podman info --debug` I attempted to remove all of my containers and images, uninstall podman completely, erase all of my container storage in ~/.local/containers, runtime data from /run/user/1000/containers/* and reinstall podman, however this did not fix the problem.

I ended up running a `podman system reset` and now my systemd services work fine and `podman info --debug`

[2021-08-18 19:30] #11264 closed

[2021-08-18 19:45] rpocase commented on #8129
I came across this issue a few months back and followed this to resolve my issue. Bumping to podman 3.2.3 (from 2.2.1) broke this solution for me. Removing the `--uidmap 0:1:1` alongside ensuring a default `containers.conf` was created (see [here](https://bugzilla.redhat.com/show_bug.cgi?id=1882136#c5)) got me back to running.

[2021-08-18 20:26] umohnani8 commented on #11223
Took a look at this and this might be a conmon issue because we are passing down the log max size to conmon correctly
[code]

And when I look at the size of the log file, it is bigger than the limit I set
[code]

@mheon wdyt?

[2021-08-18 21:44] cucosion opened #11270 "--security-opt seccomp=unconfined --privileged | bash: /dev/null: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Porting a old app to docker images, tested on docker for windows and it works fine on podman I have the below issue.

sudo podman create --name=somename --network container:othername --security-opt seccomp=unconfined --privileged mysuperimage:1.0
sudo podman start somename
sudo podman exec -it

[2021-08-18 22:37] mheon commented on #11223
We're sending `--log-size-max 10` to Conmon. That looks correct?

@haircommander PTAL

[2021-08-18 23:27] jwhonce commented on #8577
@tmds The go-swagger tool currently does not allow us to set the title key on responses.

[2021-08-18 23:29] jwhonce commented on #8577
go-swagger picks up IdResponse from vendor'ed code. I changed all our definitions to use IDResponse.

[2021-08-18 23:45] #11214 closed

[2021-08-18 23:53] kevinanderson1 commented on #10862
@mheon @jwhonce I got some additional stack traces with delve which may be helpful

[code]
[code]

[2021-08-18 23:54] #11248 closed

[2021-08-18 23:57] TomSweeneyRedHat commented on #11237
Or you could potentially use the container image that we have on quay.io   quay.io/podman/stable:v1.5.0

However, that's old enough that it might be a bit wonky....

[2021-08-19 07:18] vrothberg commented on #11266
Thanks for reaching out.

Running systemd inside a container requires systemd on the host but WSL does not (yet) support systemd (see https://github.com/microsoft/WSL/issues/994).  I fear there's nothing we can do at the time.

[2021-08-19 07:18] #11266 closed

[2021-08-19 07:20] vrothberg commented on #11268
Thanks for reaching out, @xycloops123!

Can you elaborate on that? What does "call the docker image" mean?  Note that I have absolutely no experience with Tekton.

[2021-08-19 07:24] vrothberg commented on #11264
Glad you could resolve the issue, @cryobry. Thanks for mentioning how you resolved it.

That's quite curious. So far I have only seen systemd rejecting the PIDFILE if a system service set `User=rootless`.

A wild guess: maybe the rootless storage was created in a way that made systemd reject reading the file? (Cc @msekletar)

Note that starting with Podman v3.3.0, units created via `podman generat

[2021-08-19 08:29] Luap99 commented on #11262
Does the k8s yaml has support for specifying which namespaces should be shared? I only found this https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#hosts-namespaces

[2021-08-19 09:03] Luap99 opened #11274 "container stuck in stopping state after reboot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After a reboot one of my containers was stuck in the stopping state. I could not start or stop this container anymore. I think systemd killed the podman process on shutdown before the container fully stopped so it got stuck in this state.

**Steps to reproduce the issue:**
Kill the podman sto

[2021-08-19 09:57] #11259 closed

[2021-08-19 10:24] rhatdan commented on #11265
@Luap99 PTAL

[2021-08-19 11:09] Luap99 commented on #11265
Adding this field should be simple but I am wondering how to query the supported drivers.
For log we support `journald`, `k8s-file` and `none`.
Network should be `bridge` and `macvlan` but I think we should add this to new network Interface at some point.
@mheon I assume it is also possible to get a list of configured volume plugins?

[2021-08-19 11:26] flouthoc commented on #11265
@mheon volume plugins are masked under field `driver` afaik. Users manually configure plugins usually it defaults to `local` everywhere.

[2021-08-19 11:29] vrothberg commented on #11274
Discussed with @Luap99 on IRC.  Looks like we need to have a look if conmon is still running when doing the "stopping" checks. Cc @mheon

[2021-08-19 13:34] nalind commented on #11255
My test system had `events_logger = "file"` set in `/usr/share/containers/containers.conf`, which is what I think is triggering the error you're seeing when attempting to use the `-f` flag.  I think we're going to want to go back to not explicitly setting it.

[2021-08-19 13:34] mheon commented on #5431
I'm going to re-open this, because the Podman team would like to get a solution actually integrated into Podman at some point, and I'd like to use this issue to track that.

No promises on timeframe (we're just tossing around general ideas as to where it would be done), but it would be nice to have a solution that does not require a separate script and systemd unit.

[2021-08-19 13:37] mheon commented on #10862
`  Goroutine 67 - User: /usr/src/debug/podman-3.2.3-2.fc34.x86_64/_build/src/github.com/containers/podman/libpod/shutdown/handler.go:45 github.com/containers/podman/libpod/shutdown.Start.func1 (0x56034dbfa36b) [select 452566h37m36.224710718s`

This immediately jumps out to me. The shutdown handler is running, so Podman is trying to spin down and exit. It is possible to inhibit shutdown for a time

[2021-08-19 13:40] mheon commented on #11274
This sounds more like a refresh issue to me - the state of the container should be automatically reset at reboot, but it was not?

[2021-08-19 13:43] mheon commented on #11265
@Luap99 They're just stored in containers.conf - https://github.com/containers/common/blob/main/pkg/config/config.go#L396

The map is name of plugin (what you want) to path of plugin socket - so iterating through and taking all the names should be sufficient.

[2021-08-19 13:46] jeefberkey commented on #5431
I would like to add that since the script is non-blocking, you cannot expect the firewall rules to be correct immediately after a container is started. I resolved this myself by running the same code in an ExecStartPost, but a mature solution would resolve that.

[2021-08-19 13:49] Luap99 commented on #11274
I am not 100% what was causing this but I rebooted my sever and the service didn't came back so I looked at saw this error. The container is controlled via systemd unit which was created with `podman generate systemd`.

[2021-08-19 14:01] mheon commented on #11274
Is it still in Stopping state after the reboot?

[2021-08-19 14:17] Luap99 commented on #11274
I recreated the container to get it back working. I cannot guarantee that it was stopping after the reboot, it could also be very well that the container crashed after boot and got into the stopping state.
I tried to reproduce this by killing the podman stop process and I got a container into this stopping state however after I removed the alive file the next podman command did reset the state to

[2021-08-19 14:56] mheon commented on #11274
I think `podman stop` handles this already - the concerning bit is that we can't even call `podman stop` on a container in Stopping state, which does not seem correct.

[2021-08-19 16:20] jamjon3 commented on #11265
Thank you all and I'll watch the PR discussion and stay out of the way but I'm still active and watching the conversations.

[2021-08-19 16:31] jwhonce commented on #11227
@afbjorklund @rhatdan This is a "feature"...

In JSON payload, we provide compatible fields containing their expected versioning information, and additionally we provide a "Podman Engine" component containing libpod versioning information. The goal was a client that expected only docker fields would work as expected while an enhanced client with knowledge of libpod could leverage this additional i

[2021-08-19 16:56] srcshelton opened #11282 "podman-3.3.0 - Changes to default /etc/hosts handling are breaking container workloads"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With `podman-3.2.3` and prior, `podman` could (optionally) write hosts entries to the container `/etc/hosts` file.

With the `podman-3.3.0` release-candidates, this behaviour has changed and `/etc/hosts` within the container is now bind-mounted by default.  This is causing failures with a wid

[2021-08-19 17:09] Luap99 commented on #11282
Can you provide a reproducer, podman always bind mounts a custom /etc/hosts by default. This is not new.

[2021-08-19 17:23] PhracturedBlue opened #11283 "Most podman commands hung after improper container shutdown"
/kind bug
**Description**

After doing a `systemctl restart <podman container>` , the process hung.  after a 'ctrl-c' all attempts to access that container now hang:
[code]

[code]

[code]
There are no containers running:
[code]

[code]

I'd like to figure out how I can unlock my system so I can delete this container and move forward.

[2021-08-19 17:25] edsantiago commented on #10912
### Podman top [It] podman pod top on pod with containers in same pid namespace
* fedora-33 : int podman fedora-33 rootless host
  * PR #11176
    * [08-10 06:00](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4803999527337984/html/int-podman-fedora-33-rootless-host.log.html#t--podman-pod-top-on-pod-with-containers-in-same-pid-namespace--1)

### Podman

[2021-08-19 17:43] smijolovic opened #11284 "Failed to add podman to systemd sandbox cgroup"
Ubuntu 20.04.2 with podman 3.2.3
when running the command "podman --log-level debug info"

There is a debug error that always causes the system to pause.
DEBU[0240] Failed to add podman to systemd sandbox cgroup: Failed to activate service 'org.freedesktop.systemd1': timed out (service_start_timeout=120000ms).

chaasmadmin@maestro-puppyfood:~$ echo $XDG_RUNTIME_DIR
/run/user/5000

Anytime I try to

[2021-08-19 18:02] alekssd opened #11285 "Podman compatibility API network error"
/kind bug

**Description**

Error 500 when trying to create a container with pre-created network with the docker compatible API
We try to make testContainers framework works with podman, but can't get a container running with a network.
Without a network, it is working fine.

Here is how to reproduce with curl

**Steps to reproduce the issue:**

1. Start podman api : podman system service --time=0

[2021-08-19 18:20] baude commented on #11285
is this due to using the ID instead of the name?

[2021-08-19 18:32] mheon commented on #11285
@baude Yep, I'd assume it's a bug - we're translating the ID to a network name in one plane (the networks list) but not another (the aliases)

[2021-08-19 18:49] #8577 closed

[2021-08-19 20:50] afbjorklund commented on #11227
Okay thanks. Just wondered about the differences in output, if you want to add more components you can do that as a separate issue.

[2021-08-19 20:52] #11227 closed

[2021-08-19 21:25] mheon commented on #11283
You can force Podman to detect that a reboot has occurred (which will reset all container states) by removing `/run/libpod/alive` file. You can also remove the `/dev/shm/libpod_lock` file at the same time to force a full recreation of shared container locks.

Otherwise - can you provide additional information on your environment (distribution, architecture, etc)? This looks like a container lock i

[2021-08-19 21:26] mheon commented on #11255
The container remembers what its log driver is. This sounds like a bug in `podman logs` which should not use the default driver, but instead whatever driver the container is using.

[2021-08-19 21:28] #11265 closed

[2021-08-19 21:29] mheon commented on #11262
This one may be outside what Kube YAML can do. I expect we're going to run into this more and more as we start to push the boundaries with `play kube` - probably worth a discussion with the team about approach on issues like this. @baude @rhatdan WDYT?

[2021-08-19 21:39] PhracturedBlue commented on #11283
I'm running on debian-buster x86_64, with ext4 filesystem, but am using statically built podman, conmon, runc.
I'm in the process of moving my docker based images to podman so I have both podman and docker installed and running concurrently.

There is nothing special about my unit files:
[code]
You can ignore the 'docker' stuff in there.  I use the same service files for docker or podman depending

[2021-08-19 21:48] JudeNiroshan commented on #4364
For some people like me who couldn't really understand why `brew install podman` didn't work, the answer is, there should be linux virtual machine in order to run the podman. So, what the official documentation suggesting is for all MacOS and Windows users to spin up a linux virtual machine and connect your podman with that VM. That VM is acting as a backend server for your podman program.

For Ma

[2021-08-19 22:47] Rayqan opened #11287 "Allow For Container Name To Be Shown In Journald"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Would it be possible to add a feature that prefixes journald log messages with the relevant container/tag information? It looks like this exact feature was started in: https://github.com/containers/conmon/pull/273 but never got finished. Thanks.

[2021-08-20 00:05] mheon commented on #11284
@giuseppe PTAL

[2021-08-20 01:00] kevinanderson1 commented on #10862
@mheon I did try to set the podman service to run indefinitely by appending `--time=0` to ensure it was not shutting down due to inactivity and I am still able to pretty reliably reproduce the service hang.

[2021-08-20 04:25] flouthoc commented on #11284
@smijolovic it seems like systemd session is not valid , does `systemd-loginctl list-sessions` lists a session for your user `5000`. Could you try `systemctl restart systemd-logind` and run podman info again.

[2021-08-20 05:10] smijolovic commented on #11284
chaasmadmin@maestro-puppyfood:~$ loginctl list-sessions
SESSION  UID USER        SEAT TTY
      1 5000 chaasmadmin      pts/0
      3 5000 chaasmadmin      pts/1

2 sessions listed.

Same issue persists

[2021-08-20 06:26] flouthoc commented on #11284
@smijolovic could you paste output of `busctl` please.

[2021-08-20 07:14] dariuszparys opened #11288 "Get container logs doesn't work on WSL2 with REST API Endpoint"
/kind bug

**Description**

Using WSL2 with a rootless podman installation, a curl query on the docker engine API endpoint for logs is not responding any container logs.

**Steps to reproduce the issue:**

1. use WSL2 with Ubuntu 20.04
2. Install podman following this blog post https://www.redhat.com/sysadmin/podman-windows-wsl2
3. Verify that podman is running rootless `podman info | grep 'rootle

[2021-08-20 09:12] Luap99 commented on #11288
Does `podman logs` work?

[2021-08-20 09:38] vrothberg commented on #10971
Closing as I think Podman behaves correctly. Feel free to reopen or comment if something pops up.

[2021-08-20 09:38] #10971 closed

[2021-08-20 10:01] dariuszparys commented on #11288
Yes podman logs work

[2021-08-20 11:05] rhatdan commented on #11268
quay.io/podman/stable And friends are the only image we currently ship.  A simple layer on top of that could be used to enable the podman service.  Is that what you are after?

[2021-08-20 11:10] #7316 closed

[2021-08-20 11:14] Luap99 commented on #11288
I think this container logs to stderr. Can you try with `"http://d/v3.0.0/containers/mosquitto/logs?stdout=1&stderr=1"`.

[2021-08-20 11:17] rhatdan commented on #4602
@rpresser Are you saying we still have an issue, if so, then open a new issue, so the problem will get addressed.

[2021-08-20 11:26] rhatdan commented on #11266
We heard in yesterdays community meeting about systemd running in WSL2?

[2021-08-20 11:37] vrothberg commented on #11175
The flake has been fixed by https://github.com/containers/podman/pull/11246.  Thanks for creating the issue!

[2021-08-20 11:37] #11175 closed

[2021-08-20 11:45] vrothberg commented on #11266
It's not officially supported yet.  There are custom scripts on the web that claim to get it working though.

[2021-08-20 11:54] AriFordsham commented on #11266
Update: this issue was opened in error, there was a problem with my configuration.

I am running WSL with systemd via [genie](https://github.com/arkane-systems/genie).

With this Dockerfile:
[code]

I can successfully run the container, get a systemd startup log and a login prompt.

Hope this helps someone - I can provide more details if needed.

[2021-08-20 12:35] blindshare opened #11295 "Podman REST API - context/files not found for building image"
/kind bug

**Description**
This is related to issue: [https://github.com/containers/podman/issues/11261](url) unfortunately I couldn't reopen this

**Steps to reproduce the issue:**

1. A .tar package containing all files incl. the Dockerfile is created and stored on a remote-repository (e.g. github)
    Jenkins downloads the .tar file to a temporally directory.
    `curl -L https://github.com/bli

[2021-08-20 13:18] #11285 closed

[2021-08-20 14:22] dariuszparys commented on #11288
@Luap99 thanks a lot, I of course never evaluated the stream that this container uses. I just proofed with another works as expected. Sorry for all the inconvenience. I close this

[2021-08-20 14:22] #11288 closed

[2021-08-20 14:33] haircommander commented on #11287
what version of conmon/podman? this should be working

[2021-08-20 15:34] smijolovic commented on #11284
org.freedesktop.systemd1          1 systemd         root            :1.0          init.scope                  -       -

[2021-08-20 17:10] flouthoc commented on #11284
@smijolovic I am not sure why is it not active so `org.freedesktop.systemd1` needs to be activatable.

What does `systemctl status org.freedesktop.systemd1` says ?

Some common knows issues are

* Low memory or swap. Check if you are running low on memory. Clean up process if its low and then try `sudo systemctl daemon-reexec`
* Try restarting dbus `systemctl start dbus.service`
* This i am not su

[2021-08-20 17:24] smijolovic commented on #11284
What's really strange is that my other system is working...and shows the same systemd1 result as this one, so I'm pretty sure that is not the issue. One has selinux permissive and the other is enforcing.  When I run setenforce 0 to the second system, it still doesn't work....so I'm stumped on why they are behaving differently.

[2021-08-20 17:45] smijolovic commented on #11284
I will close this issue for now - because it is an selinux related issue - once set to permissive at boot - podman and k0s build.

More work to be done on the policies to address this.  Thank you for all of your help!

[2021-08-20 18:48] mheon commented on #11295
Can you retest with v3.3.0 (just released)? We made a number of improvements to the build API during the new release.

[2021-08-20 19:36] smijolovic commented on #11284
I see the following with ausearch, but audit2allow does not supply a policy to address the issue:

time->Fri Aug 20 19:19:09 2021
node=maestro-puppyfood type=PROCTITLE msg=audit(1629487149.823:1023368): proctitle=2F6C69622F73797374656D642F73797374656D64002D2D75736572
node=maestro-puppyfood type=PATH msg=audit(1629487149.823:1023368): item=0 name="/proc/1800/cgroup" nametype=UNKNOWN cap_fp=0 cap_fi

[2021-08-20 22:01] stellarpower commented on #5623
Is there any way to workaorund, and map the device's ownership into the container? As the device files come in as nobody:nogroup, I presume a call to open them results in success, but I am running a CUPS server, which won't see my printer in the admin page if it's marked as being owned by nobody. Currently my workaround is just to make a new device node at boot and chage the ownership explicitly t

[2021-08-21 06:26] gvenzl opened #11302 "Cannot resolve own hostname IP address for rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a strange issue where my rootless containers are not able to resolve their own container hostnames to IP addresses. That, in turn, causes programs that try to look up the container IP address via hostname to fail.

**Steps to reproduce the issue:**

1. Start a new container:  `podman r

[2021-08-21 09:57] Luap99 commented on #11302
The hostname is written to /etc/hosts so no dns lookup is used. `nslookup` directly query's the dns server without checking /etc/hosts first so you do not get a valid result. If you use something like `ping hostname` it should work.

[2021-08-21 09:57] #11302 closed

[2021-08-21 12:23] rhatdan commented on #10862
@jwhonce Was working on some leaks in the podman service, could these be related?

[2021-08-21 19:24] gvenzl commented on #11302
Hi @Luap99,

First of all, thank you so much for taking the time to look into this issue!

I believe there was a misunderstanding.
My issue is not so much how I myself can determine the IP address via the hostname but what to do when a program tries to determine the IP address via a DNS lookup on the container's hostname.

In my case, I'm containerizing Oracle Database XE that itself tries to dete

[2021-08-21 23:27] mheon commented on #11302
Wait - is Oracle actively ignoring `/etc/hosts`? That seems... unusual? I've genuinely never heard of an application that deliberately ignores `/etc/hosts` (aside from dedicated DNS utilities like `dig`). Is there no way to opt out of this? Because this genuinely does not seem like sane behavior on the part of the database.

The `dnsname` plugin ought to take care of this if the container is joine

[2021-08-22 03:59] Rayqan commented on #11287
I'm on arch so everything should be up to date:
[code]
To elaborate a bit:
[code]
ideally would include the name somewhere in the corresponding journald message but currently it is just:
[code]

[2021-08-22 09:33] Luap99 commented on #11302
AFAIK you can configure this via `/etc/nsswitch.conf`. It should contain a line like this `hosts:      files myhostname mdns4_minimal [NOTFOUND=return] resolve [!UNAVAIL=return] dns`. It must contain `files` otherwise `/etc/hosts` is not used.

[2021-08-22 09:36] Luap99 commented on #11302
The `10.0.2.3` nameserver is just a proxy to your real host nameserver and `--disable-host-loopback` shouldn't matter in this case.

[2021-08-22 12:15] bytecounter opened #11303 "Connection refused when using --pod-id-file"
BUG REPORT

/kind bug

**Description**

Creating a rootless container with the --pod-id-file argument causes in network problems.
A connection via http(s) to the container fails with a connection reset by peer error. I've created a  pod and one container manual and it works properly. But Podman's generate-systemd --new will replace the --pod argument by --pod-id-file (which can be quite useful), b

[2021-08-22 13:53] polygamma opened #11304 "`podman generate systemd` yields file, that does not allow shutting down of a container without error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With Podman 3.3.0 the `podman generate systemd` command yields a file, that does not allow shutting down of a container without error.

With Podman 3.2.3 everything works as expected.

**Steps to reproduce the issue:**

[code]

[code]

[code]

[code]

[code]

[code]

[code]

### Podman 3.2.3

[2021-08-22 14:42] blindshare commented on #11295
Unfortunately not. There are no packages available for Ubuntu nor RHEL atm.

[2021-08-22 16:25] ananthb commented on #10478
This is being fixed here: https://github.com/containers/podman/pull/11232 so closing the issue

[2021-08-22 19:14] mheon commented on #11270
FYI, `--privileged` implies `--security-opt seccomp=unconfined`; there's no need to use both.

Can you provide a reproducer? It's very difficult to identify what's going on unless we have can replicate the error.

[2021-08-23 06:09] nebulon42 commented on #11287
I'm also seeing this on Ubuntu 20.04 with podman 2.3.2. The messages have the `conmon` unit and it is not possible to discern from which container they were originating.

I have two more questions to journald logging, hopefully fitting here, otherwise tell me where else to put them:
* Since you want to make journald logging the default on sytemd machines will then `podman logs` be non-functional o

[2021-08-23 08:25] Luap99 commented on #11303
I take a look, git bisect points to commit 7ef3981abe2412727840a2886489a08c03a05299.

[2021-08-23 09:13] vrothberg commented on #11304
Thanks for reaching out, @polygamma!

Aug 22 15:47:31 jonny-arch-pc systemd[1]: container-test.service: State 'stop-sigterm' timed out. Killing.

What's happening is that the container doesn't shutdown on SIGTERM, so systemd is using the big SIGKILL hammer.

We dropped the custom `ExecStop` in 3.3 where we used `podman stop/rm` etc. to handle shutdown gracefully.  While shutdown is still working,

[2021-08-23 09:24] Luap99 commented on #11304
@vrothberg The problem is that systemd is running inside the container and systemd expects `SIGRTMIN+3` as stop signal. `podman stop` knows this and uses the correct signal. Users could also overwrite the stop signal at container creation in this case podman stop would also be needed. Therefore I think the unit should always use `ExecStop=podman stop ...` to properly function in all cases.

[2021-08-23 09:27] vrothberg commented on #11304
I share your opinion, @Luap99.  Note that it also fails in simpler scenarios just running `alpine top`.

[2021-08-23 09:52] mattymo commented on #11012
@mheon @jwhonce  Please reopen.
I tested on the latest podman master and it is still failing on /build endpoint:

docker-maven-plugin error:
[code]

podman logs in debug mode:
[code]

[2021-08-23 10:25] JudeNiroshan opened #11306 "[macOS] ssh: rejected: connect failed (open failed)"
Podman version: 3.2.3
Environment: macOS Big Sur 11.4

I installed podman using `brew install podman`. It seems the version it got installed is `podman version 3.2.3`

I'm on MacOS so I have to spin up a virtual machine and I did it using Vagrant. Here is the vagrant file I used -> https://github.com/RHEcosystemAppEng/temenos-infinity-cib/blob/main/openshift/msSqlServerDatabase/Vagrantfile
I can s

[2021-08-23 11:20] Luap99 commented on #10478
This is not fixed in #11232 yet, I want to do a follow up PR once this is merged.

[2021-08-23 11:41] #11201 closed

[2021-08-23 12:24] rhatdan commented on #11010
@edsantiago @Luap99 where do we stand on this one?

[2021-08-23 12:48] rhatdan commented on #10987
Since I gave a solution to this, and did not hear back. I am going to assume it worked.  Reopen if I am mistaken.

[2021-08-23 12:48] #10987 closed

[2021-08-23 12:49] rhatdan commented on #10777
@Luap99 PTAL and see if this is an issue, and fix if it is.

[2021-08-23 13:08] mheon commented on #11012
What Podman version? This should definitely be fixed in 3.3.

[2021-08-23 13:36] mheon commented on #11304
Can you expand on why we dropped the custom `ExecStop` - was it causing issues on system shutdown? How so?

I think, if we have to choose between the two, it's a lot more important that user-initiated `systemctl stop` works well than system shutdown.

[2021-08-23 13:40] #11303 closed

[2021-08-23 13:48] mheon commented on #11283
That unit file doesn't look correct - systemd defaults to `type=simple`, which has issues with tracking container state (it tracks the Podman binary, but Podman is not the container, and the Podman process dying does not mean the container process stopped - this can cause systemd to become confused as to the state of the container). We strongly recommend that you use `podman generate systemd` (`po

[2021-08-23 13:58] Luap99 commented on #10777
@mcheshkov I am curious why do you need this?
I will fix this to match docker but I wonder what the use case for this is?

[2021-08-23 14:05] vrothberg commented on #11304
We wanted to get rid of using `--cidfile`.

I concur, `systemctl stop` must work. We still have a week until the RHEL deadline, so I think we should get it back.

[2021-08-23 14:10] PhracturedBlue commented on #11283
Actually, the pthread idea may be more likely.  my static build was done using musl.  I have no idea if they have a fully compliant pthread implementation or not (though I guess there would be more reports of failures on Alpine linux if it was common.  I'll try rebuilding the binaries with glibc and see if I can reproduce the issue.

[2021-08-23 14:43] rhatdan commented on #11016
@mheon @baude @jwhonce How should we handle this.  I don't believe we allow users to specify currently the storage-opts to the remote service.

Is this a key feature of compose to support this, I would guess if we wanted to support this, we would need to compare the "default" size versus the specified size of the remote client, and make sure the specified size is less then the default.

[2021-08-23 14:45] rhatdan commented on #10297
@mheon @Luap99 or @basilgello would you like to open a PR to make this happen?

[2021-08-23 14:47] rhatdan commented on #10090
@mheon @vrothberg @Luap99 any progress

[2021-08-23 14:58] basilgello commented on #10297
I recall it was pretty easy to implement @rhatdan At least I did some research drafting #10704 I can try finding my notes on the subject this week.

[2021-08-23 15:37] edsantiago commented on #10296
Hi @olivergs, how goes your effort to set up toolbox gating tests?

Also, are you replicating these tests on f33 and f34? We have a podman release coming soon, and would really welcome feedback from the toolbox team. It's probably too late to integrate gating tests for this release, but if you have a way of running your tests on our bodhi ([f33](https://bodhi.fedoraproject.org/updates/FEDORA-2021-

[2021-08-23 15:45] mtrmac commented on #11236
https://github.com/containers/image/issues/1160 was now fixed, so the outstanding parts are probably Buildah (or redundancy in Buildah image creation vs. c/image copy, where I’m not yet quite sure we want to eliminate it).

[2021-08-23 16:14] vrothberg commented on #11304
@polygamma, any chance you try rerunning with https://github.com/containers/podman/pull/11312?

[2021-08-23 16:32] edsantiago commented on #10710
The multiarch testing group is [still seeing this](https://gitlab.com/cki-project/kernel-tests/-/issues/683#note_657928149). Podman 3.2.3 on s390x; I don't know if it's Fedora or RHEL. If I read the log correctly, August 19.

[2021-08-23 17:12] mattymo commented on #11012
@mheon
quay.io/podman/stable@sha256:bc6545c7b3e0d9ab06aa1c7b3303211c15fae50738673834a6f20c5cd1b61814
[code]

I don't see any 3.3 builds on quay.io. Is the release coming soon?

[2021-08-23 17:37] baude commented on #11306
what kind of mac are you on? intel or apple silicon

[2021-08-23 17:38] JudeNiroshan commented on #11306
@baude I'm using  Intel Core i7

[2021-08-23 17:44] #11129 closed

[2021-08-23 17:58] mheon commented on #11012
The release is complete. @TomSweeneyRedHat When will images be rebuilt?

[2021-08-23 18:13] baude commented on #11295
Ok, i tried with main branch and docker.  the behaviors are the same (failing to copy the python file).  I believe this is because while the Dockerfile is properly given, the context dir is not being set to the same dir as to where the Dockerfile is.  therefore, i believe to make this work, you need to provide a path to the python file based on the context dir.  I think this should be simpletest/s

[2021-08-23 19:37] sdhoward commented on #9727
still having this issue in podman 3.2.1

[2021-08-23 19:48] edsantiago commented on #10003
Still present in podman-3.3.0-1, both f33 and f34

[2021-08-23 20:34] baude commented on #11306
Latest podman will take care of all this for you ... version 3.3.  SHould be in brew shortly @ashley-cui

[2021-08-23 20:52] ashley-cui commented on #11306
The brew formula was updated this morning, if you want to reinstall using brew and try this again :)

[2021-08-23 21:22] c-goes commented on #11213
I can't confirm this. I'm using podman with fuse-overlayfs on Ubuntu and my home  directory is ZFS. `--volume` works perfectly.

[2021-08-23 21:29] JudeNiroshan commented on #11306
I have just installed the latest podman version in my host machine. `podman version 3.3.0`. But I face the same error:
[code]

I noticed that inside my VM I have podman version `podman version 3.2.3`

[2021-08-24 00:52] kevinanderson1 commented on #10862
I upgraded to podman 3.3.0 this evening and so far all of my containers seem to start with docker-compose and podman returns successfully without having to restart the podman service. I plan to let it run for a few more days but this issue might be fixed. I'll try to repeatedly test it throughout the week and report back Monday on the results.

[2021-08-24 01:04] TomSweeneyRedHat commented on #11012
@mattymo the Podman v3.3.0 (or any new version) lands on quay.io after it gets set to stable on [bodhi](https://bodhi.fedoraproject.org/).  After being set to stable, it sometimes can take up to an additional day for the CI system to note that and build the image.

I just checked, and it looks like the Fedora 34 and Fedora 35 variants have gone to stable, but 33 and 32 have not yet.  @cevich does

[2021-08-24 01:12] gvenzl commented on #11302
Hi @mheon, thanks for your help on this as well!

In this particular case, it's actually not so much the database software itself but a Java-based configuration tool that tries to determine the public-facing IP for the database. From what I can tell, it uses some internal Java routine to determine the IP address. Now whether that's supposed to use `/etc/hosts` or not, I cannot tell, only that it a

[2021-08-24 07:16] vrothberg commented on #10710
Let's wait for the results on v3.3.0.  We increased the sizes of signal buffers "in hope" to resolve such issues which made it into v3.3.0.

[2021-08-24 07:55] Luap99 commented on #11302
You cannot test with `nslookup`. This is a **dns** only tool and does not read /etc/hosts. Use `ping` or `curl` to make sure the glib resolver is used.

[2021-08-24 08:56] blindshare commented on #11295
I don't know ... thing is: I'm sending a .tar file which includes everything. And since the process is able to extract/process the Dockerfile inside the archive I'd presume it can/does take the .tar file as "Context".
However, I tried your suggestion:
[code]
So to me this looks like either: the temp-build-path (/var/tmp/libpod_builder874081611) does not get overwritten, or (more likely imho) the .

[2021-08-24 09:02] olivergs commented on #10296
Hi Ed. As we talked about this yesterday, I'm giving the finishing touches to this. The tests are running but them fail. I'm currently trying to get the artifacts for the test to know what is failing. I will give more feedback when this is finished.

[2021-08-24 09:06] vrothberg commented on #10003
I fail to reproduce on the latest main branch, nor on v3.3.0.

[2021-08-24 09:20] benyaminl commented on #7775
WSL2 Require cgroup v1 to be enabled, so we can't disable it. sad.
https://github.com/microsoft/WSL/issues/6662

[2021-08-24 09:59] polygamma commented on #11304
It works "better", since the `systemctl stop` terminates immediately, but it still fails.

[code]

[2021-08-24 10:38] rhatdan commented on #11262
Yes I think we need to say that certain features that are not implemented in kubernetes, will not translate back into generate kube, because they can not.
podman pod create `pods` are not completely identical to Kubernetes Pods.  Similarly containers can not be created identically.

[2021-08-24 10:42] rhatdan commented on #8136
@flouthoc @giuseppe I would like to setup a meeting to discuss this and figure out if it is possible or close this issue.

[2021-08-24 10:47] rhatdan commented on #10889
@rugk interested in opening a PR containers/common to change the default?

[2021-08-24 10:51] rhatdan commented on #11282
@srcshelton Are you still seeing this issue?

[2021-08-24 10:55] rhatdan commented on #4364
Where should we document this to make it easier to understand?

[2021-08-24 10:58] rhatdan commented on #4364
@ashley-cui @baude WDYT of adding a --now flag to podman machine init?

systemctl enable --now foo.service

Is what I base the idea on.

Then the instructions could be simplified to
  brew install podman
  brew install qemu
  podman machine init --now

[2021-08-24 11:14] giuseppe commented on #9727
I think the leak happens in the godbus library: https://github.com/godbus/dbus/blob/master/conn_other.go#L19-L38

The solution would be to make sure `DBUS_SESSION_BUS_ADDRESS` is defined in your environment.

I've opened an issue with godbus: https://github.com/godbus/dbus/issues/268

[2021-08-24 11:16] srcshelton commented on #11282
This is also an issue in `podman-3.3.0` release.

I'm working on a reproducer, but _something_ has definitely changed since `podman-3.2.3` :(

[2021-08-24 11:38] rhatdan commented on #11284
sysadmin_systemd_t is not defined in default policy on Fedora,  so this looks like it is custom policy and outside of Podmans control.

[2021-08-24 11:50] rhatdan commented on #11255
I can not get Ed's iniitial error to happen?

[2021-08-24 12:07] fdvhet commented on #11262
Thanks for the answers!

This is what I expected. Maybe kind of warning for not translatable features during `podman generate kube` might be added to inform about this?

What command should be used instead to dump set of settings for further usage? `podman-compose`?

[2021-08-24 12:22] nalind commented on #11255
@rhatdan does your system have `event_logger = "file"` hardwired in through `/usr/share/containers/containers.conf`, as it seems to me it must have been on the system @edsantiago ws on?

[2021-08-24 12:24] vrothberg commented on #10587
Closed by https://github.com/containers/podman/pull/11263

[2021-08-24 12:24] #10587 closed

[2021-08-24 12:28] ananthb commented on #10478
Sure thing @Luap99

[2021-08-24 12:28] vrothberg commented on #11304
https://github.com/containers/podman/pull/11315 will restore the previous behavior. This time for real :^)

[2021-08-24 12:40] polygamma commented on #11304
@vrothberg

Works as intended now :)

[2021-08-24 16:33] infiniteregrets commented on #9540
I might need some help, but I can work on this in a few weeks

[2021-08-24 17:10] #11304 closed

[2021-08-24 17:41] rhatdan commented on #10862
Ok reopen if the issue comes back.

[2021-08-24 17:41] #10862 closed

[2021-08-24 17:56] rhatdan commented on #11255
Hardwired now, I was just changing the values in /etc/containers/containers.conf to try to get it to happen.

[2021-08-24 18:16] #11253 closed

[2021-08-24 19:18] rugk commented on #10889
Hmm, tried with https://github.com/containers/common/pull/741, though I have no idea whether that is the correct thing to change… :smile:

[2021-08-24 20:10] cucosion commented on #11270
Found the issue, during the build i didnt noticed that i was receiving the

mknod: `/opt/cli/jail/dev/null': Operation not permitted
mknod: `/opt/cli/jail/dev/pts/ptmx': Operation not permitted
mknod: `/opt/cli/jail/dev/random': Operation not permitted
mknod: `/opt/cli/jail/dev/tty': Operation not permitted
mknod: `/opt/cli/jail/dev/urandom': Operation not permitted
mknod: `/opt/cli/jail/dev/zero'

[2021-08-24 20:10] #11270 closed

[2021-08-24 20:12] cevich commented on #11012
The multi-arch image build log is here: https://github.com/containers/podman/actions/workflows/multi-arch-build.yaml

@TomSweeneyRedHat the `Dockerfile` specifies 'latest' Fedora so I think that's F34, no?

Hmm, yes it seems it is pushing `v3.2.3` for stable.  I just looked and it doesn't appear to have reached the stable repos. yet:

[code]

[2021-08-24 20:19] TomSweeneyRedHat commented on #11012
@cevich I just checked the variant of Fedora used in the build, and it's F34.  I just double-checked bodhi and Podman v3.3.0 is stable for F35 and F36.  For F33 and F34, they're both still in testing.  Apparently, my eyeballs failed me last night when I checked bodhi.  So this is working as expected.

[2021-08-25 01:52] DarthPestilane opened #11319 "How to completely remove podman from mac?"
I installed podman using homebrew on mac. How do I completely remove it? Simply `brew uninstall podman` ?

[2021-08-25 04:10] gvenzl commented on #11302
Hi @Luap99,

Yes, I can confirm that `ping` works just fine and I think it always has:

[code]

In the meantime, I could also find out some more about the Java tool and what it is using to resolve the address.
It's issuing a call to [`InetAddress.getAllByName()`](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/net/InetAddress.html#getAllByName(java.lang.String)) to get all the ad

[2021-08-25 08:11] #11030 closed

[2021-08-25 08:17] Luap99 commented on #11319
@ashley-cui @baude PTAL

[2021-08-25 11:51] cevich commented on #11012
Ahh, yes that makes sense given F35 isn't released yet :grin:

[2021-08-25 13:16] ashley-cui commented on #11319
Yep. `brew uninstall podman`

[2021-08-25 13:16] #11319 closed

[2021-08-25 13:21] rhatdan commented on #10889
You need to change default.go, we will carry on the conversation in the PR.

[2021-08-25 13:27] rhatdan commented on #11270
Yes we default to a tighter security then Docker, we don't allow CAP_MKNOD by default.

[2021-08-25 13:29] #10777 closed

[2021-08-25 16:13] mcheshkov commented on #10777
Thanks for the fix! And sorry for long silence.

I don't know if this is intended usage for this feature or not, but we are running selenoid on top of podman, and selenoid uses this behavior to check if image really wants to export port, specified in selenoid config.

One have to pass image and ports config as a JSON to selenoid. Port will end up in `portConfig.SeleniumPort` [here](https://github.

[2021-08-25 16:22] Luap99 commented on #10777
@mcheshkov I see, that makes sense. Thanks.

[2021-08-25 16:45] rhatdan commented on #3550
@mheon Could you look at this one?

[2021-08-25 21:23] vlk-charles opened #11324 "`docker run --rm --network` leaves behind `iptables` rules when stopped"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
When `docker run --rm` is used to start a container in a non-default network (using `--network`) that is then stopped (and automatically removed), `iptables` rules created specifically for this container are left behind. This is especially bad when ports are published/forwarded (not demonstrate

[2021-08-26 00:20] KCSesh opened #11325 "Podman --tmpfs is not `noexec` by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
According to the documentation here: http://docs.podman.io/en/latest/markdown/podman-run.1.html#tmpfs-fs

When using `--tmpfs` the default mount options should be `rw,noexec,nosuid,nodev.`

However, this seems to be incorrect, as the default ones from my tests result in:

[code]

 These option

[2021-08-26 07:16] hiaselhans opened #11326 "docker-compose: Server did not provide an image ID"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I try to use podman with docker-compose and reuse my old config.

docker-compose with podman works for repository-images but seems to fail with locally-built images.

**Steps to reproduce the issue:**

1.

enable podman socket at /run/docker.sock

2.

*docker-compose.yml*
[code]

*Dockerfile*

[2021-08-26 07:53] #11324 closed, assigned to nobody

[2021-08-26 11:37] adrian5 opened #11332 "docs.podman.io Logo missing."
When visiting [docs.podman.io](https://docs.podman.io), I don't see the podman logo but `https://github.com/containers/podman/blob/main/logo/podman-logo.png&raw=true`.

Consider switching that URL to `https://raw.githubusercontent.com/containers/podman/main/logo/podman-logo.png` which should persist as well.

[2021-08-26 16:19] #11332 closed, assigned to TomSweeneyRedHat

[2021-08-26 23:59] bjconlan opened #11335 "Add support for depends_on condition type of "service_completed_successfully""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently podman doesn't support the docker-compose configuration value of `services.${service_a}.depends_on.${service_b}.condition: service_completed_successfully` for initializing depended services after service_b has completed successfully (available in docker-compose 1.29)

This may b

[2021-08-27 04:36] tomprince opened #11336 "Allow mounting volumes/host paths to a running container."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'd like to be able to add and remove mounts on a running container. I have long-running container that I use for builds and tests of several related projects. I'd like to be able to mount and unmount the project source directories as I work on different parts of the system.

I think for

[2021-08-27 08:08] #11335 closed, assigned to nobody

[2021-08-27 09:37] barnettZQG opened #11338 "build in mac os with failure "stat.Ctim undefined""
go build ./cmd/podman

[code]
OS Info:

ProductName:    macOS
ProductVersion: 11.2.3
BuildVersion:   20D91

go version go1.16.6 darwin/amd64

[2021-08-27 09:51] #11338 closed, assigned to nobody

[2021-08-27 11:07] #11336 closed, assigned to nobody

[2021-08-27 13:56] SadPencil opened #11340 "Support for machines without Internet access"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

In China, the connection to a international server like `docker.io` or `k8s.gcr.io` is unstable. So Chinese users prefer a mirror site for the docker hub registries, like `hub-mirror.c.163.com`, which server is located in China.

However, in podman, it requires stable Internet connection

[2021-08-27 19:27] KCSesh opened #11343 "Podman /dev mount can't be manually set with --tmpfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Host /dev is mounted as:

[code]

Container by default gets `/dev` mounted as, according to the config.json:

[code]

I am trying to mount my container `/dev` manually so I can add additional mount options.
**However**, when I try and mount it manually with the **default mount options** it fa

[2021-08-27 20:49] stu-gott opened #11344 "podman manifest rm deletes referenced image instead of manifest list"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

UPDATE: this description is out of date. clarification of the actual problem is in the first few comments.

I created a manifest, then attempted to delete it using podman rmi (this is likely wrong, but I couldn't figure out how to use podman manifest remove), and it deleted something I didn't

[2021-08-27 21:59] tomprince opened #11345 "Provide a version of `podman container cp container:/file -` that doesn't create a tarball."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'd like a way to get the contents of a file from a container in a way that I can pipe into another program. I'm looking to do something like
[code]

I *could* do this by adding `tar xO` in the middle of the pipeline, but it seems like a reasonable thing to want to do, without needing an

[2021-08-27 22:02] tomprince opened #11346 "Support multiple source files in `podman container cp`."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I recently wanted to copy multiple files from a container to the local filesystem. I'd have liked to do something like:
[code]
but instead needed to use multiple commands (there were a bunch of other files in the container directory that I *didn't* want to copy as well).

[2021-08-27 23:17] kurt-google commented on #11236
One final thing which brings performance in-line with docker at least for the reproduction case (2m10s for podman vs 2m for docker).

Buildah.go:Builder.ContentDigester is used to hash all content from Containerfile ADD/COPY.
However these digests are only used when caching is enabled (buildah/imagebuildah/stage_executor.go:Execute checkForLayers=True) but are computed unconditionally in the ADD/C

[2021-08-27 23:22] LHCGreg opened #11347 "Multiple simultaneous podman login commands can cause error?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If multiple `podman login` commands are executed simultaneously, you can get the error

[code]

**Steps to reproduce the issue:**

1. Do a bunch of podman logins at once. Sorry, I don't have a nice script to reproduce this, this is just something I'm seeing in our system.

**Describe the resu

[2021-08-28 00:38] kurt-google commented on #11236
With the commit changes, the current PR, and the above proposed change podman vs docker times for my real image is pretty competitive with docker at 12m6s and podman at 14m22s (down from 25m).

[2021-08-28 02:56] chaseadam commented on #6990
In text mode (non -t) how is "Ctrl-C" handled (in that it can terminate a process)?
It seems to be passed to the process but because we are not in '-t' raw mode, podman doesn't have access to "capture" those characters?
Can we not capture them at all or can we just not do the "wait to see if the sequence matches detatch, and if not, send them" to the process?

I ran into this several times in the

[2021-08-28 06:41] banool commented on #8841
For anyone reading this now, here's how I fixed it. Previously I had it that I wouldn't detach (with `-d`), but `podman generate systemd` recommends it. But if you do so, you lose your logs in journalctl ("yes I know that's why I'm here!"). To deal with this, you need to tell podman to log to journalctl instead. To do so, you do add `--log-driver=journald`, which should look like this in the end:

[2021-08-28 06:50] huww98 commented on #8841
I think `Delegate=yes` is only needed if you use `podman run --cgroups=split`. Otherwise, you should not add it.

[2021-08-28 10:53] rhatdan commented on #11336
podman exec enters the userns and mountns, you could do `podman exec--user root --privileged` but not sure you would have access to content on the host mount namespace at that time.

rootless containers can only do the following kinds of mounts

fuse, bind, procfs, overlay, sysfs, tmpfs (I believe).

[2021-08-28 10:55] rhatdan commented on #11345
Why not do `podman exec CONTAINER cat foobar`

[2021-08-28 10:56] rhatdan commented on #11346
@vrothberg PTAL
Can podman cp support "globbing"?

[2021-08-28 10:58] rhatdan commented on #11347
@mtrmac looks like we need to lock the auth.json file while we are updating it.

[2021-08-28 17:41] mtrmac commented on #11347
Yeah, `ioutil.WriteFile` is not atomic (it’s `O_TRUNC` of the existing file + write). At least being atomic so that clients don’t see empty/partial files definitely makes sense; truly locking so that we don’t lose data on concurrent writes might be harder.

[2021-08-28 19:04] jjfam1 commented on #11282
This impacts pod networking as well, and a downgrade fixes the behavior between containers in a pod.  I am not passing `--network=host` but these containers do run "rootfull" in the same pod.

[code]

[2021-08-28 19:15] mheon commented on #6990
In normal mode, I believe it's the shell that's handling all of that - so the shell gets a Ctrl-C, and subsequently sends the foregrounded process a signal to terminate. We have absolutely no indication that the control key is being pressed, we're just getting a stream of unicode characters that are the final result of whatever keys are being pressed. Some key cominations don't actually produce ou

[2021-08-28 19:20] mheon commented on #11282
That is a separate issue, please open a new GH issue with full details.

[2021-08-28 22:20] TomSweeneyRedHat commented on #11332
@Luap99 where did you fix it?  Cycling through the versions, I'm seeing a number of others with the same issue.  For instance, v3.2.3 is also broken.  I don't mind fixing them, but I'm not sure what's getting tweaked?

[2021-08-29 01:19] kriansa opened #11350 "Read PODMAN_USERNS env variable when creating containers through compose API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running or creating containers from API is not consistent with creating them through the `podman cli`. Specifically, the `PODMAN_USERNS` environment variable for the `podman system service` is completely ignored and therefore you can't set a value as the default for that configuration.

The i

[2021-08-29 05:27] nivekuil opened #11351 "podman should not add host.containers.internal for ipvlan networks"
/kind bug

**Description**
When connected to an ipvlan, pod's host.containers.internal points to gateway ip, not host ip, and even if it did it wouldn't be routable. As a result `host.containers.internal` is unusable since it always resolves to a broken ip.

**Steps to reproduce the issue:**
If you connect a pod to an ipvlan network, something like this:
[code]
in this case the gateway (as determi

[2021-08-29 09:32] Luap99 commented on #11332
The latest version was still trying to build the master branch. @baude changed it to the main branch.
Unfortunately it is not possible to fix the link for the old releases.

[2021-08-29 09:34] rhn opened #11352 "Workdir rejected when it's inside volume"
/kind feature

I try to set workdir to be inside the volume I just set up, but it's rejected, even though podman could check for its existence.

[code]

Expected result: podman follows the volume mapping to determine whether the working directory is actually usable.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman

[2021-08-29 11:25] rhatdan commented on #11001
@vikas-goel Is this still an issue? @adrianreber Thoughts?

[2021-08-29 11:27] rhatdan commented on #10787
@tobwen are you still interested in this?  Interested in opening a PR?

[2021-08-29 11:56] rhatdan commented on #11351
@Luap99 PTAL

[2021-08-29 11:59] flouthoc commented on #11352
@rhn Could you try `-v .:/mnt/sources:Z` instead of `-v .:/mnt/sources:O` and check it its working.

[2021-08-29 12:12] rhn commented on #11352
"Z" doesn't cause that error, but I would stop before calling it "working" as it has different semantics :)

[2021-08-29 13:12] flouthoc commented on #11352
`:O` create a temporary overlay and you basically see the upper inside the container. Issue could be with the overlay driver itself does `:O` works for you when you dont use it as `workdir` ?

[2021-08-29 13:21] rhn commented on #11352
Yes, the following works and /mnt/sources is populated:

[code]

[2021-08-30 01:30] vikas-goel commented on #11001
Yes, there are three issues I reported here. None of them seem to be resolved.
1. Failure due to time zone
2. Failure due to Unix socket
3. Failure due to inode mismatch

[2021-08-30 03:02] jmpolom commented on #3979
The idea of a `podman clone` subcommand to re-instantiate a container in a pod, etc. is super interesting. Is there any hope that this might soon become a reality?

[2021-08-30 05:58] flouthoc commented on #11352
@rhn So i checked we have a bug in podman , overlay mount happens after the check for `workdir` is completed.

[2021-08-30 06:28] flouthoc commented on #11352
@rhn Following patch should fix podman for your use-case to work https://github.com/containers/podman/pull/11353/files

[2021-08-30 07:21] rostrovsky opened #11354 "Cannot start podman socket inside official v3.2.3 image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to start podman socket inside `quay.io/podman/stable:v3.2.3`. I would like to start podman socket in order to use it with `docker-compose` installed inside the container.

**Steps to reproduce the issue:**

1. `docker run --rm -it --privileged quay.io/podman/stable:v3.2.3`
2. (ins

[2021-08-30 07:53] vrothberg commented on #11340
We could do that but I still want to investigate whether we could embed this binary in Podman itself to avoid adding YAB (yet another binary) to the packages.

I am going to reopen since the workaround mentioned above (https://github.com/containers/podman/issues/11340#issuecomment-907229317) is a just a workaround.

[2021-08-30 08:07] vrothberg commented on #11346
No, that's not supported and would be quite some work.  Note that Docker doesn't support it either.  Currently, the underlying assumption is that it's either _one_ file or _one_ directory. Globbing would lift that to _multiple_ files or directories and require changing the REST endpoint, and then, step-by-step, introducing the notion of a list of paths being copied.

[2021-08-30 08:13] vrothberg commented on #11345
Thanks for reaching out, @tomprince!

I can only echo what @rhatdan suggests.  `podman exec` is better suited for your use case.  Another option could be using `podman mount $CONTAINER` and operate on the returned mount point.

[2021-08-30 08:14] vrothberg commented on #11346
Note that an alternative to `container cp` would be using `podman container mount` and operate on the returned mount point.

[2021-08-30 08:18] giuseppe commented on #11343
I think it should be fine to add `noexec` to `/dev`.

We already have a `--security-opt proc-opts=...` to pass additional arguments for the `/proc` mount, I think we could have a similar option for `/dev` in case users want to opt out from the default.

[2021-08-30 08:29] sampie commented on #10039
Has it been identified which slurm and podman configuration options enable podman to work under a slurm job? Are there any requirements for podman versions, for example if a newer than 1.6.4 is needed?

[2021-08-30 08:47] giuseppe commented on #10374
@brauner I've played with idmapped mounts and try to enable them only for overlay lower layers, but it seems even this configuration is not supported.

looking back at this question.  In the rootless case no, the idmapped mount should be managed inside of a user namespace.

For rootless, we create an outer user namespace with all the available IDs (as defined in `/etc/sub?id`) are mapped into.

On

[2021-08-30 08:50] vrothberg commented on #11344
Thanks for reaching out, @stu-gott!

I think that `podman rmi $image` behaves correctly: if `$image` is a manifest list and if there's a local instance (member) of the manifest list that matches the local platform, then this instance will be selected and removed.

However, it seems like `podman manifest rm` behaves the same but should.  `manifest rm` should remove the manifest list, just as descri

[2021-08-30 08:53] flouthoc commented on #11344
@vrothberg Sure can look at this. This should be transferred to buildah right ?

[2021-08-30 08:57] vrothberg commented on #11344
No, podman and buildah are both using `libimage` but they behave in the same way, so I think we need to fix it in buildah as well.  Note that `manifest *remove*` is meant to remove specific instance from the manifest list.

[2021-08-30 09:14] vrothberg commented on #11344
Can you elaborate on the difference?  To me, `man buildah-manifest-rm` and `man podman-manifest-rm` look almost identical and `man podman-manifest-rm` does not  include the term "instance" at all.

Are you sure you looked at `rm` and not `remove`?  As mentioned above, `remove` is for instances and `rm` is for lists.

[2021-08-30 09:17] flouthoc commented on #11344
My bad :facepalm: I looked at `remove`.

[2021-08-30 09:28] brauner commented on #10374
Yes, overlayfs is currently not supported. I'm working on this. I ported another filesystem for this cycle but I've already started talking to Amir about overlayfs.

So essentially you're creating nested user namespaces, right? The first level is for mounting overlayfs and the second level user namespaces are for the individual containers.

Ok, so you need the ability to created idmapped mounts of

[2021-08-30 11:27] PavelSosin-320 opened #11356 "Podman run --cidfile creates cid file containing cid in the long form but podman rm --cidfile expects the short form"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Generated by Podman systemd unit fails because Podman stop and Podman rm commands generated for
ExecStart=, ExecStop=, ExecStopPost= SystemdUnit.service values of the Service file produce and expect different CID formats

**Steps to reproduce the issue:**

1. Create container
2. Generate Syst

[2021-08-30 11:37] vrothberg commented on #11356
This looks like a red herring (i.e., we're looking at the wrong thing).  What makes you conclude that `rm --cidfile` would need the short form?  Ultimately, it looks like something else is wrong.

Can try a simple reproducer?
`rm -f ~/foo.txt; podman run --cidfile ~/foo.txt fedora ls; podman rm --cidfile ~/foo.txt`

[2021-08-30 12:04] stu-gott commented on #11344
Thank you to both of you for looking into this. After retrying this, I can confirm @vrothberg's observation: podman manifest rm currently does the wrong thing.

[2021-08-30 12:05] vrothberg commented on #11354
Thanks for reaching out.

Failed to connect to bus: Host is down

That's summarizing the issue; systemd needs to run _inside_ the container in order to make use of systemd services.  See the [docs](https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--systemdtruefalsealways) for more on that.

For running Podman inside a container, I suggest having a look at the

[2021-08-30 12:05] #11354 closed

[2021-08-30 12:14] edsantiago commented on #10003
Still reproduces for me, podman-3.3.0-1.fc34.x86_64, on the very first try. Did you miss the part where you need to do magic steps as **root** (my Aug 5 comment), and then run the comment-zero reproducer as **rootless**?

[2021-08-30 12:18] vrothberg commented on #11350
Thanks for reaching out!

It looks like @rhatdan started working on it: https://github.com/rhatdan/podman/commit/a61ab18b93dee322335dff3d6ce54a7109d2ebee

[2021-08-30 12:21] vlk-charles commented on #11324
Podman 3.3 made it into Fedora 34 about one day after my report.[[1]](https://bodhi.fedoraproject.org/updates/FEDORA-2021-7ce1dbeb75) I updated, tested and can confirm that the bug is not present anymore. Thank you.

[2021-08-30 12:35] PavelSosin-320 commented on #11356
The result is:
podman rm --cidfile ~/foo.txt
Error: no container with name or ID "505284f2a260554389ab973efb56d070057347e144d321f48c74b90414db657a" found: no such container.
The same message as when using Systemd Unit

[2021-08-30 12:41] vrothberg commented on #11356
@PavelSosin-320, did you execute the entire command as pasted?

[2021-08-30 12:41] edsantiago commented on #11010
Seen twice last week:

### sys: podman logs - journald log driver requires journald events backend
* fedora-34 : sys podman fedora-34 root host
  * PR #11314
    * [08-24 14:09](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6644621242531840/html/sys-podman-fedora-34-root-host.log.html)

### Podman commit [It] podman commit with volume mounts and --inc

[2021-08-30 12:47] ashley-cui commented on #8314
We should have a signed binary for the next release!

[2021-08-30 12:58] WhyNotHugo opened #11358 "Starting containers via docker-compose fails to mount resolv.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Should not have crashed and started the container.

**Additional information you deem important (e.g. issue happens only occasionally):**

#10855 seems somewhat r

[2021-08-30 13:11] infiniteregrets commented on #8314
Awesome!

[2021-08-30 13:14] Luap99 commented on #11358
Can you run `rm -rf $XDG_RUNTIME_DIR/rootless-cni` and `rm $XDG_RUNTIME_DIR/rootless-cni-ns` if you have no containers running or just reboot and try again.

[2021-08-30 13:15] mheon commented on #11358
Also, out of curiousity, can you provide `ls -al /etc/resolv.conf` - possible there's some new systemd-resolved configuration that we don't support quite yet that's breaking things.

[2021-08-30 13:25] WhyNotHugo commented on #11358
I've deleted `$XDG_RUNTIME_DIR/rootless-cni`. `$XDG_RUNTIME_DIR/rootless-cni-ns` did not exist.

[code]

[2021-08-30 13:25] Luap99 commented on #11351
I think I can fix this for 4.0, it should be simple to check for the bridge driver before we add this entry. Fixing this for 3.X would be to much work.

[2021-08-30 13:28] Luap99 commented on #11358
@WhyNotHugo Sorry wrong path it should be `rm $XDG_RUNTIME_DIR/netns/rootless-cni-ns`. Removing this should make it work again.

[2021-08-30 13:39] WhyNotHugo commented on #11358
I tried rebooting and that hasn't fixed it.

Deleting `netns/rootless-cni-ns` did not work, nor did deleting `netns/` itself.

[2021-08-30 13:46] Luap99 commented on #11358
OK please start the server with `--log-level debug` run your docker-compose file and provide the server output.

[2021-08-30 14:38] kriansa commented on #11350
Wow I'm impressed, that was quick! Thanks @vrothberg  and @rhatdan!

Let me know if there's anything I can do to help 👍

[2021-08-30 14:39] WhyNotHugo commented on #11358
Here goes:

[code]

[2021-08-30 14:41] WhyNotHugo commented on #11358
Whoops, the previous was a compose file with two containers, here's the correct log:

[code]

[2021-08-30 14:47] Luap99 commented on #11358
OK I see the error now. I hate symlinks with bind mounts together.

[2021-08-30 14:52] WhyNotHugo commented on #11358
I'm glad you're seeing it, because I'm not :P

[2021-08-30 14:58] Luap99 commented on #11358
PR #11360 to fix
This is the important line from your log: `The path of /etc/resolv.conf in the mount ns is \"/etc/run/systemd/resolve/stub-resolv.conf\"`, /etc/run is obviously the wrong path.

[2021-08-30 15:02] vlk-charles commented on #11324
Nevermind. It still happens under some circumstances, just not the ones described in the original post. I will try to find a set of steps for consistent reproduction.

[2021-08-30 16:19] WhyNotHugo commented on #10672
This can be easily reproduced with this example:

[code]

And then:

[code]

Are there any known workarounds?

[2021-08-30 16:59] olivergs commented on #10296
Hi again. The gating in fedora is already working for fedora 35. Rawhide fails because there is not a f36 toolbox image yet due to this bug: https://pagure.io/fedora-infrastructure/issue/10145 and f34 needs a backport of https://github.com/containers/toolbox/pull/857 .

@edsantiago You should be able to check it in f35 right now.

On the other hand, I tested latest podman locally from this build:

[2021-08-30 17:14] #11358 closed

[2021-08-30 17:24] KCSesh commented on #11343
@giuseppe that would be great!

1. Do you know why setting the `--tmpfs` manually is not working?

2. And do you know where the  `/dev` defaults are?
Is this hardcoded somewhere?

[2021-08-30 17:42] rhvgoyal commented on #10374
@brauner So there are two pieces to it from overlayfs point of view. First one is that one should be able to use an idmapped mount as lower directory. And second piece is that one can create idmapped mounts of overlay instance. I think @giuseppe is looking for first piece to begin with. That is create idmapped mounts of ext4/xfs/btrfs/nfs and then use these mounts as lower directory of overlayfs.

[2021-08-30 17:59] rhvgoyal commented on #10374
And probably we will need to create idmapped mounts from inside the outer user namespace. So we can download image, create idmapped mount inside outer NS and then use that as lower dir for overlayfs mount of nested container. This does not allow image sharing between different users but atleast this will avoid chown() (or doing uid shifting using fuse-overlayfs), IIUC.

[2021-08-30 18:58] Hi-Angel opened #11363 "`system df` fails with `error locating item named "manifest"`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman system df` results in

[code]

I don't have any unusual setups, nothing I'd deem to be responsible for odd behavior, so I figured it's a bug worth reporting.

**Steps to reproduce the issue:**

1. Run `podman system df`

**Describe the results you received:**

[code]

**Descri

[2021-08-30 18:59] mheon commented on #11363
Can you do a `podman inspect a249f971778eb31c10a8fb97f7a3c54f8549731ccac39accd0c02f358cb589ad` and provide the output?

[2021-08-30 19:00] Hi-Angel commented on #11363
Sure, it is:

[code]

[2021-08-30 19:05] giuseppe commented on #11343
because you override the `/dev/tty` mount.

yes, they are hardcoded in `vendor/github.com/opencontainers/runtime-tools/generate/generate.go`

[2021-08-30 19:07] roberth commented on #10672
For rootfull networks, you can enable the dnsname plugin at the system level https://podman.io/getting-started/network#using-dns-in-container-networks

For the rootless ones, this has not been documented afaik, and I don't know if it's implemented or feasible.

[2021-08-30 19:45] mheon commented on #11363
Do you know what the image is? Does it appear in `podman images`?

If you don't know what it is, I would recommend trying to `podman rmi -f` it and see if that resolves things.

@vrothberg PTAL

[2021-08-30 19:50] Hi-Angel commented on #11363
Heh, it turns out `podman images` doesn't work either:

[code]

By ID alone I can't identify what that image is.

I presume I could, because the only image that matters to me is running right now, which I don't think I'd lose. But note that in this case the bug would be closed, and can re-appear on someone else's machine. If you're okay with that, I can try removing that image.

[2021-08-30 20:35] MartinX3 commented on #4478
It's a needed feature.
It's painful to always podman stop, podman pod stop, podman pod rm, podman play kube, just to apply the updated yaml.

[2021-08-30 21:06] eriksjolund opened #11364 "--userns documentation markdown layout issue"
The itemized list in the `--userns` section changed between

in v3.2.3
https://docs.podman.io/en/v3.2.3/markdown/podman-run.1.html#userns-mode

and

in v3.3.0
https://docs.podman.io/en/v3.3.0/markdown/podman-run.1.html#userns-mode

The items __container__ and __host__ are not listed in the same way as the other items in the v3.3.0 version.

The hyphens before __container__ and __host__ were remove

[2021-08-30 22:12] TomSweeneyRedHat commented on #11332
@Luap99 thanks, I was looking all over and couldn't find anything to tweak.

[2021-08-30 22:12] #11352 closed

[2021-08-31 02:53] vikas-goel commented on #11016
I am not sure how Docker plays with the storage-opt value set default vs passed as command line Agilent. Logically, I would think when the command line argument is passed it is honored regardless of what the default is. Otherwise, the default is used.

That is, the command line argument should override the default no matter more or less.

[2021-08-31 04:12] flouthoc commented on #11344
/assign

[2021-08-31 07:04] sudhirtomar commented on #11181
Podman issue resolved, hence closing this issue.

[2021-08-31 07:10] brauner commented on #10374
Yes, exactly and I did outline that a couple of times and implemented both.

instance. I think @giuseppe is looking for first piece to begin with. That is create idmapped mounts of ext4/xfs/btrfs/nfs and then use these mounts as lower directory of overlayfs.

Yes, I understand.

Yes, that would be a second step.

There are no technical reasons or problems why overlayfs doesn't support idmapped mou

[2021-08-31 07:11] brauner commented on #10374
So you want to be able to create idmapped mounts inside of a user namespace, is what I understand.

[2021-08-31 07:38] hiaselhans commented on #11326
i can confirm that images are built with different prefix:

### docker:

[code]

[code]

### podman:

[code]

[code]

however, starting the thing with `docker-compose up` works with podman after the build.

[2021-08-31 07:39] PavelSosin-320 commented on #11356
@vrothberg The above command sequence works for me on Podman-Fedora34-WSL Podman 3.2.3 but the following doesn't work on the native Podman 3.3 - Fedora34:
<html>
<body>
<div class="aju" style="cursor: default; float: none; padding: 0px 16px; align-items: center; display: flex; height: 80px; min-width: 40px;"><div class="aCi" style="position: relative;"><img id=":nq_1-e" name=":nq" src="https://ssl

[2021-08-31 07:56] adrianreber commented on #11001
No one really answered why the timezone mount exists in the container without the corresponding entry in config.json. If there is a mount in a container and it is not listed in config.json checkpoint/restore will not work.

This is probably a shortcoming of CRIU and it seems like you have an application which cannot be checkpointed. Can you try it with a simpler application to verify that it works

[2021-08-31 08:13] vrothberg commented on #11363
Thanks for reaching out, @Hi-Angel.

This error can occur when the _manifest_ of an image isn't present in the local storage.  I do not know _how_ that can happen other than a `podman-{pull,build}` (i.e., or any other process copying an image to the storage) getting killed at a very specific time.

I agree that `podman rmi -f $ID` is the best way to resolve that issue.  Can you try doing that and

[2021-08-31 08:16] #11171 closed

[2021-08-31 08:17] Hi-Angel commented on #11363
Thanks! Doing `podman rmi -f $ID` helped to get rid of this error.

[2021-08-31 08:21] vrothberg commented on #11363
Thanks for confirming, @Hi-Angel.  I will reopen the issue, so that we can improve the error messaging.

[2021-08-31 08:30] vrothberg commented on #11363
Moving it over to containers/common since it's something for `libimage`.

[2021-08-31 11:11] #11343 closed

[2021-08-31 11:19] giuseppe commented on #11364
thanks, opened a PR: https://github.com/containers/podman/pull/11368

[2021-08-31 11:25] rhatdan commented on #11016
Sure, and that is how it works for the client.  The issue is we don't pass those values to the server.  If you set them on the server side it would  be followed.

[2021-08-31 12:09] laolux opened #11369 "container does not show exposed ports from the pod when created via --pod-id-file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman generate systemd` does not pass on opened ports from the pod to the containers inside the pod -> containers are not reachable from outside. This does not happen when creating the pod by hand.

**Steps to reproduce the issue:**

1. create a pod: `podman pod create --name testpod -p 2000

[2021-08-31 12:12] PavelSosin-320 commented on #11356
@vrothberg Related: maybe, _ConditionPathExists=!%t/container-theiaUnit.ctr-id_ is more reliable than rm files for keeping the running container singleton. It writes to the log only:
_Condition check resulted in Podman container-theiaUnit.service being skipped.

[2021-08-31 12:21] vrothberg commented on #11356
[code]

This looks good to me.  `podman ps` only shows container a81d5891a2c6, so there is none with ID b7f9fc6eaa5da...

Please share a minimal reproducer .  IMHO `rm -f ~/foo.txt; podman run --cidfile ~/foo.txt fedora ls; podman rm --cidfile ~/foo.txt` is a minimal reproducer and that seems to work.  Something else must be going on, but without a reproducer I do not know.

[2021-08-31 12:23] andrew-kennedy opened #11370 "podman's docker-compose support sets incorrect CreateCommand which breaks systemd generation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman sets the incorrect CreateCommand info on containers created through docker-compose, which breaks systemd unit file generation.

**Steps to reproduce the issue:**

1. Create a container with docker-compose. E.g.:
[code]

2.  run container with `sudo docker-compose up -d`

3. Inspect con

[2021-08-31 12:23] rhatdan commented on #11344
buildah manifest rm and podman manifest rm, should work the same and in the end the manifest list should be removed, whether or not the images the manifest list refer to should be removed, is debatable.  I would think the default is they get removed if they are not in use.

[2021-08-31 12:29] stu-gott commented on #11344
I tend to think the opposite would be ideal. The images can be managed individually using well established commands. At this time there's no way to remove the manifest without affecting the associated images.

I propose that manifest rm operates on just the manifest, but adding a "--all" or "--follow" flag would also delete any referenced images that are present.

[2021-08-31 12:34] vrothberg commented on #11370
Thanks for reaching out, @andrew-kennedy!

That's known but, to be fair, not-well documented limitation.  `podman generate systemd **--new**` requires the container to be created via Podman.  Container created via the remote/REST API, which is the case when using `docker-compose`, do not work.

Background: `generate systemd --new` is a looking at the "create command" of the container which is simp

[2021-08-31 12:54] vrothberg commented on #11370
Opened https://github.com/containers/podman/pull/11371

[2021-08-31 13:20] vrothberg commented on #11369
Thanks for reaching out!

It does not seem to be related to `generate systemd` but to using `--pod-id-file` rather than using `--pod`.

@cdoern, do you have cycles to look into this issue?

[2021-08-31 13:22] mheon commented on #11369
Can you try with 3.3.1, just released? I recall backporting a fix from @Luap99 related to `--pod-id-file`

[2021-08-31 13:22] vrothberg commented on #11369
Reproducer:
[code]

[2021-08-31 13:27] vrothberg commented on #11369
Good catch, it is fixed in the main branch, closing :)

[2021-08-31 13:27] #11369 closed

[2021-08-31 13:30] mheon commented on #11346
Concur that `podman container mount` is probably a better option. We've tried globbing on `cp` before, and it resulted in more than one CVE before we dropped the idea.

[2021-08-31 13:38] vrothberg commented on #11346
Thanks, @mheon. That's reassuring. I'll open a PR to elaborate on that in the man pages.

[2021-08-31 13:41] PavelSosin-320 commented on #11356
The differences between minimal reproducer and my scenario are

1. Different Podman version 3.2.3 -> 3.3
[container-TheiaUnit-service.txt](https://github.com/containers/podman/files/7084302/container-TheiaUnit-service.txt)
version
2. Theia IDE is a long-starting, long-running, and long-stopping service with a stateful backend.
3. I use it as a rootless WSL user.
4. Podman service is started by a s

[2021-08-31 13:46] #11345 closed

[2021-08-31 13:55] vrothberg commented on #11356
Sorry, I do not understand what's going on.  The short-form vs. long-form thing does not hold to be true. If the `--cidfile` points to a container that doesn't exist anymore, something's wrong.

Doesn't the systemd unit handle the case already when the container has been removed?  See **--ignore **.

[2021-08-31 14:10] ananthb opened #11377 "Podman user mode doesn't work after uid change"
/kind bug

**Description**
I changed my user account's id from 1001 to 1000 on a system where I had already started using podman as that user.
After changing ids, all podman operations fail with `Error: error creating tmpdir: mkdir /run/user/1001: permission denied`.

**Steps to reproduce the issue:**
1. Create a user account
2. Use podman with this account to build images and run containers.
3. C

[2021-08-31 14:19] PavelSosin-320 commented on #11356
Ignore potentially changes the state

[2021-08-31 14:20] matejvasek commented on #11377
@ananthb don't you need restart or re-login (using the `su` command) to make such a change?

[2021-08-31 14:25] ananthb commented on #11377
This was after rebooting.

[2021-08-31 14:43] matejvasek commented on #11377
what is output of `echo "$XDG_RUNTIME_DIR"`?

[2021-08-31 14:55] mheon commented on #11377
Podman caches the temporary files directory in use in the database, to ensure it always remains constant; in this case, we likely cached `/run/user/1001` and now that is no longer your user's given rundir, and inaccessible to you. Unfortunately, the path may be cached throughout the database; there's no easy way to work around it. You will probably need to reset your storage with `podman system re

[2021-08-31 15:17] brauner commented on #10374
@giuseppe https://lore.kernel.org/linux-btrfs/cover.1630327914.git.dsterba@suse.com

[2021-08-31 16:42] vikas-goel commented on #11001
The errors I am encountering look generic in nature that any application may have as requirements. I understand a simpler (bare minimum) application may not face the issues. But then the value of container checkpoint feature is defeated.

[2021-08-31 16:44] vikas-goel commented on #11016
In my use-case, I don’t set any default value. There is different storage-opt policy for different containers depending on their (internal) types.

[2021-08-31 17:32] mheon commented on #11001
@adrianreber I ran locally and confirmed that there is a bind mount for `/etc/localtime` in the container - it's in the OCI spec.

[2021-08-31 17:45] adrianreber commented on #11001
If I do:
[code]

I get following `tmpfs` mounts:
[code]

All files are mentioned in `config.json`. Only `/usr/share/zoneinfo/Etc/UTC` is mounted from `.../userdata/localtime` without an entry in `config.json`.

[2021-08-31 17:53] mheon commented on #11001
From a container I just created using `--tz=local`:

[code]

[2021-08-31 17:57] mheon commented on #11001
I can verify that the results are effectively identical when I use `--tz=CET`. There is a bind mount in config.json for `/etc/localtime`.

It looks like this is a symlink in the container to `../usr/share/zoneinfo/Etc/UTC`.  Best guess is that the OCI runtime followed the link and created the bind-mount there.

@giuseppe This sounds like it could be a bug in `crun` - following the symlink in the c

[2021-08-31 18:46] #10443 closed

[2021-08-31 19:04] giuseppe commented on #11001
I don't think it is possible to create a bind mount on a symlink.

If you use a symlink as target for mount, the kernel will resolve it.  The runtime resolves the symlink to avoid it can point to paths outside the rootfs.  crun uses `openat2` to resolve it inside the chroot.  `..` at the root directory has no effect, e.g. a symlink `/a/b/symlink` like `../../../../foo` will be resolved to `/foo`.

[2021-08-31 19:14] edsantiago commented on #10296
Submitted [PR for f35](https://src.fedoraproject.org/rpms/podman/pull-request/47). Confirmed that it works in 1minutetip. Also confirmed hat you have an [f35 bodhi](https://bodhi.fedoraproject.org/updates/FEDORA-2021-24762cac24) and that tests pass.

[2021-08-31 19:55] mattymo opened #11380 "upstream podman image should have dnsname plugin installed and enabled"
/kind feature

**Description**

A popular feature is to use a dns server to facilitate name lookups between containers in a custom network. This is possible with some manual setup, but not in the quay.io/podman/stable:v3.3.0 image.

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest version of Podman and have you checked the Podman Tr

[2021-08-31 19:56] mheon commented on #11380
@TomSweeneyRedHat PTAL - it sounds like we might not be installing recommended packages? `podman-plugins` might not be in the image?

[2021-08-31 20:09] edsantiago commented on #10386
The past month:

### Podman systemd [It] podman run container with systemd PID1
* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #11333
    * [08-27 07:03](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5372310774349824/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [08-27 07:03](https:

[2021-08-31 20:18] NeckBeardPrince commented on #10944
These would be helpful https://podman.io/getting-started/installation and https://github.com/containers/podman/blob/main/docs/tutorials/mac_win_client.md.

Neither of these docs tell you that you have to `machine init` and then `machine start`.

[2021-08-31 20:21] baude commented on #10944
Mind doing a PR?

[2021-08-31 20:33] Chealer opened #11382 "Remote clients for macOS and Windows tutorial: unclear about what package to download for Windows"
/kind feature

**Description**

[The _Podman Remote clients for macOS and Windows_ tutorial's _Windows_ section](https://github.com/containers/podman/blob/main/docs/tutorials/mac_win_client.md#windows) refers to "the Podman windows installer", which can be found on [the latest release's description page](https://github.com/containers/podman/releases/tag/v3.3.1). My best guess is that this refers t

[2021-08-31 20:49] NeckBeardPrince commented on #10944
Looks like someone [did](https://github.com/containers/podman/pull/10565) but looks like nothing links to it https://github.com/containers/podman/blob/main/docs/tutorials/mac_experimental.md.

[2021-08-31 21:29] #11194 closed

[2021-08-31 21:29] #11346 closed

[2021-08-31 21:50] TomSweeneyRedHat commented on #11380
@mattymo @mheon we keep the image pretty darn lean, perhaps too lean?

https://github.com/containers/podman/blob/main/contrib/podmanimage/stable/Dockerfile#L14
[code]

I'd be find with adding podman-plugins if that makes sense and doesn't bloat the image too much.  @rhatdan thoughts?

[2021-08-31 23:49] anthr76 opened #11383 "podman machine init - allow for overriding ignition file"
Given the newest "container on the desktop" news it would be great to have podman in a good usable state on other platforms besides Linux. Currently on my work machine we're MITM with CA certificates. On a `podman machine create` I can use my own ignition and do the configuration podman does by default such as setting up a user and ssh-keys and provide my corps CA certificates. This can be somewha

[2021-09-01 00:38] asottile commented on #8086
I'm still on 3.2.3 (apt hasn't updated yet) but it's still an issue there:

[code]

[2021-09-01 00:49] edsantiago commented on #10296
That PR is now merged. Toolbox gating tests are now enabled for podman on f35. But @containers/podman-maintainers I think we have a problem coming up.

For any given Fedora NN, toolbox seems to want to pull a `toolbox` image with the tag `fNN`. That means that as soon as `fNN` branches from Rawhide and Rawhide becomes `fNN+1`, **podman rawhide bodhi will break** because the toolbox team will not h

[2021-09-01 01:00] bitstrings commented on #8086
Works here, tried 100 times.

`

Version:      3.3.0
API Version:  3.3.0
Go Version:   go1.16.6
Built:        Fri Aug 20 15:36:14 2021
OS/Arch:      linux/amd64
`

[2021-09-01 01:08] KCSesh commented on #11343
Thanks @giuseppe so I can simply use `--tmpfs /dev` AND `--mount=type=devtps,destination=/dev/pts/` and then I can override the `/dev` mount with my options.
This works for now!

But I am interested in the --security-opt dev-opts= as well like you suggested.

[2021-09-01 02:35] laolux commented on #11369
Works great for me, thanks.
Sorry, I did not understand that it's related to `--pod-id-file` and just looked for systemd stuff in the 3.3.1 release notes.

[2021-09-01 06:00] vlk-charles opened #11384 "`podman stop` returns before removing a container started with `--rm`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After `podman stop` returns after removing a container, there are still processes running in the background responsible for removing the container if it was started with `--rm`. In combination with systemd, this can cause `iptables` NAT rules to be left behind. This is especially bad when por

[2021-09-01 06:08] mattymo commented on #11380
I'm mistaken. I used contrib/podmanimage/upstream/Dockerfile and it doesn't include plugins. The stable image does include dnsname plugin binary. I will reopen if I find issues with it

[2021-09-01 06:19] vlk-charles commented on #11324
Just for full disclosure, this bug is fixed. My continued issues have a different cause and #11384 was opened for it.

[2021-09-01 08:14] vrothberg commented on #11384
Thanks for reaching out, @vlk-charles!

Running Podman inside systemd units is full of traps and hard to get right.  Can you try using a unit generated via `podman generate systemd`?  These units are the ones we can really support for users and "known to work".

[2021-09-01 08:31] vlk-charles commented on #11384
`podman generate systemd` generates services that control an existing container without creating or removing it. That probably works. My service creates a new container on service start-up and destroys it on shut-down. I am not asking you to support my systemd use case. But the bug goes beyond systemd. It is reasonable to expect `podman stop` to block until the container is stopped **and** removed

[2021-09-01 08:32] Snorch commented on #11001
If I understand the above correctly, that's what happens:

Container runtime creates external bind-mount for a container and it's target path is a symlink and external bind-mount is created in the symlink resolved path instead which is different to target path.

We actually have a problem here, because current CRIU mount engine can't understand that this mount with different mountpoint is external

[2021-09-01 08:34] Luap99 commented on #11384
@vlk-charles use `podman generate systemd --new` for this use case.

[2021-09-01 08:36] vlk-charles commented on #11384
@Luap99 Thanks. Didn't know about that. Will try.

[2021-09-01 08:38] Luap99 commented on #11384
@vlk-charles Note that there is a bug with `podman generate systemd --new` in 3.3.0, if possible you should update and try with 3.3.1.

[2021-09-01 08:43] vlk-charles commented on #11384
Also, `podman ps` fails when run immediately after `podman stop`:
[code]

[2021-09-01 09:12] Luap99 commented on #11384
The thing is once the container process exits the conmon process will start the podman cleanup process. If you set `--rm` this process will also remove the container. `podman stop` will stop the container process and cleanup the container.
Now you have two processes trying to cleanup the container, this will likely  fail for one of them. The issue was reported in https://github.com/containers/podm

[2021-09-01 09:12] ananthb commented on #11377
@matejvasek
[code]

@mheon podman system reset also fails with the same error. I finally fixed it by manually deleting $HOME/.local/share/containers, but I'm interested in figuring out how to fix it permanently.

[2021-09-01 09:29] rhatdan commented on #11016
@jwhonce Is this a bug in our docker API compatibility?  Do we support passing some storage options?

[2021-09-01 09:37] rhatdan commented on #11344
Well I guess I can go along with that.  '--all' makes the most sense to me.

[2021-09-01 09:41] vlk-charles commented on #11384
Thanks for the insight. So basically `podman stop` used to do the clean-up itself but since #7384 it expects `conmon` to do it (as it has always been doing it too) but doesn't actually wait for `conmon` and verify.

I guess the `podman ps` issue is separate but it probably wouldn't be revealed in this case if `podman stop` waited for `conmon` to remove the container.

[2021-09-01 09:43] #11370 closed

[2021-09-01 10:21] fuglede opened #11386 "Unable to connect Windows client to WSL 2-hosted Podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've been following [this guide](https://www.redhat.com/sysadmin/podman-windows-wsl2) to get Podman up and running on WSL 2 (Ubuntu); everything works like a charm.

I then wanted to combine [this other guide](https://www.redhat.com/sysadmin/podman-clients-macos-windows) on using a Windows cl

[2021-09-01 10:26] 0b11stan opened #11387 "Some arguments are case sensitive, others are not"
/kind bug

**Description**

There is a case problem in argument's interpretations. Some are case sensitive and others are not, I saw it on the `--systemd` arg (the `--tty` arg, for exemple, is not case sensitive) but it may be elsewhere. It's very simple to avoid (obviously just change de case on the command line) and it seems like a very  obvious bug but I could not find an existing issue on this

[2021-09-01 10:28] lpil commented on #10577
With the change in Docker's pricing today this feature becomes a lot more desired! It would be great to get this in the near future. Thank you

[2021-09-01 10:31] rhatdan commented on #11340
As long as the embeded binary ends  up being tiny, when running.

[2021-09-01 10:53] Luap99 commented on #11384
I don't think `podman stop` should wait for removal. If you want to stop and remove it why not use `podman rm -f`. I opened #11388 to fix the cleanup problem.

[2021-09-01 11:05] #8314 closed

[2021-09-01 11:14] vlk-charles commented on #11384
I didn't realize clean-up and container removal were separate things. I was mixing them up.

[2021-09-01 11:34] Luap99 commented on #11123
@edsantiago I will take a look today. It looks like the `No route to host` error happens in many different tests.

[2021-09-01 11:44] Jarvvski opened #11389 "[macOS] Running podman with docker-compose"
/kind bug

**Description**

What is the expected method to use docker-compose on macOS? I see examples of running it on linux, or even linux with a remote host. However the `podman-docker` package isn't available for macOS to handle creating the right symlinks.

I assume I can't just symlink the local `/var/docker/docker.sock` or set `DOCKER_HOST` and it just _work_?

**Steps to reproduce the issu

[2021-09-01 11:51] Luap99 commented on #11389
Setting DOCKER_HOST should work

[2021-09-01 11:54] Jarvvski commented on #11389
but setting it to what?

The output of the `remote sock` from `podman info` after doing a `podman machine init && podman machine start`?

In testing, I saw it was `/var/run/1000/podman/podman.sock`

Trying `export DOCKER_HOST=unix///var/run/1000/podman/podman.sock` didn't seem to get me anywhere

[2021-09-01 11:57] Luap99 commented on #11389
Can you paste the output of `podman system connection ls`, this should contain the address to the remote connection.

[2021-09-01 12:02] Jarvvski commented on #11389
Sure

[code]

[2021-09-01 12:02] Jarvvski commented on #11389
Is the `1000` the pid? If so, this means `DOCKER_HOST` would need changing on each subsequent restart, correct?

[2021-09-01 12:08] Luap99 commented on #11389
1000 is the user so it does not change. I just tried this and it looks like you cannot set ssh with the path only `DOCKER_HOST=ssh://root@localhost:61047` worked for me.

[2021-09-01 12:31] flouthoc commented on #11344
I spent some time on this after having few discussions and brainstorming with @vrothberg on a similar topic.

What i think is we  should do operations only on `manifest` if `podman manifest` is invoked since there can be cases where image is still under use and afaik once tagged and  saved to store i don't think it has a dependency on its original manifest list.

[2021-09-01 12:34] flouthoc commented on #11344
But sure we can have a case to remove all referenced images when `--all` is used. @vrothberg what would be your take on this ?

[2021-09-01 12:42] vrothberg commented on #11344
`podman manifest rm --force` maybe?  But that really is a separate issue/feature request.

In retrospective, wished there was no `manifest rm` or `manifest remove`.  We could have wired it into `rmi`.  It is getting really confusing.

[2021-09-01 12:48] Jarvvski commented on #11389
Doing that gets past the error, but then I run into key related issues

[code]

Is this expected?

[2021-09-01 12:56] Luap99 commented on #11389
I don't think this is expected.
@baude @ashley-cui PTAL

[2021-09-01 13:07] #11051 closed

[2021-09-01 13:09] baude commented on #11389
is that the correct ssh key?

[2021-09-01 13:13] Luap99 commented on #11387
The boolean options accept both because this how the cli framework handles it. The `--systemd` option accepts a string value so podman has to parse it. `--systemd` is not a boolean because it accepts `true`,`false` and `always`. I guess the easy fix would be to run `strings.ToLower()` on the argument.

[2021-09-01 13:14] mheon commented on #11016
We formerly had some support (in the frontend, but not the backend) but you ripped it out of the `podman run` options list because it was breaking local Podman's `--storage-opt` flag.

I think we need to add it back, and figure out how to wire it into c/storage such that the options are actually respected.

[2021-09-01 13:15] mheon commented on #11377
That should be a permanent fix - the DB is gone, so we'll now cache your new paths, and Podman should go back to working as expected.

If you plan on changing UID/GID again, this will unfortunately happen again; it's not really something we accounted for in Podman's architecture.

[2021-09-01 13:21] rhvgoyal commented on #10374
I think so. But @giuseppe knows it best how things are being setup in podman. My understanding is that one will download
image while running inside outer namespace and then that image will have to be idmapped mounted for nested container. And that's why there is a need to be able to do idmapped mount inside user namespace.

@giuseppe please correct me if that's not the case.

[2021-09-01 13:22] rhvgoyal commented on #10374
Cool. Good to see idmapped mount for btrfs support being merged upstream.

[2021-09-01 13:33] mheon commented on #11382
@baude @TomSweeneyRedHat PTAL

[2021-09-01 13:47] ananthb commented on #11377
@mheon would it be possible to detect the change and update the DB on podman start up?

[2021-09-01 13:53] mheon commented on #11377
Could theoretically be added to `podman system migrate` with the caveat that all containers would have to be stopped when it was run. Depends on how many places we're storing the path - could get very difficult to locate them and rewrite.

[2021-09-01 13:54] mheon commented on #11387
@0b11stan Are there any other flags you've noticed which also have this behavior? They should all be one-line fixes, we just need to know which ones aren't working properly.

[2021-09-01 14:04] #11384 closed

[2021-09-01 14:09] rhatdan commented on #11383
@baude @ashley-cui PTAL

[2021-09-01 14:10] rhatdan commented on #11063
@mheon since you have started on documenting this.

[2021-09-01 14:11] rhatdan commented on #10762
I think I answered this, so closing.  Reopen if more info is required.

[2021-09-01 14:11] #10762 closed

[2021-09-01 14:13] rhatdan commented on #6265
@vrothberg @mtrmac @lsm5 Any thoughts?

[2021-09-01 14:13] rhatdan commented on #4123
@lsm5 @mtrmac @vrothberg PTAL

[2021-09-01 14:19] rhatdan commented on #11343
Should we change the default, if this just works, and it would be more secure to mount /dev with noexec, we should just do it.  Although this is buries in runtime-tools.

[2021-09-01 14:26] asottile commented on #8086
@rhatdan this isn't fixed, @bitstrings edited their comment after posting

[2021-09-01 14:28] bitstrings commented on #8086
It's not fixed. It just doesn't happen has often on my desktop on low load. It is however still an issue.

[2021-09-01 14:28] baude commented on #11382
@Chealer would you consider a PR to make the updates?

[2021-09-01 14:31] baude commented on #10577
@lpil unfortunately,we are subject to the merging of qemu patches upstream.  once that is done, we will have it all set.

[2021-09-01 14:44] Conan-Kudo commented on #10577
@baude What's the current state of the patchset for QEMU? Is there a link to the latest discussions about them that I can follow?

[2021-09-01 14:53] ssbarnea commented on #11235
I am facing this problem with podman 3.3.0 (1629488174) on macos but not with the same version on fedora. Sounds like critical to me...

[2021-09-01 14:54] rhatdan commented on #11380
Makes sense that we should ship it in the image.

[2021-09-01 14:58] matejvasek commented on #11235
@ssbarnea as a workaround you try changing `https://index.docker.io/v1/  ->  docker.io` in your configfile or keyring/credstore.

[2021-09-01 14:59] vrothberg commented on #11235
@saschagrunert PTAL

[2021-09-01 15:04] ssbarnea commented on #11235
@matejvasek Can you please be a little bit more explicit? I checked and there is no registry configured inside `~/.config/containers/containers.conf` and I have no `container-registries.conf` file on disk. I suppose there is an implicit one but I was not able to find it on https://github.com/containers/image/blob/main/docs/containers-registries.conf.5.md

[2021-09-01 15:10] matejvasek commented on #11235
I think that auth.json is stored somewhere in `$XDG_RUNTIME_DIR`.

[2021-09-01 15:11] matejvasek commented on #11235
@ssbarnea  Something like `/run/user/1000/containers/auth.json`

[2021-09-01 15:29] ssbarnea commented on #11235
On macos there is no $XDG_RUNTIME_DIR but on remote host (using the same user has podman remote connection use), I did:
[code]

So there is no `auth.json` either. I suppose that the auth.json file is created only when someone is doing a login. Out of curiosity I manually did an login and the file appeared after.

I also did the same on my macos box and the file was created at ` ~/.config/container

[2021-09-01 15:38] matejvasek commented on #11235
Mabybe it stores you credentials in some docker credentials helper (secure store) not plaintext in json file.

[2021-09-01 15:39] mheon commented on #11235
`podman login --verbose` on 3.3.0 and up should print where we stored the credentials.

[2021-09-01 15:57] stu-gott commented on #11344
@vrothberg, that's a very good point. We've conflated two separate conversations here. I think it would be sensible to handle decisions regarding [`--all`|`--force`|`--do-what-I-mean-not-what-I-say`] outside of the scope of this issue, which is about the fact that `podman manifest rm` deletes an associated image.

[2021-09-01 16:14] matejvasek commented on #11235
@saschagrunert
[code]

[2021-09-01 16:15] ssbarnea commented on #11235
I managed to sort the problem locally by altering `~/.docker/config.json` file:
[code]

What i had to do was to **remove all keys under auths that contained a full url**, something like `"https://index.docker.io/v1/": {}` would break podman, which docker has no problem with it.

[2021-09-01 16:24] KCSesh commented on #11343
Doesn't seem like '--mount' lets me specify 'noexec' for `/dev/pts`, from what I can tell.
Unless I'm missing something @giuseppe and @rhatdan?

[2021-09-01 16:31] rhatdan commented on #11016
SGTM.   The question is should we support this from podman-remote.

[2021-09-01 16:43] Jarvvski commented on #11389
Yes @baude. In my ssh config, I've tried adding

[code]

The above key is what's referenced in the output of `podman system connection ls`

[2021-09-01 16:59] gofabian commented on #8016
limavm has something like that. They use "reverse sshfs" and call it "Automatic file sharing". Maybe that helps.

https://github.com/lima-vm/lima

[2021-09-01 17:02] edsantiago opened #11392 "podman inspect: error getting graph driver info: stat/ENOENT"
New flake seen in [f33 gating tests](http://artifacts.dev.testing-farm.io/5a6ef153-73b0-41e7-8246-c9625bb3322a/work-tests.yml4_tJaf/tests-sMUnYG/test.podman-root-cgroupsv2.bats.log):
[code]
There are already two known errors that we turn our head away from in this test:

https://github.com/containers/podman/blob/f5cfb0da29a8ab07836f5b71816e915e04d5850e/test/system/255-auto-update.bats#L117-L125

T

[2021-09-01 17:21] Jarvvski opened #11393 "[macOS] Removing machines and uninstalling podman doesn't clean up fully"
/kind bug

**Description**

It seems like some files are left over when removing machines, uninstalling podman and then reinstalling and initalizing a new machine

**Steps to reproduce the issue:**

1.
[code]

2.

[code]
3.
[code]

4.
[code]

5.
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Machine to start successfully

**Additional information yo

[2021-09-01 17:25] Jarvvski commented on #11393
Seems to be fine if I manually remove the left over socket file

[code]

[2021-09-01 17:25] mheon commented on #11393
@baude @ashley-cui PTAL

[2021-09-01 17:27] Jarvvski commented on #11393
Now I can correctly run the podman version commands too

[code]

[2021-09-01 17:31] abitrolly opened #11394 "podman play compose -f docker-compose.yml"
/kind feature

Use `docker-compose.yml`/`container-compose.yml` directly. Because setting up `podman` is to work with `docker-compose` is not user friendly.

**Describe the results you expected:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

The most straightforward approach is to use https://kompose.io/ as a lib to do conversion into Kubernetes YAML on the fly a

[2021-09-01 17:44] Jarvvski commented on #11394
I would prefer that the first approach is to use docker-compose CLI, and be expected to export the right `DOCKER_HOST` env for it to work

There are many items that rely on `docker-compose` being just that, the CLI, instead of being called from podman. For example, many test suites that support docker-compose integration are built around executing commands via that CLI

Conforming podman to run `s

[2021-09-01 17:47] tnk4on opened #11396 "[podman machine] Port auto-forwarding does not work in rootless mode and macOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I run the podman machine with Podman v3.3.x and gvproxy.
In rootless mode on Linux or macOS, automatic port forwarding by gvproxy does not work when I start the container and expose the port.
In root mode on Linux, automatic port forwarding does work.

**Steps to reproduce the issue:**

[2021-09-01 18:05] Luap99 commented on #11396
Can you try running with `--network bridge` and see if that works

[2021-09-01 18:13] tibcoplord opened #11397 "How to access docker api on a mac"
/kind feature

**Description**

I've been following https://github.com/containers/podman/blob/main/docs/tutorials/mac_experimental.md on my mac, specifically -

[code]

Actually works pretty well :-)  However next I want to use a docker client ( specifically the fabric8 maven plugin to build images, but we can test with docker command ), but I see -

[code]

I read at https://github.com/containers

[2021-09-01 18:17] abitrolly commented on #11394
`docker-compose` is a development tool - for `production` you still need something like Kubernetes to split containers over multiple hosts, so my use story is not only about making it easier to run `docker-compose.yml` files, but also to make it easier to compare the environments.

As for test suites that rely on `docker-compose` CLI I really haven't seen any, and is interested to see some example

[2021-09-01 18:25] fuglede opened #11398 "Podman remote Windows client asks for absolute volume paths regardless of input"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running the Podman Windows client against a WSL 2 remote `podman run -v` will tell me to provide absolute paths, no matter what I provide.

**Steps to reproduce the issue:**

While struggling with #11386, I'm running a Podman service in a WSL 2 Ubuntu host through

[code]

Then, using th

[2021-09-01 18:29] tnk4on commented on #11396
@Luap99 Wow, It works fine!

(rootless mode on Linux)
[code]

(macOS)
[code]

[2021-09-01 18:34] rhatdan commented on #10374
In Rootless Mode Podman and Buildah pull the image and store it within a User Namespace, without the mapping, No Overlay.  Then the tools will optionally mount the images with and idmapping and an overlay.  Just the lower is mapped read/only, and the upper would be native on disk.

In rootless mode, the pulled image will by default run in the hosts user namespace and then mount the idmapping as a

[2021-09-01 18:44] baude commented on #10577
no upstream change, the submitter needs to make some changes and resubmit

[2021-09-01 18:46] rhatdan commented on #11387
--systemd should definitely get the strings.ToLower() fix.

[2021-09-01 18:47] mheon commented on #11397
@baude @jwhonce PTAL

[2021-09-01 18:53] Luap99 commented on #11396
@mheon The problem is that we parse this into specgen on the client, so `rootless_networking = "cni"` must be set on the client I think.

[2021-09-01 18:58] Luap99 commented on #11396
Yes I think that would be the best way to fix it

[2021-09-01 18:59] AverageMarcus commented on #11396
Just confirming that adding `rootless_networking = "cni"` under the `[containers]` section of ~/.config/containers/containers.conf does also fix this on MacOS :)

[2021-09-01 19:03] giuseppe commented on #10374
Thanks for the update!

I think this is s/rootless/root/

[2021-09-01 19:12] rhatdan commented on #11397
I think you need to specify DOCKER_HOST environment variable for this, but this is where my knowledge ends.

[2021-09-01 19:14] rhatdan commented on #11396
@ashley-cui @jnovy PTAL, is this something we do in a brew build somewhere?

[2021-09-01 19:16] matejvasek commented on #11397
As Dan mentioned `export DOCKER_HOST="/run/user/1000/podman/podman.sock"` should do the trick. It works for instance with `docker` CLI.

[2021-09-01 19:18] rhatdan commented on #10374
Yes, I will fix.

[2021-09-01 19:18] ashley-cui commented on #11396
Probably shouldn't be done in brew, maybe in the our makefile or something?

[2021-09-01 19:18] matejvasek commented on #11397
However it still my happen that some application wrongly assume that socket is always `/var/run/docker.sock`.

[2021-09-01 19:19] tibcoplord commented on #11397
On the mac I see -

[code]

[code]

Indeed, /run/user/1000/podman/podman.sock doesn't exist on the mac, only inside the podman machine.

[2021-09-01 19:20] rhatdan commented on #11396
I am talking about where the containers.conf comes from that we ship for MAC.

[2021-09-01 19:20] baude commented on #11389
add the key to the keychain (i.e. ssh add ~/.ssh/podman-machine-default).  this worked for me.  i then threw docker-compose on and it connects ... but ... it wont work because the underlying image has moby on it.  i would need to mess with it to see if i can make that work.

[2021-09-01 19:21] baude commented on #11389
cc @rhatdan see previous comment...we need to push for that slimmer fcos

[2021-09-01 19:22] tibcoplord commented on #11397
[code]

I'm not seeing how the socket would work if its inside the podman machine.

[2021-09-01 19:24] #11364 closed

[2021-09-01 19:26] baude commented on #11397
it can be made to work i think, the problem is a little more sophisticated than the network connection I am afraid.  i'm looking into casually, but the first issue is the presence of moby on the os.

[2021-09-01 19:27] tibcoplord commented on #11397
Many thanks :-)

[2021-09-01 19:30] matejvasek commented on #11397
@baude  isn't `podman` on mac actually `podman-remote`?

[2021-09-01 19:31] afbjorklund commented on #11397
We ended up symlinking inside the VM, since the location of the unix socket is hardcoded (when using `ssh:` address) :

`export DOCKER_HOST=$CONTAINER_HOST`

`ssh host connection is not valid: extra path after the host: "/run/podman/podman.sock"`

So had to remove the `/run/podman/podman.sock` from the URL, and then link `/var/run/docker.sock` to it (in the VM)

[2021-09-01 19:31] ashley-cui commented on #11396
Ah, no, the containers.conf isn't touched or installed by homebrew.

[2021-09-01 19:32] matejvasek commented on #11397
yeah docker doesn't support unix socket over ssh it seems, but I can be worked around using ssh tunnel

[2021-09-01 19:37] matejvasek commented on #11397
`ssh -nNT -L/tmp/podman.sock:/run/user/1000/podman/podman.sock ssh://user@host`
or
`ssh -nNT -L/run/user/1000/podman/podman.sock:/tmp/podman.sock ssh://user@host`
not sure which one
Then you can set `export DOCKER_HOST=unix:///tmp/podman.sock`

[2021-09-01 19:38] matejvasek commented on #11397
The command above basically tunnels remote unix socket to you local machine.

[2021-09-01 19:39] matejvasek commented on #11397
At least this seems to be true for standard `Go` client library.

podman is better at this since CONTAINER_HOST can be `ssh://use@host/some/path.sock`

[2021-09-01 19:42] matejvasek commented on #11397
@tibcoplord

Ah I missed that it's VM via ssh. Then you probably need to workaround this using ssh tunnel.

[2021-09-01 19:47] mheon commented on #11396
Yes, this should be compiled-in defaults only

[2021-09-01 19:51] carmo-evan commented on #8136
I think this becomes even more relevant now with Docker Desktop becoming a paid service.

[2021-09-01 20:01] matejvasek commented on #11397
@afbjorklund symlink solution looks better that using ssh tunnel, I myself used tunnel in past because my VM didn't allow me create symlinks.

[2021-09-01 20:16] tibcoplord commented on #11397
Ah ha :-)  So following the sym link approach I got to -

[code]

But then in my next use-case, fabric8 maven plugin -

[code]

I'll try the tunnel approach.

[2021-09-01 20:17] ahmetb opened #11399 "Podman via "podman machine": docker commands fail with ""potentially insufficient UIDs or GIDs available in user namespace""
/kind bug

**Description**

Fresh install of Podman CLI + VM on a macOS.
Some "docker" commands are working (aliased to "podman"), but "docker build" is failing with error:

**Steps to reproduce the issue:**

1. `brew install podman`

2. `podman machine init && podman machine start` (note warning)

[code]

3. `podman machine list` shows  Running

4. `alias docker=podman`

**Describe the results yo

[2021-09-01 20:18] matejvasek commented on #11397
seems like flaw of the java lib

[2021-09-01 20:18] dataegg opened #11400 "Documentation indicates that the --driver option only supports bridged networking."
/kind bug

**Description**

Documentation issue

The documentation (https://docs.podman.io/en/latest/markdown/podman-network-create.1.html) describes that the --driver option only supports bridged networking while later in the documentation it says that the --macvlan option is deprecated.

This would create a situation where there is no more macvlan network option. The --driver option also support

[2021-09-01 20:23] matejvasek commented on #11397
I believe podman can be set to use plain TCP.

[2021-09-01 20:25] matejvasek commented on #11397
but I don't know how the process is started in VM, it my require changes to some systemd config files maybe?

[2021-09-01 20:26] mheon commented on #11399
This looks like a more general rootless issue. We allocate, by default, 65536 UIDs and GIDs for each rootless user; you're using an image that uses high UIDs and GIDs (445605:89939 are both higher than 65536), so it's not compatible with a default rootless configuration. You could SSH into the machine and manually edit `/etc/subuid` and `/etc/subgid` to increase the number of UIDs and GIDs availab

[2021-09-01 20:29] matejvasek commented on #11397
and even if it didn't support TCP you still could use `socat` :smile: , not much better that tunneling

@afbjorklund what problems did you encountered with tunneling?

[2021-09-01 20:32] vlk-charles commented on #11384
Thank you for the fix. That should deal with the main aspect of the issue.

But I am still not sure whether not waiting for container removal is the right thing. I always used to think of:
[code]
as being functionally equivalent to:
[code]

But they are actually not. The first one stops the inside process and will now also ensure clean-up (which does not include container removal) but the containe

[2021-09-01 20:32] afbjorklund commented on #11397
It's a bunch of arcane commands, instead of an URL in a variable.

So it's hard to explain to the end users, that just want to "run Docker".

[2021-09-01 20:40] tibcoplord commented on #11397
Well, with -

[code]

The fabric8 build worked :)

[code]

Need to find the best set of commands for the two options.

[2021-09-01 20:41] baude commented on #11397
certainly one way to do it

[2021-09-01 20:43] matejvasek commented on #11397
Another way to do it might be to enable TCP but I am not sure if that's secure enough.

[2021-09-01 20:44] afbjorklund commented on #11397
You actually have to do something similar on Linux even when using podman (only), when wanting to go from CLI to API...

Well, you would be starting a systemd unit to create the local socket rather than tunneling it to a remote VM, but still a step.

[2021-09-01 20:45] baude commented on #11397
ideally, you guys should write a github issue and tell us what you want to be able to do ... and then we make that for you :)

[2021-09-01 20:46] matejvasek commented on #11397
I am not sure if I follow, you need TCP there, for what?

[2021-09-01 20:47] afbjorklund commented on #11397
Adding the above ssh tunnel command to the documentation seems about adequate for this particular matter.

Getting Docker to use SSH would be nice, but that will probably take "a while" before all old clients support it ?

[2021-09-01 20:48] matejvasek commented on #11397
you men exporting the DOCKER_HOST envvar?

[2021-09-01 20:48] baude commented on #11399
please provide your Dockerfile or Containerfile.  I just tried a basic Containerfile I have and it worked perfectly

[2021-09-01 20:49] afbjorklund commented on #11397
I meant that when you use `podman` from the terminal, it will work without having any `podman.sock` available.

But when using `github.com/containers/podman` (nee "libpod") from your own program, it needs the unix socket

[2021-09-01 20:51] matejvasek commented on #11397
yeah `libpod` and `podman-remote` need socket, I am not sure if it has to be unix socket or if it also support TCP.

[2021-09-01 20:57] baude commented on #11397
man podman-system-service ....

[code]

[2021-09-01 21:00] baude commented on #11396
this works in 3.3.1 and later.  if you have 3.3.1, it should have installed gvproxy ... then simply create a new network and run the container like you did earlier.

[2021-09-01 21:07] seanyoung commented on #8136
Also docker for linux can't run windows containers. This is a real killer feature

[2021-09-01 21:11] shyim commented on #11394
I have downloaded the docker-compose binary and run the system socket using `podman system service -t 0 unix:///var/run/docker.sock` and it works for me very okay better than expected.

[2021-09-01 21:56] KCSesh commented on #11343
Hmm, when I do:

`
--tmpfs=/dev:noexec,nosuid,strictatime,mode=755,size=65536k --mount=type=devpts,destination=/dev/pts
`

The `config.json` looks like this:

[code]

And in the actual container, when I type: `mount`,
I see:

[code]

So this works for me!

I am curious if those must be the default mount options for type: `devpts`