[2019-03-12 13:14] tobwen commented on #2614
Yes

`--runtime [ /home/podman/podman/usr/local/sbin/runc ] ` ?

Hmm, that's a very uncommon behavior. Normally it's like:

`global config > user config > environment variable > CLI switch`

I think I've read, _podman_ (or _runc_) behave similar?

[2019-03-12 13:16] tobwen commented on #2615
Do you mean
[code]

[2019-03-12 14:08] giuseppe commented on #2614
the issue is that the first `--runtime` is not stored into the configuration file.

If you want to override it, then you need to specify it again on the CLI for the second command.

[2019-03-12 14:17] tobwen commented on #2614
Sorry, seems like I'm too stupid to do this on my own. Could you please give me the correct command line to try it?

[2019-03-12 14:50] giuseppe commented on #2614
[code]

[2019-03-12 16:09] cevich commented on #2548
@mheon I don't understand "not finding the container...though".  Does that mean the test is failing a requirement, or the test doesn't care?

If top vs sleep doesn't matter, then couldn't we make it even simpler by using `/bin/true` ?

[2019-03-12 16:22] mheon commented on #2548
@cevich Well, we do need the container to remain running long enough for `top` to see it, so `true` probably isn't a good choice - it returns immediately.

This seems to be some sort of race. We make two containers in a pod with `podman run` which should not return until the containers have successfully started, then run `podman pod top` to check how many containers in the pod are running, and fin

[2019-03-12 17:44] tobwen commented on #2614
I will try it soon. So I cannot run a config-less container?

[2019-03-12 17:56] giuseppe commented on #2614
you can set it in the `libpod.conf` file:

[code]

[2019-03-12 18:34] dustymabe opened #2619 "possible race condition in `podman run --rm`"
/kind bug

**Description**

I have a workflow for development that includes running a container and then immediately running the container again. I updated podman today and it started failing on the second invocation because of a race condition it seems. For example I run

[code]

where `cosa` [calls out to podman](https://github.com/coreos/coreos-assembler/blame/bc7ce186ccc73a880a9cff9ded0814b847

[2019-03-12 18:42] mheon commented on #2619
Note to self: while looking at the code here, I found the backend for `podman export`, and it's very, very broken. Fix that when I get a chance.

[2019-03-12 18:42] mheon commented on #2619
Oh, only broken for rootless. Good news, that.

[2019-03-12 18:47] mheon commented on #2619
Anyways, here's our race.

We launch `--rm` as part of the container cleanup process, which fires once the container is finished. However, it fires async, and there's no guarantee it completes before the main Podman process exits.

We need to add code at the end of `podman run` (and possible `podman start`? Probably not necessary there, but could be good form) to wait until the container is delete

[2019-03-12 18:49] mheon commented on #2619
Ought to be possible to use events to do this, now that events has landed.

[2019-03-12 19:19] #2572 closed

[2019-03-12 19:33] cevich commented on #2548
@mheon thanks for the explanation, that helps a lot.  My skull-calculator has been a bit smarmy fighting some bug, so I've not been watching closely.  Did @baude PR improve the situation with this test?

[2019-03-12 19:34] baude commented on #2548
yes

[2019-03-12 20:21] adrianreber commented on #2334
@rhatdan with your changes to container-selinux and once my CRIU PR (https://github.com/checkpoint-restore/criu/pull/648) gets merged, all should be resolved.

[2019-03-12 21:08] cevich commented on #2548
Excellent, lemmie close this then :smile:

[2019-03-12 21:08] #2548 closed

[2019-03-13 00:34] edsantiago commented on #2526
Reopening, because although #2586 does handle some corner cases, it doesn't actually address the issue raised in this PR: `--filter=stopped` is still rejected. (And, as @ekultails noted, `stopped` is the second example in the man page). (And, it's a valid state per `libpod/container.go`)

[2019-03-13 00:42] mheon commented on #2526
@edsantiago I could make `stopped` map to `exited` as well, which might solve this.

(They are distinct states in libpod, but we transition from `stopped` to `exited` as soon as the cleanup process runs - less than a second, probably)

[2019-03-13 00:45] edsantiago commented on #2526
@mheon I interpret your suggestion as: "I could silently translate the string `stopped`, when given as a command-line input to the `state` filter, into `exited`". If that's your intention, it sounds like a good solution to me.

[2019-03-13 11:01] giuseppe commented on #2614
did it work?

[2019-03-13 11:05] giuseppe commented on #2619
we recently fixed an issue with rootless `podman export`.  What issue are you still seeing?

[2019-03-13 11:51] giuseppe commented on #2619
We could probably just delete the container before exiting and race with `cleanup` in doing that, one of the two will fail with `ErrNoSuchCtr`, since we don't catch the errors for both of them so we should be fine.  What do you think?  I've tried locally and it seems to work fine.  I can open a PR if you are fine with this solution.

[2019-03-13 12:46] SveWoCo commented on #2116
Hi I encountered a dependency problem on Ubuntu 16.04 LTS with podman and buildah.
Buildah requires the package skopeo-containers. skopeo-containers provides /etc/containers/storage.conf.
Podman requires containers-common. This Package also provides /etc/containers/storage.conf, therefore apt complains during the installation and I'm unable to install podman along with buildah.

[2019-03-13 12:51] lsm5 commented on #2116
@SveWoCo ack, skopeo-containers and containers-common are the same package, so I likely screwed something up while changing package names. I'll take care of that.

[2019-03-13 12:56] SveWoCo commented on #2116
@lsm5 Thank you! I just discovered a another thing which is related to the package cri-o-runc.
It will install runc 1.0.1 rc5 to /usr/lib/cri-o-runc/sbin/runc .
Is this location on purpose? Neither buildah nor podman seem to find it at that location. After altering my PATH settings it works I just want to know if there is a specific reason for this location.

[2019-03-13 12:59] lsm5 commented on #2116
The reason for that location is for the package to not conflict with ubuntu's default runc. If buidah or podman can't access those, that's another issue. I remember this being raised earlier, but I guess I got distracted. Let me take care of that as well before pushing things out

[2019-03-13 13:00] giuseppe commented on #1732
opened PR: https://github.com/containers/libpod/pull/2626

[2019-03-13 13:00] lsm5 commented on #2116
@mheon please remind me, what do I need to do to have podman find `/usr/lib/cri-o-runc/sbin/runc` out of the box?

[2019-03-13 13:08] lsm5 commented on #2116
@SveWoCo btw, I'm fixing 18.04 first, and I'll migrate those changes to 16.04 asap, so please bear with me. Plan to get this sorted today itself though.

[2019-03-13 13:16] SveWoCo commented on #2116
Ah, ok. Thank you. Don't worry, it is done when it's done...

[2019-03-13 13:29] mheon commented on #2116
@lsm5 We set runtime path in libpod.conf - set the first path in the `runc` array to be that one

[2019-03-13 14:13] rhatdan commented on #2619
I am fine with that solution.

[2019-03-13 14:21] mheon commented on #2619
Yeah, that sounds fine

[2019-03-13 14:41] tobwen commented on #2614
I don't want to use a config file, but it also doesn't work with this one:

[code]

results in

[code]

[2019-03-13 14:43] tobwen commented on #2614
But this works now:
[code]

[code]

[2019-03-13 14:53] giuseppe commented on #2614
ah right, because runtime data is copied from the main configuration file.  We should probably not do it if it is overriden in the user config file.

If you override from the CLI then it should always work

[2019-03-13 16:16] edsantiago opened #2630 "CI: add manpage-crossref checker"
`hack/podman-commands.sh` keeps finding instances of new podman commands that aren't being properly added to man pages. Could we add this to our CI?

[2019-03-13 16:26] edsantiago commented on #2630
@cevich when you have a moment please...

[2019-03-13 16:32] afbjorklund commented on #2116
In should be in the default array, so _nothing_ should be needed to find `/usr/lib/cri-o-runc/sbin/runc`

[code]

Since 9f7643c364dece892a7f89484142e69c8e8185f8

[2019-03-13 19:25] TomSweeneyRedHat commented on #2568
Closed via #2625.  Thanks again for the issue and eagle eye @pkubatrh !

[2019-03-13 20:58] neVERberleRfellerER opened #2634 "Volumes always owned by root"
/kind bug

**Description**

Volumes are always owned by root instead of inheriting owner and group from image.

**Steps to reproduce the issue:**

(ipfs used as example, but it happens with other images too)

1.`podman run --rm -it --entrypoint /bin/sh ipfs/go-ipfs`

2. use `ls -laF /data` in container,

3. see that volume is owned by root

**Describe the results you received:**

`drwxr-xr-x    2

[2019-03-13 21:24] dustymabe opened #2636 "rootless: tagging of built image doesn't seem to work"
/kind bug

**Description**

I run `podman build . -t sync2jira` I expect the resulting image to get the tag. It doesn't. For example I saw:

[code]

**Steps to reproduce the issue:**

1. `podman build . -t sync2jira`

2. `podman images`

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-03-13 21:29] #2619 closed

[2019-03-13 22:20] edsantiago commented on #2398
@metalmatze see #2637. It's working pretty well in my daily use.

[2019-03-14 00:26] jwakely opened #2639 "Docs for --net in docs/podman-build.1.md shouldn't talk about buildah"
The `podman-build.1` man page appears to have been taken straight from `buildah`, and still refers to `buildah`:

Since this is the man page for a `podman` command it should refer to `podman` not some other command that isn't actually being run.

[2019-03-14 00:55] TomSweeneyRedHat commented on #2639
@jwakely TYVM for the eagle eye and more importantly the issue.  FWIW, the man page as a whole grew out of Buildah and as we add options to bud there, we have to add them to the Podman build page too.   We obviously missed these occurrences when we added these particular options, so again thanks for letting us know.  I've just created #2640 to clean it up.

[2019-03-14 01:17] jwakely commented on #2639
Thanks!

[2019-03-14 06:05] tobwen commented on #2614
But from which? I don't have a main configuration file in `/etc/`, since I've built and installed rootless. Override mode should work like in any application: `global config > user config > environment variable > CLI switch`

1. `/etc/containers/libpod.conf`
2. `$HOME/.local/containers/libpod.conf` (1 gets ignored)
3. `runtime=runc podman` (1, 2 get ignored)
4. `podman --runtime run` (1, 2, 3 get

[2019-03-14 06:57] tobwen opened #2641 "[podman] when tmp_dir isn't set, tmpfs isn't used"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When trying to run a container in rootless mode on _Debian 9_ with a config file without setting `tmp_dir`, `rundir` directory gets created in the user's home directory instead of `/tmp/`.

**Steps to reproduce the issue:**
`podman --log-level=debug --config /home/podman/podman/libpod.conf run

[2019-03-14 07:53] SveWoCo commented on #2116
Hmm ok but for buildah this is definitely not the case at the moment.

Package: cri-o-runc
Status: install ok installed
Priority: extra
Section: devel
Installed-Size: 5624
Maintainer: Lokesh Mandvekar <lsm5@fedoraproject.org>
Architecture: amd64
Version: 1.0.0-rc5-1~ubuntu16.04.2~ppa69
Depends: libc6 (>= 2.14), libseccomp2 (>= 2.3.0)
Breaks: docker.io (<< 1.12)
Description: Open Container Project

[2019-03-14 08:12] #2639 closed

[2019-03-14 08:25] #1732 closed

[2019-03-14 09:06] AkihiroSuda opened #2642 "support slirp4netns --disable-host-loopback"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

By default ports listening on `127.0.0.1:*` on the host are accessible from slirp4netns containers as `10.0.2.2:*`.
It would be good to launch `slirp4netns` with `--disable-host-loopback` to prohibit connecting to these ports. https://github.com/rootless-containers/slirp4netns/blob/master

[2019-03-14 12:11] rhatdan commented on #2634
What did the Dockerfile look like that created that image?

[2019-03-14 12:33] giuseppe commented on #2614
@tobwen I've added a patch to https://github.com/containers/libpod/pull/2617

could you try it out?

[2019-03-14 12:42] rhatdan commented on #2636
Am I missing something?

`localhost/sync2jira                        latest   0ed4a4f539e2   About an hour ago   439 MB`
Looks like the tag?

[2019-03-14 12:43] giuseppe commented on #2642
PR here: https://github.com/containers/libpod/compare/master...giuseppe:slirp-disable-lo?expand=1

[2019-03-14 12:45] rhatdan commented on #2398
@metalmatze Please review, if this works for you we can merge.

[2019-03-14 12:45] giuseppe commented on #2641
does `/tmp/user/$UID` already exist and not owned by your user?

[2019-03-14 12:49] #1959 closed

[2019-03-14 12:58] rhatdan commented on #2641
We should remove "user", I think I have a PR to do that.

[2019-03-14 13:16] neVERberleRfellerER commented on #2634
It's there:
https://hub.docker.com/r/ipfs/go-ipfs/dockerfile
The important part is
[code]

[2019-03-14 13:33] dustymabe commented on #2636
Right. I had previously run `podman build .` and `podman image tag  0ed4a4f539e2` an hour before. This was a subsequent run of `podman build . -t sync2jira` that occured `52 seconds ago` and created `cf2c605849dc`. It's subtle, but you can see it in the output I pasted.

[2019-03-14 13:43] mheon commented on #2636
@dustymabe If you remove the tagged image, is it tagged again?

I wonder if we're refusing to tag because the image in question already exists

[2019-03-14 13:57] dustymabe commented on #2636
Nope.

[code]

If that were the case it would still be a bug, right?

[2019-03-14 13:58] tobwen commented on #2641
Oh dear...
[code]
I've tried it on my normal user _tobwen_ before and since it's `rwx`, all other users are locked out. Maybe _user_ isn't a well-suited name... would _podman_ be a security flaw?

[2019-03-14 13:59] tobwen commented on #2614
Trying right now.

[2019-03-14 14:21] giuseppe commented on #2636
I added the rootless label too early, I can reproduce with root as well

[2019-03-14 14:24] mheon commented on #2636
@dustymabe Would definitely still have been a bug, though a different kind

[2019-03-14 14:29] mheon commented on #2636
Is Build missing `SetInterspersed`?

[2019-03-14 14:30] giuseppe commented on #2636
yes, I am preparing a PR right now

[2019-03-14 14:32] giuseppe commented on #2636
PR here: https://github.com/containers/libpod/pull/2646

[2019-03-14 14:38] dustymabe opened #2647 "rootless: `--rm` doesn't seem to remove containers after execution"
/kind bug

**Description**

`--rm` doesn't seem to remove containers after execution:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-03-14 14:55] tobwen commented on #2614
It works now. Good work!

[2019-03-14 15:04] cevich commented on #2630
Yes we should add this to CI, probably as part of `gating_task` or `contrib/cirrus/unit_test.sh`.  Yep I'll toss up a PR for this, thx for asking.

[2019-03-14 15:48] neVERberleRfellerER commented on #2647
I can't reproduce this on podman 1.0.0 on Fedora Atomic Host and podman 1.1.2 on Fedora Silverblue 29 and on podman 1.1.2 on Arch Linux.

[2019-03-14 15:54] cevich opened #2649 "Unreliable Integration tests"
/kind bug

[From a semi-related pull-request](https://github.com/containers/libpod/pull/2608#issuecomment-472920061) @mheon said:

FWIW: I'm pretty sure this is due to races on critical shared resources (iptables, CNI, etc.) which aren't properly locked for parallel testing.  It loosely coincides with enabling 3-way parallel testing (among other problems) - so it's been hard for me to gather hard-

[2019-03-14 16:08] rhatdan commented on #2634
@neVERberleRfellerER Any chance you could build from master and see if this fixes the is you were seeing.

[2019-03-14 16:43] dustymabe commented on #2647
Any chance you are running as root? I'm running rootless.

[2019-03-14 16:43] #2642 closed

[2019-03-14 16:53] rhatdan commented on #2647
[code]
$ rpm -q podman
podman-1.1.2-1.git0ad9b6b.fc29.x86_64

[2019-03-14 16:54] rhatdan commented on #2647
Does not look like an issue in podman 1.2

[2019-03-14 16:58] neVERberleRfellerER commented on #2634
@rhatdan I compiled your volumes branch on Arch Linux (I don't know how to build package son Fedora) and there are 2 problems:

1. Container can't be started without explicit volume mounts - without them, it fails on "stat: /path: no such file or directory"
2. Even with explicit volume mounts, I still see volumes as owned by root.

I can't rule out some kind of mistake on my side.

[2019-03-14 17:02] baude commented on #2649
I've seen nothing to suggest it is parallel testing.  I have seen network flakes, registry flakes, and the like.  Can we collect test failures to show this?

One thing I will agree on; parallelization has made bad tests stick out like a pimple.  I stumbled on four tests today that never actually ran :(

[2019-03-14 17:05] neVERberleRfellerER commented on #2647
My tests were also rootless.
Can you actually remove that container manually (right after it was not autoremoved)?

[2019-03-14 17:09] dustymabe commented on #2647
anything you all would like me to do to give you debug information?

[2019-03-14 17:11] dustymabe commented on #2647
yes. I don't have any problems removing it. It just doesn't get cleaned up like it should

[2019-03-14 17:14] mheon commented on #2647
@dustymabe There was a potential race condition we fixed recently where containers were not removed by the time the `podman run` command completed, but shortly afterwards. Is there any significant delay between `run` and `ps` when you test this? If you wait a few seconds before running `ps` has the container been removed?

[2019-03-14 17:17] dustymabe commented on #2647
Nope. They stay around for a long time it seems. All of these were created with `--rm`:

[code]

[2019-03-14 17:24] cevich commented on #2649
@baude I suspected there were other issues, and am glad to hear your on top of them.  Unfortunately that taints the data-set :confused:

So it's an open issue for discussion, I think there are several distinct aspects:

* Gathering data on parallelism-induced failures is particularly challenging because:
   * Test-order is randomized
   * We don't collect logs in an easily searchable way (across m

[2019-03-14 17:25] mheon commented on #2647
Alright. Can you run a container with `--syslog` and `--log-level=debug` both set, and paste anything that pops in in journalctl after the container exits?

[2019-03-14 17:25] cevich commented on #2649
Also to be perfectly transparent: I'm heavily bias: fighting a cold and loath to go trolling through the data myself.

[2019-03-14 18:43] vbatts opened #2654 "panic on `podman run --rootfs`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

migrating old services from nspawn machines to podman containers.
Trying to use the `--rootfs` flag.

**Steps to reproduce the issue:**

1. `podman run -it --rm --rootfs /var/lib/machines/mymachine`

2.

3.

**Describe the results you received:**

[code]

**Describe the results you expected:*

[2019-03-14 19:36] mheon commented on #2654
Oh dear. I honestly forgot we even implemented that flag.
@rhatdan @giuseppe Do we want to look into just deprecating `--rootfs` or is it worth supporting?

[2019-03-14 19:37] mheon commented on #1909
For reference, it looks like the CNI plugins do support this now, so we're adding support for SCTP to Podman now.

[2019-03-14 19:45] dustymabe commented on #2647
Here is the output from `podman run -it --rm --syslog --log-level=debug registry.fedoraproject.org/fedora:29 echo hello &> /tmp/output.txt`:

<details>

[code]

</details>

Here is my journal from the time period of the run:

<details>

[code]

</details>

[2019-03-14 19:54] haircommander commented on #415
closing per #1642 being merged. Congrats @kunalkushwaha on fixing the current oldest open issue!

[2019-03-14 19:54] #415 closed

[2019-03-14 19:58] mheon commented on #2647
Absolutely nothing after `Checking container $ID status...`?

It appears that cleanup processes are not running, but I'm really not sure as to what would cause that. It's added as an `atexit()` and Conmon doesn't seem to be exiting due to an error.

Any SELinux AVCs?

[2019-03-14 20:06] giuseppe commented on #2654
I find it useful.

I was playing with containerd and they have exactly the same feature `--rootfs` for unmanaged images

[2019-03-14 20:11] giuseppe commented on #2654
PR here: https://github.com/containers/libpod/pull/2656

[2019-03-14 20:18] neVERberleRfellerER commented on #2647
It never logs after "Checking container $ID status", not even when it removes the container.

Wild guess and I could ge the whole "run" thing wrong:
Cleanup starts here
https://github.com/containers/libpod/blob/v1.1.2/cmd/podman/run.go#L144
it uses removeContainer to actually remove the container, but removeContainer have log-less non-error exit here:
https://github.com/containers/libpod/blob/v1.1

[2019-03-14 20:32] mheon commented on #2647
BoltDB corruption would take down most all of Podman, so I doubt it's that.

Personal suspicion is that the exit command is either not running, or is running and not logging despite `--syslog` being specified.

[2019-03-14 20:59] dustymabe commented on #2647
not really:

[code]

The `pam_unix(sudo:session): session closed for user root` was me `CTRL-C` out of my `sudo journalctl -f` and then there is a 5 minute delay until the next log message.

Nope

[2019-03-14 21:04] tobwen opened #2659 "[podman] kernel does not support overlay fs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
_podman_ complains that my kernel doesn't support overlayfs. But it does (the kernel does and all the tools are installed and in search-path).

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]
**Additional information you deem important (e.g. issue happen

[2019-03-14 22:34] tobwen opened #2661 "[podman] database configuration mismatch on --tmpdir"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Setting _tmpdir_ on CLI creates a _database configuration mismatch_ even if there's no database.
Might be related to https://github.com/containers/libpod/issues/1853

**Steps to reproduce the issue:**

1. `rm -rf /home/podman/rundir/ /tmp/libpod-rundir-1001/ /home/podman/.local/share/containe

[2019-03-14 22:40] tobwen opened #2662 "[podman] path to fuse-overlayfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Right now, it's not possible to point to the binary of _fuse-overlayfs_; neither via CLI, nor via config. It only works in PATH-variable.

[2019-03-15 02:14] kunalkushwaha commented on #1358
This need parsing ports and formatting like

[code]
@mheon, I can work on this, If you are busy.

[2019-03-15 11:52] #2654 closed

[2019-03-15 12:21] rhatdan commented on #2630
Awesome.

[2019-03-15 12:29] #2614 closed

[2019-03-15 12:39] ikke-t opened #2665 "play kube fails: can't run as root without the -u switch"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman behavior is not consistent. I can't get play kube to work as the podman command line does. Play kube fails where command line works.

**Steps to reproduce the issue:**

1. do yaml file:
[code]

2. run podman play kube and observe failure to start
[code]

3. run same with command line o

[2019-03-15 12:41] rhatdan commented on #2634
Sorry I fixed the path, probably should have waited for it to pass tests.  :^(

[2019-03-15 12:53] adelton opened #2666 "Cannot install podman on Ubuntu Xenial"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We used to have podman working in Travis CI: https://travis-ci.org/adelton/freeipa-container/jobs/501425643.

Today the job fails with
[code]
https://travis-ci.org/freeipa/freeipa-container/jobs/506734132

I was able to reproduce the issue on Ubuntu Xenial (in container but that should not ma

[2019-03-15 13:02] rhatdan commented on #2666
@lsm5 PTAL

[2019-03-15 13:12] lsm5 commented on #2666
tracked at https://github.com/containers/libpod/issues/2116

[2019-03-15 13:15] lsm5 commented on #2116
@nalind @TomSweeneyRedHat PTAL ^ . Can we get `/usr/lib/cri-o-runc/sbin/runc added to default runc paths for buildah?

[2019-03-15 13:20] neVERberleRfellerER commented on #2634
Now it works perfectly!

[2019-03-15 13:36] rhatdan commented on #2659
Does this work if you run it as root?

If yes, then cleanup your homedir, and try again.

rm -rf ~/.config/container ~/.local/share/containers

[2019-03-15 13:43] edsantiago opened #2667 "podman load: confusing command-line usability"
There's a confusing and (AFAICT) unused `PATH` option for podman load:
[code]
The man page describes the argument differently, and non-optional:
[code]
However, the option seems to be completely ignored. This is especially misleading when a naïve user types `podman load foo.tar` and it just hangs (waiting for input on stdin).

This one is beyond my ability because I don't know the intention behind

[2019-03-15 13:58] rhatdan commented on #1358
Awesome @kunalkushwaha Thanks

[2019-03-15 13:58] mheon commented on #2661
Alright, this one's properly confusing. You deleted the database, and yet we're still complaining about the database's configuration not matching.

[2019-03-15 13:58] tobwen commented on #2659
Nope, sorry.

[code]

Of course, I've cleaned everything up before (just forgot to mention)

[2019-03-15 14:01] mheon commented on #2659
[code]

Woah. That should not be happening, that - we should catch that and handle it natively...

[2019-03-15 14:01] #2636 closed

[2019-03-15 14:06] kunalkushwaha commented on #1358
@rhatdan Thank you for the invitation :)

[2019-03-15 14:08] rhatdan commented on #1358
Were glad to add you to the contributors.

[2019-03-15 14:08] rhatdan commented on #1358
And now I can assign you to issues.  :^)

[2019-03-15 14:16] mheon commented on #2659
#2668 to fix the validation issue there. Though I'm very curious as to how the database managed to get an empty string storage driver.

[2019-03-15 14:18] mheon commented on #2659
Theory on that: we reload `storage.DefaultStoreOptions` in `NewRuntime()` before DB validation runs, which leads us to cases like this when the file we reload from has fields left empty.

Should probably catch that earlier, with better error messages.

[2019-03-15 14:27] giuseppe commented on #2662
you can specify its value in `~/.config/containers/storage.conf`:
[code]

 and you can also override from the command line using `--storage-opt`

[2019-03-15 14:27] #2662 closed

[2019-03-15 14:30] afbjorklund commented on #2116
I think you need to set $BUILDAH_RUNTIME

Buildah doesn't have any configuration files

[2019-03-15 14:37] rhatdan commented on #2667
Load an image from a tar archive or STDIN

[2019-03-15 14:45] tobwen commented on #2662
Tried so, didn't work. Something with key/value. Can't remember, will pull the new PR and repost.

[2019-03-15 14:50] Prodian0013 opened #2669 "podman save not saving multiple images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
When executing a `podman save` with multiple images only one image is saved.

**Steps to reproduce the issue:**

1. `podman save > images.tar docker.io/busybox:1.27.2 docker.io/metallb/controller:v0.3.1 docker.io/metallb/speaker:v0.3.1`

2. `podman import images.tar`

3. `podman images`

**Desc

[2019-03-15 14:58] mheon commented on #2665
That error has to be coming out of memcached itself - the string appears nowhere in our repo. Mismatch in how `play kube` sets up containers versus `podman run`?

[2019-03-15 14:59] tobwen commented on #2662
[code]

[2019-03-15 15:00] giuseppe commented on #2662
what command have you tried?

[2019-03-15 15:01] tobwen commented on #2662
See first line :-)

[2019-03-15 15:02] tobwen commented on #2659
I've build #2668 and tested on _non-root_ and _root_. Tested with `overlay`, `overlayfs` and `fuse-overlayfs` and without `--storage-driver`. Only _overlay_ worked.
[code]

Result (non-root):
[code]

[2019-03-15 15:03] giuseppe commented on #2662
could you try something like:

`podman --storage-opt='overlay.mount_program=/path/to/fuse-overlayfs' ...`

[2019-03-15 15:05] tobwen commented on #2662
This one works. Thanks!

[code]

Maybe you could add it as an example in man?

[2019-03-15 15:09] tobwen commented on #2659
Interesting, this command line works: https://github.com/containers/libpod/issues/2662#issuecomment-473321710

[2019-03-15 15:14] ikke-t commented on #2665
I agree, that was my thought too. The dockerfile switches user there, and that is somehow prevented. Could be my user error too, even likely :)

[2019-03-15 16:05] TomSweeneyRedHat commented on #2662
Working on the man page addition.

[2019-03-15 16:09] wjt opened #2671 "Support `podman version --format '{{ json . }}'` for docker compatibility"
/kind feature

**Description**

I tried to use [Karton](https://karton.github.io/) (which uses the `docker` CLI) with `docker` as a symlink to `podman`. I failed at the first hurdle because it tries to run `docker version --format '{{ json . }}'`, which fails:

[code]

`podman version --format json` works, but produces output like this:

[code]

Whereas according to [the Docker documentation](http

[2019-03-15 16:13] TomSweeneyRedHat commented on #2662
I"m assuming this part '--stoge-opt' s/b '--storage-opt'

[2019-03-15 18:45] cevich commented on #2649
Some examples (my analysis could be wrong):

* [podman run -d mount cleanup test](https://cirrus-ci.com/task/6217077722447872)
  test/e2e/run_cleanup_test.go `out1` and `out2` will race with parallel tests that alter host mount namespace

* [podman system info json output ](https://cirrus-ci.com/task/5852345425461248)
  Racing the clock, 1-second timeout not always sufficient.

(will add more as I

[2019-03-15 18:47] debarshiray opened #2673 "Rootless 'podman exec' stopped working with containers created with '--uidmap' somewhere between 1b2f8679b864b882 (good) and 9b21f14eefae8ab7 (bad)"
/kind bug

**Description**

Rootless `podman exec` stopped working somewhere between 1b2f8679b864b882 (good) and 9b21f14eefae8ab7 (bad) as can be seen when using the Silverblue [toolbox](https://github.com/debarshiray/toolbox). Starting from a clean state (ie., no images or containers present), this is what happens:
[code]

Note that in case you are running the toolbox script directly from Git, ma

[2019-03-15 18:49] baude commented on #2649
the second one is fixed upstream; in fact, both @mheon and i pushed fixes for it ;) bad test

[2019-03-15 18:59] baude commented on #2671
on most of our comments where format is offered, you can pass --format json ... not the absence of go templating.

[2019-03-15 19:02] rhatdan commented on #2669
@haircommander PTAL

[2019-03-15 19:05] debarshiray commented on #2673
Bisecting further with the actual Git tree, instead of the RPM snapshots, I think this was caused by PR #2569:

commit 4a02713c57d874c404539047ccc5c5ff5c1958fc
Author: Giuseppe Scrivano <gscrivan@redhat.com>
Date:   Thu Mar 7 08:14:22 2019 +0100

    rootless: exec join the user+mount namespace

    it is not enough to join the user namespace where the container is
    running.  We also need to jo

[2019-03-15 19:38] mheon commented on #2671
I don't know how much sense mimicing `docker version` format here makes - we don't have a server, so the `client` and `server` split doesn't make any sense. Adding some of the missing information might be a good idea, though I think we print most of that in `podman info`

[2019-03-15 21:54] giuseppe commented on #2673
thanks for the bisect.  The patch helped to find the issue, which is a different one:

https://github.com/containers/libpod/pull/2675

[2019-03-16 08:32] giuseppe commented on #2673
also, fedora-toolbox is a very interesting use case and it is stretching rootless containers to their limits :-)

once we have dedicated rootless tests, @debarshiray would you be interested to write some tests for Podman for the features you are using in fedora-toolbox?  So we will avoid to introduce regressions in the future

[2019-03-16 11:53] rhatdan commented on #2671
Can't we support
podman version --format '{{ json . }}'

[2019-03-16 12:08] rhatdan commented on #2671
If you remove the json it works.
podman version --format '{{ . }}

[2019-03-16 16:36] cevich commented on #2649
@baude ok good.  I couldn't find it yesterday, but I remember seeing one race with iptables.  One test was modifying/checking them while a background test was manipulating them.

I guess my main concerns here are about the additional burden required to debug and maintain parallel tests.  I've rarely seen a case of more complexity leading to more reliability, without also adding a lot more brain-st

[2019-03-16 18:22] tobwen commented on #2662
@TomSweeneyRedHat

Yeah. Sorry for that, but it seems as this needs #2659

[2019-03-16 18:24] tobwen commented on #2659
Hmm, I'm still getting this problem without #2668

[code]

[2019-03-16 20:19] mheon commented on #2659
@giuseppe I think the core of our issue is rootless refresh. We're calling `podman info` but not passing in CLI arguments for changed settings. I can definitely see this breaking with `podman --config`, for example. Maybe it makes sense to dump the final configuration we used in the runtime to disk and the specify `--config` to info? It has the issue of not saving storage options, but we can manua

[2019-03-17 00:08] edsantiago opened #2677 "regression: 'podman logs' hangs"
/kind bug

`podman logs`, on a Created container, hangs:
[code]
Seems to be 5e86acd5.

Caught by my BATS tests, which I'm starting to believe might make a good addition to CI.

[2019-03-17 09:01] giuseppe commented on #2659
this is what I've attempted to do with https://github.com/containers/libpod/pull/2670 but apparently it is still not working as it should :/  I'll debug it further and check the case where fuse-overlayfs is not in the $PATH

[2019-03-17 09:38] tobwen commented on #2659
If fuse-overlayfs is in $PATH, everything works as expected. Without, it fails with the error reported.

[2019-03-17 09:46] giuseppe commented on #2659
@tobwen can you please check with the last patch I've added to the PR?

[2019-03-17 10:59] tobwen commented on #2659
Pulled, checked out, built, installed, ran:
[code]

[2019-03-17 11:51] giuseppe commented on #2659
how do the generated files under `~/.config/containers` look like?

[2019-03-17 11:55] tobwen commented on #2659
[code]

[2019-03-17 12:10] giuseppe commented on #2659
`--storage-driver` and `--storage-opt` are global flags, not for `run`.  Also, you have two `run` in your command.

Please try:

`$ /home/podman/podman/usr/local/bin/podman --log-level=debug --conmon /home/podman/podman/usr/local/libexec/crio/conmon --network-cmd-path /home/podman/podman/usr/local/bin/slirp4netns --runtime /home/podman/podman/usr/local/sbin/runc --storage-driver overlay --storage-

[2019-03-17 12:13] tobwen opened #2678 "[howto] pull PRs"
Since the Wiki isn't activated, I'm just dropping this howto in here... maybe you know a better place?
Sometimes it's possible to pull PRs to test them.

If you just want to pull a specific PR use this:
1. Set the variable _PR_ to the PR you want to pull `PR=1234`
2. Run `git fetch origin pull/$PR/head:pr/$PR`
3. Check out the PR: `git checkout pr/$PR`

If you want to run to integrate it into your

[2019-03-17 12:17] tobwen commented on #2659
Oh god, I'm so sorry, I didn't see the first `run`. I am so sorry. It works as expected now.

Maybe we should warn the user about two commands? I apologize very much for my boundless stupidity.

[2019-03-17 12:20] mheon commented on #2659
For some reason Cobra seems to allow mixing global and local flags, so commands like `podman run --log-level=debug -t -i fedora bash` now work, and actually enable debug logging successfully. I don't think I mind this - explaining to folks where global flags had to go was tedious.

[2019-03-17 12:35] mheon commented on #2659
@tobwen I don't think that's actually being handled as a duplicated command - when I tried locally, we interpreted the second `run` as the name of the image, and tried pulling images named run. Any arguments after that second run were going to be passed into the container when it was created, not Podman itself. Not much we can do about this if we want to duplicate the Docker CLI.

[2019-03-17 12:50] siretart commented on #1742
Given the cheers on my last week's update, it seems that there is interest in status updates.

In the last week, containers/storage remains in the NEW queue, but I've managed to update it locally to version 1.11 and got it to build.

I'm still working on openshift/imagebuilder in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=923300 and ran into some missing imports in the debian docker.io pack

[2019-03-17 13:14] tobwen commented on #2659
@mheon Okay, I'll take care of this in future. btw, some applications split global and local flags by `blah -- blah`, but I understand the D-word compatibility.

Thanks for your good work. Would be happy to see it in master :-)

[2019-03-17 14:49] baude commented on #2671
yeah this can be done I think ... @rhatdan if you want me to kick this out, assign this to me and I'll assume that means you want it done.

[2019-03-17 16:43] mheon commented on #2671
@baude IMO if we do this, we add the .json Go template, but we don't try
and match the Docker JSON output, we just output the JSON we normally would
for version.

On Sun, Mar 17, 2019, 08:49 Brent Baude <notifications@github.com> wrote:

[2019-03-17 17:04] wjt commented on #2671
FWIW Karton, the tool I was trying to use with `podman`, explicitly checks for the `"Client"` and `"Server"` keys so would have still failed in this case.

https://github.com/karton/karton/blob/5a9c46a5590923a7a9a77a05b9f90a234431bcc3/karton/dockerctl.py#L77-L82

[2019-03-17 17:26] baude commented on #2671
@mheon agree but again, if it is no help due to the keys, then ...

[2019-03-17 18:12] tobwen commented on #2503
@muayyad-alsadi Did you have success on this in the meanwhile?

[2019-03-17 19:26] tobwen opened #2681 "cobra panics when running "pod inspect" without parameter"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
cobra panics when running "pod inspect" without parameter

**Steps to reproduce the issue:**

1. `/home/podman/podman/usr/local/bin/podman pod inspect`
2. `/home/podman/podman/usr/local/bin/podman pod inspect busybox`

**Describe the results you received:**
Step 1 breaks with this error:
[code

[2019-03-17 19:28] tobwen opened #2682 "[rootless] error extracing PID namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman pod top busybox` gives an error when being rootless

**Steps to reproduce the issue:**
 `/home/podman/podman/usr/local/bin/podman pod top busybox`

**Describe the results you received:**
`Error: error extracing PID namespace: readlink /proc/805/ns/pid: permission denied`

[2019-03-17 20:47] giuseppe commented on #2682
PR: https://github.com/containers/libpod/pull/2683

[2019-03-17 20:50] giuseppe commented on #2681
PR here: https://github.com/containers/libpod/pull/2684

[2019-03-18 02:23] kunalkushwaha commented on #2667
Ideally the behaviour of `podman load` should report in both cases.

- `podman load <tar-file>` i.e.  argument without any flag should report error.
- `podman load` with input is from terminal, It should report error.

I can work on this.

/assign

[2019-03-18 02:26] edsantiago commented on #2667
@kunalkushwaha Dan is working on it; #2674. Thank you!

[2019-03-18 02:28] kunalkushwaha commented on #2667
ohh okay thanks for update :)

[2019-03-18 07:31] arizvisa commented on #1909
Good deal. Thanks for the heads up.

[2019-03-18 08:48] adelton commented on #2666
The https://github.com/containers/libpod/issues/2116 might be a generic issue but note that there, people already seem to have things installed. In this issue I'm specifically commenting on the fact that I cannot even install `podman` on Xenial. Please consider reopening / fixing the dependency issue.

[2019-03-18 08:55] vrothberg commented on #1742
Thanks for the update, @siretart :pray:

[2019-03-18 11:17] rhatdan commented on #2677
We decided that podman logs would work like tail -f /var/log/messages, and will just sit on the log file until user ctrl^c. But regular podman logs ctr should not hang.

[2019-03-18 11:19] rhatdan commented on #2677
I can not get this to hang unless I use the -f?

[2019-03-18 11:23] edsantiago commented on #2677
@dwalsh which commit? As above, everything I've tried since 5e86acd hangs for me, root and rootless.

[2019-03-18 11:36] lsm5 commented on #2666
I updated podman last night but looks like I forgot to add conmon since I removed dependency on cri-o. I'll add the independent conmon package as well in a bit.

[2019-03-18 11:41] rhatdan commented on #2678
We could add this to the troublshooting.md page or to the install.md page.
@TomSweeneyRedHat WDYT?

[2019-03-18 11:53] rhatdan commented on #2671
@baude I think we should support it.  But we really can not support the Client/Server keys since they make no sense for Podman.
@wjt WDYT?

[2019-03-18 11:58] wjt commented on #2671
I understand that the keys don't make sense for Podman; I guess there comes a point where it cannot be an absolutely 100% CLI-compatible drop-in replacement for Docker.

I wrote a small patch to make `karton` check for `podman` if `docker version --format '{{ json . }}` fails, and use it if found; I could equally well make it check whether the returned JSON indicates that `docker` is actually `pod

[2019-03-18 12:00] #2682 closed

[2019-03-18 12:15] TomSweeneyRedHat commented on #2678
Let me mull it over.  It's good info to have, but it's more git related rather than Podman related.  I don't think it should go into the troubleshooting, maybe the install or some kind of "How To Contribute" guide that doesn't yet exist.

[2019-03-18 12:19] vrothberg commented on #2678
I have the following script in my `~/bin/checkoutpr`:

[code]

If I want to locally test a PR, I just do a `checkoutpr upstream $PR_ID` with `upstream` being the git-remote pointing to github.com/containers/libpod.

[2019-03-18 12:24] tobwen commented on #2678
@vrothberg For portability:

[code]

or wrap it into a function:
[code]

[2019-03-18 12:31] metalmatze commented on #2398
I've tried to run `source ~/src/github.com/containers/libpod/completions/zsh/_podman` and then to use the completion by running `podman <TAB>`. I might be doing something wrong, so far it doesn't work. :confused:

[2019-03-18 12:38] edsantiago commented on #2398
@metalmatze try:
[code]
(the `unset` may fail, that's ok)

[2019-03-18 12:43] debarshiray commented on #2673
Nice.

Although, if I am not mistaken, doesn't this mean that rootless containers created with earlier versions of podman can no longer be used with podman exec?

I wonder if we can soften the blow somehow. One option that came to my mind was to not hard depend on the ConmonPidFile. Maybe we can fallback to getting the PID of the container's PID 1 through ctr.PID(), and then walking back up the pr

[2019-03-18 12:49] debarshiray commented on #2673
Sure, I will be happy to. :)

[2019-03-18 12:52] mheon commented on #2673
Shouldn't break existing containers - we store the path in the database, so
older containers should still use the old default they were created with,
while new containers get the new, fixed default.

On Mon, Mar 18, 2019, 06:49 Debarshi Ray <notifications@github.com> wrote:

[2019-03-18 13:12] metalmatze commented on #2398
That works! Great.
Thank you so much the work on this.

[2019-03-18 13:14] #2681 closed

[2019-03-18 13:18] debarshiray commented on #2673
Umm... but this isn't about the presence of the path to the `conmon.pid` file. The problem is that (the old path to) the `conmod.pid` file inside `XDG_RUNTIME_DIR` has permissions that are awkward for the current code, which leads to `EPERM`. The new default doesn't have this problem, but it's only going to take effect for freshly created containers.

I had earlier checked with the last known good

[2019-03-18 13:25] mheon commented on #2673
Ahhh. I would have called that not fixing existing containers instead of breaking them, but you're 100% correct.

I don't know how we can easily detect this specific case; it could just as easily be someone accidentally running chown -r on a directory we use.

[2019-03-18 13:35] rhatdan commented on #2677
@edsantiago yes you are correct it hangs if the file does not exists.

[2019-03-18 13:37] rhatdan commented on #2671
Well we can only go so far before it starts lying.   Podman is not a client/server application, so adding these fields makes no sense.

[2019-03-18 13:43] debarshiray commented on #2673
One could try to guess the cause of the failure by checking if the `EPERM` was a for the known-not-to-work path.

Is it possible to find out the path to the `conmon.pid` file from outside Podman? If yes, then the toolbox could try to do that itself. It should be reasonably OK because it knows that it doesn't override the path, so the combination of a path inside `XDG_RUNTIME_DIR` and `EPERM` would

[2019-03-18 13:44] mheon commented on #2673
If we're not already reporting it in `exec` I would be fine with adding Conmon pidfile path there

[2019-03-18 13:44] mheon commented on #2673
And by `exec` I meant `inspect`. Need more coffee...

[2019-03-18 15:22] vchain-us-mgmt opened #2690 "error running container configured as user nobody"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2019-03-18 15:27] #2690 closed

[2019-03-18 16:18] edsantiago opened #2692 "podman logs -f [multi] : incomplete output (nonroot only?)"
/kind bug

Two containers running, both with `--rm`; `podman logs` is not seeing the final message from the last one to exit.
[code]
Expected: same pause, with a final `dc81 d` line.

I cannot reproduce when running as root. Rootless, reproduces about 90% of the time. Looks like a race condition but I don't understand why it would be rootless-only.

master @ ea54a1c2f51d3173649277939738ce9b1c39207

[2019-03-18 17:17] rhatdan commented on #2692
So you are saying the `d` never gets printed?

[2019-03-18 17:19] edsantiago commented on #2692
Running rootless, I see the `d` only about 10% of the time. The rest of the time, `podman logs` exits (successfully) after a few seconds; consistent with `c1` finishing.

[2019-03-18 17:19] rhatdan commented on #2692
There is a race between podman logs seeing the output and the --rm erasing it.  I think it would be better for your tests to put a sleep at the end for a couple of seconds to remove the race.

[2019-03-18 17:21] rhatdan commented on #2692
[code]

[2019-03-18 17:22] edsantiago commented on #2692
Well, that's easy to do of course, but is it correct? Should a user expect that the final output of a container will be logged?

[2019-03-18 17:22] rhatdan commented on #2692
As soon as the container exits, the --rm fires up and wipes out the log.  If the podman logs command does not wake up in time to see the changed logs, it will miss the change and the file will be gone.

[2019-03-18 17:24] edsantiago commented on #2692
Understood. I'm suggesting that this may catch other users by surprise.

[2019-03-18 17:27] rhatdan commented on #2692
Sure, but we don't have a real good way to fix it.  We could make podman logs timout to read shorter, but this is only making the issue less likely, while using up more CPU.

[2019-03-18 18:49] debarshiray commented on #2673
Ok, submitted #2698 to export `ConmonPidFile` in `podman inspect` for containers.

[2019-03-18 19:01] dkliban commented on #2116
In our Travis environment we are seeing the following:

[code]

[2019-03-18 19:03] lsm5 commented on #2116
@dkliban yes, I removed cri-o dependency but forgot to add conmon dependency. It should be fixed with the current build, but hang on for a bit, I'm fixing a skopeo-containers -> containers-common issue.

[2019-03-18 19:03] baude opened #2699 "make install.catatonic is not arch friendly"
make install.catatonit is not going to work on any arch other than x86_64 because it appears to be pulling a compiled binary for x86_64.  We need an arch friendly way of dealing with this.

[2019-03-18 19:24] dkliban commented on #2116
@lsm5 I saw that a new package was pushed to the Ubuntu repo and tried it out. Looks like our tests that use podman are passing once again. Thanks for fixing the packaging problem!

[2019-03-18 19:36] #2116 closed

[2019-03-18 19:36] neVERberleRfellerER commented on #2634
Fixed by https://github.com/containers/libpod/pull/2643 .
Thanks!

[2019-03-18 19:36] #2634 closed

[2019-03-18 19:52] lsm5 commented on #2116
alrighty, so both bionic and xenial have new builds in the ppa. Please `apt update` and try them out.

RE: buildah, please open a separate issue on buildah (there might be something open already). I'm in the middle of updating buildah, and I'll post back once it's done.

[2019-03-18 20:01] tobwen opened #2701 "restrict podman to a group"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Since _podman_ can run rootless, a global installation in `/usr/bin` (etc.) allows every user on the system to run containers. On a multi-user-system, that can quickly ran into problems, since the administrator doesn't have control about resources. Additionally, you can't limit podman usi

[2019-03-18 20:04] tobwen opened #2702 "[Makefile] make install doesn't include make"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Most of the time, running `make install` also runs `make`, when it hasn't been run before. Would it be possible to add this to the _Makefile_?

[2019-03-18 20:05] rhatdan commented on #2701
@tobwen podman gives a user no more rights then a user could do without it being installed.

Control to running containers is actually in the /etc/subuid and /etc/subgid files.

If entries are removed from these files, then the users can not really do much with containers.  (Yet)

What exactly are you worried about?

Rootless podman does not do anything with cgroups control.  So basically all of t

[2019-03-18 20:06] rhatdan commented on #2702
@tobwen Open a PR to do this.  I think this has been talked about in the past, don't remember what the resolution was.

[2019-03-18 20:08] debarshiray commented on #2673
I added a more targetted hint to the error message from `toolbox enter` (see https://github.com/debarshiray/toolbox/pull/82) but I still wish people didn't have to throw away their existing containers. If nothing else, this would make it difficult to land `podman-1.2.0` in stable Fedoras like 29 and 28.

[2019-03-18 20:09] owtaylor commented on #2673
It seems *precisely* like breaking existing containers to me - as I understand the status after #2675 , if you create a container with podman <= 1.2.0, then unless this is resolved, upgrading to 1.2.0 makes this working container no longer work properly.

What about simply recreating ConmonPidFile when starting a stopped container?

[2019-03-18 20:11] tobwen commented on #2699
[code]

[2019-03-18 20:17] tobwen commented on #2701
Resources. Since users are root inside the container, they could pull huge applications, which cold have an effect on the host.

Therefor it would be nice to limit only specific, trustable users, to run containers (which are in group _podman_ for example).

[2019-03-18 20:19] debarshiray commented on #2673
The problem is that #2675 writes the default `ConmonPidFile` path to the container's configuration if the user hadn't explicitly specified one. That makes things a bit difficult in terms of falling back to softer recovery modes.

I wonder if we can avoid writing the default path to the configuration when the user hadn't specified one explicitly, and keep plugging it in dynamically at run-time? If

[2019-03-18 20:21] rhatdan commented on #2701
They have no special privs that they don't have as a user.  While they can pull huge executables they are governed by disk space and disk quota if enabled.

The podman container is only running as the user, it id not running as ROOT.  It is just ROOT within its namespace, and it is just writing files as the user or as UIDs mapped to the User Namespace. There is no priv escallation here.

[2019-03-18 20:29] lsm5 commented on #2666
@adelton I pushed new builds. Please refresh your repo and install them.

[2019-03-18 20:33] mheon commented on #2673
Not keeping the default in the database is arguably worse - we won't even
be able to find the file for running containers that haven't restarted.
This at least preserves consistency, in that we know where the file is with
certainty, even if the location has incorrect permissions.

On Mon, Mar 18, 2019, 14:19 Debarshi Ray <notifications@github.com> wrote:

[2019-03-18 20:37] mheon commented on #2673
@owtaylor This changes nothing for containers created for previous versions of Podman - the new default only applies to new containers. Previous containers will use the old path. I don't see how that breaks old containers - if they are broken, they were broken before the patch.

[2019-03-18 20:48] tobwen commented on #2701
What if the user installs a CPU & memory stress testing utility and... sure, he's not user on the main system, bus he's root in the container.

I know, that's why I'm using _podman_ :-)

[2019-03-18 20:48] owtaylor commented on #2673
As I understand it, since #2569 the old path doesn't work any more -  #2675 fixes that for *new* containers, but old containers keep using the conmon default location (in the CWD of the conmon execution)

Putting the new default directly into the args passed to conmon rather than writing them into the config file would seem better... then it would work for any container.

[2019-03-18 20:59] owtaylor commented on #2673
Ah, I guess that wouldn't help *locate* the pid file for an existing running container instance - but I still think that a) the current code state will break the ability of people to keep using rootless containers they created with older versions of podman b) with some rearrangement of code, that isn't necessary.

[2019-03-18 21:00] mheon commented on #2673
I'm still convinced that's a bad idea - we risk losing track of where the PID file lives. It also won't fix your old containers - their configs will still have the old default path, so we'll still use it. We can't rewrite existing container configs, either - that's a limitation of libpod's immutable container model. Our best bet might be trying to make the c/storage rundir accessible (`chown` the

[2019-03-18 21:05] rhatdan commented on #2701
Same thing if he runs CPU and Memory stress tests without being in a container.  He will be governed by the cgroups estabilished for his user account.  No difference with being root in the container or running them as his normal user.  They are processes running with the same UID/GID.

[2019-03-18 21:10] owtaylor commented on #2673
The old path was only written into the config since 1.1.0 - but yeah, 1.1.2 did end up in Fedora stable two weeks ago :-( so that makes it hard to handle all old containers. You could just check if the pidfile in the config file is inside the runtime dir...

The upgrade issue wouldn't be caught by more testing in the test suite, but certainly that would be a great start!

[2019-03-18 21:22] tobwen commented on #2701
But `$HOME` could be mounted as `noexec`. So there's no way for a normal user to run applications, which are not available on the main system.

But okay... maybe I'm the only one having problems here. Need to read into cgroups governance.

Thanks for your time!

[2019-03-18 21:22] #2701 closed

[2019-03-18 21:26] rhatdan commented on #2701
If the homedir is mounted noexec then podman will fail, unless the containers storage is moved to /tmp or /var/tmp.

[2019-03-18 21:27] haircommander commented on #2665
Closed per #2696 @ikke-t PTAL :)

[2019-03-18 21:27] #2665 closed

[2019-03-18 21:29] tobwen commented on #2701
You're right. I'll play with this in a VM.

[2019-03-18 22:49] adelton commented on #2116
I've got
[code]
and
[code]
but `podman build` then fails with
[code]

See https://travis-ci.org/adelton/freeipa-container/jobs/508109327#L178.

[2019-03-18 22:51] cevich commented on #2649
Here's another iptables one (not sure if it's the same one I saw before)

* [Podman run passwd](https://cirrus-ci.com/task/5384470730375168)  ``running [/usr/sbin/iptables -t filter -N CNI-FORWARD --wait]: exit status 1: iptables: Chain already exists.``

[2019-03-18 22:51] #2671 closed

[2019-03-18 22:55] mheon commented on #2649
That sounds like it could be a concurrency thing, though out of CNI, not us.

Thought: did anyone ask CNI if they're capable of being as multiprocess as we want in Podman? If their locking isn't up to par it could be problematic. On the other hand, it hasn't bitten us so far...

[2019-03-18 23:15] lsm5 commented on #2116
On Mon, Mar 18, 2019 at 03:49:33PM -0700, Jan Pazdziora wrote:

Ack, thanks, seems like cri-o-runc isn't installing the binary, I'll fix it
later tonight.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-18 23:31] baude commented on #2699
sure, but frankly  i am struggling with this a little.  it is clearly a dependency and I find it a bit unusual having dependencies installed like this.  thoughts?

[2019-03-19 00:15] kunalkushwaha commented on #1358
This issue is fixed with https://github.com/containers/libpod/pull/2664 & https://github.com/containers/libpod/pull/2685.

Hence closing the issue.

[2019-03-19 00:15] #1358 closed

[2019-03-19 03:20] lsm5 commented on #2116
On Mon, Mar 18, 2019 at 07:15:26PM -0400, Lokesh Mandvekar wrote:

Try podman_1.2.0-1~ubuntu16.04.2~ppa4

libpod.conf wasn't installed with the previous build but should be taken care
of now. That file mentions the paths for the runc binary.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-19 06:28] ikke-t commented on #2665
Thanks, I'll try once the build works. Last night's build is broken: https://koji.fedoraproject.org/koji/buildinfo?buildID=1235450

[2019-03-19 07:38] adelton commented on #2116
I've resubmitted the Travis CI build today and got
[code]
installed (1.2.0-1~ubuntu16.04.2~ppa5 > 1.2.0-1~ubuntu16.04.2~ppa4) but I still get
[code]

See https://travis-ci.org/adelton/freeipa-container/jobs/508109327#L178.

[2019-03-19 08:26] giuseppe commented on #2673
it changes only the default value.  Existing containers will keep using their configuration that was created with the older podman version.

[2019-03-19 08:37] muayyad-alsadi commented on #2503
yes, I've two working ways, one of them `1podfw` which passes -p to `podman pod create`

the other working one is `cntnet`

https://github.com/muayyad-alsadi/podman-compose

[2019-03-19 08:54] tobwen commented on #2503
@muayyad-alsadi Very nice, I'll test them soon!

[2019-03-19 12:05] debarshiray commented on #2673
Yes, containers created with podman <= 1.1.2 will keep using their existing configurations
but one cannot use `podman exec` on them after PR #2569 or commit 4a02713c57d874c4 if the containers were created with `--uidmap` but without `--conmon-pidfile`.

[2019-03-19 12:57] lsm5 commented on #2116
can you please check if `/usr/share/containers/libpod.conf` and `/usr/lib/cri-o-runc/sbin/runc` are present on your system?

[2019-03-19 13:08] adelton commented on #2116
I don't have an easy way to test that in Travis CI but running steps from https://github.com/containers/libpod/issues/2666#issue-421504843 results in an `ubuntu:xenial`-based container results in
[code]

[2019-03-19 13:11] lsm5 commented on #2116
@adelton one other thing, can you check if your /usr/share/containers/libpod.conf has:

[code]

[2019-03-19 13:24] adelton commented on #2116
The content of `/usr/share/containers/libpod.conf` matches what you show.
How should I prevent Travis from installing the default `runc` (if it indeed does so)?  I thought that https://github.com/containers/libpod/pull/2059 that we had as a fix for https://github.com/containers/libpod/issues/2046 should have addressed that.
Given that we've had Travis CI with working podman, would it make sense to

[2019-03-19 13:42] lsm5 commented on #2116
@mheon @afbjorklund I'm thinking of having cri-o-runc conflict with Ubuntu's default runc, wdyt? Also, any comment on the above?

[2019-03-19 13:48] mheon commented on #2116
We could potentially patch libpod.conf in the PPA to only include the CRI-O
runc path? Would that solve it?

On Tue, Mar 19, 2019, 07:42 Lokesh Mandvekar <notifications@github.com>
wrote:

[2019-03-19 13:50] lsm5 commented on #2116
Ya, that's doable. I'll set that up.

[2019-03-19 15:25] lsm5 commented on #2116
@adelton 1.2.0-1~ubuntu16.04.2~ppa6 should be available on ppa now. It only has `/usr/lib/cri-o-runc/sbin/runc` in `libpod.conf`. Let me know how it works.

[2019-03-19 15:45] cevich commented on #2692
If this behavior has to remain, it would be good to document the heck out of it.  I'm glad the issue is known now, but really pitty any non-expert trying to debug this behavior.  The least we can do is make the problem easy for google to index.

@rhatdan @mheon could we fix this by "cheating".  In other-words, an out-of-band logs update, not in the standard flow?  (I'm ignorant of the mechanics he

[2019-03-19 16:03] cevich commented on #2692
That's actually not a bad idea at all.  Better to make the fact known in-line.  It's absence now and in the future would signal the problem was (somehow) fixed.  It would still probably be helpful to include a small warning in the 'podman logs' docs.  Are those hard to update?   /me wanders off to check

[2019-03-19 16:03] adelton commented on #2116
No, it still fails the same way: https://travis-ci.org/adelton/freeipa-container/jobs/508109327

Since the error message is
[code]
I wonder if the configured full path of the `runc` executable is used at all. Why would it say just `"runc"` otherwise?

[2019-03-19 17:10] baude commented on #2692
I have some long-term thoughts on logging which will fix this.  If we do anything, lets make it minimum effort for max reward.

[2019-03-19 17:31] lsm5 commented on #2116
So in the travis logs, I see STEP 1 is `registry.fedoraproject.org/fedora:30` and the error is in STEP 4. Just wanna make sure it's the ubuntu cri-o-runc's runc binary that's expected here.

[2019-03-19 17:35] lsm5 commented on #2116
I guess I'll symlink cri-o-runc's binary to /usr/sbin as well in that case and have it conflict with distro's runc.

[2019-03-19 17:38] lsm5 commented on #2116
@mheon @afbjorklund podman binary uses libpod.conf settings by default, yes? Or am I missing anything for that to happen?

[2019-03-19 17:39] mheon commented on #2116
As long as libpod.conf lives in /etc/containers/ or /usr/share/containers

[2019-03-19 17:41] lsm5 commented on #2116
Yup, that's already happening. So, the only other thing I can try is a symlink for runc in /usr/sbin and conflict with runc. Doing that now..

[2019-03-19 18:03] lsm5 commented on #2116
@adelton just pushed cri-o-runc 1.0.0-rc6-1\~ubuntu16.04.2\~ppa70 which has a symlink in /usr/sbin . Can you retry please?

[2019-03-19 19:00] ikke-t commented on #2665
works, thanks!

[2019-03-19 19:28] cgwalters opened #2710 "strange errors when pull authentication fails"
Here I have an image in an internal registry, I've replaced all references in the output with `${image}`.  It is a valid reference that I can pull if i drop the `--creds u:p`.  I'm using that to force on a pull authentication error.

The error resulting is...very strange.  What's the `(0x1882e00,0xc000a47f40)`?  And then why do we later think the image is an invalid transport?

[code]

[2019-03-19 19:38] afbjorklund commented on #2699
I built it from source. Not sure why it defaults to binary, or why not just add it as a dependency ?

Added these steps, to the above:

[code]
in `libpod`

[code]
in `catatonit`

Also had to patch the location in (libpod.conf and libpod/runtime.go), since it had been hardcoded.

[2019-03-19 19:46] afbjorklund commented on #2699
@tobwen : catatonit is a C program. it looks a little odd in a Go directory ?

[2019-03-19 19:48] afbjorklund commented on #2702
Most likely, `install.bin` should depend on bin/podman (and so on) - not run another make

[2019-03-20 02:47] kbaegis commented on #454
Doesn't fix. This bug is alive and well in the wild:
podman version 1.1.2
runc version 1.0.0-rc6+dev
spec: 1.0.1-dev
crio version 1.13.0

`Error: error parsing CNI plugin result "IP4:{IP:{IP:10.3.60.121 Mask:ffffffff} Gateway:10.3.0.1 Routes:[{Dst:{IP:10.3.0.1 Mask:ffffffff} GW:<nil>} {Dst:{IP:0.0.0.0 Mask:00000000} GW:10.3.0.1}]}, DNS:{Nameservers:[] Domain: Search:[] Options:[]}": cannot convert

[2019-03-20 08:01] adelton commented on #2116
With `podman 1.2.0-1~ubuntu16.04.2~ppa7` and `cri-o-runc 1.0.0-rc6-1~ubuntu16.04.2~ppa70` things are back to working: https://travis-ci.org/adelton/freeipa-container/jobs/508109332
Thank you!

[2019-03-20 08:02] adelton commented on #2666
With podman 1.2.0-1~ubuntu16.04.2~ppa7 and cri-o-runc 1.0.0-rc6-1~ubuntu16.04.2~ppa70 things are back to working: https://travis-ci.org/adelton/freeipa-container/jobs/508109332

[2019-03-20 08:02] #2666 closed

[2019-03-20 08:08] kunalkushwaha commented on #2116
Hi @lsm5 one thing I noticed during installation of `podman` on Ubuntu, it removes `docker-ce`.

I think, none of packages conflicts between `podman` & `docker`, this is not required.

[code]

[2019-03-20 08:30] michaeladler opened #2712 "podman run --env breaks on comma-separated values"
/kind bug

**Description**

`podman run --env "key=value"` splits `value` if `value` is comma-separated.

**Steps to reproduce the issue:**

[code]
**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

Works in docker (`alias podman=docker`). I have tried escaping `value

[2019-03-20 08:49] s4s0l opened #2713 "running with uidmap/gidmap, unable to attach volume."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I get permission denied when running container with uidmap and gidmap and try to attach volume. both named volume or directory mount cause this error. Running without volume mounts seems to be working fine. I'm running it as root. Disabling selinux does not change the behavior. I know Im not

[2019-03-20 09:55] Spindel opened #2714 "rootless container fails: "Setup user: Invalid argument""
/kind bug

**Description**

rootless podman fails with:
[code]

**Steps to reproduce the issue:**

1. Set up pod, try to launch container, as non-root:

[code]
2. selinux in permissive mode, running other rootless containers seems to work (

3.

**Describe the results you received:**

Error message

**Describe the results you expected:**
Launched redis inside pod

**Additional information you deem

[2019-03-20 10:38] vrothberg commented on #2699
I suggest cloning catatonit into a tmp directory, build it there, copy it to the `CATATONIT_PATH`, and remove the directory.

[2019-03-20 10:45] neVERberleRfellerER commented on #2713
Reproducible with podman 1.1.2 (on Fedora Atomic Host 29).

[2019-03-20 10:51] tobwen commented on #2699
@afbjorklund Sure, this is just my _podman_ rendering stack, where anything _GO_es into: https://gist.github.com/tobwen/25a010d3b90a6491e5646c0e77163557

[2019-03-20 11:00] giuseppe commented on #2713
how have you created `my-volume`?

[2019-03-20 11:10] giuseppe commented on #2713
Any chance you could try https://github.com/containers/libpod/pull/2716 ?

[2019-03-20 11:26] neVERberleRfellerER commented on #2713
`podman volume create my-volume`
But it does not seem to really matter - podman creates missing volumes automatically.

Yes. I don't know how to build packages on Fedora so I tested it on Arch Linux. It works.

[2019-03-20 11:46] giuseppe commented on #2712
PR here: https://github.com/containers/libpod/pull/2717

[2019-03-20 12:13] michaeladler commented on #2712
That was quick. Thanks @giuseppe.

[2019-03-20 12:43] rhatdan commented on #2116
I know that docker-ce is now conflicting with the installation of runc.

[2019-03-20 12:47] lsm5 commented on #2116
So, the docker-ce conflict with both `runc` and `cri-o-runc` seems to occur because of `/usr/sbin/runc`. I'll have cri-o-runc create a symlink in `/usr/bin` instead of `/usr/sbin` so that we have no conflict with docker-ce and that @adelton is happy too

[2019-03-20 12:57] kbaegis opened #2718 "Broken Pipe"
/kind bug

**Description**

Running container fails with `write |1: broken pipe` ; possible duplicate of https://github.com/containers/libpod/issues/1553

**Steps to reproduce the issue:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment det

[2019-03-20 13:27] giuseppe commented on #2713
if you run the command manually, then it is owned by root.  With the PR, I've opened, if it is created automatically then it is owned by the correct user

[2019-03-20 13:28] giuseppe commented on #2713
thanks for confirming it!  I'd just do a "make" there as well without the .rpm

[2019-03-20 13:30] rhatdan commented on #2714
@haircommander @giuseppe Could you guys look into this?

[2019-03-20 13:38] giuseppe commented on #2714
please attach the output you get with `--log-level debug`

[2019-03-20 13:38] giuseppe commented on #2714
I guess the image is setting an user that is not available in the user namespace

[2019-03-20 13:55] lsm5 commented on #2718
@kbaegis I'm guessing ubuntu 18.04?

[2019-03-20 13:56] rhatdan commented on #2714
Shouldn't that fail when the image is pulling?

[2019-03-20 14:00] giuseppe commented on #2714
"setup user: invalid argument" looks like an explicity `USER`, that could be different than UIDs/GIDs used by the image (e.g. files owned by root but readable by anyone)

[2019-03-20 14:01] lsm5 commented on #2116
runc updated on both ubuntu versions in ppa. check it out

[2019-03-20 14:04] rhatdan commented on #2714
@Spindel Could you check the image and see what user it is attempting to be run as?

[2019-03-20 14:41] baude commented on #2699
Why isn't it just a dep  like runc or conmon

[2019-03-20 14:48] rhatdan commented on #2699
Someone would need to package it up and get it into Fedora/RHEL/Centos. Currently we are just using this as an internal tool of podman.

[2019-03-20 15:22] miabbott commented on #2710
I ran into this pulling from an insecure registry (full `registry:port` replaced with `${registry}`)

[code]

Note in the above error message, the parsing of the `registry:port/image` specifier seems to break down, as the error message identifies first two portions(`brew-pulp-docker01.web`) of the full registry name as the transport.

However, if i supplied the `--tls=verify=false` option, it succ

[2019-03-20 15:25] mheon commented on #2718
Strongly suspect this is related to the CNI plugin in use

On Wed, Mar 20, 2019, 09:55 Lokesh Mandvekar <notifications@github.com>
wrote:

[2019-03-20 15:28] vrothberg commented on #2699
@lsm5 has a card for that but more important things keep popping up.

[2019-03-20 15:37] cevich commented on #2649
* [Podman privileged container tests](https://cirrus-ci.com/task/5954038255321088) - in ``[BeforeEach]`` seeing error: Error: error adding firewall rules for container.  exit status 1: iptables: Chain already exists.

Similar to Podman run passwd (above)

[2019-03-20 16:00] cevich commented on #2692
@baude yes, I agree.  Another +1 for "documentation update" then let google do the work to help people not hit this :smile:

[2019-03-20 16:06] afbjorklund commented on #2116
Glad that the conflict is gone, but it seems confusing to have both /usr/bin/runc and /usr/sbin/runc ?
I hate the fact that containerd.io installs /usr/sbin/runc, instead of handing it off to a separate package.

[2019-03-20 16:09] Spindel commented on #2714
RUN echo redis:x:100004:100:redis:/:/sbin/nologin >> /etc/passwdUSER
100004EXPOSE 6379CMD ["/usr/bin/redis-server", "/etc/redis.conf"]

On Wed, Mar 20, 2019 at 3:04 PM Daniel J Walsh <notifications@github.com>
wrote:

[2019-03-20 16:13] tobwen commented on #2699
@rhatdan For what do you use it? I often don't compile it at all. I thought, it's _PID 1_ for the container when activated?

[2019-03-20 16:21] giuseppe commented on #2714
100004 is a way too big value, you either change it or allocate more subuids to your user. Via /etc/subuids and /etc/subgids

[2019-03-20 16:55] vbatts opened #2721 "selinux policy needed for systemd in containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

building images to boot systemd, like
[code]

But on a host with selinux enabled, it fails and needs some extra policy pieces

**Steps to reproduce the issue:**

1. Build that Dockerfile ^^^^

2. `sudo podman run -it --rm --systemd mysystemd`

3.

**Describe the results you received:**
[code]

[2019-03-20 17:03] Spindel commented on #2714
Right, thank you.

On Wed, Mar 20, 2019 at 5:21 PM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-03-20 17:05] afbjorklund commented on #2699
Maybe it needs to be in a separate package because of licensing issues ? (GPLv3+, vs. ASL 2.0)

I just added it for completeness (i.e. `run --init`), using `tini` for the actual container examples...

[2019-03-20 17:12] mheon commented on #2714
@giuseppe Is the 65000 UID limit documented anywhere? We ought to add it to the manpages.

Also, can we potentially catch this earlier than runc, so we can produce a more sensible error?

[2019-03-20 17:13] mheon commented on #2721
Don't we have an SELinux bool to enable at least some of this?

[2019-03-20 17:18] mheon commented on #454
`05-cilium.conf` isn't sourced from any of our tools; can you pastebin the contents of the file?

[2019-03-20 17:19] giuseppe commented on #2714
It is just what shadow utils allocates by default. Yes we can catch it earlier, we already do that when extracting an image.  I'll work on a patch

[2019-03-20 17:19] mheon commented on #454
Also, any other files in `/etc/cni/net.d/` besides `05-cilium.conf` (and presumably our Podman config)?

[2019-03-20 17:20] mheon commented on #2714
@giuseppe Sure, but the run manpage should probably mention the 65k max UID limit will exist for most default installations of rootless Podman, barring nonstandard shadowutils or manual modification

[2019-03-20 17:22] mheon commented on #2718
We're not even getting to Conmon - I'm almost certain this is a CNI failure. Can you try a `--net=host` container to be sure of this?

[2019-03-20 17:33] cevich opened #2723 "Expired integration test certificate"
/kind bug

**Description**

All /var/tmp/go/src/github.com/containers/libpod/test/e2e/push_test.go tests fail

**Steps to reproduce the issue:**

1. Run CI tests

**Describe the results you received:**

Push tests fail w/ error about expired certificate

**Describe the results you expected:**

Push tests pass

**Additional information you deem important (e.g. issue happens only occasionally):**

`

[2019-03-20 17:45] lsm5 commented on #2718
On Wed, Mar 20, 2019 at 10:22:07AM -0700, Matthew Heon wrote:

ack, cni plugins are an older version right now on ubuntu. I'll update to the
latest today.
--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-20 17:47] mheon commented on #2718
The report mentions a Gentoo kernel, so I'm not certain this is the PPA
we're talking about

On Wed, Mar 20, 2019, 13:45 Lokesh Mandvekar <notifications@github.com>
wrote:

[2019-03-20 17:52] rhatdan commented on #2721
[code]

[2019-03-20 17:52] rhatdan commented on #2721
setsebool -P container_manage_cgroup true

[2019-03-20 17:53] rhatdan commented on #2721
These look suspicios.

[code]

[2019-03-20 17:54] rhatdan commented on #2721
None of this stuff is needed anymore
[code]

[2019-03-20 18:01] rhatdan commented on #2714
I would not just document 65k, I would tell them to look at the range of UIDs allocated to /etc/subuid.  I am proposing that eventually we want to use much smaller ranges.  If we were running as root it would be nice to handle this situation by seeing if the UID is outside the range and then just adding it to the range.

[2019-03-20 18:15] vbatts commented on #2721
Where is that documented?

[2019-03-20 18:16] vbatts commented on #2721
completely missed this. Would make for a decent warning to check for when the `--systemd` flag is passed.

[2019-03-20 18:16] #2721 closed

[2019-03-20 18:20] rhatdan commented on #2721
We default to --systemd true.  We could look at the command of the container and attempt give error on failure.  But these usually don't fail, they just hang.

[2019-03-20 18:22] rhatdan commented on #2721
@vbatts The only place that is documented is an Ancient article by me from 5 years ago.  :^(
https://developers.redhat.com/blog/2014/05/05/running-systemd-within-docker-container/

I could write a new blog saying here is how you run a systemd based container in podman.

[2019-03-20 18:26] vbatts commented on #2721
well, i found those things in a recent example on a centos page.
So, it isn't widely known :grin:

[2019-03-20 19:08] #2723 closed

[2019-03-20 20:20] cesan3 opened #2726 "podman seems to ignore certs.d directories when running rootless."
/kind bug

**Description**

When running podman pull/push rootless, I'm forced to pass the --cert-dir option to provide the certificates (tried the defaults  /etc/containers/certs.d/<certs>, or /etc/containers/<host>/<certs>, or even /etc/docker/certs.d/<host>/<certs>.

I'm ok, passing the --cert-dir option, for pull/push, but, for podman image sign, I don't have the option, and I get the complain

[2019-03-21 11:49] #2712 closed

[2019-03-21 12:37] tobwen commented on #2699
Well that escalated quickly...

https://github.com/yetanothergeek/bbinit
https://github.com/$catatonit_src
https://github.com/Yelp/dumb-init
https://github.com/troglobit/finit
https://github.com/krallin/tini

[2019-03-21 12:40] giuseppe commented on #2714
PR here: https://github.com/containers/libpod/pull/2731

[2019-03-21 14:47] #2526 closed

[2019-03-21 14:52] wwilson commented on #2574
Does this fix also need to be applied to --env? Slight modification of your reproduction above:

[code]

[2019-03-21 15:22] mheon commented on #2574
#2717 fixed `--env` as well

[2019-03-21 15:34] cevich commented on #2649
* Running rootless:  [Podman pod rm [It] podman pod rm -a doesn't remove a running container ](https://cirrus-ci.com/build/6328612444700672) and [another one](https://cirrus-ci.com/task/5367713881915392)  Error I see is ``Error: pod 15d...7f contains containers and cannot be removed: container already exists``

[2019-03-21 15:43] cevich opened #2733 "test-race: podman pod rm -a doesn't remove a running container"
/kind bug

**Description**

Test occasionally in CI fails, when running as a user (rootless testing).

**Steps to reproduce the issue:**

1. Re-run tests until it fails :frowning_face:

**Describe the results you received:**

``Error: pod 15d...74f contains containers and cannot be removed: container already exists``

**Describe the results you expected:**

Test consistently passes

**Additional i

[2019-03-21 17:08] jeffreystoke opened #2734 "proposal(dockerfile/parse): vendor moby/buildkit instead of docker/docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I was trying to vendor `github.com/containers/libpod` in my project with `go mod vendor`, but it keeps failing on finding `github.com/docker/docker/builder/dockerfile/parser`, which has been removed from `github.com/docker/docker` since [moby/moby c9ebd2f13b3aab49c2d90cc38dcf2cd0d059697f]

[2019-03-21 17:13] vrothberg commented on #2734
I just skimmed the issue:
`github.com/docker/docker/builder/dockerfile/parser` will be dropped when we vendor the latest buildah (Cc @TomSweeneyRedHat).

Regarding the usage of go mod:
We starting working on making the dependencies `go mod`-friendly but I guess this will take some more time until we have ironed out the rough edges.

[2019-03-21 17:39] TomSweeneyRedHat opened #2735 "Podman logout doesn't work if logged in with docker login"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
If you login to a registry server with `docker login` and then later try to log in the same registry server with `podman login`, you're told the credentials already exist.  If you try to logout using `podman logout` you're told you're not logged in.

**Steps to reproduce the issue:**

1.  docke

[2019-03-21 17:40] jeffreystoke commented on #2734
Thank you @vrothberg for the quick and informative reply,

Wow, really good news, happy to see `buildah` to be there. Anything I can help?

[2019-03-21 17:47] rhatdan commented on #2734
Best to help out by testing and reviewing patches.

[2019-03-21 17:51] jeffreystoke commented on #2734
Well, I have found a workaround to this issue with `replace`

[code]

[2019-03-21 17:52] rhatdan commented on #2733
That is expected.
[code]

[2019-03-21 17:52] TomSweeneyRedHat opened #2736 "Pulling from private registry without authentication needs a better error message"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pulling from a private repo without appropriate authentication, the error is not helpful, it just says "Failed"

**Steps to reproduce the issue:**

1.  podman pull docker://quay.io/{myprivaterepo}/alpine:latest

**Describe the results you received:**
[code]

**Describe the results you ex

[2019-03-21 17:56] jeffreystoke commented on #2734
@rhatdan , I will try, but honestly I have never reviewed any code from others.

[2019-03-21 17:57] mheon commented on #2736
Anything more get printed with `--log-level=debug`?

[2019-03-21 17:57] mheon commented on #2736
(I think we might have a good error and be eating it)

[2019-03-21 18:02] TomSweeneyRedHat commented on #2736
Me thinks you're correct @mheon, here's the last line of debug:

[code]

[2019-03-21 18:27] rhatdan commented on #2734
@jeffreystoke No problem even reviewing docs or just trying out the code helps.

[2019-03-21 19:04] cevich commented on #2733
Correction: It's line 119 that fails.

@rhatdan That's what the test appears to be exercising: Confirm that rm -a fails.  This part is passing, it's the final check that fails, and only when running as a user (works fine when run as root):

[code]

*sigh* so this rings some bells...it fails whenever there is NOT exactly one line of output :cry:

This is the worst setup to debug since we have NO id

[2019-03-21 20:55] cevich commented on #2733
Ha! I think I caught it.  This is the ps output when the test is expecting ***1*** pod:

[code]

So...since we're running tests in parallel, I think maybe this is another one for #2733 ?

[2019-03-21 22:07] tobwen opened #2738 "[rootless] unable to delete files in another namespace (with --rm)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When creating files in a rootless container and chowning these files to another user, it's impossible to remove them from the host without help of the root user.

**Steps to reproduce the issue:**

1. `podman run -ti --rm -v /home/podman/we:/we alpine`
2. `adduser tobwen`
3. `cd /we && touch

[2019-03-21 22:10] mheon commented on #2738
The UID mappings should always be the same (assuming you did not modify `/etc/subuid` or `/etc/subgid`) so we should still be good to delete these files

[2019-03-21 22:11] mheon commented on #2738
(The modified subuid/subgid case is sort of concerning, but you need root to do that, so I'm somewhat OK with saying you need root to fix it)

[2019-03-21 22:14] neVERberleRfellerER commented on #2738
There is also
https://podman.io/blogs/2018/10/03/podman-remove-content-homedir.html
The buildah method works.

[2019-03-21 22:19] tobwen commented on #2738
@mheon They look like this:
[code]

@neVERberleRfellerER Thanks let me try this solution (as mentioned in #1386, but would be great to have this working in podman the native way).

[2019-03-21 22:21] mheon commented on #2738
@tobwen The `buildah unshare` method ought to still work, since we join namespaces with the same UID/GID maps always, then.

Though it's not good that we can't do this natively with Podman. We shouldn't need an external tool that might not be available in order to clean up after ourselves.

[2019-03-21 22:24] tobwen commented on #2738
@mheon Can't I do this with normale `unshare` from _util-linux_, too? Or is this a complete different approach?

[2019-03-21 22:29] mheon commented on #2738
Not 100% sure here - they are conceptually very similar, but the semantics might be different enough to make it impossible (I'd mostly be concerned with how `unshare` gets its user mappings configured).

[2019-03-21 22:30] tobwen commented on #2738
Hmm... building _buildah_ fails here right now. I'll report & close as soon as I got this working.

[2019-03-21 22:55] tobwen opened #2739 "[rootless] error: cannot mount using driver overlay in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

_podman_ gives an error that it can't mount using driver overlay in rootless mode, but it should, since there's _fuse-overlayfs_.

**Steps to reproduce the issue:**

1. `podman mount -a`

**Describe the results you received:**

[code]

**Output of `podman version`:**

[code]

**Output of `pod

[2019-03-21 23:16] lsm5 commented on #2116
@afbjorklund cri-o-runc doesn't have `/usr/sbin/runc` anymore. Just `/usr/lib/cri-o-runc/sbin/runc` and a symlink `/usr/bin/runc`

[2019-03-22 00:40] EmilienM opened #2740 "Error when forwarding SIGTERM to container with systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Originally reported here:
https://bugzilla.redhat.com/show_bug.cgi?id=1691408

Error when stopping a container managed by systemd:

Mar 21 18:08:03 undercloud.localdomain systemd[1]: Stopping heat_engine container...
Mar 21 18:08:38 undercloud.localdomain systemd[1]: heat_engine container is

[2019-03-22 01:47] tobwen commented on #2738
A small work-around (where 165635:165617):

[code]

[2019-03-22 01:47] #2738 closed

[2019-03-22 07:37] kunalkushwaha opened #2741 "redundant image pull shall be avoided (rootless & root)"
kind feature

**Description**

Currently if an image is pulled as root and again same image is pulled in rootless mode (vise-versa too), the whole image is downloaded again. Since, the image is locally available, this shall be avoided.

rootless & root mode should be enforced towards _container execution_ & can be avoided at _image management_

few of reasons:
- Image pull in one of most time cons

[2019-03-22 07:48] vrothberg commented on #2741
Hi @kunalkushwaha, thanks a lot for opening the issue!

Good news, this issue is already being tracked and worked on. If you're interested, you can follow https://github.com/containers/skopeo/pull/619. We have to iron out some rough edges regarding the lock management, but you can expect it to be merged into Podman soon.

I am closing this issue as there is already https://github.com/containers/li

[2019-03-22 07:48] #2741 closed

[2019-03-22 07:50] vrothberg commented on #2551
This is being worked on now. If you interested, you can follow the progress over at https://github.com/containers/skopeo/pull/619.

Note that I am closing this issue as it's a duplicate of https://github.com/containers/libpod/issues/1911.

Thanks again for taking the time to open and discuss the issue.

[2019-03-22 07:50] #2551 closed

[2019-03-22 07:55] kunalkushwaha commented on #2741
Thanks for update. I will followup  #1911 & containers/skopeo#619

[2019-03-22 08:17] kunalkushwaha commented on #2741
@vrothberg It looks like, the download for parallel process (but in same mode) is only handled with containers/skopeo#619.

Will this fix issue of root and rootless mode too? As I see the image store is different for both root & rootless mode.

rootless
[code]

root
[code]

[2019-03-22 08:23] vrothberg commented on #2741
@kunalkushwaha, yes this will work transparently for both, root and rootless. Skopeo doesn't yet support rootless storage, but we will add support for that soon (Cc @rhatdan @giuseppe).

[2019-03-22 08:39] kunalkushwaha commented on #2741
I actually meant with this issue is.
- Shared image store for root & rootless mode. (at least an option to allow sharing)
- Though simply using same  image store, may not be good idea, but somehow if its configurable to use the other image-store as cache, so before downloading from remote registry, it can look if its already available in cache store.

e.g  In `containerd` project, there is concept

[2019-03-22 08:50] vrothberg commented on #2741
Currently, we don't support that.  Having shared storage across users implies leaking data and can be used for abuse which I find concerning. But I understand the use-case for such a feature and if made optional, I would support the idea.

I _guess_ that containerd can do that as it's running as root.

But @rhatdan and @giuseppe are the experts in this domain. What's your take on that?

[2019-03-22 09:02] #2713 closed

[2019-03-22 10:11] giuseppe commented on #2740
this looks like a race between ExecStop= and the command specified in ExecStart=.

The ExecStop= is faster and the container is killed and cleaned up, but the podman started by ExecStart= is still running and systemd kills it as soon as the ExecStop= finished.

Since you are relying on Podman for managing the containers/processes I think you'll just need to use `KillMode=none`

[2019-03-22 10:15] giuseppe commented on #2739
we can mount use fuse-overlayfs but that can be done only inside a user namespace.

A rootless container cannot mount on the host mount namespace, so it cannot honor the `podman mount` semantic where you'll see the container content mounted locally.

More details here: https://github.com/containers/buildah/issues/1225

If you need to mount the container image, you can use `buildah unshare + builda

[2019-03-22 10:15] #2739 closed

[2019-03-22 10:57] giuseppe commented on #2736
is it a duplicate of https://github.com/containers/libpod/issues/2710?

[2019-03-22 10:58] giuseppe commented on #2641
I think we solved this as part of another PR.  Please re-open if it still exists

[2019-03-22 10:58] #2641 closed

[2019-03-22 11:25] kbaegis commented on #2718
Original error: `ERRO[0006] error parsing CNI plugin result "IP4:{IP:{IP:10.3.85.4 Mask:ffffffff} Gateway:10.3.0.1 Routes:[{Dst:{IP:10.3.0.1 Mask:ffffffff} GW:<nil>} {Dst:{IP:0.0.0.0 Mask:00000000} GW:10.3.0.1}]}, DNS:{Nameservers:[] Domain: Search:[] Options:[]}": cannot convert version ["" "0.1.0" "0.2.0"] to 0.4.0: cannot convert version ["" "0.1.0" "0.2.0"] to 0.4.0`

After injecting `    "cni

[2019-03-22 12:04] EmilienM commented on #2740
Resolved per @giuseppe comment.

Thanks :-)

[2019-03-22 12:04] #2740 closed

[2019-03-22 12:43] naveedkamran commented on #1817
We are also having same issue. The docker image is based on

FROM jboss/wildfly:9.0.2.Final

Did someone really found a solution?

[2019-03-22 12:45] mheon commented on #2741
There has been some talk about this, but only in one direction (allowing
rootless to copy local images from root - you run into problems the other
way because you can't trust that the images). We can make the image store
directories world readable, but I believe we found some files that could
not be accessed even with appropriate permissions due to extra file
attributes.

On Fri, Mar 22, 2019, 04:

[2019-03-22 12:46] mheon commented on #1817
What Podman version?

On Fri, Mar 22, 2019, 08:43 Naveed Kamran <notifications@github.com> wrote:

[2019-03-22 12:57] naveedkamran commented on #1817
We are not using podman. We are using only docker.
Here is the partial code of the Dockerfile

[code]

It gives this error:

fatal: [my-all-test]: FAILED! => {"changed": true, "cmd": "sudo docker build -t controller:v1.0 /opt/docker/pm-controller-basic-image/", "delta": "0:00:25.920795", "end": "2019-03-22 13:22:13.867015", "msg": "non-zero return code", "rc": 1, "start": "2019-03-22 13:21:47.9462

[2019-03-22 12:57] EmilienM commented on #1817
@najamelan if you're running on centos7, I suggest using this package:
https://trunk.rdoproject.org/centos7-master/deps/latest/x86_64/podman-1.0.0-3.git921f98f.el7.x86_64.rpm

Which contains a tested version of podman, which shouldn't have this bug anymore.

[2019-03-22 13:02] naveedkamran commented on #1817
But we are running it on Ubuntu 16. Do you know if it also works on ubuntu or anyway around for ubuntu?

[2019-03-22 14:17] cevich commented on #2733
This can't be  #2649 because separate ``--root and --runroot`` guarantee separation.  Therefor the unexpected pod must be coming from somewhere else.

[2019-03-22 14:21] mheon commented on #2733
So on my initial look, this test seems to make two pods, only one running, and then do an `rm -a` to remove only the not-running pod.

Initial diagnosis: the not-running pod is either not being deleted at all (really bad) or we're racing and it's still there when we do a `ps` (more likely, not as bad)

[2019-03-22 15:07] cevich commented on #2733
@mheon That's helpful, thanks.  I believe this is a race, sometimes it passes.  Sounds like the rm -a is exiting before the pod is actually removed.  Okay, I'll see if I can reproduce that manually (as a user).

[2019-03-22 15:52] rhatdan commented on #2738
@tobwen There is a hope that someone will implement podman unshare, but no one has had it prop to the top of the priority list yet.

[2019-03-22 15:55] tobwen commented on #2738
@rhatdan But it helps to delete the files. But is it normal that _buldah_ greps existing users? `165635` gets `systemd-timesync` here.

[2019-03-22 16:01] rhatdan commented on #2739
I talk about this in this blog.
https://opensource.com/article/19/3/tips-tricks-rootless-buildah

[2019-03-22 16:17] debarshiray opened #2744 "Optionally skip the built-in bind mounts (eg., /etc/resolv.conf)"
/kind feature

**Description**

Currently `podman start` bind mounts a built-in list of standard files from the host into the container. While those are definitely good defaults, it's sometimes desirable to skip some of them. For example, `/etc/resolv.conf` can change on the host due to changes in the network - moving from one wireless access point to another, etc.. When that happens, and the host

[2019-03-22 16:19] mheon commented on #2744
Would it be sufficient to bind-mount the symlinks in at container creation time? The mounts will be automatically superseded if you specify something else to mount in its place.

[2019-03-22 16:46] rhatdan commented on #2744
Yes we will not use the builtins if there is a bind mount from the host.  I think it will be fine as long as the INODES from the host stay the same.  IE The file content gets modified as opposed to mv the file asside and replace it with a new file.

[2019-03-22 16:49] mheon commented on #2744
To confirm here, it looks like we do traverse the links before bind-mounting in, so a rename/remove would probably break this - we'd always point to the old file.

[2019-03-22 17:08] debarshiray commented on #2744
Umm... I don't understand.

First, I am trying to mess with the image to set up `/etc/resolv.conf` as a symbolic link:
[code]

But that doesn't work. I don't know why.

If that had worked, I'd have set `/etc/resolv.conf` to point somewhere inside `/run`, and then ensured the necessary bind mount inside `/run` in `podman create`.

[2019-03-22 17:16] rhatdan commented on #2744
We are talking about
podman run -v /etc/resolv.conf:/etc/resolv.conf ...

[2019-03-22 17:16] mheon commented on #2744
I would expect `umount` to not work, but `rm` sounds like it ought to work.

Aside - I suspect you run into the exact same problems I was describing if you mount another resolv.conf into `/run` - you get the original copy, but if it is deleted/recreated, we won't follow that. You could simply modify the file instead of deleting/recreating, which would resolv the issue

[2019-03-22 17:18] mheon commented on #2744
Confirmed on root, too - we can't delete, remove, etc `/etc/resolv.conf` in the container, given it's a bind mount. Wonder if there's an easy way around that.

[2019-03-22 17:20] debarshiray commented on #2744
Umm... but isn't that roughly what `podman start` is doing via `makeBindMounts`? The problem is that if the host's `/etc/resolv.conf` gets updated via an atomic rename (say by NetworkManager), then the binding will break and the container won't see the change.

[2019-03-22 17:22] debarshiray commented on #2744
Does that mean that we also need to stop Buildah from creating the bind mount for it's working containers?

[2019-03-22 17:23] #2714 closed

[2019-03-22 17:26] owtaylor commented on #2744
I think we'd like to maintain the symlink-to-mounted directory setup if possible, rather than putting constraints on how things are updated. Either with an option to skip, or an option to "mount" a symlink within the container filesystem.

Allowing replacing the mounts with sy,links

 --volume /etc:/run/host/etc \
 --make-symlink /run/host/etc/localtime:/etc/localtime

(leaks more host information

[2019-03-22 17:26] rhatdan commented on #2744
Podman by default copies the resolv.conf into the container private data and then allows the container to manage it.
If you volume mount in to the same path as the builtin path then that file will be visible in the container. If it is modified on the host, then the content will be seen in the container.  If the container is not privileged, it would not be allowed to modify the file.

[2019-03-22 17:28] rhatdan commented on #2744
@owtaylor we could do that but we would then need the flag to say no builtin network mounts?

[2019-03-22 17:29] owtaylor commented on #2744
If there was a flag to make a symlink that overrode the builtin mounts, then there wouldn't need to be a separate flag to skip the builtin mounts.

[2019-03-22 17:29] mheon commented on #2744
@owtaylor I see `--make-symlink` as something you'd do when making the image, but from your use case, I can see why you'd want to disable mounting `/etc/resolv.conf`. How would adding a sigil to `--dns` work (`--dns=none` to disable)?

Any other files you were looking at here? `/etc/hosts` would also be very easy. We could do `/etc/hostname` as well, but I look at that and wonder if we ever want t

[2019-03-22 17:33] rhatdan commented on #2744
I actually like --dns=none.
Then you could make a generate container tool or something.  That would create a layer on the fly. Linking /etc/resolv.conf to /hosts/etc/resolv.conf

[2019-03-22 17:33] rhatdan commented on #2744
May be a quick meeting to discuss requirements for this.

[2019-03-22 17:35] owtaylor commented on #2744
To be clear, this isn't just convenience - you can't make the symlink in the image currently because the builtin default mounts overwrite it.

The complete set of files we are looking at at the moment is:

 /etc/localtime
 /etc/timezone
 /etc/resolv.conf
 /etc/host.conf
 /etc/hosts

[2019-03-22 17:36] debarshiray commented on #2744
Yes, `--make-symlink` or `--dns=none` during `podman create`, instead of first messing with the image to create the symlinks and then asking `podman create` to skip the built-in mount seems better to me, because then I can offload more work to `podman` instead of cobbling things together in shell. :)

[2019-03-22 17:37] mheon commented on #2744
@owtaylor Of those, we only manage `/etc/resolv.conf` and `/etc/hosts` - the rest are just from the image.

[2019-03-22 19:32] stu-gott opened #2748 "Cannot access forwarded ports remotely (again?)"
This issue might be related to https://github.com/containers/libpod/issues/1119 -- except that it's affecting podman and friends from March 2019.

Versions I'm using:
podman: 1.2.0-dev
containernetworking-plugins: 0.7.5

I noticed I was unable to reach a container (mapping port 443 externally) from other hosts and did some digging. It appears the forwarding rules on my host might be incomplete.

S

[2019-03-23 11:01] kbaegis commented on #2718
[code]

[2019-03-23 18:48] tobwen opened #2750 "internal libpod error: write /proc/self/attr/keycreate: invalid argument"
/kind bug

**Description**

When trying to run a container, an internal libpod error occurs (see last two lines of description).

**Steps to reproduce the issue:**

`podman run --rm --name test alpine`

**Describe the results you received:**

[code]
**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-03-23 18:58] mheon commented on #2750
Error is definitely coming out of `runc` - might be an issue there, but can't be sure yet. Hard to tell exactly what's going wrong, because the error is coming out of a rather large function call in runc.

[2019-03-23 19:01] tobwen commented on #2750
@mheon Can I make `runc` to be more verbose?

[2019-03-23 19:01] ikke-t opened #2751 "podman pod rm -f -> state improper"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman sometimes complains about improper state while removing pod.

**Steps to reproduce the issue:**

1. start pod with play kube

2. remove pod
[code]

**Describe the results you received:**

[code]

yet after while it works:

[code]

**Describe the results you expected:**

I'd expect it t

[2019-03-23 19:07] mheon commented on #2751
Theory: might be the logic in `updateContainerStatus()` (`oci.go` line 487) - it looks strange on initial glance. Will investigate on Monday.

[2019-03-23 19:42] ikke-t opened #2752 "play kube fails while started by systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I'm not sure if this is user ignorance (likely) or an error somewhere. I can't just point where the error is. Perhaps you can. If I start AWX from command line with ```podman play kube  awx.yml``` it works perfectly. But if I put that into systemctl, all containers die in less than two se

[2019-03-23 19:43] ikke-t commented on #2752
Note that normally I do run single containers fine with systemd.

[2019-03-23 19:48] ikke-t commented on #2752
another funny issue here is, that if you change that rabbitmq container anywhere earlier than last, it will die due some hostname problem. But at the end it always succeeds to run.

[2019-03-23 20:01] ikke-t commented on #2752
Damnets, it always helps to explain issue to someone, and then you find out the reason yourself. I solved this by RTFM. Adding this to systemd service file fixes it: RemainAfterExit=yes

[2019-03-23 20:01] #2752 closed

[2019-03-23 21:05] tobwen commented on #2750
Seems like `runc` changed some stuff...

1. Up to now I compiled _runc_ using `make BUILDTAGS="seccomp selinux apparmor" all man`
2. It works when dropping _sellinux_ `make BUILDTAGS="seccomp apparmor" all man`
3. Seems like there are some new guys in town: `make BUILDTAGS="seccomp apparmor ambient nokmem" all`

By default, _runc_ seems to built against `seccomp` only.

[2019-03-24 08:58] Lagrang opened #2753 "podman build failed on WORKDIR instruction"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build` failed on Dockerfile with WORKDIR instruction: `ensuring container path "/usr/local/hbase/bin": mkdir /var/lib/containers/storage/btrfs/subvolumes/8325b8065650778d4abbb211b130511525e668b8b45e0df0f1c3563646c4c674/usr/local/hbase: file exists`

**Steps to reproduce the issue:**

[2019-03-24 09:59] rpjday opened #2754 "Troubleshooting doc, point 10), should create 65536 subuids and subgids, no?"
/kind bug

Setting up podman for first time on Fedora 30 Branched, and discovered I had to manually create subuids and subgids for my account, so I arbitrarily created 10,000 of each, only to have podman tell me I needed 65536 of them. I fixed that, and all worked. So the example in the troubleshooting doc at the very end of point 10), which creates only 1,000 of them, would seem to be doomed to f

[2019-03-24 10:42] rhatdan commented on #2738
@tobwen buildah/podman are using newuidmap and newgidmap commands provided by the shadow-utils package.  These programs search for the username in the /etc/subuild and /etc/subgid files respectively.  When the find an entry for the user they set the usernamespace in the kernel with the range of UID's specified.

[2019-03-24 11:26] tobwen commented on #2738
@rh-atomic-bot But my `/etc/subuild` only has 2 entries. Seems like there's an overlap? I've never modified these files.

[2019-03-24 12:16] rhatdan commented on #2750
THis is a new feature I added to runc this past week.  I will need to look into it.

[2019-03-24 12:17] rhatdan commented on #2750
@tobwen What AVC's are you seeing?

ausearch - m avc -ts recent.

[2019-03-24 12:40] tobwen commented on #2750
@rhatdan `-bash: ausearch: command not found` ...

I'm on _Debian 9_, there's no _SELinux_ or _AppArmor_ by default. I think, _runc_ might fail at detecting this?

[2019-03-24 13:51] baude commented on #2753
please attach a dockerfile that replicates the problem

[2019-03-24 16:18] Lagrang commented on #2753
Please, see this [repo](https://gitlab.com/hutils/containers/tree/09121d3b7f85e6033b7354c903d209cd815d96d3/hbase/2.x).
I find out, that root cause is symlinks: COPY, VOLUME, WORKDIR instructions cannot handle it.

[2019-03-24 19:29] rhatdan commented on #2738
No overlay.
tobwen gets UIDs 100000-165535
powman gets the next 65536 starting at 165536

[2019-03-24 19:41] rhatdan commented on #2750
If you are working on a platform without SELinux support then you should compile without the selinux BUILDTAG.

[2019-03-24 19:42] tobwen commented on #2738
Yes, but the first user created inside the container gets `165635` and when accessing the namespace with _buildah_, this user gets `systemd-timesync`, which is `100` on the host.

[2019-03-24 19:48] rhatdan commented on #2753
Could you check  this out with buildah bud command?

If it fails and it should not, then open an issue on Buildah which will later get vendored into Podman.  If it works on Buildah, then maybe that version has not been vendored into Podman yet.

[2019-03-24 19:50] tobwen commented on #2750
I thought, it would disable the functionality, if it doesn't find SELinux. I will add detection scripts to my build-script in gist.

[2019-03-24 19:53] rhatdan commented on #2738
Please explain exactly what you mean by the first user inside of the container
cat /proc/self/uid_map while in the container,  you should see the mapping.

[2019-03-24 19:54] rhatdan commented on #2750
In libpod we use this script to figure out whether or not to use SELinux.

[code]

[2019-03-24 20:27] tobwen commented on #2738
@rhatdan Please read the initial post, I've explained exactly, what I've done (I've created a new user inside the container, the first new one after root).

Since the container doesn't exist anymore, I cannot rejoin it. So I cannot run `cat /proc/self/uid_map` in there, but the mapping is right in there, of course.

My initial problem was that I cannot remove files, but this works using _unshare_

[2019-03-24 20:30] tobwen commented on #2750
[code]

So it's installed, but not active. Remember, I'm working rootless. Maybe that makes trouble.

[2019-03-24 20:34] mheon commented on #2750
That's Seccomp, not SELinux - different security tech. I know Debian has Seccomp support in their kernels, but SELinux support is almost certainly missing.

[2019-03-24 20:40] tobwen commented on #2750
My god ... I think there was something in my Pizza yesterday. Sorry :(

[2019-03-25 05:26] hainesbg opened #2755 "--dns* flags should be available in build"
/kind feature

**Description**

`podman build` should have `--dns`, `--dns-opt`, and `--dns-search` options just like `podman run` does.

My use case is trying to hit package repos as part of a Dockerfile build while using the `systemd-resolved` stub resolver (127.0.0.53) in my `/etc/resolv.conf`.

It's probably too much to ask at the moment for the better solution of somehow ultimately querying a

[2019-03-25 07:20] Lagrang commented on #2753
https://github.com/containers/buildah/issues/1439

[2019-03-25 07:21] Lagrang commented on #2753
https://github.com/containers/buildah/issues/1439

[2019-03-25 07:44] Edward5hen opened #2756 "[podman-remote] command `images --digests`: DIGEST column shows nothing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman-remote images --digest` does not work well as the title describes.

**Steps to reproduce the issue:**

1. Set up the environment both for podman node and remote node refer to the [tutorial](https://github.com/containers/libpod/blob/master/remote_client.md).

2. On remote node:
`PODMAN_

[2019-03-25 08:52] ypu opened #2757 "Can not open test/registries.conf when run podman parallal"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Currently we run our integration test with --node 3 options and I find out following messages shows up randomly in the test(this is from https://s3.amazonaws.com/aos-ci/ghprb/containers/libpod/7d04d51d5a8bfb8932ea7b6cd5c0d04a56e49cd8.0.1553501412081858531/output.log):

[code]

**Steps to repr

[2019-03-25 09:55] rhatdan commented on #2754
Well we have fixed podman in the upstream to remove the requirement of 65k UIDs.  So when Podman 1.2 ships you should not have this issue.

[2019-03-25 10:08] rpjday commented on #2754
Ah, gotcha. Should have checked the history, would probably have noticed that.

[2019-03-25 10:08] #2754 closed

[2019-03-25 12:15] TomSweeneyRedHat commented on #2753
@Lagrang Thanks for the problem report and for moving it over to Buildah.  We'll take a look.
I'm going to close this issue and will continue working with the one in Buildah: containers/buildah#1439

[2019-03-25 12:15] #2753 closed

[2019-03-25 13:31] baude commented on #2757
i think it is a read-only action ... @ypu what do you think being parallel has to do with it?

[2019-03-25 14:02] chpio commented on #2301
im still getting an error: `Error: error creating named volume ".": error running volume create option: name must match regex [a-zA-Z0-9_-]+: invalid argument`

[code]

[2019-03-25 14:11] mheon commented on #2301
@chpio Working on a fix for this one now, actually

[2019-03-25 14:13] mheon commented on #2301
@chpio Specifically, the issue here is that we're not interpreting `.` and `..` (and paths prefixed by those) as relative paths, but trying to use them as volume names. Using ``` `pwd`:$PATH_IN_CONTAINER ``` for now should work around it.

[2019-03-25 15:21] alcir opened #2759 "avc: denied starting a container"
/kind bug

**Description**

selinux is enabled; please note: using setenforce 0, the container works.

**Steps to reproduce the issue:**
```podman build --tag ubuntu:16.04base -f ./Mydockerfile```

```podman create --hostname ubuntu16workbench --interactive --name ubuntu16workbench --network host --privileged --security-opt label=disable --tty --volume $HOME:$HOME --volume $XDG_RUNTIME_DIR:$XDG_RU

[2019-03-25 18:32] mheon commented on #2673
Given the permissions issues with `conmon` pidfiles from 1.1.x, I'm going to reopen this. We have a fix for new containers, but we need something to prevent regression on older containers.

[2019-03-25 18:40] debarshiray commented on #2759
What does this say:
[code]

I had an user on Fedora 30 complain about something similar and I am trying to figure out if this is the same issue.

[2019-03-25 19:00] mheon commented on #2759
@rhatdan PTAL

[2019-03-25 19:01] alcir commented on #2759
Maybe I'm the same user :smile:

This is the result (with selinux enforcing):

<pre>
INFO[0000] running as rootless
WARN[0000] The configuration is using `runtime_path`, which is deprecated and will be removed in future.  Please use `runtimes` and `runtime`
WARN[0000] If you are using both `runtime_path` and `runtime`, the configuration from `runtime_path` is used
DEBU[0000] Initializing boltdb st

[2019-03-25 20:51] benjumanji opened #2761 "unable to start container with macvlan cni plugin"
/kind bug

Using the macvlan cni plugin results in "unknown network mode" and the plugin is not launched.

**Steps to reproduce the issue:**

1. Define a network using the cni macvlan plugin
[code]
2. Run a container

**Describe the results you received:**
[code]

**Describe the results you expected:**
A running container

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:

[2019-03-25 20:55] mheon commented on #2116
@lsm5 Got one more for you - slirp4netns in the PPA looks to be old (0.2.1), we need a 0.3.0 release to support port forwarding for rootless containers

[2019-03-25 21:00] mheon commented on #2761
The problem here appears to be `--network=default` - it's parsing it as a literal network mode, like `--net=host`. I don't think this is actually specific to the macvlan plugin as such.

We might want to define a separate flag for specifying what CNI networks to join, as opposed to overloading `--net` further than we already have.

[2019-03-25 21:01] benjumanji commented on #2761
Ahh, is there a way to teach podman that it's a cni network I want to connect to?

[2019-03-25 21:06] mheon commented on #2761
@benjumanji Yeah, we definitely support that - I think it might be the naming specifically ("default") that's confusing it. You might want to try renaming it and seeing if that works.

Meanwhile, I'd definitely like to get `--cni-default-network` and `--cni-additional-network` flags added, so we don't have parsing problems like this.

[2019-03-25 21:08] giuseppe commented on #2673
we can add a workaround to fallback to the previous behaviour when we cannot read the conmon pid file.  It is still broken with --user, but it is not a regression since it was already broken in the previous version.

What do you think?

[2019-03-25 21:12] benjumanji commented on #2761
Ah, you are correct. Renaming the network totally solves it. I should have listened to my inner admin "calling your network default is electing the way of pain, call it something else".

[2019-03-25 21:12] benjumanji commented on #2761
I'll leave it to you folk to decide if you'd like to close / rename whatever.

[2019-03-25 21:18] TomSweeneyRedHat commented on #2759
This won't cure the issue, but may give more diagnostics.  Can you do `ausearch -m avc -ts recent` and grab the output?  If you haven't done the create for a while, you may need to redo it then do this just after it fails.

[2019-03-25 21:21] alcir commented on #2759
```sudo ausearch -m avc -ts recent```

returns

[code]

[2019-03-25 22:17] giuseppe commented on #2673
PR for the workaround: https://github.com/containers/libpod/pull/2762

[2019-03-26 02:21] ypu commented on #2757
@baude Yes, this should be a read-only action. So I though this should be a bug. Never get this message when I ran the tests one by one. In the same time in my test machine, test with -node 3 will trigger it easily.

[2019-03-26 03:04] mheon commented on #2757
How do we create registries.conf on the test system - is there a chance we're deleting/recreating it in some tests, causing other tests to try and grab it while it's not there?

[2019-03-26 08:47] alcir commented on #2759
BTW I have the same issue on a fresh Fedora 30 installation.

[code]

[2019-03-26 10:23] Edward5hen opened #2765 "[podman-remote] inspect container: display file size by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman inspect $ctn` displays file size only when `-s` flag is used. But `podman-remote inspect $ctn` shows the total file size no matter with or without flag `-s`.

**Steps to reproduce the issue:**

1. Set up the environment as the [guide](https://github.com/containers/libpod/blob/master/re

[2019-03-26 10:28] rpjday opened #2766 ""SEE ALSO" podman man page references to other man pages seem inconsistent"
Doesn't *seem* like this has been addressed in recent commits, so hoping this is not a silly observation. On my Fedora 30 (branched) system, podman version 1.1.2, at the very end of "man podman", one reads:

[code]

First, the storage man page is available under either of:

[code]
On the other hand, the man page for containers-mounts is available *only* via the listed man page, not the short form

[2019-03-26 11:09] jeka opened #2767 "Podman fails to start container with fixed IP"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have created a container with a fixed IP which is started as systemd service on boot.
[code]
the systemd service file is like following:
[code]

Every now and then this service fails to start on boot. Relevant messages in journal are:
[code]
When such an failure occurs, there is an existing

[2019-03-26 11:10] TomSweeneyRedHat opened #2768 "commands.md runlabel and play updates"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm happy to fix this but need a quick verification.  The 'play' command is not on the
https://github.com/containers/libpod/blob/master/commands.md page and I think should be.  The runlabel command is on there and I think should NOT be as it's moved to 'containers runlabel'.  @mheon or @baude

[2019-03-26 12:16] rhatdan commented on #2759
There was a change to runc that is implementing keyring labeling.  That might be causing this issue.  Are these happening on SELinux disabled systems?

container-selinux-2.91 is being built to allow this.

[2019-03-26 12:20] rhatdan commented on #2766
Could you open a PR to fix this?

[2019-03-26 12:22] alcir commented on #2759
Disabling SELinux, on the same systems, podman start works.

[2019-03-26 12:23] rhatdan commented on #2767
Looks like a CNI issue?

[2019-03-26 12:45] opuk opened #2770 "provide conmon documentation"
**Description**

Currently this is very little to none documentation available on conmon and what it actually does.

There are some vague statements at https://cri-o.io/ for example, such as "Each container is monitored by a separate conmon process. The conmon process holds the pty of the PID1 of the container process. It handles logging for the container and records the exit code for the containe

[2019-03-26 12:45] baude commented on #2767
@mheon should the IP information be stored in dirs that are recycled during a reboot ?

[2019-03-26 12:53] baude commented on #2768
You are correct.

[2019-03-26 12:56] TomSweeneyRedHat commented on #2768
Thanks @baude, I'll go spin up a PR

[2019-03-26 13:02] jeka commented on #2767
I don't have much experience in the matter, but I think the problem runs a little bit deeper.
I would expect after creating a container with fixed IP (podman create --ip x.x.x.x) this same IP to be not available for any other container. And according to my observation (actually most probably I am wrong), this would include creating a relevant file in  /var/lib/cni/networks/$netname/$fixed-ip. And

[2019-03-26 13:29] mheon commented on #2767
@baude I don't think we have any say in the matter, given that CNI manages this.

@jeka We're limited here by what the CNI plugins offer us. Those files are an internal implementation detail and we have no guarantee from CNI that they will continue to work, and in the same way. At present, they do not offer IP reservation for static IPs as part of their API; any changes related to that would have

[2019-03-26 13:40] mheon commented on #2770
We haven't added much documentation on Conmon because we treat it purely as an implementation detail; no one should be using Conmon except for Podman and CRI-O, and we don't even put it in the system's default $PATH as such.

In brief, Conmon is an extremely small C program with almost no memory footprint that wraps the OCI runtime (usually `runc`) that runs the actual container. Upon being launch

[2019-03-26 13:42] mheon commented on #2770
A further note: "can conmon take any action if it detects some error with the container?"

No. Conmon is extremely minimal, and doesn't have the logic to detect or handle errors. If we wanted to add such logic, we'd do it in Podman and CRI-O, to keep Conmon simple and its memory footprint minimal.

[2019-03-26 13:55] jeka commented on #2767
@mheon OK, I got it.

I guess for fixed IP reservation I must use 'static' type of ipam.

[2019-03-26 14:10] mheon commented on #2767
There was some talk upstream about formalizing the way that static IPs were handled - right now we're sidestepping the CNI API by passing environment variables requesting the IP in, and they were discussing moving this to the actual API. Might be a good time to request any other changes related to static IPs like this one.

[2019-03-26 14:20] rpjday commented on #2766
I'd be happy to submit a patch to resolve this, I'm just not sure how one wants it resolved.

[2019-03-26 16:21] jeka commented on #2767
@mheon Thanks for the clarification. Can you please, point me at the right location for this talk?

As is turned out 'static' IPAM module is not officially released yet, so as @baude suggested I configured 'host-local' to use tmpfs for dataDir. This at least solves the problem on boot without crude 'rm -f' hack.

[2019-03-26 16:55] #2765 closed

[2019-03-26 21:43] phlogistonjohn opened #2775 "podman pull does not suspend properly (ctrl-z)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempting to suspend `podman pull`, using ctrl-z in a shell, does not suspend all processes and leaves the command in a "stuck" state.

**Steps to reproduce the issue:**

1. `podman pull -q foo/bar:baz`

2. CTRL-Z

3. Shell is non-respnsive. CTRL-C, etc do nothing

**Describe the results you

[2019-03-26 21:59] mheon commented on #2775
Happens exclusively as rootless. Probably something to do with the rootless user namespace. @giuseppe any ideas here?

[2019-03-26 22:01] mheon commented on #2761
I'm going to close this, given that it's mostly resolved, but I'll open a separate issue for dedicated CNI network flags

[2019-03-26 22:01] #2761 closed

[2019-03-26 22:17] giuseppe commented on #2775
This probably happens as we have two processes and we don't propagate signals.

[2019-03-26 22:19] mheon commented on #2775
We can't really catch and forward SIGSTOP anyways - uncatchable by design. I don't really know what we can do here, then.

[2019-03-26 22:35] mheon commented on #2677
Closing as #2679 is merged

[2019-03-26 22:35] #2677 closed

[2019-03-26 22:35] mheon commented on #2692
I believe we merged a docs update from @rhatdan about this

[2019-03-26 22:35] #2692 closed

[2019-03-26 22:36] mheon commented on #2755
Once Buildah adds these we can revendor to pick them up

[2019-03-26 22:37] giuseppe commented on #2775
Once we land the rootless refactoring, I'd like to redesign the re-exec in a way of not having two processes

[2019-03-26 23:23] alatiera commented on #2759
nah, that was me! Hi everybody :)

I just wanted to confirm that I also have SELinux set to enforcing, haven't touched any policies since I installed Fedora 30. The behavior and errors I hit seem to be identical to the ones pasted above. If there any more information I can provide, I would be happy to do so.

[code]

[2019-03-27 05:23] ypu commented on #2757
@mheon Thanks for reminding. Checked the code, the registries.conf path should be "INTEGRATION_ROOT/test/registries.conf" but the error message is tried to read "test/registries.conf". So this should be a bug in the test framework but not podman.

[2019-03-27 10:15] rhatdan commented on #2770
@mheon What you wrote above should probably be added to the conmon readme. :^)

[2019-03-27 10:20] rhatdan commented on #2766
Fixing registries.conf versus containers-registries.conf would need to be fixed in skopeo.  I think the long form in general is correct, since there is a chance that storage.conf.5 and mounts.conf.5 could have a conflicting name in the distro.

But for now lets change it to registries.conf so the user would actually find the man page.

[2019-03-27 10:24] vrothberg commented on #2770
I agree. I asked @opuk on IRC to open the issue here.

Although conmon does not do much, the more curious users (and devs) are currently having a hard time finding out what conmon does. For some, it might seem suspicious that some additional but undocumented binary is installed.

[2019-03-27 11:17] rpjday commented on #2766
OK, I'll send up a patch for that. Interestingly, in a discussion on the Fedora ML, I learned (apparently) that "man storage.conf" still leads one to the "containers-storage" man page simply because "storage.conf" is in the TH line of the gzipped man page. I was unaware it worked like that.

[2019-03-27 11:44] rhatdan commented on #2770
We should also create a man page for it.

[2019-03-27 13:01] TomSweeneyRedHat commented on #2755
Created https://github.com/containers/buildah/issues/1449 to track there.

[2019-03-27 13:29] cevich commented on #2649
Closing, but will refer back to this issue in lieu of related "I told you so" opotrunities :grin:

[2019-03-27 13:29] #2649 closed

[2019-03-27 13:45] #2630 closed

[2019-03-27 14:07] r-cheologist opened #2778 "Uninformative `slirp4netns` ERROR when portmapping"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running unprivileged (rootless) container on `ArchLinux` (using `dnsmasq` and `shorewall`) gives uninformative `ERRO[0006] slirp4netns failed`. Same operation as `root` works.

**Steps to reproduce the issue:**

1. Install `podman`.

2. Pull `alpine`: `podman pull alpine`

3. Run container wh

[2019-03-27 14:10] mheon commented on #2778
You probably have a too-early `slirp4netns` - can you grab a `slirp4netns --version` and check if it's under 0.3.0?

[2019-03-27 14:13] r-cheologist commented on #2778
Wow, that was fast.
`slirp4netns --version`

    slirp4netns version 0.2.1
    commit: 1797e46728440e93f9229d5a34874befe00b4cab

Indeed. Need to check how to get that running in `ArchLinux`. No other way out?

[2019-03-27 14:16] mheon commented on #2778
Yeah, you need a 0.3.0 or later release to have port-forwarding support. The project lives at https://github.com/rootless-containers/slirp4netns and should be easy enough to build/install, though you might want to ping the package maintainers for Arch (assuming that you're using the official packages) and ask them to update.

[2019-03-27 14:19] r-cheologist commented on #2778
Ok. Just browsed by the `github` repo and saw this: `Latest stable release: v0.2.X`. Likely will make it hard to convince the maintainer(s) of the `Arch` package to switch. I'll try anyway. Many thanks for the amazingly fast reaction - was banging my head against the wall for days before bringing this triviality here - the error really could be more informative.

[2019-03-27 14:22] mheon commented on #2778
That might actually not be accurate anymore - @giuseppe can you confirm that Slirp 0.3.0 is what we'd consider stable?

(I suspect that we forgot to update the readme for the new slirp release)

[2019-03-27 14:26] cevich commented on #2733
@mheon Okay I'm with you now, having run the commands manually.  I agree your second theory seems more probable.  [I used a ``defer()`` to produce the output above](https://github.com/containers/libpod/pull/2737/files#diff-763d32052d18ee5114bb2af368392a2bR109).  So I think that means there really were two pods still existing after the 'rm -a' happened (at least briefly).

Can you confirm that the

[2019-03-27 14:27] r-cheologist commented on #2778
Oh - that would be wonderful.

[2019-03-27 14:28] mheon commented on #2733
I don't think that should be possible... Part of `rm` that always happens before return is wiping the pod(s) in question from the database, so we should never see them again.

[2019-03-27 14:28] r-cheologist commented on #2778
... but [the tags](https://github.com/rootless-containers/slirp4netns/releases) imply pre-release state ...

[2019-03-27 14:31] giuseppe commented on #2778
yes, slirp 0.3 is what we need and consider it stable

[2019-03-27 14:33] r-cheologist commented on #2778
Can you please initiate an appropriate `git` tag/release and edit in the `README.md`?

[2019-03-27 14:45] r-cheologist commented on #2778
See https://github.com/rootless-containers/slirp4netns/issues/81

[2019-03-27 15:06] debarshiray commented on #2673
Makes sense to me!

[2019-03-27 15:24] rpjday commented on #2766
Since this has been clearly subsumed by my subsequent pull request , I'll close this.

[2019-03-27 15:24] #2766 closed

[2019-03-27 15:37] #2673 closed

[2019-03-27 16:12] edsantiago opened #2780 "podman pod top: incomplete output"
I know this topic has been discussed to exhaustion. I still believe there is a problem that needs addressing: `pod top` is sometimes producing incomplete output on  low-cpu systems.
[code]
Consistently seen and tested up to master @ c600014643fec02b5d48f092b90cc8a511c74eff

Downloadable test script (same as above): [pod-top.sh](https://github.com/containers/libpod/files/3014214/pod-top.sh.txt)

[2019-03-27 16:24] mheon commented on #2780
@baude We never parallelized top, right?

[2019-03-27 19:00] cevich commented on #2733
@mheon dang, well, it's def. happening or my eyeballs are lying to me.  I'll double-check, but I'm pretty sure the `defer()` I added ran a `podman pod ps -a` AFTER the test failed (count 2)...

[2019-03-27 19:07] cevich commented on #2733
...Yep, sure'nuff, from [the run with the `defer(podman pod ps -a)` the failure came from line 126](https://cirrus-ci.com/task/5760077825835008) (the final check).  Here's the full output of the test:

[code]

There was def. a "created" pod and a "running" pod :frowning_face:

I'll attempt to add a retry/timeout loop...

[2019-03-27 19:08] mheon commented on #2733
So we still have 2 pods here, after `rm` finished. Alright, that's properly wierd.

[2019-03-27 19:14] cevich commented on #2733
@mheon yeah, and I'm assuming this test owns both of them. i.e. we're NOT seeing a pod from another, parallel test, or a leftover from prior test.  I'm also assuming my understanding of the output is correct (i.e. it may not be) :grin:

[2019-03-27 19:14] mheon commented on #2733
It looks like they're the same pods the test is trying to remove, so that sounds accurate

[2019-03-27 20:32] rpjday opened #2783 "Ambiguity and omissions in podman-related *.conf files"
System: Fedora 30 branched, fully updated.

Currently pawing through all of the *.conf files listed toward the end of "man podman", and there appears to be some ambiguity, as well as some missing file references.

First, I strongly recommend distinguishing between whether config files are overridden/superseded, versus whether they are added/augmented. Consider this line toward the bottom of "man p

[2019-03-27 21:04] rpjday commented on #2783
Same issue relates to "mounts.conf" ... "man podman" reads:

[code]
suggesting that *all* of the mounts.conf files contribute to the mount points.

But "man containers-mounts.conf" states:

[code]

That does not leave the same impression -- it is not clear from that
wording whether  `/etc/containers/mounts.conf` replaces or augments
what is in `/usr/share/containers/mounts.conf`, and also makes no

[2019-03-27 22:22] cevich opened #2785 "podman exit(0) on pull failure"
/kind bug

**Description**

I have a script that tries to run ``podman pull docker://some/ting:new`` and if it fails, runs a podman build then push for the image.  The podman pull does fail, but always exits 0 (signaling success).

**Steps to reproduce the issue:**

1. ``$ podman pull docker://quay.io/foo/bar:baz``
2.  ``$ echo "Exit: $?"``

**Describe the results you received:**

[code]

**Descri

[2019-03-28 09:15] alcir commented on #2759
Follow up.

On Fedora 29 I updated to container-selinux-2:2.91-1.gitacc6941.fc29.noarch and now podman **works**.

On Fedora 30 there is still container-selinux-2.90-1.git619db17.fc30.noarch and it doesn't work.

[2019-03-28 10:05] kdubois opened #2788 "Running podman rootless gives ERRO[0000] cannot setup namespace using newuidmap: exit status 1"
/kind bug

Hi, I just installed Podman on Fedora 29 but running anything rootless gives me the error:

eg.
[code]

I made sure my username is in /etc/subuid and /etc/subgid:

[code]
[code]

Running podman as root works fine:
[code]

**Steps to reproduce the issue:**

1. sudo dnf install podman

2. podman info

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

*

[2019-03-28 11:20] rhatdan commented on #2785
Podman pull needs a full rewrite similar to what we did for buildah pull.

[2019-03-28 11:23] TomSweeneyRedHat commented on #2785
I believe this it the PR with the PULL changes that @rhatdan is referring to: https://github.com/containers/buildah/pull/1319

[2019-03-28 11:33] chpio opened #2790 "Map container user to a "real" user"
/kind feature

Hello,

i would like to map a container user to a "real" user. It would make the development process a lot easier. Im mounting local code directory into a container, then edit the code on the native side. It would be really nice, if the container user would be mapped to the native user. This would allow normal access on both sides, the container and the native side.

i have tried to

[2019-03-28 11:46] vrothberg commented on #2790
Hi @chpio,

thanks for opening the issue.

This should work already. If you are running on an selinux-enabled system you need to add the `Z` option to the volume/mount, e.g.
[code]

I am using Matrix as well. The #podman channel requires users to be registered on Freenode. Can you check if your user is registered an retry?

[2019-03-28 11:52] rpjday commented on #2783
"man containers-storage.conf" should have a "FILES" section, to be consistent with the other related man pages.

[2019-03-28 12:28] rhatdan commented on #2759
Lease update the karma on f29.

https://bodhi.fedoraproject.org/updates/FEDORA-2019-32784d7fc6

[2019-03-28 12:39] rhatdan commented on #2788
Does buildah unshare work?
rpm -qV shadow-utils
Did you setup your homedir as noexec?

[2019-03-28 12:47] h-vetinari commented on #2250
Pleasantly surprised to see that [`install.md`](https://github.com/containers/libpod/blob/master/install.md#ubuntu) now has a ppa for ubuntu. Bit surprised that the installed version is `1.2-dev` (as opposed to last stable), but that's good for filing bugs at least. ;-)

This should however still be updated in [`docs/tutorials/podman_tutorial.md`](https://github.com/containers/libpod/blob/master/d

[2019-03-28 12:59] lsm5 commented on #2250
On Thu, Mar 28, 2019 at 05:48:02AM -0700, h-vetinari wrote:

1.2-dev because master branch is built nightly via Travis.
Snap packages are planned, but that might take a while.

Never on EPEL, unless you mean CentOS Extras or Virt SIG?
Virt SIG I'll update soon, though CentOS Extras might take a while.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-28 13:06] h-vetinari commented on #2250
@lsm5 Thanks for taking the time to answer

OK, cool

Sorry if the naming was wrong, I meant RHEL 7.6 [extras](https://access.redhat.com/solutions/3418891). Point being, when can I install something newer than podman 0.11.1 on a RHEL 7.6 machine?

[2019-03-28 13:14] lsm5 commented on #2250
On Thu, Mar 28, 2019 at 06:06:43AM -0700, h-vetinari wrote:

Looks like 0.12.1.2 was shipped about 2 months ago. Aren't you seeing that one?
Something newer than that will take a few weeks more I guess.
--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-03-28 13:36] saschagrunert opened #2791 "[Discussion] podman and cri-o shared codebase"
Hey :wave:, I heard of the plan of integrating libpod into cri-o and want to support that. So I started digging through the libpods' sources and am now wondering where to start and especially **how**. Both projects seem to have a common foundation of functionality but have diverged over time.

One example would be comparing both files [cri-o/pkg/storage/runtime.go](https://github.com/kubernetes-si

[2019-03-28 13:46] mheon commented on #2791
For your first example - it's curious that you mention storage.go, because we originally sourced that from CRI-O (with a few changes). I also wouldn't compare it to image.go - our image code lives in `libpod/libpod/image`, so I think it's most similar to some of what we're doing with `image.Image`.

The current plan is to mostly supercede CRI-O's `lib` package, replacing it with `libpod`. The comp

[2019-03-28 13:49] alatiera commented on #2759
Same here on F30. The update to `container-selinux-2.91-1.gitacc6941.fc30.noarch` made podman work.

[2019-03-28 13:52] saschagrunert commented on #2791
My fault, I meant runtime.go. Fixed it within my initial comment.

[2019-03-28 14:44] kdubois commented on #2788
It looks like just restarting my session did the trick :sweat_smile:

[2019-03-28 14:44] #2788 closed

[2019-03-28 15:07] cevich commented on #2733
@mheon [Eww, a retry-loop doesn't fix this either](https://cirrus-ci.com/task/4834354567053312) - also the ginkgo test fails...but somehow gets marked as a pass??? (ignoring this for now).  Remember: This is the rootless test (running this as root works fine).  What other data can I grab that would be helpful debugging this?

Maybe @giuseppe do you have any ideas here, how a user's ``podman pod rm

[2019-03-28 15:36] baude opened #2792 "libpod attach discards stderr"
All of the "outbound" data is being thrown at stdout and is stderr is being ignored.

[2019-03-28 15:37] mheon commented on #2792
Easy reproducer:
`podman run -t -i --rm fedora ls -l /doesnotexist 2> /dev/null`

That should not output anything - `ls` on a nonexistent file outputs to STDERR.
Instead, we throw it out to STDOUT, and so output is printed.

Could be libpod code, could be Conmon.

[2019-03-28 19:28] haircommander commented on #2792
The issue is attaching a terminal. runc doesn't allow multiple fd's to be passed with a console_socket [0], so conmon just combines the two sockets to stdout. No fix here, unfortunately.

https://github.com/opencontainers/runc/blob/master/docs/terminals.md#new-terminal

[2019-03-28 19:28] #2792 closed

[2019-03-28 19:45] maxamillion opened #2794 "installing from ubuntu ppa on debian 9 (stretch) results in failing slirp4netns"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the Ubuntu PPA repo to install on a debian 9 (stretch) machine, containers are unable to run due to `slirp4netns` error.

[code]

**Steps to reproduce the issue:**

[code]
**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional informati

[2019-03-28 19:48] mheon commented on #2794
@giuseppe PTAL

[2019-03-28 20:23] giuseppe commented on #2794
It is an issue with slirp4netns being too old.  We started using some new features that make it more secure (such as no access to 127.0.0.1 on the host), and we need an updated package for that (or an older podman).

[2019-03-28 20:30] cevich commented on #2733
OOOOOHHH! [I see how the test is passing](https://cirrus-ci.com/task/5911203162357760):

[code]

Ginkgo is retrying it, so maybe something about the setup or cleanup is causing the problem then fixing it?

[2019-03-28 20:53] mheon commented on #2794
@lsm5 Looks like we need a PPA update to slirp then

[2019-03-28 21:24] tkrypton commented on #2356
I ran into this issue and wasted a couple of hours, so I would appreciate an update to the tutorial. To me it looked like an error.

[2019-03-28 21:26] mccv1r0 opened #2795 "podman doesn't add CNI interface specified via --network to container"
/kind bug

podman does not add a CNI interface when one (or more) is specified via ```--network="netname"```

Running a container without supplying ```--network``` on the command line works.   When explicitly supplying CNI network to use (or needing to supply more than one) no interface is added to the container.

**Steps to reproduce the issue:**

1. ```sudo podman run --network="podman" image```

[2019-03-28 23:40] #2759 closed

[2019-03-28 23:51] #2756 closed

[2019-03-29 07:18] r-cheologist commented on #2778
There's a proper 0.3 release now that has already percolated into the ArchLinux repos and I can now start the container - in principle this could be closed.

[2019-03-29 08:24] #2778 closed

[2019-03-29 10:27] AkihiroSuda commented on #2794
Can podman print (a couple of last lines of) stderr here?

[2019-03-29 10:38] giuseppe commented on #2794
that would be helpful but the difficulty is that we don't attach to the slirp4netns stdout/stderr.  The slirp4netns process is left running while podman exits.

[2019-03-29 11:05] adelton opened #2798 "podman failing in Travis CI again, now with write /proc/self/attr/keycreate: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempt to run `podman build` on Travis CI's Ubuntu Xenial fails with

[code]

**Steps to reproduce the issue:**

1. In `.travis.yml`, install podman using `sudo add-apt-repository -y ppa:projectatomic/ppa && sudo apt-get update -y && sudo apt-get install -y podman`
2. Run `sudo podman build`

[2019-03-29 11:21] rhatdan commented on #2798
The updated runc package is causing this problem.

[2019-03-29 11:26] #2795 closed

[2019-03-29 11:49] adelton commented on #2116
Dan suggests that the runc update causes https://github.com/containers/libpod/issues/2798.

[2019-03-29 12:04] rhatdan commented on #2792
@giuseppe Is this something crun would allow?

[2019-03-29 12:16] rhatdan commented on #2356
@TomSweeneyRedHat Could you take care of this,  or even better @tkrypton Could you open a PR to change the tutorial to state what you would have liked to have seen?

[2019-03-29 12:20] giuseppe commented on #2792
I'll take a look if there is anything I can do, but I doubt it.  There is just fd we read from, and that doesn't know where the container process is writing to, both stdout and stderr go to the terminal.

[2019-03-29 12:40] rhatdan commented on #2116
Of course the real issue here is I don't really understand what is going on. and I don't have a Ubuntu to test with right now.

[2019-03-29 16:50] cevich commented on #2733
@mheon @baude Okay, [adding this line at the beginning of the test](https://github.com/containers/libpod/pull/2737/files#diff-763d32052d18ee5114bb2af368392a2bR100) appears to help.  I need to do a few more re-runs to be sure though.  So, to recap this seems to be the behavior:

1. As root, all tests pass normally.
2. As a user, [this line ***SOMETIMES*** fails.](https://github.com/containers/libpo

[2019-03-29 17:49] cevich commented on #2733
**update:** Ugg, nope, step 7 doesn't affect behavior.  It just failed on the first run w/ ``CleanupPod()`` at the start.  So it's still demonstrating Step 3 (above) randomly :confounded:

[2019-03-29 17:52] cevich commented on #2733
@mheon is there any way I can instrument the test to give us more info on what's happening?  e.g. if the test detects this condition, how can I confirm the database matches reality (the removed pod exists or doesn't).?

[2019-03-29 17:57] mheon commented on #2733
@cevich I think you might want to try debug logging on `podman pod rm -a` first - see if it actually sees the pods and tries to remove them

[2019-03-29 20:43] garyedwards commented on #2171
Hi, another variable to substitute would be `$DISPLAY`.  I get the same behaviour described above:

    sudo podman inspect localhost/ros:xenial-kinetic-testing | grep RUN
    "RUN": "podman run --rm --interactive --network host --tty --env DISPLAY=$DISPLAY IMAGE"
    sudo podman container runlabel run --display ros:xenial-kinetic-testing
    Command: /proc/self/exe run --rm --interactive --networ

[2019-03-30 13:28] rpjday opened #2805 "Two dangling man page references in "podman" package"
Apologies for even more pedantry ...

First, "man 1 podman" refers to "crio(8)", of which there is none that I can see -- who is supposed to provide that?

Second, "man 5 oci-hooks" similarly refers to "oci-umount(1)", which I also cannot see.

[2019-03-30 13:33] rpjday commented on #2805
Ah, I see that "oci-umount(1)" would be provided by the oci-umount package, described as "OCI umount hook for docker". But if I have no Docker-related packages installed, would I need such a package?

[2019-03-30 14:59] rpjday commented on #2805
Regarding "crio(8)", I see a number of references in libpod source:

[code]
but there is no man page. Also, I'm reading a cri-o article here, https://cri-o.io/, that claims one can install the cri-o package on Fedora 28, 29 and Rawhide. I see no such package on my F30 branched system. Am I just looking in the wrong place?

[2019-03-30 15:16] pcguy85 opened #2806 "Wrong option names in sample libpod.conf and manpage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Setting a value for pause_command or pause_image in libpod.conf as described in docs/libpod.conf (and manpage) has no effect. Looking at the source the names should be infra_command and infra_image respectively.

**Steps to reproduce the issue:**

1. Set custom pause_image = "localhost/pause:

[2019-03-30 15:36] mheon commented on #2805
All references to oci-umount-hook should probably be purged. It's not strictly Docker specific (it's a generic OCI hook that should work with all OCI-compliant runtimes), but we're not using it with Podman.

[2019-03-30 15:45] rpjday commented on #2805
OK, I can do that and submit a PR if it's really just a straight text deletion of all references to that.

[2019-03-30 15:58] pcguy85 opened #2808 "Ability to customize network namespace of pods"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman commands `create` and `run` provide options to customize the container's network namespace (`--net`, `--ip`, etc.). However the podman `pod create` command doesn't have any similar options. To my (still limited) podman knowledge the pod's network namespace configuration needs to be

[2019-03-30 16:43] cevich opened #2809 "--env looses embedded newlines"
/kind bug

**Description**

I want to pass an RSA key into a container via an environment variable.

**Steps to reproduce the issue:**

1. ``$ openssl genrsa -out key.txt 512``

2. ``$ KEY="$(cat key.txt)"``

3. ``$ sudo podman run -it --rm -e "KEY=$KEY" fedora bash``

**Describe the results you received:**

[code]

**Describe the results you expected:**
[code]

**Additional information you deem i

[2019-03-30 16:57] cevich opened #2810 "Error: invalid argument for "-e, --env" flag: parse error on line X, column Y: bare " in non-quoted-field"
/kind bug

**Description**

Attempting to pass env. vars. containing quotes through ``--env`` returns error.

**Steps to reproduce the issue:**

1. ``$ BAD="=\"A='B=\"C='D=E=F=G"``
2.  ``$ echo $BAD``
3. ``$ echo "$BAD"``
2. ``$ sudo podman run -it --rm -e "BAD=$BAD" fedora bash``

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional informat

[2019-03-30 17:02] mheon commented on #2810
This one ought to be fixed on master

[2019-03-30 17:19] rpjday opened #2811 ""podman build": If you put tag option after context, no REPO or TAG is assigned"
Yes, I realize my fingers got ahead of me when I used this Dockerfile:
[code]
and built an image using "podman build" but accidentally put the "--tag" option after the context:

`$ podman build . --tag rdayp`

it showed up under "podman images" with no repo or tag values (top line):
[code]
There was no diagnostic printed, it just did the build, claimed success and gave me "none" in both the REPOSI

[2019-03-30 17:22] mheon commented on #2811
Is this 1.1.2? I believe we've fixed this on master

[2019-03-30 17:23] TomSweeneyRedHat commented on #2811
Definitely should be giving you a syntax error, like @mheon noted, thought this was fixed already.

[2019-03-30 17:24] rpjday commented on #2811
Crap, sorry, yes, it's 1.1.2. Will close if it's been fixed. Will also make more of an effort to check the master branch for stuff like this.

[2019-03-30 17:24] #2811 closed

[2019-03-30 21:55] rpjday opened #2813 "Does podman-container-rm not work (according to man page)?"
I just noticed this in "man podman-container-rm":
[code]
I can see the Go file cmd/podman/volume_rm.go, which superficlally looks like it does that operation. Is the man page out of date? I can fix if so.

[2019-03-30 22:11] mheon commented on #2813
Yeah, that functionality is working now

[2019-03-30 22:27] rpjday commented on #2813
OK, I'll push a PR that removes that qualifier. Coming shortly.

[2019-03-30 22:27] #2813 closed

[2019-03-31 08:20] rpjday opened #2815 "Pedantic nitpickery regarding proper man page markdown formatting"
Been going through the podman man pages, and a couple questions about proper markdown formatting (not being an expert at markdown).

First, commonly, one sees a pair of options rendered in bold thusly:

`**--help, -h**`

However, would it not make more sense to not bold the intervening comma and render that as:

`**--help**, **-h**`

I've definitely seen that second variant and it makes more logic

[2019-03-31 11:43] jcberthon commented on #2778
I am currently trying to write a tutorial on how to deploy certain network services easily using containers. The platform for the basis is Ubuntu 18.04 LTS. I wanted to try first Docker using the Snap packages but it is not mature enough, so it makes for over complicated setup and I miss the goal of "teaching how to deploy network services".

So I went to Podman. Installation was a bliss and the `

[2019-03-31 13:01] rhatdan commented on #2809
I just tried with just -e KEY
sudo podman run -it --rm -e KEY
And this seems to work.
I think this could be shell removing the new lines.

[2019-03-31 13:20] rhatdan commented on #2809
Seems to be working in master

 ./bin/podman run -ti -e dan1="${dan}" alpine sh
/ # echo "$dan1"
Dan
Walsh
/ # exit

[2019-03-31 13:38] tkrypton commented on #2356
Added pull request #2817 which should fix the issue.

[2019-03-31 15:15] rhatdan commented on #2806
@mheon Looks like we need to change the internal name to pause_command and pause_image.

[2019-03-31 15:23] rhatdan commented on #2815
The only difference between **--help, -h**  and **--help**, **-h** is the "," will be boded in the first and not in the second.  I think using the first throughout is preferable.

**podman container exists** [*-h*|*--help*] *container*
Should be
**podman container exists** [-h|--help] container

The extra "*" make no sense.

[2019-03-31 15:46] rpjday commented on #2815
OK, so based on my example, your preferred way of writing it would be:
[code]
that is, two asterisks around the command, single asterisks around the subsequent things?

[2019-03-31 15:47] rpjday commented on #2815
Oh, and just to be pedantic, my normal preferred way to render that comma would have it *not* bolded, but that requires a bunch more asterisks and it's not worth it.

[2019-04-01 07:22] r-cheologist commented on #2778
I cannot help with the `slirp4netns` situation on Ubuntu/Debian, likely at the root of the problem described, BUT I would heartily like to support the proposal that a tutorial be made available that dissects and explains `podman`'s networking. After having the correct `slirp4netns` version in my `ArchLinux` install, I get my containers to build and run, but how to get access to them from the base

[2019-04-01 14:13] h-vetinari opened #2821 "BUG: loading multiple images corrupts tags of existing ones"
[Now that I have access to the nightly ppa's (cf. containers/libpod#2250), here's some more things I found]

Sometimes it's necessary to transfer images in bulk (say, to an environment that has restricted internet access). Docker supports saving/loading multiple images, and nominally, podman does too. Loading multiple images saved by docker fails (xref #2822), while loading multiple images saved b

[2019-04-01 14:16] h-vetinari opened #2822 "BUG: loading multiple images saved by docker fails"
[Now that I have access to the nightly ppa's (cf. containers/libpod#2250), here's some more things I found. Companion to #2821]

Sometimes it's necessary to transfer images in bulk (say, to an environment that has restricted internet access). Loading images with podman saved by docker works for single images, but not if there's several (however, loading of several images saved by podman does not w

[2019-04-01 14:27] haircommander commented on #2822
this is a duplicate of https://github.com/containers/libpod/issues/2669 :) I will escalate the fix for this, it's going to require some structural changes, so it may take a little to land unfortunately

[2019-04-01 14:30] cevich commented on #2733
@mheon dangit...shoulda seen this coming:  Adding debug seems to prevent the race:   As many races are...timing-dependent :face_with_head_bandage:    So, we'll have to do this somewhat blind, but maybe not completely.  The condition does seem to persist once it occurs.  I s'pose we don't yet know if this is a problem with the `rm` or with the `podman pod ps`.  Let me try just removing the `--log-l

[2019-04-01 14:32] h-vetinari commented on #2822
@haircommander
Sorry for not seeing this before - when I last looked (before I got access to the nightlies), it wasn't there yet. Closing this as duplicate.

Note this also plays into #2821, but I'd suggest to leave that open since the spurious retagging is IMO different from the failure to save several images (actually, the log wrongly suggests that it works - at first glance at least).

[2019-04-01 14:32] #2822 closed

[2019-04-01 14:41] haircommander commented on #2822
They're two issues from the same root problem, and both would be fixed at the same time, but we can leave it open so other people who encounter it can see it's already a known problem. Thanks for the issues @h-vetinari !

[2019-04-01 14:46] cevich commented on #2809
Tested with alpine, but the issue still reproduces for me.  Also tested with embedding the quote within the -e argument ``so -e KEY="$KEY"`` vs ``-e "KEY=$KEY"``.  Still seems to be a problem.  Perhaps what was fixed in #2810 also resolves this?  Will wait for new fedora builds and confirm...

[2019-04-01 14:49] mheon commented on #2809
Yeah, I'd try reproducing on 1.2.0 builds

[2019-04-01 14:52] h-vetinari commented on #2821
@haircommander
In view of [your comment](https://github.com/containers/libpod/issues/2822#issuecomment-478607766), and before containers/image#610 is fixed, this should IMO at least error loudly, rather than corrupt existing tags.

[2019-04-01 14:55] cevich commented on #2810
Confirmed: Fixed in 1.2.0

[2019-04-01 14:55] #2810 closed

[2019-04-01 14:57] cevich commented on #2809
Confirmed: This is fixed in 1.2.0.

@mheon Is this something worth adding a regression test for, or is the fix more "permanent"?

[2019-04-01 14:57] #2809 closed

[2019-04-01 14:59] mheon commented on #2809
I think this was a one-time thing (I don't see us migrating changing CLI libraries again any time soon!) but I will never say no to more regression tests

[2019-04-01 15:30] cevich commented on #2733
[Confirmed in this run](https://cirrus-ci.com/task/4921309183082496) the problem reproduces without the debug on the ``podman pod rm -a``  and with it on the ``podman pod ps``.  @mheon I don't see anything incriminating in the output from the two failed run (a flake re-run was successful).

Since debugging the rm masks the problem, is there some easy-ish way to verify the directory structure and/o

[2019-04-01 15:40] mheon commented on #2733
If it still shows up in `ps` and `rm` did not error I think it's safe to assume that `rm` never fired on the pod in question - if we had DB issues subsequent commands would be blowing up.

[2019-04-01 15:41] mheon commented on #2733
If we throw a, say, 1 second sleep before the `rm -a`, does it resolve the race? I'm thinking we have some sort of race where `rm` doesn't see the pods and doesn't try to remove them

[2019-04-01 15:50] cevich commented on #2733
Ahh yes, we can see that in the logs:

[code]

It does NOT show the expected normal `Error: pod 783ea2e51f5da239b65201d5aacf0bf29bb6a29bcc486f804438c3fcde067554 contains containers and cannot be removed: container already exists`

In fact, that's something the test can look for (also).  Thanks @mheon I'll try adding the delay.

[2019-04-01 17:02] edsantiago opened #2823 "Regression: 1.2.0: 'build -t' tags even on error"
[code]
So far so good, but:
[code]
(expected: an unnamed `<none>` image, not a named tag)

Only happens with multiple layers; does not fail with simple `FROM alpine\nRUN false`.

podman-1.2.0-2.git3bd528e.fc29.x86_64

[2019-04-01 17:02] mheon commented on #2823
@TomSweeneyRedHat looks like a buildah issue

[2019-04-01 17:03] mheon commented on #2823
@rhatdan We want to hold 1.2.0 until we can cut a 1.2.1 with this?

[2019-04-01 17:10] cevich commented on #2809
@mheon Ahh okay, ya, probably won't ever see it again then.  Probably not worth my time to add it, will leave adding it as as an exercise for someone less involved with other items :smile:   Thx for your opinion.

[2019-04-01 17:38] edsantiago opened #2824 "Regression: 1.2.0: 'ps --size' crashes"
[code]
nonroot only, and only if there's at least one container (not necessarily running). Does not fail after `podman rm -a`.

Baffling and unexpected. Probably a showstopper.

podman-1.2.0-2.git3bd528e.fc29.x86_64

[2019-04-01 17:42] cevich commented on #2733
@mheon okay, 2-out-of-3 re-runs passed, [the third one failed as before but after sleeping](https://cirrus-ci.com/task/5197969367236608) :cry:   Since that really sucks, I'm going to do a few more re-runs to see if I can make it happen again...

[2019-04-01 17:54] afbjorklund commented on #2669
I got bitten by this bug as well. Saved multiple entries, all pointing to the _same_ image...

Guess I will use multiple files as a workaround, but would be good if it could be fixed ?

[2019-04-01 17:56] baude commented on #2824
... looking

[2019-04-01 18:01] cevich commented on #2733
@mheon sigh...[second occurrence (after 2-3 more re-runs)](https://cirrus-ci.com/task/4786868519436288).  So adding the sleep ***did not*** change the behavior substantially, it still [flakes ***AFTER*** also emitting the expected error message](https://github.com/containers/libpod/pull/2737/files#diff-763d32052d18ee5114bb2af368392a2bR136) :frowning:

[2019-04-01 18:04] baude commented on #2824
the c.runtime.store is nil
[code]

[2019-04-01 19:00] TomSweeneyRedHat commented on #2823
@mheon Just back on-line after my excursion.  I'll take a look, I'm going to guess that some of Nalin's recent changes are at the root of this.  I wouldn't hold the release for a fix to this, but @rhatdan's call.  Certainly something to track and squish quickly though.

[2019-04-01 19:20] cevich commented on #2733
trying with the ``podman pod rm -a`` inside a retry loop.  Perhaps re-running it multiple times will force eventual consistency.  *note:* I don't see this as a fix, just another debugging step.  At this point the race seems likely  to be in ``podman pod rm -a`` (somehow, possibly specific to CI)...

[2019-04-01 19:37] mheon commented on #2733
We're getting the error message, but are we printing the ID of the other container? If we found the running pod but not the stopped pod that could explain things.

[2019-04-01 19:38] mheon commented on #2824
I'll take this one

[2019-04-01 21:53] TomSweeneyRedHat commented on #2823
OK, I'm puzzled, I've gone through all vendoring for runc, imagebuilder, containers/storage, containers/image and buildah and everything seems to match between Buildah and Podman.  I'm at a loss as to why this is working in Buildah, but not Podman.

[2019-04-01 21:57] TomSweeneyRedHat commented on #2823
And no sooner write that then light dawns on marblehead.  Vendoring is not the issue.  The reason it works in buildah is --layers==false by default, in podman --layers=true by default.  The images isn't left behind if `podman build --layers=false -t  foo .` is used, so something has changed in the layer handling.

[2019-04-01 22:59] rhatdan commented on #2815
Actually it should be
**podman container exists** [*options*] *container*
None of the --help ones should exist.

[2019-04-02 00:23] TomSweeneyRedHat commented on #2823
OK, I've figured out the why, I'm not sure how to fix it yet.  In short the ENV command in the Dockerfile is causing the image to be commited when layers are in use.  But we're not saving that imageid into our list of images to cleanup in case of error.  That list is relatively new functionality.  That list is created in the Build() function of imagebuildah/build.go, but we're creating the image d

[2019-04-02 09:40] chpio commented on #2790
I don't know if this is helping me, right now the `root` user is mapped to the executing user on the host, but i want also map another container user (in my case `www-data`/uid:33) to also my host user. I guess that's not possible?

[2019-04-02 12:10] rhatdan commented on #2778
@giuseppe PTAL

[2019-04-02 12:28] ibazulic opened #2829 "podman pull error message is not descriptive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a `podman pull` is issued on the registry that is not using HTTPS (internal registry for testing purposes), the error message given by `podman` doesn't say anything why the operation failed.

**Steps to reproduce the issue:**

1. set up an internal docker registry that doesn't use HTTPS

[2019-04-02 13:00] giuseppe commented on #2778
I can write down some information on how the networking works with slirp4netns, what would be the best place for it?  A blog post?

@AkihiroSuda have you already written down something like that?

[2019-04-02 13:17] vrothberg commented on #2790
I am sure @rhatdan or @giuseppe know some tricks?

[2019-04-02 13:35] rhatdan commented on #2791
@saschagrunert I am hoping to kick off the effort for the merge, as soon as Podman remote is completed.
First step is to get full image support from libpod into CRI-O.
But we would love all the help we can get.

[2019-04-02 13:47] AkihiroSuda commented on #2778
slirp4netns has [the man page](https://github.com/rootless-containers/slirp4netns/blob/master/slirp4netns.1.md), but probably better to have a doc/blog in Podman's own repo/website for clarifying how Podman works with slirp4netns.

[2019-04-02 14:01] TomSweeneyRedHat commented on #2823
FWIW, I think I've a working fix in hand.  Need to run through a bunch more testing, but hope to have a PR up by noon.

[2019-04-02 14:09] vbatts commented on #2654
Cool. #2656 fixes the nil pointer.
Perhaps `--rootfs=` could use more docs. I think it is a very useful, probably not widely known feature.

[2019-04-02 14:16] rhatdan commented on #2654
Yes I think it could be a cool blog on this.  @giuseppe Would you like to write one?

[2019-04-02 14:17] giuseppe commented on #2654
yes it is already on my TODO list, now just need to prioritize it :-)

[2019-04-02 15:10] rhatdan commented on #2790
You want to run a rootless container that treats your UID as your UID inside of the container.
Have you tried out toolbox?  It is a wrapper around podman that I think does what you want.

Rootless Podman defaults to mapping your UID to root inside of the container. But toolbox modifies podman's default behaviour to do mount the first UID of the /etc/subuid range to root inside of the container and

[2019-04-02 15:11] dawncold commented on #2794
I can run fedora successfully with `podman run --rm -ti fedora /bin/bash`

I got same error when I want bind localhost port with container port, e.g. `podman run -d -p 8080:80 nginx`

[code]

I installed latest slirp4netns with `sudo apt install slirp4netns`

[code]

uname -a
[code]
podman info
[code]

[2019-04-02 15:13] mheon commented on #2794
The 0.2.1 slirp4netns is too early.
@lsm5 Do we have an ETA on a new build for the PPA? This is hitting a lot of people

[2019-04-02 15:15] lsm5 commented on #2794
I'll fix this later today once I'm done with some RHEL stuff. I've yet to enable travis auto-builds on slirp, will get that done as well while I'm at it. Sorry about the lag.

[2019-04-02 16:46] mheon commented on #2733
There's absolutely no output regarding the other pod. It's not even trying to remove it.
@cevich If we retry, does it always go to 10? Or does the number of failures vary? I have some ideas about the cause now...

[2019-04-02 16:51] cevich commented on #2733
@mheon It only took 2 attempts to get it to fail.  My guess is that it always retries 10-times, but I will let you know if I see anything different in a re-run.

[2019-04-02 17:19] mheon commented on #2733
Wait a goddamn... I know what this is

[2019-04-02 17:19] mheon commented on #2733
Rootless Podman cannot remove multiple pods at the same time. For some reason it's not throwing an error when we try to do this.

[2019-04-02 17:23] mheon commented on #2733
How does this test even pass?
@giuseppe we're only joining one pod's userns, but somehow, sometimes, it successfully removes both pods?

[2019-04-02 17:32] cevich commented on #2733
[Here's a run with debugging enabled on the rm and a 10-try test failure.](https://cirrus-ci.com/task/5665000050917376)

@mheon it ***DOES*** print the 'can't remove pod' error message.  I added a check for this.  Yet still doesn't actually remove the pod.

[2019-04-02 17:33] cevich commented on #2733
Re: **How does it pass:**  maybe this is the race, perhaps (somehow) the pod which is suppose to be removed, removes itself coincidentally with the rm command.  That would represent a false-positive condition this test would miss.

[2019-04-02 17:34] mheon commented on #2733
@cevich The error message is 100% expected. This test expects one pod to fail.

The issue is that pod 2, the not-running pod, is not even touched. We're not even attempting to remove it.

[2019-04-02 17:35] mheon commented on #2733
I think it has to be an ordering thing in the DB - one of the pods will be returned first by the iterator. I think we succeed if the one that's not running is returned first... maybe because we don't need to join its userns because not running?

[2019-04-02 17:36] mheon commented on #2733
(Iteration order is based on ID, so there's our randomness - if the pod that is not running has a lower ID, we succeed, else we fail...)

[2019-04-02 18:05] cevich commented on #2733
Ohhh okay, I follow.  That explains why retrying the removal fails also.  So is the only thing special in rootless-vs-root, somehow when running as root, the IDs always are the "correct" way around?

(It's possible this problem is happening when run as root, I'm just not seeing it - I also didn't look super closely)

[2019-04-02 18:06] mheon commented on #2733
The multiple-pod-removal restriction is rootless only - root pods work as advertised.

[2019-04-02 18:26] cevich commented on #2733
Excellent, so it sounds like the problems are fully-known here then.  Whew! What a ride!

Is there anything I can do to help fix this and/or should I just close #2737 then?

[2019-04-02 18:58] Noed opened #2834 "/var/lib/containers/storage/overlay/(...)/merged/bin/bash: no such file or directory"
/kind bug

**Description**
When pushing an image, podman try to get /bin/bash from a container storage directory but the file doesn't exist.

**Steps to reproduce the issue:**
1. docker run --privileged --name fedora --rm -i -t fedora:latest /bin/bash
2. yum -y install podman
3. sed -i 's/#mount_program/mount_program/g' /etc/containers/storage.conf
4. podman build -t ng-hello .
5. podman tag ng-he

[2019-04-02 19:23] mheon commented on #2834
To make sure I understand:
You're running Podman in a Docker container, using Podman build, and getting an error pushing to a repository?

I don't believe we've ever tried this without a privileged container on the outside.

@giuseppe It looks like fuse-overlay is in use here... Could that be it?

[2019-04-02 19:31] Noed commented on #2834
Yes, the container is fedora:latest started with Docker:
[code]

And yes I'm using fuse-overlayfs:
[code]

The I install podman on it, checkout code from git, build an image, tag and try to push to a repository.
This is because I will run in a Jenkins CI/CD pipeline that runs the agents in containers. The Jenkins script stops at the same point.

Here's  y full Jenkins build output:
[code]

[2019-04-02 19:42] giuseppe commented on #2834
you'll need to bind mount a volume for `/var/lib/containers/storage`.  Overlay on top of overlay is not going to work

[2019-04-02 19:46] Noed commented on #2834
Thanks @giuseppe
Bind during the build or the push?
Any doc how I can do this?

[2019-04-02 19:46] giuseppe commented on #2834
@Noed bind to the docker command, so that `/var/lib/containers/storage` in the container is not on overlay

[2019-04-02 20:28] Noed commented on #2834
@giuseppe awesome it worked as simple as that:
[code]

And worked on the Jenkinsfile too with this:
[code]

Now my build completes:
[code]

This is great because with docker it would require a daemon and I wasn't able to run in Jenkins slaves in this Kubernetes cluster, but since podman doesn't require a daemon it fits perfect.

[2019-04-02 20:33] MarcoFalke opened #2836 "podman cp does not copy folders"
/kind bug

**Steps to reproduce the issue:**

Compare podman and docker:

[code]

**Output of `podman version`:**

[code]

[2019-04-02 21:02] giuseppe commented on #2834
that is great to hear! :-)

[2019-04-02 21:02] #2834 closed

[2019-04-02 22:32] mike-nguyen opened #2837 "podman: ping from inside container stalls/fails on third successive run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If ping is ran three times in a row from inside a container, it will fail the third time.  If I try again right after the ping failure, it will continue to fail.  If I wait a few seconds before running the command in the reproducer, it will run two times successfully and fail the third time a

[2019-04-02 22:44] mheon commented on #2837
Suspicion: overlapping processes (Podman cleanup processes and the fresh Podman processes being run in the loop) are racing, and CNI ends up removing network state necessary for the new container being run. @mccv1r0 is there any locking in CNI that would prevent multiple processes running at the same time from overwriting each other?

[2019-04-03 11:43] rhatdan commented on #2834
@Noed We are working on getting buildah to do this without requiring --privilege.
And of course I would prefer you to run buildah or podman inside of Podman or CRI-O.

[2019-04-03 12:04] rhatdan commented on #2837
Weird I can get this to happen once. Even upping the odds.

 do sudo podman run --rm docker.io/busybox ping -c 1 1.1.1.1; sleep 1; done

[2019-04-03 12:05] rhatdan commented on #2837
@mike-nguyen One thing to try is with a --net=host, to make sure it is the network stack that is causing the issue.  I am pretty sure, but just to make sure.

[2019-04-03 12:20] mike-nguyen commented on #2837
@rhatdan it works fine with `--net=host`

[2019-04-03 12:28] mike-nguyen commented on #2837
@rhatdan You can or can't?

This issue only occurs on `kernel 5.0.4-200.fc29`.  If downgrade to `kernel 4.20.15-200.fc29` it works again.

[2019-04-03 13:19] dawncold commented on #2794
Thanks, I compiled slirp4netns with source code, and it works for me!

[2019-04-03 14:11] cevich commented on #2733
Should be fixed by: #2706

[2019-04-03 14:39] rhatdan commented on #2836
@QiWang19 PTAL

[2019-04-03 14:51] TomSweeneyRedHat commented on #2836
@MarcoFalke just to verify, are there any symlinks involved in this particular copy?

[2019-04-03 15:15] mccv1r0 commented on #2837
For e.g. host-local IPAM address allocation, yes, there are locks to serialize access so that containers don't get e.g. the same IP address.

[2019-04-03 15:22] MarcoFalke commented on #2836
Not that I am aware of. I created the empty folder with `mkdir /tmp/new_folder_02`

[2019-04-03 15:42] QiWang19 commented on #2836
`podman cp` copies the content under the folder into /home/. `ls /home/` shows nothing because the /tmp/new_folder_02 is empty.
Yes, this is kind of a bug because it's different from docker

[2019-04-03 17:13] TomSweeneyRedHat commented on #2823
@edsantiago for a sanity check, could you try this again with the latest upstream Buildah?  Use `buildah bud --layers=true  ...` instead of `podman build`.  I swear it wasn't working earlier this week, but appears to be now.

[2019-04-03 17:32] edsantiago commented on #2823
If I'm doing this correctly, I see the issue in master @ 9e1967ae9e510a12afbe28aeeb50e0921fc30ec5 :
[code]

[2019-04-03 18:10] TomSweeneyRedHat commented on #2823
One more test please if you could.  Can you confirm that it works OK without `-t foo` please?  That's the difference, this afternoon I neglected the `-t {name}` when I tried it.

[2019-04-03 18:12] edsantiago commented on #2823
What does 'works OK' mean? The issue I'm griping about is that `-t` leaves a tagged, incomplete, incorrect image; I'm not sure I've given any thought to what the behavior should be without `-t`. (FWIW the behavior I see is that it leaves behind a `<none>` image, which seems reasonable at first glance).

[2019-04-03 18:19] TomSweeneyRedHat commented on #2823
Thanks @edsantiago.  What I'd expect to see now without the -t flag is an image listed at <none> <none> and then an alpine image.  That's what I think the state should be when running with the `-t` flag too.

[2019-04-03 18:21] TomSweeneyRedHat commented on #2823
grr github auto md convert.  `<none> <none>` got swallowed in my last reply due to a lack of back ticks.

[2019-04-03 18:33] Noed commented on #2834
@rhatdan that would be nice.

Turns out I don't have a chance to run my initial image in podman or buildah, because my workstation is Win10 :cry:

And on IBM cloud, seems the Kubernetes cluster uses containerd as the engine.

[2019-04-03 19:15] rhatdan commented on #2834
Hopefully that will change in the future.
@Noed Install Fedora on the laptop and then you will never look back.

[2019-04-03 19:33] marshallford commented on #2414
@TomSweeneyRedHat curious if you have any updates regarding a community image.

[2019-04-03 21:04] maxamillion commented on #2794
@lsm5 thanks! no worries about lag, I barely ever use the debian machine because I live primarily on Fedora and RHEL, but when I do ... I like to use podman ;)

[2019-04-03 21:35] rhatdan commented on #2837
Could this be a kernel bug?

[2019-04-04 09:17] jakubjosef opened #2846 "Usage of multiline --build-arg not works (use only first line) - docker build works"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run podman build with --build-arg
`podman build --format docker --build-arg SSH_PRIVATE_KEY="${SSH_PRIVATE_KEY}"`
SSH_PRIVATE_KEY env variable contains a multiline SSH key

2. Print passed build-arg to console during a Docker build

**Describe the results

[2019-04-04 12:00] derkoe commented on #1680
What version includes the fix? Just tried the same with the current RHEL 7.6 and it still does not work.

    [0][QA][root@artifactory01q:~] podman version
    Version:       0.12.1.2
    Go Version:    go1.10.3
    OS/Arch:       linux/amd64

[2019-04-04 12:16] TomSweeneyRedHat commented on #2846
@jakubjosef could you give me an example of how you set up the SSH_PRIVATE_KEY envvar please?

Just include in the example the first and last lines of a private key

-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----

and leave all the good stuff out.  My gut is this is some kind of shell/cli handling issue.

[2019-04-04 13:05] mheon commented on #2846
We just recently fixed an almost identical issue for Podman run, and it was
an issue with the type of flag we used - string slice vs string array.
Can't remember which was correct unfortunately.

On Thu, Apr 4, 2019, 08:16 Tom Sweeney <notifications@github.com> wrote:

[2019-04-04 13:25] TomSweeneyRedHat commented on #2846
@jakubjosef could you give me an example of how you set up the SSH_PRIVATE_KEY envvar please?

Just include in the example the first and last lines of a private key

-----BEGIN RSA PRIVATE KEY-----
-----END RSA PRIVATE KEY-----

and leave all the good stuff out.

@mheon, I thought I remembered seeing a similar issue recently, but didn't find it on a quick scan, will look again, thx!

[2019-04-04 14:12] nalind commented on #2846
Based on https://github.com/containers/buildah/pull/1467, I'm thinking StringArray works better for those.

[2019-04-04 14:13] alcir commented on #2788
Same problem here, but restarting the session doesn't resolve the issue.

[2019-04-04 14:14] mheon commented on #2788
Do you have /etc/subuid and /etc/subgid? What are their contents?

[2019-04-04 14:18] alcir commented on #2788
Yes.
[code]

[2019-04-04 14:24] mheon commented on #2788
Podman version?
@giuseppe Do we print stdout/err from these on Master?

[2019-04-04 14:26] alcir commented on #2788
[code]

[2019-04-04 14:35] alcir commented on #2788
Mmm
Using strace I've seen
[code]
Googling around I tried to
[code]
And now podman works.

[2019-04-04 15:55] rhatdan commented on #2846
Can someone merge that PR.  And then we can close this one also.
Then @jakubjosef can verify it it fixes his problem.

[2019-04-04 16:07] rhatdan commented on #2788
Shadow utils does this by default with file capabilities.  For some reason file caps were not working for you.
What is file system are you using for /usr?

[2019-04-04 16:32] alcir commented on #2788
File system is ext4.
The fact is that this machine is a fedora image deployed on scaleway cloud
provider. Maybe they have tinkered the base image in some way?

On Thu, Apr 4, 2019, 6:07 PM Daniel J Walsh <notifications@github.com wrote:

[2019-04-04 16:38] rhatdan commented on #2788
rpm -qV --shadow-utils
Before your change.
They could have mounted the /usr as nosuid, but your change would not have fixed this.
On default Fedora 29
getcap /usr/bin/newuidmap /usr/bin/newgidmap
/usr/bin/newuidmap = cap_setuid+ep
/usr/bin/newgidmap = cap_setgid+ep

These two capabilities should be all you need.

[2019-04-04 16:59] giuseppe commented on #2837
might be in the kernel.  It seems to get confused by the same destination IP address used by the 3 containers.

@mike-nguyen could you try something like:
[code]
?

[2019-04-04 17:03] alcir commented on #2788
I will check asap on a new machine.
Btw /usr is not a separate mountpoint, but it is part of the root partition.

On Thu, Apr 4, 2019, 6:38 PM Daniel J Walsh <notifications@github.com wrote:

[2019-04-04 17:16] mccv1r0 commented on #2837
Wouldn't docker have the same issue?

[2019-04-04 18:39] mike-nguyen commented on #2837
@giuseppe that worked!
[code]

[2019-04-04 21:16] tobwen commented on #2510
It's alive again on rootless.

[code]

[2019-04-04 21:16] jakubjosef commented on #2846
@TomSweeneyRedHat Actually this env variable is set by Gitlab CI.
If I print this variable I just receive multiline string output. I don't know if I use string slice or string array,  how can I check it? @mheon?

[2019-04-04 21:55] rhatdan commented on #2510
@giuseppe Anything to do with your rootless merge?

[2019-04-04 22:04] tobwen opened #2852 "[rootless] play kube not yet implemented"
/kind feature

**Description**

`podman play kube` isn't implemented for rootless yet.

**Describe the results you received:**
[code]

@giuseppe I've read you're working on this?! I'd like to test it if you already have a branch there.

[2019-04-04 22:08] tobwen commented on #1680
@derkoe This might not be helpful, but _podman_ is at v1.2.0 now. v0.12.1.2 is pretty outdated. Most of the rootless bugfixes have been added after release v1.0.

[code]

[2019-04-04 22:20] mheon commented on #1680
Rootless won't be supported until 7.7, where we'll probably be shipping a 1.2.x release which includes this fix (amongst other package changes required to shadowutils)

[2019-04-04 22:21] mheon commented on #2510
I would bet this was the big rootless single userns patch that just merged.

[2019-04-04 23:48] TomSweeneyRedHat commented on #2846
@jakubjosef I'm pretty sure containers/buildah#1467 by @rhatdan will cure this issue for you once we vendor Buildah into Podman with that fix in place.  The string slice come from the Buildah option handling code, so nothing on your side or GitLab for that.  Hopefully we can get you something to test by early next week at the latest.

[2019-04-05 01:30] larsks opened #2854 "podman play kube does not accept pod descriptions that have neither command nor args"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman should accept a pod description like this:

[code]

But this will fail with:

[code]

That means there is no way to declare a container that uses the
default entrypoint and command declared in an image.

**Steps to reproduce the issue:**

1. Use the pod description referenced above.

*

[2019-04-05 01:38] mheon commented on #2854
I thought we fixed this one recently (@haircommander did some work on configuring containers from `play kube` from images), but you're running 1.2.0, and I was pretty sure that work landed there, so maybe I'm mistaken.

[2019-04-05 01:40] haircommander commented on #2854
@mheon I think you're mixing my volume work and the work I did with the pod pause image :) I don't think we have encountered this with play kube yet!

[2019-04-05 01:45] tobwen opened #2855 "[rootless] stuck in container"
/kind bug

**Description**
With the latest version, I'm sometimes stuck in a container... Sometimes, I'm thrown out of the container after `apt update`.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2019-04-05 02:06] haircommander commented on #2854
PR here: #2856

[2019-04-05 07:10] giuseppe commented on #2855
what version of fuse-overlayfs are you using?

[2019-04-05 07:20] alcir commented on #2788
[code]

[code]

```getcap /usr/bin/newuidmap /usr/bin/newgidmap``` doesn't return any result

[2019-04-05 07:49] giuseppe commented on #2510
this is related to a change in containers/image where we use `os.Geteuid()` inside of a user namespace

[2019-04-05 07:56] giuseppe commented on #2510
PR: https://github.com/containers/image/pull/612

[2019-04-05 08:14] tobwen commented on #2855
Hehe, I have built mine about 12 hours ago. So let me ride to my office and try it with the newer revision.

[2019-04-05 08:15] giuseppe commented on #2855
then I am quite sure that is fixed upstream :-)

[2019-04-05 10:54] rhatdan commented on #1680
1.0 release should be in 7.6.4, and should work better in rootless mode.

[2019-04-05 11:27] derkoe commented on #1680
We've got redhat-release-server-7.6-4.el7.x86_64 but still podman 0.12.1.2.

There seem to be other bugs with this version like running with "-u username" results in "unable to find user username: no matching entries in passwd file" event though the user is in the passwd file.

Is it possible to install v1.2.0 on RHEL 7.6?

Otherwise we'll have to wait for 7.7.

[2019-04-05 11:39] alcir commented on #2788
Well, a followup (fresh install and full update):

[code]
And now ```rpm -qV shadow-utils``` doesn't return anything, while ```getcap /usr/bin/newuidmap /usr/bin/newgidmap``` returns
[code]
And podman works.

[2019-04-05 12:08] #2852 closed

[2019-04-05 13:26] haircommander commented on #2854
PR is merged, closing :)

[2019-04-05 13:26] #2854 closed

[2019-04-05 13:50] KKoukiou opened #2860 "Regression: 1.2.0: varlink call unix:/run/podman/io.podman/io.podman.PullImage '{"name": "busybox:foobar"}' crashes"
/kind bug

**Description**
PullImage varlink API crashes when remote image tag does not exists

**Steps to reproduce the issue:**

1.  sudo ./bin/podman varlink --timeout 100000000 unix:/run/podman/io.podman

2. $ sudo varlink call unix:/run/podman/io.podman/io.podman.PullImage '{"name": "busybox:foobar"}'

**Describe the results you received:**
The podman command crashes with the following:
[code

[2019-04-05 13:50] KKoukiou commented on #2860
cc @baude

[2019-04-05 16:09] rhatdan commented on #2738
Any UID not mapped into the User Namespace will be referred to as nobody.

[2019-04-05 16:37] rhatdan commented on #1680
Yes podman 1.2 should work fine on RHEL7.6.

[2019-04-05 16:40] rhatdan commented on #2788
Super.

[2019-04-05 22:09] stu-gott commented on #2748
bump?

[2019-04-05 23:00] mheon commented on #2748
@mccv1r0 Anything stick our here?

[2019-04-06 01:00] baude opened #2866 "commit bc320be00bc... (linter) BROKE US"
commit bc320be00bc584bd88525266d23a9d5edb9d44f8 broke our CI; it needs to be reverted so we can process PRs.

When I attempted to create a PR to revert it, it fails because the gometalinter has been removed from the image?

WE CAN NO LONGER PROCESS PRS AND MERGE THEM

[2019-04-06 02:38] tobwen commented on #2738
@rhatdan So Buildah unluckely maps the namespaces UID into an area, where a system UID exists?

[2019-04-06 10:40] rhatdan commented on #2738
The only UIDs Buildah is going to map are defined in /etc/subuid and the UID running buildah if not root.

[2019-04-06 11:49] amiga23 opened #2868 "Podman does not handle image layers correctly, resulting in using x times the diskspace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If you pull an image each "EXPOSE, ENTRYPOINT, ..." command used in the image will result in a layer that uses the full image size so far. So in the end x times of the wize will be used on disk.

**Steps to reproduce the issue:**

1. Create an image with several copy commands, e.g.
[code]

2.

[2019-04-06 11:52] KKoukiou opened #2869 "Varlink Commit API crashes when ENV parameter is passed to the changes parameter"
/kind bug

**Description**

varlink API crashes when ENV is passed into the changes parameter, to set the enviroment variables for the new image

**Steps to reproduce the issue:**

1. $ sudo varlink call unix:/run/podman/io.podman/io.podman.Commit '{"name":"test-sh", "image_name":"testimg:1", "changes":["ENV=sleep 100"]}'
Error: Varlink Error: Connection Closed

**Describe the results you received

[2019-04-06 11:52] KKoukiou commented on #2869
cc @baude

[2019-04-06 12:00] KKoukiou commented on #2869
Oh, my fault, I wanted to use the CMD not ENV. Sorry for the noise.

[2019-04-06 12:15] amiga23 commented on #2868
Issue updated, as I did interpret the results wrong. Every EXPOSE or ENTRYPOINT directive adds the full size of the image and every COPY directive adds the files + the base image.

[2019-04-06 14:57] mheon commented on #2868
This is a property of the VFS graph driver, and why we don't recommend
using it. Using overlayfs (root) or fuse-overlayfs (rootless) will result
in proper deduplication and storage use.

On Sat, Apr 6, 2019, 08:15 amiga23 <notifications@github.com> wrote:

[2019-04-06 14:58] mheon commented on #2869
Segfaults are still bad so I vote we reopen and fix

On Sat, Apr 6, 2019, 08:01 Katerina Koukiou <notifications@github.com>
wrote:

[2019-04-06 17:25] amiga23 commented on #2868
Thanks for the hint, fuse-overlayfs is available on AUR in Archlinux. After installing and switching storage diver to "overlay" it works like expected.

[2019-04-06 17:25] #2868 closed

[2019-04-07 07:58] abitrolly commented on #1915
@rhatdan I can't find it anymore - https://snapcraft.io/search?q=podman - do you have a link?

[2019-04-07 09:31] rhatdan commented on #1915
@lsm5 ^^

[2019-04-07 15:56] parnigot opened #2871 "Equivalent of docker registry-mirrors configuration"
Hello,

We are currently evaluating podman at my workplace as a lightweight alternative to docker. Given that all our hosts do not have direct access to the Internet we have to use a private mirror to pull images from the docker hub.

Docker is easy configured by by adding in `/etc/docker/daemon.json` the following:

[code]

With the mirror configured a simple `docker pull alpine` works transparen

[2019-04-07 16:34] vrothberg commented on #2871
Hi @parnigot,

thanks a lot for reaching out.

We are currently working on a feature that is similar to Docker's `registry-mirrors` but more powerful as it allows to mirror any registry, not only `docker.io`. You can track the progress over at https://github.com/containers/image/pull/564. This PR will rather sooner than later be merged and the feature will eventually be made available for Podman,

[2019-04-07 20:27] benjumanji opened #2872 "Container can seen volume paths in bind mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container process seems to have access to bind volume paths and is referencing them. I know this sounds impossible, but I can't explain this any other way.
**Steps to reproduce the issue:**

1. Create the following tree
[code]
With conf.json containing:
[code]
2. Execute
[code]
3. with a vaul

[2019-04-08 08:45] giuseppe commented on #2872
it is not a bug that a container knows the host mount source, you can verify it by reading `/proc/self/mountinfo` in the container, or use findmnt:

[code]

how does it look in your container?

It might be the vault operator to resolve the mount point to the host path.

[2019-04-08 08:48] giuseppe commented on #2855
@tobwen had a chance to check this issue?

[2019-04-08 09:16] tobwen commented on #2855
@giuseppe Oops, yeah. Thanks, works.

[2019-04-08 09:16] #2855 closed

[2019-04-08 09:28] benjumanji commented on #2872
Is there anything I can do with podman / mount options to prevent the mount paths from being visible? What's the best place to discuss given that this is expected behaviour? I can't find a mailing list link in the readme.

[2019-04-08 10:45] giuseppe commented on #2872
you could probably set up an intermediate mount namespace and from there run podman, but you'd need to do it manually.  It is error prone though, restarting the container is probably not going to work.

We have not a mailing list yet, so probably here is the best place for such discussion

[2019-04-08 10:47] benjumanji commented on #2872
I guess the best thing to do then is probably take this up with the vault  guys and try to understand how they are ending up with that path. I'll probably also try it on docker and see if it has the same behaviour.

[2019-04-08 12:13] giuseppe commented on #2837
what kernel are you using?

[2019-04-08 12:29] lsm5 commented on #1915
Unlikely, I have the podman name registered on the snap store and I haven't had the time to publish it yet. Unless someone stole it from me and published it.

[2019-04-08 13:37] rhatdan commented on #2872
BTW We are working on the mailing list, Stay tuned.

[2019-04-08 14:48] #2836 closed

[2019-04-08 16:17] maxamillion commented on #2794
it appears the issue is still persisting with the new version of `slirp4netns`.

[code]

[code]

[2019-04-08 17:51] #2860 closed

[2019-04-08 18:44] mccv1r0 commented on #2748
This rule should enable ```-p 433:433``` for anything destined to localhost:443 to be port mapped into the container.  The FORWARD chain shouldn't be involved.

If you are using the IP address of the container itself (i.e. FORWARD chain), currently this [doesn't look like it is supported in current libpod](https://github.com/containers/libpod/blob/master/pkg/firewall/iptables.go#L31)

[2019-04-08 19:23] stu-gott commented on #2748
So to make sure we're talking about the same thing, look closely at the CNI-FORWARD chain. there's only two rules:
1) accept anything outbound
2) accept anything inbound *FOR ESTABLISHED CONNECTIONS ONLY*

There is no forward rule to allow an inbound conversation to be established. full stop.

------

In this case I'm just attempting the most direct use case. expose port 443 to all hosts. I'm atte

[2019-04-08 22:29] mccv1r0 commented on #2748
Correct.  FAD (at least as currently designed)

I'm surprised it used to work based on my understanding == what I describe below.

```-p 443:443```  will only create DNAT rules.  Nothing is done to FORWARD chain.  (Note:  Currently CNI itself doesn't support doing anything to FORWARD chain; podman has added this to libpod until CNI support is ready.)

AFAICT -p ```ip:port-on-that-ip:port-inside-co

[2019-04-09 12:43] giuseppe commented on #2837
@teknoraver suggested me that the solution is `sysctl -w net.netfilter.nf_conntrack_icmp_timeout=2`.  Could you try if that solve the issue for you?

[2019-04-09 14:07] mike-nguyen commented on #2837
@giuseppe that works!

Do we know why this has changed from 4.20.x kernel behavior?  Why does it affect only podman containers and not docker containers or the host directly?  Is this something that needs to be fixed for podman?

[2019-04-09 16:43] giuseppe commented on #2872
I guess we can close this issue, there is not much we can do from podman

[2019-04-09 16:43] #2872 closed

[2019-04-09 16:43] giuseppe commented on #2824
this one should be fixed with the refactoring.  Please reopen if it is still happeing

[2019-04-09 16:43] #2824 closed

[2019-04-09 16:45] giuseppe commented on #2798
is this still happening?  It is fixed in upstream runc

[2019-04-09 16:46] giuseppe commented on #2866
@baude the change was reverted now, can we close this issue?

[2019-04-09 16:49] giuseppe commented on #2794
I'll need to try this out then.  I never really test on Ubuntu or Debian...

[2019-04-09 16:50] giuseppe commented on #2790
fedora-toolbox is doing what @rhatdan suggested.  Please reopen if this is still an issue

[2019-04-09 16:50] #2790 closed

[2019-04-09 17:11] giuseppe commented on #2794
I'm trying on a Digital Ocean droplet, running Debian 9, after following your steps to install the packages:

[code]

are you using an updated podman too?

[2019-04-09 17:19] hughsie opened #2876 "Regression in allowed container names breaks Fedora 30 SilverBlue"
/kind bug

In the old commit from 2018 de6d5b75ac8baa6871991984dc8dcf9b702b8a9e libpod added a regex to check the container name, which was then changed in https://github.com/containers/libpod/pull/2793 to be a little less restrictive. Something more recent than this started then broke fedora-toolbox (and thus Fedora SilverBlue) as it uses container names like `fedora-toolbox-hughsie:30` i.e. with

[2019-04-09 17:23] mheon commented on #2876
Wait, we previously allowed `-` and `:`? That sounds like a bug to me. The original intent of the regex was alphanumeric characters and `_`

I have no issues with allowing `-` but `:` is more problematic. It has special connotations in image names, for example - allowing it makes it much more ambiguous whether a name refers to an image or container.

[2019-04-09 17:27] #2866 closed

[2019-04-09 17:28] mheon commented on #2824
@giuseppe I actually landed a separate fix that made this an error - need to remove that now that single userns is merged

[2019-04-09 17:31] mheon commented on #2824
Basically need a revert of https://github.com/containers/libpod/pull/2832

[2019-04-09 17:33] junaruga opened #2877 "docker image ls: No header in no container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

I am not sure if it is bug or intended.

**Description**

There is a different behavior between podman and docker-ce about the `image ls` command.
The difference "no header in no container" makes me wonder if the podman works

**Steps to reproduce the issue:**

My environment: Fedora 29.

[code]

[code]
####

[2019-04-09 17:36] mheon commented on #2877
I think I know where we introduced this one

[2019-04-09 17:49] debarshiray commented on #2876
@mheon yes, since commit 449b8ab7b14fcc0d9e3badbe14b09f387c2c459c or #2793 `podman create` started erroring out if the container was named something like `fedora-toolbox-foo:30`.

I don't know how that commit suddenly started causing problems, but I do know that `podman-1.2.0-28.dev.gitfdf979a` accepted colons and `podman-1.2.0-29.dev.git7b73974` didn't. Bisecting within that range led me to this

[2019-04-09 17:52] mheon commented on #2876
@debarshiray The original regex shouldn't have allowed colons, so I would say they are frowned on. Even if we decide to keep support, I would recommend you swap from `:` to a hyphen or underscore, for container/image naming clarity.

@vrothberg You might want to weigh in here as to whether we consider this an API change. IMO this is a bugfix, given that support for non-alphanumeric/underscore char

[2019-04-09 17:57] mheon opened #2878 "Podman rmi output differs from Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When removing images, Docker is much more explicit as to what is going on than Podman.

Podman only prints a bare ID. Docker prints `Deleted: sha256:$ID` for all image SHAs, and then extra `Untagged:` lines for any names that are untagged.

**Steps to reproduce the issue:**

1. ```docker rmi

[2019-04-09 17:57] mheon commented on #2878
Noticed this while cooking up a fix for #2877

[2019-04-09 21:44] refi64 opened #2884 "podman images --filter dangling=false lists only dangling images"
/kind bug

**Description**

When you run `podman images -f "dangling=false"`, only dangling images are displayed (aka the result is identical to `dangling=true`).

**Steps to reproduce the issue:**

1. Run `podman images -f "dangling=false"`.

2. Cry.

3. Use `podman images | grep -v '<none>'`? :rofl:

**Describe the results you received:**

Dangling images.

**Describe the results you expected:**