[2018-07-11 13:07] giuseppe commented on #1073
@rhatdan I relaxed the error for podman when there are no entries in /etc/subuid, /etc/subgid so that tests could pass on the CI.  But I think we should re-enable it, or allow it only from the CI, as running with only one user mapped breaks almost any image

[2018-07-11 14:19] edsantiago opened #1078 "podman run, with -a stdin: inconsistent exit status"
This one is weird:
[code]
I'm actually not sure what the correct behavior should be. FWIW docker is consistently 0.

podman-0.7.1-1.git802d4f2.fc28

[2018-07-11 14:22] mheon commented on #1078
I can only reproduce inside of the bash loop, it seems to always return 0 if not. Some sort of timing issue setting up attach?

[2018-07-11 14:30] mheon commented on #1078
You're right, though it seems less consistent without - 1 time out of 4 versus 1 out of 2.

Running with `--log-level=debug` gets me an exit code of 127 and a broken pipe error, which is probably a separate issue.

[2018-07-11 19:56] rhatdan commented on #1074
Bottom line, should we be printing "Dead" or "Unknown"?

[2018-07-11 19:58] mheon commented on #1074
I think "Unknown" or "Error" are good options. Error might be the most accurate.

[2018-07-11 20:06] rhatdan commented on #667
@haircommander looks like podman load still hard codes docker.io/library onto loaded images. Could you take a quick look at this?
@umohnani8 Will probably be able to help.
After this load the value should be localhost/load

[2018-07-12 06:55] vrothberg commented on #1006
I started working on this yesterday

[2018-07-12 12:18] rhatdan commented on #1073
SGTM

[2018-07-12 13:58] rhatdan commented on #1006
Lets get this library under github.com/containers/psgo and then we can work on it there.

[2018-07-12 14:00] rhatdan commented on #1074
Fine lets display Error now.

[2018-07-12 14:08] haircommander commented on #1074
I'll take care of it

[2018-07-12 14:59] mheon commented on #1076
Closed by #1077

[2018-07-12 14:59] #1076 closed

[2018-07-12 17:44] rhatdan commented on #376
Lets look at adding
podman container config --env LANG=foobar CONTAINERID,
Then the next time the container gets started it would use the new configuration.

[2018-07-12 17:47] rhatdan commented on #415
@haircommander Have you looked into this?

[2018-07-12 17:47] rhatdan commented on #148
@mheon Do you have a PR for this one?

[2018-07-12 17:48] rhatdan commented on #653
I was thinking one of the first things we should add is
podman help image or
podman container help CID
podman image help Image

[2018-07-12 17:49] rhatdan commented on #605
@umohnani8 Is this something you would like to play with?

[2018-07-12 17:50] rhatdan commented on #713
@mtrmac Is this something you could add to podman?

[2018-07-12 17:51] rhatdan commented on #675
This is continuing to be worked on, but there is some support, so I am closing this issue.

[2018-07-12 17:51] #675 closed

[2018-07-12 17:51] rhatdan commented on #794
@mheon Do we still have this issue?

[2018-07-12 17:53] mheon commented on #376
This would involve major and invasive changes to Podman's internals... I don't want to do this unless there is clear demand from someone that we add these features and do it now.

[2018-07-12 17:53] rhatdan commented on #354
podman images --all now works.

[2018-07-12 17:53] #354 closed

[2018-07-12 17:55] rhatdan commented on #736
@baude Could you take care of copying this code into ours and fixing this issue?

[2018-07-12 17:56] rhatdan commented on #262
@baude Ever get a chance to look at this?

[2018-07-12 18:07] haircommander commented on #1074
closed via #1083

[2018-07-12 18:07] #1074 closed

[2018-07-12 18:22] haircommander commented on #415
No I have not yet @rhatdan

[2018-07-12 18:30] rhatdan commented on #210
@giuseppe PTAL

[2018-07-12 18:31] mheon commented on #513
@rhatdan I think logrus logging to syslog should be fine. I think we should make it an option, though, not a default.

If we end up needing more things logged, we should probably be adding more logrus statements.

[2018-07-12 18:32] rhatdan commented on #655
Still blocked , but I have pinged @cyphar to see if the PR can get some movement.

[2018-07-12 18:33] rhatdan commented on #730
@aalba6675 Could you checkout podman-0.7.1 which added podman container cleanup which could fix some of these issues.

[2018-07-12 18:41] rhatdan commented on #376
I guess we can leave this up to @cgwalters and @Exalm how much they need this feature?

@mheon So modifying the runtime spec would be that difficult?

[2018-07-12 18:54] mheon commented on #376
@rhatdan Everything about libpod assumes the container config - the spec and everything else we store at create time - never changes, and so never needs to be updated. We'd need to change everything to refresh from the database every time we did a config read.

[2018-07-12 19:01] rhatdan commented on #1078
So the key factor here is the -a stdin
Running without this I dont see an issue.

[2018-07-12 19:05] mheon commented on #893
Can't reproduce this on master

[2018-07-12 19:06] #893 closed

[2018-07-12 19:25] umohnani8 commented on #992
Fixed in #1055

[2018-07-12 19:25] #992 closed

[2018-07-12 19:59] mheon commented on #736
I think we can leave this be for now, given we just updated CNI and the deprecated code is still there. Unless we really want to fix the warnings, in which case we'd have to copy in the netns library?

[2018-07-12 20:01] baude commented on #736
IMHO we have enough of our libs to tend after.  I'd prefer to not add another...

[2018-07-12 20:39] edsantiago commented on #736
I'd like to encourage you to consider this from the perspective of end users. I've been seeing these warnings for months, and they *still* cost me time and energy to process every time I see them: Sometimes (often) it's a docker-autotest failure because the tests expect nothing on stderr; sometimes it's me running manual commands. *Every time* this happens I have to look at the error, confirm from

[2018-07-12 20:41] mheon commented on #736
@baude Want me to take this one, considering you'll be on vacation?

[2018-07-12 20:44] haircommander commented on #667
The problem is in github.com/containers/image/docker/reference/normalize.go:splitDockerDomain
When we load a new image, it goes through this stack trace:
cmd/podman/load.go:108 -> runtime.ImageRuntime().LoadFromArchive(...)
libpod/image/image.go:182 -> newImage.getLocalImage()
libpod/image/image.go:213 -> i.imageruntime.getImage(...)
libpod/image/image.go:372 -> is.Transport.ParseStoreReference(..

[2018-07-12 21:04] haircommander commented on #667
One potential fix is changing the vendored code at containers/image/storage/storage_transport.go:163 adding:
[code]
But it breaks the images tests so I don't know if that's the route we want. I can revisit it tomorrow if needed.

[2018-07-12 21:19] rhatdan commented on #513
Merging patch.

[2018-07-12 21:19] #513 closed

[2018-07-12 22:18] rhatdan commented on #736
Yes we should take this in or build a new library on containers and vendor it in.  Main thing that I believe it needs is to have constants so we can start ignoring some errors.  Like network does not exist.

[2018-07-12 22:19] #997 closed

[2018-07-12 22:21] rhatdan commented on #667
@mtrmac WDYT?

[2018-07-12 22:21] rhatdan commented on #667
Can we force the localhost prepend?

[2018-07-13 00:41] baude commented on #653
Id like this one still.

[2018-07-13 08:39] TomasTomecek opened #1087 "rootless: unhelpful error message when the user is not in /etc/sub{uid,gid}"
Unfortunately the error message is just `Failed`.

**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

[code]

[2018-07-13 08:44] TomasTomecek commented on #1087
Okay, I just read https://github.com/projectatomic/libpod/issues/1073 once more and realized this issue is a duplicate. Would it make sense to enhance the error message?

[2018-07-13 09:16] TomasTomecek commented on #1087
Addressed here: https://github.com/containers/storage/pull/197

[2018-07-13 10:17] giuseppe commented on #210
sure I can take a look at it.  Could someone more familiar with this part point me to where the ports are currently open?

[2018-07-13 11:44] rhatdan commented on #1087
I like the containers/storage patch, but I still think podman should give a nice error telling them to add an entry to /etc/subuid.

[2018-07-13 12:03] vrothberg commented on #1006
@rhatdan, with pleasure. Let's figure out some remaining issues of containers/psgo first and then I can add that to libpod.

[2018-07-13 12:20] baude commented on #210
I have to defer to @mheon ... this was his idea.

[2018-07-13 12:22] mheon commented on #210
@giuseppe I don't think we are opening them anywhere yet - presumably we'd do it somewhere in the OCI create code as we're starting to set up Conmon.

[2018-07-13 12:36] haircommander commented on #667
@baude I am not clear on what you asked

[2018-07-13 13:03] rhatdan commented on #1043
If podman can not find an image it returns 125.  I don't think this is an error, I think that Fedora for some reason did not have fedoraMinimal available for a while.

[2018-07-13 13:03] #1043 closed

[2018-07-13 13:05] rhatdan commented on #1043
fedoraMinimal      = "registry.fedoraproject.org/fedora-minimal:latest"

[2018-07-13 13:08] rhatdan commented on #1039
Weird I would have figured this would have gotten a 125 similar to the linked issue, since I believe these test failures were caused by missing fedoraMinimal.
	fedoraMinimal      = "registry.fedoraproject.org/fedora-minimal:latest"

[2018-07-13 13:08] rhatdan commented on #1042
Flakes do not seem to be happening now, I will close this issue, reopen if the flakes come back.

[2018-07-13 13:37] #877 closed

[2018-07-13 14:37] mheon opened #1090 "Podman ps manpage missing tables"
Looking at the `podman ps` manpage (Packaged Fedora version, 0.6.5), the source includes several tables that document format options and filters, but neither is present in the generated manpage

[2018-07-13 14:45] mheon commented on #1090
Seems like it's just my local environment, closing - sorry for the noise

[2018-07-13 14:45] #1090 closed

[2018-07-13 14:57] rhatdan commented on #1078
PR Merged this should be fixed.

[2018-07-13 14:57] #1078 closed

[2018-07-13 15:00] rhatdan commented on #526
@vrothberg @baude opened the first PR for this to add images support.  Right now we are planning on adding support with build tags so we can easily switch back and forth and run tests for performance without jeapordizing CRI-O.
But we have decided our main focus right now is to get podman to 1.0 by end of summer.

[2018-07-13 15:00] rhatdan commented on #526
https://github.com/kubernetes-incubator/cri-o/pull/1669

[2018-07-13 15:06] TomasTomecek opened #1092 "rootless: /etc/sub{uid,gid} in OpenShift is tricky"
I'm trying to run rootless podman in an OpenShift pod (so we can do scalable analysis of container images; current implementation uses `atomic --storage ostree` and skopeo).

The thing is that with OpenShift's anyuid feature it's not easy to predict the uid. `nss_wrapper` is being used as a solution to this problem.

Minimal reproducer:
[code]

So I did this:
[code]

[code]

and then created
[code

[2018-07-13 18:02] wking commented on #892
Won't we need something like what we did for `State` (#1033) here?

[2018-07-13 18:03] mheon commented on #892
Yeah, we will at some point need to split `Config` similarly.
And probably further split `State` - there's a lot of Linux-specific things sitting in the common `State` now.

[2018-07-13 18:15] #1073 closed

[2018-07-13 18:30] rhatdan commented on #439
We now have podman container cleanup.

[2018-07-13 18:30] #439 closed

[2018-07-13 19:29] rhatdan commented on #836
@aalba6675 I don't see this anymore with podman 0.7.1.  Are you still seeing it?

[2018-07-13 20:04] mtrmac commented on #667
**NOTE: All of this is assuming that the `localhost` prefixing is desirable**.

(For reference, earlier discussions in https://github.com/containers/image/pull/448 https://github.com/projectatomic/libpod/issues/639 , https://github.com/projectatomic/buildah/pull/648 , and elsewhere. I can’t remember _all_ of it, assuming that these are the latest and reflect what we learned before.)

I would, in p

[2018-07-13 20:31] mtrmac commented on #667
… which contains `repositories`:
[code]
and equivalently `manifest.json`:
[code]

The thing is, though, that as far as the image format can express, this _is_ `docker.io/library/load:test`.  Upstream `moby/moby` will produce exactly the above data when asked to save `docker.io/library/load:test`, and if you manually modify the tarball to use the fully-qualified format, on `docker load` the two wil

[2018-07-13 20:54] vrutkovs opened #1094 "Podman won't start container with `-ti` and volume mount"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description**

Podman hangs on starting a container with `-ti` and `-v`

**Steps to reproduce the issue:**

1. `sudo podman run --rm -v /:/host -ti registry.fedoraproject.org/fedora:27`

**Describe the results you received:**
No container created

**Describe the results you expected:**
Container, bash prompt in the container is displayed

[2018-07-13 21:13] mheon commented on #1094
Verified locally on F27.

Container is being created, and it seems like it is running. `podman run` is definitely hanging though.

[2018-07-13 21:13] mheon commented on #1094
Correction: I don't think it's actually hanging. Typing 'exit' does cause it to exit, and I can get the output of some bash commands.
Not seeing a prompt, though.

[2018-07-13 21:15] mheon commented on #1094
@vrutkovs Are you sure that's the right command line to reproduce? There's just a `-i` and no `-ti` - and this is expected behavior for attach without a terminal, Docker will act identically.

[2018-07-13 21:22] vrutkovs commented on #1094
@mheon oops, my fault. `-i` works fine (not allocating tty, so `exit` works) and `-t` works fine (no interactive mode). `-ti` won't create a container (at least its not visible in `podman ps -a`). Updated the description

On my other machine podman 0.6.4 on F28 works correctly - I'll check if updating to 0.7.1 breaks it

[2018-07-14 11:07] rhatdan commented on #667
Right I want it treated as localhost/load:test

[2018-07-14 12:46] baude commented on #667
I think @haircommander is on the right track after our discussion Friday.  @haircommander ... agree or would you like a little help?

[2018-07-14 12:50] baude commented on #736
@mheon sure, plus i dont really follow whats going on here.

[2018-07-14 12:56] haircommander commented on #667
Yeah I have the solution, just need to write a unit test and make sure it doesn't break anything.

[2018-07-16 09:53] jtudelag opened #1098 "error retrieving temporary directory for container XXXX: no such container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

It's constanly happening, and I don't know the exact steps tor reproduce it, It seems Its podman database (boltdb) is not consistent. Deleting the boltdb and re-running podman, fix it.

Here are the error messages I get:

[code]

[code]

**Steps to reproduce the issue:**

Don' t know yet, but this is hapenning very frequently.

**Desc

[2018-07-16 10:19] giuseppe commented on #1092
the busybox image has files owned by different users (not only root), so containers/storage tries to chown them with some uids/gids != 0.
I believe that podman has still only one uid available inside the user namespace, and after https://github.com/projectatomic/libpod/pull/1097 it will just fail to start.

[2018-07-16 11:46] giuseppe commented on #210
PR here: https://github.com/projectatomic/libpod/pull/1100

[2018-07-16 13:19] mheon commented on #1098
This looks like an issue with the `refresh()` code which runs once, the first time after Podman detects a reboot. @jtudelag Does this only happen after reboot? If not, is there anything special about your `/var/run`? We place a file there to make sure we know that `podman` has successfully initialized after a reboot. This code should not be running more than once between reboots, and could cause s

[2018-07-16 13:24] rhatdan commented on #1098
So we could trigger this issue if buildah rmi?

[2018-07-16 13:36] edsantiago commented on #1069
I've just seen what looks like the same failure via a different path: `podman kill` followed by `podman wait`. This one is much less reproducible than the first, but I can get it to fail via:
[code]
podman-0.7.2-2.git4ca4c5f.fc28.x86_64

[2018-07-16 13:40] #1087 closed

[2018-07-16 13:41] rhatdan commented on #1098
I think we should require the user to rm the container, would not want to have containers magically disappearing.

[2018-07-16 14:17] jtudelag commented on #1098
@mheon My FS layout is the Fedora default one. /var/run is a tmpfs FS:

[code]

Also, I don't know yet how to reproduce this yet, I have tried to reboot the laptop while having a container run by podman, and everything was fine.

I have been working a lot recently with podman & buildah, so I might have removed a container image that I shouldn't, maybe, but as I said, I'm hitting this issue very fr

[2018-07-16 14:23] TomasTomecek commented on #1092
Okay, I'll try again with the patch and with a different image.

[2018-07-16 14:38] mheon commented on #1098
It sounds like refresh() is running multiple times during the same boot.
This is a serious issue as it completely resets the state of all
containers. We need to hit the removed containers issue, but I see the
repeated calls to refresh as more of an issue.

On Mon, Jul 16, 2018, 10:17 Jorge Tudela <notifications@github.com> wrote:

[2018-07-17 15:05] cmoulliard opened #1883 "Docker image to be used to play with buildah"
Is there a Docker image that we could use to play with Buildah on non Linux's machine such as Macos ?

[2018-07-17 19:33] #730 closed

[2018-07-17 19:36] rhatdan commented on #1092
Patch has been merged.

[2018-07-17 19:36] #1094 closed

[2018-07-18 20:48] rhatdan opened #1109 "podman run does not support the --mount option"
We are getting requiest to add this option to projectatomic docker.  The reason for this is you can not use mount points with that container a ":".

https://bugzilla.redhat.com/show_bug.cgi?id=1539161

[2018-07-19 13:21] #210 closed

[2018-07-19 20:59] lukasheinrich opened #1118 "SELinux: container exits with code 139"
kind bug

**Description**

`podman run busybox echo hello world` returns exit code 139. 139 is not part of the listed exit codes in https://github.com/projectatomic/libpod/blob/master/docs/podman-run.1.md

**Steps to reproduce the issue:**

I'm provisioning a Vagrant Box using the vagrantfile

[code]

[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2018-07-19 21:05] mheon commented on #1118
Error 139 with no output? Interesting.

Can you add a `--log-level=debug` between `podman` and `run` to get debug-level logs and try and see what's going wrong?

[2018-07-19 21:17] rhatdan commented on #1118
That is the exit code from the echo command I believe. I am not seeing anything going wrong there?

[2018-07-19 21:21] lukasheinrich commented on #1118
@rhatdan why should the echo command error out? I would have expected to just print hello world

@mheon this is the debug output

[code]

[2018-07-19 21:29] lukasheinrich commented on #1118
still the same message

[code]

[2018-07-19 21:30] lukasheinrich commented on #1118
[code]

[2018-07-19 21:31] rhatdan commented on #1118
/usr/libexec/podman/conmon --help

[2018-07-19 21:33] lukasheinrich commented on #1118
no, it doesn't
[code]

[2018-07-19 21:34] mheon commented on #1118
It's running the packaged conmon, it just seems to be too old.
@rhatdan Looks like a packaging issue on F27

[2018-07-19 21:35] mheon commented on #1118
This also isn't our root cause, `--syslog` isn't added to the conmon command line unless `--log-level=debug` is present - we don't use the extra logging otherwise

[2018-07-19 21:35] rhatdan commented on #1118
Yes I screwed up on podman for f27.  Building now.  I will pull the PR.
Thanks @lukasheinrich for finding this.

[2018-07-19 21:37] rhatdan commented on #1118
https://koji.fedoraproject.org/koji/taskinfo?taskID=28453605

[2018-07-19 21:37] rhatdan commented on #1118
Should be fixed in podman-0.7.2-2.git4ca4c5f.fc27

[2018-07-19 21:40] mheon commented on #1118
We really need to add a check for bad Conmon versions. We got the `--version` flag merged there, but we haven't been keeping it updated, so we can't reliably check it to see if it's a good version.

[2018-07-20 13:11] vrothberg commented on #1006
This issue has been fixed with commit ba1871dac033783ab0329c9b3c9113a34a90992f.

[2018-07-20 13:11] #1006 closed

[2018-07-20 14:23] mheon opened #1119 "Cannot access forwarded ports remotely"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Ports forwarded to a container with Podman are accessible locally, but cannot be accessed by remote hosts.

**Steps to reproduce the issue:**

1. One machine 1: `podman run -d -p 80:80 -v <SOME_LOCAL_DIR>:/usr/share/nginx/html:ro nginx`

2. On machine 1: `iptables -t nat -S CNI-HOSTPORT-DNAT` to verify firewall rules are cr

[2018-07-20 14:24] mheon commented on #1119
@dcbw PTAL

[2018-07-20 16:54] haircommander commented on #667
closed via #1103

[2018-07-20 16:54] #667 closed

[2018-07-20 17:01] mheon commented on #614
This should be fixed now via #1104 - we use a mount counter to ensure that we don't unmount until every active mount is done.

[2018-07-20 17:01] #614 closed

[2018-07-22 17:03] vrothberg commented on #1119
I made it work with a `registry:2` container running on port 5000, but only with `--network=host`. (openSUSE Leap 15, podman 0.7.2)

[2018-07-23 08:25] mandre opened #1129 "Podman doesn't always honor default rw permission for volumes in podman run"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Podman does not always honor the default of `:rw`  when mounting a volume with `podman run --volume [...]`. It turns out podman takes the last explicitly specified mount permission as the default.

The doc for `podman run` says "By default, the volumes are mounted read-write".

**Steps to reproduce the issue:**

[code]

**D

[2018-07-23 09:55] mbaldessari opened #1130 "error mounting image volumes: error relabeling directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description**
Trying to play with podman with the idea of using it in openstack. Run a podman run command which fails with:
root@foobar-0 ~]# podman run -d --name=test_podman-docker-2 -e PCMK_stderr=1 \
  --net=host -e PCMK_remote_port=3121 -v /etc/hosts:/etc/hosts:ro -v /etc/localtime:/etc/localtime:ro \
  --user=root --log-driver=journal

[2018-07-23 10:52] vrothberg commented on #1130
I tried reproducing locally (podman 0.7.3 on openSUSE Leap 15) where it works. I'll setup a VM and report back. There were a bunch of mount-related fixes since 0.6.4.

I wonder why CentOS 7 is still on 0.6.4 (Cc: @rhatdan).

[2018-07-23 11:43] vrothberg commented on #1130
@mbaldessari that seems to be a regression in 0.6.4. I ran it in a VM with the podman from the main repos (i.e., 0.6.1) where it works. Using 0.6.4 breaks exactly as you describe. I suggest closing the issue as it seems to be related to 0.6.4 in this specific repository.

[2018-07-23 12:14] mbaldessari commented on #1130
Ack, thanks for your help. Worksforme. I will hunt down some newer repos for this then.

[2018-07-23 12:14] #1130 closed

[2018-07-23 12:36] mheon commented on #1129
Sounds like a parsing issue - @umohnani8 PTAL

[2018-07-23 13:02] rhatdan commented on #1129
Thanks @mandre This should be an easy fix.

[2018-07-23 13:48] jesperpedersen opened #1133 "Port forwarding not working locally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

I have an Openshift PostgreSQL image here: https://github.com/jesperpedersen/openshift-pgsql

Once booted the pod doesn't allow access, but it works from within the pod (step 5).

I did try https://github.com/projectatomic/libpod/issues/661#issuecomment-393632515 but that didn't work, hence a new issue.

The `env.txt` file

[2018-07-23 13:53] mheon commented on #1133
Probably a duplicate of #1119 - though it seems like you might not be able to hit the ports from localhost?

[2018-07-23 13:55] mheon commented on #1133
Pretty clear we are having significant issues with CNI right now though.

@jesperpedersen Can you try with CRI-O and see if it fails there as well? I want to verify this is definitely a CNI issue.

[2018-07-23 13:55] jesperpedersen commented on #1133
Yes, this is from localhost.

[2018-07-23 13:56] jesperpedersen commented on #1133
@mheon Do you have a pointer on how I test with CRI-O ?

[2018-07-23 14:13] mheon commented on #1133
@jesperpedersen I tried to construct a tutorial, but it's proving to be more trouble than it's worth - I'll follow up with the CRI-O maintainers and see if they're affected

[2018-07-23 14:53] mheon commented on #1133
@jesperpedersen Can you do a `dnf info containernetworking-cni`? Want to verify if we're seeing the problem on multiple versions

[2018-07-23 14:56] jesperpedersen commented on #1133
[code]

[2018-07-23 15:01] mheon commented on #1133
Alright, we're on the same version, then - I think the recent upgrade from 0.6.0 to 0.7.1 broke us. Thanks!

I'm filing a bug against the containernetworking-cni package.

[2018-07-23 15:03] runiq opened #1136 "`podman create --mac-address` doesn't work"
/kind bug

**Description**

The `--mac-address` switch to `podman create`/`podman run` doesn't work.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

An automatically-assigned MAC address.

**Describe the results you expected:**

The MAC address I specifiied in the argument.

**Output of `podman version`:**

[code]

**Output of `podman info`:**

<details>
<summar

[2018-07-23 15:06] mheon commented on #1136
@rhatdan Looks like we missed a flag when we were removing options CNI doesn't support...

@runiq Thanks. Don't know when we'll be able to implement this, given that our network backend (CNI plugins) doesn't really offer support for this. We may end up disabling the flag until this happens.

[2018-07-23 15:09] jesperpedersen commented on #1133
Same issue with
[code]

[2018-07-23 15:13] TomSweeneyRedHat commented on #1133
FWIW, just tested #1119 against containernetworking-cni 0.6.0 and the latest Podman and it worked without an issue.

[2018-07-23 15:14] TomSweeneyRedHat commented on #1133
oops, hit the close button by mistake.

[2018-07-23 15:21] runiq commented on #1136
No worries, for the use-case I'm eyeing (node-locked license server in container) I can use docker in the meantime.

[2018-07-23 15:30] mheon commented on #1133
@TomSweeneyRedHat I managed to reproduce on F27, but that might have been a fluke.

[2018-07-23 16:03] mheon commented on #1119
Talked with CNI maintainers - it seems like a problem with `firewalld` on Fedora. Not sure what openSUSE ships firewall-wise but it seems like a safe bet it's a conflict with firewall rules.

[2018-07-23 16:03] mheon commented on #1133
Talked with the CNI portmap maintainer, seems like it's a conflict with firewalld.

[2018-07-23 16:06] jesperpedersen commented on #1133
Doing `systemctl stop firewalld` doesn't help

[2018-07-23 16:06] mheon commented on #1133
@jesperpedersen I had to disable firewalld and restart the machine to actually have the conflict fixed - can you try that?

[2018-07-23 16:11] mtrmac opened #1139 "Questions about naming of pulled images"
(From #1112.)

AFAICT the outcome of #1085, apart from pulling the right image, which is clearly correct, is that pulled _name_`@sha256:`_digest_ images are named in the storage as _name_`:none` (where `none` is an actual tag string, not “missing”, and the digest not recorded). (I can now confidently refactor the code to do this inside the `imageParts` abstraction without breaking anything, but th

[2018-07-23 16:43] vrothberg commented on #1119
Huh, good to know. I will check again if the remote machine isn't on Leap 42.3 actually (no firewalld). Thanks, @mheon!

[2018-07-23 17:08] jesperpedersen commented on #1133
Nope, that didn't work either with both containernetworking-cni-0.6.0 and 0.7.1

strace shows:
[code]

[2018-07-23 19:42] edsantiago opened #1143 "podman mount (no args): no output"
New in podman-0.7.3-1.git0791210.fc28:
[code]

[2018-07-23 20:06] mheon commented on #1143
Side effect of #1104 changing our handling of `podman mount` - we changed the handling of c.state.Mountpoint internally, and now the external consumer I didn't know existed has broken as a result.

We should make `container.Mountpoint()` call directly into containers/storage to determine if the container is mounted

[2018-07-23 20:32] mheon commented on #1143
Opened #1144 to fix

[2018-07-24 10:12] mandre opened #1146 "Podman hangs with deadlock on /var/lib/containers/storage/storage.lock"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Got podman in a locked state:

[code]

`strace` shows it's waiting on the lock at "/var/lib/containers/storage/storage.lock":

[code]

**Steps to reproduce the issue:**

1. Launch several containers at the same time

2. Wait for podman to hang

**Additional information you deem important (e.g. issue happens only occasionall

[2018-07-24 10:23] aengelke opened #1147 "Rootless build: cannot specify gid= mount options for unmapped gid in rootless containers"
*Note: I'm unsure whether this is a bug in buildah or podman. Please tell if I should file another bug report against buildah.*

**Description**

Consider this simple Dockerfile:
[code]

Using `podman --log-level=debug build .` fails with `cannot specify gid= mount options for unmapped gid in rootless containers`, [logs here](https://home.in.tum.de/~engelke/raw/podman.3.log). (Note: the logs are c

[2018-07-24 12:20] TomSweeneyRedHat commented on #1147
@aengelke Thanks for the problem report.  We'll take a look at it.  Adding an issue here in Podman or in Buildah works either way.

A couple of questions for you to make sure I'm on the same page.  When you ran the `podman --log-level=debug build .` you were just on the Fedora Atomic Workstation right?  You hadn't created a container and were trying to do the podman command from within the contain

[2018-07-24 12:31] mheon commented on #1146
Looks like a c/storage issue, probably around initialization.
@nalind PTAL

[2018-07-24 12:32] rhatdan commented on #1146
If you kill the podman inspect do things clear up?

[2018-07-24 12:37] rhatdan commented on #1147
If podman build does not work yet in rootless mode, we should probably exit early.  But the rootless stuff is very experimental at this point.
@giuseppe Can you take a look.

[2018-07-24 14:08] mandre commented on #1146
Sorry, I tore down the environment and worked around the issue by disabling concurrency in my script. I'll post again when I reproduce the lock.

By the way, I've noticed I'm running quite an old version of podman. I've seen there are rpms for 0.6.4 around (I'm using 0.6.1 from centos-extras). Is version 0.7.x already packaged for centos?

[2018-07-24 14:09] mheon commented on #1146
@lsm5 is a good source for an answer on that

[2018-07-24 14:09] rhatdan commented on #1146
We release a podman every week 7==July 3 == third week.

[2018-07-24 14:12] rhatdan commented on #1146
@lsm5 We really need to update the README on how to get the latest packaged version for each distro.

[2018-07-24 14:15] miabbott opened #1149 "LABELs split across mutliple lines in Dockerfile are handled incorrectly"
/kind bug

When building an image from a Dockerfile that has key=value pairs split across multiple lines of a single LABEL instruction, the resulting image has a mangled LABEL output.

This was observed on Fedora 28, using `podman` 0.7.2:

[code]

If I change the Dockerfile to use a single LABEL instruction per key=value pair, it works correctly:

[code]

[2018-07-24 14:19] mheon commented on #1149
This looks like a Buildah bug, as we use Buildah for builds.
@miabbott Can you refile against https://github.com/projectatomic/buildah

[2018-07-24 14:23] miabbott commented on #1149
Ah, that makes sense.  Moving over there - projectatomic/buildah#879.

[2018-07-24 14:23] #1149 closed

[2018-07-24 17:53] rhatdan commented on #1118
Just moved to batch update

dnf install -y podman --enablerepo=updates-testing

[2018-07-24 18:33] aengelke commented on #1147
@TomSweeneyRedHat Yes, this is native FAW, no nested containers. If I drop the `RUN` from the Dockerfile, the build succeeds just fine. Also running `podman run --network=host myfed dnf -y update` afterwards works as intended. (Without the network option, the container has no network access (which is probably intended?).)

[2018-07-24 18:36] mheon commented on #1147
@aengelke Podman presently has better rootless support than Buildah, which is probably why the `RUN` line works in Podman but not `podman build`. Network support without --host is actually being worked on - @giuseppe is looking into it.

[2018-07-24 18:37] aengelke commented on #1147
Cool, thanks!

[2018-07-24 18:43] TomSweeneyRedHat commented on #1147
Dang @aengelke you beat me to the punch.  I was just about to write up a note saying I'd tested and found out exactly what you wrote.  FWIW, the command runs fine if you run as root.

[2018-07-24 18:47] giuseppe commented on #1147
I *think* that is a bug in runc.  It should not barf if we are already in an user namespace but we don't specify UID/GID mappings in the OCI spec file.  I've already fixed a similar issue in runc (https://github.com/opencontainers/runc/commit/cbcc85d311725031e5957385f3ad43acfc0b66f2) and it is probably a similar one.  To avoid these kind of issues altogether in podman I've added this code ed026117

[2018-07-24 19:08] TomSweeneyRedHat commented on #1147
FWIW, I tried the build using Buildah by itself as a non-root user.  It didn't complete there either, but made a lot more progress.  It failed in the commit process.  The `RUN dnf -y update` command completed successfully in Buildah.  I've logged an error at:  https://github.com/projectatomic/buildah/issues/882.

[2018-07-24 20:03] AkihiroSuda commented on #1147
I think the issue will be fixed via "Step 2" of https://github.com/opencontainers/runc/issues/1837
@giuseppe PTAL?

[2018-07-24 22:14] mtrmac commented on #1139
Also maybe @nalind for the questions about recording original pulled digests in c/storage.

[2018-07-24 22:48] edsantiago opened #1154 "podman rmi: overzealous removal of referenced images"
This seems to be a variant of #992. Build an image:
[code]
Build a second image based on the first:
[code]
Run `podman images`, see img1 and img2 as expected. Delete the new (second) image, and the first one is gone too:
[code]
podman-0.7.3-1.git0791210.fc28

[2018-07-25 07:36] giuseppe commented on #1147
@AkihiroSuda yes, I guess so.  Altough, it will probably easier for now to drop that check in runc since it cannot work correctly in all situations.

[2018-07-25 07:55] AkihiroSuda commented on #1147
W.r.t. https://github.com/opencontainers/runc/issues/1837 , maybe I should close the "Step 1" PR and go to "Step 2" directly?
cc @cyphar

[2018-07-25 09:17] cyphar commented on #1147
Yeah, I think splitting up the rootless mode is probably the best way of dealing with this.

[2018-07-25 09:45] lukasheinrich commented on #1118
the syslog thing seems solved, but still it's not working
[code]

[2018-07-25 09:55] AkihiroSuda commented on #1147
:+1:, PTAL the Step2 POC? https://github.com/AkihiroSuda/runc/commit/eabcf365351f55af951af2dbeb0822efe52c4379

If SGTY I'll open a PR

[2018-07-25 12:00] mheon commented on #1118
@lukasheinrich Can you get any messages from `conmon` out of syslog?

It looks like the container is starting successfully and the application in the container is exiting with a 139, but I'd like the conmon logs to be certain.

[2018-07-25 12:40] rhatdan commented on #1118
journalctl -b | grep -i conmon

[2018-07-25 12:42] lukasheinrich commented on #1118
[code]

[2018-07-25 12:45] lukasheinrich commented on #1118
I removed `-it` in case that would cause an issue

[code]

[code]

[2018-07-25 12:59] rhatdan commented on #1118
Could  you run a sh inside of busybox or does this fail also.  Do any podman run IMAGES work for you?

[2018-07-25 13:06] lukasheinrich commented on #1118
no all images I tried so far fail. See the vagrant box above, with that it should be possible to reproduce the behavior

[2018-07-25 13:11] mheon commented on #1118
I think this has to be `runc` - conmon seems to be working fine. Though, in the first logs, we have:

 `Jul 25 00:14:55 localhost.localdomain conmon[7567]: conmon 9d75cbd47d65fbefdd26 <nwarn>: stdio_input read failed Input/output erro`

And that is a little concerning... but if it's only happening with `-t -i` and it fails without those it can't be the root cause.

[2018-07-25 13:32] mheon commented on #1118
Could be specific to how we're using runc, but that's not easy to test. I'll try your Vagrant box later today and see if I can replicate.

[2018-07-25 13:38] rhatdan commented on #1118
Docker uses an internal version of runc not the public one.
@mrunalp WDYT?

[2018-07-25 13:41] rhatdan commented on #1118
Could this be a bad version of runc?
[code]

[2018-07-25 13:51] haircommander opened #1157 "Duplicate code in getting pods"
Currently, all of the pod commands that get latest, all or pods with args have a lot of duplicate code. I am filing this issue to keep track of fixing it.

[2018-07-25 16:13] lukasheinrich commented on #1118
i have the same

[vagrant@localhost ~]$ rpm -q podman runc
podman-0.7.3-1.git0791210.fc27.x86_64
runc-1.0.0-36.gitad0f525.fc27.x86_64

[vagrant@localhost ~]$ runc --version
runc version 1.0.0-rc5+dev
spec: 1.0.0

On Wed, Jul 25, 2018 at 3:41 PM Daniel J Walsh <notifications@github.com>
wrote:

[2018-07-25 17:11] mrunalp commented on #1118
It looks like the container process is hitting a segmentation fault. If we can gather the runc config.json then it will be easier to figure out why.

[2018-07-25 17:16] mheon commented on #1118
`podman inspect $ctrid | grep StaticDir` should print the path to the container's persistent files directory; inside that directory is `config.json`

@lukasheinrich Can you pastebin the contents of a container's config.json?

[2018-07-26 01:09] baude commented on #1139
The none tag being used is more or less what docker shows.  Realistically, I think the tag is supposed to be blank.  In docker, iirc, if the tag is blank, then it renders <none> in output.  I can relook at this upon return from PTO if you like ... the none for now however is on purpose.

The second point you raise looks like a bug.  Can you paste an example of whats missing/what should be there an

[2018-07-26 19:41] preethit opened #1166 "Capitalization not standardized for command line help text."
/kind bug

**Description**
Command line help text does not look to be standardized in regards to capitalization.

**Steps to reproduce the issue:**

1.  $ sudo podman --help

**Describe the results you received:**

[code]

**Describe the results you expected:**

All the help text begin with lower case?

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output

[2018-07-26 19:50] mheon commented on #1166
I think this also extends beyond just the helptext for just `podman` - I tried `podman attach --help` and the `--latest` flag had different capitalization from the others.

[2018-07-26 20:15] rhatdan commented on #1166
@mheon I think you are wrong
[code]

[2018-07-26 20:16] rhatdan commented on #1166
@preethit Just about every tool I looked at Capitalized these descriptions, So I capitalized them.

[2018-07-26 22:04] mtrmac commented on #1139
(Enjoy your PTO; this can absolutely wait.)

Where?

I suspect that this is strongly related to the second point actually - e.g. Docker, when pulling an image, always records a digest reference (whether pulling by tag, digest, or “all tags”), but records a tagged reference _only if a tag is known_ (pulling by tag, or “all tags”). It’s not that a tag is “blank” when pulling by digest (which would s

[2018-07-27 02:39] preethit commented on #1166
@rhatdan Thank you for looking at other tools before making the change. I did not know what the standard is in other tools. I just looked at rpm and saw that it was lowercase and assumed that is the norm.

[2018-07-27 10:18] ypu opened #1168 "container init very slow"
/kind bug

**Description**
The container start with podman run init very slow. If we start the container with -d option and then use another command line to try to check it, the command will report "container has already been removed
". Here use podman ps as an example.

**Steps to reproduce the issue:**
Use a script to test it:

1.  Use podman run  -d to create a container
2.  Use podman ps -a to

[2018-07-27 11:32] rhatdan commented on #1166
I looked at git, docker, systemctl.

I guess the bottom line is they should be consistent.

[2018-07-27 11:52] rhatdan commented on #1168
@ypu So the container is being created, but the ps command reports that it is not, because the network has not been setup in time for the ps command?

If I specify a sleep time, then it works?

@mheon WDYT

[2018-07-27 12:55] elimisteve commented on #746
Hey all,

Socket activation would be a nice bonus from my perspective, but having something with similar functionality to Docker Compose to spin up multiple podman containers that can talk to each other would be huge. And without something similar, getting people to use podman over Docker is going to be hard (outside of the Kubernetes case, where you have Kompose).

Any updates or advice on this?

[2018-07-27 13:00] rhatdan commented on #746
@elimisteve We will look into podman Compose.  We have some difficulty in that we don't have a daemon, other then conmon.  @mheon has some ideas on this.  But getting more contributors would help make it happen, hint hint,  PRs welcome.

[2018-07-27 13:03] elimisteve commented on #746
Why is a daemon needed to create a pod with multiple containers in it that can talk to each other?  (I've used rkt and am now attracted to podman as well partially due to its superior architecture of not needing a daemon.)

Hint understood :-) .

[2018-07-27 13:11] rhatdan commented on #746
I thaught with compose you would be starting up multiple containers and having them communicate, so something to keep track of these communications and requirements.

[2018-07-27 13:12] rhatdan commented on #746
BTW We are also trying to do some experimental stuff with handling of pods.

[2018-07-27 13:29] mheon commented on #746
Don't even need to order container starts if we add dependencies between service containers as appropriate - `podman pod start` will guarantee proper startup order of containers base on their dependencies.

Also means you'll be able to interact with compose-defined pods in a natural fashion using normal pod commands (start, stop, restart will all work on the compose pod without issue).

[2018-07-27 13:33] mheon commented on #746
I think it would be best to wait for the work on pause containers for sharing pod namespaces done that @haircommander is working on to land before seriously investigating this, though. That will make getting all services connected and talking to each other much easier.

[2018-07-27 13:53] haircommander commented on #1157
closed via #1161

[2018-07-27 13:53] #1157 closed

[2018-07-27 14:23] ypu opened #1171 "podman rootless rootfs test failed"
/kind bug
The rootless rootfs test case failed with "fork/exec /root/go/src/github.com/projectatomic/libpod/bin/podman: permission denied"

**Steps to reproduce the issue:**

1. Run the rootless rootfs test case with ginkgo
 ginkgo --focus="Podman rootless" -v test/e2e/.

**Describe the results you received:**
The test output details is as following:

[code]

**Describe the results you expected:**

[2018-07-27 14:32] mheon commented on #1168
So it's having issues finding the network namespace... Hm.

It's definitely https://github.com/projectatomic/libpod/blob/master/libpod/container_linux.go#L35-L36 triggering based on the ErrCtrRemoved we're returning.

[2018-07-27 14:35] mheon commented on #1168
This is properly strange, given that `podman run` should never return before the network namespace has fully established itself...

It could be a race between the cleanup process launched by `podman run -d` cleaning up the network ns, and `ps` trying to join it? But that might require the two to be inside the database at the same time which shouldn't be allowed...

[2018-07-27 14:38] ypu commented on #1168
Hi @rhatdan
Not sure it is caused by the network setup. But the process for init the container should not finished when we try to use ps or logs to show it. And yes, if we sleep for 1s, then it works as expect.

[2018-07-27 14:39] mheon commented on #1168
This has to be environment related, I can't reproduce locally... @ypu Is this on AWS or similar?

[2018-07-27 15:00] mheon commented on #1133
Hi, sorry for the delay here - finally got around to testing/reproducing locally.

I can successfully telnet to 5432 from localhost, so the port is being forwarded.

However, there is definitely a hang in the `psql` process.

[2018-07-27 15:01] mheon commented on #1133
As such, it looks like port forwarding is working, but something about the traffic is not what `psql` expects, so it's hanging trying to connect.

[2018-07-27 15:02] mheon commented on #1133
I'm not 100% sure if this is a Podman bug or a `psql` bug, given that traffic seems to be flowing between host and container normally.

[2018-07-27 15:02] ypu commented on #1168
Hi @mheon It is a rhel 8 kvm guest.

[2018-07-27 15:03] mheon commented on #1146
I'm going to leave this open for other people to report potential locking issues, but it's hard to track these down unless we have more to go on.

[2018-07-27 15:10] mheon commented on #1069
I think this is related to #1168

[2018-07-27 15:11] mheon commented on #1069
I was hopeful my netns refactor this week would have fixed this, but I think #1168 is using the latest code, so evidently not. Will look into this next week.

[2018-07-27 15:14] rhatdan commented on #1171
@ypu Any AVC messages?

[2018-07-27 15:30] rhatdan commented on #1168
I would figure it is a conflict between `podman container cleanup` and `podman ps`.

[2018-07-27 15:31] jesperpedersen commented on #1133
The `psql -h localhost -p 5432 -U myuser mydb` works from within the image, so it has to do something with the network bridge.

If that is all external to podman, then we can close here

[2018-07-27 15:34] mheon commented on #1168
By the time `container cleanup` exits, the netns should be completely gone from the database. If `ps` happens before this, it should find a good, clean netns and join it successfully. If `ps` happens after it, there is no namespace in the database, so it does not join a netns. They should not be able to happen concurrently due to database and container locking.

[2018-07-27 15:35] jesperpedersen commented on #1133
Adding `--network host` to `podman run` makes the command work

[2018-07-27 15:39] rhatdan commented on #1042
Yes

[2018-07-27 15:46] ypu opened #1172 "teardown routine report "panic: runtime error: slice bounds out of range""
/kind bug

**Description**
Podman run or podman rm sometimes report "panic: runtime error: slice bounds out of range" when it try to do clean up and del CNI network. But the command line still can finished with status 0.

**Steps to reproduce the issue:**

1. Run ls with alpine
# podman --log-level debug run docker.io/library/alpine:latest ls

**Describe the results you received:**
Error msg repor

[2018-07-27 15:48] mheon commented on #1172
Known issue. There is a bug against iptables-go to fix this.

[2018-07-27 15:55] mheon commented on #1172
https://github.com/coreos/go-iptables/issues/49

Relevant issue

[2018-07-27 15:58] mheon commented on #1042
Damn, I was really hoping this was just the CGroup issue.

I don't think we've seen this on our CI since then.

[2018-07-27 22:31] elimisteve commented on #746
I believe @mheon is referring to #1126, which was merged 8 hours ago! :tada:

That was fast.

[2018-07-27 22:34] mheon commented on #746
@elimisteve Actually separate - I don't think we have a PR open for it yet. We're working on a way to easily share namespaces within a pod without worrying about container startup ordering. We can probably make this work without it, though, now that I think about it.

[2018-07-28 01:42] elimisteve opened #1175 "[Question] Podman architecture"
I am drawn to podman and rkt because they don't require a daemon like Docker does, and I believe that there shouldn't be a single point of failure that would kill all containers if it died itself.  (It doesn't help that I've had to restart the Docker daemon in order to solve problems with Docker; bye bye containers...)

Indeed, in @rhatdan's blog post at
https://www.projectatomic.io/blog/2018/02/r

[2018-07-28 01:46] mheon commented on #1175
`conmon` isn't really a daemon in the same sense Docker is - it's an extremely small C binary that wraps each container we launch (one conmon per container), providing basic services such as attaching to the container, recording its exit code, and cleaning up resources after it exits. `conmon` only exists while the container it is managing is running - once it exits, `conmon` will also exit.

[2018-07-28 02:01] elimisteve commented on #1175
That sounds fantastic, but does that mean that `podman ps` somehow gets its info from talking to each individual `conmon` instance without needing a separate, persistent daemon?

[2018-07-28 02:08] mheon commented on #1175
`ps` actually doesn't need to talk directly to `conmon`. We use `runc` to get the status of a container, then if it has exited, it looks for a file that `conmon` creates giving information on how (exit code, whether it was killed due to an OOM condition, and the rough time it exited). No daemon involved.

[2018-07-28 11:51] rhatdan commented on #746
I really would rather rely on systemd unit files for creating dependencies on container startup.  But I guess we need to think about this some more.

[2018-07-29 19:57] baude commented on #1168
@mheon with master on my laptop, what I am seeing is that it isn't ps throwing the error, but rm.

[2018-07-29 19:59] mheon commented on #1168
Same fundamental issue - locks should prevent this from happening.

[2018-07-29 20:04] mheon commented on #1168
This is happening before `rm` actually tries to remove the container, too - so it can't be a race around removal.

Somehow, we're retrieving a container from the database that has a valid network namespace path, but that path no longer exists on disk. That shouldn't be possible given that the state is saved back to the DB immediately after we delete the namespace, and both of those operations happ

[2018-07-29 20:23] mheon commented on #1168
Opened #1180 to fix

[2018-07-30 04:43] praveenkumar opened #1182 "No subuid ranges found for user "<username>" executing any podman command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1. Updated podman from 0.6.4 to 0.7.3 to check non-root user functionality.

[code]

2.  Executed `podman version`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Version info for podman.

**Additional information you deem important (e.g. is

[2018-07-30 09:03] vrothberg commented on #1154
Fixed with #1174.

[2018-07-30 09:03] #1154 closed

[2018-07-30 10:49] giuseppe commented on #1171
What commit of podman are you using? We have done some changes recently in how it re-execs itself

[2018-07-30 11:43] giuseppe commented on #1171
and also, is your user present in `/etc/subuid` and `/etc/subgid`?

[2018-07-30 12:04] edsantiago opened #1183 "behavior change: podman mount: no longer idempotent"
Repeated `podman mounts` now stack on top of each other:
[code]
podman-0.7.4-4.git80612fb.fc28

Although this could be seen as unimportant, one could argue that `podman mount` should behave as "make sure the fs is mounted, and give me the mount point", not as "keep mounting it over and over so I the end user have to keep track of how many times I've invoked podman mount".

[2018-07-30 12:08] mheon commented on #1183
This was a deliberate change to allow concurrent use of mount (potentially
in different shells) without worrying about a single unmount wiping out all
ongoing mounts in use. I believe Dan added a force option to unmount to get
the former behavior still?

On Mon, Jul 30, 2018, 08:04 Ed Santiago <notifications@github.com> wrote:

[2018-07-30 12:20] rhatdan commented on #1182
Can you check the /etc/subuid file to see if their are entries for your user?
grep prkumar /etc/subuid

If this user account has been around for years, then you will have to manually add entries to this file.
useradd does this automatically when creating new users.

 grep dwalsh /etc/subuid
dwalsh:100000:65536

[2018-07-30 12:21] rhatdan commented on #1182
The error message could be better and does the man page tell you anything?

[2018-07-30 12:21] rhatdan commented on #1182
@giuseppe PTAL

[2018-07-30 12:33] edsantiago commented on #1183
OK, I can buy that. However there doesn't seem to be a `--force` anywhere: not in man page, or in --help, or in actual practice. Should I file an issue? Rename this one?

[2018-07-30 12:41] rhatdan commented on #1183
I have it in the library but not in the command.  I will open a PR to allow podman umount and buildah umount to --force the umount.

[2018-07-30 12:43] giuseppe commented on #1182
in the man page we explicitly say the user must be present in the files `/etc/subuid` and `/etc/subgid`.

We probably need to make this error message clearer as many users will hit it, it is coming from containers/storage: https://github.com/containers/storage/blob/master/pkg/idtools/idtools.go#L142-L147.

PR here: https://github.com/containers/storage/pull/204

[2018-07-30 13:41] giuseppe commented on #1182
how does your /etc/subuid file look now?  I think busybox needs more uids than you currently have mapped

[2018-07-30 14:03] umohnani8 commented on #1129
Fixed in #1142

[2018-07-30 14:03] #1129 closed

[2018-07-30 14:08] giuseppe commented on #1182
@praveenkumar please manually edit your file and add enough user, `usermod --add-subuids 10000-65536 USERNAME` adds less users as the second argument is the maximum ID of the range, not the range size

[2018-07-30 16:08] afbjorklund opened #1189 "User running podman segfaults"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Running podman as user causes crashes.

**Steps to reproduce the issue:**

1. `podman version`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Out

[2018-07-30 16:17] mheon commented on #1189
@giuseppe PTAL

[2018-07-30 16:37] giuseppe commented on #1189
@afbjorklund is the podman distributed by Fedora?  I cannot reproduce with the last version available there.

Could you try https://koji.fedoraproject.org/koji/buildinfo?buildID=1131468 ?

[2018-07-30 16:48] afbjorklund commented on #1189
Nope, I built it from source (using `buildroot` for minikube)

[deploy/iso/minikube-iso/package/podman/podman.mk](https://github.com/afbjorklund/minikube/blob/f61fad98571d3b2f5d1b0f1868d18081a2f9524b/deploy/iso/minikube-iso/package/podman/podman.mk)

Had to do some vendor hack for "varlink" - whatever that is...

Seems like it wasn't getting installed with the `install.tools` ?

[2018-07-30 16:51] afbjorklund commented on #1189
@giuseppe : maybe it requires that `/etc/subuid` to be present ? (rootless mode)

But maybe not for the "version" command, if that happens to be the case...

[2018-07-30 16:56] afbjorklund commented on #1189
Yes, that seems to have been it:
[code]

Same as documented in #1185

[2018-07-30 16:56] mheon commented on #1189
@afbjorklund re: varlink - If you don't want if in your build, edit the Makefile and remove `varlink` from BUILDTAGS (or manually set the environment variable)

[2018-07-30 16:59] afbjorklund commented on #1189
@mheon : I have no idea, I was just updating podman (trying to get away from kpod eventually)

https://github.com/kubernetes/minikube/pull/3026

Happy to build with the varlink feature, as long as it works... Maybe I could `go get` it instead ?

[2018-07-30 17:04] mheon commented on #1189
@afbjorklund There's a dependency package (`libvarlink`, I think?) as well. Generally speaking, if you're not thinking you need a remote API, it's safe to build without varlink.

[2018-07-30 17:06] giuseppe commented on #1189
@afbjorklund it is required for rootless containers, but if it is not present it should definitely not crash.

I've just built the same version you are using but still it works here, I just get the error message and podman exits.

On what system are you trying to run it?  I've tried to use it only on Fedora and Ubuntu

[2018-07-30 17:11] afbjorklund commented on #1189
Users seem to be happy about hi-jacking the old docker daemon (of minikube), not sure if that should be allowed to continue or if they should use their own container infrastructure instead of the (mini) cloud's ?

https://kubernetes.io/docs/setup/minikube/#reusing-the-docker-daemon

Currently I'm just ssh'ing into the machine, happy that it can show the images now (cache got turned off...) even if

[2018-07-30 17:14] afbjorklund commented on #1189
@giuseppe : it is running the "minikube.iso", which is a buildroot 2018.05 environment

[2018-07-30 17:48] umohnani8 commented on #472
Fixed in #1137.

[2018-07-30 17:48] #472 closed

[2018-07-31 07:45] pkubatrh commented on #1069
I hit this (or maybe similar?) issue as well while trying to check if our existing test suite for docker images works using podman.

My reproducer:
[code]
After this the command keeps hanging indefinitely. For a small enough sleep value during the container creation the command does not hang and finishes successfully.

This is on:
[code]

[2018-07-31 08:34] giuseppe commented on #1182
thanks for confirming it.  I am going to close this issue as we already are dealing with improving the documentation and the error message

[2018-07-31 08:34] #1182 closed

[2018-07-31 09:04] giuseppe commented on #1189
I'm still not able to reproduce the segfault when the /etc/subuid file is missing.  What changes have you done to varlink?  If you have the binary you have built somewhere, that could help as well.

[2018-07-31 09:55] ypu commented on #1171
Hi @giuseppe added a user with uid and gid 1000 and checked the files you mentioned. But it will not influence the results.

Do more test and find out this is caused by the directory we store the podman binary. If we test it under the bin of source code(/root/go/src/github.com/projectatomic/libpod/bin/podman), it will failed, and if we test it with /usr/bin/podman , it will passed. So Maybe we can

[2018-07-31 10:18] giuseppe commented on #1171
is `/root/go/src/github.com/projectatomic/libpod/bin/podman` readable by an unprivileged user?  I believe that is the issue

[2018-07-31 10:27] ypu commented on #1171
Seems it is readable from ls -l:
[code]
But when I switch to another user, it will report the same error as there is some dir in the path is not readable.
[code]
Also report permission denied. So this is as expect. Will close this one as it is not a real bug of podman. Just need add some check and skip step inside the test to ignore the test failed.

Thanks a lot @giuseppe for your help.

[2018-07-31 10:27] #1171 closed

[2018-07-31 13:02] mheon commented on #1069
I believe that #1186 will resolve this

[2018-07-31 13:28] rhatdan opened #1192 "podman run --mount option needed."
--mount |   | Attach a filesystem mount to the container
-- | -- | --

[code]

[2018-07-31 15:03] cevich opened #1194 "error pulling image "$FQIN": unable to pull $FQIN: unable to find image in the registries defined in "/etc/containers/registries.conf""
/kind bug

**Description**

When pulling or run w/ implied pull, an expired/invalid ``auth`` token, causes podman error with less than helpful message.

**Steps to reproduce the issue:**

1.  ``podman login -u $USER -p $PASS my.registry.example.com``

2. ``$EDITOR ~/.docker/config.json`` - mess up the token for ``my.registry.example.com``

3.  ``podman pull my.registry.example.com/some_image:lates

[2018-07-31 16:36] cevich commented on #1194
Update: It seems I can't consistently reproduce this via editing ``.docker/config.json`` (as user or root) some trickery is involved here.  Running ``sudo podman help login`` shows ``--authfile`` defaults to ``${XDG_RUNTIME_DIR}/containers/auth.json``, however ``sudo cat ${XDG_RUNTIME_DIR}/containers/auth.json`` gives ``ENOENT``.  Even as root, the file doesn't exist.

The only way I can consisten

[2018-07-31 18:06] mheon commented on #1168
#1186 should have fixed

[2018-07-31 18:06] #1168 closed

[2018-07-31 18:08] mheon commented on #1069
#1186 merged. That should have addressed the root cause, so I'm going to close. @edsantiago @pkubatrh Feel free to reopen if this behavior happens again on 0.8.1 once we release it on Friday.

[2018-07-31 18:08] #1069 closed

[2018-08-01 19:37] mheon commented on #1118
Sure, reopening

[2018-08-02 10:33] afbjorklund commented on #1189
@giuseppe : I used the vendored version of varlink, to avoid the out-of-the-box build error when just running "make install.tools podman" that the buildroot make naively tried to do. Did not modify anything.

Will see if I can upload the minikube.iso and the podman binary somewhere for easier access... There was a stacktrace as well, after the error printout. But I'm not sure if this segfault is "

[2018-08-02 11:00] afbjorklund commented on #1189
Here is the ISO: https://github.com/afbjorklund/minikube/releases/download/15e56aa/minikube.iso
Built from: https://github.com/afbjorklund/minikube/tree/15e56aa8e13d97a1bb6a0813281f9bc886816f4d

As requested, direct link to the binary itself: [podman](https://github.com/afbjorklund/minikube/releases/download/15e56aa/podman)

<details><summary>Example output</summary>
<pre>

[2018-08-02 12:09] afbjorklund commented on #1189
Using a previous version works fine. So it's probably something with "varlink" ?

[code]

[2018-08-02 12:29] mheon commented on #1189
Call stack looks like the rootless code, and not Varlink. Something seems
to be going wrong in the CGo code in pkg/rootless.

On Thu, Aug 2, 2018, 08:09 Anders Björklund <notifications@github.com>
wrote:

[2018-08-02 13:08] afbjorklund commented on #1189
Didn't seem to help, unfortunately.
[code]

Think I need to read up on my CGo :-)
Or opt out of this "rootless" thing perhaps.

<details>
<pre>
runtime.cgocall(0xf618e0, 0xc42027d470, 0x4971f1)
	/home/anders/KUBE/minikube/out/buildroot/output/host/lib/go/src/runtime/cgocall.go:128 +0x64 fp=0xc42027d430 sp=0xc42027d3f8 pc=0x4090c4
github.com/projectatomic/libpod/pkg/rootless._Cfunc_reexec_in_user_n

[2018-08-02 13:43] thomasmckay opened #1203 "podman search with "$registry/" should return all images"
/kind bug

**Description**

To match docker search, podman needs to treat "podman search devel.example.com/" as an indicator to search for all images on the registry. Leaving the trailing slash off, docker returns no results, which I would consider a bug on their part; feel free to implement that too!

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2018-08-02 14:00] mheon commented on #1203
@umohnani8 PTAL

[2018-08-02 14:00] rhatdan commented on #1203
@mtrmac Is this even possible?

[2018-08-02 17:09] afbjorklund commented on #1189
No luck with gdb, so added some oldschool printf debugging instead...

It seems like when the program crashes, that argc is 0 (cmdline gone?)

[code]

So that termination code needs to check for that possibility too...

[code]

[2018-08-02 17:15] afbjorklund commented on #1189
Like so: 054d9bc0904c07b8886939e905572fea158f5f10

[2018-08-02 17:18] mtrmac commented on #1203
The API should allow it via https://github.com/docker/distribution/blob/master/docs/spec/api.md#listing-repositories , but servers may restrict or not implement this (it does not scale all that well); in particular `docker.io` only supports the V1 registry search mechanism, which requires the caller to submit a search keyword.

[2018-08-02 18:42] #1189 closed

[2018-08-02 20:39] #1194 closed

[2018-08-03 10:48] thomasmckay opened #1208 "NAME column differs between docker and podman search"
/kind bug

**Description**

Mismatch in column information for results of _podman_ versus _docker search_.

[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2018-08-03 11:01] afbjorklund commented on #1189
Thanks, with those additions the segfault doesn't happen anymore.

[code]

[2018-08-03 14:48] mheon commented on #1118
@lukasheinrich Sorry for the delay. That looks like the output of `podman inspect` - you should be looking for the `config.json` in the folder contained in `StaticDir` on line 30.

[2018-08-03 15:44] TomasTomecek commented on #1092
Sadly it still doesn't work. It seems that podman doesn't respect the nss_wrapper setup:
[code]

I prepared a repo with my complete setup: https://github.com/TomasTomecek/rootless-podman-in-openshift

[2018-08-03 15:54] giuseppe commented on #1092
is the env variable `$USER` set correctly?

[2018-08-03 17:43] mheon opened #1211 "Varlink creates a new runtime for each API operation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

`podman varlink` can occasionally linger for a time accepting multiple requests, due to the default timeout. While it lingers, it services any new inbound API requests. Each new API request for every endpoint that is not `podman version` will initialize a new libpod Runtime. However, each Runtime will initialize a new `ocic

[2018-08-03 17:47] rhatdan commented on #1092
Does user.Lookupid(UIDString) do the right thing in the golang libraries?

[2018-08-03 17:57] rhatdan commented on #1211
@baude PTAL

[2018-08-03 18:35] rhatdan opened #1212 "Bad generic error on podman pull"
[code]
I specified a full path and transport to an image, so no registries were used, and yet it gives me an error message that has little to do with what actually happened.  Containers/image returns the correct message, although not awesome

[code]

[2018-08-03 18:36] rhatdan commented on #1212
@mtrmac Are any of the changes you are doing going to improve this?

[2018-08-03 18:36] rhatdan commented on #1212
Buildah has the same issues.

[2018-08-03 18:51] mtrmac commented on #1212
So far I have only simplified the implementation of writing that unhelpful error message :)  It’s not in what I think of as the scope: “clarify, refactor, simplify and fix dealing with image names”, but that scope is of course negotiable (the above-mentioned simplification was not _exactly_ in scope either).

This might also be a good intern project: very small/localized, simple but requires some

[2018-08-03 19:06] TomSweeneyRedHat commented on #1212
+1 on @mtrmac's thoughts.  In addition https://github.com/projectatomic/buildah/pull/881 addresses some of this in Buildah land.

[2018-08-03 19:15] rhatdan commented on #1212
This is what I see now with that patch.
./buildah from docker://this-does-not-exist.example.com/foo
invalid reference format

Might be worse.

[2018-08-03 23:56] baude commented on #1211
I'll look at it.

[2018-08-03 23:56] baude commented on #1211
can someone provide a way for me to test this more easily so I can verify the new implementation actually works?

[2018-08-04 13:36] TomasTomecek commented on #1092
It's definitely not. Trying it now right now. Will edit this comment with results.

[2018-08-04 23:43] baude commented on #1208
are you talking about the devel.example.com vs example.com?

[2018-08-05 00:05] thomasmckay commented on #1208
@baude - Yes, the NAME column should be what a user would _podman pull_ but certainly leaving off the "devel" portion of "devel.example.com" would not work.

[2018-08-05 00:44] baude commented on #1208
please post docker info

[2018-08-05 00:47] baude commented on #1208
it looks like you are running a local registry.  do you i understand that correctly?  can you paste how that is populated, etc so it can be replicated exactly?

[2018-08-05 00:49] baude commented on #1208
also include what registry you are running

[2018-08-05 10:43] #1211 closed

[2018-08-05 11:04] rhatdan commented on #1092
@TomasTomecek We need to handle the error where USER is not set, we need to to a lookup.  Lets not loose that part of the issue.

[2018-08-05 12:13] giuseppe commented on #1092
I've opened a PR here: https://github.com/projectatomic/libpod/pull/1217

[2018-08-06 00:39] thomasmckay commented on #1208
[code]

The registry I wrote and is incorporated into foreman.

[2018-08-06 12:48] rhatdan commented on #1183
This should be in podman 8.1

[2018-08-06 12:48] #1183 closed

[2018-08-06 12:49] rhatdan commented on #1175
I think this issue is satisfied, reopen if I am mistaken.

[2018-08-06 12:49] #1175 closed

[2018-08-06 14:48] lukasheinrich commented on #1118
@mheon here's the config.json

https://gist.github.com/lukasheinrich/271222657b1d007389d26a288e263aac

Is there any Vagrantfile / spec that is known to work with podman? I tried both fedora-27 and fedora-28 without any luck.

[2018-08-06 14:55] edsantiago opened #1221 "regression: podman run: exit status is 0 after signal"
Possibly a zombie of #389; I'm filing a new issue because that was closed a long time ago, hence this may actually be a new cause for the same behavior.

In window 1:
[code]
In a second window: `podman kill foo` or `podman stop foo`. Back to the first window, the exit status is `0` (expected: 137).

podman-0.8.1-1.git6b4ab2a.fc28

[2018-08-06 14:59] lukasheinrich commented on #1118
FWIW manual container execution via

* skopeo copy
* umoci unpack
* runc run

works

[2018-08-06 15:49] mheon commented on #1221
I feel like we might be having Conmon issues in the new 0.8.1 builds - will take a look after lunch

[2018-08-06 15:51] mheon commented on #1118
So this is specific to the way Podman is managing things, and also specific to Vagrant boxes (possible just Fedora vagrant boxes - I have a working podman on a RHEL vagrant box).

[2018-08-06 16:05] edsantiago commented on #1221
Yeah, it's starting to look like conmon. I'm seeing old problems with `podman attach` too (#580)

[2018-08-06 16:54] edsantiago opened #1223 "podman ps: status always reports "Less than a second ago" for Exited containers"
podman ps is always reporting exited containers as having just completed:
[code]
10 is just an example; even minutes later it still says 'Exited (0) Less than a second ago`.

podman-0.8.1-1.git6b4ab2a.fc28

[2018-08-06 17:09] mheon commented on #1223
Probably also conmon, since it creates the exit files

[2018-08-06 17:13] mheon commented on #1223
Nevermind - seemingly unrelated to conmon

[2018-08-06 17:27] mheon commented on #1221
This is a packaging issue - the latest build of Podman for F27 looks to have dropped its built-in `conmon` to use the (far too old) system `conmon`

[2018-08-06 17:30] edsantiago commented on #1221
^^^ F28, not F27: f27 actually still includes conmon:

[code]

[code]

f27 has its own issues.

[2018-08-06 17:31] mheon commented on #1221
What I'm getting out of this is that our builds are really broken right now.

[2018-08-06 17:34] mheon commented on #1223
Actual exited time is shown in `podman inspect` and seems correct. This seems to just be how `podman ps` displays output.

[2018-08-06 18:01] TomSweeneyRedHat commented on #1221
FWIW, I concur about conmon on F27 0.8.1.  In case it helps, it is failing in ./libpod/oci.go,

[code]
It's ss.err that is getting an EOF error during the container creation process.  Not sure of the whys, but I'd bet @baude 's hunch on the bad version of conman is what's biting Podman on F27.

[2018-08-06 20:25] lukasheinrich commented on #1118
another data point: the podman preinstalled on the fedora/28-atomic-host  works fine

[2018-08-06 20:38] mheon commented on #1118
I am provisioning a vagrant box with the given Vagrantfile to attempt to replicate

[2018-08-06 20:42] mheon commented on #1118
Confirmed locally - exit status 139

[2018-08-06 20:43] mheon commented on #1118
`Aug 06 20:42:06 localhost.localdomain conmon[4747]: conmon 1946512daa05cc22bad2 <ninfo>: container 4755 exited with status 139`

The container itself is exiting

[2018-08-06 20:44] mheon commented on #1118
`Aug 06 20:43:41 localhost.localdomain audit[4892]: AVC avc:  denied  { read write } for  pid=4892 comm="sleep" path="/dev/null" dev="tmpfs" ino=26140 scontext=system_u:system_r:container_t:s
`

@rhatdan I think we have an SELinux problem here

[2018-08-06 20:46] mheon commented on #1118
Confirmed - `setenforce 0` allows the container to be started (though I still see an error trying to unmount it)

[2018-08-06 21:13] mheon commented on #1212
Reopening per discussion in #1216

[2018-08-07 12:15] rhatdan commented on #1118
@mheon could you attach the entire AVC message?  THe one above is cut off.

[2018-08-07 12:37] mheon commented on #1223
This one's not conmon - we're not actually calculating exited time properly for both JSON and normal PS output

[2018-08-07 14:09] rhatdan commented on #1118
The AVCs show me two things. One I am not sure  you have the latest container-selinux installed.

dnf reinstall container-selinux
And make sure it completes successfully.

You might need to update the libsemanage package or edit /etc/selinux/semanage.conf to change expand-check to be 0.  There was a bad version of libsemanage that was released that caused issues with containre-selinux.

It also lo

[2018-08-07 14:45] mskarbek opened #1226 "Systemd, systemdhook and SELinux - systemd fails to start in container."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

I'm unable to run container with systemd as PID 1.

**Steps to reproduce the issue:**

1. `systemd-run podman run -t --name=systemd --env=container=podman --entrypoint=/sbin/init --stop-signal=RTMIN+3 fedora:28`

**Describe the results you received:**
Freshly installed and updated Fedora 28.

First attempt:
- SELinux in enf

[2018-08-07 14:47] edsantiago commented on #1221
I couldn't find that build in any repo including updates-testing; but I downloaded conmon from [koji](https://koji.fedoraproject.org/koji/buildinfo?buildID=1104940). Looks good. Someone please remember to update the conmon dependency in the podman specfile.

[2018-08-07 15:02] umohnani8 commented on #1203
@mtrmac so this is something we want to do for registries that use the V2 API?

[2018-08-07 15:59] mheon commented on #1223
Opened #1228 to fix

[2018-08-07 16:04] mheon commented on #1118
Labels on /var/lib/containers/ were all wrong - the restorecon seems to have resolved the issue.

@lukasheinrich Can you verify that the restorecon command above resolves the issue? I think we might have shipped a vagrant image with bad SELinux labels on part of the filesystem for F27

[2018-08-07 16:40] edsantiago opened #1229 "--attach stdin: questionable behaviors"
Possibly related to #1078. This is a collection of various weird behaviors.

First: `-a stdin` blocks the terminal even if the command terminates:
[code]
(docker compatibility note: podman and docker behave identically here. It just strikes me as odd.)

Next: it's not really clear what `-a stdin` is doing even when it's running:
[code]
(docker compatibility note: again, docker and podman behave id

[2018-08-07 17:00] lukasheinrich commented on #1118
Thanks @mheon for finding the issue. I can confirm that `setenforce 0` makes it work, but

[code]

this is with a box

[code]

and after `dnf install -y podman conmon` (btw: shouldn't conmon be a dependency?)

Also, for rootless containers (the above was as root, but rootless also doesn't work  unless setenforce 0 it does), nothing gets written to /var/lib/containers so just the restorecon above s

[2018-08-07 17:00] lukasheinrich commented on #1118
PS: jut noticed this is now f28, but I can try again with f27 later

[2018-08-07 17:27] mheon commented on #1229
For the first two - we and Docker detach all streams that are not stdin when `-a stdin` is specified, but not any other `-a` attach flags. So the containers have no stdout or stderr, but do have an stdin so you can type to them. I'm not sure how this prevents `true` from exiting cleanly, though. In the TTY case, you're probably seeing the terminal echoing what you're typing - though, again, not su

[2018-08-07 17:28] mheon commented on #1118
So `restorecon` is actually breaking things on F28? Fascinating.

[2018-08-07 17:29] mheon commented on #1118
@baude @lsm5 `conmon` is a dependency of Podman on F28 already, right?

[2018-08-07 19:30] mtrmac commented on #1203
If the goal is compatibility with `docker search` (is it?), I guess so.

[2018-08-07 19:30] mheon commented on #1203
@mtrmac Yeah, that would be our goal

[2018-08-07 20:40] rhatdan commented on #1226
Do you have the container_manage_cgroup enabled o each machine?

getsebool -a | grep container

setsebool -P container_manage_cgroup 1

[2018-08-07 20:56] rhatdan commented on #1118
Yes conmon is a dependency on F28.  We need a newer conmon which is why cri-o-1.11 is in updates testing.

[2018-08-07 20:57] rhatdan commented on #1118
@lukasheinrich What AVC's are you getting on the third example after setenforce 1

ausearch -m avc

[2018-08-07 22:14] lukasheinrich commented on #1118
@rhatdan https://gist.github.com/lukasheinrich/6e7c422ac924444045e109dfaba3645c

[2018-08-07 23:46] steveb opened #1233 "podman push uploads every layer every time"
/kind bug

**Description**

"podman push" will push layers already in the destination repository

**Steps to reproduce the issue:**

1. Prepare for an insecure local registry:
edit /etc/containers/registries.conf to include the following
[code]

2. Install and run docker-distribution locally:
[code]

3. Pull and tag some multi-layer images which have common layers:
[code]

4. Push to the local rep

[2018-08-08 02:56] baude commented on #1233
@umohnani8 in your work with the copy functions, have you seen anywhere where we can deal with this sort of caching.  lets discuss tomorrow.

[2018-08-08 03:00] mheon commented on #1233
@mtrmac As the person who wrote the c/image APIs, any pointers here?

[2018-08-08 03:55] steveb commented on #1233
I've been looking into the REST API required for the 2 cases above.
For uploading the same image twice, before a layer is put, a HEAD /v2/namespace/image-1/blobs/sha256:... is made first, and upload only occurs if there is a 404 returned.

For uploading a layer which is shared by another image, when the HEAD returns a 404, the next request is a POST /v2/namespace/image-2/blobs/uploads/?from=namesp

[2018-08-08 12:29] rhatdan commented on #1118
@lukasheinrich These are the same AVC's that @mheon showed me.

The issue again is that container-selinux did not install correctly.

dnf -y update libsemanage container-selinux
dnf -y reinstall container-selinux
restorecon -R -v /var/lib/containers

[2018-08-08 15:15] lukasheinrich commented on #1118
@rhatdan confirmed. both rootful and rootless containers work with this. So is the issue with the vagrant image or with podman?

[2018-08-08 15:18] lukasheinrich opened #1234 ""could not find slirp4netns, the network namespace won't be configured: exec: "slirp4netns": executable file not found in $PATH""
/kind bug

**Description**

running rootless containers, podman tries to setup rootless networking via `slirp4netns` and throws an error if it's not available. The container proceeds to run as expected, so I think slirp4netns is an optional dependency (for now).

**Describe the results you received:**

[code]

**Describe the results you expected:**

no error

**Additional information you deem impo

[2018-08-08 15:19] mheon commented on #1234
Yeah, it's an optional dependency.
@giuseppe Maybe we should drop with down to WARN log level?

[2018-08-08 15:59] giuseppe commented on #1234
without slirp4netns there is no connectivity inside the container, so I think it is an ERROR.  Should we perhaps not allow creating a container?  The alternative is to use the host network namespace `--network host` so that slirp4netns is not needed

[2018-08-08 16:01] mheon commented on #1234
Hm. I'm fine with leaving it an ERROR level, then. Maybe we should clean the message up a bit? "Cannot start slirp4netns, so networking will not be available in this container"?

[2018-08-08 16:02] mheon commented on #1234
We can print a separate debug-level message with the exact error message so we can still track down problems.

[2018-08-08 16:04] lukasheinrich commented on #1234
@giuseppe is slirp4netns already packaged as an RPM (i've only seen source builds). How would podman ensure that it's installed?

[2018-08-08 16:11] lukasheinrich commented on #1118
thanks @mheon can the images be fixed (not sure what the process is for updating vagrant images)

[2018-08-08 18:53] rhatdan commented on #1118
@dustymabe @lsm5 Any ideas on how to fix this?

[2018-08-08 19:09] giuseppe commented on #1234
@lukasheinrich slirp4netns is packaged for Fedora: https://bodhi.fedoraproject.org/updates/?packages=slirp4netns

We could add support for multiple backends in future, if the need arises, but for now I think it is easier to stick with one.  Also, slirp4netns is much faster than VPNKit: https://github.com/rootless-containers/slirp4netns#benchmarks

[2018-08-08 19:11] rhatdan commented on #1234
I will att a Recommends: slirp4netns to podman.spec in this weeks build.

[2018-08-08 20:32] nathwill opened #1238 "unable to mount volume below image-volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

**Steps to reproduce the issue:**

1. id an image with an image-defined volume (e.g. uchiwa/uchiwa has a `VOLUME /config` instruction)

2. try to mount a volume in `podman run` (e.g. `podman run --volume=/etc/sensu/uchiwa.json:/config/config.json uchiwa/uchiwa:latest /bin/sh`)

3. note in `ls /config` that the volume is not

[2018-08-08 20:42] mheon commented on #1238
We should be adding the user volumes first, and then adding the image volumes second, ignoring any mountpoints that already exist. It looks like that logic isn't working, so we're overwriting the user mountpoints with the image mounts.

[2018-08-08 22:12] mtrmac commented on #1233
Three separate aspects to this:

1. Not copying anything about the image when the image is present at the destination ( https://github.com/containers/skopeo/issues/395 ). That should be fairly easy, and higher-level callers can do the check ~independently (like CRI-O does already). The trade-off is that the “is the image present” check itself is a bit expensive, several round-trips, and there’s no

[2018-08-09 06:46] dustymabe commented on #1118
we don't release updated cloud base images. We'd like to but we don't today. We do release updated atomic host images so those should work fine. Could we possibly work around this with a RPM `%post` ?

[2018-08-09 12:08] vrothberg commented on #1238
The problem seems to only appear when a file is being mounted. It works when using a directory.

[2018-08-09 12:16] vrothberg commented on #1238
I noticed some other hiccup as there's a clear difference between **-v `pwd`:/config** and **-v `pwd`:/config/** as the latter doesn't work (I suspect because of the trailing `/`). Docker accepts both.

[2018-08-09 12:51] mheon commented on #1118
We'd need a restorecon on the CRI-O and Podman RPMs in post, probably Skopeo too. I don't know how expensive this really is - if we're tacking 5 minutes on every time you install a Podman RPM it might not be a good idea.

[2018-08-09 14:55] mheon commented on #1229
Should have been fixed by #1239

[2018-08-09 14:56] mheon commented on #1229
Actually, we never solved the exit status case - going to reopen

[2018-08-09 15:18] rhatdan commented on #1229
./bin/podman run --attach stdin fedora bash -c "exit 100"; echo $?
eaaf1cc3d5e2dfabab96cfb3bcb01c229302692677a2920025645bb00357aeec
100

This is correct behavior?  What is the problem.  If a container gets created successfully it always exits with the exit code of pid 1 in the container?

[2018-08-09 15:19] mheon commented on #1229
Alright, fair enough - I think I was misunderstanding what the bug was

[2018-08-09 15:19] #1229 closed

[2018-08-09 16:29] mheon opened #1245 "Podman run --rm hangs after podman rm -af"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

`podman run` with the `--rm` flag will hang until killed after a `podman rm -af`

**Steps to reproduce the issue:**

1. `podman run -t -i --rm fedora bash`

2. In another terminal: `podman rm -af`

3. Switch back to the first terminal

**Describe the results you received:**

`
[root@6f3cea11ccee /]# exit

`

If you type, th

[2018-08-09 17:53] vrothberg commented on #1245
I can reproduce with HEAD on openSUSE as well. I will look into it.

[2018-08-09 18:11] mrguitar commented on #653
I think we mostly use the run, install, and help labels. Those are the ones I'd be interested in seeing.

[2018-08-09 18:39] rhatdan commented on #653
I would add uninstall as well.

Looking at the atomic man page, this is what we see.
[code]

[2018-08-09 18:52] mrguitar commented on #653
Great catch I forgot about that one

[2018-08-09 18:53] rhatdan commented on #1118
We could do something in the container-selinux package so that eveyone gets the benefit, but this could be an expensive operation.  I guess we could set a trigger so that it only happens once when updating the current container-selinux package.

[2018-08-09 18:54] rhatdan commented on #1118
Is this just an issue on F27 or F28 as well?

[2018-08-09 19:09] rhatdan commented on #653
@baude @umohnani8 Could you guys work to get cards created for each one of these features.

[2018-08-09 19:18] baude commented on #653
Yeah I can do them ...

[2018-08-09 19:18] baude commented on #653
this is already assigned to me

[2018-08-09 19:37] lukasheinrich commented on #1118
It's F28 as well.

On Thu, Aug 9, 2018 at 8:54 PM Daniel J Walsh <notifications@github.com>
wrote:

[2018-08-10 03:37] jvanz commented on #1098
I'm facing the same issue. But I don't how the reproducible steps... =/

[2018-08-10 09:41] vrothberg commented on #1245
I found the issue. It's a deadlock (preparing a PR).

[2018-08-10 12:11] dustymabe commented on #653
I don't know if `podman install` and `podman uninstall` really make sense. I feel like that starts to overlap with system containers a bit much and feature creep is not good from a "clarity" perspective. I honestly hesitated about `podman runl` itself.

maybe an option would be something completely generic:

- `podman runl --label=LABEL IMAGE` would run container based on `IMAGE` using the text de

[2018-08-10 13:27] #1245 closed

[2018-08-10 14:25] giuseppe commented on #653
Do we want/need to support existing images that already have these labels defined?

If we are reinventing it, I'd like to weight in: I don't particularly like the `INSTALL/UNINSTALL` labels, each single image needs to reinvent its "package manager" for copying data to the host.

With system containers we had the "create rpm" feature, but that is over designed IMO, but on a middle ground we could h

[2018-08-10 14:27] rhatdan commented on #653
I am willing to redesign, as long as we come up with something fairly simple for users to understand and use.

[2018-08-10 14:31] rhatdan commented on #1233
@mtrmac SGTM, could you implement something like this?

[2018-08-10 14:36] giuseppe commented on #653
I've pushed my WIP here: https://github.com/giuseppe/os-containers  It is not really polished code, I need to do more work on it (so expect some `git push -f`)

[2018-08-10 14:39] mheon commented on #1098
Opened #1252 which should resolve the issue.

I'm fairly certain this comes down to refresh() never successfully completing, leaving the state partially configured and unusable. This is a partial solution, preventing the fatal refresh loop but being unable to salvage the containers or pods that error. They should still be possible to remove.

[2018-08-10 17:40] rhatdan commented on #653
I would want those commands/features in podman.  I don't want a new tool for this.  We need to focus everyone on a single tool.  But that looks like a good start.

[2018-08-10 19:16] QiWang19 opened #1255 "Podman varlink search may not work properly"
Podman searches all registries continuing after error

[code]
varlink stops at the first error
[code]

[2018-08-10 19:16] QiWang19 commented on #1255
@baude PTAL

[2018-08-10 20:12] giuseppe commented on #653
some of the features, like copying files to the host, make sense for a Podman container as well.  I think it is a cleaner `INSTALL/UNINSTALL` replacement, and refactor it out so both tools can use it.

But some other features, like OSTree storage, don't really fit in the Podman CLI.  The OSTree storage doesn't use `containers/storage` at all and it is a completely different set of containers.  The

[2018-08-10 20:50] mtrmac commented on #1233
Not right this minute, let’s add it to the backlog.

[2018-08-11 01:39] baude commented on #1255
@QiWang19 I saw this today too! It occurs with pull and run (when the image isnt already local).

[2018-08-11 01:40] baude commented on #1255
actually the error I saw was different.  So now two bugs ... :)

[2018-08-11 03:09] space88man commented on #836
@dwalsh with volume mounts and the latest bunch of RPMs I am still seeing this issue:

podman-0.7.4-4.git80612fb.fc28.x86_64
oci-systemd-hook-0.1.17-3.gitbd86a79.fc28.x86_64

Your directory change to /run/... from /tmp/oci.tmp hasn't make it into oci-systemd-hook-0.1.17-3.gitbd86a79.fc28.x86_64 so we still the the mount propagation issue (shared, needs to be private).

The libpod/parent mounts (si

[2018-08-11 07:26] aalba6675 commented on #836
@dwalsh with volume mounts and the latest bunch of RPMs I am still seeing this issue:

podman-0.7.4-4.git80612fb.fc28.x86_64
oci-systemd-hook-0.1.17-3.gitbd86a79.fc28.x86_64

Your directory change to /run/... from /tmp/oci.tmp hasn't make it into oci-systemd-hook-0.1.17-3.gitbd86a79.fc28.x86_64 so we still have the mount propagation issue (shared, needs to be private).

The libpod/parent mounts (s

[2018-08-11 23:43] aalba6675 opened #1260 "podman: option parsing failed: Unknown option --log-level"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
On master branch: podman cannot start containers. (Note: podman-0.8.1-1.git6b4ab2a.fc28.x86_64
works)

**Steps to reproduce the issue:**

1. build podman on master
[root@podhost centos]# /usr/local/bin/podman version
Version:       0.8.2.1
Go Version:    go1.10.3
OS/Arch:       linux/amd64

2.

3.

**Describe the results you

[2018-08-11 23:50] mheon commented on #1260
Need a newer conmon - packaged version must be too old

[2018-08-12 00:08] mheon commented on #1260
@rhatdan @lsm5 Looks like F28 needs a newer conmon?

[2018-08-12 02:35] aalba6675 commented on #1260
@mheon podman >= 0.8.1 packaging no longer contains its internal /usr/lib/podman/conmon and uses separate /usr/libexec/crio/conmon, right?

[2018-08-12 11:14] rhatdan commented on #1260
Should be fixed in podman-0.8.2.1-1.gitf38eb4f which is in release updates.

[2018-08-12 11:14] #1260 closed

[2018-08-13 13:32] miabbott opened #1263 "unprivileged users should be able to retrieve 'podman version' and 'podman info'"
/kind feature

I think users should be able to retrieve these pieces of information with out escalating privileges.  Currently, they fail like so:

[code]

I could buy the argument that maybe `podman info` should require escalated privileges, but I think it is hard to make the same argument for version information.  (Note: `/usr/bin/docker version` will report *some* version information without es

[2018-08-13 13:34] mheon commented on #1263
Version shouldn't require this. `podman info` does (it needs to create a full runtime to obtain all the information it reports).

@giuseppe Can we disable rootless code if we're only executing `podman version` or `podman --version`?

[2018-08-13 13:57] miabbott commented on #1098
I ran into this as well.

I was able to build `podman` from git master (which included #1252) and then run `./podman ps` to refresh the list containers.  I did get this error at the time, but it was a one time occurrence:

[code]

[2018-08-13 14:52] giuseppe commented on #1263
yes currently we are doing that in any case.  We will probably need to pre-parse the CLI args for the "version" case, as for the other commands I think we need to get into the user namespace

[2018-08-14 03:12] aalba6675 commented on #836
@rhatdan  a data point:

I sprinkled oci-systemd-hook with stat calls to see when the path /sys/fs/cgroup/systemd/libpod_parent/libpod-<container_uuid>/libpod_parent/libpod-<container_uuid> appears:

There is one call to systemdhook.c: bind_mount where /sys/fs/cgroup/systemd is mounted into the overlay.
Before the  call to mount(..MS_BIND) the path does not exist on the host; after the call to mou

[2018-08-14 09:00] giuseppe commented on #1263
PR here: https://github.com/containers/libpod/pull/1268

[2018-08-14 11:06] rhatdan commented on #836
@aalba6675 Did you try the patch I had in oci-systemd-hook?  Does this fix the issue?
https://github.com/projectatomic/oci-systemd-hook/pull/98

[2018-08-14 15:07] #1263 closed

[2018-08-14 15:52] vrothberg commented on #1238
Closing as the issue has been fixed with https://github.com/containers/libpod/pull/1243.

[2018-08-14 15:52] #1238 closed

[2018-08-14 16:08] vrothberg commented on #1212
@mheon Is there a tracker issue or reference in containers/image for the issue? The state of this issue seems a bit scattered.

[2018-08-14 16:09] mheon commented on #1212
@vrothberg Not that I know of. @mtrmac Should we create one?

[2018-08-14 16:09] vrothberg commented on #1223
Closing as the issue has been fixed with https://github.com/containers/libpod/pull/1228.

[2018-08-14 16:09] #1223 closed

[2018-08-14 16:26] mtrmac commented on #1212
If there is a bug, sure, file one — but please be more specific than this report, which does not really say what c/image should do differently (the `unable to find image on registries` text comes from `podman` directly, and the bug is mostly that c/image errors are not presented to the user).

[2018-08-14 16:36] mheon commented on #1221
This should be fixed on our end - we're back on a good conmon version
@edsantiago Feel free to reopen if it's not

[2018-08-14 16:36] #1221 closed

[2018-08-14 17:48] rhatdan commented on #1212
Right we need to fix this in one plave and then attempt to use it in buildah and podman.  Whether the fix goes into containers/image or into a subpackage of buildah or podman...

[2018-08-14 21:48] aalba6675 commented on #836
@rhatdan I have just tried #98 - some observations:
1. Still seeing `/tmp/oci-systemd-hook.*` issues; /tmp has to be marked private before the container will start.
1. *BUT* I am no longer seeing a doubled path! Only a single path is visible on the host and it is not cleaned up.

The host sees

[code]

The container sees

[code]

When I stop the container, the following remains:

[code]

is left b

[2018-08-15 12:58] dustymabe opened #1276 "memory leak in `podman build --layers` when using ADD from network"
/kind bug

**Description**

Trying to build with --layers seems to cause a memory leak when using ADD from the network (i.e. `ADD http://`). If I use add from local then I don't have the problem. Here is the Dockerfile:

[code]

Here is the output:

[code]

During the build I see podman running away with memory:

[code]

** more details **

[code]

[2018-08-15 13:03] TomSweeneyRedHat commented on #1276
@dustymabe thanks for the problem report.  Just to make sure I'm on the same page, if you change this line in the Dockerfile:

[code]
to
[code]
it works? Did you by chance try doing the bud command without the `--layers` param?  Did that work?

[2018-08-15 13:10] dustymabe commented on #1276
correct

just tried without `--layers`. I do not see this bug without `--layers`.

[2018-08-15 13:14] TomSweeneyRedHat commented on #1276
Thanks for the follow up @dustymabe, that will help narrow the search down.

[2018-08-15 13:16] TomSweeneyRedHat commented on #1276
@umohnani8 any thoughts?

[2018-08-15 13:26] umohnani8 commented on #1276
@TomSweeneyRedHat will look into it.

[2018-08-15 14:15] aalba6675 opened #1278 "Old containers created with libpod_parent cgroup won't start with 0.8.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

I had old containers created c. 0.7.4 (systemd-based containers with libpod_parent cgroups). They won't start under 0.8.2.

**Steps to reproduce the issue:**

1. podman start old_container

2.

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Container starts normally

**Additional i

[2018-08-15 15:13] aalba6675 commented on #1278
+1 for more information in changelog.txt.

I see that `podman --cgroup-manager cgroupfs`  starts these older containers (created when cgroupfs was the default) so not a bug but more like unexpected behaviour.

[2018-08-16 01:09] #1278 closed

[2018-08-16 13:35] tmds commented on #935
@rhatdan @mheon @TomSweeneyRedHat fyi, I implemented a varlink client for .NET: https://github.com/tmds/Tmds.Varlink

[2018-08-16 13:44] jlebon opened #1283 "podman crashes when trying to `podman ps` with base64 unmarshalling error"
/kind bug

**Description**

Running `podman ps -a` gives:

[code]

Running `podman info` also gives a similar error.

**Steps to reproduce the issue:**

1. Not quite sure yet. Sounds like it might be a compat issue. I've just upgraded podman:

[code]

**Describe the results you received:**

Error above.

**Describe the results you expected:**

No error.

**Additional information you deem important

[2018-08-16 13:46] mheon commented on #935
Huh, that's pretty cool! Nice work!

[2018-08-16 13:47] mheon commented on #1283
Can you revert to 0.7.4 to get a `podman inspect` of the container in question?

[2018-08-16 13:55] jlebon commented on #1283
[code]

[2018-08-16 13:59] mheon commented on #1283
We changed some aspects of our DB storage backend between 0.7.4 and 0.8.2 - most notably a different JSON decoder. It seems that it's barfing on this particular container, though I'm not sure of an exact reason yet.

A bigger issue this is exposing is that a single invalid container JSON in the DB is causing Podman to completely barf. We need to get a fix in for this.

[2018-08-16 14:04] rhatdan commented on #935
@tmds Would you like to write a blog about this?  Then we could social media it.

[2018-08-16 20:58] #1234 closed

[2018-08-16 21:30] jcpowermac commented on #1283
Also experiencing this issue
[code]
Error:
[code]

[2018-08-16 21:44] Conan-Kudo opened #1291 "Constructing container environments using OpenShift descriptions using podman?"
/kind feature

**Description**

I'd like to be able to run and test batches of containers defined with the OpenShift YAML/JSON description locally. As it is now, it's not possible to test these without running a full OpenShift system, which makes it difficult to have a consistent description from development to production.

This would be kind of a superset of the `docker-compose.yml` issue (#746),

[2018-08-16 21:56] mheon commented on #1283
I'll see about getting a partial fix (allowing Podman to start and be used, but not allowing anything to be done to these containers except removing them) in tomorrow's release. An actual fix for the JSON decode issue will take longer.

[2018-08-17 00:48] jlebon commented on #1283
@jcpowermac Note that for the time being you can:

[code]

[2018-08-17 12:27] jcpowermac commented on #1283
Thanks @jlebon

[2018-08-17 14:06] TomSweeneyRedHat commented on #1291
FWIW, @mheon discussed this at some length over IRC with the requestor @Conan-Kudo .  I think the gist of the conversation was that this would be a good change for @Conan-Kudo but @mheon thought it would also aid the transition of Podman to CRI-O/OpenShift.  Still digging/thinking to do on it.

[2018-08-17 14:27] mheon commented on #1291
I think it's potentially beneficial towards CRI-O integration, but also it's a cool direction to go towards if we're already thinking of something similar to compose.

[2018-08-17 17:58] fkluknav opened #1292 "podman --help says wrong defaults"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman --help
...
--cgroup-manager value            cgroup manager to use (cgroupfs or systemd, default cgroupfs)

2. podman -storage-driver=vfs run -ti fedora sh  (inside a docker container)
container create failed: systemd cgroup flag passed, but systemd support for managing cgroups i

[2018-08-17 18:17] mheon commented on #1283
@jlebon @jcpowermac Can I get a `/var/lib/containers/storage/libpod/bolt_state.db` from someone for debugging? I'd like to dig under the hood and peak at the JSON.

Meanwhile, I am going to merge a fix that will make this nonfatal for the moment. You won't be able to see or interact with the container in question, but Podman should still be usable for creating and managing other containers.

[2018-08-17 18:49] #1292 closed

[2018-08-17 18:51] jcpowermac commented on #1283
@mheon
[bolt_state.db.gz](https://github.com/containers/libpod/files/2298365/bolt_state.db.gz)

[2018-08-17 19:03] mheon commented on #1283
Thanks, looking now

[2018-08-17 19:28] mheon commented on #1283
However, trying on my local Podman - I'm producing basically identical fields in the DB when encoding net.IP?

[2018-08-17 19:52] mheon commented on #1283
Oh, wait - I'm testing with 0.8.1 which doesn't have the FFJSON decode changes...

[2018-08-17 19:56] mheon commented on #1283
Can replicate locally by upgrading 0.8.1 -> 0.8.2 with a container with a DNS server manually set

[2018-08-17 20:01] mheon commented on #1283
I think it's actually Base64'ing the net.IP struct while the standard-library JSON implementation is prettyprinting the IP as a string.

Easiest solution would be to store the IP as a string in the database. More correct solution would be to store the IP as a custom type based on net.IP implementing a correct Mashal() function.

Not sure why ffjson is skipping the Marshal() function of the actual

[2018-08-17 20:09] mheon commented on #1283
It might be more correct to fix this in FFJSON - cause net.IP to generate proper strings, similar to the standard library. I'll poke at this on Monday.

[2018-08-17 20:30] mheon commented on #1283
The answer here seems to be that FFJSON does not respect `Marshal()` and `MarshalText()` methods on types that are not structs, which is probably faster than what encoding/json does but is also incompatible in cases like `net.IP` (a `[]byte` that implements `MarshalText()`)

[2018-08-17 21:00] mheon commented on #1283
Potential alternative: switch from FFJSON to easyjson - Easyjson seems to respect the `MarshalText()` method which will resolve this problem.

[2018-08-18 14:48] miabbott opened #1301 "using `podman run` as non-root returning error about 'Unknown option --log-level'"
/kind bug

**Description**

When using `podman run` as non-root, I'm getting an error about `option parsing failed: Unknown option --log-level`

**Steps to reproduce the issue:**

1.  Built `podman` from git master
2.  Use `podman run`

**Describe the results you received:**

[code]

**Describe the results you expected:**

No errors; successful run

**Output of `podman version`:**

[code]

**Outpu

[2018-08-18 14:48] miabbott commented on #1301
I suspect this is user error, but I'm throwing it out there anyways.

[2018-08-18 14:51] mheon commented on #1301
This does look suspicious - @giuseppe PTAL

[2018-08-18 15:09] miabbott commented on #1301
Looks like you need to have `slirp4netns` installed.  I upgraded by laptop to the latest FAW commit and it brought in that package; now it's working as expected.

Can we change the behavior to error out if that is not installed?

[2018-08-19 13:04] rhatdan commented on #1301
I thought the log-level issue was a conmon problem.  I think older versions of conmon did not support the log-level flag and we fixed it in later releases.

[2018-08-20 07:40] giuseppe commented on #1301
yes, I think the error is coming from using an older conmon, not having 'slirp4netns' installed should not cause that.  @miabbott was conmon updated?

[2018-08-20 07:53] vrothberg commented on #1301
This seems to be a reoccurring issue Fedora/CentOS. I tried avoiding inter-dependent packages that must be updated simultaneously for openSUSE by making the `podman` a multi-source package that also installs the required version of conmon.

Is any policy blocking doing something similar for Fedora and CentOS?

[2018-08-20 12:14] rhatdan commented on #1301
Well we are now imbedding conmon into podman, in F28, were attempting to do this via the package, but the conmon that we ship for CRI-O 1.11 was too old, and sadly we missed this.  So now in 0.8.3 this is fixed.  podman for 0.8.3 now requires the package slirp4netns, so I think we are all set.

[2018-08-20 12:14] #1301 closed

[2018-08-20 13:45] rhatdan commented on #1276
@dustymabe I just tried this out with the latest podman and it worked for me.  Could you attempt this again? with podman 0.8.3 or later?

[2018-08-20 13:46] rhatdan commented on #1226
This is working fine for me in a container,  I will close thinking you had not turned on the boolean.

[2018-08-20 13:47] mheon commented on #1283
I think we can fix this in FFJSON without much difficulty. I'll open a PR upstream and see about potentially switching us over to a patched version until the fix is merged.

[2018-08-20 13:48] rhatdan commented on #1147
@AkihiroSuda @giuseppe What is the state of this issue?

[2018-08-20 13:50] rhatdan commented on #1192
I had a volunteer (Anna P) who wants to work on a PR, so I suggested she work on this one.

[2018-08-20 15:06] baude commented on #1039
I don't believe we are seeing this flake anymore, closing ... can re-open if appears

[2018-08-20 15:06] #1039 closed

[2018-08-20 15:07] baude commented on #1045
I don't believe we are seeing this flake anymore, closing ... can re-open if appears

[2018-08-20 15:07] #1045 closed

[2018-08-20 15:07] baude commented on #1042
I don't believe we are seeing this flake anymore, closing ... can re-open if appears

[2018-08-20 15:07] #1042 closed

[2018-08-20 17:09] cgwalters opened #1303 "latest podman injects `nodev` for / by default, breaking e.g. mock"
[code]

(In a quick test I failed to downgrade to https://koji.fedoraproject.org/koji/buildinfo?buildID=1133743 due to conmon, but trying the latest version in FAH28...)

[code]

The above works fine.

This specifically breaks running `mock` inside podman.

[2018-08-20 17:26] mheon commented on #1303
Can you add `--cgroup-manager=cgroupfs` to the 0.8.2.1 command line and see if it works with that?

[2018-08-20 17:27] mheon commented on #1303
This is probably a result of our swap to systemd cgroup management in 0.8.2.1. Will need to look into why this is prohibiting this.

[2018-08-20 17:30] edsantiago commented on #1146
Reproduced fairly quickly (once - haven't tried again) with the attached script. Looks similar, but this time the deadlock is in `podman logs`:
[code]

Login access available on request until, say, 4pm EDT. After that I'll kill these and start hammering again to see how reliable that reproducer is. (Speaking of which: much of the script is mumbo-jumbo incantations. It may be possible to reduce it

[2018-08-20 17:31] mheon commented on #1303
While attempting to reproduce, I caused `conmon` to dump core. So that's also not good.

[2018-08-20 17:34] mheon commented on #1146
Looks like the same locks as last time
@nalind PTAL - looks like a deadlock in c/storage. One process holds layers.lock but not storage.lock, the other the opposite.

[2018-08-20 17:36] mheon commented on #1303
conmon coredump is just on one VM, so that's probably just my environment. Can repro locally on my laptop.

[2018-08-20 17:37] mheon commented on #1303
It's not cgroupfs, it's not SELinux. Hm.

[2018-08-20 18:00] mheon commented on #1303
Has to be the devices cgroup. We don't deliberately set anything related to said CGroup, though.

[2018-08-20 18:07] TomSweeneyRedHat opened #1304 "podman run not displaying output from commands"
/kind bug

**Description**
When doing a podman run command that has a command at the end of it, the output from the container is not displayed on the calling terminal.  These commands were run as root.

**Steps to reproduce the issue:**

1.  image=$(podman pull fedora)

2. podman run $image ls -alF /etc

**Describe the results you received:**

A slight pause and then a return to the command line p

[2018-08-20 18:14] TomSweeneyRedHat commented on #1304
From journalctl:
[code]

[2018-08-20 18:14] mheon commented on #1304
Can't reproduce locally (fully-updated F28, Podman built from master), but those AVCs look suspicious. @rhatdan PTAL

[2018-08-20 18:15] TomSweeneyRedHat commented on #1304
with setenforce 0, works fine.  Wasn't reproducible on F27.

[2018-08-20 18:54] cgwalters commented on #1303
Ah hah.

[code]

[2018-08-20 18:55] cgwalters commented on #1303
Note the `nodev`.

[2018-08-20 18:55] mheon commented on #1283
I've spent several hours here, and I'm not really any closer to making `ffjson` do what we want. Going to investigate easyjson again.

[2018-08-20 19:02] mheon commented on #1303
...But why are we allowed to `mknod` then? I would expect that `mknod` would be the command to break, not subsequent accesses to said node. I suppose that's a kernel semantics problem, though.

[2018-08-20 19:10] mheon commented on #1303
This looks like https://github.com/containers/storage/blob/956a1971694f18fd602b1203c0a2d192e2cc88a1/storage.conf#L35-L36 - added by @rhatdan a month ago.

@cgwalters Can you change storage.conf to remove the `nodev` and see if that fixes matters?

@rhatdan Can we make this toggle-able per-container?

[2018-08-20 19:11] cgwalters commented on #1303
I briefly tried to find out which git commit in podman started injecting `nodev` but I don't know the code well enough.

However, now that I know the root cause, since today practically speaking [recursive containers need --privileged](https://github.com/projectatomic/bubblewrap/issues/284), it's a simple matter of `mount -o remount,dev /` in my dev container.

[2018-08-20 19:15] cgwalters commented on #1303
I think probably the storage conf shouldn't have default mount flags.  Rather, podman could inject `nodev` if the container isn't `--privileged`?

[2018-08-20 20:02] haircommander commented on #262
@rhatdan @mheon I am not quite sure, but I'm pretty sure --net ns:<path> works for this purpose. I just added the path option on a branch, but is it necessary with ns?

[2018-08-20 20:05] mheon commented on #262
@haircommander I think we didn't have `--net=ns:` when this was written - I think that we can close this since it's been added

[2018-08-20 20:33] rhatdan commented on #1304
This is the container-selinux package did not install properly issue,

yum -y update container-selinux
or
yum -y reinstall container-selinux
restorcon -R -v /var/lib/containers

And you should be good to go.

[2018-08-20 21:31] mheon commented on #1146
@edsantiago managed to reproduce with an strace. Seems to be a race between one of the calls in the image library's `NewFromLocal` and subsequent calls to `storage.GetStore()`

[2018-08-20 21:32] mheon commented on #1146
The only call to c/storage in `NewFromLocal` seems to be `store.Image()`

[2018-08-20 21:47] TomSweeneyRedHat commented on #1304
FWIW,

dnf is telling me I'm up to date when I do dnf -y update container-selinux

[code]

After doing the dnf -y reinstall:

[code]
Which looks to be the same, I did the `restorecon -R -v /var/lib/containers` after the update command and still had issues.  However after doing the reinstall command then the restorecon a second time, it worked.

After doing all that, then the baseline tests worked

[2018-08-20 21:50] mheon commented on #1146
One side seems to be the overlay driver's `get()` and the other something in `load()` in c/storage

[2018-08-20 21:54] rhatdan commented on #1304
Did this happen on a fresh system?

[2018-08-20 22:07] TomSweeneyRedHat commented on #1304
It happened on two clones and then to triple check I installed F28 from ico, installed docker, did a 'dnf -y update' then dnf -y install podman*.rpm.  It happened there as well.  That's what has me the most concerned is it seems to be happening on a newly installed machine.

[2018-08-20 22:08] AkihiroSuda commented on #1147
https://github.com/opencontainers/runc/pull/1862 should fix the issue, ptal

[2018-08-20 22:46] flx42 opened #1308 "OCI hooks require a wildcard commands match"
I tried to use the following hook with current `master` of `podman`:
[code]

But I got the following:
[code]

This is coming from this part:
https://github.com/containers/libpod/blob/75588a4333aef6a3830cd120136a664418d336e9/pkg/hooks/1.0.0/when.go#L77-L92
If there is no `commands` regex in the configuration file, this part of the code will return `false`, despite the `always` above.
A workaround i

[2018-08-21 00:46] kunalkushwaha commented on #735
this issue seems still persist. @baude if you are busy, may I try to fix this?

[code]

[2018-08-21 10:51] vrothberg commented on #341
@haircommander Are there remaining open items for this issue or can we close it? I am under the impression that all desired functionality has been implemented but I may be totally wrong :)

[2018-08-21 10:59] vrothberg commented on #262
I agree with @mheon. Joining another container's network NS is working since commit 41c7e43b4dbb. Looking at the manpage, I think that some of the help messages could be a bit more informative but we can address that in a more organized fashion.

[2018-08-21 10:59] #262 closed

[2018-08-21 11:13] vrothberg commented on #414
Have there been attempts to extend the CRI with user-friendly pull progress? Doing the dance with Podman seems a bit too complex to me.

[2018-08-21 11:30] vrothberg commented on #442
@mheon, has this issue been resolved in the meantime? I think yes, but am not 100 percent sure.

[2018-08-21 11:34] vrothberg commented on #500
This issue looks a bit dusty. Given that some work items have been finished already and others are being worked on: Shall we close this issue?

[2018-08-21 12:51] mheon commented on #735
@kunalkushwaha I don't think anyone is actively working on this issue, so feel free

[2018-08-21 12:53] mheon commented on #442
@vrothberg Yeah, we should be able to close this. FFJSON is back in. Potentially not for long, though, given #1283

[2018-08-21 12:53] #442 closed

[2018-08-21 12:53] haircommander commented on #341
@vrothburg pod top is the last one and should be done today! I'll close once it's upstream

[2018-08-21 13:13] mheon commented on #1308
Verified locally. Should have a PR out to fix in a few minutes.

[2018-08-21 13:38] vrothberg commented on #601
The K8s code can be found here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/logs/logs.go#L128

Considering CRI-O is using more and more libpod code, I propose to add the logging functionality to `libpod` such that Podman and CRI-O (and any other libpod user) can take advantage of that.

@baude @mheon @umohnani8 @rhatdan WDYT?

[2018-08-21 13:53] dustymabe commented on #1276
just tried with `podman-0.8.3-1.git9d09a4d.fc28.x86_64` rpm and I got a segfault

[code]

Note I ran `sudo restorecon -R -v /var/lib/containers` to make sure I wasn't hitting any issues like https://github.com/containers/libpod/issues/1118#issuecomment-411388062

[2018-08-21 14:02] debarshiray opened #1313 "Rootless 'podman start' fails with containers that are both privileged and have "host" networking"
/kind bug

**Description**

If I create a container with rootless `podman create --network host ...`, then `podman start ...` fails with:
[code]

Here's the `podman inspect` output for the container in question:
[code]

Here are some debug logs from `podman start`:
[code]

From the journal:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

**Additional environm

[2018-08-21 14:04] mheon commented on #1313
@giuseppe PTAL

[2018-08-21 14:16] baude commented on #735
Yes, feel free

[2018-08-21 14:19] umohnani8 commented on #601
@vrothberg thanks for the info! Will work on getting something out today.

[2018-08-21 14:36] umohnani8 commented on #1276
@rhatdan @dustymabe just tried it with buildah 1.4-dev and podman 0.8.2.1 and the build works fine for me also. Tried it with the exact Dockerfile provided in this issue.

[2018-08-21 14:37] EmilienM opened #1314 "Using `podman exec --user=root` fails with invalid syntax error"
/kind bug

**Description**

Running a command in a running container fails when specifying a user name but works with UID.

**Steps to reproduce the issue:**

1. Deploy any container with podman.

2. Run: `podman exec my_container ls`. It works.

3. Run: `podman exec --user=0 my_container ls`. It works.

4. Run: `podman exec --user=root my_container ls`. It fails.

**Describe the results you recei

[2018-08-21 14:43] mheon commented on #1314
@EmilienM Is this specific to rootless, or does it occur when running as root as well?

[2018-08-21 14:45] EmilienM commented on #1314
@mheon I run in the same situation when executing the command from root.
Note that it works well when using the UUID:

[root@undercloud75 ~]# podman exec --user=0 my_container ls
anaconda-post.log

[2018-08-21 14:52] mheon commented on #1314
It doesn't look like we're doing any translation on the user string, which is probably why numeric IDs are working, but names are not.

I'll need to check against Docker to see where we should be resolving the user - within the container, or on the host. Once we know that should be an easy fix.

[2018-08-21 15:14] umohnani8 commented on #1276
@dustymabe thanks for the info. I found the issue, opening a PR with the fix.

[2018-08-21 15:33] umohnani8 commented on #1276
Being fixed in https://github.com/projectatomic/buildah/pull/947, will vendor into podman once it is merged into buildah.

[2018-08-21 15:49] mheon commented on #1314
User looks appear to be happening in the container, so we can use the chrootuser package to perform the lookup.

[2018-08-21 16:20] edsantiago opened #1316 "podman SELinux labels: spc_t vs unconfined_t"
[I vaguely recall asking about this some months ago and being told Not A Problem; but I can't find any supporting evidence. Filing just for the record. Please close with suitable explanation if necessary.]

[code]
In particular, `unconfined_t` triggers a failure in one of the autotest-suite subtests.

podman-0.8.3-1.git9d09a4d.fc28 but this has been unchanged for months.

[2018-08-21 19:09] rhatdan commented on #500
Yes I would prefer to break this up, and open individual issues.

[2018-08-21 19:09] #500 closed

[2018-08-21 19:18] rhatdan commented on #735
@kunalkushwaha We would love to have you work on this.  Thanks.

[2018-08-21 19:55] rhatdan commented on #1316
This is a know difference, and is somewhat difficult to fix without hard coding spc_t into podman.
What is going on here is docker runs as container_runtime_t.  When you disable SELinux via either --priviliged, --security-opt label:disabled or removing --selinux-enabled from docker then docker does not do the setting of the SELinux labels.
So we end up with container_runtime_t starting a process o

[2018-08-21 20:14] edsantiago commented on #1316
And, presumably, there are good reasons for not running podman as `container_runtime_t`?

[2018-08-22 00:25] kunalkushwaha commented on #735
Thanks, I will start looking into this.

[2018-08-22 01:45] kunalkushwaha commented on #735
Just to review, I have a put down the current and expected behaviour of  `-p` and `-P|--publish-all` output of ports.

|   Options	|  Now  	|  Expected 	|
|---	|---	|---	|
| `-p 80`   	|   `80/tcp`, `80/udp`	|  `80/tcp`  	|
| `-p 80/tcp`  	|  `80/tcp`, `80/udp` 	| `80/tcp`  	|
|   `-p 80/udp`	| `80/tcp`, `80/udp`  	|  `80/udp` 	|
|   `-P` with `80` in image 	| `80/tcp`, `80/udp`  	| `80/tcp`, `80/

[2018-08-22 02:33] jlebon opened #1320 "RFE: supporting adding new bind mounts on existing containers"
E.g. something like `podman bind-mount my-running-container /host/path:/cnt/path`. This is really useful if you've got a pet container with a lot of state and would rather not rebuild it.

I've been able to do this in the past with docker containers using `nsenter` as described [here](https://jpetazzo.github.io/2015/01/13/docker-mount-dynamic-volumes/) though it'd be great if there was a built-in

[2018-08-22 02:38] mheon commented on #1320
I think temporary mounts would be doable - temporarily mount a new directory into a container. Permanent is more troublesome - everything in libpod is built on the assumption that the core configuration of a container is immutable.

[2018-08-22 10:33] giuseppe commented on #1313
I think it can be specific to Silverblue.  I'll install it and take a look

[2018-08-22 10:39] rhatdan commented on #1316
We could attempt a transition from unconfined_t @container_runtime_exec_t -> container_runtime_t for running podman.

matchpathcon /usr/bin/podman
/usr/bin/podman	system_u:object_r:container_runtime_exec_t:s0

BTW This is what happens when systemd runs podman, it runs it as container_runtime_t.

And that might be the right thing to do.  But it does make me a little nervous.  We can make the change

[2018-08-22 11:02] rhatdan commented on #735
LGTM

[2018-08-22 11:29] vrothberg opened #1321 "improve docs/manpages"
I am currently working on improving CRI-O's docs and think that libpod and podman can need some polishing as well. Take `podman-container(1)` as an example: the formatting is quite broken and it states `podman-container (1"")` instead of `podman-container(1)`.

As scary as it might sounds, I propose to go through each and every manpage and check for (cross) consistency, referential integrity and e

[2018-08-22 11:40] rhatdan commented on #1109
Closing in favor of #1192

[2018-08-22 11:40] #1109 closed

[2018-08-22 11:40] rhatdan commented on #1192
Yup closing the other issue.

[2018-08-22 11:46] rhatdan commented on #1320
@jlebon So you want a mount point to suddenly appear inside of the container image?

podman bind-mount my-running-container /var/lib/foobar:/var/lib/foobar:Z,ro,rshared

Would nsenter -m into the continers mount namespace and bind mount the host directory on top of the containers directory?

Relabel /var/lib/foobar to work with the SELinux label
mount -o bind /var/lib/foobar $CONTAINERROOTFS:/var/

[2018-08-22 11:48] #1308 closed

[2018-08-22 11:58] rhatdan commented on #1321
SGTM

[2018-08-22 13:31] mheon commented on #1283
Opened #1322 to fix

[2018-08-22 13:32] giuseppe commented on #1313
I am trying on a fresh installed and upgraded Silverblue:

[code]

Could you please share what command exactly you've used?  What happens if you disable SELinux?

[2018-08-22 13:39] jlebon commented on #1320
I think restricting this to temporary mounts is totally reasonable. My workflow right now is that I have a helper script that spawns a new pet container if it doesn't already exist, or just resumes it if it does. So permanent modifications means modifying that launch script for the next time I recreate the container. The `bind-mount` command is more so that I don't have to nuke & recreate it right

[2018-08-22 14:56] debarshiray commented on #1313
Thanks for taking a look!

I have a script like this to create a container called `fedora-toolbox-rishi:28`:
[code]

This is what happens when I used it to create the container and try to start it:
[code]

SELinux on my host OS is already in permissive:
[code]

... and I believe I have disabled it in the above container too with `--security-opt label=disable`.

[2018-08-22 15:03] baude commented on #735
When the protocol is not stated, are both udp and tcp ports supposed to be used?

[2018-08-22 15:12] mheon commented on #735
Per docker it's just TCP if not specified.

[2018-08-22 15:14] baude commented on #735
ok, works for me!

[2018-08-22 15:16] debarshiray commented on #1313
Looks like it's the `--privileged` flag that's causing the problem. I added it to make `ptrace` work inside the container. Is it not meant to work rootless?

[2018-08-22 15:18] giuseppe commented on #1313
thanks, the combination of `--privileged` and `--net host` makes it fail, I can reproduce now

[2018-08-22 15:21] debarshiray commented on #1313
Another thing that I have noticed, is that once I do manage to start it by dropping either `--privileged` or `--network host`, I can't stop it any more. `podman stop ...` fails with:
[code]

But maybe we should use a different issue to discuss that.

[2018-08-22 15:48] giuseppe commented on #1313
Opened a PR here: https://github.com/containers/libpod/pull/1323

[2018-08-22 16:33] edsantiago commented on #735
Reference: [EXPOSE](https://docs.docker.com/engine/reference/builder/#expose) is documented as explicitly defaulting to tcp. To my surprise, I've been unable to find a definitive reference for `-p`.

[2018-08-22 19:04] mbaldessari opened #1324 "docker and podman have different semantics around non existing host volumes"
/kind bug
**Description**

I don't know yet how this discrepancy will hit us in openstack, but since I noticed it, I thought it is at least worth reporting.

A) docker
[code]

I.e. somehow docker creates the non existing folder
[code]

B) podman
[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2018-08-22 20:32] #1313 closed

[2018-08-23 00:51] rhatdan commented on #1324
Do you think this is a bug in docker or in podman?  I am a little worried about creating a directory on disk because of a typo in a volume command.

[2018-08-23 05:08] kunalkushwaha commented on #735
While debugging, I found, in case of no proto defined for exposed ports in Image(Dockerfile), the `tcp` is value we get after Image is parsed as per  `ociV1 Spec`
- the `tcp`  value is returned from function [`ociv1Image()`](https://github.com/containers/libpod/blob/master/libpod/image/image.go#L787)

Also I cross checked the [OCI specs](https://github.com/opencontainers/image-spec/blob/master/con

[2018-08-23 09:01] alcir opened #1326 "Typo in podman-build man page"
/kind bug

**Description**

Here https://github.com/containers/libpod/blob/master/docs/podman-build.1.md and in the podman-build man page, --ulimit usage is this
<pre>
--ulimit=type<b>:</b>soft-limit[:hard-limit]
</pre>
while in the subsequent example, and actually using the option in the command line, the right syntax should be
<pre>
--ulimit=type<b>=</b>soft-limit[:hard-limit]
</pre>

[2018-08-23 11:26] rhatdan commented on #605
@cjeanner Thanks, @umohnani8 is working on this now.

[2018-08-23 11:59] rhatdan commented on #735
SGTM

[2018-08-23 12:34] mheon commented on #1314
Closed by #1315

[2018-08-23 12:34] #1314 closed

[2018-08-23 12:52] debarshiray commented on #1313
Yes, PR #1323 fixed the problem for me.

[2018-08-23 14:13] debarshiray opened #1329 "Rootless 'podman exec' fails with containers that are both privileged and have "host" networking"
/kind bug

**Description**

This is a continuation of #1313

I have a script like this to create a container called `fedora-toolbox-rishi:28`:
[code]

This is what happens when I used it to create the container, started it, and tried to `exec` a shell inside it:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

**Additional environment details (AWS, VirtualBox,

[2018-08-23 15:57] baude commented on #1329
I'm not able to reproduce this with a simpler test case:

[code]

Can you try just the above and report back?

[2018-08-23 16:32] mheon commented on #1329
@giuseppe PTAL

[2018-08-23 18:42] haircommander commented on #341
Should be good to close via https://github.com/containers/libpod/pull/1298 !

[2018-08-23 18:55] #341 closed

[2018-08-23 19:18] giuseppe commented on #1329
I am afraid this is going to be ugly, we need to do the "exec" from the same user namespace that originally created the container.  Taking a look right now

[2018-08-24 07:19] kunalkushwaha opened #1333 "[Question] regarding integration of cri-o & libpod"
**Description**
In podman roadmap, there is plan to integrate libpod & cri-o.

How this integration is planned?
- Will cri-o be using libpod as library or as separate binary/service(acess via varlink)
- Does this mean cri-o will become be more like CRI-shim for podman?
- what all is left to achieve this?
_(An issue with list of TODOs items, may help other to understand & conbtribute)_

**Steps to

[2018-08-24 07:40] rhatdan commented on #1333
The plan is to get CRI-O using libpod as a library.

@baude Opened a PR a month or so ago to start moving CRI-O to libpod for image management.
@vrothberg recently got pkg/apparmor from libpod integrated to CRI-O.

We put some of this work on hold, to be able to get podman to 1.0 status.  But we plan on getting back to it very soon.

I think creating a TODO list is a good idea.

The biggest concer

[2018-08-24 08:03] kunalkushwaha commented on #1333
Is there any performance benchmarking done for podman?  for cri-o there are already with cri-tools.

[2018-08-24 08:15] rhatdan opened #1334 "podman inspect should list capabiltiies in container"
Currently their is no easy way to know what capabilities are associated with a container.  We need to reveal this data with the container.

[2018-08-24 08:16] rhatdan commented on #1333
We have recently asked the Performance team at Red Hat to look at Podman.  @baude has done some testing but mainly around processing of podman ps commands.

[2018-08-24 09:17] vrothberg commented on #736
@mheon what's the current state of this issue?

[2018-08-24 12:43] mheon commented on #736
This one should be fixed, updating to a more recent
containernetworking/plugins to split the delete and close operations on
network namespaces resolved the issue.

On Fri, Aug 24, 2018, 05:17 Valentin Rothberg <notifications@github.com>
wrote:

[2018-08-24 12:48] #736 closed

[2018-08-24 13:07] umohnani8 commented on #1276
Fixed in #1330

[2018-08-24 13:10] #1276 closed

[2018-08-24 14:25] frezbo opened #1337 "Rootless podman exec fails to exec and remove"
**Shell o/p**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**OS Info:**
[code]

[2018-08-24 14:27] mheon commented on #1337
@giuseppe PTAL

[2018-08-24 14:27] mheon commented on #1337
Might be fixed by #1331

[2018-08-24 14:28] mheon commented on #1334
Closed by #1335 I believe

[2018-08-24 14:28] #1334 closed

[2018-08-24 15:07] mheon commented on #1333
The major obstacles to integration code-wise have mostly been removed. The pending SHM locking PR is one of the major remaining ones. We also need to rewrite `podman exec` to use `conmon` instead of directly executing `runc`, and investigate multiple OCI runtimes within the same libpod instace to provide CRI-O's trusted/untrusted runtime model used by kata containers, but we can move forward on in

[2018-08-24 19:47] frezbo opened #1340 "Feature Request: Support environment variable for authentication file"
When running tools  like podman in a CI system like Jenkins, we would love to pass folder specific credentials to push to `dev`, `prod` repositories and not expose the credentials for the user running Jenkins. Docker already supports this with the `DOCKER_CONFIG` environment variable

Proposal being and registry push/pull operations tries to use an environment variable named something like `REGIST

[2018-08-24 20:08] mheon commented on #1340
This does not sound that difficult.
@umohnani8 @rhatdan WDYT?

[2018-08-24 20:45] TomSweeneyRedHat commented on #1340
For `podman pull/push/build` and maybe more commands that I'm forgetting, we have an --authfile option that points to the directory that `podman login` has dropped the config.json authentication file into.  Can you use this or are you looking for other credentials?  If so, might be a short term solution, but we should be able to add an environment variable too if that helps.

[2018-08-24 21:02] EmilienM opened #1341 "podman-ps: --filter option has different behaviour than docker"
/kind bug

**Description**

When using podman-ps, --filter option has a a different behaviour than docker CLI.

**Steps to reproduce the issue:**

`podman  ps -a --filter "label=container_name=keystone" --filter "label=config_id=tripleo_step3" --format {{.Names}}`

**Describe the results you received:**

All containers with config_id=tripleo_step3 are returned.

**Describe the results you expected

[2018-08-24 21:05] frezbo commented on #1340
I could live with the `authfile` option for now, let me explain a use case:
For dev builds it uses a credentials accessible for the dev builds only and the path to file gets exported only for that particular build, same with other environments too.  So having an environmental variable helps prevent config leak and ability to use different credentials per environment. Moreover an environment variab

[2018-08-24 21:11] mheon commented on #1341
Alright, so this is related to multiple filters being passed in at once. I'll take a look on Monday.

[2018-08-24 21:13] EmilienM commented on #1341
@mheon right, when you pass multiple --filter, only the last one is actually processed.

[2018-08-24 21:13] EmilienM commented on #1341
See https://docs.docker.com/engine/reference/commandline/ps/#options
The filtering flag (-f or --filter) format is a key=value pair. If there is more than one filter, then pass multiple flags (e.g. --filter "foo=bar" --filter "bif=baz")

[2018-08-24 21:26] mheon commented on #1341
The frontend code for `ps` currently assumes that `--filter` can only be passed once, and a comma-separated list of filters is passed. It should be simple to convert it to allow --filter to be passed multiple times instead (it's probably less code overall because we don't need to split the input on commas)

[2018-08-24 21:42] mheon commented on #1341
It ended up being simpler than I thought, so I hammered out a fix - #1345

[2018-08-25 00:15] mrunalp commented on #1333
:+1: to creating a todo list. We can start with blocking this behind a tag and then graduating it once the performance matches or exceeds CRI-O performance.

[2018-08-25 16:54] giuseppe commented on #1337
I've added a patch to #1331 to address the "rm -f" case.  I am not convinced if the fix should be in podman or in runc, as "kill --all" doesn't work when there is not a new cgroups (as it is the case with rootless containers).

/cc @AkihiroSuda

[2018-08-26 07:49] #1329 closed

[2018-08-26 07:49] #1337 closed

[2018-08-26 19:31] semoac opened #1348 "Question: Websocket for attach?"
/kind feature

Hi.

We have a small internal project to give to ours team sandboxs with tools using containers.

Today we use xterm.js and Docker to expose the sandboxs but we like to replace Docker with podman and friends.

I'm looking for information about  the websocket needed to expose a terminal via web in podman. Looks like API for AttachToContainer is still in development.

We are not exper

[2018-08-26 19:49] mheon commented on #1348
Our current API consumers are directly using the I/O stream socket, and that API is stable, so it's not going away and is safe to use. We may also offer AttachToContainer directly over the Varlink API without requiring the socket at some point, but I don't think we definite plans to finish that API any time soon - directly accessing the stream socket has generally been sufficient for our needs.

I

[2018-08-26 19:56] semoac commented on #1348
Thanks for the answer.

We will check how to expose a shell via web using websockets and the I/O stream socket with podman.

Do you know any project doing this with Podman instead of Docker?

Cheers.

[2018-08-27 00:16] kunalkushwaha commented on #735
This issue can be closed now.

[2018-08-27 13:45] debarshiray commented on #1329
Yes, PR #1331 fixed the problem for me.

[2018-08-27 14:31] debarshiray opened #1351 "Rootless 'podman stop' fails with containers that are both privileged and have "host" networking"
/kind bug

**Description**

This is a continuation of #1313 and #1329.

I have a script like this to create a container called `fedora-toolbox-rishi:28`:
[code]

This is what happens when I used it to create the container, started it, and tried to stop it:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

**Additional environment details (AWS, VirtualBox, physi

[2018-08-27 15:12] baude commented on #1304
so whats the result here? no longer a bug?

[2018-08-27 15:26] baude commented on #860
@rhatdan how about we add:

* history
* namespaceoptions
* configurenetwork
* idmappingoptions
* defaultcapbilities
* addcapabilities
* dropcapabilities

[2018-08-27 15:35] mheon commented on #860
Images don't specify a lot of those, though - that seems specific to the buildah container?

[2018-08-27 15:45] miabbott commented on #1301
@giuseppe I didn't see `conmon` explicitly changed in the diff; perhaps it was dragged in as part of the updated `podman` package on the host.

[code]

[2018-08-27 15:56] rhatdan commented on #1304
It is fixed in an update container-selinux package.

[2018-08-27 15:56] #1304 closed

[2018-08-27 17:53] EmilienM opened #1354 "package: max open files limits are too low by default"
/kind bug

**Description**

When podman package is built with defaults, the open files limits are taken from the host and can be tool low for some containers like memcached, etc.
Note that buildah and docker are built with 1048576 and we should probably change podman defaults to use this number as well.

**Steps to reproduce the issue:**

1. Deploy memcached container with MAXCONN set to 8192.

**

[2018-08-27 18:03] mheon commented on #1351
@giuseppe PTAL

[2018-08-27 18:14] mheon commented on #1354
Opened #1355 to fix

[2018-08-27 18:32] giuseppe commented on #1351
I cannot reproduce locally.  Does podman include the changes from https://github.com/containers/libpod/pull/1331?  Also, what command is the container using?

[2018-08-27 19:55] giuseppe commented on #1351
I've also tried on `Silverblue 28.20180826.0` copying manually latest podman to `/usr/local/bin`

[2018-08-28 04:36] jfilak opened #1357 "podman: publishing huge amount of port requires modification of ulimit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
It is not possible to publish 1000 ports via `-p 1000-2000:1000-2000` without changing my `ulimit -n` which is by default 1024 (2048 was not enough in my bash, 4096 works for me). I am not sure if it is a bug, but it is a deviation from docker behaviour. Perhaps, I could write a blog post but this issue might server the docu

[2018-08-28 04:47] jfilak opened #1358 "podman: output of ps with a conatiner publishing 1000 ports is sub-optimal"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**
If I publish many ports, the output of docker ps gets unreadable.

**Steps to reproduce the issue:**

1. podman run -it -p 1000-2000:1000-2000 --rm --name manyports centos /bin/bash

2. podman ps

3.

**Describe the results you received:**

The output contains information about every port for both protocols.

**Describe

[2018-08-28 04:57] jfilak opened #1359 "podman: failed to create containers are not automatically removed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Whenever podman fails to create the requested contianer and the option `--rm` is passed on command line, the container is listed in `podman ps -a` and it is not possible to create a container of the same name, even though the container should have been removed.

**Steps to reproduce the issue:**

1. podman run -it --rm --na

[2018-08-28 06:41] vrothberg commented on #1359
Thanks, @jfilak for the report. Docker has the very same behavior but I also find this rather surprising. I'll check if there's some reasoning behind that I am not aware of.

[2018-08-28 07:45] TomasTomecek opened #1361 "podman varlink stales"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

`podman varlink` exits. My assumption it should stay up and serve.

**Describe the results you received:**

[code]

And that's it.

Same thing happens when I do `systemctl start io.podman`.

The unix socket gets created and lingers after `podman varlink` exits. Obviously, none of the requests from varlink client get served:

[code]

I

[2018-08-28 08:50] giuseppe commented on #1357
I think this is caused by the new code we added to keep a port busy and not let other applications re-use it.

[2018-08-28 09:06] vrothberg commented on #1359
@jfilak The reasoning behind is to allow users to inspect the container and see what went wrong. If the container gets removed, it cannot be inspected anymore. So this is rather a feature than a bug. However, it should be updated in the documentation. I will open a PR to clarify this issue.

[2018-08-28 09:54] vrothberg commented on #1359
I opened https://github.com/containers/libpod/pull/1362 to improve the manpages.

[2018-08-28 10:39] rhatdan commented on #1358
@baude PTAL

[2018-08-28 10:47] rhatdan commented on #1361
It gets started on demand in a socket activated systemd unit file.  We don't want this service running all the time.

[2018-08-28 10:52] baude commented on #1361
if you want it to stay up use a --timeout value of 0.

[2018-08-28 12:05] TomasTomecek commented on #1361
Thank you, that worked.

On the other hand, the socket activation is not functioning for me. I'm still getting 'Connection refused' or

[code]

I'm not sure where the problem is, whether if it's systemd, varlink or podman.

[2018-08-28 12:14] EmilienM commented on #1146
I'm also having this bug when deploying ~30 containers on a busy VM.

[2018-08-28 12:26] debarshiray commented on #1351
Thanks for taking a look.

I had taken the Fedora 28 build for the upstream 0.8.4 release, and added all the patches from `libpod.git` to it (https://rishi.fedorapeople.org/podman-0.8.4-1.2.git9f9b8cf.fc28.src.rpm) and then overrode the `podman` package in the base Silverblue image (`rpm-ostree override replace ...`).

[2018-08-28 12:30] debarshiray commented on #1351
Right after starting the container (`podman start ...`), I see:
[code]

[2018-08-28 12:31] giuseppe commented on #1351
what is the entrypoint for the container?

[2018-08-28 12:37] mheon commented on #1357
For non-rootless code, we can set some high default ulimits in Podman and
Conmon when we start, which should avoid this. I believe Docker defaults to
somewhere around a hundred thousand?

On Tue, Aug 28, 2018, 04:50 Giuseppe Scrivano <notifications@github.com>
wrote:

[2018-08-28 12:55] jfilak commented on #1359
I thought so, but in my case it was horrible UX. Please, reconsider your decision. If the container cannot be created, I see the error message printed out to stderr.

What can I inspect if the container does not exist?
Do you have an example where keeping the container entery can help?

[2018-08-28 13:08] vrothberg commented on #1359
I can understand your opinion for the described case, where the container execution failed because of a misspelled or non-existent path to a binary. In such case, it's more convenient to correct the typo can re-run the exact command.

But consider a different use-case where Podman runs in a more automated fashion. In such case, it is really helpful to not remove the container to give the administr

[2018-08-28 13:35] giuseppe commented on #1351
I am still not sure why it happens though, even if we created a new userns the PID namespace was the same, I'll keep investigating it but I think we can close this issue.

[2018-08-28 13:41] giuseppe commented on #1357
should be fine to set up to `1048576`.  Although that is a lot of memory even without hitting that hard limit, just to keep the fd's open for some valid use cases like forwarding a lot of ports.  Should we instead have a maximum and after that don't try to keep the port busy?

[2018-08-28 13:42] giuseppe commented on #1357
(any higher value must be tweaked first through `sysctl fs.nr_open`

[2018-08-28 13:55] mheon commented on #1357
If we think memory usage could be a problem, it might be a good idea to have a config flag to disable opening FDs - seems easier to explain to users

[2018-08-28 14:17] baude commented on #1357
we could calculate the number of ports to be open easy enough no?

[2018-08-28 14:19] mheon commented on #1357
Sure, but I like an on/off switch versus turning off expected behavior after a certain threshold

[2018-08-28 14:43] EmilienM commented on #1146
I've uploaded an sosreport if that something which can help: https://files.macchi.pro:8443/sosreport/

[2018-08-28 14:46] EmilienM opened #1365 "Missing podman plugin in sosreport"
**Description**

sosreport doesn't have a plugin for podman, like we have for [docker](https://github.com/sosreport/sos/blob/db7a86e64c7b6e35f3752974381b52be05dd712d/sos/plugins/docker.py).
It would be essential to have the plugin to support and debug podman in the future.

[2018-08-28 15:03] #1351 closed

[2018-08-28 15:24] miabbott opened #1366 "unable to 'podman build' container image; selinux denials observed in journal"
/kind bug

On Fedora 28 Silverblue (`28.20180826.0`), I'm unable to use `podman build` to build a container.

[code]

An initial attempt to `restorecon -R -v /var/lib/containers` returned a lot of `could not set context...invalid argument` errors.

@rhatdan had me use `semodule -i /usr/share/selinux/packages/container.pp.bz2` and then re-run `restorecon`, which seemed to work this time around.

I

[2018-08-28 15:29] miabbott commented on #1366
This looks more like a SELinux labeling issue than `podman`, but I figure the right folks will see it.

[2018-08-28 15:34] miabbott commented on #1366
Oh and after doing the `restorecon` dance, the `podman build` command worked.

[2018-08-28 15:52] jfilak opened #1367 "podman: run -h has different behavior than docker"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

We need to run our containers with specific hostnames.
I have a wrapper script that starts my containers in docker because the run command is rather huge.
The script also the option '-h thehostname' in the run command and I spent some time figuring out why podman prints help instead of starting my containers. I thought the

[2018-08-28 17:06] #1359 closed

[2018-08-28 17:49] baude commented on #1367
my recollection of this is we also felt docker's usage of -h for hostname was a poor choice and have intentionally decided that -h == help.  @rhatdan do you consider this a bug?

[2018-08-28 17:55] mheon commented on #1367
This is also somewhat difficult to fix without globally disabling `-h` as a help flag

[2018-08-28 18:17] mheon commented on #1354
Closed via #1355

[2018-08-28 18:17] #1354 closed

[2018-08-28 18:18] mheon commented on #1172
This should be fixed now

[2018-08-28 18:18] #1172 closed

[2018-08-28 18:18] mheon commented on #1283
This should be fixed via #1322

[2018-08-28 18:18] #1283 closed

[2018-08-28 18:19] mheon commented on #1326
Closed via #1327

[2018-08-28 18:19] #1326 closed

[2018-08-28 19:48] EmilienM commented on #1341
Closed-by #1345

[2018-08-28 19:48] #1341 closed

[2018-08-29 08:04] TomasTomecek commented on #1361
I did that, but seems that one of my actions "broke" systemd. After uninstall & reboot & install it started to work just fine. Thank you very much for helping me out.

[2018-08-29 08:04] #1361 closed

[2018-08-29 08:06] vrothberg commented on #1367
I experimented a bit and found that we don't need to disable it globally. The `--hostname, -h` is only required for `podman-run` and `podman-create`; both use the `createFlags []cli.Flag`. It works when we add a *hidden* "help" flag there, extend the hostname flag with "hostname, h" and set the `HideHelp` switches for the `runCommand` and `createCommand` to true. Then, for both commands, we need s

[2018-08-29 08:23] frezbo opened #1370 "Latest podman RPM broken on Fedora 28"
Just runnning a `sudo dnf update --refresh` threw this:

[code]

[2018-08-29 09:43] ypu commented on #1172
Hi @mheon
After update the cni plugins and podman update date. The podman run will not panic now. But it still report error message:

[code]

So seems there are still problem. Is there any other package I need update for test this? Or we still need some update in podman?

[2018-08-29 10:11] rhatdan commented on #1365
Yes @EmilienM Please open this in https://github.com/sosreport/sos

[2018-08-29 11:35] TomSweeneyRedHat commented on #1370
@lsm5 PTAL

[2018-08-29 11:45] mheon commented on #1172
We're waiting on a update to iptables to fix the last few issues. Podman
itself should require no changes.

On Wed, Aug 29, 2018, 05:43 Yiqiao Pu <notifications@github.com> wrote:

[2018-08-29 11:46] EmilienM commented on #1365
@vrothberg it's perfectly fine!

[2018-08-29 12:28] lsm5 commented on #1370
a quick workaround would be to manually remove the containernetworking-cni package and install containernetworking-plugins

[2018-08-29 12:56] frezbo commented on #1370
@lsm5 I am happy to wait.

[2018-08-29 13:30] dustymabe commented on #1366
I'll defer to @cgwalters - not sure what needs to be done exactly.

[2018-08-29 14:26] mheon commented on #1367
@vrothberg That SGTM

[2018-08-29 15:43] rhatdan commented on #1367
Yuck, but I guess we want to be Bug for Bug compatible.

[2018-08-29 15:56] baude commented on #1367
Ok, Ill be the bucket of water ... I'd to not make the change ... everyone knows -h is help ... I think this is a bug users are going to have to convert their scripts, etc to fix.  This is my opinion, in the end do as you guys see fit.

[2018-08-29 16:07] EmilienM commented on #1365
FTR https://github.com/sosreport/sos/pull/1408

[2018-08-30 06:44] vrothberg commented on #1367
I opened a PR (see above). Another difference to Docker is that Podman is way more verbose when an argument is missing. Podman will print the entire help message, which can be huge for some command, followed by `flag needs an argument: -h` while Docker is more direct with:
[code]
Is that something we should change for Podman? (@baude @mheon @rhatdan)

[2018-08-30 09:56] najamelan commented on #1321
I would like to help a little bit with this. I'm kind of new to containers and podman, so I'm reading the docs alot and I can give feedback on where they're not clear. I have detected a few errors that I can fix, as well as some things I can't immediately fix myself.

I propose that when I come across an issue, either I create a pull request, or failing that I open a specific issue here and refere

[2018-08-30 10:27] najamelan opened #1374 "man podman run: The documentation for user namespaces is incomprehensible"
[code]
In general, UID and GID issues seem problematic in the container community, not only for podman. At least we can say they're confusing for newcomers. Probably the documentation (for podman run) could have a section explaining things a bit from a general perspective.

That being said, that's why I started looking into user namespaces and wondering whether podman supports them. The three sect

[2018-08-30 11:08] najamelan opened #1376 "Create a general overview for users new to podman and/or container technology in general."
I'm quite new to both podman and containers in general and I notice that it is difficult to get an overview of the current state of affairs. The documentation of podman is currently mainly focused on description of command line options, and there is not much overview. It basically comes down to trial and error which isn't a great user experience and is time consuming, especially if one might find

[2018-08-30 11:08] vrothberg commented on #1321
@najamelan Thanks for looking into this.

I have just opened a PR make the manpages more consistent: https://github.com/containers/libpod/pull/1375

[2018-08-30 11:31] vrothberg commented on #1374
@giuseppe PTAL

[2018-08-30 11:36] najamelan commented on #1321
@baude

I see that there are different ways of mentioning options with parameters:
1. `--mac-address=""` <- quotes, I imagine this means it takes a string?
2. `--memory-swap="LIMIT"` <- a named value, note that LIMIT is not what the user should write here
3. `--network="bridge"` <- bridge is an actual value here, why it is quoted is beyond me
4. `--oom-kill-disable=true|false` <- multiple choice
5

[2018-08-30 11:36] vrothberg commented on #1376
@rhatdan Some of the points mentioned above suggest (to me) a website (e.g., podman.io).

[2018-08-30 11:59] giuseppe commented on #1374
they serve different purposes:

`--gidmap` is used to create a new usernamespace and specify the user namespace mapping to use, basically it is what you see in `/proc/self/gid_map`

`--subgidname` tells podman to read the gid mapping to use from the `/etc/subgid` file.   So for example if you have `--subgidname=foo`, podman will read any `foo:` in `/etc/subgid` and create a new usernamespace using

[2018-08-30 13:30] mheon commented on #1376
@najamelan Answers to a few of the things you're confused about:

* Image building: `podman build` and `buildah build` should be identical - we use `buildah` code under the hood. Manpages should be altered if this isn't clear.
* Network: We don't presently support `--ip` to set the address of a container, but we're looking to add support in the next week or so.
* Storage: Dockerfile volumes should

[2018-08-30 13:55] lsm5 commented on #1370
@frezbo I updated the podman and containernetworking-plugins builds in https://bodhi.fedoraproject.org/updates/containernetworking-plugins-0.7.3-2.fc28%20podman-0.8.4-2.git9f9b8cf.fc28 PTAL when you get the chance. Should land in updates-testing in hopefully less than 24 hours.

[2018-08-30 13:56] TomSweeneyRedHat commented on #1376
podman.io in progress fwiw, along with buildah.io.

[2018-08-30 14:05] vrothberg commented on #1376
Nice!

[2018-08-30 14:08] frezbo commented on #1370
Oops, I actually removed and re-installed as I needed to get  the other system updates. Bu thanks.

[2018-08-30 14:09] lsm5 commented on #1370
no worries, as long as you're not blocked on this, it's cool with me :)

[2018-08-30 15:14] fatherlinux opened #1378 "Podman pull fails with short name (rhel-tools)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Not sure if this would be considered a bug

Perhaps this might be expected behavior, so I think it's a feature :-)

**Description**

**Steps to reproduce the issue:**

podman pull rhel-tools
Trying to pull registry.access.redhat.com/rhel-tools:latest...Failed
Trying to pull registry.fedoraproject.org/rhel-tools:latest...Failed
Trying to pull docker.io

[2018-08-30 15:26] vrothberg commented on #1367
:+1: I can wrap up a PR later for Podman.

[2018-08-30 15:29] najamelan commented on #1374
Ok I found some more options, added them above. So if I get it right,

- gidmap, uidmap create a new namespace with the supplied map
- subuid, subguid create a new namespace with the map from /etc/subuid
- userns=host -> don't use a user namespace? Is this the same as running without specifying any of these options?
- userns=mynamespace use an existing namespace

I would propose the following:
1.

[2018-08-30 15:37] najamelan commented on #1376
@mheon
Ok, I will have another look into the /dev/shm issue to be sure

[2018-08-30 15:41] fatherlinux commented on #1378
Also, here is anther example with the rhel base image. I think it's a two part failure:

https://pastebin.com/1eb3waja

[2018-08-30 15:45] #1367 closed

[2018-08-30 15:49] rhatdan commented on #1370
Can we close this issue?

[2018-08-30 15:51] frezbo commented on #1370
@rhatdan happy to close, thought I haven't verified. Re-open if someone faces the same issue.

[2018-08-30 15:51] #1370 closed

[2018-08-30 16:02] rhatdan commented on #1374
@najamelan Could you open a PR with your suggested changes.   I agree with you that this is confusing, and having this information from a user not familiar with the internals is helpful.

[2018-08-30 17:55] giuseppe commented on #1374
@najamelan yes thanks that looks much better.  One thing to clarify: `-gidmap=container_gid:host_gid:amount` can be specified multiple times so that different mappings are added to the container.

[2018-08-30 21:37] najamelan commented on #1376
@mheon
Ok the shm is probably false alarm. It is a tmpfs, so that should be in memory. free only shows the usage in the buffer category, and somehow I was expecting to see the mount somewhere in /dev/shm on the host, not in /var/lib... but that was silly of me...

When it comes to buildah, the podman build`

[2018-08-30 21:55] mheon commented on #1376
The manpages should definitely mention `buildah` if they don't. `buildah` is our first-class citizen for building images - `podman build` just uses `buildah bud` to allow us to have a fully Docker-compatible command line. We used to actually execute `buildah` under the hood, but there were objections to making `buildah` a hard requirement of `podman`, so we ended up vendoring their code and using

[2018-08-31 05:56] netroby opened #1384 "How to run libpod under windows?"
How to run libpod under windows?

[2018-08-31 06:07] znmeb commented on #1384
That depends on whether you have Windows 10 Pro or not. If you have Windows 10 Pro, you can enable Windows Hyper-V and create a virtual machine running Fedora Atomic Host 28. Then you can log in to the virtual machine and run all the Fedora container tools like `podman`, `buildah`, `skopeo`, etc.

On other versions of Windows, you won't have Hyper-V. You can run either VirtualBox or VMware Worksta

[2018-08-31 10:40] vrothberg commented on #1378
I can't reproduce with other images but I also don't have a login on Red Hat's registry. Are you logged into registry.access.redhat.com?

[2018-08-31 11:29] frezbo opened #1386 "Unable to delete files created in rootless mode"
`rm -rf ~/.local/share/containers` fails

[code]

Is this expected? I assumed them to be owned by the current user when using usernamespaces

[2018-08-31 11:41] rhatdan commented on #1378
No any image with a REPO/image is failing because of the parser.  I have a fix for this.

[2018-08-31 11:50] rhatdan commented on #1386
If fhey were created inside of the USERNS but not as Root files, then you will have to enter the USERNS to be able to delete them.

buildah unshare allows you to enter the USERNS and you can delete them. We probably need to create a podman unshare.

[2018-08-31 11:59] rhatdan commented on #1376
Right `podman build` is to mimic the functionality of `docker build`, while buildah's goal is to support Dockerfile but also alternative ways of building containers.

@najamelan Great job putting this together,  We would love to have you help us put together an into website with your ideas.  @TomSweeneyRedHat is working on podman.io as the entrypoint for podman information.

[2018-08-31 12:02] frezbo commented on #1386
@rhatdan thanks that  makes sense and it explains why `podman` is able to remove them when deleting the image. I will close this.

[2018-08-31 12:02] #1386 closed

[2018-08-31 12:16] rhatdan commented on #1384
You also can use pypodman on the windows box to interact with podman inside of the VM.

We have no native support for libpod/podman yet.  Although we have made efforts to make sure libpod compiles on Windows and Macs, if anyone comes along and was interested in making it work natively.

@jwhonce Could you give @netroby a pointer to how to get pypodman for Windows

[2018-08-31 12:34] rhatdan opened #1388 "RFE: Need to add a podman unshare (Same as buildah unshare)"
unshare -u ...

Does not join the userns the same way as podman and buildah use it.

The problem users are seeing, is they can not remove files created in their userns when not in a userns, in their homedir.  Since their is no way to enter the USERNS from podman, they have a difficulty cleaning up  their homedir.

[2018-08-31 12:34] rhatdan commented on #1388
@giuseppe PTAL

[2018-08-31 12:35] najamelan commented on #1376
Ok. I will see what I can do but I have little time and my availability will drop more from next week on. Right now I'm trying to get my head round everything involving user id's and mappings. When I understand it, I wouldn't mind trying to write up a clear explanation from the basics on, but first I need to understand it. Further, I'm happy to review stuff and let you know if it's clear for a beg

[2018-08-31 13:36] TomSweeneyRedHat commented on #1321
@vrothberg thanks for running with this, your changes were really nice improvements here.

[2018-08-31 13:37] mheon commented on #1388
What would `podman unshare` do as root? Do nothing and throw an error message?

Generally speaking, I don't like this. Our userns UI is complicated enough as it is, and now we want to add a new command with a confusing name (I don't think many people have ever heard of the `unshare` binary) so they can interact with files from rootless Podman, which there is a good chance they don't realize even r

[2018-08-31 13:41] miabbott opened #1389 "rootless run fails if container storage is symlinked from home directory"
/kind bug

Using Fedora 28 Sliverblue (`28.20180830.1`), `podman-0.8.3-1.git9d09a4d.fc28.x86_64`

I was experimenting with moving my user's container storage directory out of my home directory to a location where there is more disk space.

I nuked `~/.local/share/containers` and created a directory `/srv/miabbott/local/share/containers`.  Then I symlinked `~/.local/share/containers` to the new dir

[2018-08-31 13:43] mheon commented on #1389
@giuseppe PTAL

[2018-08-31 13:45] rhatdan commented on #1388
Well it is the only way to allow them to clean up content in their homedir that was created by one of their UserNS other then their UID.

podman unshare --uidmap --gidmap as root would put you in the mapped usernamespace.

[2018-08-31 15:40] giuseppe commented on #1388
I am not opposed to the idea but if the goal is just to allow destroying the storage, could it be something like: `podman storage destroy`?  Which I think can be useful for root as well

[2018-08-31 16:52] unxfrek opened #1391 "podman wait generates high CPU load"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

The podman processes are consuming quite a bit of CPU, but the jobs are actually completing successfully. They are just running incredibly slowly. It appears that the slowdown is coming from cpu-intensive podman wait commands.

**Steps to reproduce the issue:**

1. sudo podman run -d --cgroup-parent='/hadoop-yarn/' docker-r

[2018-08-31 17:02] mheon commented on #1391
This one looks simple - the we're using PollImmediateInfinite() to wait for the container to exit, which accepts a duration parameter for how long to wait before testing again. This duration is hard-coded to 1 right now, which should be 1 nanosecond. I think we probably want to stretch that out - 100 millisecond poll intervals should be fine, I think?

[2018-08-31 17:09] mheon commented on #1391
Opened #1392 to increase the interval between checks

[2018-08-31 17:57] rhatdan commented on #1388
Well what happens if I volume mount into a container with podman and then create content as user 60 inside of my container which ends up creating 100060 UIDs in my homedir

podman run -ti -v ~/log:/var/log/ ...

[2018-08-31 17:58] rhatdan commented on #1388
BTW Storage handling is something we had in atomic, which we might end up adding to podman at some point.

[2018-08-31 18:02] #1389 closed

[2018-08-31 20:27] #1391 closed

[2018-09-01 17:00] edsantiago opened #1395 "Regression: 'podman invalid-command' exits 0, no longer outputs to stderr"
podman-0.8.5-1.gitdc5a711.fc28, when invoked with an invalid subcommand, no longer errors:
[code]
This is a regression from podman-0.8.4-2.git9f9b8cf.fc28:
[code]

[2018-09-01 17:03] edsantiago commented on #1395
Followup: looks like bbcad6f572207779ead07127e6619961bc0758b9

[2018-09-01 17:07] edsantiago opened #1396 "run --tmpfs broken in 0.8.5-1.gitdc5a711.fc28"
[code]
podman-0.8.5-1.gitdc5a711.fc28. Runs fine on 0.8.4-2.git9f9b8cf.fc28.

[2018-09-01 17:13] rhatdan commented on #1396
Could you update the runc version that is in updates-testing and see if this fixes it

[2018-09-01 17:17] edsantiago commented on #1396
It does:
[code]
Thanks, Dan. I wonder if the podman RPM should be rebuilt to add this dependency on runc?

[2018-09-01 17:54] vrothberg commented on #1395
@edsantiago, thanks for the report! I will fix that.

[2018-09-01 17:59] vrothberg commented on #1395
@rhatdan @edsantiago Docker has exit code 1 in such case. Shall we follow that or shall we keep 3 as before?

[2018-09-01 18:00] mheon commented on #1395
I think 1 is better here

On Sat, Sep 1, 2018, 13:59 Valentin Rothberg <notifications@github.com>
wrote:

[2018-09-01 18:01] edsantiago commented on #1395
TBH I was surprised at seeing 3 in the earlier podman: I tend to think of exit codes as 0 and 1, with everything else reserved for special, clearly-documented situations. In short: 1 seems more natural.

[2018-09-01 19:54] #1395 closed

[2018-09-02 11:47] rhatdan commented on #1396
Yes I think that would be a good idea.

[2018-09-02 19:52] jwendell opened #1399 "Static podman"
Is it possible to build a static version of podman?

The use case would be to easily use podman in a machine with cri-o, in order to see/interact/debug running containers and inspect images in the cri-o host. Then one could just copy the podman binary into the host.

My particular use case: I'm trying to inspect containers in a minikube VM (started with --container-runtime=cri-o). Is there a bette

[2018-09-02 19:59] mheon commented on #1399
You might want to investigate crictl for debugging CRI-O in that scenario.
You might run into similar problems with static binaries though.

As for building Podman statically, I don't think anyone has ever looked
into that. It sounds like it should be possible, though.

On Sun, Sep 2, 2018, 15:52 Jonh Wendell <notifications@github.com> wrote:

[2018-09-03 10:38] rhatdan commented on #1399
We have a PR To make buildah staticly linked.  Which I need to get back to.
If you have CRI-O on a system you might be able to just take podman executable (as long as it was built for the same OS and run it, without requiring it to be static.  Problems might happen because of conflicting versions of conmon though.

Which arch are you running with CRI-O?

[2018-09-03 13:44] tomkukral opened #1400 "Pull podman images with docker after pushing to ACR with podman fails"
**Description**
I'm building images by `buildah` and pushing it to ACR using `buildah push`.

These images can be pulled only by `podman`, `docker pull` doesn't work.

[code]

I'll be very grateful for any hint helping me to debug this. I'm pretty sure that it's a ACR issue because it works on Docker hub and locall `registry:2`.

I'm asking about this problem here because I believe that you can ha

[2018-09-03 14:43] TomSweeneyRedHat commented on #1400
@tomkukral , it might be holiday brain in the works here, but what is 'ACR'?  Have you tried doing the same to quay.io (https://quay.io/) or DockerHub?  I've touched up the subject to clear up the issue a bit.

[2018-09-03 15:19] tomkukral commented on #1400
Hi, thanks for very quick response? ACR is Azure Container Registy.

It works for Docker Hub and local registry started from `registry:2` image.

[2018-09-04 08:07] TomasTomecek commented on #1092
I tried this with latest releases:
[code]
and am still stuck on the `lchown /home: invalid argument`

[2018-09-04 12:55] mheon commented on #1399
@rhatdan brings up another point - we rely on specific conmon commits for Podman, which often differ from CRI-O, causing us to ship our own version. You can't just copy the static Podman over as such - you'd need to provide `conmon` as well.

[2018-09-04 13:04] rhatdan commented on #1400
@mtrmac PTAL

[2018-09-04 13:06] rhatdan commented on #1400
@tomkukral podman build and buildah default to OCI images.  Perhaps the ACR only works with Docker images?

You could build the image with `--format docker` and see if this works?

[2018-09-04 13:13] mtrmac commented on #1400
The text `some resources specified could not be found` comes directly from the registry; perhaps the sources/documentation of the product could be a pointer.

The only _easy_ thing I can think of is to upload exactly the same image to both Azure and Docker Hub, and compare the output of `(skopeo inspect --raw docker://$theimage)` for both registries.

Beyond that, it would probably be necessary to

[2018-09-04 14:14] rhatdan commented on #1399
Does  you system not have a libselinux.so.1 package?  What OS are you doing this on?

[2018-09-04 15:47] cjeanner opened #1401 "Allow to pass options globally to podman via a configuration file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**
It would be really great to get a way to have a configuration file for podman, allowing to set global options for its call. Having this capacity would allow people to get consistent runs of podman across different ways to actually launch it (being by hand, or scripted).

We might use the currently existing "libpod.conf"

[2018-09-04 15:51] mheon commented on #1401
@rhatdan I'm fine with this, but I believe you previously expressed opposition to a podman config file?

[2018-09-04 16:00] rhatdan commented on #1401
my fear of this is the proliferations of config files.  When we merge libpod into CRI-O, Users would be instructed to edit libpod.conf, cri-o.com, storage,conf registries.conf ...

Also handling libpod.conf for users running rootless containers needs to be thought about.
Should libpod.conf have podman specific config options?

We have been using environment variables for this type of thing at leas

[2018-09-04 16:33] cjeanner commented on #1401
@rhatdan hello! well, an environment variable will most probably not serve my purpose :(. Although it seems nice and all, it won't work in some cases, especially:
migrating an existing docker script/stack/whatever making calls to docker CLI from multiple locations, being shell scripts, python scripts and the like, to podman (note: we have some kind of wrapper, but it would be hard to add podman-sp

[2018-09-04 16:57] rhatdan commented on #1401
Docker switched over from the ":" to the "=" years ago, and only supports ":" for backwards compatabiltiy.  You should switch your scripts to use the "=",  Other then that our goal is to be fully compatable with the docker CLI.

Can you make a list of the options you want to pass?

[2018-09-04 23:26] fbruetting opened #1404 "Consistent list commands"
/kind feature

Buildah provides `buildah images` and `buildah containers` for listing those contents. Podman however provides `podman images`, `podman container ls` and `podman pod ls` in contrast. This is inconsistent and also confusing, as other programs (at least those I work with) write `list` out (`flatpak list`, `dnf list` etc.). I then often use the wrong form, get an error and have to exec

[2018-09-04 23:35] baude commented on #1404
the ls is consistent with other container runtimes.  i could see us making ls and list aliases to each other?

[2018-09-04 23:37] fbruetting commented on #1404
Ah ok. But `containers` and `pods` would also really be nice!

[2018-09-04 23:38] mheon commented on #1404
That might be difficult, since we have `container` and `pod` subcommands - i feel like there'd be a lot of mistyping one or the other

[2018-09-04 23:43] fbruetting commented on #1404
I don’t see a collision here?

[2018-09-05 03:04] steveb opened #1405 "'podman images' fails with panic: runtime error: invalid memory address or nil pointer dereference"
/kind bug

**Description**

After doing a number of concurrent buildah builds, the storage is in a state where "podman images" fails

**Steps to reproduce the issue:**

1. Do a bunch of concurrent buildah builds (sorry, not very useful for reproducing)
2. run "podman --log-level=debug images"

**Describe the results you received:**
[code]

**Describe the results you expected:**
a list of images

*

[2018-09-05 05:07] cjeanner commented on #1401
Didn't know about the docker change - the examples I saw were all using the ":" - I didn't check the date. Good news then on that part :).

So, currently, we don't pass any option to docker, as the daemon is configured globally (selinux separation is not activated).

My goal is to get a 1:1 compatibility between our deploy using docker and using podman, at least as a first step.

It would be reall

[2018-09-05 06:53] vrothberg commented on #1405
Thanks for taking the time to open this issue, @steveb! I think this issue has been resolved in the meantime via https://github.com/containers/libpod/pull/1381 by @rhatdan. @rhatdan, can you confirm?

[2018-09-05 07:09] vrothberg commented on #1404
@fbruetting, thanks for taking the time to open the issue!

:+1:

Personally, I am against doing that change, but I am sure it depends on the perspective. I am mostly against it as `podman-container` and `podman-containers` are too similar (Levenshtein distance of 1). I would also find it annoying for tab completion in the terminal and it's likely to trick my brain into mixing up the commands - I

[2018-09-05 07:34] vrothberg commented on #1401
I have been looking around and found that Podman's `--config` flag is a nop. I somehow interpret that the intention behind this flag is similar to what's being suggested in this issue, @rhatdan @mheon?

[2018-09-05 07:44] tomkukral commented on #1400
Thank you guys for solving my problem! Using `buildah bud --format docker` helped and it works now.

I'll wait for ACR support to provide more information about supported images and update this issue latesr.

[2018-09-05 07:44] #1400 closed

[2018-09-05 11:16] rhatdan commented on #1404
I could see adding a ps alias for buildah since Docker sort of made people consider ps as a command for listing containers.

I agree that having podman container versus podman containers is not a good idea.

We wanted to closely model the Docker CLI when building podman so people familiar with it could easily transition.  We had different goals with Buildah.

[2018-09-05 11:39] rhatdan commented on #1401
crio.conf currently has an selinux=true value inside of it.  I guess we could add a
label=true/false flag to libpod. and then wire it in.  We would need to also do

podman run --security-opt label:enabled  or some such to reverse the setting if disabled by default.

[2018-09-05 11:42] cjeanner commented on #1401
That would be great indeed. I know it's not really cool disabling selinux separation, but sometimes we don't have any choice - and when moving huge docker-based deploy things to podman, getting a real 1:1 compatibility, also with """defaults""" is a plus :).

Thank you for your understanding and time.

[2018-09-05 13:51] TomSweeneyRedHat opened #1407 "Make clean need adjustment for easyjson"
/kind bug
**Description**

After following the install instructions and then doing `make clean` followed by `make` a compilation error occurs.

**Steps to reproduce the issue:**

1.  Install/clone podman per install instructions

2. make.install

3.  make

4.  make clean

5.  make

**Describe the results you received:**
[code]

**Describe the results you expected:**
The make after make clean shoul

[2018-09-05 13:52] mheon commented on #1401
I'm really iffy on just putting this in libpod.conf - it's a flag for configuring things above libpod, and will affect no code in libpod itself.

@vrothberg `--config` was mainly intended for CI testing originally, but it seemed like it would be useful for cases like this, so I left the flag public. If it's not working, we should look into fixing that.

[2018-09-05 13:53] umohnani8 commented on #601
Fixed in #1403

[2018-09-05 13:53] #601 closed

[2018-09-05 13:54] mheon commented on #1407
It looks like you're missing the `easyjson` command - try `make install.easyjson`

[2018-09-05 14:18] TomSweeneyRedHat commented on #1407
[code]

I also tried:   go get -u github.com/mailru/easyjson and that doesn't help also.

I think the issue is the libpod/container_easyjson.go and libpod/pod_easyjson.go files are being deleted during the `make clean` process and should not be, or at least should be regenerated by the make somehow.

[2018-09-05 14:42] TomSweeneyRedHat commented on #1407
I did not have that in my path.  I needed to do:
export PATH=$PATH:$GOPATH/bin
and then it worked.   Smells like an installation notes modification is needed.

[2018-09-05 14:43] mheon commented on #1407
We should be recommending that anyways - `install.tools` for `make lint`, etc already required it

[2018-09-05 14:45] jwendell commented on #1399
@rhatdan it's minikube. I don't know which distro they use, probably a custom one built with Buildroot? (based on the contents of /etc/os-release, see above)

[2018-09-05 14:47] TomSweeneyRedHat commented on #1407
Touching up the install.md now.  FWIW, not having this hasn't bit me until pretty recently.

[2018-09-05 15:27] rhatdan commented on #1399
Well the podman was built on a different system, since it thinks it needs selinux.

[2018-09-05 15:58] jwendell commented on #1399
@rhatdan yep, I know. I grabbed the f28 version. That's why I opened this RFE so that we can have a statically linked podman that I can copy over machines and start using it right away!

[2018-09-05 20:12] EmilienM opened #1412 "/dev/null can't be found inside the container"
/kind bug

**Description**
/dev/null can't be found inside the container, which is problematic for some applications like iSCSI or other services in OpenStack which require the access to /dev/null.

**Steps to reproduce the issue:**
Start a container which needs access to /dev/null

**Describe the results you received:**
From strace:
[pid 64887] stat("/dev/null", 0xc420106818) = -1 ENOENT (No such

[2018-09-05 20:18] mheon commented on #1412
This looks like it's related to a `/dev:/dev` mount - we're mounting in /dev/ as a bind-mount, but still leaving the default devtmpfs mount in the config. Need to ensure we don't allow conflicting mounts in the config.

[2018-09-05 22:11] steveb commented on #1405
I'm seeing the exact same behaviour with podman-0.8.5-3.gitdc5a711.el7.x86_64.

The Dockerfile does a yum update on an existing image using a copied-in /etc/yum.repos.d and a small local repository of rpms - I can provide an example later.

I'll ask for a buildah release to see if that prevents storage getting into this state

[2018-09-06 03:46] kunalkushwaha commented on #415
@haircommander if you are now working on this, Can I try this?

[2018-09-06 08:56] tomkukral commented on #1400
OCI should be supported on ACR according to https://github.com/Azure/acr/issues/39#issuecomment-417820743

However, it's still a preview without support. From official support ticket:
[code]

[2018-09-06 10:39] rhatdan commented on #1412
What is the exact podman command that is causing this issue?

[2018-09-06 11:11] rhatdan commented on #1404
There are thousands/millions of scripts that have been written for the Docker CLI.  We need to make it as easy as `alias docker=podman`
Which is why we follow the docker cli standard.

Adding ls, and list for podman seems like a good idea.

We have `podman container ls` now.

[2018-09-06 11:45] EmilienM commented on #1412
@rhatdan

"Error running ['podman', '--log-level=debug', 'run', '--name', 'iscsid', '--label', 'config_id=tripleo_step3', '--label', 'container_name=iscsid', '--label', 'managed_by=paunch', '--label', 'config_data={\"start_order\": 2, \"healthcheck\": {\"test\": \"/openstack/healthcheck\"}, \"image\": \"docker.io/tripleomaster/centos-binary-iscsid:9ad93affedba8870315dd72c714770875ce24759_b72f0c42\

[2018-09-06 15:20] mheon commented on #1412
Going to give this a go after lunch

[2018-09-06 16:10] rhatdan commented on #1396
Yes 0.8.5-5 has the correct fix.

[2018-09-06 16:10] #1396 closed

[2018-09-06 16:11] rhatdan commented on #1316
Yup.

[2018-09-06 16:11] #1316 closed

[2018-09-06 20:40] rhatdan commented on #1412
Why would /dev/null disappear?

[2018-09-06 20:42] rhatdan commented on #1405
@steveb Could you /var/lib/containers to /var/lib/containers.old

And then see if you can recreate this bug using the newer code.

[2018-09-06 20:52] mheon commented on #1412
@rhatdan @mrunalp was fairly certain it related to an overlapping mount on `/dev/` - the default devtmpfs and a bind-mount of host /dev over it. `runc` seems to have issues dealing with this.

[2018-09-06 21:50] steveb commented on #1405
I've just tried again starting with an empty /var/lib/containers, and git master of buildah, podman and skopeo.

I'm still seeing the same issue:

Running skopeo copy --dest-tls-verify=false containers-storage:192.168.24.1:8787/tripl
eomaster/centos-binary-barbican-api:9ad93affedba8870315dd72c714770875ce24759_b72f0c42-
updated-20180904051626 docker://192.168.24.1:8787/tripleomaster/centos-binary-b

[2018-09-06 22:04] mheon commented on #1405
We do an unconditional dereference on size at https://github.com/containers/libpod/blob/master/cmd/podman/images.go#L297

We should do a null check before that deref - will kill the segfault. Maybe we can print "Unknown" or similar for the size in that case?

[2018-09-06 22:34] baude commented on #1405
@steveb can you post a reproducer so we can fix this up?  Much appreciated.

[2018-09-06 22:48] steveb commented on #1405
I've got a fix working locally, proposing a pull request now.

[2018-09-07 00:42] kunalkushwaha commented on #415
@rhatdan Thanks :). Also feel free to assign me anything urgent if you feel I can work on.

[2018-09-08 12:41] AkihiroSuda opened #1429 "[rootless] question: plan for supporting cgroups?"
Rootless mode could support cgroups when `pam_cgfs.so` is available (
https://github.com/opencontainers/runc/issues/1839 cc @cyphar), but it is not available on Fedora (AFAIK)

Is there plan for supporting `pam_cgfs.so` or any equivalent of that?

(This question is not specific to podman, and I'm not sure this repo is the right place to ask this question :p)

[2018-09-08 13:00] mheon commented on #1412
@rhatdan I haven't managed to reproduce independently, but @EmilienM has a consistent reproducer on his environment, and let me debug over there

[2018-09-08 13:03] rhatdan commented on #415
We have an outstanding issue on --mount support for podman run/create?  If you want to tackle that one.

[2018-09-08 19:30] jlebon opened #1430 "Can't start container: error reading container (probably exited) json message: EOF"
**Description**

After finally upgrading to 0.8.4 from 0.7.4 (which I had been holding off due to https://github.com/containers/libpod/issues/1283), I'm now hitting:

[code]

**Steps to reproduce the issue:**

1. Again, I'm not sure other than potentially a compat issue. I can create and run new containers fine. It seems to be specifically about starting a previously created container.

[code]

**

[2018-09-08 19:34] mheon commented on #1430
Can you rerun with `--log-level=debug` and grab the output of that, and also see if there's anything from `conmon` in the output of `journalctl -b 0`?

[2018-09-08 20:43] TomSweeneyRedHat commented on #1430
Also I think this is an issue that crops up when container-selinux, containernetworking-cni and/or runc isn't up to the latest from the testing repos.  You might try

[code]

[2018-09-08 21:16] mheon commented on #1430
My smell test says it's probably an outdated runc, and I recall we had issues with an outdated version in Fedora proper a few weeks back - it's possible that we didn't bump the dependency version and just pushed a more recent package out.

[2018-09-09 13:37] rhatdan commented on #1429
Is there a way to handle this via communications with systemd? It would seem that systemd probably provides a mechanism for user apps to manipulate the cgroups available to the user?

[2018-09-09 17:05] fbruetting commented on #1404
Ok, that’s a good point (although using a more logical syntax by default and enable docker-compatibility by `alias docker="podman --compat"` may be another possible solution for being more flexible).

Would you then like to introduce `buildah container ls|list` and `buildah image ls|list`? Would also solve this inconsistency problem. ;)

And do you maybe like introducing shortcuts like `ip` did by

[2018-09-09 18:55] brauner commented on #1429
systemd won't do unprivileged cgroup delegation on v1 hierarchies since there's no way to do it safely so it needs to be up to the administrator to switch this on. So on v1 hierarchies now way to get this going without `pam_cgfs.so` that's why we @lxc wrote it in the first place. The trick is to limit this to cgroups you really really care about for your runtime, that's why the pam module takes ar

[2018-09-10 00:55] fbruetting commented on #1119
Any progress on this? I just tried out podman and wasted hours on searching for what I did wrong (I just started with containers) before seeing this here. 😒 `docker run -d -p 80:80 nginx` runs fine… Is using `-networking host` a usable workaround or how much unsafe is this really?

I’m on Fedora 28 Atomic Host, Podman v0.8.3 and containernetworking-plugins-0.7.3-1.

Is there a corresponding bug re

[2018-09-10 01:28] cyphar commented on #1429
@brauner Does systemd remount `/sys/fs/cgroup` with `nsdelegate` now? Or is this something that systemd has yet to come up with a proper setup for -- since it would technically allow cgroupv2 delegation without systemd integration by just using a cgroup namespace.

[2018-09-10 02:34] mheon commented on #1119
#1431 might help, though I haven't had a chance to test it for this use case yet

[2018-09-10 09:44] lachmanfrantisek opened #1433 "Mount image filesystem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**

It would be nice to be able to mount the filesystem of the image with `podman mount`.

Is there some easy way to achieve this? (Now, I am doing `podman create` + `podman mount`.)

Thanks.

[2018-09-10 12:46] rhatdan commented on #1404
Sure I am open to short cuts,   Not sure of the value of adding the `buildah container ls|list` and `buildah image ls|list` but I would consider the PRs.

[2018-09-10 13:34] rhatdan commented on #1429
From devel list on fedora, this is @poettering response.
[code]

[2018-09-10 13:35] rhatdan commented on #1429
Of course if Podman is successful we could add better support for V2 CGroups to allow distributions to have the option.

[2018-09-10 20:44] mheon commented on #1119
Did a lot of testing with @baude today and #1431 seems to have resolved the issue. It's now merged and released in 0.9.1.1.

@fbruetting I'm going to close this as fixed in 0.9.1.1 - if you can reproduce after upgrading, feel free to reopen

[2018-09-10 20:44] #1119 closed

[2018-09-10 20:45] mheon commented on #1133
I am optimistic that this may have been fixed by #1431 but have not have a chance to test yet

[2018-09-10 20:47] mheon commented on #348
We've greatly improved how this we interact with firewalld with #1431 - sadly, this was not completely fixed, but it's been downgraded to just a warning, and things should proceed fine even if it occurs.

[2018-09-10 20:47] #348 closed

[2018-09-10 20:48] mheon commented on #1433
This is possible with containers/storage, though I believe the mounts will have to be read-only given that there's no container associated with them - if you want to alter the filesystem and make new images, you could have to create a container and `podman commit` after mounting and changing.

[2018-09-10 20:49] mheon commented on #1407
Closing as install.md has been changed to reflect this

[2018-09-10 20:49] #1407 closed

[2018-09-11 00:15] fbruetting commented on #1119
Thank you very much, I’ll test! Do you maybe have an idea of how long it could take to be deployed in F28AH?

[2018-09-11 00:41] mheon commented on #1119
@fbruetting Hopefully we'll have a new build landed by the end of this week. If you don't want to wait, once the packages are built today/tomorrow, you should be able to grab them and add them as an rpm-ostree overlay.

[2018-09-11 09:39] lachmanfrantisek commented on #1433
@mheon Thanks, the read-only state is what I need.

For now, `podman create`+`podman mount` is easier than building the containers-storage cli.

It would be nice to have it in `podman mount` directly. (in the future)

[2018-09-11 13:04] rhatdan commented on #1433
@nalind WDYT?

[2018-09-11 17:51] umohnani8 commented on #1203
Waiting on https://github.com/containers/image/pull/502 to get in and we can vendor in the changes to libpod.

[2018-09-11 21:16] steveb commented on #1146
I have a self-contained script which shows buildah hitting what I believe is the same lock problem.

For this script, the build blocks usually on the FROM directive, sometimes on the COPY directive. While blocked, calls to "podman images" also blocks indefinitely. Killing the buildah processes unblocks other calls.

You can tweak the concurrency variable to cause more or less stress. When I set co

[2018-09-11 21:39] EmilienM opened #1446 "podman containers not manageable from systemd"
/kind bug

**Description**

containers managed by systemd start and fail after a few seconds.

**Steps to reproduce the issue:**

1. Create a systemd unit file for HAproxy container in /etc/systemd/system/haproxy.service:

[code]

2. Enable the service:
```systemctl enable haproxy.service```

3. Start the service:
```systemctl start haproxy.service```

**Describe the results you received:**

[code

[2018-09-11 21:45] EmilienM commented on #1446
I briefly tried with ``podman start -a`` option, and it seems to help. I'm redeploying my lab and see if I still hit this bug.

[2018-09-12 03:38] EmilienM commented on #1446
I haven't reached the point where all OpenStack containers are running under Podman managed by systemd, I only get one third of them. Once I'm done with it, I would be happy to submit a PR with doc + manpages update. For now my unit files look like this:

[code]

I'll update this issue once I'm done with the remaining containers.

[2018-09-12 04:01] EmilienM opened #1447 "Mounting /sys fails with latest podman"
/kind bug

**Description**

When running a container in which we mount /sys is now failing with latest podman (deployed from current master).

**Steps to reproduce the issue:**

Run a container which tries to mount /sys or something in /sys/*.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Container should start without error (like it did before).

**Addit

[2018-09-12 13:18] cgwalters opened #1448 "--net=host --privileged leaks /sys/fs/selinux"
Using `--net=host` *and* `--privileged` leaks in `/sys/fs/selinux`, which causes tools (e.g. `rpm`, `libvirt`) inside the container to think that SELinux is enabled, and try to perform domain transitions, which will cause failures as the filesystem types are `container_t`.

[code]

First, docker:

[code]

Now podman:

[code]

[2018-09-12 13:30] mheon commented on #1447
I'm seeing a lot of SELinux issues with the `/sys/` mount over here - have to `setenforce 0` to get as far as you did. Definitely issues present other than SELinux, but we may want to look into adjusting the SELinux rules to make this work.

Further interesting news: This doesn't work on Docker 1.13. I'm testing here and getting angry CGroup errors.

[2018-09-12 13:33] mheon commented on #1447
I've added all volume mounts present, `--privileged`, and `--net=host`, and I cannot make this work on Docker with SELinux as Permissive

[2018-09-12 13:34] mheon commented on #1447
I wonder if you were launching the Docker daemon with any special configuration - maybe cgroupfs cgroups instead of systemd?

[2018-09-12 13:38] mheon commented on #1447
Trying cgroupfs got me further - now failing with `process_linux.go:279: applying cgroup configuration for process caused \"open /sys/fs/cgroup/cpuset/cpuset.cpus: no such file or directory\"` out of runc

[2018-09-12 13:47] mheon commented on #1447
Oh dear. I think whatever I was doing managed to completely wipe out `/sys/fs/cgroup` and that is why Docker was exploding.

[2018-09-12 13:51] dustymabe commented on #1448
i'm on rawhide atomic host `Rawhide.20180903.n.0` and I don't see this problem:

[code]

so maybe fixed already?

[2018-09-12 14:09] mheon commented on #1447
Confirmed - Docker works with with your config when `/sys/fs/cgroup` is intact

[2018-09-12 14:13] mheon commented on #1447
Running the exact same command with `docker` replaced with `podman` wipes out /sys/fs/cgroup

[2018-09-12 14:35] miabbott opened #1449 "errors about 'unmarshalling container' & 'invalid IP address' when starting container"
/kind bug

After upgrading to Fedora 28 Silverblue 28.20180911.0, I started my pet container as usual, but received some errors while doing so.  The errors were not fatal, but I wanted to report this behavior anyways.

[code]

I built the image using `buildah-1.3-1.git4888163.fc28.x86_64` and ran the container with `podman-0.8.4-2.git9f9b8cf.fc28.x86_64`

Nothing terribly interesting in the journa

[2018-09-12 14:41] mheon commented on #1449
Those look like orphans from 0.8.1/0.8.2 from https://github.com/containers/libpod/issues/1283

We don't have a good way of kicking them out of the state right now short of downgrading to 0.8.1 and doing a `podman rm` there

[2018-09-12 14:58] umohnani8 commented on #1203
Being fixed in https://github.com/containers/libpod/pull/1444

[2018-09-12 16:12] EmilienM commented on #1447
Thanks @mheon for the investigation. Yes I run Docker on the host (with default config). Please let me know if you need more infos on my env. I can also give SSH with root access in this lab. Thanks again.

[2018-09-12 17:51] crawford opened #1450 "Unable to get version with being root"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

I don't think I should need to be root to read the podman version.

**Steps to reproduce the issue:**

[code]

[2018-09-12 17:52] mheon commented on #1450
Fixed somewhere in 0.8.x - I want to say 0.8.4?

[2018-09-12 17:52] mheon commented on #1450
What distro are you on?

[2018-09-12 17:56] baude commented on #1450
i think it went into 0.8.3

[2018-09-12 18:05] cgwalters commented on #1448
Workaround: https://github.com/coreos/coreos-assembler/pull/66

[2018-09-12 18:11] crawford opened #1451 "Podman seems to conflate network errors with configuration errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

When running Podman early in the boot process, I see the following error:

[code]

If I re-run podman a little later, it works. I haven't modified `registries.conf` in the meantime.

**Steps to reproduce the issue:**

[code]
[code]
[code]
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**

[2018-09-12 18:18] crawford commented on #1450
@mheon:

[code]

[2018-09-12 18:19] mheon commented on #1450
CoreOS should be getting a newer version soon - there were some questions as to where to get Podman from.

[2018-09-12 19:07] debarshiray opened #1452 "Silverblue toolbox script broke because rootless 'podman create' insists on having a command specified"
/kind bug

**Description**

[Here](https://github.com/debarshiray/fedora-toolbox) is the toolbox script that we have been working on for Fedora Silverblue.

If you follow the `README.md` until the `fedora-toolbox create` step, then you'll see that the `podman create ...` command fails:
[code]

This started happening somewhere between `podman-0.8.5` and `podman-0.9.1`.

Changing the script like thi

[2018-09-12 19:31] mheon commented on #1452
@giuseppe PTAL

[2018-09-12 19:33] mheon commented on #1452
I think I know what's going on here - `create` is presently wired to not create a user namespace, which I think means it can't use the c/storage store to fetch the image and determine the command/entrypoint

[2018-09-12 20:11] baude commented on #1451
This is fixed in master.  The error is more clear.

[2018-09-12 20:18] gerritbinnenmars opened #1453 "Unclear usage podman and slirp4netns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

**Steps to reproduce the issue:**

1. terminal 1: maintain@localhost:~/podman$ podman run -it --rm --net=slirp4netns --name=serv localhost/iperf3 -s
-----------------------------------------------------------
Server listening on 5201
-----------------------------------------------------------

2.terminal 2: ps -ef
maintain

[2018-09-12 21:50] mheon commented on #1412
@EmilienM With #1419 merged, this should be fixed, but I'll leave it open until you can confirm

[2018-09-12 21:53] EmilienM commented on #1412
@mheon ack - I'll test it asap this week. Thanks for the heads-up.

[2018-09-12 22:41] steveb commented on #1146
I ran my buildah torture script with concurrency=16 (!) and can no longer reproduce my lockup.

[1] http://paste.openstack.org/show/729907/

[2018-09-12 23:32] wking commented on #1451
Can you link the fix?  I'm hunting around, but haven't turned it up yet.

Is this a dup of #1212, or is that different?

[2018-09-12 23:52] wking commented on #1451
Ah, grepping for the error message turned up #1194 and #1195.  I'm guessing you meant #1195, which landed in v0.8.1.  I've also just filed #1456 as another incremental improvement, although as @rhatdan [mentions][1] it would be nice if it was easier to address both this and projectatomic/buildah#849 at the same time.

[1]: https://github.com/containers/libpod/issues/1212#issuecomment-412958373

[2018-09-13 00:29] mrguitar opened #1457 "registry auth doesn't work with rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description**

running podman as rootless fails to log on to a registry using basic auth

**Steps to reproduce the issue:**

1. setup subuid & subgid for an account via the instructions

2. podman login registry.redhat.io

**Describe the results you received:**
error reading JSON file "/run/containers/0/auth.json": error unmarshaling JSON

[2018-09-13 00:32] mheon commented on #1457
@giuseppe PTAL

[2018-09-13 00:42] crawford opened #1458 "panic: close of closed channel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Steps to reproduce the issue:**

Unknown.

**Describe the results you received:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]