[2020-10-05 18:40] rhatdan commented on #7738
@bluebrown @zhangguanzhang @haircommander @ashley-cui Any progress?

[2020-10-05 18:45] rhatdan commented on #7189
@mheon Any progress on this?

[2020-10-05 18:48] rhatdan commented on #7474
I am going to close this issue, since we never got any additional feedback.

[2020-10-05 18:48] #7474 closed

[2020-10-05 18:49] xordspar0 commented on #7742
I guess I forgot to link to the PR I opened: https://github.com/containers/podman/pull/7853

I'm still working on it. I'm currently stuck with some test failures. I haven't figured out why it's happening yet.

[2020-10-05 18:50] rhatdan commented on #6757
The information is there now.

[code]

[2020-10-05 18:52] rhatdan commented on #7751
@ParkerVR Any progress on this?

[2020-10-05 18:52] edsantiago commented on #7583
Still happening: [log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5964082543067136/html/int-podman-fedora-31-root-container.log.html#t--podman-run-with-new-pod-and-static-ip--1) (on #7926)

[2020-10-05 18:52] rhatdan commented on #7765
I believe this issue is now answered.

[2020-10-05 18:52] #7765 closed

[2020-10-05 18:53] rhatdan commented on #6757
@ashley-cui Are you still working on this?

[2020-10-05 18:54] rhatdan commented on #6862
As I don't believe this is a Podman issue, since the BTRFS is just being bind mounted into the container.  This is a BTRFS issue and should be taken up with the OS vendor.

[2020-10-05 18:54] #6862 closed

[2020-10-05 18:55] rhatdan commented on #4854
@ParkerVR Any movement on this?

[2020-10-05 18:55] rhatdan commented on #7300
@TomSweeneyRedHat @ashley-cui Any movement on this?

[2020-10-05 18:56] rhatdan commented on #7336
@zhangguanzhang @Luap99 Are you guys working on this?

[2020-10-05 18:56] mheon commented on #7189
@rhatdan It's out of our hands. We need an update to either `ip6tables` or the CNI bridge plugin, or possibly both. @haircommander wanted to take a look to be sure but doesn't seem to have had a chance yet.

[2020-10-05 18:57] rhatdan commented on #7398
@c-goes Are you still having this issue?

[2020-10-05 18:58] rhatdan commented on #7219
@TomSweeneyRedHat Any movement on this?

[2020-10-05 18:58] rhatdan commented on #6765
@ashley-cui Any movement on this?

[2020-10-05 18:59] rhatdan commented on #7167
I believe this is now fixed,  reopen if I am mistaken.

[2020-10-05 18:59] #7167 closed

[2020-10-05 18:59] rhatdan commented on #7302
@aojea Are we any closer on this one?

[2020-10-05 19:00] rhatdan commented on #7544
@mheon Any movement on this?

[2020-10-05 19:00] rhatdan commented on #7360
@mheon Any movement on this?

[2020-10-05 19:01] mheon commented on #7544
Not yet, I will try and take a look this week.

[2020-10-05 19:02] mheon commented on #7360
Not yet.

[2020-10-05 19:08] haircommander commented on #7189
yeah I haven't had time, but I really think the best place to fix is in the cni bridge plugin

[2020-10-05 19:09] Token00 opened #7928 "podman ps --format does not interpret control characters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The podman ps --format command does not interpret control characters.

Example: podman ps --format "table {{.Names}}\t{{.Image}}\t{{.ID}}

In docker it does, which allows for much better formatting.

**Steps to reproduce the issue:**

1. Run the command stated above

2. Enjoy ugly formatt

[2020-10-05 19:21] ikke-t commented on #7765
@rhatdan should I create separate issue, as it is not answered at least in this ticket. It doesn't work as instructed here.

[2020-10-05 19:26] tmds commented on #7870
The clash is at the container name level:
[code]

[2020-10-05 19:31] TomSweeneyRedHat commented on #7219
@rhatdan not that I'm aware of.  I think we'll need some of @baude 's time to figure out the readthedocs bit.  There's some funkiness there with the main man page and getting it published.

[2020-10-05 19:54] bluebrown commented on #7738
@rhatdan I gave it up at some stage and moved to k3s for that matter. There typically a deployment would also not even mix tomcat and nginx.

So not sure. I think the way that was shown can be used if you really use one image per deployment. If you want to use it in docker-compose fashion, I think it's not that useful as long as we don't have a way to use only one image on the pod as external serv

[2020-10-05 20:13] c-goes commented on #7398
Works for me now. Thank you.

[2020-10-05 20:50] psgreco commented on #7907
Turns out that this not a problem after all. It was related to the partition where the container was running being mounted with nodev on the host.
Closing

[2020-10-05 20:50] #7907 closed

[2020-10-05 20:51] #7905 closed

[2020-10-05 21:43] jwhonce commented on #7923
I was unable to recreate on master, I believe it was taken care of in cde367c1c0b348366fcaf4d8fac3b753de8456d5

[2020-10-05 21:44] jwhonce commented on #7923
@rhatdan @mheon Does this commit need to be back ported to other branches?

[2020-10-05 21:49] plopresti commented on #7879
I have tracked the failure to this stanza in overlay:

https://github.com/containers/storage/blob/v1.23.5/drivers/overlay/overlay.go#L574-L581

The problem is that `d.dir(parent)` returns a directory inside the addtional image store, not my own graphroot. That directory is owned by a different user, so `rootUID` gets set to 65534 (nobody). As a result, when the subsequent `idtools.MkdirAs` calls `

[2020-10-05 21:58] Luap99 commented on #7807
`podman network create` is indeed very racy.

Just try this:
[code]
As you can see both calls created the same config. This happens about 1 out of 4 tries on my pc, both rootfull and rootless.

Looking at the code there are definitely some race conditions. The root cause is properly this function:
https://github.com/containers/podman/blob/f48b1639348da2e398c4e30e10f542dec02c69d5/pkg/network/files.

[2020-10-05 22:01] maybe-sybr commented on #7774
No, sorry if I wasn't clear on that @rhatdan. The issue is with starting a rootless container when I am in a user namespace where UID 0 in that namespace is mapped to my UID in the main namespace. The exact problem is around podman's logic around making the inference about whether it is running rootless or rootful. Specifically this snippet doesn't meet my (admittedly weird) use case:

https://git

[2020-10-05 22:05] rhatdan commented on #7928
@jwhonce More table issues....

[2020-10-05 22:06] rhatdan commented on #7923
No I don't think so.  We should just get ready for another release.

[2020-10-05 22:06] #7923 closed

[2020-10-05 22:08] eiffel-fl commented on #7928
I have the same problem.
Maybe I can try to do it?!

[2020-10-05 22:13] TomSweeneyRedHat commented on #7300
I believe it's been smoldering in the background, but still a nice to have.

[2020-10-06 03:09] Token00 commented on #7928
Here's a reference how docker does it https://github.com/docker/docker-ce/blob/e31504a75c8dfe9d47d5419f77bd314987c691af/components/cli/cli/command/formatter/formatter.go

Seems to be this part:
[code]

[2020-10-06 03:18] #7434 closed

[2020-10-06 04:07] zhangguanzhang commented on #7738
could use the containers' IP in local, if externalTraffic , must use port mapping

[2020-10-06 04:13] zhangguanzhang commented on #7336
[code]
test ok in the master,  I believe this is now fixed, reopen if I am mistaken.

[2020-10-06 04:13] #7336 closed

[2020-10-06 04:24] zhangguanzhang commented on #5140
so need to get all env from ctr first, and remove all the env from the img？

[2020-10-06 04:26] zhangguanzhang commented on #7927
this issue https://github.com/containers/podman/issues/7923
I was unable to recreate on master, I believe it was taken care of in https://github.com/containers/podman/commit/cde367c1c0b348366fcaf4d8fac3b753de8456d5

[2020-10-06 04:42] zhangguanzhang commented on #7925
I think this has been fix by https://github.com/containers/podman/pull/7901/files, may be need a new release

[2020-10-06 04:43] #7925 closed

[2020-10-06 07:01] xomachine commented on #7883
Reproduced on CentOS 8 (both image and host)
[code]

System info:
[code]

[2020-10-06 08:05] aojea commented on #7302
Sorry @rhatdan I forget to follow up, I need your opinion first, right now the situations is:

podman does ipv4 OR ipv6.
docker does ipv4 OR (ipv4 and ipv6)

what do you prefer to imlement?
1. ipv4 OR ipv6 OR (ipv4 and ipv6)
2. same as docker: ipv4 OR (ipv4 and ipv6)

I personally will go with the 2nd option, is simpler and is what people is used to use ... and we can always implement 1. later

[2020-10-06 09:25] eiffel-fl commented on #7865
I can take a look to this issue.
My first research leads me to `type NetworkConfigList` in `libcni`.

I will finish to setup my development environment for `podman` and I will investigate more.

[2020-10-06 09:30] #7790 closed

[2020-10-06 09:31] PavelSosin-320 commented on #7548
Meanwhile, Microsoft pushed the WSL Linux Kernel forward to Kernel Version: **4.19.128**-Microsoft-standard and I upgraded my CentOS WSL distro to 8.2.
The same Network issue persists: attempt to use iptables. The recent Docker Desktop version issues warnings:
![image](https://user-images.githubusercontent.com/54495912/95183121-2e841e80-07ce-11eb-8e60-9f166a65f3ad.png)
although Docker Desktop dist

[2020-10-06 09:31] PavelSosin-320 commented on #7548
Meanwhile, Microsoft pushed the WSL Linux Kernel forward to Kernel Version: **4.19.128**-Microsoft-standard and I upgraded my CentOS WSL distro to 8.2.
The same Network issue persists: attempt to use iptables. The recent Docker Desktop version issues warnings:
![image](https://user-images.githubusercontent.com/54495912/95183121-2e841e80-07ce-11eb-8e60-9f166a65f3ad.png)
although Docker Desktop dist

[2020-10-06 09:31] PavelSosin-320 commented on #7548
Meanwhile, Microsoft pushed the WSL Linux Kernel forward to Kernel Version: **4.19.128**-Microsoft-standard and I upgraded my CentOS WSL distro to 8.2.
The same Network issue persists: attempt to use iptables. The recent Docker Desktop version issues warnings:
![image](https://user-images.githubusercontent.com/54495912/95183121-2e841e80-07ce-11eb-8e60-9f166a65f3ad.png)
although Docker Desktop dist

[2020-10-06 09:38] rhatdan commented on #7865
You got it.  Ping us if you need any help.

[2020-10-06 10:11] psakar opened #7934 "REST APIv2 - rootless - hostname not added to /etc/hosts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container created via REST APIv2 is unable to resolve its hostname because the assigned hostname is missing in container /etc/hosts

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
Last two lines from file /etc/hosts from my laptop

**Describe the results you

[2020-10-06 10:12] psakar commented on #7934
related to https://github.com/testcontainers/testcontainers-java/issues/2088 and https://github.com/containers/podman/issues/7235

[2020-10-06 11:09] rhatdan commented on #3990
Well for now you can do

$ podman unshare chown 1001:1001 PATHTODIR

We could add something to the volume command to do this, but I am not sure how ugly the syntax would be.

[2020-10-06 11:14] rhatdan commented on #7742
Awesome.

[2020-10-06 11:16] rhatdan commented on #7765
Yes please create a different issue.

[2020-10-06 11:17] #7917 closed

[2020-10-06 11:18] rhatdan commented on #7870
Would --hostname fix this?

[2020-10-06 11:21] rhatdan commented on #7807
Random idea?
Does the 18 matter?  Could we just randomize the number, to make the conflict much less likely?

[2020-10-06 11:22] rhatdan commented on #7774
@giuseppe PTAL

[2020-10-06 11:27] rhatdan commented on #7434
I opened this related PR. https://github.com/containers/conmon/issues/211

[2020-10-06 11:34] tmds commented on #7870
I tried that. This sets the hostname for the host itself. It isn't added as a name to the DNS.

[2020-10-06 11:39] ikke-t opened #7938 "Cannot limit memory when started by systemd as a user"
/kind bug
**Description**

Problem: ```podman[6826]: Error: cannot set limits without cgroups: OCI runtime error```

I have systemd service under /etc/systemd which is to start container as a user. It fails like above ^

Opening a new issues for this case https://github.com/containers/podman/issues/7765 where I came late at comment https://github.com/containers/podman/issues/7765#issuecomment-7033

[2020-10-06 11:46] eiffel-fl commented on #7865
Maybe I underestimate the problem.
At first sight I just though the ID was not printed, so adding `ID string` to `type NetworkConfigList` should have solve the problem.
It solves it partly, indeed there is no more error.
But the ID is empty and I have the feeling that networks do not have ids in podman.
Even using the REST API through `curl` does not print the ID ([see](https://framabin.org/p/?1f5

[2020-10-06 11:50] Luap99 commented on #7807
Well this is also the network interface name. I personally prefer numbered interface names in my `ip addr` output instead of random suffixes.

[2020-10-06 12:30] edsantiago opened #7939 "SELinux, rootless, --pid=host: only works with vfs"
I'm trying to write a system test for #7902, but:
[code]
Root cause: the integration test only works because it runs on vfs. This works:
[code]
This may be intentional, or at least not something that can be fixed. If so, I believe the `--pid=host` test in `run_selinux_test.go` should be clearly commented to explain this; and I think we should make a pass through all the SELinux tests to see which

[2020-10-06 12:50] mtrmac commented on #7705
It’s not so much a backport concern, or a feature blowing up if used — just _building_ any version of Podman / … that adds the loopback option will be simply impossible on RHEL 7 and earlier; anyone trying would have to actively patch out the loopback uses.

(I’m fine with that consequence, I just want to make it very explicit.)

[2020-10-06 13:08] dzerhusen commented on #7800
Fixed it today with a downtime:

mv ~/.local ~/.local_old

I think this is mostly the same as "podman system reset" does.

[2020-10-06 13:13] rhatdan commented on #7189
@mccv1r0 WDYT?

[2020-10-06 13:14] rhatdan commented on #7939
chcon -t container_runtime_exec_t ./bin/podman
Should fix the tests.

[2020-10-06 13:17] mheon commented on #7807
We definitely need a global lock for major CNI operations. I'm hesitant to add one for container network setup due to performance concerns, but creating and deleting CNI networks needs to be locked.

[2020-10-06 13:17] edsantiago commented on #7939
It already is; sorry for not mentioning that. I should've also mentioned that I installed `podman-2:2.2.0-0.21.dev.gitcaace52.fc34` on a rawhide VM and get the same behavior. (caace52 includes #7902)

[2020-10-06 13:21] mheon commented on #7865
You are correct that we do not presently have IDs for networks and cannot easily add them. It's on the list for the networking rewrite I'd like to do eventually, but that won't be done for a while.

Submitting anything you have right now seems like a good idea, given that.

[2020-10-06 13:36] andylibrian commented on #7855
@rhatdan Yes. Memory limit is straightforward to generate, but for CPU it seems that there is a conversion involved. Is it `cpu-quota / cpu-period`?

[2020-10-06 13:41] eiffel-fl commented on #7865
I managed to add creation of ID with `stringid.GenerateNonCryptoID()` in `NewNcList`.
I also add the ID to `NetworkConfigList` and the ID is read from the file in `ConfListFromBytes`.
So the (long) ID are displayed when using `./bin/podman network ls --format '{{.ID}}'`.

Instead of opening a PR I think this is better if I share the patch here:
[code]
if you prefer that I open a PR do not hesitate

[2020-10-06 13:44] baude commented on #7807
I'll add this one to my queue ... i have one in front of it and somewhat heavy (compared to other days) meeting day.

[2020-10-06 13:50] mheon commented on #7855
The logic we use in `podman inspect` is https://github.com/containers/podman/blob/master/libpod/container_inspect.go#L552-L558

[2020-10-06 14:14] srcshelton commented on #7906
To clarify, this issue is open to suggest that '`--rm`' and '`--restart on-failure`' should *not* be mutually exclusive:

* `--restart on-failure` (and indeed `unless-stopped`) should catch a container exiting due to PID 1 terminating with a non-zero return-code (or in any case unless specifically requested with `unless-stopped`), and restart the container if this happens;
* `--rm` should be trigg

[2020-10-06 14:27] srcshelton opened #7941 "Container storage creation fragile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman` is fragile, and there are various points where interrupting an operation with ctrl+c will leave podman's state undefined, and cause follow-on breakage.

podman should make every effort to be in a position to roll-forwards or roll-back on invocation from any state-change which was in

[2020-10-06 14:29] mheon commented on #7941
Are you certain you interrupted a container when it was *starting*? The container has somehow been removed from the database, which only ever happens during *removal*. Starting a container will never cause it to be removed from the database.

[2020-10-06 14:41] srcshelton commented on #7941
Is it possible the database entry was lost, or was never written in the first place?

To confirm, I'm _certain_ that this occurred during startup: this is a reasonably long-running build-container which I manually invoked, and then just as it was coming up I realised I'd missed something, and so ctrl+c'd it.  Now I can't re-run the process as the container's name is blocked, even though it doesn't

[2020-10-06 14:42] srcshelton commented on #7941
Specifically (hurrah for scroll-back! :)

[code]

[2020-10-06 15:09] mheon commented on #7941
Hm. Probably failed midway through creation, after c/storage created the container but before we actually added it to the DB as a container. Those are in very close proximity, so either something seriously slowed down our DB operations and it aborted mid-transaction or this was a very narrow timing window.

We could potentially alter the order of operations so that the storage is created after we

[2020-10-06 15:15] baude commented on #7934
@psakar could you confirm if you are running the service as rootfull or rootless?

[2020-10-06 16:02] baude commented on #7934
@psakar im asking because i just ran your reproducer with upstream main branch and it ran correctly as rootful.

[2020-10-06 16:08] srcshelton commented on #7941
I suspect I was unlucky with a narrow timing window - the system is reasonably powerful with multiple spinning disks, and wasn't heavily loaded.

I'm not familiar with the code, but is this a case where multiple DB states could be used (something along the lines of `reserved`, `storage created`, `up`?) with appropriate cleanup (e.g. if `reserved` more than a certain period of time previously, assu

[2020-10-06 16:29] srcshelton commented on #7941
If it helps:

* There's a `overlay-containers/2c68b0f01168b42da187d9bfca25552913a2a6d8e8f3ccddc9c33a4a798e70e9`containing only an (empty) `userdata` directory;

* There's an `overlay-containers/containers.json` entry:
[code]

* There is a directory `overlay/6bbc0dd52319fa788f415a9b60830d44f94d964afcfd749d25e568cd7c0ffb08` which contains three empty and unmounted directories `diff`, `merged`, and `

[2020-10-06 16:49] mheon commented on #7941
Looking at this further:

We cannot easily move things around - adding to the Libpod DB needs to be the last thing done, because most things we do before generate information that will need to be added to the container configuration, which can only be written once.

My current thinking is that it may be sufficient to intercept SIGINT and SIGTERM during container creation, and delay them until afte

[2020-10-06 17:01] edsantiago opened #7942 "podman run -t issues CRLF, making for confusing 'podman logs' output"
In window 1 (needed to differentiate podman-remote from podman, in logs):
[code]
In window 2:
[code]
master @ defb754945b3f99c1d786dac95d9b17b24f55e59, but seems to be in v2.1 and possibly older as well. Root as well as rootless.

This is, I believe, causing [flakes in a podman logs test](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5425581623869440/

[2020-10-06 17:49] psakar commented on #7934
@baude rootless (as noted in title)

[2020-10-06 17:58] baude commented on #7934
@psakar ty! i cannot believe i missed that. The # instead of $ was probably confusing me.  I'll take another peek.

[2020-10-06 18:33] c-goes commented on #7398
I'm sorry, I was wrong. It doesn't work, tested with master branch.

[2020-10-06 19:06] mheon commented on #7544
Initial impression: root invocation is definitely not using `cgroupfs` but rather systemd cgroups. Can you confirm that you are definitely passing `--cgroup-manager=cgroupfs` to the root `podman pod create` invocation?

[2020-10-06 21:56] relrod commented on #7056
Those two work, but `podman images` doesn't:

`podman images quay.io/ansible/default-test-container:1.11 --format '{{json .}}'`

I think it might be fixed in git, just not in stable versions.

[2020-10-06 22:20] jwhonce commented on #7928
@Token00 This fix is rolling out across the podman commands now.

[2020-10-07 03:52] ryohayakawa commented on #7800
I removed an entry the id of which matches with the error message from storage/overlay-containers/containers.json. Then it seems to work well.

[2020-10-07 04:56] zhangguanzhang commented on #7942
same with https://github.com/containers/podman/issues/7196#issuecomment-669092535 https://github.com/containers/conmon/issues/195#issuecomment-669225956

[2020-10-07 09:22] giuseppe commented on #7774
from a user point of view, would be fine to require using `podman unshare` to create the "rootless" environment?  It would make it clearer the user asked for it and we don't do any sort of detection based on the capabilities we have.

[2020-10-07 10:36] tmds commented on #7870
For my use-case either of these will work:

Providing the alias on `docker run`:
[code]

Providing the alias post `docker run`:
[code]

[2020-10-07 11:10] edsantiago commented on #7942
Indeed - thank you. This was a very hard problem to search for!

[2020-10-07 12:52] xomachine opened #7946 "API service is using 100% cpu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Podman API service process starts using 100% after closing connection to the /v1/events endpoint

**Steps to reproduce the issue:**

1. Start podman API service `podman system service -t0`

2. Make a request to API service using curl `curl -v --unix-socket /run/podman/podman.sock 'http:/v1/eve

[2020-10-07 13:46] sshnaidm opened #7947 "When specifying one only container published port, the host port is not random but equal to containers one"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When specifying one only container published port - `--publish 9000`, the host port is not random but equal to containers one. In docs it's mentioned that host port will be a random port.

**Steps to reproduce the issue:**

1. `podman run -dit --name zzz -p 9000 alpine sleep 2m`

2. `podman in

[2020-10-07 13:54] mheon commented on #7947
I'll take this one.

[2020-10-07 14:12] TomSweeneyRedHat commented on #7946
@jwhonce thoughts?

[2020-10-07 14:15] srcshelton commented on #7941
I think that this sounds like a good solution - if the problem's still happening after then it can be looked at in more detail, but this will hopefully prevent the majority (if not all) of the incidences of this problem in the first place!

[2020-10-07 14:29] baude commented on #7946
would you be willing to try this upstream main branch?

[2020-10-07 14:46] rhatdan commented on #7939
Fixed in container-selinux-2.146.0

[2020-10-07 14:46] #7939 closed

[2020-10-07 14:55] baude commented on #7934
Ok, I can reproduce this.

[2020-10-07 17:17] rhatdan commented on #5364
THis is now fixed.

[2020-10-07 17:17] #5364 closed

[2020-10-07 17:19] rhatdan commented on #6688
Any progress on this @goochjj ?

[2020-10-07 17:19] #7080 closed

[2020-10-07 17:24] fatherlinux opened #7950 "REST API Method Not Allowed with Podman 2.0.5 and Grype"
/kind bug

**Description**

Using Grype (https://toolbox.anchore.io/) with CentOS Stream 8 and Podman 2.0.5, the Docker Compatible REST endpoint returns a Method not Found error.

**Steps to reproduce the issue:**

1.grype registry.access.redhat.com/ubi8/ubi

Or

1. grype centos

**Describe the results you received:**

From terminal:
[code]

From debug log:

[code]

**Describe the results you expe

[2020-10-07 17:25] #7413 closed

[2020-10-07 17:26] rhatdan commented on #7606
@ruben-herold @mheon What is going on with this one?

[2020-10-07 17:27] #7649 closed

[2020-10-07 17:27] rhatdan commented on #7657
How do we verify this?

[2020-10-07 17:28] rhatdan commented on #7664
This is fixed in the main branch.

[2020-10-07 17:28] #7664 closed

[2020-10-07 17:28] rhatdan commented on #7723
This is fixed in main.

[2020-10-07 17:28] #7723 closed

[2020-10-07 17:29] #7490 closed

[2020-10-07 17:29] rhatdan commented on #7738
@bluebrown @zhangguanzhang Should we close this issue?  Or is this a bug?

[2020-10-07 17:30] rhatdan commented on #7764
@TomSweeneyRedHat lets get this one done.

[2020-10-07 17:31] rhatdan commented on #5278
@cevich Any progress?

[2020-10-07 17:40] mheon commented on #7606
Sorry, this slipped through my radar. To listen on a port via IPv6, `podman run -p [::]:8080:80 ...` should forward port 80 in the container to port 8080 on all IPv6 addresses on the host

[2020-10-07 17:54] rhatdan commented on #7950
Any chance you could try this against the main branch.  I believe we have load support now?
@jwhonce @baude PTAL

[2020-10-07 17:56] #7807 closed

[2020-10-07 18:29] TomSweeneyRedHat commented on #7764
Dang it, the PR did have green test buttons I swear.  Will go look.

[2020-10-07 18:50] baude commented on #6866
@vrothberg lets discuss tomorrow morning.  I don't think this appears to be what we speculated... module analysis provided below.

[code]

[2020-10-07 19:19] baude commented on #7950
Ok, dug into this a little.  The problem is that they are hitting an endpoint that doesnt exist because we were not able to save/load multiple images in a single tarball. I think @vrothberg worked on this recently.  @vrothberg lets talk about this one, coach me up if we can do this.

[2020-10-07 19:21] edsantiago opened #7954 "CI: looks like we lost test-apiv2"
As best I can tell, it looks like we lost `test/apiv2` in the big Cirrus switchover. It needs to be added back.

[2020-10-07 19:29] propeeves commented on #7544
Manual invocation of `podman pod create --cgroup-manager=cgroupfs` works as expected.

The issue arises when other programs run podman create with commands I can't manually control, I'm forced to use configuration files - files which root invocation of `podman pod create` seems to be ignoring when it comes to cgroup-manager

[2020-10-07 19:31] mheon commented on #7544
It's ignoring `containers.conf`?

Can you provide the contents of the configuration file(s) you're using? Can you try making other changes and seeing if they work?

[2020-10-07 19:33] ParkerVR commented on #7751
@rhatdan I made two PRs for this - one that is strictly the Docker compatible style and another that is internally consistent and prints a newline on detaches, let me know what you think

[2020-10-07 19:34] ParkerVR commented on #4854
@rhatdan I will get to this soon after we are out of bug phase

[2020-10-07 19:56] bluebrown commented on #7738
@rhatdan I don't know if this is a bug. How did you intend the deployment to be used?

[2020-10-07 20:05] eiffel-fl commented on #7942
I can try to investigate on this issue but can someone give me more information (if someone has some)?
Indeed, I did not understand if this problem was fixed by #7660 and where exactly this problem occurs (`podman-remote` or `conmon`).

[2020-10-07 20:11] xomachine commented on #7946
Were able to reproduce with version from the master branch on Archlinux
[code]

[2020-10-07 20:15] 3sky commented on #7860
/assign

[2020-10-07 21:16] jam01 opened #7959 "Rootless --cpus results in Permission Denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Executing a simple `podman run -it --rm -p 9000:9000 --memory 1G --cpus 1 localhost/bench-camel:latest` results in
[code]
Executing under sudo works correctly.

This issue seemed related https://github.com/containers/crun/issues/489 but if I remove the `--cpus` flag the memory limit is applied

[2020-10-08 00:25] maybe-sybr commented on #7774
For me, it wouldn't be acceptable because I need to do stuff with network namespaces which AFAICT `podman unshare` doesn't let me do. I'd be happy to mimic some non-hidden variables and wear the cost of  ensuring that I set up the NS such that podman can actually function though.

[2020-10-08 06:06] zhangguanzhang commented on #7942
The root cause is this
[code]

[2020-10-08 06:10] zhangguanzhang commented on #7738
I think you should use `hostNetwork` or `hostPort`, and I think this is not a bug, because k8s has overlay net and svc

[2020-10-08 06:51] sshnaidm commented on #7947
@mheon is there a reason behind a "randomness" of host port? What is it useful for? Wouldn't be more logical to set the same port if only one port was configured (as it's behavior now in 2.x)?
Probably this is not a bug, but feature. (Just need to update docs about it)

[2020-10-08 07:01] giuseppe commented on #7774
Is your process already running with all the needed capabilities?  Don't you already need to create a new user namespace for gaining them?

[2020-10-08 07:46] eiffel-fl commented on #7942
Thank you, I do not promise to come back with a PR but I will investigate on this to try to narrow the root cause.

[2020-10-08 08:18] vrothberg commented on #7657
Adding new tests where the server is started with containers.conf.A and the client with containers.conf.B, which has consistently different values than A. Then we can run a series of commands that exercise the specifics parts.

It's sounds like a lot of work but I think it's a good exercise to explore new areas in the code as the config knobs in containers.conf impact so many different parts of Po

[2020-10-08 08:31] vrothberg commented on #7950
The loading part is working transparently (https://github.com/containers/podman/blob/master/libpod/runtime_img.go#L279) as we are trying a couple of formats in a specific order.

The saving part, however, needs to know whether we are creating a multi-image archive or a single-image archive with additional tags. On the CLI, we added the `--multi-image-archive, -m` flag to `podman save`. To create s

[2020-10-08 08:34] vrothberg commented on #6866
Running `./dependencies/analyses/dependency-tree.sh github.com/containers/podman/v2/pkg/bindings` lists a lot more (transitive) dependencies, including containers/storage, image and so on.

[2020-10-08 09:13] rhatdan commented on #7959
@giuseppe PTAL
I think this might be something to do with systemd setup of cgroups?

I have verified this on my system as well.
$ podman run --rm --cpus 1  alpine echo hello
Error: opening file `cpu.max` for writing: Permission denied: OCI runtime permission denied error

[2020-10-08 09:49] dzerhusen commented on #7800
I saw this entry too. But i was too scared to remove it causing a more inconsistent state.
Thanks for the tip.

[2020-10-08 10:14] NTMan commented on #5922
I have prepared a demo here: https://github.com/NTMan/podman-example

[2020-10-08 10:41] giuseppe commented on #7959
the cpu controller is not enabled by default for unprivileged users.

To verify it, try running `$ cat /sys/fs/cgroup/user.slice/user-1000.slice/user@1000.service/cgroup.controllers`.  What is the output?

Try creating a file `/etc/systemd/system/user@.service.d/delegate.conf` with the content:

[code]

and restart your user session

[2020-10-08 12:20] Karreg opened #7963 "pull image looping until error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pulling some images, it will run in loop. When pulling is done, it will pull again, and again, until there's an error. The error is different each time. Also, error are not the same depending on the storage driver, but the loop is always there...

**Steps to reproduce the issue:**

I gue

[2020-10-08 13:24] mheon commented on #7947
The logic, from what I can tell, is that this makes it trivial to launch a large batch of containers that all want to use the same port, and safely expose all of them to the internet. I could run a dozen HTTP servers with `podman run -p 80 -d alpine` and all of them would safely assign a host port.

[2020-10-08 13:57] mheon commented on #7963
@rhatdan @QiWang19 Is this the pull retry code?

[2020-10-08 14:50] jam01 commented on #7959
[code]

after creating the delegate.conf file
[code]

success:
[code]

What are the implications of adding this config file? I'm guessing there's a reason why it's not setup by default.

[2020-10-08 14:53] QiWang19 commented on #7963
Retry should stop if pull succeeded. Is it possible it retries because of the error `no such file or directory`

[2020-10-08 15:30] eiffel-fl commented on #7942
Unfortunately, I do not come with a solution and maybe more problems...

First, I printed `buf` in `redirectResponseToOutputStreams` after it was read with `conn.Read(buf)`, for this example `./bin/podman --log-level debug run --rm --tty debian sh -c 'echo 1; echo 2' | cat -A` I got the following from debug log:
[code]
Where 2 is the pipe where to write, 49 is ASCII code of '1', 13 that of \r and

[2020-10-08 15:31] giuseppe commented on #7959
the reason for not enabling it by default is that the cpu controller used to be expensive, so systemd avoided to expose it to unprivileged users.  AFAIK, that is not true anymore in newer kernels, so it should be fine to allow it

[2020-10-08 15:47] QiWang19 commented on #7780
This is the same issue as https://bugzilla.redhat.com/show_bug.cgi?id=1867495 that has been fixed. So close this.

[2020-10-08 15:47] #7780 closed

[2020-10-08 15:50] baude commented on #7748
final recommendation is to switch to journal for your event logger.  this can be done in containers.conf.

[2020-10-08 15:50] #7748 closed

[2020-10-08 15:54] jam01 commented on #7959
Made a quick search and found this https://wiki.archlinux.org/index.php/cgroups#User_Delegation

Not sure how it differs from the delegate.conf file, but I couldn't find info on that one after a (very quick) search. I can make a PR to the Troubleshooting Guide with some of this info, if you'd like?

[2020-10-08 16:56] baude commented on #7950
added test

[2020-10-08 18:17] #7947 closed

[2020-10-08 19:19] jwhonce commented on #6510
@nalind @rhatdan This script reproduces issue https://github.com/jwhonce/podman/blob/issues/6510/hack/build-abuse.sh

[2020-10-08 19:24] mheon commented on #7830
I have a PR that will fix this for new containers, but I don't think we can fix existing containers easily.

[2020-10-08 20:41] #7934 closed

[2020-10-08 20:52] cevich opened #7972 "APIv2 Tests fail"
/kind bug

**Description**

While re-implementing podman CI automation, the "APIv2 Tests" were mistakenly omitted.  They have been added back in with PR #7967 but unfortunately a handful of the 350+ items are now failing.

**Steps to reproduce the issue:**

1. Once PR #7967 is merged, simply execute CI testing (e.g. in a new PR)

**Describe the results you received:**

The `APIv2 test on fedora-32

[2020-10-08 21:28] cevich commented on #5278
Thanks for checking, yes in fact I added this really stupid-simple "test":
https://github.com/containers/podman/blob/master/contrib/cirrus/runner.sh#L197-L200

That goes with these two conditional tasks:
https://github.com/containers/podman/blob/master/.cirrus.yml#L618-L655

Unfortunately, neither is well tested...TBH, I only verified that they fail (as expected) :grin:  Worse, and less obvious, t

[2020-10-08 22:08] #7830 closed

[2020-10-08 22:12] #7950 closed

[2020-10-08 22:51] maybe-sybr commented on #7774
Yep, my namespace is basically `unshare -Urnm`. If there's a trapdoor to make `podman` behave nicely in that environment, I'd be happy. This currently works but is clunky and I wouldn't want to rely on it working in future since the env var names are underscored:
[code]

[2020-10-09 05:38] tvvignesh commented on #4131
@rhatdan @AkihiroSuda Hi. I wanted to use Podman to build images in my Gitlab CI pipeline using Kubernetes executor and I have set a restricted PSP (Using exactly this: https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/policy/restricted-psp.yaml) where no capabilities are added and root access is disabled.

Since the build is running in kubernetes directly, there is n

[2020-10-09 09:53] balamuruganravi opened #7976 "rootless podman fails to run after system reboot"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We are running our pod using `systemctl --user start pod-appd.service` after the system reboot. none of the podman commands working. its hang.

**Steps to reproduce the issue:**

1. mkdir -p ~/.config/systemd/user

2. podman generate systemd --files --restart-policy=always --name appd

3.  cp

[2020-10-09 10:01] #7567 closed

[2020-10-09 10:10] #7855 closed

[2020-10-09 11:01] patchon opened #7978 "Random behaviour when using stdout/stderr inside an entrypoint."
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Use the following Dockerfile,
[code]

2. Use the following as entrypoint.sh,
[code]
**Note** how the error messages are redirected to stderr.

3. Build with,
[code]

4. Run with,
[code]

5. Notice the output.
In my world the "[ INF ]"-string at the end of the entrypoint.sh should never be able to be printed before the "[WRN]"-string

[2020-10-09 11:36] Luap99 opened #7979 "podman-remote run and podman-remote start --attach does not handle detaching with detach keys correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman-remote run` and `podman-remote start --attach` does not handle detaching with the detach keys `<ctrl-p><ctrl-q>` correctly.

**Steps to reproduce the issue:**

For `podman-remote run`:

1. Start the podman service

2. `podman-remote run -it alpine sh`

3. detach with `<ctrl-p><ctrl-q>

[2020-10-09 13:03] rhatdan commented on #6192
If someone wants to open a PR in containers/common to kick this off, it would be great.  I like name value pares since it makes it easier to process from bash.

I would worry about information leakage, so we need to be careful about what goes into this file.

[2020-10-09 17:35] jwhonce opened #7981 "system df shows negative values for some images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Unique Size of the image displays a negative value

**Steps to reproduce the issue:**

1. podman system df -v

**Describe the results you received:**

[code]
Version:      2.1.1
API Version:  2.0.0
Go Version:   go1.14.9
Built:        Wed Sep 30 12:31:11 2020
OS/Arch:      linux/amd64
[code]
h

[2020-10-09 19:28] tvvignesh opened #7982 "Podman with Kubernetes executor in Gitlab CI"
Hi. I am trying to run Podman in Gitlab CI using the Kubernetes executor (GKE with containerd specifically) (https://docs.gitlab.com/runner/executors/kubernetes.html) and am struggling to build the image. Details below.

**My Sample Dockerfile:**
[code]

**My Sample CI:**
[code]

While I wanted to go with the restricted PSP (https://raw.githubusercontent.com/kubernetes/website/master/content/en/ex

[2020-10-09 20:27] mheon commented on #7982
It looks like whatever you're running Podman inside is blocking the `mount` syscall (likely via Seccomp or capabilities). I believe you may be able to use Buildah with the VFS graph driver and chroot-only containers to build, but Podman itself cannot function without the ability to mount filesystems. You will have to loosen the permissions on the Kube container that Podman is being run inside if y

[2020-10-09 20:40] tvvignesh commented on #7982
@mheon Thanks for the quick reply. Has anyone tried a sample of Podman executing in containerd - GKE? I am not using anything else since Gitlab runner just spawns a pod in K8 (https://docs.gitlab.com/runner/executors/kubernetes.html)

Podman is running as root within containerd with all permissions given to it (not sure about filesystem mounting though). Are you talking about something like this -

[2020-10-09 21:12] jwhonce commented on #7928
Fixed by https://github.com/containers/podman/pull/7973

[2020-10-09 21:12] #7928 closed

[2020-10-09 21:18] TomSweeneyRedHat commented on #7982
@tvvignesh Podman does use Buildah for the `build` command, but it invokes the `buildah bud` command with slightly different default options, most notably `--layers`.   @rhatdan any thoughts on what the VFS angle might be doing here?

[2020-10-10 03:51] larsks opened #7988 "podman does not transfer ownership/permissions of underlying directory to volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using docker, mounting a volume onto a directory in the container will copy the ownership and permissions of the mountpoint onto the volume.  That is, if I have:

[code]

Then if I mount a volume on that directory, it will inherit the ownership and permissions:

[code]

On the other hand

[2020-10-10 07:00] andylibrian commented on #7979
Let me look into this

/assign

[2020-10-10 09:21] HarriL opened #7989 "create network --label and run --restart unless-stopped are not compatible with Docker."
**Description**
/kind bug
You can not just install podman-docker and expect podman to be compatible.

 I installed podman-docker and got four compatibility issues from a Docker compatible installation kit.
	1. Build Bridge
	Emulate Docker CLI using podman. Create /etc/containers/nodocker to quiet msg.
	Error: unknown flag: --label
	2. Start container1
	Emulate Docker CLI using podman. Create /etc/

[2020-10-10 10:04] zhangguanzhang commented on #7989
I think you should try with the latest version, maybe you need update your repo, and install the latest podman by your package command

[2020-10-10 10:43] rhatdan commented on #5140
Sure, except you need to be careful, they match exactly, IE Name and Value.  Otherwise there is a chance the user specified an environment that overroad the default.  There is also the corner case where the user created the pod/container with an exact match, but I think we can live with this, as a big corner case.

[2020-10-10 10:44] rhatdan commented on #5140
You might want to remove "container=", since Podman adds this itself.  And we don't want openshift setting container=podman when a user runs the container on CRI-O.

[2020-10-10 10:50] #7946 closed

[2020-10-10 10:52] rhatdan commented on #7302
Sure let's do 2.

[2020-10-10 10:55] rhatdan commented on #7705
Sure, we are already beginning to do this.  With certain features (cgroupsV2).  But I don't want a 8 year old OS holding us back,especially when we have no intention os shipping a new supported version of a container engine on it. podman 1.6 was the end of the line for supported RHEL 7.

[2020-10-10 10:57] srcshelton opened #7990 "`podman image prune` fixed, but `podman system prune` does not act recursively"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following from #7872, which made `podman image prune` act recursively, I noted that the fix did not seem to address `podman system prune`.  This was met with some surprise, as the two (as would be expected) apparently share much of their code-paths.  However, on an otherwise quiescent system

[2020-10-10 11:23] rhatdan commented on #7175
@andrew-kennedy @mheon Did anyone ever work on this? Seems like you came ot agreement, and then progress stalled?

[2020-10-10 12:18] rhatdan commented on #7751
It is probably better we follow Docker.

[2020-10-10 12:36] rhatdan commented on #7959
@giuseppe Could you open an issue/bugzilla with systemd to enable this by default in fedora 33/34?

[2020-10-10 12:53] #7922 closed

[2020-10-10 13:30] giuseppe commented on #7959
@keszybz is there any reason why it is not done yet?

[2020-10-10 13:50] mheon commented on #7989
We still don't support labels on networks (going to need the network
rewrite for that) but unless-stopped was added (I want to say in 2.x?).

On Sat, Oct 10, 2020, 06:04 zhangguanzhang <notifications@github.com> wrote:

[2020-10-10 13:54] mheon commented on #7175
We need support for Seccomp notifier in Common first (in progress but not
merged last I checked). Once that is done I can look into it.

On Sat, Oct 10, 2020, 07:24 Daniel J Walsh <notifications@github.com> wrote:

[2020-10-10 14:21] keszybz commented on #7959
I don't think there's any particular reason, except for history as mentioned above. Do we have something from the kernel side that we could link to to justify that this is not expensive anymore?

[2020-10-10 15:17] giuseppe commented on #7959
from a quick look, I cannot find anything in the git history

[2020-10-11 03:08] sycured commented on #7418
`Error: unknown flag: --privileged`

[code]

Tested with podman 1.6.4 and 2.1.1

[2020-10-11 09:00] keszybz commented on #7959
@htejun, @poettering ?

[2020-10-11 10:36] mhmr opened #7991 "requested IP address 172.22.1.254 is not available in range set 172.22.1.1-172.22.1.254"
/kind bug

**Description**
Trying to create container in the 172.22.1.0/24 network with this fixied ip 172.22.1.254 and getting the following error:

[code]
i tried 172.22.1.253 too and getting same error but 253 and less are ok...

the network is as follow:
[code]

[2020-10-11 10:44] zhangguanzhang commented on #7991
could you show the comand to reproduce it？

[2020-10-11 11:03] mhmr commented on #7991
am just trying like this :
[code]
and getting same message, I think those are not available because i assigned them before and even i removed those pods and containers but they are still assigned? how to reset the `cni-podman1` interfaces?

[2020-10-11 11:16] mhmr commented on #7991
and from
`"iptables -t nat -L"` i got this... though there all the 172.22.1.0 and 172.22.0.0 must be not there..
[code]

[2020-10-11 11:47] zhangguanzhang commented on #7991
It works ok, which version do you used
[code]

[2020-10-11 12:02] mhmr commented on #7991
[code]

[2020-10-11 12:48] zhangguanzhang commented on #7991
could you show the result of the command?
[code]

[2020-10-11 12:59] mhmr commented on #7991
[code]

[2020-10-11 13:12] zhangguanzhang commented on #7991
It works on on my Centos8, maybe need others to look at
[code]

[2020-10-11 16:22] #7738 closed

[2020-10-11 18:11] mhmr commented on #7991
[code]

[2020-10-12 01:47] maybe-sybr commented on #7774
I've also noticed that if I don't have a `~/.config/container/policy.json`, `podman` will explode like so if I need to pull the image:
[code]

I was able to sidestep it by copying the system-wide `policy.json` into the appropriate place but it would be nice if that wasn't necessary.

[2020-10-12 07:40] giuseppe commented on #7774
my suggestion is to make `podman unshare` do the equivalent of `unshare -Urm` (differently than your command, there is no new network namespace created) and set the environment variables.

[2020-10-12 09:56] mhmr commented on #7991
i think it is happened as follows:
Create the network
Create the pod
Create the containers in side the pod and the created network..
Now delete the network: it will ask you to add -f cause there are associated containers to it.
Add -f and delete the network, this will delete the containers as will, but keeping the pod.
if you do this for the beginning whatever ip's taken in the first time it will

[2020-10-12 10:10] zhangguanzhang commented on #7991
could you paste the full commands to repreduce it? It would be helpful

[2020-10-12 10:53] #7860 closed

[2020-10-12 12:56] xordspar0 commented on #7959
FWIW, I can't reproduce this on the Fedora 33 beta.

[2020-10-12 13:37] balamuruganravi commented on #7976
Hi Team,
Could someone please help me to resolve the above issue.

[2020-10-12 13:40] zhangguanzhang commented on #7976
@mheon PTAL

[2020-10-12 13:53] mheon commented on #7976
The `Failed to connect to bus` bit makes me think that the systemd user session is not up - have you run `loginctl enable-linger` for the user(s) in question?

[2020-10-12 14:13] balamuruganravi commented on #7976
yes. after enabling the systemd user session. I run `loginctl enable-linger podman` before the system reboot. after the system is up , unable to run any of the podman commands.

[2020-10-12 14:23] mheon commented on #7976
@giuseppe PTAL - Any ideas? User has lingering enabled, but at the same time we don't seem to have a systemd user session active.

[2020-10-12 14:32] lisongmin opened #7993 "The output of podman build is confuse when dockerfile missing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Steps to reproduce the issue:**

1. Run `podman build` in directory that Dockerfile is missing

[code]

The output message **double** the working directory which confuse me.

2. when running with `buildah`, the output is expected, so i realize my typo of Dockerfile name.

[code]

**Describe the results you

[2020-10-12 14:33] mheon commented on #7993
@TomSweeneyRedHat PTAL

[2020-10-12 14:54] htejun commented on #7959
Unfortunately, it is still expensive with increasing nesting levels. Didn't really improve much. I don't know whether that justifies user-disturbing behavior differences tho. For context switch sensitive workloads, we see the overhead being easily above a percent of total cpu time per level. Whether that's prohibitive or not depends on the specific use case.

[2020-10-12 15:08] mecurc commented on #7318
This is still a problem for us, which complicates our workflow.

[2020-10-12 16:20] rhatdan commented on #7993
This is what I am seeing.
[code]
Which looks good, if not a little long.

[2020-10-12 17:28] xordspar0 commented on #7742
https://github.com/containers/podman/pull/7853 was merged, so that should wrap this issue up I think.

[2020-10-12 17:50] keszybz commented on #7959
Thanks @htejun. In case of rootless podmans, we have fairly deep nesting levels, e.g. `/user.slice/user-1000.slice/user@1000.service/app.slice/app-org.gnome.Terminal.slice/vte-spawn-ea238e8a-d779-4795-a6ce-e32fa68ccf53.scope`. In addition, we would automatically enable accounting for sibling cgroups, i.e. a lot of the user session. So overall, this would be fairly expensive.

But we could enable D

[2020-10-12 17:56] TomSweeneyRedHat commented on #7742
As the reporter gave a thumbs up, I'm closing this issue.  @xordspar0 TYVM for the PR to fix this!

[2020-10-12 17:56] #7742 closed

[2020-10-12 22:04] maybe-sybr commented on #7774
As in you're suggesting that I do that, or suggesting that's the change you'd look to make to `podman unshare`? It already does that AFAICT and I'd most likely rather just use the hidden environment variables in my own codebase than alter my `unshare` command in scripts which I'd like to eventually upstream to Akihiro in rootlesskit where it wouldn't be sensible to use.

I could make my scripts ac

[2020-10-12 23:09] lisongmin commented on #7993
But the path does not right?
It should be `/home/dwalsh/foobar/Dockerfile` but not `/home/dwalsh/foobar/home/dwalsh/foobar/Dockerfile`

[2020-10-13 00:01] mheon commented on #7993
Reopening - you're very right, that path is wrong.

[2020-10-13 04:46] zhangguanzhang commented on #7318
@ashley-cui PTAL

[2020-10-13 06:54] giuseppe commented on #7774
`podman unshare` should also ensure you will re-join the same user+mount namespace once one was created.  The issue with `unshare -c` is that it creates a different user namespace each time, so you might not be able to access/manage containers created in a different user namespace by a different `unshare -r` command.

[2020-10-13 07:00] giuseppe commented on #7976
what do you see with `systemctl --user status dbus-broker.service` ?

I wonder if the podman service is trying to start before dbus is running.  In this case, could you try adding a dependency on `dbus.socket` in the podman .service file?

[2020-10-13 07:04] lisongmin opened #8001 "podman run --override-arch do not download the image with correct architecture if the image with other architecture is exists."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`docker run --override-arch` do not download the image with correct architecture if the image with other architecture is exists.

**Steps to reproduce the issue:**

1. enable multiarch support on x86_64

[code]

2. ensure golang image is removed

[code]

3. create a container of golang with n

[2020-10-13 07:38] tmds commented on #7888
@rhatdan @mheon what are your thoughts on the suggested approach?

@AkihiroSuda provided some info about what the implementation could look like: https://github.com/containers/podman/issues/7888#issuecomment-703515751

[2020-10-13 09:40] seanmcneil3 opened #8004 "podman run --privileged --userns=keep-id does not properly set HOME env"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a container in privileged mode with userns=keep-id, the output of the command "id" is correct, but behavior is slightly off with podman version 2.1.1. In previous version, the environment variable HOME would be properly set to the namespace. It is now set as HOME=/root.

**Steps

[2020-10-13 10:41] w4tsn opened #8005 "power-loss while creating containers may leave podman (storage) in a broken state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If power-loss occurs in a small time window while creating containers with podman, the container storage is broken and no containers can be started nor created anymore. Only a `podman system prune -a` seems to resolve the issue while all other prune commands don't.

**Steps to reproduce the i

[2020-10-13 10:50] balamuruganravi commented on #7976
podman@container-host[~] $ systemctl --user status dbus-broker.service
Failed to connect to bus: No such file or directory

may I know where is the podman .service file located?

[2020-10-13 10:52] giuseppe commented on #7976
I meant the .service file for starting the container ->`cp .service /home/podman/.config/systemd/user`

[2020-10-13 11:05] balamuruganravi commented on #7976
Sorry I am not sure where to add the `dbus.socket` value , could you please explain in detail. Here is my current pod systemd unit file
`cat /home/podman/.config/systemd/user/pod-appd.service`
[code]

[2020-10-13 11:24] vrothberg commented on #8005
@mheon PTAL

[2020-10-13 11:29] marcofranssen opened #8006 "podman equavalent for `docker trust inspect ...`"
/kind feature

**Description**

I'm searching for the equivalent of `docker trust inspect alpine`. For compatibility with docker I think that should be added. furthermore I can't find any documentation with regards to enabling content trust.

In Docker this can be done using `DOCKER_CONTENT_TRUST=1`.

I have checked this using the `quay.io/podman/stable:latest` with image id `4c0f1fd71288`.

[2020-10-13 11:30] w4tsn commented on #8005
may be related to #7941

[2020-10-13 11:51] CleanHit commented on #4846
I'm having the same issue as described above. I ran my `podman run` command with `-u sync` so I don't know if that the source of my problem. Before running the `run` command I have this output
[code]
And after it it was
[code]
After that some of my applications e.g. the __Dolphin__ browser don't work anymore, saying that `/run/user/$UID` was changed to __7711__ and needs to be __7700__.

__Output

[2020-10-13 11:58] giuseppe commented on #4846
podman needs to make the directory accessible otherwise the user in a user namespace cannot access it (--userns=keep-id).

[2020-10-13 12:34] mheon commented on #8005
This looks like the symlink recreation issue that we have seen elsewhere in
c/storage (it first cropped up in CRI-O).

On Tue, Oct 13, 2020, 07:30 Alexander Wellbrock <notifications@github.com>
wrote:

[2020-10-13 13:01] rhatdan commented on #7959
It seems to me that we should document in the man page and perhaps make the error more helpful, to point them at turning on this nob.  Only an extremely small number of users will ever run rootless containers with this type of setting, so the majority of users in the world should not pay the penalty.

[2020-10-13 13:32] mheon commented on #8005
Unfortunately, I don't think we've ever had a good explanation as to the exact cause of this. I know a fix was landed earlier (around a year ago) when CRI-O hit this, but it appears that it did not fully resolve the issue.

[2020-10-13 13:32] mheon commented on #8005
Unlikely to be related to #7941

[2020-10-13 13:33] rhatdan commented on #7993
I believe https://github.com/containers/buildah/pull/2689 is attempting to fix this.

[2020-10-13 13:39] rhatdan commented on #8001
I take it you meant to say
[code]

[2020-10-13 14:00] giuseppe commented on #7976
in the `Requires=` list

[2020-10-13 14:29] balamuruganravi commented on #7976
thanks @giuseppe. added the `dbus.socket` in pod-appd.service file exit and re-login as podman user. but still I get the same error unable to execute any of the podman commands it hang.

[code]
cat /home/podman/.config/systemd/user/pod-appd.service
[code]
[code]

[2020-10-13 14:44] giuseppe commented on #7976
is there any useful information in the user journal `journalctl --user` or alternatively in the system log?

[2020-10-13 15:59] balamuruganravi commented on #7976
journalctl --user
[code]

[2020-10-13 18:11] ParkerVR commented on #7751
@rhatdan the non-docker edition got merged in. If you want the Docker style I can update that PR to undo the other change, otherwise I will continue with the current detach method and test on the other cases brought up

[2020-10-13 19:09] smithfarm commented on #7454
Still seeing this in 2.0.6

[2020-10-13 19:11] #7954 closed

[2020-10-13 19:13] mheon commented on #7454
This did not make it back into the 2.0.x releases (sorry for saying that earlier - I was mistaken). It is present in 2.1.x and up releases.

[2020-10-13 19:36] enedil opened #8012 "`arch: arm` instead of `arch: arm32v7` implies official images need to be referenced by archtecture explicitely"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running Podman on Raspberry Pi:
[code]

The problem is, that `podman info` tells that my architecture is
[code]

However official docker.io images have architectures named a bit differently, for instance `arm32v7`. This is caused by using `runtime.GOARCH` (`libpod/info.go`, function `host

[2020-10-13 19:41] mheon commented on #8012
@rhatdan @QiWang19 @mtrmac I'm going to guess the issue here is that we're not properly setting the variant field?

[2020-10-13 19:46] rhatdan commented on #8012
@vrothberg PTAL

[2020-10-13 19:49] #7993 closed

[2020-10-13 20:03] rhatdan commented on #4131
It would definitely need to be --privileged, and have a volume mounted on /var/lib/containers.

[2020-10-13 20:23] rhatdan commented on #8006
Podman does not support Notary.  This would require community to get support.  It does support Simple Signing.

podman image trust
podman image sign

[2020-10-13 21:19] #7751 closed

[2020-10-14 07:21] trusch opened #8014 "panic when removing remote network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm able to create a client side panic when I try to remove a network using `--remote` when accessing a rootless podman server.

**Steps to reproduce the issue:**

1. Enable rootless podman socket on the server
2. Create network `foo` on the server
3. Connect from client to server (add connec

[2020-10-14 07:55] giuseppe commented on #7175
I am not sure what the expectation is for `--publish 5000:3000`.  I'd expect the host port 5000 is forwarded to the pod network namespace port 3000.  If we want to support rebinding ports inside of the pod itself, we could create a network namespace for the pod and then another network namespace for the container and setup a veth between the two namespaces.  That is possible, but seems quite compl

[2020-10-14 08:04] zhangguanzhang commented on #8014
@mheon
need merge this
https://github.com/containers/podman/commit/343a10e25fb12685f18ed3600c567397c01a7cc8#diff-825f21ad71e23c991f90a0d19d60799b95ca802c280ce3fdb8c9d794f4f89b6e

[2020-10-14 10:53] marcofranssen commented on #4131
So the PR mentioned above doesn't resolve yet the fact that a privileged container is required? E.g. for Github Actions or Gitlab CI. From a security point of view you can't really run a privileged container there.

[2020-10-14 12:27] bbodiya-akamai commented on #4131
@marcofranssen, I'm not sure about the PR mentioned, but I have verified that podman now works in an unprivileged docker container with some caveats.  One that tripped me up is that the host kernel must support deferred deletion.  Here's a simple docker image that lets you check that quickly:

[code]

Assuming that works, you can run podman in docker like this:

[code]

[2020-10-14 13:16] mrvarchar opened #8015 "`podman images --format '{{json .}}'` fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman images --format '{{json .}}'` fails with following error.

[code]

It seems to be the same as issue #5981.

**Steps to reproduce the issue:**

1. Execute `podman images --format '{{json .}}'`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Imag

[2020-10-14 13:19] mheon commented on #8015
@jwhonce Is this already fixed by your `--format` work?

[2020-10-14 13:28] baude commented on #7748
the # in the events_logger line needs to be removed to activate it.  also, your podman binary needs to be built with system (iirc)

[2020-10-14 14:14] balamuruganravi commented on #7976
Hi @giuseppe did you get chance to look at the log.

[2020-10-14 14:20] unixfox commented on #7606
Listening on an IPv6 port works but the container doesn't receive any request:
[code]

Here is the result in IPv4:
[code]

podman version 2.1.1 and it is running as root

[2020-10-14 14:27] jeffwubj opened #8016 "Support native source folder for volume mount in remote model"
Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)

/kind feature

Description

Currently, looks like in podman's remote client case, bind volume will use source folders on podman server's host, could we support (or give some configurations to choose) using source folders on podman client's host?

podman client and podman server may run in different hosts, or one runs in the

[2020-10-14 14:34] andrin55 commented on #7511
Hi

Is there any progress on this issue?
With Podman version 2.1.1 it's still not implemented:
[code]

When I start the container on my dualstack macvlan network with IPv4 set statically, it allocates a both address types (just the IPv6 address is dynamic):
[code]

[2020-10-14 15:12] bcstinch opened #8017 "Weird Userspace Bug Related to Kube YAML Format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With specifically the postgres container, postgres within the container cannot be run as root. When running this container via podman cli, it works fine. When you then export that container in a kube yaml file, then try and do a podman play kube, it will throw an error related to postgres not

[2020-10-14 15:15] ParkerVR commented on #8015
We have been overhauling this feature, it is fixed in the upstream

[2020-10-14 16:25] afbjorklund commented on #8016
I think this also happens, when using docker to connect to a remote server (rather than using the Docker Desktop product) ?
In Docker Toolbox (`docker-machine`), they worked around this issue by sharing the entire home folder (!) using `vboxsf`...

You should be able to create network volumes using `podman volume`, but I am a little uncertain about the syntax to use.
It takes a `--driver` paramete

[2020-10-14 17:19] jwhonce commented on #7843
As of https://github.com/containers/podman/pull/7987 these are fixed

[2020-10-14 17:19] #7843 closed

[2020-10-14 18:05] mheon commented on #7511
Not yet. We want to look into Podman and IPv6 compatibility, but we haven't found the time to do so properly yet.

[2020-10-14 18:33] rhatdan commented on #8014
@zhangguanzhang Is that already merged into the main branch?

[2020-10-14 18:39] Luap99 commented on #8014
@rhatdan Yes

[2020-10-14 20:07] cevich opened #8023 "unable to load manifest list: unsupported format"
/kind bug

**Description**

Podman does not support inspecting non-list type manifests which may be returned from a registry mirror.

**Steps to reproduce the issue:**

1. Configure ~/.config/containers/registries.conf with
[code]

2. run `podman manifest inspect docker://busybox:latest`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional i

[2020-10-14 20:29] asottile opened #8024 "podman build --pull (--pull behaviour is different from docker)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

the behaviour of `podman build --pull` differs from that of `docker build --pull` (the behaviour in docker is more like that of `podman build --pull-always`)

**Steps to reproduce the issue:**

1. have an outdated base image

2. `podman build --pull ...`

**Describe the results you received:*

[2020-10-14 20:31] edsantiago commented on #7139
I think this might be the same error, although it's just plain podman-run, no pods: [sys podman fedora-31 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5223372348981248/html/sys-podman-fedora-31-rootless-host.log.html#t--00019)
[code]

[2020-10-14 20:42] mheon commented on #8024
@TomSweeneyRedHat PTAL

[2020-10-14 20:52] rhatdan commented on #8024
We probably should fix this, but it would involve differences between `buildah bud` and `podman build`
But that is probably alright since we already differ on --layers flag.

[2020-10-14 22:06] rhatdan commented on #8014
Fixed in Main.  Might be backported to podman 2.1.2

[2020-10-14 22:06] #8014 closed

[2020-10-14 22:31] smekkley commented on #4131
buildah with chroot mode with vfs works in rootless podman. So building containers no longer requires root anymore thanks to podman/buildah. Naturally you can also run in buildah isolation mode, but it's just chroot and there are some gotchas.

[2020-10-14 22:57] lukts30 opened #8026 "Restoring a checkpoint panics (in pod with infra container)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Restoring a checkpoint in a pod panics when the pod was created with infra container enabled (Default: true).

**Steps to reproduce the issue:**
1.  Run the [criu podman example](https://criu.org/Podman) in a pod.
[code]
2.
[code]
3.
[code]

**Describe the results you received:**
Panics when

[2020-10-15 00:36] RLovelett commented on #6604
In case the perspective of an ignorant end user is at all helpful here: I tried @yangm97's suggestion and that gives me more or less what I was looking for.

[2020-10-15 02:13] anthonynguyen394 opened #8027 "Podman port mapping cannot access externally"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**

I have an AWS EC2 instance running RHEL 8 where I have done the basic port mapping to a container on ports 443 and 80, using root account.

The response is able to be displayed locally with curl -k https://localhost:443.
However when trying to access the application using the public dns, the u

[2020-10-15 04:31] dominic-p commented on #7706
Is this a regression? I could swear I was able to use `--userns=keep-id` inside a pod recently, but now I'm running into the same permission error.

[2020-10-15 09:09] #8004 closed

[2020-10-15 09:19] pendulm commented on #8027
Have you checkd your firewall? or temporary disable SELinux and try again.

[2020-10-15 12:02] bbros-dev opened #8031 "Network namespace silently stops port sharing."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Launching a container with a network namespace that connects to Wireguard, **silently** prevents ports being shared with the host.

**Steps to reproduce the issue:**

1. Create network namespace `wg-cntnr` per [WireGuard instructions](https://www.wireguard.com/netns/)

[code]

2. Test that Po

[2020-10-15 12:07] lmgray commented on #6265
I have a related question...   I'm running into a similar problem and would like to **_programatically_** add an accept clause to /etc/containers/policy.json for containers-storage transport.  I don't see a way to add/modify a transport other than "docker" using `podman image trust set ...`  I'm imagining being able to do something like `podman image trust set -type=accept  --transport=containers-

[2020-10-15 13:24] mheon commented on #8027
Firewall is definitely my guess. Docker will adjust IPTables rules to allow traffic through without intervention, but that's really an antipattern - we don't want to allow traffic through without intervention. You may want to try allowing traffic to port 8080 on the system.

[2020-10-15 13:32] mheon commented on #7706
No - this has never worked.

[2020-10-15 13:34] mheon commented on #8031
To clarify - does accessing the port *never* work, or does it briefly work and then cease working?

[2020-10-15 14:06] danny2001k opened #8032 "Podman doesn't connect behind corporate proxy"
/kind bug

**Description**

podman doesn't connect behind corporate proxy

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
[code]
**Describe the results you expected:**

Not an error :)

**Additional information you deem important (e.g. issue happens only occasionally):**

Docker works:
[code]
**Output of `podman version`:**
[code]

**Output of `podman info --debug`

[2020-10-15 14:09] #8026 closed

[2020-10-15 14:11] LexNetAT opened #8033 "podman top -eo failed with error"
/kind bug

**Description**

"podman top ctrID -eo user,pid,comm" output a error message in place of the ps output
podman should support the parameter -eo as well as docker.

**Steps to reproduce the issue:**

Use a container id from the podman ps command, in this example the id 9526245a1f34.
podman top 9526245a1f34 -eo user,pid,comm

**Describe the results you received:**

Error: error executing p

[2020-10-15 14:18] mheon commented on #8033
@vrothberg PTAL

@LexNetAT Can you provide more details on the container this is being run in - how it was created, what image it's using, etc.

[2020-10-15 14:33] QiWang19 commented on #6265
Current `podman image trust set -t accept containers-storage` only set the scope under the docker transport. It would be possible to have --transport=containers-storage, and if --transport not specified, it defaults to docker transport.

[2020-10-15 15:14] banool commented on #5986
I am seeing this issue too.

[code]
[code]
[code]
The workaround for me was to delete the image:
[code]

[2020-10-15 15:29] xordspar0 commented on #7959
Where do you think documentation like that should live? This effects several CPU-related flags, so I would maybe add a quick note under `--cpus`, `--cpu-quota`, etc. I don't see a troubleshooting section in the man pages. Maybe an example in `podman-run(1)`, something like "setting CPU limits in rootless mode"?

[2020-10-15 15:50] vrothberg commented on #8033
`podman top` is, in some way, a hybrid. While it supports all the advanced descriptors from `containers/psgo` it also needs to be compatible with Docker which is executing `ps(1)`. In this case, the `-eo` will cause Podman to fallback to executing `ps -eo ...` **in** the container and it looks like `ps` isn't present (or in the path).

I suggest to call `podman top ... pid,comm` instead.

[2020-10-15 17:24] lmgray commented on #6265
I have (ahem) "a workaround" in my automation right now that I'm not proud of:
[code]
This duplicates the "docker-daemon" transport policy (which is insecureAcceptAnything in my case) to a new "containers-storage" transport policy for better or worse.

I'd certainly like to upvote the idea of adding the ability to use `podman container trust set ...` to create/manage other transports since that se

[2020-10-15 18:51] TomSweeneyRedHat commented on #8024
@asottile can you tell me which version of Docker you're comparing against please?  One of the latest ones from Docker/Moby upstream or something else?

[2020-10-15 18:57] asottile commented on #8024
I actually don't have docker installed on my current machine (I've gone full `podman` + `buildah`), but I'm [familiar with the behaviour](https://stackoverflow.com/a/58488653/812183) -- the [docs](https://docs.docker.com/engine/reference/commandline/build/) also mention this:

I can try and get a specific version if you'd like, though this option has worked this way as long as I can remember

[2020-10-15 19:19] TomSweeneyRedHat commented on #8024
@asottile thanks I just wanted to make sure the behaviour in the version of Docker you were using aligned with what Podman should be doing.   Based on an article that I wrote several months ago (https://www.redhat.com/sysadmin/podman-image-pulling) `podman build --pull` which should default to `podman build --pull=true` should pull the image if it is not present locally, or if there's a new versio

[2020-10-15 19:21] bbros-dev commented on #8031
It never works with the network namespace.

[2020-10-15 19:26] asottile commented on #8024
yeah it doesn't seem to do the "if there's a new version in the registry" part:

[code]

[2020-10-15 20:23] remyluslosius commented on #7606
Any idea what podman version first implements this ipv6 solution "podman run -p [::]:8080:80 ..."? This obviously doesn't work in RHEL 8.2.  **Podman version 1.9.3**

``
 podman run -p [::]:80:80 -p 80:80 --name web -d docker.io/library/nginx:latest
``

**output:** Error: cannot resolve the TCP address: address :::80: too many colons in address

[2020-10-15 20:33] mheon commented on #7606
Podman 2.0 and up

[2020-10-15 20:39] bbros-dev commented on #8031
Hmm, as best we can tell this is the only workaround:

[code]

Any other workaround suggestions to get the port shared?

[2020-10-15 21:42] remyluslosius commented on #7606
@mheon Thanks

[2020-10-15 22:44] TecHunter commented on #4251
I have the same problem with Fedora CoreOS.
I've disabled ipv6 and cgroup2. trying to get openshift images and get the same timeout randomly. Cannot finish to download 800MB even with a 1GB/s connexion. If this issue is closed, I don't see a solution, could someone help?

[2020-10-15 23:35] TomSweeneyRedHat commented on #8024
@asottile Where is your registry located?  Is it on quay.io by chance?  I'm having some real funkiness going on where I keep only getting the odler variant of the image regardless of the pull type I use.  More concerning, after I delete the tag on quay.io, then push the new version it to quay.io, remove all images on my host, and pull the image again, I still get the old version which should not b

[2020-10-15 23:38] asottile commented on #8024
the image above (`ubuntu:bionic`) is from dockerhub (I believe docker.io is the canonical address?)

[2020-10-15 23:38] anthonynguyen394 commented on #8027
My instance is not using the iptables or firewalld services.
One curious thing is when I removed docker on the instance (as my app was previously running on Docker and migrated to Podman), and rebooted, things started to work.

Is there some known network conflict between Podman and Docker?

[2020-10-15 23:43] asottile commented on #8024
the code here _seems correct_:

https://github.com/containers/buildah/blob/73ae0013fc6a05b74078ef4d1108ed6221ff7fde/cmd/buildah/bud.go#L114-L119

my guess is the "if newer" code is broken 🤔

https://github.com/containers/buildah/blob/ab1adf15470799177d86293f7e0d7c7b7b91bded/new.go#L168-L190

[2020-10-15 23:51] langdon opened #8038 "error when runlabel is missing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman container runlabel run registry.access.redhat.com/ubi8/php-73`
1. `panic: runtime error: index out of range [0] with length 0`
</snip>

OR
1. `podman container runlabel --display run registry.access.redhat.com/ubi8/php-73`
1. `panic: runtime error

[2020-10-16 00:15] mheon commented on #8038
I'll grab this one.

[2020-10-16 02:13] zhangguanzhang commented on #8038
@mheon  It’s daytime in our place, if you don’t submit the pr in time, can I take it?

[2020-10-16 03:35] yan12125 commented on #6050
Thanks for the fix #7638. The HTTP methods are consistent with Docker now, but that endpoint still returns "501 Not Implemented" as of Podman 2.1.1.

[2020-10-16 06:40] trusch opened #8040 "no default dns plugin when creating rootless network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I create a new network in as non-root, the dns plugin is not added, even when explicitly setting `--disable-dns=false`.
Besides that, I'm super happy about rootless networking :)

**Steps to reproduce the issue:**

1. `podman network create --disable-dns=false foo`

2. `cat ~/.config/cni

[2020-10-16 07:34] LucaCappelletti94 commented on #1680
I am facing the very same issue on `podman version 1.0.2-dev`.

[2020-10-16 07:39] LucaCappelletti94 commented on #1680
I have resolved the issue: the podman instance has been launched using a custom run_root and root parameter. Using the following has displayed the correct output from ps:

[code]

[2020-10-16 08:52] adelton opened #8041 "Data not copying up to volumes for containers created but not started"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When volume and container with this volume are created by docker, that volume gets populated (copied up from the image) and can then be consumed by another container using `--volumes-from`. It does not seem to work with podman, in spite of https://github.com/containers/podman/issues/3945 havi

[2020-10-16 09:01] adelton commented on #8041
The reason I only create the container but not run it is that in real use-case, the image serves only as a distribution mechanism for the data to be used as volume and there are no binaries on it to run. The end goal of this exercise is to then copy the data from the volume to real directory on the host, with something like

[code]

I also looked at skopeo but it only seems to manipulate the whole

[2020-10-16 09:55] Luap99 commented on #8040
The `dnsname` plugin is only added to the config if the plugin is installed.

For rootless this check make no sense since we use a cni-infra container for networking which always has the plugin.

[2020-10-16 13:23] mkaranki opened #8047 "podman run --restart=always <container> loses networking on restart"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a restart policy to restart a container if it exits is applied (e.g. with podman run --restart=always <container> command), then
in case of a restart, the container loses the networking at least with the default slirp4netns network.

**Steps to reproduce the issue:**

1. Start some conta

[2020-10-16 13:27] larsks commented on #7988
Can't reproduce. Must have been smoking something.

[2020-10-16 13:27] #7988 closed

[2020-10-16 13:38] bilal-ameer-ivolve commented on #6510
Guys having alike issue,
[root@overcloud-controller-0 ~]# podman run --network host --name  redis-bundle-podman-0 bilalbinameer/helloworld
Error: error creating container storage: the container name "redis-bundle-podman-0" is already in use by "646acb522ae7665d689baa3f3b705926e6f1cc44a13fc0a61350a582e65fef5b". You have to remove that container to be able to reuse that name.: that name is already i

[2020-10-16 14:18] mheon commented on #8041
This is one place where I don't know if we can copy Docker. Our `create` operation is very lightweight and deliberately does not mount the container (so we can't perform the copy-up during it). Changing this wouldn't be that hard but does have significant performance implications for commands like `podman run`.

You should be able to do a `podman init` and then `podman container cleanup` on the co

[2020-10-16 14:26] adelton commented on #8041
Running `podman init` I get
[code]
So for a container image which has no executable binary to run, that does not seem to do the trick.

[2020-10-16 14:32] mhmr commented on #4530
I understand this might still open issue, but is there anyway to go around this, any currently existing feature that we can use to go around it?

[2020-10-16 15:03] mheon commented on #8041
Hm, damn - didn't expect it would do that check before starting the
container.

On Fri, Oct 16, 2020, 10:27 Jan Pazdziora <notifications@github.com> wrote:

[2020-10-16 16:03] Masber opened #8048 "podman container not responding after reload firewalld"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman container network breaks after reload firewalld

**Steps to reproduce the issue:**

1. Run a continer
$ podman run --cap-add=IPC_LOCK -d -e "VAULT_ADDR=http://148.187.80.29:8200" -p 8200:8200 -v "/var/local/vault:/vault" -v "/etc/vault.d/:/vault/config/" --name="hashicorp-vault" vault:

[2020-10-16 18:33] disaster123 commented on #5849
@rhatdan yes tested with podman v2.1.1 still the same.

[2020-10-16 18:54] sonuyos opened #8049 "Not able to access over web-ui"
I have a server with podman installed,

And this is the command i run.

`podman run -dt --name=deluge --net=host -p 0.0.0.0:5362:5363 docker.io/linuxserver/deluge`

But whenever i try to access the Web-Ui it just says the connection is reset.

Neither Port works, i even tried to curl to the port from within the server, but it just says connection reset.

I cannot access the webui at all, same for

[2020-10-16 20:05] Luap99 commented on #8048
This is already tracked here: https://github.com/containers/podman/issues/5431

[2020-10-16 20:05] #8048 closed

[2020-10-16 20:10] #8038 closed

[2020-10-16 20:13] acastong commented on #6604
Since the `play kube` command does not have a `--log-driver` option, this remains a problem for containers created through this command.  A `--log-driver` option to `play kube` would allow @yangm97's suggestion to work for pods too.

[2020-10-16 20:29] Luap99 commented on #8049
This is not a podman problem. Did you follow the instructions here: https://docs.linuxserver.io/images/docker-deluge?
It says you shouldn't use the `-p` option and the url is `http://SERVER-IP:8112`

[2020-10-16 20:29] #8049 closed

[2020-10-16 21:52] daniel-wtd opened #8050 "high load in combination with cockpit-podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running cockpit 229 and cockpit-podman 24, I can see some very high load, caused by `podman system service`.

**Steps to reproduce the issue:**

1. install Fedora 33
2. install podman
3. install cockpit and cockpit-podman
4. Login as privileged user
5. access the cockpit-podman page
6. r

[2020-10-17 01:56] lovebaby979 opened #8051 "how to login my repository"
/kind feature

**Description**
podman login my repository report error,how to setting?

error:
podman login registry.my.com:31231
Authenticating with existing credentials...
Existing credentials are invalid, please enter valid username and password
Username (admin): admin
Password:
Error: error authenticating creds for "registry.my.com:31231": pinging docker registry returned: Get https://registry

[2020-10-17 02:51] zhangguanzhang commented on #8047
@lsm5 PTAL

[2020-10-17 05:11] fcabralpacheco commented on #7706
@dominic-p
@mheon
I've been using containers with "--userns=keep-id" inside pods for some time on Fedora (Silverblue), and it works. The infra container will not be running with "--userns" ("UsernsMode"), but that it's not a problem for some use cases (I think).

@ensc

podman run --pod=userns-test --user=root --rm -it --userns=keep-id busybox nc -l -p 22

This works with root user (you are reques

[2020-10-17 08:51] sonuyos opened #8052 "Unable to run podman via user (without sudo or root access)."
I just restarted the server and logged in as user.

Tried to execute this command

`podman run -dt -v ~/.config/rutorrent:/config --net=host docker.io/linuxserver/rutorrent`

And it wouldn't lemme start, throws error

`ERRO[0000] cannot mkdir /run/user/0/libpod: mkdir /run/user/0/libpod: permission denied
`

I can however run it as admin and it works fine. Am i doing anything wrong?

[2020-10-17 11:18] #7979 closed

[2020-10-17 12:44] Luap99 commented on #8052
Did you change to this user with `su`?

[2020-10-17 12:50] Luap99 commented on #8051
Try `podman login --tls-verify=false registry.my.com:31231`, by default podman will try to connect with https.

[2020-10-17 12:51] sonuyos commented on #8052
@Luap99 i have not changed anything.

I did put 777 on /run/user/ and both worked, but at a time only 1 works, for some reason when 1 works other says

`ERRO[0000] could not set sticky bit on /run/user/0/libpod: chmod /run/user/0/libpod: operation not permitted`

even tho both users userid is

1000 & 1001

[2020-10-17 12:58] Luap99 commented on #8052
How do you login? Are you using `su `or `sudo`?

What is the output from `printenv XDG_RUNTIME_DIR`?

[2020-10-17 13:01] sonuyos commented on #8052
yes i did `su user`.

output is for both users.

`/run/user/0`

[2020-10-17 13:15] Luap99 commented on #8052
You cannot use `su` as this does not create a proper user session. It also leaks the `XDG_RUNTIME_DIR` env var from the root user (/run/user/0).
Try to change the user with `su --login` or `sudo -i -u user`.

[2020-10-17 13:18] sonuyos commented on #8052
Alright, thanks i will try 👍

[2020-10-17 13:30] sonuyos commented on #8052
@Luap99 i have another query, say i am running deluge or rutorrent docker with /config set to .config/rutorrent

The files are set with permission denied (presumably root permission), anyway to have access to the files?

[2020-10-17 13:46] Luap99 commented on #8052
If you running on a system with selinux enabled you have to mount the volume with the `Z` option, e.g. `-v ~/.config/rutorrent:/config:Z`
This blog post https://www.redhat.com/sysadmin/rootless-podman-makes-sense describes how permission works as rootless. Another option is to use the `--userns keep-id`.

[2020-10-17 14:02] sonuyos commented on #8052
@Luap99 I cannot find `--userns keep-id`. in podman --help

[2020-10-17 14:10] Luap99 commented on #8052
Its for the `podman create/run` command

[2020-10-17 14:13] sonuyos commented on #8052
Yes, i tried it,

podman --userns keep-id run -dt -v ~/.config/deluge:/config
docker.io/linuxserver/deluge

It doesn't detect.

On Sat, Oct 17, 2020 at 7:41 PM Luap99 <notifications@github.com> wrote:

[2020-10-17 14:16] Luap99 commented on #8052
`podman run --userns keep-id  -dt -v ~/.config/deluge:/config`

[2020-10-17 15:27] sonuyos commented on #8052
Doesnt work :(

snthostings@seedbox04:~/.config/deluge$ rm -rf core.conf
rm: cannot remove 'core.conf': Permission denied

On Sat, Oct 17, 2020 at 7:46 PM Luap99 <notifications@github.com> wrote:

[2020-10-17 15:53] mheon commented on #8052
You'll likely need '--security-opt label=disable' for this container.

On Sat, Oct 17, 2020, 11:28 sonuyos <notifications@github.com> wrote:

[2020-10-17 17:35] sonuyos commented on #8052
That didnt work either :(

I ran this - podman run --security-opt label=disable -dt --net=host -v
~/.config/deluge:/config docker.io/linuxserver/deluge

And then

podman stop -a
cd .config/deluge/
rm -rf web.conf

Gives - rm: cannot remove 'web.conf': Permission denied

On Sat, Oct 17, 2020 at 9:23 PM Matthew Heon <notifications@github.com>
wrote:

[2020-10-17 18:20] sonuyos commented on #8052
The file is being created under uknown permission.

-rw------- 1 100999 100999  598 Oct 17 20:20 web.conf

`podman run --net=host --security-opt label=disable -e PUID=1000 -e PGID=1000 -v ~/.config/deluge:/config docker.io/linuxserver/deluge
`

[2020-10-17 18:39] mheon commented on #8052
What UID are you running as in the container? What UID are you using on the host?

[2020-10-17 19:04] sonuyos commented on #8052
I am trying to run as 1000 as that's the uid of my user.

I tried to use udocker now, and without setting uid, it automatically sets
the .config file under my user and I can delete or edit the files. I don't
understand why it wouldn't work with podman.

I cannot run udocker detached.

On Sun, 18 Oct 2020, 00:10 Matthew Heon, <notifications@github.com> wrote:

[2020-10-17 19:56] mheon commented on #8052
It would work with *root* Podman. As rootless, Podman uses a user namespace - which alters the users inside the container. By default, in a rootless Podman container, UID 0 is mapped to the UID of the user that launched Podman, and UIDs 1 to 65536 are mapped to a range of 65535 UIDs assigned to that user in `/etc/subuid`. With the `--userns=keep-id` flag, Podman will ensure that the user that laun

[2020-10-18 08:37] #8040 closed

[2020-10-18 10:12] sonuyos commented on #8052
Yes, that works :D Thanks a ton @mheon  <3

[2020-10-18 13:20] #8052 closed

[2020-10-18 13:39] srcshelton opened #8054 "hostname is (still) not added to /etc/hosts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Despite issue #1745, I'm still not seeing the container hostname injected into `/etc/hosts` - I only realised this recently on trying to launch a Java-based container, and seeing an error regarding not being able to resolve the local hostname (... which is untrue - it resolves just fine, it j

[2020-10-18 14:19] alexshkatov opened #8055 "podman run with a flag "--cap-drop all" fails on Ubuntu 18.04 with an error "starting container process caused "error adding seccomp rule for syscall socket: requested action matches default action of filter": OCI runtime error""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Background: I'd like to have a full control over the container capabilities, so my approach is to drop all the capabilities and then to add some of them explicitly.

Problem: When trying to execute `podman run` with a flag `--cap-drop all` on **Ubuntu 18.04** machine, the command fails with :

[2020-10-18 14:41] mheon commented on #8054
I remember that this change was deliberate, and relates specifically to the `--net=host` case (we don't want to set a different hostname than the host if we're sharing network). I think we have two bugs here:
* `--hostname` is not conflicting with `--net=host`
* We should be adding the host's hostname to `/etc/hosts` instead

I need to verify the correct behavior of the second one against Docker o

[2020-10-18 14:43] mheon commented on #8055
Can you get your `runc` version? We saw this issue before on Fedora with a too-old `runc`.

[2020-10-18 17:02] TomSweeneyRedHat commented on #8024
OK, I must have been messing something up with my testing Thursday night, but I'm able to reliably replicate now.  Interestingly, if I use "buildah bud --pull=true" it works as expected, in other words the Docker way.  So I think that code in Buildah is probably OK, my suspicion is that Podman is passing the wrong PullPolicy, it may have been tweaked after the change to the new REST API.

[2020-10-18 17:08] asottile commented on #8024
ah yep, didn't find this the first search but here it is!  https://github.com/containers/podman/blob/6ec96dc009d73cc2b0a3fa81149ca599b04252e4/cmd/podman/images/build.go#L243-L249

that's defaulting incorrectly

it also seems that neither podman nor buildah handle `--pull=false` if I'm reading the code correctly

[2020-10-18 17:43] alexshkatov commented on #8055
[code]
This is a standard Ubuntu 18.04 image on Google Cloud Platform.

[2020-10-18 17:49] TomSweeneyRedHat commented on #8024
@asottile that sure looks like the spot.  The PullIfMissing should be used if `--pull=false` is passed.  I'll have to play with the code a bit tomorrow, to see how to determine when the `pull` option is set and what it is set to.  For now I'm going to enjoy the rest of the weekend.  Thanks for the help/pointers.

[2020-10-18 17:54] asottile commented on #8024
ah actually it looks like podman's `--pull=false` kinda works:

[code]

but buildah's is incorrect:

[code]

[2020-10-18 18:40] mheon commented on #8055
If that's the standard Ubuntu `runc` binary it's definitely too old. I think we provide a runc in the Kubic repos that should be new enough (or, alternatively, `crun` does not have the issue).

[2020-10-18 22:30] srcshelton commented on #8054
It's worth noting that in this case the container gets a random string of digits and alphabetic characters as hostname by default, and I'm actually trying to give the real system hostname back to the container!

(Is the system hostname a thing which isn't namespaced, similarly to sysctl tunables - or can containers with host-networking legitimately have a separate hostname on the same network (whe

[2020-10-19 00:21] bbros-dev commented on #8031
Noting a use case for issue #5069 :
Turns out curl can use a unix-socket... its not uncommon to see in the wild snippets such as

[code]
It appears that the only possible workaround for this issue would have been via #5069.

We think the answer is: no workarounds are possible.

[2020-10-19 00:42] Zeranoe opened #8057 "Cannot read container mount files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to use postgres in a podman container with a custom mounted data directory. I'm able to create the container and the database works, but I lose the ability to read any files in the database data folder from the launching user account.

**Steps to reproduce the issue:**

1. `mkdir d

[2020-10-19 01:48] mheon commented on #8054
Hostname is namespaced by the UTS namespace, so I believe it is technically possible to have a different hostname in the container despite sharing the network. This is not exactly a sane thing to do (not only are the two hostnames sharing an IP address, they're sharing the full network stack, so things can get confusing) hence the restriction here.

I think we probably ought to be setting containe

[2020-10-19 01:58] mheon commented on #8057
What user is the application in the container running as? It doesn't seem to be running as root, if you're seeing files created as a UID not equal to the run that ran Podman.

One option would be to use `--userns=keep-id` and run the app in the container as the same ID as your user. The `--userns=keep-id` flag ensures that your UID inside the container is mapped to the same UID outside the contain

[2020-10-19 02:08] Zeranoe commented on #8057
I believe the server in the container is running as the `postgres` user.

Attempting what you suggested:
[code]

[2020-10-19 02:17] mheon commented on #8057
You'll need to either add your user to the container, or use your UID instead of username as an argument to `--user`

[2020-10-19 02:43] Zeranoe commented on #8057
Thank you so much! The following worked:
`podman run --rm -it -v ./data:/var/lib/postgresql/data:Z --user $(id -u) -e POSTGRES_PASSWORD=pw --userns=keep-id postgres:13`

[2020-10-19 02:43] #8057 closed

[2020-10-19 03:40] bbros-dev commented on #8031
Extending that idea above you can workaround this issue:
1. Inside the container: Configure the service/application to redirect TCP port to a socket
1. Run container with shared folder `--volume /host/app/:/cnt/app/`
1. Outside the container redirect the socket to a local TCP port:

Example on the host:
[code]

[2020-10-19 06:41] alexshkatov commented on #8055
Thank you for the quick response!
Seems like Kubic repos don't provide runc for Ubuntu, only Centos (https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/runc).
I followed Podman official installation page (https://podman.io/getting-started/installation.html) and compiled runc from the source.
Now Podman works as expected
[code]
So the issue is resolved.
I strongly recommend to

[2020-10-19 07:38] psakar opened #8058 "REST APIv2 - log does not contain EOL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container logs provided by REST API does not contain EOL (\n)

**Steps to reproduce the issue:**

1. To be determined (I've found out by debugging test containers Log output Wait Strategy

**Describe the results you received:**
Log lines are provided without EOL

**Describe the results you ex

[2020-10-19 07:40] psakar commented on #8058
Related to https://github.com/containers/podman/issues/7927

[2020-10-19 08:54] Masber commented on #5431
as a workaround, I managed to go over this issue by moving Centos 8 firewall configuration from nftables to iptables

[2020-10-19 10:02] ensc commented on #7706
@fcabralpacheco

Port 22 int the example has been chosen because the real world container has `/usr/sbin/sshd` as entrypoint.

[2020-10-19 10:08] rhatdan commented on #8052
The preferable SELinux fix would be to use `-v ~/.config/deluge:/config:z` option, if the deluge directory is going to be shared between multiple containers rather then --label disabled.  You can us the `:Z` option if the ~/.config/deluge directory is only going to be used within one container.

[2020-10-19 10:15] srcshelton commented on #8054
That'd be perfect for my use-case!

[2020-10-19 10:37] rhatdan commented on #8052
BTW To remove a file created by a different user within the user namespace, you need to enter the user namespace

podman unshare rm web.conf

[2020-10-19 10:38] Luap99 commented on #8041
`podman init` does error but the volume got the files from the container:
[code]

[2020-10-19 12:11] adelton commented on #8041
Ah, you are right. Running `podman init` and ignoring the exit status 125 indeed does what I need.

[2020-10-19 12:52] lenticularis39 commented on #8050
I also noticed this problem and a quick GDB lookup revealed that the process causing the high load is processing a request to `libpod/events`.

Subsequent testing revealed a way how to reproduce this without cockpit-podman:

- Make a stream request to `libpod/events`. This doesn't cause anything suspicious yet: `# curl --unix-socket /run/podman/podman.sock -X GET http://x/v1.12/libpod/events`
- Cl

[2020-10-19 13:08] zv0n opened #8060 "Add possibility to completely disable cgroup management"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Our organization has a use-case for podman where we need it to not manage cgroups. Podman switches cgroup when it's setting up rootless environment, so setting `--cgroups disabled` doesn't prevent this as it is a command flag (and rootless env is being set up in the root part of program).

[2020-10-19 13:16] mheon commented on #8050
I believe this was already fixed on master by @jwhonce - Jhon, can you confirm that?

[2020-10-19 15:34] psgreco opened #8062 "podman pull fails behind cert/login"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Copy certs

2. podman login --log-level=debug -u \<username\> <url>

3. podman pull --log-level=debug \<host\>/\<image\>@sha256:\<hash\>

**Describe the results you received:**
Access denied

**Describe the results you expected:**
Image is pulled, since l

[2020-10-19 18:26] joeyhub commented on #3218
Is it possible you accidentally applied this to tar files as well?

I have a set of build and deploy scripts that have always worked with docker.

They also worked with podman when installing the docker wrapper as a drop in replacement.

However I recently updated it (which fixes the image ls locking up problem and it taking ages) and now have a bunch of permission issues when deploying containers

[2020-10-19 18:31] joeyhub opened #8064 "podman does not perserve ownership of files when adding archives"
When using ADD in a Dockerfile with a tarball it fails to preserve ownership from the archive the same way docker does. This only started recently. It should restore the ownership of files to the owner stored in the tarball so if I archive a file belonging to bob and then extract it using ADD it should also belong to bob or the same UID in the resulting image.

See: https://github.com/containers/p

[2020-10-19 18:57] joeyhub opened #8066 "Parricide"
I have my own make system which generates the entire dependency tree of commands needed to fully build and upload a set of images.

It may produce something like this:

[code]

I would then pipe that into bash, for example...

`dump_make_commands | bash`

With podman it seems to just stop after one of the build commands inexplicably.

This never happens with docker.

At first the obvious cause mig

[2020-10-19 18:59] joeyhub commented on #8066
strace causes it to lock up completely.

[2020-10-19 19:05] nalind commented on #8023
If we have `podman manifest inspect` quietly accept non-lists, how will the test verify that it does the right thing when it does get a list?

[2020-10-19 19:10] joeyhub commented on #8066
This happens even without bash exiting on a bad exit code.

[2020-10-19 19:20] joeyhub commented on #8066
I've not tested trying to use podman without the docker compatibility wrapper.

[2020-10-19 19:21] mheon commented on #8066
@TomSweeneyRedHat PTAL

[2020-10-19 19:37] joeyhub commented on #8066
strace with -f locks up but without is fine to try to find what stops it.

podman-2.1.1-4.el8.x86_64
podman-docker-2.1.1-4.el8.noarch
podman-plugins-2.1.1-4.el8.x86_64

Because of the silent death it's not obvious this is happening until things just don't update except for half way.

I think it also happened once with run as well (I use that to build the software in a separate build container).

T

[2020-10-19 19:58] edsantiago opened #8068 "Cirrus CI: agent stopped responding"
This is now far and away the most common CI flake.

* fedora : Test Bindings
  * PR #7961
    * [10-08 00:33]()
  * PR #7940
    * [10-06 13:43]()
  * PR #7853
    * [10-12 10:08]()
* fedora : int podman fedora-32 root host
  * PR #8061
    * [10-19 11:39]()
  * PR #8044
    * [10-17 10:28]()
  * PR #8039
    * [10-15 23:50]()
  * PR #8028
    * [10-15 05:41]()
  * PR #8021
    * [10-14 15:19]()

[2020-10-19 21:00] joeyhub commented on #8066
It doesn't seem to happen with...

[code]

The bash history is filled with this version from another dev who seems to have stumbled upon the work around and not mentioned anything.

It looks like it probably is draining the pipe from the process that's running it when it shouldn't be.

[2020-10-19 22:19] andylibrian commented on #7661
I'm interested to help on this

/assign

[2020-10-20 05:54] #8055 closed

[2020-10-20 06:33] fcabralpacheco commented on #7706
@ensc

Like I mentioned before

I don't know exactly what application you need to use low ports, I believe that you need to use some image maintained by third parties. So I'm going to answer a way that would solve a situation like this.

To use a low port inside the container you need to adjust sysctl value "net.ipv4.ip_unprivileged_port_start" in the pod network namespace (infra container) or cre

[2020-10-20 06:55] xomachine commented on #8050
It is probably a duplicate of https://github.com/containers/podman/issues/7946
The problems with cockpit-podman was the reason why I started that issue

[2020-10-20 06:58] vrothberg commented on #8062
Closing for now as @psgreco reported to not be able to reproduce it any more. Please reopen if the issues reoccurs.

[2020-10-20 06:58] #8062 closed

[2020-10-20 08:06] ssbarnea opened #8070 "podman 2.0.5/2.1.1 silently ignores CONTAINER_HOST on centos-8/fedora-32"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Setting `CONTAINER_HOST` should tell podman where to connect to. Setting this variable to a wrong value should make podman return a connection failure and not run with local server. That is very important as it introduces dangerous behaviors where wrong server would be used.

**Steps to repro

[2020-10-20 08:21] ssbarnea commented on #8070
To be clear the problem seems to reproduce on both fedora and centos with latest rpm versions of podman. As ``--help`` documents, the default version this is a bug that needs to addressed and backported.

There is a slight difference in between 2.1.1 and 2.0.5, the newer one that display the value of the environment variable when using --help, the older one displays the hardcoded default. Still, t

[2020-10-20 09:42] LexNetAT commented on #8033
A Debian and a Red Hat ubi8 Images were used for testing

[user@nb ~]$ podman pull debian:buster-20201012
Trying to pull docker.io/library/debian:buster-20201012...
Getting image source signatures
Copying blob e4c3d3e4f7b0 skipped: already exists
Copying config 1510e85017 done
Writing manifest to image destination
Storing signatures
1510e850178318cd2b654439b56266e7b6cbff36f95f343f662c708cd51d0610

[2020-10-20 09:54] vrothberg commented on #8033
Thanks for providing the details, @LexNetAT.

It seems like Docker is executing ps(1) on the host (and I'm fairly certain that was not the case initially). This implies that the PIDs relate to the host's namespace. If you want to display this information with Podman, you can use the host descriptors (see podman-top man page). For instance, `hpid` for the host PID or `huser` for the host user.

I t

[2020-10-20 09:59] saschagrunert opened #8072 "Podman pull --creds does not work as expected for registry mirrors"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Configured registry mirrors seem to break authentication. For example if we define:

[code]

Then authenticate against `our-registry.com` and then pull an image like this:

[code]

It will not work because the mirroring changes the location internally. We somehow have to tage the original loc

[2020-10-20 10:05] vrothberg commented on #8072
What is the expected behaviour?

Are the specified credentials (e.g., `--creds XXX`) ignored?

[2020-10-20 10:07] ensc commented on #7706
@fcabralpacheco these are just dirty hacks; I expect to be able to run sshd in a container without lowering its security (playing with `net.ipv4.ip_unprivileged_port_start`)  and to communicate with other containers within the pod (so I need the infra conainer).

The commands in the issue description are just minimal examples to demonstrate the problem.  I do not want workarounds for the examples

[2020-10-20 10:51] saschagrunert commented on #8072
I think I messed up the issue description. Closing for now, sorry for the noise.

[2020-10-20 10:51] #8072 closed

[2020-10-20 11:41] rhatdan commented on #8070
You need the --remote flag,
[code]
Not sure what the Login password is about.

[2020-10-20 11:41] andrin55 opened #8073 "NetworkSettings missing when container is running in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a container is started within a pod, network settings are empty. If started standalone, it works as expected.
Since pods share the network namespace across all containers in it, it should show the same settings as the infra container.

**Steps to reproduce the issue:**

1. podman pod cre

[2020-10-20 11:42] rhatdan commented on #8070
[code]

[2020-10-20 12:11] lcarva commented on #6050
Is there a timeline for when this issue may be addressed? For context, this prevents [osbs](http://osbs.rtfd.org/) from switching away from docker to podman.

[2020-10-20 12:18] ssbarnea commented on #8070
Why do I need to tell it to use remote when I define this variable? This makes impossible to change which backend is used from outside. The other, unnamed, container tool does not require any arguments to use various backends and the environment variable works not only on cli, but also on python module and andible modules, just defining it it tells it to use specific host.

Is there another enviro

[2020-10-20 13:19] mheon commented on #8064
Please provide additional details - what Podman version are you using, and a full `podman info`.

[2020-10-20 13:19] mheon commented on #8073
I'll take this one.

[2020-10-20 13:34] rhatdan commented on #8066
@nalind @edsantiago PTAL
I am not familiar with this syntax, IE Piping to bash.

[2020-10-20 13:54] edsantiago commented on #8066
It's a buildah bug: it is gobbling stdin that does not belong to it. Trivial reproducer (Containerfile is left as an exercise for the reader):
[code]
(the 'echo bye' is gobbled up by buildah). If you redirect stdin on the buildah command, it works as expected:
[code]
Someone should file a buildah issue (I can, on request). podman has a long history of stdin-gobbling bugs; I'm pretty sure @mheon an

[2020-10-20 14:29] EduardoVega commented on #7778
@rhatdan I would like to help on this one.

[2020-10-20 14:33] TomSweeneyRedHat commented on #7778
@EduardoVega Thanks for volunteering!  I've just assigned the issue to you and have added the "In Progress" label to the issue.

[2020-10-20 14:35] TomSweeneyRedHat commented on #8066
@edsantiago Please do file a Buildah bug.

[2020-10-20 14:44] rhatdan commented on #8058
Can you open this as a PR rather then an issue?

@jwhonce @baude PTAL

[2020-10-20 14:47] edsantiago commented on #8070
The other unnamed container tool is **only** remote. It does not have any concept of non-remote operation. Even if the default is localhost, it's always operating on a socket. Podman does not work that way. (Podman-remote does).

[2020-10-20 15:16] #7941 closed

[2020-10-20 16:11] jwhonce commented on #8070
@ssbarnea Using the latest podman, you should be able to provide login credentials via ssh keys and `podman service connection add ...` please see [podman-system-connection.1.md](https://github.com/containers/podman/blob/master/docs/source/markdown/podman-system-connection.1.md)

[2020-10-20 16:12] mheon commented on #8073
Fixed by #8075

[2020-10-20 16:46] edsantiago commented on #7972
Fixed in #7994 and #8000

[2020-10-20 16:46] #7972 closed

[2020-10-20 16:52] edsantiago opened #8076 "APIv2: /info is getting slower"
The "ten /info requests" timing test is getting slower:
https://github.com/containers/podman/blob/36682115b0f3f5f7cfcc6bc4580e5a7435b9a4d8/test/apiv2/01-basic.at#L62-L78
It was bumped up from 5 to 7 seconds last week, and is about to get bumped up to 10 (#8065) because it is causing CI flakes:
  * PR #8061
    * [10-19 11:24](https://api.cirrus-ci.com/v1/task/5094534637944832/logs/main.log)
    *

[2020-10-20 16:58] rhatdan commented on #6050
I take it that this is fixed in the main branch now, and you just are waiting for a release of podman 2.1.2 or 2.2 to get the fix?  If I am mistaken, please reopen this issue.

[2020-10-20 17:00] lcarva commented on #6050
@rhatdan, the previously mentioned fix was for changing the HTTP method to match what the docker API uses. IIUC, the API method is still returning 501 Not Implemented. Did I miss something?

[2020-10-20 17:09] mheon commented on #6050
This is not fixed, and will require significant effort to implement. There's a Jira card assigned to me for it, but I have other priorities at the moment.

[2020-10-20 18:02] jwhonce opened #8079 "Headings missing when using podman...--format table..."
/kind bug

**Description**

During podman 1.9->2.0 formatting with table directive was compromised. The last piece missing is printing headers on table columns.

**Steps to reproduce the issue:**

1. bin/podman image ls --format 'table {{.ID}}'

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

[2020-10-20 19:04] cevich commented on #8068
@edsantiago Ref: https://cirrus-ci.org/faq/#ci-agent-stopped-responding

***Note***: There's a difference between this error happening on a VM-backed task and a container task.

Otherwise, I did mail support the other week about this, and they had also noted an recent uptick in these errors.  However, since the agent process is the most basic of all the Cirrus-CI moving parts, the issue is intermi

[2020-10-20 19:07] cevich commented on #8068
Oh I'd also comment that: I have played around on a live VM while tests were running, and deliberately `kill -9` their agent process.  There's a significant timeout, on the order of 30-60 seconds required for Cirrus-CI (the service) to notice and kill the VM.

[2020-10-20 19:18] #8054 closed

[2020-10-20 19:36] sshnaidm opened #8082 "Podman prints wrong image name in inspection when image has two tags"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When an image has two different tags that points to the same layer, Podman prints wrong image information in container inspection.

**Steps to reproduce the issue:**

1.
[code]

Images have the same Id:
[code]

**Describe the results you received:**

Wrong Image name in inspection.

**Describ

[2020-10-20 19:38] mheon commented on #8082
@vrothberg PTAL

[2020-10-20 20:05] rhatdan commented on #8082
If a image has multiple tags, we should probably never use the :latest flag.

[2020-10-20 20:05] crunchtime-ali commented on #8058
@rhatdan @psakar I created the suggested change as a PR here https://github.com/containers/podman/pull/8083
If there is anything else I can help you with just tell me.

[2020-10-20 21:07] #8073 closed

[2020-10-20 21:59] TomSweeneyRedHat commented on #8024
@asottile #8085 in flight, thanks for all the help with the diagnosis!

[2020-10-20 22:26] asottile opened #8086 "Error forwarding signal 18 (sometimes 15) to container ..."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is distilled down from a larger example, reproducing only with coreutils `xargs` / `timeout` + `sleep`

This is a pretty reliable example:

[code]

occasionally I'll get outputs like this:

[code]

(`runner-image` is [this one](https://hub.docker.com/r/precommitci/runner-image))

My actu

[2020-10-20 22:28] asottile commented on #8086
ah reproduced the deadlock again,

here's the process tree when it's locked:

[code]

stracing that:

[code]

[2020-10-20 23:04] mheon commented on #8086
SIGTTIN pauses the process it's sent to; if you hit Podman with that while we're holding a lock, then yes, I fully expect it will effectively deadlock until execution restarts. It's probably getting in before we get `sig-proxy` configured to proxy signals into the container (otherwise it's be the container process getting the signal).

That snippet you provided seems to be *very aggressively* send

[2020-10-20 23:11] asottile commented on #8086
the `xargs` was just to make it more reproducible -- it reproduces on its own just very rarely

I have for instance a script which is just:

[code]

I'm not sure what could be sending `SIGTTIN` -- `timeout` only seems to send `SIGTERM` (is it possible `podman` is accidentally signaling itself here?) -- I could only reproduce this deadlock with `-i` (maybe something related to setting tty flags?)

[2020-10-20 23:48] fcabralpacheco commented on #7706
@ensc

Like I said:

If you only need local communication, just don't use port mapping.

About "net.ipv4.ip_unprivileged_port_start=0", it is necessary if you want to use the keep-id and a pod with default infra container, I think you can't be root in the container and pod (infra) namespaces in that way.

If you want to run a server in one container and access from another you may use one of the f

[2020-10-20 23:58] fcabralpacheco commented on #7706
@mlezajic

I tested (on CentOS 8) with crun, cgroupsv2, and the error just changed. I think I'm doing something wrong on CentOS.

[2020-10-21 00:02] remyluslosius opened #8087 "Does OS Security Policy profiles affect Podman"
**Is this a BUG REPORT? **

/kind bug

**Description**

Unable to use podman to create container.

[code]
**Output error:**

[code]
**Steps to reproduce the issue:**

1. Install RHEL 8.3 minimal and Container Management environment with Security Policy enabled and DISA STIG profile/content.

2.
[code]
**Describe the results you expected:**
I was expected podman to create the container successfully

[2020-10-21 03:49] alitvak69 opened #8088 "Podman wait man page is obsolete for version 2.x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman wait command man page displayed on [Read The Docs](https://podman.readthedocs.io/en/latest/markdown/podman-wait.1.html) and distributed with podman package 2.x is obsolete as it doesn't reflect changes to the interval option format.

**Steps to reproduce the issue:**

1. Execute follow

[2020-10-21 04:39] zhangguanzhang commented on #8088
interval ，must endwith time unit, like ms s h

[2020-10-21 06:48] lovebaby979 commented on #8051
@Luap99 Thank you!

[2020-10-21 06:48] #8051 closed

[2020-10-21 07:51] c-goes opened #8089 "Missing resolv.conf in WSL2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When installing [Ubuntu 20.04 rootfs](https://wiki.ubuntu.com/WSL#Installing_Ubuntu_on_WSL_via_rootfs) for WSL
and Podman 2.1.1 no container starts because of missing `/run/systemd/resolve/resolv.conf`.

**Steps to reproduce the issue:**

1. [Install Ubuntu 20.04 via tar in WSL2](https://wiki

[2020-10-21 08:32] alitvak69 commented on #8088
The ticket is about a documentation changes.  After our jobs started failing to start we figured out what was wrong.  However current man pages don't reflect the change.  Podman 1.x wait works without time unit with number in micro seconds.

[2020-10-21 09:04] vrothberg commented on #8082
We store the raw-image name (i.e., the user input) for each container. We should use that for looking up the "right" image during inspection.

[2020-10-21 09:17] FSMaxB-dooshop opened #8091 "podman run --cidfile without --detach only writes the id after completion"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman pull alpine` (or any container for that matter)
2. `podman run -it --cidfile cid alpine sh` (keep the command running)
3. In another terminal: `cat cid`
4. Exit the shell in alpine, so that the container stops
5. `cat cid`

**Describe the results

[2020-10-21 09:37] rhatdan commented on #8088
This is not a documentation failure but a failure in code.  We should allow for the specification of micro seconds.

[2020-10-21 09:59] ensc commented on #7706
@fcabralpacheco

That is the subject of this issue: a request to add -`-userns=` to the `pod create` command so that the infra container is created in that way.

I do not want support or workarounds for minimal examples which are demonstrating the issue.

[2020-10-21 10:35] rhatdan commented on #7866
Since this is impossible and there are other workarounds, I am closing.

[2020-10-21 10:35] #7866 closed

[2020-10-21 11:10] srcshelton opened #8095 "hostname is not added to /etc/hosts with network mode ‘none’"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following on (hopefully for the last time!) from #8054, there’s potentially one last remaining use-case: if an image is launched with `—network none` for isolation purposes, the container hostname isn’t written to `/etc/hosts` and so certain applications (such as Java) which require this repo

[2020-10-21 12:43] mheon commented on #8088
This sounds like a bug if it worked in 1.x but broke in 2.x - I don't mind
keeping the new units but if none are present we should default to whatever
1.x did.

On Wed, Oct 21, 2020, 04:32 alitvak69 <notifications@github.com> wrote:

[2020-10-21 12:54] cevich commented on #8023
TBH, this is what unit-tests are much better at catching, since the developer controls both sides of the equation.  For the integration tests, we have almost zero control over what the server hands back, and it could change without any warning :confused:

Q: When you say "quietly", I'm imagining that means it accepts the type, but only hands back the list from the arch matching the system?

Also..

[2020-10-21 13:16] cevich commented on #8068
FWIW: Google does have a way to monitor things like CPU/Memory usage (through an agent of their own).  However, having played a bit with the logging/reporting side of this, it's very much more intended to support long-running VMs. This also has the added problem of, OOM/CPU/Network problems could also potentially impact the logging agent itself :confounded: Worse, if a VM dies (and therefor also t

[2020-10-21 13:19] edsantiago commented on #8068
You keep saying "automatic-retry". I've never seen that: it has been my experience that we all have to manually restart these failures, even hours afterward. I think there is a disconnect somewhere.

[2020-10-21 13:20] cevich commented on #8068
Let me see if I can find an example for you...

[2020-10-21 13:28] joeyhub commented on #8064
[code]

[2020-10-21 13:40] #8066 closed

[2020-10-21 13:58] cevich commented on #8068
...here:  In PR #8021 `int podman fedora-32 root host` ran three times (not two):

1. [The first iteration created at 13:56 failed](https://cirrus-ci.com/task/6137370246381568) after 22minutes into 'main'
2. [The automatic-retry at 14:39 failed](https://cirrus-ci.com/task/5558541094223872) after 36minutes into 'main' (Note the yellow "Automatic Re-Run" at the top)
3. Cirrus-CI Stopped, it only giv

[2020-10-21 13:58] rhatdan commented on #5986
Any idea how you got into this state?  Do you have a reproducer?

[2020-10-21 14:01] rhatdan commented on #7959
Yes this should definitely be in the podman-run/podman-start man pages and should also be covered in troubleshoot.md.
I would just add a rootless.

I think adding a comment about limitations on each one of the options pointing at the explanation in a new troubleshooting section would work well in the man pages.

[2020-10-21 14:25] andrin55 opened #8097 "/_ping output differs from Docker API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman API includes newline char whereas Docker API does not. This can cause issues with software which does an exact comparison (str == "OK")

**Steps to reproduce the issue:**

1. curl -s --unix-socket /var/run/docker.sock http://d/v1.28.0/_ping -vv

**Describe the results you received:**
P

[2020-10-21 14:50] rhatdan commented on #8027
There shouldn't be, but this sounds like a firewall issue.

[2020-10-21 14:59] fatherlinux commented on #6050
FYI, I just tried this with the pack cli and ran into the lack of the archive method. Specific log message here:
Oct 21 10:53:54 fedora podman[3101]: time="2020-10-21T10:53:54-04:00" level=debug msg="APIHandler -- Method: PUT URL: /v1.38/containers/416b79116c1e9b7e8409ef0bfc4224750143e35bf74b02c046627f045ecbfcb1/archive?noOverwriteDirNonDir=true&path=%2F"
Oct 21 10:53:54 fedora podman[3101]: time=

[2020-10-21 15:47] mingkui opened #8099 "Make install failed RHEL 7.8"
[roo]# make install
go build -mod=vendor  -gcflags 'all=-trimpath=/work/08-Apps/OpenShift/podman/podman' -asmflags 'all=-trimpath=/work/08-Apps/OpenShift/podman/podman' -ldflags '-X github.com/containers/podman/v2/libpod/define.gitCommit=9060af971911b6b4c21b2b24d011835954058d30-dirty -X github.com/containers/podman/v2/libpod/define.buildInfo=1603294911 -X github.com/containers/podman/v2/libpod/con

[2020-10-21 15:48] Luap99 commented on #8089
Can you check if `/etc/resolv.conf` is a symlink to `/run/systemd/resolve/resolv.conf`?

[2020-10-21 16:00] mingkui commented on #8099
Got error with make package-install too.

[rootpodman]# make package-install
## TODO(ssbarnea): make version number predictable, it should not change
## on each execution, producing duplicates.
rm -rf build/* *.src.rpm ~/rpmbuild/RPMS/*
./contrib/build_rpm.sh
++ command -v dnf yum
++ head -n1
+ pkg_manager=/bin/yum
+ echo 'Package manager binary: /bin/yum'
Package manager binary: /bin/yum
+ [[ /bi

[2020-10-21 16:05] omarc1492 commented on #5849
I get the same error with gitlab-ee on podman v2.1.1

[code]

[2020-10-21 16:18] balamuruganravi commented on #7976
Hi @giuseppe I could see the below message in `journalctl --user` log is it causing the issue ? could you please verify. still I am stuck at this issue not able to proceed. after the system reboot containers are not auto started and all podman commands got hang
[code]

[2020-10-21 16:36] mheon commented on #8087
I recommend you file a Bugzilla about this one - Podman should definitely be working with FIPS mode enabled.

[2020-10-21 16:42] c-goes commented on #8089
[code]

[2020-10-21 16:56] mheon commented on #8095
I'll take this

[2020-10-21 16:57] mheon commented on #8099
What version of the Go compiler do you have on 7.8? It may be too early to have Go module support. @vrothberg I presume we can't build without module support now?

[2020-10-21 16:59] mheon commented on #5849
@baude PTAL

[2020-10-21 17:01] mheon commented on #8097
@jwhonce PTAL

[2020-10-21 17:16] rhatdan commented on #8087
Would be interesting to see if this works with crun.  But runc was tested with fips mode.

Could you see if this works with a --privileged container?
If yes, then check to see if SELinux is causing issues.

[2020-10-21 17:16] jwhonce commented on #8097
@mheon yup self assigned, talking with @baude about impact on endpoint handlers now

[2020-10-21 17:40] mheon commented on #8095
The current behaviour matches Docker, which does not modify `/etc/hosts` with `--net=none`. I'm not opposed to adding our hostname in this case, though.

[2020-10-21 18:05] rhatdan commented on #7558
@mtrmac PTAL

[2020-10-21 18:31] fvma01 commented on #5296
So we are forced to use podman-rootless which has some shortcomings:
https://github.com/containers/podman/blob/master/rootless.md

A fix or a valid workaround would be welcome.

[code]

[code]

[code]

[2020-10-21 18:42] mheon commented on #5296
@lsm5 Is the podman-rootless package still available?

[2020-10-21 19:11] rhatdan commented on #5849
@vrothberg @giuseppe PTAL

[2020-10-21 19:46] fvma01 commented on #5296
Used some brute force to get them both installed....

[code]

[code]

[code]

[2020-10-21 20:02] rhatdan commented on #8070
Then just install podman-remote and alias podman to podman-remote.

There is a field in containers.conf that is not currently exported to allow users to foce the --remote flag to be true, all the time, and then users would have to do podman --remote=false to have local stuff done.  I could expose this if people think it would be useful.

[2020-10-21 20:22] cevich commented on #8068
I've spent quite some time pondering this issue today.

I double-checked, and confirmed we are using the "Premium" (highest) tier networking in GCP.  Cirrus-CI uses GKE in the same zone as our VMs, though the packets would be routed over the internet briefly, the latency (from agent-processes to their service) will be quite low.  Beyond complaining about some specific outage or hiccup, there's not

[2020-10-21 20:46] rhatdan commented on #6604
Sounds good, would someone from the community want to open a PR to add this feature?

[2020-10-21 20:48] rhatdan commented on #4131
Podman is pulling down the content.  @giuseppe Any ideas?  This looks close.
Can you try
docker run --rm --device=/dev/fuse --runtime=sysbox-runc quay.io/podman/stable podman run hello-world

[2020-10-21 20:54] rhatdan commented on #4123
@alexlarsson Did anyone respond?

[2020-10-21 20:56] rhatdan commented on #3842
@mheon any progress?

[2020-10-21 20:57] rhatdan commented on #3550
@jwhonce I think this one is needed to bubble up?

[2020-10-21 20:59] mheon commented on #3842
I got the command rebased and working in 2.1, but the issue blocking it remains - I can successfully tear down the old network, but CNI does not actually configure the network namespace again after that. I tracked the problem into CNI itself but haven't gotten further than that

[2020-10-21 21:04] rhatdan commented on #7337
@QiWang19 @edsantiago Can we close this issue now?

[2020-10-21 21:05] rhatdan commented on #7495
@jwhonce @baude Any update on this?

[2020-10-21 21:06] rhatdan commented on #7693
@psgreco @baude What is the skoop on this issue?  Can we close it?

[2020-10-21 21:07] rhatdan commented on #4207
@jwhonce I think we need you to handle this one.

[2020-10-21 21:12] edsantiago commented on #7337
I would strongly prefer to keep this open until it is fixed. At the very absolute minimum:
1. If this is not supported, give a useful message
2. Please do not give different messages depending on whether there is an UPPER-CASE letter in the directory path or not
[code]

[2020-10-21 21:17] psgreco commented on #7693
I don't have any problems remaining, I'm ok with closing

[2020-10-21 21:21] rhatdan commented on #8058
Awesome job @crunchtime-ali. Thanks.

[2020-10-21 21:21] #8058 closed

[2020-10-21 21:29] #7693 closed

[2020-10-21 21:51] felipecrs commented on #4131
[code]

[2020-10-21 23:45] psakar opened #8105 "REST API v2 rootless - PublishAllPorts not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container created with PublishAllPorts=true does not bind ports

**Steps to reproduce the issue:**

1. Create nginx container and publish all ports
[code]

**Describe the results you received:**
Port binding is missing (checked with netstat and by inspecting container)
[code]

**Describe the

[2020-10-21 23:47] psakar commented on #8105
Related to https://github.com/containers/podman/issues/7927

[2020-10-21 23:48] mheon commented on #8105
Strongly suspect this is already fixed on master thanks to the work from
@baude

On Wed, Oct 21, 2020 at 7:45 PM psakar <notifications@github.com> wrote:

[2020-10-21 23:58] psakar commented on #8105
I tried to test it with master, but I'm not able to run my test using testcontainers against podman built from master - attempt to start the container results in
[code]

[2020-10-22 00:04] enedil commented on #8012
Sorry for incomplete information. This is not an issue of `library/fedora`:
[code]

However after executing `podman pull fedora` by hand (which finishes without errors), the last command is successful too:
[code]

`/proc/cpuinfo` is available:
[code]

If there is something else I could provide you with, just ask.

[2020-10-22 00:30] rhatdan commented on #4131
I think seccomp rules from Docker are to tight.

Try with --security-opt seccomp=unconfined

Or use the seccomp.json file from Podman /usr/share/containers/seccomp.json

[2020-10-22 01:02] rhatdan commented on #8088
#8093 fixed this.

[2020-10-22 01:02] #8088 closed

[2020-10-22 01:26] yangm97 commented on #5986
@rhatdan This happened for me when I had an orange pi zero with its underpowered sdcard to try pulling & launching  around 7 containers simultaneously. Of course the little guy overheated and/or kernel panicked.

Whatever happened caused a forced shutdown during pulling/creation/startup of containers, possibly had containers in most of these stages, since 2 of those images were relatively small an

[2020-10-22 02:37] Xiaohua-Shen opened #8106 "podman has iptables error in ubi8 image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I tried to install and run podman in a registry.access.redhat.com/ubi8/ubi image, and face below errors when run `podman run -it ubuntu:16.04`:
[code]
**Steps to reproduce the issue:**

1. run a registry.access.redhat.com/ubi8/ubi container in privileged mode:
[code]

2. subscribe to redhat ne

[2020-10-22 04:26] mheon commented on #8106
You'll need to pass the outer container '--net=host' or use slirp4netns
instead of CNI

On Wed, Oct 21, 2020, 22:37 Xiaohua-Shen <notifications@github.com> wrote:

[2020-10-22 07:27] vrothberg commented on #8099
Yes, the version of go is too old. Note that even if we removed the `-mod=vendor` part, the code would not compile.

[2020-10-22 07:35] vrothberg commented on #5849
@omarc1492 @disaster123 can you share fresh debug logs?

[2020-10-22 08:37] lenticularis39 commented on #8050
That seems very likely, at least in my case, because upgrading podman to master fixed the issue for me.

[2020-10-22 09:16] vrothberg commented on #7990
I cannot reproduce. @srcshelton, can you share a reproducer? For instance, a script you use to build the images.

[2020-10-22 09:24] mtrmac commented on #7558
Isn’t it cancellable already? At the very least
- the Docker transport’s `makeRequestToResolvedURL` is cancellable
- `copySemaphore.Acquire` is cancellable
and that should propagate up.

That might well not be good enough (maybe if we manage to kick off `copyLayerHelper` for all layers, I don’t immediately know how much work each of them does before noticing a pending cancellation, and there are q

[2020-10-22 10:36] rhatdan commented on #6050
@jwhonce Is this something you could look at?

[2020-10-22 11:56] c-goes commented on #8089
Related: #7616

[2020-10-22 12:12] c-goes commented on #6867
Test suite output is different now.

https://travis-ci.org/github/c-goes/podman-gitlab-testing/jobs/737844838

This `WARNING: The same type, major and minor should not be used for multiple devices.` isn't there any more.

[2020-10-22 13:49] rhatdan commented on #7684
@mheon did you ever look further into this?

[2020-10-22 13:51] rhatdan commented on #7497
@vrothberg I think we should move this up the priority list after shortnames is complete.

[2020-10-22 13:53] vrothberg commented on #7497
Before or after image volumes?

[2020-10-22 13:58] rhatdan commented on #8099
Bottom line is RHEL7 and Centos7 tool chains are too old.  In order to get this to work, you need to update your version of golang, but since this does not come from RHEL7, you should be able to do this.

[2020-10-22 13:58] #8099 closed

[2020-10-22 14:32] omarc1492 commented on #5849
@vrothberg Here you go

[code]

[code]

[2020-10-22 14:36] urfin78 commented on #5849
As said in https://github.com/containers/podman/issues/6543 this should be an issue with systemd in centos8.

[2020-10-22 15:00] #7659 closed

[2020-10-22 15:03] #8082 closed

[2020-10-22 15:15] remyluslosius commented on #8087
@rhatdan, adding --privileged=true results with the same error message. I'll check Bugzilla. Thanks

[2020-10-22 15:16] psgreco commented on #5849
Just tried using CentOS Stream and podman 2.2.0 (9d5f28ba9e437204127e943f22e89c466dedea95, master branch from a few days ago) and I can't replicate.
Are you testing with 8.2 or with stream?

[2020-10-22 15:18] omarc1492 commented on #5849
Podman v2.1.1 and CentOS 8.2

[2020-10-22 16:15] mnsmithuk commented on #5431
I found the best workaround for now was to run :

firewall-cmd --permanent --zone=trusted --add-interface=cni-podman0

but not sure if this introduces a security issue in anyway.

[2020-10-22 16:57] Luap99 commented on #8089
What the content in `/run/systemd/resolve/stub-resolv.conf`?

I guess it is only the `nameserver 127.0.0.53` entry. We cannot use this file as source since this ip will not be reachable from within the container. The `/run/systemd/resolve/stub-resolv.conf` and `/run/systemd/resolve/resolv.conf` files are managed by `systemd-resolved`. Only `/run/systemd/resolve/resolv.conf` will contain the real n

[2020-10-22 17:06] BrysonMcI commented on #5986
I don't have a reliable reproduction @rhatdan , but I hit it frequently enough using containers running couchdb during any shutdown/reboot. It seems to be more likely when the shutdown comes as a power off of a VM

[2020-10-22 17:08] psgreco commented on #5849
can you try with stream?, that would confirm the idea that will be fixed in 8.3

[2020-10-22 17:52] Luap99 commented on #8017
Can you share the kube yaml file and also the error you are receiving?

[2020-10-22 18:31] omarc1492 commented on #5849
[code]

[code]

[2020-10-22 19:38] rhatdan commented on #7497
Probably after. :^(

[2020-10-22 19:41] rhatdan commented on #5986
@giuseppe Could this be fuse-overlay related, or is this just a partial removal from container storage that is causing this problem?

[2020-10-22 20:35] psakar commented on #8105
I've tested with master running service as root - that is working (tested on FC32 just know updated). Running podman service in rootless mode results in above mentioned error (even when selinux is disabled). Error message is same as descibed in https://github.com/containers/podman/issues/7938
@mheon would it be possible to cherry pick the fix you have mentioned in https://github.com/containers/pod

[2020-10-22 21:47] #8089 closed

[2020-10-22 21:59] rodnymolina commented on #4131
@felipecrs, thanks for letting us know, i've filed [this](https://github.com/nestybox/sysbox/issues/100) one to track Sysbox fix.

[2020-10-22 23:14] xordspar0 opened #8113 "Duplicated millicores <--> quota/period code"
I have an architecture question. I recently added [support for resource limits to kube play](https://github.com/containers/podman/commit/a413d4d77f1701a62b9bb2e7beb00145544e2306). In that patch, I added code to convert between k8s "millicores" and CPU quota and period. I just noticed that there is duplicated code for doing this conversion in at least 3 places now (see the references below).

Would

[2020-10-23 05:42] alxchk opened #8114 "Regression (?) Podman 2.1.0 - ADD openssl-1.1.1g.tar.gz -> "unrecognized Typeflag g""
[code]

[code]

[2020-10-23 05:47] disaster123 commented on #7650
no answer whether the default or fall back has changed

[2020-10-23 05:47] #7650 closed

[2020-10-23 06:22] zhangguanzhang commented on #8114
could you show the result of the command : `podman info`?

[2020-10-23 06:28] alxchk commented on #8114
[code]

[2020-10-23 06:43] giuseppe commented on #5986
@rhatdan I don't think it is related to fuse-overlayfs.  Generally the storage can get corrupted on a forced shutdown and the missing symlinks is just one symptom.  What I am worried the most about is that images could be corrupted as well (e.g. missing or incomplete files) and this is difficult to detect.

When running in a cluster, on the next node boot CRI-O wipes out the entire storage if the

[2020-10-23 09:59] boistordu opened #8118 "Error: failed to mount overlay for metacopy check with "nodev,metacopy=on" options: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest vers

[2020-10-23 12:36] mnsmithuk commented on #5431
Edit my bad.  It does not work because podman populates trusted sources not trusted interfaces.  On a reboot the source disappears and the conatiner is unreachable.  I thought the workaround I suggested had fixed this yesterday but just confirmed it is actually still in the same position.

[2020-10-23 12:50] rhatdan commented on #5580
@baude @mheon @jwhonce Do we still have this issue?

[2020-10-23 13:03] rhatdan commented on #8114
Could you try this as root, to see if this is a user namespace issue.

[2020-10-23 13:04] rhatdan commented on #8114
Where can we get the file
ARG OPENSSL_VER=1.1.1g
ADD downloads/openssl-$OPENSSL_VER.tar.gz /usr/src/

[2020-10-23 13:05] rhatdan commented on #5986
How difficult would it be to reassemble the storage with an fsck option?  The difference between CRI-O and Podman is blowing away of containers, could mean loss of a serious amount of work.  Think toolbox containers.

[2020-10-23 13:11] alxchk commented on #8114
Same story with root.
File: https://www.openssl.org/source/openssl-1.1.1g.tar.gz

[2020-10-23 13:16] mheon commented on #5580
I think this should be fixed thanks to @baude - can't locate the PR (it fixed a few other things at the same time) but he duplicated the Libpod side of things, which already matched Docker.

[2020-10-23 13:23] rhatdan commented on #8118
What OS and what kernel are you doing this with?  Looks like you have a /etc/containers/storage.conf that has metacopyup=on defined, but your kernel does not support it.

[2020-10-23 13:50] balamuruganravi commented on #7976
Hi all any update on this issue. Can someone please take a look.

[2020-10-23 15:19] woodrad commented on #4773
I don't know enough to meaningfully contribute to this issue, but lacking a rootless CNI image on quay.io makes it difficult to use rootless podman on popular aarch64 devices like the Raspberry Pi. I am willing to write howto documentation, for what it's worth.

[2020-10-23 16:24] shyim opened #8120 "NetworkSettings empty in API"
API:

curl -GET --unix-socket /tmp/podman.sock http://localhost/containers/ff5c7f534d3e/json | python -m json.tool

[code]

podman inspect ff5c7f534d3e

[code]

[2020-10-23 16:33] mheon commented on #8120
What Podman version?

[2020-10-23 16:34] shyim commented on #8120
[code]

[2020-10-23 16:35] mheon commented on #8120
This should be fixed on master.

[2020-10-23 16:35] #8120 closed

[2020-10-23 16:49] shyim commented on #8120
Compiled master. Works! Thanks

[2020-10-23 18:36] lsm5 opened #8124 "explore packit-service for fedora package maintenance"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We should explore [Packit-as-a-Service](https://packit.dev/packit-as-a-service/) for Fedora package maintenance and check if it makes everyone happy. If that handles CentOS+OBS maintenance as well, even better.

If we have agreement, I'm thinking maybe @ashley-cui can take the lead on thi

[2020-10-23 19:58] bentito commented on #4878
this is still a problem. Tried on `podman -v
podman version 1.6.4` ENV from Dockerfile are quietly not acted on.

[2020-10-23 20:06] TomSweeneyRedHat commented on #4878
@bentito can you try with a newer version of Podman?  I'm pretty sure this was fixed in v1.9, but it might have been cured in one of the v2.* streams.

[2020-10-23 20:19] bentito commented on #4878
@TomSweeneyRedHat I took the latest that CentOS 8 `dnf install podman` gave me. Do you happen to have a command to try the later versions you mention?

[2020-10-23 21:19] TomSweeneyRedHat commented on #4878
Not readily handy that I know of unless you can spin up a Fedora VM easily or if you can clone and build from [GitHub](https://github.com/containers/buildah/blob/master/install.md#installation-from-github).  @lsm5 other thoughts?

[2020-10-23 21:20] TomSweeneyRedHat commented on #4878
@bentito, wrong pointer in my last reply, that was for Buildah, here's [Podman's](https://podman.io/getting-started/installation#building-from-scratch).

[2020-10-23 23:25] musiguello opened #8125 "Podman 2.1.1 libpod/events endpoint returns status code 500"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The endpoint always returns status code 500

**Steps to reproduce the issue:**

1. Install podman 2.1.1

2. `curl -s --unix-socket /run/podman/podman.sock http://d/v1.12/libpod/events`

**Describe the results you received:**

`{"cause":"failed to read message field: bad message","message":"fa

[2020-10-24 01:42] boistordu commented on #8118
fedora 32 server.
kernel seems to be that one  :
`4.15.0-99-generic`

[2020-10-24 02:01] bentito commented on #4878
Thanks @TomSweeneyRedHat ,that did it. Using `$ podman --version
podman version 2.1.1` which I installed following the development install for CentOS 8 from the linked page.

[2020-10-24 06:49] thkukuk commented on #5431
I see the same problem that the podman rules go away regular. The reason for the firewalld reload here are intrusion detection tools, which reconfigure the firewall according to entries they find in the logs.

[2020-10-24 11:02] mchouque commented on #5431
Regarding the reload thing, on Fedora, NetworkManager has this postinstall line:

test -f /usr/bin/firewall-cmd && firewall-cmd --reload --quiet || :

Meaning when you upgrade the package, you lose rules created by podman.

[2020-10-24 12:38] zhangguanzhang commented on #8114
The problem seems to be internal to buildah

[2020-10-24 12:45] alxchk commented on #8114
Looks like the fix is merged already (https://github.com/containers/buildah/pull/2718) but didn't get to the today's deps bump

[2020-10-24 13:11] zhangguanzhang commented on #8114
yes, so the next release will fix this, so I will close this issue
/close

[2020-10-24 13:11] #8114 closed

[2020-10-24 13:21] yangm97 commented on #5986
I can confirm this is a thing that happens. I've seen some applications crashing for no apparent reason, which turned out to be fixed by removing and re-pulling the image (same digest). But again, no reproducer.

Does podman support any sort of read-only rootfs setup? Like storing images in a partition which gets mounted as ro? Or even the whole rootfs mounted as ro.

[2020-10-24 15:19] TomSweeneyRedHat commented on #4878
Closing as this is cured upstream.

[2020-10-24 15:19] #4878 closed

[2020-10-24 16:17] Luap99 commented on #8125
This is not an api problem. If you run `podman events` you should get the same error.

The error is unfortunately not very informative.  Looking at the code there is a problem while reading the journal. Does `journalctl --verify` reports a corruption?

[2020-10-24 16:47] filippog opened #8128 "Feature request: be able to check for remote image changes before pull"
/kind feature

**Description**

When pulling new images via `podman pull` it would be useful to be able to check first if the pull is going to do something (and what). For example when running configuration management tools to preview changes (e.g. "`ansible --check`").

AFAICT this is already possible with skopeo, although having the same functionality in podman as well would simply deployments.

[2020-10-24 17:10] mheon commented on #8125
I had this problem before, and it turned out to be a spurious journal entry with the word "podman" in it that did not properly decode as JSON.

[2020-10-24 22:29] Zeranoe opened #8129 "Unable to map uids or gids for container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to map my host user to the user that the mongo image runs the database as, but keep getting:
[code]

The goal is to fix permissions for database files, so that my user on the host can see the database files as if they were created locally.

**Steps to reproduce the issue:**

1. `mk

[2020-10-24 22:52] nikAizuddin opened #8130 "Podman pod YAML with --security-opt seccomp"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

How do I create a pod `YAML` file that is equivalent to `--security-opt seccomp=profile.json`? For example the following situation:
[code]

I have to use `seccomp`. Otherwise, the `./mpclient` command will fail.

**Additional information you deem important (e.g. issue happens only occasio

[2020-10-24 22:59] mheon commented on #8113
Making a common, shared implementation sounds like a good idea. As to where
it should live, `pkg/util` seems like a reasonable place - it's where we
generally stuff utility functions with no more specific place to go.

On Thu, Oct 22, 2020 at 7:15 PM Jordan Christiansen <
notifications@github.com> wrote:

[2020-10-24 23:00] mheon commented on #8129
@giuseppe PTAL

On Sat, Oct 24, 2020 at 6:29 PM Zeranoe <notifications@github.com> wrote:

[2020-10-24 23:52] aipec opened #8131 "--root flag for users without home directory (system/utility users) cause error on /home/user stat"
/kind bug

**Description**

When running anything in rootless mode, without a home folder causes an error:
`cannot resolve /home/new_user: lstat /home/new_user: no such file or directory`,
even with the flag `--root=/my/dir`

**Steps to reproduce the issue:**

1. sudo useradd --system new_user

2. sudo -u new_user podman run busybox

**Describe the results you received:**
I receive the error above

[2020-10-25 01:46] matejvasek opened #8132 "Podman can't load some tars that docker can."
One tool I use (`pack`) seems to produce tar files that are accepted by `docker load < a.tar`, but `podman load < a.tar` fails with message:
[code]

The thing is the archive manifest.json contains "empty layers",
[code]
The config contain expected count of `diff_ids`.
[code]

The error seems to came from validation in `github.com/containers/image/v5/docker/internal/tarfile/src.go`

There is anothe

[2020-10-25 01:52] matejvasek commented on #8132
the archive http://s000.tinyupload.com/?file_id=00545368203743587674

[2020-10-25 03:42] xordspar0 commented on #7959
Done in #8134.

Sorry, I'm not sure I understand. Did you mean add an item to rootless.md? If so, my PR doesn't have that yet. We can discuss over there. :point_right:

[2020-10-25 07:24] zhangguanzhang commented on #8132
@mtrmac PTAL

[2020-10-25 08:44] Yajo opened #8135 "Add tzdata dependency for ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Installing podman on ubuntu doesn't install the required `tzdata` package.

**Steps to reproduce the issue:**

1. A system without tzdata.

2. Install podman from kubic.

3. `podman -v`

**Describe the results you received:**

    root@basic:/# podman -v
    ERRO[0000]  error validating conta

[2020-10-25 09:00] musiguello commented on #8125
I had 2 corrupted files in the journal, after removing them I do not get more error responses.

Certainly the message coul be more informative.

Cheers.

[2020-10-25 09:29] seanyoung opened #8136 "Support Windows Containers"
I realise this might be out of scope but I thought I'd raise it so it can be considered.

Windows Containers are slightly modified docker containers, which contain windows executables and the windows registry. These file systems could be mounted with case-insensitive options, and then a very thin wine shim could run the actual binaries. From what I can see, all the necessary executables and dlls a

[2020-10-25 09:30] zhangguanzhang commented on #8135
@lsm5

[2020-10-25 13:03] andylibrian commented on #6604
If no one is working on this already, let me take it

/assign

[2020-10-25 13:35] kushaldas commented on #3990
I would love to have this feature, even if it looks ugly :)

[2020-10-25 13:36] afbjorklund opened #8139 "Host key validation doesn't work when not using port 22"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The retrieval of the HostKey doesn't account for ports, and fails to find the proper host key.

Unfortunately the fallback for FixedHostKey is InsecureIgnoreHostKey, so no error is shown.

**Steps to reproduce the issue:**

1. `# run "minikube podman-env" to set up the podman environment for

[2020-10-25 14:07] afbjorklund commented on #8139
Will default to ignoring host keys for now, so that it works with 2.1.1.

Also using $CONTAINER_SSHKEY, so avoid the ssh infrastructure.

[2020-10-25 14:19] edsantiago commented on #8068
@cevich the error is happening on `sys` tests too, which are not randomized.

[2020-10-25 14:29] afbjorklund commented on #8070
We tell minikube users to use `podman-remote` on Linux, since there were some early bugs with `podman --remote`...

Otherwise the main problem is similar to #4390, to remember to use different programs on different operating systems.

One approach would be to **not** rename "podman-remote" on the other operating systems, but then "podman" is missing.

Currently we have OS tabs in the documentation

[2020-10-25 14:34] mheon commented on #8139
@jwhonce PTAL

[2020-10-25 14:45] mheon commented on #8135
I wonder if this should be a hard failure - this is because of the `--tz` flag, right? It seems like an unnecessary dependency if that's all it being missing disables.

[2020-10-25 14:49] mheon commented on #8130
@haircommander PTAL

[2020-10-25 18:28] mheon commented on #8118
Kernel is most likely too old. You should edit your storage.conf to set `metacopy=off`.

[2020-10-26 07:08] giuseppe commented on #8129
the command: `podman run -it --rm -v ./db:/data/db:z --uidmap 999:$(id -u):1 mongo:3` is mapping a single UID in the user namespace.  There is no root user available inside the user namespace.

Can you make sure there is a mapping also for root?

[2020-10-26 07:53] giuseppe commented on #5986
we would need to checksum each file in the image.  It would get us closer to the OSTree storage model.  OSTree has a fsck operation that works this way.

Alternatively, more expensive in terms of I/O, we record the image is pulled only after we do a `syncfs()`.

You can use an additional store that works exactly how you described it.  The entire storage is on a read-only partition and tell Podman

[2020-10-26 08:12] giuseppe commented on #7976
sorry, it looks like the service is called `dbus.service` on RHEL 8.2 instead of `dbus-broker.service` as it is on Fedora with a newer systemd.

Could you check the status of the `dbus` service (`systemctl --user status dbus.service`) and use `dbus.service` for the `Requires=` list?

[2020-10-26 11:48] w4tsn commented on #8005
Is there a way to workaround this broken state without clearing the podman storage with `system prune -a`?

I've several deployments of podman in the field on a low-bandwith or cost-by-byte connection and would like to keep downloaded images and still recover from this broken state. Any ideas?

[2020-10-26 13:25] haircommander commented on #8130
It is not currently supported, would you have any interest in trying to implement it @nikAizuddin ?

We'd need to add a flag to generate kube similar to play kube: `--seccomp-profile-path` which tells generate kube the relative directory the seccomp.json will be in. Then, the user could actually use `podman play kube --seccomp-profile-path=$DIR` to run the generated yaml

[2020-10-26 13:30] rhatdan commented on #8135
We should not be checking if the user did not specify a timezone in the containers.conf.  So we need to fix this in containers/common and then vendor it into podman.

[2020-10-26 13:31] rhatdan commented on #8136
This would definitely would require community to work on.  Not something the core developers are likely to work on.

[2020-10-26 13:44] goochjj commented on #6688
It's all in #7607 - which was pending conmon's changes making it into the test environments.

[2020-10-26 14:14] cevich commented on #8068
Yes...hmmm, maybe this is an okay starting place then to check if it's a similar set of tests which are causing trouble?

Another thought I just had: It's possible to block destruction of a VM (by cirrus), from on the VM itself (using gcloud).  So, maybe it's time for a temporary PR with that change.  Perhaps script it to allow VM destruction only after the system tests complete.  Then we simply r

[2020-10-26 14:26] lsm5 commented on #8135
@rhatdan do we still need tzdata explicity installed along with podman package after your PR?

[2020-10-26 14:44] evilpilaf commented on #4257
@baude is there another way to achieve this? the latest podman version doesn't create `libpod.conf` anymore https://github.com/containers/podman/issues/7509

[2020-10-26 14:52] edsantiago opened #8148 "It's baaaack: podman images: Error: top layer [...] not found in layer tree"
Looks like a new variant of #7444, but am opening a new PR.

I seem to have gotten myself into a similar state again:
[code]
Smoking gun seems to be: running BATS tests while also watching Tech Talk (heavy bandwidth hog). Test was pulling a huge image (`quay.io/libpod/fedora:31`), got interrupted by timeout, everything exploded after that. Nothing works any more.

rootless, master @ 01f642f0807111

[2020-10-26 15:02] Zeranoe commented on #8129
It looks like the command I actually want is: `podman run -it --rm -v ./db:/data/db:z --uidmap=0:1:1 --uidmap=999:0:1 mongo:3`

https://github.com/containers/podman/issues/6123 helped a lot, but this is still pretty confusing in my opinion.

[2020-10-26 15:02] #8129 closed

[2020-10-26 16:53] edsantiago opened #8152 "flake: run --uidmap: interrupted system call"
New flake seen in #8149
[code]

2020-10-26T09:57:14  [main](https://api.cirrus-ci.com/v1/task/4571094457778176/logs/main.log)
*   [22 podman run - uidmapping has no /sys/kernel mounts](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4571094457778176/html/sys-podman-ubuntu-19-root-host.log.html#t--00022)

Interestingly(?),  there's one prior failure in t

[2020-10-26 17:15] Zeranoe opened #8153 "Unable to run in pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm attempting to create a pod and run an image inside with a uidmap.

**Steps to reproduce the issue:**

1. `mkdir db`

2. `podman pod create --name mongo-pod`

3. `podman run --rm -it --pod mongo-pod --uidmap 0:1:999 --uidmap 999:0:1 -v ./db:/data/db:z mongo:3`

**Describe the results you r

[2020-10-26 17:36] mheon commented on #8152
This is most likely Go's aggressive use of signal 22? We had to adjust sig-proxy to ignore it, and it looks like it finally managed to happen when we were making an important system call.

I'm not particularly worried right now, since we swapped compilers many months ago (maybe even a year?) and this is the first we've seen of it. If it does become more frequent, we'll have to start catching EINTR

[2020-10-26 18:37] faulesocke opened #8154 "podman attach does not exit when the container stops"
/kind bug

**Description**
When attaching to a self-quitting container (for example one with "CMD sleep 10") with `podman attach <id>`, the `podman attach` process does not exit once the container stops. This was different in the past and is unexpected. I use attach to see logs and wait for the container to finish.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

3. attach to the containe

[2020-10-26 20:33] rhatdan commented on #7744
@abitrolly Have you tried any of these ideas?

[2020-10-26 20:34] mtrmac commented on #8132
At least reading https://github.com/moby/moby/blob/master/image/spec/v1.2.md , I can’t see anything to suggest that `""` is a valid layer path.

---

Looking at the bottom layer `ccf04fbd6e1943f648d1c2980e96038edc02b543c597556098ab2bcaa4fd1fa8`, that comes from https://catalog.redhat.com/software/containers/ubi8/5c647760bed8bd28d0e38f9f?tag=8.2-347&container-tabs=gti and inspecting it shows that t

[2020-10-26 20:50] c-goes commented on #4257
I thought libpod.conf was renamed to containers.conf.

[2020-10-26 21:14] rhatdan commented on #4257
Yes containers.conf is the way to go.

[2020-10-26 22:00] matejvasek commented on #8132
@mtrmac thanks for looking into this. Looks like the `pack` CLI tool is using this hack format (it pulls base image in advance so layers are always there).
I create is for that in their repo: https://github.com/buildpacks/pack/issues/925.

[2020-10-26 22:00] #8132 closed

[2020-10-27 02:08] sghosh151 opened #8158 "Docs - README.md - missing links"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman/docs/Readme.md  has links to Cirrus CI Docs task in podmand/contrib/cirrius that does not exist.

**Steps to reproduce the issue:**

1. go to: https://github.com/containers/podman/tree/master/docs

2. broken links in readme.md

3.

**Describe the results you received:**

**Describe the

[2020-10-27 03:04] nikAizuddin commented on #8130
Wait, I didn't noticed `podman play kube` has `--seccomp-profile-root` option. I'll try with this option first.

[2020-10-27 04:55] nikAizuddin commented on #8130
I create `multiav-pod.yaml` as follow:
[code]

Then, create pod and container with:
[code]

The `seccomp.json` is ignored by `podman play kube`:
[code]

Here YAML file generated from `$ podman generate kube multiav-pod` command:
[code]

[2020-10-27 05:08] nikAizuddin commented on #8130
@haircommander I just tried with `--seccomp-profile-root` as [above](https://github.com/containers/podman/issues/8130#issuecomment-716980614) and the `seccomp.json` seems ignored. So, command such as `podman play kube --seccomp-profile-root=/var/lib/kubelet/seccomp/ pod.yaml` is not yet supported?

[2020-10-27 07:08] afbjorklund commented on #8139
There is a related issue, when user (or system) is using hashed entries (|) in known_hosts:

ssh-keyscan(1)
[code]

sshd(8)
[code]

But I can open separate issue for that, there doesn't seem to be any code to do the hashing ?

Not sure if anyone actually uses the commas or wildcards or negation, so can ignore those...

[2020-10-27 07:15] afbjorklund opened #8159 "Host key validation should also support hashed host names"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

User can choose to hash the hostnames in known_hosts, currently that disables "secure"

Continuation from https://github.com/containers/podman/issues/8139#issuecomment-717036222

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results

[2020-10-27 07:25] j0057 commented on #8125
I have the same issue, some corrupted journal files. For me, this works as a work-around: `journalctl --follow --since=now --output=json PODMAN_TYPE=container`.

[2020-10-27 08:02] ruddy32 commented on #7927
"//vat/run/docker.sock" is not setup dynamically when API start.
This seems to be a problem with TestContainer.

[2020-10-27 09:58] Luap99 commented on #8154
I'm not sure why it doesn't work but it seems to work if you add the `-t` option to the run command, e.g. `podman run -d -t --name foo test`.

[2020-10-27 10:03] giuseppe commented on #8152
could be fixed with: https://github.com/containers/storage/commit/12062560d10b47bfc9ba0ea4a444e4fe713fb1fe

[2020-10-27 10:43] M0ses opened #8160 "Unexpected behavior when using "--root" option with trailing slash"
/kind bug

**Description**
When running podman with the '--root' option a trailing slash in the path leads to an error message like this:

[code]

This is quite confusing because if you use shell expansion for path (tab) the trailing slash is added.

IMO the trailing slash should be removed automatically

**Steps to reproduce the issue:**

1. call podman with '--root' containing a trailing slash

[2020-10-27 11:16] #8091 closed

[2020-10-27 11:37] jotelha opened #8162 "podman v1.6.4 on CentOS 8.2 looses track of container states after running for days and weeks"
/kind bug

*NOTE*: This issue arises on a system we use in production, thus I am not in a position to arbitrarily upgrade to recent versions for testing. If this issue has been resolved elsewhere already, please just point to that fix and close this issue again. Thanks.

**Description**

From time to time, podman looses track of the running containers' states.

Amongst others, we use the following

[2020-10-27 12:33] w4tsn commented on #8005
Might be related to #5986 - at least there seems to be a valid work-around using read-only fs: https://github.com/containers/podman/issues/5986#issuecomment-716376419

[2020-10-27 12:42] giuseppe commented on #8160
opened a PR: https://github.com/containers/podman/pull/8163

[2020-10-27 12:44] giuseppe commented on #8162
that happens because files on `/tmp` are cleaned up by systemd-tmpfiles if they are older than a week (unless you've configured it differently).

Please make sure the run root is on `/run/user` or on a path not handled by systemd-tmpfiles.

[2020-10-27 13:06] Luap99 commented on #8125
Could you try `podman events --since 1s` if `podman events` still fails?

[2020-10-27 13:11] haircommander commented on #8130
you need to specify the file name in the pod annotations:

[code]

[2020-10-27 13:17] rhatdan commented on #3264
@ashley-cui Have you thought about this at all?

[2020-10-27 13:26] rhatdan commented on #8158
@cevich PTAL

[2020-10-27 13:34] rhatdan commented on #7927
You need to install podman-docker, for this to happen.

[2020-10-27 13:48] ashley-cui commented on #3264
@rhatdan I have not, but would be happy to pick it up with some help

[2020-10-27 13:48] rhatdan commented on #8152
I am trying to vendor this in now.

[2020-10-27 13:52] SirNiggo commented on #7705
I do also have a need for such a feature for unattended CI Pipelines. Helm (which is probably often used together with Podman in such pipelines) has recently (re)introduced arguments for passphrases with PR https://github.com/helm/helm/pull/8394.
Having the additional layer of security by using a passphrase on a GPG key is necessary for me.

[2020-10-27 14:11] lsm5 commented on #8135
Closing this, tzdata isn't needed anymore with @rhatdan's patch.

[2020-10-27 14:11] #8135 closed

[2020-10-27 14:12] lsm5 commented on #8135
A new build with this fix will be shipped in a new upstream tag of podman soon

[2020-10-27 14:15] rhatdan commented on #3264
Sounds good, lets talk about this at watercooler.

[2020-10-27 14:35] umohnani8 commented on #7862
Just checked master and podman volume prune throws an error now if an arg is passed to it
[code]
Looks like this issue has been resolved. @mschz can you please confirm this is working for you now and we can close.

[2020-10-27 14:45] j0057 commented on #8125
With `--since 1s` it works with the corrupted files still present.

[2020-10-27 14:47] rhatdan commented on #8128
@QiWang19 @mtrmac PTAL
Is this possible with Skopeo

[2020-10-27 14:49] rhatdan commented on #8131
The podman command is looking for its configuration in $HOME/.config/containers.
I agree this should work, since this directory is not required.

[2020-10-27 14:49] Luap99 commented on #8125
Thanks for the confirmation. PR #8164 will fix this problem.

[2020-10-27 14:55] vrothberg commented on #8128
I think Skopeo is a better tool for that. There's the whole ambiguity of shortnames and registry mirrors that `skopeo inspect` is not subjected to.

[2020-10-27 14:56] rhatdan commented on #8131
Could you see if this works, if you specify a --runroot flag.

I believe the issue is that podman is attempting to find a runroot directory.

[2020-10-27 14:57] umohnani8 commented on #7838
Tried this with podman master and it works fine for me. I created a pod with a fedora container running in it and was able to `podman play kube <yaml-file>`
[code]

Snippet of the pod yaml file generated shows the image has the `:latest` tag.
[code]

@langdon is there a specific image you were using that for some reason was not being pulled? I will try out the podman version you stated in your des

[2020-10-27 15:01] mtrmac commented on #8128
First of all, that’s inherently racy: such a check can say that nothing would have to be pulled, only for the tag to be updated and the actual pull to need to copy data.

---

Somewhere around `checkRemoteImageForLabel` similar code could be used to fetch… something… about the remote image (but note that “remote” may mean “tens of gigabytes of compressed `docker save`-formatted data that will be d

[2020-10-27 15:03] langdon commented on #7838
so, I think i discovered that this only happens if it is a container you built yourself.

[2020-10-27 15:12] mtrmac commented on #8128
There is https://github.com/containers/image/pull/1041 for some idea of the complexity involved in the general case (see also how deep in the call stack this is and how many checks/decisions have already happened by that point), and that’s just an _optimization_ where we can safely just continue copying if unsure, not a feature that should always return a correct yes/no answer.

[2020-10-27 15:26] rhatdan commented on #7888
@AkihiroSuda I will add a flag to containers.conf to allow users to specify that they want this on by default.
Then we can use this flag to tell rootless podman to setup slirp4netns to share loopback by default.  Does this sound good to you?

[2020-10-27 15:59] aipec commented on #8131
Just tried specifying `runroot`, no change.

Reading the man pages I see that `--storage-driver`, `--storage-opt`, and `--syslog` all read files from `$HOME/...`, with no option to change it.

[2020-10-27 16:07] #8125 closed

[2020-10-27 16:59] avikivity opened #8167 "local repository is locked during `podman push`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During a `podman push` operation, other operations (like `podman run`) are blocked.

**Steps to reproduce the issue:**

1. `podman push` some huge image

2. while this is chugging away, run `podman run`, even on the same image

3. wait for the push to complete

**Describe the results you rece

[2020-10-27 17:13] rhatdan commented on #6604
@andylibrian You got it, thanks.

[2020-10-27 17:30] #8139 closed

[2020-10-27 17:58] cbz opened #8168 "Can't remove container created by podman-compose after upgrade from podman v1 to podman v2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Upgraded from podman v1 to podman v2 on Ubuntu 18.04.5 LTS.  In doing this it appears crun was installed - simply running a single container with either crun or runc works.

2. After upgrade, the first execution of podman results in a list of locking erro

[2020-10-27 18:05] rhatdan commented on #7061
I don't believe we have this issue in latest podman in github or fuse-overlayfs in github.

[2020-10-27 18:05] #7061 closed

[2020-10-27 18:06] rhatdan commented on #7479
@jwhonce @mheon What is the scoop on this Issue now?

[2020-10-27 18:08] rhatdan commented on #5986
https://www.redhat.com/sysadmin/image-stores-podman

[2020-10-27 18:25] mtrmac commented on #7558
OTOH https://github.com/containers/image/blob/master/internal/uploadreader/upload_reader.go — that was _ugly_. It’s quite possible that the HTTP stack is similarly continuing to receive data (for a limited time, I hope) regardless of cancellation. (I haven’t checked in detail at this point.)

[2020-10-27 18:28] mheon commented on #7479
Have not had time to look into this further.

[2020-10-27 18:30] mheon commented on #8168
Please run `podman system renumber` and try removing the containers via Podman (not podman-compose) again.

[2020-10-27 18:33] rhatdan commented on #8005
Can you remove the image, that caused the issue?

[2020-10-27 18:37] rhatdan commented on #6688
Any idea if the new conmon is there now?

[2020-10-27 18:41] rhatdan commented on #8148
Can you remove the bad image?

[2020-10-27 18:41] cbz commented on #8168
Just tried that:

`dolphin unifi  ✗ podman system renumber
dolphin unifi  √ podman container ls
CONTAINER ID  IMAGE   COMMAND  CREATED  STATUS  PORTS   NAMES
dolphin unifi  √ podman container ls -a
CONTAINER ID  IMAGE                 COMMAND  CREATED     STATUS   PORTS                                           NAMES
47e2e9c93823  k8s.gcr.io/pause:3.2           2 days ago  Created  0.0.0.0:3478->34

[2020-10-27 18:49] mheon commented on #8168
You'll need to remove the pods in that case - being unable to remove an infra container is expected.

[2020-10-27 19:07] edsantiago commented on #8148
No:
[code]
I assume that removing `~/.local/share/containers` will fix it, but I kind of think that we should offer a more courteous solution to end users.

[2020-10-27 19:30] rhatdan commented on #8153
We don't have support for running usernamespaces within pod's yet.
The way this should work is you setup the pod to run within a user namespace and then you add containers.

podman pod create  --uidmap 0:1:999 --uidmap 999:0:1 --name mongo-pod
podman run --rm -it --pod mongo-pod -v ./db:/data/db:z mongo:3

Sadly this does not work right now.

[2020-10-27 19:46] xordspar0 commented on #3264
Ansible (written in Python) implements its [Vaults](https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/vault/__init__.py) with the symmetric encryption library `cryptography`: https://cryptography.io/en/latest/

I wonder if there's a similar symmetric encryption library for Go. That would be something to look into.

[2020-10-27 19:58] rhatdan commented on #8131
Did you get the same "cannot resolve" error.  That was what I was looking for.
What error are you getting with the run root.
Setting `export HOME=/tmp` or something might also get around the issue.

[2020-10-27 20:09] rhatdan commented on #8167
This is a well known bug that @saschagrunert and @vrothberg have been working to fix.

[2020-10-27 20:38] rhatdan commented on #8148
@nalind Can't we get this rm to work.

[2020-10-27 20:39] avikivity commented on #8167
If I may complain a little more about large image handling, I notice that podman is quite slow when compressing large images. It would be nice to compress in parallel, and use a native library.

[2020-10-27 20:56] edsantiago commented on #7139
Another one in [sys podman fedora-31 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6176831567036416/html/sys-podman-fedora-31-rootless-host.log.html#t--00095)

[2020-10-27 20:57] rhatdan commented on #8167
PRs would be appreciated.  :^)

[2020-10-27 21:04] #6757 closed

[2020-10-27 21:08] edsantiago commented on #8068
Here's a [new one](https://cirrus-ci.com/task/6458306543747072):
[code]

[2020-10-27 21:08] rhatdan commented on #7771
Still hoping for this in the future.

[2020-10-27 21:09] rhatdan commented on #7757
@giuseppe Could you answer the question so we can close this issue?

[2020-10-27 22:25] edsantiago commented on #8148
Uh-oh. I just had a [flake in one of my PRs](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5081359314059264/html/sys-podman-fedora-31-rootless-host.log.html#t--00103) with exactly the same symptom: `podman pull` timed out, left the entire system in an unusable state.

[2020-10-27 23:03] avikivity commented on #8167
Only an endless stream of complaints, unfortunately

[2020-10-27 23:18] aipec commented on #8131
Yes, I received the same error. I however found setting HOME as an environment variable seems to work further:
`sudo -u new_user HOME=/tmp podman run busybox`
But fails when no subuid is available (because it's a system user).

[2020-10-27 23:43] jotelha commented on #8162
Thanks! That issue's source was easier identified than i expected. However, shouldn't something on this be on the https://github.com/containers/podman/blob/master/troubleshooting.md troubleshooting guide (or have podman warn about that behavior in case it falls back to the /tmp directory) ?

That behavior was particularly confusing, as we have several users on the machine running containers. Some

[2020-10-27 23:51] TomSweeneyRedHat commented on #8162
We'd be very grateful if you could spin up a PR with an addition to the Troubleshooting guide.  Or if you'd rather, if you want to send along an e-mail with what should be in the guide for this issue, I can throw the PR together.

[2020-10-28 00:03] jotelha commented on #8162
I might put that together. For the record: The last bit necessary was an `rm ~/.local/share/containers/storage/libpod/bolt_state.db` to have podman accept the modified `runroot`. Is that documented somewhere? Would that be the same behavior for the current version? That is something I cannot test.

[2020-10-28 00:10] Zeranoe commented on #8153
The same set of commands work on Fedora 32, so I'm curious how that's possible?

[2020-10-28 01:17] AkihiroSuda commented on #7888
SGTM

[2020-10-28 01:17] mheon commented on #7771
The work we are doing now on network aliases lays the groundwork for `network connect` and `network disconnect`

[2020-10-28 01:19] mheon commented on #8153
@rhatdan So we don't support running *all* containers in a pod in a user namespace, but individual containers should be able to join one. Any possibility this is the caps we dropped?

[2020-10-28 08:03] vrothberg commented on #8167
Thanks for the feedback. We have that on our radar as well. Unfortunately, time is scarce. Layers are pulled and (de)compressed in parallel already but they are first stored in a tmp dir and are then committed to the storage in sequence. The sequential committing may be what's slowing your large image down.

[2020-10-28 08:08] avikivity commented on #8167
I have one giant layer, and a few tiny layers, so inter-layer parallelism does not help.

[2020-10-28 08:11] vrothberg commented on #8167
Is Docker noticeable faster?

I am asking since even single layers are (de)compressed in parallel. I don't think that's a bottleneck but I want to follow your suspicion and make sure.

[2020-10-28 09:18] giuseppe commented on #7757
I don't think you can do it directly from Podman.  If you want to configure the parent cgroup, you'd have to do it manually.

[2020-10-28 09:21] avikivity commented on #8167
I can no longer run docker since I'm on Fedora 33 with v2 cgroups. I notice that podman rarely takes more than 140% cpu, so even if there is some parallelism, it's not nearly enough to exploit even a desktop.

[2020-10-28 11:18] rhatdan commented on #8131
Well you need to populate the /etc/subuid and /etc/subgid for that user, if you want to run a rootless container in a user namespace.

[2020-10-28 11:26] rhatdan commented on #7501
@shrub77 I think the error you are seeing rootless, is because you are not a full login session.
Are you doing `su USERNAME` to get the session versus logging directly to the user?

BTW I don't believe you will be allowed to run this container rootless if it requires NET_ADMIN privs.  Rootless users are not going be allowed to modify the network stack.

[2020-10-28 11:30] balamuruganravi commented on #7976
Hi @giuseppe for `systemctl --user status dbus.service` I get `Failed to connect to bus: No such file or directory`. But the same command worked before the system reboot.

[2020-10-28 11:44] edsantiago opened #8171 "integration tests: images_test: images with multiple tags: is a NOP"
Discovered during #8165, filing in case that doesn't merge.

The following lines are NOPs:

https://github.com/containers/podman/blob/7149a7cb396dd5951f9c632e79ba3c96a7797c5f/test/e2e/images_test.go#L83-L89

Adding `Expect(...).To(BeTrue())` leads to a new failure: `LineInOutputContainsTag()` is itself broken, its map implementation is onedimensional and only tracks one tag: so in a case like the

[2020-10-28 12:15] aipec commented on #8131
I figured... This issue still stands. Setting the `HOME` environment variable should happen when using the `--root` flag, and not a dirty workaround.

[2020-10-28 12:16] rhatdan commented on #8153
No I don't see how that would effect this.

First off why are you using vfs rather then overlay?  Do you have fuse-overlayfs installed?

[2020-10-28 12:48] rhatdan commented on #8131
The question is does the dirty workaround fix the problem.

[2020-10-28 13:16] rhatdan commented on #5922
I just downloaded and tried podman-example

$ podman run  -v "$PWD/inside.ini":"/root/inside.ini":Z localhost/bugreport:1.0
sed: cannot rename /root/sedcxVmUe: Device or resource busy

This looks like sed is attempting to mv the /root/inside.ini file which since it is a mount point, is not allowed
So I changed the test a little and did
$ mkdir root
$ cp inside.ini root/
$ podman run  -v "$PWD/root

[2020-10-28 13:32] Zeranoe commented on #8153
overlay was not installed, but is now:
[code]

I recreated ~/.local and retried, but unfortunately this results in the same error.

[2020-10-28 13:33] rhatdan commented on #6123
@giuseppe I think we need to figure a better UI for people attempting to do stuff like this for rootless containers.

[2020-10-28 13:36] rhatdan commented on #8153
@giuseppe Would you expect this to work.
Basically you have a container running in a user namespace that is different then the infra containers user namespace.

[2020-10-28 13:37] rhatdan commented on #8153
@mheon what namespaces are we sharing by default within pods?

[2020-10-28 13:57] #5922 closed

[2020-10-28 13:58] mheon commented on #8153
Net, UTS, and IPC

[2020-10-28 13:58] rhatdan commented on #8154
@mheon Thoughts on this one?

[2020-10-28 13:59] rhatdan commented on #8152
Since this is now vendored, closing issue.

[2020-10-28 13:59] #8152 closed

[2020-10-28 14:00] mheon commented on #8154
I'll take a look, see if I can reproduce

[2020-10-28 14:01] rhatdan commented on #8148
It looks like you can edit $HOME/.local/share/containers/storage/overlay-images/images.json and remove the bad image from the json file and get your images working again.
Need to get this to work with podman rmi IMAGEID.

[2020-10-28 14:06] rhatdan commented on #8130
@nikAizuddin were you able to get this to work?
@haircommander should we make this easier for podman play kube?  Specifying this directory to tell where seccomp.json files are located seems a little forced.  Should we search, /usr/share/containers, /etc/containers, "./", as well as /var/lib/kubelet/seccomp/?

[2020-10-28 14:08] rhatdan commented on #8153
IPC means we would share the shm directory between the pause container and the new container, and this could be owned by a UID that is not allowed.

[2020-10-28 14:11] haircommander commented on #8130
The issue is we're trying for kube compatibility, but also use expressiveness. It may be confusing if we silently find a seccomp.json in /etc/containers, and kube fails to find such a file because it only looks in /var/lib/kubelet/seccomp/. Having the flag makes this behaviour explicit

[2020-10-28 14:17] rhatdan commented on #8130
But if I have the file in /var/lib/kubelet/seccomp/ then it would work?

What does podman generate kube do with this information?

[2020-10-28 14:20] nikAizuddin commented on #8130
I haven't tried yet. At the moment I manually create a pod and then [add windefender container with `--security-opt` into the pod](https://github.com/extra2000/saferwall-formula/blob/30d62afde870db47f12ef91756f62fb8b87e6366/saferwall/multiav/windefender.sls#L26).

I'll try this solution by tomorrow and I'll report back.

[2020-10-28 14:20] rhatdan commented on #8106
Since @mheon answered the question, closing the issue.

[2020-10-28 14:20] #8106 closed

[2020-10-28 14:23] edsantiago commented on #6510
Here's another reproducer. I don't know if it's the same root cause (this one has to do with vfs and storage opts) but at least it's a 100%-reliable reproducer:
[code]
The last line will always fail with:
[code]

[2020-10-28 14:26] mheon commented on #8154
Works fine over here. Your Dockerfile looks suspicious - you say you expect the container to exit after 10 seconds, but you have a `sleep 100` in there, so I'd expect it would take 100 seconds instead...

[2020-10-28 14:27] mheon commented on #8154
Ahhh, nevermind, I see that it does reproduce when `-t` is not used. Interesting.

[2020-10-28 14:29] mheon commented on #8154
This is very interesting. The attach socket is completely removed, Conmon is dead, but Podman is still listening on it.

[2020-10-28 14:32] rhatdan commented on #8105
I believe this issue here is related to rootless containers not having  all cgroups setup by systemd by default.

Something similar to https://github.com/containers/podman/issues/8105?

@giuseppe WDYT?

[2020-10-28 14:39] balamuruganravi commented on #7976
Hi @giuseppe I just reproduced the issue in other instance, surprisingly now the podman commands are not hang, but it throws different error, please verify the below steps and let me know if anything is wrong here.
Step 1: ssh into the instance and switch to the rootless user(podman) `sudo su - podman`
Step 2: podman@container-host[~] $  `systemctl --user status dbus-broker.service`

[2020-10-28 15:19] cevich commented on #8068
@edsantiago Thanks for reporting, this is a different/unrelated problem.  IIRC it's networking related, something to do with the backend of Cirrus-CI.  They're aware of the problem and have taken steps to lower occurrences (extending timeouts / adding retry capability).

[2020-10-28 15:35] mheon commented on #8154
Got it - https://github.com/containers/podman/pull/8175

[2020-10-28 17:05] w4tsn commented on #8005
I can remove all images together, or one by one. I actually don't know which image I would have to try. As far as I can tell right now, it's independent of any particular image. I did not test the whole thing with each image one by one to be fair. I have to see when I'll be free to try that

[2020-10-28 17:07] edsantiago opened #8176 "podman image exists, with vfs.imagestore and image from quay, fails"
I have no idea how to even describe this, so someone please feel free to change the title to a more descriptive one.

Discovered during testing of #8165 -- a podman setup using `vfs` and `vfs.imagestore` will, under certain circumstances involving images from `quay.io`, falsely claim false on `image exists`. A reproducer is worth a thousand of my words:
[code]

[2020-10-28 18:36] TomSweeneyRedHat commented on #8162
I'll have to lean on @mheon about the boltdb doc and behavior.  Thoughts Matt?

[2020-10-28 18:36] giuseppe commented on #8153
It works on Fedora most likely because you are using crun instead of runc.  Could you try if it works with crun instead of using runc?

On a new enough kernel (5.3+), crun uses the new mount API to grab a reference to the mount from the old container and mount it in the new container.

[2020-10-28 18:40] mheon commented on #8162
The Boltdb bit is expected - we won't let you swap storage paths for existing containers (bad things can happen if we swap directories mid-flight - files and directories we create can get lost, causing unexpected behavior. The only real way of migrating is to run `podman system reset` and effectively wipe all existing state (we recognize this isn't very convenient, but this is the best we can do f

[2020-10-28 18:53] #8154 closed

[2020-10-28 18:55] Zeranoe commented on #8153
That was it, it works with `podman --runtime /usr/bin/crun run ...`.

Thank you!

[2020-10-28 18:55] #8153 closed

[2020-10-28 19:23] rhatdan commented on #8176
/assign

[2020-10-28 20:24] rhatdan commented on #8113
@xordspar0 Are you planning on working on this?

[2020-10-28 20:28] xordspar0 commented on #8113
Yes! I'll probably get to it this weekend.

[2020-10-28 20:40] rhatdan commented on #8005
Id you do `podman images` what error do you see?

We had a similar experience and found that we can edit

./.local/share/containers/storage/overlay-images/images.json
And remove the bad container link in the json file, and get the images back up and running.

We are looking into making this work with podman rmi IMAGE, but have to figure out how to clean up the image store.

[2020-10-28 20:44] rhatdan commented on #8087
@remyluslosius Any update to this?

[2020-10-29 04:40] shsheep opened #8179 "Error: Failed to copy content into new volume mount "some-hashed-container-code": cannot chown `~/.local/share/containers/storage/volumes/some-hashed-container-code/_data` : operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
While trying to run rootless podman gitlab container on ESXi virtual machine RHEL8 on SAN storage as non-root user, I got an error saying that chown operation is not permitted. If I change to root, then everything works fine.

**Steps to reproduce the issue:**

0. First i had an error while tr

[2020-10-29 04:43] shsheep opened #8180 "Error: Failed to copy content into new volume mount "some-hashed-container-code": cannot chown `~/.local/share/containers/storage/volumes/some-hashed-container-code/_data` : operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
While trying to run rootless podman gitlab container on ESXi virtual machine RHEL8 on SAN storage as non-root user, I got an error saying that chown operation is not permitted. If I change to root, then everything works fine.

**Steps to reproduce the issue:**

0. First i had an error while tr

[2020-10-29 04:44] shsheep commented on #8179
Sorry for duplicating same issue.

[2020-10-29 04:44] #8179 closed

[2020-10-29 07:31] #8160 closed

[2020-10-29 07:36] giuseppe commented on #7976
I've never seen this issue before.  Does it also happen if you run the `/usr/bin/podman start 287ed6d61390-infra` command manually?

[2020-10-29 07:51] shsheep commented on #8180
Solved using lateset podman version 2.1.1

[2020-10-29 08:12] balamuruganravi commented on #7976
Yes I am getting the same error even If I run the `/usr/bin/podman start 287ed6d61390-infra` command manually.

[2020-10-29 09:40] PavelSosin-320 commented on #5352
@greenpau Is cdoorrection available only in GitHub? Is it planned for release? RedHat has pushed CentOS8 to CentOS8.2 This release  has no iptables working. It returns exit code 4 with proposal use another utilities which doesn't exists too.
Meanwhile, Microsoft has started to work on the kernel update to ver 5.4. I'm trying to use Podman on CentOS8 distro and for me it is blocking regression, not

[2020-10-29 09:50] aipec commented on #8131
Yes.

After adding `subuid`'s and `subgid`'s to the new user setting the `HOME` environment variable the command works as expected.

So, the code I ran:
[code]

That's great for now. Should this functionality not be part of the `--root` flag?
I'm happy to supply a pull request, but I might need some guidance.

[2020-10-29 10:27] kolyshkin commented on #8152
Might need to be reopened in the light of https://github.com/cri-o/cri-o/pull/4310#issuecomment-718361022 and https://github.com/containers/storage/pull/757

[2020-10-29 10:31] #8159 closed

[2020-10-29 11:58] PinkJohnOfUs opened #8181 "shared memory between containers in pod not working"
/kind bug

**Description**

Pod uses same IPC namespace, but it is not possible to use /dev/shm

**Steps to reproduce the issue:**

1. create Pod
[code]

2. run sender and receiver container
[code]

3. send data over /dev/shm
[code]

4. try receiving data over /dev/shm
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]
**output of `podman pod inspe

[2020-10-29 14:22] awerlang opened #8182 "--uidmap fails with `EOF: OCI runtime error`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a container with `--uidmap 0:0:1001` fails. Possibly because the range overlaps with more than one uidmap on the system.

**Steps to reproduce the issue:**

1. `podman run --rm --uidmap=0:0:1001 -u 1000 debian id -u`

**Describe the results you received:**

`Error: container_linux.go:

[2020-10-29 14:25] superjeng1 opened #8183 "Cannot install Podman 2.1.1 from Kubic Project on CentOS 7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman installation in CentOS 7 from Kubic Project failed since the containers-common package is outdated.

**Steps to reproduce the issue:**

1. Install podman latest stable from kubic project as recommended by [Podman Installation](https://podman.io/getting-started/installation.html)

**Des

[2020-10-29 14:36] vrothberg opened #8184 "Default rootful path to podman.sock not present"
Found while creating slides.

We need to make sure that the default path is created `os.MkdirAll(...)`. I had a quick look but couldn't find the right place.
[code]
@jwhonce PTAL

[2020-10-29 14:51] mheon commented on #8183
@lsm5 PTAL

[2020-10-29 16:54] xordspar0 commented on #3264
[golang.org/x/crypto/nacl/secretbox][1] is an option. Packages in the golang.org/x/ space are semi-official. Canonical JuJu apparently imports it. As a bonus, it is compatible with the [NaCl secretbox library][2], which is written in C and has multiple bindings for other languages. The interface is only two functions: `Open()` and `Seal()`, which operate on `[]byte`. I'm not sure how much we would

[2020-10-29 17:35] mtrmac commented on #3264
Careful with NaCl or any other format inventions (including things that compose FIPS-acceptable primitives), if we want this to be FIPS-certifiable. (Even deciding what crypto package to use requires having, and keeping up with, cryptography, sadly.)

IIRC the vague consensus from recent discussions has been:
- Use system-provided keyrings / facilities to store secrets.
- Or maybe just use an _une

[2020-10-29 17:38] mheon commented on #3264
Initial prototype should be unencrypted. After that, we can look into encryption - best suggestion I heard was gnupg

[2020-10-29 18:07] cevich commented on #8068
I Managed to catch three Fedora VMs in one go that hit this problem.  The VMs are completely hung, inaccessible by ssh and don't respond to pings.  However, since I blocked Cirrus-CI from removing them, I was able to examine their serial-console output.  This is what appears (more or less) on every one:

[code]

The great news about this is:  I can work around it by switching to a different I/O sc

[2020-10-29 18:31] #8184 closed

[2020-10-29 18:46] cevich commented on #8068
Welp...it appears there are a TON of bugs open and re-opened on this: https://bugzilla.redhat.com/buglist.cgi?quicksearch=bfq  So it's not only us seeing this problem re-emerge.  [One of the bugs](https://bugzilla.redhat.com/show_bug.cgi?id=1851783) contains a lively discussion re: resetting the default to 'deadline' for **all** types of storage, going forward.

[2020-10-29 19:48] longwuyuan opened #8190 "podman run fails with operation not permitted - podman running in docker container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
- If there is a "pip install" command in a Dockerfile, then Podman build fails with error "operation not permitted"
- Podman build creates docker image, if Dockerfile does not have "pip install" command

**Steps to reproduce the issue:**

1.Install or get a kubernetes cluster. Minikube also wo

[2020-10-29 20:17] mheon commented on #8086
Let me take a look and see if I can reproduce

[2020-10-29 20:31] mheon commented on #8086
The "Error forwarding signal" bit definitely reproduces.

First step is probably to drop that down to an Info level log if it's caused by the container being in a bad state - that will stop spamming the terminal with logs, at least.

[2020-10-29 20:37] mheon commented on #8086
I can see a potential race where Podman will allow the Podman process to be killed, but the container to survive, if a signal arrives in a narrow window between signal proxying starting and the container starting (we start proxying before the container is fully started to ensure we don't miss sending anything). I don't think that precisely matches what's going on here, but I will see what can be d

[2020-10-29 20:39] mheon commented on #8086
Partial fix in https://github.com/containers/podman/pull/8191

[2020-10-29 21:20] rhatdan commented on #8190
Have you tried running rootfull podman build outside of Kubernetes?  Does it still fail?
Have you tried running rooless podman build outside of Kubernetes?  Does it fail?

[2020-10-29 21:21] rhatdan commented on #8183
Looks like you need to install the skopeo package from the Kubic project also.

[2020-10-29 21:22] rhatdan commented on #8182
@giuseppe PTAL

[2020-10-29 22:10] mheon commented on #8190
EPERM on making the mount namespace makes me wonder if this isn't seccomp. I'm not really familiar with the Kube + Jenkins setup, but can you disable Seccomp (if enabled) on the container in question?

Adding all capabilities would also be instructive.

[2020-10-29 23:06] usury opened #8193 "Alternate port_handler that keeps the source ip for user-defined rootless networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Alternate "port_handler=slirt4netns" provided in PR 6965 (https://github.com/containers/podman/pull/6965) for "only 127.0.0.1 within containers" **not implemented** for user-defined rootless cni networks
- specifying "port_handler=slirp4netns" when **connecting** a container to a already-crea

[2020-10-29 23:09] usury commented on #8193
Since the "port_handler=slirp4netns" solution from PR [6965](https://github.com/containers/podman/pull/6965) was implemented to address the "only 127.0.0.1" problem within rootless containers ("port_handler=rootlesskit" by default), and since that solution **is not** implemented for user-defined rooteless cni networks, perhaps revisiting the "only 127.0.0.1" problem with "port_handler=rootlesskit"

[2020-10-29 23:15] usury commented on #8193
***********************************************************************
***** potentially informative "port_handler=rootlesskit" behavior *****
***********************************************************************

Unexpected **IP6** address binding behavior of "port_handler=rootlesskit"
Alternate "port_handler" provided in PR 6965 helps to reveal ...
    rootless "podman run" with "--network=sl

[2020-10-30 02:48] superjeng1 commented on #8183
Can I know why is the package necessary? Podman runs fine without it. Also, this is what the Podman package from the Kubic project currently requires.
[code]

[2020-10-30 03:34] usury commented on #7842
These are the exact steps to confirm the OP's observation that rootless containers cannot be assigned a static IP on a user-defined rootless cni network

**Containers NOT in pod**
[code]
**Container WITHIN a pod**
[code]
However, containers created in the same way do have proper IP addresses assigned to them automatically when they join "myCNI" which suggests manual assignment of ip address for su

[2020-10-30 03:47] usury opened #8194 "DNS using container name fails for containers on user-defined rootless cni network with a pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

DNS using container name fails for rootless containers on user-defined rootless cni network **WITHIN** a pod. The same succeeds for similar rootless containers **NOT WITHIN** a pod.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
DNS lookup based on container