[2018-12-27 11:03] poettering commented on #1429
Note that it's possible to set up a cgroupsv1 compatible environment for container payloads on a cgroupsv2 host and vice versa (if the kernel supports both APIs). systemd-nspawn supports that for example. It's a bit restricted though, since it means you can't reasonably delegate any controllers to the container, but quite frankly controller delegation on cgroupsv1 is unsafe anyway, and hence not d

[2018-12-27 12:19] rhatdan commented on #2053
Non priv podman is not going to be allowed to create more processes then the user is allowed to create.  If it was, I would describe this as a Problem in the Kernel, and a vulnerability.  I don't see how we can satisfy this issue.

As a side note, I wonder if the container is limited to 1024 per UID or total.  Could you create 1024 open FDs for ROOT inside the container, and another 1024 for UID 1

[2018-12-27 13:49] edwintorok commented on #2053
FWIW the `vfs` backend doesn't suffer from this problem, just the fuse one (`esy` actually succeeds).
I haven't reached the maximum number of processes, I've just reached the maximum number of file descriptors inside 1 process, and that process is `fuse-overlayfs`. Because all file accesses from inside the container go through this single process, the entire container is limited to 1024 FDs/contai

[2018-12-27 14:55] cyphar commented on #1429
How does this work? Last I checked, you have to enable an entire _controller_ on either cgroupv1 or cgroupv2 and you can't use them in parallel. So if the host is using cgroupv2 controllers, then the container cannot use the cgroupv1 equivalent of the same controller simultaneously. This is what I was referring to.

[2018-12-27 16:43] mheon commented on #1817
Huh. This is not an error I would have expected to be related to that.

@rhatdan Should we add a warning against :z/:Z on some system mountpoints?

[2018-12-27 16:45] mheon commented on #2054
Sorry, but I don't think this is possible without an extensive rewrite. Podman is entirely based on `libpod`, and has no real provision for talking to another container engine over an API.

[2018-12-27 16:46] EmilienM commented on #1817
I might have been confused with another bug. From what I can tell we
haven't seen that bug around anyway.

---
Emilien Macchi

On Thu, Dec 27, 2018, 5:44 PM Matthew Heon <notifications@github.com wrote:

[2018-12-27 18:47] thoraxe opened #2057 "symlinked device paths not supported as "valid device nodes""
[//]: **kind bug**

**Description**

when attempting to use `/dev/serial/by-id` to attach devices to containers, `podman` complains they are `not a valid device`.

**Steps to reproduce the issue:**

1. `podman run -it --rm -v /opt/zigbeemqtt-data:/app/data:Z --device /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0018ED293B-if00:/dev/ttyACM0:rwm -u 10101 koenkk/zigbee2mqtt`

*

[2018-12-28 11:46] poettering commented on #1429
As i wrote above, it's a bit limited, as delegating controllers is not really doable, since the host generally owns all. But that's not really a limitation, as I wrote above, since cgroupsv1 controller delegation is not safe anyway and hence shouldn't be done anyway, regardless if your host runs cgroupsv1 or cgroupsv2.

Controller delegation is only safe and secure in a full cgroupsv2 environment,

[2018-12-28 13:16] rhatdan commented on #1429
I don't think this is a question of people wanting to run systemd inside of a container, this is more about missing cgroups controllers in V2 that the container engines and runtimes want to use like the Freezer cgroup.

[2018-12-28 13:39] rhatdan commented on #2054
@dungdm93 The tool you are looking for is crictl.

But why do you think you need a container engine like cri-o or contianerd?  Those are only necessary if you are using higher level tools like container orchestrator's like Kubernetes.

Even if podman could launch a container in CRI-O, if you were running with kubernetes, it would want the container killed, since k8s wants full control over the CRI

[2018-12-28 13:41] rhatdan commented on #1817
@mheon There are some warnings built into opencontainers/selinux to prevent user attempts to relabel system directories.

[code]

[2018-12-28 13:58] cyphar commented on #1429
@poettering

Sure, that's fine -- you don't have named hierarchies in cgroupv2 anyway :wink:.

But the point is about all of the other controllers that can only be enabled on cgroupv1 **or** cgroupv2 (`pids`, `cpu*`, `memory`, `freezer` soon, etc). For instance, newer versions of Java currently support cgroupv1 `memory` and `cpu*` -- but if we switch to cgroupv2 `memory` and `cpu*` on the host the

[2018-12-28 15:36] thoraxe commented on #2057
This doesn't seem to work for any type of symlinked device at all:

[code]

[code]

[2018-12-28 16:06] rhatdan commented on #2046
I think we should change main.go to figure out the runc to use and then all tools would follow that rule.

[2018-12-28 16:19] mheon commented on #2057
Ah, symlinks would explain it - I don't think we attempt to resolve links and just treat the given path as a device node.

[2018-12-29 00:03] AkihiroSuda commented on #1429
The motivation of this issue is to control resource limits of rootless runc containers (that are launched by rootless podman and other container engines), not to run systemd in a container.

For discussion on cgroups v2 integration into runc, https://github.com/opencontainers/runc/issues/654 seems better place.

[2018-12-29 09:47] dungdm93 commented on #2054
@rhatdan @mheon I do use kubernetes to launch pods. However sometimes, I wanna hacking the way k8s work, or... just trouble shooting. I already use `crictl`, but I more familiar with docker cli, that is why I try `podman`.
As you mention, `podman`, `buildah` and `cri-o` share images, but don't share containers. So I wonder which scenario `podman` is good for?

[2018-12-29 13:59] rhatdan commented on #2054
One feature that podman is adding is the ability to create kubernetes yaml files out of running contianers/pods.  That then could be used to launch equivalent pods under kubernetes/CRI-O.

Look at:

`podman generate kube`

To generate yaml

`podman play kube`

[2018-12-30 13:10] rhatdan commented on #2057
Fixed in upstream.

[2018-12-30 13:10] #2057 closed

[2018-12-30 13:11] rhatdan commented on #2047
Fixed in master branch.

[2018-12-30 13:11] #2047 closed

[2018-12-30 17:01] afbjorklund opened #2063 "podman exec doesn't work with custom PATH"
The "exec" command does not honor the PATH (if any), of the image, like the "run" command does.

Thus, when using `exec` one _always_ gets the default PATH - using `run` gets the custom PATH.

Overriding the PATH var with `-e` works.

Seems to be a bug setting "env" twice ?

[2018-12-30 17:03] mheon commented on #2063
I wonder if it's just defaulting to whatever PATH is set in the container when it's first created - if you do a `podman run -e PATH:...`, does it use that path?

If so, it's a pretty simple matter to pull it out of the container config and use it.

[2018-12-30 17:03] mheon commented on #2063
Sorry, `docker run -e PATH:...` - to see how Docker handles it

[2018-12-30 17:04] afbjorklund commented on #2063
It worked in Docker (with `run` and `init`)

[2018-12-30 17:04] afbjorklund commented on #2063
Think I found the issue

[2018-12-30 17:08] afbjorklund commented on #2063
Here was the duplicated "env" code I meant:

https://github.com/containers/libpod/blob/master/cmd/podman/exec.go#L103
https://github.com/containers/libpod/blob/master/cmd/podman/exec.go#L112

When compared to the run/create version of it:

https://github.com/containers/libpod/blob/master/cmd/podman/create.go#L593
https://github.com/containers/libpod/blob/master/cmd/podman/create.go#L602

[2019-01-02 10:44] vrothberg commented on #2013
I am not sure how to tackle it. The behaviour comes from issue https://github.com/containers/skopeo/issues/425 and has been changed by PR https://github.com/containers/image/pull/370 which changed the compression for the directory transport with https://github.com/containers/image/pull/370/files#diff-e29498c4bcf6aaaa545bcf30a1030503R101 but I don't see why this was needed.

@mtrma, @runcom, do you

[2019-01-02 10:48] vrothberg commented on #2013
@mtrmac ^

[2019-01-02 11:17] TristanCacqueray opened #2066 "Podman commit doesn't copy the exposed ports list correctly"
**kind bug**

**Description**

When using podman to commit a running-container, the ExposedPorts list contains extra corrupted entries.

**Steps to reproduce the issue:**

1. c=$(buildah from centos)

2. buildah config --port 8080 $c

3. buildah commit $c my-centos

4. podman run --publish-all -it --name rep my-centos

5. podman commit rep rep-commit

6. podman inspect rep-commit
...
        "Cont

[2019-01-02 11:23] rhatdan commented on #2066
@mheon can you take a look at this?

[2019-01-02 13:59] EmilienM commented on #1844
We still have the issue at this time, looking at our [kibana](http://logstash.openstack.org/#dashboard/file/logstash.json?query=build_name%3A%20*tripleo-ci*%20AND%20build_status%3A%20FAILURE%20AND%20message%3A%20%5C%22exec%20user%20process%20caused%5C%22):
![logstash-podman](http://my1.fr/files/logstash-podman.png)

+ podman version
Version:       0.12.1.2
Go Version:    go1.10.2
OS/Arch:       li

[2019-01-02 14:35] mheon commented on #1844
This is definitely a runc error, telling us that the entrypoint binary for the container doesn't exist.

If it works on Docker, it's most likely part of how we assemble container entrypoint - perhaps we're doing something differently that results in us generating a different path than Docker?

[2019-01-02 14:38] mheon commented on #1844
It's always docker-puppet.py

I think we need to figure out where that lives in the image, and figure out why Podman isn't finding it properly.

[2019-01-02 14:39] mheon commented on #2066
Sure. Looks like we're trying to interpret binary as unicode somewhere.

[2019-01-02 15:04] mheon commented on #2066
Decimal 8080 in Unicode produces the ᾐ character, so we're somehow casting this into unicode.

[2019-01-02 15:05] mheon commented on #2066
Also happens with buildah. Exciting.

[2019-01-02 15:12] mheon commented on #2066
Looks like this is a bug in c/image

[2019-01-02 15:19] mheon commented on #2066
Nevermind - we're actually displaying the right content. It looks like we are committing garbage ports.

[2019-01-02 15:55] #2066 closed

[2019-01-02 16:39] EmilienM commented on #1844
@mheon how do you know it's docker-puppet.py?
The container options are:
``--volume /var/lib/docker-puppet/docker-puppet.sh:/var/lib/docker-puppet/docker-puppet.sh:rw,z --security-opt label=disable --entrypoint /var/lib/docker-puppet/docker-puppet.sh``

I suspect it's ``/var/lib/docker-puppet/docker-puppet.sh`` which contains this code:
https://github.com/openstack/tripleo-heat-templates/blob/beb8

[2019-01-02 16:46] mtrmac commented on #2013
Can someone write down the _precise_ actual/expected results? I am not quite clear what the reported problem is, or maybe @vrothberg is seeing an independent problem from the one reported;

e.g. is it that the layer is/is not compressed, or that the mediaType does/does not match? Or both?

---

It is a known missing functionality of c/image that it does not change MIME types at all on compression/

[2019-01-02 16:50] EmilienM commented on #1844
@mheon while I keep debugging myself, how could we know which directory isn't found by runc or podman? I wish I could strace it but it's happening randomly in CI and I can't reproduce it for now.

[2019-01-02 16:58] EmilienM commented on #1844
My first feeling is that there is a race when your entrypoint is bind-mounted from the host.

[2019-01-02 18:06] EmilienM commented on #1844
FTR https://github.com/containers/libpod/pull/2068 can help with logging.

[2019-01-02 18:12] mtrmac commented on #1671
BTW it’s not _obviously correct_ to drop control characters: if the container is provided a PTY slave FD, it will reasonably expect that it can actually treat it as a TTY — i.e. use syscalls to ask about the window size, and use terminal control sequences to control the terminal.  Basically, consider a `vi` container — that should be possible in principle, shouldn’t it?

Also, to avoid confusion,

[2019-01-02 18:48] vbatts commented on #2013
@mtrmac
the reported problem is that the tar archives are not compressed, but the descriptor that references them says that they are compressed. So, one or the other side needs to be adjusted. Personally, I'd say to only update the mime-type/mediaType string to state the payload is not compressed.

While their v2.s2 doc does not have it, their docker/distribution code does have it and supports it

[2019-01-02 18:57] mtrmac commented on #2013
Yes, there is a `MediaTypeUncompressedLayer` definition in docker/distribution, but not a single use of it within that repo.

docker/docker does use that constant, but only internally within the implementation of `docker push`, to cause the layers to be compressed; it never exists outside of the memory of the daemon.

I have now noticed, though, that containerd does recognize the uncompressed MIME

[2019-01-02 18:59] mtrmac commented on #713
Not really; we do need _something_ to create multi-arch images, but I obviously haven’t been working on it yet.

[2019-01-02 19:01] vbatts commented on #713
this would be not only for multi-arch. The use-case here is for additional metadata (e.g. a SWID manifest or `gomtree` output) to be attached to the image when pushed.

[2019-01-02 19:02] mtrmac commented on #1719
@rhatdan

Also, as a possible workaround:

[2019-01-02 19:04] sjenning commented on #1973
@rhatdan you mean open a PR against buildah right? the changed file is in the buildah repo.
https://github.com/containers/buildah/blob/master/imagebuildah/chroot_symlink.go

[2019-01-02 19:14] vbatts commented on #1750
@rhatdan since I did the PoC branch https://github.com/vbatts/containers-libpod/tree/multiple_runtimes I have not been able to circle back on this, but feel it is very needed for wider adoption and use of all the runtimes. Anyone is welcome to pick up my branch.

[2019-01-02 20:21] rhatdan commented on #1808
@vbatts kind of what I thought, thanks.

[2019-01-02 21:19] rhatdan commented on #1750
@giuseppe Could you take this over?

[2019-01-02 21:30] skept1c opened #2070 "Add "host-device" networking mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**
##
**Description**

CNI supports [host-device](https://github.com/containernetworking/plugins/tree/master/plugins/main/host-device) networking mode, which might be very useful in our scenario: host with multiples interfaces, each of them is bound to a particular container. However, according to [documentation](https://github.com/conta

[2019-01-02 22:18] rhatdan commented on #1719
@nalind WDYT?

[2019-01-02 22:33] mheon commented on #2070
I think that this is possible if you make a separate CNI network for the host device, and join the container to it with the `--network` flag. There might be an issue if you only wanted to join the host device network, though, as `--network` only allows joining additional CNI networks, not replacing the default one.

[2019-01-03 08:01] cjeanner commented on #1844
@EmilienM hmmm I don't think so. According to the [runc code involved](https://github.com/opencontainers/runc/blob/master/libcontainer/standard_init_linux.go), if it was due to a missing entrypoint, it would fail earlier, something around [line 174](https://github.com/opencontainers/runc/blob/master/libcontainer/standard_init_linux.go#L174-L177) instead of the current line 203.

[L203](https://git

[2019-01-03 08:59] cjeanner commented on #1844
Small steps:
when we have a missing ```--entrypoint foo.sh```, we have another error:
[code]

If we don't have the file on disk, podman itself returns an error:
[code]

So it's really, really strange. And the line 203 involves "seccomp init" message, NOT "exec user process" :(.

[2019-01-03 10:30] vrothberg commented on #2013
That's stated in `skopeo copy --help` but I could not see any code that actually alters the compression besides Skopeo's `--dest-compress` flag. Obviously, that's another issue than the reported one (but maybe I am misinterpreting it).

[2019-01-03 10:33] vrothberg commented on #2013
(Just to check my understanding of the code) Does it imply we need to update/alter the manifest once the image is copied? Is there code in place for such tasks?

[2019-01-03 11:37] poettering commented on #1429
Yeah, on the host it's all cgroupv1 XOR all cgroupv2.

Java does cgroups manipulation? why would it do that? that smells seriously fishy and broken. cgroupsv1 isn't really an API for unprivileged user processes, and I wasn't aware that Java was now used for privileged stuff. But yeah, if it does use cgroupv1 then this would stop working on cgroupv2 systems. But I am not sure why runc should care r

[2019-01-03 11:42] poettering commented on #1429
the freezer controller might be useful for some cases (though awfully broken API-wise), and really shouldn't hold you back. I understand the container managers use it for fork bomb protection during container shutdown. Given how many holes the swiss cheese that is containers has I doubt it's really that big of a loss if the fork bomb protection is not available initially on cgroupsv2. Moreover you

[2019-01-03 13:35] adelton commented on #2046
Interesting, it seems that with https://github.com/containers/libpod/pull/2059 merged, I no longer see the `exec: "runc": executable file not found in $PATH` error. In fact, when I remove the `runc` from the `apt-get install` list, I even no longer get the `json: cannot unmarshal object into Go value of type []string`: https://travis-ci.org/adelton/freeipa-container/builds/474853076

So it has imp

[2019-01-03 14:51] adelton commented on #2046
But it no longer blocks testing with podman on Travis CI -- I simply don't install `runc` with `podman` to avoid the `json: cannot unmarshal object into Go value of type []string`. So closing this general Travis CI use-case issue.

[2019-01-03 14:51] #2046 closed

[2019-01-03 15:05] mheon commented on #2046
I think we probably want to change the PPA to have our runc conflict with the distro's runc

[2019-01-03 15:08] mheon commented on #1844
This is definitely the `syscall.Exec()` at the very end of the Linux init code.

Per the manpage for `execve` - `The file filename or a script or ELF interpreter does not exist, or a shared library needed for file or interpreter cannot be found. `

Could we be missing a library necessary to run the script?

[2019-01-03 15:31] rhatdan commented on #1973
Yes sorry.

[2019-01-03 15:43] cevich commented on #1844
This couldn't be at all related to the occasional fail we see from python tests where the cgroup mount isn't there (for some/whatever reason)?

[2019-01-03 18:15] mtrmac commented on #2013
What do you mean by “alters the compression”, or maybe by “the compression type doesn't default to the one of the source”?

The `dirImageDestination.DesiredLayerCompression` returns `PreserveOriginal` by default, and `c/image/copy/copier.copyBlobFromStream` in that case always uses the original blob without compressing/decompressing it. So, AFAICS, copies to `dir` do “default to [compression type]

[2019-01-03 18:18] mtrmac commented on #2013
Yes, we are already doing that when compressing images, so that the manifest of the destination refers to results of the compression which we have actually uploaded.  In c/image/copy, see `copyBlobFromStream` for the code that actually modifies the blob and updates the input `srcInfo` when creating its return value, the end of `copyLayers` for staging the modifications, and ultimately `copyUpdated

[2019-01-03 19:54] miabbott opened #2073 "different behavior from `podman pull` when manifest is 404"
/kind bug

(Related to RHBZ https://bugzilla.redhat.com/show_bug.cgi?id=1375323)

When trying to pull invalid images from various registries, the behavior of `podman` is not consistent.

[code]

Ultimately, each of the registries returns an HTTP 404 when trying to retrieve the manifest for the non-existent image (well, except for the CentOS registry which returns 403?).

[code]

Is it possible to

[2019-01-03 19:55] mheon commented on #2073
@mtrmac PTAL

[2019-01-03 19:56] florentulve opened #2074 "Error when podman run with --uidmap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[]: # **kind bug**

**Description**

Playing and having fun with podman for self host some service, uidmap does't seem to work as expected.

As root user, executing the following command (from[](https://www.projectatomic.io/blog/2018/05/podman-userns/)) :

`podman run --uidmap=0:100000:70000 --gidmap=0:200000:70000 fedora-minimal cat /proc/self/uid_ma

[2019-01-03 20:02] mheon commented on #2074
Are you running Podman as root, or rootless?

[2019-01-03 20:05] florentulve commented on #2074
As root

[2019-01-03 20:16] jwflory commented on #1948
I am running it directly on my host.

Yes, I am running as my user.

Yes, actually this worked perfectly:

[code]

[2019-01-03 20:18] rhatdan commented on #2074
Works for me fine on F29.

Could you check if you have an issue with SELinux.

[2019-01-03 20:30] rhatdan commented on #1948
And podman pull fails when you run as non root.

[2019-01-03 20:31] jwflory commented on #1948
Yes, it fails.

[2019-01-03 20:31] mtrmac commented on #2073
Right, the docker/distribution protocol defines an error reporting mechanism that is not _principally_ based on HTTP status codes, and the “denied+unauthorized”, and “unknown”, and “manifest unknown” are all errors causes that have been returned by the server (and are, to an extent, machine-parseable in Go callers of c/image).

At least in the case of the clearly non-compliant 404+HTML quay.io (un

[2019-01-03 20:34] mheon commented on #2073
From our perspective, I think we'd prefer the more verbose errors - we can always choose to discard them when we print what's gone wrong.

For reference, I believe we originally did that, but switched to our current implementation (print the result of the failed pull) to give more insight into what had gone wrong.

[2019-01-03 20:34] rhatdan commented on #1948
jwflory could you attempt to wget off of that host?

If you pull an image from docker.io does it work?

[2019-01-03 20:44] mtrmac commented on #1948
To isolate this a bit more, please create a `foo.go` with the following contents:
[code]
and check whether `go run foo.go` fails/succeeds in the same way as `podman pull registry.fedoraproject.org/fedora:latest`; if it does, that’s a much smaller program to check, and `strace` might be useful for pinpointing where the behavior differs.

[2019-01-03 20:50] mtrmac commented on #2073
Right, https://github.com/containers/libpod/commit/2188d8f7ada15caddd8b721745a0a4b6f61ce111 replaced a generic string with returning the underlying data.

[2019-01-03 21:05] jwflory commented on #1948
`wget` works as expected on my host with my user.

Yes, I am able to pull an image from docker.io with `docker` CLI as my user without root (I am in the `docker` group). A similar issue was once reported with Docker in [bug 1585802](https://bugzilla.redhat.com/show_bug.cgi?id=1585802).

Seems like it worked?

[code]

[2019-01-03 21:06] baude commented on #2073
This is very akin to https://bugzilla.redhat.com/show_bug.cgi?id=1375323 also filed by @miabbott ... I agree with @mtrmac here.  The more I look at it the more I don't like the idea of trying to map the errors because this really comes from the registry itself ... so the next registryfoobar that comes out, will not match us.

[2019-01-03 21:09] baude commented on #2074
works for me too.

[2019-01-03 21:58] rhatdan commented on #2073
Ok lets close this as close won't fix.

[2019-01-03 21:58] #2073 closed

[2019-01-04 07:58] giuseppe commented on #1750
I'll take a look

[2019-01-04 09:32] giuseppe commented on #2053
I've opened a PR for fuse-overlayfs to always bump the `RLIMIT_NOFILE` soft limit to its hard limit.

I don't think it is possible to use multiple processes to circumvent the rlimit.  The fd to the file is handed to FUSE once opened.

[2019-01-04 11:37] florentulve commented on #2074
`ausearch -m avc -ts` recent gives me <no matches>

[2019-01-04 11:56] giuseppe commented on #2074
Have you tried this command on a fresh storage or was it created by some older podman versions?  It could be an error in the chowned image, in that case a `rm -rf /var/lib/containers/storage` should help

[2019-01-04 11:58] giuseppe commented on #2074
also, could you check if `/run/libpod/containers-root` has mode 0755?

[2019-01-04 12:31] florentulve commented on #2074
Nope /run/libpod/containers-root and subdirectory are created with 0700

`
rm -Rf /var/lib/containers
rm -Rf /run/libpod/containers
podman run --uidmap=0:100000:70000 --gidmap=0:200000:70000 fedora-minimal cat /proc/self/uid_map
ls -dlZ /run/libpod/containers-root/
drwx------. 3 root root unconfined_u:object_r:container_var_run_t:s0 60  4 janv. 13:26 /run/libpod/containers-root/`

[2019-01-04 13:46] EmilienM commented on #1844
@giuseppe

So mount ordering: https://review.openstack.org/628441 (let's see if that actually helps).
As for the dcmd, we already print it in debug mode:

```log.debug('Running %s command: %s' % (container_cli, ' '.join(dcmd)))```
I'll run in --debug to show you the command.

[2019-01-04 13:50] rhatdan commented on #1844
I know in podman we sort the volume mounts to make sure that no volume mount ever mounts over another.

[2019-01-04 13:51] EmilienM commented on #1844
@rhatdan in other words... CLI order doesn't matter?

[2019-01-04 14:00] EmilienM commented on #1844
also, could we update runc vendoring in libpod? maybe it would help? I've seen some missing bug fixes that could eventually fix our problem.

[2019-01-04 14:21] rhatdan commented on #2074
After cleanup did the podman run still fail?

[2019-01-04 14:41] #1670 closed

[2019-01-04 14:42] dustymabe opened #2081 "RFE: support port binding in rootless mode"
[//]:  **kind feature**

**Description**

port bindings are not currently supported with rootless containers. Let this issue be a tracker for that feature/work.

[code]

**Output of `podman version`:**

[code]

[2019-01-04 14:44] mheon commented on #2081
@giuseppe Any word on this being added to slirp4netns?

[2019-01-04 14:49] mheon commented on #1844
@EmilienM CLI order shouldn't matter - we sort the mounts first to make sure they apply in a sane order.

Of course, that's not a hard guarantee (our sort code could be buggy), but I don't know if that causes our issue where stat succeeds but exec fails

[2019-01-04 14:56] florentulve commented on #2074
Still fail after clean up /var/lib/containers and /run/libpod/containers

On an other fresh install (Fedora 29), command (`podman run --uidmap=0:100000:70000 --gidmap=0:200000:70000 fedora-minimal cat /proc/self/uid_map`) works and /run/libpod/containers is created with 0755 permission. I can't figure out why it is different on my main system.

I don't remember changing anything in the configurati

[2019-01-04 15:36] mtrmac commented on #1792
Harbor has just merged a PR that removes the `User-Agent` check, so the next version should hopefully work.

[2019-01-04 15:49] mtrmac commented on #1948
Yes.  That’s even more surprising. I guess it’s one of:

- We are doing something to affect the DNS lookup inside the code? I can’t see what that would be.
- There is a difference between the `go` environments compiling the test program and `podman` (different versions, CGO disabled/enabled, …)
- There is something specific about the `podman` binary on the target system (different SELinux context)

[2019-01-04 15:59] rhatdan commented on #1792
Ok I am going to close then.

[2019-01-04 15:59] #1792 closed

[2019-01-04 17:47] giuseppe commented on #2074
We are using that to bind mount the rootfs from the storage as uid!=0 has no permissions to use it. The error, I think, depends on it being 0700 instead of 0755

[2019-01-04 17:49] giuseppe commented on #2081
There is already work going on there. As soon as it is supported by slirp4netns, I will add the missing pieces here

[2019-01-04 17:52] florentulve commented on #2074
My root umask was set to 077, this is why /run/libpod/containers-root si created with 700.
Changing the umask to 022 make /run/libpod/containers-root be created with 755, it that case I can run successfully `podman run --uidmap=0:100000:70000 --gidmap=0:200000:70000 fedora-minimal cat /proc/self/uid_map`.

[2019-01-04 19:00] rhatdan commented on #2074
@giuseppe Can you fix this?

[2019-01-05 05:06] wking opened #2086 "@sha256@sha256 strikes again! (on 0.11.1.1)"
[//]: # **kind bug**

And in case Prow notices:

/kind bug

**Description**

As seen back in #877, but now on 0.11.1.1.

**Steps to reproduce the issue:**

I haven't worked out a minimal reproducer yet, but we've had a number of folks using [this script][1] (openshift/installer#933) see:

[code]

**Describe the results you expected:**

I expected the `RepoDigests` entry to only contain a single `@

[2019-01-05 11:46] giuseppe commented on #2074
PR here: https://github.com/containers/libpod/pull/2088

[2019-01-05 13:48] jwflory commented on #1948
The current context on `/usr/bin/podman` is: `system_u:object_r:container_runtime_exec_t:s0`

Let me know if I can do anything to help test further.

[2019-01-05 15:37] mheon commented on #2086
The SHA256s seem to match here, where they did not in #877 - which seems to indicate we're pulling the right image, which is good.

This could just be a display issue (or we could be setting a nonsensical name when we save the image)

[2019-01-05 16:03] markmc commented on #1719
It looks like ECR is rejecting any OCI manifest without a top-level media type - this needs to be fixed by AWS. See also opencontainers/image-spec#411

I verified this by adding a media type back to the OCI manifest generated by buildah, and a push to ECR works fine now

[code]

[2019-01-05 19:01] rhatdan commented on #1948
Maybe an strace would help, could you attach that.
Are you able to get this to happen on other machines?  If you create a new clean account does it work.

sudu sh
useradd test1
su - test1
podman pull registry.fedoraproject.org/fedora:29

[2019-01-06 13:38] afbjorklund commented on #1755
I didn't bother with fixing `adduser` in busybox, so just hacked `/etc/subuid` and `/etc/subgid`.
Only added `newuidmap` and `newgidmap` binaries (from [shadow](https://github.com/shadow-maint/shadow)), but it seems to be enough...

[2019-01-06 13:59] edwintorok opened #2091 "utime on symlink: permission denied in rootless unprivileged container (symlinks become owned by root?)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**

I am not able to extract https://github.com/ocaml/ocamlbuild/archive/0.12.0.tar.gz, it fails in the utime call on a symlink of a directory.
[code]
As a workaround I can run my container with `--privileged`, but that doesn't work if I want to build a container, because `podman build` doesn't have a `--privileged` fl

[2019-01-06 18:41] jwflory commented on #1948
This is my first time using `strace` for debugging like this. What's the best way for me to use it that is most helpful for you all?

On another machine originally installed with Fedora 28, I do not have this issue. This laptop was originally a F23/F24 install. It's on my list to eventually do a fresh F29 install sometime in February when I have time.

Looks like the same problem with the clean ac

[2019-01-06 19:55] afbjorklund commented on #2063
The current workaround is to add an extra `-e` parameter, when using `exec`:

`-e PATH=/usr/local/go/bin:/home/tc/go/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`

It is not needed for the the inital `run`, but it needed for any re-use with `exec`

`docker://boot2podman-docker-tinycore.bintray.io/tinycore-go:1.10.4`

[2019-01-06 20:19] rhatdan commented on #2091
Can you check if this works with root running podman?

[2019-01-06 20:30] edwintorok commented on #2091
Yes, if I use `sudo` to run the above `podman build` and `podman run` commands they all work.

[2019-01-06 22:21] rhatdan commented on #1948
If you do `buildah from registry.fedoraproject.org/fedora:29`, does that succeed?

It seems like name resolution is getting screwed up for a single command?

[2019-01-06 22:38] rhatdan commented on #1399
I'm fine with that if it actually works.  We can add content to the Makefile to attempt to build podman statically.

[2019-01-06 22:39] rhatdan commented on #2091
Most likely it is something blocked by usernamespace then.

[2019-01-06 22:41] mheon commented on #2091
It sounds like it's allowed by privileged rootless containers - so probably not user namespaces directly, but something we drop when privileged is set.

[2019-01-06 22:44] rhatdan commented on #2091
I thought @edwintorok was running both containers the same way.  Same command, so I don't see --privileged being envolved.

@edwintorok Can you attempt to do this with different privileged flags

--security-opt seccomp=unconfined --security-opt label=disabled

[2019-01-06 22:48] rhatdan commented on #2091
Works for me.

[code]

[2019-01-06 23:03] mheon commented on #2091
@rhatdan Are you missing an untar of 0.12.0.tar.gz in your reproducer?

[2019-01-06 23:55] edwintorok commented on #2091
`--privileged` (or running with `sudo`) works, however the 2 `--security-opt` flags do not:
[code]

FWIW if I stay `root` inside the container that works too:
[code]

[2019-01-06 23:59] mheon commented on #2091
`root` inside a rootless container is actually your user on the host, via a userns mapping - so it's not security-essential to do things as a non-root user with rootless containers.

@giuseppe Do we drop any additional privileges/capabilities as we switch to a different user in a rootless container?

[2019-01-07 00:03] edwintorok commented on #2091
It looks like `CAP_FOWNER` makes it work:
[code]

[2019-01-07 06:50] floriankoch commented on #1792
@mtrmac @rhatdan   Thank you for your efforts :)

[2019-01-07 09:08] giuseppe commented on #2091
It is an issue in fuse-overlayfs: https://github.com/containers/fuse-overlayfs/pull/37

[2019-01-07 09:48] akostadinov opened #2092 "podman should login anew if asked to instead of using old credentials"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**

[code]

I tell it to login, instead it first tries to use old credentials. This is useless and even harmful? If it found existing credentials working, it wouldn't update with the newly provided ones.

[code]

As you see  I login to some registries that only accept temporary access tokens. Existing behaviour causes unne

[2019-01-07 09:57] vrothberg commented on #2092
@akostadinov, thanks for opening this issue. I agree that Podman shouldn't use existing credentials when others are set via the CLI.

[2019-01-07 13:12] #2091 closed

[2019-01-07 14:39] #2092 closed

[2019-01-07 15:13] rhatdan commented on #1792
No Problem @floriankoch Keep using podman/libpod and giving us feedback.  We want to make the world work for all container engines.

[2019-01-07 16:37] #2053 closed

[2019-01-07 17:05] vrothberg commented on #2032
This seems to be fixed now with the last updates to buildah (already vendored).

[2019-01-07 17:05] #2032 closed

[2019-01-07 17:08] vrothberg commented on #1993
This works now, thanks to @TomSweeneyRedHat 's great fixes.

[2019-01-07 17:08] #1993 closed

[2019-01-07 17:48] afbjorklund commented on #1399
Well, it's not really "static podman" so it is a bit off-topic here... But the original author said he was using `minikube` so thought it was worth mentioning ? It would be nice if they were faster to update it, though.

[code]
https://github.com/kubernetes/minikube/releases/tag/v0.32.0
https://github.com/containers/libpod/releases/tag/v0.4.1

[2019-01-07 20:31] robszumski commented on #2086
I seem to be able to reproduce this each time I try to boot a cluster, although I have no idea why/how.

[2019-01-07 20:48] mtrmac commented on #1719
Thanks.

`c/image/docker.isManifestInvalidError` can, in that case, be extended to detect this AWS error message, and things could work transparently by downgrading to v2s2 — but, still, AWS needs to be fixed for true OCI pushes to work.

[2019-01-07 21:35] #2063 closed

[2019-01-08 13:06] rhatdan commented on #2015
After talking to @rhvgoyal this is still being discussed in the upstream kernel.  Will need to get fixes approved and into distributed kernel before this can be marked fixed.

[2019-01-08 14:11] EmilienM commented on #1844
@mheon @rhatdan we still have this bug, despite the ordering change and also the mount in read-only:
https://review.openstack.org/#/c/628376/
https://review.openstack.org/#/c/628441/

It still affects our CI, I think we still need help for this one.

[2019-01-08 17:42] EmilienM commented on #1844
@giuseppe @mheon more logs, with lot of details:

https://paste.fedoraproject.org/paste/EIXGr2dMeWjO4fKqqD69qg/

[2019-01-08 17:45] rhatdan commented on #2026
What does `podman image` show?

[2019-01-08 18:02] TomSweeneyRedHat opened #2104 "Scrub man pages for long vs short option ordering"
**kind bug**

**Description**

As fixed and reported in #2097, the podman-create and podman-run man pages list the short variant of an option before the longer variant.  i.e. `**-w, --workdir**=""`.  This is a low level issue to scrub these and the remaining man pages to ensure the odering is long form is listed first.

**Output of `podman version`:**

[code]

[2019-01-08 18:10] rhatdan commented on #2086
I don't see how this could happen in libpod code, I would guess it would be in containers/image perhaps?

@mtrmac @vrothberg WDYT?

[2019-01-08 20:34] wking commented on #2026
Same as the tail of the `pull` quoted above:

[code]

[2019-01-08 20:38] rhatdan commented on #2026
@nalind @mtrmac Any ideas?

[2019-01-08 21:46] baude commented on #2086
I would think it actually comes from libpod ... maybe the image side of things ... but I need a replicator to trip it.

[2019-01-08 23:18] mtrmac commented on #2086
…

^^^

There are actually very few `RepoDigests` references throughout podman, pretty sure this is
https://github.com/containers/libpod/blob/c9d63fe89d0a79b069b56249aaa4c168b47649c0/libpod/image/image.go#L311 when `Image.Names` contains a name@digest value.

This is not _exactly_ https://github.com/containers/libpod/issues/1139 , this is just a local detail of how `Names`+`Digest` are combined in

[2019-01-08 23:31] wking commented on #2086
That certainly looks like a likely culprit to me.  @robszumski has a reliable reproducer (even if it's a bit complicated for a libpod unit test ;), is there anything he can check for to dig into this possibility?

[2019-01-08 23:38] mtrmac commented on #2086
I suspect a
[code]
would recreate the situation (but I didn’t try it!).

[2019-01-08 23:45] mtrmac commented on #2026
Using the `:none` tag instead of the supplied digest is #1139 , and the code creating this unexpected mapping is apparently not connected with the code looking up the pulled image in c/storage.

Unless #1139 ends up expressing a clear rationale for why the code works and needs to work that way, I think we should drop that behavior and preserve the original digest instead.

[2019-01-08 23:49] wking commented on #2086
Not for me:

[code]

Although there is an unnecessary duplicate in `RepoDigests`.

Should the line you linked earlier be using [`reference.Parse`][1] or similar instead of its current colon splitting?  Or were you saying that it should somehow be dropped altogether (although I'm not sure where that leaves `RepoDigests`)?

[1]: https://godoc.org/github.com/containers/image/docker/reference#Parse

[2019-01-09 02:58] EmilienM commented on #1844
I can finally provide more debug:
https://logs.rdoproject.org/81/628381/4/openstack-check/tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset035/3c233ba/logs/undercloud/home/zuul/undercloud_install.log.txt.gz#_2019-01-08_23_15_19

I've noticed that some output was shown where only some parts of the script was there. I wondered if maybe the script would be re-written while bind mounted somewhere so I we

[2019-01-09 06:06] wking commented on #2086
Filed as #2106.

[2019-01-09 07:52] giuseppe commented on #1844
I always assumed in this discussion that there is only one container running, and using that script.

Is it possible that the script can be executed multiple times on the same system (and at the same time)?

[2019-01-09 10:32] #1828 closed

[2019-01-09 11:04] #2104 closed

[2019-01-09 11:16] sysrich opened #2107 ""podman start -a" fails to start previously created container after fresh boot"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**

I have a few previously created podman containers (created by "podman create ....") started by systemd services.

The systemd services were very simple, doing no more than:

[code]

On a fresh reboot, these ExecStarts would all fail

Trying to do `/usr/bin/podman start -a ncserver"` manually after a fresh reboot would pr

[2019-01-09 11:46] vrothberg commented on #2107
Thanks for providing all the details, @sysrich! Did the reboot of your node entail a new version of Podman? This would explain why the apparmor-profile can't be found anymore and is clearly a bug.

[2019-01-09 11:51] vrothberg commented on #2107
@rhatdan @mheon @baude something for 1.0. I will provide a fix.

[2019-01-09 12:45] sysrich commented on #2107
@vrothberg no, the reboot of the node did not entail a new version of podman. Rebooting just for the sake of rebooting, with no transactional update being applied, also reproduces this problem with identical symptoms as described.

[2019-01-09 12:53] vrothberg commented on #2107
That is surprising. Could you check the AppArmor profile of the container (e.g., via `podman inspect $CTR | grep AppArmor`) and paste it here?

[2019-01-09 12:55] sysrich commented on #2107
All of my containers have

[2019-01-09 13:01] vrothberg commented on #2107
Seems like a second bug in the start code, where we need to load the profile as well. Thanks, @sysrich !

[2019-01-09 13:06] sysrich commented on #2107
two bugs from one report, woo I've still got it :) You're welcome, and thanks for the fixes!

[2019-01-09 13:49] EmilienM commented on #1844
I doubt the docker-puppet.py script itself is executed multiple times on the same host. However within this script we execute podman multiple times with concurrency.
I'm not convinced that https://review.openstack.org/629371 will actually help in this bug, however it can't hurt.

[2019-01-09 14:03] giuseppe commented on #1844
could we use a temporary file instead so we are sure there are no other processes trying to use it?

[2019-01-09 15:05] EmilienM commented on #1817
Note that we still hit that but ([5 hits in 7 days](http://logstash.openstack.org/#dashboard/file/logstash.json?query=build_name%3A%20*tripleo-ci*%20AND%20build_status%3A%20FAILURE%20AND%20message%3A%20%5C%22no%20matching%20entries%20in%20passwd%20file%5C%22), not that bad).

[2019-01-09 15:07] mheon commented on #1817
So it seems there is still a race somewhere, but removing one of the cases where we would hit that race has majorly reduced the probability of it happening.

[2019-01-09 15:39] EmilienM commented on #1844
I'm trying again with disabling concurrency in our script that run multiple podman containers at the same time to configure our containers: https://review.openstack.org/629546

[2019-01-09 15:42] baude commented on #2026
I believe this mimics docker exactly ... when pulling by digest, the tag is none.

[2019-01-09 15:42] baude commented on #2026
[code]

[2019-01-09 15:45] rhatdan commented on #2026
Is the tag <none> or "" or nil and docker reports it as <none>

[2019-01-09 15:53] baude commented on #2026
well there it is <none> which means it doesn't have one.

[2019-01-09 16:06] mtrmac commented on #2026
`<none>` is not not a `none` tag _actually recorded for the image_; a real tag would not have the `<`/`>` characters.

This is purely a display matter of `docker images` showing an image which has `RepoDigests` but no `RepoTags`.

[2019-01-09 18:54] debarshiray opened #2112 "Rootless 'podman start' with the overlay driver fails due to missing /etc/passwd on the first attempt after a 'stop'"
/kind bug

**Description**

With the overlay driver, once a rootless container has been explicitly stopped with `podman stop`, the subsequent `start` will always fail. Retrying the `start` will work.

Here's my `~/.config/containers/storage.conf`:
[code]

Here's an example session:
[code]

Notice how the second to latest command failed. A bit of digging reveals that `GetExecUserPath` in `runc/libc

[2019-01-09 18:58] mheon commented on #2112
@giuseppe PTAL

[2019-01-09 19:56] cevich opened #2116 "Ubuntu package issues"
/kind bug

**Description**

`/usr/share/containers/libpod.conf` is not installed [by ubuntu podman package](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa)

**Steps to reproduce the issue:**

1. `apt-get install podman`

2. `ls /usr/share/containers/`

**Describe the results you received:**

not there (also not in `/etc/containers/`)

**Describe the results you expected:**

I **think** i

[2019-01-09 21:15] lsm5 commented on #2116
On Wed, Jan 09, 2019 at 09:10:15PM +0000, Chris Evich wrote:

@baude, @mheon please remind me if /usr/share/containers is the right place to
install libpod.conf or if it should be /etc/containers? Also, same path as
Fedora for Ubuntu as well?

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-01-09 21:35] rhatdan commented on #2116
Same path as fedora.

[2019-01-09 21:50] miabbott opened #2118 ""panic: runtime error: index out of range" when `podman run` is missing a valid volume mount"
/kind bug

**Description**

I fat-fingered the use of `$pwd` (which was unset) when trying to do `podman run` and got a panic.

[code]

**Describe the results you expected:**
It would be nice if `podman` could detect a bad volume mount flag argument and not panic.

**Additional information you deem important (e.g. issue happens only occasionally):**

A nasty side effect is that `podman run` thinks

[2019-01-10 02:44] miabbott commented on #2118
Built from master, but still hitting it.  But I see @rhatdan has a PR out...will try that.

[code]

[2019-01-10 02:47] miabbott commented on #2118
#2120 appears to prevent the panic

[2019-01-10 09:11] giuseppe commented on #2112
PR here: https://github.com/containers/libpod/pull/2121

[2019-01-10 11:34] #2107 closed

[2019-01-10 11:45] vrothberg commented on #2107
We found a way to always load the latest default AppArmor profile without any manual interaction. The new release is just ahead, so the fix shouldn't be far from your Kubic boxes :-)

[2019-01-10 13:34] EmilienM opened #2123 "pull: error setting new rlimits: operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman fails to pull an image from a local docker-distribution registry (in non-rootless environment).

**Steps to reproduce the issue:**

1. Deploy a docker-distribution registry and pull docker.io/tripleomaster/centos-binary-haproxy:current-tripleo.

2. Now try to pull the container from th

[2019-01-10 13:36] EmilienM commented on #2123
It probably fails here: https://github.com/containers/libpod/blob/ef29a3071202cc0fcc451ebdcaf948969bfe6306/cmd/podman/main.go#L154-L156

[2019-01-10 14:03] rhatdan commented on #2123
Are these numbers too large?  Is there a kernel field, we can check to see what the root max is?

[2019-01-10 14:10] EmilienM commented on #2123
or maybe we need CAP_SYS_RESOURCE capability to perform this task.

[2019-01-10 14:39] debarshiray commented on #2112
Thanks @giuseppe #2121 fixes this for me.

[2019-01-10 14:53] rhatdan commented on #2123
Does the  number need to be less then pids_max.
cat /proc/sys/kernel/pid_max
32768

[2019-01-10 15:04] Logibox opened #2124 "SIGSEGV when using 'podman run --pod="new:<pod-name>" <containerimage>'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the 'new:..' syntax in --pod, to create a new pod on run, podman panics.

**Steps to reproduce the issue:**

1. `podman pull gcr.io/google_containers/pause-amd64:3.0`
2. `podman run --pod="new:test" gcr.io/google_containers/pause-amd64`

**Describe the results you received:**
[code

[2019-01-10 15:05] cevich commented on #2116
Thanks @lsm5

[2019-01-10 15:08] EmilienM commented on #2123
on fresh centos:

[code]

[2019-01-10 15:11] debarshiray opened #2125 "Rootless podman fails to start up after switching storage driver"
/kind bug

**Description**

If I remove all my `podman` and `buildah` containers and images, `~/.local/share/containers`, and then change the storage driver in `~/.config/containers/storage.conf`, subsequent attempts at using rootless `podman` error out:
[code]

My `~/.config/containers/libpod.conf`:
[code]

My initial `~/.config/containers/storage.conf`:
[code]

Later I change it to:
[code]

**Ad

[2019-01-10 15:12] rhatdan commented on #2124
$ podman run --pod="new:test" -d fedora sleep 1000

This works for me.  Not sure what you are trying to do.  Of course the tool should not segfault.

[2019-01-10 15:14] rhatdan commented on #2124
[code]

[2019-01-10 15:15] mheon commented on #2124
The segfault is somewhere in c/image and happens when creating the infra container

Can you trigger this with `podman pod create` as well as `podman run --pod=new:`?

[2019-01-10 15:18] rhatdan commented on #2123
Weird.  We could check if the limits are >= 1048576 and only set it in that case.

[2019-01-10 15:20] rhatdan commented on #2123
@giuseppe Any ideas?

[2019-01-10 15:22] mheon commented on #2123
EPERM for setrlimit is defined as:
[code]

The most likely one here seems to be CAP_SYS_RESOURCE, given that we are successfully setting this value at other points (so it's not above NR_OPEN).

[2019-01-10 15:22] mheon commented on #2123
Can we easily determine if Podman has CAP_SYS_RESOURCE?

[2019-01-10 15:37] mheon commented on #2125
It seems like runroot is being overridden at some point, and it's trying /var/run/containers instead of /run/user/1000 - when we debugged this yesterday, it seemed like the database was getting created with the bad /var/run/containers value

[2019-01-10 15:38] giuseppe commented on #2123
should we just ignore the error?  In most cases we don't need so many open files

[2019-01-10 15:41] giuseppe commented on #2123
I'd do something like:

[code]

if you are fine with this approach, I can open a PR

[2019-01-10 15:43] #2112 closed

[2019-01-10 15:46] mheon commented on #2123
I'd rather just make the Setrlimit error

[2019-01-10 15:46] EmilienM commented on #2123
We might want to keep ```if !rootless.IsRootless()``` condition, right? Otherwise lgtm.

[2019-01-10 15:47] giuseppe commented on #2123
no, it will work with rootless mode as well, an unprivileged process can still bump its rlimits to max.

Opened a PR here: https://github.com/containers/libpod/pull/2126

[2019-01-10 15:51] mheon commented on #2125
I can't reproduce on 0.12.1.2, which means this has to be from a recent PR.

[2019-01-10 16:01] giuseppe commented on #2125
I think this is caused by: https://github.com/containers/libpod/pull/2076

now all the defaults are not set when the `~/.config/containers/storage.conf` file exists

But the configuration file:

[code]

Doesn't look correct.  You need to use the correct format

[2019-01-10 16:03] mheon commented on #2125
@giuseppe Good catch!
@debarshiray TOML is case-sensitive, and I think all of these options are all lowercase, which might well be the problem

[2019-01-10 16:03] giuseppe commented on #2125
@debarshiray you probably want:

[code]

[2019-01-10 16:32] mheon commented on #2125
@giuseppe @rhatdan
After the storage file has been loaded, if runroot or graphroot are still the empty string, should we restore defaults at that point to avoid situations like this?

[2019-01-10 17:03] rhatdan commented on #2123
Im fine with this, although add some logging about what happened. At least at the Warn level.

[2019-01-10 17:51] rhatdan commented on #2125
Yes I think so.

[2019-01-10 19:11] giuseppe commented on #2123
added the logging

[2019-01-10 19:15] mheon commented on #2124
@giuseppe PTAL

[2019-01-10 19:39] #2123 closed

[2019-01-10 19:58] #2125 closed

[2019-01-10 20:12] EmilienM commented on #1844
I've been doing testing all day with disabled concurrency. Of course deployments took much longer but I've got zero hit for this bug... So I believe that running podman commands at the same time is still risky (lock issues?) and might cause some issues when the entrypoint is a bind-mounted script.

[2019-01-10 20:14] mheon commented on #1844
Hm. I don't think we do any checks/locking on volumes.

Possible solution: mount the container, copy the bash script in, and then run it?

[2019-01-10 21:17] wking commented on #2086
Ah, I expected the `Fixes #2086` in my topic post to auto-close this.  And yeah, [it should be fixed][1].

/close

[1]: https://github.com/containers/libpod/pull/2106#discussion_r246268141

[2019-01-10 21:17] #2086 closed

[2019-01-10 22:25] wking commented on #2026
As far as I remember, I'm the only one who's hit this in OpenShift land.  So having it slide is fine with me.

[2019-01-11 07:33] cjeanner commented on #1844
@mheon uhu, I was thinking about such a solution. As a last resort though.

IIRC, there isn't any "podman copy", replaced in favour of
[code]
right? Or is there now some internal wrapper for that? Care to list the steps just to be sure? :)

[2019-01-11 11:42] giuseppe commented on #1972
can this be closed now?

[2019-01-11 12:23] lsm5 commented on #1915
hi @abitrolly thanks for filing this. I did notice that you had registered `podman` on the snap store. Just wanted to check if you have prior work already toward this that we could use.

[2019-01-11 12:57] EmilienM commented on #1844
@mheon We'll try your solution, @cjeanner is working on a patch. In the meantime, I'm proposing to disable concurrency on that script, which has proven to help after 3 days of heavy testing in our CI: https://review.openstack.org/629546

[2019-01-11 13:06] debarshiray commented on #2125
`podman` seems to switch between the lower case and camel case formats all by itself. eg., if I `rm ~/.config/containers/*.conf`, then after the next invocation of rootless `podman`, I sometimes get one format, and at other times another.

[2019-01-11 13:16] debarshiray commented on #2125
Yes, #2131 fixes this for me. Thanks @giuseppe

[2019-01-11 14:19] debarshiray opened #2139 "Rootless 'podman create' fails to marshal JSON in v1.0 branch"
/kind bug

**Description**

Rootless `podman create` is broken in `v1.0` (commit fbed1650fbcc32fb), but works in `master` (commit 9368c24be6f289d2):
[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2019-01-11 14:20] bogdando commented on #1844
@mheon why would we want to have we any checks/locking on volumes mounted in :ro?

[2019-01-11 14:30] mheon commented on #2139
Not rootless specific

[2019-01-11 14:36] mheon commented on #2139
Fixed by #2140

[2019-01-11 14:49] debarshiray commented on #2139
Yes, #2140 fixes this for me. Thanks @mheon

I wonder why `test/e2e/create_test.go` didn't flag this earlier.

[2019-01-11 14:50] mheon commented on #2139
We're still getting the tests up and running on the 1.0 branch, which is probably why. Need to do a full test run before we cut the release and package up.

[2019-01-11 15:01] mheon commented on #1972
Since the DB now detects path changes I think this is safe to close

[2019-01-11 15:01] #1972 closed

[2019-01-11 17:58] mheon commented on #2118
Fixed by #2120

[2019-01-11 17:58] #2118 closed

[2019-01-11 21:56] EmilienM commented on #1844
@cjeanner another option is to retry the exec and keep concurrency. I'll try that out as well.

[2019-01-11 22:06] EmilienM commented on #1844
With a ugly retry: https://review.openstack.org/#/c/614639/

[2019-01-11 22:21] giuseppe commented on #1844
Could you use temporary files that are different for each run?  Then it should not matter how many containers run in parallel

[2019-01-11 22:33] EmilienM commented on #1844
Yes we could, however the file is always the same.

Since the file is only used during config step, it wouldn't need to be
persistent so we can probably investigate using /tmp for that. I'll look
over the weekend.

---
Emilien Macchi

On Fri, Jan 11, 2019, 5:21 PM Giuseppe Scrivano <notifications@github.com
wrote:

[2019-01-11 23:42] #2124 closed

[2019-01-13 14:14] #1992 closed

[2019-01-13 15:58] greg-hydrogen opened #2150 "Container doesn't start after a system reboot"
/kind bug
**Description**

Podman does not start a container after the system is rebooted.  This is on a ZFS on Linux system.

**Steps to reproduce the issue:**

1.  A container is created with
sudo podman run --name test -v /sys/fs/cgroup:/sys/fs/cgroup -p 80:80 -p 443:443 -p 5001:5001 --tmpfs /run -dti centos /sbin/init

2. The system is rebooted

3. Try to star the container via
sudo podman sta

[2019-01-13 16:00] abitrolly commented on #1915
Thanks for reaching out. I am glad you picked this up. There is not enough
expertise and focus time for me to complete this idea, and it would be nice
to see this working during FOSDEM even if I won't find the way to get there.

I tried to replace Docker with podman for cross-platorm automation in
user-space. That doesn't completely work, because of #2014, but I hope you
can find a way to improve

[2019-01-13 16:58] rawkode commented on #2054
This is a shame. For users on a Mac, running a xhyve VM with containerd, using podman would be an option if it supported a remote engine. This leaves very few options, with just running Docker becoming the default; even for those of curious mind.

[2019-01-13 17:12] mheon commented on #2054
We are adding support for remote connections (connecting to a remote Podman instance via Varlink over SSH). I don't think we have any intent of supporting the Docker/containerd/CRI remote APIs in addition to that.

[2019-01-13 17:14] rawkode commented on #2054
Awesome. I'll search for an issue to follow. Cheers @mheon

[2019-01-13 17:19] mheon commented on #2150
@nalind Potentially an issue with the ZFS graph driver?

There is a debug message showing that we definitely instructed c/storage to mount the container, but the container entrypoint is missing, leading me to believe that mount didn't actually succeed.

@greg-hydrogen Can you do a `podman mount` on an existing container after a reboot, and browse the contents of the directory it gives back? I'm wo

[2019-01-13 17:46] greg-hydrogen commented on #2150
For whatever reason I decided to remove the test container (sorry about that), I recreated it and here is the mount just after running
sudo podman run --name test -v /sys/fs/cgroup:/sys/fs/cgroup -p 80:80 -p 443:443 -p 5001:5001 --tmpfs /run -dti centos /sbin/init

sudo podman mount
d33b85ad6305 /var/lib/containers/storage/zfs/graph/8afa03e4f13a72a30fefe4636a3e020eb6ee7ae592147dc17372fa072b523b0a

[2019-01-13 19:39] mheon commented on #2139
Fixed via #2140

[2019-01-13 19:39] #2139 closed

[2019-01-13 19:39] mheon commented on #148
#1235 is merged, so closing

[2019-01-13 19:39] #148 closed

[2019-01-14 11:51] rhatdan commented on #1915
@abitrolly What do you want from an SELinux point of view?  Podman to check if :Z and :z is not supplied and the mount point is not read/only then check if the label of the mount point is not container_file_t?  Print a warning?

[2019-01-14 11:58] rhatdan commented on #2054
Just look at the podman-remote work.

https://github.com/containers/libpod/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+remote

If you would like to contribute or try it out, we would love the help.

[2019-01-14 12:31] EmilienM commented on #1844
Before I go write the code, here are 2 options (at least):

* Create docker-puppet-<container-name>.sh in /var/lib/docker (and we would end up with ~30 files which have the same content). Not a HUGE deal but still ugly from an engineering point of view.
* Create a tempfile, which should probably be fine since the entrypoint is only used when the containers are configured (aka puppet runs inside th

[2019-01-14 14:23] rhatdan commented on #2150
I just updated the zfs code from Moby in containers storage, but I did not find much differences.

https://github.com/containers/storage/pull/263

[2019-01-14 14:49] greg-hydrogen commented on #2150
Looks like that fixed it!  I am able to start the container without any issues after a reboot!  Shall I close the issue or wait until it is merged?

[2019-01-14 14:54] vrothberg commented on #2150
Wonderful! Let's wait until the fix is merged into c/storage and merged here.

[2019-01-14 16:13] najamelan opened #2154 "Take network configuration files from the correct network namespace when running with --net ns:/run/netns/xxx"
/kind bug

**Description**
iproute2 mounts network configuration files in network namespaces to isolate the network configuration. For example, it will mount `/etc/netns/xxx/resolv.conf` at `/etc/resolv.conf`. This is done to support software that is not network namespace aware. See: `man ip netns`.

When invoking `podman run --net ns:/run/netns/xxx`, podman will inject `resolv.conf` from the call

[2019-01-15 08:49] abitrolly commented on #1915
On Mon, 14 Jan 2019 at 14:51, Daniel J Walsh <notifications@github.com>
wrote:

Ideally users should not think about SELinux until they do something that
potentially ruins their system. For example, I heard that relabelling HOME
is unsafe operation, and relabeling my project checkout to build it inside
of container is not. With a reference list of safe and unsafe operations
user can understand the

[2019-01-15 14:27] EmilienM opened #2157 "Wrong container status in ps"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Sometimes, some containers report a wrong status with a VERY old age:

[code]

**Steps to reproduce the issue:**

1. Run ```podman ps```

**Describe the results you received:**

Wrong container age.

**Describe the results you expected:**

Right container age

**Additional information you dee

[2019-01-15 14:38] mheon commented on #2157
I know that we've modified the timestamp code for containers since 0.10.1.3 - can you retry with 1.0 or master and check if it's still a problem?

(I'm thinking we're printing and using all-0s timestamps here)

[2019-01-15 15:01] debarshiray opened #2158 "storage.conf oscillates between camel and lower case formats"
/kind bug

When I remove the local configuration (`rm -f ~/.config/containers/*.conf)` and data (`sudo rm -rf ~/.local/share/containers`), and start from a clean state, `podman` creates a new `storage.conf` for me. The format is sometimes in camel case, and at other times in lower case.

Camel case:
[code]

Lower case:
[code]

I learnt in `#podman` that the latter is the correct format.

I haven't

[2019-01-15 15:05] mheon commented on #2158
@giuseppe PTAL

[2019-01-15 15:27] EmilienM opened #2159 "podman inspect --format issues"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman inspect command can report empty output while in docker we had something (see example bellow).

**Steps to reproduce the issue:**

Runs ```docker inspect --format='{{range .Config.Env}} -e "{{.}}" {{end}} {{range .Mounts}} -v {{.Source}}:{{.Destination}}{{if .Mode}}:{{.Mode}}{{end}

[2019-01-15 16:01] baude commented on #2159
@EmilienM any chance the image type (oci vs docker) could be a variable here?

[2019-01-15 16:23] EmilienM commented on #2159
@baude same (docker) images as before.

[2019-01-15 18:56] vrothberg commented on #2159
The issue is that Podman doesn't with invalid keys as Docker does. The format mentioned in this issue doesn't seem to be correct, so nothing will be printed.

Docker will errors such as `Template parsing error: template: :1:20: executing "" at <.GraphDriver.Dta>: map has no entry for key "Dta"`.

There might be more issues and I will continue digging tomorrow.

[2019-01-15 20:06] mheon commented on #2081
Being worked on in #2142

[2019-01-16 01:23] rhatdan opened #2167 "podman login should store the credentials in the kernel keyring"
It should default to the keyring and then fall back to file storage.

https://bugzilla.redhat.com/show_bug.cgi?id=1627819

[2019-01-16 09:09] EmilienM commented on #1844
@rhatdan @mheon @giuseppe

until we find out more about this bug and what the root cause would be in libpod, we decided to go with an ugly workaround in our deployment, where we simply retry 3 times the ```podman run``` command during the configuration steps.

By adding the retry will:
* highly reduce the chances to hit this bug in our CI
* increase deployment time when the bug is hit during the r

[2019-01-16 10:30] ssbarnea commented on #1844
I retry approach is acceptable and needed but we should also create an elastic-recheck query for measuring how often this happens and assure it will be fixed.

Look at https://review.openstack.org/#/c/619059/ and try to raise a similar one for this bug, add me as a reviewer. This will create a nice graph on http://status.openstack.org/elastic-recheck/

[2019-01-16 10:39] giuseppe commented on #1844
there is already a PR to add cp to podman: `https://github.com/containers/libpod/pull/2151`

[2019-01-16 11:44] #1750 closed

[2019-01-16 15:04] edsantiago opened #2168 "1.0: run-kill-start: container stuck in 'Created'"
There's a race condition causing run, kill, start to fail:
[code]
Most of the time this will hang forever (or at least minutes).  Running ps in another shell shows:
[code]
^C yields:
[code]
podman-1.0.0-1.git82e8011.fc29; likewise on f28.

Reproducer is not 100% reliable. It seems to happen more reliably after a pull, but that could be my imagination. Still, if you can't reproduce it, try `podman

[2019-01-16 15:17] mheon commented on #2168
I'm not seeing the error message after control-C, but I am seeing the rest.

It looks like we're successfully attaching?

We get stuck in a loop doing ```DEBU[0002] Checking container a993cfc61358390cf35934f300b7d59955a26edd186147f82c038c6e3f45c9e8 status... ```

[2019-01-16 15:19] mheon commented on #2168
That's `WaitWithInterval()` - we're waiting for the container to exit

[2019-01-16 15:21] mheon commented on #2168
Status is Created - but the container has a PID. This shouldn't be able to happen.

[2019-01-16 15:22] edsantiago commented on #2168
In the problem-not-reproduced case, ^C gets echoed, then there's a pause, then I get my shell prompt (and exit status is 0). (Which surprises me because I would've expected an immediate exit with signal exit status. But I'm not going to look into that now).

Suggestion: run my reproducer, wait 8 or more seconds to make sure the problem has triggered, then try ^C.

(Can't offer any suggestions re:

[2019-01-16 19:18] tvass opened #2170 "Volume is not created when using VOLUME in Dockerfile"
/kind bug

Podman does NOT create a volume at run when it is specified in the Dockerfile.

**Steps to reproduce the issue:**

1. Create a basic Dockerfile that use VOLUME syntax.
[code]
2. Build
[code]
3. Run
[code]
On a separate terminal, check volumes present :
**Describe the results you received:**

[code]

**Describe the results you expected:**
We should have a volume.

[code]

**Additional in

[2019-01-16 19:21] mheon commented on #2170
I believe our default driver for image volumes is to create per-container persistent directories, for which this would be the expected behavior. We don't presently support named volumes for image volumes, but I don't believe it would be that hard to implement.

We should check what the default behavior in Docker is and reference that.

[2019-01-16 21:55] rhatdan commented on #2170
We should be creating that.
@umohnani8 PTAL
@tvass could you see if this is fixed in podman 1.0?

[2019-01-16 22:40] dustymabe opened #2171 "runlabel: support for env vars in label"
/kind feature

**Description**

Is `podman container runlabel` supposed to support env var substitution? I can't seem to get it to work.

For example: `LABEL RUN="podman run -it -v \${PWD}/logs/:/home/user/.weechat/logs/:z --name weechat weechat"` in my Dockerfile isn't working. The var gets replaced with an empty value.

This used to work in the past: For example: https://github.com/projectatomic

[2019-01-16 22:50] rhatdan commented on #2171
Yes this is supposed to work.

[2019-01-16 23:13] vorburger commented on #1973
I'm also hitting (I think) this one.. slightly different way than some of what is described above:

So I never yet used `podman run` and am just starting and trying to `podman build` (actually `docker build`, via cool `dnf install podman-docker`; but I doubt that's relevant here).. that seemed to take forever and got stuck with high CPU spinning (do you want a separate issue about that?), so I Ctr

[2019-01-16 23:55] vorburger commented on #1973
perhaps it would be worthwhile to document how a noob (me) can easily get podman from _Bodhi_ (whatever that is, sorry), e.g. on https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md#install-podman-on-fedora-from-rpm-repositories ?  If that even possible, perhaps this suggestion doesn't really make sense; I dunno - just playing devil's advocate as a user here.

FYI htt

[2019-01-16 23:58] mheon commented on #1973
@vorburger Bodhi is the Fedora package build system - the builds are gated there to make sure they're good before being released into the main repos. It would be good to document, though, so we can get community assistance in testing new builds and getting them out into the repos.

[2019-01-17 06:29] ansemjo opened #2172 "ERRO[0000] 'overlay' is not supported over btrfs at "/home/ansemjo/.local/share/containers/storage/overlay""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Since the upgrade to `podman 1.0.0` I get the above error in all sorts of situations during rootless operation. Mind you: I don't use the `overlay` driver at all. I did use it before though and I have `fuse-overlayfs` installed. This is basically a complete blocker for podman usage as soon as I

[2019-01-17 06:33] ansemjo commented on #2172
While I was still writing the original issue, I checked if I had `overlay` configured in `/etc/containers/storage.conf` and indeed I had. I changed that to `btrfs` as well, deleted my local storage again and rerun a couple of commands. So far everything works as expected.

The issue sort-of remains: why does the `/etc/containers/storage.conf` take any precedence over my `.config/containers/storage

[2019-01-17 07:02] space88man opened #2173 "[Q] systemd in a container: how to get debian:9 up without unconfined?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

With seccomp at defaults, systemd in a debian:9 container won't startup

**Steps to reproduce the issue:**
[UPDATE] This works on Fedora 29 podman 0.12 so might be a CentOS/RHEL issue

1. create image with systemd-sysv installed from debian:9
buildah run  $CON apt update
buildah run $CON

[2019-01-17 09:16] debarshiray commented on #2172
Based on my very limited understanding, I think this camel case format for `storage.conf` is wrong:
[code]

The correct format, I am told, uses lower case strings and has a slightly different layout. See #2158

I have found that `podman` randomly picks one of the two formats when initializing a new `storage.conf`, which is how I think many have ended up with the wrong format. See #2158

[2019-01-17 09:37] cjeanner commented on #1844
Hello there,

Sooooo. I now have a patch that push the entrypoint script in the container before starting it.
Basically, it does the following:
- creates the container with all the mounts, options and so on
- mounts that container, copies content, umounts it
- starts the container

And, well, it still fails randomly because it "doesn't find the script".

I've added a lot of debug, and here's what

[2019-01-17 09:59] cjeanner commented on #1844
Taking also the opportunity to point the podman version - yes, it also happens in latest 1.0 release:
[code]

[2019-01-17 10:02] ansemjo commented on #2172
Right .. I switched my config to the lowercase format and so far can't reproduce my issue, even when changing the system `/etc/containers/storage.conf` back to `overlay`.

[code]

[2019-01-17 11:03] sysrich opened #2174 "rootless podman not using conmon_path from /etc/containers/libpod.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

running `podman run hello-world` as a non-root user produces the following error message

[code]

The container obviously does not start

`/etc/containers/libpod.conf` has conmon_path set to `/usr/lib/podman/bin/conmon`, which is the correct location for conmon on all *SUSE distributions.

Th

[2019-01-17 11:31] giuseppe commented on #2174
yes, at the moment we don't honor `/etc/containers/libpod.conf` for rootless containers, but use directly the version in the user config directory.

Is conmon installed at some path that the default libpod configuration doesn't know about?

[2019-01-17 11:35] giuseppe commented on #2172
yes it was a bug in an older version of Podman that was creating the wrong config file, so basically the config file wasn't honored at all and the default configuration was used (by default we use overlay when fuse-overlayfs is installed, otherwise fallback to vfs).

I am closing this bug for now, as the error was in the configuration created by an old version of Podman.  But please feel free to c

[2019-01-17 11:35] #2172 closed

[2019-01-17 11:35] sysrich commented on #2174
`/usr/lib/podman/bin/conmon` is in the default libpod configuration documented here: https://github.com/containers/libpod/blob/master/libpod.conf

But the error message implies that podman 1.0.0 is not honoring that default libpod configuration either and looking at a different list of paths somehow..hence the bug report :)

[2019-01-17 11:36] giuseppe commented on #2158
are you always using the same version of Podman?  The old wrong format was generated by an older version and should not happen anymore.

[2019-01-17 11:44] giuseppe commented on #2173
that probably fails because `name_to_handle_at` is not allowed.  Could you try to allow it?

[2019-01-17 11:45] ansemjo commented on #2172
Yes, closing is fine by me, thanks.

On a more general note: I found it pretty hard to find any information on configuring storage drivers. I.e. what drivers are available? What conditions must hold? What options can be used? etc.
I only stumbled upon the fact that there is a btrfs driver because I saw it being disabled in some test configurations in this repository when searching for `GraphDriver

[2019-01-17 11:46] debarshiray commented on #2158
Ok, that's a good question. I have been switching between Git master, 0.12.1.2, 1.0.0, and so on. I'll keep a closer eye on the version if it happens again.

Feel free to close this if you think it's fixed. Sorry for the noise.

[2019-01-17 11:54] giuseppe commented on #2172
I assumed that information was in `man storage.conf`, we should probably add it there.

[2019-01-17 11:57] giuseppe commented on #2158
no problem, it is good to report these issues so we can look at them.  Yes this should be fixed upstream, and I think there was only one version of podman affected by the issue.

[2019-01-17 11:57] #2158 closed

[2019-01-17 12:39] vrothberg commented on #2174
I agree. It seems that when generating `~/.config/containers/libpod.conf` the hard-coded defaults are used instead of copying *specific values* from `/etc/containers/libpod.conf`.

[2019-01-17 12:41] vrothberg commented on #2174
Podman should definitely do that for config options. openSUSE is shipping a `libpod.conf` tailored specifically for openSUSE-specific paths to avoid costly lookups for binaries.

[2019-01-17 13:12] sysrich commented on #2174
I agree, and it seems to me the hard coded defaults are different from the defaults written in the default libpod.conf from https://github.com/containers/libpod/blob/master/libpod.conf

[2019-01-17 13:36] vrothberg commented on #2174
ACK. We shouldn't blindly copy but need to pick the ones that make sense.

[2019-01-17 13:49] rhatdan commented on #1973
Podman 1.0 should be available in fedora 1.0 updates-testing now.

dnf update podman --enablerepo updates-testing

podman 1.0 on f29 just got enough Karma to be pushed to release.  F28 needs one more.

@vorburger OpenDaylight page looks great, thanks.

[2019-01-17 14:04] rhatdan commented on #2173
Where is /usr/share/containers/seccomp.json comming from?  We allow a few more rules then the default Docker/Moby version in order to allow systemd to run.

[2019-01-17 14:13] space88man commented on #2173
Strangely I don't have this file (recent CentOS 7)
[code]

and on Fedora 29

[code]

[2019-01-17 14:31] cjeanner commented on #1844
@mheon it's on the CI, so it's set to "permissive", indeed. I would point to some "commit" part in the container management.

[2019-01-17 14:37] space88man commented on #2173
Fixed by copying the seccomp.json from Fedora 29 containers-common-0.1.34-1.dev.gite96a9b0.fc29.x86_64.

Root cause: packaging issue with CentOS 7 containers-common-0.1.31.

After installing systemd systemd-sysv in debian:9 image

[code]
This works now; thank you @rhatdan  and @giuseppe .

[2019-01-17 14:37] #2173 closed

[2019-01-17 14:42] mtrmac opened #2175 "(podman images) does not handle digested references correctly"
/kind bug

**Description**

`podman images` does not show digested references correctly

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]
or maybe `<none>` instead of a tag if no tag is known.

**Additional information you deem important (e.g. issue happens only occasionally):**

`ReposToMap` should be using `

[2019-01-17 14:42] cjeanner commented on #1844
Some more info about the system we're running this, and encountering the issue:
System:
```CentOS Linux release 7.6.1810 (Core)```
CPU:
```8x Intel Xeon E3-12xx v2 (Ivy Bridge, IBRS)```
Installed kernel:
```kernel-3.10.0-957.1.3.el7.x86_64```

[2019-01-17 14:49] tvass commented on #2170
@rhatdan **tl;dr**  Does NOT work with podman 1.0.

Version check:

[code]

Check if a volume is present in container spec:

[code]
Run test:

[code]

Check if volume is present on a separate terminal:

[code]

[2019-01-17 14:56] giuseppe commented on #1844
can you please show the last version of the script?

[2019-01-17 15:03] cjeanner commented on #1844
@giuseppe the patch is here: https://review.openstack.org/#/c/630287/12/docker/docker-puppet.py

And you can get a peek on the logs here:
http://logs.openstack.org/87/630287/12/check/tripleo-ci-centos-7-standalone/0d547cb/logs/undercloud/home/zuul/standalone_deploy.log.txt.gz#_2019-01-17_09_06_18
(Search for "no such file").

[2019-01-17 15:21] rhatdan commented on #2173
Perhaps we should add a troubleshooting section to comment on this.

[2019-01-17 15:24] rhatdan commented on #2175
We should match Docker's output.

[2019-01-18 07:02] seanmcneil3 opened #2180 "Running without namespace mapping as non-root"
/kind feature

**Description**

There is a use-case where I want to basically run a container as non-root and have no uid or gid mapping. I cannot figure out the correct way to do this. Whenever I use the --user option it will do namespace mapping.

**Steps to reproduce the issue:**

1. podman run -it --rm --privileged --user=$(id -u):$(id -g) --volume="/etc/passwd:/etc/passwd:ro" --volume="/etc/g

[2019-01-18 13:34] vrothberg commented on #2159
@EmilienM, https://github.com/containers/libpod/pull/2181 should be a step in the right direction.

[2019-01-18 13:35] vrothberg commented on #2159
Docker does not fail as it seems to have `.Mode` member in the `.Mounts` struct.

[2019-01-18 13:59] mheon commented on #2180
I believe that user namespaces are a requirement for rootless as of now. We
can do several things inside them that we can't normally (one that I'm
aware of is mounting tmpfs filesystems).

On Fri, Jan 18, 2019, 02:02 seanmcneil3 <notifications@github.com wrote:

[2019-01-18 14:02] rhatdan commented on #2180
I'm not sure we have a mechanism to do this.  @seanmcneil3 The issue is we need to be root inside of a user namespace to mount the container.

@giuseppe What do you think of the idea where we would map
0:STARTUID:STARTUID+MYUID-1
MYUID:MYUID:1
0:STARTUID+MYUID+1:ENDUID-MYUID

For example
for my account UID=3267

cat /etc/subuid
dwalsh:100000:65536

0:10000:3267
3267:3267:1
3268:103268:96732 (10000

[2019-01-18 14:04] rhatdan commented on #2180
If we added a mechanism to do this, then you could run a container as your UID, within a non root system.

[2019-01-18 14:05] rhatdan commented on #2180
This could cause issues with the labelling of content in your homedir though.

[2019-01-18 14:46] sysrich opened #2182 ""podman pod create --infra --infra-image" does not execute entrypoint of the infra-image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In openSUSE land we want to establish our own pause container, and because we have a nice structured way of building and testing containers, we want to use it for our new pause container.

This means that we have a prototype pause rpm package hosted at https://build.opensuse.org/package/view_

[2019-01-18 15:07] cyphar commented on #1429
@poettering

It doesn't manipulate cgroups, but it does read `memory.limit_in_bytes` and `cpuset.cpus` (et al) so that it can figure out what limits are actually in place (since `/proc/meminfo` and `/proc/cpuinfo` aren't cgroup-aware).

Well, because switching would very likely break existing containers that have Java in them and work today. I think that's a reasonable thing to worry about.

I'm a

[2019-01-18 15:08] mheon commented on #2182
I think at present we force a `/pause` entrypoint (compatability for the common use Kubernetes pause image). I think it would be reasonable to look up the image first, check if it has ENTRYPOINT set, and use that instead (and default to `/pause` if not present).

We should also add a flag to set the command for the infra container - I can see cases where I might want to do a pause container with a

[2019-01-18 15:09] mheon commented on #2182
Which reminds me...
@vrothberg We should probably disable mounting an init into the container if it's joining another container's PID namespace (for pods, for example) - `--init` doesn't make sense when you aren't the owner of the PID ns.

[2019-01-18 15:18] vrothberg commented on #2182
We're already doing that :)

[2019-01-18 15:20] mheon commented on #2182
I love it when I think of things and they're already handled. Nice!

[2019-01-18 15:23] mheon commented on #2180
@rhatdan We are already mapping the user's own UID in as root in the rootless container, AFAIK - @giuseppe can you confirm?

[2019-01-18 15:23] mheon commented on #2180
@seanmcneil3 Try dropping the --user - root in the rootless container should already be mapped to your user

[2019-01-18 15:47] poettering commented on #1429
Given that cpuset.cpus on cgroupsv1 is actually the same thing as the normal process affinity mask (yes, they propagate towards each other, it's fucked), there's really no benefit in using `cpuset.cpus`. If they have a fallback to the affinity mask, that's totally sufficient...

I am not sure I grok why java wants to read that and what for. I mean, does it assume it's the only thing running inside

[2019-01-18 16:01] vrothberg commented on #2167
@rhatdan @mtrmac @umohnani8, I have doubts regarding the kernel keyring, mainly because the keyring is not namespaced. This means that `root-container-A` can read the credentials of `root-container-*` which is a blocker.

Docker uses the `pass(1)` if available on the host which is definitely a security improvement over a json file.

[2019-01-18 16:20] rhatdan commented on #2182
@sysrich Could you try to modify the entrypoint and see if this changes the behaviour?

[2019-01-18 16:22] sysrich commented on #2182
@rhatdan tried - it doesn't change the behaviour
[code]

[2019-01-18 16:33] #2159 closed

[2019-01-18 16:49] seanmcneil3 commented on #2180
@mheon this is the point of the discussion. In the container, uid=0(root) gid=0(root) is mapped to my user. aka uid=1000(sean) gid=1000(sean). What adding --user= option should do is to change my uid/gid to that set, but it should not cause mapping. This is how docker behaves.

The reasoning behind this is that I want to run a virtual environment for my tools. They don't work under current fedora,

[2019-01-18 16:56] mheon commented on #2180
@giuseppe Any thoughts here? We could alter the mappings, potentially, move root somewhere in the middle of the range of allocated UIDs for rootless?

This would need to be an opt-in, though.

[2019-01-18 16:56] rhatdan commented on #2182
Open a PR and we can review.

[2019-01-18 16:58] mheon commented on #2180
@seanmcneil3 For a rootless container, we will never map root into UID 0 - and even if we did, you wouldn't have permissions to do anything with root-owned files.

[2019-01-18 17:03] sysrich commented on #2182
@rhatdan ha! as comfortable as I am poking around your code and pointing at things, I haven't written a single line of `go` and I'm not sure I'm brave enough to start.. if this bug lingers, I might find myself forced..but allow this comment to be my public statement of reluctance in the hope someone better and smarter than me beats me to it ;)

[2019-01-18 17:07] mheon commented on #2182
I think we also might want to look at other things from the image we want to use here - environment variables might be necessary?

[2019-01-18 17:15] rhatdan commented on #2182
No problem, Matt can look into this.

[2019-01-18 17:31] rhatdan commented on #2167
I don't see the kernel keyring as abig an issue as you. We are blocking access to it via SELinux and seccomp, and we can use usernamespace by default.    Could we use kernel keyring for the root less case. Since this is the one that is causing us issues.

[2019-01-18 17:32] rhatdan commented on #2167
Does the seccomp filter prevent the use of kernel keyrings altogether inside of the container?  If yes we probably should relax this if using a userns.

[2019-01-18 18:32] mheon commented on #2180
I think we probably want to take the subid range and split it, inserting your UID somewhere in the middle, where it will appear as the actual UID in question. Root will go to the first ID in the subuid range.

[2019-01-18 18:39] giuseppe commented on #2180
you can create another namespace inside the user namespace created by podman.

This is what https://github.com/debarshiray/fedora-toolbox/blob/master/fedora-toolbox#L191-L193 does.

It creates another namespace where the uid 0 (which on the host is mapped to your rootless UID), is mapped back to its original value.

So basically:

UID -> 0 -> UID

[2019-01-18 20:33] greg-hydrogen commented on #2150
anything you need from me, anything I can do to help?

[2019-01-18 20:39] rhatdan commented on #2150
Try again on master.  We removed something that we did not think was necessary, and now we have added it back.

[2019-01-19 03:36] seanmcneil3 commented on #2180
I have some part of a workaround based on this. Can get the uid/gid mapping I want:

GID=$(id -g)

podman run -it --rm --privileged --user=$UID:$GID \
 --uidmap $UID:0:1 --uidmap 0:1:$UID \
 --gidmap $GID:0:1 --gidmap 0:1:$GID \
...

with docker, I could even support sudo inside the container, but I'm not sure I really need that. Most of the time I used it to install additional packages to verify

[2019-01-19 03:55] greg-hydrogen commented on #2150
Just tried again, still the same issue, seems like it doesn't mount the dataset, going in and mounting it manually and starting the container works.

[2019-01-19 20:27] TomSweeneyRedHat opened #2189 "Test readme.md needs some love"
<!--
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
The https://github.com/containers/libpod/blob/master/test/README.md test readme page needs some attention.  It tells you how to emulate the Papr tests in your environment, and that's no longer a thing.  Maybe it was late Friday night hiccups I was running into, but I was not able to run th

[2019-01-20 18:47] rst0git opened #2191 "Checkpoint/Restore CLI"
The current Docker CLI for creating a checkpoint is:

[code]
[code]
and the CLI of podman is:

[code]
Some differences are:
* `podman container checkpoint` / `docker checkpoint create`
* unique checkpoint name
* `create`, `rm` and `ls`
* ability to specify `--checkpoint-dir`.

Would it be possible to redesign the CLI of podman to be compatible with the CLI of Docker?

[2019-01-20 18:47] rst0git commented on #2191
cc: @adrianreber

[2019-01-20 18:55] adrianreber commented on #2191
Initially my implementation was closer to what docker provides, but as the docker support has never left the experimental state, I do not think it is really important to provide the same interface. I am not really opinionated here. Whatever people think works better.

[2019-01-20 21:41] dustymabe opened #2192 "RFC: `podman prune images` by default should only delete dangling images"
/kind bug

**Description**

possibly a variant of https://github.com/containers/libpod/issues/1154. `podman image prune` seems to remove all images, not just unnamed images.

[code]

**podman version/info**

<details>

[code]

</details>

[2019-01-20 22:35] mheon opened #2193 "Read-only rootless containers fail to run"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rootless containers run read-only will fail to start. If you add a terminal, we get a horribly non-helpful EOF error reading the Conmon JSON response (I thought we fixed that, but evidently not). If you don't add a terminal, you get a more helpful error message (an EPERM trying to bind-mount

[2019-01-20 22:35] mheon commented on #2193
@giuseppe PTAL

[2019-01-21 07:19] seanmcneil3 opened #2194 "podman build improperly creating intermediate images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman build is keeping intermediate layers around as it appears to default to

export BUILDAH_LAYERS=true

**Steps to reproduce the issue:**

1. Create a Dockerfile with multiple RUN commands. As an example, the start of a centos:6 environment build I have

FROM		centos:6
MAINTAINER	Sean McN

[2019-01-21 08:04] vrothberg commented on #2194
Hi @seanmcneil3, thanks a lot for opening the issue!

The intermediate layers are only displayed via the **--all** option of `podman images` to not disturb the output.

Those options have no effect on the layers as they relate to the intermediate containers (used to create intermediate layers and execute the Dockerfile) but not to the layers.

The reason why intermediate layers are kept is _cachin

[2019-01-21 08:04] #2194 closed

[2019-01-21 08:51] rst0git commented on #2191
It is true that Docker's checkpoint/restore functionality is still experimental (and it takes a long time for a PR to be merged in moby/docker-ce). I started the discussion because I thought that the ability to have a name associated with a checkpoint is useful, for example, when we want to periodically checkpoint a running container. However, podman also has the idea of `alias docker=podman`, the

[2019-01-21 09:15] giuseppe commented on #2193
it seems to be already fixed in master.  I could see it failing on the Fedora package but master works fine

[2019-01-21 10:15] jerboaa commented on #1429
Speaking for OpenJDK, yes, it uses `sched_getaffinity`:
http://hg.openjdk.java.net/jdk/jdk/file/571f12d51db5/src/hotspot/os/linux/osContainer_linux.cpp#l526

Having said that, cpuset.cpus isn't very common to be used in cloud frameworks. E.g. kubernetes uses cpu shares and cpu quotas.

OpenJDK takes cpu shares and cpu quotas into account. In doing so it makes some assumptions about the higher leve

[2019-01-21 13:37] mheon commented on #2193
Confirmed here - master's fixed. Closing as such.

[2019-01-21 13:37] #2193 closed

[2019-01-21 19:14] kirbyfan64 opened #2197 "Latest rootless podman always gives: error creating libpod runtime: exit status 125"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Latest rootless podman does not work. At all. :neutral_face:

**Steps to reproduce the issue:**

1. Run `podman --log-level debug run --rm alpine echo 123`.

2. ...

3. Profit?

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional inform

[2019-01-21 19:42] kirbyfan64 commented on #2197
And looks like [this was already fixed](https://github.com/containers/storage/pull/275), whoops.

[2019-01-21 19:42] #2197 closed

[2019-01-21 19:42] kirbyfan64 commented on #2197
Actually, can there be a new *vendor* directory update to fix this?

[2019-01-21 20:07] rhatdan commented on #2192
@baude Could you look at this?

[2019-01-21 20:33] mheon commented on #2192
I think this might be intended behavior? `podman image prune` says it removes all images not being used by containers.

Maybe this should be gated by a flag, separate from "remove leftover intermediate images"?

[2019-01-21 20:58] dustymabe commented on #2192
That is not my interpretation of the help text:

[code]

To me `Removes all unnamed images from local storage` would only touch images that don't have a label.

[2019-01-21 21:11] rhatdan commented on #2191
It would be simple enough to add the podman checkpoint, but I will leave this up to @adrianreber

[2019-01-21 21:53] TomSweeneyRedHat commented on #2192
Ugh, love md4 sometimes in GitHub.  "images with a tag" s/b "images with a `<none><none>` tag"

[2019-01-21 22:01] baude commented on #2192
Nope, to be compatible with docker, prune removes all unused images (images that are not being used by a container).  the atomic cli prune command was just the none images.  the help text is incorrect and should be updated.  you can see in the short description, it says unused.

[2019-01-21 22:13] dustymabe commented on #2192
how do we get that functionality ^^  - that's what I'm interested in

[2019-01-21 22:18] baude commented on #2192
what do you want the command line switch to be? it should probably be somethign like --only-something-or-another

[2019-01-22 02:02] baude commented on #2192
fine thats seems to be what we should do.

[2019-01-22 10:59] giuseppe commented on #2180
@seanmcneil3 could this be closed or is there anything more to sort out?

[2019-01-22 11:02] seanmcneil3 commented on #2180
There is this method of essentially mapping 2 times to get the desired affect. It would be a nice enhancement, however, to be able to disable namespace mapping. I thought --userns=host should do that.

[2019-01-22 13:17] Asgoret opened #2204 "push doesn't work"
Can't push image to Harbor registry.
Image name: _harbor.io/okd/coreos/configmap-reload:v0.0.1_
Commands:
_- podman push harbor.io/okd/coreos/configmap-reload:v0.0.1 harbor.io/okd
- podman push harbor.io/okd/coreos/configmap-reload:v0.0.1
- podman push harbor.io/okd/coreos/configmap-reload:v0.0.1 docker://harbor.io/okd
- podman push harbor.io/okd/coreos/configmap-reload:v0.0.1 docker://harbor.io_

[2019-01-22 13:22] vrothberg commented on #2204
@Asgoret, thanks for reporting the issue! The version reports `0.11.1.1` which is fairly outdated given Podman 1.0 has been released recently. Can you try reproducing with 1.0?

[2019-01-22 13:31] Asgoret commented on #2204
@vrothberg i think it's same issue like this: https://github.com/containers/libpod/issues/1792
Strange...i install podman today from centos repo...ok, i'll try to update

[2019-01-22 13:36] TomSweeneyRedHat commented on #2204
Also @Asgoret when you retest, please add the debug option `podman --debug push harbor.io/okd/coreos/configmap-reload:v0.0.1 harbor.io/okd`

[2019-01-22 13:44] Asgoret commented on #2204
Em...
[code]
Output:
[code]

[2019-01-22 13:56] Asgoret commented on #2204
[code]

It's very odd because i can download my images, but can't see them in GUI Harbor.

[2019-01-22 13:59] vrothberg commented on #2204
@mtrmac, do you have a suspicion? What strikes me a bit are the `(MISSING)` strings in the logs.

[2019-01-22 14:03] Asgoret commented on #2204
Same issue https://github.com/containers/libpod/issues/1792, but we install harbor week ago so, it's newer then last comment in https://github.com/containers/libpod/issues/1792

[2019-01-22 14:05] mtrmac commented on #2204
#1792 only says that the code has been committed into the Harbor master branch; I haven’t checked at all whether there has been a release since, or what its version number is.

[2019-01-22 14:10] mtrmac commented on #2204
That’s https://github.com/containers/libpod/blob/ec969875fa13e90f4ce696e9d24b86a02f79f54a/cmd/podman/main.go#L214 treating an ordinary string (with untrusted contents!) as a format string.  I vaguely remember fixing that some time ago?!

[2019-01-22 14:15] mtrmac commented on #2204
The commit is https://github.com/goharbor/harbor/pull/6689 , and it is not yet included in the latest 1.7.1 release.

[2019-01-22 14:15] mtrmac commented on #1792
https://github.com/goharbor/harbor/pull/6689 for the record.

[2019-01-22 17:31] afbjorklund commented on #2174
I had the same issue, and had to patch lipid because of it (lack of rootless configuration)

[2019-01-22 18:36] giuseppe commented on #2180
there is no way for an unprivileged user to create a container without a user namespace first.  We wouldn't be able even to use something like `pivot_root` or `chroot` to get into the new rootfs.

[2019-01-22 18:36] #2180 closed

[2019-01-22 21:11] fulldecent opened #2207 "Update organization account logo"
The organization logo is not set

https://github.com/containers

So this appears to be a hobby project.

[2019-01-22 21:14] fulldecent opened #2208 "Specify which platforms are supported"
The following is said in README.md

This could be improved to specifically support certain platforms. For example:

[2019-01-22 21:35] rhatdan commented on #2174
We should definitely get the executable paths from libpod.conf

[2019-01-22 21:46] rhatdan commented on #2207
We were discussing this just before the Hollidays, and I guess we dropped the ball.  @fulldecent Thanks for kicking us in the butt on this.

[2019-01-22 21:49] rhatdan commented on #2208
Well "Supported' is a loaded term.  This is a community project.  The only Supported Platform is RHEL7 and RHEL8 Beta.
If we had a different term, or explained what we meant by support.

[2019-01-22 21:59] TomSweeneyRedHat commented on #2207
FYI @mairin

[2019-01-23 06:29] warmchang opened #2209 "Is the "podman play kube" feature available in the version v1.0.0?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There is an exciting feature in [v1.0.0](https://github.com/containers/libpod/releases/tag/v1.0.0) release:
Added the podman play kube command to create pods and containers from Kubernetes pod YAML.

I can't help but want to try it, but there is an error. Is the way I use it wrong?

**Steps to

[2019-01-23 07:02] warmchang commented on #2209
Try this on fedora 29, got the same result: :thinking:
[code]

[2019-01-23 09:06] seanmcneil3 opened #2210 "podman-load not tagging image as documented in man page"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman load does not behave as documented.

**Steps to reproduce the issue:**

1. Take existing image such as example:1, save to image as something like "podman -o image.tar example:1".

2. Delete the image such as "podman rmi example:1

3. Load the image as "podman load -i image.tar example:

[2019-01-23 14:00] pipiobjo opened #2211 "Ubuntu package missing dependency "uidmap""
Steps to reproduces

sudo add-apt-repository ppa:projectatomic/ppa
sudo apt-get update
sudo apt-get install podman

[code]

Execute as non-root user
[code]

Fix it via:
[code]

I think it should be defined as dependency.

[2019-01-23 14:09] baude commented on #2209
I will try your yaml today.  Thanks for providing it!  The play feature is also geared at playing yaml that podman generates using `podman generate kube`.  Did you create your containers/pods first in podman and then generate it?

[2019-01-23 16:54] greg-hydrogen commented on #2150
anything else I can help with here? I don't have any coding skills, but I can test

[2019-01-23 22:11] edsantiago opened #2212 "varlink: rmi of image with untagged layer: unexpected stdout"
In window 1:
[code]
In window 2:
[code]

Podman built from master, 7838a13b61e, on f29.

[2019-01-23 23:04] seandjones92 commented on #1516
@rhatdan I am encountering this issue and can reproduce it on demand.

[code]

What else can I provide to help track this down?

[2019-01-23 23:08] TomSweeneyRedHat commented on #1516
@seandjones92 could you open a new issue and please supply the info requested in the issue report?

[2019-01-24 03:34] rhatdan commented on #2211
Lokesh can you fix the package requires for Ubuntu?

[2019-01-24 05:47] warmchang commented on #2209
@baude I tryed the "podman generate kube" function, it works fine.

[code]

But after run "podman play kube" to try to start with the yaml (after delete the origin container), it return the new error: "ERRO[0000] name nostalgicarchimedes is in use: container already exists".

[code]

[2019-01-24 14:11] edsantiago opened #2215 "varlink: ListContainerMounts does not include container ids"
`podman mount`, with no arguments, displays the CID associated with each mount point. The varlink interface does not seem to provide that:
[code]
podman 7838a13b61e built from master

[2019-01-24 15:18] QiWang19 commented on #2210
👌

[2019-01-24 16:30] wenj1104 opened #2216 "when use `podman run -q`,`-q` option doesn't work"
/kind bug

**Description**

When i use `podman run -q` to run a container,the output of pull download should'n be showed.

**Steps to reproduce the issue:**

1. Run a container.
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**
[code]

**Output of `podman info`:**

[code]

**Additional environment details (AWS, VirtualBox

[2019-01-24 16:46] debarshiray commented on #1516
This might have been a duplicate of #2158.

[2019-01-24 17:46] seandjones92 commented on #1516
@debarshiray after seeing your comment [here](https://github.com/debarshiray/fedora-toolbox/issues/42#issuecomment-457269578) I ran the following command

[code]
After this I can run podman commands again without issue. It rebuilt the `~/.config/containers` directory.

Here are the differences:
[code]

[2019-01-24 18:20] TomSweeneyRedHat commented on #2216
@wenj1104 just to be sure, the result of the command is OK thought right?  I.e. the run completed successfully, but it was noisier than it should have been.  We'll take a look.

[2019-01-24 18:39] rhatdan commented on #2170
Is myvolume present within a container you run?

[2019-01-24 19:13] tvass commented on #2170
Yes.

[code]

[2019-01-24 19:23] afbjorklund commented on #2208
There are community projects supporting hosts of other platforms (older Linux, Darwin, and Windows), although doing so by running Linux in a virtual machine on them. See https://boot2podman.github.io/

[2019-01-24 19:58] mheon commented on #2170
This is working as intended given the current image code. We don't yet have support for making volumes for image volumes. Probably would not be difficult if we wanted to add it.

[2019-01-24 20:50] Silvanoc opened #2217 "State database doesn't save storage options"
/kind bug

**Description**

State DB (Bolt) doesn't save storage options, therefore they are honored on the first run, but not on following runs.

**Steps to reproduce the issue:**

1. Configure a storage option (e.g. `ostree_repo = "/var/lib/ostree"`).

2.  Pull an image with debug level "looking" for the options output:  `sudo podman --log-level debug pull alpine:3.8 2>&1 | grep "overlay: "`

3.

[2019-01-24 21:20] fulldecent commented on #2208
Saying "RHEL7 and RHEL8 beta is supported" would be an improvement. I am considering this project for a RHEL deployment, and I don't have time to run software/distro combinations that aren't supported, so putting that fact there would be helpful. :-)

[2019-01-25 08:01] Asgoret commented on #649
Still here. I tried save 43 images at once.
[code]

[2019-01-25 10:32] mheon commented on #2217
We store nothing related to images in the BoltDB state (except for references to which image our containers use). We also don't store storage configuration there, except to use for checking the storage configuration passed in by the user. I wonder if it isn't the storage configuration checks that are blowing up here, though. It could be overwriting some information used by the ostree backend.

[2019-01-25 10:35] Silvanoc commented on #2217
@mheon I don't think that it's only the OStree configuration being affected, since another option active `override_kernelcheck=true` is also getting missed.

If you are not saving any of those values, then it's probably the configuration check blowing up.

[2019-01-25 10:37] Silvanoc commented on #2217
@mheon I don't know if the presence of the BoltDB is changing the checks in any ways. Remember that removing the DB after each run helps podman honoring those options.

[2019-01-25 11:01] mheon commented on #2217
It seems like we're somehow blanking supplemental storage options when the DB's saved storage configuration is not empty

[2019-01-25 11:02] mheon commented on #2217
(This is strange, because I know we're not doing that for rootless Podman - the fuse-overlayfs mount program is preserved there)

[2019-01-25 12:05] Silvanoc commented on #2217
Due to an issue that I initially faced trying to use OStree with rootless containers I started playing around with these combinations as root. I could isolate the issue as root, but I would expect the same issue to appear rootless.

In fact it would probably explain by I'm having issues to get rootless containers using `fuse-overlayfs` although I installed it and configured `mount_program` [as doc

[2019-01-25 12:37] mheon commented on #2217
Hm.
@Silvanoc Can you pastebin your /etc/containers/storage.conf? I'm wondering if something might be affecting how we parse it.

(We have issues where we won't error on trying to load a storage config that is completely unreadable to us, but that doesn't explain why it works the first time and not the second)

[2019-01-25 15:42] umohnani8 commented on #649
@Asgoret I just tried it locally with about 10 tags and it worked fine for me. What is your podman version `podman version`?

[2019-01-26 00:13] Asgoret commented on #649
@umohnani8 It's dev stend and destroyed every time when tests end, i can't get any information from there( I can say, that we didn't use any specific repos, only base for centos7 and epel.

[2019-01-26 12:46] debarshiray commented on #2158
It might be that this isn't fully fixed, yet.

I just installed `podman` and `buildah` on a Fedora 28 machine which hadn't seen those tools yet.
[code]

Since `fuse-overlayfs` doesn't get pulled in automatically on Fedora 28, I got a `storage.conf` with the `vfs` driver, but the format was wrong:
[code]

[2019-01-26 15:36] TomasTomecek opened #2219 "RFE: let logs command accept multiple containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**
I'm trying to migrate my projects from docker-compose to a podman-based solution. Probably the main blocker for me is that in docker-compose, you would get a stream of logs from all the containers. In podman, I can only pass a single container to `podman logs`.

Do you think this is a good

[2019-01-26 23:39] Silvanoc commented on #2217
Wow! This is strange! Running the same commands rootless (pretty much same configuration, except for user paths and `mount_program = "/usr/bin/fuse-overlayfs"`) works as expected! :open_mouth:

So the issue appears in **root** execution, but not in rootless execution. This might help you isolate the issue.

[2019-01-27 20:47] baude commented on #2219
can you provide an example of what you'd be thinking? like would the containerid precede the log message?

[2019-01-28 09:06] carroarmato0 commented on #2210
I'm having the same issue, however when I take a look at the generated tar ( as a result of
podman save -o flasko-v1.0.tar  flasko:v1.0 ), I don't see anything mentioning the tag v1.0

[2019-01-28 09:20] TomasTomecek commented on #2219
Yes, that's how docker-compose works. I would expect the same/similar functionality:
[code]

[2019-01-28 10:10] Vogtinator commented on #527
I can confirm this is not fixed in 1.0.0. Please reopen.

[2019-01-28 10:11] rhatdan commented on #2219
I don't think this is a bad idea,  we could even do --all.  Please open a PR if you have something working?

[2019-01-28 10:52] mheon commented on #527
We're now tracking this at https://github.com/containers/libpod/issues/1640

[2019-01-28 10:59] vrothberg commented on #1640
Docker seems to return `137` in such cases which makes cross-compatibility easier for us.

[2019-01-28 11:03] mheon commented on #1640
I think adding the events system @baude and I were discussing will allow a permanent solution to this, but that's definitely not a 1.1 thing - maybe 1.2 at absolute earliest?

[2019-01-28 11:37] rhatdan commented on #1640
What is the exit code right now?

[2019-01-28 11:41] vrothberg commented on #1640
0

[2019-01-28 11:41] vrothberg commented on #1640
0

[2019-01-28 11:45] rhatdan commented on #2208
Should this information be in the install.md, or in the README.md?  Could you open a PR for what you would like to see?

[2019-01-28 12:34] ozoder opened #2221 "Table keyword not working in podman ps --format"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

Since podman 0.11.1, "table" keyword cannot be specified in the --format flag when running `podman ps`. On the other hand, this keyword still works in `podman images`. Without it, there is no way to print the headers when using --format flag in `podman ps` the same way they are printed in `podman images`.

**Steps to reprodu

[2019-01-28 12:40] giuseppe commented on #2174
opened a PR here: https://github.com/containers/libpod/pull/2222

@sysrich would it be possible for you to try if it solves the issue you had?

[2019-01-28 14:32] mheon commented on #2221
@baude PTAL - potentially related to the output rework on ps?

[2019-01-28 16:06] adrianreber commented on #1618
I have a working proof of concept to migrate containers from one host to another working locally since today. I need to get the code into shape before submitting it, but it is working. It also needs runc changes which I will also look into.

[2019-01-28 17:25] TomSweeneyRedHat commented on #2210
Looks to work for :latest, but other :tags not so much.

[2019-01-28 17:32] afbjorklund commented on #2174
Would it be possible to add `no_pivot_root` and `cni_config_dir` too ?

I think that `cgroup_manager` is determined automatically (?), so it is OK...

[code]

[2019-01-28 17:33] TomSweeneyRedHat commented on #2210
Ooops, I misread my images output, looks to be working for me or is my below test methodology off?  (Note: I removed a lot of output below for clarity)

[code]

[2019-01-28 18:02] mheon commented on #2174
The systemd cgroup manager doesn't work at all with rootless, so we shouldn't bother sourcing that - it needs to stay unconditionally set to `"cgroupfs"`

The other two would be nice to have, though

[2019-01-28 19:12] vrothberg opened #2223 "apparmor broken in rootless"
/kind bug

**Description**

podman fails on systems with AppArmor as it tries loading the default profile: `AppArmor is not supported in rootless mode`

AppArmor requires root privileges. It looks like a wrong condition check.

**Steps to reproduce the issue:**

1. podman run alpine ls

**Output of `podman version`:**

v1.0.0

Sorry for not posting the entire output. I am running it in a minimal V

[2019-01-28 19:15] vrothberg commented on #2223
@cevich, I am a bit concerned that the CI did not catch this bug. Is AppArmor enabled on the Ubuntu machines?

[2019-01-28 19:40] cevich commented on #2223
@vrothberg Thanks for noticing and asking.  My understanding is that AppArmor **IS** enabled, I will verify this immediately...

[2019-01-28 21:59] TomasTomecek commented on #2219
I'll try to take a look and figure it out.

[2019-01-29 00:52] rothgar opened #2226 "Can we rename podman to something less masculine?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Tools should not imply a gender or sex

**Describe the results you received:**

People turned off from the tool because of its name

**Describe the results you expected:**

A neutral name for tools

**Additional environment details (AWS, VirtualBox, physical, etc.):**

The physical world with

[2019-01-29 00:58] baude commented on #2226
@rothgar thanks for your input.  I am wondering if you can elaborate and share your experiences, etc, on the matter.  Please be more verbose than your original filing here.

[2019-01-29 04:45] rhatdan commented on #2226
podman stands for pod manager, it is neither masculine or feminine.

[2019-01-29 05:10] wenj1104 commented on #2216
@TomSweeneyRedHat Sorry for my late.The result of the command was OK,just noisier than it should have been.

[2019-01-29 06:19] rothgar commented on #2226
It implies a masculine gender which should be avoided. "Man" is not gender neutral no matter what it stands for.

[2019-01-29 09:24] giuseppe commented on #2174
I can add `cni_plugin_dir` and `no_pivot_root`, although rootless containers do not support CNI plugins, so it won't make any difference for now.

`cni_config_dir` doesn't probably make sense.  Even if there will be rootless CNI plugins, the configuration for rootless will be different than from the host

[2019-01-29 10:33] Vogtinator opened #2228 "podman fails if apparmor_parser not installed"
/kind bug

**Description**

If apparmor is enabled, but apparmor_parser is not installed, podman fails with

`exec: "apparmor_parser": executable file not found in $PATH`.

It should disable apparmor support in this case.

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2019-01-29 10:51] vrothberg commented on #2228
Thanks for opening the issue, @Vogtinator.

I don't agree, as I consider them to be two separate things (i.e., enablement on the host and presence of the profile  loader) and a security threat. If a required dependency (i.e., apparmor_parser) is not installed on the host, Podman should fail and not silently ignore it, especially for default security features. If a user wishes to opt-out from secur

[2019-01-29 11:50] rhatdan commented on #2217
@giuseppe and I were playing in this code a while back.  WDYT @giuseppe

[2019-01-29 12:22] rhatdan commented on #2150
One problem here is none of us have any experience with zfs.  @greg-hydrogen When you say mount the dataset, you are seeing some content mounted and other content not mounted?

[2019-01-29 12:37] rhatdan commented on #2170
Works fine for Root podman.

[code]

Also works for rootless.

[code]
podman -v
podman version 1.0.0

[2019-01-29 12:39] rhatdan commented on #2170
Ok, I see it now, this volume is not listed under podman volume though.

[2019-01-29 14:40] umohnani8 commented on #2170
@rhatdan with podman build, buildah bud is doing all the work and we don't have the volumes support in buildah yet. I think that is why the volume is not being created under the path that podman volume checks for any volumes created. I believe something we have to add.

[2019-01-29 14:44] #2228 closed

[2019-01-29 14:57] greg-hydrogen commented on #2150
@rhatdan - when I manually mount the zfs dataset via
mount -t zfs dataset podmanmountpoint
all the content is there and I am able to start the container

For some reason when issuing
podman start container
it doesn't perform the mount operation

If I create a new container everything works as expected, I am able to stop and start it, but when I reboot and try to start it it fails

There must be so

[2019-01-29 15:43] giuseppe commented on #2217
I agree with @mheon, `storage.conf` should probably be reloaded for root containers as well, so that if Podman honors any change happening there

[2019-01-29 15:44] rhatdan commented on #2226
Well we are not going to change the name.

[2019-01-29 15:44] #2226 closed

[2019-01-29 15:46] rhatdan commented on #2210
@seanmcneil3 @carroarmato0 What version of podman are you seeing this with?

[2019-01-29 17:16] rothgar commented on #2226
Thanks for the welcoming and inclusive community.

[2019-01-29 17:16] hadess opened #2231 "podman rootless example fails"
Trying to run the example code from the Fedora magazine article fails:
https://fedoramagazine.org/running-containers-with-podman/

[code]

[2019-01-29 17:50] rhatdan commented on #2231
Can you try it as root?

[2019-01-29 18:01] rhatdan commented on #2150
What happens if you just do a podman mount CTR, does the mount point get created?

[2019-01-29 18:02] hadess commented on #2231
That seems to do something (like downloading images, and printing "Hello world")

[2019-01-29 18:04] rhatdan commented on #2170
I found a bunch of bogs on podman volumes and have opened a PR on this.

Lots of fixes in https://github.com/containers/libpod/pull/2229

[2019-01-29 18:17] rhatdan commented on #2216
@wenj1104 Could you try out the patch and see if it fixes your issue.

[2019-01-29 18:20] rhatdan commented on #2226
We do welcome you and your input.
Just because we don't agree with your suggestion, no reason to be offended.
Changing the name at this point would cause confusion and loss of market awareness and as I said, I don't agree with you that the name indicates masculinity.

[2019-01-29 18:37] greg-hydrogen commented on #2150
Doesn't look like, it says it mounts it but nothing happens

 sudo podman inspect nessus | grep -i mountpoint -B 1
                "Dataset": "storage/podman/storage/735999f8b905627bdfe17a76dff12455e6998d6e285d38561b90919ed970e268",
                "Mountpoint": "/var/lib/containers/storage/zfs/graph/735999f8b905627bdfe17a76dff12455e6998d6e285d38561b90919ed970e268"

[greg@greg-lnxworkstn ~]$ sudo

[2019-01-29 18:51] rhatdan commented on #2231
Did you install fuse-overlayfs?

cat ~/.config/containers/storage.conf

[2019-01-29 18:52] rhatdan commented on #2231
@giuseppe Sould we add a recommends for fuse-overlayfs?  @lsm5 ?

[2019-01-29 19:00] rothgar commented on #2226
I understand your concerns about name changes. It's confusing for customers and additional work for developers, technical writers, marketing, etc. It's not something to be taken lightly. Naming things is hard and even this repo (libpod) is a good example because it is confusing for `podman` issues.

It's fine that we disagree on the name and the impact it may have to make people feel welcome and i

[2019-01-29 19:00] rhatdan commented on #2150
That indicates the mount count is off.

Try podman umount nesus several times until it fails, and then try to mount it again.  And see if it mounts.
We are keeping track of the number of times a file system is mounted and theoretically only mounting it when it is not mounted, but this might be getting screwed up.

[2019-01-29 19:00] hadess commented on #2231
No. I literally just installed podman.

I guess it was created on the first run of podman, before I set the debug level:
[code]

I didn't touch that file.

[2019-01-29 19:01] hadess commented on #2231
Yes, it is installed, it's listed in the original comment.

[code]

[2019-01-29 19:04] rhatdan commented on #2226
Well we have several Females working on the project and the artist who drew all of the icons and the coloring book is a Female, as well as my Boss Denise Dumas.  I make it a point to try to higher female engineers if at all possible.
Here is the coloring book and we attempted to be as inclusive as possible with the character representation of the container tools we are designing.  Although podman

[2019-01-29 19:08] rhatdan commented on #2231
Could you see if there is anything in the journal from conmon?

[2019-01-29 19:09] greg-hydrogen commented on #2150
Ah I think you got it, haven't tried rebooting yet to test but here is the output

[greg@greg-lnxworkstn ~]$ sudo podman umount nessus
3a890ee17a93497efbe7f98bfcd688e5ebe69d6a49d5c5e3915255312ae742c0
[greg@greg-lnxworkstn ~]$ sudo podman umount nessus
3a890ee17a93497efbe7f98bfcd688e5ebe69d6a49d5c5e3915255312ae742c0
[greg@greg-lnxworkstn ~]$ sudo podman umount nessus
3a890ee17a93497efbe7f98bfcd688e

[2019-01-29 19:09] TomSweeneyRedHat commented on #2226
@rothgar Thanks for bringing this discussion up.  If you've suggestions on the changes we could make, I'd think especially to the README.md, I'd be happy to add them into the document if you don't want to do so yourself.

[2019-01-29 19:13] rhatdan commented on #2150
So I think what is happening is you run your container and it is still running, you reboot, and as far as containers storage is concerned your file system is mounted.  For some reason we don't figure out that xfs is not mounted when we check, which we do with other drivers.
@nalind Make sense?

[2019-01-29 19:15] vrothberg commented on #2226
The votes are inappropriate in such a context, I agree. However, I cannot spot a contributor among them and certainly no maintainer. Please, do not extrapolate those reactions to the community of this project. Especially the openness of this community made me join it.

[2019-01-29 19:22] afbjorklund commented on #2174
The `cni_plugin_dir` was OK, since it looked in multiple paths (including `/usr/local/lib/cni`)

I seem to recall some error from CNI, but maybe that was just normal podman and not rootless ?

[2019-01-29 19:26] mheon commented on #2231
That's not common - not even getting there. Probably a username issue. What
kernel are we dealing with here

On Tue, Jan 29, 2019, 14:08 Daniel J Walsh <notifications@github.com wrote:

[2019-01-29 19:32] afbjorklund commented on #2174
Got some other error now: `ERRO[0001] slirp4netns failed`
Guess I will look into that particular podman error separately.

The other error was (as I suspected) when running as root:
`ERRO[0000] error configuring network namespace for container 7dcf3329d7bd6f6372967fcfffaf78bac904246910005bcafc4c4d0260397bca: Missing CNI default network`

So `no_pivot_root` would be enough.

[2019-01-29 19:35] giuseppe commented on #2231
from the logg file, it seems fuse-overlayfs was installed.

How does your `/etc/subuid` file look like?

[2019-01-29 19:47] hadess commented on #2231
[code]

My user isn't in there, should it be? I never touched this file myself...

[2019-01-29 19:50] giuseppe commented on #2231
yes please, you must add your user and a range of additional IDs (you can use `usermod --add-subuids` and `usermod --add-subgids`).

We added a check recently to fail in a nicer way, I will double check it.

[2019-01-29 19:57] mtrmac commented on #649
@Asgoret Are those 43 different _tags_ for the _same_ image, or 43 different _images_? All of this issue, and #819, only supports different tags for a single image.

[2019-01-29 20:56] hadess commented on #2231
I have no idea what "sub" UIDs and GIDs I'm supposed to use. Which piece of the OS is supposed to create that file with some decent values? It seems to be owned by `setup`.

Let me know if you have something you want me to test.

[2019-01-29 21:48] jlebon opened #2234 "`podman rmi --force` should be idempotent"
/kind feature

**Description**

Just like `/bin/rm -f`, `podman rmi -f` should just return rc=0 if the target image already doesn't exist. This would make it easier to use from scripts.

[2019-01-29 22:07] baude commented on #2234
@jlebon

are you saying `rm -f bogus` == 0 but `rmi -f bogus` != 0 ?

[2019-01-29 22:10] mheon commented on #2234
Per Docker, both `rm -f` and `rmi -f` on bogus containers/images should return 1

[2019-01-29 22:10] jlebon commented on #2234
I was talking about `/bin/rm`, not `podman rm`, though that'd be nice too. I don't mind gating this behind a switch like `--ignore-nonexisting`.

[2019-01-29 22:10] baude commented on #2234
we return a 125

[2019-01-29 22:13] jlebon commented on #2234
Is `125` specific to the ENOENT case?

[2019-01-29 22:15] jlebon commented on #2234
See also https://github.com/docker/cli/pull/160 and https://github.com/docker/cli/issues/394.

[2019-01-29 22:15] mheon commented on #2234
I think it's a more generic error for us. 1 seems to be the same for Docker.

I would be fine with a --ignore-removed or --ignore-nonexisting

[2019-01-29 22:16] baude commented on #2234
We have container|image exists commands too, which give a 0 or 1 strictly based on whether the container or image exists.  Would that help?
[code]

[2019-01-29 22:17] baude commented on #2234
@mheon if he is already specifying -f, can we make that the default behaviour for just -f ?

[2019-01-29 22:18] mheon commented on #2234
It seems like docker-cli did, so I'm fine with it.

[2019-01-29 22:20] baude commented on #2234
@rhatdan mind commenting as well; you get most twitchy about cli flags.  we are simply proposing that when -f if used for rm/rmi, we would return a zero status if the image didn't exist.

[2019-01-30 00:18] TomSweeneyRedHat opened #2238 "podman ps --format "{{.Mounts}}" doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug
**Description**

The command:
`# /usr/local/bin/podman ps -a --format "{{.Mounts}}"

doesn't work as doucmented.

**Steps to reproduce the issue:**

1. See description

**Describe the results you received:**
[code]

**Describe the results you expected:**

The list of mounts or if not present, and empty set.

**

[2019-01-30 07:35] Asgoret commented on #649
@mtrmac different images, tags and repo. For example:
image #1: docker.io/openshift/node:v3.11.0
image #2: quau.io/coreos/prom:wed2dea
image: #3: redhat.registry.io/etcd:1.25

[2019-01-30 08:22] giuseppe commented on #2231
@hadess `adduser` should take care of it for newly created users.

Given the configuration you've showed earlier, you could add:

[code]

to both `/etc/subuid` and `/etc/subgid`

[2019-01-30 09:35] rhatdan commented on #2234
I am fine with the change.  125, 126 and 127 are more about running the containers and not getting confused between the container exiting with a 1, versus podman exiting with a 1.

[2019-01-30 09:41] #2192 closed

[2019-01-30 10:23] #2223 closed

[2019-01-30 13:03] 4383 opened #2240 "Impossible to recreate a container with the same name that a container already removed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A script launch the following command to start a container with the `rm` flag so the contianer will be destroyed at exit but when I try to recreate a container manually with the same podman command, podman fail to create the container and display the following error:
[code]
When I try to insp

[2019-01-30 13:45] giuseppe commented on #2231
@hadess it is already there, I wonder why it wasn't printed.  I've done some tests locally and it works, if I remove my user from `/etc/subuid` I get:
[code]

[2019-01-30 14:05] rhatdan commented on #2240
Does the original container actually exists?

[2019-01-30 14:24] baude commented on #2238
@TomSweeneyRedHat we need my other ps PR to get merged and then i can look at this one.

[2019-01-30 14:27] adityashah1212 opened #2241 "podman images <Repository> does not list images if present in locally"
kind bug

podman images <Repository> when the image is a local image does not list the images in that repository. This is how docker works. I believe podman should have commandline compatibility with docker, if we want it to be a replacement for docker.

**Steps to reproduce the issue:**

1. Create any local image for example busybox

2. Run podman images <Local image repository> without giving th

[2019-01-30 14:43] hadess commented on #2231
Not in the distribution package I'm using, otherwise I wouldn't have filed a bug. I'm guessing it might be @rhatdan's job to do that, right?

[2019-01-30 14:44] mheon commented on #2240
Try a `podman pod ps` and see if there are any pods with that name/ID.

[2019-01-30 14:56] giuseppe commented on #2231
podman 1.0 should have that fixed, this is why I am wondering what is going on :)

@rhatdan I've tried both combinations, but I still get it to fail with a nicer error message here

[2019-01-30 14:56] baude commented on #2241
This is a bug ... it works with images tagged as latest ...

[2019-01-30 15:00] rhatdan commented on #2240
There could be a race condition here. Where one container is exiting, and running podman cleanup while another container is launching,

[2019-01-30 15:01] lsm5 commented on #2231
Already there on fedora > 28

[2019-01-30 15:05] umohnani8 commented on #649
@Asgoret that is not going to work, we only have support for the same image but different tags. for example: docker.io/library/alpine:3.1, docker.io/library/alpine:3.4 etc.

[2019-01-30 16:02] TomSweeneyRedHat commented on #2238
@baude no worries, probably not something most people will run into,  it's an edge case at least for the moment.

[2019-01-30 16:51] hadess commented on #2231
And undoing the changes I made to those 2 files earlier, I can now get it to fail with the same "nice" error message... So there was probably something else missing.

I undid the `/etc/subuid` and `/etc/subgid` changes, nuked `~/.local/share/containers/` and `/var/lib/containers` and can't get it to fail as it originally did.

I then nuked `/run/user/1000/libpod/` and got it to fail again:
[code]

[2019-01-30 16:56] miabbott opened #2245 "rootless podman failing due to SELinux denial"
/kind bug

On Fedora Silverblue 29 (29.20190129.0) my rootless `podman run` is silently failing due to an SELinux denial.

The following packages are installed:

[code]

Trying `podman run`:

[code]

With debug output:

[code]

Accompanying journal messages:

[code]

[2019-01-30 16:58] miabbott commented on #2231
I encountered the same issue described here and had to nuke `~/.config/containers/storage.conf` because the format looked incorrect:

[code]

This got me a little further, but then I started hitting SELinux denials as described in #2245

[2019-01-30 17:14] hadess commented on #2231
The config file isn't the problem for me, as I can make it run properly if I modify the subuid/subgid files. SELinux is set as permissive on my system.

[2019-01-30 17:45] dereuromark commented on #2226
Sometimes I really wonder about the common sense in people.
If you do not understand the (English) language, please do not make wrong assumptions.

If the word is a shortcut for MANAGER do not assume this to be a "man" - ever.
podman === pod manager === totally irrelevant what gender === gender neutral

As such this request is invalid by design for the same reason "black driving" is not racist, bu

[2019-01-30 18:03] 4383 commented on #2240
I have already try `podman ps` and the container doesn't exist in the list...

[2019-01-30 18:16] vrothberg commented on #2226
@dereuromark, there is no need to turn this discussion into personal attacks. Please, avoid that by all means and remain objective. I do not tolerate such attacks and won't give space for escalating this topic in whatever direction.

There is no arguing against the fact that the name includes "man", no matter what it stands for. However, the naming is done and there are no plans to change that.

T

[2019-01-30 18:18] TomSweeneyRedHat commented on #2240
Just to be sure, did you try `podman ps -a` to show all the containers?

[2019-01-30 18:31] 4383 commented on #2240
I have try the following commands to find an existing container with the same name and no results was founds:
[code]

[2019-01-30 18:33] mheon commented on #2240
Volumes don't share names with pods and containers, so `podman volume list` doesn't really help.

Can you try `podman pod ps`? Pods do share names with containers

[2019-01-30 19:10] ktdreyer opened #2246 "podman images --filter "dangling=true" crashes on no untagged images"
/kind bug

**Description**

`podman images --filter "dangling=true"` crashes if I have no untagged images. If I have untagged images, it works, and if I have no untagged images, it crashes.

**Steps to reproduce the issue:**

This works:
[code]

So I delete all the untagged ones:
[code]

Then I run with `--filter "dangling=true"` again:
[code]

**Describe the results you expected:**
podman should

[2019-01-30 19:17] ktdreyer opened #2247 "RFE: add support for "podman system prune""
/kind feature

**Description**

Docker has a "[docker system prune](https://docs.docker.com/engine/reference/commandline/system_prune/)" command,  but there is no equivalent command in Podman.

**Steps to reproduce the issue:**
1. Search Google for how to clean up container images and resources on a local system.
2. Discover several user guides on the internet advocating the `docker system prune`

[2019-01-30 19:36] baude commented on #2246
ty @ktdreyer

[2019-01-30 19:39] baude commented on #2246
@ktdreyer Im not able to exactly reproduce on my machine, but I was able to trip it elsewise.  Would you be willing to try a patch against master?

[2019-01-30 19:55] vrothberg commented on #2247
Thanks for taking the time to open this issue, @ktdreyer!

The `system prune` can currently be achieved with `podman rmi -a` and `podman volume prune` but I understand the desire to be CLI compatible with Docker. @mheon @baude @rhatdan WDYT?

[2019-01-30 21:19] mheon commented on #2240
If you do manage to reproduce again, and the pod check produces negative, also append `/var/lib/containers/storage/libpod/bolt_state.db`

[2019-01-30 21:38] rhatdan commented on #2245
cat  >/tmp/t
Jan 30 11:55:11 mastershake audit[21726]: AVC avc:  denied  { map } for  pid=21726 comm="bash" path="/usr/bin/bash" dev="fuse" ino=270626563 scontext=system_u:system_r:container_t:s0:c214,c389 tcontext=system_u:object_r:fusefs_t:s0 tclass=file permissive=0
[dwalsh@localhost libpod]$ audit2allow  -i /tmp/t

#============= container_t ==============

#!!!! This avc is allowed in the cur

[2019-01-30 21:44] rhatdan commented on #2231
It looks to me like silverblue does not have the current SELinux policy installed correctly.  Does it work in enforcing mode if you run semodule -B

[2019-01-30 21:44] miabbott commented on #2245
@rhatdan You might be right.  I saw some another SELinux denial in my journal that looks like a bad policy.

Let's keep this open for now while I sort out any policy issues.

[2019-01-30 22:21] baude commented on #2209
That is because the container you created the YAML from still exists under that same name (or the pod).    You might also be interested in https://developers.redhat.com/blog/2019/01/29/podman-kubernetes-yaml/

[2019-01-30 23:57] hadess commented on #2231
I don't use Silverblue, so that's not the problem in my case.

[2019-01-31 07:04] rhatdan commented on #2209
If you delete the pod and the container does it work?

[2019-01-31 07:38] zoetrope opened #2248 "podman: copy directory does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I ran `podman build` command twice, so the directory was not copied.

**Steps to reproduce the issue:**

1. Create Dockerfile

[code]

2. Create a direcotory and a file

[code]

3. Build container image

[code]

4. Check copied file

[code]

5. Rebuild container image

[code]

6. check copied

[2019-01-31 07:57] rhatdan commented on #2248
Could one of you guys look into this?

[2019-01-31 08:08] Asgoret commented on #649
@umohnani8 @mtrmac ok...i understand my mistake. Thanks for helping!

[2019-01-31 08:46] rhatdan commented on #2240
I attempted something this
for i in {1..100};do  podman run --name dan --rm fedora echo hello; done
To see if we could be suffering from a race condition.

[2019-01-31 08:49] rhatdan commented on #2247
We could probably add
podman system info|prune:df
Events will have to wait.

[2019-01-31 10:07] 4383 commented on #2240
If I reproduce again I will push all the information to this issue

[2019-01-31 15:09] warmchang commented on #2209
Thank you for reply!

Actually I deleted all the PODs and containers before running the "podman play kube".

https://github.com/containers/libpod/issues/2209#issuecomment-457074984, the result of "podman pod list" and "podman ps -a":

![image](https://user-images.githubusercontent.com/13084624/52060758-dbdd7280-25a7-11e9-8665-bc9d1295ad01.png)

And I used to run according to the article (https://d

[2019-01-31 15:21] warmchang commented on #2209
Try this in a public env (https://www.katacoda.com/courses/kubernetes/launch-single-node-cluster) without kubernetes cluster (does not run the minikube start), got the same error.

[code]

[2019-01-31 15:24] h-vetinari opened #2250 "Improve ways to install & documentation for it"
I've been trying to use `podman` - forced by RH policy of not upgrading the `docker` runtime in RHEL anymore, and so far it has been *far* from a drop-in replacement.

Since the last release I have access to within the newest RHEL7.6 is podman 0.11.1, I can't even start filing all the bugs I'm encountering, because - who knows - maybe they're fixed on master already.

So off I go trying to install

[2019-01-31 15:40] baude commented on #2209
@warmchang is the yaml in ^^ generated by podman or not?

[2019-01-31 18:33] wking commented on #2086
Checking `/var/lib/containers/storage/overlay-images/images.json` (after copying it off to a host with `jq`):

[code]

I don't see anything interesting in `/var/lib/containers/storage/overlay-images/0390f8fb5cc110a3de32bf4bfbd743d08b089a87ea23bb97bb16c6eded4f94b0/manifest`, but I can attach that too if it would help.

[2019-01-31 18:41] wking commented on #2086
I can reproduce after injecting a digest name into a randomly-selected entry in my local `/var/lib/containers/storage/overlay-images/images.json`.  Continuing to dig...

[2019-01-31 19:02] wking commented on #2086
Ok, #2251 should take care of this.

[2019-01-31 20:45] miabbott commented on #2245
@rhatdan I'm not seeing the same on my system:

[code]

I've got `container-selinux-2.80-1.git1b655d9.fc29.noarch` installed on my host.

I've done `semodule -B` to recompile the policy, but still seeing the same denial

[2019-02-01 02:39] warmchang commented on #2209
@baude

1. https://github.com/containers/libpod/issues/2209#issuecomment-459383449, the "test.yaml" is not generated by podman command in this test, but written by myself, compatible with the format of kubernetes.

2. https://github.com/containers/libpod/issues/2209#issuecomment-457074984, in this test, the "test.yaml" is generated by podman.

[2019-02-01 10:45] mbaldessari commented on #2240
FWIW when I was looking at this with Herve I did try a 'podman pod ps' and it returned empty. Hopefully we can collect /var/lib/containers/storage/libpod/bolt_state.db next time we hit this

[2019-02-01 10:52] bogdando commented on #2240
you can try the better reproducer version from https://github.com/containers/libpod/issues/1656

[2019-02-01 13:01] 4383 commented on #2240
Well.. I have successfully reproduce the problem...

`podman pod ps` is always empty.
I have extract the bolt_state.db like @mbaldessari suggest and it was attached to this comment.
[bolt_state.db.zip](https://github.com/containers/libpod/files/2821612/bolt_state.db.zip)

[2019-02-01 13:11] rhatdan commented on #2240
I was able to get into this state also, but calling `podman rm -f` on a running container.

[2019-02-01 17:01] rhatdan commented on #2245
Can you turn on the boolean.

setsebool -P virt_sandbox_use_fusefs 1

[2019-02-01 17:04] rhatdan commented on #2245
I see this allowed now on my system.  This was added on 2.75

[2019-02-01 19:21] giuseppe commented on #1430
it looks exactly like the issue we fixed some time ago, it works for me with podman from master.  @tominventisbe could you try it?

[2019-02-02 09:17] wenj1104 opened #2258 "when use "podman pod stats --format '{{GO template}}'","--format" option doesn't work"
/kind bug

**Description**

When i use `podman pod stats --format`  to view resource usage statistics for the pods,if I use a Go template,`--format` option does not work.

**Steps to reproduce the issue:**

1. create a pod.
[code]
2. use a GO template to view resource usage statistics.
[code]
As you can see, the output of the command is not in the specified format.

**Additional information you de

[2019-02-02 09:45] mizdebsk commented on #1516
I had the same problem - I had an old config generated by some previous version of libpod in `~/.config/containers/` - removing that directory and letting libpod recreate it fixed the problem for me.

[2019-02-03 18:13] larskarlitski opened #2260 "varlink: use standard date format and specify it in the docs"
The varlink API returns times quite often (for example for when containers and images were created), but the documentation doesn't specify what format this time is in. Currently, it returns what golang's `time.String()` outputs, for example `2019-01-16 21:24:39.666388579 +0000 UTC`.

It would be nice if podman could document which format it outputs and used a standard format, such as RFC 822.

Pod

[2019-02-03 23:01] vugardzhamalov opened #2261 "podman attach and systemd no interactive shell is available"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was wondering if there is any chance to get interactive prompt available upon container execution. Otherwise it seems that everything works fine but I have to use 'CTRL+p+q' in order to detach myself as soon as systemd finished with initialization. It will be very nice to be able to interac

[2019-02-03 23:05] mheon commented on #2261
I think you need to enable a getty in systemd inside the container - unlike on interactive installations, systemd in a container defaults to not enabling the relevant services (not usually needed - if you need a shell inside the container, you'd usually `podman exec -t -i <id> /bin/bash`)

[2019-02-04 10:09] tominventisbe commented on #1842
Thanks for mentioning this.

I couldn't get the build to work for confusing reasons pertaining to `varlink` not being found (I'm not familiar with Go) and it turned out it was because I defined the GOPATH to be somewhere else than suggested by the installation README.

Now that I defined it _exactly_ as in the README, the build works as intended.

[2019-02-04 10:15] tominventisbe commented on #1430
I've built from latest master, but unfortunately this gives me a similar error:

[code]

The commit I built was `d5593b8e718a1ca86380faa072c654f791b18bbc` (version `1.0.1-dev` is reported by `podman --version`).

The issue is fixed in the same way if I omit the `:ro` from the mount.

I _did_ only build this repository and let the rest of the dependencies be installed automatically by the build scr

[2019-02-04 12:55] rhatdan commented on #2261
Would podman exec be an option?  But if @mheon suggestion works for you that would be good.

[2019-02-04 20:36] mheon commented on #2240
The containers seem to be remaining in c/storage, preventing us from creating new containers with the same names.

Part of the problem seems to be c/storage not being durable enough under stress - it seems to start failing to delete containers a lot sooner than the rest of Podman. When it does, we still get rid of as much of the container as we can (rather than leave a half-configured container ar

[2019-02-04 23:40] sidharrell opened #2265 "add journald logging option"
Feature Request
Current state of the log driver options:

--log-driver="json-file"

Logging driver for the container. Currently not supported. This flag is a NOOP provided soley for scripting compatibility.

I'm not sure if you would rather have an overarching issue, like "add more log-driver options", or the more specific "add a journald log-driver to send container output to the host journal". I

[2019-02-04 23:51] rhatdan commented on #2265
I think the later  "add a journald log-driver to send container output to the host journal".
If you feel adventurous to see if you could pull the journal code out of docker and see if you could open a PR for Podman.  That would really help move this forward.

[2019-02-04 23:54] mheon commented on #2265
@rhatdan I'd think this would need to be a Conmon change, though? That's where the container logs are handled.

So we'd need it in C, not Go.

[2019-02-05 00:01] rhatdan commented on #2265
Ok, makes sense.

I believe @nalind Did the original work on journal for Docker.  WDYT?

[2019-02-05 00:45] haircommander commented on #2265
I'd certainly be willing to give a conmon update a shot if everyone else is too busy

[2019-02-05 00:52] mheon commented on #2217
Taking a look at this tomorrow

[2019-02-05 00:53] mheon commented on #2221
@baude This is fixed via #2232 right?

Closing, reopen if it's not

[2019-02-05 00:54] mheon commented on #2182
I'll take a look at this tomorrow

[2019-02-05 08:19] 4383 commented on #2240
@mheon interesting analyze

[2019-02-05 12:15] #2174 closed

[2019-02-05 14:29] psafont opened #2266 "Allow filtering images by reference"
/kind feature

**Description**

Docker CLI allows to filter by reference and automatically filters by reference if given an additional parameter:

[code]

Podman currently does not implement [this](https://github.com/containers/libpod/blob/b1d4dbd335f4801487ef86964b6833c3604ceef5/cmd/podman/images.go#L375)

This can surface if users are using the Docker CLI compatibility shim with scripts (as I wa

[2019-02-05 14:36] mheon commented on #2266
Sure, seems like a worthwhile addition

[2019-02-05 15:38] vugardzhamalov commented on #2261
Thank you @mheon  and @rhatdan ! Indeed this does exactly what I needed!

[2019-02-05 15:38] #2261 closed

[2019-02-05 15:48] nalind commented on #2265
I think we'll have an easier time writing to and reading from the journal in C than we had in Go.

IIRC the OpenShift teams ran up against the rate limiting that journald is configured to use by default, and they had to disable it.  The journal is doing more work for each bit of data that it gets sent, so there are situations where, without rate limiting, write throughput could be a problem.

[2019-02-05 16:24] haircommander commented on #2265
I'm working on a solution in C. It isn't too bad because there's already a C api for journald. Just hammering out some branching logic between json-file and journald now. will open PR in conmon when it's ready.

[2019-02-05 17:48] rhatdan commented on #2240
I think we should add something to rm --removestorage, which would ignore the error from libpod saying the container does not exist, and remove the storage.

[2019-02-05 20:03] carlwgeorge commented on #2246
I'm able to reproduce it with `podman-1.0.0-1.git82e8011.fc29.x86_64` on Fedora 29.  What's that patch?  I can try it as well.

[2019-02-05 20:10] mheon commented on #2216
Should be closed via #2230

[2019-02-05 20:10] #2216 closed

[2019-02-05 20:13] mheon commented on #2154
What version of `iproute2` are we talking about here? I'm not seeing this behavior on F29

[2019-02-05 20:16] mheon commented on #2154
OK, I can reproduce this on a rawhide VM, so it is in upstream, at least.

It only applies to net namespaces configured via `ip netns` so nothing made by Podman, CRI-O, or Docker (the original main intent of setting raw netns paths).

I think we can add handling for this, but we'd need to only enable it selectively on the relevant files being present.

[2019-02-05 20:20] mheon commented on #2240
@rhatdan Should we just recommend they use `buildah rm` to get rid of it? I'd almost prefer that to adding potentially confusing options to `podman rm`

[2019-02-05 20:39] Silvanoc commented on #2217
@mheon sure! I'll provide any feedback directly on the PR.

[2019-02-05 21:08] Gert-dev commented on #746
Perhaps slightly unrelated, but as Podman provides a basic "Docker-compatible CLI" via the `docker` script (which seems to just be a script to place in `/usr/bin/docker` that in turn executes `/usr/bin/podman`), how well does Docker Compose work with this script? Does it not work at all due to reliance on specifics of Docker itself? Does it work, but require minor adjustments?

[2019-02-05 21:16] lumi-sch commented on #746
I'm pretty sure docker-compose interfaces with docker via the socket, not
the cli... so a #nobigfatdaemons design breaks this stuff.

On Tue, Feb 5, 2019, 10:08 PM Gert-dev <notifications@github.com wrote:

[2019-02-05 23:10] najamelan commented on #2154
I don't know the exact syscalls involved, but you can run `lsns -t net` and `ip netns list` to see the network namespaces. Namespaces which are made through system calls instead of with `ip netns` don't have a name if I'm not mistaken. I think that if the user passes in a `--net ns:/run/netns/xxx`, I think you should check `/etc/netns/xxx/resolv.conf` for existence, and if it exists use that inste

[2019-02-05 23:13] najamelan commented on #2154
ps: maybe verify other paths as well. If the user passes in something like `/proc/3623/ns/net`, maybe you need to verify the `NETNSID` which is numeric, and which might map to a namespace with a name in `/run/netns`.

[2019-02-06 00:10] TomSweeneyRedHat commented on #2240
we call Buildah for building stuff, could we call rm too in error cases as a final hammer rather than telling the user to?

[2019-02-06 00:30] mheon commented on #2240
(We really ought to just drill into why c/storage is failing in these cases - it seems like making it more stable would be beneficial for all our tools)

[2019-02-06 10:23] ssbarnea opened #2276 "podman needs a remoting ability similar to DOCKER_HOST"
If podman is it be considered a drop-in replacement for docker cli, we also need to provide a way to run commands remotely.

Docker cli and also its python library (used by Ansible) is using `DOCKER_HOST=tcp://host:port` or even `DOCKER_HOST=ssh://host` starting with version 18.09 which is quite handy for doing operations remotely, especially from laptops where you may not want to run heavy tasks

[2019-02-06 13:55] KKoukiou opened #2277 "memory parameter for CreateContainer varlink API does not have any effect"
**Steps to reproduce the issue:**

1.  sudo varlink call unix:/run/podman/io.podman/io.podman.CreateContainer '{"create": { "name": "test", "image": "busybox","command": ["sh"], "resources": {"memory":1048576} }}'

2. sudo podman inspect --format '{{.HostConfig.Memory}}' test

**Describe the results you received:**
Verify that memory is not configured as expected but instead it's 0, which leads to

[2019-02-06 14:23] rhatdan commented on #2277
Thanks @KKoukiou for finding this bug.

[2019-02-06 14:23] rhatdan commented on #2277
Could you see if you could compile the patched version and if fixes your issue.

[2019-02-06 14:34] mheon commented on #2276
We're working on this at present (@baude and @jwhonce are working on porting Podman's CLI to allow it to be used with the Varlink API as well, allowing calls to remote systems)

[2019-02-06 14:50] rhatdan commented on #2276
Yes look at the podman_remote work.  We would love to have you play with it and see what you think

[2019-02-06 14:58] rhatdan commented on #2154
Any chance you could attempt a PR for this?

[2019-02-06 15:01] rhatdan commented on #2240
Are we sure that an error happened?  or was this a race condition.

[2019-02-06 15:02] mheon commented on #2240
@rhatdan Do you still have your reproducer? I'm expecting that we're getting errors out of c/storage, and we'd be printing them in that case

[2019-02-06 15:03] rhatdan commented on #2240
I am not crazy about requiring buildah to be installed to get us out of a state where the container image was accidently left around.

If I do a podman rm --force foobar, The user would expect the container to be removed and then be able to do
podman run --name foobar.

We can add documentation to podman rm --force foobar indicating that this will remove not only podman containers named foobar but

[2019-02-06 15:11] najamelan commented on #2154
I'm sorry, but my schedule won't allow me to work on this right now, also given that I have never developed in go, that it requires some research to make a correct implementation for this, it would cost me to much time to try and fix this... If no dev resources become available over the next month at Redhat, I could reconsider mid March...

[2019-02-06 15:12] cjeanner commented on #2265
Hello there,

While you're talking about logging - the "json-file" log-driver doesn't output actual JSON.
It looks like a simple copy of the standard ```/var/lib/containers/storage/overlay-containers/CONTAINER_ID/userdata/ctr.log```...

Care to have a look at it as well?

Cheers,

C.

[2019-02-06 15:18] haircommander commented on #2265
@cjeanner haha yes I have found that as well. For the time being I have opted to work on changing the language to 'kubernetes-log-file' rather than 'json-file'. If there is a reasonable use-case and demand for a json file output I will look into it, but currently all that is being logged is the container stdout, for which I think kubernetes-log-file is appropriate

[2019-02-06 15:28] cjeanner commented on #2265
@haircommander uhu - well, I would think a valid use-case would be "send logs to some (k)elk infra", as json is a far more compatible format for such things...
In my current case, I don't have such usage, but still... It's kind of surprising to get a non-JSON when asking a JSON ;).

Anyway - journald support would be really nice as well :).

[2019-02-06 15:59] KKoukiou commented on #2277
@rhatdan I confirm it works with the patch. Thanks!

[2019-02-06 18:41] rhatdan commented on #746
We don't support Docker-compose, so I am not sure how much of it is talking to the docker socket versus executing the command.  POdman is a replacement for the Docker CLI, not the Docker engine API.
We do have podman varlink for a remote API, but it does not follow the Docker API.

[2019-02-06 22:15] #2217 closed

[2019-02-06 22:44] #2208 closed

[2019-02-06 22:52] filbranden opened #2285 "Feature request: Relay runc logs to podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When passing podman a `--log-level debug` or similar setting, it would be great if it could collect the `runc` logs and show them together with the podman logs.

**Steps to work around the issue:**

It is possible to collect `runc` logs, but that needs a wrapper and logs the runs to separ

[2019-02-07 02:16] mheon commented on #2285
We have Conmon holding open stdin/out/err on the runc process, so we do have a monitor process that could potentially collect the logs. I don't know whether we'd want to force runc debug logging with --log-level=debug, though, it would make our lives a lot harder when tracking down pure Podman issues. I wouldn't mind adding this, but I think it would need to be an opt-in flag to enable runtime deb

[2019-02-07 03:00] filbranden commented on #2285
Separate flag is just fine: `--runtime-log-level` perhaps?

I can give you more context on what I'm doing and how I'm bumping into issues with runc (so you can even reproduce this if you like.)

runc doesn't support cgroupv2 only (this is what I'm working to fix right now), so booting the system with `systemd.unified_cgroup_hierarchy=1` will make runc break.

After seeing podman fail, I re-ran it

[2019-02-07 09:17] #2277 closed

[2019-02-07 14:56] wking commented on #2265
Cross-referencing kubernetes-sigs/cri-o#377.

[2019-02-07 15:32] rhatdan commented on #2285
It could also be a libpod.conf option. That says whether to pass the debug option if set to the OCI runtime.

[2019-02-07 15:35] mheon commented on #2285
I was thinking the same. Maybe a more generic "runtime flags" option to set custom flags on all runtime invocations?

That doesn't get us the ability to log the actual messages as they occur, but it would allow making logfiles.

[2019-02-08 11:39] apevec commented on #2081
I tried this using podman-1.0.1-1549574078.git962850c6.fc29.x86_64 from baude/Upstream_CRIO_Family COPR:
$ podman --log-level=debug run --name thelounge --publish 9000:9000 --volume ~/.thelounge:/var/opt/thelounge thelounge/thelounge:3.0.0-alpine

...
DEBU[0000] Created container 56af61555d6e138f0ee4bea5fbc124ef3fb14df638244bb2837e963a6737821d in OCI runtime
DEBU[0001] Cleaning up container 56af61

[2019-02-08 12:06] giuseppe commented on #2081
@apevec what version of slirp4netns are you using?

[2019-02-08 12:17] giuseppe commented on #2285
I agree on a generic "runtime flags", as probably `--log` is not part of the OCI runtime, so it will break other runtimes.

I've opened a PR for conmon to accept arguments to pass to the OCI runtime:

https://github.com/kubernetes-sigs/cri-o/pull/2062

once that lands, we can add support for additional runtime args to Podman

[2019-02-08 12:53] giuseppe commented on #2285
an interesting hack that is possible with this feature, is that an user can specify:

`--runtime-arg --debug --runtime-arg --log=/dev/stdout`

then gets the runtime debug log with:

`podman logs $CONTAINER`

[2019-02-08 13:32] apevec commented on #2081
a-ha, that was it!
baude/Upstream_CRIO_Family/ does not include updated slirp4netns so it was the one from F29: slirp4netns-0.1-2.dev.git0037042.fc29.x86_64

Works with v0.3.0-alpha.2 !

I've send https://src.fedoraproject.org/rpms/slirp4netns/pull-request/1
and podman might now need Recommends: slirp4netns >= 0.3.0
CC @lsm5

[2019-02-08 18:14] KKoukiou opened #2293 "Varlink SeachIMage API does not have argument to configure if it should require https or not"
/kind feature

**Description**
Varlink SeachIMage API does not have argument to configure if it should require https or not.

**Steps to reproduce the issue:**

1. Configure an insecure registry

2.  varlink call unix:/run/podman/io.podman/io.podman.SearchImage '{"name": "busybox"}'
Error: Call failed with error: io.podman.ErrorOccurred
{
  "reason": "couldn't search registry \"localhost:5000\": p

[2019-02-08 19:32] filbranden commented on #2285
I can definitely live with that :-)

One downside of specifying an external log file (e.g. `--log /tmp/runc.log`) is that `podman` will call `runc` twice (at least in my experiment) so I'm concerned about the log file being overwritten at some point... (Haven't really looked at whether the log file is opened for append or whether it's truncated...) The `/dev/stdout` "hack" looks good enough for me

[2019-02-08 23:10] baude commented on #2246
if someone wants to try -> https://github.com/containers/libpod/pull/2297

[2019-02-09 00:52] TomSweeneyRedHat opened #2299 "Can't run single e2e test per contributing doc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When attempting to run a single test, errors are raised in libpod_suite_test.go

[code]

**Steps to reproduce the issue:**

See description

**Describe the results you received:**
See description

**Describe the results you expected:**

Test to complete or at least run.

**Additional informati

[2019-02-09 02:01] baude commented on #2299
add in test/e2e/common.go

[2019-02-09 05:48] wking opened #2301 "'podman run --volume .:/whatever' panics (relative path source)"
/kind bug

**Description**

I naively passed a relative path source into `--volume` and panicked `podman`.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

I expected this to mount the current working directory into the container.

**Additional information you deem important (e.g. issue happens only occasionally):**

Reading [this comment][1], I see that I should

[2019-02-09 12:14] #2246 closed

[2019-02-09 12:49] #2238 closed

[2019-02-09 13:33] mheon commented on #2301
Wow. We appear to have successfully errored they this is not a valid named
volume, but then proceeded to try and use the nil pointer we got back and
then segfaulted. I'll take a look, probably a missed error return somewhere.

On Sat, Feb 9, 2019, 00:48 W. Trevor King <notifications@github.com wrote:

[2019-02-09 15:11] rhatdan commented on #2301
https://github.com/containers/libpod/pull/2229 should fix this issue.

[2019-02-10 13:07] ikke-t opened #2303 "generate kube with containers having volumes"
/kind feature

**Description**

I was trying to create Ansible AWX pod with few containers in it and export it as kube yaml. I succeeded putting containers into pod, but "podman generate kube awx" fails due not implemented volume export. So I can't export such pod into yaml.

**Steps to reproduce the issue:**

1. Generate pod ( --name awx)

2. add containers into pod with -v /tmp/volume:/volume:z

[2019-02-10 13:21] ikke-t opened #2304 "generate kube fails with: no matching entries in passwd file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I try saving AWX pod with four containers into yaml. ```podman generate kube awx``` fails to generate awx.yaml.

[code]

**Steps to reproduce the issue:**

1. generate pod

2. add four containers into it

3. do ```sudo podman generate kube awx```

**Describe the results you received:**

[code

[2019-02-10 13:43] rhatdan commented on #2293
@KKoukiou could you try https://github.com/containers/libpod/pull/2305 and see if it fixes your issue?

[2019-02-10 16:35] baude commented on #2304
ok, i am able to replicate ... it is something specific with the images or containers.

[2019-02-10 16:47] baude commented on #2304
@mheon , what would case c.state.Mount to return "" when the container is running? I can see it in mounts as well.
[code]

[2019-02-10 16:50] baude commented on #2303
@ikke-t thanks for the issue, as you can see, we haven't implemented volumes for generate yet.  perhaps you can help with some feedback ... can you describe your use case and what are your expectations on the Kubernetes side (besides saying it just works).  should the yaml describe the volume, create it, etc?

[2019-02-10 17:15] mheon commented on #2304
That shouldn't be possible - definitely a bug. We might be missing a Save() on container state somewhere.

[2019-02-10 17:15] baude commented on #2304
@mheon ok, lets discuss monday

[2019-02-10 17:25] baude commented on #2212
finally found the culprit is in image.go:360 ... putting this here for when I pick it up again.

[2019-02-10 17:38] ikke-t commented on #2303
Damned this became long story. TL;DR: I wanted to save pod+containers as yaml to create ansible template out of AWX. Totally personal selfish reason, scratching my own itch.

---

I'm happy to do so :)  I'll explain my use case. I have been running Ansible AWX at home for practising at the beginning, and later on just keeping up my personal systems at home and some demo environments. I was also su

[2019-02-10 22:03] baude commented on #2303
@ikke-t thanks for the information.  it is helpful that you took the time as it helps me understand what folks are trying to do and why.  Would you mind clarifying with a little verbosity this one statement in your excellent response?

[code]

[2019-02-11 06:09] ikke-t commented on #2303
With that one I need guidance in deed :)

This is my temp hack to see what AWX installer does with docker install. I modified this:

https://github.com/ansible/awx/blob/devel/installer/roles/local_docker/tasks/standalone.yml

to be run with podman, until I couldn't figure out how to get the exposed port to get visible from host:

[code]

Never mind the playbook being ugly, I just try to get the co

[2019-02-11 06:13] ikke-t commented on #2303
btw, the container and pod inspect are printed out in case #2304

[2019-02-11 06:14] ikke-t commented on #2304
if you want to see how pod is created, the ansible is in #2303

[2019-02-11 10:19] KKoukiou commented on #2293
@rhatdan No it does not work. Now tls-verify always defaults to true not matter what I pass as argument.

my-ubuntu is an insecure registry, the first command should fail to find the image.

[code]

[2019-02-11 10:25] KKoukiou commented on #2293
Also I think the API.md doc file should be updated accordingly, no?
https://github.com/containers/libpod/blob/master/API.md#func-searchimage
And if possible, add in the API docs what is the default value (true, false) for the tls-verify.

[2019-02-11 10:39] KKoukiou commented on #2293
So, I found that the issue was here that I had the registry listed in insecure registries, so somehow parameter was not taken into effect.

I think we should always respect the passed args however. and have the exact same behavior as the cli.

[code]

[2019-02-11 13:26] edsantiago commented on #2212
Comparison of podman vs podman-remote behavior:
[code]

[2019-02-11 14:19] greg-hydrogen commented on #2150
I did forget to mention that after rebooting and performing the same activity as above it works, anything I can assist with?

[2019-02-11 14:48] markmc commented on #1719
See containers/image#584

Quickly checking out testing options, it looks like the skopeo integration tests might exercise to two existing isManifestInvalidError() cases? So the right thing to do would be to somehow add a test registry that emulates ECR's buggy behavior?

[2019-02-11 14:54] mtrmac commented on #1719
I wouldn’t bother — if we are going to fake a non-realistic registry, faking a very limited amount of data for `isManifestInvalidError` would give us exactly the same information, and would be much easier to implement.

Having a long-term integration test that works against the current version of ECR as it is being deployed in practice would be nice, but that’s another thing entirely, and absolute

[2019-02-11 14:57] markmc commented on #1719
On Mon, Feb 11, 2019 at 2:54 PM Miloslav Trmač <notifications@github.com>
wrote:

Cool - I'm not sure what that would look like either, but if you have any
hints where to plug such a test in, I might get to it

[2019-02-11 15:00] mtrmac commented on #1719
Add a c/image/docker/docker_image_dest_test.go with a simple Go unit test for that function, nothing fancy.  (As you can see, there isn’t a unit test for the other cases, so it is not fair to block https://github.com/containers/image/pull/584 on adding a unit test for the new case either.  Just please say whether you plan to do so, so that I can merge it now or wait.)

[2019-02-11 15:02] #2258 closed

[2019-02-11 15:08] markmc commented on #1719
On Mon, Feb 11, 2019 at 3:00 PM Miloslav Trmač <notifications@github.com>
wrote:

Thanks. No immediate time to get to it, so I wouldn't wait.

[2019-02-11 15:10] mtrmac commented on #1719
Should be fixed in c/image by https://github.com/containers/image/pull/584 .

[2019-02-11 15:43] TomSweeneyRedHat commented on #2299
Closed via #2302

[2019-02-11 15:43] #2299 closed

[2019-02-11 16:22] #2304 closed

[2019-02-11 17:01] apevec commented on #2081
BTW for anyone testing with baude/Upstream_CRIO_Family COPR, after enabling it you need to run

# dnf downgrade podman-1.0.1

since Fedora podman RPM has Epoch: 1 and COPR build doesn't.
This also means COPR build will be replaced by regular Fedora one after next dnf update
CC @baude

[2019-02-11 19:01] edsantiago opened #2312 "rootless: readonly volume mount fails with unhelpful diagnostic"
[code]
If run with -it, the error message is even less helpful:
[code]
There is no AVC in either case. Running with `--log-level=debug` produces no useful output (i.e. nothing different from a successful run). Removing `:ro` yields success.

podman-1.0.0-1.git82e8011.fc29 and runc-1.0.0-67.dev.git12f6a99.fc29 ; kernel 4.19.8-300.fc29.x86_64

Unfortunately I can't reproduce on a fresh virt.

[2019-02-11 19:02] mheon commented on #2312
I think we may have fixed this already on master

[2019-02-11 19:05] carlwgeorge commented on #2246
That pull request didn't apply cleanly to 1.0.0, but I was able to massage it a bit and [backport it as a patch](https://copr-dist-git.fedorainfracloud.org/cgit/carlwgeorge/podman/podman.git/tree/do-not-crash-when-displaying-dangling-images.patch?h=f29) for the Fedora 29 package in a [copr repo](https://copr.fedorainfracloud.org/coprs/carlwgeorge/podman/).  I'm happy to confirm that it does resolv

[2019-02-11 19:38] edsantiago commented on #2312
I just built from 112a5ab2 and am still seeing the same problem.

[2019-02-11 21:59] baude commented on #2246
ty for the confirmation!

[2019-02-11 23:50] larskarlitski opened #2314 "varlink: BuildImage() call is not remotable"
The `BuildImage()` call takes a path to a local Dockerfile. This makes this API essentially non-remotable, because before calling it from a different machine, the file needs to be placed onto the local file system via a different API (such as ssh).

I suggest putting the contents of the Dockerfile into the string instead of a filename.

[2019-02-11 23:52] baude commented on #2314
@larskarlitski hang tight, i am sitting on a PR for all of this.  I just want the output to be a little better than sit and wait as it is today which is why I was asking questions about wantmore.  I just need an answer and the PR will be submitted.

[2019-02-11 23:54] larskarlitski commented on #2314
Nice! Thanks for working on this :)

[2019-02-11 23:58] baude commented on #2314
@larskarlitski if the API isn't what you'd like after that PR goes in, lets collab and make it so.

[2019-02-12 14:02] cjeanner commented on #1703
@mheon I guess we can close this issue now since you merged #2273 ?

[2019-02-12 14:06] cjeanner commented on #1925
hello @mheon - any news? We have a really ugly work-around, and would really appreciate something more "nice" :).

[2019-02-12 14:11] mheon commented on #1925
I'll bump it up the to-do list again, but no promises - things consistently keep managing to explode and require attention.

[2019-02-12 14:22] mheon commented on #1703
Yes. Good call.

[2019-02-12 14:22] #1703 closed

[2019-02-12 14:25] cgwalters commented on #713
This would be very useful for us in building Red Hat CoreOS; see https://github.com/openshift/origin/pull/21998#issuecomment-461943604

[2019-02-12 15:10] cgwalters opened #2317 "Copy flatpak's approach to trusting host CA certs"
See https://github.com/flatpak/flatpak/pull/1757

We should debate whether it's opt-in (`--host-ca-certs`) or opt-out (`--disable-host-ca-certs`).  The argument for having this opt in is theoretically it's an information leak from the host that some people may not want.  But the argument for having it opt out is...I think almost every "normal" use of podman would want this.

[2019-02-12 15:59] #2260 closed

[2019-02-13 02:02] baude commented on #2241
I actually now thing podman is behaving correcting, and certainly is behaving as docker does.  When the tag is omitted, the assumption is the tag is latest.  And therefore, localhost/busybox/base != localhost/busybox/base:1.29.3 and therefore should not be displayed.  @mtrmac do you agree with my assessment?

[2019-02-13 02:04] baude commented on #2215
@edsantiago the PR did returned a map of ids and mounts. is this sufficient?

[2019-02-13 02:04] baude commented on #2189
@TomSweeneyRedHat what do i need to do here to close this issue

[2019-02-13 02:05] baude commented on #2276
can we close this issue unless there is a specific problem? have you had a chance to peek at the remote-client?

[2019-02-13 02:10] baude commented on #1963
This is now fixed upstream in the master branch.

[code]
closing for now... re-open if you disagree

[2019-02-13 02:10] baude commented on #1927
@rhatdan @QiWang19 are we at a point now where we can close this?

[2019-02-13 02:13] baude commented on #2009
someone is working on the packaging for debian ... given that this issue is resolved I am going to close it. if the packaging is not correct for debian when that work is done, bugs should be lodged against debian.

[2019-02-13 02:13] #2009 closed

[2019-02-13 02:15] baude commented on #1404
closing per @rhatdan 's comments

[2019-02-13 02:15] #1404 closed

[2019-02-13 02:16] baude commented on #1553
i believe we have this satisfied now, re-open if you feel differently and update the issue

[2019-02-13 02:16] #1553 closed

[2019-02-13 02:57] edsantiago commented on #2215
@baude I had hoped for a list as described in my comment on that PR, but this will probably work. Thanks again for your work on it.

[2019-02-13 02:57] #2215 closed

[2019-02-13 05:56] nitkon opened #2324 "`make localunit` fails with ImportError: No module named 'yaml'"
`make shell` followed by `make localunit` fails inside the shell:

[code]

root@e9a48f3368e8:/go/src/github.com/containers/libpod/contrib/cirrus/packer# pip install pyyaml
Requirement already satisfied: pyyaml in /usr/local/lib/python2.7/dist-packages
root@e9a48f3368e8:/go/src/github.com/containers/libpod/contrib/cirrus/packer# make test
Traceback (most recent call last):
  File "<string>", line 1

[2019-02-13 07:01] rhatdan commented on #1927
Yes closing

[2019-02-13 07:01] #1927 closed

[2019-02-13 10:27] bogdando opened #2325 "[RFE] Show versions of cross-vendored components (libpod/podman/buildah) for foo info"
/kind feature

**Description**

In order to improve debugging experience with podman/buildah tooling, please make sure:

* podman info shows the vendored versions of the common libs to buildah, like libpod, and buildah itself
* buildah info shows the vendored versions of the common libs to podman, like libpod and whatnot.

**Steps to reproduce the issue:**

Install podman and buildan from sources

[2019-02-13 10:32] vrothberg commented on #2325
Hi @bogdando, thanks a lot for opening this issue. Have you tried out `podman info --debug`? It should display the information you are seeking.

[2019-02-13 10:40] bogdando commented on #2325
@vrothberg tbh, I didn't. Just posted this issue in order to make sure that a) ``buildah info --debug`` covers cross-vendored things as well, b) the issues submitting form asks for both commands outputs when its needed

[2019-02-13 10:43] vrothberg commented on #2325
I concur with you @bogdando, the issue form should ask users to run `podman info --debug`. @baude @mheon @TomSweeneyRedHat WDYT?

[2019-02-13 13:21] mheon commented on #2325
Agree, better too much than too little

On Wed, Feb 13, 2019, 05:43 Valentin Rothberg <notifications@github.com
wrote:

[2019-02-13 14:54] TomSweeneyRedHat commented on #2189
Sometimes I love GitHub, I know I wrote more than just a title for this.

In short I was unable to run the Ginkgo tests based on the README.md, I also ran into other issues.

`make localunit` is failing for me with a fresh libpod install.  Not sure if that's expected, but it should be noted if so.

This command also throws up some errors when run:  `GOPATH=~/go ginkgo -v test/e2e/.`.  It completes

[2019-02-13 15:06] giuseppe commented on #2312
I am taking a look

[2019-02-13 15:52] cevich commented on #2324
IIRC, it's the python 3 PyYAML that is required, which reminds me.  Did you read any docs that should have mentioned this?  (wouldn't surprise me)

[2019-02-13 16:20] giuseppe commented on #2312
it looks like a bug in runc.

To verify it, I've tried another runtime:

[code]

[2019-02-13 16:33] edsantiago commented on #2312
I'm really confused now because I have two systems, one that reproduces the failure and one that works cleanly, and both have `runc-1.0.0-67.dev.git12f6a99.fc29.x86_64`

[2019-02-13 16:44] giuseppe commented on #2312
is there any difference between the two systems?  Same kernel?

[2019-02-13 16:48] edsantiago commented on #2312
Lots of differences in installed packages; I've been trying to reduce that, but no luck.

Kernels that fail: 4.19.8-300.fc29, 4.20.3-200
Kernels that pass: 4.18.16-300, 4.20.6-200

[2019-02-13 16:56] giuseppe commented on #2312
it fails on `4.20.6-200.fc29.x86_64` and `runc-1.0.0-67.dev.git12f6a99.fc29.x86_64` as well

[2019-02-13 16:58] edsantiago commented on #2312
Not for me. That seems to eliminate kernel as the source of the problem. (I just tested on 4.20.7-200.fc29; pass)

[2019-02-13 17:07] baude commented on #2325
I want to say this was put behind debug by request.  might want to ask @rhatdan

[2019-02-13 17:09] edsantiago commented on #2312
@giuseppe what's your `~/.config/containers/storage.conf` ? Mine is:
[code]
I've also tried `driver = "vfs"` with `mount_program = ""`. No difference. (I've also tried on LVM $HOME vs non-LVM; no difference)

[2019-02-13 17:10] baude commented on #2168
is this fixed now ??

[2019-02-13 17:13] baude commented on #414
closing as nothing appears to impact podman, re-open on a different component if needed

[2019-02-13 17:13] #414 closed

[2019-02-13 17:14] baude commented on #1891
whats the deal here fellas?

[2019-02-13 17:28] edsantiago commented on #2168
infinite-loop test for 15 minutes doesn't reproduce (with podman from master of a few days ago). It used to hang pretty quickly, so I'll call it fixed. Thanks.

[2019-02-13 17:28] #2168 closed

[2019-02-13 17:40] giuseppe commented on #2312
@edsantiago it is exactly the same, just different UID and home directory.

[2019-02-13 17:46] adrianreber commented on #1891
All checkpoint/restore tests are enabled on the F28, F29 and Ubuntu test runs. RHEL7 not yet, as its CRIU is still too old and so the tests are automatically skipped. Closing this now, as it is no longer a problem.

[2019-02-13 17:46] #1891 closed

[2019-02-13 18:20] #2175 closed

[2019-02-13 18:27] #2324 closed

[2019-02-13 19:07] mtrmac commented on #2241
**docker-images**(1) explicitly documents that _repository_ without a _tag_ lists all images in the named repository.

[2019-02-13 19:09] mtrmac commented on #2241
… and this is what I see in my testing as well.

When naming a _single image_, the `:latest` tag tends to be assumed, but it’s up to every subcommand to define the syntax of semantics of its arguments, whether that is an image name, path to a local file, or a repository, or anything else. `docker images` just chose not treat its argument as a single image name.

[2019-02-13 20:30] #846 closed

[2019-02-13 21:40] #1842 closed

[2019-02-13 21:45] baude commented on #1840
the remote-client for osx is coming along nicely ... i have a PR waiting for merge that will allow for image building from an osx box backended by a linux box running podman.

[2019-02-13 21:46] baude commented on #1826
where are we on this?

[2019-02-13 21:47] baude commented on #1516
is this an issue anymore? can we close?

[2019-02-13 21:48] mheon commented on #1516
We might want to add the fuse-overlayfs mount option back to our defaults, the malformed configs are going to keep biting us otherwise

[2019-02-13 21:49] baude commented on #1883
where do we stand with this? OSX folks, please give the remote client a try ...

[2019-02-13 21:50] mheon commented on #1826
@rhatdan was working on a PR to move the DB inside the storage driver-specific directories to allow use of multiple drivers. Unfortunately that's a breaking change, so I think it's stalled

[2019-02-13 21:53] baude commented on #2157
nudge, are we good to go?

[2019-02-13 21:53] rhatdan commented on #1826
https://github.com/containers/libpod/pull/1847
For some reason I can not get it to pass all tests...

[2019-02-13 21:54] baude commented on #1636
can we close this?

[2019-02-13 21:55] #1640 closed

[2019-02-13 21:56] #1636 closed

[2019-02-13 23:10] ssbarnea commented on #1840
@baude Now the big question is if we can implement a portable drop-in replacement for docker that would be mostly compatible with docker and run on both linux and macos (as long client is configured to point to a remote host). I will be very happy to test the remoting capability.

I am asking this because at this moment users can easily run `docker build|run|ps` on any of these platforms so tools

[2019-02-14 12:08] alanorth commented on #2081
@apevec I confirm port bindings working with rootless containers on podman 1.1.0 git with slirp4netns v0.3.0-alpha2 on Arch Linux (custom local PKGBUILDs). Looking forward to all this getting into stable releases!

[2019-02-14 13:14] rhatdan commented on #2325
I don't recall doing that.  MY podman info shows

[code]
I think we should make sure that the next version of podman only uses a non -dev branch of buildah.

[2019-02-14 13:16] adrianreber opened #2334 "SELinux denial when checkpointing a container"
When I try to checkpoint a container on Fedora 29 or RHEL8 with the latest available podman package I get the following SELinux denial:

[code]

The same steps are running in CI every time successfully, so something is different during CI and when actually using it. The `connectto` is coming from CRIU's parasite code which is injected in the destination process trying to talk to the main CRIU bina

[2019-02-14 14:45] mheon commented on #2334
@rhatdan PTAL

[2019-02-14 21:11] TomSweeneyRedHat opened #2337 "Man page missing for podman checkpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unless I'm having one of those days, there's not man page for `podman checkpoint` and one is needed.

podman v1.0

[2019-02-14 21:14] adrianreber commented on #2337
There is one here: https://github.com/containers/libpod/blob/master/docs/podman-container-checkpoint.1.md

Maybe it is confusing because it is only available under the 'podman container' namespace. Should this be done differently?

[2019-02-14 21:31] #613 closed

[2019-02-14 21:38] TomSweeneyRedHat opened #2338 "Man page missing for podman sign"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We don't appear to have a man page for `podman sign` and need one.

[2019-02-14 21:48] TomSweeneyRedHat opened #2339 "Man page missing for podman trust show"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We've no man page for `podman trust show` and need one.

[2019-02-14 22:49] TomSweeneyRedHat commented on #2337
@adrianreber probably my bad, I think that's right and I'd forgotten this one was listed that way.  Let me think about it overnight, but I think I'll just leave it as is.

[2019-02-15 04:59] thawkins opened #2342 "very simple Dockerfile build fails"
simple yum install on centos:6.9 fails on podman but not on docker

3 Files in directory ./test

[code]

[2019-02-15 05:34] thawkins commented on #2342
same problem is in 'master'

[thawkins@timdev05 cd-php5.3]$ podman version
Version:            1.0.1-dev
RemoteAPI Version:  1
Go Version:         go1.11.5
Git Commit:         81ace5caaca844eda4be48245590ea54bdd0cba3
Built:              Fri Feb 15 13:28:41 2019
OS/Arch:            linux/amd64
[thawkins@timdev05 cd-php5.3]$

[2019-02-15 08:44] larskarlitski opened #2343 "SearchImage() varlink API returns fewer results than `podman search`"
/kind bug

For example, `podman search busybox` returns 50 results, but `varlink call unix:/run/podman/io.podman/io.podman.SearchImage '{"name":"busybox"}'` returns only 2. I suspect the former also searches descriptions.

podman version 1.0.0

[2019-02-15 08:48] larskarlitski opened #2344 "SearchImage() varlink API doesn't return information about the registry"
/kind feature

`podman search` outputs the name of the registry:
[code]

The `SearchImage()` call doesn't:
[code]

This would be useful for cockpit-podman, which would like to show this information when searching for images.

podman version 1.0.0

[2019-02-15 08:52] larskarlitski opened #2345 "Searching for images is slow"
/kind feature

@garrett investigated performance for searching images: https://github.com/cockpit-project/cockpit-podman/issues/55.

cockpit-podman would benefit from
* `SearchImages()` running searches in parallel
* `SearchImages()` returning results as soon as they're available
* `SearchImages()` to be able to filter by registry

podman version 1.0.0

[2019-02-15 09:58] #2293 closed

[2019-02-15 10:56] giuseppe commented on #2342
It looks like you are running in rootless mode.  Can you try with: https://bodhi.fedoraproject.org/updates/FEDORA-2019-c971e221e8 ?

We had some fixes related to "ulimit -n" for the unprivileged fuse-overlayfs.  I think this is what you are hitting

[2019-02-15 12:16] SergeyBear opened #2347 "Problem with 'podman --storage-driver vfs' in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When unprivileged user switch from default 'overlay' to 'vfs' with podman using '--storage-driver' error occur:

[code]

Same command with buildah works well.

I'm running container with centos 7 and buildah to build images, so vfs is my only choice.
Switching host to vfs is a stap back in pe

[2019-02-15 12:53] giuseppe commented on #2342
I am hitting the same error, investigating it

[2019-02-15 13:25] mheon commented on #2347
This is actually intended, to prevent accidental misconfigurations from
rendering images and containers unusable. Any containers created using the
old driver will be unusable once you switch to VFS.

The current solution is to delete ~/.share/containers to wipe the libpod DB
and start fresh. I believe @rhatdan is working on an alternative that will
not require manual removal, but it's not ready ye

[2019-02-15 13:28] jgillich opened #2349 "Podman is unable to create a pod when running as a regular non-root user"
/kind bug

**Description**

Podman is unable to create a pod when running as a regular non-root user.
1. `$ podman pod create --name foobar`

**Describe the results you received:**
[code]

**Describe the results you expected:**

Podman should create the pod.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of

[2019-02-15 13:36] rhatdan commented on #2157
Reopen if @mheon is incorrect.

[2019-02-15 13:36] #2157 closed

[2019-02-15 13:55] SergeyBear commented on #2347
As I understand while recreating of storage is required, using '--storage-driver' in podman is pointless? Because more efficient is to change config parameter instead of adding '--storage-driver' in every command.

P.S. When I use buildah with '--storage-driver' it seems that it behaves quite well when overlay and vfs mixed in single storage.

P.P.S. I'm trying to use buildah in containers based o

[2019-02-15 13:57] SergeyBear commented on #2347
Hm... I could try to mix '--storage-driver' and '--root' and mount vfs storage to different path and use it on next builds...

[2019-02-15 14:08] SergeyBear commented on #2347
Yep! That worked! Now I can switch between storages per command basis:

[code]
P.S. Buildah and podman rocks!!! Thank you!

[2019-02-15 14:11] mheon commented on #2349
@giuseppe I think this is the RO volumes bug again, but I'm not 100% on that.

[2019-02-15 14:12] mheon commented on #2349
@jgillich Assuming I'm correct, this is fixed upstream, but we'll double-check

[2019-02-15 15:45] rhatdan commented on #2334
We removed this service, because it is a huge security hole.  Allowing this access would allow a container process to gain access to the docker.sock and create a --privileged root running container.

The way to fix this is for the tool creating the socket to label it with the containers label or at least
container_t:s0

label.SetSockLabel($CONTAINERPROCESLABEL)
CreateSocket()

This would then requ

[2019-02-15 15:50] TomSweeneyRedHat opened #2351 "Rework internals of podman pull --all-tags"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Creating a quick issue so I don't lose track.  @mheon commented on ways to make the `podman pull --all-tags` functionality more efficient in https://github.com/containers/libpod/pull/2188.  This issue is being created to make sure that work gets done.

**Output of `podman info`:**

[code]

[2019-02-15 15:52] giuseppe commented on #2349
@mheon yes you are right, this is the ro rootfs issue, that is fixed upstream.   I've just verified and it works well for me.

[2019-02-15 16:05] mheon commented on #2349
@jgillich With any luck, we'll be cutting a 1.1.0 release today that will include the fix, so you should see that in Silverblue... probably sometime next week?

[2019-02-15 16:06] jgillich commented on #2349
That's great, thank you!

[2019-02-15 16:06] #2349 closed

[2019-02-15 16:23] jgillich opened #2352 "Repeated builds produce base images"
/kind bug

**Description**

When building a Dockerfile, the first build succeeds, but the every build after that produces an image that appears to be identical to the base image, missing any changes specified in the Dockerfile.

**Steps to reproduce the issue:**

1. Use this Dockerfile:
[code]

2. podman build -t node1 -f Dockerfile

3. podman run --rm node1 node -v

4. podman build -t node2 -f Do

[2019-02-15 17:35] mheon commented on #2352
@TomSweeneyRedHat PTAL

[2019-02-15 18:41] giuseppe commented on #2342
Opened a PR here: https://github.com/containers/fuse-overlayfs/pull/46

@thawkins if you have a chance, could you try if it solves the error for you?

You can temporarily tweak the path to fuse-overlayfs from `~/.config/containers/storage.conf`, so you don't need to install it

[2019-02-15 18:56] #2342 closed

[2019-02-15 18:59] rhatdan commented on #2352
If you turn off caching does it work?

[2019-02-15 19:06] jgillich commented on #2352
Yes, without caching it works.

[2019-02-15 19:12] rhatdan commented on #2352
@umohnani8 PTAL

[2019-02-15 19:16] rhatdan commented on #1840
@ssbarnea Could you start playing with what we got.  @baude has just merged podman build support, although install and running will be a little lacking, we would love to have your feedback.

[2019-02-15 19:30] rhatdan commented on #2338
I see `man podman-image-sign`
We don't have a podman sign.

[2019-02-15 19:30] #2338 closed

[2019-02-15 19:31] rhatdan commented on #2339
man podman-image-trust
We don't have a podman trust command.

[2019-02-15 19:34] rhatdan commented on #2337
Yup no podman checkpoint only podman container checkpoint.

[2019-02-15 19:34] #2337 closed

[2019-02-15 19:51] TomSweeneyRedHat commented on #2339
I'm going to reopen this one, yes we've the man page for this and the other two, but they're not listed on podman(1) and should be.

[2019-02-15 19:54] rhatdan commented on #2345
@vrothberg Since you are our parallel speed guy could you look into this.
Would be helpful for podman search as well.
Perhaps we could do this for podman pull as well.
Fire off threads for every registry rather then waiting for each to fail.  Problem with this would be if two had images of that name, we would not want to pull both.

[2019-02-15 20:07] TomSweeneyRedHat commented on #2352
FWIW, my first test with upstream and I wasn't able to replicate, trying further tests.

[2019-02-15 20:18] rhatdan commented on #2344
This command against master branch brings back a ton of data.

varlink call unix:/run/podman/io.podman/io.podman.SearchImages '{"query":"busybox"}'

[2019-02-15 20:22] jgillich commented on #2352
@TomSweeneyRedHat Are you referring to the development version or 1.0? My system runs Silverblue in case it matters, I'll try to reproduce on an atomic VPS...

[2019-02-15 20:48] TomSweeneyRedHat commented on #2352
@jgillich I tried it first on my test/build vm which is a bit wonky at times, but it usually has the latest from upstream GitHub on it.  It worked there.

I tried on a fresh Fedora VM with Podman v1.0 on it and I ran into the same error running as root, so I think the issue isn't related to root/non-root user.  I installed Podman from upstream GitHub on that fresh VM and now the error isn't happei

[2019-02-15 20:59] dmend opened #2355 "Adding a container to a pod does not configure network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempting to add a new container to an existing pod results in the container not having any networking configured.

**Steps to reproduce the issue:**

1. `podman pod create --name testpod`

2. `podman --log-level=debug run --rm -it --pod testpod centos /bin/bash`

**Describe the results you

[2019-02-15 21:29] jgillich commented on #2352
Yes, I can confirm, it's working in master. Thanks!

[2019-02-15 21:29] #2352 closed

[2019-02-15 22:04] mheon commented on #2355
Running as root or without?

[2019-02-15 22:07] baude commented on #2355
took a look at this with root ... my finding is that when adding a container to a pod, /etc/resolv.conf is not being passed ... networking actually appears to be intact.  i observe this when the pod is created and joined AND when the pod is created as part of run.

ill slap the debugger on and see if i can see why it misses that sometime soon

[2019-02-15 23:52] dmend commented on #2355
Running as root.

[2019-02-16 02:39] baude commented on #2355
maybe a clue ... bind mount with incorrect permissions?
[code]

[2019-02-16 03:00] mheon commented on #2355
We should theoretically be grabbing DNS configuration from the infra container in this case (to ensure the pod shares network configuration), but we shouldn't actually be doing anything with its resolv.conf - we just read its DNS config out of the database and use it. So I'm not 100% on why we're seeing this.

I wonder if this also occurs with `--net=container` (and no pod)

[2019-02-17 12:43] rhatdan commented on #2339
We don't currently list the subcommands of subcommands in podman man page.

podman container exists for example is not listed.

[2019-02-17 13:19] rhatdan commented on #2355
The /etc/resolv.conf and /etc/hosts of the pod should be shared between all of the containers within the pod.  Similarly if you share the network between two containers they should share the same hosts and resolv.conf file.

[2019-02-17 13:53] iNecas opened #2356 "Missing ip address with rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. follow https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md#familiarizing-yourself-with-podman

2. as part of the tutorial, run

[code]

3. `podman inspect -l | grep IPAddress\"`

**Describe the results you received:**
[code]

[2019-02-17 13:56] iNecas commented on #2356
FYI running with `sudo` works, because it's not using `slirp4netns` mode in that case. I would however like to avoid running as root, if possible (and my understanding is it should be possible with podman)

[2019-02-17 14:00] mheon commented on #2356
@giuseppe should we just use the host's IP for inspect in the slirp4netns
case?

Then again, I don't think we do that for net=host, so maybe just
documenting it is better

On Sun, Feb 17, 2019, 08:56 Ivan Necas <notifications@github.com wrote:

[2019-02-17 14:12] iNecas commented on #2356
I've also found https://github.com/containers/libpod/issues/1453#issuecomment-421331098, which makes me think that it's actually not possible to use the ip address anyway. I guess the port-forwarding would help here, not sure if that is supposed to work or not yet.

In general, some tutorial/docs on various networking options and requirements would be helpful, so that future users don't have to op

[2019-02-17 15:03] AkihiroSuda commented on #2356
It should work now. (Requires slirp4netns v0.3.0-alpha.X or later)

https://github.com/containers/libpod/pull/2142

[2019-02-17 17:01] adrianreber commented on #2334
It is created directly from CRIU. I started a discussion upstream CRIU to be able to use an existing socket or to tell CRIU which label the socket should have. Then we could tell runc which label it should have and runc can pass it to CRIU.

This is for debug output which is currently always written. It is hard-coded in runc. If we could add a policy to allow this, this would be great.

[2019-02-17 17:12] mheon commented on #2356
Only with current upstream Podman, though - 1.0.0 in Fedora is still too early

[2019-02-17 18:38] rhatdan commented on #2334
What is the path to the file. I would rather we label it something like container_log_t so that we would not be able to append to any file in /var/lib/containers.

Does CRIU create the socket or runc?  Could you explain the process for the socket to be created?

[2019-02-17 18:41] rhatdan commented on #2356
In fedora the latest slirp4netns I see is:

latestf29 slirp4netns
slirp4netns-0.1-2.dev.git0037042.fc29     f29                   lsm5

latestf30 slirp4netns
slirp4netns-0.1-3.dev.git0037042.fc30     f30                   releng

[2019-02-17 18:53] rhatdan commented on #2356
I have kicked off builds of the newer version for Fedora.  We need updated versions for RHEL7 & RHEL8.

[2019-02-17 19:06] mheon commented on #2356
No need for RHEL yet - we don't have the code to talk to the new slirp4netns in either yet, so we can't use the port forwarding functionality. Will need 1.1.0 or higher for that.

[2019-02-17 19:17] rhatdan commented on #2356
Well the goal is to get 1.1 out Soon.

[2019-02-17 19:32] giuseppe commented on #2356
yes, there is no way to actually use the rootless IP address.  A rootless container gets its IP address inside of its network namespace but there is no way to use it from outside.

Showing an IP in the inspect output could be confusing, also all rootless containers have the same IP, which is fine since they cannot really communicate with each other.

Should we document it somehow or show some diff

[2019-02-17 19:51] rhatdan commented on #2356
Yes we should document this.

[2019-02-18 04:39] AkihiroSuda commented on #1429
https://fedoraproject.org/wiki/Changes/CGroupsV2

Is Red Hat working on cgroup2 support for runc?

@rhatdan @giuseppe @vbatts

[2019-02-18 04:58] iNecas commented on #2356
Thanks for responses. The documentation would definitely help.

Additional question, while on this topic: is there a way how to set minimal permissions and use different networking model, that would allow the containers to have an their own IP that would be reachable from the host machine? Basically using the required permissions just for the networking part, but the rest of the logic for setting

[2019-02-18 05:04] iNecas commented on #2356
Thanks @rhatdan for the new builds: I've updated slirp4netns and the port forwarding works now for me.

[2019-02-18 05:06] AkihiroSuda commented on #2356
This is what LXC does. (`lxc-user-nic`)