[2019-04-10 02:41] kunalkushwaha commented on #2884
Just verified with PR https://github.com/containers/libpod/pull/2297 , which fixes #2246 do not fix this.
It seems, while parsing filter `dangling`,  the value passed along with each filter i.e. `true` | `false` is ignored.

/assign

[2019-04-10 07:22] adelton commented on #2798
Yes, the situation has improved: https://travis-ci.org/adelton/freeipa-container/jobs/512956506.

[2019-04-10 07:23] vrothberg commented on #2876
Theoretically, it should entail a major version bump as it broke backward compat. The reason for the change should not impact the versioning scheme though.

I am indoctrinated by the kernel's "never break user space" rule. (IMHO) If we allowed `:` before, we should continue to support it. We could discourage users from using a `:` with a big logrus warning (or even error?).

[2019-04-10 07:55] derkoe opened #2886 "Containers cannot access published ports of other containers on same host"
/kind bug

**Description**

Containers cannot access published ports of other containers on same host. The port can be accessed from the host itself (via `localhost` and external ip) and from other hosts.

**Steps to reproduce the issue:**

1. Start a server and expose the port on the machine: `sudo podman run -d --rm -p 8080:80 nginx:alpine`

2. Start another pod and try to access the server via

[2019-04-10 08:01] giuseppe commented on #2798
@adelton could we close this issue?

[2019-04-10 08:06] adelton commented on #2798
Could we use this as an opportunity to add some automated testing of podman setup/behaviour Travis CI, so that any potential regressions are caught and reported as soon as possible?

[2019-04-10 08:09] giuseppe commented on #2798
we stopped using travis for podman testing as the kernel there is too old and stuff like rootless user namespaces require a newer one.  Do you have anything in particular in mind on what we could test more?  We could probably add the test to the cirrus CI we are using right now

[2019-04-10 08:22] adelton commented on #2798
I want to help podman by testing freeipa-container not just with docker https://github.com/freeipa/freeipa-container/blob/master/.travis.yml but with podman as well: https://github.com/adelton/freeipa-container/blob/podman/.travis.yml. For my purposes Travis CI works fine.
But from time to time, the podman installation and behaviour on Xenial which I'm using on Travis CI gets broken. And I'd prefe

[2019-04-10 09:44] SveWoCo commented on #2116
would it be possible to provide the previous version of the buildah package via the ppa? Since updating from 1.6 to 1.8 buildah gives me a

I would like to test if this is caused by the new buildah version or something different.

[2019-04-10 10:03] h-vetinari opened #2887 "BUG: cannot run rstudio server in podman container"
When I first tried podman, the following was the core issue that forced me to abandon podman again (resp. at least try with the most current version; which lead to #2250). All the other little issues (cf. e.g containers/buildah#1456 or the others referenced in #2250) could be worked around with some effort, but I didn't find a solution to the following.

Say we have the following dockerfile, and c

[2019-04-10 10:21] giuseppe commented on #2886
could it be the firewall?  I've tried on Fedora 29 with the last podman release and a container can connect to the host

[2019-04-10 10:51] derkoe commented on #2886
Nope - it's not the firewall. The container *can* connect to all ports on the host except the one published by the other container.

[2019-04-10 12:02] lsm5 commented on #2116
Unlikely that I can fetch the exact previous build, cause I force push the deb packaging commits all the time to my fork (cause Travis and rebase and all that stuff), but some version of 1.6 should be doable. Dan/Nalin, do you know what could be the cause of this issue?

[2019-04-10 12:11] mheon commented on #2886
Probably still the firewall, though indirectly. CNI uses IPTables to manage
port forwarding, and I think it's entirely possible that we neglect to
create rules for container IPs to access the forwarded port

On Wed, Apr 10, 2019, 06:51 Christian Köberl <notifications@github.com>
wrote:

[2019-04-10 13:15] rhatdan commented on #2887
@mheon @baude @giuseppe Could this be us not handling firewall rules correctly?

[2019-04-10 13:24] maxamillion commented on #2794
[code]

[2019-04-10 13:55] thoraxe opened #2888 "container-selinux still preventing socket creation"
/kind bug

**Description**
When running a container with supervisord, SELinux prevents socket creation.

**Steps to reproduce the issue:**

1. `podman run -it --rm -e OC_VERSION=4.0 -p 10081:10081 -p 10080:10080 quay.io/openshiftlabs/workshop-terminal:2.6.2`

**Describe the results you received:**
`type=AVC msg=audit(1554902629.437:1830): avc:  denied  { create } for  pid=14464 comm="supervisord"

[2019-04-10 13:57] mheon commented on #2888
@rhatdan PTAL

[2019-04-10 14:19] rhatdan commented on #2888
audit2allow  -i /tmp/t

#============= container_t ==============

#!!!! This avc is allowed in the current policy
allow container_t fusefs_t:sock_file create;
[dwalsh@localhost 2019]$ rpm -q container-selinux
container-selinux-2.95-1.gite3ebc68.fc30.noarch

Please
yum -y update --enablerepo updates-testing container-selinux

If this solves your issue, please give good karma.
https://bodhi.fedorap

[2019-04-10 14:19] #2888 closed

[2019-04-10 14:44] giuseppe commented on #2794
same version I've tried :/

[2019-04-10 15:58] maxamillion commented on #2794
FWIW, if I specify a network mode it works.

[code]

[2019-04-10 17:03] thoraxe commented on #2888
@rhatdan works.

[2019-04-10 18:16] zerotri commented on #2876
While I'm not privy on Go's regex quirks, the original regex doesn't check for the beginning and end of the string, so in order to match it would only need to match somewhere in the name, not the name as a whole. The newer regex tests against the whole name.

So with the old regex `fedora-toolbox-me:30` should return two matches `fedora-toolbox-me` and `30`.
With the new regex, the same string wil

[2019-04-10 18:38] mheon commented on #2876
@zerotri Yeah, I think that was an oversight when we wrote the original one... The original intent was to validate the entire name

[2019-04-10 18:45] mheon opened #2894 "Rootless podman ps segfault on refresh when containers are present"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Segfault stack trace: https://paste.fedoraproject.org/paste/ClFhuW2MYXIW2qESPyQ4Mg

When rootless `podman` runs the `refresh` command when containers are present, it will segfault.

Nearest I can tell, the sequence of events goes like this:
Podman's main creates a fresh `libpod.Runtime` to se

[2019-04-10 18:46] mheon commented on #2894
@giuseppe PTAL

[2019-04-10 18:50] mheon commented on #2876
In the interest of not breaking toolbox, I'm thinking that we'll change the regex to allow `:` characters, with a warning that this is a deprecated feature and may be removed in the future.
@vrothberg @debarshiray Does this sound acceptable?

[2019-04-10 19:27] QiWang19 commented on #2399
@mheon I don't get the picture. Should the output of `podman --root /tmp/new container runlabel TEST testimg` be `GraphRoot: /tmp/new`?
like using `podman --root=/tmp/new create --name test1 -t -i --label 'TEST=podman --root=/tmp/new info'` instead of `podman --root=/tmp/new create --name test1 -t -i --label 'TEST=podman info'` ?

[2019-04-10 19:30] mheon commented on #2399
@QiWang19 `runlabel` reexecs a new Podman from the label set (`TEST`). We want to add a flag, say $GLOBAL_OPTS, that we can throw in `TEST` (for example, `TEST=podman $GLOBAL_OPTS info`), that expands to any global flags passed to Podman (storage options, log-level, syslog, etc)

[2019-04-10 19:30] mheon commented on #2399
Sorry, not a flag - a variable, similar to the other variables in runlabel

[2019-04-10 19:32] mheon commented on #2399
Once the variable is added, we then want the output of the last `podman runlabel` command to reflect the changed global options.

[2019-04-10 21:13] giuseppe commented on #2894
I've opened a PR here: https://github.com/containers/libpod/pull/2896

[2019-04-10 22:07] amshinde opened #2897 "Create and configure network before container is created in case of rootless Podman"
In case of rootless containers, the network flow is as follows:
1) Rootless podman passes an empty path for the network namespace in the OCI config.json
2) OCI runtime spawns a container creating a new network namespace
3) podman then calls slirp4netns passing it the pid of the container to create a tap interface in the process's network namespace.

My proposal is to change the network creation fl

[2019-04-10 22:25] amshinde commented on #2897
cc @giuseppe @mheon
From what we discussed, `slirp4netns` would be need to be changed to accept a network namespace path rather than a pid. Is there anything else that needs to be considered?

[2019-04-10 23:26] sboeuf commented on #2897
@giuseppe @mheon @rhatdan
I would add that you had two options from the podman perspective about when to create the network namespace. You obviously chose the easiest one, but unfortunately it will make harder for Kata Containers to support podman rootless.
If you don't mind adding the code creating the network namespace into podman, and if we manage to push a small change to slirp4netns, then Kat

[2019-04-11 00:39] mheon commented on #2897
I don't have a major issue with this, so long as we can manage to make the `slirp4netns` changes non-breaking.

[2019-04-11 05:42] sboeuf commented on #2897
@mheon

That's good to hear! Let's pull @AkihiroSuda in the conversation here then. I think he maintains `slirp4netns`, and I'm eager to hear his input on this.

Just to summarize @AkihiroSuda, the idea would be to provide a way for `slirp4netns` to join the network namespace based on the path and not only on the `PID` of a process running into this same namespace. Do you see any objection to this

[2019-04-11 05:49] AkihiroSuda commented on #2897
SGTM, could you open a PR?

[2019-04-11 06:45] debarshiray commented on #2876
@mheon That sounds sane to me, but I'd still update toolbox to not use a colon as soon as possible.

I haven't yet been able to fully assess the extent of the breakage here. So far I only know that `podman create` errors out with faulty container names, but I don't know about `podman start` and `podman exec`. If those aren't affected then existing containers would continue to work.

[2019-04-11 07:36] derkoe commented on #2886
Here is a tcpdump of this issue - here are the IPs involved:

 * 10.0.1.4 ist the host adress
 * 10.88.0.2 is the nginx container
 * 10.88.0.7 is the alpine container running the wget

[code]

The two connect attempts seem strange: `10.88.0.7.53136 > 10.0.1.4.8080` and `10.88.0.7.53136 > 10.88.0.2.80`.

And here' the iptables nat:
[code]

[2019-04-11 07:46] giuseppe commented on #2887
we have a similar report here: https://github.com/containers/libpod/issues/2886

it can be caused by the firewall

[2019-04-11 07:59] vrothberg commented on #2876
Sounds good to me.

[2019-04-11 08:15] giuseppe commented on #2794
thanks for confirming it, then it is surely something wrong with slirp4netns.  Could you try these commands?
[code]

hopefully we get a better clue why slirp4netns is failing

[2019-04-11 08:31] derkoe commented on #2887
This looks different -  #2886 describes the problem that ports cannot be accessed by another container on the same host.

@h-vetinari can you do a `curl -v localhost:8082/auth-sign-in` from the host - the browser does not show what's really happening here.

[2019-04-11 08:32] davidlt commented on #2739
`podman mount` used to work in Fedora 29 until some update, I think. What't the current examples/suggestion to use `podman mount` (not `buildah` stuff)?

[2019-04-11 08:39] davidlt commented on #1388
I think this might be related: https://github.com/containers/libpod/issues/2739

I was using `podman mount` in Fedora 29 until it sopped working 1-2 months ago and now produces: `Error: cannot mount using driver overlay in rootless mode`. You also cannot do things like `sudo podman mount` as it will not see my user containers. `buildah unshare` + `podman mount` ends up in errors: `Error: could not

[2019-04-11 08:44] fnkr opened #2898 "Volumes always owned by root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Volumes are always owned by root instead of inheriting owner and group from the host.

**Steps to reproduce the issue:**

1. Run `podman run --rm -v "$HOME:$HOME" alpine ls -l "$HOME/.."`

[code]

2. Run `podman run --rm -v "$HOME:$HOME" --user "$(id -u):$(id -g)" alpine ls -l "$(dirname $HOM

[2019-04-11 09:32] #2894 closed

[2019-04-11 09:42] h-vetinari commented on #2887
Here's some outputs:
[code]

Then, following redirects:

[code]

And finally, by faking an appropriate user-agent:
[code]

[2019-04-11 10:20] derkoe commented on #2887
OK - this does not look like a podman problem. The requests are forwarded  to the server/port.

Maybe the RStudio server is not configured correctly (it looks like the virtual host "localhost:8082") might be the problem.

[2019-04-11 10:52] h-vetinari commented on #2887
Respectfully, with podman [advertising](https://podman.io/) that `alias docker=podman`, it *is* a podman problem too.

Happy to help debugging that, but it works out of the box with docker.

[2019-04-11 11:41] rhatdan commented on #2898
Podman by default in rootless mode makes the UID of the user running the command ROOT inside of the container.  That means that when you look at the UID of the running process it will be 0, even though the process is really running as your UID.  Also any files with your UID as owner or group will be seen as UID==0 while in the container.  Any file actually owned by a UID==0 will be seen as -1.

So

[2019-04-11 12:17] mheon commented on #2876
We only validate for creating new containers, so existing ones should be
fine to continue using.

On Thu, Apr 11, 2019, 03:59 Valentin Rothberg <notifications@github.com>
wrote:

[2019-04-11 12:20] mheon commented on #2886
Does it work if you connect to the other container via its 10.x.x.x IP? If
so, I think we probably have an issue with the IPTables rules added.

On Thu, Apr 11, 2019, 03:36 Christian Köberl <notifications@github.com>
wrote:

[2019-04-11 12:52] jtudelag opened #2900 "podman rm -a shows "No such file or directory""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running podman rm -a, an error message: "No such file or directory is shown"

**Steps to reproduce the issue:**

1. podman rm -a

**Describe the results you received:**

[code]

[code]

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issu

[2019-04-11 13:38] mheon commented on #2900
I've been seeing this one occasionally. The container is definitely removed, so this seems to be a cleanup error - the container is gone, but some resources might not be fully freed. It's an ENOENT, definitely.

The curious thing is that we're not actually printing where the error happened. All of these cleanup errors should prefix what went wrong (the "No such file or directory" part) with the co

[2019-04-11 16:36] rhatdan commented on #2116
@SveWoCo Are you running rootless. Could you clean out your home dir to see if this fixes the problem?

[2019-04-11 16:59] #2877 closed

[2019-04-11 17:08] maxamillion commented on #2794
[code]

[2019-04-11 17:25] AkihiroSuda commented on #2794
modprobe tun

[2019-04-11 17:56] rhatdan commented on #2794
Is there a way on Ubuntu/debian to cause this to happen automatically.  On Fedora I can just drop a file in /etc/modprobe.conf.d directory I think when slirp4netns gets installed.

[2019-04-11 20:05] derkoe commented on #2887
Just tried this with podman and on my machine (CentOS 7.6 on Azure) it works without any issues.

Started the server with:
[code]

Then on the host machine - this is what I get:
[code]

[2019-04-11 20:06] mheon commented on #2887
Probably environment-specific, then.
@h-vetinari Anything from `podman logs` on the container stick out?

[2019-04-11 20:07] mheon commented on #2887
Hm. Logs might not be the most useful, since you're starting the application manually... Any way to get more debug output out of rstudio-server?

[2019-04-12 00:27] kunalkushwaha commented on #2884
Closing this issue, as it is fixed with #2885 , shall be available with v1.3.0 release.

[2019-04-12 00:27] #2884 closed

[2019-04-12 01:22] kunalkushwaha opened #2909 "better error message required in case error in CNI plugin."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**

In case of any error in CNI config file, the error message while creating container with network of CNI plugin simply show error `CNI network "<network-name>" not found`. This error message is confusing for end user.

A better error message will be helpful to understand where actually error is

[2019-04-12 01:28] kunalkushwaha commented on #2909
It may not be clean to show error messages of CNI config as, all CNI configs are loaded during `container create`.

If we have some additional commands like `podman network ls` which can list all valid network possible as result of scanning CNI networks.
In case of invalid configurations, showing error message will be easy and not out of context.

This may be also helpful, to understand end user (

[2019-04-12 01:48] mheon commented on #2909
Hm. The CNI plugins load and try to parse the network, fail, and this is only considered a warning? Part of me thinks we should upgrade that to an error, in which case we fail much earlier (when first trying to load the runtime) and more descriptively (an explicit error about parsing a config)

[2019-04-12 01:52] kunalkushwaha commented on #2909
The issue with making the parse error as Error and stop container creation would be, failing `container create` even if that CNI network is not involved in `container create` command

e.g. with above config file, simply `sudo podman  run --rm -it - docker.io/library/alpine sh` would also fail.

[2019-04-12 09:13] #1348 closed

[2019-04-12 11:29] giuseppe commented on #2150
while this has been solved and can be closed now, I think it is still safe to add a check that the runroot is on volatile storage since we assume that.  I've opened a PR here: https://github.com/containers/storage/pull/317

[2019-04-12 11:29] #2150 closed

[2019-04-12 12:24] fnkr commented on #2898
Hi @rhatdan, thanks for your response. Is there any way to use `--user` together with volumes? In my use case the name, group, UID, GID and home dir of the user are relevant and I need to access certain files from host and container processes. This is a simplified example of what I'm doing (works with Docker):

[code]

[2019-04-12 12:29] giuseppe commented on #2710
fixed as part of: https://github.com/containers/libpod/pull/2911

[2019-04-12 12:29] giuseppe commented on #2785
fixed as part of: https://github.com/containers/libpod/pull/2911

[2019-04-12 12:30] giuseppe commented on #2829
duplicate of: https://github.com/containers/libpod/issues/2710

[2019-04-12 13:43] rhatdan commented on #2898
If you eliminate the --user=$UID it should work for you, but you will think you are running as root inside of the container.  Another option is to use the User Namespace differently.

I am going to guess that your UID == 1000, Current
And you have a line like this in the /etc/subuid file.
fnkr:100000:65536
If you ran podman with the following commands
$ podman run --uidmap 0:100000:1000 --uidmap 1

[2019-04-12 13:52] vsoch commented on #2542
I just hit this issue as well - I'm not using a custom image, but just testing fedora:latest referenced in [this post](https://developers.redhat.com/blog/2019/02/21/podman-and-buildah-for-docker-users/). I am on Ubuntu 16.04 so I installed podman via `apt-get install...` The version is `podman version 1.3.0-dev`.

Here is the non sudo pull attempt  - note the same error reported above:
[code]
and

[2019-04-12 13:52] rhatdan commented on #2829
Ok I will close this issue then.

[2019-04-12 13:52] #2829 closed

[2019-04-12 14:03] vsoch commented on #2542
Let me know if it's better practice to open a new issue, happy to do that too!

[2019-04-12 14:20] rhatdan commented on #2542
This looks like you don't have any range of UIDs in /etc/subuid.  Therefor you container only handle root content, any other UID is going to cause failures.  Add a range of UIDs to /etc/subuid and you should be fine.

[2019-04-12 14:23] h-vetinari commented on #2887
One more bit of information:
I tried a cross check with manually transferring the docker build to podman and the podman build to docker.

It might be buildah issue after all?

built by \ run by | podman | docker
-------------|------------|-----------
podman | `HTTP/1.1 404 Not Found` | `HTTP/1.1 404 Not Found`
docker | *shows login* | *shows login*
______

Which version of podman? I tried again wi

[2019-04-12 14:27] mheon commented on #2887
Alright, image issues would make sense. @TomSweeneyRedHat PTAL

[2019-04-12 14:29] debarshiray commented on #2876
I have [updated](https://github.com/debarshiray/toolbox/pull/113) the toolbox to not put colons in the names of containers while creating them.

[2019-04-12 14:40] vsoch commented on #2542
Thanks @rhatdan, I peeked at that but I do appear to have a range (should the range be different?)

[code]

They look similar to the ones in this [example](https://www.projectatomic.io/blog/2018/05/podman-userns/), but it's likely that I missed a step, if the above is not correct. Could you point me to the docs that mention to the user how to set this up correctly? Here is the trail that I followe

[2019-04-12 14:57] mheon commented on #2876
Updating the regex to allow colons now

[2019-04-12 14:57] mheon commented on #2876
I'm going to do this only for containers - pods and volumes will continue to be colon-free

[2019-04-12 15:08] mheon commented on #2876
#2914 to re-add `:` as an allowed character with warnings.

[2019-04-12 15:19] mheon commented on #2909
I don't know if that's a bad thing... It's an invalid configuration file and we can't know what we won't be using it.

[2019-04-12 15:21] mheon commented on #2900
I'm going to try and deliberately trigger this, see if i can get proper debug output now. I suspect it's related to freeing the lock.

[2019-04-12 15:47] fnkr commented on #2898
[code]

I changed the command slightly to get it working, but now files from the volume are owned by nobody:

[code]

[2019-04-12 16:22] giuseppe commented on #2775
can you try if https://github.com/containers/libpod/pull/2915 solves the problem for you?

[2019-04-12 16:35] rhatdan commented on #2542
What does
podman run fedora cat /proc/self/uid_map

[2019-04-12 16:41] rhatdan commented on #2898
I like it, I would love to make this easier for non expert users.
Seems like users are running non rootl containers, where they expect their UID==UID in the container and others expect their UID == 0 inside the container.  The desktop team has built toolbox which is a wrapper around podman but does the UID==UID mapping.

[2019-04-12 16:42] vsoch commented on #2542
Ah, more evidence! The original command needed docker:// to specify the registry:

[code]
and then when specified, we get the same error (but with an extra tidbit of evidence!) See the last lines.

[code]
So you don't have to scroll..

[2019-04-12 16:44] mheon commented on #2898
`podman run --match-uid` maybe?

[2019-04-12 16:53] rhatdan commented on #2898
I would want something to indicate this is usernamespace --userns-map-uid

[2019-04-12 17:20] phlogistonjohn commented on #2775
Yes. That appears to do the trick. Thanks!

[2019-04-12 18:01] giuseppe commented on #2898
we could do that, it should be pretty easy.  We need to provide a preconfigured mapping for the namespace.  We also need `--user` to be configured though

[2019-04-12 18:02] mheon commented on #2898
We could default to the logged-in user's UID

[2019-04-12 18:07] giuseppe commented on #2542
we downgraded the error of not having multiple uids to the warning you are getting:

```WARN[0000] using rootless single mapping into the namespace. This might break some images. Check /etc/subuid and /etc/subgid for adding subids```

Are newuidmap and newgidmap installed?  I think you may need to install them separately on Ubuntu

[2019-04-12 18:13] vsoch commented on #2542
Boum! That did the trick :)

[code]
[code]
Should we add this to here? (this is in install.md)

![image](https://user-images.githubusercontent.com/814322/56057566-1cd2cf80-5d2d-11e9-9147-30533c47ac83.png)

[2019-04-12 18:15] rhatdan commented on #2898
@giuseppe Why would we need --user?  I still am fine with them being root when the container starts and then remapping to their user.

[2019-04-12 18:16] rhatdan commented on #2898
@mheon I don't think we should change the default. If we had a flag that changed the default then you could toggle the flag via an environment variable.

[2019-04-12 18:17] vbatts commented on #2542
@vsoch yes please!

[2019-04-12 18:19] giuseppe commented on #2898
We need user for the effective setresuid in the oci runtime, that needs to happen after the second mapping is in place.

[2019-04-12 18:21] rhatdan commented on #2542
We need more contributors running on ubuntu desktops...

[2019-04-12 18:22] vsoch commented on #2542
I got lots of those :)

[2019-04-12 19:40] #2710 closed

[2019-04-12 19:40] #2785 closed

[2019-04-12 21:29] jamescassell opened #2918 "podman native support for systemd .service file"
/kind feature

**Description**

It would be super useful to have podman run a .service file within the container w/o running a full-blown systemd in the container.  Something as simple as specifying `--entrypoint-service=/usr/lib/systemd/system/httpd.service` and auto-selecting the ExecStart line to run with `catatonit` seems like it might work, though a complete replacement might require more wor

[2019-04-12 21:44] TomSweeneyRedHat commented on #2823
OK, this one's for @rhatdan and @nalind.  The behavior for this functionality has changed in upstream.  The image that was left behind that @edsantiago noted above is no longer there.  Now only the alpine image is left behind.

[code]

However with Docker-ce a `<none> <none>'  image is left behind and from what I could gather was equivalent to the `localhost/foo` image from Ed's example, but tagge

[2019-04-12 22:02] rhatdan commented on #2918
That would involve podman being able to handle all of the flags of the systemd unit file,  NOT going to happen.  I don't see this as a viable option.

[2019-04-12 22:04] imain commented on #2751
I have a similar issue in that I have a pod with no containers in it (not sure how it happened).  Now I can list the pod but I cannot delete it.
` 125  ~/dev-scripts  master $ sudo podman pod ls
POD ID         NAME         STATUS    CREATED       # OF CONTAINERS   INFRA ID
75844985f5e8   ironic-pod   Created   2 hours ago   1                 1cec1f248ac5
 0  ~/dev-scripts  master $ sudo podman pod

[2019-04-12 22:29] jamescassell commented on #2918
Better might be a systemd feature to start the service then exec catatonit for signal handling, but otherwise get out of the way...

[2019-04-13 02:26] mheon commented on #2751
Are you sure the error is fatal? That looks like a non-fatal cleanup error. The pod's still there after `rm` runs?

[2019-04-13 08:40] rhatdan commented on #2918
Why would systemd launch another init system?

[2019-04-13 08:42] rhatdan commented on #2468
This is fixed now.

[2019-04-13 08:42] #2468 closed

[2019-04-13 08:43] rhatdan commented on #2473
Does not look like there is much we can do to fix this.  Reopen if you disagree.

[2019-04-13 08:43] #2473 closed

[2019-04-13 08:50] rhatdan commented on #1884
Sadly this is still in the same state.  Although some sub-packages of libpod are starting to get added to CRI-O

[2019-04-13 08:51] rhatdan commented on #2559
Any movement on this one?  Seems to be something people are beginning to request.

[2019-04-13 08:52] rhatdan commented on #2567
Issue is being worked on in Buildah.
@TomSweeneyRedHat Any update?

[2019-04-13 08:52] rhatdan commented on #2567
@TomSweeneyRedHat Could you add a link here also.

[2019-04-13 08:53] rhatdan commented on #2211
@lsm5 is this fixed now?
@pipiobjo is this fixed now?

[2019-04-13 08:53] rhatdan commented on #2530
This has been fixed.

[2019-04-13 08:53] #2530 closed

[2019-04-13 08:54] rhatdan commented on #2488
I think some of the information in troubleshoot.md needs to be added to the podman run/create man pages.

[2019-04-13 08:56] rhatdan commented on #1948
Sadly no one has worked on this.  @mtrmac Do you have any time to work on this to clean it up.

[2019-04-13 08:58] rhatdan commented on #1925
Seems like this would be something for a new developer to take a stab at?

[2019-04-13 09:00] rhatdan commented on #2317
@cgwalters Is this still something you suggest we do or should I close?

[2019-04-13 09:01] rhatdan commented on #1429
@filbranden Any update on the cgroupsv2 work?

[2019-04-13 09:02] rhatdan commented on #713
Progress seems to have stalled on this.

[2019-04-13 09:03] rhatdan commented on #2212
@edsantiago @baude Any update on this?  Fixed still in progress? Forgotten?

[2019-04-13 09:04] rhatdan commented on #2369
@TomSweeneyRedHat Tells me this has stalled, and potentially blocked altogether based on comments from @mtrmac

[2019-04-13 09:04] rhatdan commented on #2013
@vrothberg Still no progress?

[2019-04-13 09:05] rhatdan commented on #2167
@vrothberg Anything on this, or should I open fhis up for others to look at?

[2019-04-13 09:06] rhatdan commented on #2265
@haircommander What is the latest on this?

[2019-04-13 09:06] rhatdan commented on #1618
@adrianreber Could you update this issue with  your progress.

[2019-04-13 09:07] rhatdan commented on #2514
I don't believe this is still an issue, reopen if you disagree.

[2019-04-13 09:07] #2514 closed

[2019-04-13 09:07] rhatdan commented on #1671
@mheon What should we do with this issue?

[2019-04-13 09:08] rhatdan commented on #1911
@vrothberg Could you update this issue with your progress.

[2019-04-13 09:08] #1320 closed

[2019-04-13 09:09] rhatdan commented on #2070
@giuseppe Were you ever able to look at this?

[2019-04-13 09:09] rhatdan commented on #1675
@QiWang19 Did you ever look into this?

[2019-04-13 09:11] rhatdan commented on #1579
I don't see this being fixed any time soon, even if there is a good way to fix it.

[2019-04-13 09:11] rhatdan commented on #1843
podman-remote is getting closer.

[2019-04-13 09:12] rhatdan commented on #1950
I am going to close, because I believe it is fixed,  Reopen if you disagree.

[2019-04-13 09:12] #1950 closed

[2019-04-13 09:13] rhatdan commented on #1433
I think this could be done, fairly easily but we would need interfaces added to containers/storage to mount an image read/only with no upper container.
If someone wants to look into this it would be great.

[2019-04-13 09:14] rhatdan commented on #1864
@baude Is the work you are doing with bridging helping here?

[2019-04-13 09:16] rhatdan commented on #1864
@baude is the work you are doing with bridging fixing this?

Is varlink resolver smart enough to do this?  How would it find the socket?

[2019-04-13 09:16] rhatdan commented on #1864
@haraldh Do you have any ideas?

[2019-04-13 09:17] rhatdan commented on #2544
@TomSweeneyRedHat @umohnani8 @nalind @miabbott Is this still broken?

[2019-04-13 09:19] rhatdan commented on #1399
Would a podman container help?

[2019-04-13 09:20] rhatdan commented on #2365
@TomSweeneyRedHat Any update on this?

[2019-04-13 09:21] rhatdan commented on #2384
We have just merged some enhancements to skopeo to use containers storage configuration files.  Does this help? @vrothberg WDYT?

[2019-04-13 09:21] rhatdan commented on #2303
@haircommander Didn't you fix this?

[2019-04-13 09:23] rhatdan commented on #2325
Buildah no longer vendors libpod, and podman shows the version of buildah it is vendored.  I think I can close this.

[2019-04-13 09:23] #2325 closed

[2019-04-13 09:23] rhatdan commented on #1826
This PR Finally passes tests, but now need to work on the upgrade path.  If anyone wants to grab it, you are welcome to take it.

[2019-04-13 09:24] rhatdan commented on #2015
@rhvgoyal DId it get merged in?

[2019-04-13 09:26] rhatdan commented on #2702
@tobwen @afbjorklund Was this work ever done?

[2019-04-13 09:26] rhatdan commented on #2726
@giuseppe PTAL

[2019-04-13 09:27] rhatdan commented on #2726
@vrothberg WDYT?

[2019-04-13 09:28] rhatdan commented on #2699
@lsm5 Any movement on this?  Has anyone else worked on it?

[2019-04-13 09:28] rhatdan commented on #2735
@QiWang19 Could you check this out and see if it is still an issue, if yes then please fix it.

[2019-04-13 09:29] rhatdan commented on #2735
I would think podman login should succeed even if docker login has happened.

[2019-04-13 09:30] rhatdan commented on #2734
@vrothberg Is this still an issue?

[2019-04-13 09:30] rhatdan commented on #2736
Going to close as a duplicate.

[2019-04-13 09:30] #2736 closed

[2019-04-13 09:31] rhatdan commented on #2750
I think the latest runc has fixed this issue.

[2019-04-13 09:31] #2750 closed

[2019-04-13 09:32] rhatdan commented on #2718
@kbaegis @lsm5 Is this still an issue?  Seems like a packaging problem.

[2019-04-13 09:33] rhatdan commented on #2744
We have merged in --dns=none for this issue.

[2019-04-13 09:33] #2744 closed

[2019-04-13 09:33] rhatdan commented on #2503
@tobwen @muayyad-alsadi What is the latest on this.   Can I close this issue?

[2019-04-13 09:34] rhatdan commented on #2398
We now have zsh completions. Closing.

[2019-04-13 09:34] #2398 closed

[2019-04-13 09:35] rhatdan commented on #2678
@tobwen is this still an issue?

[2019-04-13 09:36] rhatdan commented on #1742
@siretart @vrothberg Is this still being worked on?  Any progress?

[2019-04-13 09:37] rhatdan commented on #2667
seems like this is fixed

[2019-04-13 09:37] #2667 closed

[2019-04-13 09:38] rhatdan commented on #2661
is this still an issue?

[2019-04-13 09:38] rhatdan commented on #2647
Is this still an issue?

[2019-04-13 09:40] rhatdan commented on #2568
Looks like this is fixed.

[2019-04-13 09:40] #2568 closed

[2019-04-13 09:41] #2334 closed

[2019-04-13 09:41] pwFoo commented on #1399
A minimal or different feature set / use cases podman image would be nice to play with and see dependencies

[2019-04-13 09:41] rhatdan commented on #2615
@giuseppe Is this correct?

[2019-04-13 09:42] rhatdan commented on #1916
I believe this is no longer an issue.

[2019-04-13 09:42] #1916 closed

[2019-04-13 09:43] rhatdan commented on #2599
I think we will stick with the current behaviour.

[2019-04-13 09:43] #2599 closed

[2019-04-13 09:43] rhatdan commented on #2600
I believe this is fixed in the current release.

[2019-04-13 09:43] #2600 closed

[2019-04-13 09:44] rhatdan commented on #2376
I think this issue is resolved.

[2019-04-13 09:44] #2376 closed

[2019-04-13 09:45] rhatdan commented on #2219
This issue is resolved.

[2019-04-13 09:45] #2219 closed

[2019-04-13 09:46] muayyad-alsadi commented on #2503
@rhatdan I don't know, In `podman-compose`, I'm using `podman pod create -p 80:8080 -p ...`  all at once, instead of per-containers `-p`.

[2019-04-13 09:48] rhatdan commented on #2846
@TomSweeneyRedHat You you open a Vendor buildah pr?

[2019-04-13 09:49] rhatdan commented on #2791
Getting closer.

[2019-04-13 09:49] rhatdan commented on #2815
@rpjday Any update on this?

[2019-04-13 09:50] rhatdan commented on #2808
@pcguy85 Any chance you could open a PR to fix this?

[2019-04-13 09:51] rhatdan commented on #2250
@h-vetinari @lsm5 What is the latest on this issue?

[2019-04-13 09:52] rhatdan commented on #2783
Looks like this has been fixed.

[2019-04-13 09:52] #2783 closed

[2019-04-13 09:52] rhatdan commented on #2755
@TomSweeneyRedHat We need to vendor in a new buildah to close this issue.

[2019-04-13 09:53] rhatdan commented on #2757
@ypu Can I close this issue?

[2019-04-13 09:54] rhatdan commented on #2767
@jeka @mheon Can I close this issue?

[2019-04-13 09:54] rhatdan commented on #2768
Looks like this is fixed.

[2019-04-13 09:54] #2768 closed

[2019-04-13 09:55] rhatdan commented on #2869
This should be closed when this PR finally gets merged.

[2019-04-13 10:03] afbjorklund commented on #1864
I don't see how the examples are supposed to work over the bridge (by using the local socket)

Of course you could give an explicit `--bridge` and then hardcode the "other side", but anyway...
With the current system, the socket location takes precedence over the bridge - and makes it fail.

[code]

i.e. instead of using the SSH bridge command, it goes straight for a local `/run/podman/io.podman`

[2019-04-13 10:03] rhatdan commented on #2798
There is an updated runc that should fix this problem.

[2019-04-13 10:06] rhatdan commented on #2871
That PR Seems to be getting closer.

[2019-04-13 10:07] rhatdan commented on #2414
@marshallford Any chance you want to take this on?

[2019-04-13 10:07] #2775 closed

[2019-04-13 10:08] rhatdan commented on #2733
Looks like this is fixed.

[2019-04-13 10:08] #2733 closed

[2019-04-13 10:10] rhatdan commented on #2669
@haircommander Any update on this?

[2019-04-13 10:12] afbjorklund commented on #1864
Even better would be if one could avoid the bridge parameter: https://github.com/varlink/libvarlink/pull/10

That would make the above command shorter:

[code]

Or if using the go version of varlink instead:

[code]

[2019-04-13 10:25] afbjorklund commented on #1399
The k3s distribution makes the CNI binaries smaller, by using a "busybox"-like method:

https://github.com/rancher/k3s/blob/master/cmd/cni/main.go#L15

That is, there is only one `cni` binary implementing _all_ of the currently known plugins...

Similarly there is one `k3s` that implements all of kubernetes (including crictl and kubectl)

----

This enables [boot2podman](https://boot2podman.github

[2019-04-13 10:25] rhatdan opened #2920 "podman-logs output and podman-logs man page very different"
Podman logs seems to just show you what happened in the container without timestamps where as podman logs man pages show time stamps and seem to be from when it showed cri-o logs.

Which is correct?

[2019-04-13 10:37] rpjday commented on #2815
Sorry, I've been distracted, will get to this at some point.

[2019-04-13 11:24] afbjorklund commented on #2702
Don't think so, and I'm more of  a `make all && sudo make install` guy myself - too many permission issues otherwise. Of course, that doesn't mean that the Makefile shouldn't have the proper dependencies.

Can do a PR for it ?

[2019-04-13 11:25] afbjorklund commented on #2702
Might as well fix the "podman" phony target, while at it. As in: it actually builds bin/podman, not podman...

[2019-04-13 11:47] haraldh commented on #1864
Nobody should have to use `varlink`, the CLI command, manually in a terminal. It's only for debugging and bridging. varlink the API should be used by tools internally and not exposed to the CLI user.
So, examples should be given in golang or python or rust or C.

[2019-04-13 11:49] afbjorklund commented on #1864
The examples were on the API documentation page. Everyone elses uses pypodman or podman-remote

[2019-04-13 11:49] haraldh commented on #1864
Then the examples should be fixed in the podman API documentation

[2019-04-13 11:56] afbjorklund commented on #1864
So, something like this ?

[code]

Either way, it would still be better to use the resolver than to hard-code the socket.

And unfortunately, it is still an awful experience trying to install Python 3 on Windows...

[2019-04-13 12:17] haraldh commented on #1864
What? Shell again? Why?

[2019-04-13 12:20] rhatdan commented on #2702
SGTM

[2019-04-13 12:20] siretart commented on #1742
There is. Sorry for the late update.

I've updated / uploaded a couple of dependencies in Debian, all of which are now present in the Debian archive:

- https://tracker.debian.org/pkg/golang-github-appc-cni (update to 0.7.2~rc2 in experimental)
- https://tracker.debian.org/pkg/golang-github-vbauerster-mpb (new package)
- https://tracker.debian.org/pkg/golang-github-spkg-bom (new package)
- https:/

[2019-04-13 12:57] TomasTomecek commented on #2510
also got bitten by this; will we get a new release soon?

[2019-04-13 13:28] mheon commented on #2920
We do support timestamps, but only via explicit request. There is a flag
you need to add whose name I forget.

On Sat, Apr 13, 2019, 06:25 Daniel J Walsh <notifications@github.com> wrote:

[2019-04-13 13:29] ikke-t opened #2922 "support File -type hostPath in podman play kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

As container user, I want to mount config files from host to containers. As of now, podman only supports hostPath type Directory only. It's very normal way to map config files into container, that's what [kubernetes does](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath)

**S

[2019-04-13 13:31] mheon commented on #1925
Agree - if we have any interns coming on, or anyone who wants to take a
first issue, a clone command is a good starting point.

On Sat, Apr 13, 2019, 04:58 Daniel J Walsh <notifications@github.com> wrote:

[2019-04-13 13:37] afbjorklund commented on #1864
Same format as on https://github.com/varlink/python, feel free to write better examples.

The only point here was that it is wasteful to always say `unix:/run/podman/io.podman`

[2019-04-13 14:59] ikke-t commented on #2922
actual use case here: https://github.com/ikke-t/awx_pod/blob/4.0/templates/awx.yml.j2

[2019-04-13 15:02] haircommander commented on #2808
@rhatdan I started a fix for this but I feel like there should be larger structural changes to the infra container. We will soon end up duplicating a bunch of configuration code to set up namespaces for the infra container. I was thinking of trying to use some of the `cmd/podman/shared/create` code that is relevant but getting the timing and library dependencies is tricky. In other words, it's a w

[2019-04-13 15:31] haircommander commented on #2303
No that was on play kube. @mheon's volume stuff landed though so I can take a stab at this now

[2019-04-13 15:33] haircommander commented on #2265
It hit the backlog but I'll set it up next week

[2019-04-13 15:47] ssbarnea commented on #1843
I am watching this closely because my desktop is a macos and I extensively use a docker in testing (tox-docker, molecule, ansible, pytest) with remote `DOCKER_HOST=ssh://user@server`. All tools I use happen to be using https://pypi.org/project/docker/ library to build and run the tested containers (none of them needing configuration to make it work).

This means that we will need to find a way to

[2019-04-13 15:53] jeka commented on #2767
@rhatdan no objection from me since the problem is not with podman itself

[2019-04-13 17:26] TomasTomecek opened #2924 "running rootless `podman image exists` within a `buildah unshare` session results into "could not get runtime... /var... permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This could be a dupe of #2510.

The issue is coming from
https://github.com/ansible-community/ansible-bender/issues/114 when a command
`podman --log-level debug image exists $id` in rootless mode results into:
[code]

I have purged ~/.config/containers so all the config files are in the defau

[2019-04-13 17:38] tobwen commented on #2678
@rhatdan Never has been an issue. Would be nice to have a wiki :-)

[2019-04-13 17:39] tobwen commented on #2661
Fixed, thanks.

[2019-04-13 17:39] #2661 closed

[2019-04-13 17:41] tobwen commented on #2615
Should have been fixed... it's still a big messy, but not a blocker as before. I'll reopen, if the problem reoccurs.

[2019-04-13 17:41] #2615 closed

[2019-04-13 17:44] tobwen commented on #2702
I haven't digged into it anymore, since I'm using "make && make install", too.

The main problem is that most of the tools just build a subset of features in the default make target. For example, "bash autocomplete" sometimes is a default target, sometimes it is no.

So I've ended up with a small parser, which scans the Makefile for targets and presets me a list.

[2019-04-13 18:26] TomSweeneyRedHat commented on #1925
@dougsland interested in trying a Podman issue?  Then we can get you a Podman sticker too!

[2019-04-13 18:28] TomSweeneyRedHat commented on #2567
I think this is related to https://github.com/containers/buildah/issues/1219 which I need to get back up higher in the list.

[2019-04-13 18:30] mheon commented on #2924
Looks like rootless detection could be broken in `buildah unshare`

[2019-04-13 18:30] mheon commented on #2924
@giuseppe PTAL

[2019-04-13 18:30] TomSweeneyRedHat commented on #2755
I've been thinking it's about time for 1.7.3  Any objections @rhatdan or @nalind?  Then a vendor to libpod.

[2019-04-13 18:33] mheon commented on #1671
I think adding a flag to handle this is a nice-to-have, but not really a priority unless people start encountering issues with out TTY handling.

[2019-04-13 18:34] mheon commented on #2559
I think we can do this with CNI as of right now, though figuring out exactly how and documenting it is worthwhile

[2019-04-13 18:40] TomSweeneyRedHat commented on #2365
I've got the `podman images` command all setup and changed the commands.md to accept the new column for the script.  I need to add a README.md somewhere showing the steps necessary to make similar demos and casts for the other commands.  I've a rough cut of that document in a draft email, need to finish it up and drop it somewhere.  Most likely containers/Demos/podman_cli with a link from commands

[2019-04-13 18:51] TomSweeneyRedHat commented on #2544
Yep, just tested, still broken.  @nalind's latest layer changes didn't get this one fixed unfortunately.

[2019-04-13 18:51] TomSweeneyRedHat commented on #2544
May be related to https://github.com/containers/buildah/issues/1391

[2019-04-13 18:57] TomSweeneyRedHat commented on #2846
I could, or as discussed in another PR, perhaps we should make Buildah 1.7.3 first?

[2019-04-13 19:13] jamescassell commented on #2918
I was just trying to think of a way to re-use the systemd parsing mechanism but not require the entire systemd stack to be running in the container.  I'd brought it up on IRC and someone said I should open this issue to get feedback on the idea of having podman run a .service file with catatonit.  Sounds like it's beyond the realm of possibility, or not desired.

My hope had been to re-use pre-wri

[2019-04-13 20:02] vsoch opened #2925 "slirp4netns produces error message, but isn't required"
It looks like slirp4netns is needed for setting up the user networking space? Without it (running a container that doesn't need anything special) I get an error that it isn't found:

[code]
The fix was to install it, of couse:
[code]
[code]
I searched the repo and I didn't see any obvious instruction to install it, other than the Dockerfile for a [fedora](https://github.com/containers/libpod/blob/

[2019-04-13 20:02] praiskup commented on #2567
Agreed, it seems to be duplicate.  Thanks.

[2019-04-13 20:02] #2567 closed

[2019-04-13 23:27] sdcroll opened #2926 "Ubuntu ppa: Cannot ioctl TIOCSCTTY: Operation not permitted"
/kind bug

**Description**

I installed podman on Ubuntu 18.04 from the ppa today (2019-04-13), and when running a container, podman commands in other terminals fail.  Example:

    $ podman ps
    cannot ioctl(TIOCSCTTY): Operation not permitted

    $ podman images
    cannot ioctl(TIOCSCTTY): Operation not permitted

If I stop the container, then the commands succeed:

    $ podman ps
    CONTA

[2019-04-13 23:39] mheon commented on #2926
Huh. This one's pretty strange. `podman images` for example should have absolutely no relation to a container running in another terminal - it will never invoke the OCI runtime, or attempt to retrieve container status.

I see two instances of TIOCSCTTY in the libpod code base, both vendored. One is part of `buildah unshare` and I'm fairly certain Podman will never invoke that code. The other is pa

[2019-04-13 23:41] mheon commented on #2926
What command are you running in the container? Does running another command (e.g. `podman run -t -i --rm fedora bash` have different results?

What shell are you running?

[2019-04-13 23:48] mheon commented on #2926
Can you try a `podman run` command without `-t` and see if the issue still occurs?

[2019-04-13 23:55] mheon commented on #2926
Reproduced on Fedora 29, rootless. @baude @giuseppe FYI - this one looks gnarly.

[2019-04-13 23:56] mheon commented on #2926
`strace -f` does not find a single ioctl call with that ioctl from Podman itself - it has to be the shell. Theory: something we're doing with /dev/console puts things in a bad state.

[2019-04-14 00:03] mheon commented on #2926
Just about anything else I've tried, Buildah included, is unaffected, so it seems to just be Podman.

[2019-04-14 00:07] mheon commented on #2926
Not specific to `-t` flag, which I'm pretty sure gates all our our raw terminal stuff - so that's probably off the table as a cause

[2019-04-14 00:19] mheon commented on #2926
Podman run reacts very poorly to being strace'd now, seemingly.

[2019-04-14 00:36] mheon commented on #2926
@giuseppe I think this has to be the Rootless userns.

The first container makes the userns, and it seems to be fine. Every subsequent Podman call, though, joins the existing userns, and causes the controlling shell to get an EPERM on trying TIOCSCTTY (I can't tell yet if this happens before or after the command runs), and we get no output out of the command.

[2019-04-14 05:10] sdcroll commented on #2926
I was able to catch the failing ioctl() call by writing the strace output to a file:

[code]

If I'm reading the output correctly (I don't have any direct experience with clone), I _think_ a thread of podman is forking a child and that child is calling ioctl():

[code]

[2019-04-14 05:49] giuseppe commented on #2926
I've introduced this issue some days ago, I've prepared a PR to revert it: https://github.com/containers/libpod/pull/2927

[2019-04-14 06:01] sdcroll commented on #2926
Probably not related to the ioctl() issue, but if this is indeed a thread calling fork (per the CLONE_THREAD argument) then be aware that you can only make async-signal-safe calls in the child process or you risk deadlock or other such bad behavior.

From my fork() manpage:

[code]

Calls such as setenv(), fprintf(), strerror(), and free() are definitely not async-signal-safe.  Not sure about some

[2019-04-14 07:34] afbjorklund commented on #2702
I have that on tab-completion, but to be honest I don't really know who is providing it for me ?

What I am _really_ missing is the ./configure step, but that's another story... (so thanks, `sed`)
The only side-effect is that it ends up being "dirty": mostly for changing some hardcoded paths.

Please take a look at the PR, see if I missed something ?

[2019-04-14 09:14] Fodoj opened #2929 "podman ps shows invalid port data"
/kind bug

**Description**

When kube yaml has multiple containers each exposing different port, `podman ps` shows that each container exposed same port.

Example pod.yaml:

[code]

**Steps to reproduce the issue:**

1. Create file pod.yaml with contents as above

2. `podman kube play pod.yaml`

3. Run `podman ps`

**Describe the results you received:**

[code]

**Describe the results you expected

[2019-04-14 09:19] Fodoj opened #2930 "podman kube play does not use default environment variables"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using postgres image from Docker Library. If I run it just with `podman run`, without specifying any extra environment variables, it works fine - it picks default values for things like `PGDATA`, `PATH` etc.

But if I use pod.yaml and `podman play kube`, it doesn't use any default values

[2019-04-14 09:27] vrothberg commented on #713
Something we can check maybe next sprint? As long as more things are added to the todo, it will be tough to start working on it. In any case, we need https://github.com/containers/image/pull/608 before.

[2019-04-14 09:29] rhatdan commented on #2920
Well all of the examples in the man pages are wrong, then because they all show timestamps without any special flags that I see.

[2019-04-14 09:32] vrothberg commented on #2013
Unfortunately not. The work on the copy-detection mechanism exploded into rewriting parts of the storage backend and I am continuously blocked by cleaning up breaking builds/tests due to API changes which is really slowing me down.

[2019-04-14 09:34] vrothberg commented on #2167
@rhatdan, feel free to put others on this issue. The copy-detection mechanism received a higher priority but is not yet finished.

[2019-04-14 09:43] vrothberg commented on #1911
Sure. The blob-locking mechanism in containers/storage is done. Each blob, when being copied into containers-storage, will receive a dedicated lock file in the storage driver's tmp directory. That's the central mechanism for serialization and synchronization.

The progress-bar library received some backported features we needed to update the bars on the fly, and we're already making use of them.

[2019-04-14 10:38] vrothberg commented on #2384
Yes, the latest master of Skopeo supports inspecting images in different locations (including rootless inspection).

[2019-04-14 13:07] mheon commented on #2929
That's actually expected. They're sharing a network namespace, so all
containers in the pod have the port available.

On Sun, Apr 14, 2019, 05:14 Kirill Shirinkin <notifications@github.com>
wrote:

[2019-04-14 13:10] Fodoj commented on #2929
Then it should show all ports for each container, not just one of them. Otherwise output is confusing 🙄

[2019-04-14 13:21] #2926 closed

[2019-04-14 13:30] vrothberg commented on #2734
@rhatdan, this should be fixed now. Imagebuildah effectively forked the package of a later version, and everything has been properly propagated through the projects. Thanks for catching up on this!

[2019-04-14 13:30] #2734 closed

[2019-04-14 13:32] vrothberg commented on #2600
Yes, this is working now. Thanks for catching up on the issue!

[2019-04-14 14:54] fansari commented on #2245
I have the same issue with Fedora Silverblue 29. The problem started after I formatted the volume with xfs - with btrfs I did not have this issue.

When I do

[code]
the issue is fixed. But after a reboot this change is gone.

How can I fix this permanently (without any local oneshot systemd hack)?

[2019-04-14 17:54] adrianreber commented on #1618
The container migration feature required changes in many different projects. CRIU, runc, selinux-policy, container-selinux. Most problems have been solved. Right now I am waiting for the last changes in selinux-policy to be available on Fedora 28 and 29 so that the corresponding container-selinux policy changes to support the restore of multi-threaded processes with the correct SELinux labels.

I

[2019-04-14 18:02] h-vetinari commented on #2250
@rhatdan
For this issue specifically, I think the only thing left to do is:

Regarding other points in the discussion, I'd need to have an update of podman/buildah in the RHEL 7.6 extras channel as soon as possible, but before I'd really need for containers/buildah#1456 and #2887 to be fixed first. Can open a separate issue for this if you want.

[2019-04-15 02:24] matthiasclasen opened #2935 "podman list fails in rawhide"
[code]

[2019-04-15 03:59] kunalkushwaha commented on #2909
I don't have very strong opinion on the error. I can create PR for this.

Will listing available network will also be helpful? e.g. `podman network ls` ?

[2019-04-15 04:40] mheon commented on #2909
If we're going to start adding `podman network` commands (and I'm certainly not opposed to doing so), `network ls` is definitely a good starting point.

[2019-04-15 04:45] mheon commented on #2935
@giuseppe PTAL

[2019-04-15 05:21] SveWoCo commented on #2116
Hi, my problem was solved. With issue [420](https://github.com/containers/buildah/issues/420). It was not a Problem with the package.

[2019-04-15 07:19] konrad-ohms commented on #713
Maybe having a look into https://github.com/estesp/manifest-tool could help?
For now someone can use it directly, e.g. in combination with buildah or podman.
If I remember correctly, that project was started before docker got the manifest command, but it works perfectly find also without docker, I use that on a regular basis.

[2019-04-15 07:25] anilv4 commented on #2559
The workaround I used was to start the libvirt VM using "cni0" to do my testing. However I do not think its the right way to do it.
--

[2019-04-15 07:28] anilv4 commented on #2559
Reopening,  closed by mistake.

The workaround I used was to start the libvirt VM using "cni0".  However I do not think it was the right way to do it and it was for a simple testing.
--
Once you have the documentation, I can test the steps.

[2019-04-15 07:44] vrothberg commented on #2930
Thanks for the report, @Fodoj!
The issue is now fixed with https://github.com/containers/libpod/pull/2932.

[2019-04-15 07:44] #2930 closed

[2019-04-15 08:28] planetf1 commented on #1843
a similar process here.
i do often have DOCKER_HOST set to offload processing from my local mac (esp. if travelling and saving power). I use the spotify docker maven plugin (dockerfile-maven-plugin) to build images, so at some point enabling that plugin, or an alternative would be helpful too.

[2019-04-15 08:29] giuseppe commented on #2925
The reason behind it is that you can use rootless podman without slirp4netns if you specify `--net=host`, so you don't create a new network namespace that must be configured.

Similarly `fuse-overlayfs` is also recommended but not required as you can still use rootless containers with the `vfs` backend.

[2019-04-15 08:30] giuseppe commented on #2924
we made some changes while refactoring the unshare implementation but that must be already fixed upstream in buildah

[2019-04-15 08:33] giuseppe commented on #2070
I've not looked into this yet, I'll try this week

[2019-04-15 08:34] kunalkushwaha commented on #2909
I have created a PR https://github.com/cri-o/ocicni/pull/30 to return error instead of logging warning during `InitCNI()`. Since it will affect `CRI-O` and `podman` , we need to hear `CRI-O` team views too.

[2019-04-15 08:35] giuseppe commented on #2935
this is probably caused by the recent change of using only one namespace.

@matthiasclasen how many containers for the user are running?  I think it is required to stop them first, and then restarting them will ensure they are in the same user namespace

[2019-04-15 10:11] Edward5hen opened #2937 "[podman-remote] command `ps` and `stop`: ERRO[0000] Could not find flag trace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Executing these two commands with every option will print out this error message on the remote node: `ERRO[0000] Could not find flag trace`, although the commands are successfully executed.

**Steps to reproduce the issue:**

1. On the remote node, execute `ps` and `stop` command with any opti

[2019-04-15 10:20] Edward5hen opened #2938 "[podman-remote] command `ps` with option `--ns` does not work well"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
On the remote node, `ps` command with option `--ns` does not show the namespace information.

**Steps to reproduce the issue:**

1. On the remote node:
`PODMAN_VARLINK_ADDRESS="tcp:127.0.0.1:1234" bin/podman-remote ps --ns`

**Describe the results you received:**
[code]

**Describe the results

[2019-04-15 10:32] derkoe commented on #2886
It can be accessed via 10.88.0.2:80.

The iptables rules are [here](#issuecomment-482002826) but I don't know enough to find the issue.

[2019-04-15 12:23] #2767 closed

[2019-04-15 12:24] matthiasclasen commented on #2935
none are running. this is after rebooting into a new silverblue image

[2019-04-15 12:27] rhatdan commented on #2755
@TomSweeneyRedHat I would like to straighten out the vendoring issue in libpod first then we can cut a release.

[2019-04-15 12:35] rhatdan commented on #2918
Ping me on IRC and we can discuss  your idea.

[2019-04-15 12:52] cgwalters commented on #2317
Why wouldn't we want this?  I mean today I provision the RH internal CA cert on both my host and in my toolbox container, and it's an annoyance every time I spin up a non-toolbox podman container and it can't talk `https://` to internal websites.

[2019-04-15 12:56] giuseppe commented on #2935
`/run/user/1000/overlay-containers` should be empty after a reboot.  How was the container 0781aa62f52996e65e0eeea8dd18934c16dc53b448db2c03e253faf4e1ecb200 created?

[2019-04-15 13:04] rhatdan commented on #2245
Well the hacky way to do this would be to add a service that starts at boot time and does a

# setsebool virt_sandbox_use_fusefs on

No need for the -P, since silverblue is dropping the change on reboot anyways.

[2019-04-15 13:05] rhatdan commented on #2245
container-selinux-2.89-1.git2521d0d.fc29 should have a fix for this though.

[2019-04-15 13:06] edsantiago commented on #2212
Still present in d10f68ac95e13535f90d9b643ac2d7530178c21d.

FWIW the 'varlink' process is quite noisy; from a short test run, I get tons of output like:
[code]
And, oh dear, `podman-remote pull alpine` is SEGVing.

[2019-04-15 13:06] matthiasclasen commented on #2935
[code]

[2019-04-15 13:08] edsantiago opened #2941 "podman-remote pull: SEGV"
Window 1:
[code]
Window 2:
[code]
master @ d10f68ac95e13535f90d9b643ac2d7530178c21d

[2019-04-15 13:20] duritong opened #2942 "Rootless podman won't start when exposing ports"
/kind bug

**Description**

Trying to run a rootless podman container exposing ports on CentOS 7, this works fine on Fedora 29, though with the same versions it doesn't work on CentOS 7.

When trying to start a rootless container, it even blocks any other kind of execution of podman as this user.

I am not fully sure, whether this is actually a bug in podman, runc, slirp4netns . Though I assumed o

[2019-04-15 13:25] giuseppe commented on #2935
so the issue we are hitting here was fixed by 6c6a8654363457a9638d58265d0a7e8743575d7a, unfortunately the fix doesn't work for containers that were created without the fix.

I wonder if we can add a command like "system rootless-restore" that stops all the containers, changes the configuration for the conmon pid file to be in the static directory and then restart the containers.

Matt, would it be

[2019-04-15 13:34] QiWang19 commented on #2167
would it be helpful for me if I could see the bugzilla page....?
![bugz](https://user-images.githubusercontent.com/23665824/56136852-98b55d80-5f61-11e9-90a9-7c161f3511cf.png)

[2019-04-15 13:45] rhatdan commented on #2925
Also neither is required for running non rootless.  Therefor fuse-overlay and slirpnetns are Recommended not required.

[2019-04-15 13:50] matthiasclasen commented on #2935
I don't know anything about podman configuration. You will have to tell me what I need to change.

[2019-04-15 13:53] rhatdan commented on #2937
@jwhonce @baude PTAL

[2019-04-15 13:57] baude commented on #2212
I have a PR to fix this original report but i need to coordinate with the cockpit folks and we're not quiet there yet.

[2019-04-15 14:08] rhatdan commented on #2317
I am asking more of what you expect to have happen.
Mount /run/user/%d/p11-kit/pkcs11 into the container?
This will be blocked by SELinux, so we would need to allow this.
Copy and mount "/etc/pkcs11/modules/p11-kit-trust.module" into the container?
Create container specific version of /etc/pkcs11/pkcs11.conf and mount it in place.

Others?

[2019-04-15 14:11] mtrmac commented on #1948
@rhatdan If you know this has been fixed in `Buildah`, please point out the fixes.

I have no idea what is going on, and apart from randomly diffing `strace`, I have no other way to move forward without a reproducer I can try locally.

[2019-04-15 14:18] mheon commented on #2942
@giuseppe PTAL - looks like slirp might be the culprit here?

[2019-04-15 14:22] mheon commented on #2935
Hm. We have the core mechanism to do that from `system renumber`...

@giuseppe I'd call the command `podman system migrate` or something similar. There are a few other things that will require that.

[2019-04-15 14:23] mheon commented on #2935
But no fundamental objection to adding a command that will migrate container configurations to change things like this, as long as we guarantee the containers are down when we make the changes.

[2019-04-15 14:25] rhatdan commented on #1948
@mtrmac I have no idea, All I know is we did a major rework on buildah pull and would like to see similar done to podman pull.  For the specific Issue, I have no idea if this is fixed in buildah yet.

[2019-04-15 14:37] vsoch commented on #2925
Makes sense. It wasn't needed for my particular container, so should the message be an error or a warning? The average user is likely to miss this detail, install without it, and then see the error message. Some possible ways to get around this:

 - better documentation (although likely they won't read it beyond install instructions)
 - if slirp3netns is not found, can it not be assumed that --net

[2019-04-15 16:35] rhatdan commented on #2925
I think better documentation is always good.  But is this a packaging issue. On Fedora and RHEL8 we have those packages as Recommends, which means they get installed by default.  They are only NOT installed if the person installing the packages tells yum to not install them.

Do we have the same setup for Ununtu?

[2019-04-15 16:51] vsoch commented on #2925
Based on installing from the package manager and not getting this installed, I'd say the same setup isn't working for Ubuntu.

Where is the code to release? I just found the [ubuntu_setup.sh](https://github.com/containers/libpod/blob/master/contrib/cirrus/packer/ubuntu_setup.sh) which I think is for testing.

[2019-04-15 17:27] AkihiroSuda commented on #2942
could you try slirp4netns 0.3.0 final?

[2019-04-15 18:05] fansari commented on #2245
This is installed on my system:

container-selinux-2.94-1.git1e99f1d.fc29.noarch

[2019-04-15 20:07] giuseppe commented on #2935
opened a PR here: https://github.com/containers/libpod/pull/2950

I've currently marked it as WIP as I'll continue working on it

[2019-04-15 20:35] rhatdan commented on #2245
@fansari What AVC were you seeing?

[2019-04-15 20:57] duritong commented on #2942
I just tried with a rebuilt package for 0.3.0 final and it does not make a difference.

[2019-04-16 04:22] dougsland commented on #1925
@TomSweeneyRedHat sure thing, let me check and dig this.

[2019-04-16 05:40] AlekseyUsov opened #2951 "Unable to change CMD in podman commit if it has arguments"
/kind bug

**Description**

Unable to set CMD in a created container before committing it into image if it contains multiple elements, like /usr/sbin/httpd -D FOREGROUND. I tried several variations, like using single and double quotes, omitting square brackets, etc, but to no avail.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you

[2019-04-16 07:15] fnkr commented on #2898
Hi,

I couldn't figure out how to fix this yet. If I use `--uidmap` the UID/GID of volumes is always 65534.

[code]

[2019-04-16 10:37] rhatdan commented on #2898
Is uid 1001 mapped into your container?  If not it will show up as 65534

[2019-04-16 12:01] fnkr commented on #2898
Yes, it is (`$UID` is `1001`). This is how the command is expanded:

[code]

Here is another example that doesn't work either:

[code]

[2019-04-16 14:04] FlorianLudwig commented on #759
[code]
if you happen to come here and end up with `Error: Invalid --security-opt 1: "label:disable"` ;)

[2019-04-16 14:35] fansari commented on #2245
type=AVC msg=audit(1555425280.457:308): avc:  denied  { map } for  pid=7462 comm="run.sh" path="/usr/bin/bash" dev="fuse" ino=26566333 scontext=system_u:system_r:container_t:s0:c442,c952 tcontext=system_u:object_r:fusefs_t:s0 tclass=file permissive=0
type=ANOM_ABEND msg=audit(1555425280.457:309): auid=1000 uid=1000 gid=1000 ses=3 subj=system_u:system_r:container_t:s0:c442,c952 pid=7462 comm="run.s

[2019-04-16 15:00] giuseppe commented on #2942
I've tried on a fresh centos 7 Digital Ocean droplet and it works fine for me.

I have manually installed slirp4netns, runc and podman to the latest git version.

[code]

[2019-04-16 16:05] Snapstromegon opened #2955 "Podman doesn't load registries.conf from $HOME/.config/containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

According to [this](https://github.com/containers/libpod/blob/master/docs/podman.1.md) -> Files registries.conf it should be possible to overwrite the registries.conf with a file at /home/USERNAME/.config/containers/registries.conf.

I created the default .conf file at that location and recie

[2019-04-16 16:52] Fodoj opened #2957 "Setting users in pod.yaml"
/kind feature

### Description

I'd love to be able to set a user for container inside pod.yaml, with securityContext. Is that already possible? I tried with `runAsUser` but it didnt change the user.

[2019-04-16 16:53] mheon commented on #2957
Should be possible, but entirely possible we haven't wired that field in yet.

[2019-04-16 17:07] Fodoj commented on #2957
@mheon is that the complete code of parsing yaml and converting it to OCI spec and passing it to pod creation? https://github.com/containers/libpod/blob/master/cmd/podman/play_kube.go

[2019-04-16 17:17] mheon commented on #2957
Yes, all the `play kube` code lives in that file now

[2019-04-16 17:37] h-vetinari commented on #2887
@TomSweeneyRedHat
Any news on this? :)

[2019-04-16 19:06] Snapstromegon commented on #2955
My research after cloning the repo shows, that in platform_linux.go the method "CheckForRegistries" actually only looks for the etc registries.conf and outputs the error if it doesn't exist.

In my opinion it should look for overwrites before assuming none is present.

[2019-04-16 19:28] duritong commented on #2942
Thanks for testing, @giuseppe !

Part of your first line (`centos-s-4vcpu-8gb-fra1-01`) made me aware of another assumption I had, though which I forgot to investigate: I was able to successfully do the run with exposing a port also a few times while developing on various systems, though I had my dev system (in a Vagrantbox) where it was consistently failing. And it didn't matter whether the syste

[2019-04-16 19:29] mheon commented on #2955
I don't know if there is code in c/image for parsing override paths for registries.conf - @giuseppe you would've been the one to add that, probably?

[2019-04-16 22:16] duritong commented on #2942
Ok I did a test script:

[code]

This got me the following output:

[code]

With my very small test sample I would conclude that it only works reliable with 4 vCPUs. And actually it's 4 processes that are communicating with each other: podman, conmon, runc & slirp4netns

[2019-04-17 03:30] AkihiroSuda commented on #2942
Plain slirp4netns without Podman works?
(I assume it should work, as slirp4netns is single-threaded)

[2019-04-17 07:39] duritong commented on #2942
How would I test that?

[2019-04-17 07:42] giuseppe commented on #2886
I think this PR could fix the issue we are seeing here: https://github.com/containers/libpod/pull/2940

[2019-04-17 08:08] AkihiroSuda commented on #2942
https://github.com/rootless-containers/slirp4netns#usage

[2019-04-17 08:40] hardys commented on #2900
I've been seeing similar, where `podman pod exists somepod` returns zero, then immediately after `podman pod rm somepod` fails with `Error: no such file or directory`

I'd assumed it was some sort of corruption, and we've been working around it by either deleting the podman DB and reinstalling, or by using `go get github.com/br0xen/boltbrowser` then using that to manually clean up.

[2019-04-17 09:27] debarshiray commented on #2158
A user with `podman-1.2.0-2.git3bd528e.fc30.x86_64` on Fedora Silverblue 30 just reported this on `#silverblue`. `podman inspect` fails with:
[code]

And there's been a constant trickle of users in the wild who keep reporting this.

The full logs are:
[code]

Note that the eventual failure to pull is due to https://github.com/containers/buildah/issues/1504.

[2019-04-17 10:20] giuseppe commented on #2942
I wonder if the version of go you are using can make any difference.  We are using some go routines, but nothing that should block if there are not enough cores

[2019-04-17 10:52] debarshiray commented on #2158
After some back and forth on IRC, it turned out that the user had been using Podman for a while using the same `$HOME` even though the rest of the installation was fresh. So the messed up `storage.conf` might have been due to an old Podman version.

[2019-04-17 12:04] duritong commented on #2942
EPEL comes with 1.11.5, which is what is being used when rebuilding the podman package

[2019-04-17 12:11] TomSweeneyRedHat commented on #2678
I'm going to reopen this so the thought doesn't get lost, at least until we get something to contributors.md or some such.

[2019-04-17 13:00] tobwen commented on #2678
@TomSweeneyRedHat Wiiikkkiii :)

[2019-04-17 13:08] mheon commented on #2900
The one thing I can almost guarantee is that the DB is in good shape, and
shouldn't require manual cleaning or deletion (though I'd be interested to
hear if you found otherwise exploring your database after seeing this). I'm
fairly certain this is an error from trying to clean up various container
resources, but it should be a nonfatal one (I'm fairly certain the
container is already gone from the

[2019-04-17 13:17] hardys commented on #2900
@celebdor do you have any details of the boltbrowser hacking you had to do which may be of interest to @mheon ?

[2019-04-17 13:21] rhatdan commented on #2678
@rhatdan If you want to create the first page for the Wiki,we can turn it on.

[2019-04-17 13:38] rhatdan commented on #2898
@fnk

[2019-04-17 13:42] rhatdan commented on #2898
@giuseppe I am seeing this also.  Any ideas?
 podman run --rm -v="$PWD:$PWD" --privileged -w "$PWD" --uidmap=0:10000:3267 --uidmap=3267:3267:1 alpine ls -l -n

Is showing me the files in my homedir as:
-rw-rw-r--    1 65534    65534        13426 Apr 17 12:30 run.bats
-rw-rw-r--    1 65534    65534         1212 Apr 15 20:15 secrets.bats
-rw-rw-r--    1 65534    65534         2597 Apr 15 20:15 selin

[2019-04-17 13:44] giuseppe commented on #2898
root from the first namespace (which is your user) is not mapped inside the new namespace, you need to do `--uidmap=3267:0:1`

[2019-04-17 13:45] rhatdan commented on #2898
So the issue here is that my command is executing in the second namespace.

[2019-04-17 13:46] giuseppe commented on #2898
we need to use something like fedora-toolbox: https://github.com/debarshiray/toolbox/blob/master/toolbox#L732-L734

[2019-04-17 13:46] rhatdan commented on #2898
Very confusing for the user.

[2019-04-17 13:51] giuseppe commented on #2898
@rhatdan agreed.  We need to do this automatically:

[code]

[2019-04-17 14:46] EmilienM commented on #2240
No it didn't help:

[code]

[2019-04-17 14:50] nalind commented on #2823
We're no longer committing an image for steps 2 and 3, so it makes sense that we wouldn't see an unnamed intermediate image being left behind when step 4 fails.  When we wire in support for committing without creating a layer, which we need anyway, then we'll be able to have images for steps 2 and 3.

[2019-04-17 15:15] EmilienM commented on #2240
I think we need to re-open this one, we manage to reproduce it with latest podman:

[code]

[2019-04-17 15:37] TomSweeneyRedHat commented on #2823
@edsantiago is this new behavior described by @nalind above OK from your side?  If so I'm going to close this and the related issue.

[2019-04-17 15:56] edsantiago opened #2960 "podman-remote run --uidmap: makes storage/overlay go+x"
In window 1:
[code]
In window 2:
[code]
master @ a87cf6fef8f84ded410d547aa772b8f942c5f273

[2019-04-17 15:57] edsantiago commented on #2960
@giuseppe phew! This seems to be the cause of the problem I've been seeing all week.

@baude PTAL

[2019-04-17 16:02] rhatdan commented on #2245
Fixed in container-selinux-2.98-1.gitaa7b807.fc29

[2019-04-17 16:10] rhatdan commented on #2735
I think we should check to see if you are logged in via podman if not then tell the user it is using docker login, If I try podman logout, and we are not logged in, then check if docker auth exists and report it as an error,  But do not touch the file.

[2019-04-17 16:29] Fodoj opened #2961 "Unable to run postgres image rootless"
/kind bug

### Version

1.2.0 and 1.3.0-dev at least

### How to reproduce

[code]

Result:

[code]

No clue which permissions it needs or if that's selinux issue or anythin else. Also tried to set POSTGRES_PASSWORD of course.

[2019-04-17 16:54] mheon commented on #2961
What OS? We were seeing SELinux issues creating unix sockets in containers recently on Fedora.

[2019-04-17 17:03] edsantiago opened #2962 "podman-remote: sometimes shows container status as 'stopped'"
A fast sequence of `podman-remote run, stop, inspect` will sometimes show container status as 'stopped' (expected: 'exited'). A subsequent inspect will show `exited` as expected. I thought 'stopped' had been deprecated?

Reproducer:
[code]
It has never taken more than five iterations to trigger; usually it's one or two. I cannot get it to trigger using plain `podman` (not remote).

Sample output:

[2019-04-17 17:05] Fodoj commented on #2961
Fedora 29, Linux linux.fritz.box 5.0.4-200.fc29.x86_64 #1 SMP Mon Mar 25 02:27:33 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-04-17 17:25] Fodoj opened #2963 "unable to find mount source when generating kube yaml being rootless"
/kind bug

### Version

Podman 1.3.0-dev

### OS

Fedora Workstation 29, Linux linux.fritz.box 5.0.4-200.fc29.x86_64 #1 SMP Mon Mar 25 02:27:33 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### How to reproduce

Note that probably not all ports are needed or even matter. But I still provide full commands I executed:

[code]

[2019-04-17 17:28] Fodoj opened #2964 "go runtime panic of trying to re-add container with rootless pod"
/kind bug

### Version

Podman 1.3.0-dev

### OS

Fedora Workstation 29, Linux linux.fritz.box 5.0.4-200.fc29.x86_64 #1 SMP Mon Mar 25 02:27:33 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### How to reproduce

Note that probably not all ports are needed or even matter. But I still provide full commands I executed:

[code]

Now postgres is running and attached to current session. Then I cancel it with

[2019-04-17 17:32] Fodoj commented on #2964
To be more prices, __every__ command returns similar go panic. The only way to fix it is to find podman process (`ps aux | grep podman`) and kill the process. Then commands can be executed. But it also results in some bad corrupted state, because running exactly same `podman run` command returns this:

[code]

[2019-04-17 17:33] Fodoj commented on #2964
More info: I also tried removing some of resulting stopped containers and it returns a different go panic:

[code]

[2019-04-17 17:40] edsantiago commented on #2823
@nalind @TomSweeneyRedHat I'm really confused. The behavior I reported in the first comment is still present (a87cf6fef8f84ded410d547aa772b8f942c5f273) and still IMO very wrong: a build that fails should not be tagged. When you try the exact sequence given in my first comment, do you not see the `localhost/foo` image? Am I doing something wrong?

[2019-04-17 17:45] mheon commented on #2961
Can you get `rpm -q container-selinux`? Also, you might want to try `setenforce 0` then running the container again, to see if it really is SELinux? Assuming it is, you might want to try a `dnf -y --enablerepo=updates-testing upgrade container-selinux` - I think the fix is in updates-testing

@rhatdan What version of container-selinux had the fix?

[2019-04-17 17:46] baude commented on #2961
I ran `podman run -it postgres:9.6.9` on my F29 laptop and it ran fine.

[2019-04-17 17:51] mheon commented on #2964
@giuseppe PTAL - potentially related to rootless userns?

[2019-04-17 17:51] Fodoj commented on #2961
@mheon

I had this  version:

[code]

Tried to turn off SELinux and it helped.

Then I upgraded container-selinux with your command:

[code]

Enabled SELinux again and tried running postgres. This time it worked. So the fix in container-selinux package works.

[2019-04-17 17:52] mheon commented on #2961
Ack, good to hear! I'll close, then - reopen if you have further issues

[2019-04-17 17:52] #2961 closed

[2019-04-17 17:53] Fodoj commented on #2964
I found an easier way to re-produce. Just run this with Podman 1.3.0-dev:

[code]

And you will get same go panic with `netpoll failed`.

[2019-04-17 17:56] baude commented on #2964
@Fodoj I think you have something wrong with your environment or podmans.  I ran both the origina replicator and the one just above as both root and rootless.  all of it worked as expected.  I would recommend joining us on IRC to investigate further.

[2019-04-17 17:57] Fodoj commented on #2964
@baude sure, how do I do that?

[2019-04-17 17:58] baude commented on #2964
we are on irc.freenode.net in #podman ...

[2019-04-17 18:16] rhatdan commented on #2887
@mheon why do you think this is an image issue?

[2019-04-17 18:18] edsantiago commented on #2960
To follow up on the IRC discussion: this does not happen with plain (non-remote, non-varlink) podman.

[2019-04-17 18:22] mheon commented on #2887
@rhatdan Image, built by Docker, run by Podman works. Image, build by Buildah, run by Podman, does not work. Seems like it's the image based on that

[2019-04-17 18:24] baude commented on #2960
confirmed as well.

[2019-04-17 18:30] mheon commented on #2962
`stopped` is still a potential state, however we should be transitioning out of it very quickly - on my local system, cleanup seems to happen around .25-.5 seconds after container exit, so we spend that time in the `stopped` state before transitioning to `exit`. I imagine that cleanup would take longer on a testing VM, so you could be seeing that here - a few seconds delay as cleanup runs and take

[2019-04-17 18:46] mheon commented on #2964
@giuseppe PTAL. From the stacktraces, it seems like a runtime panic out of Go while libpod is in the C code for joining a user namespace.

[2019-04-17 19:16] rhatdan commented on #2240
The latest podman should get you out of it, IE podman rm -f CID should remove the container even if it is not known in podman's database.

[2019-04-17 19:17] EmilienM commented on #2240
I tested with podman-1.2.0-1.git3bd528e.module+el8+2977+701c9eaf.x86_64 as you can see in my previous comment and it didn't work. This rpm has your patch iiuc.

[2019-04-17 19:18] EmilienM commented on #2240
podman rm didn't work, you can ask @mheon, he saw it while we were debugging.

[2019-04-17 19:31] mheon commented on #2240
The issue here seems to be some Podman command between the container being started, and the container being removed, is run in a container without `/var/run` from the host mounted (or, otherwise, missing the `/var/run/libpod/alive` file we use to check to see if the system has restarted, plus whatever c/storage uses for the same thing). This causes us to lose track of container status - whether it

[2019-04-17 19:32] mheon commented on #2240
I can partially work around this on the Podman side by making our refresh code smarter (but slower) and actually querying c/storage and runc to see what the container is doing at the moment.

However, I can't fix c/storage losing the mount counter because /var/run was changed, so I can't directly fix this on the Podman side.

[2019-04-17 19:33] mheon commented on #2240
Also, unfortunately, `buildah rm` no longer works on containers without a `buildah.conf`.

This means we no longer have a way of working directly with c/storage containers that get orphaned.

[2019-04-17 19:59] Fodoj commented on #2964
I downloaded latst build from here (no idea if that's correct place, but I couldnt find any other compiled version of master branch): https://apps.fedoraproject.org/packages/podman/overview/ and it also throws at me the panic, even though it also shows the result of command, for example:

[code]

So, bug is not reproducible on 1.2.0, but I can easily reproduce it if I compile master branch myself

[2019-04-17 20:02] mheon commented on #2964
1.2 is missing the refactor of rootless user namespaces, so this supports my theory

[2019-04-17 20:46] rhatdan commented on #2240
We should fix it, so that it also removes container images when told to --force.

[2019-04-17 20:59] mheon commented on #2240
I don't see how that will help here?

[2019-04-17 21:02] rhatdan commented on #2240
I would give you a way to cleanup

[2019-04-17 21:03] mheon commented on #2240
I don't think that helps us? The issue here is that we don't know the container is mounted, so it's not unmounted, so attempting to remove storage doesn't work.

[2019-04-17 21:41] edsantiago opened #2966 "podman cp - (minus): unimplemented"
`podman cp --help` claims that a minus sign reads or writes tar on stdin/out. This would be compatible with docker. It does not work:
[code]
master @ a87cf6fef8f84ded410d547aa772b8f942c5f273 but AFAICT this has never worked.

[2019-04-17 21:54] mheon commented on #2966
Agree with your assessment - never been in the code, nearest I've seen. Shouldn't be that difficult, though... We have support for untarring, so we can just set input file to `/dev/stdin` and it ought to work, I think

[2019-04-17 21:55] TomSweeneyRedHat commented on #2887
Sorry @h-vetinari I've not had time to dive into it, chasing other fires.

[2019-04-17 22:01] edsantiago commented on #2966
Good thinking. I just tried that, and it looks like it'll take a little more effort:
[code]

[2019-04-17 22:57] jwflory commented on #1948
For what it's worth, this issue was resolved on my "problem" machine. I can pull images and I haven't done a fresh install yet either.

[2019-04-18 07:02] derkoe commented on #2887
@h-vetinari I used the version that ships with CentOS: 0.12.1.2

[2019-04-18 08:30] giuseppe commented on #2964
I think this is caused by us closing the fds not used by Podman.  Looks like the detection for how many fds are open is detecting some files that are later closed and we are in facts closing some fds used by golang.

To reproduce you'll need to open some FDs like:
[code]

PR here: https://github.com/containers/libpod/pull/2967

[2019-04-18 08:49] jplandrain commented on #2211
Sorry for the delay before I could answer. To me it looks like it works fine now:

'➜  ~ podman version
Version:            1.3.0-dev
RemoteAPI Version:  1
Go Version:         go1.10.4
OS/Arch:            linux/amd64

➜  ~ podman run --rm -it busybox echo hello world
hello world
`

[2019-04-18 12:06] rhatdan commented on #2966
@QiWang19 I thought we tested this.  Once you fix, please make sure there is a test for it.

[2019-04-18 12:17] rhatdan commented on #1948
Could have been some network setup problems on this machine?

[2019-04-18 12:27] TomSweeneyRedHat commented on #2823
@edsantiago With the latest from upstream, I'm seeing the below.  I'm not seeing a 'foo' image there at all.  However if you compare against Docker you do see a `<none> <none>` image in addition to the alpine image.  Were you by chance using not the latest from upstream in your test?

[code]

[2019-04-18 12:31] edsantiago commented on #2823
@TomSweeneyRedHat I'm looking at podman, not buildah. I would prefer not to close this issue until podman exhibits the correct behavior.

[2019-04-18 12:32] TomSweeneyRedHat commented on #2823
That explains it.  Yep, not yet working in Podman, only in Buildah and hasn't been vendored yet.  Thanks @edsantiago

[2019-04-18 12:51] rhatdan commented on #2887
@derkoe Is there any differences you see in the environment set for the container image?

[2019-04-18 12:57] QiWang19 commented on #2966
@rhatdan No, don't know when was the minus sign description added. I'll work on this.

[2019-04-18 13:03] haircommander commented on #2922
issue linking didn't quite work, closing per #2934

[2019-04-18 13:03] #2922 closed

[2019-04-18 13:08] #2211 closed

[2019-04-18 13:19] rhatdan commented on #2823
Lets cut a new version of buildah and get it vendored into Podman, I think it is time for a new buildah.

[2019-04-18 13:31] TomSweeneyRedHat commented on #2823
We've a couple of good layer changes going in plus I want to take another hack at that symlink issue.  I'll plan to cut a new Buildah early next week, holler if that doesn't work.

[2019-04-18 13:33] rhatdan commented on #2823
No that works for me.  I want to cut a new containers/storage and containers/image as well and get them vendored into buildah

[2019-04-18 13:50] #2964 closed

[2019-04-18 14:03] TomSweeneyRedHat commented on #2678
I somehow sent the below the other day to @vrothberg directly rather than to this issue:

"I'm not against Wiki's in general, in fact at my prior stop we lived on Wiki's and it was kind of a culture shock when I came to Red Hat and they weren't to be found.  I don't know about GitHub's variant, haven't played with that.

I think this should go into the contrib.md files, but also having it on a wik

[2019-04-18 14:04] panzerdev opened #2968 "podman exec fails"
**BUG REPORT**
/kind bug

**Can't exec command in running container**

After starting a container I can't use `exec` to execute a command int the container.

**Steps to reproduce the issue:**

1. `podman run --name ubuntu -it registry.hub.docker.com/library/ubuntu bash`

2. Open new terminal window/tab

3. `podman exec -it ubuntu bash`

**Describe the results you received:**
[code]

**Describe the

[2019-04-18 14:06] rhatdan commented on #2968
Where did you get the software for this?  Do you have an up 2 date version of runc.
@lsm5 PTAL

[2019-04-18 14:10] panzerdev commented on #2968
I followed the Ubuntu instructions here
https://github.com/containers/libpod/blob/master/install.md
and had the latest docker installed

[code]

[2019-04-18 14:15] mheon commented on #2968
Info seems to be segfaulting on trying to dereference `r.store`. Given the way the PPA works, this is probably master, which means it has the single rootless userns patch, which I think means we always configure the rootless userns.

[2019-04-18 14:28] mheon commented on #2968
@panzerdev Can you try those commands as root, and see if they work?

[2019-04-18 14:38] panzerdev commented on #2968
If I run `podman` as root for the `run` and `exec` command it works a expected.

Hav

[2019-04-18 14:40] mheon commented on #2968
No, this sounds like a bug, but one specific to our rootless code - we need to do more work to get Podman running without root (setting up a user namespace so we can gain limited versions of certain capabilities), and some piece of that seems to be breaking.

[2019-04-18 20:26] QiWang19 commented on #2735
use docker.checkAuth() in /containers/image/pkg/docker/config/config.go will cause import cycle problem and needs to pass context as an argument.
Can I use checkAuth in podman logout? if not logged in podman and checkAuth success I will assume it is logged with docker?

[2019-04-18 21:17] edsantiago opened #2972 "podman-remote build, rootless: operation not permitted"
This was working perfectly fine (it's part of my test suite). Then, all of a sudden, it stopped working. I don't know why. I have not had any successful runs since it stopped working:
[code]
I've tried running the `varlink` job with `TMPDIR=/var/tmp`. Tried `podman ps -a`, `buildah containers -a`, nothing. It was less than five minutes between the successful run and the failing one. I really have

[2019-04-18 21:22] mheon commented on #2972
EPERM on a sysfs mount in a rootless user namespace from runc - this seems like a rootless issue with Buildah.

[2019-04-18 21:28] edsantiago commented on #2972
Forgot to mention: cannot reproduce with regular podman (non-varlink non-remote).

[2019-04-19 08:52] rhatdan commented on #2972
EPERM always triggers in my mind, SELinux. Are you getting a denial?  Does it work in permissive mode.

[2019-04-19 10:36] Fodoj commented on #2964
With latest master branch error looks different:

[code]

[2019-04-19 10:36] Fodoj commented on #2964
@giuseppe @mheon

[2019-04-19 10:47] giuseppe commented on #2964
that is a different issue, caused by slirp4netns.  What version of slirp4netns are you using?

[2019-04-19 10:51] Fodoj commented on #2964
@giuseppe after doing complete clean and reboot (and also noticing that there was dangling slirp4netns process on port 8000) (and also disabling and stopping docker daemon) it worked fine. Error message is not that clear though. So yes, different issue and a result of local inconsistent setup..

[code]

[2019-04-19 12:53] Fodoj commented on #2963
Aftrer digging into source code, it looks like the source and destination of volume mounts is mixed in kube.go. I could fix it by doing this:

[code]

But then I receive another error: `Error: volume names: not yet implemented`.

/cc @baude according to git history you worked on kube.go most?

[2019-04-19 15:12] edsantiago commented on #2972
Good question. I just tried `setenforce 0`, no difference.

[2019-04-19 20:20] whitel opened #2979 "Copy/Move images between users"
/kind feature

**Description**
I often accidentally build an image as the "wrong" user. For example, as me vs as root. I would really like a way to "tag" the image in to the other user so that a) I don't have to build it again; b) it takes up the same space on disk as only one copy. Given the nature of images, as soon as they start to diverge they could just create the new layers in the user that

[2019-04-19 22:16] caffeinejolt opened #2980 "podman run --mount "ro=false" results in read-only mount"
podman-0.12.1.2-2.git9551f6b.el7.centos.x86_64
centos-release-7-6.1810.2.el7.centos.x86_64

If I do not specify any "ro" value - it does default to writable.  However, the docs indicate that "ro=false" is the default - but if I specify the default, I end up with a read-only mount.

On a side-note, the docs don't really state the difference between --mount and --volume - if you read man podman-run,

[2019-04-19 22:29] mheon commented on #2980
On mount vs volume - they are two syntaxes to accomplish the same goal.
There are some bugs in mount we're looking to resolve, but once those are
fixed they will be functionally identical.

On Fri, Apr 19, 2019, 18:16 caffeinejolt <notifications@github.com> wrote:

[2019-04-20 10:00] rhatdan commented on #2963
@haircommander PTAL

[2019-04-20 10:11] rhatdan commented on #2979
So you want to copy it from the root storage to your user storage or from your storage to root?
We have the beginnings of support for this in Skopeo, which now can understand how to pull form non root.

[2019-04-20 10:39] Fodoj commented on #2979
Something I would love to have implemented as well

[2019-04-20 12:09] kbaegis commented on #2303
+1 :)

[2019-04-20 20:39] TomSweeneyRedHat opened #2983 "Podman installation instructions are broken for Fedora"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**

Fedora, CentOS, RHEL, and related distributions:

Installation instructions list conmon as a package to install, but it fails on Fedora 30.

**Steps to reproduce the issue:**

1. Follow install instructions at https://github.com/containers/libpod/blob/master/install.md

**Describe the results

[2019-04-21 23:56] stevenwhately commented on #2898
To allow for users above 65536 you will need something like:

user_id_real=$(id -u)
max_uid_count=65536
max_minus_uid=$((max_uid_count - user_id_real))
uid_plus_one=$((user_id_real + 1))
if $user_id_real < 65536 ; then
  podman run --rm -v="$PWD:$PWD" --privileged -w "$PWD" --uidmap "$user_id_real":0:1  --uidmap 0:1:"$user_id_real" --uidmap "$uid_plus_one":"$uid_plus_one":"$max_minus_uid"  alpine

[2019-04-22 00:42] kunalkushwaha commented on #2979
Supporting this use-case will also fix major part of issue ["redundant image pull shall be avoided (rootless & root)"]( https://github.com/containers/libpod/issues/2741)

[2019-04-22 13:20] whitel commented on #2979
Correct. And/or user1 -> user2. However, it would nice if the implementation underneath was actually just "tagging" so I would only have one actually copy of the image on disk. But that is just a nicety.

[2019-04-22 13:30] miabbott opened #2984 "unable to run container image; SELinux denial"
/kind bug

I have a pre-built container image that I have been using as a "pet container" for some time now.  Currently unable to run the container due to an SELinux denial.  This looks similar to #2759.  This is on Fedora Silverblue 29.

[code]

[2019-04-22 13:32] mheon commented on #2984
I have to throw something up on the troubleshooting guide to try without `-t` to get better error messages..

Still, that is definitely an AVC coming off runc, so I think you're entirely correct that this is SELinux

[2019-04-22 13:35] miabbott commented on #2984
Matches up with the packages that were upgraded between my two deployments:

[code]

@mheon should I move this over to `runc`?

[2019-04-22 13:43] mheon commented on #2984
I'll leave that one to @rhatdan to decide

[2019-04-22 15:24] miabbott commented on #2984
I downgraded to the previous version of `runc` (runc-1.0.0-68.dev.git6635b4f.fc29.x86_64) and was able to get around this.

[2019-04-22 15:32] rhatdan commented on #2984
How is podman and runc labeled?  `ls -lZ /usr/bin/podman /usr/bin/runc`

The AVC shows that you are running the command as unconfined_t, when the command should be running as container_runtime_t.

This usually means that runc or podman are mislabeled.

They should be labeled container_runtime_exec_t.

ls -lZ /usr/bin/podman /usr/sbin/runc
-rwxr-xr-x. 1 root root system_u:object_r:container_runtime

[2019-04-22 15:37] rhatdan commented on #2984
It looks like the fix to allow this was in 2.01

[code]

[2019-04-22 15:52] jwhonce commented on #2937
@baude Is this related/a duplicate of https://github.com/containers/libpod/issues/2212 ?

[2019-04-22 17:03] afortiorama opened #2986 "Using rootless podman to isolate batch system payloads"
/kind bug

**Description**

I'm trying to use podman to submit batch system jobs. I have CentOS7.6 and I followed this recipe https://www.redhat.com/en/blog/preview-running-containers-without-root-rhel-76 and I found quite few difficulties, included the fact that the container doesn't start and the system seems to be designed to run interactively but I hope to be corrected.

1) Needs either $HOME

[2019-04-22 17:15] mheon commented on #2986
Answering specifically about 65536 UIDs: in upstream Podman (and in the upcoming 1.3.0 release), we allow running with a single UID, but this will cause issues with many common images, which often include files with non-0 UIDs.

For 65536 specifically, though, there is no real requirement for it, and if you modify `/etc/subuid` and `/etc/subgid` I would expect other numbers of UIDs and GIDs to wor

[2019-04-22 17:21] baude commented on #2937
yeah, they are all related.

[2019-04-22 17:22] mheon commented on #2986
For runroot path: that's a kernel limitation - we need a place to put Unix sockets, with (at least most of) a container UUID in them, and the max path length on a Unix socket is 128 characters. We strongly recommend `runroot` be placed somewhere in `/run`, `/tmp`, `/var/run` (or some other tmpfs mount). I can understand why it would be desirable to wrap all contents of a container in the same dire

[2019-04-22 17:30] afortiorama commented on #2986
Hi @mheon ,

the version of podman I'm using says that it needs 65535 UIDs.

[code]

[2019-04-22 17:31] mheon commented on #2986
Hm. That sounds like it ought to be fixed.
@giuseppe Now that we allow single mappings, we ought to allow arbitrary-sized mappings as well, I think?

[2019-04-22 18:31] caffeinejolt opened #2987 "nework=host "is therefore considered insecure" but bridged -p does not work that great"
podman-0.12.1.2-2.git9551f6b.el7.centos.x86_64
centos-release-7-6.1810.2.el7.centos.x86_64

running as root with stock RPM config values in /etc/containers,

--network=host works as expected, but utilizing -p to publish a port does not work (even with iptables starting from a blank state with stock sysctl networking values).... and really, podman is kind of new to me and I am not all the fond of t

[2019-04-22 18:46] mheon commented on #2987
Are you trying to use `-p` with `--net=host`? Or does `-p` not work with normal networking, but `--net=host` works?

[2019-04-22 18:47] miabbott commented on #2984
@rhatdan Strange, my binaries are labeled properly:

[code]

Stranger still, I'm unable to reproduce this in a VM that has the same installed versions.

So...I guess that means I managed to muck up my SELinux labels on my host.  :sob:

I'll close this since it is not reproducible.

[2019-04-22 18:47] #2984 closed

[2019-04-22 18:51] mheon commented on #2987
`--net=host` gives the container full access to the host network. It can bind any port on the host, and connect to any port on the host (including localhost). It will use the same IP address(es) as the host throughout (will not have a separate IP, as it would using a network namespace).

On IPTables - our IPTables changes should be entirely self-contained. I think we modify only one sysctl (enable

[2019-04-22 18:52] mheon commented on #2987
(I wouldn't consider our networking for "early adopters" either - we're using CNI, which has been battle-tested with Kubernetes deployments for years)

[2019-04-22 18:58] caffeinejolt commented on #2987
The 2 scenarios are 1) just "--net=host" (works) and 2) "-p 80" (does not work)

I do not mix -p with --net=host since I don't think that would make sense.

[2019-04-22 19:00] caffeinejolt commented on #2987
Understood.  I guess I should not have written that - I think I was just assuming -p would "just work" and when it didn't I started second guessing things.

[2019-04-22 19:02] mheon commented on #2987
We've seen some bugs around it before, and this sounds like it could be another one.

[2019-04-22 19:03] baude commented on #2987
You are using an RPM that is over 1 year old based on the podman versioning.
`podman-0.12.1.2-2.git9551f6b.el7.centos.x86_64` perhaps an upgrade should be considered?

[2019-04-22 19:04] mheon commented on #2987
That's the latest in CentOS/RHEL7, @baude

[2019-04-22 19:13] baude commented on #2987
yes, i misread the version ... my apologies ... so lets start with what "does not work" means.  How about a replicator of some sort?

[2019-04-22 19:17] afortiorama commented on #2986
This might be another clue

I removed the options and if I become atlas001 with su -l atlas001 rather than ssh into the node as atlas001 I get this

[code]
while there is something else that is problematic when I try to delete ~/.local I get permission denied even though the files belong to atlas001. To delete I have to change permissions to 755 recursively but even then I cannot delete everything

[2019-04-22 19:32] mheon commented on #2986
The differing UIDs is expected - you need to use `podman` to remove the containers/images.

Also, you're using the `VFS` storage driver, instead of `fuse-overlayfs`, which can result in significantly increased disk usage.

The `/run/user/` missing is expected when you use `su` - systemd creates that directory on a user logging in, but it doesn't recognize the use of `sudo` or `su` as a login

[2019-04-22 19:49] caffeinejolt commented on #2987
I did not realize the CentOS7 extras yum repo was that far behind - maybe RH upstream is being cautious due to the 1.x bump - I just checked the release history for first time.

By "does not work", that is limited strictly, I think, to network forwarding - I can connect to the published port on the address listed in iptables -L -n

Chain CNI-FORWARD (1 references)
target     prot opt source

[2019-04-22 19:57] afortiorama commented on #2986
So I have to run podman rm --all and podman rmi --all at the end of the job?

I'm using what I have on  CentOS7. Even the fedora repo reccomended to install a more recent version of shadow-utils doesn't contain fuse-overlayfs.

/run/user permissions are another reason to use another location for runroot then.

[2019-04-22 20:01] rhatdan commented on #2984
The other issue could be if /usr was mounted nusuid, this could block transitions.

[2019-04-22 20:07] mheon commented on #2986
If you're looking to immediately remove the directories in question, we definitely recommend an `rm --all --force` and `rmi --all --force` before doing so to clear UIDs and GIDs. Once `podman unshare` lands in 1.3.0 you will also be able to use that to spawn a shell that has full permissions to work with these UIDs, which could also be used to remove the directory in question.

[2019-04-22 20:10] giuseppe commented on #2986
yes, this limitation was dropped and now we allow to run with just one user mapped in the namespace, as you said this can break some images.

[2019-04-22 22:28] MarcoFalke commented on #2983
See also slightly related https://bugzilla.redhat.com/show_bug.cgi?id=1686636

[2019-04-23 05:37] h-vetinari commented on #2887
I'm using podman on Ubuntu 18.04, installed through the PPA. Otherwise, everything else is default on my end.

[2019-04-23 09:29] abitrolly commented on #1915
@lsm5does it work? What is required to push it to the `--edge` channel?

[2019-04-23 12:39] kbaegis commented on #1834
Was this fixed?

kbaegis@crucible ~ $ sudo podman run -it --name nulllabs-build --privileged --network host --add-host services.lab:127.0.0.1 --add-host server.lab:127.0.0.1 --dns 127.0.0.1 --cap-add SYS_ADMIN --rm -v /var/lib/containers/:/var/lib/containers/:shared --entrypoint=/bin/bash crucible.lab:4000/oci/build:latest
WARNING: The same type, major and minor should not be used for multiple dev

[2019-04-23 12:56] rhatdan commented on #2887
I am asking you to inspect the docker build verus the podman build and see if you see anything obvious.

[2019-04-23 13:21] mheon commented on #2887
Agree - if you can pastebin the output of `podman inspect` for both images, it would help a lot

[2019-04-23 13:33] mheon commented on #1834
Podman version?

[2019-04-23 15:15] lsm5 commented on #1915
well I'm still working on the skopeo snap, which will be needed before I can get podman done.

[2019-04-23 15:55] matthiasclasen opened #2993 "podman stop fails"
Seeing this in a recent rawhide (podman-1.3.0-17.dev.gitbf5ffda.fc31.x86_64):

[code]

If this is caused by my containers being created by a previous podman release, may I suggest that your testsuite needs to cover this case: create a container with an older version, and verify that the tested podman can handle it.

These are pets, so I'm not prepared to shoot them everytime you push a new podman

[2019-04-23 16:33] mheon commented on #2993
Pretty sure this isn't related to the upgrade - we just regressed on how we choose containers for `podman stop` (probably happened when we migrated to remote).

@baude @jwhonce We're using `GetContainersByContext()` to retrieve all containers to act on for `stop`, but we're not filtering the results to only running containers, so we try and stop containers that are only configured.

[2019-04-23 16:34] mheon commented on #2993
Potential solution: make `stop --all` ignore not only ErrCtrStopped but also ErrCtrStateInvalid

[2019-04-23 16:38] mheon commented on #2993
#2994 should fix

[2019-04-23 17:21] caffeinejolt opened #2996 "podman-run --systemd=true insufficient to properly run systemd"
podman-0.12.1.2-2.git9551f6b.el7.centos.x86_64
centos-release-7-6.1810.2.el7.centos.x86_64
systemd-219-62.el7_6.5.x86_64

As noted in the podman-run man page for --systemd=true (default value): "podman will setup tmpfs mount points - /run, /run/lock, /tmp, /sys/fs/cgroup/systemd, /var/lib/journal

However - running systemd as such, result in numerous errors on startup (visible in podman-run when u

[2019-04-23 19:31] rhatdan commented on #2996
I think you have issues in your labeling.  systemd should be able to write anywhere within the container image.

Could you remove the tmpfs and check if you have an issue with SELinux.

You could see if SELinux is causing the permission denied via setenforce 0 to test it.

I would expect you have a labeling issue in /var/lib/containers

restorecon -R -v /var/lib/containers

Would fix the labels.

[2019-04-23 19:32] flx42 opened #2998 "Unprivileged overlay attempts to mknod"
I don't believe #1949 truly got fixed. I'm running podman devel version from d652c8656d7425c34234071eddb55cbba9ac070f,  I have shadow-utils binaries with setuid and UID/GID ranges configured,  and `fuse-overlay` version 0.3

When pulling an image with file whiteouts, I get "permission denied":
[code]

This is because the following code unconditionally attempts to `mknod` for file whiteouts:
https:

[2019-04-23 19:44] mheon commented on #2998
@giuseppe PTAL

[2019-04-23 19:47] caffeinejolt commented on #2996
my bad - i totally forgot to mention --read-only was being used - but that is typically the case i would imagine for a production container - systemd artifacts would mostly be considered transient (tmpfs) - or at least that is how i run containers - everything is read-only except tmpfs stuff and bind mounts are used for anything that must be permanent

[2019-04-23 19:48] caffeinejolt commented on #2996
which i think is what the --systemd option seems to be meant for - to enable systemd to function within a mostly immutable image

[2019-04-23 19:56] caffeinejolt commented on #2996
however.. if this is not the common use case scenario (treating stuff in /var as transient/discarded on restarting the container) - then this is probably not a bug

[2019-04-23 20:29] h-vetinari commented on #2887
OK, no problem. Your last comment started with `@derkoe`, so it didn't seem aimed at me. See below. BTW, I also had a look with the newest PPA (esp. since the updated buildah vendor), but the issue persists.

Here's the output. To clarify vs. OP: I used
[code]
for the two images. Then the outputs of the various inspect commands is as follows. Let me know if there's something more you'd need.

<det

[2019-04-23 21:02] mheon commented on #2887
On top of the actual diff from inspect, I'll note that the Docker-built image is probably Docker formatted, while Buildah made an OCIv1 image (unless explicitly told not to)

[2019-04-23 21:37] h-vetinari commented on #2887
@mheon
I'm guessing you're referring to:
[code]

After a little googling, I can't seem to find a way to change the ManifestType used by `docker build`. Buildah can at least read the docker manifest (for importing), but can it also write using this manifest type?

Do you think that somehow this is a case where there's a delta between what docker can do (or has implemented) vs. the capabilities of t

[2019-04-23 23:37] flx42 opened #2999 "[RFE] different vfs storage strategy"
Similar to #2868, but re-instancing for visibility, this is for a use case similar to #2986

I know this approach is also the one taken by docker with `vfs`, but the disk footprint makes it impractical for large images. I have a particular image that takes 218GB for a 5.5GB rootfs. I would gladly trade a longer startup time for the ability to store more than 5 images :)

Outside podman, a straight

[2019-04-23 23:57] marshallford commented on #2798
I'm seeing this issue in the Fedora 29 official container image after a `dnf install -y podman`.

[code]

[2019-04-24 00:06] rhatdan commented on #2998
@flx42 Could you look at ~/.config/containers/storage.conf
Does this include fuse-overlayfs in the file?  And the overlay driver.

[2019-04-24 00:09] rhatdan commented on #2996
Would just mounting the tmpfs on /var/log be enough to get this to work?

[2019-04-24 00:35] flx42 commented on #2998
@rhatdan good catch, it wasn't, I installed `fuse-overlayfs` after running a `vfs` container, then nuked my `~/.local/share/containers/` when `podman` complains about a database configuration mismatch, then ran the overlay pull, but with the vfs configuration file, sigh...

So, it looked like this:
[code]

Thanks for the help, but it would helpful to detect this situation if possible.

[2019-04-24 02:23] abitrolly commented on #1915
@lsm5 let me know if you need help with packing. I've set a pipeline to build and push snaps from Travis CI, but it fails https://github.com/yakshaveinc/linux right now, but if you need that component, I can try to allocate some time/money to get this done.

[2019-04-24 04:38] sunnychanwork opened #3000 "podman does not support Windows Subsystem for Linux lxfs with overlay driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install ubuntu on Windows Subsystem for Linux

2. Run "podman info --log-leve=debug"

**Describe the results you received:**

DEBU[0000] Initializing boltdb state at /var/lib/containers/storage/libpod/bolt_state.db
DEBU[0000] Using graph driver overlay
DE

[2019-04-24 08:49] lfarkas opened #3001 "rootless podman cgroupfs error"
I try to run a minimal docker container with rootless podman. I assume official mariadb is a simple default test.

it's the latest fedora 29 and selinux disabled with:
podman-1.2.0-2.git3bd528e.fc29.x86_64
libgpod-0.8.3-25.fc29.x86_64
runc-1.0.0-85.dev.gitdd22a84.fc29.x86_64
kernel-5.0.8-200.fc29.x86_64

isn't such a basic service should have to run with podman?

first with a lots of option but fi

[2019-04-24 12:31] rhatdan commented on #2887
In Buildah do --format docker
buildah bud --format docker ...

And then see if the container works, although I would doubt this is the issue.

[2019-04-24 12:36] rhatdan commented on #2798
Is SELinux enabled on your system?

[2019-04-24 13:00] rhatdan commented on #3000
I have no idea if this would work period, but container/storage underneath podman is attempting to setup Overlay on this underlying file system and it finds that Overlay is not supported by the kernel on that file system there is little we can do.

You could try to use the VFS storage driver to see if this works.

[2019-04-24 13:16] mheon commented on #3000
My suspicion is that Windows doesn't implement a lot of the namespace-related functionality of the Linux kernel, so I suspect that we won't actually be able to launch containers, even if we can get storage configured.

[2019-04-24 13:18] mheon commented on #3001
This is an SELinux-related error coming out of `runc`. To you have SELinux enabled or disabled? Can you get the output of `rpm -qa container-selinux`?

[2019-04-24 13:24] lfarkas commented on #3001
container-selinux-2.95-1.gite3ebc68.fc29.noarch

[2019-04-24 13:44] lfarkas commented on #3001
it's working if i set selinux permissive. IMHO it's nonsense that anything is required any feature which is not essential! why do you depend on selinux at all?

[2019-04-24 13:53] mheon commented on #3001
SELinux is important (and very useful) security for containers. A lot of its usual criticisms (hard to use, difficult to debug) are almost completely mitigated with containers, where we can use very restrictive default policies on containers (which should never talk to the host system outside of the limited ways we explicitly allow them to, like volume mounts). SELinux has stopped a few container

[2019-04-24 14:04] lfarkas commented on #3001
container-selinux-2.99-1.git9a53d6c.fc29 don't solve the problem.

but anyway why podman, libpod, runc or anything else depend on selinux??? selinux by design should have to be an outer tool the whole container infrastructure shouldn't have to be know anything about selinux!

[2019-04-24 14:14] mheon commented on #3001
We need to know a fair bit about SELinux to make it work with containers. Each container has a unique MCS label, which is automatically allocated to prevent duplication (to prevent inter-container breakouts). We need to generate those labels and use them to label the container's filesystem and the container process, when it starts.

In this case, though, the problem isn't in Podman's SELinux imple

[2019-04-24 14:30] lfarkas commented on #3001
who restricting runc? selinux is disabled on my system!
container-selinux only influence the selinux behaviour but if I disable it than it shouldn't have to be any effect.
anyway does it means that on a system which disable selinux podman and containers can't be used?

btw: container-selinux-2.100-1.git3b78187.fc29 do NOT solve the problem.

[2019-04-24 14:33] mheon commented on #3001
@rhatdan PTAL - .100 doesn't seem to have fixed the SELinux disabled issues with keycreate

[2019-04-24 15:51] rhatdan commented on #3001
This is a runc issue, downgrade the version of runc, or wait grab the one I am building in koji right now.  WIll put in updates testing ASAP

[2019-04-24 15:52] rhatdan commented on #3001
runc-1.0.0-92.dev.gitc1b8c57.fc29.src.rpm

[2019-04-24 16:04] rhatdan commented on #3001
Could you grab the package from https://bodhi.fedoraproject.org/updates/FEDORA-2019-6174b47003 and test it out. If it fixes the issue, could you update the Karma.

[2019-04-24 16:29] caffeinejolt commented on #2996
So.. I played around with this a bit - it seems these are needed:

/var/tmp
/var/log
/var/lib/systemd

/var/tmp is needed for systemd units which specify PrivateTmp (a popular setting).  /var/lib/systemd is needed for systemd's random_seed.  It should be noted that I did not exhaustively test this - there may be others.

podman makes provisions for /var/lib/journal - but at least on centos/rhel 7

[2019-04-24 16:40] caffeinejolt commented on #2996
For what it is worth...  I find the --systemd and --rootfs features of podman super useful - just passing that along since I know that running systemd inside a container or not using the formal /var/lib/containers location for storage is not considered by some to be the "right way".  Just letting you know that there are users out there who appreciate these podman features.

[2019-04-24 16:44] mheon commented on #2996
We ought get some of the systemd maintainers in here and ask their opinions on how they'd like us to handle this.

[2019-04-24 16:48] h-vetinari commented on #2887
@rhatdan
As you guessed, no change when using `sudo buildah bud --format docker ...`. Any other things you want me to try?

[2019-04-24 16:49] rhatdan commented on #2996
@poettering @lnykryn WDYT

[2019-04-24 17:25] rhatdan commented on #2887
This is working for me in podman.

rpm -q podman
podman-1.2.0-2.git3bd528e.fc30.x86_64
# podman run --rm -it -p 8082:8787 localhost/podman_test
root@5244c2c286fa:/# rstudio-server start
root@5244c2c286fa:/#
![image](https://user-images.githubusercontent.com/2000835/56680074-7a9fd980-6694-11e9-89c3-bb89c91cce67.png)

[2019-04-24 17:28] caffeinejolt commented on #2987
--net=host really seems to be a better fit for me, but I would like to help out on this....  So, literally zero iptables rules got set related to port forwarding.  I can see in pkg/firewall we basically have iptables and firewalld - and firewalld is uninstalled on the host...

Looking at the code, my guess here is that isFirewalldRunning() is the culprit.  It might be useful to allow the user to s

[2019-04-24 17:41] caffeinejolt commented on #2987
Maybe something super simple like modding runtime.go - backendType := os.Getenv("FIREWALL_TYPE")

Since at least that allows the user to decide instead of dbus.

[2019-04-24 17:50] lnykryn commented on #2996
Do you have any steps to reproduce?
With podman-1.0.0-2.git921f98f.module+el8.0.0+2958+4e823551.x86_64
I've tried "podman run -i -t --systemd=true centos /usr/lib/systemd/systemd" and I've run into a completely different set of error messages, mostly about cgroupfs not being writable

Failed to create cgroup /machine.slice/libpod-714a01a10a64d5fb72c394f064bdfe5dff78957e1da7484c2bb6a6a716bc48b3.sco

[2019-04-24 17:51] caffeinejolt commented on #2996
setsebool container_manage_cgroup true

[2019-04-24 17:54] marshallford commented on #2798
TLDR: No.

After trying `getenforce`, `cat /etc/sysconfig/selinux`, and `sestatus` I'm fairly confident that SELinux isn't even an option with Google's [Container-Optimized OS with containerd](https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd), which is the node image for the GKE cluster that I have been testing with. Based on my naive findings via the [K8s docs](https://ku

[2019-04-24 17:59] lnykryn commented on #2996
Hmm so I just did "setenforce 0" '(sorry @rhatdan ) and now everything seems to work just fine.
https://paste.fedoraproject.org/paste/Ey9hEhZ6~~cmdCXf5rUczA

[2019-04-24 18:12] rhatdan commented on #2798
There is an updated version of runc that was just committed to upstream.
@lsm5 Do we ship runc?  If yes then this fix should be in tomorrows repo.

Otherwise you could downgrade to the previous version of runc to remove the breakage,

[2019-04-24 18:14] rhatdan commented on #2996
@lnykryn Setting the boolean above would fix it.

The think @caffeinejolt is trying to do is run the systemd as pid 1 in a read-only container.

So add --read-only to you podman command.  We are looking for the directories where systemd expects to be able to write.

[2019-04-24 18:33] #2993 closed

[2019-04-24 18:38] lnykryn commented on #2996
Sorry, I missed that part, that is an entirely different topic, that is not related just to containers. I would like to see the same thing also working on the bare metal, since there we are for the same use-case still using the ancient readonly-root from initscripts[1]. I think we need to discuss that with @poettering  @keszybz

[1] https://github.com/fedora-sysv/initscripts/blob/master/usr/libexe

[2019-04-24 19:29] marshallford commented on #2798
I've tried runc version 1.0.0-rc7 as well and get the same error as above. Are you referring to an upcoming 1.0.0-rc8 release?

[2019-04-24 19:53] rhatdan commented on #2798
Yes, I got the fix merged this morning, and they were waiting for the fix for rc8/

[2019-04-24 20:17] caffeinejolt opened #3007 "mount host files and change selinux label of those files inside the container"
/kind feature

*Feature request... making everything work with selinux set to enforcing can be a PITA (or at least it is for me a lot of the time).  However, combining selinux and containers can provide a lot of benefit in terms of security/isolation (some of us use them for this combination - portability being a side-benefit).  It would be nice if we could pass a selinux context option to --volum

[2019-04-24 20:22] mheon commented on #3007
Do the existing `:z` and `:Z` options (relabel so content in the volume mount can be accessed in the container) suffice? They don't let you explicitly specify a mount label, but they will match the content in question to the container's mount label.

Though these might not work out well with `--rootfs` because we usually allocate container labels through containers/storage when we configure contai

[2019-04-24 20:28] caffeinejolt commented on #3007
Great point!  For some reason, when I read about those earlier - I somehow inferred that they changed the labels in the source content to make that work - but it would make way more sense if they just changed how the labels were seen in the container.  I will try that out and report back it that works with --rootfs

[2019-04-24 20:28] rhatdan commented on #3007
No you would not want to z or Z in his description, since apache would loose access. I kind of like taking advantage of overlay for this.  Basically setting up an overlay read/only volume with a context label.
The context label would be private to the container, I don't want the user specifying a label.  Mount label would be fine.

--mount overlay:/var/lib/www:/var/lib/www
Would mount /var/lib/www

[2019-04-24 20:29] rhatdan commented on #3007
@caffeinejolt they do change the source.

[2019-04-24 20:30] rhatdan commented on #3007
@rhvgoyal WDYT?

[2019-04-24 20:34] caffeinejolt commented on #3007
gotcha - well in that case - this feature could help cut down on the "setenforce 0" movement

[2019-04-24 20:53] rhatdan commented on #3007
mount -t overlay overlay -o 'nosuid,nodev,noexec,relatime,context="system_u:object_r:container_file_t:s0:c342,c555",lowerdir=/var/www:/tmp/work' /tmp/merged
ls -lZ /tmp/merged/
total 0
drwxr-xr-x. 2 root root system_u:object_r:container_file_t:s0:c342,c555  6 Apr 17 03:43 cgi-bin
drwxr-xr-x. 2 root root system_u:object_r:container_file_t:s0:c342,c555  6 Apr 17 03:43 html
d---------. 2 root root sy

[2019-04-24 21:12] rhvgoyal commented on #3007
For this to work, overlay mounter in container will need atleast read access to labels on lower/. If container already has read access, what's the point of using another overlay mount to change to another set of readable labels.

Using overlay only to transform effective selinux lablels, is definitely not the intended usage of overlayfs.

[2019-04-24 21:15] gabibeyer commented on #2897
Hi @giuseppe! The PR for slirp4netns has been reviewed and is nearly merged, will you be working on the patch for podman?

[2019-04-24 21:17] rhatdan commented on #3007
Ah yes, so much for that grand plan.

[2019-04-24 21:18] rhatdan commented on #3007
@caffeinejolt Best we can right now is a tool called udica.

https://github.com/containers/udica

It allows you to create a custom type based on the container you create and then you can run the container with that type and it will give you access.

[2019-04-24 21:24] caffeinejolt commented on #3007
Good point - admittedly, my plan was to do the overlay mount outside of podman (visible to the host) and then pass the overlay mount to podman as a volume/bind mount.  I realize its not the intended purpose of overlayfs - but, I do it for NFS (i.e. specify selinux context on nfs client mount) and it can be done when mounting devices as well so its not completely odd.

[2019-04-24 21:24] caffeinejolt commented on #3007
Thanks!  Will check that out.

[2019-04-24 21:24] rhvgoyal commented on #3007
But if mounter is outside container, then mounter can setup overlay and then bind mount that overlay into container.

[2019-04-24 21:27] caffeinejolt commented on #3007
Right - that is what I was doing - and what resulted in the idea to post a feature request.  Just an issue if people are ok with the mount being visible on the host.... fine by me for my use.

[2019-04-24 21:29] giuseppe commented on #2897
I'll take a look, but that won't happen in the next few weeks.  We will need to expose `PostConfigureNetNS` and make it configurable as I think the current behaviour is still to prefer when possible as it doesn't leave namespaces around.

[2019-04-24 21:29] h-vetinari commented on #2887
@rhatdan
Thanks for testing this yourself. It might be a quirk/bug in how the ubuntu PPA is built? I'm out of ideas otherwise. It does however also fail on RHEL 7.6 with podman 0.12 (the latest version available through extras).

Also, did you try to log in with the credentials that are set in the dockerfile (`test_user:password123`)? That's where podman-running-docker-built-container ended up fai

[2019-04-24 21:29] rhatdan commented on #3007
But as Vivek pointed out this will only work if the content is readable by the container_t process.
If you try to overlay mount some content from your home dir, SELinux should block the read access on the files even if you specify a context mount.

[2019-04-24 21:34] rhatdan commented on #2887
No I did not try that,  Could you attempt to build podman from master and see if it works there on ubuntu.
This could be a firewall problem.

[2019-04-24 21:37] caffeinejolt commented on #3007
Confirmed - Permission denied - sigh

[2019-04-24 21:39] rhatdan commented on #2887
Login works.
![image](https://user-images.githubusercontent.com/2000835/56695809-f19a9980-66b7-11e9-9f29-d43f3f849a85.png)

[2019-04-25 01:43] sunnychanwork commented on #3000
@rhatdan Overlay fs does work as I showed in the example shell output. However, I wanted to know what's mount options you use to check such that the overlay is not available? At least

Docker daemon does work and run containers under WSL (see [https://github.com/Microsoft/WSL/issues/2291#issuecomment-383698720]) except some networking feature is not available so I think it has all the namespace-re

[2019-04-25 02:28] leorochael commented on #2794
@rhatdan

There's a `/etc/modules-load.d` folder for dropping files that load modules, as well as a `/etc/modprobe.d` for declaring module options, pre/post install/remove commands and "soft" dependencies.

Those have conf-file like semantics, meaning the user is allowed to modify them if a package drops a file there.

There are equivalent folders in `/lib` (or `/usr/lib`) for packages to drop whe

[2019-04-25 03:42] mheon commented on #3000
I stand corrected. That's actually damn impressive.

It's possible that we have a kernel version check in c/storage somewhere that's tripping because of the output of WSL?

[2019-04-25 04:12] sunnychanwork commented on #3000
This is what I see in the podman info debug output:

[2019-04-25 06:30] sunnychanwork commented on #3000
I have scanned the code for the error message and it looks like it is in the storage component - so I have create an issue there for tracking.

[2019-04-25 09:11] Edward5hen opened #3008 "[podman-remote] attach: --detach-key does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
As the title described when I set the option `--detach-key="ctrl-["` on the remote node, the key `ctrl-[` does not work, but `ctrl-p,ctrl-q` works.

On the podman node, `--detach-key` works perfectly with the newly defined key.

[2019-04-25 09:21] Edward5hen opened #3009 "[podman-remote] attach --no-stdin: Error: invalid argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When I tried `attach --no-stdin` on the remote node, error message `Error: invalid argument` is printed in the output. I don't know if remote client is going to support this option, if it is, we probably need to write in the doc that remote client not support it, if it is not, there should be

[2019-04-25 11:08] 00willo opened #3010 "container-selinux-2:2.95-1.gite3ebc68.fc29 failes to reinstall"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Raising this as it seems like a likely root cause of ansible-community/ansible-bender#124. Also possibly related to #2984.

**Steps to reproduce the issue:**

1.  `sudo dnf -y install container-selinux`

**Describe the results you received:**
[code]

**Describe the results you expected:**

Re

[2019-04-25 11:15] 00willo commented on #3010
From https://github.com/containers/libpod/issues/2984#issuecomment-485451134, these don't look right.

[code]

[2019-04-25 11:56] Edward5hen opened #3011 "[podman-remote] start a running container: nothing happened and exit code is 0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
From the podman documentation:

But for podman-remote, it just does nothing with exit code 0.

**Steps to reproduce the issue:**

1. `podman run --name test-start -it busybox`

3. on remote node: `PODMAN_VARLINK_ADDRESS="tcp:127.0.0.1:1234" bin/podman-remote start -a -i test-start`

**Describe

[2019-04-25 11:56] dinamic commented on #1543
Guys, is this the same issue or a new one:

[code]

[2019-04-25 12:35] jistr opened #3012 "RFE: ability for rootless podman container to transparently act as the user running it, incl. managing their rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Use case:**

On a very slim system like Fedora Silverblue, i'd like to use a rootless podman container as my development environment shell (to have additional tools which are not available on Silverblue host, and bind mount my $HOME or a subdirectory of it). This shell container should be able to manage

[2019-04-25 13:14] rhatdan commented on #2794
@lsm5 Can we update the slirp4netns package for Ubuntu?  Or does this come from someone else? @AkihiroSuda Do you know?

[2019-04-25 13:18] AkihiroSuda commented on #2794
It is from debian

cc @siretart

[2019-04-25 13:20] kbaegis commented on #2718
@rhatdan I think you’re right. Runc wasn’t built with apparmor support but libpod was.

[2019-04-25 13:20] #2718 closed

[2019-04-25 13:22] mheon commented on #3010
@rhatdan PTAL

[2019-04-25 13:22] kbaegis commented on #1834
Version:            1.2.0
RemoteAPI Version:  1
Go Version:         go1.12.1
Git Commit:         3bd528e583182b4249f3e6bbd8497a8831d89950
Built:              Fri Apr 12 00:08:57 2019
OS/Arch:            linux/amd64

[2019-04-25 13:24] mheon commented on #2998
Some OSes do allow unprivileged kernel overlayfs (Ubuntu by default, debian by installing a kernel module, I believe), so I don't know if we want to add a warning. Would be nice if we could detect that the kernel supports unprivileged overlay and warn if we don't have a mount option if it doesn't, though.

[2019-04-25 13:25] mheon commented on #2951
Fix merged

[2019-04-25 13:25] #2951 closed

[2019-04-25 13:26] QiWang19 commented on #1675
I saw the code in containers/image, podman already supported configure `"credHelpers"`, but only works for root user.
https://github.com/containers/image/blob/ff926d3c79684793a2135666a2cb738f44ba33dc/pkg/docker/config/config.go#L43

[2019-04-25 13:30] mheon commented on #2980
There's a very large rework to the --mount flag going in at #2959 - a little too large for me to be comfortable adding more to it - but once it lands I'll get a fix for this in.

The issue is that we're not checking if some mount flags (ro, rw, probably more) accept an argument, so if we see them we unconditionally toggle read-only on.

[2019-04-25 13:41] mheon commented on #1834
A word of advice unrelated to the actual bind propogation problem: If you want to mount /var/lib/containers into a container, we strongly recommend you also mount the host's /var/run as well - if you don't, c/storage and Podman can assume the system restarted and lose track of critical state (like what's mounted).

Will investigate bind propogation.

[2019-04-25 13:44] rhatdan commented on #1543
@mtrmac @vrothberg PTAL

[2019-04-25 13:48] mtrmac commented on #1543
@dinamic This is clearly something else (a TLS error reading from a `docker://` source), please file a separate issue (and in there, mention that this looks _a bit_ similar to https://github.com/containers/buildah/issues/1504 ).

[2019-04-25 13:59] baude commented on #3011
details on your client? version, etc?

[2019-04-25 14:19] rhatdan commented on #3010
@00willo what does
matchpathcon /usr/bin/podman /usr/bin/runc say?

[2019-04-25 14:30] rhatdan commented on #2998
Container storage should report that ENOSUP for overlay.  So we could easily catch it. And then look to see if there is a mount options for mount program, and report it then.

[2019-04-25 14:31] rhatdan commented on #1675
I thought we got this to work if we did not enter the user namepspace on podman login?

[2019-04-25 16:58] siretart commented on #2794
I can take care updating the package in development versions of Ubuntu. I'll update this ticket when it's done so that someone else can backport it in a PPA.

[2019-04-25 17:15] rhatdan commented on #3012
This is what toolbox does?

[2019-04-25 17:20] mheon commented on #3012
The container-in-container functionality is very difficult to do properly - I'd recommend looking into what @baude and @jwhonce have been doing with podman-remote, which will simplify it greatly by not requiring any mounts beyond a single socket.

For the rest, I think we've been discussing an easy way to match the UID running rootless podman to the UID in the container (not mapping it to root). T

[2019-04-25 17:47] caffeinejolt commented on #2980
Cool - I would rate this as a pretty low priority fix anyways since there are easy workarounds.

[2019-04-25 17:59] QiWang19 commented on #1675
I mean the pulling error you mentioned.
login/logout works for non-root if getting out of the user namespace, but pull command can't read the credential.

[2019-04-25 18:04] vsoch opened #3017 "Feedback on Podman"
Hey podman maintainers!

I wanted to give some feedback and have discussion about use cases for Podman, I've been testing it out a bit, and aside from a few blips it seems to be a re-creation of docker, minus the root daemon. It's a cool selling point that you could create an alias for podman to docker, but what's my incentive to do that? For the most part, the root daemon seems to be a non-starte

[2019-04-25 18:52] rhatdan commented on #1675
Yes we have to work with @giuseppe on that one.  Perhaps we grab credentials before going into user namespace.

[2019-04-25 18:52] rhatdan commented on #1675
Or can we specify a user name to get the credentials?

[2019-04-25 18:59] rhatdan commented on #3017
We have done this a little in the past
Here is my opinion of biggest pluses.

1. Rootless Containers - Gives users the ability to build/run/test containers without any privileges.  This is not something Docker can do well.  Setting up the Docker socket to be used by non privileged users is a huge security whole.
2. If all you want to do on a server is run a container at boot, why setup a big conta

[2019-04-25 19:08] jistr commented on #3012
@rhatdan I just tried, and it seems toolbox suffers from exactly the same problem:

[code]

@mheon Indeed i guess podman-remote could be a way to go. It seems to be very recent work and i can't google much info about it, but if i'm scanning correctly and the CLI interface is meant to be identical to `podman`, and `alias podman=podman-remote` inside a container would work to unify how to use the CL

[2019-04-25 19:29] rhatdan commented on #3012
I would like you to simplify what you are asking for?  Do you want to run podman commands inside of a container but continue to run them in rootless mode.

I would figure this would mostly work in toolbox, no idea why the sudu command fails.

@debarshiray Care to take a look.

Podman-remote might work but you need to leak the varlink socket from the homedir into the container, otherwise the contai

[2019-04-25 19:52] jistr commented on #3012
Yes exactly. A rootless container spawning more rootless containers *on the host*. All containers running under the same host user account in rootless mode.

Sharing the socket would be fine. I'd only be worried about potential CLI incompatibilities between `podman` and `podman-remote`. It would be really good if automation designed to work with `podman` would work as-is with `podman-remote` too.

[2019-04-25 20:07] rhatdan commented on #3012
The primary goal of podman-remote is to emulate all of the commands of podman for a MAC or Windows box, but there are several commands we will not support since they might not make sense for a remote system.  podman-remote varlink for example.  But for most of the commands you should be fine.  We need to make sure podman-remote->podman varlink is a stable API, but we have not fully released it yet

[2019-04-25 20:26] jistr commented on #3012
One more thing here to prevent a misunderstanding and needless debugging. The `sudo dnf -qy install podman` command did work fine, only `podman images` after it failed. (The message `Failed to set locale, defaulting to C` was non-fatal. I passed `-q` into the dnf command to shorten the output for pasting, so it just didn't print the usual installation messages, but it did install podman fine.)

[2019-04-25 20:27] mheon commented on #3012
I think we'd generally recommend a `-v` to volume-mount in the socket.

[2019-04-25 20:32] fatherlinux opened #3020 "Cannot Exec a Command When a Container is in the Exited State"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Basically, I realized that as I tried to demonstrate the creation of a container...

1. Pull/Expand/Cache Image
2. Create config.json
3. Run container with podman

...there is no way to stop between two and three. This led me to a google search and I found this:

https://forums.docker.com/

[2019-04-25 20:33] fatherlinux commented on #3020
Also, it would make sense if you could not "exec" after a "podman rm" because that is essentially telling the container engine to "delete the overlay layer and config.json"

[2019-04-25 20:37] baude commented on #3012
well it depends on how you want to pull this all together ... varlink can do tcp sockets too.  im lacking a clear picture in my head how this works.  i have certainly done this though

[2019-04-25 20:40] mheon commented on #3020
I think we need the work from @haircommander on conmon exec to get this in. Fortunately, he's working on that now.

Once we have conmon instances for exec sessions, each of them able to fire off an exit command to clean up, that will make things much easier. Right now, it's hard to keep track of what exec sessions are running in a container, which makes shutting down when exec sessions are going h

[2019-04-25 20:40] mheon commented on #3020
There is one other joker in the deck here - does runc/crun/Kata support doing this (exec on a container that's not running?)

[2019-04-25 21:05] rhatdan commented on #3012
I don't think we want to use TCP from host to host.  I don't think bridge varlink would work, although I have no idea how this works anyways.  This would seem to be more of a socket activated podman command.

[2019-04-25 21:17] baude commented on #3012
draw me a picture?

[2019-04-25 21:20] mheon commented on #3012
@baude Container, rootless, wants to run more Podman commands, also rootless, on same host that container runs on

[2019-04-25 21:24] 00willo commented on #3010
@rhatdan

[code]
A `dnf reinstall` of container-selinux still does the same. That's what I retried first actually, I think I copied the output (for the description above) from an uninstall, followed by `rm /var/run/containers` and then an install, but all had the same result.

[2019-04-25 21:38] rhatdan commented on #3012
@baude You are in silverblue, so you are not encouraged to install packages on the host.  So the desktop team invented toolbox for this.  It is a command that wraps podman to launch a privileged container via podman with your UID==UID inside the container.  From your perspective it looks like a normal desktop session.  You can do sudo dnf install etc.  If you try to execute podman inside this envi

[2019-04-25 21:39] rhatdan commented on #3012
To make this work we would need to have "podman varlink/systemd" listening somewhere inside of the container so that podman-remote could find it.

@haraldh FYI

[2019-04-25 21:41] rhatdan commented on #3010
So I have no idea why container-selinux is blowing up.  This has nothing to do with containers.  The problem is something on your host is preventing semodule -i container.pp from happening.

rpm -q selinux-policy

[2019-04-25 21:41] rhatdan commented on #3010
Does `semodule -i /usr/share/selinux/packages/container.pp.bz2`
Give you any more data?

[2019-04-25 23:02] flx42 commented on #2998
But how is that expected to work with podman? You won't be able to `mknod` or set `xattrs` anyway to convert the whiteouts to overlay format.

[2019-04-25 23:31] vsoch commented on #3017
Thanks @rhatdan, it interestingly sounds like Podman would be a good fit for HPC (although I don't think that's it's direct intention!) I don't admin any of our clusters so I don't have power to install and test it out, but I'll see if I can figure something out because I'd really like to. It would be cool to have more "docker like" containers in user space, as Singularity is read only.

[2019-04-25 23:47] 00willo commented on #3010
[code]
That semodule command returned with no stdout and an exitcode of 0.

[2019-04-25 23:49] 00willo commented on #3010
The vagrant box I'm using for this is `fedora/29-cloud-base            (virtualbox, 29.20181024.1)`

[2019-04-25 23:51] 00willo commented on #3010
Tried to reinstall the container-selinux package again. There's an extra line in the output this time about `semanage_direct_remove_key`

[code]

[2019-04-26 00:42] flx42 opened #3021 "Directory is not hidden properly with unprivileged overlay"
**Steps to reproduce the issue:**

I have pushed an image from this Dockerfile (this image was built with docker, not buildah):
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
The final image is expected to only have `/dir/bar`, which is what we get with privileged overlay:
[code]
Unprivileged vfs works fine too:
[code]

**Additional information you de

[2019-04-26 00:58] siretart commented on #2794
Done: https://launchpad.net/ubuntu/+source/slirp4netns/0.3.0-1

[2019-04-26 02:27] Edward5hen commented on #3011
[code]

[2019-04-26 02:28] Edward5hen commented on #3009
Details on remote node:
[code]

[2019-04-26 02:30] Edward5hen commented on #3008
Details on remote node:
[code]

[2019-04-26 02:39] mheon commented on #3021
I'm assuming the `  - overlay.mount_program=/usr/bin/fuse-overlayfs` in your `podman info` isn't what the other commands ran with? It sounds like you're using kernel overlay elsewhere

[2019-04-26 04:17] flx42 commented on #3021
Correct, I `rm'ed` the configuration file in my `HOME` before testing `vfs` as unprivileged, and I believe `sudo podman` will naturally use a different configuration file anyway

[2019-04-26 07:17] keszybz commented on #2996
`/var/tmp` — this directory is generally needed and must be writeable. It's a standard linux interface and many things will make use of it, not just systemd.

As for `/var/log` and `/var/lib` — I *think* it's better to make them available, or even to make the whole `/var` available. In file-hierarchy(7) we say

There will be applications which expect to create file in /var/cache and so on. So prov

[2019-04-26 08:16] rhatdan commented on #2998
Good point, unless Ubuntu has also relaxed the rules and allow users to create the devices that Overlay needs without mknod privs (Perhaps inside of a User Namespace.

@rhvgoyal do you know?

[2019-04-26 08:20] rhatdan commented on #3017
Yes HPC is a great use case for Rootless Podman, and we have heard from a lot of people and customers who are looking at it.  Singularity is even looking to have their images move to OCI.

[2019-04-26 08:25] rhatdan commented on #3010
What does matchpathcon say now?
$ matchpathcon /usr/bin/podman /usr/bin/runc
/usr/bin/podman system_u:object_r:bin_t:s0
/usr/bin/runc   system_u:object_r:bin_t:s0

Here is the post script
[code]

[2019-04-26 08:29] rhatdan commented on #3010
We also have
[code]

I think it is this script that is firing on the old container-selinux removal.

[2019-04-26 08:33] rhatdan commented on #3010
@bachradsusi @Vrabec any ideas.

@00willo What is weird is this has not happened on any other machines that I know of.

container-selinux-2.100 should be available in updates-testing could you see if that works?

[2019-04-26 08:36] rhatdan commented on #2794
@maxamillion Could you verify if this fixes this issue, and we can close it?

[2019-04-26 08:47] rhatdan commented on #3021
@giuseppe Looks like an issue in fuse-overlay?

[2019-04-26 09:00] jitka opened #3022 "podman run faill pulling image"
/kind bug

**Description**

Podman run fails when docker run works.

Whole story:
My goal is to prepare set of podman commands which replace and fix docker-compose up for this jekyll project: https://github.com/pirati-web/example.pirati.cz

First I reduce this docker-compose to single docker comands which works on newly installed fedora 29:

0. `sudo dnf install docker podman` and maybe few other

[2019-04-26 09:05] rhatdan commented on #2996
/var/tmp probably should, but the other directories are up to the user to mount volumes in.
I suppose podman could react to --read-only flag and mount some of these, but I am looking for specifically what systemd would need to successfully run.

If the unit file is running mariadb then it is up to the person packaging mariadb to make /var/log/mariadb and /var/lib/mariadb writeable to the container

[2019-04-26 09:11] rhatdan commented on #2996
podman run alpine printenv container
podman

Isn't systemd just looking to see if the `container` environment variable is enabled?  Shouldn't this be enough to not execute the systemd-random-seed.service service with `ConditionVirtualization=!container`.

[2019-04-26 09:55] vrothberg commented on #3017
An additional point that might seem minor at first glance but can be a game changer for larger deployments spanning over multiple uses cases is that Podman plays well with its sibling projects [CRI-O](https://github.com/cri-o/cri-o), [Buildah](https://github.com/containers/buildah), and [Skopeo](https://github.com/containers/skopeo). I think this turns all projects into a *composable Swiss army kn

[2019-04-26 11:03] siretart commented on #2794
Just to clarify expectations, I've synced the 0.3.0-1 package from Debian/experimental to Ubuntu eoan, which has just started development. I think you should be able to just install the eoan `.deb` file on earlier version of Ubuntu just fine.

However, this package does not drop a `/etc/modprobe.d/slirp4netns` file to force loading the `tun` Kernel module. I'm not sure if this is an appropriate th

[2019-04-26 11:28] keszybz commented on #2996
That's the check that should apply in this case. https://www.freedesktop.org/wiki/Software/systemd/ContainerInterface/#environmentvariables describes `$container`.

What does `SYSTEMD_LOG_LEVEL=debug systemd-detect-virt` say under podman?

The stuff that @caffeinejolt lists in https://github.com/containers/libpod/issues/2996#issuecomment-486317771 should be enough, at least for now.

[2019-04-26 11:28] debarshiray commented on #3012
@jistr First of all, you are better off just using the [toolbox](https://github.com/debarshiray/toolbox) instead of trying to put together all the `podman` bits by hand. :) It targets the exact problem that you are trying to solve, and is nothing but a wrapper around `podman`.

If you look closely at the toolbox, you'll see that you can use the `toolbox` command from inside a toolbox container. So

[2019-04-26 12:56] rhatdan commented on #3017
Excellent point, and from a security point of view the different tools have different security requirements, allowing us to taylor higher and lower levels of defaults depending on the use case.

[2019-04-26 13:00] rhvgoyal commented on #2998
@rhatdan I don't know. My guess is probably they might be carrying a patch which is not upstream.

[2019-04-26 13:10] krashekspres opened #3024 "failed to write to /proc/self/oom_score_adj: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running rootless podman I'm getting `failed to write to /proc/self/oom_score_adj: Permission denied` error, but container runs after it.

**Steps to reproduce the issue:**

1. `podman run -it --rm anycontainer`

**Describe the results you received:**
The container runs, but after I get a

[2019-04-26 13:12] rhatdan commented on #3024
Rootless?
Is this an SELinux issue?  Does it work in permissive mode?

[2019-04-26 13:13] edsantiago commented on #3024
Not an SELinux issue: I'm seeing it on my Gentoo laptop, which (I know, I know!) does not have SELinux enabled.

[2019-04-26 13:13] krashekspres commented on #3024
It's rootless.

[2019-04-26 13:16] rhatdan commented on #3024
I tried on Fedora and it is allowed.
Could you try in --privileged and see if it allowed.

[2019-04-26 13:17] rhatdan commented on #3024
It it works with --privileged then try without --privileged and try
--security-opt seccomp=unconfined

[2019-04-26 13:19] krashekspres commented on #3024
Same error for both options.

[2019-04-26 13:19] edsantiago commented on #3024
Same here (i.e. `--privileged` and `--security-opt seccomp=unconfined` make no difference)

[2019-04-26 13:20] rhatdan commented on #3022
@mtrmac @vrothberg PTAL

[2019-04-26 13:21] mheon commented on #3024
I bet this is Conmon. We put an OOM adjust in there that isn't fatal if it
fails, but for some time it logged errors every time it did. I believe it's
since been changed to do so only with debug level logging.

On Fri, Apr 26, 2019, 09:19 dac[73] <notifications@github.com> wrote:

[2019-04-26 13:22] rhatdan commented on #2996
SYSTEMD_LOG_LEVEL=debug systemd-detect-virt
Found container virtualization container-other.
container-other

[2019-04-26 13:23] vrothberg commented on #3024
@mheon, do you know when it has been changed? The [podman v1.2.0 package in openSUSE](https://build.opensuse.org/package/show/devel:kubic/podman) is using conmon from CRI-) 1.14.0.

[2019-04-26 13:23] rhatdan commented on #3012
Nice work @debarshiray

[2019-04-26 13:29] poettering commented on #2996
The assumption is that /var is writable really, it's already in the name... everything else may be read-only. I mean, we worked hard on getting /etc/mtab and /etc/resolv.conf out of /etc, so that /etc can be read-only, and we moved it to /var, but /var should really be writable. /tmp needs to be writable too, /run as well. otoh / itself, /etc, /usr can all be read-only.

That said, you can get awa

[2019-04-26 13:31] vrothberg commented on #3022
Hi @jitka, thanks for reaching out. It seems the script you're calling is using an image that doesn't exist (i.e., `prahapiraticz_site`).

`docker run --name running-jekyll -it -v "$PWD:/srv/jekyll" -p 4000:4000 -p 35729:35729 -d prahapiraticz_site` will also fail with docker as the image doesn't exist.

The [Dockerfile](https://github.com/pirati-web/example.pirati.cz/blob/master/Dockerfile) from

[2019-04-26 13:35] mheon commented on #3024
I'm pretty sure @haircommander made the change in question, so I'll tag him in for that one

[2019-04-26 13:35] haircommander commented on #3024
this is conmon, I didn't know any podman was shipping with that updated of a CRI-O version. We expect this debug message, though I actually thing conmon's log handling is weird at the moment. (note, the change I made just made this error non fatal)

[2019-04-26 13:36] haircommander commented on #3024
I feel like this should just silently happen tbh

[2019-04-26 13:36] poettering commented on #2996
btw, this all reminds me of the "--volatile=" switch in nspawn. If you pick "--volatile=state" then this means that nspawn will mount the container image read-only as a whole, and then overmount /var with an empty tmpfs. Moreover /tmp and /run are mounted as tmpfs (as they always are, even without --volatile=). systemd as payload has been carefully tuned so that it can boot up fine with an entirel

[2019-04-26 13:38] vrothberg commented on #3024
Looking forward to c/conmon kicking off :) @sysrich, I think the openSUSE could downgrade to an older conmon for podman to quick-fix the issue.

[2019-04-26 13:42] poettering commented on #2996
btw, the requirements we make are documented here: https://www.freedesktop.org/wiki/Software/systemd/ContainerInterface/ — it's (mostly) up-to-date even

[2019-04-26 13:42] haircommander commented on #3024
@sysrich @vrothberg release 1.13.3 should not have this problem

[2019-04-26 13:54] rhatdan commented on #2996
Well OCI Containers are a little different then can come with a pre-populated /var,  For example you might want a container with lots of html pages in /var/www that are static and you don't want the container able to write there.

Podman/runc does have the ability to copy the content under a tmpfs on top of the tmpfs.

I think the change to podman would be to mount a tmpfs on /run, /tmp, and /var/

[2019-04-26 14:32] haircommander commented on #3024
ah actually, we did fix this problem upstream, but haven't cut a new release on 1.14 with the updates yet. I will look into it, but for the time being I'd go back to 1.13.3 so users don't think rootless is failing

[2019-04-26 14:33] jistr commented on #3012
@debarshiray Thanks, the trick with flatpak-spawn looks useful :).

Re just using toolbox instead -- i could perhaps do that for my main shell container (i didn't have a smooth experience with toolbox previously but i can give it another shot). I will have additional use cases where i'd like to sandbox the apps inside a bit more, somewhat like Flatpak does, or on the other hand perhaps give them a

[2019-04-26 14:45] vsoch commented on #3017
Thanks @vrothberg and @rhatdan - you are correct that Singularity became OCI compliant for the 3.0* family.  I definitely see the points, and I'm mostly having trouble putting together a user story for my particular user group (academic scientists), and convincing myself too. I'll keep trying, thanks for your thoughtful responses.

[2019-04-26 14:45] #3017 closed

[2019-04-26 15:25] baude commented on #3008
With upstream master, this is working for me ... I wonder if the components on F27 are too old? Can you try with F29?

[2019-04-26 16:22] EricHripko opened #3027 "Please publish varlink-enabled podman for Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Current builds of `podman` don't seem to have `varlink` build tag. This leads to `podman varlink` command being missing. Could you start publishing varlink-enabled `podman` in projectatomic repos?

**Steps to reproduce the issue:**

1. `apt-get install podman`

2. `podman varlink unix:/ru

[2019-04-26 16:32] mheon commented on #3027
This is via the Projectatomic PPA, right?
@lsm5 PTAL

[2019-04-26 16:41] rhatdan commented on #3008
Yes we are only updating f29 and f30 going forward.

[2019-04-26 16:43] flx42 commented on #2998
I don't think they do, https://lkml.org/lkml/2018/7/5/607 is a revert to upstream.

[2019-04-26 16:48] EricHripko commented on #3027
Yes, that's the one

[2019-04-26 16:48] rhatdan commented on #2998
Well is that the upstream kernel?  If Ubuntu/Debian does not apply that patch it still might work.

[2019-04-26 16:49] flx42 commented on #2998
It was reverted by a Canonical engineer, so I doubt it :)

[2019-04-26 17:15] rhatdan commented on #2998
Well in that case podman on Kernel Overlay will not work in rootless mode.  You need to use fuse-overlay.  Which seems to work pretty well.

[2019-04-26 17:18] flx42 commented on #2998
Right, so back to

It means we *can* add a warning :)

[2019-04-26 17:27] rhatdan commented on #2998
So you want to container/storage to warn if overlay is used without a mount_program in rootless mode?

[2019-04-26 17:43] flx42 commented on #2998
I'll let you decide what you deem is best, but that would have helped troubleshooting this particular case.

[2019-04-26 17:47] rhatdan commented on #2998
@nalind What do you think of adding a test of trying to create a whiteout devicenode on the overlay to verify that the overlayfs is working in rootless mode, if the caller does not specify a mount-program

[2019-04-26 17:53] hulkish commented on #2414
Im interested in the community image, as well - would like to see this land!

[2019-04-26 18:51] marshallford commented on #2798
I've confirmed that 1.0.0-rc8 fixes the issue I listed above. I will have to look into Fedora's packaging process and/or symlink runc to the the downloaded binary. @rhatdan Thank you for all of your help!

[2019-04-26 19:04] rhatdan commented on #2798
runc should be available in updates-testing and be released by early next week.

[2019-04-26 19:04] #2798 closed

[2019-04-26 22:22] giuseppe commented on #3021
could you check if https://github.com/containers/fuse-overlayfs/pull/68 works for you?

[2019-04-26 22:28] #2935 closed

[2019-04-26 22:49] flx42 commented on #3021
@giuseppe yes, seems to work for my case, thanks for the quick fix!

[2019-04-27 08:18] Edward5hen commented on #3008
Yes, I've changed to f29. It does disappear. I'm closing this now.

[2019-04-27 08:18] #3008 closed

[2019-04-27 09:12] mojavelinux commented on #2898
Since I keep getting yelled at for recommending `--privileged`, I'm trying to work out how I can mount a volume unprivileged such that the root user in the container writes files to that volume as the user who started the container. (In other words, when the container stops, the files that were written are owned by the user who started the container).

Here's what I've tried:

[code]

Here's what

[2019-04-27 10:26] Fodoj opened #3029 "Relative volume path in Kube yaml is not resolved"
For example:

[code]

Will result in volume simply ignored. Podman 1.3.0-dev, Fedora Workstation 29.

[2019-04-27 10:28] afortiorama commented on #2986
Hi,

I fear that with all the updates the main problem got a bit lost. When running in a batch system the container fails due to the error below which is user name spaces related and due to the fact that the container makes use of login functionalities.

[code]

[2019-04-27 12:29] karfau opened #3030 "Improve rootless setup experience for arch based systems"
/kind feature

**Description**
To get podman running on a newly setup manjaro system you need to follow the following instructions:
https://wiki.archlinux.org/index.php/Linux_Containers#Enable_support_to_run_unprivileged_containers_(optional)

Maybe this could all be wrapped into an (AUR?) package (e.g. named something like podman-rootless), so it is easier to find for people new to this level of

[2019-04-27 12:55] mheon commented on #2898
Are you running Podman rootless, or with root?

The problem is likely SELinux, given that the user in question should have
permissions to write in /tmp otherwise. Privileged relaxes the container's
SELinux constraints, so it makes sense that it resolves the issue.

If you're running Podman rootless, using privileged increases the
container's ability to interact with the system (more of the host is

[2019-04-27 21:41] mojavelinux commented on #2898
That is **exactly** what I needed to know. And it's also exactly the behavior I need to make volumes viable. (The use case is to invoke the container as though it is a local command to save the user from having to install a toolchain).

Is there anywhere in the documentation I can link to that makes this assertion?

[2019-04-27 23:13] siretart commented on #1742
Not much progress, the NEW queue remains to be super slow.

I was able to build a somewhat "proper" skopeo package:

[code]
and buildah:
[code]

This required me to  identify some API patches and backport them as distro patches: https://salsa.debian.org/go-team/packages/golang-github-containers-image/tree/master/debian/patches

Interest in those packages has been raised on the debian-go mailinglis

[2019-04-27 23:48] marshallford commented on #2414
@hulkish I've started to work on an image under my own org (for now). It is a bit heavy and has an old version of runc but feel free to take a look or submit a PR. Thanks.

https://hub.docker.com/r/marshallford/podman
https://github.com/marshallford/podman

[2019-04-28 07:30] vrothberg commented on #1742
@siretart, thank you so much! Wonderful news and certainly a herculean task given the jungle of dependencies.

[2019-04-28 09:58] rhatdan commented on #3030
We would need you or someone else to volunteer to maintain the AUR package, if you want to udpate the install.md for information on arch, please open a PR.

[2019-04-28 10:10] #3021 closed

[2019-04-28 10:13] rhatdan commented on #2898
You might want to look at the gnome toolbox package, which is designed for pretty much your use case.  It wraps podman to act in a behaviour where it gives the users their own container, which they can become root and install what ever software they want, but does not effect the host OS.

I wrote a series of blogs on podman and user namespace out on opensource.com

https://opensource.com/users/rha

[2019-04-28 10:29] rhatdan commented on #1742
Does that mean I can install a debian machine and just install skopeo, or is there some other configureation that needs to be setup.
basically can I do
[code]

[2019-04-28 10:40] mojavelinux commented on #2898
@rhatdan I appreciate that suggestion, and I will certainly look into it for my own use.

However, when it comes to providing instructions for users who want to run a piece of software without having to install the whole toolchain, that's asking to much of them. They just want to know what command they have to type into the console to be able to run the application. It's a means to an end. And for

[2019-04-28 11:17] ramcq commented on #1742
@siretart This is really great progress, thanks for your work. We're integrating podman/buildah/toolbox into Endless OS which is a Debian derivative. We started with building the Ubuntu PPAs but I understand they will go away soon in favour of snaps. @andrunko has been working on it recently - is there anything we could do to help you get the debs completed and into Debian?

[2019-04-28 12:19] siretart commented on #1742
There is additional configuration necessary. Specifically, you'll be able to do that after you've added the additional repository that I plan to work on to your system:

That step will go away after ftp-master has finished reviewing the NEW packages and ACCEPTed them into the Debian archive proper (cf. https://ftp-master.debian.org/new.html, and https://ftp-master.debian.org/REJECT-FAQ.html). Righ

[2019-04-28 12:30] siretart commented on #1742
Can you please give me a reference to PPAs going away? I'm confused about this comment.

Thank you for your interest in helping out. There are, in fact, a couple of things you guys could help me with:

- Identify / draw a map of dependencies and source package git repositories on http://salsa.debian.org . I currently have it in my head, but having a visual representation would, I believe be helpfu

[2019-04-28 13:13] MarcoFalke commented on #1742
I do like the effort to get the podman package into vanilla Debian, but I fail to understand how the podman release process plays with the Debian guideline on backports and bug fixes. IIUC podman is on a rolling release and bug fixes only come with the next release, which inevitably includes new features. Old releases of podman are superseded with a new release of podman and there are no fixup rel

[2019-04-28 13:43] ramcq commented on #1742
@marcofalke What you describe is the entire problem with Linux distributions in general and isn't specific to podman at all. Debian generally adopts a policy of backporting security patches if the upstream releases contain unrelated changes, but some upstreams where fixes are numerous time-critical, complex to backport, and expose the user to significant risk have an exception where newer upstream

[2019-04-28 15:05] kbaegis commented on #1233
Was this fixed?
[code]

[2019-04-28 15:09] kbaegis commented on #1233
Was this fixed?
[code]

[2019-04-28 15:47] siretart commented on #1742
I think your question is confused and mixes a number of different concerns and goals here.

One of them is producing a *stable* "release" that gives users reliable and working software. This is what Debian "stable" releases provide. Software in stable are called stable not because they are bugfree or provide most recent features, but are predictable and surprise-free in operations. This usually me

[2019-04-28 20:25] karfau commented on #3030
Yes, that was also my idea.
I have no experience in this topic and I'm asking myself if this will be something that is still in flux a lot and could easily get out of hands regarding maintenance effort. (Changes could come from arch, kernel, podman, ...?)

If it is likely that such a package it will break on a regular basis I'm quite sure I'll **not** be able to maintain it on my own in addition t

[2019-04-28 22:36] h-vetinari commented on #2887
I tried to build podman today, but installing the required dependencies on the machine I have available would uninstall docker-ce, which I can't do because it's in active use for other purposes. I'll have to start a new VM and try some other time.

[2019-04-29 09:46] rhatdan commented on #1233
@vrothberg ptal

[2019-04-29 09:49] vrothberg commented on #1233
@kbaegis, the output indicates that it's an old version of Podman. Can you check the version and re-try with a more recent one?

[2019-04-29 09:53] rhatdan commented on #3030
Well I have no experience in packaging on Arch, no experience in Arch at all.  Podman releases probably ever 6 weeks or so now, so you would need to do some work when this happens.  (Potentially more if CVE's happen).  But the turn should not be that much.

We would obviously help out on Podman issues that arise.   I would doubt the Kernel or other parts of Arch would cause much problems.  You mig

[2019-04-29 09:55] rhatdan commented on #2887
Yes docker-ce is `providing runc`, even though it does not provide it, and this blocking some installations of Podman.  Could you open an issue with Docker asking them to fix their packaging. They should either use the runc packaged with the distro or put their packaged runc into a private directory.

[2019-04-29 10:59] derkoe commented on #2886
Any plans on merging the PR and fixing this for RHEL 7.7? This issue stops us from using podman.

[2019-04-29 11:18] rhatdan commented on #2898
I am not arguing against the use of podman. Podman is the tool for a user to install a containerized application. That is why we are building it.
If a user wants to install RPMs on his host and is not allowed to run as root, then toolbox wrapping of podman becomes an interesting way to allow users to to do this use case.
Obviously podman can do this, since toolbox is just wrapping it, but toolbox

[2019-04-29 11:52] karfau commented on #3030
OK, I don't know any other arch packagers ...
It sounds doable but I hope creating this issue with the idea in it will attract somebody with more knowledge and some time to pick it up.
Currently it is not a very high prio for me, sorry.
You can decide if it is worth keeping this issue open for the purpose of this or if it is a better idea to close it.

[2019-04-29 14:32] Silvanoc commented on #1742
That would be helpful!

[2019-04-29 16:34] mheon commented on #2886
I think this is being worked on as part of BZ 1703261 on the Red Hat Bugzilla - it's reported against 7.6 there. We were planning on including a more recent Podman for the next 7.x anyways, so if the patch lands by then we should have it included.

[2019-04-29 16:34] mheon commented on #2886
(Though I'm sufficient fuzzy on RHEL7 schedule to not know whether we're upgrading for 7.7 or 7.8)

[2019-04-29 16:38] rhatdan commented on #2886
We have point releases so it could be at 7.6.* or 7.7

[2019-04-29 16:44] mheon commented on #2898
@mojavelinux We've mentioned that rootless uses no additional privileges in a few blog posts, but nothing in the README or manpages.

That sounds like a big omission on our part, so I'll look into getting something written up for the README first, and then maybe the manpages

[2019-04-29 17:17] mheon commented on #2898
@mojavelinux I took a first pass at adding a description in #3038 - would appreciate your checking to see if this would have adequately answered your question, or if we need to include more detail.

[2019-04-29 20:07] mojavelinux commented on #2898
@mheon I very appreciate you following up to add information about this to the docs. However, the paragraph you added doesn't really enhance my knowledge or understanding in anyway. Specifically,  I don't see any mention of `--privileged` and how it pertains to volume mounts. That's really the issue at hand here. I would expect something like:

Honestly, I think it was a poor decision to reuse the

[2019-04-29 21:10] mheon commented on #2898
A lot of the implications are still the same - we're still relaxing Seccomp, SELinux, and restrictions on mounts in /proc and /sys. The biggest difference is the starting point in terms of permissions and capabilities - we can grant you additional privileges with `--privileged`, but nothing more than what you started with in the first place.

[2019-04-29 21:10] mheon commented on #2898
(I should probably put that bit in the readme too)

[2019-04-30 02:10] hulkish commented on #2414
@marshallford thanks!

[2019-04-30 05:36] h-vetinari commented on #2887
@rhatdan
I built podman from master on a fresh ubuntu VM (will send a PR to update install docs when I get around), and can now get through the login.

Also retested with the latest PPA, where it continues to not work. Based on that, I'd say this is a bug in the way the ubuntu PPA is set up? @lsm5

[2019-04-30 05:40] h-vetinari commented on #2250
@rhatdan
In building podman I stumbled again on the differences between the different build instructions (and some smaller errors).

Would you accept a PR to merge the installation instructions from [`docs/tutorials/podman_tutorial.md`](https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md) into `install.rst`, and just have a pointer to that from the tutorial?

[2019-04-30 07:20] barbudone commented on #1917
Just to comment or confirm, rm'ing or mv'ing the bolt_state.db in the static_dir solve the issue as cleverly reported by:

`ERRO[0000] User-selected graph driver "overlay" overwritten by graph driver "vfs" from database - delete libpod local files to resolve`

**_delete libpod local files to resolve_**

[2019-04-30 10:54] TomSweeneyRedHat commented on #2250
Why *.rst and not *.md?

[2019-04-30 11:03] siretart commented on #1742
On Mon, Apr 29, 2019 at 10:32 AM Silvano Cirujano Cuesta <
notifications@github.com> wrote:

Done.

I've rebuild and backported the full stack in clean Debian/buster chroots,
so I'd expect the packages to work on the upcoming Debian 10 release, and
existing Debian "testing" and "unstable" laptops. To enable the repository,
do these steps as root:

$ curl https://people.debian.org/~siretart/rtbp/si

[2019-04-30 11:31] h-vetinari commented on #2250
Because I typed the filename from memory and got the extension wrong... Sorry.

[2019-04-30 12:10] gertvdijk commented on #1742
@siretart Lovely, thanks for your work! Can't wait for the `podman` package available too. :smiley:

Sidenote: I see you've published `docker.io` in the repository too, presumably purely to allow other people building the packages too (as it seems to be a build dependency). It would now also update the docker.io package on your system, unless one will use APT pinning to prevent that. Would it be p

[2019-04-30 13:02] derkoe commented on #2886
https://bugzilla.redhat.com/show_bug.cgi?id=1703261 for reference

[2019-04-30 13:34] rhatdan commented on #2250
@h-vetinari Yes we would love a PR.

[2019-04-30 13:48] TomSweeneyRedHat commented on #2250
@h-vetinari no worries on the file name.  Personally, I'd like to see the install instructions be their own page with a link from the tutorial.

[2019-04-30 18:44] edsantiago commented on #2960
UPDATE: I am now seeing this with plain podman on master:
[code]
I don't know if this is new behavior, or (more likely) screwing up something on my end when I tried this sequence two weeks ago. If anyone else can reproduce, please update title accordingly to remove the podman-remote red herring.

[2019-04-30 18:49] rhatdan commented on #2960
I think @giuseppe Made some changes to make these directories searchable, so that we would not need to go into two mount namespaces.

[2019-04-30 18:50] rhatdan commented on #2960
I think the intended permissions of these dirs is 711.

[2019-04-30 18:54] edsantiago commented on #2960
Then the [400-unprivileged-access.bats test](https://github.com/containers/libpod/blob/master/test/system/400-unprivileged-access.bats) needs to be updated, because "files accessible by other users" is exactly what it is trying to prevent. I suppose we'll have to wait for @giuseppe

[2019-04-30 18:59] rhatdan commented on #2960
That script is succeeding and you expected it to fail?

[2019-04-30 19:06] edsantiago commented on #2960
Script is failing, but now I see that my 12:44MDT comment was mistaken. The problem is /var/lib/containers/storage/**overlay** -- that's what podman-remote (and only podman-remote) is clobbering. I will update my comment. Sorry for the confusion.

[2019-04-30 20:10] h-vetinari commented on #2887
@rhatdan @lsm5 @mheon
To double-check, I also tried to build podman on fresh RHEL 7.4 and 7.6 machines (which is quite a pain without a subscription-manager; i.e. on Azure), but both work. I did however encounter a bug in the interplay between podman/selinux/runc. Will file shortly.

Summing up: following the build instructions (as closely as possible) leads to a podman build that does not have th

[2019-04-30 20:18] h-vetinari opened #3044 "Update podman in RHEL extras"
The last available podman version in RHEL (7.6) extras is 0.12.1.2, which is already almost [1400 commits behind master](https://github.com/containers/libpod/releases?after=v1.0.0), and not usable (to me) in several ways, especially related to multi-stage builds (cf. containers/buildah#632, containers/buildah#1456, containers/buildah#1463).

This issue is to (publically?) track a new release to th

[2019-04-30 20:30] h-vetinari opened #3045 "BUG: Problem with selinux/runc>=1.0.0-rc7"
After building podman from master for #2887, I encountered a bug that is either due to podman, selinux or runc. I'm starting to file here, because I don't know if this is actually a runc-problem, because I'm encountering it when running podman, and because the usual crowd here (esp. @rhatdan) seems to be active in all three projects anyway.

Assume we have a simple file `test.dockrf`:
[code]

Then

[2019-04-30 20:38] rhatdan commented on #2960
podman-remote should not even know about container-storage...

[2019-04-30 20:39] edsantiago commented on #2960
My fault again: I'm conflating podman-remote with the varlink server.

[2019-04-30 20:47] rhatdan commented on #3045
Did you build your own runc, without the "selinux" buildtag?

[2019-04-30 20:48] rhatdan commented on #2960
So whey you run podman varlink the mode of this file changes?

[2019-04-30 20:56] h-vetinari commented on #3045
Yes I did, cf. above:

The exact build steps from the tutorial are:
[code]

This works with the runc-tags I indicated:

Each runc-version was built separately of course.

[2019-04-30 20:57] edsantiago commented on #2960
See initial post (at top). I would imagine it's `podman varlink` that's doing the chmod, not actually `podman-remote`. Maybe I should refer to it as "the podman-remote ecosystem"?

[2019-04-30 20:58] rhatdan commented on #3045
Should be

git clone https://github.com/opencontainers/runc.git $GOPATH/src/github.com/opencontainers/runc
cd $GOPATH/src/github.com/opencontainers/runc
make BUILDTAGS="**selinux** seccomp"
sudo cp runc /usr/bin/runc

[2019-04-30 20:59] rhatdan commented on #3045
Since not all platforms support SELinux runc version needs to be modified.  Podman is using SELinux so it requires a runc that understands it.

[2019-04-30 21:01] rhatdan commented on #2960
Does this only happen when running a podman-remote with a --uidmap?
And it does not happen if you just do a podman run --uidmap?

[2019-04-30 21:07] edsantiago commented on #2960
Correct and correct.

In case it helps, I took podman-remote slightly out of the equation:
[code]
That is, `podman-remote create` does not harm anything. Then, running varlink directly without podman-remote:
[code]
i.e. the `start`, run by the varlink server, is what did it.
Hope that helps narrow it down.

[2019-04-30 21:29] siretart commented on #1742
Thanks for your interest in that repository.

That would be a major inconvenience, because that would prevent me from using that repository as a staging ground for package builds - I'd have to juggle between two repositories which to be frank I don't find very valuable. Please note that my repository doesn't come with any warranty or support, its sole purpose is to solicit feedback and help with t

[2019-04-30 21:42] h-vetinari commented on #2887
I looked at opening an issue at moby, but it seems that while they're [waiting for runc 1.0.0](https://github.com/moby/moby/issues/38185#issuecomment-437896551), they have decided to solidify the "provides runc", see [here](https://github.com/moby/moby/issues/38185#issuecomment-448973962)

See also https://github.com/containerd/containerd/blob/master/RUNC.md...

Do you still think it's worth filin

[2019-05-01 01:06] h-vetinari commented on #3045
Fair enough, I'll put that additional tag in the PR for updating the installation.

However, the build still does not succeed (now with having built runc from master, using `make BUILDTAGS="selinux seccomp"`):
[code]

All variants of glib* are installed, and the linker should be able to find it:
[code]

If I then try to *also* build podman with `make BUILDTAGS="selinux seccomp"` (both install tuto

[2019-05-01 11:19] rhatdan commented on #2887
Yes please do.

[2019-05-01 11:33] rhatdan commented on #3045
Is this an SELInux issue?
Does it work with
setenforce 0
If so then execute
restorecon -R -v /var/lib/containers

[2019-05-01 12:06] bka2004 opened #3046 "Named volume not mounted on container start"
/kind bug

I have a problem with named volumes where I'm not sure if it's a bug or me
doing something wrong.

When starting a container with a named volume, the content of that volume is not mounted
and therefore not visible in the container.

I created a named volume which looks like this:

[code]

Then I start a container like this:
`podman run -d -p 139:139 -p 445:445 --volume FileServerData:/s

[2019-05-01 12:12] h-vetinari commented on #2887
Done.

How can we move the needle on this issue with (very likely) the ubuntu packaging?

[2019-05-01 12:30] giuseppe commented on #2960
having 711 on `/var/lib/containers/storage/overlay` is expected when using uidmap/gidmap, as we rely on the ownership in the subdirectories.
What we have to check for is if an unprivileged user (that it is not mapped to root inside the container) can access any file/directory inside of container.  How does `ls -l /var/lib/containers/storage/overlay` look like?

[2019-05-01 12:36] edsantiago commented on #2960
EPERM, of course. However, if a nonprivileged user can guess or learn the SHA of a container storage directory:
[code]

[2019-05-01 12:50] rhatdan commented on #3046
This is a bug and we have a related problem with nfs.
I have a PR here https://github.com/containers/libpod/pull/2415 that handles this for NFS, but @mheon is working this into the new rewrite of the volume handling.

[2019-05-01 12:51] edsantiago commented on #2960
And of course the question that started it all: why does plain podman not change permissions? Why is it only varlink / podman-remote?

[2019-05-01 13:04] giuseppe commented on #2960
It happens when uidmap/gidmap is used, to allow other users not root to access these directories.  local/remote podman should not matter

[2019-05-01 13:12] giuseppe commented on #2960
That is strange /var/lib/containers/storage/overlay/064500df30a3ead9dca8f03a16bf2beda66eb53564d978e9d565dbedcb1bf1d7 should have 0700.  I will have to verify it

[2019-05-01 14:07] giuseppe commented on #2960
interestingly it seems to happen only with varlink?  @baude do we do anything different that can cause the directories in the storage to be created with a different permissions mask?

[2019-05-01 14:53] edsantiago commented on #2960
Oh, this is interesting: plain podman is chowning, not chmoding:
[code]
Running plain podman fixes it again:
[code]

[2019-05-01 16:48] giuseppe commented on #2960
so the problem seems to be in not correctly creating the layer directory with the correct ownership:

https://github.com/containers/storage/pull/334

this seems to solve the issue for me

[2019-05-01 18:05] wirobert opened #3050 "Requesting detailed documentation on containers.conf parameters"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman inf

[2019-05-01 18:23] rhatdan commented on #3050
What is containers.conf?  And where did you see it?

[2019-05-01 18:54] h-vetinari commented on #3045
@rhatdan
It seems to be an selinux issue indeed. After building both runc/podman with the build tags "selinux seccomp", I reproduced the above errors.
After running `sudo setenforce 0` and `restorecon -R -v /var/lib/containers`, the container build (see OP) succeeds.

[2019-05-01 19:09] wirobert commented on #3050
My error, I meant /etc/containers/storage.conf. Specifically is there a default userns-remap setting  similar to the Docker /etc/docker/daemon.conf parameter:

{
    "userns-remap" :  "default"
}

[2019-05-01 19:09] rhatdan commented on #3050
@wirobert I think you are talking about 99-containers.conf
 which was added for devicemapper for RHEL7 use of Docker.  I think this was done by me and @rhvgoyal to fix an issue with the RHEL7 kernel not handling removal of containers when a mount point leaked.

[2019-05-01 19:12] rhatdan commented on #3050
remap-uids and remap-gids.  The storage.conf

# Remap-UIDs/GIDs is the mapping from UIDs/GIDs as they should appear inside of
# a container, to UIDs/GIDs as they should appear outside of the container, and
# the length of the range of UIDs/GIDs.  Additional mapped sets can be listed
# and will be heeded by libraries, but there are limits to the number of
# mappings which the kernel will allow when

[2019-05-01 19:28] #2960 closed

[2019-05-01 19:30] wirobert commented on #3050
To clarify, if I enter one and only one remap-uid/remap-gid pair of values will all containers created by podman use those mappings?

[2019-05-01 19:31] edsantiago commented on #2960
Shouldn't this stay open until it gets vendored in?

[2019-05-01 20:52] rhatdan commented on #3050
I believe that will work, unless overridden at the command line with --uidmap.  Not sure how well this works in rootless mode.

[2019-05-01 21:09] wirobert commented on #3050
I am using root mode Podman v0.7.3 as supported by Red Hat on RHEL 7.5 so I will test to confirm that is the case and update the issue with my results.

[2019-05-01 21:51] filbranden commented on #1429
Hi @rhatdan

I just added an update to opencontainers/runc#2007 with a proposed approach.

I think we still need more work on the underlying components, to ensure everything is in place. In particular, we'll need freezer support in cgroup2 in the kernel (last I looked, it was planned for 5.2, but not sure if it's still in schedule) and systemd needs to export more cgroup2 interfaces to userspace,

[2019-05-02 03:42] gbraad commented on #2798
No updates available on F29 yet

[2019-05-02 05:39] h-vetinari commented on #2887
Please feel free to chime in in the issue I opened on the moby tracker.

[2019-05-02 08:09] rhatdan commented on #3045
Ok I am going to close this issue then.

[2019-05-02 08:09] #3045 closed

[2019-05-02 09:15] h-vetinari commented on #3045
Weeeeeell, are you going to open an issue with selinux then? I'm preparing the PR for cleaning up the installation docs, and right now, the (corrected) build instructions (i.e. with the build tag you wanted) yield a broken install on RHEL with selinux.

[2019-05-02 10:13] derkoe commented on #2886
Loading the kernel module `br_netfilter` [apparently fixes this](https://bugzilla.redhat.com/show_bug.cgi?id=1703261#c18). Just tried that and it works.

Should podman install load/require this module?

[2019-05-02 10:45] rhatdan commented on #3045
Well this is not caused by SELinux, your system got mislabeled somehow.  Potentially from running containers with SELinux disabled, but I have no idea how.  And there is little SELinux can do about a mislabeled system.

[2019-05-02 10:47] rhatdan commented on #2886
I don't know.  I guess we could drop a file into /etc/modules-load.d/

[2019-05-02 10:52] rhatdan commented on #1429
Thanks for keeping us up2date.  I am watching the runc PRs and keeping up with it as best I can.  @filbranden Keep up the good work.  Eventually we will get there.

[2019-05-02 11:14] rhatdan commented on #2887
Not sure that will help.  :^)

[2019-05-02 12:12] praveenkumar opened #3054 "podman build fail to pull images."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to build the from https://github.com/openshift/installer/blob/master/images/nested-libvirt/Dockerfile dockerfile.

**Steps to reproduce the issue:**

1. Get the above mentioned Dockerfile

2. It uses the private registry but I already put the auth to the ~/.docker/config file.

3. Star

[2019-05-02 12:54] rhatdan commented on #3054
Is this Dockerfile correct?
It seems to do a

from ... as **builder**

But later it does

COPY --from=**build**

I think the second is supposed to be builder?  The run looks like it is attempting to pull docker.io/library/build, which seems to be protected image.

[2019-05-02 13:12] jlebon opened #3055 "/etc/resolv.conf gets reset on container restart"
/kind bug

**Description**

I created my pet container with `--dns 192.168.122.1`. Whenever I reboot or have to stop and restart the container, `/etc/resolv.conf` gets overwritten back to `192.168.0.1` (presumably to match my host).

**Steps to reproduce the issue:**

1. start new container with `--dns <ip>`
2. restart container

**Describe the results you received:**

`/etc/resolv.conf` matches h

[2019-05-02 13:14] mheon commented on #3055
How are you invoking Podman? Can you give a sample command that triggers this?

[2019-05-02 13:16] mheon commented on #3055
I can't replicate using `podman run --dns 8.8.8.8 -t -i fedora bash` and restarting the container

[2019-05-02 13:19] jlebon commented on #3055
This is what my pet script currently looks like:

[code]

Hmm, could be an interaction with `--net=host`?

[2019-05-02 13:20] mheon commented on #3055
`--net=host` and `--dns` are probably interacting and causing this one

[2019-05-02 13:24] mheon commented on #3055
Part of me wants to say that we should make the two options conflict, but there are legitimate uses to overriding host DNS while retaining the host network, so I'll see about figuring out what's going on here.

[2019-05-02 13:29] mheon commented on #3055
Hm. Still doesn't reproduce on master or 1.2 with `--dns 8.8.8.8 --net=host` - though I didn't force a full system reboot, just a container restart.

[2019-05-02 13:31] jlebon commented on #3055
I agree there are legitimate use cases. In my case, I'm using libvirt's dnsmasq because I don't want to keep editing `/etc/resolv.conf` everytime I hop on/off the VPN. Hmm, I guess I could bind-mount ro `/etc/resolv.conf`? Though not sure how that interacts with NM (i.e. if it `unlink` & `rename` vs updating it in-place).

[2019-05-02 13:34] mheon commented on #3055
Do you not have an `entrypoint` set (`--entrypoint= \`)? When I try your command Podman is attempting to parse the next argument as the entrypoint and fails to run

[2019-05-02 13:38] jlebon commented on #3055
Hmm, no that works for me:

[code]

[2019-05-02 13:39] jlebon commented on #3055
Hmm OK, I can try to get a better reproducer when I have some time. Could be related to `--privileged` too somehow?

[2019-05-02 13:40] mheon commented on #3055
Checking now, potentially

[2019-05-02 14:00] debarshiray commented on #3055
Just bind mounting `/etc/resolv.conf` won't work. NetworkManager would update it with the *write to temporary file and rename* idiom which would lead to a different inode and the changes won't propagate.

You could use the Flatpak-approach, which is also what Toolbox [does](https://github.com/debarshiray/toolbox/commit/04732139074b60dabe3087c37afbd99bdbf14a8a). In short, use `podman run --dns none

[2019-05-02 14:03] mheon commented on #3055
Update, it doesn't seem like privileged affects this. I'll try a full system restart later today to check if that might cause it.

I would say that I suspect that something in the container is removing resolv.conf and forcing it to be recreated, and there's a logic error somewhere in the recreation so we pick up the wrong DNS, but it's a bind mount inside the container - can't be removed.

Maybe s

[2019-05-02 14:16] jlebon commented on #3055
OK, that's what I suspected. And thinking more on this, I'm pretty sure I've hit this in the past and that's exactly how I ended up with the dnsmasq workaround. Mounting `/run/host/etc` and symlinking sounds like a good solution too.

Hmm, I can't imagine what would. I don't have e.g. systemd or NM running in there. Basically the only long-running process is tmux.

[2019-05-02 14:31] praveenkumar commented on #3054
Thanks @rhatdan , I was not able to figure out why it is failing from the error. I should've looks closely to it. Will send the PR to that dockerfile to fix it.

Closing it.

[2019-05-02 14:31] #3054 closed

[2019-05-02 15:18] edsantiago commented on #3024
My laptop updated cri-o this morning, 1.13.5 to 1.13.7, and the `oom_score_adj` warning is gone.

[2019-05-02 16:08] NicolasT opened #3057 "`podman build -t foo -f foo/bar foo` not creating tag"
(Filing here and not in `buildah` because `podman build` fails and `buildah bud` doesn't...)

/kind bug

Environment:
- `podman-1.2.0-2.git3bd528e.fc30.x86_64`
- `podman-docker-1.2.0-2.git3bd528e.fc30.noarch`
- `buildah-1.7-18.git873f001.fc30.x86_64`

When running `docker build --tag metalk8s-build:latest -f packages/Dockerfile packages` (note, using `podman-docker`), the whole build process runs

[2019-05-02 17:13] edsantiago commented on #2966
Seems to work, but `cp` doesn't seem to be working with volumes. Investigating; may file issue.

[2019-05-02 17:14] mheon commented on #2999
@nalind PTAL

[2019-05-02 17:16] mheon commented on #2886
We should also hit the tutorial and troubleshooting guide to notify people on older Podman versions what they need to do

[2019-05-02 17:27] edsantiago opened #3059 "podman cp: not working with volumes"
(where "not working" means "files seem to vanish")
[code]
So far, so good. Now create a file, try to cp it into the volume in the container:
[code]
That is: the 'cp' seemed to be a NOP. Running `find / -name 'my*'` in the container does not locate the desired myfile.

Or, create a file in the volume, try to cp it out:
[code]
podman @ pr #3041. Haven't actually tested master, will do so on request.

[2019-05-02 17:36] mheon commented on #3059
Copy doesn't run inside the mount namespace, so we don't get access to things mounted into the container (named volumes, etc) - so I think this is expected.

Does Docker allow copying into volumes? If so they're probably doing some sort of 'cat' inside the container...

[2019-05-02 17:36] mheon commented on #3057
@TomSweeneyRedHat PTAL

[2019-05-02 17:41] edsantiago commented on #3059
With the exception of having to use `vv` as volume name (docker doesn't allow single-character volume names), all of the above work in docker.

[2019-05-02 17:43] edsantiago commented on #3059
Minor nit which may or may not deserve its own issue: docker incompatibility: in `volume inspect`, the template element in docker is `Mountpoint` (lower-case p) but in podman it's `MountPoint` (upper-case P). This breaks automation that aliases `docker=podman`

[2019-05-02 17:44] mheon commented on #3059
I'll take the latter one... I need to rework a lot of volume internals for NFS, anyways

[2019-05-02 18:17] TomSweeneyRedHat commented on #3057
IDK for sure if this is the problem, but the main difference between `buildah bud` and `podman build` is their default settings of the `--layers` option.  For Buildah that's false, for Podman it's true.  Regardless will dive in.

[2019-05-02 18:26] h-vetinari commented on #3045
TBH, I don't see where there could be such a "somehow". I followed the install instructions on a fresh RHEL VM, and I *can* get a working system without deactivating selinux if building runc<1.0.0-rc7 without the selinux-buildtag.

You said above that runc however *must* be built with this tag, but then I end up with a broken build, somewhere in the interplay between selinux/runc/podman. Therefore

[2019-05-02 18:33] rhatdan commented on #3045
Well see if you can get a repeatable failure.

[2019-05-02 18:40] NicolasT commented on #3057
So, I took `libpod` from Git, and got it to compile. Turns out that in `master`, the issue doesn't present itself, and the tag *is* created. However, when checking out `v1.2.0` (the system version I got), a build with such binary doesn't create the tag.

So, I performed an 'inverse `git bisect`', so to say, between `v1.2.0` and `master`, where 'good' is 'no tag created' and 'bad' is 'tag created.

[2019-05-02 18:43] TomSweeneyRedHat commented on #3057
@NicolasT I just tried running with Buildah, Podman and Docker (as root) and the results look pretty much the same for all three to me.  Fair warning, for Buildah and Podman I used the absolute latest of each and Podman we just a few hours ago vendored the latest Buildah into it.  So perhaps a fix that went into Buildah has addressed this?  Below is what I did:

[code]

[2019-05-02 18:45] NicolasT commented on #3057
Looks like we came to the same conclusion ;)

[2019-05-02 18:46] TomSweeneyRedHat commented on #3057
@NicolasT looks like we were commenting at the same time!  A v1.3 release for Podman is very much in the works.  I suspect it will be out to Fedora by end of next week at the absolute latest, but no promises.

[2019-05-02 18:48] NicolasT commented on #3057
OK then. I'll put a `master` build in my `PATH` temporarily. Thanks!

[2019-05-02 18:48] #3057 closed

[2019-05-03 09:30] #2399 closed

[2019-05-03 12:15] jitka commented on #3022
Hi, @vrothberg I can use pure ` jekyll/jekyll:3.7.3.` jekyll package because I need few more dependences. I guess that problem is that `podman build .` doesn`t create image even though it run without error now. ` podman containel ls -a` do not show anything after succesful `podman build .`

[2019-05-03 12:24] vrothberg commented on #3022
@jitka, if you want the new image to have a name, then it must be tagged as such. You can either do this during build via `podman build -t name:tag` or after the fact with `podman tag`.