[2019-10-09 15:41] baude commented on #4226
i dont think this is a podman problem?

[2019-10-09 16:19] mheon commented on #4226
@baude We should contact the systemd folks to be sure. If there's a trivial workaround on the Podman side it could be worthwhile

[2019-10-09 17:53] b1shan commented on #4219
Spent a few mins looking at the CNI plugins repo and it seems setting iptables off should be rather straight forward, primarily in bridge and p2p plugins. Supporting USER chain, such as CNI-USER will be a bit of work though.

[2019-10-09 17:55] b1shan commented on #4219
A user chain is certainly a cleaner approach though, especially for dynamic workloads.

[2019-10-09 21:03] mtrmac opened #4227 "Podman uses incorrect path to auth.json"
/kind bug

**Description**

After https://github.com/containers/libpod/pull/3760/files , podman _always_ hard-codes `SystemContext.AuthFilePath` to a non-empty value, overriding the built-in defaults in c/image — but _different_ from the built-in defaults.

E.g. for the ordinary case of an unprivileged user with `XDG_RUNTIME_DIR` set, the c/image default is `/run/user/`_$UID_`/containers/auth.json

[2019-10-10 09:50] shaicoleman commented on #3920
Still happening to me with podman 1.6.1 on Ubuntu, with the following command
`ADD --chown=myuser:mygroup archive.tar.xz /home/myuser`

[2019-10-10 10:46] rhatdan commented on #4226
@greg-hydrogen could you open a bugzilla on this?  Open it on Podman and we will pull in the systemd team.

[2019-10-10 12:20] rhatdan commented on #4217
Why?  What would be the reasoning for allowing to volumes to be exactly the same, other then a bug?

[2019-10-10 14:09] vrothberg opened #4230 "cgroupsv2: podman fails with runc error although crun is configured"
Running the latest master, I get the following error:
[code]

We must have regressed since v1.6.1 which does not throw this error. I have `/usr/share/containers/libpod.conf` which is configured to use `crun` and v1.6.1 picks that up accordingly. The current master isn't and fails with the above error.

I have no `/etc/containers/libpod.conf`.

[2019-10-10 14:17] mheon commented on #4230
This is definitely Brent's patch. If you inspect the container, what is the runtime in use?

[2019-10-10 14:22] vrothberg commented on #4230
@mheon it uses runc:
[code]

[2019-10-10 14:28] mheon commented on #4230
Is this a scratch-build, or a rawhide/F31 RPM? I think we're missing the patch that we carry on top of F31 that resets default OCI Runtime to `crun`

[2019-10-10 14:36] #4192 closed

[2019-10-10 14:51] vrothberg commented on #4230
The other way around, we seemed to have created a regression in master specific to F31 and cgroups as well. I did not look into the code yet why and where it's breaking but the behavioral change is concerning.

[2019-10-10 15:17] cevich commented on #4230
Ref: https://github.com/containers/libpod/pull/3901

[2019-10-10 15:25] TomSweeneyRedHat commented on #4230
FWIW, here's brent's PR for the check:  https://github.com/containers/libpod/pull/4216

[2019-10-10 15:29] vrothberg commented on #4230
Strace tells me we're looking at `/usr/local/share/containers/libpod.conf` but we are not looking into `/usr/share` anymore

[2019-10-10 15:29] mheon commented on #4230
Is this a make prefix thing? I know the Makefile lets you specify a prefix directory

[2019-10-10 15:44] vrothberg commented on #4230
Yes, that's it, thanks, @mheon ! `PREFIX=/usr make podman` did the trick :+1: Closing the issue.

[2019-10-10 18:24] afbjorklund commented on #4159
FWIW, Docker is doing this already, as `docker-init`

[code]

Probably fair to bundle stuff under libexec/podman, no ?

[2019-10-10 22:11] #4067 closed

[2019-10-10 22:25] #4230 closed

[2019-10-11 08:58] lcnsir opened #4234 "Call host podman inside a container but encounter `Connection refused` error"
I want to call host podman inside a container by podman python client

So I do
1.  run a contianer and mount podman socket
`podman run -it --privileged --entrypoint=bash -v /lib/systemd/system/io.podman.socket:/lib/systemd/system/io.podman.socket docker.io/python:3.6`

2.  then I login to the container, install python package
`python3 -m pip install podman`

3. call podman with the socket `unix:/l

[2019-10-11 09:01] lcnsir commented on #4234
Anyone can help me on this, about I could I call host podman like what we did with docker

[2019-10-11 09:42] lcnsir commented on #4234
Then I enabled podman socket
[code]

then mount the new socket
[code]

but till error
[code]

[2019-10-11 11:17] lcnsir commented on #4234
Then I check the service status of podman socket, it show falid status

[code]

my OS is coreOS , a cluster host in Openshift 4.1

[2019-10-11 11:38] giuseppe commented on #4234
are you running the container as root user?

Could you try to specify `--ipc=host`?

[2019-10-11 11:50] lcnsir commented on #4234
@giuseppe I found that seems a issue of podman socket

when I  restart io.podman.socket service
[code]
[root@worker1 core]# systemctl restart io.podman.socket
[root@worker1 core]# systemctl status io.podman.socket
● io.podman.socket - Podman Remote API Socket
   Loaded: loaded (/usr/lib/systemd/system/io.podman.socket; enabled; vendor preset: disabled)
   Active: active (listening) since Fri 2019-

[2019-10-11 11:57] rhatdan commented on #4159
We should only bundle it, if it was specific to podman.

[2019-10-11 14:03] mjudeikis opened #4236 "golang varlink getPod fails"
/kind bug

**Description**

Trying to get pod via golang varlink sdk:
[code]
Result:
[code]

Error is : `unexpected end of JSON input`

Where:
[code]
I dont see anything wrong in generated SDK too.
[code]

I see that error comes from `lags, err = receive(&out)`
And its not always, it might be some race condition in API :/

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:

[2019-10-11 14:10] mjudeikis commented on #4236
[code]

Adding sleep before the empty return. I think this might be async calls and the fact that we use pointers....

[2019-10-11 15:17] leorochael opened #4239 "Off by one error in the docs for uidmap"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The documentation for `--uidmap` says:

This option can be passed several times to map different ranges. If calling Podman run as an unprivileged user, the user needs to have the right to use the mapping. See `subuid(5)`.
The example maps uids 0-2000 in the container to the uids 30000-31999 o

[2019-10-11 15:22] rhatdan commented on #4239
Please open a PR to fix the documentation.

[2019-10-11 15:40] rhatdan commented on #3920
@TomSweeneyRedHat Could you check this out?

[2019-10-11 15:44] rhatdan commented on #4234
The issue is the support for podman varlink in podman 1.0.2-dev.  You need a newer version of podman to make this work.

[2019-10-11 16:08] #4227 closed

[2019-10-11 16:28] TomSweeneyRedHat commented on #3920
@rhatdan ack, added on to the list to check into today/tomorrow.

[2019-10-11 16:41] leorochael commented on #4239
Hi @rhatdan, thank you for the quick response.

I'd just like confirmation if my interpretation is correct and `--uidmap=0:30000:2000` should map uids 0 to 1999 in the container.

[2019-10-11 17:00] debarshiray opened #4240 "A command to factory reset a Podman installation"
/kind feature

**Description**

It would be helpful to have a way to factory reset a Podman installation to recover from situations when Podman is badly broken due to some bug. Perhaps, something like `podman system reset`.

Every now and then early adopters and testers of Podman have to do this. A command that encapsulates all the steps is easier to document, helps with user support, etc..

Some

[2019-10-11 17:01] leorochael commented on #4213
I guess this can be closed...

[2019-10-11 17:03] #4213 closed

[2019-10-11 17:34] leorochael opened #4242 "--userns=keep-id not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Can't get a pretty standard container to run rootless with `--user-ns=keep-id`.

Running rootless:

[code]

Running rootless with `--userns=keep-id`:

[code]

**Steps to reproduce the issue:**

1. Run:

 - `podman run --rm -ti -v /tmp:/tmp --entrypoint='["/sbin/my_init", "--"]' docker.io/phus

[2019-10-11 18:04] TomSweeneyRedHat commented on #3920
Issue reopened in Buildah at: https://github.com/containers/buildah/issues/1906

[2019-10-11 18:09] rhatdan commented on #4239
Yes you are correct.

[2019-10-11 18:17] rhatdan commented on #4242
Is /etc/container_environment readable my your user?  IE a non root user?

[2019-10-11 19:35] cevich opened #4244 "panic: error opening storage.lock"
/kind bug

**Description**

While testing a new, freshly built Ubuntu 19 VM Image for possible future use, spotted this error in among the integration test results.  Fortunately it seems to reliably reproduce, though **note:  This VM image is experimental, it may not have the latest PPA packages since building them was recently (temporarily) disabled.**  Meaning, the environment may not represent

[2019-10-11 19:35] cevich commented on #4244
Ref: First spotted in https://cirrus-ci.com/task/5828934884655104

[2019-10-11 19:38] mheon commented on #4244
We're throwing away the error in the panic here, which makes debugging difficult

[2019-10-11 19:38] cevich commented on #4244
@mheon said:

[2019-10-11 19:42] mheon commented on #4244
https://github.com/containers/storage/pull/441

[2019-10-11 19:55] giuseppe commented on #4242
you can workaround this specific issue adding the DAC_OVERRIDE capability.  Keep in mind that by default running as root keeps some capabilities that are not maintained when running with uid != 0 inside of the container.

[code]

[2019-10-12 01:09] lcnsir commented on #4234
thanks @rhatdan got it

[2019-10-12 17:14] #4239 closed

[2019-10-12 18:43] TristanCacqueray opened #4246 "podman top hpid with cgroup v2 fails with "Error: couldn't find pids group for PID""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman top $cid hpid fails with "Error: couldn't find pids group for PID"

**Steps to reproduce the issue:**

1. podman run --rm --name test fedora sleep inf

2. podman top test hpid

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional

[2019-10-12 18:53] mheon commented on #4246
What was the command line the container was started with? Any chance it was `--pid=host` / rootless / `--cgroups=disable`

[2019-10-12 19:06] TristanCacqueray commented on #4246
The container was started by a regular user rootless.

[2019-10-12 19:09] mheon commented on #4246
Rootless doesn't have cgroups, so no PID cgroup, so this looks expected. We should improve documentation and errors for `top` to indicate that we don't expect some parts of it to work as rootless on CGroups v1.

[2019-10-12 19:15] TristanCacqueray commented on #4246
Podman does find the correct pid, but the command now fails (and output the pid as the last word instead of within new line). How are we supposed to get the host pid of a container with CGroups v2?

[2019-10-12 19:18] mheon commented on #4246
We can get the PID of the first process in the container (it'll pop up in `inspect`), but without the PID cgroup we can't track anything beyond that first PID.

[2019-10-12 19:25] TristanCacqueray commented on #4246
IIUC podman does create the PID cgroup:

[code]

[2019-10-12 19:28] mheon commented on #4246
Is this a V2 system? V2 with the systemd cgroup driver will create the PID cgroup.

@vrothberg I know we did some work to get psgo supporting V2. This error looks like it's out of psgo, though, which makes me suspect that we don't have full support yet?

[2019-10-12 19:33] TristanCacqueray commented on #4246
This is a fedora 31 which seems to use cgroup v2 by default.

[2019-10-12 19:59] TristanCacqueray commented on #4246
Actually this is already fixed in master, probably by https://github.com/containers/libpod/pull/4197

[2019-10-13 03:22] toddhpoole opened #4247 "Cannot remove NFS volumes created by podman volume create"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Based on our reading of the 1.6.0 changelog, `podman volume create` can now _"create and mount volumes with options, allowing volumes backed by NFS."_ When we try to exercise this feature and create an NFS-backed volume, we're then unable to remove it.

Documentation covering NFS volumes is no

[2019-10-13 03:45] toddhpoole opened #4248 "Contents of NFS volumes created by podman volume create not visible from within containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Based on our reading of the 1.6.0 changelog, `podman volume create` can now _"create and mount volumes with options, allowing volumes backed by NFS."_ When we try to exercise this feature and create an NFS-backed volume, we're then unable to see the contents of that volume from within our cont

[2019-10-13 03:55] toddhpoole opened #4249 "Unable to cleanly exit from containers using NFS volumes created by podman volume create"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Based on our reading of the 1.6.0 changelog, `podman volume create` can now _"create and mount volumes with options, allowing volumes backed by NFS."_ When we try to exercise this feature and create an NFS-backed volume and attach it to a container, we're then unable cleanly exit from that con

[2019-10-13 04:56] mheon commented on #4248
No error messages when starting the container? That's interesting. Does the
NFS mount appear in 'mount' on the host? Can you provide debug logs from
starting a container with the volume?

On Sat, Oct 12, 2019, 23:45 toddhpoole <notifications@github.com> wrote:

[2019-10-13 06:17] QuLogic opened #4250 "Tutorial is confused about sudo usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The [tutorial](https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md) seems to be a bit confused about when to use `sudo`. At the start it says we are going to do rootless commands, which is great and exactly what I want. However, starting at the ["Viewing the con

[2019-10-13 06:45] toddhpoole commented on #4248
No errors when starting the container. We're droped right into our entrypoint as if everything worked. Debug log from container startup:
[code]

Further, the NFS mount does not appear in the output of `mount` on the host, nor the container.

[2019-10-13 07:38] QuLogic commented on #4250
I just realized my version was outdated, so I updated to the following, though the results are the same:
[code]

[2019-10-13 10:49] rhatdan commented on #4250
@QuLogic Would you be willing to open a PR to fix this?

[2019-10-13 10:56] rhatdan commented on #4246
Yes we found this issue earlier, so the problem should be fixed when we release podman 1.6.2 or podman 1.7.

[2019-10-13 10:56] #4246 closed

[2019-10-13 11:02] rhatdan commented on #4247
This looks like a bug.
@mheon PTAL

[2019-10-13 12:15] mheon commented on #4247
The volume does not appear to actually be mounting which is why we get an
EINVAL. Easy solution is to catch that and ignore it, but handing real
unmount errors in a way that still allows the volume to be removed needs to
happen as well.

On Sun, Oct 13, 2019, 07:02 Daniel J Walsh <notifications@github.com> wrote:

[2019-10-13 12:18] mheon commented on #4248
Ahhh - rootless container. I suspect we don't have the permissions to mount
NFS volumes without root. Still, mount seems to be incrementing the mount
counter without any error, which is definitely a bug.

On Sun, Oct 13, 2019, 02:45 toddhpoole <notifications@github.com> wrote:

[2019-10-13 13:02] benyaminl opened #4251 "Podman Pull Images always error when docker not"
/kind bug
Hello. I'm quite frustated with podman when trying to pull images. I take hours and hours to take images but always fail. This's the podman version
[code]

I tried to pull docker.io/benyaminl/lap7-dev:lumen
When I'm on docker it's running okay, but with podman always error.
[code]

Can anyone enlighten me, not even single people reply my chat on #podman on freenode. I really confused. An

[2019-10-13 20:42] QuLogic commented on #4250
I can remove `sudo`, but that doesn't fix checkpointing and I don't know how to do that.

[2019-10-13 23:39] benyaminl commented on #4251
I Also just move to version 1.6.2-dev but still can't run. What'sthe problem anyway. I'm on centos 7.7.

[2019-10-14 01:52] benyaminl commented on #4251
I do something stupid. But the way podman pull still is a problem. It's not working when the connection is really bad, where docker will retry untill the images is pulled.

The rootless is working, https://www.reddit.com/r/Fedora/comments/bl100f/problem_with_podman_and_lamp_server/

[2019-10-14 10:12] giuseppe commented on #4251
it seems you are hitting two different problems.

@mtrmac could you please take a look at the `TLS handshake timeout` error?  Is it something that is already tracked in `containers/image`?

About the slirp4netns error, how are you creating the container?  Are you trying to use a port that is already used on the host?

[2019-10-14 11:00] perlun commented on #4226
For reference: https://bugzilla.redhat.com/show_bug.cgi?id=1760645

[2019-10-14 11:58] matihost commented on #3835
It would be nice if cbs.centos.org builds build also for CentOS8 (aka el8 arch)
CentOS 8 is shipped with pretty alpha 1.0.0-5 podman release.

Trying to install podman-1.6.1-2.el7.x86_64 on CentOS 8 (risky thou) ends with:
[code]
There is no conmon package on cbs.centos.org at all.

[2019-10-14 12:12] saschagrunert opened #4252 "Podman `build --pull` vs docker behavior"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind feature

**Description**

Podman `build --pull` right now behaves different compared to docker, which makes it hard to use as a drop-in replacement.

On docker, the `--pull` flags forces a re-pull of the image during build, whereas on podman it only specifies that the image has to be pulled if not present. I know that there is the `--pull-always`

[2019-10-14 13:07] TomSweeneyRedHat commented on #4252
@saschagrunert  this is a partial WIP  https://github.com/containers/buildah/pull/1873 on the Buildah side.   In short `podman --pull=false` fails currently if the image is not present locally.  It will not pull from the repo.  `docker --pull=false` tries to use the local image and then pulls from the repo if it's not present.  I've fixed that part of the equation in 1873 and added a `--pull-never

[2019-10-14 13:10] saschagrunert commented on #4252
Cool, thanks! I think it would be fine to have a more fine-granular option set for buildah, while podman sticks to the docker behavior, right? I don't see a big reason for having both, `--pull` and `--pull-always` flags in podman.

[2019-10-14 13:31] lsm5 commented on #3835
I'll build conmon for centos.

On Mon, Oct 14, 2019 at 04:58:25AM -0700, matihost wrote:

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-10-14 13:34] TomSweeneyRedHat commented on #4252
I think the `podman --pull=true/false` should match `docker --pull=true/false` functionality.  However, I think it's good the have the --pull-always and --pull-never functionality in both Podman and Buildah.  If folks want it they can use it, if not, it's easy to ignore.

[2019-10-14 13:41] lsm5 commented on #3835
ummmm .. btw, el7 package install on el8 isn't supported, so even after conmon is built and available, it may not work, and there's not much I'll be able to do about it. Just FYI.

[2019-10-14 13:43] rhatdan commented on #4248
Yes we should block any attempts to use volumes requiring mount in rootless mode.

Rootless users are only allowed to mount fuse, bind, sysfs and procfs.  All other file systems require SYS_ADMIN capability, IE Root.

[2019-10-14 13:44] benyaminl commented on #4251
I already fix it. It's my wrong doing I forgot when I do
[code]
That means bind in local on port 80 and on container 8080 for container on that pod
It should be
[code]
8080 on localhost and 80 on container, and I forgot when on rootles mode, I can't bind on root port, but I get an answer like thi https://github.com/rootless-containers/slirp4netns/issues/154#issuecomment-541493284
I don't test it b

[2019-10-14 13:47] mtrmac commented on #4251
`package: containerd.io-1.2.10-3.2.el7.x86_64`
 is that expected to work?

[2019-10-14 13:48] rhatdan commented on #4250
Checkpointing only works on rootful containers.

[2019-10-14 13:54] benyaminl commented on #4251
Now it works and I can bind both mysql and benyamin/lap7-dev using podman pod
![image](https://user-images.githubusercontent.com/2817332/66756575-84c4c700-eec4-11e9-8c34-afaedcdd658c.png)

[code]

[2019-10-14 14:02] TomSweeneyRedHat commented on #4250
I'm going to close this as a duplicate of #3932.  @ipbabble any progress?

[2019-10-14 14:02] #4250 closed

[2019-10-14 14:12] TomSweeneyRedHat opened #4254 "Podman error to pull image from Artifactory"
In https://github.com/containers/podman.io/issues/135, @rodris-gimba reported:

"When i try to pull any image from artifactory, I received the error:

    ERRO[0001] error pulling image "registry:5000/base/base_alpine": unable to pull registry:5000/base/base_alpine: unable to pull image: Error initializing image from source docker://registry:5000/base/base_alpine: invalid character '<' looking for

[2019-10-14 14:12] mheon commented on #4248
I'm really confused as to how this is running without error. Invoking `mount` without root consistently exits with a non-zero code in my testing, so we shouldn't be reporting a successful mount.

[2019-10-14 14:16] matihost opened #4255 "Support to --link option?"
Original docker cli still contains [--link](https://docs.docker.com/engine/reference/run/#expose-incoming-ports) option.
Is there any plan to make it working in podman?

[2019-10-14 14:27] mheon commented on #4255
No, not at present. Our intended replacement is pods.

[2019-10-14 14:28] mheon commented on #4249
This is completely expected when the volume fails to unmount. The container will be successfully removed, but we will report errors that occurred along the way.

[2019-10-14 14:29] mheon commented on #4249
The error that causes the failure to unmount will be handled in #4248

[2019-10-14 14:29] #4249 closed

[2019-10-14 14:33] mheon commented on #4247
#4256 to resolve this and #4248

[2019-10-14 14:34] glenfordwilliams opened #4257 "WSL2 suppport"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While WSL2 now uses a vm it does not support systemd well out of the box which results in failed events when using journalctl.

**Steps to reproduce the issue:**

1.  podman --log-level debug run -it   docker.io/library/alpine sh

**Describe the results you received:**

[code]
**Describe the

[2019-10-14 14:39] sdouche commented on #4123
Hi,
The lack of non-root use is the blocking point to switch to Podman from Docker on some use-cases. Highly interested in this feature.

[2019-10-14 14:45] baude commented on #4257
change the event logger in your libpod.conf to file.

[2019-10-14 15:06] QiWang19 commented on #4123
@sdouche I don't know how to bypass this restriction.

[2019-10-14 15:11] rohanlean opened #4258 "Unicode input broken in `attach`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman create -ti --name Unicode_input busybox`

2. `podman start -ai Unicode_input`

3. Type a Unicode character.

**Describe the results you received:**
The terminal beeps.

**Describe the results you expected:**
The Unicode character is displayed.

**

[2019-10-14 15:12] mtrmac commented on #4123
I can’t see why this should not work in principle, c/image does nothing interesting about privileges/credentials.

That bug is almost certainly reported by the `secretservice` helper itself, and needs to be diagnosed within it. (As a wild guess, it needs some local secrets that are available to root but not UID=1000?)

[2019-10-14 15:15] rohanlean opened #4259 "`podman start --attach` does not connect stdin by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman create -ti --name nostdin busybox`

2. `podman start -a nostdin`

**Describe the results you received:**
Podman does not attach stdin.

**Describe the results you expected:**
Podman does attach stdin.

**Additional information you deem important (

[2019-10-14 15:17] giuseppe commented on #4027
it looks like an issue that was fixed some time ago in fuse-overlayfs.

Could you please try the last version?

[2019-10-14 15:19] mheon commented on #4259
I need to double-check against Docker, but I think the expected behavior is to set `-i` by default if the container was created with `-i`

[2019-10-14 15:25] mheon commented on #4258
My suspicion is this is related to raw terminal support - I know `run` and `start --attach` set it, but plain `attach` might not.

[2019-10-14 16:25] giuseppe commented on #4242
I am closing the issue since I think it is working as expected

[2019-10-14 16:25] #4242 closed

[2019-10-14 16:54] rhatdan commented on #4254
@mtrmac Any ideas?

[2019-10-14 17:07] st1971 opened #4260 "Cannot access published ports from remote hosts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Start a container and publish port, attempt to access to port from another host on the same network and the connection attempt fails.

**Steps to reproduce the issue:**

1. podman run -d -p 80:80 nginx:latest

2. curl http://container-host/ (from another host)

3.

**Describe the results you

[2019-10-14 17:21] baude commented on #4260
we dont set up rules to allow external traffic to access your host ... we believe that is the job of the user.

[2019-10-14 17:27] mheon commented on #4260
@baude He's not rootless, so CNI should be doing this automatically, I think.

[2019-10-14 17:27] mheon commented on #4260
Evidently, it's not...

@st1971 Can you get the output of `iptables -nvL --table nat` and `iptables -nvL`?

[2019-10-14 17:39] mtrmac commented on #4254
This really looks like the server is replying with HTML. That might be the case if the registry is set up correctly but incorrectly reporting errors (like Quay.io does), e.g. on a missing image, or it just might be an incorrect server altogether.

Are you *absolutely sure* this is the same configuration? What is the Docker command that succeeds?

Failing that, full debug logs (`podman --log-level=

[2019-10-14 17:49] st1971 commented on #4260
Sorry should have mentioned that this is rooted container only (rootless work fine) and that if I run something like ncat listening on port 80 can connect without a problem so the traffic is getting to the host but its not getting through to the container

output of iptables -nvL --table nat
[code]
output of iptables -nvL
[code]

[2019-10-14 18:08] mheon commented on #4260
[code]

This looks correct - the portmap plugin is making rules to forward the ports in question

[2019-10-14 18:13] debarshiray commented on #4208
Grepping around in the code, I found:
[code]

So, it doesn't look like `--detach-keys ""` unsets the shortcut, at least not currently.

[2019-10-14 18:14] mheon commented on #4260
@mccv1r0 Any ideas here? The IPTables setup looks sane, nearest I can tell

[2019-10-14 19:59] rohanlean commented on #4258
I am very sorry; the commands I gave do not reproduce the issue.  It seems to be related to the debian image, where I can reproduce this with `exec` and `run` also.  For busybox and fedora the Unicode input works in all cases.

I will close this now.  If you think the issue with the debian container is related to podman, please reopen.  (I do not have docker to compare right now.)

[2019-10-14 19:59] #4258 closed

[2019-10-14 20:00] raoulbhatia opened #4264 ""podman run" (and other commands) return "error locating item named "sha256:[...]" for image with ID "[...]": file does not exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
[code]
or
[code]

**Steps to reproduce the issue:**

1. Launch Ubuntu 18.04 AMI on AWS
2. Install Podman from Project Atomic PPA
[code]

3. Pull boxboat/hello-world-webapp from dockerhub
[code]

4. Launch container
[code]

5. Remove image
[code]
[code]

**Describe the results you received:**
[

[2019-10-14 20:22] GolanTrevize10 commented on #4211
Thanks I tried with that podman package but it does not work. I got this error

time="2019-10-14T22:17:34+02:00" level=error msg="could not get runtime: could not find a working conmon binary (configured options: [/usr/libexec/podman/conmon /usr/local/libexec/podman/conmon /usr/local/lib/podman/conmon /usr/bin/conmon /usr/sbin/conmon /usr/local/bin/conmon /usr/local/sbin/conmon /run/current-system

[2019-10-14 20:24] rhatdan commented on #4224
I agree we should not do this by default.  But documenting it does not hut.  We want to tell the admin how to enable it.

[2019-10-14 21:32] mheon commented on #4264
@nalind PTAL

[2019-10-14 21:40] nalind commented on #4264
The config blob is gone, and @raoulbhatia confirmed that it's not there.  I don't have a theory as to where it went, as the image seemed to be pulled without any errors, and the manifest confirms that the image should have a config blob.

[2019-10-15 03:17] edmacabebe opened #4266 "in MacOS, podman 1.5.1 cli does not have a 'login' command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**I intend to login to an image-registry in a codeready ocp4 in my laptop**

**Steps to reproduce the issue:**

1. podman login -u someuser my-registry:50000

**Describe the results you received:**
unrecognized command ...

**Describe the results you expected:**
Should login my terminal instance environment i

[2019-10-15 08:29] vrothberg commented on #4266
Hi @edmacabebe, thanks for opening the issue. We're tracking this topic already in https://github.com/containers/libpod/issues/4039, so I'll close this PR. Feel free to join the conversation in https://github.com/containers/libpod/issues/4039.

[2019-10-15 08:29] #4266 closed

[2019-10-15 09:24] marusak opened #4268 "Cannot get container stats on rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Calling varlink `GetContainerStats` on rootless container  returns `Link not found` error.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

**Describe the results you received:**
`Link not found` error

**Describe the results you expected:**
Something like: (this is doing the same but

[2019-10-15 10:16] rhatdan commented on #4208
Yes lets open a PR to change the DefaultDetatchKeys to be set at a higher level and then to return empty list with ""

[2019-10-15 10:50] rodris-gimba commented on #4254
The same command with docker, I only change podman by docker:

The full log is the following:

This is my registries.conf:

But I don't know if the private registry must have some special configuration for podman

[2019-10-15 10:54] matihost commented on #3835
Thanks.

I'm just wondering about the general strategy related to podman to RHEL/CentOS 8 family.

* The CentOS/RHEL 7 extras repo contains podman 1.4.4

* RHEL7 still contains docker (old, but native docker) - so there is small pressure to switch to podman.

* RHEL/CentOS 8 have old podman (1.0.0 - no networking is my biggest struggle) - w/o real docker replacement this system version is unusable

[2019-10-15 10:58] mtrmac commented on #4254
…

…

Thanks, nothing in there looks unexpected.
[code]
should (with a new enough skopeo, after https://github.com/containers/skopeo/pull/708 ) print the manifest that is returned by the registry; if my guess is right that it is actually HTML, that could help show what is going on.

[2019-10-15 11:34] lsm5 commented on #3835
CentOS Stream is coming. That should take care of this AFAICT.

[2019-10-15 12:44] shaicoleman commented on #4213
Issue opened for buildah: https://github.com/containers/buildah/issues/1918

[2019-10-15 13:04] giuseppe commented on #4224
since it seems there is agreement on disabling lingering mode by default, I've opened a PR here:

https://github.com/containers/libpod/pull/4269

[2019-10-15 13:05] edmacabebe commented on #4039
Right. I'm trying to push to an image registry in ocp4.1 made possible by codeready in my laptop. According to docs, podman login -u kubeadmin -p $(oc whoami -t) <image-registry-url>:5000 should work, but since it's not available yet...what work around do I have? Back to using docker for now?

[2019-10-15 13:11] rodris-gimba commented on #4254
This is the inspect return:

[code]
Thanks to you.

[2019-10-15 13:25] mtrmac commented on #4254
OK, I’m afraid that makes no sense to me at all. Can anyone else see what is going on?

[2019-10-15 13:44] mheon commented on #4268
Hm. 1.6.1 on FC31 means Cgroups v2. That's probably our issue.

We fixed psgo for `podman top` but stats does not call into that. It uses our internal cgroups library, which theoretically should work with v2.

[2019-10-15 13:44] mheon commented on #4268
@marusak Can you confirm that this doesn't happen with 1.6.1 on FC30 (really, anything that's not FC31)?

[2019-10-15 13:47] #4193 closed

[2019-10-15 14:15] marusak commented on #4268
[code]

A bit different version (1.6.1-2 vs 1.6.1-5) hope it is not issue. If it is I can update and retry.

[2019-10-15 14:16] mheon commented on #4268
OK, that sounds like an error we'd expect. We expect it to not work on any system without V2. The issue seems to be that it isn't working even with V2 enabled.

[2019-10-15 15:30] mccv1r0 commented on #4260
On my fedora 30 system, things work for me.  Note:  this server is not using nftables

[code]

If the FORWARD chain default policy were DROP, iptables would drop.

In the iptables rules show above I see REJECT rules:

[code]

with counters that are non zero.Where did these come from?

[2019-10-15 18:02] GolanTrevize10 commented on #4211
I added the path to conmon to the libpod.config and now I get a different error:

time="2019-10-15T16:57:31+02:00" level=warning msg="conmon at /usr/libexec/crio/conmon invalid: outdated conmon version"
time="2019-10-15T16:57:31+02:00" level=error msg="could not get runtime: please update to v1.0.0 or later: outdated conmon

I have conmon 1.10

[2019-10-15 19:00] c-goes commented on #4131
podman in LXD seems to work fine (unprivileged LXD container created with -c security.nesting=true, same option as for running Docker in LXD).
Only problem I have is creating rootless containers. There is an undescriptive error with slirp4netns.

Here is a debug log for rootless if it is any help for developing this feature.

[code]

[2019-10-15 19:09] baude commented on #4268
patching coming

[2019-10-15 19:17] GolanTrevize10 commented on #4211
I tried with podman 1.5.1 but I got same error. @lsm5 can you make a package of podman 1.6.1 including conmon?

[2019-10-15 19:42] st1971 commented on #4260
@mccv1r0 @mheon @baude thank you for pointing me in the right direction.  when i configured iptables tracing the FORWARD chain was dropping through to REJECT hence the error from curl.

added the following rules to the filter table and all is good now.
[code]
guessing that there must have been a change to firewalld that's cause this, as it used to work out of the box.

[2019-10-15 23:19] rhatdan commented on #3835
Starting at 8.1 (November) we will move podman to a new release every three months.  Hopefully a lot closer to the released version.  Or -1 of it.

[2019-10-16 06:30] AkihiroSuda opened #4274 "`podman stats` is incompatible with Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman stats` requires containers to be specified while `docker stats` shows all running containers by default.

Also, the man page describes the behavior of Docker, not the current behavior of Podman.
https://github.com/containers/libpod/blob/7e238b9e0c650b20f1a325dad14ef94a3e7d1aab/docs/po

[2019-10-16 06:50] GoodMirek commented on #4210
Same issue here, happened after upgrade from FC30 Workstation (dnf based) to FC31 Workstation (dnf based).
After removing $HOME/.config/containers/libpod.conf entirely, i can run `podman version`, but cannot start any of my old pet containers (e.g. toolbox) and have to remove and recreate them.

[2019-10-16 06:55] Zlopez commented on #4210
@GoodMirek There was some regression in podman (https://github.com/containers/toolbox/issues/277) which unfortunately prevented `toolbox enter` on old containers. I needed to create a new one when this issue was fixed.

[2019-10-16 07:15] st1971 commented on #4260
looked at this again last night, switch the firewall backend from iptables to firewalld make this work without custom forward rules.  when using firewalld as the backend the rules setup by CNI respect the IN_<ZONE>_allow rules.

Should firewalld be the default firewall backend in  87-podman-bridge.conflist?

[2019-10-16 07:24] GoodMirek commented on #4210
@Zlopez Thanks for your very fast response. Actually, I had to remove all my old pet containers, not only `toolbox` ones, e.g. also `pgadmin4`. Sure I can manage that and I intentionally test beta versions to find issues, but if that happened to regular users after upgrade from FC30, once FC31 is Generally Available, it would not be the best user experience.

[2019-10-16 07:40] Zlopez commented on #4210
@GoodMirek I absolutely agree with you.

There are two issues that will be unfortunate for any user upgrading to F31. This one, where you need to regenerate `$HOME/.config/containers/libpod.conf` and the regression in `podman create` which will prevent you to use any previously created container. I personally thought that this was solved together with containers/toolbox#277, but it seems that this

[2019-10-16 08:20] #4247 closed

[2019-10-16 08:20] #4248 closed

[2019-10-16 08:33] vrothberg commented on #4274
Thanks for opening the issue, @AkihiroSuda. I opened https://github.com/containers/libpod/pull/4275 to fix it.

[2019-10-16 08:48] #4268 closed

[2019-10-16 09:10] AkihiroSuda opened #4276 "Anonymous volume is incompatible with Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run -v /var/lib` bind-mounts `/var/lib` while it should create an anonymous volume

**Steps to reproduce the issue:**
`podman run -v /var/lib`

**Describe the results you received:**
It behaves as if `-v /var/lib:/var/lib` was specified

**Describe the results you expected:**
It shoul

[2019-10-16 10:53] Edward5hen opened #4277 "podman-remote for windows: "bash: varlink: command not found, Error: unable to get images: unexpected EOF""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm testing the podman-remote for windows msi. After the installation, run `podman images` on windows10 CMD, it looks like the connection can be successfully made, but failed with error message `bash: varlink: command not found`. It seems that only `podman --help` and `podman --version` can wo

[2019-10-16 13:13] mheon commented on #4260
Umm. IPTables is safer across many installs (lots of distros don't use it),
but you're right that it's a lot better when it's available. Would be nice
to autoselect if it's installed and running and use IPTables otherwise.

On Wed, Oct 16, 2019, 03:15 Steven Taylor <notifications@github.com> wrote:

[2019-10-16 13:16] mheon commented on #4210
We're planning a new Podman release with solutions to most migration
issues. Hopefully these issues are serious enough for a freeze exception
and we'll be able to get it into the F31 final compose. If not, it'll be a
very early update.

On Wed, Oct 16, 2019, 03:40 Zlopez <notifications@github.com> wrote:

[2019-10-16 13:26] mheon commented on #4276
I'll take this one

On Wed, Oct 16, 2019, 05:11 Akihiro Suda <notifications@github.com> wrote:

[2019-10-16 13:38] st1971 commented on #4260
that's a very fair point, but i know this is there now and have learnt a load about tracing iptables / nftables so all good.  should i close this issue down?

[2019-10-16 13:40] mccv1r0 commented on #4260
nftables should work the same as iptables.

[2019-10-16 13:40] mheon commented on #4260
I think the issue was firewalld versus iptables

[2019-10-16 13:46] mccv1r0 commented on #4260
Sorry, I meant firewalld.  firewalld should work the same as iptables.

The FORWARD default policy should be ACCEPT and none of the rules should drop the packet.

[2019-10-16 14:03] st1971 commented on #4260
the forward chain i have on 2 machines running silverblue 30 with firewalld both end with a reject rule, so if there is nothing before that to accept the packet it will not connect.  in my case there was a rule in the IN_FedoraWorkstation_allow to let port 80 through but this was never being hit so it fell through to an explicit reject.

with the exception of enabling http service via firewall-cmd

[2019-10-16 14:25] rhatdan commented on #4039
@baude Lets raise the priority of this, and get something in the next sprint.

[2019-10-16 16:27] jwhonce commented on #4277
@Edward5hen Just to be clear, that package is installed on the linux server not the windows box.

[2019-10-16 19:06] afbjorklund commented on #4277
Are the other varlink packages available yet ? I'm still using the ones for fc29, couldn't find fc30...

https://copr-be.cloud.fedoraproject.org/results/@varlink/varlink/fedora-29-x86_64/

The one I was using was `fedora-varlink`, that had the config for the com.redhat.resolver etc.

It still doesn't work out of the box though, so had to patch in the podman configuration...

[code]

[code]

[code]

[2019-10-16 20:18] rhatdan commented on #4131
@AkihiroSuda @giuseppe Ideas?

[2019-10-17 02:10] Edward5hen commented on #4277
After I install `libvarlink-util-0:18-1.fc30.x86_64` by `yum install -y libvarlink-util`, the windows remote node works as expected.

Do we have any doc for this point that indicates we have to install `libvarlink-util` before we use windows msi? I didn't find it. If not, it might be better adding it in the podman-remote documentation.

[2019-10-17 04:24] hickersonj opened #4281 "Unable to get Podman to run an image, building from source"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to get Podman to run an image, this is being built from scratch and I've followed the dependencies for installation.  The most confusing part is the CNI plugins, however, I have build them and setup the config in /etc/cni/net.d, yet when I try to run the image it has an obscure er

[2019-10-17 05:20] mheon commented on #4281
You mention your Linux install is stripped down - is IPTables installed? Is it running? Any rules created by default?

[2019-10-17 05:23] hickersonj commented on #4281
iptables (xtables-multi) is installed with all of the plugins installed as well.  I start Podman with an empty ruleset for iptables.  Same result the iptables error.

[2019-10-17 11:13] vrothberg opened #4283 "test: exercise podman-login + skopeo"
We've recently had a silent regression where podman-login used another path for storing the auth file than the defaults of c/image do. This broke Skopeo CI which is using podman-login. To prevent us from running into similar regressions in the future, we could extend our e2e tests to perform a podman-login, followed by, for instance, a skopeo-copy.

[2019-10-17 14:49] rhatdan commented on #1742
This should be fixed now since the vendor has been removed
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=923300

[2019-10-17 14:56] johanbrandhorst opened #4285 "Podman images are not compatible with docker hub"
/kind bug

**Description**

Building an image and pushing it to `docker.io` succeeds, but the tags do not show up in the docker hub web interface. Pulling from `podman` and some `docker` clients work, but is notably broken for docker 19.03: https://github.com/moby/moby/issues/39727.

This could well be a bug with docker hub, but nonetheless it's a problem for podman users, so we should track the p

[2019-10-17 15:03] k0nstantinv opened #4286 "Installing podman on Ubuntu Xenial has unmet dependencies."
/kind bug

**Description**

Installing podman on Ubuntu Xenial has unmet dependencies/ resolving requires removing kubelet/kubernetes-cni packages

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
`apt install podman` has unmet dependencies `containernetworking-plugins` (>= 0.7.5)
installing `containernetworking-plugins` (>= 0.7.5) causes removing kubelet/kubernetes

[2019-10-17 15:40] Aparratus opened #4288 "Missing iptables rules for published ports when running with --net"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a container connected to a non-default network and attempting to publish exposed ports, the appropriate iptables rules are not set up and the ports are inaccessible.

**Steps to reproduce the issue:**

1. `podman network create podman-two`

2. `podman run -d -p 80:80 --net podman

[2019-10-17 15:56] semrekkers opened #4289 "Running ubuntu image as rootless container on Ubuntu 19.04 with latest podman, conmon and crun doesn't work"
/kind bug

**Description**

Running ubuntu image as rootless container on Ubuntu 19.04 with latest podman, conmon and crun doesn't work.

**Steps to reproduce the issue:**

1. Build and install podman, conmon, crun, fuse-overlayfs, slirp4netns and CNI plugins from source.
2. Enable `systemd.unified_cgroup_hierarchy`
3. Run `podman run -it ubuntu`

**Describe the results you received:**

[code]

**

[2019-10-17 16:13] mheon commented on #4289
@giuseppe PTAL

[2019-10-17 16:14] mheon commented on #4288
Can you post the CNI conflist the network created? It should be in `/etc/cni/net.d/` and is probably named something like `podman-two.conflist`?

[2019-10-17 16:24] Aparratus commented on #4288
Absolutely.
[code]

[2019-10-17 17:11] giuseppe commented on #4289
can you please check if there is a systemd user session available for your user?

How did you login?  With `sudo`?

If that is the case, could you try with `sudo loginctl enable-linger $UID`

There is a PR to detect such issue earlier and give a better error message: https://github.com/containers/libpod/pull/4228

[2019-10-17 17:22] mheon commented on #4281
Empty ruleset? As in, `iptables -nvL` returns no active rules?

[2019-10-17 17:27] mheon commented on #4214
@vrothberg is looking into rewriting our configuration-handling logic to allow this.

Current thinking is that we will still write a config file, but it will only contain paths for c/storage and Libpod; everything else will be sourced from the root defaults.

[2019-10-17 17:44] semrekkers commented on #4289
I logged into a gnome shell, nothing special. The `$DBUS_SESSION_BUS_ADDRESS` is `unix:path=/run/user/1000/bus` and the bus socket exists.

I tried `sudo loginctl enable-linger 1000` but it has the same outcome.

[2019-10-17 18:13] cevich commented on #4244
@mheon am I correct believing that just gives us more info. but doesn't solve the problem?

Assuming so, I'll try to reproduce this again and see what we get...

[2019-10-17 18:14] hickersonj commented on #4281
Correct it returns no active rules.  In fact iptables-save is also empty, but after running the podman run command it is populated with the rule that perhaps should have already been there?
[code]

After running podman run output of iptables-save (prior it was empty):
[code]

The error message has the same CNI hash that was added above:
[code]

[2019-10-17 18:27] nalind commented on #4244
@cevich that's correct.  We no longer discard information which we hope will help with troubleshooting.

[2019-10-17 19:17] cevich commented on #4244
[code]

[2019-10-17 19:19] mheon commented on #4244
And this is consistent/reproducible on newer Ubuntu releases?

[2019-10-17 19:20] cevich commented on #4244
...trying again...yep, 100% every time.

[2019-10-17 19:21] cevich commented on #4244
hrmmm...this is interesting (maybe):

[code]

(there are other `/tmp/podman_test<blah>` directories)

[2019-10-17 20:38] GoodMirek commented on #4210
On a different instance (FC31 Silverblue Kinoite), after deleting $HOME/.config/containers/libpod.conf , I get the following error now:
[code]
Error message has been truncated - other containers followed with the same error.
Commands `podman rm -a` and `podman rmi -a` fail with the same error.

[2019-10-17 20:48] mheon commented on #4210
That is fixed in 1.6.2

[2019-10-18 03:23] hickersonj commented on #4281
This one was a bit tricky, but turned out the kernel I'm building did not have the CONFIG_NETFILTER_XT_MATCH_COMMENT enabled...

The error message was quite cryptic from iptables.

I really appreciate the help, made me look further into iptables!

[2019-10-18 03:41] benyaminl commented on #4251
Still happend again. This even worst, my images is crossing with mysql images cause my images to run mysql even it doesn't have one. So i tried to repull the images, and now the problem occur again.

[code]

on the 2nd try, the old problem occur again
[code]

[2019-10-18 03:56] space88man opened #4293 "crun on Fedora 31 cannot start systemd-based containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Upgraded Fedora 31 and using crun, cannot start systemd-based containers

**Steps to reproduce the issue:**

1. Upgrade to Fedora 31. Switch runtime to crun

2. Run a systemd based container

3.

**Describe the results you received:**
The podman command stalls and ends with timeout error

[cod

[2019-10-18 04:42] Frederick888 opened #4294 "Replace multi-user.target with default.target in systemd user unit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Currently Podman generates only one `io.podman.service` which is used downstream for both systemd system and user units. However `multi-user.target` does not exist for user units.

**Steps to reproduce the issue:**

1. Install podman ([Arch Linux package](https://www.archlinux.org/packages/com

[2019-10-18 05:11] space88man commented on #4293
The podman command stalls for a few minutes before the timeout error.

With the non-systemd entrypoint I get

[code]

With `/sbin/init` as entrypoint it stalls at

[code]

[2019-10-18 07:16] giuseppe commented on #4131
does the container work fine if you use `--net=host`?

[2019-10-18 07:47] giuseppe commented on #4293
closing as duplicate of: https://github.com/containers/libpod/issues/4226

Shortly, the systemd version inside of the container doesn't understand cgroups v2

[2019-10-18 08:04] AkihiroSuda commented on #4131
I reproduced the LXD issue.

slirp4netns sandbox doesn't seem to work on LXD with `-c security.nesting=true`.

[code]

yes

[2019-10-18 08:05] AkihiroSuda commented on #4131
strace:

[code]

[2019-10-18 08:54] vextta opened #4296 "podman doesn't pass --create-sandbox to slirp4netns even though it is supported"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting a rootless container with slirp4netns network, the `--create-sandbox` option is not passed to slirp4netns even though it is supported.

**Steps to reproduce the issue:**

1. Verify that `--create-sandbox` is available in the output of `slirp4netns --help`.

2. Start a rootless c

[2019-10-18 12:16] space88man commented on #4226
@giuseppe  I am seeing the same problem with  a fedora:31 container (where presumable systemd is cgroup2 aware). Hangs at

[code]

[2019-10-18 12:55] vrothberg commented on #4294
I think we need two different files for system and user. The upstream file targets only the system case and I believe that multi-user target is needed to make sure all relevant system services are up.

Shall we provide another file? @edsantiago @rhatdan @mheon @baude WDYT?

[2019-10-18 12:57] giuseppe commented on #4296
the issue is that the `--create-sandbox` was only present in a rc release of slirp4netns, it later got renamed to `--enable-sandbox` and Podman is checking for that.  We need to update the version of the slirp4netns package we have in Fedora

[2019-10-18 13:01] giuseppe commented on #4296
also there are some fixes in slirp4netns master that are not part of a release yet.

@AkihiroSuda could we tag a new release?

[2019-10-18 13:06] AkihiroSuda commented on #4296
sure https://github.com/rootless-containers/slirp4netns/pull/156

[2019-10-18 13:14] cgwalters commented on #4294
Isn't this fixed by https://github.com/containers/libpod/pull/4231 ?

[2019-10-18 13:38] Frederick888 commented on #4294
Ah sorry, seems that it's been fixed indeed. I'll close this issue now.

[2019-10-18 13:38] #4294 closed

[2019-10-18 14:06] #4224 closed

[2019-10-18 14:19] rhatdan commented on #4281
SO @hickersonj I guess  we can close this issue, reopen if I am mistaken.

[2019-10-18 14:19] #4281 closed

[2019-10-18 15:23] vrothberg commented on #4294
Good catch! I didn't check the Makefile :)

[2019-10-18 18:01] TomSweeneyRedHat commented on #4285
@johanbrandhorst This looks to be an issue with dockerhub UI not supporting OCI images somehow.

I created a new image like this:
[code]
so although the tag isn't listed on the dockerhub ui, it appears to be there.  If I use skopeo to inspect the repo I can see newtry:
[code]
Or I can change the format of the container from OCI to Docker like this:
[code]
and after pushing, the tag is displayed on

[2019-10-18 19:54] nvjmayo commented on #3659
I'm able to run with a few changes to a config and a custom hook. Of course since I'm non-root the system hooks won't used by default, so I have to add the --hook-dir option as well.

Add/update these two sections of /etc/nvidia-container-runtime/config.toml
[code]

My quick-and-dirty hook, I put it in /usr/share/containers/oci/hooks.d/01-nvhook.json
[code]

Once that is in place, and I don't have

[2019-10-18 20:00] johanbrandhorst commented on #4285
Pulling does indeed work. Thanks for the `podman commit --format` tip. I suspected this would be a docker hub issue.

[2019-10-18 20:09] rhatdan commented on #4285
Please open an issue with them for better support of OCI images.

[2019-10-18 20:14] rhatdan commented on #3659
Could nvidia hook allow the use of --logfile param?  To redirect
--logfile $HOME/nvidia.log or simply add

--syslog

So that the messages would end up going to journal/syslog rather then writing to a file.

What does the --gpus flag do?
Is podman supposed to do something with this?

[2019-10-18 21:22] nvjmayo commented on #3659
In Docker, we added a --gpus flag which does a few things to trigger the nvidia runtime hooks to start. The parameter lets the user select which gpu(s) to expose to the container or all of them. (ex: --gpus 0,2,3). Low-level detail: these settings are communicated as environment variables along the execution to the hooks and in-container libraries, not elegant but working OK in production.

I'm wo

[2019-10-18 21:30] TomSweeneyRedHat commented on #4285
@johanbrandhorst thanks for the confirmation of the pull of the image and for the issue and discussion afterwards.

[2019-10-18 21:50] rajatchopra commented on #3659
@rhatdan Will it be acceptable if we had `syslog=true` option in config.toml ?

[2019-10-19 01:31] tobwen opened #4300 "rootless: configuration mismatch tempdir"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
When not specifying `--tmpdir` on a blank system, there's a configuration mismatch on default values.

**Steps to reproduce the issue:**
1. Install _podman_ and all other tools and libs as user under `/home/tobwen/podman/usr/local/` on a brand new VM.

2. Execute
[code]

**Describe the results

[2019-10-19 01:41] tobwen commented on #3024
Problem returned in rootless :(

**Describe the results you received:**
[code]

**Output of `podman version`:**
[code]

**Output of `podman info --debug`:**
[code]

[2019-10-19 02:12] tobwen commented on #2659
The problem is back once again:
[code]

_podman_ seems to use _fuse-overlayfs_ on the first run,  but doesn't store the setting (`cat ~/.config/containers/storage.conf`)
[code]

Here's the complete debug output:
[code]

[2019-10-19 09:31] QuLogic commented on #4214
This looks a bit like #3658.

[2019-10-19 11:19] rhatdan commented on #2659
@giuseppe This looks like the storage.conf is not setting the override paths into the storage.conf file that it creates.

[2019-10-19 14:19] supermar1010 opened #4301 "slirp4netns 100% CPU usage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Hi,
I'm not sure if this is related to podman or to slirp4netns. So I'm posting it here and at slirp4netns.
I have one container with networking mode host, all the others have no setting so I guess podman namespaces them I have four containers running, one with root permissions.
This is the co

[2019-10-19 19:39] javajon commented on #4286
Same here. On this system:

[code]

Using these commands:

[code]

I get the same message:

[code]

[2019-10-19 21:37] tobwen opened #4302 "config: wrong entry for runtime[s]"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
When specifying `--runtime` on a blank system (with no existing config files), there wrong value gets written to the config file.

**Steps to reproduce the issue:**
1. Install _podman_ and all other tools and libs as user under `/home/tobwen/podman/usr/local/` on a brand new VM.

2. Execute
[co

[2019-10-19 23:23] toddhpoole opened #4303 "NFS volumes created using podman volume create unavailable in container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After filing bug reports #4249, #4248, and #4247, and seeing all 3 resolved by the release of 1.6.2, we resumed trying to use `podman volume create` to create and mount NFS-backed volumes as originally announced in 1.6.1.

After re-creating an NFS-backed volume using 1.6.2, we're still unable

[2019-10-19 23:24] toddhpoole opened #4304 "NFS volumes created using podman volume create do not support specifying volume driver name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After filing bug reports #4249, #4248, and #4247, and seeing all 3 resolved by the release of 1.6.2, we resumed trying to use `podman volume create` to create and mount NFS-backed volumes as originally announced in 1.6.1.

While re-creating an NFS-backed volume using 1.6.2, we're unable specif

[2019-10-19 23:43] mheon commented on #4303
This is not NFS specific. The `mount` command is failing silently under us. I can replicate with `podman volume create --opt type=tmpfs --opt device=tmpfs --opt o=invalid testvol` and then mounting `testvol` into a container.

[2019-10-19 23:50] mheon commented on #4303
I strongly suspect that your NFS invocation is incorrect, and that error is somehow being lost. I will note that Podman is invoking the `mount` binary using the arguments you provide - `mount -t <type> -o <o> <device> <volume path>` (where `type` is from `--opt type=...`, `o` from `--opt o=`, and `device` is from `--opt device=...`. If you can assemble a working `mount` command that mounts the fil

[2019-10-20 00:00] mheon commented on #4304
I'm working on volume driver support separately; I'd expect it to be a Podman 1.7 feature. For now, I recommend omitting it if you're just specifying `local`; that will be used as the default.

[2019-10-20 00:14] mheon commented on #4303
Found it. Stupid error on my part. Patch in a few.

[2019-10-20 00:29] mheon commented on #4303
#4305 to fix

[2019-10-20 00:56] toddhpoole commented on #4303
Thank you @mheon for describing how `podman volume create` parses its arguments and uses them to invoke `mount`. Will you add your comment to `podman-volume-create.1.md` so that it will be easier for others to find?

To those in the future who might find this bug report via a Google search result, here's how to create an NFS volume using `podman volume create` then attach that volume to a pre-exis

[2019-10-20 10:53] johanbrandhorst commented on #4285
Hub issue: https://github.com/docker/hub-feedback/issues/1871. Do we want to keep this open to track that issue?

[2019-10-20 10:57] rhatdan commented on #4301
@AkihiroSuda PTAL

[2019-10-20 10:59] AkihiroSuda commented on #4301
https://github.com/rootless-containers/slirp4netns/issues/157

[2019-10-20 11:16] rhatdan commented on #4303
Looks like this would be a nice addition to the man page.  @toddhpoole Would you like to open a PR to the man page to add your example.

[2019-10-20 11:24] rhatdan commented on #3659
Sure, the question then would be what is the default.  Since this is not something shipped/controlled by the distributions.  Another option would be for you plugin to see that it is not running as root, so fall back to syslog logging.

[2019-10-20 11:29] rhatdan commented on #3024
@tobwen what command were you executing when you saw this error?  If you turn on debug logging you will still see it.

[2019-10-20 12:50] tobwen commented on #3024
Due to bugs with the local config, I have to use this commandline

[code]

When not using _debug logging_, I don't see it. But that's interesting:
[code]

[2019-10-20 17:21] giuseppe commented on #4302
it looks like the expected behaviour.

You have specified `--runtime /home/tobwen/podman/usr/local/bin/runc` so that setting is written to the configuration file.

That is different than specifying `runc`, as when you specify an absolute path then exactly that executable will be tried.  If you specify the runtime by name, then Podman will try to find it at  the specified locations.

[2019-10-20 17:21] #4302 closed

[2019-10-20 18:01] tobwen commented on #4302
Then `--help` might be wrong. It tells me to specify a path, not a name.
[code]

So when a path gets specified at `--runtime`, `[runtimes]` shouldn't be written at all, since you cannot find _runc_ or _crun_ in there.

[2019-10-21 06:47] avikivity opened #4306 "Cannot run script from mounted volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a script that resides on a mounted vokume fails

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

Looks like

[2019-10-21 07:18] Davio opened #4307 "Add packages for Ubuntu 19.10 distributions"
/kind feature

**Description**
I'm currently running Pop! Os 19.10, which is based on Ubuntu 19.10 Eoan Ermine, but there is currently no repository for this version, see https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

**Steps to reproduce the issue:**

    Go to https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

**Describe the results you received:**
See that there are no package

[2019-10-21 07:21] giuseppe commented on #4226
@space88man that looks a different issue.

Could you please verify if the `NOTIFY_SOCKET` environment variable is defined in your session?

[2019-10-21 07:22] giuseppe commented on #4296
thanks, closing the issue since there is nothing we can do in Podman itself.

[2019-10-21 07:22] #4296 closed

[2019-10-21 08:58] space88man commented on #4226
@giuseppe Fedora 31 terminal (as root and non-root) both do not have NOTIFY_SOCKET in the environment.

[2019-10-21 09:28] k0nstantinv commented on #4286
@javajon that is not so good workaround because installing `containernetworking-plugins` on the working kubernetes node requires deleting `kubelet` and `kubernetes-cni` (/opt/cni/bin content)

[2019-10-21 10:07] giuseppe commented on #2659
PR here: https://github.com/containers/libpod/pull/4309

[2019-10-21 10:36] ankon commented on #3421
For the record and future googlers:

I had the same issue (`there might not be enough IDs available in the namespace (requested 0:42 for /etc/shadow): lchown /etc/shadow: invalid argument`). In my case I had `/etc/subuid` configured for my user (`echo ${LOGNAME}:100000:65536 > /etc/subuid`), but had failed to do the same for `/etc/subgid`. A warning pointing to `/etc/subgid` was shown on `podman b

[2019-10-21 11:07] rhatdan commented on #3024
It might be happening within a user namespace.

Both of these are successful
[code]

[2019-10-21 11:10] rhatdan commented on #3024
Conmon is attempting to set this score on rootless which is not allowed.
[code]

[2019-10-21 11:21] vrothberg commented on #4285
I didn't perform any change for Docker Hub precisely. There were a couple of reports from a few weeks ago with very similar symptoms. Though, I thought they have already been fixed on Docker Hub.

[2019-10-21 11:25] rhatdan commented on #4302
I thought the name could be a full path, if so shouldn't we record the full path that the user specified.

[2019-10-21 11:31] rhatdan commented on #4306
Is the volume mounted with the "noexec" flag?

[2019-10-21 11:35] avikivity commented on #4306
No.

[2019-10-21 12:11] TomSweeneyRedHat commented on #4285
@johanbrandhorst I'm fine with leaving this issue open until the smoke settles with the issue you've put up at docker/hub

[2019-10-21 12:23] rhatdan commented on #4306
SELinux?

[2019-10-21 12:34] tobwen commented on #4302
Seems like it *can* ne a full path. I just thought, runtimes path should go under _[runtimes]_ to be able to switch between _runc_ and _crun_ by specifying a name.

[2019-10-21 13:17] rhatdan commented on #4302
Yes the runtimes are more for the distribution to sort of guess where the OCI runtimes are installed (In my opinion) But if the user tells you exactly where the OCI runtime is, I don't see the reason to have to search through for it.

[2019-10-21 13:19] mheon commented on #4306
The first one - I think that's a known issue with that `crun` version not supporting relative paths, fixed upstream. Second one is interesting, though. Can you do a `podman inspect` on the container and look up the `$PWD:$PWD` volume in the `Mounts` section? What mount options are listed?

[2019-10-21 13:30] mheon commented on #4302
`--runtime` also short-circuits the logic for the `[runtimes]` section of the config. If a path is given, it is assumed that you're overwriting the entire `[runtimes]` section with a path not present in it.

On these config merging issues: I would rather we give priority to https://github.com/containers/libpod/issues/4214 and focus on not requiring initial Podman setup to use an arcane set of flag

[2019-10-21 15:34] laolux opened #4311 "podman does not forward ipv6 ports"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman does not forward ipv6 requests to the container, only ipv4.
Trying to make nginx available via ipv6 fails. Connecting from the host using [::1]:PORT fails, wheras connecting to the nginx server via [::1]:PORT from inside the container works. Also, connecting from the host using 127.0.0.

[2019-10-21 16:07] javajon commented on #4286
@k0nstantinv Agreed.

[2019-10-21 16:18] avikivity commented on #4306
I was taught to disable SELinux on any machine I touch.

[2019-10-21 16:44] shaicoleman commented on #3923
1.6.2 is out, while 1.6.1 is the latest in PPA. Reopening

[2019-10-21 17:47] avikivity commented on #4306
Here are the storage-related sections:

[code]

[2019-10-21 17:50] rhatdan commented on #4306
Well you should relearn that lesson for any system running containers, SELinux is the best protection against breakout.

Just run a bash script and see if you see example

If I put selinux into permissive mode this works for me.

[code]

This does not:
[code]

[2019-10-21 17:52] rhatdan commented on #4306
Does the second example work with Docker?

[2019-10-21 17:54] rhatdan commented on #4306
@giuseppe Any idea why the ./example fails?

[2019-10-21 17:55] avikivity commented on #4306
Both examples work with docker, and in fact with podman on my Fedora 30 machine (but it's likely due to a different configuration).

Could cgroups2 be responsible?

[2019-10-21 17:59] giuseppe commented on #4306
@rhatdan the relative path one doesn't work because of crun.  It is already fixed upstream, I'll cut a new release soon

[2019-10-21 18:03] rhatdan commented on #4306
@avikivity Could you confirm the second version does not work for you.  Since it works for me with podman 1.6.1 on f31. (Uses crun and cgroup v2)

[2019-10-21 18:55] avikivity commented on #4306
Confirmed. It does not work.

[2019-10-21 18:56] avikivity commented on #4306
I can attach an strace -f if it will help.

[2019-10-21 19:05] tobwen commented on #2659
Tested, works.

[code]

[2019-10-21 19:34] JoshuaWatt opened #4312 "Build cache is not reused when overriding ARG with ENV in Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following an `ARG` statement with an `ENV` statement that sets the same variable in a Dockerfile doesn't allow the build cache to be reused.

**Steps to reproduce the issue:**

Consider the following simple Dockerfile:

[code]
Run the following two build commands:
[code]
The second command sh

[2019-10-21 20:02] #2659 closed

[2019-10-21 20:28] rhatdan commented on #4306
Probably would not help.

If you run

podman run -ti -v "$PWD:$PWD" -w "$PWD" fedora:30 sh

And then
[code]
What happens?

[2019-10-21 21:06] edsantiago opened #4314 "Spurious (race?): Error removing container: container does not exist in database: no such container"
This is a longstanding bug that I only just today found a semi-reproducer for. It fails inconsistently but should not go more than 20 iterations without at least failing once:
[code]
(That's the copy-paste one. Here's the same thing, better annotated):
[code]
You will see a long series of READY/Finishing/CID, then once in a while:
[code]
Although the message is tagged with ERRO, it does not seem t

[2019-10-21 22:09] TomSweeneyRedHat commented on #4312
@JoshuaWatt thanks for the issue report.  As this is a problem with `podman build` I've moved the issue to Buildah https://github.com/containers/buildah/issues/1936 and am closing this.  We'll track the problem from that issue.

[2019-10-21 22:09] #4312 closed

[2019-10-21 22:55] mheon commented on #4314
This is a race between the cleanup process and main process, which both attempt to remove the container (I think - 80% sure). The main process is interactive and in the foreground, and I'm pretty sure as such it's getting more attention from the scheduler, so it always seems to win, and the cleanup process fails silently in the background. The & may be throwing a wrench into this equation and allo

[2019-10-21 22:58] edsantiago commented on #4314
Agreed, and although I didn't explicitly say "low priority" in my report I believe this is such. There's no actual harm anywhere, no stuck state, just a message that may (very) infrequently confuse someone.

[2019-10-21 23:09] TomSweeneyRedHat opened #4315 "Baseline network test failing on v1.6.2"
On Fedora 30 and Fedora 31, Podman v1.6.2 is failing during the Network test portion of the Baseline tests.  I'm not sure if this is anticipated or not.    I'm not sure if this had failed prior.  The script to reproduce the issue:

[code]

Test 1 and Test 3 fail in the above:

[code]

[2019-10-22 00:20] gsforza opened #4316 "Problems mapping ports inside pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am trying to create a pod, in which I want to create 2 containers in, where one is a nginx proxy listening on ports 80 and 443 and the other container should only talk to the proxy internally (in the pod) and should not listen to the "outside."

**Steps to reproduce the issue:**

[code]

[co

[2019-10-22 00:24] #4316 closed

[2019-10-22 10:06] olanystrom opened #4317 "podman fails with remote userid via sssd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman as a user without a local account/ with a remote acount (sssd) fails with error
[code]

**Steps to reproduce the issue:**

1. Login with a remote user to a CenOtS8 system

2. podman info

**Describe the results you received:**
[code]

**Describe the results you expected:**
[cod

[2019-10-22 11:54] ensc opened #4318 "`VOLUME` are mounted as `noexec`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`VOLUME` in `Dockerfile` are mounted as `noexec`.  This is unexpected, breaks existing systems.  and derives from original `docker` (moby-engine-18.06.3) .

E.g.

[code]

causes

[code]

while `docker` works fine

[code]

`cat /proc/mounts` within the container shows, that `noexec` mount flag

[2019-10-22 12:32] rhatdan commented on #4314
Yes I think dropping the removal of a non existing container to Warn, makes sense.

[2019-10-22 12:39] baude commented on #4257
@glenfordwilliams did this help?

[2019-10-22 12:50] #4276 closed

[2019-10-22 13:13] baude commented on #4236
@mjudeikis I am able to make this work.  Here is a sample snippet:

[code]
I did copy the generated iopodman.go file from libpod and also the vendor directories as well.  Could you try similar? Or point to a repo or tarball with your tree?

[2019-10-22 13:22] codrinbucur commented on #4039
in my view, any cli commands should be uniform across operating systems. it doesn't make sense to not have "login" just on macos

[2019-10-22 13:55] giuseppe commented on #4300
this should be fixed by fa9982b87ece21baafa08e0c17ca935ce29d7022

Please reopen if it is still happening

[2019-10-22 13:55] #4300 closed

[2019-10-22 14:20] AkihiroSuda commented on #4311
A workaround for this issue is to run `socat` on the host

[2019-10-22 14:27] rhatdan commented on #4311
@AkihiroSuda @giuseppe Should we be running with slirp4netns -6 by default?

[2019-10-22 14:34] AkihiroSuda commented on #4311
It seems libslirp doesn't support forwarding IPv6 ports
https://gitlab.freedesktop.org/slirp/libslirp/blob/ad36c04a3ef961a2dbb6dc78dd5322318a7f10b6/src/slirp.c#L1001

Somebody should submit patches to libslirp upstream for supporting IPv6.

Or maybe podman can use RootlessKit's nsenter-based port forwarder which is simpler and faster.
(Used by Rootless Docker)

RootlessKit's port forwarder is unte

[2019-10-22 15:44] space88man commented on #4293
@giuseppe  This is a different problem: this is not the same as 4226.

This is caused by an F30 -> F31 upgrade having

oci-register-machine-0-11.git66fa845.fc31.x86_64
oci-systemd-hook-0.2.0-2.git05e6923.fc31.x86_64
oci-umount-2.5-3.gitc3cda1f.fc31.x86_64

These packages are not installed by default in a clean F31 enviornment.

It seems that these packages prevent proper functioning of podman with

[2019-10-22 16:55] dustymabe opened #4320 "RFE: allow an image to be untagged"
From https://github.com/containers/libpod/issues/387#issue-299492901: `"Podman does not do this, and AFAICT does not offer a way to remove a tag"`

I think this is still the case today. I can't figure out how to untag an image without removing the image layers. The use case for this is narrow, but seems like the functionality should exist in the form of `podman image untag TAG` or `podman image ta

[2019-10-22 17:40] tuan-hoang1 commented on #4114
I'm hitting this today when running podman as root
Rootless works fine.
Fedora 31, podman 1.6.1

[2019-10-22 20:22] mheon commented on #4318
Podman flags: `rw,nosuid,nodev,noexec,relatime,seclabel`
Docker flags: `rw,relatime,seclabel`

I'm inclined to leave at least `nosuid` and `nodev` on by default.

@rhatdan I'm inclined to leave the defaults for volumes we explicitly specify (`-v` and `--mount`) the same, but there's no way to adjust mount options for image volumes. Do we want to mirror Docker and strip everything, or just get rid

[2019-10-22 21:24] smekkley commented on #3917
Running root podman in a rootless podman is not possible at the moment, it's also not possible to run root podman in a root container without --privileged, due to the fact that root podman requires to create tmpfs (if using vfs) and to write to /sys/fs/cgroup.

Podman can be run in podman by the following, but there is no benefit to do this, because running privileged with root podman is almost eq

[2019-10-22 21:25] avikivity commented on #4306
[code]

[2019-10-22 21:26] avikivity commented on #4306
from the host:

[code]

[2019-10-22 21:28] avikivity commented on #4306
Oh, actually selinux is enabled (was confused by 0 exit code of `selinuxenabled`)

[2019-10-22 21:28] avikivity commented on #4306
After `setenforce 0` it works.

[2019-10-22 21:50] mheon commented on #4306
Can you look for AVCs in the system logs? Grepping for `AVC` should find it. An example:

[code]

Something like that, but for Podman?

[2019-10-22 21:52] nvjmayo commented on #3659
I would prefer have everything controlled by the config file and command-line options rather than establish some drastically different behavior based on uid.

1. I am OK with syslog being default for all if syslog=true.
2. I'm also OK with /var/run/$UID/nvidia-container-runtime/nvidia-container-runtime.log being the default if the logfile in the config location is not writable.
3. Something more e

[2019-10-23 02:47] laolux commented on #4311
Thanks, I tried, but it did not help. Same result as before.

I tried the same with creating and running the container as root. That does not help either. So maybe remove the `rootless` label?

[2019-10-23 03:01] space88man commented on #4226
Sorry for the noise: my issue is was due to the existence of an upgraded package oci-systemd-hook from F30 to F31. This package prevents F31 podman from launching systemd based containers.

After removing it,  the cgroupv2-aware containers(F30,F31,CentOS 8) run and I get the same error as OP for older containers.

[2019-10-23 03:05] AkihiroSuda commented on #4311
The result is same but the cause seems different. Could you open a separate issue for discussing rootful IPv6?

[2019-10-23 04:57] avikivity commented on #4306
[code]

[2019-10-23 05:42] laolux opened #4323 "podman does not forward ipv6 ports - podman as root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Note: This issue is about running podman as **root**.  It is very similar to #4311, but the cause seems to be different https://github.com/containers/libpod/issues/4311#issuecomment-545243940

podman does not forward ipv6 requests to the container, only ipv4.
Trying to make nginx available via

[2019-10-23 06:57] giuseppe commented on #4226
@lsm5 @rhatdan oci-systemd-hook is causing different issues on cgroups v2.  Should we change the  podman spec file to conflict with oci-systemd-hook?

[2019-10-23 07:46] ibotty opened #4324 "allow amending/changing --subuidname (and --subgidname) with --uidmap (resp --gidmap)"
/kind feature

## Description

It would be great to be able to allow a container to run with the privileges of a given user (using --subuidname and --subgidname) but allow mapping some uids and gids differently.

I envision that for `myuser` with uid `1002` and subuid `myuser:231072:65536` the following would work.

[code]

(Of course it would be great to allow name resolution in second position o

[2019-10-23 09:58] chenjianxin opened #4325 "ERRO[0057] unable to write pod event: "write unixgram @00017->/run/systemd/journal/socket: sendmsg: no such file or directory""
OS: WSL 2 ubuntu

 podman run --rm --volume="$PWD:/srv/jekyll"  -p 127.0.0.1:4000:4000 -it jekyll/jekyll:pages  jekyll serve

Trying to pull docker.io/jekyll/jekyll:pages...
Getting image source signatures
Copying blob 278f4c997324 done
Copying blob c69cba5b7867 done
Copying blob 9d48c3bd43c5 done
Copying blob 9ce9598067e7 done
Copying blob 867dd521f6d0 done
Copying blob 49e3e26660b5 done
Copying

[2019-10-23 10:13] yanchenko-igor opened #4326 "podman exec stdin regression"
I discovered a regression bug in podman, since commit a1a79c08b72793cf2f75490d8ffc844c3d16bd4a podman exec does not attach stdin to the command

/kind bug

**Description**

podman doesn't attach stdin to the command when podman exec is used

**Steps to reproduce the issue:**

1.
run a container
podman run --rm --detach --name busybox busybox sleep 60

2.
echo test | podman exec -i busybox cat

**D

[2019-10-23 11:31] rhatdan commented on #4318
Strip noexec.
The nodev we have added for images to /usr/share/containers/storage.conf by default.  And nodev is just good to have for a security purposes.  We don't want containers trusted random devices.  Same argument could be made for nosuid.

I think noexec is the most overrated security mechanism for mount points, since it easy to bypass by using scripting languages like bash, python, perl,

[2019-10-23 11:45] rhatdan opened #4327 "cgroup V2 with podman running older systemd containers is broken."
This is reported in a bugzilla here.

https://bugzilla.redhat.com/show_bug.cgi?id=1760645

The systemd guys pointed out how they have worked around the issue.

[code]

[2019-10-23 11:45] rhatdan commented on #4327
@giuseppe could you look into fixing this?

[2019-10-23 11:54] rhatdan commented on #3917
I think the only access you need is SYS_ADMIN capability, rather then --privileged.  But I have not tried.  And SYS_ADMIN is one of the most powerful capabilities.

Bottom line podman command will attempt to do some mount commands and other functions that are not allowed without CAP_SYS_ADMIN

[2019-10-23 12:00] rhatdan commented on #3659
I am fine with either, my only goal is rootless podman does not suddenly blow up because it cannot write to a system log file.

[2019-10-23 12:22] rhatdan commented on #4317
This should be a bugzilla, it is not an upstream issue.  The problem is probably the version of podman on CentOS is not new enough for this to work.  We are about to release an updated Podman for RHEL8 podman-1.4, which hopefully will fix this issue.  And I am sure that shortly afterwards CentOS will get the update.  @lsm5 has set up a newer repo, for Centos Stream, and maybe you can get an update

[2019-10-23 12:22] #4317 closed

[2019-10-23 13:43] #4274 closed

[2019-10-23 14:00] mheon commented on #4325
You are seeing two separate issues here.

The `write unixgram` errors are attempts to write to the systemd journal, which doesn't seem to be present on WSL images.

The slirp4netns issue was the fatal issue.

[2019-10-23 16:04] sshnaidm opened #4328 "Podman doesn't check existance of given --authfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run --auth=/tmp/nonexist --rm alpine sh`

**Describe the results you received:**
Podman starts container as usual

**Describe the results you expected:**
Podman should fail because `/tmp/nonexist ` doesn't exist

**Additional information you deem

[2019-10-23 17:04] baude commented on #4326
@haircommander ptal

[2019-10-23 19:08] rhatdan commented on #4293
I have `retired` oci-register-machine and oci-systemd-hook from the Fedora (31, 32, Rawhide) distribution.  This means these packages will no longer be available to be installed.  Sadly this will not remove them from already installed systems.

I have asked for podman to Obsolete: oci-systemd-hook, which will remove an oci-systemd-hook package on upgrade.

Since the oci-systemd-hook is the issue t

[2019-10-23 19:18] mheon commented on #4323
@baude is looking into this one

[2019-10-23 19:19] rhatdan commented on #4320
Something like
`podman image rmtag IMAGE[:TAG] IMAGE[:TAG]`

[2019-10-23 19:23] rhatdan commented on #4320
Does Docker do this now?    I thought podman will remove the image if their is only one "name".
If you do
[code]
Isn't fedora:31 still installed?

[2019-10-23 19:28] mheon commented on #4306
Looks like you'd need to `:Z` or `:z` to relabel the volume, or run with `--security-opt label=disable` - @rhatdan agree?

[2019-10-23 19:28] mheon commented on #4303
I'll take the docs changes

[2019-10-23 19:35] rhatdan commented on #4226
We should obsolete it.  There are no users of oci-systemd-hook any longer.

[2019-10-23 19:41] rhatdan commented on #4324
Why would this be better then
[code]

[2019-10-23 19:41] dustymabe commented on #4320
I don't think so.

Yes. My workaround I mentioned shows this because it just untags and does not remove any layers. In my case I wanted to remove just the tag but wanted to keep the layers because I knew they'd be useful as cached layers for future operations. Seems like a simple operation that currently can't be done.

[2019-10-23 20:07] rhatdan commented on #4328
@QiWang19 PTAL
We want this fixed soon

[2019-10-23 20:27] ibotty commented on #4324
It shares the host's container storage and allows using different CNIs.  There are other differences you will certainly be aware of more than I am.

[2019-10-23 20:39] rhatdan commented on #4306
Yes :Z will fix the issue.  But that will relabel the entire directory, which is not really needed.
`chcon -t container_file_t example`
Will fix the issue without screwing up the entire labeling of the $PWD

 Of course I asked https://github.com/containers/libpod/issues/4306#issuecomment-544489840

[2019-10-23 20:56] rhatdan commented on #4324
Ok so you just want to run the system containers with a users user-namespace

I think we would want to be easier then this.

podman run  --uidmap myuser ubi8 cat /proc/self/uid_map
         0       3267          1
         1     100000      65536

Where it would see that uidmap is a user and would look up the users UID and the users map and use them.

@giuseppe @mheon @baude WDYT?

Would be fairly

[2019-10-23 21:02] rhatdan commented on #4320
The images need at least one name to reference them, which is why it removes the blobs when their are no more names.

[2019-10-23 21:03] rhatdan commented on #4320
@nalind @mtrmac WDYT?

[2019-10-23 21:17] ibotty commented on #4324
That's great and enough for one use case.  But consider typical s2i images that run as user 1000 (or any other non-root). It would be great to be able to map this id instead.  Maybe it ought to map the configured user?

[2019-10-23 21:34] mtrmac commented on #4320
\*shrug\* without reading all of the code, adding support for just removing the tags sounds like something that should be rather easy. Perhaps teaching `podman rmi -a` to deal with untagged images, if it doesn’t do so already, might be the bigger part of the work.

I’m _much_ more worried about the expectation that untagged images can then be practically managed, though. c/image/storage _does_ sup

[2019-10-24 00:08] mtrmac commented on #4254
The only niggle I can see in the above is `registry:5000` vs. `myregistry:5000` vs. `myregistry.com`.

I guess none of these hostnames are real, are they? That should be fine, as long as the `podman` and `skopeo` commands really use exactly the same host name, and are not contacting a different server or a different virtual host or something like that. (There should be an exactly the same
[code]
e

[2019-10-24 03:23] AkihiroSuda commented on #4325
@rhatdan slirp4netns should be printing some errors, but it seems podman ignores that

[2019-10-24 08:02] sshnaidm opened #4332 "Podman doesn't fail when joining a custom CNI network with rootless container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `sudo podman network create customnet`

2.
[code]

3.
[code]

**Describe the results you received:**
When running rootless podman and attaching to custom network created by `podman network` it silently ignores network and runs without warning/error, just

[2019-10-24 09:24] sluongng commented on #3882
Personally I find this disappointing. MacOS is a primary dev environment in many organizations and podman is being advertised as a `painless` transition from docker CLI.

Having developer from only having to `install Docker for MacOS` to having `install podman` (via brew) and `managing your own VM with remote connection` is a terrible developer experience and will limit the adoption rate of this t

[2019-10-24 10:21] CaselIT opened #4335 "Error in setting path on windows"
I've installed the "Latest remote client for Windows"  tried it and uninstalled.

After uninstalling it the user path on my machine is left to `%PATH%;C:\Program Files (x86)\RedHat\Podman"` (in the registry under `HKEY_CURRENT_USER\Environment`) which causes problems both because I no longer have the paths set on my user path and because the `"` left in the path causes problems with other scripts

[2019-10-24 11:37] shaicoleman commented on #3923
PPA updated, closing

[2019-10-24 11:37] #3923 closed

[2019-10-24 13:38] mheon commented on #4335
@jwhonce PTAL

[2019-10-24 13:55] dustymabe commented on #4320
I would think so :)

`podman image prune` does this already today IIUC. Basically find any dangling images and remove them.

I really don't understand the complexity here, but I could be mistaken in my understanding. If I `podman build -t foo .` today, then change the `Dockerfile` then `podman build -t foo` again won't the  `localhost/foo:latest` tag get overwritten and there will be dangling imag

[2019-10-24 13:57] rhatdan commented on #4324
So podman has an alternative method --userns keep-id  Which basically remaps the UIDs inside of your user namespace so that UID 0 == 100000 and UID 3267==3267

[code]

[2019-10-24 14:02] mtrmac commented on #4320
Right.

The complexity I’m worried about is naming the dangling images. It is supposed to be possible to refer to them using `@e6970b2ad554`, or maybe `e6970b2ad554`, or maybe only the full long versions of the image IDs, or maybe in some cases `sha256:e6970b2ad554` works (`sha256:@e6970b2ad554` even?), and most likely it depends on the exact code path. It’s not that the _concept_ is difficult, I’

[2019-10-24 14:17] rhatdan commented on #4325
https://github.com/containers/libpod/pull/4338 should help get those messages.

[2019-10-24 14:48] dustymabe commented on #4320
Can users refer to image by ID today? If yes, then the possible bugs that you mention already exist and should probably be fixed. This RFE would possibly bring those bugs to light faster.

IIUC this feature wouldn't cause any regressions, but would help us find bugs that already exist.

[2019-10-24 14:49] dustymabe commented on #4320
or maybe you're referring to internal naming and not external naming that the user provides?

[2019-10-24 15:34] chenjianxin commented on #4325
podman run -d --name mysql-server --net=host -e MYSQL_ROOT_PASSWORD=secret mysql:latest
ERRO[0001] unable to write volume event: "write unixgram @00029->/run/systemd/journal/socket: sendmsg: no such file or directory"
ERRO[0001] unable to write pod event: "write unixgram @00029->/run/systemd/journal/socket: sendmsg: no such file or directory"
Error: container_linux.go:346: starting container proce

[2019-10-24 15:54] mtrmac commented on #4320
Sure. It’s just these, until now obscure, corner cases would become noticeably more important.

[2019-10-24 17:29] mheon commented on #3903
@haircommander This is fixed, yes?

[2019-10-24 17:41] mheon commented on #3110
@TomSweeneyRedHat @QiWang19 Is this fixed? I know we've had a few Buildah revendors since

[2019-10-24 17:53] mheon commented on #4210
1.6.2 should now be in the Fedora 31 repos. I believe it will be available in the default install, and will not require a day 1 upgrade.

For folks finding this from a search engine, if you encounter difficulty launching containers after an upgrade to F31, we recommend the following:
* Whenever possible, remove containers created in older Fedora versions and recreate with F31 Podman - this is inco

[2019-10-24 17:53] #4210 closed

[2019-10-24 18:10] sshnaidm opened #4341 "Podman container doesn't connect to multiple networks"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Not sure if it's bug or additional feature though.
Docker supports connection to multiple network:
[code]

Podman container connect to one only even if running with multiple `--network` options:

**Steps to reproduce the issue:**

1. `sudo ./bin/podman run --rm --name test -it --network next

[2019-10-24 18:19] mheon commented on #4341
I think we expect `--network` to be passed only once, and network names to be provided comma-separated - might be a docs issue here.

`podman run --net net1,net2` for example

[2019-10-24 18:22] sshnaidm commented on #4341
@mheon thanks! It worked:
[code]
will try to submit a patch to docs.

[2019-10-24 18:22] #4341 closed

[2019-10-24 18:38] avikivity commented on #4306
And I gave the wrong answer :(

I guess this can be closed? But it's sad that the default invocation fails like this.

[2019-10-24 18:43] ibotty commented on #4324
I know about that option.  I hope to be proven wrong, but using --userns keep-id does not allow running a "system container" (i.e. root podman's CNI).

I would propose that the hypothetical  `--uidmap myuser` maps container's USER (as in Dockerfile) to the host's myuser and lays the subuid-mapping around.  (So with USER=0 it corresponds to your proposal).

I like what that sounds like.

[2019-10-24 18:47] haircommander commented on #3903
yes it should be!

[2019-10-24 18:52] sshnaidm commented on #4341
@mheon please see https://github.com/containers/libpod/pull/4342

[2019-10-24 19:08] mheon commented on #3903
Closing

[2019-10-24 19:08] #3903 closed

[2019-10-24 19:23] rhatdan commented on #3110
Lets marked this as fixed.  Reopen if I am mistaken.

[2019-10-24 19:23] #3110 closed

[2019-10-24 19:29] #4332 closed

[2019-10-24 20:01] smekkley commented on #3917
I tried with CAP_SYS_ADMIN but it failed to write to /sys/fs/cgroup.
Buildah chroot mode doesn't experience this issue, because it doesn't create a container but only chroot, thus root access within the container is necessary.

I imagine podman in podman use case is only for testing, though it'll be nice to have zero impacts on the host OS.
If the buildah-run option supported the most options of p

[2019-10-24 20:10] rhatdan commented on #4306
@avikivity Did not mean any offence in my statement.

From an SELinux point of view, this looks like a container processes has escaped and is attempting to read/execute content in your home dir.  Therefore it is blocked.  If you do not believe this is good behaviour then you can disable SELinux container separation, or you can label the content as something the container can use.

[2019-10-24 20:10] #4306 closed

[2019-10-24 20:13] rhatdan commented on #4324
Yes it is only for non root use case for now.  But If this is something you see as useful, then I believe we would consider a PR that implements it.

I am just trying to get get your exact requirements.

[2019-10-24 20:26] rhatdan commented on #3917
Could you give me some examples of what you would like to run within a root container?
Now as I think of it, we could theoretically run rooless podman within a root running podman container.  If it was configured correctly.
@giuseppe WDYT?

[2019-10-24 20:29] TomSweeneyRedHat commented on #3110
@rhatdan, just confirmed that it's fixed in at least upstream, and I believe Podman v1.6.2

[2019-10-24 20:39] ibotty commented on #4324
I see.  Thank you for being so responsive (as usual!).  Right now I am using a script that sets --uidmap options to get what you proposed in [your answer above](https://github.com/containers/libpod/issues/4324#issuecomment-545632936).

[2019-10-25 07:22] giuseppe commented on #4327
I've looked into this, it requires changes in the OCI runtime as well as in Podman.  So we need to add an extension to the OCI specs.

It seems that on a cgroups v2 host it is possible to mount only controllers that are not already used by cgroups 2, so we will be able to mount only the named systemd hierarchy.

[2019-10-25 08:22] giuseppe commented on #4324
we could extend `--subuidname` to also accept an OFFSET where these IDs are mapped: `--subuidname myuser[:OFFSET]`, something like:

[code]

that will allow you do to as root:

[code]

That will leave room for your custom `--uidmap`.

For more complex cases, it is always possible to use directly `--uidmap` and avoid completely `--subuidname`.

[2019-10-25 08:40] avikivity commented on #4306
Of course, offense was self-assigned for being a bad bug reporter.

I am using podman to build a program with a frozen toolchain. The source has a file with the name of a container image that contains a toolchain, and then then build executes in that container. As part of the build it has to read, execute, and write files to the home directory (and various caches like /var/cache/ccache).

So I gue

[2019-10-25 10:23] Frederick888 commented on #4315
May I know what happens if you reboot your system between every two tests? I've just upgraded to v1.6.2 (Ubuntu) and a weird thing that I've noticed is that somehow after a container that exposes a port and mounts a named volume is stopped (and removed), the port cannot be reused until I reboot my system. I'm running in root-less mode, not sure whether the same thing happens under root mode.

[2019-10-25 12:33] rhatdan commented on #4306
Well the same issues have always existed for Docker.  I added the SELinux support for Docker.  I think the surprise comes from people not used to dealing with SELinux.

SELinux is the only think that really protects the file system from container breakout, so when you have intentional container breakout, you need to deal with it.

[2019-10-25 12:39] rhatdan commented on #4315
Rootfull and rootless networking have almost nothing in common.  If you see a port as still being locked in rootless podman, then I would think that their must be a process holding the socket open.  Perhaps slirp4netns is still running or some proces sof the container?  Or maybe the pause container.
@AkihiroSuda @giuseppe WDYT?

[2019-10-25 12:52] rhatdan commented on #3882
Docker requires the same VM, it is not doing anything with MAC Containers.  There is not difference.  From a usability point of view, Boot2Docker and DockerMachine is better.  Although opensource teams are working on Boot2Podman and we hope to get better integration with CRC (Code Ready Containers) for OpenShift integration.  We continue to work on MAC and Windows support and are always looking fo

[2019-10-25 13:17] Zjemm commented on #1742
so it comes closer and closer

[2019-10-25 13:23] rhatdan commented on #4325
What is  /etc/cni/net.d/my-network.conflist and why is the container trying to use it?

[2019-10-25 19:32] codeling opened #4344 "podman hangs when starting mariadb"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman isn't starting my mariadb 10.4 container anymore since yesterday (running podman 1.6.2 on Ubuntu 18.04.3); podman just hangs on either simply starting the container, as well as on removing it and running it again. I suspect this is because podman was updated recently (from 1.6.1 to 1.6.

[2019-10-25 19:34] smekkley commented on #3917
I'm trying to run /bin/ash from alpine, like the example above.
Regardless of what this message means, I think rootless podman requires user namespace support, which normal root podman doesn't provide, unless it's privileged.
[code]
In summary, I think the current state is...
1. privileged root podman = supports root and rootless podman inside.
2. non privileged root podman = only chroot buildah i

[2019-10-25 19:38] rhatdan commented on #3917
I think that we can convince rootless podman to run within a non privileged root podman, but their needs to be a bit of configuration to make sure it uses fuse-overlayfs and has proper settings on its cgroup-manager and others.

When you run rootless podman as non root user, then you get less access then you get with a rootfull non privileged container.

@giuseppe Do you agree, this should be poss

[2019-10-25 20:17] QuLogic opened #4346 "Containers should be pruned before pods"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Say we're running through [a Podman tutorial](https://developers.redhat.com/blog/2019/01/15/podman-managing-containers-pods/) and want to clean up afterwards. Using `podman system prune` fails because pods are deleted before containers.

**Steps to reproduce the issue:**

1. podman run -dt --

[2019-10-25 20:19] QuLogic commented on #4346
Note: I need to `podman rm` the stopped nginx container for `podman system prune` to work on the pod. It does not appear necessary to remove the infra container explicitly.

[2019-10-25 20:31] rhatdan commented on #4346
@QiWang19 PTAL

[2019-10-25 22:50] onlyjob commented on #1742
Yeah... But it is a desperate move in the absence of anything better (perhaps except Singularity).
I wish they'd give some attention to [rkt](https://github.com/rkt/rkt) instead.
The problem is that libpod/podman depends on Docker and through Docker on the "world" of Goland libraries. Combined dependency tree is enormous...

_rkt_ have advantage of being lightweight and better designed, without de

[2019-10-26 09:00] kajmagnus commented on #1742
**(** @onlyjob Looking at the Rkt activity, it seems abandoned to me: https://github.com/rkt/rkt/graphs/contributors  :- (   ... Anyway, looking forward to Podman on Debian. Then I can use Systemd + Podman for my software on all of RHEL / Debian / Ubuntu :- )  **)**

[2019-10-26 10:09] rhatdan commented on #1742
You are arguing about Betamax versus VHS. The UI and the quantity of image is what one.  The Podman/Docker CLI and the OCI Images.

[2019-10-26 10:38] onlyjob commented on #1742
For those who build (or convert) their own images, the quantity of available (untrusted) images is pointless. Reproducing Docker's CLI interface is of questionable convenience value. The whole idea is about getting off inferior Docker that just refuses to improve due to bad governance -- to avoid using Docker indirectly and therefore avoid Docker's code bloat and other insanities. IMHO _libpod_ is

[2019-10-26 10:44] smekkley commented on #3917
Yes, I think ability to run rootless podman within a root non-privileged container would be great. It would also give an option to run podman in other container engines without being privileged. It would also probably mean, with buildah we no longer have to use chroot mode.

[2019-10-27 19:20] codeling commented on #4344
While podman hangs, a parallel `podman ps` also hangs. So this basically seems to completely freeze any podman interactions.
Anyone have an idea?
In the meantime I tried running the container without volume mapping an restart always, and then the container seems to start, but it dies immediately (for unknown reason, journalctl says `container died`. So maybe there's something wrong with the image?

[2019-10-27 21:38] mheon commented on #4344
Seems to be hanging during either storage mount or network initialization -
probably the latter, given the slirp logs

On Sun, Oct 27, 2019, 15:21 Bernhard Froehler <notifications@github.com>
wrote:

[2019-10-28 02:53] hurricanehrndz opened #4349 "Issues in Ubuntu 18.04 - Inconsistent - Failed to allocate manager object."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running systemd enable containers is inconsistent across Ubuntu 18.04 systems.
First of all podman requires `libpam-cgfs` which the podman package does not have as a requirement.

**Steps to reproduce the issue:**

1. ` podman run -it --systemd=true --privileged --log-level=debug quay.io/samd

[2019-10-28 02:58] hurricanehrndz commented on #4349
systemctl status user@1000.service
[code]

[2019-10-28 03:01] hurricanehrndz commented on #4349
systemd-cgls output
[code]

[2019-10-28 06:55] variadico commented on #4326
I think I'm also hitting some stdin issues with `exec`. I thought I remember being able to pipe SQL to a container like I do below. But, now I'm not sure if I'm doing something wrong or if I'm running into this bug.

**Steps to reproduce**
[code]

**Expected behavior**
I expected `select 1` to be evaluated by Postgres and the result of that query to be printed to stdout.

**Actual behavior**
[code

[2019-10-28 09:00] vrothberg commented on #1742
I don't think this conversation is constructive, so please don't let this issue derail into something else than the Debian packaging efforts.

We have invested a considerable amount of time to make the tools easier to package for Debian; especially earlier this year with @siretart who found quite some obstacles that we collaboratively improved. Those efforts were based on real issues that needed t

[2019-10-28 09:44] giuseppe commented on #4349
while the container is in the failed state, can you please run from another terminal this command:

`podman exec -l -ti cat /proc/self/cgroup` ?

What is its output?

[2019-10-28 09:50] giuseppe commented on #4344
can you show what processes are running?  The `ps aux` output will be helpful

[2019-10-28 11:31] rodris-gimba commented on #4254
yes, the hostnames aren't reals. I've launched the following commands:

`~$ **skopeo --debug inspect --creds=user:pass --raw docker://myregistry.com:5000/security/alpine:latest**
DEBU[0000] reference rewritten from 'myregistry.com:5000/security/alpine:latest' to 'myregistry.com:5000/security/alpine:latest'
DEBU[0000] Trying to pull "myregistry.com:5000/security/alpine:latest"
DEBU[0000] Returning

[2019-10-28 12:54] onlyjob commented on #1742
Zero impact, really? You have no idea... Bugs in Docker, especially security bugs, affect Podman as well. Maybe not such a big problem for you, @vrothberg, but downstream maintainer have to own the whole (fragile) dependency tree effectively maintaining Docker as well (like if that is not hard enough), with all its dependencies. You see, it only takes one security bug in Docker (or any of its depe

[2019-10-28 13:31] vrothberg commented on #1742
I was talking about the _architecture_ of Podman. You are now referring to the impact of a Docker bug on the _Debian maintenance_, which are two separate things. My comment referred to your statement about Podman inheriting some not further specified problems you see with Docker (see https://github.com/containers/libpod/issues/1742#issuecomment-546591336). I understand it's a herculean task to pac

[2019-10-28 13:58] rodris-gimba commented on #4254
I pulled an image from a docker hub with Podman, this image is pushed to a my private registry and when i try to pull it... returns the error

[2019-10-28 14:09] mtrmac commented on #4254
How is it possible, then that `/v2/` has status 401 (“provide credentials”) with Skopeo, but status 200 (”OK, no credentials necessary”) with Podman? Correspondingly, Skopeo does send credentials, but Podman does not, and the HTTP may well be an “unauthorized” message or something like that.

(It might still be a behavior difference between Skopeo and Podman, but there’s rather little that can var

[2019-10-28 14:23] rodris-gimba commented on #4254
Before the podman pull I sent a podman login to myregistry:

[code]

with the same user:pass that i used for skopeo command

[2019-10-28 14:44] hurricanehrndz commented on #4349
when running this
[code]

I get the following log
[code]

[2019-10-28 14:51] hurricanehrndz commented on #4349
Seems like a similar issue to this:
https://github.com/opencontainers/runc/issues/892

[2019-10-28 15:40] MarcoFalke commented on #1742
Please keep this discussion on-topic. A bunch of people have subscribed here that want to follow the status of "*Package up podman for vanilla Debian*" and only that. Thanks :pray:

[2019-10-28 16:09] zer0def opened #4353 "Podman pod logic misbehaves when Kata is the runtime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to run pods with Podman using Kata runtime, the user either gets separated containers or just the pod infra container running. This is a copy of the issue posted at kata-containers/runtime#2147.

**Steps to reproduce the issue:**

1. With Kata Containers installed, the following l

[2019-10-28 17:06] #4314 closed

[2019-10-28 20:24] yihuaf opened #4357 "Podman doesn't use auth in ~/.docker/config.json correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pulling from azure container registry, `docker pull` is successful whereas `podman pull` fails. Auth information is located under `~/.docker/config.json`. Podman documentation on `pull` specifies that if no `auth.json` file is found, then  `~/.docker/config.json` is used.

**Steps to rep

[2019-10-28 20:34] rhatdan commented on #4357
Could you try --authfile=""
If you do a `podman login`, does everything work?

[2019-10-28 20:35] rhatdan commented on #4357
@QiWang19 I think removing the default from the options will fix this issue.

[2019-10-28 21:14] hurricanehrndz commented on #4349
I would like to try and delete the user.slice cgroup from the cpu,cpuacct resources. I have tried cgdelete but that doesn't seem to work, any suggestions?

[2019-10-28 21:44] zer0def commented on #4353
After poking around in #podman@freenode, there was a number of suggestions:
- @mheon proposed to create a pod without an infra container and use `pod create --annotation` to attach pods to an appropriate sandbox; thing about this is that there's no first container (and therefore no sandbox) to attach to, but it's a trivial workaround to create one and attach the rest, like in the following example

[2019-10-28 21:55] yihuaf commented on #4357
`--authfile=""` doesn't seem to work. Should I try converting .docker/config.json into a authfile? Is there a doc on the format of the authfile? I can't seem to find it.

Will try podman login a bit. Azure is a bit pain to use docker/podman login directly. Their CLI is hardcoded wrapper to docker login.

[2019-10-28 23:11] mheon commented on #4353
Should not be difficult to get those annotations added automatically now
that we know what to do

On Mon, Oct 28, 2019, 17:44 zer0def <notifications@github.com> wrote:

[2019-10-28 23:38] TomSweeneyRedHat opened #4359 "Document the authfile contents, most likely in podman login."
We don't seem to have documented the contents of an authfile, at least I can't find it quickly.  I'll look further, but I thought I'd create this issue as a place holder.

We probably should have some documentation in the podman-login/logout man pages, or links to it from those man pages.

[2019-10-28 23:39] TomSweeneyRedHat commented on #4359
Problem first noted in #4357, @umohnani8 do you recall documenting the contents of the authfile somewhere in the past?

[2019-10-28 23:40] TomSweeneyRedHat commented on #4357
The authfile and the .docker/config.json file should have the same format.  I've created #4359 to find or fix that part of the doc up.  I would have expected to find that info on the podman-login/logout pages or at least a pointer to it from there.

[2019-10-28 23:40] TomSweeneyRedHat commented on #4359
@yihuaf FYI

[2019-10-29 00:08] yihuaf commented on #4357
If it's the same format, then `--authfile` is not being used at all, it seems. When pointing the authfile to `.docker/config.json`, from the log:

`DEBU[0000] Credentials not found`

[2019-10-29 07:48] vrothberg commented on #4359
Since the logic is implemented over there, containers/image could be a good host for such docs (e..g, `containers-authfile(5)`) which can then be cross-referenced here and in buildah.

[2019-10-29 09:14] space88man opened #4361 "Upgrade to F31: SELinux denials with container_t trying to access spc_t"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading from Fedora 30 to Fedora 31, I am getting SELinux denials when container_t is trying to acess spc_t data. This doesn't prevent the container from functioning, though.

Any ideas where all this spc_t access is coming from?

**Steps to reproduce the issue:**

1. Upgrade from Fed

[2019-10-29 09:37] vrothberg commented on #4361
@rhatdan PTAL

[2019-10-29 10:48] onlyjob commented on #1742
IMHO it would be better to have an optional CLI utility to fetch/import Docker images (e.g. something similar to `docker2aci`). This way Podman could have no dependencies on Docker and only those who needs Docker interoperability would install/use such utility.

As for packaging Podman, the progress is good as a lot of work has been done during last several months (I estimate that there were 40+ u

[2019-10-29 10:51] space88man commented on #4361
I can trigger this on Fedora 31. CentOS 8 container, running rabbitmq-server. From outside the container

[code]

See AVCs:

[code]

The command still works, though.

[2019-10-29 11:09] AkihiroSuda opened #4363 "cgroupns=private should be enabled by default for unified mode?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature (?)

**Description**

In Moby (cgroup v1), cgroupns is not used by default because it was not available in the kernel until kernel 4.6 (May 2016), and the default behavior will not change on cgroup v1 environments, because changing the default will break compatibility and surprise users.

Podman seems to h

[2019-10-29 11:12] space88man commented on #4361
Reproducer on a fresh Fedora 31:
[code]
On the host run `podman exec rabbit_1 systemctl stop rabbitmq-server`.

See

[code]

[2019-10-29 11:14] mheon commented on #4363
I'm generally in favor, though ideally I'd like a config option to allow it
to be switched to off by default by users and distros.

On Tue, Oct 29, 2019, 07:09 OpenShift CI Robot <notifications@github.com>
wrote:

[2019-10-29 12:50] rhatdan commented on #4353
Peter what do you think about adding these annotations automatically?

[2019-10-29 12:56] haircommander commented on #4353
sure, I should be able to get to it today or tomorrow

[2019-10-29 13:25] amitkrout opened #4364 "[macOS] Error: could not get runtime: dial unix /run/podman/io.podman: connect: no such file or directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. $ brew cask install podman

2. $ podman pull ubuntu

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
should not throw runtime error

**Additional information you deem important (e.g. issue happens only occasionall

[2019-10-29 13:27] amitkrout commented on #4364
/remove feature

[2019-10-29 13:47] baude commented on #4315
this is simply the regression in run -i behaviour.  @mheon was looking into it before his pto.

[2019-10-29 13:59] rhatdan commented on #4359
Yes lets put the docs into containers/image

[2019-10-29 14:36] umohnani8 commented on #4359
@TomSweeneyRedHat by contents you mean what exactly is in the authfile? From what I remember, podman login will add the credentials to either the default location of authfile or whatever the user sets the location to be with the `--authfile` flag.
When checking for credentials, e.g when doing a podman pull, it will first check the authfile location, if the creds are not found there it checks the d

[2019-10-29 14:40] rhatdan commented on #4361
Do you know what process is running as spc_t?

ps -eZ | grep spc_t

[2019-10-29 14:43] TomSweeneyRedHat commented on #4359
@umohnani8 thanks for the info.  Yep, the reporter was asking for what the contents of the file looked like.  I thought we had added a dummy sample in some man page, but I guess we'd not.  It would be nice to have that specified somewhere.  I'm fine if this moves to c/image and then we just add a note in the podman login/logut pages to look there for more details.

[2019-10-29 14:43] rhatdan commented on #4363
I agree we need to add a flag to disable it.
 Lets turn this on ASAP.
@AkihiroSuda Interested in open a PR?

[2019-10-29 14:55] space88man commented on #4361
@rhatdan it is the external exec'ed program
[code]

[2019-10-29 15:03] AkihiroSuda opened #4367 "`make install` should not make binaries if already exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`make install` should not make binaries if already exist

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`make && sudo make install` fails because `sudo make install` attempts to make binaries with different env vars.

**Describe the results you expected:**

[2019-10-29 15:20] amitkrout commented on #4364
@rhatdan It would be really helpful if share some kind of doc reference of what you suggest

[2019-10-29 17:39] giuseppe commented on #4363
from the CLI, it can be disabled with `--cgroupns=host`, but we miss a way to configure namespaces from the config file.

Not sure that should be a blocker though.  Changing the default should not matter for most users, I've already verified that containers  with systemd as payload work fine.

[2019-10-29 18:10] baude commented on #4367
please submit a PR to fix this.

[2019-10-29 19:59] smekkley opened #4371 "/dev cannot be mounted when podman-run started with -t option."
/kind bug

The following command fails with rootless podman.

[code]

The current workaround is to..
[code]

[2019-10-29 20:13] mheon commented on #4363
I'm fine with changing the default now as long as we add the config option
once we can

On Tue, Oct 29, 2019, 13:39 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-10-29 20:32] QiWang19 commented on #4357
@yihuaf Can you check your credentials exists in ~/.docker/config.json? I dailed to replica this issue with my plain text JSON format credential in ~/.docker/config.json.
Azure doc mentioned the token used by az acr login is valid for 1 hour, maybe it has been wiped out?

[2019-10-29 20:36] joelddiaz opened #4373 "substituting podman for docker for use with kubernetes kind fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to substitute the requirement for docker in the kind (kubernetes in docker) tool https://github.com/kubernetes-sigs/kind, and it fails due to the combination of arguments that podman is launched with.

**Steps to reproduce the issue:**

1. Download / install kind (put it in your path a

[2019-10-29 20:40] smekkley commented on #3464
@TomSweeneyRedHat is right. I think this is related to #3917 .
The parent container engine needs --privileged to run podman inside.
I don't know what the actual requirement is. I tried with readonly mount of /dev with privileged, but it still worked.
`--cap-add ALL` alone also couldn't make it work.
I've tried with some other less privileged command options, but I get
[code]
I also got error with

[2019-10-29 20:48] stove-panini commented on #4208
Hey all, any progress on this? @rhatdan do you have a link to the PR you mentioned?

[2019-10-29 21:04] yihuaf commented on #4357
Then that doesn't explain why `docker pull` is successful. I also just tried with a fresh `az acr login` to make sure.

Here is the debug log if that helps.
[code]
Same log with adding `--authfile=""`.

[2019-10-29 21:15] rhatdan commented on #4361
That is a bug.

[2019-10-29 21:25] rhatdan commented on #4367
Can we change it so both commands use the same environment variables?

[2019-10-29 21:41] rhatdan commented on #4363
Yes lets add the option and I will have @QiWang19 Add the config to containers-conf PR, when we start doing Podman.

[2019-10-29 21:54] rhatdan commented on #4357
Could you try --authfile=~/.docker/config.json
To see if it reads it then?

[2019-10-30 01:33] AkihiroSuda commented on #4367
Not just same envvar, because root should not write files under non-root home.

[2019-10-30 01:35] AkihiroSuda commented on #4046
/do-not-close

[2019-10-30 02:26] mheon commented on #4130
@vrothberg @baude We may want to exclude anything with a `kind/feature` label from this reaping. I don't think closing feature requests because nobody has had a chance to work on them is productive.

[2019-10-30 02:27] mheon commented on #4046
@vrothberg The do-not-close label doesn't seem to exist yet

[2019-10-30 02:27] mheon commented on #4019
No, bot, this is still a fairly serious bug

[2019-10-30 02:28] mheon commented on #4056
We may want a tracker issue for this. I think we have 3-4 open issues about this.

[2019-10-30 02:28] mheon commented on #4059
Still a feature we want

[2019-10-30 02:29] mheon commented on #4066
I'm closing this as it's resolved on upstream Podman releases

[2019-10-30 02:29] #4066 closed

[2019-10-30 02:29] mheon commented on #4084
Upcoming feature with containers.conf, so we shouldn't close this

[2019-10-30 03:24] AkihiroSuda commented on #4373
You can't run Kubernetes on v2 anyway at this moment

[2019-10-30 04:40] yihuaf commented on #4357
It doesn't seem to read the file it all. It also doesn't complain if the file does not exist or is in bad format.

[2019-10-30 07:52] giuseppe commented on #4363
opened a PR here to change the default value: https://github.com/containers/libpod/pull/4374

[2019-10-30 08:06] giuseppe commented on #4373
Does Docker ignore `--quiet` when `--format` is used?

[2019-10-30 08:46] vrothberg commented on #4119
Throwing a warning can be done independently of the ongoing work for credStores but it must be done in c/image. @TomSweeneyRedHat, are you interested in opening a PR for c/image? I guess we could do a `fmt.Fprintf(os.Stderr, "$WARNING")` when using an authfile while storing credentials.

[2019-10-30 08:48] vrothberg commented on #4099
@shaicoleman @lsm5, what's the latest state on this work?

[2019-10-30 08:53] vrothberg commented on #4130
@mheon, I think the bot only supports one exempt label. I think it doesn't hurt to be reminded of inactivity - adding the "do-not-close" label will prevent it from being closed in the future.

[2019-10-30 08:55] vrothberg commented on #4046
I just created one.

[2019-10-30 08:55] vrothberg commented on #4046
@lsm5 is the issue fixed in the meantime?

[2019-10-30 08:56] vrothberg commented on #4056
@rhatdan, I believe you're working on this at the moment. Would you open a tracker issue?

[2019-10-30 09:03] lsm5 commented on #4046
On Wed, Oct 30, 2019 at 01:55:38AM -0700, Valentin Rothberg wrote:

Not yet :(

[2019-10-30 09:04] lsm5 commented on #4099
On Wed, Oct 30, 2019 at 01:48:23AM -0700, Valentin Rothberg wrote:

WIP, but nothing landed yet, but hopefully soon..

[2019-10-30 09:23] johanbrandhorst commented on #4107
This is is still a problem

[2019-10-30 09:27] vrothberg commented on #4107
@jwhonce @baude @haircommander WDYT? @johanbrandhorst thanks for offering help!

[2019-10-30 11:36] TomSweeneyRedHat commented on #4119
I'll work with @QiWang19 to make this happen

[2019-10-30 13:14] mheon commented on #4373
The use of the two together seems somewhat bizarre but we should mirror
Docker here if they allow it.

On Wed, Oct 30, 2019, 04:06 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-10-30 16:15] jmigot-tehtris commented on #4344
Hello, I can confirm same problem here, which seems related to this: https://github.com/containers/libpod/issues/2942

Without port redirection, container starts just fine.

ps aux result while hanging:

<pre>
user 2642  0.0  0.8 932616 35424 pts/1    Sl+  15:48   0:00  | \_ podman run -p 9000:9000 --log-level=debug --rm -it --entrypoint /bin/bash 3a359a493bcc
user 2653  0.7  1.0 1094104 41232 pts

[2019-10-30 18:06] yihuaf commented on #4357
Like: `docker.io.qiwanredhat.azurecr.io/hello-world:v1`? That doesn't seem to work.

Is identitytoken something specific to azurecr?

[2019-10-30 18:21] TomSweeneyRedHat commented on #4357
I don't think the azure registry has made the auth file different, I think Docker upstream may have.  I'm running Docker
[code]
and my Podman auth file which used to look like Docker's earlier versions looks like:
[code]
But as @QiWang19 pointed out, the Docker authfile now looks like:
[code]

So rather than the repo host, `docker.io`, it appears docker has blanked that out.  If I `docker login qu

[2019-10-30 18:23] TomSweeneyRedHat commented on #4357
@yihuaf as an experiment, can you modify your `~/.docker/config.json` and put `docker.io` between the two `""` by the auth stanza and see if that works for you?

[2019-10-30 18:48] QiWang19 commented on #4357
No.
I mean from the error mesage fof podman . Podman is trying `docker://qiwanredhat.azurecr.io` which doesn't work.
I haven't found a way to pull from azurecr.io successfully.
[code]

[2019-10-30 18:57] timonegk opened #4383 "podman build panics with SIGSEGV when passed a file instead of a folder"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build` fails when it is called with a file instead of a directory.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

An error message describing the correct usage of podman.

**Additional information you

[2019-10-30 19:11] rhatdan commented on #4383
@QiWang19 Could you fix this, also could you look at
buildah bud file
Which does nothing, no crash but no error.

[2019-10-30 19:13] rhatdan commented on #4361
PR has merged that should fix this.

[2019-10-30 19:13] #4361 closed

[2019-10-30 20:18] #4303 closed

[2019-10-30 20:28] cevich commented on #4085
This is still an issue, but doesn't flake very frequently.  Can re-open if otherwise.

[2019-10-30 20:28] #4085 closed

[2019-10-30 20:51] nicholasbishop commented on #4318
Is there any workaround for this bug until my distro (Fedora) includes the fix?

[2019-10-30 20:56] mheon commented on #4318
You can create a volume and mount it over the path for the image volume, making sure to specify `exec` in the mount options so it's not mounted `noexec`.

We're in the process of cutting a new release, so a version of Podman with this fix will be available soon.

[2019-10-31 00:46] Romain-Geissler-1A opened #4390 "Automatically fork/exec to "podman-remote" if PODMAN_VARLINK_ADDRESS is set / implement podman -H"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Today it seems you have to choose if you run a container locally (by running "podman run") or if you want to run a container remotely (by running "podman-remote run"). It means you don't write the exact same command depending on the mode you want to use. Docker on the other side has a sin

[2019-10-31 01:19] mheon commented on #3939
@edsantiago Is this fixed? I think we got this one with the XDG_RUNTIME_DIR fixes

[2019-10-31 01:20] mheon commented on #3967
This is actually fixed now - we landed support for anonymous volumes recently.

[2019-10-31 01:20] #3967 closed

[2019-10-31 01:21] mheon commented on #3977
I'll take this one

[2019-10-31 01:22] mheon commented on #3993
We should make a more general tracker issue for adding additional options support to `podman pod create`

[2019-10-31 02:03] slimjim2234 opened #4391 "Support GO Template"
/kind bug

**Description**

Just like closed issues #2688 and #2671, but with the "info" option.

**Steps to reproduce the issue:**

1. `kubeadm init --apiserver-advertise-address=192.168.122.1 --pod-network-cidr=192.168.123.0/24`

**Describe the results you received:**

[code]

**Describe the results you expected:**

`docker info --format '{{ json .}}'`
and
`podman info --format '{{ json .}}'`
sh

[2019-10-31 02:27] johrstrom commented on #3993
Whatever works for you folks. I think I see now this is a feature, but as long as you know this is a feature people would want (I think others would want it, I do anyhow) I'm fine with you tracking in an entirely new ticket.  Especially as you start to design, scope and put work into upgrading the `pod create` api.

[2019-10-31 04:41] henrywang opened #4392 "Fedora 31: podman failed with "Error: could not get runtime: unknown event logger type:""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot run podman `root-less` on Fedora 31with the following error:
[code]
But podman can be run on `root`.

**Steps to reproduce the issue:**

1. Run `podnam` on root-less user on Fedora 31

2. Failed with above error

**Describe the results you received:**
[code]

**Describe the results you

[2019-10-31 04:58] mheon commented on #4392
If you do not have any custom configuration in `~/.config/containers/libpod.conf` I recommend deleting the file; Podman should recreate one with sane defaults which will not have this issue.

[2019-10-31 05:49] henrywang commented on #4392
Thanks @mheon! Your comment works for me.
`podman` works on my Fedora 30, but it failed after update to Fedora 31. But I did not find any related break changes for `podman` from Fedora 31 release doc. Only found one common bug, which is about docker, on [Common F31 bugs](https://fedoraproject.org/wiki/Common_F31_bugs#Docker_package_no_longer_available_and_will_not_run_by_default_.28due_to_switch_t

[2019-10-31 07:28] vrothberg commented on #3991
I'll take a shot and close this issue since we're in between a rock and a hard place. It would be good to align with Docker while users might already depend on the current behavior. Feel free to reopen.

[2019-10-31 07:28] #3991 closed

[2019-10-31 07:39] vrothberg commented on #3990
@rhatdan, what's your take on this issue. Shall we pursue your upper proposal?

[2019-10-31 07:42] vrothberg commented on #3982
@bmaupin, are you still seeing the issue?

[2019-10-31 07:44] vrothberg commented on #3979
Added the "do-not-close" label as I'm sure this is something worth adding.

[2019-10-31 08:27] XVilka opened #4393 "podman: fails to substitute ARG in Dockerfile"
/kind bug

**Description**

Buildah fails to substitute variables in some cases

**Steps to reproduce the issue:**

1. `git clone https://github.com/XVilka/alpine-dev-env`

2.  `./build`

3. `./run`

4. `cat /etc/pkg/repositories`

**Describe the results you received:**

The last `cat` commands shows this content:
[code]
Which means clearly it didn't subsittute argument in this sed invocation:
[co

[2019-10-31 09:27] goldmann commented on #4392
Same here, removing `~/.config/containers/libpod.conf` helped.

[2019-10-31 10:58] jmigot-tehtris commented on #4344
After investigation, problem is that the "sun_path" field of "struct sockaddr_un" is limited to 108 chars, so our api-socket path were truncated by str_dup() and provided as-is to bind().

I think libpod could check the path length and print a warning (not an error) but of course slirp4netns should too. Apparently some systems are limited to 92 chars.

The OP's problem don't seem to be related to

[2019-10-31 12:25] edsantiago commented on #3939
Seems to be fixed - closing

[2019-10-31 12:25] #3939 closed

[2019-10-31 12:36] edsantiago commented on #4096
Problem still present in master @ 381fa4df875af3d2acee34d4fc1a608b2218b551

[2019-10-31 12:44] rhatdan commented on #4107
I would go with the formatting string.

[2019-10-31 12:48] TomSweeneyRedHat commented on #4393
Duplicate of https://github.com/containers/buildah/issues/1957, closing here, discussions/updates to continue on the Buildah issue.

[2019-10-31 12:48] #4393 closed

[2019-10-31 13:15] johanbrandhorst commented on #4107
I'll see if I can put together a PR with a formatting string.

[2019-10-31 13:32] giuseppe opened #4396 "support logs -f without printing any line"
/kind feature

**Description**

I'd like to be able to use "podman logs -f` and not print any existing log line.  I want to follow only the new output.

It is not currently possible as `podman logs -fl --tail 0` defaults to print all lines.

Should we change the type to Int64 and use `-1` as default, or rather change the default to `math.MaxUint64`?

[2019-10-31 13:38] HarryMichal opened #4397 "Blocked keyboard input after entering a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After entering a container with `podman exec -it containername /bin/sh` the keyboard input can be blocked by typing anything during the time between executing mentioned command and getting shell. By blocked I mean any kind of input in the terminal session from typing classic characters or Ctr

[2019-10-31 13:43] mheon commented on #4397
Can you also reproduce this problem with `podman run`?

@haircommander PTAL - could this be the way we handle sync for `podman exec`?

[2019-10-31 13:46] mheon commented on #4396
I'd support going to signed and special-casing negative numbers

[2019-10-31 13:47] haircommander commented on #4397
I could not reproduce with run, but could with exec

[2019-10-31 13:47] mheon commented on #4344
Ahhh. We have handling for that on other sockets (attach socket), but evidently not the slirp socket.

@giuseppe PTAL

[2019-10-31 13:48] mheon commented on #4392
We'll see about getting this added to the Fedora upgrade issues list.

[2019-10-31 13:49] haircommander commented on #4397
the cause is currently a mystery to me, I'm gonna poke around for a bit

[2019-10-31 13:59] space88man opened #4398 "podman is overwriting user's CNI_ARGS to the CNI plugin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman seems to be overwriting the user supplied `CNI_ARGS` so some settings are not transmitted to the CNI plugin.

When dumping the environment of a plugin I see
[code]
instead of the value provided.

When using a user network (pre existing bridge) , the CNI_ARGS environment variable doesn'

[2019-10-31 14:40] space88man commented on #4398
IPAM static is also not working with CNI_ARGS.

Configure a minimal static network
[code]

Try changing the IP address: `CNI_ARGS="IP=192.168.125.200;GATEWAY=192.168.125.1" podman run ...` — this does not work. Only the IP 192.168.125.123 from the configuration file is used.

The addresses array is supposed to be optional. However if it is omitted and an IP address  is attempted with CNI_ARGS

[co

[2019-10-31 14:44] giuseppe commented on #4396
PR here: https://github.com/containers/libpod/pull/4399

[2019-10-31 15:05] space88man commented on #4398
The user CNI_ARGS seems to be replaced with
[code]

[2019-10-31 15:11] space88man commented on #4398
The following hack restores the "correct behaviour":

[code]
Then

[code]

This works (!).

[2019-10-31 16:13] jasonbrooks commented on #3024
I'm trying to get toolbox running in silverblue 31. It fails with:

[code]

Elsewhere, I saw a suggestion about running with: `systemd-run --scope --user podman --log-level debug start fedora-toolbox-31`. When I do that, I get an error like I'm seeing in here:

[code]

[2019-10-31 16:26] rhatdan commented on #3932
Is this still the case?

[2019-10-31 16:27] rhatdan commented on #3878
I think we still want to improve bash completions.

[2019-10-31 16:30] rhatdan commented on #3875
I think this is still an interesting problem.

[2019-10-31 16:30] mheon commented on #3932
Pretty sure the answer is yes - we need a tutorial rewrite

[2019-10-31 16:51] rhatdan commented on #4391
@slimjim2234 Would you like to take a stab at this?

[2019-10-31 16:59] haircommander commented on #3024
@jasonbrooks that message is expected, it won't be printed without `--log-level debug`

[2019-10-31 17:02] jasonbrooks commented on #3024
@haircommander Ah, so not related to my toolbox issue

[2019-10-31 17:02] rhatdan commented on #3993
@giuseppe Could you take a look at this?

[2019-10-31 17:05] haircommander commented on #3024
that is correct :slightly_smiling_face:

[2019-10-31 17:09] rhatdan commented on #3991
I think docker is the one being incosistant.
`docker run` and `docker exec` will exit with 125 on failures as I recall.  Since you want to record the container exit code as the exit code.

[2019-10-31 17:29] axelthimm commented on #3917
A real world example is when you want to integrate image creation in CI/CD workflows which are typically governed by container runners these days. For example when trying to use podman/buildah within the context of a gitlab runner the CI scripts run in a container that will use buildah to construct a new container. For security reasons the outer container should be rootless.

I'm currently trying

[2019-10-31 17:34] baude commented on #3875
agree

[2019-10-31 17:37] rhatdan commented on #4344
@AkihiroSuda FYI

[2019-10-31 17:55] rhatdan commented on #4398
@baude @mheon Can we extend the ARGS rather then truncating them?
@space88man Any change you would want to open a PR?

[2019-10-31 17:57] mheon commented on #4398
This is all in OCICNI - we don't touch any of it in Libpod land

[2019-10-31 18:25] smekkley commented on #3917
Building an image with buildah in a rootless container is possible by following the link I posted.
[code]
But this buildah has to be run as root in the rootless container.

Ability to run rootless podman in a rootless podman container is very slick, if that's what you are trying to achieve. @axelthimm

[2019-10-31 18:33] mheon commented on #4373
I'll take this one

[2019-10-31 18:55] TomSweeneyRedHat commented on #3932
Yes, still the case.  @ipbabble keeps meaning to  get to it, but keeps getting higher priority stuff to do.

[2019-10-31 18:57] axelthimm commented on #3917
Thanks @smekkley, that seems to work nicely! I was following the link that you posted that was pulling buildah and ended with
[code]
I'm not sure how this differs from the recipe you sent in the previous comment, but I'll try to model the gitlab runner accordingly.

Of course, in the long run having rootless-in-rootless would be the perfect solution, but already having the outer container run root

[2019-10-31 19:00] rhatdan commented on #3917
I would use quay.io/buildah/stable for your buildah inside of a rootless podman container.
It will work much better then using vfs and is supported by the buidlah team.

[2019-10-31 19:49] ipbabble commented on #3932
Who wrote the original tutorial btw?

[2019-10-31 19:50] mheon commented on #3932
I thiiink @TomSweeneyRedHat  but I also recall @baude did some work?

[2019-10-31 20:31] rhatdan commented on #4398
@dcbw FYI

[2019-10-31 20:55] mtrmac commented on #4357
The `""` thing seems entirely unrelated to what @yihuaf has reported (the contents in https://github.com/containers/libpod/issues/4357#issuecomment-547628643 don’t contain that, at least).

The `identitytoken` field might be the actual cause, also mentioned in https://github.com/containers/skopeo/issues/533 . Apparently that requires adding a (variant of?) OAuth2 support.

[2019-10-31 21:05] #4396 closed

[2019-10-31 22:33] TomSweeneyRedHat commented on #3932
@ipbabble, one of us is losing it.  I thought you wrote it.....

[2019-10-31 23:00] srp33 opened #4406 "Docs are missing from GitHub site?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Docs are missing.

**Steps to reproduce the issue:**

1. Browse to https://github.com/containers/libpod/blob/master/commands.md

2. Click on links.

**Describe the results you received:**

404 errors. They were there until a couple of days ago.

**Describe the results you expected:**
Docs to

[2019-10-31 23:21] TomSweeneyRedHat commented on #4406
@srp33 thanks for the heads up.  I just clicked on your link above and got right to that page.  Could this have been a network hiccup or perhaps some kind of GitHub service outage when you tried earlier?

[2019-10-31 23:24] TomSweeneyRedHat commented on #3932
I just checked the history, it's official, I'm losing it.  Looks like I started that one off, but I think I plagarized (with your OK) a demo script that you'd cobbled together.

[2019-10-31 23:31] srp33 commented on #4406
That page comes up but none of the links on that page work.

On Thu, Oct 31, 2019, 5:21 PM Tom Sweeney <notifications@github.com> wrote:

[2019-10-31 23:38] ipbabble commented on #3932
"Cobbled"? "Cobbled"?  I'll have you know I don't cobble my demos! There was painstaking research and testing involved! ;-) LOL

FYI I have started looking at this myself and hit errors on using $ podman images  on fedora 31.
$ sudo podman images worked fine. I have subuid and subgid files. in /etc/

So we need to just say what needs to be done to get this working (it worked on fedora 30. I wonder

[2019-11-01 00:12] TomSweeneyRedHat commented on #4406
@srp33 thanks, speed reading bit me in the backside again, missed that part.  @baude could this be do to your documenation restructuring?

[2019-11-01 00:27] space88man commented on #4398
@rhatdan happy to PR  - where is the "upstream" is it `pkg/ocicni` here or the separate project https://github.com/cri-o/ocicni. (Ref: https://github.com/cri-o/ocicni/issues/37#issuecomment-501763832 "Consider moving this project into CRI-O")

[2019-11-01 00:33] baude commented on #4406
go here -> https://podman.readthedocs.io/en/latest/index.html

what you are browsing are the source for the docs.

[2019-11-01 01:04] srp33 commented on #4406
Thanks. I'll submit a pull request to modify the link that was pointing to that page.

[2019-11-01 02:58] slimjim2234 commented on #4391
Certainly, took a stab at it.

[2019-11-01 05:58] AkihiroSuda opened #4409 "cgroup2: podman stats is wrong"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman stats` does not report CPU usage properly

**Steps to reproduce the issue:**

1. `podman run -it --rm --cpus 1.0 --runtime=/usr/local/bin/crun alpine sh -c "apk add --no-cache stress-ng && stress-ng -c 0`
2. `podman stats`

**Describe the results you received:**

`CPU %` won't reach m

[2019-11-01 06:28] mheon commented on #4398
@space88man The upstream is github.com/cri-o/ocicni

[2019-11-01 06:30] adrianreber commented on #3774
Will fix this soon.

[2019-11-01 08:18] cho2 commented on #3790
![Cuplikan layar dari 2019-11-01 15-16-02](https://user-images.githubusercontent.com/6271071/68011743-b5757080-fcba-11e9-857a-5e661649fc3f.png)
OS: openSUSE Leap 15.1

[2019-11-01 09:04] XVilka opened #4410 "Support `-f`/`--force` flag in `podman image prune`"
/kind feature

**Description**

Docker CLI has a `-f` flag for the `docker image prune` command. So for podman to be compatible with docker, especially in scripts, at least it would be better not to show an error:

**Steps to reproduce the issue:**

1. `podman image prune -f`

**Describe the results you received:**

`Error: unknown shorthand flag: 'f' in -f`

**Describe the results you expected:**

[2019-11-01 09:08] XVilka opened #4411 "Support `--filter` flag in `podman image prune`"
/kind feature

**Description**

Docker CLI has a `--filter` flag for the `docker image prune` command. So for podman to be compatible with docker, especially in scripts, at least it would be better not to show an error:

**Steps to reproduce the issue:**

1. `podman image prune --filter "until=12h"`

**Describe the results you received:**

`Error: unknown flag: --filter`

**Describe the results yo

[2019-11-01 09:14] XVilka commented on #3799
Same on the Fedora 31, `podman volume prune` didn't help though.

[2019-11-01 11:42] TomSweeneyRedHat commented on #4406
I'm going to reopen this, all of the links on https://github.com/containers/libpod/blob/master/commands.md are broken and need to be changed.  @srp33 I think you're taking that on and that would be very much appreciated.  If not, we need to chase those down.

[2019-11-01 11:51] rhatdan commented on #4410
@XVilka Interested in adding these flags.  Looks like we are also missing
      --filter filter   Provide filter values (e.g. 'until=<timestamp>')

[2019-11-01 11:54] rhatdan commented on #4410
BTW What kind of confirmation is Docker doing?  I don't think Podman does any prompting at this point.

[2019-11-01 11:54] rhatdan commented on #4411
@XVilka Interested in opening a PR?

[2019-11-01 11:56] rhatdan commented on #3799
@XVilka are you seing these leaks with fuse-overlay?

[2019-11-01 12:02] XVilka commented on #4410
[code]
Even if podman doesn't ask, at least it should not report an error if `-f` flag is used.

[2019-11-01 12:04] XVilka commented on #3799
@rhatdan yes, still reproducible with fuse-overlay too.

[2019-11-01 12:23] rhatdan commented on #4410
I agree.

[2019-11-01 12:44] rhatdan commented on #3924
@lsm5 Any update on this?

[2019-11-01 12:44] rhatdan commented on #3850
@umohnani8 Can we close this?  Does it work in master now?

[2019-11-01 12:46] rhatdan commented on #3843
Since we have had no feedback, I will go with @mheon assumption and close this.  If  it is still repeatable please reopen.

[2019-11-01 12:46] #3843 closed

[2019-11-01 12:46] rhatdan commented on #3842
@dcbw PTAL

[2019-11-01 12:47] rhatdan commented on #3841
@spaghetti- Since we have had no feedback from August, I am going to close,  If you want us to continue to look at this and want to provide feedback, please reopen.

[2019-11-01 12:47] #3841 closed

[2019-11-01 12:48] rhatdan commented on #3837
@baude This seems to be going along with what you demo'd yesterday?

[2019-11-01 12:49] TomSweeneyRedHat opened #4414 "Move commands.md to commands-demo.md and update links"
Per  #4407, the links in the commands.md page to the various man pages have changed.  The README.md was updated to the new readthedocs page for the docs.  Rename the commands.md page to a commands-demo.md page or something aggreable, leave a breadcrumb page behind at commands.md, and then update the links on the page for the man pages to their location at readthedocs.

[2019-11-01 12:49] rhatdan commented on #3821
@debarshiray Since we have had no feedback for a month, I will close this PR.  Please reopen if you want us to continue to look into it, and  you have more feedback.

[2019-11-01 12:50] rhatdan commented on #3808
We want this fixed, I don't know if it is still a bug.  I think it is depending on how you setup podman-remote.

[2019-11-01 12:51] rhatdan commented on #3802
Since we have not seen this again, I am going to close, @haircommander reopen if this is something you feel we should pursue.

[2019-11-01 12:51] #3802 closed

[2019-11-01 12:52] Zyqsempai commented on #4414
I will take it!

[2019-11-01 12:54] haircommander commented on #4414
/assign @Zyqsempai

[2019-11-01 12:55] haircommander commented on #4414
Thanks @Zyqsempai !

[2019-11-01 12:56] TomSweeneyRedHat commented on #4414
@Zyqsempai I'm super jealous of your profile icon....

[2019-11-01 13:09] Zyqsempai commented on #4414
@TomSweeneyRedHat I know;) Everybody are!))

[2019-11-01 13:18] rhatdan commented on #4409
@AkihiroSuda Do you want to open a PR to fix this?

[2019-11-01 13:19] rhatdan commented on #3774
Awesome.

[2019-11-01 13:29] rhatdan commented on #3790
https://github.com/containers/libpod/pull/4350 will at least get us the output of what the error is.  and this has been merged upstream.  If someone could try this out and tell us why slirp4netns is failing.

[2019-11-01 13:39] marekvesely-direct opened #4416 "BUG: Podman cannot chdir: Permission denied in rootless mode"
/kind bug

**Description**

Podman is not able to execute in rootless mode. It is writing: cannot chdir: Permission denied.

**Steps to reproduce the issue:**

1. Install Podman, create special user and group and add lines:
teamcityagent:200000:65536
to /etc/subuid and /etc/subgid

2. execute command:  podman unshare cat /proc/self/uid_map
under teamcityagent user.

**Describe the results you rece

[2019-11-01 13:42] mheon commented on #4416
@giuseppe PTAL

[2019-11-01 13:42] lsm5 commented on #3924
Not yet, but hopefully once other distractions are outta the way ..

[2019-11-01 13:45] haircommander commented on #4326
I still wouldn't actually consider this closed

[2019-11-01 13:54] mheon commented on #4214
@vrothberg I think your latest PR fixes this?

[2019-11-01 14:03] vrothberg commented on #4214
Yes, Podman is not auto-generating it anymore.

[2019-11-01 14:03] #4214 closed

[2019-11-01 14:17] rhatdan commented on #4416
RHEL7 Rootless is not supported yet.  It will not be supported until RHEL7.8 release.
I don't think we have fuse-overlay yet.  And you need to set a sysctl to support User Namespace in the first place.

Something like:

sysctl user.max_user_namespaces=15000

[2019-11-01 14:40] mheon commented on #4416
I believe it's considered tech preview.

[2019-11-01 14:52] rhatdan commented on #4416
Any ways, this should be reported as a bugzilla and not to the upstream repo, since this is distro specific.
@marekvesely-direct if the sysctl does not fix the issue, could you open a bugzilla on it, and we can look at it there.

[2019-11-01 14:52] #4416 closed

[2019-11-01 15:23] fbruetting commented on #4210
Still had this issue in Podman v1.6.2 and needed to delete libpod.conf :/

[2019-11-01 19:07] QiWang19 commented on #4346
we can't prune containers before pod because the pod may have infra container. https://github.com/containers/libpod/blob/04e8bf3dba50e079278ac33b43ecc2ebb8f4a156/cmd/podman/system_prune.go#L81

After looking through the tutorial I think the stopped nginx container is not the infra container, it's a container created by podman run -dt. The infra container has been pruned. by `system prune`.

I open

[2019-11-01 19:55] giuseppe commented on #4409
I see the same issue on cgroups v1.

I've opened a PR, tested both with cgroups v1 and cgroups v2: https://github.com/containers/libpod/pull/4423

[2019-11-02 00:45] mheon commented on #3587
Most of this is going to land with the containers.conf work, I think

[2019-11-02 00:48] mheon commented on #3657
Closing, as `podman generate systemd` will generate working unit files without this issue

[2019-11-02 00:48] #3657 closed

[2019-11-02 00:49] mheon commented on #3696
We fixed this one by forcibly killing Conmon on restart, I believe

[2019-11-02 00:49] #3696 closed

[2019-11-02 00:50] mheon commented on #3700
This ought to be fixed now that CNI 0.8.1 is available

[2019-11-02 00:50] #3700 closed

[2019-11-02 00:51] mheon commented on #3743
Fixed upstream in plugins, so I think we're good to close

[2019-11-02 00:51] #3743 closed

[2019-11-02 01:24] peterwillcn opened #4426 "Cannot be removed a67ac443f7f6-infra pod"
Cannot be removed a67ac443f7f6-infra pod

[2019-11-02 06:12] variadico commented on #4326
Retried with podman 1.6.2, yeah, still broken.

[2019-11-02 07:38] vrothberg commented on #4167
I haven't seen the flakes recently but am not sure they have been tackled. @baude do you know?

[2019-11-02 07:39] vrothberg commented on #3761
@mtrmac, shall we create a dedicated for c/image?

[2019-11-02 07:40] vrothberg commented on #3722
Added the do-not-close label.

[2019-11-02 07:41] vrothberg commented on #3685
Closing since it seems to be fixed in Rawhide now.

[2019-11-02 07:41] #3685 closed

[2019-11-02 07:43] vrothberg commented on #3655
Still blocked on https://github.com/coreos/go-iptables/pull/66.

[2019-11-02 07:44] vrothberg commented on #3606
Are you still seeing the issue, @TomSweeneyRedHat ?

[2019-11-02 07:45] vrothberg commented on #3589
@rhatdan, this is working now, is it?

[2019-11-02 07:48] vrothberg commented on #3587
@rhatdan, @QiWang19, is this something you want to work on/combine with the containers.conf work? The request makes sense to me but we need to carefully review how to do the plumbing into buildah, podman and CRI-O (Cc @mrunalp).

[2019-11-02 09:27] rhatdan commented on #3587
Yes. I am adding a label for containers.conf.

[2019-11-02 09:29] rhatdan commented on #3589
Should arrive in RHEL/Centos 7.8  with podman 1.6.*

[2019-11-02 09:29] #3589 closed

[2019-11-02 09:32] rhatdan commented on #3606
Weird that we have never heard about this from anyone else.

[2019-11-02 09:34] rhatdan commented on #4326
@variadico the partial fixes would be in Master not in a released version.  But @haircommander Says it is not fixed yet anyways.

[2019-11-02 10:32] rhatdan commented on #3653
@haircommander Ever look into this?

[2019-11-02 10:35] rhatdan commented on #3651
I think this is fixed.  I don't see this as a bug.  It is just a configuration issue in the container image as @baude pointed out.  Reopen if you disagree.

[2019-11-02 10:35] #3651 closed

[2019-11-02 13:01] TomSweeneyRedHat commented on #3606
It was replicating quite a bit 1.4 timeframe, but I've not run into it in the recent past that I can recall.  will close.  Sweeney luck I guess.

[2019-11-02 13:01] #3606 closed

[2019-11-02 13:58] baude commented on #4426
could you provide more information? version of podman, distro, the command you ran?

[2019-11-02 14:09] peterwillcn commented on #4426
Centos8 default version
docker rm a67ac443f7f6-infra

[2019-11-02 15:13] mheon commented on #4426
Infra containers cannot be removed on their own. The pod they belong to
must be removed, which will remove them.

On Sat, Nov 2, 2019, 10:09 xiaobo <notifications@github.com> wrote:

[2019-11-03 00:58] mheon commented on #3492
@edsantiago Still an issue?

[2019-11-03 01:00] mheon commented on #3561
Support for squashing down to a single user has been added to Podman, which ought to resolve this

[2019-11-03 01:00] #3561 closed

[2019-11-03 01:02] mheon commented on #4061
Did we ever get a runc issue filed for this one?

[2019-11-03 01:02] mheon commented on #4182
I think this one is was fixed by our XDG_RUNTIME_DIR fixes?

[2019-11-03 01:02] #4182 closed

[2019-11-03 01:04] onlyjob commented on #3294
@github-actions, I object to automatic closure. Even when the issue can not be fixed promptly it is still a valid issue and it does not hurt to keep it opened until it can be addressed.
Auto-closing issues is a bad practice.

[2019-11-03 02:04] mdempsky opened #4429 "Relative path in ENTRYPOINT handled differently than Docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman handles relative paths in ENTRYPOINT differently than docker does.

It also doesn't preserve empty WORKDIRs.

**Steps to reproduce the issue:**

Given this Dockerfile:

[code]

Docker runs the container as I expect:

[code]

But podman does not:

[code]

Two related but more hypothetic

[2019-11-03 07:05] smekkley commented on #3917
Probably you are missing `-v /dev/fuse:/dev/fuse` and option or configuration to use fuse-overlayfs, or fuse might be too old on your system. I put vfs as an example because it's more portable. With vfs, you don't have to expose anything from the host, it'll probably succeed as long as you use the right buildah version.

[2019-11-03 09:14] ephracis commented on #4191
Any update on when we can expect to see 1.5 or 1.6 in CentOS (or a 1.4.5 with the fix backported)?

[2019-11-03 09:30] vrothberg commented on #4061
I didn't notice this was assigned to me, apologies. Given I'll be on the road for a while, I unassigned myself.

[2019-11-03 09:32] vrothberg commented on #3294
@onlyjob, we configured it that way on purpose.

[2019-11-03 10:42] rhatdan commented on #4429
This would be a Buildah bug, and should be moved over there, once it is fixed there it would get revendored into Podman

[2019-11-03 10:42] rhatdan commented on #4429
@TomSweeneyRedHat PTAL

[2019-11-03 10:44] rhatdan commented on #4191
@lsm5 Pointers?

[2019-11-03 10:49] rhatdan commented on #4061
@giuseppe crun is fixed, not sure abour runc.

[2019-11-03 10:52] rhatdan commented on #3917
BTW, I was doing some experimenting with podman in a locked down Podman container, on Friday.  Made some progress, and sent information to podman.io mailing list.  Will continue working and diagnosing what is going on next week.

[2019-11-03 10:53] rhatdan commented on #3679
@junaruga Any progress?

[2019-11-03 10:53] rhatdan commented on #3575
@QiWang19 What is the state of this issue?

[2019-11-03 10:54] #3565 closed

[2019-11-03 10:56] rhatdan commented on #3550
@QiWang19 @jwhonce I think we talked about this a while ago, but we still have not pursued it, correct?

[2019-11-03 10:57] rhatdan commented on #3540
I believe this is fixed, Reopen if I am mistaken.

[2019-11-03 10:57] #3540 closed

[2019-11-03 10:57] rhatdan commented on #3535
@mheon I think this is still important.  Have you been able to make any progress on this?

[2019-11-03 10:59] rhatdan commented on #3387
@mheon @baude What should we do with this one?

[2019-11-03 11:00] evelineraine opened #4431 "`dnf install -y` in a container gets `SIGPIPE` on GPG key import prompt"
/kind bug

**Description**

*Note: DNF is used here as an indicator of something going wrong with STDIN*

When running `dnf install -y` inside a container, which has a repo with `repo_gpgcheck=1`, DNF tries to read from `stdin` on GPG key import (which it shouldn't, just a bug), and fails with *Broken Pipe* in some scenarios when TTY is not available, but it works fine in others. This seems due to

[2019-11-03 11:00] rhatdan commented on #3359
Here we are nearly three months later and in the same state...

[2019-11-03 11:01] rhatdan commented on #3302
@haircommander Did your merge fix this issue?
@edsantiago Could you check if this issue is fixed now?

[2019-11-03 11:04] rhatdan commented on #3294
@onlyjob We have configured this to give us a wakeup and to attempt to rediagnose the issue.  As the issue list becomes longer and longer, we loose the signal overtime.  At least this causes us to revisit issues every 30 days and hopefully close some if they are fixed, or update the priority.

[2019-11-03 11:09] towe75 commented on #3387
@rhatdan for sure it is not your primary goal to become fully nomad compatible. People will find this issue/thread even if it's closed and perhapts they stumble upon my POC. Also i plan to improve this plugin in my spare time, although i did not get a lot of feedback yet. A interesting experiment will be to map nomad groups to podman pods, in example.
To sumarize: i would close this issue.

[2019-11-03 13:21] larsks opened #4432 "podman play kube ignores hostNetwork directive in pod description"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman play kube` does not respect the `hostNetwork` parameter in a pod spec.

**Steps to reproduce the issue:**

1. Create a pod description that uses the `hostNetwork` parameter:

[code]

2. Examine the container network configuration.

[code]

3. See that the container has an isolated net

[2019-11-03 14:01] zem opened #4433 "Feature Request: podman pod start cant yet be used from systemd"
While i was playing around with podman I wondered why it is that  systemd startup is so overcomplicated.

My problem is that I can either start single containers by writing a systemd init script for each container or i can use generate, which i have to redo each and every time a container upgrades.

So why is it that I cant just write an systemd template like so:

[code]

Once I have configured my

[2019-11-03 14:43] vrothberg commented on #4433
Hi @zem, thanks for reaching out. Have you looked into using [podman generate systemd](https://github.com/containers/libpod/blob/master/docs/source/markdown/podman-generate-systemd.1.md)? It will generate a set of services for a pod. Not only for the infra container but also for the containers, to allow for individual restart policies and proper dependency management via systemd.

[2019-11-03 14:48] larsks opened #4434 "podman pull should throw an error if a "docker-daemon:foo" is missing the tag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman pull docker-daemon:image` should fail with an error, rather than trying to fetch an image from remote registries.

**Steps to reproduce the issue:**

1. Attempt to `podman pull docker-daemon:foo`, neglecting to provide a tag.

**Describe the results you received:**

podman attempted t

[2019-11-03 15:48] NotAFile commented on #3245
It does not look like ipv6 is available as of 1.6.2, fedora 31:

[code]

Is there a current tracking issue for ipv6 support?

[2019-11-03 16:02] evelineraine opened #4435 "`podman import` from a tarball doesn't preserve metadata"
/kind bug

**Description**

I am creating a container image using Buildah and setting several `Label` and `Annotation` values. After committing this image, it has every piece of metadata - labels and annotations - set properly. After `buildah push oci-archive:` one of the blobs in the TAR has all the metadata fields. Doing `podman import` of the TAR, adds the image to Podman without any metadata.

[2019-11-03 16:31] zem commented on #4433
Hi @vrothberg  yes I have looked into generate if that was not clear from my second paragraph.
I have some problems with podman generate systemd:

First of all it generated all unit files cat together on stdout, leaving me up with an editor to tear them apart. (i know i can do that with a script, too)

Secondly, those init scripts are pinned to the container-ids and those are changing weekly if no

[2019-11-03 18:14] vrothberg commented on #4433
There's a CLI flag `--files` which instructs Podman to generate files instead of printing on stdout. We added it to make it more user-friendly and to prevent users from having to untangle the big output.

There's the `--name` flag which will instruct Podman to use the name instead of the ID of a pod/container. However, any generated file will still be specific to each individual (infra) container.

[2019-11-03 20:04] mdempsky commented on #4429
The empty WORKDIR sounds like a buildah issue to me.

But I think the relative ENTRYPOINT is a podman issue, as `docker build` preserves the relative path in the container's ENTRYPOINT too:

[code]

[2019-11-03 20:31] zem commented on #4433
Oh I somehow overlooked the --file option.

tbh i did not understand immediately why using --restart=always is not sufficient, but you are probably referring to those conmon processes (one for each container) I guess if one of those fails without warning it can cause trouble.

Anyway, having the pid file accessible under the container name sounds very good to me. :)

[2019-11-03 20:39] mheon commented on #4433
I wonder if adding a container name -> ID symlink somewhere might be worthwhile - an easy filesystem way of identifying the specific container associated with a name... Probably not worth it unless we're going to expose a lot more via the filesystem than we do now, though.

[2019-11-03 20:39] mheon commented on #4429
You're right - the entrypoint is definitely a Podman issue. I'll take that one.

[2019-11-03 21:25] Gigadoc2 commented on #3245
@NotAFile: IPv6 is available in the sense that you can have containers with one or more ipv6 addresses, and they can talk to stuff (provided that you set up some routing or something, the CNI plugins do not seem to offer ipv6 NAT or anything similar).
Have you changed the default network configuration? Because the default podman CNI config does unfortunately not include any ipv6 configuration, pro

[2019-11-03 21:30] mheon commented on #3245
The two main things we need on the Podman side are:
- Support for static IPv6 addresses
- Support for IPv6 port forwarding

Both have support in CNI and OCICNI, so it's just a matter of plumbing them through from the frontend.

Unfortunately, the matter of enabling IPv6 by default in our CNI configs is substantially more difficult. We may require users to manually add a routed prefix to their CNI

[2019-11-04 00:15] mheon commented on #2013
#4165 is merged, closing

[2019-11-04 00:15] #2013 closed

[2019-11-04 00:16] mheon commented on #2070
Closing in favor of #3535

[2019-11-04 00:16] #2070 closed

[2019-11-04 00:17] mheon commented on #3195
I think we have another issue already open for this?

[2019-11-04 00:17] #3195 closed

[2019-11-04 00:18] mheon commented on #3195
#3932

[2019-11-04 02:03] NotAFile commented on #3245
In the CNI plugin linked, I can also find the `dhcp` metho, which uses an external dhcp server. Given that, shouldn't it also be possible to support external slaac or dhcpv6 for ipv6?

[2019-11-04 02:57] mheon commented on #3245
With IPv4, there's a generally-accepted best solution for internal networks for containers and VMs in the form of NAT. With IPv6, we don't like NAT because it breaks end-to-end reachability, so we don't have such a convenient solution. I recall a discussion in IRC a few weeks ago on IPv6 where user-supplied routed prefixes, prefix delegation, and 6to6 NAT were all suggested, all with pros and cons

[2019-11-04 03:39] Gigadoc2 commented on #3245
Though, with IPv4 NAT, you also don't have any end-to-end reachability, so technically NAT66 is not worse than NAT44, right?
I mean the main reason to avoid NAT with IPv6 probably is that it was designed to obsolete the need for it, so one is naturally reluctant to use it again. But for VMs and containers on traveling notebooks I also don't really see how NAT can be avoided...

I'd like to talk (a

[2019-11-04 04:30] QiWang19 commented on #3575
I haven't started working on this issue.

[2019-11-04 07:12] NotAFile commented on #3245
I agree that there is a not a universal solution. Static, globally routable addresses and dynamic network configuration are pretty fundamentally at odds. I think defaulting to NAT66 for local development and encouraging static IPv6 or DHCPv6 PD for servers covers both of the common cases very well though.

[2019-11-04 07:16] vrothberg commented on #3264
That's something we can discuss next week. Would love to here @mtrmac's thoughts on it.

[2019-11-04 07:21] vrothberg commented on #2909
Any updates on this issue?

[2019-11-04 07:22] vrothberg commented on #2808
@baude, what's your take on the issue?

[2019-11-04 07:26] vrothberg commented on #2791
We have a team meeting next week where we will discuss the issue. @saschagrunert, hopefully we come up with a plan to move things forward where we can collaborate across the projects, teams and companies :) We'll reach out.

[2019-11-04 07:40] #4409 closed

[2019-11-04 07:44] XVilka commented on #4411
Sorry, I don't have much experience with Go.

[2019-11-04 07:58] saschagrunert commented on #2791
Sounds good, thanks for the update @vrothberg :blush:

[2019-11-04 08:31] pkratoch opened #4436 "podman still fails after adding subuid/subgid ranges"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hello, I want to ask how to recover from the following state:

I have large UID, so useradd didn't create subuid and subgid ranges. I ran podman a few times and it failed. So, I discovered the subuid/subgid ranges missing and added them manually, but podman still doesn't work.

I managed to r

[2019-11-04 08:55] giuseppe commented on #4436
as the warning is suggesting you, you may need to recreate the user namespace:
[code]

Could you try using `podman system migrate` and then try creating the container again?

[2019-11-04 09:14] pkratoch commented on #4436
``podman system migrate`` did not resolve my issue, I still get the same warnings and errors as before. Is there any other way to "recreate the user namespace"?

[2019-11-04 09:21] giuseppe commented on #4436
so if I read above correctly, you UID for `user1` is `100000` and you are adding an additional subuid range `100000-165536`?

That won't work as the ID `100000` is present twice, once as your ID, another time as part of the additional ids.

[2019-11-04 09:55] pkratoch commented on #4436
You are absolutely right! If I make the ranges e.g. ``200000-265536`` instead, the migrate command works. I am closing this as the problem was on my side. Thank you for investigating this and explaining me what's wrong.

[2019-11-04 09:55] #4436 closed

[2019-11-04 13:25] rhatdan commented on #4436
@giuseppe seems like something we should report an error to the user.  Something like Your UID can not be in the range of subuids or subgids.

[2019-11-04 14:11] TomSweeneyRedHat commented on #3111
Just going to add a comment as this would be a nice to have.

[2019-11-04 14:27] TomSweeneyRedHat commented on #3255
I've added the do-not-close label.  Looks to be around still in 1.6.2 anyway.

[2019-11-04 14:29] nalind commented on #3255
Yeah, this would have been fixed by #4310, but that was after 1.6.2.

[2019-11-04 14:58] edsantiago commented on #3492
@mheon as best I can tell this is fixed in podman-1.6.2-2.fc30. Closing. Thank you!

[2019-11-04 14:58] #3492 closed

[2019-11-04 15:08] #4383 closed

[2019-11-04 15:14] haircommander commented on #3302
I'm not sure this issue is fixed yet

[2019-11-04 15:14] haircommander commented on #3653
Nope, haven't found the time unfortunately

[2019-11-04 15:18] rhatdan commented on #4431
@haircommander @mheon PTAL

[2019-11-04 15:21] rhatdan commented on #4432
@haircommander Or anyone else. Seems like this would be a good fist issue.
@larsks Would you be interested in attempting a PR to fix this?

[2019-11-04 15:23] rhatdan commented on #4434
@giuseppe and/or @vrothberg PTAL

[2019-11-04 15:26] vrothberg commented on #4434
I'll take a look

[2019-11-04 15:27] TomSweeneyRedHat commented on #4434
Is it supposed to append `:latest` if a tag is not provided?

[2019-11-04 15:31] rhatdan commented on #2979
@giuseppe Any update on this?

[2019-11-04 15:32] rhatdan commented on #2957
@haircommander Any chance you could look at this?  Or maybe I will grab it.

[2019-11-04 15:35] rhatdan commented on #2669
This is still a good issue, not sure when we can get someone to work on it?
@mtrmac @vrothberg PTAL

[2019-11-04 15:38] haircommander commented on #2957
Yeah I'd like to get #4265 in, then start unifying the namespace workflow for pods

[2019-11-04 15:39] haircommander commented on #4432
I hope the work beginning in https://github.com/containers/libpod/issues/2957 will solve this

[2019-11-04 15:42] larsks commented on #4432
Note that this isn't "just" a `play kube` issue: we also need to update `podman pod create` to allow setting the network mode, and `podman generate kube` to generate correct YAML for pods in host network mode.

[2019-11-04 15:44] lejmr commented on #2886
I am experiencing the same on CentOS 8.

[2019-11-04 15:51] rhatdan commented on #3264
Added.

[2019-11-04 15:52] rhatdan commented on #2909
@mheon Is this fixed in 1.5.2?

[2019-11-04 15:53] mheon commented on #2909
No. That's `podman network create`. CNI error messages are still not landed.

[2019-11-04 15:54] rhatdan commented on #2808
I think this is a good issue, and should be something we work on and support.
@giuseppe Would you look into it?

[2019-11-04 15:55] rhatdan commented on #2791
Perhaps we could setup a Blue Jeans for @saschagrunert to join.

[2019-11-04 15:56] mheon commented on #2886
The original issue here, or the newer one where containers stop communicating after several days/weeks?

[2019-11-04 16:01] lejmr commented on #2886
My containers actually never start to communicate at all.. I get there is no name resolution like with docker, and I am ok with that.. I tried to publish ports to host, but from other container at the same host I cant get to the port. I can connect the published port from other server without any problem.

[2019-11-04 16:02] mheon commented on #2886
Are you trying to communicate with the other containers via their assigned IPs, or via the IP of the host? We expect the former to work, but not the latter.

[2019-11-04 16:09] lejmr commented on #2886
I confirm that, I can connect to the IP:PORT using internal CNI network, but since there is no name resolution and these IPs are changing, I can use it.. I forgot to mention this works.. Which is quite a suprise since documentation says this should only work for containers being part of a pod..

[2019-11-04 16:09] giuseppe commented on #4344
opened two PRs:

https://github.com/containers/libpod/pull/4438
https://github.com/rootless-containers/slirp4netns/pull/158

[2019-11-04 16:33] shaicoleman commented on #4213
Podman 1.6.3 not on Ubuntu not built

[2019-11-04 16:45] rhatdan commented on #3111
Yes, I think I will go through some of these play kube issues and implement them.

[2019-11-04 16:49] rhatdan commented on #3255
Since this is fixed in 1.6.3 closing.

[2019-11-04 16:49] #3255 closed

[2019-11-04 16:50] vrothberg commented on #4434
Right on the spot, @TomSweeneyRedHat. That's exactly the problem here. Looks like Podman is jumping back to the docker transport for unqualified images without a tag.

[2019-11-04 16:55] junaruga commented on #3679
@rhatdan sorry for the late response. I just sent a pull-request to update the "Installation - Ubuntu" document. For the testing through Cirrus I want, related to your comment https://github.com/containers/libpod/pull/4160#issuecomment-537254738 , no progress so far.

[2019-11-04 17:01] rhatdan commented on #3653
@giuseppe Any chance you could look at this?

[2019-11-04 17:03] edsantiago commented on #3302
Still present in podman-1.6.2-2.fc30 and in master @ efc7f1557b4af90263f4f07e5e576b02e839fad1

[2019-11-04 17:17] edsantiago commented on #3808
I think this is fixed, or at least partly so:
[code]
However, there's a new weirdness going on, and I think this may be related to some CI failures we were discussing last month: `podman-remote rm -f` is returning immediately, even before the container exits:
[code]
That is: I background-run a `sleep` container and immediately try to `rm` it. The `rm` command exits immediately, and then, five seco

[2019-11-04 17:27] edsantiago commented on #3808
Update: The exit-status bug was fixed in #3934, and CI tests were enabled then for podman-remote. Thanks, Dan.

Closing, but someone please lmk if the above immediate-exit concern deserves an issue.

[2019-11-04 17:27] #3808 closed

[2019-11-04 18:29] mheon commented on #4429
@mdempsky I cannot reproduce on Podman 1.6.2 or Master, root or rootless - it's running `apt` exactly as you would expect it would.

[2019-11-04 19:03] alitvak69 commented on #4213
I thought that 1.6.3 was not released yet.

[2019-11-04 20:20] evelineraine commented on #4435
Oh... I didn't think about `pull` for image tarballs 😅
Everything works just right now. Thank you!

[2019-11-04 20:20] #4435 closed

[2019-11-04 21:18] mdempsky commented on #4429
@mheon To be clear, you're saying that this Dockerfile builds and runs with podman for you?

[code]

I'm still able to reproduce the issue locally on Fedora 31 using podman/buildah installed via dnf.

I'm trying to figure out the best way to make this standalone reproducible, but I'm not that familiar with containers and currently running into issues running podman inside of docker/podman. Going t

[2019-11-04 21:37] mheon commented on #4429
Yes - I built the Dockerfile you provided and ran it via `podman run -t -i --rm $IMAGE` and it successfully printed the output of `apt version`. In the debug logs, I can see the relative path is being used in the container command.

[2019-11-04 22:07] mdempsky commented on #4429
@mheon What OCI runtime are you using? Could it be an issue with crun specifically? Looking at strace -f output, I see a process trying to stat "/usr/bin/./apk-copy", etc., and it looks like it's from /usr/bin/crun.

[2019-11-04 22:08] mheon commented on #4429
I'm on `runc` - this definitely sounds like it could be a `crun` issue

@giuseppe PTAL

[2019-11-04 22:13] mdempsky commented on #4429
Oh, looks like containers/crun#133.

Should I just file the empty WORKDIR issue against buildah and close this issue then?

[2019-11-04 22:16] mheon commented on #4429
That sounds appropriate to me

[2019-11-04 23:07] mdempsky commented on #4429
Hm, actually the empty workdir problem goes away once I switch from `podman build` to `buildah bud`.

That is, given:

[code]

This works:

[code]
but this doesn't:

[code]

More curiously, `buildah version` reports 1.11.3, and containers/libpod@v1.6.2's go.mod pins github.com/containers/buildah v1.11.3.

[2019-11-05 00:28] TomSweeneyRedHat opened #4445 "Podman won't install on Fedora 31 after changing cgroup to v1"
On a Fedora 31 machine, I installed Docker with `dnf -y install moby-engine` and then followed this procedure to set cgroup from the default v2 to v1:

[code]

Then after creating a few containers using Docker after the reboot, I installed podman and received this:

[code]

It was installing latest Podman, I believe v1.6.2.

[2019-11-05 06:29] rgolangh commented on #4210
F31 upgrade, podman v1.6.2, `libpod.conf` removed, running `rootless`,  and now trying to start a previously stopped container:
[code]

Inspecting:
[code]

This was working on F30.

[2019-11-05 06:40] vrothberg commented on #1911
Still something desirable but no progress. I'll add the label.

[2019-11-05 06:45] vrothberg commented on #4185
@giuseppe @rhatdan @mheon how can we proceed?

[2019-11-05 06:59] paravz opened #4446 "systemd --user session broken in fedora:31 container"
/kind bug

**Description**
"Interactive" sessions broken for users inside of Fedora 31 NON-privileged systemd container:
  - systemd-logind doesn't start
  - any user auth takes ~25 seconds, including su, sudo, etc

This might be a fedora31/systemd-243 issue, since on the same host, fedora30 container works as expected (since https://github.com/containers/libpod/issues/3459 was fixed)

**Steps to

[2019-11-05 07:51] mheon commented on #4210
Can you check in inspect if the container's runtime is set to `crun` or `runc`? I suspect your container is still on the `runc` runtime, and you'll need to run `podman system migrate --runtime crun` to get it on `crun`.

[2019-11-05 07:55] #4344 closed

[2019-11-05 08:19] #3387 closed

[2019-11-05 08:19] giuseppe commented on #4185
I've added an annotation to crun to keep secondary groups inside of the container:

https://github.com/containers/crun/pull/149

crun 0.10.4 has this feature.

To use it from Podman  you can use `--annotation io.crun.keep_original_groups=1`.

There is an open issue for making this feature part of the OCI specs, until then it is a crun-only feature.

[2019-11-05 09:00] giuseppe commented on #3653
I've opened a PR for conmon: https://github.com/containers/conmon/pull/81

That is not enough, we still need to add the Podman side

[2019-11-05 09:11] rhatdan commented on #4213
It is semi-released.  We have not built packages for Fedora yet.
@mheon What is the state?

[2019-11-05 10:18] giuseppe commented on #2808
I think we need to address `pod create` issues as a bigger epic.

https://github.com/containers/libpod/issues/3993 is a similar issue.

We need to change `podman create` to acces the same set of options we have for `run` and `create` and apply them to the infra container.

[2019-11-05 10:20] giuseppe commented on #2808
alternatively, we could have something like `podman pod create --infra-container=EXISTING_CONTAINER_ID`

Where `EXISTING_CONTAINER_ID` is an already configured container, that is not part of any other pod.

In this way we allow even more flexibility as the container can be customized between its `create` and `pod create`

[2019-11-05 10:21] giuseppe commented on #3993
what about the idea here: https://github.com/containers/libpod/issues/2808#issuecomment-549759625 ?

These are two similar issues, that we can tackle together

[2019-11-05 11:08] giuseppe commented on #4446
that looks like a change in systemd, I can confirm `fedora:30` works fine for me as well on a Fedora 31 host with cgroups v2 enabled while `fedora:31` fails with the same error message:

[code]

Could you file an issue with systemd?

[2019-11-05 11:13] giuseppe commented on #4445
I don't think the error is related to the version of cgroup you are using.

Could you try running `dnf` with `--verbose`?

[2019-11-05 12:05] rhatdan commented on #1671
Don't see any reason to close this one.

[2019-11-05 12:06] rhatdan commented on #1826
PR Is still out there.

[2019-11-05 12:52] rhatdan commented on #1579
@edsantiago Is this still an issue, or has it been fixed?  crun or runc?

[2019-11-05 12:53] rhatdan commented on #1433
@kunalkushwaha I still working on this, correct?

[2019-11-05 12:56] rhatdan commented on #1136
Since we have a PR for this, we are not that far away from gaining support.  We need someone to take over for @filak-sap to push it over the finish line.

[2019-11-05 12:57] rhatdan commented on #713
@nalind Added support for Buildah, need someone to copy that support into Podman.

[2019-11-05 13:45] edsantiago commented on #1579
Let's just close this; it's too much of a corner case to make sense spending time on.

FWIW with podman-1.6.2-2.fc30 I see:
[code]
With podman-1.6.2-2.fc31 I see no error, even with five containers running simultaneously.

[2019-11-05 13:45] #1579 closed

[2019-11-05 14:25] #4434 closed

[2019-11-05 14:28] lfarkas opened #4450 "podman pull not working with oci-archive:path"
podman pull (version 1.6.2) on fedora-31 not working with oci-archive:...
I've created the tar with [jib](https://github.com/GoogleContainerTools/jib) the created tar contains config.json and manifest.json but when I try to pull it with:
`podman pull oci-archive:/home/lfarkas/work/vidux/vidux/java/face/app/build/jib-image.tar`
I've got this error:
`Error: error pulling image "oci-archive:/home/lfa

[2019-11-05 14:40] mheon commented on #4213
It is released, but we're probably not building for Fedora. We're going to get a few more patches landed and make a separate 1.6.4 release specifically for Fedora (to better handle the F31 cgroupsv2 migration, among other things).

[2019-11-05 15:00] #4445 closed

[2019-11-05 15:16] baude commented on #4450
@TomSweeneyRedHat PTAL

[2019-11-05 15:23] baude commented on #3359
@vrothberg PTAL

[2019-11-05 15:24] mheon commented on #4450
Per the OCI image spec, there must be an `index.json` file present in OCI format images: https://github.com/opencontainers/image-spec/blob/master/image-layout.md

It does not sound like Jib is producing valid OCIv1 format images if this file is missing.

[2019-11-05 17:11] vrothberg commented on #4450
I concur with Matt.

On Tue 5. Nov 2019 at 15:59, Matthew Heon <notifications@github.com> wrote:

[2019-11-05 17:16] lfarkas commented on #4450
sorry than i report it to jib

[2019-11-05 17:16] #4450 closed

[2019-11-05 18:33] debarshiray opened #4452 "/sys/fs/selinux gets mounted in rootless mode when both '--network host' and '--privileged' are used"
/kind bug

**Description**

Looks like https://github.com/containers/toolbox/issues/47 has raised its head [again](https://bugzilla.redhat.com/show_bug.cgi?id=1768075).

An instance of `selinuxfs` is getting mounted at `/sys/fs/selinux` when both `--network host` and `--privileged` are used.

Compare:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**

[2019-11-05 19:24] #4363 closed

[2019-11-05 20:24] martinpitt commented on #4452
Thanks @debarshiray for your detective work!

[2019-11-05 21:55] sergejbut opened #4454 "Can't connect to exposed port (database)"
/kind bug

**Description**

Can't connect to exposed port (database)

**Steps to reproduce the issue:**

1. `sudo podman run --name some-mysql -e MYSQL_ROOT_PASSWORD=root -d -p 3309:3306 docker://mysql:8`

2. `sudo podman ps -a`
-> Port is exposed

3. Connect to the database: <host_ip>:3309, user:root, pass:root

**Describe the results you received:**
`java.net.ConnectException: Connection refused

[2019-11-05 22:39] DaanDeMeyer opened #4455 "Pinging container from host"
Hi,

I'm sorry if this has already been asked but I didn't manage to find any related Google search results.

What I'm looking to do is to use podman to start a development environment that I can ssh into using VSCode's Remote SSH support (until they natively support podman). With a default rootless container, `slirp4netns` is used which allows me to ping the host ip from the container but doesn't

[2019-11-05 22:46] edsantiago opened #4456 "reminder: rootless, rawhide: spurious warnings"
Just a reminder that gating tests are broken for rootless on rawhide due to spurious warning messages:
[code]
It seems possible that this is an unintended side effect of #4352. This is something for @vrothberg to look at once he's back. I'm filing issue so it doesn't get forgotten.

First build showing this problem: ca4c24c

[2019-11-05 22:46] mheon commented on #4455
We presently do not support joining rootless containers to networks. It requires privileges that Podman does not possess when run without root. As such, rootless containers do not have IP addresses, and cannot be pinged directly.

[2019-11-05 22:47] mheon commented on #4456
Why are we printing warning messages again? I remember fixing that.

[2019-11-05 22:48] edsantiago commented on #4456
@mheon I believe it is a side effect of the config-parsing changes in #4352

[2019-11-05 22:50] mheon commented on #4456
I think it's the code in the `init()` block in `main_local.go`. It's running before we properly set log level.

We should investigate moving it into `Before()` which contains most of our init logic.

[2019-11-06 00:55] sshnaidm commented on #4156
So, is it possible to have one variable for remote connection configuration like it's in docker?

[2019-11-06 00:56] kunalkushwaha commented on #1433
@rhatdan Yes, I am working on this.
The https://github.com/containers/storage/pull/438 & https://github.com/containers/libpod/pull/4209 PRs to fix this issue.

Once c/storage  have `ImageMount()` interface, #4209 can be fixed.

[2019-11-06 07:17] DaanDeMeyer commented on #4455
Is the recommended alternative to use `--network=bridge`?

[2019-11-06 07:18] afbjorklund commented on #4156
Should be trivial to add yet another variable, and parse it as a fallback.

[2019-11-06 07:20] jbertozzi commented on #3821
Hello,

I encounter the same issue. Would it be possible to re-open the issue?

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

"podman rm --force" does not kill the container. Same behavior running the container rootless or not.

**Steps to reproduce the issue:**

1.  podman run -d  --name wp_db -v /var/tmp/mysql:/var/lib/mysql -e MYSQL_D

[2019-11-06 07:26] mheon commented on #4455
That is not available for rootless containers - again, no privileges to properly join the bridge. If you are running as root, the default bridge network will give each container a distinct IP, which will do what you're looking for.

[2019-11-06 07:58] vrothberg commented on #4456
I suggest removing the config generation entirely, see https://github.com/containers/libpod/pull/4457.

[2019-11-06 08:07] jonasbartho opened #4458 "latest version of podman on flathub?"
Hi,

Can you guys do an effort to also offer the latest version of podman through flathub(flatpak), not only as a snap package? :)

Kinds regards,
Jonas

[2019-11-06 09:24] DaanDeMeyer commented on #4455
I managed to get ssh access (on a rootless container) by using port mapping. Thanks for the quick responses!

[2019-11-06 09:24] #4455 closed

[2019-11-06 10:15] orpheusgame commented on #4210
I have a similar issue in Fedora 31, where podman is working under root but as user I receive the following error:

'''
Error: could not get runtime: unknown event logger type:
'''

I ran the command to migrate to the new runtime but the problem persists. Also, there is no libpod.conf.

[2019-11-06 10:19] rgolangh commented on #4210
I couldn't get the migrate to do it. It simply ignored the migrate. Eventually I had to recreate the container.

[2019-11-06 11:08] giuseppe commented on #4446
thanks!  Since there is systemd issue to track the regression, I am going to close this.

[2019-11-06 11:08] #4446 closed

[2019-11-06 11:50] #4456 closed

[2019-11-06 12:44] pkubatrh opened #4460 "podman exec with heredoc results in read: connection reset by peer"
/kind bug

**Description**

Recently I noticed our CI test failing when exec-ing into a running postgresql container and feeding it input using heredoc.

**Steps to reproduce the issue:**

1. podman run -e POSTGRESQL_ADMIN_PASSWORD=test -d --name postgresql registry.access.redhat.com/rhscl/postgresql-10-rhel7

2. podman exec -i postgresql cat <<EOF
testing input
EOF

**Describe the results you rec

[2019-11-06 12:46] pkubatrh commented on #4460
Ah sorry, I see its probably a dupe of  #4326. Should have searched before posting :/

[2019-11-06 12:46] #4460 closed

[2019-11-06 12:49] vrothberg commented on #4460
Thanks a lot for reaching out, @pkubatrh! I also think that it's a dupe of #4326 which will be fixed with Podman v1.6.3 which will reach you soon on Fedora.

[2019-11-06 13:39] edsantiago commented on #4456
Followup: #4457 seems to have fixed the spurious warning messages, thank you. But gating tests are now [failing rootless](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/7152/pipeline/#step-248-log-958) with:
[code]
It'll take me a little while to look into it; am commenting simply in case it elicits

[2019-11-06 13:44] vrothberg commented on #4456
Great, happy we could tackle it so quickly!

@edsantiago did this work before? I think we have two options: 1) force the gating tests to use `crun` or 2) force `crun` in the `config.Config` logic. Cc @mheon

[2019-11-06 13:48] edsantiago commented on #4456
Before what? :-/ Gating tests were passing in 1e750f7, October 31, and I'm pretty sure that was with crun.

[2019-11-06 13:52] vrothberg commented on #4456
@edsantiago, the error message indicates that we're running `runc`. I don't know how these tests are run, so I wonder what has changed. Let's make it a PS?

[2019-11-06 14:14] TomSweeneyRedHat commented on #4458
@lsm5 PTAL

[2019-11-06 14:30] lsm5 commented on #4458
I'd love to see this included, but I can't invest any time myself atm :( . @abitrolly any chance you'd be interested? :crossed_fingers: :) ?

If not, @TomSweeneyRedHat @baude @mheon @rhatdan we should reach out to the community.

[2019-11-06 14:42] TomSweeneyRedHat commented on #3821
I'm going to reopen given @jbertozzi 's report

[2019-11-06 15:21] mheon commented on #4210
@orpheusgame You almost certainly have a `libpod.conf` - rootless Podman will automatically create one if it doesn't exist. Are you sure that there is no `~/.config/containers/libpod.conf`?

[2019-11-06 15:25] orpheusgame commented on #4210
@mheon yes turns out there was one in the location you mentioned from fedora 30 (i upgraded yesterday). i removed it and podman regenerated one on its own. now everything is fine, no sudoers group required. good stuff.

[2019-11-06 16:50] mheon commented on #4217
Sorry for the delay, #4462 to fix

[2019-11-06 17:26] alitvak69 commented on #4213
Nevertheless @lsm5 could you please check if the release can make it to ppa?  There are definitely some bug fixes I and others can be interested in.

[2019-11-06 17:49] giuseppe commented on #4452
personally I'd prefer to solve it with something like `--mount type=tmpfs,target=/sys/fs/selinux` but we need a way to disable `tmpcopyup` from the options otherwise it cannot be used for this specific case.

[2019-11-06 18:01] mtrmac commented on #2317
… and it is injecting new roots of trust into the container that the container may not expect / want. (That’s not really a security issue, because the host can always subvert the security of the container, but it can be surprising/undesirable for CaaS platforms.)

I do agree that it is a pretty useful feature to have.

[2019-11-06 18:18] mtrmac commented on #3761
https://github.com/containers/libpod/issues/3761#issuecomment-520180830 says edit the consumers _first_, then add the producing side. Quickly re-reading that, I’m not quite sure that ordering is necessary, but adding extra names with digests can affect the current code manufacturing artificial `RepoDigests` values, and reviewing that code to make sure it won’t break anything and would probably be

[2019-11-06 19:05] edsantiago opened #4463 "rawhide, rootless: podman is defaulting to runc (and failing)"
Brand-new rawhide virt, brand-new user, brand-new first-time invocation of podman:
[code]
My hunch is that the new config code is not writing a `libpod.conf`, and then it's not picking up the proper `crun` default:
[code]
I can't actually get it to work even if I manually create a libpod.conf:
[code]
I'm getting into diminishing-returns territory. Please ping me for more info or if there's somethi

[2019-11-06 19:09] mheon commented on #4463
I think this is an unanticipated consequence of our reverting the Fedora-specific CGroups v2 patches for the 1.6.3 stable release for RHEL.

[2019-11-06 19:16] edsantiago commented on #4463
But root works?
[code]

[2019-11-06 19:18] mheon commented on #4463
Hm.

@vrothberg Could this be config file merging getting us?

[2019-11-06 19:19] mheon commented on #4463
I'm sort of suspecting that the default compiled-in configuration is overriding the default libpod.conf setting? Somehow?

[2019-11-06 19:28] TomSweeneyRedHat opened #4465 "Integration tests instructions don't appear to work"
It could be user error, but I can't run a test using the below instructions:
https://github.com/containers/libpod/tree/master/test#running-a-single-integration-test

[code]

Yet the equivalent command from the command line succeeds:
[code]

I tried repointing conmon in test/e2e/common_test.go, but that proved not helpful too.

[2019-11-06 20:39] giuseppe commented on #4452
I've opened a PR to add support for `notmpcopyup`: https://github.com/containers/libpod/pull/4466

[2019-11-06 20:46] rhatdan commented on #4452
What is the problem you are trying to solve?  Why is /sys/fs/selinux getting mounted when --privileged?
This would seem to be a problem in that libselinux would start to act on the fact that selinux is enabled and could get permission denied trying to set xattrs.

[2019-11-06 20:52] giuseppe commented on #4452
the feature I've added is more generic, we currently have no way to disable `tmpcopyup`.  It is fine to use it by default, but there should be a way to mount an empty tmpfs

[2019-11-06 21:00] rhatdan commented on #4452
Agree, I like your PR, I am just asking why we are mounting this and what trouble it is causing.

[2019-11-06 21:11] rhatdan commented on #4217
I reject this as a bug.  We don't have to be bug for bug compatible with Docker.  Ignoring this might leave a caller confused because of a typo.  It is better to report the error.

[2019-11-06 21:19] rhatdan commented on #4156
@afbjorklund or @ssbarnea could you open a PR for this feature?

[2019-11-06 21:55] duritong opened #4467 "slirp4netns socket path can get too long in tmp_path"
/kind bug
**Description**

While playing around I had a podman tmp_path in:
`/run/podman-tmp/verylongnamethatwillnotwork`

When running a rootless pod with a portmaping the pod did not start and podman just hang.

When debugging I figured out aht slirp4netns got started e.g. with the following api path:

`/run/podman-tmp/verylongnamethatwillnotwork/libpod/tmp/a59f251cbed09ec9f9080c58f70a445a639d3c

[2019-11-06 22:11] vrothberg commented on #4463
Rootless is not looking at the system-root config at /etc/containers/libpod.conf and the hard-coded default config always points to `runc`. We decided to remove forcing `crun` on cgroups v2 nodes and I guess that's the unfortunate consequence.

What we could do is to make the runtime of the hard-coded default config use `crun` on cgroups v2 nodes. That's way less brutal than forcing `crun` uncondi

[2019-11-06 22:53] edsantiago opened #4469 "Upgrade woe: 1.4->1.6: Error: could not get runtime: eventer creation: No support for journald logging"
Upgrading from `podman-1.4.2-6.module+el8.2.0+4448+2029f340` to `1.6.2-5.module+el8.2.0+4584+0d586e68` on rhel8, rootless, results in unrunnable podman:
[code]
Removing `~/.config/containers` and `~/.local/share/containers` makes it work again.

I imagine this is a CANTFIX/WONTFIX. Am filing in case it helps someone in the future.

[2019-11-07 02:45] rhatdan commented on #4463
I think we should read the system wide config and then read the local config.  That way we would see the default as crun.

[2019-11-07 04:09] AkihiroSuda commented on #4467
Maybe we should support abstract sockets and/or FD

[2019-11-07 06:11] cwansart commented on #3464
If @TomSweeneyRedHat changes are in the current `quay.io/podman/stable` image inside a Pod in an minikube Kubernetes cluster I still get the same error as above.

When running `docker run -it quay.io/podman/stable podman --log-level=debug info` locally on macOS it still crashes with `could not get runtime: operation not permitted`. Only if I add `--privileged` it works fine.

There is one thing I

[2019-11-07 06:20] vrothberg commented on #4463
We decided against doing that in the design doc to have root be root and rootless be rootless. If a user wants specific setting, they can copy and edit the libpod.conf.

Only if there is an /etc/containers/libpod.conf. If not, we run into very same problem. That's why I think we should default to `crun` in the hard-coded default config. Once `runc` is working, we default to it again (and maybe do

[2019-11-07 07:54] giuseppe commented on #4452
I've not verified but that can be an effect of bind mounting `/sys` and skipping masked paths when `--privileged` is used.

I don't think we should treat `/sys/fs/selinux` different than other masked paths.  If `--privileged` is used and that path must be masked, then it should be done explicitly.

[2019-11-07 08:05] giuseppe commented on #4467
I think it is now fixed with: https://github.com/rootless-containers/slirp4netns/pull/158

Podman won't hang and an error message is printed

[2019-11-07 08:34] marusak commented on #3454
I checked it today on Fedora 30 and Fedora 31 images (with current podman) and it still persists.

[2019-11-07 08:35] rfc1459 commented on #4213
Having 1.6.3 packaged for non-Fedora distros would finally land the fix for #4318, otherwise we'd have to wait for 1.6.5 (given that 1.6.4 would be a Fedora-specific release).

[2019-11-07 08:43] vrothberg commented on #4463
@rhatdan @edsantiago PTAL at https://github.com/containers/libpod/pull/4470

[2019-11-07 12:52] rhatdan commented on #4469
Would `podman system migrate` have fixed your issue?

[2019-11-07 12:53] edsantiago commented on #4469
Good question. I didn't think of it, and no longer have that virt, and am scrambling to figure out the current batch of rhel8 problems right now. Will test if I get a chance today.