[2020-06-28 13:03] skorhone commented on #6734
If I do`podman run --rm -it --systemd=always --env container=oci fedora  /sbin/init` to fedora, I get:

[code]

Command `podman run --rm -it --systemd=always fedora env`:

[code]

If this variable was overridden at system level, where would it be set?

Also, might be worth mentioning, that I have (or had) docker-ce installed on my ubuntu system. Could it have effect on different kind of results e.

[2020-06-28 13:37] baude commented on #6805
I can repro this.  @jwhonce ptal

[2020-06-28 13:43] baude commented on #6796
@skorhone my apologies. you are correct as i misread the report.  this is why i shouldnt work on the weekends.  confirmed as bug.

[2020-06-28 13:54] afbjorklund commented on #6806
As far as I can tell, it is either 7ac3d906b (or maybe 4e2a0b5b9)

Can't seem to find any unit tests for cmd/podman/common/util.go

[2020-06-28 14:05] skorhone opened #6807 "Podman system reset fails, if storage driver has been changed"
/kind bug

**Description**
As a user I expect that podman system reset can be used to recover from most error conditions. Currently if storage driver configuration has been changed and user wants to reset system to use the new configuration, `podman system reset` throws an error.

**Steps to reproduce the issue:**

1. Reset system to clean state: `podman system reset`

2. Set default storage drive

[2020-06-28 14:17] markstos commented on #6734
They come from here, which confusingly includes both "devel" and "stable" in the path:

    deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ /

[2020-06-28 14:28] markstos commented on #6734
Could both be referencing settings in `/etc/containers` or does only Podman use those?

[2020-06-28 14:33] markstos commented on #6734
I investigated my package versions and did some strange things. First, I have a package called `containers-common` installed which is at version `1.0.0`, but the "containers/common" project on Github hasn't reached 1.0.0 yet. I'm not sure what's going on there.  If I look on the Kubic server now, the `containers-common` package is gone and there is a `containers_2` package instead:

https://downlo

[2020-06-28 14:51] mheon commented on #6734
We don't share config files we Docker, so I doubt that's it.

I do wonder if we're looking at different systemd versions here with different support for containers.

[2020-06-28 14:59] mheon commented on #6806
Is that actually legal? Huh. Didn't think it was.

Should be a quick fix, let me grab this.

[2020-06-28 15:10] mheon commented on #6806
#6808 to fix

[2020-06-28 15:38] skorhone commented on #6734
For reference my systemd version using `systemctl --version`:

[code]

[2020-06-28 15:40] skorhone commented on #6734
@markstos I have containers-common at version `1.0.0` as well:

[code]

[2020-06-28 15:55] markstos commented on #6734
@skorhone I believe I have the same:

[2020-06-28 15:56] skorhone commented on #6734
Actually, would this make any difference.

docker-ce package dependencies list containerd.io

[code]

podman has runc, which is marked as conflicting package:

[code]

Now executing `sudo apt install runc` would do following:

[code]

My install order for virtualbox was docker-ce first followed by a podman installation

[2020-06-28 15:59] skorhone commented on #6734
If podman and docker-ce have dependencies to conflicting packages (which they shouldn't since many will run them on same machine), odd things will happen

[2020-06-28 15:59] markstos commented on #6734
Here's my results from further testing today:

 * Upgrading to 2.0.1 did not resolve the issue for me.
 * Adding `--env container=oci` or `--env CONTAINER=oci` did not result change that `container-other` virtualization was detected.
 * I've lost the ability to do rootless builds. This was not due to the 2.0.1 upgrade. I'm no sure what caused it. Building as `root` still works. Here's the build fa

[2020-06-28 16:00] markstos commented on #6734
The `containerd.io` version I have installed is `1.2.13-2`.

[2020-06-28 16:04] markstos commented on #6734
I did not have `runc` installed. I've installed it now.

[2020-06-28 16:32] goochjj commented on #6734
To those it may concern... I just built two identical Ubuntu 20.04 machines.  Installed docker-ce and kubic packages.  (Just for completeness)

One of them I set systemd.unified_cgroup_hierarchy=1 in the grub settings so I would get CgroupsV2, instead of the default which is hybrid.  This one works great!

[code]
And `podman run --rm -it fedora /sbin/init` boots and systemd has absolutely 0 proble

[2020-06-28 17:09] skorhone commented on #6734
I think I figured out why we are seeing different behavior. My cgroups looks following:

[code]

As you can see, I'm running my commands using gnome / xterm. Now, if I drop to console mode, I see exactly same behavior:

[code]

[2020-06-28 17:31] skorhone commented on #6734
Cgroups output when running podman from console:

[code]

File system permissions:

[code]

[2020-06-28 17:50] skorhone commented on #6734
I was able to execute podman succesfully using: `systemd-run --user -P podman run --rm -it fedora /sbin/init`

Clearly something has changed in podman, if you see difference in behavior.

[2020-06-28 18:11] afbjorklund commented on #6806
Thanks! The idea is to pick a random port, where we are tunneling in those services:

* 8443: minikube (custom variant, 6443 kubernetes)
* 22: ssh
* 2376: docker
* 5000: registry

This for compatibility with both virtualbox (host-only network) and docker desktop VM

Otherwise one might as well have used the "front entrance" and used the CNI IP...

[2020-06-28 18:16] goochjj commented on #6734
This works.
`podman --runtime /usr/bin/crun run --rm -it --pids-limit 0 --cgroup-manager systemd fedora /sbin/init`

crun doesn't run, because the spec contains:
[code]
And crun knows it can't implement that with cgroupsv1 (it seems)

To get crun to run it I need to specify both
`--pids-limit 0` to prevent the resources from being set, and
`--cgroup-manager systemd` to get it to use systemd to do

[2020-06-28 18:47] goochjj commented on #6734
Yeah
[code]

[code]

I set user@.service `Delegate=yes` to see if it would help, but it didn't.

So since my ssh session is under my slice, but not under the systemd service, I don't have access to create a subgroup under systemd/unified.

Podman 1.9.3 seems to work around this beautifully.

[code]

vs 2.0.1
[code]

Notable differences:
1) systemd+unified cgroups are descended from user@1000.servi

[2020-06-28 18:48] goochjj commented on #6734
Since I did those last tests with the exact same OCI runtime it has to be in libpod somewhere.

[2020-06-28 19:27] mheon commented on #6806
Reworked to choose a random port, thanks for pointing that out.

[2020-06-28 20:24] afbjorklund opened #6809 "Alternative to sudo, for remote podman"
When transitioning from the sudo varlink bridge to the new rest API, is there an alternative to logging in as root with ssh ?

Like adding a "podman" root-equivalent group, or starting the "podman.sock" socket as some other privileged user* perhaps.

\* I _think_ CoreOS is doing this (for the `core` user) ?

Running rootless isn't the question here, it's about root.

----

Basically wondering what

[2020-06-28 20:25] afbjorklund commented on #6809
Also enquiring about the usual approach to run local podman, currently using passwordless sudo to do it (`sudo -n podman`)

[2020-06-28 20:49] skorhone commented on #6734
I think that the change that caused this issue is this one: #6569

[2020-06-28 21:18] mheon commented on #6734
Hmm. @giuseppe Thoughts, given you're the one that wrote it?

[2020-06-28 22:30] hoshsadiq commented on #4878
I have upgraded to podman 2.0.1, and still getting this issue when using multistage dockerfiles:

[code]

Editing the `COPY` statement to not use variables:
[code]

[2020-06-28 23:42] skorhone commented on #6798
Duplicate of #6084

[2020-06-28 23:42] #6798 closed

[2020-06-28 23:45] skorhone commented on #6084
Please re-open #6798, if you find this unrelated. I closed it for now

[2020-06-29 00:30] DevinBayly commented on #6084
I ran into the same issue with a fresh install of Centos 8 even after modifying the kernel parameters so that cgroups v2  was in use for podman. I feel like I'm still not understanding how to make use of the `cgroupfs` in the cli or if there's supposed to be a config file that I update. The only one I could find was the `~/.config/containers/storage.conf`. Either way I still got
`Error: invalid co

[2020-06-29 03:54] max-arnold commented on #5580
I tried the 2.0.0 release briefly and it doesn't work with SaltStack due to an incorrect date format: https://github.com/containers/libpod/issues/6796

I'll try again once that issue is fixed.

[2020-06-29 07:01] rhafer commented on #6668
I believe for v2.0.X  this will be fixed with: https://github.com/containers/libpod/pull/6786.

[2020-06-29 07:37] skorhone commented on #6806
@mheon Documentation should be updated to reflect this change. There's currently nothing about randomizing port for this operation.

There's also no mention, if you can specify combination of single container port and range of host ports. In this case, host port should be randomized from given range (if you wan't to follow docker's implementation)

[2020-06-29 07:37] vrothberg commented on #6793
Thanks for opening the issue!

Indeed, we regressed on it. Absolute time to extend the systemd tests...

[2020-06-29 07:39] vrothberg commented on #6793
And as it looks like we regressed with 2.0.1. 2.0.0 is working...

[2020-06-29 07:58] vrothberg commented on #6793
Master is fine though.

[2020-06-29 08:46] vrothberg commented on #6793
I now fail to reproduce again. Very curious.

I used the following script to reproduce:
[code]

[2020-06-29 08:47] vrothberg commented on #6793
@edsantiago could you have a quick look and try to reproduce with 2.0.1?

[2020-06-29 08:48] #6787 closed

[2020-06-29 08:49] mmalina commented on #4960
FYI, the same thing happened to us recently and removing the files as suggested in the last comment fixed the issue for us.
podman version: podman-1.6.4-12.module+el8.2.0+6669+dde598ec.aarch64 (on RHEL8)

[2020-06-29 08:56] #6766 closed

[2020-06-29 09:02] vrothberg commented on #6793
Opened https://github.com/containers/libpod/pull/6810 to add a test that would catch that case.

[2020-06-29 12:46] edsantiago commented on #6793
I can't find any way to reproduce; am trying root on f32.

[2020-06-29 13:33] mheon commented on #6806
I'll do the second bit in a separate PR.

[2020-06-29 13:58] baude commented on #6809
@afbjorklund we talked about this just last week.  Probably still looking for a solution here.  What are your thoughts or what do you favor.

[2020-06-29 14:27] markstos commented on #6734
I reviewed #6569. It was was fixing #4483 -- The change was to fix one or two dbus processes leaking at most. Considering the "fix" for that is causing show stopping container crashes for for a common case, one option is to revert the patch and get a 2.0.2 release out quickly, while continuing to look for a solution for solves the dbus process leak without introducing a crashing regression.

[2020-06-29 14:56] vrothberg commented on #6400
@giuseppe, do we need to additionally set delegation in the units?

[2020-06-29 15:09] vrothberg commented on #6793
@q-b can you try this reproducer?

[2020-06-29 15:14] afbjorklund commented on #6809
I think root logins _might_ be disabled by default, so I would need to enable them

`PermitRootLogin prohibit-password`

And then copy the authorized keys during boot, from the user to the `/root` dir.

[code]

I'm not sure what the implications of chown'ing the `podman.sock` is, or how you do it.

For dockerd I think it just uses the default settings, which uses the `docker` group.

[code]

Would

[2020-06-29 15:26] giuseppe commented on #6400
yes, we need to add `Delegate=true` under `[Service]` so podman is able to manage the cgroup.  For rootless it should happen only with cgroup v2.

[2020-06-29 15:31] #6598 closed

[2020-06-29 15:31] #6704 closed

[2020-06-29 15:33] afbjorklund commented on #6809
For minikube/machine, there is a user called "docker" who is part of group "docker".

It's also a member of the group "wheel", which will enable it to use `sudo` at will...

/etc/sudoers

[code]

The group might also be called "sudo" (in Ubuntu), but it works the same way.

----

Currently we are using this, to run `sudo varlink bridge` to activate io.podman socket
And then we prefix all commands

[2020-06-29 16:19] edsantiago commented on #6793
Giving up. For posterity, here is what I tried:
* `podman run` instead of `podman create`
* setting up a  local registry, adding it as insecure in `registries.conf`, using `localhost:5000/foobar:latest` as source image.
* The above, plus pushing/tagging various images as `foobar:latest` to confirm that `podman auto-update` would re-pull.
* In all of those, many iterations of test loops intended to

[2020-06-29 16:29] afbjorklund commented on #6809
Currently, if I run the new `podman-remote` (2.0.1) it will silently fall back to building the images locally instead. :-(

The previous versions (2.0.0) would give an error, after trying to contact a local socket - rather than use the varlink...

`Error: Get http://d/v1.0.0/libpod../../../_ping: dial unix ///run/user/1000/podman/podman.sock: connect: no such file or directory`

So one either has

[2020-06-29 16:47] rhatdan commented on #6809
I am fine with creating a podman group and adding write access to the socket, but not by default,  This would have to be configured in the containers.conf with strong words about how dangerous this is.

Setting up podman group access to the root running podman, is equivalent to giving sudo without password access to root, and potentially worse.

Is there something we could do as an alternative wit

[2020-06-29 16:47] afbjorklund commented on #6809
It seems to work, if starting the socket manually and changing the owner (also on the directory, not only the socket)

But one **has** to add the --remote (even to podman-remote), and one **has** to add the path and the param.

And it seems like $CONTAINER_HOST stopped working, so have to use --url "$CONTAINER_HOST" for it to work.

`podman-remote --remote --url $CONTAINER_HOST version`

[2020-06-29 16:58] rhatdan commented on #6757
Thanks @markstos

[2020-06-29 17:10] jdoss commented on #6400
I am trying to use this rootless on Fedora CoreOS which runs cgroups v1 and I am getting

`Error: mkdir /sys/fs/cgroup/pids/system.slice/elasticsearch.service/supervisor: permission denied`

Here is my unit:

[code]

[2020-06-29 17:14] rhatdan commented on #6769
@abitrolly @mheon Could one of you update the podman pod create/run man page with documentation similar to what @mheon wrote above?

[2020-06-29 17:31] #6778 closed

[2020-06-29 17:52] #6806 closed

[2020-06-29 18:16] abitrolly commented on #6778
@rhatdan so why no `podman pod create NAME`?

[2020-06-29 18:23] abitrolly commented on #6769
@rhatdan there are still magical bugs occurring to me with this. Sometimes the new container just could not bind, or not appearing on the host. I didn't have time to debug to report it properly. Maybe an improved message about why binding failed including the id and name of a container occupying the port would help to better understand what's going on in the middle of a crisis.

`podman ps -a` als

[2020-06-29 18:45] rhatdan commented on #6774
Excellent answer https://github.com/containers/libpod/issues/6774#issuecomment-649637610 Looks like the makings of a short blog.

[2020-06-29 18:49] rhatdan commented on #5196
IN the unshare could you attempt to

[code]

[2020-06-29 19:08] d-a-v commented on #5196
Thanks for the answer !
When I came back to my issue some hours ago and after tweaking around (I created a local-only user for testing purpose), the issue with the ldap account disappeared without warning.
So I came back here and removed my message above because it is following a closed issue with an identified upstream cause. It sounds like I didn't succeed in deleting it as I believed.
I now und

[2020-06-29 19:38] rhatdan commented on #6795
Worked for me on rootless, and rootfull.
What does `podman info` show?
Any chance you are running out of space?

[2020-06-29 19:40] rhatdan commented on #6799
@baude @jwhonce PTAL

[2020-06-29 19:48] rhatdan commented on #6772
Great @bbros-dev I am glad you found a workaround.  There are issues to be handled because of rootless support.
If you would like to open a PR to update the troublshooting.md file it would be welcome.  But I am not sure there is common
enough problems in your issue.

[2020-06-29 20:01] rhatdan commented on #6804
I am not sure how this would work.  The goal is for both to work exactly the same.  But we do have to deal with running docker as root versus running podman as non-root, which caused both of your issues.

[2020-06-29 20:06] rhatdan commented on #6740
Well --userns  keep-id would require any privilege ops to happen through sudo, without it the container starts as root in the user namespace.

[2020-06-29 20:09] rhatdan commented on #6807
@QiWang19 PTAL

[2020-06-29 20:12] rhatdan commented on #4878
It is best to report this to Buildah, as Podman is just using Buildah under the covers.
@TomSweeneyRedHat Any ideas?

[2020-06-29 20:58] afbjorklund commented on #6598
Now it seems like podman --remote works, but that podman-remote stopped working ?

[2020-06-29 21:02] goochjj commented on #6400
I don't think this helps much for cgroups v1 + rootless.

1) Delegate=true only gives ownership to the user for "unified" and "systemd" controllers.
2) Podman could be modified to skip pids, cpu, etc and only do the systemd ones for the supervisor group... but.
3) Rootless podman will not tell runc or crun to move the cgroup... because runc and crun can only receive a single cgroup path, and syste

[2020-06-29 21:24] markstos commented on #6734
For people just finding the ticket, I updated the description with the simplified test case that was eventually discovered.

Would it be helpful if I tried to contribute a `system` test for this case? I have some experience with bash-based test suites.

[2020-06-29 21:44] rhatdan commented on #6778
podman container create uses --name

podman volume create
podman network create

Work the way you want, so I guess we could/should do Pods the same way.  Interested in opening a PR for this?

[2020-06-29 23:00] jdoss commented on #6400
I just rebooted Fedora CoreOS into cgroups v2 and I am seeing this now when setting `--cgroups=split`

`Jun 29 21:32:21 mycool mycool-elasticsearch[2765]: Error: cannot set limits without cgroups: OCI runtime error`

[code]

[code]

[code]

Here is my fcct config for Ignition:

[code]

[2020-06-30 00:17] jdoss commented on #6400
Some super sweet `podman run --log-level debug` logs below:

[code]

[2020-06-30 00:29] maybe-sybr opened #6816 "Images that use `gosu` don't work in my rootless environment"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A while ago, I had some issues with a container image I was sending changes to which the maintainer wasn't able to repro on his machine. We were both running rootless podman, but I would consistently get EPERM errors when starting the container. At the time I was on Fedora 31. I was able to m

[2020-06-30 01:02] bbros-dev commented on #6804
No worries. Just thought it'd be a useful feature to encourage users who only occasionally dip into Docker but have it throughout their scripts.

I think root and root + `--privileged` changes how you use containers and changing that usage can be painful for anyone wanting to switch, e.g. `--volume dev:dev`.

Happy to close this. Leave it up to you.

[2020-06-30 04:01] abitrolly commented on #6778
@rhatdan seems easy. Takes time to setup dev env though. Are there plans for `podman pod create` to use templates like kubernetes?

[2020-06-30 07:51] trusch opened #6818 "created pods are not startable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I create a pod, I expect that I can start it. Unfotunately this fails because the create step also already creates the infra container,
 but the start step tries to create it. This is very annoying because the systemd files generated using `podman generate systemd --new ...` rely on this b

[2020-06-30 10:19] rhatdan commented on #6598
They are both working for me?

[2020-06-30 10:27] rhatdan commented on #6734
Tests are always welcome

[2020-06-30 10:31] giuseppe commented on #6734
I think the change is correct as we should not try to use systemd when the cgroup manager is set to cgroupfs.

systemd only needs the name=systemd hierarchy to be usable.  Can you show me the output for `cat /proc/self/cgroup` from the environment where the issue is happening?

Does it work if your wrap the podman command with `systemd-run --scope --user podman ...`?

[2020-06-30 10:47] giuseppe commented on #6400
that is a problem in crun, that is fixed upstrem.  I am going to cut a new release in the next days.

[2020-06-30 11:29] skorhone commented on #6734
@giuseppe Yes, wrapping podman command with `systemd-run` works. I actually mentioned it earlier - but it's a long chain

Results of cat `/proc/self/cgroup`:

[code]

At filesystem level notable difference between session scope and user service is that latter is owned by user.

[2020-06-30 11:52] afbjorklund commented on #6598
It was running locally for me with 2.0.1 but will a new issue if I can reproduce

[2020-06-30 12:15] rhatdan commented on #6816
With podman 2.0 redis works fine for me
[code]

[2020-06-30 12:19] rhatdan commented on #6816
Both
[code]
Worked fine on Fedora 32.

[code]

[2020-06-30 12:22] rhatdan commented on #6804
Yes I wish we had a simpler solution for the --volume /dev:/dev problem.
@giuseppe Any ideas on this one. Could crun ignore the error if /dev/console already exists?

[2020-06-30 12:53] skorhone commented on #6801
I was able to replicate this issue confirm my suspicions. Temporary containers created during build process are not visible to `podman ps -a`. If build process gets terminated, podman will leave behind containers that are only visible to **buildah**.

To reproduce issue:
1. Create a long multistage build
2. Run build with 'podman build'
3. Abort build with ctrl+c
4. Run 'podman ps -a'
5. Run 'buil

[2020-06-30 12:57] srcshelton commented on #6801
In my build-scripts, I've added traps around podman invocations which remove images - this process seems fragile, and interrupting podman during an `image rm` or `image prune` operation seems to have an increased likelihood of resulting in an anomalous state.

Since podman integrates buildah, I've not (to date) had buildah separately installed... can these 'invisible' buildah images be managed in

[2020-06-30 12:59] rhatdan commented on #6801
@TomSweeneyRedHat or @ashley-cui Could you look into this.  I think we have a long term issue to manage buildah images from within Podman.

[2020-06-30 13:06] rhafer commented on #6668
I think so. yes.

It doesn't fail because of a permission problem. non-root users are allowed to call setrlimit(). The problem was that the ordering of the values for the setrlimit() call was wrong and that caused the softlimit to be higher than the hardlimit I think. This is what is triggering that `"error setting rlimit type 7: invalid argument` error.

I think it will only fail if the user's cu

[2020-06-30 13:12] mheon commented on #6801
I'm honestly more concerned about the missing manifests problem that was mentioned initially - if we could get more details (error messages, a reproducer) there, it would be greatly appreciated. The lack of Buildah integration is something we've known about for a while and is on our list of things to fix, but not being able to fully delete images is very bad.

[2020-06-30 13:18] srcshelton commented on #6801
I'll post here as soon as I can reproduce... although the locking I've added does (coincidentally?) seem to have cut-down on the frequency of occurrence.

To summarise my thinking: podman should be interruptible, safely.  If any action can't be safely interrupted, then signals should be ignored until the critical action is completed.  Alternatively, changes should be performed by staging updates a

[2020-06-30 13:20] jdoss commented on #6400
@giuseppe awesome! I just RTFMed a bit but I couldn't find any info on setting podman to use a different crun binary. Is there a flag I can set to call a different binary until this fix get merged in upstream crun and eventually in FCOS next stream?

[2020-06-30 13:41] giuseppe commented on #6400
@jdoss you could specify it on the command line like `podman --runtime /path/to/the/other/executable/crun ..` or you can override its path from the `containers.conf` file

[2020-06-30 13:45] afbjorklund commented on #6598
@rhatdan
Seems to be broken in the Ubuntu 20.04 package, since it is **not** using make:

[code]
https://build.opensuse.org/package/live_build_log/devel:kubic:libcontainers:stable/podman/xUbuntu_20.04/x86_64

Therefore it is still using "remoteclient" build tag, instead of the new "remote"

9263ed2ab1c87dd798a37ac260e3e81c00a59448

[2020-06-30 13:48] mheon commented on #6598
@lsm5 Poke - looks like we need a build update for the OBS podman-remote packages

[2020-06-30 14:22] #6565 closed

[2020-06-30 14:31] mheon commented on #6818
Any more details here? I can't reproduce, the pod starts without issue.

[2020-06-30 14:51] rei-ber commented on #6668
Alright, makes sense; thanks for your explanation :-)

[2020-06-30 15:07] zvonkok opened #6824 "Running "podman Dockerfile" without the -f flag runs into panic and segmentation fault"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running "podman Dockerfile" without the -f flag  runs into panic and segmentation fault

**Steps to reproduce the issue:**

1. cd /tmp && touch Dockerfile

2. podman build Dockerfile

**Describe the results you received:**

[code]

**Describe the results you expected:**

Some warning to use t

[2020-06-30 15:09] zvonkok opened #6825 "Running "podman Containerfile" without the -f flag runs into panic and segmentation fault (Fuzz testing :)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running "podman Containerfile" without the -f flag  runs into panic and segmentation fault

**Steps to reproduce the issue:**

1. cd /tmp && touch Containerfile

2. podman build Containerfile

**Describe the results you received:**

[code]

**Describe the results you expected:**

Some warning

[2020-06-30 15:09] TomSweeneyRedHat commented on #6824
Eww, that's ugly.  Obviously invalid syntax, but we need to handle that much better.

[2020-06-30 15:48] goochjj commented on #6400
@jdoss If you're using selinux, I suggest you compile and place the crun binary in /usr/local/bin, as that folder is recognized in the policy.  If you're going to have a local podman or runc or crun it should be there, and chcon'd to match, i.e. `chcon --reference=/usr/bin/crun /usr/local/bin/crun`

In /etc/containers/containers.conf:
[code]

Or specify it on the command line as @giuseppe  indicat

[2020-06-30 15:54] jdoss commented on #6400
@goochjj and @giuseppe I just compiled crun from master and put it in `/usr/local/bin/crun` and it's still getting the same error:

[code]

[code]

[2020-06-30 16:01] #5698 closed

[2020-06-30 16:32] skorhone commented on #6801
I spent an hour and a half trying to break system manually in a way that would not let me remove images with just podman. I simply couldn't get system in that kind of state. It could be that I'm using podman 2.0.0 - but I doubt that.

@srcshelton There isn't anything out of the ordinary with your system? I noticed that you are storing images in non-default location, is that local filesystem? Also,

[2020-06-30 16:37] goochjj commented on #6400
Add --pids-limit 0 to your run args

[2020-06-30 16:43] srcshelton commented on #6801
I'm currently still on `podman-2.0.0_rc6` awaiting the fix for ARG/ENV variables containing '=' (#6785), so it could have been fixed since.  I saw the majority of errors, IIRC, whilst still on `2.0.0_rc5`.

My setup is probably a little odd, yes - I'm migrating from an old 32-bit system image to a 64-bit one I'm building, with as many services containerised as possible.  As such, the `podman` exec

[2020-06-30 16:45] goochjj commented on #6400
Wait you're cgroups v2 now? I don't have that problem under cgroups v2 rootless.  What does `cat /proc/self/cgroup` show?

[2020-06-30 16:51] jdoss commented on #6400
`--pids-limit 0` does let the containers start, but yea, I booted FCOS into cgroups v2 with rootless here. I have a non-root user `mycool` that is being used via systemd to launch these containers.

[code]

[2020-06-30 16:56] goochjj commented on #6400
I can't get the infra container to start, because you're binding to ports 80 and 443 as non-root...

[2020-06-30 16:57] goochjj commented on #6400
setting /proc/sys/net/ipv4/ip_unprivileged_port_start

[2020-06-30 16:58] goochjj commented on #6400
Hmm and there it is

If I remove your --pod it works

[2020-06-30 16:59] jdoss commented on #6400
[code]
To allow the pod to bind to those ports.

[2020-06-30 17:26] goochjj commented on #6400
I think it's because you're using a pod.

When I run this as the user, rootless, I get this:

Pod creates:
/user.slice/user-(uid).slice/user@(uid).service/user.slice/user-libpod_pod_(podid).slice/libpod-(infracid).scope/container
/user.slice/user-(uid).slice/user@(uid).service/user.slice/user-libpod_pod_(podid).slice/libpod-conmon-(infracid).scope

Container (without split) creates:
/user.slice/us

[2020-06-30 17:45] goochjj commented on #6400
TLDR, @giuseppe would have to modify/extend another PR to handle pods.

It looks like when a container is spawned in a pod, it assumes its parent slice will be the parent cgroup path. (Which is reasonable)  Since pod create doesn't have a --cgroups split option, the pod's conmon is attached to the service cgroup, and the pod's slice is in the user slice, divorced from the service's cgroup.

You ca

[2020-06-30 17:57] goochjj commented on #6400
Or maybe we should do this in a more systemd-like way?

i.e. Slice=machines-mycool_pod.slice

Pod
/machines.slice/machines-mycool_pod.slice/mycool-pod.service/supervisor -> pod conmon
/machines.slice/machines-mycool_pod.slice/mycool-pod.service/container -> infra container
/machines.slice/machines-mycool_pod.slice/mycool-elasticsearch.service/supervisor -> conmon
/machines.slice/machines-mycool_po

[2020-06-30 18:00] goochjj commented on #6400
@giuseppe I don't know what's causing this - but there are times when I need to set --pids-limit 0. It seems like there's a default of pids-limit 2048 coming from somewhere, not the config file and not the command line, and then when crun sees it can't do cgroups with pids-limit, it throws the runtime error.

If you happen to get the cgroup right - i.e. it's something crun can modify and it has a

[2020-06-30 18:01] jdoss commented on #6400
@goochjj I am trying to set things up so I can have many pods running under a rootless user/users via systemd units with the `User=` directive for each stack of applications running as rootless containers inside the pod. Having everything in it's own pod namespace as a rootless user is pretty great so I don't need to juggle ports on each stack of application, just the pod ports. I also like the is

[2020-06-30 18:06] goochjj commented on #6400
Right, but all this works for you without --cgroups split, correct?  Is there something you're hoping to gain with --cgroups split?

[2020-06-30 18:28] mheon commented on #6400
The pids-limit is probably Podman automatically trying to set the maximum available for that rlimit - we should code that to only happen if cgroups are present.

[2020-06-30 18:30] jdoss commented on #6400
@goochjj I was running FCOS with cgroups v1 up until I saw this thread that introduced `--cgroups split` so I started down this road of giving it a try with cgroups v2. Trying my old setup that works on FCOS cgroups v1 on FCOS with cgroups v2 doesn't work at all without setting `--pids-limit 0`.

I am am not trying to gain anything specific by using `--cgroups split`. I thought it would help provi

[2020-06-30 18:39] rhatdan commented on #6825
Should be fixed in podman-1.9 which will be shipping in RHEL8.2.1 in a couple of weeks.

[2020-06-30 18:39] #6825 closed

[2020-06-30 18:40] rhatdan commented on #6824
Fixed in podman-1.9 which should be in RHEL8.2.1 in a couple of weeks.

[2020-06-30 18:40] #6824 closed

[2020-06-30 19:47] whitel commented on #4508
\o/

[2020-06-30 20:07] edsantiago commented on #5475
Two more recent ones: PR #6791 ([log](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5097572006100992/html/system_test.log.html)) and PR #6823 ([log](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/4963661804470272/html/system_test.log.html))

Oh, and two more today: PR #6773 ([log](https://storage.googleapi

[2020-06-30 20:29] hackerde commented on #5895
Is there any update on this?

[2020-06-30 23:46] akhilles opened #6830 "Podman Mac Client tutorial is outdated"
**Description**

The tutorial at `docs/tutorials/mac_client.md` seems outdated. The instructions specify the use of a `--remote-host` flag, but this flag doesn't seem to exist on the latest version of podman. There's also a broken link to https://github.com/containers/libpod/blob/master/docs/podman-remote.conf.5.md on the same page.

**Steps to reproduce the issue:**

[code]

**Output of `podman v

[2020-07-01 00:02] maybe-sybr commented on #6816
Yesterday I tried one of your semanage incantations from a different issue @rhatdan , since I noticed that the SELinux labels on my graphroot seemed wrong (a lot of `user_home_t` labels) but it didn't fix things :(

Any tips on what I might be able to do to debug further on my machine? It's been a nagging issue and my alternative is to blow away my laptop and see if a fresh install ends up being h

[2020-07-01 06:21] trusch commented on #6818
Perhaps its worth noting that I have cgroupsv2 enabled and use `crun`, but other than that my setup is just the default install.

[2020-07-01 07:45] giuseppe commented on #5895
what issue are you having with rootfs?  The same issue as in the original post?

[2020-07-01 09:05] vrothberg commented on #6830
Thanks for opening the issue, @akhilles!

@ashley-cui, could you tackle it?

[2020-07-01 09:50] trusch commented on #6818
I tried to setup an reproducing environment but failed in the end (fresh OS install, same tools, same versions, everything). Is there anything suspicious in my `podman info` from above?

[2020-07-01 10:33] rhatdan commented on #6816
What AVCs are you seeing?
ausearch -m avc -ts recent

[2020-07-01 11:28] vrothberg commented on #6793
Thanks a lot for checking, @edsantiago!

[2020-07-01 13:13] markstos commented on #6734
So is a solution for `podman` to re-exec itself as `systemd-run --scope --user podman` in this case?

Considering this is a show-stopping crashing regression, is there is a goal for when the fix will be released?

[2020-07-01 13:35] goochjj commented on #6734
What is your cgroups manager?

[2020-07-01 13:36] goochjj commented on #6734
Did you try adding --cgroup-manager systemd?

[2020-07-01 13:44] goochjj commented on #6818
Please provide:
`podman --log-level debug pod start example`

And any log messages from conmon that might be in your journal or syslog

[2020-07-01 13:48] goochjj commented on #6795
I just tripped over this, and then it resolved itself.

Is it possible there was a network issue and the error just isn't that great?

[2020-07-01 13:50] goochjj commented on #6400
@mehon I'm unclear on why cgroups aren't present... let alone that default.

It's really annoying, and seems to be cgroupsv1 specific.  Should I create this as a separate issue?

[2020-07-01 13:53] rhatdan commented on #6788
The problem is the lock file is being rewritten each time you update the local share, I believe, so everytime you pull you need to
chown a+rx -R rootfs

I recently got a PR into container/storage to fix this problem,https://github.com/containers/storage/pull/652
But this fix has not bubbled its way up into buildah/podman yet.

[2020-07-01 14:04] mheon commented on #6400
I believe that's a requirement forced on us by cgroups v1 not being safe for rootless use, unless I'm greatly misunderstanding?

[2020-07-01 14:09] goochjj commented on #6400
@mheon I'm fine with that, as long as it doesn't explicitly require me to --pids-limit 0 everything, which it's currently doing.

This code
[code]

in pkg/spec/spec.go seems to indicate it should already be ignoring the default on cgroups v1. I'm digging.

[2020-07-01 14:09] goochjj commented on #6400
Cuz this isn't great.
[code]

[2020-07-01 14:10] mheon commented on #6400
This is definitely a bug. Is this 2.0? `pkg/spec` is deprecated, we've moved to `pkg/specgen/generate` - so the offending code likely lives there.

[2020-07-01 14:11] goochjj commented on #6400
2.1.0-dev.  Actually, master, plus my sdnotify

So, sounds like I should create a new issue.
:-D

[2020-07-01 14:13] goochjj opened #6834 "podman run failure on cgroupsv1 rootless related to --pids-limit"
/kind bug

**Description**

pids-limit is getting set to 2048 as a default, which is fine unless you're rootless on cgroups v1, at which point you can't create anything without explicitly setting --pids-limit 0.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package

[2020-07-01 14:14] goochjj commented on #6834
This chunk of code seems to have handled this before:
https://github.com/containers/libpod/blob/d8718fd62e87d0a364a4092c6333d90e26ce9c8e/pkg/spec/spec.go#L298-L318

Per @mheon
[code]

[2020-07-01 14:14] goochjj commented on #6400
#6834

[2020-07-01 14:16] mheon commented on #6834
I'll take a look after lunch, see if I can't chase this down.

[2020-07-01 14:17] markstos commented on #6734
@goochjj I did some reserach but can't figure out how to determine what my managing my cgroups.

That fails, but with a different error:

    podman run --cgroup-manager systemd --systemd=always -it -p "127.0.0.1:2222:22" solita
    /ubuntu-systemd-ssh
    Error: systemd cgroup flag passed, but systemd support for managing cgroups is not    available: OCI runtime error

[2020-07-01 14:19] goochjj commented on #6834
This seems to check at the kernel level
https://github.com/containers/libpod/blob/e84695213e35c22ba085e3831cbd025cd55a4c84/pkg/specgen/generate/validate.go#L71-L80

Looks like it just sees if the pids controller is mounted (in sysInfo) not if we actually have the ability to write to the pids controller for the cgroup we're going to be a part of.  I don't see any rootless checks in this either

[2020-07-01 14:21] goochjj commented on #6834
DefaultPidsLimit was introduced in containers/common

[2020-07-01 14:24] rhatdan commented on #6778
We use `podman play kube` for that.  It reads a kubernetes yaml file and creates the pod.

[2020-07-01 15:45] drewbailey commented on #5421
@pwFoo did you find an answer? Running into this as well

[2020-07-01 16:00] goochjj commented on #6734
Interesting, after adding cgroup-manager systemd it popped right up for me.

What's your `cat /proc/self/cgroup`?

[2020-07-01 17:32] markstos commented on #6734
[code]

[2020-07-01 17:36] markstos commented on #6834
Is this related to #6734?

[2020-07-01 17:43] mheon commented on #6834
I don't think so. I think this is specific to us trying to mimic the system PID limit.

[2020-07-01 17:45] goochjj commented on #6734
[code]

Not sure why mine works and yours doesn't.

Maybe post a podman --log-level debug run .....?

[2020-07-01 17:52] markstos commented on #6734
Could it be related that as part of trying to solve this, I added this kernel option in /etc/default/grub?

[code]

[2020-07-01 17:53] goochjj commented on #6734
If that were loaded, your cgroup file would look like this:
[code]

What does /proc/cmdline say?

[2020-07-01 17:57] mheon commented on #6834
Alright, this one is honestly kind of bizarre. It worked fine when I built directly from master. In order to confirm code was running, I added a single `logrus.Errorf()` and now it started to reproduce.

[2020-07-01 18:00] rkitover commented on #2898
The `--userns=keep-id` thing did not work for me, while my volume had the right uid, the rest of the system was also owned by it instead of root. While the solution by @stevenwhately works perfectly for me, I will repeat it here in `sh` syntax for anyone stumbling across this:

[code]

[2020-07-01 18:08] goochjj commented on #6834
I only have 1 cgroups v1 host setup to run rootless containers so it's hard for me to narrow down what's causing it...

[2020-07-01 18:21] rhatdan commented on #6834
@goochjj
podman run --help | grep pids
      --pids-limit int                           Tune container pids limit (set 0 for unlimited, -1 for server defaults) (default 2048)

Show, if this shows as above (default 2048) then this is the issue.

On a cgroups V1 system this should show no default.

[2020-07-01 18:23] mheon commented on #6834
@rhatdan It's set to 0, but having it set to *anything* is the problem. `crun` seems to discard any OCI spec that tries to set resource limits, even empty limits.

[2020-07-01 18:23] rhatdan commented on #6834
This is the code that sets the default

// PidsLimit returns the default maximum number of pids to use in containers
func (c *Config) PidsLimit() int64 {
	if unshare.IsRootless() {
		if c.Engine.CgroupManager == SystemdCgroupsManager {
			cgroup2, _ := cgroupv2.Enabled()
			if cgroup2 {
				return c.Containers.PidsLimit
			}
			return 0
		}
	}
	return sysinfo.GetDefaultPidsLimit()
}

[2020-07-01 18:25] rhatdan commented on #6834
If you inspect the container does it show ulimits?

[2020-07-01 18:26] goochjj commented on #6834
[code]

So look at this, my crun-debug grabs the config.json and dumps it in my XDG_RUNTIME_DIR:
[code]

vs:
[code]

I think crun only looks for a resources/pids tree, not that it's actually >0

[2020-07-01 18:29] goochjj commented on #6834
Yeah, crun just checks that the resources->pids structure is specified (non null), not that resources->pids->limit >0 or resources->pids->limit_present

[2020-07-01 18:31] goochjj commented on #6834
https://github.com/containers/crun/blob/d38b8c28fc50a14978a27fa6afc69a55bfdd2c11/src/libcrun/cgroup.c#L2765-L2771

[2020-07-01 18:37] mheon commented on #6834
https://github.com/containers/libpod/pull/6837 should fix it.

[2020-07-01 19:53] afbjorklund commented on #6830
The instructions on https://github.com/containers/libpod/blob/master/docs/tutorials/remote_client.md are in the same state.

And we have the same issue on https://minikube.sigs.k8s.io/docs/drivers/podman/ - in that it doesn't work with podman2...

So it's more of a generic issue, due to the breaking API changes in v2.
https://podman.io/blogs/2020/06/29/podman-v2-announce.html

We will recommend th

[2020-07-01 19:53] markstos commented on #6734
@goochjj You are right, it doesn't show that argument as being active:

BOOT_IMAGE=/vmlinuz-5.4.0-37-generic root=/dev/mapper/vgubuntu-root ro quiet splash vt.handoff=7

But if I look in `/boot/grub/grub.cfg`, it's there:

[code]
But I also see that a new kernel has been added since I last rebooted, so maybe the change wasn't fully activated when I made it, but perhaps since this new kernel was ad

[2020-07-01 20:29] skorhone commented on #6803
I'll see, if I can setup a dev environment to create patch for this tomorrow. Not sure, if I'll find time to map all variables from NetworkSettings, but I'd recon that ports and ip are what most tool require.

[2020-07-01 23:10] markstos commented on #6734
Here's the latest from testing on a Ubuntu 20.04 host with `/etc/default/grub` modified to enabled `systemd.unified_cgroup_hierarchy=1`. After rebooting, I confirmed the change was in effect:

[code]
I also found an even simpler test image, which is just Ubuntu + Systemd.

I can now boot the Ubuntu 18.04 systemd container rootless:

[code]
However, attempting to run the Ubuntu 16.04 container the

[2020-07-02 00:07] maybe-sybr commented on #6816
Looks like none, which is a bit surprising. I've got a few more observations which might be relevant:

 * my main account (where I encountered the issue) has UID != GID, but changing it to a typical UID == GID setup did not fix anything. New logins and reboots tried to confirm. Also changed the subuid and subgid maps to see if that was behaving oddly, no change
 * a pre-existing account with UID =

[2020-07-02 00:33] goochjj commented on #6734
I highly doubt that Ubuntu 16.04 and systemd v229 have any clue what cgroupsv2 looks like.

[2020-07-02 00:35] mheon commented on #6734
Yes - we've seen the same thing with RHEL/CentOS 7 on to of v2. Supposedly there's a way to mount cgroups v1 into just the one container to enable it, but when we looked into it, it was a major pain.

[2020-07-02 00:36] goochjj commented on #6734
Also, we've vastly diverged from your original compliant. To wit:
[code]

So... Where exactly do we stand on this? :-D

[2020-07-02 01:37] zhangguanzhang commented on #5580
https://github.com/containers/libpod/pull/6835
this will fix the error which:
[code]
If this be merged, maybe you could try start containers to test

[2020-07-02 02:17] maybe-sybr commented on #6816
Well this was certainly a fun adventure. It turns out this is all due to my use of extended ACLs to restrict permissions in my home dircetory. Essentially, I mask everything with `d:user:rwx` and this obviously causes issues with the user namespace mapping that takes place when we run containers. For any namespaced ID which doesn't just map to my real UID external to the NS, things wouldn't play n

[2020-07-02 02:17] #6816 closed

[2020-07-02 05:23] abitrolly commented on #6778
Wow. I didn't even know that.

[2020-07-02 05:37] abitrolly commented on #6778
Are there any simple formats planned for defining pods? I've got a feeling that Kubernetes artillery is too heavy for startups, and `docker-compose` model is too limited to a single node to be followed 1 to 1.

[2020-07-02 06:41] giuseppe commented on #6734
crun 0.14 will allow to mount cgroup v1 inside of a container. It is just the `name=systemd` controller, but that is what systemd needs.

[2020-07-02 06:43] giuseppe commented on #6734
if you are using the development version of crun, you could try adding an annotation `run.oci.systemd.force_cgroup_v1=/sys/fs/cgroup` to the container.

[2020-07-02 08:05] 0xb35c opened #6839 "Rootless pods crash after start via systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want to be able to start and stop rootless pods via systemd units. Currently we only have version 1.6.4 available so I can't use the better systemd support of v2 right now. (Not sure which version is currently available in the upstream RH repos, as v2 of podman is still somewhat young). Any

[2020-07-02 09:06] vrothberg commented on #6795
I am under the same impression. This usually happens when the network is unstable.

We have received reports that Docker is slightly more tolerant toward network issues; I assume it has some retries or exponential backoff. But in the end there's no good medicine for that other than using a stable network.

[2020-07-02 09:07] vrothberg commented on #6795
@Aruscha, any chance you can try another network?

[2020-07-02 09:21] 0xb35c commented on #6839
I found a workaround for the issue:
If I place the required commands in a shell script file and call that from the unit file, everything works as inspected.
Still this doesn't fix the issue itself.

[2020-07-02 09:37] bsideup commented on #6797
@skorhone correction: it is getting removed from API 1.41 (to be released) and higher:

Which means that the latest released Docker still supports the parameter and works with the tooling that uses it and wants to be compatible with 1.24 version of Docker's API.

[2020-07-02 09:47] vrothberg commented on #6839
Thanks for reaching out, @0xb35c!

Can you share the output of `systemctl status`? I suspect that `oneshot` is a problem. Could try setting it to `type=Forking`?

[2020-07-02 11:34] 0xb35c commented on #6839
Hi,

yeah sure. `systemctl status` with `Type=oneshot`:
[code]
It's strange right now, as I didn't get errors before and I'm not sure what I changed that produces the error now. Still podman needs to sync first before it knows, that the containers are dead.

And here `systemctl status` with `Type=forking`:
[code]
podman shows the same behaviour regarding its dead containers.

Does `Type=forking` m

[2020-07-02 12:06] x80486 opened #6844 "podman run MIGHT not be using the right credentials"
## Description

While using `podman-compose` or just `podman` to build an image it finally fails trying to pull the created image.

## Steps to reproduce the issue (see containers/buildah#2426):

[code]

---

This is how my `registries.conf` file looks like:

[code]

## Describe the results you received:

`podman` fails to run/pull the image.

## Describe the results you expected:

To be able to f

[2020-07-02 13:11] rhatdan commented on #6834
I prefer my fix.
https://github.com/containers/libpod/pull/6842

[2020-07-02 13:12] goochjj commented on #6734
@markstos can we have a summary at this point of
1) what the problem was
2) what the solution was (since I think it's resolved at this point), or if a workaround is needed (i.e. systemd-run), or what have you
3) what still needs resolution

This thread is really long - I think a reset/summary is a good idea

[2020-07-02 13:27] rhatdan commented on #6778
Podman goal is not to be an orchestrator, only to work with orchestrators, If community wants to add podman play compose, we would listen.  There is also a podman-compose project.

Podman 2.0 has implemented the APIV2 which should be able to support Docker-compose and other docker-py based libraries.

When it comes to orchestrators we plan to push people towards Kubernetes, because we believe this

[2020-07-02 13:29] matpen opened #6843 "podman run with pod and uidmap: mount mqueue not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is a follow-up issue to containers/crun#396, which was closed and marked as solved.

I came to the above mentioned issue after facing the very same problem it describes, in my case on an Ubuntu 18.04 host with runc runtime:
[code]

Having found the solution in containers/crun#396, I inst

[2020-07-02 13:48] siscia commented on #6430
I would like to read it as well!

[2020-07-02 13:48] mheon commented on #6843
We do not presently support using `--uidmap` with pods. We're looking into enabling it at the pod level, but when we do, it's likely going to be a flag to give a configuration for the whole pod - I don't think it is possible to sanely support containers with varying mappings inside the same pod.

Besides that, though, is the fact that we just allowed this to happen without error, and happily hande

[2020-07-02 13:49] mheon commented on #6843
@rhatdan Good issue for an intern, I think

[2020-07-02 13:59] matpen commented on #6843
Thank you for the prompt response, @mheon. Indeed I was led to think that solving containers/crun#396 was meant to enable this feature. Seems like I will have to wait for further development, and come up with a different solution for my use case.

[2020-07-02 14:09] rhatdan commented on #6843
Let's let @QiWang19 Look at this one.

[2020-07-02 14:13] mheon commented on #6843
This is a kernel-level restriction - you can't join namespaces not owned by your user namespace, so we can't join the uidmapped containers to the pod-level network namespace (which existed before the new container and its user namespace). I believe that the work @giuseppe did in crun is to enable the entire pod to share a single user namespace (which Podman still does not have support for, but cou

[2020-07-02 14:15] skorhone commented on #6797
Yes, but to continue to use that filter, you need to specify the exact version of api you want to use. If you do not specify version (in path), you will be effectively using latest version - and latest no longer supports it starting from 1.41.

While I was testing use of podman with testcontainers, I don't recall seeing in my tcpdumps that testcontainers would specify api version in requests. This

[2020-07-02 14:19] giuseppe commented on #6843
crun 0.14 will permit doing it but it requires Linux 5.3+: https://github.com/containers/crun/pull/400

[2020-07-02 14:20] bsideup commented on #6797
FTR `docker-java` will use the lowest supported API version (1.24). You can of course close the issue, but it will remain a compatibility blocker. Just saying.

[2020-07-02 14:22] matpen commented on #6843
@mheon IIUC one would set the mapping on the pod, and the various containers would not be allowed to specify a different mapping. That would probably be enough in my case.

@giuseppe containers/crun#400 is the PR that solved the containers/crun#396 (mentioned in the OP). My kernel is `5.3.0-61` so the test seems to cover that: IIUC only the proper option in `podman pod create` is missing (as @mheo

[2020-07-02 14:26] markstos commented on #6734
## Problem Statement

@goochjj There is a regression in the 2.0 release that prevents some systemd containers from launching in some environments. I think you captured it best in a comment four days ago:

https://github.com/containers/libpod/issues/6734#issuecomment-650806112

Here are the differences you noticed from 1.9 to 2.0:

## Root Cause

@skorhone believes the regression was introduced in

[2020-07-02 14:34] mheon commented on #6843
@giuseppe Wow - the kernel is allowing that now?

Also, I only see proc/IPC listed - what about net? We're still broken if pods can't share network.

[2020-07-02 14:36] giuseppe commented on #6843
I am using a dirty trick of creating the mount before creating the user namespace and then I mount it once I am in the user+mount namespace :-)

[2020-07-02 14:47] vrothberg commented on #6844
Now I see why it's not working.

[code]
^^^ as `build bud --tag` refers to an image without host, it's getting prefixed with `localhost/` but podman does not look for that.

@baude @rhatdan @mtrmac ... I think we should also look for a normalized reference _before_ iterating over the search registries. WDYT?

[2020-07-02 14:50] vrothberg commented on #6844
That doesn't really make sense for a local image. `pull` really wants to pull an image from a registry

[2020-07-02 14:51] vrothberg commented on #6844
In the other issue, you mentioned that could not `podman run` this image which would be a problem.

[2020-07-02 14:52] rhatdan commented on #6844
What happens if you do a `podman pull localhost/acme/erlang-cowboy `?

[2020-07-02 14:55] vrothberg commented on #6844
That will reach out to `localhost` and think it's a registry. `podman pull containers-storage:localhost/acme/erlang-cowboy ` would "work"

[2020-07-02 14:58] x80486 commented on #6844
If I build the image with `buildah`, I can do `poman run`, but not `podman pull` — probably because what you said about the local image. I was using initially `podman-compose up --build --detach`. That's what I was testing from the beginning. Probably I mixed things while answering some other questions.

Bottom line, all for the same project:

- `podman-compose up --build --detach` does not work
-

[2020-07-02 15:03] x80486 commented on #6844
[code]

[2020-07-02 15:03] vrothberg commented on #6844
Curious. The `podman-compose` logs suggests that build failed and yet it continues wants to run the image (which doesn't exist).

[2020-07-02 15:10] vrothberg commented on #6844
The pull errors are a red herring. `podman-compose` shouldn't continue if the build failed.

To the build error:

systemd cgroup flag passed, but systemd support for managing cgroups is not available

Circling back to @giuseppe for this one.

[2020-07-02 15:37] vrothberg commented on #6844
Once we figured out what's going on, I suggest to open an issues at podman-compose for this one.

[2020-07-02 15:43] giuseppe commented on #6844
try with --cgroup-manager=cgroupfs.  Looks like there is no systemd available but the default is still to use it.

[2020-07-02 15:45] x80486 commented on #6844
OK, since I'm using the `podman-compose` command, where should I put that argument/setting?

[2020-07-02 15:48] vrothberg commented on #6844
Now as we figured that out, I suggest moving the issue to `podman-compose`. It's a separate project by the community.

[2020-07-02 15:48] #6844 closed

[2020-07-02 16:33] danopia commented on #6818
I just ran into this message myself running 2.0.1 rootless on Debian.

<details><summary>Version info</summary>

[code]

</details>

Creating an empty pod:
[code]

Trying to start it in debug mode:

[code]

There's a couple different interesting bits in the debug log, but without debug podman just prints `Error: error starting some containers: container already exists` and exits.

Possibly also in

[2020-07-02 16:36] #6805 closed

[2020-07-02 16:38] mheon commented on #6818
It looks like we do return the errors in question - they must be dropped somewhere.

Also, that error message is truly spectacularly bad - "container already exists" means absolutely nothing here. I think I was the one that wrote that bit, so... oops?

[2020-07-02 16:57] rhatdan commented on #6430
It will be published on Monday.

[2020-07-02 17:07] mheon commented on #6818
Fix for the error reporting part of this in #6846

[2020-07-02 17:18] mheon commented on #6818
Also, any chance you can try using the `crun` OCI runtime, to see if it gives a different error?

[2020-07-02 17:38] danopia commented on #6818
Now that we know the ambiguous error message just means containers couldn't start, it's a bit easier to check stuff!

Here's what I have on my setup:

[code]

(I switched to btrfs as my / is btrfs)

[2020-07-02 17:42] mheon commented on #6818
@giuseppe Does the keyring issue look like a kernel issue to you? I think I recall that.

[2020-07-02 17:45] RheaAyase commented on #6084
Still very much present with podman-2.0.1-1.fc32
So I updated and restarted the whole spaceship which somehow ignored podman so then I updated podman and now the same error, back to square one, waiting for the next server restart in several months I guess.

[2020-07-02 17:51] goochjj commented on #6734
But to be clear, you tested this on Cgroups V2, and podman 1.9.3 can't run Systemd from Ubuntu 16.04 on Cgroups V2 either.

Did you test 16.04 on cgroups 1?

I show on Cgroups v1, you CAN run 16.04 images and old systemd images.  It requires the same workarounds as before, systemd-run or whatever, to work on podman v2.

So ultimately.

1) Enable cgroupsv2. In your case, you do that with grub confi

[2020-07-02 17:53] goochjj commented on #6734
To be clear - the regression wasn't introduced _directly_ in that patch, your real problem is cgroup-manager is wrong.

[2020-07-02 17:57] mheon commented on #6084
Can you provide the error message you're seeing? Also, are you on Fedora or FCOS?

[2020-07-02 18:35] goochjj commented on #6734
@giuseppe  fyi I can't get the annotation to work.

[code]

[2020-07-02 18:41] srcshelton opened #6847 "Is COPY/ADD supposed to work with files in subdirectories?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a Dockerfile containing:

[code]

... and I've found that the `COPY` directive succeeds, then the `RUN` command fails.  Actually, it seems that the `COPY` (and `ADD`) directives can't handle subdirectories, but regardless succeed even though no file has been copied.

I've solved this b

[2020-07-02 18:49] giuseppe commented on #6734
You need to be root. It is a privileged operation

[2020-07-02 19:00] mheon commented on #6847
@TomSweeneyRedHat PTAL

[2020-07-02 19:03] goochjj commented on #6734
[code]

[2020-07-02 19:03] goochjj commented on #6734
Using tag-0.14

[2020-07-02 19:59] RheaAyase commented on #6084
The one in the $subject - after updating from 1.9.3 to 2.0.1

Restart solved it (came to the (obvious) realisation that the recent hardware upgrade and the removal of that supermicro bloat actually makes restarts without upgrades pretty fast.)

It did not however resolve everything, I still had to run all the systemd things with: `XDG_RUNTIME_DIR=/run/user/$UID systemctl --user` which is the earli

[2020-07-02 20:36] giuseppe commented on #6734
I wasn't aware of the issue as I could have documented it better, but it seems that it is necessary to mount the named hierarchy in the host first:

[code]

also please enforce the systemd mode with `--systemd always` unless your init binary is `/sbin/init` or `systemd`

If you create a subcgroup like:

[code]
you'll be able to use the feature also as rootless (user 1000 assumed in my example abov

[2020-07-02 20:41] mheon commented on #6084
That's really wierd, because the code path that leads to that error should be completely disabled in v2.0.0 and up...

[2020-07-03 04:15] balamuruganravi commented on #6800
Hi @mheon I updated my podman run scripts to run as pod . and generated systemd unit file for pod . But still no success

1. `podman generate systemd --files --restart-policy=always --name kraft`
2. created folder `mkdir -p ~/.config/systemd/user`
3. copied unit file to `$HOME/.config/systemd/user`
4. `systemctl --user enable pod-kraft.service`  but received the below error.

`Failed to connect to

[2020-07-03 08:33] Edward5hen commented on #6263
@mheon what is the best way to test this scenario? I agree curl is not a good option.

[2020-07-03 09:38] ebramirez commented on #6796
The PR was merged, should this issue be closed?

[2020-07-03 09:57] skorhone commented on #6796
I think we can close it.

[2020-07-03 09:57] #6796 closed

[2020-07-03 10:06] RheaAyase commented on #6084
Another interesting thing, perhaps coincidence, is that `virsh` no longer works from system services either. Had to change that to a --user as well.

[2020-07-03 12:38] q-b commented on #6793
@vrothberg

As myself:

[code]

I need to try as root next.

[2020-07-03 12:56] q-b commented on #6793
[code]

[2020-07-03 13:03] q-b commented on #6793
Reproducible:
[code]

[2020-07-03 14:25] goochjj commented on #6734
OK that is just really cool.  This is how I would implement.

As root: (likely wrap this up in a systemd unit to run at boot time, maybe systemd-cgv1.service)
[code]
And wrap this up in something like systemd-cgv1-user@.service:
[code]
Since we're making our own convention it could even use username instead of uid...

Note this essentially creates a kinda unified hybrid... Host systemd doesn't kno

[2020-07-03 14:25] skorhone commented on #6803
Tested locally on Ubuntu 20.04 LTS

[2020-07-03 14:30] goochjj commented on #5572
FWIW, I believe the best solution to this is to use #6693  and --sdnotify conmon.  It makes passing the PIDFile to systemd unnecessary, works with User=, root and rootless, works around issues in RHEL with "the pid isn't owned by root".

Your units then change to:
- Add --sdnotify conmon
- Remove all .pid and .cid overrides.  Conmon already writes them to the XDG_RUNTIME container dir anyway
- Rem

[2020-07-03 14:35] goochjj commented on #5572
And it makes the unit look a lot cleaner. You can get rid of all the explicit rms and cidfile reads as long as you --name %N (or something you know)

[2020-07-03 15:14] skorhone opened #6853 "Api: Exec start endpoint doesn't close upgraded http connection after execution has completed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Containers exec endpoint (/exec/execution_id/start) leaves connection open after command execution has finished. There is no way for client to determinate, if execution has been completed.

This issue causes testcontainers to fail when it's polling service status using exec inside the containe

[2020-07-03 16:25] mheon commented on #6853
What conmon version?

[2020-07-03 16:26] mheon commented on #6853
Also, full server debug logs would be greatly helpful.

[2020-07-03 18:28] skorhone commented on #6853
Here's full podman info:

[code]

[2020-07-03 18:32] skorhone commented on #6853
And here's debug log for full session (includes creation of new containers):

[code]

[2020-07-03 18:47] skorhone commented on #6853
It might be good to know that testcontainers is running exec every few seconds. It looks for active network socket inside container. It more or less seems like that a conmon instance is left behind for each exec call.

However, to confirm that this issue isn't caused by testcontainers running execs too rapidly, I placed a breakpoint in code and prevented further calls. This is actually what I did

[2020-07-03 19:31] daltschu22 commented on #6668
I am having the same issue with my WSL2 installation. Ubuntu 20.04, podman version 2.0.1

I purged everything on my system and reinstalled many times.

Whats funny is it used to work like a dream on an earlier version, but when I upgraded to this version its been giving me this same error.

[code]

And with root:
[code]

The `--ulimit=host` flag fixes things when I run rootless. But oddly enough d

[2020-07-03 21:27] skorhone commented on #6799
I had some time to look through code paths that libpod and compat handlers use for creating container.

It seems that compat doesn't use specgen.generate.MakeContainer. This function seems to be responsible for choosing correct parameters when generating container.

Compat handler implementation seems to be a bit messy. I don't get why some of logic is packed to utils for compat while libpod logic

[2020-07-03 21:30] mheon commented on #6853
The Conmon instances lingering are expected - they should clean themselves up after 5 minutes, mimicking Docker's handling of exec sessions. As long as the Conmon session is alive, the inspect endpoint for that exec session should be functional.

[2020-07-03 21:33] mheon commented on #6799
I'm working on converting the compat create endpoint to use the same codepath that libpod does, but it's slow going - there are a lot of parameters that need to be handled.

[2020-07-03 22:32] skorhone commented on #6799
I'd imagine that resolves issue with publish all ports flag not publishing exposed ports.

Btw. I noted some differences in host port randomization. Docker seems to randomize ports on start while podman does it on create. I can see benefits in both approaches. I think that docker's solution is less likely to fail when starting container. If port is chosen on start, it's possible to ensure that hos

[2020-07-04 05:54] disaster123 commented on #5849
@mheon still valid

[2020-07-04 08:07] skorhone commented on #6853
I can try and see, if I can repeat and log 100% cpu usage for Conmon. I already saw it twice and I did like three repetitions. It could have something to do with testcontainers forcefully closing connections, when it times out and starts cleaning up.

I guess there could be multiple unrelated issues. One that causes Conmon to start consuming cpu. One that causes exec inspect endpoint to stall. And

[2020-07-04 08:16] skorhone commented on #6853
Btw is it intended that upgraded http socket is being reused for http get? (See port numbers in wire dump) Perhaps this is actually combination of bug in testcontainers and bug in podman?

Obviously testcontainers shouldn't be sending http request using upgraded channel. Otoh it might be doing so because podman hasn't closed the http connection.

This actually explains, why there is no response fo

[2020-07-04 09:01] q-b commented on #6793
Ok, so it seems related to the `--new`flag. The description does not mention auto-update, and the podman-auto-update man page does not explicitly state its requirement either.

If `diff`ed both unit files:
[code]

I checked the labels with `--new` as well and it looks OK:
[code]

[2020-07-04 09:48] ikke-t commented on #5572
Looks much clearer solution, thanks. I need to wait that it get's into podman and into RHEL.

[2020-07-04 11:04] rhatdan commented on #6668
Rootful should change to use cgroupfs for --cgroup-manager.  You can permanently change this in containers.conf.
There is a fix in the works for the rootless issues on podman trying to set pids-limit.

https://github.com/containers/libpod/pull/6842

[2020-07-04 15:43] mheon commented on #6799
That's correct - Podman does precompute port mappings at create time,
rather than generating them at runtime. This may be slightly less reliable
than Docker, but it's been done this way for three years without a bug
report about it, so I don't think changing this is a priority unless this
breaks something critical.

On Fri, Jul 3, 2020, 18:32 Sami Korhonen <notifications@github.com> wrote:

[2020-07-04 16:32] skorhone commented on #6799
I guess probability of a conflict depends heavily on amount of activity on host. Tools such as testcontainers might behave a little differently than normal container load. Tc creates a short lived containers with port mapping. I'd imagine that most short lived containers are used for run once type of jobs that do not use port mappings.

I'll try to find time to simulate this once other blocking is

[2020-07-04 18:17] eregon commented on #6288
I also see `podman images` being very slow the first time it's run after a reboot.
For just 35 images:
First run:
`podman images  140.73s user 1.93s system 165% cpu 1:25.96 total`
Second run:
`podman images  1.12s user 0.48s system 160% cpu 0.993 total`

[2020-07-05 01:46] havok4u commented on #6479
It can be closed, gonna use something else so I can accomplish this.

On Fri, Jul 3, 2020, 7:11 PM github-actions[bot] <notifications@github.com>
wrote:

[2020-07-05 04:36] mheon commented on #6853
The socket reuse sounds like a definite bug, but I'm unsure if this is on Podman's side yet.

I checked the code, and given that the `Attach for container ... exec session ... completed successfully` message completed, and there are no warning messages, there is a guarantee that we closed the connection on the server side (it's in a `defer` block so there's no chance of a code path avoiding it).

[2020-07-05 10:03] avikivity opened #6854 "regression: bind-mounting onto a symlink fails with "Error: openat2 `localtime`: No such file or directory: OCI runtime command not found error""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Bind-mounting a file that happens to be a symlink in the container ("to" path) fails. This works in older versions.

**Steps to reproduce the issue:**

1.  `podman run --rm  -v /etc/localtime:/etc/localtime:ro -it docker.io/fedora:32`

**Describe the results you received:**

```Error: openat2

[2020-07-05 10:57] afbjorklund commented on #6830
Added a similar warning about the new podman v2 API to the front page of https://github.com/boot2podman/machine

Most likely people will have to set up their own Linux VM, with something that is compatible with the new Podman release.

https://podman.io/getting-started/installation

[2020-07-05 12:20] skorhone commented on #6853
I'll try it today with curl and some Java libraries. I think that issue could be that podman returns upgraded connection without client explicitly requesting for it. Afaik this is against http protocol and it's possible that some libraries do not tolerate it

I'll also do check how docker/moby handles the flow when client doesn't request for upgrade.

If socket was closed, I would not expect ngrep

[2020-07-05 12:23] avikivity commented on #6854
Downgrading podman did not help, but downgrading crun (0.14 -> 0.13) did.

[2020-07-05 12:25] skorhone commented on #6853
Oh, and Http response 101 should be Switching Protocols, not UPGRADED

[2020-07-05 12:38] skorhone commented on #6853
Now that I looked through API spec, I don't think that exec endpoint should return 101. Spec says that endpoints that are allowed to return 101 require client to specify upgrade headers - without those headers server should return normal 2xx response

[2020-07-05 13:36] mheon commented on #6853
That response is the exact one Docker uses. In my testing, it seemed to be
sent unconditionally, but I mostly tested with our Go bindings and the
Docker client so it may not be depending on the client?

On Sun, Jul 5, 2020, 08:38 Sami Korhonen <notifications@github.com> wrote:

[2020-07-05 14:13] skorhone commented on #6853
It seems like that same endpoint provides two operations: start and attach. Behavior is probably dependent on upgrade headers. See code fragments:
* https://github.com/containers/libpod/blob/b9d48a95a1c5daf2bb473df7f11c5df715389619/vendor/github.com/docker/docker/client/container_exec.go#L40
* https://github.com/containers/libpod/blob/b9d48a95a1c5daf2bb473df7f11c5df715389619/vendor/github.com/dock

[2020-07-05 15:25] skorhone commented on #6853
Client you are using is setting those headers here: https://github.com/containers/libpod/blob/b9d48a95a1c5daf2bb473df7f11c5df715389619/vendor/github.com/docker/docker/client/hijack.go#L64

[2020-07-05 15:30] mheon commented on #6853
The control for start/attach is not headers, but the Detach parameter - if detach is true, we only start, no hijack; if detach is false, we perform a hijacked attach and then start the container.

[2020-07-05 15:30] mheon commented on #6853
(The parameters are not headers, but sent JSON-encoded in the body)

[2020-07-05 15:41] bsideup commented on #6799
rather than generating them at runtime

Unless Podman "holds" the assigned ports (even before the container is started), such behaviour would be very easy to break as soon as you have other, non-Podman processes on the host system.

And, if it "reserves" the port, this sounds like a port leak to me, because it is not safe to assume that the time between create & start is short. In fact, I've seen

[2020-07-05 16:36] skorhone commented on #6853
Docker seems to use http headers as well. This is most likely because http protocol doesn't allow server to upgrade connection, if client doesn't explicitly request it using headers.

Now I don't think that http protocol allows responding to post with 200 before request has been fully processed. So I think that it's possible that for non upgraded connections docker just passes everything from requ

[2020-07-05 16:43] mheon commented on #6853
I strongly doubt that Docker does a non-hijacking exec, from my reading of their code. As I think about it more, the problem may well be the `Tty` option.

Podman, right now, assumes this is passed at time of creating the exec session, and discards the parameter in the actual ExecStart call. If unset at creation time, which it looks like it is from the trace you provided, we default to false. If T

[2020-07-05 16:47] mheon commented on #6853
Correction: it seems like Docker v1.24 did not actually send an Upgrade header, and just did a 200 with content-type set to `application/vnd.docker.raw-stream` and then proceeded to act as if the connection was hijacked, despite having not done so...

[2020-07-05 16:51] skorhone commented on #6853
I'll run some tests as soon as I can.

Rfc 7230 doesn't explicitly forbid switching protocol without client requesting for an upgrade, but all documented use-cases suggest that request should come from client.

Here's direct like for rfc that defines upgrade pattern: https://tools.ietf.org/html/rfc7230#section-6.7

[2020-07-05 16:54] skorhone commented on #6853
Perhaps they've bent protocol and made api return 200 response before request payload fully processed. This might work for unix sockets, but it would be likely to cause issues with network proxies

[2020-07-05 17:07] skorhone commented on #6853
Btw. In API documentation there's nothing that suggests this endpoint could return 101. If I was to build client based on these specs, I'd assume API to return 200.

[2020-07-05 18:18] mheon commented on #6853
The Docker API docs are wrong there, presumably because they're auto-generated. They don't actually use the Go HTTP library to send the 101; instead, Docker writes a literal string containing the response and headers, which we took and reused for Podman to ensure compatibility (https://github.com/containers/libpod/blob/e6b9b3ab227729e72f52ddab94c024174ab8a442/pkg/api/handlers/compat/containers_att

[2020-07-05 18:18] afbjorklund commented on #6809
The non-working `podman-remote` and the missing `podman.socket` was due to the Ubuntu 20.04 packaging (not using make)

When building from source, both are OK. That is, the binary does have the buildflags and the APIv2 services do get installed...

[2020-07-05 22:13] sshnaidm opened #6856 "Podman doesn't return error when mounting rootless container with cgroups2, but mounted directory is empty."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With cgroups2 when running podman rootless container, it mounts without error, but mounted directory is totally empty.
With cgroups1 the same setup shows files in mounted directory.

Currently breaks Ansible Podman connection https://github.com/containers/ansible-podman-collections/issues/70

[2020-07-05 22:58] mheon commented on #6856
Probably a regression in 2.0 - `podman mount` as rootless is only meant to be invoked from a `podman unshare` shell and should error otherwise.

[2020-07-06 01:55] Aruscha commented on #6795
So first of all sorry I was a little bit on the road, I even changed the operating system to Centos8 today, same problem, podman on my laptop, works without problems, I don't understand the problem anymore...

[2020-07-06 01:56] Aruscha commented on #6795
[arusha@Florina ~]$ podman info                                                                host:
  BuildahVersion: 1.12.0-dev
  CgroupVersion: v1
  Conmon:
    package: conmon-2.0.6-1.module_el8.2.0+305+5e198a41.x86_64
    path: /usr/bin/conmon
    version: 'conmon version 2.0.6, commit: a2b11288060ebd7abd20e0b4eb1a834bbf0aec3e'
  Distribution:
    distribution: '"centos"'
    version: "8"
  I

[2020-07-06 02:45] mybigman opened #6857 "Error: setrlimit `RLIMIT_NOFILE`: Invalid argument: OCI runtime error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

unable to create containers

**Steps to reproduce the issue:**

1.  ```podman run -it --rm --name test alpine:latest```

**Describe the results you received:**
Error: setrlimit `RLIMIT_NOFILE`: Invalid argument: OCI runtime error

**Describe the results you expected:**
The container to start

[2020-07-06 07:21] skorhone commented on #6853
Here's results for tests using curl.

Create exec curl:

`curl --unix-socket /var/run/docker.sock http://localhost/containers/bab287ffc339/exec -X POST -H "Content-Type: application/json" --data '{"containerId":"ba4ee486442467adab8c5d04f7abacf2ca222562bc174e6ef08495ef70cc7401","AttachStdin":null,"AttachStdout":true,"AttachStderr":true,"Tty":null,"Privileged":null,"User":null,"Cmd":["/bin/sh","-c",

[2020-07-06 07:23] balamuruganravi commented on #6800
can someone help me to resolve the above mentioned issue.

[2020-07-06 07:35] skorhone commented on #6853
Here's podman results. I didn't get binary dumps, but I think that there's something that is different with encoding control characters. When I dump start data to console podman shows question mark while docker shows x (before second /bin/bash)

Curl command for creating exec (only socket is different and sudo is required to access root owned socket):

`sudo curl --unix-socket /tmp/podman.sock htt

[2020-07-06 08:13] skorhone commented on #6853
It seems like clients such as curl make decision about connection reuse based on multiple conditions. For this scenario these rules apply:
* Do not reuse connection, if **request** contains upgrade
* Do not reuse connection, if **response** is 200 and does not contain response size or is not chunked

I think, that curl against podman would have also failed, if I had been fast enough with my comman

[2020-07-06 08:49] vrothberg commented on #6857
Thanks for opening the issue, @mybigman! We're working to fix the issue. Cc @giuseppe @mheon @rhatdan

[2020-07-06 08:59] #6479 closed

[2020-07-06 09:01] vrothberg commented on #5572
I concur. Thanks for your great work, this really makes things _much_ simpler.

[2020-07-06 09:05] vrothberg commented on #6793
Thanks a lot for checking! Using unit files that create new containers (as done with `--new`) is a requirement as we need to create and start new containers in order to use the updated image.

I'll open a PR to improve the docs and make this requirement explicit.

[2020-07-06 09:17] vrothberg commented on #6793
Opened #6858

[2020-07-06 10:15] rhatdan commented on #6480
@haircommander Are you working on this?

[2020-07-06 10:16] Thitho007 commented on #6799
same problem #5825 which was closed without receiving notification from Github...

[2020-07-06 10:37] rhatdan commented on #6114
@mheon What is the scoop on this one?

[2020-07-06 10:39] rhatdan commented on #5849
@baude PTAL

[2020-07-06 12:06] mavit opened #6861 "Can't bind mount /etc/localtime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
The container starts, and uses the same timezone as the host.

**Additional information you deem important (e.g. issue happens only occasionally):**
This worked fin

[2020-07-06 12:11] matpen opened #6862 "Low performance with volumes on btrfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am experiencing low performance when containers using volumes backed by a btrfs filesystem. Since I started to use podman I have been puzzled by my applications being slow when deployed (DigitalOcean droplet), but pretty fast in my development environment (laptop). Now I could finally find

[2020-07-06 12:26] tmds opened #6863 "userspace network between containers"
Creating a network requires root.

To avoid that, you can:
- put containers in a pod and communicate via "localhost"
- use the "--network host" network

Both options use ports from the same "host", so it is not possible to run multiple containers that have the same containerport, like when the same image is used to create multiple containers.

Can podman support creating a 'network' between contai

[2020-07-06 13:06] vrothberg commented on #6861
Thanks for opening the issue! I think that's a crun issue that @giuseppe has a fix for.

[2020-07-06 13:12] vrothberg commented on #6862
Thanks for reaching out, @matpen! I don't know any btrfs experts in this community. Maybe there's another kernel setting for Ubuntu that needs tweaking to improve btrfs performance? I fear that moving the volumes to ext4 or xfs may be the quickest solution.

@giuseppe @mheon @rhatdan WDYT?

[2020-07-06 13:13] mheon commented on #6800
If that `systemctl` command is failing, you most likely do not have a systemd user session enabled/running (which is strange, because I was fairly certain RHEL shipped with them enabled). Might be caused if you tried to use `systemctl --user` as root?

[2020-07-06 13:22] vrothberg commented on #6863
Thanks for reaching out, @tmds!

I think that what you need is mentioned on [podman.io](https://podman.io/getting-started/network.html) "Container <-> Host Communication".

[2020-07-06 13:28] #6793 closed

[2020-07-06 13:55] rhatdan commented on #6383
I think we have a work around closing,  reopen if I am mistaken.

[2020-07-06 13:55] #6383 closed

[2020-07-06 13:56] rhatdan commented on #6382
@vrothberg Are we ok with Documentation now?

[2020-07-06 13:56] rhatdan commented on #6265
@vrothberg Could you look at this problem?

[2020-07-06 13:58] cdjohnson commented on #6496
bump

[2020-07-06 13:59] rhatdan commented on #6221
@chuanchang @baude What is the state of this issue? Can I close it?

[2020-07-06 14:00] rhatdan commented on #6158
I think @mheon answered this query, reopen if You believe we need to reveal more information.

[2020-07-06 14:00] #6158 closed

[2020-07-06 14:00] vrothberg commented on #6382
Not yet. I want to wait for the --sd-notify PR to merge. Once that's done, we can create a living doc upstream.

Also, after the PR we can debloat the units from generate systemd quite a lot.

[2020-07-06 14:01] rhatdan commented on #6139
@mheon @maxm123 @Navdeepuniyal Is this a documentation bug?  No Bug?  Can I close the issue?

[2020-07-06 14:02] vrothberg commented on #6265
Sorry, I won't find time for that in the foreseeable future.

[2020-07-06 14:03] tmds commented on #6863
@vrothberg I'm looking for Container <-> Container communication.

This is what I'd like (similar to rootfull network):

- limit which containers can communicate (no communication with containers which are not part of the 'network')
- don't expose ports publically on the machine (bound to 0.0.0.0)
- port map container port, so the same image can run multiple times
- disallow access to any service

[2020-07-06 14:08] haircommander commented on #6480
I am not currently working on this!

[2020-07-06 14:09] vrothberg commented on #6863
That doesn't work at the moment. Pulling in the slirp4netns specialists: @AkihiroSuda @giuseppe, what do you think?

[2020-07-06 14:12] rhatdan commented on #6480
@ryanchpowell Want to take a look?

[2020-07-06 14:15] ryanchpowell commented on #6480
@rhatdan sounds good, looking into!

[2020-07-06 14:31] #6248 closed

[2020-07-06 14:32] rhatdan commented on #6123
@giuseppe Any change you had time to play with this?

[2020-07-06 14:33] rhatdan commented on #6090
@bkircher @mheon Was this fixed in 2.0?  Can I close this?

[2020-07-06 14:33] giuseppe commented on #6861
yes, tracked here: https://github.com/containers/crun/pull/427

[2020-07-06 14:33] #6861 closed

[2020-07-06 14:35] rhatdan commented on #6015
@baude @jwhonce @mheon Any movement on this?

[2020-07-06 14:36] mheon commented on #6862
This should all be kernel-side - under the hood, these are just bind mounts into the mount namespace of the container. I don't think Podman itself does (or can do) anything about performance here - if there are issues, they're likely on the kernel's side

[2020-07-06 14:36] mheon commented on #6090
This is not fixed.

[2020-07-06 14:39] mheon commented on #6857
This looks sufficiently different from the PID limit that I'm not sure the proposed fix for that will fix this

[2020-07-06 14:40] mheon commented on #6857
It's also rather unusual that you're seeing this with NOFILE, and not the pids limit.

It looks like it is set to a non-standard value here...

[2020-07-06 15:03] drewbailey opened #6866 "Clarify external use and support for pkg/bindings"
/kind feature

**Clarify support & usage of pkg/bindings**

pkg/bindings seems like current and only go client to interact with the podman http api. It would be reassuring if this package was given a readme and identified as a package that can and should be consumed by external projects similar to docker's go client https://github.com/moby/moby/tree/master/client

I was also wondering if there had

[2020-07-06 15:29] cevich commented on #4511
Update: Still working on this, multiple PRs in flight.  Currently ironing out details of the human release process translation into automation.

[2020-07-06 15:49] sshnaidm commented on #6856
Yeah, so can we make it failing instead of silent non-mounting?

[2020-07-06 15:56] balamuruganravi commented on #6800
I executed this command as podman user only
[code]

[2020-07-06 16:01] skorhone opened #6867 "API: gitlab-runner docker test suite fails when used with podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
This is informational issue that should be closed when test suite execution passes.

gitlab-runner contains a test suite for verifying Docker API compatibility. Considering that Podman's API should be docker compatible, podman should pass gitlab-runners test suite without modifications.

Instr

[2020-07-06 16:03] skorhone commented on #6867
I hope you don't mind opening this as an issue. I just wanted a common place where to share information about gitlab test suites. I'd recon that you can internally make use of these go based tests

[2020-07-06 16:39] mheon commented on #6867
I think we'd prefer individual issues for bugs found by said test suites, but trackers for overall test suites might not be the worst thing.
@rhatdan @baude Thoughts?

[2020-07-06 16:54] baude commented on #6856
does it perform swarm based tests? or things like renaminig containers?

[2020-07-06 16:56] mheon commented on #6863
I think this is something we need to look into in the future; the limitation on what we can do with networking in rootless is a major drawback.

[2020-07-06 16:56] mheon commented on #6856
@baude Wrong issue :smile:

[2020-07-06 16:57] baude commented on #6867
does it perform swarm based tests? or things like renaminig containers?

[2020-07-06 16:59] mheon commented on #6856
#6868 to fix

[2020-07-06 17:25] skorhone commented on #6867
I don't think it does either. I can check tomorrow.

Suite does seem to include bunch of interesting API calls that currently
fail with podman. The way that GitLab runner uses containers isn't the most
typical way of using containers, so I'd expect these tests to reveal issues
that would be otherwise hard to find.

ma 6. heinäk. 2020 klo 19.57 Brent Baude <notifications@github.com>
kirjoitti:

[2020-07-06 17:28] #5128 closed

[2020-07-06 17:52] rhatdan commented on #2669
This is being worked on .

[2020-07-06 18:24] rhatdan commented on #6857
Could you show the podman inspect $CTR and look at the ulimit settings?

Do you have a containers.conf on your system with some settings?

[2020-07-06 18:28] rhatdan commented on #6799
I believe we should do this at start time as well.  Makes little sense to reserve random ports.  Which is what we are doing.  I don't think changing the default would break anyone's expectations and existing containers would continue to work, since they have the ports reserved.

[2020-07-06 18:38] mheon commented on #6799
Porting the code to run at start time instead of create time is a nontrivial effort, and thus far I haven't seen a compelling argument to make the switch. There's certainly the potential for issues in the current model, but only in cases where containers are turned off for a significant period of time and then restarted, and I don't know how common that actually is.

[2020-07-06 18:39] rhatdan commented on #6265
@QiWang19 PTAL

[2020-07-06 18:42] baude commented on #6867
@skorhone Ok great.  Would love to see you on IRC so we can collab on this.

[2020-07-06 18:47] skorhone commented on #6799
Also, it might not be bad idea to add podman specific configuration that allows overriding system defaults for range used by port randomization.

Docker is running as daemon, so one range is enough for it. Podman can be used by multiple accounts on single host. Would be nice addition, if ranges could be controlled by user account. This would allow use random ports with per user host firewall rules

[2020-07-06 18:47] rhatdan commented on #6426
I don't believe this is a bug, Can I close it?

[2020-07-06 18:48] rhatdan commented on #6387
@chuanchang Is this still an issue?

@ParkerVR PTAL @baude PTAL

[2020-07-06 18:49] rhatdan commented on #6377
@Hendrik-H Did you get a chance to look at this?

@ParkerVR or @ryanchpowell Want to take a look at this?

[2020-07-06 18:50] #6334 closed

[2020-07-06 18:50] #6250 closed

[2020-07-06 18:51] rhatdan commented on #6251
Did you decide is this actually a bug/issue or should we close this?

[2020-07-06 19:10] rhatdan commented on #6496
@mtrmac PTAL

[2020-07-06 19:11] Hendrik-H commented on #6377
Sorry, I did not look into the implementation. It is quite unlikely that I will be able to provide a fix any time soon. We will likely grab the stout/stderr output and than process it accordingly.

On July 6, 2020 6:49:53 PM UTC, Daniel J Walsh <notifications@github.com> wrote:

[2020-07-06 19:35] caemate commented on #6862
While I agree with @mheon that podman cannot probably fix the problem by itself, I also do not agree with the decision of closing this issue. In fact, the problem seems to emerge from the interaction of podman with the kernel (or btrfs): btrfs does work well when used on the host directly.

[2020-07-06 19:36] matpen commented on #6862
While I agree with @mheon that podman cannot probably fix the problem by itself, I also do not agree with the decision of closing this issue. In fact, the problem seems to emerge from the interaction of podman with the kernel (or btrfs): btrfs does work well when used on the host directly.

[2020-07-06 20:02] gnu-lorien commented on #6251
Let's go ahead and close it.

I can't restart the machine. I successfully migrated all of my local workloads to rootless containers, which don't have this bug. All of the other machines where I need to use root containers seem to be doing the correct thing.

[2020-07-06 20:02] #6251 closed

[2020-07-06 20:42] #6856 closed

[2020-07-06 20:46] rhatdan commented on #6862
@matpen Sure we can reopen it but you would need to tell us what we are doing wrong with the mount point.  If you look at the container and mount namespace at how the mount point is being handled, then tell us what we are doing wrong we would have a chance of fixing it.

None of us use BTRFS so us figuring this out is not likely, and we can not even identify if this is a Podman issue.

One thing t

[2020-07-06 20:54] Aruscha commented on #4251
Hey,

I use Centos8 and have problems with podman as well.

Via WLAN I can download everything from podman but not via LAN (which is important for a server)

Smaller pulls such as : hello-world, nginx, apline etc. go.  Mysql, Nextcloud, Owncloud as example do not work.

Always get connection reset by peer.

I am at cloudflare and have heard that there are problems in this regard, is that true?

Do

[2020-07-06 20:56] rhatdan commented on #4251
This looks like we need the retry stuff that @QiWang19 was working with in Skopeo?

[2020-07-06 21:01] Aruscha commented on #4251
![IMG_20200706_230058_061](https://user-images.githubusercontent.com/49562390/86642998-a038aa80-bfdc-11ea-9279-780caadb1963.jpg)

After Skopeo, my IP always gets kicked out...  Which means I have no right to use it.

[2020-07-06 21:58] QiWang19 commented on #4251
It might be helpful to have the default retry behavior like buildah `retryCopyImage` https://github.com/containers/buildah/blob/8c807dd1450069ddde8e21bec2bd996dc7a7969a/common.go#L125

[2020-07-07 01:14] mybigman commented on #6857
@rhatdan I searched the system and there at two containers.conf

```~/.config/containers/containers.conf``` < I did not create this file and renaming this file made no difference.
[code]
```/usr/share/containers/containers.conf``` < I have not made any changes to this file and everything appears to be commented out.

I can only do an inspect on a container that's ran with ```--ulimit host``` since

[2020-07-07 03:40] alitvak69 opened #6875 "Building of Podman 2.0.x packages fails in Kubic Project due to Go < 1.13 on Ubuntu 18.04"
/kind bug

**Description**

I wonder if Go can be bumped to 1.13 in packages on the Open Build service for
18.04 <= ubuntu < 20.04 and possible Debian.  It seems that recent changes are preventing podman 2.0 from being built with the earlier versions of Go.  I was able to build podman 2.0.1 using Go 1.13 from custom ppa on my box, but developers here use and test with your repo.

[2020-07-07 03:42] AkihiroSuda commented on #6863
Duplicate: https://github.com/containers/libpod/issues/1733

[2020-07-07 06:40] afbjorklund commented on #6875
Same story for CRI-O, guess you just have to use the older packages

[2020-07-07 07:40] ashokponkumar commented on #4131
@rhatdan I went through the comments above, but I might not be well versed with all the core underlying requirements. I was able to get it working in docker
`docker run --privileged -ti quay.io/podman/stable sh -c "dnf update -y && podman run --cgroup-manager=cgroupfs --net=host hello-world"`

but in podman I ran into issues when running inside podman.
[code]

My requirement is to run a container

[2020-07-07 07:57] chuanchang commented on #6274
It doesn't work well for me, the curl command can't still normally exit after 8 mins.

$ curl -v -X POST -H "Content-Type: application/x-tar" --data-binary "@Dockerfile.tar" http://localhost:8080/v1.40/libpod/build|jq
Note: Unnecessary use of -X or --request, POST is already inferred.
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 D

[2020-07-07 08:17] jskovjyskebankdk commented on #4131
@ashokponkumar see https://github.com/containers/libpod/issues/6667, buildah running in OpenShift.
The specific error you see is because .local/share/containers is already configured for overlay and you now tell it to use vfs.

[2020-07-07 08:18] BOPOHA commented on #5306
confirmed when tmp_dir is not on tmpfs (tmp.mount systemd unit is masked)
[code]

`rm -rf /tmp/run-$(id -u)/` resolve issue without reboot

[2020-07-07 08:18] chuanchang commented on #6243
It seems we were missing these documentation updates

[2020-07-07 08:31] ashokponkumar commented on #4131
Thanks @jskovjyskebankdk. There is lot of useful info in #6667. Will try to follow them. Looking forward to your PR on the openshift documentation. Would really help if you can reference the PR in #6667, once it is ready. Also, would the same steps work in any Kubernetes distribution (I would assume it would depend on the container runtime used)?

[2020-07-07 08:37] AkihiroSuda commented on #6863
Documented how to set up inter-namespace communication:  https://github.com/rootless-containers/slirp4netns/blob/master/slirp4netns.1.md#inter-namespace-communication

So, podman could support multi-container networks in two possible ways:
* Nest multiple network namespaces and vEths inside a singleton slirp4netns instance
* Use vde_plug (or its equivalent) for communication across multiple slirp4

[2020-07-07 08:40] jskovjyskebankdk commented on #4131
I expect to start working on the PR today. With some luck :)
I only have access to (interest in, really) OpenShift. So I am not sure.

[2020-07-07 08:41] chuanchang opened #6877 "Got several errors after updating local libpod to commit id 1a93857a"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

1. [podman] \<defunct\>
2. ERRO[0000] error joining network namespace for container

[code]

**Steps to reproduce the issue:**

1. as Description

**Describe the results you received:**
as Description

**Describe the results you expected:**

**Additional information you deem important (e.g. i

[2020-07-07 08:42] ashokponkumar commented on #4131
sure @jskovjyskebankdk . Thanks! I will try out your instructions once it is ready.

[2020-07-07 08:46] chuanchang commented on #6221
It works for me.

[2020-07-07 08:53] vrothberg commented on #6877
Thanks for the report, @chuanchang!

The error comes from containernetworking/plugins and the statfs type is a tmpfs (see below).

[code]

CNI is expecting PROCFS_MAGIC, or NSFS_MAGIC. @giuseppe, do you have suspicion how we could end up with a tmpfs one?

[2020-07-07 08:54] chuanchang commented on #6387
I still can't find specified images by filter query parameter.

[2020-07-07 09:02] chuanchang commented on #6242
Got the same result like before and w/o command output.

[code]

[2020-07-07 09:37] giuseppe commented on #6877
it seems just that the mount was not pinned so it gets the stat from the underlying `/run/user/1000` mount.  It should be:

[code]

[2020-07-07 09:40] giuseppe commented on #6877
if the podman pause container died the mount namespace wasn't kept alive so we lost access to these pinned namespaces.

[2020-07-07 10:05] chuanchang commented on #6426
It doesn't work for me w/ upstream in rootless mode, it should be a podman.socket issue, I can successfully kill a container
by downstream podman-1.9.3-2.module+el8.2.1+6867+366c07d6.x86_64.

Basically, I followed contrib/systemd/README.md to start podman.socket in rootless mode

[code]

NOTE: it still doesn't work when tried to sudo make install or sudo copy ./bin/podman /usr/bin/podman or modifi

[2020-07-07 10:35] vrothberg commented on #6242
Same when using the remote client:

... no output.

[2020-07-07 10:48] rhatdan commented on #6875
The issue is that newer versions of Kubernetes are being vendored in that require newer compilers.

[2020-07-07 11:25] travier opened #6879 "[2.0 regression] /sys/fs/{selinux,cgroup} no longer masked during build (not reproducible with buildah)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During builds with the podman 2.0+ releases, the `/sys/fs/selinux` folder is not masked with an empty root:root 777 directory, confusing yum//dnf into thinking that it should do SELinux related setup which will fail.

This does not happend with podman `2:1.8.2-2.fc32`, but only with podman `2

[2020-07-07 11:55] alitvak69 commented on #6875
I don't disagree with this notion but can the current Kubic Project maintainers start using newer Go for building latest packages?  Or does it mean, for example, Ubuntu Bionic will not be supported for version 2.0 and above?  That would be pity as one doesn't need to upgrade go or install go for runtime.

[2020-07-07 12:01] matpen commented on #6862
@rhatdan Thank you for reopening the issue and supporting for this investigation! I am definitely willing to perform all necessary work to setup a reproducible case, and collect all required information. All I ask from the podman team is a few pointers as I make progress, specifically for those podman features I have limited understanding of.

For example, it seems like you already have a good ide

[2020-07-07 12:06] vrothberg commented on #6875
@lsm5 PTAL

The go world and the "traditional" world of Linux distributions are quite different. Go is rolling fast and with it the entire ecosystem around it, including most container tools as most are built on top of go.

We tried to defer the requirement on go 1.13+ as much as possible but our hands are tied to a certain degree as too many dependencies jumped on go 1.13 which introduced some ni

[2020-07-07 12:10] lsm5 commented on #6875
@alitvak69 I just learned from the OBS guys how to add the backports repos to Debian 10. I should be able to fix Debian today, I'll look into the older Ubuntus as well.

[2020-07-07 12:14] vrothberg commented on #6875
Awesome, thanks a ton @lsm5 !!!

[2020-07-07 12:15] alitvak69 commented on #6875
@lsm5 and @vrothberg Thank you for your ongoing support and attention to this matter.

[2020-07-07 13:17] rhatdan commented on #6879
I am not seeing this?

[code]

$ podman build --no-cache /tmp
STEP 1: FROM fedora
STEP 2: run id -Z
id: --context (-Z) works only on an SELinux-enabled kernel
Error: error building at STEP "RUN id -Z": error while running runtime: exit status 1

$ sudo podman build --no-cache /tmp
STEP 1: FROM fedora
STEP 2: run id -Z
id: --context (-Z) works only on an SELinux-enabled kernel
Error: error building

[2020-07-07 13:25] rhatdan commented on #6879
Ok I see it now, in rootless mode you are getting an error listing /sys/fs/selinux

[2020-07-07 13:44] travier commented on #6879
I'm sorry I failed to mention I am indeed running rootless.

[2020-07-07 13:51] travier commented on #6879
Comparing the output between podman and buildah, it looks like the cgroups mount point is not hidden anymore:

[code]

[code]

[2020-07-07 14:30] skorhone commented on #6803
Closed by #6852

[2020-07-07 14:30] #6803 closed

[2020-07-07 14:37] baude commented on #6274
@chuanchang can you paste the full curl command here?

[2020-07-07 15:30] mtrmac commented on #6496
Thanks for your report. Yes, that is almost certainly https://github.com/containers/image/issues/733 . You can verify that by using `skopeo inspect --raw` on the destination and comparing the manifests.

[2020-07-07 15:43] afbjorklund commented on #6875
Eventually even the enterprise linux world catches up to the fact that tools evolve faster than systems, and we get things like "application streams" to allow multiple versions of for instance the `go` compiler.

[2020-07-07 15:48] TristanCacqueray opened #6884 "[2.0 regression] Rootless non-root user capability are no longer added"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Capabilities set using `--cap-add` are no longer added to non-root user.

**Steps to reproduce the issue:**

1. podman run --user 1000 --device /dev/net/tun --cap-add NET_ADMIN fedora getpcaps 1

**Describe the results you received:**

Capabilities for `1': =

**Describe the results you expec

[2020-07-07 15:49] vrothberg commented on #6875
I think the enterprise world does that already, at least we (Red Hat) do. I guess more distributions will follow but it will take time.

[2020-07-07 15:51] mheon commented on #6884
@rhatdan PTAL

[2020-07-07 15:58] TristanCacqueray commented on #6884
I meant perhaps this is not a regression and that was actually a bug fix, though that would be quite unfortunate as being able to use `/dev/net/tun` as regular user is quite handy. If this is no longer possible, then podman could fail early when `--cap-add` is used along with `--user` instead.

[2020-07-07 16:10] skorhone commented on #6797
Resolved with #6878

[2020-07-07 16:10] #6797 closed

[2020-07-07 16:26] afbjorklund commented on #6875
In the old days, we just did hacks like "go1.13-1.13.9" or something. But then you get to also backport all the required tools first.

If you don't care so much, you can just use the network and do `go get golang.org/dl/go1.13.9` as per vendor documentation.

https://golang.org/doc/install#extra_versions

But I think the OpenSUSE build system _does_ care...

So it would be much better with a prope

[2020-07-07 17:22] mtrmac commented on #6507
Thanks for your report; this should be fixed in Podman 2.0.0, which has been released since. Can you retest, please?

[2020-07-07 17:24] goochjj opened #6887 "libcontainer/runc v1.0.0-rc91 introduces breaking changes"
/kind bug

Using this issue to track a problem introduced by runc v1.0.0-rc91 in various areas.

c/common v0.15.2 now depends on rc91, which causes the issue.

Root cause:
https://github.com/opencontainers/runc/blob/819fcc687efb6e99d980a257f1dc8d92d02ba5bd/libcontainer/configs/device.go#L37

Device permissions are now a custom type

This commit
goochjj@2b64224

identifies the lines that need to ch

[2020-07-07 17:25] goochjj commented on #6887
Further discussion from #6882

[2020-07-07 17:46] lsm5 commented on #6875
@alitvak69 I was able to build for Debian 10 x86_64, but I can't seem to find anything newer than golang 1.10 in Ubuntu versions older than 20.04. So, I can either request ubuntu people to backport it or build it myself on OBS. Might be worth doing both, but may take a few days unless I can reuse current packaging sources without any change.

[2020-07-07 17:46] #6221 closed

[2020-07-07 17:51] rhatdan commented on #6857
If you remove the file from your homedir, you still can not create a container?

[2020-07-07 17:53] afbjorklund commented on #6875
@lsm5:
I reused your packaging for podman 1.9.3, in order to fix the podman-remote issues

Good that it works both ways

[2020-07-07 17:55] lsm5 commented on #6875
@afbjorklund sorry, reused where exactly? are you building it separately somewhere?

[2020-07-07 18:01] afbjorklund commented on #6875
I just used “pbuilder”

[2020-07-07 18:07] rhatdan commented on #6862
I was thinking `podman run -v /SOURCE:/DEST fedora mount | grep /DEST`
This should show you how we are mounting the volume into the container.

[2020-07-07 18:08] goochjj commented on #6887
@rhatdan I see you doing vendoring things in Buildah - do you have another plan in mind?

[2020-07-07 18:11] rhatdan commented on #4251
SGTM
@QiWang19 Could you open up a PR to add this to Podman.

[2020-07-07 18:31] hackerde commented on #5895
Yes. I have flat singularity images stored on a cvmfs repo and it cannot start the container with that directory as `--rootfs` since it is a read-only filesystem. Copying the entire image over to a non-read-only place starts the container properly.

[2020-07-07 18:38] rhatdan commented on #6884
[code]
We add the capability to the bounding set, but not to the individual user.

Is the expected hahavior that --cap-add would add NET_ADMIN to the user process, IE CAPEFF?

[2020-07-07 18:41] rhatdan commented on #6887
Yes we need to get this fixed in Buildah and then vendor the whole thing into podman.  Problem is Buildah CI system is in a sad shape right now.

[2020-07-07 18:47] goochjj commented on #6887
OK want to weigh in on the plan then? :)

1) Change c/common to require runc rc90 instead of rc91 - which fixes libpod builds and allows pids-limit to proceed forward
2) Leave c/common requiring rc91, and force-replace with rc90 on libpod - which fixes libpod builds and allows pids-limit to proceed forward, but allows projects that don't issue a replace line to fix their runc-caused build issues..

[2020-07-07 18:49] goochjj commented on #6887
Prob with 1 is at sometime in the future we're going to need to undo that too...

[2020-07-07 19:20] rhatdan commented on #5895
Do you know what inodes is it complaining about. You could add an overlay mount on the rootfs to allow podman to write to it.
Podman will attempt to modify an image if it does not have certain inodes like /etc/resolv.conf and /etc/hosts.

[2020-07-07 19:21] rhatdan commented on #6507
Closing, reopen if it is not fixed.

[2020-07-07 19:21] #6507 closed

[2020-07-07 19:22] mheon commented on #6701
It's done.

[2020-07-07 19:22] #6701 closed

[2020-07-07 19:24] baude opened #6890 "podman exec environment test - integration test fails in v2remote"
Test currently fails.

exec_test.go: 80

[2020-07-07 19:27] baude opened #6891 "podman exec with user only in container - integration test fails in v2remote"
exec_test.go:158

[2020-07-07 19:28] baude commented on #6891
podman exec with user from run  :175  also fails

[2020-07-07 19:29] matpen commented on #6862
@rhatdan Thank you for the pointer. So here is the result for the actual container that is presenting the problem:

[code]

[2020-07-07 19:31] baude opened #6892 "podman exec simple working directory test - integration test fails in v2remote"
exec_test.go:195

podman exec missing working directory test also fails :214

[2020-07-07 19:31] alitvak69 commented on #6875
would adding custom ppa I used help you  at least in short term?

[2020-07-07 19:37] baude opened #6893 "podman-remote exec return codes incorrect"
Several integration tests that are current disabled review that podman-remote sets exit codes of 0 when commands have failed.

exec foobar /etc should return a 126 (returns 0 today)
exec foobar notarealcommand should return a 127 (returns 0 today)

These can be verified with exec_test.go: 229 and :240

[2020-07-07 19:37] Conan-Kudo commented on #6701
THANK YOU! 💯 🥇

[2020-07-07 19:46] rhatdan commented on #6862
Ok that is showing the overlay mount, but not the volume mounts inside of the container.

[2020-07-07 19:48] matpen commented on #6862
My bad, here is the correct data:
[code]

[2020-07-07 19:51] mheon commented on #6862
Does the same performance degradation happen if subvolumes are not involved?

[2020-07-07 19:57] matpen commented on #6862
@mheon No. The btrfs volume makes it slow. I just performed extensive tests, and am about to post the results.

[2020-07-07 19:58] lsm5 commented on #6875
Na, OBS guys aren't gonna agree to it. And, AIUI, there's no way for me to simply add some PPA. I'll look into adding the golang package myself.

[2020-07-07 20:09] matpen commented on #6862
As mentioned in my earlier comments, today I also took the time to setup a droplet from scratch and perform some comparisons.

The droplet is a standard droplet with 1 CPU, Ubuntu 18.04 and kernel 4.15.0-66-generic.
Then I added two identical volumes 20 GB volumes, and formatted one with ext4 and the other with btrfs.

The test involves a simple set of SQL queries that create a new database and so

[2020-07-07 20:59] matpen commented on #6862
`btrfs` with `nobarrier` indeed brings the performance level up to the `ext4` volume: 4-5 seconds on average. This seems to confirm the sources outlined in the OP.

[2020-07-07 21:30] cyphar commented on #6862
This does look like a kernel issue, but can you try running a similar test with just cgroups and no container runtime at all (to help narrow down where the issue is coming from)? You could do this by doing something like:

[code]

This would help figure out whether this is a derivative of the cgroup issue we had several years ago (that you linked in this thread). Alternatively, can you provide an

[2020-07-08 01:09] goochjj commented on #6887
I think option 2 is probably the best.

#6897

[2020-07-08 03:52] skywalker512 opened #6899 "[APIv2] events?filters return 500"
/kind bug

**Description**

treafik v2.2.1 will  call on `/v1.24/events?filters=%7B%22type%22%3A%7B%22container%22%3Atrue%7D%7D` but return 500

**Steps to reproduce the issue:**

1. podman system service -t 0 tcp:0.0.0.0:9999

2. start treafik with `endpoint = "tcp://127.0.0.1:9999" ` config

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additio

[2020-07-08 04:02] mybigman commented on #6857
Correct... without this file I still cant create the container.

[2020-07-08 04:44] skywalker512 opened #6900 "[APIv2] The container cannot be started through the API"
/kind bug

**Description**

The container cannot be started through the API, return 500

**Steps to reproduce the issue:**

1. Create a container using the CLI or API

2. Error starting container using API

[code]

3. Starting the same container with CLI succeeded

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e

[2020-07-08 07:51] skorhone commented on #6867
I have created a naive cirrus-ci project which demonstrates how it could be run. Unfortunately I just can't get podman to run properly in a container created by cirrus-ci. I get permissions errors when creating network and tmpfs :-(

Project is here: https://github.com/skorhone/libpod-gitlab-it/tree/cirrus
Example run can be located here: https://cirrus-ci.com/task/5682090681303040

[2020-07-08 08:15] doc-olliday commented on #6510
Any news on that?

In the meanwhile we've updated to:
[code]

The problem still exists.

[2020-07-08 08:23] vrothberg commented on #6510
Apologies for not getting back to this issues earlier. I'll take a look right now.

[2020-07-08 08:31] giuseppe commented on #5895
yes the way to work on a read-only file system is through an overlay mount.

We are currently working on a better integration between cvmfs and podman so that you won't need to set it up manually (https://github.com/cvmfs/cvmfs/pull/2582).

[2020-07-08 09:39] tmds commented on #1733
@AkihiroSuda Is there a way to expose a host port to a container? For example, I have nginx running on the host at localhost:80, can I make it accessible to a specific container?

[2020-07-08 09:46] jskovjyskebankdk commented on #6667
I have written this: https://github.com/jskovjyskebankdk/buildah/blob/rootlessBudOpenShift/docs/tutorials/05-openshift-rootless-bud.md

@ashokponkumar would you have a look?

@rhatdan I have written a tutorial for the buildah project since that is what works right now.
When/if it gets to work with podman, I will be happy to provide a similar variant for podman.
Does that suit you, or would you pre

[2020-07-08 09:48] siscia commented on #6430
Can you please point out to the blog post also for future references.

[2020-07-08 09:49] AkihiroSuda commented on #1733
slirp4netns can expose localhost:80 on the host as 10.0.2.2:80 in the container, when `slirp4netns` process is not launched with `--disable-host-loopback`.
But Podman does not provide a way to launch slirp4netns without `--disable-host-loopback` AFAIK.

A hacky way would be like this (untested)
[code]

[2020-07-08 10:24] rhatdan commented on #6140
@bam80 I will close this issue, I don;t believe this is a problem with Podman. Reopen if you disagree

[2020-07-08 10:24] #6140 closed

[2020-07-08 10:30] rhatdan commented on #6857
If you create the container, with the create command and then inspect it you are seeing ulimits in the config?

podman --version

[2020-07-08 10:39] rhatdan commented on #5895
@giuseppe We really need to document what inodes need to be present to run a podman on a read/only rootfs.  I believe we should be able to work, as long as the necessary inodes are present, even without an overlay.

[2020-07-08 10:48] rhatdan commented on #6430
https://www.redhat.com/sysadmin/image-stores-podman

[2020-07-08 10:53] mybigman commented on #6857
Doing ```podman create alpine:latest ls``` has the following in the ulimits.

[code]
Podman version is in first post.
[code]

[2020-07-08 10:59] rhatdan commented on #6857
Could you download and try https://koji.fedoraproject.org/koji/buildinfo?buildID=1537752

[2020-07-08 11:01] rhatdan commented on #6857
It should shortly be in updates-testing.
https://bodhi.fedoraproject.org/updates/FEDORA-2020-19924b556e
[code]
Sadly it was not there when I just tried.

[2020-07-08 11:03] vrothberg commented on #6430
With Dan's blog being published, I think we can close the issue.

[2020-07-08 11:03] #6430 closed

[2020-07-08 11:21] vrothberg commented on #6899
Thanks for opening the issue!

There's definitely a bug causing the panic but `/v1.24/events?filters=%7B%22type%22%3A%7B%22container%22%3Atrue%7D%7D` seems to not be marshalled correctly

Does the call work with Docker?

[2020-07-08 11:56] vrothberg commented on #6899
Opened https://github.com/containers/podman/pull/6902 which will fix the panic.

[2020-07-08 12:04] skywalker512 commented on #6899
Yes, it work fine, and treafik code is here

https://github.com/containous/traefik/blob/master/pkg/provider/docker/docker.go#L271-L299

[2020-07-08 12:06] vrothberg commented on #6900
I can't reproduce. Did you compile Podman on your own or did you use a PPA?

[2020-07-08 12:11] skywalker512 commented on #6900
I can run it if I compile it myself, but not with binary packages generated by cirrus

[2020-07-08 12:15] vrothberg commented on #6900
Which package are you referring to? Can you share a link?

[2020-07-08 12:16] skywalker512 commented on #6900
https://cirrus-ci.com/task/6003746385690624

[2020-07-08 12:17] skywalker512 commented on #6900
https://cirrus-ci.com/task/6423725719420928

[2020-07-08 12:20] vrothberg commented on #6900
Thanks!

Those binaries are meant for testing only but don't officially support them (see https://github.com/containers/podman#static-binary-builds). There are certain issues with static go binaries that force us to only support dynamic ones.

[2020-07-08 12:20] #6900 closed

[2020-07-08 12:27] bam80 commented on #6140
I think I have no experience to decide

[2020-07-08 12:30] vrothberg commented on #6899
Thanks, I can reproduce locally when running the docker client against the podman.sock
[code]

[2020-07-08 12:41] vrothberg commented on #6899
Fun... the Docker API states that filters are a `map[string][]string` while they are actually:
[code]

@baude, I guess we need to change the wiring on our side to be compatible. WDYT?

[2020-07-08 12:42] vrothberg commented on #6899
This explains the unmarshal error on our side:

[2020-07-08 13:06] bryanmacfarlane commented on #4131
I can help trying out in k8s when it's ready ...

[2020-07-08 13:06] HarryMichal commented on #6075
You are right about this one. It's coming in the future.

[2020-07-08 13:39] mheon commented on #6899
@vrothberg Are you sure the filter typing didn't change between v1.24 and v1.40?

[2020-07-08 13:40] vrothberg commented on #6899
I can have a look at older implementations but the docs of v1.24 and v1.40 didn't change

[2020-07-08 14:08] baude commented on #6899
but arent you saying the docs are actually wrong?

[2020-07-08 14:11] vrothberg commented on #6899
The docs in v1.40 are wrong. I will look at v1.24 code to check if it has always behaved like that or if the implementation has changed over time.

[2020-07-08 14:13] mheon commented on #6899
Can we verify this with another filter? the `Type` filter looks unusual enough that it might be handled specially

[2020-07-08 14:15] vrothberg commented on #6899
It's independent of the filter as the types are different (see https://github.com/containers/podman/issues/6899#issuecomment-655494562).

We follow the documentation with using a `map[string][]string` but docker uses `map[string]map[string]bool`.

[2020-07-08 14:37] vrothberg commented on #6899
I just checked. v1.24 (Docker 1.12.) was also using a `map[string]map[string]bool` so I guess it has always been a bug in the Docker docs.

[2020-07-08 14:41] lsm5 commented on #6875
@alitvak69 @afbjorklund dear valued members of the podman community, ask and ye shall receive :)
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

Enjoy :)

[2020-07-08 14:56] c-goes commented on #6867
Maybe configure podman to use slirp4ns? This worked well when I tried to run podman in LXD containers. But I'm not sure if it helps here.

[2020-07-08 14:59] carlpett commented on #6288
I seem to have inadvertently reproduced this again, and now I'll try to not fix it :) It's worse now:
[code]

So 179 images, .local/share/containers is ~51G. Let me know what I can test to nail this down!
@vrothberg @mheon @rhatdan

[2020-07-08 15:08] lsm5 commented on #6875
Closing, I guess all distros and arches are happy now except Debian Unstable ppc64le, which is an OBS problem that I nag them often about.

[2020-07-08 15:08] #6875 closed

[2020-07-08 15:48] srcshelton opened #6908 "podman-2.0.2: --pids-limit value out of range"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I added `--pids-limit 1024` to my default launch scripts for running `podman` (after nearly accidentally fork-bombing my host!) at about `podman-1.9.3`, and this has been accepted (... and, I assume, applied?) ever since...

However, with `podman-2.0.2` suddenly I'm getting:

[code]
... as `p

[2020-07-08 15:53] srcshelton commented on #6908
Something related to https://github.com/containers/podman/commit/c4023a9302c81f04865646d765caf58ccf556cae?

[2020-07-08 15:54] srcshelton commented on #6785
Fixed in `podman-2.0.2`! 👍

[2020-07-08 15:54] #6785 closed

[2020-07-08 15:57] srcshelton commented on #6801
I've been unable to reproduce the missing manifest problem in the past few days, so perhaps the issue was resolved sometime between the various `2.0.0_rc` releases?

I'm totally happy for this issue to be closed pending a recurrence, or left open a little longer in case I can get it to happen again...

[2020-07-08 16:52] fbezdeka commented on #4725
@rhatdan I have the same problem using the kas container.

docker:
[code]

podman:
[code]

There is a "mount" call in the entry point, but that seems to be executed by docker as well as podman.
Any ideas?

[2020-07-08 16:54] edsantiago commented on #6263
I'm going to recommend closing this issue. As reported, it is a problem with the reporter's setup, not podman: the reporter is failing to use quotes in the curl command, which of course makes the shell interpret `&` as 'background me'.

curl works perfectly fine with attach and stdout, it just (unsurprisingly) does not handle stdin:
[code]
It works fine with `nc` but devising an actually useful te

[2020-07-08 17:11] baude commented on #6769
adding `-p` to the ps command will include pod names when applicable

[2020-07-08 17:14] mheon commented on #6908
Confirmed. Only happens on the v2.0 branch, not master.

[2020-07-08 17:16] Edward5hen commented on #6263
Understood, thanks for the answer!

[2020-07-08 17:30] mheon commented on #6908
Fix in #6910

[2020-07-08 17:48] #6801 closed

[2020-07-08 17:53] rhatdan commented on #4725
@fbezdeka What podman command are you executing?  What podman --version?

[2020-07-08 18:07] skorhone commented on #6867
I guess I could give rootless a try. It shouldn't be all too hard to install required components and run podman as non-root - I bet that cirrus ci is running build container without privileges anyways.

[2020-07-08 19:04] rhatdan commented on #6667
No that sounds good.

[2020-07-08 19:06] #6263 closed

[2020-07-08 19:33] fbezdeka commented on #4725
[code]

[code]

[2020-07-08 20:24] rhatdan commented on #4725
@fbezdeka You need to do the install, I belive.

The buster-slim image does not do `mount -t binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc ` automatically.

[2020-07-08 20:42] fbezdeka commented on #4725
I will retest, but when running on docker it is getting mounted.

So we have different behaviour between docker and podman here.

[2020-07-08 20:46] matpen commented on #6862
@cyphar Thank you for joining this discussion, and for your valuable input: this is exactly the kind of help I was hoping to get.

So I went on and, based on your directions, I prepared a [scripted test](https://github.com/containers/podman/files/4893167/test.zip) that I ran multiple times today:
* the setup is the one I described [earlier](https://github.com/containers/podman/issues/6862#issuecom

[2020-07-08 20:55] rhatdan commented on #4725
If that is true, then Docker is mounting binfmt_misc by default when running --privileged, if that is true then that would be a significant difference that we should fix, however I don't believe it does.

[2020-07-08 21:08] fbezdeka commented on #4725
Host:
package `qemu-user-static` is installed, so `/proc/sys/fs/binfmt_misc` is "filled".

Both (docker and podman)
When starting the container `/proc/sys/fs/binfmt_misc` is empty.

Within container running on docker:
[code]

Within container running on podman:
[code]

[2020-07-08 21:25] fbezdeka commented on #4725
When running on docker a kernel module named `binfmt_misc` gets loaded into the host kernel.

When running on podman this seems to fail (silently).

[2020-07-08 21:27] rhatdan commented on #4725
It is blocked by SELinux and might be blocked by non root user doing it.
Does it work if you disable SELinux for the container?
Does it work if you install it as rootfull podman.

[2020-07-08 22:05] skorhone commented on #6853
I'll have a look at this tomorrow. Not sure, if I can find time to figure out why encoding seems to be different compared to docker, but I should be able to do something about handling upgrade headers as specified in Rfc 7230.

[2020-07-08 22:48] mheon commented on #6853
I'll spin up a PR to default TTY to true if unset, which should help the other part

[2020-07-09 02:03] mybigman commented on #6857
Installed the 2.0.2 version from testing and works as expected. Thanks for persevering.

ulimits
[code]

[2020-07-09 05:27] jskovjyskebankdk commented on #4131
@bryanmacfarlane It is pretty OpenShift specific in its use of (at least) DeployConfig.
It is here: https://github.com/jskovjyskebankdk/buildah/blob/rootlessBudOpenShift/docs/tutorials/05-openshift-rootless-bud.md

If it brings you closer to running on k8s, I guess we could amend, or clone it for k8s.

[2020-07-09 05:48] jskovjyskebankdk commented on #6667
I created https://github.com/containers/buildah/pull/2453

Do you have an issue for this so that I can track it?
I would like to follow this to the end, if possible. So the project can have a simple tutorial that simpletons like myself can follow :)

Thanks!

[2020-07-09 06:47] alitvak69 commented on #6875
Thank you for the amazing turn around!

[2020-07-09 07:35] abitrolly commented on #6769
The interface needs to address the need to understand which ports are exposed by pod, and how are they connected to containers in that pod.

[2020-07-09 07:56] tmds commented on #1733
@AkihiroSuda thank you for the info. I guess podman disables this by default for security. It would be nice to have a flag to expose the host loopback.

[2020-07-09 08:04] AkihiroSuda opened #6912 "rootless: support launching slirp4netns without --disable-host-loopback"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Support launching slirp4netns without `--disable-host-loopback`, so that the localhost ports on the host can be accessed as 10.0.2.2 from containers.

For security, the default MUST remain to use --disable-host-loopback.

Originally requested by @tmds https://github.com/containers/podman/

[2020-07-09 08:12] vrothberg commented on #6899
@baude @mheon ... do you agree to change our docs and implementation to use a `map[string]map[string]bool` for compat and libpod?

[2020-07-09 09:29] fbezdeka commented on #4725
SELinux:
It's not a SELinux problem. Even when running with a global "setenforce 0" the audit log keeps empty.

rootfull podman:
What exactly do you mean? I'm starting with sudo and the --privileged flag. Does that fully cover "rootfull podman"?

I just noticed that the mentioned `binfmt_misc` kernel module is already loaded during boot on the podman host.
So the installation of `qemu-user-static`

[2020-07-09 09:41] skorhone commented on #6853
Should be fixed by #6913. I finally got a container in testcontainers up with this patch.

For some reason I still have random crashes and connection leaks (according to podman's debug log for connection count), but I don't think that they have anything to do with this change - I've had them before as well.

[2020-07-09 09:50] netroby commented on #1742
Wish debian Sid support podman v2.0

[2020-07-09 09:50] gatoniel commented on #6777
Could you point me to some ressource that clarifies on these questions. Otherwise I cant really change the tutorial.

[2020-07-09 10:12] johanbrandhorst commented on #3932
To add another datapoint, as an experienced 1.x podman user, I just installed 2.0 on a new machine and managed to find the rootless instructions in the man page, so that wasn't so bad. However, when trying to run a container, I was greeted with the following cryptic error message:

[code]

It wasn't until I found this issue and the mention of the command `podman system migrate` that things started

[2020-07-09 12:16] 0xb35c commented on #6839
Hi @vrothberg,

do you have any updates on this issue? :)

Thanks

[2020-07-09 12:28] skorhone opened #6915 "Connection tracking for hijacked connections is not implemented correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
IdleTracker registers hijacked connections as active connections. This is against specification which says:

[code]

If connection is hijacked, it should be removed from active connection pool rather than adding to it.

[2020-07-09 12:28] skorhone commented on #6915
#6914 should fix this

[2020-07-09 12:43] vrothberg commented on #6839
Thanks for the ping! Apologies, I got pulled into other issues. I will have a look tomorrow.

[2020-07-09 12:49] rhatdan commented on #6519
@edsantiago has this issue disappeared?

[2020-07-09 12:50] rhatdan commented on #6523
@ryanchpowell Any progress on this?

[2020-07-09 12:50] rhatdan commented on #6517
@baude PTAL

[2020-07-09 12:51] rhatdan commented on #6514
@ryanchpowell Any progress?

[2020-07-09 12:52] rhatdan commented on #6512
I think this is answered, reopen if I am mistaken.

[2020-07-09 12:52] #6512 closed

[2020-07-09 12:53] #6475 closed

[2020-07-09 12:53] rhatdan commented on #6192
@ParkerVR Any progress?

[2020-07-09 12:55] rhatdan commented on #6497
@edsantiago I believe this is fixed in RHEL, and should not be an issue in github.  Closing,  Reopen if I am mistaken.

[2020-07-09 12:55] #6497 closed

[2020-07-09 12:58] #6857 closed

[2020-07-09 13:07] mheon commented on #6899
Sure. Ensuring compatibility with the actual implementation is more important than compatibility with their docs.

[2020-07-09 13:10] ryanchpowell commented on #6523
@rhatdan I have not made any progress on this issue.

[2020-07-09 13:10] ryanchpowell commented on #6514
@rhatdan I have not made any progress on this issue.

[2020-07-09 13:25] anarcat commented on #1742
I believe the right place to report that is not here but on [the Debian bugtracker](https://bugs.debian.org/src:libpod), which [already knows about it](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=964378). :)

It seems there's about a dozen dependencies missing...

[2020-07-09 14:28] edsantiago commented on #6519
Not seen again since initial report[*]. Closing.

 [*] Not seen by cirrus-flake-summarize, at least. That is not a guarantee that the problem hasn't occurred, because cirrus-flake-summarize does not look at errors in closed-without-merging PRs nor in CI runs that were followed by a new force-push. But it's the best I can do.

[2020-07-09 14:28] #6519 closed

[2020-07-09 14:38] #6544 closed

[2020-07-09 14:58] nalind commented on #6667
In a pod spec, one possibility would be to mount a `HostPathCharDev` volume to mount the device from the node, but those volume devices don't get added to the container's device cgroup.  The runtime will add all devices to the container's device cgroup if the container is `privileged`, but that's what we're trying to avoid requiring here,

https://github.com/kubernetes/kubernetes/pull/79925 attemp

[2020-07-09 17:14] rhatdan commented on #6912
Sure, what would you suggest the CLI for this should be?

[2020-07-09 17:28] #6799 closed

[2020-07-09 17:36] rhatdan commented on #4725
I have no idea what in Podman would be blocking this mount.
I am trying to duplicate your error, and I see.
sudo podman run --privileged -it docker.io/library/debian:buster-slim bash
root@09b37fba3c34:/# apt-get install qemu-user-static
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package qemu-user-static

[2020-07-09 17:37] rhatdan commented on #4725
apt-get update
fixes that issue.

[2020-07-09 17:40] rhatdan commented on #4725
Ok I don't see a problem in the install, but when it is done, the mount point does not exist.

[2020-07-09 17:42] rhatdan commented on #4725
Do you know what the post install script of qemu-user-static looks like?

[2020-07-09 17:48] rhatdan commented on #4725
It seems to work if I do --pid=host.

So this looks like something different in the way we setup the /proc file system when running in Podman then in Docker.

Inside of Podman I see:

# mount | grep proc
proc on /proc type proc (rw,nosuid,nodev,noexec,relatime)

Also could you make sure Docker uses PIDNS in privileged mode.

sudo podman run --privileged -it docker.io/library/debian:buster-slim ls

[2020-07-09 17:55] rhatdan commented on #6777
I am about to write a blog on containers.conf.
Podman reads
/usr/share/containers/containers.conf, /etc/containers/containers.conf, $HOME/.config/containers/containers.conf
If they exists in that order, Each one can override the previous for particular fields.

Storage.conf
/etc/containers/storage.conf (Podman does some fancy footwork internally and ignores certain fields when rootless)
$HOME/.con

[2020-07-09 17:57] rhatdan commented on #3932
Strange that you got this error when running a `docker` command?  :^(  I guess you have the alias setup.

This should only happen on a fairly old system, I believe.  Most updates from here on, should never see this.
@mheon WDYT?

[2020-07-09 18:02] johanbrandhorst commented on #3932
Sorry, I should've been clear, I am indeed using the podman docker alias. My system is very new though, I'm using `podman` 2.0.1 from the Arch User Repository, and it was definitely not working (rootless) until I ran migrate, for whatever reason :thinking:. Maybe it is a red herring and I did something else to get it working, but I don't think so.

[2020-07-09 18:04] mheon commented on #3932
It's usually caused by the user running Podman at least once, realizing that they didn't have subuid/subgid set up, and then modifying those files and running Podman again. The files on disk are correctly populated, but the Podman pause process was made with the old, bad mappings, so things still fail without a `system migrate` to correct it.

In an ideal world, we would detect that the files have

[2020-07-09 18:22] fbezdeka commented on #4725
PIDs on docker:
[code]
The owner of the last one is different when comparing to podman, don't know if that matters.

I can confirm that --pid=host works. Thanks for the hint!

[2020-07-09 18:37] edsantiago commented on #5212
Reopening. cirrus-flake-xref is reporting a *ton* of these, most recently on July 6:

Podman login and logout [It] podman login and logout with --tls-verify
* fedora-30 : test fedora-30
  * PR #6424
    * [05-28 19:41](https://storage.googleapis.com/cirrus-ci-5385732420009984-fcae48/artifacts/containers/libpod/5278045802070016/html/integration_test.log.html#t--podman-login-and-logout-with---tls-ve

[2020-07-09 18:38] johanbrandhorst commented on #3932
That definitely seems consistent with my experience, glad to have it cleared up.

[2020-07-09 18:50] skorhone commented on #6915
#6918 Combines contents of my both pull requests and fixes connection counters for v2 interfaces. If there is hijacking in libpod api, I'll leave fixing that to others.

I'll be away for ~4weeks for summer holidays. So if this needs rebasing - it won't happen unless you take over my repo :-)

[2020-07-09 19:42] choman opened #6919 "[Question] - Access NFS Home Dir w/ keep-id"
Sorry for not filling out all the info, but this is really more of a question

**podman version:**
Version:      2.0.2
API Version:  1
Go Version:   go1.13.11
Built:        Thu Jan  1 00:00:00 1970
OS/Arch:      linux/amd64

**System Info:**
selinux is enforcing
home directories are NFS mounted

Out of the following two commands
1) podman container run -it --rm -v $HOME:$HOME --entrypoint bash --s

[2020-07-10 02:42] leo-lb commented on #5891
This issue is happening for me on Fedora 32 on ppc64le:

[code]

[2020-07-10 02:44] space88man opened #6920 "podman 2.0.1 on Fedora 32 Failed to mount tmpfs on /run: Operation not permitted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman 2.0.1 on Fedora 32 cannot run systemd based containers
**Steps to reproduce the issue:**

1. `podman run --entrypoint /sbin/init centos:8`

2.

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**
Container runs with systemd as PID 1

**Additional i

[2020-07-10 02:46] space88man commented on #6920
Downgrade to 1.8.2:

[code]

[2020-07-10 03:47] chuanchang commented on #6274
@baude I still used previous curl command, you can got it from https://github.com/containers/podman/issues/6274#issuecomment-654670255 and https://github.com/containers/podman/issues/6274#issuecomment-633797218, thanks!

[2020-07-10 03:56] abitrolly commented on #6111
Any command line tool for that?

[2020-07-10 04:16] twagtwig commented on #5891
Me too. I'm running podman on Debian 10 cloud with the newest Kubic package.

[2020-07-10 05:20] jskovjyskebankdk commented on #6667
OK, thanks @nalind

[2020-07-10 06:42] vrothberg commented on #5891
Please open a new issue for that. The issue here is very different and has been closed many weeks ago.

@giuseppe @AkihiroSuda, you may be interested in it.

[2020-07-10 06:56] leo-lb opened #6922 "ppc64le: slirp4netns "seccomp: can't add extra arch (i=0)" "enable_seccomp failed""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install a Fedora 32 system on ppc64le and install Podman 2.0.1

2. Run: `podman run --rm -it alpine /bin/bash`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Shell in running Alpine Linux container

**Additional i

[2020-07-10 07:01] leo-lb commented on #5891
@vrothberg Seeing the comments and the fact it was closed after being stale, I wasnt sure whether it was certain it was solved or not. Opened another here: https://github.com/containers/podman/issues/6922

[2020-07-10 07:24] ruskofd commented on #6920
In order to run Podman container with systemd inside, you need to pass the `--systemd` flag in order to set correct tmpfs mounts for systemd. And don't forget the correct SELinux boolean : `setsebool -P container_manage_cgroup true`
http://docs.podman.io/en/latest/markdown/podman-run.1.html

[2020-07-10 07:30] nikAizuddin opened #6923 "Can't install Podman v1.1.0 from Kubic Project on Centos 7"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

A few days before, installation success. But today suddenly failed.

**Steps to reproduce the issue:**

1. Install podman latest stable from kubic project as recommended by [Podman Installation](https://podman.io/getting-started/installation.html):
[code]

**Describe the results you received:**

Podman Installation failed an

[2020-07-10 09:21] nikAizuddin commented on #6923
However, if I manually download and install `containers-common-1.1.0-1.el7.x86_64.rpm`, it works:
[code]

[2020-07-10 10:24] rhatdan commented on #4725
@giuseppe Any ideas what is going on here?

[2020-07-10 10:26] rhatdan commented on #5212
@mtrmac Thoughts?

[2020-07-10 10:53] rhatdan commented on #6919
If you are using crun, you can leak the groups into the container.

[code]

Did you tell container/storage to ignore-chown-errors?

[2020-07-10 11:23] rhatdan commented on #6528
@ebiederm Could you answer @kgibm   question?

[2020-07-10 11:24] rhatdan commented on #6255
@QiWang19 Could you add an interface to containers/common to reload configuration.

[2020-07-10 11:26] rhatdan commented on #6190
There is ongoing work to add retry to podman.

[2020-07-10 11:27] rhatdan commented on #6253
@mheon PTAL

[2020-07-10 11:27] rhatdan commented on #5730
@ryanchpowell Any movement on this?

[2020-07-10 11:28] rhatdan commented on #4961
@ParkerVR Any movement on this?

[2020-07-10 11:29] rhatdan commented on #1433
I have a PR up for this one. https://github.com/containers/podman/pull/6851

[2020-07-10 11:31] harche opened #6927 "Not able to run k8s node e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Kubernetes [node e2e tests](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-node/e2e-node-tests.md) execute `docker info --format '{{json .}}'` command before starting with the tests. I see the support was added for `GO template {{ json . }}` in podman a while back i

[2020-07-10 11:35] vrothberg commented on #6920
It should work as well when the entrypoint is `init` or `systemd`. Can you try as suggested by @ruskofd  with `--systemd` ?

[2020-07-10 11:36] vrothberg commented on #6922
@giuseppe PTAL

[2020-07-10 11:36] vrothberg commented on #6922
Thanks for opening the issue, @leo-lb !

[2020-07-10 11:49] rhatdan commented on #4501
@cevich any update?

[2020-07-10 11:53] rhatdan commented on #6111
Not yet, but it is moving forward slowly.

[2020-07-10 12:11] SevereOverfl0w opened #6928 "--sig-proxy does not default to true when using -a, despite the docs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman-start when using `-ai` does not default to `--sig-proxy=true`, but this conflicts with the documentation in `man podman-start`

**Steps to reproduce the issue:**

1. `podman start -ai 'SomeContainer'`

2. `Ctrl-C`

**Describe the results you received:**

Pod is still running in the bac

[2020-07-10 12:27] vrothberg commented on #6927
Thanks for opening the issue, @harche!

I works when adding a space with `'{{ json .}}'`. I'll take a look to make it a bit more tolerant.

[2020-07-10 12:31] vrothberg commented on #6927
It's not defined for `podman info` but note that #2688  referred to `podman version`

[2020-07-10 12:32] ryanchpowell commented on #5730
@rhatdaan Yes, close to a PR

[2020-07-10 13:06] mheon commented on #6928
Probably a symptom of the 2.0 CLI migration. I'll take this.

[2020-07-10 13:22] giuseppe commented on #6922
@AkihiroSuda should we check for the arch before using seccomp or do you think it should be fixed in slirp4netns?

[2020-07-10 13:23] space88man commented on #6920
@ruskofd @vrothberg It didnt work, getting the same error.

[code]

[2020-07-10 13:31] AkihiroSuda commented on #6922
Should be fixed in slirp4netns, can we just ignore all seccomp errors?

[2020-07-10 13:33] mheon commented on #6920
Confirmed locally.

[2020-07-10 13:37] baude commented on #6927
I think templates require the space?

[2020-07-10 13:38] mheon commented on #6920
Only happens with `centos:8` and not `fedora:32` - makes me think the systemd version is a problem?

[2020-07-10 13:42] mheon commented on #6920
Adding `--privileged` makes it work. Tried to narrow it down to Seccomp, SELinux, or Capabilities, but disabling just one of them doesn't fix it.

[2020-07-10 13:43] mheon commented on #6920
I do have an AVC from systemd in the journal

[code]

[2020-07-10 13:45] mheon commented on #6365
I haven't double-checked, but I'm fairly certain this was fixed by the 2.0 release, which checks sysinfo to verify swap limits are possible

[2020-07-10 13:46] mheon commented on #6573
Closing, we should have a new-enough conmon landed.

[2020-07-10 13:46] #6573 closed

[2020-07-10 13:49] mheon commented on #6920
Hm. It seems like `--systemd=true` is not firing - we're not autodetecting that the container executable is systemd.

`--systemd=always` works perfectly.

[2020-07-10 13:55] giuseppe commented on #6922
IMHO, I think we can safely ignore them

[2020-07-10 14:10] drewbailey opened #6930 "Varlink no longer accessible in 2.0.2, requesting stable 2.0.0 package"
/kind bug

**Varlink is not supported message**

I understand that podman is moving away from varlink in favor the the HTTP API, which I think is great. Unfortunately the switch is happening a bit too quickly for us to manage migrating. I think that the deprecation notice in 2.0.0 and then dropping it entirely in 2.0.2 was a little quick and unexpected for a patch release.

Is there anyway we coul

[2020-07-10 14:15] mheon commented on #6930
@baude @lsm5 What do we want to do here? Keep Varlink around until we deprecate for F33?

[2020-07-10 14:19] space88man commented on #6920
I couldn't get it to work with fedora:32 after installing the systemd RPM. The image doesn't have `/sbin/init`.

I can confirm that `--systemd=always` is working for me, both centos:8 + fedora:32 (+ systemd installed)

[2020-07-10 14:56] SevereOverfl0w commented on #6928
This wasn't a problem for me in the 1.0 series, I should have mentioned that, sorry.

[2020-07-10 15:15] nikAizuddin commented on #6923
Looks like [containers-common-1.1.0-1.el7.x86_64.rpm](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/x86_64/containers-common-1.1.0-1.el7.x86_64.rpm) has mismatched SHA1 checksum according to [repodata/primary.xml](https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/repodata/primary.xml.gz).

On my machine:
[code]

The co

[2020-07-10 15:22] lsm5 commented on #6930
@drewbailey I can add that back in for debian, no worries.

@mheon maybe we can have different rules for each distro? or conflicting subpackages like podman and podman-varlink, so people can install podman-varlink if podman ain't good enough?

[2020-07-10 15:24] mheon commented on #6930
Hm. We can probably keep the tag for 2.0.x and 2.1.x, then drop to a subpackage for 2.2.x, and finally remove around 2.3.x, maybe?

[2020-07-10 15:25] lsm5 commented on #6930
I'm fine with that approach, no idea about when exactly those should happen though. @baude @vrothberg @rhatdan @jnovy ??

[2020-07-10 16:07] nikAizuddin commented on #6923
I'm closing this issue and moving to https://bugzilla.opensuse.org/show_bug.cgi?id=1174012

[2020-07-10 16:07] #6923 closed

[2020-07-10 16:53] polygamma opened #6933 "Error: invalid config provided: AppArmorProfile and privileged are mutually exclusive options"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`sudo podman run --privileged hello-world` leads to
[code]
when using Ubuntu 20.04.

I was informed by a colleague of mine about this problem, when he tried to use an image of us, and could not get it to work.

Using Arch Linux, I could not reproduce the problem.

**Steps to reproduce the iss

[2020-07-10 17:03] mheon commented on #6892
Issue identified: we get no output from `podman exec` if `-t` or `-i` are not specified.

[2020-07-10 17:04] mheon commented on #6892
This is most likely the cause of a majority of exec test failures

[2020-07-10 17:28] mtrmac commented on #5212
Starting with “no such file or directory” being true as written, `INTEGRATION_ROOT` being empty is a good hypothesis.

I have very little experience with Ginkgo; reading https://onsi.github.io/ginkgo/#parallel-specs , ginkgo parallel tests apparently run in separate _processes_, not threads/goroutines, so https://github.com/containers/podman/blob/b1cc781c68964dff3ee4a00ef7ce71f56ae69e7c/test/e2e/c

[2020-07-10 18:07] pzl opened #6935 "Podman v2 no longer allows clearing of entrypoint on the command line"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Previously, it was possible to override and erase the entrypoint of an image on the CLI. After the switch to cobra flag parsing, it seems that is no longer the case

**Steps to reproduce the issue:**

1. `podman run --rm -it --entrypoint= alpine/git sh`

**Describe the results you received:**

[2020-07-10 18:25] mheon commented on #6920
Aha, think I've got it.

We aren't taking into account the entrypoint (only the command) when we determine if the container is running systemd - so we don't see your `/sbin/init` and don't enable systemd mode unless `systemd=always` is set.

[2020-07-10 18:41] salifou commented on #5403
I was having the same issue ... adding `-e BIND=127.0.0.1` worked for me.

[2020-07-10 20:03] skorhone commented on #6935
It could be that I don't fully understand how pflags works or it could be that parsing logic is flawed. All strings seem to default as empty when parsing flags. I don't see any way how you would differentiate between an empty string set by user and a default value

Code that I looked at can be found here: podman/cmd/podman/common/create.go

For some reason entrypoint and few other bits are not par

[2020-07-10 20:08] skorhone commented on #6853
Merged

[2020-07-10 20:08] #6853 closed

[2020-07-10 20:09] skorhone commented on #6915
Merged

[2020-07-10 20:09] #6915 closed

[2020-07-10 20:25] skorhone commented on #6935
Creating an interface for reading parameters would allow sharing code between API and cli. Interface could be used as one of input parameters to function that forms container spec: options + image + config -> spec -> container

[2020-07-10 20:29] Luap99 commented on #6935
You can use something like: `cmd.Flag("entrypoint").Changed`. This will only be true if the flag is set on the command line.

[2020-07-10 20:39] skorhone commented on #6935
You could, but it would be a dirty hack. As is, code is really hard to follow. But as a quick fix, it should work.

Move to ContainerCLIOpts seems like a step towards having common structure and away from magic variables ("entrypoint" = magic var). It just needs another iteration with some love and care. And it desperately needs unit tests

[2020-07-10 23:31] skorhone commented on #6867
Updated test sets to run as rootless and it still fails. Now error is a bit different though and failure happens when pulling image: https://cirrus-ci.com/task/4677718585376768

I'll try slrip4nets as root next. Otoh I think that it might be just easiest to get a vm

[2020-07-11 03:33] alitvak69 commented on #6933
This is reproduced on ubuntu by ceph users.

##################################
Hi,

Using the repo suggested for Ubuntu 18 (
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/
) podman 2.0.2~1 is installed. However, when attempting to use cephadm to
bootstrap a cluster, we see an error when attempting to start the mon
container:

"Error: invalid config p

[2020-07-11 03:54] ormandj commented on #6933
Correct, that was my post, and it does occur on Ubuntu 18.

[2020-07-11 03:58] mheon commented on #6933
Is the expectation that the apparmor profile will be applied and used, or discarded? With SELinux + `--privileged` we will honor the `--security-opt` request for a specific label, so I lean towards doing that, but Podman 1.9 compatibility is more important.

[2020-07-11 05:38] alitvak69 commented on #6933
@mheon I am not sure if any policy specific to podman is configured in many cases.
Containers.conf has default entry commented out:
[code]

And 1.9.3 and below just run --privileged without any --security-opt.  Podman 2.0.2 exibits the same error with --security-option
[code]

[2020-07-11 08:46] vincent-olivert-riera commented on #6935
I'm also having this same issue. Before I was able to clear the entry point with `--entrypoint=""`, but now it does not work any more.

[2020-07-11 11:13] #6927 closed

[2020-07-11 11:16] #6890 closed

[2020-07-11 11:16] #6891 closed

[2020-07-11 11:16] #6892 closed

[2020-07-11 12:06] rhatdan commented on #6933
--privileged should not enable apparmor.  containers.conf is showing you the defaults.  It is built into the code.  If you want to change the default you can uncomment and change that line, otherwise it will apply apparmor policy on systems that support apparmor.

If a user says --privileged --security-opt apparmor=/etc/myapparmor
Then the my apparmor policy should be applied and everything else b

[2020-07-11 12:27] rhatdan commented on #6935
As a work around this should work.

podman run --rm -it --entrypoint=sh alpine/git

[2020-07-11 14:11] polygamma commented on #6933
Based on

[code]
Source: http://docs.podman.io/en/latest/markdown/podman-run.1.html

would I assume, that AppArmor profiles would be discarded. Sounds like you want to change that now, so that you can use AppArmor and `privileged` together?

Should one really do that, change the meaning of `privileged` so drastically? Sounds more like one wanted to introduce a new option for that e. g. `privileged

[2020-07-11 15:23] vincent-olivert-riera commented on #6935
That's a workaround valid only for that particular case, because you want to run the `sh` command in that container. If you want to run something slightly more complex, like `make foo`, it won't work.

[2020-07-11 15:26] andrew-kennedy opened #6940 "Feature request: systemd start rootless containers at boot without user login."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman currently does not seem to allow running rootless containers at boot using systemd without user login. I am trying to use the User= directive in the service files generated by podman generate systemd --files to make sure podman runs as my user at boot, but it isn't working. I get e

[2020-07-11 15:56] Luap99 commented on #6940
From my understanding `loginctl enable-linger` should start at boot without the user login.

[2020-07-11 16:29] lsm5 commented on #6930
@drewbailey v2.0.2 is now on OBS with varlink. Let me know how that works. I'll close this...

[2020-07-11 16:29] #6930 closed

[2020-07-11 17:53] mheon commented on #6933
What we're talking about here is a case where both flags are specified.

If I call `podman run -t -i --privileged --security-opt apparmor=$PATH ...` we've been given two flags that are in conflict in what they request (remove all security for the container, but also use the specified apparmor profile). With SELinux (and I believe seccomp) we will honor the privileged flag by removing all security

[2020-07-11 18:13] alitvak69 commented on #6933
@mheon But the problem is, the error appears even without --security-opt specified.  It affects deployment of ceph containers that uses privileged option for example.  So something changed in podman 2 vs 1.93

[2020-07-11 20:18] towe75 commented on #6930
Hey @lsm5, it's working. Thank you for the fix.

[2020-07-11 20:50] TomHutter commented on #6933
I experience the same behavior on Ubuntu 20.04:

[code]
The [podman man page](http://docs.podman.io/en/latest/markdown/podman-run.1.html) tells me:

**apparmor=unconfined :** Turn off apparmor confinement for the container

Which was the behavior before on Ubuntu 18.04.

[2020-07-11 22:04] alitvak69 commented on #6933
I could successfully run this

[code]

[2020-07-12 03:38] TomHutter commented on #6933
Yes, this works for me also. Thanks @alitvak69 . Seems I got the documentation wrong. Nevertheless podman behaves different in Ubuntu 20.04, or at least 18.04 accepted ` --security-opt apparmor=unconfined`.

[2020-07-12 03:49] alitvak69 commented on #6933
It is actually confusing, disabling label in config file (label = false) systemwide has no effect.  Still I would like to preserve compatibility if possible, and clarify documentation.

[2020-07-12 07:45] afbjorklund opened #6941 "Renaming the project invalidated checksums of archives"
This is more of a heads-up, than an actual bug. But all of the source downloads now have different checksums...

<details>

[code]
</details>

[code]

There are several things that are wrong with the world* here, so I guess podman is just a victim of circumstance.

* The tarball could have been called libpod-1.9.3.tar.gz and podman-1.9.3.tar.gz
* The checksum could have been on the contents, inste

[2020-07-12 07:56] afbjorklund commented on #6941
I think the next generation of build system will have to build _everything_ from git instead. Maybe create one with `pristine-tar`

Clearly _nobody_ is using this antiquated "name-version" system anymore. Already have to provide $GIT_COMMIT and friends.

[2020-07-12 12:39] mkyman opened #6942 "podman installation error ！"
OS : CentOS 7.8.2003 x64
Description : today , while I followed  the steps of podman installation instructions on official website, it threw me some errors below :

**[MIRROR] podman-plugins-2.0.2-1.el7.x86_64.rpm: Downloading successful, but checksum doesn't match. Calculated: 77ec61cc55fb3273e123d65ac535c6cc6b7423f0(sha1)  Expected: 58a4429d610ecc3940a4239f3ea867ad0c1115bf(sha1)

[FAILED] podman

[2020-07-12 14:29] cgwalters opened #6943 "rootless+privileged `/dev` mount fails when host changes (e.g. reboot)"
This is a bit of a conflict between podman's design for "create immutable container configuration" versus dynamic host submounts, and also whether containers should be "elephants" or "ants" (pets vs _).

I use [coretoolbox](https://github.com/cgwalters/coretoolbox) and often have the problem after rebooting that my pet development container fails to start with:
[code]

As far as I can tell what's

[2020-07-12 14:41] mheon commented on #6943
This seems really strange, because we have no code that would go through and generate these child mounts.

Is this a privileged rootless container? For those, we do create bind mounts for everything in `/dev` into the container (no permissions to recreate device nodes), which has the problematic side-effect of tying us to a single version of `/dev/` and breaking containers on simple things, like U

[2020-07-12 14:50] cgwalters commented on #6943
I should clarify that I was taking a guess as to what was going wrong, I didn't trace through it.

Yep!

OK yep, that sounds like the bug.  So it's not specific to coretoolbox.  Hmm.  Currently for the toolbox use case we really want everything from the host including things like `/run` and `/var` - I am going to try to switch to just `--volume=/:/host` like `oc debug node` and the MCO do.  If we

[2020-07-12 15:02] cgwalters commented on #6943
Sorry right I remembered now why we need a separate `/dev`, it's because of `/dev/pts`.  Argh.

[2020-07-12 15:04] mheon commented on #6943
Yes. That was our proposed way around individual mounts, but we haven't figured out a good way around it (bind mounting and shadowing paths were both considered, but couldn't resolve the issue).

At this point, it sounds like our best option is to move the logic for generating these links inside `libpod` so we can regenerate them every time the container starts.

[2020-07-12 15:23] cgwalters commented on #6941
See also http://github.com/cgwalters/git-evtag which is not subject to this issue.

[2020-07-12 17:50] FlorianLudwig opened #6944 "terminal broken inside of podman with usernamespace in some images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The terminal is pretty broken on some images when running with `--userns=keep-id`.

**Steps to reproduce the issue:**

1. `podman run -ti --userns=keep-id docker.io/greyrook/cde-dev-py37:cbfa6f05455445fbdc86acc3c7d7945c42c61829 bash`

2. press `aa[backspace]`

**Describe the results you recei

[2020-07-12 18:42] afbjorklund commented on #6941
People have started checksumming and signing now ? That would be nice too, but I'm still stuck at the MD5 and ASC level.

While we are at the soapbox, I still think base-32 was a neat idea. Then again, I always preferred the "hex" version myself.

[2020-07-12 19:45] cgwalters commented on #6943
Right; in coretoolbox today we have this notion of "static" vs "runtime" container initialization, see: https://github.com/cgwalters/coretoolbox/blob/e317fbd89dbc90234d49bacdeba1aebaad024889/src/coretoolbox.rs#L649
The "static" configuration is on the persistent parts of the container filesystem - e.g. we inject our user into `/etc/sudoers` and use a "stamp file" in `/etc` to signal that that proc

[2020-07-13 04:20] JaeSim commented on #6401
Hello,
I understood that the problem is fixed only when the CNI is updated.
It seems that you are thinking about the release plan in RHEL8.2++, do you plan to additionally release available podman in RHEL8.?

[2020-07-13 04:43] twagtwig commented on #6922
Anything I can do to help fix this, or is there a workaround for now?

[2020-07-13 05:08] AkihiroSuda commented on #6922
PR: https://github.com/rootless-containers/slirp4netns/pull/219

[2020-07-13 08:55] #6922 closed

[2020-07-13 09:42] osirase opened #6945 "Rootless podman causes slow behaviour for nginx subdomain reverse proxy. Running as root restores performance."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Nginx has poor performance when running as rootless for certain a application under subdomain redirect. Loading time is around 20-30 seconds. When ran as root, loading time is cut down to 5-6 seconds. I initially filed a bug report at jellyfin due to faulty reasoning, to save myself typing ou

[2020-07-13 09:55] AkihiroSuda commented on #6922
Released slirp4netns v1.1.4 with the fix for this.

[2020-07-13 10:30] vrothberg commented on #6539
Closing as it has been fixed in the main branch.

[2020-07-13 10:30] #6539 closed

[2020-07-13 10:49] zakkak opened #6947 "Podman support in docker-maven-plugin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Judging by the discussion in https://github.com/fabric8io/docker-maven-plugin/issues/1330, I would expect docker-maven-plugin to work with podman >=2. However trying it with quarkus results in error.

**Steps to reproduce the issue:**

1. `git clone --depth 1 https://github.com/quarkusio/

[2020-07-13 11:01] vrothberg commented on #6940
Hi @andrew-kennedy, thanks for reaching out!

With Podman 2.0, we support running system services (root) with the User/Group primitives to run rootless containers. Starting them at boot can be achieved via `systemctl enable ...`. If you have an ordinary user and want to run rootless containers in user services, you can use `loginctl enable-linger` (as suggest by @Luap99). Once lingering is enabled

[2020-07-13 11:47] AkihiroSuda opened #6948 "Error: unrecognized protocol "TCP" in port mapping"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unlike Docker, `podman run -p` does not accept "TCP" in upper characters.

**Steps to reproduce the issue:**

`podman run -it --rm -p 8080:80/TCP nginx:alpine`

**Describe the results you received:**

`Error: unrecognized protocol "TCP" in port mapping`

**Describe the results you expected:**

[2020-07-13 11:52] AkihiroSuda commented on #6948
PR: https://github.com/containers/podman/pull/6949

[2020-07-13 11:54] vrothberg commented on #6947
This error message suggests that the plugin needs to be pointed to the podman socket via DOCKER_HOST:
* 'unix:/run/user/1000/podman/podman.sock' for UID 1000
* 'unix:/run/podman/podman.sock' for root

Alternatively, you could start podman with `podman system service -t0 unix:///var/run/docker.sock'`.

Does that resolve your issue?

[2020-07-13 12:48] choman commented on #6919
I did not on the ignore chown errors, and the system I'm on has the runc environment as opposed to the crun environment

[2020-07-13 13:30] mheon commented on #6945
I suspect that this is slirp4netns. Rootless networking uses slirp4netns instead of creating an interface in a network bridge, which is a sort of manual bridge, tunnelling traffic from the host into the container. We can't really do this differently, as rootless Podman doesn't have the necessary permissions to set up a network bridge like root Podman does. If you require further performance, you c

[2020-07-13 13:30] zhangguanzhang commented on #6942
Find the mirror source closest to your network

[2020-07-13 13:37] markstos commented on #6734
So are there ultimate any action items here?

[2020-07-13 13:46] markstos opened #6950 "podman push fails with apparently false error that " Docker image with name "img-name" is already associated with another repository under owner "account name"'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pushing my first image to Github packages, it fails like this:

_Error: Error copying image to the remote destination: Error writing blob: Error initiating layer upload to /v2/company/project/myimage/blobs/uploads/ in docker.pkg.github.com: blob upload invalid: Docker image with name "my

[2020-07-13 13:55] tmds commented on #6912
suggestions: `--enable-host-loopback`/`--add-host-loopback`.

[2020-07-13 13:57] mheon commented on #6734
I don't think we can revert the patch (https://github.com/containers/podman/pull/6569) that caused this, given it does solve another bug. Also, interacting with systemd with cgroup-manager is set to cgroupfs is inherently risky (we might be running on a system without systemd, so we can't rely on it being present). We could potentially look into setting up a fresh systemd cgroup as part of systemd

[2020-07-13 14:07] goochjj commented on #6734
This is the only part that's actionable IMHO:
[code]

[2020-07-13 14:30] markstos commented on #6950
I found a reference to this error here, indicating some kind of problem on the Github side:

https://github.community/t/pushing-docker-image-to-gpr-manifest-invalid-only-schema-version-2-is-supported/16913/40

I also found a "details" page for the image attempted to push on Github, indicating that the image was in fact there could be pulled:

      docker pull docker.pkg.github.com/company/project

[2020-07-13 14:35] mheon commented on #6912
I'm still of the opinion we need a generic network options CLI - `--network-opt slirp4netns:enable-host-loopback,disable-seccomp` or similar

[2020-07-13 14:48] rhatdan commented on #6365
Please reopen if @mheon is mistaken.

[2020-07-13 15:43] markstos commented on #6950
After re-running the `podman push` and `podman pull` commands a second time, they both worked.

I'm guessing that Github failed on the final steps and returned a poor error message about what happened.

I'm if there's nothing for `podman` to handle for a case like this, feel free to close.

[2020-07-13 16:05] owtaylor opened #6953 "podman exec: Error: unable to find user $USER: no matching entries in passwd file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to exec into a container with '-u $USER' fails to look up the user that is automatically added by `--userns=keep-id --user root:root`

**Steps to reproduce the issue:**

in one terminal:

[code]

in another terminal:

[code]

**Additional information you deem important (e.g. issue happ

[2020-07-13 16:17] mheon commented on #6953
This is almost certainly our code for creating + bind-mounting `/etc/passwd` into the container.

[2020-07-13 16:48] #6777 closed

[2020-07-13 20:01] rhatdan commented on #6547
@Edward5hen Do we still have this issue?  @jwhonce @baude Is this fixed?

[2020-07-13 20:01] rhatdan commented on #5898
@vrothberg Still same state?

[2020-07-13 20:02] rhatdan commented on #5386
@jwhonce @gartnera Is this still an issue?

[2020-07-13 20:03] rhatdan commented on #1671
@ryanchpowell Any movement on this?

[2020-07-13 20:09] rhatdan commented on #6935
Yes, I was only suggesting it for your case.  Hopefully My PR will get merged soon, and then we can back port it into podman-2.0.3

[2020-07-13 20:14] rhatdan commented on #6558
@ashley-cui PTAL

[2020-07-13 20:20] vincent-olivert-riera commented on #6935
@rhatdan that would be great :-) Thanks for taking care of this.

[2020-07-13 20:27] zakkak commented on #6947
Starting the podman service with `podman service -t0` *and* setting `DOCKER_HOST` to `unix:/run/user/1000/podman/podman.sock'` did make it work up to a point.

Now I am getting:
[code]

Maven command used for the above:
[code]

[2020-07-13 20:32] rhatdan commented on #6944
@giuseppe PTAL

[2020-07-13 20:45] mheon commented on #6947
Having the HTTP requests that Maven is trying to make would help greatly here.

[2020-07-13 20:49] zakkak commented on #6947
@mheon how do I get those?

Running with `-X` gives:
[code]

[2020-07-13 20:51] mheon commented on #6947
Debug level logs (`--log-level=debug`) from the server will also help

[2020-07-13 20:55] zakkak commented on #6947
Appending output from `podman --log-level=debug system service -t3600`:

[code]

[2020-07-13 21:00] mheon commented on #6947
I don't know where the Maven error message (`Cannot watch on port 5432, since there is no network binding`) is coming from, but it's not Podman - it's no where in our repo. Maybe the app in the container?

Also, the version of the Docker API it's using is *ancient* - we are supporting v1.40, with best-effort support back to v1.24; it's requesting v1.18.

[2020-07-13 21:13] zakkak commented on #6947
I suspect that the reason it uses 1.18 is because `GET /version` fails (see https://github.com/fabric8io/docker-maven-plugin/blob/0098a49865cfc09af2b6dc0261c0f9150539d52a/src/main/java/io/fabric8/maven/docker/access/hc/DockerAccessWithHcClient.java#L791)

[code]

[2020-07-13 21:31] gartnera commented on #5386
You could close if if you'd like. I'll try and file some more specific issues. I reran the tests today, the output is below. Doesn't look like there's been much movement over the past month or two.

[code]

[2020-07-13 21:35] rhatdan commented on #6942
This is not an upstream issue.  Looks like you centos repos are not configured correctly.

[2020-07-13 21:35] #6942 closed

[2020-07-13 21:44] gartnera opened #6960 "APIv2: images aren't pulled automatically"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using APIv2: images aren't pulled automatically for `docker run`. When running with docker, the image is pulled even if it doesn't exist locally.

**Steps to reproduce the issue:**

1. `rm -rf /var/lib/containers/`

2. `podman system service -t0 --log-level=debug`

3. `docker run -it --r

[2020-07-13 22:09] rhatdan commented on #6950
Let's switch this to reopen if it happens again.

[2020-07-14 00:34] nmvega opened #6961 "Ubuntu LXC guest atop Fedora LXC host :: Getting "device not found, try 'modprobe fuse' first fuse-overlayfs: cannot mount: No such file or directory"..."
Hello Friends:

`Preamble: The following described problem doesn't happen when I run the command shown as root, but alas I don't want to run it as root`. =:)

So I have an `Ubuntu 20.04 LTS` LXC GUEST container atop a bare-metal `Fedora-30` HOST.

*Note. I usually use `Fedora-XX` as my LXC GUEST containers, but can't in this case because `Ubuntu` is required to run certain things*.

So on the `Fed

[2020-07-14 00:42] mheon commented on #6961
Do you have a `/dev/fuse` inside the LXC container that is attempting to run Podman, and does the user inside the container have access to the device?

[2020-07-14 00:43] nmvega commented on #6961
Wow that was fast. Let me check now.

[2020-07-14 00:44] edsantiago opened #6962 "podman system df: --format: needs newline terminators"
podman-system-df(1) documents the `--format` flag as follows:
[code]
Actually results:
[code]

[2020-07-14 00:47] nmvega commented on #6961
@mheon As you suspected, there is no `/dev/fuse`

[code]

[2020-07-14 00:55] mheon commented on #6961
You'll need to forward that from the host into the LXC container. I'm not really that familiar with LXC configurations, so I'm afraid I can't assist there.

[2020-07-14 00:57] nmvega commented on #6961
No worries. You already helped by pointing out the missing `/dev/fuse`. I'm searching around on that now, and perhaps community friends might chime on that part. Thank you again.

[2020-07-14 01:16] nmvega commented on #6961
@mheon Well I found [this issue](https://github.com/lxc/lxc/issues/1867), and rummaging around it, found the following statement, which I appended to the `Ubuntu` GUEST LXC `config` file, rebooted that container, and it works (or seems to):

Added to `config`:
[code]

`/dev/fuse` now exists:
[code]

The configuration entry seems straight forward enough, but I'll have to study it to see if it's opt

[2020-07-14 02:31] nmvega commented on #6961
I'll close this issue with a summary of the fix:

On the `Fedora` LXC HOST:
[code]
Add this line to the `config` file and save it:
[code]

Install this package on the `Ubuntu` LXC GUEST:
[code]
and finally, reboot your `Ubuntu` container.

I hope this helps others.

[2020-07-14 02:31] #6961 closed

[2020-07-14 02:51] osirase commented on #6945
Any advice on how to troubleshoot slirp4netns? I want to see exactly why it's not handling the GET requests properly and taking 5000ms to respond on certain GET requests. I'd like to understand why there is no performance impact for nextcloud, but a massive one for jellyfin.

[2020-07-14 06:36] vrothberg commented on #5898
Yes, unless we can clone containers, there's not much we can w.r.t. all requested items.

I am still undecided whether Podman should really take care of auto updates on such fine granularity. The beauty of the current mechanism is it's simplicity and that Podman only needs to update the image and restart the systemd service.

[2020-07-14 06:52] vrothberg commented on #6962
@ryanchpowell, is that something you'd like to tackle?

[2020-07-14 07:54] michaeladler commented on #4725
`--pid=host` does the trick for me as well. Thanks! @rhatdan Consider re-opening the bug?

[2020-07-14 09:45] giuseppe commented on #6944
I am not able to reproduce using both crun and runc from upstream.

Do you see the same issue if you install crun and try?

[code]
Could you also try to disable temporarily selinux?  It could also be causing issues with the terminal

[2020-07-14 09:54] barseghyanartur commented on #6816
Worked for me. Thanks!

[2020-07-14 10:07] FlorianLudwig commented on #6944
Hi @giuseppe ,

Produces the exact same result.

![term](https://user-images.githubusercontent.com/432263/87413004-010e4700-c5ca-11ea-9e7f-3d805afd00f7.gif)

Interesting, didn't know that :)  But didn't make a difference.

---
I tried using a different user on the same machine - and didn't have an issue. Maybe it's one of podmans configs - but I always forget where to find those :sweat:

[2020-07-14 12:21] edsantiago commented on #6944
[code]
When I see "backspace sends space", my first thought is termcap. What is `$TERM` set to in your invoking shell? Does your container have a corresponding termcap entry for that term? Can you try running the container with `TERM=xterm` (or something plain and simple)?

[2020-07-14 12:37] matutetandil opened #6967 "Can't run rootless containers on Debian 10"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Can't run any container on Debian 10 without being root.

**Steps to reproduce the issue:**

1. podman run hello-world (with standard user)

**Describe the results you received:**
[code]

**Describe the results you expected:**

I'm spencting the same results as when I run it as root:

(this i

[2020-07-14 12:42] tmds commented on #6912
It would be nice to be able to pass options to `slirp4netns` from the command line.

First class features should also be exposed through direct arguments, without referencing `slirp4netns`.

[2020-07-14 12:54] sshnaidm opened #6968 "'"CreateInfra": false' is always in pod inspection, podman v2, even when there is infra container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman pod create --name test`

2. `podman pod inspect test`

**Describe the results you received:**
`"CreateInfra": false,` even when infra container is created:
[code]

**Describe the results you expected:**

`"CreateInfra": true,`

**Additional inform

[2020-07-14 13:03] ryanchpowell commented on #6962
@vrothberg Yes this seems like a good job for me

[2020-07-14 13:09] mheon commented on #6968
Added a fix on top of #6956

[2020-07-14 13:21] ryanchpowell commented on #1671
I have not gotten to this yet, but can give it higher priority.

[2020-07-14 13:23] sshnaidm opened #6969 "--infra-command is ignored in pod creation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`--infra-command` seems to be ignored, both for versions 1 and 2 of podman.

**Steps to reproduce the issue:**

1. `podman pod create --name test01 --infra-command=sleep`

2. `podman pod inspect test01`

3. Inspect infra container: `podman inspect ...-infra`

**Describe the results you receiv

[2020-07-14 13:29] rhatdan commented on #6953
I think the problem is the image is mounted but not the bind mounts, so the /etc/passwd is not mounted at the time of the lookup.

[2020-07-14 13:29] rhatdan commented on #6953
If I just exec into the container , it sees the entry.

[2020-07-14 13:30] rhatdan commented on #6953
[code]

[2020-07-14 13:43] mheon commented on #6953
Yes. I think we probably want to avoid the lookup if we made our own `/etc/passwd` and populate with the info we know we put in there.

[2020-07-14 14:00] pzl opened #6970 "API system service High CPU when following logs and container exits"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running the new REST-based system service, if you call the `container/[name]/logs` endpoint, with `follow=true`, and that container stops/exits, then the CPU usage of the system service hits 100.

**Steps to reproduce the issue:**

1. `podman system service -t 0 tcp:localhost:9944`

2. `podma

[2020-07-14 14:12] baude commented on #6970
@vrothberg did you recent PR catch this?

[2020-07-14 14:23] pzl commented on #6970
I just pulled and built master. Can confirm the bug does not happen anymore. Looks like this can be closed by https://github.com/containers/podman/pull/6916

[2020-07-14 14:34] mheon commented on #6970
Thanks for confirming!

[2020-07-14 14:34] #6970 closed

[2020-07-14 15:10] owtaylor commented on #6953
What actually toolbox needs is a way to entirely disable the overmount and use it's own existing useradd logic. (Or perhaps, for compatibility, adding the user entry needs to be optional, and not done default.)

For toolbox, it's important to be able yum/dnf install packages - which might need to add users and groups. This means there needs to be a writable /etc/passwd that is persistent with the

[2020-07-14 15:15] mheon commented on #6953
I believe the current logic presents a writable, persistent `/etc/passwd` (I'll need to verify the persistent part) - it's just a bind mount, as opposed to being part of the image.

[2020-07-14 15:16] mheon commented on #6953
Though, I just tried running `--userns=keep-id` on a FreeIPA-managed system and our passwd-generation logic completely blew up - so it's clearly not that durable.

[2020-07-14 15:17] mheon commented on #6967
I believe your slirp4netns is outdated. Can you provide the package for it?

[2020-07-14 15:21] sshnaidm opened #6972 "Podman should exit with error when creating rootless pod with IP or MAC address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman should exit with error when creating rootless pod with IP:
`podman pod create --name rootless --ip 10.88.0.100`
`podman pod create --name rootless2 --mac-address ae:ed:fe:11:22:11`
IP and MAC can be assigned to root containers only.

**Steps to reproduce the issue:**

[code]

**Describ

[2020-07-14 15:27] FlorianLudwig commented on #6944
@edsantiago
[code]
produces the same result.

Setting it inside the container, does also not change it. Interestingly `reset` still errors out:
[code]

[2020-07-14 15:31] matutetandil commented on #6967
[code]

Checking on Debian official Package site, this is the official version for buster: https://packages.debian.org/buster/slirp4netns

[2020-07-14 15:55] edsantiago commented on #6944
My point is, you need to use a termcap entry that is supported by your container. Or, if the container is under your control, install (or don't delete) termcap entries.

[2020-07-14 16:11] skorhone commented on #6960
Does docker cli send a create container request to service without explicit pull request?

Iirc podman currently requires explicit pull request when using API. This is one of many issues that will be fixed when code paths between cli and API (for creating containers) are shared.

[2020-07-14 16:40] afbjorklund commented on #6941
We just updated the checksum to match (but did **not** update podman version)

[2020-07-14 16:40] #6941 closed

[2020-07-14 17:44] #6928 closed

[2020-07-14 18:41] rhatdan commented on #6953
The file is writeable but not useradd fails, because it is trying to rename over the file.

[2020-07-14 18:42] rhatdan commented on #6953
@owtaylor We probably should not do this in the case of /etc being a mount point, which would fix the issue with toolbox.  Does not fix the issue with --keep-id though.

[2020-07-14 19:00] rhatdan commented on #6960
This certainly seems like a big issue.
@jwhonce @baude PTAL

[2020-07-14 19:09] #6920 closed

[2020-07-14 19:22] mheon commented on #6953
@rhatdan I'm starting to think the entire passwd as a bind mount approach is broken - we're re-creating it every container restart, so we're dropping all user-added changes, which definitely does not seem correct.

[2020-07-14 19:25] rhatdan commented on #6919
The CHOWN Errors should not matter whether it is in runc or crun mode.
On and NFS Homedir, the NFS Server will not allow a process in the user namespace to chown a file to a different UID/GID, since it has no concept of User Namespace.

[2020-07-14 19:26] mheon commented on #6953
We're also explicitly mounting over any user-added `/etc/passwd` mount, which also seems bunk.

[2020-07-14 19:55] rhatdan commented on #5386
My understanding of the issues here is that  a lot of docker-py tests rely on swarm and some network features, and rely on docker.io as the only registry.  If docker-py wants to make their tests work with Podman or a subset, then we can do that.  For now, we have been adding docker-py tests to podman but not the entire test suite.

If a community member wants to take this on it would be appreciate

[2020-07-14 20:27] trgeiger opened #6976 "Building Ubuntu container fails with dpkg errors"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Recently my existing container setup has stopped building when using rootless podman.  It's a simple Ubuntu container with a Ruby on Rails application.

One of the first steps in the build is `STEP 4: RUN apt-get update && apt-get -y install build-essential`. This fails with a couple of error

[2020-07-14 20:52] rhatdan commented on #5898
I like the rollback and failure ideas, the others should be done with a different tool (Tooling).

[2020-07-14 21:05] rhatdan commented on #6953
Yes it should be static, IE Survive container start/stop.  I thought it was, but maybe I have a bug.
I am wondering if we should take advantage of the COW layer and write the file into it, then it would be more natural.

[2020-07-14 21:15] edsantiago commented on #5769
I'm seeing a new error that looks a lot like this, except it's in `run` instead of `exec` (but with --preserve-fds):
[code]
Log: https://api.cirrus-ci.com/v1/task/6481256420474880/logs/integration_test.log#t--podman-run---preserve-fds

[2020-07-14 21:24] ormandj commented on #6933
I agree with preserving compatibility, this is a 'breaking' change in behavior. The default behavior shouldn't change drastically enough to break existing software without release notes/documentation updates and time to remediate if necessary.

[2020-07-14 21:25] TomSweeneyRedHat commented on #6930
@mheon @baude, maybe a water cooler discussion, but could we keep varlink around until Podman 3.0 but have all kinds of "not supported" disclaimers as of 2.3 or some such?

[2020-07-15 01:15] gartnera commented on #6960
Not unless you specify `--pull` in the `docker run` command. Ref: https://github.com/docker/cli/blob/cae16e70b92dcc98ee6f22e064752ba45bd4f645/cli/command/container/run.go#L57

`dockerd` log snippet for reference:
[code]

[2020-07-15 02:05] andrew-kennedy commented on #6940
I'll have to try what you suggested. Away from my computer at the moment but I ended up not being able to get the services to run rootless via systemd, using either the loginctl way or the User/Group root systemd way. I can launch them just fine normally as rootless containers using podman run, but they fail when attempting to enable and launch via systems. I'll attach logs in a few days so there'

[2020-07-15 03:47] buvoli opened #6980 "Output of podman ps --format=json"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The output of `podman ps --format=json` is missing fields compared to podman 1.9, and time fields are inconsistent. These changes cause problems for scripts that parse the ps command output.

Mislabeled Fields:
- `CreatedAt` contains string instead of number

Missing fields:
- `Status` (show

[2020-07-15 05:20] twagtwig commented on #6967
see #6922
Debian package will likely remain out of date. I'll try installing slirp4netns from upstream

[2020-07-15 05:47] towe75 commented on #6930
@TomSweeneyRedHat  My 2 cents from integrator/user perspective: it's not a problem to deprecate and eventually remove features with a clear and announced time line. It surely helps the team to keep the codebase lean.

This github issue is a result of having only 'the latest' deb/rpm/whatever asset in the repositories. Varlink support disappeared there within a minor update from one day to another

[2020-07-15 06:40] carlpett commented on #6288
@vrothberg @mheon @rhatdan To add some more observations, this is also slowing down other operations that interact with the image store, such as build and pull. For example, building the below Dockerfile takes 2 seconds if I create a new user and run as that one (so there is absolutely no previous podman state), while it takes 3.5 seconds on my own user. It seems to be somehow proportional to the

[2020-07-15 06:49] skorhone commented on #6960
Doesn't this mean that result is expected when no --pull is defined?

However, I do suspect that the pull is implemented is incorrect. Docker documentation hints that it supports hijacking connection for creating images (pulling). This is probably required for reporting download status to client. Podman currently doesn't hijack or wait for completion. Thus client can't possibly know when download

[2020-07-15 07:27] giuseppe commented on #6912
let's add new flags for slirp4netns using: https://github.com/containers/podman/pull/6965

[2020-07-15 07:31] giuseppe commented on #5895
the easiest way to make sure all the needed directories/files are present is to run once a container in writeable mode:

`$ podman run --rm --rootfs /path/to/rootfs true`

The command above will create all the missing directories needed to run the container.

After that, it can be used in read only mode, by multiple containers at the same time:

`$ podman run --read-only --rootfs /path/to/rootfs .

[2020-07-15 07:38] csomh opened #6982 "RUN fails in rootless podman build when cgroups is v1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When cgroups is v1 `podman build` fails on RUN step with the following:

[code]

*Cannot reproduce with `buildah bud`, so filing it here.*

**Steps to reproduce the issue:**

On a system running an up-to-date Fedora 32:

1. Check that `podman build` is working okay:
[code]
2. Configure system

[2020-07-15 08:36] vrothberg commented on #5898
In a simple form, we can achieve this with the systemd-unit approach. We could wait until the service reports back a running/failed status and then retag the previous image and restart again.

[2020-07-15 08:50] #6968 closed

[2020-07-15 09:05] vrothberg commented on #6976
Thanks for reaching out! Can you share the Dockerfile as a reproducer?

@rhatdan PTAL

[2020-07-15 09:39] vrothberg commented on #6288
Thanks for the ping, @carlpett. I will have a look asap.

[2020-07-15 10:17] #6948 closed

[2020-07-15 10:21] AkihiroSuda commented on #6945
Is this related?
https://github.com/rootless-containers/slirp4netns/blob/v1.1.4/slirp4netns.1.md#bugs

[2020-07-15 10:21] srcshelton opened #6983 "Change in semantics for 'podman run --pull'?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Prior to podman-2.0.x (possibly as recently as release 2.0.1?) the '`--pull`' argument to `podman run` did not need a parameter.

Now, however, the parameter appears mandatory, with the `--pull` option consuming the following argument (e.g. `podman run --pull --rm ...` results in:

[code]

Wh

[2020-07-15 10:34] srcshelton opened #6984 "Speed of listing images - caching layer possible?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman is *incredibly* slow at listing images:

[code]

... which is about half a second per image.

The host system has 4 enterprise spinning disks in a RAID-6 array, with the filesystems podman is using residing on LVM volumes... so this shouldn't be too much of a bottleneck.

Can the amoun

[2020-07-15 10:50] srcshelton opened #6985 "Misleading warnings about use of 'libpod.conf'?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If running podman with '`--log-level debug`' then amongst the output appears:

[code]

... but if this advice is followed then none of the settings in `containers.conf` are applied - it very much looks as if podman is only examining `libpod.conf`, despite this notice.

Alternatively, is `cont

[2020-07-15 10:58] rhatdan commented on #6976
This looks like selinux is enabled within the container?
Could you execute

$ podman run fedora id -Z

[2020-07-15 11:01] srcshelton commented on #6985
**Update:**

If I make `/etc/containers/libpod.conf` a symlink to `/etc/containers/containers.conf` then the settings from this file _are_ applied - suggesting that the debug line requesting the use of `containers.conf` has been added before `containers.conf` is being used in place of `libpod.conf`?

[2020-07-15 11:06] rhatdan commented on #6930
We are looking at removing the varlink support based on support.  IE We want it gone before RHEL9 and RHEL8.4 is shipped.  We also want it gone in Fedora 33.  I would figure other distributions, if they are supplying support for Podman should want it gone in a longer term support cycle.

We also are no longer fixing minor issues in varlink.

Since we have no idea when a Podman 3.0 is going to happ

[2020-07-15 11:09] rhatdan commented on #6930
We have to support it until Fedora 32 goes away, and RHEL8.2 is is in support.  But we have branches for this.
The question is do we remove support from podman 2.1?  If we do, then we no longer can update Fedora 32 with this release.

I recommend that we ship varlink support in podman 2.1 and then drop support in podman 2.3 (At the time of the Fedora 33 Beta Branch)

[2020-07-15 11:31] srcshelton opened #6986 "How to specify OCI runtime flags to 'podman run'?"
`podman build` has the `--runtime-flags` option to pass options to the active OCI runtime.
These aren't documented or accepted for `podman run`.

I can't see any documented means to add runtime-specific options via libpod.conf/containers.conf either.

(Both `build` and `run` do support `--annotation`, I note in passing)

I'm trying to migrate from `runc` to `crun`, and being able to globally add `

[2020-07-15 11:58] baude commented on #6980
@buvoli thanks for the report.  We did change some fields with intent between 1.x and 2.x.  The CreatedAt and Id fields were changed on purpose.  @mheon and @jwhonce do either of you recall if the change in command type and the lack of Status was with intent?

[2020-07-15 12:04] rugk commented on #6857
This issue is still happening in Podman v2.0.2, altghough it was supposed to be fixed there.

For more information see:
https://github.com/containers/toolbox/issues/500#issuecomment-658424664

[2020-07-15 12:13] vrothberg commented on #6984
Thanks for opening the issue! We're tracking the topic already over in https://github.com/containers/podman/issues/6288, so I am going to close this one here. Feel free to join the conversation over in https://github.com/containers/podman/issues/6288.

[2020-07-15 12:33] Jakuje commented on #6976
I am having the same error in Fedora 31 while trying to build oss-fuzz images based on Ubuntu.

The command above returns that it is
[code]

[2020-07-15 12:56] edsantiago opened #6987 "CI flake: run --preserve-fds: attach / unixpacket / bad file descriptor"
Flake seen three times on CI for #6958. Passed on re-run:
[code]
Log: https://api.cirrus-ci.com/v1/task/6481256420474880/logs/integration_test.log#t--podman-run---preserve-fds

This was in "test fedora-31". cirrus-flake-xref finds no other instances of this in the last three weeks.

The error looks suspiciously close to #5769 (fixed last month), but that was `exec`; this is `run`. Possibly because

[2020-07-15 12:56] edsantiago commented on #6987
@QiWang19 PTAL

[2020-07-15 12:56] matutetandil commented on #6967
It worked compiling last version of slirp4netns from here: https://github.com/rootless-containers/slirp4netns

I'll close the ticket since there is a solution and has nothing to do with Podman directly, it's more an issue of the Debian package being outdated.

[2020-07-15 13:24] mheon commented on #6980
Command is strange. It doesn't match what Docker is doing, and it doesn't match what we did before. Looks like a bug to me?

[2020-07-15 13:26] mheon commented on #6980
I also don't think there's a reason for Status to be not be included. It could be calculated from what we provide, and we're probably doing that in the frontend for `ps` right now, but if it's in v1 and Docker I don't see any reason it can't be in the JSON here.

[2020-07-15 13:31] HarryMichal commented on #6857
I also hit this issue on Fedora Silverblue Rawhide. I encounter it mainly when I try to enter a toolbox container created with an older version of Podman (pre v2.0.2). New steps to reproduce the issue:

1. `podman run --ulimit=nofile=524288:524288 --ulimit=nproc=63173:63173 alpine echo Hello World`

One of the `--ulimit` options can be dropped, I included them because they used to be set both.

Ou

[2020-07-15 13:36] TomSweeneyRedHat commented on #6930
My main reason for dropping it at 3.0 was the ease to remember when it went away.  If we get out to 2.24 will we be able to remember if it was dropped in 2.3, 2.4, or 2.5?  But perhaps by then it won't matter.

My main concern mirrors @towe75 , I just want to make sure we announce and publicize when it's going to be dropped well in advance and in many places.

[2020-07-15 13:49] weatherfrog commented on #6982
After upgrading podman to 2.0.2, we encounter the same problem on Ubuntu (podman seems to use cgroups v1 by default).

[code]

[2020-07-15 13:59] mheon commented on #6960
I don't see any `pull` parameter in the actual `POST /v1.40/containers/create` endpoint. And when I try that endpoint with an image that does not exist with Docker, it fails with an "image does not exist" error.

Given all this I'm fairly certain that Docker behaves the same way we do (requires the image be explicitly pulled first).

[2020-07-15 14:00] mheon commented on #6960
Is the more specific desire here to run `docker run` against a Podman backend?

[2020-07-15 14:01] mheon commented on #6982
@TomSweeneyRedHat @nalind PTAL

[2020-07-15 14:06] mheon commented on #6857
Is this Silverblue?

[2020-07-15 14:07] mheon commented on #6857
And can you include a full `podman info`?

[2020-07-15 14:10] rhatdan commented on #5895
Should we document this in the man page on --rootfs?  Or elsewhere?

[2020-07-15 14:15] csomh commented on #6982
After some code digging the error seems to be due to [adding `--systemd-cgroup` to the runtime](https://github.com/containers/podman/blob/60127cf5e88ef53748cb601d7c27f082d284e7f4/cmd/podman/images/build.go#L402). But not sure if the condition is wrong (would need to check for cgroupVersion) or cgroupManager is wrong when cgroup is v1.

Using the same flag with `buildah bud` will result in the same