[2017-11-02 15:57] baude opened #11 "Reduce time spent on IO and Network during kpod tests"
If we could preload images into a storage space and overlay them as test storage spaces, we could reduce the time spent doing IO and pulling images over the network.  Every integration test for kpod gets a fresh/temporary storage space. So any test that uses and image, has to pull it now.

[2017-11-03 17:39] umohnani8 opened #16 "kpod logs --tail flag doesn't work"
When the `tail` flag is set for kpod logs, no output is given.
[code]
vs kpod logs without the tail flag
[code]
Going through the code, I noticed that https://github.com/projectatomic/libpod/blob/master/libkpod/logs.go#L43 is returning 0 `tail.Lines` in the `Tail` struct when the `SeekInfo` is set.
I cannot figure out why no lines are being received. I can fix this if I can get some guidance on wh

[2017-11-07 16:34] baude opened #25 "kpod run -i -t <image> <command> has no stdout"
We are observing an error with kpod run where the the command output does not display anything to stdout **unless preceeded by bash -c**.  An example would be:
[code]
The results of the command **are** being sent to the container log.

If I remove the conditional around https://github.com/projectatomic/libpod/blob/master/conmon/conmon.c#L698, stdout begins to work again.  I suspect there is an iss

[2017-11-07 16:35] baude commented on #25
@rhatdan @mrunalp PTAL and tag others

[2017-11-07 16:47] rhatdan commented on #25
@runcom PTAL

[2017-11-07 16:47] rhatdan commented on #25
@alexlarsson could you take a look at this.

[2017-11-07 17:25] alexlarsson commented on #25
I'll have a look tomorrow

[2017-11-07 19:19] umohnani8 opened #28 "Switch to containers/image master"
Write now Nalin's fork of containers/image is vendored in. Once that is merged upstream, vendor in containers/image master instead.

[2017-11-07 22:29] nalind opened #29 "Potential symlink/directory traversal issue in user ID extraction"
kpod inherited some configured-user to uid/gid resolution logic from buildah, so it also has [this problem](https://github.com/projectatomic/buildah/issues/66), which we're trying to solve in https://github.com/projectatomic/buildah/pull/313.  We'll need a similar change here.

[2017-11-08 10:34] alexlarsson commented on #25
I guess this might depend on some exact version thing, because it seems to work here:
[code]

This is kpod from 0e2fc603d9cbb21d72a548af087dd6b09a3bed1b, using runc-1.0.0-10.rc4.gitaea4f21.fc26.x86_64 on Fedora 26.

[2017-11-08 13:00] rhatdan commented on #25
Run it multiple times.  I see it works for a couple of runs and then fails.

I see it lots of times running.

kpod run -i -t registry.fedoraproject.org/fedora printenv

[2017-11-08 13:05] alexlarsson commented on #25
Its clearly a race of some sort. I got it to fail only once in 27 tries.

[2017-11-08 13:07] rhatdan commented on #25
@baude claims that commenting out the line in conmon, fixes this?  Is this line necessary?
BTW I am doing it on a VM, and I get it to happen all the time.  Might have something to do with process speed.

[2017-11-08 14:21] alexlarsson commented on #25
So, i did some tracing here, and the problem in the failing case is that the child is writing data to the terminal before kpod has attached to conmon.
In the working case it looks like this:

[code]
Whereas in the failing case it looks like this:
[code]

See how in the failing case we handle stdio_cb and write 51 bytes *before* we got attach_cb from kpod. This means that in read_stdio() when we re

[2017-11-08 14:37] alexlarsson commented on #25
The fix for the kpod case is probably to accept the socket directly in setup_console_socket(), or at least before starting the container. However, i'm not sure that is correct when being used for kubernetes, because there is no guarantee that anything will attach to the container immediately.

Maybe you can add a switch to conmon that triggers this behaviour, and use that from kpod?

[2017-11-08 14:46] alexlarsson commented on #25
Basically i think you can add to end of setup_attach_socket() something like:

[code]

[2017-11-13 19:01] TomSweeneyRedHat opened #38 "'kpod login' doesn't allow certificates to be in non-default directory"
There's no way to  specify a directory to 'kpod login' to have it grab the ssl certificates from.  It always looks for the certificates at:

/etc/docker/certs.d/{registry location}

The --certs-dir and probably --tls-verify parameters used for push/pull should be added to 'kpod login' so a non-default directory can be used if desired.

[2017-11-13 19:06] TomSweeneyRedHat opened #39 "New default directory for credential files for kpod login?"
Currently the default location for credential files for 'kpod login' is /etc/docker/certs.d/{registryname}.  It would be nice to be able to change that to '/etc/oci/certs.d/{registryname}' or some other location that @rhatdan thinks is appropriate.  The one caveat is we need to make sure that a private registry will run OK with this location in play.

[2017-11-13 19:15] TomSweeneyRedHat opened #40 "'kpod push' doesn't use default transport"
If you don't specify a transport, kpod push doesn't default to a transport.  It probably should default to "docker://" if a transport is not provided.  A similar fix was made to Buildah at: https://github.com/projectatomic/buildah/pull/260

In the examples below, "docker://" is not specified as the transport in the first call and kpod push fails.  It then completes when specified.

[code]

[2017-11-14 15:23] rhatdan commented on #39
/etc/containers/certs.d/...
Works for me.

[2017-11-14 15:23] rhatdan commented on #40
Assigned.

[2017-11-14 18:50] umohnani8 commented on #38
If we agree to do this, I can work on this.
@rhatdan PTAL

[2017-11-14 19:35] rhatdan commented on #38
I would like to see this be a fail over case /etc/containers/certs.d, /etc/docker/certs.d and then override-able by the kpod login command.

[2017-11-14 19:36] rhatdan commented on #38
Should this be something specified in the /etc/containers/registries.conf file?
@baude WDYT?

[2017-11-17 13:25] runcom opened #48 "do not log travis in #cri-o channel"
https://github.com/projectatomic/libpod/blob/master/.travis.yml#L59

Can you guys change it to kpod channel? I see this in cri-o channel:
[code]

[2017-11-17 23:04] #48 closed

[2017-11-20 03:29] gouyang opened #50 "kpod cannot create container from image ID"
[code]

[2017-11-24 08:19] surajssd opened #69 "kpod built on fedora not usable in minikube"
I am Building kpod in fedora 27

[code]

kpod version:

[code]

Now copying this built kpod to minikube machine to use there:

[code]

Inside minikube vm

[code]

I could not find much help of what should I be doing to get this binary workng in minikube vm.

Minikube VM OS info:

[code]

[2017-11-24 13:49] surajssd commented on #39
I would like to work on this issue if nobody else is?

[2017-11-24 21:00] TomSweeneyRedHat commented on #39
@umohnani8 Did you pick this one up yet?  If not, then it's all yours @surajssd Thanks!

[2017-11-25 09:40] surajssd commented on #69
ping @TomSweeneyRedHat did you get a chance to try this one?

[2017-11-25 12:59] rhatdan commented on #39
@surajssd Assign your self and go for it.

[2017-11-25 14:18] rhatdan commented on #69
You need to install libostree into the container as well. Or build kpod without ostree support.

[2017-11-26 22:51] umohnani8 commented on #39
Is this the same as issue #38? The description looks very alike.

[2017-11-27 12:06] TomSweeneyRedHat commented on #39
@umohnani8 #38 and #39 are closely related but different.  This one is meant to set a default directory for certificates that kpod and in specific 'kpod login' will use.  #38 is to add a --certs-dir parameter to kpod login so a non-default directory could be specified if so desired.

[2017-11-27 16:17] baude commented on #50
https://github.com/projectatomic/libpod/pull/76

[2017-11-27 16:25] baude commented on #25
Fixed upstream

[2017-11-27 16:25] #25 closed

[2017-11-28 05:19] surajssd commented on #69
@rhatdan is it possible to do the build without ostree support? The docs suggest it to be the dependency

[2017-11-28 13:16] TomSweeneyRedHat commented on #40
Fixed by #42

[2017-11-28 13:16] #40 closed

[2017-11-28 14:26] rhatdan commented on #69
Add a build tag of containers_image_ostree_stub and it will not be built in.

[2017-11-28 14:28] rhatdan commented on #69
BTW This should happen automatically if you don;t have ostree-devel installed.

[code]

[2017-11-28 14:28] rhatdan commented on #69
This line in the Makefile sets up the buildtags
[code]

[2017-12-02 17:16] surajssd commented on #69
So did this and complied and it worked for me:

[code]

Thanks a lot @rhatdan

[2017-12-02 17:16] #69 closed

[2017-12-05 16:17] mheon opened #105 "Processes in container can't catch SIGTERM"
Reproducer:

`kpod run -t -i --rm fedora:27 bash`
In the container:
`trap "echo Got SIGTERM" 15`
Outside the container:
`kpod kill $CONTAINER_ID`

Expected behavior: the container prints "Got SIGTERM"
Actual behavior: the container exits, having not caught SIGTERM

[2017-12-05 16:23] mheon commented on #105
Docker seems to act the same way, so this could be expected behavior.

[2017-12-06 01:25] gouyang opened #107 "kpod load always try to pull image"
[code]

[2017-12-06 12:07] rhatdan commented on #105
Maybe you can only catch a signal from a process inside of your namespace.  Try nsenter into the pid namepsace and then send a kill signal.  And see if it is caught.

[2017-12-06 12:46] rhatdan commented on #107
@umohnani8 ptal

[2017-12-06 18:08] mheon commented on #105
You can definitely catch signals from 'kpod kill' - I tried with various others. SIGKILL and SIGSTOP can't be caught, but you should be able to catch all the others, including SIGTERM. I did a lot of testing on signals in Docker a few years ago, and it could definitely be caught then.

[2017-12-06 19:08] umohnani8 commented on #107
So kpod load is not actually pulling the image again, it correctly loads the image from the tar file. The print statement is what is misleading. Basically what happens is, when it detects the transport is of docker-archive or oci-archive, it opens up the tar files and reads the image name from the manifest stored inside, which is what is printed in the statement "Trying to print ..." as the image

[2017-12-07 12:52] rhatdan commented on #107
When in doubt do what Docker does.

[2017-12-10 17:15] anarcat opened #114 "tutorial missing"
the README file has this blurb:

"tutorial" is a broken link, and I couldn't find a tutorial in here either...

[2017-12-11 13:54] rhatdan commented on #114
Thanks for pointing this out.  @TomSweeneyRedHat PTAL

[2017-12-11 13:54] rhatdan commented on #114
@anarcat You should be able to just pull down the repo and start using the commands just like you would with the Docker CLI.

[2017-12-11 14:14] anarcat commented on #114
On 2017-12-11 05:54:43, Daniel J Walsh wrote:

Oh don't worry, I know. :) I saw your talk at KubeCon and all. I'm the
one who asked about the missing `d` command (`dockerd`). ;)

I don't exactly need the tutorial myself, I just wanted to point out a
broken link...

Thanks!

[2017-12-11 15:54] rhatdan commented on #114
Yes thanks for that,this repo was originally copied from CRI-O, and that is why we have the broken link.  I assigned a couple of engineers to take a quick look at it.

Nice meeting you and feel free to try this out, comment and post PR's

[2017-12-11 16:26] anarcat commented on #114
On 2017-12-11 15:54:18, Daniel J Walsh wrote:

Same here, and yeah - you'll definitly see a few things come out of
this. ;) What's the best way to reach you, by the way, if i have any
more direct questions?

Thanks!

[2017-12-11 16:31] ipbabble commented on #114
I think the best way is to raise issues. I'm ipbabble on github and I will
most likely be the one working on tutorials. I plan to start this week.

Often my tutorials help find issues/bugs too. So I open and Issue when I
find something. If there is a particular tutorial you want to see then
please tag me.

William

William Henry
Senior Consulting Software Engineer
Red Hat
Colorado, USA.

On Mon, D

[2017-12-11 16:42] #28 closed

[2017-12-11 16:59] rhatdan commented on #114
I'm dwalsh on IRC and in email to redhat.com.  rhatdan on github and twitter, and most other web apps.

[2017-12-11 19:24] anarcat opened #119 "kpod fails to find the runtime and is not obvious about it"
So in my first attempt of bootstrapping a docker-like dev environment, I stumbled upon a weird issue that I couldn't start containers with `kpod run`. The symptom was as follows:

[code]

Now I must say first: not very helpful. It's a confusing error message: we are led to believe the problem is "removing container" when we're just trying to *start* one... (Obviously, it's a cleanup routine gone w

[2017-12-11 19:42] baude commented on #119
@anarcat with --log-level=debug do you get better error messages by chance?

[2017-12-11 19:42] baude commented on #50
@gouyang can you close this issue if you are happy with the fix I provided?

[2017-12-11 19:43] baude commented on #11
@rhatdan , closing now with the solution we are using.

[2017-12-11 19:43] #11 closed

[2017-12-11 20:04] rhatdan commented on #50
@gouyang reopen if not happy.  :^)

[2017-12-11 20:04] #50 closed

[2017-12-11 20:06] anarcat commented on #119
nope. here's the build log with debug:

[paste_1000268.txt](https://github.com/projectatomic/libpod/files/1549229/paste_1000268.txt)

[2017-12-11 20:16] anarcat commented on #119
i filed #1215 on conmon's side to fix the last step in the task list.

[2017-12-11 20:42] rhatdan commented on #119
I opened a PR against conmon in cri-o project, where we copied this from.  We should fix it there for now.
https://github.com/kubernetes-incubator/cri-o/pull/1216

[2017-12-12 15:19] TomSweeneyRedHat commented on #114
#120 provides a short term fix for the bad link (removed it).  We currently don't have a kpod specific tutorial, but have plans to create one early next year.  Keeping this issue open until that is provided.

[2017-12-12 15:32] anarcat commented on #114
On 2017-12-12 07:19:33, Tom Sweeney wrote:

great, thanks!

[2017-12-12 17:57] umohnani8 commented on #107
@rhatdan @mheon please close this.

[2017-12-12 19:20] ipbabble commented on #114
Is there any ‘kpod run’ functionality yet? I just built again today and I’m
not seeing any ‘run’ function.

I am trying to start the tutorial write up and trying out a few commands.

William

On Tue, Dec 12, 2017 at 10:32 AM anarcat <notifications@github.com> wrote:

--
Sent from Gmail Mobile on iPhone

[2017-12-12 19:21] mheon commented on #114
Run should definitely be in there

[2017-12-12 19:23] TomSweeneyRedHat commented on #114
@ipbabble if you clone it from github then build and install, it should be there.  I think some of that is still a WIP, especially around volumes.  @mheon would be the best judge.  I don't think it's in a kit yet available via dnf/yum, or if it is the functionality may be less polished.

[2017-12-12 19:24] mheon commented on #114
I think some kpod commands are bundled into our CRI-O packages. Those are likely very old and will definitely not have run.

[2017-12-12 20:04] ipbabble commented on #114
Duh. I'm traveling, rebooted, started a new Terminal but forgot to set PATH
for /usr/local/bin:$PATH. My bad. I need to just uninstall the other
package.

William

William Henry
Senior Consulting Software Engineer
Red Hat
Colorado, USA.

On Tue, Dec 12, 2017 at 2:32 PM, anarcat <notifications@github.com> wrote:

[2017-12-12 21:29] rhatdan commented on #107
Fixed

[2017-12-12 21:29] #107 closed

[2017-12-13 16:44] surajssd opened #129 "`kpod run -p ..` does not bind the ports"
**Type**

/kind bug

**What is happening**

I am trying to do port binding on my machine from container, but kpod does not bind the ports. Also `kpod ps` does not show the port information. When curled on the endpoint it fails obviously since the port is not bound.

**Steps to reproduce**:

[code]

**Versions**:

[code]

[2017-12-13 16:49] mheon commented on #129
Networking support is still WIP - see #109
Hopefully will be ready soon, though

[2017-12-13 16:53] surajssd opened #131 "kpod inspect fails to load container info"
**Type**

/kind bug

**What is happening**

When I am trying to do inspect on a container, fails to open file in `/var/lib/containers/storage/overlay-containers/$container-id/userdata/artifacts/create-config`

**Steps to reproduce**:

[code]

**Versions**:

[code]

[2017-12-13 16:55] surajssd opened #132 "Create a github issue template"
We should have a github issue template like cri-o has

https://github.com/kubernetes-incubator/cri-o/blob/master/.github/ISSUE_TEMPLATE.md

[2017-12-13 17:05] surajssd commented on #129
@mheon I am trying to write tests for https://github.com/projectatomic/libpod/pull/75

For that to run I am trying to setup registry but then for it to work, I am trying to bind the local registry to machine's 5000 port which is not working and hence reported this. Not sure how do I proceed with tests for #75 ? Any suggestions?

[2017-12-13 18:06] baude commented on #131
@umohnani8 ptal

[2017-12-13 18:14] mheon commented on #131
I think this could be an old container created before we started doing artifacts.

We should still handle this gracefully - if the inspect artifact isn't there we can give most of the results that don't involve the hostconfig.

[2017-12-13 18:22] umohnani8 commented on #131
Ok I will change it inform the user that the artifact file couldn't be found but continue to print the inspect. @baude can you create a new container and try inspect with that, if you are using a container you created before the artifacts changes got in.

[2017-12-13 18:57] rhatdan commented on #131
ALso would handle containers created by buildah and cri-o.

[2017-12-13 19:04] rhatdan commented on #132
Sounds good open a PR.

[2017-12-15 14:16] umohnani8 commented on #131
This is issue has been fixed. @rhatdan please close it.

[2017-12-15 14:46] #131 closed

[2017-12-15 20:18] anarcat commented on #129
just FWIW, #109 was merged and the next step is #142, which "Enable host and bridge communications". see also https://github.com/projectatomic/libpod/pull/109#issuecomment-352032031

[2017-12-15 21:28] TomSweeneyRedHat opened #144 "kpod rm doesn't remove container created by Buildah"
kpod rm fails when removing a container via it's name when the container is created by Buildah yet 'buildah rm' removes the container without an issue.

[code]

[2017-12-16 07:08] surajssd opened #147 "`kpod ps` execution time is proportional to number of containers"
So while playing with kpod I realized that as the number of containers started by kpod increases so does the time of execution of `kpod ps` increases

[code]

**Versions**:

[code]

[2017-12-16 07:23] surajssd commented on #147
starting the containers:

[code]

listing them:
[code]

the listing took 6seconds, and also if you look closely each container took 3seconds to come up.

[2017-12-16 13:38] mheon commented on #147
Creating containers taking a long time was somewhat expected, we do a lot of network-heavy image checks. The scaling on ps is really concerning, though, that ought to be a fast operation. We should look into this.

[2017-12-16 13:43] mheon opened #148 "Move away from file locks for containers and pods"
As of now, we use file locks from containers/storage to synchronize operations between libpod in multiple processes. This comes with a number of serious issues

- We can't reap the locks when the container is removed
- Each lock is a file descriptor we have to keep open until the process closes

We need an alternative way of locking important container operations which does not have these limitati

[2017-12-16 13:44] mheon commented on #148
We should also investigate whether there are other types of locking that can meet our needs. We're definitely leaving a lot of performance on the floor with the need to hit disk for all operations.

[2017-12-17 02:29] surajssd commented on #132
Closed by https://github.com/projectatomic/libpod/pull/146

[2017-12-17 02:29] #132 closed

[2017-12-17 12:06] rhatdan commented on #144
This is because buildah is not working with libpod yet.  kpod rm is looking at the database for containers not just what is defined in container storage.   I guess we could extend kpod rm to look there as well, but I think we should get buildah to use the libpod code to register its containers.

[2017-12-17 12:29] surajssd opened #149 ""CNI monitoring error" on master"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

When running kpod built on master gives error of missing CNI and other unintuitive errors:

[code]

**Steps to reproduce the issue:**

Build:

[code]

Install:

[code]

**Output of `kpod version`:**

version:

[code]

[2017-12-17 13:06] surajssd commented on #149
Update on another machine got this error:

[code]

for this deleted the file

[code]

Now seeing the original issue:

[code]

[2017-12-17 13:07] surajssd commented on #149
Following steps from https://github.com/kubernetes-incubator/cri-o/blob/master/tutorial.md#cni-plugins

[code]

I got it working again!

[2017-12-17 13:07] #149 closed

[2017-12-17 13:19] rhatdan commented on #148
@nalind WDYT

[2017-12-17 13:46] surajssd opened #150 "kpod pull outputs `Trying to pull` twice"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

When pulling image which does not exist kpod prints `Trying to pull` twice:

[code]

**Describe the results you received:**

[code]

^^^ This line specifically.

**Output of `kpod version`:**

[code]

[2017-12-18 13:46] baude commented on #149
Just for the record, I am working on a PR #142 will fix this as it will install the needed cni configs.

[2017-12-18 13:50] baude commented on #147
Ill take a look at this later this week.  I did some profiling when this came up before and the time was spent in cs doing IO iirc.

[2017-12-19 15:42] umohnani8 commented on #150
This has been fixed. @rhatdan please close issue.

[2017-12-19 15:43] #150 closed

[2017-12-19 17:20] surajssd commented on #147
When I checked last time trying to profile, getting container PID was taking almost ~30ms maybe that is adding up!

[2017-12-19 19:31] TomSweeneyRedHat commented on #144
This will become more of a problem once we get podman build calling buildah bud to create a container.

[2017-12-22 14:56] baude commented on #147
[code]

[2017-12-22 14:56] baude commented on #147
[code]

[2017-12-22 17:26] baude opened #163 "networking leak nsfs mounts"
when using networking, we are leaking/not cleaning up nsfs mounts after the container stops.

for example, after running:
[code]
a newly created mount of:
[code]
remains after the container is done executing and removed.

[2017-12-22 17:50] mheon commented on #163
It remains after a `podman rm`? That seems pretty serious, as the routines to destroy namespaces should be firing then.

[2017-12-22 19:21] baude commented on #163
yes it remains ... i also sent you an email about several other things ... take a peek

[2017-12-24 16:25] baude opened #165 "image meta data missing in inspect"
When pulling an image from the fedora repository, there is a bunch of missing metadata according to inspect.  One question is if the metadata is present or missing or if podman just doesnt display it.  A good example image to test with is registry.fedoraproject.org/f26/httpd:latest.

Labels for example are missing.  Also, many ENV variables are also missing
[code]

[2017-12-27 01:20] baude opened #166 "copying of resolv.conf does not work on ubuntu"
The current copying of resolv.conf when creating a container does not work correctly on ubuntu when it is using systemd-resolver.

[2017-12-27 17:04] baude opened #167 "conmon path should include alternates"
We should look for conmon in /usr/libexec/crio and /usr/local/libexec/crio.  I'm also wondering about the reasoning of having a crio directory housing a single binary.

[2017-12-27 18:00] baude opened #169 "podman top panics under certain conditions"
Under certain conditions, podman top will panic with an index out of range error.  To replicate:

[code]
And then:
[code]
It looks like the issue is around the default use of *cmd* in the ps options as removing that will allow it to work.

[2017-12-28 16:16] baude commented on #169
The problem is that the CMD may contain space delimited data.  i.e. http -D This throws the splitting of that line of data off by index.

[2017-12-28 17:15] baude commented on #169
@rhatdan @mheon @TomSweeneyRedHat I've been noodling on this for a while... I havent stumbled on a great way to fix this.  Do you guys have any ideas?

Basically the issue is that we run a ps command inside the container and perform a strings.Field on the output which splits the string into a []string based on whitespace.

Ideally ps could identify a field delimiter but that doesn't seem to be an

[2017-12-28 17:26] mheon commented on #169
@baude It would require some refactoring, but we could use the headers of the ps output to determine where the columns are in the output line and use that to split instead - get the index of the start of each word in the header, and then split at those indexes

[2017-12-30 10:32] rhatdan commented on #167
I think there is a chance other content could be added their in the future.  What does CRI-O do currently?  Does it look in both places or only in the default?

[2017-12-30 16:53] baude opened #171 "--net=none still needs completion"
holiday reminder

[2017-12-30 17:24] baude commented on #167
The problem is until we have packaging this remains sort of loose.  I don't expect our packages to install to /usr/local/libexec/crio which is where we currently look.  The latter question was really just a question.

[2018-01-01 19:03] baude commented on #169
@mheon I looked into this a bit ... The problem I am seeing is that the column data line up is not reliable either.  Consider the following:
[code]

Some line up to the header on the right, the left, and even in the middle!

[2018-01-01 19:12] mheon commented on #169
@baude Oh that's just lovely. And I take it we can't guarantee that CMD will always be the last entry, either?

[2018-01-02 00:07] baude commented on #169
Nope ... think we might need to deep dive this a little deeper and see what others do

[2018-01-02 13:04] rhatdan commented on #167
Yes having a search path would be fine.

[2018-01-02 16:23] mheon opened #173 "Add function batching to the API"
Right now, all public API endpoints for containers must do a syncContainer() which is a very expensive operation (hits runc and the database). We need a way to batch operations on a single container so syncContainer() is called once for a series of operations, to improve performance.

[2018-01-02 18:57] TomSweeneyRedHat opened #174 "Can't remove image created by Buildah"
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind bug

**Description**
An image created by Buildah is listed by Podman but can not be removed by Podman.  It can be removed by Buildah and then it is no longer shown by Podman.

**Steps to reproduce the issue:**

1. buildah from alpine
2. podman images
3. podman rmi -f {imageid}

**Describe the results you received:**
[code]

**Describe the results

[2018-01-02 19:29] baude commented on #171
Being done in #176

[2018-01-02 19:29] #171 closed

[2018-01-02 19:29] baude commented on #167
done in #172

[2018-01-02 19:29] #167 closed

[2018-01-02 19:30] mheon commented on #174
Buildah has mounted the image, but since it doesn't share state with libpod, we don't know that it is mounted and do not attempt to unmount it before removing. It is probably safe to make force-removing an image do an unconditional unmount after unmounting all containers using the image.

[2018-01-02 20:16] baude opened #178 "inspection of container is missing network information"
When you inspect a container, it is missing network information like IP address.

[2018-01-02 22:27] smarterclayton opened #1884 "Merge libpod funcionality into CRI-O"
It appears that buildah is limited to working on containers it creates itself.  One direction we are considering for the OpenShift build side is to execute builds only within containers created by the existing runtime (crio or docker).  Can buildah perform commands against other containers, and if not, what would it take to support that?

[2018-01-03 20:24] baude commented on #166
fixed in #177

[2018-01-03 20:24] #166 closed

[2018-01-04 18:59] mheon opened #186 "Remove Kubernetes hostport manager from Libpod"
As the CNI plugins now provide independent hostport management, remove the Kubernetes implementation and provide CNI config files that will enable CNI hostport management.

[2018-01-08 16:44] baude opened #198 "Add optional --destination for podman push"
For podman push, we want the user to be able to optionally specify a destination for their image.  This prevents us from having to re-tag the image before pushing.  For example,

[code]

[2018-01-08 16:54] rhatdan commented on #198
WHy not have an optional second argument
`podman push foobar  myregistry/foobar:latest `
That feels more natural to me.
Or we just require it.

[2018-01-08 17:45] TomSweeneyRedHat commented on #198
This is what Buildah does fwiw:

buildah push [options [...]] imageID [destination]

Looks like the man page is off a bit, the code in Buildah requires that both the source and destination be provided.

[2018-01-08 17:53] baude commented on #198
optional second arg would be fine too!

[2018-01-08 18:02] umohnani8 commented on #198
podman push already does this. It takes 2 arguments, the image and the destination https://github.com/projectatomic/libpod/blob/master/docs/podman-push.1.md
[code]
Is this trying to do something else?

[2018-01-08 18:17] mheon opened #199 "Resolv.conf in a container is read-only"
For containers created with `podman run` or `podman create`, resolv.conf is bind-mounted into the container read-only, which means it cannot be customized in a running container. This is undesirable.

[2018-01-08 18:20] baude commented on #198
@umohnani8 do you have to supply the transport  on the second arg ?

[2018-01-08 18:43] umohnani8 commented on #198
@baude yeah you do.

[2018-01-08 18:49] mheon commented on #199
Seems to be working, just can't write to it with an editor

[2018-01-08 18:49] #199 closed

[2018-01-08 18:49] rhatdan commented on #198
So we should close this issue.

[2018-01-08 19:18] mheon commented on #163
Fixed in #197

[2018-01-08 19:18] #163 closed

[2018-01-08 19:47] baude commented on #198
imho having to provide the transport (as required) is something we should fix.

[2018-01-08 19:57] umohnani8 commented on #198
So a --transport flag instead?

[2018-01-08 20:06] baude commented on #198
no, just that the transport would be optional and docker:// would probably be the default if omitted.

[2018-01-08 20:07] rhatdan commented on #198
@baude what syntax would you prefer.  No arg defaults to docker transport?

[2018-01-08 22:30] mheon opened #202 "Podman should support starting containers again after they have exited"
Right now, conmon stops monitoring a container and exits once the container has exited. This means we cannot monitor containers once they have exited, so if a container is started again we cannot get its exit status (amongst other things). If we want to support restarting containers, we will need to add a way to start conmon that monitors runc but does not create the container in runc.

[2018-01-09 15:11] baude commented on #198
yeah, seems right

[2018-01-10 14:09] baude commented on #114
A tutorial has now been included.  Please feel free to file issues or even better create PRs for fixes and suggestions

[2018-01-10 14:09] #114 closed

[2018-01-10 17:11] ipbabble opened #207 "Tutorial using sudo when already su"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

I see a lot of:

# sudo

In the tutorials. But # assumes you are already root so why do the 'sudo'?

**Describe the results you expected:**
Either

$ sudo

or s/sudo //

**Additional information you deem important (e.g. issue happens only occasional

[2018-01-10 18:58] rhatdan commented on #207
Your a git expert now, open a PR to change the `# to a $`

[2018-01-10 21:08] mheon opened #210 "Use Conmon to hold ports open for CNI iptables portmapping"
For CNI's IPTables-based portmapping to work properly, ports on the host must be opened and held by something that lives as long as the container. As libpod/podman do not guarantee a running daemon, the easiest way to do this is to have Conmon open ports on the host if requested, and close them when it exits

[2018-01-10 21:09] mheon commented on #186
Fixed by #189 closing

[2018-01-10 21:09] #186 closed

[2018-01-10 21:10] mheon commented on #129
@baude is working on this now

[2018-01-10 21:11] mheon commented on #29
We've imported the code buildah uses for resolving UIDs and GIDs and are using it in libpod, which should resolve this issue

[2018-01-10 21:11] #29 closed

[2018-01-10 21:28] rhatdan commented on #210
Could you open this issue in CRI-O, since we are trying to drop conmon from libpod.

[2018-01-10 21:46] mheon commented on #210
I'll keep this open here to track, and open an issue against CRI-O to modify conmon to support opening and holding ports

[2018-01-14 20:20] mheon commented on #173
Merged in #222, closing

[2018-01-15 19:40] mheon opened #227 "Parsing of --net= flag is broken"
The --net flag presently accepts broken input without error. For example:
`podman run -t -i --net=container fedora bash`
This is an incomplete --net flag - the container ID or name must also be provided
It is presently accepted without issue.
I also cannot get any container ID out of the --net parser even when --net=container:<valid_id> is used.

[2018-01-15 19:41] #173 closed

[2018-01-15 19:57] mheon commented on #227
Update: --network parsing works. --net is accepted but does nothing.

[2018-01-15 21:21] mheon commented on #227
Fixed by #228

[2018-01-15 21:21] #227 closed

[2018-01-19 19:23] mheon opened #246 "Name Reuse Errors when spawning many containers"
Once you begin spawning large (~1000) numbers of containers, we begin to encounter name collisions with autogenerated names resulting in container creation failures. We should handle this sort of name collision gracefully, generating new candidate names until we find an unused one.

[2018-01-22 20:45] baude commented on #129
this should be working on master now, re-open if not

[2018-01-22 20:45] #129 closed

[2018-01-22 20:46] baude commented on #147
We added a PR that groups all the container actions under one lock and observe a speed up.  The rest is related to the output.  Will keep this open until we decide how to deal with it.

[2018-01-23 06:08] ypu opened #254 "podman can not recognize the image prepared by copyimg in RHEL7"
Currently we use copyimg to prepare image for podman related tests. But seems this is not working in RHEL7 host.

There are two typical error messages caused by this problem:

1. image not found. Example(podman_inspect.bats):
[code]
2. extra output in podman run command output which caused the ctr_id include more info than only the container id. Example(podman_import.bats):
[code]

The same test c

[2018-01-24 02:08] rhatdan commented on #254
Since this patch was merged can we close this issue?

[2018-01-24 02:24] ypu commented on #254
Hi @rhatdan this is the separated issue for copyimg as we talked. It is not fixed by the pullreq.

[2018-01-25 04:29] rhatdan opened #262 "Support external network namespaces from podman run command."
A long time ago I opened a PR to support setting up a network namespace outside of Docker and have the container created by Docker join that network.

https://github.com/docker/libnetwork/pull/372.

Upstream Docker rejected this... :^(
Let's get it into podman

Basically

podman run --net path:/PATH/TO/NETNS fedora sh

[2018-01-29 13:22] mheon opened #270 "Add ability to load libpod default configuration from file"
Similar to c/image and c/storage, libpod should load its default configuration in from a file, to allow unified system-wide container runtime settings to be honored by default

[2018-01-30 15:35] baude commented on #254
@ypu I have begun to move away from the copyimg binary itself and now use function calls into the same code.  This is being implemented as we migrate to the ginkgo test suite.  If I get some time, I'll make sure it works on RHEL.

[2018-01-30 15:49] baude commented on #254
confirmed this works on RHEL.

[2018-02-05 16:23] #169 closed

[2018-02-05 19:45] baude commented on #119
#278 should fix this... reopen if needed

[2018-02-05 19:45] #119 closed

[2018-02-05 21:59] mheon opened #294 "Podman build does not respect log-level flag"
Podman build does not pass the `--log-level` global flag into Buildah, so debugging output will only occur for Podman itself.

I haven't checked, but I suspect other global flags are also not respected

[2018-02-06 16:01] baude opened #297 "portbinding issue with exposed ports"
When an image has a port exposed, like 80, and we run:

podman run -d -P nginx

We do get a proper binding between the host and container, where the host is random -> port 80 on the container.  But we also get a host binding of 80 -> 80 which is incorrect.

[2018-02-06 17:16] surajssd opened #298 "podman stop for a container takes 10s"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

Everytime I run `podman stop ...` the command takes ~10s to run.

**Steps to reproduce the issue:**

1. start the container

[code]

2. see the running container

[code]

3. stopping the container

[code]

**Describe the results you received:**

The deletion takes time.

**Describe the results you expected:**

Deletion can happen asyn

[2018-02-06 17:21] mheon commented on #298
10s sounds like the default timeout for switching from the normal stop signal to SIGKILL. Makes me think that either the default signal is being switching to something that won't stop the container (or the container is catching our usual stop signal).

@surajssd Can you re-run `podman stop` with `--log-level=debug` and paste the output? It should announce what signal it's attempting to use in debu

[2018-02-06 17:33] rhatdan commented on #298
Also attempt to modify the timeout.

podman stop -t 5 ...

SIGINT should be sent right away, and after 10 seconds by default SIGKILL will be sent.

[2018-02-06 17:49] surajssd commented on #298
@mheon, yes seems like the default time to stop the container is 10s, I should've investigated more before reporting issue:

[code]

also `-t` flag worked, @rhatdan

[code]

Thanks for the quick replies

[2018-02-06 17:51] mheon commented on #298
Well, if SIGINT is failing, it's potentially still a bug if we're dealing with sleep in the container. Sleep should not be catching and ignoring SIGINT.

[2018-02-06 17:51] surajssd commented on #270
@mheon how are these configs fed right now?

[2018-02-06 17:56] mheon commented on #270
Right now we respect the default containers/storage and containers/image configs. The storage config lives at `/etc/containers/storage.conf` (I'm not entirely sure where the image configs reside, never needed to tweak them). Changes to `storage.conf` will affect all users of containers/storage on the system (libpod, CRI-O, etc) unless they are explicitly set to ignore them via command line flag.

[2018-02-06 17:56] TomSweeneyRedHat commented on #298
I'm going to reopen this until we confirm.  10 seconds is a long time to wait if we don't have to.  @surajssd thanks for pointing this out.

[2018-02-06 17:57] TomSweeneyRedHat commented on #294
Most if not all the global flags are indeed not respected.  I'll work on that, nice catch @mheon.

[2018-02-06 17:58] mheon commented on #298
I'm seeing this locally as well. SIGINT is not killing the container so it's always resorting to SIGKILL.

[2018-02-06 18:00] mheon commented on #298
This also seems to be happening with `podman rm` on running containers - always hitting the 10 second timeout

[2018-02-06 18:08] rhatdan commented on #298
Most likely we are not sending the SIGTERM at all.  Can verify by using podman kill instead of podman stop.

[2018-02-06 18:12] rhatdan commented on #270
/etc/containers/registries,conf /etc/containers/policy.json /etc/containers/registries.d are all used in containers/image.

[2018-02-06 18:19] mheon commented on #298
@rhatdan We're definitely sending the signal.

I think it's SIGINT vs SIGTERM. We default to SIGINT for stop and SIGTERM for kill.

[2018-02-06 18:21] rhatdan commented on #298
That is not what docker does
[code]

[2018-02-06 18:22] mheon commented on #298
Should be an easy fix then, assuming I can find where we set default stop signal

[2018-02-06 18:23] rhatdan commented on #298
This is also overriden by the container image.

[2018-02-06 18:26] rhatdan commented on #298
stopContainer does the following in oci.go
[code]
The question is whether or not ctr.config.StopSignal is set correctly.

[2018-02-06 18:27] mheon commented on #298
I'm testing with the Fedora image, which does not set stop signal itself.
We don't set a default for StopSignal anywhere in libpod, so it has to be in podman.

[2018-02-06 18:28] mheon commented on #298
`podman inspect` confirms that StopSignal on containers is being set to 2 (SIGINT) if not explicitly set

[2018-02-06 18:30] rhatdan commented on #298
In create.go, we should just remove
	stopSignal := syscall.SIGINT

[2018-02-06 18:31] mheon commented on #298
@rhatdan I just changed it to SIGTERM. PR coming soon.

[2018-02-06 20:17] ipbabble opened #301 "`podman build -t` not accepting alpha numerics"
**Steps to reproduce the issue:**

1.  `podman build -t <alphanumeric> .`

2.

3.

**Describe the results you received:**
Container exits before commit and write. Thinks it is some sort of transport:reference ??
[code]
**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
[code]
seems to work
[code]

**Output of `podman

[2018-02-06 20:23] mheon commented on #298
Fixed by #299

[2018-02-06 20:23] #298 closed

[2018-02-06 20:42] rhatdan commented on #301
Works for me and seems for you.  Could you give me an example of when it does not work?

[2018-02-06 20:43] rhatdan commented on #16
@umohnani8 Is this fixed now?

[2018-02-06 20:44] rhatdan commented on #38
@TomSweeneyRedHat @umohnani8 Is this fixed now?

[2018-02-06 20:44] rhatdan commented on #39
@umohnani8 @TomSweeneyRedHat Is this fixed now?

[2018-02-06 20:56] rhatdan commented on #105
I did the exact test for docker that I did for podman and they both exited the same way.

[code]
This is just using the kill -s 15 $PID
[code]
Sending pid 1 inside of the container worked correctly.  Seems like a process that is in a different pid namespace can not catch signals from its parent pid namespace.

[2018-02-06 20:57] rhatdan commented on #105
@mheon If you can get this to work with docker, we can reopen.

[2018-02-06 20:57] #105 closed

[2018-02-06 22:03] TomSweeneyRedHat commented on #39
Not yet, @umohnani8 has a WIP for the docs and a few code tweaks in Buildah.

[2018-02-06 22:12] umohnani8 commented on #38
@rhatdan will be fixed once #303 is in.

[2018-02-06 22:13] umohnani8 commented on #39
Will be fixed when #303 is in.

[2018-02-07 01:53] ipbabble commented on #301
Where did you think it works for me? See above.

William

On Tue, Feb 6, 2018 at 1:42 PM Daniel J Walsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile on iPhone

[2018-02-07 01:59] baude commented on #16
No, but I am working on it.

[2018-02-07 12:52] rhatdan commented on #301
In your report you state.
[code]

[2018-02-07 12:53] rhatdan commented on #148
@mheon Any update on this?

[2018-02-07 13:18] rhatdan opened #305 "Simple differences between podman inspect and docker inspect of container images."
Comparing inspect between

docker pull registry.fedoraproject.org/f26/httpd:latest
podman pull registry.fedoraproject.org/f26/httpd:latest

docker inspect registry.fedoraproject.org/f26/httpd:latest

podman inspect registry.fedoraproject.org/f26/httpd:latest

Quickly what I see.

Podman refers to "ID", while Docker refers to "Id", can we change this?  or is this buried in container storage.  Also

[2018-02-07 14:25] rhatdan commented on #165
Data seems to be there now.  I have opened a new issue on missing data and fields being different then docker inspect.  https://github.com/projectatomic/libpod/issues/305

[2018-02-07 14:25] #165 closed

[2018-02-07 14:27] rhatdan commented on #178
I see IPAddress in the latest code.

[2018-02-07 14:27] #178 closed

[2018-02-07 14:29] rhatdan commented on #202
We at least report an error when this happens now.

[2018-02-07 14:36] rhatdan commented on #262
Any movement on this issue?

[2018-02-07 14:39] TomSweeneyRedHat commented on #301
@ipbabble, I wasn't seeing this on my development VM, but cloned a new F27 vm and now I'm seeing the issue both with Buildah and Podman.   I think you said it worked on Buildah for you, can you refresh Buildah and see if it's replicating there?

FWIW, it looks like the -t tag isn't adding a transport if one isn't provided for some reason.  Even stranger it seems to work if there's no transport, bu

[2018-02-07 14:40] mheon commented on #148
Not yet, but it's high on the list once pods come in.

[2018-02-07 15:17] baude commented on #297
Addressed in #308

[2018-02-07 17:13] ipbabble commented on #301
Exactly. I just discovered that lowercase is fine. so myf27base works but MyF27Base does not.

I will refresh buildah and retry. My buildah is probably old.

[2018-02-07 18:09] ipbabble commented on #301
Confirmed. I `git pull origin master` and make and make install. Now buildah bud doing the same.

[code]

[2018-02-07 19:06] #38 closed

[2018-02-07 21:21] umohnani8 commented on #39
@rhatdan @TomSweeneyRedHat please close this issue.

[2018-02-07 21:34] mheon commented on #39
Fixed by #303

[2018-02-07 21:34] #39 closed

[2018-02-09 16:10] baude commented on #16
fixed

[2018-02-09 16:10] #16 closed

[2018-02-09 18:52] #297 closed

[2018-02-09 18:52] #198 closed

[2018-02-09 22:28] ipbabble opened #321 "podman does not support entrypoint"
**Steps to reproduce the issue:**

This is just an example

1. buildah config --entrypoint "ls -al /etc" my-container

2. buildah inspect  my-container   // it's set correctly

3. buildah commit my-container ls

4. podman run -it ls

**Describe the results you received:**
You get an error asking you for a command

**Describe the results you expected:**
The long listing of a directory /etc

**Addit

[2018-02-10 11:26] rhatdan commented on #321
@baude Can you get this fixed before we announce on Monday?

[2018-02-10 16:54] baude commented on #321
yes working on it now

[2018-02-10 22:39] TomSweeneyRedHat commented on #294
@mheon --log-level=debug should work now in podman.  However that's the only error level logging that Buildah does atm, so anything else passed in is a no-op.  I also turned on the flags that are common between both.  That was in #312.  More to be added.

[2018-02-10 22:41] mheon commented on #294
@TomSweeneyRedHat I think we can say #312 fixed this issue. Closing.

[2018-02-10 22:41] #294 closed

[2018-02-12 12:16] TomSweeneyRedHat commented on #301
Closing.  Apparently image names need to be lowercase.  I've verified the same limitation in Docker.  The error message that noted this was being dropped and not shown.  I've touched that up so the error now shows.  That fix is in https://github.com/projectatomic/buildah/pull/468

[2018-02-12 12:16] #301 closed

[2018-02-14 18:49] TomSweeneyRedHat opened #328 "'podman run {imageid}' causes errors in 'podman ps'"
kind bug

**Description**
The command

'podman run {imageid}' errors out as it should, but then the command 'podman ps --all' shows a number of artifact errors.

**Steps to reproduce the issue:**

1.  podman pull alpine

2. podman run {alpineImageId}

3.  podman ps --all

**Describe the results you received:**
When doing 'podman ps --all' afterwards, you see:

[code]

**Describe the results you ex

[2018-02-14 18:50] mheon commented on #328
Per discussion with @baude it sounds like we should be bailing in container creation, but it is allowed to succeed and create the container, even though it cannot be run.

[2018-02-14 18:55] TomSweeneyRedHat opened #329 "ENH: return imageid from 'podman pull'"
/kind feature

**Description**
When issuing the command "podman pull fedora" it would be nice if the last line of the output was the imageid.  If the -q parameter was supplied, then only the imageId would be returned.  This would allow one do something like:

imageId=$(podman pull -q fedora)
podman run $imageid /bin/bash

and have the imageid in the variable rather than having to look it up via th

[2018-02-14 18:56] TomSweeneyRedHat commented on #328
FYI, pastebin with the errors:  http://pastebin.test.redhat.com/555856

[2018-02-14 19:31] baude commented on #328
im on this

[2018-02-15 01:47] baude commented on #328
@TomSweeneyRedHat this should be fixed now.  care to verify and close?

[2018-02-15 01:48] baude commented on #321
This is verified to be working now.

[2018-02-15 01:48] #321 closed

[2018-02-15 10:53] fatherlinux opened #334 "Basic Build & Run Fails"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

I cloned the repository and built per the instructions in install.md. The build seemed to complete with no errors, but a basic pull or run fails. It complains about parsing the registries.conf file, so I took a look but can't see anything obviously wrong with the syntax. I am getting the following error

**Steps to reproduc

[2018-02-15 12:02] TomSweeneyRedHat commented on #334
@fatherlinux quick guess is your system is missing atomic-registries.  Can you check with "rpm -qa | grep atomic-registries" and if missing dnf/yum install it?  I'll go poke at the docs to make sure it's there.

[2018-02-15 12:11] fatherlinux commented on #334
@TomSweeneyRedHat I just checked and you nailed it. I had a version installed, but it was old (1.18), when I updated to 1.20, everything started working! I submitted a pull request to add atomic-registries to the list of requirements for RHEL/CentOS/Fedora. I am not quite sure if there is a different package for Ubuntu/Debian, etc....

[2018-02-15 12:14] TomSweeneyRedHat commented on #334
#335 addresses Fedora issue

[2018-02-15 12:15] fatherlinux commented on #334
Closing as fixed :-)

[2018-02-15 12:15] #334 closed

[2018-02-15 12:19] fatherlinux opened #336 "Image pull resolution problem with short name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

A basic pull of anything from docker.io fails. It appears to be a pull resolution problem, but not familiar with atomic-registries (suspect) to troubleshoot much deeper.

**Steps to reproduce the issue:**

1. Clone repository

2. Build and install

3. Verify /usr/local/etc/registries.conf actually has docker.io listed

4. R

[2018-02-15 14:37] rhatdan commented on #329
Seems like a reasonable idea.

[2018-02-15 14:59] mheon commented on #329
I want to do a general overhaul of our image handling. This can probably happen as part of it.

[2018-02-15 16:00] rhatdan commented on #336
What does your /etc/containers/registries.conf file have in it?
[registries.search]
registries = ['docker.io', 'registry.fedoraproject.org', 'registry.access.redhat
.com']

[2018-02-15 16:03] TomSweeneyRedHat commented on #328
You made it work on Ubuntu even!
[code]

[2018-02-15 16:03] #328 closed

[2018-02-15 16:07] mheon opened #341 "ENH: Podman Pod commands"
Libpod now has the ability to create and manage pods. We'd like to expose this through the Podman CLI to allow the management of pods. Our proposed command line is described below

### Creating and joining pods
- Pods are created and joined like containers, via `podman run`
- To create a new pod: `podman run --pod new`
- To create a new pod with a specific name: `podman run --pod new=a_specific_na

[2018-02-15 16:44] baude commented on #336
@fatherlinux jump onto #podman on freenode and we can cooperatively debug this ....

[2018-02-15 16:53] baude commented on #341
My initial feedback:

* on creating a new pod with run, i would drop the "new" and if the pod doesn't exist, we create it.
* to join an existing pod, just give the name or id

I'm also having second thoughts on the pod subcommand. I think it would be cool if podman could take the responsibility of determining if it is a pod or container away from the user.  What would you think if we did something

[2018-02-15 16:57] mheon commented on #341
Name collision shouldn't be an issue, names and IDs have to be globally unique - no pod and container can share a name or ID.

[2018-02-15 16:58] mheon commented on #341
On reusing start/stop/kill: I wouldn't mind it. It has the advantage of simplicity.

[2018-02-15 17:12] rhatdan commented on #341
Yes I like that idea.  The tough one is run, but that could take a pod command
podman run --pod new -ti fedora sh

Would create a new pod with a container attached.
If we use --pod new --name test

Would we create a name for the pod as test_pod?

podman run --pod UUID -ti fedora sh
podman run --pod test_pod -ti fedora sh

Would join the new container to the existing POD

[2018-02-15 18:40] baude commented on #341
I think the arguement to the pod would be used like:
* if now pod exists named that, it would create it.
* if a pod with that name exists, it will run the container there.

[2018-02-15 18:40] fatherlinux commented on #336
Yup, per my other issue, it looks right to me :-)

cat /usr/local/etc/registries.conf
[registries.search]
registries = ['registry.access.redhat.com',
'registry.fedoraproject.org', 'docker.io']

[registries.insecure]
registries = []

#blocked (docker only)
[registries.block]
registries = []

I ran a yum update and picked up a BUNCH of changes, in hopes that
"magic" might just happen. Still no love

[2018-02-15 18:45] mheon commented on #341
Does urfave/cli support flags with optional arguments? I can see things working like this:
- `--pod` to make a new pod with a randomly-generated name
- `--pod NAME` to make a new pod with the given name, or join the given pod if it exists
- `--pod-from CONTAINER` to join the pod from another container

The only potential issue would be not knowing for sure whether you created or joined a pod with

[2018-02-15 19:23] rhatdan commented on #341
I would rather have a keyword like "new" or "scratch" to give --pod to cause it to create a new pod.
I really don't want additional options.  And I don't want pod to magically get created on a typo.

[2018-02-15 19:45] TomSweeneyRedHat commented on #341
+1 to the scratch idea.  I was looking for that the other day.

[2018-02-15 19:46] TomSweeneyRedHat commented on #329
Will do, want to give it a quick spin first and haven't gotten there yet.

[2018-02-15 21:50] TomSweeneyRedHat commented on #329
@baude, looks great, tyvm!

[2018-02-15 21:50] #329 closed

[2018-02-16 18:05] sunilcio commented on #202
Hi,

Tried with podman version podman-0-0.3.git367213a.fc27.x86_64 and see it failing with exit status 1

# podman start nostalgic_lovelace
cannot start a container that has stopped
unable to start nostalgic_lovelace: `/usr/bin/runc start 434fbd7ae289bdf1ebb1bf934bd09d1ad05e652e70d44ef852f3c4762edc01ec` failed: exit status 1

# podman ps -a
CONTAINER ID   IMAGE    COMMAND      CREATED AT

[2018-02-16 19:57] sunilcio opened #348 "Failed to tear down network namespace after firewall-cmd --reload"
version: podman-0-0.3.git367213a.fc27.x86_64
kernel: 4.14.18-300.fc27.x86_64

Steps to reproduce:

Run httpd container:
[code]

Check connectivity:
[code]

Do firewall reload without changing any rules:
[code]

Check connectivity again and curl reports connection refused
[code]

Stop container:
[code]

And try to remove container:
[code]

Checking `/var/run/netns` directory, I see large number of

[2018-02-16 19:59] mheon commented on #348
I suspect CNI is not giving firewalld the hints it needs to know the chains we are creating should persist across a firewall reset. I don't know if this is a known issue upstream - we should check into that.

[2018-02-16 20:37] sunilcio opened #350 "Container cni files in /var/run/netns does not get removed after container is exited and removed normally"
version: podman-0-0.3.git367213a.fc27.x86_64
kernel: 4.14.18-300.fc27.x86_64

Steps to reproduce:

Before running container, the number of files in /var/run/netns are 34.
[code]

Run a container and exit:
[code]

Remove container:
[code]

File count in `/var/run/netns` grows from 34 to 35;
[code]

If the container is ran with `--rm` option and then exit the container, file count does not grow.

[c

[2018-02-16 22:10] cgwalters opened #351 "tty size incorrect"
This is *probably* a `crio/conmon` bug but on:

[code]

[code]

I was trying to switch my dev container to podman, and it's not respecting the outer tty size.

[2018-02-16 22:16] mheon commented on #351
That does indeed sound like a conmon bug. Any chance you can try and reproduce with `crictl`/`crio`

[2018-02-18 08:20] TomasTomecek commented on #351
For me, this is even worse: weechat refuses to start because tty size is not set at all:
[code]

On my host:
[code]

Now I run the podman container once again and weechat works when the tty size is set:
[code]

[2018-02-18 12:58] rhatdan commented on #350
I think I fixed this.

# rpm -q podman
podman-0.2.1-1.git3723cec.fc27.x86_64
# ls -l /var/run/netns/
total 0
# podman run -ti fedora echo hello
hello
# ls -l /var/run/netns/
total 0

[2018-02-18 13:03] rhatdan commented on #351
@mrunalp @alexlarsson PTAL

[2018-02-18 13:19] rhatdan commented on #351
I don't know or understand this code but it looks like it tries to do something with window size in
static gboolean ctrl_cb(int fd, G_GNUC_UNUSED GIOCondition condition, G_GNUC_UNUSED gpointer user_data)

[code]

But looking at the logs this code never gets called.

[2018-02-18 14:27] sunilcio commented on #350
Hello @rhatdan

I tested with new package and see it is fixed.

[code]

Thanks

[2018-02-19 14:37] #350 closed

[2018-02-19 15:30] edsantiago opened #352 "podman save: generates corrupt image on stdout"
`podman save`, in its default mode of writing to stdout, seems to create a corrupt image.

Good:

    # podman run --name mycontainer docker.io/stackbrew/centos  /bin/true
    # podman commit mycontainer myimage
    ... (ok)
    # podman save -o /tmp/myimage.1.tar myimage
    ... (ok)
    # podman rm mycontainer; podman rmi myimage
    # podman load </tmp/myimage.1.tar
    ... success

Bad:

    #

[2018-02-19 15:45] mheon commented on #352
@umohnani8 Any chance you can take a look at this?

[2018-02-19 15:52] umohnani8 commented on #352
@mheon will look into this.

[2018-02-19 16:01] sunilcio opened #353 "Change uptime format in podman info from seconds to something like days, hours ?"
`podman info` displays uptime in seconds. It would be better if the format is changed to days, hours.
[code]
[code]

[2018-02-19 16:08] edsantiago opened #354 "podman images: implement --all"
It looks like `podman images` lists all images by default, including intermediates. docker, OTOH, only lists intermediates when given `--all`. Neither approach is right or wrong, this is simply a design decision. I am filing this issue to ensure that the decision is an active, deliberate one.

[2018-02-19 16:24] mheon commented on #353
Opened #355 to fix

[2018-02-19 16:35] edsantiago opened #356 "podman rm: implement --volumes"
[placeholder]

[2018-02-19 17:28] rhatdan commented on #354
I think we should follow what Docker does.

[2018-02-19 18:03] edsantiago opened #359 "podman run --cgroup-parent : unexpected results"
[Initial caveat: I am but a poor monkey who doesn't grok cgroups]

    # podman run --cgroup-parent=aaaa.slice docker.io/stackbrew/centos  cat /proc/1/cgroup
    expected: <nn>:<name>:/aaaaa.slice/podman-<sha>.scope
    got:           <nn>:<name>:/libpod-parent/libpod-conmon-<sha>/<sha>

    # podman run --cgroup-parent=aaaaa-bbbbb.slice docker.io/stackbrew/centos  cat /proc/1/cgroup
    expected:

[2018-02-19 18:07] mheon commented on #359
I don't think this flag is implemented yet. I think @jwhonce was working on it still?

Confirmed via `git grep` - we never use `WithCgroupParent` in the code to set the CGroup parent of the container, so the CLI isn't hooked up to anything

[2018-02-19 18:59] edsantiago opened #360 "podman inspect: output is not a JSON array"
`podman-inspect(1)` claims:

    By default, this will render all results in a JSON array.

Methinks this is copy-pasted from `docker-inspect`. That statement is true for docker, but not for podman.

If podman wishes to be consistent with docker-inspect, it will need to: (1) accept multiple arguments on the command line; (2) output a JSON array instead of a single element; and (3) change the examp

[2018-02-19 19:00] mheon commented on #360
If `docker inspect` accepts multiple containers for inspection at the command line, we'll want to duplicate that behavior for `podman inspect`

[2018-02-19 19:56] baude commented on #354
we will ... but cannot until buildah produces cached images

[2018-02-19 19:57] baude commented on #354
fwiw https://github.com/projectatomic/libpod/blob/master/cmd/podman/images.go#L128

[2018-02-19 20:18] mheon commented on #354
It's not in the manpage, so we're consistent at least.

Though maybe we should add a "-a" private option (not visible in the manpage or help text) that does nothing, to make sure people who habitually types `images -a` aren't broken?

[2018-02-19 22:53] jwhonce commented on #359
@edsantiago WIP, my code no longer errors out.  Doesn't work either. :-)

[2018-02-20 10:12] rhatdan commented on #360
I agree, @baude can  you fix this?

[2018-02-20 14:13] baude commented on #360
Ill add it to the queue

[2018-02-20 14:20] sunilcio opened #364 "podman stats does not reflect resource constraints of container"
It appears that when running a container with resource limits like memory and cpu,
the limits are not being imposed on containers. podman stats does not reflect the limit.

Further checking cgroup slices in /sys filesystem, I see the cgroup slice for container
does not have the limit set on them which was set during podman run.

version: podman-0.2.1-1.git3723cec.fc27.x86_64

Steps to reproduce:

[2018-02-20 14:55] mheon commented on #353
#355 is merged, but @TomSweeneyRedHat has expressed a desire to further improve the output, so I'll leave this open for now.

[2018-02-20 14:56] edsantiago opened #366 "[v.low] podman stop: --timeout option: allow abbreviating as --time"
`docker stop` accepts a `--time` option; in podman, the option is `--timeout`. I think the latter is a better name, but it might be a good idea to enable `--time` as an alias for command-line compatibility with docker.

[2018-02-20 15:00] mheon commented on #366
Agree, this is a nice and simple change for compatibility

[2018-02-20 15:41] edsantiago opened #367 "podman run: exit status 126/127 seem to be reversed in sense"
`podman-run(1)` asserts that it will exit with 126 if command cannot be _invoked_ (e.g. permission denied), and 127 if the command cannot be _found_. I believe the test sense in `cmd/podman/run.go:83-86` is reversed:

    # podman run --rm registry.access.redhat.com/rhel7/rhel:latest /etc;echo $?
    container create failed: container_linux.go:348: starting container process caused "exec: \"/etc\"

[2018-02-20 16:29] baude commented on #360
it looks like podman inspect only accepts one arg at a time ... so i will fix the output and inputs.

[2018-02-20 17:34] umohnani8 commented on #352
@mheon @TomSweeneyRedHat could you please close this. Fixed in #362

[2018-02-20 17:35] #352 closed

[2018-02-20 19:06] mheon commented on #367
This sounds like https://github.com/projectatomic/libpod/blob/5529143877778ef8bcdd05179e279bb7d662b431/cmd/podman/run.go#L81-L87

Either the error codes are switched in the code or in the manpages. We should fix whichever breaks with Docker convention.

[2018-02-20 19:16] edsantiago commented on #367
My bad: I meant to include this: docker is the opposite. That is: I believe the podman documentation should remain as-is, and the code itself should be adjusted.

As long as I'm blabbing, though: I'm not sure if grepping for "permission denied" is the best way to implement this. There may be other reasons why a command cannot be invoked. I can't think of any offhand, though, and don't have a bette

[2018-02-20 19:23] mheon commented on #367
I tend to agree that manually manipulating the error seems like a bad idea. It might be a good idea to expose more explicit error codes of of libpod so we have a better idea of what's going on

[2018-02-20 19:24] mheon commented on #367
I'm also far from certain ctr.Init() erroring means the command did not exist, given that Init failure could also be issues with storage and mounts.

[2018-02-20 20:10] edsantiago opened #372 "podman run & attach: missing or nonfunctional --sig-proxy option"
`docker attach` provides a --sig-proxy option, defaulting to true. podman does not offer the equivalent.

I'm not sensing an urgent need for this. Filing issue merely for sake of completeness.

[2018-02-20 20:30] edsantiago opened #373 "podman run: lines are terminated with CRLF"
`podman run` emits lines to stdout terminated with CRLF (\r\n) instead of the conventional LF (\n):

    # podman run --name foo registry.access.redhat.com/rhel7/rhel:latest cat /etc/adjtime |cat -e
    0.0 0 0.0^M$
                0^M$
                    UTC^M$
                          # podman logs foo | cat -e
    0.0 0 0.0$
    0$
    UTC$

`podman logs` does not exhibit the same behavior.

[2018-02-20 20:41] mheon commented on #373
Putting money on this being conmon

[2018-02-20 20:42] mheon commented on #373
Huh. I might have to eat my words. No \r\n in the code over there.

[2018-02-20 20:53] dcbw commented on #348
The CNI plugin does not talk to firewalld at all.  It talks to iptables directly.  So if you reload firewalld, and if firewalld blows away the CNI rules when it reloads, you'll have this problem.

[2018-02-20 21:02] mheon commented on #372
We're also missing `sig-proxy` with `podman run` - the option is there, but it's not plugged into anything.

[2018-02-20 21:52] baude commented on #336
are we cool to close ?

[2018-02-21 14:25] #336 closed

[2018-02-21 14:34] mheon commented on #366
Closed via #375

[2018-02-21 14:34] #366 closed

[2018-02-21 14:37] baude commented on #364
@sunilcio I started a container with the same run commands as you and the resulting container ID is bf32e0b00fdb41bf28c775bb374042e8dce6d60fc27e3f2885e8d61ed8cffe27.

If i look in /sys, i see:

[code]

I cannot remember the reasoning for how this is done but I believe the subdir bf32.../cpu.shares are the actual ones to look at.  @mheon can you comment on this?

meanwhile i will look at the stat i

[2018-02-21 14:40] rhatdan commented on #364
umohnani8 Also take a look.

[2018-02-21 14:52] mheon opened #376 "Support modifying container configuration"
/kind feature

**Description**
Per discussion with @cgwalters on IRC, we should look into supporting manipulation of existing containers via functionality similar to `virsh edit`. This would allow a lot of flexibility with managing containers.

At present, `libpod` containers are almost completely immutable, which complicates this request.

Thoughts on how we could do this:
- A container would hav

[2018-02-21 14:53] cgwalters commented on #376
High level goal here is supporting the "pet container" use case.

[2018-02-21 14:54] rhatdan commented on #367
The convention that is followed in the chroot command.
[code]

[2018-02-21 14:55] rhatdan commented on #367
Permission denied should be 126

SO they are reversed.

[2018-02-21 14:56] rhatdan commented on #373
@nalind PTAL
I think we have the same issue with buildah which does not use conmon.

[2018-02-21 14:58] rhatdan commented on #376
Interesting idea.  I think we would need a full design or what we would want to allow to be changed and what the admin would see.

[2018-02-21 14:59] mheon commented on #305
@rhatdan Can we close this? I think #306 fixed it

[2018-02-21 15:01] rhatdan commented on #356
@umohnani8 PTAL

[2018-02-21 15:02] rhatdan commented on #356
Basically we want content in the volumes removed.

[2018-02-21 15:04] rhatdan commented on #305
I will close this but we still have the issue where docker inspect accepts multiple containers and returns a list. Where podman only takes one.  @baude is working on this I believe.

[2018-02-21 15:06] mheon commented on #305
I think that merged as well?

[2018-02-21 15:06] rhatdan commented on #348
Does this mean podman/libpod would have to figure out the hints to tell firewalld similar to what CRI-O is doing or is this up in the kube layer where we don't have an idea what is going on?

[2018-02-21 15:06] mheon commented on #305
It did, 6ce70a33c5825c0f4d2afae7643db95e8b7d46f1

[2018-02-21 15:06] #305 closed

[2018-02-21 15:07] mheon commented on #360
Fixed by #371

[2018-02-21 15:07] #360 closed

[2018-02-21 15:08] rhatdan commented on #356
Well I don't this there is anything mounted.  I believe this is only for builtin volumes, not for the case where you bind mounted something on disk into the container.

In our case right now, if you run a image that was built with a VOLUME flag in the Dockerfile, we create content.
If I do a podman rm --volumes, the content should be removed.

[2018-02-21 15:09] rhatdan commented on #354
Yes lets add the flag. And change our defaults to match docker.

[2018-02-21 15:10] rhatdan commented on #262
@baude PTAL

[2018-02-21 15:11] baude commented on #354
@rhatdan my thinking was to add this when buildah supports cached images and we actually can differentiate between --all and not all . is that cool?

[2018-02-21 15:11] rhatdan commented on #210
If we move away from conmon, would this be easier with runc?

[2018-02-21 15:12] rhatdan commented on #147
Any update on this?

[2018-02-21 15:13] mheon commented on #210
Yeah, we'd do it ourself, which should be easy enough - run through our port forwards and reserve them all on the host

[2018-02-21 15:13] mheon commented on #348
@rhatdan I don't think this is CRI-O code, so we'd have to figure out how Kube is doing it

[2018-02-21 15:23] umohnani8 commented on #356
@rhatdan I am creating the image volumes within the container directory, basically if the dockerfile has a VOLUME /myvol and we want to bind mount it, the volume is created in /var/lib/containers/storage/container-id/volumes/myvol. So when the container is removed, the volume is automatically removed.
We had a discussion that there is no point putting it outside the container state directory as we

[2018-02-21 15:31] baude commented on #147
Specifically to this issue, I'm going to mark it as closed.  @mheon and I have talked about redoing the output functions for podman and focus on performance ... as far as ps goes, it is nearly as fast as it can be.

[2018-02-21 15:31] #147 closed

[2018-02-21 15:39] rhatdan commented on #373
@mrunalp PTAL

[2018-02-21 16:10] baude commented on #376
Im trying to wrap my head around this one too ... can someone provide a simple use case ... like i have this and i want to do this ?

[2018-02-21 16:27] Exalm commented on #376
I have ru_RU.utf8 as a locale, and I want pet containers to automatically pick up LANG variable from host shell, so that I get russian output where possible, but english where cyrillic isn't available and so LANG is set to something different, to avoid output like "mv: ???????? ???????, ???????? ????".

Having correct TERM and COLORTERM values prevents funkiness with 256 colors in different termin

[2018-02-21 16:50] baude commented on #367
Fixed!

[2018-02-21 16:50] #367 closed

[2018-02-21 19:33] rhatdan commented on #376
@Exalm Would just leaking TERM and COLORTERM, LANG into the container be enough?
podman run --env TERM --env COLORTERM --env LANG ...

Should do the right thing.

[2018-02-21 19:35] Exalm commented on #376
Would that reuse an existing container, or create a new one? The "pet" container use-case assumes you reuse an existing container over and over again so that it can have state, e.g. manually installed packages or shell history.

[2018-02-21 20:39] rhatdan commented on #376
I believe the environment would be recorded the first time you use it, and then used everytime afterwards.
podman has a bug right now that makes it difficult, since you can not stop and restart a container. but we are working on fixing this.

[2018-02-21 20:46] mheon commented on #376
I think there are usecases for this separate from pet containers - adjusting the resource limits of a container before restarting it, for example.

[2018-02-21 20:49] rhatdan commented on #376
Yes I agree, although one mans pet container is another man's container that can be stopped and restarted.

[2018-02-21 21:17] rhatdan commented on #356
@umohnani8 Ok, so then this is not an issue and not something we need to support.

[2018-02-21 21:17] rhatdan commented on #356
@edsantiago We don't need or supprot podman rm --volume.

[2018-02-21 21:17] #356 closed

[2018-02-22 16:45] #359 closed

[2018-02-22 19:21] edsantiago opened #384 "podman tag: assume 'latest' if source is untagged name"
For compatibility with docker, and just general user-friendliness, `podman tag` should assume `:latest` if given a source image with no tag:

    # podman pull docker.io/stackbrew/centos:7
    ....
    # podman tag docker.io/stackbrew/centos:7 foo
    # podman tag foo bar
    unable to locate image "foo": image not known

Specifying `foo:latest` works as expected, as does specifying the SHA.

On a

[2018-02-22 19:23] edsantiago opened #385 "podman tag: man page is incomplete"
`podman-tag(1)` does not describe the non-option arguments in the Synopsis, and has no Options section. It's little more than a placeholder right now.

[2018-02-22 19:49] baude commented on #384
I agree with this, i will take this one up

[2018-02-22 20:15] edsantiago opened #387 "podman rmi IMAGENAME, for image with multiple tags, should untag"
Docker compatibility: when there's one image with multiple tag names, `docker rmi NAME` actually means 'untag'.  Podman does not do this, and AFAICT does not offer a way to remove a tag

    # podman pull docker.io/stackbrew/centos:7
    ....
    # podman tag !$ foo
    # podman rmi foo
    unable to delete 61b44etc (must force) - image is referred to in multiple tags

Expected behavior: success,

[2018-02-22 20:16] mheon commented on #387
I'm fairly certain this was working at some point - I remember reviewing code related to untagging names.

[2018-02-22 21:30] mheon opened #388 "Bug: Should not override user-specified /etc/resolv.conf mount"
As of right now, we unconditionally mount a few things (`/etc/resolv.conf`, `/etc/hostname`, `/etc/hosts`) into the container. People may want to override these. We should not mount these if the user has already specified something to be mounted at that destination.

[2018-02-22 21:33] rhatdan commented on #388
Yes I agree.

[2018-02-22 21:58] edsantiago opened #389 "podman run: exit status is 0 after signal"
`podman run` passes through an error exit, but not a signal exit:

    a# podman run --rm --name foo registry.access.redhat.com/rhel7/rhel:latest sleep 60

In another shell:

    b# podman kill foo
    <sha>

Back to first shell:

    a# echo $?
    0

Expected: 137

[2018-02-22 22:44] baude commented on #388
Ill take this one ... what are your thoughts on this ... if /etc is mounted or specifically just /etc/resolv.conf, /etc/hostname, /etc/hosts

[2018-02-22 22:45] baude commented on #387
ill take a peek

[2018-02-22 22:49] mheon commented on #388
For now let's say only if the specific mount is being requested, no need to override for all of `/etc/`

[2018-02-22 22:50] Drakonis opened #390 "Bug: Cannot resolve DNS from inside the container"
Currently containers are incapable of resolving DNS, including --net=host when creating the container enables DNS resolving.

[2018-02-22 23:13] edsantiago opened #391 "podman top: leaks non-container processes"
# podman run  --detach --name foo registry.access.redhat.com/rhel7/rhel:latest sleep 5m
    ...
    # podman top foo
      UID   PID  PPID  C STIME TTY          TIME CMD
        0 23280 23270  0 23:06 ?        00:00:00 sleep 5m

...as expected. But:

    # podman top foo -x
    [whoa!]
    # podman top foo -aux

[2018-02-22 23:21] baude commented on #390
can you try something like:

[code]

and see if that fixes things?

[2018-02-22 23:28] Drakonis commented on #390
yeah it is working now.

[2018-02-22 23:34] mheon commented on #390
Sounds like iptables-allow in CNI would fix this (https://github.com/containernetworking/plugins/pull/75). Hopefully we can speed that along.

[2018-02-22 23:35] edsantiago opened #392 "I/O: podman run --interactive not detecting close on stdin?"
`podman run --interactive`, with stdin as tty, seems to work as expected. With stdin as a pipe or redirected, hangs:

    # echo hi | podman run --interactive --rm registry.access.redhat.com/rhel7/rhel:latest cat
    hi
    hi
    (hang forever)

    # podman run --interactive --rm registry.access.redhat.com/rhel7/rhel:latest cat </etc/hostname
    myhostname
    myhostname
    (hangs)

Note the d

[2018-02-23 13:43] rhatdan commented on #388
Yes I think that is all docker does.  If the user specifies the specific mount, we should not mount over it.

[2018-02-23 16:27] sunilcio commented on #364
Adding what I further understood after discussion with @baude  ++ on irc.

In cgroup directory of the container, there is one more sub directory with
container ID which actually contains the resource limits for the container.

If we check the `tasks` in parent directory, it contains `PID` of `conmon` process.
And if we check the `tasks` in sub directory, it contains `PIDs` of processes running
ins

[2018-02-23 17:32] sunilcio opened #395 "Killing container process results in panic for podman ps --all command"
After experiencing the lock issue described in https://github.com/projectatomic/libpod/pull/394 , I manually killed the process running inside container along with `conmon` and `runc` process.

Now if I run `podman ps --all`, it gives below panic.
[code]

- Checking `containers.json`, I see the container `quirky_meninsky` which I killed:
[code]

[2018-02-23 18:25] rhatdan commented on #364
@mrunalp Is this correct the cgroups should only apply to the container processes not the conmon process?

[2018-02-23 21:17] sunilcio commented on #387
Adding more to this behavior, if we `podman rmi -f <tag>` it removes all tags for a particular image.
[code]

[2018-02-25 14:27] BenHall opened #399 "Podman - Detect when net.ipv4.ip_forward=0 and warn user"
If net.ipv4.ip_forward is not enabled then the Podman/libpod containers will not be able to reach the internet with the packets being dropped.

In my case (clean Ubuntu environment), it was due to net.ipv4.ip_forward not being enabled.

My solution was to enable forwarding which allowed the containers to reach the internet.

[code]

I think Podman should warn users when ip_forward hasn't been set.

[2018-02-25 15:56] mheon commented on #399
This is easy enough to detect (it's exposed as `/proc/sys/net/ipv4/ip_forward`). I wonder if we shouldn't upstream this to the OCICNI package or CNI plugins themselves, as this is something that would also affect Kubernetes.

[2018-02-26 12:56] rhatdan commented on #399
Lets get a quick fix into podman, and then work on getting it into OCICNI.  That way we can help our users who hit this issue.

[2018-02-26 16:14] edsantiago opened #402 "podman exec: exit status is always 0"
(at least for all cases I've tested):

    # podman run -d --name foo registry.access.redhat.com/rhel7/rhel:latest sleep 5m

    # podman exec foo /bin/false
    # echo $?
    0

    # podman exec foo /bin/bash -c 'exit 32'
    # echo $?
    0

docker propagates the exit status. However, neither docker-exec(1) nor podman-exec(1) actually specify a behavior.

[2018-02-26 16:19] mheon commented on #402
This should be fixed in #394 whenever I finally get that working - we were ignoring all error returns from the exec'd process.

[2018-02-26 16:21] edsantiago commented on #402
Thank you! Sorry to have missed that in my search.

[2018-02-26 16:27] mheon commented on #402
It's fine, I never opened an issue when I noticed the problem, and the PR is mainly fixing other things.

[2018-02-26 17:25] edsantiago opened #403 "podman load: panic: runtime error: index out of range"
[Warning: please don't run arbitrary commands with unknown data just on my say-so]

The attached tgz, when gunzip'ed, causes a crash in `podman load`:
[code]

podman is 0.2.2-1.git525e3b1.fc27.x86_64.

Context: the tarball is a modification of [this one](https://github.com/autotest/autotest-docker/blob/master/subtests/docker_cli/load/load_test.tar.gz) used in docker-autotest; I don't know its prov

[2018-02-26 18:22] baude commented on #403
@edsantiago I'm to have a PR for this soon.  The gzip part I am going to log into another issue and copy you on.  I need to talk to Nalind before I propose a fix for that.  My PR should solve the panic sans gz.

[2018-02-26 18:24] baude opened #404 "podman load should support gz input"
I think podman load should be able to pull in a gzipd tarfile.  This came as a part of issue #403 by @edsantiago

[2018-02-26 19:20] #385 closed

[2018-02-26 19:22] #384 closed

[2018-02-26 19:40] baude commented on #399
@BenHall  you must use a cni configuration file that has isGateway: true in it.  that will automatically flip the forwarding bit for you.  We ship a default cni configuration file in podman.

[2018-02-26 19:43] BenHall commented on #399
@baude Is that currently the default?

[2018-02-26 19:45] baude commented on #399
yes, in the podman default configuration -> https://github.com/projectatomic/libpod/blob/master/cni/87-podman-bridge.conflist#L8

[2018-02-26 19:50] BenHall commented on #399
@baude Just checked the environment. The file was in the correct location.

[2018-02-26 19:51] baude commented on #399
@BenHall i tested on xenail ... what are you on?

[2018-02-26 19:52] BenHall commented on #399
@baude Ubuntu 16.04.2 LTS. I'll double check the environment without the IP forward flag

[2018-02-26 20:42] edsantiago opened #407 "podman ps reports incorrect exit status"
`podman ps` shows `Exited (125)` no matter what the actual exit status:

[code]

podman-0.2.2-1.git525e3b1.fc27

[2018-02-26 20:49] mheon commented on #407
Well that's properly interesting... We're definitely retrieving the proper exit code at some point.

[2018-02-26 20:52] mheon commented on #407
`ps` and `run` both use the same function to obtain exit codes, which should be stored in the DB, and only set once. It's very concerning that they're changing after first accessed.

[2018-02-26 22:59] rhatdan commented on #404
@umohnani8 PTAL

[2018-02-27 14:21] #407 closed

[2018-02-27 14:21] #403 closed

[2018-02-27 14:21] #391 closed

[2018-02-27 14:22] #388 closed

[2018-02-27 14:22] #207 closed

[2018-02-27 23:04] fatherlinux opened #414 "Feature - Podman pull status even when under Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**
Image pull status. Right now, unless you run the image pull interactively, you can't watch the status. This is sub-optimal when you are running under Kubernetes. For example, there is no way to see how far along the image is. When you are pulling a huge image in Kube/OCP, you just sit there and wait. It gives that sense

[2018-02-27 23:09] fatherlinux opened #415 "Feature - Add --tree option to podman"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

Docker removed the --tree option along time ago. It basically shows the parent child relationship of the image layers, similar to pstree. It was awesome for hunting down provenance. Now, I use a tool called DockViz which is delivered as a container image from DockerHub - sadly it's not secure because it's third part and you have to ru

[2018-02-27 23:10] mheon commented on #414
The image library, `github.com/containers/image`, does support writing status back to us, but I suspect that won't make it across processes. We probably need to land support of support upstream to store pull state somewhere (on disk?) where we can get at it and display it

[2018-02-28 03:21] mheon commented on #415
This sounds perfectly doable, though the display code could get interesting to write

[2018-02-28 13:09] rhatdan commented on #415
@runcom WDYT

[2018-02-28 17:35] edsantiago opened #418 "podman ps -a: unable to create output: container [...] does not exist in database"
On a busy system running docker-autotest, I manually ran `podman ps -a` and got:

[code]
I can reproduce in a few seconds via:

[code]

Looks like a race condition but I'm darned if I can figure out where. And I have the sinking feeling that this might require a lock to resolve; I hope I'm wrong and there's an easier way.

[2018-02-28 17:50] rhatdan commented on #418
I would rather just eat the error, no locks please.  I think ps is getting a list of containers and is then going to each container to get more information.  If the call to get info returns that the container does not exist, we should just continue and not return the error message.

[2018-02-28 17:50] mheon commented on #418
So this is actually the result of race condition avoidance in `libpod` causing another race condition in `podman`.

`podman ps` currently grabs a list of all containers from `libpod` and then iterates through them individually, getting stats. We do not hold locks between the retrieving and iterating. As such, containers can be removed before we get to them in `ps`, causing this error as we try and

[2018-02-28 17:51] mheon commented on #418
We can probably handle this gracefully by just ignoring containers that return `ErrNoSuchCtr` when we go to do our batched operations.

[2018-02-28 17:59] edsantiago commented on #418
If this error can be ignored in podman, I'll second everyone's plan to do so. I just got confused because I saw the error coming from libpod `UpdateContainer()` and my gut told me it shouldn't be ignored there.

[2018-02-28 18:12] baude commented on #418
I have also seen this when we have unusual containers in the file system but no in the db.  Ive actually seen it quite a bit.,

[2018-02-28 18:31] mheon commented on #353
Closed by #397

[2018-02-28 18:31] #353 closed

[2018-02-28 19:44] sunilcio opened #420 "Include configured registries in podman info output"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

Opening this feature request to display configured registries information in `podman info` output.
This would be similar to what we see in `docker info` for secure and insecure registries configured in `/etc/contaienrs/registries.conf`

[2018-02-28 19:48] baude commented on #420
fair enough

[2018-02-28 19:49] fatherlinux opened #421 "Weird output when multiple podman commands are pasted into a terminal"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
When you paste, for example, three podman commands in a row into a terminal, something strange happens with the output. Honesty, I can't quite tell what is happening. It feels like some kind of strange race condition.

**Steps to reproduce the issue:**

1. Paste these commands in:

podman run fedora:24 python3 --version
podm

[2018-02-28 19:55] mheon commented on #421
...Huh.
This is a properly strange one. I wonder if it has something to do with how we handle attaching?

[2018-02-28 20:46] sunilcio commented on #420
With PR https://github.com/projectatomic/libpod/pull/422 , I now see registries information in `podman info` :)

Snip from `podman info`:
[code]
LGTM +1

[2018-02-28 22:03] edsantiago commented on #421
Can confirm. More trivial example:
[code]

Looks like someone is/something is reading and flushing stdin.

[2018-02-28 22:57] edsantiago opened #426 "podman, signals,"
This isn't a bug report; it's a pathetic plea for help. A desperate cry into the ether, hoping it will trigger an Aha! or a Hmmm from someone.

TL;DR podman containers sometimes aren't acknowledging or propagating signals.

Run this in one shell:

    # podman run --attach=stdout --sig-proxy=true --tty=false  registry.access.redhat.com/rhel7/rhel:latest bash -c 'for NUM in `seq 1 64`; do trap "ech

[2018-02-28 23:07] mheon commented on #426
We don't have `--sig-proxy` implemented yet. It should probably pop up a warning or something to that effect to prevent confusion.

Or finish implementing signal handling... I might take a crack at it if I can find the time.

So this is fully expected, because our signal handling doesn't work, podman itself eats the signals and the container doesn't get them

[2018-02-28 23:09] mheon commented on #426
The inspect issue is strange, though. I would think we should report the container PID always? It also should never change once first set, I think, though I'm less sure of that

[2018-02-28 23:10] mheon commented on #426
I also suspect --attach {stdin, stdout, stderr} are all nonfunctional. We presently don't support nonterminal attach. Another thing that needs docs.

[2018-02-28 23:50] rossturk opened #427 "Error creating /run/user/0/containers on podman login"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

On a fresh Fedora 27 Cloud Base image, I ran dnf update && dnf install podman buildah, then ran this:

[code]

**Describe the results you expected:**

I expected to successfully log in, but was not able to.

**Additional information you deem important (e.g. issue happens only occasionally):**

If I run mkdir -p /run/user/0/

[2018-02-28 23:54] mheon commented on #427
It looks like we use a path for temporary login files that exists for normal users, but not root. We can likely work around this by specifying an alternate path if the primary doesn't exist.

[2018-02-28 23:58] rossturk commented on #427
I can successfully podman login as the fedora user, yay! However, I can't really do anything else without write permissions to /var/run/containers.

[code]

[2018-03-01 00:03] mheon commented on #427
Running with `sudo` should let you do anything - we find the login directory via an environment variable, which `sudo` should preserve, allowing you to use login. Running as non-root won't work for container operations, given overlayfs requires a lot of capabilities (I also suspect image operations will fail for a different reason), so even chowning the directory won't fix matters.

[2018-03-01 00:13] rossturk commented on #427
Ok - I burned my instance to the ground and started over to make sure there was no lingering login anywhere and tried again. After dnf -y update && dnf -y install buildah podman:

[code]

The quay.io login credentials do not seem to be passed through to my sudo shell. Am I doing it wrong?

[2018-03-01 00:14] mheon commented on #427
Hm. That looks like it should work (and if it shouldn't, we should force `podman login` to be run as sudo as well). I'll look more into this tomorrow.

[2018-03-01 00:15] ipbabble commented on #427
FYI the only containers dir I have outside my home dir and /var/lib is in /run and /etc
/run/containers
/etc/containers

NOTHING in /run/user
# find /run/user -type d -name containers
find: ‘/run/user/1000/gvfs’: Permission denied
#

[2018-03-01 00:16] ipbabble commented on #427
And I run `podman login` as root and it works. No problem

[2018-03-01 00:26] rossturk commented on #427
Ok, here is the output:

[code]

[2018-03-01 00:31] rossturk commented on #427
FYI, if I follow those commands up with another podman pull without --creds, it does not work:

[code]

[2018-03-01 00:31] TomSweeneyRedHat commented on #427
Thanks @rossturk!  That definitely smells like login isn't dropping the authentication where pull is expecting it.  Something for us to dig at.  If you've the time, and if I was bright I'd have asked you in the previous, can you try:

sudo podman login quay.io

sudo podman pull quay.io/rturk/buildah

Thanks again!

[2018-03-01 00:33] rossturk commented on #427
That puts me back to square one:

[code]

I suspect sudo mkdir -p /run/user/0/containers and rerunning would fix it.

[2018-03-01 00:35] TomSweeneyRedHat commented on #427
FYI, if you use the --creds in the podman command line, it does not retain those credentials once the command completes.  The credentials are only tucked away and used for follow on commands when entered via 'podman login'.

Thanks for trying the 'sudo podman login', more good data for digging.

[2018-03-01 00:36] ipbabble commented on #427
BTW here is my debug:
# podman --log-level debug login quay.io
Username: ipbabble
Password:
DEBU[0007] Looking for TLS certificates and private keys in /etc/docker/certs.d/quay.io
DEBU[0007] GET https://quay.io/v2/
DEBU[0008] Ping https://quay.io/v2/ err <nil>
DEBU[0008] Ping https://quay.io/v2/ status 401
DEBU[0008] Increasing token expiration to: 60 seconds
DEBU[0008] GET https://quay.io/v2/
Log

[2018-03-01 00:44] rossturk commented on #427
I think it's super interesting that @ipbabble is able to podman login as root with no /run/user/0 directory at all! He is Fedora on bare metal, I am Fedora Cloud Base. Otherwise, we can't figure out what's different.

[2018-03-01 00:47] mheon commented on #427
I have `/run/user/0` on Fedora workstation bare metal, no `/run/user/0` on Fedora server on a VM

[2018-03-01 00:51] ipbabble commented on #427
I have /run/user/[0,1000, 42] But no containers subdir under any of them.

[2018-03-01 00:54] mheon commented on #427
I suspect the issue is that we did most of our dev/testing under Fedora workstation & similar. If it's as simple as creating `/run/user/$UID` if it doesn't exist, we can do that easily. I'd like to read more on XDG_RUNTIME_DIR before putting that in, though.

[2018-03-01 00:57] TomSweeneyRedHat commented on #427
I don't have bare metal to look at.  However my F27 workstation vm does not have a /run/user/0 either.  I'm able to pull my image from a private repository using the creds with the pull, or by doing a 'podman login' with or without sudo.  I think @mheon is going down the right track.

[2018-03-01 02:08] baude commented on #421
so what about this:
[code]

[2018-03-01 02:15] baude commented on #421
Ok the replicator is even simpler:

[code]

but if you add the -i in, then the interactive console must absorb it and it doesn't work.  if I recall correct, podman run with -d is equiv to -it.  I suppose we could remove that assumption but God only knows what the impact might be.

[2018-03-01 10:01] sunilcio commented on #427
I did bit of googling and and read some docs and see that directory in `/run/user/<UID>` is created by `pam_systemd` with sets default `XDG_RUNTIME_DIR`.

From freedesktop org docs it states, pam_systemd — Register user sessions in the systemd login manager. So below is what I see is happening.

If you login with an user, the corresponding `/run/user/<UID>` is created by systemd-logind.service.
[c

[2018-03-01 13:03] #426 closed

[2018-03-01 13:36] vrothberg commented on #390
Is it possible to add a (temporary) workaround to `podman` until the issue is resolved in CNI?

[2018-03-01 13:43] rhatdan commented on #427
Where does podman login create the files when XDG_RUNTIME_DIR is not set? Where does podman pull look for them?

[2018-03-01 14:37] mheon commented on #390
The original plan was to wait until the CNI PR merged, but that's been stalled upstream for a long time now. Given that, I think we need to include a local fix until it merges.

[2018-03-01 14:44] mheon commented on #427
I wonder how bad it would be for us to create `XDG_RUNTIME_DIR` in place of systemd-logind if it does not exist. I also wonder about distros that may not have systemd at all - we'll need to do something about them too.

I think the answer is probably to ignore XDG_RUNTIME_DIR entirely and create files in the libpod tmp dir (named by UID, so we don't have conflicts). This is a location we can guara

[2018-03-01 14:48] TomSweeneyRedHat commented on #427
I think the reason the /run/user/<PID> location was originally chosen is it gets cleaned out on reboot.  It would be nice to have a location that did the same.  Since we don't have a daemon banging around, we can't clear it through some exit routine there.

[2018-03-01 14:53] rhatdan commented on #427
We should just check for the environment XDG_RUNTIME_DIR, if it does not exist, we default to /run/user/UID/.
That way it works in both cases.

[2018-03-01 14:55] baude commented on #421
Ok, i looked into this more ... it was -t that was being set automatically if ! -d.  Disabling that did nothing for this problem.  There must be something more subtle going on.

[2018-03-01 18:29] rhatdan commented on #390
@baude Can you add a temporary hack, and we can remove once new version of CNI happens.

[2018-03-01 18:32] fatherlinux opened #431 "Interface different with Docker"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
I "think" this is a bug, because the two behave differently. Basically, with a build, podman requires a "." at the end of the command, where docker doesn't even when pulling a remote Dockerfile...

**Steps to reproduce the issue:**

1. podman build -t fedora-netcat-dockerfile-docker https://raw.githubusercontent.com/fatherli

[2018-03-01 18:33] mheon commented on #431
This sounds like a buildah issue... @TomSweeneyRedHat @nalind PTAL

[2018-03-01 18:35] fatherlinux opened #432 "Different in tagging between Docker and Podman"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Basically, if you look at the output, you will notice that podman automatically adds a docker.io Registry Server to the URL when building, even when the short name is specified.

**Steps to reproduce the issue:**

1. podman build -t fedora-netcat-dockerfile-podman -f https://raw.githubusercontent.com/fatherlinux/two-pizza-t

[2018-03-01 18:36] mheon commented on #432
@baude Is this what we were talking about earlier, with c/storage assuming docker.io for all shortnames?

[2018-03-01 18:38] TomSweeneyRedHat commented on #431
Closing this one and have move it to Buildah's issue list at: https://github.com/projectatomic/buildah/issues/504

[2018-03-01 18:38] #431 closed

[2018-03-01 18:42] rhatdan commented on #418
Well if we ever merge libpod into crio and buildah hopefully we won't be in that situation any longer.  But for now, lets just check for the ErrNoSuchCtr and don't report it.

[2018-03-01 21:21] baude commented on #432
yeah I  hate this ... even with docker you can create foo:latest with out prepends.

[2018-03-01 22:29] edsantiago opened #433 "podman logs: fails on created (but not started) container"
Minor corner case:
[code]
(works as expected after `podman start foo`).

FWIW docker simply emits no output and exits 0, which seems like reasonable behavior to me.

[2018-03-01 22:32] mheon commented on #433
We should detect when the container is `ContainerStateConfigured` and exit cleanly instead of trying to read the log file to prevent this.

[2018-03-01 22:33] edsantiago commented on #433
@mheon sometimes it seems like you reply before I've even hit the Submit button

[2018-03-01 22:35] mheon commented on #433
@edsantiago I'm pretty on the spot with github emails. Otherwise they start multiplying in my inbox.

[2018-03-01 22:47] edsantiago opened #435 "podman logs -f: does not detect container stop or rm"
`logs -f` happily continues forever even after container stops and is removed:
[code]
And that's all folks: I do not get a prompt back until I ^C. Even if I `podman rm foo` in another window.

FWIW `docker logs` exits immediately after the goodbye.

Whether or not this is fixed to agree with docker, I think a man page update is in order: the behavior should be explicitly documented, whichever way

[2018-03-01 22:50] mheon commented on #435
I think Docker has an advantage over us here, having a server that you stream logs from instead of us just grabbing a file descriptor...

I suppose with `-f` specified we could spawn a goroutine doing a `podman wait` and, if the container exits, exit ourselves?

[2018-03-01 22:50] mheon commented on #435
Wait, that only detects container exit, not removal. We don't have an easy way to wait for removal. Ack.

[2018-03-01 22:54] baude commented on #435
i think i last messed with this code, ill peek at it too.

[2018-03-01 23:28] mheon commented on #433
Closed via #434

[2018-03-01 23:28] #433 closed

[2018-03-02 15:52] #435 closed

[2018-03-02 16:51] sunilcio opened #439 "podman ps -a reports 'no exit file for container found' after manually killing conmon process"
Manually killing `conmon` process of a container results in below error for `podman ps -a`
[code]
Scenario and how to reproduce:

### TEST 01: First kill the process inside container - no issue observed

- Run a container:
[code]

- First kill `sleep` process inside container. This will also result in `conmon` process exiting, all ok:
[code]

- No issue observed and `podman ps -a` works correctly:

[2018-03-02 17:09] sunilcio commented on #395
With below `podman` version, I no longer see panic after running `podman ps -a` in above condition.
[code]
So I see the panic issue is fixed.

[2018-03-02 17:12] sunilcio commented on #439
Forgot to specify version while opening issue.
[code]

[2018-03-02 17:37] mheon commented on #395
Panic should be handled, so closing

[2018-03-02 17:37] #395 closed

[2018-03-02 17:41] mheon commented on #439
This sounds like a `conmon` issue.

Conmon, if it is killed by a signal we can catch (ex. SIGTERM), should first kill the container it's managing, create the exit file, and then exit. This guarantees that the container is actually dead, and we are in a sane state.

To ensure containers in a bad state can actually be removed, we have added code in master to better handle missing exit files. The con

[2018-03-02 19:34] mheon opened #442 "Re-add FFJSON for container and pod structs"
#440 just removed our FFJSON code because we were seeing segfaults after adding some things to the DB. We should track this down and figure out where the bug is (likely to be upstream FFJSON issue) and get it fixed to we can add FFJSON again to speed up our encode/decode

[2018-03-02 20:34] baude commented on #390
yup! its in now

[2018-03-02 20:34] #390 closed

[2018-03-02 21:15] baude opened #445 "Bug: locking contention between create and ps -a"
It looks like there is a locking issue between podman create and ps -a where both operations get hung waiting on a lock.  You can replicate this by...

in one terminal run:
[code]
And in another do:
[code]
After a short time, both sessions will lock...stopping one of them, the other will continue

[2018-03-03 02:10] baude commented on #445
@mheon im running a heavily debug'd version of podman and I am observing some interesting results.
Consider the following from podman create
[code]

All of the lock calls above the --> are coming from the getruntime in the create command.  Now lets look at ps -a.
[code]
Here again, all the locks are coming prior to getRuntime.  And when these two go into lock contention, it is over this lock:

[co

[2018-03-03 02:15] mheon commented on #445
It might be store initialization, then? We don't do much else with c/storage in NewRuntime

If so that explains why CRI-O hasn't seen this in their perf testing - they only need to run store init once, when the daemon starts up.

[2018-03-03 13:54] vrothberg commented on #390
I just tested it in openSUSE and it works like a charm. Thanks a lot, @baude!

[2018-03-03 16:53] baude commented on #445
is storage initialization done in cs?

[2018-03-03 16:57] mheon commented on #445
@baude I'm thinking specifically about https://github.com/projectatomic/libpod/blob/master/libpod/runtime.go#L137

That's our only significant interaction with c/storage in NewRuntime. It can either retrieve an existing store or make a new one, which leads me to believe it's probably fairly heavyweight?

[2018-03-04 01:43] mheon commented on #402
Partial fix landed in #412 - we now exit with an error code, but the code is not the one from the exec'd program.

[2018-03-04 01:44] mheon commented on #270
Will be fixed by #430

[2018-03-04 01:48] mheon commented on #439
There's a PR open against `conmon` upstream with a partial fix - https://github.com/kubernetes-incubator/cri-o/pull/1409

This, combined with the existing fix we added here, should be enough to handle most cases where `conmon` is manually killed. We can't do anything about SIGKILL, though, as SIGKILL cannot be caught.

[2018-03-04 02:10] baude commented on #445
Well this can occur with two different terminals creating containers too ...

[2018-03-04 02:44] mheon commented on #445
If it actually is runtime creation, we can lock runtime creation. We already lock a (small) part of it, so extending it to the entire runtime would not be hard. It wouldn't really cost us much in the way of performance single-threaded either, since we already make the lock and lock/unlock it, we'd just be locking more.

The big hit would be starting multiple podman processes concurrently. I don't

[2018-03-04 16:01] rhatdan commented on #390
Nice,  Any chance you could write a blog about podman on OpenSuse?

[2018-03-04 16:07] rhatdan commented on #445
@nalind PTAL

[2018-03-05 09:03] vrothberg commented on #390
@rhatdan Sure, with pleasure. I can send you a draft via email if you want to have a look. I should find some time this week to write it.

[2018-03-05 19:07] sunilcio commented on #364
With `podman 0.3.2-dev`, I see the limits in `podman stats`.
[code]
[code]

[2018-03-05 19:10] mheon commented on #364
Awesome, this seems ready to close then

[2018-03-05 19:10] #364 closed

[2018-03-05 21:00] umohnani8 commented on #427
@rhatdan that is what it is doing https://github.com/containers/image/blob/master/pkg/docker/config/config.go#L135.
This was the plan from the beginning from what I remember. If you run as root, the UID would be 0 yes? So even with this the path would end up being `/run/user/0`, which does not exist always?

[2018-03-05 21:03] mheon commented on #427
There may also be cases where XDG_RUNTIME_DIR is set, but the directory was not created?

[2018-03-05 22:03] umohnani8 commented on #427
@mheon So check for if XDG_RUNTIME_DIR is set and if it is, check if the directory exists, if not create that directory? Is it okay creating /run/user/0 if it doesn't exist? (not sure if that is a thing we are allowed to do)

[2018-03-05 22:04] mheon commented on #427
Whether we can create the directory is a good question. I'll look into that tomorrow.

[2018-03-05 22:05] umohnani8 commented on #427
@mheon okay, I will do some research also. Assigning this to myself.

[2018-03-05 22:05] edsantiago opened #450 "podman commit: verbosier than docker"
The (undocumented) output of `podman commit` differs from the (undocumented) output of docker:

    # docker run --name foo fedora date
    Mon Mar  5 21:52:20 UTC 2018
    # docker commit foo bar
    sha256:5b738753cc3e63780447d7c84459dd01fa9ec07f41c56ff19d0336bfb81346b7

podman emits progress bars but no easily-machine-readable hash:

    # podman run --name foo fedora date
    Mon Mar  5 22:00:

[2018-03-05 22:07] mheon commented on #450
I think having a `-q` flag that would only output a hash would be useful for machine parsing, like docker-autotest wants to.

We should probably display the ID of the image regardless, too.

[2018-03-06 15:04] rhatdan commented on #427
If XDG_RUNTIME_DIR is not defined  We should default to /run/user/UID, and create it if it does not exist.
If XDG_RUNTIME_DIR we should use it, and NOT create the directory if it does not exist.  Setting the XDG_RUNTIME_DIR directory indicates that the caller knows what he is doing and is in charge of creating the directory.  I don't to have a users typo accidentally trigger the creation of a dire

[2018-03-06 15:22] rhatdan commented on #450
I agree.  I thought we already fixed something like this.

[2018-03-06 15:40] TomSweeneyRedHat commented on #450
We started returning the imageId from the 'podman pull' command relatively recently.  I'm not sure we've done similar for other commands though.  It would be nice to have to have for commit, run too if I could get greedy.  I don't think Docker returns it in run though.

[2018-03-06 15:42] baude commented on #450
run already does this, i will take a look at commit .. shouldnt the default behaviour then be to be quiet and then we would have a verbose to see the extra status. assigning to me

[2018-03-06 15:46] mheon commented on #450
@baude I'm fine with --verbose and quiet being default

[2018-03-06 16:47] umohnani8 commented on #427
@mheon how about we print a warning if XDG_RUNTIME_DIR is set but the directory doesn't exist? This way the user will know the cause of the failure. We can also say "Either create the directory or unset XDG_RUNTIME_DIR".

[2018-03-06 16:55] mheon commented on #427
I'd prefer to just fall back to /run/user/UID, but that would definitely be better than what we do now

[2018-03-06 17:30] umohnani8 commented on #427
So while writing a patch for this, I discovered that the code to create the directory if it doesn't exist is already there https://github.com/containers/image/blob/master/pkg/docker/config/config.go#L172.
So this is failing to create the `/run/user/0/contianers` directory. Could it be permissions?

[2018-03-06 17:36] umohnani8 commented on #427
Oh nvm, I am blind. It is doing Mkdir and and not MkdirAll.

[2018-03-06 18:35] edsantiago opened #454 "podman run: "cannot convert version" when cri-o is installed"
With cri-o-1.9.8-1.git7d9d2aa.fc27 installed:

    # podman run fedora date
    error parsing result from CNI plugins: cannot convert version ["" "0.1.0" "0.2.0"] to 0.3.1
    # echo $?
    127

This is podman-0.3.2-gitff9da1f.fc27.

rm'ing `/etc/cni/net.d/100-crio-bridge.conf` and `200-loopback.conf` "resolves" the problem.

Sorry for not tracking it down further; filing early because this seems

[2018-03-06 19:01] baude commented on #454
ed thanks for making the issue ... its a common one we are currently arguing (least I am being difficult) about

[2018-03-06 19:08] mheon commented on #454
We have an incompatability with the CRI-O CNI config files right now. We need this fixed. I think this is a CRI-O issue more than an us issue, but let's keep it open here until it's resolved.

[2018-03-06 19:27] mheon commented on #454
https://github.com/kubernetes-incubator/cri-o/pull/1423 should fix

[2018-03-06 19:44] edsantiago commented on #450
To followup on my stdout/stderr suggestion: see #362 in which @umohnani8 made progress meters output to stderr. Whether or not you add --verbose, I think it might be a good idea to emit these progress meters to stderr as well. For consistency, and also because it would still allow capture of the cid in stderr:

    # CID=$(podman commit --verbose foo bar)
    ...blah blah blah I'm working hard, ..

[2018-03-06 20:41] #445 closed

[2018-03-06 20:42] mtrmac commented on #427
Re-posting from https://github.com/containers/image/pull/424 to keep the conversation in one place:

I’m not convinced about auto-creating `/run/user/$UID`; `/run/user` is, at least on my system, `root:root 755`, so any non-root user is not going to benefit.

It seems to me that if the real fix for that needs to be in some quite different place.

-  Looking at `pam_systemd(8)`, it **removes** `/ru

[2018-03-06 21:12] edsantiago opened #458 "(ultra-minor): podman top output is not tabular"
This is a nit. I am not requesting that it be fixed, and I even suggest that you close-WONTFIX immediately upon reading it. I am filing because some day someone might possibly encounter this and check if it's a known issue.

`podman top` emits `ps` output unaltered. This differs from docker, which reformats it using its standard table output. The most significant difference is that the column head

[2018-03-06 21:12] #351 closed

[2018-03-07 05:27] rhatdan commented on #427
Well we can't change every distributions handling of `su`, so that is a non starter.  We need a default location fore the creds, which is currently $XDG_RUNTIME_DIR/containers or /var/run/$UID/containers if $XDG_RUNTIME_DIR does not exists correct?  Doing a MakeDirsAll on this might be the simplest solution.

[2018-03-07 05:48] rhatdan commented on #390
Looking forward to it.

[2018-03-07 17:44] mtrmac commented on #427
`MakeDirsAll` on `/var/run/$UID` just won’t work for `$UID` not 0.

Even for `root` only, breaking the documented rules of that directory isn’t all that great either:
[code]
and `/run/user/0` is gone.

Meanwhile, `systemd` has liked to pretend that `su`/`sudo` and nested sessions don’t exist, so I am not quite holding my breath for `pam_systemd` to improve on its own, either.

---

BTW using `$XDG

[2018-03-07 18:02] mheon commented on #427
I have no objections to using to a dir in the user's home.

[2018-03-07 21:45] #450 closed

[2018-03-07 21:51] rhatdan commented on #427
I would like to minimize the amount of time, we have clear passwords stored on flat files on disk.
MakedirsAll will work if /run/user/UID exist, it will create containers, if you are root and /run/user/0 does not exist, it will also work to create the content and the parent directories.

[2018-03-08 03:00] mheon opened #464 "No max length & control characters interpreted in `ps` command output"
For testing sig-proxy, I made some containers with a somewhat sizable bash script for their command, which became quite sizable after variable substitution (including many newlines). The entirety of this script is displayed in `podman ps` as the command, including newlines - see below:

`
6a7ef41a8dde   registry.fedoraproject.org/fedora:latest   bash -c for NUM in 1
2
3
4
5
6
7
8
`
Omitted, for br

[2018-03-08 05:02] ipbabble opened #465 "823957"
**Description**

**Steps to reproduce the issue:**
1. First build the Buildah container:
[code]
2. Commit the container:
`# buildah commit $containerid buildah`

3. The try and run Podman running Buildah container with a Dockerfile

A) First try it using the containers own /var/lib/contiainer directory. In this case you can't use overlayfs on overlayfs and so you need to tell Buildah to use vfs as

[2018-03-08 07:46] rhatdan commented on #465
If you run your container through docker does it work?

[2018-03-08 08:05] rhatdan commented on #427
We could use a different directory for root running the containers.  Until we have user namespace podman will not run as non root, not sure it will work run with usernamespace as non root then either.

[2018-03-08 14:38] mheon commented on #465
The container appears to have been created successfully and stopped on its own - the lack of output doesn't strike me as a podman bug as such.

Can you get a `ps -a` or similar after the container exited to get the exit code?

Also, can you try running buildah in the container with --debug specified? I suspect this is an error doing storage init (probably need more caps than we give by default for

[2018-03-08 14:41] mheon commented on #439
Partial fix in `conmon` merged, though we won't take advantage of it until we move to using `conmon` for cleanup.

[2018-03-08 15:10] mheon commented on #427
Should we use MkdirAll, but restrict ourselves to only doing it if we are UID 0?

[2018-03-08 15:34] nalind commented on #465
The overlay storage driver mounts overlay filesystems, and unless I'm mistaken, that's not allowed inside of an unprivileged container, so it can't be used.  Running buildah with its --debug flag should help to verify that it's being started, and what's happening after that.

[2018-03-08 17:37] rhatdan commented on #427
I don't actually think you need that constraint.  Since it will either work or fail, if it fails we get an error.

If XDG_RUNTIME points to /run/user/3267 and it attempts to create /run/user/3267/containers, this will succeed if /run/user/3267 exists and I am logged in as 3267 it will fail if the directory does not exist.

[2018-03-08 21:24] umohnani8 commented on #404
Fixed in #468

[2018-03-08 21:24] #404 closed

[2018-03-09 02:14] #464 closed

[2018-03-09 03:29] mtrmac commented on #427
Carving out a root-only exception (e.g. use `/run/containers-root` or whatever the rules for `/run` are) would work fine for `podman`, but the same login code is also used for `skopeo` and maybe other tools which do not have any privileges.

Tradeoffs… I am instinctively averse to “works 99% of the time, fails unpredictably 1% of the time” designs, but maybe using `/run/$UID` is better than leavin

[2018-03-12 10:48] vrothberg opened #472 "podman load doesn't work on xz compressed files"
/kind bug

**Description**

`podman load` on xz compressed files fails.

**Steps to reproduce the issue:**
1. Perform a `podman load` on an xz compressed file.

**Describe the results you received:**
`open container-feeder471485113/manifest.json: not a directory`

There are two things related to this issue. The first one is that the fall-through logic in PullImage is masking the actual bug, which

[2018-03-12 13:20] mheon commented on #472
Sounds like a nice, easy improvement. We can track the PR in c/image and merge once that's ready.

[2018-03-12 15:27] mheon opened #475 "Packaging change: Separate Conmon package for Podman on Fedora"
As of right now, we share `conmon` with CRI-O via the `conmon` subpackage of CRI-O. However, we've been running into issues recently with podman specific fixes for `conmon` landing in CRI-O master. The CRI-O maintainers are reluctant to backport these to the release branches the package (and `conmon` subpackage) are built from, as the new features landing in `conmon` could break CRI-O releases.

W

[2018-03-12 15:30] rhatdan commented on #475
We need to update the README with this information.

[2018-03-13 09:19] vrothberg opened #479 "feature request: configurable e2e tests"
Currently, `make localintegration` runs all tests and there is no way to only run specific tests, which can be very helpful during development in order to speed things up. It seems that `ginko` works on a package level, so choosing which tests should be executed seems to imply breaking the general `integration` package of those tests into multiple packages (e.g., `integration/stat`, `integration/i

[2018-03-13 12:55] vrothberg commented on #479
It turns out, this is already working as described here: https://github.com/projectatomic/libpod/tree/master/test

Thanks a lot, @baude!

[2018-03-13 12:55] #479 closed

[2018-03-13 17:11] umohnani8 commented on #427
@rhatdan @mheon @mtrmac So what is the consensus? Store the auth in XDG_RUNTIME_DIR if it is set otherwise to default to /run/usr/UID (and create this if it doesn't exist) like we were doing?

[2018-03-13 17:15] mheon commented on #427
@umohnani8 I don't believe we have a consensus yet, so leaving it as-is for now will have to do

[2018-03-13 17:19] rhatdan commented on #427
How about if XDG_RUNTIME_DIR is not defined, we run it with /run/containers/UID, then we don't have to worry about systemd removing the directory

[2018-03-13 17:21] mheon commented on #427
I have no problem with this. I presume we create the directory if it doesn't exist? Will we have permissions to do this if we're not root?

[2018-03-13 17:24] umohnani8 commented on #427
I agree with this also. Yeah you will have to be root to be able to create the /run/containers/UID directory. But all podman and buildah commands are run as root anyway, and we can add it to the docs "always run login and logout as root".

[2018-03-13 19:21] edsantiago opened #483 "[probably v.low] podman inspect: include Tmpfs"
`docker inspect` displays tmpfs mountpoints under HostConfig. Should podman?

    # podman run --tmpfs /run --name foo fedora date
    # podman inspect --format '{{.HostConfig.Tmpfs}}' foo
    [nothing]

    # docker inspect --format '{{.HostConfig.Tmpfs}}' foo
    map[/run:]

[2018-03-13 19:23] rhatdan commented on #483
Yes, this is a bug.

[2018-03-14 15:15] edsantiago opened #486 "podman run: implement --restart"
Filing as separate issue because I don't want to clutter #482

Once restart is working, should the `--restart` option to `podman run` be implemented? If so, implement & document. If not, it might be wise to update podman-run(1) and remove the "incompatible with any restart policy other than none" statement from the --rm documentation.

[2018-03-14 15:16] rhatdan commented on #486
We will not be implementing podman run --restart since we don't have a daemon. This should be done via systemd, if you want it.

[2018-03-14 15:17] mheon commented on #486
Should change the manpages for run to remove things mentioning it, then

[2018-03-14 17:26] mheon commented on #486
Manpages updated, closing

[2018-03-14 17:26] #486 closed

[2018-03-14 18:22] edsantiago opened #489 "podman save: cannot handle colons in output filename"
If the `--output` path includes a colon, `podman save` fails with an unhelpful diagnostic:

    # podman save --output /tmp/a:b docker.io/fedora:latest
    ERRO[0000] error deleting "/tmp/a:b": error getting destination imageReference for "docker-archive:/tmp/a:b:docker.io/fedora:latest": invalid reference format
    unable to save "docker.io/fedora:latest": error getting destination imageReferenc

[2018-03-14 18:34] edsantiago opened #490 "[docker compatibility] podman inspect: no leading slash in Name"
Filing purely for archival purposes and as an FYI for future users who encounter this quirk. I do not expect any action, and indeed hope none is taken other than closing this as KTHXBYE.

`docker inspect` has an obnoxious long-standing [issue](https://github.com/moby/moby/issues/29997) in which the `Name` field has a leading slash:

    # docker run --name foo fedora date
    # docker inspect --fo

[2018-03-14 18:44] rhatdan commented on #490
SGTM

[2018-03-14 20:46] edsantiago opened #493 "podman images-related actions: inconsistent handling of sha256"
Although `podman images --no-trunc` outputs a hash with a `sha256:` prefix, no image commands (that I've found) accept those identifiers:

    # podman images --no-trunc
    REPOSITORY                                   TAG      IMAGE ID ...
    docker.io/library/fedora                     latest   sha256:9110ae7f579f35ee0c3....
    # ID=$(podman images --no-trunc|grep /fedora|awk '{print $3}')

[2018-03-15 01:30] nathwill opened #494 "podman 0.3.3 depends on containernetworking-cni > 0.6, missing from virt7-container-common repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

ran into this working on a new Chef cookbook for crio... it worked this morning, broke this afternoon.

podman is currently uninstallable due to a missing containernetworking-cni package > 0.6 in the virt7-container-common repos.

**Steps to reproduce the issue:**

1. spin up a cent 7 box

2. set up the virt7-container-comm

[2018-03-15 12:19] rhatdan commented on #494
@lsm5 Is this something you could look at?

[2018-03-15 12:25] lsm5 commented on #494
On Thu, Mar 15, 2018 at 12:19:02PM +0000, Daniel J Walsh wrote:

building here: https://cbs.centos.org/koji/taskinfo?taskID=360043

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-15 13:43] umohnani8 commented on #427
@rhatdan should I go ahead and update the patch to save in /run/containers/UID? User will have to run as root though, otherwise we won't be able to create the directory under /run.

[2018-03-15 13:48] rhatdan commented on #427
Yes, I am really primary concerned about the root use case.

[2018-03-15 13:53] edsantiago opened #496 "podman run --cgroup-parent: missing cleanup on exit?"
[insert standard disclaimer about me not grokking cgroups]

podman seems to be leaving cruft behind in `/sys/fs/cgroup/`:

    # podman run --rm --cgroup-parent=aaaa.slice fedora true
    # podman run --rm --cgroup-parent=aaaa.slice fedora true
    # ls -l /sys/fs/cgroup/pids/aaaa.slice
    total 0
    -rw-r--r--. 1 root root 0 Mar 15 13:35 cgroup.clone_children
    -rw-r--r--. 1 root root 0 Mar 1

[2018-03-15 15:41] edsantiago opened #497 "podman run --cgroup-parent: validation"
podman does not seem to be validating the argument to `--cgroup-parent`. Should it?

[code]

docker prevents this: it explicitly checks (daemon_unix.go) that the argument end in `.slice`:

    # docker run  --cgroup-parent=/foo fedora true
    /usr/bin/docker-current: Error response from daemon: cgroup-parent for systemd cgroup should be a valid slice named as "xxx.slice".

docker (or someone else

[2018-03-15 15:48] mheon commented on #496
I'm going to self-assign this one and poke at it once restart is merged. I imagine we're missing some steps during container cleanup.

[2018-03-15 15:48] mheon commented on #497
I'll check to see if this is necessary; if it is, I think our defaults may also be bad

[2018-03-15 15:52] nathwill commented on #494
works again, thank you @rhatdan & @lsm5!

[2018-03-15 15:52] #494 closed

[2018-03-15 17:27] rhatdan commented on #497
We should validate.

[2018-03-15 17:49] nathwill opened #499 "image WorkingDir not used in container WorkingDir"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

podman 0.3.3 does not use the image WorkingDir when setting container WorkingDir

**Steps to reproduce the issue:**

1. inspect an images WorkingDir (e.g. library/redis)

2. create a container with `podman create` or `podman run`

3. inspect the container WorkingDir

**Describe the results you received:**

[code]

this also

[2018-03-15 17:50] baude opened #500 "Re-integration to CRIO blockers"
We need to reintegrate libpod into cri-o at some near point; however, the following things must be addressed prior to doing so:

- container restart (done!)
- image library implemented fully
- pods implemented
- locking
- conmon cleanup

Please add additional items as needed.

[2018-03-15 17:56] rhatdan commented on #494
@nathwill Any chance you want to Blog on what you are doing?  We are always looking for bloggers on medium.com/crio

[2018-03-15 17:57] mheon commented on #499
This should be simple enough - just have to check it when we generate the runtime config.

[2018-03-15 18:17] rhatdan commented on #499
@nathwill PTAL at https://github.com/projectatomic/libpod/pull/501

[2018-03-15 18:19] nathwill commented on #494
@rhatdan yeah, sounds great! i'm `@nathwhal` on medium, `nath.e.will@gmail.com` if you need to email me anything.

[2018-03-15 18:47] lsm5 commented on #494
On Thu, Mar 15, 2018 at 06:19:58PM +0000, Nathan Williams wrote:

awesome, thanks! feel free to ping me here or freenode/#centos-virt or
#centos-devel in case of issues with centos packages.

--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-03-15 18:55] mheon commented on #499
Fixed in #501

[2018-03-15 18:55] #499 closed

[2018-03-15 18:56] mtrmac commented on #427
One more thing, apparently `/run/containers` already exists, with `/run/containers/registries.conf` created by the `atomic-registries` package.

I can’t see any issue with sharing it, and using `/run/containers/$UID` for the login status, but I may be missing something.

Is sharing the directory OK?

[2018-03-15 19:42] mheon commented on #202
Fixed upstream

[2018-03-15 19:42] #202 closed

[2018-03-15 19:43] mheon commented on #270
Support was merged

[2018-03-15 19:43] #270 closed

[2018-03-15 19:51] baude commented on #493
@edsantiago This makes sense and I am working on image resolution right now. I'll add this in as I migrate all the subcommands to it.

[2018-03-15 19:55] baude commented on #472
@umohnani8 you did the gz, how hard would it be to add this ?

[2018-03-15 20:04] umohnani8 commented on #472
@baude If it is fixed in containers/image, just a matter of vendoring it in.

[2018-03-15 20:14] rhatdan commented on #427
Yes,  I don't see an issue.  I am trying to keep all of our stuff under /etc/containers, /run/containers, /var/lib/containers, /usr/share/containers...

[2018-03-15 20:36] TomSweeneyRedHat opened #504 "ENH: Add --latest param to ps command"
/kind feature

**Description**
It would be nice to have a --latest parameter for the ps command so you could do "libpod ps --latest" to see which container was latest.  That was if there was doubt, it could be easily verified.

[2018-03-15 21:14] nathwill commented on #499
thanks for the super quick resolution y'all! 🥇

[2018-03-16 01:12] cyphar commented on #472
I've implemented it in containers/image#427. Just going through review now.

[2018-03-16 01:56] mheon commented on #496
I'm fairly certain this (and probably validation) have something to do with https://github.com/kubernetes-incubator/cri-o/blob/master/server/sandbox_run.go#L379-L400 being missing from our OCI spec generation - as such CGroups aren't being passed properly to runc, which is not cleaning them up properly

[2018-03-16 02:43] mheon commented on #497
We don't use the systemd cgroup manager by default, so our CGroups should explicitly not have .slice in them. I will add validation based on what CRI-O uses. If this is not sufficient, we can add further validation later.

[2018-03-16 10:59] rhatdan commented on #499
@nathwill Thanks for finding the bugs.  I like easy to fix bugs.  :^)

[2018-03-16 13:13] #427 closed

[2018-03-16 13:55] rhatdan commented on #402
Any movement on this?

[2018-03-16 13:56] rhatdan commented on #399
Are we just saying that this works on Xenail?

[2018-03-16 14:34] #372 closed

[2018-03-16 21:12] mheon opened #513 "Add persistent logging (syslog and/or audit)"
/kind feature

Right now, when you start a Podman container, there is no persistent record that the container was started. Docker and CRI-O are both daemons and will usually be managed by init, logging their output to syslog, providing a persistent record of when containers are started, stopped, attached to, etc. We have no such persistent record with Podman - Conmon will log a bit of information

[2018-03-16 21:13] mheon commented on #513
Since we expect Podman to be managed as a systemd unit in some cases, any logging to syslog should be configurable. It would be useful to switch off logging for `podman run` in the systemd unit file, but subsequently attaching with `podman attach` would generate logs.

[2018-03-16 21:17] baude commented on #513
We should brain storm around this a little.  Right now iirc, Atomic systems do not have syslog capabilities.

[2018-03-16 21:31] cgwalters commented on #513
I'm confused, why wouldn't you log to the journal?  Ideally with structured data.  Systemd also handles the syslog protocol by default.

You may be thinking of remote logging?  There's two options there, systemd native forwarding as well as `rpm-ostree install rsyslog`, same as classic systems.

[2018-03-16 21:40] mheon commented on #500
I think we have everything we'll need for CRI-O pods merged already. At least initially, I doubt they will be used by CRI-O as much more than a way of organizing containers - CRI-O has its own pod stop/start/remove commands, which are more specialized to Kubernetes pods (one infra container for namespaces, no further dependencies) and will suit their needs better than our pod API. CRI-O also doesn

[2018-03-17 11:05] vrothberg opened #514 "maintain a changelog (for packaging)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**

I know my request imposes some extra work on each release and that I am asking a lot, but I want to give it a try.

Would you be willing to maintain a changelog file? This would facilitate packaging a lot. I am currently bumping Podman to v0.3.3 on openSUSE and noticed that some changes require more than just downloadin

[2018-03-17 12:43] rhatdan commented on #514
We are planning to release new versions every Friday for the time being, I think we could do what you want.  It would be nice to some how automate the generation of the document with a script like you propose and then have someone edited it to make it more readable.

[2018-03-17 12:57] rhatdan commented on #513
I agree, we should either just call syslog, which would be more portable to other Linuxs or call into journal.  I have asked Steve Grubb to look at whether we should be auditing.

podman should not do anything special in logging, IE No remote logging.

[2018-03-17 13:01] vrothberg commented on #514
Wonderful, thanks  a lot :+1: The exact git command I am using is as follows:
[code]
This prints a list of commit subjects, e.g.:
  * Bump to v0.3.3q
  * Fix build after c/image changesq
  * Update containers/imageq
  * Fix E2E testsq
  * Address review commentsq
  * Fix E2E testsq
  * Add restart to main podman manpageq

[2018-03-17 13:37] rhatdan commented on #514
Could you open a PR for this command to be added to the Makefile
Perhaps something like
make changelog
Which would add that data to the changelog file.  Then we could review the changelog through the normal process after the person gutting the release edits it.

[2018-03-17 15:13] vrothberg commented on #514
@rhatdan I gave it a shot in https://github.com/projectatomic/libpod/pull/515

[2018-03-17 23:39] rhatdan commented on #144
Well we have it now.  Can we get limited libpod support into buildah?  Can we just get buildah to register its containers with libpod?  @mheon WDYT?

[2018-03-18 00:08] mheon commented on #144
@rhatdan I don't think we can rip just the database parts of libpod out easily, so just registering containers is probably a no-go. Using libpod for container creation should be fine, though there might be a bit of duplication of work around c/storage. I'll poke around the buildah APIs when I get some spare time to get an idea of how difficult integrating them would be.

[2018-03-18 11:14] rhatdan commented on #514
Excellent, Thanks.

[2018-03-19 19:08] baude commented on #504
I think this already exists. Is this what you had in mind?

[code]

[2018-03-19 21:31] TomSweeneyRedHat commented on #504
UGH, someday I'll learn to scroll.    I popped up the man page and didn't see anything beyond format (because dummy here didn't scroll.).  Closing and apologies.

[2018-03-19 21:31] #504 closed

[2018-03-19 22:40] ipbabble opened #518 "Can't build RadAnalytics image using Podman"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. git clone https://github.com/radanalyticsio/oshinko-s2i.git

2. sudo su

3. cd /oshinko-s2i/java-build

4. podman build -t myradanalytics .

**Describe the results you received:**
After pulling the centos base image the following occurs:

STEP 2: ENV JBOSS_IMAGE_NAME="radanalyticsio/radanalytics-java-spark"     JBOSS_IMAGE_VERSION="

[2018-03-19 22:41] mheon commented on #518
Seems like a `buildah` issue

@nalind PTAL

[2018-03-19 22:44] ipbabble commented on #518
@mheon you are absolutely right. I should have logged that on buildah. I wasn't thinking straight.  I will try a buildah bud and see what happens. Should I create a duplicate issue over there?

FYI if it's an issue running `podman build` then it will likely be opened here rather than buildah, because this is the tool used.

[2018-03-19 22:46] mheon commented on #518
@ipbabble Yeah, I figure it's inevitable that we'll get `buildah` issues because of `podman build`. We can add a note on it to the issue template, but said template is already sufficiently long that I doubt many people take the time to read it fully. I don't really mind, it's not as if we have an excess of issue traffic.

I'd be fine keeping this open, but you might have better luck getting it fix

[2018-03-19 22:56] ipbabble commented on #518
I've dup'ed this over at:
https://github.com/projectatomic/buildah/issues/527

[2018-03-19 22:57] ipbabble commented on #518
I'm closing this to have it moved over to https://github.com/projectatomic/buildah/issues/527

[2018-03-19 22:57] #518 closed

[2018-03-20 14:28] edsantiago opened #520 "podman history: unexpected (incomplete) results"
`podman history` on a newly-committed image does not actually show any previous history, and what it does show looks odd -- "imported from tarball"?
[code]
Compare to docker:
[code]
Running `podman history fedora` lists the missing images, although size differs.

[2018-03-20 14:35] mheon commented on #520
Alright, this may be an artifact of how we handle `commit` - under the covers, we tar up the root filesystem of the container and import that tarball as an image.

We probably should be tarring only the RW layer at top, and importing that as a top layer on top of the existing image. This may require c/storage work?

[2018-03-20 15:33] edsantiago opened #521 "nit: podman usage: one of our dashes is missing"
This has been bugging me for weeks; I've now changed my mind about it being too unimportant to file.

podman error/usage messages display long option names with only one dash:
[code]
This is jarring because `-last` is not an option: it must be explicitly given as `--last` with two dashes.

This happens with *every* usage message about incorrect options. I'm hoping it's a trivial fix to a golang ar

[2018-03-20 15:50] mheon commented on #521
@baude Is this an urfave/cli bug?

[2018-03-20 16:58] umohnani8 commented on #489
@edsantiago it is working for me.
[code]
Looks like the issue is with the image name. It should be `docker.io/library/fedora` and not `docker.io/fedora`.
The error is definitely misleading.

[2018-03-20 17:00] umohnani8 commented on #489
Just found another issue, if the file is `blah:bloo.tar`, it saves it as just `blah`. Not sure why that is happening...

[2018-03-20 17:01] TomSweeneyRedHat commented on #521
@mheon, smells like a urfave/cli hiccup.  I'll take a quick peak.

[2018-03-20 17:06] edsantiago commented on #489
Hm, no, something changed in podman-0.3.3-2.gitb47fc0d.fc27. I can no longer reproduce the original error. I do see the new symptom you report (stripping the colon and everything after).

[2018-03-20 17:08] umohnani8 commented on #489
@baude you reworte the way podman handles images yes? Does something come to mind that could be causing this?

[2018-03-20 17:09] edsantiago commented on #392
ping, any love on this? Still seeing it on podman-0.3.3-2.gitb47fc0d.fc27

[2018-03-20 17:11] mheon commented on #489
Probably c/image changes, we updated our vendored version for 0.3.3

[2018-03-20 17:18] mheon commented on #392
This sounds like an issue with our stdin copy code. This code was originally from CRI-O and is still basically identical, so we should try and verify if it's a problem over there with `crictl exec`, and if it is maybe they'll be nice enough to fix it for us.

[2018-03-20 17:26] baude commented on #489
No its more likely me

[2018-03-20 17:27] baude commented on #489
@edsantiago Ill follow up with you

[2018-03-20 18:19] baude commented on #489
The culprit appears to be https://github.com/projectatomic/libpod/blob/master/libpod/runtime_img.go#L740 where the user's input is used to create a destination for copy.  I'll have to check with mitr if he thinks that transport should handle it.

[2018-03-20 18:41] baude commented on #521
Let the debate begin:
[code]

[2018-03-21 09:33] rhatdan commented on #489
@mitrmac ^^

[2018-03-21 09:36] rhatdan commented on #521
Definitely a bug and should be fixed. Most likely i urfave/cli

[2018-03-21 09:39] rhatdan commented on #521
Removed short option handling to see if it could have been us that introduced the error, but error still appears.

[2018-03-21 10:58] rhatdan commented on #520
@nalind WDYT?

[2018-03-21 11:02] rhatdan commented on #392
@mrunalp WDYT

[2018-03-21 13:27] baude commented on #520
We discussed this on IRC and @TomSweeneyRedHat  has agreed to take a look at it based on @nalind 's input which was to use existing buildah code to do this properly.

[2018-03-21 14:25] TomSweeneyRedHat commented on #521
@mheon, smells like a urfave/cli hiccup.  I'll take a quick peak.  (oops, thought I hit comment yesterday).

[2018-03-21 14:59] vrothberg commented on #514
https://github.com/projectatomic/libpod/pull/515 has been merged. Closing the issue now.

[2018-03-21 14:59] #514 closed

[2018-03-21 15:17] baude commented on #521
i wonder if we should vndr in the latest code and see if that fixes it?

[2018-03-21 15:25] umohnani8 commented on #489
@mtrmac ^^

[2018-03-21 15:26] mheon commented on #521
@baude Sure. If that doesn't resolve it, we can open an issue upstream.

[2018-03-21 17:33] mheon opened #526 "Commit for CRI-O containers"
/kind feature

We'd like to be able to generate images from CRI-O container using `podman commit`. This would allow builds to be executed within a CRI-O container, and the results to be committed as a new image.

This discussion branched from https://github.com/projectatomic/buildah/issues/375 where it was decided the responsibility would be better suited to `podman`.

This will require completing

[2018-03-21 17:34] mheon commented on #526
@rhatdan @smarterclayton This should supplant https://github.com/projectatomic/buildah/issues/375 if we agree that `podman commit` is the way forward.

[2018-03-21 19:09] edsantiago opened #527 "podman rm --force: unable to get exit code"
Synopsis: `podman rm --force` results in error message from container process, and (ISTM) fails to perform full cleanup.

1. In window 1, run `podman run --name foo fedora sleep 60`
1. In window 2, run `podman rm --force foo`. It will take 10 seconds, emit the cid, and exit 0.

Result in window 1:
[code]
In addition, the stale mount count (`mount|grep /run/netns|wc -l) goes up by one. Many thanks

[2018-03-21 19:17] mheon commented on #527
This will be solved by the work I'm doing with conmon exit commands, allowing us to have an actual cleanup callback.

[2018-03-21 23:59] smarterclayton commented on #526
I probably won't be able to look at this until friday or monday but I definitely want to discuss.

The model we have been discussing (not decided yet, of course) where a worker daemonset offers a docker socket to other pods that then invokes buildah (openshift/image-build-daemon prototype) would want to do the following:

1. from the originating pod, identify cgroups and other pod security restric

[2018-03-22 00:25] mheon commented on #526
So the model is to have a pod on each node providing build services via a socket that will be exposed to other pods, but to share resource limitations of the pod that requested the build, if I read this correctly? Hm.

Are we trying to keep the daemonset pod providing the build service unprivileged? This is a whole lot harder architecturally if we are.

[2018-03-22 03:05] smarterclayton commented on #526
No, we aren't trying to keep it unprivileged.  The identifying and tracking
callers part is done.  What's not clear yet is whether the end result of
that is supportable.  The build requirements from openshift require a way
to set up containers at runtime for multi-stage builds.  We might actually
have that via Kube at some point, but short term it's not an option.

On Wed, Mar 21, 2018 at 8:25 PM,

[2018-03-22 11:47] rhatdan commented on #521
I took a quick look at their code, and I can not even figure where this error is coming from.  But we have the same issue on buildah.

[2018-03-22 12:13] vrothberg commented on #521
It looks like the error generation while parsing flags is responsible: https://github.com/urfave/cli/blob/master/command.go#L128

I have some time to spare and can look into this (seems to affect too many tools to ignore).

[2018-03-22 12:45] jlebon opened #529 "RFE: touch a file to make it easy to tell we're containerized"
/kind feature

**Description**

AFAICT, there isn't a file like `/.dockerenv` to make it easy to tell we're in a container. Can we add something like `/run/podman-container`?

[2018-03-22 13:06] vrothberg commented on #521
It turns out that `urfave/cli` partially depends on the flag package from the stdlib, which uses single dashes for flags. You can the error coming from here: https://golang.org/src/flag/flag.go#L912

[2018-03-22 13:10] mheon commented on #529
This seems like an easy enough thing to do

[2018-03-22 13:26] jlebon commented on #529
That sounds OK too. I find `/run` nicer to indicate the ephemeral nature of it though that's mostly personal preference. :)

[2018-03-22 13:27] mheon commented on #526
Alright, if we're privileged, we can share pods and containers with the host CRI-O instance. That should allow us to solve the resource constraints problem (we can directly insert a container into the pod that is doing the build). Podman was originally billed as a debug tool for CRI-O, so that much should be easy. Cleanup might not be so easy, though. The containers will be managed with the pod fr

[2018-03-22 13:43] TomSweeneyRedHat commented on #529
/run/.containerenv would be fine by me too.  My main thing was to not include the d-word....

[2018-03-22 13:49] mheon commented on #529
Is there anything we should look into including in the that would be helpful, besides its existence? Podman version, potentially?

[2018-03-22 13:57] jlebon commented on #529
Hmm, how about we just leave it empty for now? Adding things later on if we really want would be a mostly backwards compatible change.

[2018-03-22 15:14] edsantiago opened #530 "podman run --cidfile: fail if path exists"
podman happily clobbers an existing cidfile:
[code]
docker fails with a helpful diagnostic:
[code]
This is a judgment call: one can imagine a UNIX old-timer ranting about overprotective tools and let me shoot myself in the foot if I want to and get off my lawn. I lean that way myself at times. Still... the cost of debugging a problem is much higher if the cidfile is silently overwritten. I would r

[2018-03-22 15:21] baude commented on #530
indeed, ill take it

[2018-03-22 18:11] mtrmac commented on #489
Because https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L120 constructs a `docker-archive:blah:bloo.tar:`_image_, where _image_ is an unmodified string from the CLI, and as described above, this is parsed as
- transport `docker-archive`
- path `blah`
- reference
  - name `bloo.tar`
  -  tag _image_

as long as _image_ is a valid Docker-like tag.

It would be nice if `podman`

[2018-03-22 18:25] mtrmac commented on #489
[code]

The duplicate “error deleting” is https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L124 using `err` instead of `err2`.  Maybe `err2` should be silently ignored `if os.IsNotExist(err2)`.

The `invalid reference format` is fundamentally caused by parsing the path as `/tmp/a`, as described above. The exact flow seems to be (reading, not testing the code):

- https://gith

[2018-03-22 18:27] mtrmac commented on #489
[code]
Same flow as above, the error is from parsing `docker://docker-archive:/tmp/A:b:docker.io/fedora:latest` (where the `c/i/docker/reference` parser heuristically guesses that upper-case is the most likely / most important aspect of an invalid format).

[2018-03-22 18:28] mtrmac commented on #489
Is that really the case? I can’t quickly see a notable change in implementation between the 0.3.3 and 0.3.2 releases. Am I missing something, or was the behavior change really driven by a change in the test? (Note that the “source” changes the `docker-archive:…` string created for the destination, i.e. also the behavior in some cases.)

[2018-03-22 18:47] baude commented on #530
well if this was name that tune, I would lose. it took me six lines (3 lines in two places)

[2018-03-22 19:06] edsantiago commented on #489
No. My bad. My "something changed" was that my host had rebooted, and I had forgotten to unset XDG_WHATEVER. Here is a consistent reproducer that also addresses the discrepancy @umohnani8 notes between `fedora` and `library/fedora`:
[code]
I will add that (1) docker handles this just fine, and (2) it doesn't seem to make much sense (to me) to treat the output file of `--save` as a possible image.

[2018-03-22 19:38] mtrmac commented on #489
Sure; this is a bug caused by combining various components into a single string and then extracting the components again. We should definitely, at least, refuse such input if we can’t handle it.

I think it would be cleanest to replace https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L102 + https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L120 with a cal

[2018-03-23 11:36] rhatdan commented on #521
Any thoughts on ways to fix this?

[2018-03-23 11:42] rhatdan commented on #529
Will this work with readonly containers?  Should the file be read-only, should we make sure the file does not end up in an image?  Putting the file in /run, would be my preferred mechanism to.  Adding the version of the tool that created the file inside buildah-1.13 or podman-0.3.3

[2018-03-23 12:48] rhatdan commented on #530
Yes lets fix it.

[2018-03-23 13:13] #530 closed

[2018-03-23 13:15] baude opened #534 "how should --restart work"
We still need to implement how --restart should work.  In an irc discussion, there seemed to be two approaches each with pros and cons:

* systemd unit files
* cleanup script/conmon

I have asked @giuseppe to look into implementing this given his familiarity with systemcontainers.  We will use this issue to help him define how this should work.

[2018-03-23 13:27] mheon commented on #534
I think cleanup callbacks are the correct way to do this once it's ready. They'll be triggering anyways, to clean up mounts and record exit status, so adding restart policy shouldn't be hard. There are potential difficulties with indicating whether a container should restart (we'll need to record whether the container was user-stopped in the DB, as I presume users don't want a container they just

[2018-03-23 13:28] mheon commented on #534
I will not that cleanup callbacks in general require some design work before they're ready. I'll be working on them next week.

[2018-03-23 14:06] rhatdan commented on #534
I am not sure what @baude is getting at.  We don't want podman to learn to restart itself.  We should leave this to systemd.  Getting podman/conmon to cleanup after itself, is important.

[2018-03-23 14:17] nalind commented on #529
If we add a file, like dockerd does, but give it a different name, then we're not reducing the amount of work required for anyone.  systemd [suggests](https://www.freedesktop.org/wiki/Software/systemd/ContainerInterface/#environmentvariables) setting `container` in the environment to a short value that identifies the implementation.  Would that work for the use case?

[2018-03-23 14:25] rhatdan opened #537 "Missing man page for libpod.conf"
We need to document content in libpod.conf with a man page

[2018-03-23 14:26] rhatdan opened #538 "Missing man page for registries.conf"
We need a man page to describe the content in registries.conf.

[2018-03-23 14:32] rhatdan commented on #529
Yes systemd like container=podman or container=buildah to be set.

[2018-03-23 14:44] rhatdan opened #539 "podman needs to support mounts.conf and secrets patch"
Need support for secrets to be mounted into containers.

We want rhel users to be able to do `yum update` while in container and use subscription from the host.

[2018-03-23 14:45] baude commented on #534
something has to tell systemd about it though ...

[2018-03-23 14:50] umohnani8 commented on #539
ACK

[2018-03-23 15:03] rhatdan commented on #534
Humans tell systemd by running podman command as a service and then having it automatically restart.

[2018-03-23 15:12] giuseppe commented on #534
so should `create|run` have `--restart` at all?  Or do we prefer the users to use directly systemd?

If so, we will need to implement a way for podman to write the pid of conmon to a file, so that systemd can monitor it.

[2018-03-23 15:30] mheon opened #541 "Document and implement or remove remaining run/create CLI options"
We still have unimplemented CLI options in `podman run` and `podman create` (for example, `--ip` and `--ip6`). We need to document what these are, and either implement them, or disable them and remove them from manpages.

[2018-03-23 15:31] mheon commented on #529
Fixed in #533

[2018-03-23 15:31] #529 closed

[2018-03-23 15:32] mheon commented on #489
It sounds like the easiest solution here would be to declare `:` a reserved character in filenames created by `podman save`, to prevent ambiguities in parsing generated references. I have no issues with this approach, as I doubt many people include `:` in filenames anyways, and files can be trivially renamed if a `:` is truly necessary.

Does this also break `podman import`?

[2018-03-23 15:53] rhatdan commented on #534
We don't have anything that monitors this, I don't want to hack up conmon to do it.  This is what systemd does best.  atomic CLI is already creating the unit files it it uses runc it needs to do it in the unit file podman should be no different.

We should document in the man page how to do this with a unit files.  We also don't do autostart, this should be done in a unit file.  We don't need conm

[2018-03-23 16:46] mheon commented on #541
Networking options we don't implement because of CNI:
- `--ip`
- `--ip6`
- `--network-alias`
- `--link-local-ip`

Attach-related options we don't support (could probably be implemented):
- `--attach`

Misc flags we don't have support for yet:
- `--volumes-from`

This is from a cursory scan of `podman run --help` - I'm sure there are others

[2018-03-23 17:43] mtrmac commented on #489
AFAICT it does (`tarball:` accepts a colon-separated list of tarballs).  `podman load` as well (via the same `docker-archive`/`oci-archive` transports as `save`).

[2018-03-23 18:07] mheon commented on #489
Alright. It seems like it would make sense to have a uniform restriction that filenames handled by `import`, `load`, and `save` cannot contain `:` characters.

[2018-03-24 11:36] rhatdan commented on #539
I did this on the plane flight home, will submit a patch once I get internet that allows github.com

[2018-03-24 13:46] TomSweeneyRedHat commented on #526
@rhatdan's comment sounds an awful lot like:  https://github.com/projectatomic/buildah/issues/531 @ipbabble.

[2018-03-24 21:29] edsantiago commented on #489
More than you might think. `date --iso-8601=seconds` is a pretty common convention for generating filenames, and it emits colons in the HH:MM:SS part. That's not to say you can't block colons, just that it will irk some people.

[2018-03-24 22:56] mheon commented on #526
For cleanup, we support containers that remove themselves after running. Once the cleanup callback work I'm doing is ready, that should be a native part of libpod, and fairly resilient. We can run `buildah` in such a container inside the pod requesting the build, and the container should remove itself and clean up associated resources. Potential problem: the container would also be managed with th

[2018-03-25 12:23] TomasTomecek opened #545 ""kernel does not support overlay fs" even though it does"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

podman fails to initialize telling me `kernel does not support overlay fs: driver not supported`. This is a standard Fedora 27 kernel. I presume this is related to the fact that I have XFS w/o dtype.

**Steps to reproduce the issue:**
1. `podman --log-level debug images`

**Describe the results you received:**
[code]

**Describe the r

[2018-03-25 13:11] TomasTomecek commented on #545
Now I'm even more sure it's because of dtype b/c I created a new xfs partition with dtype and it works just fine. There, would be possible to

1. make the error message more precise?
2. and ideally suggest the user what it should do (reformat disk, use different backend)

WDYT?

[2018-03-25 14:41] mheon commented on #545
I think we've seen this before - containers/storage was dropping specific error causes for certain things and instead giving a nonspecific `driver not supported` error. This was fixed in https://github.com/containers/storage/pull/163, but we haven't updated to pick up that fix. Let me open a PR to grab the latest version of c/storage and fix this, so we can have it resolved in the next release.

[2018-03-26 18:16] giuseppe commented on #534
I've opened two PRs:

https://github.com/kubernetes-incubator/cri-o/pull/1469
https://github.com/projectatomic/libpod/pull/549

[2018-03-26 19:10] rhatdan commented on #489
Lets do it for now and wait for some one to actually complain on this.

[2018-03-26 19:21] jlebon opened #550 "RFE: support passing through existing env var using `-e` for `exec` command"
`podman run` supports simply doing `-e FOO` to pass through whatever the current value of `FOO` is. It looks like that's not the case for `exec`:

[code]

As expected `-e TERM=$TERM` does work.

[2018-03-26 19:32] rhatdan commented on #545
Since this is merged, I am going to close this Issue.

[2018-03-26 19:32] #545 closed

[2018-03-26 20:02] mheon commented on #550
This seems like it should be an easy enough fix. We can probably reuse the environment handling from `podman run`.

[2018-03-26 20:12] edsantiago opened #551 "podman tag nonexistent-image: unhelpful error"
[code]
Expected: 'no such image` or somesuch

[2018-03-26 20:13] baude commented on #551
thanks @edsantiago , ill fix this one

[2018-03-26 20:16] edsantiago commented on #551
Never mind. Fixed in 0.3.4

[2018-03-26 20:16] #551 closed

[2018-03-26 20:27] edsantiago opened #553 "podman run /nonesuch : panic (0.3.4)"
podman-0.3.4-1.git57b403e.fc27.x86_64

[code]
Expected: a friendlier message without so much SEGV

FWIW podman-0.3.3-2.gitb47fc0d.fc27.x86_64's error is:
[code]

[2018-03-26 20:34] rhatdan commented on #553
This is definitely up @baude alley.

[2018-03-26 20:40] rhatdan commented on #541
@dcbw How close is CNI to implementing --ip and --ip6, that would seem to be a fairly common request?

[2018-03-26 20:54] baude commented on #553
@edsantiago just to be sure, /slartibartfast is meant to refer to a  bogus image name correct?

[2018-03-26 20:55] edsantiago commented on #553
It's just copy/paste. Yes. Without the slash, I get 'Trying to pull', then Failed, then a similar panic.

[2018-03-27 00:40] #553 closed

[2018-03-27 12:16] rhatdan commented on #550
Since 552 is merged I am going to close this issue.

[2018-03-27 12:16] #550 closed

[2018-03-28 14:31] cgwalters opened #561 "ps -a lists lots of errors opening create-config"
[code]

But then it proceeds to list containers and exits with code `0`.  This system has been upgraded from old 0.2 podman etc.  I have no problem nuking all local state if this is likely a legacy data/upgrade issue.

[2018-03-28 14:52] mheon commented on #561
The state should be fine. The individual containers in question might need to be recreated to make it stop throwing those errors. though. It shouldn't impact your ability to work with the containers, though - this is just `ps` not locating some extra information it needs for full display.

We should also drop that down to WARN level before we get CRI-O integration. We can't get everything `ps` wan

[2018-03-28 15:12] cgwalters opened #562 "Doesn't support /var/lib/containers/storage as a symlink?"
I try to separate my "OS partition" and my `/var/home` from my `/srv` (really `/var/srv`) which has things that I can rebuild or redownload from the Internet. Things like my git repositories as well as VM/container images.

Today I have:
[code]

Which works fine.

I tried the same with:
[code]

But now I get:
[code]

[2018-03-28 15:14] mheon commented on #562
I think this is probably a c/storage restriction? @nalind PTAL

[2018-03-28 18:02] cgwalters commented on #562
Yeah almost certainly; migrated to https://github.com/containers/storage/issues/165

[2018-03-28 18:02] #562 closed

[2018-03-29 01:55] #534 closed

[2018-03-29 13:50] umohnani8 commented on #418
Fixed in #467.

[2018-03-29 13:50] #418 closed

[2018-03-29 14:17] umohnani8 commented on #539
Fixed in #544

[2018-03-29 14:17] #539 closed

[2018-03-29 16:31] #493 closed

[2018-03-29 20:23] baude commented on #387
@edsantiago this should be the case now, mind checking and closing if happy?

[2018-03-29 20:26] edsantiago commented on #387
@baude "now" meaning today's 0.3.5-1.gitdb6bf9e build?

[2018-04-01 13:50] redbaron opened #572 "podman run --entrypoint= should remove entrypoint completely"
/kind bug

**Description**

`podman run --entrypoint= <image>` doesn't remove entrypoint as it does on docker

**Describe the results you received:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

docker behaves as expected, effect is as if ENTRYPOINT was not specified in the Dockerfile at all

**Output of `podman version`:**

[code]

[2018-04-01 13:52] redbaron commented on #572
/kind bug

[2018-04-01 15:27] redbaron opened #573 "podman corrupts binary stdout?"
/kind bug
**Description**

I often use `docker run <image> cat >/file` or `docker run <image> tar -C /dir -cf - .  | tar -xf -` to extract files from images, but it seems to be not possible with podman.  It seems to change binary output somehow.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

Binary data in stdout is transferred as-is

**Output of `podman versio

[2018-04-01 15:46] mheon commented on #572
It looks like our command-building logic is faulty for empty string entrypoints - we're still injecting the element into the command, instead of clearing entrypoint.

Looking at the code, I see that entrypoint is a StringSliceFlag, which leads me to wonder why? I don't think you'll ever want to set entrypoint twice... That sould probably be looked at.

[2018-04-01 15:50] mheon commented on #573
We should try and reproduce this with `crictl`/`crio` and see if it happens there - if so, it's the copy code. I don't see anything obvious that would corrupt binary output, but there are a lot of moving parts in the attach code.

[2018-04-01 15:58] mheon commented on #572
@baude Mind taking a look? I believe you wrote the current entrypoint handling

[2018-04-01 16:01] redbaron commented on #573
it seems that tty is unconditionally allocated by default:

[code]

[2018-04-01 16:03] mheon commented on #573
That would explain it. I think this would be a `conmon` issue, then, given `conmon` doesn't support non-terminal attach now. I'll verify that on Monday and open an upstream issue if that's accurate. Thanks!

[2018-04-02 15:21] edsantiago opened #575 "podman stop <already-stopped-container> : pass or fail?"
What should `podman stop` do when run on an already-stopped container? Currently it fails:
[code]
docker echoes/confirms the argument (container name or id) and exits immediately with status 0.

podman-0.3.5-1.gitdb6bf9e.fc27.x86_64

[2018-04-02 16:01] rhatdan commented on #575
We should follow the docker standard.

[2018-04-02 16:09] mheon commented on #575
I think that our API call returning an error that the container isn't running is fine. `podman stop` should catch the error, and if the container is already stopped, return cleanly.

[2018-04-02 16:11] rhatdan commented on #575
Yup should be easy fix.

[2018-04-02 19:40] edsantiago opened #580 "podman attach: There Can Be Only One (tty)"
Synopsis: podman run, then podman attach, the latter steals stdout (but not stdin) from the former:
[code]
Now, in a separate window:
[code]
Note that `w1` does not get `hi from attach`. Should it? With docker, output goes to both.

Now go back to `w1` and type `hi again from run`. It will not echo in `w1`, but will echo (in real time) in `w2`. Hit Enter, and the second copy (from `cat`) is also o

[2018-04-02 19:43] mheon commented on #580
Given that all our terminal ops are happening over a unix socket, I don't think there is any inherent reason why we can't have multiple connections going at once.

As it sounds now, though, I think conmon is probably dumping the first connection after another is made

[2018-04-02 19:49] mheon commented on #580
Yeah, confirmed, `conmon` stores only one connection socket - https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c#L587

Once a new connection comes in, that FD is overwritten, and `conmon` stops copying to it.

We should theoretically be able to make that a list of FDs and copy to all of them instead of just one. I'll open an issue upstream.

[2018-04-02 20:04] rhatdan commented on #580
Makes sense to me.

[2018-04-02 20:28] arashkaffamanesh opened #581 "running make to build podman doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

**Steps to reproduce the issue:**

$ make

**Describe the results you received:**

[vagrant@localhost libpod]$ make
go build -i -ldflags '-X main.gitCommit="94301bab8f82b6bb7c70d9dde8b85ccd0ce3a0b1" -X main.buildInfo=1522700640' -tags "seccomp btrfs_noversion  exclude_graphdriver_btrfs containers_image_ostree_stub selinux" -o bin/podm

[2018-04-02 20:34] mheon commented on #581
This looks like it could be an out-of-memory issue. Are you using the provided Vagrantfile?

[2018-04-02 20:43] edsantiago commented on #389
Ping, just checking in: this behavior is still present in podman-0.3.5-1.gitdb6bf9e.fc27.x86_64

[2018-04-02 21:01] mheon commented on #389
This one is really confusing to me - we should be picking up the exit code of the container and setting our exit code to it regardless of what kills the container

[2018-04-02 21:16] arashkaffamanesh commented on #581
Oh no, didn't noticed the Vagrantfile, but with the provided Vagrantfile I was getting:

`The box you attempted to add doesn't match the provider you specified.
Provider expected: virtualbox
Provider of box: libvirt`

Since I'm on mac and don't have a libvirt provider for vagrant on mac, had to change the Vagrantfile as follow:

[code]

And the build went through:

[code]

And can't wait to try po

[2018-04-02 21:17] arashkaffamanesh commented on #581
The issue can be closed.

[2018-04-02 21:17] #581 closed

[2018-04-02 23:57] nathwill opened #582 "conmon-pidfile flag not recognized"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

testing the new `--conmon-pidfile` option, and podman throws an error

**Steps to reproduce the issue:**

1. install podman 0.3.5

2. try running a container with podman using --conmon-pidfile (e.g. `podman run --net=host --conmon-pidfile /run/test.pid busybox bash`)

**Describe the results you received:**

[code]

**Descri

[2018-04-03 00:03] mheon commented on #582
I suspect this is a packaging issue. Are you building from source or using RPMs?

[2018-04-03 00:05] mheon commented on #582
Thought: We briefly shipped a `conmon` in our Podman RPMs (separate from the main `conmon` package which was lagging too far to support the flags we needed). I believe this was recently removed as CRI-O bumped to a `conmon` we can use. Are we leaving the old `conmon` that was bundled by Podman in place? It's no longer being updataed, and set to override CRI-O's `conmon` in our config file... May r

[2018-04-03 00:27] nathwill commented on #582
using RPMs in fedora

[2018-04-03 00:29] mheon commented on #582
Alright, I'm suspecting that it's either using the older bundled `conmon` or our shipping `conmon` is too old to have the patch.

@lsm5 - are we still shipping bundled `conmon` in the Podman package in Fedora?

[2018-04-03 00:34] nathwill commented on #582
it looks like both the conmon-package-provided conmon and the podman-package-provided conmon are throwing this error:

[code]

[2018-04-03 12:09] rhatdan commented on #582
Latest conmon package in cri-o package does not include this change.  We have to update the

[2018-04-03 12:24] rhatdan commented on #582
Building  podman-0.3.5-2.gitdb6bf9e

[2018-04-03 14:45] rhatdan commented on #582
I have built a new version of podman for Fedora 27 Could you try it out.

https://bodhi.fedoraproject.org/updates/FEDORA-2018-1fa9ad30ec

[2018-04-03 15:04] lsm5 commented on #582
@mheon fedora 27 and 28 branches ship their own conmon inside of podman rpm

[2018-04-03 15:05] lsm5 commented on #582
seems @rhatdan just built new builds of it

[2018-04-03 15:06] mheon commented on #582
@lsm5 Great, got confused and thought we debundled on non-rawhide too. Thanks!

[2018-04-03 15:12] edsantiago opened #586 "podman commit: does not create entrypoint?"
[code]
Expected: date output.

podman-0.3.5-1.gitdb6bf9e.fc27.x86_64

[2018-04-03 15:13] edsantiago opened #587 "podman run image-committed-without-a-name : panic"
I don't know if this is a problem in `run` or in `commit`.
[code]
Feeding it an image name (podman commit --quiet foo **bar**) eliminates this, but see #586 for a separate problem.

podman-0.3.5-1.gitdb6bf9e.fc27.x86_64

[2018-04-03 15:15] mheon commented on #586
Podman commit needs to be changed to accept an image config (entrypoint, CMD, etc). We can store the ones the container was created with on the podman side (they're probably in create config anyways) and feed them into commit.

[2018-04-03 15:16] mheon commented on #586
This should probably happen as part of the commit overhaul to use Buildah code and actually commit diffs (instead of export-import) that is covered by #520

[2018-04-03 15:17] mheon commented on #587
That's an index out of range in `podman run`, so we have at a minimum a bug in `run`. There could also be a bug in commit (outputting bad IDs?) to trigger that bug in run.

[2018-04-03 15:19] nathwill commented on #582
@rhatdan that build works

[code]

[2018-04-03 15:31] TomSweeneyRedHat commented on #520
Related to #586

[2018-04-03 15:39] #572 closed

[2018-04-03 18:09] #582 closed

[2018-04-03 18:09] rhatdan commented on #582
@nathwill Please update karma

[2018-04-03 22:28] mheon commented on #573
@redbaron Can you verify that, now that `-t` is not implicitly set, your problem is gone? Or do we still have a problem copying raw output?

[2018-04-03 22:36] mheon commented on #580
CRI-O https://github.com/kubernetes-incubator/cri-o/pull/1483 should fix

[2018-04-04 17:51] #587 closed

[2018-04-07 19:01] TomSweeneyRedHat commented on #174
Fixed with #522

[2018-04-07 19:01] #174 closed

[2018-04-09 01:37] mheon commented on #389
This may have something to do with https://github.com/kubernetes-incubator/cri-o/pull/1513 - will need to check if it's fixed after we get a Conmon with that patch.

[2018-04-09 12:23] vrutkovs opened #598 ""podman stats" exits if one of the container stops"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Description**

`podman stats` exits if one of the container stops

**Steps to reproduce the issue:**

1. Run `podman stats` in one terminal

2. Run `sudo podman run --rm -ti fedora:27 sleep 10` in another terminal

**Describe the results you received:**
When the sleep container finishes, `podman stats` exits with:
[code]

**Describe the re

[2018-04-09 19:35] mheon commented on #580
CRI-O PR was merged. We should pix up the fix in the next release.

[2018-04-09 19:35] #580 closed

[2018-04-10 02:42] ypu opened #601 "Podman logs output include blank lines occasionally"
/kind bug

**Description**

The output of podman logs sometimes include blank lines but sometimes not. This will influence the podman logs tests, and makes the ci test failed time to time.

**Steps to reproduce the issue:**

1. Run podman logs task

2. Check the logs file and test results

**Describe the results you received:**
Some output from our CI task:

Running: /usr/bin/podman --root /tmp/po

[2018-04-10 13:14] baude commented on #373
@edsantiago I think this is fixed...can you confirm?

[2018-04-10 13:16] edsantiago commented on #373
@baude do you have a build? At first glance it seems to be still present in podman-0.3.5-1.gitdb6bf9e.fc27

[2018-04-10 13:28] mheon commented on #490
I think this is basically a WONTFIX

[2018-04-10 13:30] mheon commented on #458
@baude The easiest in my mind would be to vendor + use docker's output code, I think? They clearly have some solution for it

[2018-04-10 14:16] #490 closed

[2018-04-10 14:40] edsantiago commented on #373
Looks to be fixed in podman-0.4.1-1.gitb51d327.fc27. I'm still seeing a curious behavior in which, at some point in docker-autotest, tty settings get b0rked; in particular, `-echo` and `-opost`. If I track that down, I'll file a new issue.

[2018-04-10 14:40] #373 closed

[2018-04-10 14:45] edsantiago commented on #392
Confirmed fixed in podman-0.4.1-1.gitb51d327.fc27

[2018-04-10 14:45] #392 closed

[2018-04-10 17:59] edsantiago opened #604 "podman run -a stdin: does not detach stdout"
Running with `-a stdin` produces output on stdout
[code]
docker emits a container ID in both cases:
[code]
(output accessible as expected via `docker logs`)

podman-0.4.1-1.gitb51d327.fc27

[2018-04-10 18:02] mheon commented on #604
`podman run -a` is not implemented yet. Which is confusing because the flag throws no errors. We need to deal with that.

[2018-04-10 20:16] mheon commented on #604
Working on a patch to implement --attach

[2018-04-11 05:02] #399 closed

[2018-04-11 07:46] ibuildthecloud opened #605 "Support named volumes?"
Is there any thought to supporting named volumes?  Specifically
`podman run -v foo:/tmp blah`
`podman volume ls/rm/create`

I wouldn't expect podman to support volume drivers or anything such as that (unless CSI is usable, but let's ignore that).  All I would expect is that a named volume is essentially an alias for a host path.  So `foo` is really just `/var/lib/container/volumes/foo`.  I know yo

[2018-04-11 08:04] ibuildthecloud commented on #541
Random fly by two cents:

I'd very much like to see `--volumes-from` supported.  When running something like mysql which has a VOLUME defined in the Dockerfile, to upgrade the container and not loose the state `--volumes-from` becomes important.

Regarding `ip`, `ip6`, `network-alias`, and `link-local-ip` I'd prefer you optimistically drop the options.  `ip` and `ip6` could maybe be a common ask,

[2018-04-11 08:17] ibuildthecloud opened #606 "nit: superficially support -i in exec"
I understand that `--interactive` flag in `docker exec` might not make sense to be implemented in `podman` but `docker exec` essentially requires `-i` to be useful.  So muscle memory has me typing `-it` all the time.  It would be nice if exec had a dummy flag for `--interactive | -i` that did nothing.

[2018-04-11 13:37] rhatdan commented on #605
We would not support using Daemons for these services. but I could see support for this short cut. I don't see this as a focus of the team at this point.  But I am sure we would accept patches.

[2018-04-11 13:39] rhatdan commented on #606
SInce we mention in the man page, we should allow it to be entered.

[2018-04-11 13:40] rhatdan commented on #606
Brent could you add the -i support and make it a no-op.

Man page says
       --interactive, -i Not supported.  All exec commands are interactive by default.

[2018-04-11 13:42] mheon commented on #605
My question would be how we would store the list of named volumes. It's not a libpod-level concept, so podman would have to find a temporary directory to dump it in. Maybe an artifacts API for libpod as a whole (similar to the per-container one) would help

[2018-04-11 13:43] mheon commented on #606
I don't see why it shouldn't be supported, though - it seems like something we should handle?

Exec as a whole needs a rework for CRI-O integration (we need to rework to call conmon instead of runc directly). We can probably get proper per-stream attach in then?

[2018-04-11 14:15] baude commented on #527
@edsantiago this should now be fixed ... you need a very recent build of conmon

[2018-04-11 14:17] mheon commented on #527
@baude No this is not fixed - this is not a conmon issue. This is a timing issue with our cleanup.

[2018-04-11 18:54] #598 closed

[2018-04-11 20:49] ibuildthecloud commented on #605
I think this would be difficult to contribute without some guidance.  The issue is that doing this suddenly creates shared assets that have to be refcounted or managed in some way.  So it wouldn't be straight forward.

[2018-04-12 22:52] ibuildthecloud opened #613 "cp support"
FEATURE REQUEST

mount/umount is more powerful than cp, but just as buildah is more powerful than a Dockerfile, you still support a Dockerfile.  cp is such a common task it would be nice if it was supported.

[2018-04-12 22:56] ibuildthecloud opened #614 "question: mount/umount concurrency"
`podman mount` always mounts to the same place.  I'm concerned if I'm running two scripts in parallel this can be error prone.  The mount, cp, umount flow in parallel can result in a umount before you'd like.  For safety it would be nice if you could specify the target dir which I'd expect would mount to the common location then bind mount to the target.

[2018-04-12 22:59] mheon commented on #613
I can see making a `cp` command that mounts (if unmounted), copies, and then unmounts (if you initially did a mount) under the hood. We have the code to do all three, combining them shouldn't be that difficult.

[2018-04-12 23:05] mheon commented on #614
I don't know how the container's read/write layer would react to being mounted in multiple places, but if that can be addressed in containers/storage, I think this would definitely be a neat addition (`unmount` has always worried me a little with its potential interactions with running containers. We have checks in place to make sure you don't unmount a running container, but it'd be a lot cleaner

[2018-04-12 23:08] mheon commented on #613
If you were thinking of a more Docker-style copy via stdin, I'm not specifically opposed to that, but the simpler approach would be to reuse the existing mount-based code.

[2018-04-13 05:15] rhatdan commented on #614
Sadly this is not something you can do with overlay, I believe you could do this with devicemapper.  We could add a bind mount from the actual mount point to the specified location.

@nalind WDYT?

[2018-04-13 18:47] mheon commented on #604
Closed via #608

[2018-04-13 19:36] mheon commented on #614
I was thinking about this more, and I wonder if having some sort of session scheme would also work. `podman mount` would generate a session ID, and `podman unmount` would optionally accept an ID to unmount. If more than one mount session is active, `podman unmount` won't actually unmount, but will instead remove the mount session in question from the active sessions list. This would ensure unmount

[2018-04-14 13:48] rhatdan commented on #614
Sure we could do that, although we would probably need a --force  umount.  The datastore counting mounts should be done in /run. so that it will not exists on reboot.  We would also need to notice if someone umounts mount point outside of the podman command.

[2018-04-16 13:09] #606 closed

[2018-04-16 13:56] giuseppe commented on #389
yes this should be fixed by: https://github.com/kubernetes-incubator/cri-o/pull/1513

[2018-04-16 14:12] mheon commented on #389
Need to verify that we have this conmon in all our builds

[2018-04-16 15:22] edsantiago opened #621 "podman run init (systemd in container): Failed to mount tmpfs at /run: Operation not permitted"
[code]
Not an SELinux issue: same result with `setenforce 0`

[2018-04-16 15:27] baude commented on #621
thanks @edsantiago !

[2018-04-16 15:59] umohnani8 opened #622 "podman pull fails to pull a gcr image"
podman pull fails to pull the image `gcr.io/google-samples/node-hello:1.0`. However docker pull is able to pull this image.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**Steps to reproduce the issue:**

1. podman pull gcr.io/google-samples/node-hello:1.0

**Describe the results you received:**
[code]

**Describe the results you expected:**
Successfully pulls image

**Output of `podma

[2018-04-16 15:59] umohnani8 commented on #622
@baude PTAL

[2018-04-16 16:40] rhatdan commented on #621
Need oci-systemd-hook installed and container_manage_cgroup boolean turned on.

[2018-04-16 18:00] edsantiago commented on #621
Thanks @rhatdan that seems to be it. With oci-systemd-hook I see some warnings but it gets much farther.

[2018-04-16 18:06] mheon commented on #621
Need to get oci-systemd-hook into our package dependencies

[2018-04-16 19:19] edsantiago opened #624 "podman run: add -h alias for --hostname"
docker allows (and documents) `-h` as a short alias for `--hostname`; podman seems to interpret it as `--help`:
[code]

[2018-04-16 19:30] mheon commented on #624
I think we can tell urfave/cli to not use `-h` for help, and then add it as a short option for `--hostname`

[2018-04-16 19:37] edsantiago opened #625 "podman run --dns-search : perform basic input validation?"
docker performs basic input validation on the argument to `--dns-search`. Should podman?
[code]

[2018-04-16 19:41] mheon commented on #625
If we can locate the docker parsing code that handles this, it should be easy to reuse for parsing our input.

[2018-04-16 19:43] mheon commented on #541
Update on this: implemented `--attach`

[2018-04-16 19:44] mheon commented on #541
I tend to agree with dropping most of the network options.

Volumes-from should be doable, given we do share container create configs.

[2018-04-16 20:43] rhatdan commented on #624
Seems like a bad docker design, but ...

[2018-04-16 20:55] rhatdan commented on #621
https://github.com/projectatomic/libpod/pull/623 fixes this in the spec, should we mention it elsewhere in the docs?

[2018-04-16 21:00] baude commented on #625
fixed

[2018-04-16 21:00] #625 closed

[2018-04-16 21:57] jwendell opened #630 "podman and buildah reporting different sizes for the same image"
/kind bug

[code]

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

[2018-04-17 14:50] edsantiago opened #631 "podman run --user=NONEXISTENT-UID : fails to start"
podman seems to be performing UID validation when run with `--user=UID` and UID is not present in the image's `/etc/passwd`:
[code]
docker happily runs the container:
[code]
I lean toward thinking that podman's behavior is correct. Filing this for visibility and for greater discussion.

[2018-04-17 15:08] rhatdan commented on #631
We should allow it to run as long as it is a valid UID IE A number.  Then we run as a number.  If it is not a number we should look it up in the /etc/passwd. Seems like we are always looking up the Username in /etc/passwd.

There was a bug in Docker where a container image could create a user called "1234" and map it to UID=0, we should not read /etc/passwd if the user is a UID versus a UserName.

[2018-04-17 16:00] #527 closed

[2018-04-17 16:45] umohnani8 commented on #631
Yup!

[2018-04-17 17:29] baude commented on #624
BC we are in agreement, closing

[2018-04-17 17:29] #624 closed

[2018-04-17 18:12] baude commented on #622
@umohnani8 do you have gcr anything in your registries.conf?

[2018-04-17 19:35] umohnani8 commented on #622
@baude nope, but I gave the full path to `podman pull`.

[2018-04-17 20:23] edsantiago opened #633 "podman inspect : docker compatibility"
Some headscratching today led to a quick script comparing the output of `podman inspect` against docker. Results:
[code]
I don't know if any of these are important or worth fixing; although I think maybe at least the extra 'S' in CPUSShares deserves a fix or explanation.

[2018-04-17 20:28] mheon commented on #633
CPUSShares sounds like a typo.

The IPv6 address/addresses reflects us potentially having multiple IPs in a single container (well, we don't have ANY IPv6 stuff right now, but CNI theoretically can do more than one).

The case changes were all deliberate to stop linter warnings IIRC. We can swap them back and nolint if we want to fix.

I don't know why Docker has ports, CapAdd/CapDrop, security-op

[2018-04-17 20:57] rhatdan commented on #633
If ours make sense, then stick with it, Fix spelling issue though. Only reason this could potentially cause issues would be if someone used a --format command, but I willing to live with the risk if our change is justifiable.

[2018-04-17 21:26] baude commented on #622
@umohnani8 I cannot replicate this.  Tried with 96d11622c60e80e706c7bc18a096dc0a762f3e9f:
[code]

[2018-04-17 21:41] mheon commented on #622
@baude I saw this as well yesterday, but it seems fixed today. Maybe intermittent trouble with the gcr.io registry?

[2018-04-18 10:46] rhatdan commented on #622
@umohnani8 if this works today for you close, the issue.

[2018-04-18 13:09] umohnani8 commented on #622
@baude I am still seeing this issue - I am up to date with upstream master. But it works with docker pull for me.

[2018-04-18 13:45] umohnani8 commented on #622
@mheon it is failing for me with the tag :( It looks like it fails at the clean up stage for me.

[2018-04-18 13:46] baude commented on #622
yes, that isnt a pull issue imho.

[2018-04-18 13:51] baude commented on #622
try pulling to a new storage space?

[2018-04-18 15:36] umohnani8 commented on #622
Pulling to a new storage space worked! My default one was messed up, nuked it and it is working fine with that as well. Closing issue.
Thanks @baude

[2018-04-18 15:36] #622 closed

[2018-04-18 17:50] mheon commented on #630
Being fixed in Buildah, turns out they use the wrong size for units (1024 vs 1000)

[2018-04-18 18:00] rhatdan commented on #630
This is a lot more work then I was thinking. I was thinking more that you would just add a one liner to the secrets patch if /etc/fips-mode then create it in the secrets directory.

[2018-04-18 18:02] mheon commented on #630
@rhatdan Wrong issue?

[2018-04-18 18:13] rhatdan commented on #630
oops.

[2018-04-18 19:08] edsantiago commented on #604
@mheon @baude can you confirm this is fixed? Even with `podman-0.4.3-git06f0d0b.fc27` (latest from baude's copr) I see the same behavior described in the initial comment.

To be precise: when specifying `-a stdin`, I expect stdout and stderr to *not* be attached; and I expect podman to emit a container ID to stdout.

[2018-04-18 19:24] mheon commented on #604
OK. I think we fixed the attach part of things, but we did not fix the printing container ID thing.

Need to nail down exactly when Docker prints container ID. Is it only when STDERR and STDOUT are both not attached?

[2018-04-18 19:28] edsantiago commented on #604
AFAICT the docker rule is: if (neither stdout nor stderr attached) then print container ID.

[2018-04-18 19:57] miabbott opened #639 "podman prepends 'docker.io' to local image copied over from docker-daemon"
/kind bug

Using `podman-0.3.5-2.gitdb6bf9e.fc28.x86_64` on Fedora 28 Atomic Workstation, I ran into the issue where `docker.io` was prepended to the name of a local image I had copied from the docker daemon.

[code]

If you were to try to pull that `docker.io/miabbott/myprecious` image from the Docker Hub, it would fail because it only exists locally.

[2018-04-18 20:17] mheon commented on #639
@baude Is this the same issue we've seen before with c/image assuming a `docker.io` prefix on everything?

[2018-04-19 00:02] baude commented on #639
yes I think so ...

[2018-04-19 03:53] nathwill commented on #537
see #641

[2018-04-19 13:28] edsantiago opened #645 "podman push : requires exactly 2 arguments"
podman-push(1) implies that a 1-argument push should work (as it does with docker). But:
[code]

[2018-04-19 19:24] miabbott opened #648 "RFE: touch /.dockerenv when running container"
/kind feature

When running a container via `docker`, it touches `/.dockerenv` in the container file system.  It's an empty file and appears to be [related to the LXC execution driver](https://superuser.com/questions/1021834/what-are-dockerenv-and-dockerinit#1021925), but it is a useful 'canary in a coal mine' to determine if you are in container environment or not.

For example, I have the follow

[2018-04-19 19:31] mheon commented on #648
@miabbott We presently touch a file, `/run/containerenv`, that does the same thing. We debated on the naming, and decided that it wasn't essential to match Docker here.

[2018-04-19 20:25] miabbott commented on #648
How about a symlinking `/.dockerenv` to `/run/containerenv`?

While I don't know how many users rely on `/.dockerenv`, keeping that in place would make the migration from `docker` to `podman` that much smoother.

[2018-04-20 09:27] vrothberg opened #649 "podman save: (multi) tag handling"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

This issue describes two issues related to how `podman-save` deals with tags. I did not want to split it into two issues as it may cause a discussion about how libpod should behave with respect to tags and also if it should behave as Docker does.

#### (1) Using image ID adds a tag to the manifest.json
- `podman save -o example.tar $I

[2018-04-20 11:17] rhatdan commented on #648
I'm not crazy about embedding the name "docker" into our code then is necessary.   @miabbott Are you familiar with a lot of people who rely on this?  This is also a problem with readonly container images.  IE THe ability to share an image without modifying it.  But I think we potentially already have issues with this.

[2018-04-20 11:36] rhatdan commented on #649
@umohnani8 WDYT

[2018-04-20 11:37] rhatdan commented on #649
@mtrmac PTAL

[2018-04-20 11:55] mtrmac commented on #649
(Related: https://github.com/containers/image/issues/447 )

Do you mean a hexadecimal ID? Looking at https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L113, the argument should be passed unmodified to `archiveTransport.ParseReference`, which should reject such input completely. Am I overlooking something?

If you mean a name, it seems to me rather useful to include a name:tag

[2018-04-20 11:58] mtrmac commented on #649
Or, well, make the functionality available only to a knowledgeable caller willing to go beyond the “image at a time” abstraction (which could be `podman save`): like we already have the “unpacked directory structure” `oci:` transport, provide a similar transport for a `docker save`-formatted-unpacked archive; the caller would have to knowingly initialize the directory structure, and knowingly conv

[2018-04-20 12:10] vrothberg commented on #649
@mtrmac Yes, I used the image ID provided by `podman-images`. I had a look a the code and also ended up in `ParseReference`, which is not rejecting IDs (see `idOrDigest`) but it seems to always compute a name for the returned image. In this special case, I think we could skip the name computation. However, I am not familiar with potential side-effects.

[2018-04-20 12:28] mtrmac commented on #649
That’s the source side, in `storageTransport.ParseReference`? I am looking at `archiveTransport.ParseReference`→`reference.ParseNormalizedNamed`→`anchoredIdentifierRegexp.MatchString`. Also
[code]

if using a hexadecimal ID as a tag works for you, I must be overlooking something basic in the `podman` code.

[2018-04-20 12:36] mtrmac commented on #649
Apart from the above, me not seeing how any of this works right now — I can’t immediately see why a name:tag would _have_ to be mandatory in the created archive; the code requires it now, but it seems easy to make it optional, if there really are valuable uses for that.

The only rationale for making it mandatory that I can find now is https://github.com/containers/image/blob/e51d350816912bbd09a91

[2018-04-20 12:49] vrothberg commented on #649
In case of `podman-save`, we jump pretty soon to `storageTransport.ParseStoreReference`, and I don't see the one from `archiveTransport` (which would fail parsing as you've mentioned). We're calling it here: https://github.com/projectatomic/libpod/blob/master/libpod/image/image.go#L318

I agree. Given there are no unexpected side-effects, we could special case if the specified reference string is

[2018-04-20 13:01] mtrmac commented on #649
Sure, that’s from https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L116 .

But I’m looking at https://github.com/projectatomic/libpod/blob/master/cmd/podman/save.go#L114 →https://github.com/projectatomic/libpod/blob/master/libpod/image/image.go#L418 , which should AFAICS end up as `archiveTransport.ParseReference`.  (After all, _some_ input must be passed to `docker/archive.P

[2018-04-20 13:53] umohnani8 commented on #649
From what I can see, podman save fails if a hexadecimal is used as a tag:
[code]
But just giving the image ID instead works fine:
[code]
However the id is saved as the name of the image in the repo tags, which I agree is a bug.

I agree to change it such that repoTags is empty if an image ID is used for save. When loading the image back, we can generate a hexadecimal for it and save it as "none".

[2018-04-20 14:08] miabbott commented on #648
No, I don't really have any hard numbers on how many users rely on this.  (I tried searching GitHub for some examples of this, but got a lot of false positives.)

I think the point of not including `docker` in the code is a good enough argument to punt on this request.

I can easily adapt my own use case to also look for `/run/containerenv`.

[2018-04-20 14:08] #648 closed

[2018-04-20 14:11] mtrmac commented on #649
Ah, so that works because the supplied ID is not full 64 characters. That’s what I’ve been missing. Thanks!

Yes… and awkward, when `abcde` can be both an ID prefix and a name.

---

There is already code to handle unnamed _sources_ in `Runtime.getPullListFromRef`.  Is that sufficient?  (If you mean using the literal name `"none"` for the image, that seems surprising to me. Can we keep the image u

[2018-04-20 14:17] umohnani8 commented on #649
@mtrmac I meant leave the image unnamed. When an image is unnamed it shows up as "none" when you do podman images (sorry should have phrased that better earlier).
Yeah, I know we already handle the pulling part for unnamed sources as I came across images when doing load that did not have a Repo Tag. Just need to modify the save part to not save the id as the name.
As for the save multiple tags to

[2018-04-20 15:04] mtrmac commented on #649
Per https://github.com/containers/image/issues/447#issuecomment-383074842 , it seems not necessary right now. Maybe `podman` could expose the capability in https://github.com/containers/image/issues/447 to use multiple tags for a single image.

[2018-04-20 15:17] #645 closed

[2018-04-20 22:21] dustymabe opened #653 "podman: maybe support a `RUN` label like atomic CLI"
With podman we have more flexibility over the interface our users have. I think we should be very careful when stepping away from the known interface users are familiar with today, but in some cases it could make sense to accept targeted enhancements.

One possible example is the run label command execution like is done by the Atomic CLI today. An example is:

[code]

so `podman runl containername

[2018-04-21 11:32] rhatdan commented on #653
This would be sort of merging atomic functionality into podman,  Interesting.
One thing we need to move forward on is integrating podman better into the atomic CLI, to make it a first class citizen.  @baude has begun playing with varlink to make it a PODMAN API.  This would allow us to better integrate into atomic.

I was also thinking of changing atomic to realize if a container came with a LABEL

[2018-04-22 17:29] afbjorklund opened #655 "Problems trying to load cached images into minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Not being able to load images, not getting any error reports (only "failed, and dir:")

**Steps to reproduce the issue:**

1. https://github.com/kubernetes/minikube/pull/2757

2. `make out/minikube out/minikube.iso`

3. `./out/minikube --container-runtime=cri-o --iso-url=file://$PWD/out/minikube.iso`

**Describe the results

[2018-04-23 04:13] mheon commented on #655
@afbjorklund Any chance we can get a reproducer without Minikube? It would be a lot easier if we could pull the image it's trying to import out so we can directly inspect it and try and figure out what's going on.

Also, could you add `--log-level=debug` and see if you get more detailed error information?

[2018-04-23 05:14] afbjorklund commented on #655
Sure, will try to do that (and the ISO?)

Also : pull + save + rmi + load works OK

[2018-04-23 09:45] giuseppe commented on #653
in addition to that: should we teach atomic and the container images to not hardcode `/usr/bin/docker` in the labels but have something like `\${RUNTIME}` and atomic will set the correct value?
For a few releases we could add a warning when we find an hardcoded `/usr/bin/docker` label so that container images have time to be updated.

[2018-04-23 14:38] baude commented on #655
does it work outside minicube ?

[2018-04-23 15:34] edsantiago opened #658 "podman ps: hangs"
Every so often my system gets into a state where `podman ps` hangs. It's in such a state right now, and I was able to strace it. I think this is the relevant portion:
[code]
^^^ this is where it's hanging

[2018-04-23 15:40] mheon commented on #658
Looks like it's hanging on the lock.
Any other processes going at the same time?

[2018-04-23 15:40] mheon commented on #658
Podman processes, I mean

[2018-04-23 15:42] mheon commented on #658
They're all stuck on a specific container's lock. Alright. So we have a race with many ps running against each other.

[2018-04-23 15:45] mheon commented on #658
10563 seems to have the lock. It looks like it's stuck in the critical section and not releasing the lock.
Can you kill 10563 and see if things start working again?

[2018-04-23 15:46] mheon commented on #604
Should actually be fixed now

[2018-04-23 15:46] #604 closed

[2018-04-23 15:47] edsantiago commented on #658
Yes, that got things unstuck.

[2018-04-23 16:16] rhatdan commented on #655
podman is not part of minikube.  This example looks like he is prestaging the container with podman and then attempting to run a container with CRI-O.  The problem is here.

[code]
How did you create  /tmp/busybox_latest

[2018-04-23 16:16] rhatdan commented on #655
@umohnani8 PTAL

[2018-04-23 16:34] afbjorklund commented on #655
I think it was created by Docker in the client originally, and then copied from the cache...

I have kubeadm running OK with curio/crictl, so trying to replace the `docker load` now

[2018-04-23 16:36] afbjorklund commented on #655
The busybox was just an example, the main containers are all cached from kubernetes

[2018-04-23 16:36] mheon commented on #658
I have a suspicion that it might be https://github.com/projectatomic/libpod/blob/master/libpod/container_api.go#L411-L416 in `attach` - that's one of our more unusual uses of locking. I can't see an obvious way in which that would fail, but there could be a timing condition of some sort that locks attach into that critical section.

It's one of only two places where `attach` grabs a lock on a cont

[2018-04-23 16:38] afbjorklund commented on #655
@rhatdan : minikube 0.26 still had kpod

[2018-04-23 16:38] mheon commented on #655
`podman load` on an image from `docker export` should work, though I'm not sure we verify that in our test suite right now. Worth adding if we don't.

[2018-04-23 16:44] mheon commented on #658
The obvious conclusion is that we're getting stuck somewhere on the boltdb lock, so we never hit the Unlock() in attach.go