[2022-05-18 14:45] carbolymer commented on #14284
No selinux / apparmor here. My user belongs to `vboxusers` group.

[2022-05-18 14:48] mheon commented on #14284
Concur, that sounds reasonable.

[2022-05-18 15:13] carbolymer commented on #14284
I confirm. The command:
[code]
works.

[2022-05-18 15:25] mheon commented on #14264
I almost see this as a separate command, with no options beyond the Specgen to use - seems like that's the easiest way to implement. Accepting a base SpecGen in run could be complicated in that we'd have to deal with defaults overwriting it.

[2022-05-18 15:28] #14284 closed

[2022-05-18 17:12] rhatdan commented on #14264
podman play specgen ...?

[2022-05-18 20:34] jahamilton12121 opened #14285 "podman images failed error msg="mkdir /home/my_agent/rundir/libpod: no such file or directory"\n'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. sometimes it happens, sometimes not

2. make my_agent user and directory, load and run container inside user and observe it running just fine.

3. This will usually work but when it eventually hits this it will stop working: run this with python's subproc

[2022-05-18 21:35] sentry124 opened #14286 "Unable to su as root to any other user - RHEL 6.9"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running a container, after creating a user I am unable to su to that user as root. I will simply receive an su: incorrect password. I installed syslog to see if there were any errors and I had received:

su: pam_rootok(su:auth): authentication succeeded
su: PAM audit_log_acct_message() f

[2022-05-18 23:25] mangeshpanche opened #14287 "Podman does not cleanup the temporary files after loading images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When command `podman load -i <tar file>` is executed, it creates temporary files (docker-tar*) in /var/tmp or directory configured in TMPDIR, but does not cleanup these files at the end. Due to this the filesystem keeps on filling on each docker load.

**Steps to reproduce the issue:**

1. Lo

[2022-05-19 05:17] tacerus commented on #14208
Thank you so much, @rhatdan! Much appreciated.

[2022-05-19 07:26] PavelSosin-320 commented on #13328
This issue looks like hangs but it prevents podman from using in Fedora 36. Just another observation: the AVC error tells that the systemd-journald attempts to access sys_ptrace and blocked. On other hand podman passes to conmon 2 options according to debug log: ol journald and --syslog. When the 1st one results in regular journald log recording the conmon documentation says that the last one will

[2022-05-19 07:41] vrothberg commented on #14264
There was a plan to have `podman kube {down,play}` etc. so I am no fan of adding more things to `play`. The desired command really belongs under `podman container`.

I imagine rather a `--specgen=path` flag for `podman {create,run}`.  If it's a `SpecGenerator`, the code changes would be minimal.

[2022-05-19 07:46] vrothberg commented on #14286
Thanks for reaching out, @sentry124.

The following article should answer your question: https://www.redhat.com/sysadmin/sudo-rootless-podman

Since you are using RHEL, I want to encourage to go through the Red Hat customer channels for issues in the future.  This allows for prioritizing your issues.

[2022-05-19 08:58] vrothberg commented on #14283
I want auto-update events.  I didn't check the git history if it has ever been used but I really want it to be used.

[2022-05-19 09:17] PiotrKlimczak commented on #11541
Devs are using Podman in our organisation. We have all MacBook Pros and we all have frequent time drifts on all recent versions, including latest 4.1, causing us frequent random issues.
It would be good if podman could have some built in solution to the problem. It wouldn't be anything unusual since there are other OSX specific fixes available already.

[2022-05-19 10:01] srd424 commented on #14278
If anyone wants the beginnings of an insecure bodgy script to manually download the debs, try:

[code]

[2022-05-19 10:05] srd424 commented on #14278
FWIW, the 22.04 repository seems to be broken too, some packages missing?

[2022-05-19 10:10] ssbarnea commented on #11541
https://github.com/containers/podman/discussions/14289 seems linked to this subject.

[2022-05-19 10:49] petersenna commented on #12320
@vrothberg I am not sure I ran into a corner case, so I do not really know if the behavior I describe is a bug or not. For *reasons* I pull container images from a private registry at VM image creation time, and then after VMs are deployed I create containers over the Podman's Docker-compatible REST API.

The issue I am having is that starting with podman 4 trying to start a container that was pre

[2022-05-19 11:15] vrothberg commented on #12320
Thanks for the ping, @petersenna. It definitely sounds suspicious when Docker works but Podman does not on the compat API and by definition qualifies as a bug.

Judging from the logs, Podman is able to resolve the image locally when looking for "NAME:TAG":

[...]

For some reasons, Podman is then looking up the normalized version which fails:

[...]

Would you mind opening a new issue for it?  It

[2022-05-19 11:46] petersenna opened #14291 "Podman's Docker-compatible REST API and previously pulled images."
/kind bug
**Description**
Since podman 4, when using the Docker-compatible REST API, trying to start a container that was previously pulled fails because the container does not exist on Docker Hub. More precisely I get a 404 for docker.io/library/NAME:TAG.

This issue is fixed by setting  `compat_api_enforce_docker_hub` to `false`. I can also report that Docker is perfectly happy with starting the

[2022-05-19 11:46] petersenna commented on #12320
Created a new issue: https://github.com/containers/podman/issues/14291

[2022-05-19 11:51] ssbarnea opened #14293 "podman pull --arch and --platform values are full ignored"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Apparently you can pass any value to `--arch` when doing a pull as that argument would fully be ignores, making impossible to pull a specific architecture.

**Describe the results you received:**

[code]

**Describe the results you expected:**

* Failure to pull if that architecture does not

[2022-05-19 12:04] rhatdan commented on #13328
Please show me the AVCs?

[2022-05-19 12:09] rhatdan commented on #14264
My problem with it being a part of a current command is that you need to say all other options are not available.
podman run --specgen=path --security-opt seccomp:unconfined -d sleep 1000
podman run --specgen=path --security-opt seccomp:unconfined -d alpine sleep 1000

What do we do here?

[2022-05-19 12:10] rhatdan commented on #14264
How about
podman container createspec SPEC.FILE
podman container runspec SPEC.FILE

[2022-05-19 12:17] vrothberg commented on #14264
Can you elaborate? I think they can still be used, see below.

The specified spec is the baseline.  Other CLI options allow for changing that baseline.

If the spec says "option=foo" and we have `--option=bar`, the container will run with "bar".

But one thing that just came to my mind is how to deal with the `IMAGE [ARGS]`.  Since the specgen could have both specified, it remains largely unclear

[2022-05-19 12:44] ssbarnea commented on #14293
Current behavior and even the API is different than docker. Docker uses `docker pull --platform arm64 ...` instead of ``--arch`` and gives proper errors on both cases **unsupported architecture** or **missing architecture**.

[code]

[2022-05-19 12:49] rhatdan commented on #14284
BTW This only works with crun, not runc...

[2022-05-19 12:52] rhatdan commented on #14287
@vrothberg @mtrmac Is this a container/image problem or Podman?

[2022-05-19 12:54] rhatdan commented on #13504
Would removing logrus from the bindings be enough?

[2022-05-19 12:58] Luap99 commented on #13504
If we do not want to log anything there, then yes.

[2022-05-19 13:07] vrothberg commented on #14287
I can reproduce.

[2022-05-19 13:38] gbraad commented on #14225
@baude FYI: https://github.com/anjannath/podman/commit/e4bbf4c0fa8cdbfe550d6f64374bb12fb3c9c021

[2022-05-19 14:03] dokuhebi commented on #14278
"NOTE: Kubic packages have been discontinued for Ubuntu 22.04 LTS. Current users of the Kubic repos for Ubuntu are highly recommended to uninstall the packages from the Kubic repos before upgrading to Ubuntu 22.04 LTS."

You should be able to just install from the Ubuntu repos if I'm reading the [installation instructions](https://podman.io/getting-started/installation#installing-on-linux) correct

[2022-05-19 14:09] lsm5 commented on #14278
Thanks @dokuhebi.

@srd424 the 22.04 Kubic repository enablement was a mistake. That project is shared with the cri-o maintainers and they enabled 22.04 which ended up with podman getting enabled as well. For 22.04, you're way better off using ubuntu's own repos.

The hash mismatch looks like a stale /  out-of-sync mirror to me. Perhaps best to download the debs like @srd424 mentioned or try a dif

[2022-05-19 14:09] #14278 closed

[2022-05-19 14:22] lsm5 commented on #14278
@srd424 the debian way of packaging was proving to be just too painful to maintain and automate. My wip repo in the last comment generates deb packages using fedora's packaging sources which should be a lot easier to maintain and update (I hope). The initial plan was to only use it for ubuntu testing in upstream CI but if anyone in the community is willing to try things out then I figured why not.

[2022-05-19 14:27] srd424 commented on #14278
OK, I will bookmark these various issues, and if I ever get a sensible amount of free time I will investigate the various other options. Even the worst case of using the static binaries shouldn't be the end of the world, I doubt the shared binaries end up sharing significantly sized libraries with other processes, and with no long-running daemon memory spikes should be limited to container (re)sta

[2022-05-19 14:40] Nilegfx commented on #10824
in my case the temp dir is still exists but somehow the `qmp_podman-machine-default.sock` is missing. any advice?

[2022-05-19 14:58] lovette commented on #14182
Filter negation was recently added to the `images` command through https://github.com/containers/podman/issues/13270. That change may not have been applied to all commands.

[2022-05-19 15:31] praveenkumar commented on #14293
This looks dup of https://github.com/containers/podman/issues/14271 one.

[2022-05-19 15:35] vrothberg commented on #14293
Yes, that is a dup of many other dups. GitHub doesn't seem good in showing duplicates.

Please comment here: https://github.com/containers/podman/issues/12682

In my testing docker did not error out when doing `--platform linux/bogus`. `xxx` is interpreted as an OS which is easier to check than the architecture.

In case your version of Docker behaves different, please mention the version.

[2022-05-19 15:36] Ap0th0cary commented on #14278
Hey everyone!  I am getting the same issue on 20.04lts.  I am fairly new to this whole thing, so if anyone could give me instruction on "how to get the debs"  It would be greatly appreciated.  I can get the tar.gz from the repo by putting the url http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ in the browser but not really sure if that is what i need to

[2022-05-19 15:38] lsm5 commented on #14278
@Ap0th0cary see https://github.com/containers/podman/issues/14278#issuecomment-1131493808 and https://github.com/containers/podman/issues/14278#issuecomment-1131743956

[2022-05-19 17:34] rhatdan commented on #14225
@gbraad glad to see progress being made.

[2022-05-19 17:37] rhatdan commented on #14182
@jkonecny12 Can I close this issue?

[2022-05-19 17:55] gbraad commented on #14225
We have been held back by other installer related work, but this has been resolved. The pkg is currently under test and will be proposed soon.

We also have some follow up questions for virtiofs. Will deal with those next week.

[2022-05-19 18:55] eriksjolund opened #14298 "Invalid input for "-o=uid=" option to "podman volume create" does not trigger an error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Invalid input for "-o=uid=" option to "podman volume create" does not trigger an error.

**Steps to reproduce the issue:**

1.

[code]

**Describe the results you received:**

The output
[code]

**Describe the results you expected:**

That an error message would have been shown.

**Additional

[2022-05-19 19:50] rawfoxDE commented on #3234
That fixed the issue for me, thanks a ton ^^

[2022-05-19 20:08] selamba commented on #14276
@vrothberg I suspect it's random. It would probably be more apparent if you tried to create the same container with the same ports exposed without removing the previous one. Originally that's almost what I did - I had a compose file that exposed a port and added the container to a network along with a database container. To restart the container I didn't stop and remove it, I just ran the `podman-

[2022-05-19 22:28] marquesmateus93 commented on #13396
Thanks @zhangguanzhang .

In Fedora 36 Silverblue:
`$ rpm-ostree install containernetworking-plugins`

Then reboot.

[2022-05-20 01:59] TCROC opened #14302 "Version 4.x not updating with apt update Ubuntu 20.04"
On Ubuntu 20.04, Podman is stuck at version 3.4.2.  Running apt update doesn't update it to the 4.x version.  I followed the instructions here: https://podman.io/getting-started/installation.html#linuxmint-20x.

[2022-05-20 02:54] Charizard opened #14303 "Cannot start machine with podman version 4.1.0 in M1 Mac"
/kind bug

**Description**

In a M1 Mac, Downloaded the VM via `podman machine init` and then when trying to start it via `podman machine start` I get thew following error:
[code]
Tried to download the arch specific VM via `podman machine init --image-path=https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/35.20220424.3.0/aarch64/fedora-coreos-35.20220424.3.0-qemu.aarch64.qcow2.xz`

[2022-05-20 04:23] PavelSosin-320 commented on #13328
Raw Audit Messages
type=AVC msg=audit(1652897010.86:799): avc:  denied  { sys_ptrace } for  pid=590 comm="systemd-journal" capability=19  scontext=system_u:system_r:syslogd_t:s0 tcontext=system_u:system_r:syslogd_t:s0 tclass=cap_userns permissive=0

@rhatdan
This is what SELinux troubleshooting shows:
type=SYSCALL msg=audit(1652897010.86:799): arch=x86_64 syscall=readlinkat success=no exit=EACCES

[2022-05-20 06:05] eriksjolund commented on #14298
It works when I add __--opt device=tmpfs --opt type=tmpfs__
[code]

[code]

I think it would be a nice feature to be able to use _--opt o=uid=3000,gid=3000_  for a "standard" volume too.

[2022-05-20 06:06] #14298 closed

[2022-05-20 06:41] PavelSosin-320 commented on #13328
And more: although capsh --print
Current: =
Bounding set =cap_chown,cap_dac_override,cap_dac_read_search,cap_fowner,cap_fsetid,cap_kill,cap_setgid,cap_setuid,cap_setpcap,cap_linux_immutable,cap_net_bind_service,cap_net_broadcast,cap_net_admin,cap_net_raw,cap_ipc_lock,cap_ipc_owner,cap_sys_module,cap_sys_rawio,cap_sys_chroot,cap_sys_ptrace,cap_sys_pacct,cap_sys_admin,cap_sys_boot,cap_sys_nice,cap_s

[2022-05-20 07:00] afbjorklund commented on #14302
Those packages (from Kubic) are not updated anymore, the instructions should be removed (for Mint, like they were for Ubuntu)

[2022-05-20 07:32] mythi commented on #14302
has there been any announcements about kubic? we've installed `buildah` from it and that disappeared completely.

[2022-05-20 07:52] davdr commented on #12292
@n1hility does it require podman machine or any other conditions to work? I have Debian Sid with Podman upgraded to 4.1 (4.1.0+ds2-2 via https://packages.debian.org/experimental/podman), and behavour doesn't seem to have changed (did a podman system reset to get the new network stack): rootlessport is still opening a dual-stack socket.

[2022-05-20 09:00] vrms opened #14305 "[documentation] example image `libpod/banner` used in `basic_networking.md` does not serve the website it should"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

in the [Podman Basic Networking Guide]( https://github.com/containers/podman/blob/main/docs/tutorials/basic_networking.md) (basic_networking.md) there is an example to curl a website served by a container based on a `quay.io/libpod/banner` image. It should look like
[code]
however the actual

[2022-05-20 10:13] flouthoc commented on #14173
I am unable to reproduce this flake on host not entirely sure but I think know why this happens on CI.

One root cause could be that  `netavark` spawns `aardvark-dns` using `Command::spawn()` and never waits for it especially in case of `systemd-run`. Usually it does not makes any difference since by the time podman actually runs command on container , `aardvark-dns` should be ready but on CI env

[2022-05-20 10:28] flouthoc commented on #14173
PS: Also while running tests on host I am only running `test/e2e/run_networking_test.go test/e2e/run_aardvark_test.go` with commons assuming that tests are isolated with each other they share nothing.

[2022-05-20 10:46] rhatdan commented on #13328
Could you attach the output of
sudo ausesearch -m avc

[2022-05-20 11:39] phenri00 commented on #14303
Experiencing similar(?) issue. M1 Mac.

[code]

[code]

[2022-05-20 12:27] TCROC commented on #14302
What is the new way to install Podman on Ubuntu 20.04?

[2022-05-20 13:48] n1hility commented on #12292
@davdr Yes it does rely on machine integration, but you can trigger it manually by creating “ /etc/containers/podman-machine” with the content of “wsl” (quotes excluded)

[2022-05-20 13:49] n1hility commented on #12292
(Rootlessport looks for that file to decide how to bind)

[2022-05-20 13:52] skepticoitusInteruptus commented on #13379
Hi @giuseppe :wave:

This comment came up in a search I did *after* I created containers/crun/issues/923 yesterday:

I'm curious whether or not this issue might be related in any way to containers/crun/issues/923? Your thoughts, please?

TIA.

[2022-05-20 13:58] skepticoitusInteruptus commented on #14236
Related to containers/crun/issues/923

[2022-05-20 14:10] davdr commented on #12292
@n1hility many thanks, works as a charm!

[2022-05-20 14:15] maxclac opened #14306 "Mirror registry ignored"
Hello,

I am trying to set up a local mirror of docker.io on Centos 7 with a local registry running on localhost:5000. Let's say I pull an image a first time from docker.io with `podman pull docker.io/busybox`. Now if the mirror is set up correctly, I would expect that, when I remove this image and pull it a second time with the same command, it would be pulled from the local registry at localhost

[2022-05-20 15:26] afbjorklund commented on #14302
https://podman.io/blogs/2022/04/05/ubuntu-2204-lts-kubic.html

[2022-05-20 15:47] TCROC commented on #14302
Ok I see.  So Podman 4.x is available on Ubuntu 22.04 if I upgrade?

[2022-05-20 16:25] afbjorklund commented on #14302
It is available on Fedora and RHEL, not on Ubuntu (yet)

[2022-05-20 17:13] TCROC commented on #14302
Any plans for when it will land on Ubuntu? 👀 :)

[2022-05-20 17:29] afbjorklund commented on #14302
https://packages.debian.org/search?keywords=podman&searchon=names&exact=1&suite=all&section=all

Not in "Sid" yet

[2022-05-20 17:31] TCROC commented on #14302
Ah ok cool.  And am I able to add that as a PPA on Ubuntu?

[2022-05-20 22:56] AddictArts commented on #13965
Hi sorry @n1hility I've been traveling and gone.  Unfortunately this did not seem to resolve the issue.

[code]

[2022-05-21 01:24] skepticoitusInteruptus commented on #13379
Hey @pclass-sensonix,

I hope you don't mind my ~~_nosiness_~~ curiosity about your issue :nose:

I think you can you help me cement my understanding of cgroup v2 though. Please?

What does `ls /sys/fs/cgroup` show you? If there is a `cpu.max` file there, what does catting it show you?

I appreciate it's a long shot of a chance that you would still have a similar deployment after this amount of ti

[2022-05-21 02:22] n1hility commented on #13965
@AddictArts cool! thanks for your patience in tracking that one down

[2022-05-21 05:23] doehyunbaek commented on #12341
Hi. I wish to tackle this issue because at my job I deal with huge size images(2GB+).

Can anyone give a guidance on what feature is needed on what part of podman ecosystem? I'm not sure whether it  needs some changes to containers/image repo or changes in podman repo would suffice.

[2022-05-21 06:03] PavelSosin-320 commented on #13328
@rhatdan This is the portion after | grep container:
name=".containerenv" dev="tmpfs" ino=1386 scontext=system_u:system_r:systemd_logind_t:s0 tcontext=system_u:object_r:container_file_t:s0:c757,c967 tclass=file permissive=1
type=PATH msg=audit(1652897010.015:795): item=0 name="/proc/28228/exe" inode=148265 dev=00:17 mode=0120777 ouid=0 ogid=0 rdev=00:00 obj=unconfined_u:system_r:container_runtime_

[2022-05-21 07:38] afbjorklund commented on #14302
I believe you would need to build it from the source code.
* https://github.com/containers/podman/issues/13407#issuecomment-1058137350

[2022-05-21 11:02] afbjorklund commented on #14065
@liebig the homebrew attempts ended up somewhere here: (for 3.4.2)

* https://github.com/Homebrew/homebrew-core/pull/84276

[2022-05-21 12:34] TCROC commented on #14302
What is the reasoning for not including 4.x in an Ubuntu ppa?

[2022-05-21 14:34] podmod001 commented on #2669
I strongly suggest to display some kind of warning or error with docker-archives, when specifying multiple images without using the `-m` option.

It is very confusing that the command seems runs successfully without  `-m`, but triggers an endless loop of runtime errors, when actually trying to start containers.

I needed to invest an hour to realize, there is an extra option for multiple images. S

[2022-05-21 19:26] mtrmac commented on #12341
See if https://github.com/containers/image/blob/e594853d6471bc9ab7e8231588d3199f38c75322/copy/copy.go#L133 provides enough data for Podman’s progress stream. If not, c/image changes might be necessary.

`c/image/copy.Image` is called from `c/common/libimage`, so that might need to be updated at least enough to pass the data through unmodified.

And finally, there’s Podman itself, with a somewhat d

[2022-05-21 22:10] Romain-Geissler-1A opened #14312 "podman image scp should be allowed in the remote client"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman image scp connection1::$IMAGE_NAME connection2` should work with the static remote client. From what I understand of https://www.redhat.com/sysadmin/podman-transfer-container-images-without-registry this is implemented by forking two podman client, one to run `podman image save` p

[2022-05-21 22:22] Romain-Geissler-1A opened #14313 "podman image scp should allow specifying image by hash name with remote connection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman image scp` should allow specifying image by hash name, even with remove connections.

**Steps to reproduce the issue:**

1. Setup two remote connections, in my case `aarch64` and `x86_64`.

2. Try to `podman image save` and `podman image load` from one connection to another using

[2022-05-22 00:13] SoMuchForSubtlety commented on #14160
I'd be willing to implement a fix, but I need a few pointers on the best way to approach this.

The simplest fix would be to change the struct field[^1] to a string, but there are other references to `#/definitions/IP` that would remain broken.

While investigating this, I found other suspicious fields. `StaticMAC`[^2] in `InspectPodInfraConfig` is as far as I can tell never set, but it's defined

[2022-05-22 02:22] doehyunbaek commented on #12341
Thanks for your pointer, I would tinker with that file and how it's called from podman to see if I can progress. Really appreciate it.

If I get stuck I'll update here.

[2022-05-22 07:36] PavelSosin-320 commented on #13328
It is not necessary to dig too deep. : wrong parameter is passed to conmon. Podman passes --syslog
_DEBU[0000] /usr/bin/conmon **messages will be logged to syslog**
DEBU[0000] running conmon: /usr/bin/conmon               args="[--api-version 1 -c 1ae55650cee30350731332132760b1e772b071127d143b79dfed57e517b2fa08 -u 1ae55650cee30350731332132760b1e772b071127d143b79dfed57e517b2fa08 -r /usr/bin/crun -b

[2022-05-22 15:41] fruch commented on #14251
I can confirm that docker is working with it just fine, the whole reason I need it, so i can have compatibility with already working docker environment.

[2022-05-22 16:55] nycnewman commented on #14303
Getting same issue. If I run in debug mode the following command is run which produces the error if run standalone:

/opt/homebrew/bin/qemu-system-aarch64 -m 27000 -smp 10 -fw_cfg name=opt/com.coreos/config,file=/Users/edwardnewman/.config/containers/podman/machine/qemu/podman-machine-default.ign -qmp unix://var/folders/tz/4n8rgr6n6wj5cgqzjx1dh0_80000gq/T/podman/qmp_podman-machine-default.sock,ser

[2022-05-22 23:11] Romain-Geissler-1A opened #14314 "aarch64 podman + qemu-user-static can't run x86_64 RHEL 9 image by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Hi,

Right now, podman running on a aarch64 host with the package `qemu-user-static` installed can't run a RHEL 9 (or CentOS 9, or UBI 9) image by default. When you try, you get this error:

[code]

It's a well known problem at Red Hat: RHEL 9 now requires the ABI level x86-64-v2, and qem

[2022-05-23 00:54] nycnewman commented on #14303
Note that it is not possible on MacOS to downgrade to previous podman version as the tap appears to only understand 4.1.0. Was proposing to test to see if that still works as issue appears to be with qemu.

[2022-05-23 02:13] Romain-Geissler-1A opened #14315 "podman --remote build --quiet outputs containers build's stderr ouput in client's stdout"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using a remote client, it seems that anything logged in stderr when building the container is being logged to the stdout of the client, even if --quiet was used. This result in an unuseable container image id. Note that without using a remote client, it works as expected (stderr of the c

[2022-05-23 03:01] jahamilton12121 opened #14317 "Make these directories adjustable through podman conf files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

/tmp/containers-user-$UID
/tmp/podman-run-$UID
/tmp/run-$UID

looks like only way is to change env var $TMPDIR
here is the source:

[code]
**Steps to reproduce the issue:**

1. run rootless podman commands

**Describe the results you received:**
it creates unwanted files in /tmp

**Descri

[2022-05-23 05:05] gbraad commented on #14224
Hi @hughsie, I went over the msitools docs but didn't see any hint this is possible.

[2022-05-23 06:00] SebDanielsson commented on #13461
/remove

[2022-05-23 09:11] flouthoc commented on #14315
@Romain-Geissler-1A Docker API suppress step errors when `quiet` is set, above PR should fix this.

[2022-05-23 10:05] hughsie commented on #14224
No idea I'm afraid, my knowledge of Wix and msitools is recent and incomplete.

[2022-05-23 11:11] doehyunbaek commented on #12341
Hi, during work I found out that podman indeed do give progress as percentage and was confused if this was something requested here.

https://user-images.githubusercontent.com/70570804/169806744-8cda92b9-7c4c-4a26-be13-9a44dbe2bd80.mov

Maybe this feature is already included in podman? my podman version is

[code]

[2022-05-23 11:29] vrothberg commented on #14314
`x86_64` does not exist in the open containers specification.  Instead you should use `--arch amd64`. Maybe that will work.

As for the Red Hat related questions: please go through the Red Hat customer channels (e.g., Bugzilla, Customer Portals, etc.).

[2022-05-23 11:32] vrothberg commented on #2669
@podmod001, thanks for reaching out.

That sounds like a bug and is definitely not part of the design.  Please open a new issue, ideally with a reproducer, if you want to see it fixed.

[2022-05-23 11:40] vrothberg commented on #14286
Apologies, @sentry124.

@rhatdan may be able to help.

[2022-05-23 12:27] Romain-Geissler-1A commented on #14314
Ok will open a Red Hat ticket then.

Note: podman accepts `x86_64` since version 4.x, it internally maps it to `amd64`. It was actually implemented after one of the ticket I have opened to support this (as docker does).

[2022-05-23 12:35] garrett commented on #12341
@doehyunbaek: This is about the Podman API, not the command line interface. Pull status is needed for software that uses Podman via the API, such as [Cockpit-Podman](https://github.com/cockpit-project/cockpit-podman), which is a graphical, web-based way to use Podman on servers through [Cockpit](https://cockpit-project.org/).

[2022-05-23 12:39] Romain-Geissler-1A commented on #14314
Internal Red Hat case opened by Amadeus: https://access.redhat.com/support/cases/#/case/03226284 (not public obviously).

[2022-05-23 13:01] #14314 closed

[2022-05-23 13:10] gbraad commented on #14224
@hughsie, no worries. My colleague teuf (@cfergeau) already mentioned he would meet Marc André soon and might drop this.

[2022-05-23 13:14] #13894 closed

[2022-05-23 13:18] doehyunbaek commented on #12341
Thanks for the reply, will look into Podman API and if pull progress exposed in cli can be also expoed at API.

[2022-05-23 13:21] mtrmac commented on #12341
@doehyunbaek The `c/image/copy.Image` code produces both those progress bars (just as a byte stream to a file descriptor), and the `ProgressProperties` data (as a Go data structure). The progress bar byte stream can’t be reconstructed into the requested API-consumable form.

[2022-05-23 13:23] fingon commented on #12495
Not using podman due to that issue, so no. Sounds like others still hit it though.

[2022-05-23 13:45] n1hility commented on #14224
@gbraad it's a view panel, so the main UI has a set of can dialogs and flow but you can customize them to add additional Control elements so could be a checkbox.

(e.g. see https://github.com/GNOME/msitools/blob/master/data/ext/ui/WelcomeEulaDlg.wxs)

Here is an example of customizing: http://www.dizzymonkeydesign.com/blog/misc/adding-and-customizing-dlgs-in-wix-3/

[2022-05-23 13:53] doehyunbaek commented on #12341
Thanks for the reply.

I think I should explore existing ways of communicating progress through http and then experiment with changing podman api serving code / manipulating underlying ProgressProperties data to suit my need.

[2022-05-23 13:57] sentry124 commented on #14286
It appears to be an issue exclusive to RHEL 6 containers. I grabbed an ubuntu and RHEL 7.6 container and they appeared to function as expected. I am not sure if there is anything that can be done on your guys' end, but any feedback would be appreciated.

[2022-05-23 14:12] #14283 closed

[2022-05-23 14:40] lsm5 commented on #14302
@TCROC Ubuntu ppas are a huge PITA (at least for me (Fedora guy)).  Also, no debian support from what I can tell.

RE: debian experimental repo that @afbjorklund mentioned above, you should be able to install the deb package on ubuntu, at least that's what the debian maintainer told us. I don't know if you'd be able to add it as a repo source to Ubuntu though.

Also, I have a WIP kubic repo at htt

[2022-05-23 14:40] #14302 closed

[2022-05-23 15:15] mheon commented on #14317
Can you clarify more what the ask here is? It's not really clear.

[2022-05-23 15:15] mheon commented on #14303
@baude @ashley-cui PTAL

[2022-05-23 15:18] mheon commented on #14160
I would consider the current API correct - it's the documentation that is incorrect. As such I would advise against changing any struct fields.

The complexity here is that net.IP is a []uint8 but marshals into JSON as a string.

[2022-05-23 15:39] Luap99 commented on #14317
also by default these directories should already be under XDG_RUNTIME_DIR?

[2022-05-23 16:28] jahamilton12121 commented on #14317
Running rootless podman commands results in the creation of these three directories which are non-configurable
[code]
I assumed by the code snippet yesterday that they could still be changed through $TMPDIR but it doesn't seem to be the case as changing that variable has no effect. Setting $XDG_RUNTIME_DIR has no effect either.
I want to change them to be
[code]

[2022-05-23 16:32] jahamilton12121 commented on #14317
Also under my user XDG_RUNTIME_DIR is set to /var/tmp.
[code]

[2022-05-23 16:36] Luap99 commented on #14317
First you have to run podman system reset because it caches the paths. You cannot change them on the fly because this will break about everything.

Second it is important that the path is on tmpfs because podman will check for a given file to know if there was reboot. If you put this on a persistent file system this will no longer work and result in many bugs. You could work around that by deletin

[2022-05-23 16:43] jahamilton12121 commented on #14317
The /tmp on our system is not on tmpfs

Also I don't think I need to do a reset because I am working with a program that dynamically builds and destroys rootless containers. I test the env variable changes by having my scripts fully remove the user and container and then making a new user and loading a new container inside of it. Running a reset inside the user won't seem to do anything, running o

[2022-05-23 16:46] jahamilton12121 commented on #14317
[code]

[2022-05-23 17:22] jahamilton12121 commented on #14317
okay I was able to fix it by modifying the .profile of the user before running any podman commands.
just added this `export TMPDIR="/run/user/myuser"`

[2022-05-23 17:26] jahamilton12121 commented on #14317
This moved /tmp/containers-user-$UID but the other two directories seemed to have disappeared entirely. I don't know if that is normal

/tmp/podman-run-$UID
/tmp/run-$UID

[2022-05-23 17:37] rhatdan commented on #14286
Does it work if you run in --privileged mode?

[2022-05-23 18:15] Luap99 commented on #14305
Duplicate of #13685

[2022-05-23 18:15] #14305 closed

[2022-05-23 18:59] rhatdan commented on #14286
I am just trying to figure out what is blocking su.

I would now try

--cap-add=all without --privileged.

If this does not work try with SELinux disabled.

--security-opt label=disabled

And try with SECCOMP disabled

--security-opt seccomp=unconfined

[2022-05-23 19:00] rhatdan commented on #14286
It might be

podman run --cap-add AUDIT_WRITE ...

[2022-05-23 19:05] sentry124 commented on #14286
Both --cap-add=all and --cap-add AUDIT_WRITE allowed for su

[2022-05-23 19:50] #14222 closed

[2022-05-23 19:50] #14223 closed

[2022-05-23 20:16] SoMuchForSubtlety commented on #14160
Agreed, but as far as I can tell, there is currently no way to overwrite the type of a struct field with go-swagger. There is an open issue for this feature https://github.com/go-swagger/go-swagger/issues/2599

[2022-05-23 20:17] jkonecny12 commented on #14182
Hi @rhatdan if I understand it correctly than this is not resolved. The change pointed above should be extended also to the `prune` command. If that is true, than this should not be closed.

[2022-05-23 20:18] edsantiago commented on #14184
* fedora-36 : int remote fedora-36 root host [remote]
  * PR #14321
    * [05-23 12:31](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4537891882795008/html/int-remote-fedora-36-root-host.log.html#t--Remote-build--containerignore-filtering-embedded-directory---13535---1)
    * [05-23 12:31](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae

[2022-05-23 20:30] rhatdan commented on #14182
Ok is anyone interested in making this change?  Has anyone verified that this is not already fixed? Since podman system prune uses the same library, at least for images, this should be fixed.

[2022-05-23 20:34] rhatdan commented on #14306
@vrothberg PTAL

[2022-05-23 20:39] rhatdan commented on #13550
This is not something that Podman does, so I am closing.  I think this needs to be done with other tools potentially side car containers.

[2022-05-23 20:39] #13550 closed

[2022-05-23 20:39] edsantiago opened #14331 "timeout in sctp? forward expose?"
There's a flake that seems to be having cascading flake effects. I think, but am not sure, that the problem begins with the `  podman run forward sctp protocol` test:
[code]
When this happens, it seems to trigger flakes in ` podman run network expose host port 80 to container port ` and `podman run network expose duplicate host port results in error ` tests

I'm just going to link to the `sctp` fa

[2022-05-23 20:39] rhatdan commented on #13893
@mheon Anything further on this?

[2022-05-23 20:40] rhatdan commented on #13871
@Luap99 Anything further on this?

[2022-05-23 20:41] rhatdan commented on #11950
And the beat goes on.

[2022-05-23 21:00] rhatdan commented on #13582
Any objections to changing copy.Options.OptimizeDestinationImageAlreadyExists to default to on, or customizable in containers/common, so that we can see if this is better?

[2022-05-23 21:16] TCROC opened #14332 "Snap Package"
Building off of this issue: https://github.com/containers/podman/issues/14302

Would it be possible to package podman into a cross platform package manager such as snap?  I'm not familiar at all with the internals, just brainstorming different ways to streamline it since its super cool!

(So far I'm absolutely LOVING not having to run docker as root!!! :) )

[2022-05-23 21:23] lsm5 commented on #14332
IIUC, there was already a snap / flatpak created. I don't know the current status though. @TomSweeneyRedHat any idea?

[2022-05-23 22:30] wuestkamp commented on #14302
Is there still a way to install Podman (any version) on Ubuntu 20.04?
Because this throws `gpg: no valid OpenPGP data found`:

[code]

[2022-05-23 22:32] wuestkamp opened #14336 "Podman won't install on Ubuntu 20.04 any longer"
Is there still a way to install Podman (any version) on Ubuntu 20.04?
Because this throws `gpg: no valid OpenPGP data found`:

[code]

[2022-05-24 00:23] TCROC commented on #14302
@wuestkamp I suggested something over here: https://github.com/containers/podman/issues/14332

 Sounds like Snap or Flatpak might be a possibility 👀.  Still waiting on an official comment.

[2022-05-24 03:34] rhatdan commented on #14286
This means that RHEL6 su wants to do AUDIT_WRITE or fails.  Thus add the capability and you are all set.  Newer versions ignore this error or do not attempt.

[2022-05-24 03:34] #14286 closed

[2022-05-24 03:44] rhatdan commented on #14332
This is an opensource project, if community wants to maintain SNAP or Flatpak we are fine with that.

[2022-05-24 05:20] afbjorklund commented on #14332
https://docs.docker.com/engine/security/rootless/

[2022-05-24 05:20] jahamilton12121 commented on #14317
changing the env variable causes docker-tar files to go into /run/user as well which is not wanted. Is there anyway to get the directories I mentioned into /run/user, and docker-tar files into /var/tmp?

[2022-05-24 05:22] gbraad commented on #14224
One of the issues with the installer is that no confirmation is given of success. Adding  a 'start after install', like opening a release notes file... while not very 'helpful' does allow to indicate something happened:

[code]

[2022-05-24 05:22] afbjorklund commented on #14302
The kubic packages are still the "best", but they do have security issues.

[2022-05-24 05:27] afbjorklund commented on #14336
Hmm, this breaks minikube. We might have to build our own package again, sigh.

* https://github.com/kubernetes/minikube/issues/14198

[2022-05-24 05:40] jahamilton12121 commented on #14317
closing again sorry. Using XDG_RUNTIME_DIR instead of TMPDIR worked for above comment

[2022-05-24 05:40] #14317 closed

[2022-05-24 07:37] #14291 closed

[2022-05-24 07:54] wvh-github commented on #14336
From what I see the podman packages disappeared from all kubic repos:

https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/

https://build.opensuse.org/projects/devel:kubic:libcontainers:stable/pulse

"_Package was deleted ([podman](https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman)) by [lsm5](https://build.opensuse.org/users/lsm5) about 19

[2022-05-24 08:15] vrothberg commented on #14306
Thanks for reaching out, @maxclac!

To validate the theory, can you share the logs via `podman --log-level=debug pull ...`? If the output indicates that `localhost:5000` is contacted prior to docker.io, then the registry isn't configured correctly.

[2022-05-24 11:11] edsantiago commented on #11950
Could not reproduce overnight; assuming it was a golang bug that has been fixed.

[2022-05-24 11:11] #11950 closed

[2022-05-24 12:13] maxclac commented on #14306
[code]

[2022-05-24 12:21] maxclac commented on #14306
Thanks @vrothberg ! However, as I posted before, I already set the registry to insecure in my registries.conf.

[2022-05-24 12:25] vrothberg commented on #14306
Does it work when you set the following?
[code]

[2022-05-24 12:34] maxclac commented on #14306
Yes, even if obviously I can just pull from the local registry.

[2022-05-24 13:16] mheon commented on #13893
@Luap99 was looking into a very similar issue on Bugzilla, and preliminary thinking was that it was potentially a kernel issue - reproduced on RHEL 8 only.

[2022-05-24 13:27] rhatdan commented on #12811
@flouthoc Any time to work on this?

[2022-05-24 13:28] rhatdan commented on #12660
@flouthoc did you ever add the note?

[2022-05-24 13:28] gbraad commented on #14225
@rhatdan these are for testing purposes: https://github.com/containers-contribs/podman-installer/releases

[2022-05-24 13:33] cdoern commented on #14313
yeah, this is definitely doable and should be implemented, I will tackle this.

[2022-05-24 13:33] cdoern commented on #14312
this is in the works this week :)

[2022-05-24 13:36] cdoern commented on #14264
I like this idea... I can implement this summer if no one else wants to take this?

[2022-05-24 13:45] mheon commented on #14336
We have not been maintaining the Kubic repositories for over a year, and they have accumulated a number of security vulnerabilities in the process; as such, the decision was made to stop hosting the packages. I believe the current suggested alternative is https://github.com/containers/podman/issues/14065#issuecomment-1127036903 but @lsm5 should have more details.

[2022-05-24 14:24] lsm5 commented on #14336
I have restored the `devel:kubic:libcontainers:testing` project. Give it some time and the repos should be published. Hope that gets you unblocked.

Beware that the podman in there is v3.4.2 which is vulnerable to IIRC 4 CVEs (3 of them are probably low severity) and please consider some alternatives as mentioned in https://github.com/containers/podman/issues/14278#issuecomment-1131743956

[2022-05-24 14:38] lsm5 commented on #14336
I have also restored podman on the `devel:kubic:libcontainers:stable` project which is what most people were using. Again, this is the same v3.4.2 build that used to exist prior and is vulnerable to the CVEs mentioned above. So, use at your own risk.

Builds should be published in a few mins.

[2022-05-24 14:41] lsm5 commented on #14302
Given all the love for podman and ubuntu 20.04, I have restored podman on the `devel:kubic:libcontainers:stable` project. Again, this is the same v3.4.2 build that used to exist prior and is vulnerable to the CVEs mentioned above. So, use at your own risk.

Builds should be published in a few mins.

[2022-05-24 14:46] ykuksenko opened #14345 "netavark dns resolves container fqdn on only one network when multiple networks connected"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a container is connected to multiple networks only one network can resolve containers by fqdn.

**Steps to reproduce the issue:**

1. create two networks
[code]
2. start up a container that will be resolved in dns attached only to network1 and have it do nothing
[code]
3. create a contai

[2022-05-24 15:04] lsm5 commented on #14332
@TCROC i have restored the podman package on the kubic repo. It's still v3.4.2 though.

A Snap package would  likely have to be a community contribution as upstream podman won't be providing it.

[2022-05-24 15:41] Tanmay-Kudchadkar opened #14347 "" Error: Post "http://gateway.containers.internal/services/forwarder/expose": dial tcp: lookup gateway.containers.internal: no such host " when trying to run a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to run a container and keep hitting the same error over and over again. I am not sure why it is happening and cannot find a solution to the problem. This issue only arises when I use the --publish flag.

**Steps to reproduce the issue:**

1. Pull the IBM MQ Container image
[code]

[2022-05-24 15:48] Luap99 commented on #14347
You have to match the major version between the client and server, brew should have the latest client version available.

[2022-05-24 15:48] #14347 closed

[2022-05-24 15:57] rhatdan commented on #14225
When I try to install it, The mac refuses because it is not sure the app does not have malware?

[2022-05-24 16:04] Luap99 commented on #13871
This seems to be a RHEL only issue closing this in favour of https://bugzilla.redhat.com/show_bug.cgi?id=2075373

[2022-05-24 16:04] #13871 closed

[2022-05-24 16:05] Luap99 commented on #13893
This seems to be a RHEL only issue closing this in favour of https://bugzilla.redhat.com/show_bug.cgi?id=2076310

[2022-05-24 16:15] gbraad commented on #14225
These packages are unsigned. This is a known issue until they can be
signed. You need to allow the installation from the preferences security
tab.

On Tue, May 24, 2022, 23:57 Daniel J Walsh ***@***.***> wrote:

[2022-05-24 17:09] mheon commented on #14345
@flouthoc PTAL

[2022-05-24 17:28] #14315 closed

[2022-05-24 17:33] rhatdan commented on #12811
@cdoern Interested in this one?

[2022-05-24 17:46] flouthoc commented on #14345
@ykuksenko I think `container1` is only connected to `network1` please connect it to `network2` as well in order to get it resolved from nameserver in `network2`. So `podman run --detach --rm -ti --name container1 --network network1,network2 alpine sleep 9000` should be the right thing here.

OTOH you could say that bug is that short name should not get resolved by nameserver if container is not c

[2022-05-24 17:56] cevich commented on #14331
Ya, that's within the 30-day window so the old images should still be around...

[2022-05-24 18:35] edsantiago opened #14350 "build copy-from: Unmounting, invalid argument, no stage or image found with that name"
It's a one-off, but I don't like one-offs:
[code]
### [sys] 150 build with copy-from referencing the base image
* fedora-35 : sys podman fedora-35 root host
  * PR #14319
    * [05-24 04:21](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6522966241443840/html/sys-podman-fedora-35-root-host.log.html#t--00150)

[2022-05-24 18:39] edsantiago commented on #11594
Seen today [f36 remote rootless](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4974853869535232/html/sys-remote-fedora-36-rootless-host.log.html#t--00345):
[code]

[2022-05-24 18:42] edsantiago commented on #14331
Here's a failure in just the `expose` and `hostname` tests, without `sctp`: again, [f35](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5631511352311808/html/int-podman-fedora-35-root-host.log.html#t--podman-run-network-expose-host-port-80-to-container-port--1)

[2022-05-24 18:58] edsantiago opened #14351 "podman play --service-container : is not stopping (flake)"
Three flakes in my PR, finally passed on the fourth try:
[code]
Unfortunately, #14338 (timeout bump) did not work. Sorry @vrothberg.

### [sys] 341 podman play --service-container
  * PR #14346
    * [05-24 14:16](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4638046896259072/html/sys-podman-ubuntu-2110-rootless-host.log.html#t--00341)
    * [05-24 13

[2022-05-24 19:22] lsm5 commented on #14278
Yes, i'm fixing that up right now. There should be a build in sometime.

[2022-05-24 19:24] ykuksenko commented on #14345
`container1` is intentionally connected to only `network1` for isolation. For some additional context of where I ran into this issue, I use the following scenario so that the `database` is more isolated from the `load balancer`:
[code]
In this scenarios the `application` container sometimes fails to resolve the `database` when addressed with FQDN. I prefer using FQDNs for names because it makes it

[2022-05-24 19:43] n1hility commented on #14224
@gbraad yes I totally agree on that. I think we have three options we could auto open:

1. Launch release notes
2. Launch tutorial
3. Open terminal, perhaps printing a small tip segment

Any preference?

[2022-05-24 19:49] lovette commented on #13277
What is the current thinking as far as cli arguments go? Is it feasible to enhance `--no-hosts` to work in concert with `--add-host` and a new `--hosts` option to facilitate more flexible runtime management of container hosts? What would a proposed options table based on my 2/28 comment look like, including the influence of `base_hosts_file`?

[2022-05-24 19:55] lsm5 commented on #14278
18.04 should be fixed now. Let me know if any issues.

[2022-05-24 20:22] cevich commented on #14331
From [the current `main`](0f5c06dac58645943469c63999931c165dba9031):
+ kernel `5.17.4-200.fc35`
+ iptables-legacy `1.8.7-13.fc35`, nftables `1.0.0-1.fc35`
+ containernetworking-plugins `1.1.0-1.fc35`

From PR #14178:
+ kernel `5.16.20-200.fc35`
+ iptables-legacy `1.8.7-13.fc35`, nftables `1:1.0.0-1.fc35`
+ containernetworking-plugins `1.1.0-1.fc35`

From the [f35](https://storage.googleapis.com/ci

[2022-05-25 00:47] ktram commented on #14303
Also running into this, and I saw the same `qemu-system-aarch64: -netdev socket,id=vlan,fd=3: can't get socket option SO_TYPE` error message as @nycnewman.  After downgrading qemu, I was able to run podman.

[2022-05-25 01:44] peterlobster opened #14352 "Creating network with CNI DHCP only outputs 'No route to host""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

bug

**Description**

I've been following the steps on [here](https://github.com/containers/podman/blob/main/docs/tutorials/basic_networking.md) to create a macvlan setup, but they don't work.

After creating the container with `$ sudo podman run -dt --name webserver --network webnetwork quay.io/libpod/banner` and verif

[2022-05-25 01:46] peterlobster commented on #14352
Also, FWIW I have no firewall active.

[2022-05-25 03:31] ppadashe commented on #14278
@lsm5  Now I see this error when trying to install from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/

[code]

[2022-05-25 06:12] afbjorklund commented on #14336
This is the same use case (`build`) as minikube has. We also use it to `load` images, the rest is CRI.

[2022-05-25 06:56] praveenkumar opened #14353 "[Linux] Podman static binary for 4.0.2 release have fatal error"
- Download the podman static binary from https://github.com/containers/podman/releases/download/v4.0.2/podman-remote-static.tar.gz and untar it.
- Try to run any command or help

[code]

[2022-05-25 07:27] vrothberg commented on #14351
Thanks, @edsantiago. I am going to take a look immediately.

[2022-05-25 07:35] ppadashe commented on #14278
@lsm5  I think initially podman version was 3.0.1  here : https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/ but you have reverted bit higher version which might be causing this dependency error above ? Can you please revert back the version which was existing earlier ?

[2022-05-25 08:02] vrothberg commented on #14351
I smell where it's coming from. Will prepare a PR in a jiffy.

[2022-05-25 08:42] vrothberg commented on #14306
I can reproduce the issue on CentOS 7.9 but am unable to find a corresponding bug report since 1.6.4.   It's definitely working in more recent versions of Podman.

Any chance you can upgrade to a newer version?

If you want to see this fixed in 1.6.4, please open a bug in the Red Hat Bugzilla.  Upstream does not support 1.6.4 anymore.

[2022-05-25 08:42] #14306 closed

[2022-05-25 09:12] maxclac commented on #14306
Thanks a lot!

[2022-05-25 09:19] flouthoc commented on #12660
Added a PR for this.

[2022-05-25 09:37] heidricha opened #14356 "dns resolver doesn't work for nginx"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. create two containers in the same network, at least one of them is nginx

2. check DNS name resolver in the containers

3. use the checked resolver IP address and DNS  names in "resolver" and "set" option in nginx.conf for proxy_pass

**Describe the results you received:**
DNS works, I can use commands like ping, getent, nslookup, d

[2022-05-25 09:37] zhangguanzhang commented on #14353
link to: https://github.com/containers/podman/issues/13557

[2022-05-25 09:38] rhatdan commented on #14306
This is not likely to be back ported BTW,  Best option is to move to RHEL8.

[2022-05-25 09:42] rhatdan commented on #14353
Could you check the 4.1?

[2022-05-25 09:44] #14353 closed

[2022-05-25 10:07] Luap99 commented on #14352
Please provide the output of `ip addr` and `ip route` on the host.

[2022-05-25 10:10] praveenkumar commented on #14353
@rhatdan https://github.com/containers/podman/issues/14201 is issue with 4.1 which have windows binary instead Linux :(

[2022-05-25 10:22] rhatdan commented on #14201
@mheon Can you force a fix up to github?

[2022-05-25 10:46] praveenkumar commented on #14353
Also this is blocker for us to provide podman bundle for crc because we depend on the `podman-remote` binaries (for all platform) to add the system connection and provide direct client binary to the users after using podman bundle.

[2022-05-25 11:14] wuestkamp commented on #14336
Anyone not wanting this to happen again could download and store .deb files from
https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/xUbuntu_20.04
Then install manually.

Like:
[code]

Not recommended way for prod though as packages should be able to be updated etc. Sounds like proper way is to upgrade to Ubuntu 22.04.

[2022-05-25 11:48] edsantiago commented on #14331
This is our number one flake right now and it's happening multiple times per PR

[2022-05-25 11:56] edsantiago opened #14359 "RFE: pull --retry"
[like #14048 but for pull]

This is causing multiple CI flakes per day:
[code]
We have no control over broken registries or network hiccups.

Could we just implement `podman pull --retry 3` with perhaps an exponential backoff?

[2022-05-25 12:00] vrothberg commented on #14359
Podman is already doing three retries by default (see https://github.com/containers/common/blob/main/libimage/copier.go#L273) but it seem the specific error isn't caught in the retry semantic.

[2022-05-25 12:11] #14351 closed

[2022-05-25 12:13] vrothberg commented on #14359
@mtrmac AFAIKS, there's no public error type we could check for, so we may need to string compare. WDYT?

[2022-05-25 12:16] peterlobster commented on #14352
@Luap99 Sure. Here it is...

[code]

[code]

[2022-05-25 12:41] edsantiago commented on #7096
This just popped up again after many months of absence; but it's in test runs also affected by #14331 (the horrible sctp one)

### Podman create with --ip flag [It] Podman create two containers with the same IP
* fedora-35 : int podman fedora-35 root host
  * PR #14354
    * [05-25 07:30](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6514268865560576/

[2022-05-25 12:48] lukas-vlcek commented on #14303
I am running into the same issue.
@ktram Would you mind sharing your steps to downgrade qemu? I installed it using brew and it seems that downgrading packages in brew is full of magic.

[2022-05-25 12:51] vrothberg commented on #14350
@flouthoc this looks like a cool nut to track .

[2022-05-25 12:53] vrothberg commented on #14332
I concur with @lsm5. This is not something upstream can realistically provide.  I am converting it into a discussion.

[2022-05-25 12:53] #14236 closed

[2022-05-25 12:57] #13422 closed

[2022-05-25 12:59] Luap99 commented on #14331
Thanks @cevich. Can I just replace the image id in cirrus.yaml and run the `get_ci_vm` script to get the old VM image?

[2022-05-25 13:02] vrothberg commented on #14287
Fixes have been merged and will be shipped with Podman v4.2. Thanks again for reporting!

[2022-05-25 13:02] #14287 closed

[2022-05-25 13:02] Luap99 commented on #14352
weird, have you tried a different image or if you can connect from the container to the outside?

[2022-05-25 13:21] mheon commented on #14352
Did you start the CNI DHCP forwarder daemon? `sudo /usr/libexec/cni/dhcp daemon`?

[2022-05-25 13:34] ashley-cui commented on #14303
Hmm, maybe it looks like something changed in qemu 7.0? Taking a look...

[2022-05-25 13:34] rachnajain-ibm commented on #14278
@lsm5

Podman install is going through now but I see following error post that on doing Podman login to image registry

[code]
How can this be fixed?

[2022-05-25 13:42] rachnajain-ibm commented on #14278
@lsm5

This is on 18.04

[code]
Why rootful mode is required now?
Earlier the same code was working fine.

[2022-05-25 13:50] lfarkas opened #16730 "add EnvironmentFile support (Quadlet)"
currently (at least form the documentation file it seems) on the Environment= is supported but not the EnvironmentFile= which would be very useful (we can't use it without it).
thnaks.

[2022-05-25 13:52] lfarkas opened #16729 ".volume file example and description (Quadlet)"
there is not any example how to use .volume files. there is a description in the container section which is working, but there are no description what is the difference when which one is the preferred and how to use the .volumes files? since we can't find any ways how to add a volume with it.

[2022-05-25 13:52] Luap99 commented on #14352
One thing which looks odd is the `sit0` interface. What is that?
It looks like the container interface is connected to that `eth0@sit0` but your network config says correctly `eno1`.

[2022-05-25 13:55] peterlobster commented on #14352
@Luap99 Good question. I needed clarification as well.

[code]

FMU, from the Gentoo folks, it automatically gets created and added when you enable IPv6 in the kernel. I'm told I shouldn't worry about it.

[2022-05-25 14:13] SoMuchForSubtlety commented on #14160
The `swagger:strfmt` hint seems to do the trick in this case, but only because `StaticIP` is explicitly defined as IPv4. There are eight other references to `#/definitions/IP` that still need to be addressed.

[code]

[2022-05-25 14:23] rhatdan commented on #14160
Care to open a PR to make these changes?

[2022-05-25 14:27] Luap99 commented on #14352
Looks like the kernel cannot create macvlan devices with sit0, since this is not an actual device I think this is expected.

Could try to set promisc mode on you eno1 interface.
`ip link set eno1 promisc on`

[2022-05-25 14:33] rayankiy commented on #14278
@lsm5 : We are also blocked by the same error reported . Can you help us to get unblocked and proceed ?
[code]

[2022-05-25 14:40] lsm5 commented on #14278
working on it, will update here once it's done.

[2022-05-25 14:45] peterlobster commented on #14352
@Luap99 Yup.

[code]

[2022-05-25 14:49] edsantiago opened #14362 "tail 800 lines journald: incomplete output"
Two flakes in one week:
[code]

### Podman logs [It] tail 800 lines: journald
* fedora-35 : int remote fedora-35 root host [remote]
  * PR #14272
    * [05-19 09:16](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4855020456771584/html/int-remote-fedora-35-root-host.log.html#t--tail-800-lines--journald--1)
    * [05-19 09:16](https://storage.googleapis.

[2022-05-25 14:56] kbknapp opened #14363 "Failed config validation with custom CNI plugins"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Adding a custom CNI plugin fails configuration validation

**Steps to reproduce the issue:**

1. Add a file `/etc/cni/net.d/10-demo-custom-cni.conflist` with the contents (contents are valid for the `custom-cni` plugin:

[code]

3. Place `custom-cni` binary in `/usr/local/lib/cni/` (which is

[2022-05-25 14:59] mheon commented on #14363
Please try 4.0 - we did a full rewrite of our network stack in 4.x, which may have resolved the problem.

[2022-05-25 15:03] ran-dall commented on #14352
@peterlobster You can safely turn `sit` into a module on this system. It should get rid of it for you guys if it's truly not needed (which I think it isn't). `IPV6_SIT=m`

[2022-05-25 15:12] peterlobster commented on #14352
@ran-dall Yup.

[code]

@Luap99 Trying again, from the top.

[code]

[code]

Also, I don't know if this matter, but I am using `NetworkManager` and `dnsmasq`.

[2022-05-25 15:31] kbknapp commented on #14363
The reason I think it's not that and that it's coming from somewhere in Podman (or related libs) is running the plugin manually works (i.e. if do `podman run --net=none ...` and then `cat /etc/cni/net.d/10-demo-custom-cni.conflist | CNI_COMMAND=ADD CNI_ARGS=... CNI_NETNS=... CNI_IFNAME=... /usr/local/lib/custom-cni`).

[2022-05-25 15:36] Luap99 commented on #14363
Also I do not think that using the full conflist for the plugin is correct, the cni lib will send a different config to the plugin not the original, check https://github.com/containernetworking/cni/blob/main/SPEC.md

I am closing this since the issue is not related to podman but fell free to continue the conversation.

[2022-05-25 15:36] #14363 closed

[2022-05-25 15:39] tmds opened #14365 "Unable to access UDP port 53 exposed by container from network"
I currently have [pihole](https://pi-hole.net/) running with docker on Debian, and I'm trying to get it to work on Fedora Server 36 with podman.

To be able to use port 53, I set `DNSStubListener=no` in `/etc/systemd/resolved.conf`

I've started the container using `podman` as the root user.

[code]
I can use the DNS server using `127.0.0.1`:
[code]
However, it doesn't work from the network. And,

[2022-05-25 15:44] mheon commented on #14365
By "from the network" do you mean other hosts on the same physical network, and not other containers on a Podman network, correct?

If so, I'd assume that you have firewall rules blocking UDP traffic from reaching the host running Podman on that port. Firewalld being off doesn't prevent that, they could be plain iptables. Can you provide the output of `iptables -nvL`?

[2022-05-25 16:09] cevich commented on #14331
Sometimes :stuck_out_tongue_winking_eye: It depends on if there were script changes associated with the image update, or not.  The safest thing to do is check out the commit that has the image you want, and use the script from there.  Also, if you just need to poke around in the VM and don't intend to execute `./contrib/cirrus/runner.sh` you can speed things up a bit by hitting `ctrl-c` when it st

[2022-05-25 16:50] skepticoitusInteruptus commented on #14236
We're good @n1hility. I apprecicate it was neither your nor @giuseppe's highest priority.

If either of you ever do get one or two free cycles, I'm curious to get some insight into how unreasonable my expectations are [_in this crun issue I reported last week_](https://bit.ly/crun923).

I appreciate why *in practice* that would be an implementation detail for something like a Podman.

I haven't be

[2022-05-25 17:06] lsm5 commented on #14278
@rachnajain-ibm @rayankiy rootless should be fixed now, please refresh your repos and try again. Thanks.

[2022-05-25 17:08] jefflill opened #14367 "Ubuntu 22.04 installs podman v3.4.4: Errors were encountered while processing golang-github-containers-image and golang-github-containers-common"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Installing podman on **Ubuntu 22.04** via **apt-get** fails with:

[code]

**Important:** Podman v3.4.4 is being installed here not the latest **v4.1.0** build.  Perhaps this is the underlying problem?

**Steps to reproduce the issue:**

Run the following commands on a new Ubuntu 22.04 machin

[2022-05-25 17:15] LewisGaul opened #14368 "podman-remote defaults to client host's default network mode (slirp4netns when not running as root)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman-remote` seems to be defaulting the `HostConfig.NetworkMode` value for containers based on whether the *client side* is root, rather than the **remote**.

**Steps to reproduce the issue:**
1. Set up a podman-remote connection on a host running non-root to a remote host which will be con

[2022-05-25 17:25] Luap99 commented on #14367
Please report debian package issues to the debian bug tracker. This is not an upstream issue.
https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=podman

[2022-05-25 17:25] #14367 closed

[2022-05-25 17:29] lospringliu commented on #14278
By default it does not work, we need a working default one on ubuntu 18.04
[code]

[2022-05-25 17:41] lsm5 commented on #14278
@lospringliu can you confirm you have:
[code]

I have these on my 18.04 instance with the Kubic repo and the command you gave works for me.

[2022-05-25 17:47] rayankiy commented on #14278
@lsm5 : Still failing with
[code]

[2022-05-25 17:48] lospringliu commented on #14278
@lsm5 , actually there is no `fuse-overlayfs` yesterday, but does have now

I think there is differences when users use different mirrors

[2022-05-25 17:54] lsm5 commented on #14278
@lospringliu mirror syncing may take a while I guess.

@rayankiy do you have those podman and fuse-overlayfs packages I posted in the earlier comment?

[2022-05-25 17:58] tmds commented on #14365
Yes.

[code]

[2022-05-25 18:40] lsm5 commented on #14278
@lospringliu yes, but hope that works for you though. The latest version of fuse-overlayfs needed fuse3 and restoring the archive was gonna be a lot more painful than I imagined. And I also had to build for newer ubuntu, so that's why.

[2022-05-25 18:52] lospringliu commented on #14278
understand and thanks, it works anyway with warnings

[2022-05-25 19:09] mtrmac commented on #13582
To the extent it can be called an objection, “read the code / test this to verify it works as expected first, don’t just blindly try”.

I don’t see why this would be a per-site option. Either it should be a global default, or an option to decide per use (maybe based on the repo in question, and how it is used on that system); I find it hard to imagine a situation where there is something specific

[2022-05-25 19:22] mtrmac commented on #14359
What’s the exact type/value? Reading the code, I’d expect this to be an ordinary `errors.Wrapf`-ed HTTP error, testable via `errors.As`/`errors.Is` (In particular, it should _not_ be a `signature.PolicyRequirementError`.)

Going further, `net/http.tlsHandshakeTimeoutError` (if that’s what the underlying error is) is not public, but it should be possible to test that via `net.Error.Timeout()`. Addi

[2022-05-25 20:28] shanesmith commented on #14303
In case it's of any use, I'm finding that the max memory I'm able to set on a machine is `3072`, otherwise I see the `connection refused` error.

✔️ The following works:
[code]

[code]

[code]

✖️ The following results in the `connection refused` error:

[code]

[code]

[code]

[2022-05-25 20:40] justin-f-perez commented on #14303
I am also experiencing this issue on an M1 mac running MacOS 12.4 (21F79) with podman 4.1.0 and qemu 7.0.0 (with qemu being installed automatically by homebrew as a dependency of podman).

## 🔧  pm-clean util function
I ran this before each of the below tests
[code]

## ❌ 🐛  `podman machine init; podman machine start podman-machine-default`

**For whatever reason, this spawns a separate qemu-syste

[2022-05-25 21:19] cpolizzi commented on #11458
Thank you for working on having the podman managed machine incorporate the QEMU emulation packages. Currently I have had to handle this in a restrictive corporate environment and specifically for an M1 Mac. By restrictive I mean:
1. End computing assets must be routed through a proxy server to access public / external / Internet resources.
2. Proxy infrastructure are SSL inspecting.

Combined this

[2022-05-25 22:42] TheFloatingBrain commented on #3843
Also having the problem, I use (usually multiple) containers on most of my accounts on this system, did a full `podman system reset` a couple of days ago on one of my users, now having trouble building a container (again) I built on another user. Both users run into the same problem, I split the it up into multiple Dockerfiles, it fails at one of them somewhere along the way and I have to delete s

[2022-05-26 00:49] n1hility commented on #13984
This feature request sounds like a good idea. I have it on my eventual todo but if anyone wants to  take a stab at contributing this is a nice first time feature. Feel free to ping me on the issue for help if you are interested.

[2022-05-26 00:59] rachnajain-ibm commented on #14278
@lsm5

It is still not working getting same error.

[code]

[2022-05-26 01:01] ppadashe commented on #14278
@rachnajain-ibm  Try to install podman with  --install-recommends  option. Something like this
[code]

[2022-05-26 02:10] kbknapp commented on #14363
Just to close the loop it turned out it was the plugin expecting a field that shouldn't have been there. My test didn't catch it cause I was manually writing what I *thought* Podman was sending, not what it was actually sending. A quick `strace` to see what Podman was sending cleared it up.

I appreciate all those that took time out of their day to assist and make suggetions!

[2022-05-26 04:23] flouthoc commented on #13626
@edsantiago Are we still facing this anywhere ? I think we captured logs on rhel gating it was failing because of OOM with error like `fatal error: out of memory allocating heap`. I think similar is happening here but we will have to capture logs to confirm as of now we redirect log to `/dev/null`.

[2022-05-26 05:48] kontza commented on #14365
Hi,

I'm battling with a similar problem, only my new OS is openSUSE MicroOS.

I've been using netcat as a low-level connection tester. I've set it up to listen to either UDP or TCP traffic and in another terminal another instance of netcat is used to connect to the first. You could try that to see at low-level if there is any traffic.

[2022-05-26 06:04] rachnajain-ibm commented on #14278
@lsm5

We see issue in running below command

`podman login --authfile=${HOME}/.docker/config.json -u $DOCKER_USERNAME -p $DOCKER_API_KEY $DOCKER_REGISTRY
`
Need the flag --authfile= to save the config.json which is not working as per our requirement.
Can this be fixed at your end?

[2022-05-26 06:37] rachnajain-ibm commented on #14278
@lsm5

With latest Podman, we see `.docker/config.json` content in the format:
[code]

But in older version of Podman , this config.json was generated in the format below:

[code]

This is causing failure. Can this be fixed ASAP?

[2022-05-26 06:50] aaronjwhiteside opened #14375 "Using ${TARGETARCH} in a FROM stage does not work"
/kind bug

**Description**

`${TARGETARCH}` is not populated when used in a `FROM` stage.

As documented here: https://docs.docker.com/engine/reference/builder/#automatic-platform-args-in-the-global-scope

**Steps to reproduce the issue:**

Given this trimmed down Dockerfile:
[code]

**Describe the results you received:**
When building with podman (Mac M1), the following error is received:

[code]

[2022-05-26 08:35] tmds commented on #14365
If I run `nc` on the system an listen on UDP 53, I See `recvmsg` calls for DNS queries coming in.

I noticed these in the `pihole` log.
[code]

I forgot to add these caps. Adding them didn't solve the issue though.

I'm now starting `pihole` as:
[code]

`netstat` shows the udp ports being bound to the any address.

[code]

I don't understand why using `127.0.0.1` works, and `192.168.1.237` does no

[2022-05-26 08:55] tmds opened #14376 "container fails to start with: failed to mount shm tmpfs: invalid argument"
I have a container that runs fails to start with `failed to mount shm ... : invalid argument`.

The container used to start before.

[code]

Some info about the container:
It runs gogs: https://hub.docker.com/r/gogs/gogs.
One volume is mounted to an NFS folder. This is the `/data` volume, so probably not related to the error.
The container gets started as the `root` user on a `Fedora 36` VM.

[2022-05-26 09:21] flouthoc commented on #14375
Hi @aaronjwhiteside , Thanks for creating the issue. Above PR should close this but we will have to wait till this gets into buildah and buildah into podman.

[2022-05-26 09:42] rhatdan commented on #14365
@Luap99 @mheon @flouthoc This feels a lot like ardvark-dns holding onto port 53 causing issues.

[2022-05-26 09:44] rhatdan commented on #14376
If you remove and recreate the container does the problem go away?

Also could you get the --log-level=debug logs for this.

[2022-05-26 09:56] tmds commented on #14376
Yes. If I create a new container with the same arguments it starts successfully.

[code]

[2022-05-26 10:00] rhatdan commented on #14376
@mheon @vrothberg @giuseppe Ideas?

[2022-05-26 10:42] rhatdan commented on #3843
Please open a new issue, do not just add information to old issues.

[2022-05-26 12:06] edsantiago commented on #14359
It's not just TLS timeout, there's also `internal error`:
[code]
(seen [here](https://api.cirrus-ci.com/v1/task/5349430919430144/logs/main.log))

[2022-05-26 12:14] aaronjwhiteside commented on #14375
Wow! Thanks @flouthoc for the super quick turn around time!

Do you have any rough kind of estimate when this gets picked up by buildah and then finally podman, are we talking days, weeks or months?

[2022-05-26 12:37] rhatdan commented on #14375
It should be in podman 4.2 and buildah 1.27.0,  I would figure July/August time frame.

[2022-05-26 12:54] geoynomous opened #14380 "vfs-driver: mkdir requires -p"
/kind bug

**Description**

When using vfs-driver in rootful setup, the mkdir misses to first create some parent directory - a "-p" solves it

**Steps to reproduce the issue:**

1. Try a simple `pull`

[code]

Fails!

2. mkdir the directory manually

`bash-5.1# mkdir /installation/containers/vfs/dir/e07ee1baac5fae6a26f30cabfe54a36d3402f96afda318fe0a96cec4ca393359
`

3. Do the `pull` again

[code]

[2022-05-26 13:12] mheon commented on #14376
Any chance there's still a tmpfs mounted at the path Podman is trying to mount to? Maybe we failed to clean up the shm from the first time the container was run?

[2022-05-26 13:14] mheon commented on #14365
Aardvark isn't running, otherwise Conmon wouldn't have been able to bind to 0.0.0.0:53.

Can you also provide `iptables -t -nat -nvL`? I'm beginning to suspect port forwarding itself is the issue.

[2022-05-26 13:16] mheon commented on #14380
@nalind PTAL

[2022-05-26 13:23] tmds commented on #14365
[code]
My Fedora VM runs kernel v5.17.5.

[2022-05-26 13:48] kbeswick commented on #14074
@rishabhj1717's workaround doesn't seem to work. Curious if anyone else has any workarounds, or if this is something that will make it into a future podman release?

[2022-05-26 13:53] rhatdan commented on #14376
One potential idea.
Do you have SELinux enabled on your system?  If not, you created this container before when SELinux was enabled and now are running with SELinux disabled.

[2022-05-26 13:57] rhatdan commented on #14380
I can not get this to fail on my system.

[code]

[2022-05-26 13:59] tmds commented on #14376
That may be it. I disabled SELinux to see if it had to do with https://github.com/containers/podman/issues/14365.
I'll re-enable and see if I can start this container then.

[2022-05-26 14:13] rhatdan commented on #14376
Guaranteed that it what this is.  Basically the context="..." is blowing on on a non SELinux machine.

[2022-05-26 14:13] #14376 closed

[2022-05-26 14:26] tmds commented on #14376
Would it make sense for `podman` to try and mount without the `context` on `EINVAL`?

[2022-05-26 14:34] nalind commented on #14380
Can you tell us more about the environment in which this is running?  Is it in a container?
The `mkdir ...: operation not permitted` error is surprising, because a missing parent directory should have triggered a "no such file or directory" error.
The driver would also normally have been called to create the layer's directory right before the image-pulling logic attempted to extract the contents o

[2022-05-26 14:35] rhatdan commented on #14376
I am not sure what would be the correct thing to do here.  The database says the container wants SELinux and SELinux is failing.

[2022-05-26 14:58] rhatdan commented on #13582
On 5/25/22 15:09, Miloslav Trmač wrote:

If you feel the code is buggy, then that is reasonable to leave off. 
Currently there is no way for user to turn this flag on, so the code
will never get improved.  I would have thought that this flag would
optimize pulling of images, but if you don't believe it will ,then what
is the purpose of the flag?

Find then should it be added a customizable field i

[2022-05-26 15:07] mtrmac commented on #13582
I’d not _known_ to be buggy. It just wasn’t originally made with pulls in mind, so it might need a look in that situation. (That was just a minor pushback to the idea that trying the option is a way to tell whether it works correctly.)

It doesn’t “optimize pulling” to be always better; if that were possible, we would just make that the default behavior and not an option. It’s users’ choice of a t

[2022-05-26 16:54] justin-f-perez commented on #14303
@shanesmith It doesn't seem to matter how I initialize the machine, I get the same meaningless error

[code]

[2022-05-26 17:21] catniptwinz commented on #12432
I'm having the same issue.

Client and server are both Arch Linux, podman 4.1.0 on both. Server is a VM (libvirt).

This is technically a rootful setup, but I'm accessing the root socket (/run/podman/podman.sock) over ssh as a non-root user, using a systemd drop in to ensure that the socket is owned by the "podman" group, to which my user also belongs.

`podman info` works as expected on server. C

[2022-05-26 18:01] ktram commented on #14303
@justin-f-perez I don't know if this will help you, but I used the information at the bottom of [this](https://itnext.io/goodbye-docker-desktop-hello-minikube-3649f2a1c469) to configure podman and minikube on my M1.  I've been initializing with

[code]

[2022-05-26 18:15] #12660 closed

[2022-05-26 18:27] tmds commented on #14376
If SELinux is disabled on the system, the SELinux container configuration could be ignored instead of causing the container to stop working.

It's counter-intuitive (to me) that something stops working when SELinux gets disabled.

Anyway, now that I know what the cause is, I've re-created my container and it's working fine.

[2022-05-26 19:12] karthikelango137 commented on #11780
got it

[2022-05-26 19:14] ashley-cui commented on #13461
@karthikelango137

[2022-05-26 19:15] karthikelango137 commented on #13461
git it

[2022-05-26 19:39] abitrolly commented on #4794
Looks like I managed to screw up my system with `podman` `:z` flag - https://github.com/teemtee/tmt/issues/1179  I am certain that it is because of `podman`, because it is the only thing I use that interacts with SELinux labels. Any hints how to fix that without disabling SELInux completely?

[2022-05-26 20:07] cpolizzi opened #14388 "Machine init with an explicit image path url always downloads"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Initializing a new podman machine using a specific FCOS image URL always downloads the image from the URL and does not first check if it already exists to bypass the download.

**Steps to reproduce the issue:**

1. `podman machine init --image-path https://builds.coreos.fedoraproject.org/prod

[2022-05-26 20:08] justin-f-perez commented on #14303
@ashley-cui what command should be run to see what VM image is being used?

@ktram many thanks for the suggestion, but this causes the same error as described in the initial issue description. I also tried just using just `--image-path next`. Finally, since the error occurs right after the message about mounting, I attempted to tell `podman machine init` not to mount any volumes by passing `-v ':'

[2022-05-26 20:12] mheon commented on #14388
@baude PTAL

[2022-05-26 20:16] mheon commented on #14368
I believe we fixed this in 4.1 - can you try 4.1.0?

[2022-05-26 20:17] ashley-cui commented on #14303
@justin-f-perez `podman machine inspect`

[2022-05-26 20:29] Rexyyj opened #14389 "Unable to restore a container to an existing network namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When a container is created by joining a network namespace with ```--net ns:<path>``` option, this container can be checkpointed successfully but will not be able to restore.

During the restoring, the following error appears:
[code]
**Steps to reproduce the issue:**

1.Create a network namesp

[2022-05-26 21:29] geoynomous commented on #14380
Yes - I digged into it - the /installation/containers is a mounted filesystem. To be precise - we are running podman inside a docker (currently, soon podman) - so build images in a shared (mounted) filesystem - such that later they are pre-cached on an AWS EFS in an AWS Fargate scenario.

[2022-05-26 21:31] geoynomous commented on #14380
@nalind I am not familiar with the driver internals too much - I only see that the `mkdir -p` works to create the "parent" inside the running container - while the `mkdir` during `pull` does not ...

[2022-05-26 21:45] willmtemple opened #14390 "Support special IP designator `host-gateway` in `--add-host`."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Related: https://github.com/containers/podman/issues/8466

Podman doesn't support `host-gateway` as a special IP designator when creating a container. Instead it creates an automatic mapping from `host.containers.internal` to the host NIC's IP address, but unfortunately that doesn't reall

[2022-05-26 22:01] justin-f-perez commented on #14303
@ashley-cui
[code]

[2022-05-26 22:35] daluu commented on #14142
Thanks for the info all, and thanks @galli-leo for the further investigation.

Just wanted to point out a recent observation, I don't think I made any updates to qemu or podman, or any other changes to podman since the initial report. The issue I reported, for me, seems to affect only aarch64 or arm64 images, which is the default used on M1 Macs if you don't specify underlying architecture for doc

[2022-05-27 05:34] TTWShell commented on #13092
What should we do with this issue? @jwhonce

[2022-05-27 05:49] TTWShell commented on #13717
What should we do with this issue? +1 @Luap99

[2022-05-27 06:16] zwjzxh520 commented on #13784
same issue with use pnpm

[code]

symlink is:

[code]

[2022-05-27 09:38] LewisGaul commented on #14368
I'm assuming the bug is in `podman-remote`, but I can't easily try out v4 because the Linux static binaries on the GH releases are actually Windows executables (there are open issues for this already).

[2022-05-27 09:44] rhatdan commented on #4794
restorecon -v -R -F PATHTOBADDIR.

[2022-05-27 09:50] rhatdan commented on #14380
Any chance you could give us a simple reproducer with either podman running in a docker or podman container?

[2022-05-27 10:01] rhatdan commented on #14390
Hey William, long time.

Another option would be to just add this by default to all containers, and then allow it to be turned on and off via containers.conf.

@Luap99 @mheon WDYT?

[2022-05-27 10:09] rhatdan commented on #13491
@baude @jwhonce Where are we on this one?

[2022-05-27 10:21] vrothberg commented on #13627
Sure, I can take a look.

[2022-05-27 11:27] AntonOellerer opened #14396 "Issue when trying to deploy a lambda function with serverless ecr support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to deploy a lambda function to aws lambda with serverless, using an [ECR image](https://www.serverless.com/blog/container-support-for-lambda), the deployment fails with the error message
[code]
When checking whether the image `xxx.dkr.ecr.eu-central-1.amazonaws.com/serverless-func

[2022-05-27 11:49] vrothberg commented on #13627
@mheon, are you cool if I add new container states (ContainerStatus{Healthy,Unhealthy})?

Unfortunately, the (remote) API uses `[]define.ContainerStatus` for the waiting conditions instead of strings.  Without breaking the API or ugly workarounds, I don't see another way.

[2022-05-27 11:53] shivampapat commented on #12262
I too am getting similar error.
I am running on
OS: RHEL  8
Podman : 3.3.1
Podman info --debug:
 ociRuntime:
    name: runc
    package: runc-1.0.2-1.module+el8.5.0+12582+56d94c81.x86_64
    path: /usr/bin/runc
    version: |-
      runc version 1.0.2
      spec: 1.0.2-dev
      go: go1.16.7
      libseccomp: 2.5.1

 Some containers do get restart after podman stop command but some gives the error

[2022-05-27 12:08] geoynomous commented on #14380
Yes I can provide - but takes until Sunday

[2022-05-27 13:10] raycardillo commented on #14303
Just ran into this myself as well. On an M1 Macbook Pro. Ended up being the memory limit for me. All I did that caused this was:
- typical brew install (4.1.0) + typical default podman machine init/start
- realized I needed more memory so I `rm` the initial machine
- created a new machine with `-m 4096`
- pain, pain, pain (`Cannot connect to Podman - failed to create sshClient`)
- found this issue

[2022-05-27 13:13] abitrolly commented on #4794
Why it doesn't work without `-F`?
[code]
How `podman` manages to customize labels as admin if it is running rootless? Why it doesn't pay attention that mounted dirs are already have some labels that are not supposed to be overwritten?

[2022-05-27 14:30] aminosbh opened #14398 "Cannot give secret to container running in user namespace (Workaroud)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Whenever a container is executed in a new user namespace I cannot give it a
secret (mount a secret as a file). Which means that the bug is reproduced when
using at least one of the following options: `--userns=auto`, `--uidmap`,
`--gidmap`, `--subuidname` or `--subgidname`.

This bug was hand

[2022-05-27 15:32] dzintars commented on #4900
Seeing this issue as well. Can't start the container after i stopped it. No changes in devices.

[2022-05-27 15:54] cpolizzi opened #14401 "Podman machine ssh does not preserve exit status from SSH"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When executing a command against the Podman VM the exit status of the command is not preserved and relayed back to the host correctly.  It is a standard expectation that the exit status is preserved, after all, SSH itself does.

**Steps to reproduce the issue:**

1. `podman machine ssh exit 5

[2022-05-27 16:14] JMSamudio commented on #14278
thanks @lsm5 , work for me with the 18.04 repo and install with the `--fix-missing` option

[2022-05-27 18:04] mfschumann opened #14402 "fusermount in container fails with "operation not permitted""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am trying to use fusermount inside a podman container running on a fedora 36 host. Despite having added /dev/fuse to the container, the command fails saying "Operation not permitted". Am I missing something here or is this a bug?

I've observed the behavior in rootless and rootful containers

[2022-05-27 19:16] willmtemple commented on #14390
@rhatdan You can take the man out of the pod, but not the pod out of the man.

[2022-05-27 19:17] willmtemple commented on #14390
The issue is _really_ about compatibility with the docker CLI for the purposes of using podman with scripts that call `docker`. I know 1:1 compatibility with docker CLI is not really a goal for podman given the architectural differences, but some CLI options worm their way into 3rd party scripts that call the docker CLI more than others. This is one of those options. As evidence of that: if you go

[2022-05-27 20:04] ocafebabe opened #14403 "Error: error opening file (after reboot)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't execute commands on the container after a system reboot (even though the container has been started successfully by systemd and I see that the database is running correctly as well).

**Steps to reproduce the issue:**

1. start oracle container

2. reboot

3. podman exec -it oracle ba

[2022-05-28 10:53] rhatdan commented on #14403
Could you try this against the latest versiom of podman 4.1?

[2022-05-28 10:54] rhatdan commented on #14403
@giuseppe any idea what is going on?  Could there be a remnant of crun that is required and removed on reboot?

[2022-05-28 11:14] rhatdan commented on #4794
Shoot, I thought that overroad customizable types.

You can hack this by doing two commands.

chcon -t user_home_t -R PATHTOBADDIR
restorecon -v -R -F PATHTOBADDIR

[2022-05-28 11:16] rhatdan commented on #14398
Since this is fixed in upstream Podman, I am moving this to a discussion.

[2022-05-28 11:16] #14398 closed, assigned to nobody

[2022-05-28 11:25] rhatdan commented on #4900
Please open a new issue, not just add to a closed issue.  You seem to be reporting something different Since you have no changes in devices. We need podman info and a reproducer in the new issue.

[2022-05-28 11:26] rhatdan commented on #14401
@ashley-cui PTAL

[2022-05-28 13:30] giuseppe commented on #14403
is `/run` on a tmpfs?  Could you share the output of `cat /proc/self/mountinfo` ?

[2022-05-28 14:53] fansari opened #14407 "ipv6 neighbor proxy does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use netavark as network backend.
I don't want to use IPv6 NAT.
Instead I proxy an IPv6 adresss but cannot reach it from external. Neither the container IPs are reachable nor is the IPv6 address of the podman interface.

**Steps to reproduce the issue:**

1.
Make sure you have:
[code]

2.
Cr

[2022-05-28 21:19] georgettica commented on #4773
To make sure I am not butchering something..
Does quay allow arm64 deployment?
https://www.reddit.com/r/kubernetes/comments/uzvozb/_/

[2022-05-28 22:10] jedahan opened #14409 "Default podman-machine image does not mount /dev/bus"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to bring up a docker-compose.yml using podman-machine + podman-compose on an M1 mac running macOS. The compose file looks to mount /dev/bus/usb, but when I `podman machine ssh`, it seems there is no `/dev/bus`. How should I setup /dev/bus with the default podman machine image?

**

[2022-05-28 23:22] BigB84 opened #14410 "Podman on Alpine Linux v0.4.x: reboot causes bugs with CNI."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After update to 0.4.x (I think it happened with 0.4.1)  on reboot containers with their own network stack (so not using --network=host) throws warnings after running `podman start --all`.

Only the second/third time, makes them start without warnings.

**Steps to reproduce the issue:**

You n

[2022-05-29 06:30] PavelSosin-320 commented on #12537
@vrothberg Could you revisit this issue and check that conmon uses syslog logging correctly? It ignores all configurations and options of logging destination and always says that the logging will be done to syslog.  Then on Fedora 36 the podman start of existing containers command fails with message "got -1' and "OCI access denied" after conmon starts. I just found the Fedora 36 WS has no rsyslog

[2022-05-29 08:45] Luap99 commented on #14410
This is not the actual error. These are just warnings because cleanup is not working after setup failed.
Please provide the actual error which is shown after these warnings.

[2022-05-29 10:27] geoynomous commented on #14380
Here is a Dockerfile - the $ commands are on the host - the # commands are inside the running docker container

[code]

Feel free to reach out for more details ....

[2022-05-29 12:45] PavelSosin-320 commented on #12537
@vrothberg P.S. In opposite to the Dan's post in the podman's archives the relations between journald and syslog in the Fedora 36 WS are the following: journald socket is available for writing to everybody and then the log stream can be redirected to any logging destination including r(emote)syslog  using journald.conf adjustment. Syslog socket is located in the /run/systemd/journal/dev-log (via /

[2022-05-29 16:02] fansari commented on #14407
I run a tcpdump on the target host.

When I ping the IP of the external interface from my PC

[code]
I see echos and echo replies on the target host.

On the other hand when I do this:

[code]

I don't see anything incoming on the target host (even when the firewall is off).

So maybe this is some issue with my hoster.

[2022-05-29 17:36] cpolizzi commented on #14303
I can also confirm that I have the same issue.

[2022-05-29 23:28] benblasco opened #14411 "Podman Volume Import does not work after performing Podman Volume Export"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  Run a container as a regular or root user, e.g.
[code]
Image pulls and runs successfully

2. Export a volume (doesn't seem to matter whether the container is running or not), which should be successful
[code]

3. Try to import the created tarball as a ne

[2022-05-29 23:36] nivekuil commented on #14407
Could you try assigning your host a different ip? Maybe there's a whitelist?

[2022-05-30 01:24] justin-f-perez commented on #14303
I figured out how to downgrade to 4.0.3 (which is working as expected) and wrote a little script to help others

[code]

Hope this helps!

[2022-05-30 07:22] martinetd opened #14412 "resolv.conf inside container does not get updated when it changes on host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
(or feature?)

**Description**

Running containers before the network is fully setup (e.g. LTE internet that takes a minute to setup), or just changing network (e.g. laptop moving from work to home network, or using a VPN's dns server and stopping the VPN) can lead to having an invalid /etc/resolv.conf inside

[2022-05-30 08:56] danvenn commented on #14155
I'm having the same error after a reboot! Latest release.
![image](https://user-images.githubusercontent.com/6608960/170956253-2d7c2fe4-30ba-4bc3-8d86-dda499100709.png)

[2022-05-30 09:18] arixmkii commented on #14303
Had the same issue with Qemu from homebrew. Downgraded to 6.2.0_1 and everything is ok. My workaround here https://github.com/Homebrew/homebrew-core/issues/102242#issuecomment-1137108389

[2022-05-30 09:25] vrothberg commented on #14402
This smells like the seccomp profile is blocking the syscall. It should work when using `--security-opt  seccomp=unconfined`.  Note that this will turn off seccomp entirely.

[2022-05-30 09:25] #14402 closed

[2022-05-30 09:44] gdesmott opened #14413 "auto-update: allow to use custom command when stopping container"
/kind feature

**Description**

I manually implemented a script very similar to [podman-auto-update](https://docs.podman.io/en/latest/markdown/podman-auto-update.1.html). The only thing blocking me from switching to it is the ability to use a custom command to stop the running container.
I send a request to my server telling it to set itself in "maintenance" mode so it will stop accepting new requ

[2022-05-30 09:55] vrothberg commented on #14413
Thanks for reaching out, @gdesmott!

What you could do is to change the generated systemd unit:
### Before
[code]

### After
[code]

Note that customizing the generated units will leave supported territory.  Any chance your workload can handle SIGTERM?  That's what `podman stop` sends to the container initially.

[2022-05-30 11:09] tmds commented on #14365
[code]

[2022-05-30 11:28] vrothberg commented on #14293
Actually, I am going to reopen this issue as it is _slightly_ different.  I will add the warnings as requested :heavy_check_mark:

[2022-05-30 11:37] Karm opened #14414 "Windows, mounting host dirs: Error: statfs /c/tmp/my-build/something: no such file or directory"
/kind bug

**Description**
We would like to use Podman for Windows developer experience, using Linux containers to build our Java applications via Quarkus framework. We are driving the container runtime so as it exposes local project dirs to the container so as the container could operate on those files, e.g. to compile them using the compiler from the container image.

**Steps to reproduce the is

[2022-05-30 11:40] Karm commented on #14414
FYI @bmaxwell

[2022-05-30 12:01] Luap99 commented on #14414
@n1hility PTAL

[2022-05-30 12:06] vrothberg commented on #14293
Opened https://github.com/containers/common/pull/1052.  With this change, Podman behaves as follows (see the "WARNING: "):
[code]

[2022-05-30 12:35] Luap99 commented on #14412
Podman is not a daemon, there is no way for podman to monitor /etc/resolv.conf and update all containers when it changes.

That said I understand the usecase. Currently a container restart should make it work again. However I understand that this is not desirable in most cases. Maybe podman can provide a way to only update the /etc/resolv.conf, something like `podman network reload`.

[2022-05-30 12:37] vrothberg commented on #14413
@gdesmott, can you elaborate on the problems you faced trying to forward the signal?  Did you run the container with `--init`?

That is the only idea (for a supported solution) I have at the moment.

[2022-05-30 12:42] gdesmott commented on #14413
I did not. Will that automatically signal from `entrypoint.sh` to the server binary it started?

[2022-05-30 12:44] Luap99 commented on #13461
Before there is to much work done on this we should agree on a design first.

cc @containers/podman-maintainers

[2022-05-30 12:51] Luap99 commented on #14409
Does this work with docker?

[2022-05-30 12:51] Luap99 commented on #14409
@baude @ashley-cui PTAL

[2022-05-30 12:53] vrothberg commented on #14413
I can't tell for sure but it's worth testing.  The `--init` binary will only forward to spawned process but some shells exec on the last command instead of forking (see https://github.com/containers/podman/issues/13324#issuecomment-1049832760), so it may "just work".

[2022-05-30 12:56] Luap99 commented on #14403
Is /tmp on a tmpfs? The podman runroot should be on a tmps otherwise it cannot detect a reboot.

Also this means that you did not create a proper login session for this user (at least when you first run podman). I recommend to start from scratch, run `podman system reset` to delete the stuff. Then make sure $XDG_RUNTIME_DIR is set and points to /run/user/$UID. Now run podman info and make sure the

[2022-05-30 12:59] vrothberg commented on #13461
https://github.com/docker/cli/issues/1534 should summarize the design quite well.  Certainly, we need to support the Docker-specific paths and also look up plugins with `s/docker/podman` in the paths.

[2022-05-30 13:04] skepticoitusInteruptus commented on #14410
\+1 for the "_Alpine Linux v0.4.x_" in your title @BigB84 :+1:

In the process of looking for [_the oldest version of Alpine I could find_](https://bit.ly/wtFisv04x), TIL the name is actually an acronym :mortar_board:

[2022-05-30 13:26] StanEgo opened #14416 "Podman 4.1 machine init fails when run in C:\Windows\System32"
/kind bug

**Description**

Simple setup and machine initialization results in error and some warnings.

**Steps to reproduce the issue:**

1. Download podman 4.1.0 MSI for Window.

2. Execute "podman machine init" in command shell.

**Describe the results you received:**

Looks like error is fatal, because none of other podman command are working with message "Cannot connect to Podman...".

**Des

[2022-05-30 13:38] Luap99 commented on #14416
@n1hility PTAL

[2022-05-30 13:42] Luap99 commented on #14413
I don't think that adding hooks to podman auto-update is more useful then just running the commands before/afterwards.

You can also just put this into a script:
[code]

[2022-05-30 13:52] Luap99 commented on #14413
Ah, that's true.

[2022-05-30 14:23] Luap99 commented on #14331
@edsantiago Is this fixed?

[2022-05-30 14:27] Luap99 commented on #14396
Can you provide a simple reproducer with podman commands or curl commands against the api endpoints?

[2022-05-30 14:32] Luap99 commented on #14411
It looks like the volume is empty and thus export is creating an empty tar, however import is refusing to restore an empty tar for some reason. Should be a simple fix.

[2022-05-30 14:36] Luap99 commented on #14411
Nevermind. Podman volume import does not create a new volume. It can only be used to restore into an existing volume.

[2022-05-30 15:08] Luap99 commented on #14396
I have zero experience with aws labda.
We need a reproducer with podman commands or since this is likely using the api the exact api commands which where used.
If you start the podman service in debug mode it should output the exact api requests.

[2022-05-30 15:14] AntonOellerer commented on #14396
Ok, then I will try that tomorrow
How do I start the service in debug mode?

[2022-05-30 15:16] AntonOellerer commented on #14396
I am also using `podman-docker` v 4.1.0 btw

[2022-05-30 15:23] Luap99 commented on #14396
`podman --log-level debug system service -t0` will start the service

[2022-05-30 15:51] Luap99 opened #14420 "podman cp can overwrite existing files/directories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

using podman cp incorrect can lead to very easy data loss.
Currently it is possible to overwrite an existing file/directory on the host without any warnings.

I noticed this while looking at https://github.com/containers/podman/pull/14393.
So my question is why is this an option, and why it i

[2022-05-30 16:07] #14293 closed

[2022-05-30 16:07] ocafebabe commented on #14403
@rhatdan I'd like to but 3.4.2 is the latest version available on the Kubic repo for Ubuntu...

@giuseppe yes, please find the output of mountinfo here: [mountinfo.txt](https://github.com/containers/podman/files/8799599/mountinfo.txt)

@Luap99 no, but /tmp is cleared on every boot (Ubuntu) so it should have the same effect. FYI I have other Ubuntu server deployments with the same podman setup and

[2022-05-30 16:23] shanesmith commented on #14303
Potentially related: https://gitlab.com/qemu-project/qemu/-/issues/903

[2022-05-30 16:24] bmaxwell commented on #14414
@Karm thanks!
We know that a lot of users run Windows workstations for developing applications.  Docker started requiring subscriptions last year, so this would have made Podman more popular :-)  Trying to build on Mac has the same issue, which looks to be Podman has issues mounting the local filesystem into the Container.  Using sshfs is mentioned as a possible workaround, though Karm mentioned D

[2022-05-30 16:44] justin-f-perez commented on #14303
I realized today that downgrading to `podman@4.0.3` resolved the other problems I seem to be having that others aren't, but the memory limit issue persists. Notably, I get the following error with Qemu 7.0 and podman 4.0.3:
[code]

It's not clear why podman 4.1.0 seems to supress the `Addressing limited to...` error message even when log level is set to maximum verbosity

[2022-05-30 17:10] pklanka opened #14423 "Static compilation using libpod - executable fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to compile golang static binary using libpod. The command line flags to build go program are below -

```CGO_ENABLED=0 go build -tags containers_image_openpgp -ldflags '-w'```

Go code used is -
[code]

**Steps to reproduce the issue:**

1. Create a small go program listed above
2. Com

[2022-05-30 17:19] n1hility commented on #14414
@bmaxwell @Karm  I’m away today but I will take a look when I get a chance. On Windows the issue is probably the extra leading / “//c/tmp” that the native image builder is using. I can look at patching both sides. On Mac as of 4.1 the user home is automatically mounted into the VM for newly created machines, so -v should be working on any path within that

[2022-05-30 17:42] Karm commented on #14414
@n1hility Oh, O.K., it seems that was it. Thx.

It seems all right now:

[code]

I will see to it on the Quarkus side then.

[2022-05-30 17:42] #14414 closed

[2022-05-30 18:09] fansari commented on #14407
I have solved this issue.

My webhoster is netcup.de. As it turned out you can only use IPv6 fully (which includes proxy ndp) if you buy an additioinal IPv6 net. The net which they deliver does not work for such a scenario.

[2022-05-30 18:17] nivekuil commented on #14407
odd, my netcup rootserver works fine with the kernel's proxy_ndp. I'm pretty sure this should work from the support's last post and linked post, the additional subnet you can buy is routed, the default one is on-link (as is typical). I'd like to see this built in to netavark too (https://github.com/containers/netavark/issues/270)

[2022-05-30 18:26] mfschumann commented on #14402
I tried disabling seccomp as you suggested, but keep getting the same error message:
[code]

[2022-05-30 18:30] shanesmith commented on #14303
I'm able to start the machine with memory greater than 3072 with the following changes to `CmdLine` in `~/.config/containers/podman/machine/qemu/<name>.json`

- Set `-cpu` to `host`
- Set `-M` to `virt` (ie: remove `highmem=off`)

Tried a handful of other cpus listed by `qemu-system-aarch64 -cpu help` and of those I tried  `max` also works.

I really don't know what the implications of these chang

[2022-05-30 18:34] n1hility commented on #14414
@Karm cool I will look at improving this on the podman side as well, collapse leading slashes into 1 (a single forward slash should work)

[2022-05-30 18:43] fansari commented on #4219
As I noticed this also affects "podman build". Without stopping nftables every build fails.

I am using podman with netavark and I hope that this feature will be implemented soon.

[2022-05-30 20:15] martinetd commented on #14412
Yes, I'm not thinking of having podman do it itself, but NetworkManager (and any other dhcp client) have hooks :)

With a `podman network reload` command it would become trivial to make a NetworkManager dispatcher script that just does that for all running containers, that is a good idea!

If it's just copying resolv.conf to container userdata as I pointed out though I'm not sure it's worth adding

[2022-05-30 22:26] PhrozenByte opened #14425 "Support publishing ports on specific devices"
/kind feature

**Description**

Right now we can publish a container’s port, or range of ports, to the host using `podman create … --publish [ip:][hostPort:]containerPort …` (et. al.). Even though we can indeed bind to a single IP address, we can't limit the binding to a single interface (using `SO_BINDTODEVICE`, see [socket(7)](https://linux.die.net/man/7/socket)). I suggest adding an option to s

[2022-05-30 23:27] benblasco commented on #14411
Thank you @Luap99 for quickly identifying the issue.  I came here to ask if I could help with documentation updates, but you have already taken care of that via your commits!  Great stuff.  Will this also end up reflected in docs.podman.io and in the Red Hat docs?  Not sure if the Red Hat docs are at all relevant in this context.

[2022-05-31 05:53] rayankiy opened #14426 "Podman fails to install with podman_3.4.2-4_amd64.deb in provo-mirror.opensuse.org"
Hi ,

We see their is recent update to the repo in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/ and due to that Podman install is broken again. We had seen similar issue last week which was reported through the defect https://github.com/containers/podman/issues/14278 .

[code]

@lsm5 : Can you take a look at the above error

[2022-05-31 06:47] al-cheb commented on #14278
@lsm5, Looks like the mirror is broken again.
Ubuntu1804:
[code]

Ubuntu2004:
[code]

[2022-05-31 07:06] #14426 closed

[2022-05-31 07:08] vrothberg commented on #14293
The issue will be fixed with the next version of Podman (v4.2)

[2022-05-31 07:17] vrothberg commented on #14402
I was to hasty. Can you retry with `--privileged`?

[2022-05-31 07:25] vrothberg commented on #14420
It screams for regression tests.

[2022-05-31 07:51] vrothberg commented on #14413
@gdesmott did it work using `--init`?

[2022-05-31 07:53] gdesmott commented on #14413
I didn't have a chance to test it yet. It's definitely on my TODO list but it makes take a while, so feel free to close this ticket for now if you think adding such feature does not make sense.

[2022-05-31 07:59] vrothberg commented on #14413
Sounds good to me.  Please let us know how it worked out.

[2022-05-31 07:59] #14413 closed

[2022-05-31 08:03] AntonOellerer commented on #14396
It seems as if the api is not used, since I do not get any useful log output
I found the code doing the image creation and ecr-pushing [here](https://github.com/serverless/serverless/blob/ed111e021b286eb4a68f9b2fce7fb641e03340bd/lib/plugins/aws/provider.js#L2101)

[2022-05-31 08:29] haakobja opened #14427 "Podman cannot create container when an overlay volume has additional arguments"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to create a container where I mount a volume as an overlay of _$HOME/.local_, but the overlay volume is not persistent. According to the documentation, I should be able to add some additional configuration parameters to get the volume mount to be persistent. Unfortunately, that doe

[2022-05-31 08:36] tmds commented on #14365
@mheon do you see something useful?

You should be able to reproduce the issue if you stop systemd resolved from using the port as indicated in the top comment, and using the `podman run` command from https://github.com/containers/podman/issues/14365#issuecomment-1138300635.

[2022-05-31 08:56] flouthoc commented on #14345
@ykuksenko Does the requested feature works on docker cause this seems a bug a too me I think we should fix this otherway around and make short names also not resolvable if they are not part of the network.

[2022-05-31 09:07] #14133 closed

[2022-05-31 11:43] alexbde opened #14428 "Machine start fails on macOS AWS EC2 instance"
BUG REPORT

/kind bug

**Description**

Command `podman machine start` fails with non-root user on macOS AWS EC2 instance with the following message: `Error: dial unix /tmp/podman/qmp_podman-machine-default.sock: connect: no such file or directory`.

**Steps to reproduce the issue:**

It's basically following the installation instructions (https://podman.io/getting-started/installation#macos):

1.

[2022-05-31 11:48] vrothberg commented on #14402
It will effectively disable most security mechanisms.  I recommend having a look at a great blog post from @rhatdan on how to diagnose such permission errors: https://www.redhat.com/sysadmin/container-permission-denied-errors

[2022-05-31 12:13] vrothberg commented on #14423
Thanks for reaching out.

Please note that the `libpod` package is not supported outside of Podman.  If you need bindings in Go, please use [pkg/bindings](https://github.com/containers/podman/tree/main/pkg/bindings).

[2022-05-31 12:13] #14423 closed

[2022-05-31 12:18] rhatdan commented on #4773
Yes I am almost certain we store arm64 images on quay.

[2022-05-31 12:22] rhatdan commented on #14003
Since those two PRs were merged and podman has revendored storage, I am assuming this is fixed. Reopen if I am mistaken.

[2022-05-31 12:24] georgettica commented on #4773
@rhatdan can you comment on the thread then with the details?

[2022-05-31 12:28] edsantiago commented on #14331
The last instance I see is on May 25, so I'll treat it as fixed. Thank you!

[2022-05-31 12:28] #14331 closed

[2022-05-31 12:29] edeandrea opened #14429 "Machine fails to start on Mac M1 Pro"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Everything was working fine last week. I came back this morning from a long weekend and my podman vm won't start up. I get

[code]

I then removed the VM (via `podman machine rm`) and even uninstalled podman (`brew uninstall podman`).

I then re-installed podman via `brew install podman` (Yes

[2022-05-31 12:32] rhatdan commented on #14019
Since we have documents like troubleshoot.md and transfer.md with a lot of this information, I am going to close move this issue to a discussion.  If we have ideas of what should be documented in these documents, then open new issues specific on what needs to be documented, or better yet open PRs with the actual documentation.

[2022-05-31 13:00] Luap99 commented on #14423
I think you can change the locks to use the file driver instead of shm.

But I agree with @vrothberg that this is not something we can support at the moment.

[2022-05-31 13:05] mheon commented on #14429
@ashley-cui @baude PTAL

[2022-05-31 13:07] ashley-cui commented on #14429
Related: https://github.com/containers/podman/issues/14303

So far it seems like podman doesn't like qemu 7.0.0?

[2022-05-31 13:24] Luap99 commented on #14425
I agree that this would be useful. Not sure about the syntax why would this be the last option after the container port. What about `[ip[@interface]:][hostPort:]containerPort[/protocol]`

That said implementing something like this is very complicated. They are at least 6 different ways that have to handle port forwarding.
1. netavark (iptables)
2. CNI (iptables)
3. The libpod port binding when (1

[2022-05-31 13:27] #14411 closed

[2022-05-31 13:40] geoynomous opened #14431 "buildkit's --mount - at least ignore"
Some of our Dockerfile have

`RUN --mount=type=cache,id=apt,target=/var/cache/apt doFoo` , ie following the [syntax of buildkit](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md).

But `podman build` exists with an error when these are present - supporting this functionality would be great - but if this is too complicated, could it at least be ignored - such that the

[2022-05-31 13:41] mheon commented on #14431
What Podman version are you using? It was my understanding that 4.1 supports type=cache

[2022-05-31 13:42] mheon commented on #13309
Feel free to take a stab at it!

[2022-05-31 13:44] dbloms opened #14432 "adding support to forward containers output to splunk via hec connector"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We do currently use docker on Debian 11 and let the containers log on stdout through the
Splunk logging driver (https://docs.docker.com/config/containers/logging/splunk/) via HEC (https://docs.splunk.com/Documentation/Splunk/latest/Data/UsetheHTTPEventCollector) into Splunk.

In term of d

[2022-05-31 13:46] mheon commented on #14432
A Splunk driver would have to be added to Conmon to make this possible.

[2022-05-31 13:51] Luap99 commented on #14425
iptables has the `-i` options to filter a specific network interface AFAIK this should do the trick

[2022-05-31 14:11] edeandrea commented on #14429
I don't see a way via homebrew to back qemu down to 6.2?

[2022-05-31 14:15] apollocreed commented on #8136
Hello !
It's a related issue, I'm trying to build a windows container with podman on WSL2 without success.
I've tried both ways.
[code]
my Dockerfile:

[code]

here the error
[code]
Seems that a DLL is missing

my env
[code]
Cheers

[2022-05-31 14:16] arixmkii commented on #14429
@edeandrea You can try my workaround mentioned [here](https://github.com/Homebrew/homebrew-core/issues/102242#issuecomment-1137108389)

[2022-05-31 14:25] edeandrea commented on #14429
Thank you @arixmkii that worked!

@ashley-cui forcing qemu back down to 6.2 seems to have fixed the issue.

[2022-05-31 14:29] baude commented on #14388
right now, that is the defined behavior and not a bug.  that said, we could change the behavior.  when we deal with official images, we can determine if an image has changed by it's shasum. in the case of an individual url like you explained,  there is no mechanism for that (right now).  If you happen to be developing and testing an fcos image (finger pointing at me), then this default behavior is

[2022-05-31 14:41] kontza commented on #14365
Do you have host directories mapped into the container as volumes? My connection problems were finally solved when I found out, that if I don't map a local directory as a volume into the container, Pi-hole works perfectly. If I uncomment those two volume definitions Pi-hole does not work as a nameserver, I can access web UI, but when volumes are commented out, everything works as with my previous

[2022-05-31 14:52] mheon commented on #14365
That makes very little sense. Volume mounting and networking are entirely distinct. Are you sure that it's not something to do with the config files you're mounting into the container?

[2022-05-31 14:57] #14279 closed

[2022-05-31 14:59] rhatdan commented on #4773
@cevich ANy reason we can't support that arch?

[2022-05-31 15:29] cpolizzi commented on #14388
I think by the official images you are referring to the latest ones that can be accessed by the logical build stream names of `test`, `stable` or `next`, correct? Indeed, when any one of those are already present on the host system, and provided that a new version on the build stream is not available, then a re-download never happens (as it is very clear that it is pulling the associated metadata

[2022-05-31 15:48] andrin55 opened #14434 "podman-restart.service causes shutdown to hang"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Enabling podman-restart.service causes shutdown to hang until the containers are killed after the timeout.

**Steps to reproduce the issue:**

1. Create container with restart-policy=always

2. Enable podman-restart.service

3. Restart and observe log

**Describe the results you received:**
S

[2022-05-31 17:11] fansari commented on #14407
I think this has nothing to do with podman. Seems to be something the user has to care about.

[2022-05-31 17:32] #14407 closed

[2022-05-31 17:55] mheon commented on #14434
Restart-policy doesn't actually use or require `podman-restart.service` - are you sure the two are related?

[2022-05-31 17:59] tmds commented on #14365
initial:
[code]
After working query: `nslookup www.google.com 127.0.0.1`
[code]
And now a query that times out: `nslookup www.google.com 192.168.1.237`
[code]

So the `pkts` does increment for some lines on the failed query.

Using `--net=host` it works.

I'm not sure what options to use. I'm using: `tcpdump -n -i any 'udp port 53'`.

For a query that works (`nslookup www.google.com 127.0.0.1`) I

[2022-05-31 18:02] lsm5 commented on #14278
I'm fixing the hash mismatch issue now.

Long term I think it's best I just get https://build.opensuse.org/project/show/devel:kubic:libcontainers:unstable in good enough shape that ubuntu users can just use that one. That should make everyone happy including myself.

[2022-05-31 18:31] lsm5 commented on #14278
`3.4.2-5` has just been built and should now be available. Please give it a try. Thanks.

[2022-05-31 18:46] #14389 closed

[2022-05-31 18:55] Sadin commented on #13309
Got my dev environment setup, reading up on

https://kubernetes.io/docs/concepts/storage/volumes/#emptydir
https://www.kernel.org/doc/html/latest/filesystems/tmpfs.html

Where might I find more information on how podman is already using /dev/shm?

[2022-05-31 19:08] #14359 closed

[2022-05-31 19:08] andrin55 commented on #14434
Since I use the podman-restart.service to start all containers with restart-policy=always I added the ExecStop with the same filter just to stop the same containers. The problem does not come from the restart-policy, it comes from the fact, that without ExecStop added to the podman-restart.service, systemd needs to kill the running containers forcefully in order to shut down (since nothing else se

[2022-05-31 19:10] rhatdan commented on #14434
Makes sense to me.  @vrothberg WDYT?

[2022-05-31 19:10] tuxflo commented on #13817
I just tried this again and wanted to add that the same error occurs when using `runc` instead of `crun` too.

[2022-05-31 20:47] earlev4 commented on #14278
@lsm5 - Now working. Thank you very, very much! I appreciate you.

[2022-06-01 05:42] dbloms commented on #14432
@mheon thank you for your reply!
I opened a ticket in that repo, so you can close this ticket.

[2022-06-01 06:08] geoynomous commented on #14431
this is the version that comes with alpine 3.15 ... and it somehow does not install 4.1.0 on it ... not sure what I a missing

[2022-06-01 06:15] flouthoc commented on #14431
Yes this is already supported in latest podman. If there is bug could you please open a new issue on buildah repo.

but it somehow does not install 4.1.0 on it ... not sure what I a missing

Could you try installing by sticking to a package version on alpine ? PS ( not tried this ) : https://superuser.com/a/1058665

I am closing this issue since this feature is already implemented in latest releas

[2022-06-01 06:15] #14431 closed

[2022-06-01 08:50] Luap99 commented on #13763
No see the commit description, this is just related to the other issue.

[2022-06-01 08:53] vrothberg commented on #14359
NOTE: this is not fixed until c/common@main is vendored into Podman

[2022-06-01 10:27] maxclac commented on #14306
I don't have access to RHEL8. I am trying on Centos 8 Stream with Podman 4.0.2 and it is still not working. Should I open a new ticket?

[2022-06-01 12:37] Luap99 commented on #14420
A option is fine for me but the default should be to not overwrite.

[2022-06-01 12:39] Luap99 commented on #14194
I think this is fixed

[2022-06-01 12:39] #14194 closed

[2022-06-01 12:55] Luap99 commented on #14362
I think I saw this on many PRs recently.
@edsantiago Can you post the recent failures to check if it is only on remote?

[2022-06-01 12:58] edsantiago commented on #14362
Two more on 05-25, none since then (but then again, long weekend with very very few PRs)

### Podman logs [It] tail 800 lines: journald
* fedora-35 : int podman fedora-35 root host
  * PR #14364
    * [05-25 12:55](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5350891510300672/html/int-podman-fedora-35-root-host.log.html#t--tail-800-lines--journald--1

[2022-06-01 13:02] #14356 closed

[2022-06-01 13:13] edsantiago commented on #14362
Ah yes, I should've mentioned my flake logger only captures merged PRs. Identifying flakes on in-progress PRs was an exercise I deferred "for later" (and has not happened yet).

[2022-06-01 13:14] edsantiago commented on #14362
Anyhow: the logs above show one instance on non-remote, and curiously it was a one-time-only: the remote failures are all three-time failures.

[2022-06-01 13:21] Luap99 commented on #14362
Just any idea but the test never actually waits for the container to complete. It call `podman run -d ...` followed by `podman logs`.
I think it is likely that the container/conmon did not write all the output before we call logs.

Let me open a PR with an extra `podman wait` then we will see if that worked or not.

[2022-06-01 13:29] rhatdan commented on #14420
SGTM

[2022-06-01 14:06] andrin55 commented on #14434
@vrothberg I made a new pull request. I messed something up with the signoff with the previous one.

[2022-06-01 14:27] nalind commented on #14420
It needs to be a separate option.  This logic backends our handling of COPY and ADD instructions in Dockerfiles, and we definitely don't want to change how they behave.

[2022-06-01 14:42] lsm5 commented on #14278
@al-cheb hi, so the new repo at https://build.opensuse.org/project/show/devel:kubic:libcontainers:unstable does seem to have packages built successfully and if everything goes well, it would be nice to use it (or a branch of it) in github actions and wherever else people need to use container tools on ubuntu 20.04, 18.04 and also debian 11. **But** we would really need some prior testing done. So,

[2022-06-01 14:59] baude commented on #14428
any chance the instance is already a vm? that would entail nested virt, which i dont think is supported?

[2022-06-01 15:03] baude commented on #14345
should this be moved to nv?

[2022-06-01 15:35] #14201 closed

[2022-06-01 16:20] #14362 closed

[2022-06-01 17:17] jorneilander commented on #14303
Doing this magically resets my Mac 🆘

[code]

[2022-06-01 17:50] optimizasean commented on #13772
Ahhh thats the command I was looking for. Makes it much easier than doing everything by hand.

Probably not a concern for the majority of users...although there are quite a few fringe developers that do weird things (all developers - some weirder than others) but probably not enough that would run into this to do something about it 😆

Thanks!

[2022-06-01 17:54] cdoern commented on #14313
labeling as a bug since this is expected behavior

[2022-06-01 18:08] pclass-sensonix commented on #13778
Hi - this is still happening. Do you have any suggestions I can try? Thank you.

[2022-06-01 20:39] tupyy opened #14450 "failed to run rootfull container when trying to mount device block"
/kind bug

**Description**

Running rootfull container when trying to mount block device results in error.

**Steps to reproduce the issue:**

1. Create a loop device
[code]
2.  Execute:
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Run successfully.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package inf

[2022-06-01 21:21] mangeshpanche commented on #14207
Is there any update on this?

[2022-06-01 21:40] cevich commented on #4773
Confirmed, we're build `arm64`, I just checked using `skopeo inspect --raw ...`. Though builds are broken since F36 dropped with [a fix coming very soon](https://github.com/containers/podman/pull/14437).

[2022-06-02 02:13] n1hility commented on #13984
Ok great! The init command impl you need to add the parameter to is here:
https://github.com/containers/podman/blob/main/cmd/podman/machine/init.go

The backend you need to pass it to and use during import is here:

https://github.com/containers/podman/blob/main/pkg/machine/wsl/machine.go

To build it’s easiest if you do so on a linux env. You can do make podman-remote-windows and copy over the po

[2022-06-02 04:55] flouthoc commented on #12774
Not stale and needs to be visited again, discussion on the linked PR expected this to be fixed upstream but issue still persists. Please  follow linked PR for updates.

[2022-06-02 07:01] #14434 closed

[2022-06-02 07:03] vrothberg opened #14452 "--filter flag for `podman stop"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

To not forget it: a `--filter` flag for `podman stop` would simplify the `podman-restart.service` which is currently doing a `podman list --filter` before `podman stop`.

Cc: @rhatdan

[2022-06-02 07:44] martinetd commented on #14412
Thanks!
I'm sorry after having suggested I'd submit a script, but after internal discussion here we've decided to use a local resolver instead.

Making a simple dispatcher script that just overwrites dns with new ones whenever a configuration change happens is easy, but there doesn't seem to be any event that includes the former dns if e.g. you have this chain of events: 1/ ethernet link, 2/ vpn u

[2022-06-02 07:44] #14412 closed

[2022-06-02 08:20] #14231 closed

[2022-06-02 08:24] #14401 closed

[2022-06-02 08:26] #13824 closed

[2022-06-02 08:30] r10r opened #14454 "v4.1.0 User volumes are not mounted when default volumes are configured in /etc/container/containers.conf"
/kind bug

**Description**

In `podman` **v4.1.0** user  volumes (`podman run -v`) or mounts (`podman run --mount`) are not added to the OCI spec and not mounted when default volumes are configured in */etc/containers/containers.conf* e.g

[code]

In `podman` **v4.0.3** user mounts **and** default volumes added to the OCI spec and mounted.

**Steps to reproduce the issue:**

1. Set  `volumes = ["/

[2022-06-02 10:44] alexandrevicenzi commented on #11780
Podman can play Kubernetes files and there's a compose package/plujgin to run Docker Compose.

Could the interface for both be consolidated? For example:

`podman play kube` and `podman play compose` or something similar.

[#12475](https://github.com/containers/podman/issues/12475) already suggested improving the current `play` syntax.

[2022-06-02 11:46] Luap99 commented on #14454
Thanks for the detailed report @r10r.

@cdoern PTAL

[2022-06-02 11:53] #14261 closed

[2022-06-02 12:14] edsantiago opened #14456 "Timestamps in 'image list' inconsistent with 'image history'"
Reported by multiarch team in their [gitlab tracker](https://gitlab.com/cki-project/kernel-tests/-/issues/1160)

On multiarch, one of the `podman image history` tests is failing:
[code]
Reason: that test runs `podman image list $IMAGE` and `podman image history $IMAGE`, and assumes that the first line of `history` should match the timestamp of `list`. It does not. Neither does it match the last li

[2022-06-02 12:48] #14368 closed

[2022-06-02 12:55] rhatdan commented on #14456
One would think this is a conversion error.  podman image list and podman history converting the timestamp differently and potentially one rounding up, while the other rounds down?

[2022-06-02 13:23] vrothberg commented on #14456
I'll take look

[2022-06-02 14:13] mheon commented on #14207
No. If you'd like this escalated and have a RHEL support contract, I suggest opening an RFE bugzilla to request that this work be prioritized.

[2022-06-02 14:16] #14230 closed

[2022-06-02 15:30] desebjohnston opened #14458 "podman logs missing last line from json stdout"
/kind bug

**Description**

**Steps to reproduce the issue:**

1.  podman pull docker.io/fkiecad/cwe_checker:stable

2. podman run fkiecad/cwe_checker:stable /bin/echo --json
ERROR: instr_001022f0_2: Call target at 00102050 does not exist
ERROR: instr_001022f5_2: Call target at 00102050 does not exist
ERROR: instr_001022fa_2: Call target at 00102050 does not exist
ERROR: instr_001022ff_2: Call tar

[2022-06-02 15:41] mheon commented on #14458
So, to clarify here: The container runs to completion, then you run `podman logs` on the container, and find that the last line of output is missing. Am I correct?

[2022-06-02 15:42] desebjohnston commented on #14458
That's correct.

[2022-06-02 15:43] mheon commented on #14450
Can you try the `runc` runtime instead, to see if this is a crun issue?

@giuseppe PTAL

[2022-06-02 16:02] edsantiago commented on #14456
That's a really good suggestion - I had forgotten about fractional time_t. Does anyone know how to actually _show_ that? Command completion shows me all sorts of promising fields, but none of them actually work:
[code]

[2022-06-02 16:02] desebjohnston commented on #14458
Unfortunately not:

'''
 podman run --log-driver k8s-file fkiecad/cwe_checker:stable /bin/echo --json

podman container list -a
CONTAINER ID  IMAGE                                    COMMAND               CREATED            STATUS                        PORTS                   NAMES
b5df13727787  docker.io/fkiecad/cwe_checker:stable     /bin/echo --json      18 seconds ago     Exited (0) 7 seconds

[2022-06-02 16:04] Luap99 commented on #14458
If you run podman inspect on that container there should be a entry which shows you the log path. Can you check the file content to see if it is in the log file?

[2022-06-02 16:11] desebjohnston commented on #14458
Certainly (note this is line seems to be only present on the container that I added the --log-driver k8s-file option on the run to. I don't see it on the plain run inspect, but that may be expected. It does contain the last line however:

[code]

[2022-06-02 16:14] Luap99 commented on #14458
Yes your default log driver is journald, so you would need to check the content with `journalctl` in this case.

[2022-06-02 16:21] Luap99 commented on #14458
OK I think I see why this is happening you last line is considered partial (P instead of F).
If I manually change it to an F it works correctly.

[2022-06-02 16:38] Luap99 commented on #14458
So it already works with the journald driver on podman v4.1. However it still does not with with the file driver. I will open a PR tomorrow to fix it.

[2022-06-02 16:40] desebjohnston commented on #14458
Thank you kindly!

[2022-06-02 17:43] mheon commented on #9075
On this one now

[2022-06-02 17:52] tweekley49 opened #14462 "Failed to mount runtime directory for rootless netns"
/kind bug

**Description**

Attempting to create and run custom containers.

**Steps to reproduce the issue:**

1. podman pod create --name postgres --network mynetwork --share net

2. podman run --name=postgres-1 -d --pod=postgres -v $SCRIPT_DIRECTORY/postgres/:/etc/postgres-init/:Z $REPO_URL/postgres:2022.02.1

**Describe the results you received:**
`
ERRO[0000] Starting some container dependenc

[2022-06-02 18:06] cdoern commented on #11963
I can *probably* wire this up to look at the ssh config file and make a new podman system connection from that... @containers/podman-maintainers WDYT? This could open some new use cases for scp and for podman remote in general

[2022-06-02 18:11] rvinaybharadwaj opened #14463 "Cannot restart VM on Intel Macbook Pro"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
If I stop the virtual machine using ```podman machine stop``` and try to restart it, I am unable to connect to the VM.
Podman was installed using homebrew. I can get it work if I remove and reinitialize the VM.

**Steps to reproduce the issue:**

1. ```podman machine init```
2. ```podman machine start```
Every

[2022-06-02 18:14] rhatdan commented on #14452
Interns...

[2022-06-02 18:15] shortcipher3 opened #14465 "Second podman run fails to bind to port with `--userns=keep-id` option"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman connects to port the first time, but the second time can't connect.  The port is being held onto by gvproxy.

**Steps to reproduce the issue:**

I ran on m1 mac the same command twice.  It succeeded the first time and failed the second.

[code]

**Describe the results you received:**
[

[2022-06-02 18:22] baude commented on #14276
i ran this 1200 times in a tight loop and was not able to replicate this.

[2022-06-02 18:29] mheon commented on #14465
@baude PTAL - looks like a gvproxy race?

[2022-06-02 18:34] rhatdan commented on #11963
I don't believe that is the issue.  The problem as I understand it, is that the opessh library we are using for ssh does not fully support the contents of the users ssh config file.  We need to investigate if there is a better library to use, or a way to allow users to exec the ssh command on their platform rather then using the ssh library.

[2022-06-02 18:36] mheon commented on #14462
@Luap99 PTAL

[2022-06-02 18:38] igo95862 commented on #11963
Using SSH binary to connect will open up all features that OpenSSH can use.

For example, OpenSSH supports FIDO2/U2F hardware keys.

[2022-06-02 18:40] #14021 closed

[2022-06-02 18:43] rhatdan commented on #11963
I think making it optional makes some sense.  The problem we are trying to avoid is the assumption that all ssh clients are the same, specifically on MAC and Windows. If the ssh executable is optional then it is the users problem if it does not work correctly.

[2022-06-02 18:45] karthikelango137 commented on #14452
got it

[2022-06-02 19:25] edsantiago opened #14468 "Timeout in podman-save multi-image"
Seeing this one much more frequently. Seems to be remote only.
[code]
### Podman save [It] podman save --multi-image-archive (untagged images)
* fedora-35 : int remote fedora-35 root host [remote]
  * PR #14383
    * [05-26 20:02](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5021706157817856/html/int-remote-fedora-35-root-host.log.html#t--podman-save

[2022-06-02 19:28] bdoms commented on #12152
This issue should not be re-opened if the new version doesn't depend on `nsenter` but for anyone else finding this when searching for a solution like I did: I ran into this problem when trying to run `podman pod create` as a rootless user. it worked when I ran it from my own shell, but for whatever reason when it was run within a script as the exact same user I ran into this same error. Didn't hav

[2022-06-02 19:46] edsantiago commented on #13417
### Podman build [It] podman build with a secret from file and verify if secret file is not leaked into image
* fedora-35 : int remote fedora-35 root host [remote]
  * PR #14417
    * [05-31 15:50](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5100598264594432/html/int-remote-fedora-35-root-host.log.html#t--podman-build-with-a-secret-from-file-and-ver

[2022-06-02 19:47] ashley-cui commented on #13417
Ahh! Forgot about this, taking another look now

[2022-06-02 19:58] ibotty opened #16728 "actually use `passthrough` log driver now that it's available (In quadlet)"
It's in released versions.  It would be great to actually use it.

[2022-06-02 20:17] edsantiago commented on #13626
Test last flaked on 05-23:

### [Netavark] 136 podman parallel build should not race
* fedora-35 : Netavark sys podman root
  * PR #14326
    * [05-23 15:51](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4623092222787584/html/sys-podman-fedora-35-root-host-netavark.log.html#t--00136)

Looking at the [journal log](https://cirrus-ci.com/task/46230922227

[2022-06-02 20:22] flouthoc commented on #13626
Yes I think in order to get correct log we need to remove piping it to `/dev/null` , I'll figure out a way to get logs from one of the failed builds. But I agree we should not close this till we are sure :)

[2022-06-02 20:42] ibotty opened #16727 "Support podman secrets (In quadlet)"
It would be great to be able to explicitly add secrets to the container.

[2022-06-02 23:59] #14187 closed

[2022-06-03 00:05] rskntroot opened #14471 "Podman v3.4.2 compose networks block does not update MTU size"
The following command works fine:

`podman network create test_default --opt mtu=9000`
as referenced by:
_Originally posted by @afbjorklund in https://github.com/containers/podman/issues/8454#issuecomment-733172431_

However the expected compose.yml variation:

[code]
Does not work as expected.  The mtu is not set for the network that is created.

I have also attempted to use the docker string..

[2022-06-03 00:15] martinetd commented on #13967
I'm still interested in solving this, but I still don't have a better idea than making a few specific commands ENOSPC-safe as I'm not comfortable automating growing the podman partition for our product. (and I appreciate it's easier said than done...)

[2022-06-03 00:23] skyblaster opened #14472 "'podman info' fails in a Proxmox Fedora nested container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I install the COPR repo using the standard Fedora 35 container from Proxmox, the CLI command "podman info" fails.
Alternatively, if I upgrade the container to Fedora 36 using "dnf system-upgrade", the same issue is present.
I was running podman 4.0.2 successfully this way, so suspect the p

[2022-06-03 01:28] #13763 closed

[2022-06-03 02:53] chen369 commented on #14472
Hey Skyblaster,

by any chance did you also come across any of these errors? too?

(setrlimit `RLIMIT_NOFILE`: Invalid argument: OCI runtime error")
(setting rlimits for ready process caused: error setting rlimit type 7: invalid argument: OCI runtime error")

[2022-06-03 03:55] skyblaster commented on #14472
@chen369 No, can't say that I've run into that. I haven't adding any containers since running into the issue.

The only reason I noticed the host info message was because Portainer threw the error and can't move beyond it:
[code]

[2022-06-03 06:20] ibotty opened #14473 "document how to enable dns in default netavark network"
/kind bug

**Description**

I want to enable dns resolution in the default network created by (rootful) podman.  I did not find documentation on how to do that.

Ideally it would also include the name of the configfiles to use to allow easy autoprovisioning via ignition file (without having to create `OneShot`-Units).

**Output of `podman version`:**

[code]

**Have you tested with the latest vers

[2022-06-03 07:09] tupyy commented on #14450
Using `runc` I got this:
[code]

[2022-06-03 07:57] flouthoc commented on #14427
Hi @haakobja , It seems this feature was only enabled for named volumes and you are attempting this feature on anonymous volume so you need to create a volume first or this PR should enable same feature for anonymous overlay volumes as well: https://github.com/containers/podman/pull/14474
[code]

So you can either wait for :  https://github.com/containers/podman/pull/14474  or create a named overl

[2022-06-03 08:14] vrothberg commented on #14471
@Luap99 @flouthoc PTAL

[2022-06-03 08:18] flouthoc commented on #14473
Hi @ibotty , Thanks for creating the issue.
Afaik `dns` on default network is always disabled and it was like this to match docker compatibility.

[2022-06-03 08:38] vrothberg commented on #14468
I'll take a look, thanks for the great reports, @edsantiago.

[2022-06-03 10:12] haakobja commented on #14427
I think I'll wait for the PR (didn't really think it would be implemented that quick). What I'm trying to do is to mount my home directory in a container, but I want the files to be persisted in a named volume, as I try to get my development environment to be contained within a container context. I have partially solved it by mounting a named volume as ~/.local, but it's not ideal

[2022-06-03 10:15] rhatdan commented on #14472
This looks like podman info does not like the data in /proc/stats on your system.
[code]

[2022-06-03 10:18] rhatdan commented on #14472
Could you attach the output from your machine of the first few lines.

[2022-06-03 11:46] vrothberg commented on #14456
I got it ... I'll spin up a PR but I am unable to create a reproducer.

[2022-06-03 12:04] Luap99 commented on #14471
Can you try this with podman v4.1 please.
I don't think we support the docker string but just `mtu` should work.

[2022-06-03 12:06] Luap99 commented on #14473
@ibotty That depends if you use cni or netavark please provide the `podman info` output.

You can create the default config on disk and change the settings in there to enable dns.
For netavark this should do it: https://github.com/containers/podman/discussions/13488#discussioncomment-2358133

[2022-06-03 12:07] Luap99 commented on #14472
I think this was fixed in https://github.com/containers/podman/pull/14241

[2022-06-03 12:07] #14472 closed

[2022-06-03 12:10] ibotty commented on #14473
Sorry, I was talking about netavark.  Thank you for the link.  I'll try to create a pull request to add it to the FAQ.

[2022-06-03 12:10] #14473 closed

[2022-06-03 12:19] Luap99 commented on #14462
Does it work when run a simple container: `podman run --network podman alpine ip a`?

[2022-06-03 12:22] rhatdan commented on #14450
If you mount -v /mnt:/mnt does it work?

[2022-06-03 12:24] tupyy commented on #14450
Yes. It works.

[2022-06-03 12:30] ibotty commented on #14473
I did not find a FAQ.  Is the basic networking file the right place?

[2022-06-03 12:32] vrothberg commented on #14456
I gave it a shot in #14476 but I should have taken a closer look at the image. In short:
* Docker behaves the very same
* The image returns this data

`skopeo inspect --config` reveals it:
[code]

The image was created before the first layer. Ultimately, it looks a fart in the tool that built the image.  I suggest to either change this test or pin it to an image that is known to work (via --arch=x

[2022-06-03 12:32] Luap99 commented on #14473
Yes that should be a good place.

[2022-06-03 12:34] tweekley49 commented on #14462
It does not. The same error is thrown.

Error: failed to mount runtime directory for rootless netns: no such file or directory

[2022-06-03 12:53] Luap99 commented on #14462
Is `XDG_RUNTIME_DIR` env var set correctly? Did it worked with previous versions? Can you that command with `--log-level debug` and share the output.

[2022-06-03 13:11] tweekley49 commented on #14462
`echo $XDG_RUNTIME_DIR' yielded the output `/run/user/1000`
Command with the --log-level debug output is:
[code]

[2022-06-03 13:12] rhatdan commented on #14450
So this is something to do with a block device being added to a container.

Could you try to mount the block device on a subdir of /mnt?

--device /dev/loop1:/mnt/loop1

If that works, then it might be something about mounting a device on a directory?  If not, then maybe we have difficulty creating block devices.

[2022-06-03 13:22] tupyy commented on #14450
When I'm running:
[code]
it seems to work but the device is not mounted. Only exposed:
[code]

[2022-06-03 13:26] ibotty commented on #14473
See #14479

[2022-06-03 13:31] Luap99 commented on #14465
Does this only happen with --userns=keep-id?

[2022-06-03 14:00] shortcipher3 commented on #14465
Without `--userns=keep-id` I can rerun the command several times with no
error.

On Fri, Jun 3, 2022, 07:31 Paul Holzinger ***@***.***> wrote:

[2022-06-03 14:31] dewthefifth commented on #14462
Some additional information, as I am seeing this same problem.

I'm running a fresh RHEL 8.6 off the RHEL ISO using the BaseOS and AppStream repos. I've run the following since the machine finished it's install.
[code]

I followed the instructions at https://github.com/containers/podman/blob/main/docs/tutorials/rootless_tutorial.md to validate that slirp4netns and fuse-overlay are both installed.

[2022-06-03 14:48] Luap99 commented on #14465
I can reproduce. This not related to gvproxy the full network cleanup is not done. I have no idea why, the podman container cleanup logs says network is already cleaned up but it is clearly leaking the netns.

[2022-06-03 15:01] rskntroot commented on #14471
I was able to upgrade to 4.0.2 on RHEL 8 for both podman and podman-compose.  Now podman-compose is not creating a network from the `networks:` block.

[2022-06-03 15:06] Luap99 commented on #14471
Podman-compose is a different project and not directly supported by us, I thought you were using docker-compose. Please file an issue in https://github.com/containers/podman-compose instead.

[2022-06-03 15:06] #14471 closed

[2022-06-03 15:08] rskntroot commented on #14471
@Luap99, I was using docker-compose before upgrading.

[2022-06-03 15:20] rhatdan commented on #14450
Yes that is correct, it should exists by not be mounted inside of the container, You would need to mount it within the container.
@giuseppe @AkihiroSuda Should runtimes fail if user attempts to mount a device on a  directory inode?

[2022-06-03 15:23] qdel opened #14481 "Pull big layers from gitlab (>1GiB)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot download layers of more than 1GiB from gitlab as it seems to cut layers in different http calls.

**Steps to reproduce the issue:**

1. Get a gitlab instance

2. pull an image with a layer of, say, 1.4Gib

3. download will always fail at 1.0Gib

**Describe the results you received:**

[2022-06-03 15:33] qdel commented on #14481
A good sample is this image: docker.io/reactnativecommunity/react-native-android:latest

[2022-06-03 15:35] Luap99 commented on #14465
Turns out we are never saving the container state after the network setup with a userns. If you run podman inspect on this container it will not show the network info. I don't why this only effects remote, local podman is fine. There must be some different code path were we save the state.

[2022-06-03 15:44] rskntroot opened #14482 "Podman 4.0.2 with docker-compose 2.6.0 does not update network MTU (rootful)"
/kind bug

**Description**

The following network block does not update using docker-compose
[code]
**Steps to reproduce the issue:**

1. `vi docker-compose.yml`
[code]
2. `docker-compose up -d`

**Describe the results you received:**

[code]

[code]
**Describe the results you expected:**

[code]
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

Tested

[2022-06-03 15:50] tweekley49 commented on #14462
That fixed it! Any idea what might've caused that? All that has been executed on this machine is the commands stated above (installing necessary dependencies and then the podman commands).

Thanks for the help!

[2022-06-03 16:28] mheon commented on #14482
Can you get a `podman network inspect` of the network made by Compose?

[2022-06-03 16:32] rhatdan commented on #14462
Is /run on a tmpfs?

[2022-06-03 17:16] rhatdan commented on #13673
@giuseppe are we set on this one now?

[2022-06-03 17:17] rhatdan commented on #13427
@mheon was this fixed?

[2022-06-03 18:18] mheon commented on #13427
No, can handle this Monday/Tuesday/whenever we cut 4.1.1

[2022-06-03 19:34] rskntroot commented on #14482
It is in the original post under "Describe the results you received"

[2022-06-03 19:48] mheon commented on #14482
@jakecorrenti This looks like a good bug to look at next

[2022-06-03 21:54] #9075 closed

[2022-06-03 21:56] rvinaybharadwaj commented on #14463
Downgrading to Podman 4.0.3 worked. Looks like this is related to #14303, will close this issue to avoid duplication.

[2022-06-03 21:56] #14463 closed

[2022-06-03 22:06] #14458 closed

[2022-06-04 13:10] srd424 commented on #14278
I've rather lost track of where we are with this, but the Ubuntu 20.04 and 22.04 arm64 repos seem to be broken - not sure if they're supposed to be working or not at this point!

[2022-06-04 15:29] queeup opened #16726 "Service is stopping successfuly but reported as failed on systemd status."

[2022-06-04 17:40] ykuksenko commented on #14345
Sorry for the delay. I do not usually use docker these days.

Docker works a bit differently in this area but it does work as one would expect.

1. Docker seems to only allow creating a container with one network attached. After creating you can separately run `docker network connect $network_name $container_name` to add the second network. I was not able to find another way with a quick look.
2.

[2022-06-04 17:46] ykuksenko commented on #14262
In researching #14345 I found that docker only provides one name server for multiple networks to all containers so server order is not a problem there. Though docker seems to not allow creating a container with multiple networks from the start.

[2022-06-04 21:54] alexanderadam opened #14488 "`OCI permission denied` if volume is located within user mount"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to put Podman bind volumes of a rootless container within a [gocryptfs](https://nuetzlich.net/gocryptfs/) user mount run by the same user.
Everything works fine if the volume bind is located outside the mount but it fails with `OCI permission denied` if it is within the mount.

**S

[2022-06-05 10:24] Va1 commented on #14303
@shanesmith legend!

editing `~/.config/containers/podman/machine/qemu/<podman machine name>.json` upon machine creation, in the way described above, made things functional for me again on Max OS 12.4 with any desired amount of memory.

hope this gets addressed soon in a way which would make things work out of the box for everyone.

[2022-06-05 12:57] kerjes opened #14489 "Error: error creating container storage: could not find enough available IDs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Can not create mulitple containers when msyql:8.0.29  is one of them, running as rootless.

**Steps to reproduce the issue:**

1. podman rm -a
    podman create --entrypoint /bin/bash -it --name=mysql mysql:8.0.29 (returns ok)
    podman create --entrypoint /bin/sh -it --name=alpine alpine:lat

[2022-06-05 13:07] emansom commented on #9752
People are still running into this on RHEL 8 boxes see [#1897579](https://bugzilla.redhat.com/show_bug.cgi?id=1897579) on the bugzilla.

Doing a system-wide `systemctl daemon-reload` works as workaround.

However, it will still yield broken rootless containers on host restart. Is a systemd unit dependency for CGroup setup on the podman user units (I have them enabled, as well as linger for the use

[2022-06-05 18:14] stigger opened #14490 "Unable to assign multiple IP addresses from the same network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I used to have the following cni network:
[code]

This network is not supported since 4.0 (`unsupported ipam plugin static`), and I don't think there is a way to match that behavior.  I tried to replicate this with a `host-local` network and per-container arguments (`--net eno2:ip=192.168

[2022-06-05 23:48] ajakk opened #14491 "podman differs with docker in ipv6 functionality"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With both docker and podman, I can run a registry container that listens on port 5000, something like:

`docker run -d -p 5000:5000 registry:latest`
or
`podman run -d -p 5000:5000 registry:latest`

With docker, this results in the container being accessible over ipv6:

[code]

With podman, th

[2022-06-05 23:51] SvenVD commented on #14145
I also experienced this bug, any workaround for fixing this manually, until podman 4.1.0 lands in RHEL8?

[2022-06-06 00:35] Alexhuszagh opened #14492 "Network Dropped Connection On Reset on Intel macOS when Running Binary on Mounted Volume"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If running a macOS host, if any binary is run from a volume mounted from the host, then an error appears stating `Network dropped connection on reset`. If the binary is run locally, IE, not from a mounted volume, then everything works fine. Shell scripts and other non-binary executables run.

[2022-06-06 00:56] rbertoche commented on #9540
So does that mean no chance at either editing the json specs or inputting them to a podman command to create a new container?
New clone command seems a nice addition to some usecases but it supports none of the commands I would need of it, such as --volume, --publish, --network, --subuidname, --subgidname... This current set of options clone has happen to be mostly of commands I have never used ev

[2022-06-06 01:08] rbertoche commented on #9540
One particular issue I would hope to be able to fix with clone is when the bind address I had previously passed in podman run or podman create is not bound on the host anymore, so I can't start the container anymore, even in the case I might be fine without that particular port published. Right now I am forced to create the containers "from scratch" when for some reason addresses in the host needs

[2022-06-06 03:07] aksiksi opened #14493 "Docker Compose health check disable flag is not handled correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman seems to ignore the `healthcheck` disable flag set via Docker Compose.

**Steps to reproduce the issue:**

1. Setup Podman service (to emulate a Docker socket).

2. Create a Docker Compose service for a container that has healthchecks defined and then disable them using `healthcheck` (

[2022-06-06 03:29] Alexhuszagh opened #14494 "Security Opt Seccomp Profile on Windows Expects an Absolute, WSL Path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

To differentiate between Podman installed inside WSL2 via apt and Podman installed via a binary installer using a WSL2 backend, I'll call the former Podman in WSL2 and the latter Podman on Windows. Now, to the issue:

If providing a path to a custom seccomp profile, using Podman on Windows, w

[2022-06-06 06:17] tupyy commented on #13951
Solved with PR #14266

[2022-06-06 06:17] #13951 closed

[2022-06-06 06:22] Siythrun opened #14495 "Podman Init wont Resolve DNS Windows WSL"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman machine unable to resolve DNS

**Steps to reproduce the issue:**

1. podman machine init

**Describe the results you received:**

When trying to install packages for Fedora 35 the WSL VM is unable to resolve the repo mirrors

[code]

**Describe the results you expected:**

I would expe

[2022-06-06 08:50] giuseppe commented on #13673
IMO, it has already the correct behaviour, since `--cgroups=split` is about reusing the current cgroup, not the pod cgroup

[2022-06-06 09:20] giuseppe commented on #14403
if the runroot is configured as `runRoot: /tmp/podman-run-1001/containers` there was a problem with `/run/user/$UID` directory wasn't present when Podman created its storage.

Is `/tmp/podman-run-1001` still used if you start with a fresh storage (`podman system reset -f`)?  What is the value of `XDG_RUNTIME_DIR`?

[2022-06-06 12:12] emansom commented on #9752
Seems related to issue [#9578](https://github.com/systemd/systemd/issues/9578) in systemd. Can that fix be backported to RHEL 8?

[2022-06-06 12:28] rhatdan commented on #13970
@giuseppe could you change the error message so we can close this issue?

[2022-06-06 12:33] edsantiago commented on #14456
okay, got it: the image `.created` timestamp bears no relation to those in the `history` array:
[code]
I think I could fix this by building a new testimage using the `--timestamp` option. I'll look into that today.

[2022-06-06 12:41] rhatdan commented on #14126
@baude what is the state of this one now?

[2022-06-06 12:41] cdoern commented on #9540
hi @rbertoche thanks for reaching back out! When implementing a new command, usually not all of the flags are added at once to keep the PR diffs below multiple thousands of lines. That being said, the goal is for all flags for podman create/run to eventually be applicable for clone. Would you like to submit an issue with a priority list of a few flags so I know where to get started?

[2022-06-06 12:42] rhatdan commented on #14113
@ashley-cui PTAL

[2022-06-06 12:43] rhatdan commented on #13983
@Luap99 What is the state of this issue?

[2022-06-06 12:46] rhatdan commented on #13714
@cdoern PTAL

[2022-06-06 12:46] rhatdan commented on #13729
@mheon any chance you can make this happen?  Or should we hand this to an intern?

[2022-06-06 12:51] cdoern commented on #14454
weird, I thought I fixed this exact issue a month or so back. I will look at this today.

[2022-06-06 12:53] lukasmrtvy opened #14498 "container state improper 409 - via stats endpoint for container in created state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
- Its not possible to attach to stats API endpoint via `/container/{id}/stats` if the container is created via `/containers/create` endpoint and is in created/initialized state. Same applies for CLI (`podman stats {id}`).
- Its working for Docker 20.10.13

**Steps to reproduce the issue:**

1.

[2022-06-06 13:07] alexanderadam commented on #14488
I created [an Ansible repo](/home/{{ podman_user }}/decrypted) for easy reproducibility and the volume line is [`"/home/podman_user/decrypted/postgres:/var/lib/postgresql/data:Z,U,rbind,noexec"`](https://github.com/alexanderadam/podman_oci_permission_denied/blob/main/roles/podman/tasks/postgres.yml#L31).

I didn't try with privileged since I want to achieve this combination within an unprivileged

[2022-06-06 13:11] mheon commented on #13729
Sure. Just need to add a field to the DB to store the error message from the last run, and throw that in `podman inspect`.

[2022-06-06 13:16] mheon commented on #14488
Please try with `--privileged` - knowing whether elevated privileges solve the problem is very relevant to determining where the problem could be.

[2022-06-06 13:23] mheon commented on #14498
Any chance you have easy access to the Docker CLI and see if they return a similar error to our CLI or just stream all-0s stats like the API does?

[2022-06-06 13:29] mheon commented on #14498
@jwhonce If you have time, PTAL; otherwise, could be a good candidate for the interns.

[2022-06-06 13:33] mheon commented on #14495
@baude @ashley-cui PTAL

[2022-06-06 13:34] cdoern commented on #14454
@r10r have you tried this on the main branch, running your exact commands in rootless podman works for me. Are you sure `/etc/containers/containers.conf` is the right conf file not `$HOME/.config/containers/containers.conf`?

[code]

[2022-06-06 13:36] mheon commented on #14494
@n1hility PTAL.

[2022-06-06 13:38] mheon commented on #14493
I'll take this one

[2022-06-06 13:38] mheon commented on #14492
@baude @ashley-cui PTAL

[2022-06-06 13:47] ashley-cui commented on #14113
@baude I vaguely recall discussion on this, on how it can't be an env var or in machine inspect because of the chicken-and-egg problem. Do you recall what the consensus was on this?

[2022-06-06 13:48] cdoern commented on #13714
@Luap99 would this be satisfied by adding the `--uts` flag to pod create? I can wire that up today

[2022-06-06 14:35] rhatdan commented on #12756
Is it time to close this issue?  Or do we need to wait for the additional docs?

[2022-06-06 14:35] lsm5 commented on #14278
@srd424 Can you let me know which exact repo you are trying to use for each and also the error messages you see? Ubuntu 22.04 has packages in its default repo itself, so if you're using it in production, please use only the official Ubuntu packages.

[2022-06-06 14:52] #13673 closed

[2022-06-06 14:59] #13417 closed

[2022-06-06 15:11] giuseppe commented on #13970
opened a PR: https://github.com/containers/podman/pull/14499

[2022-06-06 15:48] baude commented on #13768
no, and I dont have a good way to solve this.  It will require some more research.

[2022-06-06 15:50] baude commented on #14492
do you observe anything in the journal when doing this like audit records or otherwise?

[2022-06-06 16:21] Alexhuszagh commented on #14492
podman logs gives nothing, however, and tracing with Console doesn't seem to give anything of interest (I've tried searching for `podman`, `Network dropped connection`, and followed the `system.log` as well as the log for my device. I also tried another executable, `bzip2`, since it should never require any network connection under any circumstance, but that also fails.

`sudo praudit /dev/auditpi

[2022-06-06 16:41] edsantiago commented on #13899
It's imperfect, but one way to test might be:
[code]

[2022-06-06 17:05] ocafebabe commented on #14403
Strangely enough, XDG_RUNTIME_DIR isn't set at all, but I guess this is because it's a service account and that we access it using _sudo_ exclusively.

I tried `podman system reset` and indeed it seems to have fixed the issue, now I get this: `runRoot: /run/user/1001/containers`

This raises the following question: is there a proper way of using podman in rootless mode with a service account acces

[2022-06-06 17:17] mheon commented on #14481
@vrothberg @mtrmac PTAL

[2022-06-06 19:11] #14427 closed

[2022-06-06 20:12] miabbott opened #14503 "`podman` dumping core during RHCOS 4.11 + RHEL 8.6 operation on `aarch64`"
/kind bug

**Description**

The RHCOS team is rebasing RHCOS 4.11 to use RHEL 8.6; as part of our normal build + test operation on `aarch64` we noticed that `podman` was dumping core.

**Steps to reproduce the issue:**

Not yet entirely clear, but my guess:

1. Build RHCOS 4.11 w/ RHEL 8.6 on `aarch64`
2. Run resulting image
3. Start container with `podman`

**Describe the results you received:**

[2022-06-06 20:17] mheon commented on #14503
Looking latest main, seems fixed already (pointer deref was removed). Looks like https://github.com/containers/podman/commit/13c6fd067cab2fd21f96837c6b6105ebb740fd1d did it. Is a backport desirable? If so, we'll probably need a BZ to justify.

[2022-06-06 20:36] alexanderadam commented on #14488
`--privileged` doesn't help. It doesn't even work when I prepend `sudo`.

I thought that the Ansible repo would help you to test it yourself.
But if you rather want to setup everything manually, you could simply follow this:

[code]

[2022-06-06 20:38] miabbott commented on #14503
Yeah, I think we will want this as part of OCP/RHCOS 4.11.  Since we are maintaining separate branches for OCP 4.11 downstream, I believe we have a bit more leeway being able to get the backport in before OPP 4.11 code freeze.

Will create a BZ for this; thanks for the quick reply, Matt!

[2022-06-06 20:42] miabbott commented on #14503
https://bugzilla.redhat.com/show_bug.cgi?id=2094101

[2022-06-06 20:59] edsantiago opened #14504 "run --rootfs is broken, (at least) 2 different ways"
Background: this system test

https://github.com/containers/podman/blob/0c0d68e98d9b5d2d6a87a4ff4004f86d8cb5c4a6/test/system/030-run.bats#L624-L632

History PR #9231, which claims to fix #9230

Problem: the test works with `quay.io/libpod/testimage:20210610`, but does not work with any other image that I can find. These are the ~~two~~ three failure modes:
[code]
or
[code]
or
[code]
The error is n

[2022-06-06 21:11] Prashanth684 commented on #14503
so will this need a backport or should podman be bumped to the v4.1.0 for ocp 4.11 ?

[2022-06-07 03:58] samuel-caldwell-sands commented on #13165
I just had the same problem after installing podman on Ubuntu 21.10.  @enriquesalceda can you share with us what was done to solve the problem?  What was the bug fix?

Thanks!

[2022-06-07 04:29] gbraad commented on #14224
Anything to indicate it ended is great. Something that can be shared with the macOS package might be good approach/consistency. But it should be suppressed for a 'quiet' install.

[2022-06-07 04:30] gbraad commented on #14225
@anjannath please propose as a PR to contrib

[2022-06-07 06:54] giuseppe commented on #14403
`machinectl shell --uid=serviceuser` is a better option because it creates the user session, while `sudo` just changes the euid.

[2022-06-07 06:54] #14403 closed

[2022-06-07 07:37] #14503 closed

[2022-06-07 07:42] PavelSosin-320 commented on #13328
@InvisibleRasta Are you satisfied with this issue status? Please, reopen or send me mail directly to create a new issue. Podman still doesn't work on Fedora 36 modular with Kernel 5.17 after upgrade when podman start command is executed from the gnome-terminal as rootless user. No SeLinux events are registered. Podman info shows that syslog capability is missed when conmon explicitly says that the

[2022-06-07 07:53] #13970 closed

[2022-06-07 07:54] vrothberg commented on #13383
I readded the stale-issue label.  We're still far from 5.0 and don't need the reminder until then.

[2022-06-07 07:57] welderpb opened #14505 "Unhealthy pod(created via podman play kube) doesn't restart"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pod is created via "podman play kube" with livness probe - it is always running with "unhealthy" status.
[code]
I checked a code and found:
[code]
So i inspected my container(created with 'play kube') and it has a restart policy:
[code]
and  "exit 1" failureCmd instead "kill 1"
[code]

*

[2022-06-07 07:58] vrothberg commented on #14504
The described symptoms suggest a race condition.  My queue is quite full today but maybe I find time.

[2022-06-07 09:08] nobodyman1 commented on #14495
I tested version 4.0.3, both version have same issue.

[2022-06-07 10:31] vrothberg commented on #12475
@nicrowe00 PTAL

[2022-06-07 10:40] edsantiago commented on #14504
Oh, no hurry: if noone has noticed in more than a year, it's not that big a deal. (It's just blocking me from fixing #14456, but I can always just disable the `--rootfs`. And I'm OOTO today, so I can't do anything until Wednesday).

[2022-06-07 11:03] vrothberg commented on #14420
-> https://github.com/containers/buildah/pull/4043

[2022-06-07 11:38] NetDwarf commented on #13970
The error message the user is going to see is this:
[code]

So, the fix does not change anything as the new (and still cryptic) error message is in a different place. And I called attention to that just before the PR. I am underwhelmed to say the least.

[2022-06-07 11:50] r10r commented on #14454
@cdoren I tried it with the main branch, but same issue. I'm running podman rootful.

Please see the debug information below. I've additionally attached the debug output of the command `PODMAN=/mnt/rw/plain/dev/podman-main ./test-mount.sh > podman-run-debug.txt 2>&1`

[podman-run-debug.txt](https://github.com/containers/podman/files/8852868/podman-run-debug.txt)

Btw. I've build podman using the f

[2022-06-07 12:07] Luap99 commented on #14504
Note that the difference in the image is likely the `/run` and `/etc` directory because podman tries always tries to bind mount certain files such as `/run/.containerenv`, `/etc/resolv.conf`, `/etc/hosts` and more. In order to bind mount to a target, the file/directory must exists. Normally this is not a problem since the OCI runtime does this for us (see the `open`/`mkdir` error). However in this

[2022-06-07 12:12] Luap99 commented on #14490
This should be fixed with v.4.1 (https://github.com/containers/common/pull/965), @stigger please test with that version.

Podman should be able to handle all cni configs to run containers. However it may not be able to properly display the network information in network inspect.

[2022-06-07 12:16] Luap99 commented on #14491
Do you run podman as root? I don't really know about docker but AFAIK they also do not have ipv6 enabled by default.

As rootless it should just work with podman v4.0 or newer.
For rootful you would need to add a ipv6 subnet to the default cni/netavark config but forwarding via `::1` will not work due a kernel limitation.

[2022-06-07 12:37] rhatdan commented on #14488
Does this work if  you run the container outside of a Pod?

[2022-06-07 12:40] rhatdan commented on #14488
Trying this without the gocryptfs, it works fine for me.

[2022-06-07 12:48] cdoern commented on #14454
this only happens when running podman as rootful which is very strange, I can reproduce on the main branch with rootful podman but not rootless..... can you try running rootless @r10r and see if it is the same for you?

If this is the case, going to be a strange debug

[2022-06-07 12:51] #14462 closed

[2022-06-07 12:57] alexanderadam commented on #14488
No, it doesn't. Neither with nor without `--privileged` and/or `sudo`.

Exactly, this is only happening within the GoCryptfs user mount.
That's why I explicitly wrote in the issue

So the mentioned user mount is definitely relevant.

[2022-06-07 13:05] tweekley49 opened #14508 "Failed to move the rootless netns slirp4netns process to the systemd user.slice"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to get a container running properly due to an issue with rootless netns slirp4netns.

**Steps to reproduce the issue:**

1. ```podman network create test --subnet 10.89.0.0/24 --gateway 10.89.0.1```

2. ```podman pod create --name postgres --network test --share net```

3. ```podman ru

[2022-06-07 13:22] Luap99 commented on #14508
Is this the full error? Looking at the code there must be a colon after this message with the actual underlying error.

[2022-06-07 13:26] Luap99 commented on #14492
Duplicate of #14142

[2022-06-07 13:26] #14492 closed

[2022-06-07 13:37] tweekley49 commented on #14508
```Running scope as unit run-r1817d51327894576844396c9dde5104e.scope uid=1000(user) gid=1000(user) groups=1000(user),10(wheel) context=system_u:unconfined_r:unconfined_t:s0-s0:c0.c1023```

[2022-06-07 14:05] ajakk commented on #14491
Yes, I'm only testing as root. However, I've done no explicit ipv6 configuration to either podman or docker.

[code]

[2022-06-07 14:52] Luap99 commented on #14508
@giuseppe Any ideas about this systemd dbus error?

[2022-06-07 14:52] mheon commented on #14505
Restart policy doesn't include health checks - it only restarts on the container actually exiting. Adding integration between healthchecks and restart policy would be a new feature.

[2022-06-07 14:55] eshaingle opened #14510 "podman push not working on same tag"
I have  below podman version on M1 macbook pro
[code]

I am building an image and pushing it to a particular tag. It works fine.
However, when i make few changes to Dockerfile or related files and try to push the image with same tag, the changes are not available. I have to build a new image tag and push.

Please let me know if there is any way to push changes to same tag as I don't want to popula

[2022-06-07 15:00] #14465 closed

[2022-06-07 15:01] amokkara opened #14511 "image digest built using podman is different to digest of image built using docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I built an image using podman and also docker.
image built using podman has different digest compared to image built using docker.
is this expected? is there any middle ground where both these can have common digest? (may be using some parameter)?

**Steps to reproduce the issue:**

1. build i

[2022-06-07 15:08] vrothberg commented on #14511
Thanks for reaching out, @amokkara.

That is a "known" issue: the digest of an image depends, among other things, on the digest of the layers. The digest of the layers is further determined by the compression algorithm. The compression algorithm may (slightly) change at any given time - even when using the `gzip` package of Go's standard library.

That being said: there is no guarantee that any to

[2022-06-07 15:08] #14511 closed

[2022-06-07 15:12] tupyy commented on #14450
Hello,
After some digging in `runc`, I've found that the mount is done by a syscall:
https://github.com/opencontainers/runc/blob/a7a45d7d2721314ea325874c2adc69723f6b7162/libcontainer/mount_linux.go#L57

Now, I tried to achieve the same thing with this code:
[code]
which gives the same error. If I'm changing `bind` by `ext4` it works but in podman there is no such type `ext4`.
So, I guess this is t

[2022-06-07 15:15] amokkara commented on #14511
@vrothberg thanks for quick reply. let me explain my situation and may be you can provide a solution.
we first build images using podman, save them to tar file and also provides the image digest  for each image and ship it.
the user loads these images in docker env (docker load) and pushes them to a registry.

once user pushes the images, the digest is not matching to the digest we sent when we sh

[2022-06-07 15:17] welderpb commented on #14505
@mheon
I am not talking about integration between healthchecks and restart policy. I am taking that heathcheck command constructed from liveness probe definition, and contains "failureCmd" variable.

pkg/specgen/generate/kube/kube.go
[code]
in case if restart policy equals "onfailure" or "alway" it should be "kill 1"  according this code:
[code]
in fact it is "exit 1" when RestartPolicy: OnFailure

[2022-06-07 15:19] mheon commented on #14505
This is also not supported yet. I'm working on a related feature (startup probes) and I can look into this once I'm done.

[2022-06-07 15:20] vrothberg commented on #14511
Thanks for elaborating, @amokkara.

I do not know a solution to this problem.  If you do a `skopeo inspect --raw docker://$yourImage` on the original image and the final one, you should see what has changed. I am 99 percent sure the digests differ.

@mtrmac, WDYT?

[2022-06-07 15:29] mtrmac commented on #14511
Yeah, the `docker-archive` format preserves neither the compression format nor the manifest representation. It’s not possible to preserve a digest using that format.

For syncing between registries, use a direct registry-to-registry copy using `skopeo` (possibly using a temporary localhost registry for transfer to an off-line site), or perhaps a `dir:` format via `skopeo copy` or `skopeo sync`.

[2022-06-07 15:34] milenkovicm opened #14513 "Alignment with moby swagger definition for `ContainerConfig.entrypoint`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

running `podman inspect <running container>` returns schema which is not aligned to current https://github.com/moby/moby/blob/master/api/swagger.yaml definition. Json returned by `inspect` command diverges from schema in at least two situations:

1.  `ContainerConfig.entrypoint` which is retu

[2022-06-07 15:38] gbraad opened #14514 "Update notification for the update of the podman machine image"
The podman machine image, which uses Fedora CoreOS, can automagically update. This needs a reboot to pivot to the new root.
We discussed this at some point that it might be user controlled or otherwise notified to the user.
This issue is to collect feedback around this.

[2022-06-07 15:42] welderpb commented on #14505
@mheon Why it is not supported if i can see this code in v4.1.0 tag?
Could you check this condition:
[code]
might be "onfailure" should be "on-failure"?
"always" condition working as expected..

[2022-06-07 15:59] fbezdeka opened #14515 "--userns=keep-id no longer working for privileged containers"
/kind bug

**Description**

The [kas](https://github.com/siemens/kas) project uses `--userns=keep-id` to get a user mapping between the user calling padman run on the host and a specific user (build) inside the container. This worked quite well in the past, but got broken with 80c0fceb24b70a85f3f2ca8be29f4a131c0881d4. We now end up in the error

[code]

As the mentioned commit is talking about add

[2022-06-07 18:15] pierot opened #14517 "Error: channel "123" found, 0-3 supported: lost synchronization with multiplexed stream"
/kind bug

**Description**

Trying to set up a MySQL container on Apple M1 Pro.

**Steps to reproduce the issue:**

1. Following command:

[code]

2. The output is the ID of the container.
3. Running `podman ps` results in an empty table/list.

**Describe the results you received:**

Running `podman logs mysql` gives:

[code]

**Describe the results you expected:**

A running container.

**Additio

[2022-06-07 18:39] tvannahl opened #14518 "On systemd pod start: conmon.pid O_PATH file descriptor to proper file descriptor: Permission denied"
/kind bug

**Description**

I am currently experimenting with podman generate systemd . My target is to build unit files out of kube pod definitions.
Unfortunately I am getting the following error message:

[code]

The podman version is `4.0.2` and running in `CentOS 8 Stream`. To get there I did the following steps:

**Steps to reproduce the issue:**

Given the pod file (as `nginx.yaml`):

[code]

[2022-06-07 18:46] #14454 closed

[2022-06-07 18:50] rhatdan commented on #14515
There is no way to know guaranteed who the user is running the container.

You should just do
$ sudo podman run --user $(id -u):$(id -g) fedora id
uid=3267(3267) gid=3267(3267) groups=3267(3267)

[2022-06-07 18:50] #14515 closed

[2022-06-07 19:00] rhatdan commented on #14504
Add an Overlay :O mount to the --rootfs object.
[code]

[2022-06-07 19:04] rhatdan commented on #14488
I would figure there is some rootless interaction going on here.

Does the blow up if you switch the runtime to runc?

podman --runtime=runc ...

[2022-06-07 19:17] alexanderadam commented on #14488
It gives a different error
[code]

and with sudo it gives `Error: statfs /home/vagrant/decrypted/postgres: permission denied` again.

[2022-06-07 19:31] rhatdan commented on #14510
Could you update your machine by rerunning podman machine init.  I believe this will update the machine to match the client.  Don't know if this will fix your problem or not.

[2022-06-07 19:45] rhatdan commented on #14514
Basically requires user to do
podman machine stop
podman machine start

[2022-06-07 19:48] #13899 closed

[2022-06-07 19:53] rhatdan commented on #14488
Could yo try to remove the :Z and see if this changes anything?  How about :U? :rbind? :noexec?

[2022-06-07 20:05] alexanderadam commented on #14488
It's always `Operation not permitted`

[2022-06-07 20:20] alexanderadam commented on #14488
It's included in [the first post](https://github.com/containers/podman/issues/14488#issue-1260899749).

You can click below "Output of podman info --debug" on "Click to show" to see the whole response.

It's [`overlay`](https://github.com/alexanderadam/podman_oci_permission_denied/blob/main/roles/podman/tasks/main.yml#L26-L31)

[2022-06-07 20:23] rhatdan commented on #14488
@giuseppe Ideas?

[2022-06-07 21:19] rhatdan commented on #14518
There have been fixes to support kubernetes.yaml files in systemd unit files.
@vrothberg PTAL

[2022-06-07 21:39] 1player opened #14522 "Add an option to run podman play kube in the foreground. Stop pod when process is terminated."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Requesting a command line option to run `podman play kube` in the foreground. All containers are started normally, and when the podman process is terminated, all pods are stopped. This is so I don't have to remember to run `podman play kube --down` every time.

The goal is to have a simil

[2022-06-07 22:00] #13599 closed

[2022-06-07 22:56] sjwl commented on #14303
My workaround is to delete the VM and start from scratch
[code]
version
[code]

[2022-06-07 23:57] muhmuhten opened #14523 "Interrupted build leaves hard-to-remove containers running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In the vein of #11472

**Steps to reproduce the issue:**

1. `podman run -d busybox sleep 1d`
2. `printf '%s\n' 'FROM busybox' 'RUN cat /dev/zero > a' | podman build -f - /var/empty`
3. ^C
4. `podman image prune -af --external` (This doesn't do anything)
5. `podman container prune -f` (This d

[2022-06-08 00:58] gbraad commented on #14514
Usercontrolled => not wanting the update just yet as it might introduce unnecessary changes to the environment. Some corporate environments arent in favour of auto rollout or patching due to unforeseen consequences.

[2022-06-08 08:28] Luap99 commented on #14504
The point of the test is to use --rootfs with an readonly rootfs and not overlay.

[2022-06-08 08:42] vrothberg commented on #14518
Thanks for reaching out, @tvannahl.

The issue is that the pod is currently running but was not started via `systemctl` but via `podman play kube`.  If you do `systemctl stop` and then a `systemctl start`, it will work as expected.

As Dan mentioned, Podman v4.2 will ship with a new way of running K8s yaml in systemd. We'll prepare a blog for that around the time of the release.

[2022-06-08 08:42] #14518 closed

[2022-06-08 08:44] giuseppe commented on #14488
could you try creating the mount inside the user namespace?

Otherwise it is running on the host, where the user has access to only one UID/GID and chown fails.

What you'd have to do is:

[code]

[2022-06-08 09:03] welderpb commented on #14505
@mheon
Could you explain then what this block of code mean?
[code]
it is exactly what i need..  Append "kill 1" to cmd whtn restartPolicy always or onfailure..
In case if restartPolicy "always" it is working, in case "on-failure" it is not!

[2022-06-08 09:08] theburge opened #14525 "podman 4 internal DNS is case sensitive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using a custom bridge network with the DNS plugin enabled, resolving container names is case sensitive. DNS look-ups are not expected to treat case significantly, so this breaks any software relying on that fact (for example, OpenSSH tends to make hostnames lowercase before sending them

[2022-06-08 09:25] fbezdeka commented on #14515
Thanks for all the super fast support. It seems that we need `--userns=keep-id` for rootless containers only, so we should be able to deal with that.

The proposed `--user $(id -u):$(id -g)` did not work because the username inside the container would become the numerical value, which does not work together with expectations (like sudo configuration) inside the container.

The documentation about

[2022-06-08 09:28] giuseppe commented on #14508
what is your current cgroup?

Could you show the output of `cat /proc/self/cgroup`?

Any error message in the journal?  Could you try disabling temporarily SELinux (`setenforce 0`)?

[2022-06-08 09:33] tupyy commented on #14450
Ok. Thanks a lot for your help guys. I'm closing the issue if it is ok for you.

[2022-06-08 09:33] #14450 closed

[2022-06-08 09:40] vrothberg commented on #13627
@mheon ping

[2022-06-08 09:48] vrothberg commented on #14481
@qdel, thanks for reaching out.  Are you running behind a proxy?  If so, could you try without it?

[2022-06-08 10:32] flouthoc commented on #14525
Hi @theburge , Thanks for creating the issue. Since you are using netavark we can fix this at aardvark end. Following PR should close this once tested and merged https://github.com/containers/aardvark-dns/pull/146

[2022-06-08 10:44] categulario commented on #12029
I just experienced this issue on ubuntu `22.04` with podman `3.4.4`.

`log_driver="k8s-file"` works fine to see the logs but `--follow` doesn't seem to work

[2022-06-08 10:57] 1player opened #14527 "Add podman play kube --build support for podman remotes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman play kube --build` is not supported on remote podman. The documentation doesn't specify why, and I wasn't able to find any discussion of why exactly it isn't working, as `podman build` works on remote mode.

The use case is developing on immutable distributions like Fedora Silverb

[2022-06-08 11:21] qdel commented on #14481
Hi,

I am not using a proxy on the client side.

I have 2 gitlab instances. One with a reverse proxy, one without.

Both experience the same issue.

[2022-06-08 11:22] rhatdan commented on #14522
Makes sense to me. but we may need to default to --detach=true, since we would not wan to break existing scripts.

[2022-06-08 11:25] 1player opened #14528 "Podman remote tries SELinux relabel of incorrect directory, unless given an absolute path"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman tries to relabel the incorrect directory when starting a container in remote mode, unless given an absolute path to the volume.

**Steps to reproduce the issue:**

1. Set up a container with podman remote access.
2. Enter the container.
3. `mkdir test && cd test`
4. `podman run -it -v

[2022-06-08 11:27] vrothberg commented on #14522
Starting with Podman v4.2, the pods terminate on their own.  They won't be removed but they terminate.  Would that address your issue?

[2022-06-08 11:30] 1player commented on #14522
Does this mean that on Podman 4.2 `play kube` stays in the foreground until stopped with Ctrl-C, and at that point pods are terminated? That would indeed address this issue.

[2022-06-08 11:30] vrothberg commented on #14504
I think we should check whether the --rootfs is read-only and carry that information along.  If it's RO, then Podman shouldn't attempt to write on it.  Probably worth emitting a warning and pointing to the overlay mount alternative.

[2022-06-08 11:31] vrothberg commented on #14522
No, nothing runs in the foreground.  But if all containers in a pod exited, then the pod gets stopped automatically.

[2022-06-08 11:33] edsantiago commented on #14504
While this is getting resolved, may I just submit my PR with this test skipped?

[2022-06-08 11:33] vrothberg commented on #14481
Does wireshark indicate whether the connection to the registry dropped?

[2022-06-08 11:35] 1player commented on #14522
Ah, then what I'm requesting is different. This issue is to have a mode that all pods are started with `play kube`, and they stay running until the `play kube` process is stopped. At that point the pod is terminated. In other words:

1. Start pod
2. Wait for signal
3. Stop pod

Currently `play kube` only provides a "detach" mode, and users need to remember to do a `play kube --down` manually or ev

[2022-06-08 11:41] vrothberg commented on #14522
Thanks for elaborating.  That sounds doable: `play kube` waits for a sigstop and runs `play kube --down` when receiving the signal.

[2022-06-08 11:49] LewisGaul opened #14530 "ParseInt error with --device-cgroup-rule 'c *:* rwm'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to parse wildcard for major device number in device cgroup rule.

**Steps to reproduce the issue:**

1. `podman run --rm --device-cgroup-rule 'c *:* rwm' fedora cat /sys/fs/cgroup/devices/devices.list`

**Describe the results you received:**

[code]

Even when passing a specific device

[2022-06-08 11:50] 1player commented on #14517
I get this error on Linux (in remote mode inside a container) whenever the image isn't able to start for whatever reason. So isn't not a macOS only bug.

The only way to get the logs is do `podman ps -a`, find the failed container, and do a `podman logs` using that ID.

[2022-06-08 11:50] Luap99 commented on #14491
Looks like the docker-proxy process takes care of the port forwarding when no iptables rule match.

[2022-06-08 11:53] tweekley49 commented on #14508
cgroup is v1
output of `cat /proc/self/cgroup`
[code]

No errors in journal and SELinux has been in permissive this entire time via `/etc/selinux/config`

[2022-06-08 12:11] qdel commented on #14481
I am not a pro of wireshark and i will try to create a testing environment for it.

But indeed, in the instance using my reverse proxy, I encouter this error:

[code]

When requesting directly my registry in http using following command, the process go to the end.
[code]

I am searching if there is configuration in my reverse proxy which can create the hassle.
Not that in the instance of gitlab wi

[2022-06-08 12:15] tweekley49 commented on #14508
It would appear the error was cleared up randomly.... I stopped the container and removed it and now I am getting a new error. running `podman logs postgres` I am now getting fatal errors of:
[code]

What's weird is this only happens on a STIG'ed Red Hat.... A non-stig Red Hat works completely fine. I know this is a separate issue than what this ticket is for, so if I need to open a new one, then

[2022-06-08 12:23] giuseppe commented on #14508
is that happening inside or outside the container?

You should not run podman rootless using sudo, as it doesn't create the user session

[2022-06-08 12:37] tweekley49 commented on #14508
Happening inside the container. A command inside the container being ran is `sudo -u postgres xxx` but again, this works fine on a non-stigged version, so I am quite stumped what could cause the issues with STIGs

[2022-06-08 12:40] giuseppe commented on #14508
could it be mounted with `nosuid`?  How does the `/proc/self/mountinfo` file look like?

[2022-06-08 12:45] qdel commented on #14481
Hi,

Indeed, this was the case. Note that this post helped me:
https://trac.nginx.org/nginx/ticket/1472

Switching configuration of my proxy with `proxy_max_temp_file_size 0;` correct this issue.
I will provide the info to gitlab in case of...

Note that I am still quite surprised docker does not meet this error. maybe I should check the differences in the http request of both clients. Maybe docke

[2022-06-08 12:45] #14481 closed

[2022-06-08 12:46] tweekley49 commented on #14508
[code]

[2022-06-08 12:50] 1player opened #14531 "Active podman process blocks system reboot/shutdown"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

An active podman process is unable to be cleanly stopped by systemd reboot/shutdown, and thus has to be killed after the 2min grace period expires.

**Steps to reproduce the issue:**

1. `podman run -it docker.io/library/busybox`
2. Inside the container: `sleep infinity`
3. Reboot the system

[2022-06-08 13:02] tweekley49 commented on #14508
Removed the nosuid from `/etc/fstab` but issue still persists with the same messages.

[2022-06-08 13:03] rhatdan commented on #14450
Should we catch this error in Podman and have a better error message?

[2022-06-08 13:08] tweekley49 commented on #14508
Reboot and I did confirm. the `/home` in `/proc/self/mountinfo` is now:
`131 96 8:12 / /home rw,nodev,relatime shared:73 - xfs /dev/sda12 rw,seclabel,attr2,inode64,logbufs=8,logbsize=32k,noquota`

[2022-06-08 13:10] rhatdan commented on #14528
Very strange. Does the . directory end up being correct if you do not specify :Z, IE does

podman run -it --privileged -v .:/foo busybox ls /foo

End up with your homedir or with the test directory?

[2022-06-08 13:11] rhatdan commented on #14528
@vrothberg @ashley-cui @umohnani8 This looks like a good one for an intern.

[2022-06-08 13:13] giuseppe commented on #14508
hm.. does `/etc/sudoers` exist inside the container?  Can you open it?

[2022-06-08 13:23] Luap99 commented on #14517
What does this mean? Can you provide an exact reproducer.

[2022-06-08 13:23] giuseppe commented on #14508
one more thing to check, how does the sudo binary look like inside the container (`stat /usr/bin/sudo`)?

Have you tried removing the image and pulling it again after you dropped the `nosuid` bit?

[2022-06-08 13:29] rhatdan commented on #14504
I do not know what the general fix for this is, other then to state that all of the mount points need to be precreated in the original image for --rootfs to work on a read-only file system.  We could attempt to give a list of these locations, but I am not sure how complete it would be and difficult to maintain going forward.

[2022-06-08 13:31] giuseppe commented on #14508
the file looks correct though

[2022-06-08 13:31] rhatdan commented on #14530
@vrothberg @umohnani8 @ashley-cui Intern Issue?

[2022-06-08 13:50] tweekley49 commented on #14508
Pulling the images back down after doing a full system prune didn't do anything, sadly.

[2022-06-08 13:54] rhatdan commented on #14531
I wrote this in bugzilla too:
https://bugzilla.redhat.com/show_bug.cgi?id=2084498
[code]

[2022-06-08 13:59] tweekley49 commented on #14508
Stopped and disabled that one prior to starting any of this hoping it would be my golden fix.

[2022-06-08 14:21] vrothberg commented on #14504
So should we detect a RO rootfs and error out?

[2022-06-08 14:24] rhatdan commented on #14508
Any chance the NowNewPrivs set?
$ grep -i privs /proc/self/status
NoNewPrivs:	0

[2022-06-08 14:25] vrothberg commented on #14531
@rhatdan, I don't think that would help in this scenario.

If there's a container running that does not adhere to sigterm/stop etc. Then systemd is blocked on the process.

We could think of `podman-shutdown.service` that is being called on shutdown though.

[2022-06-08 14:25] Luap99 commented on #14504
No, this clearly works as long as you have the correct paths that podman bind mounts already in the rootfs. There are options to turn off the bind mounts for /etc/{hosts,resolv.conf}. I do not know if there is a option for the /run mounts? Although I wonder why does podman tries to create /run/secrets when the container does not use any secrets.

[2022-06-08 14:25] tweekley49 commented on #14508
Output is: NoNewPrivs: 0

[2022-06-08 14:25] rhatdan commented on #14504
We could, but this use case might work if /dev, /run, /etc/hosts, /etc/resolv.conf exist in the image.

[2022-06-08 14:27] rhatdan commented on #14504
/run/secrets is created for RHEL stuff as well. Not sure if it is always created.  A container without read/write /run would fail is most cases as well.

[2022-06-08 14:29] rhatdan commented on #14531
Whell it would exit with a SIGKILL after 10 seconds.  Having a podman-shutdown.service might make some sense and do a
podman pod stop --all
podman stop --all

[2022-06-08 14:40] mheon commented on #14531
Stop timeout is also user-configurable, so someone could theoretically have a container with a stop timeout of 90 seconds to ensure their container always has time to perform its safe shutdown routine, but that would still stall the system for 90 seconds on shutdown, potentially.

[2022-06-08 14:45] tweekley49 commented on #14508
This is the journal output...
[code]

[2022-06-08 14:49] 1player commented on #14531
I think the `sleep` in my example is a red herring. I notice this problem every time I use `toolbox` on a Fedora machine. Whenever I reboot, systemd complains it's not able to stop podman.

[2022-06-08 14:58] vrothberg commented on #14531
I would expect the tools to manage the containers and call `podman stop`.

That may explain _why_ the containers are still running: `podman stop` failed.

[2022-06-08 15:05] mtrmac commented on #14481
Docker does have some per-layer retry logic that seems to reuse data from previous aborted pull attempts.