[2020-10-30 03:49] usury commented on #8194
**Working DNS using container names - containers on user-defined rootless cni network NOT in a pod**
_This is not a problem._ Rather, this is how a user would expect it to work if the same containers were within a pod.
[code]

[2020-10-30 05:30] longwuyuan commented on #8190
@rhatdan
rootfull --> I seem to be unable to pip install even outside kubernetes (on my linux laptop) ;

[code]

rootless --> I have not tried. I guess I need to add "USER <someuser>" in dockerfile and rebuild podman image or maybe there is a flag to run rootless. I will check but kindly advise accordingly and I will try rootless and update.

@mheon
- Now that I seem to be unable to do pip install

[2020-10-30 05:43] mfschumann opened #8195 "DNS queries from router are not forwarded to container's private interface"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to run a pihole DNS server in a rootful container with --net=private on my Fedora server (release 33). My internet gateway router is configured to use this DNS server as upstream, so that clients on my network would usually send their DNS queries to the router who forwards them to

[2020-10-30 06:35] ericzolf commented on #7415
I re-tried exactly the previous commands under Fedora 33 podman-2.1.1-12.fc33.x86_64 and not even IPv4 is working now. I've tried it even from within the httpd pod itself and there also the connection hangs. But even when not publishing to IPv6, does the connection to IPv4 hang... What has changed here?
Note that the veth interface has no IPv4 attached, if it's in anyway relevant:
[code]
I still h

[2020-10-30 07:03] giuseppe commented on #8182
You are right, the issue is that the specified new mappings overlap on two mappings in the current user namespace.  That error is coming directly from the kernel.

Not sure why it is done this way in the kernel, probably to simplify the implementation

[2020-10-30 07:11] shsheep commented on #8180
Fixed the volume path in libpod.conf to /var/tmp/myuser/containers/storage/volumes.
But there seems a little problem while using podman on SAN or NFS environment

[2020-10-30 07:11] #8180 closed

[2020-10-30 08:54] vrothberg commented on #8183
`skopeo` is not required. The CentOS 7 builds had issues this week on the Kubic repo. Let's wait for @lsm5 to have a look.

[2020-10-30 09:17] rhatdan commented on #6365
@giuseppe WDYT?

[2020-10-30 10:54] vrothberg commented on #8012
Could be podman-build bug. @nalind @TomSweeneyRedHat PTAL

[2020-10-30 11:08] rbo commented on #6496
I'm seeing the same behaviour with podman 2.1.1. Here my debugging details : https://gist.github.com/rbo/2bcae948fe5e278fc68d12c365d20af1 (Don't want to make to much noise here.)

It looks like to me it change the manifest version. First push `schemaVersion": 2,` Seconf push `"schemaVersion": 1,` registry: quay.io

[2020-10-30 12:11] edsantiago commented on #8068
@cevich nice work! Thank you!

[2020-10-30 13:23] mheon commented on #8190
@longwuyuan I meant adding capabilities to the Kubernetes container Podman is running in, not to Podman itself - sorry if I was unclear. That is also where I'd recommend disabling Seccomp, if it's enabled. The outer container seems to be too restrictive for us to run Podman.

[2020-10-30 13:25] giuseppe commented on #6365
Podman 2.0 seems to behave differently:

[code]

Is this the desired behaviour?

Even if compatible with what Docker does, I am not sure we should ignore a configuration that was explicitly set by the user

[2020-10-30 13:30] mheon commented on #8194
Dupe of #8040

[2020-10-30 13:31] mheon commented on #7842
OK, this completely slipped through the cracks until now; sorry. @AkihiroSuda This ought to work fine on the CNI side, right? I suspect this is a check Podman is doing before we even call out to CNI, so I expect it should be an easy fix.

[2020-10-30 13:39] mheon commented on #8180
The NFS issue is known, we'd like to get it fixed in the semi-near future (sometime in the next year)

[2020-10-30 13:41] Luap99 commented on #8194
No this is not a duplicate.

The problem is that we always use the podname for the dns entry if the container is in a pod. In this case we do not join the pod network namespace and thus should use the container name for the dns entry.

[2020-10-30 13:43] Luap99 commented on #8194
This happens with both rootful and rootless cni. I can fix this.

[2020-10-30 13:44] mheon commented on #8194
Good catch - thanks!

On Fri, Oct 30, 2020, 09:43 Luap99 <notifications@github.com> wrote:

[2020-10-30 13:48] cevich commented on #8068
Your welcome...I'm really happy it wasn't some obscure cause as I feared, and something I've seen before.

After reading through the various bugzillas, this is definitely a re-emergence in Fedora and now affecting RHEL also.  Previously, the podman integration tests were instrumental in helping upstream develop a fix.  However, that took ***MONTHS***, and being twice-burned by this, I'm shy about

[2020-10-30 14:02] gcs278 commented on #6612
@rhatdan Sorry, other priorities at the moment, but we are still very much interested in making this work. Still having the same issue with running over additionalImageStore over NFS, but haven't tried anything new yet.

[2020-10-30 14:02] giuseppe commented on #6365
opened a PR to add the same check on cgroup v2: https://github.com/containers/podman/pull/8197

[2020-10-30 14:04] AkihiroSuda commented on #7842
Yes, this should be really easy to fix

[2020-10-30 14:17] mheon commented on #7842
#8198 to fix

[2020-10-30 14:30] longwuyuan commented on #8190
@mheon thank you very much. Its my fault as I am a first time user of podman.

My current thought is that, if i can reproduce the problem without kubernetes.
- I create this dockerfile ;

[code]
- Then I create a image from above dockerfile
[code]

- Then on a ubuntu20 laptop, i just create a container using above mentioned podman image as baseimage ;
[code]
- So I get a ubuntu20 based container w

[2020-10-30 14:31] rhatdan commented on #8190
@longwuyuan I just want to make sure that running podman on the host, not in a Docker container or Kubernetes container works.

Docker has known issues with what it blocks in it's seccomp rules.

[2020-10-30 14:39] longwuyuan commented on #8190
@rhatdan ah ok

- I don't have podman installed on my laptop and the problem I am trying to solve is building docker/podman images inside the jenkins agents that are launched as kubernetes pods, when jenkins master itself is running as a pod.

- I am informed that running DIND with privileged containers mounting the host docker daemon socket is a solution.

- I started exploring podman, so I can b

[2020-10-30 15:21] balamuruganravi commented on #7976
Hi @giuseppe did you get chance to reproduce this issue.
if I remove the `dbus.service` from the `cat /home/podman/.config/systemd/user/pod-appd.service` `Requires=` list and reboot the instance. I am unable to run any podman commands its totally hang. only `podman version` command works
[code]

[2020-10-30 15:32] #8068 closed

[2020-10-30 15:50] #8158 closed

[2020-10-30 15:54] #8181 closed

[2020-10-30 18:08] usury commented on #8195
I have some familiarity with firewalld on Fedora 32, @mfschumann. I had to learn some new things regarding kernel api "netfilter" (new) vs "getsocket/setsocket" (old) and iptables-nft (new) vs iptables-legacy (old). I had been using "iptables" since the days of "FC3" when we had to recompile our own kernels in order to get certain flexability (like ip masquerade, etc).

**Depending on whether your

[2020-10-30 18:11] remyluslosius commented on #8087
@rhatdan, I'm waiting for the RHEL 8.3.1 release. You commented on my [bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1890707) request that the latest RHEL release will have crun.  And since I enable CGroups v2, the default OCI runtime for podman changes to ``crun``.

[code]

The error with CGroups v1 was:
[code]

[2020-10-30 18:19] rhatdan commented on #7663
I figure this worked, so closing, reopen if I am mistaken.

[2020-10-30 18:19] #7663 closed

[2020-10-30 18:30] rhatdan commented on #8183
Skopeo has a subpackage of containers-common which includes registries.conf and seccomp.json files.

[2020-10-30 19:47] mfschumann commented on #8195
Tracing the activities of nft with `nft monitor trace` I found that packets coming from a client were designated `daddr 10.88.0.61` (the container's private IP), while packets coming from the router were designated `daddr 192.168.0.50` (the host's LAN IP). This difference was caused by a firewalld rule that opened port 53 on the host. Once I deleted the rule the packets from the router showed up w

[2020-10-30 21:16] usury commented on #8195
I'm a relatively new podman user, so I'm in no position to speak with authority.

If "podman" is adding some firewall rule (by calling "iptables-legacy", "iptables-nft", or some other more direct mechanism) that interfers with otherwise intended behavior, that sounds like something for podman to handle differently or at least document.

If it is the user adding a rule via "firewalld" that interfer

[2020-10-30 23:19] #8023 closed

[2020-10-30 23:47] duckie commented on #7397
This is weird, #7103 made its way to 2.1.1, yet I still observe this exact bug, consistently.

[2020-10-31 01:06] usury commented on #8194
However, if pod containers don't need to share "net" namespace (as is the case when containers within a pod belong to a CNI network??), and each container within a pod can have it's own hostname assignment (not the pod name as it is now), then shouldn't the example in the second block (below) be possible if container-name-based DNS resolution is made to work?

**Containers within pod created with

[2020-10-31 01:15] usury commented on #8194
I know the documentation says rootless containers within pods need to access each other's services from _localhost:port_ within the pod, or publish their services to a host port and access each other's services via _containerhost:published_port_.

However, if pod containers don't need to share "net" namespace (as is already the case when containers within a pod belong to a user-defined CNI network

[2020-10-31 04:01] longwuyuan commented on #8190
understood. thank you very much

[2020-10-31 10:12] #8194 closed

[2020-10-31 10:23] rhatdan commented on #8193
@AkihiroSuda WDYT?

[2020-10-31 10:24] rhatdan commented on #8182
Does this mean this is unfixable, other then to improve the error message?

[2020-10-31 10:24] #8190 closed

[2020-10-31 10:26] rhatdan commented on #8130
@nikAizuddin What were the results?

[2020-10-31 10:28] rhatdan commented on #8087
Ok let's handle this in the bugzilla, this is not an upstream issue.

[2020-10-31 10:28] #8087 closed

[2020-10-31 10:29] #8118 closed

[2020-10-31 10:33] rhatdan commented on #8079
I thought this was fixed by your --table pr.  Are you still working on it?

[2020-10-31 10:36] rhatdan commented on #8086
@asottile Could you try again with the code in master branch.  @mheon got a partial fix in, see if this helps your issue.

[2020-10-31 10:38] rhatdan commented on #8047
@zhangguanzhang Why did you want @lsm5 to look at this?

[2020-10-31 10:44] rhatdan commented on #8195
@mccv1r0 @mheon PTAL

[2020-10-31 10:45] rhatdan commented on #8195
Podman relies on CNI for configuration of the network stack.

[2020-10-31 10:46] rhatdan commented on #6365
This is fixed in master.

[2020-10-31 10:46] #6365 closed

[2020-10-31 10:50] rhatdan commented on #6612
Podman 2.1 is arriving on rhel8.3 very soon, could you try this out?

[2020-10-31 10:54] rhatdan commented on #7415
@mccv1r0 Thoughts?

[2020-10-31 10:54] #7927 closed

[2020-10-31 10:58] bsideup commented on #7927
Hey @rhatdan,

does it mean that all known issues with Podman and Testcontainers are fixed now and that 100% of TC's test suite passes with Podman? 🎉

[2020-10-31 11:22] AkihiroSuda commented on #8193
SGTM

If we do that, it will be slowed down as in slirp4netns.

Probably we can just spoof srcIP using IP_TRANSPARENT socket, but I'm not familiar with IP_TRNASPARENT.

[2020-10-31 12:48] njam opened #8206 "Quay image 'podman/stable' is missing some tags for versions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The container image for Podman on Quay.io [`podman/stable`](https://quay.io/repository/podman/stable?tag=latest&tab=tags) is tagged only for _some_ versions. Many Podman-versions don't have a corresponding image tag (2.1.1, 2.1.0, 2.0.5., ...):
<img src=https://user-images.githubusercontent.c

[2020-10-31 14:05] opensourceally commented on #6800
Getting Similar error

[code]

[2020-10-31 15:15] TomSweeneyRedHat commented on #8206
@njam Thanks for the report.  It's possible to include tags for some of the versions that are missing.  One or two I left off on purpose as we'd a very quick follow up release.  At the moment, however, we're having some difficulties creating the images due to a but that either makes the image too large or forces the image to use an older schema.  Once that's chased down (https://github.com/contain

[2020-10-31 17:47] asottile commented on #8086
ok adjusting the above script:

[code]

it looks like `--rm` is broken so I can't really run this in a loop:

[code]

[2020-10-31 18:23] mheon commented on #8086
Oh, you're seeing that `--rm` is broken as well? I saw it locally on one of my machines, but other team members didn't. Interesting.

[2020-10-31 18:23] mheon commented on #8086
Can you confirm if `--rm` is working as root?

[2020-10-31 18:29] asottile commented on #8086
I've never run podman as root, hope I'm doing this right!

[code]

[2020-10-31 18:36] giuseppe commented on #8182
we could fix it if we take care of splitting the specified mappings, possibly in the OCI runtime, but I think it is better to try to fix it in the kernel first.  @ebiederm what do you think?

The error message above is generated by runc.  With crun it is:

[code]

[2020-10-31 18:36] mheon commented on #8086
Yes - that looks right. Rootless only, then. Thanks!

[2020-10-31 23:01] mwhahaha opened #8208 "Running system service with --time=0 connections appear to grow without limit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When you run the podman system service to provide the api, each request looks like it creates connections for each request and the number doesn't shrink. If you're using socket activation it's probably not a problem, but if the service never stops it might become an issue. I don't know if thi

[2020-11-01 00:20] mwhahaha commented on #8208
Never mind I looked in the code, that's the total number of connections that have been made. There does seem to be a bug in the count however because the number of connections gets increased when the state is New and Active so it's double counting.

[2020-11-01 02:00] Radtoo commented on #3264
pass/gopass and comparable tools could be great, just hand the password and other data from "pass show podman/container_id".

With a solution like it, you probably would have to mainly specify how you expect container secrets to be named, and whether you also support parsing additional YAML or TOML or whatever format data into additonal runtime relevant variables if present. The rest is probably j

[2020-11-01 06:53] nikAizuddin commented on #8130
Hi, sorry for delay. I just got time to test it today. Unfortunately, I cannot execute [YAML with annotations](https://github.com/containers/podman/issues/8130#issuecomment-717232821). I got the following error:
[code]

I can execute the YAML file if I remove annotations.

[2020-11-01 07:08] nikAizuddin commented on #8130
But if I change from `list` into `dict`, it works:
[code]

[2020-11-01 07:14] nikAizuddin commented on #8130
I'm going to replace this existing workaround with `multiav-pod.yaml` and I'll report back.

[2020-11-01 10:25] mfschumann commented on #8195
Even with the firewalld port closed, I found that operation was not reliable: Many packets from the router still appeared in the nft trace with the host IP as destination, and when re-running the pihole container (so it got assigned a new private IP), a fraction of the packets was destined to the private IP the container had before the restart. All in all, DNS resolution via the router worked most

[2020-11-01 13:25] zhangguanzhang commented on #8047
I cannot reproduce the issue

[2020-11-01 13:57] duckie commented on #7103
I think this should be reopened as it is only partially fixed.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After podman pod restart <name> the containers will be still accessible from the host.
After podman pod stop <name>; podman pod start <name> they are not
**if** the pod have been created with `podman play kube`. It does not happe

[2020-11-01 14:04] duckie opened #8211 "Starting a play kube created pod does not bind published ports."
It seems #7103 and #7397 are not completely fixed.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After podman pod restart <name> the containers will be still accessible from the host.
After podman pod stop <name>; podman pod start <name> they are not
**if** the pod have been created with `podman play kube`. It does not happen for a comm

[2020-11-01 14:40] vrothberg commented on #8001
@rhatdan, I can tackle the bug once short names are merged.

Thanks for opening the issue, @lisongmin

[2020-11-01 14:47] nikAizuddin commented on #8130
Alright, [I have replaced the workaround with YAML file](https://github.com/extra2000/saferwall-formula/blob/49dab8fe1a18f5b59cdec89b6813ab4edf786f24/saferwall/files/multiav-pod.yaml.jinja) and tested working. This the rendered version of the YAML file:
[code]

I have one more question. Is it possible to apply seccomp profile only for `windefender` container? Because from the YAML file above, it s

[2020-11-01 16:27] usury commented on #8193
My apologies for the confusion - it wasn't a _suggestion_ for rootlesskit to recreate packets. It was a _hypothesis_ as to why 127.0.0.1 is the remote address within a container when the packet passed through "rootlesskit".  I should have said "Perhaps rootlesskit recreates each packet it receives?" The subpoints under that statement in original comment, above, make more sense in that clarified co

[2020-11-02 03:10] paravz commented on #7801
--device functionality might need special handling to unmask device entries in "/sys/dev", ie if i start container with "--device /dev/dri/renderD128", device's entries in /sys/dev/char and /sys/devices should be unmasked. LibGL looks up device in /sys/dev/char according to my straces, see 226:128 example below:

[code]

[2020-11-02 05:53] balamuruganravi commented on #6800
@mheon could you please reopen this issue.

[2020-11-02 05:59] mheon commented on #6800
I'd recommend opening a new issue - this one has gotten very stale.

[2020-11-02 06:12] balamuruganravi commented on #6800
@mheon PTAL https://github.com/containers/podman/issues/7976

[2020-11-02 06:30] shsheep commented on #8180
Yes, it seems that many problems related to NFS(or SAN) and file permissions might be solved by using the path outside of external storage(ex. root directory)

[2020-11-02 09:10] jerboaa commented on #6365
Thanks all!

[2020-11-02 11:09] dnk8n opened #8214 "Changing uids and gids of user disrupts rootless podman setup"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

On a working rootless podman installation.

1. To assign a new UID to user called foo, enter:
`usermod -u 2005 foo`

2. To assign a new GID to group called foo, enter:
`groupmod -g 3000 foo`

3. `podman run ...`

**Describe the results you received:**

`Erro

[2020-11-02 13:01] ah83 opened #8216 "socket sharing between containers denied by selinux when using "--systemd=always""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A container named "server" runs for example a memcached which is listening on a unix domain socket.
The socket is stored in a bind mounted directory (-v /var/local/container-volumes/data:/data:z).
A second container named "client" starts with exactly same bind mount to access the memcached so

[2020-11-02 13:09] edsantiago commented on #8176
I don't think this is fixed; the [original test continues to fail](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5429634319777792/html/int-podman-fedora-31-rootless-host.log.html#t--podman-image-exists-in-local-storage-by-short-name--1). So does the reproducer in comment 0.

[2020-11-02 13:38] ah83 commented on #8216
The socket access works if both containers are startet with "--systemd always".
In my setup sssd container does not run systemd but just sssd.

[2020-11-02 13:41] mheon commented on #8216
This smells like SELinux. Can you check the journal for any AVCs?

On Mon, Nov 2, 2020, 08:39 ah83 <notifications@github.com> wrote:

[2020-11-02 13:47] ah83 commented on #8216
this was in the audit.log of the container host:

`type=AVC msg=audit(1604312588.452:67274): avc:  denied  { connectto } for  pid=148723 comm="socat" path="/data/sockets/memcached.socket" scontext=system_u:system_r:container_init_t:s0:c603,c1008 tcontext=system_u:system_r:container_t:s0:c175,c654 tclass=unix_stream_socket permissive=-1`

[2020-11-02 14:06] mheon commented on #8216
@rhatdan PTAL

[2020-11-02 14:24] lsm5 commented on #8183
@superjeng1 fixed now. You may need to `yum clean all` before retrying. Please reopen if issue persists.

[2020-11-02 14:24] #8183 closed

[2020-11-02 14:32] mheon commented on #8214
We don't presently have any way of adjusting directories in use after Podman has been run, because the paths that need to be changed spread rapidly throughout our database and it would be very difficult to find and change them all. In theory, `podman system migrate` could be extended to do this, so I'm going to retag this as an RFE to investigate a command to rewrite certain paths in the DB.

[2020-11-02 14:32] mheon commented on #8211
@baude This looks like good justification for moving `podman play kube` to use Specgen, I think?

[2020-11-02 14:55] rhatdan commented on #7927
I have no idea.  But we need specific issues reported to what is broken.  No one on the Podman team is concentrating on testing TestContainers.  Community members have been taking the lead on this, and reporting issues, that we will attempt to fix ASAP.

[2020-11-02 14:55] duckie commented on #8211
@baude, maybe, however, is it really the fault of `play kube` or rather the start that does not use the pod spec correctly ? The inspect properly shows the published port is there. The only difference in the displayed spec is the command line creation arguments, which should not have impact.

Then, I am not familiar with podman internals. Is there some part of the spec that would not be displayed

[2020-11-02 15:02] #8113 closed

[2020-11-02 15:22] rhatdan commented on #8047
@mheon PTAL

[2020-11-02 15:33] mccv1r0 commented on #8195
CNI just configures Linux network with parameters supplied by podman, which gets these from user (typically via command line arguments.)

`--net=private` could be anything.  Can you supply the configuration?

re 1:  every time you start this container, it's IPv4 address will change.  Unless you make this static you will have to update your router to take account of the new address.  It reads like

[2020-11-02 16:00] mheon commented on #8047
I can reproduce.

[2020-11-02 16:09] mheon commented on #8211
@duckie To clarify my statement - Podman moved to a new way of creating containers with v2.0. The last users of the old, 1.x way of creating containers are `podman play kube` and Varlink. I'm pretty eager to get `play kube` migrated over to the new way so I can finish tearing out Varlink support and the old container creation process, and I suspect we'll fix the issue as part of the conversion.

[2020-11-02 16:24] mheon commented on #8047
Only happens as rootless. I suspect this is related to slirp4netns not restarting.

[2020-11-02 17:22] mheon commented on #8047
Initial guess was that this was caused by us not properly reconfiguring the network on restart of the container. This does not appear to have been the case - fully cleaning up the network to force it to be reconfigured did not fix the issue. Might need to pass this off to someone with more expertise in slirp4netns.

[2020-11-02 18:18] edsantiago commented on #7139
One in [sys podman fedora-32 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5450762606084096/html/sys-podman-fedora-32-rootless-host.log.html) (first one I've seen in f32). This and the above are in regular old 'run' tests, nothing to do with `podman pod`.

[2020-11-02 18:33] dnk8n commented on #8214
Ok great. For anyone else who might have stumbled into this, make sure for the moment that you don't plan to change uid/gids after already using podman!

I was able to simply create a new user with the correct uids/gids (needed due to data drive being mounted to two VMS, hence why I wanted the same user specs on both). I just deleted `user_a` and created `usera` (name changed for example) just in

[2020-11-02 20:20] larsks opened #8221 "podman hangs when attempting to mount the same volume on multiple mountpoints"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to mount the same named volume on multiple points within a container, like this:

[code]

This causes `podman` to hang and the container never starts.

**Steps to reproduce the issue:**

1. Run the comamdline provided above

2. Watch podman get stuck

**Describe the results you re

[2020-11-02 20:23] edsantiago commented on #8221
Confirmed on master. Debug log and stack trace:
[code]

[2020-11-02 20:39] mheon commented on #8221
I'll take this.

[2020-11-02 20:47] duckie commented on #8211
Thanks for the explanation. Indeed, no point fixing it before it is migrated to specgen.

[2020-11-02 21:38] causalityloop opened #8223 "Unable to pull signed images using manifest/envelope"
/kind bug

**Description**

Unable to pull signed images using manifest.

**Steps to reproduce the issue:**

On one client, I am pulling down ubuntu 20.04 images for amd64 and arm architectures. I then push (and sign) those images to a local (private) registry. I then create a manifest from those images and push/sign to the same local (private) registry.

On the other client, podman is used to pul

[2020-11-02 22:52] mccv1r0 commented on #7415
On fedora 30 I get syntax error:

[code]

Trying on fedora 32:

A bit better, but I can't exec anything useful from that container.  e.g. podman exec` ... ip addr show doesn't work.  Can you get all the plumbing working with a debug image that has useful tools like iproute2 (or can `dnf install iproute`)

As you thought, you need to ensure that httpd is actually binding to IPv6 addresses.  When I

[2020-11-03 00:19] mccv1r0 commented on #7415
fedora 32, I just started a pod:

`sudo podman run -d  --network="ipv6test" --name=v6-port-5555 -p 5555:5222 socksink-sudo`

I'm mapping 5555 on the host to 5222 in the pod.  Note the network isn't the default, this conflist has dual stack configured.

[code]

`iptables` is being used on this node currently; I can't change to `firewalld`.

I see the rules I expect:

[code]

Here is what Linux has

[2020-11-03 01:02] usrbinkat opened #8227 "[BUG] Error: default OCI runtime "runc" not found: invalid argument"
## buildah bug [#1754](https://github.com/containers/buildah/issues/1754) seen using podman on Ubuntu 20.10 Groovy Gorilla.

/kind bug

## Test:
[code]

## Error:
[code]

## Ubuntu Version:
[code]

## Resolution:
[code]
## Podman version
[code]

## Podman info debug
[code]
## apt list podman
[code]

**Have you tested with the latest version of Podman and have you checked the Podman Troubleshooting

[2020-11-03 01:04] zhangguanzhang commented on #8227
the latest version is 2.1.1, did you try with it?

[2020-11-03 02:49] superjeng1 commented on #8183
Thanks a lot, can verify it's working now.

[2020-11-03 03:55] usrbinkat commented on #8227
Oooofffff I fell for one of the classic blunders and wasn't thorough in checking versions. I'm sorry, closing this bug. That was it!

[2020-11-03 03:55] #8227 closed

[2020-11-03 05:58] ericzolf commented on #7415
I didn't attach an IPv6 address, one because I didn't need to care with docker, two because I don't have one to spend (OK, private range fdxx should work), and three because someone wrote that link local should be sufficient. Anyway, I'm currently trying to re-create a clean environment because I've lost track of what I've done (and something might be borked in the meantime), and then I'll share a

[2020-11-03 08:07] mfschumann commented on #8195
You can find the CNI config that was active when the issues occured [here](https://pastebin.com/Xx3Leg2U).

Yes, with a static IP for the container things do work now. That means from my side you do not have to chase this issue further. In case you want to make sure it is not a bug that I was hitting I will provide the information you requested below.

The host is connected to the router via its e

[2020-11-03 12:24] junaruga commented on #7307
Note podman ubuntu package is available on Ubuntu 20.04 groovy.
https://packages.ubuntu.com/groovy/podman

[2020-11-03 12:27] vrothberg commented on #7307
A small yet important correction and to avoid potential confusion: Groovy is Ubuntu 20.10 (not 20.04).

[2020-11-03 13:01] lsm5 commented on #8227
@usrbinkat btw, with ubuntu 20.10, the packages are available in the default ubuntu repos itself, so I think the best place to report future packaging/installation issues would be ubuntu's launchpad site. Issues for older ubuntus can be reported here.

[2020-11-03 13:38] balamuruganravi commented on #7976
Hi any update on this issue.

[2020-11-03 14:32] junaruga commented on #7307
Thanks for finding my mistake!

[2020-11-03 14:38] rhatdan commented on #8216
Looks like you are attempting to have to containers talk to each other via a unix domain socket.  This is naturally blocked by SELinux. Easiest thing to do would be have both container share IPC Namespace, since is really what you want both containers talking between inter processes.  Podman automatically sets the SELinux labels the same when containers share the IPC namespace.

Other options woul

[2020-11-03 15:11] usrbinkat commented on #8227
@lsm5 That is fair, apparently `2.0.6` from September was what I got from default ppa's and I had to go find version `2.1.1` so it makes sense that the packages will be updating as usual.

[2020-11-03 15:23] rhatdan commented on #8047
@AkihiroSuda @giuseppe PTAL

[2020-11-03 15:55] rhatdan commented on #8223
@QiWang19 PTAL

[2020-11-03 19:50] jamescassell opened #8234 "ERRO[2454] Failed to cleanup overlay mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Fedora 33

2. Create source directory for overlay mount

3. Run container using overlay mount

4. Terminate container and observe error message

**Describe the results you received:**

[code]

**Describe the results you expected:**

Clean Exit

**

[2020-11-03 20:07] nalind commented on #8234
podman 2.1.1 looks like it was using the overlay package from buildah 1.16.1, which didn't have an equivalent for https://github.com/containers/buildah/pull/2725 in it yet.  This will be fixed in a version of podman that uses buildah 1.17 or the not-yet-tagged 1.16.6.

[2020-11-03 20:24] mskarbek opened #8235 "Docker API compatibility and Nomad"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

@baude, so following today's community meeting I've checked `2.1.1-12.fc33` and `2.2.0-0.39.dev.git287edd4.fc34` compatibility with Nomad. 2.1.1 fails the same way but, as it was suggested during the meeting, something relatively fresh could work, and indeed 2.2.0 dev works. Nomad was abl

[2020-11-03 20:27] ah83 commented on #8216
Hi Dan!

First, thank you for your help and advice!

My setup consist of about 200 webhosting containers (running systemd inside) per container host and one sssd container (no systemd).
These 200 containers should be able to access the sockets under /var/lib/sss/pipes and /var/lib/sss/mc to use the pam and nss services. Sharing the ipc namespace between all these containers used by different custo

[2020-11-03 20:28] baude commented on #8235
i cannot make promises on RHEL commitments here.  if you want to have that conversation we could discuss it in a bugzilla I suppose.  more importantly, im glad it now works!

[2020-11-03 20:31] mskarbek commented on #8235
Ok, so I'm closing this and starting the Bugzilla thread.

[2020-11-03 20:31] #8235 closed

[2020-11-03 21:22] rhatdan commented on #8216
it is not that simple.  You need to turn off confinement from at least the containers running sssd for you, and then see what AVCs are produced.

If you do this, the sssd container that needs to communicate with all of the containers will be running as spc_t:s0, and the containers should be allowed to connectto that process.

[2020-11-03 21:23] rhatdan commented on #8216
podman run --security-opt label=disabled SSDIMAGE ...

[2020-11-03 21:24] rhatdan commented on #8235
The first chance you would get podman-2.2 would be in RHEL8.3.1 which comes out in February.  If we move to that.  RHEL8.4 in May will be podman 3.0.

[2020-11-03 21:25] #6765 closed

[2020-11-03 21:28] mheon commented on #8235
8.3.1 is already fixed on 2.1.1 - so it's probably missing things that he needs, if he tested with builds of master

[2020-11-03 21:41] rhatdan commented on #7857
@jwhonce @mheon where do we stand on this. Seems like just removing ommitempty for docker API would fix the problem?

[2020-11-03 21:44] rhatdan commented on #7852
@industrial-sloth did you figure a way to fix this problem. I don't really see a way for the default podman to fix this issue, and since we store our tmp files in /run by default, we don't face this issue.

I think the best would be to figure out a way to tell systemd to not remove /tmp/podman-* files.

[2020-11-03 21:44] rhatdan commented on #7816
I am going to close, since I don't believe this is a podman issue.

[2020-11-03 21:44] #7816 closed

[2020-11-03 21:53] rhatdan commented on #7875
@lsm5 what is the skoop with this issue?

[2020-11-03 21:53] rhatdan commented on #7234
@baude did you ever fix this issue?

[2020-11-03 21:58] #8208 closed

[2020-11-03 22:14] mheon commented on #7857
Did we ever fix the `RepoDigests` issue?

I would check if that resolves things first, JSON should be tolerant of missing entries.

[2020-11-03 22:36] industrial-sloth commented on #7852
@rhatdan so yeah, I do have a workaround (see **workaround** section in original issue post). And I hear what you're saying about storing under `/run` by default. I guess the concern is that I did not explicitly configure `runRoot`, etc, to be under `/tmp`, this instead fell out of some fallback logic in the default configuration that I'd need to go back and reconstruct. As I recall, it came out o

[2020-11-03 22:45] maybe-sybr commented on #6765
Thanks for working on this @ashley-cui  :)

[2020-11-03 22:55] ashley-cui commented on #6765
of course! :)

[2020-11-04 08:50] vrothberg commented on #8234
It's fixed in the master branch and will be released with Podman v2.2.

Thanks for opening the issue, @jamescassell !

[2020-11-04 08:50] #8234 closed

[2020-11-04 09:58] w4tsn commented on #7800
Hey there! I'm experiencing the same error and manually altering containers.json fixes it. The difference in my case is that this happened after some sort of force-full system reset (power loss).

I think podman ps -a should indeed show containers if they still can be found in:

[code]

As @mheon said I too think this is an inconsistency. I can't trust the podman ps command, I cannot use the comma

[2020-11-04 10:26] rhatdan commented on #7852
I think systemd launched user containers can do this if the linger flag is not set.

Do you know if/how we can block systemd from cleaning up this content?

[2020-11-04 11:07] nasirhm commented on #8124
I can help with the Fedora side of things.

[2020-11-04 11:47] r-cheologist opened #8240 "No `stdout` output when building an image with `podman` 2.1.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When building from the `Dockerfile` provided below, `docker` prints the output of `apt-get` to `stdout`, while `podman` (2.1.1) does not.

**Steps to reproduce the issue:**

1. Create the following `Dockerfile`:

        FROM docker.io/rocker/tidyverse:3.6.3
        RUN \
            apt-get

[2020-11-04 11:49] ericzolf commented on #7415
OK, I've created a Vagrant environment to reproduce the issue: https://gitlab.com/EricPublic/miscericlaneous/-/tree/master/podman_playground (it's free to access, you just need to be logged in).

There are two VMs, one with Fedora 32, one with Fedora 33, but I didn't notice any difference.

- 'podman run --publish 80:80 --publish '[::]:80:80' httpd` started in the VM (as root)
- on the host, `curl

[2020-11-04 12:39] ah83 commented on #8216
yes this works for my setup - thank you for your help!

[code]
and the web containers can access the sssd sockets. there are also no avc msgs in the audit log.

One last question:
Currently i can share sockets between containers with the volume option "z", when all containers run systemd or none of them.
Will this behavior stay the same in the future or are planning to disallow the socket sharing

[2020-11-04 13:05] Luap99 commented on #8240
It works for me with 2.1.1 and master.
[code]
Maybe the STEP is using the cache. It would look like this:
[code]

[2020-11-04 13:23] rhatdan commented on #7914
I do not believe this is an issue with Podman. Reopen if I am mistaken.

[2020-11-04 13:23] #7914 closed

[2020-11-04 13:53] rhatdan commented on #8216
On 11/4/20 07:39, ah83 wrote:

You can not share any sockets between container unless one of two things
is happening.  The containers match the SELinux MCS Levels. IE IPC is
shared causing both containers to run with the same SELinux labels.

Or one of the containers is not running with SELInux confinement, which
means that it is running as spc_t, and all other containers can
communicate over the

[2020-11-04 14:05] r-cheologist commented on #8240
That works for me as well (even with the tidyverse image:

    STEP 1: FROM docker.io/rocker/tidyverse:3.6.3
    STEP 2: RUN     1>&2 echo msg to STDERR
    msg to STDERR
    STEP 3: COMMIT test
    --> e88140fe4e1
    e88140fe4e14afb0a8403148d386b55699ebf89cac314d0653b7a521b612503b

but none of the `apt-get` output I see with `docker` gets produced, so debugging is difficult ... where does that o

[2020-11-04 14:08] ah83 commented on #8216
ok, thank you for your clear explanation!

[2020-11-04 14:30] Luap99 commented on #8240
Your exact reproducer works for me:
[code]

Can you try this simple Dockerfile:
[code]

[2020-11-04 14:31] industrial-sloth commented on #7852
Hi Dan - Yes, from the issue posting above, cleanup can be blocked by a `tmpfiles.d` config setting - see `man tmpfiles.d`, e.g. <https://www.unix.com/man-page/centos/5/tmpfiles.d/>. Here's my workaround:

* copy /usr/lib/tmpfiles.d/tmp.conf into /etc/tmpfiles.d/tmp.conf
* add the following exclusions to /etc/tmpfiles.d/tmp.conf:
[code]

That is perhaps less than ideal as a long-term fix, however,

[2020-11-04 14:31] mheon commented on #7800
As of Podman v2.1.1, you can you `podman ps --storage` to see containers that are not in Podman's database but are present in the storage library. They can then be removed via `podman rm --storage` on the container ID.

[2020-11-04 14:32] mheon commented on #7800
(The `rm --storage` bit has worked for quite a long time - since 1.6.x, I believe?)

[2020-11-04 14:52] balamuruganravi commented on #7976
@giuseppe PTAL

[2020-11-04 14:54] mskarbek commented on #8235
@mheon so you are saying that improvements in the API layer compatibility are considered features not fixes and will be released with new versions? That would mean I have to wait for 8.4.  Slightly inconvenient, we already waited for 8.3 and 2.0 specifically for Docker API. Ok, we will have to deal with what we have. :)

[2020-11-04 15:38] dmesser opened #8242 "podman fails to push manifest-lists to quay.io"
/kind bug

**Description**

manifest-list images created with podman fail to get pushed to quay.io

**Steps to reproduce the issue:**

1. Follow the steps in the [docs](http://docs.podman.io/en/latest/markdown/podman-manifest-create.1.html) with arbitrary images from quay.io, e.g.

[code]

2. attempt to push the manifest list to quay.io

[code]

**Describe the results you received:**

[code]

**De

[2020-11-04 15:52] rhatdan commented on #8235
@mskarbek The way RHEL Releases, we have to have code ready a long time before release.  So this is more about where the code is during the development phase when we lock in a particular version.  In the case of serious bugs like CVEs or crashes we will force an update but otherwise we wait until the next release.

[2020-11-04 15:52] jesperpedersen opened #8243 "Regression: 2.0.x -> 2.1.x - Image stopped working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The images at https://github.com/jesperpedersen/podman-pgsql stopped working after upgrading from Fedora 32 to Fedora 33 (podman 2.0.x to podman 2.1.1)

**Steps to reproduce the issue:**

1. git clone https://github.com/jesperpedersen/podman-pgsql
2. cd podman-pgsql/pgsql12-primary-centos8/
3

[2020-11-04 15:53] jesperpedersen commented on #8243
What is the best way to help debug this ?

[2020-11-04 15:55] rhatdan commented on #8243
Well start by saying what do you mean it did not start?  Does it blow up? What errors is it throwing?

[2020-11-04 15:56] lsm5 commented on #8124
hi @nasirhm , looks like @ashley-cui might be occupied for the next few weeks. Would you be interested in taking this forward?

[2020-11-04 15:58] r-cheologist commented on #8240
That minimal version runs through, but gives me NOT apt output

[code]

[2020-11-04 16:00] jesperpedersen commented on #8243
`podman logs postgresql-primary` just shows

[code]

The directory is mounted as a volume: https://github.com/jesperpedersen/podman-pgsql/blob/master/pgsql12-primary-centos8/Dockerfile#L58

[2020-11-04 16:02] jesperpedersen commented on #8243
The configuration is copied over as part of `CMD`: https://github.com/jesperpedersen/podman-pgsql/blob/master/pgsql12-primary-centos8/root/usr/bin/run-postgresql#L101

[2020-11-04 17:29] Luap99 commented on #8240
Could you test if it works with `buildah bud`?

[2020-11-04 17:35] MrCull opened #8244 "The README file in this repo has a bad link - [404:NotFound]"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
The README file in this repo has a bad link - [404:NotFound]

Status code [404:NotFound] - Link: https://github.com/opencontainers/runtime-spec/blob/v2.0.1/config.md#posix-platform-hooks

**Steps to reproduce the issue:**
Click the link

**Describe the results you received:**
Status code [404:N

[2020-11-04 18:14] rhatdan commented on #8243
Does everything work if you run as root.  This could be a change in slirp4netns.  @mheon any ideas?

[2020-11-04 18:24] jesperpedersen commented on #8243
Running as root gives the same error.

[2020-11-04 18:27] mheon commented on #8243
Any chance you can get the output of `podman inspect` from identical containers on 2.0.5 and 2.1.1? Also, can you try 2.0.5 on F33 and 2.1.1 on F32 and see if those work?

[2020-11-04 18:30] QiWang19 commented on #8223
@causalityloop I can reproduce the error. Looks like the error was caused by the sign not applied to each OS/ARCH of the manifest list. You can add `--all` to the command you used to push the manifest list. `podman manifest push --all --sign-by myteam --format v2s2 ubuntu:20.04 docker://myregistry.local/ubuntu:20.04`. And before push it to docker hub, I also run `podman tag ubuntu myregistry.local

[2020-11-04 18:46] jesperpedersen commented on #8243
Ok, it seems like something in l10n/i18n changed between F32 and F33 when running in a container - making that area fail during startup. Same configuration starts bare metal.

I'll investigate further, but closing this issue for now.

Thanks for your help gentlemen !

[2020-11-04 18:46] #8243 closed

[2020-11-04 21:51] awerlang commented on #7801
Intel? It works with `--privileged`. See https://github.com/mviereck/x11docker/issues/293

With AMD you might want to use `--volume` instead of `--device`. Not sure why though.

More simply, if `--device` is used, podman should know to not mask `/sys/dev`. Knowing what is needed under `/sys/dev` might prove problematic, and the end user would end up with just `--privileged` instead, which wouldn't

[2020-11-04 22:52] awerlang commented on #7801
I also noticed than masking out `/sys/dev` is not enough to prevent tools like `lshw`, `lspci`, `lsusb` to extract information from the host system. Not sure if this is the reason it was masked in the first place.

[2020-11-05 00:47] rhatdan commented on #7801
These are not listed anywhere but in the code, but we will document them when we have the ability to manipulate them
[code]

[2020-11-05 01:35] paravz commented on #7801
Would this be reasonable to implement (i can make a pull request here or in a separate issue):
if --device is used, treat it similarly to --privileged and exclude '/sys/dev' from masking  and mount is read only ?

[2020-11-05 01:59] TristanCacqueray commented on #7801
@awerlang yes the issue is happening with Intel GPU and unprivileged rootless podman. This combo used to work before #6957.

[2020-11-05 02:28] awerlang commented on #7801
Unprivileged mode is under discussion. I quoted you:

If it doesn't work with `--privileged`, then it's a different issue, not effected by #6957. Refer to the discussion I linked above.

[2020-11-05 07:19] afbjorklund commented on #8244
Probably should have been v1.0.2, rather than v2.0.1 - @TomSweeneyRedHat ?

https://github.com/containers/podman/commit/4310e5ccc2b94b357ad6876007af991ae5d8ffd7

https://github.com/opencontainers/runtime-spec/blob/v1.0.2/config.md

[2020-11-05 08:01] FSMaxB-dooshop commented on #8091
Thanks for the quick fix!

[2020-11-05 09:00] w4tsn commented on #7800
@mheon thanks a lot for your response! Could you elaborate on this? Naturally I'd assume that using `podman rm` deletes any remains in order to return to a coherent state. `podman rm --storage` seems to only remove containers from storage and only does so if it's not in the libpod database. Although that makes sense to some degree I'm still missing a single command with the semantics "remove this

[2020-11-05 10:18] shinebayar-g commented on #6508
This is huge wrong!!! unless-stopped starts containers even after reboot!

[2020-11-05 10:22] r-cheologist opened #8247 "Can't stop rootless `podman` container: `open pidfd: Function not implemented`"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

`podman` fails to properly stop containers based on `docker.io/rocker/tidyverse`. Worse, it leaves the container around nonfunctionally and not found by `podman ps -a`.

**Steps to reproduce the issue:**

1. `CONTAINER_ID=$(podman run -d -p 127.0.0.1:8787:8787 -v /tmp:/tmp -e PASSWORD=rstudio1 docker.io/rocker/tidyverse)`

2

[2020-11-05 10:40] edigaryev commented on #6866
I'm currently investigating options to integrate Podman support into [Cirrus CLI](https://github.com/cirruslabs/cirrus-cli) and the biggest issue so far is that Podman's package transitively depends on GPGME's C headers, coming from https://github.com/containers/image, which uses https://github.com/mtrmac/gpgme by default.

This was discussed multiple times to no avail:

* https://github.com/conta

[2020-11-05 11:08] #8131 closed

[2020-11-05 12:36] trusch commented on #4530
@mhmr I think the only (really hacky) way of doing this right now is to exec into the rootless-cni-infa container and update the `/run/containers/cni/dnsname/default/addnhosts` file after you started (not only created) all of your containers. You can then look in that file for your container name and just append all the aliases that you want (like `sed -i 's/alpine1/alpine1 alpine_one/' /run/conta

[2020-11-05 12:54] edigaryev commented on #6866
Turns out that GPGME is not the only C-thing that gets pulled.

On Linux, https://github.com/containers/storage tries to  [link against btrfs by default](https://github.com/containers/storage/blob/161c94f44829deacfdd1a01ec46abf1c09e5d421/drivers/btrfs/btrfs.go) and fails if no library and headers are installed.

And since there are a lot more [build tags](https://podman.io/getting-started/installa

[2020-11-05 13:48] ItsKonix opened #8250 "[Plesk] cannot start container"
Hello,
I am really no expert or anything, thats why I am using Plesk probably 😅. So since Docker is not supported anymore on CentOS 8 I am trying to setup Podman on my Plesk server. I installed it via:

`sudo yum -y install podman`

and then tried to pull & run redis with the following commands:

`podman pull docker.io/redis` --> Worked out fine

`podman run -d --name redis_server -p 6379:6379 red

[2020-11-05 13:50] rhatdan commented on #6866
We have talked about making this better, but it comes down to priorities.  Currently this has not bubbled up, which means we probably need community to take the lead on this.

[2020-11-05 13:55] edigaryev commented on #6866
Is there a consensus on what needs to be done to move this forward?

[2020-11-05 14:13] edsantiago commented on #7360
Still present in ab1d3a58d4b98bc948d7344fc27c680ca326086f; removing stale-issue label.

[2020-11-05 14:14] mheon commented on #4530
This is actively being worked on and will probably make it into Podman 2.2

[2020-11-05 14:17] TristanCacqueray commented on #7801
That it is a different issue, but an additional important information as privileged mode is not even an option to workaround the absence of `/sys/dev`. Thus it seems like podman 2.1.1 can no longer run GPU workload.

[2020-11-05 14:17] rj-gp commented on #4530
Fantastic!

[2020-11-05 14:19] umohnani8 commented on #7801
I am working on adding a `mask` and `unmask` option to `--security-opt` which you can use to specify additional paths you want to mask or any paths that you want to unmask. That should work with `--device` when you specify that you want to unmask `/sys/dev`. I will have a PR open later today.

[2020-11-05 14:19] mheon commented on #8250
What distribution are you on (Cent 8 minor version would help)? What Podman version?

[2020-11-05 14:22] ItsKonix commented on #8250
`Plesk Obsidian v18.0.31_build1800201025.00 os_CentOS 8` with  `CentOS Linux 8.2.2004 (Core)` and `podman 1.6.4-10.module_el8.2.0+305+5e198a41 (AppStream)`

[2020-11-05 14:23] mheon commented on #8250
That's a rather old Podman - any chance you can upgrade to 8.2.1 and pick up Podman 1.9.3?

[2020-11-05 14:26] ItsKonix commented on #8250
I have to check, I reinstalled podman like 2h ago with `sudo yum -y install podman`, I thought it would get the latest version by itself then.

[2020-11-05 14:27] mheon commented on #7800
At this point, if you're seeing this as a consistent problem, something is seriously wrong - we've done a lot to make sure that c/storage is reliably removed at the same time as the container, even in cases of error. We have, however, had some known issues where improperly-written systemd unitfiles can do this; any chance you can post the unit file in question?

[2020-11-05 14:30] mheon commented on #8247
@giuseppe PTAL - this sure looks like the crun issue you were debugging a few days back?

[2020-11-05 14:32] mheon commented on #6508
Well, it's somewhat academic since Podman itself cannot handle restarting after a reboot now; we recommend managing your containers with systemd unit files to achieve that.

[2020-11-05 14:33] giuseppe commented on #8247
yes, this should be fixed in the last crun release 0.15.1.

Can you try with https://bodhi.fedoraproject.org/updates/FEDORA-2020-4b0390e388 ?

[2020-11-05 14:48] ItsKonix commented on #8250
I am kinda confused now. Isnt Centos 8.2.2004 the latest version? I see that the latest version on there is 1.6.4 which I had installed.

[2020-11-05 14:50] rhatdan commented on #7801
Can you give us a specific device you are trying to add?

I did notice that we are masking /sys/dev but not /sys/device, which perhaps we should mask.   We could remove these masks when users add an addiitonal device, but if this is for security reasons that we added these masks, then it seems like a fairly risky issue to unmask them for any device --device /dev/fuse for example.

[2020-11-05 14:57] rhatdan commented on #7801
Sadly, I added the mask for /sys/dev and can not find what triggered me adding it.  I am sure it was a bugzilla or issue that asked us to mask it.  But it looks like it is not masked in Moby at this point.

[2020-11-05 15:00] mheon commented on #8250
Ah, I guess Cent 8.2.1 hasn't released yet... Sorry, I deal mostly with RHEL and its somewhat different schedule.

If you're willing to try our external repo to get the latest version, you can follow the Kubic instructions in https://podman.io/getting-started/installation for Centos to get Podman 2.1.1

[2020-11-05 15:08] ItsKonix commented on #8250
I just tried that myself but it completely broke my Plesk installation. I guess I will wait until CentOS 8.2.1 gets released.

[2020-11-05 15:09] rhatdan commented on #7801
Here is the bugzilla that triggered this masking.
https://bugzilla.redhat.com/show_bug.cgi?id=1772993

[2020-11-05 15:42] awerlang commented on #7801
@TristanCacqueray

It seems that the **host display** (e.g. :0) doesn't work for some reason with **open-source drivers**, this would be interesting to track down I guess. It does work if you use a nested server (e.g. Weston) though. See the discussion I posted before: https://github.com/mviereck/x11docker/issues/293

Also, unprivileged rootless podman runs gpu workloads for nvidia just fine, it d

[2020-11-05 16:28] paravz commented on #7801
@rhatdan that change broke multiple podman scenarios on "developer workstation", scenarios that worked before and still work in docker. And these scenarios require podman podman to be started with  --device (or equivalent), compromising security to begin with.

[2020-11-05 18:35] rhatdan commented on #7801
@paravz can you give me an example? of a container that this broke?

[2020-11-05 18:37] rhatdan commented on #7801
@mrunalp Masking /sys/dev seems to be causing us issues.  Perhaps we should just mask block devices to fix the problem?

[2020-11-05 18:40] TristanCacqueray commented on #7801
@rhatdan any container running the VSCode GUI is likely broken as it seems to require GPU rendering.

[2020-11-05 18:57] paravz commented on #7801
Any container with GPU-accelearated GUI or X-windows,  ie chrome/puppeteer, etc - see x11docker examples listed here too.

DRI/Render device needs to be forwarded into container to achieve this, ie:
`podman run --device '/dev/dri':'/dev/dri':rw ...`
or
`podman run --device /dev/dri/renderD128 ...`

[2020-11-05 21:23] yangm97 opened #8253 "Support/document usage with read-only rootfs on the host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently its not possible to perform even read-only operations (such as `podman ps`) when the `graphroot` happens to be in a read-only volume (for instance, when the host `/` is mounted as `ro`, either intentionally or because ext4 went "oopsie").

However we already a somewhat working s

[2020-11-05 22:26] causalityloop commented on #8223
thank you for the reply. give me a day to circle back and try this out

[2020-11-06 00:30] rhatdan commented on #8253
What error are you seeing when the system is in read/only mode? Overlayfs complaining about not being setup correctly?

[2020-11-06 00:31] rhatdan commented on #8250
Closing, since this works in latest upstream.

[2020-11-06 00:31] #8250 closed

[2020-11-06 00:39] rhatdan commented on #8242
Could you try `--format v2s2`

[2020-11-06 00:40] #8216 closed

[2020-11-06 00:42] rhatdan commented on #8206
@TomSweeneyRedHat Is this issue still open?

[2020-11-06 00:51] yangm97 commented on #8253
@rhatdan

[code]

[2020-11-06 05:23] abitrolly opened #8257 "Debug hanging server in container"
/kind bug

**Description**

Running a server with auto-reload hangs in container. I use podman to run Flask with all dependencies in debug mode. This mode shows errors and provides auto-reload. And it hangs on start.

**Steps to reproduce the issue:**

[code]
Try to open http://127.0.0.1:8002/

**Describe the results you received:**

That's `strace` output, and that FUTEX messages at the end are r

[2020-11-06 06:16] ericzolf commented on #7415
OK, the Debian in the container is the opinion that Apache is listening to IPv6:

[code]

At least, the iptable shows something:

[code]
But curl continues to work for IPv4 but not IPv6... I have no clue what I'm still missing.

[2020-11-06 08:49] #8244 closed

[2020-11-06 09:00] lc-thomas opened #8258 "chown: changing ownership of '/var/lib/postgresql/data': Invalid argument"
/kind bug

**Description**
Running docker.io/postgres fails on fresh centOS 8, it works in fedora 33 though.

**Steps to reproduce the issue:**
1. podman run --name pgsql_test -dt -e POSTGRES_USER=postgres docker.io/library/postgres:latest;
2.  podman logs -f pgsql_test

**Describe the results you received:**
chown: changing ownership of '/var/lib/postgresql/data': Invalid argument

**Describe the

[2020-11-06 09:10] bulhoes commented on #3277
I had the same issue on my setup by I was able to overcome the issue with a simple fix.
The issue might be related to the acl on the named server.
Can you please let me know if you have the containers network allowed on the named acl?
That might be the issue.

[2020-11-06 09:25] j0057 opened #8259 "error creating an ID-mapped copy of layer "...""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting two rootful containers that share a base layer in a user namespace, I get an error `Error: error creating container storage: error creating an ID-mapped copy of layer "...": exit status 1: error during chown: error mapping host ID pair idtools.IDPair{UID:..., GID:...} for "..."

[2020-11-06 09:45] giuseppe commented on #7976
Both podman and systemd were updated in RHEL 8.3.  Could you give it a try?

I've just tried following your exact steps on RHEL 8.3 and the container comes up after a reboot

[2020-11-06 09:46] nasirhm commented on #8124
Sure, I would love to work on it :)

[2020-11-06 09:55] balamuruganravi commented on #7976
podman `1.6.4` available for RHEL 8.3?

is there any workaround in rhel 8.2 for the current issue? also could you please help me to understand why I am getting this issue. because the same steps works fine in podman `1.9.3` version

[2020-11-06 10:17] balamuruganravi commented on #7976
is it safe to assume users on RHEL 8.3 can only configure podman 2.0.5v . But users on REHL 8.2 can configure podman 1.6.4 or 1.9.3.

[2020-11-06 10:28] t2d opened #8261 "Unable to install on Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Can't currently install on Ubuntu 20.04 due to missing dependencies.
Not the same as https://github.com/containers/podman/issues/7268

**Steps to reproduce the issue:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the latest

[2020-11-06 10:45] giuseppe commented on #7976
is there any reason to stick with an older version when the updated version works fine?

[2020-11-06 11:06] giuseppe commented on #8258
there are not enough IDs available in the user namespace.

Can you check whether the rootless user is present in the `/etc/subuid` and `/etc/subgid` files?

[2020-11-06 11:08] giuseppe commented on #8259
you are not assigning enough IDs to the user namespace: `Host ID 111000 cannot be mapped to a container ID`.

Can you try mapping that ID as well?

`--uidmap 0:10000:2000 --uidmap 111000:111000:1 --gidmap 0:10000:2000 --gidmap 111000:111000:1`

[2020-11-06 11:22] balamuruganravi commented on #7976
actually in my organization the installations are managed by different team. if you can confirm it's an issue with podman 1.6.4v I can inform our team to upgrade all podman installations to 1.9.3v on RHEL 8.2.

[2020-11-06 11:40] lc-thomas commented on #8258
[code]

Yes, trying with another image says that I lack ids, though, my subuid / subgid files are good aren't they ?

[2020-11-06 12:39] lsm5 commented on #8124
@nasirhm great, it's all yours :) , let me know if you hit any roadblocks. Thanks a lot!

[2020-11-06 12:56] lc-thomas commented on #8258
oh nvm I had to run : ```podman system migrate``` so that my sub IDs get taken into account.
Problem solved, ty.

[2020-11-06 12:56] #8258 closed

[2020-11-06 13:35] PavelSosin-320 commented on #7548
Yes, I already installed and playing with Podman from Kubic project for Ubuntu 20.04. WSL distro. The 1st impression is great. My problems are
1. The Microk8s from the Kubic project conflicts with Docker Desktop.
2. I'm old Redhatter and prefer to use RedHat's tools
3. The Centos 8 distro in Microsoft Store is broken. I had to install CentOS 8.1 from Github and upgrade it to 8.2 manually. I've sto

[2020-11-06 13:45] rhatdan commented on #7938
This might be a case where you need to enable linger?
@giuseppe Correct?

[2020-11-06 13:59] giuseppe commented on #7938
yes we need that, but in general we don't support running rootless containers with `User=` in a system service file.  We will still need to make sure the user session starts before the service.

I suggest to enable linger mode and run the service as part of the user session (installed under `~/.config/systemd/user/`)

[2020-11-06 14:01] TomSweeneyRedHat commented on #8206
@rhatdan yes.  We've an issue that @nalind is trying to track down.  If I build the images, they end up using v1 of the Docker schema for the manifests or are larger than they should be.  So I've been holding off updating the versioned images for all of our projects on quay.io.

[2020-11-06 14:15] TomSweeneyRedHat commented on #8261
@lsm5 PTAL

[2020-11-06 14:24] mheon commented on #7548
The CNI issue is interesting, because we spent a lot of timing making sure CNI and nftables worked together before 8 was released - it should work without issue. I have, however, heard of a lot of network issues on WSL2 in general, though - iptables not functioning properly (which can be extrapolated to nftables not working properly, probably?)

[2020-11-06 14:25] mheon commented on #7548
More details on the network issues in particular would be appreciated, though. Assuming it is WSL, we've never been able to track down exactly what is breaking. I can't guarantee we can fix on our end (may well turn out to be WSL2 kernel settings) but it would be nice to know for sure.

[2020-11-06 14:54] mbargull opened #8262 "Makefile unconditionally excludes device-mapper"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The build instructions at https://podman.io/getting-started/installation#build-and-run-dependencies list `libdevmapper` as a prerequisite, however the `Makefile` unconditionally excludes it:
https://github.com/containers/podman/blob/v2.1.1/Makefile#L31

Is the exclusion intentional?
This seem

[2020-11-06 15:16] nalind commented on #8206
I think that by the time we have that one fixed properly, we'll have newer releases of the tools to build into images.  If what we produce now is still usable for people who are pulling the images, please don't hold off on builds of current versions.

[2020-11-06 15:25] giuseppe commented on #7976
you might be hitting https://github.com/containers/podman/issues/5423 that is fixed in v1.9.3

[2020-11-06 15:38] mheon commented on #8262
Yes - there were a number of locking issues that rendered devicemapper unusable with Podman's multi-process architecture. I've since been told that this should be fixed, but we've never had any demand to reenable it and test that.

[2020-11-06 15:43] #7852 closed

[2020-11-06 15:55] mbargull commented on #8262
I see, thank you for the explanation.

I was about to suggest that I can open a PR to address the build instructions at https://github.com/containers/podman.io/blob/d3d4e064a64636feaf3c59a6c148e0f154eddeae/getting-started/installation.md#build-and-run-dependencies
-- but then I noticed that I must've overlooked the explicit comment for that before:

Since this is in fact already mentioned in the d

[2020-11-06 15:55] #8262 closed

[2020-11-06 16:17] alosadagrande opened #8265 "Podman stats does not show memory limits set per container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Wanted to limit the memory used by a container, however the memory limit it is not visualized in the stats command.

Podman is running on a F33 on a raspberry pi3 (aarch64)

**Steps to reproduce the issue:**

1. Run a container limiting the memory to use:

[code]

2. Verify the stats

[code]

[2020-11-06 16:19] mheon commented on #8265
@vrothberg PTAL

[2020-11-06 16:36] #7938 closed

[2020-11-06 16:41] rhatdan commented on #7976
This should be handled as a bugzilla as well, not an issue in the upstream repository.

[2020-11-06 16:41] #7976 closed

[2020-11-06 18:40] TomSweeneyRedHat commented on #8206
@nalind so I'm thinking if that's the case, probably better to make better mages with newer schemas?  i.e. removing `/var/lib/containers/storage/cache/blob-info-cache-v1.boltdb` before the push.

[2020-11-06 19:32] nalind commented on #8206
Yeah, the original reporter's main issue seemed to stem from the manifest type, so I guess taking the hit on layer reuse and the corresponding increase in disk usage at the registry is the right trade-off to make.

[2020-11-06 20:54] mbargull commented on #6967
Please see https://github.com/rootless-containers/slirp4netns/pull/232.
This behavior was (at least in my case) triggered by `SCMP_ACT_KILL_PROCESS` from libseccomp>=4.4 which is not used for the static binary of the GitHub release.

[2020-11-06 20:58] j0057 commented on #8259
Hi Giuseppe, I'll investigate further next Monday.

[2020-11-07 05:20] #8130 closed

[2020-11-07 05:54] aidan-plenert-macdonald commented on #5788
I opened a PR to support this. I am trying to figure out how to write unit tests for this. Any guidance would be appreciated. I'm a bit stuck trying to figure out how to mock the Runtime.

[2020-11-07 08:38] ericzolf commented on #7415
OK, I used nginx instead of httpd and the situation is clear: `podman run --publish 80:80 --publish '[::]:80:80' nginx` outputs the explicit support of IPv6:

[code]

And within the container I can see (it looks like Debian uses `*` instead of `[::]` for IPv6):

[code]

Outside of it, in the VM:

[code]

Further from the VM:

[code]

So what am I overseeing?

[2020-11-07 08:44] ericzolf commented on #7415
As a side remark: it seems that httpd was only listening on IPv6 and nevertheless, IPv4 worked and not IPv6 on the public interface. It's strange but it also seems to hint at the fact that the inner life of the container should be irrelevant (which would be aligned with how Docker behaves).
As another side remark: curl on a non existing IPv6 address gives quickly a `No route to host` error message

[2020-11-07 09:59] Jiehong commented on #6721
From #1407, "Later versions of Docker interpret this as “ask for the image with the specified digest, ignore the tag completely”, misses one way this actually makes sense: it provides a way to know what that digest is for humans, just like a comment.

[2020-11-07 11:18] rhatdan commented on #8257
Can you get a simpler repeater that does not use podman-compose?

[2020-11-07 11:20] rhatdan commented on #8253
@mheon I would figure this would take quite a bit of work to make the database able to handle read/only mode?  Basically we are opening the database in read/write mode and the open is failing.  If we fell back to read/only mode, then lots of other calls are going to fail.

[2020-11-07 12:12] rhatdan commented on #7844
Looks like this test is working now.

[2020-11-07 12:12] #7844 closed

[2020-11-07 12:14] rhatdan commented on #7808
@edsantiago @Luap99 Is this still an issue?

[2020-11-07 12:15] rhatdan commented on #7764
I believe this was fixed a while ago, closing.

[2020-11-07 12:15] #7764 closed

[2020-11-07 12:16] rhatdan commented on #7580
@edsantiago is this still an issue?  I see a couple of mergers that reference this issue?

[2020-11-07 12:17] rhatdan commented on #7746
@edsantiago Any update on this issue?

[2020-11-07 12:18] rhatdan commented on #7583
@edsantiago @Luap99 Any movement on this issue?

[2020-11-07 12:20] rhatdan commented on #7544
Since we got no info back from reporter, closing.  Reopen if there is new info.

[2020-11-07 12:20] #7544 closed

[2020-11-07 12:20] rhatdan commented on #7518
Since we got no info back from reporter, closing.  Reopen if more info is provided.

[2020-11-07 12:20] #7518 closed

[2020-11-07 12:22] rhatdan commented on #7404
@Luap99 @TomSweeneyRedHat @baude @jwhonce Anyone have a chance to look at this?

[2020-11-07 12:24] rhatdan commented on #7300
@TomSweeneyRedHat @ashley-cui Is this something you think we will ever have?  Or should I close the issue?

[2020-11-07 12:24] rhatdan commented on #7309
This is now fixed in master branch.

[2020-11-07 12:24] #7309 closed

[2020-11-07 12:26] rhatdan commented on #7241
@edsantiago the original report said that there were hangs all over the place, but I guess this is very rare now?

[2020-11-07 14:31] mheon commented on #8253
I don't think we can support r/o - the container state has to be stored
somewhere (PID, IP addresses, etc). It may be feasible to store the DB on a
tmpfs but we'd lose track of new containers on a reboot.

On Sat, Nov 7, 2020, 06:20 Daniel J Walsh <notifications@github.com> wrote:

[2020-11-07 15:54] TomSweeneyRedHat commented on #7300
@rhatdan I'd love to have it, just a matter of time.  I'd leave it in hopes someone will grab it and run with it.

[2020-11-07 15:55] TomSweeneyRedHat commented on #7404
Think we need a decision first from @baude and/or @umohnani8 about which direction to go as requested in @jwhonce 's comment a few back.

[2020-11-07 16:25] fenech opened #8267 "Cannot bind host port to macvlan IP address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to run two containers on the same host, both publishing the same port. I have defined the following network:
[code]
I can run two containers, assigning each one different IP address within the range. But I can't publish the same port on both containers.

If I use `-p 80:80` then th

[2020-11-07 16:33] TomSweeneyRedHat commented on #7764
@rhatdan thanks for closing.  The PR was indeed closed recently to address this, I must not have tagged this issue correctly in the PR.

[2020-11-07 17:17] mtrmac commented on #6721
Yes, that case has been explicitly considered in the linked GitHub comment.

[2020-11-07 18:33] PavelSosin-320 commented on #7548
I succesfully run Podman on Ubuntu 20.04 distro provided by Kube project. This distro still uses iptables ver 1.8.4 legacy. The trck maybe that is WSL network is not bridged to the host network. It uses NIC, i.e all servers have to listen all interfaces, eth0 and localhost of WSL VM.
My smoke tests didn't face any issues - everything works nice up to Pod containing nginx.
The main difference that

[2020-11-07 20:24] aidan-plenert-macdonald opened #8268 "Creation of RuntimeInterface type to facilitate unit testing"
/kind feature

**Description**

Currently AFAIK, it's fairly difficult to unit test code that depends on Runtime. The creation of an interface like [this](https://github.com/containers/podman/pull/8266/files#diff-0577c1c9b036a03143b3ce475228a67d592abbe0cfe5a07379c150c6f3d385f6R52) and having things like [`Volume` depend on the interface instead](https://github.com/containers/podman/pull/8266/files

[2020-11-07 22:11] #8268 closed

[2020-11-08 00:30] rlpowell opened #8269 "podman pod --create needs to support the --userns=keep-id flag."
/kind bug

**Description**

The following used to work before I upgraded to Fedora 32:

    $ podman pod create -n hello-pod
    $ podman run --pod hello-pod --userns=keep-id --name hello-cont hello-world
    Error: open /proc/sys/net/ipv4/ping_group_range: Permission denied: OCI runtime permission denied error

This seems to be very similar to https://github.com/containers/podman/issues/7766 , an

[2020-11-08 00:30] rlpowell commented on #8269
Summoning @rhatdan , since he handled the seems-to-be-directly-related issue.

[2020-11-08 09:16] abitrolly commented on #8257
@rhatdan

1. `podman run -p 8002 yakshaveinc/linux:podman-8257`
2, try to open http://127.0.0.1:8002/

[2020-11-08 11:10] dmesser opened #8271 "podman system service consuming 100% CPU"
/kind bug

**Description**

On my Fedora 33 machine, running podman 2.1.1, I have 5 containers running, controlled via systemd user service which are autostarted at boot (`loginctl enable-linger`). I noticed since some time now that two podman system services consume all available CPU time on my 2 core system.

**Steps to reproduce the issue:**

1. Run podman user containers, start via generated s

[2020-11-08 11:28] rhatdan commented on #8253
I don't think @yangm97 is after full support, it would just like to run the read/only type functions, podman version, podman info, podman ps.

[2020-11-08 11:39] rhatdan commented on #7300
I have just read up on this.  So you want to take each option and make them into a link
Something like?
[code]
Sadly gomd2man makes the man page look like
[code]

[2020-11-08 11:51] rhatdan commented on #7963
I have seen this problem with the user namespace is not setup to handle some UIDs.  Could this be the issue?

[2020-11-08 11:52] rhatdan commented on #7876
This is fixed in the master branch.

[2020-11-08 11:52] #7876 closed

[2020-11-08 11:59] rhatdan commented on #7942
@haircommander @giuseppe PTAL
Could you answer @eiffel-fl questions?

@eiffel-fl the problem is in both the cases of `podman-remote` and `podman` conmon/crun/PID1 are working the same way.  The problem being reported here is that when podman-remote logs reports back, it seems to be confused.

If we run the same container with podman-remote and podman does the actual log look exactly the same?  If

[2020-11-08 12:16] rhatdan commented on #7942
Going back to @edsantiago original tests, I run

[code]
And then look at the log files on disk and they are identical
[code]
So this is not an issue with running the containers, but viewing the container logs.

[code]

@eiffel-fl I think you are exposing a different bug where the final character printed via podman run is different then podman-remote run.  But that should be opened as a different i

[2020-11-08 12:17] rhatdan commented on #7942
[code]

[2020-11-08 13:31] eiffel-fl commented on #7942
Hi @rhatdan.

I quickly read your messages, I will investigate more on the CRLF bug next week, unfortunately I am bit busy now...
By the way, it is good that you fixed the bug in `podman log`!
Moreover, with your precisions I will be able to search more precisely for the bug, thank you!

Best regards.

[2020-11-08 14:16] fillest opened #8273 "After fresh `podman info` some 'podman' process left hung in pause()"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. freshly install podman

2. `podman info`

3. `ps -aux | grep [p]odman`

**Describe the results you received:**

'podman' process exists

**Describe the results you expected:**

No podman processes left

**Additional information you deem important (e.g. is

[2020-11-08 14:26] mheon commented on #8273
I presume you're running rootless? If so, is expected that Podman leaves a
pause process behind to hold open the rootless user namespace. The process
can be safely killed if all containers are stopped and nothing is using
Podman (we can't do this automatically because of potential race conditions
if another Podman is starting at the same time).

On Sun, Nov 8, 2020, 09:16 Philipp Saveliev <notific

[2020-11-08 14:32] mheon commented on #8253
Commands like 'ps' can't be read only - they have to update the DB is they
detect a state change in a container. Otherwise we lose things like the
exit code and exit time, and think containers that have already stopped are
still running

On Sun, Nov 8, 2020, 06:28 Daniel J Walsh <notifications@github.com> wrote:

[2020-11-08 14:58] fillest commented on #8273
Oh, I see.

[2020-11-08 14:58] #8273 closed

[2020-11-08 19:32] Karreg commented on #7963
For me the issue is the lack of free volume on disk.
But I would say no matter the reason, there may be many, but it should be gracefuly handled... Retrying is fine, but for a limited number of retries. And the error should be explicite. If it's the lack of free space, then say it. If it's something else, then say it.
It could be a long running improvement, as unknown cases are discovered... But t

[2020-11-09 08:28] xomachine commented on #8271
It might be a duplicate of https://github.com/containers/podman/issues/7946

Could you test against the latest master?

[2020-11-09 09:27] Edward5hen opened #8274 "can not have JSON format output of cli "podman search" or "podman image search""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
It seems we can't have the image search result in a JSON format now. I suppose it can be done by using a command like `podman search --format json $IMAGE` or `podman image search --format json $IMAGE`, but I got several lines of the string "json" instead.

**Steps to reproduce the issue:**

1.

[2020-11-09 09:29] Edward5hen commented on #8274
For other random string value of argument `--format`, it will just print out the strings too.
❯ podman image search --format random registry.fedoraproject.org/fedora
random
random
random
random
random
random
random
random

[2020-11-09 10:37] j0057 commented on #8259
@giuseppe, that's my mistake; I pasted the wrong error message. If I give the first container a uidmap/gidmap of `0:10000:10000`, and the second `0:20000:10000`, I get the error `Host ID 20000 cannot be mapped to a container ID`. I can see there are only files with uid 0 and 1000 within the container when I run the second container on Fedora.

[2020-11-09 10:46] dmesser commented on #8242
No luck

[code]

[2020-11-09 11:08] thomassuedbroecker opened #8275 "Unable to build a container image with Podman inside a running Docker container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to build a container image with Podman inside a running Docker container

**Steps to reproduce the issue:**

1. Build a container image with podman installed and other tools installed using **Docker CE**
_Here you find the [Dockerfile](https://github.com/IBM/cloud-native-starter/blob/m

[2020-11-09 11:29] rbo commented on #8242
@dmesser what is the output of: `podman manifest inspect olm-list:v1.1` ?

[2020-11-09 11:30] dmesser commented on #8242
@rbo

[code]

[2020-11-09 11:43] Luap99 commented on #8274
The format flag expects a go template:  `--format string     Change the output format to a Go template`

For example:
[code]

[2020-11-09 11:47] Luap99 commented on #8274
I will open a PR to add json support.

[2020-11-09 12:34] rbo commented on #8242
Looks like the referencing manifest ( `sha256:9d8f18` ) have to be in the same org/repo.

[code]

[2020-11-09 13:17] edsantiago commented on #7580
@giuseppe explicitly mentions in containers/crun#505 that it does not address this issue.

But I have not seen it since Sept 10, when I added two statements (an `echo` and an `ls`) intended to help debug the flake. My hunch is that the flake is a race condition, very likely caused by trying to read the pidfile before conmon has written it, and that my debug statements take just long enough to mask

[2020-11-09 13:23] edsantiago commented on #7583
Still happening, although it looks like the cleanup has worked so it's not triple-failing any more (and hence not causing complete CI-run failures). Logs below are November and October only, I choose to skip the many late-September instances:

* gce_instance:prior-fedora : int podman fedora-31 root host
  * PR #8231
    * [11-03 11:13](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae

[2020-11-09 14:23] mheon commented on #8275
@rhatdan I'm pretty sure we have a blog somewhere about builds in locked-down containers, but I can't seem to locate it. Would you happen to know where it lives?

[2020-11-09 14:35] edsantiago commented on #7228
I honestly don't know if this is still present or not. My flake-summarize script isn't good enough to delve into the logs and analyze error messages, it only reports the failing test - and this failure happens on lots of different tests.

[2020-11-09 14:35] rhatdan commented on #7982
The issue is that the default seccomp rules that are being used are blocking the mount syscall and a few others.  We do not believe that these should be blocked by default and use less stringent rules for seccomp.json then Docker did.  Which allows buildah to be run within a locked down container.

If you switch to using /usr/share/containers/seccomp.json from containers-common, package you should

[2020-11-09 14:35] #7982 closed

[2020-11-09 14:39] edsantiago commented on #7808
The last two incidents reported by cirrus-flake-summarize are on 09-29:

* prior-ubuntu : test prior-ubuntu
  * PR #7833
    * [09-29 15:21](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5579232669597696/html/integration_test.log.html#t--podman-network-rm--1)
* ubuntu : test ubuntu
  * PR #7825
    * [09-29 16:45](https://storage.googleapis.com/cirrus

[2020-11-09 14:40] edsantiago commented on #7241
I `skipped` the failing test, which is one reason why we're not seeing the failure in CI any more.

I tried running the `7241.sh` reproducer just now, saw no failures in one hour. I will try removing the `skip` and we'll see what happens in CI.

[2020-11-09 14:42] rhatdan commented on #7978
@baude @vrothberg @nalind @mtrmac @mheon @giuseppe

This looks like are randomly getting the STDERR  message back after the STDOUT message even though STDERR happened first.  This looks like it is an issue with go threading, and I am not sure we can fix it.

Thoughts?

[2020-11-09 14:43] dmesser commented on #8242
Yeah I suspected something like this. It does however not explain why it works with `docker`.

[2020-11-09 14:45] lsm5 commented on #8261
hi @t2d I'm unable to reproduce this issue on a fresh 20.04 env.

Could you please post what you see when you do:
[code]

[2020-11-09 14:45] mtrmac commented on #7978
UNIX pipes/sockets don’t come with timing information attached to every byte, so if stdout/stderr is consumed by conmon, or whatever it is, from two separate file descriptors, it’s not possible to reconstruct the original order. If you want that, you have to use a single pipe/socket for both, like a terminal (and then it’s not possible to distinguish output directed to stdout vs. stderr).

[2020-11-09 14:47] rhatdan commented on #7446
I am not sure if this is possible, the more I think about it.  I think you would need to do this in two steps.

First reset the storage.

podman system reset

Now edit the storage.conf
And run a container.

The problem with changing the storage.conf first, is you confuse podman system reset, into attempting to reset and overlay storage and this blows up pointing back to the original vfs storage.

[2020-11-09 14:53] patchon commented on #7978
Thanks for clearing it up, I guess its not a huge issue, I was just very confused about the output order.

[2020-11-09 15:00] t2d commented on #8261
Ah, damn. I'm very sorry. I had some apt-pinning rules set up, which influenced this repo. Sorry for wasting your time.

[2020-11-09 15:00] #8261 closed

[2020-11-09 15:01] rbo commented on #8242
Ah sorry got it, it looks like docker is pushing the ref upfront. Let's wait for more information from engineering :-)

Last times @mtrmac  has very depths answers about it.

[code]

[2020-11-09 15:08] mtrmac commented on #7978
Basically, with a
[code]

it’s possible for the producer to write to stdout1, stderr, stdout2, in that order, and _only later_ for the consumer to wake, and see both stderr_readable and stdout_writable, and the stdout buffer to contain (trailing parts of)stdout1+(leading parts of)stdout2, and no way to reconstruct the timing.

[2020-11-09 15:30] edsantiago opened #8279 "CI: podman run check dnsname plugin: Error freeing pod ... lock"
Seen in CI for #8277:
[code]
This happened on the first try (of three), but the next two then failed because of improper cleanup ("network name dnsNetTest is already used").

Log: [int podman fedora-33 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5373838600962048/html/int-podman-fedora-33-rootless-host.log.html#t--podman-run-check-dnsn

[2020-11-09 15:35] edsantiago opened #8280 "cgroup.freeze flake is back"
[code]
(Not always in the `chown` step; two of the failures below are in a `ln` step).

Fedora 31 and 32:

61 podman build - workdir, cmd, env, label
* gce_instance:fedora : sys podman fedora-32 rootless host
  * PR #8203
    * [10-30 14:50](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5758475714166784/html/sys-podman-fedora-32-rootless-host.log.html

[2020-11-09 15:49] jwhonce commented on #8274
@Edward5hen That is expected behavior. The value of --format is fed to the Go template library.

[2020-11-09 16:09] mheon commented on #8280
Only Fedora makes me think `crun` (though, potentially, this is not `crun` specifically but a more general cgroups v2 issue?).

Previous issue is https://github.com/containers/podman/issues/7148 I think? We concluded it was `crun` there as well and got a fix landed.

@giuseppe PTAL

[2020-11-09 16:14] mheon commented on #8279
The initial error indicates that something else freed the pod's lock before it was fully removed, and could be an indication of a lock being held by two different objects, which is very bad because it could easily lead to deadlocks. Would be very interested in seeing if you can reproduce this.

[2020-11-09 16:45] edsantiago opened #8281 "regression: podman-remote exec: no stderr"
This is an exact resurrection of #4096. It was working in v2.0, broken in v2.1. It was not caught because the CI test was disabled due to flake #7241 .

In window 1:
[code]
Window 2:
[code]
Note the missing output: there should be errors from each one. The errors actually appear in window 1 (server):
[code]

[2020-11-09 17:00] edsantiago commented on #7096
cirrus-flake-summarize reports no incidents since 09-28, which is right around the time that @Luap99 merged #7835 so maybe this is fixed?

[2020-11-09 17:13] edsantiago commented on #7746
Issue is still present; failing about one in ten using reproducer in comment 0 (in a `while` loop):
[code]

[2020-11-09 17:37] giuseppe commented on #8280
I've added a check for `ENOENT`, but the error I see now is different:

"error reading from file `/sys/fs/cgroup//user.slice/user-13996.slice/user@13996.service/crun-buildah-buildah026930670.scope/container/cgroup.freeze`: No such device"

I need to investigate it further, but it could be a different kernel or a different code path that returns `ENODEV`

[2020-11-09 17:40] mbargull commented on #6967
Please disregard my previous comment. I encountered similar symptoms but due to a different cause (older kernel in my case) which is unrelated to the issue reported here.

[2020-11-09 17:51] yangm97 commented on #8253
Unless you manage your containers using some supervisor (such as systemd units with the `--new` flag, which is how I'm doing it right now). Aside from that, you also need to store cni data in a tmpfs if you want to create container interfaces/networks on the fly (I am using `--net=host` so I didn't notice this earlier).

I've been using the setup described in OP since I opened this, so far so good

[2020-11-09 18:53] edsantiago commented on #8279
Followup: it's a flake. Re-run made it pass.

I tried the following, let it run for an hour, and could not get it to fail:
[code]
Maybe it's something in the CI environment, or maybe it's another e2e test running in parallel, or maybe something else entirely. I have no idea what else to do to reproduce this, so I suspect in thirty days we'll get a stale-issue label and someone will close.

[2020-11-09 19:03] rhatdan commented on #6192
Ok no one has stepped forward for the past month on this.  But what kind of data do we want.  Looking at @alexlarsson Data, I am not sure how much of this makes sense.  Are you looking for more info then the following.  There is a slippery line where we don't want to leak too much information into the container for hacker purposes.
[code]

[2020-11-09 19:06] rhatdan commented on #2317
@ashley-cui We might want to make this part of your secrets work.  Seems like this is a form of secrets we would want to allow containers to use.

[2020-11-09 19:16] rhatdan commented on #3932
This definitely is documented now. Also some of the /etc/subuid and /etc/subgid issues are better handled.  If people want to open new issues on documentation or handling lack of subuid entries, please open new issues.

[2020-11-09 19:16] #3932 closed

[2020-11-09 19:16] rhatdan commented on #1925
Sadly coming up on two years on this one

[2020-11-09 19:57] edsantiago commented on #8281
Whoever fixes this: please include the following patch in your PR:
[code]

[2020-11-09 19:59] ashley-cui commented on #2317
@rhatdan /me adds to secrets list

i'll give it a look and a research :)

[2020-11-09 20:01] #8274 closed

[2020-11-09 20:43] mlegenovic commented on #7857
To solve first problem in Eclipse `RepoDigests` is not needed, but in Docker API specified as required. This patch solves first problem:

[code]

Second problem is solved with this patch (`RegistryConfig` is specified as nullable in API spec, but for some reason docker-client library used in Eclipse Docker plugin requires it):

[code]

Next problem is missing `Args` attribute in `containers` endpo

[2020-11-09 20:58] rhatdan commented on #7857
@mlegenovic Could you open these patches as a PR?

[2020-11-09 21:08] mlegenovic commented on #7857
BTW, IntelliJ docker plugin has the same problem, also there a container instance is created but cannot be started. I think relevant part is this:

[code]

but i'm not 100% sure. Here is how it looks like when i start the container with `podman create`:

[code]
There are also some other differences, but i'm not sure if they are relevant. It is very simple to reproduce the problem.

[2020-11-09 21:15] mlegenovic commented on #7857
@rhatdan Of course, i can do it.

[2020-11-09 21:18] mheon commented on #7857
This comes back to our discussions around testcontainers - the Docker API never specifies that these fields are required, but it seems like Java implementations of JSON parsing are unable to handle omitting empty values? I don't really like doing this just for one language's quirks, but it seems like we may not have a choice.

[2020-11-09 21:31] edsantiago commented on #8279
Well, well. Here we are again. [int podman ubuntu-19 root host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6473729360265216/html/int-podman-ubuntu-19-root-host.log.html#t--podman-run-check-dnsname-plugin--1) (First one was fedora-33 rootless).

[2020-11-09 21:34] mlegenovic commented on #7857
@mheon This is from Docker API spec:

**Size** integer **Required**

so, it is specified as required. I agree that these fields are not really required for a tool to work, but on the other side `Size` should not be empty because `podman inspect` shows a size, so it is a bug in that endpoint implementation.

[2020-11-09 21:34] causalityloop commented on #8223
I tried the --all flag and had some mixed results.

In the below scenario, Client A uploads the images and Client B performs the signs.
----------

Client A pull/tag/push - no sign by this client

[code]

Client B (perform actual sign)
[code]
/sigstore contents

[code]

Client A pulls back down signed (successful) (note: signatures are provided over https where /sigstore is hosted/accessible via n

[2020-11-09 21:51] mlegenovic commented on #7857
Sorry, my mistake, i meant `VirtualSize`, `Size` is present and has correct value.

[2020-11-10 00:27] GeovaRS commented on #6155
Try do the following commands
$ podman pod list
$ podman pod rm -f CONTAINER_ID
$ podman images
$ podman rmi -f IMAGE_ID

[2020-11-10 00:46] japrogramer commented on #6140
I run into this issue with
`XDG_RUNTIME_DIR=/tmp/xdg weston --tty="1" --idle-time=0`

but not when i use sudo with the same command above, problem is ... I don't want everything running as sudo

[2020-11-10 01:06] TomSweeneyRedHat commented on #7300
Honestly, I've not dived into the syntax that's needed to make it happen, but the end result would be something like what we have on podman.io that @Luap99 (I think) did for us.  I'm not sure if he's a thought or three on this.  So the end result is you'd see a little link symbol next to the titles in the online man page, and whecn clicked on you'd get something like:  https://podman.io/#podman-ha

[2020-11-10 06:23] ericzolf commented on #7415
I tried with a different image, `fedora/nginx`, just to be sure I wasn't hitting some strange Debian incompatibility but the result is exactly the same, everything works except the public IPv6.

[2020-11-10 09:42] chuanchang commented on #6387
@ParkerVR thanks! although the above steps works, but I can't find this kind of usage in [http://docs.podman.io/en/latest/_static/api.html#operation/libpodListImages](http://docs.podman.io/en/latest/_static/api.html#operation/libpodListImages),  and I have a little bit confuse for how to use other filter query parameters like 'id', 'reference' etc.

[code]

[2020-11-10 10:41] FallenWarrior2k opened #8288 "Support SSH jumping/bastion hosts for remote access OR local unix sockets"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I have a host that is not accessible from outside networks. With ssh(1), I can use the `-J`/`ProxyJump` option to go through a bastion host and connect to the isolated host from there.
I can also use that in combination with the `-L` option to forward the podman socket to a Unix domain so

[2020-11-10 11:13] Luap99 commented on #7300
I will take a look.

[2020-11-10 11:22] vrothberg commented on #8265
I don't think that's a good first issue as it's a bug in the cgroups package, not a simple front end one.

[2020-11-10 12:37] thomassuedbroecker commented on #8275
@mheon @rhatdan I tried different resource, but I end up in all paths with the same problem you find here.

[2020-11-10 12:43] elgalu opened #8289 "SLURM support?"
Is SLURM currently supported? Couldn't find it in the docs.

[2020-11-10 12:50] vrothberg commented on #8289
Podman works with SLURM with a bit of massaging. I suggest to have a look at a recent workshop: https://pcluster-podman-gromacs.workshop.aws/ee/verify/slurm.html

[2020-11-10 12:52] #8289 closed

[2020-11-10 13:16] w4tsn commented on #7800
There you go:

[code]

[2020-11-10 13:20] rhatdan commented on #6075
Since this is currently impossible with the kernel, I am going to close.  If new kernel features come about, we could reopen and consider.

[2020-11-10 13:20] #6075 closed

[2020-11-10 13:21] rhatdan commented on #5802
We have found little interest in this from the community and it is not likely to be a priority for the development team.

[2020-11-10 13:22] rhatdan commented on #5356
We are getting closer on this.

[2020-11-10 13:23] rhatdan commented on #8269
If you change your default to be 0 0 rather then 0 1, this should fix the problem.

We have updates going on in Fedora 33 and updated containers/common with the new default.

[2020-11-10 13:25] rhatdan commented on #7942
@eiffel-fl I think @jwhonce might have fixed your issue in podman-remote overlay.  It definitely fixed this issue.

[2020-11-10 13:25] #7942 closed

[2020-11-10 13:35] luxifer opened #8291 "Why make targets are PHONY?"
/kind bug

**Description**

I wonder why all the targets in the makefile are `PHONY`. I'm asking because I'm integrating `podman` in my yocto distribution and there is 2 phases for the install. First `make binaries` and after `make install`. Since all targets are phony, what was done in `binaries` target is done again in the `install` target.

**Steps to reproduce the issue:**

1. Run `make binari

[2020-11-10 13:38] mheon commented on #7800
I'm noting a few issues immediately:
- First, and probably your issue: we strongly recommend the use of `KillMode=none` on unit files launching Podman. We launch several processes after the container exits to clean up after it, and systemd has an annoying habit of shutting down these cleanup processes mid-execution when it wants to stop or restart a unit, which can lead to issues depending on when

[2020-11-10 13:39] christian-korneck commented on #5802
thanks, close

[2020-11-10 13:39] #5802 closed

[2020-11-10 13:49] mheon commented on #8275
I think the recommendation for builds specifically is to use `buildah` with the `chroot` isolation. @nalind Do we have any documentation on that?

[2020-11-10 13:50] #7302 closed

[2020-11-10 13:54] mheon commented on #8288
@jwhonce @baude PTAL

[2020-11-10 14:00] nalind commented on #8275
Not as such AFAIK, but the default images we provide set BUILDAH_ISOLATION to "chroot" in the environment and configure storage.conf to use the "overlay" driver with "mount_program=/usr/bin/fuse-overlayfs", which requires that the container be started with `--device /dev/fuse` or an equivalent.  Prior to fuse-overlayfs being an option, we were using the "vfs" driver, which doesn't require any spec

[2020-11-10 14:00] mccv1r0 commented on #7415
Same as prior expected behavior.  CNI only setup IPv6 port forwarding on  fd01:2345:6789:88::1 `cni-podman0` interface.  This address is for the `eth0`  interface.  Everything is working.

For IPv4 there is a rule:

`    3   180 CNI-HOSTPORT-SETMARK  tcp  --  *      *       127.0.0.1            0.0.0.0/0            tcp dpt:80
` for loopback.   IIRC the networking stack treats any packet sent to th

[2020-11-10 14:15] FallenWarrior2k commented on #8288
Okay, having done some further experimentation, it appears that, while `podman system connection` does _NOT_ support local sockets (just giving a path works for `add`, but trying to use the connection attempts to establish a loopback SSH connection, which expectedly fails with "connection refused"), setting the  `CONTAINER_HOST` environment variable to `unix://path/to/forwarded/podman.sock` works.

[2020-11-10 14:25] #7446 closed

[2020-11-10 14:45] ansiwen opened #8293 "Non-deterministic file-system issues when run as non-root"
/kind bug

**Description**

If running podman as non-root and compiling ocaml code there can be some weird non-deterministic file-system issues about missing files. The same command executed as root shows no issue (as does running it with docker).

Unfortunately I had no time to dig into this deeper, but it's very easy to reproduce, so I wanted to report it anyway. Please close if this is known an

[2020-11-10 14:48] j0057 commented on #8259
Some more trial and error on my part:

- There's no difference when using cgroupsv1 or cgroupsv2
- It happens in archlinux VMs with btrfs, ext4 and xfs filesystems
- Setting `storage.driver = "overlay"` or `"btrfs"` in /etc/containers/storage.conf makes no difference
- Neither does setting `storage.options.mountopt = "nodev,metacopy=on"` instead of the default `"nodev"`

[2020-11-10 14:58] mheon commented on #8293
@giuseppe PTAL

[2020-11-10 15:32] thomassuedbroecker commented on #8275
@nalind hmm, that sounds a bit like the new error I get now.

I tried out using Fedora with my new Dockerfile [Fedora.Dockerfile](https://github.com/IBM/cloud-native-starter/blob/master/workshop/Fedora.Dockerfile). I was hoping maybe that will solve the problem and I did same steps.

 **command**:
[code]
But that is the result:
 **output**:
[code]

[2020-11-10 16:20] thomassuedbroecker commented on #8275
@nalind @nalind @rhatdan Maybe you know it, where can I find a simple Dockerfile template with the right settings to build a container image, in which I can execute one of these commands?

[code]
or
[code]
Do you have a link to such Dockerfile? That would be awesome ...

[2020-11-10 16:43] cbz commented on #8168
Removing the pods fixed the issue, I'll close it.

[2020-11-10 16:43] #8168 closed

[2020-11-10 17:42] mheon commented on #7870
This is being worked on now by myself and @baude

[2020-11-10 18:05] baude commented on #8279
are you able to reproduce through repeated podman calls? repeated test runs?

[2020-11-10 18:07] edsantiago opened #8294 "regression: APIv2 networking is broken"
Some time between caace52d5 and 7ad631b81 (Oct 5 and Oct 13), `test/apiv2/35-networks.at` broke. It was not caught because CI v2.0 (Oct 5) accidentally omitted running APIv2 tests, and when they were reenabled (Oct 13) this test was breaking. I disabled the test but neglected to file an issue.
[code]

[2020-11-10 18:12] #7300 closed

[2020-11-10 18:14] edsantiago commented on #8279
No, see my earlier comment. cirrus-flake-summarize is reporting four failures in the last week, starting 11-05. The dnsname test was merged 10-31 via #8203. @Luap99 could you chime in here please?

* gce_instance:fedora : int podman fedora-33 rootless host
  * PR #8277
    * [11-09 10:24](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5373838600962048/

[2020-11-10 18:41] hrittich commented on #7801
I have run into the same issue today. To figure out the problem, I was cooking up a MWE until I found this issue here. I though, sharing the example could help solving the issue. Here is the `Dockerfile`

    FROM debian:buster
    RUN DEBIAN_FRONTEND=noninteractive \
      apt-get update && \
      apt-get -y install mesa-utils xterm x11-apps xauth
    CMD glxgears

Running the following commands

[2020-11-10 18:43] edsantiago opened #8296 "CI: need to reenable docs checks"
CI v2.0 removed the man page vs --help check:
[code]
This needs to be reenabled ASAP. Unfortunately, the situation is now completely broken, the `hack/xref-helpmsgs-manpages` script is failing, I will need to spin up an emergency PR to fix it.

[2020-11-10 18:48] baude commented on #8211
Fixed upstream now!

[2020-11-10 18:48] #8211 closed

[2020-11-10 19:27] ericzolf commented on #7415
So that means, it's not possible under Podman to publish a containerized application over IPv6, or am I misunderstanding something? And it sounds even like it's definitely not possible, which seems very wrong, as it's possible with Docker out-of-the-box.

[2020-11-10 19:53] mheon commented on #7415
This should work - I remember adding tests for it when I initially added support for the `[::]` syntax for forcing us to bind to IPv6 ports

[2020-11-10 19:55] mccv1r0 commented on #7415
This is using the host's `cni-podman0` interface, published port -p 80

```$ curl [fd01:2345:6789:88::1] # works!```

[2020-11-10 20:03] baude commented on #7870
merged upstream today ... closing

[2020-11-10 20:03] #7870 closed

[2020-11-10 20:03] baude commented on #4530
merged today upstream.

[2020-11-10 20:03] #4530 closed

[2020-11-10 20:16] ericzolf commented on #7415
But this is rather useless, the CNI interface isn't reachable from outside the host?!

[2020-11-10 20:45] mheon commented on #7415
That syntax should be instructing us to bind to all IPv6 addresses on the host, not just `cni-podman0`.

[2020-11-10 20:47] mheon commented on #7415
Sorry, not bind to - create port forwarding rules for.

(Technically, we ARE binding to the addresses too, to ensure that other apps trying to bind to them get an error; the ip/ip6tables rules take precedence so the traffic is forwarded, but we don't want to have port 80 forwarded to a container but let you accidentally start a server on port 80 on the host and wonder why you can't reach it).

[2020-11-10 20:47] mccv1r0 commented on #7415
Routing on your node/network is setup such that the CNI interface/subnets (v4 or v6) are not reachable from outside the host.

[2020-11-10 21:06] mccv1r0 commented on #7415
@mheon CNI has this [limitation](https://github.com/containernetworking/plugins/tree/master/plugins/meta/portmap#known-issues)    See text just above link for reasoning.  Open an issue if needed, maybe this will be revisited for CNI... but notice the lack of `route_localnet` `sysctl` for `net.ipv6`.   The lack of kernel support for `route_localnet` is the cause if the limitation referred to.

IPv6

[2020-11-10 21:19] remyluslosius commented on #7606
I think I'm having the same issue @unixfox mentioned [above](https://github.com/containers/podman/issues/7606#issuecomment-708435854).

Below is the response I got when using curl.

**IP address is modified in the sample data below.**
[code]
IPv6 connection above hangs -- response is timeout.

[code]
IPv4 works fine

[2020-11-10 21:32] rhatdan commented on #6717
@mtrmac @vrothberg @QiWang19 If we just make

https://github.com/containers/image/blob/master/pkg/docker/config/config.go#L129
func getAuthFilePaths(sys *types.SystemContext) []authPath {

Public then we could retrieve this data.  Would this be acceptable?  Or has this already been discussed?

[2020-11-10 21:36] rhatdan commented on #7090
Since the original error has been solved, and we have no conclusive way to handle this, I am going to close.

[2020-11-10 21:36] #7090 closed

[2020-11-10 21:37] rhatdan commented on #6518
@edsantiago still seeing this?

[2020-11-10 21:38] edsantiago commented on #6518
Sorry, I haven't had time to look (at this nor the other stale-issue that you haven't pinged me about yet). Won't have time until Thursday most likely. But I will, I promise.

[2020-11-10 21:41] j0057 commented on #8259
Interestingly, the error always seems to happen on files that are hardlinked to another; in the kibana container this is true for `/usr/share/terminfo/E/{Eterm,Eterm-color}` as well as `/usr/lib64/distutils/bcppcompiler.{pyc,pyo}`. It makes sense that if [chownByMapsMain][1] changed the owner via one of the two filenames, it would see the changed uid the second time and try to map that, which [toC

[2020-11-10 21:42] rhatdan commented on #7580
I will close and we can reopen when it happens again.

[2020-11-10 21:42] #7580 closed

[2020-11-10 21:54] j0057 commented on #8259
Just confirmed that on the Fedora VM I can change the owner of one hardlink and leave the other untouched, and on the Arch VM this also changes both the files.

[2020-11-10 21:54] rhatdan commented on #7808
Ok I will close this issue, with a hope and a prayer that it has been fixed, reopen if it happens again.

[2020-11-10 21:54] #7808 closed

[2020-11-10 22:11] mccv1r0 commented on #7415
Ouch:

Using `--publish 5555:5222` on docker shows they solved the problem using `docker-proxy`

[code]

I doubt that CNI will be getting into the port mapping proxy business for IPv6.

[2020-11-10 22:13] rhatdan commented on #8281
@mheon this seems like something you should be able to understand/fix?

[2020-11-10 22:15] rhatdan commented on #7978
Since this can not be fixed easily and is really not a bug.  Closing.

[2020-11-10 22:15] #7978 closed

[2020-11-10 22:20] rhatdan commented on #7096
Maybe is good enough for me.  We will reopen if it happens again.

[2020-11-10 22:28] remyluslosius commented on #7511
ok. Thanks for the quick response.

[2020-11-11 01:08] QiWang19 commented on #6717
`getAuthFilePaths` can give a list of paths that used for searching for valid credentials of some registry, but not cover the case if no credentials exists. The data required may need an API to tell the credentials were found, or the new file is created since no valid credential found, or credentials were saved to keyring, if this is supported in the future.  The above comment has reservations abo

[2020-11-11 02:04] zhangguanzhang commented on #6387
[code]
seemd this line don't work
https://github.com/containers/podman/blob/bb07b8c9f1d6b8f24fef91d96cc9c3a3ea381d20/pkg/api/handlers/utils/images.go#L59-L68
[code]
curl -v http://localhost:8081/v1.40/libpod/images/json?filters="id=16d2"
[code]

[2020-11-11 05:36] ericzolf commented on #7415
Yep, my current docker-based setup has the same: one docker-proxy process for port 80 and one for port 443.

So it sounds like my only option is to install a reverse proxy server on the host, to expose the ports I need to be public...

[2020-11-11 06:03] ericzolf commented on #7415
Could a macvlan network be also an alternative? (BTW, the podman-network-create man page still states that only 'bridge' driver is supported)

[2020-11-11 06:09] patchon commented on #7978
Again, thanks for clearing it up and for the awesome work you're doing with podman. Really appreciate your hard work! 🙋🏼‍♂️

[2020-11-11 06:16] zhangguanzhang commented on #8281
https://github.com/containers/podman/commit/2ea9dac5e1d00b2820bd7156e3bea4b9fd98c1e6
this pr change

[2020-11-11 06:16] zhangguanzhang commented on #8281
@mheon

[2020-11-11 07:08] winkeesail opened #8302 "Error: statfs /tmp/secret: no such file or directory"
when I mount a local file on host machine to the container, this error pops out.
my commands are:

[code]
errors:
[code]

Environment versions:
- Mac OS X, Mojave, 10.14.6
- podman version

Client:
Version:      2.1.1
API Version:  2.0.0
Go Version:   go1.15.2
Built:        Sat Sep 26 09:07:39 2020
OS/Arch:      darwin/amd64

Server:
Version:      2.1.1
API Version:  2.0.0
Go Version:   go1.15.2
B

[2020-11-11 07:28] Luap99 commented on #8302
Volumes over remote are not supported. The podman remote client will try to bind mount the file on the server side.

see issue #8016

[2020-11-11 07:28] #8302 closed

[2020-11-11 07:32] chenliu1993 opened #8303 "First time run `podman run hello-world` in a vm got stuck"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi exprts, I am currently working on a project which package podman binary in a container and then running this container in a vm. The goal of this project is to make users can go inside the container to play with podman.
The issue is not really a bug I think, just a little bit confused.
Deta

[2020-11-11 07:38] winkeesail commented on #8302
Thanks for the info. But are there workarounds or solutions if I need to mount files on my host machine?

[2020-11-11 08:37] Luap99 commented on #8302
Well, you can copy it to your server and then mount it.

[2020-11-11 08:43] ericzolf commented on #7606
Sounds to me like a duplicate of #7415

[2020-11-11 10:23] vrothberg commented on #6717
I echo what @QiWang19 said.

I think we need to generalize a bit more to account for non-authfile credentials sources. Returning an additional context string to the credential API that indicates where credentials were stored (or located) may help.

[2020-11-11 11:16] rhatdan commented on #7989
@mheon What is stopping us from adding --label to the network now?

[2020-11-11 11:19] rhatdan commented on #5140
@zhangguanzhang Interested in taking this on?

[2020-11-11 11:23] zhangguanzhang commented on #5140
I am busy these days, if the problem is not solved later, I will try

[2020-11-11 11:58] rhatdan commented on #8291
It would probably be best if you opened a PR to indicate how you would like the Makefile to look.  We are open to changes, and we definitely might have a bug.  But we would need to specifically see what you want changed.

[2020-11-11 12:06] rhatdan commented on #8288
@FallenWarrior2k Interested in creating a PR to fix the system connection if possible, or just documenting the CONTAINER_HOST.

[2020-11-11 13:32] mheon commented on #7415
We implemented macvlan a bit whacky - it's not a driver, but a separate flag. AFAIK it should work, though, since you have a "real" public interface to play with?

[2020-11-11 13:35] wagoodman opened #8305 "Implement "scan" command to surface known package vulnerabilities"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind feature

**Description**
It would be ideal to have a `scan` command that surfaces known vulnerabilities for packages within container images, mimicking the new [`docker scan` command](https://docs.docker.com/engine/scan/).

I work on a CLI tool, [Grype](https://github.com/anchore/grype), that is written in go that can fulfill this functionality.

[2020-11-11 13:46] vrothberg commented on #8305
Thanks for opening the issue!

We recently added a new image mount type which was motivated by your use case (i.e., image scanning). Doing a `podman run --mount type=image,fedora,/fedora` will mount the "fedora" image at `/fedora` inside the container.

So you can use the mechanism to use pretty much any scanner on any image. I have not had a look at `docker scan` yet but it sounds like something

[2020-11-11 13:46] vrothberg commented on #8305
@rhatdan PTAL

[2020-11-11 13:51] mheon commented on #7989
No place to store them. We only store networks as CNI conflist files, and there is no provision for storing a label in those files (and no provision for comments, so we can't hack them in easily either)

[2020-11-11 14:27] cevich commented on #8296
@edsantiago re-assigned to you since my urgently requested fix, is effectively completely nullified by #8299

[2020-11-11 14:31] #8294 closed

[2020-11-11 14:37] j0057 commented on #8259
I've since learned that the owner of a file is recorded in the inode, so ordinarily two hardlinks cannot have different owners.

Following @giuseppe's hint in issue #5816 that he was able to reproduce that problem using `index=on`, and based on the hardlink behavior, as well as [the "Non-standard behavior" section in the overlayfs documentation][1], I added this to my `/etc/containers/storage.conf

[2020-11-11 14:37] #8259 closed

[2020-11-11 14:42] mccv1r0 commented on #7415
And every time a pod changes IP address, change the reverse proxy config.... more "backends" are added, change the reverse proxy config...

Is routing IPv6 a non-starter?   On example of something that is expected to happen... I have cloud based VM's running `podman` that get an IPv6 address for `eth0` and supply a /48 for all my podman networks.  I only need a few, but with IPv6 addresses are not

[2020-11-11 15:50] #8296 closed

[2020-11-11 16:12] mheon commented on #8267
@baude I don't think we expect this to work, right (specifically the combination of `-p` with a macvlan network).

@fenech The idea of a macvlan network is that you will have access to a real interface on the host - so you would not need to use `-p` because ports opened on the macvlan interface are already publically accessible?

[2020-11-11 16:35] fenech commented on #8267
@mheon yeah, that makes sense, I think that this boils down to a lack of understanding on my part. If that's the case then this issue can be closed, thanks for your time.

[2020-11-11 16:43] #8267 closed

[2020-11-11 19:09] AlbanBedel commented on #5788
Using named volume in kube files is already possible, just use a `hostPath` volume with `path`set to the volume name. This is working just fine for me:
[code]

[2020-11-11 19:12] edsantiago commented on #6518
Yes, still happening. I'll skip the September instances, and just list October/November:

* fedora : Test Bindings
  * PR #8111
    * [10-22 13:52](https://api.cirrus-ci.com/v1/task/4765044275675136/logs/main.log)
  * PR #8075
    * [10-20 13:48](https://api.cirrus-ci.com/v1/task/4651865780518912/logs/main.log)
* gce_instance:fedora : Test Bindings
  * PR #8231
    * [11-03 10:46](https://api.cirr

[2020-11-11 19:13] mheon commented on #5788
If that works, I'd consider it more of a bug than a feature... I'm not saying we'll fix it, but if it breaks, fixing it will not be a priority.

[2020-11-11 19:57] edsantiago commented on #7228
I don't see any recent instances of this. (I haven't checked all error logs, though, only the most likely-looking ones). (And, unfortunately, Fedora gating tests haven't been running for some weeks now). Closing; will reopen if I see it again.

[2020-11-11 19:57] #7228 closed

[2020-11-11 19:58] mheon commented on #8221
This one's pretty bad - we're leaking locks. I think container creation is deadlocking somewhere - looking further.

[2020-11-11 20:37] ericzolf commented on #7415
I'm open for alternatives, I just have no clue how to realize what you just described. Do you have somewhere an example documented? I've always done containers un-routed.

[2020-11-11 20:38] mheon commented on #8221
Note to self: I should do a `podman system locks` or similar to list off in-use locks, what is using them, and identify locks that are marked as in-use but not assigned to any object.

[2020-11-11 21:07] rhatdan commented on #6717
SGTM, is this doable?

[2020-11-11 21:24] rhatdan commented on #8305
I like the idea of having a podman scan command to match Docker, but I would not want it to be opinionated.
@baude @mheon Thoughts?

[2020-11-11 21:29] mheon commented on #8305
I'm not opposed to providing a native command, but ideally I'd want to design it such that multiple scanner backends were supported - a plugin system would be ideal (or, barring that, just ensuring everything is behind an interface so we can easily add new implementations).

My primary concern around including a scanner directly in Podman boil down to binary size - if this ends up pushing our bina

[2020-11-11 22:20] rhatdan commented on #8267
Should we make the options conflict so that this would be clearer to users?

[2020-11-11 22:25] mheon commented on #8267
We'd have to read the CNI network in at container creation time, to make sure it didn't have the portmap plugin enabled - could be expensive?

[2020-11-12 01:43] aidan-plenert-macdonald opened #8309 "Failing e2e tests"
/kind bug

**Description**

Make test is failing integ tests.

[code]

**Steps to reproduce the issue:**

1. `make test`

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Have you teste

[2020-11-12 06:53] ericzolf commented on #7415
I tried macvlan according to https://www.redhat.com/sysadmin/leasing-ips-podman (new code uploaded to my Git repo)- it works for IPv4 but `/usr/libexec/cni/dhcp` doesn't seem able to pull an IPv6 address (at least not from my reading of https://github.com/containernetworking/plugins/tree/master/plugins/ipam/dhcp).

[2020-11-12 07:21] Hi-Angel opened #8310 "Invisible text when scrolling with Ctrl+p/n"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using <kbd>Ctrl</kbd>+<kbd>p</kbd> and <kbd>Ctrl</kbd>+<kbd>n</kbd> to scroll bash history in a container, text is often invisible. Does not seem to happen when using arrow keys <kbd>↑</kbd> and <kbd>↓</kbd>.

**Steps to reproduce the issue:**

1. Get ubuntu container with `podman pull u

[2020-11-12 07:26] ericzolf commented on #7415
`podman run --network host nginx` would work, but the man page for `podman run` states:

which doesn't sound optimal for a public facing container.

The last option I see is to use macvlan with an own dhclient in the container, IPv6 abled, or a statically assigned IPv6 address, or perhaps what you proposed @mccv1r0 but I have no clue what you meant, and searching for routed container network didn'

[2020-11-12 08:46] vrothberg commented on #8309
Thanks for reaching out! Could you share the entire log? I would expect an error message to appear before the ginkgo log.

[2020-11-12 08:54] vrothberg commented on #8305
I wouldn't like a security scanner to be part of the code base. As mentioned earlier, we have the `--mount type=image` mounts that can easily be used. A `podman [image] scan` could internally do a `podman run --mount type=image ... security/scanner/image:latest` with "security/scanner/image:latest" including the security scanner.

User can easily user their security scanner of choice, Podman would

[2020-11-12 10:19] vrothberg commented on #6717
I wouldn't suggest otherwise :^) We had to start in `github.com/containers/image/v5/pkg/docker/config` and allow to return some context of the auth origin there. For instance, a new `GetCredentials(...) (types.DockerAuthConfig, string, error)` (note the new 2nd return value). We may do the same for auth removal. Once wired in, we can extend `container/common/auth`.

[2020-11-12 11:49] Luap99 commented on #8310
I guess this a duplicate of #5979.

See this for a possible fix: https://github.com/containers/podman/blob/master/troubleshooting.md#22-containers-default-detach-keys-conflict-with-shell-history-navigation

[2020-11-12 11:54] Hi-Angel commented on #8310
Oh, right, thank you very much, that wasn't obvious. TL;DR for future readers, the fix was to create a file `~/.config/containers/containers.conf` with the following content:

[code]

[2020-11-12 11:54] #8310 closed

[2020-11-12 15:11] #8221 closed

[2020-11-12 15:18] lsm5 commented on #8291
@luxifer there are some `-nobuild` targets which won't run the build targets. I use them in fedora and debian packaging. Maybe those would be useful to your case as well?

[2020-11-12 15:24] luxifer commented on #8291
I saw them in the 2.1 branch but not for earlier versions. I will take a further look at the makefile.

[2020-11-12 15:28] cevich opened #8313 "Static "nix" build fails to compile podman"
/kind bug

**Description**

After fixing a Cirrus-CI caching problem (related to available VM disk space on boot), podman fails to compile.  I've temporarily made the static build task "optional", so the failure is currently ignored.

**Steps to reproduce the issue:**

1.  Execute a Cirrus-CI build on a branch or in a PR

**Describe the results you received:**

[code]

[Ref. Cirrus task output fro

[2020-11-12 15:28] SpyTec commented on #8271
I've got the same issue on v2.1.1. @xomachine could you or anyone point me on how to install from master? Are there builds we can use directly or do we have to build it ourselves?

[2020-11-12 15:31] rhatdan commented on #8257
This is what I see in the container.
[code]

[2020-11-12 15:33] rhatdan commented on #8257
I would figure your application is having an issue running within the container.  Have you tried this with a rootfull container?

[2020-11-12 16:00] hswong3i commented on #8313
Ummm... I have no idea why that fail coming... My local build with `nix build -f nix/` working correctly :-S

[2020-11-12 16:53] eiffel-fl commented on #7942
If this issue is fixed it is perfect! `podman` can advance and this is the important!

[2020-11-12 17:47] rhatdan commented on #7511
@mheon Some IPv6 code just got merged, did that fix this issue or move us closer?

[2020-11-12 18:07] edsantiago commented on #8095
Turns out, #8101 didn't actually address this. Reopening.

[2020-11-12 18:07] rhatdan commented on #7991
@mhmr is this still an issue, you did not respond to @zhangguanzhang, so I will close this issue, if we don't hear back in the next week.

[2020-11-12 18:09] rhatdan commented on #7418
Sorry there is no podman build --privileged.

I just built using your Dockerfile, and it went all the way to completion.

[2020-11-12 18:19] ashley-cui opened #8314 "Signed Mac Binary"
/kind feature

**Description**
On every release, we build podman-remote for Mac (attached [here](https://github.com/containers/podman/releases)). When these binaries are run, macos will pop up a window, warning the user that this binary is not signed, and recommends them to move it to their trash. We need to sign it somehow using an [apple developer ID](https://developer.apple.com/developer-id/).

[2020-11-12 18:43] mheon commented on #7511
No - there are still some pretty fundamental issues with IPv6 and CNI.

[2020-11-12 18:53] aidan-plenert-macdonald commented on #8309
Logs are attached from `sudo make test &> logs.txt`.

[logs.txt.gz](https://github.com/containers/podman/files/5532630/logs.txt.gz)

[2020-11-12 19:15] rhatdan commented on #8313
Looks like the package that provides  # include <linux/errno.h> on Nix did not get installed?

[2020-11-12 19:16] TomSweeneyRedHat opened #8317 "Commands Table format messed up in docs.podman.io"
I've not idea off the top of my head how to fix this, but did want to note that the table under the Commands heading is one long continuous line.  http://docs.podman.io/en/latest/markdown/podman.1.html#commands

Something has obviously gone wrong translating the md to html, but I know not where and haven't divd in.

[2020-11-12 19:18] rhatdan commented on #7942
Awesome.

[2020-11-12 19:50] rhatdan commented on #8317
Perhaps one of our community people have an idea?
@Luap99 @zhangguanzhang Any ideas?

[2020-11-12 19:51] Luap99 commented on #8317
@TomSweeneyRedHat I also noticed this.

I found this Issue: https://github.com/readthedocs/recommonmark/issues/3

This could be a possible solution: https://pypi.org/project/sphinx-markdown-tables/

[2020-11-12 19:54] TomSweeneyRedHat opened #8319 "RFE: `podman login {registry}` authenticates with Docker creds"
On my test machine, I happened to first login to quay.io using `docker login`.  Later after installing Podman, I ran into this:

[code]

I expected I would have to supply my credentials again, or at the very least, be told that I was logged in with Docker and I was using those credentials.  When I looked, there was no auth.json in the system for Podman and that might cause confusion.

Personally I

[2020-11-12 19:56] rhatdan commented on #8319
Yes we fall back to the Docker credentials, some of this was prior to tools have credential support.

[2020-11-12 19:59] djerius opened #8320 "directory link count changes unexpectedly when a file is added to a directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
   * Adding a file to a directory built into a Debian 10 container running under podman may decrease the directory link count to an incorrect value.  Some software (e.g. Perl's core `File::Find`) uses the directory link count as a count of the number of subdirectories in the directory, and thu

[2020-11-12 20:00] djerius opened #8321 "unexpected decrease an a directory's link count after adding a file to a directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
   * Adding a file to a directory built into a Debian 10 container running under podman may decrease the directory link count to an incorrect value.  Some software (e.g. Perl's core `File::Find`) uses the directory link count as a count of the number of subdirectories in the directory, and thu

[2020-11-12 20:10] mheon commented on #8321
@giuseppe PTAL - looks like a potential fuse-overlay issue?

[2020-11-12 20:37] TomSweeneyRedHat commented on #8319
I think falling back to the Docker creds when our tools are doing some action like run, build, copy, etc, is entirely reasonable.  However, I don't think we should claim to have "credentials" when we're doing 'podman login' and we've only logged in using `docker login`.  I hate to add a prompt asking if you want to continuing logging in at this case, but I think at the very least we should print o

[2020-11-12 20:48] Luap99 opened #8322 "podman build doesn't support the --net alias"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman build doesn't support the `--net alias`

[code]

[2020-11-12 21:26] rhatdan commented on #8320
@giuseppe I would guess this is a fuse-overlayfs bug?

[2020-11-12 21:41] FreedomBen opened #8323 "Unable to authenticate with podman-remote over ssh to drive remote podman.sock"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to run Podman on a remote machine and use the podman-remote client to drive it.

Following instructions here:  https://github.com/containers/podman/blob/master/docs/tutorials/mac_win_client.md

Podman on the remote machine seems to be working fine, but it cannot be driven by the local

[2020-11-12 21:45] sycured commented on #7418
I'll retry with the latest version packaged and I tell you if it works

[2020-11-12 22:02] cevich commented on #8313
I think that's glibc, no?  Sorry my C isn't what I use to be...perhaps is there some search path or something that could be wrong?

In case it helps, I'm pretty sure the commit that broke this was https://github.com/containers/podman/commit/46498331a3 which unfortunately, AFAICT didn't change anything related to this job :cry:

I know this because the job passed successfully a few commits earlier:

[2020-11-12 23:03] carsonbaker commented on #8269
Fwiw, changing to 0 0 doesn't fix the issue for me. I have to comment out the configuration line.

[2020-11-12 23:40] computator opened #8329 "Docker API Compatibility."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman compatibility API seems to have several formatting and compatibility issues vs the real docker API. I encountered issues myself running Podman under Nomad with the Docker API. This seems to have been fixed in the latest build according to #8235, likely because of #7860, but that st

[2020-11-12 23:44] daveman1010221 opened #8330 "Cannot Set '--memory' (cgroup) on Rootless Podman, but '--cpuset-cpus' (cgroup) Works"
/kind bug

**Description**

After setting up rootless podman, I wanted to get cgroups working. From what I've read, cgroups with rootless podman is really only recommended on cgroups v2. As I'm running Ubuntu 20.04, this has meant disabling cgroups v1 via kernel commandline, enabling Delegation to my user of some additional cgroups to my user (slice), and allowing my user permissions to the unifie

[2020-11-13 00:24] abitrolly commented on #8257
@rhatdan do you mean `sudo podman run ...`? That hangs too.

The application contains a reloader. If I turn off reloader, it starts to work.
[code]

[2020-11-13 01:11] mheon commented on #8330
@giuseppe Didn't we merge something recently to disable swap limits on v2 if they're not supported by the kernel? I imagine this would resolve this?

[2020-11-13 01:11] mheon commented on #8330
@daveman1010221 If you could possibly try master, this may be resolved.

[2020-11-13 03:04] edsantiago opened #8332 "podman-remote build: outputs duplicate image ID"
podman-remote is emitting two image IDs upon build:
[code]
Expected: just one instance of the SHA. Compare to podman non-remote:
[code]

Behavior present in master, also podman-2.1.1-7.fc32

[2020-11-13 03:43] daveman1010221 commented on #8330
Building/installing podman from master has caused some new issues to track down. It's ignoring everything in my home directory now and gets permission denied on /var/run/containers. I installed using the build directions for source. Maybe that's not right for running rootless?

[2020-11-13 05:34] rlpowell commented on #8269
As with carsonbaker, this "0 0" does *not* solve it for me:

[code]

[2020-11-13 05:36] rlpowell commented on #8269
I don't seem to have perms to re-open; hopefully someone else does?

[2020-11-13 06:32] abitrolly commented on #6111
@rhatdan had any CLI tooling appeared to check the ownership of the unreadable storage dirs?

[2020-11-13 07:19] vrothberg commented on #8319
I think that's very related to the other request to print out information about the origin of credentials (https://github.com/containers/podman/issues/6717).

Changing the behaviour and not fallback to using Docker creds might break some workflows. I am more in favour of giving users more context as discussed in https://github.com/containers/podman/issues/6717.

[2020-11-13 13:10] juanje commented on #6192
@rhatdan I think that, for most cases, you want/need to know which image (name, tag and digest) you are in. So, the info you propose should be more than enough.

I mean this for general purposes and cases like **toolbox** users. Some other use cases, as **Flatpak**, probably would need more info, but they already have their ways and it might be too much info for more general cases.

[2020-11-13 13:29] debarshiray commented on #6192
Yes, the container name and ID, and the image name and ID are the most important, I think.

As for the *engine*, would it be the version of Podman that started the container? Or the one that called `podman create`? I wouldn't mind leaving it out, unless someone specifically asks for it.

[2020-11-13 13:34] rhatdan commented on #8319
I agree we can not break the Docker Credentials.  It will become less common in the future, as people stop using it and go primarily to Podman.

[2020-11-13 14:03] rhatdan commented on #8330
Looks like a dupe of https://github.com/containers/podman/issues/7667

[2020-11-13 15:11] cevich commented on #8313
One idea that just occurred to me: Maybe the cache (in Cirrus-CI) is "bad" for the key being used.  I can prefix the cache key with the output of `$(date +%VY)` (week + year number).  That will force a somewhat regular cache refresh.

[2020-11-13 15:44] #8322 closed

[2020-11-13 15:46] #6440 closed

[2020-11-13 16:08] hswong3i commented on #8313
Maybe just simply add '-v1' or '-v2' suffix to the cache key, which should be more simple for control?

[2020-11-13 16:32] tmds commented on #7888
@rhatdan can you make some time for adding this flag?

[2020-11-13 16:43] rhatdan commented on #7774
@maybe-sybr @giuseppe Any movement on this?

[2020-11-13 16:44] rhatdan commented on #8257
Does it work if you run it --privileged?

[2020-11-13 16:53] rhatdan commented on #8269
This seems to be distribution based issue.  If you distribution/kernel does not supporting setting this sysctl, then it should be removed.  We are shipping this by default in Fedora and it is set as the default in containers/common in the config file, but if you remove the config file, it will not be set.

What distro are you seeing this on?  How old is the kernel?

[2020-11-13 16:56] cevich commented on #8313
Confirmed: It was simply bad cache.  [Running w/ fresh cached passes.](https://github.com/containers/podman/pull/8337/checks?check_run_id=1396634808)

That would work and I considered it...but then somebody needs to remember to bump it periodically :confused:

Hmmm...Another idea (instead of using the date) is use the contents of `version/version.go`.  That would tie a cache-update to a bump of th

[2020-11-13 16:59] rhatdan commented on #6111
This should find them:

podman unshare find ~/.local/share/containers ! -uid 0

[2020-11-13 16:59] cevich commented on #8313
@mheon  What do you think about the `version/version.go` idea?   If the static build task fails in a release PR, there is a line in `.cirrus.yml` to uncomment to ignore the failure.  Otherwise the only difference would be the task runtime (<10min vs >30min for a release PR + nix cache refresh).

[2020-11-13 18:01] usury commented on #8193
I know I muddied the topic by hypothesizing. However, the initial bug remains. It is not possible to specify "port_handler=slirp4netns" for user-defined rootless CNI networks. The step-by-step section at the beginning of this thread describes how to reproduce the behavior.

[2020-11-13 18:05] mheon commented on #8313
I will note that we've been going increasingly long without changing the contents of version.go on master given our move to release branches - 3 months between changes might become the norm. How often do we need this cache to flush?

[2020-11-13 18:28] AkihiroSuda commented on #7888
This NoRouter manifest allows a container to access port 80 of the host as 127.0.42.100:8080

[code]

[code]

https://github.com/norouter/norouter

[2020-11-13 18:30] usury opened #8338 "Cannot perform "podman build" within sshfs-mounted directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Unable to perform **$> podman build** within _sshfs-mounted_ directory.

The error seems _similar_ to https://github.com/containers/buildah/issues/2774
However, that bug report describes building an image within a container. This bug report describes building an image directly on the containe

[2020-11-13 18:59] daveman1010221 commented on #8330
Running mainline has me chasing down problems that I would not have otherwise, including this one:

[code]

I am unable to verify whether or not mainline solves the swap limit problem.

[2020-11-13 19:02] mheon commented on #8330
Can you provide details on the other issues you're seeing?

[2020-11-13 19:03] mheon commented on #8338
@giuseppe I'm guessing this is a fuse-overlay issue?

[2020-11-13 19:04] daveman1010221 commented on #8330
I'm really not sure where to start, I can tell you that my system is not in what I would consider a sane state. I had to give my user permissions to folders it would not normally have permissions to, in order to even get it to run. Mainline will not allow for the overlayfs to live in my home folder anymore, it insists in being in /var/lib/containers/storage. It completely ignores my ~/.config/cont

[2020-11-13 19:08] mheon commented on #8330
Your Podman appears to believe it's running as root, despite being rootless. Can you provide a `podman info`? Also, `printenv` might help, to see if there are any strange XDG_ variables set. Any environment variables starting with `_CONTAINERS` could be causing us to believe we're not rootless.

[2020-11-13 19:16] daveman1010221 commented on #8330
[code]

printenv:
[code]

[2020-11-13 19:18] mheon commented on #8330
Alright. We are definitely running rootless, which makes the use of those paths very interesting.

Can you run `podman system reset` (warning: will remove all containers and images to reset state) and remove any `~/.config/containers/storage.conf` files that may exist?

[2020-11-13 19:21] daveman1010221 commented on #8330
Make anything of this error message?

[code]

[2020-11-13 19:35] daveman1010221 commented on #8330
Ok, it's running again. :-D That system reset seems to have cleared something out. Also, I am not getting the swap error now, when setting --memory limits, which is very good. Just need to figure out why it isn't storage in my home directory now.

[2020-11-13 19:41] daveman1010221 commented on #8330
This is a beautiful thing:

[code]
which is exactly the 2GB limit I set. :+1:

[2020-11-13 19:43] daveman1010221 commented on #8330
It seems the memory.swap.max issue is resolved in mainline. Thanks. And thanks for helping me to get a running podman again. :-D

[2020-11-13 19:43] #8330 closed

[2020-11-13 20:47] ratulb commented on #5446
table `nft' is incompatible, use 'nft' tool - facing this issue while installing openstack via devstack on ubuntu20.04

[2020-11-13 21:16] jaywryan commented on #5623
I have a similar issue trying to mount a usb (tty) device into a rootless container.  Is there still work being done on this?

[2020-11-13 21:24] greenpau commented on #5446
@ratulb , try using the plugins: https://github.com/greenpau/cni-plugins#getting-started

[2020-11-14 02:04] maybe-sybr commented on #7774
Not AFAIK. I've been continuing to use the workaround from above.
On 14 Nov 2020, 3:43 AM +1100, Daniel J Walsh <notifications@github.com>, wrote:

[2020-11-14 02:31] edsantiago commented on #8332
I think this got closed by accident or typo? The bot-linked PR has nothing to do with this; the PR that fixes this bug is #8333, which is still hiccuping in CI. I'm reopening this.

[2020-11-14 05:44] rlpowell commented on #8269
Fedora 33, just updated like last week, 5.8.18-300.fc33.x86_64

[2020-11-14 07:51] afbjorklund commented on #8329
I think nomad has a driver for podman ?

[2020-11-14 08:01] afbjorklund commented on #8291
While I see the same thing about the make targets (we discussed it earlier as well), I just get a "permission denied"
In my experience you need to either use `sudo make install`, or maybe use `make install DESTDIR=/tmp/podman`.

The extra problem here is that now `bin/sudo` ends up getting owned by root. But clean still works fortunately,
since the user owns the directory (`bin`). But it would be

[2020-11-14 08:05] afbjorklund commented on #8291
Our workaround for Buildroot is to _replace_ the build steps. But it's a bit risky, you could end up missing things.

[code]

[2020-11-14 08:25] computator commented on #8329
It does yes, but at the moment it still uses the deprecated Varlink API and it also has a lot less features. They are working on updating to the new API (hashicorp/nomad-driver-podman#51). I should be able to use either driver though, and wanted to use the docker one for now because of it's expanded featureset. Hopefully in the future nomad-driver-podman will support additional podman specific fea

[2020-11-14 10:18] slewsys commented on #3264
I am not familiar with k8s secrets, nor have I reviewed all the suggestions submitted above, so forgive me if this has been covered: [Mozilla sops](https://github.com/mozilla/sops).  The idea to store secrets in a JSON or YAML file whose keys remain unencrypted.  For instance, a secrets file uploaded to a repository might look like:

[2020-11-14 11:01] rhatdan commented on #8338
I believe @nalind might have just made a change to buildah to ignore certain errors in COPY/ADD when Xattrs are not supported.  This might already be fixed in master branch.

[2020-11-14 11:02] rhatdan commented on #8338
https://github.com/containers/buildah/pull/2778

[2020-11-14 11:35] rhatdan commented on #8309
Did you get this to repeat?  This is about the most simple container on the system.  I would figure this is a hiccup or all of your containers would be blowing up.

[2020-11-14 11:39] rhatdan commented on #8303
Can you reproduce this error?  IE Is this just the first time you run a rootless container in the VM, and now all future containers work?  If you create a different user inside of the container and run these commands, does it get stuck?

[2020-11-14 11:43] rhatdan commented on #8275
I wrote an article on this last year:

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2020-11-14 11:43] #8275 closed

[2020-11-14 11:43] rhatdan commented on #8271
This is fixed in master.  Closing.  We should have a new release next week, BTW.

[2020-11-14 11:43] #8271 closed

[2020-11-14 11:48] rhatdan commented on #8253
Please open a PR to document this.  Or we have just started using the WIKI assocated with this github, you could document this there.

https://github.com/containers/podman/wiki

[2020-11-14 12:32] rhatdan commented on #7981
Any idea how you got into this state?

[2020-11-14 13:00] rhatdan commented on #7862
Closing, speak up if you dissagree.

[2020-11-14 13:00] #7862 closed

[2020-11-14 13:01] rhatdan commented on #8242
@QiWang19 @mtrmac PTAL

[2020-11-14 13:02] rhatdan commented on #8223
@QiWang19 Is this a bug or a mistake by @causalityloop ?

[2020-11-14 13:04] rhatdan commented on #7778
@EduardoVega Any progress on this?

[2020-11-14 13:13] bexelbie opened #8340 "podman remote fails with connection error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot add a podman remote

**Steps to reproduce the issue:**

1. On a Mac brew install podman; receive latest version, 2.1.1

2. On a CentOS Stream box, set up the podman socket, and sshd per instructions.  Note: version 2.0.5 seems to be the latest.  SSH is working as expected

3.  On the M

[2020-11-14 13:29] aidan-plenert-macdonald commented on #8309
Yeah. This happens every time. Have yet to get them to succeed. I'm on
Fedora 32 and have cgroups v1 and v2 enabled if that matters

On Sat, Nov 14, 2020, 04:35 Daniel J Walsh <notifications@github.com> wrote:

[2020-11-14 13:33] afbjorklund commented on #8329
I don't think the nomad driver has to worry about _any_ of the remote APIs, varlink or the new REST one ? Unlike the `docker` driver or the `containerd` driver, the `podman` driver could just talk directly to libpod locally and work more like the `exec` driver does. But like you say you _could_ use either the docker API or the podman API to talk to a podman service, but it wouldn't be "daemonless"

[2020-11-14 13:52] EduardoVega commented on #7778
@rhatdan Hi. I should be able to send something today/tomorrow.

[2020-11-14 14:10] #8332 closed

[2020-11-14 14:31] afbjorklund opened #8341 "Volume filtering works differently and misses existing label"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Volume filtering works differently in podman, when compared to docker.

**Steps to reproduce the issue:**

1. minikube start --driver podman

2. sudo -n podman volume ls --filter label=name.minikube.sigs.k8s.io=minikube

3.

**Describe the results you received:**

[code]

**Describe the resul

[2020-11-14 14:47] edsantiago opened #8342 "remote + build + RUN: emits spurious CR (^M)"
Another variant of #7942 : RUN commands within a `podman build` are emitting an unwanted `^M`.

In window 1:
[code]
In window 2:
[code]
Output is below, contrasting podman (left) to podman-remote (right):
[code]
master @ 4eb9c28433f8aa1827f844881efb1ae1d15b0860; also present in podman-2.1.1-7.fc32

If/when this is fixed, please update test: https://github.com/containers/podman/blob/9fa09a83b30c5d9

[2020-11-14 14:58] edsantiago opened #8343 "build: remote is verbosier than local"
An unexpected (to me) difference in output between `podman` and `podman-remote`:
[code]
Output below is podman(left), podman-remote (right)
[code]
It's probably not a big deal, and I'm OK with closing this as NOTABUG. I'm just curious if I should adapt my tests to work around this.

master @ 4eb9c28433f8aa1827f844881efb1ae1d15b0860

If this is fixed, please update test: https://github.com/containe

[2020-11-14 16:05] Luap99 opened #8344 "status filters for podman ps and podman pod ps should be inclusive"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want to filter the output for `podman ps`  to only contain created and exited containers for example.

Since filters are exclusive I cannot do this.

**Steps to reproduce the issue:**

1. `podman create alpine`

2. `podman ps --filter status=created,status=exited`

**Describe the results yo

[2020-11-14 16:54] computator commented on #8329
In theory yes, but that's not the way they decided to implement it per these:
- https://github.com/containers/podman/issues/3387#issuecomment-518514921
- https://github.com/hashicorp/nomad/issues/5312#issuecomment-508349430
- https://github.com/containers/podman/issues/3445

What I was saying is that there are two options currently implemented that should work right now:  the docker driver (via Po

[2020-11-14 16:57] afbjorklund commented on #8341
There is some bug in the filter construction, that butchers the options.

[code]
cliOpts.Filter [label=name.minikube.sigs.k8s.io=minikube]
lsOpts.Filter map[label:[name.minikube.sigs.k8s.io minikube]]

The bug is in GenerateVolumeFilters, in the loop construct.

So instead of checking key=value, it checks the key twice instead:

label name.minikube.sigs.k8s.io
label minikube

The filter switch nee

[2020-11-14 17:03] afbjorklund commented on #8329
Interesting, that means that libpod is not usable and it was easier to use the daemon (err, "systemd socket-activated service")

Thanks for the links. I guess a third option would be to call the `podman` CLI, similar to how the `singularity` driver works...

[2020-11-14 19:25] afbjorklund commented on #8341
I think it was GenerateVolumeFilters that was right, when having multiple filters.

So it was the command line flag parser that was too greedy, splitting every '='

[2020-11-14 19:37] afbjorklund commented on #8341
It also seems that the login in Volumes() filtering is broken.

Currently it does an OR of the criteria, instead of an AND...

[code]
So as long as the label matches, it will include _every_ name:

`podman volume ls --filter name=foo,label=blue`

But that's a different bug than this one, just found while testing...

[2020-11-14 19:44] Luap99 commented on #8341
I think this is not a bug and expected. see: https://github.com/containers/podman/pull/8232

[2020-11-14 21:04] afbjorklund commented on #8341
Okay, then it was just the example in the docs that was silly (not updated)...

[2020-11-14 22:50] edsantiago commented on #7139
Another one in [sys podman fedora-32 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4855943492009984/html/sys-podman-fedora-32-rootless-host.log.html)

[2020-11-15 00:07] remyluslosius commented on #7606
@ericzolf Yeah I think it's the same issue.

[2020-11-15 07:30] zhangguanzhang commented on #8340
centos8 could update to 2.1.1, and try again

[2020-11-15 07:46] zhangguanzhang commented on #6387
@rhatdan

[2020-11-15 08:05] zhangguanzhang commented on #8344
libpod/runtime_ctr.go:804-808
[code]
This code determines that if one of the filter conditions is not met, it will not match.

[2020-11-15 08:25] afbjorklund commented on #3387
This is rather ironic, and it was the same conclusion that I came to with `podman-machine` as well...

[2020-11-15 11:53] rhatdan commented on #8343
`buildah bud` works like podman remote.
They should be consistent,
[code]
@nalind WDYT?

[2020-11-15 11:53] rhatdan commented on #8343
@edsantiago I don't have easy access to Docker, could you see if Docker puts out this information about blobs?

[2020-11-15 11:54] bexelbie commented on #8340
@zhangguanzhang I don't believe that a newer version is packaged.  I find it odd that if there was a break in minor releases that wouldn't be in release notes somewhere.  I am hesitant to build my own package until we know that this wasn't intentional.

I've updated the title, as it was wrong.

[2020-11-15 11:55] bexelbie commented on #8340
This was the other error message I've received

[code]

[2020-11-15 11:59] rhatdan commented on #8329
@jwhonce PTAL

[2020-11-15 12:01] rhatdan commented on #8340
@jwhonce @baude PTAL
I have a feeling this was unexpected but intentional.   I am not sure we are being backwords compatible with the client, yet.

[2020-11-15 12:08] rhatdan commented on #8309
Podman works with either v1 or v2, not sure if it works with both.

[2020-11-15 12:23] bexelbie commented on #8340
To add to my confusion, there are three module streams available in CentOS Stream 8:

1.0 which contains the 1.0 binary
2.0 which contains the 1.6.4 binary
rhel8 which contains the 2.0.5 binary

It'd be great to see a stream that was running to provide "latest", which is what I naively assumed 2.0 would be.  Perhaps we should update the docs to suggest when to use the other streams (rhel8 is defau

[2020-11-15 12:59] edsantiago commented on #8343
Unfortunately it seems I no longer have a way to run docker either. Something has changed in the year or so since I last tried to set up RHEL subscriptions; it doesn't work any more. I've wasted an hour of my Sunday morning on it, giving up now. Will try again on Monday.

[2020-11-15 14:13] #8341 closed

[2020-11-15 16:11] liteljaime commented on #4257
Hi @rhatdan Thanks for the information provided. I was following your guide until the "Rootless configuration file changes". Podman wasn't working and I was getting crazy looking for the libpod.conf until I found thir thread. Would be awesome if you could update the post :)
Keep the awesome work, thanks

[2020-11-15 17:21] aidan-plenert-macdonald commented on #8309
Are you able to reproduce this error? I tried

[code]

I'm not sure why specifically the integ tests are failing with `126`.

[2020-11-16 00:41] abitrolly commented on #8257
This hangs too.
[code]

[2020-11-16 01:10] chenliu1993 commented on #8303
Yes, I can reproduce this error every first time running podman run hello-world through the privileged container's shell. But I haven't try another user, let my try it. Thanks.

[2020-11-16 08:01] #8006 closed

[2020-11-16 11:40] thoniTUB opened #8352 "Podman commands fail for a particular user"
/kind bug

**Description**

After an update of the OS  (RHEL 8.2) one user cannot run any podman commands. Other users, including the root user, are not affected:
[code]

**Steps to reproduce the issue:**

1. Run any podman command under that user.

**Describe the results you received:**
Always returns the same error message: `ERRO[0000] could not get runtime: cannot re-exec process`

**Describe t

[2020-11-16 11:53] w4tsn opened #8353 "Unable to push manifest list to quay.io"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to create a (multi-arch) manifest with two images and push that to quay.io. The first attempt works without any issues, but if the manifest already exists on the destination, the process fails on quay.io while it does work on docker.io. It could be that the issue therefore lies wit

[2020-11-16 14:01] baude commented on #8352
as this is rhel, please report this in bugzilla

[2020-11-16 14:26] rhatdan commented on #8309
This works fine on my F33 box.

The log looks like something with firewall is blowing up on your machine?
[code]

[2020-11-16 14:33] mheon commented on #8353
@QiWang19 PTAL

@rhatdan This seems like a good candidate for the error clarification work we were talking about, that error is the stuff of nightmares.

[2020-11-16 14:38] rhatdan commented on #8257
Then the issue is your process is having a hard time running inside of a container.

If the process inside of the container does not work in --privilege mode, then you can figure it is having a problem with container namespaces.  You can start disabling some of these also.

podman run --net=host --ipc=host --upc=host --pid=host ...

These will cause your container process to not use some of the na

[2020-11-16 14:40] rhatdan commented on #6387
@zhangguanzhang Interested in opening a PR to fix this?

[2020-11-16 14:56] nalind commented on #8338
Agreed, I think https://github.com/containers/buildah/pull/2778 fixes this.

[2020-11-16 15:16] mheon commented on #8338
Looks like we'll pick it up when we vendor Buildah v1.18

[2020-11-16 15:20] nalind commented on #8343
I think that output is written to the `ReportWriter` that's passed in `BuildOptions`.  If that option is set differently for remote and local builds, that would explain what you're seeing, and I think that'd be considered a bug.

[2020-11-16 15:56] Sparkenstein commented on #2398
Not sure if I am late, but current podman completions were not working for me, and there was no antigen/oh-my-zsh plugin available for podman as well. also current `_podman` completions file felt incomplete to me, just because docker's completion file was 3k lines long and podmans was ~180? I can be wrong here.
So basically I cheated and copied docker zsh completions file from oh-my-zsh plugin, re

[2020-11-16 15:59] edsantiago commented on #2398
@Sparkenstein a PR has just merged (in the last week) that vastly improves zsh/bash/fish completion. It will be in the next release.

[2020-11-16 16:38] maxamillion opened #8354 "podman images --format "{{json .}}" fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**

When using `podman images` with the `--format "{{json . }}"` option, podman produces the error message:
[code]

**Steps to reproduce the issue:**

1. podman images quay.io/ansible/default-test-container:1.11 --format "{{json .}}"

2.

3.

**Describe the results you received:**

[2020-11-16 17:11] QiWang19 commented on #8223
I failed to reproduce the issue under the scenario https://github.com/containers/podman/issues/8223#issuecomment-724292204, so I don't see it as a bug but have no idea what caused the error.

[2020-11-16 17:12] QiWang19 commented on #8223
@mtrmac Could you help debugging this issue?

[2020-11-16 17:19] jwhonce commented on #8354
@maxamillion
From master, will be in podman 2.2

$ bin/podman images registry.fedoraproject.org/fedora --format '{{json .}}'
[
    {
        "Id": "79fd58dc76113dac76a120f22cadecc3b2d1794b414f90ea368cf66096700053",
        "Size": 181097798,
        "Labels": {
            "license": "MIT",
            "name": "fedora",
            "vendor": "Fedora Project",
            "version": "33"
        },

[2020-11-16 17:23] #8354 closed

[2020-11-16 17:48] rhatdan commented on #8016
I am not sure how we would make this work, other then to export the current directory to the server running podman via nfs, samba or some other network protocol and then volume mount that directory into the container.

I am not sure is sshfs has this type ability, to share your homedir with a remote machine?

[2020-11-16 17:57] rhatdan commented on #8269
Ok this is a pod/container issue.  If I run the container outside of a pod, it works, but when it is run within a container, it fails.
The issue seems to be joining the namespace of a existing container. Without the setting.

[2020-11-16 18:00] rhatdan commented on #8269
@mheon This seems like it might be a serious bug.  Basically with current settings pods will not work.

[2020-11-16 18:19] afbjorklund commented on #8016
The way we used sshfs in docker-machine, was to share the remote machine with a local mount.

https://docs.docker.com/machine/reference/mount/

That is, the mount was going in the _other_ direction. Used sftp on the remote and fuse on the local.

Other than that, it was just VirtualBox shared folders...

[2020-11-16 18:21] rhatdan commented on #8269
Ok, I have dug deeper into this, the issue is that we are running the infra container and the container in two different user namespaces.  The pod is running in the default usernamespace while the container is running in --userns=keep-id.  We need to run the pod in the keep-id user namespace for this to work.

[2020-11-16 18:21] rhatdan commented on #8269
If you remve the --userns=keep-id, does it work for you?

[2020-11-16 19:08] DazAh commented on #8031
@bbros-dev Another workaround I found was to use the veth device type to create a link between the default and container namespace.

[code]

More reading:
https://lwn.net/Articles/580893/
https://man7.org/linux/man-pages/man4/veth.4.html

[2020-11-16 19:50] cevich commented on #8313
@mheon I've got a better idea that using a date.  It's similar to what @hswong3 suggested above (using a manually updated 'v1' or 'v2' string)

It would be less surprising (on failure) for any PR's where we also change the tag identifying new VM and Container images.  This value exists in `.cirrus.yml` and is accessible at runtime for use as a cache-key.  It also happens somewhat regularly, since

[2020-11-16 20:38] jameseck commented on #8012
I'm experiencing the same problem with the caddy builder image on a rpi4 (running official 32-bit Raspberry OS):

[code]
Like the OP, if I "podman pull docker.io/caddy:builder" manually, the "podman build" command works fine.

Same cpuinfo and podman version as OP.

[2020-11-16 20:50] edsantiago opened #8358 "CI: integration timing results are randomly incomplete"
Compare two CI logs, one [ubuntu-19](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5322692788224000/html/int-podman-ubuntu-19-root-host.log.html) and one [20](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5885642741645312/html/int-podman-ubuntu-20-root-host.log.html). Search in-page for `test path`, or `r

[2020-11-16 20:52] rhatdan commented on #8032
@mtrmac ideas?

[2020-11-16 20:54] rhatdan commented on #8344
Do you know how Docker handles this?

[2020-11-16 20:58] rhatdan commented on #8340
Only podman 2.* support APIV2, so we at least need that version on the client and server.

[2020-11-16 20:59] rhatdan commented on #8340
You need to talk to @fatherlinux about the streams names.

[2020-11-16 22:19] rhatdan commented on #8352
Could you try `podman system migrate` to see if there is something wrong with your configuration.
But please report a bugzilla.

[2020-11-16 22:19] #8352 closed

[2020-11-16 22:26] thoniTUB commented on #8352
Thanks, will do.

Quick follow up on `podman system migrate --log-level=debug`: It returns the same output as above in the description.

[2020-11-16 22:49] mheon commented on #8340
The rhel8 stream is the latest - the others are long-term support streams that will stay on an older Podman version for stability, with critical bugfixes and security updates. They are not deprecated, though I believe the 1.0 stream is approaching that point (I believe the update guarantee is for 2 years, so 1.0 will be deprecated in 8.4 and a new 3.0 stream will be created; but I'm less clear on

[2020-11-16 23:07] jwhonce opened #8361 "Container Create does not attach to network using compatible body"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
**Description**

[code]
Should create container and attach to `TestNetwork`

**Steps to reproduce the issue:**

1. See above

2.

3.

**Describe the results you received:**

Container created but not connected to network
**Describe the results you expected:**

Container created and connected to network

**Addi

[2020-11-17 02:36] abitrolly commented on #8257
@rhatdan using `sudo` + `--privileged` works..
[code]
These didn't work.
[code]

[code]

Setting `--uts host` helped. Although I have no idea why.
[code]

[2020-11-17 02:41] abitrolly commented on #8257
On the second try it didn't.
[code]

[2020-11-17 03:01] abitrolly commented on #8257
There are a plenty of bugs. Firefox hangs more often that `curl`. Maybe because FF sends keep-alive by default. I don't know.
[code]

[2020-11-17 03:20] abitrolly commented on #8257
This might be a Firefox issue.. Another "interesting" log excerpt.
[code]

[2020-11-17 04:36] aidan-plenert-macdonald commented on #8309
[code]

[code]

removing that network doesn't work. I see this error around. Any recommendations to fix it?

[2020-11-17 05:31] rlpowell commented on #8269
I'm sorry, yes, I should have said this at the beginning, but tickling this bug requires both pods *and* --userns=keep-id; drop either the --pod or the --userns and it's fine.

Unfortunately, my automation specifically uses that exact combination :).  --userns is so that I can have a database container and a web container with everything running with *only* the permissions and ID of the calling se

[2020-11-17 07:18] zhangguanzhang commented on #6387
seem need to url encode,  `filters={"reference":["docker.io/library/alpine:latest"]}`
[code]

[2020-11-17 09:29] daniel-wtd opened #8364 "Bug: Pods in Networks other than default cannot connect to exposed ports"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

containers in pods, connected to other network than "default/podman" are not able to connect to localhost.

**Steps to reproduce the issue:**

1. `podman network create web`
2. `podman pod create --network web --name web`
3. `podman container run -dt --name web01 --network web --pod web httpd

[2020-11-17 09:32] zhangguanzhang commented on #6387
@chuanchang must use a full ID
[code]
encode `{"id":["c96f8b6bc0d9f0277f118cf485a8c302e32cfe05e7d65f6e9a4c106679439d5e"]}` to
`%7B%22id%22%3A%5B%22c96f8b6bc0d9f0277f118cf485a8c302e32cfe05e7d65f6e9a4c106679439d5e%22%5D%7D` and GET
[code]

[2020-11-17 09:32] #6387 closed

[2020-11-17 09:39] Luap99 commented on #8364
If you specify `--network` on the run command you overwrite the pod net namespace.
You should use `podman container run -dt --name web01  --pod web httpd`

[2020-11-17 09:48] daniel-wtd opened #8365 "Bug: dnsname not working in rhel 8.3"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am not able to use the dnsname plugin in rhel 8.3.

**Steps to reproduce the issue:**

1. `dnf install containernetworking-plugins dnsmasq -y`
2. `podman network create`
3. add the appropriate lines to /etc/cni/net.d/cni-podman1.conflist
[code]
4. `podman run -dt --network cni-podman1 httpd

[2020-11-17 09:50] daniel-wtd commented on #8364
Thanks a lot. This is working perfectly fine.

I would suggest to make this idiot proof as a feature request, if this is ok for you :+1:

[2020-11-17 09:55] zhangguanzhang opened #8366 "Bug: podman network inspect wrong ident"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.
[code]
2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

[2020-11-17 09:56] svdHero commented on #4123
What's the status on this? In my company we are using docker with password manager `pass` and docker credentials-helper `docker-credential-pass`. We would love to migrate to Podman, if this feature - including the corresponding documentation - was available.

[2020-11-17 09:56] zhangguanzhang commented on #8366
/assign @jwhonce

[2020-11-17 09:58] zhangguanzhang commented on #8364
/close

[2020-11-17 09:59] ericzolf commented on #8364
I disagree with closing it, as Daniel wrote, it should be clearer, at least in the man pages, that setting the network overwrites the pod's namespace.

[2020-11-17 09:59] Luap99 commented on #8364
Well the problem is that this a legitimate use case. I don't know how we can separate between someone who wants this and someone who did this by accident.

[2020-11-17 10:02] zhangguanzhang commented on #8364
Maybe need to throw an error directly when creating it to prevent the pod from being created?

[2020-11-17 10:08] Luap99 commented on #8365
If you need to add the dnsname plugin manually after `podman network create` than the dnsname plugin is not detected by podman.

[2020-11-17 10:15] Luap99 commented on #8344
It does work with docker
[code]

[2020-11-17 10:35] vrothberg commented on #8012
@jameseck, does `buildah bud` work? Need to revive my rpi for testing soon.

[2020-11-17 10:38] jameseck commented on #8012
"buildah bud" gives the same error.

[code]
And just like "podman build", "buildah bud" works if I "podman pull" the image first.

[2020-11-17 10:38] mtrmac commented on #8223
(I haven’t tried to reproduce nor have I re-checked what exactly the various Podman commands do, this is just a very quick note hoping that it might be useful:)

The last section of https://github.com/containers/podman/issues/8223#issuecomment-724292204 works basically as I’d expect.

(To be explicit, note that the signature code is completely unaware of tagging conventions, if any: `20.04-arm` is

[2020-11-17 10:46] vrothberg commented on #8012
Thanks for checking, @jameseck!

Clearly a Buildah issue then. @nalind @rhatdan PTAL

[2020-11-17 10:53] daniel-wtd commented on #8364
if this is a legitimate use case to have networks attached to pods and containers in this pod, than I am ok with closing it. Otherwise a documentation hint for podman-create --network would be ok for me.

[2020-11-17 10:54] daniel-wtd commented on #8365
Let me see, if downstream can shed some light to it. It SHOULD be supported since 8.2, where it was broken and should be fixed with 8.3.

I will update the issue.

[2020-11-17 11:02] Luap99 commented on #8364
I opened  #8367 to improve the docs.

[2020-11-17 11:19] abitrolly commented on #6111
This still gives no direct connection to which containers these files belong, or if they are orphaned.
[code]

[2020-11-17 11:34] #8364 closed

[2020-11-17 11:45] #8095 closed

[2020-11-17 11:55] rhatdan commented on #8365
This should be a bugzilla not an issue.  Issues should only reflect on the upstream.

[2020-11-17 11:55] #8365 closed

[2020-11-17 12:44] mavit opened #8369 "PIDFile= references a path below legacy directory"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

On starting a systemd service generated by `podman generate systemd`, log messages like the following are generated:

[code]

**Steps to reproduce the issue:**

1. `cd /etc/systemd/system && podman generate systemd --name --files foo`
2. `systemctl enable --now container-foo.service`
3. `systemctl status container-foo.servic

[2020-11-17 13:03] vrothberg commented on #8369
Thanks, @mavit!

@containers/podman-maintainers PTAL. Could we start doing  a `s/\/var\/run/\/run\/`?

[2020-11-17 13:07] vrothberg commented on #8309
Can you do `sudo podman system prune -af`? This will remove pretty much all Podman data. Do simple commands work?

[2020-11-17 14:12] rhatdan commented on #8369
Yes, I think we should stop using /var/run and just use /run

[2020-11-17 14:37] rhatdan commented on #8342
@nalind Any ideas what is causing this?

[2020-11-17 14:38] rhatdan commented on #8353
Opened up a PR to cleanup the error a wee bit.

https://github.com/containers/podman/pull/8370

[2020-11-17 14:51] rhatdan commented on #8343
You get the output when --layers=false

[2020-11-17 14:53] rhatdan commented on #8343
[code]
[code]

[2020-11-17 15:03] nc-ruth opened #8372 "Podman play kube does not recreate pod (requires removal first?)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't recreate pods using "podman play kube <pod>.yaml", it says:
Error: error adding pod to state: name "<pod_name>" is in use: pod already exists

In the documentation, it states:
podman play kube will read in a structured file of Kubernetes YAML. It will then **recreate** the pod and con

[2020-11-17 15:10] mheon commented on #8372
Dupe of https://github.com/containers/podman/issues/4478

[2020-11-17 15:16] nc-ruth commented on #8372
my bad mheon :)
I will close the issue.

[2020-11-17 15:16] #8372 closed

[2020-11-17 15:24] nalind commented on #8342
Is there a pseudo-terminal involved?  If so, does it have the "ONLCR" flag set on its output?  Running "stty -a" in that context would tell us, either with "onlcr" (set) or "-onlcr" (not set).

[2020-11-17 15:31] edsantiago commented on #8342
The terminal from which I'm running has `onlcr`; if I try `stty -onlcr` life is too horrible to contemplate.

The `^M` happens even if I `s/|/|&/`, which presumably removes ptys completely out of the equation:
[code]

[2020-11-17 15:33] aidan-plenert-macdonald commented on #8309
Just tried it. Same problem. I just discovered that podman fails when running under `sudo`

[code]

[2020-11-17 15:43] nalind commented on #8342
Is the command indicated in the RUN instruction being executed with a pseudo-terminal, and if so, is "onlcr" set in it?

Experimentally, it looks like `docker build` always disables use of pseudo-terminals for RUN, and I'm thinking we should switch to doing the same.  That would also make https://github.com/containers/buildah/pull/2577 viable.

[2020-11-17 15:48] kazimsarikaya opened #8374 "podman-remote cannot send tar content with correct dockerfile"
Hello,
There is a two bug while sending tar to remote with podman-remote.

First one is at: https://github.com/containers/podman/blob/master/pkg/bindings/images/build.go#L143
[code]
docker file can be at anywhere so I don't think we set dockerfile parameter as only the file name.

The second one is at: https://github.com/containers/podman/blob/master/pkg/bindings/images/build.go#L219
[code]
source

[2020-11-17 15:52] edsantiago commented on #8342
Duh, sorry, I misunderstood.
[code]
podman-non-remote for comparison:
[code]

[2020-11-17 17:27] Luap99 commented on #8317
Fixed by #8335

[2020-11-17 17:27] #8317 closed

[2020-11-17 17:40] mschz commented on #7862
Hi, sorry, but I was so busy in my current project that I haven't been able to follow this discussion for a couple of weeks. Today I upgraded to podman v2.1.1 and tried again. I had to change the docker-compose-test.yaml file a bit and attached the new one. Also please have a look at [https://pastebin.com/yEwP6Szn](https://pastebin.com/yEwP6Szn) to see what happens when creating the POD and prunin

[2020-11-17 18:36] rhatdan commented on #8344
Since the issue reported is fixed.  I am closing this issue.  We will follow along with #8376

[2020-11-17 18:36] #8344 closed

[2020-11-17 18:55] rhatdan commented on #6111
Well the directory that they are stored in would indicate the image they are associated with.  Note these files could be associated with a regular image as well as a container runtime image.  Meaning they might not be associated with an image at all.

What kind of command would you want?

[2020-11-17 20:16] rhatdan commented on #7862
Are you sure this is not podman-compose causing the problem?
When I test simply as I stated above, it worked fine.

[2020-11-17 20:20] bexelbie commented on #8340
@mheon OK - makes sense.

[2020-11-17 21:18] QiWang19 commented on #8353
@w4tsn For updating the image in the manifest list and pushing it. Will the workaround in this [explanation](https://lists.podman.io/archives/list/podman@lists.podman.io/message/EIYJSUW4FM4QXSESJK4GAUA74GOHLCUF/) work for you?

[2020-11-17 23:53] mheon commented on #7862
I am fairly certain this is podman-compose - last I checked (admittedly a while back) they were mounting volumes without using their names, but instead hardcoding data directory, which is incorrect and breaks Podman's in-use detection for named volumes.

[2020-11-18 00:21] #8366 closed

[2020-11-18 01:17] gzm55 opened #8384 "add configuration option for disabling new keyring"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

In a rootless container with lean capabilities, to create a container by `podman run`, we have problems of no permissions to call pivot_root and create new keyring. In containers.conf, we could disable pivot_root, but we miss an option to disable keyring.

[2020-11-18 01:57] bbros-dev commented on #8031
Interesting, thanks for sharing.  Am deep elsewhere in our code base so can't go back to this.

It isn't clear where the port sharing takes place, e.g. say `curl 10.1.1.2:8080` on the host hits `curl 10.1.1.2:80` inside `wg-cntnr`?

[2020-11-18 06:56] ericzolf opened #8385 "pod create doesn't set static mac address for shared network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The pod create command doesn't apply the static MAC address to the infrastructure container, even though it properly applies a static IP address, and does seem to store the MAC address.

**Steps to reproduce the issue:**

1. `podman pod create --name mypod --network podnw [--ip 10.89.0.222] -

[2020-11-18 07:57] mschz commented on #7862
All podman commands executed by podman-compose are in the output. You're right, there's at least one issue with mounting volumes that I reported to the team and where I provided a fix. If I leave all the irrelevant "--name", "--pod", "--label", "--add-host" options, the "podman run" command mounting the volume that's removed looks like this:

`podman run -d --mount type=bind,source=/home/jdoe/.loc

[2020-11-18 08:29] topas-rec commented on #7963
I see the same when pulling the official nextcloud image. The official httpd and the official Hello World image works (both images, pull and run successfully)

The issue is caused by not enough disk space. (I provided 10GB of free space)
Nextcloud is bigger than the other two, but does it need 10GB for pulling the NC image? According to portainer using docker the NC image is about 800 MB.

Can it

[2020-11-18 08:58] zhangguanzhang commented on #8385
the latest code
[code]
mac can be set to correct, just disaply wrong value, and fix in https://github.com/containers/podman/pull/8386

[code]

[2020-11-18 09:03] zhangguanzhang commented on #8374
could you show the steps to reproduce it?

[2020-11-18 09:56] XinRedhat opened #8387 "Stuck on Copying blob"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**
I am using podman 2.1.1 on my Mac laptop, podman pull get stuck at Copying blob

**Steps to reproduce the issue:**

1. podman pull brew.registry.redhat.io/rhmtc/openshift-migration-rhel7-operator@sha256:9b90ee8ad3c39df9f698164accc93720da9009db6a5f54be7aece258e353d578 --log-level

[2020-11-18 10:06] topas-rec commented on #8387
Is this a duplicate of https://github.com/containers/podman/issues/7963?

[2020-11-18 10:14] Edward5hen opened #8388 "[APIv2]: podman hangs while using containers/$ctn/healthcheck"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
APIv2 endpoint containers/$ctn/healthcheck with curl will hang, as well as podman.

**Steps to reproduce the issue:**

1. ❯ podman system service --time 0 tcp:127.0.0.1:8080 &
[1] 226187

2. ❯ podman run -d --name hc --health-cmd 'echo foo >&2 || exit 1' --health-interval=0 4fab981df737 sleep

[2020-11-18 10:24] vrothberg commented on #8309
I am pretty sure @mheon knows what to do :)

[2020-11-18 10:30] zhangguanzhang commented on #8388
latest code
[code]

[2020-11-18 10:56] XinRedhat commented on #8387
no, this was not run into pull loop.

[2020-11-18 11:42] #8313 closed

[2020-11-18 12:21] DazAh commented on #8031
If I am following your question correctly - no port sharing actually takes place still, you would have to hit the peered veth device on your host (eg 10.1.1.2) using the containers local port. This requires your application to be listening on the peered veth1 device inside the container.
[code]

[2020-11-18 12:25] vrothberg opened #8390 "[RFE] podman system service: set default log level to info"
/kind feature

I would love `podman system service` to be more verbose by default. At the moment it does not really print anything but I want to _see_ that it's alive, especially when throwing requests at it.

Setting the default log level to info could be a good first. Once done, I would love each request to be printed on info as well.

It may come in handy for future maintenance and debugging. T

[2020-11-18 12:41] zhangguanzhang commented on #8385
@baude PTAL

[2020-11-18 13:42] w4tsn commented on #8353
apparently yes, since I'm the one who asked the question initially :D

So just to have it here for reference what I had to do to get it working:

- add `--format docker` to my build commands
- add `--format v2s2` to my push commands
- (maybe) update buildah from a version from july to latest

So quay.io does not support OCI manifest type, only docker. That's way I had to ensure that my types are s

[2020-11-18 13:54] rhatdan commented on #8390
Info level makes sense.  as long as we don't flood the logs with useless information.

[2020-11-18 14:05] bbros-dev commented on #8031
If I understand correctly, this requirement is the wrinkle in this setup.  The application in the namespace is listening on a WG interface as part of an OAuth2 dance with a remote partner.
I believe we could set this up with the veth device pair and VxLAN but haven't the time to sort all that out, so the socat workaround was our quick and dirty ;)

[2020-11-18 14:10] mheon commented on #7862
Yes. Named volumes are intended to be mounted by their name, not to have
their data directories manually mounted by the user or a tool. Podman wants
to manage the volume itself so we can count the number of users of the
volume and prevent it from being removed while it is in use.

On Wed, Nov 18, 2020, 02:58 mschz <notifications@github.com> wrote:

[2020-11-18 14:15] mheon commented on #8309
Wow, I think that error is coming out of firewalld - I've never seen
anything like it before (which is probably not what you were hoping to
hear...). Best idea I have is stop all containers and do a firewall reload
to clear any potential leakage from failed test runs?

On Wed, Nov 18, 2020, 05:24 Valentin Rothberg <notifications@github.com>
wrote:

[2020-11-18 14:18] rhatdan commented on #7862
@mheon nice find and explanation.

[2020-11-18 14:27] rhatdan commented on #8384
These look like they are blocked by seccomp rules.  Could you give the actual podman command you are trying to execute?

[2020-11-18 14:33] rhatdan commented on #7963
@QiWang19 @vrothberg @mtrmac Any idea what is going on here.  Seems like we have a loop on failure.  Is this retry or something else?  Is it in containers/image or in podman?

@topas-rec @karfau Could you try podman pull to see if the same failures happen, Even better could you try with `buildah pull`

[2020-11-18 14:37] topas-rec commented on #7963
That is what caused my issue.

I will also try `buildah pull`

[2020-11-18 14:55] mheon commented on #8387
@vrothberg @mtrmac PTAL

[2020-11-18 15:01] karfau commented on #7963
Not sure why you are asking me, did you mean to mention somebody else?

Since you asked:
[code]
---
[code]
---
[code]
If you think it would be helpful for you to know what happens when I execute `buildah pull nextcloud` let me know and I can install it and try.

[2020-11-18 15:02] mheon commented on #8031
We really need to make more network options conflict - Podman can easily detect a configuration like this where the `-p` flag is doing nothing and emit a warning or error (Docker only logs a warning for cases like this, but I feel like it's more of an error).

[2020-11-18 15:17] gzm55 commented on #8384
1. create docker container:

[code]

2. in the rootless ADMIN container, create a nested container:

[code]

As @rhatdan said, the problem is that the `keyctl()` syscall is blocked by seccomp, and according to the [docker document](https://docs.docker.com/engine/security/seccomp/), this syscall is blocked to prevent containers from using the kernel keyring, which is not namespaced. I can confirm t

[2020-11-18 15:17] vrothberg commented on #8387
Thanks for reaching out, @XinRedhat.

Can you share the debug logs from the podman server? If you do a `podman images` in another terminal, do you see the image?

[2020-11-18 15:34] mheon commented on #8385
@zhangguanzhang Good to close since #8386 is merged?

[2020-11-18 15:37] rhatdan commented on #8384
Docker is wrong, keyctl is namespaced.  This seccomp statement is dated.
Podman allow these sysctls by default.
Since this is more about how docker sets up the containers that run podman, it is not a podman issue.  So I am going to close this issue.
BTW Why not run podman natively or podman inside of podman?

[2020-11-18 15:45] #8353 closed

[2020-11-18 15:49] XinRedhat commented on #8387
@vrothberg
I did see nothing else in anther terminal
[code]

the debug logs from the poman server.

[code]

[2020-11-18 16:13] gzm55 commented on #8384
OK, thanks to figure out the solution.

Some old ci systems are still used to build images inside a docker container, so we need nested containers. And this system communicate to daemon via unix sock. Later we would like to try the new podman rest api, this way should introduce the native rootless nested containers to our systems.

[2020-11-18 16:22] gzm55 commented on #8384
@rhatdan is [this](https://github.com/containers/common/blob/master/pkg/seccomp/seccomp.json) the default seccomp profile used by podman? this does enable the keyctl syscall.

[2020-11-18 16:31] aidan-plenert-macdonald commented on #8309
Definitely not what I hoped to hear, but happy to help debug. Ran some of the commands from https://github.com/containers/podman/issues/5431.

[code]

Looks like a completely separate issue from podman. Maybe a conflict with docker.

[2020-11-18 16:33] gzm55 commented on #8384
@rhatdan
according to https://github.com/containers/common/pull/294
it seems that the keyctl is still under discussion, how is it going?

[2020-11-18 16:33] gzm55 commented on #8384
@rhatdan
according to https://github.com/containers/common/pull/294
it seems that the keyctl is still under discussion, how is it going?

[2020-11-18 16:45] topas-rec commented on #7963
I freed again some space (about 12 GB were free) and restarted the pull and **it succeeded**.
So the repeating was just caused by no space on device which was mentioned in the error. Here is a log of the failed pull (no space left):

[code]

Now with enough free space:

Output:
[code]

Image size seems to be about 800 MB but my hard drive is at 4 GB free space. Podman storage grew to 8.4 GB:
![Scr

[2020-11-18 18:22] rhatdan commented on #8384
Well we do a small patch for Fedora to allow it.  I attempted to get this in the upstream,but was blocked since some older kernels still did not do a decent job of namespacing keyctl.  RHEL7 age kernels.

[2020-11-18 18:43] Saroufim opened #8396 "Cannot Create New Container With -cpu-shares= Using cgroups v1 and cgroups v2 on Raspbian Lite"
/kind bug

**Steps to reproduce the issue:**

1. Create a new container with run or create and pass --cpu-shares argument with cgroups v1. The following error will be obtained:
`Error: container_linux.go:344: starting container process caused "process_linux.go:424: container init caused \"process_linux.go:390: setting cgroup config for procHooks process caused \\\"cannot set cpu limit: container c

[2020-11-18 19:07] rhatdan commented on #7963
Thanks, we have also seen similar issues with a UID not being defined within the user namespace of the user doing the pull.  Basically the `chown` to a UID outside of the namespace fails, and we look and start pulling the image again.

[2020-11-18 19:44] rhatdan commented on #8396
Have you tried as root?

[2020-11-18 19:46] edsantiago commented on #7139
Another one: [sys podman fedora-33 rootless host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5159711932678144/html/sys-podman-fedora-33-rootless-host.log.html)

[2020-11-18 19:53] edsantiago opened #8397 "New flake: unable to obtain cgroup stats: open /sys/fs/cgroup/pids/pids.current: ENOENT"
This one started just yesterday, and it's hitting us all over the place. The basic gist is:
[code]
Only on ubuntu-19 and -20; only root, not rootless. Seems to happen both local and remote. What changed yesterday?

------------------------

Podman pod stats [It] podman stats on running pods
* gce_instance:prior-ubuntu : int podman ubuntu-19 root host
  * PR #8363
    * [11-17 14:44](https://storag

[2020-11-18 19:57] rhatdan commented on #8397
@giuseppe @cevich WDYT?
Seems like something is screwed up in cgroups V1 on these boxes?  Could their be new versions of Ubuntu out there?

[2020-11-18 20:30] QiWang19 commented on #8242
@dmesser  Will add `--all` to the following push run success?
[code]

[2020-11-18 20:57] simonkrenger opened #8399 "DNS resolution works only for one network when two networks are attached"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

PR #7460 introduced support for `podman network create` with the ability to create networks and interact between containers using DNS entries. The following works as expected for both `web-a.dns.podman` and also just `web-a`:

[code]

However, when there are two networks attached to the client container (for example a revers

[2020-11-18 21:09] mheon commented on #8399
@baude PTAL

[2020-11-18 21:19] MrErr opened #8401 "Podman exec fails."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.podman start nextcloud

2. podman ps --filter name=nextcloud
CONTAINER ID  IMAGE                         COMMAND         CREATED       STATUS                PORTS   NAMES
9b47d3d27e18  localhost/nextcloud:18.0.0-1  /usr/sbin/init  3 months ago  Up About an

[2020-11-18 21:22] mheon commented on #8401
Does the problem only happen with this one container, or can you reproduce with other containers?

[2020-11-18 21:26] MrErr commented on #8401
Just this container. All other containers work fine.

[2020-11-18 21:47] rhatdan commented on #8401
I have a feeling you need to remove all containers created with cgroups V1 to fix this problem.

[2020-11-18 22:06] laf0rge opened #8402 "Error: unrecognized command `podman network remove`"
Wih docker, "docker network remove" is a valid command.

It seems, in podman, only "network rm" is implemented, but the compatibility alias to "network remove" doesn't exist.  Would be nice and probably super easy to achieve higher compatibility. Thanks!

[2020-11-18 22:12] laf0rge opened #8403 "requested IP address 172.18.24.103 is not available in range set 172.18.24.1-172.18.24.254"
* A fresh, plain, new installation of podman on Debian 10 using devel:/kubic:/libcontainers:/stable
* a fresh, never used new docker network was created with the 172.17.24.0/24 range: `podman network create --internal --subnet 172.18.24.0/24 ttcn3-gbproxy-test`
* no containers running on on the system (verified with `podman ps`)
* trying to execute the container with a static IP well within that r

[2020-11-18 22:15] jwhonce commented on #8390
@rhatdan Currently only debug floods the logs with  requests, headers etc

[2020-11-18 22:32] MrErr commented on #8401
That is a disruptive solution. There are twenty other containers running on this server.
Can you please explain why you feel that removing other containers would be the solution? Also why wont just recreating this container be a solution? I could consider it even though it defeats the purpose of using containers for portability.

[2020-11-18 22:37] mheon commented on #8401
Can you do a `podman inspect` of that container and check the OCIRuntime - I suspect that this container is still using runc on cgroups v2, from the error message. I'm a tad surprised it started at all, given that... @rhatdan @lsm5 How new is our runc on F33?

[2020-11-18 22:39] edsantiago commented on #8397
So, #8290 merged yesterday, and it deals with stats and cgroups. My quick look at it doesn't find anything that could be related to this failure, but it's the only cgroup or stats PR in the last few weeks. @vrothberg would you mind looking at the failures above and seeing if your PR could have possibly caused this?

[2020-11-18 22:41] mheon commented on #8403
Any chance you deleted/recreated a container using that static IP previously? We could have a leftover lease file for the IP.

[2020-11-18 22:42] MrErr commented on #8401
podman inspect nextcloud
[
    {
        "Id": "9b47d3d27e186652d4db7589ba303129e8776d2f1d905c4c2b5d1fb41361c0a2",
        "Created": "2020-07-23T20:46:50.372018954-05:00",
        "Path": "/usr/sbin/init",
        "Args": [
            "/usr/sbin/init"
        ],
        "State": {
            "OciVersion": "1.0.2-dev",
            "Status": "running",
            "Running": true,
            "Pa

[2020-11-18 23:31] rhatdan commented on #8401
@MrErr If we can keep the containers, that is fine, I am just concerned about changing the cgroups from under the container and expecting it to still work.  But @mheon might be correct about the change from runc to crun.

[2020-11-18 23:37] mheon commented on #8401
That container's still on `runc`. I'm feeling like this could be a runc + cgroups v2 bug given the relative immaturity of the support there.

[2020-11-18 23:54] MrErr commented on #8401
I switched back to cgroups v1 and all containers seem to be working fine.

What should be the method to switch to cgroups v2?

[2020-11-19 00:07] TrevorBenson opened #8407 "Cannot start a container imported from a newer version of podman.ssh"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

An image created and saved on podman 2.1.1 (from Fedora 33) that is imported into podman 1.6.4 (to CentOS 8.2.2004) is failing to run. The error is:
`Error: container_linux.go:349: starting container process caused "exec: \"/bin/sh\": stat /bin/sh: no such file or directory": OCI runtime comm

[2020-11-19 01:04] zhangguanzhang commented on #8385
The code I submitted is only to fix the display problem. After joining the network, the mac setting fails. I debugged it and did not find the problem.

[2020-11-19 01:21] mheon commented on #8401
We added a `--runtime` flag to `podman system migrate` to force all containers to switch to a new OCI runtime - so, with all containers stopped on a fresh boot in v2 mode, run `podman system migrate --runtime crun` and then start the containers. They should be migrated to the crun runtime and work as expected.

[2020-11-19 01:24] mheon commented on #8385
OK - thanks for the update.

[2020-11-19 03:24] gzm55 commented on #8384
@rhatdan since keyctl is not merged in the upstream, and RHEL7 is still widely deployed, so native nested podman container still needs the option describe in this issue. can we re-open this issue and consider again?

[2020-11-19 05:31] aidan-plenert-macdonald commented on #8309
I was able to fully reproduce the error on Fedora 33 using podman from the repos (ie. not built from source).

[code]

Had to reboot because my wifi became non-functional, but podman still worked after this.

Lesson learned, don't try developing docker competitors with docker installed. Docker will fight back

[2020-11-19 05:31] #8309 closed

[2020-11-19 05:41] Edward5hen commented on #8388
If I run `podman system service --time 0 tcp:127.0.0.1:8080` in another terminal, but not run it background in the same terminal with `&`, I can have the expected result.

[2020-11-19 07:00] zhangguanzhang commented on #8388
[code]

[2020-11-19 08:10] Saroufim commented on #8396
Yes it works swimmingly well with sudo. Now how do I make it work with rootless? I've already added
[code]
to `/etc/systemd/system/user@1000.service.d/delegate.conf`
and
[code]
with `systemctl edit user@1000.service`
Why isn't that enough?

[2020-11-19 08:17] mtrmac commented on #7963
Yes, VFS amplifies the disk space requirements significantly.

[2020-11-19 08:24] mtrmac commented on #7963
A few issues to look into here:
- If the storage (driver?) fails because it is out of space, it would be nice to report that as out of space and not ENOENT.
- From a quick skim, the retry code seems to retry on any `syscall.Errno` that is not ECONNREFUSED; that should probably be more specific (or maybe even default to not retrying and only retry on specific known errors (and wouldn’t ECONNREFUSED

[2020-11-19 09:52] vrothberg commented on #8397
#8290 may be related but it doesn't add up yet.

@giuseppe WDYT?

[2020-11-19 10:40] Luap99 commented on #8399
Question @mheon @baude, If I specify several networks shouldn't I have several interfaces in the container? Because right now (tested with master) I only have one (the latest). This happens both as rootless and rootful. That would also explain the dns issue since you can only resolve dns entries in your own network, right?

[2020-11-19 10:41] Luap99 commented on #8399
[code]

[2020-11-19 12:02] Luap99 commented on #8399
OK, so there two issues here.
First you are using the wrong syntax to join 2 networks. The correct one would be: `--network foo-a,foo-b`. However I find this unintuitive and opened a PR #8410 to also allow you syntax.

Second the dns is still not working for both names besides joining both networks.
[code]
So both dns servers are working but the container will only contact the first one. @baude @m

[2020-11-19 12:19] simonkrenger commented on #8399
@Luap99 Thanks for the hint regarding the syntax, that makes sense and I'll use that instead.

Good to see that with the correct syntax the entries in `/etc/resolv.conf` are populated correctly. I believe what we see is the expected behaviour, as `NXDOMAIN` is considered a definitive answer and a client will not try the second nameserver in this case.

So then I am not sure if being able to resolv

[2020-11-19 12:35] Edward5hen commented on #8388
Here is what I got in the log file:
[code]

[2020-11-19 13:07] rupert160 opened #8411 "aarch64 (Raspberry pi) fails to install podman container to network, error: rootless-podman-network-sandbox"
Can somebody explain why podman networking fails to connect my container to the virtual network?
Fedora 33 aarch64, the following works fine:
[code]
However creating a container within a pod does not work:
[code]

ERRO[0000] error starting some container dependencies
ERRO[0000] "cannot find rootless-podman-network-sandbox image for arm"
Error: error starting some containers: internal libpod error

[2020-11-19 13:58] jmccormick2001 opened #8412 "seeing different manifest versions for an image built on centos 8 and fedora 33"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

/kind bug

**Description**

I'm seeing podman use different manifest types when I build on Fedora 33 versus Centos 8:

On Fedora I get the folllowing when I run 'podman inspect':
"ManifestType": "application/vnd.docker.distribution.manifest.v2+json",
"io.buildah.version":

[2020-11-19 14:22] mheon commented on #8399
This may be a design limitation based on the architecture of the current dnsname plugin, but we need @baude to comment to be certain.

[2020-11-19 14:22] mheon commented on #8399
Did not mean to close, sorry

[2020-11-19 14:30] mheon commented on #8411
I'm pretty sure we're maintaining this one ourselves in Quay - @AkihiroSuda correct?
@TomSweeneyRedHat Do you know what architectures Quay builds us for by default?

[2020-11-19 14:30] rhatdan commented on #8384
We would need an option to disable the

[2020-11-19 14:30] rhatdan commented on #8384
https://github.com/containers/common/pull/354

[2020-11-19 14:33] baude commented on #8399
does this fail for rootless and rootful?

[2020-11-19 14:34] baude commented on #8399
as for design, I dont think this is a limitation but i would need to poke at this further.  It seems reasonable that this should work.  @Luap99 i see you have put this in progress which indicates you are working on it.  ping me if you have any questions ... im happy to help.