[2021-07-19 14:23] cevich commented on #10817
Tried again after fully updating, including `kernel-5.12.15-200`, `selinux-policy-3.14.6-39`, [`container-selinux-2.163.0-2.fc33`](https://bodhi.fedoraproject.org/updates/FEDORA-2021-862d1936a6), `podman-3.1.2-2`, and `crun-0.19.1-3`.  Using a brand-new fresh local user account:

[code]

[2021-07-19 14:54] mheon commented on #8477
I believe `ManifestType` in `podman inspect` is what you're looking for. `application/vnd.docker.distribution.manifest.v2+json` for DockerV2, `application/vnd.oci.image.manifest.v1+json` for OCIv1

[2021-07-19 16:00] rhatdan commented on #8136
I prefer a ociwine for this.  Which is just crun linked against libwine.
The bigger problem is the file system issue.  Basically Podman or other tools would need a way to have a Windows storage directory which is setup on a different mount point.  The windows storage would require the file system to ignore case differences, so that the Wine APPS within the container would work correctly.

[2021-07-19 16:11] rhatdan commented on #10946
So this is a rootless versus rootfull issue.  The recursive bind mount is working in rootfull mode, but not in rootless.  Could be the OCI Runtime doing something different.

[2021-07-19 16:14] rhatdan commented on #5722
SGTM

[2021-07-19 16:20] snail59 commented on #10946
Again, the oci runtime is the same one in both cases ( podman and docker).
That is weird, isn't it ?

[2021-07-19 17:07] rhatdan commented on #7370
@infiniteregrets @vrothberg Did this ever move forward?

[2021-07-19 17:13] infiniteregrets commented on #7370
I did move it forward, but I couldnt figure out how to rename a file which does not exist in the destination when copied, so @vrothberg will take over. sorry ):

[2021-07-19 17:46] daiaji commented on #10978
Thanks, when I used the `rm -a` command to delete all the containers, the problem seemed to be resolved.

[2021-07-19 17:55] jwhonce commented on #10974
@asottile We utilize the go text/tabwriter which is converting your given tab to a column separator and padding the cells with spaces. The go given solution is:

podman history $'--format={{.ID}}\xff\t\xff{{.Created}}' someimage

`od -c` will show you the 377 characters output bracketing the tab. I hope that does not break your solution.

[2021-07-19 18:02] asottile commented on #10974
@jwhonce my problem is the output is different than docker so I can't currently get a working solution that works in both

[2021-07-19 18:02] rhatdan commented on #10969
This seems like the :z is a red herring.  The volatile support is most likely the real issue.

if you do
[code]
Does it work.

[2021-07-19 18:02] mheon commented on #10946
Is Docker running as root? If your user is added to the Docker group and you're accessing the root Docker daemon, that could very well be our difference.

[2021-07-19 18:12] pascapascapascapasca commented on #10969
It seems to work indeed.

[code]

What does that indicate? I am not familiar with volatile mounts. Is there anything in my config that specifies volatile mounts?

[2021-07-19 18:14] mheon commented on #10974
@jwhonce If we were to change to match Docker, would that be a breaking change - is anyone relying on tab as a separator?

[2021-07-19 18:57] lzmihoubi commented on #10971
I confirmed and it doesn't work even with a regular  podman stop / podman
start.

On Sun, Jul 18, 2021 at 7:34 PM Matthew Heon ***@***.***>
wrote:

[2021-07-19 20:02] snail59 commented on #10946
Yes, my user is in the docker group, so I agree with you that this could be the difference.
My point is, s I said before,my wish is, as a user, to understand what I "did wrong".
From a developer point of view this might be obvious, but to be honest I do not think so as this did not come to your minds instantly.
Be assured that my point is not to criticize, english is not my language so it is not e

[2021-07-19 20:25] edsantiago commented on #10154
Oh, this is really bad. We're now seeing this flake in regular CI ([sys remote ubuntu-2104 root host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4665540334583808/html/sys-remote-ubuntu-2104-root-host.log.html)).

[2021-07-19 20:56] edsantiago commented on #10154
...and, looking back through flake logs, [another one](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5323542813212672/html/sys-remote-ubuntu-2104-root-host.log.html) also in ubuntu-2104 root.

[2021-07-19 21:56] hoshsadiq opened #10986 "rootless docker-compose "error opening rootless-cni.lck""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to run the below docker-compose.yml (actual one is a bit more complex but this reproduces it), but I get multiple errors, and often also this error. Podman service subsequently crashes and must be restarted to respond to API calls.

I've attached `docker-compose.yml` and related fi

[2021-07-19 22:37] vikas-goel commented on #10264
/reopen

[2021-07-19 22:37] vikas-goel commented on #10264
Verified on the main branch build. There storage-opt size=5G is not honored.

[2021-07-20 02:08] zhangguanzhang commented on #8928
ref: https://github.com/containers/podman/pull/10956 had done for this
/close

[2021-07-20 02:08] #8928 closed

[2021-07-20 07:01] hoshsadiq commented on #10986
Just realised I didn't include the archive.

[testing.tar.gz](https://github.com/containers/podman/files/6846128/testing.tar.gz)

[2021-07-20 07:07] vrothberg commented on #7370
I plan to tackle it this week :+1:

[2021-07-20 07:33] ppenguin opened #10987 "new error (used to work before) on podman run invocation: Cannot get exit code: failed to get journal cursor: failed to get cursor: cannot assign requested address"
**Description**

Recently I've been getting the following error on a CI that used to run without problems.
The CI runner is on bare metal (Manjaro) Linux, and may have been updated in the meantime, but I can't be sure this error is related to an update of my `podman` version (currently: 3.2.2).

[code]

when executing ("call-graph-like" representation):

I figured it might be caused in some way by

[2021-07-20 07:36] vrothberg commented on #10987
Thanks for reaching out.  Can you try with the latest Podman v3.2.**3**?  There was a regression that has been fixed with .3.

[2021-07-20 07:44] Luap99 commented on #10986
Thanks for the detailed report @hoshsadiq. I think this is a duplicate of https://github.com/containers/podman/issues/10922 which is fixed in podman v3.2.3.

[2021-07-20 07:44] #10986 closed

[2021-07-20 07:46] hoshsadiq commented on #10986
Aah! Pardon me. I did look but clearly missed it somehow. Thanks

[2021-07-20 07:54] clemens-zauchner opened #10988 "Cannot resolve DNS with allow_host_loopback=true on container level"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to give one container in a deployment the option to reach the host loopback IP. However, doing that on a container level will break the way other containers can be reached. However, when I add the allow_host_loopback option to a container within the pod, suddenly the host cannot b

[2021-07-20 07:54] ppenguin commented on #10987
Thanks, I just found https://github.com/containers/podman/issues/10863 after cloning the repo and seeing the RELEASE_NOTES... Must be it, sorry for the duplicate.

[2021-07-20 08:02] Luap99 commented on #10988
This is expected. When you use a pod all containers share the network namespace and can communicate via the loopback interface. When you add `--net slirp4netns` to a container it will overwrite the default pod network namespace and create a new network namespace with slirp4netns for this container. Therefore it can no longer access the other containers via 127.0.0.1.

[2021-07-20 08:02] #10988 closed

[2021-07-20 08:16] chenk008 opened #10989 "cgroupfs mount different between crun and runc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `crun`  container's cgroupfs has sub directory `libpod_parent`, this container cgroupfs config is in `libpod_parent/libpod-xxxxx/`.

The `runc`  container's cgroupfs is individual without `libpod_parent/libpod-xxxxx/`.

**Steps to reproduce the issue:**

1. with  runc:
podman run  -it  --

[2021-07-20 08:18] ppenguin commented on #10987
I appear to have spoken too soon. I quickly removed the Manjaro package and installed via `nix` version 3.1.2 (which happened to be the current version before updating my channels). Version `3.1.2` worked without issue.
Then I installed `3.2.3` via (nix unstable channel) and it gives me the same error as `3.2.2`.

[code]

[code]

[2021-07-20 08:40] chenk008 commented on #8764
Same issue here (Ubuntu 20.10):

I have installed the latest release version `runc`.

[code]

[2021-07-20 08:40] chenk008 commented on #8764
/reopen

[2021-07-20 09:04] clemens-zauchner commented on #10988
Thank you very much for you answer. I think it would be good to add that to the documentation, because this did not seem obvious to me.

[2021-07-20 09:11] Luap99 commented on #10988
From https://github.com/containers/podman/blob/main/docs/source/markdown/podman-create.1.md#--networkmode---net

Is this unclear or should it be documented at another place as well? I am open to suggestions on how we can make this clearer.

[2021-07-20 09:26] #10977 closed

[2021-07-20 09:36] rhatdan commented on #10969
No they happen under the covers.  They are only supposed to be used if the kernel supports them though, and the OS containers/storage should have checked during the initialization phase.  @giuseppe WDYT?

[2021-07-20 09:39] rhatdan commented on #10969
When I play your kube.yaml it works fine.

[code]

[2021-07-20 09:42] vrothberg commented on #10989
@giuseppe PTAL

[2021-07-20 09:43] rhatdan commented on #10969
Ok there is still a bug, we created the etcd:z/ inside of the container and never fixed the label.

[2021-07-20 09:44] nitkon commented on #10593
Yes, I see this issue a well when Podman socket and services for multiple rootless Podman users is run for a long time(>24hrs).

[2021-07-20 09:47] vrothberg commented on #10799
I'll take a look

[2021-07-20 13:29] cdoern commented on #10987
@vrothberg could this be due to my changes fixing #10868? I added some stuff for regular podman logs as well. I am actually working on a full implementation of the `--until` flag now

[2021-07-20 13:33] pascapascapascapasca commented on #10969
@rhatdan the `play kube` works for me too. The error happens when trying to use the mounted volume.

[code]

If I remove the `:z` and re-create the pod, the start command works, but it won't work on a new system since the SELinux labels won't be changed.

Could you try that too?

[2021-07-20 13:34] vrothberg commented on #10987
The commit from this PR wasn't backported to the v3.2 branch, so I don't think these changes are the problem.

@rhatdan, did we backport your systemd-detection fixes in c/common to the 0.38 branch?

[2021-07-20 13:49] dvzrv commented on #10972
@mheon excellent! Thanks for looking into this before your holidays! <3

[2021-07-20 14:04] babykart commented on #10854
@vrothberg I tried 3.2.3 but it isn't fix the problem.
Now I don't have error message but the result image is empty:

3.2.3:

[code]

[code]

3.1.2:

[code]

[code]

It appears to be relative to the size of the archive because if I try a smaller archive, it works perfectly with 3.2.X

[2021-07-20 14:09] vrothberg commented on #10854
Thanks for checking, @babykart.  Would you open a new issue for that?  Seems like there's more behind.

[2021-07-20 14:15] rhatdan commented on #10946
I have a feeling this is a use namespace issue.  I wish we had a reproducer for this.  I tried to duplicate using bind mounts and it worked fine.

[2021-07-20 14:16] rhatdan commented on #10946
@giuseppe any ideas?

[2021-07-20 14:16] mheon commented on #10971
Interesting. @vrothberg The stop/start bit ought to work, right?

Can you provide a `podman inspect` of a container exhibiting symptoms, so we can determine the log driver in use? Doesn't look like the defaults for that are in `podman info`.

[2021-07-20 14:18] ppenguin commented on #10987
@cdoern Additionally, I tried with Manaro's `podman-git` package which installs `3.3.0-dev`.
Eventually all versions I tried exhibited the same behaviour.

[2021-07-20 14:22] rhatdan commented on #10264
Is it failing or not?  IE You are just able to build an image larger then 5G

[2021-07-20 14:29] vrothberg commented on #10971
`podman logs` never displayed that a container is not running.  Can you elaborate on "exit correctly"?  The exit code is 0 in the reproducer.

What I see locally _after_ stop/start is:
[code]
That is what I would expect: Podman is displaying all logs of the container but does not clear the logs during restart.

I do think it still works but we need to agree on what the correct behavior is.

[code]

[2021-07-20 14:43] babykart opened #10994 "podman-3.2.3 import result image is empty"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman-3.2.3 import result image is empty

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

3.

**Describe the results you received:**

[code]

[code]

**Describe the results you expected:**

[code]

[code]

**Additional information you deem important (e.g. issue happens only occasion

[2021-07-20 14:44] babykart commented on #10854
#10994

[2021-07-20 14:45] vrothberg commented on #10994
Thanks, @babykart!  I will take a look at this.

[2021-07-20 15:20] vikas-goel commented on #10264
With `podman run --storage-opt size=5G` command, the `dd` command inside the container kept increasing the file size until I manually cancelled the operation. At that point, the file size was already 70GB.

The `podman inspect <container>` did not have any indication of the storage opt.

[2021-07-20 16:49] mheon commented on #10987
@vrothberg I recall seeing them in there when I was doing release notes, so they made it in.

@ppenguin Any chance you can get a `podman info` off the working version, 3.1.2? I want to see if any configuration changes happened between the releases, specifically to the event logger.

[2021-07-20 17:10] rhatdan commented on #10593
@jwhonce PTAL, Looks like we have a leak.

[2021-07-20 17:22] giuseppe commented on #10946
Does the mount exist from the `podman unshare` environment?

It could be that the mountwas created after the unprivileged user+mount namespace and its parent has the propagation set to private.

It could be helpful to show the output of `podman unshare findmnt -o PROPAGATION,TARGET /`

[2021-07-20 17:25] tetchel opened #10998 "Image name different between podman versions after pulling from docker-daemon:// location"
Podman version: 3.2.2

Previously, when pulling an image from the Docker image storage, the image in Podman would then be prefixed with `docker.io/library`.

eg.
`podman pull docker-daemon:myimage`
->
`podman images` has `docker.io/library/myimage`

But now, the image is prefixed with `localhost`.

eg.
`podman pull docker-daemon:myimage`
->
`podman images` has `locahost/myimage`

This is a good ch

[2021-07-20 17:33] rhatdan commented on #10969
Could you try with the patch in  #10992, I also found a bug.

[2021-07-20 17:34] snail59 commented on #10946
[code]

[code]

[2021-07-20 17:49] rhatdan commented on #10971
That seems correct to me.

[2021-07-20 17:49] tetchel commented on #10998
possibly https://github.com/containers/common/commit/f109e1a662ade4b46618bbc68fc3dca85a436358 which went into common/0.38.5 which would mean podman/3.2.0

[2021-07-20 17:57] rhatdan commented on #10264
Try:

podman --storage-opt size=5G run ...

I tried both and only in the option before the run did the command work.

[2021-07-20 18:08] edsantiago commented on #10442
Seen just now, again in [sys podman ubuntu-2104 rootless](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4623331342155776/html/sys-podman-ubuntu-2104-rootless-host.log.html)

[2021-07-20 18:19] vikas-goel commented on #10264
That works when running manually using podman command. However, it doesn't work with docker-compose.

[2021-07-20 18:26] rhatdan commented on #10264
Ok that is a separate issue.

[2021-07-20 18:31] vikas-goel commented on #10264
I will update the title of this request accordingly.

[2021-07-20 18:31] rhatdan commented on #10264
Open another Issue.  Lets fix this issue first.

[2021-07-20 18:32] vikas-goel commented on #10264
The original reported issue  "run --storage-opt size 5g" remains the unsolved.

[2021-07-20 18:33] pascapascapascapasca commented on #10969
Works with this patch! Thanks!

[2021-07-20 19:12] rhatdan commented on #10264
@vikas-goel If you move the --storage-opt before the run, does your test work?

[2021-07-20 19:15] edsantiago opened #11000 "podman build: error unmounting .*: error retrieving list of mounts: read /proc/self/mountinfo: bad file descriptor"
Seen in one of the multiarch team beaker jobs (RHEL):
[code]
This is podman info:
[code]
No reproducer, sorry. The strings 'error unmounting' and '/mountinfo: bad file' do not appear in my CI flake logs (this is not a guarantee that this error has not triggered in CI, merely that my flake catcher has not logged it).

Filing because it has a stack trace that may help someone diagnose and fix.

[2021-07-20 19:33] vikas-goel commented on #10264
Yes, it works when moved before.

[2021-07-20 19:33] mheon commented on #8764
Please open a new issue, as this one is over a year old.

[2021-07-20 19:47] rhatdan commented on #10264
Ok, I am working on remote now.

[2021-07-20 21:10] giuseppe commented on #10946
sorry my mistake, I forgot the `-R` argument to findmnt.

So it seems the `/media/lineageos/lo-18.1` mount is not available in the unprivileged mount namespace.

Can you try running `podman system migrate` to recreate the user+mount namespace (it stops all running containers), and repeat again the findmnt command?  Does the mount exist now?

[2021-07-20 22:24] snail59 commented on #10946
I appeared thanks to the migrate command.
And then, my container ran successfully !
Thank you.

Could you please explain what this command did exactly ?
You wrote that it would **re**create the namespace which implies that it should have been created in first instance. But I did not do anything to create it from the beginning and would like to know/understand what I missed or failed.

[2021-07-20 23:39] vikas-goel opened #11001 "podman checkpoint fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman checkpoint operation fails

**Steps to reproduce the issue:**

1. Start a podman container
2. Run `podman container checkpoint  --leave-running --tcp-established tme-mas-01`

**Describe the results you received:**
[code]
[dump.log](https://github.com/containers/podman/files/6851752/dum

[2021-07-21 07:35] ppenguin commented on #10987
@mheon That's the crazy part: actually I found that there's no obvious difference in this behaviour between the versions `3.1.2`, `3.2.3`, `master` (the latter presumed from Manjaro `podman-git`), see my additional remark:

It has just gotten weirder: if I login to the gitlab runner and execute the failing make command manually multiple times, it sometimes works and sometimes doesn't (then it give

[2021-07-21 07:54] chenk008 commented on #10989
I think this is reason why crun has different cgroupfs.
[code]

@giuseppe  I am wondering why set it to host on cgroups v1?

[2021-07-21 08:09] hoshsadiq opened #11004 "docker-compose: port inaccessibls when using depends on"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Use compose file below:
[code]
   $ podman port -a
   a2732e426084    8081/tcp -> 127.0.0.1:8063
   e7d59257adb2    6379/tcp -> 127.0.0.1:6379
[code]
$ podman port -a
a2732e426084    8081/tcp -> 127.0.0.1:8063
e7d59257adb2    6379/tcp -> 127.0.0.1:6379
$

[2021-07-21 09:10] lukash commented on #10321
Thank you @rhatdan. It seems we have stopped seeing the errors in the meantime (the history is lost when we re-run a GitHub Actions job so I can't find exactly when). If it starts happening again I'll try to bring over the configuration described in the blog post to see what helps.

[2021-07-21 09:23] chenk008 opened #11005 "error adding seccomp filter rule for syscall bdflush: permission denied: OCI permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Failed to start container with runc.

**Steps to reproduce the issue:**

I have installed the latest release version runc.

podman run --runtime /usr/sbin/runc --cgroup-manager=cgroupfs --network=host --pid=host --ipc=host centos:8 ls -al /sys/fs/cgroup/memory/

**Describe the results you rec

[2021-07-21 09:52] #10262 closed

[2021-07-21 10:11] #10264 closed

[2021-07-21 10:28] rhatdan commented on #10998
@vrothberg PTAL.

I believe the behavior should end up with an image named.

docker.io/library/myimage

Since this is what it is named in docker.io.

localhost/myimage indicates the image was created locally and does not have a default registry.  podman build images have this name.

[2021-07-21 11:06] vrothberg commented on #10998
Thanks for reaching out!  I'll take a look.

[2021-07-21 11:22] PavelSosin-320 commented on #10575
@mheon I tried systemd-run podman system service -t 0 and it gives me some improvement: it creates CG under rootless user service CG : run-r795fc18f8c5a494ba5f86417fb3a7a16.service and yet 2 podman server processes under this CG. But, at least, when I stopped this unit using systemctl --user stop run-r795fc18f8c5a494ba5f86417fb3a7a16.service both processes disappeared without  leaving zombie. Does

[2021-07-21 11:49] vrothberg commented on #10998
I opened https://github.com/containers/common/pull/685 to fix it.

[2021-07-21 12:48] rhatdan commented on #10946
The first time you run rootless Podman after boot, it creates a user/mount namespace and keeps the Podman executable running in the background.  This reserves the namespace and future executions of Podman just join the existing namespace.  The reason we do this is to prevent race conditions, where one podman is remove the user namespace at the same time as one is creating it.
Since the user namesp

[2021-07-21 12:49] #10946 closed

[2021-07-21 12:49] rhatdan commented on #10946
This seems like a useful blog.

[2021-07-21 13:06] Luap99 commented on #11004
I take a look, are you running rootless or rootful?

[2021-07-21 13:08] hoshsadiq commented on #11004
I was running rootless.

[2021-07-21 13:21] edsantiago commented on #10386
Some more:

* ubuntu-2010 : int podman ubuntu-2010 rootless host
  * PR #10999
    * [07-20 17:25](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4753710577352704/html/int-podman-ubuntu-2010-rootless-host.log.html#t--podman-run-container-with-systemd-PID1--1)
    * [07-20 17:25](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts

[2021-07-21 13:27] edsantiago commented on #7096
Another one. This still is not fixed:

* fedora-33 : int podman fedora-33 root host
  * PR #10970
    * [07-20 12:27](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5111577587220480/html/int-podman-fedora-33-root-host.log.html#t--Podman-run-two-containers-with-the-same-IP--1)
    * [07-20 12:27](https://storage.googleapis.com/cirrus-ci-6707778565701632

[2021-07-21 13:27] snail59 commented on #10946
Ok, thank you for the clear information.
Have a nice day, podman people ;-)

[2021-07-21 13:49] giuseppe commented on #10946
One thing to investigate is why the new mount was not propagated. Why is it mounted as MS_PRIVATE?

There wouldn't be such issue if the mount was using MS_SHARED or MS_SLAVE

[2021-07-21 14:23] sidkshatriya commented on #3761
I am facing a similar issue with incorrect digests. On my fedora workstation fc34, digests listed via `podman images --digests` do **not** match up with the digests shown on hub.docker.com . However when I inspect the image explicitly (using `podman inspect`) then I get 2 `RepoDigests` in the json: one of the digests _is_ the one that is shown on hub.docker.com and the other one is the digest that

[2021-07-21 15:03] rhatdan commented on #11001
@adrianreber PTAL

[2021-07-21 15:08] adrianreber commented on #11001
@vikas-goel Can you upload the dump.log file mentioned in the error message?

[2021-07-21 15:13] vikas-goel commented on #11001
Already attached in the result section.

[2021-07-21 15:18] adrianreber commented on #11001
Ah, haven't seen it. Thanks. So CRIU says:
[code]
Never seen that one before. How did you create the container? I would be interested to be able to reproduce this.

[2021-07-21 15:28] mheon commented on #10987
Is your desktop user in `wheel` (or whatever group gives you sudo access)? Journald has different access restrictions for users in wheel vs not in wheel.

[2021-07-21 15:29] mheon commented on #10987
You may have to hardcode the use of the `file` events driver in `containers.conf` for the gitlab-runner user.

[2021-07-21 15:39] vikas-goel commented on #11001
The container was created using docker.

[2021-07-21 15:51] adrianreber commented on #11001
I meant how did you start the container. Can you share the `podman run` command line?

[2021-07-21 15:51] adrianreber commented on #11001
And maybe also the Dockerfile?

[2021-07-21 15:53] vikas-goel commented on #10264
Thank you @rhatdan for making the change. I built the podman binary from main branch and verified that it works when the `storage-opt size` is passed after `podman run`.

The docker-compose still doesn't work. Do I need to replace some other binary/library or does that require a separate fix?

[2021-07-21 15:56] jwhonce commented on #10974
@mheon Correct, we are using text/tabwriter's for the formatted output in all of our commands.

[2021-07-21 15:58] jwhonce commented on #10974
@asottile Is something like `podman history $'--format={{.ID}}: {{.Created}}' someimage` a solution for you to use with docker and podman?

[2021-07-21 15:59] lsm5 commented on #9866
Just checked with the team and the consensus is that this feature should live inside skopeo along with a docs/manpage update in podman pointing users to skopeo. Correct me if I'm wrong. I can send a PR for it.

[2021-07-21 16:05] adrianreber commented on #11001
Ah, I think I was able to reproduce it:
[code]
Did you use `--tz`?

Looking at the timezone mount I see in the container:
[code]

But I do not see that mount mentioned in the config.json of the container. For CRIU to be able to checkpoint external mounts they need to be listed in config.json. I see, however, following line in config.json:
[code]
@rhatdan do you have insights how timezone mounts wo

[2021-07-21 16:14] Luap99 commented on #10926
Upstream PR https://github.com/containernetworking/cni/pull/850 to fix this is merged. When they release CNI v1.0.0 we can vendor this in (hopefully soon).

[2021-07-21 16:34] rhatdan commented on #10969
Could you add a LGTM with that comment to the PR, so I can merge.

[2021-07-21 16:41] rhatdan commented on #11005
Does this work with crun?  Could you make sure you have the latest runc 1.0.1?

[2021-07-21 16:42] #10969 closed

[2021-07-21 16:45] vikas-goel commented on #11001
I started the container using docker-compose. I suspect docker-compose is playing a role there as I didn't specify timezone info in the compose file. However, I do see the file mounted inside the container, as you mentioned.
`/dev/mapper/rhel_flex--vm--02-root on /usr/share/zoneinfo/UTC type xfs (ro,relatime,seclabel,attr2,inode64,logbufs=8,logbsize=32k,noquota)`

Attaching the `podman inspect` lo

[2021-07-21 17:01] mheon commented on #10575
That seems like the desired behavior, yes. Would still like to know why we're leaving a zombie in the non-systemd case, but for the typical systemd-managed case things work as expected.

[2021-07-21 17:15] rhatdan commented on #10946
@giuseppe interested in writing a blog on this when you get back from PTO?

[2021-07-21 17:16] Luap99 commented on #10052
OK, I found the root cause for the rootless issue. Reproducer:
[code]
docker-compose always runs network disconnect && network connect on the container. I think the race happens between the rootlesskit port setup and docker-compose calling network connect/disconnect at the same time. When rootlesskit was initialized before network connect is finished, port forwarding will be broken.

Rootlesskit p

[2021-07-21 17:16] edsantiago opened #11010 "podman build + workdir(?): Error adding network: failed to setup hairpin mode for veth3e067d53: operation not supported"
This *seems* to be correlated with `podman run` of an image built with `workdir`. (It is not for me to understand why):
[code]
Note the "error adding pod" message, despite no pods anywhere. Note also that "veth" appears in another buildah flake, https://github.com/containers/buildah/issues/2628, although there it's "failed to make veth pair".

### Podman network connect and disconnect [It] podman

[2021-07-21 17:18] #10799 closed

[2021-07-21 17:22] asottile commented on #10974
that produces the same output between podman and docker but I don't see how it's relevant as it does not include a tab character

[2021-07-21 17:25] Luap99 commented on #11004
Thanks for the issue @hoshsadiq.
I finally figured out what is going on in https://github.com/containers/podman/issues/10052. This is basically the same problem.
I am not sure if there is a short term fix but for now you could use static ips, e.g:
[code]

[2021-07-21 17:38] hoshsadiq commented on #11004
Thanks for the info, I'll use static IPs for now! Since this is already being tracked I'll close this one.

[2021-07-21 17:38] #11004 closed

[2021-07-21 18:14] mattymo opened #11012 "container build via TCP gives error Content-Type: application/json is not supported."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to build using docker-maven-plugin pointing at podman running in service mode listening on a TCP port.  It fails with a content type error. I thought this was already fixed based on the age of the comments in this other issue: https://github.com/fabric8io/docker-maven-plugin/issue

[2021-07-21 18:22] rhatdan commented on #10264
No I need to continue working on it.  It is a complex fix.  Will need to modify containers/storage as well.

[2021-07-21 18:23] rhatdan commented on #9866
Yes lets just document that skopeo has this feature in the podman image rm man page.

[2021-07-21 18:33] rhatdan commented on #11010
Coincidence, I just read the following:
https://github.com/containers/podman/issues/10052#issuecomment-884355182

@Luap99 Could this be related.

[2021-07-21 18:35] edsantiago commented on #11010
The #10052 issue is rootless, whereas this issue (so far) I've only seen in root.

[2021-07-21 20:26] mheon commented on #11012
@jwhonce PTAL, especially at the linked Maven plugin issue - it's saying that we don't send Version headers on all requests. I thought I remember us fixing that - but it seems like this is still happening on the latest code?

[2021-07-21 20:43] vikas-goel opened #11014 "podman run fails to start container when SELinux security label is specified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When a container is started using `podman run --security-opt "label=level:s0:110"` option, the container fails to start.

When the same option is specified in Docker compose file and is started using `docker-compose` command, the container starts properly with correct SELinux label.
[code]

*

[2021-07-21 20:54] ppenguin commented on #10987
That would be doable I guess (could you give me a hint what that would look like or where to find documentation on that?). (BTW: can a user have an own `~/.local/share/containers/containers.conf` or should the user somehow be referred to in the global conf?)

I tried adding `gitlab-runner` to `wheel` with no effect, but I can't be sure yet because long running tests are now executing under that us

[2021-07-21 21:08] hoshsadiq commented on #10994
Got the same issue. Both for rootless and rootfull.

[2021-07-21 22:37] vikas-goel opened #11016 "podman container ignores `storage-opt size=` when managed using docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When a podman container is started using Docker Compose that has storage opt size=2G specified, podman ignores the option during container creation. As a result, the size limit is not honored inside the container root file-system. The `podman inspect` on the container does not show any referen

[2021-07-21 22:48] vikas-goel commented on #10264
I've created https://github.com/containers/podman/issues/11016 to track the Docker Compose issue

[2021-07-21 23:42] vikas-goel commented on #11014
Closing this issue as the MCS label had the missing 'c'. With correct usage `podman run --security-opt "label=level:s0:c110" --name mycont <container-image>`, it works.

[2021-07-21 23:42] #11014 closed

[2021-07-22 00:18] KCSesh commented on #10917
Okay this makes sense.

I think I just wanted that confirmation that this is expected.

[2021-07-22 00:37] KCSesh opened #11017 "Grouping unmapped users for permission restrictions on host when using uidmap and gidmap."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
I am attempting to create a container using the --rootfs option with unprivileged users.
I am also using the `uidmap` and `gidmap` runtime options to make sure the container is running as unprivileged.
For example:

[code]

I am working on giving the container DISK access and want to restr

[2021-07-22 01:09] edsantiago commented on #10701
I can still reproduce this on my laptop, which has been rebooted since the last time I checked in here.
[code]

[2021-07-22 04:03] Kiritow commented on #9534
Try download the `podman-docker` deb package and install it manually.

[code]

*Tested on Ubuntu Server 20.04.2 LTS*

[2021-07-22 05:54] chenk008 commented on #11005
@rhatdan It works with runc. And I have downloaded the latest runc 1.0.1 from https://github.com/opencontainers/runc/releases, I think it's the latest runc 1.0.1.

[2021-07-22 06:29] roberth commented on #10672
This is important for rootless docker-compose.

[2021-07-22 07:03] vrothberg commented on #10994
Interesting.  From reproducing locally, it seems that problem relates to when reading the archive from stdin.  Importing the file directly `podman import archive.tar` works.

[2021-07-22 07:21] hoshsadiq commented on #10994
That would make sense. The only times I've used it is by reading from stdin!

[2021-07-22 07:22] hoshsadiq commented on #10994
FWIW when using `docker import - image_name` pointed to `podman.socket` it imports it (although the image itself doesn't get tagged)

[2021-07-22 08:03] vrothberg commented on #10994
I opened https://github.com/containers/podman/pull/11018 to fix the issue.

[2021-07-22 08:21] unknowndev233 commented on #11005
Try https://github.com/containers/podman/issues/10885#issuecomment-878888785
If you are using Arch/Manjaro

[2021-07-22 09:22] rhatdan commented on #11005
@giuseppe @AkihiroSuda Any idea what is going on?  Is this a problem with an older libseccomp?

[2021-07-22 09:26] rhatdan commented on #10987
cp /usr/share/containers/containers.conf /etc/containers/containers.conf
or
cp /usr/share/containers/containers.conf $HOME/.config/containers/containers.conf

$ grep events /usr/share/containers/containers.conf
# Selects which logging mechanism to use for container engine events.
# events_logger = "journald"

Uncomment the events_logger line and change it to "file".

man containers.conf

[2021-07-22 09:29] jonasbartho commented on #3234
@rhatdan, I am experiencing the same on fedora 33(kernel 5.13.4) running **rootless** podman v3.1.2 in combination with container-selinux-2.160.2-1.fc33.noarch.

I also get the following when trying to build with  **rootless** podman:
`Error relocating /lib/ld-musl-x86_64.so.1: RELRO protection failed: Permission denied`
`Error relocating /bin/sh: RELRO protection failed: Permission denied`

Are w

[2021-07-22 09:36] Luap99 commented on #11010
I don't think this is a podman issue. The bridge cni plugin tries to set the hairpin mode on the veth interface and this fails. It only failed on f34, this could be a kernel problem.

[2021-07-22 09:40] Luap99 commented on #10672
Rootful podman has the same problem, this is not a rootless only issue.

[2021-07-22 09:45] giuseppe commented on #11005
A too old runc. runc 1.0 works fine

[2021-07-22 10:04] rhatdan commented on #3234
You should be able to get it via updates-testing, and it should  be available soon in release.

[2021-07-22 10:06] rhatdan commented on #3234
Looks like it will be pushed to stable in 5 days.

[2021-07-22 10:07] #11005 closed

[2021-07-22 10:11] jonasbartho commented on #3234
Super, thanks!

[2021-07-22 12:24] ananthb commented on #10478
I've just started working on this. Besides IPVLAN are there other network drivers I can add support for as well @mheon @Luap99?

[2021-07-22 12:38] unknowndev233 commented on #11005
I used https://github.com/opencontainers/runc/releases/download/v1.0.1/runc.amd64 but still have the same problem

[2021-07-22 12:46] unknowndev233 commented on #11005
@giuseppe Can you post the output of `runc --version`?

[2021-07-22 12:52] blindshare opened #11020 "Podman continuosly restarts every 5 sec"
/kind bug

**Description**
Podman continuosly restarts every 5 sec

When I went through my /var/log/syslog I noticed that podman restarts every (aprox) 5 seconds without any apparent reason.
It look like this:

Jul 22 14:12:15 v2202106122433155620 systemd[807]: podman.service: Succeeded.
Jul 22 14:12:15 v2202106122433155620 systemd[807]: Finished Podman API Service.
Jul 22 14:12:15 v22021061224331

[2021-07-22 13:19] rhatdan commented on #10737
@jwhonce Any thing new on this one?

[2021-07-22 13:20] rhatdan commented on #10297
@mheon @Luap99 what is going on with this one?

[2021-07-22 13:21] rhatdan commented on #9883
@Luap99 @mheon Any update on this one?

[2021-07-22 13:22] rhatdan commented on #6114
@Luap99 @mheon Does this require the network redesign?

[2021-07-22 13:22] rhatdan commented on #5403
@Luap99 @mheon Does this require the network redesign?

[2021-07-22 13:23] rhatdan commented on #10917
@mheon is this something we can fix, or should we close the issue?

[2021-07-22 13:26] rhatdan commented on #11017
Can you use SELinux to get what you want.  If you run the two containers and mount the volumes with :Z, then SELinux will protect the data from the users within the container.

[2021-07-22 13:27] rhatdan commented on #11017
From a DAC point of view. the only controls are based on group access. So you would need to map the users to a group.

[2021-07-22 14:07] dwhiteddsoft opened #11023 "weird error on image create from image"
I was programmatically trying to get to the API and had some problems. Then I simply tried to curl the unix socket and got the same error. This really confuses me and was wondering if I could get some help. Thanks in advance.
[code]

Podman info from CLI below:
[code]

[2021-07-22 14:09] mheon commented on #11023
@jwhonce PTAL - I bet this is the progress bars for pull. Is there a query option to disable those?

[2021-07-22 14:12] dwhiteddsoft commented on #11023
While I might agree with you, the command should keep running no? when I do a
[code]

some number of minutes later it does not appear :-(

[2021-07-22 14:13] mheon commented on #10917
I don't think this is fixable - Podman needs a certain level of privileges to do its job of creating containers, including full access to the container rootfs (whether it's an OCI image we've mounted or a user-created directory).

[2021-07-22 14:13] #10917 closed

[2021-07-22 14:14] mheon commented on #5403
Yes

[2021-07-22 14:14] mheon commented on #6114
Yes

[2021-07-22 14:17] mheon commented on #11023
Sounds like it's still pulling in the background, and holding the image lock while doing so. @vrothberg Concur?

This does mean that pull is not terminating on client disconnect, which is definitely a bug.

[2021-07-22 14:19] rhatdan commented on #11020
Podman without the -t 0 will shut down in 5 seconds if noone is connected to it, it then is supposed to sit idle until someone hits the socket, and the podman service gets socket activated.

[2021-07-22 14:19] dwhiteddsoft commented on #11023
FYI if I do it from the CLI, everything is fine. I look forward to @vrothberg comments

[2021-07-22 14:20] mheon commented on #10297
As described, this sounds like an issue with containers with user namespaces, which configure their networking in a different order than other containers (`PostConfigureNetNS` internally). However, to the best of my knowledge, this causes containers to create the network stack *later* than normal, which does not match what @basilgello is seeing.

[2021-07-22 14:20] mheon commented on #10297
As for a fix, I don't really know what we can do. We can't configure the netns any earlier for containers in a user namespace as we need to create the container in the runtime first, to create the user namespace itself, as the network namespace must be a child of the userns.

[2021-07-22 14:22] mheon commented on #11020
Yes - this is expected behavior. We shut down the service at idle to lower our resource consumption.

[2021-07-22 14:22] #11020 closed

[2021-07-22 14:28] mheon commented on #11005
If runc is new enough, it's possible libseccomp is not.

[2021-07-22 14:28] vrothberg commented on #11023
I cannot rule it out entirely.  The (debug) logs of the server side should reveal if that's the case.

[2021-07-22 14:31] dwhiteddsoft commented on #11023
How do I get these? Sorry, I am not a podman expert

[2021-07-22 14:33] vrothberg commented on #11023
@dwhiteddsoft, you could run `podman --log-level=info system service -t0` in a terminal.  That will start the server that listens on the socket.

If the image is continued being pulled, you would see the progress bars in this terminal.  FWIW, I cannot reproduce and have not yet seen this error.

[2021-07-22 14:37] blindshare commented on #11020
So the sollution would be to alter this line:
`ExecStart=/usr/bin/podman $LOGGING system service`
to
`ExecStart=/usr/bin/podman -t 0 $LOGGING system service`
in: /lib/systemd/system/podman.service ?

[2021-07-22 14:54] csomh opened #11024 "bash completion: image/container name is not completed when options are grouped"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Image/container names are not completed, or available options are not offered, when hitting TAB after `podman run|exec -it ` in a bash shell.

**Steps to reproduce the issue:**

1. `podman pull fedora`

2. `podman run -it fedo<TAB>`

**Describe the results you received:**

The image name is n

[2021-07-22 15:01] vrothberg commented on #10994
@hoshsadiq, can you share a reproducer?  I am looking into adding a regression test but `podam export; cat ... | podman import -` does not trigger the error.

[2021-07-22 15:09] Luap99 commented on #11024
This is already fixed in the main branch, will be available in podman v3.3.

[2021-07-22 15:09] #11024 closed

[2021-07-22 15:15] mheon commented on #11020
If you do not want the service to idle, yes, that will prevent it from doing so.

[2021-07-22 15:18] csomh commented on #11024
:man_facepalming: Of course, it was #9730. Sorry I missed that.

[2021-07-22 15:33] hoshsadiq commented on #10994
[code]

I've ripped this out of the full script I've got so a variable or two may be missing but I don't think it should.

[2021-07-22 15:41] mheon commented on #11001
We handle `--tz` mounts similar to `/etc/hosts` and `/etc/resolv.conf` - Podman creates a copy of the host content to be mounted into the container (every time the container starts), then makes a bind-mount for it. So if `/etc/hosts` / `/etc/resolv.conf` require special handling for checkpoint/restore we will need to add that for `--tz` as well (and probably add some comments to the code so we kno

[2021-07-22 15:46] adrianreber commented on #11001
`/etc/hosts` and `/etc/resolv.conf` are listed in `config.json`:
[code]
I do not see the timezone mounts in `config.json`.

[2021-07-22 16:33] anilwavde commented on #10319
Can someone confirm if this issue is fixed? if yes, which version of podman it is incorporated in.

[2021-07-22 16:56] cdoern commented on #10777
@mcheshkov just to reiterate since its been a while, the issue here is that podman does not show the same port information as docker right? I can open up a PR soon to fix this

[2021-07-22 17:18] pascapascapascapasca commented on #10969
Sorry, was slow on this one!

[2021-07-22 17:44] rhatdan commented on #10917
Theoretically you could mount a overlay fs on top and as long as the lower has read access, then we could share the rootfs.

[2021-07-22 17:50] rhatdan commented on #11020
I prefer
[code]

But why not use socket activation?  So the service would not always be running?

[2021-07-22 18:20] vikas-goel commented on #11001
Apart from time zone issue, there seems to be another one.

I disable the /etc/localtime bind mount and tried checkpoint again. It failed in a different code path.

[code]

[2021-07-22 18:39] adrianreber commented on #11001
You should open an issue at CRIU about this as this is not really a podman problem and chances are much higher someone knows why it fails if you directly take it to CRIU.

[2021-07-22 19:02] mheon commented on #11001
Localtime should definitely be a bind mount - the same code that manages resolv.conf and hosts was extended to manage it as well. Very surprised it's not in the OCI spec JSON

[2021-07-22 19:12] edsantiago commented on #10154
And [another one in our regular CI](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6477853039525888/html/sys-remote-ubuntu-2010-root-host.log.html), this time ubuntu-2010.

@containers/podman-maintainers this is becoming a serious problem. I don't care if we can't merge #9887, but the flake is now affecting us in real-world CI.

[2021-07-22 22:31] kolyshkin commented on #11005
Well, I just discovered this independently. The fix is https://github.com/opencontainers/runc/pull/3109

[2021-07-22 22:46] kolyshkin commented on #11005
For some reason, podman do not set `"defaultErrnoRet": 38` on my system, although it is set in `/usr/share/containers/seccomp.json`.

[code]

... and so there are redundant rules, that were always rejected by runc:

[code]

[2021-07-22 22:52] vikas-goel commented on #11001
I can do that. I see some threads on same issue. One of them points to root cause that overay FS does not implement inotify interfaces.
https://github.com/checkpoint-restore/criu/issues/1187#issuecomment-691924355
https://github.com/libuv/libuv/issues/1201

Do you happen to know if that is still the case?

[2021-07-22 23:07] kolyshkin commented on #11005
[code]

I think this was recently fixed by #10690, and did not made its way to F34 yet.

Confirming that latest git tip works:
[code]

[2021-07-23 01:34] dwhiteddsoft commented on #11023
Strangest thing I have ever seen. I could get info from it but running anything else resulted in the error. Once I ran your command, it cleared up. I have been trying to replicate all day but cannot. I am going to simply close and thank people for their help today. Sorry I could not figure it out but if I run up on it agian, I will make sure to track the steps.

[2021-07-23 01:34] #11023 closed

[2021-07-23 06:03] adrianreber commented on #11001
So if a timezone is specified there is an entry for `/etc/localtime`:
[code]
But I do not see `/etc/localtime` mounted in the container. I see:
[code]

The question is, why is `/etc/localtime` mentioned in `config.json` but not mounted?
Why is ` /usr/share/zoneinfo/UTC ` mounted but not mentioned in `config.json`?

CRIU cannot checkpoint a mount if it does not know how to restore it. If `/usr/shar

[2021-07-23 06:04] adrianreber commented on #11001
I am not aware that it has been resolved. It seems your container cannot be checkpointed. But important to know, your application is probably not working correctly in the container anyway if it relies on inotify which does not work on overlayfs. You could try the graphdriver vfs to see if the checkpointing works then.

[2021-07-23 08:06] vrothberg commented on #10154
I am still dizzy from my 2nd shot but bookmarked it.  Will take a look at it with a fresh brain on Monday.

Thank you for the ping, @edsantiago!

[2021-07-23 08:11] vrothberg commented on #11023
Thanks for reaching out, @dwhiteddsoft!  I am glad it's working.  As you said, if it comes up again, please reach out and we'll take another look.

[2021-07-23 08:22] vrothberg commented on #10994
Thanks everybody!

[2021-07-23 08:57] basilgello commented on #10297
I think we can rename that setting to reflect it is relevant for rootless mode only and document that. Something like podman-specific rootless-only option. And guard that callback for rootless only.

[2021-07-23 09:54] rhatdan commented on #10090
@mheon @vrothberg @Luap99 Looks like this is still an issue.

[2021-07-23 12:37] stbischof commented on #3234
I still have this on fedora-silverblue rawhide

[code]

[2021-07-23 15:40] liaobaikai opened #11029 "Error: OCI runtime error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: requested action matches default action of filter"
[root@localhost home]# cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)
[root@localhost home]# podman -v
podman version 3.0.1
[root@localhost home]# docker run -dit --name zk_01 --network  master-network --ip 172.20.0.11 zookeeper
Error: OCI runtime error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: requested action m

[2021-07-23 15:42] liaobaikai commented on #11029
[root@liaobaikai ~]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)
[root@liaobaikai ~]# podman -v
podman version 3.0.1
[root@liaobaikai ~]# docker run -dit --name zk_03 --network  master-network --ip 172.20.0.13 zookeeper
bd622a72e3650c3434cdad235b1f308df4de37da5729674b8bc82379923b227d

[2021-07-23 16:15] cdoern commented on #11029
You are using docker not podman as the `container_linux` error you are getting is a common docker error. Try restarting docker daemon or even better, use podman :-)

[2021-07-23 19:12] mheon commented on #11029
That could easily have been Podman with the Docker alias added - that error
is out of runc, not Docker itself, so it can easily happen with Podman.
Usually points to a too old runc or libseccomp.

On Fri, Jul 23, 2021 at 12:16 Charlie Doern ***@***.***>
wrote:

[2021-07-23 19:22] cdoern commented on #11029
@mheon I thought -dit was docker only, I will reopen sorry.

[2021-07-23 19:23] cdoern commented on #11029
still, container_linux also doesnt have a line 80, so I think this is docker

[2021-07-23 20:05] mheon commented on #11029
It’s pointing to a line in the runc codebase, which  AFAIK changed heavily
recently for the 1.0 release - a refactor to split the code into
subpackages. That sounds like a reasonable line number given that.

Speaking of runc versions, I suspect upgrading to the most recent will
resolve this.

On Fri, Jul 23, 2021 at 15:23 Charlie Doern ***@***.***>
wrote:

[2021-07-23 20:17] kolyshkin commented on #11029
It won't. The fix is in https://github.com/opencontainers/runc/pull/3109, but originally that comes from the fact that podman started to generate redundant seccomp rules recently. I have explained why that happens and what is the fix in https://github.com/containers/podman/issues/11005

[2021-07-23 20:54] bagnaram opened #11030 "Rootless ipv6 network init failure"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When launching a container with a network specified in rootless, the container CNI fails.

**Steps to reproduce the issue:**

1. Create podman network with IPv6 (taken from Kubernetes `kind`)
[code]
2. Launch example kindst node image `podman run -it --net cni-podman-1 docker.io/kindest/node:

[2021-07-23 21:00] TomSweeneyRedHat commented on #5403
and I'm guessing then some.

[2021-07-23 21:55] KCSesh commented on #11017
Not currently using SELinux, but I will see the effort it takes to set this up.

Is there an equivalent you are aware of with app armor?

[2021-07-23 22:29] KCSesh commented on #11017
Lastly, I did have an interesting question from this blog:
https://opensource.com/article/18/12/podman-and-user-namespaces

So this essentially means we don't need to map in 65536 users, because by default unmapped users get mapped to `nobody` and `nogroup`.
But 65,536 is the conventional default that docker/podman provides.

Is that right?

[2021-07-23 23:11] kolyshkin commented on #11005
... which brings in https://github.com/containers/common/pull/573

[2021-07-23 23:27] kolyshkin commented on #11029
I think we can fix it in podman, too.

First, we need https://github.com/containers/common/pull/689 (and cut a v0.38.17 release).
One a release is made, we need to bump containers/common to v0.38.17 in podman v3.2 branch.

https://github.com/containers/podman/issues/11005#issuecomment-885277879

[2021-07-23 23:38] kevinanderson1 commented on #10862
I apologize for the delay in responding. Life got a little bit hectic.

@Luap99 I do not see any errors for those services. The last few lines (sorted in reverse order) are below
[code]
@jwhonce `podman pod ps` does return successfully (although I do not have any pods defined which is expected). I was a little unsure of how to generate an appropriate thread dump so I tried just about every way I c

[2021-07-23 23:42] mheon commented on #11029
OK, this sounds like it needs to be a priority backport. Thanks!

On Fri, Jul 23, 2021 at 19:27 Kir Kolyshkin ***@***.***>
wrote:

[2021-07-24 00:02] liaobaikai commented on #11029
[root@localhost ~]# /usr/bin/docker -v
podman version 3.0.1
[root@localhost ~]# rpm -qa | grep podman
podman-3.0.1-2.el7.3.1.x86_64
podman-plugins-3.0.1-2.el7.3.1.x86_64
podman-docker-3.0.1-2.el7.3.1.noarch
[root@localhost ~]# rpm -e podman-docker-3.0.1-2.el7.3.1.noarch
[root@localhost ~]# podman run -dit --name zk_01 --network  master-network --ip 172.20.0.11 zookeeper
Error: OCI runtime error: c

[2021-07-24 00:06] kolyshkin opened #11031 "podman generates redundant rules (which are rejected by runtime)"
This issue was reported quite a few times (for the last month: #10735, #10885, #11005, #11029).

TL;DR: when trying to start container, you get an error like

or

or something similar.

One particular cause of this is, since containers-common-4:1-20 rpm in F34
 (see commit https://src.fedoraproject.org/rpms/containers-common/c/0b37657a909b2892af242e2875b39e5496d7ca42, possibly same in RHEL7 and 8)

[2021-07-24 00:07] kolyshkin commented on #11029
Opened https://github.com/containers/podman/issues/11031 to summarize my understanding of the issue.

[2021-07-24 00:09] kolyshkin commented on #11029
@liaobaikai can you report the version of `containers-common` rpm, as well as the output of `grep defaultErrno /usr/share/containers/seccomp.json`?

[2021-07-24 00:14] liaobaikai commented on #11029
@kolyshkin containers-common rpm info:
[root@localhost ~]# grep defaultErrno /usr/share/containers/seccomp.json
        "defaultErrnoRet": 38,
[root@localhost ~]#

[2021-07-24 00:15] kolyshkin commented on #11029
@liaobaikai what's the version of containers-common rpm? `rpm -qf /usr/share/containers/seccomp.json`

[2021-07-24 00:16] kolyshkin commented on #11029
@liaobaikai it seems that you can work around the bug by removing the whole line containing `defaultErrnoRet` from `/usr/share/containers/seccomp.json`

[2021-07-24 00:17] liaobaikai commented on #11029
[root@localhost ~]# rpm -qf /usr/share/containers/seccomp.json
containers-common-1-18.el7.20.1.noarch

[2021-07-24 00:21] liaobaikai commented on #11029
As well as  _sed -i '/defaultErrnoRet/d' /usr/share/containers/seccomp.json_  ?

[2021-07-24 00:27] liaobaikai commented on #11029
@kolyshkin When I removed the whole line containing defaultErrnoRet from /usr/share/containers/seccomp.json, got the same error.

[root@localhost ~]# podman run -dit --name zk_01 --network  master-network --ip 172.20.0.11 zookeeper
Error: OCI runtime error: container_linux.go:380: starting container process caused: error adding seccomp filter rule for syscall bdflush: requested action matches defa

[2021-07-24 00:37] liaobaikai commented on #11029
Is working when i copy /usr/share/containers/seccomp.json from other operation system.

[root@localhost ~]# podman run -dit --name zk_03 --network  master-network --ip 172.20.0.13 zookeeper
6019ce868d8c925a570eb6e46321e3f17ccefd24ea8b2d7cab852f876b04b14f
[root@localhost ~]#

[2021-07-24 00:38] #11029 closed

[2021-07-24 00:40] kolyshkin commented on #11029
Please share the output of `diff -u old-seccomp.json new-seccomp.json`

[2021-07-24 00:43] liaobaikai commented on #11029
@kolyshkin

[root@localhost containers]# diff -u seccomp.json.bak seccomp.json
--- seccomp.json.bak    2021-07-24 08:22:45.607000000 +0800
+++ seccomp.json        2021-07-24 08:31:02.048000000 +0800
@@ -1,6 +1,5 @@
 {
        "defaultAction": "SCMP_ACT_ERRNO",
-       "defaultErrnoRet": 38,
        "archMap": [
                {
                        "architecture": "SCMP_ARCH_X86_64",
@@ -53,44

[2021-07-24 00:48] liaobaikai commented on #11029
[root@localhost containers]# diff  seccomp.json.bak seccomp.json
3d2
<       "defaultErrnoRet": 38,
56,93d54
<                               "bdflush",
<                               "io_pgetevents",
<                               "kexec_file_load",
<                               "kexec_load",
<                               "migrate_pages",
<                               "move_pages",
<

[2021-07-24 00:48] liaobaikai commented on #11029
The format is terrible.

[2021-07-24 00:53] liaobaikai commented on #11029
@kolyshkin

[root@localhost containers]# diff -u seccomp.json.bak seccomp.json
--- seccomp.json.bak    2021-07-24 08:22:45.607000000 +0800
+++ seccomp.json        2021-07-24 08:31:02.048000000 +0800
@@ -1,6 +1,5 @@
 {
        "defaultAction": "SCMP_ACT_ERRNO",
-       "defaultErrnoRet": 38,
        "archMap": [
                {
                        "architecture": "SCMP_ARCH_X86_64",
@@ -53,44

[2021-07-24 05:56] ivanov17 opened #11032 "Dual-stack networks always have the same subnet and gateway address for IPv4"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Dual-stack networks created with `podman network create` command always have the same subnet and gateway address for IPv4.

**Steps to reproduce the issue:**

1. Create first dual-stack network:
   `podman network create --ipv6 --subnet fd10:88:a::/64 --gateway fd10:88:a::1 dualstack_a`
2. Cr

[2021-07-24 09:53] #10994 closed

[2021-07-24 10:07] rhatdan commented on #3234
Could you run restorecon -R -v $HOME/.local/share/containers

This might be a problem in silverblue or any rpmostree based OS.  Since rpm post install scripts do not run.
Basically container-selinux had to fix labels in users homedirs because of a change in the linux kernel.

[2021-07-24 10:09] #10302 closed

[2021-07-24 10:22] Luap99 commented on #11030
Can you run `sudo modprobe ip6_tables` and try again. I think the kernel module is not loaded.

[2021-07-24 11:39] stbischof commented on #3234
Sorry . No switched to ubuntu yesterday.

[2021-07-24 18:42] kolyshkin commented on #11029
@liaobaikai can you please edit your comment above, wrapping the whole diff output into

<pre>
[code]
</pre>

You can use the preview tab to check how it looks like. The result should look like

[code]

[2021-07-24 19:01] baude opened #11034 "Add line numbers to output of contrib/cirrus/pr-should-include-tests"
Ran into @edsantiago new Makefile hack that checks for a pattern around exit codes -> contrib/cirrus/pr-should-include-tests

Please include line numbers in the output.

[2021-07-24 19:27] edsantiago commented on #11034
I'm a little lost. This is a CI check that triggers upon _not_ finding something. How do I print a line number of something that doesn't exist?

I must be misunderstanding something big. Can you give me an example of what you'd like to see, or how you expect this could work?

[2021-07-25 01:22] caarlos0 opened #11035 "podman manifest push not is not respecting insecure config"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman manifest push --tls-verify=false` does not work because its not respecting the `--tls-verify` flag, nor the `CONTAINER_CONFIG` file saying the registry is insecure.

This was working on `3.0.1`, noticed its broken now on `3.2.3`.

**Steps to reproduce the issue:**

1. `docker run -d -

[2021-07-25 02:29] LYU2026 opened #11037 "Error: create keyring `xxx`: Operation not permitted: OCI permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**
I tried to run a container with
[code]
but got the error message as below
[code]

**Describe the results you expected:**
run the podman correctly

**Additional information you deem important (e.g. issue happ

[2021-07-25 02:48] chenk008 opened #11038 "Support to start container with image layer"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currenlty Podman can start container with rootfs by specify `--rootfs`. The rootfs must be writable.

Now I have a image layer mount as read-only at somewhere like `/var/lib/containers/test` , I want to start a container which rootfs is overlay on this image layer. Podman can manage conta

[2021-07-25 07:06] PavelSosin-320 commented on #10575
@mheon I think the answer to your question is  [here](https://stackoverflow.com/questions/40898077/systemd-systemctl-stop-aggressively-kills-subprocesses). The systemd kills service's processes aggressively as expected from smart resource manager to fast pressure relief and port release. On another hand, grace time can be given to kill all containers and wait for the exit. It also ensures that the

[2021-07-25 07:43] flouthoc commented on #11037
@LYU2026 I think you would need `CAP_SYS_ADMIN` also there are few things which i think can help.

* Your version of `crun` is relatively old (~0.20 added some keyring updates) , if possible could you please update `podman` and `crun` to latest stable.
* Try running with `--cap-add CAP_SYS_ADMIN` or `--security-opt seccomp=unconfined --cap-add all` just to confirm we can narrow this down later.
*

[2021-07-25 10:37] rhatdan commented on #10612
@jwhonce @cdoern What is the latest on this issue?

[2021-07-25 10:37] rhatdan commented on #8314
@ashley-cui Any update?

[2021-07-25 10:49] rhatdan commented on #10713
@giuseppe Any update?

[2021-07-25 10:49] rhatdan commented on #10710
@edsantiago @vrothberg Any update on this issue?

[2021-07-25 10:50] rhatdan commented on #10197
@baude Any update?

[2021-07-25 10:51] rhatdan commented on #10100
I believe the docs are updated, reopen if I am mistaken.

[2021-07-25 10:51] #10100 closed

[2021-07-25 13:38] mheon commented on #11037
Not being that familiar with Chome OS - it looks like you're running
Podman inside a container. Do you have any control over the outer
container, the one Podman is running in? If you can make it a
privileged container, that would be ideal - it gives Podman a lot more
of what it needs to run smoothly, and will resolve this error. If
that's not possible, the suggestion to add `keyring=false` from
@f

[2021-07-25 13:41] patarapolw opened #11040 "Ignore file (`.dockerignore`) does not parse leading slash correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The old `.dockerignore` I used with docker-compose.yml doesn't work.

[code]

But it works after some correction.

[code]

Now, I am curious on how podman parse ignore files.

Also, normally, I would choose to include files, rather the ignore many things.

**Steps to reproduce the issue:**

1

[2021-07-25 14:12] Hoeze opened #11041 "[Feature request] Running host applications in container / Image-free partial isolation for HPC"
Hi, I'd have a number of applications where I would like to isolate only certain aspects of the host OS, e.g.:
- Have different mount points for an application
- Isolate insecure web servers from other users

For example, our HPC cluster users could spawn a Rstudio session, Spark dashboard, etc. which can be accessed by every user on the same host. In this case, it would be desirable to have a vir

[2021-07-25 14:37] bagnaram commented on #11030
That works. I added a PR to the upstream project to clarify this https://github.com/kubernetes-sigs/kind/pull/2388/files

[2021-07-25 14:39] cdoern commented on #10612
@rhatdan I have the code ready to go to implement what the user wants but I think @jwhonce is concerned about the breakage of current applications depending on the output as is, and the compatibility issues in terms of differing output. This might be a case where, for compatibility we can't change much. I am not sure though, @jwhonce what do you think?

[2021-07-25 17:39] StayPirate commented on #10026
Unfortunately I had not spare time to follow this up until today. I appreciated all your suggestions and tried them out, but without any luck.

Even if I use `--dns=none` and `-v /etc/resolv.conf:/etc/resolv.conf`, `/etc/resolv.conf` inside the container does not reflect the changes I make to the host's one. Here what I did:

[code]
[code]
Then I change the `/etc/resolv.conf` in the host.
[code]
I

[2021-07-25 17:48] StayPirate opened #11042 "Mount host resolv.conf does not work as expected."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This is a follow up of #10026, unfortunately I had no chance to have tried out suggested tips until today and in the meantime the issue has been closed for inactivity. Opening this one as a continuation.

Even if I use `--dns=none` and `-v /etc/resolv.conf:/etc/resolv.conf`, `/etc/resolv.conf

[2021-07-26 07:15] vrothberg commented on #11031
Thanks, @kolyshkin!

@rhatdan @containers/podman-maintainers are planing a 3.2.4 or is this branch frozen?

[2021-07-26 07:55] vrothberg commented on #11041
Thanks for reaching out, @Hoeze!

Having a mount (and user) namespace is mandatory but most other namespaces can be used of the host environment.

`$ podman run --pid=host --ipc=host --uts=host --userns=keep-id --cgroupns=host alpine`

Note that `--userns=keep-id` creates a user namespace with the current UID/GID of the calling process.  This way, the UID remains the same inside the container as o

[2021-07-26 08:32] PavelSosin-320 commented on #10575
@vrothberg I checked the CG structure created by systemd-run and didn't see something unexpected - see picture.
![PodmanServiceAsSystemdTransientService](https://user-images.githubusercontent.com/54495912/126956221-2c1f5da7-9c60-46e0-a47b-b4fd06f6f394.png) The only special thing is that systemd-cgls sees only one process, i.e. the second service process is born as zombie. Both Linux and TCP socket

[2021-07-26 08:43] giuseppe commented on #10713
if `unshare -r -m -f -p --mount-proc=/proc echo it works` fails as root, then there is something out of our control.

Can you please share the output of `stat /proc` and `findmnt -o OPTIONS /proc`?

Does it make any difference if you try to umount `/proc` first?:

[code]

[2021-07-26 09:25] LYU2026 commented on #11037
@flouthoc @mheon thanks for your responses， I checked the command under the vscode-server in colab.  it seems like didn't work under the privileged, and this is out of my control
[code]
And then, I disable the 'keyring' by edit the ``` /etc/containers/containers.conf ```  and run again, the response as below
[code]

[2021-07-26 09:32] LYU2026 commented on #11037
Excellent work in this blog. Thanks for your recommendation @mheon
https://www.redhat.com/sysadmin/podman-inside-container

[2021-07-26 09:43] LYU2026 commented on #11037
would you mind to adapt the podman in chrome os , such as colab, kaggle? It will be great cause. It's convenient for us to train AI model with nvidia-gpu

[2021-07-26 10:21] giuseppe commented on #10946
sure, we can blog about this issue but it should not really happen unless the mount point is configured to `MS_PRIVATE`.  With the default configuration, on Fedora at least, this is not the case.

@snail59 could you provide more information on how the mount is performed?

[2021-07-26 11:10] rhatdan commented on #11037
This looks like there is some conflict in the way cgroups are used/configured on Chrome.  Are you running Podman within a Docker container?

[2021-07-26 11:18] Snorch commented on #11001
Hi, all!

[code]

First thing I'd like to mention is that this error does not say anything about overlayfs. This error can be about any other virtual FS which does not support resolving file handles. You should check on your node which device is 0x48(72) to be sure... JFYI you should look for device id in format " 0:72 " in /proc/self/mountinfo just after you got an error.

Second thing is that ov

[2021-07-26 11:36] Luap99 commented on #11042
Do you edit the file? I assume not. I think NetworkManager will create a new `resolv.conf` file for each change and overwrites  `/etc/resolv.conf`. This breaks the bind mount because the source was "deleted". The container keeps using the old file while the host has the new file. This is how bind mounts work in the kernel. One solution would be to mount the parent directory, but this is probably n

[2021-07-26 11:45] LYU2026 commented on #11037
Yes! And I have no right to control the root container. Do you have any suggestion? thanks? You can reappearance this problem in colab or kaggle

[2021-07-26 11:56] #8645 closed

[2021-07-26 12:05] StayPirate commented on #11042
You are correct, I do not directly edit the file, I connect the host to a VPN via NetworkManager and in turn it changes `/etc/resolv.conf`. I have not thought it might delete the file and replace it with the new one, this actually explains the behavior I experienced. As you anticipated, mounting the whole `/etc` it's out of scope. I'm wondering what happens if I create a symlink to `/etc/resolv.co

[2021-07-26 12:09] Luap99 commented on #11042
This will not work. Symlinks are always resolved before doing the bind mount.

[2021-07-26 12:18] rhatdan commented on #11040
Fixed in 36e17cbb9bfa6cc30a23f81097902e18e1af0ae8

So this is fixed in the main branch right now.

[2021-07-26 12:18] #11040 closed

[2021-07-26 12:19] rhatdan commented on #11040
We plan on shipping podman 3.3 rc1 this week, which will have the fix.

[2021-07-26 12:20] rhatdan commented on #11037
@giuseppe PTAL

[2021-07-26 12:25] StayPirate commented on #11042
Are you aware of any other solution? Maybe I could avoid to bind mount `/etc/resolv.conf`?

[2021-07-26 12:41] rhatdan commented on #11038
This works for me.  I think you need to add more information.

[code]

[2021-07-26 12:47] giuseppe commented on #11037
can you please show the output for `cat /proc/self/cgroup` and `cat /proc/self/mountinfo`?

I think the issue is how the cgroups are configured in the current environment

[2021-07-26 12:53] Luap99 commented on #11042
Maybe there is a way to prevent NetworkManager from creating a new file and instead edit this in place. Or you setup a local resolver with a fixed ip so you do not have to change /etc/resolv.conf every time.

I close the issue since I do not think this can be fixed in podman.

[2021-07-26 12:53] #11042 closed

[2021-07-26 12:59] LYU2026 commented on #11037
[code]

[2021-07-26 13:00] rhatdan commented on #10738
Since no feedback in a month, I figure @pyronaid has fixed his issue. CLosing.

[2021-07-26 13:00] #10738 closed

[2021-07-26 13:01] rhatdan commented on #10282
@infiniteregrets is this still an issue?

[2021-07-26 13:05] LYU2026 commented on #11037
btw, I can run under root, but the podman can't run. It's seems have to run with rootless
[code]

[2021-07-26 13:08] giuseppe commented on #11037
thanks, the cgroup warning can be ignored.

The error `Error: pivot_root: Operation not permitted: OCI permission denied` usually happens when running from a ramdisk.

Could you try setting `no_pivot_root` in the `containers.conf` file and see if it makes a difference?  Be aware that disabling `no_pivot_root` is not safe.

you need to make sure the `/var/lib/containers` path is a volume

[2021-07-26 13:18] rhatdan commented on #10946
I was thinking of a blog on the user namespace podman process.  Changes to the config like /etc/subuid and /etc/subgid require this processes be restarted via a podman system migrate.  Now we have a second example of needing to restart the namespace.  In the long run, I would love to get rid of this process if there are no containers running on the system, which would for the most part remove this

[2021-07-26 13:30] LYU2026 commented on #11037
haha,   `/var/lib/containers` path as a volume  is impossible under this env.
run podman with rootless is fine

[2021-07-26 13:30] rhatdan commented on #10161
Well unless you can get us the seccomp failure, we have no way to fix.  Closing, reopen if you descover what syscall is being blocked.

[2021-07-26 13:30] #10161 closed

[2021-07-26 13:48] snail59 commented on #10946
@giuseppe : when my computer boots, the mountpoint is not automatically mounted and I mount it manually whenever I want.
As @rhatdan explained, if I launch podman for whatever reason ( `podman images` for example) before mounting the mountpoint, then podman won't be aware of it and, in my case, will fail at running my container.

So, by the way, this is absolutely not an iscsi problem but a orderi

[2021-07-26 14:01] #11035 closed

[2021-07-26 14:09] #11032 closed

[2021-07-26 14:10] ashley-cui commented on #8314
@rhatdan We know how to sign binaries as of now (though we still don't sign the binary artifacts on our release page), but in order to get it through Apple's gatekeeper fully, we need to send in every binary to Apple to notarize, which I think @baude looked at?

[2021-07-26 14:16] rhatdan commented on #10612
Does this mean we have to wait for podman 4 for this fix to go in?

[2021-07-26 14:19] rhatdan commented on #11017
Docker does not really do this, but anyways, yes, all unmapped UIDs inside of the container are treated as -1 (nobody) and nogroup

[2021-07-26 15:19] giuseppe commented on #10946
that will restart all the containers.  So you shouldn't do that unless there is a change in the host that must be propagated to the rootless user namespace.

How do you manually mount it?  Using the `mount` command?

How does `findmnt -R -o PROPAGATION,TARGET /` look like on the host before you mount it?

[2021-07-26 16:15] snail59 commented on #10946
`that will restart all the containers`
Ok, that is a bad idea of mine ;-)

`How do you manually mount it? Using the mount command?`
Exactly, as root

The propagation is private for all mountpoints.
Of course, my iscsi mountpoint is not listed. I won't show data mountpoints as there are many, but here are the system ones, if it is of any help:

[code]

Tell me if you need more informations.

[2021-07-26 16:40] ensc opened #11050 "regression: "build --pull" fails with multi-stage Dockerfiles"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build --pull` fails with

[code]

when using a multi-stage Dockerfile like

[code]

This worked at some time before

**Steps to reproduce the issue:**

1. create Dockerfile with

[code]
2. try to build container with

[code]

**Describe the results you received:**

Container has been

[2021-07-26 17:01] ntkme commented on #11037
FYI: https://github.com/containers/crun/issues/675

runc work out of box, but crun needs to explicitly set `keyring = false` in containers.conf.

[2021-07-26 17:08] ntkme commented on #11037
Here is a blog post about my experience getting podman and crun to work in Chrome OS: https://ntk.me/2021/05/14/podman-in-crostini/

P.S. If you want to use crun as runtime for root privileged containers, you must compile the latest version of it due to the issue I linked above.

[2021-07-26 17:25] millerthegorilla opened #11051 "Podman secret as environment variable not available to exec command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I am using podman run with a secret environment variable for the root password of a maria database container.
Because I am generating systemd units with the --new switch, I don't want the run command to create a database, so instead I run the run command, and then use a podman exec to cre

[2021-07-26 18:00] rhatdan commented on #11050
@vrothberg Looks like one of yours?

[2021-07-26 18:06] rhatdan commented on #11051
@ashley-cui PTAL

Did you use the secret command when doing the podman create or podman run?  If yes, then the secret should be available when you exec into the container. If it is not then this is a bug.

If in addition you would like to be able to inject a secret even when podman run/create did not add a secret, then this is a new feature.

[2021-07-26 18:12] ashley-cui commented on #11051
Secrets are mounted into the container at the time of container creation. Injecting a secret when podman create/run did not add a secret, and doing so via exec seems interesting, I think I can take a look sometime later this week or next week, soon

[2021-07-26 18:13] giuseppe commented on #10946
thanks for confirming it.  The mounts on the host are configured to `private`, so any new mount won't be propagated inside the rootless mount namespace.

What distro are you using?  Have you changed anything in the default configuration?  Perhaps it is worth to report an issue.

I'd suggest using `slave` or even better `shared` instead of `private`.  Fedora is using the latter by default.

[2021-07-26 18:16] millerthegorilla commented on #11051
Ok, thanks, I wasn't aware that the environment variable would still be available.  Is that certainly the case, if so I have read the docs poorly.  I know that if one runs/creates the container using type=mount, then the secret will persist, but I didn't imagine that  an environment variable would persist  from the exec of the run command to a new exec session.
I can't test it at the moment, as I

[2021-07-26 18:41] ashley-cui commented on #11051
Looks like a bug then,
[code]

[2021-07-26 19:35] vikas-goel commented on #11001
Thanks for your comments, @Snorch . I didn't find any device in format "0:72".
# getenforce
Permissive
# podman container checkpoint tme-mas-01
ERRO[0000] container is not destroyed
ERRO[0000] criu failed: type NOTIFY errno 0
log file: /var/lib/containers/storage/overlay-containers/b00505aa652d72bb878fcb6225b2a6b37169cfb73c504900ce456e5d1e1af1eb/userdata/dump.log
Error: `/usr/bin/runc checkpoint -

[2021-07-26 19:39] rhatdan commented on #10946
Systemd sets up shared,  Kernel defaults to private.

[2021-07-26 20:17] dvzrv commented on #10972
Hi! Is there any news on this? We are currently blocked from updating.

[2021-07-26 20:26] ashley-cui commented on #10972
@dvzrv I've added my keys to https://keys.openpgp.org. I'm not sure what else has been done/needs to be done, but @mheon is on vacation this week

[2021-07-26 20:53] vikas-goel commented on #11001
I turned on overlay module's index and nfs_export parameters to on and tried again as suggested by @Snorch . This time I received a different error.

[code]

[2021-07-26 21:21] vikas-goel commented on #11001
In order to bypass the socket error as seen in the previous comment, I tried taking checkpoint with memory only. Received another error.

[code]
[code]

[2021-07-26 23:08] Hoeze commented on #11041
Thanks for your detailed answer @vrothberg!
My intention is to isolate only certain aspects of applications. Any user should be able to run his application in a private network namespace with eventually different network overlays.

Yes, I'm also not sure about this.
However, after playing with `unshare`, `overlayfs-fuse` and network namespaces I came to the conclusion that podman is already doing

[2021-07-27 00:14] KCSesh commented on #11017
Gotcha, I think I will have to re-read what Docker does for UID mapping, if anything.
But thanks for the reply.

So the above question is not lost:

[2021-07-27 00:44] LYU2026 commented on #11037
hi, man, I tried this last week, but failed. Maybe the reason is that the os or the runc is too old to fit. And I'll try again. thanks

[2021-07-27 00:59] flyn-org commented on #10713
[code]

[2021-07-27 03:48] tomdavidson opened #11052 "fails to build image in docker-compose.yml but podman directly can build the same image."
/kind bug

**Description**
Podman can build an image from a Dockerfile directly just fine, but when doing so via docker-compose.yml, it fails. This looks like it could be a build issue but since the standalone build works, it might be an issue with the docker-compose compatibility of podman. Perhaps similar to #10671 but in that case the file could not be built directly.

The Dockerfile file:
[cod

[2021-07-27 03:56] dattatrayvaze opened #11053 "Not able to install Podman on openshift 4.6"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. run below command to install podman

2. sudo yum install podman

3.

% Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   359  100   359    0

[2021-07-27 06:42] mattymo commented on #11012
Is there any update here on this issue?

[2021-07-27 08:10] LYU2026 commented on #11037
There are some problems to set `security.syscalls.blacklist: keyctl errno 38`:
[code]
how shuold I set the lxc?
I run it again. It seems not work by `--volume /sys/fs/cgroup:/sys/fs/cgroup:rw`
[code]

[2021-07-27 08:14] PavelSosin-320 commented on #10575
The 1st easily picked benefit of using systemd-run is easy customization of configuration: systemd-run --user **--setenv CONTAINERS_CONF=$HOME/.config/containers/containers.conf**  allows to play with configuration every server run without "Administrator can change..."

[2021-07-27 08:38] ntkme commented on #11037
You’re misunderstanding it.

Here is how it works:

- Chrome OS host
  - Chrome OS guest VM (this is where LXC is already installed and you need to change its settings)
    - LXC Linux container (this is where you are in and trying to install LXC)

Open Google Chrome, press Ctrl + Alt + T to get the crosh shell, and run`vsh termina`. This give you a shell to Guest VM for changing LXC settings.

[2021-07-27 08:39] ensc commented on #10188
Has this really been fixed completely?

A slightly modified dockerfile

[code]

still loses permissions and ownership attributes

[code]

(owner is `root:root` instead of `nobody:nobody` in second `RUN`).

podman-3.2.3-1.fc34.x86_64

[2021-07-27 08:57] #10998 closed

[2021-07-27 08:57] #10832 closed

[2021-07-27 09:14] vrothberg commented on #11050
Thanks for reaching out!

That's fixed in the main branch. Podman v3.3 will ship it.

[2021-07-27 09:14] #11050 closed

[2021-07-27 09:20] giuseppe commented on #10713
thanks, what do you see with `sudo findmnt -R -o TARGET,PROPAGATION /` on the host?

If `/proc` is mounted as private, then its mount is not propagated into the new mount namespace and the procfs mount fails since the kernel expects a procfs to be already visible in the mount namespace (when running in a user namespace) before allowing a new procfs mount.

[2021-07-27 09:47] vrothberg commented on #10701
I bisected a bit and it looks like it has started with commit 341e6a1628a3.

[2021-07-27 10:21] giuseppe commented on #10946
opened a PR to print a warning when `/` is not mounted as shared: https://github.com/containers/podman/pull/11056

[2021-07-27 11:27] LYU2026 commented on #11037
OMG!!! It's out of my control. Is there are another way to run with rootless?

[2021-07-27 11:39] mlegenovic opened #11057 "/etc/hosts has wrong content"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If container is started with --network=host /etc/hosts maps hostname to wrong IP address (127.0.1.1).

**Steps to reproduce the issue:**

1. `podman run -it --rm --network host registry.fedoraproject.org/fedora:34 cat /etc/hosts`

**Describe the results you received:**
[code]

**Describe the

[2021-07-27 12:01] alitvak69 commented on #10955
@rhatdan I guess containers/storage#966 have not been merged.  Is it going to be or you guys had other thoughts about the issue?

[2021-07-27 12:21] Luap99 commented on #11052
You need to create a symlink from docker to podman. On some distros you can install the `podman-docker` package which will set this up for you.
Alternatively you can set the envar `COMPOSE_DOCKER_CLI_BUILD=0` https://docs.docker.com/compose/reference/envvars/#compose_docker_cli_build

[2021-07-27 12:21] #11052 closed

[2021-07-27 12:25] chenk008 commented on #11038
I want to start a writable container with overlayfs.
The overlayfs lower layer is image layer and has been mounted on somewhere as read-only. And Podman can create writable layer and mount a overley rootfs.

[2021-07-27 12:50] #10579 closed

[2021-07-27 13:13] Luap99 commented on #11057
Why would you need `192.168.1.72` as entry in /etc/hosts? Is this your eth0 ip address? I do not think podman can figure out the correct ip. You could have several interfaces with several ip adresses. According to the `hosts` man page:

I close this as duplicate of https://github.com/containers/podman/issues/10319.

[2021-07-27 13:13] #11057 closed

[2021-07-27 13:13] Hendrik-H opened #11062 "podman run starts the main process in the container before the network is setup"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

If you start a rootless container with slirp4netns:enable_ipv6=true the IPv6 network is not working straight away but only after a short time, like 1-2s

**Steps to reproduce the issue:**

1. `podman run -it --network slirp4netns:enable_ipv6=true --entrypoint bash fedora:34 -c "curl -v -6 https://www.google.c

[2021-07-27 13:15] developedsoftware commented on #8965
I am getting this same issue (identical in fact) using podman 3.0.2.

Has there been a regression ?
Should I open another issue or keep it contained within this issue ?

[2021-07-27 13:22] tomdavidson commented on #11052
Perfect. Setting `COMPOSE_DOCKER_CLI_BUILD=0` is where its at - thank you @Luap99

For anyone else, Docker Composes uses the Docker CLI rather than the socket at DOCKER_HOST. Perhaps I wouldnt have noticed if I would have `alias docker=podman` but with `COMPOSE_DOCKER_CLI_BUILD=0` will use the docker client rather than CLI.

[2021-07-27 13:31] #10701 closed

[2021-07-27 13:58] MrPippin66 opened #11063 "Documentation clarification for RHEL and support of "su" for rootless pods"
My apologies, but I'm battling RH support.

Can you say if this statement from Red Hat is wrong in saying that using "su" to access an account to run rootless pods is not supported?

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/building_running_and_managing_containers/index#proc_setting-up-rootless-containers_assembly_starting-with-containers

--

1.4. Setti

[2021-07-27 14:05] mlegenovic commented on #11057
To be honest, I was sure there is an issue on this topic, but I couldn't find it.

My description what I expect is wrong, I'm not expecting any IP address in `/etc/hosts` file if `--network=host` is passed as argument, also not `127.0.1.1`. Problem with this entry is that a service as consequence starts listening on `127.0.1.1`, and this is wrong. In docker, if you run `hostname -i` in container w

[2021-07-27 14:33] vrothberg commented on #10154
Hit the flake also in https://github.com/containers/podman/pull/11049

[2021-07-27 14:33] Luap99 commented on #11062
OK this only affects slirp4netns with ipv6. Podman already waits for slirp4netns to report that it is ready. Therefore I assume slirp4netns does not wait for ipv6 setup to finish before it writes to the readyfd.
Running podman with this patch confims this:
[code]
This will not work:
`podman run --rm --network slirp4netns:enable_ipv6=true alpine ip addr`
Waiting two seconds works:
`podman run --rm

[2021-07-27 15:53] ntkme commented on #11037
New keyring is not required, you can just turn it off in `containers.conf` (for podman), but without setting `security.nesting: "true"` (in LXC), rootless won’t work as it will not be able to mount `/proc` and a few other things.

Not sure what do you mean by out of control. Can you please describe your machine and environment? Is it a locked down edu Chromebook device?

If you really cannot chang

[2021-07-27 16:39] flyn-org commented on #10713
It looks like /proc is private. How does one mount /proc in a way that is not private? This is new to me. The `mount` manpage mentions "Shared subtree operations"; is this relevant? What start-up component ensures the proper mounting of these things on, say, Fedora or Ubuntu?
[code]
I did try to run `mount --make-shared /proc`, `mount --make-shared /proc/xen`, and then `unshare -r -m -f -p --mount

[2021-07-27 17:30] fooishbar commented on #10802
@rhatdan It looks like we're hitting this using the freedesktop.org [ci-templates](https://gitlab.freedesktop.org/freedesktop/ci-templates) for GitLab CI builds. Those builds execute in a runc (because that's what GitLab upstream maintains for the CI runner) environment and then go on to use podman/buildah/skopeo (because they're nice tools).

Unfortunately this doesn't work anymore, even when the

[2021-07-27 17:39] rhatdan commented on #10802
My understanding of this is that `podman info` used to work without the clone. But podman run, start, mount, umount ... Would not work without `clone`.  Are you seeing something different, if so then lets move to a new issue.

[2021-07-27 17:56] rhatdan commented on #5431
@mheon @baude @Luap99 @vrothberg WDYT
Should we just add these services to Podman rpm?

[2021-07-27 17:57] rhatdan commented on #5431
@nalind Thoughts?

[2021-07-27 18:18] rhatdan commented on #10188
This works.

[code]

I tried your original Dockerfile, and Docker works the same as podman.

Basically the VOLUME is created on the mount point at the time of creation.  If the destination directory does not exist, the ownership of the directory, defaults to the current user in the container.

If the directory previously exists then the VOLUME will assume the ownership and timestamp of the existin

[2021-07-27 18:40] rhatdan commented on #10955
We have to hold off until we are ready to ship podman 4. since this is a breaking change.  It will cause the same issue you are having.

[2021-07-27 18:42] rhatdan commented on #11038
So you want to specify a the upper directory where the overlay can write?

[2021-07-27 18:43] rhatdan commented on #11038
Could you describe the use cases that this would be valuable for, as opposed to you just creating your own overlay and not building it into Podman.

[2021-07-27 19:10] mheon commented on #10802
Did we ever verify what caused this? Because I would lean towards a change in the Seccomp profile of the outer container, as opposed to a change to Podman itself - I cannot imagine rootless Podman (beyond trivial commands - `podman version`, maybe `podman info`) ever worked without `clone` being allowed so we can create a new user namespace. The user namespace requirement is fundamental for rootle

[2021-07-27 19:13] mheon commented on #11031
I would consider the branch frozen considering how close we are to 3.3.0

[2021-07-27 19:28] cevich commented on #10802
I don't think so.  I seem to recall a time when `podman version` *DID* work without clone (under docker, as rootless), then suddenly stopped.  But I could easily be mistaken.  For my use-case, I worked around it by using `--version` instead.  In other words, it's entirely possible something was overlooked or not scrutinized enough.

[2021-07-27 19:56] mheon commented on #11053
What do you mean by "on Openshift 4.6' - on the base CoreOS operating system, or inside a container run on Openshift? If so, what kind of container - do you know what the base image was?

[2021-07-27 20:20] #7370 closed

[2021-07-27 20:27] rhatdan commented on #11063
The issue is Podman expects the user environment to be fully setup.  We have had lots of issues when XDG_RUNTIME_DIR and DBUS_SESSION_BUS_ADDRESS environment variables are not set correctly.

sudo -l
su -l

Should work better.

[2021-07-27 21:38] mheon commented on #10802
There were no direct changes to the way we call `clone()` - last change to that happened in 2018. From the manpage for `clone()` there are cases where it can EPERM, but they are all fundamentally environment issues, and I don't think any of them changed 3.1.x to 3.2.x.

However, digging through the changelog, I did find a very suspicious commit: Podman, as of 3.2.x, will (when run as root in an en

[2021-07-27 21:39] mheon commented on #10802
As to why Podman-in-Podman works but Podman-in-Docker does not, our default Seccomp policy allows `CLONE_NEWUSER` while theirs does not.

[2021-07-28 03:50] sachinkaushik commented on #10864
Hi @flouthoc / @umohnani8 ,

Is there any way to run rootless container without below config in deployment yaml?

securityContext:
    privileged: true

We don't want to run container with privileged flag. if we remove this from deployment yaml, we get below error.

**Error: invalid configuration: the specified mapping 1000:1 in "/etc/subuid" includes the user UID**

Thank you in advance.

[2021-07-28 04:23] dattatrayvaze commented on #11053
the base core OS operating system is Red Hat Enterprise Linux Server release 7.9 (Maipo)

[2021-07-28 05:43] infiniteregrets commented on #10282
@rhatdan Yes it is and sorry for the late response, I couldnt get to this one. I havent studied much about how capabilities work, once I read the man page I'll try to work on this or if I can't figure it ill let you know

[2021-07-28 06:27] LYU2026 commented on #11037
Colab is not support with docker. [googlecolab/colabtools#299](https://github.com/googlecolab/colabtools/issues/299). So I wonder  if Podman can support.

[2021-07-28 07:17] ntkme commented on #11037
So you’re not on a Chromebook but on Google Colab. The post I wrote is for Chrome OS on Chromebook.

Your environment does look like a Ubuntu container running inside Chrome OS VM. In someway this is actually similar to how Debian container was running on an actual Chromebook inside a Chrome OS VM. In that case if the Ubuntu container has restricted security settings (very likely) and you don’t ha

[2021-07-28 07:34] ntkme commented on #11037
I think this is purely an environmental problem from the locked down LXC security setting of the Ubuntu container in Chrome OS VM, which user does not have control.

`podman` and `crun` are both behaving normally and reporting errors caused by security settings in this environment.

Although some of errors may not be critical and may be worked around with different configs. Based on my experience

[2021-07-28 08:57] millerthegorilla commented on #11051
Ok, many thanks for your input.

[2021-07-28 08:59] giuseppe commented on #10713
can you try unmounting `/proc/xen`?  That makes the `/proc` mount not fully visible, and then the kernel refuses to mount a fresh procfs if there is not already one fully visible.

[2021-07-28 09:14] boaz0 commented on #10275
@rhatdan @vrothberg mind to assign this to me?

![](https://media.giphy.com/media/xT1XGOGdyDrL2BTfxK/giphy.gif)

[2021-07-28 09:20] vrothberg commented on #10275
It's all yours, @boaz0! Thank you

[2021-07-28 09:57] LYU2026 commented on #11037
I hope to access to this one day. I close this issue temporally. Thanks for the help, guys!

[2021-07-28 10:32] PavelSosin-320 commented on #10575
@giuseppe To avoid zombie process creation when running Podman service by the rootless user I run Podman service using systemd-run --user. Systemd-run creates the CG for the transient unit and assigns all created Podman processes to this CG. Then systemctl --user stop or kill accurately kills all processes and removes CGs. The issue is that systemd-run puts everything into a unified hierarchy beca

[2021-07-28 11:31] rhatdan commented on #10802
I made changes to fix a bug to move most of these commands into the user namespace which is why they are failing now.

[2021-07-28 11:54] flyn-org commented on #10713
[code]

[2021-07-28 11:54] rhatdan commented on #11053
We don't support Podman 3.* on any RHEL7 box.  This is not supported and not something for upstream.

[2021-07-28 11:54] #11053 closed

[2021-07-28 12:45] atomlab commented on #3843
The same problem. How to solve it?

podman version 3.2.2

[code]

[2021-07-28 12:56] vrothberg commented on #8305
No, they ran out of time.  I closed https://github.com/containers/podman/pull/8706 so others can finish the work.

[2021-07-28 12:59] vrothberg commented on #10941
Same issue.

[2021-07-28 13:29] rhatdan commented on #11031
I agree.

[2021-07-28 14:17] #10154 closed

[2021-07-28 14:38] giuseppe commented on #10713
that is strange, the mount of `/proc` should not fail now as it is fully visible.

What do you see with `unshare -r -m -f -p cat /proc/self/mountinfo`?

[2021-07-28 14:47] torvitas commented on #3234
I had the same issue after doing a "dnf update" yesterday. Just did another dnf update today. Everything back to normal now. I can confirm the container-selinux did a restorecon on almost the whole system.

Though I have to admit that I can feel the pain @stbischof has.
Things like that made me switch from arch to fedora. Things like that made me wait several months after a fedora release before a

[2021-07-28 14:59] giuseppe commented on #10941
I think it is trying to join the wrong pid, it should not be 1

[2021-07-28 15:46] sachinkaushik commented on #10864
Hi @flouthoc , @umohnani8 , @rhatdan

Any update on this..?

[2021-07-28 17:08] MrPippin66 commented on #11063
Actually, that didn't work in my case, but not for reasons owned by podman.

Still working this, but appears to be caused by an issue introduced in pam_systemd, and were reverted to fix. I'm thinking RHEL hasn't included this, yet.

https://github.com/systemd/systemd/pull/11327

Comment for this addition in the code:

`/* We need to export $DBUS_SESSION_BUS_ADDRESS because various applications wil

[2021-07-28 18:27] MikeKroell commented on #4123
We also have an interest in this. We use ECR with HPC, and want to use rootless podman for security. Though this is a show-stopper for us.

[2021-07-28 18:36] lsm5 opened #11069 "need to bump buildah to v1.21.3+ in main branch"
https://github.com/containers/podman/blob/f9395ddc5ad8b32e4e9b24542f0869722f7c9743/go.mod#L14

buildah on main branch needs to be bumped to v1.21.3 or newer.

I tried 2 combos:
- buildah `v1.21.3` + c/common `v0.38.12`
- buildah `v1.21.4` + c/common `v0.38.16`

both of which gave me compiler errors. The c/common versions are the ones used in the respective buildah versions.

@vrothberg any ideas?

[2021-07-28 18:38] lsm5 commented on #11069
also, no luck with c/common v0.40.1 either.

[2021-07-28 18:49] lsm5 opened #11070 "Debian / Ubuntu envs in upstream CI"
Our upstream CI currently tests 2 current ubuntus (typically 1 LTS + 1 latest release). This tends to be a problem every time an Ubuntu release goes EOL and we have to prepare for a new Ubuntu release (An EOL occurs every 6-9 months IIUC).

We would like to have Debian and/or Ubuntu versions in our upstream CI so that we have:
- low maintenance
- early indicators of failures/problems
- reasonable

[2021-07-28 18:54] SoniKanthP opened #11071 "podman secret command not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)** BUG REPORT

/kind bug

/kind feature

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**
$podman secret
Error: unrecognized command `podman secret`
Try 'podman --help' for more information.

**Describe the results you expected:**
create secrets

**Additional information

[2021-07-28 18:54] cevich commented on #11070
Adding another OS into the mix sounds scary as it would potentially bring in a whole new set of challenges.  So my preference would be something more like: Drop Ubuntu entirely and only test Debian Sid (bleeding edge).  This would more closely mirror what we do with Fedora (except they have two bleeding edges) - i.e. we're not testing CentOS or RHEL in upstream.

[2021-07-28 18:56] HarryMichal commented on #10296
@edsantiago We've got a build in Fedora Rawhide that should contain all the pieces to make the system tests runnable. The build is already in stable so either wait for it to become available to you or get it from [koji](https://koji.fedoraproject.org/koji/taskinfo?taskID=72853363). The build is based on a snapshot of main, so any changes can be easily made.

[2021-07-28 19:01] infiniteregrets commented on #11071
I am confused, what are you exactly referring to? Did you see http://docs.podman.io/en/latest/markdown/podman-secret-create.1.html

[2021-07-28 20:40] tjanez commented on #4123
I have it working on my system but I guess there are no complete instructions for using `docker-credentials-pass` with Podman (yet).

Let me write them here.

## Guide on using `docker-credentials-pass` with Podman

### Install `docker-credential-pass` docker credential helper

Download the latest release from https://github.com/docker/docker-credential-helpers/releases.

Make sure `docker-credent

[2021-07-28 21:01] edsantiago commented on #10296
I'm not seeing that. I see .0.99.2-1.fc35 (from June) in stable. I downloaded the koji build you cited, but can't install:
[code]

[2021-07-28 21:17] HarryMichal commented on #10296
By stable I meant available via `dnf` in Rawhide. I suspect you tried to install the package on Fedora 34?

[2021-07-28 21:20] edsantiago commented on #10296
No, I was on Rawhide. I'm pretty sure it's not in stable nor updates-testing.

[2021-07-28 21:24] HarryMichal commented on #10296
Well, the build is still very fresh. I'm merely reporting what [Bodhi says](https://bodhi.fedoraproject.org/updates/FEDORA-2021-67c627c9af). Curious about the glibc requirement, though. Will test it out.

[2021-07-28 21:26] HarryMichal commented on #10296
The `glibc` update should also be in stable according to [Bodhi](https://bodhi.fedoraproject.org/updates/FEDORA-2021-e4b7110efe). Maybe the change simply needs to propagate first.

[2021-07-28 22:29] mtrmac commented on #4123
Yeah, that’s one of the downsides of using an ephemeral (swap-only) credential file as the default: it can’t reasonably contain a credential helper configuration because it is erased on every reboot. (It shouldn’t be _much_ of a risk, because it is supposed to be only stored in RAM and on the swap; assuming encrypted swap, both is protected using exactly the same kinds of credentials necessary to

[2021-07-28 23:51] sachinkaushik commented on #10864
Hi @flouthoc / @umohnani8,

I tried removing privileged  true from deployment yaml file and  I also removed subuid and subgid from the containerfile, then there is below error.

**Error: cannot setup namespace using newuidmap: exit status 1**

----------------------------------Containerfile-----------------------------------------

FROM quay.io/podman/stable:latest

RUN echo "export isolation=chro

[2021-07-29 00:04] edsantiago commented on #10108
Not true, github-actions, not true at all. You have no idea!

[2021-07-29 02:11] TomSweeneyRedHat commented on #11069
Looking at Buildah quickly, I think we may need to do a vendor dance across skopeo, podman and buildah for all the c/* projects in preparation for Podman 3.3.  This might be part of your problem @lsm5

@vrothberg thoughts on appropriate versions for c/storage, c/common, and c/image at least?

[2021-07-29 02:33] flyn-org commented on #10713
[code]

[2021-07-29 02:51] Kiritow commented on #11071
Podman secrets seem to be available after Podman 3.1.0 but you are using 3.0. Try upgrade it to latest version.

[2021-07-29 05:00] SoniKanthP commented on #11071
@Kiritow  - By default I am able to install only 3.0 version. Kindly help how to install/upgrade 3.1 version

# cat /etc/os-release
NAME="Red Hat Enterprise Linux"
VERSION="8.4 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.4"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.4 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.4:GA"
HOME_URL="https://www.red

[2021-07-29 07:30] vrothberg commented on #11070
IMHO it's important to test on the latest Ubuntu to catch potential regressions early.  Ubuntu is a very popular distro among developers.

I think that Ubuntu is too different from Debian to have a high confidence level.

[2021-07-29 07:44] vrothberg commented on #11069
Both would _downgrade_ the current dependencies in the main branch. c/common is already over 0.41 and
`github.com/containers/buildah v1.21.1-0.20210721171232-54cafea4c933` is actually newer than 1.23.3.  `go mod` is just not able to find a the right tag and chooses v1.21.1 for whatever reason. You can try it with `$ go get github.com/containers/buildah@main` ... it will again use `v1.21.1-jaddajad

[2021-07-29 07:46] vrothberg commented on #11069
Yes, a vendor dance (and hence a new Buildah cut from c/buildah@main) would solve the false alarm.

c/image would be v5.14.x. Not sure for the rest as I am not sure if there's ongoing work or fixes we may need to wait for. Probably something for a Monday PS? I think we can cut a release candidate before the vendor dance.

[2021-07-29 07:50] giuseppe commented on #10713
Thanks.  I can't spot anything wrong in your configuration now.  It is something else blocking the mount.  Do you see any error message in your system logs?  Is the kernel using any custom patch?

[2021-07-29 08:13] #10617 closed

[2021-07-29 08:23] giuseppe commented on #10575
opened a PR: https://github.com/containers/podman/pull/11073

[2021-07-29 08:51] tjanez commented on #4123
Yeah, that is true.

Hopefully, using a credential helper like `pass` in combination with a smartcard-backed GPG key (e.g. YubiKey), one would need to physically connect the smartcard to the system and unlock it via a PIN and the credential helper would stop working after the smartcard is disconnected, so the secrets would be "exposed" to processes running under the same UID for less time.

Thanks

[2021-07-29 10:05] giuseppe commented on #10413
you can grab it here: https://bodhi.fedoraproject.org/updates/FEDORA-2021-2285144517

Since the issue is not related to Podman but to fuse-overlayfs, lets close it

[2021-07-29 10:05] #10413 closed

[2021-07-29 10:36] olivergs commented on #10296
@edsantiago Ok. Seems the toolbox package will need to wait for the next compose, but now the glibc package has landed and you should be able to install our build manually.

[2021-07-29 11:06] #10575 closed

[2021-07-29 11:08] flouthoc commented on #10864
@sachinkaushik What is the error after these steps ? and does it works as it as soon as you add `privileged: true`. Last time we left here i guess https://github.com/containers/podman/issues/10864#issuecomment-879799050

[2021-07-29 11:10] Kiritow commented on #11071
Sorry but I don't have RHEL8 installed. I have removed and install the new version of Podman following `CentOS 8` steps in [Podman Installation](https://podman.io/getting-started/installation) on Rocky Linux 8.4, and it seems to work fine.

[2021-07-29 11:16] sachinkaushik commented on #10864
Hi @flouthoc

We reviewed that implementation with Security team and as per them we can not give privileged true to container.
There is some security breach can happen.

After removing that **privileged: true** , we are getting below error, even thought if we use same id mapping in container file.

**mount /proc to /proc: Operation not permitted**

RUN touch /etc/subgid /etc/subuid \
&& chmod g=u

[2021-07-29 11:24] rhatdan commented on #10791
I believe we are all set, reopen if I am mistaken.

[2021-07-29 11:24] #10791 closed

[2021-07-29 11:25] rhatdan commented on #10787
@tobwen Did you ever get a chance to look at this?

[2021-07-29 11:30] rhatdan commented on #10787
@vrothberg PTAL

[2021-07-29 11:33] rhatdan commented on #3234
This was caused by a kernel update allowing for a new feature.  We saw this coming, and fixed it in F34 and Rawhide, before it hit, or as soon as it hit.  We had a fix for this in F33, but the package was not building, and no one noticed it until people started complaining.

[2021-07-29 11:34] SoniKanthP commented on #11071
Thank you @Kiritow . I followed the installation steps for Centos8 and I can install now Podman latest version (3.2.3)

[2021-07-29 12:00] olivergs commented on #10296
@edsantiago Be careful! the tests still reset podman images and containers (tests execute  podman system reset)

[2021-07-29 12:31] lsm5 commented on #11069
remind me, when's the right time for vendor dance? and how can i help?

[2021-07-29 12:38] lsm5 commented on #11069
ah I notice we don't really need vendor dance, my bad.

@vrothberg so I guess such an issue could occur in future as well? It would be really nice if `@main` could just pick up version from `define/types.go`.

[2021-07-29 12:42] edsantiago commented on #10296
That's OK: this is CI.

Are tests intended to run as root, or rootless? As root, they take a long time in Setup (~10m), then fail with:
[code]

[2021-07-29 12:43] vrothberg commented on #11069
Any moment in the coming days :)

That won't work since `go` looks at Git tree and tries to match the commit against a tag. Depending on the branches, it sometimes picks the wrong one.

[2021-07-29 12:51] infiniteregrets commented on #8314
I wasnt able to reproduce the issue anyhow

[2021-07-29 13:04] olivergs commented on #10296
They are expected to run rootless. Anyway I'm doing a new build because there is a test that is not passing because of a missmatch in the sources. I will tell you when the new build is available

[2021-07-29 13:42] olivergs commented on #10296
Ok. After closer inspection, seems the built we sent you should not fail. I was wrongly doing my testing with an "unclean" machine, but with a clean one, it works without problems.

Anyway, I sent a new build but it now depends on another different version of glibc, so until next compose it will not be installable.

The new build URL is: https://koji.fedoraproject.org/koji/taskinfo?taskID=72907020

[2021-07-29 14:13] siretart commented on #11070
If you want to minimize the number of platforms to build for, I'd suggest to limit to

1. most recent debian/stable release (next release scheduled for **8/14/2021**)
2. most recent ubuntu LTS

For users that prefer a newer version of debian, I'd recommend using the packages from debian/experimental. They will work just fine on every debian/testing installation. The documentation  could point to h

[2021-07-29 14:19] lsm5 commented on #11070
@siretart sorry about any phrasing issues in my original post, this was mainly RE: testing of every upstream PR on ubuntu/debian environments on Cirrus CI. It doesn't involve actually building/shipping packages to end users.

But I guess your suggestion about recent ubuntu LTS + recent debian release would also apply to simple PR testing ?

[2021-07-29 14:32] edsantiago commented on #10296
I don't understand your last comment. Rootless tests pretty much completely fail on toolbox-0.0.99.2^1.git9820550c82bb-1.fc35. I interpret your comment as saying that you found something broken in it, and have fixed it, and I will wait for the next build. If you need a failure log from all the failed rootless tests in the build I ran, lmk.

[2021-07-29 15:18] siretart commented on #11070
Yes, I think that still holds.

Do you have control over the kernel being used in CI? -- Presumably Cirrus CI is running in containers and thus is using a more recent kernel than the distro provides, so we should be fine from that front.

I'd argue that you provide maximum value in form of confidence of platform coverage by being conservative in the choices of platforms at the expense of developer

[2021-07-29 15:20] olivergs commented on #10296
Sorry for the confusion.

First of all. The tests are intended to run rootless.

About the new build:

With the first build we provided, I was running the tests after your last comment to check if all was going as expected. In my case I got errors in one of the tests (not the one you got), so I was taking a look to the output and after some inspection I thought it was wrong due to a source mismatc

[2021-07-29 15:23] shuaiyy opened #11078 "support connect remote server over a proxy"
/kind feature

**Description**

i have a remote podman server in production environment，with a network ACL limit, i have to use a proxy(socks5 or ssh jump server) to visit my service.
but i didn't find a way to set proxy, please give a help, thx!

[2021-07-29 16:08] mheon commented on #11078
@jwhonce PTAL

[2021-07-29 16:17] mheon commented on #11071
Looks like this is answered, so closing.

[2021-07-29 16:17] #11071 closed

[2021-07-29 17:32] ivanov17 opened #11079 "wrong issue"
Please, delete the issue, it's a report for `containers/ansible-podman-collections`. Sorry.

[2021-07-29 19:13] #11079 closed

[2021-07-29 21:00] hholst80 opened #11081 "docker-compose exec container error"
**Description**

docker-compose exec won't work fails with

[code]

**Steps to reproduce the issue:**

1. docker-compose up -d

2. docker-compose exec container sh

**Describe the results you received:**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

Minimal example doc

[2021-07-30 00:09] asottile commented on #8086
this is still an issue

[2021-07-30 00:10] TomSweeneyRedHat commented on #11069
@vrothberg @mheon we need to cut Podman v3.3.0 rc by end of day Monday.  I've started the vendor dance already.

c/common - v0.41.0  - branch v0.41
c/image - v5.14.0 - branch release-5.14
c/storage - v1.33.0 - branch release-v1.33

If anything is wrong with the above let me know.  Currently having issues with Skopeo's make, Buildah PR up, and Podman's in progress.

[2021-07-30 06:37] eriksjolund commented on #10039
One way to document how to run Podman in a Slurm job could be to create a few [butane](https://github.com/coreos/butane) configuration
files that defines a Slurm cluster running Fedora CoreOS.

 I am trying to create a GitHub Action
https://discussion.fedoraproject.org/t/demo-boot-fedora-coreos-in-a-github-action-from-a-butane-config/31556 that boots up multiple VMs from [butane](https://github.co

[2021-07-30 07:28] vrothberg commented on #11069
@TomSweeneyRedHat, v0.41.0 is wrong. We need a new v0.42. See email.

[2021-07-30 07:30] vrothberg commented on #11069
I think we can safely close the issue here given it's a false alarm.

[2021-07-30 07:30] #11069 closed

[2021-07-30 13:01] ImanGharib opened #11083 "Build a Dockerfile as rootless not possible via Gitlab"
I try to build an Image from Docker file via Gitlab like this:
`deploy:
  stage: deploy
  script:
    - echo "the project directory is - $CI_PROJECT_DIR"
    - cat $CI_PROJECT_DIR/README.md ; echo
    - echo "and where am I? - $PWD"
    - echo "CONTAINER_OWNER=$(whoami)"
    - echo "Start building image for client"
    - cd client
    - podman build -t lm-client-dev .
    - echo "Start creating co

[2021-07-30 13:28] mheon commented on #11012
@jwhonce PTAL

[2021-07-30 13:37] ctml91 opened #11084 "podman image not known"
**Description**

Podman is throwing errors that the image specified in run command is not known. This happens for multiple images. Podman pull works just fine.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Podman throws an error saying the image is not known.

**Describe the results you expected:**
Podman is both aware of how to pull the image during a podman ru

[2021-07-30 13:54] vrothberg commented on #11084
Thanks for reaching out!

We had a couple of regressions in image handling, all of which have been fixed in the meantime (including this bug).  Please update to podman v3.2.3.

[2021-07-30 13:54] #11084 closed

[2021-07-30 15:48] #10361 closed

[2021-07-30 16:06] jwhonce commented on #11012
@mattymo @mheon This is as designed from the docker API [build documentation](https://docs.docker.com/engine/api/v1.41/#operation/ImageBuild),  `Content-Type` has one valid value `application/x-tar`.

From https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type :

We validate that header. After reviewing the docker code, they do not. So you may use any value for that header with doc

[2021-07-30 16:20] jangel97 commented on #9131
Hello there,

I believe this has not been fixed yet.
[code]
Returns:
[code]

My environment:
[code]
Podman package has been installed from AppStream CentOS 8 repository.

[2021-07-30 16:23] jwhonce commented on #11012
@mheon As of 87a78c059dc2fb72ba54805d5488f3e619ae46f1, the `API-Version` and `Libpod-API-Version` headers are written on every response before the endpoint handler code is run. https://github.com/fabric8io/docker-maven-plugin/issues/1330#issuecomment-690291669 pre-dates this change in our code.

[2021-07-30 17:17] eriksjolund commented on #11063
[code]
@rhatdan Maybe a typo?  Maybe `sudo -i` instead?

[code]

[2021-07-30 17:57] mheon commented on #11042
The solution that Toolbox ended up using was to mount `/etc/` from the host into the container at `/host/etc/` and then symlink `/etc/resolv.conf` in the container to `/host/etc/resolv.conf` - because the entire `/etc/` directory is bind-mounted in, changes are captured.

[2021-07-30 17:58] jwhonce commented on #11078
@shuaiyy Currently we do not provide a transparent way to do what you ask.

As a work around that might work, run ssh port forward (-L) between local host and bastion host which runs another ssh command on the bastion to forward (-L) the same port to the production environment anchored to port/socket. Then configure your podman client to connect to the local socket.

[2021-07-30 18:02] mheon commented on #11041
I believe @Luap99 looked into something very similar to what you are asking for (containers created directly from host content, without the use of an image), but eventually abandoned the idea because of permissions and SELinux issues.

A potential alternative is `--rootfs` which uses a directory from the host, instead of an image, as the root filesystem of a container.

[2021-07-30 18:09] mheon commented on #9131
This is deliberate - `--privileged` implies all capabilities are added, so the flags are mutually exclusive. Is there a reason why you want to use the two flags together?

[2021-07-30 18:19] mheon commented on #11083
Can you provide the Dockerfile that Podman is being instructed to build? Really need to see the `FROM` line.

[2021-07-30 18:58] Luap99 commented on #11041
I also used `--rootfs`, the idea was the following:
[code]
This allowed me to keep the host mounts while mounting a new tmpfs to `/run` to make it writeable for the rootless user in the container.

[2021-07-30 19:04] ImanGharib commented on #11083
sure:
`FROM node:16.5-alpine3.14

WORKDIR /usr/src/app

COPY package*.json /usr/src/app/package.json
RUN npm install

COPY . /usr/src/app

EXPOSE 3000

# start app
CMD ["npm", "run", "start"]`

[2021-07-30 20:24] mheon commented on #11083
[code]

From your `podman info` - looks like UID and GID mappings are not set up.

Please try running `podman system migrate`

[2021-07-31 02:36] runlevel5 commented on #8323
Thanks @tonykay, I've run into the same issue on my macOS Big Sur.

I think this article https://www.redhat.com/sysadmin/podman-clients-macos-windows should be updated accordingly

[2021-07-31 10:46] StayPirate commented on #11042
In [secbox](https://github.com/StayPirate/secbox) I took a different approach, it maintains (syncs) it's own copy of the host's `/etc/resolv.conf` as explained in [this commit](https://github.com/StayPirate/secbox/commit/ce2a46332222a07796624cc9c3466229a1592848). TBH I don't know how toolbox works, but if you use it by spawning a shell and keep working from there, then secbox's solution won't work

[2021-07-31 11:58] millerthegorilla commented on #11051
I finally found some time, and no the secret environment variable is not available in following exec sessions.   I like the fact that this is the case, as this means the variable doesn't persist, but is available for a script that runs as the dockerfile CMD.
I run the podman run command with -d to detach, and then run the exec command.   Currently (lazily) I am passing the maria root password as a

[2021-07-31 16:19] infiniteregrets commented on #10282
@rhatdan  This does not look like an issue anymore. Previously when I tested this I was on an ubuntu 20.04 Image inside a 20.10 image which installs a very old podman version. Picking up the Dockerfile listed here https://www.redhat.com/sysadmin/podman-inside-container I took the following steps:
I created a another Dockerfile inside this fedora container running in interactive mode. The file look

[2021-07-31 17:34] infiniteregrets commented on #9866
Looks like the manpage hasnt been updated yet, should I do that? [This](https://github.com/containers/podman/blob/main/docs/source/markdown/podman-rmi.1.md) is the correct one right?

[2021-08-01 01:22] shuaiyy commented on #11078
@jwhonce thanks for reply.
the solution may work, but not general, it's difficult to ask every my user to do that.
i try to import this project in my golang project and build a proxied `bindings.Connection`, but the `clientKey` is unexported， i can't add my proxied Connection object into a ctx with ``

[2021-08-01 07:14] hholst80 commented on #11081
Fedora 34 vanilla install; podman rootless via systemd as a user service; regular 0755 root:root flags.

[2021-08-01 10:10] rhatdan commented on #10750
I believe that this can be done with scripting and not necessary to build it into the tools.  Reopen if you disagree.

[2021-08-01 10:10] #10750 closed

[2021-08-01 10:20] rhatdan commented on #4123
This screams out for a Blog to be written.  Podman and Credential helpers.

[2021-08-01 10:22] rhatdan commented on #10790
@AkihiroSuda @Luap99 @giuseppe Any thoughts on this?

[2021-08-01 10:30] rhatdan commented on #10762
Yes I believe by default we ignore the graphRoot and runRoot settings in rootless mode.  Basically those fields are for rootfull and we automatically force the settings in rootless mode to the users homedir unless rootless_storage_path is set.

@giuseppe Any other comment on this?

[2021-08-01 11:08] rhatdan commented on #8579
@EduardoVega What is going on with this?

[2021-08-01 11:09] rhatdan commented on #8223
@mtrmac @zgrossbart where do we stand with this?

[2021-08-01 11:10] rhatdan commented on #8086
@mheon Any progress on this?

[2021-08-01 11:27] rhatdan commented on #9866
Yes please fix it.

[2021-08-01 11:31] #10833 closed

[2021-08-01 11:32] rhatdan commented on #6265
@vrothberg @mtrmac PTAL

[2021-08-01 11:49] rhatdan commented on #11063
Yup, sorry.

[2021-08-01 14:25] bitstrings commented on #8086
I've been using `3.1.2` for awhile and I don't get the issue. Maybe it's my use case only.

[2021-08-01 14:26] hanm2019 opened #11087 "Failed to start a container by RESTFUL api"
/kind bug

**Description**
I want to use podman RESTFUL api to create and start a image , such as `docker.io/library/hello-world:latest`, after I create the container, the container status is create, then I use podman API to start this container, the container died immediately.

**Steps to reproduce the issue:**

1. create a container, the api is `http://127.0.0.1:8888/v3.0.0/libpod/containers/cre

[2021-08-01 15:52] qhaas opened #11088 "GPU Support"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman users can achieve [rootless GPU acceleration with nvidia GPUs using the nvidia-container-runtime](https://www.redhat.com/en/blog/how-use-gpus-containers-bare-metal-rhel-8).  This has limitations.  [It requires setting subuids for each user needing GPU acceleration](https://github.c

[2021-08-01 16:31] rhatdan commented on #9258
@srcshelton @cdoern @mheon What should we do with this issue?

[2021-08-01 16:32] rhatdan commented on #9181
@xordspar0 Any progress?

[2021-08-01 16:43] rhatdan commented on #10282
Ok I am going to close.

[2021-08-01 16:43] #10282 closed

[2021-08-01 22:29] codefromthecrypt opened #11089 "cleanup PATH on MSI uninstall"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Right now, podman is added to the PATH in windows on install, but this is left after uninstall

**Steps to reproduce the issue:**

1. Install the MSI

2. Uninstall it

3. Look at the PATH

**Describe the results you received:**
the PATH still includes the INSTALLDIR

**Describe the results yo

[2021-08-02 00:08] codefromthecrypt commented on #11089
looks like the Environment node is tracked here.. I guess we can help that or until that we can consider a setx revert

[2021-08-02 00:10] codefromthecrypt commented on #11089
actually looks very close to merge! https://gitlab.gnome.org/GNOME/msitools/-/merge_requests/42

[2021-08-02 02:28] chenk008 commented on #11038
In the docker-container, there is a daemon agent which can mount  a container image to some directory as readonly. I want to reuse this mounted directory to start a nested-container.

I hope Podman can start the nested-container based on the image mounted directory.

![image](https://user-images.githubusercontent.com/2086945/127796611-49e4b5cd-6c40-4d1c-842a-2039ee302fad.png)

[2021-08-02 07:47] Luap99 commented on #11089
Feel free to open a PR if you know how to revert this with setx on uninstall. Otherwise we are blocked until `Environment` is supported by wixl.

[2021-08-02 07:49] vrothberg commented on #10792
registries.conf can also read from $HOME/.confing/containers/registries.conf.d. Note 100 percent sure about containers.conf.

While it would be nice to have consistency for all configs, some of them grew historically with requirements from other tools.  I'd be terrified of changing the loading behavior and breaking consumers.

[2021-08-02 08:18] rlpowell commented on #8269
I disagree that this is stale, in the sense that as far as I know it's still a problem.

[2021-08-02 08:28] minecraft2048 opened #11090 "registries.conf redirects docker.io to quay.io but quay.io is incomplete"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The default(?) `registries.conf` links docker.io to quay.io:
[code]
but quay.io don't have all the docker images that docker.io have, so sometime `podman pull` fails with manifest unknown

**Steps to reproduce the issue:**

1. Install and setup podman

2. `podman pull docker.io/library/postgr

[2021-08-02 08:34] vrothberg commented on #11090
Thank you for reaching out, @minecraft2048!

That is correct.  This registries.conf is meant to be used in the Podman tests only.  The "redirect" to quay.io/libpod catches only the images used in the tests and is not meant to be a complete mirror of docker.io/library.

[2021-08-02 08:34] #11090 closed

[2021-08-02 09:33] codefromthecrypt commented on #11089
having failed at the former with a very slow windows laptop, I'll go for the latter!

[2021-08-02 10:02] Luap99 commented on #11087
The hello-world image runs a command which exits immediately, so this is expected. Try with the `docker.io/library/alpine` image and add `"command": ["top"]`. This container should stay running.

[2021-08-02 11:13] mtrmac commented on #8223
Per https://github.com/containers/podman/issues/8223#issuecomment-864090528 , `podman manifest push --sign-by` should not use `pushOptions.ImageListSelection = cp.CopySpecificImages` with empty `pushOptions.Instances`; then c/image can start rejecting that.

---

There may be other problems that also need fixing.

[2021-08-02 11:24] vrothberg commented on #11088
Thanks for reaching out, @qhaas.

I am convinced that we can get it to run with Podman as well.  In most cases, we need to bind mount a number of libraries into the container along with the specific devices. User can do that manually at the moment.  Singularity seems to have some special flags that do much of the heavy lifting for the user (e.g., `--rocm`).

We always welcome contributions, so fee

[2021-08-02 11:31] olivergs commented on #10296
@edsantiago The latest toolbox build is available in rawhide today. I've checked the tests and they run without any errors.

https://gist.github.com/olivergs/e6a99cbdb4263724c00b1c940bc02b22

Tell us if it works for you or if there is something you need from us to push this forward.

[2021-08-02 12:34] #11087 closed

[2021-08-02 12:37] Luap99 commented on #10831
@jwhonce You added the In Progress label, did you ever worked on this?

[2021-08-02 12:54] cdoern commented on #9258
@rhatdan thanks for the poke, one idea I had was to implement the other stats as I did with avg cpu %: **reset each time you call stats but is persistent as long as the stats stream is running**. Not sure if that is what @srcshelton would like, but the way we store stats isn't conducive to any other solution I don't think

[2021-08-02 12:57] edsantiago commented on #10296
[code]

[2021-08-02 13:53] umohnani8 commented on #8269
Yup, it is not stale. I have a PR in progress https://github.com/containers/podman/pull/10589

[2021-08-02 14:04] rhatdan commented on #10712
Since we have had no feedback in the past month, I am going to close,  If more feedback happens we will reopen.

[2021-08-02 14:04] #10712 closed

[2021-08-02 14:07] olivergs commented on #10296
Ok. our testing environment only differs in the kernel version.

Can you give us the output of

`toolbox create -v`

Thanks

[2021-08-02 14:09] edsantiago commented on #10296
[code]

[2021-08-02 14:20] kallisti5 commented on #10671
seeing this one as well..  this is kinda a big bug :-|

[2021-08-02 14:51] mheon commented on #11088
My concern about adding a flag for this is that I don't know if we can reasonably create a configuration that will work on all hosts - I don't know if there are guarantees that these libraries always exist at the same locations, and with permissions such that we can consistently access them.

[2021-08-02 14:52] Diniboy1123 commented on #10463
I will just close this and see if slirp4netns will ever fix the issue in the other ticket opened at them.

[2021-08-02 14:52] #10463 closed

[2021-08-02 15:06] olivergs commented on #10296
Seems that for some reason Toolbox is not able to resolve $XDG_RUNTIME_DIR environment variable.

Could you echo the variable? Usually should throw /run/user/UID, but I suspect in your case is empty.

[2021-08-02 15:37] rhatdan commented on #9258
Works for me.

[2021-08-02 15:46] jwhonce commented on #10831
@Luap99 Code written. Writing tests now.

[2021-08-02 16:32] jwhonce commented on #11078
@shuaiyy How about adding `bindings.ConnectionWithClient(ctx context.Context, client *http.Client) (context.Context, error)`? It would not break encapsulation or any current users.

[code]

[2021-08-02 16:39] edsantiago commented on #10296
Setting `$XDG_RUNTIME_DIR` helps, but not entirely:
[code]
I would encourage you to set a default `$XDG_RUNTIME_DIR` within toolbox itself, as podman does. Not all environments have that defined (e.g. `su - useraccount` from root).

[2021-08-02 16:46] olivergs commented on #10296
The error in the test 25 seems like a connection error when caching images at (1) setup step.

About the XDG_RUNTIME_DIR We're working to fix it at our side. Seems we are checking for the root user and for normal users cases, but that case you're describing was not implemented. As soon as we fix it I will build a new release for you to test.

[2021-08-02 16:48] edsantiago commented on #10296
I ran tests twice before reporting, once with TMPDIR unset, once with `TMPDIR=/var/tmp`; so whatever the error is, it seems to be consistent. Ping me on IRC (esm @ both Libera and RH internal) if you'd like access to the test VM.

[2021-08-02 17:15] #10108 closed

[2021-08-02 17:45] awhileback opened #11095 "Podman struggles with string delimiters in env files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

string quoting is shaky depending on the notation used (single or double quotes) particularly when passing env files.

**Steps to reproduce the issue:**

1. build a simple image with a distro base, its binary python3, django, apache, and mod_wsgi. Have a Django app in "app" in your build fold

[2021-08-02 17:51] rhatdan commented on #11095
I am not sure what you see us doing wrong.
[code]
Matches
[code]

[2021-08-02 18:06] awhileback commented on #11095
Build box after importing the env file, in bash:

[code]

Container after importing the env file, in bash:

[code]

The above are not the same, evidenced by the fact that the single quote delimiter in the value of DJANGO_SETTINGS_MODULE made it to Apache and caused the server error:

[code]

[2021-08-02 18:26] mheon commented on #11081
Can you run containers with the Podman CLI (`podman run -t -i alpine ls` as an example)? Or does that error too?

[2021-08-02 18:31] xordspar0 commented on #9181
Yes, I have been making slow progress in [my branch](https://github.com/xordspar0/podman/tree/configMapVolumes), but it's not done yet.

[2021-08-02 19:14] umohnani8 commented on #10864
@sachinkaushik I looked at the pod yaml and Dockerfile you shared and tried out your use case on an OpenShift 4.8 cluster.

First I built a new image with the python libraries installed (I simplified it a bit):
[code]
There shouldn't be  a need to modify the /etc/subuid and /etc/subgid files, those should already exist with the correct ranges.

Then I created a rootless unprivileged pod with the i

[2021-08-02 19:33] srcshelton opened #11098 "`podman unpause` error output inconsistent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

So the issues here appear to be:

1. The "Error: " prefix from the second line of the `unpause` sub-command output seems to have got lost (or was correctly removed from second line but not the third?);
2. Is it actually an error to have unpaused containers when you run `unpause --all`

[2021-08-02 19:52] mheon commented on #11098
The second line isn't really having any output dropped, so much as the last line is having `Error:` prepended - if you had 6 containers error, only the last one would have an `Error` prefix. We can change this over to have every container error printed the same and print a trailing `Error: 5 containers failed to unpause` line, I suppose?

Otherwise, the `unpause --all` bit does sound reasonable -

[2021-08-02 20:53] rhatdan commented on #11095
We are following the behavior of Docker.  So your environment file should not include the quotes.

[2021-08-02 20:53] #11095 closed

[2021-08-02 21:56] edsantiago commented on #10003
Ha ha. Seeing it again. podman-3.2.3-2.fc34  conmon-2.0.29-2.fc34  crun-0.20.1-1.fc34  containers-common-1-21.fc34  .12.10-300.fc34

Setup was: run root gating tests, first normal, then podman-remote; then run rootless gating tests, first normal then podman-remote. Test failed during podman-remote testing:
[code]

[2021-08-02 22:30] jwhonce commented on #11098
@mheon The pre-pending behavior is a holdover from podman v1. A number of commands print n-1 errors without prefix and then the "last" error gets decorated. I am fine with all errors getting the prefix, but we should do it for all commands not just this one.

[2021-08-02 22:49] srcshelton commented on #11098
Ahh, I wondered if that'd be the case.

I'd +1 adding 'Error: ' to all relevant lines, because if you're string-parsing the command output (which I'm not, but it sounds like a use-case) then it's much easier to find all of the potential errors you might want to respond to that way.

But also yes, like `stop -a` it'd be helpful if containers already in the desired state didn't generate warnings/err

[2021-08-02 23:40] jwhonce commented on #10053
@rhatdan Researching into how to implement this and still stream in and out of handler. Holding whole payload in memory seems wasteful.

[2021-08-03 06:45] ImanGharib commented on #11083
Thanks a lot for your answer. The problem was that the runner for GitLab is running in a VM which I was not aware of. So the changes I made on the server had no effect on that. I added the uid in VM and it works.

[2021-08-03 06:45] #11083 closed

[2021-08-03 07:16] Zhang21 commented on #8472
You should update your runc version, such as:

[code]

[2021-08-03 07:47] shuaiyy commented on #11078
@jwhonce great idea!

about the example  detail,  `bindings.NewConnection(...)` always return a nil `conn`,  cause `pingNewConnection`  will fail without a custom `http.client`.

how about  this one `bindings.NewConnectionWithClient(ctx context.Context, uri string, client *http.Client)(context.Context, error)`

[2021-08-03 08:09] hholst80 commented on #11081
The stack was started with podman, yes.

[2021-08-03 09:09] sachinkaushik commented on #10864
Hi @umohnani8 ,

I tried with your container image **(quay.io/umohnani8/mypodman)** that you have used and also added **runAsUser: 1000** in deployment yaml file. But still same /proc error we are getting.

We are using Openshift **4.7.16** version.

[2021-08-03 09:09] akostadinov opened #11107 "podman should use graphRoot/tmp for temporary image storage"
/kind bug

**Description**

I mounted  a new volume at graphRoot but pulling images still eats up storage under `/var/tmp`. I think it makes much more sense to use `$graphRoot/tmp` for temporary storage instead. That directory is already automatically created. I see no reason that user would expect storage outside `graphRoot` to be used.

**Steps to reproduce the issue:**

1. `mount volume /home/f

[2021-08-03 09:27] flo-at commented on #8719
I'm having the same issue on podman 3.2.2 and conmon 2.0.29 **for rootless mode** (see the `User=` and `Group=` lines).
My systemd service file looks like this:
[code]
I tried with `--cgroups=no-conmon` and without with the same result.\
The log has these lines:
[code]
Systemd does not get the notification and restarts the service.\
When I remove the `User=` and `Group=` lines it works as expected

[2021-08-03 11:39] proutrc commented on #11088
Is an option of a configuration file possible? Similar to *liblist.conf files in Singularity (looks like per vendor config files - Nvidia and AMD)? This allows the admins of the system to configure the access for their users. In this case, Podman shouldn't have to assume anything about location or permissions.

[2021-08-03 11:45] olivergs commented on #10296
Ok. Let us fix first the XDG_RUNTIME_DIR problem as it has some other things that depend on it and will require some discussion prior to make decisions.

As soon as it is fixed I will do a new release for that and then test it in the machine you are using. Thanks @edsantiago .

[2021-08-03 11:53] edsantiago commented on #10296
Wait, wouldn't it make sense to look into the not-ok-25 error before making a new release? That failed even with XDG defined.

[2021-08-03 12:15] bioinfornatics opened #11108 "Fail to get a runnanble gitlab container with rootless user"
Dear,

Firstly thanks for your amazing works on `podman`. Currently I encounter some problem while orchestration container deployment  through Ansible .

I create a `gitlab` user to run container in rootless env:

[code]

And I would like to use this user to run a `gitlab` container such as:

[code]

But I encounter 2 problems once logged as `gitlab` user:

1.  Shell env has wrong value
[code]

So

[2021-08-03 12:16] alexisfrjp opened #11109 "[rootless build]: error while loading shared libraries: /lib64/libc.so.6: cannot apply additional memory protection after relocation: Permission denied"
/kind bug

I try to build an image from a Dockerfile without using root (rootless) on Centos 8 Stream.

* Dockerfile:
[code]

**Describe the results you received:**

[code]

**Output of `podman version`:**

[code]

**IDs:**

[code]

**Output of `podman info --debug`:**

Fresh install, unaltered configuration.

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2021-08-03 12:19] vrothberg commented on #11088
@proutrc, you can use containers.conf (see `man containers.conf`) which supports all kinds of settings.  As mentioned in the man pages, we can point Podman to a custom file via the `CONTAINERS_CONF` environment variable.  So if you have a custom containers.conf for running with NVIDIA GPUs, you do a `$ CONTAINERS_CONF=/path/to/nvidia.containers.conf podman run ...`.

[2021-08-03 12:27] olivergs commented on #10296
You're right. I will contact you on IRC later and take a look at that. Thanks for the heads up.

[2021-08-03 12:30] alexisfrjp commented on #11109
Solved from [11) Changing the location of the Graphroot leads to permission denied](https://github.com/containers/podman/blob/main/troubleshooting.md).

I don't know why these SElinux rules aren't present by default.
[code]

[2021-08-03 12:30] #11109 closed

[2021-08-03 12:33] #11100 closed

[2021-08-03 12:37] rhatdan commented on #10671
Are you using the main repo or an older podman.  If it fails in Main, please open a new issue.

[2021-08-03 12:50] alexisfrjp opened #11112 "Error: invalid config provided: rootless containers and pods cannot be assigned static MAC addresses"
How to use `--mac-address` with a rootless container?

* `podman run --rm -it --mac-address=02:23:45:67:89:ab centos:latest`

I get this error: `Error: invalid config provided: rootless containers and pods cannot be assigned static MAC addresses`

[2021-08-03 12:57] Ristovski commented on #9006
@rhatdan I can confirm this is still an issue with `podman version 3.2.1`. Any ideas?

[2021-08-03 13:12] Luap99 commented on #11112
You have to use this together with `--network ...`

[2021-08-03 13:12] #11112 closed

[2021-08-03 13:49] alexisfrjp commented on #11112
By default it should be `--network=slirp4netns`,
I also tried with `--network=host` and `--network=private` but I get the same error.

[2021-08-03 13:52] Luap99 commented on #11112
Sorry, I forgot to mention that you need to use a cni network, create one with `podman network create ...` and add `--network <netname>`

[2021-08-03 13:54] alexisfrjp commented on #11112
I was doing it but I need to build the `rootless-cni-infra` before testing. It should work.
Thank you for your help.

[2021-08-03 13:56] Luap99 commented on #11112
With podman v3.2 and newer you no longer need the rootless-cni-infra image. I recommend updating if possible.

[2021-08-03 14:00] alexisfrjp commented on #11112
Thank you for that info!
I just tried and it works, perfect!

[2021-08-03 14:21] ccebinger opened #11115 "podman 3.0.2-dev / RockyLinux 8.4 / rootless container / no IPV4-Port, only IPV6-Port."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There are only IPV6-ports open, although IPV6 is disabled in the virtual machine.

**Steps to reproduce the issue:**

1. podman run -r -p 8080:80 CONTAINERIMAGE

2. netstat -tulpen
[code]
**Describe the results you received:**
Only IPV6-Ports are open.

**Describe the results you expected:**

[2021-08-03 14:30] bioinfornatics commented on #11108
so after read this bug report: https://gitlab.com/gitlab-org/omnibus-gitlab/-/merge_requests/1053
It seem that is not a podman bug but more a containers configruation with ulimit.
So i have to find how to configure podman thriugh ansible with this documentation: https://docs.ansible.com/ansible/latest/collections/containers/podman/podman_container_module.html#parameter-ulimit

[2021-08-03 14:35] Ristovski commented on #9006
@rhatdan I just confirmed this still happens with `podman 3.2.1`. Any ideas?

[2021-08-03 14:40] vrothberg commented on #10003
I'll take a look :vulcan_salute:

[2021-08-03 14:42] #11108 closed

[2021-08-03 14:47] Ristovski commented on #9006
Just recreated this on a fresh build of `podman 3.3.0` as well.

[code]

<details>
<summary>Debug log</summary>

[code]

</details>

[2021-08-03 15:15] srcshelton commented on #9258
Hypothetically with this solution, would it be possible to have a lightweight daemon service keeping the steam (many steams for numerous containers?) alive, and then persist and offer-up these stats for the lifetime of the process?

The ideal would be to somehow and at any point find out the average CPU usage of a container over its entire lifetime to date - but if another collector process is nee

[2021-08-03 16:21] Luap99 commented on #11115
Can you access the port via `127.0.0.1:8080`? I think this is an error with `netstat`, `ss -tulpn` lists the port correctly.

[2021-08-03 16:32] Luap99 commented on #11115
Quote from the netstat man page

       This program is mostly obsolete.  Replacement for netstat is ss.  Replacement for netstat -r is ip route.  Replacement for netstat -i is ip -s link.  Replacement for netstat -g is ip maddr.

[2021-08-03 16:32] #11115 closed

[2021-08-03 16:37] umohnani8 commented on #10864
@sachinkaushik I think I know what your issue is, looks like you are setting selinux labels in your pod
[code]

You need to disable selinux for podman inside a k8s pod to work fine. Please remove the selinux label and try again. The two thinks that you need to run podman inside a container in unprivileged mode is to use the /dev/fuse device and disable selinux.

[2021-08-03 17:18] rhatdan commented on #9006
@giuseppe PTAL

[2021-08-03 17:25] rhatdan commented on #9258
I don't see this as a requirement for Podman.  There is some information available from cgroups for this, I believe.  I am thinking cgroup accounting.  @nalind @giuseppe Any ideas?

[2021-08-03 17:37] rhatdan commented on #11038
@giuseppe @nalind @rhvgoyal WDYT?

[2021-08-03 17:48] qhaas commented on #11088
It would be a pain, but that is how Singularity does it with [nvidia](https://github.com/sylabs/singularity/blob/master/etc/nvliblist.conf) and [AMD](https://github.com/sylabs/singularity/blob/master/etc/rocmliblist.conf).   If the software licenses permits, could just use those.  I'd also recommend the ability to override said lists with another list at the regular user level (e.g. a setting in a

[2021-08-03 17:58] rhatdan commented on #11107
If you point TMPDIR environment variable at that location, does everything work ok?

[2021-08-03 18:07] rhatdan commented on #11109
If you update to the latest container-selinux, this should happen automatically.

[2021-08-03 18:33] cevich commented on #11070
Yes

Remember, we're talking _just_ about upstream developer-centric ("shift-left") testing. This doesn't affect downstream, they're free to run on whatever platform(s) are relevant.  So developer-convenience really is the name of the game, up to a point of balance vs 100% downstream testing.

---

Since I'm largely the one maintaining the VM and container images we use for testing, I can say that

[2021-08-03 18:34] fatherlinux opened #11121 "No --mount option with "podman build" nor Containerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman should support the --mount option with the "podman build" command and in the Containerfile using a RUN directive (similar to secrets)

**Steps to reproduce the issue:**

1. Build a Containerfile like this:
FROM registry.access.redhat.com/ubi8/ubi
RUN --mount=type=image,source=regis

[2021-08-03 18:50] cevich commented on #11089
Will the "new way" break in the older tooling?

Reason I ask is, we test the windows release build in CI...which has tooling bundled in at VM Image build time.  In other words (if it's not backwards compatible), we may need to coordinate a XML change with updated VM images (with new tooling).  I can help with that part, once the tooling is installable in Fedora.

[2021-08-03 18:55] rhatdan commented on #11121
@ashley-cui PTAL, weird thing here is that this is going cross platform.  Currently we get --mount support from buildah,  Buildah does not currently understand a mounted image.

[2021-08-03 18:59] #10052 closed

[2021-08-03 19:01] Ristovski commented on #9006
Tested with kernel `5.14-rc4`, can confirm that it still doesn't work with rootless mode.

[2021-08-03 19:33] ashley-cui commented on #11121
I don't think either of these are implemented in buildah? `buildah bud -h` doesn't show a --mount flag, and an image as a RUN mount is supported yet; Docker doesn't have the mount=type=image option in the dockerfile spec either.

 I'd need more clarification on what this would mean too.

I don't think RUN secrets are wired into podman yet either, only in buildah.

[2021-08-03 19:37] Ristovski commented on #9006
Isolated this to a `fuse-overlayfs` issue: https://github.com/containers/fuse-overlayfs/issues/311#issuecomment-891937228

[2021-08-03 19:53] rhatdan commented on #11107
One issue with pointing TMPDIR at /var/tmp is we get guaranteed cleanup from systemd at some point. Pointing at our own tmp means we need to pay attention to it.  (Hint we don't).

[2021-08-03 20:43] rhatdan commented on #11121
Yes the RUN Secrets will get vendored into Podman as soon as we vendor, which should have just happened podman 3.3

type=image is a podman specific thing.

We have podman image mount ...  Which is what Scott is thinking.

[2021-08-03 21:15] edsantiago opened #11123 "New networking flake (root, compose)"
New [flake](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6225438482628608/html/compose-podman-fedora-34-root-host.log.html). Looks identical to #10052, except this is root. It is also happening on my new PR, which sits on top of #11091.
[code]

[2021-08-03 22:37] codefromthecrypt commented on #11089
well the feature isn't new to windows, just the portability wasn't added to GNOME msitools.

So whatever runs the commands here to generate the MSI will need to have the latest version of msitools once that's updated, synchronously or ahead of merging here.

I doubt it would work with old versions as msitools tends to crash on anything it doesn't expect.

[2021-08-04 00:07] mlegenovic opened #11124 "If container started via REST API timezone setting from containers.conf is not considered"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If container is started via REST API (compat or libpod), timezone setting from containers.conf (`tz = "local"`) is not taken into account.

**Steps to reproduce the issue:**

1. Create a container with `libpod/containers/create` or `containers/create` endpoint.
2. Inspect created container wi

[2021-08-04 02:17] EduardoVega commented on #8579
@rhatdan I haven't been able to get any progress for the last weeks due to the lack of time, but I should be able to start working on this and finalize what I have done so far for the initial PoC

[2021-08-04 05:26] sachinkaushik commented on #10864
@umohnani8

We have changed seLinuxContext and fsGroup type from  mustRunAs to runAsAny. After making that change there is no seLinuxOptions in pod yaml file. Also we have checked seLinex is already disabled and we have also created fuse-device DeamonSet as well as mentioned in below link.

https://www.redhat.com/sysadmin/podman-inside-kubernetes(Rootless Podman without the privileged flag)

Attac

[2021-08-04 06:43] vrothberg commented on #11124
Thanks for opening the issue, @mlegenovic!

These defaults are commonly set on client-side (i.e., `podman-remote`) but it's worth discussing if the server should complete unset fields. @rhatdan_ PTAL.

[2021-08-04 06:59] giuseppe commented on #11038
`--rootfs` is backend agnostic as it doesn't have to deal with overlay itself, the user provides the final root for the container.

With the model above, we probably want to implement it in containers/storage to use the overlay driver before it can be exposed in Podman.

I think it is an useful feature.

[2021-08-04 07:07] giuseppe commented on #9258
would that just require the cpu usage and how long the container is running?

We can grab the first information from cgroups and the second one from the OCI runtime (or reading directly `starttime` from `/proc/$CONTAINER_PID/stat`)

[2021-08-04 07:15] giuseppe commented on #9006
let's follow up on the fuse-overlayfs issue

[2021-08-04 07:20] giuseppe commented on #9006
nevermind my last comment.  The error:
[code]

happens in Podman.

Could you run something like:

`podman unshare strace -s 1000 -e lstat -Z -f podman container run --rm -it hello-world`

and show the output?

What file system are you using for `/home/rafael`?

Since both this issue and the one reported for fuse-overlayfs happen on Gentoo, I guess it is something related to it

[2021-08-04 07:36] ccebinger commented on #11115
Thank You.

[2021-08-04 07:44] Luap99 commented on #11115
@ccebinger Do you need more help, I saw your email?

[2021-08-04 07:57] Luap99 commented on #11123
Just to be clear, this is not new. You have linked these flakes also in #10052, [example log](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5865571783802880/html/compose-podman-fedora-34-root-host.log.html). My PR was intended to only fix the rootless issue.

This issue also happens in the rootful remote system tests, see https://github.com/containers

[2021-08-04 08:00] ccebinger commented on #11115
No. It works now for me.

[2021-08-04 08:34] akostadinov commented on #11107
TMPDIR works. But then you have to have storage space on root filesystem as well on specially mounted container filesystem. For example oracle image is around 4GB and it can't fit standard fedora qcow2 image. Also if `TMPDIR` is used then still user has to deal with clean-up.

[2021-08-04 09:33] Ristovski commented on #9006
@giuseppe Here is the strace log, doesn't seem to have anything interesting. My whole drive is using ext4.

I have really no clue what could be causing this. I've tested multiple `fuse-overlayfs` versions, including master.
This is the one I am running at the moment:

[code]

I have also attached a strace of manually running

<details>
<summary>Strace log </summary>

[code]

</details>

<details>

[2021-08-04 09:51] ssbarnea opened #11126 "macos: ERRO[0000] finding config on system: unable to resolve HOME directory: user: unknown userid 501"
I found a bug on macos which should not happen. Try to unset `HOME` and run `podman info`, you will see something like
[code]

That is a serious error which prevents use of podman. There are valid cases where HOME may not be defined, for example when running code wrong inside tox, by default HOME is not passed.

There are other ways to retrieve current user home directory than HOME variable and po

[2021-08-04 10:38] rhatdan commented on #11107
@mtrmac @mheon @vrothberg @nalind WDYT?

[2021-08-04 10:47] rhatdan commented on #11038
I would figure something like

podman run --rootfs /:O --tmpfs /var

Would be kind of cool, allowing you to launch containers on existing file systems that are writable, but, there would be  no way to do a commit on these containers, and lots of stuff would be different then traditional Podman containers.

One issue would be overlay does not like the underlying file system changing from underneath

[2021-08-04 11:32] mtrmac commented on #11107
`TMPDIR`, as well as its default value, is now documented in man pages; so that’s a fairly good reason why users should expect it to be used.

I don’t care much at all what the default should be, but I’m not much of a fan of _changing_ the default now that it exists; this can easily break someone’s carefully-tuned quotas / carefully-tested resiliency of existing workloads vs. pulling unexpectedly-

[2021-08-04 11:45] rhatdan commented on #11124
This is definitely a bug.  If the client does not override, the server should take the defaults from containers.conf, if defined there.

[2021-08-04 11:53] rhatdan commented on #11126
This works on a Works on Linux.
@baude PTAL

[2021-08-04 11:58] rhatdan commented on #11107
One thing we could to is add it to containers.conf, so that we could setup something like
[code]
And then allow users to override this field.  That way we ensure backwords compatibility.

[2021-08-04 11:59] #10187 closed

[2021-08-04 12:03] vrothberg commented on #11121
Do we really need to support `type=image` during builds?  The issue states that "Podman should support the --mount option" which it does.  It just doesn't support `type=image`.

I don't think that mounting images like that _during builds_ makes sense since this is already supported via multi-stage builds (e.g., `COPY $PATH FROM $PREVIOUS_STAGE`).

[2021-08-04 12:31] ssbarnea commented on #11126
I will need to gather extra info on this, feel free to assign it to me but i will only be able to look more into it next week. I am not yet sure which were all the elements that made podman not work under tox but worked fine outside.

One I know for sure is that my macos userid is indeed 501 and that HOME was unset.

[2021-08-04 13:09] cdoern commented on #9258
@giuseppe do cgroups store all of the old cpu % as well? the issue we are running into is that the time is correct, but the percentage only holds the most recent read, leading this to be a stream only feature.

[2021-08-04 14:14] guits opened #11129 "podman-run doesn't support --tls-verify parameter"
when executing a `podman run` command, if the image wasn't explicitly pulled with `podman pull` prior to that it would fail if the registry doesn't use https.

[code]

The `--tls-verify` parameter seems to be scoped to pull/push subcommands only.
Is there any chance this option could be consumed by the `podman run` command?

Yes, I could edit `/etc/containers/registries.conf` and add my registry i

[2021-08-04 14:21] developedsoftware commented on #8965
Can we make rootless use systemd as the cgroupManager? That may solve this all in one go?

[2021-08-04 14:27] markusthoemmes opened #11130 "Consider a very shallow 'buildx' "emulation mode""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

**Steps to reproduce the issue:**

Run any `docker buildx build` script/command and see it fail. In my case, I'm trying to run `kind build node-image` using the `podman` provider (`docker` not installed at all)

**Describe the results you received:**

The command fails immediately.

**Des

[2021-08-04 14:41] akostadinov commented on #11107
It will be a good start. And also point at this setting from wherever `graphRoot` is documented. Honestly I can't find where `graphRoot` is officially documented.

Funnily Duckduckgo only shows me [oracle docs](https://docs.oracle.com/en/operating-systems/oracle-linux/podman/configuring-podman-storage.html#podman-install-storage) which do not mention TMPDIR.

And `man podman pull` does not show an

[2021-08-04 15:34] #10319 closed

[2021-08-04 15:35] mheon commented on #11081
Did you try running containers *without* using compose? Can you try a `podman run ...; podman exec...` combination without Compose in the picture?

[2021-08-04 15:37] mheon commented on #11130
@rhatdan @nalind PTAL, I know we were looking at this.

[2021-08-04 16:39] Alex-Izquierdo opened #11131 "api error: failed to parse query parameter 'since'"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman api returns an error when k3d try to get the logs
[code]

**Steps to reproduce the issue:**

1. install k3d
[code]

2. try to create a cluster
[code]
3.

**Describe the results you received:**
k3d output:

[code]

podman logs:
[code]

**Describe the results you expected:**
Create a k3s

[2021-08-04 16:41] mheon commented on #11131
@jwhonce PTAL

[2021-08-04 17:05] cdoern commented on #11131
I most recently modified the since/until code @mheon let me see if I broke something...

[2021-08-04 17:14] cdoern commented on #11131
This isn't explicitly a log issue but a `ParseInputTime` function issue. I actually do not think anything on our end is "broken" the time that k3d is passing to the api is not one of the supported time values. I guess we can add this format or convert? WDYT @jwhonce

[2021-08-04 18:45] #11098 closed

[2021-08-04 18:47] #11124 closed

[2021-08-04 18:57] rhatdan commented on #11130
First let's look at the easiest and make build  and buildx synonyms.

[2021-08-04 19:19] baude commented on #11126
yeah, i dont have a full grasp on unset and userids on macos.  any help here is appreciated.  maybe @ashley-cui knows?

[2021-08-04 19:21] baude commented on #11089
once that is updated == gnome msitools?

[2021-08-04 19:22] baude commented on #11078
@shuaiyy happy enough to close?

[2021-08-04 19:23] baude commented on #11034
@edsantiago im going to close this ... but the problem here was that i had a bunch of new e2e tests in a pr, so when you added this, my pr broke down but the stuff being flagged didnt tell me where in the code the problem was...

[2021-08-04 19:23] #11034 closed

[2021-08-04 19:35] cdoern commented on #11131
@mheon any idea what time format that is? I can just add that string as an example but for the test I would like to try a genuine time.

[2021-08-04 19:38] matejvasek commented on #11131
@cdoern I believe it's unix timestamp with fractional part

[2021-08-04 19:38] matejvasek commented on #11131
https://github.com/containers/podman/pull/11135

[2021-08-04 19:44] rhatdan commented on #11129
Pleas open a PR?
podman run, create need it.

podman build has a --tls-verify

[2021-08-04 20:22] cevich commented on #11089
Ya.  So someone gives me a shout when that version is in the latest Fedora, I'll build new VM images to grab it.  Then the image ID change can go in along with a podman PR that updates the XML.  (At least that's my understanding of the proposal).

[2021-08-04 21:38] Shivkumar13 commented on #11129
/assign

[2021-08-04 21:45] guits commented on #11129
@rhatdan  why not, tried this in #11138

I'm definitely not a Go expert though.
I'm not sure this is enough, perhaps I'm missing something

[2021-08-04 23:02] codefromthecrypt commented on #11089
fyi I raised this issue for msitools being the default for GHA although I'm not sure it impacts you. If it did, basically the images would need to be upgraded once the Environment feature lands https://gitlab.gnome.org/GNOME/msitools/-/issues/41

[2021-08-05 01:08] ZaMaZaN4iK opened #11139 "Error: OCI runtime error: error executing hook /usr/libexec/oci/hooks.d/oci-systemd-hook(exit code: 1)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Constantly getting an error `Error: OCI runtime error: error executing hook `/usr/libexec/oci/hooks.d/oci-systemd-hook` (exit code: 1)
`

**Steps to reproduce the issue:**

I am working on porting the [script](https://github.com/rust-serverless/lambda-rust/blob/master/tests/test.sh) to the Po

[2021-08-05 01:24] knaka888 opened #11140 "podman stop command doesn't stop systemd services in the container gracefully."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I execute "podman stop" command for a container where several systemd services are running, the services don't stop gracefully.

For example, while "postgresql-12" service is running in "postgresql" container, when I execute "systemd stop postgresql-12" inside the container, /var/log/mes

[2021-08-05 01:35] krystalcode commented on #3001
Is there a solution currently proposed? This is still happening in F34. The package mentioned above is for F29.

[2021-08-05 06:58] eriksjolund commented on #11088
The [SingularityCE roadmap](https://github.com/sylabs/singularityce-community/blob/main/roadmap.md) (the Sylabs fork) discusses how to improve NVIDIA GPU / CUDA support.

A quote (regarding the current approach):
 _this works well, but does not support features such as GPU masking, MIG awareness_

[2021-08-05 07:40] markusthoemmes commented on #11130
Regarding `--load`: https://docs.docker.com/engine/reference/commandline/buildx_build/#load

So basically what `podman` does by default, we just need to "swallow" it and not return an "unknown flag" error.

[2021-08-05 07:40] zvonkok commented on #11088
We are working on an interface for any runtime: https://github.com/container-orchestrated-devices/container-device-interface

The needed files are in different locations in Debian, RHEL, SUSE. Also, the number of files to mount can and has changed. Additionally, the prestart hook also creates symlinks to some libraries and handles some start/stop of needed processes.

And to clarify we do not need

[2021-08-05 08:19] Luap99 commented on #11140
Can you paste your systemd unit. `podman stop` has a default timeout of 10 seconds before it sends SIGKILL. You can increase the timeout with the `--time` option.

[2021-08-05 11:34] agu3rra commented on #2788
Mine worked after setting both `subuid` and `subguid` as `podman:10000:1694527157`. Running it rootless with `--privileged` flag in docker.

[2021-08-05 12:52] hholst80 commented on #11081
Yes, and that works. I can also podman exec into a container started by compose, I just cannot exec from docker-compose.

[2021-08-05 13:22] mheon commented on #11081
OK. I can't replicate this locally, so this is probably environment-related.

Can you start the Podman service manually with debug-level logging enab;ed (`podman system service -t 0 --log-level=debug`) and then run Compose against it and provide the logs that Podman prints? It should tell us what commands Compose are sending that are proving problematic.

[2021-08-05 13:52] ashley-cui commented on #11126
I'm not entirely sure either probably need to do research on it

[2021-08-05 14:17] kierun opened #11145 "podman build appears to ignore containerignore"
/kind bug

**Description**

A directory owned by `root` and in `.containerignore` is still being added to the build.

**Steps to reproduce the issue:**

1. `printf "FROM quay.io/libpod/testimage:20210610\nCOPY ./ ./\n" >Dockerfile`
2. `mkdir -p volume/data`
3. `cd volume`
4. `sudo chown root:root data`
5. `sudo chmod 700 data`
6. `cd ..`
7. `echo "volume/` > .containerignore
8. `podman build -f Do

[2021-08-05 15:34] mheon commented on #11140
I'm assuming that systemd is running inside the container?

A `podman inspect` of the container in question would also help - want to verify that systemd mode is active and the correct stop signal has been set.

We should be sending a special signal (I honestly forget which - I think it's `SIGRTMIN+2` but not 100% sure) to systemd in the container, which causes it to shut down, which should includ

[2021-08-05 15:41] mheon commented on #11145
@TomSweeneyRedHat PTAL

[2021-08-05 15:49] mheon commented on #11139
Podman does not require this hook (we handle systemd-in-container natively) so I recommend you uninstall the hook.

[2021-08-05 16:44] ZaMaZaN4iK commented on #11139
@mheon I am just confused a little bit since I don't know, what exactly the hook mechanism is. Can you explain me (or provide corresponding links) please? Also, I am not sure that I should delete such hooks since seems like that they are installed with `podman` package.

[2021-08-05 16:48] edsantiago commented on #10806
I am able to reproduce this on a freshly-booted 1minutetip VM. f34. podman-3.3.0-0.2.rc1.fc34.x86_64 5.12.10-300.fc34
[code]
Run as root. No podman-remote has ever been run on this vm.

[2021-08-05 16:49] edsantiago commented on #10806
And, FWIW, I see this on *every* system-test run I do, and I've been doing a lot of them lately for the spate of recent releases.

[2021-08-05 17:21] edsantiago commented on #10003
OK, I have a (slightly) better reproducer. It's exactly the same as the first comment, except, before doing so, you need to do this as root:
[code]
That is: you need to run podman-remote exec tests as root. I don't know why, and I don't know how root-podman-exec can affect rootless-podman-exec. But there you go. Once you've run those tests as root, the rootless reproducer in comment 0 will start t

[2021-08-05 17:45] #11131 closed

[2021-08-05 17:54] edsantiago commented on #11145
Fails on main @ b243185e4fbf002c381b4d6cf9be1fe25450f4b9; fails even if file is named `.dockerignore`, and even if file content is `*` (star).

[2021-08-05 18:07] edsantiago opened #11146 "timing flake: podman stop/pause takes long time"
Two timing flakes being reported by the multiarch testing group:
* https://gitlab.com/cki-project/kernel-tests/-/issues/641
* https://gitlab.com/cki-project/kernel-tests/-/issues/642

In one case, `podman stop` is taking 3 seconds; in the other, a `podman pause`, `podman unpause` sequence is taking 7. These are tests that do not flake in CI nor gating tests, but they're flaking on other-arch syste

[2021-08-05 19:10] edsantiago opened #11148 "podman build: ln with ESRCH: panic"
New one-off flake in [sys podman f34 root host](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5546497786773504/html/sys-podman-fedora-34-root-host.log.html):
[code]
Filing because there's a stack trace. This issue may need to be transferred to buildah.

[2021-08-05 19:14] paulraines68 commented on #4185
Curiously if I run the alpine image instead of fedora I get

[code]

[2021-08-05 19:41] rhatdan commented on #11139
Remove that hook it is not necessary with Podman. Or CRI-O

[2021-08-05 19:42] rhatdan commented on #3001
Please open a new issue, if you are seeing,even if it is an old issue.  Most likely what you are seeing is different then the original reported issue.

[2021-08-05 19:47] rhatdan commented on #11130
It would seem that we need to add a command then buildx and have it screan out certain commands and call what podman build calls.

[2021-08-05 22:39] mheon commented on #11139
An OCI hook is an extension mechanism for container runtimes that allows for additional functionality not implemented in Docker or Podman to be added. An example of this is are the Nvidia container tools, which use an OCI hook to modify the container to make a GPU available inside it. `oci-systemd-hook` was an old one of these used to add support for systemd in a container, but it is not required

[2021-08-06 00:21] knaka888 commented on #11140
Yes, I make use of systemd which is running inside the container.

The systemd unit files I tested are default service unit files of PostgreSQL and OpenSSH services. Both services seem to be
stopped suddenly without "systemdctl stop [service]" called for each service before they are killed. Therefore I assume that all the systemd services inside a container would have the same results. Though I ad

[2021-08-06 02:04] zhangguanzhang commented on #6480
Fixes by: https://github.com/containers/podman/pull/11011
/close

[2021-08-06 02:04] #6480 closed

[2021-08-06 02:14] flyn-org commented on #10713
@giuseppe, it might be the kernel. I have been trying to figure out the compile-time kernel settings that running podman as non-root user depends on. Can you suggest where I could find this information? For what it is worth, I went through a similar process as a part of the effort to bring SELinux to OpenWrt. (In this case, SELinux is not on.)

[2021-08-06 06:43] markusthoemmes commented on #11130
Yep, that's why I've thrown it into the `docker` script, since it felt like it'd pollute `podman` itself unnecessarily.

[2021-08-06 06:56] giuseppe commented on #4185
can you run `grep Groups /proc/self/status` in the fedora image?

The `groups` tool in Fedora might remove duplicates

[2021-08-06 07:10] giuseppe commented on #10713
I am not aware of such documentation.  Would it be possible to use the same source (no additional patches) and configuration that is used on other distros like Fedora?

[2021-08-06 07:32] giuseppe commented on #9258
the cgroup stores the total usage of the cpu.  To calculate the percentage we use two measurements

[2021-08-06 07:35] hholst80 commented on #11081
What about cgroup kernel settings?

[2021-08-06 09:14] vrothberg commented on #11148
Opened https://github.com/containers/buildah/pull/3431.

The nil deref only happens in a rare error case which may explain why we haven't seen it yet.

[2021-08-06 09:20] vrothberg commented on #11146
It really seems like there are some signal-handling issues on non x86 machines.

[2021-08-06 09:25] vrothberg commented on #11146
I'll try to revive a Raspberry Pi in my drawer to have a closer look.

[2021-08-06 11:40] vrothberg commented on #10003
Thanks, Ed!  I'll be on PTO next, so others may continue looking into this issue.

[2021-08-06 12:04] ZaMaZaN4iK commented on #11139
Thanks for the explanation! I've removed a package that provided this hook and now it works. Thanks for the help. I think it can be closed as "Resolved".

[2021-08-06 12:04] #11139 closed

[2021-08-06 12:56] rhatdan commented on #11140
Could you bring the systemd guys in for this dicussion.

[2021-08-06 13:13] paulraines68 commented on #4185
[code]

[2021-08-06 13:19] vrothberg commented on #11148
Closing, will be fixed the next time we vendor buildah.

[2021-08-06 13:19] #11148 closed

[2021-08-06 13:21] vrothberg commented on #11000
# [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xaaaabbb754e0]

Looks like the same as https://github.com/containers/podman/issues/11148 which we just fixed in Buildah, closing.

[2021-08-06 13:21] #11000 closed

[2021-08-06 13:41] giuseppe commented on #4185
so it looks like the groups are maintained but the `groups` tool on Fedora remove duplicates

[2021-08-06 13:41] vrothberg commented on #10974
@jwhonce, any chance we could turn the single strings with tabs into string slices?  That would allow different packages for rendering (e.g, https://github.com/olekukonko/tablewriter).

I wrote a similar package a couple of years ago when porting vgrep to Go: https://github.com/olekukonko/tablewriter

[2021-08-06 13:48] vrothberg commented on #10972
Did we resolve the issue?

[2021-08-06 13:57] vrothberg commented on #10133
Are the remaining questions or shall we close the issue?

[2021-08-06 13:59] vrothberg commented on #9866
Friendly ping.  Who wants to open a PR for it?

[2021-08-06 14:02] vrothberg commented on #9075
@mheon, you seem to have a good idea of what needs to be done.  Could you write a brain dump?

[2021-08-06 14:03] cdoern commented on #10612
@rhatdan @jwhonce should I submit a PR for this since we are accepting breaking changes now?

[2021-08-06 14:41] mheon commented on #9075
Alright. There are two core issues with `system reset` right now.

1. Resetting the system is currently a method of Libpod's `Runtime`. This means that you require a valid runtime to proceed - if any misconfiguration of the system prevents a `Runtime` from being spawned (usually a storage misconfiguration in the database), the `podman system reset` command is nonfunctional. Given the intent of the

[2021-08-06 14:48] rhatdan commented on #10612
Sure.

[2021-08-06 14:55] mheon commented on #10972
I have signed Ashley's key, but I am having trouble actually getting any keyserver to accept the signature. I've exported the signature and tried to attach it here, but Github appears to object to .asc files. I have renamed to .txt in an attempt to avoid this.
[acui.txt](https://github.com/containers/podman/files/6946276/acui.txt)

[2021-08-06 15:02] vrothberg commented on #9075
Thanks a lot for the great summary, @mheon!

[2021-08-06 15:19] rhatdan commented on #9804
Since we got no response to the question, I am closing.  Reopen if you can answer the question.

[2021-08-06 15:19] #9804 closed

[2021-08-06 15:20] rhatdan commented on #9540
@mheon another month, no activity, do you think this will ever be done?

[2021-08-06 15:24] rhatdan commented on #11130
I actually just updated the PR with some clever (In my opinion) changes to get you what you want, without us having to formally state we support buildx.

[2021-08-06 15:36] mheon commented on #9540
Now that `rename` has been added, the incentive to get this done is a lot less. It's an interesting project, but not really high priority. Good candidate for an intern, maybe?

[2021-08-06 15:37] rhatdan commented on #8941
@baude @PavelSosin-320 Did this ever get resolved?

[2021-08-06 15:54] ValHeimer commented on #10923
It was an error in my system config........

I just had to run
[code]
recreate the pod, and it works

sorry about that

[2021-08-06 15:54] #10923 closed

[2021-08-06 21:29] Foxboron commented on #10972
@mheon Because of recent keyserver issues this has become complicated. It's easier to send the signature to Ashley and have her upload it to a keyserver and/or github.

[2021-08-06 21:31] cucosion opened #11155 "CentOS 8 issue in running with --privileged"
/kind bug

**Description**

I have few containers that i have to run as privileged or cap all but they fail to start with "Error: OCI runtime error: unknown cap: `CAP_BPF`"
If i run them with "--cap-add=ALL --cap-drop=CAP_BPF --cap-drop=CAP_PERFMON" is working but something is not ok already if i cannot use the --privileged flag

**Steps to reproduce the issue:**

[icucos@localhost podman-run-comm

[2021-08-06 22:30] mheon commented on #11081
I doubt this is cgroup related, given this is an EPERM trying to run a new
process.

On Fri, Aug 6, 2021 at 03:35 Henrik Holst ***@***.***> wrote:

[2021-08-07 07:44] afbjorklund commented on #11130
kind uses `docker buildx` (BuildKit) so that it can cross-build for multi-arch (with qemu), which `docker build` doesn't support.

e.g.
--platform=linux/amd64
--platform=linux/arm64

[2021-08-07 08:16] afbjorklund commented on #11130
Both kubernetes and minikube have switched from Docker (build) to BuildKit (buildx), to be able to build multi-arch more easy.

Before it would use multiple separate builds from `docker build`, and then stitch them together with `docker manifest`...

Now everything is done with the `--platform` flag, which involves tricky stuff like cross-building with a Windows worker etc

Then there are some mor

[2021-08-07 10:17] rhatdan commented on #11155
You need to update the version of crun you are using and the version of libcap.

[2021-08-07 10:17] rhatdan commented on #11155
@giuseppe PTAL

[2021-08-07 10:19] rhatdan commented on #8785
@jwhonce @Luap99 @srcshelton Is this still an issue?

[2021-08-07 10:34] rhatdan commented on #10866
@jvanz Any progress?

[2021-08-07 11:57] srcshelton commented on #8785
Still broken with `podman-3.2.3`, yes :(

[2021-08-07 12:16] afbjorklund opened #11156 "Validate input for the --platform parameter"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There is no validation on the syntax of the --platform parameter to build

Like when using the multi-arch syntax from `buildx build`, by mistake.

**Steps to reproduce the issue:**

1. podman build --platform=linux/amd64,linux/arm64 multiarch

2.

3.

**Describe the results you received:**

p

[2021-08-07 13:16] Spindel opened #11157 "Podman is very spammy around health-checks"
/kind bug

**Description**

Podman healthchecks are quite spammy as they are always printing output, rather than obeying log-levels on running containers.  This in practice causes podman to have an almost absurd log volume on machines that run a few containers with health-checks enabled.

When running podman containers as a systemd service, this becomes even worse as there will be a neat little pr

[2021-08-07 13:21] arctic-alpaca opened #11158 "Why does the Events parameter `until` need to be a negative value if a duration is used?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the podman CLI or API, the `until` parameter for the events command/endpoint can be a timestamp or a duration according to the [documentation](https://docs.podman.io/en/latest/markdown/podman-events.1.html). When a positive value like `10s` is used for the duration, podman returns

[2021-08-07 15:09] unknowndevQwQ commented on #8579
`$ kata-runtime --help`

[code]

  kata's OCI is deprecated?

[2021-08-08 00:50] pclass-sensonix commented on #11146
On my SAMA5D27 Microchip ARM platform - stopping a podman container running a simple python flask webserver is a very slow and costly operation. It can be longer than 10-15 seconds. Starting the application seems to be much less expensive in time.

[2021-08-08 00:52] pclass-sensonix commented on #11157
I agree - the successful container healtchecks I have setup are very noisy in the journald logs on my system.

[2021-08-08 03:04] jmpolom commented on #10677
I have a similar experience as @tobwen when attempting to run a podman container as a systemd service and setting `Type=notify` and using the `--sdnotify=conmon` option on the run command. However, the complaint from systemd when attempting to start the service unit is a little different. Also tried `--cgroups=split` just in case there was some issue there but the results were identical.

podman-d

[2021-08-08 09:10] wzpoo opened #11159 "Container port mapping issue"
/kind bug

**Description**

I want to use podman restful api to start image and implement port mapping.After I create a container, I use the command "podman ps -a" to see info of the container.It shows '0.0.0.0:4000->3000/tcp'.But I can't access this port in the brower.How should I do?
If I use the command 'podman run -p 0.0.0.0:4000:3000 rtw:latest' , it work well. My docker image is  rtw:latest

[2021-08-08 11:31] edsantiago commented on #11146
@pclass-sensonix have you tried `podman stop --timeout 0` or `podman kill --signal SOMETHING-OTHER-THAN-TERM`? Some processes ignore `SIGTERM`; podman then waits ten seconds before sending `SIGKILL`

[2021-08-08 11:31] flouthoc commented on #11038
@rhatdan @giuseppe I tried this patch (https://github.com/flouthoc/podman/commit/d66104e6f1e9ece0da23dec36f0fbab0801f57f6) which implements scenarios such as below.
[code]

I didn't open a PR as i was not really sure if this approach is expected and its crude but i can open a PR if this looks okish.

[2021-08-08 12:31] brocking commented on #10094
I also encountered this issue. In my case the group on my home dir != the user; an error message for this would be very helpful.

[2021-08-08 16:04] rhatdan commented on #11158
Interested in opening a PR to fix?

@cdoern PTAL

[2021-08-08 16:13] Hoeze commented on #11041
Thanks for your description @Luap99.
I tried this on our servers, but it's not really working:
[code]

[2021-08-08 19:43] Kiritow commented on #5114
If you are using nested podman, this might help: `rm /var/lib/containers/storage/libpod/bolt_state.db`

[2021-08-08 19:50] developedsoftware commented on #5572
@holgerpieta did you ever resolve this?

I am having the exact same issue. Is there a solution?

`user@1001.service: Got notification message from PID 632662, but reception only permitted for main PID 1530`

[2021-08-09 06:13] sachinkaushik commented on #10864
HI @umohnani8 / @flouthoc ,

Any update on this..?

[2021-08-09 06:51] arctic-alpaca commented on #11158
I am not familiar with Go and don't feel comfortable opening a PR.

[2021-08-09 07:41] Luap99 commented on #11159
It looks like you are overwriting the container command in your json payload. Remove the `"command":["top"]` part and it should work.

[2021-08-09 07:46] cucosion commented on #11155
The upgrade helped, i will close the issue
https://bugzilla.redhat.com/show_bug.cgi?id=1946982

[2021-08-09 07:46] #11155 closed

[2021-08-09 07:49] giuseppe commented on #11038
I think it is fine, as long as the overlay upper layer lives as long as the container (it cannot be on a tmpdir), and that it is reused when the container is restarted

[2021-08-09 10:36] Luap99 commented on #11041
Can you try with a absolute path to the rootfs. The roofs dir will be empty in host namespace you have to use `podman unshare ls` to see the content.

[2021-08-09 10:43] rhatdan commented on #11041
Once the
podman unshare ...
Line exits, you will no longer see the mount, because you are now in a different mount namespace.

Try
[code]

[2021-08-09 11:12] Hoeze commented on #11041
Thanks @rhatdan, this works:
[code]
However, inside the container I am appearing to be the root user, although I can access all my files in my home, etc.
Is it possible to keep my user id and groups?

[2021-08-09 11:21] wzpoo commented on #11159
remove the "command": ["top"], the issue also exist.

[2021-08-09 11:25] Luap99 commented on #11159
Can you provide the output of podman inspect on the container.

[2021-08-09 11:28] wzpoo commented on #11159
[
    {
        "Id": "d806cb392902d692d30b11372c5aa6a92acbbdffbeaf96923b7b9948efe7dce6",
        "Created": "2021-08-09T19:26:48.282103785+08:00",
        "Path": "setup.sh",
        "Args": [
            "setup.sh"
        ],
        "State": {
            "OciVersion": "1.0.2-dev",
            "Status": "running",
            "Running": true,
            "Paused": false,
            "Restarting

[2021-08-09 11:44] wzpoo commented on #11159
@Luap99  .In the podman reference, it said that if I want to edit 'portmapping' parameter ,I also should to edit parameter 'netns'.'netns' has two parameter: 'nsmode' and 'value',but I don't know how to write it. So I don't input this parameter. Is the question here? If there is problem, can you tell me how to write parameter 'netns'? I want to use mode 'bridge'.

[2021-08-09 11:45] Luap99 commented on #11159
[code]
Somehow port 10000 got forwarded into the container. I cannot reproduce this problem. Could you try a more recent version, e.g. pomdan 3.2.3.

[2021-08-09 11:48] Luap99 commented on #11159
I do not think you have to set the nsmode. The default one is bridge and it shows bridge in your inspect output.

[2021-08-09 11:51] wzpoo commented on #11159
My system is ubuntu18.04, so I use this podman version. If I use the command 'podman run -p 0.0.0.0:3000:10000 docker.io/wzpoo/rtw:latest, it work well. I want to use the podman api achieve the same result.

[2021-08-09 11:54] wzpoo commented on #11159
![image](https://user-images.githubusercontent.com/87136343/128702204-99954594-ff67-4142-a3d6-5ac8b89606be.png)
This is my brower response.

[2021-08-09 13:01] cdoern commented on #11158
I will look at this today, the way podman has handled `--until` has been flaky in most scenarios until recently.

[2021-08-09 13:12] rhatdan commented on #11041
@giuseppe Is this possible?

The way you do this from outside of the user namespace is:

$ podman run --add-group=keep-groups --userns=keep-id ...

Not sure if this works from within the user namespace.

[2021-08-09 13:13] markusthoemmes commented on #11130
@afbjorklund I agree this only works for the "quick" local build of the image. I thought it'd be neat to support that though, as it unlocks being productive working on Kubernetes (through `kind` at least) without installing `docker` at all.

[2021-08-09 13:16] giuseppe commented on #11041
I think `--add-group=keep-groups --userns=keep-id` should be enough

[2021-08-09 13:46] rhatdan commented on #11038
Yes the upper directory should be in containers/storage rootfs just like all other containers uppers.

[2021-08-09 13:57] flouthoc commented on #11038
@rhatdan @giuseppe Thanks I will make the required changes.

[2021-08-09 14:20] bcrochet opened #11162 "Multi-arch image build is pushing too many tags"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The multi-arch image build is updating the most current versioned tag, as well as the "latest" tag. According to the README, once a versioned tag is cut, it should not be updated. Currently though, the v3.2.3 tag is being updated every time the latest tag is built.

**Steps to reproduce the i

[2021-08-09 14:21] rhatdan commented on #10094
Please consider opening a PR with this fix.

[2021-08-09 14:28] mheon commented on #11162
@TomSweeneyRedHat PTAL

[2021-08-09 14:32] rhatdan commented on #11162
Maybe the documentation needs to be updated.  But these images are not static, they will get updated with the latest software in Fedora in order to maintain their security.  What won't be updated is the version of Podman within the container.

[2021-08-09 14:58] cdoern commented on #11158
@arctic-alpaca the lines `podman events --since 3m --until 5s` and `podman events --since 3m --until -5s` produce the same output for me, what version are you running on and is there anything else you are doing that could affect the output?

[2021-08-09 15:18] arctic-alpaca commented on #11158
@cdoern By output, do you mean they both "wait" 5 seconds for new events and then return?
The version should be at least 3.1 but I am currently away from my computer and won't be able to check for a week, sorry.
I'll let you know as soon as I'm back.

[2021-08-09 15:23] afbjorklund commented on #11130
I suppose you _could_ ask kind to run `buildx build` for the base and `build` for the (quick) node, until the syntax is supported.

[2021-08-09 15:43] cevich opened #11165 "Error: OCI runtime error: writing file `/sys/fs/cgroup/...cut.../cgroup.procs`: Device or resource busy"
/kind bug

**Description**

[While updating images](https://github.com/containers/podman/pull/10829), noted newly persistent failures in the `Podman run with --cgroup-parent [It] always honor --cgroup-parent` CI test (test/e2e/run_cgroup_parent_test.go:102).  @giuseppe attempted to fix this with https://github.com/containers/podman/pull/11068 but the test still regularly fails on F34 in rootless m

[2021-08-09 16:22] rhatdan commented on #10577
@baude another month, and no merge?

[2021-08-09 16:23] rhatdan commented on #10745
@Luap99 @mheon We never saw a PR for this?

[2021-08-09 16:23] cdoern commented on #11158
on my main branch (synced with master) and on the current version of podman, both of these commands sit for 5 seconds and then output the requested data @arctic-alpaca

[2021-08-09 16:30] rhatdan commented on #10884
@mheon @Luap99 is this still an issue?

[2021-08-09 16:31] rhatdan commented on #10875
@lukasbestle Is this still an issue.  @vrothberg Looks like he merged some fixes related to this issue?

[2021-08-09 16:48] mheon commented on #10884
I don't recall seeing a docs PR, so this still requires attention.

[2021-08-09 17:34] Hoeze commented on #11041
Unfortunately, this does not work:
[code]
Please note that users are managed by FreeIPA/SSSD and homes are stored on NFS.

[2021-08-09 17:51] baude commented on #11157
@rhatdan you assigned to me but I don't really understand what you want ... they have noisy healthchecks.  do you want a change in policy for healthchecks?

[2021-08-09 17:52] baude commented on #10577
correct ... i have checked with Sergio but he is now on PTO.

[2021-08-09 18:02] afro-coder commented on #5431
@rhatdan can I add these to the podman troubleshooting section? This one:
https://github.com/containers/podman/blob/main/troubleshooting.md

[2021-08-09 18:19] olivergs commented on #10296
@edsantiago We have fixed the prroblems in the test suite and I've sent a new build to rawhide.

https://koji.fedoraproject.org/koji/taskinfo?taskID=73573768

I suppose it will be available in the next compose. Could you please check it works for you?

[2021-08-09 18:28] debarshiray commented on #10858
I don't mind closing this issue because I managed to convince the relevant downstream distributor that this can't be achieved. :)

[2021-08-09 18:42] rhatdan commented on #11157
My understanding of their complaint, is that when healthy we are logging messages at a level of Warning or above rather then in Debug mode.

[2021-08-09 18:43] rhatdan commented on #5431
SGTM

[2021-08-09 18:44] #10858 closed

[2021-08-09 18:47] Spindel commented on #11157
Partially.

podman actually prints healthy to standard out, rather than logging it.

The other thing is that podman uses a systemd service that it continuously
starts over and over again, causing more log lines, rather than a simple
persistent health-check.

ie, health checks running every 5s will cause a service started+exec into
container + result + service stopped, causing approximately 1kb of

[2021-08-09 19:24] mheon commented on #11157
It sounds like you're asking for a some rather fundamental changes to how we do healthchecks. For context, we're using systemd deliberately (we don't have a persistent daemon, so systemd timer units are a logical way of triggering periodic execution. I would characterize this as a fundamental design decision of how we implemented healthchecks, and not one we'd revisit lightly.

The actual healthch

[2021-08-09 19:25] mheon commented on #11157
Could you expound on healthchecks not using the same log settings as the main Podman invocation, though? That sounds like a bug.

[2021-08-09 20:08] Spindel commented on #11157
It's printing results to stdout, and the podman log isn't passed via the systemd log output when the main container uses that.

So where systemd is responsible for 2 of the lines (service enable/disable), podman's health check is responsible for the rest, and those are still spammy.

[2021-08-09 20:10] mheon commented on #11157
Can you provide the full output you're seeing and identify the parts you see as spammy?

[2021-08-09 20:14] Spindel commented on #11157
A typical single task shows like this ( stripped from where they interleave)

Aug 07 11:57:47 spring.skuggor.se systemd[1]: Started /usr/bin/podman
healthcheck run
62ed6777043d7f648d92fd79d34bd7a4157dba4e2ad7375f0c5e1c5b68534d12.
Aug 07 11:57:47 spring.skuggor.se podman[2495]: 2021-08-07
11:57:47.582356972 +0000 UTC m=+0.326028928 container exec
62ed6777043d7f648d92fd79d34bd7a4157dba4e2ad7375f0c5e

[2021-08-09 20:38] mavit opened #11171 "Label io.containers.autoupdate.authfile is no-longer effective"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have several containers with `io.containers.autoupdate.authfile` labels.  These labels no-longer seem to be taken into account by `podman auto-update`.

**Steps to reproduce the issue:**

1. Have containers with systemd services that start them with options `--label=io.containers.autoupdate

[2021-08-09 20:42] stewartadam commented on #10806
Per #10886 whatever is adjusting the iptables rules should really adopt a naming scheme or use the comment module to label its commands, so podman can effectively cleanup or overwrite leftover rules as necessary, instead of leaving clutter in the iptables chains.

[2021-08-09 20:53] HarryMichal opened #11172 "Unable to start container due to mount problems"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A toolbox container won't start due to storage mounting problem.

**Steps to reproduce the issue:**

No reproducer

**Describe the results you received:**

Output of `podman start --attach <container>`:

[code]

Output of `podman --log-level trace start --attach <container>`:

<details>
  <su

[2021-08-09 21:04] edsantiago commented on #10296
tests pass as user `fedora` on rawhide. Tomorrow I'll look into what it will take to add this to the podman gating tests.

[2021-08-10 03:44] jmpolom commented on #8719
*Please forgive my cross-posting. I'm trying really hard not to create a potential duplicate issue but it seems there are several relevant issues already present. My prior post was in #10677.*

I have a similar experience as @tobwen when attempting to run a podman container as a systemd service and setting `Type=notify` and using the `--sdnotify=conmon` option on the run command. However, the comp

[2021-08-10 05:48] holgerpieta commented on #5572
In a way, yes. Maybe not the nicest solution and somewhat bypassing the way it's supposed to work, but it works:
[code]

Recently I have the problem that I cannot start the container unless after I `su`'ed to `syncthing` and called `podman unshare cat /proc/self/uid_map`. Not sure why that is.

[2021-08-10 08:20] Luap99 commented on #11171
@vrothberg PTAL

[2021-08-10 08:28] Luap99 commented on #11159
Compare the podman inspect output from a container created via api and cli and check if you see any difference. Also start the podman service with --log-level debug and look for errors.

[2021-08-10 08:35] Luap99 commented on #11158
@cdoern Can you try with a higher value for until. It could be that podman takes that long to read all your events.

I see this:
[code]

[2021-08-10 08:56] Luap99 opened #11175 "podman auto-update system test flake"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `podman auto-update - label io.containers.autoupdate=local with rollback` system test is flaking.
[code]
Some failed log files:
https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6707773544071168/html/sys-podman-ubuntu-2104-rootless-host.log.html

[2021-08-10 08:58] Luap99 commented on #11175
I open a PR to skip this test so @vrothberg can take a look once he is back.

[2021-08-10 09:51] Luap99 commented on #10884
I opened #11177

[2021-08-10 11:57] kbi-user commented on #10593
@rhatdan still an issue - exact same problem here.

Additional notes:

1. I only tested containers for app. 2 hours. For the most part I was plain building containers with podman build.
2. Total run time of containers since last reboot (7 hours ago) was maybe 12 minutes for 5 containers.
3. For the most part I built (app. 30 times) container images and deleted them.
4. Error is the exact same as l

[2021-08-10 11:57] elezar commented on #11088
@zvonkok I know that CDI support was recently merged in #10081. Would there be benefit in driving this further? From the NVIDIA side, we could provide tooling to generate a CDI spec for the available devices. This could then be consumed by podman and other container runtimes as these start to offer CDI support.

cc @bart0sh