[2019-09-13 13:00] giuseppe commented on #4012
I've opened a PR here: https://github.com/containers/libpod/pull/4018

[2019-09-13 13:00] abitrolly commented on #4016
Why I might not want to run processes as `root` in the container if those processes can not affect host system?

[2019-09-13 13:15] mheon commented on #3979
We've discussed a 'podman clone' command - copy an existing container and
make changes (like moving to a pod). That would be the easiest way forward
for this that I can see.

On Fri, Sep 13, 2019, 08:58 Anatoli Babenia <notifications@github.com>
wrote:

[2019-09-13 13:39] abitrolly commented on #3979
@mheon is it possible to make changes to container checkpoints that are used for live migrations https://criu.org/Podman ?

[2019-09-13 13:54] mheon commented on #3979
Not at present - but we'd probably use a similar mechanism for `podman clone`

[2019-09-13 13:56] jfilak opened #4019 "podman import writes the image 3 times"
/kind bug

**Description**

I have an exported container (48GB). I run `podman import ctr.tar myimg` and the podman fails because it writes the data 3 times but my disk has only 120GB.

**Steps to reproduce the issue:**

1. podman import ctr.tar myimg
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
IMPORTED

**Additional information you deem important (

[2019-09-13 14:09] rohanlean opened #4020 "--preserve-fds hangs podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run --rm -it --name whatever busybox`

2. New terminal: `podman exec --preserve-fds=1 -ti whatever sh`

**Describe the results you received:**
The podman exec command hangs for about two minutes, then exits with `Error: container creation timeout:

[2019-09-13 14:16] mheon commented on #4020
Damn. Did we miss this one when we implemented conmon exec? @haircommander

[2019-09-13 14:19] rhatdan commented on #3963
@SwitchedToGitlab We would welcome a PR on container/storage to better support BTRFS for rootless containers.

[2019-09-13 14:21] rhatdan commented on #3963
Or at least add some of this information on how to setup btrfs for use in rootless containers in some of the troublsheooting rootless.md files on github.

[2019-09-13 14:30] haircommander commented on #4020
I thought i implemented it but I forgot to verify it worked

[2019-09-13 14:38] cevich commented on #3700
Note: Realizing a fix for the CNI 'chain already exists' race, requires rolling new VM images with updated packages.  I've got two PRs open which will do this, but are blocked by other problems they uncovered.  I expect that drain to un-clog shortly, and they can move forward next week.  Otherwise if someone else wants to do this in a separate PR, that's fine too.

[2019-09-13 14:54] cevich opened #4021 "Suspected podman-remote container-removal completion race in integration tests."
/kind bug

**Description**

A number integration tests expect the presence or absence of containers after a `podman-remote` command returns an exit code.  However, because removal can occur asynchronously to exit, it's possible for these tests to race with removal completion.  Depending on the test, this can either result in a flake, or a false-positive result - i.e. a test sees an expected contai

[2019-09-13 14:56] cevich commented on #4021
@mheon @baude (repeated question from #3934)

Is there a way to detect whether or not the removal process has completed or not for a given container ID (like some file that should not exist or something like that)? This would be the ideal solution in both (positive and negative) test scenarios, to prevent racing on an existence-check. For example, test/utils/utils.go could delay until completion b

[2019-09-13 15:31] rhatdan commented on #4021
Removal is supposed to clean everything up.

[2019-09-13 15:39] returntrip opened #4024 "Unable to start toolbox containers in Fedora Silverblue 31"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Unable to start `fedora-toolbox-31` (or any other toolbox container) in Fedora Silverblue 31.

**Steps to reproduce the issue:**

1. `toolbox create` to create a new toolbox on Fedora Silverblue 31

2. `toolbox enter` to enter the toolbox. This generates an error: `toolbox: failed to start con

[2019-09-13 15:46] kevinelliott commented on #1742
I am also curious about this. I would love to be able to install and run this on Pi.

[2019-09-13 15:56] mheon commented on #4024
Hm. This is using `crun`, not `runc`. Not seeing any direct errors out of Conmon aside from the CGroup failures - can you check journalctl for anything from Conmon? The real error may be printed there

[2019-09-13 16:00] marcov commented on #1742
@kevinelliott want to run podman on RPI3?
`[This is an Ad]` :laughing: Check out [openSUSE Tumbleweed](https://en.opensuse.org/HCL:Raspberry_Pi3) then, the latest podman is [packaged and ready to install](https://build.opensuse.org/package/binaries/openSUSE:Factory:ARM/podman/standard).

[2019-09-13 16:10] mheon commented on #4021
The problem may be that removal is only on the backend, and we may not guarantee that the frontend doesn't exit first

[2019-09-13 16:16] rhatdan commented on #4021
The backend will not respond to the front-end until the container is removed.

[2019-09-13 16:18] returntrip commented on #4024
@mheon here you go:

[code]

[2019-09-13 16:22] rhatdan commented on #4024
@giuseppe PTAL
Error seems to be writing to /proc/self/oom_score_adj?

[2019-09-13 16:34] mheon commented on #4024
`Sep 13 18:15:06 rauros.figura.io conmon[33801]: conmon 41166c85cc2192782d95 <error>: Failed to mkfifo at /var/home/returntrip/.local/share/containers/storage/overlay-containers/41166c85cc2192782d95d70c0a870bf9927c64ea516254457f664a4ff80a1f64/userdata/ctl: File exists`

That was probably what was fatal

@returntrip Can you check and see if that file still exists?

[2019-09-13 16:34] mheon commented on #4024
(It should have been cleaned up when the container exited - if not, that's probably the problem)

[2019-09-13 16:43] cevich commented on #4021
Then either we're missing something, that statement is incorrect, or I'm misinterpreting https://cirrus-ci.com/task/5760809608675328?command=integration_test#L6994 based on 82ac0d8

To be clear: The podman ps output shows the container ID that was suppose to be removed, and the wait-for-exit thingie had already returned the non-zero exit expected by the test code.

[2019-09-13 16:44] cevich commented on #4021
here, let me paste a link to the code where that result came from...

[2019-09-13 16:46] cevich commented on #4021
...here: https://github.com/containers/libpod/blob/master/test/e2e/start_test.go#L103-L114

[2019-09-13 16:48] cevich commented on #4021
note: My assumption this is true is because we do ***not*** see a failure coming from `Expect(start.ExitCode()).To(Not(Equal(0)))`, rather it comes from `Expect(numContainers).To(BeZero())` - which should not be possible.

[2019-09-13 16:55] #4013 closed

[2019-09-13 17:10] rhatdan commented on #3990
People running with containers not separated by SELinux are taking a big risk, since it is the main tool to protect their file system from containers.

Escape for Docker allows access to all keys,  rootless podman only to the users uid.
Running rootless containers in a different User Namespace would give you more protections.

[2019-09-13 17:11] rhatdan commented on #3990
@abitrolly But bottom line, I tell people to always run their containers as non-root, even in the rootless container.
One thing we could consider would be to add a :U to volumes which would chown the directory to match the primary user of the container.  For podman
Might be something to consider.

[2019-09-13 17:14] rhatdan commented on #4016
Yes I would prefer to always run as non-root, but things like binding to ports<1024 and the abilty for apache to switch to a non-root user still require root.

[2019-09-13 17:26] returntrip commented on #4024
@mheon removed `~/.local/share/containers/` to start fresh and recreated the toolbox but hte issue is the same:

[code]

[code]

[2019-09-13 17:27] rohanlean opened #4027 "podman commit overlooks something?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `debian:10` in a container; install `texlive` and `texlive-luatex`.  Create `example.tex` with the following content:
[code]
Run `texhash` (optionally convince yourself that this does not change the environment).

2. Commit the container.

3. Still in

[2019-09-13 17:28] returntrip commented on #4024
if I delete that file manually I get this:

[code]

[2019-09-13 17:29] rhatdan commented on #4019
@QiWang19 Could you take a look at this, seems pretty strange.

@jfilak You are running as root correct?

[2019-09-13 17:33] mheon commented on #4024
[code]
Well that's wonderfully nonspecific.
@giuseppe Any ideas here? `crun` doesn't seem to be giving us an error

[2019-09-13 18:09] mheon commented on #3870
Closing as #3934 is merged

[2019-09-13 18:09] #3870 closed

[2019-09-13 18:43] kevinelliott commented on #1742
@marcov I did end up using Fedora Minimal 10 to get it early this morning.

[2019-09-13 19:48] jfilak commented on #4019
@rhatdan  Yep, root.

BTW: Docker does not need any temporary file for *import* and Docker needs only 1 temporary file for *load*.

[2019-09-13 20:27] rhatdan commented on #4019
@nalind Any ideas what is going on?

[2019-09-13 20:27] rhatdan commented on #4019
@mtrmac ?

[2019-09-13 21:00] mtrmac commented on #4019
\*shrug\*

- `Runtime.Import` writes it to file (the `import` temporary file)
- `c/image/tarball` reads all of it to compute a digest and create a fake manifest [X]
- `c/image/storage.PutBlob` makes a separate on-disk copy, to be applied in `Commit` (the `storage` directory; this might be better after one of the parts of containers/image#611)

The second copy could be avoidable, with some _pretty

[2019-09-13 22:14] jfilak commented on #4019
@mtrmac The thing is that I have the container in Docker on a builder VM and I want do deploy it on a machine I can ssh only through a jumpserver. So I do `docker export` on the one end and [ssh tunnel] and `podman import` on the other end.

@mtrmac How can I create the `dir:` from a docker image stored in docker storage? (I will tar-gzip-ncat the dir through an ssh tunnel and ncat-ungzip-untar it

[2019-09-13 22:41] mtrmac commented on #4019
(To make things easy: reconsider the jumpserver, or tunnel a HTTP proxy through that? I suppose that’s not an option.)

- Run local container with docker/distribution, storage mounted from an external volume
- `docker push` all of the images to that server
- Terminate container
- `scp` the backing storage through the jump host to the destination
- On the destination, run a local container with doc

[2019-09-13 22:43] mtrmac commented on #4019
(None of this is to say that we are _happy_ to have the extra copies, and it should be fixed as time/priorities allow; it’s just to be clear that that at least one of them will probably need to remain anyway, and the only way to avoid that one is to avoid the tar stream approach.)

[2019-09-13 23:23] jfilak commented on #4019
You are right. I run out of disk space on the build host because `skope copy docker -daemon: ...`  creates an extra temp docker directory in /var/tmp/.

[2019-09-14 20:53] debarshiray commented on #3976
Maybe Podman should not write out a `libpod.conf` with the defaults, and instead just use the defaults anyway? That would have simplified this migration a bit. Update the logic in the code to pick `crun` on Cgroups v2 systems by default, and in the absence of a `libpod.conf` it would just do the right thing.

[2019-09-14 21:55] thatchristoph commented on #3990
Not sure if this is a "true" solution or more of a workaround, but would not `--userns` handle at least some of the situations desired to mount with non-root user permissions?

For example:

`podman run --rm --userns=keepid -v /home/hostUserName/tmp:/home/containerUserName/tmp:Z -it image_name /bin/bash`

This mounts tmp inside the container at `/home/containerUserName/tmp` with the same UID:GID i

[2019-09-15 11:13] rhatdan commented on #3976
I agree, we should not be copying the file.  I think this was put in so that users would do the correct thing in the local config file.  But it locks us in.  I think it would be better to get the code to merge the system defaults with user overrides in the homedir.  Then we could just initialize a empty libpod.conf in the users homedir.  And only do overrides if the user modifies it.

But we still

[2019-09-15 14:25] baude commented on #4014
it appears you are not running the podman remote client binary.  this is the only supported binary on windows and like docker, connects to a linux vm to run.  when running the podman remote client binary on windows, it will report an API version which is absent in your output.  moreover, this explains the oci runtime problems.

im not sure which instructions you used for your setup, but in the cas

[2019-09-15 14:30] mheon commented on #4014
@baude I think he may be running Podman in a Docker container running Ubuntu on Windows. Without knowing more about the setup, though, I don't think we can reasonably comment on debugging.

[2019-09-16 08:34] mildred opened #4033 "Container left semi-alive after removal failed with error unmounting container: layer is not mounted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container destruction (`podman rm`) failed, and since then the container name is blocked (cannot create a new container with the same name) but the old container does not show, and cannot be removed.

**Steps to reproduce the issue:**

Seems like an odd error, difficult to reproduce.

1. Cont

[2019-09-16 12:39] giuseppe commented on #4033
there is an open PR to take care of such issue: https://github.com/containers/libpod/pull/3549/

[2019-09-16 13:07] mheon commented on #4033
This doesn't need evict - Podman rm --storage should take care of it

On Mon, Sep 16, 2019, 08:39 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-09-16 13:14] mheon commented on #4033
The error here is properly strange, though - we should be ignoring that already during removal.

[2019-09-16 13:25] mheon commented on #4033
Ah, nevermind - we handle no-such-container errors, but not not-mounted errors.

Very strange that the container unmounted and the DB still showed it as mounted, still. That could have led to very strange undefined results if you tried to restart the container.

Fix for the condition that caused this is in #4035 but it's mainly just treating the symptoms. If we can get a reproducer for whatever al

[2019-09-16 14:41] QiWang19 commented on #3884
server-side error message is in the http response

https://github.com/containers/image/blob/634605d06e738aec8332bcfd69162e7509ac7aaf/docker/docker_client.go#L529

we return hard code error invalid username/password if `http.StatusUnauthorized`...should we return the message from http response...?

[2019-09-16 14:47] mheon commented on #3884
Providing it in `--log-level=debug` at a minimum would be a good idea

[2019-09-16 15:41] deanpeterson opened #4039 "podman-remote - support login/logout"
I installed podman on mac using homebrew but there is no login command. It is completely unrecognized and it doesn't even show in --help as an option.

[2019-09-16 15:44] baude commented on #4039
the decision to not support login is intentional because performing a login on the mac itself probably does the user no good.  this is because when pulling, for example, the pull is actually being done on a linux backend where you have pointed the podman client.

@rhatdan we still comfortable with this decision?

[2019-09-16 15:46] rhatdan commented on #4039
No I think we need to have some support for login, since the user will not be able to use the container.  Can't we just do the login on the server, and keep the keys there?

[2019-09-16 16:01] AdamWill commented on #3976
if we can detect at runtime whether the systems has cgroupsv2 support, why modify the config file at all? Why not just print a warning that cgroupsv2 has been detected so we're using crun instead of runc, and do it?

[2019-09-16 16:01] baude commented on #4039
i dont see why not ... just need to plan for it and add the remote endpoints for it

[2019-09-16 16:06] mheon commented on #3976
There is precedent for doing what @AdamWill suggests. If you modify Podman storage settings and they differ from the DB, we print angry log messages telling you that you've specified a configuration that would break Podman, and ignore what you specified to use the cached DB configuration. I really dislike the idea of overriding `libpod.conf` but it might be the neatest way to solve this.

Counterp

[2019-09-16 16:09] rhatdan commented on #4039
@QiWang19 ^^

[2019-09-16 16:22] edsantiago commented on #4012
The `Failed to add podman to systemd sandbox cgroup: <nil>` message is gone, but the `runc` ones remain and now there's a new one:
[code]
This is causing Rawhide gating tests to fail; which is a pretty good indicator that this will cause a bad user experience in rawhide. Reopening.

[2019-09-16 16:36] mheon commented on #4012
These are logrus.Warnf and our default log level should be error; they shouldn't be printing by default.

I do not want to remove the `runc` errors, as that's a legitimate configuration issue - a configured runtime is not available. The systemd one is likely Giuseppe's patch to set up a systemd cgroup, which is allowed to fail.

[2019-09-16 16:44] edsantiago commented on #4012
Can we just fix it somehow? Fix the default configuration, fix whatever needs to be fixed, just fix things so that these error messages stop showing up?

As I mentioned, they are causing rawhide system tests to fail. The system tests use BATS, which (love it or not) combines stdout and stderr streams. I am not going to spend effort hacking the system tests to filter out all instances of `msg="Erro

[2019-09-16 16:48] AdamWill commented on #3976
the general idea would be once such a runc is available we revert the podman behaviour so it doesn't override the setting any more. if you're testing such a runc before it's widely available, i guess patch podman locally yourself :/

[2019-09-16 16:54] mheon commented on #4012
Why are they being printed? They should not be displayed by default. Are you forcing a non-default log level?

[2019-09-16 16:58] edsantiago commented on #4012
No. Not intentionally, not to my memory either, and the words 'level' and 'log' do not appear in any related context under the `test/system` directory.

[2019-09-16 17:00] edsantiago opened #4044 "podman-remote run alpine true -> exit status 126 on f29"
podman system tests reliably [failing on f29 only](https://cirrus-ci.com/task/6010797106397184) with:
[code]
Very likely related to #3934, in which @rhatdan saw similar behavior in CI.

[2019-09-16 17:04] edsantiago commented on #4044
@mheon @rhatdan @baude @cevich fyi

[2019-09-16 17:08] rhatdan commented on #4044
This does not happen on f30 and f31?

[2019-09-16 17:11] edsantiago commented on #4044
f30: not that I've seen.

f31: I don't think we have CI for it.

So far it's only failing in f29 and only in CI.

[2019-09-16 17:12] rhatdan commented on #4012
Do you see this happen, anywhere but in the test?

[2019-09-16 17:13] edsantiago commented on #4012
I saw it last week on a rawhide test setup. I'll bring up another rawhide virt now and confirm.

[2019-09-16 17:16] rhatdan commented on #4012
[code]
This code seems curios. It looks to me like the outputError would output to stderr if the logLevel is not set to debug?

[2019-09-16 17:19] rhatdan commented on #4012
Well I guess it does not come from this, since `Error:` is not the prefix.

[2019-09-16 19:14] edsantiago commented on #4012
Sorry for the delay; there's been an openstack outage until just now. It is not log-level:
[code]
(FWIW, the messages also appear with `--log-level=debug`, along with other expected debug messages.)

podman-1.5.2-0.90.dev.git1f5514e.fc32.x86_64

[2019-09-16 19:33] edsantiago commented on #4012
Dum de dum. Out of desperation I edited libpod.conf, removed all references to runc:
[code]

[2019-09-16 19:47] AkihiroSuda opened #4046 "podman-1.5.1-1~ubuntu18.04~ppa1 seems compiled without support for AppArmor"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman-1.5.1-1~ubuntu18.04~ppa1` seems compiled without support for AppArmor

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2019-09-16 19:53] rhatdan commented on #4012
Did you remove it from /etc/containers/libpod.conf and /usr/share/containers/libpod.conf

[2019-09-16 19:55] #3970 closed

[2019-09-16 19:55] edsantiago commented on #4012
No, but I just tried, no difference: still the same three warnings.

[2019-09-16 19:55] rhatdan commented on #4046
@lsm5 PTAL?

[2019-09-16 19:56] rhatdan commented on #4012
Where the frig is it finding runc...

[2019-09-16 19:56] #3046 closed

[2019-09-16 19:56] rhatdan commented on #4012
@giuseppe Any ideas
@edsantiago could you try
podman system migrate

[2019-09-16 19:59] mheon commented on #3542
Fixed in 3581 but only with crun - runc support not yet added

[2019-09-16 19:59] #3542 closed

[2019-09-16 20:00] mheon commented on #3209
@vrothberg landed this one, I believe. Closing as it is included in latest Podman.

[2019-09-16 20:00] #3209 closed

[2019-09-16 20:02] edsantiago commented on #4012
Already did (system migrate) (sorry for not saying so). Also confirmed, via ps auxww, that there are no podman processes running.

Also tried `strings -a /usr/bin/crun |grep -w --color=always  runc |less -R` and do not get anything useful: all instances I see are in the middle of a path string (e.g. source file paths).

Also tried `rm -rf /run/user/1000/ /tmp/run-1000 ~/.config ~/.local`. No diffe

[2019-09-16 20:17] mheon commented on #4012
@edsantiago We can pull runtimes from both system and local libpod.conf - can you confirm you removed `runc` from `/etc/containers/libpod.conf`, `/usr/share/libpod.conf`, and `~/.config/containers/libpod.conf`

(Just now realizing how much of an ordeal this actually is...)

[2019-09-16 20:24] edsantiago commented on #4012
There is no `/etc/containers/libpod.conf`.
[code]
In case it's helpful (it isn't to me), `strace -ff` produces two log files that match runc, and both look like:
[code]
PATH is `/home/fedora/.local/bin:/home/fedora/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin`

If you can find where that `/run/current-system/sw/bin` is coming from, I think it might shed light on who/what is calling runc

[2019-09-16 20:31] edsantiago commented on #4012
...that being `OCIRuntimes` in `libpod/runtime.go`

[2019-09-16 21:06] mheon commented on #4012
It's falling back to $PATH because it can't find `runc` at any configured location.

[2019-09-16 21:07] mheon commented on #4012
I wonder if the default configuration isn't being applied regardless of `runc` being in the config file or not

[2019-09-16 21:16] npmccallum opened #4047 "podman on silverblue fails to create uid namespace"
/kind bug

**Description**

The current setup on Fedora Silverblue doesn't work for me.

**Steps to reproduce the issue:**

First, install Fedora 31 Silverblue. Then:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Additional environment details (AWS, VirtualBox, physi

[2019-09-16 21:17] mheon commented on #4047
@giuseppe PTAL

[2019-09-16 21:34] #4033 closed

[2019-09-16 23:00] jamescassell opened #4048 "Podman fails on RHEL 7 in cronjob with default PATH"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. add podman command to `crontab -e`

2. wait for job to run

3. see error output

**Describe the results you received:**
[code]

**Describe the results you expected:**
Podman command runs successfully

**Additional information you deem important (e.g. issu

[2019-09-16 23:03] mheon commented on #4048
I don't know if we can work around this easily, as this is part of CNI - I don't think we can manually give it a path, it always uses $PATH

[2019-09-16 23:54] edsantiago commented on #4044
Giving up for today (and likely the week since I'll be traveling). Some good news: this is too obscure to be a showstopper.

First: this is not reproducible without the entire system test scaffolding: it only fails under BATS, and specifically only when the `parse_table` helper is used. I don't understand why, and have spent far too long on it already.

There is one more clue:
[code]
Note that the

[2019-09-17 03:54] hong-duc opened #4049 "Still get "Error: stats is not supported in rootless mode without cgroups v2" after install and config crun"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I install crun and change default runtime in libpod.conf to crun, but running podman stats --all still produce error
**Steps to reproduce the issue:**

1. install crun

2. change runtime in libpod.conf to crun

3. run podman stats --all

**Describe the results you received:**
Error: stats is n

[2019-09-17 06:45] vrothberg commented on #4049
Hi @hong-duc, thanks for opening the issue. Are you running your system on Cgroups v2? Changing the runtime to crun is not sufficient.

Cc: @giuseppe

[2019-09-17 07:07] giuseppe commented on #4047
could you try?

`podman system migrate && podman unshare cat /proc/self/uid_map`

If you still see the same error, what is the output for `getcap /usr/bin/newuidmap /usr/bin/newgidmap`?

[2019-09-17 07:10] giuseppe commented on #4049
Yes, it seems to work locally on cgroups v2 so I guess you are still using cgroups v1.

What do you get with `stat -c %T -f /sys/fs/cgroup`?

If you run on cgroups v2 you should see: "cgroup2fs"

To enable cgroups v2, please add "systemd.unified_cgroup_hierarchy=1" to your kernel command line

[2019-09-17 08:56] giuseppe commented on #4012
I think it is the default configuration being used.  If there are no configuration files then we fallback to: https://github.com/containers/libpod/blob/master/libpod/runtime.go#L302-L313

I've tried configuring `/etc/containers/libpod.conf` with:

[code]

then as rootless `rm -rf ~/.config/containers/`

The configuration is created with only `crun` as the OCI runtime and I don't see any of the run

[2019-09-17 08:59] shaicoleman commented on #3923
@lsm5 , can you into why the v1.6.0-rc1 package wasn't generated?

[2019-09-17 12:47] filak-sap commented on #1136
Any progress? I need `run --mac-address` too.

[2019-09-17 13:13] lsm5 commented on #3923
it wasn't cause I disabled the autobuilder job for a bit. @mheon are we good to have rc tags built and pushed to ppa?

[2019-09-17 13:18] rhatdan commented on #4044
The funny thing is that this is occasionally passing, which is how it got in, in the first place.  I have opened a PR to lessen the acquirements to return this error.
https://github.com/containers/libpod/pull/4052

We will see if this helps.

[2019-09-17 13:27] baude commented on #4048
do you think you can run a script with an enhanced path?  anyways, this should probably be filed downstream in bugzilla if n o work-around is present.  And as mheon points out, probably against cni

[2019-09-17 13:39] mheon commented on #3923
Uhm. I'm a little iffy on this - I kind of feel they should be opt-in.

I wish there was a way to mark them as pre-release, similar to Fedora's updates-testing channel.

[2019-09-17 13:42] mheon commented on #1136
On my list of priorities, it's around position 3 - after volume plugin support (working on this now) and IPv6 support.

[2019-09-17 13:42] lsm5 commented on #3923
afaik, ppa doesn't/can't provide separate channels. If you suspect things would break, maybe it's best to not build RCs at all.

[2019-09-17 13:43] lsm5 commented on #3923
What I could do is maybe create a separate ppa itself and build latest commit hourly. Similar to what's done for rawhide. People can use it at their own risk then?

[2019-09-17 14:04] shaicoleman commented on #3923
@lsm5 , Yes, you could have several PPAs (e.g. beta/dev/stable),
See for example: https://launchpad.net/~chromium-team

[2019-09-17 14:07] lsm5 commented on #3923
So, if I'm reading that right, that's just separate PPAs and no in-built separation like updates-testing and updates on Fedora, yes?

[2019-09-17 14:14] shaicoleman commented on #3923
@lsm5 , yes, exactly.
Just make sure that when you release a stable version, to release it to the beta channel as well, so it isn't behind stable.

[2019-09-17 14:15] baude commented on #3923
imho, i would keep things as is ... rc's are not needed in the ppa.  ideally we want podman in ubuntu proper ... and if that were to happen, then rcs in the ppas would make perfect sense.  i really dont want bug reports on two different repos.

thoughts?

[2019-09-17 14:18] lsm5 commented on #3923
I'd love that :D .. that'd mean less work for me :) . But, shouldn't be too expensive to have a rawhide-esque ppa (I'm thinking upstream master branch) if it helps the adventurous users.

[2019-09-17 14:20] lsm5 commented on #3923
@baude so, remind me, are the RCs gonna be a regular thing now?

[2019-09-17 14:23] shaicoleman commented on #3923
@lsm5, ideally there should 3 PPAs:
* Nightly (hourly/nightly)
* Beta (which would include any tagged release, e.g. beta and RC)
* Stable

[2019-09-17 15:15] filak-sap commented on #1136
@mheon Any hints on how to implement this feature?

[2019-09-17 15:40] mheon commented on #1136
First step is to modify OCICNI to allow the MAC address to be passed in as part of CNI args - `https://github.com/cri-o/ocicni/`

Then we vendor the new OCICNI library, and add handling for `--mac-address` in Podman itself

[2019-09-17 17:28] baude commented on #3923
rcs will be regular.  and imho, stable should be part of ubuntu ideally fwiw.  anyways, dealers choice here.

[2019-09-17 17:40] rhatdan commented on #4048
Please open a bugzilla on this.

[2019-09-17 17:40] #4048 closed

[2019-09-17 18:20] rhatdan commented on #3923
I would say have three.  RCs should only be available for a week or so.  We just want to make sure we don't have a regression before we release.

[2019-09-17 18:55] giuseppe commented on #4024
how have you created the user session?  Have you logged in with the user or used `sudo`?

There is a known issue with cgroups v2 and Podman that prevents the creation of containers if the current cgroup is not owned by your user.  It is fixed upstream with afd0818326aa37f03a3bc74f0269a06a403db16d that automatically creates the systemd scope if necessary

[2019-09-17 18:56] giuseppe commented on #4024
could you try using `systemd-run --scope --user podman --log-level debug start fedora-toolbox-31` ?

[2019-09-17 19:01] taaem commented on #4024
@giuseppe I have the same issue and when I run the command I get the following output:
[code]

[2019-09-17 19:29] debarshiray commented on #4047
I see that you also got:
[code]

While it's not the main point of this issue, you can set the `GODEBUG` environment variable to `tls13=0` to work around it until the Fedora registry is fixed to work with Go's TLS 1.3 implementation.

[2019-09-17 19:33] npmccallum commented on #4047
@giuseppe

[code]

[2019-09-17 19:35] npmccallum commented on #4047
@debarshiray

[code]

[2019-09-17 20:26] ansemjo opened #4055 "podman generate systemd contains wrong PIDFile path on CentOS 7"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On a CentOS 7 machine the `podman generate systemd <id>` command generates a service file with a wrong `PIDFile=` path.

**Steps to reproduce the issue:**

1. Run a `CentOS Linux release 7.7.1908 (Core)` (this was true for 7.6 too) release and use the packaged `podman` version from `extras`.

[2019-09-17 21:10] afbjorklund commented on #1843
@TomSweeneyRedHat : the answer for the boot2podman "logo" was on the link right above:

----

I fixed the issues with PODMAN_VARLINK_BRIDGE being broken, so it should work now.
Still only support virtualbox and qemu out-of-the-box, but should add a more native driver...

I think that podman-machine should be "on par" with docker-machine and[ Docker Toolbox](https://docs.docker.com/toolbox/toolbox_

[2019-09-17 21:15] mheon commented on #4055
This is fixed in Podman 1.5.x and higher. I don't know exactly when we can expect those in CentOS though - probably 7.8?

[2019-09-17 21:35] psmolkin opened #4056 "Is there any chance to run rootless podman container inside another one?"
/kind feature

**Description**

I tried to run rootless podman inside another privileged container. But namespaces mapping doesn't work.

**Steps to reproduce the issue:**

1. Run Fedora 30
1. Install podman
1. ```
   # podman run --privileged --detach --name=test --net=host --security-opt label=disable --security-opt seccomp=unconfined --device /dev/fuse:rw  quay.io/podman/testing sh -c 'tail -f

[2019-09-17 21:39] filak-sap commented on #1136
Shall we use the tunning plugin as proposed at: https://github.com/intel/multus-cni/issues/266#issuecomment-465837978 ?

[2019-09-17 21:44] filak-sap commented on #1136
This seems to be naive:

[code]

[2019-09-17 22:16] mheon commented on #1136
That looks like it could well be enough - if you're able to PR this against OCICNI, I think there's a good chance they'll accept it.

[2019-09-17 22:18] mheon commented on #4056
This should be theoretically possible, but I don't think anyone has successfully achieved it.

@giuseppe @rhatdan There seems to be a fair bit of interest in this, so we might want to look into what it would take / writing a tutorial on how to do it.

[2019-09-17 22:39] returntrip commented on #4024
@giuseppe I was running  toolbox/podman as a user without sudo.

I guess I could override https://koji.fedoraproject.org/koji/buildinfo?buildID=1379339 and see if the issue is solved for me?

Output of `systemd-run --scope --user podman --log-level debug start fedora-toolbox-31`:

[code]

Output of `journalctl`:

[code]

[2019-09-17 22:45] filak-sap commented on #1136
I could not resist to play with a little bit (not compiled nor tested):
https://github.com/filak-sap/libpod/commit/9abe0ad1228140e0690595a5f762f00ed49b2bb9

[2019-09-18 00:48] TomSweeneyRedHat commented on #4056
We're probably a bit closer with upstream/1.6.0 with crun in play, but I think there are still some hiccups.

[2019-09-18 01:37] hong-duc commented on #4049
It work, thank you, I search google and never find anything mention that I have to enable it, all article say that cgroups v2 enable by default. It all working now thank you very much :smile:

[2019-09-18 01:37] #4049 closed

[2019-09-18 08:35] giuseppe commented on #4056
looks like newuidmap/newgidmap don't get enough privileges to setup the namespace.

What is the result of `getcap /usr/bin/newuidmap`?

In case that is empty, you may try with `chmod +s /usr/bin/newgidmap /usr/bin/newgidmap`

I am afraid the new*map programs miss the file capabilities, either because of the way Fedora images are built, or because they don't work correctly within overlayfs

[2019-09-18 08:40] carroarmato0 opened #4057 "Have to use podman system migrate achter ever reboot"
/kind bug

**Description**

I use Jenkins to build root-less containers using Podman. However, I notice that every time I reboot, I'm presented with the following message when trying to interact with Podman as the Jenkins user through the command line:

[code]

**Steps to reproduce the issue:**

1. Get Podman in a working state

2. Create a Jenkins job which performs certain interactions with Podm

[2019-09-18 09:22] psmolkin commented on #4056
@giuseppe Yes I already tried to do this, based on your other [comment](https://github.com/containers/libpod/issues/3421#issuecomment-505843635) . But unfortunately that didn’t change. anything.

[2019-09-18 11:40] giuseppe commented on #4056
I've tried similar steps to yours and it seems to work fine:

[code]

so it must be something else going wrong

[2019-09-18 11:48] rhatdan commented on #1136
@filak-sap That looks pretty good, open a WIP PR and we can look at fixing ocicni.

[2019-09-18 11:52] giuseppe commented on #4057
is `/tmp` really a tmpfs?  I'd suggest to ensure `/tmp` is really cleaned up after each reboot, as there are other things that rely on that behaviour.

[2019-09-18 11:59] carroarmato0 commented on #4057
Aha, you're right. /tmp is just directly part of /, and hence not cleaned up.
How come it relies on being clean though? Wouldn't the things being dependent on it just pickup where they left?

[code]

[2019-09-18 12:15] carroarmato0 commented on #4057
I used the following commands on Centos (7.7) to enable tmpfs for /tmp and then rebooted.
Seems to have solved my issue, thanks for the pointer @giuseppe !

[code]

[2019-09-18 12:36] giuseppe commented on #4057
in this particular case, we store there the PID for the pause process so it might not exist (or worse be a different process), when you reboot.

Other state that is supposed to not be persistent can be stored there.

`XDG_RUNTIMED_DIR` usually is under `/run`.  Since you have it and it is a tmpfs, why not forcing XDG_RUNTIME_DIR` to be under `/run`?

[2019-09-18 12:36] #4057 closed

[2019-09-18 12:38] carroarmato0 commented on #4057
That's indeed another solution. Thank you for the explanation.

[2019-09-18 12:47] giuseppe commented on #4056
is there any pause process running inside the container?  Could you try `podman system migrate && odman --cgroup-manager cgroupfs unshare cat /proc/self/uid_map` as rootless?

[2019-09-18 13:09] returntrip commented on #4024
I went ahead and tested with `podman-1.6.0-2.gitca5ff03.fc31.x86_64`. To override podman I had to also override `crun-0.9.1-1.fc31.x86_64`

When I run `toolbox enter`just hangs and `systemd-run --scope --user podman --log-level debug start fedora-toolbox-31`also hangs with this output:

[code]

Logs from `journalctl`

[code]

If I interrupt the hanging command and I try a rerun I get:

[code]

[2019-09-18 13:10] rhatdan commented on #1843
@afbjorklund Great work, we need to start coordinating better.
@jwhonce Could you take a look at what he has done.

[2019-09-18 13:10] rhatdan commented on #1843
@baude ^^

[2019-09-18 13:18] mheon commented on #1136
I got a few knits, but overall those changes LGTM

[2019-09-18 13:53] filak-sap commented on #1136
I managed to build it - https://github.com/containers/libpod/issues/1136

[2019-09-18 14:00] #3957 closed

[2019-09-18 14:04] t-msn commented on #3963
Hello.

I noticed this issue on btrfs ML and if nobody is working on, I'm willing to help (though I'm not familiar with podman and may take some time).

[2019-09-18 14:11] rhatdan commented on #3963
That would be great,  Changes might be required in github.com/containers/storage though since most of the BTRFS code is in there.

[2019-09-18 14:12] baude commented on #1843
i was talking with @afbjorklund while he was making the changes.

[2019-09-18 15:40] npmccallum commented on #4047
The problem was that my user's UID was in the middle of the `sub?id` range. After fixing this, another problem was revealed. I have submitted it here: https://bugzilla.redhat.com/show_bug.cgi?id=1753328

[2019-09-18 15:41] #4047 closed

[2019-09-18 16:37] debarshiray commented on #4047
The error from `registry.fedoraproject.org` is gone now. :)

[2019-09-18 19:12] #3987 closed

[2019-09-18 20:03] afbjorklund commented on #1843
There were some changes done on `master` (after the release was made), to make it work better on for instance CoreOS and other distribution where one don't want to allow ssh access as the root user...
We're now relying on the `varlink bridge` instead, running that with `sudo`, and using the environment variable to set up the environment. Tested with Boot2Podman and (regular) Fedora 30, works OK.

[2019-09-18 20:16] debarshiray commented on #4024
I hope you don't have [NOTIFY_SOCKET](https://bugzilla.redhat.com/show_bug.cgi?id=1753328) in your environment. :)

[2019-09-18 21:41] returntrip commented on #4024
@debarshiray Yeah it is set :|. But now I have removed the newer crun and podman versions, so will test again tomorrow with NOTIFY_SOCKET unset and the rest.. Thx.

[2019-09-18 23:00] cmurf commented on #4012
I run into this out of the box with Fedora 31 Workstation beta 1.1 which first has had podman updated to podman-1.5.1-3.git0005792.fc31.x86_64, and has not previously been run until now.

[code]
There is no libpod.conf in /etc but there is in ~/.config
[code]
If I run the command a second time, the problem does not occur.
[code]
If I delete the user libpod.conf and retry, the error still does not

[2019-09-19 00:31] kunalkushwaha commented on #2979
ping @mtrmac @vrothberg

[2019-09-19 02:33] kunalkushwaha commented on #1433
If no one is working on this, I can work on this.

Can this be done with a dummy container config without new top layer, which will be deleted with umount?

[2019-09-19 05:07] evan-a-a commented on #4024
I too am seeing this issue, and after applying overrides for podman and crun, and unsetting NOTIFY_SOCKET, containers still fail to start.
Versions:
`podman 1.6.0-0.7.dev.git408f278.fc32`
`crun 0.9.1-1.fc31`
[code]
Logs:

[code]

[2019-09-19 06:15] mheon commented on #4024
That looks more like toolbox than Podman, given it's a not found in the
entrypoint...

On Thu, Sep 19, 2019, 01:07 Evan Anderson <notifications@github.com> wrote:

[2019-09-19 06:54] vrothberg commented on #2979
@giuseppe worked on fuse-overlayfs (https://github.com/containers/fuse-overlayfs/pull/119) to enable initial support. I currently have too many things on my table to think the details through but try to come back to it asap.

[2019-09-19 08:09] returntrip commented on #4024
@debarshiray thanks, that made it work :)

For other with this issue, **NEW** toolboxes work with `unset NOTIFY_SOCKET` and these packages overridden:
[code]

[2019-09-19 08:50] rhatdan commented on #1433
It could be, but it would seem better to just be able to mount the image read/only.

[2019-09-19 10:34] mafrosis commented on #1843
I just came across this project from ubuntu, related to the microk8s project.

https://github.com/CanonicalLtd/multipass

No idea of feasibility, but would be great if podman supported `microk8s` and `multipass`

[2019-09-19 10:38] rhatdan commented on #1843
If community builds it, we would be amenable.

[2019-09-19 11:06] mooncube opened #4059 "Preserve shared namespaces settings when creating pod from YAML."
/kind feature

**Description**

Is it possible to preserve --share option for pod when generating/playing pod's yaml file?

**Steps to reproduce the issue:**

[code]

So, we have running pod with 3 containers and shared pid namespace.

[code]

After that we have the same pod, but without pid namespace sharing.

**Describe the results you received:**

pod, restored from definition file, does not pr

[2019-09-19 12:22] giuseppe commented on #4024
gnome-session bug tracked here: https://bugzilla.redhat.com/show_bug.cgi?id=1753328

[2019-09-19 12:22] #4024 closed

[2019-09-19 12:55] debarshiray commented on #4024
Did you mean this:
[code]

That's not the entrypoint though. It's a configuration file that's either bind mounted or copied into the container depending on which version of Toolbox created the container.

Maybe we should just write this issue off as the `NOTIFY_SOCKET` problem? :)

[2019-09-19 13:27] mheon commented on #4059
We'd need to figure out how to encode that in Kube YAML, which I'm 99% sure does not support this by default.

[2019-09-19 13:38] haircommander commented on #4059
it is possible!
/assign

[2019-09-19 13:55] baude commented on #4055
given this is fixed upstream and this is being reported upstream, im going to close this

[2019-09-19 13:55] #4055 closed

[2019-09-19 13:57] baude commented on #3981
closing unless there is an action for us ... re-open if needed

[2019-09-19 13:57] #3981 closed

[2019-09-19 13:58] baude commented on #4027
@TomSweeneyRedHat  ptal

[2019-09-19 14:10] fmuellner commented on #4024
That worked for me ... once.

After a new container has stopped, it fails to start again:
[code]

[2019-09-19 14:15] TomSweeneyRedHat commented on #4027
@rohanlean Thanks for the issue.  Just to make sure we're on the same page, could you include the step(s) that you did for 'Step 1' to run the container and then install tex* onto it?

[2019-09-19 14:23] rohanlean commented on #4027
@TomSweeneyRedHat Something like `podman run --rm -it debian:10`, then in the container run
[code]
My apologies for the test case being so elaborate.

[2019-09-19 14:47] fmuellner commented on #4024
Luckily cleaning out ~/.local/share/containers/storage/overlay-containers/*/userdata/* fixes the last error ... because *of course* the recreated toolboxes don't work in F30, so downgrading is no longer an option ...

[2019-09-19 14:58] returntrip commented on #4024
@fmuellner yeah confirmed :(

[2019-09-19 15:04] mheon commented on #4024
Woah - the downgrade broke things?

Do both F30 and F31 have the same Podman version?

[2019-09-19 15:07] mheon commented on #4024
Argh - `userdata` fixed it? It's probably Conmon refusing to recreate the ctl file then.

[2019-09-19 15:13] fmuellner commented on #4024
I don't know, I quickly switched back to F31. The error was about `crun` missing.

Interestingly enough, I forgot to override podman/crun again when switching back to F31. So this fixed the issue with the podman/crun versions in the current image.

[2019-09-19 15:14] t-msn commented on #3963
Thanks, let me try.

[2019-09-19 15:37] ansemjo commented on #4055
Fair enough. Would there have been a more appropriate place to report this or should we just wait?

[2019-09-19 15:51] mheon commented on #4055
I think @lsm5 maintains faster-moving Podman packages for CentOS

[2019-09-19 17:40] debarshiray opened #4061 "Downgrade the default mount flag for bind mounts from 'rw' to 'ro' if the source is mounted read-only"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I updated to the new Podman 1.6.0 build for Fedora 30, rebooted, wiped out `~/.local/share/containers` and `~/.config/containers`, rebooted again, and created a new Toolbox container.  The multiple reboots were to ensure a clean slate.

However it refuses to start. It looks Podman is somehow

[2019-09-19 17:44] TomSweeneyRedHat commented on #4061
@debarshiray as a quick test, can you try this?  (Assuming you've a `/usr/bin/runc`)

`podman --runtime=/usr/bin/runc start --log-level debug fedora-toolbox-30`

[2019-09-19 17:46] debarshiray commented on #4061
[code]

I am puzzled why I am not hitting this on legacy Workstation 29. I cannot spot any delta in the RPMs for F30 and F29 that can justify this.

[2019-09-19 17:53] debarshiray commented on #4061
[code]

[2019-09-19 17:59] debarshiray commented on #4061
Aha, I am getting the `crun` warnings on Workstation 29 too:
[code]

However, for some reason `podman start` doesn't fail and things appear to work. I wonder if there's a timing problem or race somewhere. The failing Silverblue system has an SSD while the working Workstation has a HDD.

[2019-09-19 18:57] llchan opened #4062 "events_logfile_path toml key in libpod.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

https://github.com/containers/libpod/blob/7ac6ed3b4b27621e7aa15da335e65ffa601fb83e/libpod/runtime.go#L250

Not sure if this is a typo or not, but the toml key has a leading dash.  If this is intentional, feel free to close, just thought I'd mention it since it looks unconventional in the conf

[2019-09-19 19:17] mheon commented on #4062
Definitely a typo. Oops.

[2019-09-19 23:25] #3262 closed

[2019-09-19 23:25] #3669 closed

[2019-09-20 00:03] SwitchedToGitlab commented on #3963
Honestly using overlay is greatly preferred. Not sure if this is something that really needs a fix in code. It works great with BTRFS once you enable `user_subvol_rm_allowed` on the root filesystem.I'll see if I can get some time to update the [rootless tutorial](https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md) on using `overlay` as the storage driver, ensuring

[2019-09-20 02:45] cmurf commented on #3963
Right. The needed fix is when that mount option is not set, the subvolume remove fails with an error, in which case the fallback should be to 'rm -rf' the subvolume. It's slower the subvolume delete, but at least it won't fail, unless the user doesn't actually own what they're deleting.

[2019-09-20 04:23] rhatdan commented on #3963
Are either of you guys at  *All systems go* this weekend?

[2019-09-20 04:32] #4062 closed

[2019-09-20 05:07] rhatdan commented on #4027
Note:  Don't fully follow what is broken here, but I know @giuseppe has been working on lots of fixes for fuse-ovarlayfs.

[2019-09-20 05:17] rhatdan commented on #4061
Why are these warnings showing up?  The default way of running podman is not supposed to show warnings?  Basically podman is going through the libpod.conf file looking for the OCI Runtimes and printing out that a runtime is not installed, even if it is not using the runtime.  Usually no one sees these messages unless you are running with a --log-level=debug.  At least this is the way I believe it

[2019-09-20 05:18] mheon commented on #4061
Yeah I'm really curious here - either the default logging level changed (I don't remember merging any PRs to do it, but maybe it was Go toolchain stuff?), or something weird is going on.

[2019-09-20 05:19] mheon commented on #4061
I think part of the solution here, though, is to make removing conmon files an unconditional part of `start()`

[2019-09-20 05:25] mheon commented on #4061
#4065 may help here - I think a lot of the problem is lingering Conmon files. I'm not sure why they're lingering, though. Cleanup processes might not be running?

[2019-09-20 06:03] praveenkumar opened #4066 "httpd container started with podman not able to serve request on localhost"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When starting any container (in my case httpd) and map a host port and try to send a request to localhost on mapped port, it is not working.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Should able to get the

[2019-09-20 07:27] rhatdan opened #4067 "Rootless `podman Info` should show the current UID_MAP"
Lots of times when people have problems with rootless podman, we find that they have not setup User Namespace correctly.

Having podman info display this data would allow us to eliminate one common request we give to users.

[2019-09-20 07:47] giuseppe commented on #4067
since `podman info` runs in the same user namespace, it could be the output of `/proc/self/?id_map`

[2019-09-20 07:50] giuseppe commented on #4056
@psmolkin had a chance to try it out?

[2019-09-20 11:55] debarshiray commented on #4061
#4065 now broke starting containers on my Workstation 29 laptop, albeit in an entirely different way.
[code]

[2019-09-20 12:34] rhatdan commented on #4061
@giuseppe PTAL

[2019-09-20 12:46] praveenkumar commented on #4066
https://bugzilla.redhat.com/show_bug.cgi?id=1747429 is pretty much what we are experiencing.

[2019-09-20 13:12] mheon commented on #4066
This sounds to me like the issue the firewall plugin in 1.5.0 and higher was supposed to solve.

[2019-09-20 13:15] mheon commented on #4066
`ls -al /etc/cni/net.d/*` is a good starting point, to verify if it's the same bug.

[2019-09-20 13:18] mheon commented on #4067
I also think we need to better display what happened with `newuidmap`/`newgidmap` - it's very hard to get any debugging information about what they're doing. If I force the rootless userns to be recreated with `podman system migrate` I'd really like to get at least a debug log saying `newuidmap exited with 0` on the next run, or something similar

[2019-09-20 13:48] vrothberg commented on #3982
Sorry for the late reply. First, thanks for sharing the data!

If you still suffer from this issues, could you repaste the output from `podman --log-level=debug images` and the output from `find ~/.local/share/containers/storage`? The last one is to check which images and layers are actually in the storage.

[2019-09-20 14:05] praveenkumar commented on #4066
@mheon  let me know if you need the content of those files.

[code]

[2019-09-20 14:09] mheon commented on #4066
100-crio-bridge.conf exists, so I think we're definitely seeing 1747429 here.

[2019-09-20 14:20] praveenkumar commented on #4066
@mheon right, I am also going through all the comments on the issue and it is same unfortunately :(

[2019-09-20 15:20] debarshiray commented on #4061
With the updated #4065, my Workstation 29 is back to being as it used to be.

However, `podman start` continues to be broken on my Silverblue 30 with the same spew from `podman start` about not being able to mount `/usr`:
[code]

As before, the first failed `podman start` doesn't put anything in the journal, but the second attempt puts a slightly different set of logs than before. It's no longer a

[2019-09-20 15:22] mheon commented on #4061
Alright, so we've gotten further than before, but now `runc` is exiting with 1 without giving us an error code

[2019-09-20 15:23] mheon commented on #4061
Error message, rather

[2019-09-20 15:24] mheon commented on #4061
Oh, wait, I see it now. EPERM mounting a directory in the container. Hm.

[2019-09-20 15:26] debarshiray commented on #4061
Let's retitle the issue to focus on the `EPERM` that's failing `podman start`.

[2019-09-20 15:30] debarshiray commented on #4061
Isn't it peculiar that the first failed `podman start` doesn't dump anything in the logs?

[2019-09-20 16:50] t-msn commented on #3963
well, I think the fix is trivial and won't hurt anyone (please see below).

We cannot call IOC_SNAP_DESTROY ioctl if it contains other subolumes. This is the reason subovlDelte() performs path walk to remove subvolume bottom-up, but it is not  necessary for "rm -r"

I checke the code and notice that system.EnsureRemoveAll() is called after subvolDelete() and it  uses os.RemoveAll() to ensure the t

[2019-09-20 18:23] ak-1 commented on #3799
Same issue here. Lots of directories under ~/.local/share/containers/storage/vfs/dir/ that I cannot get rid of and I am running out of disk space. I also tried various prune commands like above (with only 2 images and no running containers) without effect.

I just installed podman/buildah today, pulled one base image and iterated through various buildah commit/podman run cycles (all as non-root).

[2019-09-20 18:38] mheon commented on #3799
Our strong recommendation continues to be to use `fuse-overlayfs` (rootless) or kernel overlayfs (root) instead of VFS.

As for the VFS issue... @nalind PTAL

[2019-09-20 21:05] johanbrandhorst commented on #658
I saw this today when automating something with the podman varlink API.

[code]

Again, killing one of the offending processes fixed the issue:
[code]

The deadlock seemed to happen when I tried to call `io.podman.GetContainer` immediately after calling `io.podman.StartContainer`. The `io.podman.GetContainer` was stuck reading the response from the varlink API endpoint.

[2019-09-20 22:24] psmolkin commented on #4056
@giuseppe
I apologize for the long reply.
So. I tried to install crun and change default runtime at `/usr/share/containers/libpod.conf`
I tried to do the same in the container. And ran system migrate but nothing changed
[code]

[2019-09-21 05:37] mangonel opened #4838 "Check if uid is not higher than maxuid and gid is not higher than maxgid, otherwise exit with message."
Error is non descriptive

[code]

My guess this is caused by:
--userns=keep-id
Which requires uid not to be greater than maxUID and gid not to be greater than maxGID.
With maxUID being the third field in subuid and maxGID being the third field in subgid.

[2019-09-21 14:29] Fogapod opened #4075 "Unable to pull images without root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman gives error when I try to pull images. This does not happen when I use same command as root.

**Steps to reproduce the issue:**

1. `podman pull alpine`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Image to be pulled without errors.

**Addition

[2019-09-21 15:01] Fogapod commented on #4075
Found a related issue, but doing `sysctl kernel.unprivileged_userns_clone=1 && echo 'kernel.unprivileged_userns_clone=1' > /etc/sysctl.d/userns.conf` did not help (with reboot)

additional information:
[code]

[2019-09-21 17:27] mheon commented on #4075
Can you `cat /etc/sub*id` and include the output?

[2019-09-21 17:32] Fogapod commented on #4075
[code]

[2019-09-21 18:00] rhatdan commented on #4075
Try removing all of the content from your homedir.

rm -rf ~/.config/containers ~/.local/share/containers
podman system migrate
podman unshare cat /proc/self/uid_map

[2019-09-21 18:37] rhatdan commented on #3799
Try removing the files in
podman unshare

I am sure they are owned by different users in your User Namespace.

[2019-09-21 18:39] Fogapod commented on #4075
This solved the problem for me. I am able to pull containers again.
[code]

[2019-09-21 18:39] #4075 closed

[2019-09-21 21:51] johanbrandhorst opened #4076 "Occasionally failing to start container over varlink with systemd"
**Description**

I've been playing around with the varlink interface to automate spinning up containers for testing. Occasionally I run into an issue where the `StartContainer` call will fail with the following error:

[code]

Sometimes another, somewhat similar error happens:

[code]

This happens about 1 in 10 times.

**Steps to reproduce the issue:**

1. Enable the podman socket interface
1. Cr

[2019-09-21 22:18] johanbrandhorst opened #4077 "How do you stop a GetContainerLogs stream via Go varlink interface?"
I've been playing around with the Go varlink API client for automating test container spin up and tear down. When using the API, I am able to Create, Start, Inspect and Get logs from the running container no problems. However, when I want to stop the container, sometimes the periodic message that comes in from the `GetContainerLogs` call will confuse the `StopContainer` call, since they are writin

[2019-09-22 00:26] ITmaze opened #4078 "Launching the same container twice creates a new firefox tab, rather than a window"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I run a simple container with firefox-esr a second time, instead of opening a new window, the new process opens a tab in the existing firefox-esr window.

I understood that the processes were completely isolated, this seems to indicate that they are not.

**Steps to reproduce the issue:*

[2019-09-22 06:05] rhatdan commented on #4078
You are using X Windows to do this.  The itmaze/firefox-esr is opening a connection to $DISPLAY or to a port on the host network and asking the firefox that is running to open a TAB.  You are not running a separate instance of Firefox.

[2019-09-22 19:24] jess-sch opened #4079 "Podman hangs at run"
**Steps to reproduce the issue:**

1. Setup arch, `pacman -S podman`, set up /etc/subuid and /etc/subgid as described in the documentation

2. write `runtime = "runc"` to  /etc/containers/libpod.conf because it uses crun by default (which doesn't exist on arch)

3. `podman run --rm -it alpine`

**Describe the results you received:**
[code]

**Describe the results you expected:**
I get dropped into

[2019-09-22 19:33] vrothberg opened #4080 "podman info display cgroups version"
I think it would be helpful to include the cgroups version in the host section of `podman info`. With more users and distributions using v2, there might be some common configuration hiccups we could detect easier with that at hand for new issues.

@giuseppe WDYT?

[2019-09-22 19:50] mheon commented on #4079
Can you add --log-level=debug to your Podman run command and paste the
output?

On Sun, Sep 22, 2019, 15:24 Lumi Schallenberg <notifications@github.com>
wrote:

[2019-09-22 19:53] lumi-sch commented on #4079
[code]

[2019-09-22 22:12] ITmaze commented on #4078
Confirmed, I just tried this in native docker and the same behaviour happens, very unexpected.

Thank you @rhatdan

[2019-09-22 22:12] #4078 closed

[2019-09-23 01:28] refi64 opened #4081 "podman image save & push are broken for archlinux/base"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I try to save the archlinux/base image, it fails.

**Steps to reproduce the issue:**

1. `podman pull archlinux/base`

2. `podman image save archlinux/base -o arch.tar`

3. Cry containerized tears.

**Describe the results you received:**

[code]

**Describe the results you expected:**

[co

[2019-09-23 01:59] mheon commented on #4081
@giuseppe Might this be a fuse-overlayfs error?

[2019-09-23 04:59] giuseppe commented on #4081
yes, I think it is fuse-overlayfs and can be a duplicate of https://github.com/containers/buildah/issues/1867

[2019-09-23 06:19] refi64 commented on #4081
Ah that does seem to be it.

[2019-09-23 06:19] #4081 closed

[2019-09-23 06:40] vrothberg commented on #4039
Changed the title as it generally affects the remote client.

@baude @rhatdan @QiWang19, we should discuss how to implement it. Storing the credentials on the endpoint seems undesirable and ~insecure. Storing them on the client-side will require to update a considerable amount of APIs, since the credentials need to be passed. Hence, supporting the remote use-case could end up in some _very_ intrus

[2019-09-23 06:54] vrothberg commented on #4044
@edsantiago, are we still seeing the hiccup?

[2019-09-23 08:02] vrothberg commented on #4027
It looks related to fuse-overlayfs. I can only reproduce rootless. It doesn't occur as root.

@giuseppe, could you have a look?

[2019-09-23 08:12] vrothberg commented on #4019
@jfilak, does the provided workaround work for you?

[2019-09-23 08:14] vrothberg commented on #4016
@rhatdan has answered the questions, closing.

[2019-09-23 08:14] #4016 closed

[2019-09-23 08:18] vrothberg commented on #4014
@hholst80, could you reply to the following questions? The environment is not yet clear to resolve your issue.

[2019-09-23 08:28] vrothberg commented on #4005
I can reproduce immediately. Interestingly, I cannot reproduce when avoiding the socket activation and running `sudo podman varlink -t 0 unix:/run/podman/io.podman` directly.

[2019-09-23 12:18] vrothberg commented on #4005
I get a 100 percent error rate when doing a `podman-remote run alpine echo "hi" > /dev/null`.

[2019-09-23 12:40] johanbrandhorst commented on #4076
This is worse than 1/10 times - in my recent testing it's over half the time. Often it will work fine for a bit and then fail over and over again for 5-6 times before working again. It is pretty readily reproducible.

[2019-09-23 12:42] vrothberg commented on #4076
Hi @johanbrandhorst, thanks for opening the issue. I can confirm that varlink is having issue when being started via systemd. Similar (maybe identical?) to https://github.com/containers/libpod/issues/4005.

@baude @jwhonce FYI

[2019-09-23 12:46] johanbrandhorst commented on #4076
Thanks for the information @vrothberg, unfortunately I'm only interested in running podman varlink in user mode, so that's very disappointing. Is there a way to enable the socket for rootless accounts that doesn't go via systemd?

[2019-09-23 12:52] vrothberg commented on #4076
@johanbrandhorst, you could run a varlink endpoint outside of the systemd context via `podman varlink unix:$path` and then connect to `$path`. I just did as follows:
[code]

[2019-09-23 12:54] johanbrandhorst commented on #4076
Let me see if that removes the errors, thanks!

[2019-09-23 13:10] johanbrandhorst commented on #4076
Error does seem to be related to systemd, I've been running with a local socket for a while and not seen the errors.

[2019-09-23 13:14] vrothberg commented on #4076
Thanks a lot for reporting, @johanbrandhorst! We're looking into the issue.

I will close this one as duplicate of https://github.com/containers/libpod/issues/4005. Feel free to join the discussion there.

[2019-09-23 13:14] #4076 closed

[2019-09-23 13:21] johanbrandhorst opened #4082 "podman varlink printing errors"
/kind bug

**Description**

I started a local podman socket as suggested in https://github.com/containers/libpod/issues/4076#issuecomment-534085115 and everything seems to be working just fine, however, I'm seeing a lot of errors printed from the podman "server".

[code]
(It seems to happen every time a container is started).

**Steps to reproduce the issue:**

1. Start hosting podman
[code]
1. St

[2019-09-23 13:56] jfilak commented on #4019
Well, I would have to configure docker and podman on the destination system and while it is technically possible, I didn't bother to mess up with this setup. Fortunately, I realized that I can point container storage to system partition (can hold 1 image), tmp to additional disk space (can hold 2 images) and I can pipe the original image from the source system via ssh - that way I managed to impor

[2019-09-23 14:47] mheon commented on #3953
#3941 is merged, so this is fixed, closing

[2019-09-23 14:47] #3953 closed

[2019-09-23 14:48] TomSweeneyRedHat commented on #3642
FYI proposed fix:  https://github.com/containers/buildah/pull/1869

[2019-09-23 14:49] mheon commented on #3906
I'm going to test this now that #3931 is merged and see if we can call it fixed

[2019-09-23 14:55] mheon commented on #3906
Does not appear to be fixed. Looking deeper...

[2019-09-23 15:00] mheon commented on #3906
SHM is still mounted, but I'm not seeing any error messages out of Podman.

[2019-09-23 15:21] mheon commented on #3906
Alright, I think the reproducer here has introduced a wierd race.

`podman run --rm` invokes container removal twice: once in the Conmon cleanup process, once in the main `podman` process. This duplication is to ensure that, if the user detaches from the container, it will still be removed in the background; but if the container remains alive, it is guaranteed to be removed before `podman run --rm

[2019-09-23 15:28] mheon commented on #3906
(For reference - adding a `time.sleep(1)` before the `proc.kill()` completely fixes the bug for me.
Podman will handle other signals via sig-proxy, but we can't catch SIGKILL, and can't sanely handle the situation.

[2019-09-23 15:31] mheon commented on #3874
I believe this is fixed upstream by a revendor of `ocicni` in 1.5.2 - please reopen if it's not.

[2019-09-23 15:31] #3874 closed

[2019-09-23 15:31] #4082 closed

[2019-09-23 15:41] baude commented on #4080
yes please

[2019-09-23 15:58] mheon commented on #4079
Expected error for rootless.

@lumi-sch Can you re-run that `podman run --log-level=debug ...` command, and look in syslog (journalctl for systemd distros) for messages from `conmon`? The real error may be being logged there

[2019-09-23 16:07] lumi-sch commented on #4079
@mheon
[code]

[2019-09-23 16:11] mheon commented on #4079
So I think this means that Conmon is hanging waiting for `runc` to successfully execute - which may very well mean `runc` is also hanging.

[2019-09-23 16:20] mheon commented on #4079
Out of curiosity - is anything different if you run Podman without `-t`? `podman run --log-level=debug --rm -i alpine`?

[2019-09-23 16:25] mheon commented on #4079
We have to be hanging in this section of `conmon`: https://github.com/containers/conmon/blob/master/src/conmon.c#L1550-L1581

I don't see anything obvious in here. @haircommander Any ideas?

Might help to find Conmon's PID and attach with strace, figure out where it's hanging.

[2019-09-23 16:40] jcpunk opened #4084 "libpod.conf option to set default shm-size"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Along with the other default options within `libpod.conf` it would be helpful for me to set an alternate default for `shm-size`.

**Steps to reproduce the issue:**

1. look for way to set the default of `--shm-size` within podman to a value other than 64m

2.

3.

**Describe the results y

[2019-09-23 16:42] mheon commented on #4084
@rhatdan This sounds like a good use-case for `containers.conf`

[2019-09-23 17:07] lumi-sch commented on #4079
@mheon

[code]
journalctl:
[code]

[2019-09-23 17:08] mheon commented on #4079
Hm. Exactly identical. Not terminal vs nonterminal code, then. Interesting.

[2019-09-23 18:03] #4002 closed

[2019-09-23 18:05] mheon commented on #3843
I tried reproducing for around an hour over here, and I haven't been able to produce a lock leak.

Podman 1.1.x to 1.3.x had serious lock leaks around both pods and container restart, and I wonder if that did start the situation - and then the locks remained allocated after upgrading...

[2019-09-23 18:13] lumi-sch commented on #4079
In case it's useful to anyone, I collected strace logs of `podman --rm -i alpine`. The podman process has the PID 12361
(the file names are the PIDs)

[12376.txt](https://github.com/containers/libpod/files/3643457/12376.txt)
[12396.txt](https://github.com/containers/libpod/files/3643458/12396.txt)
[12395.txt](https://github.com/containers/libpod/files/3643459/12395.txt)
[12379.txt](https://github.

[2019-09-23 18:24] cevich opened #4085 "Integration tests: run pod doesn't wait for port-bind before check"
/kind bug

**Description**

When starting a pod (or a container) in detached-mode, the command exits as soon as the entry-point starts.  Several tests start nginx listening in a container on a specific port.  However, these tests do not wait for nginx startup-completion (port-binding), before checking accessibility of the test-port.

**Steps to reproduce the issue:**

(speculative)
1. `podman run

[2019-09-23 18:34] cevich commented on #4085
Suggestion - Given how many integration tests use the nginx image, what if we customize it so it emits some output, like 'READY' after nginx has been started.  Then the test can use `podman logs...` to wait for "READY" before running the `nc ...` check.

[2019-09-23 18:56] baude commented on #4079
@lumi-sch I took the time to setup an arch vm and try to reproduce your report.  I think the issue boils down to configuration files and I think step 2 is your culprit.  You do not need to do your step #2 on arch.  The defaults for podman users are taken from `/usr/share/containers/libpod.conf`.  If you need to make changes to the default configuration, you must **copy** the configuration from `/u

[2019-09-23 18:59] mheon commented on #3759
Should be fixed by #4086

[2019-09-23 19:09] lumi-sch commented on #4079
@baude I tried to do that, and it turns out the configuration file already said `runtime = "runc"`... However, the issue persists.

[2019-09-23 19:09] cevich commented on #4085
Easier (maybe) suggestion:  A custom nginx image for testing.

[code]

When run, this will splat a bunch of useful status bits on stdout (and therefor to it's log):

[code]

That lets us modify the affected tests to use `podman logs` and watch for `start worker process` using `utils.WaitContainerReady()` to signal startup completion.

[2019-09-23 19:20] baude commented on #4079
@lumi-sch any chance you could join us on IRC?  freenode  #podman   maybe we can actively debug this.

[2019-09-23 19:31] baude commented on #1826
@rhatdan did you get your pr merged on this so we can close it ?

[2019-09-23 19:32] mheon commented on #1826
Nope.

[2019-09-23 19:33] baude commented on #2070
@mheon i think you are exactly correct on the approach in my opinion.  anyways, that is how i would first try to do this? so what would it take to close this out? docs?

[2019-09-23 19:34] baude commented on #2699
we need to get an answer here ... what is required to not do what we are doing?

[2019-09-23 19:34] mheon commented on #2070
I'm running low on bugs - I could grab this

[2019-09-23 19:35] baude commented on #2726
we believe this issue is now closed with PR #3833 .  please re-open if you find that not to be true.

[2019-09-23 19:35] #2726 closed

[2019-09-23 19:35] baude commented on #2070
but my question is what needs to be done?

[2019-09-23 19:36] baude commented on #2878
this should now be doing what you wanted @mheon

[2019-09-23 19:36] #2878 closed

[2019-09-23 19:37] mheon commented on #2070
We need to ensure containers with --net=none make a network namespace and use CNI to configure the loopback plugin - and only the loopback plugin.

[2019-09-23 19:44] cevich commented on #1915
Fix is in https://github.com/containers/libpod/pull/3969

[2019-09-23 19:45] vrothberg commented on #2699
@baude, we can either clone the repository and build it or we download the pre-built binaries from https://github.com/krallin/tini/releases.

I prefer cloning and building catatonit. Will look into this tomorrow morning to warmup.

[2019-09-23 19:45] baude commented on #3107
for now, i dont think there is interest in doing this.  if the community changes its minds, we can look into it

[2019-09-23 19:45] #3107 closed

[2019-09-23 19:47] cevich commented on #1915
Monitoring for post-merge success:
https://cirrus-ci.com/build/6163886895529984

[2019-09-23 20:03] baude commented on #2925
closing, please re-open if issue persists

[2019-09-23 20:03] #2925 closed

[2019-09-23 20:10] baude commented on #3481
in 1.6

[2019-09-23 20:10] #3481 closed

[2019-09-23 20:11] cevich commented on #1915
There's some (unknown/unexpected) problem with #3969 post-merge.  I do not see the new 'upload_snap` task being scheduled (link above).  However, looking under one of the running tasks, I can verify that indeed:

[code]

So the execution condition is met for the task.  Investigating...

[2019-09-23 20:16] baude commented on #3148
we believe this is fixed and as such are closing it; please re-open if the problem persists.

[2019-09-23 20:16] #3148 closed

[2019-09-23 20:18] baude commented on #3454
this is fixed in upstream now; re-open if problem persists.  should be in 1.6

[2019-09-23 20:38] cevich commented on #1915
...I believe this is a bug in Cirrus-CI.  I've contacted their support about this and to confirm.

[2019-09-23 20:39] cevich commented on #1915
@abitrolly FYI ^^^^^^

[2019-09-23 20:45] cevich commented on #3447
Note to me:  We have fresh images for all platforms in master.  I will check and verify the version of CNI plugins that are present.

[2019-09-23 21:02] baude commented on #3204
you must pass the *output* attribute for this to work correctly.  I have updated the API documentation as such.

[2019-09-23 21:08] edsantiago commented on #4044
The original error (podman run alpine true -> 126) no longer reproduces on f29 with podman-1.6.0-2.fc29 but the second error is now worse:
[code]
Actually it looks like we're back to the days where podman-remote ignores all exit codes:
[code]

[2019-09-24 06:47] marusak commented on #4002
Thank you for documenting event types! I have some additional questions. All of these are related to [cockpit](https://github.com/cockpit-project/cockpit-podman) plugin. Sometimes happens that we stop getting new events from varlink. There has been a few reports that all seem to affect this, I just thought if this could be related as well, since we see a few `system` events as well and we do not p

[2019-09-24 09:16] vrothberg commented on #4044
I wonder why we're not seeing those issues in the CI :thinking:

[2019-09-24 10:16] vrothberg commented on #4005
It looks like the logic to disable sdnotify was wrong. Opened #4089 to address the issue. It fixes the issues locally but lets wait what the CI has to say.

[2019-09-24 11:00] haraldh commented on #4077
You can't make 2 calls on the same varlink connection. Just open another connection.

[2019-09-24 11:01] haraldh commented on #4077
Especially with connections with `varlink.More`

[2019-09-24 11:04] #4077 closed

[2019-09-24 11:49] AkihiroSuda commented on #746
This should be reopened, because podman-compose is now in the scope of github.com/containers?

[2019-09-24 12:29] adrianreber opened #4092 "Rootless 'podman build' fails on Fedora 31 with create '/sys/fs/cgroup/buildah-buildah686781267': Permission denied"
Running `podman build` as a newly created user fails on today's Fedora 31.

[code]

Switching to cgroupv1, using runc, running `podman build` enables me to build the container. I can run the container, once it is build, using crun and cgoupv2. Only container building is broken.

[code]

[2019-09-24 13:12] #4005 closed

[2019-09-24 13:24] vrothberg commented on #3603
The service files and the backend has been improved. The issue is now resolved in master.

Thanks a lot for opening the issue, @martinpitt !

[2019-09-24 13:24] #3603 closed

[2019-09-24 13:25] baude commented on #3935
what needs to be done here? it isnt clear to me there is a problem?

[2019-09-24 13:25] vrothberg commented on #3602
The issue is now resolved and the fixes will be released with the Podman v1.6.0. Thanks a lot for opening the issue, @martinpitt!

[2019-09-24 13:28] baude commented on #3882
@jdjgya i believe you might be missing the varlink command itself which I'm not certain is supported on f28.  Can you use f29 and install one of the varlink packages that provides /usr/bin/varlink.

[2019-09-24 13:28] baude commented on #3882
@jdjgya if that does not work with the latest podman and f29, please open a new issue and we'll help you out.

[2019-09-24 13:28] #3882 closed

[2019-09-24 13:29] aric49 opened #4093 "Podman Support for K8s "Deployment" specification"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When I attempt to use `podman play kube deployment.yaml` against a Kubernetes YAML in the "Deployment" specification, an empty pod gets created consisting of a simple "pause" container and no other containers or configuration.

**Steps to reproduce the issue:**

1. Download the sample deployme

[2019-09-24 13:30] mheon commented on #4092
I think this one was a known issue, `buildah` not yet knowing about the systemd CGroup manager>

[2019-09-24 13:31] baude commented on #3821
does this occur commonly enough to pursue?

[2019-09-24 13:33] baude commented on #3694
https://github.com/containers/dnsname/  should give you what you want.

[2019-09-24 13:33] #3694 closed

[2019-09-24 13:34] baude commented on #3684
is there anything that can be done here or should we close?

[2019-09-24 13:34] #3684 closed

[2019-09-24 13:42] mheon commented on #3684
I think we're stuck - Podman, running as root, does require DAC_OVERRIDE.

[2019-09-24 13:49] sdeoras commented on #3935
as @rhatdan commented earlier, if this is because dockerhub has problems with OCI images, we can close this issue.

[2019-09-24 14:07] edsantiago opened #4095 "podman-remote gobbles stdin"
podman-remote unnecessarily (and incorrectly) reads its stdin:
[code]
Compare to plain podman, or to anything else:
[code]
Sometimes, but not always, the `podman varlink` process spits out an error:
[code]
I believe that fixing this bug will go a long way toward clearing up many of the weird CI failures currently being seen.

podman-1.6.0-2.fc30.x86_64 but this is a longstanding bug

[2019-09-24 14:13] lsm5 commented on #3924
Hi @matpen, just curious, do you know of any other PPAs that provide this? I don't think there's a trivial way to do this on PPA.

@baude @mheon once we have a new release, we stop supporting the older ones, yes?

[2019-09-24 14:17] edsantiago opened #4096 "podman-remote: missing error messages"
[code]
(i.e. no output). Error message goes only to the varlink window:
[code]
podman-1.6.0-2.fc30.x86_64 as well as current master @ 83b2348313c52cc3e20d72285a9d81d3d72c2d5d; but this is a longstanding bug

[2019-09-24 14:19] vrothberg commented on #3814
Can reproduce on Fedora 30. Will look further into where it's coming from.

[2019-09-24 14:28] cevich commented on #3447
- `fedora-30-libpod-5664838702858240`: `containernetworking-plugins-0.8.1-1.fc30.x86_64`
- `fedora-29-libpod-5664838702858240`: `containernetworking-plugins-0.8.1-1.fc29.x86_64`

[2019-09-24 14:30] vrothberg commented on #3814
The solution is to add `After=network-online.target` to the unit file. A `Wants=` is not sufficient as we need to explicitly order it.

[2019-09-24 14:30] #3814 closed

[2019-09-24 14:30] mheon commented on #3924
Yeah, we don't generally do backports to older versions

[2019-09-24 14:31] edsantiago commented on #4044
I believe this is fixed in 1.6 but a different issue (#4096) prevents automated testing. Closing.

[2019-09-24 14:31] #4044 closed

[2019-09-24 14:43] #3628 closed

[2019-09-24 14:53] vrothberg commented on #3294
@lsm5 is that something you could look into?

You could create a branch that replaces github.com/mtrmac/gpgme with github.com/proglottis/gpgme and build that in different RHELs.

Are we still support consumers of c/image in RHEL 6?

[2019-09-24 15:18] TomSweeneyRedHat commented on #3935
@sdeoras thanks for the follow up, closing.

[2019-09-24 15:18] #3935 closed

[2019-09-24 15:22] shaicoleman opened #4099 "Add Ubuntu PPAs for dev/beta channels"
/kind feature

**Description**

At the moment only stable releases are available to download from the Ubuntu PPA.

Allowing people to download nightly and prerelease (rc/betas) would allow more users to test releases to ensure they are stable, and to allow users to use fixes and enhancements that aren't yet in stable

Ideally there will be 3 PPAs:
Dev (hourly/nightly)
Beta (which would include any

[2019-09-24 15:23] shaicoleman commented on #3923
I've opened a new issue #4099 , as this issue is closed

[2019-09-24 15:43] edsantiago commented on #4095
The `echo` example is not particularly real-worldly; here's a better example of how stdin-gobbling violates POLA:
[code]

[2019-09-24 16:25] edsantiago commented on #4012
ping, this is still causing gating test failures on rawhide

[2019-09-24 16:53] debarshiray commented on #4047
That sounds a bit like https://github.com/debarshiray/toolbox/issues/268

Do you remember what the exact problem was? eg., what was your UID and what the subuid range looked like? I am trying to figure out if we can have a better error message for cases like these.

[2019-09-24 17:00] edsantiago commented on #3302
ping, still seeing this in podman-1.6.0-2.fc30

[2019-09-24 17:16] lsm5 commented on #3924
@matpen any reason you need to pin podman version?

[2019-09-24 17:32] mheon commented on #4061
`DEBU[0000] using runtime "/usr/bin/runc"                `

I think we are using runc here, not crun.

[2019-09-24 17:32] mheon commented on #4061
[code]

That is 100% a runc error

[2019-09-24 17:36] mheon commented on #4061
EPERM mounting in `/usr` at `run/host/usr` in the container. That looks like a bind mount, but I don't have one at that location in my toolbox container.
@debarshiray Was this added recently? Or is it only created conditionally?

[2019-09-24 17:38] matpen commented on #3924
I think that it can be easily accomplished by using file names. At least this is what I see on the [kernel ppa](https://kernel.ubuntu.com/~kernel-ppa/mainline/) and [gcc ppa](https://launchpad.net/~ubuntu-toolchain-r/+archive/ubuntu/test).

For example, I used to install gcc 7 on Ubuntu 16.04 like this:
[code]

When using podman in production, things might break on system update. For example, when

[2019-09-24 18:14] philbert commented on #4039
I want to get rid of the docker desktop for something more lightweight... but I immediately ran into this issue with a colleague (who runs podman on linux) and the two of us were totally confused and gave up after 15 minutes.

Now after reading the readme I am no less confused about how I might use buildah or podman and whether or not I can finally replace the awful docker desktop.

And by "awful"

[2019-09-24 18:55] mheon commented on #4093
Reopening. We want to eventually support the Deployment spec, but it's a feature request, not a bug.

[2019-09-24 19:07] lsm5 commented on #3924
If upstream isn't supporting older releases, I'd rather not commit to this either.

There's [another request](https://github.com/containers/libpod/issues/4099) to publish multiple PPAs where one has only the latest release, while the others have RCs/nightlies/hourlies. Perhaps you could use those (once published) to test upcoming versions?

@mheon can correct me if I'm wrong, but the old behaviour

[2019-09-24 19:24] debarshiray commented on #4061
Yes, this is definitely using `runc` because it's a Fedora 30 Cgroups v1 system. It's just confusingly emitting warning about `crun` somewhat similar to https://github.com/containers/libpod/issues/4012

[2019-09-24 19:40] debarshiray commented on #4061
Yes, it was [added recently](https://github.com/debarshiray/toolbox/pull/264) in Toolbox 0.0.14.

This seems like something that could totally be due to the way `/usr` is handled differently on Silverblue versus Workstation.

[2019-09-24 19:42] cevich commented on #4005
Oh this is fantastic! Thanks @vrothberg :smiley_cat:

[2019-09-24 19:43] debarshiray commented on #4061
On Silverblue 30, I have:
[code]

It seems that I can mount it `ro` but not `rslave`.

[2019-09-24 19:51] debarshiray commented on #4061
Anyway, if you think that `/usr` shouldn't be mounted `rslave` on Silverblue, feel free to throw this back to me, and I am happy to fix Toolbox.

I am just surprised because @cgwalters has been [doing this for a while](https://github.com/cgwalters/coretoolbox/blob/master/src/coretoolbox.rs#L308) in his prototype and I believe he uses Silverblue.

[2019-09-24 20:01] cevich commented on #1915
Update: I *know* this is a bug/limitation in Cirrus-CI (proven via another PR).  The issue is all instances of

[code]

and

[code]

Will not resolve the RHS.  I'm not excited about substituting the branch name for every one, since it adds confusing duplication and will break when future branches/forks are created :confounded:

i.e. the reason why having `$DEST_BRANCH` is helpful :face_with_head_b

[2019-09-24 20:20] baude commented on #4039
@philbert stick with us ... the only question at this point is how to do it safely/securely.

[2019-09-24 21:08] mheon commented on #4061
Ummm. So it works without rslave? Interesting.

[2019-09-24 22:11] matpen commented on #3924
This has nothing to do with supporting old version. The requirement here is that an older version is still available through the convenience of the PPA, not that bugfixes are backported. In fact, this is exactly what should not happen (at least not without changing the version number).

This is not always an option: when the version is released, the PPAs are rotated, and it is not always possible

[2019-09-24 23:30] lsm5 commented on #3924
Hmm, I think I can set this up, but quite likely won't be on the current launchpad ppa, but some other location where I have more control. I'll try and get back on this asap.

[2019-09-25 06:09] ak-1 commented on #3799
I removed all files and installed fuse-overlayfs. This works fine, thanks!

[2019-09-25 07:35] rhatdan commented on #4099
Nice work @shaicoleman and @lsm5 We are getting closer.

[2019-09-25 07:35] #3759 closed

[2019-09-25 07:35] #3204 closed

[2019-09-25 07:42] rhatdan commented on #4092
@TomSweeneyRedHat Not looking at it now, and we have to get this fixed soon.  Could you look into fixing this.  Basically I think we should just force systemd if running in cgroupsV2 in rootless mode.
@giuseppe @nalind WDYT?

[2019-09-25 07:45] #4095 closed

[2019-09-25 07:46] rhatdan commented on #4085
Do we know if nginx supports sd-notify?  If it does, we could test for that and kill two birds with one stone.

[2019-09-25 07:48] rhatdan commented on #4084
I agree this is a containers.conf issue.  We need to start moving that PR https://github.com/containers/buildah/pull/1858 forward.
@QiWang19 FYI

[2019-09-25 07:49] rhatdan commented on #4080
We would need this for buildah info as well.

[2019-09-25 07:58] giuseppe commented on #4092
It is already fixed in crun, I am going to cut a new release next week

[2019-09-25 07:59] giuseppe commented on #4092
https://github.com/containers/crun/pull/97

[2019-09-25 12:33] willzhang opened #4105 "Centos8 podman is 1.1.0?"
Why the podman version is 1.1.0 in centos8, how can I install the latest version of podman use yum ?

[2019-09-25 12:39] TomSweeneyRedHat commented on #4105
@lsm5 can you assist please?

[2019-09-25 12:48] lsm5 commented on #4105
Probably not until centos enables sig repos for centos8. For now you gotta wait for stuff to land in base CentOS.

[2019-09-25 12:49] willzhang commented on #4105
Centos7 is v1.4.4, but I really want to use the latest version of podman!

[2019-09-25 12:50] willzhang commented on #4105
Ok

[2019-09-25 12:50] #4105 closed

[2019-09-25 14:27] cevich commented on #3447
Problem is def. ***not*** fixed in fedora :  https://api.cirrus-ci.com/v1/task/6382599951351808/logs/integration_test.log

[2019-09-25 14:32] cevich commented on #3447
@lsm5 can we please get new containernetworking-plugins packages that are built with vendor go-iptables 1.8.1 or later?  I believe latest upstream should already specify that.

[2019-09-25 15:33] debarshiray commented on #4061
I am getting the same problem with `podman-1.5.1-3.fc30.x86_64` on Silverblue.

[2019-09-25 15:35] mheon commented on #4061
@rhatdan Any ideas on the EPERM here when `rslave` is used in the bind mount? I don't really see any reason it would hard-fail.

[2019-09-25 16:50] johanbrandhorst opened #4107 "Varlink interface: allow container log formatting"
/kind feature

**Description**

The podman varlink interface currently allows the user to get the logs from a container, but they always include a very verbose log format:

[code]
vs `podman logs <id>`:
[code]

The header: `2019-09-25T17:46:06.557798440+01:00 stderr F` is only prepended to the varlink logs, it appears.

This format gets in the way more often than not, but there does not appear to

[2019-09-25 16:54] johanbrandhorst commented on #4107
This logging appears to be applied here:
https://github.com/containers/libpod/blob/8ab3c86aa19d4851ee31a764becb7cbc8c1e9c07/libpod/container_log_linux.go#L100. I would be happy to submit a PR to remove the headers myself, if that is deemed an appropriate action.

[2019-09-25 17:18] inthenets opened #4108 "How to report security issues"
Hey folks,

I tried emailing a few contacts associated with the repo and project recently, but haven't heard back as of now. Recently took a look at the code and security model of Podman, specifically with it's Varlink integration and wrote up some security related details and have some findings that are likely of interest to you folks.

I couldn't find the typical security@ email address to discu

[2019-09-25 17:23] haircommander commented on #4107
@johanbrandhorst are you using `systemd` log driver or `k8s-file`? The above code is only for `systemd`, and I think you're seeing output of `k8s-file` that is being read directly from the log file

[2019-09-25 17:56] baude commented on #4108
@inthenets you can email me bbaude@ i work for Red Hat

[2019-09-25 18:29] #3829 closed

[2019-09-25 19:27] mheon commented on #3976
This should be fixed now.

[2019-09-25 19:27] #3976 closed

[2019-09-25 20:35] inthenets commented on #4108
Thanks baude!

[2019-09-25 21:06] cevich opened #4111 "PodmanPID() does not use locally cached images"
/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1. Run integration tests

**Describe the results you received:**

Sometimes this test fails.

**Describe the results you expected:**

This test always passes

**Additional information you deem important (e.g. issue happens only occasionally):**

Culprit appears to be that `PodmanPID()` does not use `PodmanAsUserBase()` (from ut

[2019-09-25 21:27] mheon commented on #4111
https://github.com/containers/libpod/pull/4110 ought to get this

[2019-09-25 21:38] #3894 closed

[2019-09-25 22:16] MarcoFalke commented on #4108
As a note to maintainers, you can also set one up on GitHub: https://github.com/containers/libpod/security/policy

[2019-09-25 22:24] MarcoFalke opened #4112 "After upgrade from 1.4.4 to 1.5.1: Error: read unixpacket"
/kind bug

**Description**

**Steps to reproduce the issue:**

TBD (Reproducible with my scripts)

**Describe the results you received:**

With podman version 1.4.4 all my scripts run fine,
with podman version 1.5.1 they break and I get an error back saying

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Addi

[2019-09-25 22:26] MarcoFalke commented on #4112
Might be a duplicate of https://github.com/containers/libpod/issues/3302#issuecomment-526905994?

[2019-09-25 22:33] MarcoFalke commented on #4112
Steps to reproduce:

[code]

[2019-09-25 22:34] #4112 closed

[2019-09-25 22:35] MarcoFalke commented on #3302
This can be worked around by downgrading the package to 1.4.4, it seems:

[code]

[2019-09-25 22:38] edsantiago commented on #3302
Unlikely: I filed against 1.4.0, and the problem has never been fixed. I suspect if you try enough times, you'll run into it again. After all, it's an intermittent problem.

[2019-09-25 22:43] mheon commented on #3302
I think it was run only prior to 1.5 when it expanded to exec

On Wed, Sep 25, 2019, 18:39 Ed Santiago <notifications@github.com> wrote:

[2019-09-26 01:20] SwitchedToGitlab commented on #1659
If you find yourself in this situation try removing the state database with `rm ~/.local/share/containers/storage/libpod/bolt_state.db`, then doing a `podman system prune`.

[2019-09-26 05:59] rhatdan commented on #2070
I agree.

[2019-09-26 07:30] johanbrandhorst commented on #4107
@haircommander I'm not sure, whatever the default is I guess? I haven't specified the log driver explicitly. This is using a varlink interface where the host is `podman varlink unix:/home/$(whoami)/podman.socket -t 0 &`.

[2019-09-26 07:37] johanbrandhorst commented on #4107
Setting `k8s-file` explicitly also results in the same verbose output.

[2019-09-26 10:14] mcayland opened #4113 "podman run SIGSEGV on git master in rootless mode"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've been evaluating podman locally on my Debian buster laptop and I see a SIGSEGV when following through the "Running a sample container" instructions at https://podman.io/getting-started/getting-started.

**Steps to reproduce the issue:**

1. Build and install podman on Debian buster accord

[2019-09-26 11:15] mcayland commented on #4113
I've now locally built and installed slirp4netns 0.4.1 deb packages from https://packages.debian.org/sid/slirp4netns as I see that Debian buster supplies slirp4netns 0.2.x and podman requires slirp4netns > 0.3.0, but I'm still struggling to launch the sample container in rootless mode:

[code]

I can't quite see why the "unable to set namespace" permission error is happening? Certainly both kernel

[2019-09-26 11:24] johanbrandhorst commented on #1742
Friendly bump on the progress of the debian packages for `podman`, `buildah` and `skopeo`?

[2019-09-26 11:30] LeoQuote opened #4114 "failed to create bridge "cni-podman0" when trying to start a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. start a container  eg. ``podman run docker.io/busybox``

**Describe the results you received:**

container failed to start

[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):

[2019-09-26 12:05] onlyjob commented on #1742
@johanbrandhorst just follow respective Debian WNPP tickets for status.
In short, not even close. Docker is already a dependency hell and _libpod_ adds a bunch of dependencies on top. Resulting dependency tree is insane/fragile and very hard to maintain due to its size.
This is how it feels to maintain the docker and libpod dependency trees: https://media.wired.com/photos/5c50f2c878c63d4dfaaf9b5a/

[2019-09-26 12:12] edsantiago opened #4115 "1.6 rc2, fc30, rootless: warnings about missing crun"
(Similar to, but not the same as, #4012)

podman-1.6.0-0.2.rc2.fc30 rootless outputs copious warnings by default:
[code]
This is fc30, not fc31. I made the warnings go away by hand-editing `~/.config/containers/libpod.conf` but am concerned that this is going to come back and haunt us; in particular, regular users will end up doing the same (removing runc from config) and then ending up with nonwo

[2019-09-26 12:13] johanbrandhorst commented on #1742
Thanks, sorry for being a noob, have you got a link to the tickets?

[2019-09-26 12:19] alexlarsson commented on #4061
From irc:
<alex> rishi: So, i think you're getting the error here: https://github.com/opencontainers/runc/blob/master/libcontainer/rootfs_linux.go line 971
<alex> i.e. the mount on 966 succeeded, but we not that propagation flags is set, so we try to set those, and it fails
<alex> However, that code doesn't seem correct
<alex> Because the propagation remount *just* sets the new rslave (MS_REC|MS_S

[2019-09-26 12:24] lsm5 commented on #1742
@marcov @sysrich would you still like to go ahead with this? Let me know how I can help.

[2019-09-26 12:24] baude commented on #4114
just to be sure, what version of the containernetworking-plugins do you have installed?

[2019-09-26 13:07] debarshiray commented on #4061
The source `/usr` on the host seems to have the right mount propagation property (ie., `shared`) for a `rslave` bind mount.

On Workstation:
[code]

[2019-09-26 13:08] debarshiray commented on #4061
On SIlverblue:
[code]

[2019-09-26 13:09] alexlarsson commented on #4061
What is the exact flags though?
i.e. `grep /usr /proc/self/mountinfo`

[2019-09-26 13:15] mheon commented on #4115
This repros as rootless, but not as root. I'm really confused as to why default log level is not the same between the two.

[2019-09-26 13:19] debarshiray commented on #4061
On Workstation:
[code]

On Silverblue:
[code]

The Podman documentation says that `rw` is the default bind mount flag if one of `rw` or `ro` isn't specified. It is taking the default quite literally and not downgrading it to `ro` if the source is such.

[2019-09-26 13:22] alexlarsson commented on #4061
That seems non-ideal, as well as not possible to do rootless.

However, you had the same issue on workstation, right? I wonder if this is because the remount operation in podman doesn't supply the seclabel option.

[2019-09-26 13:24] alexlarsson commented on #4061
Also, i'm not sure that is quite true always. If you don't specify either readonly or slave, then its just going to do a bindmount, and that will inherit the readonly flag. It will only be a problem is *some* flag is specified, then it will try to remount with that flag, which will cause problems because that leaves out the current flags/options in the remount call.

[2019-09-26 13:29] johanbrandhorst commented on #4056
I'm also trying to get to work, with the aim to eventually be able to run automated test suites that start local containers within an unprivileged docker or podman container. I'm able to get this far, with both `archlinux/base` and `fedora` bases.

After installing podman and confirming `podman info` works, this is what I get when trying to run a container:
[code]

The basic steps I'm following:
1

[2019-09-26 13:35] onlyjob commented on #1742
* https://bugs.debian.org/cgi-bin/pkgreport.cgi?dist=unstable;package=wnpp
   * https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440  :: libpod
   * https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=928083 :: buildah
   * https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=880199 :: skopeo

[2019-09-26 13:43] mheon commented on #4115
We explicitly set `ERROR` level logging by default for Podman, unconditionally, unless overridden by CLI.

[2019-09-26 13:46] mheon commented on #4115
[code]

Well there's our problem. `logrus` as rootless is ignoring `log-level=error`. Maybe something about how we exec a new process?

[2019-09-26 13:50] mheon commented on #4056
You'll probably want to run the outer container with either `--privileged` or `--security-opt seccomp=unconfined`

[2019-09-26 13:50] mheon commented on #4056
(I think seccomp will block the mount calls otherwise)

[2019-09-26 13:51] johanbrandhorst commented on #4056
Thanks for the tip, that does unfortunately defeat the whole point :(. Is there any chance this will be possible without `--privileged` eventually?

[2019-09-26 13:52] mheon commented on #4056
Not without changes to the Seccomp profile (and potentially other things) - Seccomp blocks a lot of things (like the mount calls I mentioned) that we need to continue setup.

[2019-09-26 13:53] cevich commented on #4021
@jhonce Reproducer is:  Run our automation a billion times and check each run for it to break :cry:

What's your thinking?

[2019-09-26 13:54] LeoQuote commented on #4114
Thanks for your reply!

I'm not so sure about cni plugin version. All I know is the k8s version is 1.13.1, bootstraped with hyperkube

the ``cniVersion`` in 10-calico.conflist is ``0.3.0``, while the version for ``87-podman-bridge.conflist`` is ``0.4.0``, could that be a problem?

[2019-09-26 14:01] mheon commented on #4115
I think it's definitely the re-exec part of rootless.

[2019-09-26 14:02] LeoQuote commented on #4114
The cni-plugin version is ``0.8.1``.

[2019-09-26 14:08] edsantiago commented on #4115
Nice. Fixing this bug may then fix #4012 and get gating tests to pass on rawhide.

[2019-09-26 14:13] mheon commented on #4115
@giuseppe Poke - where does rootless re-exec happen? I'm trying to trace the code, but getting lost in the make pause process vs join pause process bit.

[2019-09-26 14:20] mheon commented on #4113
Interesting - we're not able to join the rootless pause process because of an EPERM...

Can you try a `podman system migrate` and reset again.

[2019-09-26 14:49] baude commented on #4114
@LeoQuote can you paste in the contents of the 87-podman ... file ?

[2019-09-26 15:04] johanbrandhorst commented on #4056
https://stackoverflow.com/a/56856410 might be useful for this discussion too.

[2019-09-26 15:20] debarshiray commented on #4061
When using `--volume /usr:/run/host/usr:rslave` on Silverblue, `strace` shows:
[code]

Instead, if `--volume /usr:/run/host/usr:ro,rslave` is used, it works, and `strace` shows:
[code]

I am too confused by the semantics of `mount(2)` to understand why the second `mount` invocation is necessary.

However, from a high-level view it looks like Podman isn't dowgrading the default `rw` flag to `ro` if

[2019-09-26 16:22] LeoQuote commented on #4114
Sure , it’s copied from project example https://github.com/containers/libpod/blob/d76b21e27a7cef26865a05be02632ca76f9cf2ea/cni/87-podman-bridge.conflist

[2019-09-26 16:35] mcayland commented on #4113
As I'm new to podman I apologise for not quite understanding what you mean by "reset again", however you can see the output below:

[code]

What seems to happen is that every time I attempt to run a rootless container I get a new netns/cni-XXXX directory in /run/user/1000. Apologies if I've managed to do something wrong during the installation here... I've joined IRC for the moment if that will be

[2019-09-26 17:03] TomSweeneyRedHat opened #4119 "podman login leaves password in clear"
I just used the most recent Docker for the first time in a long time and when doing `docker login` I get:

[code]

In the most up to date podman, 1.6-dev we don't do a similar warning for `podman login` and probably should.  We'll also need to make sure `podman login` works with a credential helper too.  Probably the same story in `buildah login` too.

[2019-09-26 17:03] TomSweeneyRedHat commented on #4119
@QiWang19 PTAL

[2019-09-26 17:08] mheon commented on #4113
I meant to ask if you could do a `podman system migrate` then run another Podman command (`podman ps -a` for example).

[2019-09-26 17:10] mcayland commented on #4113
Ah okay - that's what I did in the output above (although I omitted the -a from `podman ps`)

[2019-09-26 17:12] mheon commented on #4113
Hm. I suspect you're going to need to `rm -rf ~/.config/containers/libpod.conf ~/.local/share/containers/` and then retry

[2019-09-26 17:13] mheon commented on #4113
Also, adding `--log-level=debug` to the `podman ps` and including the output would result.

[2019-09-26 17:22] mcayland commented on #4113
Heh okay this looks odd:

[code]

The file permissions look okay, so could this be related to namespaces?

[code]

And here is the output of `podman ps --log-level=debug`:

[code]

[2019-09-26 17:30] mheon commented on #4113
The removal errors are caused by not having proper ownership of the files in question (they're owned by users assigned to you in `/etc/subuid` - you can use `podman unshare` to get a shell with permission to remove them.

It seems like `ps` is working properly now - you may want to try `podman run --log-level=debug` again and see if it works

[2019-09-26 17:39] mcayland commented on #4113
Right the `podman unshare` bit worked fine which enabled me to remove the containers, so I tried again with `podman run --log-level=debug`:

[code]

[2019-09-26 17:55] mheon commented on #4113
`WARN[0074] unable to set namespace: "Error switching to ns /proc/4015/task/4035/ns/net: operation not permitted" `

This is a bit concerning.

The real failure is definitely somewhere in `runc` though. From the initial `podman info` - `runc version 1.0.0~rc6+dfsg1` is VERY early. I think upstream is at RC8 now? You may want to try a more recent `runc`.

[2019-09-26 17:58] baude commented on #4114
that file recently changed, which is why I asked.  I wanted to make **double** sure yours has the updated file.

[2019-09-26 18:17] mcayland commented on #4113
Thanks for the hint! I've just built runc as per the instructions but still no luck: it's the same error again, permission denied:

[code]

and the output for reference:

[code]

Is there a way to try and simulate how podman is attempting to setup the network ns directly using command line tools?

[2019-09-26 18:26] LeoQuote commented on #4114
Thanks for your patience 😂

Here’s the full conflist file:

[code]

[2019-09-26 18:27] mheon commented on #4115
Alright, we seem to be passing literal `argv` into the reexec'd process... So I don't see how we're losing the log level.

[2019-09-26 19:51] QiWang19 opened #4123 "rootless podman supports credHelper"
c/image and podman already support `"credHelpers"`, but only works for config in `/run/user/0/auth.json`  and `sudo podman login`

 with config in `/run/user/1000/auth.json` and podman login got error

[code]

[2019-09-26 19:51] QiWang19 commented on #4119
support the `"credsStore"` has been working on https://github.com/containers/image/pull/656

c/image and podman already support `"credHelpers"`, but only works for config in `/run/user/0/auth.json`  and `sudo podman login`

 with config in `/run/user/1000/auth.json` and podman login got error

[code]
I think this should be fixed before podman login return `credentials-store WARNING`.....
#4123

[2019-09-26 20:05] mheon commented on #4115
Does not seem directly related to reexec... I can get it to happen both inside and outside the rootless user namespace.

[2019-09-27 04:49] bryonbaker opened #4129 "Cannot access Podman via varlink bridge"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
kind bug

**Description**
Cannot access podman in a Centos 8 VM via Podman on Mac.

**Steps to reproduce the issue:**

1. Installed Centos 8 Streams in MacOS Fusion

2. Configured the environments as per these instructions: [https://podman.io/blogs/2019/01/16/podman-varlink.html](https://podman.io/blogs/2019/01/16/podman

[2019-09-27 05:51] rhatdan commented on #4129
I am not sure if a podman version that old will work on Centos. Might need updated versions of podman and varlink.

[2019-09-27 06:00] rhatdan commented on #3882
You should really move to f30 since f29 is getting close to it's end of life.

[2019-09-27 06:14] rhatdan commented on #3814
Does `podman systemd generate` default to this?

[2019-09-27 06:20] rhatdan commented on #3294
No we don't support any container code on RHEL6.   If we can get this built on RHEL7, then we should be fine.

[2019-09-27 06:44] vrothberg commented on #3814
No, that's something we should add. Good catch, @rhatdan! I'll open an issue for it.

[2019-09-27 06:44] LeoQuote commented on #4114
I found the problem, we're using this node as k8s node at the same time, the calico-node overwrited cni bin files during setup, I fix it by reinstalling cni-plugin. closing the issue

[2019-09-27 06:48] vrothberg opened #4130 "generate systemd: add network dependency"
To support enabling services at system startup, the generated services need to add networking dependencies, namely:

[code]

Can be tested with enabling a generated service and testing the network connection of the container after reboot. Should also make sure that exposed ports are reachable.

[2019-09-27 07:36] LeoQuote commented on #4114
Unfortunately I found ``reinstalling cni-plugin`` just fixed some of nodes' problem, some nodes still have the problem above, what can I do to figure out the problem source?

[2019-09-27 08:00] bryonbaker commented on #4129
Yeah I I noticed that. The latest Centos seems to have some very old packages in it. I'll see if I can work out how to pull an upstream podman into Centos now they have moved to AppStreams (still getting my head around that).
The varlink is the latest though as I pulled that directly from git and built it.

[2019-09-27 08:39] LeoQuote commented on #4114
I added cni-podman0 bridge manually and finally fixed it, perhaps we can add this to document?

[code]

[2019-09-27 09:12] johanbrandhorst opened #4131 "Support running podman containers inside unprivileged (docker) container"
/kind feature

**Description**

Very similar to https://github.com/containers/libpod/issues/4056 but with the exception that the host container is an unprivileged (docker) container.

**The specific use case is being able to programmatically create and destroy containers while running inside an unprivileged container, for automated tests in CI environments such as CircleCI and Github actions.**

T

[2019-09-27 10:33] lfarkas commented on #3589
so what is the solution on rhel/centos-7.7 ?

[2019-09-27 12:50] rhatdan commented on #1915
@cevich is this ready to merge?

[2019-09-27 14:39] rhatdan commented on #4061
Are people only seeing this under toolbox?  Or are they seeing it in general podman use cases?
@mheon are you able to replicate?

[2019-09-27 15:07] alexlarsson commented on #4061
On Fri, Sep 27, 2019 at 4:40 PM Daniel J Walsh <notifications@github.com>
wrote:

No, this is a weakness in libcontainer, so it will affect all users of e.g.
runc.

[2019-09-27 15:22] #4012 closed

[2019-09-27 15:22] #4115 closed

[2019-09-27 17:20] cevich commented on #3151
**Update:** For-testing-use-only Windows (and Darwin) builds are now automatically uploaded here:

Master Branch: https://storage.cloud.google.com/libpod-master-releases/

Pull-requests: https://storage.cloud.google.com/libpod-pr-releases/

(both should be public, let me know if you see any access-denied errors)

[2019-09-27 17:30] cevich commented on #1915
Thanks for the mention, I was just looking for this issue but couldn't find it.  I followed up this morning and got a reply straight away from Cirrus: The `only_if` bug has been fixed.

I'm watching merges to master to confirm the snap pushing task fires as it should...

[2019-09-27 17:47] cevich commented on #4085
I did a search through `./test/e2e` and a *lot* of tests rely on the nginx container w/o any checking if it's actually up and listening (only if it's up).  We always run it in a container, so we'd need to rig that up through systemd which...may be a bit much for the integration tests?  Maybe I'm not fully understanding your idea though.

[2019-09-27 17:58] haircommander commented on #4107
@johanbrandhorst can you describe your exact process? I am not able to reproduce your problem
[code]
this is on latest master, and podman 1.5.1

[2019-09-27 17:59] cevich commented on #4085
Something like ^^^ is what I had in mind (but complete)

[2019-09-27 18:02] seriousme commented on #3151
Just tried podman-remote-latest-master-windows-amd64/podman-v1.6.0-rc2-36-ga8c2b5de from Google Storage, so it is public.

Results are however the same as for 1.4.5-dev:
[code]

Are we sure this podman.exe in the zip is podman-remote ?
Because trying to dail unix sockets on a windows host seems a bit odd ;-)

[2019-09-27 18:13] cevich commented on #1915
...okay, I see the upload task here on this post-merge build: https://cirrus-ci.com/build/5739016533573632 so the Cirrus-CI bug is fixed.  Now to see if the upload works...

[2019-09-27 18:28] baude commented on #3151
@seriousme that error basically means that podman-remote doesnt know where to send its requests.  its last resort it to look for a socket.  You need to have a linux vm to connect to that has podman on it.  You can then either use a configuration file or the command line options to point podman-remote to the vm in question.

@jwhonce do we have anything that describes this?

[2019-09-27 18:29] cevich commented on #1915
...Oh gosh 615M of packages to install for both test_build_snap and upload_snap, that's ripe for some optimization, even if just to make it rely less on the network/repositories...

[2019-09-27 18:30] cevich commented on #1915
[code]

Hrmmm....well that could be a problem :smile:

[2019-09-27 18:33] cevich commented on #1915
Okay, the intent is functional.

[![Get it from the Snap Store](https://snapcraft.io/static/images/badges/en/snap-store-black.svg)](https://snapcraft.io/podman)

[2019-09-27 18:34] #1915 closed

[2019-09-27 18:34] mheon commented on #4108
We now have instructions for this in the README.

[2019-09-27 18:34] #4108 closed

[2019-09-27 18:35] baude commented on #4129
podman-1.0.0-2.git921f98f.module_el8.0.0+58+91b614e7.x86_64 is way too old to work ... you will need updated packages for sure.

[2019-09-27 18:51] cevich opened #4134 "Cirrus-CI: test_building_snap and upload_snap produce podman 0.11.1.1"
/kind bug

**Description**

In `.cirrus.yml` these two tasks build, then build + upload podman to snapcraft.  For some reason both believe the podman version is `0.11.1.1`

**Steps to reproduce the issue:**

1. Open PR

2. Merge PR

**Describe the results you received:**

(from cirrus output)
[code]

**Describe the results you expected:**

The proper version should be built and uploaded

[2019-09-27 19:02] cevich commented on #4134
@abitrolly would you mind looking into this?

[2019-09-27 19:04] cevich commented on #4134
if it helps, this script will spit out the proper version number on *stdout*:

`./hack/get_release_info.sh VERSION`

[2019-09-27 19:09] seriousme commented on #3151
Well that explains a lot :-)

I'm using [boot2podman](url) which gives me the ```podman-machine``` command on Windows.

Starting the VM in virtualbox:
[code]
Setting the environment variables
[code]
This is a bit weird, because the VM is not running on 127.0.0.1, but at 192.168.99.100
[code]

Checking the version of podman inside the VM
[code]
However something seems to go wrong with the port assi

[2019-09-27 19:39] #3884 closed

[2019-09-27 20:50] jwhonce commented on #3151
@seriousme When you install the msi from the link in https://github.com/containers/libpod/issues/3151#issuecomment-536026794 we install a batch script called podman.  That script will query for the necessary configuration information and setup a conf file in your home directory so you only need to provide that information once.

Supporting non-22 ports within podman is on our roadmap.  As a work a

[2019-09-27 21:50] ecs-hk commented on #3983
You're not alone.

[code]

Pretty mysterious. (I never use `buildah` either.)

[2019-09-27 23:25] bryonbaker commented on #4129
I've rolled back to Centos 7 as it has a much later version of podman (1.4.4) and will try it. The trouble is that varlink is not available in the Centos 7 RPMs and I can't find which RPM to pull it from. The varlink github site has almost no documentation - including how to build it from scratch. Where is varlink available from?

[2019-09-28 05:02] rhatdan commented on #3589
Probably nothing until podman 1.6 arrives.

[2019-09-28 05:59] abitrolly commented on #4134
Oh, right.. The version is hardcoded here https://github.com/containers/libpod/blob/e87012de126a701a5afce73bea3811a540059f65/contrib/snapcraft/snap/snapcraft.yaml#L2

I am checking how people maintain it properly for CI.

[2019-09-28 06:21] #4111 closed

[2019-09-28 06:22] rhatdan commented on #4113
@giuseppe PTAL

[2019-09-28 07:12] abitrolly commented on #4134
This line also doesn't seem right. It was ok when `snapcraft.yml` was in a separate repository.

https://github.com/containers/libpod/blob/e87012de126a701a5afce73bea3811a540059f65/contrib/snapcraft/snap/snapcraft.yaml#L17

[2019-09-28 07:18] abitrolly commented on #1915
Well, it is possible to beef up Docker image a bit to pre-cache `binutils` and other compiler tools.

[2019-09-28 08:37] seriousme commented on #3151
The plot thickens, but I'm not there yet:

```podman-machine``` has an option to create VARLINK_BRIDGE variable

[code]
So at least something happens.
Digging deeper gives:
[code]
Changing  user to `tc@192.168.99.100` gives the same:
[code]

has anyone actually got the setup with podman-remote and podman-machine working on Windows or am I chasing ghosts here ?

[2019-09-28 09:02] thmo commented on #2808
What is the workaround until this feature is implemented? Say, if I want to put a complete pod in a different network? (Temporarily) change the default network as configured via cni?

[2019-09-28 11:42] johanbrandhorst commented on #4107
Sorry, I was not using `podman-remote`, but rather the generated `iopodman` package to interact with the varlink interface from inside a go application. You can see exactly what I'm doing here: https://github.com/uw-labs/podrick/blob/03d090fffb46e7e702035e37f73add6d0682c39d/podrick.go#L136. Feel free to clone and run the tests on this branch, I expect you should be able to reproduce the results ea

[2019-09-28 13:07] nitkon commented on #4046
Facing similar issue @rhatdan @lsm5
[code]

[2019-09-28 13:12] AkihiroSuda commented on #4131
This is possible with UML but extremely slow

https://github.com/weber-software/diuid

[2019-09-28 18:05] vially opened #4136 "`podman run` does not set the HOME environment variable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers run by `podman` do not have the `$HOME` environment variable set.

**Steps to reproduce the issue:**

`podman run alpine env` generates the following output:

[code]

`docker run alpine env` includes the `$HOME` environment variable:

[code]

**Describe the results you expected:**

[2019-09-28 18:15] mheon commented on #4136
Known issue with the `crun` runtime - reported there as https://github.com/containers/crun/issues/108

[2019-09-28 18:21] vially commented on #4136
@mheon Thanks for the prompt reply. Feel free to close this one and sorry for the noise.

[2019-09-28 18:22] mheon commented on #4136
No problem - glad to help. I'll go ahead and close.

[2019-09-28 18:22] #4136 closed

[2019-09-29 04:11] rhatdan commented on #4061
Does it work if you switch to crun?

[2019-09-29 08:16] afbjorklund commented on #4113
I'm seeing the same issue with the boot2podman build, running latest/greatest of runc/podman.

`WARN[0000] unable to set namespace: "Error switching to ns /proc/4377/task/4386/ns/net: operation not permitted" `
`ERRO[0000] unable to cleanup network for container a6e08fbdca3686471fac8d0db11da7bb1825c9f2ed17937486c11c2b3b57aa4e: "error unmounting network namespace for container a6e08fbdca3686471fac8

[2019-09-29 08:30] giuseppe commented on #4113
I think it could be caused by https://github.com/containers/libpod/pull/3756

[2019-09-29 09:13] abitrolly commented on #4134
It should be possible to build latest master by using https://github.com/containers/libpod/archive/master.tar.gz The snap build will still fail because of drifted dependencies from https://github.com/containers/libpod/blob/master/install.md#build-and-run-dependencies

The proper solution is still to use code from current checkout.

[2019-09-29 10:20] junaruga commented on #3679
Excuse me, I was reading "ubuntu" tag in issues tickets.
Is someone actually succeeded to run podman on Ubuntu ideally on Travis?
https://github.com/containers/libpod/issues?q=is%3Aissue+label%3Aubuntu+is%3Aopen

[2019-09-29 11:03] afbjorklund commented on #4113
Do you need anything configured in the kernel, beyond the basic NS configuration ?

[code]

I guess this (setns) is working OK on the fedora kernel ? But giving EPERM on vanilla.

[code]

[2019-09-29 11:13] johanbrandhorst commented on #4131
Thanks for the link @AkihiroSuda, however it doesn't seem like it supports _running_ containers, in my testing.

[code]

I'm not sure if I'm doing something wrong, or maybe it doesn't support running inside `podman` (though there shouldn't be any difference, right?). If it's only for _building_ docker images, it's not nearly as interesting to me.

[2019-09-29 11:22] afbjorklund commented on #4113
According to the Go code, it is trying to run `umount2(nsPath, MNT_DETACH)` and fail EINVAL.

[code]

I can't see it in `mount` (file is there), even though it looked happy enough when creating it...

[code]

[code]

[2019-09-29 12:28] junaruga commented on #3679
Good news!

I was able to do `podman build` and `podman run` by both regular user and root on Travis CI by creating both `registries.conf` files.

Here is the way.

.travis.yml

[code]

The actual examples are here.
https://github.com/junaruga/multiarch-podman-experiment
https://travis-ci.org/junaruga/multiarch-podman-experiment/builds/591085060

podman still shows below error message `ERRO[0010]

[2019-09-29 12:58] rhatdan commented on #4056
Could you try to remove seccomp.  The seccomp.json that Docker ships blocks the mount syscall, even if it was deemed safe by the kernel.  IE non privileged mount is allowed for procfs/sysfs/bind mounts and fuse-mounts for non privileged users but it requires the mount syscall.

The seccomp.json that we ship with Podman allows the mount syscall. You might need a couple of other syscalls that Docker

[2019-09-29 13:14] sgraf-pub opened #4137 "Search with error returns exit code 0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If you try searching without a search term that only works for registries that implement the v2 API, it fails with error on docker.io, but the return/exit code is "0", which means OK/SUCCESS.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

**Describe the results you received:**

0

[2019-09-29 14:34] rhatdan commented on #4061
Just to make sure I understand what you are thinking.
[code]
You would have wanted /usr1 to be mounted
/dev/mapper/fedora-root on /usr1 type ext4 (ro,relatime,seclabel)

[2019-09-29 15:44] AkihiroSuda commented on #4131
UML should be able to run containers.  (both podman-in-docker and docker-in-podman)

Something seems wrong with either Podman or sysctl.

[2019-09-29 17:11] afbjorklund commented on #4113
Seems that you are correct, reverting 5813c8246eb32205cc3e68a293c6cf3eb2ba291d makes it work again.

I'm not sure what I lose by that, beyond support for kata containers ?

[2019-09-29 17:54] johanbrandhorst commented on #4131
Ok thanks I will debug it a bit more!

[2019-09-29 18:13] mheon commented on #4113
I suspect it's the deferred closes on slirp pipes. Might just need to make
sure these only happen if the pipes aren't nil?

On Sun, Sep 29, 2019, 13:11 Anders Björklund <notifications@github.com>
wrote:

[2019-09-29 20:49] afbjorklund opened #4138 "Using podman-remote instead of pypodman, for podman-machine"
/kind feature

Note: It's hard to use `podman-remote` instead of the previous `pypodman`,
due to the lack of environment variables (some of them missing entirelly).

Here is the current configuration:
[code]

Trying to map these into parameters, but there is no param for the `-i` flag.
Normally SSH is transferred over a local port, rather than using the VM's IP.

The current workaround is to use t

[2019-09-30 05:57] mcayland commented on #4113
As the original reporter it looks like there are 2 separate but related issues here:

1) SIGSEGV running rootless podman when slirp4netns is not installed due to NULL pointer reference (this is the original stack trace posted above)

2) EPERM issue trying to set netns in rootless podman spotted by @mheon in the debug output above

I followed the suggestion by @afbjorklund above to revert `5813c82`

[2019-09-30 08:05] giuseppe commented on #4113
opened a PR to take care of both issues: https://github.com/containers/libpod/pull/4139

[2019-09-30 08:34] alexlarsson commented on #4061
@rhatdan That particular example is a very good, because on an ostree-based system the /usr mount is read-only for a reason, its full of hardlinks into the ostree repo, and once you start changing those all sorts of things can break in mysterious ways.

[2019-09-30 08:54] vrothberg commented on #3679
Hi @junaruga, thanks for sharing!

Absolutely, yes. Contributions are always welcome!

[2019-09-30 09:14] mcayland commented on #4113
@giuseppe thanks for this! I've have just done some quick local tests with your branch above and from what I can tell this only solves issue 1 - when I then re-install slirp4netns 0.4.1 then issue 2 is still present for me:

[code]

[2019-09-30 11:21] giuseppe commented on #4080
PR here: https://github.com/containers/libpod/pull/4141

[2019-09-30 11:27] giuseppe commented on #4080
and for Buildah: https://github.com/containers/buildah/pull/1876

[2019-09-30 12:03] edsantiago opened #4142 "rawhide: podman run /no/such/command : hangs"
The two special-case 126 and 127 commands are now hanging:
[code]
Interestingly, adding `--log-level=debug` fixes the problem.

The timing (of when this started happening), and the log-level thing, makes me suspect that it's related to #4124

Rawhide only; cannot reproduce on f30 with runc.

[2019-09-30 12:04] debarshiray commented on #4061
Yes. That's what I meant in https://github.com/containers/libpod/issues/4061#issuecomment-535498416

In fact, the `podman run` command that you used will currently fail if `/usr` is read-only mounted as in Silverblue:
[code]

You will have to explicitly specify the `ro` flag for it to work. Thats' what [Toolbox does](https://github.com/debarshiray/toolbox/pull/276) now.

[2019-09-30 12:04] edsantiago commented on #4142
I reported this Friday morning on IRC

[2019-09-30 12:11] debarshiray commented on #4142
I can reproduce this with `podman-1.6.0-0.2.rc2.git9181c65.fc31.x86_64` and `crun-0.9.1-1.fc31.x86_64` on Fedora 31:
[code]

[2019-09-30 12:32] mheon commented on #4142
Not podman remote? Normal Podman?

[2019-09-30 12:35] edsantiago commented on #4142
Correct. I haven't tried podman-remote. This is with root.

Just tried rootless, and *all* podman-run commands hang.

[2019-09-30 13:02] mheon commented on #4142
F30, crun and runc both, things work fine. Has to be v2 related.

[2019-09-30 14:20] #4000 closed

[2019-09-30 14:36] cevich commented on #4134
Interesting, so we already have a mechanism that builds a zip file for the current checkout (on master and PRs).  Could that be re-used?

ref: `contrib/cirrus/build_release.sh`

Inside the zip is a `release.txt` containing the build/platform information.  We upload this file for both podman and podman-remote, for PRs and master, to a public google storage bucket.

ref: `contrib/cirrus/upload_relea

[2019-09-30 14:37] cevich commented on #4134
ref: https://cirrus-ci.org/guide/writing-tasks/#cache-instruction

[2019-09-30 14:59] debarshiray commented on #4142
I am running 5.3.1-300.fc31.x86_64

[2019-09-30 15:15] mheon commented on #4142
Per discussion in IRC, axe my "v2" comment, it seems like a kernel issue

[2019-09-30 15:17] giuseppe commented on #4142
I don't think the kernel issue is causing this issue, I am not able to reproduce it yet.

The kernel issue seems a new one happening on Rawhide that prevents Podman to work at all: https://bugzilla.redhat.com/show_bug.cgi?id=1757104

[2019-09-30 15:22] jwhonce commented on #3151
@seriousme Please note the changes I made to the end of your PODMAN_VARLINK_BRIDGE

SET VARLINK_BRIDGE=C:\WINDOWS\System32\OpenSSH\ssh.exe -F /dev/null -o ConnectionAttempts=3 -o ConnectTimeout=10 -o ControlMaster=no -o ControlPath=none -o LogLevel=quiet -o PasswordAuthentication=no -o ServerAliveInterval=60 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@127.0.0.1 -o IdentitiesOn

[2019-09-30 15:29] edsantiago commented on #4142
Problem introduced between 240095e and f197ebe

[2019-09-30 15:31] edsantiago commented on #4142
...and the diff between those two commits is documentation-only. There is obviously something else going on.

[2019-09-30 15:42] edsantiago commented on #4142
Possibly important difference between the last successful run and first failing one:
[code]
My VM is hosed, will try to build a new one and downgrade conmon.

[2019-09-30 16:01] edsantiago commented on #4142
It's conmon; or at least the podman-conmon combination:
[code]
IOW: downgrading conmon resolves the hang.

[2019-09-30 16:27] giuseppe commented on #4113
I've tested it on the Fedora 30 kernel.  I see there are still issues on Rawhide.

@mheon we should probably revert that change once again

@gabibeyer could you take a look?  Have you seen this issue before?

[2019-09-30 16:47] mheon commented on #4113
@giuseppe If it's just rawhide I'm not as concerned, we can work it out upstream. If it affects F31 I'm a lot more concerned.

[2019-09-30 17:25] debarshiray commented on #4142
I have `conmon-2.0.1-1.fc31.x86_64`

[2019-09-30 17:28] seriousme commented on #3151
@jwhonce  thanks for the suggestion, however no luck yet
[code]

[2019-09-30 17:32] seriousme commented on #3151
Anyways: my OP said:
`It would be nice if their would be a way to download a binary for windows instead of having to build a binary from scratch.`

That has been provided now, thx for that!   So I suggest to close the issue here.

[2019-09-30 17:32] #3151 closed

[2019-09-30 17:42] jwhonce commented on #3151
@seriousme FYI -- That error message means podman on your linux server is cannot configured correctly.

[2019-09-30 18:32] edsantiago commented on #4142
Duh, my bad: the reason it passed with podman-1.5.2 is that conmon is bundled. After removing `/usr/libexec/podman/conmon`, results are the same as with podman-1.6: hangs with conmon-2.0.2, ok with conmon-2.0.0

[2019-09-30 18:49] baude commented on #4137
in this particular use case, podman is matching the docker behavior and returning the `0`.  the error you see is a log-level error.

[2019-09-30 18:57] baude commented on #4129
fedora has all the packages needed.  remote podman is still working itself into EL distributions.

[2019-09-30 19:14] giuseppe commented on #4113
the issue seems to be related to slirp4netns and the new sandboxing feature.

I've opened a PR here: https://github.com/rootless-containers/slirp4netns/pull/153

[2019-09-30 20:07] mtrmac commented on #3294
Actually, I misremember — RHEL 6 was never a concern.

RHEL 7 was, though, and it ships with GPGMe 1.3.2, so we still need the extra commits in mtrmac/gpgme.

Meanwhile, there is a _single_ bug fix in the upstream version (the rest is new functions we don’t call), and that bug fix is in a function we don’t call.

So, I’m still not all that inclined to rebase the commits, set up a RHEL 7 testing ma

[2019-09-30 20:52] bryonbaker commented on #4129
Thanks. I normally use fedora. But for this I have a constraint that i must use Centos - it seems to be the only OS that will work with xhyve. (I am building an alternative to Docker for Mac)
Still working on it. For now I this this issue should be closed

[2019-09-30 21:21] haircommander commented on #4142
problem commit it: https://github.com/containers/conmon/pull/65
@giuseppe can you PTAL? I tried taking a stab at a fix, we are stuck on the waitpid... I guess the cleanup process is hanging?

[2019-09-30 21:33] baude commented on #4129
per user, closing

[2019-09-30 21:33] #4129 closed

[2019-09-30 21:38] #4080 closed

[2019-09-30 21:53] rhatdan commented on #4138
Yes those seem very reasonable, open a PR for them.

[2019-09-30 22:07] zrml commented on #1843
I've installed podman via `brew cask install podman`.
All is apparently well and I can `podman --help` but anything else gives me the error reported by  @Kitanotori. The link provided by @ashley-cui returns a -404

It is not clear to me if I need to install something else or run a container which would defeat the purpose of the brew cask install... I guess...

Any guidance appreciated. Thanks!

[2019-09-30 22:14] mheon commented on #1843
We moved the tutorial to put it with our other tutorials - it now lives at https://github.com/containers/libpod/blob/master/docs/tutorials/mac_client.md

[2019-09-30 22:15] rhatdan commented on #4061
@vrothberg Could you fix this, basically if the file system is mounted read/only then the volume mounted should also be read/only.

Does this only matter if this is a mount point?  Or would the same issue arise if you did

$ podman run --rm --volume /usr/lib:/run/host/usr/lib registry.fedoraproject.org/fedora:30 mount | grep host

[2019-10-01 07:21] ssbarnea opened #4156 "PODMAN_HOST should match DOCKER_HOST uri format"
`DOCKER_HOST` can also be used with URIs to define exactly how to connect to a host, like `DOCKER_HOST=ssh://root@address`.

This feature is key for providing a good user experience because it allows users to use the tool without having to modify CLI arguments or API calls (docker-py loads it implicitely) in scripts/tools.

This was initially described in https://github.com/containers/libpod/issue

[2019-10-01 08:35] vrothberg commented on #3294
@mtrmac, I haven't checked the commits in the fork but is there any chance we could get them upstream?

[2019-10-01 08:45] giuseppe commented on #4142
I am still struggling trying to reproduce it, reinstalling F31 right now.  I think the waitpid can hang only if the cleanup process doesn't terminate.  If you can easily reproduce the issue, do you see any other podman processes (beside the pause process) lying around?

[2019-10-01 09:15] rhatdan commented on #4156
Seems like a reasonable request.
@baude @jwhonce WDYT?
@ssbarnea a PR would help this along.

[2019-10-01 11:00] TomSweeneyRedHat commented on #1843
I've updated @ashley-cui 's reply above with an updated link too just in case someone doesn't make it down this far.

[2019-10-01 11:10] sgraf-pub commented on #4137
Ah, that make sense. Feel free to close, I'm not blocked by this behavior, I just assumed there might be missing error evaluation.

[2019-10-01 11:22] #4137 closed

[2019-10-01 11:28] rhatdan commented on #4114
@LeoQuote Care to open a PR to fix the documentation, or at least document the steps you went through?

[2019-10-01 11:29] rhatdan commented on #3679
@junaruga We would love to have this added to libpod for testing.

[2019-10-01 12:54] cevich commented on #4021
Somehow this (or something else, producing identical symptoms) has reproduced with rootless-remote podman:  https://cirrus-ci.com/task/6286729083879424 on F30

[code]

To be clear, the test should ***not*** be failing because of:
[code]

I'm thinking it's inevitable this can happen on the remote-end, and the test should only fail if eventually the ps does not return '0' containers within some time

[2019-10-01 12:58] edsantiago opened #4158 "rawhide rootless: unable to cleanup network: [...] failed to unmount NS"
Trying to find the what's-next problem after conmon gets fixed, running into:
[code]
This IS NOT the [git6.1 kernel regression](https://bugzilla.redhat.com/show_bug.cgi?id=1757104):
[code]
It is also not the conmon regression: I'm testing with 2.0.0:
[code]

[2019-10-01 13:05] #2699 closed

[2019-10-01 13:27] jlebon opened #4159 "Trying to use --init fails with "container-init binary not found on the host: stat /usr/libexec/podman/catatonit: no such file or directory""
/kind bug

**Description**

Running the fedora:31 image with `--init` fails with:

**Steps to reproduce the issue:**

1. `sudo podman run -ti --privileged --rm --init registry.fedoraproject.org/fedora:31`

**Describe the results you received:**

**Describe the results you expected:**

No errors

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `pod

[2019-10-01 13:28] jlebon commented on #4159
Really the actual image used here doesn't matter. I updated the issue title to reflect this.

[2019-10-01 13:31] mheon commented on #4158
I think there's a fix in https://github.com/containers/libpod/pull/4139

[2019-10-01 13:32] mheon commented on #4158
Nevermind, that's just the `cleanup network` part.

[2019-10-01 13:32] haircommander commented on #4142
@giuseppe I wasn't able to reproduce either. @mheon gave me access to a VM that could yesterday, and I couldn't see any other running process in `ps aux | grep conmon` which was especially odd. It seemed like the cleanup process did finish but waitpid didn't terminate...

[2019-10-01 13:37] baude commented on #4156
we have similar environment variables just not called DOCKER_HOST or PODMAN_HOST.  Is the actual name required here?

[2019-10-01 13:54] junaruga commented on #3679
Sure. I love to contribute it.

[2019-10-01 13:56] edsantiago commented on #4158
With debug:
[code]
Corresponding output from `journalctl`:
[code]

[2019-10-01 14:07] mheon commented on #4114
I view this as a CNI bug; we should never require manual intervention in bridge creation.

[2019-10-01 15:36] rhatdan commented on #4159
@QiWang19 This is a field that will need to be in containers.conf.

[2019-10-01 15:38] rhatdan commented on #4156
The question I would have is, would the use of a URI be easier for users to descover then a bunch of different Environment variables.

[2019-10-01 15:53] ssbarnea commented on #4156
I think that a single URI variable provides more flexibility and is also more future proof. When using multiple variables there is always the need to introduce new ones,... like add protocol, add SSL escpace options, .... --- this is why I think an URI is more appropriate (not to mention that it does not clutter the user env). Switching credentials is would be just one set instead on N-sets-unsets

[2019-10-01 16:03] #4113 closed

[2019-10-01 16:10] giuseppe commented on #4158
fix here: https://github.com/containers/libpod/pull/4157

[2019-10-01 17:57] afbjorklund commented on #4138
Here is the improved usage:

[code]

[2019-10-01 18:00] afbjorklund commented on #4156
Setting DOCKER_HOST assumes that it will talk the docker protocol, while it will be varlink...

And we have already used PODMAN_HOST for the hostname (sans scheme and username)

[2019-10-01 18:04] afbjorklund commented on #4156
What do you think about #4161 ?

[2019-10-01 18:40] mcayland commented on #4113
I've just done a git pull and updated libpod to "7a569631: Merge pull request #4139 from giuseppe/fix-segfault-missing-slirp4netns" and I can confirm that both issues are now resolved for me with slirp4netns 0.4.1.

Many thanks @giuseppe for your hard work in tracking this down.

[2019-10-01 18:46] afbjorklund commented on #4159
Typical, it seems that I missed the mark after the constant was moved a bit.

[code]

Unfortunately the first line only changed the commented out default config...

[code]

Will fix it next time around.

At least I included the binary :-)

[code]

[2019-10-01 18:56] edsantiago opened #4162 "[fc31,rootless] podman exec: OCI runtime permission denied"
After upgrading to a working crun, rootless podman sort-of works but `exec` fails:
[code]
Versions:
[code]

[2019-10-01 18:59] edsantiago commented on #4162
Possibly related - lmk if I should open a separate issue:
[code]

[2019-10-01 19:00] edsantiago commented on #4162
And another one:
[code]

[2019-10-01 19:05] afbjorklund commented on #3924
I couldn't get any 1.5 nor 1.6 version to work properly on Ubuntu 16.04, so ended up having to rebuild `v1.4.4` from source (since I had deleted the local .deb package)

[2019-10-01 19:17] afbjorklund commented on #4156
Here is the comparison of environment variables, between `docker-machine` and `podman-machine`:

[code]

[code]

It would be possible to add a PODMAN_URI, but I don't think varlink (nor ssh) supports `ssh://` ?

[2019-10-01 20:00] mheon commented on #4162
The last one is us being unable to talk to systemd... It seems to be trying to talk to root's systemd dbus?

[2019-10-01 20:00] mheon commented on #4162
First one and probably second are probably crun, @giuseppe PTAL

[2019-10-01 20:02] mheon commented on #4162
@edsantiago Can we get a separate issue for the third one? I think the first two may be related

[2019-10-01 20:04] edsantiago commented on #4162
So.... this is a longstanding point of confusion for me. Remember the log-level bug? #4012? One of the spurious warnings that kept getting emitted is:
[code]
(note the **0** in `/run/user/0`). I still see lots of `/run/user/0` warnings in rawhide when running with --log-level=debug; I just ignore them because nobody commented on them in #4012 and because things seemed to mostly work despite that.

[2019-10-01 20:07] edsantiago opened #4164 "[fc31,rootless] podman pod create: permission denied"
[code]
Versions:
[code]

[2019-10-01 20:18] mheon commented on #3302
Both @haircommander and I are looking at this one. We're pretty sure it has something to do with the attach socket - it seems like it's being closed prematurely, potentially on Conmon's side?

[2019-10-01 20:23] mheon commented on #4162
My bet is that it's using EUID to decide what bus to connect to, which will be 0 (we've already join a user namespace, but not the mount/other namespaces, by the time we try to talk to the bus).

[2019-10-01 20:27] mheon commented on #4164
From 4162 -

"""
My bet is that it's using EUID to decide what bus to connect to, which will be 0 (we've already join a user namespace, but not the mount/other namespaces, by the time we try to talk to the bus).
"""

[2019-10-01 21:11] mtrmac commented on #3294
See https://github.com/proglottis/gpgme/issues/6 .

[2019-10-01 22:00] rhatdan commented on #4138
very cool.  Would this work on a MAC?

[2019-10-01 22:47] rhatdan commented on #4162
Yes that would be a HUGE issue.  We should be trying to talk to the USER UID.

[2019-10-02 05:23] afbjorklund commented on #4138
It should (any Unix), but come to think of it I forgot to pass the parameters to my Windows implementation... There is also a long-standing request to write a more "native" Mac driver.

Currently the included options are still VirtualBox and QEMU, but there are some plugins.
For the Mac, the requested driver is Xhyve (or Docker's HyperKit), and for Win it is Hyper-V.

Have tested an older version

[2019-10-02 05:27] afbjorklund commented on #4156
@ssbarnea : are you OK with using **two** variables instead of one ? PODMAN_USER/PODMAN_HOST

[2019-10-02 09:21] vrothberg opened #4167 "CI flake in `Podman start [It] podman failed to start with --rm should delete the container `"
/kind bug

I've seen the test below flake/fail several times in the past week (or so). This issue is meant to help us tracking it down.

[code]

[2019-10-02 09:33] #4162 closed

[2019-10-02 09:33] #4164 closed

[2019-10-02 11:40] edsantiago commented on #4162
For benefit of anyone encountering this bug, the workaround is:
[code]

[2019-10-02 11:41] edsantiago commented on #4164
For benefit of anyone encountering this bug, the workaround is:
[code]

[2019-10-02 11:46] vrothberg commented on #4167
@baude is already working on tracking it down in https://github.com/containers/libpod/pulls

[2019-10-02 11:49] vrothberg commented on #4159
The problem is that catatonit is not (yet?) packaged for Fedora. Maybe, we should default to `tini` and require that in the .spec? @rhatdan @lsm5 DTY?

[2019-10-02 12:00] vrothberg commented on #1399
@rhatdan, is this something we want to support? The issue is quite old.

[2019-10-02 12:03] vrothberg commented on #1433
@kunalkushwaha, are you planning to work on that?

I'm going through old issues and do some cleanups.

[2019-10-02 12:19] vrothberg commented on #1579
`runc` doesn't seem to return an OOM error. Trying to reproduce I get:

`starting container process caused "process_linux.go:446: container init caused \"read init-p: connection reset by peer\""`

I'm under the impression that this must be addressed in runc. @mheon @edsantiago @rhatdan WDYT?

[2019-10-02 12:32] vrothberg commented on #1742
Thanks, @onlyjob. I added the links to the top comment to highlight them.

[2019-10-02 12:33] vrothberg commented on #2013
This issue will be fixed with merging https://github.com/containers/libpod/pull/4165

[2019-10-02 12:47] vrothberg commented on #1671
Added labels to get the attention of the community

[2019-10-02 12:50] vrothberg commented on #1884
I am closing this issue in favor of https://github.com/containers/libpod/issues/2791

[2019-10-02 12:50] #1884 closed

[2019-10-02 12:51] vrothberg commented on #1911
@baude @rhatdan if that's still a desired feature, we should revive https://github.com/containers/image/pull/611 and prioritize it or get it on our radar again.

[2019-10-02 12:54] vrothberg commented on #1925
@mheon @rhatdan, let's find a consensus on how to proceed. Instead of `rename` we would add a `clone` that might expose an optional `--name` flag?

@QiWang19, do you have enough cycles to work on that or shall we add a community tag?

[2019-10-02 12:57] vrothberg commented on #2070
Assigning to @mheon :)

[2019-10-02 12:58] edsantiago commented on #1579
I think you have to try reproducing it on a super-low-RAM system. I'm still seeing it, podman-1.6.0-3.fc30.x86_64:
[code]
...with the following in journalctl:
[code]
This issue is 1 year old today (happy birthday!), and I've long since disabled the memory cgroup test that triggered it, and I don't imagine anyone cares much about it. If it's not easy to fix runc to emit a more helpful message, it's

[2019-10-02 13:05] vrothberg commented on #1579
Happy birthday!

@edsantiago, I've seen the error in the journal as well but the error handling must have changed in the version you're using until now. Which podman are you running? In the current code, we're returning the error from runc directly which is `starting container process caused "process_linux.go:446: container init caused \"read init-p: connection reset by peer\""`; that's what I mea

[2019-10-02 13:08] edsantiago commented on #1579
I'll try rawhide in a bit.

[2019-10-02 13:21] mheon commented on #1925
@vrothberg I'm poking at clone in spare cycles, but it's a bit of a monster - needs a pretty significant rewrite of our parsing code to handle it.

[2019-10-02 13:26] rhatdan commented on #4159
Should be a recommends, and sure we should default to a executable that is shipped in Fedora.

[2019-10-02 13:32] rhatdan commented on #1399
Only if community wants to generate and support it.  For now we can close this.  If someone wants to step up and modify the Makefile to handle it and provide a way for people to retrieve static builds, I would not prevent it.

[2019-10-02 13:32] #1399 closed

[2019-10-02 13:41] edsantiago commented on #1579
Cannot reproduce on rawhide, even with 15 running containers. I assume this is a cgroups-v2 difference, but it could also be `crun`. Looks like I need to test on f30, which means I need to wait for a build.

[2019-10-02 13:45] rhatdan commented on #1911
Yes I think this is something we should fix.

[2019-10-02 13:50] lsm5 commented on #4159
Well, doesn't look like tini is packaged either.

[2019-10-02 13:52] vrothberg commented on #4159
Is it part of moby?

[2019-10-02 13:53] rhatdan commented on #1925
Can we start small, and only allow clone to change the name in the beginning.  Then we can add options as people ask.

Not sure we need full support for every option.

[2019-10-02 13:56] lsm5 commented on #4159
Yes, https://src.fedoraproject.org/rpms/moby-engine/blob/master/f/moby-engine.spec#_26 . Will need to be packaged separately.

[2019-10-02 13:56] mheon commented on #1925
Sure, I can get something with basic functionality landed quickly, I think.

On Wed, Oct 2, 2019, 09:53 Daniel J Walsh <notifications@github.com> wrote:

[2019-10-02 13:56] lsm5 commented on #4159
I guess I can take that up, unless you prefer we do catatonit itself.

[2019-10-02 13:58] vrothberg commented on #4159
I'll ping you on slack to chat :)

[2019-10-02 14:11] vrothberg commented on #1925
Great. I assigned @mheon :+1:

[2019-10-02 14:16] lsm5 commented on #4159
If we can afford to wait a few days, we can get catatonit packaged into Fedora and have that as a `Recommends`. If you want it by tomorrow itself, I can get it subpackaged for the time being, but there'll be some unnecessary issues around versioning/epoch when the standalone package goes out.

[2019-10-02 14:21] jlebon commented on #4159
It's been broken that way for a while now (I only just got around to reporting it now :) ). If catatonic is the upstream default and what gets tested in CI, then my personal recommendation is to just do it properly and package it, even if it takes a few days.

[2019-10-02 14:21] vrothberg commented on #4159
I vote for a dedicated catatonit package. Thanks, @lsm5!

@cyphar, FYI :+1:

[2019-10-02 14:24] vrothberg commented on #2317
That didn't work out well. Will look into it latest next week, promised.

[2019-10-02 14:26] vrothberg commented on #2808
That's what I have in mind as well. @baude might now some nice tricks?

[2019-10-02 14:30] vrothberg commented on #2957
Ping, any movement on it? We could add a tag to get the community implement it?

[2019-10-02 14:32] vrothberg commented on #2986
Closing due to longer inactivity. Feel free to reopen.

[2019-10-02 14:32] #2986 closed

[2019-10-02 14:35] vrothberg commented on #3195
Doing some cleanups in the issues; updates for this one?

[2019-10-02 14:40] TomSweeneyRedHat commented on #3195
I think we've just been nibbling at the tutorial as time has passed.  Currently, @rhatdan @giuseepe @baude and others are working through F31/crun issues and we'll probably need an update for this afterward.

[2019-10-02 14:50] lsm5 commented on #2957
@vrothberg nothing so far from my side, and can't say at this point when I can get to it.

[2019-10-02 16:05] rhatdan commented on #3195
Yes we need to do some editing on this for cgroupsV2.

[2019-10-02 16:57] jwhonce commented on #4021
@cevich If this screen snap is after https://github.com/containers/libpod/pull/4121 merged then that failure is testing for the container count to be zero. As you can see it waited 90s for the container to be removed. The actual "start" command is tested for >0 not ==0 is how I'm determining which test is failing.

[2019-10-02 21:25] junaruga commented on #3679
Just memo for me. I found how to install podman on Ubuntu bionic. In the article, the configuration files are set like this.

https://www.n0r1sk.com/post/2019-10-02-podman-with-vxlan-overlay-network-deep-dive/

[code]

[2019-10-03 00:24] kunalkushwaha commented on #1433
Hi @vrothberg Yes, I started working on this now.

/assign

[2019-10-03 03:11] cyphar commented on #4159
I might take a look at requesting that Docker switch to `catatonit`, which will ensure it's packaged everywhere.

[2019-10-03 10:09] bogdando commented on #3906
Please note we cannot in general protect podman from sudden "SIGKILL", AFAIK, a fenced controller would end up with the same situation, like if using SIGKILL but doing a force power off instead.

So there needs to be some transactions replaying or something

[2019-10-03 12:33] rhatdan commented on #4158
Since that is merged, I am closing.

[2019-10-03 12:33] #4158 closed

[2019-10-03 13:15] holser commented on #3906
@mheon SIGKILL is a valid signal which can be used by user. There is no way to intercept it, that's true. Though, there are many ways how to handle it. A lot of software guarantees constancy data whatever happens (databases, file systems, clustering software). Thus I mentioned ACID. For instance there can be a transaction log (journal) of podman operations. If podman was killed by SIGKILL the tran

[2019-10-03 13:39] debarshiray commented on #4061
There's a somewhat related issue, but quite the same, in `crun`: https://github.com/containers/crun/pull/120

[2019-10-03 15:58] cevich commented on #4021
@jwhonce ya that was after 4121 merged :cry: it's failing on line 113, the start failure is expected.  Failing the `eventually()` on 113 means even after 90-seconds the container was still there...wait a sec, I only see one line of output from 'ps -a' (the container id is correct).  Shouldn't there be 90-seconds / polling interval, worth of output lines?

[2019-10-03 16:08] cevich commented on #4021
Hmmm, default polling interval is 10ms maybe that's a bit fast and something is hanging (remember, this is `podman-remote`).

[2019-10-03 16:14] edsantiago opened #4182 "[rawhide,rootless] podman run: sd-bus call: Permission denied:"
Possible flake: it triggered on fc31 gating tests, but not on two separate fc31 VMs I created. I'm now seeing it on rawhide:
[code]
debug log: [podman-sd-bus-eperm.txt](https://github.com/containers/libpod/files/3687038/podman-sd-bus-eperm.txt)

I noticed the `/run/user/0/bus` error, and tried setting `DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(id -u)/bus`, but that made no difference. Neither

[2019-10-03 16:26] petoem opened #4183 "Podman fails to start container after update to 1.6.0"
After updating from 1.5.1 to 1.6.0, podman cannot start containers.
Downgrading back to 1.5.1, lets me start containers again.

Any help would be great to get 1.6.0 to work.
[code]

[2019-10-03 16:52] edsantiago commented on #4182
This fixes it:
[code]
@giuseppe I suspect this falls under your area of expertise

[2019-10-03 17:01] TomSweeneyRedHat commented on #4183
Can you try `podman system migrate`?  I didn't think it was necessary for this release, but might have missed that proclamation.

[2019-10-03 17:02] mheon commented on #4183
This looks like a slirp4netns issue that was resolved in 1.6.1

[2019-10-03 17:27] junaruga commented on #3679
Just memo for me. rpmlint project is trying to replace docker with podman.
https://github.com/rpm-software-management/rpmlint/pull/351

[2019-10-03 17:40] edsantiago opened #4184 "podman network create: should validate input"
[code]
Present as of e67e9e12

[2019-10-03 17:47] mheon commented on #4184
`../` seems like a bug, but IMO `'foo '` is legitimate - if I explicitly want a space in my CNI network name... well, why not?

[2019-10-03 17:52] edsantiago commented on #4184
I filed this because I noticed, in today's demo, output that looked like:
[code]
That is, two "podman2" results. I don't know if one of those is a trailing-space difference, or if there's another reason why there are two, but I humbly suggest that trailing spaces should be absolutely forbidden in any name, be it network or container or pod or anything. The confusion value overrides any possible re

[2019-10-03 17:55] mheon commented on #4184
Fair enough.

Simplest way would be to reuse the existing name regex, I agree.

[2019-10-03 18:08] giuseppe commented on #4182
when XDG_RUNTIME_DIR is not specified, Podman tries to set it to a location that is usable by the current user, and it seems weird that `/run/user/0` was used, unless it was explicitly set.  Could you verify if `XDG_RUNTIME_DIR` is leaking from the root session?

[2019-10-03 18:10] edsantiago commented on #4182
`XDG_RUNTIME_DIR` is not leaking. It is unset. I suspect that something-something-recent is making magical dbus calls before podman initializes XDG_RUNTIME_DIR.

[2019-10-03 18:12] rhatdan commented on #4184
Yes, kill off spaces.

[2019-10-03 18:16] petoem commented on #4183
@TomSweeneyRedHat I ran `podman system migrate` (output below), it sadly didn't help.
But I noticed that whenever I reboot, the first command I run with podman panics and the subsequent commands  sometime display an error like this `ERRO[0000] Error refreshing container 13a1c14093fbe545bd39d7c8de6915c2cbd4303dcaaad4026e0f97c2c7ba5de7: error acquiring lock 0 for container 13a1c14093fbe545bd39d7c8de

[2019-10-03 18:17] mheon commented on #4183
Definitely looks like issues that were resolved in 1.6.1

[2019-10-03 18:29] paulraines68 opened #4185 "Have --userns=keep-id in rootless podman also map over secondary groups"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Also have the --userns=keep-id option map over a user's secondary groups.  This is so when a secondary group writable directory is mapped such as with -v /data:/data the container process can still write to it.

Say user 'linuxuser' with default group 'linuxuser' is also in group 'data'.

[2019-10-03 18:30] rhatdan commented on #4131
@giuseppe Would this be possible with rootless containers running with fuse-overlay?  We would need setuid and setgid to handle setting up a namespace.

We could try this out with podman in podman.

I think the issue with running podman in Docker is the tighter seccomp controls.  Docker seccomp.json mistakenly blocks all mount syscalls, even though non privileged mount syscall is allowed for procf

[2019-10-03 18:35] mheon commented on #4131
I think UID/GID mapping will also be an issue.

You'll either need the storage flag to ignore chown errors, or a separate newuidmap/newgidmap setup within the container - and I suspect you won't have the privileges to run them in a rootless container.

[2019-10-03 18:42] rhatdan commented on #4185
Does `podman run --group-add data --userns keep-id` do what you want?

[2019-10-03 18:46] rhatdan commented on #4185
Does not look like it works.  Looks like a bug @giuseppe Any ideas?

[code]

[2019-10-03 18:56] paulraines68 commented on #4185
No, seems to be just ignored for me.  On the mounted host directory files in group 'data' still show up as 65534.  Same with and without --userns=keep-id for me.  I don't see how it worked for you without the --userns=keep-id though.

[code]

I am running podman-1.4.4-4.el7.centos.x86_64 on CentOS 7.7

[2019-10-03 19:22] paulraines68 commented on #4185
I should add it does work for me on the 'wheel' group

[code]
so maybe only works for groups defined both on the host and in the container?  Not sure why the last did not work for you.  Bug in your development version?

But the GID is remapped so it will not work with host directory mounted directories anyway

[code]

We would need the group specified with --group-add  not to be namespace remapped

[2019-10-03 19:32] edsantiago commented on #4182
Might not be a change in podman; on this system, I can reproduce even with podman-1.6.0-0.27.dev.git19075ca

[2019-10-03 19:34] cevich commented on #4021
Dangumit!  I'm still able to reproduce this, even in my polling-interval PR:  https://cirrus-ci.com/task/5631043243081728

[2019-10-03 19:36] rhatdan commented on #4185
Does it work if you specify it via GID, rather then name?

[2019-10-03 19:40] cevich commented on #4021
[code]

@jwhonce what the heck is going on here that I'm not seeing?

[2019-10-03 19:45] #4138 closed

[2019-10-03 19:46] petoem commented on #4183
I have build and installed 1.6.1 and it works now. (all above issues went away) :smile:

[2019-10-03 19:46] #4183 closed

[2019-10-03 19:58] paulraines68 commented on #4185
Yes, it does

[code]

But unfortunately on the mapped host filesystem, while 7829 works, the 1605 does not as it is remapped to 10001605

[code]

I cannot use --gidmap in rootless podman.  So I was hoping whatever magic --userns=keep-id is doing could be used for these secondary groups too.

Ideally it would not require having to change anything in the containers image (e.g. /etc/group) so users w

[2019-10-03 20:08] rhatdan commented on #4185
@mheon @giuseppe WDYT?  Should we maintain the additional groups of a user into the container when the user specified --userns=keep-id, or should we add a new option to keep gids from the host.
--userns=keep-id,keep-groups?

[2019-10-03 20:23] mheon commented on #3302
Debugging further:

We're getting an EOF on the container STDERR fd in Conmon, but I'm not sure if it's actually the container - the only things I see being copied there are Conmon debug logs?

[2019-10-03 20:26] haircommander commented on #3302
@mheon I think that EOF comes from the piped input. If you do the same command but with no pipe `cat hello`, the go routine redirecting stdin to conmon doesn't actually get past a buf.Read(), as it's waiting for enough bytes, where the EOF makes the read terminate. I think stdin actually gets passed down through the os.Exec() call, and the go routine reading stdin is just a way to figure out when

[2019-10-03 20:28] mheon commented on #3302
@haircommander I think that Conmon might not be handling `-i` properly in this case - it seems like the exec session is finishing immediately (`cat` decided to output nothing and exit), when it should be waiting for input.

[2019-10-03 20:30] haircommander commented on #3302
there's an option `--leave-stdin-open` that doesn't close stdin immediately when it thinks input is done, but that didn't help. I would not be surprised if `-i` wasn't being handled right. That said, I'm not even sure we pass `-i` down to conmon in exec as is.

[2019-10-03 20:47] mheon commented on #4185
`--userns=keep-all`?

[2019-10-03 20:47] mheon commented on #4185
I think separate option makes the most sense

[2019-10-03 20:49] mheon commented on #4185
Groups could also be useful for people mounting volumes into containers, and then expecting to use other users in the container to access them. Ensure the directory on the host is owned by the `data` group, then add all the users in the container who need access to that `data` group? Would be a nice addition, I think

[2019-10-03 22:07] edsantiago commented on #4182
Tried downgrading to 5.4.0-0.rc0.git2.1.fc32 (from git3.1) and systemd-243-1.fc32 (from 243-2.gitfab6f01) because a similar test vm, in which gating tests passed, shows those versions. No luck: I still see the sd-bus error.

[2019-10-04 07:14] giuseppe commented on #4185
`--userns=keep-id` already maps the secondary groups from the host:

[code]

They appear as the unknown id inside of the user namespace since the original id is not mapped (and it cannot be mapped as they are not owned by the unprivileged user).

They are honored by the kernel, I made a quick test like:

[code]

Can you show me the output of the above grep commands on your system (both on the host

[2019-10-04 07:17] bkircher commented on #4092
This seems fixed with latest updates on F31

buildah-1.11.2-3.git0bafbfe.fc31.x86_64
podman-2:1.6.1-2.fc31.x86_64
crun-0.10-1.fc31.x86_64

[2019-10-04 08:30] akram opened #4190 "podman crashes with multi-stage and incorrect copy --from my-registry/my-image command"
Hi team, great job,

I faced a crash with a malformed Dockerfile using multistage and:
[code]
The malformed command here, is an equal sign missing between from and image name:
it should be
[code]

Here is the stacktrace
[code]

[2019-10-04 09:11] #4184 closed

[2019-10-04 10:07] ephracis opened #4191 "Cannot run MongoDB in systemd-container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Create a systemd container based on centos/systemd

2. Install rh-mongodb34-mongod inside container

3. Start container with `podman ... --systemd=true ...`

**Describe the results you received:**

The service cannot start inside the container, it fails w

[2019-10-04 10:21] rhatdan commented on #4185
We currently populate the /etc/passwd with the UID, perhaps we should add the group ids as well if they do not exists.

[2019-10-04 10:21] #4092 closed

[2019-10-04 10:28] rhatdan commented on #4190
Best if you open this issue on buildah, since podman is only vendoring in `buildah`.

[2019-10-04 10:29] rhatdan commented on #4190
@TomSweeneyRedHat PTAL

[2019-10-04 11:14] ephracis commented on #4191
I have an easy way to reproduce the issue:

[code]

[2019-10-04 11:28] rhatdan opened #4192 "`podman top -l pid hpid` does not work on cgroups V2"
sh-5.0# podman run -d fedora sleep 1000
1598f52fb941827373897911bfcd64ba2d029c03b004211885692605e91b11cd
sh-5.0# podman top -l pid hpid
Error: couldn't find pids group for PID 107564

[2019-10-04 11:35] rhatdan commented on #4191
Seems like a systemd issue.  Could you open a bugzilla on this.  I don't believe this is an upstream issue.

[2019-10-04 11:38] ephracis commented on #4191
Which bugzilla? Should I open a support ticket in the Customer Portal?

[2019-10-04 11:53] laped83 opened #4193 "Inspect fails for .Image field"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run -t -d fedora:30 cat

2. podman inspect -f="{{.Image}}" 1e7c4920ed4b

3.

**Describe the results you received:**

Error: Template parsing error: template: image:1:2: executing "image" at <.Image>: can't evaluate field Image in type *libpod.Inspe

[2019-10-04 11:56] ephracis commented on #4191
I found a Red Hat Bugzilla and created an account to file this bug report: https://bugzilla.redhat.com/show_bug.cgi?id=1758509

I also opened a support ticket in Customer Portal since it happens on our RHEL servers too.

[2019-10-04 12:34] giuseppe commented on #4185
from the user namespace PoV these GIDs are not present, they all appear as 65534.

[2019-10-04 12:42] ephracis commented on #4191
The interesting part is that it works fine when run directly on the host. It's only inside a container that the issue appears. That's why I suspected that there is something wrong with how the container is run, either a fault by me or by podman.

[2019-10-04 12:53] TomSweeneyRedHat commented on #4190
Closing as I've moved this issue to Buildah at: https://github.com/containers/buildah/issues/1894.  We'll work on it from there.  Thanks for the report @akram !

[2019-10-04 12:53] #4190 closed

[2019-10-04 13:17] vrothberg commented on #4192
https://github.com/containers/psgo/pull/59 to the rescue

[2019-10-04 13:40] vrothberg commented on #4193
Hi @laped83, thanks for the report. I can reproduce and found the issue.

@baude @mheon, the problem is that the go field is called `ImageID` while the json identifier is called `Image` (see https://github.com/containers/libpod/blob/master/libpod/container_inspect.go#L99). Strictly speaking, changing `ImageID` to `Image` is breaking the API. _However_, a simple `podman inspect $CTR` will print the

[2019-10-04 13:44] mheon commented on #4193
@vrothberg We actually do normalization for a few of these in the `inspect` code - when we've changed identifiers previously, we did a crude string-replace to ensure the old ones still worked - https://github.com/containers/libpod/blob/master/cmd/podman/inspect.go#L99-L106

I think we should replace ImageID with Image, and add another one of these string-replaces as a band-aid to keep from breakin

[2019-10-04 14:09] rhatdan commented on #4185
@giuseppe I thought you said that we mapped the GIDs into the container.
I think the user wants

[code]
To be
[code]
Where we add the UID from /etc/passwd to /etc/passwd in the container.
$ podman run --userns=keep-id alpine cat /proc/self/gid_map
would list out that
10 10 1
[code]

[2019-10-04 14:20] vrothberg commented on #4193
Fix is here: https://github.com/containers/libpod/pull/4195

[2019-10-04 14:24] vrothberg commented on #2317
More and more things are coming on my plate. I'll unassign me, so others could take over.

[2019-10-04 14:25] rhatdan commented on #4191
Thanks this very well could be a bug in podman or in mongodb. But bugzilla is the place to put older versions of the tools, rather then upstream.

[2019-10-04 14:31] paulraines68 commented on #4185
I don't see --userns=keep-id mapping the secondary groups like you show:

[code]
And as a duplicated of your quick test

[code]

Again I am running podman-1.4.4-4.el7.centos.x86_64 on CentOS 7.7

[2019-10-04 14:54] vrothberg commented on #4192
Reopening as we still have to cut a new psgo release and revendor.

[2019-10-04 16:08] paulraines68 commented on #4185
I should add that I am looking to using rootless podman as an alternative to singularity which was the only working way of doing "rootless" secure docker-like containers I know of now.  This is what we use on our compute cluster now but users find it difficult to translate since they are used to docker and instructions they find on the internet for the containers they download are all docker-centr

[2019-10-04 16:44] returntrip opened #4198 "Unable to restart Toolbox containers stopped by podman (must reboot)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unable to re enter toolbox containers which were stopped using `podman stop <container>`

In order to re enter the container with `toolbox enter <container>` (or by `podman start <container>`), I need to reboot the system, after which I can re enter the container and its state is mantain

[2019-10-04 16:47] mheon commented on #4198
It looks like delete isn't firing... I'm assuming `toolbox enter` hass a `podman start` under the hood.

@giuseppe @rhatdan I'm starting to suspect that cleanup processes aren't working on F31 right now - seeing a lot of reports like this, where containers aren't properly cleaned up when they exit.

[2019-10-04 17:02] rhatdan commented on #4198
[code]
Shouldn't this work?

[2019-10-04 17:02] rhatdan commented on #4198
@giuseppe Ideas?

[2019-10-04 17:11] mheon commented on #4198
Works fine for me on F30 (with `runc` and `crun` both). Probably something with Cgroups V2?

[2019-10-04 17:38] ephracis commented on #4191
Ok, I put the component as systemd but maybe that should be changed to something else then. Didn't see podman or "container tools" there, though.

If it would help I could try the upstream libpod, either now (just to check if it's present in master) or when you have branch with a suggested fix.

[2019-10-04 18:46] jwhonce commented on #4021
@cevich With your change the timeout is still 90s, you just test less often which should save on resources. :)  You could try  `Eventually(podmanTest.NumberOfContainers(), 180, 3).Should(BeZero())` That would double the wait time and test less often.

[2019-10-04 20:24] giuseppe commented on #4198
I don't see it on Fedora 30 with cgroups v2, I'll debug further

[2019-10-04 21:29] hdonnay commented on #3799
This is happening on Fedora Silverblue 30.

Is there any way to clean up these files, short of nuking the entire directory?

[2019-10-04 23:20] Romain-Geissler-1A commented on #3191
Hi,

Still, the output of "podman build -q" doesn't match the output of "docker build -q":

- docker outputs a single line (the final image id), while podman show all intermediate image ids
- podman prefixes it with "Using cache" when the cache was used, whereas docker only outputs the image id and nothing else.

Is it possible to match the docker output ? It's quite handy to easily fetch an image

[2019-10-05 07:30] afbjorklund opened #4202 "Removing kubernetes breaks podman"
Or, more specifically, running `kubeadm reset` removes **all** of CNI:

https://github.com/kubernetes/kubernetes/blob/v1.16.0/cmd/kubeadm/app/cmd/phases/reset/cleanupnode.go#L84

* **`/etc/cni/net.d`**
* `/var/lib/dockershim`
* `/var/run/kubernetes`
* **`/var/lib/cni`**

This is a "known issue" for CRI-O, where I assume it doesn't matter:
https://github.com/cri-o/cri-o/blob/master/tutorials/kubead

[2019-10-05 09:17] tmds commented on #3191
@Romain-Geissler-1A can you create a new issue?

[2019-10-05 09:37] vrothberg commented on #4202
Thanks for the report, @afbjorklund!

I agree. From a packaging perspective, it seems concerning that the kubeadm deletes files from _other_ packages.

[2019-10-05 11:13] afbjorklund commented on #4202
The directory contains two files, so it _should_ only have removed one of them:

* `/etc/cni/net.d/87-podman-bridge.conflist`
* **`/etc/cni/net.d/k8s.conf`**

Anyway, functionality can be restored again with: `sudo yum reinstall podman`

And it worked OK, even if an older version (1.0.1) `podman-1.0.0-2.git921f98f`

[2019-10-05 11:27] afbjorklund commented on #4202
Opened https://github.com/kubernetes/kubeadm/issues/1822

[2019-10-05 14:28] sshnaidm opened #4203 "Segfault when running podman-remote cp"
/kind bug

**Description**

when running podman-remote with specific arguments it crashes

**Steps to reproduce the issue:**

1. Run `podman-remote  cp /tmp/file1 cont43:/tmp/ccc` where `cont43` is **local** container (not remote) and `/tmp/file1` is an arbitrary file.

**Describe the results you received:**
It crashes:
[code]

**Describe the results you expected:**
This is actually not regular po

[2019-10-05 14:36] sshnaidm opened #4204 "podman-remote cp fails with error "you must use just one container""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When running `podman-remote cp` it fails with error `you must use just one container`

**Steps to reproduce the issue:**

[code]

While container cont44 exists on remote:
[code]

**Describe the results you received:**
Error "you must use just one container" and file is not copied

**Describe t

[2019-10-05 15:24] mheon commented on #4203
I think this is fixed upstream

On Sat, Oct 5, 2019, 10:28 Sergey <notifications@github.com> wrote:

[2019-10-05 15:42] jess-sch commented on #4079
Installing fuse-overlayfs (from AUR) fixes this issue.

[2019-10-05 15:42] #4079 closed

[2019-10-05 15:43] TomSweeneyRedHat commented on #3191
@Romain-Geissler-1A that should be quiet and I thought it was.  Me thinks we've had a change somewhere to not make it quiet any more.  Drat!  Thanks for the heads up.  As this is build issue, I've created a new issue under Buildah and tried to tag you in it so you can follow.

https://github.com/containers/buildah/issues/1897

[2019-10-05 16:39] debarshiray commented on #4198
Yes. `toolbox enter` is `podman start ...` followed by `podman exec ...`.

[2019-10-05 20:10] giuseppe commented on #4185
we cannot map these GIDs in the user namespace, newgidmap would not allow to use group IDs not specified in `/etc/subgid`.  Still, we should not lose access to them, even if they appear as 65534.

I'll need to debug it further, as on Fedora 31 the groups are maintained, while we don't do that on Centos 7.7

[2019-10-05 20:16] sshnaidm commented on #4156
Actually it's two variables: `PODMAN_VARLINK_ADDRESS` and combination of `PODMAN_USER/PODMAN_HOST`.
If we use tcp connection to varlink we need to use `PODMAN_VARLINK_ADDRESS`, if unix socket via SSH then `PODMAN_USER/PODMAN_HOST`. Is it right? Please correct me if I'm wrong.
Also there are `--username user --remote-host host` CLI options that can be used with `podman-remote` to connect to varlink

[2019-10-05 20:21] sshnaidm commented on #4203
@mheon right, checked now with upstream `podman version 1.6.2-dev` and there is no `podman-remote cp` at all. Is it planned to implement?
Closing the issue.

[2019-10-05 20:21] #4203 closed

[2019-10-05 20:36] mheon commented on #4203
We are planning on adding it, but it's not been implemented yet.

[2019-10-05 20:50] giuseppe commented on #4185
it looks like a difference in the OCI runtime.  With runc I get the empty Groups set, with crun instead I get the original groups maintained in the container.

[2019-10-05 21:44] sshnaidm commented on #4203
@mheon cool! It would unblock option to run ansible with podman connection plugin on remote host, because it requires "cp", prepared for it in https://github.com/ansible/ansible/pull/63166

[2019-10-05 21:45] sshnaidm commented on #4204
Closing it because `podman-remote cp` isn't implemented yet, see https://github.com/containers/libpod/issues/4203

[2019-10-05 21:45] #4204 closed

[2019-10-06 07:31] afbjorklund commented on #4156
That sounds about right.

I'm not sure if you are supposed to **use** `tcp:` directly, due to the lack of authentication and encryption ? In the examples it is _only_ used to access a local tcp tunnel, which is then using ssh for the transport:

https://github.com/containers/libpod/blob/master/docs/tutorials/remote_client.md#remote-node-setup

[code]

[2019-10-06 09:04] dinokov commented on #2542
Wanted to build simple local Wordpress environment for development according to [https://docs.docker.com/compose/wordpress/](https://docs.docker.com/compose/wordpress/)
Was getting this error when using podman-compose on Manjaro 5.1.21-1:
[code]

what I did to get rid of the error:
- aurman -S crun                       ---------installed crun
- enable the user namespaces permanently:
echo 'kernel

[2019-10-06 10:05] rhatdan commented on #4204
Please open an issue on adding this support if the issue does not currently exists.

[2019-10-06 10:10] sshnaidm opened #4207 "Support "podman-remote cp""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add support for `podman-remote` to copy files from/to containers.

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

It will unblock remote containers execution in ansible podman plugin: https://github.com

[2019-10-06 10:11] sshnaidm commented on #4204
@rhatdan opened https://github.com/containers/libpod/issues/4207

[2019-10-06 10:13] rhatdan commented on #4204
Thanks.

[2019-10-06 10:49] sshnaidm commented on #4156
I think `tcp:` is great for local testing, also docker supports it too.
I think maybe `PODMAN_VARLINK_ADDRESS` can be expanded to options like `ssh://user@host` so that we don't need to calculate it depending on protocol.
Just:
[code]
Or maybe to introduce a new variable like `PODMAN_REMOTE_HOST`
Then you need to care about one variable only, it makes life easier :)

[2019-10-06 14:20] sshnaidm commented on #4191
With `podman-1.5.1-3.fc30.x86_64` it runs fine:
[code]

[2019-10-06 15:07] cjao opened #4208 "No way to input single "ctrl-p" keypress"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

BUG

**Description**

While inside a terminal inside a container (such as toolbox), pressing "ctrl-p" does nothing while pressing it again sends two "ctrl-p" events to the terminal. This behavior interferes with the standard keybindings of common programs like emacs (where ctrl-p normally scrolls up one line) or bash (w

[2019-10-07 05:37] akram commented on #4190
Thank you guys!

[2019-10-07 07:23] vrothberg commented on #4202
I'm closing the issue as it must be fixed in `kubeadm`. Thanks a lot, @afbjorklund, for pushing to fix it!

[2019-10-07 07:23] #4202 closed

[2019-10-07 08:38] Zlopez opened #4210 ""Could not get runtime: unknown event logger type" on Fedora 31 Beta Silverblue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Various `podman` commands fails with `Error: could not get runtime: unknown event logger type:` on Fedora 31 Beta Silverblue

**Steps to reproduce the issue:**

1. `podman ps`

**Describe the results you received:**
`Error: could not get runtime: unknown event logger type:`

**Describe the res

[2019-10-07 09:08] ephracis commented on #4191
Cool! Will the fix be backported to the 1.4 branch anytime soon, since that's what's available on RHEL/CentOS right now?

Also, are there any binaries for CentOS for 1.5 or even 1.6? Or do I need to compile it manually in order to verify that it solves my issue?

[2019-10-07 09:56] rhatdan commented on #4208
@haircommander @giuseppe @mheon Is this conmon/podman waiting for a sequence to disconnect from the container?

[code]

We might need to either disable this feature or setup alternative key mappings.
I agree the ctrl-p is common for use within bash/emacs settings.

[2019-10-07 09:57] rhatdan commented on #4208
@debarshiray WDYT?

[2019-10-07 10:22] rhatdan commented on #4191
@lsm5 Could you point at the Centos 1.5 or 1.6 packages?

[2019-10-07 13:40] GolanTrevize10 opened #4211 "Podman is not taking proxy env variables when pulling or login"
/kind bug

**Description**

When I try to do a podman build, podman login or podman pull behind a proxy I get a connection refused error when trying to connect with docker hub or redhat registry. Curl works so https_proxy variable is correctly set up and the URLs are whitelisted in the proxy. I am running podman inside an Openshift pod.

**Steps to reproduce the issue:**

1. Create a docker image

[2019-10-07 13:53] mheon commented on #4210
Running as root, or rootless?

Can you provide your `libpod.conf`? As root, `/etc/containers/libpod.conf` or `/usr/share/libpod.conf`; without root, `$HOME/.config/containers/libpod.conf`.

[2019-10-07 13:54] mheon commented on #4208
This is the CopyDetachable code in Podman

[2019-10-07 13:55] Zlopez commented on #4210
I'm running rootless podman, here is the `libpod.conf`
[code]

[2019-10-07 13:57] mheon commented on #4210
Your config seems to be missing two fields that I have related to events.

[code]

Try adding those to the end your your user's `libpod.conf`

[2019-10-07 14:01] Zlopez commented on #4210
I tried to add the two lines and got this
[code]

[2019-10-07 14:01] rhatdan commented on #4208
Is there an easy way for toolbox to disable this?

[2019-10-07 14:05] mheon commented on #4208
Reading the code right now: it seems like it pauses the copy until it can check the buffer fully for C-p C-q if a C-p is detected. Once it can check, if it is not that key sequence, it's copied in its entirely - so sending C-p C-a for example would result in both keys being send.

The difficulty with special-casing C-p C-p is that we don't guarantee that the detach sequence is two keys only. We su

[2019-10-07 14:10] mheon commented on #4210
Ahh - they're already in there, between `num_locks` and `detach_keys`.

You can remove the new ones you added and just modify the existing ones - `events_logger` to `"file"` should be sufficient

[2019-10-07 14:17] mheon commented on #4208
Actually, the loop would probably terminate early, in the case of 3 keys - so C-p C-p would still work.

[2019-10-07 14:37] Zlopez commented on #4210
Add `"file"` to `events_logger` and got this
[code]

[2019-10-07 14:41] mheon commented on #4210
At this point, I would recommend removing `$HOME/.config/containers/libpod.conf` entirely, so Podman will automatically re-generate it from the root defaults - that should get you a working system.

@rhatdan FYI - it looks like the migration code ran, but he doesn't have the new runtime paths sections (older Podman generated this config), so the migration to `crun` failed.

[2019-10-07 14:49] cevich commented on #4021
@jwhonce oh I abandoned that change, it didn't make a difference.  _Somehow_ the problem still reproduces, on my PR and I saw it on master last week too :confused:

One interesting thing to note is, shouldn't `Eventually(podmanTest.NumberOfContainers()...)...` run the `podman-remote ps -a` command multiple times?  I only see in running once (in the test output) based on the number of 'output: ' li

[2019-10-07 14:57] rhatdan commented on #4208
The think is, how would I run podman and tell it I don't intend to detach.  Another would be to put a strange squence.  Could toolbox specifiy alt-; or something like that, so it would not be a common sequence used for bash recall.

[2019-10-07 15:01] rhatdan commented on #4211
Are you sure the environment variables are set within the container running podman?  Can podman see the proxy from its network?

[2019-10-07 15:05] mheon commented on #4208
I think that setting detach keys to `""` (empty string) in libpod.conf will get you no detach keys. That has its own disadvantages, in that there's no way to escape an attach session.

[2019-10-07 15:08] GolanTrevize10 commented on #4211
@rhatdan yes, as I mentioned if I do a curl to the red hat registry or docker hub from within the container it works

[2019-10-07 15:10] Zlopez commented on #4210
@mheon This did the trick, thanks.

[2019-10-07 15:20] alitvak69 opened #4213 "No new podman releases in ubuntu ppa"
Dear developers,

Can you please push podman 1.6.1 and all dependencies to ubuntu ppa?  I thought it was happening automatically.

Thank you in advance,

[2019-10-07 16:21] rhatdan commented on #4208
Sure, But can toolbox just execute

`podman run --detach-keys "" `
to do the same.

I don't think toolbox expects people to detach from toolboxes.  But I will let @debarshiray comment.

[2019-10-07 16:25] rhatdan commented on #4211
Could you try a newer version of podman, or verify if podman on the host outside of the container follows the rules?  The HTTP_PROXY redirect is supposed to be handled in the GOLANG libraries, podman does not do anything with these specifically.  So it could be that podman as compiled with an older version of golang that did not properly support this feature.

[2019-10-07 20:18] mwoodson commented on #2886
I am running podman on centos 7, and this is still an issue.  Every reboot I'm manually loading the br_netfilter module, and then restarting my containers. The containers seem to drift back into a bad state.  Just want to know if there is an official fix.

Is there a fix for this, or is it just manually installing the br_netfilter module?

Is this fixed in RHEL 8 ?

[2019-10-07 20:25] mheon commented on #2886
"Drift back into a bad state" - do you mean that, after loading the module, things break again after a time?

[2019-10-07 20:26] mheon commented on #2886
If the issue is just loading the module, can you use `/etc/modules-load.d/` to automatically load on system start?

[2019-10-07 20:26] mwoodson commented on #2886
Yeah, I have one container that stops connecting/communicating with other containers ports after a few days/weeks.   I haven't spent a ton of time tracking it down.

I am aware I can put something in /etc/module-load.d, I'm just asking if this is the "official" fix for rhel/cent 7.

[2019-10-07 20:46] debarshiray commented on #4208
Wow, I use ctrl+p in Emacs and Bash all the time but I never noticed this before today. I guess I just don't spent enough quality time inside a Toolbox shell. :)

Yes, I agree. We don't expect people to want to detach a container while running an interactive shell.

[2019-10-07 20:48] mheon commented on #4208
For now, simplest solution would be for Toolbox to override detach keys, then. I don't know if exec allows this yet; we can add it if it doesn't.

[2019-10-07 20:49] haircommander commented on #4208
exec does allow this!

[2019-10-07 20:56] debarshiray commented on #4208
It doesn't look like `--detach-keys ""` unsets the shortcut. I tried:
[code]

I also tried `--detach-keys=`.

[2019-10-07 21:26] debarshiray opened #4214 "Don't write configuration in ~/.config/containers; only read them"
/kind bug

**Description**

One of the bigger pain points of the Cgroups v2 migration was the presence of `runtime="runc"` in `~/.config/containers/libpod.conf`. In the past we had a [bug](https://github.com/containers/libpod/issues/2158) where `~/.config/containers/storage.conf` could get corrupted, creating all sorts of confusion.

Dumping default values into configuration files in `$HOME` locks

[2019-10-07 22:55] debarshiray commented on #4142
This got fixed.

[2019-10-07 23:18] mheon commented on #4142
Concur, this was fixed in crun

[2019-10-07 23:18] #4142 closed

[2019-10-07 23:52] mheon commented on #2886
I think that loading the module on startup is the official fix, though I believe most installs include it by default - we don't get many reports of it not working by default.

Communication no longer working sounds like it's definitely a bug of some way. If you can get more details, we'd be interested in hearing about it.

[2019-10-08 05:44] avikivity opened #4217 "podman rejects duplicate mount specifications"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman rejects duplicate mount specifications in the run command, contrary to docker

**Steps to reproduce the issue:**

1. $ podman run -it --rm -v $PWD:$PWD -v $PWD:$PWD fedora:30 bash

**Describe the results you received:**

Error: /home/avi: duplicate mount destination

**Describe the res

[2019-10-08 09:11] GolanTrevize10 commented on #4211
Where can I get a newer version of podman from? I installed the latest RHEL podman package.

[2019-10-08 12:20] rhatdan commented on #2886
Firewall rules?  This would probably be a CNI issue, and not an issue directly in podman.

[2019-10-08 12:40] rhatdan commented on #4217
I don't believe we strive to be bug for bug compatible with Docker.  To me this is a bug and should be reported to the user.  Docker should also report an error.

[2019-10-08 13:34] mheon commented on #4217
Docker does allow for duplicate mount destinations, but only so long as the mounts are completely identical. I think this might be reasonable to do - reopening.

[2019-10-08 13:36] mheon commented on #4211
You're on 1.4.4, which makes me think RHEL 7?

@lsm5 maintains a repo with a more up-to-date build of Podman for RHEL/Cent 7.

[2019-10-08 13:43] lsm5 commented on #4211
seems the latest build of 1.6.1 for centos7 failed. Let me fix that and get back..

[2019-10-08 14:29] hholst80 commented on #4014
Explicit repro steps:

1. Obtain a machine with Windows 10.
2. Install Docker Desktop for Windows https://www.docker.com/products/docker-desktop
3. Start a container from the command prompt: `docker run -it --rm ubuntu:18.04`
4. Install podman inside the container. Follow this guide: https://computingforgeeks.com/how-to-install-podman-on-ubuntu/
5. Still inside the container, run: `podman info --d

[2019-10-08 14:45] lsm5 commented on #4211
https://cbs.centos.org/koji/taskinfo?taskID=982862 podman 1.6.1

[2019-10-08 17:39] homernajafi commented on #3882
We talked about 'how' but not 'why'. Why we can't run podman on OSX without having a linux VM? Is there any plan to get it working without VM?
This is kind of a dealbreaker for us.

[2019-10-08 17:45] b1shan opened #4219 "Support request for user defined iptables or iptables off/false, as in Docker Engine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Unlike Docker Engine, Podman does not provide support for turning iptables off or false, such as in dockerd cli or config. Moreover, Podman does not provide a user chain, such as DOCKER-USER, where users can put their own rules with the guarantee that they won't be oven run by Docker Engi

[2019-10-08 17:47] mheon commented on #3882
The lack of a proper OCI-compliant container runtime makes launching containers on OS X impossible without a VM being involved. There's a large amount of additional work that will need to be done if that hurdle is overcome - porting things like fuse-overlayfs and Conmon will be major efforts all their own - but without the ability to launch containers, there's no point.

[2019-10-08 17:49] mheon commented on #4219
This seems like it would need to be done inside of CNI.

[2019-10-08 17:58] b1shan commented on #4219
I think having either of the option would be a good start - option to turn iptables off or provide a predefined chain for users. The Podman security model is great, a strategic improvement over Docker Engine. This feature aligns with the security model Podman is pushing for IMO. Without this feature, several users are going to have trouble migrating over to Podman, especially the case of hybrid co

[2019-10-08 18:17] baude commented on #4219
@b1shan willing to contribute?

[2019-10-08 18:18] baude commented on #4219
@b1shan also note, this would be for rootfull containers only?

[2019-10-08 18:22] b1shan commented on #4219
@baude yes, that is an option if this isn't a priority for anyone else at the moment. I am more from the user side, haven't seen the code much or the cni lib. If you all help with pointers where to do what, I can, why not.

[2019-10-08 18:24] ZeroExistence commented on #4198
I'm also having this kind of issue on Fedora 30 with podman version 1.6.1 as well. It seems that there is something wrong with clean-up process of podman right now.
[code]
This is also causing some issues on starting containers with specific IP address, since these zombie containers seems to be still taking the cni resources as well.
[code]
If you need debugging logs, I can provide it. I'm still e

[2019-10-08 18:25] b1shan commented on #4219
@baude not sure I understand what you mean by rootfull containers. This is for containers exposed on the network - on the host and from outside the host.

[2019-10-08 19:00] mheon commented on #4198
Based on these logs I don't believe this is the same issue. This is likely https://github.com/containers/libpod/issues/3906

You are likely running `podman run --rm` as part of a systemd service with `KillMode` set to something other than none. systemd is hitting Podman with a SIGKILL after the container exits as it attempts to remove the container.

[2019-10-08 19:14] baude commented on #4219
the networking stack is setup differently when containers are run by root vs a regular user.

[2019-10-09 04:47] komish commented on #4159
Not sure if it's in scope for _this_ issue, but running into the same on CentOS 8

[code]

[code]

[2019-10-09 06:21] alitvak69 commented on #4213
Didn't mean to sound rude.  My apologies.
@lsm5 Does the failure on ppa has to do with the latest change in autobulder?

https://gitlab.com/lsm5/rpm-builder/commit/da3aa936697c5171da8ef5261caec4ba8e5bf5f4

Looks like credentials changed and it possibly broke the pipeline.  Just a thought.
`

[2019-10-09 06:25] alitvak69 commented on #4213
[code]

[2019-10-09 08:30] rfc1459 commented on #4213
Launchpad is rejecting the GPG key used to sign the changes and dsc uploads, there's also a build failure for buildah (the ubuntu-specific rebase is failing)

[2019-10-09 10:40] lsm5 commented on #4213
ya, I probably messed up while changing identities. I'll put this on today's TODO.

[2019-10-09 11:07] lsm5 commented on #4213
`.dput.cf` in the container image used for CI still had my older id, which was causing ssh issues. The pipeline at https://gitlab.com/lsm5/rpm-builder/pipelines/87610518 seems to be working. Failures in buildah are merge conflicts which I'll fix later today. HTH.

[2019-10-09 11:47] rfc1459 commented on #4213
:tada: PPA is up-to-date (except for buildah):
[code]

[2019-10-09 11:54] vrothberg commented on #4014
@hholst80, thanks for sharing. This environment is quite exotic but I don't want to give up yet. Can you share the output when running `podman info --debug`?

[2019-10-09 12:17] rhatdan commented on #3882
Podman is a tool for running, building, manageing LINUX containers. Not MAC containers.  In order to run a Linux Container you need a Linux kernel.  On Windows they have added WSL to make people think that linux containers are running natively.  But really under the covers they are just running a builtin VM.

Bottom line, unless MAC decided to build and support OCI based containers with an OCI bas

[2019-10-09 12:26] rhatdan commented on #4219
Right, rootless containers do not do anything with iptables.

[2019-10-09 12:34] ZeroExistence commented on #3906
Not sure if my issue is related to SIGKILL issue here, but I'm encountering this case of container that seems to didn't make to the execution of command inside the container. The ```podman ps -a``` didn't even detect the container.
[code]

I'm assuming that if the podman didn't started the container successfully, it won't be able to cleanup the shm mounts afterwards. On my case, the container was

[2019-10-09 13:23] mheon commented on #4219
We've had more requests for this before (specifically the USER chain)

[2019-10-09 13:25] mheon commented on #4159
@lsm5 @baude @rhatdan Poke - what do we want to do about this? Substantially harder to get a new package into Cent than Fedora. Do we need to bundle it into the Podman RPM?

[2019-10-09 13:26] giuseppe opened #4224 "document that rootless mode enables lingering mode"
add a note to the documentation explaining why rootless containers need lingering mode

[2019-10-09 13:26] cevich commented on #4021
Caught [this happening on master recently](https://cirrus-ci.com/task/5561482120527872?command=integration_test#L8310) (so it hasn't accidentally been fixed recently)

[2019-10-09 13:33] cgwalters commented on #4224
Just noting here I don't think rootless podman should *automatically* try to change the host system to enable this.  Let's just print a clear error message.

The rationale for this is that while it's convenient for "user owns machine" cases, we also want to support "organization owns machine" cases where the user can't/shouldn't gain root on their systems.  For those types of scenarios, enabling l

[2019-10-09 14:57] greg-hydrogen opened #4226 "Centos 7 systemd container on Fedora 31"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a centos 7 container with systemd fails to run on Fedora 31

**Steps to reproduce the issue:**

1.  podman run -ti centos7-with-systemd /sbin/init

2.  output shows the following:

Failed to mount cgroup at /sys/fs/cgroup/systemd: Operation not permitted
[!!!!!!] Failed to mount API f

[2019-10-09 15:29] mheon commented on #4226
My suspicion is that the systemd used in Cent 7 images is too early to support CGroups v2, as used in Fedora 31 by default

[2019-10-09 15:40] greg-hydrogen commented on #4226
@mheon - agreed, will there be a work around or for users using Centos 7 systemd or should everything be rebuild with Centos 8

[2019-10-09 15:40] debarshiray commented on #4224
Yes, I agree with @cgwalters

People might get surprised if using Toolbox toggles the lingering mode of the system because they think of `toolbox enter` as a shell, which it basically is.