[2019-02-18 07:29] giuseppe commented on #1429
@AkihiroSuda:

Filipe (@filbranden) is working on it: https://github.com/containers/conmon/issues/8

[2019-02-18 08:24] #2347 closed

[2019-02-18 09:18] adrianreber commented on #2334
The path to the file is: `filepath.Join(c.bundlePath(), "dump.log")`

So something like this could be used:

[code]

Not sure if that is the correct way to do it. But creating an empty log file with the right label should fix this. Then the processes in the container would need to be able to write that log file.

CRIU creates the socket in the destination network namespace https://github.com/check

[2019-02-18 09:25] vrothberg commented on #2345
Thanks for opening this issue, @larskarlitski!

@rhatdan, sounds good :) I'll look into it!

[2019-02-18 10:35] vrothberg commented on #2345
I opened https://github.com/containers/libpod/pull/2360. On my notebook, a `podman search ruby` drops from roughly 11 seconds to 2 seconds while providing identical output.

[2019-02-18 18:02] paller commented on #2231
I'm having the same issue as initial reported and found this in the journal.

`kernel: overlayfs: unrecognized mount option "nodev" or missing value`

[2019-02-18 18:04] mheon commented on #2231
@paller What distribution, and how do you trigger it? Any command?
Also, can you pastebin your `~/.config/containers/storage.conf`

[2019-02-18 18:30] paller commented on #2231
Adding subuid and subgid as mentioned above solved the problem.

Could my "nodev" error be caused by a missing storage.conf file? I did delete it in an attempt to solve my problem.

Anyway,

Fedora: 29
Kernel: 4.20.8-200.fc29.x86_64
storage.conf: https://pastebin.com/EGBdyWnA

[2019-02-18 18:31] mheon commented on #2231
An incorrectly-formatted storage.conf might have caused it. Missing ought to be fine - we recreate from sane defaults in that case

[2019-02-18 19:57] giuseppe commented on #2231
I think the issue can be caused by fuse-overlayfs that fails on "nodev", I've added a patch to address it:

https://github.com/containers/fuse-overlayfs/pull/45/commits/130e0000e5c1a474a1fbb9f8d2cd8507e22c5296

[2019-02-18 20:14] rhatdan commented on #1429
We are trying to support his efforts and make changes in Podman and Conmon to further his testing along.
We are also working with the systemd team to make sure that they work with @filbranden.

Bottom line this is a high priority for us, and anything we can do to help this along, we shall help.
@AkihiroSuda If you can also help that would be great.

[2019-02-18 20:20] rhatdan commented on #2334
The code for libpod/container_internal/linux.go looks pretty good.

Is this code "infect.c" called by runc or podman?
If runc then we need to call setsockcreate(processlabel) before calling it

[2019-02-18 20:51] paller commented on #2231
Just found out that conmon isn't installed as a dependency for podman on Fedora 29. That's probably why there's nothing logged.

[2019-02-18 20:53] mheon commented on #2231
We package our own version in the Podman package (the `conmon` package is usually very old, since it has to sync with CRI-O , which releases at a much slower pace). If `conmon` wasn't installed, we'd throw very angry error messages on Podman startup to that effect - we can't do any container operations without it

[2019-02-18 21:04] paller commented on #2231
In that case I will remove the stand-alone conmon package again.

I have deleted the subuid/subgid and I'm back at
`error creating libpod runtime: exit status 1`

If there's any testing I can do let me know.

[2019-02-18 21:26] mheon commented on #2231
The two files do need to be there - if /etc/subuid and /etc/subgid are missing we can't use rootless.

[2019-02-18 21:26] mheon commented on #2231
(Though they really ought to be created by your distro when the newuidmap and newgidmap executables are installed)

[2019-02-18 23:06] mheon opened #2365 "Podman Asciinemas Archived"
**Description**
Almost all the asciinemas in https://github.com/containers/libpod/blob/master/commands.md are archived and unavailable. The demos for our commands are no longer viewable as such.

[2019-02-19 09:26] adrianreber commented on #2334
If I do `err = label.SetFileLabel(filepath.Join(c.bundlePath(), "dump.log"), c.MountLabel())` writing to the log file works. So this seems solved.

For the socket I have to use setsockcreate(processlabel) in CRIU. If I do it in runc it seems to fail creating runc sockets. For the socket my plan is to add a CRIU feature to specify the SELinux label of the socket. So Podman calls `runc checkpoint --

[2019-02-19 11:33] Silvanoc commented on #1742
Snaps work on Debian, but it's like requiring the users of an Android App to install F-Droid to get it. It's feasible, but you will reach a smaller audience than if you use the Google Playstore.

I mean, there is already a package manager in Debian and it covers Debian, Ubuntu and [much more](https://distrowatch.com/search.php?ostype=All&category=All&origin=All&basedon=Debian&notbasedon=None&deskt

[2019-02-19 13:10] vrothberg commented on #1742
I don't think the comparison is fair as packaging go-tools for Debian is exponentially more complex given all dependencies (see `./vendor`) must, in theory, be packaged separately. There is a clear clash of how software is being distributed conceptually, and all go-tools suffer from that in Debian.

The good news is that we are working with the Debian community together to get the tools into the m

[2019-02-19 13:23] Silvanoc commented on #1742
I wasn't comparing the effort, but the audience that you reach an in that sense I find it's a more than fair comparison. [Flatpak appears to have a wider usage than snap/snappy/snapstore](https://trends.google.com/trends/explore?cat=32&date=today%2012-m,today%2012-m,today%2012-m,today%2012-m,today%2012-m&geo=,,,,&q=%2Fm%2F0814ps,%2Fg%2F11cky713kp,%2Fg%2F11bwn4n_5b,snapcraft,snapstore&hl=en-US&tz=-

[2019-02-19 13:29] TomSweeneyRedHat commented on #2365
@mheon As a POC, I pulled the images asciinema, did some hacking and dropped it on the podman.io site at:
https://podman.io/asciinema/

The page is a bit rough atm as I didn't create a title or what not, but we could drop them all onto podman.io if you'd like and run them from there.

If this looks good, I'll change that link to an index.html file that links to each command we've an asciinema for.

[2019-02-19 13:45] rhatdan commented on #2365
Well it is also time that we re-did a bunch of them, since a lot of them are kpod commands.

[2019-02-19 17:06] SergeyBear opened #2369 "podman push --all-tags"
/kind feature

**Description**

It would be very usefull to have '--all-tags' option for ```podman push```, so to be able to push all image tags at once to remote registry.

**Usecase:** I'm building image from scratch and automatically tag local image with installed package version by build script. Then in separate CI job I'm testing image and if it's ok, I push it to remote registry. The problem

[2019-02-19 17:28] sysrich opened #2370 "Problems arising from Podman and k8s cohabiting /etc/cni/net.d"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind feature

**Description**

This is bug/feature/discussion point/plea for help

The problem at its heart is arguably not a problem with Podman, but a container ecosystem problem which makes Podmans life hell

CNI can be a mess, and the needs of podman and the needs of a configured cri-o/k8s stack can quite easily cause chaos in the real world

In o

[2019-02-19 17:34] mheon commented on #2370
Hm.

@mrunalp Any objections to adding a `cni_default_network` option to crio.conf to specify which CNI network to use by default?

[2019-02-19 17:52] paller commented on #2231
I have a similar Fedora 29 setup that doesn't have any problems. The subuid and subgid are preset and I didn't put them there manually. I'm guessing, but it could be something about the upgrade path. The problematic PC has been updated since Fedora 25 or 24, while the other only went from 28 to 29.

[2019-02-19 17:58] hadess commented on #2231
I think the problem is understood, including how to fix it, this issue is now about podman (or something in the layers underneath) not throwing a helpful error message when it encounters that problem.

[2019-02-19 18:40] EzzraAddie commented on #1995
Setting SELinux to permissive resolved the same issue for me.

I'm using podman in a Fedora 29 Server VirtualBox VM on a Fedora 29 host.

I switched SELinux from enforcing to permissive in the VM.

[2019-02-19 19:09] mheon commented on #2231
@giuseppe Can we extract anything from the process in the userns here? Leak a pipe in for error messages, like we do with `conmon`?

[2019-02-19 19:11] chergert opened #2372 "allow file-descriptor passing from podman-exec"
/kind feature

**Description**

Add support for passing file-descriptors across `podman exec` execution boundary.

I've started integrating some basic podman support into [GNOME Builder](https://wiki.gnome.org/Apps/Builder) using our native container abstractions (like we do for flatpak). One thing that makes this possible with flatpak is that we can pass file descriptors across the execution boun

[2019-02-19 22:21] rhatdan commented on #2334
Does runc fail in permissive mode?

[2019-02-20 00:40] jieyu opened #2375 "Consider CNCF?"
Really like this project. Any consideration to donate this project to an independent software foundation like CNCF?

[2019-02-20 04:02] filbranden commented on #1429
@AkihiroSuda Just cc'd you on https://github.com/opencontainers/runc/pull/1991 where I'm starting to fix libcontainer's systemd cgroup driver to actually always go through systemd (using the D-Bus interface) for all the writes.

That first PR is trying to establish an interface for the subsystems to translate their OCI configuration into systemd D-Bus properties, and it implements it for the "devi

[2019-02-20 04:05] AkihiroSuda commented on #1429
Thanks, just to confirm, non-systemd cgroup2 is also going to be supported?

[2019-02-20 04:32] llchan opened #2376 "Lookup runc and conmon on PATH?"
/kind feature

`runc` and `conmon` are currently searched for on a few hardcoded paths, or they can be overridden explicitly by the user.  Is there any reason not to try a `os.LookPath` first and see if we can find one on `PATH`?  Imho it's unintuitive for podman to use a different `runc` from the one the calling shell would invoke.

Of course there are workarounds, but it feels a little silly to

[2019-02-20 04:39] filbranden commented on #1429
No, only through the systemd cgroupdriver.

That's the thing, doing it through systemd gets it for free, we only go through D-Bus and systemd abstracts all that from us. The *only* remaining implementation is when getting statistics directly from the tree (`memory.stat`, `cpu.stat`, etc.) we need to find them at the proper place, but that's a small detail, a tiny commit, I already have a draft for

[2019-02-20 04:48] AkihiroSuda commented on #1429
So it doesn't work with nested containers and Alpine hosts?

[2019-02-20 04:54] filbranden commented on #1429
I, at least, am only looking to fixing the systemd path to support cgroupv2. So I think it won't work nested, unless you're running systemd inside your container (e.g. like KIND does.) I believe systemd can run in a fairly unprivileged container (at least in nspawn world...) but I haven't looked a lot into this, so you'd need to double check that...

[2019-02-20 06:42] adrianreber commented on #2334
If I add `label.SetSocketLabel(processlabel)` to runc just before calling CRIU and if I do `setenforce 0` I get the following denials, but runc does not fail:
[code]

But if I reset the socket label to default in runc with `err = label.SetSocketLabel("")` just after calling CRIU it works. So I actually can solve this with a simple runc patch.

I will prepare a Podman pull request for the CRIU log

[2019-02-20 12:15] rhatdan commented on #2231
This Issue seems to have drifted all over.  What is the current issue people are seeing?
Can we close this issue, and open a new one with a clear description of what is the problem.

[2019-02-20 12:16] rhatdan commented on #2372
So you want to add a --preserve-fds flag to podman run/create?

[2019-02-20 12:30] hadess commented on #2231
The problem is still the same. On some (usually upgraded) systems, the `/etc/sub{u,g}id` files don't include the current user. This is easily fixable if the user knows what the problem is, but the error reporting is lacking. The discussion is now about how the error should be extracted from inside the namespaced process back up to the caller, so it can be printed for the user to act upon.

[2019-02-20 12:42] debarshiray commented on #2372
Yes, but to podman run/exec, if I understood @chergert properly.

[2019-02-20 12:57] TomasTomecek opened #2379 "rootless `podman run` with :Z results into "relabel failed""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am mounting my cwd into rootless container using :Z and podman errors out with a message:
[code]

The reason I am opening this issues is that it works fine for my colleague with the exactly same setup. Hence I am confused whether this is actually supposed to work or not. CC @jpopelka

[code

[2019-02-20 13:39] djzager opened #2380 "Podman run device argument can't specify device on container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This may simply be a doc issue but I see in the podman-run man page it says:

[code]

But, when I attempt to add a device in this way I get an error `invalid argument`.

[code]

**Steps to reproduce the issue:**

1. `$ podman run --rm -it --entrypoint /bin/bash --device /dev/snd:/dev/snd:rwm

[2019-02-20 13:42] djzager commented on #2380
If the goal of what I am trying to do turns out to be important (I don't think it is), what I would like to be able to do is share my soundcard with the container for the purpose of recording my screen and audio via the `ffmpeg` container. Where is a good place to go to get help with that? IRC channel? (I looked on podman.io but didn't see where I should go.)

[2019-02-20 14:05] vbatts commented on #1429
On 19/02/19 20:54 -0800, Filipe Brandenburger wrote:

i suppose nothing is stopping a hook from mounting cgroup v1 for the
container. It sounds gross and i'm not sure how manageable it would be.

[2019-02-20 14:06] TomSweeneyRedHat commented on #2380
Hey @djzager

I think the best start is the one you took, to create an issue.  If you want a little more direct help, you certainly can hit us up on IRC too (freenode #podman), although best bet is to do so between 10 am and 2 pm Eastern (about one hour from now) as that's the sweet spot when most of the team is onboard there, we're very geographically spread out across the globe.

[2019-02-20 14:46] poettering commented on #1429
On Mi, 20.02.19 14:05, Vincent Batts (notifications@github.com) wrote:

note that nspawn actually supports running cgroupsv1 container
payloads on a cgroupsv2 host. It does so by mounting the old
hierarchies internally, and using that, replicating the minimal
hierarchy from the cgroupsv2 tree as necessary. But this is pretty
messy, since nobody maintains that tree and cleans it up afterwards.

[2019-02-20 14:50] mheon commented on #2380
@djzager I'm not the most familar with the Linux sound stack, but `/dev/snd` is a directory on my system, and from the error here I'm assuming on your system as well. What's your intent here - to have every device node in that directory accessible in the container?

@rhatdan Didn't you patch `--device` to support directory paths recently? That sounds like something that would have been in 1.0

[2019-02-20 14:58] mheon commented on #2379
@rhatdan Do we have permissions to do `:z` and `:Z` with rootless?

[2019-02-20 15:45] djzager commented on #2380
My apologies, I may have introduced confusion by mentioning what I was trying to do (really just wanted to know the best way to get help with what I was trying to accomplish).

The reason that I wrote the issue is that there is a discrepancy, at least as I see it, between what the `podman-run` manpage says I can do and what I can actually do. Specifically, the manpage says that I can `podman run -

[2019-02-20 16:29] rhatdan commented on #2375
Yes we would love to get this into CNCF

[2019-02-20 16:39] rhatdan commented on #2376
The problem we have had in the past was random runc versions might not match podman and runc reports vague errors that are hard to diagnose.

In libpod.conf there is a configuration for podman paths, that could be modified for your default runc/OCI Runtime.

[2019-02-20 16:40] rhatdan commented on #2334
Excellent.

[2019-02-20 16:42] vrothberg opened #2381 "rootless `podman export ... -o` fails"
[code]

... while redirecting `... > foo.tar` works. I assume that's namespace related but we might need to document that in the manpage (and the help message).

[2019-02-20 16:55] rhatdan commented on #2231
I am seeing in podman this error.

podman images
ERRO[0000] No subuid ranges found for user "dwalsh" in /etc/subuid

If dwalsh is not in the /etc/subuid file?  Do you see something different?

[2019-02-20 16:56] rhatdan commented on #2372
@mheon @giuseppe WDYT?

[2019-02-20 16:56] giuseppe commented on #2379
we have no way for setting that xattrs as rootless

[2019-02-20 16:57] adrianreber commented on #2334
runc changes for CRIU socket labelling available at: https://github.com/opencontainers/runc/pull/1992

Podman changes to fix CRIU log file labelling and to use new runc features available at: https://github.com/containers/libpod/pull/2382

[2019-02-20 17:01] robmv opened #2383 "Unable to set dns option to podman create on a container with host networking"
/kind bug

**Description**

bb6c1cf8d1667c7c8e4d539ea2250a18fa89a58a disables the possibility of setting up DNS when the container is run in host networking mode.

My use case is a Samba AD domain as a container, AD domains provide they own DNS server. We don't expose the AD DNS server to the clients, the host run bind that forwards to the container.

The container is run in host networking, with

[2019-02-20 17:01] giuseppe commented on #2372
It is an useful idea.

The only issue is that we are already passing down a bunch of fds, so we would need to properly reassign them.

[2019-02-20 17:11] rhatdan commented on #1429
I would like to see this get in, but in the rootless case, where we want to modify the cgroups of a container will this work?  Will runc be able to talk to Systemd to setup a cgroup for the container?

[2019-02-20 17:13] miabbott opened #2384 "should `podman inspect` require configuration of CNI network plugin?"
/kind bug

TL;DR - doing `podman inspect` requires configuration of the CNI plugin; has dependencies on `nsenter`, `iptables`, and `ip6tables`.  Is this setup really necessary for the `inspect` operation?

---

For Red Hat CoreOS (RHCOS) we are trying to compose the OS, build QCOWs, and create `oscontainers` all within an unprivileged container.  To do some of this, we are using a `supermin` appli

[2019-02-20 17:21] poettering commented on #1429
i am not sure how unpriv runc precisely works. But note that PID1 (i.e. the system instance of systemd) will deny delegation of cgroups subtrees to unprivileged clients if they already dropped privs. However, it's fine to delegate cgroup subtrees to programs that start unpriv and drop privs later, as well as to service payloads that use systemd's User= and thus let systemd drop privs for you.

Als

[2019-02-20 17:21] rhatdan commented on #2380
First are you attempting this as non-root?
This should work as root, but will probably fail as non-root since you don't have permissions to create a sound device as a non root user.

[2019-02-20 17:44] #2345 closed

[2019-02-20 17:50] mheon commented on #2384
We don't strictly need CNI to inspect the container, but it's necessary for a lot of other operations (create, start, stop, etc). As such, we configure it as part of initializing Podman.

It would be theoretically possible to make something that could inspect containers without CNI (which is what really brings in iptables, ip6tables, nsenter), but at that point we aren't really talking about Podma

[2019-02-20 17:51] hadess commented on #2231
Same thing with this command, but that's not the command I typed.

[code]

Both should have the same error message (the useful one ;)

[2019-02-20 18:33] miabbott commented on #2384
Something like `skopeo` perhaps?  :grin:

I tried to use that for this use case, but it doesn't like interacting with the non-default containers-storage.  See https://github.com/containers/skopeo/issues/547#issuecomment-465397396

[2019-02-20 18:37] mheon commented on #2379
Hm. We handle these inside libpod, so we can easily pop up a more helpful error on a relabel being requested.

[2019-02-20 18:43] mheon commented on #2372
The Flatpak way of doing this is `--forward-fd=FD`, which seems like a sane enough interface... I don't see many people using this, but the exec command isn't very cluttered right now, so I'm not opposed to adding it.

[2019-02-20 18:52] mheon commented on #2383
We're deliberately using the host's resolv.conf for `--net=host` by default, to ensure that DNS changes on the host are propagated into the container.

We can rework this to allow `--dns` with `--net=host` (libpod can check if DNS options are set, and create a resolv.conf if so). You naturally lose the DNS propagation, too, but probably not a big deal if you're explicitly specifying DNS servers.

[2019-02-20 19:00] adrianreber commented on #2380
Maybe in the future the newly introduced seccomp trap to user space feature (https://lwn.net/Articles/756233/) can help to create those devices for the non-root use case.

[2019-02-20 19:14] rhatdan commented on #2379
@giuseppe Why not?  You should be able to relabel a directory from an SELinux point of view.
Is this caused by fuse-overlay?

[2019-02-20 19:14] rhatdan commented on #2379
@TomasTomecek If you try in permissive mode, is it allowed?

[2019-02-20 19:22] rhatdan commented on #2372
@giuseppe Do you have time to work on it?

[2019-02-20 19:23] rhatdan commented on #2372
There are probably going to be SELinux issues with this.  SELinux should block the use of these fd's being passed in.

[2019-02-20 19:23] rhatdan commented on #2372
Unless they are labeled with something like
system_u:system_r:container_t:s0

[2019-02-20 19:28] rhatdan commented on #2380
Maybe, although I would be nervous about abuse.

I think you could volume mount in the device and use it.

[2019-02-20 19:49] rhatdan commented on #1429
This sounds like exactly what we need. If a user is alloced X% of a resource, then we want them to further subdevice the X% to their containers.

[2019-02-20 21:02] TomasTomecek commented on #2379
sadly, not:
[code]

[2019-02-20 21:06] rhatdan commented on #2379
Well I would like to know what is blocking it.  If I just do a buildah unshare I am allowed to set the label.

[2019-02-20 21:27] djzager commented on #2380
I think this may be relevant to my end goal. I'll have to dig into that fact further.

However, the issue with the manpage vs actual cli experience is still the main purpose of this issue :sunglasses:

[code]

[2019-02-20 21:31] mheon commented on #2380
Ahh, I think I see what this is.

@djzager Does it work if you just do `--device /dev/snd`?

@rhatdan It looks like the manpage doesn't mention that directories can only be used without a destination (`--device /dev/snd` works, but `--device /dev/snd:/dev/snd` does not). We could update the manpages here to reflect that, or potentially just make destination work with directories - doesn't seem lik

[2019-02-20 21:35] edsantiago opened #2388 "podman images: not newline-terminated"
`podman images`, with a non-json output format, omits the final newline:
[code]
This would seem like a minor nit, except it might greatly surprise anyone who does:
[code]
If we have one image, nothing is output. ~~Even more confusingly, if there's more than one, `$id` (the last element of the line) includes a spurious newline:~~ (never mind: that was an artifact of some debugging I was trying)

(N

[2019-02-20 22:29] rhatdan commented on #2380
@QiWang19 Could you look into this.

[2019-02-20 22:45] rhatdan commented on #2388
The code specifically does this now.  It checks if output is a tty and if it is executes a printf("\n") otherwise it does not.  And since you are piping to cat, it does not do it.

[2019-02-20 22:46] rhatdan commented on #2388
//Out method for Go templates
func (t StdoutTemplate) Out() error {
	tmpl, err := template.New("image").Parse(t.Template)
	if err != nil {
		return errors.Wrapf(err, "template parsing error")
	}
	err = tmpl.Execute(os.Stdout, t.Output)
	if err != nil {
		return err
	}
	humanNewLine()
	return nil
}

[2019-02-20 22:47] rhatdan commented on #2388
@edsantiago Do you think we should not check for Humans on Stdout Templates and always print the newline?
@baude Do you agree?

[2019-02-20 22:48] mheon commented on #2388
Did we add this in response to another bug? I can't think of another reason it would be there

[2019-02-20 22:49] edsantiago commented on #2388
@rhatdan I strongly think output should be consistently newline-terminated irrespective of whether stdout is a tty. See my first comment about piping through a `while` loop: the last line of output will be silently ignored.

FWIW I seem to have found in my records a note about reporting this in `ps` back in October; it got fixed, but I can't find a PR for it. (Note that this means that `ps` behave

[2019-02-20 22:56] rhatdan commented on #2388
Ps has this line
	fmt.Fprint(w, "\n")

I have no problem adding it.

[2019-02-20 23:01] mheon commented on #2388
I did a quick search, and I can't find any issues that relate to this, so I have no idea why we added it in the first place.

Given that, I'm fine with removing the TTY check.

@baude @rhatdan We really need to start forcing bugfix commits to add comments with links to the issue number so we don't start reverting bugfixes accidentally

[2019-02-20 23:24] edsantiago commented on #2388
Further info: [it's a POSIX thing](https://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline?rq=1):
[code]

[2019-02-21 05:43] llchan commented on #2376
I guess I have the opposite problem, the system runc does not match my podman, and the one on PATH is the one that matches.  And I agree, the errors are not totally obvious to diagnose :)  Can those errors be detected by checking `runc --version`?

I also just tried libpod.conf with my paths baked in, and it does the trick and cleans up my command lines. A bit of a heavier-weight approach, but may

[2019-02-21 07:15] TomasTomecek commented on #2379
I have no idea either. I was able to do `restorecon -FR` with my unprivileged user. When running podman with strace, it actually hanged and I didn't get any meaningful output.

[2019-02-21 08:24] giuseppe commented on #2356
As @AkihiroSuda pointed out, there is `lxc-user-nic`.  We have currently no plans for supporting additional models for rootless networks directly into Podman.  Hopefully at some point rootless mode will be supported by CNI.

[2019-02-21 08:24] #2356 closed

[2019-02-21 08:50] iNecas commented on #2356
I think at least the tutorial should be updated at https://github.com/containers/libpod/blob/master/docs/tutorials/podman_tutorial.md#familiarizing-yourself-with-podman so that it's not misleading the folks tying it for the first time.

[2019-02-21 08:57] giuseppe commented on #2381
do you get any error if you try `buildah unshare touch foo.tar` from the same directory?

[2019-02-21 09:00] giuseppe commented on #2231
I get the same error message when using `podman run`

[2019-02-21 09:22] vrothberg commented on #2381
[code]
works.

[2019-02-21 09:23] vrothberg commented on #2381
If I do a `buildah unshare touch foo.tar` and try to export after, outside the namespace, it doesn't work.

[2019-02-21 10:32] giuseppe commented on #2379
it should not interfere with fuse-overlay as it is bind mounted on top of it.

[2019-02-21 10:37] giuseppe commented on #1429
I've written this message privately to some of you, but I'll report it here as well:

something I've noticed and that will block its adoption for rootless containers is that D-Bus doesn't work from a user namespace if euid_in_the_namespace != euid_on_the_host.

We create the user namespace to manage the storage and the networking before we call the OCI runtime.  The OCI runtime for rootless contai

[2019-02-21 12:55] jpork opened #2395 "Change the graphroot in storage.conf doesn't effect volume creation"
I've changed `runroot` and `graphroot` in `/etc/containers/storage.conf`
The new path is reflected in `podman info` and is used for image and container handling.

But new volumes created with `podman volume create new-volume` are placed in the default location:
`/var/lib/containers/storage/new-volume/_data`
I can see it with `podman volume inspect new-volume` and in the filesystem.

I've found no

[2019-02-21 14:03] jpork opened #2396 "relocate /var/lib/containers dir via mount --bind prevents container from start"
I've relocated the the containers data dir via linux fs command `mount --bind` in order to change the real location where container data - especially volume data - are stored.

`> mount --bind /srv/containers /var/lib/containers`

This prevents the container from starting with the following error:

[code]
The mounted source dir `/srv/containers` is a local dir owned by root.

* podman version 1.0.

[2019-02-21 14:13] mheon commented on #2396
Can you run `podman --log-level=debug run -it fedora bash` and pastebin the result? That would give us a good idea as to where in the init process we're failing.

[2019-02-21 14:17] mheon commented on #2395
There is an (undocumented, and not present in the default configuration) option `volume_path` in libpod.conf that controls the location of the volume path.

Fix here is to:
1. Add that option to the default libpod.conf (commented out, but with a comment explaining its function)
2. Add the option to the libpod.conf manpage
3. Cause volume path to adjust by default when c/storage graph root is moved

[2019-02-21 14:17] giuseppe commented on #1429
being addressed by: https://github.com/systemd/systemd/pull/11785

[2019-02-21 14:39] rhatdan commented on #2376
Patches welcomed.  :^)

[2019-02-21 14:41] rhatdan commented on #2356
@iNecas Could you open a PR to state what you think the tutorial should say?

[2019-02-21 14:43] rhatdan commented on #2231
[code]

[2019-02-21 14:45] rhatdan commented on #2381
ls -l foo.tar

[2019-02-21 14:49] mheon commented on #2395
#2397 should fix

[2019-02-21 14:52] mheon commented on #2231
What versions are we looking at here? Is this fixed in upstream, but present in 1.0, or are we looking at an environment issue causing @hadess to get different output?

[2019-02-21 14:54] rhatdan commented on #2379
This worked for me
[code]
rpm -q podman
podman-1.0.0-1.git82e8011.fc29.x86_64

[2019-02-21 14:58] iNecas commented on #2356
Was planning to unless somebody would be faster

[2019-02-21 15:25] hadess commented on #2231
`podman-1.0.0-1.git82e8011.fc29.x86_64`

That's in the first comment.

I already explained how I reproduced the exact error in https://github.com/containers/libpod/issues/2231#issuecomment-459019496

[2019-02-21 15:32] rhatdan commented on #2231
[code]
Ok I get this now.

[2019-02-21 15:35] mheon commented on #2231
Oh! This has to be the refresh code - that reexecs a fresh `podman info`, and we're probably not sharing STDOUT/STDERR with it.

[2019-02-21 16:01] rhatdan commented on #2231
Yes I am working on a patch for this now.  Just need to add the output command from podman info.

[2019-02-21 16:46] metalmatze opened #2398 "Zsh completion for Podman"
/kind feature

**Description**

There is already a bash completion for podman, but none for zsh.
Coming from docker I am used to the completion of commands and really miss them when using podman right now.

**Steps to reproduce the issue:**

1. `source /usr/share/bash-completion/completions/podman` - this is were the completion is put on Arch Linux

**Describe the results you received:**

[code]

[2019-02-21 18:25] rhatdan commented on #2398
@metalmatze Patches welcomed.  I would love to see them, but no one is using Zsh on our team.

[2019-02-21 18:43] mheon commented on #2398
It looks like Cobra can autogenerate completions for us?
https://github.com/spf13/cobra/blob/master/bash_completions.md

That might do ZSH completions too

[2019-02-21 18:48] llchan commented on #2376
Cool, if you're open to that type of change I'll put something together. Should be able to have the makefile pass in some build-time constants that the user can override.

Have to get approval first though, so might be a little bit.

[2019-02-21 18:50] mheon commented on #2376
If we do this, I think our ideal behavior is to have a bool in libpod.conf to use $PATH for runc/conmon (or separate bools, one for each), and retain the current behavior as default.

[2019-02-21 18:51] mheon commented on #2376
(Maybe a per-runtime thing with the new multi-runtime handling in libpod.conf?)

[2019-02-21 18:59] mheon opened #2399 "Add variable for global flags to runlabel command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We need a variable in `podman runlabel` labels that expands to global Podman options, so we can pass through configuration (for example, storage config) to Podman commands being executed in labels.

**Steps to reproduce the issue:**

0. mkdir /tmp/new

1. podman --root=/tmp/new create --n

[2019-02-21 18:59] mheon commented on #2399
@baude We discussed this via email, but the thread sort of died, so I'm throwing it up here

[2019-02-21 20:40] rhatdan commented on #2398
There is a small comment about zsh but I don't see much else.

[2019-02-21 21:07] rhatdan commented on #2396
Could this be SELinux?

What is the permissions on /srv?

ls -lad /srv

[2019-02-21 22:30] edsantiago opened #2405 "[minor] podman pull, with no args, issues error message but exits 0"
[code]
The `ERRO` is in red. ISTM like this should exit 125.

podman-1.0.0-1.git82e8011.fc29, also tested on a recent build from master.

[2019-02-21 23:03] #2388 closed

[2019-02-21 23:22] llchan opened #2408 "Rootless libpod.conf should fill in an appropriate tmp_dir"
/kind bug

**Description**

When a `libpod.conf` is specified via `--config`, an omitted `tmp_dir` does not fall back to the default (`$XDG_RUNTIME_DIR/libpod/tmp`) like it does when `--config` is not specified. It remains at the empty string, which leads to a fairly obvious but not very user-friendly error downstream.

**Steps to reproduce the issue:**

1. Copy the default `libpod.conf` (which ha

[2019-02-21 23:26] llchan commented on #2408
This diff fixes things (awaiting approval to submit PRs, but pasting this here since it's small and harmless):
[code]

On a more general note, is there a reason why we don't initialize with `defaultRuntimeConfig`, and let the user-supplied config overwrite (i.e. more similar to what `NewRuntime` does)?

[2019-02-21 23:46] llchan commented on #2376
Agreed, new behavior should be the same as existing behavior if configs dont change. I'll probably do the compile-time-PREFIX-configuration thing first.  Doing an optional lookup on PATH imho would still be nice as a general feature though, so I'll see if I can do that later too.

[2019-02-22 07:12] jpork commented on #2396
[code]
[code]
[code]

[2019-02-22 07:13] jpork commented on #2396
[code]

[2019-02-22 07:28] jpork commented on #2395
This is exactly what I'm looking for.

I've added

`volume_path = "/srv/volumes"`

to `/usr/share/containers/libpod.conf`

But it doesn't change the volume location so far. Its still in the default location `/var/lib/containers/storage/...`

[2019-02-22 08:11] giuseppe commented on #2408
the patch LGTM

[2019-02-22 08:50] q384566678 opened #2409 "Error running container in container created by podman"
/kind bug

**Description**

After creating a container with `podman`, running the container with `buildah` in the container will fail, but after I created the container with docker, I can run the container successfully.

**Steps to reproduce the issue:**

1.Start the container with podman
[code]

2. Run the container using buildah inside the container.
[code]
**Describe the results you received:**

[2019-02-22 11:13] rhatdan commented on #2408
Could someone open this as a PR?

[2019-02-22 21:05] marshallford opened #2414 "Consider adding Jenkins usage example to K8s plugin repo"
Hello all,

I'm trying to wrap my head around how I might use podman within a container in a Jenkins pipeline using the [Jenkins kubernetes-plugin](https://github.com/jenkinsci/kubernetes-plugin) to build and push an image. Is there a pre-built libpod image for this use case? Does the podman "abstraction" over buildah change this [comparison overview](https://github.com/GoogleContainerTools/kaniko

[2019-02-22 21:12] mheon commented on #2414
Specifically for building, you should find little to no difference between Podman and Buildah. `podman build` is actually executing the same code as `buildah bud` - the only difference are different default arguments for a few CLI flags. If you're only looking at building, `buildah` and `podman` should be identical, so the comparison overview for buildah should also apply here. The main difference

[2019-02-22 22:00] rhatdan commented on #2414
@marshallford You can use either one in a container depending on your use case. You can also increase/decrease the security you need.

For building a container in a locked down container you would be better off with buildah.

You could use `buildah bud --isolation chroot -f Dockerfile .`

[2019-02-23 10:49] #2381 closed

[2019-02-23 11:05] rhatdan commented on #2369
Tom could you look at this for buildah and then podman?

[2019-02-23 11:07] rhatdan commented on #2409
Any chance this is an SELinux issue?

Could you try it setenforce 0

If it is, could you grab the SELinux error messages

ausearch -m AVC -ts recent

[2019-02-23 11:13] rhatdan commented on #2408
This seems to be working for me in current podman?

[code]

[2019-02-23 11:14] #2405 closed

[2019-02-23 11:46] rhatdan commented on #2398
This is what I can get autogenerated with cobra.

https://paste.fedoraproject.org/paste/zARxPPTMDbnqcPN-bPx8Fw

@metalmatze Would this be valuable to you?

[2019-02-23 11:56] rhatdan commented on #2398
Sadly here is what it creates for bash completions.

https://paste.fedoraproject.org/paste/br2zBdxOPeOHlwBfYC-5XQ

Obviously a hell of a lot further along.

[2019-02-23 12:00] rhatdan commented on #2396
restorecon -R -v /var/lib/containers

[2019-02-23 12:05] rhatdan commented on #2396
This worked for me:

[code]

[2019-02-23 12:09] rhatdan commented on #2384
Would buildah inspect give you what you needed?  Were you inspecting a container or an image?

[2019-02-23 12:13] rhatdan commented on #2383
It is using a copy of the resolv.conf from the host, not bind mounting it in. so I see no problem with these flags working.

[2019-02-23 12:23] rhatdan commented on #2370
@mrunalp @baude We need to clean this up?  Seems a shame that these can not easily share the same CNI Infrastructure.

[2019-02-23 12:25] rhatdan commented on #2379
What file system were you sitting in when you ran?

podman run --rm -ti -v $PWD:/src:Z fedora:29 bash
relabel failed "/home/tt/g/user-cont/packit": operation not permitted

Is this on an nfs share or some file system that does not support labeling?

[2019-02-23 12:26] rhatdan commented on #2372
@giuseppe Could you take a look at this?

[2019-02-23 12:59] rhatdan commented on #2351
Since this is merged closing.

[2019-02-23 12:59] #2351 closed

[2019-02-23 12:59] #2344 closed

[2019-02-23 13:00] rhatdan commented on #2343
I think this is now fixed in upstream podman.

[2019-02-23 13:01] rhatdan commented on #2325
What is the latest on this Issue?

[2019-02-23 13:05] rhatdan commented on #2317
@cgwalters What path would that be
 --host-cert /etc/pki?

[2019-02-23 13:12] rhatdan commented on #2314
This has been merged so closing.

[2019-02-23 13:12] #2314 closed

[2019-02-23 13:13] rhatdan commented on #2312
@edsantiago @giuseppe Is this resolved?

[2019-02-23 13:14] rhatdan commented on #2303
@baude @ikke-t is this fixed now?

[2019-02-23 13:14] #2301 closed

[2019-02-23 13:15] rhatdan commented on #2285
@giuseppe @filbranden Are we done with this one?

[2019-02-23 13:16] #2276 closed

[2019-02-23 13:16] rhatdan commented on #2266
@QiWang19 Can you look into this?

[2019-02-23 13:17] rhatdan commented on #2250
@h-vetinari Have you gotten access to a newer version of podman?

[2019-02-23 13:19] rhatdan commented on #2247
We now have podman system prune.

[2019-02-23 13:19] #2247 closed

[2019-02-23 13:20] rhatdan commented on #2241
@baude @mtrmac is this a bug or working as designed?

[2019-02-23 13:31] edsantiago commented on #2312
I'm still seeing it on master - 0969d725a3b302d9baa0616a204f7fc824404973

[2019-02-23 13:55] mheon commented on #2409
Might also be missing capabilities - we might need SYS_MOUNT in addition to
others... I'd try adding all caps and seeing if that fixes it

On Sat, Feb 23, 2019, 06:07 Daniel J Walsh <notifications@github.com> wrote:

[2019-02-23 14:00] rhatdan commented on #2409
SYS_MOUNT is not a capability (I wish it was)  SYS_ADMIN controls mounts.

[2019-02-23 14:22] TomSweeneyRedHat commented on #2369
Yep, been thinking about it in the back of the noggin, shoulda grabbed this earlier.

[2019-02-23 14:31] ikke-t commented on #2303
I'm not aware that anything would have been done to fix this. I just explained my use case. Could be that it gets closed/won't fix if I'm alone with my use case :)

[2019-02-23 16:08] tobwen opened #2418 "[feature request] Hide some host details"
/kind feature

**Description**
A container's interactive guest can get information about kernel and overlay from the host.

**Steps to reproduce the issue:**
1. run rootless container
2. run commands like `dmesg`, `uname -a`, `mount`

**Describe the results you received:**
Detailed information about the kernel, the container is running on and about mounts.

**Describe the results you expected:**
L

[2019-02-23 19:44] ikke-t commented on #2303
do'h, I feel dumb now. I only realised now that podman can't read back the yamls itself. All the time I was thinking I create yaml file for awx containers for single pod. And that could be stored to e.g. ```/etc/podman/awx.yml```, and somehow the pod could have been started by systemctl like ```podman pod create -f  /etc/podman/awx.yml```.

I don't see such ```-f``` option in ```podman create```,

[2019-02-23 19:49] mheon commented on #2303
That sounds like `podman play kube` which we do ship? (Minus the volume mounts, again)

[2019-02-23 19:55] ikke-t commented on #2303
thanks, I thought I saw somewhere that I could run the yaml with podman. Doesn't work on my fedora though, no such option in
[code]

that version doesn't have "play" sub command. Is it in some other package?

[2019-02-23 19:57] mheon commented on #2303
...Huh. The code's been merged since December, so I'm rather curious as to why it's not there...

[2019-02-23 19:58] ikke-t commented on #2303
and for the mount, in this case it should be (from ansible), so it saves both AWX stuff and posgres data:
[code]

[2019-02-23 20:00] ikke-t commented on #2303
I downloaded that version today from Koji: https://koji.fedoraproject.org/koji/packageinfo?packageID=26289, the latest. This is Fedora 29.

[2019-02-23 20:03] ikke-t commented on #2303
not there:

[code]

[2019-02-23 20:04] mheon commented on #2303
Just built from master, it's missing there too.
@baude Looks like it might have accidentally been removed when we migrated to Cobra?

[2019-02-23 20:04] mheon commented on #2303
Also, how did our tests miss an entire command going missing?

[2019-02-23 21:01] rhatdan commented on #2418
We don't try to make the kernel secret, so we would not want to block umount -a.

mount will only show the mounts inside of the container.

dmesg is blocked if you run with SELinux in enforcing mode.

[2019-02-23 21:17] rhatdan commented on #2303
podman play --help works.
Just listing it in podman --help is not.

[2019-02-23 21:20] rhatdan commented on #2240
I have merged in a fix for podman rm --force that will remove a container that libpod does not know about.

This will get you our of this situation.

[2019-02-23 22:04] tobwen commented on #2418
Okay, thanks for your reply.

[2019-02-23 22:04] #2418 closed

[2019-02-23 22:53] ikke-t commented on #2303
@rhatdan, it is not there, no matter how you put the help switch:

[code]

The play just doesn't seem to exist:

[code]

[2019-02-23 22:54] ikke-t commented on #2303
Or, am I missing some dependency lib or something? Like said, this is Fedora 29 with podman downloaded from Koji by dnf. Would it need some forgotten dependency library for play to become visible?

[2019-02-24 07:34] frobware opened #2420 "fatal error: concurrent map writes when running podman container runlabel"
/kind bug

**Description**

Running `ppodman container runlabel -p pod quay.io/baude/demodb:latest` generates a fatal error `fatal error: concurrent map writes` and then dumps its goroutines.

**Steps to reproduce the issue:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info`:**

[code]

[2019-02-24 09:27] TomasTomecek commented on #2379
It's standard XFS on top of luks filesystem:
[code]

I don't even have a separate `/home` partition.

[2019-02-24 12:39] rhatdan commented on #2420
@vrothberg This looks to be in a area of code you know best.

[2019-02-24 12:41] rhatdan commented on #2379
Have you tried different directories?  Could you try chcon -t container_file_t -R SOURCE
outside of the container and see if it fails?

[2019-02-24 14:29] mheon commented on #2420
C/Image progress bars, looks like. Good news is we already replaced them
upstream. Need to confirm this is fixed there, but my initial thinking is
it probably is.

On Sun, Feb 24, 2019, 02:34 Andrew McDermott <notifications@github.com>
wrote:

[2019-02-25 05:28] q384566678 commented on #2409
If it is, could you grab the SELinux error messages
ausearch -m AVC -ts recent

Here is SELinux error messages when setenforce 0:
[code]

[2019-02-25 10:31] giuseppe commented on #2285
@rhatdan the PR is stuck with the CI: https://github.com/kubernetes-sigs/cri-o/pull/2062

[2019-02-25 10:44] mtrmac commented on #2241
Well, **podman-images**(1) does not say, but if the intent is to be compatible with **docker-images**(1), it’s a bug.

[2019-02-25 11:06] vrothberg commented on #2325
I opened https://github.com/containers/libpod/pull/2425 to make the GitHub issue template ask to run `podman info --debug` which will be slightly more verbose. As @rhatdan mentioned, `podman info` already prints the version of buildah.

However, I am not sure if `buildah info` should print the version of libpod as it's not an integral part of Buildah (opposed to Buildah being an integral part of p

[2019-02-25 11:16] giuseppe commented on #2372
PR for runc here: https://github.com/opencontainers/runc/pull/1995

PR for libpod here: https://github.com/containers/libpod/pull/2426

[2019-02-25 11:24] giuseppe commented on #2312
I think it depends from runc, but I'll need to investigate it further

[2019-02-25 11:29] giuseppe commented on #2409
yes, confirmed it is SElinux blocking it.  For me it blocks the same mount also with Docker

[2019-02-25 13:15] SergeyBear commented on #746
Also tried to find alternative of docker-compose for podman, because creating/updating pods using bash ends with heavy logic and ansible roles - executes much slower.

Using 'podman play' is very promissing feature, but I think this might lead to podman will have to adopt to k8s api changes all the time.

As I can see, docker-compose is a separate tool to docker engine, so may be separate podman-c

[2019-02-25 13:17] jplandrain commented on #2211
Thanks for the fix. It worked for me on Ubuntu 18.04 running into the same issue.

[2019-02-25 13:29] SergeyBear commented on #746
It's probably need to add a notice in README that docker-compose functionality is out of the scope of podman. People sometime thinks that docker-compose is a part of docker cli and want to find it in podman.

[2019-02-25 14:28] rhatdan commented on #2285
I just merged that PR>

[2019-02-25 14:52] rhatdan commented on #2241
Ok we should list all images then

[code]

[code]

Podman should have listed
docker.io/library/fedora   26    f36d549d2474   5 days ago   241 MB

[2019-02-25 14:52] rhatdan commented on #2241
@QiWang19 Could you fix this.

[2019-02-25 14:55] rhatdan commented on #2325
Well I think we should remove any dependencies for buildah on libpod.  If there are dependenies, they should be moved to buildah or some other package and then vendored into libpod.

[2019-02-25 14:57] rhatdan commented on #2409
I can easily allow the mounton for container_file_t, I am not crazy about the mounton for cgroup_t.  Any idea what is causing this?

[2019-02-25 15:02] mheon commented on #2325
I think the biggest one is the secrets code. I'd be fine moving that into buildah wholesale (or a shared repo for common code, either or)

[2019-02-25 15:11] rhatdan commented on #2409
Fixed in container-selinux-2.83-1.gitec6fcad

[2019-02-25 15:20] rhatdan commented on #2211
@jplandrain So you see this as fixed?  @lsm5 Can I close this issue?

[2019-02-25 15:50] rhatdan commented on #2325
Makes sense for this to move to buildah.

[2019-02-25 15:51] giuseppe commented on #2312
PR here: https://github.com/containers/libpod/pull/2432

[2019-02-25 16:05] vrothberg commented on #746
Thanks for the suggestion, @SergeyBear. I've opened https://github.com/containers/libpod/pull/2428 to address it.

[2019-02-25 16:09] jplandrain commented on #2211
No, not at all. The package uidmap should be a dependency. At the moment, it's not the case and so I had to install it manually as described by @pipiobjo (whom I was thanking for his fix, but that is actually a workaround rather than a fix)

[2019-02-25 16:26] mheon commented on #2211
I think we're also missing slirp4netns

[2019-02-25 16:51] miabbott commented on #2384
I was inspecting a container image.

I looked at the output of `buildah inspect` and the format is much different from that `podman` spits out.  Whereas, the format of `skopeo inspect` is closer to that of `podman inspect`, but more brief.

Our usecase is looking to retrieve the `Digest` and `Labels` specifically.

[2019-02-25 17:01] jplandrain commented on #2211
I confirm this too

`➜  ~ podman version
Version:            1.0.1-dev
RemoteAPI Version:  1
Go Version:         go1.10.4
OS/Arch:            linux/amd64

➜  ~ podman run --rm -it busybox echo hello world
Trying to pull docker.io/library/busybox...Getting image source signatures
Copying blob 697743189b6d: 738.18 KiB / 738.18 KiB [========================] 0s
Copying config d8233ab899d4: 1.46 KiB /

[2019-02-25 19:23] #2312 closed

[2019-02-25 19:43] marshallford commented on #2414
@rhatdan Is there a community image for podman or buildah similar to `gcr.io/kaniko-project/executor`, `r.j3ss.co/img`, or `docker.io/dind`?

[2019-02-25 21:43] rhatdan commented on #2420
@frobware Could you see if this works with master branch?

[2019-02-25 21:44] rhatdan commented on #2414
Not yet.

[2019-02-25 21:47] rhatdan commented on #2409
https://bodhi.fedoraproject.org/updates/FEDORA-2019-f1c9724b22
is available for Fedora 29

[2019-02-25 21:48] rhatdan commented on #2303
Well we are cutting the release of podman 1.1 today.  So it will be in there.

[2019-02-25 22:10] llchan commented on #2408
@rhatdan maybe you need to remove your existing db config?

[2019-02-26 08:32] frobware commented on #2420
Will take a look later in my day. Given the nature it wasn't always reproducible.

[2019-02-26 09:13] SergeyBear commented on #746
IMHO, adding k8s generator to podman may lead to problems like k8s had with runtime and storage drivers, when developers had to add and support a lots of techs, that eventually ended with creating CRI and CS. Some will need k8s support, others - swarm and so on...
May be it is better to represent 'podman play' as 'composer alternative' for local deployment with k8s api compliant syntax? Because ev

[2019-02-26 09:23] giuseppe commented on #2408
I see the same problem with a fresh storage.  I confirm the patch above fixes the problem.

@llchan could you open a PR?

[2019-02-26 09:38] #746 closed

[2019-02-26 11:21] q384566678 commented on #2409
I updated the selinux to 2.83 version under the fedora system, and the same error will still occur.

[code]

[2019-02-26 12:24] vrothberg commented on #2420
I don't think that the progress bars are causing the issue. The panic() seems to be caused in the `blobinfocache`.
[code]

[2019-02-26 12:33] vrothberg commented on #2420
Yes, that's a bug in `dockerImageSource` and subject to a race condition which explains that it's hard to reproduce. I'll prepare a fix for containers/image. Thanks for the detailed report, @frobware!

[2019-02-26 13:04] rhatdan commented on #746
@SergeyBear Sure. the goal was to make it easy to transition from a traditional container environment to a Kubernetes environment.  But once we did that we needed a way to allow users to transition back, which is why we added play.  But we did not want to lock our selfs to just Kubernetes, so I definitely could see us supporting other formats.  Which is why we have podman generate kube, if some ot

[2019-02-26 13:26] rhatdan commented on #2409
New AVCs?

[2019-02-26 13:28] SergeyBear commented on #746
I just found great post about [podman play and generate](https://developers.redhat.com/blog/2019/01/29/podman-kubernetes-yaml/) that describes in detail usecases.
Probably it will indeed can be an alternative to docker-compose :+1:

[2019-02-26 13:46] rhatdan commented on #2420
Is this something we should hold up 1.1 release for?

[2019-02-26 14:08] vrothberg commented on #2420
Yes, let's hurry and get the fix in.

[2019-02-26 14:25] #2420 closed

[2019-02-26 14:49] edsantiago commented on #2420
Nice timing: I just experienced this as a one-off, about 10 minutes ago, `podman-1.0.0-1.git82e8011.fc29` rootless on a pull. First and only time I've seen it. Yes, I'd say this would be a good one to get into 1.1. Thank you for fixing this before I had a chance to file a bug report!

[2019-02-26 15:27] mheon commented on #2395
We have a partial fix in #2397 that will ensure that volumes will always be a subdirectory of c/storage if the default storage directory moves.

Unfortunately, the volume_path option is still broken. I know what's wrong, but it will be a more substantial code change to fix, so we're going to hold it until after v1.1.0 is released

[2019-02-26 15:48] debarshiray opened #2441 "Rootless 'podman start' stopped working somewhere between dfc64e15d7f8b171 (good) and 81ace5caaca844ed (bad)"
/kind bug

**Description**

Rootless `podman start` stopped working somewhere between dfc64e15d7f8b171 (good) and 81ace5caaca844ed (bad) as can be seen when using the Silverblue [toolbox](https://github.com/debarshiray/toolbox/). Starting from a clean state (ie., no images or containers present), this is what happens:
[code]

The command that's failing is:
[code]

Replace `fedora-toolbox-rishi:28`

[2019-02-26 16:02] #2395 closed

[2019-02-26 16:08] debarshiray commented on #2441
Changing the storage backend to `vfs` leads to a different error:
[code]

[2019-02-26 16:40] giuseppe commented on #2441
the issue seems to be introduced by 52df1fa7e054d577e8416d1d46db1741ad324d4a

somehow the volumes specified in the image are confusing podman, and are also leaking to the file system (i.e. they never get deleted).

If I drop the volumes from the toolbox script then everything works as expected:

[code]

not suggesting it as a fix :-)  It is just to understand what is going on

[2019-02-26 16:49] ikke-t opened #2445 "kube generate -> play fails due name already in use"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman fails to start pod with pod name same as container name. This is from yaml podman generate kube created.

**Steps to reproduce the issue:**

1. create pod
[code]

2. generate kube
[code]

3. Delete pod
[code]
4. try playing back the kube yaml
[code]

**Describe the results you received

[2019-02-26 16:56] ikke-t commented on #2445
I was actually trying to reproduce the bug that podman couldn't create pod from it's own generated kube yaml. Yaml is in here: https://github.com/containers/libpod/issues/2303#issuecomment-466684908

This was supposed to be simple reproducal for @baude, who got this result from yaml playback:

[code]

[2019-02-26 17:55] vrothberg opened #2449 "Ubuntu install guide: can't execute Podman"
Following the [install guide](https://github.com/containers/libpod/blob/master/install.md) for Ubuntu (18.04.2), I end up in a rather unusable state as some configs are not installed.

[code]

I think the package must be updated. Let's use the issue as a tracker.

[2019-02-26 17:56] vrothberg commented on #2449
@lsm5, can you have a look? I am not sure if it's a known issue or not. I just installed an Ubuntu VM for some performance tests.

[2019-02-26 18:10] ikke-t opened #2450 "podman kube play fails with containers starting before infra container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman play kube starts container before infra container, and thus fails starting due dependency problem.

**Steps to reproduce the issue:**

1. create yaml file:
[code]

2. run podman play kube postgres.yml

[code]

**Describe the results you received:**

Error for dependency:
[code]

**Desc

[2019-02-26 18:12] mheon commented on #2449
Known issue, but I don't think we've collated all of this in the same place before.

I walked someone on IRC through getting things working a few weeks back, and we encountered the following issues:

- No dependency on `uidmap` package (needed for rootless)
- Missing `slirp4netns` (no package)
- Missing `registries.conf`

[2019-02-26 18:13] baude commented on #2450
this is already fixed upstream

[2019-02-26 18:13] #2450 closed

[2019-02-26 18:20] #2441 closed

[2019-02-26 19:31] debarshiray commented on #2441
Yes, #2446 fixes this for me. Thanks @giuseppe

[2019-02-26 19:37] adrianreber commented on #2334
The log file denial is solved with #2382. For the `connectto` denial I need to work on a solution in CRIU.

[2019-02-26 21:05] mheon commented on #2395
Final fix should be in https://github.com/containers/libpod/pull/2454

[2019-02-26 21:42] rhatdan commented on #2384
Does skopeo inspect get those for you?

[2019-02-26 22:01] edsantiago commented on #2191
Inconsistency alert: as mentioned above, there is no `podman checkpoint` command. However: (1) there is a `podman restore` command (as well as `podman container restore`); and (2) the example messages for `podman container checkpoint` are all written as `podman checkpoint`. (The examples for `podman container restore` are written as such, but the synopsis string is just `podman restore`). Also: th

[2019-02-26 22:12] rhatdan commented on #2191
Yes we need to fix this.  These commands should only be available unde podman containers not as main line commands.

[2019-02-27 00:55] q384566678 commented on #2409
No error messages when setenforce 0.
[code]

[2019-02-27 03:26] CameronNemo opened #2459 "1.1.0 FTBFS"
/kind bug

**Steps to reproduce the issue:**

1. Build with tags: `seccomp apparmor containers_image_ostree_stub btrfs_noversion exclude_graphdriver_btrfs`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[2019-02-27 03:58] llchan commented on #2408
I unfortunately cannot yet, still pending approval from manager and he's out of town for the week. Will do as soon as I can. If you'd like to file it on my behalf feel free to.

[2019-02-27 06:58] adrianreber commented on #2191
I have opened #2460 to remove 'restore' as a command from 'podman'. It should now only be available as 'podman container checkpoint' and 'podman container restore'.

[2019-02-27 11:20] SergeyBear opened #2462 "Problem with results of podman inspect --format"
/kind bug

**Description**

Podman inspect does not return exit status 1 nor error if element in --format is absent.
Looks like https://github.com/containers/libpod/issues/2159 is back again.

**Steps to reproduce the issue:**

podman pull busybox
podman inspect --format '{{.ContainerConfig.Labels.123}}' busybox || echo error

**Describe the results you received:**

exit code 0 and empty output

*

[2019-02-27 13:06] rhatdan commented on #2409
And with setenforce 0 it works?

If yes then try to turn off Dontauditrules.
# semodule -DB
Run the container
Collect the new AVCs
Turn back on dontaudit rules.
# semodule -B

[2019-02-27 13:07] TomasTomecek commented on #2379
Thanks, Dan! That command finally helped me to resolve it: the problem was that there were files/dirs owned by root down the road which I didn't notice originally, hence the operation denied message.

Sorry for the fuss.

[2019-02-27 13:07] #2379 closed

[2019-02-27 13:14] rhatdan commented on #2408
Ok, @llchan We would love to have you to contribute, once you get permission..  @giuseppe Can you open a PR.

[2019-02-27 13:15] adrianreber commented on #2191
@rst0git I am closing this for now. I think Podman's checkpoint/restore support is already better integrated and tested. As Docker's support was always hidden behind experimental I think it is not well known and not really necessary for Podman to support in the same way.

The possibility to have multiple checkpoints of one container sounds interesting and might be a good idea to implement in the f

[2019-02-27 13:15] #2191 closed

[2019-02-27 14:14] rhatdan commented on #2379
Interesting. Files owned outside the user namespace that were not allowed to be relabelled.

[2019-02-27 14:39] mheon commented on #2459
Looks like a Varlink issue - all our CI presently builds varlink enabled, so we didn't catch this.

Need to fix the issue and then get our CI to also build varlink disabled so it doesn't reoccur.

[2019-02-27 15:18] mheon commented on #2459
Opened #2465 to fix the build and #2464 to add CI to catch this

[2019-02-27 15:20] TomSweeneyRedHat opened #2466 "1.1.0 '-s' global option not recognized"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**

The global short option `-s` for `--storage-driver` is not recognized as a valid global option in a command like:
[code]

**Steps to reproduce the issue:**

See description

**Describe the results you received:**
[code]

**Describe the results you expected:**
Successful execution.

**Additiona

[2019-02-27 15:21] mheon commented on #2466
Did we miss something in the Cobra migration?

[2019-02-27 15:23] TomSweeneyRedHat commented on #2466
me thinks so, stumbled across this while running the baseline tests.  Ran into two other non-related errors that I'm running down now too....  :^(

[2019-02-27 15:25] mheon commented on #2466
We're cutting a 1.1.1 already for the Varlink fix, so no big loss if we need to sneak in a few more PRs

[2019-02-27 15:27] TomSweeneyRedHat opened #2467 "1.1.0 Overlay change?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
This maybe expected behavior now, but the baseline test on 1.1.0 is failing on this command:

[code]

I'm pretty sure this worked in previous versions, but need to check/run down.  Just want to open this issue up for now and will add more info as I find it.

If this is expected, I can change th

[2019-02-27 15:28] baude commented on #2466
we did not miss anything ... you cannot have shortcuts for flags for both "global" and "local" commands.  -s was removed.  cleared this by @rhatdan at the time.

[2019-02-27 15:32] TomSweeneyRedHat commented on #2466
It's still on the man page, that needs to get cleaned up then.

[2019-02-27 15:35] mheon commented on #2467
This sounds like a c/storage change? @nalind @rhatdan

[2019-02-27 15:40] sysrich opened #2468 "podman image ls not working with podman 1.1.0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm submitting Podman 1.1.0 to openSUSE Kubic, which now has pre-submission (aka staging) testing powered by openQA.

The submission is blocked, because "podman image ls" which is used repeatedly in the test suite is not working with Podman 1.1.0

Screenshot of the failure: https://openqa.ope

[2019-02-27 15:41] mheon commented on #2468
@baude Looks like we missed something in cobra changes?

[2019-02-27 16:09] CameronNemo commented on #2459
Thank you for the fast response. I will give this a try in ~10-12 hours.

[2019-02-27 16:39] #2459 closed

[2019-02-27 17:14] TomSweeneyRedHat commented on #2467
This looks to be failing in v1.0 too, but in a different manner.

[code]

[2019-02-27 17:19] TomSweeneyRedHat opened #2469 "1.1.0 OnBuild Error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
Look ups of local images seems to be failing.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

See steps to reproduce.

**Describe the results you expected:**
Happy image build.

**Additional information you deem important (e.g. issue happens only occasionally)

[2019-02-27 17:26] TomSweeneyRedHat commented on #2469
Hmmm, and this works with Buildah v1.7 released.

[2019-02-27 17:28] mheon commented on #2469
Could be the --pull-all default being changed

[2019-02-27 17:28] mheon commented on #2469
Sorry, --pull-always (--always-pull?)

[2019-02-27 17:29] TomSweeneyRedHat commented on #2469
And works on 1.8-dev which is at this point 1.7.1.

[2019-02-27 17:30] TomSweeneyRedHat commented on #2469
@mheon same error with --pull-always

[2019-02-27 17:48] mheon commented on #2469
Different vendored c/image than buildah? Running out of ideas here, there aren't many differences.

[2019-02-27 17:58] TomSweeneyRedHat commented on #2469
We've the same vendoring for c/image and c/storage....

[2019-02-27 19:28] mheon commented on #2469
Confirmed, I can reproduce locally

[2019-02-27 19:30] mheon commented on #2469
We're trying to pull onbuild-image and failing when we can't find it in registries (because it's not there).

This is 100% `--pull-always` - setting it to false fixes.

I think we need to change `--pull-always` to check locally if pulling from all sources fails.

[2019-02-27 19:31] mheon commented on #2469
@rhatdan It looks like this is going to break people trying to do a `FROM` with an image they tagged themselves

[2019-02-27 20:02] TomSweeneyRedHat commented on #2469
Ah, I tried setting it to true, not false.  Nice catch @mheon.

[2019-02-27 20:12] edsantiago opened #2472 "1.1: signal handling: container no longer getting (or handling) SIGTERM"
In window 1:
[code]
In another window:
[code]
Expected: "got SIGTERM", a 10-second pause, then the container dies with SIGKILL and the `podman stop` command returns.

Actual: with podman-1.1.0-1.git006206a.fc29, the `stop` command succeeds immediately, the container is killed immediately (exit code 137, expected) and there is no "got SIGTERM".

[2019-02-27 20:26] TomSweeneyRedHat commented on #2469
FWIW, I can confirm that this:

[code]
works, so I think we need to make it work again without the pull-always.

[2019-02-27 20:28] mheon commented on #2472
Wild guess, but I think --timeout is being defaulted to 0, forcing us to immediately SIGKILL.

[2019-02-27 20:29] mheon commented on #2472
[code]

Yep.

[2019-02-27 20:31] mheon commented on #2472
Further problems: `--time` and `--timeout` are not mutually exclusive

[2019-02-27 20:31] edsantiago commented on #2472
Oh, how fascinating! Are `--time` and `--timeout` handled differently? Because I tried `podman stop --time=5 foo` and got the same behavior.

[2019-02-27 20:31] edsantiago commented on #2472
Oops, comment collision. Yeah, thanks for finding that.

[2019-02-27 20:34] mheon commented on #2472
Alright, very confusing things are happening here.

For one, I managed to get it to actually use the default timeout of 10 by stopping and restarting a container, which is sort of confusing.

For another, it's not printing the debug logging messages that indicate it actually hit the stop code when I use both `--time` and `--timeout`

[2019-02-27 20:38] edsantiago opened #2473 "1.1: podman run with -m <8M: failed to write 10485760 to memory.memsw.limit_in_bytes: [...] device or resource busy"
This used to work:
[code]
Weirdly, changing 5M to 7M results in an even stranger error:
[code]
podman-1.1.0-1.git006206a.fc29

[2019-02-27 20:45] mheon commented on #2472
`ctr.StopTimeout()` is sometimes returning 0. That's rather bizarre.

[2019-02-27 20:46] mheon commented on #2472
It's a static field from the DB. This makes no sense.

[2019-02-27 20:49] mheon commented on #2472
Container is not nil. Are we actually setting default to 0?

[2019-02-27 20:55] mheon commented on #2472
Yep, confirmed - we're somehow defaulting stop timeout to 0.

[2019-02-27 21:19] mheon commented on #2472
OK, finally worked this one out. #2476

[2019-02-27 21:48] rhatdan commented on #2467
That should not work unless you have a xfs, for the storage.

[2019-02-27 22:10] mheon commented on #2468
I think this one is fixed, but we have a rash of changes coming in to address issues we're finding from the Cobra migration.

@sysrich We'll probably cut a 1.1.1 in a few days once things have settled down and we're confident that we're not regressing - you might want to wait until that appears to release.

[2019-02-27 23:34] TomSweeneyRedHat commented on #2467
We do setup xfs in the test, any adjustments to the below needed besides the -s to --storage-driver?

[code]

[2019-02-28 01:45] q384566678 commented on #2409
Yes, After setenforce 0 can run successfully.

Thanks for your suggestion, here is the error message obtained:
[code]

[2019-02-28 02:15] baude commented on #2468
yup! i have a pr for this one

[2019-02-28 02:54] #2472 closed

[2019-02-28 09:38] sysrich commented on #2468
@mheon thanks, will do. And if there is anything I can do to help with getting 1.1.1 out the door, I'd be happy to help

[2019-02-28 11:14] giuseppe commented on #2473
this is caused by the new runc version.  The fix for the CVE has a big cost on the memory as an additional copy of the runtime is created in memory (so nothing below ~10M will work).  There is another version of the patch that won't have any impact on the memory.

[2019-02-28 11:35] giuseppe commented on #2467
these steps work if I perform them manually on Fedora 29

[2019-02-28 13:06] rhatdan commented on #2409
rpm -q container-selinux
container-selinux-2.83-1.gitec6fcad.fc29.noarch

[2019-02-28 13:27] rhatdan commented on #2409
I am building container-selinux-2.84-1.giteb60838.fc29

[2019-02-28 13:29] rhatdan commented on #2409
Could you try this on Fedora and make sure it works.

https://bodhi.fedoraproject.org/updates/FEDORA-2019-a775defd12

I have asked the packaging guys to package up a new version for RHEL7.

[2019-02-28 13:45] rhatdan commented on #2468
@sysrich Please do not Release 1.1.  It needs a lot of work.  Testing it out is probably the best you can do for us now.
Main issues we are having is around converting to new CLI, missing options, and misnamed commands.

[2019-02-28 14:40] mheon commented on #2469
I think we need to refile this against Buildah and get a fix landed there and vendored here

[2019-02-28 14:42] rhatdan commented on #2466
FIxed in master.

[2019-02-28 14:42] #2466 closed

[2019-02-28 14:53] mheon commented on #2473
That second error is pretty awful, though - it seems like runc died in such a manner that conmon never got to making an attach socket?

[2019-02-28 15:10] giuseppe commented on #2473
it can die at any point, the kernel kills it

[2019-02-28 15:21] rhatdan commented on #2467
Tom the error above says you ran your storage on a tmpfs.
Error: error creating libpod runtime: Storage option overlay.size only supported for backingFS XFS. Found tmpfs
This option in podman looks like it is putting root on to a tmpfs mounted on /tmp?
 --root /tmp/podman_test/crio

[2019-02-28 17:38] rhatdan commented on #2469
My understanding is we wanted to turn on --pull not --pull-always.

[2019-02-28 17:40] mheon commented on #2469
@rhatdan We enabled --pull-always by default, so if that was a mistake, we need to fix it.

The reason was that we weren't pulling the latest version of the tag if it was present on disk, so we need to verify that `--pull` does that.

[2019-02-28 18:36] praveenkumar opened #2488 "non-root podman not able to ping external services (limited net capability)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Non-root podman not able to ping external services (limited net capability).

**Steps to reproduce the issue:**

[code]

**Output of `podman version`:**

[code]

[2019-02-28 19:38] TomSweeneyRedHat commented on #2467
@giuseppe they're working for me too if I cut/paste them onto my VM, but not from the script?  OK that's weird, need to go dig.

[2019-02-28 19:42] TomSweeneyRedHat commented on #2467
I'm going to close this one.  It's working for me both inside and outside of the script.  The only thing I can think of is something went whacky with the cleanup?

Thanks for the looksees all.

[2019-02-28 20:01] #2467 closed

[2019-02-28 20:02] edsantiago opened #2489 "podman container list: broken flag processing"
#2480 does not include any of the `ps` flags:
[code]
Cause: not running `cmd/podman/ps.go:init()`

Even more fun side effect:
[code]
(because of the `c.Bool("trace")` in line 197, added by #1692).

master @ 4a109a71996e99c9a95b639bbbee1c5e30450c97

[2019-02-28 20:02] edsantiago commented on #2489
@baude PTAL

[2019-02-28 20:04] mheon commented on #2488
Can you enable `--log-level=debug` for the rootless call and pastebin results? F29 should have slirp4netns installed, but it's possible it doesn't.

@giuseppe Slirp supports arbitrary traffic, right, not just TCP/UDP?

[2019-02-28 20:08] giuseppe commented on #2488
this is a known problem that we have documented here: https://github.com/containers/libpod/blob/master/troubleshooting.md#5-rootless-containers-cannot-ping-hosts

[2019-02-28 20:09] giuseppe commented on #2488
ping for an unprivileged user works because it is a file caps binary, but we don't have that in the container.  We need root to enable access to ICMP for unprivileged users

[2019-02-28 20:38] rhatdan commented on #2488
Can we turn on the icmp boolean then it would work.

If you enable this sysctl does it work?
net.ipv4.ping_group_range = 0   2147483647

[2019-02-28 20:38] rhatdan commented on #2488
If yes, then we should document this.

[2019-02-28 20:40] giuseppe commented on #2488
@rhatdan, we already have that in the troubleshooting.md file.  Do you think we should add something more?

[2019-02-28 20:45] rhatdan commented on #2488
Should be in the man page for podman run, I would guess.

[2019-02-28 20:55] mheon commented on #2488
@rhatdan Should we start a podman-rootless manpage for rootless-specific things like this, the newuidmap errors, etc?

[2019-02-28 21:14] rhatdan commented on #2488
Well you would have to reference it from the other man pages.  But I am fine with that.  Just realize that the average user executing podman commands does not know that we call this rootless. So they would not know where to find the man page.

[2019-02-28 21:25] TomSweeneyRedHat commented on #2469
I'll take a look at this.

[2019-03-01 04:45] tobwen opened #2494 "language: tag is not well-formed"
/kind bug

**Description**
Warning about a not-wellformed tag when parsing language.

**Steps to reproduce the issue:**
`podman --log-level debug run -it --rm --read-only busybox sh`

**Describe the results you received:**
`WARN[0000] failed to parse language "en_US.UTF-8": language: tag is not well-formed`

**Describe the results you expected:**
No warning :)

**Additional information you deem im

[2019-03-01 04:49] tobwen commented on #1552
Sorry, appears again on `podman version 1.2.0-dev` when running rootless ```podman --log-level debug run -it --rm --read-only busybox sh```

[code]

**Output of `podman info --debug`:**

[code]

[2019-03-01 08:21] giuseppe commented on #1552
it is only a warning, and I think it is fine to keep it.  With cgroup v2 we will be able to delegate subtrees to unprivileged users, so having a way to distinguish if we were able or not to join the cgroup will be helpful.

[2019-03-01 09:09] q384566678 commented on #2409
After updating to version 2.84, this problem has been solved. Thank you!

I still have a question I would like to ask. After I updated selinux, I use podman to start a non-privileged container , and then I can use buildah to run the container directly in the container.
[code]
So is this the correct phenomenon? I remember that I need to add `CAP_SYS_ADMIN` capability when testing on other systems(J

[2019-03-01 10:48] rhatdan commented on #2494
@mtrmac Any idea what would cause this?

grep -r "tag is not well-formed" .
./vendor/golang.org/x/text/internal/language/parse.go:var ErrSyntax = errors.New("language: tag is not well-formed")

[2019-03-01 11:00] rhatdan commented on #2409
Right the whole goal of this is to get to the point that we can run buildah inside of a container without SYS_ADMIN privs.

@giuseppe PTAL

[2019-03-01 11:02] rhatdan commented on #2409
@q384566678 @giuseppe was trying to do this also and actually found another SELinux issue, which is fixed in container-selinux-2.85.
But @giuseppe found that he had to disable seccomp filtering.  I think the unshare syscall was blocked.

[2019-03-01 11:41] giuseppe commented on #2409
it seems that seccomp is disabling `pivot_root` and `mount` that we use.  If I create a custom file with these two syscalls enabled then it works fine

[2019-03-01 11:51] rhatdan commented on #2409
I thought we left mount enabled.  mount syscall is valid for some non SYS_ADMIN privs and should be allowed.  Docker never understood this.  Not sure pivot_root is a huge risk either.

[2019-03-01 11:54] rhatdan commented on #2409
I see mount in seccomp.json?
 grep mount /usr/share/containers/seccomp.json
				"mount",
				"umount2",
				"mount",
				"umount",
				"umount2",

[2019-03-01 12:22] giuseppe commented on #2409
pivot_root should not be a big risk, it is valid only for the namespace it is running within

[2019-03-01 12:28] rhatdan commented on #2409
Do you have a seccomp.json file with it added?  I an beginning to work on a new skopeo release, that we could add it to.

[2019-03-01 12:54] giuseppe commented on #2409
sorry, there is no need to modify anything, I've just verified on a fresh install, the default seccomp profile and the updated SELinux policy are enough.

[2019-03-01 13:27] #2469 closed

[2019-03-01 14:12] mheon commented on #2494
I think I know this one - it's trying to look up the system language so we
can determine what alphabetical sorting scheme to use for certain things
(hooks for one). This failure is basically harmless as such (we tried to
look up the system language and failed, so we'll just default to English).
I might be forgetting some details here, but I'm confident this isn't a bug.

If you really want it fixe

[2019-03-01 14:14] rhatdan commented on #2494
I think it is better to ignore, since it breaks nothing.

[2019-03-01 23:17] tobwen opened #2500 "logging shows timestamp on each (control) character"
/kind bug

**Description**
Warning about a not-wellformed tag when parsing language.

**Steps to reproduce the issue:**
1st window: `podman --log-level debug run -it --rm --read-only busybox sh` (returns af49b446cf34...)
2nd window: `podman logs -ft af49b446cf34`

**Describe the results you received:**
`019-03-01T04:53:12.517290493Z / # 2019-03-01T04:53:33.565339544Z 2019-03-01T04:53:33.626659047Z

[2019-03-01 23:18] mheon commented on #2500
I think this may be related to our handling of control characters with logs, but not certain yet.

[2019-03-02 05:11] mtrmac commented on #2494
It’s hooks only, AFAICS, introduced in https://github.com/containers/libpod/pull/686 .

Why does it make sense for hook ordering to be locale-specific? When the default paths to hooks are system-wide like `/usr/share/containers/oci/hooks.d` and `/etc/containers/oci/hooks.d`, why is it at all desirable for different users on the same system using different locales to potentially process the same ho

[2019-03-02 05:47] mtrmac commented on #2494
Sadly, the current implementation is case-insensitive and explicitly documents such behavior even for ASCII, so at least `strings.ToLower` (which relies on an Unicode database) will continue to be necessary: see https://github.com/containers/libpod/pull/2501 .

[2019-03-02 06:16] q384566678 commented on #2409
Here is the test I did under the centos7 system:
I upgraded container-selinux to the latest version (currently the latest version of the centos system I can find is 2.84-2.el7.noarch).
[code]
I tested it in the same way and found that the previous problem still occurred. It should be the latest version of the container-selinux under the centos system has not been released.
[code]
Here is SELinux e

[2019-03-02 22:13] muayyad-alsadi commented on #1670
sorry to bump this up,
nothing provides this binary in fedora

[code]

on the other hand with docker it just work because `/usr/libexec/docker/docker-init-current` is shipped as part of docker package

[code]

shouldn't we ship `catatonit` and make it a dependency or at least a soft dependency?

[2019-03-02 22:24] mheon commented on #1670
@lsm5 ^^

[2019-03-02 22:24] mheon commented on #1670
I know we talked about packaging this up, but I'm not sure what happened with that.

[2019-03-03 07:13] Lagrang commented on #2489
Also flags processing broken for container command parameters.
For instance, following command `podman create $IMAGE_NAME -DsomeParam=value`
fails with error `Error: unknown shorthand flag: 'D' in -DsomeParam=value`

[2019-03-03 12:57] muayyad-alsadi opened #2502 "podman shorthand flag for labels does not work"
I'm using `podman` 1.1.0

[code]

but the documentation says

[code]

[2019-03-03 13:27] muayyad-alsadi opened #2503 "podman: adding dynamic port binding using `slirp4netns` API socket"
I'm using `podman` version 1.1.0, and I'm writing a python script to run `docker-compose.yml` by creating a pod and launching containers inside it and connect them via `--add-host`

the following did not work

[code]

on the other hand the following works fine

[code]

I found the following workaround

[code]

[2019-03-03 14:21] muayyad-alsadi opened #2504 "podman: --add-host does not work when specifying --pod"
/kind bug

**Description**

when we specify`--pod=mypod`

[code]

but normally it would work like this

[code]

[2019-03-03 15:32] tobwen opened #2505 "podman: optimization of wording in help & comments"
/kind feature
**Description**
In help for command-line parameters and the commets in default config file, a description like `Path to the container-init binary` is used. This might be misleading, since _catatonit_ (or another init), _conmon_ and _runc_ need to be referenced on the binary, not on its path (you don't give a path to search here).

Maybe just something like `point to the binary includ

[2019-03-03 15:35] tobwen opened #2506 "podman: point to slirp4netns"
/kind feature

**Description**
It should be possible to point to the binary of _slirp4netns_ in commandline parameter and in config.

Right now, it seems to look in $PATH only: https://github.com/containers/libpod/issues/1234

[2019-03-03 15:38] tobwen opened #2507 "podman: use overlayfs for temporary files if rootless"
/kind feature
**Description**
When being rootless, all the PID and other stuff gets stored in `/tmp/` (EDIT, removed: and is readable from any user on the system). Wouldn't it be possible to use fuse-overlayfs to write it on the current user's space only where available? Since tmpfs is used, it might be compatible?

[2019-03-03 15:42] tobwen commented on #2505
Oops, I just got told: **path** includes dirname and filename (basename). I think, we can close this then?

[2019-03-03 15:57] tobwen opened #2508 "podman: config file uses root defaults on rootless"
/kind bug

**Description**
When using a config file to point to the needed binaries in rootless mode, podman seems to load defaults, which are intended for root mode.

**Steps to reproduce the issue:**

1.
[code]
2.
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Same behavior as when using command-line parameters (this works):
[code]

**Output of `pod

[2019-03-03 20:11] afbjorklund opened #2509 "podman cp extracts tarballs, unlike docker cp command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The new `cp` command has some kind of auto-extract feature ?

**Steps to reproduce the issue:**

1. sudo podman cp tinycore-tar-exporter:/tmp/rootfs64.tar.gz ./

**Describe the results you received:**

The results of the tarball was extracted.

**Describe the results you expected:**

The file

[2019-03-03 20:38] tobwen commented on #2503
Sorry, I can't help you on this, but could you share your Python script? This might be interesting to a huge amount of users. I didn't find it in your repository :(

[2019-03-03 20:45] tobwen opened #2510 "podman: tries to create directories in /var while being rootless"
/kind bug

**Description**
When trying to run _podman_ rootless with `--log-level=debug` this message occures.

[code]

**Expected**
_podman_ shouldn't try to write to `/var/lib/containers/cache` when it's in rootless mode.

Might be connected with https://github.com/containers/libpod/issues/2508

[2019-03-03 21:36] mheon commented on #2510
It seems like some paths might be set incorrectly - we should be using paths exclusively under `/home` with the default configuration.

[2019-03-03 21:38] mheon commented on #2510
Possibly related to #2508 - both of them seem to be failing to detect that we're rootless and adjust paths to appropriate defaults

[2019-03-03 21:40] mheon commented on #2508
There is definitely code that adjust the default `tmp_dir` path on detecting that we are running without root, but it doesn't seem to have adjusted the default here

[2019-03-03 21:43] mheon commented on #2503
I don't know if we want to do this dynamically (it might work for rootless, but wouldn't work when running as root, and I'd prefer not to let the two diverge too much), so I would prefer to make this require a pod restart (to pick up requested port mappings from other containers in the pod) - would that be unacceptable?

[2019-03-03 21:44] mheon commented on #2508
(Also, to be clear, this isn't the fault of the config file - the path in question is specified by `tmp_dir` which is commented out in your provided config. Set that to something in `/tmp` or `/run/user` and it ought to work fine)

[2019-03-03 22:19] tobwen commented on #2508
Sure, but normally, when you comment out a line in a config, the defaults should be used. But here, the "root defaults" and not the "rootless defaults" are used.

[2019-03-03 22:48] mheon commented on #2508
@TomSweeneyRedHat question about your baseline tests: Do you run them on a fresh VM, with no config files, or with just on your laptop?

I'm starting to think that we need to get some sort of testing on a VM simulating a fresh install going, with none of the current E2E test defaults (custom config file, non-standard storage driver, etc) - something to make sure the default install doesn't regress

[2019-03-04 00:01] mheon commented on #2504
@baude had some talk of doing this in an automated fashion (run a little DNS server, and automatically add hostnames to it as containers/pods are created).

That said, no reason we can't do `--add-host` when sharing the network namespace.

@rhatdan I don't think we coded containers in a netns to share `/etc/hosts` like we did for `resolv.conf` - does it make sense to do that at the same time as th

[2019-03-04 01:27] rhatdan commented on #2409
Fixes are in upstream.

If you checkout the https://github.com/containers/container-selinux repo.
You need to get the RHEL7.5 branch

git clone https://github.com/containers/container-selinux
git pull --all
git checkout RHEL7.5
make
sudo semodule -i container.pp

Now see if it works?

[2019-03-04 01:33] rhatdan commented on #2489
@Lagrang Options must come before $IMAGE_NAME

[2019-03-04 01:35] mheon commented on #2489
@rhatdan I think he's trying to pass the flag into the container
@Lagrang If so, 1.1.1 has a fix included

[2019-03-04 01:44] rhatdan commented on #2509
@QiWang19 Very the behaviour versus Docker, and make sure we match.

[2019-03-04 01:46] rhatdan commented on #2507
The pid and other stuff should be written to /run not to /tmp.

[2019-03-04 01:47] #2505 closed

[2019-03-04 01:48] rhatdan commented on #2504
Yes.  Containers in a pod should share the same /etc/hosts and /etc/resolv.conf.

[2019-03-04 01:49] mheon commented on #2507
@rhatdan I think we fall back to `/tmp` if `/run/user` doesn't exist, then further to making a dir in the user's home directory if we can't used `/tmp`

[2019-03-04 01:51] #2489 closed

[2019-03-04 01:52] rhatdan commented on #2507
Well the directory we create in /tmp should have permissions 0700

[2019-03-04 01:56] mheon commented on #2508
Alright, clearly `rootless.IsRootless()` works (hence the `INFO[0000] running as rootless` at the beginning of the debug trace). However, we're still using a `/var/run` temporary dir, which should only be used if `rootless.IsRootless()` returns false. Not sure what's going on here.

[2019-03-04 02:03] mheon commented on #2500
Not control characters.

We seem to print each character as it comes in, with full timestamp, when timestamps are requested.

Probably an artifact of how we read from conmon?

It doesn't help that there are seemingly no newlines being printed, either.

[2019-03-04 02:12] edsantiago commented on #2489
Yep, looks fixed in master; thanks.

[2019-03-04 02:17] q384566678 commented on #2409
No, the same error will still occur:

[code]

[2019-03-04 02:21] mheon commented on #2500
Partial fix in #2513 - will greatly improve readability by ensuring that each timestamp is on a separate line. Does not deal with user input appearing one character at a time, a timestamp for each, though.

[2019-03-04 02:28] tobwen commented on #2507
@rhatdan As a normal user, you can neither write to `/run/user/` nor to `/var/run/user/`

That also confuses me when reading the man page:
[code]

Actually, that won't work.

[2019-03-04 02:31] tobwen commented on #2500
@mheon Sorry for asking this, but could you right pad with zeros?

See the hashtag

[code]

This might it even more readable, since the columns won't jump - or does this degrade performance too much?

[2019-03-04 02:33] tobwen commented on #2508
podman's man page also writes about `/var/run/[user]` only. You can't write to this as non-root on Debian.

[code]

[2019-03-04 02:35] mheon commented on #2507
@tobwen `/run/user/$UID` should be created by systemd as a per-user temporary directory on login, with the guarantee that it's destroyed on user logout, which is desirable for cleaning some of our temporary files. On systems without systemd, we can fall back to just making a directory in `/tmp`.

[2019-03-04 02:39] tobwen commented on #2507
@mheon Maybe Debian hasn't this systemd-feature enabled (like many others). My `/run/usr/$UID` is empty (Debian Stable). Let me check what happened on Ubuntu.

[2019-03-04 04:18] mheon commented on #2500
@tobwen Went ahead and fixed the actual issue (the entire line should now appear under a single timestamp), so we should be good

[2019-03-04 04:51] tobwen commented on #2500
@mheon But can you right-pad the timestamp _please_? I hate jumping columns :D

[2019-03-04 05:06] mheon commented on #2500
Alternative question: why are some timestamps missing a digit? Is it omitting zeroes, or is there something else going on here?

I'll take a look

[2019-03-04 05:59] nitkon opened #2514 "podman: Integration test fails `test/e2e/export_test.go` fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. go test -v test/e2e/libpod_suite_test.go test/e2e/common_test.go test/e2e/config.go test/e2e/config_amd64.go test/e2e/export_test.go

**Describe the results you received:**
[code]

**Describe the results you expected:**
All test cases pass

**Additional i

[2019-03-04 06:49] h-vetinari commented on #2250
Unfortunately, no. It would be nice to have install-procedures that boil down to a `.deb` or `.rpm` (as well as consistent documentation for it), hence this issue....

[2019-03-04 08:49] muayyad-alsadi commented on #2504
just give me `--add-host` on `podman pod create`

[2019-03-04 08:59] giuseppe commented on #2409
this is different than the error I was seeing.  Didn't it work for you earlier?  Is the selinux update the only difference now?

[2019-03-04 09:05] giuseppe commented on #2507
we use `/tmp` as a fallback when `/run/user/$UID` is not usable and the directory is created with mode 0700.

If the `/tmp` fallback is not usable for any reason (e.g. the directory is owned by another user), then we try with the home directory.

We prefer `/run` and `/tmp` as they are not persistent.

Are you sure that another user can really read what is stored under `/tmp`?

[2019-03-04 09:11] tobwen commented on #2507
@giuseppe I've just rechecked it, you're right. I cannot access it from another user. Sorry, maybe I had a `sudo` included in my previous tests.

So all we have to do is to update the manfile like this:
`/run/user/$UID i` > `/tmp` > `$home`

Thanks for your explanation. Shall I close this feature request?

[2019-03-04 09:17] giuseppe commented on #2507
yes let's close it :-)

Thanks for checking it out

[2019-03-04 09:17] #2507 closed

[2019-03-04 09:21] q384566678 commented on #2409
I just updated the container-selinux and then performed the same test, and the error confidence that I showed was the [same as](https://github.com/containers/libpod/issues/2409#issuecomment-468890360) I did not update before.

[2019-03-04 09:30] giuseppe commented on #2503
@mheon yes I agree.  We could probably do it for slirp4netns by contacting the socket API but I don't think it is a good idea to diverge from other kind of networks.

[2019-03-04 09:32] giuseppe commented on #2508
I think this is a duplicate of: https://github.com/containers/libpod/issues/2408

@tobwen could you try the patch from the linked issue?

[2019-03-04 09:36] giuseppe commented on #2508
I've opened a PR here: https://github.com/containers/libpod/pull/2515

[2019-03-04 09:36] giuseppe commented on #2408
I've opened a PR here: https://github.com/containers/libpod/pull/2515

[2019-03-04 09:42] muayyad-alsadi commented on #2503
sure, here it's: [muayyad-alsadi/podman-compose](https://github.com/muayyad-alsadi/podman-compose).

we can publish ports per container or per pod, I have too modes, I only need one of them to work
currently both do not work, because I can't `--add-host` per pod and I can't do `-p` per container.

[2019-03-04 11:05] vrothberg commented on #1670
It's in the pipeline but other tasks had a higher priority. In the meantime, `libpod.conf` and the CLI flags allow using another init binary as a temporary workaround.

[2019-03-04 12:20] rhatdan commented on #2514
This is working in the the CI/CD system and command seems to work locally. (Testing on Fedora 29)
Do you have the lastest from the master branch.

[2019-03-04 12:31] rhatdan commented on #2250
I am not sure why on a RHEL machine you are having a hard time getting access to podman?  It should be in your extras channel.  Which is the same location that you got docker from.  On Centos packages have been made available, but I am not sure where.  @lsm5 Where are the packages from Centos.

[2019-03-04 12:33] rhatdan commented on #2504
Yes the commands to configure each of the Namespaces should be available on the podman pod create CLI.

[2019-03-04 12:38] rhatdan commented on #2507
Excellent @giuseppe Glad to see we are secure by default.

[2019-03-04 12:40] rhatdan commented on #2507
@tobwen Where are you getting podman for Debian?  Is it available in the default installer?
Which version of podman are you getting?

[2019-03-04 12:42] rhatdan commented on #2409
@q384566678 I don;t understand the last comment.  Are you still seeing the issue or not?  What version of container-selinux have you installed?

[2019-03-04 13:09] TomSweeneyRedHat commented on #2508
@mheon when I run the baseline tests for checking a release, I spin up a fresh and shiny new VM, install Docker and the new Podman on it, then spin off the test.  I install Docker as part of the test is to make sure we can send an image from Podman into Docker and run it there.

[2019-03-04 13:09] h-vetinari commented on #2250
@rhatdan, I have podman on the RHEL machine, but not the latest version, much less master. If you want me to file bug reports against v.0.11, I can.

See OP:

Side note: the productive RHEL machine is not under my full control - particularly, I can't just download stuff. On other machines I can test (e.g. CentOS), I have more liberty.

[2019-03-04 13:35] nitkon commented on #2514
@rhatdan : Yes. I am on the latest from master branch. I am on Fedora 27.
[code]

[2019-03-04 13:56] rhatdan commented on #2250
@lsm5 Do we have a newer version of podman for RHEL7.6 yet?

[2019-03-04 14:19] #2408 closed

[2019-03-04 14:33] mheon commented on #2514
F27 could well be your problem; we abandoned testing there a long while back because dependencies were getting very outdated.

[2019-03-04 14:40] mheon commented on #2508
@TomSweeneyRedHat Alright, glad to hear that... I like knowing we're actually testing in real-world conditions

[2019-03-04 15:19] nitkon commented on #2514
@mheon : I also tried it in a container `make shell` on the host = {NAME="Red Hat Enterprise Linux" VERSION="8.0 (Ootpa)"} on ppc64le arch ....
:
[code]

[2019-03-04 15:39] #2509 closed

[2019-03-04 16:48] rhatdan commented on #2514
Can you update to  newer Version of Fedora?

[2019-03-04 17:27] tobwen commented on #2250
I have had a look at packaging _podman_ for Debian, but from my point of view, the current Ubuntu packages made it way too complicated.

Since I want to run _podman_ rootless inside the user _podman_ and don't others be abler to run it, building the whole stack is pretty straight forward. Though there are some cmd-parameters missing in _podman_, which pointto _slirp4netns_ binary for example, but

[2019-03-04 17:29] tobwen commented on #2507
@rhatdan I'm building it for myself in Debian 9 from GIT. Complete rootless process, only building and installation of fuse3 needs root (I've backported it from Debian 10 without a problem). But you don't need OverlayFS to run _podman_,

[2019-03-04 17:30] tobwen commented on #2506
Can I bump this? It's pretty important, since there's no other way than to hack with PATH variables right now :-(

[2019-03-04 17:47] nitkon commented on #2514
@rhatdan: Let me check if I have a F29 available... However parallely I am also trying to run e2e tests on ppc64le arch inside the 'make shell' container on a RHEL 8 VM. Do I need to take care of anything extra?

[2019-03-04 18:14] TomSweeneyRedHat opened #2520 "RFE Add --extract option to podman cp commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind feature

**Description**
This is a request for added functionality.  In #2517 we stopped the ability to extract a tar file during a `podman cp` command.  That's the right thing to do for a straight cp.  However I'd like to see a `podman cp --extract my.tar /mydir` option added such that if a tar file was being copi

[2019-03-04 18:14] TomSweeneyRedHat commented on #2520
@QiWang19 FYI

[2019-03-04 18:15] mheon commented on #2500
From the Go documentation: `The RFC3339Nano format removes trailing zeros from the seconds field and thus may not sort correctly once formatted.`

And that, there, explains our missing zeroes.

[2019-03-04 18:21] rhatdan commented on #2506
Open a PR to make a change.

[2019-03-04 18:24] tobwen commented on #2500
https://stackoverflow.com/questions/25637440/how-to-pad-a-number-with-zeros-when-printing

[2019-03-04 18:25] tobwen commented on #2506
@rhatdan I'd love to, but I'm not a `go` coder. Maybe I can hack it from existing code. Let me try.

[2019-03-04 18:28] rhatdan commented on #2514
No theoretically it should work fine on RHEL8.

[2019-03-04 18:31] QiWang19 commented on #2520
:ok_hand:

[2019-03-04 18:37] edsantiago opened #2521 "podman stop: timeouts broken again"
This is essentially a repeat of  #2472

pr #2364 seems to have misdone a conflict resolution; it broke #2476.

[2019-03-04 18:46] mheon commented on #2500
#2522 with the final formatting fix

[2019-03-04 18:53] tobwen commented on #2500
Thanks `@-->-->----`

[2019-03-04 18:53] #2500 closed

[2019-03-04 19:44] greg-hydrogen commented on #2150
any chance someone can look into this?

[2019-03-04 19:45] ekultails opened #2526 "podman ps --format status=stopped is invalid"
/kind bug

**Description**

These appear to be the supported libpod/podman states:
https://github.com/containers/libpod/blob/993b3a17c58826365136f49d7760f8ac88e320b2/pkg/adapter/pods_remote.go#L246-L257

However, the stopped state is marked as invalid when trying to query it. Even the manual page suggests it should be a supported option.

[code]

**Steps to reproduce the issue:**

1. `$ podman ps

[2019-03-04 19:47] ekultails commented on #2526
On a somewhat related note, querying for the `restarting` state appears to work but might be a false-positive since libpod does not fully support this state. Maybe this should be marked invalid?

[code]

[2019-03-04 20:24] #2521 closed

[2019-03-04 20:24] mheon commented on #2150
@rhatdan did the last round of ZFS fixes not resolve this?

[2019-03-04 20:47] muayyad-alsadi commented on #2504
so can I do

[code]

[2019-03-04 20:56] edsantiago opened #2530 "[bug in cobra] podman invalid-command: outputs help msg to stderr, exits 0"
[code]

Expected:
[code]
This appears to be a [known bug in cobra](https://github.com/spf13/cobra/issues/582). I cannot find a workaround, but of course there may be one I haven't thought of.

There is a [pr against cobra](https://github.com/spf13/cobra/pull/642) but it has sat idle, without comment, for a year.

[2019-03-04 20:59] haircommander commented on #2504
@muayyad-alsadi I am not opposed to that change, though I have a PR open for a fix for your original issue (doing --add-host on the run call instead of pod create). adding --add-host on pod create will require a larger change.

@mheon adding --add-host on pod create will fix the restart problem, but make the hosts in a pod immutable after creation (unless we want both changes). I'm not married eit

[2019-03-04 21:10] mheon commented on #2504
@haircommander IMO we go with both changes - `--add-host` on pods modifies the infra container's hosts file as it is created, `--add-host` on containers appends to the existing one

[2019-03-04 21:13] haircommander commented on #2504
@mheon yeah I like that too. I'll leave the first PR as is, as they're distinct use cases and it will take some wiring to get pod create to pass a create config to the infra container

[2019-03-04 22:05] rhatdan commented on #2150
Oops seem to have lost this in the noise.

As I recall the problem here is on reboot.  mounted check on zfs thinks that the container is mounted.

Here is my attemp to fix this?

BTW Is /run on your machine not on a tmpfs?

[2019-03-04 22:06] rhatdan commented on #2150
Fix?: https://github.com/containers/storage/pull/296

[2019-03-04 23:01] muayyad-alsadi commented on #2504
my objective is to get at least one good way to make my [podman-compose](https://github.com/muayyad-alsadi/podman-compose) work, I've pushed 6 ways and none of them currently work.

you can test it with (and different way transform)

[code]

cntnet does something like

[code]

I got the following

[code]

[2019-03-05 05:54] ikke-t commented on #2445
@baude fixed this by changing the name of pod during play if there is name collission. Pod becomes named "-pod" at the end of name to make names different. I tested this and it works for me. Thanks

[2019-03-05 05:54] #2445 closed

[2019-03-05 06:21] ikke-t opened #2536 "make 'podman play kube' set local volume mounts"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, podman play kube fails to create any kind of persistent pods. Which in case of e.g. database is important. Please add handling for hostPath type of volumes, e.g:

[code]

Podman should
1. recognize there is volumeMounts and hostPath sections
2. create the requested directory if

[2019-03-05 07:18] q384566678 commented on #2409
Ok, maybe my description is not clear.
First of all, I installed the latest container-selinux under the centos system.
[code]
Then I manually updated the container-selinux according to this [method](https://github.com/containers/libpod/issues/2409#issuecomment-469088747).
[code]
After the SElinux was set to enforcing, the following tests were performed:
[code]
From the above test, it can be seen t

[2019-03-05 10:18] giuseppe commented on #2510
PR here: https://github.com/containers/libpod/pull/2537

[2019-03-05 10:25] giuseppe commented on #2503
what I did as rootless is:

[code]

and it works, I could connect to the port assigned to the pod.

Doesn't that work for you?

[2019-03-05 10:28] muayyad-alsadi commented on #2502
I've tested the latest commit `4b80517b6a638ff06f8ad432f0f0f5839283d058`
and it works fine

[2019-03-05 10:28] #2502 closed

[2019-03-05 10:34] muayyad-alsadi commented on #2503
@giuseppe  we need to run multiple containers on same pod, let's say two containers one is busybox
's "httpd -f -p 8080" and the other one is `redis:alpine`

what I want is to be able to call redis from inside busybox and busybox from redis (inter-container communication), and I need aliases in /etc/hosts for them
for example inside the busybox

[code]

and from inside redis, let's call busybox

[

[2019-03-05 10:36] muayyad-alsadi commented on #2503
@giuseppe please note it seems that the default in `podman pod create` is to share network with host

[code]

[2019-03-05 10:48] giuseppe commented on #2506
PR here: https://github.com/containers/libpod/pull/2538

[2019-03-05 10:51] giuseppe commented on #2285
@filbranden is the current fix in conmon good for you?  Can we close this issue? :-)

[2019-03-05 12:14] debarshiray opened #2539 "Inconsistent exit code for 'podman rm' failures"
/kind bug

**Description**

When 'podman rm' is passed multiple containers and it's unable to remove one of them due to some reason, the exit code seems inconsistent across:
- mentioning the containers individually on the command line, and
- using `--all`

**Describe the results you received:**

Containers mentioned individually, and one of them doesn't exist:
[code]

Using `--all`, and one of the

[2019-03-05 12:31] debarshiray commented on #2539
Actually, `podman-rm(1)` says that 0 should only be returned if all the specified containers were removed.

[2019-03-05 12:41] giuseppe commented on #2539
@debarshiray: could you check if https://github.com/containers/libpod/pull/2540 works for you?

[2019-03-05 12:44] rhatdan commented on #2536
@haircommander Could you look into this.

[2019-03-05 12:58] rhatdan commented on #2409
Please attach the latest avc's

[2019-03-05 13:56] #2372 closed

[2019-03-05 14:10] mheon commented on #2503
That's indicating containers in the pod will share a network namespace with
each other, not with the host.

On Tue, Mar 5, 2019, 05:36 Muayyad Alsadi <notifications@github.com> wrote:

[2019-03-05 14:21] #2539 closed

[2019-03-05 15:12] giuseppe commented on #2503
they share the same network namespace, doesn't `127.0.0.1:8080` work?

[2019-03-05 15:16] mheon commented on #2503
More than that - they're sharing a network namespace, so they all share a single IP. There's no need for hosts entries?

[2019-03-05 15:19] #2510 closed

[2019-03-05 15:36] KamiQuasi opened #2542 "lchown error on podman pull"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After logging in to our locally hosted repository and attempting to `podman pull` our latest image I received a couple of errors (one related to transport that was fixed by adding the `docker://` to the call) the error below is still present (contact me for URL to image):

[code]

**Steps to r

[2019-03-05 15:41] mheon commented on #2542
@giuseppe PTAL

[2019-03-05 15:46] giuseppe commented on #2542
yes, probably not enough IDs mapped into the namespace (we require 65k) and the image is using some higher ID.  What is `{IMAGE REPO}`?

[2019-03-05 16:03] giuseppe commented on #2542
if you cannot share the image, can you please create a container as root user using that image and run this command:

`find / -xdev -printf "%U:%G\n" | sort | uniq`

What is the output?

[2019-03-05 16:26] muayyad-alsadi commented on #2504
I'm using latest podman commit  `4b80517`

it seems that it did not work yet, I've used add host on c1

[code]

this is not correct behaviour, here is the correct behaviour (same podman version)

[code]

[2019-03-05 16:28] muayyad-alsadi commented on #2503
yes, but I want to run `docker-compose.yml` unmodified and containers expect to talk via service alias, I added an alias for service that points to 127.0.0.1 please see my other ticket #2504  for details.

[2019-03-05 16:44] muayyad-alsadi commented on #2504
I was trying to guess what to pass to `--share`

[code]

this half-worked

[code]

[2019-03-05 16:46] miabbott opened #2544 "`podman build` appears to incorrectly reuse layers"
/kind bug

We have a tests for Red Hat Enterprise Linux CoreOS (RHCOS), where we create small container images on the fly in order to test certain pieces of functionality.  We essentially use a simple shell script that looks like this:

[code]

When we run it in succession, the second container image that is created appears to reuse the layer from the first container image that corresponds to the

[2019-03-05 16:47] KamiQuasi commented on #2542
@giuseppe I wasn't able to create it with root either. I'll email you the internal image repo details.

[2019-03-05 16:47] muayyad-alsadi commented on #2503
I tried both the defaults and many combinations and nothing worked.

[2019-03-05 16:53] haircommander commented on #2504
@muayyad-alsadi the referenced fix isn't upstream yet, you can checkout my branch if you want to try it out, though it may change before it makes it upstream.

You can avoid the pod and do this until that fix goes upstream, however:
podman run -d --add-host redis:127.0.0.1 --name c1 busybox httpd -f -p 80
podman run --net container:c1 busybox ping -c 5 redis

Though I don't think this will work fo

[2019-03-05 16:56] KamiQuasi commented on #2542
@giuseppe here is the content of the Dockerfile for the image:
[code]

[2019-03-05 17:01] giuseppe commented on #2542
What file from the host is copied to '/var/www/drupal/web/config/active'?  Can you stat it?

[2019-03-05 17:02] muayyad-alsadi commented on #2504
@haircommander  I've implemented this and it did not work see my [`cntnet` comment above](https://github.com/containers/libpod/issues/2504#issuecomment-469457156)

I got failed to mount shm tmpfs

[2019-03-05 17:04] muayyad-alsadi commented on #2504
[code]

[2019-03-05 17:05] haircommander commented on #2504
@muayyad-alsadi whoops was running in root and didn't have that problem. Let me investigate

[2019-03-05 17:12] haircommander commented on #2504
@mheon @giuseppe seems like a mountSHM call is failing when we share a netNS with another container in rootless. That doesn't make sense, right?

[2019-03-05 17:24] mheon commented on #2504
I think that's worth a separate issue. Wonder how we never ran into it before, to be honest.

[2019-03-05 18:36] mheon commented on #2526
Going to try and take a look at this today, time permitting

[2019-03-05 20:10] rhatdan commented on #2544
@umohnani8 @TomSweeneyRedHat Any ideas?

[2019-03-05 20:45] muayyad-alsadi commented on #2504
should I create one? or #2545 is enough?

my script [podman-compose.py](https://github.com/muayyad-alsadi/podman-compose/blob/master/podman-compose.py) has 6 modes (via `-t`) to run unmodified docker-compose files and I shipped two example `yml` files one of them is [ansible awx](https://github.com/muayyad-alsadi/podman-compose/blob/master/examples/awx/docker-compose.yml). none of the 6 modes curr

[2019-03-05 21:14] giuseppe commented on #2542
do you get exactly the same error when running as root?

[2019-03-05 21:15] KamiQuasi commented on #2542
@giuseppe same error when running as root, correct

[2019-03-05 21:26] giuseppe commented on #2542
@KamiQuasi can I get access to the image?

[2019-03-05 21:27] KamiQuasi commented on #2542
@giuseppe let me see if I can find out who has that permission shouldn't be a problem though.

[2019-03-05 22:04] cevich opened #2548 "podman pod top on pod test on Ubuntu"
/kind bug

**Description**

Since about Feb. 25th this test has been failing on occasion, but only on Ubuntu

**Steps to reproduce the issue:**

1. Execute Cirrus-CI tests on ubuntu

**Describe the results you received:**

Sometimes it fails.

**Describe the results you expected:**

It should always pass

**Additional information you deem important (e.g. issue happens only occasionally):**

Severa

[2019-03-05 22:06] cevich commented on #2548
@baude @mheon @rhatdan All ideas are welcome.  Seems more likely to be a test-bug than a podman bug, but I don't think we have enough data to say.  Has anyone been able to reproduce this outside of CI?

[2019-03-05 22:07] rhatdan commented on #2548
Is it always the same line?

[2019-03-05 22:21] cevich commented on #2548
Good thought, I think so, but it's worth checking.  All/Most of the red graph lines here are the Ubuntu problem: https://cirrus-ci.com/github/containers/libpod/master

(I'm checking to see if  the output is the same)

[2019-03-05 22:28] #2504 closed

[2019-03-05 22:29] cevich commented on #2548
Interesting...this is ***NOT*** only Ubuntu failing.  Here are the handful of post-merge tests I pseudo randomly clicked on to look at:

* https://cirrus-ci.com/task/6565773473480704
* https://cirrus-ci.com/task/5431353895026688
* https://cirrus-ci.com/task/5470504010907648
* https://cirrus-ci.com/task/4686723012362240
* https://cirrus-ci.com/task/5974720085229568
* https://cirrus-ci.com/task/6288

[2019-03-05 22:34] cevich commented on #2548
Editing and adding notes above as I look through logs.

[2019-03-05 22:43] cevich commented on #2548
@rhatdan I would conclude yes, same line, fails on F28, F29 but more likely Ubuntu.  It's always one test on ubuntu, but three on Fedora (maybe insignificant fact).  These seem to be the best examles:

* https://cirrus-ci.com/task/5431353895026688  (ubuntu `test/e2e/pod_top_test.go:133`)
* https://cirrus-ci.com/task/5470504010907648  (F28 `test/e2e/pod_top_test.go:133`)
* https://cirrus-ci.com/tas

[2019-03-05 22:44] cevich commented on #2548
(Note, "examles" are simply a more superior version of examples)

[2019-03-05 22:54] cevich commented on #2548
Hypothesis: We only see this in CI, never in the "wild"

Theory: Could this be a devel-vs-ci "gap" issue - where we build podman dependencies from source that are out-of-sync with actual, real-world packaged dependencies that developers and users use.

Ideas of things to check:

1. Is this is reproducible manually, using a VM image from CI.
2. Is this reproducible manually, on a development workst

[2019-03-05 23:18] KamiQuasi commented on #2542
@giuseppe I believe you should have access to the image now at the URL I sent in email

[2019-03-06 00:53] filbranden commented on #2285
Sorry I haven't had time to look into it (and next few days look very busy.)

Let's do this: I'll close this Issue now and if this comes up again in the future I'll reopen (or send a PR.) Sounds right?

Cheers!
Filipe

[2019-03-06 00:53] #2285 closed

[2019-03-06 02:27] q384566678 commented on #2409
[code]

[2019-03-06 06:30] seanmcneil3 commented on #2210
It would appear it is not related to podman command as it is fixed without that package changing. runc, however, has been updated:

from

  OCIRuntime:
    package: runc-1.0.0-66.dev.gitbbb17ef.fc29.x86_64
    path: /usr/bin/runc
    version: |-
      runc version 1.0.0-rc6+dev
      commit: ead425507b6ba28278ef71ad06582df97f2d5b5f

to

 OCIRuntime:
    package: runc-1.0.0-68.dev.git6635b4f.fc29.x

[2019-03-06 06:40] #2210 closed

[2019-03-06 06:58] muayyad-alsadi opened #2551 "podman: single pull for parallel run"
/kind feature

when doing `podman run` in parallel, it would trigger multiple pulls and download the same image multiple times

[code]

![screenshot from 2019-03-06 08-52-03](https://user-images.githubusercontent.com/1312683/53861611-50fbf780-3fed-11e9-8091-f9f0c0e286c3.png)

[2019-03-06 08:55] giuseppe commented on #2542
I've not received any email.  Did you send to gscrivan@redhat.com?

[2019-03-06 10:20] vrothberg commented on #2551
Thanks for opening the issue, @muayyad-alsadi.

As soon as any of the blobs or the config is in the local storage, Podman will not attempt to download it but reuse the existing data. This means that a given layer/config will only be downloaded in parallel if it's not yet in the storage.

Due to Podman's daemon-less architecture, I don't think we can avoid this "race" but we can try adding the "alr

[2019-03-06 10:39] Zokormazo opened #2553 "podman run says the container name is already in use but podman ps --all does not show any container with that name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have this bug after a power outage.

[code]

`podman ps --all | grep nextcloud` has not output

**Steps to reproduce the issue:**

Dunno how to reproduce it, it appeared after a power outage and it's abrupt shutdown

**Output of `podman version`:**

[code]

**Output of `podman info --debug`

[2019-03-06 10:48] Zokormazo commented on #2553
Some more info:

My containers.json on /var/lib/containers/storage/overlay-containers has a reference to this container:

[code]
But podman doesn't know about it. podman prune doesn not help neither

[2019-03-06 10:55] muayyad-alsadi commented on #2551
we can use a lock file, I've done that even in my shell scripts.

[code]

a good enough lock per image can be done on any file for that specific name or image id like the manifest or pull.lock inside that directory

[code]

beside lock by id, a lock per name is a good idea to make sure lock is done before pulling meta data and resolving name to id (busybox:latest from which registery and which ver

[2019-03-06 11:28] jitka opened #2554 "podman build image vs container"
/kind bug

**Description**

**Steps to reproduce the issue:**

Fedora 28, podman 1.0.0, buildah not installed

1. `man podman`
[code]
2. `man podmain-build`
[code]

**Describe the results you received:**
 When I run `podman build ..` then `podman container ls` do not show this container only `podman images` show it.

**Describe the results you expected:**
When I run `docker build ...` and `docker

[2019-03-06 11:51] vrothberg commented on #2551
Let me rephrase: I don't think we can avoid this race without major rewrites of the code and we have to consider the costs of locks. The devil lies in the details.

A big lock as shown in the bashscript is certainly a performance killer, so we had to make it more specific. If we made it specific to the image/ID, we would miss that two images can share the same base image(s). Creating locks on the

[2019-03-06 12:20] jitka commented on #2554
I found that `podman container ls -a` work just like `docker container ls`. So this is primary documentation issue.

[2019-03-06 12:30] muayyad-alsadi commented on #2551
no matter how many nano seconds the lock cost, it's not as big as downloading openjdk image twice then discard it because it's already downloaded.

course-grained locks vs. fine-grained locks  vs. no locks and do it again!

I had a similar situation in OpenSooq.com. if I had time I'll describe it in a blog post.
in short, we process millions of new photos every day, and generate millions of their

[2019-03-06 12:47] #2266 closed

[2019-03-06 13:03] vrothberg commented on #2551
The cost of file locks are microseconds (i.e., an oder of magnitude more expensive) with recent CPUs and decent SSDs.

I don't think that the costs of file locks can be compared to the ones of two processes downloading the same data:
- Having such locking will unconditionally slow down *all* copy operations.
- If process A is pulling and B is blocked by a lock, process B does not progress in any c

[2019-03-06 14:09] haircommander opened #2556 "podman: rootless net dependency fails to mount SHM"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running in rootless, adding a net dependency somehow messes with the ipc namespace. Somehow, a container fails to mount SHM.

**Steps to reproduce the issue:**

1.```podman run -d --add-host redis:127.0.0.1 --name c1 busybox httpd -f -p 80```
2.```podman run --net container:c1 busybox pi

[2019-03-06 14:11] haircommander commented on #2504
@muayyad-alsadi #2545 addresses the weird output you got when trying to do --share "" in a pod (it should have worked, and the documentation wasn't clear on why it didn't). I opened a new issue #2556 to address the odd error "failed to mount tmpfs"

[2019-03-06 14:12] haircommander commented on #2556
@giuseppe @mheon PTAL, I tried finding it but I couldn't get anywhere, I can't find any namespace interaction that indicates this should happen.

[2019-03-06 14:12] denisbrodbeck commented on #2553
@Zokormazo I'm no podman dev, but maybe try adding `sudo` to your command: `sudo podman ps --all`

[2019-03-06 14:34] KamiQuasi commented on #2542
@giuseppe Subject is "Github Issue 2542" re-sent it again to make sure.

[2019-03-06 14:34] mheon commented on #2553
That container is probably a relic from a partially failed container
delete, or was made by Buildah or CRI-O. You should be able to force it's
removal, even if we don't see it, with Podman rm -f

On Wed, Mar 6, 2019, 05:48 Julen Landa Alustiza <notifications@github.com>
wrote:

[2019-03-06 14:55] muayyad-alsadi commented on #2551
still better than downloading openjdk image twice which takes minutes :-)

course-grained in our case is to block as long as other podman process is running (or is running for this image id), one global lock, or one lock per image id.

fine-grained means one lock per layer

no locks and do it again is the current approach seen in the screenshot

I'm fine with lock fine-grained lock (per layer) dow

[2019-03-06 15:00] rhatdan commented on #2409
Could you enable the cgroup boolean

setsebool -P container_manage_cgroup 1

Then see that fixes the issue.

[2019-03-06 15:03] mheon commented on #2551
@vrothberg We have a BoltDB cache in c/image now - could we put a pointer in there that a layer is being downloaded elsewhere?

(This has obvious problems if the layer download is interrupted and does not clean up before exiting, so we end up with a bad/invalid state in the DB, but if this could be solved we can potentially avoid complex locking issues)

[2019-03-06 15:06] Zokormazo commented on #2553
All my commands were used as root.

[code]

Can't remote it with rm -f

[2019-03-06 15:12] cevich commented on #2548
@edsantiago It's expecting to see "three lines of output" (like in your example).  Somehow it's only getting two lines.  Sometimes :S

Ginkgo is actually somewhat of a sub-framework, nested inside Go's built-in testing system. There should be a "T" variable somewhere (https://godoc.org/github.com/onsi/ginkgo#GinkgoTestingT) that shadows `testing.T` which is a pointer to a structure that provides t

[2019-03-06 15:14] edsantiago commented on #2548
What makes you think it's "only getting two lines"? The only thing I can tell from the test source code is "it's getting non-three". As in, I've got a BATS test now running this, and sometimes it gets three lines, sometimes four (as in the above). The `/pause` seems to be arbitrary.

[2019-03-06 15:15] mheon commented on #2548
Wait, what? Some invocations are missing a pause container?

[2019-03-06 15:17] vrothberg commented on #2551
It is not. The other process still has to wait for the other pull to complete. Those "minutes" have to be spent waiting in any case. Again, it makes no difference with respect to the time the process must wait for completion. It increases network traffic, which is unfortunate but it is not something I would consider to be a common case.

Assuming we could find a way to implement locking, how would

[2019-03-06 15:18] edsantiago commented on #2548
Glad I have scrollback:
[code]
Oh and look, I also see one with `/pause` but only one `top`:
[code]
(ignore the `$` prompt; that's an artifact of my script. Actual runs are as root).

[2019-03-06 15:27] cevich commented on #2548
YES!  This is what I see in the logs...

[2019-03-06 15:31] cevich commented on #2548
...

[code]

[2019-03-06 15:32] mheon commented on #2548
Alright that is bloody fascinating.
@haircommander We create the pause container before returning the pod, right? This does not sound possible

[2019-03-06 15:33] cevich commented on #2548
@edsantiago I'm realizing also that we don't include much helpful output when the test PASSES.  Getting more details out of the tests is almost always a helpful thing.

[2019-03-06 15:33] haircommander commented on #2548
Yup! are we sure the infra container is being made (I mention it because e2e tests don't create a pause container in a call to ```podmanTest.CreatePod("")  ```)

[2019-03-06 15:37] cevich commented on #2548
Oh!  So if the pause container is created/destroyed asynchronously to examining top-output, that all but guarantees the test will race depending on system-load / conditions.

For these tests using 'top', can we make them use the events/logs to wait for the pause-container to appear, then disappear, before running top?

Also, I think this test should be checking against a regex, not just counting l

[2019-03-06 15:45] h-vetinari commented on #2250
@tobwen
Good to know! Please let me know on this issue once you have something!

@lsm5 @rhatdan
Would be cool to have a new version in RHEL 7.6 (also including buildah 1.7, because I need `--target` as well, cf. containers/buildah#632). I have a couple issues I'd like to file that I need to replace docker with podman.

[2019-03-06 15:47] mheon commented on #2548
The creation shouldn't be async here, though.

Either we have a pause container, made when we made the pod, or we don't. We are in some sort of uncertain state where it exists only half the time.

[2019-03-06 15:50] mheon commented on #2553
Oh, you're on 1.0 - damn. We added that to `rm -f` in 1.1

If you have Buildah installed, it should be able to remove the container in the meantime - it operates at a lower level than us, and as such can see these containers.

[2019-03-06 15:53] muayyad-alsadi commented on #2551
assuming each pull downloads 100MB in 10MB/s network

current behaviour: two downloads, which is total of 200MB and total time of 20 seconds.

desired behaviour: one download, one wait lock release, total for download time is 10 seconds. when lock is released the other process found that it's already downloaded and just skip  in no time.

yes, that's why I put

[code]

network throughput/bandwidth

[2019-03-06 15:56] anilv4 opened #2558 "is there a podman command available to set right selinux context on custom directory locations to store and run container images?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind selinux usage question

**Description**
[code]

As you can see I changed the location of RunRoot and GraphRoot. Now if I run a container it gave me the following error message
[code]

If I disable selinux using "setenforce 0" the container works
[code]

**Steps to reproduce the issue:**

1. Change the location of

[2019-03-06 15:59] mheon commented on #2558
@rhatdan PTAL

[2019-03-06 16:02] Zokormazo commented on #2553
https://paste.fedoraproject.org/paste/qIQ9gu0DF6ZtN8fEwG5pYg

Cleaned with podman 1.1.0

[2019-03-06 16:02] #2553 closed

[2019-03-06 16:02] edsantiago commented on #2548
To be precise: I don't know if there is a `/pause` container or not. I do know that, under some indeterminate circumstances, `podman pod top` is not showing one. I don't know if it's a does-not-exist problem or a not-being-shown problem.

[2019-03-06 16:13] vrothberg commented on #2551
Yes, that's the worst case scenario. I think it's unlikely to happen as the layers are unlikely to be downloaded in the same.

That would only be true if one process manages to monopolize the entire network I/O and when the registry can provide data at that speed (while excluding the upper case).

I agree that it is not ideal but I don't see how we could support that. The only point of synchroniza

[2019-03-06 16:19] cevich commented on #2548
@edsantiago I think it's both in a way.  It exists, then goes away before or during execution of top.

Perhaps it's silly, but couldn't a simple fix be to just play-dumb about it: filter out any possibly existing lines containing 'pause'. Since it would be good (IMH) to compare the output to a regex instead of a line-count anyway :smile:

[2019-03-06 16:22] anilv4 opened #2559 "How to use a bridge "virbr1" created by libvirt to run a container?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind network usage question

**Description**

1. I would like to use the following bridge "virbr1" created by libvirt to run a container.
[code]

2. I would also like to set a custom IP when I start this container.

3. Are 1 and 2 doable using podman?

[2019-03-06 16:24] edsantiago commented on #2548
That depends on whether it's important to test for a pause container or not. Here's my short BATS test for reference:
[code]

[2019-03-06 16:26] anilv4 commented on #2558
I was able to set the right context and start the container using the following commands.

[code]

Is this the right way to set the contexts or its just a dirty workaround?

Thanks,
Anil

[2019-03-06 16:29] mheon commented on #2548
We expect that `pod create` will create a pause container unless explicitly instructed not to, and that pause container will appear in `podman pod top` for that pod if a container shares any namespaces with it.

[2019-03-06 16:30] cevich commented on #2548
@edsantiago I don't think it's important.  My understanding (someone correct me) is that the pause container is a necessary but temporary artifact to reserve resources.  So we need it when we need it, otherwise we ignore it.  That's why I think it might simply be safe for the test to ignore it.  If the pause container mechanism ever breaks, LOTS of other tests will fail.

[2019-03-06 16:30] mheon commented on #2548
Also - what does "in different namespaces" mean in this test? @haircommander Did you write this one originally?

[2019-03-06 16:31] cevich commented on #2548
oh okay, so for this failing test specifically, we _DO_ expect to see it in the top output?

[2019-03-06 16:32] mheon commented on #2548
Yes.

I also fail to see anything that would cause different namespaces in this test.

[2019-03-06 16:32] mheon commented on #2548
At least, the Bash version from @edsantiago

[2019-03-06 16:33] edsantiago commented on #2548
Sorry - I just copied the test name from e2e. /ihavenoideawhatimdoing

Okay, so enough: we know we have a problem. We have a likely smoking gun for test failures. I will back away slowly and let the professionals do their jobs.

[2019-03-06 16:36] mheon commented on #2548
I also don't see separate namespaces in the Go test.
Does this test predate infra containers?
Should we just force `--infra=false` for this test?

[2019-03-06 16:36] haircommander commented on #2536
closing per #2547

[2019-03-06 16:39] haircommander commented on #2548
@mheon I think @baude wrote this. He wrote pod top at least

[2019-03-06 17:28] cevich commented on #2548
@mheon Remember this _mostly_ passes on all platforms numbers-wise.  So there must be a race.

@edsantiago no not at all, please stay.  This problem was created by "experts", so having eyes unfamiliar with the code is actually very useful.

[2019-03-06 17:30] mheon commented on #2548
I think that whatever the original intent of this test was, it's no longer testing for it.

However, it is showing some properly strange behaviour, so it's clearly not a bad test - it caught... whatever is happening here?

[2019-03-06 17:37] mtrmac commented on #2551
Well, `storageImageDestination.TryReusingBlob` is _already_ locking/unlocking the layer store, for each layer considered (several times!), to check whether the layer exists locally. Checking whether a pull of that layer is in progress is not inconceivable (although we would ideally want to do some more work to only do the locking once per layer.)

[~Unrelated: At a high level, once we have the sou

[2019-03-06 17:40] mtrmac commented on #2551
- That cache is currently unaware of different c/storage stores and their configurations. That could change, I guess.
- BlotDB is not at all concurrent either - it uses a single file lock over the whole database, held for the whole lifetime of the database handle. So, we end up opening/closing the database, and using a file lock, for every single operation, so that concurrent image copies don’t bl

[2019-03-06 17:40] #2520 closed

[2019-03-06 17:55] #2536 closed

[2019-03-06 18:28] TomSweeneyRedHat commented on #2554
@jitka Thanks for the issue report.  I do have a question or two if you've the time.  Can you tell me which version of Docker that you're using?  I'm using:
[code]

and when I do `docker container ls` after the build, I'm not seeing a container there (but didn't expect too).  Did you follow steps like the below or others?

[code]

That being said, `podman container ls` seems to be having issues on

[2019-03-06 18:37] vrothberg commented on #2551
That's true. In case of the layer store we have 1 persistent lock that protects N layers.

The case here would (potentially) imply N locks for N layers that need to be created (and maybe destroyed) on the fly. Detecting if another process is currenlty copying is tricky as the file locks don't support `tryLock()` semantics; we would be blocked until the lock is acquired. Or we find a clever way doi

[2019-03-06 18:48] TomSweeneyRedHat commented on #2554
OK, latest upstream Podman 1.2.0-dev doesn't have the issue that I was seeing and functions in the same way as Docker.

[2019-03-06 18:59] #2380 closed

[2019-03-06 19:29] haircommander commented on #2548
It has come to my attention that I did in fact write this. Sorry @baude I hope you can forgive me. That said, I definitely don't remember why I wrote the test haha

[2019-03-06 20:19] mtrmac commented on #2551
Why would that be useful? `TryReusingBlob` can just as well block until the copy is done and the layer is available at the destination, or until the other process dies and fails (in which case the ordinary `PutBlob` path would be used, exactly what we want) — well, except for progress reporting, which we don’t have for `TryReusingBlob` now.

\#DaemonsAreOccasionallyVeryUseful

[2019-03-06 20:22] rhatdan commented on #2150
The maintainer of Container Storage really does not like the patch. He would like to know what OS you are running and why /run is not a mounted tmpfs.  The idea is that this storage content is on a tmpfs and gets wiped out on reboot.

If putting a tmpfs on /run is problematic, could you mount a tmpfs on /run/containers and then it would also fix your issues?

[2019-03-06 20:35] giuseppe commented on #2542
I confirm the issue is that there are not enough IDs in the namespace, it works for me as root:
[code]

Could you change the image to use smaller IDs?

[2019-03-06 20:36] rhatdan commented on #2554
On podman 1.1.2
[code]

[2019-03-06 20:53] vrothberg commented on #2551
Yes, for the progress bars. It would be good to show the user what is happening. A workaround would be to update the progress bar with some message prior to acquiring the lock and hoping that we either progress fast enough and update it again before the refresh-rate kicks in or that we wait sufficiently long enough to not have give a flickering impression.

:hear_no_evil:

[2019-03-06 20:58] mtrmac commented on #2551
Still, that could just be passing a “progress update channel” to `TryReusingBlob`, or something similar. (Compare also the ~need to tell the user about the chosen mirror in the c/image/docker mirror PR.)

[2019-03-06 22:17] pwFoo commented on #1399
Anyway progress with static build? Looks like current build wouldn't Run with alpine linux?

[2019-03-07 01:30] greg-hydrogen commented on #2150
it's interesting, I installed the patch and I can't seem to reproduce the issue, so the patch might have worked

I actually run all my containers with --tmpfs /run and --tmpfs /tmp and for the containers listed for this issue, since they are systemd containers I always run them like this (even though podman adds this automatically)

podman run -v /sys/fs/cgroup:/sys/fs/cgroup --tmpfs /run --tmpfs

[2019-03-07 04:17] MarcoFalke opened #2566 "podman exec fails on --user"
/kind bug

**Description**

Podman always fails with

[code]

**Steps to reproduce the issue:**

[code]

For comparison in docker:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2019-03-07 04:39] mheon commented on #2566
Works fine as root
@giuseppe Mind taking a look?

[2019-03-07 06:42] praiskup opened #2567 "cached podman build fails on `COPY /dir` with symlink"
There's
[code]

Dockerfile contains `COPY ./s2i/bin/ $STI_SCRIPTS_PATH` (where scripts path is `/usr/libexec/s2i` which is set by FROM image).

The error output is:
[code]
So first build is fine, second (from caches) fails.  Do***r used to worked here (sclorg/postgresql-container.git).

[2019-03-07 07:11] muayyad-alsadi commented on #2551
I'll be happy to see a progress in the first one and a message like "layer being pulled/locked by other process" in the other, as when dnf/yum is downloading its metadata

[2019-03-07 07:12] pkubatrh opened #2568 "podman build --help mentions squash is a NOOP"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman build --help` mentions `--squash` is a NOOP even though it seems to be working. The man page of `podman build` does not mention that it is a NOOP.

**Steps to reproduce the issue:**

1. podman build --help | grep "\-\-squash"

**Describe the results you received:**
--squash Squash newl

[2019-03-07 07:15] giuseppe commented on #2566
PR here: https://github.com/containers/libpod/pull/2569

[2019-03-07 08:55] giuseppe commented on #2556
it is very similar to another issue that was reported today and I had already opened a PR for.

I've added another patch to address this case as well: https://github.com/containers/libpod/pull/2569

[2019-03-07 10:13] michielhemme opened #2571 "ERRO[0000] could not find slirp4netns, the network namespace won't be configured: exec: "slirp4netns": executable file not found in $PATH"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run -d -p 80 nginx
_ERRO[0000] could not find slirp4netns, the network namespace won't be configured: exec: "slirp4netns": executable file not found in $PATH_

2. sudo podman run -d -p 80 nginx
d112182a575557123218asd812380asd821380as

**Describe t

[2019-03-07 10:20] chpio opened #2572 "Build fails if slirp4netns is installed"
/kind bug

**Description**
Build fails if `slirp4netns` is installed (it builds without `slirp4netns`)

**Steps to reproduce the issue:**

1. install `slirp4netns` (v0.3.0-alpha.2)
2. use rootless podman to build an image
3.
[code]

maybe related to https://github.com/containers/buildah/issues/1223

**Describe the results you received:**
The domain name `deb.debian.org` can not be resolved in buil

[2019-03-07 11:05] #2571 closed

[2019-03-07 11:12] michielhemme commented on #2571
Install latest slirp4netns fixed it: https://github.com/rootless-containers/slirp4netns

[2019-03-07 13:52] matthewlenz commented on #2211
@jplandrain have you located a ppa for slirp4netns?

[2019-03-07 14:07] rhatdan commented on #2548
Since the only difference between this test and the previous is the sharing of the pid namespace, I guess the title should add pid namespae.

	It("podman pod top on pod with containers in different pid namespaces", func() {

[2019-03-07 14:07] KamiQuasi commented on #2542
@giuseppe sorry for my ignorance, but I don't actually know how to do that. Is it something I can modify in the Dockerfile?

[2019-03-07 14:29] giuseppe commented on #2542
@KamiQuasi you can chown the files to not have that GID.

What user is going to read them?  Are they owned by root?

[2019-03-07 14:32] rhatdan commented on #2150
@greg-hydrogen I am not talking about inside of your containers. I am talking about on your host.

The issue you are seeing with the storage being confused after a reboot, is because information on /run is supposed to be temporary and cleared on a reboot.   If you have a tmpfs mounted on your hosts /run or at least on /run/containers then when you reboot your system, the mount count will be reset

[2019-03-07 14:35] rhatdan commented on #2567
This should be opened for buildah.  Since this code is vendored in from there.

@TomSweeneyRedHat Can you take a look at this.

[2019-03-07 14:41] rhatdan commented on #2568
@TomSweeneyRedHat PTAL

[2019-03-07 14:47] #2494 closed

[2019-03-07 14:57] jitka commented on #2554
Sorry it's hard to reproduce it since I am new. I have lot of testing container and i struggle with all of the `prune` commands. Also I am a bit lose in all `id`s `names` `tags` things - where it was created, how long it is valid. If I run to this issue again I will report it with Docerfile and exact commands i tried. Thanks for the answers.

[2019-03-07 14:57] #2554 closed

[2019-03-07 14:59] rhatdan commented on #2572
@giuseppe PTAL

[2019-03-07 15:10] TomSweeneyRedHat commented on #2554
No worries @jtka.  Thanks for the update and I hope you enjoy the world of containers.
If you encounter the issue again, please do either reopen this issue or create a new one, which ever works best for you.

[2019-03-07 15:14] EmilienM opened #2574 "Flag parsing error in non-quoted-field"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Flag parsing error in non-quoted-field, regression found in 1.1.2.

**Steps to reproduce the issue:**

Command used to deploy:
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Deployment worked in podman 1.0.0.

**Output of `podman version`:**

[cod

[2019-03-07 15:19] rhatdan commented on #2574
@baude PTAL

[2019-03-07 16:49] greg-hydrogen commented on #2150
@rhatdan  that is very odd, and I will take a look when I am back in front of both machines.  I don't make any modifications to the standard mounts so I am surprised if /run is not mounted as tmpfs.  I will report back

[2019-03-07 17:27] ikke-t commented on #2536
@haircommander how should this work? It doesn't set the selinux stuff automatically, like with :z or :Z options:

[code]

[2019-03-07 17:31] edsantiago commented on #2574
Less complicated reproducer, courtesy of @mheon on IRC:
[code]

[2019-03-07 17:45] TomSweeneyRedHat commented on #2544
No thoughts off the top of my head.  I'll try to give it a run or three to see if I can spot anything.  @umohnani8 any thoughts from you?

[2019-03-07 18:30] rhatdan commented on #2536
Yes to make this work you would need to set the SELinux label on the file

chcon -t container_file_t /tmp/pgdata

Is there anything in the yaml to indicate whether or not the volume should be relabeled.  Usually for builtin labels we relabel to a shared label.

label.Relabel(PATH, mount_label, true)

[2019-03-07 18:30] rhatdan commented on #2536
@haircommander ^^

[2019-03-07 18:33] haircommander commented on #2536
@rhatdan see https://github.com/containers/libpod/pull/2575#discussion_r263511689 for a discussion.

[2019-03-07 19:25] rhatdan commented on #2250
Yes These should be released on the next release of extras.

[2019-03-07 19:32] rhatdan commented on #2558
I would do
semanage fcontext -a -e var/lib/containers /home/root-home/containers
restorecon -R -v /home/root-home/containers

[2019-03-07 19:34] ikke-t commented on #2536
this was just discussed in irc, play kube needs a way to set selinux label to directory. It happens via
[code]

unless @haircommander just removed it.

[2019-03-07 19:35] tobwen commented on #2250
@h-vetinari some prototypes... I'm using the ugly bash script to keep traffic to the GIT servers low. Sure, you can just wipe the GO-directory and build from scratch. This works for me on rootless. Only fuse3 installations needs root of course.

# HOWTO: backport fuse3 for Debian Stretch
https://gist.github.com/tobwen/c1fc1512458ce272aee2410e36cf1e21

# HOWTO: install podman and dependencies rootl

[2019-03-07 19:35] ikke-t commented on #2536
if so, this ticket should be reopened, as long as selinux does not get set right, either :z or :Z

[2019-03-07 19:39] mheon commented on #2559
This might be possible using CNI. I don't believe either are possible without running as root if that is your usecase.

[2019-03-07 19:43] rhatdan commented on #2558
https://github.com/containers/libpod/pull/2576

[2019-03-07 19:48] ikke-t opened #2577 "podman can not remove pod with multiple containers as non root user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I run AWX containers into single pod to mimic docker compose. While I try removing pod, it fails with use having not permissions to do that. Reason being (discussed in IRC) that recursive killing of pods kills the pause container first, thus loosing namespace for the memcached container.

**S

[2019-03-07 19:50] haircommander commented on #2577
@giuseppe PTAL :)

[2019-03-07 20:33] ikke-t commented on #2577
found even easier reproducal :)

[code]

[2019-03-07 20:37] ikke-t commented on #2577
Dockerfile for the that "official" memcached image here: https://github.com/docker-library/memcached/blob/24ecf1cbeb76244031036eed161bb8bd00c99085/alpine/Dockerfile

This has something to do with setting the user.

[2019-03-07 21:23] edsantiago commented on #2548
Just to add to the general confusion: I _thought_ I had a fixed test for this:
[code]
(the key being: run `podman logs` on each container, wait until we see PID-PPID-USER, and assume that means each container has actually started).

Even with that, I just got this:
[code]
I realize there is much I don't understand about pods, but this seems weird enough to merit a cry for help. (If not for my litt

[2019-03-07 21:53] eparis commented on #2574
do you need to specify --label multiple times, or do you expect people to use it as a CSV.  If 'as a CSV' that's what you have and 'true="false"' isn't a valid CSV.  If you want people to have to use it multiple times I'm guessing you want a StringArray, instead of a StringSlice.

[2019-03-07 21:57] EmilienM commented on #2574
We use --label multiple times.

[2019-03-08 01:23] q384566678 commented on #2409
I verified it and it can run successfully. Thank you for your help.

[2019-03-08 01:23] #2409 closed

[2019-03-08 03:51] greg-hydrogen commented on #2150
@rhatdan  - below are my tmpfs mounts for both machines

Machine 1
tmpfs on /dev/shm type tmpfs (rw,nosuid,nodev,seclabel)
tmpfs on /run type tmpfs (rw,nosuid,nodev,seclabel,mode=755)
tmpfs on /sys/fs/cgroup type tmpfs (ro,nosuid,nodev,noexec,seclabel,mode=755)
tmpfs on /tmp type tmpfs (rw,nosuid,nodev,seclabel)
tmpfs on /ramdrive type tmpfs (rw,relatime,seclabel)
tmpfs on /run/netns type tmpfs (r

[2019-03-08 06:52] umohnani8 commented on #2544
I think the cache check to see if what is being copied in has changed or not isn't working as expected. It is seeing that there is no change hence using the cached layer. I can look into it.

[2019-03-08 10:38] giuseppe commented on #2572
it looks like a duplicate of the Buildah issue, how does the `/etc/resolv.conf` file look like inside of the container?

[2019-03-08 10:42] chpio commented on #2572
[code]

[2019-03-08 10:43] giuseppe commented on #2572
thanks, so the issue is that it is using a local DNS server that is not accessible from the rootless container.

Do you get anything different if you run as root user?

[2019-03-08 10:54] chpio commented on #2572
hmmm... the `/etc/resolv.conf` file looks just the same, but now it's resolving the dns names.

[2019-03-08 11:05] giuseppe commented on #2572
I am surprised that it works as root, how does the network inside of the container look like `ip addr`?

I am trying to reproduce locally using a similar `resolv.conf` as yours but it fails for root as well

[2019-03-08 11:18] AkihiroSuda commented on #2572
Bind-mounting `/etc/resolv.conf` is known to be unmounted when the host file is removed and recreated (by `systemd-resolved` or `NetworkManager`).

[2019-03-08 11:21] chpio commented on #2572
rootless:
[code]

run as root: it's just my local network context

[code]

run as: `$ podman build .` or `$ sudo podman build .`

[2019-03-08 11:24] giuseppe commented on #2572
ah ok, so as root it is running the equivalent of `--net host`.  That should work for rootless as well, you can run the container in the host network namespace with:

`podman build --net host ...`

[2019-03-08 11:30] chpio commented on #2572
[code]

[2019-03-08 12:40] rhatdan commented on #2150
Is /var/run/containers/storage actually on tmpfs?

[2019-03-08 13:48] sysrich opened #2584 "rootless: "podman run" gives an imperfect error message if subgid not configured correctly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Scenario - /etc/subuid configured properly, but /etc/subgid not configured at all

User runs `podman run hello-world` and gets

This is rather confusing and does not help the user debug what actually went wrong.
If the user does something different like `podman image ls` they get a more helpf

[2019-03-08 14:13] rhatdan commented on #2584
@giuseppe @mheon Could you guys take a look?

[2019-03-08 14:16] giuseppe commented on #2572
I've opened a PR to honor `--net host`: https://github.com/containers/libpod/pull/2585

That is the solution, I believe, when the `resolv.conf` contains addresses that are not accessible from the container

[2019-03-08 14:19] baude commented on #2548
this should be corrected with #2560 when it merges

[2019-03-08 14:22] haircommander commented on #2462
This has since been fixed! If you upgrade podman to at least v1.0 you shouldn't get this problem

[2019-03-08 14:25] giuseppe commented on #2584
@rhatdan this is the "podman info" error not being propagated to the caller.  You were working on a patch for that, do you still have it?

[2019-03-08 14:26] baude commented on #2514
@nitkon im almost certain this is due to an outdated runc or conmon.  The failure occurs when the test runs a container which makes sense

[2019-03-08 14:33] #2462 closed

[2019-03-08 14:52] greg-hydrogen commented on #2150
/var/run/containers/storage is actually on the zfs filesystem.
Originally I was not able to start any container unless the graphroot and runroot were both on zfs,

[2019-03-08 14:52] haircommander commented on #2355
@dmend It looks as though #2417 fixed your issue. After doing ```podman --log-level=debug run --rm -it --pod testpod centos /bin/bash```, we now succeed to ```cat /etc/resolv.conf```. As such, I'm closing this issue. please reopen if you disagree!

[2019-03-08 14:52] #2355 closed

[2019-03-08 14:54] rhatdan commented on #2150
Can you put it back on the tmpfs and see if it works?

[2019-03-08 14:58] rhatdan commented on #376
@mheon What do you want to do with this issue?

[2019-03-08 15:01] rhatdan commented on #1534
Until we have delegation of cgroups systemd will only work as root.

[2019-03-08 15:01] #1534 closed

[2019-03-08 15:01] rhatdan commented on #1911
@vrothberg Do we have this now?

[2019-03-08 15:02] rhatdan commented on #1864
@TomSweeneyRedHat Can you throw something together for this.

[2019-03-08 15:02] AkihiroSuda commented on #2572
@giuseppe Why not just write slirp4netns built-in DNS `10.0.2.3` to `resolv.conf`?

[2019-03-08 15:03] rhatdan commented on #1566
@mheon Can we close this issue?

[2019-03-08 15:04] rhatdan commented on #1433
@nalind How hard would this be to do?  Just mount the image layer Read/Only?

[2019-03-08 15:04] rhatdan commented on #1950
@praveenkumar @TomSweeneyRedHat Is this still an issue?

[2019-03-08 15:05] rhatdan commented on #1917
I am just going to close this, since the recommended way is to now use fuse-overlay.

[2019-03-08 15:05] #1917 closed

[2019-03-08 15:06] mheon commented on #1566
Yeah this is fixed

[2019-03-08 15:06] #1566 closed

[2019-03-08 15:07] rhatdan commented on #1916
@giuseppe I think your code is doing this, could you take a look.

[2019-03-08 15:07] vrothberg commented on #1911
There was a very similar discussion recently over at https://github.com/containers/libpod/issues/2551.

@rhatdan, if you want this to work, we can work on that but we need to allocate a bigger chunk of time.

[2019-03-08 15:07] rhatdan commented on #2016
@jwhonce @baude is this still an issue?

[2019-03-08 15:07] rhatdan commented on #2016
@Edward5hen Did this get fixed?

[2019-03-08 15:08] mheon commented on #376
IMO, we close this and generate an Enhancement issue for adding `podman container clone` to do this. We know how we want to do things now.

[2019-03-08 15:08] rhatdan commented on #1843
We have moved to podman-remote.
@ssbarnea Interested in opening a PR?

[2019-03-08 15:09] rhatdan commented on #1959
@mheon is this still an issue?

[2019-03-08 15:09] rhatdan commented on #1291
Please use podman play kube

[2019-03-08 15:09] #1291 closed

[2019-03-08 15:11] rhatdan commented on #1388
Just leave this for buildah unshare for now. Have not heard customers asking for this feature.

[2019-03-08 15:11] mheon commented on #1959
@jwhonce What documentation, where? I don't know of any documentation beyond the Manpages about legal values

[2019-03-08 15:12] rhatdan commented on #1401
@cjeanner Have you worked around the problems.  Is there anything we can do short of a podman.conf to solve this problem?

[2019-03-08 15:13] rhatdan commented on #1348
CLosing because of lack of response for issuer.  Reopen if this is still something you are after.

@TomSweeneyRedHat FYI

[2019-03-08 15:14] rhatdan commented on #415
Getting closer.

[2019-03-08 15:14] rhatdan commented on #1376
Is this still something people feel we should write?
@vrothberg @TomSweeneyRedHat ?

[2019-03-08 15:15] rhatdan commented on #1732
@AkihiroSuda @giuseppe What is going on with this?

[2019-03-08 15:16] rhatdan commented on #1651
@AkihiroSuda @giuseppe What is going on with this issue?

[2019-03-08 15:16] rhatdan commented on #1358
@mheon Any updates?

[2019-03-08 15:17] cjeanner commented on #1401
@rhatdan hello! well, we've added proper selinux configuration/labels/others to the affected containers/data, and it's working. Guess we don't need to push global config disabling selinux now :).

So on our side, no more needs on this field.

[2019-03-08 15:17] rhatdan commented on #1579
@haircommander Could you take a look at this?

[2019-03-08 15:18] rhatdan commented on #1602
@mheon Did you ever write anything up?

[2019-03-08 15:18] mheon commented on #1358
This is a solid week of work to get right due to the need for DB changes. I'd like to get it resolved, but it's lower priority than... most other things?

[2019-03-08 15:19] mheon commented on #1602
Negative, let me get something in the Troubleshooting guide

[2019-03-08 15:20] rhatdan commented on #1675
@QiWang19 Could you look into the passwork helper now also?

[2019-03-08 15:20] rhatdan commented on #1320
@jlebon Do you still need this or is the nsenter suggestion good enough?

[2019-03-08 15:21] rhatdan commented on #1733
@giuseppe Is this fixed, can't we close this?

[2019-03-08 15:22] jamescassell commented on #1651
Would be valuable in an Active Directory environment.

[2019-03-08 15:27] rhatdan commented on #1911
Anything to improve performance, I am always interested in

[2019-03-08 15:27] #376 closed

[2019-03-08 15:30] rhatdan commented on #1671
Shouldn't we be checking if we have a tty and then not send the control chars?  Or am I misunderstanding what is going on?

[2019-03-08 15:31] rhatdan commented on #1808
I am going to close this, since it really can not be fixed by libpod/podman until golang fixes it,  We have documented the issue.

[2019-03-08 15:31] #1808 closed

[2019-03-08 15:31] jlebon commented on #1320
The `nsenter` hack is OK, but having a command do it all for me would be cool. Definitely don't *need* it, but I do *want* it. :) Feel free to (de)prioritize accordingly.

[2019-03-08 15:31] vrothberg commented on #1376
I think there is a sufficient amount of resources now to educate users. We have the websites with dedicated blogs, search engines are kicking it, the demos project is there, etc. There can never be enough documentation but I think we're good now :)

[2019-03-08 15:32] rhatdan commented on #2070
@giuseppe Could you look into this?

[2019-03-08 15:33] rhatdan commented on #1948
This has been fixed in buildah. We need similar fixes in podman.

@baude Could you take a look at the fixes in buildah.

[2019-03-08 15:35] mheon commented on #1320
@rhatdan We can close this and toss it as a use case for `container clone` (which also closes #376)

[2019-03-08 15:36] rhatdan commented on #2015
@rhvgoyal Any update?

[2019-03-08 15:36] rhatdan commented on #1817
@cjeanner Have you seen this since the fix.  Reopen if you have.

[2019-03-08 15:36] #1817 closed

[2019-03-08 15:37] vrothberg commented on #1911
I can start looking into this in the next sprint :+1:

[2019-03-08 15:38] mheon commented on #1671
I think we want to leave this configurable if nothing else - I kind of like having control characters interpreted in some cases.

[2019-03-08 15:38] rhatdan commented on #1139
@baude What is the state of this Issue now?

[2019-03-08 15:38] rhatdan commented on #2026
@wking @baude Is this still an issue?

[2019-03-08 15:39] giuseppe commented on #2584
PR here: https://github.com/containers/libpod/pull/2588

[2019-03-08 15:39] mheon commented on #1139
Per @mtrmac we have removed most if not all cases of the literal `:none` tag.
I think we're good to close.

[2019-03-08 15:39] #1139 closed

[2019-03-08 15:39] rhatdan commented on #2116
@cevich @lsm5 Can I close this issue?

[2019-03-08 15:39] nitkon commented on #2514
@baude: I had built everything from source as mentioned in the readme document.

[2019-03-08 15:39] mheon commented on #1139
(Our matching logic for ImageParts is still a problem, but we can replace that at a later date)

[2019-03-08 15:40] rhatdan commented on #2054
Since this is being worked on closing this issue.

[2019-03-08 15:40] #2054 closed

[2019-03-08 15:40] mheon commented on #2116
I'm still hearing about a number of Ubuntu packaging issues, but none of them have to do with libpod.conf

[2019-03-08 15:41] rhatdan commented on #1915
Podman is available via a snap now.

[2019-03-08 15:41] mheon commented on #2026
We've removed all cases of the `:none` tag that we're aware of

[2019-03-08 15:41] #2026 closed

[2019-03-08 15:42] rhatdan commented on #2171
@baude has this been fixed.

[2019-03-08 15:42] rhatdan commented on #1973
It is available now.

[2019-03-08 15:42] #1973 closed

[2019-03-08 15:43] rhatdan commented on #1844
@giuseppe Any progress on this issue?

[2019-03-08 15:44] TomSweeneyRedHat commented on #1401
Thanks @cjeanner .  If you feel differently in the future, please reopen this issue or create a new one as works best for you.

[2019-03-08 15:44] #1401 closed

[2019-03-08 15:44] rhatdan commented on #1733
Fixed in master.

[2019-03-08 15:44] #1733 closed

[2019-03-08 15:44] rhvgoyal commented on #2015
@rhatdan Kernel fix is queued in overlayfs-next branch of miklos's tree. Waiting for him to send it to Linus.

https://git.kernel.org/pub/scm/linux/kernel/git/mszeredi/vfs.git/commit/?h=overlayfs-next&id=5f32879ea35523b9842bdbdc0065e13635caada2

[2019-03-08 15:46] jwflory commented on #1948
Oh awesome, glad to hear this was fixed in `buildah`. Just curious… what did the problem end up being? It's been hard for me to reproduce in any environment except the one where I face this bug.

[2019-03-08 15:46] rhatdan commented on #2574
Fixed in master.

[2019-03-08 15:46] #2574 closed

[2019-03-08 15:49] rhatdan commented on #1651
We need to get /etc/subuid and /etc/subgid into nsswitch so it can be managed in ldap, Active Directory/IPA.
Ton's of images will not work without having more then one UID.

[2019-03-08 15:55] mheon commented on #2154
We landed a fix for this

[2019-03-08 15:55] #2154 closed

[2019-03-08 15:55] #1376 closed

[2019-03-08 15:56] mheon commented on #2526
#2586 to fix

[2019-03-08 15:57] rhatdan commented on #2013
@vrothberg Any movement on this?

[2019-03-08 15:57] rhatdan commented on #2207
We now have a logo.

[2019-03-08 15:57] #2207 closed

[2019-03-08 15:57] mheon commented on #2526
(I've actually just mapped the Stopped state to Exited in that PR - they're sufficiently similar as to not really merit filtering separately. Stopped is an intermediate that that quickly transitions to Exited.

[2019-03-08 15:58] rhatdan commented on #1618
This continues to move along.

[2019-03-08 15:58] rhatdan commented on #2219
@TomasTomecek Have you done anything on this?

[2019-03-08 15:59] rhatdan commented on #2234
I have added features to make it easy to tell.

[2019-03-08 15:59] #2234 closed

[2019-03-08 16:00] rhatdan commented on #2209
@warmchang @baude Is this still an issue?

[2019-03-08 16:00] rhatdan commented on #2170
This is fixed in master.

[2019-03-08 16:00] #2170 closed

[2019-03-08 16:02] rhatdan commented on #2167
The upstream kernel has a PR to make kernel keyrings unigue per User Namespace, so this would allow us to use kernel keyring for non privileged users, since the container process would not be able to see it.  And the containers themselves could use a kernel keyring.

[2019-03-08 16:03] rhatdan commented on #2182
@haircommander Since you are mister podman pod, could you check this out?

[2019-03-08 16:04] rhatdan commented on #2265
@haircommander Is working on this for CRI-O, once it is merged there we need to add it to podman.

[2019-03-08 16:04] vrothberg commented on #2167
Awesome. Once that's in the kernel, we can continue working on it.

[2019-03-08 16:04] rhatdan commented on #2212
@edsantiago @baude @jwhonce Is this fixed now?

[2019-03-08 16:05] rhatdan commented on #1719
Fixed in master.

[2019-03-08 16:05] #1719 closed

[2019-03-08 16:18] vrothberg commented on #2013
Not yet. There were too many other things on my table since DevConf but the queue is getting smaller.

[2019-03-08 16:18] rhatdan commented on #1948
@jwflory We had to do a major rewrite/simplification of buildha pull.  There were many issues in parsing that had leaked all through the code.  We cleaned them all up.

[2019-03-08 16:22] #2566 closed

[2019-03-08 16:23] #2556 closed

[2019-03-08 16:23] TomSweeneyRedHat commented on #1376
Didn't beat the close, but I concur.  I think the one spot we're light on in running rootless containers, but I think we're getting there on that too.

[2019-03-08 16:27] rhatdan commented on #1925
@mheon This probably goes along with the clone stuff.

[2019-03-08 16:28] rhatdan commented on #713
@vrothberg @mtrmac Lots of interest in this.  Need to bump up the Importance.

[2019-03-08 16:29] rhatdan commented on #2189
@baude @TomSweeneyRedHat Any movement on this?  @TomSweeneyRedHat Could you open a PR to satisfy your needs.

[2019-03-08 16:30] rhatdan commented on #1516
I think this is pretty much fixed now.  Only old installs have this issue.

[2019-03-08 16:30] #1516 closed

[2019-03-08 16:31] rhatdan commented on #1883
Closing the issue.

[2019-03-08 16:31] #1883 closed

[2019-03-08 16:31] rhatdan commented on #1826
I would still like to get this PR in.  But I have not figured out why rootless does not like it. Hoping that @giuseppe takes it over.

[2019-03-08 16:32] rhatdan commented on #1840
Since we now have a lot of podman-remote built, I am going to close this issue.

[2019-03-08 16:32] #1840 closed

[2019-03-08 16:34] rhatdan commented on #2339
They are listed under podman trust not in podman, but trust is listed under podman man page.

[2019-03-08 16:34] #2339 closed

[2019-03-08 16:35] rhatdan commented on #1742
Sad to say I think this is stalling again.  Still huge hurdles to get over in order to get Go Programs packaged into Debian.

[2019-03-08 16:35] rhatdan commented on #1995
@harche @TomSweeneyRedHat Do we still have this issue?

[2019-03-08 16:36] rhatdan commented on #1429
There continues to be progress being made in cgroupsv2.

[2019-03-08 16:37] rhatdan commented on #2231
I believe this is fixed in master. Please reopen if I am mistaken.

[2019-03-08 16:37] #2231 closed

[2019-03-08 16:38] rhatdan commented on #2383
Since this has been mered in master, closing.

[2019-03-08 16:38] #2383 closed

[2019-03-08 16:39] rhatdan commented on #2370
@mheon @baude Do we still have this issue?

[2019-03-08 16:39] mheon commented on #2370
Yes.

This should be moved to CRI-O though. Podman is working fine in this case. CRI-O needs the `cni_default_network` change

[2019-03-08 16:40] rhatdan commented on #2399
@baude Have you looked at this?
@QiWang19 Could you take a look at this?

[2019-03-08 16:41] rhatdan commented on #2398
@metalmatze Looks lke you or someone else in the upstream is going to need to add zsh completions.  No-one on our team uses it.

[2019-03-08 16:41] #2396 closed

[2019-03-08 16:42] mheon commented on #2398
I think @edsantiago mentioned doing something related to this

[2019-03-08 16:42] rhatdan commented on #2376
@llchan Are you planning on opening a PR for this?

[2019-03-08 16:43] rhatdan commented on #2375
@vbatts FYI
Not really an issue we need to keep open.

[2019-03-08 16:43] #2375 closed

[2019-03-08 16:44] rhatdan commented on #2365
Do we need to keep this issue open?  Good summer intern project would be to rereate all of the ascicinema on the commands, force intern to learn commands.

[2019-03-08 16:44] #2343 closed

[2019-03-08 16:45] rhatdan commented on #2317
@cgwalters ???

[2019-03-08 16:46] rhatdan commented on #2241
Merged in to master.

[2019-03-08 16:46] #2241 closed

[2019-03-08 16:48] haircommander commented on #2182
@sysrich --infra-command is an option by the way! I'll look into defaulting to the entry point, but it'll be a roundabout solution.

[2019-03-08 16:52] mheon commented on #2365
@TomSweeneyRedHat did you have luck in restoring these?

[2019-03-08 16:54] lsm5 commented on #2116
seems missing in ubuntu currently, i'll fix it today and close it.

[2019-03-08 16:57] rhatdan commented on #2370
@sysrich Would you mind opening this same issue on CRI-O?

[2019-03-08 16:57] #2370 closed

[2019-03-08 17:00] rhatdan commented on #2116
Thanks @lsm5

[2019-03-08 17:14] vbatts commented on #1429
as you have gaps identified, please report them to upstream tracker
https://github.com/opencontainers/runtime-spec/issues/1002

On Fri, Mar 8, 2019 at 11:36 AM Daniel J Walsh <notifications@github.com>
wrote:

[2019-03-08 17:14] vbatts commented on #713
:+1:

On Fri, Mar 8, 2019 at 11:28 AM Daniel J Walsh <notifications@github.com>
wrote:

[2019-03-08 18:18] giuseppe commented on #2542
since we found out the issue is in the image, I am going to close this issue.  Please feel free to reopen it or add more comments

[2019-03-08 18:18] #2542 closed

[2019-03-08 18:21] baude commented on #2212
no, this is not a simple fix. i looked at it this morning and it is going to required more work that i have today.

[2019-03-08 18:23] baude commented on #2209
@rhatdan we dont support running yaml that isnt generated by us.  But I would really prefer that we dont panic.

[2019-03-08 18:28] giuseppe commented on #1844
@rhatdan I still believe it is not in Podman but how the script is created/deleted outside of the container.

Haven't heard anything back for a while and I've never seen this issue anywhere else, so let's close this issue for now, if there is any update we can re-open it.

[2019-03-08 18:28] #1844 closed

[2019-03-08 18:30] rhatdan commented on #2209
Ok, I am giving this to @haircommander to look at, I want to make your statement less true over time.

[2019-03-08 18:31] giuseppe commented on #1388
could we leave it as a RFE and tag it as "good first issue"?  New contributors might find it useful to start hacking on Podman

[2019-03-08 18:35] rhatdan commented on #2369
Work is ongoing.

[2019-03-08 18:36] rhatdan commented on #2325
I have a PR opened for Secrets patch now, but Flaks is blocking it.https://github.com/containers/libpod/pull/2516

[2019-03-08 18:37] rhatdan commented on #2414
@TomSweeneyRedHat Have you had a chance to look at this?

[2019-03-08 18:38] rhatdan commented on #2303
I think we are partially there. PR https://github.com/containers/libpod/pull/2575 should complete.

[2019-03-08 18:39] rhatdan commented on #2449
@lsm5 was looking at this package today.  Is this issue fixed?

[2019-03-08 18:40] rhatdan commented on #2334
@adrianreber Is this complete, can we close this issue now?

[2019-03-08 18:40] baude commented on #2209
the root cause was two fold here: the input lacks a security context for containers which we do output for generate kube.  it is required for libpod container running.  we can now handle not having that input.  once that was fixed, the input file also didn't define a CWD which is also a libpod requirement.

we can now tolerate both those and set a default cwd if not provided.  i tested your YAML p

[2019-03-08 18:43] lsm5 commented on #2449
sorry, been fighting some rhel fires, but this is on my todo for today, closing this as duplicate of https://github.com/containers/libpod/issues/2116

[2019-03-08 18:43] #2449 closed

[2019-03-08 18:44] baude commented on #2016
it is specific to the python library? @jwhonce ?

[2019-03-08 18:53] TomSweeneyRedHat commented on #2365
I'd keep it open.  I restored one as  POC, but most are gone.  When I get some time I need to polish off the framework, save the few remaining ones and document the process.  We can then fill them in as we have time and/or set an intern on them.

[2019-03-08 19:00] TomSweeneyRedHat commented on #2189
I'll work with @baude on it.  A lot of what's remaining to be documented I've never gotten to work, so will need @baude to tell me what's cruft on the page and what needs fixing.

[2019-03-08 19:00] #2584 closed

[2019-03-08 19:02] haircommander commented on #2303
we're blocked on generate by some backend work by @mheon . I will come back once that comes down the pike

[2019-03-08 19:02] lsm5 commented on #2116
Copying from https://github.com/containers/libpod/issues/2449

I'll add this to podman

I think this is available in vanilla debian, gotta check ubuntu status though

This is via containers-common, IIRC, I wasn't able to get this subpackage working in skopeo, need to revisit.

[2019-03-08 19:03] lsm5 commented on #2116
RE: libpod.conf, the rules file was missing install.config target, have taken care of that now, will push a new build with the above requests handled (maybe slirp4netns will take a while though)

[2019-03-08 19:04] TomSweeneyRedHat commented on #2414
Not yet

[2019-03-08 19:06] lsm5 commented on #2116
@mheon @rhatdan remind me please, should uidmap be a hard requires or a recommends?

[2019-03-08 19:08] rhatdan commented on #2116
reccomends (We only need it for rootless.)

[2019-03-08 19:16] TomSweeneyRedHat commented on #1995
Actually we can close this.  We'd a few changes to how we were handling output  to stderr in the past several loops and I've not seen this happening anywhere since late January when it was a daily occurrence prior.  Wish I'd a PR to point at, but beggars can't be choosers.

[2019-03-08 19:16] #1995 closed

[2019-03-08 19:26] TomasTomecek commented on #2219
I haven't found free time to work on this. Sadly that will likely not change in coming weeks.

This issue is still on my mind, though.

[2019-03-08 19:34] lsm5 commented on #2116
RE: slirp4netns, I see that Reinhard got it packaged for debian, but it won't land in ubuntu 18.04 right away unless a backport is requested. I'm looking at https://wiki.ubuntu.com/UbuntuBackports for requesting it, else I gotta put it on the ppa.

[2019-03-08 20:13] baude commented on #2219
@TomasTomecek what are the particulars around this?  are you thinking of being able to add multiple container ids?  what about --all ? one issue for me with all is that it might be too hard to be able to watch for containers that start, stop, rm, etc?

[2019-03-08 20:39] cevich commented on #2548
@edsantiago don't worry, we're all uniquely confused in our own special ways :smile:   Seriously though, I think this issue exists because no one person understood/understands all the implications of the way the test was written.

We'll see if Brent's PR either fixes this, or makes it monumentally more difficult to reproduce :grinning:

[2019-03-08 20:41] mheon commented on #2548
@edsantiago I think your `pod create` is missing the flag to disable infra container creation, which the original Go test has.

[2019-03-08 20:43] miabbott commented on #2384
It does, but as I stated in my [previous comment](https://github.com/containers/libpod/issues/2384#issuecomment-465700551), I'm unable to use it in this case because containers storage is somewhere other than `/var/lib/containers/storage`

(Sorry for the delayed response, I was missing email notifications from GH for a while)

[2019-03-08 20:51] lsm5 commented on #2116
alright, so I was able to get slirp4netns on the ppa as well, using the debian packaging source with some modifications https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages

[2019-03-08 21:12] #2209 closed

[2019-03-08 21:19] TomSweeneyRedHat commented on #2189
Fixed with 2592

[2019-03-08 21:19] #2189 closed

[2019-03-08 21:24] #2182 closed

[2019-03-08 21:51] greg-hydrogen commented on #2150
so I moved everything back and now I have the following mounts for 2 containers

shm on /var/lib/containers/storage/zfs-containers/9c8f4e4dd2bddaee8b3c89d6a6df4e2f7022a46f4b874a230e8b68b000d430bc/userdata/shm type tmpfs (rw,nosuid,nodev,noexec,relatime,context="system_u:object_r:container_file_t:s0:c385,c724",size=64000k)
shm on /var/lib/containers/storage/zfs-containers/f53b7f2d81415791686aa28b40

[2019-03-08 22:01] llchan commented on #2376
Similar to the other ticket, I'm awaiting approvals (from legal team now) to push code changes. If no one is blocked on this can you leave it open for now?

[2019-03-08 22:09] llchan commented on #1651
I don't disagree that tons of images won't work with a single uid, but there are also simple use cases where we'd like to use podman as a glorified chroot running a single process as the existing user. In those cases, everything inside the image should be owned by that user, and arguably the container user should also remain that user (rather than becoming root in the container).

[2019-03-08 22:19] lsm5 opened #2596 "crio-umount.conf and seccomp.json are present in both cri-o and libpod"
RE: $SUBJECT, `ETCDIR_LIBPOD` in libpod and `ETCDIR_CRIO` in cri-o are both set to `/etc/crio`, this causes conflicts with the cri-o package unless of course, I change the install rules for the podman deb package.

Do these 2 files need to be present in both repos?

@rhatdan @mheon @baude

[2019-03-08 22:22] pwFoo commented on #1399
During testing I noticed that more than the podman binary is needed to pull and run containers? There are some dependencies / recommended plugins.
- podman
- cni plugins / iptables
- buildah (only needed to build images?)
- conmon
- ...

So what is the minimal podman install requirement to pull images and run containers (with network support)?

[2019-03-08 22:25] lsm5 commented on #2116
I'd like to have https://github.com/containers/libpod/issues/2596 resolved before I update podman on ubuntu.

[2019-03-08 22:34] jwhonce commented on #2016
@baude I'll look into the varlink code.  This isn't using python3-podman.  It's more than likely in the code populating the structures to return to the client.

[2019-03-08 23:12] mheon commented on #2596
We can drop the umount config here, it's not used elsewhere.

Seccomp should be moved out of both repositories and sourced from somewhere common - it's not specific to any of our tools. I think there's a containers-seccomp repo we created for this?

[2019-03-08 23:15] mheon commented on #1399
We don't depend on Buildah, it's vendored into our codebase.

The minimum required packages for running Podman as root would be Podman, the CNI plugins (and IPTables for firewall rules), and Conmon.

For running Podman as rootless, the CNI plugins are replaced by slirp4netns.

If you wish to do both, we need both slirp and the CNI plugins

[2019-03-08 23:18] mheon commented on #2596
ETCDIR_LIBPOD is set to /etc/crio in the makefile, apparently, which seems very wrong

[2019-03-09 00:40] jamescassell commented on #1651
How hard would it be to automatically squash all the uids in the image down to a single one?

[2019-03-09 03:45] llchan commented on #1651
I don't think there needs to be any uid squashing, it just needs to skip the lchown after the image layers are downloaded.

[2019-03-09 07:45] pwFoo commented on #1399
@mheon
Thanks! I'll test it.
Which CNI plugin(s) is needed to run containers as root?

[2019-03-09 09:43] TomasTomecek commented on #2219
yes

I don't follow, logs command doesn't have such option now.

Yes, that's correct. Therefore I'd do the initial implementation by only accepting started containers and if a container dies, just remove it from the watch list.

[2019-03-09 09:58] ikke-t opened #2599 "inconsistent behavior with "rm" and "rm -f""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

```podman rm -f``` returns different value depending than without -f switch for non existing container.  I noticed this while typoing container name by accident.

**Steps to reproduce the issue:**

1. There is no container foobar, see here how return value differs silently:
[code]

**Describe

[2019-03-09 10:11] pwFoo commented on #1399
iptables needs some more modules than docker / k3s
[code]

Start a container with `--net=host` has systemd dependency?
[code]

cni plugins are many and increase the size of needed files / dependencies
[code]
[code]

podman, runc and conmon: 42,5MB (static builds)
CNI plugins: 45,3MB
all together: **87,8MB**

Tried to reduze the size of an custom image / initrd, but difference is minimal to docker?

[2019-03-09 10:15] pwFoo commented on #1399
With iptables comment the iptables error is gone, but the systemd dependency still kills the container.
[code]

[2019-03-09 11:30] #2596 closed

[2019-03-09 12:27] vrothberg commented on #2365
I think it would be awesome to have all the asciinemas also as demos in containers/Demos. @TomSweeneyRedHat, let me know if I can assist you there. This sounds like a lot of work.

[2019-03-09 12:28] vrothberg commented on #2365
Just noticed that I left some space for interpretation. What I mean is that all the demos we show in the asciinemas would be nice to have as shell scripts in containers/Demos as well.

[2019-03-09 13:55] mheon commented on #2599
I believe this is intentional, to mimic the behavior of Coreutils rm. I
don't think we're completely set on retaining the behavior though.

On Sat, Mar 9, 2019, 04:58 Ilkka Tengvall <notifications@github.com> wrote:

[2019-03-09 13:59] mheon commented on #1399
Change your CGroup manager from systemd to cgroupfs in libpod.conf and you
won't need systemd

On Sat, Mar 9, 2019, 05:15 pwFoo <notifications@github.com> wrote:

[2019-03-09 14:07] TomSweeneyRedHat commented on #2365
That's a good throught vrothberg, probably a bit more work, but probably worthwhile in the end.   However that would mean killing all the videos we currently have as there weren't any scripts used that I know of for them.  Thinking a bit more, if someone updated a demo script later on down the line, we'd have to make sure the video got updated too.

[2019-03-09 14:12] afbjorklund commented on #1399
There's a list in dependencies here, but has pretty much the same findings as above...
https://github.com/boot2podman/boot2podman/blob/master/building_podman.md

The CNI plugins are mostly big due to the static linking and nature of Go programs.
Doing a fully static build (without libc) would probably make everything even bigger ?

[2019-03-09 14:34] edsantiago commented on #2548
@mheon yes, but the point of my previous comment was that, even if I start two `top` containers, and have the test script wait for output from each one (thus theoretically eliminating race conditions) I still see a situation in which `podman pod top` shows only one `top` container. Is there something big I'm not understanding (e.g. "oh, podman pod top doesn't actually show all processes") ?

[2019-03-09 14:36] ikke-t opened #2600 "as a user i want to know if podman pull found new image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

If I do podman pull imagename:latest in script, I can't tell from return value if it found a new image or not. And output is always just list of blobs, which looks the same.

It would be necessary to know if it did downloaded new version, so that pod can be restarted and thus get to run n

[2019-03-09 15:01] rhatdan commented on #1651
As the image is pulled they are lchowned not afterwards.  The UIDs are set at while the image is being installed.  I have no problem with allowing any UID Range. And throwing errors when UID's are chosen outside of the range.  Currently podman is requiring 65000 or so UIDs, which I think is wrong.  We should just go with whatever is defined in /etc/subuid and /etc/subgid and setup the usernamespac

[2019-03-09 15:13] giuseppe commented on #1651
I will work on this feature, since so many users are asking for it.  We should improve the errors in containers/storage to detect if the id is not available and error out if the image requires so.

[2019-03-09 15:46] mheon commented on #2548
Huh. That does sound like a bug.

On Sat, Mar 9, 2019, 09:34 Ed Santiago <notifications@github.com> wrote:

[2019-03-09 17:36] TomSweeneyRedHat opened #2601 "podman --rm and --detach parameters are not incompatible as man page claims"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]
I expected a warning or an error since I'm running both `--detach` and `--rm` in this command.  The man page states:

[code]

**Steps to reproduce the issue:**

1. See descripton

**Describe the results you received:**

The command ran.

**Describe the results you expected:**

An error

[2019-03-09 17:50] mheon commented on #2601
Oh, oops. This one is on me, I must have forgotten to change the manpages.

[2019-03-09 17:54] TomSweeneyRedHat commented on #2601
I've uncommented my description so it can be seen, DOH!

[2019-03-09 17:58] muayyad-alsadi opened #2602 "`podman restart` fails when `--net container` and `add-host`"
/kind bug

**Description**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS

[2019-03-10 13:58] pwFoo commented on #1399
Is it possible to have some plugins (local container networking comparable to docker) builtin to podman binary? AS done with kernel modules?

[2019-03-10 15:52] siretart commented on #1742
I probably should have updated this issue more frequently, my apologies.

I think it is fair to say that significant progress is being done. At this point, I've packaged all dependencies for golang-github-containers-storage 1.5, and that package itself. It is currently in the review queue by the Debian ftp-masters for inclusion into the Debian archive. This is standard procedure, and takes a coupl

[2019-03-10 15:54] mheon commented on #1399
Not without extensive refactoring work on the CNI plugins themselves.

If you're willing to accept some sacrifices in performance and functionality, you can potentially drop the CNI plugins for slirp4netns for root networking as well. We don't support doing this by default now, but it wouldn't be particularly difficult to enable, and the binary size of slirp is much smaller (it also doesn't depend

[2019-03-10 16:19] mheon commented on #2602
#2603 to fix

[2019-03-10 16:34] pwFoo commented on #1399
At the moment I have removed not needed plugins and files.
[code]

At the moment I just use podman to run containers like with docker (container network, --net=host, privileged or single cap_add's). Maybe docker in podman optional.
If the performance isn't to bad maybe it could be an option with slirp4netns...

[2019-03-10 17:28] ikke-t commented on #2600
FYI,

docker pull output ends with ```Status: Downloaded newer image for docker.io/ansible/awx_task:latest``` if image was refreshed, and returns 0 in both cases, for what it's worth.

[code]

[2019-03-10 18:42] edsantiago commented on #2398
I use zsh, and have been working on podman completion as a weekend project. I'm very new to completion concepts, and although I've come up with something that works for 90% of my purposes, it's still pretty broken for the other 10%. If you'd like to use it as it is, perhaps even contribute to it, my current working branch is https://github.com/edsantiago/libpod/tree/zsh_completion

[2019-03-10 19:25] edsantiago commented on #2548
For grins, I modified my test script to run `podman pod create --infra=false`, then started a loop to see if it would fail. Didn't take too long:
[code]
(I didn't define a timer or counter, or even watch the loop, but it was less than ten minutes. Subsequent loop failed on the second, the next after about 8.) `podman-1.1.2-1.git0ad9b6b.fc29`. LMK if you want access to the system.

[2019-03-10 21:55] mark-otaris commented on #2171
Another variable to substitute is $UID. For example, when I use `
LABEL run="podman run --rm --interactive --tty --network=none --uidmap 0:1:\$UID --uidmap \$UID:0:1 --volume \"\$PWD\":/export/ \$IMAGE"
` in a Dockerfile, and use `podman container runlabel run`, `\$IMAGE` is replaced correctly, but `\$UID` gets replaced by nothing and podman complains that the mapping is invalid.

[2019-03-11 00:47] baude commented on #2219
i have a working version of this.  let me clean it up and perhaps @TomasTomecek could give it a test?

[2019-03-11 05:40] abitrolly commented on #1917
@rhatdan reinstalled `podman` with clean config and it still uses `vfs`.

[code]

[2019-03-11 06:24] abitrolly commented on #1916
How often does `podman` touch storage folder while sitting in a background and not starting other containers? Is there a way to measure that?

[2019-03-11 07:49] giuseppe commented on #1916
You'd need to change both `storage.conf` and `libpod.conf` to update the path to static dir.

Migration is currently blocked by us validating the config file settings with the db.

It should work if you start with a fresh storage

[2019-03-11 07:54] #2602 closed

[2019-03-11 08:14] giuseppe commented on #2508
fixed by https://github.com/containers/libpod/pull/2515

[2019-03-11 08:14] #2508 closed

[2019-03-11 08:17] giuseppe commented on #2376
the rootless configuration should now copy the default settings from the global configuration, so it should be enough to set it once and every new user will use that paths.

Could you verify if that works?  Otherwise, I think that is a clearer way to address the problem rather than having two different lookup methods

[2019-03-11 08:25] giuseppe commented on #1651
PR here: https://github.com/containers/libpod/pull/2604

[2019-03-11 09:12] afbjorklund opened #2605 "Ubuntu PPA version of podman has broken dependencies"
/kind bug

**Description**

Installing `podman` from PPA, now leads to this dependency chain:

[code]

https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

----

It still has the side-effect of downgrading kubernetes, due to the cri-o dependency.
i.e. podman requires crio-o 1.12 which in turn requires kubernetes 1.12 (see [matrix](https://github.com/kubernetes-sigs/cri-o#compatibility-matrix-

[2019-03-11 10:04] h-vetinari commented on #2250
@tobwen
Thanks for the prototypes, will have a look into them when I can.

@rhatdan
Is there any ETA (or standard cadence) on the next round of extras?

[2019-03-11 10:05] sysrich commented on #2370
@rhatdan done :) https://github.com/kubernetes-sigs/cri-o/issues/2121

[2019-03-11 10:42] giuseppe commented on #2572
great idea.  I've added a patch to do it

[2019-03-11 11:10] vrothberg commented on #2600
Thanks for opening the issue, @ikke-t! We'll look into it.

[2019-03-11 13:13] rhatdan commented on #2601
@TomSweeneyRedHat Could you open a PR to fix the man page.

[2019-03-11 13:36] TomSweeneyRedHat commented on #2601
Done #2606

[2019-03-11 13:36] anilv4 commented on #2558
Thank you. Daniel

[2019-03-11 13:38] TomSweeneyRedHat commented on #2605
@LSM5 PTAL

[2019-03-11 13:44] lsm5 commented on #2605
ubuntu issues tracked at https://github.com/containers/libpod/issues/2116

[2019-03-11 13:44] #2605 closed

[2019-03-11 13:54] #2601 closed

[2019-03-11 13:54] rhatdan commented on #1917
@giuseppe Ideas?

[2019-03-11 13:59] giuseppe commented on #1917
not really, there should not be anything under `/run` that could cause the wrong driver.

@abitrolly how does `/home/anatoli/.config/containers/storage.conf` look like once it is created?

[2019-03-11 14:03] lsm5 commented on #2116
removing dependency on cri-o to address https://github.com/containers/libpod/issues/2605 . This also makes it consistent with what's in fedora.

[2019-03-11 14:15] lsm5 commented on #2596
@mheon can't seem to find the containers-seccomp repo, do you have a link for that?

[2019-03-11 14:16] rhatdan commented on #2250
@lsm5 ^^

[2019-03-11 14:30] #1651 closed

[2019-03-11 14:37] mheon commented on #2596
It lives here: https://github.com/seccomp/containers-golang

Unfortunately, I think my memory was faulty - it doesn't seem to include the defaults

[2019-03-11 14:43] lsm5 commented on #2596
@mheon I notice the doc mentions it generates a `default.json`. It's intended to be the same as our `seccomp.json`, yes? Also, not sure what defaults you mean, but is that something you can get included upstream maybe today? I guess I can create another package for containers-seccomp for ubuntu.

[2019-03-11 14:56] #2506 closed

[2019-03-11 15:08] afbjorklund commented on #2116
Thanks, that should make it less vulnerable to breaking when kubernetes/cri-o changes.

[2019-03-11 15:08] giuseppe commented on #2600
you could do:

[code]

[2019-03-11 15:10] giuseppe commented on #2599
Docker returns an error if the container is not found.

[2019-03-11 15:11] #2558 closed

[2019-03-11 15:15] rhatdan commented on #2600
Well we do have some precedence with podman rm and podman rmi exiting with 1 when the image does not exists.
Theoretically we could exit 0, if it pulls an image.  Exit 1 if the image already exists and no new image was pulled.  Exit 125 if there was a failure to pull.

[2019-03-11 15:30] mheon commented on #2600
The problem is that 1 is still a failure - there are a lot of scripts that probably start with a `podman pull $IMAGE`, and making that fail if the image exists would break them.

I wouldn't mind adding a flag to do this (exit 1 if exists), but we should not make it default.

[2019-03-11 15:31] giuseppe commented on #2600
wouldn't an exit 1 mean an error though?  That is different from `podman rm` where it is an error to specify a container that doesn't exist.
We would need something explicit like `rpm-ostree upgrade --upgrade-unchanged-exit-77`, that means return 77 if there is nothing to upgrade.

[2019-03-11 15:32] giuseppe commented on #2600
same comment at the same time :-)

I'd still suggest using `inspect`.  It is more robust if the image was already updated from another process

[2019-03-11 15:47] cevich commented on #2548
perhaps the problem all along here is within top itself.  As in, it's racing against the kernel under some conditions.  WDYT if the test started a background process, e.g. `sleep 1d`, then specifically tested for it's presence ignoring other lines.  In other words, if `sleep 1d` appears in `ps` output the test passes.  This is guaranteed not to race because the background process has returned cont

[2019-03-11 15:48] vrothberg commented on #2600
I am working on the progress bar messages and will link a PR soon. I am currently testing :)

[2019-03-11 15:58] sysrich opened #2607 "podman ls not working on podman 1.1.2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Like https://github.com/containers/libpod/issues/2468, but this time with `podman ls`

**Steps to reproduce the issue:**

1. Install podman 1.1.2

2. Run `podman ls`

**Describe the results you received:**

Help text implying an invalid argument

**Describe the results you expected:**

Same r

[2019-03-11 16:06] vrothberg commented on #2600
I opened the necessary CI PR over at Skopeo: https://github.com/containers/skopeo/pull/614

Feel free to have a look at the new behaviour, e.g.:
[code]

[2019-03-11 16:24] rhatdan commented on #2599
@ikke-t Do you need the same behaviour for some reason?

[2019-03-11 16:29] #2016 closed

[2019-03-11 16:42] rhatdan commented on #2548
My original PR to fix this replaced top with sleep, I think sleep is a much better way to test this.

[2019-03-11 16:44] rhatdan commented on #2607
`podman ls` is not a valid command.
The valid commands are:
`podman container ls`
and
`podman images ls`

[2019-03-11 16:50] sysrich commented on #2607
@rhatdan But it worked in 1.0.x and earlier and I miss it now it’s gone :)

Are we sure we don’t mind it’s absence?

[2019-03-11 17:01] #2577 closed

[2019-03-11 17:10] cevich commented on #2548
Yeah,  I think we weren't yet clear on the purpose of this test.  It seems the point is to confirm one process is visible to another, in the same context.  So after running sleep, the test should also try to find it (in proc or ps output).  I don't remember if your PR included that or not.

[2019-03-11 17:18] rhatdan commented on #2607
The fact that it worked was a mistake and it was never documented.

[2019-03-11 17:18] SergeyBear commented on #2462
Unfortunately in Centos 7 only podman 0.12 is available. Using fedora or building from source is not a production way.
Any plans to backport fixes from 1.0 to 0.12 or porting podman 1.0 to Centos 7?

[2019-03-11 17:27] sysrich commented on #2607
Okay - I will mourn the loss with a smile. Thanks for clearing that’s up

[2019-03-11 17:27] #2607 closed

[2019-03-11 18:27] mheon commented on #2548
`top` vs `sleep` shouldn't matter here. We're not finding the container in question through CGroups, which doesn't depend on what's running in it.

[2019-03-11 19:22] ikke-t commented on #2599
This is not critical to me. I just would have been happy to spot an error, which silently disappears in current behavior. I found it odd behavior.

[2019-03-11 21:30] tobwen opened #2614 "[podman] could not get runtime / could not find a working binary"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
I'm trying to run _podman_ rootless from the user's home directory (nothing is installed into root). When pointing to the binaries in CLI or via config, _runc_ binary isn't found.

**Steps to reproduce the issue:**

1. `~/podman/usr/local/bin/podman --log-level=debug --conmon /home/podman/podma

[2019-03-11 21:45] tobwen opened #2615 "[podman] set defaults if not set in configuration"
**Is this a BUG REPORT or FEATURE REQUEST?**
/kind bug

**Description**
Normally, when you comment out a line in a config file or just forget to add the parameter, the defaults are used. This doesn't happen in _podman_ right now: it breaks with an error.

**Steps to reproduce the issue:**
1.
[code]

2. `~/podman/usr/local/bin/podman --log-level=debug --config /home/podman/rootless.conf run busybox

[2019-03-12 01:04] #1602 closed

[2019-03-12 09:38] abitrolly commented on #1917
[code]
But..
[code]

[2019-03-12 09:40] abitrolly commented on #1916
If migration is impossible, then the only way is remove `podman`, then edit files
[code]
, kill `$HOME/.local/share/containers`, and install `podman` again.

[2019-03-12 10:55] giuseppe commented on #1917
there are two different issues here, one with slirp4netns that cannot bind the specified port on the host.  Is that port already used?

Also, from your comments seem like `$HOME/.local/share/containers` was deleted just before `info`, although `vfs` is still stored in the database.

Can you also share your `libpod.conf` and try to `rm -rf` the `static_dir` specified there?

[2019-03-12 11:03] giuseppe commented on #1916
why do you need to remove podman and install it again?

[2019-03-12 12:08] rhatdan commented on #2615
Instead of specifying runc above in your rootless.conf, could you specify the full path?

[2019-03-12 12:11] giuseppe commented on #2614
Are you seeing the issue only for the second command?

the `--runtime /home/podman/podman/usr/local/sbin/runc` is not persisted into the configuration.  In facts we obsoleted the relative configuration in `libpod.conf`.

Now we expect a map of runtime to be present "runtime" -> "list of paths".

If `[runtimes]` is not overriden in the rootless configuration file, then the settings in `/etc/libpod/