[2021-12-31 16:34] #12723 closed

[2021-12-31 19:22] alaviss commented on #12715
As shown in this comment https://github.com/containers/podman/issues/12715#issuecomment-1003135032, I have 65535 IDs at my disposal, so I think I have enough.

Do you know of any good way to debug this? I'm using Btrfs for the backing storage.

[2021-12-31 21:36] alaviss commented on #12715
Closing as I traced it down to systemd instead https://github.com/systemd/systemd/issues/21952

[2021-12-31 21:36] #12715 closed

[2021-12-31 21:37] rhatdan commented on #3990
Well they should be in the same group or one have root ownership and the other group read access.  Using --group-add keep-groups.

[2021-12-31 23:04] mybigman commented on #12590
@rhatdan

Some additional info.

ArchLinux Arm, luks with btrfs FS, 2 x sub volumes @ and @home, using systemd-homed.

[code]

[code]

`podman system migrate` yields no error

[code]

[code]

[2021-12-31 23:24] PavelSosin-320 commented on #12590
@fansari Why error message blames STAT system call and not create ? Did create succeed ? I looked inside the container-storage source and didn't find single line of code that communicates with systemd-homed service or checks home area status. Homed unit status is OK but I don't know if it is enough to assume that home area is useful in the current state of GUI session started by systemd-user. Root

[2021-12-31 23:49] QuarkTheAwesome commented on #12339
I think I might be having this issue too, here's an strace -F:
[trace.txt](https://github.com/containers/podman/files/7797221/trace.txt)

Since this only happens w/ rootless I figured it's a permissions issue, and the strace seems to point to either `epoll_ctl` being not allowed or not being able to do something with cgroup subtree control? Unsure how to address either.

[2022-01-01 03:56] ginigangadharan commented on #12617
Facing the same issue. Anyone else found a solution ?

@lou-lan  ?

[2022-01-01 04:42] lou-lan commented on #12617
I haven't found a solution yet, but if qemu is not using Apple virtualization, then he should be able to run.

[2022-01-01 04:43] lou-lan commented on #12617
@ginigangadharan  I haven't found a solution yet, but if qemu is not using Apple virtualization, then he should be able to run.

[2022-01-01 08:24] eriksjolund commented on #7013
Just for the record, things have changed since your comment was written.
Systemd v247  (releaesed Nov 26, 2020) introduced support for the environment variable `SYSTEMD_SECCOMP`.

_If the $SYSTEMD_SECCOMP=0 environment variable is set for systemd-nspawn (and other programs that use seccomp) all seccomp filtering is turned off._

Reference:

[code]

[2022-01-01 08:35] ginigangadharan commented on #12617
Oh okay. Actually it was perfectly working, Now I think the issues started after some some macOS update. I will check that as well.

[2022-01-01 08:50] kbul commented on #11903
Hello. Recent update to version 3.4.4 still does not solve the problem. Regards.

[2022-01-01 13:16] hikhvar commented on #12722
I made a PR removing the renaming. In my research I found this code line, enforcing that the name of a container in a pod will never be equal to the pod name: https://github.com/containers/podman/blob/main/pkg/specgen/generate/kube/kube.go#L140

[2022-01-01 15:06] fansari commented on #12590
I use Fedora 35 Silverblue but as I found with this issue and others the distribution is still not really ready for systemd-homed.
One of the issues is that these subuids and subguids are not created automatically for podman. Other issues are missing SELinux policy so you can only use it in permissive mode. Also gdm is not aware of the user so you have to create a user with "normal" home dir befor

[2022-01-01 22:05] protosam commented on #11462
The unix-to-unix over ssh forwarding has been added in my PR.

@n1hility I feel like gvproxy could be a better tool that services more than just podman; but as long it's stack is statically configured and it has flags for proxying things out of band of the VirtualNetwork's services, it will remain service-locked to podman. The more flexible the tool is, the more people that will likely contribute

[2022-01-02 06:00] ginigangadharan opened #12728 "podman machine - Cannot connect to Podman on MacOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On MacOS Monterey (12.1) `podman` is unable to connect to the `podman machine`

**Steps to reproduce the issue:**

1. `podman machine init`

2. `podman machine start`

3. `podman version` or any `podman` subcommand (e: `podman ps`)

**Describe the results you received:**

[code]

**Describe t

[2022-01-02 10:58] rhatdan commented on #12417
@umohnani8 PTAL

[2022-01-02 11:01] rhatdan commented on #12339
@giuseppe Thoughts?

[2022-01-02 11:11] rhatdan commented on #12590
What SELinux AVCs are you seeing?

Have you opened issues with systemd-homed?  It should work similar to useradd when configuring the /etc/subuid and /etc/subgid files.  Or work on a newer solution to allow user namespace support the generated user.

[2022-01-02 11:21] rhatdan commented on #11786
@cdoern any progress?

[2022-01-02 12:29] adelton opened #12729 "podman manifest inspect fails with Error: unable to load manifest list: unsupported format "application/vnd.docker.distribution.manifest.v2+json": manifest type not supported"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `podman manifest inspect` seems like a reasonable alternative to calling `curl` to get information about remote manifest lists and manifests. However, it sometimes fails with

[code]

even if it processes another manifest with the same format / type just fine.

**Steps to reproduce the is

[2022-01-02 12:39] adelton commented on #12729
When trying to figure out what the difference might be between those arm64 and amd64 manifests, it occurred to me that I have that amd64 one pulled locally. So the reproducer might as well be:

1. Start with not having `registry.fedoraproject.org/fedora:35` pulled on x86_64 machine.
2. Check that `podman manifest inspect` works:
[code]
3. Pull the image:
[code]
4. See `podman manifest inspect` bro

[2022-01-02 13:22] rhatdan commented on #12729
@vrothberg PTAL

[2022-01-02 16:56] fansari commented on #12590
I have created a logfile and added it to my bug report.

https://bugzilla.redhat.com/show_bug.cgi?id=2036108

[2022-01-02 20:48] abergmeier commented on #9619
Could you point me to where the workaround is?
I am currently testing nonexistence using `strings.HasSuffix(err.Error(), ": manifest unknown")`.

[2022-01-02 22:56] Folaht opened #12730 "[feature request] Podman rootless containers + slirp4netns compatible with safe network nodes."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

Make podman + slirp4netns work with the safe network.
I'm not sure if this is a maidsafe issue or a podman issue, so I'm putting this in [both](https://github.com/maidsafe/safe_network/issues/888).

**Description**

My goal is to put safe network nodes to work inside rootless podman containers,
as an atte

[2022-01-03 07:14] n1hility commented on #11462
@protosam Happy New Year! Sorry for the delay in replying to your comment, and the brief replies earlier. I was away during the holidays with a busy schedule and traveling back was a bit of chaos. Thank you for contributing, I added a note to your PR.  While the existing ssh forwarding capability was introduced for the podman machine use case, it is not tied to podman, it's just a generic unix to

[2022-01-03 09:32] giuseppe commented on #12716
@ibukanov I took another look at the issue.  It looks like CAP_DAC_OVERRIDE still requires the uid to be mapped inside the user namespace, even if one of the groups would allow access to the directory.  And I can reproduce the same behavior here:

[code]

I am closing the issue since there is nothing we can do in Podman (or the OCI runtime), as the check is in the kernel, but please feel free to c

[2022-01-03 09:32] #12716 closed

[2022-01-03 09:40] giuseppe commented on #12590
could https://github.com/systemd/systemd/issues/21952 be the cause of this issue?

[2022-01-03 10:24] giuseppe commented on #12339
could you show me the output of `ps aux` while the hang is happening?

Also can you attach strace to each conmon, podman, runc/crun process (`strace -vvv -f -p $PID`) while they are in this status?

crun attempts to configure the cgroups from the root (rootless cannot add/rm controllers in the root cgroup), but it handles such failures

[2022-01-03 11:09] mtrmac commented on #6866
In the general case of insufficient build automation, build instructions, and/or attention being paid to build instructions, I _strongly_ prefer a default that has better security, and better features (using a FIPS-validated, non-Go, actually maintained, signature implementation, that can sign) over a default that saves a a few (dozen?) megabytes.

(Of course the _real_ fix would be to fix the dep

[2022-01-03 11:35] mtrmac commented on #9619
I was thinking of https://github.com/containers/skopeo/blob/e422e44fca37604e603fd72c397ed469cd15a735/cmd/skopeo/inspect.go#L204-L209 in particular as an example of lack of foresight to document the details when writing the code, but any code like the above could easily break in any change to the error strings.

[2022-01-03 13:18] Luap99 commented on #12730
I have no idea what "safe network" is expecting but have you tried if this works as root? The rootlesskit port forwarder which is used by default will change the source ip of the incoming connections, you can change this behaviour with  with `--network slirp4netns:port_handler=slirp4netns`

[2022-01-03 13:22] #7404 closed

[2022-01-03 15:07] baude commented on #12728
the /tmp directory it cannot find is odd.  On MacOS we should not be using that iirc.

[2022-01-03 15:11] baude commented on #12432
is it possible you forgot to start the podman service? i see the enable but nothing to start it ?

[2022-01-03 15:20] thommarko commented on #12666
/reopen
At first, happy new year to everybody ;-)

@flouthoc i'm sorry but #12405 did not fix the issue.
I have testet with latest v4.0.0-dev and v3.4.3 and still got the same behavior.

Maven output
[code]
Podman version and service output:
[code]

[2022-01-03 15:34] cdoern commented on #11786
@rhatdan I am waiting on some feedback from @jwhonce I am getting stuck in some weird spots. I applied the diff you gave me but it Jhon says that it is a breaking API change.

[2022-01-03 15:44] rhatdan commented on #11786
Breaking API changes are good for 4.0

[2022-01-03 16:02] struanb opened #12734 "Podman API service returns incorrect JSON (missing `Mounts` value) for Container List call"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The Podman API service returns incorrect JSON for a [Docker Container List](https://docs.docker.com/engine/api/v1.41/#operation/ContainerList) call: specifically, the `Mounts` property is `null` but should be populated with an object representing any mountpoints.

**Steps to reproduce the iss

[2022-01-03 16:05] cdoern commented on #11786
ok, I will try to figure this out and get the PR working @rhatdan

[2022-01-03 17:28] dcermak commented on #10941
I can reproduce this issue with the latest podman version from main as well as with 3.4.4, but only with certain images.

For example:
[code]
whereas the above commands work for `docker.io/alpine` or `registry.opensuse.org/opensuse/leap`.

I have tried using strace to figure what exactly is going wrong here, but I fail to find the place where the actual issue appears.

[2022-01-03 17:42] #7511 closed

[2022-01-03 17:49] Glutwolf commented on #12710
Hello and thank you for your comment @mheon. I have executed the command `podman system reset`. However, the behavior is the same as before.

`podman --storage-driver=overlay run --rm -it xyz` works.
`podman run --rm -it hello-world` DOES NOT work.
`podman start --cgroup-manager=cgroupfs --storage-driver=overlay xyz` DOES NOT work.

[2022-01-03 17:59] kishorekkota commented on #11941
@cpolizzi  Thanks a bunch. This worked like a charm.

[2022-01-03 17:59] rhatdan commented on #10941
@vrothberg PTAL

[2022-01-03 18:02] rhatdan commented on #11941
Is this still an issue then?

[2022-01-03 18:02] kishorekkota commented on #11941
Nope. Can be closed ?

[2022-01-03 18:02] #11941 closed

[2022-01-03 18:16] ctml91 commented on #11941
I don't know how feasible it is but it might be nice to have these managed through a set of flags, so one doesn't need to login the VM and update proxy variables as you switch networks (proxied and not)? Or would the preferred solution to be have two VM's spawned by podman, and have one dedicated for the proxied network and another for non proxied?

[2022-01-03 19:11] cdoern commented on #11786
@jwhonce is "Err' not the right keyword for deleting pods? https://github.com/containers/podman/pull/12164/checks?check_run_id=4694248413

the api docs says it is... https://docs.podman.io/en/latest/_static/api.html#operation/PodDeleteLibpod

[2022-01-03 19:15] slvr32 commented on #12423
I've verified that using a crun runtime with podman 3.3.1 seems to resolve the exec -it failures/stability issues.

I took some time to generate some 'exec -it up/down' metrics (every 5 minutes) for a bunch of hosts where podman containers are running, to quantify the difference between runc and crun stability for several days, and almost all of the containers had repeated exec -it failures with r

[2022-01-03 20:29] momrak commented on #12379
@DesantBucie did you manage to get a working Nix setup for this? I get the same error as you had above only I am running the  ´podman machine start´ command

[2022-01-03 21:05] DesantBucie commented on #12379
@momrak Not at all. I also tried to download from release, but it's the same error.
[code]

[2022-01-03 21:40] abergmeier commented on #9619
Thanks for the pointer. Interesting.
From what I understand (please correct me if wrong) the situation is:

- We have multiple implementations of Container Registries that all handle slightly different in various ways (_quirks_).
- Of all the different package layers (docker*, container*, buildah, skopeo, podman) not one sets out to encapsulate all _quirks_.

[2022-01-03 21:48] mtrmac commented on #9619
My concern is not the existence of quirks, and not _that_ much even the decentralization, but primarily maintainability: https://github.com/containers/podman/issues/9619#issuecomment-932807773 . Centralization might help with maintainability but isn’t sufficient.

[2022-01-03 21:49] DesantBucie commented on #12379
@momrak
It actually looks like issue with nix version of qemu rather than podman.
Although i don't know how exactly but i did it.
<img width="886" alt="image" src="https://user-images.githubusercontent.com/46130107/147983531-bde411e1-0785-42d1-9062-3ac56903fd5e.png">

Steps to reproduce
1. `cd /nix/store/*qemu-6.1.0/share/qemu`
2. `sudo mkdir -p /usr/local/share/qemu/`
3. `sudo mkdir -p /opt/homeb

[2022-01-03 21:50] kishorekkota commented on #12728
I have the same issue as well

[2022-01-03 23:29] QuarkTheAwesome commented on #12339
Not very eventful traces, but here we go:
[conmon.txt](https://github.com/containers/podman/files/7804523/conmon.txt)
[podman.txt](https://github.com/containers/podman/files/7804525/podman.txt)
[ps.txt](https://github.com/containers/podman/files/7804526/ps.txt)
[runc.txt](https://github.com/containers/podman/files/7804527/runc.txt)

Runc and conmon both have very short traces.

[2022-01-03 23:50] gczarnocki opened #12736 "`podman generate systemd` with added `User=` directive for rootless container fails with `PID file is not owned by root.` error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Good morning Podman team. I have the following problem. Trying to run a Kafka pod (a part of the Kafka cluster) as rootless user, inside the container image is also running within rootless user (`UID=1001`). I manage host mounts permissions via `podman unshare` and take user namespaces into c

[2022-01-04 03:21] ginigangadharan commented on #12728
Any workaround for this ?
As I mentioned it was working earlier. !

[2022-01-04 07:46] PavelSosin-320 commented on #12590
The [Christopher Smart post also mentions this issue](https://blog.christophersmart.com/2021/01/31/podman-volumes-and-selinux/) 1 year ago.
I see another issue: btrfs subvolume create works but "subvolume directory" unlabeled at all unlike any other directory in the home area. What getsubids -g pavelsosin
0: pavelsosin 100000 65536 does **100000** mean, user range starting from 100 thousands? Is i

[2022-01-04 09:43] Luap99 commented on #12736
Yes you should move it to `$HOME/.config/systemd/user` and use `systemctl --user ...` as described in [podman-generate-systemd(1)](https://docs.podman.io/en/stable/markdown/podman-generate-systemd.1.html).
I do not know the reasons for this but this came up several times already and the answer was always that this is not supported by systemd.

[2022-01-04 09:43] #12736 closed

[2022-01-04 09:47] gczarnocki commented on #12736
@Luap99, if that was a duplicate - sorry. I will try with `systemctl --user`. Thank you for clarification and response.

[2022-01-04 11:20] Luap99 commented on #12728
It looks podman is trying to connect to the $SSH_AUTH_SOCK address but this is failing.
Can you run `unset SSH_AUTH_SOCK` and try again.

[2022-01-04 12:06] ginigangadharan commented on #12728
@Luap99 that was an amazing tip. Yes, it worked !!!

Thank you so much.

The issue has been resolved :)

[2022-01-04 12:07] #12728 closed

[2022-01-04 14:28] rhatdan commented on #12590
SELinux does not care about users.  Only about XAttrs on files.  If a subvolume directory is unlabled, and this gets used for container storage, then SELinux will block containers from using it.

What getsubids -g pavelsosin
0: pavelsosin 100000 65536
I believe this means that pavelsosin has access to UIDs 100000 and then next 65534 UIDs and can assign it to a user namespace.

[2022-01-04 14:35] ashley-cui commented on #12396
I think this is an issue with how play kube treats secrets, it doesn't go in as an env secret, but rather just an regular env var (https://github.com/containers/podman/blob/aaf90c5596fb2232d915fcd75d4d707d180c1b17/pkg/specgen/generate/kube/kube.go#L597)
@rhatdan We talked about this a while ago with @vrothberg, and a while back we came to the conclusion that play kube secrets were kinda broken and

[2022-01-04 14:47] mheon commented on #12734
Being fixed in #12735

[2022-01-04 15:12] baude commented on #12379
m1's require a patched version of qemu in brew for a little while. if you have a different version of qemu installed, it is likely the issue

[2022-01-04 15:22] cdnB8kn commented on #11941
I would have hoped for passed in parameters (or maybe some other initialization handling/scripting? kind of like a vagrant file? maybe other things are needed beyond proxy?)... Just for a larger dev team, having a set of instructions to configure it every time is... painful (new hires, proxy change, etc).  Especially if you can be in a proxy env and non-proxy environment at different times.

[2022-01-04 15:29] gclawes commented on #11941
Ideally the `HTTP_PROXY`/`HTTPS_PROXY`/`NO_PROXY` and `SSL_CERT_FILE` env vars should be picked up by the `podman machine start` command and automatically be passed into the ignition file.   This is similar to how minikube operates (though I am unsure if it uses ignition):
[code]

[2022-01-04 16:31] matt314 commented on #11941
FWIW, CodeReady containers from RedHat handles this by having config options cover this.
[code]

If that's too much to implement, any chance the machine init could create a config file per machine that environment/arbitrary files could be added to ignition?

[2022-01-04 16:37] mheon commented on #11941
Can you open a feature request issue about this?

[2022-01-04 16:45] mheon commented on #4720
@vrothberg PTAL

[2022-01-04 17:36] gclawes opened #12739 "Pass proxy information into Podman Machine VMs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman often has to run behind an http/https proxy, often in corporate environments.  This proxy may or may not include SSL inspection capabilities, requiring a trusted SSL CA certificate to be added to a system's trust store.

Minikube solves the first part of this by detecting the stand

[2022-01-04 17:36] gclawes commented on #11941
Opened: https://github.com/containers/podman/issues/12739

[2022-01-04 18:06] edsantiago opened #12740 "New race: podman rm -t 0 --all --force: container does not exist in database"
This is starting to hit us badly in CI. Super-trivial to reproduce:
[code]
For reasons not clear to me, it seems to take 10-15 iterations to fail as rootless, but 1-2 root.

CI failures happen unpredictably, in no specific test, so they're very hard to find and classify.

### [sys] 177 podman kill - print IDs or raw input
* fedora-35 : sys podman fedora-35 root host
  * PR #12725
    * [12-31 10:1

[2022-01-04 18:10] edsantiago commented on #10825
Aaaand, reopening.

### [sys] 235 sdnotify : container
* fedora-35 : sys podman fedora-35 root host
  * PR #12725
    * [12-31 10:12](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5935143033503744/html/sys-podman-fedora-35-root-host.log.html#t--00235)

[2022-01-04 18:12] #11507 closed

[2022-01-04 18:32] TristanCacqueray opened #12741 "podman exec does not join the container network namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman exec to join a container does not attach the container network and keep the host netns.
This happens when the target container is started with `--userns keep-id` and `--network container:other-container`.

**Steps to reproduce the issue:**

1. Start the other-container: `podman

[2022-01-04 18:32] TristanCacqueray opened #12749 "podman exec does not join the container network namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman exec to join a container does not attach the container network and keep the host netns.
This happens when the target container is started with `--userns keep-id` and `--network container:other-container`.

**Steps to reproduce the issue:**

1. Start the other-container: `podman

[2022-01-04 18:47] mheon commented on #12741
This makes sense given the way user namespaces work - the second container needs to create a new user namespace, but a process in a user namespace can only use namespaces that were created within that user namespace, so the existing network namespace, created outside the user namespace, is unusable.

What I would expect here is that we error that the options are incompatible given this, instead of

[2022-01-04 18:48] mheon commented on #12739
@baude @ashley-cui PTAL

[2022-01-04 18:50] #12628 closed

[2022-01-04 18:52] #12734 closed

[2022-01-04 18:55] rhatdan commented on #12741
It might be difficult to discover because you need to examine whether or not the first depend container was created in the same user namespace.
Thoughts @giuseppe
Should we force any namespace sharing between containers to not be allowed to modify the user namespace.
If we went the other way.

$ podman run --userns keep-id --name other-container --rm -it ubi8
$ podman run --network container:other

[2022-01-04 18:56] TristanCacqueray commented on #12741
If I remember correctly, the `other-container` needed to be started with the desired target namespace previously (e.g. fedora-33), but it seems like this was no longer necessary in fedora-34. Thus step1 and step2 seems to work as expected. It's the step3 that stopped working recently.

I forgot to mention but this is with rootless podman.

[2022-01-04 19:01] rhatdan commented on #12741
It might partially work, but I don't think it works correctly. Just imagine if you did this with the --pid or --irc namespace, if these are in different user namespaces, then all hell could break loose.

[2022-01-04 19:09] TristanCacqueray commented on #12741
The full use-case is as follow:

- 1. Create an `infra` container to keep the namespace alive when the openvpn container exit
- 2. Start the openvpn container with: `podman run --user 0 --network container:infra --cap-add NET_ADMIN ...`
- 3. Start firefox with: `podman run --user 1000 --userns keep-id --network container:infra ...`
- 4. Exec into the firefox container to setup kerberos ticket: `po

[2022-01-04 19:31] edsantiago commented on #10825
I tried the reproducer again... it failed, after maybe 1.5 hour, but with a different error:
[code]

[2022-01-04 20:36] baude commented on #11383
this is fixed by git commit f21744939cbb69110488c427f0778643d5217170

[2022-01-04 20:36] #11383 closed

[2022-01-04 21:20] rhatdan commented on #12739
@flouthoc PTAL

[2022-01-04 21:24] rhatdan commented on #12741
I don't believe the Kernel will allow this. IE A User Namespace can not join a network namespace created in a different User Namespace.

[2022-01-04 21:26] ctrought commented on #12739
+1 for this, I'm sure a lot of corporate users are looking at podman as an option with the docker grace period ending soon.

[2022-01-04 21:45] edsantiago commented on #10825
Trying to get a faster reproducer (as in, one that doesn't have to pull the `fedora` image), I can't get the `137` error but I get the other two (`failed` and EPERM) very frequently:
[code]
[code]

[2022-01-05 01:38] TheloTheGreat opened #12743 "podman info crashes as non-root"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When run as non-root, the command `podman info` crashes. When run via sudo, it does not crash:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info

[2022-01-05 04:02] grooverdan opened #12746 "remove mask on /sys/dev/block"
The masking of /sys/dev/block was added in 0334b6195820f7261f87a4f4e5d739a6d560f4b2 which constrained the previous /sys/dev masking.

The contents of this filesystem (at least on 5.15.7-200.fc35), is as follows, a bunch of symlinks.
[code]

The locations where these symlinks point to are still accessible in the container:
[code]

The reason this information is useful is that MariaDB uses the major

[2022-01-05 04:17] grooverdan commented on #12746
It doesn't look like moby mask this; https://github.com/moby/moby/blob/master/oci/defaults.go#L90-L101

[2022-01-05 06:26] heyakyra commented on #6015
Sorry to necro this ticket, but this seems like the most relevant discussion I've seen.

@rhatdan

Is `--security-opt label=disable` safer than `--privileged` as @mheon suggests?

I'm looking to be able to run https://github.com/nginx-proxy/nginx-proxy with `podman`. Shouldn't it be possible to do this in a safe way?

I think it would involve a systemd service which invokes something like `podman

[2022-01-05 06:33] PavelSosin-320 commented on #12590
@rhatdan I believe that it is correct: the issue is that btrfs subvolume create command and/or library function are disconnected from SELinux and when containers storage creates container as btrfs  subvolume it has to care about labelling of subvolume "directory" and maybe, its content too. In other words, "create" works but creates something not usable due to SELinux restrictions. Another scenari

[2022-01-05 07:06] momrak commented on #12379
Thank you both @baude and @DesantBucie

@DesantBucie nice! So you only used the default qemu from nix, not a patched one from brew or similar?

Do you know if the patch is only present in the brew version of this @baude  ? In that case it could have been interesting to try and make the same patch available for m1 macs using nix

[2022-01-05 07:15] DesantBucie commented on #12379
I used qemu 6.1.0, gvproxy 0.3 and podman 3.4.4 all from unstable channel.

[2022-01-05 07:51] momrak commented on #12379
I got it working now as well, but with a slightly different approach
I added this dir as a helper binary. Don't quite remember if that was for gvproxy or something else to be picked up correctly.
`~/.config/containers/containers.conf`
[code]

Also changed the actual machines qemu config so that the file it looks for uses a abs path
`~/.config/containers/podman/machine/qemu/podman-machine-default.j

[2022-01-05 08:25] giuseppe commented on #12741
we could teach crun to first try joining all the other namespaces before joining the user namespace, then join the user namespace and the remaining namespaces that could not be joined first.

Let me move this issue to crun and I'll take a look

[2022-01-05 08:52] xfoobar opened #12747 "Cannot use sysctl in pod"
/kind bug

**Cannot use sysctl.net.ipv4.ip_unprivileged_port_start in pod**

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

**Describe the results you received:**
foobar1
foobar2
Error: open /proc/sys/net/ipv4/ip_unprivileged_port_start: Permission denied: OCI permission denied

**Describe the results you expected:**
foobar1
foobar2
foobar3

**Additional information you deem important (e

[2022-01-05 10:57] PavelSosin-320 commented on #12590
Perfect! This issue is on and off starting from Fedora 26 [RedHat bugzilla err 1447750](https://bugzilla.redhat.com/show_bug.cgi?id=1447750), has duplicates in some products and closed due to Fedora 26 EOL without solution.

[2022-01-05 11:08] cyphar commented on #10941
I took a look at this (it's happening with Tumbleweed images). It turns out it just boils down to `util-linux` not being present in Tumbleweed containers -- installing `util-linux` fixes the issue for such containers. The reason why busybox works is because it has an `nsenter` binary (or rather a busybox entrypoint).

However I'm slightly more confused why `nsenter` is necessary at all (and not in

[2022-01-05 11:29] rhatdan commented on #12746
I think this came from https://github.com/containers/podman/issues/7801

[2022-01-05 11:34] rhatdan commented on #12746
You can also do

podman run --security-opt unmask=/sys/dev/block ...

[2022-01-05 11:37] rhatdan commented on #12746
https://bugzilla.redhat.com/show_bug.cgi?id=1772993
Triggered the whole thing, but I am not sure if this is public.

[2022-01-05 11:44] rhatdan commented on #6015
No there is nothing safe about giving a container access to the docker.socket on the Host Period.

https://danwalsh.livejournal.com/78373.html?
https://opensource.com/business/14/10/docker-user-rights-fedora

I believe access to the docker.socket with docker running as root or Podman.socket with Podman runing as root are two of the most dangerous things you can do on a Linux system.  Worse then gi

[2022-01-05 11:55] rhatdan commented on #12747
These worked for me?

[code]

I actually think this does not work the way I would expect.  I would figure the sysctl should only work on the pod and not on the container.  If these containers are in the same Pod, by default they are sharing the network namespace.  So setting this field for each container would alter it for the other containers, which potentially could cause unexpected behaviour.

[2022-01-05 12:06] rhatdan commented on #12590
The last comment in the bugzilla states that it was fixed in the f27 kernel.

@wrabcak  can you get someone from SELinux to look at this?

[2022-01-05 12:09] rhatdan commented on #10941
@vrothberg is on PTO and will be back on Monday, so he should be able to answer.  I think the issue is psgo attempts to show IDs from the User Namespace perspective as well as from the hosts.  So entering the User Namespace is attempting to show what the HUSER versus USER, HGROUP versus GROUP of processes within the container.

[2022-01-05 12:16] rhatdan commented on #12743
Weird that we have not seen this before.  Might be something strange in your cgroup setup.
@giuseppe WDYT?

[2022-01-05 12:21] flouthoc commented on #12739
@gclawes @ctrought Could you please try above PR.

[2022-01-05 12:48] Luap99 commented on #12743
This is already fixed in v3.4, see https://github.com/containers/podman/pull/11463

[2022-01-05 12:48] #12743 closed

[2022-01-05 12:54] wrabcak commented on #12590
Sure,
@omos @plautrba @vmojzis @zpytela PTAL.

[2022-01-05 13:10] Luap99 commented on #12740
I do not understand why we run `podman run --rm ...` followed by `podman rm ...`. Now two processes will try to remove the container (the cleanup process spawned when conmon exits and podman rm). If the cleanup process is faster, `podman rm` will fail because it cannot find the container anymore.

[2022-01-05 13:11] Luap99 commented on #12740
Although this is `podman rm --all`, so I think we should ignore such errors.

[2022-01-05 13:19] edsantiago commented on #12740
Test `teardown()` runs `rm -t 0 --all --force` as a standard way to clean up and restore to known state.

[2022-01-05 13:25] cmoulliard commented on #12011
I did a test successfully on my mac using `limactl start https://raw.githubusercontent.com/afbjorklund/fedora-lima/main/centos-podman.yaml`

[2022-01-05 14:23] mheon commented on #12740
This does strike me as a bug in `podman rm --all`, yeah - classic TOCTOU between database lookup of containers and trying to remove them.

[2022-01-05 14:32] edsantiago commented on #11594
Just reproduced it again on my laptop, again unintentionally via ^C:
[code]
Based on the output of the loop, I'm pretty sure the ^C interrupted this command:
[code]

[2022-01-05 14:33] giuseppe commented on #12749
moved back to Podman

[2022-01-05 14:34] afbjorklund commented on #12011
The new lima version has automatic mounting of the podman.sock, haven't ported that from ubuntu over to fedora yet.

[2022-01-05 14:44] afbjorklund commented on #12011
I'm not sure it is worth the effort, to support `cloud-init` in addition to `ignition` ?

Before that has been done, Podman will only be able to support CoreOS for the VM.

It is easier to just use Vagrant or Lima, if all you want to do is run Podman in a VM ?

Something like: https://boot2podman.github.io/2020/07/22/machine-replacement.html

[2022-01-05 15:27] baude commented on #12379
There is not a way to do this currently in podman.

[2022-01-05 15:34] rhatdan commented on #12749
@giuseppe want to take a stab at blocking this?

[2022-01-05 15:36] rhatdan commented on #12740
We are attempting to catch this error everywhere I looked yesterday.  So this must be berried somewhere deep.

[2022-01-05 15:41] rhatdan commented on #12740
The error is here I believe https://github.com/containers/podman/blob/main/pkg/domain/infra/abi/containers.go#L333-L346

Can you change your script to add --ignore, should fix the problem.

[2022-01-05 15:45] rhatdan commented on #12740
Should --all imply --ignore?

[2022-01-05 15:50] Luap99 commented on #12740
If the error comes from getContainersByContext then ignoring the error is useless since it will only try to remove the containers that were given by name not **all**

[2022-01-05 16:51] unicman opened #12751 "On Mac OS Big Sur & Monterey podman machine starts but doesn't connect"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

brew installed podman on my Mac OS laptop properly. podman init also downloaded fedora image and created podman machine. However podman start remains at Waiting for VM prompt forever.

**Steps to reproduce the issue:**

1. brew install podman

2. podman machine init --disk-size 100 --cpus 4 -

[2022-01-05 16:52] #12155 closed

[2022-01-05 16:56] #12173 closed

[2022-01-05 17:10] #12740 closed

[2022-01-05 17:12] giuseppe commented on #12749
I am fine if we block `--userns` within a pod, but I am not sure about blocking the command reported in the issue.

The user's intentions are clear with the command `podman run --userns keep-id --network container:other-container ...` and the kernel allows that, and we artificially block it.

@TristanCacqueray what is your use case for using both `--userns keep-id` and `--network container:other-c

[2022-01-05 17:36] heyakyra commented on #6015
Thank you for putting it clearly, and those links are very helpful. They both touch on where I was going with my second question, "I'm looking to be able to run https://github.com/nginx-proxy/nginx-proxy with podman. Shouldn't it be possible to do this in a safe way?"

and in the second

I was trying to figure out how safe this is with docker, and whether the severe danger comes only when using po

[2022-01-05 18:18] TristanCacqueray commented on #12749
@giuseppe my use case is to run a web browser with access to the host filesystem (using `--userns keep-id` to avoid issue with writing user owned files) and access to a network namespace (created by another vpn container). Here is the full setup documentation: https://github.com/podenv/podenv/blob/main/docs/howtos/vpn.md

If podman is going to block this combo (as it used to if I remember correctl

[2022-01-05 18:19] mheon commented on #12751
@baude @ashley-cui PTAL

[2022-01-05 18:38] ashley-cui commented on #12751
Are you on a M1 or an intel mac?

[2022-01-05 19:14] unicman commented on #12751
Intel Mac.

On Thu, 6 Jan 2022, 00:08 Ashley Cui, ***@***.***> wrote:

[2022-01-05 21:02] cmoulliard commented on #12011
if using lima will allow on macos to do what we could do using docker desktop, then I'm fine

[2022-01-05 21:43] mheon commented on #12707
@vrothberg PTAL

[2022-01-05 21:53] grooverdan commented on #12746
That's public, the ones it links to aren't, but it seem its sufficiently quoted to follow the story.

So its masked to stop lsblk showing the information? Even though /sys/devices is still there.

Option 3a: With /sys/dev/block masked as a tmpfs, readd symlinks for the major/minor device ids in the container.
with/without extension 3b, mask the symlink targets /sys/devices/.... of all the devices

[2022-01-05 22:09] afbjorklund commented on #12011
If you are happy with Docker Desktop, then by all means do continue to use Docker Desktop...
But if there is something missing in Podman or in Lima, then do open issues about it explicitely.

As far as I know, Docker Desktop allows you to run the LinuxKit distribution - and nothing else ?
So I don't see how Podman Machine would be different in this regard, you get Fedora CoreOS.

[2022-01-05 22:50] edsantiago opened #12753 "New flake: invalid path `etc/hosts`: OCI runtime error"
This is another hard-to-index bug because it appears in multiple tests. It seems to be pod-related:
[code]
Note the missing root-level slash in `etc/hosts`. I don't know if that's a clue or not. I can't reproduce on my laptop.

The first appearance in my logs dates to early September. Below is (I *think*) a list of some logs that show the bug. I haven't confirmed all the links, so some of those ma

[2022-01-06 05:03] Loches525 opened #12755 "how to set podman events streaming mode as false"
podman events defaulty set streaming mode as true, any approach to set it as true cause I want to fetch the event and assign to a variable in shell.

[2022-01-06 06:54] unixfox commented on #11719
Still interesting

[2022-01-06 07:48] cmoulliard commented on #12011
Not really as it only allows to boot a VM running k8s or docker and not buildah and/or podman ;-) and the VM cannot realy be used as a VM to ssh, install software, .... as we can do with vagrant or lima

[2022-01-06 07:49] cmoulliard commented on #12011
Yes but we cannot really use locally the VM to ssh, install software and compile code by example

[2022-01-06 07:51] yitingdc commented on #5403
Any update?

[2022-01-06 08:51] afbjorklund commented on #12011
I think you were supposed to do that in containers, not on the VM.. But anyway, seems off topic.

[2022-01-06 11:30] ydayagi opened #12756 "play kube: missing documentation for what is supported and what is not"
/kind bug

**Description**

I am trying to use podman play kube. It seems that there are some features that are not supported. I could not find documentation that explained the supported sections for pod kind.
Specifically, I am trying to use environment variables with a value from fieldRef.
Pod spec example:
[code]

[2022-01-06 13:01] rhatdan commented on #12753
@giuseppe PTAL
I think we should fix Podman to list the name of the OCI-Runtime
time="2022-01-03T09:50:13-06:00" level=error msg="Starting some container dependencies"
time="2022-01-03T09:50:13-06:00" level=error msg="\"invalid path `etc/hosts`: OCI runtime `crun` error\""
Error: error starting some containers: internal libpod error

[2022-01-06 13:05] afbjorklund commented on #12011
On the off chance that someone would like to make a custom ISO for Fedora, I added some [documentation](https://github.com/afbjorklund/fedora-lima#packages).
Otherwise it will use the regular [Fedora Cloud](https://cloud.fedoraproject.org/) (for OpenStack) image, when running podman with Lima...

But that brings in a lot of overhead, so it is _possible_ to do a more customized "spin" running as a

[2022-01-06 13:23] Luap99 commented on #12755
You can use `podman events --stream=false`

[2022-01-06 13:23] #12755 closed

[2022-01-06 13:57] miladhub commented on #12507
I confirm that it now works:
[code]

Thank you again!

[2022-01-06 14:00] rhatdan commented on #11719
This might be fixed with the new network redesign.

[2022-01-06 14:01] rhatdan commented on #5403
4.0 is supposed to ship in February.  These issues will be tested against netavark to see if it has been fixed.

[2022-01-06 14:08] rhatdan commented on #12756
@umohnani8 PTAL

[2022-01-06 14:16] #12013 closed

[2022-01-06 14:21] xfoobar commented on #12747
It worked normally after reinstalling the system, and I don’t know why

[2022-01-06 14:50] Luap99 commented on #12700
Can you provide a reproducer?
`sudo podman run -p 127.0.0.1:8080:80 -d nginx` and `curl 127.0.0.1:8080` works for me

[2022-01-06 14:58] rhatdan commented on #6015
With Podman you could potentially -volume /var/lib/containers:/var/lib/containers:ro, and be able to do listing of containers.
You would have to disable SELinux to make this work.

# podman run --security-opt label=disable -v /var/lib/containers:/var/lib/containers:ro quay.io/podman/stable podman ps -a
Error: error opening database /var/lib/containers/storage/libpod/bolt_state.db: open /var/lib/co

[2022-01-06 14:59] Luap99 commented on #12730
This error usually means that the port is already binded IRC, can you check that?

[2022-01-06 15:04] rhatdan commented on #6015
@flouthoc WDYT
[code]
Where is the upper layer of the overlay mounted?

Should we move this to a tmpfs /dev/shm?

[2022-01-06 15:04] rhatdan commented on #6015
@giuseppe WDYT?

[2022-01-06 15:05] heyakyra commented on #6015
Thank you, this is all many of us need. Should I file a new ticket or would you like to since you have a better grasp on the needs/scope/limitation?

[2022-01-06 15:05] rhatdan commented on #12749
You could have created the pod with --userns=keep-id

[2022-01-06 15:27] rhatdan commented on #6015
Yes create an issue asking for read/only access to container storage.  I think there is potential to give you this with overlay mounts

[2022-01-06 15:48] flouthoc commented on #6015
This is a loop we already create overlay in storage. The reason is to make easier to maintain and common cleanup for all the overlays.

I think we could add a `tmpfs` in between when `src` is already on an overlay should that make it work ? @giuseppe @rhatdan WDYT ?

[2022-01-06 15:50] heyakyra opened #12760 "Read-only access to container storage (formerly 'Mount docker.sock')"
/kind feature

**Description**

Many containers require read-only access to the docker socket (for example https://github.com/nginx-proxy/nginx-proxy and https://github.com/nginx-proxy/acme-companion) in order to e.g. trigger actions when containers are started with  certain properties, so users have been requesting the ability to mount `/run/podman/podman.sock` as a volume in their containers. Th

[2022-01-06 15:51] heyakyra commented on #6015
I did my best, thanks for all the guidance and explanations

[2022-01-06 16:51] omajid opened #12761 "podman run uses a different image than what was just built by podman build"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I build a container using `podman build` and give it a name like "d", often running the container runs a different container than the just-built one. It seems like the name stays associated with some other container image?

This bug doesn't always happen for me, but when it does, it's repe

[2022-01-06 18:03] slvr32 commented on #12423
A bit off-topic, I also tracked down the runc vs crun issue to the containers-common (noarch, just config) package, where I noticed that there was a fix in Dec. 2020 to not explicitly set a runtime...

https://github.com/containers/common/commit/e50a26fbc55c8e1b482845f89433bf0c463eedfc#diff-f38944fdd6507cc37badbde5c66785bdebb77bd6fa2ea0674cd8117f89e95676

but I'm not sure how the github containers

[2022-01-06 19:43] TheloTheGreat commented on #12743
Thanks, after building podman 4.0.0-dev directly from git today, I can confirm that that version no longer has the crash problem.

[2022-01-06 21:07] TheloTheGreat opened #12762 "Restoring a checkpoint fails: requested static ip not in any subnet on network podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following the sequence from this checkpoint/restore test, restoring a checkpoint fails when podman tries to reassign the static ip to the container:
https://src.fedoraproject.org/rpms/criu/blob/093f8b4513016427781231995f20e1213b722370/f/tests/run-podman-checkpoint-restore.sh

**Steps to repro

[2022-01-06 21:19] flashpixx opened #12763 "Duplicated subdirectory on podman build on OSX"
**Description**

I’m using now podman 3.4.4 under OSX (Big Sur). I’m using podman-compose too, and I get an error, if my Dockerfile is located in a subdirectory (the name of the subdirectory will be duplicated twice in the path). I get the error

[code]

**Steps to reproduce the issue:**

1. Create a directory structure like
[code]

2. run `podman build -t myservice:latest -f ./deploy/myservice.Do

[2022-01-06 21:29] rhatdan commented on #12763
@ashley-cui @baude PTAL

[2022-01-06 21:33] TheloTheGreat commented on #12762
An extra note: if I restore using the --ignore-static-ip flag, then that does correctly restore the container, but on a different IP address.

[code]

[2022-01-06 23:03] hshiina opened #12765 "cgroup is not displayed as shared namespace in pod inspection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman help pod create` displays `cgroup` as one of default values of `--share` flag, which specifies shared namespaces in a pod. However, `cgroup` is not listed in `SharedNameSpaces` of a pod with default values. Even if `cgroup` is explicitly specified in `--share` flag, `cgroup` is not li

[2022-01-07 08:12] giuseppe commented on #6015
now we can specify `upperdir` and `workdir`.  Wouldn't that help in this case as well?

[2022-01-07 08:51] flouthoc commented on #6015
@giuseppe ah yes once this gets merged this should get easier https://github.com/containers/podman/pull/12712

[2022-01-07 08:59] Luap99 commented on #12762
Where does the 172.16.16.X subnet come from? Did you change the default network subnet? Could you provide the full output of `podman inspect` and also `podman network inspect podman`.

[2022-01-07 09:51] riyad opened #12766 "Starting a container via compat API with with `StorageOpt` crashes the server"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Starting a container via compat API with with `StorageOpt` crashes the server with the following error: `runtime error: index out of range [1] with length 1` (see below).

Doing a little digging it seems like decoding the options (by splitting on "=") in [libpod/container_internal.go:454](htt

[2022-01-07 12:11] #12722 closed

[2022-01-07 12:22] mskarbek opened #12768 "[RFE] `podman volume mount|unmount` command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to be able to mount a volume  independently of the container.
Use case: creation of a volume that is then mounted and populated with autogenerated config files before it is attached to the newly created container.
Yes, I know that I can just create directory, put config files

[2022-01-07 12:59] flouthoc commented on #12768
@mskarbek Thanks for creating the issues.

Could we use `volume` with `type=bind` ? https://github.com/containers/podman/pull/12687
It should allow `bind` mount of arbitrary location from `host` as a `podman volume`

[2022-01-07 13:53] rhatdan commented on #12768
Do you want `podman volume mount NAME destination`?

[2022-01-07 13:54] rhatdan commented on #12768
Or would
$mntpnt=$(podman volume mount NAME)
$podman volume umount NAME

Be enough?

[2022-01-07 14:00] mskarbek commented on #12768
@rhatdan this can behave the same way as `podman mount`/`buildah mount` so `$mntpnt=$(podman volume mount NAME)` will be ok.

[2022-01-07 14:03] rhatdan commented on #12768
I am fine with adding it.  Interested in opening a PR?

[2022-01-07 15:17] #12766 closed

[2022-01-07 16:44] flouthoc commented on #12768
@mskarbek @rhatdan
I might be missing something but all the volumes should be already accessible by host. Especially if driver is `local` and for any other driver src of mountpoint must be accessible from host first.

So if you do `podman volume inspect $myvol` we should able to see the mountpoint.

If only `mountpoint` is needed this should be pretty enough right ?
[code]

Again i might be interp

[2022-01-07 16:50] TheloTheGreat commented on #12762
I did not change any of the default settings, this is essentially straight after building podman. I don't know where that subnet comes from, I didn't type that in at any point.

[code]

[code]

[2022-01-07 16:59] Luap99 commented on #12762
It looks like you changed your default CNI config file to a driver we do not officially support. Is there any specific reason you do not use the default bridge?

Anyway I see the problem now. The network does not contain a subnet (I assume you cni config contains the dhcp ipam plugin) and we try to check if the ip is in a given subnet but since there are subnets this check fails.

I think we must

[2022-01-07 17:04] TheloTheGreat commented on #12762
I did not intentionally change any CNI config file. In fact I don't even know what a CNI config file is or where it is. I definitely do want to use "the default bridge", whatever it is. How can I do that?

The closest thing might be that I previously got an older version of podman from the Ubuntu repositories, before uninstalling it and building podman from source. Would that have left over any CN

[2022-01-07 17:10] Luap99 commented on #12762
Check the files in `/etc/cni/net.d` I recommend to use the default config from here: https://github.com/containers/podman/blob/main/cni/87-podman-bridge.conflist

If you never changed that then I have no idea were it came from. It might be worth to check if this is/was shipped by the debian package.

[2022-01-07 17:24] mskarbek commented on #12768
@flouthoc your logic is sound when it comes to the plain `local` volumes, I don't need to mount them, they are just directories, but:
[code]
This is a ZFS dataset with `mountpoint=legacy` declared as a volume in podman. Such dataset will be mounted during container start, the content of that file system is not always available under `"Mountpoint": "/var/lib/volumes/storage/eb712af1-acfa-4eb7-9c99-

[2022-01-07 17:26] jedahan commented on #12763
I am able to reproduce on my local machine as well:

[code]

[code]

[code]

[2022-01-07 17:35] flouthoc commented on #12768
@mskarbek Ah fair got it. You want mounting experience to be more podman oriented. That's a fair request.

[2022-01-07 18:19] rhatdan commented on #12768
@flouthoc Yes,certain non local file systems are mounted (tmpfs, bind, nfs, and fancy docker-volume-plugins) could be mounted.

Currently when  you run a container for the first time with a volume podman mounts the volume in container/storage then setup a bind mount into the container.  @mskarbek is looking to only do step 1, where we do the mount.  All of the code is there to do this, but someone

[2022-01-07 19:05] noracenofun opened #12771 "```podman pod create``` command ignored the default pod infra image specified in containers.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

```podman pod create``` command ignored the default pod infra image specified in containers.conf

also the commands
```podman create --pod new:```
```podman run --pod new:```

[code]
issue exist on CentOS Stream 9 with podman 3.4.3-dev and Red Hat Enterprise Linux 9.0 Beta (Plow) with podman

[2022-01-07 19:39] #12714 closed

[2022-01-07 19:58] TheloTheGreat commented on #12762
Thanks, after replacing my existing /etc/cni/net.d/87-podman-ptp.conflist with that one you linked above, my repro steps above do allow checkpointing to work as expected.

FYI, my previous 87-podman-ptp.conflist looked like this:

[code]

[2022-01-07 20:11] TheloTheGreat commented on #12762
Looking it up, yeah that file I pasted above came directly from the current Ubuntu podman package, podman_3.2.1+ds1-2ubuntu3_amd64.deb , the one we can see here: https://packages.ubuntu.com/impish/amd64/podman

[2022-01-07 21:19] rhatdan commented on #12771
This is working for me on podman 3.4?
[code]

[2022-01-07 21:20] rhatdan commented on #12771
[code]

[2022-01-07 21:34] rhatdan commented on #12762
Could yo uopen an issue with them?

[2022-01-07 21:41] noracenofun commented on #12771
But that's not the issue.

**Issue: podman ignores the configuration of infra_image in the configuration files**

[2022-01-07 22:10] snay2 opened #12774 "`podman manifest add` unable to set os.version"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to create or modify a manifest that includes a Windows image, I am unable to set the `os.version` value in the manifest via `podman manifest add ... --os-version`.

**Steps to reproduce the issue:**

1. Run the following commands:
   1. `podman manifest create public.ecr.aws/u0c8p

[2022-01-07 22:26] samhclark commented on #12751
Same issue. I can add info about the install though, and confirm it on Podman 3.4.4

[code]

That's on macOS Big Sir (11.5.2) on an Intel Mac.

[2022-01-07 23:55] alphabet5 opened #12775 "Error: exec: "qemu-system-x86_64": executable file not found in $PATH after installing via homebrew on MacOS Monterey"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install homebrew

2. run `brew install podman`

3. run `podman machine init`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally

[2022-01-08 00:34] LQss11 commented on #3295
I am not sure if this helps or not but I got the same error trying to start a docker container  and boot it with systemd as init system (PID 1) and solved that adding `--privileged` tag like so
[code]

[2022-01-08 06:18] Taymindis opened #12776 "podman restart container, no more stdout logs"
podman restart container no more stdout logs

/kind bug

Description

## Steps to reproduce the issue:
[code]

[code]

### Why do i think it's a bug,
i have tried `docker` do the same steps, working fine and no issue

[2022-01-08 08:31] sify21 commented on #12702
@ttys3 will this trigger oom error?
I think I have the same problem with `postgres` and `mysql` containers. `podman stats` shows very high memory usage, but `top`, `sar -r` on host doesn't, and after a while the container will be kiiled by `systemd-oomd`.

[2022-01-08 11:05] rhatdan commented on #12775
@ashley-cui PTAL

[2022-01-08 11:06] rhatdan commented on #11088
@elezar any progress?

[2022-01-08 11:12] rhatdan commented on #3295
Run it with Podman and you have no requirement for --privileged flag.

[2022-01-08 11:18] rhatdan commented on #12776
Could you try this against main branch or podman 3.4

I tried your example here and I see logs?

[2022-01-08 11:27] rhatdan commented on #12771
Yes I set this default in my ~/.config/containers/containers.conf
[code]

[2022-01-08 11:32] rhatdan commented on #12774
[code]
This looks like it worked for me?
[code]

[2022-01-08 14:12] noracenofun commented on #12771
**OK but I still get this result**

[code]

[code]

**Only ```podman play kube``` returns the correct result**

[code]

[2022-01-08 15:00] noracenofun commented on #12771
**Same issue on the MacBook Pro M1 and additionally the command ```podman play kube``` does not give the correct result here either**

[code]

[2022-01-08 15:02] slonopotamus commented on #11809
You might want to take a look at [Stevedore](https://github.com/slonopotamus/stevedore) project as a way to install modern Docker engine for Windows containers on both Windows Server/Client.

[2022-01-08 16:07] Taymindis commented on #12776
my server version is

` ubuntu 20.04 `

I can't find any latest version thatn 3.4.2.

And I could see there is a code merged on 3.4.3 to fixed this [issue](https://github.com/containers/podman/issues/12263)

But i can't find a way to upgrade it unless I build from scratch

ref:

https://podman.io/getting-started/installation

[2022-01-09 00:48] EvgenyPrikhodko commented on #12700
Thank you. All work

[2022-01-09 00:48] #12700 closed

[2022-01-09 01:45] dwmarshall opened #12777 "/v3.0.0/libpod/networks/create ignores name"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the API call with `v3.0.0` for `/libpod/networks/create` ignores the `name` parameter, whereas a slightly different API call works.

[code]

**Steps to reproduce the issue:**

1. Use the `curl` examples at the top of the API documentation to send a request to `http://d/v3.0.0/libpod/net

[2022-01-09 04:03] Taymindis commented on #12776
@rhatdan

Any way I can get the 3.4.4 binary or Will it be releasing soon on ubuntu? I saw that version still remain 3.4.2.

[2022-01-09 04:51] vmpn commented on #12339
After spending most of the day debugging and learning podman, conmon and crun code here is what I observed:

NOTE: I actually ran below steps multiple debuggers (delve for podman, gdbserver for conmon and crun) but trying to keep the explanation to key points.

My software versions are (debian testing):

`$ podman --version
podman version 3.4.2
$ conmon --version
conmon version 2.0.25
commit: unkn

[2022-01-09 09:39] PavelSosin-320 commented on #12590
In other words, pavel sosin can access  65354 "nobodies" because id's starting from 100000 belongs to the "nobody" diapazone. I'm not sure that "nobodies" are not restricted by something, like polkitt. It also assumes that user/group ids are long" and used as long in every API invocation. Users created by Anakonda have 16bits length ids. Long UID/GIDs may affect [User namespaces](https://man7.org/

[2022-01-09 10:49] Luap99 commented on #12777
This is the syntax for the new 4.0 version. For version 3 and older you have to use `/v.3.0.0/libpod/networks/create?name=myname`

[2022-01-09 10:49] #12777 closed

[2022-01-09 12:34] Luap99 commented on #12762
This is still an issue with the new network code, we should not error in this case.

[2022-01-09 12:36] Luap99 commented on #12762
It also looks like this was already changed in the debian repo: https://salsa.debian.org/debian/libpod/-/commit/39723afc6b6d8067f63df6a2741cf71a0ce71dee

[2022-01-09 13:12] Gchbg opened #12778 "Cannot run a rootless container as a systemd system service"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

I want to have a systemd system service that runs a rootless container under an isolated user, but systemd rejects the sd_notify call and terminates the service.

[code]

A similar problem was menitoned but not resolved in #5572, which seems to have been closed without a resolution.

Happy to help tracking this down.

**Step

[2022-01-09 13:53] exploide opened #12779 "Cannot give secret to container running in user namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I cannot give a secret (via file) to a container that shall be executed in a new user namespace. The steps to reproduce are executed as root.

**Steps to reproduce the issue:**

1. `printf my-test-secret | podman secret create my_secret -`

2. `podman run --rm -it --secret my_secret --userns=

[2022-01-09 15:50] Taymindis opened #12781 "podman generate kube does not generate `env:` variable"
/kind bug

Description

## Steps to reproduce the issue:
[code]

### output

[code]

env `ABCUSER` variable not found

[code]

[2022-01-09 16:09] winston0410 commented on #8705
Having the same issue today with Oracle free tier instance. A reboot worked.

[2022-01-09 16:26] winston0410 commented on #12651
I am having the exact same issue in NixOS, so I suspect the issue is not limited to Fedora.

[code]

This the version of my podman.

[code]

[2022-01-09 16:57] Luap99 commented on #12651
@winston0410 You have a different issue: `failed to make veth pair: operation not supported`. Does your kernel support veth devices?

[2022-01-09 18:27] winston0410 commented on #12651
@Luap99 Thank you so much for pointing that out. I have just checked the kernal with `lsmod | grep veth`, and  I get nothing, confirming that the `veth` module was missing. I have rebooted(as my kernel version should have it installed  by default, 5.14.4), and it magically worked. I am not sure why it worked after reboot, but for the time being I am fine again. Thanks!

[2022-01-09 18:56] gdm85 opened #12782 "Cannot pause rootless container (cgroup_manager = "cgroupfs"), container cgroup is empty"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using rootless podman, cannot pause a container. All containers have an empty cgroup, which seems to be the root cause of the problem.

System is using cgroups v2 (without systemd) but they do not really seem to be used at all.

**Steps to reproduce the issue:**

This is a stock Debian Bullse

[2022-01-09 18:57] maclean commented on #6604
With the default --log-driver option to podman run, every keystroke is logged to systemd

This even applies to things like pinentry keystrokes.  Running pinentry-curses by hand In a Ubuntu Bionic image,  on a Fedora 35 host, the passphrase is logged:

pinentry-curses
GETPIN
test
ctrl-D

The following is logged, as seen with journalctl -f:
Jan 09 11:42:55 gmlat conmon[314188]: pinentry-curses  > /d

[2022-01-09 19:16] winston0410 commented on #12651
Providing more context for this weird issue. I have to reboot multiple times to enable the `veth` modules in kernel, and I am using the mighty NixOS that should be reproducible, and be identical based on the same configuration. My machine is an Oracle free tier instance. I think the issue might be related with the cloud provider(qemu?), but I am not sure.

[2022-01-10 05:32] unicman commented on #12751
Over the weekend, upgraded laptop to Monterey to see whether the issue gets fixed.

After upgrading OS, following steps are performed:

[code]

In a separate window executed following command:

[code]

It is not clear where did 192.168.127.2 comes from and why the route is not available.

[2022-01-10 06:40] dgibson opened #12784 "System tests are fragile with runtimes other than crun or runc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The podman system tests (`./hack/bats`) in a number of places check for very specific output which comes from the low-level runtime.  This means that they're likely to fail with other low-level runtimes, even if those are operating perfectly correctly.

**Steps to reproduce the issue:**

1.

[2022-01-10 06:41] dgibson commented on #12784
I hope to supply a pull request address this shortly.

[2022-01-10 06:55] dgibson commented on #12784
I have draft patches for this at https://github.com/dgibson/podman/tree/ociplex-test
Note that they need some more work before I'm ready to submit a PR.

[2022-01-10 09:35] vrothberg commented on #12784
Thanks for reaching out and for starting work on it, @dgibson. Much appreciated!

[2022-01-10 09:44] Taymindis opened #12785 "How do communicate podman from server1 to podman from server2"
I am currently designing a podman architecture, if I have 2 vm system with podman support.

how can I communicate each other via cni network? Should I either use `network=host` or `published port` approach, or am I missing out of some podman feature ??

Giving an illustration below, How should I clustered the connection? By using which ip interface?

![image](https://user-images.githubusercontent.

[2022-01-10 09:57] vrothberg commented on #12776
@lsm5 PTAL

[2022-01-10 09:57] #12776 closed

[2022-01-10 09:57] vrothberg commented on #12776
The Ubuntu packages will be updated soon, thanks for pointing it out!

[2022-01-10 10:20] vrothberg commented on #12707
Thanks for reaching out and for providing the reproducer.  I agree with your assessment that this should work and will provide a fix shortly.

[2022-01-10 10:33] vrothberg commented on #12691
I am OK with it.

[2022-01-10 11:47] DesantBucie commented on #12379
@michaelkrasa This is probably due to running qemu x86-64 instead of aarch64.

[2022-01-10 12:06] travier commented on #6604
@maclean Please open a new issue to help us track it.

[2022-01-10 12:11] ConorSheehan1 commented on #12612
Any news on when this will be release?
Still seeing the same issue in latest release [v3.4.4](https://github.com/containers/podman/releases/tag/v3.4.4)

[2022-01-10 12:26] vrothberg commented on #12729
Back from PTO. Here's a fix: https://github.com/containers/common/pull/878

[2022-01-10 12:49] michaelkrasa commented on #12775
I have an issue almost identical to this on M1 Max:
[code]

[2022-01-10 13:54] vrothberg commented on #4720
I do not recommend using `type=simple` for the reasons @mheon has mentioned above.

I do see the stdout in the journal. For instance, a container that does nothing more than `echo 123`:

Are you not seeing that on your machine?

[2022-01-10 14:10] sondregj commented on #12763
Apparent workaround (works for me at least); omit `./` from path.

`podman build -t myservice:latest -f ./deploy/myservice.Dockerfile .` -> `podman build -t myservice:latest -f deploy/myservice.Dockerfile .`

[2022-01-10 14:16] mheon commented on #12782
@giuseppe PTAL

[2022-01-10 14:23] mheon commented on #4900
Same issue. We store the host device layout from the time the container was created in privileged containers, which means any changes result in the container being unable to start.

[2022-01-10 14:23] ashley-cui commented on #12775
Let me update my mac and see if I can reproduce it, it might be a weird path error.

@michaelkrasa, yours seems like a different issue, do you happen to have rosetta installed?

[2022-01-10 14:36] mheon commented on #12612
The fix for this has been in since 3.3.0, so this may be a new bug - can you open a fresh issue?

[2022-01-10 14:38] mheon commented on #12776
I'll dogpile on and say that I definitely recall backporting the fix for this at some point, so it should be resolved on 3.4.4 at latest.

[2022-01-10 14:41] mheon commented on #12785
Theoretically, you could use a multi-tenant-capable CNI driver to do this - CNI was originally designed to work with Kubernetes, so it's definitely capable of this sort of work.

However, Podman in general is very much focused on single-node only use, so I can say that I personally have never seen this done before, and I don't think anyone on the Podman team has much in the way of expertise about

[2022-01-10 14:46] rhatdan commented on #12551
@matejvasek Any progress on this?

[2022-01-10 14:48] rhatdan commented on #12561
@giuseppe Any ideas on this one?

[2022-01-10 14:49] mheon commented on #12778
This is a limitation on the systemd side. They will only accept notifications, or PID files, that are created by or sent by root, for security reasons - even if the User and Group of the unit file are explicitly set to start the process as a non-root user. Their recommendation was to start the container as a user service of the user in question via `systemctl --user`. There have been a few other i

[2022-01-10 14:51] rhatdan commented on #12206
@baude do you have time to look at this?

[2022-01-10 14:52] rhatdan commented on #12143
@vitaliy-sk are you still seeing this issue?

[2022-01-10 14:53] maclean opened #12788 "default logging to systemd is too verbose"
/kind bug

**Description**
With the default --log-driver option to podman run, every keystroke is logged to systemd.  I can't imagine that this satisfies the normal use case.

**Steps to reproduce the issue:**

Running a basic busybox image interactively, and simply typing "exit":

1.  podman run -i --tty busybox

2.  journalctl -f

**Describe the results you received:**
Jan 10 07:40:25 gmlat podm

[2022-01-10 14:54] rhatdan commented on #10927
@edsantiago is this still an issue?

[2022-01-10 14:55] Luap99 commented on #12785
Yeah likely possible with the right cni plugins but this is not really supported by us. I recommend to just forward the needed ports from the host into the container and then connect to the host ip.

[2022-01-10 14:55] #12785 closed

[2022-01-10 14:58] vrothberg commented on #12707
Opened a fix here: https://github.com/containers/common/pull/880

[2022-01-10 15:01] rhatdan commented on #12779
@ashley-cui @vrothberg @giuseppe this is an interesting problem.  Should secrets be stored as world readable?  If they are not,does that mean only Root within a container can use the secret?

If secrets are per container, then we are already copying and this can be fixed by copying to the root of the user namespace.

If not then should we make copies if the secret is in one UserNamespace to anothe

[2022-01-10 15:04] baude commented on #12751
are these all upgrades vs clean installs?

[2022-01-10 15:07] edsantiago commented on #10927
Last seen 12-21:

### Podman init containers [It] podman ensure always init containers always run
* fedora-35 : int podman fedora-35 root host
  * PR #12662
    * [12-21 03:49](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6281099025317888/html/int-podman-fedora-35-root-host.log.html#t--podman-ensure-always-init-containers-always-run--1)
    * [12-21

[2022-01-10 15:08] rhatdan commented on #12781
@umohnani8 PTAL

[2022-01-10 15:08] rhatdan commented on #12781
@Taymindis Interested in opening a PR to fix?

[2022-01-10 15:10] matejvasek commented on #12551
@rhatdan sorry I did't get to this yet.

[2022-01-10 15:21] rhatdan commented on #12185
Closing for lack of feedback.

[2022-01-10 15:21] #12185 closed

[2022-01-10 15:22] rhatdan commented on #11541
@ashley-cui any update?

[2022-01-10 15:30] rhatdan commented on #12691
@LStandman interested in opening a PR for this?

[2022-01-10 15:37] unicman commented on #12751
Heads up ... following worked for me:

[code]

It is not clear why it fails if machine is created with following syntax:

[code]

My laptop has 200GB available. It's i7 quad and 16G memory so should have worked.

But anyway... for now I'm unblocked by using `podman machine init`.

[2022-01-10 15:37] #12751 closed

[2022-01-10 15:44] ConorSheehan1 commented on #3846
yep removing the vm and creating a new one with more space worked, thanks!
[code]

[2022-01-10 15:46] vrothberg commented on #10941
I need some time to look into it since I haven't looked at this code in a long while.

[2022-01-10 15:56] mheon commented on #12765
@cdoern Interested in this one?

[2022-01-10 15:59] LStandman commented on #12691
Sure why not

[2022-01-10 16:11] cdoern commented on #12765
sure @mheon I was dealing with the above PR which this issue seems to be related to.

[2022-01-10 16:21] Taymindis commented on #12781
@rhatdan

Thanks for inviting but I am afraid that I'm not capable to fix it.

[2022-01-10 16:38] jwhonce commented on #12788
@mheon @haircommander @giuseppe

Note conmon is doing the keystroke logging.

[2022-01-10 16:55] #12762 closed

[2022-01-10 17:48] mheon commented on #12788
Would need to be a conmon-level change to log on line, not on character.

I can definitely see why we'd want this for better systemd integration, but I do worry it might compromise some of the other goals of logging (what happens to partial log lines - do we just not record them? Could make debugging containers more difficult...)

[2022-01-10 17:53] #12553 closed

[2022-01-10 18:31] vans163 opened #12790 "podman build --cpuset-cpus= is not working"
/kind bug

**Description**

using `podman build` with `--cpuset-cpus=` does not bind the threads to the physical cores. `podman run` works fine.

**Steps to reproduce the issue:**

[code]
[code]
Observe as all CPUs are flooded at 100% with work.

[code]
Observe as only CPU 0 is flooded at 100% with work.

**Describe the results you expected:**

Expect `podman build` to work equivalent to `podman r

[2022-01-10 18:31] baude commented on #11835
@cdoern can you see this through to completion?

[2022-01-10 18:32] baude commented on #11999
IPv6 is looking good in netavark which should come out in 4.0.  Closing

[2022-01-10 18:32] #11999 closed

[2022-01-10 18:37] baude commented on #11780
@rhatdan I think doing this will confuse our users r/n with all the options out there -- 'podman compose'; and we are also trying to push people to play kube.  wdyt?

[2022-01-10 18:39] baude commented on #11719
should be fixed in 4.0 with netavark, re-open if not.

[2022-01-10 18:39] #11719 closed

[2022-01-10 18:40] baude commented on #9931
netavark and podman 4.x will fix this.

[2022-01-10 18:40] #9931 closed

[2022-01-10 18:40] baude commented on #9931
with aardvark

[2022-01-10 18:41] baude commented on #9444
this will be fixed in 4.0 with aardvark.

[2022-01-10 18:41] #9444 closed

[2022-01-10 18:44] cdoern commented on #11835
sure @baude I'll start working on it this week.

[2022-01-10 18:46] baude commented on #9539
As was said earlier, the behavior of podman follows docker on the default network ... and for a good reason.  What is tricking people here is that compose always makes a new network, which is why the name resolution works.  If *any* change is made, we should consider either doing the same with play kube or having a command line switch for this.  @rhatdan wdyt?

[2022-01-10 18:51] baude commented on #8399
this will work in aardvark with podman 4.0.

[2022-01-10 18:56] dannykansas commented on #12781
@Taymindis is there a corollary feature in Docker (or elsewhere) that you could point to for expectations around this feature?

[2022-01-10 18:59] baude commented on #10205
@vrothberg can you take a look at this?

[2022-01-10 19:00] mheon commented on #5403
No way this makes it into 4.0. In v4.1 we can investigate further to see what sysctl Docker is setting to disable IPv6 (easy) and the exact circumstances where they decide to do this (hard) and then see about adding that to Netavark.

[2022-01-10 19:11] rhatdan commented on #12765
The expected behaviour, as I understand it, is that all of the containers within the Pod should share the same cgroup namespace as the the Pod.  Nothing about the parent cgroup namespace.

@vrothberg @giuseppe do you agree? @haircommander @umohnani8 Is this how Kubernetes works?

[2022-01-10 19:13] rhatdan commented on #12707
Since this got merged into common and common got merged here, I am closing.

[2022-01-10 19:13] #12707 closed

[2022-01-10 19:15] rhatdan commented on #12551
Ok, do you still work to work on it?

[2022-01-10 19:16] vrothberg commented on #12707
Thanks, @rhatdan !

[2022-01-10 19:22] giuseppe commented on #12765
Kubernetes doesn't use the cgroup namespaces on cgroup v1.

The cgroup namespace is used on cgroup v2 (and it defaults to `cgroupns=private`) unless a privileged pod/container is created, in this case it will use `cgroupns=host`.

Thinking more of it, I am not sure a cgroupns makes sense for a pod.  I'd drop it from the default list.

[2022-01-10 19:22] Luap99 commented on #9444
I am not sure if this will be fixed for 4.0, @mheon right?

[2022-01-10 19:25] rhatdan commented on #12781
Docker does not have a generate kube feature.

[2022-01-10 19:40] rhatdan commented on #12781
I just ran a test for this with the main branch and it looks like it works correctly to me. Seems to be fixed
[code]
Should be fixed in podman 4.0, which Release candidates are being generated this week.

[2022-01-10 19:40] #12781 closed

[2022-01-10 19:48] cdoern commented on #12765
so @giuseppe what behavior would you expect from `--share=cgroup`? would the pod (infra ctr) be assigned as the parent or would every container enter the same cgroupNS as the infra ctr? I think the second option makes more sense.

[2022-01-10 19:59] giuseppe commented on #12765
I don't think we should set the same cgroup for different containers.  if the `--share=cgroup` is explicit, then it does what the user intended to do and we share just the cgroupns.  I am suggesting just to change the default to not include it

[2022-01-10 20:48] SebDanielsson commented on #11780
I think that supporting the compose spec would make it conciderably easier for more users to make the switch from Docker to Podman. Compose is awesome👍

[2022-01-10 21:02] ssanchez1-godaddy commented on #12775
Same issue on mine
Error: exec: "qemu-system-x86_64": executable file not found in $PATH

[2022-01-10 21:15] rhatdan commented on #12790
Could you check if buildah works correctly?

[2022-01-10 21:33] haircommander commented on #12788
naively I could also see this being solved by having a `[HIDDEN]` or something replace stdin (optionally) but when we're using a terminal I don't think we can differentiate between stdout and stdin so I don't think that'll work.

@mheon yeah I would really like to avoid buffering as it would really complicate the code for processing output. plus in this case, we're only solving half the problem (e

[2022-01-10 21:42] dwmarshall opened #12796 "it's difficult to find API documentation for specific release"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

See #12777 in which it is very difficult to determine the API for the version of podman I am using.

The API links in documentation point to https://docs.podman.io/en/latest/_static/api.html and there's no way to change version as one can ordinarily do on https://docs.podman.io/en/latest/ whe

[2022-01-10 21:47] rhatdan commented on #9539
I think we should do it by default and match docker-compose.

[2022-01-10 21:55] snay2 commented on #12774
I tried it on a linux machine with podman version 3.0.1 and it worked, like you described.

However, when I run these commands on a Mac, it doesn't work. Are there other things I should try to get that environment to work?

[2022-01-10 22:19] rhatdan commented on #11780
Well docker-compose works with Podman socket now.
The question is whether or not we take compose and make it a plugin under podman compose command.

[2022-01-10 22:23] rhatdan commented on #12774
Can you get newer versions on the MAC, this could be a remote API problem.

[2022-01-10 22:38] desilinguist commented on #12751
What's interesting is that I have the same issue where it _seems to_ hang at "Waiting for VM" on my M1 MacBook Pro but if I run `podman machine ssh` in another terminal, I am able to ssh just fine. Very strange.

[2022-01-10 22:44] snay2 commented on #12774
I’m running 3.4.4 on the Mac (both client and server), which is the latest release if I understand correctly.

[2022-01-10 23:25] #12771 closed

[2022-01-10 23:27] mheon commented on #10205
We can't just do slirp, this also applies to root - needs to be in Podman itself.

[2022-01-11 00:04] martinetd commented on #12707
@vrothberg thanks!
I'm not sure the fix works for the example I described however -- if it was a pull problem, having a search registry would make no difference as the image doesn't exist on the registry anyway? I think it's stuck in another part that disable inexact match depending on the unqualified-search-registries setting.

I've just recompiled the tip of main branch right now and can still r

[2022-01-11 01:26] FilBot3 commented on #9539
To clarify, you're saying that Podman should match what `docker-compose`/`podman-compose` do in creating a network with DNS enabled so that Pods can communicate with each other?

[2022-01-11 01:43] cyphar commented on #10941
A quick update from looking at this again:

This happens no matter what userns mode you use, so long as the container uses user namepsaces you hit this issue.

The `nsenter` is coming from github.com/containers/psgo, seemingly podman top hasn't joined the user namespace of the container. It seems that either `podman top` should join all of the namespaces (including the user namespace) or `psgo` sh

[2022-01-11 02:34] cdoern commented on #12765
but currently all `--share=cgroup` does is set the pod as the cgroup parent.  The other namespaces function differently like the PID namespace for example, when `--share=pid` is passed all containers in the pod default the the first container's (infras) pid namespace.

Either way we need to establish the difference between `pod.config.UsePodCgroups`vs `pod.config.UsePodCgroupNS`  why they both exi

[2022-01-11 07:56] vrothberg commented on #10205
I am busy with SIF but can have a look as soon as I find time.

[2022-01-11 08:00] aklajnert opened #12799 "Copying certs doesn't work if certs are in subdirectories"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A freshly added feature implemented in #12709 doesn't support keys in subdirectories within `certs.d`.
See example structure in the [docker documentation](https://docs.docker.com/engine/security/certificates/):

[code]

**Steps to reproduce the issue:**

[code]

**Describe the results you rec

[2022-01-11 08:02] vrothberg commented on #12707
Thanks for coming back, @martinetd!

The fixes for this specific issue are not yet vendored into Podman it seems. Try the following to reproduce:
* `go get github.com/containers/common@main`
* `make vendor; make podman`
* Re-run reproducer

It will work now. The fix for the issue was to massage the pull-policy enforcement. Previously, the policy was enforced to _always_ in the presence of a custom

[2022-01-11 08:08] martinetd commented on #12707
It looks like I had misunderstood @rhatdan 's "common got merged here" as vendoring in podman, doing it manually works :) (I'm in no particular hurry so that'll get done when it gets done, no worry, was just a misunderstanding)

Thanks for the fix and the explanation!

[2022-01-11 09:05] Loches525 opened #12800 "why podman start exit with 125 in a crontab job"
I want to have a container monitor script to auto start container if container was down. I run podman stop to shut down a container in advance. Then I set the job into crontab, the podman start command will failed with an exit code of 125, rather than 0. The crontab job is set under root, and the start command in the script is running normally with exit code of 0 if I directly run "bash test_start

[2022-01-11 09:08] cyphar commented on #10941
It should also be noted that this behaviour means that `podman top` is relying on code inside the container as part of its operations, but it would be trivial for a malicious container to create a bad `nsenter` binary that returns different results. I don't know how hardened psgo is against bad input, but at the very least this could result in `podman top` returning bad information to the caller.

[2022-01-11 09:37] xunpan opened #12801 "cgroup behavior is not consistent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
cgroup behavior is not consistent in my environment
[code]

**Steps to reproduce the issue:**
Ubuntu
1. put current shell into a cgroup
[code]
[code]
2. run a container with DBUS_SESSION_BUS_ADDRESS. The configured path cannot be accessed by rootless podman
[code]

all podman related processes

[2022-01-11 09:39] chafidz0000000 commented on #12751
Mine was solved by changing the default podman system connection.
When I run `podman system connection list` it seems that podman still using my old connection configuration as the default (running using Debian-minimal on VirtualBox, and the virtual machine has been removed a few months ago).
Running `podman system connection default podman-machine-default`(or whatever the podman machine name you'

[2022-01-11 09:57] xunpan opened #12802 "podman command display warning for systemd even cgroupfs is specified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. a root usesr run podman info in cgroupv2 environment with default congfiuration
[code]
[code]

This shows that `--cgroup-manager` works as global argument.

2. however for non root user, it seems not true but with warning message.
[code]

That's fine. Tha

[2022-01-11 10:51] rhatdan commented on #12774
I just ran podman 3.4.4 against this script, with a reset storage and it works for me.
[code]

[code]

[2022-01-11 10:59] rhatdan commented on #10955
I believe this is now fixed in the main branch.  You should get a loud warning if you are attempting to use overlay2.

[2022-01-11 10:59] #10955 closed

[2022-01-11 11:00] rhatdan commented on #6045
@mheon @Luap99 will this work in 4.0?

[2022-01-11 11:00] rhatdan commented on #5805
@AkihiroSuda Any progress?

[2022-01-11 11:02] rhatdan commented on #4123
@vrothberg @mtrmac where are we on this?

[2022-01-11 11:09] rhatdan commented on #9539
Yes I think that makes sense.  If I create multiple Pods within the same kubernetes.YAML, would it be assumed that they can communicate?

[2022-01-11 11:10] daiaji opened #12803 "After I changed the username, podman didn't work."
[code]
Should I delete my containers and images now?

Or edit bolt_state.db?

Is there no utility that will solve my dilemma?

[2022-01-11 11:13] rhatdan commented on #12765
Do me --share=cgroup would mean that containers within the POD all share the same cgroups.  --share without cgroup means they don't, IE Each container gets its own cgroup.  Default should be --share=cgroup.

Lets talk about this as the Water Cooler today.

[2022-01-11 11:19] Luap99 commented on #6045
No, I am not sure what docker does in this case.
It would be helpful if someone could provide more details, e.g device type, additional properties, ip address assignment, etc..
Also how is this device routed on the host, are there any special firewall rules?

[2022-01-11 11:28] idleroamer opened #12804 "API: Wrong definition of docker compatible API in podman swagger"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I know there has been substantial effort into providing docker compatible API in podman 2.0 but it seems the swagger/OpenAPI definition of those APIs are not updated accordingly.
The only swagger definition of podman I could get my hand on https://storage.googleapis.com/libpod-master-releases

[2022-01-11 11:43] rhatdan commented on #12799
Care to open a PR to fix this?
@flouthoc PTAL

[2022-01-11 11:50] aklajnert commented on #12799
I was thinking of doing that, I hope I'll be able to do that this week.

[2022-01-11 11:51] rhatdan commented on #12800
Do you see anything in the log files?
Can you do this with the --restart option?

[2022-01-11 11:53] rhatdan commented on #12801
@giuseppe PTAL

[2022-01-11 12:11] rhatdan commented on #12803
Yes easiest to just podman system reset, you could try to edit the database.
Not something we will fix.

[2022-01-11 12:11] #12803 closed

[2022-01-11 12:13] rhatdan commented on #12804
Care to open a PR to fix this?

[2022-01-11 12:14] flouthoc commented on #12799
Oh nice finding. It should be a small change. @aklajnert Should i assign this to you ? No pressure you can assign it back to me if you are busy.

[2022-01-11 12:17] aklajnert commented on #12799
@flouthoc - please assign it to me. I should be able to work on it until the end of this week, but I'm a bit rusty with Go so we'll see how it'll turn out.

If I'll manage to fix it, is there a chance that the fix will make it into `4.0`?

[2022-01-11 12:22] giuseppe commented on #12801
rootless Podman cannot use cgroups with cgroupfs, so there are no new cgroups created.

When running with systemd, rootless Podman is able to create cgroups and move processes around.

[2022-01-11 12:22] #12801 closed

[2022-01-11 12:22] flouthoc commented on #12799
@aklajnert Yes sure afaik this will be in `4.0`. @mheon could tell this better though.

[2022-01-11 12:34] flouthoc commented on #12803
@daiaji Have you tried doing `sed` i.e `find and replace` on database. I am not sure if that will work but worth a try.

[2022-01-11 12:36] vrothberg commented on #4123
I've no idea to be honest. We're in bug-scrubbing mode for months.

[2022-01-11 12:39] baude commented on #9444
if not, we should move this issue there

[2022-01-11 13:06] matejvasek commented on #12551
@rhatdan I'll try to look at it this week, but if there is anybody who wants take feel free to reassign.

[2022-01-11 13:49] rhatdan commented on #12799
Yes we need this quick (End of month at latest).

[2022-01-11 14:07] rhatdan commented on #12551
@jwhonce Do you have time?

[2022-01-11 14:14] cyphar commented on #10941
https://github.com/containers/psgo/pull/92 should resolve the issue, though I'm not quite sure how to test whether the mapping functionality works. I couldn't figure out how to get the mapping functionality to work with the `bin/psgo` sample binary even on HEAD.

[2022-01-11 14:16] Luap99 commented on #12800
The best way to monitor a container is using systemd units, check out the `podman generate systemd` command.
If you get a 125 exit code you should get a error message on stderr. We need this to understand your issue.

[2022-01-11 14:17] mheon commented on #12799
Assuming this lands in the next ~3 weeks it should make it into 4.0

[2022-01-11 14:25] desilinguist commented on #12751
Thanks @chafidz0000000! I tried the following:

- Ran `podman machine start` which "hangs" on "Waiting for VM"
- Ran `podman system connection default podman-machine-default` in another terminal.
- Running `podman system connection list` shows that the change did take place.

However, the `podman machine start` command is still hanging even after a restart. Of course, like I said in my previous co

[2022-01-11 14:37] cdoern commented on #12765
I cannot attend watercooler today because of travel but let me know what you decide @rhatdan @mheon

I think as it currently stands we share the cgroup parent and not the actual cgroup NS. What does having the same cgroup parent mean for the containers in the pod as compared to just being in the same cgroup NS? I am not sure what the expected behavior is or if I am correct in my assumption here.

[2022-01-11 14:52] vrothberg commented on #10205
I had a look. The code has changed substantially in the meantime reducing the risk of a collision. However, if _really_ need to make sure that a given host port is assigned only once to a container, all of this needs to happen _inside_ libpod and locked to avoid a race condition on one seemingly open port.

@Luap99 can you confirm?

[2022-01-11 14:53] rhatdan commented on #12751
Podman is waiting for output back from qemu, which is it never getting for some reason.

[2022-01-11 15:07] Luap99 commented on #10205
The correct solution to this is to not assign host ports on container creation, they should only be assigned at runtime meaning every time you restart the container you get new host ports. Docker does this btw!

However doing this will be super complicated for us, we would need to store ports with host port 0/empty and then when we start the container assign free ones from the host.
Ideally we wou

[2022-01-11 15:21] daiaji commented on #12803
@flouthoc But unfortunately, the ~/.local/share/containers folder has been deleted by me.😅

[2022-01-11 15:23] flouthoc commented on #12803
Whoops !!! then `reset` is the only option I guess.

[2022-01-11 15:30] #12739 closed

[2022-01-11 15:42] flouthoc commented on #12739
@gclawes @ctrought ^

[2022-01-11 15:43] mtrmac commented on #4123
No change for a long time: We have the _feature_ in `registries.conf` `credential-helpers`, but we don’t have the _compatibility_ with the Docker `credsStore` field.

The default of storing `auth.json` on /tmpfs , and only updating that file, interacts pretty badly with a global `credsStore` field in `auth.json`. It’s easy enough to write code that reads that field but the UX is somewhere between

[2022-01-11 15:45] Romain-Geissler-1A opened #12808 "Unexpected error "Cleanup volume: volume is being used by the following container""
/kind bug

**Description**

It seems that the removal of one container which actually uses the volume of another one leads to unexpected "Cleanup volume: volume is being used by the following container" errors.

**Steps to reproduce the issue:**

1. Create a dummy dockerfile, using a volume:

[code]

2. Build this dockerfile:

[code]

3. Run a first container from this dockerfile, that will sleep

[2022-01-11 16:10] jgato commented on #12395
I can confirm the real problem was an IP Region Ban. The Docker command info was very precise.

After checking with quay.io team, I have solved the issue of my ip region ban because of an outdated DDBB. But I still think that podman returned error would be more clear. Forbidden 403 make you think on accessing a privated repo, or credentials... But the real problem is a region ban problem. Docker c

[2022-01-11 16:13] boaz0 commented on #12768
@rhatdan can I work on this?

[2022-01-11 17:01] tdobrovolny opened #12809 "Add dependencies to `podman generate systemd`"
/kind feature

**Description**
A commonly generated service unit configuration file contains `network-online.target` and mounts for `/var/run/container/storage` dependencies only. The container often needs other dependencies to run, and these must be added to the generated file manually.

I suggest adding the following options to the `podman generate systemd` command, which would represent the app

[2022-01-11 17:07] ydayagi commented on #12756
To be clear, I used k8s kind Pod and not Deployment.
Here's a list of paths in podSpec that I tested and did not work for me:
- container.env.valueFrom.fieldRef
- container.env.valueFrom.resourceFieldRef
- container.lifecycle
- container.livenessProbe
- container.readinessProbe
- container.startupProbe
- container.resources

If possible, I would appreciate it if someone could verify my findings.

[2022-01-11 17:09] benatshippabo opened #12810 "Vscode docker extension has trouble connecting to Podman"
Hi, so I ran the following commands:

[code]

And it seems to work fine when testing in the cli with `podman` and `podman-compose`, but when I try to integrate Podman with the vscode Docker extension and the Remote Containers extension, that is where I start encountering trouble.

For the record, I have the following configs set in attempt to get everything working:

[code]

And then I restarted t

[2022-01-11 17:11] benatshippabo opened #12811 "Equivalent command for `docker context`"
There does not seem to be an equivalent command in Podman for `docker context`. Various vscode extensions use this in some form such as the vscode Docker extension.

_Originally posted by @mheon in https://github.com/containers/podman/discussions/12745#discussioncomment-1948110_

[2022-01-11 17:30] will opened #12812 "rootles_storage_path results in OCI permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

I think? I've done a lot of searching, and don't see much info on people using `rootles_storage_path` so it could just be me using it wrong. At the very least hopefully this puts more things to search out there on this setting.

**Description**

I'm trying to move rootless container storage to a different dri

[2022-01-11 19:16] justin-f-perez opened #12815 "podman-machine-stop should block until the machine is in the target state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

# Description

The interface for `podman machine start` and `podman machine stop` are inconsistent. The former blocks until the machine is in the target state, while the latter does not. (NOTE: this inconsistency is why I labeled this a bug and not a feature request.)

`podman machine stop` behavior causes ma

[2022-01-11 19:21] #11351 closed

[2022-01-11 19:43] rhatdan commented on #4123
I think we should require registries.conf for this or registries.conf.d/file.

[2022-01-11 19:44] rhatdan commented on #12768
Yup

[2022-01-11 19:54] rhatdan commented on #12809
Please open a PR to add them.

[2022-01-11 19:57] rhatdan commented on #12811
@baude PTAL

[2022-01-11 19:59] rhatdan commented on #12811
@benatshippabo interested in working on it?

[2022-01-11 20:04] rhatdan commented on #12812
First thought would be SELinux?
$ sudo semanage fcontext -a -e $HOME/.local/share/containers /dat/containers
$ restorecon -R -v /dat

[2022-01-11 20:09] KoxSosen opened #12816 "Can't copy files to rootless container using `podman cp`."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Debian 11, and follow the rootless install guide.

2. Create a named volume.

3. Start a container with the `-v named_volume:/path/` command option, and the ` userns=keep-id` flag. Make sure to use an image that sets an unique user that is not pre

[2022-01-11 20:14] rhatdan commented on #12815
@baude PTAL
@justin-f-perez Interested in opening a PR to fix?

[2022-01-11 20:16] will commented on #12812
Thanks @rhatdan I tried to turn off SELinux with `setenforce 0`. The behavior seems the same with both 1 and 0

[code]

And just to be sure I tried the two commands you gave, but it also has the same error after trying to do `podman run`

[2022-01-11 20:20] rhatdan commented on #12812
Does podman version of podman info work?

[2022-01-11 20:22] rhatdan commented on #12812
And is /dat directory and its children owned by the podman user?

[2022-01-11 20:26] giuseppe commented on #12782
cgroups are not used by rootless when running with cgroupfs.   You need to setup one manually and then use `--cgroup-parent` if you really want to use them

[2022-01-11 20:27] #12782 closed

[2022-01-11 20:45] mheon commented on #12811
The full suite is documented at https://docs.docker.com/engine/reference/commandline/context/

They seem to be vaguely analogous to our `podman system connection` commands, but with additional features on top.

[2022-01-11 21:15] #10360 closed

[2022-01-11 21:16] justin-f-perez commented on #12815
@rhatdan After some digging: Does the implementation of `podman machine stop` on the main branch block until completion? (If no one else answers this question before things slow down at work, I'll try to get podman setup from the main branch to answer it for myself- but this could be several weeks away)

If yes: this issue could be closed or left open for a small documentation PR (I could submit a

[2022-01-11 22:10] jwhonce commented on #12811
@mheon @baude

After a quick review, I think we should target this for 4.1+. If we do not implement the deprecated flags/fields then our `system connection` data appears to be subset of the `context` data. Implying no breaking changes required, just adding fields or aliases to fields, and commands.

This would also allow us to encapsulate the connection/context handling in a c/common package. Some

[2022-01-11 22:23] QuarkTheAwesome commented on #12339
I think @vmpn is onto something; here's crun on my system:
[code]
Note fd number 4 in the second argument there, which is exec.fifo:
[code]
If something else is meant to have that open, there's no evidence of that:
[code]

[2022-01-12 01:05] xunpan commented on #12801
@giuseppe

Thanks for your quick response.

So, if rootless cannot use cgroupfs, it does not create new cgroup. It is what I expected in my case. Is that a designed behavior?
( If not, what is the official way to stop creating new cgroups for the podman. )

[2022-01-12 06:52] afbjorklund commented on #12815
I think that was the original request:
* https://github.com/containers/podman/issues/11542

[2022-01-12 08:04] #12779 closed

[2022-01-12 08:38] giuseppe commented on #12339
that is used to stop the container creation until `crun start $CID` is used.

When you are in that state, can you try running `crun start $d4debd36d65972e893e35d033d46d58865d31b3adf05425a193e15efe2ade8df` and see what happens?

[2022-01-12 08:40] giuseppe commented on #12801
with rootless it is just a necessity.  We cannot handle cgroups if we are not on systemd, or if it is not already manually configured and then you can force it with `--cgroup-parent=`.

If you want to disable creating new cgroups, you can try `--cgroup-manager=disabled`.  It is supported only by crun though.

[2022-01-12 08:44] vrothberg commented on #12816
Thanks for reaching out! I've not seen this specific error yet. Can you try with a more recent version of Podman?

[2022-01-12 09:02] gdetrez commented on #11081
@mheon Any tips on how I can further debug the issue?  Or should I open a different issue to track this since I don't get the same error message?

[2022-01-12 09:30] gdm85 commented on #12782
@giuseppe thanks, I start to understand things better. Shall we update documentation about this? I could not find anything (my bad if documentation is already clear and I am failing to find/interpret it).

Current docs say (https://docs.podman.io/en/latest/markdown/podman.1.html?highlight=cgroupfs#cgroup-manager-manager):

Instead it could say:

The in-comments documentation in containers.conf cou

[2022-01-12 10:05] zhangguanzhang commented on #12800
[script]
test_start.sh
[code]

[2022-01-12 10:11] giuseppe commented on #12782
@gdm85 are you interested in opening a PR to improve the documentation?

[2022-01-12 10:11] will commented on #12812
I'm not sure what this mean, unless "of" a typo of "or". If that is the case, yes both work. I have the output of both in the first post. The output for `podman info --debug` is in a details details section since it's long. If you mean some other command though, please let me know.

No, everything is root up until the that directory. However I think the permissions of each directory is correct at

[2022-01-12 10:18] gdm85 commented on #12782
Sure, why not. I am just new around here: would changing some file under `docs/` in this repository be sufficient? (and perhaps the default `containers.conf`, if I manage to find it).

The Wiki does not seem to contain much about this so I guess I do not need to improve it.

[2022-01-12 10:34] will commented on #12812
And then going for each level of the path in the error message `/dat/containers/storage/podman/volumes/750a724b32fd9cac637b0e828a2184a54d1bd6aa7e3f202937c7b45cee5256e7/_data"`

[code]

And then `_data` is empty

The owner of the _data directory is suspicious to me

[2022-01-12 10:34] QuarkTheAwesome commented on #12339
`crun` seems to exit (no more process, conmon still runs though), and the `exec.fifo` file is removed. Nothing shows up in the podman debug log - it still fails with a timeout error. Here's the files out of `/run`, maybe that helps?

[podman.txt](https://github.com/containers/podman/files/7853790/podman.txt)
[config.json.txt](https://github.com/containers/podman/files/7853788/config.json.txt)
[sta

[2022-01-12 10:35] elezar commented on #11088
@rhatdan I wasn't able to get to this at the end of last year, but I will spend the next couple of days getting started on this. There was also some work done on the CDI tooling in container-orchestrated-devices/container-device-interface#39 that I will look at integrating if required. I will open PRs as neccessary.

[2022-01-12 10:41] QuarkTheAwesome commented on #12339
[code]
strace:
[crun.log](https://github.com/containers/podman/files/7853850/crun.log)
Despite podman not seeing it, it does actually appear to have worked? Note the `write(2, "root@56d3a3b2de50:/# ", 21)   = 21
` right at the end - so it does spawn bash in the container. I don't know if the broken link between crun and podman is expected when manually intervening like this.

[2022-01-12 11:02] idleroamer commented on #12804
@rhatdan Thanks for quick reply.
Hopefully I can help with some of those but can't image short-term to be able to help with all.
I appreciate some guide where to start. Like how those APIs are generated, I can't locate them in this repo.

[2022-01-12 11:35] umohnani8 commented on #12756
@ydayagi thanks for the issue, I am working on updating the man pages with info on the fields that are currently supported. We are continuously adding support for more fields, please feel free to open issues for specific fields or even a PR :)

We only support env from secret and configmap right now. The fields you posted above are not supported yet.

[2022-01-12 11:42] JayDoubleu opened #12823 "`podman rm -f` doesn't remove container when exec on container is in use."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman rm -f` doesn't remove container when exec on container is in use.

**Steps to reproduce the issue:**

1. Create container

2. run podman exec -it /bin/bash on it

3. run podman rm -f <container>

**Describe the results you received:**
[code]

**Describe the results you expected:**
podm

[2022-01-12 11:53] giuseppe commented on #12339
Thanks for trying that out.  It is not expected to work when doing it manually.

It shows that crun is just waiting for `crun start` before starting the container.  The hang is happening either in conmon or in Podman.

[2022-01-12 11:54] vrothberg commented on #12823
Thanks for reaching out! I am unable to reproduce, unfortunately.

[2022-01-12 11:54] giuseppe commented on #12339
could you attach a debugger to podman and conmon to see where they are stuck?

[2022-01-12 11:54] vrothberg commented on #12823
@mheon, any suspicion?

[2022-01-12 11:56] JayDoubleu commented on #12823
I'm able to reproduce on toolbx containers.
1., `toolbox create`
2. `toolbox enter`
3. `podman rm -f <toolbox container id>` ( from separate terminal )

I'll try to create some podman containers with flags used by toolbx (pid=host etc) to see if I can reproduce there as well.

[2022-01-12 11:58] giuseppe commented on #12782
yes thanks, that would be enough.

[2022-01-12 12:07] vrothberg commented on #10941
With containers/psgo#92 merged, we can close the issue. It'll get vendored before we cut a new release.

[2022-01-12 12:10] giuseppe commented on #12765
sharing the same parent means all the containers end up under the same cgroup, e.g.:

- /sys/fs/cgroup/path/to/parent/container_1
- /sys/fs/cgroup/path/to/parent/container_2
- /sys/fs/cgroup/path/to/parent/container_3

not sharing the cgroup namespace, means each container sees something like:

[code]

I am not sure sharing the cgroupns makes any sense.  Why would a container sees its cgroup paths

[2022-01-12 12:13] #10941 closed

[2022-01-12 12:52] QuarkTheAwesome commented on #12339
Here's podman:
[code]
Attempting to attach to conmon is proving difficult, gdb keeps hitting me with this doozy:
[code]
All I can tell you so far is:
[code]
which being entry 30 in the backtrace may prove misleading. Every other entry is a bare address :F

[2022-01-12 13:03] QuarkTheAwesome commented on #12339
Sorry about that, got it to work by attaching as root:
[code]

[2022-01-12 13:19] will commented on #12812
I tried running `podman system reset` both as the podman user and with `sudo`, then completely deleted `/dat/containers/storage/podman` and recreated it with `sudo install -d -o podman -g podman -m 750 /dat/containers/storage/podman`.

Then running `podman run -dt -p 6379:6379/tcp docker.io/redis`

[code]

So the hash is different, which is reasonable. But the `_data` dir is still owned by 166534

[2022-01-12 13:37] rhatdan commented on #12811
We could handle this like we do with podman buildx and attempt to hide the implementation.  IE if a user has a script that executes it will work, but we don't document it.

I am not sure how complex it is.

[2022-01-12 14:06] brnosouza commented on #11874
Still relevant.

[2022-01-12 14:17] rhatdan commented on #12815
@flouthoc @afbjorklund @baude Do we know if qemu is fully down at that point.  Or are we just removing Podman's ability to communicate with it?

[2022-01-12 14:18] mheon commented on #11081
Full logs from a Podman API server (`podman system service --log-level=debug -t=0`) with Compose attached to it would help a lot.

[2022-01-12 14:22] baude commented on #12815
not blocked on main ... i'm looking into it.

[2022-01-12 14:28] mheon commented on #12823
Are the logs you provided complete? Does Podman just hang after that, or does it keep going?

It seems like an exec session process is ignoring SIGKILL, which means it's probably a zombie?

[2022-01-12 14:33] JayDoubleu commented on #12823
Thanks correct. It just hangs there doing nothing. When I exit the toolbox container it removes it straight away

[code]

Right after I exit the toolbox.
[code]

[2022-01-12 14:36] mheon commented on #12804
@idleroamer They live in https://github.com/containers/podman/tree/main/pkg/api/server - for example https://github.com/containers/podman/blob/main/pkg/api/server/register_exec.go#L11-L76 has full swagger for our Docker-compatible Exec endpoint.

Please be aware that only the endpoints marked "compat" (e.g. on line 11 of the snippet I linked) are Docker-compatible, the others are Podman-specific a

[2022-01-12 14:38] mheon commented on #12823
Toolbox containers aren't `--pid=host` last I checked, so it does make sense, killing the entire container forces the kernel to unwind the PID namespace and remove all processes in it, which forces the termination of the hung processes.

We shouldn't be hanging on exec sessions that fail to die, that does seem like a bug.

[2022-01-12 14:44] vrothberg commented on #10941
Thanks for checking!  I am not (yet) convinced there's a security issue since we joined the user namespace and mount namespace of the container. But I may be off. Can you elaborate how we could escalate? We should probably move over to email (rothberg@redhat.com) to not paste an attack here.

[2022-01-12 14:47] cdoern commented on #12765
ok @giuseppe, I see some possible solutions here:

1) we just amend the pod inspect code to show that cgroup is shared when the containers are using the pod as cgroup parent
2) we add some other flag for if people want all containers in the pod to be in the same cgroupns rather than share a cgroup parent (I agree this does not make much sense but it might be useful for some...).

[2022-01-12 14:49] mheon commented on #12765
`--share=cgroup` needs to force sharing of the actual cgroup namespace; having it not do this is very confusing for all involved, I think. Changing the CLI might be a breaking change, but fortunately we have a few more weeks of that left.

Keeping the same defaults as current (cgroup namespace unshared, pod cgroup shared) seems reasonable, let's just refine the CLI experience so that `--share` onl

[2022-01-12 14:51] afbjorklund commented on #12815
I don't think it does a controlled shutdown at least, because "stop" completes in like a millisecond

[2022-01-12 14:53] mheon commented on #12808
I think this is expected; the second container wants to remove any anonymous volumes (the volume mounted in from the first container, in this example), but it can't because the other container is still active.

@rhatdan What do you think?

[2022-01-12 15:06] Romain-Geissler-1A commented on #12808
As a user, when I use "--rm" I intend to remove the second container, not really the volume.

I indeed created the volume as an anonymous one on purpose, because I indeed really wanted to make this volume disappear automatically when all containers using it disappears. However when only one of them disappears, I don't expect podman to write down an error like this.

Actually some of my users are n

[2022-01-12 15:09] Romain-Geissler-1A commented on #12808
In other words, I would find this error expected on a command like "podman volume rm" where the intend is really to remove volumes, but not when removing a container (which happens to use shared volumes).

[2022-01-12 15:34] cdoern commented on #12747
so @rhatdan just to clarify, this is something that only needs to be set in infra, not passed down on a container by contaner basis? Currently working on this and running into some namespace issues upon implementation

[2022-01-12 15:36] umohnani8 commented on #10800
Was able to reproduce this with podman v3.3.1 on Rhel 8.5 and the patch suggested by @giuseppe above fixes the problem!
@giuseppe is opening a PR, which should be backported to 3.2 and 3.3 once merged.

[2022-01-12 15:56] rhatdan commented on #12765
SGTM

[2022-01-12 16:11] mheon commented on #12802
@giuseppe PTAL

[2022-01-12 16:29] mheon commented on #12796
@baude was looking into this

[2022-01-12 16:36] gdetrez commented on #11081
@mheon here's a log for `docker-compose up` and `docker-compose exec`: https://gist.github.com/gdetrez/75ea01a1133cc905c33278030125ea44
Tell me if you need more.

[2022-01-12 16:56] giuseppe commented on #12802
we check the cgroup driver too early, the following patch solves the issue for me:

[code]

I'll open a PR

[2022-01-12 17:07] jwhonce commented on #5431
For work-around/current state please see, https://github.com/containers/podman/blob/2cdab5d53923784e72020d70ee9375518f19f9b6/troubleshooting.md#29-container-related-firewall-rules-are-lost-after-reloading-firewalld

[2022-01-12 17:10] edsantiago opened #12829 "podman image scp should not use machinectl"
Followon to #12827.

`podman image scp`, when run as root, uses machinectl. machinectl is evil:
[code]
That is: (1) it always spits out a useless unwanted blank line; and (2) it does not propagate exit status. This is actually documented:
[code]
I don't know anything about `machinectl` nor `systemd-run`. I don't know why it was necessary to use `machinectl` in this code. Someone with that expertis

[2022-01-12 17:23] leahneukirchen opened #12830 "docker incompatibility: commit --change is split on spaces."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `changes=` parameter of  `/commit` of the compat API is parsed incorrectly, making it impossible to use some dockerfile commands.

**Steps to reproduce the issue:**

1. Send a request `POST /v1.40/commit?changes=EXPOSE+9999&container=$someid`

2. Alternatively use docker to speak to podma

[2022-01-12 17:24] mig8447 commented on #11666
@ruckc How did you convert the vm to WSL2?

[2022-01-12 17:38] ruckc commented on #11666
@mig8447

Using the wsl command line utility in PowerShell/command prompt.

`wsl --set-version <distro name> 2`

[2022-01-12 17:38] Luap99 commented on #12829
I looked at this and if I remember correctly systemd-run will not create the needed login session only machinectl does.
Not getting the correct exit code is definitely a problem, maybe we can combine both machinectl and systemd-run, e.g. run `machinectl sleep` to spawn the session and then use systemd-run to connect to it.

[2022-01-12 17:38] mig8447 commented on #11666
In case anyone wonders, you can list the WSL version of your distros using:
[code]
And then to upgrade, you can run
[code]

[2022-01-12 17:39] mig8447 commented on #11666
Thanks @ruckc, I had just figured it out

[2022-01-12 17:54] Luap99 commented on #12829
Mhh `systemd-run --machine user@.host ...` always errors for me so I have no idea how this is supposed to be used instead of machinectl.

[2022-01-12 18:43] mheon commented on #11081
What Podman version are you on? I swear we fixed this (the cgroup parsing issue) recently. If not, I think we can zero in on that as the most likely culprit, nothing else jumps out - the network configuration issues are a bit worrying but are tied to other requests that seem to succeed.

[2022-01-12 19:12] #11515 closed

[2022-01-12 19:44] leahneukirchen commented on #12830
Upon further investigation, it shows that libpod doesn't split the string at all, but expects multiple occurrences of the parameter. So it behaves differently than docker in yet another way.

[2022-01-12 20:18] giuseppe commented on #12802
opened a PR: https://github.com/containers/podman/pull/12834

[2022-01-12 21:29] Folaht commented on #12730
What do you mean by binded and how to check that?
Do you mean to say it's already in use?
And which IP/port would have to be checked?

[2022-01-12 21:50] #12802 closed

[2022-01-12 22:19] edsantiago opened #12838 "podman-remote build, with dockerignore, unexpected (wrong) diagnostic"
https://github.com/containers/buildah/pull/3576 added an error message and a test for it. This is failing in podman-remote (not podman).

The error emitted by buildah and regular podman:
[code]
The error emitted by podman-remote:
[code]
(line breaks added for readability)

[2022-01-12 22:25] crabmanX commented on #12669
Thank you für the quick reply. I now usw --uidmap on the pod and it works as expected.  Do you want me to keep this issue open as a reminder to have --pod and --uidmap conflicting?

[2022-01-13 01:06] xunpan commented on #12801
@giuseppe
Thanks. It is clear to me now.

[2022-01-13 01:16] xunpan opened #12839 "when cgroup is disabled for a rootless user, podman failed with message of operating cgroups"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
If cgroups is disabled, podman should not fail to operate any cgroup. But currently, it failed with chown to cgroup root directory.

**Steps to reproduce the issue:**

1. put the shell into a test cgroups
[code]

[code]
2. when run podman with cgroups disabled, it works for common case.
[code]

[2022-01-13 03:07] LGinC commented on #12710
openvz cannot run container, I tried `docker` and `containerd`, not work, podman too.

[2022-01-13 08:18] gdetrez commented on #11081
I'm on 3.4.4, installed from fedora's repositories.
[code]

[2022-01-13 11:01] ConorSheehan1 opened #12841 "podman build with relative path to dockerfile in subdirectory fails with "no such file or directory" on Mac"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman build` with a relative path to a Dockerfile in a subdirectory fails.
`docker build` works fine in this case.

**Steps to reproduce the issue:**

1. Create a Dockerfile in a subdirectory
[code]
2. `podman build -f ./test/Docker .`

Describe the results you received:
`Error: sta

[2022-01-13 11:02] ConorSheehan1 commented on #12612
@mheon was a slightly different issue, my bad. logged here https://github.com/containers/podman/issues/12841

[2022-01-13 12:38] christophemacabiau opened #12842 "strange error on restart "docker-entrypoint.sh": executable file not found in $PATH"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
when I restart a container I get this error message:
[code]
but the container is running correctly

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

**Have you tested with the

[2022-01-13 13:02] jnovy commented on #11594
Reproduced this again in RHEL8 gating tests:

`Error: error removing container 033f3b8a1eec95570e68aacc12035c56113d9e180eb3e83bbe6a48ee05f7ce71 root filesystem: 1 error occurred:
	* unlinkat /var/lib/containers/storage/overlay/240447b311711770c5d6a17a15f9cc6ec7284a98d05dccce841abec60bbdb7ab/merged: device or resource busy
[ rc=125 (** EXPECTED 0 **) ]
`

[2022-01-13 13:16] rhatdan commented on #12800
Do you see anything reported on stderr in syslog from this podman command?

podman start test 2> /tmp/errors.log

Might show you something as well.

I have a feeling this might be SELinux.

[2022-01-13 13:17] rhatdan commented on #11088
Awesome thanks.

[2022-01-13 13:19] rhatdan commented on #12756
Yes Issues and PRs are very welcome.

[2022-01-13 13:37] rhatdan commented on #12812
podman unshare cat /proc/self/uid_map

I think something is going wrong in your user namespace.

Can you chown the _data directory to be owned by the Podman user.

How are you becoming the podman user?

[2022-01-13 13:51] rhatdan commented on #12808
I agree this looks like a bug to me.  I would not expect a container that uses --volumes-from to attempt to remove the volume.

[2022-01-13 14:01] rhatdan commented on #12747
Correct, the containers will not be allowed to do this.

[2022-01-13 14:05] rhatdan commented on #11835
What should be the name of the option?

--noleak (And block the leaking of /etc/resolv.conf and /etc/hosts into the container?  Any others?

Or just
--nohosts

[2022-01-13 14:11] rhatdan commented on #11835
Well we already have --no-hosts, so --share-hosts might be better.

[2022-01-13 14:39] Henry78 opened #12843 "Rename pods"
Allow renaming of pods, i.e. by adding a podman pod rename command.

[2022-01-13 14:40] rhatdan commented on #12282
I am fine with this being Podman only, but I think you are going to have a hard time separating them.

[2022-01-13 14:47] rhatdan commented on #12830
Is this a different API IE the libpod api or the compat api or requiring multiple occurrences?

[2022-01-13 14:52] rhatdan commented on #12669
Yes, @cdoern Can you open a PR to stop --uidman/--gidmap on the client if you are in a Pod.

[2022-01-13 14:53] rhatdan commented on #12550
@umohnani8 Did you ever look into this?

[2022-01-13 15:03] leahneukirchen commented on #12830
Official Docker API: one parameter, split on newline
Podman compat API: one parameter, split on whitespace (definitely wrong)
Podman libpod API: multiple parameter, not split at all

I guess the libpod API is ok, albeit different.

[2022-01-13 15:31] cdoern commented on #12669
Sure @rhatdan, I'll just put it at the cmd level

[2022-01-13 15:44] #12747 closed

[2022-01-13 15:50] mheon commented on #11081
Alright, that's definitely new enough that it should have been fixed... I'm going to reopen this bug given all of this, we have a clear issue identified.

[2022-01-13 16:18] mheon commented on #12839
@giuseppe Any chance this one's in crun? The error seems to implicate the OCI runtime.

[2022-01-13 17:07] dpward opened #12850 "Ordering of `--network` flags is disregarded"
/kind bug

When creating a container, multiple CNI networks can be connected to it, using this syntax (or alternatives):
[code]

However, the ordering is disregarded when [parsing the network flags](https://github.com/containers/podman/blob/v4.0.0-rc1/pkg/specgen/namespaces.go#L330-L445). This happens because it returns the network names as keys in an unordered map. So the networks are always adde

[2022-01-13 17:12] Luap99 commented on #12850
Is that actually an issue, there was never a guarantee that the interface name is consistent with the ordering of the network names. That this worked before is more of an implementation detail than a feature.

I don't think we should fix this but if you really need predictable interface names you can use `--network net1:interface_name=eth0` and so on.

[2022-01-13 17:18] Luap99 commented on #12850
You can already set the interface name in the `types.PerNetworkOptions` struct so you do not need to alter the function signature at all. But I still do not think we want this. What is your actual use case that would require this?

[2022-01-13 17:27] dpward commented on #12850
You can do that - but still if you don't, we would expect the interface ordering on the command line to be preserved. This affects the ifindex as well. (We are running routing software in containers.)

Could you please be a bit more clear about why this is a bad idea, rather than something that simply is not implemented?

[2022-01-13 17:50] Luap99 commented on #12850
It's not a bad idea I just don't think that guaranteeing this is worth the extra maintenance in the long run. The naming thing can be fixed easily and we could add a test to prevent regressions but this will not fix the ifindex. In the backend we use maps so if we loop over the map the ordering is not deterministic.

[2022-01-13 17:55] dpward commented on #12850
It would be very useful to me. I've examined the backend implementation. All we would need to do is to have a slice containing the interface names in the correct order, and iterate over that to obtain the values from the map in the order we want.

Does that sound reasonable if I prepare a PR?

[2022-01-13 18:15] Luap99 commented on #12850
Are you talking about only the naming or also the ifindex?

If you need the stable ifindex, what would be the correct order, interface names sorted ascending?
I am not sure were you looked to implement this but if you do so you have to do it for both cni and netavark.
What happens with podman network connect/disconnect?
I still do not think the added complexity is worth the extra maintenance.

[2022-01-13 18:15] Luap99 commented on #12850
@mheon WDYT?

[2022-01-13 18:15] edsantiago opened #12851 "CI VMs: need git-daemon"
I'd like to point out that the new `git://` tests are not actually running. That's because they require `git-daemon` which is not installed by default.

@cevich I know you've been busy building new CI VMs, and I'm sorry to catch this so late, but when you next build VMs could you please make sure they rpm- and apt-install `git-daemon`?

@jnovy same thing needs to happen with buildah and podman spe

[2022-01-13 18:24] dpward commented on #12850
I'm talking about just adding the interfaces in the order they appear on the command line. As a result the first interface will automatically have a lower ifindex than the second, etc. Note that commands like `ip link` show the interfaces in ifindex order.

[2022-01-13 18:38] mheon commented on #12850
Would the ability to manually set interface names (e.g. `--net cni-podman1:ifname=eth0 --net cni-podman2:ifname=eth1 ...`) be acceptable? I'm a little iffy on making ordering in the CLI a critical part of the interface, but I definitely see how consistent interface naming is useful

[2022-01-13 18:43] dpward commented on #12850
Right now we have no way to control the ifindex ordering. It depends on when the interface is created, not what name we reassign it. So creating them in the order they appear on the command line would matter.

To give just one example of why this can be useful, the `ip link` command displays the interfaces in ifindex order - and if the container has dozens of interfaces, that matters a lot more. (

[2022-01-13 19:10] rhatdan commented on #12536
Since we never got further feedback, I am going to close.

[2022-01-13 19:10] #12536 closed

[2022-01-13 19:25] #10800 closed

[2022-01-13 19:27] cdoern commented on #10800
@giuseppe @mheon does this mean I can start working on the resource limit pod creation flags again?

[2022-01-13 19:32] cdoern commented on #12765
so to be clear, this bit: https://github.com/containers/podman/blob/main/libpod/runtime_ctr.go#L354-L388 needs to be modified to utilize the `pod.config.UsePodCgroupNS` as well as `pod.config.UsePodCgroup` and `pod.config.UsePodCgroup` should continue to function how it does but `pod.config.UsePodCgroupNS` (currently dead code) puts the container in the same cgroupNS as infra?

[2022-01-13 19:32] baude commented on #12132
Any chance the operation system went to "sleep" with the vm running prior to the error?

[2022-01-13 19:35] baude commented on #11847
@jwhonce have you seen any change in the upstream library on this one? did we report it?

[2022-01-13 19:41] guillaumerose commented on #12495
No, not yet. It's not easy to reproduce. I need to let my Mac machine alone running and doing things several days I think..

[2022-01-13 19:42] baude commented on #12841
@cdoern Would you have time to knock this out quick?

[2022-01-13 19:43] cdoern commented on #12829
There was a version without machinectl, I will go back and see if I can find that code. We can always just error out if `su` does not work.

[2022-01-13 19:54] baude commented on #12810
can you provide more detailed instruction on how to set this up?  I have not used this before.  For example, I have no idea what to do with the config you provided.

[2022-01-13 19:55] baude commented on #12775
@michaelkrasa i would guess you do have rosetta installed which is why you are seeing calls to the intel qemu system.

[2022-01-13 19:57] cdoern commented on #12841
sure, I will take a look

[2022-01-13 20:16] cevich commented on #12851
Actually once we're past updating to a new OS version, building updated images becomes boring/routine.  In any case, almost always the real challenge is actually getting the target repo.'s CI to pass with the updated images - though recently that's been pretty smooth as well.

I can't add those w/o also building new images.  But we can ignore the result if you wish (assuming it builds successfully

[2022-01-13 20:18] cevich commented on #12851
...k, there ya go.

[2022-01-13 20:33] benatshippabo commented on #12810
Thanks for looking into this @baude, here are the steps to insert the settings:

1. `cmd shift p` to access the command menu
2. type "settings" into the search and then select the "Preferences: Open Settings (JSON)" option
![image](https://user-images.githubusercontent.com/66273043/149404865-706ad3e3-1e5c-4f48-87c7-af2f03acd76e.png)
3. once you have that json file open, you can just append the spe

[2022-01-13 21:18] baude commented on #12810
then what?

[2022-01-13 22:28] benatshippabo commented on #12810
And then install the docker extension, you can do this by
1. clicking on the extensions icon
2. searching docker for the extension
3. once installed, please click on the docker extension and then you will get the ENOENT error message
![image](https://user-images.githubusercontent.com/66273043/149418926-b143085a-bdf3-459f-9b7b-254054f5c6ee.png)

[2022-01-14 01:54] QuarkTheAwesome commented on #12339
I might have to distrohop away from Kionite/Silverblue because of this and an unrelated flatpak issue (both of which are pretty critical to getting any work done on these distros) - is there any other information I can give before risking being unable to reproduce? Coredumps, anything like that?

[2022-01-14 02:32] Loches525 commented on #12800
Thanks, it works. How do you know that😺

[2022-01-14 03:03] wswind commented on #12236
Here is how I set fstab to mount  tmpfs
[code]

[2022-01-14 07:24] martinetd opened #12854 "robustness: podman image list fails with `Error: error locating item named "manifest" for image with ID "xxx"`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to list my images today failed with this error:
[code]

**Steps to reproduce the issue:**

1. Not sure how I got there :/ Looking at the timestamp I was happily building images around that time (podman build ...), I probably hit ^c on some of these? and some partial cleanup fudged thin

[2022-01-14 08:28] giuseppe commented on #12765
I don't think https://github.com/containers/podman/blob/main/libpod/runtime_ctr.go#L354-L388) should be changed.  It sets the cgroup and it should not look at `pod.config.UsePodCgroupNS` at all.

Correct, `pod.config.UsePodCgroupNS` should put the container in the same cgroupNS as infra.

[2022-01-14 08:40] fredr opened #12855 "Segfault when running from bazel"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

A gist for setting up and reproducing the error
https://gist.github.com/fredr/dd0e5c3639fa109df82471292d6bc8c3

1. Download BUILD and WORKSPACE to a folder

2. In that folder, run:
[code]

**Describe the results you received:**
[code]

**Describe the results

[2022-01-14 10:57] weitlich commented on #12630
Hi all, thanks for trying to help me.
My system admins have upgraded podman to version 3.3.1.
Since then, it works as expected.

[2022-01-14 10:57] #12630 closed

[2022-01-14 11:28] zhangguanzhang commented on #12800
This is a very common problem with Linux, just like the first contact Linux is searching to withdraw from the interaction of the VI command.
/close

[2022-01-14 11:28] #12800 closed

[2022-01-14 12:08] #12669 closed

[2022-01-14 12:12] #12841 closed

[2022-01-14 14:13] mheon commented on #10800
No, we still don't have support for setting resource limits, this just resolves a bug related to cgroups.

We should really talk about this during planning and get it prioritized, though.

[2022-01-14 14:26] mheon commented on #12855
@vrothberg PTAL, I think this one's in libimage

[2022-01-14 14:50] Luap99 commented on #12850
I am not sure how you want to fix this but it is not possible to keep the cli order in the backend since it is stored as a map. You could sort by the interface name but this would still not match the cli ordering if I would use `--network net1:interface_name=eth1 --network net2:interface_name=eth0`.

Just the naming change is simple if that is enough for you.

[2022-01-14 15:30] mheon commented on #12850
I suppose we could automatically add `interface_name` in order when we first parse into the maps (if it's not explicitly set)

[2022-01-14 16:04] Luap99 commented on #12850
@mheon Yes that is easy but he also wants the ifindex to be in the same order and this depends on the order in which the interfaces are created

[2022-01-14 16:34] mheon commented on #12850
Ahh. Yeah, that would be more difficult.

[2022-01-14 16:38] hellt commented on #6866
Hi @rhatdan
which buildtags will disable the following errors?

[code]

[2022-01-14 17:11] wswind commented on #11666
Works on fedora wsl too, thanks.  Can't understand why buildah has anything to do with this warning.

[2022-01-14 17:24] rhatdan commented on #12855
Podman prefers the / be mounted -rshared.  This could be triggering the issue.

[2022-01-14 17:38] dpward commented on #12850
In the [libpod API](https://docs.podman.io/en/latest/_static/api.html#operation/ContainerCreateLibpod), we already have the `cni_networks` attribute, which is an ordered list of network names to be used in the container. If we specify that, then we can add the networks order.

The documentation says that the new `Networks` attribute is supposed to be used in favor of that, although `cni_networks`

[2022-01-14 17:46] rhatdan commented on #6866
I have no idea.  @mtrmac @giuseppe PTAL

[2022-01-14 17:49] hellt commented on #6866
@rhatdan I got a message from my colleague, that he fixed it with pinning the image-spec module version https://github.com/srl-labs/containerlab/pull/674/commits/509ff34dbcc00603f90c7c233f72c9a83b5054cd

[2022-01-14 17:52] rhatdan opened #12866 "It seems podman doesn't read "remote" in config by now"
### Discussed in https://github.com/containers/podman/discussions/12864

<div type='discussions-op-text'>

<sup>Originally posted by **hsupu** January 14, 2022</sup>
I set my `containers.conf` as below but it didn't work.

[code]

I believe that the `podman` should behave like `podman -r` by default if the remote flag is on.

This feature is [documented](https://www.mankier.com/5/containers.conf).

[2022-01-14 18:05] Luap99 commented on #12850
The API level doesn't matter here, we are talking about the backend. It is stored as map in the db so there is no way to keep the order. We would need to change the types and db to make this work which is not worth the effort also podman 4.0 is about to be released very soon so there is no time to change this.

`cni_networks` is for backwards compatibility only
`network_options` is only used for s

[2022-01-14 18:13] hellt commented on #6866
so it seems containerd 1.5.9 has `image-spec 1.2.0` as a requirement
podman doesn't work well with `image-spec 1.2.0` emitting the errors above

by pinning image-spec to `github.com/opencontainers/image-spec v1.0.3-0.20211202193544-a5463b7f9c84` we managed to get `containerd 1.5.9` and `podman 3.4.4` to work

[2022-01-14 19:02] rhatdan commented on #6866
Yes we are hoping image-spec has a new release soon so we can all get back on the same page.

[2022-01-14 19:09] rhatdan commented on #12843
@mheon WDYT?

[2022-01-14 19:11] rhatdan commented on #12830
Care to open a PR to fix?

[2022-01-14 19:14] dpward commented on #12850
I realize it's a bit more involved than at first look, but I'd still like to figure out what a workable solution would be here.

To provide another example, let's say I have two `host-device` networks. If attaching the first one fails, then podman won't attempt to attach the second. When these networks are returned to the host, they don't have the same configuration they had originally. Having det

[2022-01-14 19:28] baude opened #12869 "It seems podman doesn't read "remote" in config by now"
### Discussed in https://github.com/containers/podman/discussions/12864

<div type='discussions-op-text'>

<sup>Originally posted by **hsupu** January 14, 2022</sup>
I set my `containers.conf` as below but it didn't work.

[code]

I believe that the `podman` should behave like `podman -r` by default if the remote flag is on.

This feature is [documented](https://www.mankier.com/5/containers.conf).

[2022-01-14 20:07] mtrmac commented on #6866
FWIW after https://github.com/containers/image/pull/1433 , other Go modules that require `image-spec 1.2.0` should no longer cause a downgrade and break the build.

[2022-01-14 22:21] patrickdung opened #12872 "Port not listening on host when PODMAN_USERNS=keep-id is used"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After testing out the setting in https://github.com/containers/podman/discussions/12848
(remove all pod/containers) and update setuid/setgid.

Now I found if I start a container with PODMAN_USERNS=keep-id, the port is not listening on the host. I can't find it in netstat. Previously it is list

[2022-01-14 22:21] kbul commented on #11903
Hello. It started work again. Not sure how it happened. I did not configure anything specific. Anyway, thank you for handling the issue.

[2022-01-14 22:21] #11903 closed

[2022-01-14 22:22] scato opened #12873 "winget install podman removes winget from PATH"
/kind bug

**Description**

I just installed podman on Windows 10 using the following command:

[code]

After that, I started getting the following error:

[code]

I managed to get winget back into my PATH again, but when I uninstalled podman and installed it again later, I got the exact same error. What's also insteresting is that when I went to add the path environment variable again (which is c

[2022-01-14 23:28] jwhonce commented on #12869
Tracked by #12866

[2022-01-14 23:28] #12869 closed

[2022-01-14 23:32] jwhonce commented on #12830
@leahneukirchen I believe the libpod API makes the most sense. But a fix for the compat API would be great. Are you interested or should I work on it?

[2022-01-15 07:31] eriksjolund commented on #12778
Previous discussion: https://github.com/containers/podman/discussions/9642
It contains links to some issues.

[2022-01-15 10:50] szabolcsdombi opened #12874 "podman run -v destination path is normalized for the wrong platform"
First, Thank you for this great project!

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a local computer with windows and podman-remote client installed.
I have a remote server with Ubuntu 20.04 and the podman.sock enabled with root.

I wanted to try if mounting a volume works through the remote client. (this does not work with do

[2022-01-15 12:55] daiaji opened #12877 "This image seems to use containerd, I've given some privileges, but it doesn't seem to work."
https://www.redhat.com/sysadmin/podman-inside-container
I followed this post to disable some security options.
`sudo podman run -d --name=wxedge --cap-add=sys_admin,mknod --device=/dev/fuse --security-opt label=disable --security-opt seccomp=unconfined --net=macvlan --tmpfs /run --tmpfs /tmp -v /media/wxedge_storage:/storage:rw  onething1/wxedge`
However, some errors are still reported when the im

[2022-01-15 14:55] #12799 closed

[2022-01-15 14:57] rhatdan commented on #12574
@adrianreber @MrErr Can this issue be closed now?

[2022-01-15 15:01] rhatdan commented on #12533
@Luap99 Did you get a chance to look at this?

[2022-01-15 15:02] rhatdan commented on #12437
Since we got no more info, I am going to close.

[2022-01-15 15:02] #12437 closed

[2022-01-15 15:03] rhatdan commented on #11533
This seems to be more of a discussion then an issue.  Moving to discussion.

[2022-01-15 15:19] leahneukirchen commented on #12830
There are more issues with the compat API. It seems to parse the body for a container config, but never uses it after:
https://github.com/containers/podman/blob/2cdab5d53923784e72020d70ee9375518f19f9b6/pkg/api/handlers/compat/images.go#L131

I don't have time to go down this rabbit hole for now, I switched our software to use the libpod API for commit.

[2022-01-15 17:03] andreluisos commented on #10207
Would this be possible to expose the mount to other containers in rootless?

[2022-01-15 18:55] andreluisos opened #12879 "Expose bind mounts from one container to another in rootless mode"
/kind bug

/kind feature

**Can't expose bind mounts from one container to another in rootless**

I got two test containers doing the same thing. The second container, however, is trying to mount the mounts from the first container using "--volumes-from" in rootless mode.

The folder is created inside the second container, but nothing inside.

[code]

I can see the test1 directory in the test2 con

[2022-01-15 19:39] #12567 closed

[2022-01-16 07:58] pinghe opened #12883 "The podman does not support the socks5h protocol"
[code]
failure

[code]
success

Differentiate socks5h from socks5. In a proxy string, socks5h:// means that the hostname is resolved by the SOCKS server. socks5:// means that the hostname is resolved locally.

[2022-01-16 12:59] Gchbg commented on #12778
Thank you both. For now I've worked around it by managing the service under the user's systemd which is clunky to say the least. I don't understand systemd's security argument - if the process is run as a given user, why would systemd not allow that user's process to send sd_notify? Who else could? But I guess this is no flaw of podman.

#9642 mentions some code changes that need to happen to podm

[2022-01-16 20:10] baude commented on #12873
@jwhonce i believe we fiddle with the path after install of podman on windows right?

[2022-01-16 20:35] scato commented on #12873
I think https://github.com/containers/podman/blob/3404ad042def1c02872f66836feae19c814901a4/cmd/winpath/main.go#L104 is where this happens.

[2022-01-16 20:44] scato commented on #12873
The weird thing is that my path still includes %PATH% afterwards, but not the rest.

[2022-01-17 07:28] ThorManager opened #12884 "Does podman have cluster mode?"
Is there a cluster mode? Because our environment is not suitable for k8s, are there other cluster solutions? Such as docker's swarm？

[2022-01-17 08:06] afbjorklund commented on #12884
There is https://www.nomadproject.io/docs/drivers/podman

[2022-01-17 08:21] fredr commented on #12855
Is this something I could test? I dont have sudo rights inside the sandbox, so I can't run `sudo mount --make-rshared /` from within it.

I did figure out a bit more how to debug the [bazel sandbox](https://docs.bazel.build/versions/main/sandboxing.html). By adding --sandbox_debug all the sandbox files will be saved after execution, and --verbose_failures, I get the failing command, including how

[2022-01-17 08:49] vrothberg commented on #12855
It's a Podman-side issue. It seems we're calling the libimage runtime without having initialized it; the nil deref is on the runtime object. I guess @rhatdan is on point.

[2022-01-17 08:58] fredr commented on #12855
[code]

I should also mention that podman works just fine outside of the sandbox

[2022-01-17 09:59] vrothberg commented on #12883
Thank you for reaching out.

Please provide the requested data in the issue template. Can you share the output of `podman info --debug`? `socks5h` support is fairly new in Golang (https://github.com/golang/net/commit/395948e2f546cb82afa9e1f6d1a6e87849b9af1d).

[2022-01-17 10:35] vrothberg commented on #12778
Yes, there is _some_ progress. The main PID is now communicated via sd notify but there are still some remaining issues. For instance, `%t` resolves to the root's runtime dir - even when `User=foo` is set.

[2022-01-17 10:41] vrothberg commented on #12778
I think the next big thing to tackle is finding a way how to lift the `User=` setting. While the process in ExecStart itself is run as the specified User/Group, the systemd specifiers (e.g., %t, %U, etc) remain to be root.

[2022-01-17 10:45] Gchbg commented on #12778
But even that is rejected by systemd, as seen in the logs above.

[2022-01-17 10:59] vrothberg commented on #12774
@ashley-cui could you have a look and try to reproduce on mac?

[2022-01-17 11:14] giuseppe commented on #12879
you need to manually configure a mount on top of a parent of `~/data/mount` from the `podman unshare` environment and make it `shared`.  Then you have to bind mount that parent you made shared inside the container. e.g.

[code]

[2022-01-17 11:27] arixmkii commented on #11541
In MacOS I do this for rootless containers
[code]
And then in the machine shell
[code]

May be this could become an optional auto apply script in the desktop app companion for MacOS.

[2022-01-17 11:57] #12550 closed

[2022-01-17 12:12] rhatdan commented on #12613
Since this is a setup issue on a non supported platform, moving this to discussion.

[2022-01-17 12:17] vrothberg commented on #12761
Thank you for reaching out!  Are there other services running on your machine which may be using the same image `d`?

The reported randomness in reproducibility suggests a race and I am fairly sure there is none in the code.

[2022-01-17 12:19] pbrezina opened #12889 "Add squash option to podman commit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Please, add --squash option to `podman commit` so the new image does not create a new layer but is instead squashed to the latest layer.

[2022-01-17 12:21] rhatdan commented on #12855
Can linux-sandbox be changed to expose / as mount-rshared?

BTW What is linux-sandbox?

[2022-01-17 12:25] vrothberg commented on #12855
In the meantime, I am going to have a look how we can prevent the segfault. Podman should error out or perform other counter measures.

[2022-01-17 12:38] rhatdan commented on #11541
@flouthoc @baude @ashley-cui Should we do this in the ignition?

[2022-01-17 12:40] elezar commented on #11088
@qhaas with #12825 merged, we could look at creating a CDI spec for devices, libraries, environment variables, and hooks for the use cases that you describe in your initial comment. At present the NVIDIA CDI spec I used for testing still relies on the `nvidia-container-toolkit` to be installed, but this is not generally true and many steps performed by the prestart hook could be captured in the sp

[2022-01-17 12:43] vrothberg commented on #12855
@fredr do you have a simple reproducer?

[2022-01-17 12:49] vrothberg commented on #12855
Could you also rerun `podman` with `--log-level=debug`?

[2022-01-17 12:59] jnovy commented on #12851
Also done in CentOS Stream 9: https://gitlab.com/redhat/centos-stream/rpms/podman/-/merge_requests/140

[2022-01-17 13:57] fredr commented on #12855
Not in any way that I have been able to figure out unfortunately

it is part of the build tool bazel, https://docs.bazel.build/versions/main/sandboxing.html
I'm quite new to it myself, but this is it: https://github.com/bazelbuild/bazel/blob/master/src/main/tools/linux-sandbox.cc

Since it relies on bazel, it wont be super simple, but in this gist: https://gist.github.com/fredr/dd0e5c3639fa109df82

[2022-01-17 14:02] vrothberg commented on #12855
Thanks!

That seems to be it: Podman is not configuring the store if it's lacking the cap_sys_admin capability. In that case, Podman just continues but without the image runtime which explains _how_ we run into the segfault.

@mheon @giuseppe I am totally undecided on _what_ to do in this case though. Does a Podman without a configured store make sense?

[2022-01-17 14:26] mheon commented on #12855
The store-deactivation code I'm aware of was intended for performance reasons, to not require commands that would never require a store to initialize one; I think we're talking about different code here, though, because run will always need a store. Is this the code that @rhatdan added so that Podman as root could revert to pseudo-rootless functionality if CAP_SYS_ADMIN was not available? I'm not

[2022-01-17 14:32] mheon commented on #12883
Concur, we have no interaction with HTTP proxy environment variables directly; this is all handled via the Golang standard library. If there is an issue, it's with the Go language.

[2022-01-17 14:32] #12883 closed

[2022-01-17 14:44] mheon commented on #12730
Something else on the host may be using the port in question. Are you sure the port is open?

[2022-01-17 14:53] Luap99 commented on #12873
@scato Did you build and install podman from the main branch? If you used 3.4 it is still broken and the added winpath helper in https://github.com/containers/podman/pull/12597 is supped to fix this for 4.0. @n1hility Can you confirm?

[2022-01-17 15:01] vrothberg commented on #12855
I'm referring to the following code:
https://github.com/containers/podman/blob/main/libpod/runtime.go#L376-L391

I managed to build `linux-sandbox` locally and reproduce the issue with many commands: we don't create a store but continue.

[2022-01-17 15:10] vrothberg commented on #12855
One very strange thing is that `capsh --print` claims to have `cap_sys_admin` ...

[2022-01-17 15:11] vrothberg commented on #12855
Quick update: what works for me is to use `linux-sandbox -w / -- podman ...`. This will just mount everything writable in the "sandbox".

[2022-01-17 15:20] fredr commented on #12855
Interesting! When I try that I get:
[code]

[2022-01-17 15:25] n1hility commented on #12873
@Luap99  yes thats correct, #12597 should resolve this issue, and I can confirm that previous to that it would overwrite other path values.

[2022-01-17 15:28] baude commented on #11541
seems reasonable @rhatdan

[2022-01-17 15:33] scato commented on #12873
That's right, I installed 3.4.4 using winget.

[2022-01-17 15:48] mheon commented on #12855
Yeah, this is the rootless-when-no-sysadmin code I was talking about - https://github.com/containers/podman/commit/722ea2f1f82ff16271b50b508d709e5da275e32a

Apparently was by @giuseppe instead of @rhatdan?

[2022-01-17 16:07] MB175 commented on #11541
When I start a container it instantly jumps to a uptime of 30 Minutes, I suppose this isn't normal swell ?

[2022-01-17 16:25] cdoern commented on #12843
do we treat pods (at least their config) as immutable like we do with containers? Could do a `podman pod clone`...

[2022-01-17 16:51] Hergeirs commented on #12246
I know this is closed, but I'm running a custom kernel. Does anyone by chance know which kernel modules would have to be added ? If not, just ignore this.

[2022-01-17 16:52] mheon commented on #12843
I really dislike the existing `podman rename` command, so I will naturally argue that we should avoid a `podman pod rename` command. A `podman pod clone` does seem useful.

[2022-01-17 17:10] Luap99 commented on #12874
Podman-remote does not support mounting remote volumes, you can only use directories from the servers host.
There is some work to enable this with podman-machine in the future but the remote client itself cannot do this.

The errors looks like an actual bug, somehow the path gets converted to backslash before it is send to the server.

[2022-01-17 17:51] afbjorklund commented on #12011
@cmoulliard : time to close ?

[2022-01-17 17:53] afbjorklund commented on #11458
It is possible to use lima for this, if urgent. (Hint: it is rather slow)

[2022-01-17 18:02] baude commented on #11541
no chrony or likewide on fcos?

[2022-01-17 18:40] baude commented on #12889
at @vrothberg wdyt?

[2022-01-17 18:49] baude commented on #9492
this should be handled by aardvark in podman 4.0.

[2022-01-17 18:51] baude commented on #9603
this should be fixed with aardvark and podman 4.0 release

[2022-01-17 19:18] baude commented on #11422
I'm a little turned around on this one @maxandersen ... what exactly are you asking for?  are you wanting to use a podman frontend and a docker backend?

[2022-01-17 19:33] baude commented on #11081
@mheon couple of points here ... with docker-compose exec I now get a return code of 0 but also no output ... and now I only see the cgroups error when using podman exec.

[2022-01-17 19:37] afbjorklund commented on #12874
You would be surprised....

* #8016

Some actually do expect this.

[2022-01-17 20:17] baude commented on #12143
is it possible you have more than say a half dozen keys ?

[2022-01-17 22:49] ydayagi commented on #12756
thanks. is there a field/path that is more urgent than the others? one that you did not start working on?

[2022-01-17 23:19] QuarkTheAwesome commented on #12339
I jumped to latest Fedora and it's still happening there, so turns out I am still able to do more debugging if needed, I just don't know anything about glib so it's hard to interpret that stacktrace.

[2022-01-18 01:58] edsantiago commented on #12023
It's being worked on, @github-actions! Like, in the last two hours! #ReadingComprehensionFail #ThankGoodness #WeHaveSomeTimeBeforeTheRobotApocalypse

[2022-01-18 08:20] giuseppe commented on #12339
I can't spot anything strange in the stacktrace.  It is just glibc waiting for events.

Your issue though doesn't look like a race condition if you can reproduce so easily.  Could you try disabling SElinux?  Anything useful from `--debug` when you run with overlay?

[2022-01-18 08:25] giuseppe commented on #12246
for xt_conntrack.ko you'd probably need `CONFIG_NETFILTER_XT_MATCH_CONNTRACK`

[2022-01-18 08:31] giuseppe commented on #12855
we switched from "detect rootless" to "detect if we have CAP_SYS_ADMIN" because running with `EUID=0` is not enough to perform all the operations needed to mount the storage, pull images and run containers.  It is useful for example when running Podman in a container as root but without capabilities, which is somehow equivalent to run as rootless, so we need to create a user namespace to gain ther

[2022-01-18 08:48] groovyman opened #12896 "podman volume directive seems not to allow the container to write data"
/kind bug
**Description**
I am running an actual  Fefora F35 distribution (with enabled selinux). I want to run a little Weblogic testcluster for to solve some open config issues. My first milestone would be to run the admin node (Weblogic with the admin console), but the container seems to have problems to write into the given volume.

So the setup Dockerfiles haven been taken from https://github

[2022-01-18 10:32] rhatdan commented on #12559
@giuseppe @stac47 @vrothberg What should we do with this issue, does not look like something Podman can fix.  But @stac47 question was never answered.  Since this seems like more of a discussion at this point I am transferring.

[2022-01-18 10:35] rhatdan commented on #11784
@kolyshkin Any progress on this?

[2022-01-18 10:36] rhatdan commented on #12273
It will be interesting to see if this flake disappears when we move to netavark/ardvark.

[2022-01-18 10:38] rhatdan commented on #11446
@eriksjolund are you still seeing this issue.  @giuseppe you were working on some issues with closing of FDs could this be an issue you were dealing with?

[2022-01-18 10:42] #12011 closed

[2022-01-18 10:44] rhatdan commented on #10912
[code]
Looks like current code at least conflicts setting USERNS within a Pod that is using user namespace.

Not sure if this is enough to close down this issue.

[2022-01-18 10:44] rhatdan commented on #10374
@giuseppe any progress on this?

[2022-01-18 10:47] rhatdan commented on #12284
Since this idea has somewhat been rejected and we have not heard counter argument, I am going to close.  Will reopen if more ideas arise.

[2022-01-18 10:47] #12284 closed

[2022-01-18 10:50] rhatdan commented on #11088
Since #12825 has been merged, I am going to close this issue.  Reopen if I am mistaken.

[2022-01-18 10:56] rhatdan commented on #12851
This looks like it was done. Reopen if I am mistaken.

[2022-01-18 10:56] #12851 closed

[2022-01-18 10:57] brauner commented on #10374
VFS bits are in. So I can start on working on actually porting overlayfs this cycle.

[2022-01-18 10:58] eriksjolund commented on #11446
@rhatdan yes
(my laptop runs fedora 35, podman 3.4.4)

[2022-01-18 11:08] #11350 closed

[2022-01-18 11:09] rhatdan commented on #12843
SGTM

[2022-01-18 11:10] elezar commented on #11088
I don't know whether this ticket can be closed. I think the work in #12825 would enable what is requested in this ticket, but there would still be more work to do -- in terms of documenting how this could be done and constructing the relevant CDI specs. If @qhaas feel that this could be done elsewhere then let's close this and track this there.

@qhaas one option would be to continue the discussio

[2022-01-18 11:33] rhatdan commented on #12292
Is this still an open issue, or have you found a solution @voquangphu

[2022-01-18 11:44] afbjorklund commented on #12011
I leave the old Fedora Linux docs up there in case anyone wants to re-open that thread in the future.

Otherwise it should be plenty with Fedora CoreOS (podman) and Fedora Cloud (lima), meanwhile.
Since podman _requires_ ignition and lima _requires_ cloud-init, those are more or less necessary anyway.

The alternative would be to use Alpine Linux, which already has a `podman` [package](https://pkg

[2022-01-18 11:55] rhatdan commented on #12855
Is there a way to avoid the segfault?  Should we check CAP_SYS_ADMIN || CAP_SETUID && CAP_SETGID, because without one of those situations, Podman is not going to work.

[2022-01-18 11:57] vrothberg commented on #12889
Thanks for the proposal, @pbrezina!

I think it's fairly easy to get done since the backend in Buildah already supports squashing on commit. What had to be done is to extend the Podman CLI with a `--squash` flag and do the plumbing down to when committing the container (i.e., https://github.com/containers/podman/blob/main/libpod/container_commit.go#L63).

@ncrowe200, that would a cool project to w

[2022-01-18 12:02] rhatdan commented on #12896
This looks like Podman is getting confused and thinking the source volume is not a path, and creating a named volume.

Is $PWD an actual Path?

BTW No need to do the chcon stuff.  The :z will take care of that.

[2022-01-18 12:05] rhatdan commented on #12896
Could you try the mounts with an image like Fedora and see if it works correctly.

One potential issue is if the three mountpoints of the image are builtinvolumes, then there could be a bug in Podman where we don't notice that the bind mount volumes should take precedence over building volumes of an image.

[2022-01-18 12:25] edsantiago commented on #12624
### podman system service verify pprof endpoints [It] are not available
* fedora-34 : int podman fedora-34 rootless host
  * PR #12748
    * [01-10 15:04](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5905820184477696/html/int-podman-fedora-34-rootless-host.log.html#t--are-not-available--1)
    * [01-10 15:04](https://storage.googleapis.com/cirrus-ci-

[2022-01-18 12:25] konstruktoid opened #12901 "`podman machine list` can't evaluate multiple format fields"
/kind bug

**Description**

Trying to get the  username, the path to ssh identify file and the SSH Port to use to connect to VM for testing with Ansible.
See https://docs.podman.io/en/latest/markdown/podman-machine-list.1.html for valid placeholders for the Go template.

`podman machine ls --format json` should for example output a json document but actually return the string `json`.

`{{.Port}}`

[2022-01-18 12:28] rhatdan commented on #12901
Fixed in the main branch,

$ ./bin/podman machine ls --format json
[
    {
        "Name": "podman-machine-default",
        "Default": false,
        "Created": "2021-12-27T10:36:14.373347492-05:00",
        "Running": false,
        "LastUp": "2021-12-27T11:22:50.17333371-05:00",
        "Stream": "default",
        "VMType": "qemu",
        "CPUs": 1,
        "Memory": "2147483648",
        "Di

[2022-01-18 12:28] #12901 closed

[2022-01-18 12:29] qixiang opened #12902 "Is it possible to start rootfull podman backend but connect with unprivileged user to run `podman-remote`?"
Hi podman experts,

There is a [remote-client tutorial](https://github.com/containers/podman/blob/main/docs/tutorials/remote_client.md) doc, it covers running rootless podman backend and connect it to run `podman-remote`, my requirement is a little different:

1. I want to run rootfull podman backend
2. I want to connect the rootfull backend with an unprivileged user

Is it possible to start rootf

[2022-01-18 12:29] rhatdan commented on #12901
$./bin/podman machine list --format "{{.Name}}\t{{.Port}}\n""
podman-machine-default  0

[2022-01-18 12:34] rhatdan commented on #12902
You could chown the permission on the rootfull podman.sock to be accessible by group Say the podman group, then you could add all users to the podman group, and setup podman-remote to use that socket.  This would mimic what Docker does, but I am not crazy about it.  If you make the change the following articles would apply to Podman as well as Docker.

https://projectatomic.io/blog/2015/08/why-we-

[2022-01-18 12:40] vrothberg commented on #12855
What would happen if the condition is not met? Currently, we just don't configure the store and continue but I think we should error if there is no store.

[2022-01-18 13:17] pbrezina commented on #12889
Thank you for looking into it. To explain the use case - I want to setup some applications that requires systemd and a specific hostname (FreeIPA precisely), which is currently not possible to do during build time. But I also want to trim down unneeded layer to reduce size of the resulting image.

[2022-01-18 13:33] Hergeirs commented on #12246
It seems I needed quite a few modules.
The ones I didn't have already are listed below for anyone curious:

- bridge
- libcrc32c
- llc
- nf_conntrack
- nf_defrag_ipv4
- nf_defrag_ipv6
- nf_nat
- nfnetlink
- nf_tables
- nft_chain_nat
- nft_compat
- nft_counter
- stp
- veth
- xt_addrtype
- xt_comment
- xt_conntrack
- xt_mark
- xt_MASQUERADE
- xt_multiport
- xt_nat
- xt_tcpudp

I you deem this irrele

[2022-01-18 13:36] riyad opened #12904 "API server crashes with race condition in logging code"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running the [docker-py](https://github.com/docker/docker-py) integration tests against Podman's API it crashes with the following error roughly 3 out of 4 times:

All following requests receive `111 Connection refused` responses.

When it happens it seems to always happen on the [`AttachConta

[2022-01-18 13:47] vrothberg commented on #12904
Thanks for the report, I will take a look.

[2022-01-18 14:25] mheon commented on #12896
I think the first volume is an image volume - can you provide a `podman image inspect` of the image you're running to be sure?

No two volumes are mounted at the same spot in the container, this is perfectly fine. I don't see any bug there? If both volumes were pointed at `/u01/oracle/user_projects/domains` or `/u01/oracle/user_projects/` we'd detect a conflict between the image volume and the use

[2022-01-18 14:57] cdoern commented on #12843
ok I will work on container clone and then pod clone.

[2022-01-18 15:01] fingon commented on #11541
It gets suspended and resumed. Host updates its time (presumably from RTC), but the FCOS is suddenly hours/days in the past.

Due to that, ideal solution would be something that would trigger from the resume, but I'm not sure if that is visible within qemu, and failing that, something that kicks ntp every now and then would work but is quite ugly solution.

[2022-01-18 15:09] rachelglenn opened #12907 "Podman reset and re-install"
I was having issues with Podman and was trying change the uid and gid with podman and user on Ubuntu 18.04. I decided to reset Podman and erase all images, containers, and etc. I ran

podman system reset

sudo apt remove podman

sudo apt -y install podman

I now get the error with any podman commands:
Error: cannot setup namespace using newuidmap: exit status 1

How do I reset everything and reins

[2022-01-18 15:26] rhatdan commented on #12896
Great job. @mheon I am closing this since you have a solution.  We can continue discussion in the issues.  Will reopen if we actually find a bug in Podman

[2022-01-18 15:26] #12896 closed

[2022-01-18 15:37] weyert opened #12911 "Allow to use tar ball as build context"
**Description**

The `build`-command is not accepting tar ball build contexts, the Build Kit supports this, and commands like `cat ./my-build-context.tar.gz | docker build --progress=plain - -t experiment-tag` only when I try to use a similar command via `Podman` like: `cat ./my-build-context.tar.gz | podman build --log-level=debug`

*Note*: See attached `my-build-context.tar.gz` for an example of

[2022-01-18 15:50] baude commented on #11541
chrony is installed and activated on fcos when running podman machine.  it might catch the time difference in a reasonable amount of time but it is not likely.  if you google about this problem with qemu, it is quite common with no super solid solution being found.

on the host, we could listen on the qmp socket and scan for a resume event and then take some form of action, but this comes with pro

[2022-01-18 15:51] baude commented on #11541
maybe podman desktop could do this?

[2022-01-18 15:58] cdoern commented on #12765
@mheon debating making `--share=cgroupns` share the NS and adding a new case to https://github.com/containers/podman/blob/main/pkg/specgen/generate/namespaces.go#L482-L507 such as `case "cgroupns":` does that or something like that sound good so we can keep the defaults? Otherwise the default will be overridden since I need to switch the `case "cgroup"` to sharing the actual cgroupNS

[2022-01-18 16:00] mheon commented on #12765
I don't feel like mixing namespaces and shared cgroups in the same flag is a good idea, but it is names `--share` not `--shared-namespaces` so it's not completely out of the question.

[2022-01-18 16:03] cdoern commented on #12765
okay, so then should I take the current `case cgroup:` (setting the cgroup parent to the pod) out of that file and replace it with the actual cgroupNS? and I am assuming these are mutually exclusive so if we are not sharing the cgroupNS then we do the default? @mheon

[2022-01-18 16:09] dustymabe commented on #11541
So you're saying FCOS goes through a full `suspend/resume` cycle? If that's true then I think there are ways to trigger this using systemd units https://unix.stackexchange.com/questions/124212/writing-a-systemd-service-to-be-executed-at-resume

[2022-01-18 16:28] rhatdan commented on #12765
I don't believe users would see the difference that we do. So I would go for --share cgroups.

[2022-01-18 16:38] baude commented on #11541
can someone try that ^^^ ?

[2022-01-18 18:20] #12904 closed

[2022-01-18 19:21] weyert commented on #12911
Cool, thank you, I wasn't aware of `-` :)

[2022-01-18 19:28] rhatdan commented on #12911
Actually it looks like this works as long as the server and client are podman 4.0.

[2022-01-18 19:28] #12911 closed

[2022-01-18 20:23] weyert commented on #12911
@rhatdan Nice to know, need to find out how to get a newer version of Podman for Homebrew (macOS) then :)

[2022-01-18 20:38] konstruktoid commented on #11541
We'll see how it goes.

[code]

[code]

[2022-01-18 21:32] omajid commented on #12761
I am running into this again today and I don't see any duplicate images. Today, I am using `f`:

[code]

I built a Fedora container, including `git` and `git` isn't found here. Looks like it's using another container instead:

[code]

I don't have any other containers running, at least that I can see via `podman ps`:

[code]

[2022-01-18 21:43] Luap99 commented on #12872
I think I fixed this in https://github.com/containers/podman/pull/12227

[2022-01-18 21:43] #12872 closed

[2022-01-18 21:52] rhatdan commented on #12911
Yes that is going to be a bit of a challenge until 4.0 is released.  Sometime in February.

[2022-01-18 22:12] rhatdan commented on #12761
Could you inspect your latest container and make sure it is built on  image a6a00f7191e0

[2022-01-18 22:14] rhatdan commented on #12761
You could also
$ podman unshare
# mnt=$(podman image mount f)
# ls $/mnt/bin/git

[2022-01-18 22:30] joes-myob commented on #8016
Interesting to read through these notes.

We've been experimenting with Podman as a replacement for Docker Desktop. Feels like that mounting feature is a tough feature to migrate off from. With out a lot of further rework to existing scripts etc.

Would really love to see this functionality in the future.

(I suspect others are discovering this more and more as Jan 31st approaches :) )

I'll keep

[2022-01-18 22:35] georgettica commented on #8016
I might add the colima us almost there is volume support

Mounting works cleanly but the folder permissions are those of the VM and not the container

[2022-01-18 22:40] rakodev commented on #8016
I'm currently using this alias locally (Mac):

`alias aws='docker run -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_SESSION_TOKEN --rm -ti -v ~/.aws:/root/.aws -v $(pwd):/aws amazon/aws-cli'`

when I do podman instead of docker, it fails, even when I do only this it fails randomly for some timeout error message.

`alias aws='podman run -e AWS_ACCESS_KEY_ID -e AWS_SECRET_ACCESS_KEY -e AWS_SE

[2022-01-18 22:43] snay2 commented on #12774
Update from me: I tried using `--remote` and it behaved the same; still unable to set `os.version` on a Mac.

I've gone back to using `docker manifest annotate` commands instead of `podman manifest`, so this is not a pressing issue for me, but it does still seem like a bug.

[2022-01-18 22:54] groovyman commented on #12896
Thank you from my side for your quick reply and the helpful idea.
The domains directory was created by the container, so it was a good idea to do this from my sde and bind with the container path /u01/oracle/user_projects/domains.

Thanks!

[2022-01-18 22:57] rhatdan commented on #8016
Podman on a MAC currently does not support mounting volumes from the host into the container via the VM.  It is being worked on.

[2022-01-18 23:03] joes-myob commented on #8016
I appreciate the work that is going to these alternative tooling to Docker Desktop - As a signpost to others - it might be better to watch this thread for updates as to when this functionality arrives rather than saying you have this problem.

Its not a problem, because its not a supported feature.

Thanks for the work @rhatdan (and others) 👍

[2022-01-18 23:38] rakodev commented on #8016
I appreciate the work that is going on here, I hope it'll be usefull for all of us, and if I can bring anything, even a comment with exemple I'll do it.

@joes-myob ,

First of all, I did read the doc and look for my first issue on google, and I didn't find mention about podman don't support mounting in Mac.

Secondly, I added a second problem, that is not related to the mounting issue, I was just

[2022-01-18 23:42] joes-myob commented on #8016
It's not super clear @rakodev but it is in the documentation https://docs.podman.io/en/latest/markdown/podman-run.1.html#volume-v-source-volume-host-dir-container-dir-options

@rakodev - I think if you have an issue thats not part of the topic it should be in another topic rather than conflating and cinfusing this issue.

I cannot help as I am not a maintainer and you bug report lacks much of the

[2022-01-18 23:49] rakodev commented on #8016
@joes-myob ,
I didn't asked something to be fixed, read my message again.

And to be honest I understand your motivation, but I still think your comment didn't help me or anyone else in the thread except you mentioned that mount is not supported on Mac, and if this last point help anyone, it means that my question was legit.

Thanks for the link, as you said it's not super clear, and probably peop

[2022-01-19 00:05] dgibson opened #12917 "CONTAINERS_CONF is not propagated to conmon"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `CONTAINERS_CONF` environment variable can be used to locally override the path to find the `containers.conf` configuration file.  This ise useful for testing various scenarios.  However, to work properly, this override needs to apply to all podman invocations through the container lifecy

[2022-01-19 00:05] dgibson commented on #12917
I have a patch for this problem that I'm polishing up and will submit soon.

[2022-01-19 01:25] kolyshkin commented on #11784
Had no time to look at it, hopefully later this week (I have a separate browser window opened with this as a reminder 😁 )

[2022-01-19 02:14] dustymabe commented on #11541
@konstruktoid - does your output imply that it was successful?

[2022-01-19 03:13] omajid commented on #12761
What's the right way to do this?

I have a few other workarounds too. I would really like to understand the bug, though (and hopefully get it resolved too).

[2022-01-19 05:51] afro-coder commented on #12761
What's the right way to do this?

Check the ID part there

[2022-01-19 06:18] dgibson commented on #12917
Addressed in #12918

[2022-01-19 07:40] afbjorklund commented on #8016
When using podman machine, you need to set it up manually...

There are instructions on https://github.com/lima-vm/sshocker

Eventually `podman machine` will have "native" support for VM volumes, when running the CoreOS VM on your local host.

But when running podman towards a remote host, you need something like this "reverse sshfs" to mount the files remotely.

The two use cases are somewhat con

[2022-01-19 08:01] cmoulliard commented on #12011
The content discussed here could become part of a FAQ detailing the alternatives which exist to play with `podman` using distro A,B, C and tools. WDYT ? @afbjorklund

[2022-01-19 08:06] afbjorklund commented on #12011
There **are** no alternatives, afaik. Could add more documentation to Lima, but it doesn't have a proper website or manual yet.

It also defaults to running ubuntu and nerdctl, so changing the tool over to fedora and podman will always be a bit awkward.

----

Theoretically you could change Podman to use RHCOS, but for now it is: FCOS.

You can change the image stream: https://getfedora.org/en/cor

[2022-01-19 08:30] cmoulliard commented on #12011
Alternative was not perhaps the appropriate word. Sorry.
What I'm proposing is to list under podman web site the option which exists to launch on a local machine a VM with different flavors (lima, vagrant) and to mention that podman supports only `ignition` vs lima `cloud-init` ... That will help the developers to figure what they will be able to do or not such as add package, ssh to the VM, ...

[2022-01-19 09:11] konstruktoid commented on #11541
sorry @dustymabe that was just me showing how I enabled the service.

i've been running the machine and the service the last 12 hours on my laptop (on battery) and letting it go to sleep, close lid and so on and so forth, but I haven't been able to trigger the podman machine to suspend or resume.

[2022-01-19 09:23] fredr commented on #12855
Can it be that the bazel sandbox reports having those capabilities, but it actually doesn't? and that causes the panic?

[2022-01-19 10:35] rkachach commented on #2788
I ran in the same issue (on Fedora 35) and the proposed solution didn't work for me (granting setuid to /usr/bin/newuidmap and setcap cap_setuid+eip /usr/bin/newuidmap). I fixed the issue by running the following commands:

[code]
This fixed the error for me and I got podman info working for my normal user

[2022-01-19 10:44] giuseppe commented on #12765
we already have `cgroup-parent` for run.

If we go the `--share` path, I think it should be `--share=cgroup-parent`.

As Matt pointed out though, I also find it confusing.  Perhaps it should be `podman run --cgroup-parent=pod-shared`?

[2022-01-19 10:44] giuseppe commented on #12246
I think it is useful for other users that end up with the same issue.  Thanks for sharing it

[2022-01-19 12:59] daiaji opened #12922 "Would like to be able to assign a container a static address outside the ip range."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Would like to be able to assign a container a static address outside the ip range.

**Steps to reproduce the issue:**

1.
[code]

2.
[code]

**Describe the results you received:**
It is not possible to assign a static address outside the ip range to a container.

**Describe the results yo

[2022-01-19 14:07] Luap99 commented on #12922
I think this is already supported with our new netavark network backend (podman v4.0).
This issue should be reported against https://github.com/containernetworking/plugins since the host-local ipam plugin handles ipam management in CNI.

[2022-01-19 14:07] #12922 closed

[2022-01-19 14:29] #12551 closed

[2022-01-19 14:33] mheon commented on #12765
Yeah, pod create option.

[2022-01-19 15:01] giuseppe commented on #12855
I don't think so, these are coming from the kernel and we read them from `/proc`.

[2022-01-19 15:11] rhatdan commented on #12855
I believe this is a discussion and not an issue with Podman transferring.

[2022-01-19 15:11] #12855 closed, assigned to nobody

[2022-01-19 15:23] rhatdan commented on #4646
@umohnani8 Ping.

[2022-01-19 16:50] leahneukirchen opened #12926 "Listing container changes tries to write/mount additionalimagestores as upperdir"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`additionalimagestores` is supposed to provide a read-only storage of unpacked layers.
However, using it breaks the `/libpod/containers/{name}/changes` endpoint, as it tries to
write or do writeable mounts inside the `additionalimagestores`.

**Steps to reproduce the issue:**

1. Pull `alpine

[2022-01-19 16:51] tmds opened #12927 "swagger has missing schemas"
Some end points are missing schemas. For example the `200` response for `/images/create` below.

The swagger client library assumes there will be no response after receiving 200 and closes the connection, which causes the operation to get aborted.

[code]

I can patch the schema so the generated client is aware there will be a response:
[code]

cc @jwhonce @mheon @baude

[2022-01-19 17:10] leahneukirchen commented on #12926
The problem is overlay.Driver `get` using overlay.Driver `dir`, which returns paths within the additional image store, and then using that dir to create `work`, `diff`, `merged` dirs inside.

[2022-01-19 17:48] PayBas commented on #8016
Very keen to see this implemented for local host with `podman machine`.

We're currently working around this with scripting.
[code]
Having to extract the connection details for `scp` is kinda painful, but it works I guess.

[2022-01-19 17:55] omajid commented on #12761
[code]

[2022-01-19 18:17] protosam commented on #8016
Just throwing this note here for awareness. It's something that haunts my dreams and I'm actively writing something for it.

Migrating from Docker-Desktop to podman is still rough if the workload expect volumes to contain any fifo or socket files. Few fusefs network mounts seem to even permit creating them, whereas the file systems in Docker-Desktop does. NFS supports them in like manner that is p

[2022-01-19 18:17] afbjorklund commented on #8016
With the current prototype CLI, that would be:

`podman machine init -v $HOME/mywork:/tmp/workspace`

[2022-01-19 18:43] riyad commented on #12904
thanks for the fix :slightly_smiling_face:

[2022-01-19 19:13] fpoirotte opened #12929 "Support volumeMounts.subPath in podman kube play"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Please consider adding support for `volumeMounts.subPath` in `podman kube play`.
This topic was briefly discussed in 2020 (#5654) but the request was rejected at the time.
I would like to request it again to improve compatibility between kubernetes and podman.

**Steps to reproduce the is

[2022-01-19 19:17] MrErr commented on #12574
I read the documentation change bug mentioned above. So just to understand this right, systemd is discouraged and instead to rely on other flags?

[2022-01-19 20:40] prayingmantis287 opened #12932 "Error adding build tags"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am new to Podman, and am attempting to build the latest version on a Debian 11 VM by following the instructions at [https://podman.io/getting-started/installation](https://podman.io/getting-started/installation) </p>

At the `make BUILDTAGS=` step, regardless of the options used (e.g. `"sec

[2022-01-19 20:40] justin-f-perez commented on #12815
thanks everyone!

@baude apologies I couldn't get to this sooner. I tried looking for instructions on building the podman client from source on macos, but all I could find for macos were the homebrew installation instructions. For future reference, is there a good way to update a homebrew installation to the tip of the containers/podman main branch? or instructions for building the client from sou

[2022-01-19 20:44] afbjorklund commented on #12815
`brew install --HEAD podman`

[2022-01-19 21:02] afbjorklund commented on #12932
Your version of `go` is probably too old, since `io/fs` was added in go1.16

[2022-01-19 21:03] rishubn opened #12933 "Cannot use short-names for any containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`$ podman pull <short-name>` results in error:
[code]
/etc/containers/registries.conf
[code]

**Output of `podman version`:**

[code]

host:
  arch: arm64
  buildahVersion: 1.19.6
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: 'conmon: /usr/bin/conmon'
    path: /usr/bin/

[2022-01-19 22:19] #12830 closed

[2022-01-19 22:29] jwhonce commented on #12927
@tmds I suspect that is as good as it gets. We are following the Docker API for compatibility and swagger2 does not appear to have a way to define these concatenated json blobs. What do you think about adding a json template to the description describing the output stream? Since the blobs are not wrapped in an array or map, even adding a swagger:model would be incorrect.

[2022-01-20 01:48] martinetd opened #12937 "RFE: --read-only: add sub-option to make /dev readonly as well"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman run --read-only leaves /tmp, /var/tmp /run (tmpfs with default 50% size of ram), /dev (tmpfs with 64MB) and /dev/shm (default 64MB).

- There is --read-only-tmpfs to skip mounting /tmp /var/tmp, and /run

- There is --shm-size which allows changing /dev/shm size (although --shm-siz

[2022-01-20 05:54] flouthoc commented on #8136
A variant of this is being implemented for crun so I am removing stale.

[2022-01-20 06:26] afro-coder commented on #12761
That seems a bit weird can you try
[code]
Do you have any container with the same name? Try the ID instead

[code]

[2022-01-20 09:08] seanyoung commented on #8136
@flouthoc I guess you mean https://github.com/containers/crun/pull/841 ?

How is that going to help towarrds running windows containers? This is just loading dotnet applications which can already run fine in linux containers.

[2022-01-20 09:12] vrothberg commented on #12904
Thanks for the great report!  Feel free to open more issues in case you hit some :)

[2022-01-20 09:14] vrothberg commented on #12933
Thank you for reaching out!

The error is expected behavior. For short-name resolution to work, we need 1) an alias, or 2) configured unqualified-search registries.

Please refer to the following article for details: https://www.redhat.com/sysadmin/container-image-short-names

[2022-01-20 09:14] #12933 closed

[2022-01-20 09:37] Micro-Bites commented on #12506
seccomp.conf from Tag v0/39.0 is the last one that worked for me (libseccomp-2.3.1-4.el7)

[2022-01-20 09:40] flouthoc commented on #8136
@seanyoung It will be much easier to do similar loading with wine shared libraries as well but again wine has a dependency on huge set of shared libaries. But the idea of above PR is to run executables without runtime layer container image but will be only scoped to `.NET`.

[2022-01-20 09:45] flouthoc commented on #8136
@seanyoung Also the idea is pretty much same cause even `wine` works on linux if we are good to adding another extra layer in image which similar to what we do for `.NET` runtime.

[2022-01-20 10:28] seanyoung commented on #8136
Ok.

Windows Containers come with all the dlls included. It possible that all that is needed is an pe exe loader and the rest of the windows system calls, and the rest of wine is not needed.

[2022-01-20 10:44] flouthoc commented on #8136
Could be but wine loads some of its own stuff dynamically as well. I guess that's why people are exploring `static` build for wine but no one was able to get it working i guess.  Once I complete the `mono` poc I guess i should be able to get more idea.

[2022-01-20 12:14] flouthoc commented on #12638
@adippel Above PR should close this.

[2022-01-20 13:45] omajid commented on #12761
`podman inspect f` is working today, so I don't know if I can provide anything useful.

What data should I collect when I next run into this error?

[2022-01-20 14:33] #12056 closed

[2022-01-20 14:41] Luap99 commented on #12932
Yeah I think we require 1.16 now.

[2022-01-20 14:41] #12932 closed

[2022-01-20 14:42] afbjorklund commented on #12932
Docs say 1.12, but go.mod says 1.16

[2022-01-20 14:44] Luap99 commented on #12932
The version in go.mod is generated by go itself so this should always be the correct one

[2022-01-20 14:48] mheon commented on #12932
Concur that we need to update the installation page. Maybe change it from a static version to a link to the specific line of `go.mod`? That might be confusing for users, though...

[2022-01-20 14:50] Luap99 commented on #12932
I will open a PR

[2022-01-20 14:58] tmds commented on #12927
I need something that causes the generated client to read the response.

I've created an issue suggesting it should always read the response, and I'm waiting for feedback from the maintainer: https://github.com/RicoSuter/NSwag/issues/3840

Otherwise, something like the `string+binary` schema may do the trick as well. I'm not a swagger expert, so I don't know if it is the most appropriate way to de

[2022-01-20 15:09] giuseppe commented on #12937
you could achieve something like that with:

[code]

mounting `/dev` read-only is tricky though.  The OCI runtime itself can fail (both runc and crun do not handle it correctly) and handling of TTYs can also be affected.

Using the command above, I've found an issue in crun: https://github.com/containers/crun/pull/857

[2022-01-20 15:46] castedo opened #12944 "RFE: option in `podman exec` to preserve working directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Both [toolbox](https://github.com/containers/toolbox) and [cnest](https://github.com/castedo/cnest) implement a feature which probably makes sense to be implemented inside podman. It's clumsy to implement in wrapper scripts but likely easy and more robust if done by podman. I can personal

[2022-01-20 16:22] prayingmantis287 commented on #12932
Just confirming that upgrading the go version resolved my issue. Many thanks.

[2022-01-20 17:18] adippel commented on #12638
@flouthoc sorry for being late pushing a PR. Your PR should definitely do it, thanks a lot for taking care! Are there any plans on when this change will be part of a release?

[2022-01-20 17:26] rhatdan commented on #12926
Could you write up a step by step environment on how to set this up?

[2022-01-20 17:35] flouthoc commented on #12638
I am not sure if this is gonna be part of `4.0` @mheon can comment on this.

[2022-01-20 18:05] leahneukirchen commented on #12926
Any read-only image store will do:

[code]

[2022-01-20 18:17] #12866 closed

[2022-01-20 18:19] rhatdan commented on #12929
@umohnani8 @vrothberg WDYT?

[2022-01-20 18:24] edsantiago opened #12949 "podman container restore: SEGV on rawhide"
Reproducible from the very first try
[code]
[criu-restore.log](https://github.com/containers/podman/files/7907623/criu-restore.log)

podman-4.0.0-0.1.rc1.fc36.x86_64
criu-3.16.1-4.fc36.x86_64
5.17.0-0.rc0.20220112gitdaadb3bd0e8d.63.fc36.x86_64

[2022-01-20 18:26] edsantiago commented on #12949
[Log from a real CI run](http://artifacts.dev.testing-farm.io/c1d70b04-253d-4fc1-91b4-3dd6517734d8/work-tests.ymlGQSBAY/tests-oOoU8A/test.podman-root-cgroupsv2.bats.log)

@adrianreber @rst0git PTAL

[2022-01-20 18:28] jwhonce commented on #12927
@tmds Do you want to create a PR with your suggested changes -- schema: string+binary?

My idea of adding the json template to the description could be a follow-on PR.

swagger2 is limited regarding defining streaming.

[2022-01-20 18:34] edsantiago commented on #12949
@lsm5 FYI this is for the other two failures

[2022-01-20 19:04] benatshippabo commented on #12810
Closing this based on https://github.com/microsoft/vscode-docker/issues/3367#issuecomment-1017781332

[2022-01-20 19:04] #12810 closed

[2022-01-20 19:45] rst0git commented on #12949
@edsantiago this is a known issue (https://github.com/checkpoint-restore/criu/issues/1696). There is a pull request for CRIU https://github.com/checkpoint-restore/criu/pull/1706 and a workaround in https://github.com/checkpoint-restore/criu/issues/1695

[2022-01-20 19:51] rhatdan commented on #8136
The other big issue is file system issues.  You have to have the file that stores your images support treating files with different cases the same.  Basically running in Windows mode.  Even if we have this, I think volumes might end up being an issue for the same reason.
BTW I would love to have something like this, but we could use community help.

[2022-01-20 19:51] edsantiago commented on #12949
@rst0git thank you

@containers/podman-maintainers the abovementioned CRIU PR has been open for one month; CI is red, there is no indication of when it will merge and then when we'll get a new version. Should we disable checkpoint tests in rawhide for the next few months, so we can pass gating tests?

[2022-01-20 20:26] dustymabe commented on #12661
@Luap99 - anything more we can do here? Should this be re-opened? Should the conversation move somewhere else?

[2022-01-20 20:42] rhatdan commented on #12937
If you mount /dev readonly, then can you still write to the devices?

[2022-01-20 20:43] rhatdan commented on #12937
--read-only-tmpfs should probably include /dev/shm and potentially set /dev to be read-only if that would be allowed.

[2022-01-20 20:46] rst0git commented on #12949
@edsantiago I opened a pull request for go-criu with the workaround mentioned above: https://github.com/checkpoint-restore/go-criu/pull/61

This should allow the tests in CI to pass.

[2022-01-20 20:46] rhatdan commented on #12937
[code]
Looks like it should work.

[2022-01-20 20:51] edsantiago commented on #12949
@rst0git aha - the part that was not obvious to me is that `checkpoint-restore/go-criu` is vendored in podman (currently v5.3.0). Presumably, if/when your PR merges, podman can bump `go.mod` to vendor in a (tagged? untagged?) `go-criu`. Leaving this here for benefit of anyone else unfamiliar with criu and its integration in podman. (If I am mistaken in anything, please correct me!) Thanks again.

[2022-01-20 21:16] e1m1 commented on #12132
I experience the same behavior as well. On MacOS Big Sur. OS is not asleep prior to when I get the messages

[2022-01-20 21:52] slartibart70 opened #12953 "bind mounting an external overlayFS to a container causes huge copy operations into overlayfs-upper/workdir"
Hi,
i am trying this on fedora34 and centos 8.4

Since podman 3.3.1 i have a strange problem with an external overlayfs.

SETUP:
I use a host created overlayFS like so:
[code]

This is working ok, looking into 'overlay' shows the layered files i need, the 'data/{upper,work}' dir is nearly empty.
Using the FS within 'overlay' (e.g. creating new files) is reflected in the data-dirs as expected.

Now

[2022-01-20 22:00] slartibart70 commented on #12953
one important thing:
my tests above are done as root, not as a user (so, no additional problems with rootless-containers!)

[2022-01-20 22:29] #12638 closed

[2022-01-20 22:41] martinetd commented on #12937
@giuseppe thanks for the idea!

for /dev/shm, using `--mount type=tmpfs,target=/dev/shm,ro=true` as well is a bit closer to what I want (will get EROFS errors instead of "not a directory") and works quite well, I'll be using that until/if read-only-tmpfs takes care of it :)

I don't think masking /dev/pts is necessary, it's a different mount but it's a special kernel mount type that doesn't allow

[2022-01-20 22:55] stellarpower commented on #12013
And I was just about to open a new issue if it didn't already exist! You guys sure work fast :D.

@rhatdan, is this likely to make it into a new release soon then? I have an MRP as a sample/testing.:
[code]

Whilst it seems a frivolity, this is actually a real-world problem in my current setup. Granted, the root cause may be somehting else and my fault, but I seem to recall the same when I did an

[2022-01-21 00:37] vikas-goel opened #12957 "Container connection to multi network each with a static IP address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to connect a Podman container to multiple macvlan networks each with a static IP address. However, the containers gets static IP address of the first network. The static IP address of the other networks are ignored. Instead, auto allocation happens from the subnet assigned to the

[2022-01-21 00:39] vikas-goel commented on #12957
@rhatdan , @mheon , @Luap99 ,
Could you check this one?

[2022-01-21 03:23] dgibson commented on #12784
Addressed in #12958

[2022-01-21 04:43] jescobar commented on #8016
Might this can help, I found this nice post that have a work around, I have tested and it worked https://dalethestirling.github.io/Macos-volumes-with-Podman/

[2022-01-21 07:04] afbjorklund commented on #8016
The workaround (using reverse-sshfs) helps, it is just somewhat cumbersome and ugly to use...
Having to leave the ssh connection open is also something of a "problem", compared to virtfs.

But it is implemented in [lima](https://github.com/lima-vm/lima) (using lima-hostagent/lima-useragent), so it definitely _works_.
As noted above, it is packaged in `sshocker` so all that is needed is to get the

[2022-01-21 08:14] daiaji commented on #12922
@Luap99 Basically I just need to wait for podman4.0 to come online?

[2022-01-21 08:28] ananthb commented on #2788
Podman info works for me even with the error. We may be having different issues. Is your user account managed by systemd-homed or is it a standard Linux account from /etc/passwd.

[2022-01-21 08:43] tmds commented on #12927
Are you aware of other APIs that have the same issue? Is there a way I can identify them?

[2022-01-21 08:47] Luap99 commented on #12957
Please try his with podman 4.0, this should work now

[2022-01-21 08:47] #12957 closed

[2022-01-21 09:16] giuseppe commented on #12953
I think the `:z` is causing the relabelling of all the files in the volume so they are copied to the upper layer.

It might be that in older versions we didn't handle correctly the option flag

[2022-01-21 09:19] giuseppe commented on #12944
this is not currently supported by the OCI runtime specs, so it is not something podman can really do.

Couldn't you wrap podman with another check `podman exec $CID test -e $PWD` and if it succeeds use `$PWD` as working directory?

[2022-01-21 09:23] slartibart70 commented on #12953
yes, i found this one already to be true (yesterday night while testing....)
But, without the :z label, my container is not allowed to access the folders inside the overlay on centos 8.4

docker on ubuntu does not use labeliing (se-linux), so this is the reason for it to work

Is there a possibility to disable the label-check for specific containers only?
I don't want to disable se-linux globally

[2022-01-21 09:35] githubcek commented on #5431
Nice solution. On "Red Hat Enterprise Linux release 8.5 (Ootpa)" solution with 2 .service files is working for `firewall-cmd --reload` and `systemctl restart firewalld` but not for: `systemctl stop firewalld` and then `systemctl start firewalld`
I have deleted "**Requires=firewalld.service**" and now also works for `systemctl start firewalld` :)

`cat /etc/systemd/system/podman-firewall-cmd-reload

[2022-01-21 09:45] slartibart70 commented on #12953
one thing is strange:

on fedora34 / podman 3.4.4 this seems to work without :z ?
My container is a tomcat based on an ubuntu base-image, the webapps folder is the overlay coming from outside

Looking at the labels:
centos:
[code]

fedora34:
[code]

on fedora/podman3.4.4 i am allowed to enter the webapps folder, on centos not

[2022-01-21 09:48] slartibart70 commented on #12953
i just tested with 'setenforce permissive' on centos
Yep, doing allright, i can access the webapp folder
(oh man, centos being the problem again with old repos? )