[2019-05-03 12:34] vrothberg opened #3062 "use containers/image/pkg/sysregistriesv2"
We need libpod to use the `sysregistriesv2` package instead of the old `sysregistries` package.

[2019-05-03 12:45] junaruga opened #3063 "Supporting building multi-platform images (podman buildx)"
/kind feature

**Description**

Supporting building multi-platform images (`podman buildx`)

**Detail**

This ticket is a request for feature.

`docker buildx` [1][2] is to enable building and running multi-platform container images.
I would like to see that `podman` has like the feature.

[code]

RHEL 8 started supporting multi arch including ARM 64 bit.
Quay 3 started supporting multi arch inclu

[2019-05-03 13:02] jitka commented on #3022
Addidng the tag do not solve it:
[code]

[2019-05-03 13:24] vrothberg commented on #3022
The reference in the `podman run` call is still wrong. Try it with `localhost/name:prahapiraticz_site` and it should work again.

[2019-05-03 18:29] #2735 closed

[2019-05-03 21:22] marshallford commented on #2798
@gbraad Same for F30. Just checked.

[2019-05-04 11:21] rhatdan commented on #2798
According to https://bodhi.fedoraproject.org/updates/FEDORA-2019-bc70b381ad it should be in stable now.  Well it reached that state yesterday.

[2019-05-04 13:51] gbraad commented on #2798
@rhatdan how about F29? I am not willing to update the whole system at this moment as I will present soon.

[2019-05-04 14:28] gbraad commented on #1917
which podman files should be deleted?

[2019-05-04 15:05] mheon commented on #1917
Generally speaking, the entirety of containers/storage's root directory (`GraphRoot` in `podman info`, defaults to `$HOME/.local/share/containers/storage`)

[2019-05-04 17:30] gbraad commented on #1917
It would be more cleverer to provide a command to handle this forced cleanup process, which can be mentioned in the error message, since this would avoid ambiguity and guesswork from the user's end.

[2019-05-05 11:36] rhatdan commented on #2798
It should be there as well.

If it has not reached a repo yet, then just install it from updates-testing.

dnf -y update runc --enablerepo=updates-testing.

[2019-05-05 14:39] baude commented on #3063
I've tagged in a few of the buildah folks ... I'm wondering if this issue is more applicable to them.

My initial reaction here is mixed but I would like to hear from the buildah guys first.

[2019-05-05 14:40] baude commented on #3044
would this be more appropriate as a bugzilla?

[2019-05-05 18:12] abitrolly commented on #2900
I am blocked by the same issue. When this new version with improved debug output will be released?

[2019-05-05 18:16] abitrolly commented on #2900
It is very strange.
[code]

[2019-05-05 18:19] mheon commented on #2900
1.3 should be releasing on Monday, and hopefully available in the repos later this week. It will include this patch.

For reference, after some further debugging, I'm fairly certain this is coming out of the lock allocation code, and it's not actually a "no such file or directory" - just a somewhat questionable reuse of the error code to indicate that a lock has already been released (the error co

[2019-05-05 18:21] abitrolly commented on #2900
This command removes one container and shows the error.
[code]

[2019-05-05 18:25] abitrolly commented on #2900
@mheon the error is preventing `rm -a` to remove the rest of containers. I can't say it's harmless.

[2019-05-05 18:26] mheon commented on #2900
That's a separate bug in `rm -a` then - we should be trying each container independently

[2019-05-05 19:19] abitrolly commented on #1917
`podman` not uses `fuse-overlay`, and the original issue is fixed. I don't see any dangling dirs anymore.
[code]

[2019-05-06 06:20] h-vetinari commented on #2887
@rhatdan @lsm5
Anything I can do to help with this? I filed #3068 for the installation docs update - with the installation steps outlined for ubuntu, I get a build that does not have the issue described in the OP.

[2019-05-06 06:22] h-vetinari commented on #3044
@baude
Is this something for me to file, or more for RH-people?

[2019-05-06 07:58] celebdor commented on #2900
I just went and deleted all the references to the unremovable container with boltbrowser:

[code]

[2019-05-06 11:20] abitrolly commented on #2379
I've got root owned files in my local dir after I run `docker` and then tried the same command with `podman`.

[2019-05-06 11:51] gertvdijk commented on #1742
@siretart

Understand that and that's why I suggested pinning. To elaborate a bit more: e.g. pin your repository with e.g. prio 600 in APT preferences if you need to build from it, but publish with the option [`-butautomaticupgrades`](https://www.aptly.info/doc/aptly/publish/repo/) causes it to lower the priority ([more info](https://www.debian.org/doc/manuals/debian-reference/ch02.en.html#_tweaki

[2019-05-06 12:22] mheon commented on #2379
Root owned? That's unusual. We'd expect ownership by a high UID/GID if
you're using rootless.

On Mon, May 6, 2019, 07:20 Anatoli Babenia <notifications@github.com> wrote:

[2019-05-06 12:39] lsm5 commented on #3044
@h-vetinari RHEL updates are being worked on, but that takes a while to get through the release process, and sometimes issues keep us from pushing those. Remind me again please, are you a RHEL or CentOS user? If you use CentOS, newer packages can be fetched from the SIG repos.

[2019-05-06 12:45] abitrolly commented on #2379
These are created by `docker run`,
[code]

[2019-05-06 12:56] h-vetinari commented on #3044
RHEL user, and restricted to the official channels for support reasons.

[2019-05-06 13:53] ddarrah commented on #3009
@Edward5hen PTAL

[2019-05-06 14:13] mheon commented on #2900
@celebdor An unremovable container is very concerning - if it happens again, would you mind opening an issue here? Containers that manage to wedge themselves to the point that they can't be removed would be a top-priority bug for us. The original issue here (`No such file or directory`) is almost certainly separate/harmless (the container is still gone after `rm` runs).

[2019-05-06 14:22] rhatdan commented on #2379
Podman is running as your user UID, and would not be allowed to change files owned by root.  This is expected

[2019-05-06 14:40] undecaf opened #3071 "For 'podman run --rm', do not remove named volumes (align with Docker behaviour)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`podman run --rm -v some-vol:/some/where image` removes `some-vol` after stopping the container whereas the same command with `docker` retains the volume (as per the [Docker documentation](https://docs.docker.com/engine/reference/run/#clean-up---rm)).

It would be desirable to align Podma

[2019-05-06 14:46] mheon commented on #3071
Hm. I think we might have regressed on this when we swapped `podman cleanup` over to the new localruntime - the `removeVolume` bool was flipped from false to true

[2019-05-06 16:01] fatherlinux commented on #3044
@h-vetinari thanks for reaching out on this. RHEL 7 dot release operate on a 6+ (sometimes up to 11 months) lifecycle. To solve this, we have released podman in Extras which means, we "can update more often than that, but we try to be careful doing so. Those 1200 commits can also include new bugs, so it's always a balancing act of when to make a commitment to role versions in RHEL.

That said, wha

[2019-05-06 17:12] h-vetinari commented on #3044
@fatherlinux
Thanks a lot for the response!

I'm happy to go through whatever channels are the most appropriate, but I have the limitation that I'm not actually responsible for the RHEL infrastructure at the company, I'm just building stuff that needs podman, and am particularly hitting issues relating to multistage builds (cf. containers/buildah#632, containers/buildah#1456, containers/buildah#14

[2019-05-06 17:14] mheon commented on #2900
Think I have a clue on what the original `no such file or directory` issue is

[2019-05-06 17:18] mheon commented on #3071
#3072 to fix

[2019-05-06 17:22] mheon commented on #2900
Confirmed - I've identified the root cause of the issue.

Patching now.

[2019-05-06 17:55] mheon commented on #2900
#3073 to fix

[2019-05-06 18:40] haircommander commented on #3029
@Fodoj just to make sure, are you expecting the path to be based on the kube yaml location?

[2019-05-06 19:19] Fodoj commented on #3029
Good question... I think that would make more sense than relative to where podman runs from, but no idea what's the way to go, really

[2019-05-06 19:32] baude commented on #2938
Using master I cannot replicate your findings.  Here is my example:

[code]

[2019-05-06 19:40] haircommander commented on #3029
```podman --mount type=bind,src=./,target=/tmp -ti alpine ls /tmp```
actually mounts based on the rundir. I'd likely want to line up functionality with that, as that's the equivalent from the podman CLI. WDYT @Fodoj
(cc: @mheon because you just did some mount reworking and may have something to say here)

[2019-05-06 20:08] mheon commented on #3029
Relative mounts working right now are honestly more of an accident than anything. I don't think we consider them supported, so if we want to change where they're relative to (such that they make more sense), I'd be fine with that. Directory Podman is being run from would seem to make the most sense to me.

(We'll probably have to resolve the relative paths before we pass them into Libpod to do thi

[2019-05-07 01:16] kunalkushwaha commented on #3062
I can work on this.

/assign

[2019-05-07 01:22] kunalkushwaha commented on #3062
It seems its already done in release `v1.3.0`

[2019-05-07 03:01] mheon commented on #3062
I'll close this, then.

[2019-05-07 03:01] #3062 closed

[2019-05-07 07:46] michielhemme opened #3075 "Stuck at created container after error message: WARN[0001] Failed to add conmon to cgroupfs sandbox cgroup: mkdir /sys/fs/cgroup/systemd/libpod_parent: permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Centos 7.6 and then install packages through rpm:
- conmon-1.12.0-12.dev.gitc4f232a.fc29.x86_64
- runc-1.0.0-92.dev.gitc1b8c57.fc31.x86_64
- slirp4netns-0.3.0-1.1.x86_64
- podman-1.2.0-24.dev.git0458daf.fc31.x86_64
- shadow-utils46-newxidmap-4.6-4

[2019-05-07 13:52] Edward5hen commented on #2938
It's been more than 20 days, I don't have the old created containers now. So I tried it with a new simple container on podman node:

`podman run -d busybox sleep 1000`

The same result I got on the remote node:
[code]
But on podman node, it just works fine:
[code]

On podman node:
[code]

on remote node:
[code]

[2019-05-07 15:29] saschagrunert opened #3079 "Make journald event logging optional"
The latest release (v1.3.0) requires [`github.com/coreos/go-systemd/sdjournal`](https://github.com/containers/libpod/blob/master/libpod/events/journal_linux.go#L8) which relies on [development files from systemd](https://github.com/coreos/go-systemd/blob/95778dfbb74eb7e4dbaf43bf7d71809650ef8076/sdjournal/journal.go#L27-L28) which are not available on every target system and could break up builds.

[2019-05-07 16:01] mheon commented on #3079
SGTM. @baude Any issues with this?

[2019-05-07 17:24] baude commented on #3079
I need to think about this before deciding.  the problem is that it is the default setting.

[2019-05-07 17:48] baude commented on #3079
@saschagrunert put together a PR ... lets see what you have in mind.  I want final say but we can collaborate on it.

[2019-05-07 17:53] saschagrunert commented on #3079
I will do, thanks. If you say it should be included in every case we could also just [update the documentation](https://github.com/containers/libpod/blob/master/install.md#build-and-run-dependencies) about building libpod. In CRI-O for example we do not use this new code at all but updating libpod breaks up some builds. Beside that, statically building/linking systemd is a pain point and I usually

[2019-05-07 19:02] #2938 closed

[2019-05-07 19:04] baude commented on #2920
To enable timestamps for log messages, you must pass the `--timestamps|-t` flag.  Timestamps are off by default.  We follow docker exactly on this one.

What you are seeing in the examples are a result of logging a redis container.  Redis logs include a timestamp (not related to podman log timestamping).   Mariadb does the same.  Postgresql does not but the log is not very long.

[2019-05-07 19:31] mheon commented on #3046
Working on code for this now. Support for XFS volume may take a little longer - I'm targetting tmpfs first, then NFS/XFS/others. Hopefully all will be available in Podman 1.4

[2019-05-07 19:32] mheon commented on #2996
I think we can close this one with the changes @rhatdan landed for mounting some directories tmpfs when the container is read-only.

[2019-05-07 19:32] #2996 closed

[2019-05-07 22:50] dustymabe commented on #2647
Doesn't seem like it:

[code]

[2019-05-07 22:50] #2647 closed

[2019-05-08 03:10] henrywang commented on #3075
Have the same issue on Fedora 30, but not on Fedora 29.
If I disable selinux, everything works well.
Could you please take a look? Thank you so much.
podman version
[code]
podman info --debug
[code]

[2019-05-08 04:05] mheon commented on #3075
The `Failed to add conmon to cgroupfs sandbox` line is harmless; we can continue without issue when it happens. I'd actually say it's entirely expected on rootless (we should probably disable actually attempting it in the rootless case).

From the Podman side, it seems like your container has been created and is running. I imagine that, if you hit it with a `podman kill` or `podman stop` from anot

[2019-05-08 04:09] mheon commented on #3075
Hm. From the positioning of the hang, the cause could be starting the container. If `runc` hangs when we request that it starts the container, that would cause the command we see here.

[2019-05-08 04:16] mheon commented on #3075
@michielhemme can you temporarily disable SELinux and see if you see different results?
@henrywang Please check `journalctl` for any AVCs (they'd be formatted like `audit[23984]: AVC avc:  denied  { write } for  pid=12345` in the logs) and paste them here, so we can tell what SELinux is blocking.

[2019-05-08 05:59] michielhemme commented on #3075
Tried it with SELinux, disabled, enforced, permissive. All resulting in a hang after started container (so when runc needs to take over).

Since Rhel8 released yesterday I will continue my research in that distro. Thanks for the help anyway.
I'll keep the installation on disk so If anyone else got a solution, I can try it out and people might find it useful in the future.

[2019-05-08 07:28] henrywang commented on #3075
Thanks @mheon! Here's my AVC:
`AVC avc:  denied  { map } for  pid=5713 comm="entry_point.sh" path="/usr/bin/env" dev="fuse" ino=1334900 scontext=system_u:system_r:container_t:s0:c112,c627 tcontext=system_u:object_r:fusefs_t:s0 tclass=file permissive=0`

And my podman ps -a result:
[code]

[2019-05-08 07:42] michielhemme commented on #3044
Well RHEL 8 just released. Unfortanaly the package used is 1.02-dev or something like that. Everything will work except rootless portmapping.

[2019-05-08 08:10] Edward5hen commented on #2937
I pull the latest code, and this issue is not found anymore.

[2019-05-08 08:10] #2937 closed

[2019-05-08 08:15] Edward5hen commented on #3011
After building with the latest code, this issue is not found any longer.

[2019-05-08 08:15] #3011 closed

[2019-05-08 08:26] Edward5hen commented on #3009
Build with the latest code, this issue is not found.

[2019-05-08 08:26] #3009 closed

[2019-05-08 08:58] h-vetinari commented on #3044
That's unfortunately not true for me. The bugs I referenced only got fixed with 1.2/1.3.

[2019-05-08 09:04] hardys commented on #2900
@mheon just to clarify, the issues we're seeing are either pods or containers that cannot be removed (e.g the container/pod is *not* gone after rm runs, hence the DB hacking).

An example which I just ran into now, immediately after a reboot:

[code]

This is with podman-1.2-2.git3bd528e.el7.x86_64 so I'm wondering if this is likely to be fixed by the #3073 PR, or if there's another issue to flush

[2019-05-08 14:30] lfarkas commented on #3001
yes

[2019-05-08 14:30] #3001 closed

[2019-05-08 19:26] bnordgren opened #3088 "Inconsistent state recovery"
/kind feature

**Description**

At some point in the past, removing a pod with podman failed and now I have an inconsistent state which I don't know how to fix. Apparently the storage for the infra container was deleted on disk, but podman still believes the container exists. I have one of these for my root instance as well as rootless. Podman should have some command to force cleanup of inconsist

[2019-05-08 19:32] mheon commented on #3088
This sounds like it would be fixed by the recently-merged https://github.com/containers/libpod/pull/3082

[2019-05-08 21:03] #3071 closed

[2019-05-08 21:16] giuseppe commented on #3001
@lfarkas can this be closed now?

[2019-05-08 23:26] weirdwiz commented on #1925
@dougsland are you working on this issue? can I take this up?

[2019-05-09 09:46] niklas88 commented on #1963
I'm still seeing this issue on
[code]
Trying to run the following without being logged in to `docker.io` fails
[code]
However it works with `sudo`
[code]
And it also works after `podman login docker.io`
[code]
I think this could be the same issue as #2710 and might be fixed by #2911 (haven't verified this yet) but since this issue is what one finds when searching for it and since the different beh

[2019-05-09 11:05] dougsland commented on #1925
@weirdwiz I am in a conference right now but my plan is continue on this next week. However, if you have any patch ready to go fell free to submit.

[2019-05-09 12:02] TomSweeneyRedHat commented on #1963
Just to be safe, I'm going to reopen this now so it doesn't get lost in the shuffle.  Thanks for the update @niklas88!

[2019-05-09 16:14] weirdwiz commented on #1925
@dougsland I see, I will leave you to it then as you are already working on it :grinning:

[2019-05-09 16:20] junaruga commented on #3063
Thank you for considering this.

[2019-05-09 17:35] #2966 closed

[2019-05-09 19:08] llchan opened #3095 "libpod.conf runtimes section"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The new `events_logger` config param was added to libpod.conf at the end of the file, which causes it to be parsed as part of the [runtimes] block above it, leading to a type error on parsing.

This is at least the second time something has been appended to the end of libpod.conf, breaking the

[2019-05-09 19:12] mheon commented on #3095
We need to do something about the `[runtimes]` section so it doesn't try parsing everything below - I don't think forcing people to have no options underneath it is a viable long-term solution

[2019-05-09 19:15] llchan commented on #3095
Sure, yeah, that's definitely better.  I don't know enough about the TOML format to comment on how we might do that in a backwards-compatible manner though.  Hopefully it's possible with the dotted syntax?

[2019-05-09 19:18] llchan commented on #3095
Scanning the [toml key docs](https://github.com/toml-lang/toml#keys), I think it should be equivalent if we convert
[code]
to
[code]
with the main difference being that it doesnt continue consuming lines for the runtimes table.

[2019-05-09 19:20] llchan commented on #3095
As a side note, I think it would be helpful to add a step to the CI that tests `podman info` against the default libpod.conf on a fully wiped setup (i.e. delete the database file, since that can influence the outcome).

[2019-05-09 19:31] llchan commented on #3095
Naively trying that change, seems like it doesnt work: `Bare keys cannot contain '.'`.  Searching for this error, seems like people are saying we need to use `DecodeFile` rather than `Decode`, so that may be all that's required to get it up and running. I don't have the bandwidth today to hack at this and test a new build but just figured I'd relay the information.

[2019-05-10 02:24] aschofie opened #3100 "Building / Installing podman as non-root"
From what I've read it seems to be the answer to everything that ails docker. Images in user directory, containers with only user permissions, no daemon, etc. Yet every guide to installing seems to rely on the system's package manager, and the build seems to rely on packages being installed (runc, common), that would also require permissions to the system's package manager.

So how can I get podma

[2019-05-10 02:43] jbergknoff commented on #1963
I'm trying podman for the first time, but I'm unable to do an unauthenticated pull from docker.io with or without sudo:

[code]

[code]

[code]

[2019-05-10 08:21] giuseppe commented on #3100
that is more difficult to get as you'd need to install all dependencies in your home directory and prepare all the configuration files to use/point the right executables.  We have nothing at the moment for bootstrapping podman and its dependencies from scratch for an unprivileged user.

The easiest would be to install it on the system, but still use the unprivileged users for running the container

[2019-05-10 09:25] garethahealy opened #3102 "podman-remote create|run; unable to pull : error getting default registries to try"
/kind bug

**Description**
podman-remote create|run both return an error regarding unable to pull image. The image thats trying to be pulled is already local.

https://gist.github.com/garethahealy/edd4d7da405987d15c2b21990721463e

[code]

**Steps to reproduce the issue:**
1. podman-remote pull registry.access.redhat.com/ubi8/ubi:8.0
2. podman-remote run -it registry.access.redhat.com/ubi8/ubi:8.0

[2019-05-10 16:57] kbaegis commented on #1233
Works. Thanks!

[2019-05-10 20:54] mcritchlow commented on #3095
Experiencing this on Arch Linux as well, latest version `1.3.0`, clean install with no configuration changes.

[code]

[2019-05-10 21:01] mheon commented on #3095
We're planning on pushing a 1.3.1 soon anyways (had some serious pod-related bugs), so we'll see about getting this patched and included as well.

[2019-05-10 21:27] rbjorklin commented on #2265
Also interested in this since there does not seem to be any rotation on `ctr.log` it has now filled up the disk on some of our machines with long running containers.

[2019-05-10 21:51] rhatdan commented on #1963
Do you have a auth file around with bad data in it?

[2019-05-10 22:11] #2250 closed

[2019-05-10 22:30] rhatdan commented on #3075
That is allowed in the current policy, which you indicate is installed.

Could you try

dnf reinstall container-selinux

And see if anything blows up?

[2019-05-11 00:28] kallisti5 opened #3107 "Rust ffi bindings crate for libpod"
It appears someone has reserved multiple terms for the containers project @ Rust's crates.io.

A few examples:
* https://crates.io/crates/libpod
* https://crates.io/crates/podman
* https://crates.io/crates/pods
* https://crates.io/crates/podlib
* https://crates.io/crates/conmon
* https://crates.io/crates/buildah

If there are any plans to expose libpod API's in Rust, the containers team may want t

[2019-05-11 01:22] jbergknoff commented on #1963
Yes! Thank you. Cleared out ~/.docker/config.json and now it works as expected.

[2019-05-11 14:11] TomSweeneyRedHat commented on #1963
I'm going to reopen this one until I get a chance to add it to the known issues page.

[2019-05-11 17:48] sVattic opened #3109 "Getting fuse-overlayfs into the podman installation instructions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Following the current [installation instructions](https://github.com/containers/libpod/blob/master/install.md#ubuntu), running `podman run -it --rm docker.io/ubuntu` consumes just under 500 MB in `~/.local/share/containers/storage`. It is not immediately obvious to a new user as to why th

[2019-05-12 08:27] ford-prefect opened #3110 "podman: Copy doesn't seem to work from cache"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Run `podman build` on a `Dockerfile` that uses `FROM .. AS ...` and `COPY --from` syntax. Example: https://github.com/ford-prefect/laser-egg/blob/master/Dockerfile

2. Make some changes around the second container.

3. Run `podman build` again

**Describe

[2019-05-12 10:09] rhatdan commented on #3109
@sVattic Thanks for the issue, and we agree this is not a great situation.

@sVattic Any chance you could open a PR with the instruction changes.

[2019-05-12 10:52] rhatdan commented on #3063
Yes please open an issue on the buildah repo, we can discuss it there.

[2019-05-12 13:04] h-vetinari commented on #3045
As mentioned in #3068:

[2019-05-12 13:27] AkihiroSuda opened #3111 "play kube should honor container.seccomp.security.alpha.kubernetes.io"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

Not sure /kind bug or /kind feature.
Probably /kind feature.

**Description**

play kube should honor `container.seccomp.security.alpha.kubernetes.io`
And also `container.apparmor.security.beta.kubernetes.io`

**Steps to reproduce the issue:**

Play-kube the following yaml
[code]

**Describe the results you received:**

[2019-05-12 16:26] kbaegis opened #3112 "Unable to bind mount inside container (mount: mounting <dir> on <dir2> failed: Permission denied)"
/kind bug

**Description**

I require the ability to run mount --bind inside a container.

**Steps to reproduce the issue:**

[code]

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

On-pr

[2019-05-12 16:26] kbaegis commented on #1834
Opened: https://github.com/containers/libpod/issues/3112

[2019-05-12 17:41] akostadinov commented on #1963
I think invalid auth data shouldn't prevent anonymous pull.

[2019-05-13 05:27] michielhemme commented on #3075
Actually my issue isn't with root user. It works flawlessly on root. The only issue I got is that port binding causes this issue on rootless (I can start a container without port binding, but I can only use Podman if port binding works).

Since RHEL8 contains Podman V1.02-dev doesn't support rootless port bindings, I needed to install a newer RPM. So far I've tried:
Podman 1.3-dev
Podman 1.2
Podma

[2019-05-13 07:17] michielhemme commented on #3075
@rhatdan I was wondering if you could give any more insight in the release cycle of Podman within Red Hat 8? For example when will 1.12 arrive?

[2019-05-13 08:29] michielhemme commented on #3044
@fatherlinux , Currently RHEL8 installs podman version 1.0.0.2. This version is lacking Port binding support for rootless users. Could I ask you if rootless port binding support(Podman 1.12+) will be released soon within RHEL 8? If so when?

[2019-05-13 08:46] vrothberg commented on #3111
Hi @AkihiroSuda, thanks for opening the issue! @baude, I also added the `good first issue` label. I think it's a nice task for interns.

[2019-05-13 08:59] giuseppe commented on #3112
it seems to work fine on Fedora 30.  Is there anything specific to Gentoo that could block it?

[2019-05-13 11:36] rhatdan commented on #3112
Does dmesg show anything?

[2019-05-13 11:40] junaruga commented on #3063
@rhatdan sure. I opened the ticket on the buildah repo.

[2019-05-13 12:01] #3063 closed

[2019-05-13 13:08] sVattic commented on #3109
@rhatdan Unfortunately I might need some help with the instructions - as you saw in https://github.com/containers/fuse-overlayfs/pull/72 I was able to build some static binaries, but after that was unable to get them to work on my host.

As a test, I copied the `fuse-overlayfs` and `fusermount3` binaries out to my host, and tried this:

[code]
[code]

It might be that my system does not meet the r

[2019-05-13 13:14] rhatdan commented on #3109
@giuseppe PTAL

[2019-05-13 13:32] rhatdan commented on #3075
Currently we have to wait until RHEL8.1 to update container runtimes.  I am trying to change this.

[2019-05-13 13:33] rhatdan commented on #3075
@michielhemme What AVC's are you seeing on Fedora 30?

ausearch -m avc -ts recent

[2019-05-13 13:37] rhatdan commented on #3044
@michielhemme There is no podman 1.12, the next release is podman 1.3.  Definitely will be in RHEL8.1 hopefully sooner.

[2019-05-13 13:39] baude commented on #3102
@garethahealy im not able to replicate this with the upstream master version of libpod.  Is there any chance you could hop onto freenode in #podman and we could collab on this?

[2019-05-13 13:50] henrywang commented on #3075
@rhatdan, re-install `container-selinux-2.100-1.git3b78187.fc30.noarch`works for me. Appreciate your help! Does that mean we always need re-install `container-selinux` when updating from Fedora 29 to 30? Thanks.

[2019-05-13 13:56] cevich opened #3114 "Ginkgo timed out waiting for all parallel nodes to report back!"
/kind bug

**Description**

Various Cirrus-CI tasks fail with this text after about 20-minutes of runtime:

[code]

However, the ginkgo timeout should be set @ 90-minutes.  Emergence of this behavior seems to coincide with wide-spread flakes we're currently seeing following PR #3072 7b54ebb48fecb4205304586a57a3e6b9b96befa0

**Steps to reproduce the issue:**

1. Unknown, seems to happen randomly

*

[2019-05-13 14:33] giuseppe commented on #3109
you need at least Linux 4.18.  What is the version of the kernel you are using?

[2019-05-13 16:02] rhatdan commented on #3075
No, your the only one that I heard about this from.  Something went wrong when you were updating or installing.  I will be looking for similar issues, and hope that this was just your issue. :^)

[2019-05-13 16:02] #3075 closed

[2019-05-13 16:03] mheon commented on #3114
This has to be ginkgo itself. Possibly a separate timeout for parallel testing we missed?

[2019-05-13 16:04] cevich commented on #3114
From #3083

@mheon I don't think this is related to infrastructure, though I would not rule that out yet.  All the ginkgo-related issues I trolled with this error message, revolved around a test running in a ginkgo node missing/mishandling a signal from ginkgo (STOP I believe).  There were also TONS of complaints and proposed fixes to ginkgo since people found this incredibly difficult to debug.

[2019-05-13 16:07] cevich commented on #3114
Could be, but from my trolling the error, its seems likely a ginkgo thread (node) that's "hanging" because a test is hanging.

[2019-05-13 16:23] cevich commented on #3114
TEST PR: #3115

[2019-05-13 17:00] mheon commented on #3114
@cevich I think we're hitting some sort of internal Ginkgo PR (inconsistently). What's strange is that it seems like 30 minutes of *overall* time on the VM, then it stops, consistently - not 30 minutes in the Ginkgo integration tests

[2019-05-13 17:01] mheon commented on #3114
Internal Ginkgo Timeout. I need more coffee.

[2019-05-13 17:43] cevich commented on #3114
A/B testing in 3115 finished with interesting results:

* When `-nodes3` is removed (executes all test in serial) the same test failed every time:  `podman run notify_socket`
* One of the runs with `-debug` enabled + `-nodes 3` also seems to have flaked on this test.
* The other two runs with `-debug` enabled passed fine.

So the instrumented testing results seem useful and mirror the randomness w

[2019-05-13 17:49] cevich commented on #3114
...common error across all failures seems to be:

[code]

Is that correct, it should use `--timeout 0`, or a typo?

[2019-05-13 17:55] mheon commented on #3114
The `--timeout 0` for `podman stop` indicates that it shouldn't bother with `SIGINT`; just go straight to `SIGKILL` immediately.

[2019-05-13 17:58] mheon commented on #3114
It's timing out waiting for the exit file to be created, I think. Your error is almost certainly coming out of `waitForExitFileAndSync()` in `container_internal.go`.

[2019-05-13 17:59] cevich commented on #3114
It's curious how this test could hang then, SIGKILL is not trapable.  Looking at the tracebacks from ginkgo, I see no difference between the `-debug` (paralel) and the `-nodes 1` (serial) failure cases.  But somehow, when running under `-nodes 3` this test _sometimes_ becomes unresponsive to ginkgo trying to signal it.

[2019-05-13 18:04] cevich commented on #3114
``[cevich@cevich libpod]$ diff -Naur A B``

[code]

[2019-05-13 18:07] cevich commented on #3114
ya...only thing that changes appears to be memory addresses and names/locations we would expect to differ.  All the line numbers and other significant details remain identical between serial and parallel failures.

[2019-05-13 18:08] mheon commented on #3114
I think we are seeing the container die, but we're not finding the exit file containing details about how the container exited (with what code, when). Conmon could be dying prematurely, potentially? Or the file is created in a place we don't know to look?

[2019-05-13 18:14] cevich commented on #3114
Hmmm, I don't know about most of this stuff, but what sticks out to me is:  The test uses a number of `defer` statements to cleanup a socket and it's file handle.  However, the failure trace happens during 'AfterEach`.  Since this happens randomly, perhaps the file-handle defer and socket close defer are racing eachother, or (if possible) racing AfterEach()?

[2019-05-13 18:24] cevich commented on #3114
Experimenting with fixing the cleanup order of the socket, fd, and env var...

[2019-05-13 18:40] #3079 closed

[2019-05-13 18:57] mheon commented on #3110
@TomSweeneyRedHat PTAL

[2019-05-13 19:02] cevich commented on #3114
@mheon assuming my experiment will fail, and you're right:  How can I verify ``we're not finding the exit file containing details``?  Would running an `ls -la` during `AfterEach` suffice?  What directory should it list?

[2019-05-13 19:15] mheon commented on #3114
Exit files are going to be in libpod's temporary directory (`--tmpdir`), in a subdirectory called `exit`, with their name being the full ID of the container in question

[2019-05-13 19:20] cevich commented on #3114
mmmm, dang.  That sounds like it would be difficult to find from AfterEach :disappointed:

Maybe I could temporarily move the `AfterEach` code into this specific test, where it could have ready access to those details.  Then it would be a simple matter of spamming the test until it fails with proof (or not) of a missing(?) exit file.

[2019-05-13 19:29] cevich commented on #3114
@mheon okay, well my experiment did fail on all 10 attempts, we still get:

[code]

Where `test/utils/utils.go:317` is the first line of code in the function:

[code]

[2019-05-13 19:36] cevich commented on #3114
Removed my experimental fix, and re-worked testing PR to only run this single test x10 with 10x flake attempts each.  This should make it fail fast, and often.  Then I'll see about this exit-file business...

[2019-05-13 19:45] cevich commented on #3114
@mheon playing around in 1.2.0, while a container is running I see no matching file in `/var/run/libpod/exits/$CID`.  After the container exits, but before I remove it, I see:
``/var/run/libpod/exits/ad53df0c...f64b3-old``.

So in the case of this test, after the normal test code runs, I should NOT find a ``--tmpdir`` file called ``${CID}.old`` (presumably, because the container has not stopped)?

[2019-05-13 19:49] cevich commented on #3114
(--force pushed: removed 10x flake-attempts, taking too long to fail 90-seconds each)

[2019-05-13 20:02] mheon commented on #3095
Fixing this in a more future-proof way is not promising. TOML does not have syntax for end-of-table, and dotted syntax does not seem to be supported for this case.

Best way forward seems to be to remove anything before the `[runtimes]` section and add a comment explaining why, and why it must be the absolute last thing in the file, and then to be more vigilant in the future when reviewing incomin

[2019-05-13 20:10] mheon commented on #3095
#3116 to fix

[2019-05-13 20:17] mheon commented on #3114
OK, `-old` makes some sense - when we read the file in, we rename it (I forget exactly where) so we won't have conflicts if we restart the container

[2019-05-13 21:16] kbaegis commented on #3112
Why would this work on the same box with docker but not with libpod, both using the same runtime?

[2019-05-13 21:18] undecaf opened #3117 "COPY misbehaves in the presence of a non-empty .dockerignore file"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When COPYing a directory, I expected only the children of the source directory to be copied. However, if a non-empty `.dockerignore` file exists then the source directory itself is copied.

Resolved in Buildah, see [#1530](https://github.com/containers/buildah/issues/1530)

**Steps to reprodu

[2019-05-13 21:24] cevich commented on #3114
Interesting, so there's actually a double-failure happening here.  The first (test-fail) @baude thinks is a multi-thread collision on the socket name.  The test then goes into AfterEach and that's where we get the hang and timeout.  This seems to be masking the original failure, so I'm not sure what that is.  Trying Brent's socket name fix...

[2019-05-13 22:00] ivoshm commented on #2572
IMHO - in this situation will be better to change order of nameservers into guest's resolv.conf - please add 10.0.2.3 as first one and then all others because default number of nameservers used by system is only 3 (MAXNS in resolv.h).

[2019-05-13 22:36] mheon commented on #3117
If this is fixed in Buildah, we'll pick it up for the next major Podman release when we revendor Buildah.

[2019-05-14 00:55] llchan commented on #3095
Is it possible to switch to `DecodeFile` rather than `Decode` for the TOML parsing? I haven't tried it myself but from what I gather that may enable dotted keys in away that would work here.

[2019-05-14 01:59] marcino239 opened #3118 "mkdir /var/run/netns permission denied"
/kind bug

Podman shows mkdir /var/run/netns permission denied when setting up network in bridge mode when running rootless.

**Steps to reproduce**
1. podman run -ti --log-level=debug --net=bridge node:lts bash

**Describe the results you received:**
ERRO[0005] error creating network namespace for container 2c812aa7fb6669c66df5435fe6485216b9089410c30aa64b2897d80542628752: open /var/run/netns/cni-

[2019-05-14 02:16] mheon commented on #3118
To confirm - running as root, or rootless?

[2019-05-14 02:19] mheon commented on #3118
@giuseppe I think we're trying to use the CNI plugins here. I'm amazed it's actually gotten this far without a segfault if that's the case, given we don't even initialize the plugins for rootless. We should probably add some form of error on attempting this.

@marcino239 We don't have the privileges to set up full bridged networking when running without root, hence the default mode of `slirp4netns

[2019-05-14 02:20] mheon commented on #3095
Tried it, and it didn't work - same "no periods in bare keys" errors

[2019-05-14 03:02] llchan commented on #3095
Ah, did not realize this was newly added to the TOML spec.

The relevant parser issue is https://github.com/BurntSushi/toml/issues/242.  We can probably just leave the comment for now, and when that lands we can upgrade.

Alternatively some other parsers have added support for dotted keys (e.g. https://github.com/pelletier/go-toml/pull/260), but I think it's sufficient to put a band-aid on this an

[2019-05-14 03:04] marshallford opened #3119 "fatal error: systemd/sd-journal.h: No such file or directory"
/kind bug

**Description**
Podman `1.3.0` fails to build from source on Alpine. This seems to be a regression from Podman version `1.2.0`. Not every linux distro has access to the systemd development headers. I'm not an expert but this issue seems similar to https://github.com/rkt/rkt/issues/2866.

**Steps to reproduce the issue:**

1. `git clone --branch v1.3.0 https://github.com/containers/libpo

[2019-05-14 03:10] mheon commented on #3119
The libsystemd requirement is gated behind a build tag on Master (since #3083 landed) and will be in tomorrow's 1.3.1 release.

[2019-05-14 03:14] marshallford commented on #3119
@mheon Thanks, I clearly didn't search well enough.

[2019-05-14 03:14] #3119 closed

[2019-05-14 04:25] karezza opened #3120 "podman run -v /run:/run"
/kind bug

**Description**

This is not a plex question but it's what I'm using to describe the issue.  The following script works if I run it as root, but not if I run it as regular user.  Issue seems to be around the "-v /run:/run" on RHEL 8.

**Steps to reproduce the issue:**

podman run \
        -d \
        --privileged \
        --net host \
        --ipc host \
        --pid host \

[2019-05-14 08:12] giuseppe commented on #3118
opened a PR here: https://github.com/containers/libpod/pull/3121

[2019-05-14 08:51] giuseppe commented on #3112
There are many reasons why this could fail: missing capabilities, seccomp, SELinux/AppArmor.  Could you show how `/proc/CONTAINER_PID/status` and `/proc/CONTAINER_PID/mountinfo` look like for a container created by Docker and one by Podman?

[2019-05-14 10:58] marcino239 commented on #3118
@mheon - yes I was running rootless trying to setup bridge network.  Thanks for explanation

[2019-05-14 10:58] #3118 closed

[2019-05-14 11:45] rhatdan commented on #3120
This usually means a UID is attempted to be used in the container that is not defined in the user namespace.  Do you have some directory that is not searchable inside of the container.

For example if your rootless container is attempting to crete content in /run/lock, it will not be allowed.  Rootless Podman is still governed by the rules of linux.  If your user is not allowed to create content i

[2019-05-14 11:45] rhatdan commented on #3120
This needs to be written up in a blog.

[2019-05-14 12:24] mheon commented on #3120
Is this tmpcopyup?

On Tue, May 14, 2019, 07:45 Daniel J Walsh <notifications@github.com> wrote:

[2019-05-14 12:57] cevich commented on #3114
@baude with your patch there is no change:  The `printenv NOTIFY_SOCKET` still outputs  ``/run/notify/notify.sock``, but then we hang in `session.WaitWithDefaultTimeout()`.  So `AfterEach` takes over, and fails again.   I double-checked a prior run, to make sure, it's the same behavior :disappointed:

@mheon I'm assuming there's some "magic" involved with passing NOTIFY_SOCKET from the host to the

[2019-05-14 12:58] sVattic commented on #3109
Oh - I didn't realize that, sorry. I see now that it's mentioned in the man page.

I have 4.15, I will try to get my system on the latest kernel and if that works start writing up a pull request.

[2019-05-14 13:01] TomSweeneyRedHat commented on #3117
@undecaf this code should have made it into Buildah v1.8.1 and Buildahv1.8.2 has been vendored into Podman upstream along with v1.3 and the soon to be released v1.3.1.  If you could bump your Podman version it should have the fix for you.

[2019-05-14 13:59] mheon commented on #3088
With #3082 merged and release inbound, I'm going to close.

[2019-05-14 13:59] #3088 closed

[2019-05-14 14:12] mheon commented on #3095
Closing for now as #3116 landed

[2019-05-14 14:12] #3095 closed

[2019-05-14 15:26] undecaf commented on #3117
@TomSweeneyRedHat Thanks for this info. I will use Buildah as a convenient workaround until Podman v1.3.1 is available for my platform (Ubuntu Bionic).

[2019-05-14 16:35] kbaegis commented on #3112
Podman status:
[code]
Docker status:
[code]

[2019-05-14 18:33] Shulito opened #3126 "No support for journald logging"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running Ubuntu 18.04 and today I updated my packages (podman included) and now I'm getting this error when trying to run any podman command:

Error: could not get runtime: eventer creation: No support for journald logging

**Steps to reproduce the issue:**

1. Update packages on Ubuntu 18

[2019-05-14 19:35] cevich commented on #3114
This should be fixed by #3127

[2019-05-14 21:20] rhatdan commented on #3120
No that only happens on tmpfs mounts, this is a usernamepaced container trying to write to /run/lock on the host and being blocked.  The same way as if you were logged in and tried to do a touch /run/lock/foobar.

[2019-05-14 21:53] countzero1942 commented on #3126
I get the same error on a remote server running Ubuntu 18.04.2 LTS ("minimum install") with "podman info". Followed site installation instructions. (Except I used 'apt' instead of 'apt-get'.) The journald service appears to be running properly: 'active' status.

[2019-05-14 21:54] mheon commented on #3120
The error string is "failed to mount tmpfs" - I think this is tmpcopyup

[2019-05-14 21:57] mheon commented on #3120
The specific error string: https://github.com/opencontainers/runc/blob/master/libcontainer/rootfs_linux.go#L266

This is 100% tmpcopyup

[2019-05-14 21:58] mheon commented on #3126
#3128 should fix

[2019-05-15 05:38] countzero1942 commented on #3126
As far as I can tell, "podman version 1.3.1-dev" is toxic. (From "podman --version".)

Yesterday I installed Ubuntu 18.04 LTS on a new remote server. Installed podman according to site instructions. Then "podman info" (first command you run) crashes with the above error.

So I went on my ad-hoc laptop home-server running only Ubuntu 18.04 and typed "podman --version". It was "1.3.0". It ran fine.

[2019-05-15 09:17] chpio commented on #3126
Why is the official ubuntu ppa (<https://launchpad.net/~projectatomic>) releasing broken dev builds?

[2019-05-15 11:50] chpio commented on #3126
is there a workaround for that fix?

[2019-05-15 12:34] cevich commented on #3114
Sadly reopening this, seems not all the gremlins have been shaken loose :disappointed:

[2019-05-15 12:54] isavcic commented on #3126
Great stuff. Are these builds even tested before they're pushed to the PPA?

[2019-05-15 12:58] isavcic commented on #3126
@chpio

You can, only if they've left the older versions up on the PPA.

[2019-05-15 13:11] isavcic opened #3129 "Please provide stable release packages for Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

As you're already building **dev** deb packages for Ubuntu, can you please provide the **stable** releases as well in the PPA? Just got bitten by #3126.

Thanks.

[2019-05-15 13:13] isavcic commented on #3126
Ok, just opened #3129, because I don't see a reason not to provide stable (release) packages alongside dev ones for Ubuntu.

[2019-05-15 13:26] isavcic commented on #3126
@chpio

https://github.com/containers/libpod/pull/3128#issuecomment-492647345

[2019-05-15 13:33] mheon commented on #3126
@lsm5 What build tags are we shipping for ubuntu? It looks like this broke over there because the PPA builds don't have the new `systemd` tag.

[2019-05-15 13:34] mheon commented on #3129
@lsm5 PTAL

[2019-05-15 14:20] undecaf commented on #3126
@countzero1942 @chpio @isavcic How to to reinstall Ubuntu Podman v1.3.0 for the time being

View [package details](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages) on the Project Atomic PPA page, filter by "podman" and "superseded" and expand entry [`podman - 1.3.0-1~dev~ubuntu18.04~ppa20 `](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+sourcepub/10099354/+listing-ar

[2019-05-15 14:32] rhatdan commented on #3126
Yes we are working on snap releases which should be the stable releases,  and we will continue to provide latest releases.

[2019-05-15 14:47] baude commented on #3126
the simplest thing to do here is rebuild the current package but make sure to dep libsystemd-dev fwiw.

[2019-05-15 14:53] mheon commented on #3126
Agree - change build tags and libsystemd-dev as a req

[2019-05-15 14:54] mheon commented on #3126
Also - how are we building the Ubuntu packages for the PPA?

Can we automate that as part of PR testing?

[2019-05-15 15:17] isavcic commented on #3126
@rhatdan

What is the logic behind the decision to provide dev packages, but stable snap? Is there a reason not to do the deb for stable as well? Snap isn't used on servers, at least not often.

[2019-05-15 16:37] mheon commented on #3126
From what I understand, packaging difficulty - we don't have anyone experienced with .deb packaging, so our packager is trying to produce snaps as an easier way to get Podman packaged for non-RPM distros.

We also have efforts ongoing to get Podman packaged in upstream Debian, but the pace there is very slow, and it could be a long time before we have success there.

If anyone wants to volunteer t

[2019-05-15 17:17] isavcic commented on #3126
@mheon but you're already making dev deb packages for the PPA?

[2019-05-15 17:24] mheon commented on #3126
Auto-building off the latest master - it was an effort to set up initially, but lower overall maintenance as the builds themselves don't need to be touched (until things like this happen, master breaks, and the builds no longer work). It's a lot less of a time/resource investment than tracking the packages in the Projectatomic PPA for new releases and manually building them.

[2019-05-15 18:51] #3117 closed

[2019-05-15 18:56] rhatdan commented on #3112
Your tests works fine for me on podman.  I can not recreate this failure.

[2019-05-15 18:56] karezza commented on #3120
Are your discoveries pointing at a problem with the pms-docker image?  Not being the owner of that image, is there anything I can do other than run as root?

[2019-05-15 18:57] rhatdan commented on #3112
[code]
[code]

[2019-05-15 19:00] rhatdan commented on #3112
oops I saw that giuseppe already stated this.
Could this be an  issue with runc?

Your docker status looks wrong, since it is showing the container with now capabilities.

Gentoo does not use SELinux, so most likely this is Capabilities or SECCOMP or something else, that we don't know about.

[2019-05-15 19:00] rhatdan commented on #3112
Is there anything mentioned in dmesg or in audit.log, if gentoo supports audit.log.

[2019-05-15 19:01] karezza commented on #3120
The image provides a way to specify a UID/GID of the user being used in the container.  I'm specifying the values I am able to see when I run 'id'.  Whether podman is run as root or a regular user the UID/GID being used inside the container should be the same.

[2019-05-15 19:02] mheon commented on #3120
The Dockerfile: https://github.com/plexinc/pms-docker/blob/master/Dockerfile

@rhatdan I think I know what this is.
The entrypoint is `/init` - this probably isn't systemd, but it's triggering our systemd detection.

This causes several tmpfs filesystems to be mounted into the container, including (in Podman 1.2.x and earlier) one at `/run/lock`. We set the `tmpcopyup` option on all tmpfs filesyst

[2019-05-15 19:03] mheon commented on #3120
@rhatdan I think we need to figure out how `--systemd`/`--read-only-tmpfs` interacts with cases like this in rootless mode, where we might break `tmpcopyup` if the user mounted in something from the system proper.

[2019-05-15 19:13] alitvak69 commented on #3126
So a fix was applied to cri-o-runc regression tonight by wonderful developers cooperating with each other, can the podman 1.3.1 be fixed as well?  Thank you all for your hard work and dedication.

[2019-05-15 19:15] mheon commented on #3126
I was hoping to have it out yesterday, but we're presently experiencing a number of CI issues. I'm hopeful that we can get it out later today, though.

If you're interested in tracking the release process, remaining PRs before we can cut a release are at https://github.com/containers/libpod/pulls?q=is%3Aopen+is%3Apr+label%3A%22Release+Notes+1.3.1%22

[2019-05-15 19:16] alitvak69 commented on #3126
Thank you again.

[2019-05-15 19:16] karezza commented on #3120
removing and creating new container with '--systemd=false'  yields in the logs:

[code]

[2019-05-15 19:31] baude commented on #3126
a fix has been merged

[2019-05-15 19:44] mheon commented on #3120
That seems like a separate issue - probably caused by whatever is running within the container

[2019-05-15 20:07] karezza commented on #3120
k, I'll run as root and check user level again with 1.3.x is available.  -- thank you.

[2019-05-15 20:09] mheon commented on #3120
Does your user have permission to access `/var/run/s6/container_environment/PATH` on the system? `/var/run` is a symlink to `/run`, so this is pointing to the host - those files might be owned by root or some other user

[2019-05-15 21:00] rhatdan commented on #3120
-v /run:/run
Is the problem,  they are not writable by a non root user.
I have no idea why a tmpfs is getting involved, but the non root user will not be allowed to write to any directory that is not world writable or owned by one of the UIDS that he controls.

[2019-05-15 21:03] rhatdan commented on #3120
@karezza Could you show again the podman command you are using. I am basing my thoughts on the podman command you show in the problem report, which does not specify a user.

If you expect to have a user
-e PLEX_UID=717201107
-e PLEX_GID=717200513
With these UIDs to work, it will NOT in rootless containers, because you don't have this user or enough UIDS mappend into the container.
You probably onl

[2019-05-15 23:08] #3114 closed

[2019-05-16 10:02] kofalt opened #3132 "Podman loses env-var values on `commit`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm using the nvidia-container-runtime-hook, and I notice that podman is losing environment variable information when I try to commit images.

Since the hook uses these to operate, you can't run any CUDA image you commit. I tried to use the `-c ENV` flag as a workaround, but I think that may

[2019-05-16 10:34] #1388 closed

[2019-05-16 10:54] michielhemme opened #3133 "Rhel 7.6, rootless with portmapping hangs on Created Container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

About 2 months ago I did a research on Podman (1.2-DEV was the most recent) about podman and running rootless containers with portbindings in Red Hat 7.6. After strugling for a while I've got it working with manually installing new RPM's (Saved those RPMS) and finding one FORK for shadow-util

[2019-05-16 11:37] jpic opened #3134 "podman build --shm-size shadowed by default value"
I don't understand how to have a bigger tmpfs in /dev/shm on build time. Using `podman build --shm-size` seems uneffective on podman version 1.3.0-dev, or I'm doing something wrong.

[code]

Thanks in advance for your kind reply

Love your work

Have a great day

[2019-05-16 12:44] rhatdan commented on #3134
Works for me.
[code]
With buildah
[code]
With podman

[code]
rpm -q buildah podman
buildah-1.8.0-1.git4aa16cf.fc30.x86_64
podman-1.2.0-2.git3bd528e.fc30.x86_64

[2019-05-16 12:45] rhatdan commented on #3134
Does not work in rootless mode...

[2019-05-16 12:45] rhatdan commented on #3134
[code]

[2019-05-16 13:25] alitvak69 commented on #3126
As I understand all hurdles were cleared yesterday.  Can you please push a
new build to ppa?

On Wed, May 15, 2019, 2:31 PM Brent Baude <notifications@github.com> wrote:

[2019-05-16 13:32] mheon commented on #3126
@lsm5 We're auto-building master, right? Shouldn't it have picked up the latest commits by now?

[2019-05-16 13:39] TomSweeneyRedHat commented on #3132
Thanks for the issue @kofalt !

[2019-05-16 13:40] jpic opened #3136 "Abnormal long build time with podman build --layers"
Currently experiencing anormal build times on fully cached build:

- docker build: 0m0.696s (reproduce case in github.com/betagouv/mrs )
- podman 1.3.0-dev (full info below) build --layers: 10m59.019s (same repo but podman branch to have the Dockerfile tweaks for podman 1.3.0-dev / master works with podman master)

podman build --layers:

[code]

docker build:

[code]

[code]

[2019-05-16 13:42] mheon commented on #3136
`podman version` (and `podman info`) please?

@TomSweeneyRedHat PTAL

[2019-05-16 13:48] jpic commented on #3136
@mheon sorry, adding here as a temporary comment for your notification, but updated the issue with that

[code]

[2019-05-16 13:58] TomSweeneyRedHat commented on #3136
@jpic Any chance you could pull the latest Podman from upstream and try again?   We made a number of changes to containers/storage and containers/image that were included in a later version of Podman that should help with this.

[2019-05-16 13:59] mheon commented on #3136
I think he might be on master - 1.3.0-dev sounds like our current upstream dev version

[2019-05-16 14:03] TomSweeneyRedHat commented on #3136
@mheon, I just went with the Buildah Version in info which is 1.8-dev, that should be 1.8.2 or maybe 1.9.-dev for upstream no?

[2019-05-16 14:16] mheon commented on #3136
Hm. Did we pull in the wrong tag?

[2019-05-16 14:22] jpic commented on #3136
I'm trying to run a local build to test another patch that Dan made for my other issue, the build went fine, but for some reason still being it by #3126 when i try to run podman even though #3128 was merged and i see it in my build log. Actively working on this,

[2019-05-16 14:27] jpic commented on #3126
#3128 works for me on ubuntu, note that i had to rm ~/.config/containers.

[2019-05-16 14:28] mheon commented on #3126
Eeek. That shouldn't have been necessary.

[2019-05-16 14:32] jpic commented on #3126
It was for me:

[code]

[2019-05-16 14:43] jpic commented on #3126
Diff between old and working configs is just the events_logger indeed:

[code]

[2019-05-16 14:44] alitvak69 commented on #3126
Were you using a self built package?  I don't see an update in ppa

[2019-05-16 14:45] jpic commented on #3126
@alitvak69 yes, but try changing events_logger from "journald" to "file" maybe that'll do.

[2019-05-16 14:56] alitvak69 commented on #3126
That was the point of fixing so one doesn't need to change the default config.  Isn't it right?

[2019-05-16 14:57] mheon commented on #3126
Assuming the config is included in the package, it should be fine...

It might not be so for rootless users, though.

I'll poke @lsm5 to get the systemd build tag included as well, so the 'journald' option works as well

[2019-05-16 14:58] alitvak69 commented on #3126
The other question, and forgive me for being a pest,  why not journald?  I thought podman supports both file and journal.

[2019-05-16 15:00] mheon commented on #3126
Journald is gated behind a build tag as of 1.3.1 and we haven't included the tag in the PPA builds yet - we'll add it for future builds so it's enabled.

[2019-05-16 15:01] fatherlinux commented on #3044
@michielhemme @h-vetinari thank you both for you interest in podman, we are super excited about it. We are working on updating the version of podman to 1.3+ in RHEL 8.1 (November-ish) and RHEL 7.7 (August-ish). We are just coming out of two huge launches (RHEL 8.0 and OpenShift 4.0) so trying diligently to get these updated.

[2019-05-16 15:28] jpic commented on #3136
@TomSweeneyRedHat master doesn't seem to help:

first --layer build: 20m57.450s
second --layer build:

Note that i'm on a 12 CPU server with a load avg that's consistently below 6 with 32GB or RAM of which 30 are available according to `free`, and a neat connection to internet (if you want ssh ask is_null on IRC that's me)

[code]

Mind blowing ^^

[2019-05-16 15:33] alitvak69 commented on #3126
Can I get all of this via snap now?  If yes,  can you please post some quick instructions?

[2019-05-16 15:35] jpic commented on #3136
A non-cached docker build takes only 4 minutes:

[code]

[2019-05-16 15:43] jpic commented on #3126
@alitvak69 didn't changing events_logger from "file" to "journald" workaround your blocker ?

[2019-05-16 15:48] mheon commented on #3126
I've talked with @lsm5 and future builds should include journald support by default.

[2019-05-16 16:06] alitvak69 commented on #3126
@jpic It is not a very good one as it means changing / adding config in many places in my environment.
@mheon I appreciate your help and sorry for being impatient.  I just thought that since you doing snaps,  I could get the latest 1.3.1 faster.

[2019-05-16 16:07] TomSweeneyRedHat commented on #3136
Drats!  But thanks for the tests and the info @jpic

[2019-05-16 16:08] mheon commented on #3126
I don't know if those (snaps) are ready yet - I'll ask

[2019-05-16 16:17] jpic commented on #3126
@alitvak69 ok good luck then, because events_logger=journald still makes podman exit with No support for journald logging here.

[2019-05-16 16:24] jpic commented on #3134
Thanks a heap for your patch, it fixes the issue for [buildah for me](https://github.com/containers/buildah/pull/1595#issuecomment-493134120), but not yet for podman if i didn't do anything wrong (re-built podman after building your buildah branch).

[code]

[2019-05-16 16:25] alitvak69 commented on #3126
@jpic Understand, but currently I don't even have access to that unless I  build it myself.

[2019-05-16 16:40] TomSweeneyRedHat commented on #3134
@jpic It gets more complicated to test a Buildah change under Podman.  You'll need to get the commit ID of the Buildah PR that you're interested in and then change the entry in [vendor.conf](https://github.com/containers/libpod/blob/master/vendor.conf#L96) for Buildah to that number.  You'll then need to run ['vndr'[(https://github.com/containers/libpod/blob/master/install.md#vendoring---dependenc

[2019-05-16 16:41] jpic commented on #3136
Oooh sorry, there's one thing is that I had to remove my shm optimization for yarn package manager due to #3134 so we can't compare the time between un-cached docker and un-cached podman builds. An un-cached buildah build does turn out exactly as fast as a un-cached docker build, thanks to Dan's patch to fix --shm-size arg on buildah. However, the issue remains open that it's taking too long to do

[2019-05-16 16:54] alitvak69 commented on #3126
New ppa build failed so far.

[2019-05-16 17:01] jpic commented on #3126
@alitvak69 Actually building master with BUILDTAGS="systemd" does make podman with events_logger="journald" work here on ubuntu 18.04. Sorry for the misguidance, hope to improve with time.

[2019-05-16 19:04] gabibeyer commented on #2897
@giuseppe no problem! I've been digging into the code some and working to hack something together. Would it be okay I submit a PR once I get things cleaned up and completely working?

[2019-05-16 19:21] countzero1942 commented on #3126
This worked for me.

`wget "https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+files/podman_1.3.0-1~dev~ubuntu18.04~ppa20_amd64.deb"`

`sudo apt install ./podman_1.3.0-1~dev~ubuntu18.04~ppa20_amd64.deb`

[2019-05-16 19:38] alitvak69 commented on #3126
@jpic You are absolutely correct, it works, as I built myself and tried.  But I would definitely want a package built to succeed.   May an off-topic question. I am using journal for podman events however conmon has is logging option -l /var/lib/containers/storage/overlay-containers/3ea0e5faae0b3c95f741e97ac764381f70e4ce98ff2284ecd2482856b2a43a52/userdata/ctr.log.  Why do I have to have this file?

[2019-05-16 19:52] haircommander commented on #3126
@alitvak69 hey, I'm the journald logging person. Adding journald logging to podman is on my list of things to do. I hope to have that out by podman 1.4 :)

[2019-05-16 20:04] alitvak69 commented on #3126
@haircommander It is good to know you are working on it.

[2019-05-16 20:18] rhatdan commented on #2897
@gabibeyer We love PRs.

[2019-05-16 21:44] dagrayvid opened #3144 "Name resolution problem on podman 1.3.0"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

Name resolution not working in podman 1.3.0. After fixing [this issue](https://github.com/containers/libpod/issues/3095) by moving events_logger = "journald" to before runtime = "runc", name resolution is not working in container. Pinging also fails with packet loss. This is all running root containers as root on host.

**St

[2019-05-17 06:36] Edward5hen opened #3145 "[podman-remote] version: panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I tried to use the `./podman-remote version` feature. The command can show the version information about the client node correctly, but an error encountered for the service node.

**Steps to reproduce the issue:**

1. `./podman-remote version`

**Describe the results you received:**
[code]

**

[2019-05-17 09:28] vrothberg commented on #3145
Hi @Edward5hen, thanks for taking the time to open this issue. I can reproduce with the latest master as well.

[2019-05-17 13:04] #3145 closed

[2019-05-17 13:55] mbaldessari opened #3148 "systemd service files as blogged have issues on reboot"
** BUG REPORT **

/kind bug

**Description**

After configuring a service file to start a podman container as documented here - https://podman.io/blogs/2018/09/13/systemd.html we noticed that on reboot all processes inside the container get SIGKILLED and the container has no chance of terminating gracefully.

**Steps to reproduce the issue:**
sudo podman pull docker.io/redis
sudo podman run -d --n

[2019-05-17 13:57] mheon commented on #3148
On reboot, as in as the system shuts down, or when it comes back up?

[2019-05-17 13:57] mbaldessari commented on #3148
As the system shuts down

[2019-05-17 13:59] mheon commented on #3148
So `ExecStop` is specified, but systemd has decided to instead send `SIGKILL` aggressively to everything.

Could we be talking about https://bugzilla.redhat.com/show_bug.cgi?id=1394937

[2019-05-17 14:20] mbaldessari commented on #3148
Potentially, yes I guess. What caught my attention was this 'systemd[1]: libpod-conmon-7bfbd4ae7b10b983bc65c8a55450a2294d6e7d0b659a2d0de0d8ba2f205def55.scope: Killing process 1168 (conmon) with signal SIGKILL.' . I.e. I am wondering if systemd somehow has issues (ignores deps?) with the .scope that podman creates?

[2019-05-17 14:33] alitvak69 commented on #3126
I don't want to bother anyone but there is no way to message ppa maintainer.  Build failed, but as far as I know master build with the same tags works.  Can the package build be fixed and retried?

[2019-05-17 14:53] ezaluzec opened #3150 "Podman image sign & podman push --sign-by cannot find key."
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

Using a gpg key, trying to sign a container image from a registry or trying to push a signed container to a registry results in error saying, `Error: Error copying image to the remote destination: Error creating signature: key "<key>" not found.`

**Steps to reproduce the issue:**

1. Create gpg key

		gpg --batch --gen-key

[2019-05-17 14:56] vrothberg commented on #3150
@QiWang19 PTAL

[2019-05-17 15:29] seriousme opened #3151 "Windows remote client install"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Since 1.3.0 it should be possible to use podman-remote on windows thanks to https://github.com/containers/libpod/pull/3031 by @baude.
However the install page does not specify any other way to install on windows than building from scratch.
It would be nice if their would be a way to downlo

[2019-05-17 15:57] ezaluzec commented on #3150
#### [ Update ]

Closing, worked with gpg2 (GnuPG) 2.1.11 and clearing gpg keyring

#### [ Steps and Output ]

	gpg2 --full-gen-key
	gpg2 --armor --export --output mysignkey.gpg name@company.com
	sudo podman push --sign-by name@company.com af7d69bf19c1e3240507e222b7a4ec318e8399c800ea6124ef0e31eab9b672f7

	Getting image source signatures
	Copying blob 7d0b5e2df043 done
	Copying config af7d69bf19 do

[2019-05-17 15:57] #3150 closed

[2019-05-17 17:14] alitvak69 commented on #3126
`
/usr/bin/go build -ldflags '-X main.gitCommit= -X main.buildInfo=1558107955' -tags "seccomp systemd containers_image_ostree_stub" -o bin/podman github.com/containers/libpod/cmd/podman
go: disabling cache (/sbuild-nonexistent/.cache/go-build) due to initialization failure: mkdir /sbuild-nonexistent: permission denied

install: cannot stat 'bin/podman-remote': No such file or directory
Makefile:26

[2019-05-17 17:48] rhatdan commented on #3148
@mrunalp PTAL
I know that CRI-O had to deal with something here.  Mrunal would know more about it.

[2019-05-17 18:00] rhatdan commented on #3151
Our goal later this summer is to have a packaged version for Windows.
@cevich Can you take a look at this, we had talked about leaving a statically built windows and mac version that could be pulled from github.

[2019-05-17 18:22] rhatdan commented on #3126
@lsm5 @jnovy PTAL

[2019-05-17 19:06] TomSweeneyRedHat commented on #3136
Just as a quick test with:
Podman (1.3.2-dev)
time podman build --shm-size 1G --layers .
STEP 41: COMMIT
--> 69b02885d5a4ae4388ccc1abe61a181896440943258022bdb239f27194f1f872

real	8m41.935s
user	5m49.961s
sys	1m58.031s

Second run:
real	0m3.463s
user	0m0.727s
sys	0m0.431s

Docker (18.06.3)
time docker build --shm-size 1G .
 ---> 8035367b4e19
Successfully built 8035367b4e19

real	4m25.962s
user	0m0

[2019-05-18 00:28] edsantiago commented on #980
Back in `podman-1.3.1-1.git7210727.fc29` and `.fc30`

[2019-05-18 10:30] rhatdan commented on #980
Crap, do we have a test for this in the unit tests?
@umohnani8 PTAL

[2019-05-18 16:50] mjlbach opened #3155 "GPU not recognized with oci-nvidia-hook"
/kind bug

**Description**

On Fedora 30, I added the centos 7 repos from [here](https://nvidia.github.io/nvidia-container-runtime/) and installed nvidia-container-runtime-hook (which installs libnvidia-container and the oci hook).

oci-nvidia-hook.json is present in /etc/containers/oci/hooks.d, /usr/share/containers/oci/hooks.d, and /usr/libexec/oci/hooks.d along with the oci-nvidia-hook shell sc

[2019-05-18 18:49] rufoa commented on #3126
Build of 1.3.2-1~dev source package from PPA fails for me due to missing bin/podman-remote, similar to above

Build works when this patch is applied: https://github.com/containers/libpod/pull/3152/files
and journald logging problem is resolved

[2019-05-18 22:29] alitvak69 commented on #3126
This is rpm build in your case.  I wish someone shared a deb build files.
I have little experience generating debs from source.

On Sat, May 18, 2019, 1:49 PM Rufus <notifications@github.com> wrote:

[2019-05-18 23:18] rufoa commented on #3126
Why do you say that? No - I am referring to the failing deb builds on the PPA.

When rhatdan's patch, linked above, is applied to the latest source package on launchpad, podman successfully compiles and installs with:
[code]
and the "No support for journald logging" error is resolved.

This is what needs to be done to fix the PPA build failure which is happening.

[2019-05-19 00:38] alitvak69 commented on #3126
I am sorry, my mistake.  As I said little to non experience on building
debs.

On Sat, May 18, 2019, 6:18 PM Rufus <notifications@github.com> wrote:

[2019-05-19 03:00] kofalt commented on #2963
I was able to reproduce this using only commands from [the RH blog](https://developers.redhat.com/blog/2019/01/29/podman-kubernetes-yaml/) about pod / kube interop:

[code]

This was on `1.3.1-dev` and is a pretty simple setup.
Does anyone know if there's a way to work around this? It'd be a cool feature :)

[2019-05-19 03:21] kofalt opened #3157 "Podman `play kube` errors out on podman-exported yaml"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This tickets represents the import woes to #2963's export woes.
I'm not yet convinced they are related.

**Steps to reproduce the issue:**

1. Similar to my comment here https://github.com/containers/libpod/issues/2963#issuecomment-493722755, take the exported Kube yaml from the [RH blog post

[2019-05-19 04:29] mheon commented on #2963
I think this would be my rework of named volumes in 1.3 - one or more of those containers probably has an image volume, and it seems I missed this bit of code when I migrated image volumes out of the Libpod spec.

For now, it's probably sufficient to take https://github.com/containers/libpod/blob/master/libpod/kube.go#L337 and make it not return an error (or silently discard said error) - Libpod n

[2019-05-19 04:31] #3132 closed

[2019-05-19 05:43] mheon commented on #3155
From debugging this earlier, it sounded like the hook in question had its activation criteria set to "Always", but it doesn't appear to be registered by the hooks code.

@wking Mind taking a look at this one?

[2019-05-19 09:38] muayyad-alsadi opened #3159 "podman events output jsonlines"
/kind feature

**Description**

to make parsing `podman events` I need it to be in [jsonlines](http://jsonlines.org/) (aka ndjson)

current output

[code]

it seems there is no way to make it json

[code]

if you just dump a json per line with whatever internal format might work, but something like this would be better

[code]

[2019-05-19 14:05] baude commented on #3159
can you elaborate on why you want this? how will it be used? whats the use case?

[2019-05-19 14:07] baude commented on #3157
thanks for the well written defect, i appreciate the effort

[2019-05-19 14:09] baude commented on #3151
if you have a way to run containers, i could make you a dockerfile that would create the windows binary as a temporary solution.  interested?

[2019-05-19 14:13] wking commented on #3155
Can you attach the full hook JSON?

[2019-05-19 14:14] wking commented on #3155
And probably also the Podman config, in case it set custom hook paths.

[2019-05-19 14:14] seriousme commented on #3151
That would already be a plus as I can use `boot2podman` to run a vm and use `podman-machine ssh` to get into the vm and to use podman there.

[2019-05-19 14:15] muayyad-alsadi commented on #3159
a readline loop that listen to those events
and when a new container is up or down load-balancer (`haproxy`) configuration is updated based on template to expose it to some subdomain based on some label

like [docker-balancer](https://github.com/muayyad-alsadi/docker-balancer) or [docker-glue](https://github.com/muayyad-alsadi/docker-glue)

something like this

[code]

[2019-05-19 17:05] umohnani8 opened #3161 "podman run is broken"
Whenever I try to do a `sudo podman run myimage` it fails with a `broken pipe` error.

[code]

/kind bug

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Doing this on fedora 29

[2019-05-19 17:13] umohnani8 commented on #3161
Nevermind, I think my conmon was messed up. It works now.

[2019-05-19 17:13] #3161 closed

[2019-05-19 17:54] mjlbach commented on #3155
The full hook is:
[code]

And my lipbod.conf

[code]

[2019-05-20 07:49] giuseppe commented on #3133
thanks for the detailed report.

I am closing this as a duplicate, as we are already tracking the problem here: https://github.com/containers/libpod/issues/2942.

[2019-05-20 07:49] #3133 closed

[2019-05-20 10:16] giuseppe commented on #2942
there is a case that I could finally reproduce, I've opened a PR: https://github.com/containers/libpod/pull/3162

[2019-05-20 10:16] giuseppe commented on #3133
PR here: https://github.com/containers/libpod/pull/3162

[2019-05-20 10:30] debarshiray opened #3163 "Filtering images by label broke in podman-1.3.1"
/kind bug

This used to work with `podman-1.2.0`, but doesn't with `podman-1.3.1`:
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-05-20 10:37] vrothberg commented on #3163
Hi @debarshiray, thanks for opening the issue. I removed "rootless" from the title as it affects both modes.

[2019-05-20 10:41] debarshiray commented on #3163
Thanks @vrothberg

[2019-05-20 10:44] vrothberg commented on #3163
Commit 034cc8a5aeac introduced the regression. I think it should be a `< 2`, and we should add some more tests to avoid such regressions in the future. @weirdwiz, can you have a look at that? I will be rushing to the airport in a few minutes.

[2019-05-20 11:05] rhatdan commented on #3159
Seems like a reasonable request.

[2019-05-20 12:06] kbaegis commented on #3112
I don't have selinux enabled, however I did build everything with apparmor support:
[code]

I can't seem to find the policy location for libpod-default-1.2.0 however:
[code]

[2019-05-20 12:09] vrothberg commented on #3112
Podman:
[code]

Docker:
[code]

[2019-05-20 12:14] vrothberg commented on #3112
The mask includes the following capabilities:

[CHOWN DAC_OVERRIDE DAC_READ_SEARCH FOWNER FSETID KILL SETGID SETUID SETPCAP LINUX_IMMUTABLE NET_BIND_SERVICE NET_BROADCAST NET_ADMIN NET_RAW IPC_LOCK IPC_OWNER SYS_MODULE SYS_RAWIO SYS_CHROOT SYS_PTRACE SYS_PACCT SYS_ADMIN SYS_BOOT SYS_NICE SYS_RESOURCE SYS_TIME SYS_TTY_CONFIG MKNOD LEASE AUDIT_WRITE AUDIT_CONTROL SETFCAP MAC_OVERRIDE MAC_ADMIN SYSLO

[2019-05-20 12:34] vrothberg commented on #3112
That's directly written from memory. Can you check if the process is not mistakenly confined under this profile? Mounting is denied which would explain the permission error.

You could do a `sudo podman run --rm ubuntu ps auxZ` and paste the output.

[2019-05-20 12:53] kbaegis commented on #3112
[code]

[2019-05-20 12:56] vrothberg commented on #3112
Did you use the —privileged flag?

On Mon 20. May 2019 at 14:54, KBAegis <notifications@github.com> wrote:

[2019-05-20 12:57] kbaegis commented on #3112
Yes, ^^, but for easy reference: `sudo podman run -it --privileged docker.io/library/alpine:latest`

[2019-05-20 13:03] vrothberg commented on #3112
This looks like an apparmor bug as we shouldn’t apply the profile with
—privileged.

On Mon 20. May 2019 at 14:57, KBAegis <notifications@github.com> wrote:

[2019-05-20 13:08] alitvak69 commented on #3126
Hopefully @rufoa suggestion can be heard by ppa maintainers.

[2019-05-20 13:27] kbaegis commented on #3112
Aside from this patch/workaround, how would one alter the profile to enable `mount`?

[2019-05-20 13:29] rhatdan commented on #3112
Does

`--apparmor=unconfined`
Fix your issue.

[2019-05-20 13:35] kbaegis commented on #3112
[code]

[2019-05-20 13:36] rhatdan commented on #3112
OOps
podman run -it --privileged --security-opt apparmor=unconfined docker.io/library/alpine:latest

[2019-05-20 13:37] kbaegis commented on #3112
[code]

[2019-05-20 13:52] jcpunk opened #3165 "[RFE] Require signed images"
/kind feature

**Description**

For production environments it might be handy to have a setting in libpod.conf where admins can require images are signed (or signed by a set of trusted keys).  In theory this could prevent unexpected content from being deployed or prevent deployment from a compromised registry.

**Steps to reproduce the issue:**

1. search for way to force podman to only run signed

[2019-05-20 14:01] kbaegis commented on #3112
The issue has changed setting `security-opt`:
[code]

[2019-05-20 14:17] rhatdan commented on #3112
All do --cap-add all

That is what --privileged is supposed to do, along with a couple of other things.

[2019-05-20 14:31] kbaegis commented on #3112
Works!
[code]

[2019-05-20 14:38] rhatdan commented on #3112
sudo podman run --rm --security-opt apparmor=unconfined --privigiled -it docker.io/library/alpine:latest
Does not?

[2019-05-20 14:39] kbaegis commented on #3112
Correct:
[code]

[2019-05-20 14:47] kbaegis commented on #3112
It looks to me like there's a defect somewhere with the privileged flag. Setting it seems to break --cap-add all

[2019-05-20 14:51] rhatdan commented on #3112
sudo podman run --rm --privileged docker.io/library/alpine:latest grep Cap /proc/self/status
sudo podman run --rm --cap-add all docker.io/library/alpine:latest grep Cap /proc/self/status

[2019-05-20 14:52] rhatdan commented on #3112
What is the difference?

[2019-05-20 14:53] rhatdan commented on #3112
On Fedora I see
[code]

[2019-05-20 14:55] kbaegis commented on #3112
The same here. The permissions are equivalent, however setting --privileged in any context appears to break bind mounts.

[2019-05-20 15:06] cevich opened #3166 "RFE: New stability test"
/kind feature

**Description**

Recent issue found in OpenShift uncovered a gap in testing for large number and speed of container run/rm cycles.  Since in CI our steady-state VM parameters are effectively static, we can detect some classes of resources leaks within a small-ish margin of error.  This is something we should attempt within the ~30min of runtime available.

**Steps to perform:**

1.

[2019-05-20 15:11] rhatdan commented on #3112
Perhaps looking at the output of mount between the two commands might show something, since --privileged also reverts all of the read-only mounts.

BTW Does AppArmor even matter for this?  IE Is --cap-add =all enough to allow you to bind mount?

I would figure --cap-add SYS_ADMIN would be enough.

[2019-05-20 15:37] vrothberg commented on #3112
Yes, because AppArmor denies the mount syscall.

I concur, SYS_ADMIN should be enough for mounting.

[2019-05-20 15:58] podmanadm commented on #3112
The weird think is he says --privileged and apparmor=unconfined does not solve the issue, but
--cap-add all apparmor=unconfined does.

[2019-05-20 16:02] vrothberg commented on #3112
Once I am back from the trip, I'll take a look and fire off some VMs with AppArmor on it.

[2019-05-20 16:50] alitvak69 commented on #3126
Build is still failing.  I will attempt to use @rufoa suggestions and do a manual deb build for now.  This is what I wanted to avoid in our automation scripts but oh well ...  I hope someone here will be able to build a package eventually.  I also hope that ppa may have either its own page or a mailing list.

[2019-05-20 17:04] cevich commented on #3151
@rhatdan @baude yes in fact I already [have a PR open to do the publishing part.](https://github.com/containers/libpod/pull/3106).  [Cirrus supports windows containers](https://cirrus-ci.org/guide/windows/), if someone has the powershell skills to make it do useful things.  There are also Windows VM images available in GCE, but again my skills are lacking.  I'll spend time working on my PR this we

[2019-05-20 18:03] alitvak69 commented on #3126
The build is successful, thank you for your help @rufoa.  I installed it and the journald problem is resolved via PPA package installation now.

[2019-05-20 18:55] baude commented on #3151
For the interim, i have built an image that can be used to do this:

[code]

[2019-05-20 20:00] #2942 closed

[2019-05-20 21:51] rufoa commented on #3126
Resolved and can be closed. Thanks

[2019-05-21 00:00] mheon commented on #3126
Glad to hear it. If anyone is still getting failing builds off the PPA, feel free to comment and I'll reopen.

[2019-05-21 00:00] #3126 closed

[2019-05-21 08:10] cjeanner commented on #3148
Hello there!
Small note: the .scope units are transient, created via the systemd socket, directly by conmon and/or libpod (at least this makes sense seeing the name of those units). Apparently they are set to be stopped/removed at a really early stage of the shutdown process. I'm pretty sure that's the issue we're hitting right now.

Would love to get @mrunalp feedback if CRI-O already dealt with

[2019-05-21 12:33] vsim3 opened #3174 "Conflict at mount destination with podman 1.3.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman 1.3 error with docker postgres:10-alpine image
Upgrade to f30 lead to postgresql container error
_ Work fine on v1.2

**Steps to reproduce the issue:**

1. sudo podman run -d --name rss-postgresdb --cap-drop=CAP_NET_BIND_SERVICE --cap-drop=CAP_NET_RAW --conmon-pidfile=${DB_PID} -v ${PG

[2019-05-21 13:37] cwawak commented on #3174
Also seeing the same behavior on the same version - this was a clean Fedora 30 server minimal install. Also on 1.3.1-1-git7210727.fc30.x86_64. Specifying a volume using -v always results in this error.

[2019-05-21 13:39] mheon commented on #3174
This was my code, I'll take a look.

[2019-05-21 13:40] mheon commented on #3174
Image volumes - has to be image volumes.

We have a named volume from an image volume at `/var/lib/postgresql/data` and an explicit user-specified mount at `/var/lib/postgresql/data` and we're not properly handling the conflict.

Working up a patch.

[2019-05-21 13:46] cwawak commented on #3174
@mheon this is exactly what's going on - thank you so much for taking a look, and allowing me to have choice in my container life. 👍

[2019-05-21 14:47] mheon commented on #3174
#3177 should fix

[2019-05-21 15:39] #3163 closed

[2019-05-21 16:19] whitel commented on #3174
Is there a work around for this while we wait for the patch to land?

[2019-05-21 16:23] mheon commented on #3174
Try `--image-volume=tmpfs` - it should make the conflict one that Podman is able to automatically resolve.

[2019-05-21 16:26] pwFoo commented on #1399
@rhatdan

Any progress with a podman container? A minimal build / setup dockerfile and image would help as starting point.

[2019-05-21 16:32] whitel commented on #3174
that worked! thanks!

[2019-05-21 16:44] TomSweeneyRedHat commented on #1399
@pwfoo I've put together an initial PR #3156, however, the resulting image is having an unexpected EPERM error that I'm trying to track down.

[2019-05-21 20:41] debarshiray opened #3179 "Glitches in an interactive shell spawned via 'podman exec', but not 'podman run', due to the presence of OPOST in the outer PTY and missing ONLCR in the inner PTY"
/kind bug

**Description**

People have been observing various kinds of glitches in Toolbox shells. [One such glitch](https://github.com/debarshiray/toolbox/issues/14) is observed in tmux when horizontally splitting with `ctrl+b %`.

Given an interactive shell inside a container:
[code]

If the glitch reproduces, you'd see the output of `seq 10` disappear in the left pane. If you remove the newly

[2019-05-21 20:57] afbjorklund commented on #1864
Probably not going to bother with using varlink, might as well use commands directly over ssh instead.

That also means two less daemons to run (varlink resolver and podman varlink), and can use sudo...

[2019-05-21 20:58] #1864 closed

[2019-05-21 22:10] #3174 closed

[2019-05-21 22:38] marcino239 opened #3181 "Containers running in pod are assigned the same ip address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Containers in pod are being assigned the same IP address

**Steps to reproduce the issue:**

1.  podman pod create

2.  podman run -ti --pod 5e682f3e4acb node:lts bash

3.  podman run --log-level=debug -ti --pod 5e682f3e4acb node:lts bash

**Describe the results you received:**
Each container

[2019-05-22 02:01] baude commented on #3181
this is done on purpose ... all containers inside a pod share the same namespace; therefore, they all have the same IP address.  this is not a bug and is as designed.

[2019-05-22 02:01] #3181 closed

[2019-05-22 02:02] baude commented on #3179
@haircommander can you comment if the move to use conmon for exec altes this behavior?

[2019-05-22 02:04] baude commented on #3129
i wonder if the folks that use ubuntu should file a bug with ubuntu asking for podman inclusion?  then the ppa could become a development repository?

[2019-05-22 02:10] marcino239 commented on #3181
Apologies - I am not well versed in the pods design.  The problem I have how can containers within the pod communicate with each other?  Shall I specify different IP addresses?

[2019-05-22 03:07] mheon commented on #3181
They all share a network namespace (and thus the entire network stack), so we'd recommend that you bind to localhost and communicate that way.

[2019-05-22 03:46] vsim3 commented on #3174
Thanks for that quick fix.

[2019-05-22 06:58] rhatdan commented on #3174
@mheon Do we need a new release for this?  Is this worth blocking podman 1.3.1?

[2019-05-22 07:16] ibotty commented on #1430
I am also hitting that issue (or a similar one).  The container has been created with `toolbox`.

This is happening with `podman-1.3.1-1.git7210727.fc30.x86_64` and `container-selinux-2.101-1.gitb0061dc.fc30.noarch` on a silverblue system.

[code]

[code]

[code]

[2019-05-22 07:36] giuseppe commented on #1430
@ibotty, you are seeing a regression in 1.3.1: https://github.com/containers/libpod/issues/3174

[2019-05-22 09:09] ibotty commented on #1430
Thank you!  You are right.  Downgrading (rollback) to podman-1.2.0-2.git3bd528e.fc30.x86_64 fixed the problem.  I would not have expected that error because the error message looked so different.

[2019-05-22 11:09] marusak opened #3182 "Unknown parameter `env` while using varlink"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using varlink to create container, parameter `env` is not recognized.

**Steps to reproduce the issue:**

1. `sudo varlink call unix:/run/podman/io.podman/io.podman.CreateContainer '{"create":{"image":"docker.io/library/fedora:30","env":{}}}'`

**Describe the results you received:**
[cod

[2019-05-22 11:15] marusak opened #3183 "Creating container through varlink dumps core"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Creating container through varlink API causes podman to dump core.

**Steps to reproduce the issue:**

1.`sudo varlink call unix:/run/podman/io.podman/io.podman.CreateContainer '{"create":{"image":"docker.io/library/fedora:30"}}'`

**Describe the results you received:**
`Connection closed.`
In

[2019-05-22 11:49] tmds opened #3184 "podman cp turns directory into file"
I'm copying a file from a container into an empty folder:
[code]
Instead of copying into the folder, podman replaces the folder with the file.

podman v1.3.1.

[2019-05-22 12:34] giuseppe commented on #3179
I think it is an issue in runc, as I can see it using directly `runc exec -t`

[2019-05-22 12:49] TomSweeneyRedHat commented on #3174
+1 on the new release from me, blocking I'm on the fence for.

[2019-05-22 13:07] mheon commented on #3174
We just merged a few big PRs from Giuseppe on user namespace, so I think
our best bet is to try and cut a 1.4 next week with whatever is ready and
get that it quickly.

On Wed, May 22, 2019, 08:50 Tom Sweeney <notifications@github.com> wrote:

[2019-05-22 13:18] haircommander commented on #3179
If it's a runc issue, conmon for exec won't fix it :\

[2019-05-22 19:43] marusak commented on #3183
After discussion with @baude it was resolved that API changed. Now this command should be as:
`sudo varlink call unix:/run/podman/io.podman/io.podman.CreateContainer '{"create":{"args":["docker.io/library/fedora:30"]}}'`

[2019-05-22 19:43] #3183 closed

[2019-05-22 19:46] marusak commented on #3182
After discussion with @baude it was resolved that API changed. Now this command should be as:
`sudo varlink call unix:/run/podman/io.podman/io.podman.CreateContainer '{"create":{"args":["docker.io/library/fedora:30"],"env":[]}}'`

Small issue was that documentation was not correctly created and this information was not shown. See https://github.com/containers/libpod/pull/3186

[2019-05-22 19:46] #3182 closed

[2019-05-22 21:05] jistr opened #3187 "Running multiple rootless containers in parallel with toolbox-like UID mapping results in "conmon.pid: permission denied""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running Fedora Silverblue 30 with Podman 1.3.1, i can't run multiple containers with toolbox-like UID mapping **in parallel**. First i tought this is #2935 or #2673 but i no longer think so. I ran `podman system migrate`, and eventually i ran also `rm -rf .local/share/containers`, so the cont

[2019-05-22 21:51] mheon commented on #3187
So you ran `system migrate` and you're still seeing a `permission denied` on the Conmon pidfile?

@giuseppe PTAL

[2019-05-22 21:52] mheon commented on #3187
(That error is actually exactly what `system migrate` was supposed to solve, so I'm very curious here)

[2019-05-23 09:42] jistr commented on #3187
@mheon One more thing to highlight which might be easy to miss in the logs. The error message in #2935 was with the old `conmon.pid` location in `/run/user/1000`, but the error message here is with the new location in `~/.local/share/containers`. As i wrote, i eventually completely dropped the data directory, so this issue is not about migration of content from older Podman. In my later attempts,

[2019-05-23 09:43] giuseppe commented on #3187
we managed to break it again when we dropped the intermediate namespace.

I am going to work on a fix for toolbox.  This should not happen anymore in future as we have a pause process, but let's have a workaround for now to not have another breaking change for existing running containers

[2019-05-23 09:47] kbaegis commented on #3112
This is still open.

--cap-add does indeed allow me to create bind mounts, however /sys/fs/cgroup/cpuset is mounted read-only without --privileged.

This means that any container build via dockerfile that actually has a RUN command crashes:
`error running container: error creating container for [/bin/sh -c true]: container_li nux.go:345: starting container process caused "process_linux.go:281: app

[2019-05-23 10:15] giuseppe commented on #3187
@jistr could try out the PR I've just opened?

[2019-05-23 10:32] jistr commented on #3187
@giuseppe Thanks for such a quick fix. I will do my best to try when i get home (i'm not hitting this bug at work). I'm not a Go dev (go Rust! :D ) and my dev workflow on my home machine is a bit troublesome right now because of this very bug, so i can't promise results with certainty, but i'll try :).

[2019-05-23 10:38] kbaegis commented on #3112
Just tried the most recent version:
[code]

[2019-05-23 12:01] floating-cat commented on #3187
I reported a similar issue in Toolbox[1], someone pointed this issue there (this issue may related to my original issue).
For that issue, I ran `system migrate` many times, I still can see `permission denied` if I try to enter Toolbox.
And in the new Toolbox version, if I enter Toolbox, I would see this outpout:

container_linux.go:388: signaling init process caused "operation not permitted"
ERRO[

[2019-05-23 12:14] debarshiray commented on #3187
Thanks for sorting this out, @jistr and @giuseppe !

[2019-05-23 12:22] giuseppe commented on #3187
@debarshiray from the next 1.4 release rootless containers are out of tech preview and there won't be more breaking changes.
@debarshiray could you help us to figure out the toolbox use cases so that we have proper tests for it?

I am going to work on something like `--userns=keep-uid` ASAP, so that we won't need the magic shell code for creating the nested user namespace

[2019-05-23 13:12] tmds opened #3191 "podman build -q output prefixes image id with '--> '/'--> Using cache '"
Actual:
[code]
Expected: no prefix so the output is a directly usable image id.

podman v1.3.1.

[2019-05-23 13:27] mheon commented on #3191
@TomSweeneyRedHat PTAL

[2019-05-23 13:43] TomSweeneyRedHat commented on #3191
@tmds can you share the Dockerfile that you used?  I don't have a v1.3.1 handy, but using this Dockerfile:
[code]

I'm not seeing the error in upstream.
[code]

I think, but can't swear to it that this was a fix not too long ago, but I thought it would have been in v1.3.1.

[2019-05-23 13:49] tmds commented on #3191
@TomSweeneyRedHat it is not failing. The output format is not matching my expectations:

Instead of:
[code]
My expectation (based on `docker` cli) is there to be no prefix:
[code]

[2019-05-23 14:30] TomSweeneyRedHat commented on #3191
@tmds
Thanks for the explanation.  I though the issue was the first had `-->` and the second had `--> Using cache`.

@rhatdan @nalind WDYT about droppnig the prefix entirely?

[2019-05-23 17:33] pwFoo commented on #1399
Hi @TomSweeneyRedHat, I tried that dockerfile and it worked for me. But it's 1.0 instead of latest release.
https://github.com/mgoltzsche/podman-static

I changed podman version to 1.3.1, but get an error now.
[code]

Just changed runc (rc6 -> rc8) and podman (1.0.0 -> 1.3.1) version. I think it's podman related?

Maybe the dockerfile helps?

I modified the 1.0.0 build to reduce size like that (re

[2019-05-23 18:30] jistr commented on #3187
I tested latest-at-the-time commit 6bca80bdfebf9d390ce1a9786ae6101c87f1322d and it does fix the issue for me. Thanks @giuseppe! Let me know if you want me to retest again with later/final version.

Also +1 on the idea of `--userns=keep-uid` :).

[2019-05-23 18:41] rhatdan commented on #3191
Yes I agree we should not do the -->

[2019-05-23 19:58] Snapstromegon opened #3195 "Rootless Install Guide"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I don't know if this is even possible, but assume I'm on a host that doesn't allow me to run anything as root:

Is it possible to setup podman rootless (this is allowed to include compiling from scratch) and can e.g. the setup guide include some help for this?

Even if it isn't possible t

[2019-05-23 20:06] rhatdan commented on #3195
Right now it requires the shadow-utils with newuidmap and newgidmap.  I think the rest of the packages could be hacked together to run. But this would be a good exercise.
You would probably need fuse-overlay and slirp4netns either installed on the system or built locally, then you would need to customize the storage.conf file in ~/.config/containers/storage.conf.

[2019-05-23 20:07] mheon commented on #3195
If you have access to a pre-built Podman binary (and Conmon and slirp4netns), and install them into your home directory, that should work fine (as long as newuidmap and newgidmap are available). If you want to build from source, that's more complicated, because we have a good number of build dependencies that you'd have to produce from scratch.

[2019-05-23 20:14] rhatdan commented on #3195
I believe that we can make the code work with a single UID without newuidmap and newgidmap.
You can execute `unshare -r` and enter a User Namespace with a single UID.
You would only be able to run/build containers with a single UID, but this might be a useful use case.
I have a lot of people from the HPC groups looking for this kind of solution.

@giuseppe ^^

[2019-05-23 20:14] Snapstromegon commented on #3195
okay, I'll see if something like this works for my case - but nevertheless it might be good to mention something like @rhatdan's comment in the install guide.

[2019-05-23 20:21] TomSweeneyRedHat commented on #3195
+1000  I literally was looking through our docs today and didn't find much if anything.  I was thinking about putting together a tutorial for this, but thought we'd one somewhere.  We should have at least a tutorial in GitHub that goes through the setup process for shadow-utils, /etc/subuid, /etc/subgid, and a bit more.  I'll see if I can hack together a least a rough tutorial that we can expand o

[2019-05-23 20:30] Snapstromegon commented on #3195
So just that I understand correctly:
According to @rhatdan it should be possible to have a mode that doesn't need shadow-utils at the cost of having only one uid, but after that according to @mheon it would be possible to just grab the binarys from e.g. a local system and use them completely rootless?

This would just be a dream for many shared hosting clients!

[2019-05-23 20:31] mheon commented on #3195
I will caution that a lot of standard images require more than 1 UID to work, and thus will need a working shadowutils. You won't be able to use the Fedora, Busybox, Ubuntu, for starters.

[2019-05-23 21:07] giuseppe commented on #3195
That is already possible. We raise only a warning if podman cannot setup multiple IDs.  You should be fine to run it but as @mheon pointed out, many images will fail

[2019-05-24 05:01] cyphar commented on #3195
One way to solve the single-UID problem is to look into using the xattr trick that `umoci` uses to store the real uid/gid. You then fake the syscall responses to match. Unfortunately right now this requires `PRoot` (which uses `ptrace`) but post-5.0 kernels have new `SECCOMP_RET_USER_NOTIF` support which means we can fake it using seccomp and thus without the downsides of ptrace.

I have looked at

[2019-05-24 06:21] Snapstromegon commented on #3195
@giuseppe I just tried and found while running CentOS Linux release 7.6.1810 (Core) that if I just use the binarys from a local system, I see the following error:

[code]

I assume that a requirement is that at least user namespaces are enabled (would make sense).

[code]

@cyphar I see where you're coming from with your last paragraph and I must say, that I was really hyoed after seeing your talk

[2019-05-24 08:28] pwFoo opened #3199 "Error with first podman command, gone after that"
I build podman 1.3.1 and first time a execute a command like `podman ps` I get the following error message.
[code]

Second time it looks good...
[code]

Is it a bug or missing environment setup which is fixed during first run and error?

[2019-05-24 08:30] pwFoo commented on #3199
# podman version
Version:            1.3.1
RemoteAPI Version:  1
Go Version:         go1.12.5
Git Commit:         7210727e205c333af9a2d0ed0bb66adcf92a6369
Built:              Fri May 24 00:36:05 2019
OS/Arch:            linux/amd64

[2019-05-24 08:37] giuseppe commented on #3195
this is something I also wanted to play with in crun (https://github.com/giuseppe/crun/issues/22) but had no time yet to look at.
Are you planning to emulate only file system permissions or also mask syscalls like `seteuid(2)`?  For file system permissions another alternative, at least for rootless Podman that is already using it, is to teach fuse-overlayfs to read and use these xattrs

[2019-05-24 09:44] saschagrunert opened #3200 "Privileged run does not allow mounting shm tmpfs"
/kind bug

**Description/Steps to reproduce the issue**

If I run a container in privileged mode, then I am not able to do something like this:

[code]

**Describe the results you received:**

The image saschagrunert/crio-playground contains a running crio instance in a background tmux session, whereas the session can be attached via `tmux at`. There we see now:

[code]

**Describe the results you

[2019-05-24 10:19] cyphar commented on #3195
PRoot does mask syscalls like `seteuid(2)` already (as does my hacky project `remainroot`) so we might as well. The really big issue is `setgroups` and `getgroups` -- because unmapped UIDs show up and you cannot drop them `apt` likes to throw a hissy fit as do a lot of other tools

[2019-05-24 10:33] rhatdan commented on #3195
@cyphar @giuseppe If we could get this supported in Podman, that would be a nice step forward.  Would love to see some PRs moving this way.

[2019-05-24 10:54] giuseppe commented on #3195
we need a monitor for doing the seccomp stuff.  So we should either add these capabilities to conmon, which I think is not really the correct place (unless using directly libcrun?) or the OCI runtime.  In the latter case we need to change conmon to wait for the OCI runtime rather than the container process.

[2019-05-24 11:15] rhatdan commented on #3200
Must be something different in the way we are setting up /dev versus Docker?
If you volume mount in /dev does it work?
-v /dev:/dev

[2019-05-24 11:25] saschagrunert commented on #3200
Hm, no this does not work either:
[code]

Although, the warnings should not happen at all, right? Can this be the problem here?

They seem to originate from:
https://github.com/opencontainers/runtime-tools/blob/095789df6c2bc53a9dd4464cda8c22616d66e0d6/generate/generate.go#L1490-L1504

[2019-05-24 14:00] akoenig opened #3201 "Unable to execute "podman ps" as non-privileged user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A `podman ps` as a non-privileged user leads to `Error: cannot read pause process pid file /run/user/0/libpod/pause.pid: open /run/user/0/libpod/pause.pid: permission denied`

**Steps to reproduce the issue:**

1. Install the current PPA version (`podman version 1.3.2-dev`) on `18.04.2 LTS (B

[2019-05-24 14:58] cyphar commented on #3195
And the problem with doing it in `runc` is that we'd now break the "no daemons for our containers" model...

[2019-05-24 15:51] giuseppe commented on #3195
it will be opt-in, or just work in the `runc run` mode.

[2019-05-24 15:53] cyphar commented on #3195
We can definitely do it, I was just thinking out loud. I'd prefer it to be more pluggable where we provide a way for `SECCOMP_RET_USER_NOTIF` to be combined with the seccomp configuration.

[2019-05-24 19:03] refi64 opened #3202 "'cannot setfilecon_raw' when pushing Alpine image to OSTree repo"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Pushing to an OSTree repo fails with "cannot setfilecon_raw" errors.

**Steps to reproduce the issue:**

1. Create a new ostree repo, e.g. `ostree init --repo=repo --mode=archive`.

2. Try pushing an image to it, e.g. `podman push alpine:latest ostree:alpine:latest@$PWD/repo`.

**Describe the

[2019-05-24 21:31] pwFoo commented on #3199
After new build and install can't reproduce... Close for now

[2019-05-24 21:31] #3199 closed

[2019-05-25 01:10] fabriciojardim opened #3203 "f29/httpd as normal user don't show ip address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Not sure if this is a bug or a new desired behaviour.

According to [this Fedora Project tutorial](https://youtu.be/lc2rR_0Ie5g?t=1358) you could run a f29/httpd container as an unprivileged user and get a working server at ipadress:8080.
This is no longer the case.

**Steps to reproduce the

[2019-05-25 10:14] rhatdan commented on #3201
@giuseppe @mheon Is this podman being confused about whether it is in rootless mode?

[2019-05-25 11:07] rhatdan commented on #3202
Is SELinux enabled on this machine?
Any avc messages?
ausearch -m avc -ts recent

[2019-05-25 11:24] mheon commented on #3201
This is definitely rootless code. It doesn't seem to have found the correct
PID for Conmon to join the rootless user namespace.

On Sat, May 25, 2019, 06:14 Daniel J Walsh <notifications@github.com> wrote:

[2019-05-25 11:28] rhatdan commented on #3201
Well reading it looks like it is looking for the wrong UID then.
A podman ps as a non-privileged user leads to Error: cannot read pause process pid file /run/user/0/libpod/pause.pid: open /run/user/0/libpod/pause.pid: permission denied

While it should be looking for
/run/user/USERUID/libpod/pause.pid

[2019-05-25 14:59] giuseppe commented on #3201
How does the `XDG_RUNTIME_DIR` look like?  Podman would not use that directory if it is not writable, unless the environment variable is explicitly set

[2019-05-26 08:52] akoenig commented on #3201
@giuseppe Thanks for the hint :slightly_smiling_face: The following works:

As "unprivileged user":

[code]

Would that the way to go? :slightly_smiling_face:

[2019-05-26 09:49] rhatdan commented on #3201
The question is how do you get this screwed up in the first place.  If you are logged in as non-root and execute podman it will use XDG_RUNTIME_DIR.  To me this looks like you logged in as root and then sudo to a non root user?  Or something like that.

If you login straight as @akoenig XDG_RUNTIME_DIR should be pointing to /run/user/AKOENIGUID.

$ printenv XDG_RUNTIME_DIR
/run/user/3267

$ id -u

[2019-05-26 20:07] EricHripko opened #3204 "varlink: BuildImage() cannot build untagged image cleanly"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Take any `Dockerfile`
2. Use varlink's `BuildImage()` API with no `output` set

**Describe the results you received:**
`podman` successfully completes the image build and streams logs. However, at the very end - it returns an error `input name is blank`.

[2019-05-26 20:18] akoenig commented on #3201
Well, your assumption is correct. I have a `userData` script which starts the container via `sudo -u <user> bash -c 'podman run -d -t ...'`.

So in my case, I have to use the "workaround" I've described above (I guess).

[2019-05-26 20:21] mheon commented on #3201
If you have to make a run directory, please make it on a tmpfs - `/tmp` or /var/run` or similar - Podman needs that directory to clear after a reboot to function properly

[2019-05-26 21:26] akoenig commented on #3201
@mheon Thanks for the hint. I just got bitten by this scenario :slightly_smiling_face:

[2019-05-27 07:49] h-vetinari commented on #3044
@fatherlinux
No chance of having a 1.3.1 "canary" in 7.6 extras before August-September...?

[2019-05-27 08:40] lukasheinrich commented on #2986
what is the login functionality that is used? Is it only XDG_*  environment variables? I guess those are used to store image and container state, but perhaps the location of those could be made configurable such that non-login users can be used?

[2019-05-27 09:05] afortiorama commented on #2986
@lukasheinrich the use of /run/user/<UID> is a login feature. But even setting $HOME and $NGD_DATA_HOME, and overriding the /run/user/<UID> location in the command line (see above) it still fails. I'm not sure why. I assume it is some other more buried login feature since the same command with the same overrides works with a login shell.

[2019-05-27 09:07] afortiorama commented on #2986
runroot path+filename with a limit of 50 characters is also another problem. We have quite long path names on the WNs.

[2019-05-27 09:33] giuseppe commented on #3203
a rootless container has no privileges for creating a new address that is accessible from the host.

It uses slirp4netns for configuring the network, that emulates the TCP/IP stack.

You can still forward a single port and that will be accessible from outside:

[code]

Alternatively, you can use `--net host` to share the network namespace with the host.

[2019-05-27 09:33] #3203 closed

[2019-05-27 10:00] mildred opened #3205 "[RFE] Support option to enter a container with the host PID namespace"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Required by fedora-toolbox project https://github.com/debarshiray/toolbox/issues/176

In order to support having a toolbox with systemd in it, but having shells spawned in the toolbox share the PID namespace of the host, it would be great to have the `podman exec --pid=host` option availa

[2019-05-27 10:19] mildred commented on #376
I see you planned to create a `podman container clone` subcommand but there is no issue created for it that I can find. Is it appearing somewhere else ?

[2019-05-27 10:26] mheon commented on #3205
I thought we supported this already. The good news is that if not, it's a
very simple change on our end

On Mon, May 27, 2019, 06:00 mildred <notifications@github.com> wrote:

[2019-05-27 10:28] mheon commented on #3203
We really need an FAQ for rootless with this sort of thing, so people can
find them without searching our issues. I'll start one on Tuesday

On Mon, May 27, 2019, 05:33 Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-27 10:42] mheon commented on #376
I don't believe we created one. We can reuse this issue or create a fresh
one and close this in favor of it.

On Mon, May 27, 2019, 06:20 mildred <notifications@github.com> wrote:

[2019-05-27 12:14] anilv4 commented on #2559
Closing this as I got a reply from @mccv1r0 in https://github.com/containernetworking/cni/issues/638.

[2019-05-27 12:14] #2559 closed

[2019-05-27 13:45] TomSweeneyRedHat commented on #3203
@mheon and/or add info/comments to #3197 ?

[2019-05-27 13:58] mildred commented on #3205
I was looking at the implementation, and it does not look that simple as it seems to depend on the OCI runtime (runc ?). And the OCI specs seems to have the notion of sharing or splitting the PID namespace at the container level, and not at the process level, which seems to indicate this would not be possible for `podman exec`.

I tried out using nsenter instead of podman exec to run the commands,

[2019-05-27 14:09] TomSweeneyRedHat opened #3206 "Podman install guide adjustments - DOC"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
The podman [install notes](https://github.com/containers/libpod/blob/master/install.md) tell the user to [Add configuration](https://github.com/containers/libpod/blob/master/install.md#add-configuration) which I believe needs to be changed to something like "If you do not have the 'containers-c

[2019-05-27 16:10] debarshiray commented on #3205
@mildred How old is your Toolbox container?

Since version 0.0.6, all Toolbox containers use the host's PID namespace (ie., `podman create --pid host`). So, maybe it's a matter of not being able to change it once the container has already been created (ie., `podman create` versus `podman exec`)?

[2019-05-27 16:14] debarshiray commented on #3205
Ah, after re-reading https://github.com/debarshiray/toolbox/issues/176, I see what you want.

You want to run systemd within the container with a PID namespace, but the interactive shells spawned by `podman exec` in the host's PID namespace, right?

[2019-05-27 22:50] mheon commented on #3203
Biggest things I would mention in an FAQ:
- Slirp4netns networking (no IP address)
- High-UID issues (images with UIDs over 65k don't work)
- Things that would require elevated capabilities don't work (you can't bind ports under 1024, you can't mount in root-owned directories and expect to write to them)
- Fuse-overlayfs vs VFS (fuse-overlay isn't installed by default in the PPA, I believe, so we

[2019-05-27 22:54] mheon commented on #3203
Oh, add to that:
- Does Podman need to be setuid for rootless to work? (no)
- What dependencies does rootless Podman have? (newuidmap/newgidmap and optionally slirp4netns)
- Does rootless Podman support resource limits? (not yet, needs cgroups v2, working on it)

[2019-05-27 23:24] mheon commented on #3205
Oh, that's a different matter.

That would require changes to `runc` I think - `exec` enters all of a container's namespaces right now, without exception. I don't think this is impossible, but as we're requiring changes outside the project itself, this could take some time.

[2019-05-28 07:29] giuseppe commented on #3205
as your original issue report said, the best way to achieve it is probably through `nsenter`.  You could use podman inspect to read the container PID and then tweak what you want to join with `nsenter`

[2019-05-28 07:31] giuseppe commented on #3202
what is your use case for using the ostree backend?  We are planning on disabling it in podman, as it is out of scope since you cannot run containers from there

[2019-05-28 07:53] mildred commented on #3205
Yep, that was the original idea. `podman run` would start a process in a dedicated PID namespace but `podman exec` would be able to keep the host PID namespace (just like nsenter where you can choose which namespace you enter or not).

It just seems that's not possible by using runc, and such cases seems dubious (entering the mount namespace but not the PID namespace gives you a mismatching `/proc

[2019-05-28 07:53] #3205 closed

[2019-05-28 08:51] giuseppe commented on #3201
can we close this issue?

[2019-05-28 08:52] giuseppe commented on #3000
@sunnychanwork had a chance to try my suggestion?

[2019-05-28 10:24] sunnychanwork commented on #3000
Yes it does work:
`
none on /tmp/overlay type overlay (rw,relatime,lowerdir=/tmp/lower:/tmp/lower2,upperdir=/tmp/upper,workdir=/tmp/workdir)
`
`root@xxx:/tmp/overlay# ls /tmp/lower
file.lower
root@xxx:/tmp/overlay# ls /tmp/lower2
file.lower2
root@xxx:/tmp/overlay# ls /tmp/overlay
file.lower  file.lower2
root@xxx:/tmp/overlay# uname -a
Linux xxx 4.4.0-17134-Microsoft #706-Microsoft Mon Apr 01 18:13

[2019-05-28 12:42] adel-mamin opened #3207 "`podman info` fails without sudo"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

**With `sudo` the command `sudo podman info --debug` works and outputs:**

[code]

[2019-05-28 12:50] vrothberg commented on #3207
Hi @adel-mamin, thanks a lot for opening the issue. Which kind of filesystem is your home directory on?

[2019-05-28 12:52] adel-mamin commented on #3207
I believe it is `ext4`

[2019-05-28 12:57] vrothberg commented on #3207
@adel-mamin, is it on NFS? I suspect it's on NFS since the filelocks are not working there, which is inherently important for the storage. If that's the case, we can edit `~/.config/containers/storage.conf` and make the `graph_root` point to a non-NFS directory.

[2019-05-28 13:09] adel-mamin commented on #3207
It is not on NFS. It is on my local disk:
[code]

[2019-05-28 13:36] vrothberg commented on #3207
Thanks for clarifying. I checked the code and believe there's a bug.

[2019-05-28 13:45] adel-mamin commented on #3207
@vrothberg I can try, if you point me to the build instructions.

[2019-05-28 13:53] vrothberg commented on #3207
@adel-mamin, you can checkout the pull request in your local git-tree via:
[code]

Note that $remote is the git-remote pointing to `github.com/containers/libpod` which is `origin` if you just clone this repository. Once that's done, you can follow https://github.com/containers/libpod/blob/master/install.md#building-from-scratch for building podman.

[2019-05-28 13:57] mheon commented on #3203
One more: root-owned devices and rootless podman

[2019-05-28 14:11] vrothberg opened #3209 "podman generate systemd for Pods"
/kind feature

**Description**

Based on user feedback, it would be nice to support generating service files for Pods.

Cc: @baude @mheon

[2019-05-28 14:16] rhatdan commented on #3203
We already have most of these in the rootless.md under shortcomings.  Either we extend that or move it somewhere else where it is more discoverable.

[2019-05-28 14:23] #3112 closed

[2019-05-28 14:29] baude commented on #3204
i assume you are calling directly into the endpoint using the varlink utility?  for the sake of replication, can you provide me with the exact command you are using?

[2019-05-28 14:35] akoenig commented on #3201
Yep, thanks again for the help 🙂

[2019-05-28 14:35] #3201 closed

[2019-05-28 14:42] TomSweeneyRedHat commented on #3206
Per @rhatdan in #3156
[code]

s/b
[code]

[2019-05-28 14:44] rhatdan commented on #2986
@mheon Answered the 50 char limit question above.

[2019-05-28 14:44] #3184 closed

[2019-05-28 14:50] afortiorama commented on #2986
@rhatdan yes, he did. We will have to use relative paths under the job dir to overcome this problem.

[2019-05-28 15:00] lukasheinrich commented on #2986
@rhatdan -- any guesses what the login-shell dependency could be?

[2019-05-28 15:18] fatherlinux commented on #3044
@h-vetinari so, I love to under promise and over deliver ;-) We were able to get Podman 1.3.1 into 7.6.5 which is impending. While I can't commit to date, we are looking green for release any day now :-) Look for the drop very soon.

[2019-05-28 15:33] mheon opened #3211 "Podman cp dereferences symlinks in host context"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When copying into a path in a container that contains a symlink, the symlink is resolved on the host, not within the container,

**Steps to reproduce the issue:**

1. `podman run -t -i --name testctr --rm fedora bash`

2. Inside the container: `ln -s /tmp /test`

3. Outside the container: `to

[2019-05-28 15:35] mheon commented on #3211
We also need to pause containers while copying into them to avoid CVE-2018-15664

[2019-05-28 15:47] AkihiroSuda opened #3212 "rootless: allow binding privileged ports with CAP_NET_BIND_SERVICE file cap"
https://github.com/containers/libpod/blob/master/rootless.md says `Podman can not create containers that bind to ports < 1024.`, but could be enabled with `sudo setcap cap_net_bind_service=+ep $(which slirp4netns)` if Podman could run slirp4netns in the initial userns.

[2019-05-28 16:12] h-vetinari commented on #3044
Wow, that is excellent news - thank you very much for your efforts!

[2019-05-28 16:31] juhp commented on #3163
It would be helpful to see the actual error given by `toolbox` for this.
With podman-1.3.1-1.git7210727.fc30.x86_64, I get:
[code]
Is that the same issue or am I hitting something else?
(eg my fedora-toolbox-29 and fedora-toolbox-petersen-31 containers still run fine, but I need to revert to podman-1.2 for my fedora-toolbox-petersen-30 to work.)
Otherwise I should open another issue for this.

[2019-05-28 16:40] garethahealy commented on #3102
Just re-tested with remote and server on latest master and it works. Closing.

[2019-05-28 16:40] #3102 closed

[2019-05-28 17:17] vrothberg commented on #3212
Thanks for opening the issue, @AkihiroSuda! PRs are always welcome :) Would you open one to change the document?

[2019-05-28 17:46] jwhonce commented on #1843
Because of issues with a dependency building on MacOS, I put this together for testing: https://github.com/containers/libpod/releases/download/v1.3.1/podman-v1.3.1.dmg

Please let me know what you find, or would like see additionally on the dmg.  Thanks!

[2019-05-28 18:06] vrothberg commented on #3207
Thanks a ton for checking. I'll reopen. Note that I can't reproduce this at all.

@giuseppe, do you have a suspicion what could have went south?

[2019-05-28 18:14] lovett opened #3216 "conmon doesn't see --name, causing podman run to fail"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run` as non-root fails with `[conmon:e] Container name not provided. Use --name`.

The error occurs even when `--name` is specified.

The error doesn't occur when podman is run as root.

**Steps to reproduce the issue:**

As non-root:

[code]

**Describe the results you received:**

T

[2019-05-28 18:18] mheon commented on #3216
@haircommander Last containers/conmon doesn't require `--name` right?

[2019-05-28 18:27] haircommander commented on #3216
hey @lovett , @mheon is right -- if you can download and build https://github.com/containers/conmon/releases/tag/v0.2.0 that will have the changes you need :)

[2019-05-28 19:00] rhatdan commented on #2986
@lukasheinrich Don't understand the question?

[2019-05-28 19:10] lovett commented on #3216
Hi @haircommander, I am already running conmon v0.2.0. It is part of the opensuse package for podman v1.3.1 as shown [here](https://build.opensuse.org/package/view_file/openSUSE:Factory/podman/_service?expand=1) and the binary admits the same:

[code]

[2019-05-28 19:23] lukasheinrich commented on #2986
according to @afortiorama podman does not work when the process is not launched from within a login shell.

[2019-05-28 19:23] haircommander commented on #3216
@lovett so the conmon that was used in podman is in `/usr/lib/crio/bin/conmon` and the one you checked the version of is `/usr/lib/podman/bin/conmon`
two things:
@saschagrunert : is the crio path still shipped with podman? or is that a remnant after upgrading?
@mheon: shouldn't podman look in the podman directory first?

ultimately @lovett, linking the podman one to the crio one will fix your prob

[2019-05-28 19:28] rhatdan commented on #3212
That seems like a decent documentation fix, definitely not something we could do by default.

[2019-05-28 19:41] mheon commented on #2986
Could be certain environment variables that we expect to be defined? Rootless in particular wants a few environment variables to be present

[2019-05-28 19:46] 4383 commented on #1843
@jwhonce thanks I will take a look ASAP

[2019-05-28 20:01] lovett commented on #3216
Thanks for that clarification @haircommander, you were right. Additional thumbs-up for pointing out the `--conmon` flag which allowed me to sidestep the problem.

For completeness, the version of conman on the crio path is 1.14.1. And I was upgrading podman from v1.2 rather than clean-installing. If there was a remnant along the way, manually cleanup wouldn't be straightforward due to opensuse's r

[2019-05-28 20:12] refi64 commented on #3202
@rhatdan SELinux is set to permissive.
@giuseppe I was using it to [push containers to OSTree repos so I could run them as Flatpaks](https://github.com/refi64/flatpod), IIRC there's some existing skopeo bug where you can't easily access the user OCI storage (though it may have since been fixed maybe?).

[2019-05-28 20:42] giuseppe commented on #3202
that is a really nice project!

From the code https://github.com/fedora-selinux/selinux/blob/master/libselinux/src/lsetfilecon.c#L14 it seems like the only way it returns `EINVAL` is with an empty context.

I cannot reproduce on F30, what do you get with:

`selabel_lookup -r -v -b file -k /sbin/depmod` ?

[2019-05-28 20:54] giuseppe commented on #3207
I fear there is no support for user namespaces in the kernel.

What do you see with `ls /proc/self/ns; cat /proc/self/uid_map` ?

[2019-05-28 21:19] rhatdan commented on #3202
No I think the kernel could return EINVAL, if the label that you are attempting to set does not exists in the policy loaded into the kernel.

setenforce 1
 chcon -t foo_t /etc/passwd
chcon: failed to change context of '/etc/passwd' to ‘system_u:object_r:foo_t:s0’: Invalid argument

strace shows
setxattr("/etc/passwd", "security.selinux", "system_u:object_r:foo_t:s0", 27, 0) = -1 EINVAL (Invalid ar

[2019-05-28 21:21] rhatdan commented on #3202
[code]

[2019-05-28 21:34] MarcoFalke opened #3218 "podman cp does not change ownership of files (sometimes)"
/kind bug

Unfortunately I can not reproduce this with a minimal example, so feel free to close this issue.

According to the documentation, the ownership should be set to the user that ran `podman cp` (see https://docs.docker.com/engine/reference/commandline/cp/#extended-description).
However, sometimes `podman cp` will change the owner, and sometimes it does not.

**Steps to reproduce the issue:

[2019-05-28 23:47] fabriciojardim commented on #3203
Thanks for the clarifications.
Sorry for the issue.

[2019-05-29 04:47] juhp opened #3219 "podman-1.3 breaks my fedora-toolbox-user-* containers"
/kind bug

**Description**

After updating to podman-1.3.1-1.git7210727.fc30 my fedora-toolbox-<USER>-* containers stopped working.

**Steps to reproduce the issue:**

1. `podman start fedora-toolbox-petersen-30`

**Describe the results you received:**

[code]

With debugging output:

[code]

**Describe the results you expected:**

The container to continue working, like it does with podman-1.2.0-

[2019-05-29 04:50] juhp commented on #3219
cc @debarshiray

[2019-05-29 05:38] llchan opened #3220 "Rootless should inherit init_path from default libpod.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Rootless podman runs do not currently inherit `init_path` from the default libpod.conf (in /etc or /usr/share or whatever).

**Steps to reproduce the issue:**

1. Remove any existing per-user configs/dbs

2. Update `init_path` in system libpod.conf

3. `podman run --init -it registry.access.r

[2019-05-29 05:43] llchan commented on #3220
Proposed patch that appears to work for me:
[code]

Something that may be worth discussing is whether the config layering can be more automatic and not require explicit passthrough like this.

[2019-05-29 06:41] adel-mamin commented on #3207
[code]

[2019-05-29 06:50] vrothberg commented on #3207
@giuseppe's suspicion is correct, the system does not have user namespace support. I guess that every distro configures that a bit different, but here's a link how to enable it in Manjaro: https://forum.manjaro.org/t/how-to-permanently-enable-user-namespaces-in-manjaro-linux/71614/2

[2019-05-29 07:15] afortiorama commented on #2986
Could you let us know which variables?

there are only two obvious ones are in the top post $HOME or $NGD_DATA_HOME and I set them both again to point to the job area. It'd be really useful to have a batch mode or a batch option that allows to run without switching or overriding all these things manually.

[2019-05-29 07:39] giuseppe commented on #2986
@afortiorama it should be enough to set `XDG_RUNTIME_DIR`.  Usually its value is `/run/user/$UID`

[2019-05-29 07:50] afortiorama commented on #2986
@giuseppe I thought that was overridden with --runroot isn't that the case? I'll try also setting the variable.

[2019-05-29 07:51] adel-mamin commented on #3207
I updated the Linux kernel to `4.19.45-1-MANJARO` and enabled the user namespaces by
`sysctl kernel.unprivileged_userns_clone=1`
Now `podman info` works as expected.
I am closing the issue.
Thank you!

[2019-05-29 07:51] #3207 closed

[2019-05-29 08:21] vrothberg commented on #3207
Awesome, thanks a lot!

[2019-05-29 08:40] ssbarnea commented on #1843
@jwhonce Thanks. Still the are few issues to fix:
* not signed (not ignorable, easy to get access to a certificate (check mojo)
* DMG distribution far from ideal, brew is much better and automation friendly (also adds it to PATH) -- personally I would even prefer a wget/curl command instead of DMG ;)

It seems to execute and --help works fine but I was not able to build a container using `podman b

[2019-05-29 09:16] ssbarnea commented on #1843
@jwhonce: I managed to create a PR to add a cask for installing podman with `brew cask install podman`, which should be fine until we sort the compilation issues. Sadly this means that file needs to be updated for each new release, but is is very easy to do so.

See https://github.com/Homebrew/homebrew-cask/pull/64042

[2019-05-29 11:35] adel-mamin opened #3222 "`podman run --publish 80:80 nginx` errors"
/kind bug

**Description**

Unexpected errors while running the command:

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

100% reproducible

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

[2019-05-29 11:37] adel-mamin commented on #3222
Additional info:

[code]

[2019-05-29 11:47] rhatdan commented on #2986
Yes I think this is more about environment variables that are setup by a normal login session.Rather then simply doing a service as root and then su/sudo to non root before running podman.  If the scripts setup the runtime/tmp directories used by podman for these scenarios, then it would work.

[2019-05-29 12:07] rhatdan commented on #3220
@llchan Please open a PR.

[2019-05-29 12:13] rhatdan commented on #3207
@adel-mamin Would you mind opening a PR for adding information on MANJARO on install.md. So future users would not hit the issues you have had.

[2019-05-29 12:22] mheon commented on #3219
Can you check journalctl for any messages from Conmon? The real error is
being lost before it can be printed, but should have been logged to syslog

On Wed, May 29, 2019, 00:50 Jens Petersen <notifications@github.com> wrote:

[2019-05-29 12:33] rhatdan commented on #3222
Non priv users are not allowed to bind to ports < 1024, so this requires root.

We document it here.  But we should document it in the man page, and it would be nice to print a nice error to the user.

https://github.com/containers/libpod/blob/master/rootless.md

[2019-05-29 13:04] mheon commented on #3222
This also seems to be having trouble pulling down images... Could be a
missing entry in uidmap/gidmap

On Wed, May 29, 2019, 08:33 Daniel J Walsh <notifications@github.com> wrote:

[2019-05-29 13:06] rhatdan commented on #3200
Worked for me on Fedora 30

[code]
[code]

[2019-05-29 13:07] rhatdan commented on #3222
This is what I get when I run it.

[code]

[2019-05-29 13:16] giuseppe commented on #3222
if we want to improve the error message we should do it in slirp4netns, and print a nicer one when it gets EPERM trying to using a port

[2019-05-29 13:19] saschagrunert commented on #3200
Thanks for trying it out on fedora. I think it could be related to btrfs, but I have to dig deeper into the code now.

[2019-05-29 13:21] mheon commented on #3222
From the original error: `: there might not be enough IDs available in the namespace (requested 0:42 for /etc/gshadow): lchown /etc/gshadow: invalid argument`

That doesn't look like slirp to me.

@adel-mamin Can you `cat /etc/subuid` and `/etc/subgid` and check if they're empty?

[2019-05-29 13:22] mheon commented on #3222
(We should 100% update the slirp error message though)

[2019-05-29 13:24] adel-mamin commented on #3222
[code]

[2019-05-29 13:26] mheon commented on #3222
To verify - do you have `newuidmap` and `newgidmap` executables available on your system?

[2019-05-29 13:27] adel-mamin commented on #3222
[code]

[2019-05-29 13:31] mheon commented on #3222
Alright, so you have the executables we need, but not the configuration files they read to allocate you a range of UIDs.

Try creating `/etc/subuid` and `/etc/subgid` (they're root:root, 644 perms on my system) and adding a line like this to each:
`<username>:1000000:65536`

Where `<username>` is your username.

Podman uses `newuidmap` and `newgidmap` to get a range of UIDs and GIDs to use with ro

[2019-05-29 13:47] adel-mamin commented on #3222
[code]

Here is what I get for the original command:

[code]

[2019-05-29 13:52] mheon commented on #3222
@giuseppe Mind taking a look here? Seems like the two files are formatted properly

[2019-05-29 13:53] vrothberg commented on #3200
@saschagrunert, can you try it out with the latest podman? I assume your're running on openSUSE and we just recently fixed a bug where podman applied the apparmor profile despite the --privileged flag.

[2019-05-29 13:56] debarshiray commented on #3163
I think yours is a different issue.

[2019-05-29 14:00] saschagrunert commented on #3200
Ah nice thanks for the hint, the issue seems fixed on the master branch.

I still get the warnings (only on btrfs driver usage):
[code]
Should I look deeper into that or is it already known?

[2019-05-29 14:06] ashley-cui commented on #3222
Just for clarification, is this just to change the error message so that it is more clear? I'm also only getting the error that Dan had, not the original.

[2019-05-29 14:08] saschagrunert commented on #3200
Closing for now since I assume the fix is included in one of the following versions.

[2019-05-29 14:08] #3200 closed

[2019-05-29 14:12] vrothberg commented on #3200
It would be great to check what's behind this warning. Thanks :pray:

[2019-05-29 14:13] mheon commented on #3222
I think we have two separate issues here.
- The slirp4netns error message when binding ports below 1024 is really bad
- Missing /etc/subuid and /etc/subgid leading to an inability to run containers with >1 UID/GID

The second is an environment issue, so if there are code changes to be made here, they would be the first

[2019-05-29 14:24] baude commented on #980
@jwhonce can PTAL and add a test to stop regressions ?

[2019-05-29 14:29] baude commented on #1843
can we call this done?

[2019-05-29 14:30] baude commented on #1911
what is the latest on this @vrothberg

[2019-05-29 14:31] #1948 closed

[2019-05-29 14:32] baude commented on #1963
@TomSweeneyRedHat can you find a few minutes and wrap this one up?

[2019-05-29 14:34] baude commented on #2013
@vrothberg any ideas?

[2019-05-29 14:34] caarlos0 commented on #1843
afaik they have a bot to do it automatically... not sure how they run it though

[2019-05-29 14:34] GoodMirek commented on #3219
With podman-2:1.3.1-1.git7210727.fc30 I cannot run any container on my system, getting the same error as described above.
I had tried to remove podman and reinstall an older version:
[code]
but my containers remained broken. I had to delete the containers and create them from scratch.

[2019-05-29 14:35] vrothberg commented on #1911
Plenty of tears and sweat over here: https://github.com/containers/image/pull/611

It's working and CI is green but it turned into something really big, so I expect reviewing to still take a while.

[2019-05-29 14:35] baude commented on #2015
@rhvgoyal any updates?

[2019-05-29 14:37] baude commented on #2212
this is now fixed ... @edsantiago can you confirm and close?

[2019-05-29 14:37] vrothberg commented on #2013
Unfortunately, no progress for a longer time since issues with higher priority are on my table. I removed me from the assignment to not block others from taking over.

[2019-05-29 14:38] baude commented on #2240
@mheon whats the latest on this?

[2019-05-29 14:38] baude commented on #2265
@haircommander how goes this one. any updates?

[2019-05-29 14:39] baude commented on #2303
@haircommander updates on this?

[2019-05-29 14:40] mheon commented on #2240
This probably overlaps with the work we were talking about to show c/storage containers in `podman ps` with a flag, and allow removal with `podman rm`

[2019-05-29 14:40] haircommander commented on #2265
@baude awaiting some review love: https://github.com/containers/libpod/pull/2709 :)

[2019-05-29 14:41] haircommander commented on #2303
@baude nope I have yet to "take a stab at it"

[2019-05-29 14:41] baude commented on #2384
im going to close this ... @miabbott re-open if you still want podman to handle this.

[2019-05-29 14:41] #2384 closed

[2019-05-29 14:42] baude commented on #2414
@TomSweeneyRedHat is this what you were hacking on the other day?

[2019-05-29 14:45] #2488 closed

[2019-05-29 14:45] baude commented on #2544
@TomSweeneyRedHat @miabbott is this still an issue?

[2019-05-29 14:46] baude commented on #2669
@haircommander Any update on this?

[2019-05-29 14:50] baude commented on #2699
@rhatdan @vrothberg what should we do here? i believe this is still an issue

[2019-05-29 14:50] haircommander commented on #2669
still waiting on https://github.com/containers/image/issues/610 . I don't have time currently to tackle it on c/image side

[2019-05-29 14:52] baude commented on #2748
do we consider this closed?

[2019-05-29 14:52] baude commented on #2751
@mheon wdyt the status is here?

[2019-05-29 14:53] baude commented on #2755
@TomSweeneyRedHat what is the latest here

[2019-05-29 14:53] #2757 closed

[2019-05-29 14:55] mheon commented on #2751
Cleanup errors are fixed... They might have taken this with them. Will poke around.

[2019-05-29 14:55] baude commented on #2794
is this fixed now?

[2019-05-29 14:58] #2805 closed

[2019-05-29 14:58] #2806 closed

[2019-05-29 15:02] baude commented on #2808
@rhatdan at this point, i am wondering if a blog written explicitly on this would suffice.

[2019-05-29 15:03] baude commented on #2815
@rpjday Any update on this?

[2019-05-29 15:04] baude commented on #2821
@haircommander is this in your domain or do we need to get someone to pick it up?

[2019-05-29 15:05] baude commented on #2823
@TomSweeneyRedHat did this get fixed?

[2019-05-29 15:07] baude commented on #2837
any updates?

[2019-05-29 15:09] haircommander commented on #2821
@baude it is generally out of my domain--it could be in my domain given some time (that I don't currently have) :)

[2019-05-29 15:09] teknoraver commented on #2837
Yes, this is the expected behaviour because the conntrack entries didn't expire yet. Try to lower the timeout with `net.netfilter.nf_conntrack_icmp_timeout=X`

[2019-05-29 15:10] baude commented on #2846
@TomSweeneyRedHat whats the latest here

[2019-05-29 15:11] #2869 closed

[2019-05-29 15:12] baude commented on #2871
@vrothberg the pr in question is now merged ... does anything else need to be done to resolve the reported issue?

[2019-05-29 15:12] #2876 closed

[2019-05-29 15:12] #3187 closed

[2019-05-29 15:13] nalind commented on #2823
The changes to intermediate images and tagging that were planned should all be landed by now.  A spot-check with podman 1.3.1 from the Fedora podman-1.3.1-1.git7210727.fc30.x86_64 package appears to confirm this: a failed build doesn't leave behind an intermediate image with the name that was specified for the final image.

[2019-05-29 15:13] alitvak69 opened #3226 "Podman dies during interactive session exec due to disconnect"
/kind bug

**Description**

When running a shell script in the interactive shell with the terminal during exec , podman dies if session is disconnected.

**Steps to reproduce the issue:**
This is just an example, you can
1.  Connect to your remote host via ssh.  Run bash in the podman e.g.
podman exec -it  containerx /bin/bash

2.  Run loop e.g.
while x=1; do  ls; sleep 1; done

3.  Disconnect ssh

[2019-05-29 15:25] baude commented on #2898
where are we on this one?

[2019-05-29 15:25] rhatdan commented on #3200
So this is Overlayfs running on a BTRFS disk?

[2019-05-29 15:26] baude commented on #2918
did you guys talk? any movement or action required on this?

[2019-05-29 15:27] mheon commented on #2898
#3038 merged with documentation, so I think this might be fixed

[2019-05-29 15:27] baude commented on #2920
@rhatdan are we cool?

[2019-05-29 15:27] mheon commented on #2898
Actually, I think @giuseppe solved our other issues with a `--userns` option

[2019-05-29 15:28] baude commented on #2924
@giuseppe is this fixed?

[2019-05-29 15:29] baude commented on #2925
@lsm5 is this something you fixed?

[2019-05-29 15:31] baude commented on #2941
i believe this is fixed.

[2019-05-29 15:31] baude commented on #2955
@giuseppe ptal

[2019-05-29 15:33] baude commented on #2962
@mheon do you want to add the stopped back in ?

[2019-05-29 15:34] mheon commented on #2898
I'm going to close as we've added documentation and https://github.com/containers/libpod/pull/3196 added a way to retain UIDs

[2019-05-29 15:34] #2898 closed

[2019-05-29 15:35] rhatdan commented on #2303
We can open this up for an intern?

[2019-05-29 15:35] baude commented on #2968
@panzerdev is this working for you now? @giuseppe ptal if not

[2019-05-29 15:37] baude commented on #2972
@jwhonce mind taking a look at this?

[2019-05-29 15:39] giuseppe commented on #2955
AFAICS, that is only a warning, that should not be printed while running as rootless.  Anything else should be already working fine

[2019-05-29 15:40] baude commented on #2979
theoretically this could be done with a secondary image store shared by everyone.

[2019-05-29 15:41] rhatdan commented on #2544
I think this is fixed, Reopen if this is still an issue.

[2019-05-29 15:42] miabbott commented on #2544
@baude yeah, still looks busted to me

[code]

[2019-05-29 15:43] miabbott commented on #2544
I don't have permissions to re-open this, but I think it is still a problem

[2019-05-29 15:44] giuseppe commented on #2955
PR here: https://github.com/containers/libpod/pull/3227

[2019-05-29 15:44] haircommander commented on #2303
SGTM

[2019-05-29 15:45] ssbarnea commented on #1843
@baude sadly this is not done.

[2019-05-29 15:45] rhatdan commented on #2748
I am going to close, reopen if it still exists.

[2019-05-29 15:45] #2748 closed

[2019-05-29 15:45] giuseppe commented on #2924
yes this is fixed upstream in buildah.

Also we now have `podman unshare` so we don't need to depend on buildah

[2019-05-29 15:45] #2924 closed

[2019-05-29 15:47] baude commented on #2929
in podman ps, if a container is part of a pod that has port settings, we do show it for each container in the pod.
[code]
i believe that solves your issue. repoen if you disagree

[2019-05-29 15:47] #2929 closed

[2019-05-29 15:48] rhatdan commented on #2755
This is in buildah although it is not documented in the man pages.
Ashley can you add information to podman-build man page.

[2019-05-29 15:49] baude commented on #2998
where do we stand on this one ?

[2019-05-29 15:50] danstiner commented on #2544
@miabbott Could you re-test with podman 1.3.1 or newer? I was encountering a very similar issue and verified my fix is in that version (https://github.com/containers/buildah/pull/1511)

[2019-05-29 15:50] rhatdan commented on #2808
@weirdwiz Could you take a look at this?

[2019-05-29 15:51] rhatdan commented on #2815
Ashley could you look into this also.

[2019-05-29 15:52] baude commented on #3007
@rhatdan what should we do here?

[2019-05-29 15:53] haircommander commented on #2265
huzzah! closing via #2709

[2019-05-29 15:53] #2265 closed

[2019-05-29 15:53] baude commented on #3010
is this fixed? wouldnt it be better to file this as a bugzilla against the distribution and not upstream?

[2019-05-29 15:54] rhatdan commented on #2846
I believe this works, Reopen if you disagree.

[2019-05-29 15:54] #2846 closed

[2019-05-29 15:55] baude commented on #3022
are we good to close?

[2019-05-29 15:55] haircommander commented on #3020
@mheon @fatherlinux I tried this out with conmon exec, and I'm pretty sure it's not allowed on the runtime side (you can't exec into a container that isn't running)

[2019-05-29 15:55] #2823 closed

[2019-05-29 15:56] baude commented on #3024
are we good to close this?

[2019-05-29 15:56] baude commented on #3027
@lsm5 are we good here?

[2019-05-29 15:57] vrothberg commented on #3022
Yes, I think we can close but feel free to re-open if there are further issues.

[2019-05-29 15:57] baude commented on #3030
closing due to interest

[2019-05-29 15:57] #3030 closed

[2019-05-29 15:58] #3044 closed

[2019-05-29 15:58] baude commented on #3046
@mheon where do we stand here?

[2019-05-29 15:59] baude commented on #3050
can we close this?

[2019-05-29 15:59] haircommander commented on #3024
yes--people will need to use containers/conmon 0.2.0

[2019-05-29 16:01] baude commented on #3055
@mheon any updates on this?

[2019-05-29 16:01] baude commented on #3059
@QiWang19 is this fixed?

[2019-05-29 16:03] baude commented on #3100
@rhatdan ptal, im in agreement with @giuseppe here in that our goal as upstream here is to provide an unprivileged way to run the installed podman -- not to install podman outside the scope of the system.  wdyt?

[2019-05-29 16:03] miabbott commented on #2544
@danstiner Yup, latest `podman` works!  Thanks for pointing me in the right direction.

[code]

[2019-05-29 16:03] #2544 closed

[2019-05-29 16:04] baude commented on #3109
@sVattic how goes this? would love the PR

[2019-05-29 16:06] baude commented on #3120
@karezza any updates?

[2019-05-29 16:07] baude commented on #3134
is this resolved?

[2019-05-29 16:08] baude commented on #3136
so what are we thinking here?

[2019-05-29 16:11] wirobert commented on #3050
The testing I have done so far indicates that it doesn’t work as expected.

Bill Robertson
Eng-IT Automation Team
engit-auto@cisco.com<mailto:engit-auto@cisco.com>; dc-tools@cisco.com<mailto:dc-tools@cisco.com>;

From: Brent Baude <notifications@github.com>
Sent: Wednesday, May 29, 2019 9:00 AM
To: containers/libpod <libpod@noreply.github.com>
Cc: Bill Robertson (wirobert) <wirobert@cisco.com>; Me

[2019-05-29 16:12] rhatdan commented on #3134
On May 16th I fixed this in Buildah
7793c51a419870b0151cdda3e5e14c97df5e8b6d
We need to get a new version of buildah into podman and then it will be fixed.

[2019-05-29 16:12] baude commented on #3155
@wking mind poking at this ?

[2019-05-29 16:14] baude commented on #3204
i need some way to replicate what you are doing ... is it a piece of code you can share and i can use? or is it in github?

[2019-05-29 16:23] QiWang19 commented on #3059
Yes. PR #3094 is waiting to be merged.

[2019-05-29 16:28] EricHripko commented on #3204
I have the code [here](https://github.com/EricHripko/dipod/blob/master/images.go#L76), but it may be quite messy (sorry). I'll try to make CLI equivalent of this `varlink` call and add it to the ticket when I have the time.

[2019-05-29 16:36] afbjorklund commented on #2669
My workaround was to use one tarball for each image, and a for loop to load them one-by-one.

`find ... -type f | xargs -n 1 podman load -i`

[2019-05-29 16:40] danstiner commented on #2544
No problem, glad it worked :)

[2019-05-29 16:46] sdeoras opened #3229 "podman error executing kata-runtime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am encountering error when running pod via `kata-runtime`.

**Steps to reproduce the issue:**

1. Make sure `runc`, `runsc` and `kata-runtime` are working well with either `k8s/cri-o` or `k8s/containerd`

2. Install `podman` version `podman version 1.3.2-dev` and define runtimes in `libpod.c

[2019-05-29 16:52] llchan commented on #3220
I would love to, esp since the patch is right there, but I'm unfortunately still awaiting legal's sign-off to push :(

[2019-05-29 16:56] nalind commented on #3000
This should be fixed in libpod 1.3.0 or later, by way of its inclusion of containers/storage 1.12.5 or later, which fixed https://github.com/containers/storage/issues/327.

[2019-05-29 16:57] jwhonce commented on #1843
@ssbarnea I'll look into the signing given our current build tools.  I understand about dmg. Next release I'll attach the executable as well as the dmg. We'll continue to improve on this.  Thanks for your work on brew, I see where they closed the PR rather than merging. I was afraid of that given their guidance documentation.

To point at the machine running podman, you can use:

[code]
-or-
[code

[2019-05-29 17:12] rhatdan commented on #3136
Isn't this also a case where we vendor in the latest buildah and close this issue.

[2019-05-29 17:18] edsantiago commented on #2941
Cannot reproduce on master; closing.

[2019-05-29 17:18] #2941 closed

[2019-05-29 17:20] mheon commented on #3055
Still can't reproduce locally. Not sure what's going on here

[2019-05-29 17:21] mheon commented on #3046
Podman inspect fixes took priority. Hopefully next sprint I'll get this in.

[2019-05-29 17:25] edsantiago commented on #2212
master is completely broken right now:
[code]
Will check once that's fixed. (Will also file issue if one isn't already filed)

[2019-05-29 17:29] TomSweeneyRedHat commented on #3136
I believe the Buildah that's in upstream Podman is the best at the moment.  I don't think there's any changes in Buildah since we last vendored that will help with this issue.

I think the initial concern form @jpic has been allayed, that is the second run of `podman build --shm-size 1G --layers .` was taking minutes instead of a second or two.  I think that's been addressed.

However the first `p

[2019-05-29 17:44] #2920 closed

[2019-05-29 17:54] rhatdan commented on #2979
I think this might be a skopeo issue. Where we could easily copy between two different containers/storage.

[2019-05-29 17:57] rhatdan commented on #2955
@giuseppe Is
[code]
true?

[2019-05-29 18:00] rhatdan commented on #2998
@giuseppe Could you open a PR against container-storage to verify that the whiteout can be created in non-mount program mode.

[2019-05-29 18:04] rhatdan commented on #3007
I am working on overlay mounts for podman. They currently exists in podman build but not podman run yet.

[2019-05-29 18:06] rhatdan commented on #3010
Yes this is a distribution issue and not an upstream issue. Please open a bugzilla if this is still an issue.

[2019-05-29 18:06] #3010 closed

[2019-05-29 18:07] rhatdan commented on #3020
I agree you can not exec into a container that is not running.  We used to have this feature in atomic, but I think it should be scripted and not built into podman directly.

[2019-05-29 18:12] rhatdan commented on #3100
I have no problem is someone wants to go through the procedure to get it documented, I don't see us needing to support this though.
As a thought experiment how far could a user get with building podman, slirp4netns and fuse-overlayfs in their homedir?

[2019-05-29 18:24] mheon commented on #3100
I think you can actually get it all built, but it's going to be a massive pain to get every build dependency installed.

[2019-05-29 18:27] ashley-cui commented on #2815
It seems like the man pages for podman are split, some using [options] and others listing it all out. I took a look at `man man` and it gave an outline of how manual pages should be written. It looks like all the options were written on top, not just [options]. However, as seen in podman-image-trust, this can look pretty messy.

Here are some of the usages:

`
       **bold text**          type ex

[2019-05-29 18:35] rhatdan commented on #3055
Ok lets close since you seem to have a workaround.

[2019-05-29 18:35] #3055 closed

[2019-05-29 18:57] rhatdan commented on #3100
I agree.

[2019-05-29 18:58] rhatdan commented on #2815
@ashley-cui Yes we are just looking for you to run through them and make them consistent.

[2019-05-29 19:07] ashley-cui commented on #2815
So should I just change them all to the [options] format?

[2019-05-29 19:08] rhatdan commented on #2815
I think so, Could you show me an example of the change?

[2019-05-29 19:23] ashley-cui commented on #2815
So instead of
[code]
I have

[code]

[2019-05-29 19:31] rhatdan commented on #2815
Yup SGTM.

[2019-05-29 21:18] rpjday commented on #2815
Sorry for the lack of attention, I've been pre-occupied with a current contract. If @ashley-cui has a handle on this, I'm more than happy to hand it off, and go find something else nitpicky to whine about.

[2019-05-29 23:06] karezza commented on #3120
I tried without specifying PLEX_UID & PLEX_GID, not sure what user that tries.  According to rhatdan, the "-v /run:/run" is the problem.  The pms-docker image itself said to use "-v /run:/run" as a work around for a bug in a patched version of Docker.  I don't know if the problem has to do with the pms-docker image or on the podman side.  In the meantime I gave up and ran the image as root.  As di

[2019-05-29 23:06] #3120 closed

[2019-05-30 00:15] mjlbach commented on #3155
It appears to be working when running podman as root with the --privileged flag

[2019-05-30 02:08] iamgalaxie opened #3232 "podman: option parsing failed: Unknown option -n"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Doing practically anything with podman exits with status code 1 due to command-line options parsing failure.

**Steps to reproduce the issue:**

One quick example:

1. `podman run -ti alpine:latest`

**Describe the results you received:**

[code]

**Describe the results you expected:**

Anyth

[2019-05-30 02:13] wking commented on #3155
So the issue is logging hook-execution to make it easier to see that lack-of-privilege is the problem?

[2019-05-30 02:51] rlittlefield commented on #3232
I also have this same problem. I'm guessing this wasn't a problem in the previous versions, but I can't seem to find an older one available on Ubuntu PPA.

[2019-05-30 02:54] rlittlefield commented on #3232
[code]

[2019-05-30 02:54] mheon commented on #3232
Is this just `podman run` or any command?

[2019-05-30 02:55] mheon commented on #3232
Oh oh oh, it's not us, it's conmon. That explains it.

@lsm5 We're going to need to have the PPA point at `github.com/containers/conmon` and build master there, instead of CRI-O's version.

[2019-05-30 02:55] mheon commented on #3232
It helps when I hit the right button and don't accidentally close things

[2019-05-30 02:58] rlittlefield commented on #3232
It sounds like you already know what the problem is, but it mainly seems to be related to `run`. I don't get the problem any other way, but many commands require a container first.

[2019-05-30 03:20] wking commented on #3155
Poking, no `hooks_dir` in the `libpod.conf`, which means we get [the defaults][1] (also, shame on your packager for relying on those defaults :wink:.  As the linked docs say, they're deprecated).  That means we're matching the highest-precedence `/etc/containers/oci/hooks.d` hook.  Dropping a dummy in for testing with Podman 0.12 and poking around I turned up #3233.

[1]: https://github.com/contai

[2019-05-30 06:48] giuseppe commented on #2955
@rhatdan yes, I've tested it by deleting `/etc/containers/registries.conf` and the `$HOME/.config/containers/registries.conf` file was honored.

@Snapstromegon could you confirm that the current git master version of Podman behaves in this way for you as well?

[2019-05-30 07:05] Snapstromegon commented on #2955
@giuseppe Yes, verified, seems like I was too panic about the warning.

[2019-05-30 07:05] #2955 closed

[2019-05-30 07:13] amshinde commented on #3229
This bug seems to have manifested in this commit: https://github.com/containers/libpod/commit/70beb57faa1cfb1a2e9be411628477bc1618c3cf

But its mainly caused due to `tmpcopyup`  option passed for the /dev mount.
This is most likely due to a change on the kata side causing the VM rootfs to be passed read-only (we seemed to have missed handling the /tmp mount correctly). We need to fix this on the K

[2019-05-30 07:56] giuseppe commented on #2998
I've tried on Ubuntu and mknod still doesn't work for unprivileged users (also from a user namespace).  I think it is allowed only from overlay itself, in facts it gets created in the upper dir whenever I delete something from the overlay mount.

[2019-05-30 08:12] giuseppe commented on #3100
Depending on the host, it can be quite painful for fuse-overlayfs, this is what I need to do for xenial: https://github.com/containers/fuse-overlayfs/blob/master/.travis.yml#L30-L34

It is possible to have a static build for fuse-overlayfs but that requires to use a `Dockerfile`.

I am afraid this documentation will easily get obsoleted.  I think it could go only in a blog post, if someone is inte

[2019-05-30 08:18] giuseppe commented on #3220
the patch LGTM

[2019-05-30 11:10] juhp commented on #3219
(@GoodMirek I think you need to remove podman-manpages at the same time, if you want to downgrade)

[2019-05-30 11:13] giuseppe commented on #3229
@amshinde I guess that is done so that devices specified in the image are still present in the container.  But I don't see any good reasons for having devices created in the image itself, so I think it should be fine if the runtime simply ignores it.

[2019-05-30 11:19] giuseppe commented on #3222
@adel-mamin, can you try `podman stop -a; kill -9 $(cat $XDG_RUNTIME_DIR/libpod/pause.pid); rm $XDG_RUNTIME_DIR/libpod/pause.pid` ?

I am afraid the pause process keeps alive the old namespace that was configured with a single mapping and you modified the configuration for `/etc/subuid` and `/etc/subgid`.

[2019-05-30 11:25] giuseppe commented on #3226
how have you created the container?

[2019-05-30 11:48] sdeoras commented on #3229
@amshinde, thank you. Should I file a new issue for kata-runtime and close this one?

[2019-05-30 12:15] rhatdan commented on #3220
@giuseppe Could you take the patch and open a PR with it, giving @llchan credit.

[2019-05-30 12:32] giuseppe commented on #3220
I am fine with that.  @llchan is it ok for you?

[2019-05-30 12:36] jitka commented on #3022
Ok. You disapointed me. The tag with build was same as tag with run. When I use those old tag you reccomant resurt is the same.
So this is end of my attempt to use podman, I will continue using docker which works for this containers.

[2019-05-30 12:37] giuseppe commented on #3212
this is quite risky though.  I am fine if we document it, but we also need to point out what are the risks associated with it

[2019-05-30 12:52] rhatdan commented on #3022
@jitka Did you try what @vrothberg suggested?

[code]

[2019-05-30 12:53] rhatdan commented on #3212
Depends how much you consider the risk of a rogue process listening at a port < 1024.

[2019-05-30 12:57] rhatdan commented on #2815
@rpjday No problem.  @ashley-cui is a summer intern and we are bringing her up to speed on the whole libpod/podman process.  Grabbing issues for her to work on.
Thanks for the issue.

[2019-05-30 13:06] jitka commented on #3022
@rhatdan yes, I wrote that i did. Result is the same.

You can try to clone the repo and try it.

`https://github.com/pirati-web/example.pirati.cz`

I wrote jekyll-theme and use containers to build and host sever jekyll web pages. `example.pirati.cz` is minimal examle page, `praha.pirati.cz` one of biggest pages I develop. Both podman and docker works or fails same no mather which of my pages/repo

[2019-05-30 13:09] sinnykumari opened #3234 "podman run: gives error while loading shared libraries: libc.so.6: cannot change memory protections"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**
podman run gives error while trying to run a container
[code]

**Describe the results you expected:**
podman should run container and give bash prompt inside container

**Additional information you deem important (e.g. issue happens only occasionally):**

Tried few things but dind't get fixed:

[2019-05-30 13:13] mheon commented on #3234
Alright, we're probably getting an AVC. Can you retrieve it? If you run the failing `podman` command again and immediately `journalctl -b 0 | grep AVC` you should be able to grab it. If you can pastebin it, we can figure out how to adjust SELinux to prevent this.

[2019-05-30 13:13] rhatdan commented on #3234
Is this using an arm image?  Or did it pull an X86 image?

[2019-05-30 13:15] jcajka commented on #3234
@rhatdan aarch64 image, seen the same thing there. Also for the record I have done relabel there.

[2019-05-30 13:16] rhatdan commented on #3234
Well it could be SELinux, @jcajka Does it work if you do a `setenforce 0`

[2019-05-30 13:17] sinnykumari commented on #3234
yes, it works with `setnforce 0`

[2019-05-30 13:19] rhatdan commented on #3234
Then can you get the AVC messages either by executing

ausearch -m avc -ts recent

Or
journalctl -b | grep -i avc

[2019-05-30 13:19] rhatdan commented on #3234
Did you change the location of container/storage?

[2019-05-30 13:20] sinnykumari commented on #3234
output after immediate run
[code]

[2019-05-30 13:23] sinnykumari commented on #3234
Don't think so. Is there a way to check that? I already removed contents from /var/lib/containers and /home/root/containers/ but no luck

[2019-05-30 13:26] GoodMirek commented on #3219
@juhp I had no issue with the downgrade, it just did not help.

[2019-05-30 14:22] rhatdan commented on #3234
What does podman info state?

[2019-05-30 14:25] rhatdan commented on #3234
Basically this AVC incidates that /usr/lib64/libtinfo.so.6.1 is labeled as if it was in a users home directory.
Stored under /home.

[2019-05-30 14:33] sinnykumari commented on #3234
podman info output is in https://github.com/containers/libpod/issues/3234#issue-450299524

[2019-05-30 14:34] sinnykumari commented on #3234
[code]

[2019-05-30 17:04] amshinde commented on #3229
@sdeoras I have created an issue for this on Kata repo and linked it. Thanks!

[2019-05-30 17:07] amshinde commented on #3229
@giuseppe Kata needs to fix this for supporting the tmpcopyup option in any case.
But would it make sense for podman to not pass the `tmpcopyup` for /dev, like you mentioned, I dont see any reason for creating device files in the image.

[2019-05-30 17:10] mheon commented on #3229
This is definitely a bug on our end - we should not be setting `tmpcopyup` on `/dev/`. I'll special-case it.

[2019-05-30 18:03] mheon commented on #3229
#3238 to resolve

[2019-05-30 18:19] amshinde commented on #3229
Thanks @mheon !

[2019-05-30 19:17] #3211 closed

[2019-05-30 21:08] panzerdev commented on #2968
@baude I am running
[code]

and it is still the same issue.

[2019-05-30 22:31] sdeoras commented on #2116
Still seeing podman related pkg issues.
[code]

[2019-05-31 00:01] mheon commented on #2968
Does `podman info` work now, and if so, can you post it?

If it doesn't, that still tells us something

[2019-05-31 00:02] alitvak69 commented on #3226
ExecStart=/usr/bin/podman run --rm --name ceph-mon-%i \
  --log-opt path=/dev/null \
  --memory=128409m \
--cpus=1 \
-v /var/lib/ceph:/var/lib/ceph:z \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
  -v /etc/localtime:/etc/localtime:ro \
--net=host \
-e IP_VERSION=4 \
  -e MON_IP=10.0.40.121 \
  -e CLUSTER=ceph \
  -e FSID=9b4468b7-5bf2-4964-8aec-4b2f4bee87ad \
  -e MON_PORT=33

[2019-05-31 00:03] alitvak69 commented on #3226
It is a ceph container

[2019-05-31 00:04] sfowl commented on #3211
CVE-2019-10152 has been assigned for this issue:

https://bugzilla.redhat.com/show_bug.cgi?id=1715667

[2019-05-31 01:26] rhatdan commented on #3234
Ok I missed this up front.  If you are going to move the container storage to another location, then you will need to fix the labels.

/home/root/containers/storage

[code]
Also you should not move RunRoot, just leave it on /run.

 RunRoot: /home/root/containers/storage

This should be available to root users.  You want the runroot stored on a tmpfs, so a reboot cleans it out.

 RunRoot: /var/run/

[2019-05-31 02:04] rhatdan commented on #3234
This is not a bug, but a configuration issue.

[2019-05-31 02:04] #3234 closed

[2019-05-31 02:15] #3229 closed

[2019-05-31 02:23] space88man opened #3241 "Failed to restart container after a system crash: conmon Failed to bind attach socket"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
After a system crash, one container cannot be restarted

**Steps to reproduce the issue:**

1. System crash due to power supply (unrelated to podman)

2. Try to restart container

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Container starts success

[2019-05-31 02:30] space88man commented on #3241
The new container built from the committed image of the non-startable container works.

[2019-05-31 02:48] rhatdan commented on #3206
Please open a PR>

[2019-05-31 03:43] mheon commented on #3241
Can you remove the path it's complaining about, `/var/run/libpod/socket/adfb0c71e0591fe75461e9dbc58f2fa7f9659d651166cda6893cae7230777555/attach`? It seems like Podman believes that the Unix socket in question is already gone, but it's actually still present.

[2019-05-31 03:44] mheon commented on #3241
Also - is `/var/run/` a tmpfs on your system?

We expect that it is, so files on it should not persist after the system restarts.

[2019-05-31 03:54] space88man commented on #3241
1. yes - /var/run is a tmpfs
2. removed the link adfb0c71e0591fe75461e9dbc58f2fa7f9659d651166cda6893cae7230777555 from /var/run/libpod/socket entirely
3.  Log
[code]

[2019-05-31 03:59] #3241 closed

[2019-05-31 05:41] vrothberg commented on #3022
Podman and Docker behave identical. And again, it works.

[code]

The issue description and following comments simply did not reference the correct image. Take https://github.com/containers/libpod/issues/3022#issuecomment-489087351. The image is built as `podman build -t name:examplepiraticz_site .` but the podman-run command references `examplepiraticz_site` instead of `name:examplepiraticz_site`

[2019-05-31 06:16] adel-mamin commented on #3222
@giuseppe I followed your instructions and it works as expected now:

[code]

Thank you!
I believe the issue can be closed now.

[2019-05-31 06:32] adel-mamin commented on #3207
@rhatdan I've added https://github.com/containers/libpod/pull/3242. Please take a look.

[2019-05-31 07:37] saschagrunert commented on #3200
I opened up a new issue about the warning: https://github.com/opencontainers/runtime-tools/issues/695

[2019-05-31 07:46] lsm5 commented on #2116
On Thu, May 30, 2019 at 03:31:25PM -0700, Saurabh Deoras wrote:

I can move containernetworking-plugins to a soft dependency if that helps users
to use both kube and projectatomic repos together.

@mheon wdyt?

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-05-31 07:53] #3222 closed

[2019-05-31 07:56] msenmurugan opened #3243 "podman running as a container failed in mac os x"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman running as a container failed in mac os x with the following message

**Steps to reproduce the issue:**

1. Create an image using the below Docker file content
FROM fedora
RUN dnf update -y && dnf install -y podman

`docker build -t podman .`

2. docker run --privileged --cap-add=SYS_A

[2019-05-31 08:49] giuseppe commented on #2968
if you have no problems to run the container, could you run a process inside of it.  And from the host do a `cat /proc/$(PID_OF_THE_PROCESS_INSIDE_THE_CONTAINER)/uid_map`?

You could for example do:
[code]

[2019-05-31 08:54] mheon commented on #3229
Setting tmpcopyup there is a bug - I'll get a fix out

On Thu, May 30, 2019, 07:48 Saurabh Deoras <notifications@github.com> wrote:

[2019-05-31 13:46] mheon commented on #2116
@lsm5 Yeah, that ought to work fine for us. We have a lot of people just using Podman without root, anyways - you don't really need CNI for that.

[2019-05-31 13:51] mheon commented on #3243
To clarify here - you're trying to run Podman inside a container on Docker for OS X. I assume Docker for OS X is doing something like spinning up a Linux VM and connecting to it remotely? Podman will not be able to launch containers on native OS X.

Assuming that we are running on OS X on Linux, the bind-mount of /var/lib/containers/storage should be enough to make things work. @nalind Any ideas h

[2019-05-31 13:53] mheon commented on #3243
Wait a second - assuming you're running Docker via boot2docker or similar - would the /var/lib/containers/ mount be coming from the OS X host? I don't know if we can support Overlay over the network filesystem that makes that sharing happen

[2019-05-31 14:15] apollo13 commented on #3209
I just wanted to open an issue towards the same goal :) I think in the end it would be really nice if one could get N + 1 service files (n containers & 1 pod) and start the pod service file would start the pod and then the dependant services. Probably using systemd's template units ala pod.service, pod@container1.service etc…?

[2019-05-31 14:20] mheon commented on #3209
My thoughts are basically the same - one service for the overall pod, and then sub-services for containers within the pod.

[2019-05-31 15:32] fansari opened #3245 "podman and IPv6"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

/kind feature

**Description**
This is not really a bug. I am wondering who to configure IPv6 in podman. I did not find any documentation to this topic so far.

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional informati

[2019-05-31 18:05] msenmurugan commented on #3243
@mheon you are right.. I'm mounting the OS X folders to container

[2019-05-31 18:10] mheon commented on #3243
There is a podman-machine - https://github.com/boot2podman/machine

Remote Podman isn't quite complete yet (most notably missing are exec and cp), but it's actually quite functional now (though it needs to be manually built - I don't believe we're shipping it yet.

[2019-05-31 18:30] mbonato commented on #3209
+1

[2019-05-31 19:18] msenmurugan commented on #3243
Thanks @mheon for the info. The above will work fine for me now.

[2019-05-31 20:58] #3144 closed

[2019-05-31 23:07] h-vetinari commented on #3206
@TomSweeneyRedHat
I had linker errors using `sudo podman` when building with selinux and using `PREFIX=/usr` in #3068, but since #3045 is still unsolved (despite being closed), I'll just have a look at the install instructions again and report the status after your PR (and once I find some time)... :)

[2019-06-01 00:21] tmstaedt commented on #3219
https://docs.fedoraproject.org/en-US/fedora-silverblue/troubleshooting/

As a workaround, it is possible to override podman packages newer than version 1.2.0 following these steps:

    Download podman-1.2.0-2.git3bd528e.fc30.x86_64.rpm from Koji

    Remove podman-manpages issuing: rpm-ostree override remove podman-manpages

    Override the currenty installed podman package (using the package yo

[2019-06-01 00:32] juhp commented on #3219
Yep, you can even do it in a single command: `rpm-ostree override --remove=podman-manpages replace https://kojipkgs.fedoraproject.org//packages/podman/1.2.0/2.git3bd528e.fc30/x86_64/podman-1.2.0-2.git3bd528e.fc30.x86_64.rpm` :-)

[2019-06-01 00:36] fbruetting commented on #3219
Is it intended that both `podman` and `podman-manpages` get listed twice in `rpm-ostree status -v`?

![Bildschirmfoto von 2019-06-01 02-35-36](https://user-images.githubusercontent.com/10520767/58741123-14863f00-8416-11e9-9994-b6f79250710c.png)

[2019-06-01 02:05] pzl opened #3247 "No network access with CNI 0.8"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

No network access in container

**Steps to reproduce the issue:**

1. `sudo podman run -it alpine wget http://192.30.253.112/containers/libpod`

(ip address of github, since using the domain immediately fails with `wget: bad address 'github.com'`, so DNS not so much here).

**Describe the res

[2019-06-01 03:43] mheon commented on #3247
Hm. It looks like CNI is coming up properly... IPTables rules definitely being added. Nothing seems obviously wrong...

Could be a missing sysctl. `net.ipv4.ip_forward` not being set maybe?

[2019-06-01 12:03] rpjday commented on #2815
The only nitpick I would have with the above is, instead of
**-h,--help**
I would avoid bolding the comma, as in:
**-h**,**--help**
as any punctuation like that is not formally part of the option string.

[2019-06-01 13:26] juhp commented on #3219
I don't think I can reproduce anymore with podman-1.3.2-1559353158.git2068919e.fc30 (from baude's copr) (and toolbox-0.0.10).

[2019-06-01 13:49] pzl commented on #3247
looks to be set:

[code]

thanks for taking a look

[2019-06-01 15:09] mheon commented on #3247
There are a few more we need - I'll try and find the exact list on Monday.

Also, let me tag in a CNI expert - @mccv1r0 - mind taking a look here?

[2019-06-01 15:37] baude commented on #3247
also havent we had issues with cni 0.8.x @mheon

[2019-06-01 17:29] pzl commented on #3247
Oooh, thanks for the hint. Downgraded to cni to 0.7.5, and that did fix things:

[code]

and no problem with dns:

[code]

So there does seem to be a problem with cni 0.8. Happy to help find any other logs or track down what's going on there.

Thank you for that tip off though.

[2019-06-02 04:35] rhatdan commented on #3245
I believe we are hung up on CNI support?

[2019-06-02 15:44] mccv1r0 commented on #3247
Can your CNI conflist be provided.  I can play wtih exactly what you are using while I setup for ```podman 1.3.2```

[2019-06-02 17:57] pzl commented on #3247
[code]

this is what's shipped with Arch linux's `podman`.

[code]

Looks to be the only thing in there

[2019-06-02 22:19] neVERberleRfellerER commented on #3247
Maybe something to narrow search:
I am also on Arch, with only difference being that I use vfs driver instead of overlay and I run my container rootless and I use nftables instead of iptables. No problems with network here:
[code]
packages for confirmation:
[code]
info:
[code]
and `/etc/cni/*`is the same as in previous post.

[2019-06-03 07:08] fatherlinux commented on #713
@mtrmac @vbatts @rhatdan this would also be useful to verify images in the Red Hat registry. For example, the other day, somebody told me there is no UBI for ARM. It's hard to verify if the right multi-arch images were pushed without this sub-command in podman. Also, it could be useful for pushing other artifacts into the registry, per our recent discussions.

[2019-06-03 07:08] fatherlinux commented on #713
https://medium.com/@mauridb/docker-multi-architecture-images-365a44c26be6

[2019-06-03 10:00] 00willo commented on #3010
Sorry for not replying earlier @rhatdan, I got a little snowed under. Yep, I'll check with the latest updates and file with fedora if required. As fc30 is out now too, I'll see if it's an issue on that version too.

[2019-06-03 12:10] junaruga commented on #2877
Thanks, libpod team.
I conformed this issue was fixed on the podman latest version on Fedora 30!

[code]

[2019-06-03 14:24] mheon commented on #3247
Ah, you're not using CNI if you're running rootless - we use `slirp4netns` to manage rootless networking.

[2019-06-03 15:20] jamescassell commented on #2918
Probably the most appealing reasons to have this are:
1. to avoid setting the `container_manage_cgroup` seboolean.
2. to avoid multiple processes in the container
3. to avoid writing custom entrypoint.sh for each service

It would be cool to have systemd be able to serialize the config for a single `.service` into something akin to an entrypoint.sh that's run by catatonit for signal handling, but

[2019-06-03 16:20] krashekspres commented on #3024
This was fixed for me with the last TW update.
Thanks.

[2019-06-03 17:09] baude commented on #3209
how would you expect the output? right now, for a container, we simply print the output to stdout. that works fine for a single container.  whats being proposed is multiple files.  thoughts?

[2019-06-03 21:35] mccv1r0 commented on #3247
Fixed by [CNI Pull 325](https://github.com/containernetworking/plugins/pull/325)

[2019-06-03 23:03] kkimdev opened #3255 "podman pull nginx@sha256:57a226fb6ab6823027c0704a9346a890ffb0cacde06bc19bbc234c8720673555 fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman pull nginx` succeeds but the following podman pull fails.

**Steps to reproduce the issue:**

1. `podman pull  nginx@sha256:57a226fb6ab6823027c0704a9346a890ffb0cacde06bc19bbc234c8720673555`

**Describe the results you received:**
[code]

**Describe the results you expected:**
The foll

[2019-06-03 23:07] mheon commented on #3255
@mtrmac PTAL - seems like this is coming out of c/image?

WSL may be involved here, but not certain how. @kkimdev are you on the new version of WSL, that uses a VM as opposed to emulating syscalls? I don't know if we can expect proper behavior on the older versions of WSL.

[2019-06-03 23:08] llchan commented on #3220
I just got the green light on this, so I can send up a PR.  Thanks for asking first though!

[2019-06-03 23:09] kkimdev commented on #3255
@mheon btw, do you mind quickly testing the above pull command?  I'm not sure if it's WSL specific or not, since I can do `podman pull nginx` just fine.

[2019-06-03 23:12] mheon commented on #3255
`* Digest of source image's manifest would not match destination reference`

Same error, 1.2.0 in Fedora packaged Podman

[2019-06-04 00:15] kkimdev commented on #3255
upstream issue: https://github.com/cri-o/cri-o/issues/2157

[2019-06-04 06:23] apollo13 commented on #3209
Well the pod service file would probably have no output and the individual container service files would have the same setup as now output wise.

[2019-06-04 07:10] saschagrunert commented on #3211
Hey there, do you think we can create a new release which contains the CVE fix? :innocent:

[2019-06-04 07:56] #3024 closed

[2019-06-04 09:30] dinamic commented on #1843
Guys, this is some awesome work here!

I was able to have podman cli installed via homebrew. I guess I could run the server part locally as well. What is the recommended way of running it all on macOS?

[2019-06-04 11:59] mtrmac commented on #3255
Yeah, https://github.com/cri-o/cri-o/issues/2157#issuecomment-475423356 . I don’t quite know how to deal with this well. I suppose doing what Docker does, and recording the digests but not verifying them at any point, is the best we can realistically do, but by now it’s likely enough to break someone.

[2019-06-04 12:55] mheon commented on #3211
Waiting for the additional upstream changes to chrootarchive, then we can
cut a release once those land in c/storage and get vendored here

On Tue, Jun 4, 2019, 03:11 Sascha Grunert <notifications@github.com> wrote:

[2019-06-04 16:03] yann-soubeyrand commented on #3110
Hi,

Here is a minimal Dockerfile with instructions to reproduce the bug:
[code]

`podman build --no-cache -t test .`
[code]

`podman run -ti test /bin/ls /dir1/dir2`
[code]

`podman build -t test .`
[code]

[2019-06-04 16:23] mheon commented on #3110
Thanks - that should help a lot!

[2019-06-04 16:38] jwhonce commented on #1843
@dinamic We're researching the MacOS Hypervisor to run the podman service.  Currently we run the podman service on a Linux instance either VM or hardware.

[2019-06-04 16:40] mheon commented on #1843
As an example of that - https://github.com/boot2podman/boot2podman

[2019-06-04 18:14] panzerdev commented on #2968
@giuseppe
[code]
That's the result

@mheon
[code]

That's the result of `podman info` after I tried call `exec`.

Before:
[code]

[2019-06-04 19:12] amshinde opened #3262 "Add CI to test podman with Kata-Containers"
As discussed in the last crio meeting. It will be useful to have a CI job to test podman with Kata-Containers, similar to what we have in crio today. This will help validate Kata with the latest podman release.

cc @chavafg

[2019-06-04 19:40] baude commented on #3262
as a pre-req, can you guys produce a how-to kata and podman to make this something that we can try and understand?

and then, as for the ci, are you talking about your CI or ours?

if the latter, we'd love to evaluate any PRs you want to submit.

[2019-06-04 20:39] kallisti5 opened #3264 "podman should support native secrets"
docker has the 'secret' command to manage local secrets, podman should offer the same.

  * Selectively exposing secrets to the container in question
    * "username=ewrwer32"

Ideally, given kubernetes popularity, podman should offer some/all of the same "in-container" expose options k8s can.

* Environment Variable
* Mount point

**Reference:**
* https://kubernetes.io/docs/concepts/configuration

[2019-06-04 20:47] mheon commented on #3264
From what I've seen, Docker secrets are mostly intended for use with Swarm, but I don't see much reason we can't use them with `podman run`. We'd need four commands for parity (`secret create`, `secret ls`, `secret inspect`, `secret rm`) plus a flag for `podman create` and `podman run` to add them.

[2019-06-04 21:22] kallisti5 commented on #3264
It makes sense for "small single-node deployments"  I mean, once you're up to things like k8s, you can graduate to their secret storage.  This is nice because it (hopefully) avoids the "having clear text passwords on disk"

[2019-06-05 13:28] fpytloun opened #3266 "Error: failed to prune image: layer not known"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman system prune -a -f --volumes` on some nodes returns `Error: failed to prune image: layer not known` without any further explanation

[code]

**Steps to reproduce the issue:**

Unfortunately I don't know why this happens only on some nodes. We are using them as gitlab runners u

[2019-06-05 14:34] ashcrow opened #3267 "Latest podman on F30 Silverblue errors on iptables"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After upgrading to `podman-1.3.1-1.git7210727.fc30.x86_64` and `containernetworking-plugins-0.7.4-2.fc30.x86_64` in Fedora 30 (Silverblue) `podman` no longer works as expected.

**Steps to reproduce the issue:**

1. Create and run a container. EG: `sudo podman run --rm -ti registry.fedoraproj

[2019-06-05 14:35] mheon commented on #3267
@mccv1r0 Mind taking a look? I think this is CNI, not Podman's IPTables code

[2019-06-05 14:51] mccv1r0 commented on #3267
Ack.  Quick test... I can't reproduce on fedora 30 server using same versions.

@ashcrow : Is firewalld running?

[2019-06-05 14:56] ashcrow commented on #3267
@mccv1r0 it is not. It failed to parse it's `libvirt.xml` file from `libvirt-daemon-driver-network-5.1.0-6.fc30.x86_64`

[2019-06-05 15:04] mccv1r0 commented on #3267
@ashcrow So ```firewalld``` is meant to be used?  Or is the intent to not use ```firewalld``` at all?

I ask because I'm trying to get to the bottom of what ```iptables v1.8.2 (legacy):``` means given I can't reproduce on fedora 30 server.  In my case, firewalld was masked to look at a different issue.

[2019-06-05 15:10] ashcrow commented on #3267
@mccv1r0 I think it is meant to be running, but it is not. Looking at the packages for `iptables` I see:

[code]

It looks like the switch over to `nftables` is available already as well (maybe why `iptables` is legacy?)
[code]

When I brought this up earlier in a chat session @vrutkovs noted that he had to downgrade to an earlier version to get `podman` working on F30 Silverblue again.

[2019-06-05 15:15] vrutkovs commented on #3267
I was hitting https://github.com/containers/libpod/issues/3187#issue-447343045, downgrade to podman 1.2 worked. Not sure if its related to this issue

[2019-06-05 18:02] ashcrow commented on #3267
FWIW I am able to run the commands `podman` is trying to run manually without issue.

[2019-06-05 21:13] #3220 closed

[2019-06-06 00:03] zerodayz commented on #3267
I have noticed that the userdata folder within the overlay container storage:
[code]

Was created with permissions
[code]

But mine user ID was 1000 not 100000 so I have changed the perms and now I can connect to the container with

[code]

[2019-06-06 04:13] rhatdan commented on #3264
@kallisti5 Would you be interested in opening PRs to do this work?  We would welcome it.

[2019-06-06 04:45] rhatdan commented on #3266
@QiWang19 Can you look into this?

[2019-06-06 06:52] giuseppe commented on #2968
could you please attach the output of `podman --log-level=debug info --debug`?

[2019-06-06 08:05] ismail opened #3269 "podman pull sagemathinc/cocalc results in an infinite extraction of files"
How to reproduce (I already downloaded the layers so ignore the "already exists"):

havana ~ > podman pull sagemathinc/cocalc
Trying to pull docker.io/sagemathinc/cocalc...Getting image source signatures
Copying blob b8af9ea7344d skipped: already exists
Copying blob 0330ca45a200 skipped: already exists
Copying blob 471db38bcfbf skipped: already exists
Copying blob 0b4aba487617 skipped: already exi

[2019-06-06 09:50] michielhemme opened #3270 "RHEL EXTRA's updated podman, port mapping isn't working"
/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install RHEL 7.6, register, enable rhel-7-server-beta-rpms, rhel-7-server-extra-rpms, Execute a yum update and after install Podman. Enable user-namespaces, create a test user and add it to /etc/subid(subgid).

2. Fix first error ERRO[0000] container failed: cannot specify gid= mount options for unmapped gid in rootless containers:

[2019-06-06 09:50] panzerdev commented on #2968
Of course @giuseppe

[code]

[2019-06-06 10:43] giuseppe commented on #2968
thanks.

Something strange is happening here, I see "Not configuring container store"

it seems it is trying to use `info` without re-execing in the user namespace.  That should never happen with `info`

[2019-06-06 12:12] rhatdan commented on #3269
Most likely issue here is you are using vfs rather then fuse-overlayfs.

yum install fuse-overlayfs
rm -rf ~/.local/share/container ~/.config/containers

And try
podman info

Does it show overlay driver?  If yes, try your experiment again.

[2019-06-06 12:21] ismail commented on #3269
[code]

fuse-overlayfs doesn't seem to be available in openSUSE. But, even with vfs this can't be the expected behaviour.

[2019-06-06 12:34] giuseppe commented on #2986
can you try with podman from master?  It should work fine without setting any env variable (just be sure it is not set to something we cannot write to).

Once the batch mode terminated, be sure to cleanup everything with:

[code]

we might need to add a command that simplies this task

[2019-06-06 13:05] mheon commented on #3269
Depending on how big the originals are, it's possible that this is intended
behavior - it's potentially not infinite extraction, just one copy of each
layer for each running container with the image (plus one for the image
itself). VFS does not support storage deduplication, so any running
containers will cause a full copy of the extracted contents of the image.

That image has a lot of layers, by

[2019-06-06 13:34] giuseppe commented on #2968
I see the issue, I've opened a PR here: https://github.com/containers/libpod/pull/3271

[2019-06-06 14:52] haircommander commented on #3148
There's an upstream fix proposed for runc here: https://github.com/opencontainers/runc/pull/2062

[2019-06-06 15:46] ignatenkobrain opened #3273 "podman is broken on rawhide (option parsing failed: Unknown option -n)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

⋊> ~/P/f/r/python-pygit2 on master ⨯ podman run -it --rm fedora:rawhide bash                                                                                                17:44:38
option parsing failed: Unknown option -n
                                        Error: exit status 1

**Output

[2019-06-06 15:50] haircommander commented on #3273
@lsm5 how is conmon packaged with rawhide? it seems it is a pretty old version

[2019-06-06 15:50] haircommander commented on #3273
@ignatenkobrain you can fix it by downloading and building https://github.com/containers/conmon/releases/tag/v0.2.0 and then linking it to /usr/libexec/podman/conmon

[2019-06-06 16:55] dustymabe opened #3274 "containers/storage.conf now needs `runroot` options specified"
/kind bug

**Description**

podman now requires me to set `runroot =` in my `~/.config/containers/storage.conf`

**Steps to reproduce the issue:**

1. configure your system with `~/.config/containers/storage.conf` like:

[code]

note this used to work (i.e. it works today on another system with  `podman-1.2.0-2.git3bd528e.fc29.x86_64`)

2. upgrade to newer podman

3. try to run root podman contain

[2019-06-06 17:42] edsantiago commented on #3273
I was looking at this yesterday. The podman rawhide builds are all just built by a bot, and still have an October-2018 version of conmon.

[2019-06-06 18:03] mrunalp commented on #3148
Yeah the runc PR should probably help. Could you test with that change and see if it helps?

[2019-06-06 20:02] mheon commented on #3232
Fix landed for the PPA, so closing

[2019-06-06 20:02] #3232 closed

[2019-06-06 22:06] fatherlinux commented on #2303
@baude bumping this a hair, and jumping back to one of your original questions. In my mind, the output yaml would include a PVC for /mnt. Then, it would let Kubernetes handle satisfying that need at runtime. Make sense? For example, if I typed:

podman run -dt -v /mnt/fred:/mnt/data quay.io/fatherlinux/two-pizza

podman generate kube -l (for shorthand)

I would expect it to add the following to th

[2019-06-07 02:36] meastman commented on #3243
I ran into the same issue (same error also using docker desktop on mac), and here are some of the hopefully relevant details:

[code]

It appears as though the `metacopy=on` mount option for overlayfs was [added in linux 4.19](https://github.com/torvalds/linux/commit/d5791044d2e5749ef4de84161cec5532e2111540), and buildah uses by default even though buildah [supposedly only requires linux 4.0](http

[2019-06-07 03:13] meastman commented on #3243
[code]

[2019-06-07 09:21] Gigadoc2 commented on #3245
I am not sure about that, CNI claims they do support ipv6 and dual-stack, at least for some of their plugins.
For example, the host-local plugin: https://github.com/containernetworking/plugins/tree/master/plugins/ipam/host-local

For that plugin in particular (which is probably a good test case and a real-life usage scenario for single dual-stack hosts), you can pass an arbitrary number of IPs whi

[2019-06-07 11:29] rhatdan commented on #3269
@saschagrunert @vrothberg PTAL
Any idea why fuse-overlayfs is not built for OpenSUSE?  @ismail One thing I would recommend trying if you want to use VFS is to setup xfs reflink on the homedir.

If this is not easy for you to do after the fact, you could try to allocate a ton of space and mount it as an XFS Driver on your homedir.  Here is what I have experimented with.

[code]

[2019-06-07 11:31] ismail commented on #3269
I submitted fuse-overlay to openSUSE Tumbleweed, so this bug can be closed as invalid I guess :) Thanks a lot for your help.

[2019-06-07 11:42] rhatdan commented on #3273
@lsm5 Rebuilt using the latest version of conmon, should be fixed in rawhide today.  BTW, this should have been reported as a bugzilla...

[2019-06-07 11:42] #3273 closed

[2019-06-07 11:56] saschagrunert commented on #3269
So this seems solved to me. I will update the openSUSE podman package to depend on fuse-overlayfs.

[2019-06-07 12:42] rhatdan commented on #3243
metacopy-up should be supported on newer kernels,  Were you attempting to run this on an older kernel?

[2019-06-07 12:46] meastman commented on #3243
As indicated above, apparently the docker on mac vm uses a 4.9.125, and metacopy-up was added in 4.19.

[2019-06-07 13:39] #2968 closed

[2019-06-07 14:41] nertpinx opened #3277 "DNS does not work in containers if host uses local server"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Be in a network that prohibits external DNS queries, disable external DNS communication or just use some only-locally available hostname in step 3.

2. Setup local DNS server/forwarder (e.g. `systemd-resolved`) so that the local address is in /etc/resolv.

[2019-06-07 14:42] nertpinx commented on #3277
@giuseppe This is the issue we were talking about, I hope it has all the information that is related, feel free to ask for any additional info, I will gladly provide it.

[2019-06-07 15:12] rhatdan commented on #3269
Make it a recommends not a requires.  Since podman does not need it to run as root.

Thanks @saschagrunert and @ismail

[2019-06-07 15:12] #3269 closed

[2019-06-07 15:15] mheon commented on #3277
For root containers, if you have `127.0.0.1` in resolv.conf, we remove it (and add default nameservers if there are none remaining). We can't expect to be able to connect to a DNS server running on the host's localhost address; it might not be listening on the bridge we created (this last bit isn't really relevant for rootless containers, so it could be safe there?).

[2019-06-07 16:26] baude commented on #3270
please file a bugzilla and close this

[2019-06-07 16:27] mheon commented on #3270
We make absolutely no promise that rootless Podman is working on RHEL7 right now. It will be working and supported with native packages as of 7.7, so I suggest you wait for that release

[2019-06-07 17:27] cgwalters commented on #3274
I don't understand at all why podman is auto-creating the config file; I think that's an anti-pattern.  Don't require users to edit it if they didn't change any options, etc.

[2019-06-07 19:21] mheon commented on #1618
I'm going to close this given #2272 is merged

[2019-06-07 19:21] #1618 closed

[2019-06-07 19:45] Fodoj commented on #3157
Any update on this? Seems like play kube is unusable in 1.3.1

[2019-06-07 19:50] mheon commented on #3157
I think this is fixed upstream, and will be in 1.4.0 (which I'm releasing as we speak - https://github.com/containers/libpod/pull/3280

[2019-06-07 20:33] #3270 closed

[2019-06-07 21:38] baude commented on #3266
also does this fail on master?

[2019-06-08 07:45] Fodoj commented on #3157
@mheon I tried with current master branch and it still doesn't work. New error is `Error: error running container create option: log driver must be set: invalid argument`

[2019-06-08 12:26] haircommander commented on #3157
hey @Fodoj can you PTAL at https://github.com/containers/libpod/pull/3283 and let me know if it fixes your play kube woes?

[2019-06-08 13:47] rhatdan commented on #2303
WDYT @haircommander ^^

[2019-06-08 13:57] rhatdan commented on #3274
I am wondering this my self.  At least fields like runroot should not be preset.  Once a container is created the the location of the storage is difficult to change.  But the runroot should be flexible.

@mheon @giuseppe WDYT?

[2019-06-08 14:03] mheon commented on #3157
We need to improve testing here - we're breaking master repeatedly and not
catching it.

On Sat, Jun 8, 2019, 08:27 Peter Hunt <notifications@github.com> wrote:

[2019-06-08 14:52] Fodoj commented on #3157
Re testing: I can only agree whole play kube feature needs to be better tested. I have different bugs in 1.3.1, 1.3.2 and now 1.4.0 versions, feels like there are no tests for this feature at all!

@haircommander don't have time to test it right now, I rolled back to 1.3.0, otherwise development of my app was blocked.

[2019-06-08 16:13] haircommander commented on #2303
@fatherlinux default originate from somewhere or is it just a chosen value? Seems a bit steep for a default, unless it's well defined for k8s PVC

[2019-06-08 19:11] rhatdan commented on #3111
@weirdwiz Any progress on this?

[2019-06-08 19:12] rhatdan commented on #3050
@wirobert Please show us your results?

[2019-06-08 19:13] rhatdan commented on #3022
SGTM

[2019-06-08 19:13] #3022 closed

[2019-06-08 19:14] rhatdan commented on #2918
@jamescassell Any chance you could open a PR to show your idea?

[2019-06-08 19:15] rhatdan commented on #2837
Well if it is expected I will close the issue.

[2019-06-08 19:15] #2837 closed

[2019-06-08 21:04] CameronNemo opened #3284 "FTBFS musl"
[code]

[2019-06-08 21:14] mheon commented on #3284
@giuseppe PTAL

[2019-06-08 21:50] haircommander opened #3286 "Unit tests for play kube"
/kind feature
??

We have broken play kube numerous times because we don't really test it.

considering it's a feature that is advertised and promoted, we should probably have tests to stop it from breaking

[2019-06-08 21:51] haircommander commented on #3286
@rhatdan I can't give this love right now, but it also seems like an accessible task for interns.

please close if I missed a discussion about how this isn't viable.

[2019-06-08 22:09] mheon commented on #3286
Ideal test flow is probably a test that makes a pod, does a `podman generate kube` of that pod, removes said pod, and imports again with `play kube`, verifying that the appropriate number of containers are created, names are preserved, etc.

[2019-06-09 00:19] kamalmarhubi commented on #3179
@giuseppe can you share the repro you used for `runc exec`? I'd like to file this against runc but struggled to get a container started because I'm not familiar with the tool.

[2019-06-09 06:18] #3284 closed

[2019-06-09 09:18] seriousme commented on #3151
The build stage works, but something seems to be off:
[code]
and similarly:
[code]

[2019-06-09 17:03] weirdwiz commented on #3111
There was a failure in podman play when I started working on this, after that I couldn't get a chance to work on this. I shall look into this again.

[2019-06-10 04:14] kkimdev opened #3288 "[Feature Request] podman Windows WSL support"
/kind feature

**Description**
Windows WSL support.  Note that WSL 2 is expected to be released in June 2019
 - https://devblogs.microsoft.com/commandline/announcing-wsl-2/
 - https://devblogs.microsoft.com/commandline/wsl-2-post-build-faq/

So probably worthwhile to wait first.

**Steps to reproduce the issue:**
1. Install podman on Windows WSL Ubuntu https://github.com/containers/libpod/blob/mas