[2022-10-25 20:56] edsantiago commented on #16294
Oh, and the other interesting thing: these are not "one test flakes and the rest pass", these are "once one test fails, all subsequent uidmap tests also fail". This suggests a problem on the system, not a problem with the particular podman invocation. Just like the two issues I linked above: once the system goes wonky, it will always stay wonky.

[2022-10-25 21:00] mheon commented on #14287
4.2 has been released for several months. We just cut 4.3 last week.

[2022-10-25 21:04] mtrmac commented on #16294
All the failures seem to be concentrated on a single image AFAICS, so the damage it might be localized to that image.

Is there some trick I can do to abort the tests on first failure, and to not clean up intermediate state if possible? At least https://github.com/sstephenson/bats/blob/master/man/bats.1.ronn does not show any option to stop immediately.

[2022-10-25 21:12] edsantiago commented on #16294
There is still no `--fail-fast` option in bats, but [this issue has a workaround](https://github.com/sstephenson/bats/issues/135#issuecomment-242366074). Not a great workaround, unfortunately: you will need to find a way to skip the teardown cleanup, too.

Another option is to instrument `die()`, changing `false` at the end to a `sleep-and-beep` loop (or just `sleep`, if you can check the window o

[2022-10-26 02:53] CCranney commented on #16262
Ah, sorry I misread your comment. I will look into re-installing Homebrew, though my initial attempts are not going well. I believe I've managed to get `docker` running appropriately for my current needs, so won't be working on this as directly as before, so will close this comment. If I come back to this and run into errors even after a new Homebrew installation I'll reopen the issue.

[2022-10-26 02:53] #16262 closed

[2022-10-26 07:12] vrothberg commented on #16282
There's probably another change needed.  Have a look at commit 4e29ce2baf1d287bc136776fa265cc5c10de3260 and connection-related changes. `ContainersConfDefaultsRO` are the default that _must_ be read only.  `ContainersConf` is where we can write values from the CLI to.

[2022-10-26 08:07] KEO-cls-eedi commented on #16217
We do. We now have:

[code]

installed via https://download.opensuse.org/repositories/devel:kubic:libcontainers:unstable/xUbuntu_22.04.

We have repeatedly triggered a lot of parallel builds and so far the issue has not come up again. We are going to stick to this setup for now and provide updates if anything goes wrong.

It would be ideal to find Podman 4 in the official Ubuntu repositories at so

[2022-10-26 08:08] KEO-RSP commented on #16217
We do. We now have:

[code]

installed via https://download.opensuse.org/repositories/devel:kubic:libcontainers:unstable/xUbuntu_22.04.

We have repeatedly triggered a lot of parallel builds and so far the issue has not come up again. We are going to stick to this setup for now and provide updates if anything goes wrong.

It would be ideal to find Podman 4 in the official Ubuntu repositories at so

[2022-10-26 08:14] vrothberg commented on #16217
Thanks for checking!

@siretart PTAL

[2022-10-26 10:19] alexlarsson commented on #16245
Ok, so what about this approach:

We add a new run option `--transient`, that marks a container as transient.  For any containers that are marked transient, we store the corresponding `overlay-containers`, `containers-layers` in runroot instead of root. In addition we add a separate bolt db in runroot (i.e. /run/containers/storage/libpod/bolt_state.db) where we store transient containers.

For vol

[2022-10-26 10:27] alexlarsson commented on #16245
Maybe this can even use the "volatile" key that we already have, although one main difference is that with this the actual upper overlayfs layers would be on the tmpfs.

Maybe we can split that too, and have the layers.json/containers.json in runroot, but the backing overlayfs storage on the regular root though?

[2022-10-26 10:29] vrothberg commented on #16245
@containers/podman-maintainers WDYT?

[2022-10-26 11:19] #16289 closed

[2022-10-26 11:23] edsantiago commented on #16294
I ran a loop last night in an f36 VM: podman built from sources, all tests `>=040-*` deleted, `helpers.bash` instrumented to infinite-loop on failure, and infinite `bats test/system/*.bats` loop. No failures, the VM died of its own accord (the 1minutetip reservation timeout). This suggests that the bug is somewhere in VM setup, not in something happening during an early podman test.

[2022-10-26 11:26] vrothberg opened #16300 "need doc updates on podman.io"
The docs on podman.io do not list Podman v4.2 and v4.3. (see https://docs.podman.io/en/latest/Reference.html).

[2022-10-26 11:31] Luap99 commented on #16245
I think this makes performance worse, having to check two databases will take more time. Sounds also like a horror to maintain how can we guarantee a consistent state when have two databases?

---
Getting back to your original question: Could you just use regular bind mounts -v /path:/path instead of named volumes? In this case there is no volume metadata.

[2022-10-26 11:48] vrothberg commented on #16245
IMO the volumes database belongs on `--volumepath`.  Otherwise, the flag does not seem to be all to useful.  At the very least, we should document the current behavior and state that changing `--volumepath` can lead to issues.

That really depends on the implementation.  It would only slow down if Podman would currently read all data at once but I am pretty sure we're doing subsequent reads.  Cach

[2022-10-26 11:50] alexlarsson commented on #16245
In actual measurements I've not really seen loading from the db as any noticeable cost. Whereas the writes (that this could avoid) are extremely costly. This is particularly true since the added database would be on tmpfs anyway.

There won't really be any conflicts. One db will contain all the "volatile" containers, and the other the rest. We always know at creation time where to save a container

[2022-10-26 12:08] faern opened #16301 "Setting sigstore to a normal path (without file://) causes a segmentation fault SIGSEGV"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If I configure the `sigstore` to be a path without `file://`, podman segfaults.

**Steps to reproduce the issue:**

1. Set up podman to read image signatures from a regular filesystem path. `~/.config/containers/registries.d/default.yaml`:
[code]

2. Pull any image: `podman pull alpine`

**De

[2022-10-26 12:19] Luap99 commented on #16245
Sorry I was referring to `In addition we add a separate bolt db in runroot (i.e. /run/containers/storage/libpod/bolt_state.db) where we store transient containers.`

I agree that it would make sense to have the volume data stored inside --volumepath.

---

Sure we know where to store it but it still needs to check that there are not containers with the given name or ID, we cannot have any collisio

[2022-10-26 12:32] vrothberg commented on #16301
Thanks for reaching out!

@mtrmac FYI

[2022-10-26 12:38] edsantiago commented on #15367
Another case where the first failure presents with "blah blah is mounted", then cascades from there into disaster:
[code]
[ubuntu 2204 root remote](https://api.cirrus-ci.com/v1/artifact/task/5336868848926720/html/sys-remote-ubuntu-2204-root-host.log.html#t--00361)

Can we please, please get some attention on this? It's a bad one, flaking at least once per day.

[2022-10-26 12:43] edsantiago commented on #12052
And again, in CI (not gating), [f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/5055393872216064/html/sys-remote-fedora-36-rootless-host.log.html#t--00213):
[code]

[2022-10-26 12:58] edsantiago commented on #16142
Reopening, sorry. Just saw this on #16275, which was based on 589ff20aa3dd68009af5fade3b2b5e1823d4227b, which is very recent and includes #16177. [f36-aarch64 remote root](https://api.cirrus-ci.com/v1/artifact/task/4511754091757568/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00346):
[code]

[2022-10-26 13:00] alexlarsson commented on #16245
That would lose the container state on a reboot though? That will not work for non `podman run --rm` containers.

[2022-10-26 13:03] edsantiago commented on #16132
Recent flakes, to remind everyone that this is still not fixed:

* fedora-36-aarch64 : sys remote fedora-36-aarch64 root host [remote]
  * PR #16275
    * [10-24 09:20](https://api.cirrus-ci.com/v1/artifact/task/5220955935997952/html/sys-remote-fedora-36-aarch64-root-host.log.html#t--00269)
  * PR #16273
    * [10-25 04:55](https://api.cirrus-ci.com/v1/artifact/task/5719412257849344/html/sys-remot

[2022-10-26 13:24] alexlarsson commented on #16245
Some container state is temporary, like obviously the part stored in runroot. But you definately can podman create foo, reboot, and still have a container named foo.

[2022-10-26 13:26] Luap99 commented on #16245
That is not in the container state, that in part of the container config, check the [ContainerState ](https://github.com/containers/podman/blob/717a8dfb477d20e6a88157fa0716efa998d46e04/libpod/container.go#L132)struct in libpod.

[2022-10-26 13:26] mtrmac commented on #16294
@edsantiago just to confirm, do you mean that it’s likely something in the non-Podman OS that has broken, and not the Podman codebase? Or is “VM setup” a part of Podman tests, i.e. that this failure is probably specific a specific _mode_ of running Podman tests, but still probably Podman-caused? Or is it currently unknown which one it is?

[2022-10-26 13:32] mtrmac commented on #16301
Oh, wow. `net/url.Parse` vs. `localVariableNamedURL.Parse`.

[2022-10-26 13:34] petarlishov opened #16304 "Podman in a Debian container on AWS Lambda fails on multiple commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman 3.0.1 installed though Debian's official repos onto a Debian Bullseye container running in AWS Lambda throws a `Error: no such file or directory` when running any command other than some simple ones like `podman --version` or `podman --help`

**Steps to reproduce the issue:**
1. Create

[2022-10-26 13:43] edsantiago commented on #16294
My thinking yesterday was, there is still a `--storage-opt` in the system tests, maybe that's what's breaking everything? https://github.com/containers/podman/blob/9062dede656933646079e4eabeecf3b8fc77ca63/test/system/005-info.bats#L98-L105

So, before setting up my overnight infinite loop, I infinite-looped something like
[code]
It ran for an hour with no breakage.

Oh, phooey, I screwed up. TL;DR

[2022-10-26 13:46] expers-vis opened #16305 "Mounting /run as a bind causes container to be unstartable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

Trying to mount **/run** directory results in container being created but starting it fails with message bellow.

This happens regardless of running the command with these options:
- running as root
- using `--privileged` option
- relabeling with **z/Z**
- disabling SELinux separation with `--security-opt lab

[2022-10-26 13:48] alexlarsson commented on #16245
Ok, I was not that specific with my reference to "state", I just meant state in general.

But, to be more precise, on my machine during a "podman run" these are the boltdb write ops I see:
BoltState.addContainer - 11.58 msec
BoltState.SaveContainer - 3.85 msec (saved before fully setup)
BoltState.SaveContainer - 3.27 msec (fully setup)
BoltState.SaveContainer - 3.12 msec (started)
BoltState.SaveCo

[2022-10-26 14:15] mtrmac commented on #16301
Thanks for reporting this! It will be fixed by https://github.com/containers/image/pull/1704.

[2022-10-26 14:55] niccantieni opened #16307 "SIGSEGV on podman machine start; no communication with socket"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman machine start`

**Describe the results you received:**
A SIGSEGV error

**Describe the results you expected:**
the default podman machine starts

**Additional information you deem important (e.g. issue happens only occasionally):**
Interestingly,

[2022-10-26 16:41] Luap99 commented on #16307
Looks like it still started successfully the VM. The stack trace must come from the server since they refer to lines which are not present in the client.

Can you `podman machine ssh` into the VM and check if podman there is working?

[2022-10-26 16:53] towry commented on #14087
I don't have $http_proxy var setting on my host zsh terminal but still got this issue.

[code]

After I ssh into the machine:

[code]

How is this happen, why the machine have `http_proxy` set by default ???

[2022-10-26 17:10] niccantieni commented on #16307
I logged into the machine with `podman machine ssh` and tried to do `podman version`, it did not work.

[code]

[2022-10-26 18:00] edsantiago commented on #16036
Seen right now, in one of my 1minutetip VMs (f36):
[code]
Sorry for the wall of text; it seems important since there's no linkable log.

Oh, and, this is important: my VM is `x86_64`, so this is no longer an aarch64-only bug.

[2022-10-26 18:16] Nemric opened #16310 "podman-remote-static v4.3.0 doesn't run on Linux x86_64 and looks to be built for aarch64"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running podman-remote-static on a Linux X86_64 Linux machine result in a `bash: ./podman-remote-static: cannot execute binary file: Exec format error`

[code]

**Steps to reproduce the issue:**

1. `curl -LO https://github.com/containers/podman/releases/latest/download/podman-remote-static.ta

[2022-10-26 18:39] giuseppe commented on #16245
I agree, I think this is what we should do and move away the volume data from the main bolt db.  We that in place we have the freedom of moving the volume data to persistent storage and the rest is under the graphroot

[2022-10-26 19:19] #16217 closed

[2022-10-26 19:20] rhatdan commented on #16217
This is not a Upstream issue, conversation can continue here.

[2022-10-26 19:41] #16301 closed

[2022-10-26 20:35] willb7708 opened #16312 "Checkpointing fails when run from container in minikube cluster"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman checkpoint fails when run from a container in a minikube cluster using crio as the container runtime. I am trying to checkpoint/restore containers that are running in a k8s cluster. To do this, I deploy a container that contains podman (podman added to the ubi8 base image) to the clust

[2022-10-26 21:27] akdev1l commented on #16107
This is fixed in F37

[code]

[2022-10-26 22:27] jakecorrenti commented on #13729
@mheon if you're not too far along with this I wouldn't mind taking a stab at it

[2022-10-27 01:36] mheon commented on #16245
I missed a lot here, so catching up:

`--volumepath` is *not* a regular-use flag. It's intended to be used similar to flags like `--runroot` and `--tmpdir` - set it once, the first time you start up Podman, and it's cached in the DB forever after. We cannot separate the voume DB from the container DB without consistency issues, either - what happens if a container references a volume that isn't in

[2022-10-27 01:41] mheon commented on #16245
I suppose we could also consider a volume driver (not the plugin kind, something like the image driver I implemented recently) that would source a volume from a given path. A recreate on reboot would still be required, but we could easily persist metadata alongside the volume (store a text file alongside the volume directory with relevant metadata). Something like:

`podman volume create --driver

[2022-10-27 01:42] mheon commented on #13729
@jakecorrenti Feel free to take a stab at it!

[2022-10-27 02:52] cdoern commented on #16282
I think the issue is config.Default is returning the wrong active service and that is then used in `NewContainerEngine` and `NewConnection`... I am going to look into how to remedy this.

[2022-10-27 02:58] mheon commented on #16307
Not exactly this, but something vaguely similar (SIGBUS instead of SIGSEGV). We pulled the database, and it was clearly corrupted. Solution was to wipe and start from scratch.

This is now the third instance of Bolt corruption I've heard of in the last year. I'm beginning to become very interested in what's going on.

[2022-10-27 07:39] tmds commented on #15300
I'm running into this issue.

I have a `Containerfile1`.
[code]
I can `build` and `run` it.

I have another `Containerfile2`, which pulls a specific architecture.
[code]
I can `build` this image, but not `run` it (my system is `arm64`).

If I don't have the `busybox` image on my system, and build `Containerfile2` first. Then the build of `Containerfile1` will no longer work on my system because it

[2022-10-27 08:30] vrothberg commented on #16142
Monsieur, I _love_ your reports and bookkeeping.  Some flakes are more stubborn than others.  The error message strongly suggests another fart/race in the kill code.  I will take a look today.

[2022-10-27 08:41] dnv opened #16316 "Attempting to mount volume on nfsv4 expects nfsv3 things and fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman volume create --opt type=nfs --opt o=rw --opt device=my.nfs.host:/nfs-fast/podman-storage ssdvoltest

2. podman volume inspect ssdvoltest
[
     {
          "Name": "ssdvoltest",
          "Driver": "local",
          "Mountpoint": "/home/ladm-dnau

[2022-10-27 08:58] alexlarsson commented on #16245
Ok, so it seems we are relying on using a single bolt db to get transactional behaviour. For example that you can't remove a volume that is being used, or that when deleting a container that it is removed from the volumes it uses. That implies that we can't really split up the bolt database, and the only realistic alternative is to have a completely transient bolt-db (i.e. on tmpfs). For example,

[2022-10-27 09:12] andrin55 opened #16317 "json-file log-driver not producing valid json"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using "--log-driver=json-file" does not produce valid json output.

**Steps to reproduce the issue:**

1. Run a container with "--log-driver=json-file"

2. Check log output (default path: /var/lib/containers/storage/overlay-containers/ID/userdata/ctr.log)

**Describe the results you received:

[2022-10-27 10:08] dnv opened #16319 "Multiple volume_path options under a single user context"
/kind feature

**Description**

There needs to be a way to specify multiple volume_path options under a single user context.

**Steps to reproduce the issue:**

1. Attach multiple classes of storage (single HDD, RAID10 HDD array, NVME SSD mirror) to Podman host

**Describe the results you received:**

Can point volume_path only towards a single path option at a time.

**Describe the results you ex

[2022-10-27 10:49] rhatdan commented on #16245
Where is the layer store stored for a --rm container in your stategy?  If it is on a tmpfs then I could run out of space rather quickly unless the container is --read-only?

[2022-10-27 10:50] rhatdan commented on #16245
It might be worth scheduling a meeting to fully discuss this.

[2022-10-27 10:57] Luap99 commented on #16317
json-file is not implemented in podman or conmon rather which does the logging, it is an alias to k8s-file.
It is documented in the man page: https://docs.podman.io/en/latest/markdown/podman-create.1.html#log-driver-driver

[2022-10-27 10:58] alexlarsson commented on #16245
I think the layer store could be persistent, but perhaps not mixed with the persistent ones. So, maybe `/var/lib/containers/storage/overlay-containers/` and `/var/lib/containers/storage/overlay-containers-volatile`, where the later is cleaned on boot.

[2022-10-27 10:59] Luap99 commented on #16319
Can you just use regular bind mounts instead, `-v /path/on/host:/path/in/container`?

[2022-10-27 11:01] Luap99 commented on #16316
Do you run this rootless? I don't think the kernel allows rootless users to mount nfs.

[2022-10-27 11:03] Luap99 commented on #16310
@mheon PTAL

[2022-10-27 11:05] dnv commented on #16319
Yes, bind mounts work, but bind mounts are not volumes.

[2022-10-27 11:05] vrothberg commented on #15272
@edsantiago a lot of performance improvements went in recently.  Aren't we spinning up a new `system service` for each test?  If so, I am pretty sure that the shutdown improvements add up.

[2022-10-27 11:06] Luap99 commented on #16304
Please try the latest podman versions (v4.3 or v4.2 at least), we cannot support such old versions upstream.

[2022-10-27 11:06] dnv commented on #16316
Yes, this is rootless. In a regular "nfs in fstab" situation, it's entirely possible to use the "user" option to allow unpriviledged users to mount an NFS share.

[2022-10-27 11:07] alexlarsson commented on #16245
Basically you would have something like:

Persistent containers (like now):
* /var/lib/containers/storage/overlay-containers/containers.json - list of all persistent containers
* /var/lib/containers/storage/overlay-containers/$ID/ - persistent data
* /run/containers/storage/overlay-containers/$ID/ - transient data

Volatile containers:
* /run/containers/storage/overlay-containers-volatile/containe

[2022-10-27 11:07] alexlarsson commented on #16245
We have the auto meeting later today.

[2022-10-27 11:10] Luap99 commented on #16319
Depends on what you are doing, `podman volume create`  without specific mount options will result in a normal bind mount under the volume path.

[2022-10-27 11:11] Luap99 commented on #16316
That is because the `mount` command is setuid and therefore runs as root, podman is not setuid and just uses the mount syscall.

[2022-10-27 11:26] rhatdan commented on #16316
Could we fall back to exec of mount command?

[2022-10-27 11:26] andrin55 commented on #16317
Are there any plans to implement it? Having a log file is better for compatibility than not having one, when selecting json-file. But it is also incompatible with software which expects valid json when selecting it.

[2022-10-27 11:41] Luap99 commented on #16316
I don't think so, AFAIK it is impossible to run the suid binary as real root from the rootless user namesapce.
@giuseppe Do you know if this is possible?

[2022-10-27 11:43] mheon commented on #16316
We do not use the Mount syscall, we use the Mount command.

Can you try using type=nfs4 instead of just nfs?

On Thu, Oct 27, 2022 at 07:26 Daniel J Walsh ***@***.***>
wrote:

[2022-10-27 11:43] rhatdan commented on #15848
@Luap99 @mheon @flouthoc Is this a packaging issue or a real bug?  Can we close this issue?

[2022-10-27 11:51] dnv commented on #16316
Error: error mounting volume ssdvoltest for container 1944dd9b81c0407748cceaf8a74953923fbd77a1bd82fae79ac2c8654e7f7599: mount.nfs4: Operation not permitted

Manually mounting the NFS share as the very same unpriviledged user works fine.

[2022-10-27 11:56] vrothberg commented on #16142
https://github.com/containers/podman/pull/16320 should fix the issue.  It's slightly different but effectively a similar scenario as before.  When sending signals to the container, Podman releases the lock to prevent `podman stop` from blocking any other command trying to do something with the container. In the last failure above, the container exited so the container wasn't running anymore.

[2022-10-27 11:58] edsantiago commented on #16142
That was quick! Thank you!

[2022-10-27 12:09] vrothberg commented on #16036
This one looks interesting, I'll take a look.

[2022-10-27 12:21] mheon commented on #15848
Seemingly a packaging issue, yes. Make sure aardvark-dns is installed, and DNS should work. If there is a similar bug where aardvark *is* installed, please open a fresh issue.

[2022-10-27 12:21] #15848 closed

[2022-10-27 12:27] mheon commented on #16316
What's the mount command you are using to mount the volume?

Under the hood, when Podman mounts a volume, we are basically doing the following:

`mount -t <type> -o <o> <device> <Podman-managed mountpoint>`

Where `type` is from `--opt type=`, `o` is from `--opt o=`, and `device` is from `--opt device=`. So if you had a command like:

`mount -t nfs4 -o ro,async my.nfs.server:/srv/nfs/Music /mount`

[2022-10-27 12:32] edsantiago commented on #15272
Good thinking... but that's not it. `cirrus-pr-timing` is almost instantaneous, so I decided to just bisect down the git history. And the evidence suggests that the winner is #15826 which brought in new VM images:

| type | distro              | user     |    local |   remote | container |
| ---- | --------            | ----     |    ----: |   -----: | --------: |
| int  | fedora-36           | ro

[2022-10-27 12:41] Luap99 commented on #16316
Even if we use the command https://github.com/containers/podman/issues/16316#issuecomment-1293400911 is still valid, mount needs suid for such  it and the real uid 0 is not mapped.
Try mounting inside the namespace with `podman unshare`.

[2022-10-27 12:44] dnv commented on #16316
[ladm-dnaumov@sigma ~]$ cat /etc/fstab | grep nfs

lingen.systems.dance:/nfs-fast/podman-storage /mnt/nfs-podman-fast nfs4    user,_netdev                                    0     0
lingen.systems.dance:/nfs-slow/podman-storage /mnt/nfs-podman-slow nfs4    user,_netdev                                    0     0

[ladm-dnaumov@sigma ~]$ whoami
ladm-dnaumov

[ladm-dnaumov@sigma ~]$ mount /mnt/nfs-po

[2022-10-27 12:55] dnv commented on #16316
[ladm-dnaumov@sigma ~]$ podman unshare

[root@sigma ~]$ podman run -it -d -v ssdvoltest:/mnt/myfolder busybox
Error: error mounting volume ssdvoltest for container 9199ba8ef2e580df9c3ff7cf50b629c4bed0034e5f99e231d5ceea78321b41c1: mount.nfs4: Operation not permitted

[2022-10-27 12:58] Luap99 commented on #16317
I am not ware of any plans. @containers/podman-maintainers PTAL

[2022-10-27 12:59] rhatdan commented on #15686
@vrothberg @Luap99 @alexlarsson @goochjj What should we do with this issue?

[2022-10-27 13:03] vrothberg commented on #15686
Leave it open.  Many things are not yet addressed.

[2022-10-27 13:05] petarlishov commented on #16304
Do I then have to manually build podman for Debian?

[2022-10-27 13:09] rhatdan commented on #15111
@mheon What is going on here?

[2022-10-27 13:10] Luap99 commented on #16304
https://podman.io/getting-started/installation look under the debian section, there is a experimental repo.

[2022-10-27 13:36] mheon commented on #15111
No time to work on it. Waiting for a bug week. If anyone else wants this in the meantime, they can take it.

[2022-10-27 14:22] mheon commented on #16310
This seems like the inverse of the issue we had a while back, where OS X binaries were coming out as Linux? I'll take a look, but it's probably another makefile problem

[2022-10-27 14:35] mheon commented on #8743
The 3.x releases are out of support at this point, so there will be no further bugfixes made there

[2022-10-27 14:36] dnv commented on #16316
So am I getting it right that the ONLY way to use rootless Podman with NFS4 for volume storage is to set the volume_path to a destination that is an already mounted NFS share?

The main reason this is problematic is that a user may have access to very different tiers of storage, both local and remote. As can be deduced from my examples here, I have an NFS share backed by SSDs as well as a share ba

[2022-10-27 14:49] TomSweeneyRedHat commented on #15307
As this has had no activity for the past 30 days, and the fact that we cannot easily change CNI, and there's a path that works with Netavark, I'm closing this issue.

[2022-10-27 14:49] #15307 closed

[2022-10-27 15:05] alexlarsson commented on #16245
So, from the discussion in the meeting today, I think the proposal can be simplified a bit:

Add a new global storage.conf option, that makes all containers transient. In this mode we store the whole bolt db as well as containers.json and the container-related layers in layers.json in runroot (i.e. on tmpfs). We then mention in the volume create docs that it will pick up pre-existing volume direct

[2022-10-27 15:20] idleroamer commented on #8743
@mheon thanks a lot for reply, is there nevertheless any way to find out which commits roughly fixed the issue, so we can cherry-pick manually?

[2022-10-27 15:50] niccantieni commented on #16307
Thanks for all your answers. If it should really be the case that my database is corrupted, what would be the best course of action? It just seems odd to me that even with another podman virtual machine nothing happens.

Is there a way to recover the filesystems of the containers within the default-virtual machine?

[2022-10-27 16:36] vkSegfault commented on #16107
Fresh Fedora 37, fully updated:
`podman pod create test
Error: unable to create pod cgroup for pod eedfbde3da99856b9f4e363b986ab7b33d0432e8b83ea20ccfe6d7d68f086487: error creating cgroup user.slice/user-libpod_pod_eedfbde3da99856b9f4e363b986ab7b33d0432e8b83ea20ccfe6d7d68f086487.slice: Unit user-libpod_pod_eedfbde3da99856b9f4e363b986ab7b33d0432e8b83ea20ccfe6d7d68f086487.slice already exists.`

[2022-10-27 16:38] Cydox commented on #16233
This creates an issue especially if a container is connected to one internal network (created with `--internal`) and one "normal" network. In that case you get two default routes and the container can't reach the internet if the route for the internal network happens to appear as the first route in `ip route` (order appears to be random).

Example:

[code]

Running the last line of the above examp

[2022-10-27 16:47] Luap99 commented on #16233
The internal route is a bug and already fixed in netavark, https://github.com/containers/podman/issues/16256

[2022-10-27 16:54] Cydox commented on #16233
Great! Was using podman 4.2.1 and netavark 1.1.0.

[2022-10-27 17:18] debarshiray commented on #14183
I suspect that this is the same as https://github.com/containers/toolbox/issues/1073

This is how I usually run my containers:
[code]

If I mount something on the host *after* starting the container, then everything is good.  However, if I mount something on the host *before* starting the container, then things get interesting.

For example, I plugged in a USB stick with the Fedora 36 Workstation

[2022-10-27 17:23] mikesmitty opened #16324 ""podman machine start" hangs indefinitely on fresh install MacOS 12.6"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Did a fresh install of podman-desktop (0.9.1 with podman 4.3.0 and qemu 7.1.0) through brew on MacOS 12.6 and found the "init" process button in the UI hung for over an hour. Interacting with podman on the cli works fully including `podman machine ssh`, but `podman machine start` hangs and ma

[2022-10-27 17:29] vkSegfault commented on #16107
@akdev1l :
`
uname -r
5.19.16-301.fc37.x86_64
`

but with previous one: 5.19.1**5**-301 was all the same.

`sudo dnf upgrade --refresh --advisory=FEDORA-2022-1a5b125ac6
Dependencies resolved.
Nothing to do.
Complete!
`
So seems it's either not fixed or not in stable.

There are plenty of updates in Fedora 37 - Test Updates repo, but I had it turned off and actually a bit scary to install them caus

[2022-10-27 17:33] Nemric commented on #16310
I remember an old issue (for 4.0.2 in my memory) where remote was built for windows ...

[2022-10-27 17:38] mheon commented on #16307
No real way to recover... Our usual approach is nuke it and start over. Given how rare these cases are, it hasn't been a problem before now. Of course, given the increasing frequency, we may have to reevaluate this.

[2022-10-27 17:52] akdev1l commented on #16107
@vkSegfault mm it looks like I was using podman from rawhide repos:

[code]

but I downgraded to 4.2.1 and it also worked - I fully upgraded my system to be latest F37 with no rawhide packages:

[code]

works ok for me not sure - we need a tie breaker

[2022-10-27 17:55] rhatdan commented on #15300
SGTM
Do you have an idea of the tag name?

[2022-10-27 18:28] dancohen21 commented on #14862
@n1hility
Just installed 4.3.0 on windows [with WSL]
my laptop has a "c" drive and a "d" drive
I'm trying to copy a file from my "d" drive to my container "se92"

this command works. It runs from the context of the podman-machine-default.
wsl -d podman-machine-default -u user enterns podman cp /mnt/d/2022_Projects/CCCC/1861_symapi_db_20221021.bin se92:/root/

this command is not working. running f

[2022-10-27 18:42] mheon commented on #16324
@ashley-cui @baude PTAL

[2022-10-27 18:54] mikesmitty commented on #16324
Update: I left `podman machine start` running after submitting this and it looks like it did finally succeed after ~20 minutes (PS1 has the timestamps):
[code]

[2022-10-27 19:08] ashley-cui commented on #16324
Hmm, I'm unable to reproduce, `podman machine start` finishes within a minute, but I'm on 12.5.1. I'll upgrade my OS tonight and see what happens. In the meantime, I'd reboot your machine and see what happens

[2022-10-27 19:18] ashley-cui commented on #16307
For clarification, this is the podman database that is corrupted, not necessarily a machine issue. The reason creating another podman machine fails is because your default connection is still on the broken machine. Doing something like a `podman system connection default podman-machine-test` (or removing  the broken machine entirely and creating a new machine) should connect you to your test machi

[2022-10-27 19:25] mikesmitty commented on #16324
That's very odd, restarting took it from 20 minutes down to 20 seconds; didn't expect that on a non-windows box. Tried once more just before rebooting and it took 19m 24s. Afterwards, 25 sec and only 18 sec the next time.

Anyway, sorry for the unnecessary report, all working now.

[2022-10-27 19:25] #16324 closed

[2022-10-27 19:33] amberjungminlee opened #16325 "Issues running podman on Jenkins agent running RHEL OS"
Hello. We are running a Jenkins agent that is using RHEL 8 and running podman (instead of docker), and we noticed an issue where on the command line, commands such as podman pull node and ```podman image build app --no-cache``` works fine. However, when we run the same exact command through a Jenkins pipeline, we get the following error:
[code]
We were trying to dig for resources online regarding

[2022-10-27 19:40] tyler92 opened #16326 "Deadlock between 'pod ps' and 'container inspect' commands"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If run at the same time `podman pod ps` and `podman inspect CTR_ID` after some time these processes will be deadlocked.

**Steps to reproduce the issue:**

1. With some Pod execute `while true; do podman pod ps; done`

2. Execute `while true; do podman inspect my-pod-1-app; done`

3. Wait for

[2022-10-27 21:57] amyfou commented on #12206
same problem now on Debian 11 / podman 4.2.1 - what is the correct env variable to export for DOCKER_HOST on Debian?

[2022-10-27 21:59] TomaszGasior commented on #12206
@amyfou It's not related to the original issue so better to open new thread on discussions.

You need to find out a path to Podman's socket and use DOCKER_HOST=unix://SOCKETPATH. It may be something like `DOCKER_HOST=unix://$XDG_RUNTIME_DIR/podman/podman.sock`. You need to have podman deamon running, for example by using systemctl enable --now  --user podman.socket`.

[2022-10-28 05:00] DarcySail commented on #16054
I have met the same issue, but I didn't use podman, only qemu.

[2022-10-28 05:52] Puiu commented on #9002
I am running podman in WSL2 and I got this error after I've restarted the host. The solution for me was to run in powershell on the host the command: `podman machine start`

Maybe it will help someone that runs into this for the same reason as me.

[2022-10-28 05:53] Puiu commented on #12236
I am running podman in WSL2 and I got this error after I've restarted the host. The solution for me was to run in powershell on the host the command: podman machine start

Maybe it will help someone that runs into this for the same reason as me.

[2022-10-28 06:45] vrothberg commented on #15300
I am not a fan (anymore) of changing that behavior.  It took a long time to get it done right, so I prefer to keep things as they are.  Adding an option to containers.conf adds testing and maintenance burden.  It gets hairy in the details: should it only apply when looking up images in the local storage or also when pulling images?

[2022-10-28 07:15] tmds commented on #15300
I find the implicit state that comes from the local images is unexpected.

My expectation is that this option makes any command that takes an `--arch`, default to the host architecture.
How does that sound for implementation/testing?

[2022-10-28 07:50] vrothberg commented on #15300
How does that sound for implementation/testing?

Isn't that the current behavior?  I understood your proposal that a `run foo` would work after `pull --arch foo`.

[2022-10-28 08:21] niccantieni commented on #16307
Alright, thanks for all the answers - will try to restore from a backup, otherwise I'll just nuke it.

[2022-10-28 08:21] #16307 closed

[2022-10-28 08:39] harryssuperman opened #16330 "Podman under windows shows different versions as in the machine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
Versions from machine and out the podman machine under Windows are different.

**Steps to reproduce the issue:**
1. Install Podman from last Version (Current 4.3.0) for Windows.
2. Run podman machine ssh
3. Inside the machine run podman --version
4. Go outside the machine to windows shell or an

[2022-10-28 08:40] #16326 closed

[2022-10-28 09:49] arixmkii commented on #13006
https://lists.gnu.org/archive/html/qemu-devel/2022-10/msg05215.html

We will not see enabled 9pfs on Windows with QEMU 7.2 😞

[2022-10-28 10:01] dpkshetty opened #16331 "mount `tmpfs` to `/dev`: Permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. My gitlab-ci.yml
https://gitlab.com/dpkshetty/gitlab-s2i-pyflask-demo/-/blob/main/.gitlab-ci.yml

2. As you can see, I am using podman image to create a Dockerfile for my app. Link to Dockerfile
https://gitlab.com/dpkshetty/gitlab-s2i-pyflask-demo/-/blob/

[2022-10-28 10:18] rhatdan commented on #15955
@baude PTAL

[2022-10-28 10:19] rhatdan commented on #15446
No response so closing.

[2022-10-28 10:19] #15446 closed

[2022-10-28 10:50] vp2177 commented on #14065
Now 22.10 (`kinetic`) is out, with `podman` 3.4.4 :disappointed:

What is strange is that Debian `testing` (as well as `unstable`) had 3.4.7. Were the Ubuntu packages not even synced from there?
Debian `experimental` does have 4.2.0 - that's also slightly out of date now though.

And, it looks like `podman` 3.4.4 doesn't work on 22.10. It used to work on 22.04 LTS.

[code]

[2022-10-28 10:52] rhatdan commented on #16331
Have you read https://www.redhat.com/sysadmin/podman-inside-kubernetes?

[2022-10-28 11:19] lsm5 commented on #14065
@vp2177 if you're talking about the official Ubuntu package, issues are best reported at Ubuntu's official bug tracker. Not something podman upstream can handle.

[2022-10-28 11:21] dfr opened #16333 "Nil pointer dereference on FreeBSD if pf is not enabled"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Attempting to run a container on a FreeBSD host where the pf kernel module is not loaded causes a nil pointer reference. The CNI setup fails with an appropriate error but later podman segfaults in (*Container).addNetworkNamespace. Looks like some error handling is missing, either in networkin

[2022-10-28 11:38] Luap99 commented on #16330
I think this is expected, the VM OS is fedora so it will only be updated when podman v4.3 lands there.
@n1hility PTAL

[2022-10-28 11:44] Luap99 commented on #16325
Please fill out the issue template. We need to know at least `podman info` for most things.
Also if you a RHEL customer please use the Red Hat support channels instead.

[2022-10-28 11:49] Luap99 commented on #16312
Can you test with the latest version v4.3 or try using crun instead of runc?

@adrianreber @rst0git PTAL

[2022-10-28 13:04] baude commented on #15955
it is a fair idea and fair request ... i have a bunch of unanswered questions that will take some time to evaluate.

[2022-10-28 21:39] cdpb commented on #15848
I have the same problem as OP. I checked my logs, no missing aardvark-dns is thrown.
aardvark-dns is installed.
podman version 4.2.1

on Fedora 36 Desktop, bare metal.

[2022-10-28 22:01] mangeshpanche opened #16339 "Podman should mount volumes only once during container start like docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description**
I observe a difference in behavior when a container is created between docker and podman with respect to bind mounted volumes. During the container creation, docker mount all the bind mounted volumes just once, whereas podman does mount, unmount and mount of the volumes. On a container with

[2022-10-28 22:03] amyfou commented on #12206
thank you!  started new issue: rootless podman cannot build with docker-compose build #16338

[2022-10-29 00:05] venezianluis opened #16340 "please create a known_hosts file warning"
BUG REPORT

`WARN[0000] please create a known_hosts file. The next time this host is connected to, podman will add it to known_hosts `

**Description**
I'm getting this warning when using podman. Can someone explain to me where should I create this file in order to remove the message?

**Describe the results you expected:**
Solve the problem causing the warning message

**Output of `podman version

[2022-10-29 02:29] mheon commented on #15848
As said earlier, please open a fresh issue and complete the full issue template

[2022-10-29 05:47] ntkoopman opened #16341 "Every requests is logged with default configuration"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying out Nomad with the Podman driver. Nomad will poll the container status every second, causing the podman logs to get very large, because the default log level is `info` when using the systemd service and this causes every request to be logged:

[code]

I would expect the default log

[2022-10-29 09:46] MartinX3 opened #16342 "No retry on temporary failure in network name resolution"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If the systemd service can't download the image, it just aborts without retry.
I use `restartPolicy: on-failure`.

**Steps to reproduce the issue:**

1. It happens randomly. Probably on podman auto update.

**Describe the results you received:**
[code]

**Describe the results you expected:**

[2022-10-29 10:11] rhatdan commented on #16341
Could you try to add a file

cat /etc/systemd/system/podman.service.d/local.conf
[code]
And se if it fixes your problem.  I think the thought would be the logging of the service should log each connection, but in your case Nomad is hammering the service, so it is filling the logs, dropping the service back to `warn` should fix this.

Since you are the first person to notice and complain about the

[2022-10-29 10:13] rhatdan commented on #16342
@mtrmac @vrothberg PTAL

[2022-10-29 10:25] rhatdan commented on #16340
@cdoern @mtrmac PTAL

[2022-10-29 10:25] rhatdan commented on #15897
@boaz0 any update on this?

[2022-10-29 10:26] rhatdan commented on #15231
@umohnani8 @haircommander @saschagrunert PTAL and verify what we should do here.

[2022-10-29 10:58] alexanderadam commented on #14302
Is there any chance also to have the stable versions available somehow or is the integration effort difference between unstable and too huge?

[2022-10-29 11:05] arlyon commented on #8421
Thanks for clarifying :) Have a nice weekend.

[2022-10-29 11:32] TheComputerM commented on #16330
Duplicate: https://github.com/containers/podman/issues/15876

[2022-10-29 11:34] afbjorklund commented on #16341
It would probably be better to increase the timeout of the podman socket unit, instead of forcing to stay up by probing it every second ?

[2022-10-29 12:53] 1player opened #16343 "play kube: initContainer keeps restarting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A pod with an initContainer has it restarting ad infinitum, even if successful. Removing the initContainer fixes it.

**Steps to reproduce the issue:**

[code]

then `podman play kube --replace pod.yml`

**Describe the results you received:**

Pod takes 30 seconds to start. Journal shows init

[2022-10-29 14:19] afbjorklund commented on #16330
If you run the regular `podman version` command, it will be more obvious that there is a client and a server

[2022-10-29 15:17] izissise commented on #16227
https://stackoverflow.com/questions/74208690/podman-build-xdg-runtime-dir-no-space-left-on-device/74246457#74246457

[2022-10-29 16:20] srbaker opened #16345 "Default detach key sequence wrecks standard shell usage."
/kind bug

**Description**

The default key sequence for detaching from `podman run` is Ctrl-p,Ctrl-q.

This means that Ctrl-p when used in a shell for "previous command" does not work.  This is standard shell behaviour, and since using `podman run` to start a shell is a common usage, it's very confusing.

**Steps to reproduce the issue:**

1. `podman run -it bash <container>`

2. `ls`

3. `echo f

[2022-10-29 17:08] n1hility commented on #16330
That’s correct for Mac and Windows  it’s expected that the client will temporarily drift ahead of the server until the podman package updates show up. You can still use it during this skew but it does mean that fixes / improvements on the server portion won’t show until the Fedora updates are complete. See my comment on #15876 for the upgrade procedure.

[2022-10-29 17:08] #16330 closed

[2022-10-29 17:28] MartinX3 commented on #16269
So I created a secret in the terminal with a secret file according to https://blog.while-true-do.io/podman-secrets/

[code]

[code]

`Error: cannot set env DUCKDNSTOKEN: secret dyndns-https-ip-secret is not valid JSON: illegal base64 data at input byte 28`

Weird

[2022-10-30 10:39] MartinX3 commented on #15850
Still an issue with 4.3.
Enabling IPv6 breaks the containers.

They still can use ipv6, but DNS resolution (uses IPv6) and IPv6 access are broken.

[2022-10-30 11:03] rhatdan commented on #15975
Since we believe this is fixed in main, I am going to close, reopen if I am mistaken.

[2022-10-30 11:03] #15975 closed

[2022-10-30 11:04] rhatdan commented on #15967
@gbraad @n1hility any movement on this?

[2022-10-30 11:05] rhatdan commented on #15527
@baude @cdoern @n1hility could we get an update on this?

[2022-10-30 11:07] rhatdan commented on #15519
@ashley-cui PTAL

[2022-10-30 13:50] claudiusraphael commented on #15742
Yes, "VM already exists" is mentioned (as i already noted in my first report) although no machine-definition is any more existent, whereas the actual images are still existent. When attempting to re-initialize the same behavior shows. After deleting ALL files manually the problem persists, only difference that "VM already exists" is not shown anymore, it produces the default status (as if everythi

[2022-10-30 13:51] n1hility commented on #15967
It looks like a Microsoft has this still in Preview. I think we are in a holding pattern before this is widely available.

[2022-10-30 18:20] akostadinov commented on #15580
Confirmed that this was fixed with 4.3.0 in fedora. Just installed from updates-testing
[code]

[2022-10-30 20:02] n1hility commented on #15742
@claudiusraphael Thanks for sharing these scenarios. Unfortunately, they all work for me. I included some notes on the steps I took. To figure out what's going wrong, and why you have different behavior,  I would really need to see the exact list of commands that you ran and in what sequence, and when the first sign of failure occurred. I realize you have invested enough time in this, so I underst

[2022-10-31 01:28] mhjacks opened #16348 "play kube: cannot restart pod with named volumes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am deploying the following YAML file via play kube:
[code]
**Steps to reproduce the issue:**

1. podman play kube deploy-megamek.yaml

2. podman play kube deploy-megamek.yaml --down

3. podman play kube deploy-megamek.yaml

**Describe the results you received:**

In step 3, an error like th

[2022-10-31 09:26] lsm5 commented on #14302
@alexanderadam The repo is called (and will continue to be called) `unstable` mainly so people are aware it's not recommended for production use. Only the stable upstream releases are being sent to this `unstable` repo but the packages don't go through debian's or ubuntu's official QE process. I stopped sending RC builds to this repo recently. There might be scope for some automated QE but it's no

[2022-10-31 11:01] ikem-krueger commented on #11530
I had a similar problem on the windows command prompt.

When I run this, I get the same error message as you:

`podman run -e 'MESSAGE_WELCOME=Hello, world DIT' test/hello-world`

When I run this instead, I get no error message and all works as intended::

`podman run -e "MESSAGE_WELCOME=Hello, world DIT" test/hello-world`

(Take a close look at the quotes around `MESSAGE_WELCOME`.)

I hope that h

[2022-10-31 12:15] lsm5 commented on #14302
We did provide `stable` and `testing` channels back when I was building deb packages the rather conventional way. Those are not being updated anymore.

RE: production ready, I don't think the podman team will ever be comfy recommending the OBS / kubic packages for production use. Having a `stable` channel would, in my opinion, raise expectations for the deb packages, which won't be in scope for th

[2022-10-31 12:22] bellegarde-c opened #16350 "Can't enter containers with --userns keep-id: OCI permission denied"
**Description**

On an Active Directory environment, podman fails to run a command with --userns keep-id.

Works as expected with a local user.

**Steps to reproduce the issue:**

Current uid/gid configuration:
[code]

User information:
[code]

**Describe the results you received:**

[code]

But running this manual uid mapping fixed my issue:
 `podman run  --rm -ti --uidmap=0:1:1 ubuntu true`

The

[2022-10-31 12:58] asgeirn opened #16353 "podman machine inspect should report IP address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I am using Podman 4.3.0 on Windows 11 WSL2, and attempting to contact the podman machine from another Linux distribution.

The default `podman system connection list` SSH URI contains `localhost` as host name, and this does not resolve properly from within another WSL distro.

I have work

[2022-10-31 13:10] dougbreaux commented on #15975
Yes, I confirm this issue is no longer occurring here, thanks.

[2022-10-31 13:21] mheon commented on #16350
UID/GID mapping seems to be working properly. @giuseppe PTAL

[2022-10-31 13:22] dougbreaux opened #16354 "More helpful error message when Dockerfile not found"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When Dockerfile is not found where it's referenced, the error message is less clear than it could be:
[code]
**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. iss

[2022-10-31 13:23] mheon commented on #16354
@flouthoc PTAL

[2022-10-31 13:28] mheon commented on #16345
The original sequence is used for Docker compatibility. We will not be changing it.

If you wish to set a new default, you can do so in containers.conf via the `detach_keys` field.

[2022-10-31 13:28] #16345 closed

[2022-10-31 14:16] asgeirn commented on #16353
You could probably use `/mnt/wsl` for this.    I tried writing a file from podman-machine, and it's readable within the Ubuntu distro.

[2022-10-31 14:23] asgeirn commented on #16353
Yup, that worked - but requires that the UIDs match.

In podman-machine:
[code]

In Ubuntu machine:
[code]

[2022-10-31 14:32] flouthoc commented on #16354
@dougbreaux Actually the error is coming from server, in `podman-remote` setup the client side bundles and ships context to the server end and now server unpacks and treats this temporary directory as context that's why we get this error on this weird path. But I agree maybe we can modify this so it shows the client's context. @nalind @rhatdan WDYT ?

[2022-10-31 16:56] rafapolo commented on #12775
Had the same error on Ubuntu but here, but ` sudo apt install qemu-system-x86` did the job.

maybe a  `brew install qemu` works for you?

[2022-10-31 17:33] mheon commented on #16339
These aren't bind-mounts. That's a volume plugin. Can you provide details on the plugin in use?

Regardless, the current behavior should be correct. Podman uses a mount counter to keep track of containers using the volume. Every container will attempt to mount the volume, but only the first will actually perform the mount, others simply update the counter to indicate the volume is in use. Once all

[2022-10-31 17:53] rhatdan commented on #15762
@cdoern any movement on this?

[2022-10-31 17:58] rhatdan commented on #15580
4.3.0 should be release ot RHEL and Centos with 12 weeks.

[2022-10-31 18:14] n1hility commented on #15338
@TheComputerM i should be able to look at this this week.

[2022-10-31 18:39] jakegt1 opened #16360 "Podman socket: Build API produces different results then Docker's Build API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

As i am migrating from OL7 -> OL8 (RHEL based), i am wanting to keep my current code working - for that i am relying on podman socket to keep my docker-compose / docker py usage functional.

Docker-compose seems fine but docker-py is not, there is an issue where the return values from the bui

[2022-10-31 19:16] mheon commented on #16360
Please try a more recent Podman, I believe this has been fixed

[2022-10-31 19:40] jakegt1 commented on #16360
Nope, not fixed. Repro project here - https://github.com/jakegt1/podman-16360-repro

[2022-10-31 19:42] mheon commented on #16316
I don't think that's an accurate statement - if a rootless `mount` command on said NFS share works, Podman should be able to mount it.

[2022-10-31 19:44] mheon commented on #16316
Also, I *STRONGLY* recommend against volume-back changes. That is not what that field is intended to do, and we are almost certainly not adding support for additional volume paths. A `type=bind` volume would be a much better solution.

[2022-10-31 20:12] rhatdan commented on #16360
@flouthoc PTAL

[2022-10-31 20:18] dnv commented on #16316
May I ask what is the reasoning behind forcefully confining named volume users to a singular path option and denying them the ability to place named volumes onto different classes of storages based of expected workload?

It's a non-solution as bind mounts are not named volumes.

[2022-10-31 20:45] jakegt1 commented on #16360
seems that it's related to this - https://github.com/containers/podman/issues/12063.

Seems the problem (not that i truly understand how the API works) is that the response for the final two lines (aux and stream) come out in the same line. In Docker api they are separate.

[2022-10-31 20:56] idleroamer opened #16362 "detect podman file-system corruption"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

The embedded environment should guarantee the sanity of podman file-system under all circumstances as there is no way to have end-users fix issues manually. Even with the latest podman 4.2, it is still possible to run into such corruptions with a sudden power loss or a forced termination.
I'd like to ask

[2022-10-31 23:31] mtrmac commented on #16340
Good point, https://github.com/containers/common/blob/590004b80685c2264819a1cd4d970b07f12058a2/pkg/ssh/connection_golang.go#L293 should include `keyFilePath`.

[2022-11-01 02:20] mangeshpanche commented on #16339
It is a custom volume driver plugin.

For every container start, the volume driver plugin gets mount/unmount/mount request, it is not just informational.

[2022-11-01 02:23] phlummox opened #16363 "Build documentation is out of date; `make install.tools` tries to install to read-only directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A step in the current build instructions from `CONTRIBUTING.md` fails.

**Steps to reproduce the issue:**

1. Follow the instructions in [CONTRIBUTING.md](https://github.com/containers/podman/blob/a30c9ef752d956f884b13a4132cb2081dc7072b3/CONTRIBUTING.md), up to "[Install tools](https://github

[2022-11-01 03:08] viecili opened #16364 "allow for user provided configuration to be included in containers.conf and registries.conf for podman machine"
** BUG REPORT or FEATURE**

/kind feature

**Description**

When creating a new podman machine (podman machine init) with defaults the contents of configuration files are hardcoded from pkg/machine/ignition.go , specifically lines [442](https://github.com/containers/podman/blob/main/pkg/machine/ignition.go#L442 ) and [303](https://github.com/containers/podman/blob/main/pkg/machine/ignition.go#L303

[2022-11-01 04:29] phlummox opened #16365 "Required testing tools missing from `CONTRIBUTING.md`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Follow the instructions in [CONTRIBUTING.md](https://github.com/containers/podman/blob/a30c9ef752d956f884b13a4132cb2081dc7072b3/CONTRIBUTING.md)

2. Try to run `make test` or `make localsystem`.

**Describe the results you received:**

Running the tests f

[2022-11-01 07:54] benko commented on #14237
It's an ssh-agent vs sshd problem usually caused by `AddKeysToAgent` option, a long-running agent, and a low tolerance for failed authentications on sshd side. The issue can be seen when running ssh manually:
<pre>$ podman machine inspect mymachine | jq '.[].SSHConfig.Port'
51571
$ ssh -v -p51571 -i ~/.ssh/mymachine core@localhost
...
debug1: Will attempt key: /home/user/.ssh/id_rsa RSA SHA256:xxx

[2022-11-01 08:17] benko opened #16366 "rootful machine containers not rootful"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Creating a rootful machine and pulling an image still ends up in user `core`'s container storage. Starting a container runs it as a rootless one.

**Steps to reproduce the issue:**

1. Create a machine:
<pre>$ podman machine init --rootful rootful
Extracting compressed file
Image resized.
Mac

[2022-11-01 08:41] benko opened #16367 "engine.active_service not updated upon "podman machine start""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In `~/.config/containers/containers.conf` there is an `active_service` setting in the `egine` section, which affects (among other things) the socket all remote commands use to contact the engine.

One should expect it to reflect the currently running machine, at the very least, as trying to c

[2022-11-01 08:47] benko commented on #16366
Actually this seems to be related to #16367 as I've just noticed that **if** the first machine one creates is a rootful, `active_service` is correctly set to `mymachine-root` and that takes care of it.

[2022-11-01 09:29] arixmkii commented on #13006
Was merged to master and will be available with 7.2.0. So, the only missing part will be 9pfs on Windows for 7.2.0.

[2022-11-01 09:36] garethahealy commented on #14237
@benko ; can you provide an example, I've tried as you suggested but still see the 255 error

[code]

[2022-11-01 10:44] MartinX3 opened #16369 "rootless dns broken"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't use DNS names to communicate with pods.

**Steps to reproduce the issue:**

1. nslookup smtp-gateway

**Describe the results you received:**
Host Journal
[code]

Host
[code]

Container
[code]

Container
[code]

**Describe the results you expected:**
DNS to IP resolution.

**Additional

[2022-11-01 11:26] Luap99 commented on #16369
please test nslookup inside `podman unshare --rootless-netns`

[2022-11-01 11:29] MartinX3 commented on #16369
[code]

[code]

[code]

[2022-11-01 11:29] Luap99 commented on #16367
@baude @ashley-cui PTAL
I think this might be intentionally designed to function in this way.

[2022-11-01 11:47] MartinX3 commented on #16369
[code]

I used `systemctl --user enable --now podman-kube@$(systemd-escape $(pwd)/smtp-gateway-pod.yaml).service`
It created a network for the kube pods automatically.

[code]

[2022-11-01 11:57] Luap99 commented on #16369
[code]

If the name is smtp then you have to use this as dns name. podman run has an --network-alias field which can be used to specify more names but I am not sure if this is supported with kube yaml.

[2022-11-01 12:01] MartinX3 commented on #16369
But I can have multiple containers with different names in the same pod

also if I simply use "smtp" it wants to lookup it in the internet with ´online.net.`

Is `aardvark-dns[6156]: 32479 dns request failed: request timed out` maybe caused by the wrong priority?

But even if I open port `53` in firewallD in UDP and TCP the same journal error happens.

[2022-11-01 12:06] rhatdan commented on #16354
Yes this should be relative to the context directory.

[2022-11-01 12:07] rhatdan commented on #16354
It should also default to Containerfile not Dockerfile.

[2022-11-01 12:53] benko commented on #14237
Obtain the port of your machine as I've shown below, then do try the following and paste the output here:

[code]

[2022-11-01 13:07] garethahealy commented on #14237
[code]

[2022-11-01 13:11] benko commented on #14237
It would seem there are some syntax errors in your `~/.ssh/config`, try commenting out the `UseKeyChain` option using the # character and if that doesn't help, post the file here (obfuscating any sensitive info before that, of course).

[2022-11-01 13:19] garethahealy commented on #14237
@benko removing `UseKeyChain` works but that then breaks my git setup, which is what this issue is about.

[code]

[2022-11-01 13:27] benko commented on #14237
Ahh, got you. I somehow missed the start of your original message and just focused on the exit status part.

Your problem is that `ssh` parses the entire `config` file but only on the odd chance that there will be another section which is more specific than the one it's currently set to use, and yet some directives are ignored in that context.

Move the `IgnoreUnknown` to the top of the file, even

[2022-11-01 13:38] rhatdan commented on #15980
@ashley-cui Any movement on this?
@afbjorklund @jamesmikesell interested in opening a PR?

[2022-11-01 13:45] garethahealy commented on #14237
@benko ; thanks - thats fixed it for me.

[2022-11-01 13:47] bobmcwhirter opened #16370 "Podman, QEMU, Apple Silicon (ARM) for x86_64 machines -- $HOME mount works seldomly (but sometimes)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Mounting host directories from an Apple Silicon OSX host into the QEMU podman machine works some, but not often.

**Steps to reproduce the issue:**

1. `podman machine init`

2. edit the config to deal with apple silicon and x86 podman machine

3. `podman machine start`

**Describe the result

[2022-11-01 14:34] ashley-cui commented on #15980
No movement at the moment, going to unassign for now and pick it up later if no one else has

[2022-11-01 14:42] mheon commented on #16316
For your second question, named volumes can be backed by bind mounts via the same mechanism used for NFS and similar mounts. `podman volume create -o type=bind -o o=bind /path/for/bind myVol`

For your first question, the intent of named volumes is to provide internally-managed volumes that can be mounted into containers. It is not intended to provide multiple volume stores on specific disks or NF

[2022-11-01 14:45] mheon commented on #16370
@ashley-cui PTAL

[2022-11-01 14:46] edsantiago commented on #16036
Here's one in CI, [f36 root](https://api.cirrus-ci.com/v1/artifact/task/6661945649528832/html/sys-podman-fedora-36-root-host.log.html#t--00312). The interesting thing (to me) is that it's triggering in the "play kube - with policies" test, and that's the same test associated with #16076. Could be coincidence. Or there could be a connection worth exploring.

[2022-11-01 17:09] debarshiray commented on #14183
I tried to reproduce this with bind mounts in the host's mount and user namespaces, without any containers or child namespaces around, with:
[code]

Things work as expected regardless of whether I plug in the USB stick before I create the bind mount or after:
[code]

[2022-11-01 17:16] Luap99 commented on #16369
All containers inside the pod are in the same netns (share the same ip) so you need to use the pod name, the network setup is just run for the infra container which uses the pod name as dns name.

[2022-11-01 17:29] Luap99 commented on #14606
Fixed in https://github.com/containers/podman/pull/15918

[2022-11-01 17:29] #14606 closed

[2022-11-01 18:52] edsantiago commented on #16365
Addressed in #16375

[2022-11-01 19:26] edsantiago commented on #16294
Another one. [f36 aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/5941052972990464/html/sys-podman-fedora-36-aarch64-root-host.log.html#t--00334)

[2022-11-01 20:17] giuseppe opened #16376 "Podman run inside pod fails with: `Error: OCI runtime error: crun: sd-bus call: Invalid unit name '.': Invalid argument`"
### Discussed in https://github.com/containers/podman/discussions/16361

<div type='discussions-op-text'>

<sup>Originally posted by **rocketraman** October 31, 2022</sup>
I am attempting to run rootless a container inside an existing pod, but when attempting to do so I get the error:

[code]

There are no error logs from selinux, either in the user or system journal.

If I run the same container

[2022-11-01 20:19] giuseppe commented on #16376
PR opened here: https://github.com/containers/podman/pull/16377

[2022-11-01 20:22] baude commented on #16370
if the machine means nothing to you, does a `machine rm` followed by `machine init --now` resolve things?

[2022-11-01 21:13] bobmcwhirter commented on #16370
I've rm'd and init'd a few times but never with --now. I'll try in the morrow.

[2022-11-01 22:14] jakegt1 commented on #16360
I have made a tentative MR for this, although not sure how to run the tests/make a merge request for it. Seems that the only change needs to be is to flush aux before stream, rather than together.

[2022-11-01 22:35] jakegt1 commented on #16360
I have at least fixed my use case.

[2022-11-02 00:39] mtrmac commented on #16294
FWIW I have seen a panic in the second iteration of
[code]

with a very different failure mode: `fatal error: runtime·lock: lock count` on https://github.com/golang/go/blob/895664482c0ebe5cec4a6935615a1e9610bbf1e3/src/runtime/proc.go#L1543 .
<details>
<pre>
[code]
</pre>
</details>

[2022-11-02 00:46] edsantiago commented on #16294
Yuk.

FWIW I keep trying this:
[code]
...with no failures. (No _relevant_ failures, that is. Lots of assorted flakes).

My assumption is that it's not the `--uidmap` tests that are doing something bad, it's some sort of shy quiet test hidden away somewhere, screwing up some kind of podman state. But since I can't reproduce it, my assumption may be completely worthless.

[2022-11-02 01:43] mdavis-xyz commented on #8032
I've got the same issue, except my proxy does not require a username and password.
I'm trying to follow the comments here. e.g. look at `/etc/containers/containers.conf`. But there is no `/etc/containers` directory on my machine.

[2022-11-02 04:25] flouthoc commented on #16360
@jakegt1 Would you like to open a PR or is it a hack for your use-case ?

[2022-11-02 05:19] navylover commented on #15400
Any updates? I also need install podman on the windows server 2019 and tried almost ways from googled results?
so, the answer is "No"?

[2022-11-02 07:16] ygalblum commented on #16348
I am also looking at a similar issue. The root cause of this failure is the fact that `podman play kube --down` does not delete the volumes. As a result, when running `podman play kube` again, the volume is still there, but podman tried to create it (since it does not know that it is the same one).

I implemented the code to remove the volume as part of calling `--down` (https://github.com/ygalblu

[2022-11-02 07:25] jakegt1 commented on #16360
It seems logical to me this fixes it but I'm not that confident as I've only just started touching the code. I can see why the original person who did this thought this should work (they are still passed on different lines, so surely they should come out differently.)

It's plausible to me this is actually some kind of "bug" in docker-py, rather then a bug in podman API - but the "bug" doesn't ari

[2022-11-02 08:10] giuseppe commented on #16316
the setuid binary won't work in the user namespace since the root user is not mapped it, and likely nfs has some check to prevent it being used from a user namespace anyway.

[2022-11-02 08:12] giuseppe commented on #16316
yes, I think the only way to get it working at the moment is to mount nfs before entering the podman user namespace.

[2022-11-02 08:18] dnv commented on #16316
Ended up ditching NFS since after pre-mounting the share, podman fails with
being unable to set proper SELinux contexts. While NFSv4.2 technically
”supports” selinux, it doesn’t seem to support it anywhere near in full
(even with the appropriate flags set on the nfs server to enablr selinux
support).

Replaced NFSv4 with iSCSI and my podman is happy now. The idea of either
dropping rootless or sel

[2022-11-02 08:30] giuseppe commented on #16305
when you specify `shared` all the mounts created in the container are propagated to the host.

The first time you run the command, the `/run/secrets` mount is leaked on the host, you can verify it with `findmnt -R /run` on the host to see it.

The second time the command fails because `/run/secrets` is a tmpfs.

You either need to drop `shared` or make sure `/run/secrets` is always unmounted when

[2022-11-02 08:30] #16305 closed

[2022-11-02 09:10] flouthoc commented on #15928
@Romain-Geissler-1A buildah's distributed cache works on repos not on images so its fundamentally different from docker's remote cache and more like `kaniko`'s distributed cache, but sure it can accept array of repo's in future and that must be fixed at buildah end.

As of now issue is that docker sets `cacheFrom` for every build command even if the option is not used at all, following PR should u

[2022-11-02 09:41] arixmkii commented on #16370
`machine init --now` will init and start arm64 machine on Apple Silicon. Where the issue is reported for amd64 on Apple Silicon, which obviously has very different performance. I would suggest updating the first message to contain (x86_64):

And may be also list it in **Additional environment details**

[2022-11-02 10:21] vrothberg commented on #16341
I totally sympathize with the request.  There little value in logging such "keep alive" messages.  On the other hand, I see value in logging other requests; mostly when debugging.

But I am not married to the "info" log level, and am OK to drop it to warn.  @baude @Luap99 @mheon what do you think?

[2022-11-02 10:35] vrothberg commented on #16348
The logic was added with https://github.com/containers/podman/pull/11298 but I am unable to extract the reasoning for excluding volumes from teardown.  @baude can you elaborate on that?

[2022-11-02 10:46] bjorndown commented on #16208
I would like to give this one a try. I got `pod create` to work, but I assume there is more to do.

[code]

[2022-11-02 11:45] edsantiago opened #16383 "podman-remote wait: fails with read /proc/N/cgroup: no such process"
Seen just now in [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/4878370822422528/html/sys-remote-fedora-36-aarch64-root-host.log.html). Almost certainly a flake:
[code]
My flake logs find one other instance, [September 14 in f36 rootless](https://api.cirrus-ci.com/v1/artifact/task/5532259007594496/html/sys-remote-fedora-36-rootless-host.log.html#t--00175), but that one is pre

[2022-11-02 12:15] edsantiago commented on #16132
Another one in [remote f36-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/4670843706933248/html/sys-remote-fedora-36-aarch64-root-host.log.html):
[code]
Although in CI I only see this on podman-remote tests, yesterday I saw this flake on a 1mt VM:
[code]
No idea if there's a connection, and the VM is long gone.

[2022-11-02 12:22] Luap99 commented on #16208
Inspect the infra container, it should show `"NetworkMode": "ns:<your path>"`

Note that mkdir is not a valid netns fd. What you actually want to test is something like this:
[code]

The last command should show you an empty netns (only the lo interface)
Now run:
[code]
and then again, this should now also include the dummy interface.
[code]

[2022-11-02 12:27] bjorndown commented on #16208
@Luap99 just saw your comment. When I inspect the infra container I do indeed get that:
[code]

[2022-11-02 12:48] vrothberg commented on #16342
I opened https://github.com/containers/podman/pull/16385 to set the restart policy.  I can also be set via `systemctl start --property` but I think on-failure is a sane default.

[2022-11-02 12:49] Luap99 commented on #16208
Yes this looks good then, please open a PR. Make sure to add a test somewhere under test/e2e, you can grep for `ns:/run/netns` to find existing test for this with container.

[2022-11-02 13:00] baude commented on #16348
the idea was that podman should not delete important information by default ... in this use case, it does make sense to nuke the volume I guess.  But in the case where the user is expecting the volume data to be preserved, it does not ... should we just not error if the volume already exists by name?  that would leave the responsibility of what to do with the stuff on the volume to the user.  we c

[2022-11-02 13:05] Luap99 commented on #16341
In my experience most web servers (nginx, apache, etc...) will also log all request by default. Therefore I think it makes sense for the podman service to do the same.
But I don't have strong opinion on that, either way users can always change the log level as mentioned by @rhatdan.

[2022-11-02 13:06] vrothberg commented on #16348
That sounds good.  @alexlarsson added the --ignore flag, so the plumbing should be easy.

BUT: How does Kubernetes behave?

Note that there is `podman kube down` now where we can easily add new flags.  There is also `podman kube play --down` which isn't ideal for extending the behavior.

[2022-11-02 13:19] rhatdan commented on #16341
I don't think we want to change this, so since the user can fix it, I am going to close this issue.

[2022-11-02 13:20] #16365 closed

[2022-11-02 13:28] mheon commented on #16348
Tackling this from a different direction: why does `play kube` refuse to start if a volume with the given name already exists? I would think it would just use the existing volume in that case.

[2022-11-02 13:33] mhjacks commented on #16348
We've just been talking through that on gchat. Current proposal (please correct me if this is inaccurate @baude) is to create volumes if they don't exist, use volumes if they do exist at start time, and add a --force flag to the "down" command to delete volumes if the user wants to remove them.

[2022-11-02 13:44] Luap99 commented on #16339
Can you provide a full reproducer with your actual podman commands? I cannot reproduce this, I see only one Mount() call in the plugin when I start several containers with the same volume.

[2022-11-02 13:48] benoitf commented on #15834
closing as it works fine with the final release (13.0 (22A380)) of Ventura.

[2022-11-02 13:48] #15834 closed

[2022-11-02 13:58] mhjacks commented on #16348
Presumably the systemd integration will not add the "--force" flag by default? This means the default case for systemd  (systemctl stop/restart) service will work, as will a reboot; an edge case would be if the node loses power; but in such a situation I think it's reasonable to at least try to start the service with existing volumes; if that fails that can be detected, and the volumes can be clea

[2022-11-02 15:48] rhatdan commented on #8032
You need to create it and then podman will read the containers.conf file from there.

[2022-11-02 15:50] mtrmac commented on #8032
@mdavis-xyz Please file new reports instead of piling on to closed ones if they don’t actually match the situation. It’s just going to be lost here.

[2022-11-02 15:53] rhatdan commented on #16316
NFS Should have worked, but you can not use the :Z option.

[2022-11-02 16:43] edsantiago opened #16387 "podman systemd clutters /run with .ctr-id files"
podman systemd commands do not clean up leftover `.ctr-id` files:
[code]
After multiple runs of system tests, `/run` is full of these files. Yes, of course these are tests, not representative, but even in the real world people will be creating and removing differently-named containers and may not want these confusing stale files left behind.

Probably a simple fix, adding to one of the `ExecStop`

[2022-11-02 17:12] edsantiago commented on #15413
ping, we really, really, really need this (for CNI/netavark testing)

[2022-11-02 18:38] baude commented on #15400
The answer today is you must have WSL.  We have discussed alternatives but nothing has been implemented.

[2022-11-02 20:51] Buzu opened #16390 "Adding a new container to an old pod results in inconsitencies"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a pod that was created about a year ago. Today I wanted to update one of the containers, so I removed the outdated container, create a new one with the `--pod` option set to the pod's name. This kind of works. The new container is added, but it is not consistent with the other containe

[2022-11-02 21:00] Luap99 commented on #16390
Please test this with podman 4.3 or 4.2 at least. We cannot really support these old versions upstream.

[2022-11-02 21:04] #15349 closed

[2022-11-02 21:13] Buzu commented on #16390
I'm afraid I won't be able to do that. My server is not providing a newer version of podman, and while I could install a newer version locally, I would not be able to create a new pod that is over a year old. And this problem is not affecting new pods in the server, only the older ones.

[2022-11-02 21:18] Buzu commented on #16390
I found I can probably install a newer version https://podman.io/blogs/2022/03/06/why_no_podman4_f35.html I'll try this and report back.

[2022-11-03 00:05] edsantiago opened #16391 "New f37 flake: podman image prune: APK error or timeout"
Seems to be timing out and failing in an apk command:
[code]
Lots of f37 flakes, none on f36.

### Podman prune [It] podman image prune - remove only dangling images
* fedora-37 : int podman fedora-37 root container
  * PR #16389
    * [11-02 18:58](https://api.cirrus-ci.com/v1/artifact/task/6370124769263616/html/int-podman-fedora-37-root-container.log.html#t--podman-image-prune---remove-only-dang

[2022-11-03 00:09] edsantiago commented on #16391
I'm going to hazard a guess the these are the same problem (also apk related):

### Podman play kube with build [It] --build should override image in store
* fedora-37 : int podman fedora-37 root container
  * PR #16389
    * [11-02 18:58](https://api.cirrus-ci.com/v1/artifact/task/6370124769263616/html/int-podman-fedora-37-root-container.log.html#t----build-should-override-image-in-store--1)

[2022-11-03 00:11] edsantiago commented on #16036
Now happening in [f37 too](https://api.cirrus-ci.com/v1/artifact/task/4933082733084672/html/sys-podman-fedora-37-root-host.log.html#t--00313)

[2022-11-03 00:15] edsantiago commented on #16132
Here's [another non-remote logs flake](https://api.cirrus-ci.com/v1/artifact/task/5073820221440000/html/int-podman-fedora-37-root-host.log.html#t--podman-create-with-mount-flag--1) (in f37 root):
[code]
I'm not saying the bug is in podman-logs, but maybe I am.

[2022-11-03 00:17] edsantiago commented on #16132
And [another one in int tests](https://api.cirrus-ci.com/v1/artifact/task/5355295198150656/html/int-podman-fedora-37-root-container.log.html#t--all-lines--json-file--1), also a podman-logs that spits out nothing.

[2022-11-03 01:26] mdavis-xyz commented on #11941
I'm assuming that @cpolizzi  's solution was to modify those files *inside* the podman VM, not the mac. (Since my Mac doesn't have that first directory, because systemd is not installed.)

I note that by default my proxy env vars were already present in the virtual machine, but all in one line, which I'm guessing is fine.

`proxy.sh` did not exist. I added that. It didn't resolve my problem.

[2022-11-03 01:31] mdavis-xyz commented on #11941
In my use case, my proxy is actually CNTLM running on the host (which in turn forwards traffic to my corporate proxy.) I suspect the issue is that there's no path for traffic from the VM to the host? I tried swapping `HTTP_PROXY=http://127.0.0.1:3128` for `http://localhost:3128`. I get the same error.
Which address should I use if my proxy server is on the Mac host?

[2022-11-03 02:24] Buzu commented on #16390
I was finally able to install podman v 4.2.1 and the problem persists.

[2022-11-03 02:34] Buzu commented on #16390
Podman version
[code]
podman info
[code]

dnf info podman
[code]

[2022-11-03 03:46] n1hility commented on #16038
@parasyte Sorry this one fell through the cracks. What's happening here is that git bash is autoconverting root paths for arguments to point to the c drive location bash is setup to emulate, so its actually "/folder" that is the source of the problem.

There is a couple solutions. One is you can prepend an additional slash like //folder. Another is you can call shell like so:

`podman run --rm -v

[2022-11-03 03:46] #16038 closed

[2022-11-03 08:34] maxandersen opened #16392 "image platform mismatch is not written in english :)"
[code]

I assume `{amd64 linux  [] }` is like an array dump?

I would have expected something like:

[code]

[2022-11-03 08:45] vrothberg commented on #16392
Thanks for opening the issue!

I opened https://github.com/containers/common/pull/1218 to fix the issue.

[2022-11-03 09:03] parasyte commented on #16038
Thanks @n1hility, that does work. I still don't know why "Unixy Windows Paths" do not work in git bash. E.g. `/c/Users/...` style paths and `$PWD` give the error shown in the OP.

[2022-11-03 09:18] vrothberg commented on #16348
ACK.  Unless we find a compelling reason, it seems like a sane default to not remove volumes.

We plan on adding Kube support to Quadlet, where users should be able to specify whether they want volumes to be removed.

[2022-11-03 09:29] vrothberg commented on #15413
@rhatdan @mheon are you cool with the proposed change to `podman info`?  @edsantiago is there something else you need?

[2022-11-03 09:49] Luap99 commented on #16390
Do you know with what version the podman was originally created? The age shouldn't matter just the version itself.

It is likely that the only solution is to recreate the pods. It is hard to find the cause and IMO not really worth to search for given that new pods work just fine.

[2022-11-03 09:58] #16392 closed

[2022-11-03 10:17] vrothberg commented on #16387
I'll take a look. Thanks, @edsantiago !

[2022-11-03 11:05] vrothberg commented on #16342
I closed the PR again as did not seem like the right approach on second thought.

What's important in the above error message is:

This failure doesn't seem to be caught by the pull-retry semantics (podman attempts at most three pulls by default). The [net.Error](https://pkg.go.dev/net#Error) interface strongly discourages from using the `Temporary()` method, and we are already using the `Timeout(

[2022-11-03 12:18] edsantiago commented on #15413
Actually... the more I think about this, the more I realize this won't work. Not without proper toml-editing tools (something like `gron` for json).  Without a scriptable way to edit toml, there really isn't any point to this. So please stand down, let's leave this for an RFE some day when tools are available. Or we can even close it.

[2022-11-03 12:28] mtrmac commented on #16342
My first impression is that this should indeed be treated as restartable by `c/common/pkg/retry` — but I didn’t now check what’s the exact type / shape / structure of the error value, so I have no opinion on what’s the best way to implement that at the moment.

[2022-11-03 12:41] gbraad commented on #15190
A similar question was opened as a discussion: https://github.com/containers/podman/discussions/16130
/cc: @n1hility @benoitf

[2022-11-03 12:48] cpolizzi commented on #11941
@mdavis-xyz Yes my solution is as follows for the proxy: https://cpolizzi.github.io/podman/podman-as-a-replacement-for-docker-desktop.html#_corporate_network_considerations.  This covers both proxying and privately issued certificates. Note that the only real workable solution is to configure SystemD globally for the needed proxy environment variables. If Podman supported / honored SystemD drop in

[2022-11-03 12:50] cpolizzi commented on #11941
@mdavis-xyz By default the podman managed machine cannot make outbound connections from the VM to the host. However, here is how to do it: https://cpolizzi.github.io/podman/orchestrating-podman-vm-to-host-communication.html

[2022-11-03 12:57] gbraad commented on #15190
@n1hility This might be an option we wanna enable WSL wide or targeted per distribution? The issue is that we also need to 'clean' this after the stop of podman machine.

[2022-11-03 13:12] tmds commented on #15300
The current behavior is: when no arch is specified, and an image with arch xyz is present, arch is assumed to be xyz rather than the host arch.

[2022-11-03 13:17] vrothberg commented on #15300
That is correct, Podman will throw a warning in that case (as Docker) but proceed.

[2022-11-03 13:32] vrothberg commented on #16387
I opened https://github.com/containers/podman/pull/16394.

[2022-11-03 13:37] rhatdan commented on #15300
If both mages are availabel XYZ and the host ARCH, does Podman do the correct thing and default to host ARCH? Or is it random based on the "last" created image?

[2022-11-03 13:44] jvulloibm commented on #15300
Just want to point out the docker behaviour is not the same, it's worse.

when arch is specified `foo`, and an image with arch `bar` is present, image with `bar` is used - effectively ignoring the --platform command after it's first used.

[code]

Output from above is always "amd64"

[code]

- Docker CLI was: Docker version 20.10.10, build b485636
- Used the latest version of docker available on 2

[2022-11-03 13:46] jvullo commented on #15300
Just want to point out the docker behaviour is not the same, it's worse.

when arch is specified `foo`, and an image with arch `bar` is present, image with `bar` is used - effectively ignoring the --platform command after it's first used.

[code]

Output from above is always "amd64"

[code]

- Docker CLI was: Docker version 20.10.10, build b485636
- Used the latest version of docker available on 2

[2022-11-03 14:04] benoitf commented on #16267
I'm having this issue from time to time as well.
Deleting the machine and performing again `podman machine init` is working

it's hard to reproduce as it happens from time to time.

[2022-11-03 14:07] benoitf commented on #16267
[code]

[2022-11-03 14:25] benoitf opened #16397 "podman machine is not being able to migrate"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Have a podman machine with 4.2.1 inside
Initialize a new one with 4.3.0
Try to restart the old machine

**Steps to reproduce the issue:**

1. podman machine start

**Describe the results you received:**

[code]

**Describe the results you expected:**

Machine is migrated

**Additional informa

[2022-11-03 14:38] Luap99 commented on #16391
Why do they run apk at all? This is just asking for flakes and adds unnecessary runtime.

[2022-11-03 15:13] hellemo commented on #14074
I experience the same problem on Windows 10. Is it not supported, or can it be added to this issue (or should I open a new issue for windows)?

[2022-11-03 15:28] jakegt1 commented on #16360
@flouthoc

[2022-11-03 15:42] flouthoc commented on #16360
@jakegt1 Sure open a PR a test would be nice.

[2022-11-03 16:01] mheon commented on #16397
@baude PTAL

[2022-11-03 16:38] benoitf commented on #16397
[code]

It looks like that as I hit https://github.com/containers/podman/issues/16267 then the json for a machine was not created and is empty but then most of the commands are failing

[code]

even the rm
[code]

I solved it using
[code]

but probably 0-size/invalid json file should be skipped

[2022-11-03 16:39] fedinskiy opened #16400 "Error, when pulling short-named image via docker api"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I have an application, which uses podman socket via test-containers library. When I am using this app to run containers, based on images which have non-qualified names (eg `postgres:9.6.12`) and were not yet pulled to the machine, it fails with an error. When I use fully-qualified names (eg `d

[2022-11-03 17:05] vrothberg commented on #16400
Thanks for reaching out, @fedinskiy.  Any chance you can break it down to a reproducer involving podman only? Digging into the code of the reproducer will slow things down considerably.

[2022-11-03 17:14] vrothberg commented on #16400
My guess is that "short names" is a red herring as short names are resolved as Docker does.  There's probably some field in the JSON message that testcontainers expect?

[code]

That's not needed as it's set to true by default.  The short-name mode isn't required to be set to `disabled` either as short names resolve to docker.io only on the compat AP (unless compat_api_enfore_docker_hub is explici

[2022-11-03 17:21] Buzu commented on #16390
I believe they were originally made with podman 3.4.7, since that was the version that was running before on the server. I can see how this is a rather hard-to-track issue, and how it may not be worth the effort. I wish I had the time and knowledge to debug this myself if anything just to satisfy my own curiosity.

[2022-11-03 18:54] #16390 closed

[2022-11-03 21:18] jonnyso commented on #16107
Well, don't know if this helps but, same problem for me on F37 Silverblue:

[code]

[2022-11-03 21:21] edsantiago commented on #16107
I believe the fix is in systemd [251.**7**](https://bodhi.fedoraproject.org/updates/FEDORA-2022-c72fd8b071), you have .6.

[2022-11-03 21:49] n1hility commented on #16038
@parasyte ah right, on that, you need a colon after the drive letter like this: `/c:/Users'.

[2022-11-03 22:04] edsantiago commented on #16140
This is a thorny one, because it isn't actually triggering a test failure: the error happens in `Cleanup()`, which for complicated reasons (which I don't actually remember any more, just that they were complicated and unsolvable) cannot do exit-status checks. https://github.com/containers/podman/blob/6428ff180a3757f399b4e0fef0222c324d780eed/test/e2e/common_test.go#L537-L539

So, the only way I hav

[2022-11-03 22:28] parasyte commented on #16038
Ok! I can work around this issue with something like: `$(echo $PWD | sed 's#^/c/#/c:/#')` to add the colon.

[2022-11-04 00:20] lucacome commented on #15423
Just a friendly ping so it doesn't go stale 🙂

[2022-11-04 02:45] n1hility commented on #15579
Handled by  https://github.com/containers/podman-desktop/issues/225

[2022-11-04 02:45] #15579 closed

[2022-11-04 02:46] mdavis-xyz commented on #11941
Yes those two instructions together worked for me. Thanks!

[2022-11-04 03:31] wanfade commented on #16106
I also got troubled with open files limit in macOS m1 chip. It seems to be related to this issue.
In my case, there are mysql and mongoDB container, they got error (24) : too many open files when initialize.

[2022-11-04 07:52] paul-grozav opened #16404 "There is no option to set ulimit while using podman kube play"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I would like to revive this issue from the redhat bugzilla tracker: https://bugzilla.redhat.com/show_bug.cgi?id=1950183 . I'm facing a similar issue.

This is my context (machine setup) - And to be honest, it'll be hard to upgrade the entire OS just for a patch on podman(but that's anothe

[2022-11-04 08:07] fedinskiy commented on #16400
@vrothberg I saw a comment[1] in this repo, which mentions logging of socket operations. I was not able to find anything about it in the docs, but hoped you know something about this option. In that case, I will be able to make a curl version of the reproducer.

Also, I believe, there are two problems:
1. The image is not being pulled
2. There is a Json response with (potential) fields "stream", "

[2022-11-04 08:28] giuseppe commented on #16107
I think this issue can be closed since it has been fixed in systemd and there is no action to take in Podman, but please feel free to comment further

[2022-11-04 08:28] #16107 closed

[2022-11-04 08:36] vrothberg commented on #16400
Thanks a lot for your help, @fedinskiy!  One way to get the logs is to run `podman --log-level=debug system service -t0`.  This will spin up the server and listen on the usual socket.  You can run curl against the socket and then you'll get the debug messages on the server side.

That may be the important part.  I am curious to see the reproducer and compare docker's response with the one of podma

[2022-11-04 08:40] vrothberg commented on #16404
Thanks for reaching out!

This is working in more recent versions of Podman:
[code]

See the **memory: 10Mi**?

[2022-11-04 08:41] vrothberg commented on #16404
Ah, apologies, the **ulimits** are not added yet.

[2022-11-04 09:22] #16387 closed

[2022-11-04 09:30] paul-grozav commented on #16404
Oh, thanks for confirming this, I didn't test with version `4.3.0-rc1`

[2022-11-04 10:31] lalbers opened #16405 "Discussion: Podman Inside Kubernetes - networking issues (unprivileged)"
### Podman Inside Kubernetes - Networking Issues

As mentioned in the following article, it is possible to run podman inside Kubernetes.
https://podman.io/blogs/2021/07/01/podman-inside-kubernets.html

There are different variants described, currently I am trying to run podman on a non-privileged pod (_Rootful Podman without the privileged flag_).

Basically, this works very well. The pod can even

[2022-11-04 10:37] rhatdan commented on #16405
This is a discussion not an issue ...
Podman requires either privileges CAP_NET_ADMIN or perhaps more to setup a network,  With slirp4netns, you probably need to leak the /dev/net/tun into the container.

[2022-11-04 10:54] faern opened #16406 "Unable to pull and verify images signed with a GPG *subkey* ("None of the signatures were accepted")"
/kind bug

**Description**

I'm unable to pull and verify an image signed with a GPG *subkey*, but it works fine if the image was signed directly with the main/master key. It is good practice to work with subkeys and only use the main GPG key for signing the subkeys. But this recommended workflow does not currently work with podman for me. I have tried this with both ed25519 and rsa4096 keys, same

[2022-11-04 11:17] lalbers commented on #16405
Thanks @rhatdan, i also added net `NET_ADMIN `. That definitely helped.
[code]

However, there seems to be another problem. If I find out more, I will post it here
[code]

[2022-11-04 11:20] rhatdan commented on #16404
Interested in opening a PR?

[2022-11-04 11:21] bjorndown commented on #16041
Related PR: https://github.com/containers/podman/pull/12748

`/etc/profile.d/ssl_cert_file.sh` is written during ignition which exports SSL_CERT_FILE.

Scripts in `/etc/profile.d` are usually only [sourced in interactive environments](https://www.linuxfromscratch.org/blfs/view/11.0/postlfs/profile.html) which might be why `SSL_CERT_FILE` is not available to systemd services.

[2022-11-04 11:30] fedinskiy commented on #16400
I used this command for debugging purposes, to shrink the amount of logs:
[code]

This is what I get from podman debug logs(`podman --log-level=debug system service -t0`):

[code]

[2022-11-04 11:33] calvin2021y commented on #10384
when use `podman unshare unshare -n` , I can not change the hostname in rootless mode.   is there a way to start with a fixed hostname ?

[2022-11-04 11:56] fedinskiy commented on #16400
So, I pruned all images and tried to run the request in question:

Podman:
[code]
Docker
[code]

[2022-11-04 11:59] #16376 closed

[2022-11-04 12:00] Luap99 commented on #10384
Hostname requires a UTS namespace as well. `unshare -n -u` should work

[2022-11-04 12:12] bjorndown commented on #16041
Passing `SSL_CERT_FILE` via `-fw_cfg` could be an option. This is also how proxy settings are propagated.

https://github.com/containers/podman/blob/main/pkg/machine/qemu/machine.go#L566-L574

[2022-11-04 12:25] calvin2021y commented on #10384
Thanks for explain, with `unshare -n -u` allow me set hostname.

I guess this is ns the child of "podman unshare --rootless-cni ip a".

 how can i get the pid of "podman unshare --rootless-cni ip a", so I can modify it with root user like this:

[code]

[2022-11-04 12:26] joe733 commented on #8739
I'm trying to do the something similar:

[code]

This command:

[code]

ends in

[code]

What am I missing?

[2022-11-04 12:28] Luap99 commented on #16405
If /proc is mounted read only in your container podman/netavark cannot set sysctl values. The `ping_group_range` one can be commented out in containers.conf AFAIK.

[2022-11-04 12:31] Luap99 commented on #10384
This is not related to this issue. Please open a new discussion instead of commenting on old issues: https://github.com/containers/podman/discussions

[2022-11-04 12:33] vrothberg commented on #16406
Thanks for reaching out, @faern!

@mtrmac PTAL

[2022-11-04 12:40] w60001 commented on #15382
I'm seeing the exact same issue.  Any updates / hints / workarounds?

[2022-11-04 12:51] w60001 commented on #15382
And some more context...

I see the same issue on Podman 4.2.0 and 4.3.0.  Executing `podman machine init` without the image-path flag works fine.

[2022-11-04 12:59] w60001 commented on #15382
This may not be the case for the original post, but for me this only happens when my Windows image path has a space in it.

`podman machine init --image-path "C:\Path with Spaces\rootfs.tar.xz"`

And yes I'll stop posting updates now...  😄

[2022-11-04 13:08] joe733 commented on #8739
I get the same error with:

[code]

where `buildarg.sh` is

[code]

Sources:

1. https://stackoverflow.com/a/43475672/8828460
2. https://stackoverflow.com/a/71088107/8828460

`podman version 4.3.0`

[2022-11-04 14:02] mtrmac commented on #16406
Yeah… the system is designed to only accept signatures by a specific set of key identities (and that enforcement exists even if the user provides a single public key file, where we extract the identities from the keys themselves).

And GPGME, which we use, awkwardly returns the primary fingerprint on import, but the subkey fingerprint on signature verification.

It seems _possible_ to support subk

[2022-11-04 14:08] n1hility commented on #15382
@w60001 i believe this is a bug with fully qualified path handling, you should be able to workaround with a relative path ´—image-path .\rootfs.tar.gs´

[2022-11-04 14:17] faern commented on #16406
Thanks for the quick responses.

I'm not sure how third party servers are involved here. A signature verification is a local operation. You should be able to extract from gpgme if a subkey is valid, expired or revoked. But all of this should be local data that you can get from GPG. The simplest is just to never treat a signature as valid if the key has been revoked (even if the revocation happened

[2022-11-04 14:27] faern commented on #16406
As an example, if you sign a commit in git with a valid signing subkey (something we do all the time), and then you revoke the subkey, then git will say this:
[code]

And the exit code from that command is `1`. So git clearly treats it as an error/invalid signature even if the signature was made prior to the revocation.

So I think the logic for podman could be somewhat simple: Find the (sub)key t

[2022-11-04 14:38] mtrmac commented on #16406
(Warning: first impressions without really spending enough time to consider the trade-offs.)

Whether a _signature_ is valid depends on the time the signature was made, and under the assumption that the revoked subkey was compromised, the signature itself is not a trusted source of timestamp information.

Yeah, but then revoking the subkey, and distributing that updated public key, immediately bre

[2022-11-04 14:40] faern commented on #16406
I'd argue that this is not true. As I referenced above: Git treats all signatures made by a key as invalid if it knows the key is revoked, even if it was revoked after the signature was made. Time is irrelevant. Many people who use GPG and employ revocation generate the signed revocation message directly when they generate the keys. Then they keep the revocation file protected and release it to th

[2022-11-04 14:42] mtrmac commented on #16406
Yeah, but Git does not enforce signature validity in a comparable way. A Git commit with a later-revoked signature continues to exist in the history forever.

A signed container image with a revoked signature + a random need to actually pull it (e.g. because a computer went down and the workload is being migrated to another computer) = data center downtime until a human intervenes.

[2022-11-04 14:45] faern commented on #16406
Yes indeed. If you have learned that a key is revoked, you probably want to immediately stop trusting anything it ever signed. If someone revokes their key because the key has been compromised, no signature can be trusted, since it can't be proven if the signature was made before or after it was compromised. The person revoking the subkey should create a new subkey that is signed with the master k

[2022-11-04 14:48] faern commented on #16406
If a user wants to pull an image signed with a revoked key and they truly don't care. They can disable the signature checking policy for this image, or they can modify the public key file to not contain the revocation, making it still look valid. If that's their threat model, they can do that. Pulling in the revocation in the first place was their own decision.

[2022-11-04 14:48] rhatdan commented on #16041
@ashley-cui @baude WDYT?

[2022-11-04 14:49] rhatdan commented on #16405
Nice

[2022-11-04 14:50] faern commented on #16406
Btw, how is this different for subkeys compared to main keys? I don't see how a revoked main key would work any different compared to a revoked subkey :thinking:

[2022-11-04 14:53] faern commented on #16406
Maybe I misunderstand here, but this is exactly what subkeys are for. The main key should be hidden, and only the subkey exposed to the machine that signs images. If a subkey is compromised the maintainer can revoke it and generate a new subkey that is signed with the same main key. They then distribute the updated key and any consumer of this can see that the subkey changed but is signed with the

[2022-11-04 14:53] rhatdan commented on #8739
Can you try with the context directory at the end?

podman build $(./buildarg.sh .env) -f dockerfile-dev -t reaper:dev .

[2022-11-04 14:54] giuseppe commented on #16350
I am not able to reproduce on vanilla Fedora.

Could you share the output of `cat /proc/self/mountinfo`?

[2022-11-04 14:55] mtrmac commented on #16406
(That’s just not how security works in practice. Even critical known-to-be-exploited vulnerabilities are very rarely a reason to take the whole application down; users frequently value the application availability too much. Hence, change windows, testing deployments, staged roll-outs…

I’m not saying that accepting revoked signatures should be the _default_, just that many users would probably wan

[2022-11-04 14:58] mtrmac commented on #16406
Note that container signatures don’t carry the public key along in the signature blob (and a signature can somehow contain a subkey update, at this point I think I’d consider that a vulnerability). So signature consumers need to manually decide to distribute an updated public key record either way, and that will involve some human having to think whether the public key file update is legitimate.

[2022-11-04 15:05] faern commented on #16406
If they get a new primary key they need a way to verify its authenticity. Usually by obtaining the fingerprint from some known good source and comparing it. They don't need to do this if only the subkey changes, because then they keep the trust in the primary key, which remains the same. Which is exactly what subkeys are for.

[2022-11-04 15:12] faern commented on #16406
I'm fine with this! As long as it is possible to use subkey signatures at all. We don't want to expose our master keys outside air gapped systems. So the signing servers can't have it.

[2022-11-04 15:18] mtrmac commented on #16406
The `keyData`/`keyPath` can be a keyring, so that allows a gradual transition (and because the policy is scoped to individual repos or namespaces, that transition can be tightened per-repo over time). Or, recently, `keyPaths`.

The actual timing of the transition would need to be managed explicitly, by distributing policy / file updates; and those updates would need to be manually prepared. But it

[2022-11-04 15:24] faern commented on #16406
No, not really. If you have primary key `A` and you have marked it with an appropriate trust level in your keyring. And then you do `gpg --import update_to_a.asc` then GPG will automatically merge the update and keep the trust level if the update is properly signed. This is all built in and works smoothly by default. If you instead get a new key file with key `B` in it, GPG has no automated way of

[2022-11-04 15:45] desultory-zz opened #16411 "Unable to set mac address with docker-compose"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm unable to set a static MAC address to containers using docker-compose

**Steps to reproduce the issue:**

1. Deploy bridge network
2. Start podman-docker
3. Ensure network is crated with `podman network ls` and `podman network inspect pod-bridge`
5. Start the container with `docker-compos

[2022-11-04 15:54] rhatdan commented on #15708
Since we have heard no further action on this issue, I am going to close.  Reopen if you believe there is still more work to be done.

[2022-11-04 15:55] rhatdan commented on #15664
@kkimdev @baude What is going on with this issue?  Is this still relavent?

[2022-11-04 16:25] bpfoster opened #16412 "Podman does not report all expected cgroup controllers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am on a fresh Rocky 9 install and trying to get kind setup and running.  It is failing saying that I need to configure systemd delegation.  I have done this according to steps like https://github.com/containers/podman/blob/main/troubleshooting.md#26-running-containers-with-resource-limits-f

[2022-11-04 16:40] nmerket opened #16413 "podman not aware of local certificate bundle"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Related to #2726

I am trying to use podman on a network at my organization where all ssl traffic is signed by a company certificate. I have the certificates installed locally and in the following environment variables:

- SSL_CERT_FILE
- SSL_CERT_DIR
- AWS_CA_BUNDLE
- REQUESTS_CA_BUNDLE

All

[2022-11-04 16:57] rhatdan commented on #16411
@baude PTAL

[2022-11-04 17:41] cevich opened #16415 "In `CONTRIBUTING.MD`, it's mentioned to run the following to do `make lint` and `make validate`"
In `CONTRIBUTING.MD`, it's mentioned to run the following to do `make lint` and `make validate`
`podman build -t gate -f contrib/gate/Dockerfile .`
However there's no such file `contrib/gate/Dockerfile` in the repository.

Further it's also mentioned to do the following:
[code]
This returns an error:
`ERROR: Expecting libpod repository root at /usr/src/libpod (gate container entrypoint)`

Also, wh

[2022-11-04 18:03] rhatdan commented on #16392
Damn Humans.

[2022-11-04 18:45] ashley-cui commented on #16041
Sounds reasonable to me! @bjorndown Would you be interested in opening a PR?

[2022-11-04 19:12] rhatdan commented on #16106
@gbraad Do you know if this is easily overridden?

[2022-11-04 19:25] rhatdan commented on #16404
Can you specify a ulimit within a kubernetes.yaml file?

[2022-11-04 19:30] rhatdan commented on #16404
Perhaps the solution would be for us to add --ulimit to `podman kube play` command?

[2022-11-04 19:31] rhatdan commented on #16404
podman pod create should probably have a ulimit as well.

[2022-11-04 19:31] rhatdan commented on #16404
@cdoern PTAL

[2022-11-04 19:56] ashley-cui commented on #16367
Currently this is intended behavior, as connections are not exclusive to podman machine, but rather podman-remote as well. `podman system connection default my-machine-connection` should set your default connection correctly without needing to manually edit containers.conf.

[2022-11-04 19:56] #16367 closed

[2022-11-04 20:02] ashley-cui commented on #11541
Alright, I'm starting to actively work on this, thanks for holding tight y'all :)

[2022-11-04 22:06] ssbarnea commented on #11541
@ashley-cui Thanks. Ping me for testing, macos support is important for me and I would be more than happy to spend some time and help making podman on macos easier to use.

[2022-11-04 22:22] faern commented on #16406
I guess our solution at the moment will be to create a brand new GPG key (without subkeys), sign it with our main key and distribute it to all employees. We don't really use containers to *deploy* anything, but rather distribute trusted development environments to all programmers. If a key is ever compromised, we immediately want everyone to stop using the containers signed with that key.

However

[2022-11-05 04:05] joe733 commented on #8739
Yes, I tried.

[code]

Didn't help.

[2022-11-05 07:57] kkimdev commented on #15664
It will be a good feature to support but it seems there is no good way to implement it at this moment.

I think it's good to update the document and close the bug as "won't fix".

[2022-11-05 11:11] maxandersen commented on #16392
I Know, right?

[2022-11-05 11:52] koppor commented on #11530
On `cmd.exe` on Windows, I have the same issue independent of the quotes.

Installed Podman 4.3.0 using `podman-desktop`.

[2022-11-05 12:59] bjorndown commented on #16041
@ashley-cui Yes, I will give it a try.

https://github.com/containers/podman/issues/16413 does look related. Should I include `SSL_CERT_DIR` as well? So far it is not being propagated, or at least I have not found references in the code.

[2022-11-05 14:35] duoduobingbing opened #16417 "Windows: Pulling images without full names in Powershell causes "short-name resolution enforced but cannot prompt without a TTY""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Running podman on Windows, running e.g. `podman pull eclipse-temurin:17` in PowerShell causes `Error: short-name resolution enforced but cannot prompt without a TTY`.

I know that this can be worked around by either prepending `docker.io/` to the requested image name or by setting `short-

[2022-11-05 15:07] paul-grozav commented on #16404
@rhatdan

Q1: `Interested in opening a PR?`
A1: If that was intended for me, I don't have much experience in Go, it might take longer than it would take you - but that doesn't mean I shouldn't try - I'll get back with a pull-request if this is not fixed in the meantime :)

Q2: `Can you specify a ulimit within a kubernetes.yaml file?`
A2: It seems no, you pointed to this, https://github.com/kuberne

[2022-11-05 15:36] lalbers commented on #16405
I'll close this issue, since it is working with this workaround. Should I notice further implications, I'll reopen this again.

[2022-11-05 15:36] #16405 closed

[2022-11-05 17:56] nivekuil opened #16419 "podman generate systemd --restart-sec is not honored by containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman generate systemd --restart-sec pod` only generates `RestartSec=` in the pod service, not the container service. This basically renders it ineffective since the containers are the ones likely to be restarting.

**Steps to reproduce the issue:**

1. `podman generate systemd --restart-se

[2022-11-06 10:06] eriksjolund opened #16421 ""podman cp" copies directories with a name ending with a "." differently"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

On a Fedora 36 computer

1. Create a new directory and cd into it
[code]
2. In this directory create a file named _Dockerfile_ with the file contents:
[code]
3. Create a file named _/tmp/cp_test.sh_ with the file contents:
[code]
4. Run these commands
[code]

[2022-11-06 12:04] niklasfi commented on #14390
Hey I've run into this as well. My use case is, that I am running podman-compose and sharing a compose-file with co-workers who are using docker-compose. podman-compose just forwards the extra_hosts configured in the compose-file to podman which unfortunately leads to the problem, that podman does not understand `host-gateway`. I have tried to override the behavior by using a podman-compose.yaml t

[2022-11-06 12:15] #16025 closed

[2022-11-06 12:21] jakegt1 commented on #16360
Have made the MR.

I think the test is quite a typical use case someone would do using APIClient in docker py. It fails without the change I made.

Podman also fails building with jenkin's docker-plugin currently, so i think this is a good test as other consumers would be likely to do similar code. As there is no case where docker will flush more than one object at once (which makes sense anyway t

[2022-11-06 22:18] zackman0010 opened #16423 "Rootless Podman - SELinux Relabelling Issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Our current setup uses the `~/.config/containers/storage.conf` file to overwrite `graphroot` and `rootless_storage_path` to a folder `/usr/local/csapps/podman/storage`. This folder is owned by the `csapp` user. We do not have root access, so we are utilizing rootless Podman. Attempting to cre

[2022-11-06 23:25] steffhip opened #16424 "Missing Quota Support in rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't find any hint in the manual that the rootless podman does not support disk-quota or container file-size limitations (be it by missing implementation or privilege limitations of the running system).
Thus I guess it should be possible, but struggle to get it working

**Steps to reproduc

[2022-11-07 05:55] NTMan opened #16425 "Podman tries update container on every start after adding "--platform=linux/amd64" key to "podman run" command."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
To unify the startup script, I added the "--platform=linux/amd64" key to the "podman run" command to support running containers on MacOs.
But it leads to update container on every start.

**Steps to reproduce the issue:**

1. Run container with podman with command
[code]

**Describe the result

[2022-11-07 08:18] ygalblum opened #16426 "rerun_cirrus_cron workflow always fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The GitHub action retrun_cirros_cron always fails because it is misconfigured. The third step contains both `run` and `uses` which according to the error message is not allowed.

See [this](https://github.com/containers/podman/actions/runs/3408369275) as an example

[2022-11-07 08:47] vrothberg commented on #16417
Thanks for reaching out, @duoduobingbing!

The code in question is here: https://github.com/containers/image/blob/main/pkg/shortnames/shortnames.go#L355-L367

Pulling in our windows expert for advice.  @n1hility WDYT?

[2022-11-07 08:48] vrothberg commented on #16419
Thanks for reaching out, @nivekuil !

[2022-11-07 08:53] vrothberg commented on #16425
Thanks for reaching out, @NTMan!

By "updating" I assume you refer to "pulling" down the image?

[2022-11-07 09:05] NTMan commented on #16425
yes

[2022-11-07 09:11] marcosstefani opened #16427 "podman machine init fails on M1 with Ventura update"
**Is this a  or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can't boot podman after I updated the OS to Ventura on M1.

**Steps to reproduce the issue:**

1. Run brew install podman && podman machine init

**Describe the results you received:**
[code]

**Subsequent call results in:**
[code]

**Describe the results you expected:**
Having running usable podman

[2022-11-07 09:51] mahmut-Abi opened #16428 "after podman tag , i go an image prefix with localhost."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when i run `podman tag docker.io/library/registry:latest registry:latest` then i got `localhost/registry:latest`
i am trying to remove the `localhost`, but i can`t.
so, can anyone can help me, how to remove the prefix `localhost`
podman = docker? or podman != docker?
**Steps to reproduce the

[2022-11-07 09:52] p-himik commented on #14104
I can reproduce it on Ubuntu 22.04 with both the default 3.4.7 and the latest 4.3.0, even after removing `~/.local/share/containers`.

[2022-11-07 09:55] vrothberg commented on #16428
Thanks for reaching out @mahmut-Abi.

i am trying to remove the localhost, but i cant. so, can anyone can help me, how to remove the prefix localhost`
podman = docker? or podman != docker?

Image short names (i.e., those without a domain etc.) are treated differently in Podman.  The following article goes into some of the details: https://www.redhat.com/sysadmin/container-image-short-names

In you

[2022-11-07 11:21] mahmut-Abi commented on #16428
i found the same issue containers/podman [#1034](https://github.com/containers/buildah/issues/1034)

[2022-11-07 11:21] #16428 closed

[2022-11-07 12:03] rhatdan commented on #14390
Just need to get someone to work on it.

[2022-11-07 12:10] edsantiago commented on #14917
Did you mean to close this? Today's run shows the following differences:

 - [ ] docker  --config
 - [ ] docker  --context
 - [ ] docker  --debug
 - [ ] docker  --host
 - [ ] docker  --tls
 - [ ] docker  --tlscacert
 - [ ] docker  --tlscert
 - [ ] docker  --tlskey
 - [ ] docker  --tlsverify
 - [ ] docker  -D
 - [ ] docker  -H
 - [ ] docker  -l
 - [ ] docker cp --follow-link
 - [ ] docker cp -L
 -

[2022-11-07 12:19] rhatdan commented on #14917
NO I Did not, we might need to fix our script a little to handle the hidden options.

[code]

[2022-11-07 12:24] edsantiago commented on #14917
The hidden options are, by definition, not listed in the man page.

I'm acting on the assumption that we're almost done with these, and (fingers crossed) won't need to perform this exercise again. If we do need to repeat this, I guess I'll need to define and maintain a hardcoded list of exceptions. I will defer that problem for the day it's needed :wink:

[2022-11-07 12:27] rhatdan commented on #14917
Your updated lists seems to be missing some of the original ones that are still not fixed.

[2022-11-07 12:33] rhatdan commented on #15887
I am going to close this since I assume it is fixed, reopen if I am mistaken.

[2022-11-07 12:33] #15887 closed

[2022-11-07 12:38] rhatdan commented on #16022
@giuseppe @flouthoc @Luap99 any movement on this issue?

[2022-11-07 12:39] rhatdan commented on #15986
@gbraad @baude PTAL

[2022-11-07 12:40] rhatdan commented on #8739
What does $(./buildarg.sh .env) expand to?

[2022-11-07 12:45] rhatdan commented on #16404
@cdoern or @umohnani8 Care to take a stab at Option 3?

[2022-11-07 12:47] cdoern commented on #16404
Sure @rhatdan I'll try it this week

[2022-11-07 12:58] rhatdan commented on #16048
I don't believe this is something Podman can fix, but I am sure updated qemu will fix it.

[2022-11-07 12:58] #16048 closed

[2022-11-07 13:08] cfelder commented on #16048
Indeed this must be fixed on ``podman-machine-qemu`` and is addressed in PR containers/podman-machine-qemu#8.
Nevertheless the installer ``pkg`` files are shipped in this repo.

[2022-11-07 13:19] vrothberg commented on #16417
For some reason I thought, the prompting works for remote clients but you are right.  We decided against attempting to do it because it would be massive change breaking backwards compat and very hard to keep stable since too many commands and code paths would need to prompt.  Thanks for pointing that out, @Luap99.

`podman machine init` should configure only one unqualified-search registry though.

[2022-11-07 13:34] edsantiago commented on #16091
New symptom in [remote f37-aarch64 root](https://api.cirrus-ci.com/v1/artifact/task/6695273052241920/html/sys-remote-fedora-37-aarch64-root-host.log.html#t--00082):
[code]

[2022-11-07 13:56] DanStory opened #16431 "podman api cause conmon defunct leak"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
We are using podman-in-docker as a task runner and found that we can easily exhaust our `pid_max` on the host as containers and exec sessions are cycled through their [short] life. Further investigation highlights that the `conmon` (and `fuse-overlayfs`*) processes are not cleaning up properly

[2022-11-07 14:15] mheon commented on #16431
This is not a leak. See #15377. Closing as a dupe.

If you are actually running out of PIDs, you can adjust the 5 minute timer via the `exit_command_delay` field in containers.conf; lowering to 5 to 10 seconds will probably resolve your issue (depending on how slow your environment is; a heavily-loaded system or a low-spec edge device might need the higher end, but 5 seconds ought to be fine other

[2022-11-07 14:22] DanStory commented on #16431
I am aware of that ticket, however even after 6 minutes (as the script demonstrates) or even 19 minutes they are still around.

[code]

[2022-11-07 14:33] mheon commented on #16431
Have you reproduced anywhere that is not WSL? I wonder if this is something about their init environment - I know there are nonstandard things there.

[2022-11-07 14:37] mtrmac commented on #16031
@StarpTech Please attach the full debug log; you have chosen precisely the irrelevant part (copying of the image config, which is never compressed).

---

A few general notes:

- `"mediaType": "application/octet-stream",` will not be touched; the semantics of that object is unknown, so Podman does not know whether it is OK to compress it, and what `mediaType` to use to represent the outcome of the

[2022-11-07 14:44] mheon commented on #16427
@ashley-cui PTAL

[2022-11-07 14:45] mheon commented on #16426
@cevich PTAL

[2022-11-07 14:46] mheon commented on #16424
@rhatdan Is this omitted because rootless cannot support it?

[2022-11-07 14:46] ashley-cui commented on #16427
Looks like you have an existing machine from a previous install. If you are not particularly attached to your current machine, try podman machine rm and re-creating your podman machine.

[2022-11-07 14:46] mheon commented on #16423
@rhatdan PTAL

[2022-11-07 14:47] mheon commented on #16421
@vrothberg PTAL

[2022-11-07 14:49] DanStory commented on #16431
This originally cropped up in our production deployment on AWS EKS and we were able to reproduce it on our vSphere cluster using CentOS VM with the same k8s application deployed. I have only been using my workstation (/w WSL) to try and isolate the issue further. I can further troubleshoot on the CentOS VM (i.e. use the above script to see its outcome as well) later today, to rule out my WSL from

[2022-11-07 14:49] #16360 closed

[2022-11-07 14:51] rhatdan commented on #16424
Rootless users are not allowed to create device nodes.
 mknod /home/steff/.local/share/containers/storage/overlay/backingFsBlockDev.tmp:  operation not permitted

[2022-11-07 14:52] rhatdan commented on #16424
@giuseppe any way to work around this?

[2022-11-07 14:56] mheon commented on #16431
Could be as simple as there being no reaper inside the outer container. If you add `--init` to the outer (Docker) container, does that resolve things?

[2022-11-07 14:59] rhatdan commented on #16423
Does this help?
https://github.com/containers/podman/blob/main/troubleshooting.md#11-changing-the-location-of-the-graphroot-leads-to-permission-denied

[2022-11-07 15:00] StarpTech commented on #16031
Please try it yourself. It is very easy to reproduce with my steps above. I'd expect that podman behaves like docker. This behavior is totally unexpected because I specified compression which isn't applied.

When uncompressed this has an impact on all images that use the image as a base. It would be great to control this with a flag.

[2022-11-07 15:05] mtrmac commented on #16031
`podman push` is not going to use `application/octet-stream` in ordinary usage. `docker.io/node:16-alpine` does not use that either.

So the steps to reproduce, already fairly minimal, are almost certainly missing a critical element.

[2022-11-07 15:18] DanStory commented on #16431
I think you'd be right, the processes cleaned up after 5mins in my local WSL environment. I'll have our CentOS environment reconfigured to do the same and report back.

Is this something we missed in the docs or just different between podman vs docker when having podman-in-x?
Didn't seem to be called out in the [image repo](https://quay.io/repository/containers/podman) or [article](https://www.red

[2022-11-07 15:36] duoduobingbing commented on #16417
Of course:

[code]

That's sad but understable, but it would have been very nice to have the select dialogue in Powershell as well.

[2022-11-07 15:37] duoduobingbing commented on #16417
Of course:

[code]

That's sad but understable, but it would have been very nice to have the select dialogue in Powershell as well.

[2022-11-07 15:39] mheon commented on #16431
This is a thing with almost any container: by default, inside the container, you don't have an init - and thus, you have nothing to reap processes that reparent (like Conmon does in order to daemonize). It's a problem with Podman, Docker, and most Kubernetes containers (the only implementation I can think of that doesn't have it would be LXC) - stems from the model of single-service containers, wh

[2022-11-07 15:42] rhatdan commented on #16417
The issue is the Windows image has 4 registries defined, where as podman machine on a MAC only lists docker.io.  We need to change the image we use in WSL by default to not have multiple registries.

@n1hility WDYT?

[2022-11-07 15:46] mheon commented on #16417
We'd be seeing this everywhere if that was actually the case. I suspect Podman on WSL in general is fine, but we have an environment issue here that has cause the registries to not be modified on machine creation.

[2022-11-07 15:49] mheon commented on #16413
@baude @ashley-cui PTAL

[2022-11-07 15:49] mheon commented on #16412
@giuseppe PTAL

[2022-11-07 15:50] fedinskiy opened #16432 "Db2 container started via podman is not acessible for connection"
/kind bug

**Description**

If I start official DB2 container via docker, then I connect to it via jdbc connector or telnet. If I start it via podman, then I receive "Connection refused" error or it's analogues

**Steps to reproduce the issue:**

1. Start db2 container:
[code]
2. Try to connect to it from another terminal: `telnet localhost 5000`

**Describe the results you received:**
[code]
or
[

[2022-11-07 15:58] vrothberg commented on #16417
Let's have a look at the code.  I recall doing enforcing docker.io via ignition.  Did something change?

[2022-11-07 15:58] Luap99 commented on #16431
@mheon We already have a small reaper built into the podman service, https://github.com/containers/podman/blob/main/pkg/servicereaper/service.go
We could add the conmon pids to it to fix it when run as pid 1 in a container.

[2022-11-07 16:00] fedinskiy commented on #16432
@mheon same thing happens with 127.0.0.1

[code]

[2022-11-07 16:01] Luap99 commented on #16417
WSL does not use ignition AFAIK, it uses completely different setup code compared tp the qemu backend.

[2022-11-07 16:07] mheon commented on #16432
Can you access the port from other systems?

[2022-11-07 16:11] sonman commented on #14884
You may add `--cgroupns=host` to your docker config in jammy.

[2022-11-07 16:12] n1hility commented on #16417
@rhatdan  Yeah I agree. This should be changed to mirror. I'll send a PR today. @Luap99 is correct that WSL based provisioning takes a different path since its not CoreOS based (instead derived from base Fedora). In this case it's taking the package defaults.

[2022-11-07 16:16] vrothberg commented on #16417
Thanks folks. Here's the ignition code: https://github.com/containers/podman/blob/main/pkg/machine/ignition.go#L428-L446

It worries me that Windows and Mac differ for configuring the machines. Maybe we can find a way to consolidate parts of the setting up the machine.

[2022-11-07 16:17] mheon commented on #16432
Any chance you can try with the Netavark network backend instead of CNI?

[2022-11-07 16:18] fedinskiy commented on #16432
[code]

[2022-11-07 16:18] fedinskiy commented on #16432
Probably. I can do it with any backend. Is there a manual?

[2022-11-07 16:20] mheon commented on #16431
That seems like a good idea - I don't know how common `podman system service` in a container is, but it does seem like something we ought to support.

[2022-11-07 16:25] Luap99 commented on #16432
Do you run rootless? If so, cni/netavark doesn't matter since it is not used by default.
You can try a different port forwarder with `--network slirp4netns:port_handler=slirp4netns`.
Please also try 127.0.0.1 instead of localhost, port forwarding with `::1` will not work when run as root.

To switch from cni to netavark you just have to run `podman system reset` (deletes all containers/images) , a

[2022-11-07 16:42] rhatdan commented on #16056
I believe that @na0x2c6 has the solution, so I am closing, reopen if I am mistaken

[2022-11-07 16:42] #16056 closed

[2022-11-07 16:56] Luap99 commented on #16022
I take this, it is an easy fix.

[2022-11-07 17:04] giuseppe commented on #16412
In what cgroup are you running podman?  `cat /proc/self/mountinfo` will tell you

[2022-11-07 17:27] bpfoster commented on #16412
Still trying to learn this cgroup stuff...
[code]

[2022-11-07 18:01] Luap99 commented on #14104
@p-himik Please create a new issue with a reproducer. As mentioned above, we are unable to reproduce.

[2022-11-07 18:03] Luap99 commented on #16405
FYI I think this was fixed in https://github.com/containers/podman/pull/16209 so it should not be needed to manually set it in future versions.

The problem with that is that the `ping` command may not work in your container.

[2022-11-07 18:47] ValentinParamonov opened #16436 "Calling `inspect` with a `{{json .}}` template doesn't unwrap the object"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Call `podman inspect -f '{{json .}}' busybox`

**Describe the results you received:**

A JSON array with a single object inside of it:
[code]

**Describe the results you expected:**

I'd expect the output to be the same as docker's (not sure about the for

[2022-11-07 19:06] Hi-Angel commented on #7052
This bug wasn't solved or am I missing something? There's a workaround of `--userns=keep-id` which works for me. However, it isn't default and there's doesn't seem to be an option to make that default, or is there?

This is a deal-breaker for `podman-docker` packages, because when you try to replace docker with podman through means of that package, you stumble upon exactly this incompatibility whi

[2022-11-07 19:20] rhatdan commented on #7052
I really do not know what  you are expecting.  Docker does not have a --userns flag at all, so not sure why this is not a replacement.  Show me a  command in Docker which does not work the same was as Podman.

[2022-11-07 19:27] #16022 closed

[2022-11-07 19:29] #16208 closed

[2022-11-07 19:30] Hi-Angel commented on #7052
Sure

[code]

This causes problems like `Permission Denied` when you're compiling inside the container as a non-root user *(which is a part of CI, that makes sure that build can happen as a non-root user)*. That works in Docker but not in Podman.

[2022-11-07 19:39] rhatdan commented on #7052
You are comparing apples and oranges.  The files are owned by the same user but Podman is in a user namespace, while Docker is running as root in the hosts user namespace.

So you are compilin as user 998 within the container, which in the case of a user namespace is not the correct user.

You can create a file like
$ cat ~/.config/containers/containers.conf
[containers]
userns = "keep-id"
$ podma

[2022-11-07 19:42] Hi-Angel commented on #7052
Oh, there is an option to make that default, the

[code]

Thanks! That works for me

[2022-11-07 22:40] DanStory commented on #16431
We added [`tini` ](https://github.com/krallin/tini) to our custom podman container image and used it as the entrypoint. This removed the need for different container configurations (docker vs k8s, etc.) and we verified that it cleaned up the the defunct `conmon` and `fuse-overlay-s` processes in both environments. We additionally reduced the `exit_command_delay` to help ensure exec session creatio

[2022-11-07 23:58] zackman0010 commented on #16423
@rhatdan Unfortunately not, still same error after running those commands. The folders were relabeled successfully, but volume still would not create.

[2022-11-08 01:17] joe733 commented on #8739
[code]

[2022-11-08 02:07] zackman0010 commented on #16423
So I was looking through the code in the 4.1.1 tag and traced the error.
The specific error being thrown is located in [LabelVolumePath](https://github.com/containers/podman/blob/f73d8f8875c2be7cd2049094c29aff90b1150241/libpod/util_linux.go#L113). The call that causes the error is SELinux's `Relabel` function, which ends up going down through the `chcon` function with `recurse` set to true. This e

[2022-11-08 03:39] corinz commented on #15819
+1 looking forward to it @mheon ! Please post the link

[2022-11-08 06:31] therevoman commented on #9164
Just experienced this with Fedora 36 after getting the latest podman.  FWIW, podman system renumber doesn't remove the file in /dev/shm and so I couldn't fix the issue until I found this thread.

[2022-11-08 08:10] fedinskiy commented on #16432
[code]
Result is the same

[2022-11-08 08:20] afbjorklund commented on #14302
I think you need to ask the unsung heroes, like @siretart, about the roadmap for the packaging in debian:

https://packages.debian.org/search?keywords=podman&searchon=names&exact=1&suite=all&section=all

Once it is included in debian, that increases the chances of the package being selected for future ubuntu...

https://packages.ubuntu.com/search?keywords=podman&searchon=names&exact=1&suite=all&se

[2022-11-08 10:03] giuseppe commented on #16412
the reason why Podman reports only that two controllers is because in your current cgroup these are the only two ones enabled.

e.g.

[code]

but if you force to create a new cgroup

[code]

[2022-11-08 10:14] benoitf opened #16441 "podman command is not answering (deadlock in libpod handler)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After using podman with a machine, at some point, the REST API is not answering so from client we're waiting indefinitely

`podman machine ssh` works, machine is reachable, etc but there is a deadlock in Podman so we can't use any command like `podman ps`, it does not reply

**Steps to reprod

[2022-11-08 11:34] rhatdan commented on #16423
4.2 should be available for RHEL very soon if not already, otherwise you need to build from source.  Since this is fixed in the upstream I am closing.

[2022-11-08 11:34] #16423 closed

[2022-11-08 12:13] ValentinParamonov commented on #16436
Basically, `{{json .}}` should be treated the same way as `{{. | json}}`.

[2022-11-08 12:45] vrothberg commented on #16441
Thanks for providing the details, @benoitf!

The logs reminded me of https://github.com/containers/podman/issues/16326 and it indeed deadlocks there as well.  A good candidate to backport to v4.3.1.

@mheon do you know when a .1 is planned?

[2022-11-08 12:47] benoitf commented on #16441
it may be a duplicate.
Also if there is a way to use a 'nightly podman' in my 'podman machine' I could also replace my 4.3.0 machine.

[2022-11-08 12:51] #16441 closed, assigned to nobody

[2022-11-08 13:03] Luap99 commented on #16436
Yes currently `{{json .}}` is considered the same as `json`. As you noted this is not correct when the output is an array.
I take a look.

[2022-11-08 13:24] MartinX3 commented on #16369
I tried it on a different computer.
Now at home behind my router instead of a rent server in the internet.

I also get `aardvark-dns[4473]: 36600 dns request failed: request timed out` there.

[2022-11-08 14:08] benoitf opened #16447 "Mount by default other directories than the HOME folder when creating machines on macOS"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

By default, `podman machine init` will mount the `$HOME` folder

I think default, should be the same than on Docker side
https://docs.docker.com/desktop/settings/mac/#file-sharing

So for example /tmp should be added as sometimes you experiment to mount something from the tmp folder.

**S

[2022-11-08 14:37] #16348 closed

[2022-11-08 14:56] umohnani8 commented on #12417
@mheon this is what you have been working on with https://issues.redhat.com/browse/RUN-1432 right?

[2022-11-08 14:57] umohnani8 commented on #12929
@cdoern any progress here?

[2022-11-08 15:01] umohnani8 commented on #12965
@MartinX3 did https://github.com/containers/podman/pull/16029 resolve the original ask of this issue? Or is something more needed?

[2022-11-08 15:13] fedinskiy commented on #16432
Anything else I can help with?

[2022-11-08 15:27] MartinX3 commented on #12965
I think the basic is solved.
Just this network has ipv6 disabled.
I don't know if it is a rootless limitation?
And I can't edit an existing network to enable it.

And I think the following things are still missing:
- https://kubernetes.io/docs/concepts/services-networking/network-policies/
- https://kubernetes.io/docs/concepts/services-networking/service/ (network isolation by namespaces)

[2022-11-08 15:50] hkrutzer commented on #14302
I think it has been [made quite clear](https://github.com/containers/podman/issues/14302#issuecomment-1191668345) that Red Hat will not support Debian or Ubuntu:

as well as from the fact that this issue is closed.

One can reach out to Ubuntu as was suggested in the same comment:

or for example sponsor someone to create the package.

[2022-11-08 15:57] zackman0010 commented on #16423
Looks like the updated version of SELinux that allows /usr to be used isn't included until 4.3, so I guess I'll see if our system admins will build it from the source. Thanks!

[2022-11-08 16:01] mheon commented on #16432
Looks like you're running rootless - so this is a slirp/rootlessport issue. Never seen both of them fail before.

@giuseppe @AkihiroSuda Any thoughts?

[2022-11-08 16:04] Luap99 commented on #16432
@fedinskiy Can you try running the same as root? If it fails there I would expect it is likely something with your application.
Did you try other container images, i.e. nginx?

[2022-11-08 16:06] mheon commented on #12417
I'll have to verify

[2022-11-08 16:15] fedinskiy commented on #16432
@Luap99
Running as root succeeded:
`sudo podman run -e DB2INSTANCE=test -e DB2INST1_PASSWORD=test -e DBNAME=amadeus -e AUTOCONFIG=false -e ARCHIVE_LOGS=false -e LICENSE=accept --privileged=true -p 50000:50000  docker.io/ibmcom/db2:11.5.7.0a`

Other images (including postgres and mysql ) work fine without sudo.
On the other hand, all of them(including db2) also work fine on docker.

Which one do yo

[2022-11-08 16:22] Luap99 commented on #16432
Db2, it must expect something special about the socket then. The default port forwarder will cause a different source ip but with slirp4netns:port_handler=slirp4netns it should work correctly.

[2022-11-08 16:23] mheon commented on #14302
@lsm5 is on the Podman team and continues to put a lot of time into packaging Podman for Ubuntu, but only via OBS; all efforts regarding the official repos are handled by @siretart and the Ubuntu maintainers.

[2022-11-08 16:26] vrothberg commented on #14302
I want to clarify just to make sure the text isn't misinterpreted without reading the linked comment.  I also want to avoid that we generalize too much.

"Support" can mean many things.  As an _upstream_ project, we support all distributions equally.  Bugs will be fixed and features will be implemented regardless of the distribution.

What this issue is about is _package maintenance_. There is an

[2022-11-08 16:35] afbjorklund commented on #14302
And it would probably still be a good idea to update to podman 3.4.7, even if it is not supported anymore either.

[2022-11-08 16:48] vrothberg commented on #16326
/cherry-pick v4.3.0

[2022-11-08 17:53] bpfoster commented on #16412
Thanks very  much @giuseppe

Indeed, the cgroup controllers for the current process do only contain `memory pids`
[code]

Force creating a new cgroup has the same though:
[code]

It seems the delegation is not being passed down the tree:
[code]

If I manually add them to the subtree controls (this is lost on logout):
[code]

Then everything works as expected:
[code]

This is clearly not a podman p

[2022-11-08 17:53] #16412 closed

[2022-11-08 17:56] larrycai commented on #8776
just curious to check whether we have other better solution since it is conflict with Citrix/VDA setup which I can't change

In Citrix environment, we have system script like below

[code]

it will generate

[code]

Can we use other variable or setup this in local configuration?

[2022-11-08 17:57] giuseppe commented on #16412
you may need something like:

[code]

[2022-11-08 18:11] giuseppe commented on #16412
maybe the `daemon-reload` is not enough, and you'll need to restart the user session :/

[2022-11-08 18:16] bpfoster commented on #16412
Have been doing `daemon-reload && reboot` after each change to cover my bases :grimacing:

[2022-11-08 19:03] MartinX3 commented on #14671
I can confirm that it is still broken in 4.3.0 with yaml pods created with the systemd service `podman-kube@`.

[2022-11-08 20:02] kgibm opened #16451 "podman build for non-host platform stopped working after upgrading"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On macOS, previously, I was able to build images for platforms other than my host platform; but, after upgrading to podman 4.3.0, this no longer works.

**Steps to reproduce the issue:**

1. `podman machine init --cpus 4 --memory 10240 --disk-size 100`
2. `podman machine start`
3. `podman sys

[2022-11-08 21:00] rhatdan commented on #16432
Does it work if you run with --network=host?

[2022-11-08 21:03] kgibm commented on #16451
I thought this was related to the `podman` version, but I downgraded to my previous version, and experienced the same issue. Then I realized that upgrading `podman` to 4.3.0 upgraded the version of CoreOS being used by `podman machine` (to an October build), even with the older `podman` version. I found I have some old images in `~/.local/share/containers/podman/machine/qemu/` and created a `podma

[2022-11-08 21:08] rhatdan commented on #16423
@mheon Any chance we can get this updated in podman 4.3.1?

[2022-11-08 21:15] #16417 closed

[2022-11-08 23:32] SoMuchForSubtlety opened #16453 "Inspecting a network via the REST API does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Inspecting a network via the REST API yields this seemingly unrelated error message
[code]
Inspecting networks via the CLI works as expected.

**Steps to reproduce the issue:**

1. get the ID of a network (for example the default `podman` network) via `podman network inspect`

2. request the

[2022-11-09 03:47] zackman0010 commented on #16423
@rhatdan I've followed the instructions to build from source, but the build prints out the go build command and then hangs. I can't tell if it's actually doing anything. I've never used go before, is this normal or am I doing something wrong?
[code]

[2022-11-09 06:50] zackman0010 commented on #16423
Confirmed that it works after building version 4.3 from source. Thanks again for the help, sorry for the pointless issue!

[2022-11-09 07:58] fedinskiy commented on #16432
@rhatdan  it doesn't:
[code]
[code]

[2022-11-09 08:46] vrothberg commented on #14671
Thanks for coming back to the issue.  I forgot to drop that this is actually working since Podman v4.3, see commit https://github.com/containers/podman/commit/274d34a25a3ed7b69a6e4caec07e845157048c96.

Please open a new issue if it does not work as expected.

[2022-11-09 08:46] #14671 closed

[2022-11-09 10:55] UlrichLohrmann opened #16454 "podman exec via remote ssh call yields to "exec failed: container does not exist""
/kind bug

**Description**

Starting a interactive session on a running container (rootless) with

podman exec -it $CONTAINERNAME bash

works if this command is executed from the container host. If same command is executed from a remote host using ssh

ssh -i ~/.ssh/$RSA_KEY_FILE qtcnt01@lvintappt01 'podman --log-level=debug exec -it $CONTAINERNAME bash'

the exec session cannot be started an term

[2022-11-09 12:00] vrothberg commented on #16454
@giuseppe @rhatdan I'd also expect ssh to work.  May it be a config issue of ssh that renders the session incomplete?

[2022-11-09 12:07] UlrichLohrmann commented on #16454
Thank you for reply. I don't think this is a SSH issue. For example I can execute

ssh -i ~/.ssh/id_rsa_qtcnt01_lvintappt01 qtcnt01@lvintappt01 'podman inspect $CONTAINERNAME'

and that works without errors.

[2022-11-09 12:33] mveldink opened #16455 "On macOS, mounting the current directory with "." fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On macOS, mounting the current directory with "." fails. This causes this podman-compose mount directive to fail:

[code]

However, binding with "$(pwd)" works.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[2022-11-09 12:33] UlrichLohrmann commented on #16454
Additional info.

If I execute the podman exec command with --log-level=debug and compare the output of the working call (from the container host) with the output of the Non-working call (from remote via SSH) the following line is in the output of the non working call but NOT in the output of the working call.

Overriding run root \"/run/user/3448/containers\" with \"/tmp/podman-run-3448/container

[2022-11-09 13:12] Luap99 commented on #16194
@mattclay perfect, that is it. The problem is that is tries to use avx instructions that are not supported on the virtualized cpu.
This does not affect code written by us but rather the upstream sha lib. Looks like they fixed it already: https://github.com/RustCrypto/hashes/pull/386 so I assume this fix will land soon in netavark when dependencies are updated.

[2022-11-09 13:23] edsantiago commented on #16132
I'm going to hope that this was fixed in #16437

[2022-11-09 13:23] #16132 closed

[2022-11-09 13:36] Luap99 commented on #16432
Please run `podman unshare nsenter --net=$(podman container inspect --format {{.NetworkSettings.SandboxKey}} <container NAME/ID>) ss -tulpn`.

I tried running this image and it is just not listening on port 5000 at all.

Check with `podman logs <container NAME/ID>`, I see a ton of db setup related errors. I assume the image cannot be run as rootless, or at least they have to fix the image. I doubt

[2022-11-09 13:39] Luap99 commented on #16454
This looks wrong and can cause issues. Please run `podman system reset` and make sure you have a proper login session when you run the podman commands, i.e. do not use su or sudo to switch to the user. After the reset run `podman info` again, it should show a path under /run/user/<uid> normally.

[2022-11-09 13:42] Luap99 commented on #16454
Also note that the error comes from runc not podman. So I suspect that runc looks into a different tmp dir in both cases.

[2022-11-09 13:48] Luap99 commented on #16453
Sounds like your state is inconsistent. Somehow there is a mismatch between the podman boltdb and the container store.

Running `podman system reset` (will remove everything) should get it working again. Do you have a reproduce how you got into that situation?

[2022-11-09 13:48] Luap99 commented on #16453
you could also try `podman rm -f 9bef809f62af8fe14da2751b1560cf436281fba8b73f3e75d80172e7f6321f98`

[2022-11-09 14:00] Luap99 commented on #16451
@flouthoc PTAL

[2022-11-09 14:01] UlrichLohrmann commented on #16454
Thank you for your reply. I will try and give feedback asap

[2022-11-09 15:03] kgibm commented on #16451
I found a list of "Stable" CoreOS builds here: https://builds.coreos.fedoraproject.org/browser?stream=stable&arch=x86_64

Then downloaded the "QEMU" builds, working backwards from the latest build to find where things stopped working, and the problem reproduced all the way back to 36.20220505.3.2 which is before the build that worked above. Maybe there's some sort of race condition when creating t

[2022-11-09 15:50] kgibm commented on #16451
One more wrinkle: I can consistently reproduce the problem with the Stable CoreOS builds, and I can consistently not reproduce the problem using `~/.local/share/containers/podman/machine/qemu/fedora-coreos-36.20220511.dev.0-qemu.x86_64.qcow2.xz` which includes "dev" in the name that stable builds don't, so I'm not even sure where that image came from.

[2022-11-09 16:18] mheon commented on #16423
@rhatdan Was this fixed in a specific PR? Is it just a new selinux vendor?

@ashley-cui FYI

[2022-11-09 18:48] zackman0010 commented on #16423
The issue was fixed with the update from SELinux 1.10.1->1.10.2, which happened in this commit: https://github.com/containers/podman/commit/f00ceaabd497e87415f6926de50478260cd7e844

The SELinux commit that fixed it was this: https://github.com/opencontainers/selinux/commit/d3ccb697e01d1671de2f1dd32779efe8808e2132

[2022-11-09 19:06] Darth-Mera commented on #16419
Hi, I'd like to try to take on this one as a first issue, if that's ok :)

[2022-11-09 21:41] rhatdan commented on #16419
Fine with me.

[2022-11-09 21:44] #14902 closed

[2022-11-10 00:14] dedani opened #16468 "Can not ping containers in the same network by name."
/kind bug

**Description**

**Steps to reproduce the issue:**

1.
Starting from a fresh podman (`podman system reset`), on Opensuse Tumbleweed.

2.
Create a network, bring up some containers.
[code]

3. Enter a container and try to ping by container name.
[code]

**Describe the results you received:**
Name resolution between containers in the same network does not work. By IP everything is ok.

**

[2022-11-10 02:25] baude commented on #16468
podman4 has begun to switch to netavark and aardvark for its network stack.  nevertheless, the information provided is insufficient to debug.

you should know that in order to use name resolution with rootless container, your network must be netavark if I remember correctly.  @Luap99 what say you as well ?

[2022-11-10 03:20] gzqx commented on #15313
Meeting same problem on podman 4.2.1 on Fedora 36.

[2022-11-10 05:08] aadi58002 commented on #16419
Can i also try to work on this issue?

[2022-11-10 07:19] uaru opened #16470 "podman generated remote connections may fail from possible mismatch between "localhost" and 127.0.0.1 listener"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman cannot create connect to the machine

**Steps to reproduce the issue:**

1. brew install podman

2. podman machine init
[code]

3. podman machine init

[code]

4. podman machine info

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

**Addi

[2022-11-10 08:03] mdwajid095 commented on #12715
I have also faced the same issue. My issue resolved when I execute: "sudo -E podman pull image-name"

[2022-11-10 08:48] giuseppe commented on #12715
that is not a fix.  You are running as root.

You need to make sure your unprivileged user has enough IDs assigned and then run `podman system migrate` to reload the user namespace.

[2022-11-10 09:05] vrothberg commented on #16419
@Darth-Mera asked first, so I'd very much prefer to keep this order.  Please respect that @aadi58002 before opening a PR next time. It's not race.

[2022-11-10 09:46] jmtd opened #16472 "podman-network-create.1.md: inconsistent description of available drivers/backends"
/kind bug

**Description**

Selectively quoting podman-network-create.1.md (emphasis mine):

The key problems here are

1. ipvlan is described as both supported and not supported.
2. netavark is introduced for the first time in this page but not defined and there's no reference to any other page describing what it is.
3. netavark is described as a backend, but that is also not defined nor is there

[2022-11-10 11:26] SoMuchForSubtlety commented on #16453
That seems to be the issue. I debugged the request and the issue is a container that is present in boltdb but not the store.

During the conversion to a docker networks, all containers are requested from boltdb and then inspected.
https://github.com/containers/podman/blob/fbf441affd948e61d2833d05e735367eafcf4274/pkg/api/handlers/compat/networks.go#L68-L75

In my case, the offending container is th

[2022-11-10 12:22] Hi-Angel commented on #7052
I just found an unpleasant surprise: the `--userns=keep-id` doesn't just keep the IDs unchanged — instead it changes the user inside the container! To a non-existing one, actually.

@rhatdan what you mention is just an implementation detail. But from the user POV there's a difference in behavior of Podman and Docker, which actually matters, which is what this bug is about. Adding the `userns = "ke

[2022-11-10 12:33] tyler92 opened #16476 "Container name is already in use but the container doesn't exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I don't know how but my device reports that the container doesn't exit meantime I can't create a container with the same name:

[code]

And even after `podman rm -f` I still have this error. Only `podman system reset -f` helps.

**Steps to reproduce the issue:**

I have the following workflow

[2022-11-10 12:34] Darth-Mera commented on #16419
I pushed my attempt at solving this issue. Not a fan of duplicating work, but I guess we're both learning.

[2022-11-10 12:36] vrothberg commented on #16421
Found some time and the bug.  Will wrap up fixes.  Thanks for the _great_ reproducer, @eriksjolund !

[2022-11-10 12:42] v3ss0n commented on #15611
archlinux , wont' work even after usermod

[2022-11-10 13:57] aadi58002 commented on #16419
It was a leaning experience for me as well. I also looked at your PR which is much better and more better done than mine thanks for providing a good experience and learning.

[2022-11-10 14:09] rhatdan commented on #16419
Thanks to both of you.  Nice thing is there are plenty more "good first issues" to work on.
Again thanks for contributing.

[2022-11-10 14:10] rhatdan commented on #16419
https://github.com/containers/podman/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Issue%22

[2022-11-10 14:42] Luap99 commented on #16468
With cni you need to have the dnsname plugin installed and then recreate the network, this will also works rootless.
The problem with dnsname is that it will only work for a single network, when your container is connected to more than one network it will not work as expected. That is why we recommend to use netavark with aardvark-dns instead.

[2022-11-10 14:44] SecT0uch opened #16477 "podman run --volume :U option not working from docker-compose.yml"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running rootless podman.

Using the [U option](https://docs.podman.io/en/latest/markdown/podman-run.1.html#volume-v-source-volume-host-dir-container-dir-options) is working as expected, but not with docker-compose.

I know this option is specific to podman but is there any way for docker-compo

[2022-11-10 14:56] edsantiago commented on #13947
Hi! This has been on my backburner for months. I have a script intended to take care of this, and as of a few minutes ago I confirmed that it handles the v4.3.0 -> .1 transition. However: there is no "msi" for v4.3.0. How do msi files get created? Is that a manual process? Will there be one for v4.3.1? My script fails if it doesn't find the corresponding msi file.

[2022-11-10 14:58] mheon commented on #16477
I think we needed special handling to make `:Z` work in this case, so I'm not terribly surprised `:U` doesn't work with the Docker-compat endpoints without it. Should not be difficult to add.

[2022-11-10 15:03] edsantiago commented on #13947
Oh I don't care! I've never used Windows and am unlikely ever to. I just want our documentation and links to be accurate.

[2022-11-10 15:08] Luap99 commented on #13947
The windows install section on podman.io no longer directly links to the binaries, just to the tutorial which links to the the github release page so this is not really a problem any more.

[2022-11-10 15:13] edsantiago commented on #13947
Uh, well, except that the tutorials say:

And one of them also says:

I find that offensive.

It's very easy (in fact, it's done except for review and merge) to automate this, add a link of the form:
[code]

So: (1) should I fix the tutorials to say "exe" instead of "msi"? And (2) should I continue with this work?

[2022-11-10 15:13] mheon commented on #16476
Does `podman ps --external` show a container with that name? Could be a leftover from Buildah, or an incomplete removal.

`podman rm --force 00bdd4123646ff7fe12c51ed4be7b508381b9966c593d928c1bde75912b2859e` will get rid of it.

[2022-11-10 15:15] mheon commented on #13947
RE 1, definitely - the MSI is now legacy.

RE 2, IMO we could just as easily point to the Github releases page and say grab the link from the latest release... But that's also not perfect (releases are chronological, so if we were to do a 3.4.8 right now it would show as latest until we cut 4.3.2), so I won't object to doing this the right way.

[2022-11-10 15:26] mheon commented on #7052
It's an implementation detail, but it is a critical part of how rootless actually works. Without user namespaces, none of this would be possible; unfortunately, that requires understanding and working with them. There is no way to accomplish what you seem to be asking for (1:1 user and group mappings for a rootless container) without completely removing the security advantages of rootless containe

[2022-11-10 15:28] Luap99 commented on #16472
The network backend is described in podman-network(1)

[2022-11-10 15:59] tyler92 commented on #16476
Can't check now (will check after new reproduction).

Unfortunately no. After this command, the issue still exists.

[2022-11-10 16:43] lsm5 commented on #14302
@jeremyn sure, that's best done on https://github.com/containers/podman.io

[2022-11-10 17:16] #16426 closed

[2022-11-10 17:52] Luap99 commented on #16470
Do you have a gvproxy process running and does it listen on the mentioned port?

[2022-11-10 19:03] tyler92 commented on #16476
While I'm trying to reproduce this issue - is it possible to fix Podman in such a way that `podman rm` will always succeed even if after incomplete removal?

[2022-11-10 19:36] edsantiago commented on #15367
* fedora-36 : sys remote fedora-36 root host [remote]
  * PR #16459
    * [11-09 14:51](https://api.cirrus-ci.com/v1/artifact/task/4900286095949824/html/sys-remote-fedora-36-root-host.log.html#t--00271)
* ubuntu-2204 : sys podman ubuntu-2204 root host
  * PR #16465
    * [11-09 17:04](https://api.cirrus-ci.com/v1/artifact/task/5121353766928384/html/sys-podman-ubuntu-2204-root-host.log.html#t--0039

[2022-11-10 19:50] benoitf opened #16483 "podman machine on macOS and default system connection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Deleting and adding machines is leading to a missing default connection.

**Steps to reproduce the issue:**

1. Create a machine

2. Create another one

3. Delete the first machine

4. start 'another' machine (so this is the machine being running)

**Describe the results you received:**

[cod

[2022-11-10 20:23] #16419 closed

[2022-11-10 20:59] TCROC commented on #14302
@jeremyn YES!  This got me the up to date podman!  Should def be the recommended way for Ubuntu.  Here are the steps:

[code]

Install homebrew: https://brew.sh/

[code]

ez pz! :)

[2022-11-10 21:20] dawidd6 commented on #14302
Good to know it's working for others too :)

[2022-11-10 22:07] SoMuchForSubtlety opened #16486 "Allow pulling from HTTP registries when using the docker compat API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I'm trying to add podman support to the [testcontainers-java](testcontainers-java) library (see https://github.com/testcontainers/testcontainers-java/pull/6158). Many of their tests rely on a local, non-https registry to test image pulling behaviour. Podman does not allow this, and there is no

[2022-11-10 22:10] edsantiago commented on #16383
Another one, also remote, but f37 this time instead of f36

* fedora-37-aarch64 : sys remote fedora-37-aarch64 root host [remote]
  * PR #16471
    * [11-10 04:49](https://api.cirrus-ci.com/v1/artifact/task/5804240277864448/html/sys-remote-fedora-37-aarch64-root-host.log.html#t--00054)

[2022-11-10 22:17] Bshukrallah22 opened #16487 "Podman Machine Init cannot create keys windows 10"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have predownloaded the fedora tar file (rootfs.tar.xz) and run "podman machine init --image-path rootfs.tar.xz" to build the default podman machine. Podman 4.3.0 & 4.3.1

When creating a new podman default machine on windows 10 I get the following error:
Configuring system...
Generating pub

[2022-11-10 22:19] edsantiago commented on #10927
New one

* fedora-36 : int podman fedora-36 rootless host
  * PR #16465
    * [11-09 16:41](https://api.cirrus-ci.com/v1/artifact/task/6141700557504512/html/int-podman-fedora-36-rootless-host.log.html#t--podman-network-connect--1)
    * [11-09 16:41](https://api.cirrus-ci.com/v1/artifact/task/6141700557504512/html/int-podman-fedora-36-rootless-host.log.html#t--podman-network-connect--2)
    * [11-

[2022-11-10 23:52] mheon commented on #16486
@vrothberg PTAL

[2022-11-11 00:23] uaru commented on #16470
It seems so.

[code]

[2022-11-11 01:33] SecT0uch commented on #16477
It seems docker-compose parses the volume options before communicating with the socket.
And as `U` is podman specific, [our option is ignored](https://github.com/compose-spec/compose-go/blob/9df6287f4d9a5a4083540d86b091dff0c3c6f376/loader/volume.go#L97).

I think I will start using podman-compose instead

[2022-11-11 01:33] #16477 closed

[2022-11-11 09:43] Nemric commented on #16310
Did you do something @mheon ? It looks to be ok for 4.3.1, remote-static is ok
Do you think I can rely on it in the future ?

[2022-11-11 10:37] UlrichLohrmann commented on #16454
I tried "podman system reset" on the system that is accessed by SSH but nothing changes.

I also tried to do a ssh login from another Linux box to the target server and executed "podman exec -it $CONTAINERNAME bash" with the same result. If I do a SSH login from my Windows box with putty to the same target server and also execute "podman exec -it $CONTAINERNAME" this works. That target account in

[2022-11-11 11:01] UlrichLohrmann commented on #16454
More info.

If I access the Non-root targetuser on the Linux machine directly via ssh the "podman exec $CONTAINERNAME ls -al" fails, if I login with my personal account and switch to the podman targetuser with "sudo -iu $TARGETUSERID" everything works fine.

[2022-11-11 11:06] Luap99 commented on #16454
see https://github.com/containers/podman/blob/main/troubleshooting.md#31-podman-run-fails-with-erro0000-xdg_runtime_dir-directory-runuser0-is-not-owned-by-the-current-user-or-error-creating-tmpdir-mkdir-runuser1000-permission-denied

sudo or su should not be used to switch to a user, they simply do not create a proper systemd user session.
Please make sure your run root points to `/run/user...` an

[2022-11-11 11:50] arixmkii commented on #16483
Will not be a trivial choice if more than one option is left.

Not sure about this either. I'm thinking about scenario of using podman machine on a Linux host, where podman machine is used together with the podman service running on the host - there will be no connection record for accessing host service and `podman ps` will just route to it.

So the behavior you described makes sense only for pod

[2022-11-11 12:42] rhatdan commented on #16108
@jbhrfx9280 @Luap99 @baude What is the scoop on this issue?  At this point is it a discussion?  @Luap99 says Podman is working properly, should I close the issue or move to a discussion?

[2022-11-11 13:03] rhatdan commented on #7052
@mheon is correct, if you want to run like Docker, then you need to run as root or run your commands through sudo.

[2022-11-11 13:58] arixmkii commented on #13006
Successfully tested my current build against official QEMU 7.2.0-rc0 release from https://qemu.weilnetz.de/w64/2022/

Plan to return to preparing more PRs in 2 weeks. 9pfs experiments on hold for now due to lack of time.

[2022-11-11 14:20] mheon commented on #16310
We have not actually fixed the problem with the makefile (I suspect that if you run multiple targets at once, they pollute `podman-remote-static` with the architecture and OS of the last release target to run before it). However, I suspect @ashley-cui just ran the release targets individually when making the release, which avoided the problem, and we can continue to do that until a proper solution

[2022-11-11 14:33] benoitf commented on #16483
@arixmkii basically yes it should be for Windows and macOS where there is no local podman

[2022-11-11 14:35] ashley-cui commented on #16310
Yep, ran that one separately.

[2022-11-11 15:06] jbhrfx9280 commented on #16108
I have figured these issues out using buildah and other methods, script
etc. You can close this ticket. Amazing no answers/replies from anyone.
Anyways thank you.

On Fri, Nov 11, 2022, 6:42 AM Daniel J Walsh ***@***.***>
wrote:

[2022-11-11 15:09] baude commented on #16483
is it not still a valid scenario for mac and windows?  i have some ideas though

[2022-11-11 15:22] rhatdan commented on #16085
I think the conclusion to this was no issue, so closing.  Reopen if I am mistaken.

[2022-11-11 15:22] #16085 closed

[2022-11-11 15:22] rhatdan commented on #16069
Since we heard no feedback, closing. Reopen if you can provide @giuseppe feedback.

[2022-11-11 15:22] #16069 closed

[2022-11-11 15:24] rhatdan commented on #16000
I don't think this is a podman issue, you are using podman-compose which is not part of Podman, please open issue there.

[2022-11-11 15:24] #16000 closed

[2022-11-11 15:26] rhatdan commented on #15902
@umohnani8 PTAL

[2022-11-11 15:48] #16436 closed

[2022-11-11 18:07] TaylorHere opened #16490 "wrong image name build from buildkit and then load it into podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
wrong image name build from buildkit and then load it into podman

**Steps to reproduce the issue:**

buildctl build --frontend dockerfile.v0 --local context=. --local dockerfile=. --output type=docker,name=foo:bar | podman load

**Describe the results you received:**
Loaded image(s): localhos

[2022-11-11 18:07] TaylorHere commented on #16490
related to https://github.com/tensorchord/envd/pull/1142

[2022-11-11 18:08] TaylorHere commented on #16490
older issues related
https://github.com/containers/podman/issues/10809
https://github.com/containers/podman/issues/11619
https://github.com/containers/podman/issues/12560

[2022-11-11 18:12] TaylorHere commented on #16490
buildkit community claim that they are following the spec and podman should accept a layout with the annotation field `org.opencontainers.image.ref.name` set as the tag.
 https://dockercommunity.slack.com/archives/C7S7A40MP/p1668187300636709?thread_ts=1668186357.808679&cid=C7S7A40MP

[2022-11-11 18:21] rhatdan commented on #16472
@jmtd Care to open a PR to fix the man page to better introduce netavark and link to its man page.

[2022-11-11 18:21] Luap99 commented on #16490
Please test with the latest version, as you can see by your linked issue https://github.com/containers/podman/issues/12560 that is already fixed in newer versions. I think 4.0+

[2022-11-11 20:37] #16108 closed

[2022-11-11 21:38] TaylorHere commented on #16490
looks like ubuntu 22 did not ship podman 4 yet, but with podman 4, the image can successfully loaded

[2022-11-11 21:38] #16490 closed

[2022-11-12 08:24] SimplyGed commented on #11530
What image are you trying to run?
I had the same problem running `datalust/seq`. If I prefixed the container image with the registry name, it worked

e.g.

`podman run docker.io/datalust/seq`

Hope that helps :-)

[2022-11-12 11:19] arixmkii commented on #16483
It could be considered as one. Don't know if it is a good idea to introduce behavior differences between platforms and if Linux platform should be considered as a reference for others. It is for the project team to decide.

[2022-11-12 11:33] rhatdan commented on #16136
@waylew-abc @n1hility Is this still an issue?

[2022-11-12 11:34] rhatdan commented on #16119
@mheon Did you ever get a chance to look into this?

[2022-11-12 11:36] rhatdan commented on #15976
@ashley-cui Is this still broken?

[2022-11-12 11:36] rhatdan commented on #15631
@baude @mheon any update on this?

[2022-11-12 14:32] godmar commented on #16065
Seeing this, too:
[code]
[code]

A subsequent attempt, with an identical command, gives:
[code]

[2022-11-12 23:16] jazoom commented on #13200
I can confirm tags don't work with Debian stable's current versions of packages

[2022-11-13 07:41] eriksjolund commented on #15313
It seems that LinuxServer.io does not support running their containers with rootless Podman or rootless Docker.

It's not mentioned in their official documentation, but it's mentioned in their support forums.

I searched for "_rootless_" in their documentation but didn't find anything:
https://docs.linuxserver.io/?q=rootless

Their web page [_Where to get support_](https://www.linuxserver.io/suppo

[2022-11-13 10:13] cnagesh-arrcus opened #16494 "Throwing authentication error while trying to pull image from private server with certificate file."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman build . --cert-dir /etc/containers/certs.d/ca.crt

**Describe the results you received:**
Error: creating build container: initializing source XXX: reading manifest latest in XXX: errors:
denied: requested access to the resource is denied
unauthori

[2022-11-13 10:37] benfay88 commented on #16470
Had the same problem, I had to created a new machine and then

[code]
Solved the problem.

[2022-11-13 20:31] 0fbcb238c0 commented on #13778
I also had this issue. I started a number of [Archive Warriors](https://wiki.archiveteam.org/index.php?title=Warrior) on two machines. One running a current Fedora with up-to-date packages and a RHEL 9.0 machine. Both systems experienced the error.
I'm currently testing with fewer containers, but will increase the number to try and reproduce the issue.
I have not yet tried to set "eventLogger" to

[2022-11-14 00:16] uaru commented on #16470
@benfay88 Thank you for reply. Unfortunately, in my case it did not change anything.

[2022-11-14 07:33] arctic-alpaca opened #16497 "`RawInput` response field of container delete libpod API not documented"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi,
the [libpod API endpoint](https://docs.podman.io/en/latest/_static/api.html#tag/containers/operation/ContainerDeleteLibpod) to delete a container does not document the `RawInput` field of the response. This might have been introduced in #15421 but was not documented in that PR.

**Steps t

[2022-11-14 08:51] UlrichLohrmann commented on #16454
Thank you for your hint, I enabled linger mode for the system user that is running Non-root containers and now evertything works as expected.

[2022-11-14 08:53] vrothberg commented on #16476
That's the idea.  Internally, there is an intermediate "removing" state indicating that removal has started but not finished yet.

[2022-11-14 08:56] vrothberg commented on #15367
@containers/podman-maintainers PTAL

[2022-11-14 08:58] vrothberg commented on #16383
@giuseppe, any idea what could cause it?

[2022-11-14 09:12] vrothberg commented on #16454
Nice work debugging and resolving the issue, @UlrichLohrmann and @Luap99 !

[2022-11-14 09:12] #16454 closed

[2022-11-14 09:27] vrothberg commented on #16494
Thanks for reaching out, @cnagesh-arrcus!

The error usually indicates that we are not logged into the registry we attempt to pull from.  Did you do `podman login`?

[2022-11-14 09:28] patricklx opened #16499 "windows completions not working with shopt -s completion_strip_exe"
its possible to remove the .exe extension to use binaries in windows git bash by specifying shopt -s completion_strip_exe
but podman is not considering that for the completions.

it registers only podman.exe: `complete -o default -F __start_podman.exe podman.exe`
it should also inlclude without .exe extension: `complete -o default -F __start_podman.exe podman.exe podman`.

[2022-11-14 09:40] jmtd commented on #16472
@rhatdan:

Possibly. I'm not the best person to introduce netavark since I don't know what it is; but I do generally try to fix nits when I find them, so I'll try to schedule having a go.

[2022-11-14 09:49] vrothberg commented on #16497
Thanks for reaching out, @arctic-alpaca!

@sstosh can you take a look?

[2022-11-14 10:05] paravoid commented on #15300
I've also been bitten several times by this. The last time I reported it was at https://github.com/containers/podman/issues/12682#issuecomment-1023277018. Apologies for my insistence, but I couldn't help but +1 this :)

The new warning helps and many thanks for that! But I still find the current behavior as extremely disorienting. A tangential and related issue is that the CLI output doesn't help

[2022-11-14 11:11] flouthoc commented on #15476
@lukasmrtvy Yes this be getting automatically tested cause following test will also run for `podman-remote` so it will get tested eventually on vendor and if https://github.com/containers/buildah/pull/4392 does not works with `podman-remote` then vendor will eventually fail blocking new release.

I will try checking this manually in few days as soon as i have some more cycles.

[2022-11-14 11:47] bittracker commented on #15382
I have just tried `podman.exe version 4.3.1` and everything works as expected.

Thanks fixing this :)

[2022-11-14 11:47] #15382 closed

[2022-11-14 11:48] Luap99 commented on #16470
@uaru Can you manually change the ssh host url in `~/.config/containers/containers.conf` from `localhost` to `127.0.0.1` to see if this changes anything.

[2022-11-14 11:55] da2ce7 commented on #11377
@giuseppe
After migrating laptops, on Fedora 37, I have a new UserID. Now my podman setup is broken. I do not think that this is a corner-case.  I believe it is common to migrate users to new systems, and giving them a new UserID.

Btw. The `"Error: error creating tmpdir: mkdir /run/user/1000: permission denied"` still bocks the `podman system reset` command from working.

I think that at-least th

[2022-11-14 11:58] Luap99 commented on #15736
As root we do not need user space proxy process, the ports are forwarded via iptables that is why it works.
Something is killing these processes.

[2022-11-14 12:01] Luap99 commented on #16497
I don't think this field should be leaked into the API at all. This is used for the cli command output only.

[2022-11-14 12:22] Luap99 commented on #16499
Please fill out the issue template as requested.

Podman does not create the completion scripts, they are generated by the https://github.com/spf13/cobra library. The library simply generates the name based of the program name (podman sets it to argv[0]). I don't think it should know about .exe or any other special extensions.
If you run `podman completion bash` it should output the completion scr

[2022-11-14 12:30] patricklx commented on #16499
ah, right its in cobra, I found it in this repo, https://github.com/containers/podman/blob/main/vendor/github.com/spf13/cobra/bash_completionsV2.go#L356 but did not see it was under vendor.
yes, it looks like bash does convert it to podman.exe when calling the process

[2022-11-14 12:36] Luap99 commented on #16499
Did you check how it works in powershell?

[2022-11-14 12:42] patricklx commented on #16499
just tried it now, does not work either, because its just using `podman.exe` in the variable names, which then turns into a property lookup... so I get this error `The property 'exeCompleterBlock' cannot be found on this object`.
`Register-ArgumentCompleter -CommandName 'podman.exe' -ScriptBlock $__podman.exeCompleterBlock`

[2022-11-14 12:42] Gr3at opened #16500 "Azurecr.io indicated as not a valid registry"
**BUG REPORT**

/kind bug

**Description**

Unable to login to my private azure container registry (screenshot attached).
![image](https://user-images.githubusercontent.com/33185243/201616943-9ad9b3a7-ade7-4b6a-9ffc-2003d614dbd0.png)

**Steps to reproduce the issue:**

1. open podman desktop

2. go to settings --> Registries

3. try to add [your-private].azurecr.io registry

**Describe the results

[2022-11-14 12:46] #16282 closed

[2022-11-14 12:46] vrothberg commented on #16500
Thanks for reaching out, @Gr3at!

@benoitf please take a look

[2022-11-14 12:49] vrothberg commented on #16497
I think it's worth documenting exactly that. At the very least to avoid confusion.

[2022-11-14 12:50] vrothberg commented on #16487
Did you start the machine via `podman machine start`?

[2022-11-14 12:53] vrothberg commented on #16455
Thanks for reaching out.  I can reproduce the issue on Linux as well.

[2022-11-14 12:53] vrothberg commented on #16455
Docker throws the following error:

[2022-11-14 12:54] TheRealHnefi commented on #16136
@rhatdan I have the same issue. Running podman 4.3.0. It seems to randomly cycle between this error and the following output:

API forwarding for Docker API clients is not available due to the following startup failures.
        CreateFile \\.\pipe\docker_engine: All pipe instances are busy.

I'm guessing some other application or service is using that pipe, but I don't know what application that

[2022-11-14 12:57] vrothberg commented on #16494
Are you running behind a proxy?

[2022-11-14 13:02] vrothberg commented on #16494
@baude @ashley-cui @benoitf, anything to consider when running `podman machine` in a VPN?  I recall an issue but am unable to find it.

[2022-11-14 13:09] vrothberg commented on #16494
Can you be more specific? Are you referring to the registry?

[2022-11-14 13:10] benoitf commented on #16494
On Windows there is an issue with Machine/VPN https://github.com/containers/podman/issues/14155 / workaround using https://github.com/sakai135/wsl-vpnkit but here it seems it's using Linux

[2022-11-14 13:11] benoitf commented on #16500
I'm moving the issue to podman-desktop repository

[2022-11-14 13:23] vrothberg commented on #16400
@fedinskiy can you point to the test that is failing in testcontainers?  I would love to better understand what is being tested.  Looking at the source code of the test may help.

[2022-11-14 13:29] mtrmac commented on #16152
#15662 was merged, assuming this is fine now.

[2022-11-14 13:29] #16152 closed

[2022-11-14 13:30] fedinskiy commented on #16400
@vrothberg : below is a copy of steps from the testcontainer issue:

1.     Have podman installed
2.     Make podman use dockerhub by default(due to [1] ):
     a. Change line short-name-mode setting inside of /etc/containers/registries.conf into "disabled"
     b. Change order of unqualified-search-registries in the same file, so docker.io would be the first one
     c. In file /usr/share/contain

[2022-11-14 13:30] vrothberg commented on #16364
Thanks for reaching out @viecili!

Apologies for the delayed reply.

Users can change these settings by configuring the VMs once created.  I am a bit reluctant to special-case the config files, so I am looking to generalize the request a bit.

Would a `--mount` option work that would mount specified files/directories to a specified path?  Similar to `podman run --mount...`?  I think that `podman m

[2022-11-14 13:32] vrothberg commented on #16400
@fedinskiy I am entirely unfamiliar with testcontainers.  Having a pointer to the code would speed things up considerably.  I assume that one test fails that has some source code.

[2022-11-14 13:43] Luap99 commented on #16499
I think you need to run both `podman.exe completion powershell | Out-String | Invoke-Expression` and `podman completion powershell | Out-String | Invoke-Expression` in powershell, at least this is how I remember it when I was working on it.

[2022-11-14 13:44] siretart commented on #14302
Thank you for all the support and kind words on distro packaging.

Maybe a quick status update, I've uploaded podman 4.3.1 to debian/experimental yesterday. I'd really appreciate if people could give those packages a shot and file bugs using `reportbug`, the debian bug submission tool. Bonus points if you could help me with the open bugs at https://bugs.debian.org/src:libpod  -- just sent a follow

[2022-11-14 13:44] #15736 closed

[2022-11-14 13:44] edsantiago commented on #16076
* fedora-36 : sys podman fedora-36 rootless host
  * PR #16475
    * [11-10 08:42](https://api.cirrus-ci.com/v1/artifact/task/5146252698976256/html/sys-podman-fedora-36-rootless-host.log.html#t--00314)
  * PR #16202
    * [10-28 10:03](https://api.cirrus-ci.com/v1/artifact/task/6249936885907456/html/sys-podman-fedora-36-rootless-host.log.html#t--00312)
    * [10-28 07:27](https://api.cirrus-ci.com

[2022-11-14 13:46] #16421 closed

[2022-11-14 13:48] patricklx commented on #16499
tried both, same issue

[2022-11-14 14:11] fedinskiy commented on #16400
@vrothberg
NullPointerException is thrown here: https://github.com/docker-java/docker-java/blob/master/docker-java-api/src/main/java/com/github/dockerjava/api/command/PullImageResultCallback.java#L48

That happens, because this field is empty:
https://github.com/docker-java/docker-java/blob/master/docker-java-api/src/main/java/com/github/dockerjava/api/model/ResponseItem.java#L23

User-facing code

[2022-11-14 14:13] vrothberg commented on #16400
Awesome, thank you very much for the pointers!

I'll be traveling this week, but will go back to the issue ASAP.

[2022-11-14 14:15] rhatdan commented on #15367
The issue is the 		timesMounted, err := r.store.Mounted(ctr.ID) call below could be getting screwed up or have a race condition.
[code]

It is possible to loose an unmount on a killed process. This couner is attempting to keep track of the number of

podman mount XYZ
podman mount XYZ
podman run XYZ ...

timesMounted would show 3.  If for some reason we had a race where someone else was executing a

[2022-11-14 14:18] ashley-cui commented on #16494
There's a draft PR that deals with SSL certs. Related issues perhaps? https://github.com/containers/podman/issues/16041, https://github.com/containers/podman/issues/16413

[2022-11-14 14:20] rhatdan commented on #15300
Let's discuss this at the next standup or container cabal, since I think @paravoid has valid ideas.  @vrothberg @mtrmac WDYT?

[2022-11-14 14:24] mheon commented on #16455
Docker doesn't support this at all (no ability to do relative paths) - so it's trying to make a named volume.

Podman is actually trying to treat the path as relative, but it looks like that's going very poorly with the remote client. Probably need to turn the relative path into an absolute path early on if the remote client is in use.

[2022-11-14 14:26] vrothberg commented on #15300
I've shared my opinion above a number of times.  Changing the current default behavior is not an option to me.  Docker compatibility is the goal and it took quite some work to get there in this context.

I feel that we are all talking about slightly different things.  Maybe because we're discussing multiple issues in an already closed one.

But I think we can agree that we cannot satisfy all use c

[2022-11-14 14:45] flouthoc opened #16501 "crun-wasm: Add missing test to podman CI for testing `wasm/wasi` workload."
Following PR https://github.com/containers/podman/pull/16434 went in without any tests in CI. Since we need `crun-wasm` package in CI order to test this. So please add a dedicated test for this.

[2022-11-14 14:51] ashley-cui commented on #15976
Still an issue, probably needs some design discussion on dynamic mounts

[2022-11-14 15:02] mveldink commented on #16455
Can we not let clients always supply an absolute path? If docker-compose calls docker always with an absolute path when binding volumes, I think podman-compose should do the same
________________________________
From: Matt Heon ***@***.***>
Sent: Monday, November 14, 2022 9:24:20 AM
To: containers/podman ***@***.***>
Cc: Mike Veldink ***@***.***>; Author ***@***.***>
Subject: Re: [containers/podma

[2022-11-14 15:17] giuseppe commented on #16383
it is a race when reading the process cgroup using `os.ReadFile()`.

What happens is that the process terminates between the open("/proc/$PID/cgroup") succeded and the following read.

It can be easily reproduced with:

[code]

[2022-11-14 15:53] edsantiago commented on #16142
Another "container state improper" flake, but I'm not sure if it's the same cause. This time in [int remote f37 root](https://api.cirrus-ci.com/v1/artifact/task/6108071903100928/html/int-remote-fedora-37-root-host.log.html#t--podman-restart-stopped-container-by-ID--1) but it's in `podman restart`:
[code]

[2022-11-14 15:55] vrothberg commented on #16142
This one looks different to me.  Would you create a new issue for it?

[2022-11-14 16:03] mheon commented on #16455
Docker-compose forces absolute paths because Docker requires absolute paths to function; Podman does work with relative paths, so I don't think podman-compose should have to care.

[2022-11-14 18:27] eriksjolund opened #16502 "`podman pod create --network nonexistent` fails but a pod is created"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When specifying a network name that does not exist to the following command

`podman pod create --network nonexistent`

the command fails as expected with the error message

`Error: unable to find network with name or ID nonexistent: network not found`

but a pod is created. It would be bette

[2022-11-14 18:44] TheHaf commented on #16400
@fedinskiy @vrothberg FYI, I have also recently discovered that NullPointerException in docker-java-api and I have already filed a report there: https://github.com/docker-java/docker-java/issues/1998

In my case the NPE was triggered when I tried to download from a secured repository to which I had no credentials using podman.

I could also provide a PR there, but they haven't responded yet to the

[2022-11-14 19:16] giuseppe commented on #16383
PR here: https://github.com/containers/podman/pull/16504

[2022-11-14 19:27] edsantiago opened #16505 "podman-remote restart: Error sending SIGKILL: container state improper: stopped"
Another signal flake. Only seen once [int remote f37 root](https://api.cirrus-ci.com/v1/artifact/task/6108071903100928/html/int-remote-fedora-37-root-host.log.html#t--podman-restart-stopped-container-by-ID--1):
[code]
Looks exactly the same as #16142, down to the "pidfd" message, but this one is in *restart* not *rm*.

[2022-11-14 19:44] Bshukrallah22 commented on #16487
I'm sorry for some reason my error message wasn't showing up in my initial comment, but when I clicked the edit button it was there. I fixed the initial post.

For clarification I get an error when creating the podman machine:
Configuring system...
Generating public/private ed25519 key pair.
Saving key "podman-machine-default" failed: Bad address
Error: could not create ssh keys: exit status 1

Th

[2022-11-14 19:56] TCROC commented on #14302
Update regarding using homebrew.  I found that homebrew actually installed a bunch of dependencies that were already installed on my Ubuntu distro causing conflicts.  It would be nice if it detected software already installed on my pc.  Would this be more appropriate as a podman or homebrew issue?

[2022-11-14 20:58] dustymabe opened #16509 "podman remote error: strconv.Atoi: parsing "": invalid syntax"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Parsing of the `CONTAINER_HOST` environment variable regressed.  Previous values that were used no longer work and give an error.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

No error.

**Additional informa

[2022-11-14 21:00] rhatdan commented on #16172
@flouthoc Any movement on this one?

[2022-11-14 21:00] rhatdan commented on #16168
Since we have had no feedback, I am closing, reopen if you can give @mheon the feedback.

[2022-11-14 21:00] #16168 closed

[2022-11-14 21:02] rhatdan commented on #16163
@baude do you think this is a leak in gvisor or somewhere else?

[2022-11-14 21:03] rhatdan commented on #16157
@Luap99 any thoughts on this one?

[2022-11-14 21:12] rhatdan commented on #16148
I believe we do do this now.

[2022-11-14 21:12] #16148 closed

[2022-11-14 21:21] rhatdan commented on #15976
I thought someone added a PR to put the mounts in as systemd unit files, which would fire on reboot?

[2022-11-14 21:24] ashley-cui commented on #15976
Draft PR: https://github.com/containers/podman/pull/16143

[2022-11-14 21:47] iamkirkbater commented on #15976
Yeah, that was me who started that PR. The problem I'm having with it right now is inconsistency. Sometimes the systemd files all fire in order, sometimes it takes multiple reboots. Once they're all applied they run fine, seemingly forever, but it's not a better UX at all to have to fight the podman machine on your first startup.

I just haven't had a chance to poke at it again since the last upda

[2022-11-14 22:00] AlexVulaj opened #16510 "Exposed port on MacOS only works inside of podman machine vm"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running `podman run -p 8080:8080` does not expose the port on localhost:8080

**Steps to reproduce the issue:**

1. `podman machine start`

2. `podman run -p 8080:8080 quay.io/avulaj/web-service-gin`

**Describe the results you received:**
[code]

**Describe the results you expected:**
If I r

[2022-11-15 00:52] sstosh commented on #16497
If there is a possibility that we are asked the same question such as this issue in the future,
we should add the description about `RawInput`.
I would like to add the description if necessary.

[2022-11-15 04:05] thjderjktyrjkt opened #16511 "Optionally make exec session terminate with parent"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add a flag to `podman exec` to make exec session terminate with parent, similar to [bubblewrap](https://github.com/containers/bubblewrap)'s `bwrap --die-with-parent`.

Immutable distributions make use of `toolbox` / `distrobox` to provide a mutable environment. A common use is to run comm

[2022-11-15 05:17] mheon commented on #16511
It's more accurate to say that we can't make them *not* terminate when the container exits. The kernel enforces the rule that any PID namespace will kill every process in the namespace if PID 1 in the namespace dies; Podman will take down PID 1, guaranteeing that the kernel will unwind the rest of the namespace. For containers without a PID namespace, it's a bit trickier, but we do have an accurat

[2022-11-15 05:45] M1cha commented on #12563
@mheon was the deadlock fixed? Podman is used on popular non-glibc distributions like alpine(musl). A go project that's not portable would be sad 😁

[2022-11-15 06:58] vrothberg commented on #16497
I agree. Feel free to open a PR, thanks @sstosh

[2022-11-15 07:03] vrothberg commented on #16486
@SoMuchForSubtlety is it possible to add `localhost:39617` as an insecure registry before running the tests (or the tests adding it)?

A drop-in `.conf` file in `/etc/containers/registries.conf.d` would be sufficient; it can removed after/by the tests.

[2022-11-15 07:08] #16383 closed

[2022-11-15 07:16] xRomZak commented on #11541
Got this issue with Minio container (after Mac sleep/awaik).
Minio rejects requests when there is a time diff between client and server.

[2022-11-15 07:32] thjderjktyrjkt commented on #16511
Sorry if i didn't explain it deeper. I'm not talking about the process being lingering when container is stopped, as this had never been the case, just as you said.

With `toolbox` / `distrobox` executing commands inside of container, the container is NOT stopped after the command is finished.

And the parent I'm talking isn't PID 1 of the container, but the `podman exec` process in terminal emula

[2022-11-15 07:54] SoMuchForSubtlety commented on #16486
That doesn't work, because the registry starts with a random port for each test case.

Dropping the requirement for a subdomain wildcard when specifying a prefix without a location seems like the kost straightforward solution to me.

[2022-11-15 08:02] vrothberg commented on #16486
@SoMuchForSubtlety, the idea is to generate the file when running the tests, when we know which port the registry is running on.

It will take time some more time until we get it done.

[2022-11-15 08:14] SoMuchForSubtlety commented on #16486
They won't allow any chnges to existing tests.

I'll try to write a small external program that checks for running registries and updates the config accordingly.

Btw, I'd be happy to contribute the required changes for the prefix logic.

[2022-11-15 08:22] vrothberg commented on #16486
Thanks, @SoMuchForSubtlety!  Let's continue the design discussion in https://github.com/containers/podman/pull/16491.  Once we have consensus, we can distribute the work.  Maybe we can find a less time-consuming solution.

[2022-11-15 09:01] flouthoc commented on #16172
I just need to rebase my original PR since new version of netavark and aardvark are already out.

[2022-11-15 09:16] gbarceloPIB commented on #2317
I would also like to point out how minikube handles this issue:
https://minikube.sigs.k8s.io/docs/handbook/untrusted_certs/
This way we do not need to install test root certificates on our workstations, or root permissions are not needed.

[2022-11-15 09:17] ArvindGundimajalu commented on #16342
I am facing the same issue. I have tried running the following 2 commands
1. docker pull mcr.microsoft.com/mssql/rhel/server:2019-latest
2. podman pull mcr.microsoft.com/mssql/rhel/server:2019-latest

The first command seems to work the second is failing. with error - Error: initializing source docker://quay.io/podman/hello:latest: pinging container registry quay.io: Get "https://quay.io/v2/": dia

[2022-11-15 10:15] arixmkii commented on #16510
Did you try loopback IPv4 value instead of localhost? Try `curl http://127.0.0.1:8080` from host machine.

[2022-11-15 10:15] alexlarsson opened #16515 "Various issues in systemd.NotifyProxy"
I've been reviewing this code, hoping to find the cause of #16076. I'm not 100% sure I've found the underlying reason, but I have found several issues.

First of all, there seems to be a general misconception of how datagram sockets work. Any single write is never split, and is delivered as a separate read, never combined with any other write. This means that the loop in waitForReady() is wrong wh

[2022-11-15 11:07] alexlarsson commented on #16515
So, the problem in the tests seems to be that the sd-notify write blocks. This is a sequence like this:
client:
 * sd-notify writes READY=1 packet (on a new dgram socket)
 * sd-notify creads socketpair
 * sd-notify writes BARRIER=1 packet, with fd = socketpair[1]  (on a new dgram socket)
 * sd-notify closes socketpair[1] (but the outstanding packet keeps it open)
 * sd-notifies blocks on poll(sock

[2022-11-15 12:13] Luap99 commented on #16511
@mheon I think the request is basically to not double fork conmon and not let it create a new process group to keep it attached to the podman parent process.

[2022-11-15 12:19] thjderjktyrjkt commented on #16511
Yes. This would work as well.

[2022-11-15 12:44] edsantiago commented on #15321
Seen in [f36 root](https://api.cirrus-ci.com/v1/artifact/task/4778613363441664/html/sys-remote-fedora-36-root-host.log.html#t--00111)
[code]