[2020-12-21 20:49] rhatdan commented on #8757
Please open a PR with this exact change and we can get it merged.

[2020-12-21 20:50] rhatdan commented on #8384
This should be in the main branch now.

[2020-12-21 20:54] rhatdan commented on #8786
There is no way to determine this safely.
I could for example create a directory labeled container_file_t:s0 to share between multiple containers.  In this case we would not want to use the :z or :Z.

[2020-12-21 21:19] rhatdan commented on #8411
I don't believe this is an upstream issue.  Reopen if I am mistaken.

[2020-12-21 21:19] #8411 closed

[2020-12-21 21:36] rhatdan commented on #8796
I think we could add support for DOCKER_CONFIG to point the REGISTRY_AUTH_FILE at, if the environment was not set.
IE Check REGISTRY_AUTH_FILE then DOCKER_CONFIG.  BUT this would only be for support of the credentials, since we currently support credentials from $HOME/.docker/config.json.

[2020-12-21 22:12] rhatdan commented on #8798
@giuseppe @mheon I thought we dealt with something like this before?

[2020-12-21 22:17] leftl commented on #8704
Confirming same issue on 8_Stream
`[root@centos ~]# dnf install podman
[...]
[MIRROR] podman-plugins-2.2.1-1.el8.x86_64.rpm: Interrupted by header callback: Server reports Content-Length: 2536056 but expected size is: 2536064
[MIRROR] podman-2.2.1-1.el8.x86_64.rpm: Interrupted by header callback: Server reports Content-Length: 22514300 but expected size is: 22514304
[MIRROR] containers-common-1.2.

[2020-12-21 22:20] rhatdan commented on #8778
If you run lsof it causes this file system to get mounted.  I have a reproducer.

[2020-12-21 22:49] ruddy32 opened #8800 "Failed starting podman API using systemctl : Failed to start Podman API Service."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Failed starting podman API using systemctl :  `systemd[1205]: Failed to start Podman API Service.`

**Steps to reproduce the issue:**

1. Archlinux x86/64 system

2. Run `systemctl --user start podman`

**Describe the results you received:**

System journal show :
`systemd[1205]: Failed to st

[2020-12-22 00:15] mheon commented on #8798
Can't locate the PR, but I know we have hit this before. I believe the fix was to truncate container ID to ensure maximum length restriction was satisfied?

[2020-12-22 00:18] mheon commented on #8800
Likely fixed by https://github.com/containers/podman/pull/8753 (merged upstream but not yet in any release)

[2020-12-22 02:06] gzm55 commented on #8384
@rhatdan do you mean that the master branch of podman already has a new `podman run ...` option for disabling creating a new keyring? I tested the latest tag 2.2.1 and searched the commits in the last 3 weeks, and did not see such an option. How can I disable the keyring feature using the latest or development version of `podman`.

[2020-12-22 03:43] bblenard commented on #8658
@bugaevc I haven't forgotten about this issue. I'm currently trying to wrap up a different PR so I haven't been focusing on this, but I plan to.

[2020-12-22 05:07] gbhushan86 commented on #8795
Tried after removing the flag it didnt work

[2020-12-22 07:25] xomachine opened #8801 "Overlay volume mount has incorrect permissions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The permissions of the overlay volume mount ('O' flag in the volume declaration) differs from the same mount without overlay

**Steps to reproduce the issue:**

1. Create a temporary directory to mount `mkdir tmp`

2. Run `podman run -ti -v $PWD/tmp:/tmp/test:O --rm busybox ls -l /tmp`

3. Run

[2020-12-22 07:34] dmesser commented on #8242
@vrothberg I can confirm using `--add` works. I have to use it for both `podman manifest create` and `podman manifest push`. I think there is potential for simplification here by making `--all` implicit, at least for `push`.

[2020-12-22 07:34] #8242 closed

[2020-12-22 07:35] ArjenKorevaar commented on #8796
@rhatdan, thank you for your reply. I would appreciate that, since it would solve our current issue with the Azure DevOps pipelines.

In general, if you aim to be compatible with Docker, and even claim things like "Simply put: alias docker=podman." (and that's also how the podman-docker rpm package installs itself), you should make sure you are 100% compatible so that programs that rely on Docker

[2020-12-22 08:00] zhangguanzhang opened #8802 "[ci]: ERROR: Releases must never contain '-dev' in output of 'podman info' (contrib/cirrus/runner.sh:203 in _run_release())"
https://cirrus-ci.com/task/5650026892361728
https://github.com/containers/podman/pull/8793/checks?check_run_id=1592712174
@edsantiago PTAL

[2020-12-22 09:04] giuseppe commented on #8580
now crun creates another inner user namespace when you provide a configuration like: `--uidmap 0:0:1 --user 1000:1000`.  After creating the usernamespace you've asked for `--uidmap 0:0:1` and performing all the container configuration there, just before launching the container process, crun creates another user namespace where it maps to the user you've specified.

So what really happens is UID on

[2020-12-22 09:24] giuseppe commented on #8772
runroot is used to store the state of running containers.

Another possibility if you'd like to keep the upper layers on tmpfs is to use an additional RO store.  The RO store can be placed on the persistent storage, while the main store is on the tmpfs

[2020-12-22 09:58] giuseppe commented on #8737
is the `io` controller available?  What is the output for `cat /sys/fs/cgroup/cgroup.controllers`?

If it is not available, it might be necessary to add something like `cgroup_enable=io` on the kernel cmdline

[2020-12-22 10:17] cwrau commented on #8772
Mh, read-only doesn't sound like a drop-in configuration 😅

I think I'll stick with the current system, it's not like it's slow 😁

Thanks for your help though! 😊

[2020-12-22 12:04] cruwe opened #8803 "`podman play kube` (rootless) does not set `command` and `args` as specfied at the k8s specs"
/kind bug

**Description**

https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes describes how pods started by k8s are expected to behave when `CMD` and `ENTRYPOINT` are (possibly) defined at the image and `command` and `args` passed (optionally) from the pod declaration.

When assuming that `podman kube play` should behave as k8s and podman 2.1 do, thi

[2020-12-22 13:01] rhatdan commented on #8148
Ok closing, reopen if it happens again

[2020-12-22 13:01] #8148 closed

[2020-12-22 13:03] rhatdan commented on #7981
I don't believe this happens in current main branch.  @jwhonce Reopen if you can recreate.

[2020-12-22 13:03] #7981 closed

[2020-12-22 13:24] boaz0 commented on #8779
@rhatdan mind if I work on it?

[2020-12-22 13:25] #8800 closed

[2020-12-22 13:32] rhatdan commented on #8384
There is support in containers.conf for setting all container engines to create or not create the keyring.

# keyring tells the container engine whether to create
# a kernel keyring for use within the container.
# keyring = true

I believe creating $HOME/.config/containers/containers.conf or /etc/containers/containers.conf should do this, if it is fully wired up.

[containers]
keyring=false

[2020-12-22 13:34] rhatdan commented on #8795
If you build the image outside of the container using `podman build` or `buildah bud`does it work?

[2020-12-22 13:49] rhatdan commented on #8801
Interested in opening a PR to fix this?

[2020-12-22 13:57] rhatdan commented on #8796
I would hesitate that we plan to be 100% compatible.  The original promise was to be as CLI compatible as possible, which I believe we have achieved.  Now we have moved to API Compatibility with APIV V2

But we make choices that are incompatible for certain features like:

- We do not plan to create like docker swarm.
- Features we did not implement the same way like docker network versus podman n

[2020-12-22 14:15] rhatdan commented on #8779
I never mind free labor.

[2020-12-22 14:15] bziemons commented on #8803
There is #8428 about this. And I do share your frustration about this, but truth is that it happened already and it is more important to talk about how to prevent severe breakages like this in the future. I agree as well this needs to be addressed with a bit more hurry.

[2020-12-22 14:31] ArjenKorevaar commented on #8796
I'm sorry, but that is not what "alias docker=podman" says.

I understand why you would not want to pin down to being 100% compatible.. for reasons you already mentioned and probably some more giving it some thinking. But that would make Podman 'similar' to Docker and not an alias. What happens now is that podman is treated as a substitute for docker, assuming everything will continue to work as e

[2020-12-22 15:04] rhatdan commented on #8796
Sure, bottom line, if the change and simple and not necessary to conflict, then we will make the change.  But we reserve the rights to have differences.
The goal with `alias docker=podman` was to explain to users, that it would be easy for the general user to convert from docker to podman.  Now we are dealing with more of the corner cases, where we are only 90% compatible.

Bottom line supporting

[2020-12-22 15:23] baude commented on #8524
is this still an issue?

[2020-12-22 15:28] srcshelton commented on #8524
I've now updated to `podman-2.2.1` - I'll update to confirm the issue or close it off once the scheduled task showing the above behaviour runs overnight...

... but I *think* it's still an issue...

[2020-12-22 15:33] rhatdan commented on #8480
First off this should be a bugzilla not an issue.  Really not an upstream issue.

But I do not believe this would have worked in older podman, since cgroups are not supported in rootless mode with cgroupV1.  Cgroups can not be delegated and not root users are not allowed to write to them,  So this is expected behaviour until you move to cgroupV2 and using an OCI runtime like crun, or an upstream v

[2020-12-22 15:33] #8480 closed

[2020-12-22 15:37] #8782 closed

[2020-12-22 16:21] gbhushan86 commented on #8795
Tried building image using podman/buildah and buildctl tool from an bastion ubuntu instance its building the image.But the same is not happening from openshift deployed in IBM cloud.

[2020-12-22 16:22] mheon commented on #8803
Unfortunately most of the team is off for the holidays, so it's unlikely we will have a release out with a fix before the new year. The big takeaway here to me is the need for improved testing on the `podman play kube` command to catch regressions like this.

[2020-12-22 16:44] mheon commented on #8524
I recently fixed a bug that might be related, but it only affected containers started with `--log-level=debug`

[2020-12-22 16:51] gzm55 commented on #8384
for `podman version 2.2.1`, podman recognize `keyring` option. But after setting `keyring=false` in  /etc/containers/containers.conf, we still got the same error about 'create session key'.

[2020-12-22 17:41] rhatdan commented on #8796
@QiWang19 @mtrmac Points out that podman should fail over to use DOCKER_CONFIG if it is set.

[2020-12-22 17:43] rhatdan commented on #8795
Running podman build from inside of a non privileged container under OpenShift/Kubernetes is not going to work.  The problem is podman/buildah needs at least CAP_SETUID, CAP_SETGID in order to build a container.

[2020-12-22 17:45] mtrmac commented on #8796
It already can do so as of https://github.com/containers/image/pull/1056 .

[2020-12-22 18:08] rhatdan commented on #8384
This was not wired down the stack.

[2020-12-22 18:08] haircommander commented on #8803
fix and test incoming

[2020-12-22 18:43] gbhushan86 commented on #8795
Hi Im using jenkins  pod template to create yaml file and trigger podman inside the container to build docker image
like this.same template works fine on other openshift clusters deployed on different cloud providers AWS/Azure.But for IBM Openshift im getting error.

Error: error building at STEP "WORKDIR /": error ensuring container path "/": stat /var/lib/containers/storage/overlay/d0481c59b4152

[2020-12-22 19:41] rhatdan commented on #8796
Which means this was fixed as of podman 2.2.

[2020-12-22 19:41] #8796 closed

[2020-12-22 19:45] rhatdan commented on #8795
Ok so this is a privileged pod.  Why this is only blowing up only on IBM Cloud, I have no idea.

[2020-12-23 06:19] tossmilestone commented on #5510
In podman 2.2.1, this is still not fixed.

[2020-12-23 08:20] l30006821 opened #8811 "How do I set the tag to <none> but repository to be <none>"
like this:
`REPOSITORY                           TAG                                                  IMAGE ID         CREATED      SIZE`
`quay.io/openshift/okd          <none>                                            9b89d802f81d  10 days ago  321 MB`

[2020-12-23 09:08] p7kdev opened #8812 "[Podman 2.2.1] rootless works, as root I get a system error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Hi, I am currently struggling with a problem here and hope I am in the right place.

When I start a container as root, I get the following error:
[code]
Adding CAP_AUDIT_WRITE will remedy the situation.

[code]
When I start the container rootless, everything works fine
[code]

Even if I drop

[2020-12-23 09:16] #8803 closed

[2020-12-23 09:33] rhatdan commented on #5510
Please open an new issue with a reproducer.

[2020-12-23 09:34] rhatdan commented on #8811
Please explain what you are trying to do?

[2020-12-23 09:38] rhatdan commented on #8812
I think the libraries that are trying to write the audit.log are smart enough to know if the process is running as real/root versus running as the user UID, and in the non root case, it ignores the fact that it can not write an audit message.  When running as real/root it is not ignored, causing the error to be pushed up to su, causing it to fail.

[2020-12-23 09:38] #8812 closed

[2020-12-23 09:42] #8512 closed

[2020-12-23 09:53] l30006821 commented on #8811
thank for your reply, I just started podman. I used the command 'podman save -o xxxxx.tar imageID' to save an image to my hard drive and load it onto another computer. Podman performs a pull operation when the image is already there.Is this because of tag inconsistency? I want to change their tags to match the source host to test

[2020-12-23 10:13] ArjenKorevaar commented on #8796
Right, I have not searched the containers/image github, just containers/podman for issues or PR's related to DOCKER_CONFIG.

This remains to be an issue for us though, as we run RHEL 8 and cannot simply upgrade Podman to version 2.2 because of its dependencies.

No, we're dealing with enterprise environments in which claims like "alias docker=podman" can have large consequences.

[2020-12-23 12:35] cbluth commented on #7234
im getting a similar error with podman running inside a docker container:
[code]

[2020-12-23 13:07] storrgie commented on #8615
Is there an issue tracking sdnotify for conmon?

[2020-12-23 13:15] srcshelton commented on #8524
Ah - that might be it!  Some of these containers are started with debug logging which is then redirected to a file.

...

Hmm - but not these ones.  Even with `2.2.1` I'm starting containers with the above command-line (including `--rm`) and their status is showing as `Exited (0) 15 hours ago` but they've not been removed.

[2020-12-23 13:18] rhatdan commented on #8796
Podman 2.2.1 will be available for RHEL 8 in February.

[2020-12-23 13:23] RomainNakedCat opened #8814 "Rootfull port forwarding not working"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug
**Description**
If you run any container with Podman you cannot access the service from remote machines despite -p. Only way to do it is to use --network=host

**Steps to reproduce the

[2020-12-23 13:23] rhatdan commented on #8524
Any thing reported in the journal?  When containers run in daemon mode they launch conmon, which will launch a podman container cleanup process when the container exits.  For some reason this cleanup process must be failing.

[2020-12-23 13:25] ikke-t commented on #7938
Anyone coming ending up here wondering how to run rootless containers with ansible, this commit has the changes easily visible. It's lacking from ansible docs at the moment https://github.com/ikke-t/podman-container-systemd/commit/3d03115a0df0d2e1bfae9cb854a8f0688b655733

[2020-12-23 13:25] srcshelton commented on #8524
I'm on a host without systemd - is this logged elsewhere (by default)?  Do the cleanup processes still trigger under other init systems?

I've not added any specific logging for these containers - but I can run with debug logging and capture `stdout`/`stderr` if that'd help?

[2020-12-23 13:26] rhatdan commented on #8814
Podman does NOT automatically open a Hole in your firewall rules.  So you need to open the firewall rules for port 80.

[2020-12-23 13:27] #6123 closed

[2020-12-23 13:29] rhatdan commented on #8524
You can see the cleanup call in the conmon process.

ps -auxww | grep conmon

If you can execute that command on a stopped container see if it throws an error.

```--exit-command /usr/bin/podman --exit-command-arg --root --exit-command-arg /home/dwalsh/.local/share/containers/storage --exit-command-arg --runroot --exit-command-arg /run/user/3267/containers --exit-command-arg --log-level --exit-com

[2020-12-23 13:30] RomainNakedCat commented on #8814
I do not need to open anything because chain INPUT uses an accept policy

[2020-12-23 13:34] srcshelton commented on #8524
Interestingly, I've got `conmon` processes for all of the running containers, but none for the unremoved container (with status `Exited`) - suggesting that the process has already executed the exit commands (or not) and has itself then quit?

I chose another disposable container and confirmed that there was a `conmon` process running, and then ran `podman stop` on this container.  This container n

[2020-12-23 13:39] srcshelton commented on #8524
Noting that `podman ps -a` still shows:

[code]

[2020-12-23 13:49] bziemons commented on #8428
Should be fixed by #8807

[2020-12-23 13:59] v42net opened #8815 "`podman exec -t <container>/bin/sh` hangs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After starting a container (for instance Alpine), executing /bin/sh in that container hangs. This happens both rootfull and rootless.

**Steps to reproduce the issue:**

1. Via one bash session on the host: `podman run -t --rm --name=test alpine:latest`
2. Via another bash session on the host

[2020-12-23 14:04] v42net commented on #8815
**OS version:**

Oracle Linux Server release 8.3

**Rootfull output of `podman info --debug`:**
[code]

[2020-12-23 14:05] mheon commented on #8815
We’ve made numerous fixes to Exec in subsequent releases. I’m betting this
is probably fixed in a future upstream release.

On Wed, Dec 23, 2020 at 08:59 Peter Hoogendijk <notifications@github.com>
wrote:

[2020-12-23 14:08] Luap99 commented on #8815
You need `-i` for podman run/exec to have a interactive terminal

[2020-12-23 14:10] mheon commented on #8814
Please provide ‘iptables -t nat -nvL’ and ‘iptables -nvL’ both with and
without the container in question running. Also , do you use any external
software (e.g. firewalld) to manage the system firewall?

On Wed, Dec 23, 2020 at 08:30 RomainNakedCat <notifications@github.com>
wrote:

[2020-12-23 14:25] rhatdan commented on #8524
Did you record the podman container cleanup call from the `ps -auxww | grep common` command, you should be able to run this a second time and see if it throws an error.

[2020-12-23 14:25] #8428 closed

[2020-12-23 14:27] rhatdan commented on #8815
Should be fixed in podman 2.2.1 which is shipping in February if the addition of the -i flag does not fix it.
BTW This should be reported in bugzilla not in the upstream.

[2020-12-23 14:27] #8815 closed

[2020-12-23 14:29] mheon commented on #7234
That is a very different error, please file a separate bug report for it.

On Wed, Dec 23, 2020 at 07:35 cbluth <notifications@github.com> wrote:

[2020-12-23 14:59] abitrolly opened #8817 "Wrap container into single binary using podman"
/kind feature

Once in a while I need to do this.
[code]
Basically regenerate a single `Gemfile.lock` file in current directory. And I want to delegate the task to somebody else. And I want to make it a single binary, for example, `regen`, so that the person could just download and run `regen` without additional `apt-get/choco/dnf install/update/etc` hassle.

Is that possible to build such binary

[2020-12-23 15:15] rhatdan commented on #8817
If you mean could you bundle up everything that is podman along with this command into a single binary, the answer is no.

Podman relies on other packages to run containers.  It requires a containers monitor (conmon) It uses an OCI Runtime (runc, crun, kata).  If you run rootless, it also needs slirp4netns, fuse-overlayfs.  It uses the containers-common package for most of its configuration also.

[2020-12-23 15:40] #8791 closed

[2020-12-23 15:46] baude commented on #8817
to me this sounds like you shouild make your own image and push it to a registry.  then use podman container runlabel to build the gem.

https://github.com/containers/podman/blob/master/docs/source/markdown/podman-container-runlabel.1.md

[2020-12-23 15:52] abitrolly commented on #8817
Is it possible to decouple this to run completely in userspace? If not, what `kernel` interfaces should be supported out of the box to make the user OS "portable podman friendly"?

[2020-12-23 15:54] rhatdan commented on #8817
I really do not understand what you are after.  Any OCI Image is podman friendly and should run on any Linux OS that has podman.

[2020-12-23 15:54] abitrolly commented on #8817
@baude nice feature, thanks. Although **-v /:/host** makes me nervous about trusting Docker Hub. :D
[code]

[2020-12-23 15:56] rhatdan commented on #8817
@abitrolly you should not trust images period.  But doing -v/:/host gives them full reign on your host.

[2020-12-23 15:58] abitrolly commented on #8817
@rhatdan I want to ensure that any Linux DevOps can run that, like any other tool written in Go and compiled into single binary. Not every Linux OS has `podman`.

[2020-12-23 16:15] rhatdan commented on #8817
Well that is the rub.  You need a container engine to run a container image.  (Podman, Docker, CRI-O, Containerd, Buildah...)
Any one of these can run an image created by Podman, but one of them is required.

[2020-12-23 16:26] abitrolly commented on #8817
@rhatdan so no containers in userspace without some engine one leg in `kernel`? I had a hope that Linux containers got a leg in userspace finally. :D

[2020-12-23 16:32] imperialguy commented on #8687
Are there plans to release podman runtime on Windows/Mac anytime soon?

[2020-12-23 16:34] imperialguy commented on #8817
@rhatdan A little out of topic, but are there any plans to release podman runtime for both Windows/Mac anytime soon?

[2020-12-23 16:59] rhatdan commented on #8687
No Podman launches Linux containers, Linux containers require a Linux Kernel.  Neither Windows or Mac use Linux kernels, so you need to run a VM or work with a remote linux machine. Windows supports WSL2 which is really just a VM running Linux, so podman will work within WSL2.

[2020-12-23 17:01] rhatdan commented on #8817
Answered in other places. NO windows or MAC native support.  Not going to happen.

@abitrolly you need a tool to pull the image, store it and configure the linux kernel to run it.  So yes you need an engine.  You could build a tool to embed all of this into one executable, but no one has done that.

[2020-12-23 17:04] baude commented on #8443
@TerraTech i hope you dont mind that i made a pr for this ...

[2020-12-23 17:25] abitrolly commented on #8817
@imperialguy hey, that's hijacking the thread! :D

@rhatdan I guess the imperial question is not about native support, so shipping `podman` as a binary with QEMU and Linux under the hood may solve that problem.

The part with pulling and storing the image is possible in userspace. But is it possible to configuring Linux kernel to run the image from the userspace?

[2020-12-23 18:20] baude commented on #8388
hi @Edward5hen i followed your reproducer exactly (in the first report) and i cannot replicate it using the latest upstream code.  can you try again?

one note, i used alpine as an image

[2020-12-23 18:33] mheon commented on #8687
Worth noting that we do support a remote client for OS X and Windows right now that is capable of managing containers on a Linux machine (usually a VM on the system).

[2020-12-23 18:35] baude commented on #8743
@PavelSosin-320 im not able to trip this bug ... i suspect it might be a difference in our commands.  could you provide an exact set of podman commands to the point of tripping the first error?

[2020-12-23 19:25] rhatdan commented on #8817
I am going to close this since it is not likely to happen.

[2020-12-23 19:25] #8817 closed

[2020-12-23 19:28] ruddy32 commented on #7927
The container used is KeyCloack 10 and 11. How to capture JSON payload?

[2020-12-23 19:36] #8176 closed

[2020-12-23 19:50] mheon commented on #7927
You can use `socat` to capture the HTTP traffic to and from the Podman socket; @baude knows how to do so better than I.

[2020-12-23 20:14] rhatdan commented on #7328
Since I never heard back an explanation why this was a podman issue, closing.

[2020-12-23 20:14] #7328 closed

[2020-12-23 20:15] rhatdan commented on #7348
Since I explained how to do it, I am closing.

[2020-12-23 20:15] #7348 closed

[2020-12-23 20:16] rhatdan commented on #7377
@baude @mheon Are we going to be able to get this in podman 3.0 or have we missed the boat?

[2020-12-23 20:17] rhatdan commented on #7398
This should be fixed in main branch, since I know the stdin is disabled, I am working on a mechanism to add a flag for people who want this ability back under certain circumstances.

[2020-12-23 20:17] #7398 closed

[2020-12-23 20:20] baude commented on #7404
we need @jwhonce on this one ... i have no clue here.

[2020-12-23 20:22] mheon commented on #7377
Completely missed the boat - this is going to be a giant change when we decide to make it.

[2020-12-23 20:26] abitrolly commented on #8817
Linux kernel is unlikely to run in userspace as a container without additional software?

[2020-12-23 20:27] rhatdan commented on #7418
Have not heard back, so assume it worked.  Reopen if I am mistaken.

[2020-12-23 20:27] #7418 closed

[2020-12-23 20:29] #8443 closed

[2020-12-23 20:30] #7501 closed

[2020-12-23 20:30] rhatdan commented on #7705
@QiWang19 PTAL

[2020-12-23 20:35] #8790 closed

[2020-12-23 21:02] QiWang19 commented on #7705
duplicate of BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1892722,  @umohnani8 are you working on this?

[2020-12-23 22:02] imperialguy commented on #3288
I am getting the exact same error on WSL.

[2020-12-24 00:40] dominic-p commented on #7706
Not stale. :)

[2020-12-24 01:40] #8733 closed

[2020-12-24 02:18] zhangguanzhang commented on #8710
Can you try to compile it with the latest code branch？
I think the latest pr may contain fixes

[2020-12-24 02:31] #8811 closed

[2020-12-24 03:21] yufeifly opened #8825 "what is the best way to implement pre-copy for container checkpointing?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
criu implements precopy for checkpointing. I want to use precopy feature in podman. Is it feasible? What can I do to implement this feature?

**Describe the results you expected:**
podman supports precopy for container checkpointing.

[2020-12-24 04:26] Edward5hen commented on #8388
Thanks, Brent. I just tried this with the latest code on fedora 32, it works fine. I'm closing this now.

[2020-12-24 04:26] #8388 closed

[2020-12-24 07:13] kazimsarikaya commented on #8374
I am still working on the pr #8456

[2020-12-24 08:32] v42net commented on #8815
The missing `-i` for podman run/exec was a typo while raising this issue.

After some time the first `podman run` session also started hanging, so I suspected something else must be causing this.
So I started, again, with a fresh install of Oracle Linux 8, and found that everything now worked fine.

Going over my notes I found the difference between the two Oracle Linux 8 installations:

- On the

[2020-12-24 10:52] imperialguy opened #8826 "podman unable to spin up containers in WSL (not WSL2) Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman unable to spin up containers in WSL (not WSL2) Ubuntu 20.04.

**Steps to reproduce the issue:**

1. Install WSL ubuntu 20.04 on Windows 10. Install podman. Switch to root and update container.conf with cgroup_manager = "cgroupfs"  and events_logger = "file"

2.  Try spinning up a contai

[2020-12-24 11:02] imperialguy opened #8827 "podman doesn't work as non-root user on WSL Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman commands don't work as non-root user on WSL Ubuntu 20.04

**Steps to reproduce the issue:**

1. Install WSL ubuntu 20.04 on Windows 10. Install podman. Switch to root and update container.conf with cgroup_manager = "cgroupfs" and events_logger = "file"

2. Switch back to non-root user.

[2020-12-24 11:08] rhatdan commented on #8182
@giuseppe isn't the PR that you just opened to related to this?

[2020-12-24 11:09] rhatdan commented on #8167
@vrothberg did you ever finish your diagnosis?

[2020-12-24 11:11] rhatdan commented on #8162
I am going to close this do to lack of movement, Reopen if you want to add documentation.

[2020-12-24 11:11] #8162 closed

[2020-12-24 11:12] rhatdan commented on #8128
Interested in opening a PR to add the docs?

[2020-12-24 11:17] rhatdan commented on #8086
@mheon any more thoughts on this?

[2020-12-24 11:20] rhatdan commented on #8001
This is now working for me on Buildah, although I am dropping --override-arch and just using --arch.

https://github.com/containers/buildah/pull/2868

[2020-12-24 11:20] rhatdan commented on #7990
This has been fixed in main branch.

[2020-12-24 11:20] #7990 closed

[2020-12-24 11:21] rhatdan commented on #7989
@HarriL @afbjorklund @mheon Have we gotten any closer on this one?

[2020-12-24 11:37] rhatdan commented on #8195
@baude PTAL

[2020-12-24 11:44] pastalian opened #8829 "Fish completion not working as expected"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Fish completion will not work if the command is prefixed with a space.

**Steps to reproduce the issue:**

1. In fish shell, type `<SPACE>podman<SPACE>`

2. Press TAB

**Describe the results you received:**

Fish shows file completion
[code]

**Describe the results you expected:**

Fish shows

[2020-12-24 11:44] rhatdan commented on #8432
@buck2202 Any progress?

[2020-12-24 11:46] rhatdan commented on #7684
Since we never heard back, I am going to assume this is fixed, Reopen if I am mistaken.

[2020-12-24 11:46] #7684 closed

[2020-12-24 11:47] rhatdan commented on #7706
Nope, I started a PR on this, but never seem to have time or priority to work on it, if someone wants to steal it and drive it to completion that would be great. #8393

[2020-12-24 11:48] rhatdan commented on #7857
@mlegenovic Has the situation improved on this in the main branch?

[2020-12-24 11:49] rhatdan commented on #7875
@lsm5 I am asking again, what is the scoop on this one?

[2020-12-24 11:50] rhatdan commented on #7963
I opened the above PR to implement some of @mtrmac suggested improvements.

[2020-12-24 11:51] rhatdan commented on #8060
@giuseppe could you create a PR to make this happen?

[2020-12-24 11:52] rhatdan commented on #8076
Closing do to lack of activity.

[2020-12-24 11:52] #8076 closed

[2020-12-24 11:54] rhatdan commented on #7219
This is fixed.

[2020-12-24 11:54] #7219 closed

[2020-12-24 11:55] rhatdan commented on #7234
@mheon is the original issue fixed?  Can we close this?

[2020-12-24 11:56] rhatdan commented on #7241
I believe this is fixed now, @edsantiago reopen if I am mistaken,

[2020-12-24 11:56] #7241 closed

[2020-12-24 11:57] rhatdan commented on #7262
@Luap99 @mheon @zhangguanzhang @danopia Is this still a valid issue?  Or can I close?

[2020-12-24 11:59] rhatdan commented on #7316
I am continuing to try to get this to pass CI in https://github.com/containers/podman/pull/8508

[2020-12-24 12:01] rhatdan commented on #7318
@ashley-cui has not been able to work on this, since she has been working mainly on podman secrets.

@zhangguanzhang @Luap99 any others interested on working on a PR for this?

[2020-12-24 12:02] rhatdan commented on #7323
I believe this is not an issue in the current main branch,  Reopen if I am mistaken.

[2020-12-24 12:02] #7323 closed

[2020-12-24 12:03] rhatdan commented on #7495
As of right now, we don't have a way to get specific version of the API.

[2020-12-24 12:03] rhatdan commented on #7495
@jwhonce @baude Please comment.

[2020-12-24 12:04] rhatdan commented on #7497
@vrothberg do you have time to look at this?

[2020-12-24 12:06] rhatdan commented on #7504
This is a duplicate of #8269

[2020-12-24 12:07] rhatdan commented on #7511
I believe there is a duplicate issue to this one in existence, one of them should be closed.

[2020-12-24 12:07] danopia commented on #7262
The headline issue of writing broken conflists to disk seems fixed. I just tried all my original repros on 2.2.1 and it looks fine.

The REST API docs are still wrong and/or misleading, which isn't too surprising anyway.

[2020-12-24 12:08] rhatdan commented on #6003
@vrothberg did your rework of the copier code fix this issue?

[2020-12-24 12:09] rhatdan commented on #6045
@baude @mheon @giuseppe WDYT?

[2020-12-24 12:10] rhatdan commented on #6068
This is now documented, closing. Reopen if I am mistaken.

[2020-12-24 12:10] #6068 closed

[2020-12-24 12:11] rhatdan commented on #6114
@mheon any progress on our IPV6 support?

[2020-12-24 12:12] rhatdan commented on #6160
Sadly this issue never makes any progress.

[2020-12-24 12:13] rhatdan commented on #6265
@QiWang19 Any new thoughts on this?

[2020-12-24 12:15] rhatdan commented on #6259
@mtrmac should we move this up in priority?

[2020-12-24 12:17] rhatdan commented on #6480
This issue is still out there.

@mheon @haircommander @durandx is this still something we should pursue?
@zhangguanzhang @Luap99 @saschagrunert WDYT?

[2020-12-24 12:17] akvadrako commented on #7504
How is this a duplicate? #8269 doesn't seem to mention specifying uidmap for containers.

[2020-12-24 12:18] rhatdan commented on #6496
@vrothberg This is blocked on a PR that you opened many months ago. Any progress?

[2020-12-24 12:19] dzintars commented on #8710
in general same issue there on fresh Fedora 33 and stock Podman 2.2.1 install. My old pod.yml's fail to start. If i remove `securityContext` stanza i can create containers, but they fail to start.
`podman start web-nginx --log-level=debug` highlights 2 issues:
[code]
and
[code]
I tried to `sudo dnf -y install kata-runtime kata-proxy kata-shim`, but it just helps with the first warning.
`--runtime

[2020-12-24 12:20] rhatdan commented on #6517
@mheon @vrothberg @jwhonce @baude What is going on with this issue?  Anything?

[2020-12-24 12:21] rhatdan commented on #6579
@edsantiago @jwhonce Is this still an issue?

[2020-12-24 12:22] rhatdan commented on #6612
I believe this is fixed, reopen if I am mistaken.

[2020-12-24 12:22] #6612 closed

[2020-12-24 12:25] rhatdan commented on #6618
Know one has worked on this, and it is still an issue.  (At least I verified the bug using the repeater above).

@containers/podman-maintainers Anyone want to take a look?

[2020-12-24 12:25] rhatdan commented on #6618
@baude do you have time for this?

[2020-12-24 12:26] rhatdan commented on #6717
@QiWang19 did you ever work on this?

[2020-12-24 12:27] rhatdan commented on #6721
Sadly no one has worked on this one, seems to be still an issue.

[2020-12-24 12:28] rhatdan commented on #6866
@baude you have been working on this. What is the current state?

[2020-12-24 12:29] rhatdan commented on #6867
@c-goes @skorhone @baude is this still and issue in the main branch?

[2020-12-24 12:30] rhatdan commented on #6950
Since this is believed to be a bad registry configuration, I am going to close.  Reopen if I am mistaken.

[2020-12-24 12:30] #6950 closed

[2020-12-24 12:32] rhatdan commented on #6990
@Keith-Nowosielski-SJSU @mheon Do we still have this issue?

[2020-12-24 12:33] rhatdan commented on #7102
@jwhonce What is going on with this?

[2020-12-24 12:34] rhatdan commented on #7102
@containers/podman-maintainers PTAL
It does not seem like this should be a big issue?  Is this fairly easy to fix?

[2020-12-24 12:37] rhatdan commented on #7139
@edsantiago still seeing this?

[2020-12-24 12:39] rhatdan commented on #7175
Since we got no further feedback, I am closing.  Reopen if this is still an issue.

[2020-12-24 12:39] #7175 closed

[2020-12-24 12:41] rhatdan commented on #4056
This should only be tested versus the main branch.  It will not work on older versions especially one as old as 1.6

[2020-12-24 12:42] rhatdan commented on #4056
Since we stated above this works on the main branch I am going to close.  If you have other issues please open with a repeater.

[2020-12-24 12:42] #4056 closed

[2020-12-24 12:42] rhatdan commented on #4119
@QiWang19 Any progress?

[2020-12-24 12:44] rhatdan commented on #4219
@baude @mheon @mccv1r0 We are still blocked by CNI?

[2020-12-24 12:45] rhatdan commented on #4646
@QiWang19 @mtrmac Any movement on this?

[2020-12-24 12:52] rhatdan commented on #4648
@shanemcd Do you still have this problem.  As far as running podman inside of a container, you can configure containers.conf to fix those problems with event-logger and cgroup manager.  I think this is fixed, or fixable at this point.  I am going to close, reopen if I am mistaken.  Or open a new issue with new data.

[2020-12-24 12:52] #4648 closed

[2020-12-24 12:53] rhatdan commented on #4725
@giuseppe Could you take a look at this one?

[2020-12-24 12:54] rhatdan commented on #4739
@siscia @ktock What is the latest on this issue?

[2020-12-24 12:55] rhatdan commented on #4773
I have opened a PR on Buildah to make building these images via emulation a lot easier.

https://github.com/containers/buildah/pull/2869

[2020-12-24 12:56] rhatdan commented on #5278
@edsantiago @cevich I thought I saw a test for this happening recently?

[2020-12-24 12:57] rhatdan commented on #5278
We at least hit this before we release correct?  Even it it requires human intervention?

[2020-12-24 12:57] rhatdan commented on #5356
Sadly still in a holding pattern on this.

[2020-12-24 12:58] rhatdan commented on #5403
@mheon @baude another networking issue.

[2020-12-24 13:02] rhatdan commented on #5431
I could swear I saw a pull request that was reloading the network to fix this?  But I can not find it right now.
@Luap99 @mheon @zhangguanzhang @baude Was I dreaming?

[2020-12-24 13:02] rhatdan commented on #5521
Still want to move forward on this one.

[2020-12-24 13:03] rhatdan commented on #5572
@vrothberg Any time to work on this one?

[2020-12-24 13:04] rhatdan commented on #5580
@max-arnold @rsommer @baude is this fixed in the main branch now?

[2020-12-24 13:58] zhangguanzhang commented on #5278
related https://github.com/containers/podman/issues/8802

[2020-12-24 14:03] mlegenovic commented on #7857
@rhatdan Most things are already working, there is only a problem with the end-point to pull images. I just had no time to find out what exactly is the problem. What I saw is, docker sends progress information during the download, and podman not. Maybe this is the only problem. I need some time to analyze it.
Will close the issue as soon as everything is working.

[2020-12-24 14:21] dzintars commented on #8710
How can this behaviour be explained? Just spam the `podman ps -a` and see the random status of the `nginx` container.
![image](https://user-images.githubusercontent.com/547420/103093786-086b5f00-4604-11eb-833c-c0752828f9b3.png)

[2020-12-24 14:22] mheon commented on #8826
I think this is expected. Among the main advertised features of WSL2 was
support for containers, which implies that WSL1 lacked such support. Is
there any reason you cannot use WSL2?

On Thu, Dec 24, 2020 at 05:53 Ven Karri <notifications@github.com> wrote:

[2020-12-24 14:27] mheon commented on #8710
Both of the debug logs you listed are warnings and are not fatal. Neither
is the cause of your issues. Please provide the full logs.

The restarting looks like a container with restart policy set restarting
automatically after failure.

On Thu, Dec 24, 2020 at 09:21 Dzintars Klavins <notifications@github.com>
wrote:

[2020-12-24 14:27] dzintars commented on #8710
`journalctl -xe -f` just goes crazy. Flooded with
[code]

[2020-12-24 14:29] dzintars commented on #8710
Yes.. `restartPolicy: Always` was enabled.

[2020-12-24 14:29] mheon commented on #8710
Strong suspicion from what you described: Podman is working, but the app in
the container is failing and exiting immediately after it starts

On Thu, Dec 24, 2020 at 09:27 Dzintars Klavins <notifications@github.com>
wrote:

[2020-12-24 14:30] mheon commented on #5431
@Luap99 was working on it. I believe it merged.

On Thu, Dec 24, 2020 at 08:02 Daniel J Walsh <notifications@github.com>
wrote:

[2020-12-24 14:31] dzintars commented on #8710
Sorry if this looks like a spam right now. I just document what i see right now. I will remove my messages from there later once i will find my needle. :)

[2020-12-24 14:35] lucasbasquerotto commented on #4056
@rhatdan Is there a way to run a rootless podman container inside another one, as stated in the title, without changing capabilities, security options, running in privileged mode, adding a fuse or similar device or changing the storage driver? Just a plain container execution, like:

[code]

The examples of commands that I saw were doing one or more of the changes I described above when running th

[2020-12-24 14:44] dzintars commented on #8710
[code]

[2020-12-24 14:46] mheon commented on #7989
Network label support has been added to master, we can close

On Thu, Dec 24, 2020 at 06:22 Daniel J Walsh <notifications@github.com>
wrote:

[2020-12-24 15:02] ktock commented on #4739
I'm currently working on "additional layer store" implementation based on https://github.com/containers/storage/pull/644#issuecomment-668509243, which allows storage driver to use (possibly remotely mounted) exploded layers from that store without pulling them. This also enables the store to discover layers based on the annotation appended to layer blobs. I'll open draft PRs this week.

[2020-12-24 15:22] baude commented on #5580
it is not ... but i can fix this. i need info from @mheon .  @mheon what are you excluding the default network from inspect?

https://github.com/containers/podman/blob/4fa1fce930f13d71f39b65bad3f46f61d961ab51/libpod/networking_linux.go#L957

[2020-12-24 15:24] baude commented on #6867
it shouldnt be ... we have people using runner

[2020-12-24 15:26] baude commented on #7262
mind giving us a doc pr for that?

[2020-12-24 15:27] baude commented on #7495
i can work with @cevich on this first thing next year.  the request is absolutely right.

[2020-12-24 15:31] baude commented on #8195
i need @mccv1r0 on this, it is well beyond simple networking ....

[2020-12-24 15:35] rhatdan commented on #5805
@baude PTAL Seems like something for you.

[2020-12-24 15:35] baude commented on #3288
can you use wsl2?

[2020-12-24 15:37] rhatdan commented on #5849
Since this is not an upstream podman issue, I am going to close.

[2020-12-24 15:37] #5849 closed

[2020-12-24 15:37] rhatdan commented on #5898
This is still something we would like to get.

[2020-12-24 15:38] rhatdan commented on #8829
@Luap99 @edsantiago PTAL

[2020-12-24 15:38] baude commented on #5805
@rhatdan i dont think this is something podman should tread into. i think users should have to add fw rules, unless there is something in cni we can flip a bit on.

[2020-12-24 15:39] rhatdan commented on #8827
@baude PTAL

[2020-12-24 15:39] rhatdan commented on #8826
Not supported.

[2020-12-24 15:39] #8826 closed

[2020-12-24 15:40] rhatdan commented on #8825
@adrianreber PTAL

[2020-12-24 15:44] rhatdan commented on #1671
Two year old issue, and it looks like it is still with us.

[2020-12-24 15:44] rhatdan commented on #2317
@ashley-cui Did you ever look at this?

[2020-12-24 15:46] rhatdan commented on #3722
@adrianreber This issue is 1.5 years old, do you want to keep it open?

[2020-12-24 15:57] zhangguanzhang commented on #7262
code fixes it, but doc not update

[2020-12-24 15:58] Luap99 commented on #5431
Yes it was #8571. We now have the `podman network reload` command to recreate the iptables rules. This does not make the rules permanent but if they are deleted after a firewall reload you can run this command with the `--all` option to recreate the rules without having to restart containers.

[2020-12-24 16:05] baude commented on #8827
this is working fine for me ...

[code]
[code]

[2020-12-24 16:05] baude commented on #8827
one note, i made non of the aforementioned conf file changes

[2020-12-24 16:14] Luap99 commented on #8829
@pastalian Thanks for reaching out. Podman does not create the shell scripts they are auto generated by the [spf13/cobra](https://github.com/spf13/cobra) library. I will debug this and open a issue there.

[2020-12-24 16:18] mheon commented on #8086
On the deadlock: we're being sent a SIGTTIN and pausing execution, at a very inconvenient time (in the middle of a critical section). Podman is behaving as expected in my view, and if we're never sent a signal to un-pause execution then the lock remains held and Podman will deadlock. We could look into doing something similar to the signal-inhibit logic we added to the create logic, to inhibit sig

[2020-12-24 16:29] rhatdan commented on #6688
Still waiting for this to get merged.

[2020-12-24 16:34] rhatdan commented on #3761
I believe we still have this issue.

[2020-12-24 16:58] mheon commented on #5580
This matches Docker behaviour - network structs are only included if and only if they were explicitly requested by the user (otherwise, the network information is included in the base network info struct). The default network was not added by a user, so we don't generate a network struct for it.

[2020-12-24 17:02] mheon commented on #8710
There are no errors out of Podman here - so it's definitely the app in the container.

[2020-12-24 17:06] mheon commented on #6990
This has not been fixed.

[2020-12-24 17:10] mheon commented on #6114
`--ipv6` has not landed yet

[2020-12-24 17:12] mheon commented on #6045
Serious amount of effort would be required here, probably a new CNI plugin.

[2020-12-24 17:18] mheon commented on #6003
I don't believe he hit this code - only `podman cp`. Given the way he structured the copy code, sharing that for copy-up no longer seems feasible. Using the Buildah Copier package still seems like the best way to do this though.

[2020-12-24 17:21] dzintars commented on #8710
`sudo dnf swap podman podman-2:2.1.1-10.fc33` or `sudo dnf downgrade podman` leads to:
[code]

[2020-12-24 17:25] dzintars commented on #8710
Currently I am suspecting that the issue is somewhat related to the volumeMounts. Can't yet explain why.

[2020-12-24 17:44] asottile commented on #8086
@mheon it isn't really a rapid succession of signals -- just one SIGTERM is enough to reproduce this.  The original `xargs` command is just to make it happen more often (but it reproduces in serial)

I'm a little confused where the SIGTTIN is coming from at all -- if I'm reading correctly, the docs on this indicate that podman would have to attempt to read from stdin while backgrounded in order to

[2020-12-24 17:49] mheon commented on #8086
When Podman is run attached with `-i` we are always reading from STDIN to forward it into the container. So `podman run -i ...` will always be reading from STDIN.

Do you have a reproducer with a single SIGTERM? The timing conditions here are extremely narrow, and you're the only person I've heard report them. Are you on a particularly slow VM or embedded system?

[2020-12-24 17:54] asottile commented on #8086
hmmm, but it's not backgrounded so I'm confused why it gets SIGTTIN

I filled a shell script with this:

[code]

and when it doesn't deadlock I get the SIGTERM issue about ~5% of the time (which I showed here: https://github.com/containers/podman/issues/8086#issuecomment-713191267)

I'm in a VM, but I wouldn't consider it slow

[2020-12-24 17:55] asottile commented on #8086
also the timing conditions aren't narrow -- I'm seeing this with a 180 second `timeout` command -- just the minimal reproduces I've been showing are much smaller because I don't think anyone has the patience to run a 3 minute timeout in a loop to debug (I wouldn't even call  a 4 second timeout narrow either)

[2020-12-24 18:16] baude commented on #5580
@mheon, the problem is that it is organized differently for docker too.  there is no general network settings with network underneath it.  just networks ... which **does** include the default. ill cobble a pr to see if we can do this.

[2020-12-24 18:39] dzintars commented on #8710
[code]

[2020-12-24 18:46] dzintars commented on #8710
[code]

[2020-12-24 18:48] baude commented on #5580
eh, this is more difficult. will need to discuss when we are back to work.

[2020-12-24 18:57] Keith-Nowosielski-SJSU commented on #6990
Wish I could give you an answer. My podman installation is currently giving me [this issue](https://github.com/containers/podman/issues/7396) for all commands so far as I can see.

[2020-12-24 19:20] dzintars commented on #8710
Okkk... building 2.1.1 from sources does not lead anywhere

[2020-12-24 21:06] buck2202 commented on #8432
Not yet, sorry! I did some digging and think I know what needs done; I just haven't been able to find the time yet. Still on my list, though

[2020-12-24 22:09] bblenard commented on #8658
Made some decent progress on this. Not exactly sure the best way to test these changes and I might want to cleanup some of the prune helper functions that are no longer very useful.

![progress](https://user-images.githubusercontent.com/15173997/103107284-97906b00-4634-11eb-98d6-1d8b94c89fbc.png)

[2020-12-25 01:09] zhangguanzhang commented on #6721
pull with both a tag and digest
[code]
pull without a tag
[code]

pull with a wrong tag with the digest
[code]
so the tag will be ignore when with the digest

[2020-12-25 12:38] dzintars commented on #8710
`sudo setenforce 0` highlighted that one of the my issues is SElinux. So... at least in disabled SElinux i can run the php/nginx containers with volumeMounts.
**But** what's strange is that as soon as only I swap single image line of `docker.io/nginx:1.14.2` for `docker.io/nginx:latest` in `pod.yml` i immediately get:
[code]
`subuid` and `subgid` are `dzintars:100000:65536`
Shared volume are share

[2020-12-25 13:21] zhangguanzhang commented on #6480
How to record the startup sequence of initContainers

[2020-12-25 17:44] bitstrings opened #8834 "Rootless network serious bandwidth reduction?"
In rootless, upload speed is seriously reduced, using a 1Gbps link I'm only getting ~100Mbps top.

The funny thing is, download speed seems to be full speed, ~940Mbps.

I am not sure if I should open an issue with slirp4netns.

This is with all latest versions.

Is this something expected? Is there some configuration I could try? Hopefully this is not normal.

[2020-12-25 21:27] RomainNakedCat commented on #8814
Hello,

When I checked iptables rules i figured out the problem. I'm migrating from Docker to Podman but `apt purge docker.io` didnt remove any docker chains. Docker was taking over Podman that's why it didnt work. It's not a Podman issue.

Sorry for the inconvenience

[2020-12-25 21:27] #8814 closed

[2020-12-26 09:58] rhatdan commented on #8825
BTW, is https://github.com/containers/podman/pull/8819 something you need?

[2020-12-26 10:03] rhatdan commented on #8815
Sad to see you disabling SELinux, this should never be required.

[2020-12-26 10:05] rhatdan commented on #7504
Sorry I misread the description.

[2020-12-26 10:06] rhatdan commented on #7504
Sorry I misread this issue.

I don't see a way for us to change the pod yaml spec until it gets changed in upstream Kubernetes, which I believe is being worked on.  Podman should only work with the same yaml files that kubernetes supports.

[2020-12-26 10:17] rhatdan commented on #7857
Great, I think there was some work on podman-remote build to send progress information, might be related.

[2020-12-26 10:26] rhatdan commented on #4056
I would doubt it is possible without modifying the security attributes.  One key thing would be the size of the user namespace within the second container would need to be smaller then the primary.
[code]
You could start playing here.  The think would be to limit the /etc/subuid and /etc/subgid files inside of the podman/stable container to a smaller range then the rootless user on the hosts range

[2020-12-26 10:27] #7989 closed

[2020-12-26 10:28] #6867 closed

[2020-12-26 10:30] rhatdan commented on #5805
It would be nice if they were isolated by default.  But yes having CNI implement this would be best.

[2020-12-26 10:32] rhatdan commented on #5431
Well that is the best we got for now.  Is this documented in the troublshooting.md?  It would be nice to get a quick blog out on this.

[2020-12-26 10:42] yufeifly commented on #8825
yes, it is. I will look at it. Thank you!

[2020-12-26 10:42] akvadrako commented on #7504
A reasonable position. The linked issue seems stalled for years but does it looks like they'll implement it eventually. https://github.com/kubernetes/enhancements/issues/127

[2020-12-26 10:45] rhatdan commented on #8658
Looks great.

[2020-12-26 10:50] rhatdan commented on #8387
@XinRedhat Could you give @mtrmac the trace information?

[2020-12-26 10:53] rhatdan commented on #7548
At this point is this really a Podman issue, or more an issue with how distros and Microsoft work?  I know that @baude has been successful with WSL 2 and podman.

[2020-12-26 10:54] rhatdan commented on #7213
Since I never heard back, I am going to assume that this is fixed. Reopen if I am mistaken.

[2020-12-26 10:54] #7213 closed

[2020-12-26 10:56] rhatdan commented on #6547
@Edward5hen Has this improved at all?

[2020-12-26 10:57] rhatdan commented on #4854
Still something we would like to get done, if someone from community wants to help it would be nice.

[2020-12-26 10:58] rhatdan commented on #4304
This is still ongoing as part of the volume work.

[2020-12-26 11:21] rhatdan commented on #8478
Since I gave an example on how to do this, and never heard any more, I am going to assume this issue is solved.

[2020-12-26 11:21] #8478 closed

[2020-12-26 11:23] rhatdan commented on #8463
Since the issues have been answered, I am going to close.  Reopen or open a new issue, if there are further problems.

[2020-12-26 11:23] #8463 closed

[2020-12-26 11:24] rhatdan commented on #8441
@umohnani8 Do you have a chance to look at this?  @giuseppe would you like to work on it?

[2020-12-26 11:25] rhatdan commented on #8016
This issue is not stale, but no one is currently working on it.

[2020-12-26 11:27] rhatdan commented on #8474
@leonidas-o Could you try this on a more recent Podman, preferable podma 2.2.1?

[2020-12-26 11:30] rhatdan commented on #7774
Would it make more sense to just `su 1337 - podman ...`?

[2020-12-26 11:31] rhatdan commented on #4900
@nefigtut Did you try @giuseppe suggestion?  Does it work for  you?

[2020-12-26 11:37] rhatdan commented on #7504
There has been a decent amount of movement and discussion on user namespace support in k8s, over the last few weeks in this issue:

https://github.com/kubernetes/enhancements/pull/2101

[2020-12-26 11:38] rhatdan commented on #7377
Ok, I would guess if it is a big change it is not worth it.

[2020-12-26 12:20] ahmadalli commented on #4478
Doesn't recreating pods cause issues if user wants to use systemd units for pods and containers? Since container IDs change at each recreation

[2020-12-26 12:46] yufeifly opened #8836 "export checkpoints of redis container failed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
checkpoint failed when I want to export the checkpoints of redis container.

**Steps to reproduce the issue:**

1.sudo podman run -p 35000:6379 -d --name=somename redis:latest

2.sudo podman container checkpoint  0ac9  -e checkpoint.tar.gz

**Describe the results you received:**
I received thi

[2020-12-26 13:05] yufeifly commented on #8836
ping @adrianreber, please have a look at it.

[2020-12-26 13:43] rhatdan commented on #8005
This is the same issue as https://github.com/containers/podman/issues/8437

[2020-12-26 14:39] likema commented on #8478
I can not mount `$PWD/containers` to `/var/lib/containers` manually, because podman image is running inside docker by gitlab runner.

[2020-12-26 15:15] v42net commented on #8815
I agree, but I'm using a default minimal install of Oracle Linux 8 (8.3) with Podman from the Oracle Linux repository.
Rootless `podman run -it alpine` successfully pulls alpine but fails to run. This happened to me before on OL 8.1.
I know, I should try to solve the root cause, but I'm also expected to deliver a new application in time ...
As soon as SELinux does not cause issues anymore, I'll ce

[2020-12-26 15:52] ktock commented on #4739
Opened PRs for enabling this. https://github.com/containers/podman/pull/8837, https://github.com/containers/storage/pull/795, https://github.com/containers/image/pull/1109.

The structure will be easier to implement than the current additional image store, from filesystem implementer's perspective. This patch also enables layer discovery. So filesystems don't need to hold a large JSON blob that co

[2020-12-26 16:39] arjunw007 opened #8838 "container podman showing after reboot what we can do"
ERRO[0000] error joining network namespace for container c314debfc0b299d09cf620247ed9c811afb6ef9cdf7a98978f4647403b821b0b: error retrieving network namespace at /tmp/run-1002/netns/cni-3fcbc990-2e9d-9d4f-9eae-6a9ddf45c1f1: unknown FS magic on "/tmp/run-1002/netns/cni-3fcbc990-2e9d-9d4f-9eae-6a9ddf45c1f1": 58465342

[2020-12-26 17:00] adrianreber commented on #8836
@yufeifly Named volumes are currently not supported. There is pull request to fix this at #8781

Having a quick look at the redis:latest documentation I think mounting a host directory at '/data` should work around your problem.

Start the container with `podman run -p 35000:6379 -v /tmp/redis:/data -d --name=somename redis:latest`, then checkpointing should work with export. The data directory ne

[2020-12-26 17:01] adrianreber commented on #3722
I will just close it. Nobody has been complaining about this in the last 1.5 years so it does not seem to be really important.

[2020-12-26 17:01] #3722 closed

[2020-12-26 17:30] PavelSosin-320 commented on #7548
I think that following the recent RedHat announcement it is not relevant anymore and CentoOS-stream with pre-installed Podman & Kubernetes WSL distro is expected soon.

[2020-12-26 17:30] #7548 closed

[2020-12-26 20:39] NickJLange opened #8839 "Rootless Bug Report - pihole image-series"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Root-less podman fails to complete a pull of pihole (although other images have exhibited this in the past). Pulling the same image as root works just fine.

**Steps to reproduce the issue:**

1. podman --version
[code]

2. podman pull pihole/pihole:v5.3.4-armhf-busterpodman

**Describe the r

[2020-12-26 20:50] ocafebabe commented on #8834
I'm observing the same behaviour as @bitstrings.

On a local gigabit network, between 2 hosts on the same switch, iperf3 download is maxed out at **940 Mbps** but the upload average is **+/-100 Mbps**...

Server is Linux Mint 20 and client is Podman 2.2.1 (slirp4netns 1.1.7) running on Ubuntu 20.04 (WSL2).

[2020-12-26 23:58] mgoltzsche commented on #4056
The next error that stops me from running a nested rootless podman (2.2.1) is that the inner container's file system is always empty which results in the following error:
[code]
(I also mounted the container to verify that the file system is actually empty.)

Though this also happens when I run podman with `sudo` and/or let the inner container run as root.
When using `docker` to run the outer cont

[2020-12-27 01:05] mgoltzsche commented on #8281
The error described here is also logged when I run podman within another podman container - without using podman-remote at all: https://github.com/containers/podman/issues/4056#issuecomment-751408618

[2020-12-27 08:34] PavelSosin-320 opened #8840 "Upgrade from 2.0.6 to 2.2.1 on Ubuntu Groovy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

On my Ubuntu 20.04 WSL distro I had the working  Podman version 2.2.1
Ubuntu and Microsoft are stopping to support this aging Ubuntu version and moving development to the 20.10 Groovy code baseline.
There is no official Ubuntu 20.10 distro with genie and Podman. Anyway, I succeeded to Upg

[2020-12-27 09:00] PavelSosin-320 commented on #8840
One step further - cgroup-light is currently installed. But then ... I got the error that I already reported for CentOS8:
Warning: iptables-legacy tables present, use iptables-legacy to see them\niptables v1.8.5 (nf_tables):  CHAIN_ADD failed (No such file or directory): chain PREROUTING\n"
I think no contemporary Linux distro uses iptables. It is replaced with nftables with the set of conversion

[2020-12-27 13:07] PavelSosin-320 commented on #8743
I just created the single container pod from VSCode dev-container image using new:my-pod-name
to use this container as a main service
Then I added another container using the official node.js image using --pod option
Podman eagerly pull nodejs image and created 2nd container in the same pod.
Node.js side-car container inherits volume mounts from the main container. Both containers have the same wo

[2020-12-27 16:14] PavelSosin-320 commented on #8743
On my new Podman 2.0.6 the same scenario:
Works if the 2nd container is "official" Python - I can do Podman image inspect Python, but not for nodejs ????

[2020-12-27 16:32] oleastre commented on #8710
If you are running stock podman from Fedora 33, you have to specify the full nginx command due to the two bugs I already mentioned.
With stock Fedora33 podman 2.2.1, I have to add his in my nginx pod definition:
[code]

[2020-12-27 16:44] PavelSosin-320 commented on #5352
The same issue exists in Podman 2.0.6 running on Ubuntu 20.10 Groovy WSL distro. iptables are forcibly replaced with nftables maybe in all contemporary Linux distro. Please submit a correction to Ubuntu  20.10 Groovy apt repository.
Microsoft and Ubuntu are stopping to support "aging" Ubuntu 20.04 LTS. Although there is no  "official" Groovy VM image I made it via manual update of Podman with depe

[2020-12-27 17:57] daniel-wtd opened #8841 "Feature: journalctl support for podman generate systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be awesome to change the generated systemd from "podman generate systemd" to support `--attach stdout`.
This will allow to have the logs from `podman logs` directly visible in `journalctl`.

**Steps to reproduce the issue:**

1. `podman run -dt --name web01 httpd`
2. `podman gene

[2020-12-27 18:13] daniel-wtd opened #8842 "Feature: --replace or else for "podman network create" and "podman volume create""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Creating new volumes or networks can be done via `podman volume create <name>` or `podman network create <name>`. This will fail, if `<name>` already exists. For volumes, one can workaround this issue, since `podman volume run -v <name>:/foo` will only create the volume, if it is not exis

[2020-12-27 18:40] afbjorklund commented on #7989
For now we have removed `--label` and mtu for podman (only used for docker) in the minikube "kic" driver, once 8494bcb866f1c0978cbe35c62c1e3312a91040b4 and b1b35707aae57d299933f029eb0adc0a9000f97f lands in a release (3.0?) and that release is started to used we can revisit... Also needs the ls fix for the `--filter`.

[2020-12-27 19:05] Luap99 commented on #8841
There exists `--log-driver journald` for `podman create/run`. With that option conmon will write the container output to journald.

[2020-12-27 20:16] faulesocke commented on #8798
Having the same problem. This also happens with short usernames (5 chars) and my `XDG_RUNTIME_DIR=/tmp/runtime-$USER`. In my case the last character got stripped.

[2020-12-27 20:41] faulesocke commented on #8798
I can also confirm that the socket was successfully created. So having longer paths isn't a problem. Instead of doing any kind of truncation logic I would suggest to simply chroot into the correct directory. Then the path becomes a fixed string (`"attach"`).

[2020-12-27 22:13] dzintars commented on #8710
@oleastre Yes. Seems you are right. I tried this on Jenkins container and got it finally running.
There is what i did:

1. `sudo setenforce 1`

2. Get to know under what UID Jenkins service runs
[code]
or read the docs.

3. Change the ownership of my Jenkins volume:
[code]

4. Get to know what commands/arguments are executed:
[code]
![image](https://user-images.githubusercontent.com/547420/1031806

[2020-12-28 00:52] dzintars commented on #8710
Any tips why this happens on some containers?
![image](https://user-images.githubusercontent.com/547420/103182917-b9e5eb00-48b7-11eb-8032-e3c5d1f42632.png)

[2020-12-28 02:53] Edward5hen commented on #6547
@rhatdan no. Dan, what does "ABI" mean for some of the APIs? What's the difference for testing the ABI only ones?

[2020-12-28 07:26] ahmadalli opened #8843 "setting http_proxy env on [engine] table results in containers always having http_proxy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**

**Steps to reproduce the issue:**

1. set `http_proxy` env on `[engine]` table on `/etc/containers/containers.conf
[code]
1. set `http_proxy` to false on `[containers]` table
[code]
1. check the results
[code]

**Describe the results you received:**

the output of the last step would be `http:

[2020-12-28 09:27] leonidas-o commented on #8474
2.2.1 is not available in the default CentOS 8 repo, for the time of writing 2.0.5 is the latest. Nevertheless I got an approach which is working for my ci/cd pipeline. I was able to create and run the pod without my own container in it (only containing two other official containers), that was working without any issues, then separately build and `podman run --pod=test-pod ...` my container within

[2020-12-28 09:27] #8474 closed

[2020-12-28 10:09] Talbot3 commented on #8323
hi, did you run his command.I have same error on my **macOS big sure**
I did it with "https://github.com/containers/podman/blob/master/docs/tutorials/mac_win_client.md", then I found error

[code]

I think it ssh client or system config question, after I run that command , it solved.

[code]

[2020-12-28 11:22] GenJob commented on #1182
due the problems what I have the sudo in using podman helps a lot. The subuid and  subgid refers to my name and also my root company user. in case of useing it like you describe the root company user have to be deleted due the permissions change
![image](https://user-images.githubusercontent.com/73934430/103210937-49ff5100-4907-11eb-9c74-25464e3fc3c3.png)

as you can see here on image. The error h

[2020-12-28 11:27] TriplEight commented on #6288
just faced this problem, but apparently `podman images` (the same thing happened to `podman run`) was waiting until `buildah push` will finish.

[code]

<details>

[code]

</details>

[2020-12-28 12:16] rhatdan commented on #8839
This indicates that a UID/GID inside of the image is not within the range of UIDs/GIDs specified for the user.

For example the default rootless user only has 65536 UIDs.  If an image has a UID > 65536 then the Pull will fail.

[2020-12-28 12:18] rhatdan commented on #8839
BTW I am not finding this image anywhere?

[2020-12-28 12:30] rhatdan commented on #4056
Rootful worked for me.

[code]

[2020-12-28 12:31] rhatdan commented on #4056
Rootless gets the following error:
[code]

[2020-12-28 12:32] rhatdan commented on #7370
@vrothberg Did you make this work?

[2020-12-28 12:34] rhatdan commented on #8483
@Luap99 Any progress on this?  @cfelder Does the suggested fix work for you?  Interested in opening a PR to implement it?

[2020-12-28 13:11] rhatdan commented on #8840
I believe it supports both.  @mccv1r0 @mheon PTAL

[2020-12-28 13:35] rhatdan commented on #8842
Not sure what your goal here is?  Are you looking to have a script that runs multiple times but does not know if the network was already created?

Would `podman network create foobar` failing with an already EEXIST (17) satisfy your needs?

$ errno  -l | grep -i exis
EEXIST 17 File exists

[2020-12-28 13:37] rhatdan commented on #8798
Interested in opening a PR to do this?

[2020-12-28 13:38] daniel-wtd commented on #8842
The goal is quite easy. podman containers will be started with systemd. For me it is only natural to do the network and volume creation the same way, alongside the containers. This is currently not achievable, since `ExecStart=` will fail, if the network is already existing.

[2020-12-28 13:41] rhatdan commented on #7479
This is still an open issue, would love to get someone from the community to work on it.

[2020-12-28 13:46] rhatdan commented on #6547
API is for podman-remote (And for other APIv2 protocols) and ABI is for local podman.  Some commands are not available for remote, so I think we want to test the local ones.

[2020-12-28 14:00] rhatdan commented on #8843
This is simple to fix on the podman local side, but difficult to fix on the remote side.

[2020-12-28 14:22] daniel-wtd commented on #8841
Hmmm, could you please elaborate how I can view/use these logs afterwards? I cannot even see something in `journalctl -f`

[2020-12-28 14:33] mheon commented on #8840
CNI on nftables systems uses the iptables front end in Nftables mode.
Unaware of any plans to migrate to calling nftables directly on that side.

On Mon, Dec 28, 2020 at 08:12 Daniel J Walsh <notifications@github.com>
wrote:

[2020-12-28 14:47] ogipogi opened #8845 "With podman remote client, podman build with a large files throws error: io: read/write on closed pipe"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With a remote connection (Azure CentOS VM) defined, invoked `podman build` with a large file of `1gb`. After 90s I get an error. If I execute `podman build` with a smaller file (upload < 90s), it works without errors.

**Steps to reproduce the issue:**

1. Generate large file -> `dd if=/dev/z

[2020-12-28 14:49] Luap99 commented on #8483
I did more testing and it looks like setting `isGateway` to true for a internal network is not secure at all. The default route is always added. The `isDefaultGateway` option doesn't do anything since it defaults to false.

[2020-12-28 14:59] imperialguy opened #8846 "podman run fails on tinycore"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman run` fails on tinycore 11.1 VM because of some issue related to `slirp4netns`. I built podman and related deps manually. Are there any plans to release podman distros for tinycore? That would be very helpful.

**Steps to reproduce the issue:**

1. Install podman on tinycore using [man

[2020-12-28 15:09] Luap99 commented on #8841
You should definitely see something with `journalctl -f`. Notice the the logs are written by the conmon process not podman.
You can query by the full container id like this: `journalctl -f CONTAINER_ID_FULL=b422fcc881fd457034d65cd6138a6ca2625463c43ba273dcc42d44bcc29af1f2`

No they are not linked to the unit so your feature request is still valid. I just wanted to point out that this option exists.

[2020-12-28 15:20] Luap99 commented on #8841
I thinks this requires 3 things:
1. change the unit type to simple
2. don't add --detach if the --new option is used; if --new is not used add --attach to podman start
3. remove the pidfile references

Also I think if someone wants this they would want both stdout and stderr to be logged. I don't see a benefit to only log stdout.

[2020-12-28 15:21] PavelSosin-320 commented on #8840
1. iptables in nftables mode returns ret code 4 that is processed incorrectly as an error. This issue exists in CentOS and Ubutu in CNI firewall plugin. greenp has started to develop correction for nftables as I can see in the Github. In the Ubuntu Groovy it will not help because nft is missed.
2. nftables's nft  is already substituted with ufw utility in the Ubuntu Groovy, it has started from 16.

[2020-12-28 15:24] Luap99 commented on #8845
I assume you run the service with systemd. This sounds like this issue https://github.com/containers/podman/issues/8751

[2020-12-28 15:40] daniel-wtd commented on #8841
Hi,

I am doing the below at the moment.

[code]

This way, I can simply run `systemctl status container-gitea-db` or `journalctl -u container-gitea-db`.

I have chosen to use stdout, because all container processes should run in foreground anyway. But using all output would be absolutely ok for me, too.

As a template, I have used: `podman generate systemd --name --new`

[2020-12-28 15:41] ogipogi commented on #8845
Yes, I run the service with systemd.
Thank you!

[2020-12-28 15:41] #8845 closed

[2020-12-28 15:46] daniel-wtd commented on #8841
Little addition: This feature is not specific for me, but everybody who is expecting that a defined service writes properly to the journal. I know how to tweak the output already ^^

[2020-12-28 15:53] daniel-wtd opened #8847 "Bug: podman generate systemd defines multiple "-d""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman generates multiple `-d` paramater in the created output of `podman generate systemd <container>`, when -dt is already defined.

**Steps to reproduce the issue:**

1. `podman run -dt --name web01 httpd:2`
2. `podman generate systemd --new web01`

**Describe the results you received:**

[2020-12-28 16:06] Luap99 commented on #8841
If just adding --attach works I think adding this flag to `podman generate systemd` is easy.
Interested in opening a PR?

[2020-12-28 16:07] daniel-wtd commented on #8841
Sure, I can have a look. But it will take some time. Currently developing a bunch of example roles for the podman collection.

[2020-12-28 16:09] PavelSosin-320 commented on #8840
It is surprize but not everything is lost yet [UFW for RHEL/CentOS 8](https://shouts.dev/install-and-setup-ufw-firewall-on-centos-8-rhel-8)

[2020-12-28 16:09] faulesocke commented on #8798
Sorry, my go knowledge is practically nonexistent and it would certainly take multiple iterations for me to get this right and nice while someone else with knowledge of go and probably the codebase can do it in 2 minutes. Would it have been in some other language like C or Rust - I would have opened a PR in the first place without even commenting here.

[2020-12-28 16:21] mheon commented on #8846
This does not appear to be a Podman issue. Please file an issue against the slirp4netns Github repo at https://github.com/rootless-containers/slirp4netns

[2020-12-28 16:26] imperialguy commented on #8846
What about this?

[code]

[2020-12-28 16:37] mheon commented on #8846
That's an error from either `crun` or `runc`, whichever you are using, from what I can see.

[2020-12-28 16:37] mheon commented on #8847
@vrothberg PTAL

[2020-12-28 17:10] imperialguy commented on #8846
Using crun version 0.16

[2020-12-28 17:31] afbjorklund commented on #8846
I had podman running on boot2podman (based on tinycore), you might want to look there for clues:

https://github.com/boot2podman/boot2podman/blob/master/building_rootless.md

I used ttps://github.com/tianon/cgroupfs-mount in order to do the required cgroupfs mounting there

But I don't really plan on continuing it, so the last release was for podman 1.9.3 and tinycore 10.0

[2020-12-28 17:40] edsantiago commented on #7139
It is really hard to answer that question, because the problem manifests in many different tests - so I have to examine individual logs to see if this is the cause.

Since my last report on Nov 18, I see the following:

* Nov 27 : PR #8500 : [podman run - basic tests](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5454168397709312/html/sys-podman-fedor

[2020-12-28 17:40] afbjorklund commented on #8846
I think the problem is trying to use pivot_root from a rootfs (the default tinycore installation runs off the initrd directly):

The workaround that we did for boot2docker was to copy everything to tmpfs using the "noembed" bootcode

From http://tinycorelinux.net/book.html

[2020-12-28 17:52] afbjorklund commented on #8846
@imperialguy : you will need some kind of podman switch, to avoid adding the `--enable-sandbox` feature

Alternatively add some kind of `--no-pivot` to slirp4netns, to _avoid_ trying call pivot_root (but use chroot)

It was added here: https://github.com/rootless-containers/slirp4netns/commit/6f46a05e8eedd281e68608dba95b657802993754

[2020-12-28 18:11] mgoltzsche commented on #4056
The newuidmap error in rootless mode vanishes if you assign a bigger subuid/subgid range on your host as you pointed out previously.
Though where is my error coming from then?

[2020-12-28 18:15] badrelmers commented on #2654
please do not remove --rootfs, It is because of it I changed from docker and nspawn² to podman.

here is a quick guide if needed for new comers:
**create an OS**
[code]
**change/create the root password:**
[code]
**run a full OS with systemd (like a vm):**
[code]

² nspawn was slow compared to podman ,  podman is as quick as docker (using privileged containers). I could not make nspawn do some fun

[2020-12-28 18:43] imperialguy commented on #8846
@afbjorklund The podman switch option sounds good. @giuseppe Can such a switch be added to podman?

[2020-12-28 19:27] maringuu opened #8848 "Rootless podman with --userns keep-id fails due to no permissions"
/kind bug

Edit:
I just realised that the problem might be that `conmon` fails to start. But why it fails to start is a miracle to me.
<details>
<summary>Syslog entrys from conmon</summary>

[code]
</details>

**Description**
When running podman with `--userns keep-id` it fails because it cant access files in `/run/user/1000/containers/overlay-containers/ContainerID/userdata`

**Steps to reproduce

[2020-12-28 20:59] giuseppe commented on #8846
I think it should be ok to add a new option like `slirp_disable__features=...` to specify some options to slirp4netns.

Alternatively, could slirp4netns be compiled without the sandboxing feature?  We could make it configurable at `configure` time.

[2020-12-28 21:05] imperialguy commented on #8846
Either way works for me. Can this be made configurable via nix as well?

[2020-12-28 21:10] giuseppe commented on #8846
yes it can be configurable via nix as well.

[2020-12-28 21:22] imperialguy commented on #8846
It would be great if you can make the `podman` switch the primary resolution option. If that's not possible, then slirp configuration it is.

[2020-12-28 22:01] abdennour commented on #4364
still have same issue with this Mac:

![image](https://user-images.githubusercontent.com/1788384/103245407-1eb14c00-4971-11eb-93cf-babe070a4940.png)

should i upgrade ? or is it podman issue ?

[code]

[2020-12-28 23:10] mgoltzsche opened #8849 "Nested podman ignores error when mounting container root file system and requires `--security-opt=seccomp=unconfined` in addition to `--privileged`."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When running podman 2.2.1 nested within a podman 2.2.1 container on an Ubuntu 20.04 host the file system of any inner container is empty and no error is logged.
The error can be solved by mounting the storage directory and setting `--security-opt=seccomp=unconfined` - though this differs from

[2020-12-29 01:40] rhatdan commented on #8842
Couldn't you do something like

ExecStartPre=podman network inspect FOOBAR > /dev/null || podman network create FOOBAR

[2020-12-29 04:21] Edward5hen commented on #6547
Thank you!

[2020-12-29 08:56] daniel-wtd commented on #8842
Sure, I can do this or provide a script or else.

It just feels like a missing feature/a workaround, since:

[code]

[2020-12-29 11:57] afbjorklund commented on #8846
The _best_ would be to make it configurable, based on whether using a rootfs or not. (i.e. no_pivot)

[code]

Converting to a tmpfs, or compiling out or disabling the sandbox feature sounds like workarounds ?

It is podman that decides to "call" runc or buildah or slirp4netns, and needs to use the proper flags.

[code]

[2020-12-29 12:13] PavelSosin-320 commented on #8840
@mheon I expect that CNI development team has plans to support UFW s soon as possible . Aother part part of RedHat is already adopting UFW in the OS and infrastructure management tools[Ansimble UFW playbook](https://docs.ansible.com/ansible/latest/collections/community/general/ufw_module.html) and drugs other big companies dependant on these tools.

[2020-12-29 12:36] ahmadalli commented on #8843
Shouldn't remote obey it's own containser.json configuration? since what are we considering `engine` when we use remote mode? the client or the podman socket running in the target host?

[2020-12-29 13:08] rhatdan commented on #8798
No problem, hopefully someone from the community will pick this up. Most of Red Hat is supposed to be on PTO this week.

[2020-12-29 13:13] rhatdan commented on #8849
Could you attach the AVCs that you saw?

[2020-12-29 13:16] rhatdan commented on #8848
This looks like you have some bad data there.
Could you stop all containers and then
$ rm -rf  /run/user/3267/containers/overlay-containers/*
$ podman system migrate

And then try again?

[2020-12-29 13:22] imperialguy commented on #8846
The above fixes the `slirp4netns` related issue. For the problem below, is [this](https://github.com/boot2podman/cgroupfs-mount/blob/master/cgroupfs-mount) the recommended solution?
[code]

[2020-12-29 13:27] Luap99 commented on #8842
Note that `replace` is not the same as `if not exists`. Replace will always remove before creating the container/pod. If not exists will do nothing if it already exists. Deleting a network is not safe if other containers are using it so I think you want the if not exists behaviour.

[2020-12-29 13:27] maringuu commented on #8848
I ran `rm -rf ~/.local/share/containers` and your two commands. Sadly it made no difference.

The directorys are now empty:
[code]

Then I did:
[code]

[2020-12-29 13:30] daniel-wtd commented on #8842
@Luap99 completely correct. This is how `--volume` currently works and I would appreciate to see the same for `--network`.

Having a proper switch for `podman volume create` or `podman network create` just seemed reasonable.

[2020-12-29 13:45] abitrolly commented on #8786
To determine what?

[2020-12-29 15:06] Or-Geva commented on #8478
Same issue:
[code]

[2020-12-29 15:11] rst0git commented on #8836
Hi @yufeifly, as Adrian mentioned, this error message is shown because the [redis](https://github.com/docker-library/redis/blob/aff18f98243edc393589389ad5daad12f448a61f/Dockerfile-alpine.template#L97) container image creates a volume for `/data`.

In addition to the workaround above, you can use the [`--image-volume`](https://docs.podman.io/en/latest/markdown/podman-run.1.html#image-volume-builtin

[2020-12-29 15:16] rhatdan commented on #8843
No the goal is to be able to set server side defaults, and then allow users to override them.  This works fine for everything except booleans, Since the default unset state of a boolean is false, there is no way to know if a user set it to false versus just sending the default.

[2020-12-29 15:18] ahmadalli commented on #8843
why `http_proxy` should be enabled by default?

[2020-12-29 15:20] rhatdan commented on #8848
Did you do the migrate to make sure you did not have a version of podman already running?

@giuseppe thoughts?

[2020-12-29 15:23] rhatdan commented on #8786
To determine if :Z/:z will  cause problems or if the relabelling is even needed.

[2020-12-29 15:25] rhatdan commented on #8478
This looks like an issue with the aufs storage backend?

[2020-12-29 15:29] rhatdan commented on #8843
Let's ignore podman-remote and just look at the APIV2.  If I am sing podman-py and create a container and the user does not specify http_proxy, then the server should default to true, based on containers.conf.  If the user specifies http_proxy=false, then we should fall back to not doing http_proxy.  The issue is the server currently can not tell the difference between the user specifying nothing

[2020-12-29 15:31] rhatdan commented on #8815
What issue did SELinux cause?  Perhaps I could help diagnose the issue.  Do you have the AVC messages?

[2020-12-29 16:11] maringuu commented on #8848
Yes. Sorry I forgot to mention this.

Do you have steps I can do to further debug this?

[2020-12-29 16:44] ahmadalli commented on #5141
Sorry if I'm late to the party. I think this is the right behavior. Even for a rootful container, I think it's better to have an option if we want to open the port to the world or not (and control access to ports using firewalls).

This is why I'm considering the use `slirp4netns` even for my rootful containers

[2020-12-29 17:05] afbjorklund commented on #8846
Yes, I would recommend using that script when not using systemd.

You will need to compile a new kernel with cgroups support, though.

[2020-12-29 18:15] InfRandomness commented on #3107
Hi, is there an ETA on this project ?  is there a repository out there we can contribute to ?

[2020-12-29 19:41] mgoltzsche commented on #8849
I cannot find any. I ran the following after the failing example listed above:
[code]

[2020-12-29 21:24] maringuu commented on #8848
I tried
[code]
Where 1000 is my user id. So this should be equivalent do `--userns keep-id`.
This worked and gave the result I expected from `--userns keep-id`with the difference that `id` does not output my username but that is expected to my understanding.

`55537` is the maximum count of uids and gids that I can map without getting an error.
This might be related the problem since my `/etc/sub{

[2020-12-29 22:25] maringuu commented on #8848
Turns out I fucked up my alpine install. I had most of the pacakges installed from the edge repo. Now that it is fixed I cant reproduce anymore. It might be related to musl 1.2.2. so probably sometime in the future the problem might come up again.

Thank you for you help!

[2020-12-29 23:10] tockar opened #8854 "Running a pod from a generated .yml file causes errors and high cpu load"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A pod run via generated by podman .yml file causes errors and high cpu usage, while running it manually does not produce such issues.

**Steps to reproduce the issue:**

1. Create a pod and attach a container (which runs a some kind of web service, I guess)

2. Generate an .yml file with `pod

[2020-12-29 23:25] grigorig opened #8855 "Cannt publish container port with literal IPv6 address"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot expose container ports on literal IPv6 addresses.

**Steps to reproduce the issue:**

Run a container and try to expose on IPv6 locahost address:

    podman run -p '[::1]:1234:1234' hello-world

**Describe the results you received:**

[code]

**Describe the results you expected:**

Po

[2020-12-30 01:17] mheon commented on #8855
Can you verify if this works as root? If so, I believe this is probably a slirp4netns bug.

[2020-12-30 02:12] paulraines68 commented on #4185
I am trying this on CentOS 8.3 where it seems I finally have all the parts I need but it does not work

[code]

What am I missing?

[2020-12-30 05:36] topas-rec commented on #8506
Should still be present.

[2020-12-30 07:34] mtrmac commented on #6259
Basically this needs to be corporate-prioritized and -budgeted, by some corporation with the appropriate hardware and interested in at least watching over the relevant repos to notice accidental breakage.

[2020-12-30 08:11] NickJLange commented on #8839
Thank you. How could one read the tea-leaves to figure out this error without raising an issue on GitHub?  :-) This error is non-obvious but I had seen references to this kind-of-issue.. that said, I'm not sure the Docker image is actually generating any multi-user ids although again, open to ideas on how to track that down.

https://hub.docker.com/r/pihole/pihole /
https://github.com/pi-hole/dock

[2020-12-30 10:34] ashokponkumar commented on #8118
Is there a way to let podman ignore the metacopy setting if the kernel does not support it. This will at least prevent podman from failing even if metacopy is set in storage.conf, but the kernel does not support it?

This will allow for the same container image (for container in container scenario) to run on hosts which does and does not support metacopy?

[2020-12-30 12:52] zem commented on #7415
I did ran into the same problem. Forwarding ipv6 as root via cni was no problem 6-8 month ago.

You had to add a podman6 ipv6 network like so:

[code]

And publish the port 80 and I remember Definately that it did IPv6 (dualstack) by using: `--network podman,podman6 --publish 80`
It took me a while to figure out the cni config part as due to the linux network stack not being able to nat64 on its o

[2020-12-30 13:02] abitrolly commented on #8786
There can be only one SELinux label per object, right? I can not explicitly set labels just for `podman`?

[2020-12-30 13:03] abitrolly commented on #8786
I mean set labels for `podman` without overwriting other labels.

[2020-12-30 13:06] ashokponkumar opened #8856 "Replacing --privileged flag with all capabilities does not seem to work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind question

**Description**
When trying to run a fedora 33 container with podman in it inside a Kubernetes cluster with /var/lib/container mounted with emptyDir, and with privileged mode enabled, I  am able to run podman successfully. But when I replace the privileged mode with all CAP permissions, it does not seem

[2020-12-30 13:12] afbjorklund commented on #8846
@imperialguy

We deprecated and buried both the boot2docker and boot2podman distributions in 2020...
They were container-enabled downstream distributions of tinycore (new kernel + packages)

* https://github.com/boot2docker/boot2docker (docker 19.03.12)
* https://github.com/boot2podman/boot2podman (podman 1.9.3)

There is much more info here: https://podman.io/community/meeting/notes/2020-11-03/
F

[2020-12-30 13:54] zem opened #8857 "unable to pass options to slirp4netns"
[code]

results in the following error:

[code]

The Manpage says: `slirp4netns[:OPTIONS,...]: use slirp4netns to create a user network stack.` so it should be a valid option.

podman version 2.1.1

[2020-12-30 14:04] Luap99 commented on #8857
This is only supported since v2.2

[2020-12-30 14:04] #8857 closed

[2020-12-30 14:05] imperialguy commented on #8846
For me, there's broadly two use cases - lightweight and not-so-lightweight (or let's just call it heavy weight:) ) For light weight, I am using tinycore. For heavy-weight, I am debating between with vagrant+libvirt+archlinux and vagrant+libvirt+fedora32.

As far as the future options go, hopefully some day you will release a "Podman for Desktop" that runs on fedora CoreOS VM. So, I'll wait for tha

[2020-12-30 14:12] rhatdan commented on #3107
No one that I am aware of is working on this.  But if you want to take the lead, I can give you a spot on github.com/containers podman-rust or something.

[2020-12-30 14:27] rhatdan commented on #8849
I am sorry, I was not paying attention.  Yes it makes sense that seccomp would need to be disabled.  We should do this automatically within the podman/stable container.  You should not turn on seccomp when running within a container.  Although since you are running a privileged container, this looks like a bug.  We should not be turning on seccomp filtering when running in --privileged mode.

[2020-12-30 14:28] rhatdan commented on #8849
Looks like current podman works correctly.
[code]

[2020-12-30 14:30] rhatdan commented on #8849
[code]

[2020-12-30 14:38] rhatdan commented on #8506
@giuseppe were you able to look at this?

[2020-12-30 14:50] rhatdan commented on #8118
Open a PR for containers storage to handle this situation. There already is a metacopy check, so it should be able to ignore if it does not support.

[2020-12-30 14:53] rhatdan commented on #8786
Correct, one label per inode.  SELinux security can not be "proven" if we allowed multi labels on inodes.

[2020-12-30 14:56] rhatdan commented on #8856
You need to setup a volume to be mounted on the containers container/storage.
If you are running within a container you can not mount an overlay on an overlay.  The kernel does not allow this.
Podman/Buildah use /var/lib/containers for its overlay mounts.  So mounting a non overlay file system on /var/lib/containers will stop the error.

Alternatively you could use fuse-overlayfs within the contai

[2020-12-30 15:03] #8846 closed

[2020-12-30 15:05] ashokponkumar commented on #8856
Thanks @rhatdan for the quick response.

I am indeed mounting a storage into the container at /var/lib/containers (https://github.com/konveyor/move2kube-operator/blob/6d2642f4570d81c568ddcb9379ce4f4ce8a37c7a/helm-charts/move2kube/templates/move2kubeapi-statefulset.yaml#L33). Without this, even with --privileged flag it fails. Currently with mounting, it still fails without `privileged` flag.

Will

[2020-12-30 15:48] ashokponkumar commented on #8118
@rhatdan The tests were not running well in my machine, so have made the changes I thought might be right and have created a PR (https://github.com/containers/storage/pull/796). Please let me know if any more steps is required.

[2020-12-30 16:37] afbjorklund commented on #8846
Assuming podman package support in the repositories, it would probably be trivial to adopt it to other distributions.

[code]

Like using "generic/arch" instead of fedora and "pacman -Syu --noconfirm podman" instead of yum, or something ?

If you want to use Fedora CoreOS, there is already [CodeReady Containers](https://developers.redhat.com/products/codeready-containers). But I can't speak for Re

[2020-12-30 18:03] ashokponkumar commented on #8856
Even if I set mount_program, I get the below error, even if I give all CAP permissions to the container.

`Error: mount /var/lib/containers/storage/overlay:/var/lib/containers/storage/overlay, flags: 0x1000: permission denied`

[2020-12-30 19:08] jmcmeek commented on #8795
@support I experimented with this a bit and have a couple observations.  I ran podman in an alpine pod - installing pieces till I got it to work (podman and crun).  Other than than, I think I am running in an equivalent container - privileged, same hostPath mount, same configuration files as they provided.  This was my first attempt at running `podman` in a container. I have used it on my Fedora w

[2020-12-30 19:59] rhatdan commented on #8856
Could you show exactly what command you are using?  Are you running the container within docker? Podman? Kubernetes?

[2020-12-30 20:19] ashokponkumar commented on #8856
I get this error for even `podman version` command. I am running the container within kubernetes (which I assume is using containerd, and I think I got similar error with cri-o too).

After it works, the code I intend to execute (move2kube - https://github.com/konveyor/move2kube/blob/0e9d69d02c16379c6492e2404080fa295cc08a5f/internal/containerizer/cnb/containerruntimeprovider.go#L59) runs multiple

[2020-12-30 21:36] mgoltzsche commented on #8849
This behaves different on my host:
[code]
Apparently the `--privileged` option has no impact on seccomp:
[code]

[2020-12-30 21:42] Luap99 commented on #3842
This was fixed in https://github.com/containers/podman/pull/8571. Podman now has the `podman network reload` command. The first release with this feature will be 3.0.

[2020-12-30 21:42] #3842 closed

[2020-12-30 21:51] rhatdan commented on #8849
Just to make sure, could you also check those fields on your terminal?

$ grep -i Seccomp /proc/self/status
Seccomp:	0
Seccomp_filters:	0

Just making sure your user account does not have seccomp rules applied.

[2020-12-30 21:53] mgoltzsche commented on #8849
sure:
[code]

[2020-12-31 02:10] bblenard commented on #8658
@bugaevc PR opened and ready for review from Podman people: https://github.com/containers/podman/pull/8831

[2020-12-31 03:37] yufeifly commented on #8836
Thank you very much @adrianreber @rst0git . Then I will close this issue.

[2020-12-31 03:37] #8836 closed

[2020-12-31 04:24] xrow commented on #8677
I have a similar case. I ti sreproduceable when the podman rest api is used.  Please tell me what i woudl run to provide more info.

[code]

[2020-12-31 04:57] xrow commented on #8677
@giuseppe
I can add more info.... I happends when the image layers are written to the disk. The my main problem ist though. While this is happening I also get timeouts on the api and my gitlab runner processes crash

Crash report from gitlab runner
[code]

IOTOP
[code]

This there any temporary workaround I can use or can I limit the disk useage so that the API will not report 500. I have seen Wri

[2020-12-31 09:50] xomachine commented on #8801
Well, I tried to find where the volume mounts are performed in the podman code, but (yet) did not succeed. I am not familiar with Go to be honest.

[2020-12-31 12:14] #7102 closed

[2020-12-31 12:15] rhatdan commented on #8849
Very strange.

[2020-12-31 12:24] rhatdan commented on #8849
Here is the code.  Did you change the seccomp path in your containers.conf?
[code]

[2020-12-31 15:06] qhaas commented on #8560
Ran into this while deploying to the latest LTS release of Ubuntu (20.04), can we get it added to [the documentation](https://podman.io/getting-started/installation#ubuntu).

[2020-12-31 16:21] rhatdan commented on #8838
Basically this is saying the file system of the path  /tmp/run-1002/netns/cni-3fcbc990-2e9d-9d4f-9eae-6a9ddf45c1f
is not a PROC or NSFS file system.

[code]

[2020-12-31 16:22] rhatdan commented on #8838
Probably means the network namespace does not exists.

[2020-12-31 23:16] djmattyg007 commented on #8466
Not stale. Waiting on maintainers (who have likely been enjoying their Christmas break <3) to respond.

[2021-01-01 03:14] danielwsmithee commented on #3990
Thanks for writing this up, it really helped me to understand what is going on here.

Unfortunately the container I am using and want to deploy and regularly update has 43 different user, and their associated group relationships.  So If I understand the situation I would need to parse out all 43 entries from /etc/passwd using podman mount, then create a wrapper script that calls podman unshare wit

[2021-01-01 12:30] barosl commented on #5138
I want to note that this also has a security implication. PostgreSQL (via the [library/postgres](https://hub.docker.com/_/postgres) image) by default regards all local connections as trusted. This means that anyone can connect to the database when Podman is operating under the rootless mode.

[2021-01-01 12:34] AkihiroSuda commented on #5138
That sounds like an issue on Postgres side. Connections from localhost should never be trusted. https://cathyjf.com/articles/local-servers-can-get-you-compromised

[2021-01-01 12:53] AkihiroSuda commented on #5805
This sounds like a security issue. Can we document this in the man page?

[2021-01-01 12:57] AkihiroSuda commented on #5805
A workaround is to assign distinct VLAN IDs with  `podman network create -o vlan=<VLANID>`. Would it be possible to enable VLAN by default?

[2021-01-01 19:56] Yajo commented on #5386
I don't know if you're aware of the test filtering features pytest has. You can test specific files of the suite, or even filter them with expressions using `-k` or fixtures (depending on how the test suite is organized). Probably it would be a good idea to filter out tests that are known to fail and still run the ones that should.

You can maintain all those settings in a `pytest.ini` file, or th

[2021-01-01 20:07] Yajo opened #8860 "Fails to filter containers by label"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Filtering containers through labels doesn't work when using the API.

**Steps to reproduce the issue:**

1. Search containers, filtered by label, using the API.

**Describe the results you received:**

[code]

Note: none of those containers have the searched label.

**Describe the results you

[2021-01-01 20:24] mgoltzsche commented on #8849
hm, no, I don't specify a seccomp profile explicitly. My `containers.conf` looks as follows:
[code]

[2021-01-01 21:08] gasinvein opened #8861 "Doesn't start with both --userns=keep-id and --cap-add=all"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If options `--userns=keep-id` and `--cap-add=all` are used together, podman doesn't run a container with following error message:
[code]
Either of these options added alone works as expected, but not both.

**Steps to reproduce the issue:**

1. `podman run --userns=keep-id --cap-add=all fedor

[2021-01-01 21:21] Luap99 commented on #8860
It looks like this is not yet implemented:
https://github.com/containers/podman/blob/39b1cb496766ec3be248f178375d663bc0a14f4a/pkg/api/handlers/compat/containers.go#L115

[2021-01-01 21:48] Luap99 commented on #8860
PR #8862

[2021-01-02 11:02] towe75 opened #8864 "Event stream api leaks file handles"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Repetitiv event stream API requests leak file handles.

**Steps to reproduce the issue:**

1. Start a long running stats stream in a terminal. This avoids that systemd will restart the podman socket server between subsequent requests.

`curl -s --unix-socket /run/podman/podman.sock  http://lo

[2021-01-02 11:40] fstephany opened #8865 "Errors are not reported when starting a pod from the REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Errors are not reported when starting a pod from the REST API.

**Steps to reproduce the issue:**

1. Start a Pod using a port mapping (e.g., 8080:80).
2. Start another pod using the same port mapping as the previous one with the CLI. This result in an expected bind error:

[code]

3. Start a

[2021-01-02 12:04] Luap99 commented on #8864
What `eventLogger` backend do you use? (`podman info | grep event`)

[2021-01-02 12:54] towe75 commented on #8864
It's a standard fedora setup with journald backend.

[code]

[2021-01-02 14:29] millerthegorilla opened #8866 "Question: does podman allow socket connection between containers in same pod"
I want to use podman to create a pod with two containers, one python with django installed, and one postgres for the django database.

I have successfully created this in the past using the localhost address and standard port, and the django running in the python container has been able to connect to the postgres database running in the other container.

I want to ask if it is possible to connect

[2021-01-02 14:37] mheon commented on #8866
The usual method would be to expose the socket to localhost in the
container, as all containers in a pod share a network stack. Alternatively,
you could use a named volume - a Podman managed mount. This would still
exist on the host, but as it’s managed by Podman it would be in our
internal data folders, and we keep permissions on those tight for security.

On Sat, Jan 2, 2021 at 09:29 millerthego

[2021-01-02 14:48] millerthegorilla commented on #8866
thanks.

[2021-01-02 14:48] #8866 closed

[2021-01-02 17:30] zem commented on #8857
Ah thats interesting, I now have to understand why Coreos fc33 and Fedora fc33 are shipping different Versions. Thanks ;-)

[2021-01-02 21:57] bitstrings commented on #8086
Podman **v2.2.1**

Hitting this bug also.

[code]

[2021-01-02 23:04] #8860 closed

[2021-01-03 06:12] iinuwa commented on #8516
Does anyone have any pointers that I could use to start troubleshooting this myself? This is probably a system configuration issue or something on my end, so this may not be reproducible by others. It adds a lot of time for our container-based CI platform, so I'd like to look into it further.

Is `strace` the right tool to look into this? Should I be looking at something else?

[2021-01-03 17:35] srcshelton commented on #8785
Yes, I do!

If you build this Dockerfile https://raw.githubusercontent.com/srcshelton/docker-gentoo-build/master/gentoo-base/Dockerfile.env, which exists solely of `ENV` declarations, then `sudo podman inspect -f '{{ .Config.Env }}' gentoo-env:latest` returns nothing whilst `sudo buildah inspect --format '{{ .OCIv1.Config.Env }}' gentoo-env:latest` outputs the expected data.

Prior releases of `po

[2021-01-03 19:22] Luap99 commented on #8785
I can reproduce with your file.

git bisect says 3cca814eb3cdf2dd8ef2df90a52a6cd0608ac4b6 @jwhonce PTAL

A simpler reproducer would be using this Containerfile:
[code]
Notice that this is a tab character before the t.

The problem is caused by the use of the tabwriter: https://github.com/containers/podman/blob/142b4ac966e12559c534be380093a44d0a1d2959/cmd/podman/inspect/inspect.go#L261-L262

[2021-01-03 19:53] kruppemage opened #8867 "Firefox doesn't load any URL with --cap-drop all"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Custom Firefox container fails to load any URL when started with **--cap-drop all**. I've had this working previously, but I'm not sure if it's Podman related at all, since it's been a while I have last tried this. IIRC I had this working before the capabilities issues that 2.2.0 solved. Prob

[2021-01-03 21:15] dmlond commented on #7508
I tried to install podman on a Raspberry Pi 4 using the Raspberry Pi OS. The cpu is ARMv7 Processor rev 3 (v7l).  I am not able to follow the instructions to install buster-backports because I am not able to install the gpg key for it. apt-get -t buster-backports install libseccomp-dev gives the following error:
E: The value 'buster-backports' is invalid for APT::Default-Release as such a release

[2021-01-04 08:10] gbhushan86 commented on #8795
Hi JMCMEEK,
While you say delete the images.you mean to remove the images using podman rmi command?

Because I removed the local images using podman rmi and then removed the folders inside /var/lib/containers/storage/overlay and nulled the file inside /var/lib/containers/storage/libpod/bolt_state.db even doing all these things it fails during image build usimg podman.

One obvious thing to look at

[2021-01-04 09:16] vrothberg commented on #5572
I think we need to wait until the work in conmon is done.

[2021-01-04 09:18] vrothberg commented on #5521
You have the power to increase priority :)

[2021-01-04 09:21] vrothberg commented on #6496
I guess you refer to https://github.com/containers/image/issues/733?  That's just an issue.  I haven't been working on this but I believe @nalind is looking into this.

[2021-01-04 09:23] vrothberg commented on #7497
This would be a by-product of reworking the commit-logic in c/image.  It's a larger work item but it's up to Jedi council if I have time for it :)

[2021-01-04 09:27] vrothberg commented on #8167
Unfortunately not.  Without having a baseline, it's hard to judge what's fast and what's slow.

@avikivity could you share the image?  Is it accessible on Docker Hub or Quay or some other public registry?

[2021-01-04 09:37] vrothberg commented on #7370
No.  I focused on host/ctr copying only.  The backend code, however, would allow that now, so that (nearly) all code changes would happen `cmd/podman`.

[2021-01-04 10:08] mtrmac opened #8868 "ErrMultipleImages does not work"
From https://github.com/containers/podman/issues/8176#issuecomment-738908444 , not fixed in #8609:

- If `findImageInRepoTags` fails with `errors.Wrapf(define.ErrMultipleImages, searchName)`
- The caller in https://github.com/containers/podman/blob/f01630acf35a11aecdbfb9b77b249dcec85e67b5/libpod/image/image.go#L496-L500 just throws away that value and returns `ErrNoSuchImage`…
- … causing the erro

[2021-01-04 10:18] mtrmac commented on #4646
@rhafer See the PRs by @QiWang19 linked just above.

[2021-01-04 10:22] filippog commented on #8128
Happy to take a stab at it, what repo / file(s) would be the best location for this type of information ?

[2021-01-04 10:28] giuseppe commented on #8506
opened a PR here: https://github.com/containers/podman/pull/8869

[2021-01-04 10:38] giuseppe commented on #4185
Can you please try with `run.oci.keep_original_groups=1`?

podman --runtime /usr/bin/crun run --annotation run.oci.keep_original_groups=1 -it -v /:/host --userns=keep-id redhat-website:v1

We didn't own `crun.io` so we changed the name to `run.oci.keep_original_groups`

[2021-01-04 10:40] giuseppe commented on #8848
@maringuu is this still an issue?

[2021-01-04 12:08] marusak opened #8870 "Pull through API can fail with index error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to pull image with invalid tag through API often it fails with `index out of range` error.

**Steps to reproduce the issue:**
[code]
 sometimes it however manages to end up with correct error message: (all is the same except the last line)
[code]
I can surely reproduce this any ti

[2021-01-04 12:36] stephankoelle commented on #8798
Same issue here, uid is very long, socket name is over 108 chars, podman das not start.

[2021-01-04 13:23] rhatdan commented on #8839
Strange this worked fine for me.

[code]

[2021-01-04 13:24] rhatdan commented on #8839
$ rpm -q podman fuse-overlayfs
podman-2.2.1-1.fc33.x86_64
fuse-overlayfs-1.3.0-1.fc33.x86_64

[2021-01-04 13:49] #8849 closed

[2021-01-04 13:49] rhatdan commented on #8856
This could be caused by SELinux, Or seccomp, which both should have been turned off via privileged flag.  Bottom line something is preventing the container from executing with privs.  Not sure if containerd works correctly. mightbe able to further diagnose with CRI-O.

[2021-01-04 13:53] rhatdan commented on #7842
This is hung up on https://github.com/containers/podman/pull/8469 now.
@Luap99 any update?

[2021-01-04 13:57] vrothberg commented on #8779
Can you summarize what the command should do?  It's not obvious to me what the problem is and how the solution should look like.

[2021-01-04 14:12] e-user commented on #5651
I tried to read @baude's answer multiple times to understand how the dnsname plugin solves this problem as I also happen to be in need of this feature, but I'm either failing to understand the answer or there is a misunderstanding.

The plugin provides internal hostname resolution for each container on the same network via dnsmasq, which is also visible in `/run/containers/cni/dnsname/$NETWORK/add

[2021-01-04 14:21] UebelAndre commented on #8779
My request is that it handles installing and enabling `systemd` services that will restart pods on system boot as the users who own/made them. Effectively, I want to be able to run `podman system boot $POD` and have any existing services for that pod get cleaned up and replaced with the new service. This way users aren't leaking resources by failing to cleanup pods and they aren't installing hand

[2021-01-04 14:34] rhatdan commented on #8560
Interested in opening a PR to fix the documentation?

[2021-01-04 14:49] rhatdan commented on #5386
Interested in opening a PR to do this?

[2021-01-04 14:49] edsantiago commented on #6579
Yes, I still consider this an issue. It violates POLA for a debug flag on the server to cause debug output on the client. But as I mentioned in my September 10 comment, I will accept CLOSED_NOBODYCARES; I'm just not willing to be the one closing it.

[2021-01-04 14:53] NickJLange commented on #8839
Thanks for the hint  - indeed, installing fuse-overlayfs seems to address the issue. I'll update my installer scripts to put this in place. I apologize if I missed a documentation update that puts this as a requirement...

[2021-01-04 15:21] baude commented on #8864
nice report ... i assume we are talking about these ...

[code]

[2021-01-04 15:30] fatherlinux opened #8872 "Create Documentation for How to Use Manifests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Need a set of docs focused on creating image manifests and cross platform images. I believe most of the work is done here:

[mailing list with steps for using manifsts and making them work](https://lists.podman.io/archives/list/podman@lists.podman.io/thread/IOEAGRAIRPADSTSHE2O2TXROLCBABBZ

[2021-01-04 15:31] fatherlinux commented on #8872
Not sure how to change the label to documentation.

[2021-01-04 15:37] fatherlinux opened #8874 "Create Documentation for Networking Guide"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Need a set of docs focused on creating and managing networks. Should cover 3-5 most common use cases when coming from Docker.

**Steps to reproduce the issue:**

1. Go to podman.io, click on Documentation, then click on search, and type "network" in the search box.

**Describe the results

[2021-01-04 15:42] rhatdan commented on #8872
Just click labels and add documentation label

[2021-01-04 15:42] edsantiago commented on #8281
ping, issue is [still present](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5902706260836352/html/sys-remote-fedora-33-root-host.log.html#t--00080) and blocking #8871, which in turn prevents us from checking if #7241 (podman-remote hang) is truly fixed.

[2021-01-04 15:48] vrothberg commented on #8870
Thanks for report!  I'll take a look.

[2021-01-04 15:55] rhatdan commented on #4646
Well any movement on these PRs?

[2021-01-04 15:56] cevich commented on #8709
I'm assuming that `/var/lib/cni` stores details such as allocated IPs?  If so, this seems dangerous to discard.  If the CNI service container is ever restarted, you don't want a subsequent IP allocation to clash with an existing one.

Ooof, I worry this list of needing masking may be _much_ more extensive.  Consider also subscription-manager and `/etc/pki/tls/private` keys.  Then there's the dange

[2021-01-04 15:56] rhatdan commented on #8128
Well I will turn it back on you, where was the first place you looked for this documentation?

I would think the man pages for podman pull, create and run?

[2021-01-04 16:22] QiWang19 commented on #4646
They are still under review and working in progress PRs.

[2021-01-04 16:24] towe75 commented on #8864
@baude yes, lots of journal descriptors. Thx for having a look! 🧯

[2021-01-04 16:37] #7963 closed

[2021-01-04 16:44] #8839 closed

[2021-01-04 16:50] vrothberg commented on #8870
Opened https://github.com/containers/podman/pull/8876

[2021-01-04 17:22] #8506 closed

[2021-01-04 18:26] rhatdan commented on #7626
We could use some help from community to fix this one.

[2021-01-04 18:35] rhatdan commented on #3990
Why not mount /home into the container then?

[2021-01-04 18:37] rhatdan commented on #8861
This has been fixed in the main branch.

./bin/podman run --userns=keep-id  --cap-add all fedora echo hello
hello

[2021-01-04 18:37] #8861 closed

[2021-01-04 18:41] #8870 closed

[2021-01-04 18:41] rhatdan commented on #8555
Since PR merged, closing.

[2021-01-04 18:41] #8555 closed

[2021-01-04 18:42] #8509 closed

[2021-01-04 18:42] rhatdan commented on #8538
@cevich is this Issue still valid?

[2021-01-04 18:43] rhatdan commented on #8502
With @mtrmac response, I do not believe this is something upstream wants to a handle.  Distributions might want to do this themselves in their packaging.

[2021-01-04 18:43] #8502 closed

[2021-01-04 18:45] rhatdan commented on #8528
@Luap99 @vrothberg Still a valid issue?

[2021-01-04 18:45] rhatdan commented on #8865
@jwhonce PTAL

[2021-01-04 18:49] rhatdan commented on #8586
@jwhonce Is this fixed in the main branch now?  Can we close this PR?

[2021-01-04 18:50] rhatdan commented on #8586
I am going to say yes, reopen if I am mistaken.

[2021-01-04 18:50] #8586 closed

[2021-01-04 18:51] rhatdan commented on #8575
@saschagrunert @rzlourenco Is this still an issue?

[2021-01-04 18:52] rhatdan commented on #8573
@vrothberg Ok so this is fixed in containers/image and will be fixed in the next merge in Podman correct?

[2021-01-04 18:52] rhatdan commented on #8568
Since we believe this is not a podman issue, I am closing.

[2021-01-04 18:52] #8568 closed

[2021-01-04 18:53] rhatdan commented on #7757
Since the question was answered I am closing.  If this is still a problem please reopen.

[2021-01-04 18:53] #7757 closed

[2021-01-04 18:54] rhatdan commented on #8567
@Luap99 @mheon What is the state of this issue?

[2021-01-04 19:00] rhatdan commented on #8867
Looks like some other security mechanism is causing the issue.  If you don't drop all calls, does it work?

[2021-01-04 19:01] rhatdan commented on #8867
I would also think you need to share the network with the host for this to work.

[2021-01-04 19:05] bitstrings commented on #8086
Using CTRL+C on and the entrypoint traps SIG and the container is not started with `-it` we sometime get the error. However, most of the time the container terminates before a clean shutdown (i.e.: trap 'shutdown' SIGTERM SIGINT ...).

Using `-it` seems to make things stable again.

[2021-01-04 19:05] rhatdan commented on #5521
Lets talk about this tomorrow at Watercooler.

[2021-01-04 19:11] cevich commented on #8538
Yes, pushing a new tag will result in a job failure...but since the result is ignored anyway (see above and release doc. link), maybe we don't need to run the tests at all.  If acceptable, the "fix" could be to skip all tasks when `CIRRUS_TAG != ""`.  Unfortunately, doing this requires some really tricky and ugly changes to `.cirrus.yml`

[2021-01-04 19:21] QiWang19 commented on #4119
If https://github.com/containers/image/pull/971could finally merged, this can be issue closed by using credential helpers. But I haven't been working on this for a while. And I have no idea why the upstream fix https://github.com/docker/docker-credential-helpers/pull/191 failed the CI.

[2021-01-04 19:22] mheon commented on #8567
This requires the updates roootless CNI infra image. On hold until we can rework to build that image from the root FS, or someone decides to update the image we are actually using.

[2021-01-04 19:22] Luap99 commented on #8528
Well it is fixed on the podman side. I am still waiting for several PRs to be merged upstream but we cannot control that.

[2021-01-04 19:22] #8528 closed

[2021-01-04 19:32] cevich commented on #5278
@rhatdan @TomSweeneyRedHat @zhangguanzhang We have both a manual and automatic test for this already setup:

* [Task definition](https://github.com/containers/podman/blob/b5028541cfacc1ee344815c047df70d74fde7b24/.cirrus.yml#L654-L692)
* https://github.com/containers/podman/blob/b5028541cfacc1ee344815c047df70d74fde7b24/contrib/cirrus/runner.sh#L201-L205

My thinking was, before release time someone

[2021-01-04 20:01] baude commented on #8865
we are getting a partial fail error back in this case.  but then we still return an OK.  That is easy to fix, but it also looks like the encoder is eating/throwing away the slice of errs.  i need @jwhonce to advise here and then fix should be easy.

[2021-01-04 20:05] kruppemage commented on #8867
@rhatdan, thanks for helping! That is correct, without --cap-drop is works flawlessly. By sharing the network, do you mean --net host? Why would that have any influence over this?

[2021-01-04 20:07] kruppemage commented on #8867
Just tried with **--cap-drop all** and **--net host** and it has the same effect, sadly.

[2021-01-04 20:33] rhatdan commented on #8867
I guess the interesting thing, is what cap does it need.  I would figure DAC_OVERRIDE?

--cap-drop=all --cap-add override

And see if this works.

[2021-01-04 20:50] kruppemage commented on #8867
Same thing, @rhatdan. I'll try to see what capability makes it work.
I'm not seeing anything particularly interesting with dmesg:

[  117.042451] audit: type=1101 audit(1609793093.126:279): pid=2702 uid=1000 auid=1000 ses=1 msg='op=PAM:accounting grantors=pam_unixam_permitam_time acct="test" exe="/usr/bin/sudo" hostname=? addr=? terminal=/dev/pts/2 res=success'
[  117.042716] audit: type=1110 audi

[2021-01-04 21:03] Keith-Nowosielski-SJSU commented on #6990
Just confirmed this is still an issue in podman 2.1.1

[2021-01-04 21:18] edsantiago opened #8879 "flake: podman logs: sometimes emits wrong output"
`podman logs` is sometimes returning the wrong result. It actually seems to be a problem with the stored output, not `podman logs` itself; i.e. once a container gets in this bad state, all future `podman logs` commands will fail.

Simpleminded overview (not a reproducer):
[code]
Sample failed results:
* '1', 2nd line is empty
* empty line, '2' on second line
* empty line, '12' on second line

Cont

[2021-01-04 21:47] mgoltzsche commented on #8849
Actually I think that an error is still ignored here somewhere. Should be reproducible after this merge by explicitly specifying the default seccomp profile (and `--privileged` eventually) to create a container and mount it afterwards...

[2021-01-04 22:30] #8868 closed

[2021-01-04 22:39] idelsink opened #8880 "Add the --generate-timestamp option to podman generate systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add an option like `--generate-timestamp false` when generating a podman systemd unit file using the `podman generate systemd` command as seen in https://github.com/containers/podman/blob/master/pkg/systemd/generate/pods.go#L208

The default could still be set to true, but it will allow m

[2021-01-04 23:05] danopia opened #8881 "Cryptic cgroup v2 error message when starting rootfull containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've installed Podman from the Kubic repo on a fresh Debian 10 / buster VM, which is provided by Chromebook's "Linux Beta" feature.

When I try running a container with `sudo`, I get a seemingly incorrect message

**Steps to reproduce the issue:**

1. Obtain Chromebook, enable Linux, install

[2021-01-04 23:51] idelsink commented on #8880
My current 'hacky' solution in ansible is (for future reference):

[code]

[2021-01-05 00:29] kevinanderson1 opened #8882 "podman inspect --format='{{json .Config}}' fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Start any container `podman run -d centos:7`

2. Run `podman inspect --format='{{ json .Config }}' <container_id>`

**Describe the results you received:**
Received the following error:
ERRO[0000] Error printing inspect output: template: all inspect:1: fun

[2021-01-05 01:10] zhangguanzhang commented on #5278
Maybe you can add a judgment, if the file does not contain -dev, the output of judgment info should not be included

[2021-01-05 01:10] zhangguanzhang commented on #5278
@cevich Maybe you can add a judgment, if the file does not contain -dev, the output of judgment info should not be included

[2021-01-05 01:23] edsantiago commented on #8879
Update: it's looking likely that the `-t` is the culprit. I've had the reproducer running for the last 3+ hours, without `-t`, and no failure yet. I'll let it run overnight.

[2021-01-05 01:27] mheon commented on #8882
@jwhonce PTAL

[2021-01-05 02:01] zhangguanzhang commented on #8882
the latest code fix this
[code]

/close

[2021-01-05 02:01] #8882 closed

[2021-01-05 07:03] jmcmeek commented on #8795
@rhatdan I can reproduce a similar error trying to build in a pod that uses the current podman:latest image.  No hostPath mounts, etc.
[code]

I also get that with the v2.1.1 image.

I tried comparing that to a handbuilt podman image - alpine + crun + podmon + selected /etc/containers config files.  That works fine.  I didn't see anything glaringly obvious wrt to version of various components.  Th

[2021-01-05 08:24] Afourcat commented on #8740
Hello,
I was trying to fix this issue, but what kind of output are you waiting for?

This output following the same structure of the default option of the `podman search` command:
[code]

Or this output following the structure of the `podman search --list-tags` command:
[code]

Thank you for your time and your work.

[2021-01-05 09:30] vrothberg commented on #8880
Thanks for reaching out!  I like the proposal.  Just a minor tweak to shorten the flag to `--timestamp`.  Would you contribute the feature?

[2021-01-05 09:34] #8864 closed

[2021-01-05 09:36] vrothberg commented on #8573
Thanks for the ping!  It was fixed with containers/image v5.9.0 which is already merged into the main branch, so we can close this issue.

[2021-01-05 09:36] #8573 closed

[2021-01-05 09:55] vrothberg commented on #8779
Thanks for clarifying!

We've had discussion around installing systemd unit files before, and I _really_ don't like it.  It is something that `systemctl` IMHO should handle (e.g., a hypothetical `systemctl install`).  I think that installing and managing these files is out of Podman's scope.  I don't want Podman to turn into a manager of systemd unit files.  I completely understand the desire to h

[2021-01-05 09:56] vrothberg commented on #8779
@rhatdan @mheon, can we re-discuss?

[2021-01-05 10:02] rzlourenco commented on #8575
Yes, I still have to disable AppArmor before working with podman. Or rather, with php-fpm inside podman. I tried with `podman-2.2.1-1` from the official Arch repositories and from git now:

[code]

[code]

`--privileged=true`, `--security-opt apparmor=unconfined`, and both together seem to have no effect. `php` still complains:

[code]

And this is what I still see in the audit logs:

[code]

I ca

[2021-01-05 10:41] Luap99 commented on #8880
It is not only the timestamp. The second line contains the podman version. This line would also change if you update podman.

[2021-01-05 11:24] paravoid opened #8886 "podman sets (& overrides) the HOSTNAME env variable"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to run an image that made the (questionable) choice to bind the network server to the environment's HOSTNAME. Therefore, I'd like to pass HOSTNAME=0.0.0.0 in the container's environment.

However, it seems that podman sets the HOSTNAME environment variable unconditionally to the co

[2021-01-05 11:47] vrothberg commented on #8880
Good catch!
[code]

A `--no-header` may be the right thing to do.

[2021-01-05 11:55] Luap99 commented on #8709
You should never restart the container. If you do it all attached containers lose network connectivity since the network namespace gets destroyed and as @rhatdan and @mheon can confirm cni is notorious for leaving the ip allocation files around even after a reboot. Using a tmpfs to clean them once the container restarts is the easiest and best solution in my eyes.

What is the threat model here?

[2021-01-05 12:33] idelsink commented on #8880
The `--no-header` seems like a good solution!

I could. I mean, I'm not familiair with the code base, the go language and where to write the testing for the feature, but I'm willing to give it a try.

[2021-01-05 14:17] abitrolly commented on #3990
I would appreciate if `podman` could just use network for mounting local volumes without all the complexity of multilevel filesystem->OS->SELInux->container->OS->filesystem permissions.

[2021-01-05 14:33] tomaskrizek commented on #7396
I ran into this issue with v2.2.1, although I'm not sure why, since I didn't modify the default config.

The `"delete libpod local files to resolve"` isn't very helpful (only to find this issue...). `podman system reset` had the same error. It took me quite a while to figure out the files I needed to delete were located in `~/.local/share/containers/`.

[2021-01-05 14:42] UebelAndre commented on #8779
Would love to see another discussion on this. I understand the desire to not have podman manage a bunch of external systems but I feel this interaction with systemd makes sense. This has been the biggest point of frustration in switching from Docker where containers could be easily configured to start on boot. Because there is no `systemctl install` users have hand authored ways of managing their

[2021-01-05 14:45] cevich commented on #5278
Any number of things could be done if all results were not ignored (and difficult to observe tag-push triggered jobs) during release :confounded:

Despite that, I think presence/absence of `-dev` has consequences in all cases.  i.e. We also don't want development releases to *not* have `-dev` in the version output.

[2021-01-05 14:47] vrothberg commented on #8779
Did you reach out to the systemd folks?  I have no idea if that was already discussed there.

@msekletar may know :)

[2021-01-05 14:53] thomashoefkens-vw opened #8888 "Cannot install podman on Amazon Linux 2"
/kind bug

**Description**
Whilst following the podman documentation on installing podman on Amazon Linux 2, I cannot get the installation to work. The yum install podman command always results in "package podman not avaible".

**Steps to reproduce the issue:**

On a blank A1 EC2 instance, run the commands as specified here for Amazon Linux 2:
https://podman.io/getting-started/installation

[code]

[2021-01-05 14:57] UebelAndre commented on #8779
I haven't. I would like to know see your discussion here first before I go open this request in yet another repo. So far you're the only person who's voiced that this isn't a good idea. To my knowledge there are already people working on it and I would expect after a conversation with other maintainers that either the implementation efforts continue or this is closed with a link to the new request

[2021-01-05 15:05] cs-itops commented on #8710
I tried to build it from master, but `make package-install` fails:
[code]
What's the best way to build it? Or it a newer version available in some unstable repository?

[2021-01-05 16:29] Afourcat commented on #8740
If it does not violate any conventions, Your suggestion seems better.

For me, the implementation looks feasible. It looks like it could be fixed in [this file](https://github.com/containers/podman/blob/master/cmd/podman/images/search.go#L153).

I will implement your output format, and when the community validates that it follows all necessary conventions, I will make a pull request. If it sounds

[2021-01-05 16:35] #8658 closed

[2021-01-05 16:38] UebelAndre commented on #8779
Sorry about my lack of clarity. Ultimately I'm trying to address some pain in switching from docker. I'd originally posted this in `podman-compose` because I saw it as a unique interaction between `podman` and `systemd`. My expectations were that some command there would be able to:
1. Create a pod
2. Generate a service file
3. Install and enable the service (requires root for install but service

[2021-01-05 16:53] vrothberg commented on #8779
Why is root required to install the service?
Non-root services can be installed in `$HOME/.config/systemd/...` and be managed with `systemctl --user`.

I think this a common work flow when using `podman generate systemd` that can easily be scripted:
[code]

Is that matching what you have in mind?

[2021-01-05 16:57] vrothberg commented on #8779
Quick summary from a chat with @mheon and @rhatdan:

The original idea was to facilitate restarting containers on boot.  That's something Podman does not yet handle.  We refined the idea a bit and want to do the following:
* Ship a systemd service (similar to `podman-auto-update.service`) that package managers would install on the system.
* This systemd service (oneshot) would (re)start the contai

[2021-01-05 17:04] jwhonce opened #8891 "Restore API payloads for prune endpoints"
- https://github.com/containers/podman/pull/8831 changed the prune API handlers to return new payloads
- The original payloads need to be restored to meet compatibility requirements
- The new code to determine reclaimed space should be retained

[2021-01-05 17:04] djnotes commented on #7626
Pod:
podman pod create --name test -p 8080:80

Db:
podman run --rm --name mydb --pod test -v webdbvol:/var/lib/mysql  -v `pwd`/data:/docker-entrypoint-initdb.d  -e MYSQL_ROOT_PASSWORD=pass -e MYSQL_DATABASE=mydb -e MYSQL_USER=user -e MYSQL_PASSWORD=pass mariadb:10.5

Web:
podman run --rm --name myweb --pod test nginx

Generate:
podman pod generate kube test > test.yaml

Stop and remove pod:
podman

[2021-01-05 17:47] cevich commented on #8709
Oh, right, okay, so throwing away the data isn't a concern then since related containers would otherwise break when the network
 namespace goes away.

So if I understand correctly: The only possible exploits inside the CNI infra container (running with privileges) imply a  compromised host in some way (requiring superuser or worse).  The only vector from the rootless container side, would be throu

[2021-01-05 17:53] cevich commented on #7495
I opened a Jira card to track this.

[2021-01-05 17:59] cevich commented on #8737
Possibly not available, cgroups2 is _not_ the default on Ubuntu, I'm enabling it with a kernel command line.  It's easily possible other elements also default to "off".  Here's what I get:

[code]

[2021-01-05 18:05] mheon commented on #8886
Fix in #8892

[2021-01-05 18:14] mheon commented on #7626
This is half-fixed at present. We have added support for additional volume types to `podman play kube` but not `podman generate kube` - so named volumes are handled if they are present in the YAML, but we do not presently have support for adding them automatically.

[2021-01-05 18:18] cevich commented on #8737
Poking around on the web, there seems to be a `blkio` controller, maybe is that different from `io`?

[2021-01-05 18:19] cevich commented on #8737
Oh, nvm, CGV2 is `io` and v1 is `blkio`.  Hmm.

[2021-01-05 18:23] boaz0 commented on #8779
@vrothberg sure. Looks good to me. I will update my PR.

[2021-01-05 19:10] cevich commented on #5278
Idea:

Given the podman release process complexities and broken tag-push testing, I think the simplest approach is to just have manual tests, and make executing them part of the release process.

Could that be an acceptable solution?

[2021-01-05 19:16] #8615 closed

[2021-01-05 19:46] millerthegorilla commented on #7889
I have the same issue, but don't have buildah installed.  Is there no podman build command to remove intermediate containers left over from a failed build (assuming --force-rm=false) ?   Perhaps there should be?

[2021-01-05 20:27] edsantiago commented on #8879
Forgot to update here: the job without `-t` ran all night, over twelve hours. I stopped it, added back `-t`, job failed within two hours.

[2021-01-05 20:49] srcshelton opened #8893 "`podman build` continues to use `runc`, even if `podman run` is configured to use `crun`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

My `podman` installations are set to use `crun`, chiefly for improved cgroups2 support.  This being the case, there seems little reason to have both `crun` and `runc` installed at the same time.

However, on a fresh install with only `podman` and `crun`, attempting a `podman build` fails at t

[2021-01-05 21:44] rhatdan commented on #8888
@thomashoefkens-vw Have you reached out to Amazon Linux people asking why Podman is not available natively?  If they don't have it I would recommend using a different OS Say RHEL8.   :^)

[2021-01-05 21:47] rhatdan commented on #8893
That would be a serious bug.

[2021-01-05 21:51] rhatdan commented on #8893
Strange I can not reproduce.  I removed runc from my system and a build with a RUN command worked fine.

[2021-01-05 21:51] rhatdan commented on #8893
Do you have an example Containerfile where this is happening?

[2021-01-05 21:52] rhatdan commented on #8893
Do you have BUILDAH_RUNTIME set on your system?

[2021-01-05 21:53] rhatdan commented on #8893
This fails for me, as expected since the underlying code will not ignore the environment variables.
[code]

[2021-01-05 21:55] srcshelton commented on #8893
What I've done here is to check-out https://github.com/srcshelton/docker-gentoo-build on a Raspberry Pi running Gentoo (32bit userland, 64bit kernel) , and run `gentoo-init.docker`.

I also then had the same issue on an x86 system (x32 userland, 64bit kernel, also Gentoo).

At first I thought it was a wrong-architecture problem, then I noticed that the error was in regards to `runc` rather than `c

[2021-01-05 21:55] rhatdan commented on #8779
That sounds good to me as well.

[2021-01-05 21:56] srcshelton commented on #8893
Nope - I only found out about this after checking whether it was anticipated that `buildah` would be configured separately when writing-up this issue!

[2021-01-05 21:58] srcshelton commented on #8893
... although I don't think the error I saw included `fork/exec` - although it was solved to installing `runc`.  I'll gather more data ASAP and report back.

[2021-01-05 22:00] baude commented on #8874
@fatherlinux it would help us to cover the use cases.  i can only think of two. bridge and macvlan.

[2021-01-05 22:05] baude commented on #8854
its going to be hard replicating this with those volumes and mounts looking at your yaml -> https://gist.github.com/tockar/9f6d4145709296803299fac444cfe9f7

do you have a simpler yaml that shows the same problem? something like nginx or whatever?

[2021-01-05 22:53] usrbinkat commented on #8417
Tacking onto this line of thinking, when `opm index prune` cli calls podman to locally start up the `registry.redhat.io/redhat/redhat-operator-index:v4.6` image for example, it starts the api so opm can grpcurl the packages.

being able to point OPM at a specific image and it do all that is needed with local podman commands is a valuable work flow but predominantly useful only for development and

[2021-01-05 23:00] srcshelton commented on #8524
... so this is interesting - the container in question is launched from `crontab` with different parameters at either 18, 19, or 20 minutes past the hour depending on the day of the week/month, and so I added an additional task to run at 21 minutes past the hour and run, as you suggested, `ps -auxww | grep conmon`.

And the output shows a whole stack of running `conmon` processes for each of the c

[2021-01-06 00:43] srcshelton opened #8894 "`podman build` appears to ignore `--arch` option when pulling multiarch images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to build a non-native container with `podman build --arch arm64 Dockerfile` on an armv7a userland.  I don't necessarily expect this to work.

I would, however, hope that `podman` would pull the `arm64` variant of the multiarch image referenced (by tag ("latest"), rather than by sha

[2021-01-06 00:46] srcshelton commented on #8893
Actually, tell a lie - the non-ARM system that also had this problem effectively isn't a multiarch case: it's an x32 userland on a 64bit kernel, but running a 64bit build of podman.  Which appears to make it much less likely that it's a wrong-architecture issue in the first place...

[2021-01-06 01:23] SISheogorath opened #8895 "Different --build-arg behaviour between docker and podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
 `podman build` does not handle `--build-arg VARIABLE` correctly.

**Steps to reproduce the issue:**

1. Have a Dockerfile with argument, for example:

[code]

2. Define the variable TEST using `export TEST=bar`

3. Run `podman build --build-arg TEST .`

**Describe the results you received:**

[2021-01-06 08:52] thomashoefkens-vw commented on #8888
I did not as the documentation of podman clearly states how to install it on Amazon Linux. If the documentation is wrong and it should be available natively, then the documentation should be updated to reflect this, right?

[2021-01-06 09:04] vrothberg commented on #7889
@rhatdan WDYT?

[2021-01-06 09:07] vrothberg commented on #8779
Thanks, @boaz0 !

[2021-01-06 09:10] vrothberg commented on #8874
I just saw on Twitter that CNI has fresh documentation which may be helpful: https://www.cni.dev/plugins/main/

[2021-01-06 11:26] rhatdan commented on #8466
@mheon what is the latest on this Issue?

[2021-01-06 13:09] rhatdan commented on #8524
conmon should be writing log information to journal.

[2021-01-06 13:21] rhatdan commented on #8614
Can you update to the latest podman version and see if you still have an issue.

Please also look at the versions of fuse-overlayfs and slirp4netns that you have. On Fedora these are the current versions.
podman-2.2.1-1.fc33.x86_64
fuse-overlayfs-1.3.0-1.fc33.x86_64
slirp4netns-1.1.8-1.fc33.x86_64

[2021-01-06 13:23] rhatdan commented on #8614
You might want to check these as well.
conmon-2.0.22-2.fc33.x86_64
crun-0.16-3.fc33.x86_64

[2021-01-06 13:23] rhatdan commented on #8612
V2.2.1 has been released.  Reopen if this does not fix your issue.

[2021-01-06 13:23] #8612 closed

[2021-01-06 13:26] rhatdan commented on #8894
Their are hidden options
--override-arch and --override-variant that will allow you to move forward.  I am working on fixing this in buildah, now and will move to fixing it in Podman as soon as the buildah merges.

https://github.com/containers/buildah/pull/2868

[2021-01-06 13:27] riyad commented on #5386
This is how my `pytest.ini` currently looks like:
[code]
I set `testpaths` to only run the integration tests (i.e. exercising the API and not testing docker-py internals).
The `-k` option currently filters all tests that rely on Docker Swarm either directly or indirectly (~116 tests at the moment).
The rest of the options is basically for the output to be in a useful format (for me).

@rhatdan Is

[2021-01-06 13:28] SuperFluffy opened #8896 "podman search does not return results unless registry specified"
/kind bug

**Description**

Running `podman search` returns nothing, even though three registries are configured.

**Steps to reproduce the issue:**

1. Configure `/etc/containers/registries.conf` in `VERSION 2` format:

[code]

2. Verify that the registries are detected:

[code]

3. Search for an image:

[code]

Search on a specific repository to verify that it can actually find something:

[code

[2021-01-06 13:43] rhatdan commented on #8888
Yes, if the documentation is wrong, but the goal of the documentation is really to allow users to build and install packages that are not available from a distribution.  What I am really interested in is, whether Amazon Linux has a version of Podman available.

These instructions are contributed from community, since the coreteam only works on a subset of the distributions that Podman is being use

[2021-01-06 13:49] thomashoefkens-vw commented on #8888
@rhatdan No, Amazon Linux does not have a versio of podman available. That is why I wanted to find out whether I could still get the installation running by putting up the question here - perhaps someone knows what broke the installation by following the docs...

[2021-01-06 14:00] Sanne commented on #6947
This is working great now:
 - https://github.com/fabric8io/docker-maven-plugin/issues/1330#issuecomment-755308720

Many thanks to all

[2021-01-06 14:00] xbb commented on #4325
For WSL2 as suggested before from @mheon you can use `events_logger = "file"` in the configuration file, no need to add the `--events-backend` arg every time.

In my case I added `~/.config/containers/containers.conf` (or you can edit `/etc/containers/containers.conf`) with this content:

[code]

[2021-01-06 14:04] rhatdan commented on #7889
podman rm will remove these containers. But we don't have a flag

podman rm --external.
Or
podman containers prune --external

Would be the suggested commands to do this.  I prefer the second.

[2021-01-06 14:08] mheon commented on #7889
Is it even possible to safely prune these containers? We don’t really know
anything about them so we can’t easily tell if they are in use or not...

On Wed, Jan 6, 2021 at 09:05 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-06 14:10] mheon commented on #8466
No activity that I’m aware of. May need to be implemented in the dnsname
plugin?

On Wed, Jan 6, 2021 at 06:26 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-06 14:23] fcrozat opened #8897 "podman generate kube doesn't handle privileged container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman generate kube is reporting an error if a container is privileged

**Steps to reproduce the issue:**

1. podman container create --name foobar --privileged registry.opensuse.org/opensuse/tumbleweed:latest

2. podman  generate kube foobar

**Describe the results you received:**
Error: li

[2021-01-06 14:45] fcrozat opened #8898 "podman generate kube doesn't export Entrypoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when creating a container with a different entrypoint than in the pulled image, the generated kube yaml doesn't set the proper Command

**Steps to reproduce the issue:**

1. podman container create --name foobar --replace  --entrypoint=/bin/zsh registry.opensuse.org/opensuse/tumbleweed:latest

[2021-01-06 15:17] vrothberg commented on #8896
Thanks for reaching out!

[code]

The upper config isn't correct.  You need to set it as follows:
[code]

[2021-01-06 15:18] #8896 closed

[2021-01-06 15:22] SuperFluffy commented on #8896
Wow, thanks, it work snow. But that was not at all obvious to me... I have reread the comments in the default `registries.conf`, and it's a bit clearer now, but I am still scratching my head a bit..

[2021-01-06 15:26] vrothberg commented on #8896
I admit that the config can be quite complex.  If you have suggestions to make it easer to digest, feel free to share.  Any feedback is helpful :)

[2021-01-06 15:29] rhatdan commented on #5386
That is a good starting list.  @baude @mheon WDYT?

[2021-01-06 15:30] vrothberg commented on #7889
I wonder why Buildah isn't cleaning up intermediate containers in a failed build. @nalind @TomSweeneyRedHat do you know?

[2021-01-06 15:32] rhatdan commented on #8888
Ok hopefully @lsm5 can look at the docs, or figure out why the Amazon package is not available.  But if you could open an issue with Amazon to ship Podman, that would be useful to us.

[2021-01-06 15:33] rhatdan commented on #6947
That is great.

[2021-01-06 15:36] nalind commented on #7889
The default for `--force-rm` is `false`, which I'm guessing is intended to make it easier to iteratively troubleshoot a build when it hits an error partway through.

[2021-01-06 15:57] rhatdan commented on #7889
I thought we changed this to deafault to true for podman
[code]
So this should only happen if the user said to leave them around.

[2021-01-06 16:04] rhatdan commented on #8795
@nalind @giuseppe Ideas?

[2021-01-06 16:23] cevich commented on #5278
Alternate idea:

Change the process such that on tag-push:

* CI Only runs tasks which build the release, swagger docs, and release-testing job
* Passing CI is required for a newly pushed tag to become an official release

@mheon need your input here.  IMHO it's nonsensical to have automatic release-testing while also ignoring the results (as a matter of tradition and future practice).  However, I

[2021-01-06 16:26] mheon commented on #8881
After some grepping, this error looks like it's coming out of `runc`. You might want to open an issue against github.com/opencontainers/runc about this?

[2021-01-06 16:28] mheon commented on #5278
Potential problem: is there much distinction between "pushed tag" and "official release"? There are steps after the tag is pushed, but they're mostly docs updates - I think most distros are watching for tag push, so they'll grab the new release even without them.

[2021-01-06 16:43] cevich commented on #5278
That's up to us to define.  The most flexible definition for "official release" is: HEAD of a release branch.  The most strict definition is "pushed tag".  However, the built-in definition from the perspective of github is "tag push".  i.e. [the release page](https://github.com/containers/podman/releases) ***only*** supports tags.

@edsantiago asked:

We're limited here to only the operators suppo

[2021-01-06 16:59] edsantiago commented on #5278
That, I think, is the key: we don't necessarily have to use Cirrus, we could look into Github actions. (Left as an exercise for a reader who has figured those out; I've tried twice, given up both times).

[2021-01-06 17:06] yangm97 commented on #8559
Not sure if this helps but I've noticed this issue reproduces (consistently) on this:

[code]

But not on this:

[code]

[2021-01-06 17:27] jmcmeek commented on #8795
The compute nodes in IBM Cloud are running RHEL 7 in VSIs.  Maybe something about that.

[2021-01-06 18:31] PavelSosin-320 commented on #8743
Works OK Podman 2.0.6 on Ubuntu 20.10  Groovy WSL distro

[2021-01-06 18:31] #8743 closed

[2021-01-06 18:51] srcshelton commented on #8893
Here we go:

[code]

... this machine was working with both `runc` and `crun` installed, but produces this output once `runc` is removed (despite being configured to use `crun`).

[2021-01-06 18:59] srcshelton commented on #8524
... and on systems without systemd?

I'm getting nothing via syslog or on stderr...

[2021-01-06 19:29] balupton commented on #4364
Seems the issue has come back: https://stackoverflow.com/q/65590560/130638

I'm running Big Sur 11.1 (20C69)

Here's my uname:

[code]

[2021-01-06 19:34] balupton commented on #4364
never mind, user error, hadn't yet configured the remote client connection:

https://github.com/containers/podman/blob/master/docs/tutorials/mac_win_client.md

[2021-01-06 19:35] cevich commented on #5278
I've explored Github Actions quite extensively.  In fact, the `cirrus-ci_retrospective` work I did was largely intended as support for release-automation.  Enabling a github-actions workflow to trigger only _after_ Cirrus-CI has completed.

Now, while Github Actions provide a lot of conveniences for GitHub interactions, the implementation is quite immature, and Github's oddball security protection

[2021-01-06 19:39] ssbarnea commented on #4364
Considering the number of users encountering this cryptic error, I would reopen this issue and assure that when we fail with it, we also print a descriptive message, maybe one with a link to documentation page.

[2021-01-06 19:44] cevich commented on #5278
:sweat:

Taking a step back here...this specific issue "technically" [is resolved by my PR](https://github.com/containers/podman/pull/8900#issuecomment-755404822).  Further, the (single) release test ***can*** be exercised within a PR by pressing the "Optional Release Test" trigger button, [for example](https://cirrus-ci.com/task/6339722370875392).  However as I stated above, no amount of testing

[2021-01-06 19:45] kiancross opened #8902 "`podman play kube` does not not pass `CMD` (from image) to `ENTRYPOINT`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Starting a pod using `podman kube play` does not pass the `CMD` option from the image config to `ENTRYPOINT`.

Conversely, starting the same image using `podman run` does pass the CMD option from the image (as expected).

This issue did not occur on the previous version of Podman I used: `2.0

[2021-01-06 20:01] balupton commented on #4364
I'd also update https://podman.io/getting-started/ to have a section within `Familiarizing yourself with Podman` about the operating system support and the remote client.

As I think most people see installation part there, and be like, okay, nevermind, I've already got podman successfully installed via brew, so I don't need to look at that.

[2021-01-06 20:16] kiancross commented on #8902
Ah looks like a duplicate of #8803 and fixed in #8789.

[2021-01-06 20:16] #8902 closed

[2021-01-06 20:26] #8886 closed

[2021-01-06 20:45] Luap99 commented on #8879
Can you paste the content of the log file please? It could be that podman logs works correct and the file is wrong.

[2021-01-06 20:49] edsantiago commented on #5278
I understood maybe three words there. IIUC it sounds like #8900 is your recommendation for the best way to go, and I'm OK with that.

[2021-01-06 20:54] edsantiago commented on #8879
Good idea.
[code]
On a good container:
[code]

[2021-01-06 21:06] afbjorklund commented on #4364
Or just make the error message look like Docker, then everyone would recognize it ? https://github.com/containers/podman/issues/7301#issuecomment-734694469

For what it is worth, it is the same story on Linux (when you run the same program, `podman-remote`)

[code]

[2021-01-06 21:52] mheon commented on #5278
@cevich If the goal of this is to prevent full releases from happening without a `-dev` suffix, anything that happens after the tag is pushed is too late - we may not consider the release "official", but unless it was suffixed `-rc`, packages are auto-building for every major distribution including the bad commit.

I am unsure of how much effort we should be throwing at this, though. Most releases

[2021-01-06 21:57] mheon commented on #8524
Should be going to syslog, as long as `--log-level=debug` was specified when the container was created.

[2021-01-06 22:00] srcshelton commented on #8524
Okay - I've added `--log-level=debug`, I'll post the results after the next run.

Is `conmon` disappearing at/soon-after launch a known issue under any circumstance?

[2021-01-06 22:02] mheon commented on #8524
No? Conmon disappearing would be a very large problem, though, we lose the ability to track the container.

[2021-01-06 22:08] InfRandomness commented on #3107
I don't think I have enough experience to take the lead of such a big project unfortunately

[2021-01-06 23:00] srcshelton opened #8903 "`podman pull` fails in chroot() environment"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Continuing in my recent series of odd edge-cases, I have an arm64/aarch64 chroot() running on an arm Raspberry Pi host.

Attempting to pull an image from within the 64bit chroot() environment results in:

[code]

... which might(?) be related to `/proc/self/mounts` in the chroot() not contain

[2021-01-06 23:01] Luap99 commented on #8879
OK `podman logs` is wrong. I will open a PR.

[2021-01-06 23:06] srcshelton commented on #8903
*Slightly* different output from `buildah` directly:

[code]

[2021-01-06 23:09] Luap99 commented on #8879
#8904

[2021-01-06 23:19] srcshelton commented on #8903
[code]

[2021-01-07 00:03] srcshelton commented on #8524
So that's what seems to be happening... but I've only seen this when the container is started by cron (`cronie`, specifically) - I've not seen this interactively or when starting containers as services on boot.

Tasks run from cron are run with a minimal environment - but so are services run by `openrc-run`.

Any good way to get additional logging from `conmon` (or automatically starting it with a

[2021-01-07 01:06] asottile commented on #8759
is there a way to control this behaviour?  just encountered a bug in a systemd service which refused to restart because it thought this podman pause daemon thing was still alive

[2021-01-07 03:15] zhangguanzhang commented on #8898
use the latest code:
[code]
/close

[2021-01-07 03:15] #8898 closed

[2021-01-07 05:49] georgettica commented on #4325
Is that also mentioned in the docs Somewhere?

It would be a shame if this just issue is not easily found and people have trouble with podman

[2021-01-07 08:35] PavelSosin-320 commented on #4325
I upgraded my WSL Ubuntu 20.04 to 20.10 Groovy, Installed genie with all its pre-requisites to have systemd and now it is not an issue at all. Anyway, life with systemd and jornald is better than without.

[2021-01-07 09:00] stephankoelle commented on #8798
Changing XDG_RUNTIME_DIR does not help in our case, the data is there, but the path to the socket is not altered.

[2021-01-07 10:46] vrothberg commented on #8501
Thanks for the report!  I am tackling the issue now.

[2021-01-07 10:50] mier85 commented on #8442
@hoonetorg as you requested this feature, there is some question about it here: https://github.com/containers/podman/pull/8617#issuecomment-756040201

[2021-01-07 11:07] millerthegorilla commented on #7889
man podman build states that the default for --force-rm is false.
Since the command to list the dangling containers is 'podman ps --all --storage' perhaps the command to remove leftovers after a failed build could be 'podman build --rm-storage?

[2021-01-07 11:11] #8879 closed

[2021-01-07 12:25] giuseppe commented on #8795
the code generating that error was already changed in buildah (August 2020): https://github.com/containers/buildah/commit/3835460c3ba74a3e664229b519306d3a596d0b3c?branch=3835460c3ba74a3e664229b519306d3a596d0b3c&diff=unified#diff-f2e4566c6b7e38384283187aba6d7fd91e5ba8da2ffd0f849277bb76bff27fb3L1377-L1379

My first suggestion is to try with an updated Podman/Buildah

[2021-01-07 13:07] edsantiago commented on #8802
Sorry for the delay, I was on PTO. I can't figure out what this is referring to? It seems like that PR is merged, so you must've figured out the cause?

[2021-01-07 13:26] edsantiago commented on #7360
Issue still present in master @ a47515008b3c0dde9f161faa0d9f455ca6772393

[2021-01-07 14:24] mheon commented on #8798
@haircommander Is this related to the Conmon change we were discussing yesterday?

[2021-01-07 14:26] haircommander commented on #8798
yes most likely!

[2021-01-07 14:40] jmcmeek commented on #8795
@giuseppe My attempt at recreating this issue is using the current `quay.io/podman/stable:latest`. The original error reported by @gbhushan86 was definitely older.  Perhaps that why I see a different error.

podman.yaml:
[code]

Test Dockerfile (the same he used):
[code]

Recreate:
[code]

podman info:
[code]

When I ran that with log-level=debug I saw:
[code]
which suggests the `merged` directory

[2021-01-07 14:49] cevich commented on #5278
I'm basing the need for more trust in [improved] release-automation on a statement you made: "We almost always find some major problem in .0 versions right after they go out, and need to quickly follow-up with a .1" (or something to that effect).  Secondarily, my (and most other) arguments pushing for automated releases is to remove the "human" element from what are often lengthy and complex relea

[2021-01-07 16:20] karljaxon opened #8908 "REST API pull does not work behind a corporate proxy"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to use the REST API to pull an image behind a corporate proxy, the pull will fail. Note that the command works fine if run without a proxy in the way (curl -XPOST --unix-socket /run/podman/podman.sock -v 'http://d/v1.0.0/images/create?fromImage=alpine').

The podman command line w

[2021-01-07 18:16] maringuu commented on #8848
Yes it is.

I didn't find a way to get more debug output from `conmon`. If there is a way I'd be happy to post/analyse more debug logs.

[2021-01-07 19:06] rbqbjyur opened #8909 "Error running hook on CentOS 8"
**This a BUG REPORT**

/kind bug

**Description**

When trying to run a new container, I am getting the below error:
[code]

Have searched around the internet, checked the [Podman Troubleshooting Guide](https://github.com/containers/podman/blob/master/troubleshooting.md), tried removing all optional run flags, added --privileged, etc. Haven't been able to get any further.

The only situation it se

[2021-01-07 19:10] rhatdan commented on #8903
There is a flag in containers.conf that might help here.

# Whether to use chroot instead of pivot_root in the runtime
# no_pivot_root = false

Perhaps that would fix it.

[2021-01-07 19:12] rhatdan commented on #8524
If you put a shell script in the same place as conmon or modified containers.conf to point to `Your conmon` it should work.

[2021-01-07 19:12] rhatdan commented on #8524
[code]

[2021-01-07 19:15] rhatdan commented on #8524
Usually there is a process that is killing the conmon process.  We have seen this kind of issue with systemd.  Other potential would be something that kills all processes inside of the current cgroup,

You could play with the --cgroups option.  But I have no idea what is killing conmon.

[2021-01-07 19:25] srcshelton commented on #8524
From the debug log:

[code]

... when I checked 14 minutes later (with the container still running) there was no process 5271.

This system isn't running systemd, so other than OOM there shouldn't be anything killing off processes.

Worth noting that this is now with `conmon-2.0.22`, but the problem has been around for at least the previous release also.

[2021-01-07 19:47] rhatdan commented on #8759
podman system migrate will kill it, I believe.

[2021-01-07 19:48] rhatdan commented on #8759
@giuseppe thoughts on allowing podman to automatically kill it when it exits?

[2021-01-07 20:13] srcshelton commented on #8903
I tried with `no_pivot_root = false` and then `no_pivot_root = true` to confirm, and neither made any difference :(

[2021-01-07 20:55] mheon commented on #8909
Did you install any OCI hooks? It would help to know what the failing hook is.

[2021-01-07 22:14] rbqbjyur commented on #8909
I hadn't installed any additional packages, there were some additional dependencies brought in from the upgrade e.g. podman-catatonit

I certainly amn't intending or trying to use any OCI hooks, I'm not aware of what they are.

Looking into them now, looks like the directory "/usr/share/containers/oci/hooks.d" has only one file "oci-systemd-hook.json"
Contents are below.
[code]

I also tried creat

[2021-01-07 22:23] danopia commented on #8881
Ah, I suppose that's what the "OCI runtime error" prefix was trying to say.

I believe their code actually answers why the error message is showing up. They assume that rootful stuff shouldn't be done if we're already in a userns, falling back to rootless-as-root I guess. And I am in fact inside a userns because Chromebook Linux beta is implemented with LXC.

[code]

Ok, I'll file with upstream, a

[2021-01-07 22:42] danopia commented on #8881
I figured out what was causing my regression, kinda.

This binary that I don't know where it came from: (dpkg says it doesn't own it)
[code]

I removed it so now only the dpkg runc is left:
[code]

And now rootfull things work around.

[code]

Wild.

[2021-01-07 22:43] jwhonce commented on #5386
@riyad There are some outstanding endpoints like `/network/prune` that are TBD on being implemented.

[2021-01-07 22:44] mheon commented on #8881
That is a very old `runc` so it makes sense that it would have issues. We used to ship a `runc` at that location, but that was the better part of two years ago.

[2021-01-07 23:00] danopia commented on #8881
It's actually the other way around on this setup — _older_ runc versions _don't_ have any obvious issue. Something snuck in a modern runc since I built this container a week ago and that broke me.

I just ran an automatic git bisect which is decisively showing that this runc commit is what breaks my podman: https://github.com/opencontainers/runc/commit/bf15cc99b1e7b486dfbb394992fcc4b38157d56e so i

[2021-01-07 23:00] #8881 closed

[2021-01-08 00:36] kolyshkin commented on #8881
@AkihiroSuda PTAL (looks like a regression?)

[2021-01-08 01:13] zhangguanzhang commented on #8802
Before that, almost every step in pr will report an error, you can check the related issue of the link

[2021-01-08 06:49] Tronde opened #8913 "RFE: Let `podman volume prune` show the volumes that are going to be removed"
/kind feature

**Description**

Running `podman volume prune` you have to confirm the operation but you don't see which volumes actually will be removed after you confirm the command:

[code]

I was trapped by the issue #7862. This could have been avoided by showing the volumes that are going to be removed before you confirm the removal. Because the user would have the chance that there is a volum

[2021-01-08 10:21] AkihiroSuda commented on #8881
Fix: https://github.com/opencontainers/runc/pull/2725

[2021-01-08 10:21] vrothberg commented on #8909
Could you temporarily move the `oci-systemd-hook.json` out of the directory and try again?

[2021-01-08 11:44] rhatdan commented on #8909
Podman has no need of this hook, I would just remove it.

[2021-01-08 11:56] #8891 closed

[2021-01-08 12:32] adrianovieira opened #8914 "OCI runtime error: the requested cgroup controller `cpu` is not available"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. _podman run --rm -it --cpus="<N.N>" image:tag_ with `--cpus != 0.000`, e.g.:
   `podman run --rm -it --cpus="1.000" nginx` or
   `podman run --rm -it --cpus "1.000" nginx` or
   `podman run --rm -it --cpus=1.000 nginx` or
   `podman run --rm -it --cpus 1.

[2021-01-08 12:41] g574 commented on #8710
OK, I managed to take a step ahead.
Based on [this issue](https://github.com/containers/podman/issues/7242) I ran `loginctl enable-linger podman` and the permission denied error is gone.
But now I get this:
[code]

Here's how my yaml file looks like:
[code]

[2021-01-08 12:47] rbqbjyur commented on #8909
Moving `oci-systemd-hook.json` worked, based on that and Podman not needing it, went ahead and removed the `oci-systemd-hook` package.

Everything working perfectly, thank you very much everyone.

[2021-01-08 12:47] #8909 closed

[2021-01-08 14:30] mheon commented on #8710
As the message says, the port (you're obscured the exact number) you want to bind to seems to be in use on the host. Likely another program on your system is already using it?

[2021-01-08 14:47] g574 commented on #8710
hi @mheon , there was no other process, as I only use that port for podman. If it had been podman using the port I would have got a "pod is already there"-kind of message.
But anyway, I cannot reproduce it anymore, now even if I use the "loginctl" command I am back to where I started:
[code]

As it complains for some OOM thing can it not be related to this: https://github.com/containers/podman/pul

[2021-01-08 15:00] mheon commented on #8710
Both of those are expected warnings in rootless mode and are not really concerning.

[2021-01-08 15:11] g574 commented on #8710
So it fails for some other reason, doesn't it?
I looked at the logs again:
[code]
So the `permission denied` is not the problem, then we get `Received: -1`, finally the container is cleaned up.
I guess the container died at the `Received: -1` step. But what is that? It doesn't say anything to me.

[2021-01-08 15:13] mheon commented on #8710
Can you provide the full log? I'm not seeing the actual case of that error anywhere.

[2021-01-08 15:18] baude commented on #8710
perhaps you can provide a generic yaml file that reproduces for you so we can run it

[2021-01-08 15:19] Hendrik-H commented on #8713
Hi, any chance somebody looked into this yet? This prevents us from switching from docker to podman.

[2021-01-08 15:33] rhatdan commented on #8713
@Hendrik-H Sorry I don't believe anyone has looked at it.

[2021-01-08 15:47] g574 commented on #8710
OK, so now I tried to run nginx - I removed the volume part from the file.
The following file has not been anonymized:

[code]

[code]

current versions:
[code]

[code]

[code]

[2021-01-08 15:50] Luap99 commented on #8914
Did you checked https://github.com/containers/podman/blob/master/troubleshooting.md#26-running-containers-with-cpu-limits-fails-with-a-permissions-error?

[2021-01-08 16:02] mheon commented on #8710
Found (part) of the problem: `podman play kube` as of 2.2.0 is completely discarding errors that occur when starting containers.

[2021-01-08 16:09] rhatdan commented on #4364
How about
./bin/podman-remote images
Error: Cannot connect to the Podman socket. Is the podman service running?: Get "http://d/v2.0.0/libpod/_ping": dial unix ///run/user/3267/podman/podman.sock: connect: connection refused

[2021-01-08 16:13] rhatdan commented on #4364
Actually I like this better.
Error: Cannot connect to the Podman socket, make sure their is a podman service running.: Get "http://d/v2.0.0/libpod/_ping": dial unix ///run/user/3267/podman/podman.sock: connect: connection refused

[2021-01-08 16:21] rhatdan commented on #4364
https://github.com/containers/podman/pull/8915

[2021-01-08 16:22] mheon commented on #8710
After patching Podman to actually report errors, I'm getting the following:
`error starting container 0912a70ca34175a20ce78da29aabb7b9014ad2074e39bd77de7ce1c3f32ab323: write file `/proc/thread-self/attr/exec`: Invalid argument: OCI runtime error`

[2021-01-08 16:22] mheon commented on #8710
I don't think I've ever seen this one before...

[2021-01-08 16:24] someone-somenet-org opened #8916 "pipe to rootless podman container hangs"
/kind bug

**Description**
running ``echo "asdf" | podman run --rm -it --entrypoint /bin/cat centos:7`` hangs indefinitely.

**Describe the results you expected:**
Expected getting printed "asdf", the cointainer to exit and get back to shell.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):

[2021-01-08 16:32] mheon commented on #8710
Error handling fix in https://github.com/containers/podman/pull/8917

[2021-01-08 16:32] mheon commented on #8710
(This will not resolve your issue, but it will print the actual errors that are occurring)

[2021-01-08 17:50] fool65c commented on #8798
I'm interested in taking a stab at this, is the preferred approach still changing the directory?

[2021-01-08 19:39] idelsink commented on #8399
I am too running into this issue where I want to have a setup with a reverse proxy and multiple containers behind it with each it's own network to the reverse proxy container for network segregation.

I assume this is not expected if there is no workaround. Docker, for example, does seem to handle this setup. And not being able to segregate my network is a bit of a show stopper. (for security reas

[2021-01-09 01:57] philnalwalker opened #8918 "Filesystem other than VFS when running Podman in a Docker container on Kubernetes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

We would like to use Podman for builds on our enterprise Jenkins installation which runs on top of Kubernetes v1.16 EKS and uses Docker as the underlying containerization platform. VFS performance however is suboptimal (as expected.)  Is it possible to get overlay working in this scenario

[2021-01-09 02:11] mheon commented on #8918
I believe this should be possible, but you'll need to pass `/dev/fuse` from the host into the container. @rhatdan would know more, though.

[2021-01-09 03:24] daiaji opened #8919 "Can podman pass the physical NIC to the container?"
This link mentions that LXC/LXD seems to be easy to do.
https://stackoverflow.com/questions/60189587/how-to-pass-through-physical-nic-to-docker-container

This link mentions a method of using SR-IOV devices in the user space where the container is located.
https://medium.com/@tukai.anirban/sr-iov-in-docker-containers-f13fdb297da0

Can podman also let the container pass through the network card?

A

[2021-01-09 12:14] rhatdan commented on #8916
Did you try it without the -it?

[2021-01-09 12:47] Luap99 commented on #8919
Yes podman also supports creating a macvlan network. The syntax is different from docker please see: https://github.com/containers/podman/blob/master/docs/source/markdown/podman-network-create.1.md#--macvlan and the last example on that page.

[2021-01-09 13:04] Luap99 commented on #8919
Podman uses cni for its networking. You can also create your own cni config file and use for example the `host-device` plugin https://www.cni.dev/plugins/main/host-device/

[2021-01-09 13:28] Luap99 commented on #7842
A fix for this is also in the new imageless rootless-cni-infra PR #8910

[2021-01-09 13:31] Luap99 commented on #8567
I have opened a PR for the imageless rootless-cni-infra container #8910. The fix for this issue is also included in that PR.

[2021-01-09 23:05] deuill commented on #8399
I'm hitting this issue as well, and I agree it's a show-stopper when attempting to segregate the network across various domains. Apparently, there's been some discussion about this over at containers/dnsname#12, and reasonable resolution (running dnsmasq as part of each container) doesn't seem like a quick fix...

[2021-01-10 05:14] BobyMCbobs commented on #8444
I have this same issue on version 2.2.1.
Which release is this meant to be fixed in?

[2021-01-10 07:09] daiaji commented on #8919
@Luap99 Thank you, I will try it.

[2021-01-10 07:10] changsijay opened #8921 "/etc/hosts duplicated every time after container restarted"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`/etc/hosts` duplicated every time when container restarted

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`/etc/hosts` keep duplicating `127.0.1.1 demo-pod demo-container` after I restart `demo-container`

**Describe the results you expected:**

`127.0.1.

[2021-01-10 07:35] PavelSosin-320 commented on #8462
The documentation in [Debian manpages ](https://manpages.debian.org/unstable/podman/podman-events.1.en.html) containes much more and much more consistent information than the "official" Podman documentation Man pages

[2021-01-10 07:35] #8462 closed

[2021-01-10 08:12] dimon222 opened #8922 "Unable to reach container from another host in same network"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I use wg0 interface between two hosts, and trying to reach container that is exposed on one of hosts from another host.
Container that is started with podman is reachable from same host, but not reachable from another host on same network.

**Steps to reproduce the issue:**

1. wg0 interface

[2021-01-10 08:58] dimon222 commented on #8922
Figured, iptables as guessed, this is the rule that it required:
[code]

[2021-01-10 08:58] #8922 closed

[2021-01-10 10:05] ssbarnea commented on #8499
AFAIK this bug is still not sorted but it would be useful to see what is causing it. Clearly it has nothing to do with Fedora changer related to RSA because openssh can connect to Fedora boxes using RSA.

[2021-01-10 10:22] rhatdan commented on #8032
Since this is in the standard library, it is not something we can fix.  Should we close this?

[2021-01-10 10:23] rhatdan commented on #8214
I am going to close this, since there is no way for us to fix other then telling the user to reset their storage.

[2021-01-10 10:23] #8214 closed

[2021-01-10 10:27] rhatdan commented on #4325
Awesome news.

[2021-01-10 10:44] syaoo opened #8924 "Error: no such file or directory on RHEL 6.9"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have use conda install podman on RHEL 6.9 successfully, however, when trying to get the image, the following error was encountered:
[code]
Here is my system infomations:
[code]

**Steps to reproduce the issue:**

[code]
The same error occurs in its operation
[code]
Only help to work properl

[2021-01-10 10:45] PavelSosin-320 commented on #8840
Indeed there is no "IPConfig"  problem with rootless containers.
But I can't find the Podman version  above 2.06 already installed on my Ubuntu Groovy

[2021-01-10 11:27] rhatdan commented on #8524
@giuseppe @haircommander Ideas?

[2021-01-10 11:29] daiaji commented on #8193
When I used v2ray and tproxy in podman, I encountered a similar problem.
[code]

[2021-01-10 11:33] rhatdan commented on #8903
Ok was worth a try, if these are actually plumbed through correctly. If you get a chance could you look at the conmon process in both settings to see if the flag is handed down properly.  Not sure if anyone has every tested these flags.

[2021-01-10 11:43] rhatdan commented on #8645
@adamchew89 Could you try this again against the latest code in main branch?

[2021-01-10 11:44] rhatdan commented on #8645
@jwhonce Can you help out @adamchew89 ?

[2021-01-10 11:46] rhatdan commented on #8913
Good idea.  Interested in opening a PR?  I think this would make sense for a few of the tools.  Note that this could be a bit racy.

[2021-01-10 11:57] rhatdan commented on #8798
I believe so.
@haircommander WDYT?

[2021-01-10 11:58] rhatdan commented on #8798
@mheon is this something we need to fix before 3.0?

[2021-01-10 12:19] rhatdan commented on #8673
@Luap99 @baude Interested in working on this, or at least adding documentation on not supported to man page.  Before 3.0?

[2021-01-10 12:19] rhatdan commented on #8602
Since we have had no response, I am going to close this issue.  Reopen if more information is to be provided.

[2021-01-10 12:19] #8602 closed

[2021-01-10 12:20] Tronde commented on #8913
Thanks. Sad but true I'm not able to open a PR. Because I'm not a developer and most of the source code I don't understand. I don't know go.

So, I hope some Dev who is capable of implementing this would take over to get it done.

I would be able to help testing the implementation, though.

[2021-01-10 12:21] rhatdan commented on #8453
PR Merged.

[2021-01-10 12:21] #8453 closed

[2021-01-10 12:25] rhatdan commented on #8918
Yes you need /dev/fuse mounted into the container. If you are using cri-o you can just setup cri-o to always mount /dev/fuse into containers, and problem is solved.  In k8s you can volume mount them in.  Sadly currently there is no equivalent to podman --device /dev/fuse in k8s.

@giuseppe @mrunalp Thoughts.

[2021-01-10 12:44] ahmadalli commented on #8608
is this fix going to be released anytime soon?

[2021-01-10 13:01] towe75 opened #8927 "Can not create a container from oci-archive via http api"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm not able to use the http api to create a container backed by a oci-archive.
This was possible with the older, varling based, api.

**Steps to reproduce the issue:**

1. Create a oci-archive file.

[code]

2. Try to create a container

[code]

3. Using a regular image works like expected

[2021-01-10 13:02] rhatdan commented on #8679
@vrothberg @edsantiago No movement on this issue.

[2021-01-10 13:03] rhatdan commented on #8610
Any further update on this issue?

[2021-01-10 13:04] rhatdan commented on #8649
@mheon did you make any progress on this?

[2021-01-10 13:06] rhatdan commented on #1925
Still being worked on, not sure if it will make podman 3.0 though?

[2021-01-10 13:07] rhatdan commented on #8444
Is it working on the main branch?

[2021-01-10 13:07] rhatdan commented on #8919
This would be a nice blog, if either of you are interested.

[2021-01-10 13:07] #8919 closed

[2021-01-10 13:09] rhatdan commented on #8462
@PavelSosin-320 interested in opening a PR to make the main project match the debian man pages?

[2021-01-10 13:12] rhatdan commented on #8924
This is not an upstream issue, and clearly podman is not being worked on for RHEL6.  I have no idea what is going wrong here.

[2021-01-10 13:12] #8924 closed

[2021-01-10 13:15] rhatdan commented on #8913
No problem, I set this as a good first issue, and we shall see if someone grabs it.

Thanks for your suggestion, and any help you give to the project is appreciated.

[2021-01-10 14:33] mheon commented on #8924
Most likely, it’s the lack of newuidmap/newgidmap binaries in RHEL 6. I do
not expect that kernel support is available either. RHEL 7 is on the
borderline of being able to run rootless Podman; RHEL 6 is far too old.

On Sun, Jan 10, 2021 at 08:12 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-10 14:37] mheon commented on #8444
I don’t see that commit in a release yet, so it will probably land in
Podman 3.0, likely coming in the next few weeks.

On Sun, Jan 10, 2021 at 08:07 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-10 14:37] mheon commented on #8649
Nope, not yet

On Sun, Jan 10, 2021 at 08:04 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-10 14:39] mheon commented on #8193
That does not look similar to me. Please open a fresh issue with further
details.

On Sun, Jan 10, 2021 at 06:29 daiaji <notifications@github.com> wrote:

[2021-01-10 14:43] mheon commented on #8798
I think we definitely need a fix, yeah - either an updated Conmon that does
not enable this by default, a Podman patched to work with newer Conmon, or
both.

On Sun, Jan 10, 2021 at 06:58 Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-10 14:45] PavelSosin-320 commented on #8462
Yes, I think that is convenient when only one "Official documentation"
exists to reference it and create tests following this documentation.
Like in my former company SAP: documentation snippets <--> test fragments.

On Sun, Jan 10, 2021 at 3:10 PM Daniel J Walsh <notifications@github.com>
wrote:

[2021-01-10 15:13] Luap99 commented on #8462
@PavelSosin-320 I can't see any differences between the page you linked and our man page: https://github.com/containers/podman/blob/master/docs/source/markdown/podman-events.1.md

[2021-01-10 16:44] mheon commented on #8462
Concur - I would be very surprised if Debian is patching our manpages downstream (and if they are, I'd be quite happy to merge their changes if they upstream them).

[2021-01-10 17:05] jmcmeek commented on #8795
Tried some experiments with `buildah` - quay.io/buildah/stable:latest.  These were based on what I think the tektoncd buildah task creates - and which works.

The following tests use this pod spec:
[code]

## Test 1:
- `oc create pod -f buildah.yaml`
- `oc exec -it buildah -- sh`
- create Dockerfile (same as before)
- `buildah bud -t sample .`

Output:
[code]
Debug output showed the same error wrt

[2021-01-10 17:29] jmcmeek commented on #8795
I was able to make podman work !

Podman.yaml:
[code]

- `oc create pod -f podman.yaml`
- `oc exec -it podman -- sh`
- create Dockerfile (same as before)
- `podman --storage-driver=overlay build -t sample .`

Observations and questions:

1. The mount path had to be at least as deep as `/var/lib/containers/storage` - `/var/lib/containers/` failed with an error related to some bolt db.  To share thi

[2021-01-10 18:36] srcshelton commented on #8903
Since all of these actions were `build`/`pull` actions (including calling `build` on a Dockerfile file and hitting its `FROM` directive) I can confirm that the only call to `conmon` was with the parameter `--version`:

`23973 18:28:33 execve("/usr/bin/conmon.bin", ["/usr/bin/conmon.bin", "--version"], ["SHELL=/bin/bash", "SUDO_GID=100", "JOBS=3", "image=gentoo-base:latest", "repo=", "package_versi

[2021-01-10 18:37] srcshelton commented on #8524
I've put a script which invokes `strace` in place of `conmon` - I should be able to report the results by Tuesday morning.

[2021-01-10 19:02] PavelSosin-320 commented on #8462
Oh, Sorry, the difference is mainly in formatting. On my screen, MD version
is cut to  2/3 of the original size with long scrolling, when the Debian
HTML version is stretched to the full-17"  laptop screen size. From the 1st
example, I concluded by mistake that only Container events are emitted by
the default.

On Sun, Jan 10, 2021 at 6:45 PM Matthew Heon <notifications@github.com>
wrote:

[2021-01-10 23:43] gcs278 opened #8928 "Support for livenessProbe or health check in podman kube play"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, there isn't a way to do `--health-cmd` with a pod that was started by `podman kube play`. I have a need to use a health check with `podman kube play` command, but I can't find any way to accomplish this. My assumption is that `--health-cmd` can somehow be translate to Kubernete

[2021-01-11 02:33] mheon commented on #8927
@vrothberg I believe this was disabled intentionally? Is there a recommended alternative (e.g. doing a manual load on the image first?)

[2021-01-11 03:35] zhangguanzhang commented on #8608
yes

[2021-01-11 04:00] daiaji commented on #8193
@mheon ok

[2021-01-11 05:51] paravz commented on #7829
It's an issue as reported in v2.2.1.

workaround is to use: `--network=nw1,nw2`

[2021-01-11 07:30] PavelSosin-320 commented on #8462
Sorry again! This is not only a formatting issue. This is the real bug:
Podman Pod start, stop, ls by the default, without the --no-trunc use only
short Pod ID. The Podman events command with type=pod show the long Pod ID
with meaningless (image=, name=devcontainerShare)
It looks fine visually. The event observer at the client-side has no chance
to match the created Pod with its lifecycle events o

[2021-01-11 08:09] eriksjolund opened #8929 "Add support for disabling the use of newuidmap and newgidmap"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Add command-line option(s) to `podman run` so that it is possible to disable the use of `/usr/bin/newuidmap` and `/usr/bin/newgidmap` (either individually or both at the same time).

In case the user want to disable, there is no need to output the warning _"using rootless single mapping i

[2021-01-11 08:29] giuseppe commented on #8929
how would that be different than using `--uidmap 0:0:1`?

If the goal is to create the rootless user namespace only with a single mapping, I think we would need to have the option as part of `podman unshare`

[2021-01-11 08:52] PavelSosin-320 opened #8930 "Podman events command lacks of --no-trunc option. It complicates the interpretation of event stream."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman events command lacks --no-trunc option and always or by default emits Pod lifecycle events with the long Pod ID. All other Podman Pod lifecycle management commands: Pod stop, Pod start, Pod ls either allow using of the short ID or truncate Pod ID to its short form if --no-trunc options

[2021-01-11 09:32] giuseppe commented on #8759
@asottile the podman pause process should be living in its own scope.  Do you have a reproducer?  What version are you using?

[2021-01-11 09:48] asottile commented on #8759
I can try and get you a more isolated / reproducible example in the morning -- here's an example from a nonprod host:

[code]

[2021-01-11 09:52] asottile commented on #8759
I guess the part I'm most confused on is I thought podman was supposed to be daemonless?

[2021-01-11 09:55] stephankoelle commented on #8798
Is there an attack point for a work around? (beside running podman as root - short uid user)

[2021-01-11 09:57] Hendrik-H opened #8931 "buildah manifest list breaks podman image listing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

After creating a manifest list using buildah `podman images` does not work anymore until the manifest list is deleted again.

**Steps to reproduce the issue:**

1. `buildah manifest create multi:1.0`

2. `podman images`

**Describe the results you received:**
[code]

**Describe the results you expected:**
The

[2021-01-11 10:08] vrothberg commented on #8927
That's right.  Only the `docker://` transport and local images are supported for create.  In case of an `oci-archive`, we first need to load it and can then create and run containers.

[2021-01-11 10:09] #8927 closed

[2021-01-11 10:31] giuseppe commented on #8798
could you please try if https://github.com/containers/podman/pull/8933 solves the issue you are seeing?

[2021-01-11 10:36] vrothberg commented on #8931
Thanks for opening the issue!

I opened https://github.com/containers/podman/pull/8934 as a fix.

[2021-01-11 11:26] giuseppe commented on #8848
we had a similar issue reported, could you give a try to #8869?

If it still doesn't work, could you stat each component in the path that fails and report here the result?

e.g. given a path like `/run/user/1000/containers/overlay-containers/71eaabd23a4e9f4444c1da9207d37391e8d36f6984bae50f1e030702d7c3f948/userdata/hostname`:

[code]

[2021-01-11 11:57] fugkco commented on #8614
Sorry for the reply. So I'm missing `slirp4netns`, `fuse-overlayfs` and `crun` from the repos. The other two are up to date. Sounds like perhaps this could my issue. I do wonder how podman works without `fuse-overlayfs` and `crun`? I know `slirp4netns` is for  rootless networking, but I'm not sure if it's a similar story with the other two. I will install it later today and test it.

[2021-01-11 13:10] rhatdan commented on #8614
Podman will work with runc, and rootful mode does not require fuse-overlay.  Neither does rootless, although not using it requires the "vfs" driver which is not ideal.

[2021-01-11 13:25] rhatdan commented on #8795
--storage-driver=overlay should not be required if the driver is configured properly within the buildah/podman image storage.conf.

[2021-01-11 13:30] rhatdan commented on #8647
Since my question was never answered, I am going to assume no. Closing, re-open if this issue remains.

[2021-01-11 13:30] #8647 closed

[2021-01-11 13:31] rhatdan commented on #8600
Since this error is not reproducible, I am going to close.  Please try it out against the main branch, or see if you can reproduce on a different machine.

[2021-01-11 13:31] #8600 closed

[2021-01-11 13:32] rhatdan commented on #1911
Another month, lets talk about this at planning this week

[2021-01-11 13:33] rhatdan commented on #8608
podman 3.0 RC1 should happen at the end of this week.

[2021-01-11 13:41] rhatdan commented on #8930
Interested in opening a PR to add this functionality?

[2021-01-11 13:46] rhatdan commented on #8759
Well it is, but it needs a process to monitor the container.  The daemonless part is that no two containers are related. IE, you can start a container from scratch without talking to a daemon.  When the container is running there are several processes running.  For example in rootless mode, there is the conmon process for monitoring the pid1 of the container, there is slirp4netns which is setting

[2021-01-11 14:04] baude commented on #8919
https://www.redhat.com/sysadmin/leasing-ips-podman

[2021-01-11 14:05] daiaji opened #8936 "It seems that TPROXY does not work for me in podman."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When I use v2ray in archlinux container, I found that TPROXY cannot be used.
And Iptables doesn't seem to work either.

**Steps to reproduce the issue:**

1.`podman run -it archlinux bash`

2.Install v2ray and cgproxy.

3.Follow this [link](https://github.com/springzfx/cgproxy) to configure v2

[2021-01-11 14:47] BrianSidebotham commented on #8860
Just got bitten by this on Fedora 33. :(

[2021-01-11 14:54] rhatdan commented on #8936
Could you try it as root?

[2021-01-11 14:58] rhatdan commented on #8521
This got a little lost during the winter break.

@giuseppe PTAL

[2021-01-11 15:58] jmcmeek commented on #8795
I was using /etc/containers/storage.conf unmodified from the currentr quay.io/podman/stable:latest image.  I'm repeating that here with comments and blank lines stripped out:
[code]

I've built an alpine-based podman pod with the same config, same versions of podman - and that works.

Its seems to me the two variables are the fedora based image and possibly running on IBM Cloud (I have nothing els

[2021-01-11 16:22] BrianSidebotham opened #8938 "Podman play kube cannot start container when podman can in Fedora 33"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In Fedora 33 podman cannot be used with "play kube" on a basic pod of one container

**Steps to reproduce the issue:**

NOTE: Doesn't work with cgroups as v2 or v1, but in the logs below I had moved to cgroups v1.

1. Produce a simple pod description file:

[code]

2. Play the pod rootless: `

[2021-01-11 16:36] daiaji commented on #8936
Even if you use `sudo su` to switch to the root user to run podman, the result is the same.

[2021-01-11 16:46] BrianSidebotham commented on #8938
With cgroups v2:

[code]

[code]

[2021-01-11 17:06] mheon commented on #8938
Feels likely this is a dupe of https://github.com/containers/podman/issues/8803

[2021-01-11 17:07] asottile commented on #8759
that doesn't appear to be the case, even a `podman ps` seems to spawn a lingering daemon:

[code]

[2021-01-11 17:13] mheon commented on #8759
That is the pause process. It's not really a daemon, because it does no processing (once launched, it immediately goes to sleep and takes no further action). The pause process keeps alive the rootless user namespace for other rootless Podman processes - subsequent invocations of rootless Podman by that user will join that process's namespaces.

The pause process can be safely killed once all conta

[2021-01-11 17:19] asottile commented on #8759
is there a consistent way to kill that process?  can I configure podman such that it is killed by podman upon exit if I can guarantee that I don't spawn containers in parallel?

[2021-01-11 17:23] BrianSidebotham commented on #8938
@mheon Yes it is a dupe of that. The pod yaml can be fixed by manually setting `command` and `args`:

[code]

[2021-01-11 17:30] ensc opened #8940 ""podman pull" ignores storage.conf"
/kind bug

**Description**

Due to `$HOME` being in NFS, I have a `storage.conf` which relocates the graphroot.  `podman pull` seems to ignore settings there and tries to access `$HOME/.local/share.containers`.

This worked before (I am not sure when it broke).

My `~/.config/storage/containers.conf` is

[code]

and I get (as non-root):

[code]

--> it accesses `$HOME` but not the configured graph

[2021-01-11 18:09] umohnani8 commented on #7705
Yup, will work on this.

[2021-01-11 18:24] mheon commented on #8938
Given this is fixed upstream, then, I'm going to close. We're going to start cutting RCs for Podman 3.0, which will include the fix, this week; final release should be in the following few weeks.

[2021-01-11 18:24] #8938 closed

[2021-01-11 18:37] mheon commented on #8940
@vrothberg PTAL

[2021-01-11 18:38] mheon commented on #8759
I don't believe we expose the PID anywhere that's easy to access - @giuseppe @rhatdan Should we consider including it in `podman info`?

[2021-01-11 18:39] mheon commented on #8759
We should also discuss methods for automatically shutting the process down at the cabal meeting - there has to be a locking solution we can use to guarantee we don't race.

[2021-01-11 19:22] rhatdan commented on #8936
Does this container image work with Docker?

You should first try with --privileged and see if it works then.

[2021-01-11 19:43] rhatdan commented on #7705
Awesome.

[2021-01-11 19:48] rhatdan commented on #8940
I believe this is fixed in the main branch, we had a similar bug.  Could you verify that main has the fix?

[2021-01-11 19:48] rhatdan commented on #8940
We should have podman 3.0 rc1 available this week, if you can not build from the branch.

[2021-01-11 20:43] BrianSidebotham commented on #8938
Yes agreed, thanks for the pointer @mheon

[2021-01-11 22:13] #8931 closed

[2021-01-11 22:24] abitrolly commented on #8786
And `podman unshare` doesn't touch labels, right?

[2021-01-11 22:25] abitrolly commented on #8786
And labels are not restored after `podman -v ...:Z`, right?

[2021-01-11 22:40] rhatdan commented on #8786
Podman unshare does not touch labels.
podman -v ....:Z will always set labels, it will never restore them.

[2021-01-12 00:25] abitrolly commented on #8786
What are the consequences of setting podman :Z label on home dir? Like remote SSH login will stop work? Apps won't be able to read their `.config`?

[2021-01-12 01:42] zhangguanzhang commented on #8916
use this
[code]

[2021-01-12 01:46] zhangguanzhang commented on #6517
any update?

[2021-01-12 04:36] NickJLange commented on #8929
**Disclaimer**: I'm not sure I understand the entire risk-profile of flattening things for __rootless__ containers. To the extent that:

- Container #1's ids can be flattened to a single id
- That ID has the same rights as invoking id
- It's explicit to prevent things like jailbreaking

I think this is a great feature for people looking at running simple containers in more traditional distributed

[2021-01-12 09:04] vrothberg commented on #8940
@QiWang19 @mtrmac, I am under the impression the hard-coded default in c/image is responsible.  Should we tweak it a bit to default to using `$GRAPHROOT/sigstore`?

[2021-01-12 09:52] giuseppe commented on #8929
security-wise I think there is not much difference than running containers with `--uidmap 0:0:1`.

If additional IDs are allocated for the user, why not to take advantage of them for storing the images?

In general, I think it is safer to not flatten the image to single id when possible.  We are looking at supporting running containers without requiring root to be mapped, e.g. `--uidmap 10:0:1 --u