[2020-11-19 14:34] rhatdan commented on #8396
@giuseppe @vrothberg PTAL

[2020-11-19 14:35] mheon commented on #8412
@TomSweeneyRedHat @nalind PTAL

[2020-11-19 14:36] rhatdan commented on #7963
@nalind PTAL

[2020-11-19 14:38] AkihiroSuda commented on #8411
It is built manually, only for amd64 currently

[2020-11-19 14:42] giuseppe commented on #8396
what is the error you get on cgroup v2?

On cgroup v1 it won't work.  Even if the cgroup is chowned, we don't support it in Podman, delegation to unprivileged users is not safe

[2020-11-19 14:46] giuseppe commented on #8397
it could be.  If the host is on cgroup v1, there are multiple controllers present in `/proc/PID/cgroup` and we may be using the wrong one?

[2020-11-19 14:55] Luap99 commented on #8399
@baude It fails for rootless and rootful.

The problem is that dnsname plugin creates a dnsserver per network and a single container will always use the first sever in `/etc/resolv.conf` so if the first one returns `NXDOMAIN` it will not retry a different server which seems to be normal behavior for dns query's.

I don't think I can do anything here.

[2020-11-19 15:09] TomSweeneyRedHat commented on #8411
@mheon, not ours on quay yet.  @barthy1 built Skopeo images with different arch types for us in quay.  I can't check at the moment as quay isn't happy, but I'm pretty sure our Podman images there by default are X86_64 as that's what they're built on.

[2020-11-19 15:31] barthy1 commented on #8411
looks like update [here](https://github.com/containers/podman/blob/2aa6a8577d088271251604b028100f00a442f5cd/libpod/rootless_cni_linux.go#L27) is required to support other archs. So far only amd64 version is available

[2020-11-19 15:33] barthy1 commented on #8411
and of course multi-arch build of `quay.io/libpod/rootless-cni-infra` is requried

[2020-11-19 17:24] cevich commented on #8397
Yes...both Ubuntu 19/20 are cgv1 w/ runc coming from OBS.

[2020-11-19 17:34] edsantiago commented on #8397
I don't think it's a runc issue; I did a quick check yesterday, comparing `package_versions` from today vs 2 weeks ago, and runc/crun are the same. I'm feeling more and more certain that it's #8290

[2020-11-19 20:53] edsantiago opened #8414 "podman ps --sort created : not always sorting by created"
About one in five tries, this gives me the wrong (unexpected) result:
[code]
I expect to see c1 before c2, always. It's not a timing issue with `-d`, because `c1.Created < c2.Created`:
[code]
It's not a flake in `ps`, because for any given run of two containers, `podman ps -a --sort created` will always return the same order, always always, at least for values of "always" less than a ten-minute `w

[2020-11-19 22:06] seansund opened #8417 "podman container image does not work properly when running in OpenShift container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We have a Tekton pipeline that uses the quay.io/podman/stable:latest (v2.0.11) image as the container base to build container images for an operator project. The flow uses podman to build and push a "bundle" image to the container registry then in a later step uses opm (and podman internally)

[2020-11-19 22:08] csantanapr commented on #8417
Thanks @seansund for written down the blocker that prevents on making progress on implementing a generic tekton pipeline to build and deploy operators on OpenShift

[2020-11-19 22:40] psakar opened #8418 "Rest API - missing created attribute in images list for reproducible containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Json generated for image created as reproducible ( thus has created attribute equal to 0 Unix time (January 1, 1970 UTC)) by endpoint /images/json does not contain created attribute with value 0.

**Steps to reproduce the issue:**

1. pull any image with created date time January 1, 1970 UTC

[2020-11-19 22:43] psakar commented on #8418
Relates to https://github.com/containers/podman/issues/7927

[2020-11-19 22:48] aidan-plenert-macdonald opened #8419 "E2E tests failing: error creating layer with ID "...": no space left on device"
/kind bug

**Description**

[code]

**Steps to reproduce the issue:**

1. `sudo make test`

**Describe the results you received:**

`/tmp` is filling up and hits 100% mid tests

**Describe the results you expected:**

I imagine it's not cleaning in between tests.

**Additional information you deem important (e.g. issue happens only occasionally):**

[code]

I can fix it, but need to be pointed at

[2020-11-19 22:49] mheon commented on #8417
The problem is that CRI-O, which is running the container with Podman in it, is also using Overlay; and Overlay atop Overlay is not supported by the kernel. There are three ways forward, listed in descending order of preference.
- Mount a volume onto `/var/lib/containers/storage` in the container - this is what is usually done.
- Add `/dev/fuse` into the container, and modify `storage.conf` to use

[2020-11-19 22:50] mheon commented on #8417
Though, we're not seeing the errors I'd expect out of c/storage - I'd expect an error trying to mount the filesystem, and instead we've gotten past that point without an error and instead are producing errors after the fact where the mount has seemingly failed without an error? Very unusual.

[2020-11-19 22:52] mheon commented on #8417
Also, it seems like you do have a volume at `/var/lib/containers`, but I'm unclear as to what is backing that volume - is it a bind mount from the host, or is it handled differently?

[2020-11-19 22:53] mheon commented on #8419
@baude PTAL

[2020-11-19 23:11] csantanapr commented on #8417
Hi @mheon take a look at the Pod Spec we are using an emptyDir
[code]
This is usually what we do when running `buildah` inside OpenShift with Tekton, is the same way the tekton task for buildah uses in the ClusterTask that ships with Add-on OpenShift Pipelines.

[2020-11-19 23:19] csantanapr commented on #8417
We want to use empty dir as this is for tekton task, not persistent

[2020-11-20 01:19] zhangguanzhang commented on #8033
podman top relies on the ps command in the container

[2020-11-20 01:32] TomSweeneyRedHat commented on #8024
This has been addressed in #8505 and a number of follow up PRs, closing

[2020-11-20 01:32] #8024 closed

[2020-11-20 02:22] zhangguanzhang commented on #8397
https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5207530957701120/html/int-remote-ubuntu-20-root-host.log.html
[code]
on my host ,
[code]

[2020-11-20 02:26] edsantiago commented on #8397
Ooooh! If you still have access to this system, can you post the results of `cat /proc/$$/cgroup` please?

[2020-11-20 02:26] zhangguanzhang commented on #8076
maybe could close this ?

[2020-11-20 02:28] zhangguanzhang commented on #8397
[code]

[2020-11-20 02:31] edsantiago commented on #8397
Thank you! @giuseppe @vrothberg I hope that helps?

[2020-11-20 02:34] zhangguanzhang commented on #8388
You need to prepare a clean environment, otherwise the log will replace some irrelevant information

[2020-11-20 02:36] zhangguanzhang commented on #8418
could you provide an image which created date time January 1, 1970 UTC?

[2020-11-20 08:12] rsommer commented on #5580
I could not find a matching PR and testing with the current HEAD/2.2.0-rc1 still yields the `Networks`-key as null.

[code]

[2020-11-20 08:14] kazimsarikaya commented on #8374
I started a podman system on a linux machine with:
[code]

on osx machine I send a build request with:

[code]

And after sending context, the returned result is about not finding **test.Dockerfile**. Dockerfile path is changed. It should be **docker/test.Dockerfile**. The line

[code]

removes directroy name. Probably the aim is always sending dockerfile if it is also removed by .dockerignore.

A

[2020-11-20 08:33] psakar commented on #8418
I can not provide image as the project I'm working on is not public.
I can provide how to create one and import it to your local repo
[code]
To see json returned by podman rest api
[code]

[2020-11-20 08:38] psakar commented on #8418
BTW it seems to me that the easiest solution is to remove omitempty from https://github.com/containers/podman/blob/b898f91/pkg/domain/entities/images.go#L57
given that Created seems to be mandatory attribute

[2020-11-20 09:42] darkgirl opened #8421 "can not make checkpoint of container start by non root user"
hi,
one of the reason i chose podman is i do not need to use podman by root user.
today, when i try to use podman container checkpoint to test podman contaner restore,
but i got these message:
`
Error: checkpointing a container requires root
`
when use root permission, I got these message:
`
Error: no container with name or ID b281916d9b79 found: no such container
`
And I found when i start a cont

[2020-11-20 10:23] #8402 closed

[2020-11-20 10:35] vrothberg commented on #8397
Opened https://github.com/containers/podman/pull/8422 after talking with @giuseppe

[2020-11-20 10:35] vrothberg commented on #8397
Thanks for providing all the data, @edsantiago

[2020-11-20 12:01] #8397 closed

[2020-11-20 12:15] #7657 closed

[2020-11-20 12:37] rupert160 commented on #8411
Thanks @barthy1 - I've tried to `podman pull quay.io/libpod/rootless-cni-infra` but the container can't be found... is this what you meant?

[2020-11-20 13:02] rhatdan commented on #8041
@adelton Can we close this issue, since you have a work around?

[2020-11-20 13:13] adelton commented on #8041
Yes. Thank you.

[2020-11-20 14:24] barthy1 commented on #8411
@rupert160
1. you have `manifest unknown` error because  `quay.io/libpod/rootless-cni-infra` image has no `latest` tag. Just use it as a [link](quay.io/libpod/rootless-cni-infra) and you can see all available tags
2. Anyway, at this moment this image(all available tags) has only amd64 version. So, you need to wait till @AkihiroSuda kindly publishes versions for other architectures
3. If you are in

[2020-11-20 14:44] vholer commented on #5306
@rhatdan: Just to summarize the impression from this conversation, the podman stores runtime data somewhere and **"rely on the ... directory being cleaned on a reboot"**. But, if user run containers under unprivileged user (via `sudo`/`su`), the crucial `$XDG_RUNTIME_DIR` pointing to `/run` is not defined. Than it most likely fallbacks to `/tmp`, which is by default in e.g. CentOS 8 cloud images o

[2020-11-20 14:57] mheon commented on #5306
I'm still very confused as who why cloud images believe it's acceptable to have `/tmp` not be a tmpfs. Are there any directories that *are* tmpfs? Can we assume that `/run` is safe to use? (And what happens if we encounter another cloud image that has `/tmp` as a tmpfs but not `/run`? Since it seems like logic has escaped this particular part of the world...)

[2020-11-20 15:03] mheon commented on #5306
After pulling up some FHS standards, it seems like `/tmp` is not guaranteed to be a tmpfs, but `/run` is guaranteed to at least remove files on every reboot, which is what we need. So it seems like my anger is a little misplaced, because Cent is technically following FHS (instead, it's FHS's fault for not specifying that the temporary files directory should be, well, temporary).

@rhatdan It seems

[2020-11-20 15:56] rhatdan commented on #8417
It is much easier to use buildah inside of a container image then it is to use podman. Have you looked at doing this with Buildah?

[2020-11-20 15:56] TomSweeneyRedHat commented on #8076
@edsantiago PTAL

[2020-11-20 15:58] TomSweeneyRedHat commented on #8041
Closing, thanks for the confirmation @adelton

[2020-11-20 15:58] #8041 closed

[2020-11-20 15:59] rhatdan commented on #8033
I don't believe we should fix this, but rely on ps inside of the container.  I don't think it is worth the effort to attempt to use ps on the host.

[2020-11-20 16:06] csantanapr commented on #8417
Hi @rhatdan So glad to hear this from you ❤️

That was my answer when @seansund show me the blocker today we are building enterprise pipelines using openshift pipelines and when it comes to deal with images in tekton we use buildah to build and skope to release a tag version to external registry.

The problem is opm only supports docker and podman and all the docs and CI testing they have they don

[2020-11-20 16:10] giuseppe commented on #5306
The issue is that `/run` is not writeable for rootless users.

[2020-11-20 16:14] PinkJohnOfUs opened #8428 "podman play kube bin/sh syntax error"
/kind bug

When starting a container with podman play kube that uses /bin/sh as Entry point and a shell script as command,
container is behaving unexpected on start. If starting the same script from within the container and not on "Build Time", meaning setting only entrypoint to /bin/sh and starting run.sh by hand without setting cmd in Dockerfile, it is working.

It is not possible to use a shell

[2020-11-20 16:16] PinkJohnOfUs commented on #8428
https://gist.github.com/PinkJohnOfUs/848bfa32186cb562bf853e303ac93649

[2020-11-20 16:17] PinkJohnOfUs commented on #8428
https://gist.github.com/PinkJohnOfUs/848bfa32186cb562bf853e303ac93649

[2020-11-20 16:34] rhatdan commented on #8421
Sorry but checkpoint and restore are still currently require privileged operations.
@adrianreber Is there any chance this will ever not require privs?  Or do we need a sudo based solution?

[2020-11-20 16:39] mheon commented on #8421
I have heard a lot about the new checkpoint/restore capability in new kernels, but I have not verified if it allows CRIU as rootless.

[2020-11-20 16:40] mheon commented on #8421
(I suspect is does not because we're only getting a namespaced version of the capability in the rootless user namespace but would be happy to be proven wrong)

[2020-11-20 16:42] mheon commented on #8421
This would also all be academic if you're on RHEL/CentOS 7 or 8 as I don't believe there's any chance of the new capability being backported there. Assuming this functionality were to become available, it would only be on extremely new kernels.

[2020-11-20 16:44] mheon commented on #8428
@haircommander I seem to recall that `play kube` builds its container commands differently from the rest of Podman - could that be what's causing this?

[2020-11-20 16:46] adrianreber commented on #8421
I was able to add CAP_CHECKPOINT_RESTORE to the kernel with version 5.9. This is the first step to enable non-root checkpoint restore. Now that the necessary kernel interfaces are accessible with CAP_CHECKPOINT_RESTORE instead of CAP_SYS_ADMIN it is possible to change CRIU to work with those capabilities. The CRIU part is currently open at https://github.com/checkpoint-restore/criu/pull/1155 (unfo

[2020-11-20 16:49] mheon commented on #5306
Well that's just lovely... I'm officially out of ideas for usable directories, then.

I suppose we could potentially look into having the rootless user namespace make + mount our own tmpfs, but that would cause bad things to happen if the pause process was ever killed - we'd detect a restart and assume all containers and pods were now stopped and unmounted, even though that might not be true. This

[2020-11-20 16:49] haircommander commented on #8428
if you only set the entry point, then it only uses the entry point for the command. https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#notes

[2020-11-20 16:50] haircommander commented on #8428
hm but neither are set in the yaml, which means we're not correctly getting the command from the image

[2020-11-20 17:00] rhatdan commented on #8421
@adrianreber Is CAP_CHECKPOINT_RESTORE going to be a User Namespaced capability or will users still need a full CAP_CHECKPOINT_RESTORE caps via filecap program?

[2020-11-20 17:00] #8421 closed

[2020-11-20 17:10] #8390 closed

[2020-11-20 17:34] mheon commented on #8428
@PinkJohnOfUs Any chance you can try with the Podman 2.2.0 RC? We did a rewrite of the `play kube` backend that may have resolved the issue.

[2020-11-20 18:20] addes6 opened #8430 "containers-common-1.2.0-9.el7.x86_64.rpm prevents rootless "podman run""
I have an issue since containers-common-1.2.0-9.el7.x86_64.rpm  (previously containers-common-1.2.0-3.el7.x86_64.rpm was used), now my rootless podman run ends with:

`Error: container_linux.go:349: starting container process caused \"error adding seccomp rule for syscall socket: requested action matches default action of filter\": OCI runtime error"`

Overwriting /usr/share/containers/containers.

[2020-11-20 18:50] rhatdan commented on #5623
You could just mount /dev/ into the container?

[2020-11-20 18:51] rhatdan commented on #5623
@giuseppe Is this something we could handle with bpf and conmon?

[2020-11-20 18:53] rhatdan commented on #8407
@QiWang19 @vrothberg @mtrmac Any ideas?

[2020-11-20 19:03] buck2202 opened #8432 "minor mismatch with docker: container exitcode is 0 after checkpoint without --leave-running"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In docker, the exitcode of a container checkpointed without the `--leave-running` option is 137 (the same as a stopped container). In podman, the exitcode is 0.

**Steps to reproduce the issue:**

podman:
[code]

docker:
[code]

**Describe the results you received:**
Container exitcode reflec

[2020-11-20 19:19] jaywryan commented on #5623
The issue that I can't figure out how to solve with mounting /dev into the container is permissions / groups.
[code]

[2020-11-20 19:19] rhatdan commented on #8417
We should setup a design meeting to understand exactly what you want to do and then we could work on a solution.  Next week is bad because of Thanksgiving, but the week after would work.

[2020-11-20 19:21] rhatdan commented on #5306
I would say that this should be the responsibility of the user.  Setup a systemd onetime bootup script that cleans out /tmp/podman at boot time.

[2020-11-20 19:32] rhatdan commented on #5623
If using crun try: `--annotation run.oci.keep_original_groups=1`

[2020-11-20 19:33] rhatdan commented on #5623
@giuseppe I think we should make this a full option in podman --keep-gid, then set this magical annotation under the covers.
Report error if runc does not support it.

[2020-11-20 19:41] jaywryan commented on #5623
as you can see above, I was using the new annotation.

[code]

[2020-11-20 19:48] psakar opened #8433 "APIv2 - created container has invalid path and args"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Container create via REST api is not able to start because it has invalid path and arguments
**Steps to reproduce the issue:**

1. start podman rest service
[code]
2. create container
[code]

3. Start container (replace container id with id returned in previous step)
[code]

**Describe the re

[2020-11-20 20:01] rhatdan commented on #5623
Is it SELinux?

[2020-11-20 20:04] jaywryan commented on #5623
This bug seems to hit the nail on the head, if I disable label separation it seems to work. https://bugzilla.redhat.com/show_bug.cgi?id=1770553

[2020-11-20 20:07] mheon commented on #8433
@baude @jwhonce PTAL - looks like the migration to Specgen may how broken the way we're generating command?

[2020-11-20 20:07] rhatdan commented on #5623
The issue is SELinux is not allowed to open a random TTY on the host.

[2020-11-20 20:11] srcshelton opened #8434 "podman-2.2.0-rc1: "Error: could not get either XDG_CONFIG_HOME or HOME""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I've just updated from a (heavily patched) `podman-2.1.1` to `podman-2.2.0-rc1`, and now on attempting to run a container I've getting the message:

[code]

In this case, the container is being invoked from from an OpenRC init script, so may be subject to a restricted set of environment varia

[2020-11-20 20:13] jaywryan commented on #5623
any better options than `--security-opt label=disable`?

[2020-11-20 20:28] rhatdan commented on #5623
We could write customer policy for the container.  Perhaps we could look at udica for it.  @wrabcak wdyt?  Basically generate a container type which has full access to devices. Only tty devices would be better.

[2020-11-20 20:41] seansund commented on #8417
Unfortunately, I'm not sure we have an option to use buildah here... We are using the `opm` cli to create an Operator catalog image. The `opm` cli uses podman (or docker) internally to interact with the container images and doesn't give an option for buildah.

Here's the repo for the opm tool - https://github.com/operator-framework/operator-registry
...and here's the documentation for the operator

[2020-11-20 20:54] mheon commented on #8434
We believe this is fixed now - hoping to get an RC2 out by end of day with the fix included.

[2020-11-20 21:05] kwk commented on #7626
@djnotes I also ran into this issue and found a way to workaround it:

I had this in my YAML at `spec.volumes`:

[code]

In Kubernetes when there's a secret called `master-secret`, it will automatically be bound to this volume.

Since `podman play` is not Kubernetes I have no `secret`, I guess, so I figured to change this to telling which file to mount by using the `hostPath`:

[code]

I saw a sim

[2020-11-20 21:05] #8418 closed

[2020-11-20 21:52] baude commented on #8432
would you be willing to provide a pull request for this? we'd welcome it

[2020-11-20 23:21] buck2202 commented on #8432
sure, I'll give it a shot. will take a little bit to get oriented and setup a build environment for testing, but hopefully within a few days

[2020-11-20 23:24] a10y opened #8437 "Incomplete or failed image pull results in broken storage state"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman pull nvidia/cuda` (or similar large image)

2. Wait until load reaches the `Storing signatures` phase, and control-c kill the process

3. `podman pull nvidia/cuda` again, completes cleanly

4. Run `podman images`

**Describe the results you receiv

[2020-11-21 08:00] psakar commented on #7927
I was able to successfully run test involving postgresql db using podman built from 2.2.0.RC1 with fixes from  https://github.com/containers/podman/pull/8440, https://github.com/containers/podman/pull/8429 and https://github.com/containers/podman/pull/8423

podman (rootless) started with
[code]

test containers started with following environment variables set
[code]

[2020-11-21 10:37] mejedi opened #8441 "Can't get writable cgroups inside container without --priveleged"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Containerised app uses cgroups v2 for sandboxing internally (runs untrusted code). `Podman run` exposes cgroups but they are RO, unless I pass `--priveleged`. The latter seems excessive though. Would be nice if it was possible to request writable cgroups via e.g. `--security-opt`.

**Step

[2020-11-21 13:29] zhangguanzhang commented on #8374
https://github.com/kazimsarikaya/podman/commit/656526463d447f67933d600d14383ed5bb8b21c6
@rhatdan PTAL

[2020-11-21 14:45] Luap99 commented on #8323
Does `podman system connection add ...` fail and did you run this on the client or server?

[2020-11-21 15:06] Luap99 commented on #8323
Can you provide the output of `podman system connection ls`?

[2020-11-21 17:25] hoonetorg opened #8442 "Feature: Static IP with "podman play kube --network=<network> --ip=<IP>""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

It would be useful if ```podman play kube``` would support using static IP for the generated pod.
The usecase for me is a dhcphelper pod which uses the host network wants to talk to a app pod, which has dnsmasq running in it. Forwarding DHCP requests from dhcphelper pod to app pod with dn

[2020-11-21 18:06] FreedomBen commented on #8323
@Luap99 thanks for looking into this.   `podman system connection add` does not fail.  I ran it on the client.  Output of `podman system connection ls` is:

[code]

That is the correct username and IP for the remote machine, and the SSH key is in the client ssh agent.  SSHing normally works fine.

[2020-11-21 18:20] Luap99 commented on #8323
I followed the steps and it worked for me. Not sure what's going on here if normal ssh works.

@baude @jwhonce any ideas? This issue has five thumps up so I guess more people are running into this.

[2020-11-21 19:24] FreedomBen commented on #8323
@Luap99 I don't know if it helps, but I dug into it a bit and the error message comes from a dependency, line 77 of `vendor/golang.org/x/crypto/ssh/client_auth.go`

For convenience again this is the error message:
[code]

I wondered if it was a bug in `crypto/ssh` or if we aren't doing it right in `pkg/bindings/connection.go` but I didn't see anything obvious.

[2020-11-21 22:26] jwhonce commented on #8323
That error is coming from pkg/bindings/connection.go:252. The go ssh client is failing to connect to the remote sshd. It currently uses either public key (directly or via ssh-agent) or password authentication methods. Given your connection string it should be using public key. If you add `--log-level=debug` option, you should see debugging events printed to the screen showing you additional inform

[2020-11-21 23:23] dominic-p commented on #7706
I'm not sure what the "stale-issue" label means, but this is still an issue for me. :)

[2020-11-22 00:12] srcshelton commented on #8434
... any luck with the RC2?  This one's a little inconvenient, and if there's another RC soon I'd prefer not to have to make a temporary fix to numerous scripts...

Alternatively, do you know the commit which fixed this issue?  Patching RC1 would also be fine.  I had a quick scan through, but couldn't see the change which should fix this.

[2020-11-22 01:09] TomSweeneyRedHat commented on #8206
OK, I've added 2.1.0 and 2.1.1 to quay.io.

Closing and will add 2.2.0 once it becomes stable.  FWIW, I also added Buildah v1.16.0 and v1.17.0.

[2020-11-22 01:09] #8206 closed

[2020-11-22 06:35] TerraTech opened #8443 "[RFE] podman kill --cidfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

podman version: 2.1.1
Ubuntu: 20.04 LTS server

I would like to request `podman kill` be outfitted with reading container id via `--cidfile`

This is useful in Systemd services for `ExecReload`, e.g.
`ExecReload=/usr/bin/podman kill --signal HUP --cidfile %t/%n.ctr-id`

Actually, I was so

[2020-11-22 08:55] ruddy32 commented on #7927
Applying changes to **/usr/lib/systemd/user/podman.service** with
`ExecStart=/usr/bin/podman system service -t 0 tcp://localhost:8880`
and remove socket Requires and After instruction

... and updating maven build configuration with
`			<plugin>
				<groupId>org.apache.maven.plugins</groupId>
				<artifactId>maven-surefire-plugin</artifactId>
				<configuration>
					<systemPropertyVariables>

[2020-11-22 10:05] psakar commented on #7927
@ruddy32  your comment does not provide enough information so anybody can provide you some useful help.
Best would be either link to your project with description how to reproduce or in case it is private project please create public "minimal" project reproducing your problem.

General hints based on your comment
0. Have you build the podman containing the fixes mentioned above ? (ATM only two are

[2020-11-22 10:59] ruddy32 commented on #7927
I was using podman 2.1.1, which does not include last changes listed by @psakar :-(
Sorry for disturb!

[2020-11-22 13:40] aojea opened #8444 "podman inspect format doesn' t work for Container Port bindings"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

KIND uses
[code]
to get the exposed ports of the containers, this fails with new version because it no longer reports a json
[code]

It also says that the inspect command defaults to json
[code]

but it is returning a go struct:
[code]

**Describe the results you expected:**

Is json not goin

[2020-11-22 14:05] aojea commented on #8444
more interesting behaviours
[code]

[2020-11-22 14:34] zhangguanzhang commented on #8444
@jwhonce PTAL

[2020-11-22 19:29] peters95 commented on #7301
This seems like a limiting factor in terms of the adoption of podman. I wanted to use podman on mac to avoid the docker socket but if I'm required to have a linux VM this is even worse than the docker socket issue.

[2020-11-22 20:31] afbjorklund commented on #7301
Podman is a **Linux-only** program. Hopefully this is now clear, from the new podman.io documentation ?
With "Podman Machine" I _tried_ to bring the support to 2015 standards, but it failed - and is deprecated.

If you want to discuss the availability of a Mac bundle, I would suggest [the podman community meeting](https://podman.io/community/meeting/).
On Windows you can use WSL, but there is no s

[2020-11-22 20:47] mheon commented on #7301
To elaborate further, it's simply not technically possible to do containers
natively on OS X at the moment. The kernel features that containers rely on
(most notably process namespacing) are simply not available on OS X, and
Apple has shown no interest in adding them thus far. The model at this
point for both us and Docker is a native OS X binary capable of remotely
connecting to a server that act

[2020-11-22 22:16] Luap99 opened #8445 "podman container ps is missing"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman container ps` is missing.

[code]

According to our documentation it should be there. It also exists in docker.

[2020-11-23 01:35] falstaff1288 opened #8447 "podman play kube - "OCI runtime command not found error" when only arguments are defined in the command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The docker image prom/prometheus is particuliar compared to most I've seen: the command`/bin/prometheus` is the entrypoint and the arguments are the command (see: [https://github.com/prometheus/prometheus/blob/master/Dockerfile](https://github.com/prometheus/prometheus/blob/master/Dockerfile)

[2020-11-23 02:06] mheon commented on #8447
Can you provide a `podman inspect` of both the container that you generated from, and the failed container you ran with `play kube`?

[2020-11-23 02:16] falstaff1288 commented on #8447
Sure:

- Inspect after running the container with `podman run -d --name prometheus -p 9090:9090 prom/prometheus`
[code]
- Inspect after running `podman play kube kube_prometheus.yml`
[code]

[2020-11-23 02:18] falstaff1288 commented on #8447
I noticed in the inspect of the `kube play` that the Path is wrong:
[code]

[2020-11-23 02:58] mheon commented on #8447
Seems like entrypoint isn't being handled properly.

We did do some major reworking of `play kube` under the hood for Podman 2.2.0 RC1 - any chance you can try the RC and check if it works?

[2020-11-23 03:16] falstaff1288 commented on #8447
I've compiled and installed podman 2.2.0 rc1 and I confirm that the issue is resolved with this RC.

I've generated a kube yaml file with this version before doing a `kube play`:

[code]

Here's an inspect of the container:
[code]

[2020-11-23 03:18] #8447 closed

[2020-11-23 06:30] ericzolf opened #8448 "podman network create with --ip-range doesn't create proper range"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using the `--ip-range` option with `podman network create`, the resulting range doesn't correspond to the entered CIDR. One could also argue if a CIDR entry is the proper format for entering a range.

**Steps to reproduce the issue:**

1. `podman network create --ip-range 10.200.1.1/25 -

[2020-11-23 08:54] giuseppe commented on #5623
recent podman releases have a new `--mount type=devpts` to mount a new devpts on top on `/dev`.

Does `--mount type=devpts,destination=/dev/pts` make any difference with the issue above?

[2020-11-23 09:21] PinkJohnOfUs commented on #8428
@mheon the bug appeared after this changes I guess, I was testing it with this version:
[code]
Can't tell you wich commit is causing this bug, but at least it wasn't an issue with commit:
`916825b6753086d7712ba593e5381b9bd49aae96`

[2020-11-23 09:21] vrothberg commented on #8033
Reopening as I think the docs (help message, man pages, etc.) should reflect the difference to Docker.

If users want to find out host information of container processes, `podman top` is the right thing.

[2020-11-23 09:37] srcshelton commented on #8434
Found it!

[2020-11-23 09:41] vrothberg commented on #8033
https://github.com/containers/podman/pull/8449

[2020-11-23 09:49] vrothberg commented on #8407
I think some commands were mixed up>

`podman save/load` are for images while `podman export/import` are for containers.

[2020-11-23 10:12] vholer commented on #5306
Why user should substitute a design flaw? And, if yes, how is he supposed to know he needs to clear something and what?

If it's crucial to have those data non-persitent, I guess the Podman packaging should introduce some mechanism to clean it on reboot automatically. Or, introduce a dedicated `/run/podman/` location with permissions similar to `/tmp/`...

[2020-11-23 11:29] BOPOHA commented on #5306
And what about `/run/user/$(id -u)/podman/` ?

it might be useful  https://www.freedesktop.org/software/systemd/man/pam_systemd.html

`... user runtime directory /run/user/$UID is either created or mounted as new "tmpfs" file system ...`

/run/user/$uid is created by pam_systemd and used for storing files used by running processes for that user.

[2020-11-23 11:31] xals commented on #7544
Hi,

@propeeves, @mheon The file `/etc/containers/containers.conf` is read, but the configuration key is `cgroup_engine` with an underscrore and not a dash.

Regards.

[2020-11-23 11:53] motiejus commented on #8434
Looks like rc1 is still in kubic repositories:
[code]

Looking forward to the rc2 there.

[2020-11-23 11:53] #8033 closed

[2020-11-23 11:55] rhatdan commented on #8444
The man page indicates to me that it returns go format structs **OR** JSON.
If you specify a --format, you will not necessarily get json, unless the field you specify is in json format.

[2020-11-23 11:57] rhatdan commented on #8443
Interested in opening a PR to add this functionality?

[2020-11-23 11:58] rhatdan commented on #8442
Interested in opening a PR to add this functionality?

[2020-11-23 12:01] rhatdan commented on #8441
@umohnani8 PTAL
@giuseppe WDYT?  Is this something that should be read/writable by default in a container with cgroups V2?  Since we have delegation, isn't it safe to allow the container to subdevice its cgroups?

[2020-11-23 12:02] rhatdan commented on #8437
@nalind PTAL
This is probably the same issue we see when we run out of space when pulling images.

[2020-11-23 12:03] rhatdan commented on #8434
RC2 should be released this week, but the Holiday might cause issues.

[2020-11-23 12:11] motiejus commented on #8434
Thanks. In the meanwhile, is there a way to get podman 2.1 deb, equivalent to what's https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/Debian_10/, but for 2.1?

Podman 2.0.6 (what's now available in official debian repos) is a bit too big of a jump for me by now.

[2020-11-23 12:11] rhatdan commented on #8064
I believe this is fixed in the latest code.  There has been a major update of how copy/add are handled in buildah which has been merged into podman.  If you still find issues with this, please open an issue with buildah bud, since it would have to be fixed there first.

[2020-11-23 12:11] #8064 closed

[2020-11-23 12:12] rhatdan commented on #8060
@giuseppe WDYT?

[2020-11-23 12:13] rhatdan commented on #8050
We can continue to look at  #7946

[2020-11-23 12:13] #8050 closed

[2020-11-23 12:14] rhatdan commented on #8032
If this is true it means that their is a bug in golang itself, since we are using the golang bindings for connecting to web services, which are supposed to follow these flags.

@vrothberg WDYT?

[2020-11-23 12:16] rhatdan commented on #8027
I believe this is a firewall issue, closing.  Firewall management is outside of Podman's control.  We do not want Podman poking holes in the firewall.

[2020-11-23 12:16] #8027 closed

[2020-11-23 12:16] rhatdan commented on #8017
I am closing this for a lack of followup.  Reopen if you can provide the information requested.

[2020-11-23 12:16] #8017 closed

[2020-11-23 12:18] rhatdan commented on #7771
@mheon Any progress on this?

[2020-11-23 12:19] rhatdan commented on #7744
I believe the suggested ideas are enough and have not heard a response.  Reopen if you have other ideas.

[2020-11-23 12:19] #7744 closed

[2020-11-23 12:22] rhatdan commented on #7420
@awerlang Is this still something you are interested in?

@mheon  Do you think this is something we should do?

[2020-11-23 12:23] rhatdan commented on #7495
@jwhonce @baude  Please comment.

[2020-11-23 12:25] rhatdan commented on #7504
I like the idea of podman play kube --userns=keep-id

[2020-11-23 12:26] rhatdan commented on #7537
@umohnani8 PR to handle --security-opt=mask/unmask should fix this Issue.

@umohnani8 We might want to add a unmask=all flag to remove all masking.

[2020-11-23 12:28] rhatdan commented on #7548
Any more updates on Podman support on WSL2?

[2020-11-23 12:29] rhatdan commented on #7626
@mheon this should be part of the volume plugin work correct?

[2020-11-23 12:31] rhatdan commented on #7684
@zhangguanzhang @Luap99 Any chance one of you two could look at this?

[2020-11-23 12:32] rhatdan commented on #7706
I have begun playing with this, but I am not sure how much time I can dedicate to it.
https://github.com/containers/podman/pull/8393
If anyone wants to steal my PR, you are welcome to it.

[2020-11-23 12:33] rhatdan commented on #7774
@giuseppe Any chance you could work on this?

[2020-11-23 12:34] rhatdan commented on #7806
@ashley-cui Did you get a chance to look at this?  Seems pretty key that we add this support.

[2020-11-23 12:38] rhatdan commented on #7865
Since this involves a rewrite of the network stack, it is not a good first issue.

[2020-11-23 12:38] rhatdan commented on #7875
@lsm5 Any update?

[2020-11-23 12:40] rhatdan commented on #7883
Is this still happening?

@vrothberg This seems similar to the issue we have seen with podman stats in the CI/CD system?  Do you think  your PR would fix this?

[2020-11-23 12:42] rhatdan commented on #7989
@mheon should we add this data to database then?

[2020-11-23 12:43] rhatdan commented on #7990
Since we never got the reproducer, I am going to close.  Reopen if new data becomes available.

[2020-11-23 12:43] #7991 closed

[2020-11-23 12:44] #7906 closed

[2020-11-23 12:52] ashley-cui commented on #7806
@rhatdan Haven't taken a look yet, will try to reproduce/do a little digging today

[2020-11-23 12:57] giuseppe commented on #8060
I think that the approach could solve the issue.

@mheon are you fine with it?

[2020-11-23 13:15] Luap99 commented on #7684
@havok4u Any chance you could test this with `podman 2.2.0-rc1`?

[2020-11-23 13:16] aojea commented on #8444
with previous version, because you could specify JSON in 2.1.x

 and now it returns

[2020-11-23 13:19] elgalu commented on #6667
@jskovjyskebankdk did you try https://github.com/flavio/fuse-device-plugin ?

[2020-11-23 14:13] PavelSosin-320 commented on #7548
@mheon I found recently that MS released the Linux kernel 5.4 internally. Unfortunately, as it frequently happens my attempt to upgrade WSL Kernel from MS 4.9 to 5.4 on 2 laptops failed. Podman 2.1.1 and K8s on Ubuntu 20.04 work but use iptables ver 1.8 legacy. In other words, CNI is OK but RedHat's decision to bundle RHEL8 and CentOS8 with Podman and switch from iptables to nftables in the same t

[2020-11-23 14:41] abitrolly commented on #7744
@rhatdan the idea with python in sleep mode is basically a proposal to run everything in a single container, which is a significant drawback.

@mheon how to do checkpoint/restore with `podman`?
[code]

[2020-11-23 14:56] awerlang commented on #7420
I was able to use overlay mounts with rootless buildah to accomplish the same thing. So atm I don't have a use case for this.

[2020-11-23 14:57] TomSweeneyRedHat opened #8452 "RFE: Native Mac/Windows support"
It would be ideal to have native mac and windows support to further the adoption of podman in the community. Users do not want to have a Linux VM just to use podman on these platforms. Furthermore, users won't read the entire README to find out that you really only support Linux and not Mac/Windows without a Linux VM.

First posted against podman.io https://github.com/containers/podman.io/issues/3

[2020-11-23 14:59] mheon commented on #7420
This could be a bit annoying to add (is not hard but could be a fair bit of
extra code) so I vote no unless someone has a solid use case.

On Mon, Nov 23, 2020, 09:57 André Werlang <notifications@github.com> wrote:

[2020-11-23 15:02] mheon commented on #8452
OS X is technically impossible at present. Kernel features we need are just
not there - you can't make anything approximating a container. We're at the
mercy of Apple on adding them and for now they seem quite content to not do
that.

A native Windows port is possible but would require a massive
rearchitecture to run Libpod on non-Unix platforms. For now my temptation
is to say that WSL2 has mostl

[2020-11-23 15:03] #7420 closed

[2020-11-23 15:05] mheon commented on #8434
There is a non testing version of that repo that tracks the latest stable
release. It's linked in our install page.

On Mon, Nov 23, 2020, 07:11 Motiejus Jakštys <notifications@github.com>
wrote:

[2020-11-23 15:07] mheon commented on #8434
Install page is located at https://podman.io/getting-started/installation

Locate your distro and there should be instructions to install the stable
OBS repo.

On Mon, Nov 23, 2020, 10:05 Matthew Heon <matthew.heon@gmail.com> wrote:

[2020-11-23 15:11] rhatdan commented on #8452
Containers==Linux, Linux==containers.  When users want to run containers they are almost always talking about Linux containers.  In order to run a Linux Container, you need a Linux Kernel.  Thus you need a VM (Or a hidden VM line WSL2).

In my opinion until the fact that `Container are Linux` changes, running Native, is just people not understanding containers or being fooled by Docker.

Could we

[2020-11-23 15:20] lsm5 commented on #8434
@motiejus you can get the debianized tarball podman_2.1.1~2.tar.gz from https://build.opensuse.org/package/show/devel:kubic:libcontainers:testing/podman?rev=243 and run `dpkg-buildpackage -us -uc` in it to generate the 2.1.1 packages.

[2020-11-23 15:24] lsm5 commented on #8430
@rhatdan @mheon any idea?

[2020-11-23 15:26] motiejus commented on #8434
Thanks a lot, that worked.

[2020-11-23 15:36] rhatdan commented on #7744
Checkpoint and restore require rootful Podman.
[code]

[2020-11-23 15:38] rhatdan commented on #7744
The sleep idea could be expanded to lot's of containers, no need to run a single version of it. Just run  multiple sleeping containers as a pool.

[2020-11-23 15:40] umohnani8 commented on #7537
Yup, we have `unmask=ALL` as an option as well. The PR is https://github.com/containers/podman/pull/8408

[2020-11-23 15:40] mheon commented on #8430
We've seen this before - it's an outdated runc binary without a patch to Seccomp handling.

[2020-11-23 15:48] Forceu commented on #6003
Any update on this issue?

[2020-11-23 16:03] mheon commented on #6003
I imagine that reworking our copyup code to use Buildah's `copier` package should solve this.

[2020-11-23 16:09] rhatdan commented on #8434
Since this is fixed in master, I am closing.  Hope to have fix out this week.

[2020-11-23 16:09] #8434 closed

[2020-11-23 16:14] mheon commented on #7771
`network connect` and `network disconnect` have merged.

[2020-11-23 16:14] #7771 closed

[2020-11-23 16:15] mheon commented on #8060
I'm perfectly fine with this - makes sense from my perspective.

[2020-11-23 16:18] mheon commented on #7989
That's what we have to do - the "network rewrite" I keep talking about it basically moving network logic inside Libpod so we can use the DB to store information on a network and lessen our dependence on CNI for what we do and do not support.

Doing it right is probably a sprint worth of work, minimum, for a team member, though. I'd be happy to take it on early next year once volume plugins are don

[2020-11-23 16:36] abitrolly commented on #7744
The sleep idea works, because Python libs are already loaded in memory when container is sleeping. My idea is to pause and make snapshot of the initial process while it is waiting for I/O. The missing part is how to checkpoint at the right moment.

[2020-11-23 16:53] albertxos commented on #8428
can confirm that this is not working with Podman 2.2.0 RC.

[2020-11-23 16:54] svdHero opened #8453 "System prune does not support filter option ("Error: unknown flag")."
In Docker I can do this:
[code]
which I use as part of a systemd timer on our CI server in order to clean up disk space.

However, when I try this
[code]
I get an error saying `Error: unknown flag: --filter`.

The filter option was added to `image prune`  and `container prune` in #4512 and #4596, respectively.
It should be added to `system prune`, too.

[2020-11-23 17:09] mheon commented on #7626
No, this is not part of the volume plugin work. This is entirely separate and lives exclusively in `play kube`. Basically we need to figure out the various types of volumes Kubernetes supports and figure out a way of mapping those into Podman volumes.

[2020-11-23 17:11] mheon commented on #8428
@PinkJohnOfUs Can you confirm that this only appeared after 2.2.0-rc1? Your original bug report was filed against 2.1.1. Does the bug happen with both, or just 2.2.0-rc1?

[2020-11-23 17:13] pschiffe opened #8454 "podman network create: add option to set custom network driver settings, eg like MTU"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Docker command `docker network create` has the `-o, --opt map              Set driver specific options (default map[])` option.

With podman, one have to modify the config file in `/etc/cni/` once the network is created to change its settings, which is not very automation friendly.

Relat

[2020-11-23 17:16] mheon commented on #7544
Excellent point. I imagine this will work if the correct key is used.

[2020-11-23 18:09] #8445 closed

[2020-11-23 18:26] rhatdan commented on #8454
@pschiffe interested in opening a PR to fix this?

[2020-11-23 18:27] rhatdan commented on #8453
@svdHero Interested in opening a PR to fix this?

[2020-11-23 18:34] #8448 closed

[2020-11-23 18:54] afbjorklund commented on #8454
This would be useful for minikube as well, I can probably do a PR for it

[2020-11-23 18:58] rhatdan commented on #8374
@zhangguanzhang Are you opening a PR?

[2020-11-23 19:01] mheon commented on #5306
We do default to `/run/user` - so for most installations using systemd, this is not an issue. It is an issue if the system does not use systemd, or the user running Podman does not have a proper login session (`sudo` and `su` sessions do not cause systemd to make the `/run/user/$UID` directory).

[2020-11-23 19:51] hoonetorg commented on #8442
@rhatdan: Oh i think my knowledge about go and the code is not good enough for it :)

[2020-11-23 19:52] kazimsarikaya commented on #8374
I open an pr.

[2020-11-23 20:22] rhatdan commented on #8454
You got it.

[2020-11-23 20:24] rhatdan commented on #5306
If the files are under /tmp/podman/* then it is easy to add a tmpfiles.d script that removes these files on reboot.

[2020-11-23 20:28] rhatdan commented on #8442
Ok no problem, I just thought I would ask.

[2020-11-23 20:38] afbjorklund commented on #8454
Most likely it will be a simple option to "network create", rather than -o com.docker.network.driver.mtu=1500

[2020-11-23 20:42] TrevorBenson commented on #8407
The issue definitely is on my side with running the wrong command. The above statement makes it clear and we can close the ticket.

**Food for thought**

Since one is about images and the other about containers I find it interesting that the word container is found in podman save documentation for **container archive** and podman load has it multiple times referencing **container image archive** o

[2020-11-23 20:42] #8407 closed

[2020-11-23 21:09] afbjorklund commented on #8454
Seems to be working:

[code]

27: cni-podman1: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu **1500** qdisc noqueue state UP group default qlen 1000

29: cni-podman2: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu **5000** qdisc noqueue state UP group default qlen 1000

[2020-11-23 21:15] peters95 commented on #7301
Just bringing this up so you are aware users are still running into this.

In general I think we should consider making the installation similar to Docker users just want it to work out of the box.

I understand docker uses a VM that is not the point the problem is when a new user does:

brew install podman

It does not work.

Thanks @afbjorklund I will look into joining the community meetings and

[2020-11-23 21:20] pschiffe commented on #8454
Looking great and good enough for me, thank you!

[2020-11-23 21:34] afbjorklund commented on #7301
@peters95 : You can also continue to describe the requirement here: https://github.com/containers/podman/issues/8452

This old issue was more about the default error when not having a server, which is similar on Linux too:

[code]
The new issue is more about what are you are describing, how to bundle a Linux VM with a Mac version.

----

Maybe have a Linux VM that exports a UNIX socket, the same w

[2020-11-23 21:44] ashley-cui commented on #7806
tried looking into this, but ran into this issue: https://github.com/containers/podman/issues/8323

going to dig further..

[2020-11-23 22:12] afbjorklund commented on #8452
Some users are looking for a slightly smaller version of [CodeReady Containers](https://developers.redhat.com/products/codeready-containers/overview), but with Podman instead of OpenShift...
There _was_ some talk about adding `podman-remote` support to the default CRC install, but it is currently broken I think.

* https://github.com/code-ready/crc/issues/1097
* https://github.com/code-ready/crc/i

[2020-11-23 22:41] jaywryan commented on #5623
I'm not sure if this is what you are asking for, but I still do get permission denied when running the below

[code]

[2020-11-23 22:45] #8361 closed

[2020-11-23 23:42] TerraTech commented on #8443
Sure, doesn't seem like it would be difficult to implement along with being an itch that really needs to be scratched.  ;)

[2020-11-24 06:11] zkirill commented on #7927
I was able to successfully run my Spring Boot test with podman 2.2.0-dev (4fe7c3f7bc8a1d20a23e87783b6a17b887c782e1) and testcontainers 1.15.0 after introducing a third environment variable [1] in addition to the ones @psakar specified:

Also, my testcontainers setup completely ignored any normal location for testcontainers environment variables [1] and I had to set them in the Run/Debug Configurat

[2020-11-24 06:11] jskovjyskebankdk commented on #6667
@elgalu I was not aware of that project, no.

And I do not think I will test it -  I am a little concerned about its age, and it not being mentioned as a device plugin in the official documentation.

But thanks for the reference.

[2020-11-24 06:14] jskovjyskebankdk commented on #6667
By the way; we now use Podman to make builds in non-privileged containers.

Still using NFS backend and VFS, so performance is not great.

But it does work (same instructions as for Buildah, https://github.com/containers/buildah/blob/master/docs/tutorials/05-openshift-rootless-bud.md)

So I will close this issue.

[2020-11-24 06:14] #6667 closed

[2020-11-24 07:53] PavelSosin-320 commented on #7548
[RedHat recommendations about firewall to use ](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/securing_networks/getting-started-with-nftables_securing-networks)
The iptables utility is deprecated in Red Hat Enterprise Linux 8. Use instead nftables. In the CentOS8 too?
Indeed, in my home-made CentOS8 iptables already absent.

[2020-11-24 08:14] vrothberg commented on #8032
A Go bug would surprise me as it would impact many people at once.

@danny2001k, could you share `/etc/containers/containers.conf` and try setting the `env=["http_proxy=..."]` in the `[engines]` table? Does that work? `containers.conf` is the only offender I can imagine in our code base at the moment.

[2020-11-24 08:16] vrothberg commented on #7883
It looks like another issue. The one I caused (and fixed) recently related to parsing cgroups. This one here seems to relate to networking.

[2020-11-24 08:21] PinkJohnOfUs commented on #8428
@PinkJohnOfUs just with 2.2.0-rc1. The output of `apt list podman `was maybe misleading, sorry for that.

[2020-11-24 08:31] vrothberg commented on #8407
Thanks for the feedback, @TrevorBenson! I totally agree. It's a reoccurring issue and I stepped into the trap many times. Podman inherited these commands from Docker and I believe it was a mistake to put the commands on the same level. A `podman {container,image} {save,load}` may be much easier to wrap the head around as the "container" and "image" sub-command give the context.

I like your idea t

[2020-11-24 08:36] vrothberg commented on #8407
Looks like @QiWang19 already opened a PR (https://github.com/containers/podman/pull/8459), thanks!

[2020-11-24 09:08] mtrmac commented on #8032
TL;DR: “be liberal in what you accept” bites again, combined with a lazy implementation in the standard library.  The `\` must be percent-encoded; a Go standard library bug might be worth filing.

---

The configuration was recognized as a proxy configuration, the code is trying to contact the proxy.

The code has decided that the proxy hostname is `http`.

---

Note:
[code]
results in a `parse "h

[2020-11-24 09:36] giuseppe commented on #8441
I think adding an option to `--security-opt` for enabling writeable cgroups is a good idea.

I think we should not do it by default.  Creating cgroups can be expensive, we have the same issue with systemd not delegating the cpu controller to rootless users, and a malicious container could take advantage of it.

[2020-11-24 09:46] svdHero commented on #8453
@rhatdan I'd love to if it wasn't in go. ;-) Unfortunately I have no experience and go, and right now not the time to learn it.
However, if nobody else gives it a shot, I might be tempted to pick it up. Is there any contribution how-to for dummies and noobs?

[2020-11-24 09:55] hscspring commented on #2542
It's suit for ubuntu.

The reason is mainly because username changed.

[2020-11-24 10:02] mtrmac commented on #8387
This might require a (Golang) stack trace, or possibly even a system call trace. Apparently sending SIGQUIT to the process could trigger an abort with a stack dump, that would be a start.

[2020-11-24 10:09] mtrmac commented on #4123
@svdHero This bug report is specifically about the `secretservice` helper not working in Podman. If `docker-credential-pass` fails, and the reason is not obviously the same, please file a separate report.

[2020-11-24 10:32] PavelSosin-320 opened #8462 "Strange effect of the podman run --pod new:podname on the Container status and port publishing. No Documentation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug BUG

**Description**

When podman run is used with --pod new:podname and port publishing -p 8080:80
but timing is wrong! It takes several seconds for heavy Nginx to start. But flyweight infra container starts instantly! When I test Nginx home page using the browser I get several times only constant string and a

[2020-11-24 10:35] bioinfornatics opened #8463 "Error during unshare(CLONE_NEWUSER): Operation not permitted"
Dear,
I try to use podman (from centos 7 container) instead of docker within our internal gitlab server.
But podman fail during the CI with this message:

[code]
On the build machine I change the value of `user.max_user_namespaces` 0 to 15 000

[code]

But the error persist

My gitlab-ci.yml

[code]

Thanks for your help

NB: if you need I can provides the content of scripts: `builder` and `builde

[2020-11-24 10:37] mtrmac commented on #8012
Just searching the code without testing the hypothesis, https://github.com/containers/buildah/blob/af10f8cab6906c27e950bb7755233fde3cd33d12/pkg/cli/common.go#L284 (and other copies of that code) set the `override-flag` value with a non-empty default, which causes https://github.com/containers/buildah/blob/af10f8cab6906c27e950bb7755233fde3cd33d12/pkg/parse/parse.go#L613-L615 to set an override, and

[2020-11-24 10:42] Luap99 commented on #8463
You don't have user namespaces enabled

[2020-11-24 10:44] bioinfornatics commented on #8463
thanks @Luap99

How to enable it ?

[2020-11-24 10:50] Luap99 commented on #8463
I think `sysctl -w kernel.unprivileged_userns_clone=1` should do it

[2020-11-24 11:06] Luap99 commented on #8462
`podman run -dt --pod new:nginx2 -p 8080:80 nginx` shoudle be the same as:
[code]

[2020-11-24 11:07] Luap99 commented on #8462
If you are in a pod you share the same network interface so the port mapping is applied to all container in the pod.

[2020-11-24 11:52] rhatdan commented on #8463
This is seccomp rules in docker blocking the unshare sysctl.

--security-opt seccomp=unconfined
or
--security-opt seccomp=/usr/share/containers/seccomp.json (Containers-common package).

[2020-11-24 11:52] Luap99 commented on #8463
Does it work? Can we close this issue?

[2020-11-24 11:55] rhatdan commented on #8462
I don't believe this is a Podman bug. Podman is just setting up the namespaces and launching the container.  I believe this is most likely something strange going on with WSL2.

I am not sure what Documentation you would like to had added?

[2020-11-24 11:57] rhatdan commented on #8453
The best we have is https://github.com/containers/podman/blob/master/CONTRIBUTING.md

[2020-11-24 11:59] rhatdan commented on #8444
@jwhonce PTAL

[2020-11-24 12:00] rhatdan commented on #8443
Thanks, Looking forward to seeing it.

[2020-11-24 12:03] rhatdan commented on #8441
@umohnani8 Since you are already in the --security-opt code, could you look into adding this feature.

How about
--security-opt cgroups=rw

Should this only be available to cgroups V2?  (That is where I am leaning).

[2020-11-24 12:03] rhatdan commented on #8430
This should be a bugzilla, not an issue.

[2020-11-24 12:03] #8430 closed

[2020-11-24 12:06] rhatdan commented on #8412
@mtrmac PTAL

[2020-11-24 12:08] rhatdan commented on #8401
Since we have a solution, I am closing the issue.

[2020-11-24 12:08] #8401 closed

[2020-11-24 12:10] PavelSosin-320 commented on #8462
How to use health check command what it does, how to configure health check, how it affects Container and Pod status. Something more than a blank page.
For such things like Nginx it can be not so complex:
**podman exec 9f45763221d8 curl http://localhost:80**
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spen

[2020-11-24 12:11] bioinfornatics commented on #8463
I am waiting the SI to allow the  user namespaces

[2020-11-24 12:12] rhatdan commented on #4854
This is still something we want, but know one has stepped up to work on it.

[2020-11-24 12:14] rhatdan commented on #7213
@KKoukiou @mheon Is this still an issue or did the linked merge fix it?

[2020-11-24 12:25] rhatdan commented on #7116
@edsantiago if we remove the stutter, does the message become more clear?

./bin/podman-remote run docker-archive:/tmp/alpine.tar date
Error: reference "docker-archive:/tmp/alpine.tar" must be a docker reference

[2020-11-24 12:47] addes6 commented on #8430
@rhatdan  May I report this somewhere else?

[2020-11-24 12:50] rhatdan commented on #8463
@bioinfornatics Did my suggestion get you any further?

[2020-11-24 12:52] djmattyg007 opened #8466 "Support '--add-host=host.docker.internal:host-gateway'"
/kind feature

**Description**

The next version of docker will support the following CLI argument to ``docker run``:

[code]

The magic string ``host-gateway`` will automatically map to the gateway inside the container (ie. the host machine), allowing you to provide a well-known hostname to use to access the host from inside a container.

This feature was discussed and implemented on the followin

[2020-11-24 12:56] mtrmac commented on #8412
@jmccormick2001 Thanks for your report. If this is really exactly the same Podman version, that’s certainly unexpected.

Can you upload and collect debug logs from both builds, please (`podman --log-level=debug bud …` or the like) ?

Another thing to test would be whether it is the platform that matters, or whether the manifest changes on repeated uploads; e.g. try using the same host and build+pu

[2020-11-24 13:13] eiffel-fl commented on #7981
Hi!

Can I have the Dockerfile you use to create the images that shows a bad size so I can try to reproduce and investigate the code?

Best regards.

[2020-11-24 14:04] rhatdan commented on #6547
@ashley-cui @TomSweeneyRedHat @baude @jwhonce This issue is still active and really needs to be cleaned up.

[2020-11-24 14:06] rhatdan commented on #5386
@gartnera Could you give us another run?

[2020-11-24 14:09] rhatdan commented on #4900
@giuseppe Any movement on this?

[2020-11-24 14:13] bioinfornatics commented on #8463
@rhatdan I will do, my informatics service ask if it is secure to enable those things as by default they are disabled .
and I have no idea

[2020-11-24 14:14] rhatdan commented on #8466
@djmattyg007 Interested in opening a PR to enable this?

[2020-11-24 14:16] rhatdan commented on #8466
Is the basic idea of this that, if I create a container with

--add-host=host.podman.internal:host-gateway
And my host IP is 1.2.3.4

Then I will end up with an entry in /etc/hosts that looks like
1.2.3.4 host.podman.internal
?

[2020-11-24 14:23] Luap99 commented on #8385
@ericzolf I found the problem.

The `tuning` plugin is missing in the config file. You should be able to add `{
         "type": "tuning"
      },` under the plugins section in `/etc/cni/net.d/<netname>.conflist`. After that you should be able to set a static mac with this network.

I opened #8467 to include this by default in the future.

[2020-11-24 15:23] Hubbitus commented on #3277
Yeh, indeed it is [split DNS and systemd-resolved](https://fedoramagazine.org/systemd-resolved-introduction-to-split-dns/) in action. Sorry for the noise.

[2020-11-24 15:46] aleks-mariusz commented on #8430
as i don't see any info on this issue about fixing it so if i need to rollback to a working rpm then i'll do so.. @addes6 where to get containers-common-1.2.0-3.el7.x86_64.rpm ?

[2020-11-24 15:58] dweindl commented on #8430
I got the same error message after a recent update. Downloading and building the latest runc as described on https://github.com/opencontainers/runc#building worked for me. If you can't install it to the default location, you can use it via `podman run --runtime=/path/torunc`.

[2020-11-24 16:34] aleks-mariusz commented on #8430
Thanks Daniel for the pointer to the runc build - ultimately i didn't want to go through the work of building it so i just downloaded the latest from [the releases page](https://github.com/opencontainers/runc/releases/tag/v1.0.0-rc92) and replaced the /usr/bin/runc with the downloaded one (had to rename runc.amd64 to runc).

But i think this is an issue with the runc that's being installed from th

[2020-11-24 16:35] PavelSosin-320 commented on #8462
@Luap99 it's true, all containers can share the same locahost but it doesn't solve the problem: on the same Pod it can take 0.5 sec to start flyweight containers and 5 sec to start heavyweight containers like Nginx, Tomcat. Nginx starts to respond minutes later after Pod is shown as running and Nginx container appears in Podman PS.
Some containers can fail to start due to allowed startup time expi

[2020-11-24 17:06] jmccormick2001 commented on #8412
I did some more testing of this today, I can't reproduce it sadly.  What I do notice is that I have to specify --format=docker to get either of these to build a v2 manifest which I guess is expected?   I still see issues when I push these to quay.io, in that if I pull down the images from quay.io, I get back a v1 manifest image.  But I think that is being tracked in another issue.

[2020-11-24 17:48] #8385 closed

[2020-11-24 18:12] wrabcak commented on #5623
Hi All,
@rhatdan  is there a difference using '-v' for device and using
'--device' ?

It will work if -v switch is used, for --device we need to add the functionality for udica.

[2020-11-24 19:00] afbjorklund commented on #8454
Syntax now changed to:

`podman network create podman2 --opt mtu=5000`

[2020-11-24 19:30] rhatdan commented on #8412
Ok I am going to close, reopen if it happens again.

[2020-11-24 19:30] #8412 closed

[2020-11-24 19:33] svdHero commented on #4123
@mtrmac I came here from #4119, because @QiWang19 mentioned this issue there. I assumed this would be the place where he was documenting his progress. Maybe this was a wrong assumption.

[2020-11-24 19:35] rhatdan commented on #5623
--device needs no special labelling, this just means that the device will get injected into the container, with the correct label.

-v /dev:/dev is the case where users get the permission denied.

[2020-11-24 19:56] topas-rec opened #8471 "How to use a directory, which is shared read only with other users on the host using group permissions inside a rootless container by a non-root user, who can read and write the directory, without modifying the permissions of directory on the host?"
/kind unknown

(Tell me what this is? Cannot say bug - cannot say feature, yet. I suggest "help wanted")

**Description**
A lot of explanation follows. Questions are marked bold.
A short summary is the title.

Assuming there is a directory which looks like this on the host:
[code]

(This one is an NTFS drive mounted using `ntfs-3g`.
`root` is the owner since no other user was mentioned as owner in

[2020-11-24 20:08] QiWang19 commented on #4123
@svdHero The `secretservice` helper can't work rootless caused by secret-tools with dbus issue. What error you came across with `docker-credential-pass`? Does it work with rootful podman?

[2020-11-24 20:29] wrabcak commented on #5623
I see. Okay I create draft PR for that functionality in Udica: https://github.com/containers/udica/pull/78

[2020-11-24 20:48] svdHero commented on #4123
There are no error messages. #7254 states that credential-helpers are not supported by podman. So, to be more precise, my question would be: what is the status of credential-helpers in podman and how can I use them? Do I just install the docker-credential-pass and use it with podman or is there a separate podman-credential-pass?

Concerning rootless, I have always used the `podman` command with my

[2020-11-24 21:11] QiWang19 commented on #4123
@svdHero Here's the documentation  https://github.com/containers/image/blob/master/docs/containers-auth.json.5.md#format. you can just install the docker-credential-pass and use it with podman. The credential helper `"registry.example.com": "pass"` can be configured under  `"credHelpers":` field.

Yes. Use podman without `sudo`, that's what I mean rootless.

[2020-11-24 21:12] topas-rec commented on #8471
This might be an NTFS mount permission problem. I'll check that.

[2020-11-24 21:36] rhatdan commented on #8471
If you can access a directory via non root account then can't reach it via a podman container with it volume mounted in, then I would guess it is one of two problems.
1. SELinux blocking access.  You can test this theory by disabling SELinux for the container --security-opt label=disabled.
2.  If your access to the files is based on group access, this group access will not be leaked into the conta

[2020-11-24 21:55] duckie commented on #8211
Noice, gonna give it a try

[2020-11-24 23:32] TrevorBenson commented on #8407
Great. If someone else has taken up the torch I'll leave it to them.
Otherwise I'm definitely willing to think of revisions and submit PR's for
documentation.

Thanks!

On Tue, Nov 24, 2020 at 12:36 AM Valentin Rothberg <notifications@github.com>
wrote:

[2020-11-25 00:18] riyad commented on #5386
If its of any help ... I just ran the integration tests myself. :slightly_smiling_face:

Distro: Ubuntu 20.04
Podman: 2.1.1
docker-py: [master](https://github.com/docker/docker-py/commit/432819766014ce396e7507c52246ff5c8a11cdbc)

[code]

[full log](https://github.com/containers/podman/files/5593478/pytest-integration.log)

[2020-11-25 00:30] rhatdan commented on #8070
Podman should support this now, and containers.conf has the remote flag that can default local podman to run in remote mode.

[2020-11-25 00:30] #8070 closed

[2020-11-25 00:31] rhatdan commented on #7959
Man page and troubleshooting updated.  Closing.  Reopen if I am mistaken.

[2020-11-25 00:31] #7959 closed

[2020-11-25 00:34] rhatdan commented on #8463
Running with SECCOMP disabled is less then secure.  using podman's seccomp filters, I do not believe is risky.

Setting the sysctl to allow the user of user namespace, I don't think is risky at this point, all Newer Linux have User Namespace on by default.

[2020-11-25 00:36] rhatdan commented on #5386
The interesting point would be to go into some of these to discover what is causing the failures.  Is this just features that we don't implement like docker swarm.  We know that the networking stack is someone different between Docker and Podman and we might be failing on some of these.

[2020-11-25 02:57] nlfiedler commented on #8016
May I suggest that the issue is that podman is validating the mount points on the local side, rather than on the remote side? I'm running on macOS and deploying to a Linux host, on which the mount points exist. Maybe if podman client were to not validate the paths when connecting to a remote service, then it would just work?

[2020-11-25 04:14] mheon commented on #8016
That sounds like a separate issue? This one is about emulating a Docker
behavior where folders from an OS X host are able to be mounted into
containers on the Linux VM running containers. What you're describing is
definitely separate (but definitely a bug, and I encourage you to file an
issue about it).

On Tue, Nov 24, 2020 at 9:57 PM Nathan Fiedler <notifications@github.com>
wrote:

[2020-11-25 04:56] ricardo-rod opened #8472 "Root/rootless Error: OCI runtime error: container_linux.go:349: starting container process caused "error adding seccomp rule for syscall socket: requested action matches default action of filter""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. From the documentation I follow the next steps to install/update podman

sudo dnf -y module disable container-tools
sudo dnf -y install 'dnf-command(copr)'
sudo dnf -y copr enable rhcontainerbot/container-selinux
sudo curl -L -o /etc/yum.repos.d/devel:kub

[2020-11-25 05:04] nlfiedler opened #8473 "With remote service, podman run --mount complains that path does not exist on client."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With a remote connection defined, invoke `podman run` with the `--mount` option and it complains that the source path does not exist. True, but I am using a connection to remote host, so I would expect it to understand that the path in question is on the *remote* host, not the client.

**Step

[2020-11-25 05:05] nlfiedler commented on #8016
Ah, you're right, I was seeing what I wanted to see. I've filed another issue, thanks.

[2020-11-25 05:19] ricardo-rod commented on #8472
sudo dnf update was missing.
[code]

[2020-11-25 05:22] ricardo-rod commented on #8472
It is pending to update the documentation in https://podman.io/getting-started/installation to add this command.

```sudo dnf update -y command.```

[2020-11-25 08:49] giuseppe commented on #4900
I think we have a better way to deal with the issue now, using something like `-v /dev:/dev --mount type=devpts,target=/dev/pts` so that the `/dev/pts` is mounted on top of `/dev`

[2020-11-25 08:50] giuseppe commented on #8441
yes, probably it is a good idea to allow it only for cgroups v2.  If there is any need for cgroup v1 we can always add it later

[2020-11-25 08:51] giuseppe commented on #2542
it is safer to use `podman system migrate` as containers need to be restarted as well

[2020-11-25 08:58] giuseppe commented on #7774
I am still unsure how to support it in a more generic way.  If we implement the idea I've described above, then it works only if all the podman commands are executed as part of that `podman unshare` session.  It won't be possible to use podman from another environment.

[2020-11-25 10:07] leonidas-o opened #8474 "podman generate kube - Error: no matching entries in passwd file"
/kind bug

**Description**

Running on CentOS 8 and using the defaults repo Podman Version 1.6.4 and Buildah Version 1.11.6.

I'm getting the error `ERRO[0000] no matching entries in passwd file` when trying to generate a kube output from a pod with 4 containers.

**Steps to reproduce the issue:**

1. Create a pod with 4 containers.

2. Execute `podman generate kube MY_POD_ID`

**Describe the resu

[2020-11-25 11:02] svdHero commented on #3799
I just had the same issue on Ubuntu 20.04 with Podman 2.1.1. A `podman rmi -fa` worked for me.

However, I don't fully understand. Could anybody explain to me the difference between
`podman system prune -fa` and `podman rmi -fa`?

Shouldn't they do the same thing due to the `-a` flag?

[2020-11-25 11:09] zhangguanzhang commented on #3799
seem related https://github.com/containers/podman/issues/7990 @rhatdan

[2020-11-25 11:11] Luap99 commented on #8473
Does it also happens if you use `--volume` instead?

[2020-11-25 11:26] rhatdan commented on #8472
Could you open a PR to add that?

[2020-11-25 12:28] mtrmac commented on #4123
To be a bit more explicit, the _concept_ of credential helpers is supported; but only the `credHelpers` config field is implemented, not yet the `credsStore` field.

[2020-11-25 12:43] rhatdan commented on #3799
Seems likely that we have a bug.

[2020-11-25 12:45] rhatdan commented on #8473
Podman should not be checking for the existence of the source directory on podman remote in either the --volume or the --mount command.

Care to open a PR to fix this issue?

[2020-11-25 13:01] svdHero opened #8477 "podman build produces "SHELL is not supported for OCI image format""
Hi there,

I have Dockerfiles containing the command
[code]
for setting the default shell to bash.

When I try to build images from said Dockerfiles with podman version 2.1.1, I get the error message:
"SHELL is not supported for OCI image format".

What should I do? Do I have to modify the Dockerfiles or is there another way to do this? I thought podman was a drop-in replacement for docker. Am I m

[2020-11-25 13:07] likema opened #8478 "Unable to podman build inside docker"
/kind unknown

**Description**

On Ubuntu 20.04, I built podman image by Dockerfile:

[code]

and I used it to build another image:

[code]
Inside container, it failed to build image:

[code]

In additional, `docker info`:

[code]

[2020-11-25 13:25] Cajga commented on #5306
@mheon one more reason why XDG_RUNTIME_DIR is may not been set properly is when one calls podman through a 3rd process like gitlab-runner. This is exactly what we do (using rootless podman from gitlab-runner through a custom executor) and at each call podman receives a new runtime directory (/tmp/custom-executor${RANDOMNUMBER}/run-${UID}) by default.

I do not know if you considered this in the de

[2020-11-25 14:09] rhatdan commented on #8477
You can use the --format docker flag, to support this option.  This option did not make it into the OCI specification.
Podman defaults to building OCI images.

[2020-11-25 14:11] rhatdan commented on #8477
If you use buildah bud, you would get this message.
WARN SHELL is not supported for OCI image format, [/bin/bash -c] will be ignored. Must use `docker` format

[2020-11-25 14:22] mheon commented on #5306
We'd really like for sudo and su to be handled correctly, but we really
need systemd to handle that on their end - not much we can do on the Podman
side of things.

On being removed at logout - that can be annoying for services that run
after the user logs out (or systemd services using the User directive) but
we can disable that behavior but enabling lingering.

On Wed, Nov 25, 2020, 08:26 Balazs

[2020-11-25 14:23] rhatdan commented on #8478
Could you try mounting a volume on /var/lib/containers
And see if this fixes your issue.

[2020-11-25 14:24] rhatdan commented on #8478
BTW:
Should
cd /repo
docker build -t test .
Be
cd /repo
podman build -t test .

[2020-11-25 14:29] mheon commented on #8474
Can you provide a reproducer? It seems like one of the containers is doing
something sufficiently different as to cause this.

I will also note that we are no longer actively backporting fixes to 1.6.4,
which is now only receiving critical bug fixes and security issues. CentOS
will continue to roll forward to the latest Podman versions (8.3 will have
Podman 2.0) so I strongly encourage you to test

[2020-11-25 14:34] likema commented on #8478
How to mount it manually?

[2020-11-25 14:37] likema commented on #8478
I forgot to describe that

[code]

[2020-11-25 14:40] rhatdan commented on #5306
Best you or we can do is handle this on reboot by using tmpfiles.d, if /tmp is not on a tmpfs.
Podman has no concept of a user logging in or out, and really should not grow this ability.

[2020-11-25 14:43] rhatdan commented on #8478
mkdir containers
docker run -v $PWD/containers:/var/lib/containers ...

[2020-11-25 14:49] yangm97 commented on #8253
[Done](https://github.com/containers/podman/wiki/Read-only-host-root-filesystem).

[2020-11-25 14:49] #8253 closed

[2020-11-25 15:29] coldbloodx opened #8480 "podman 2.0.5 cannot create cgroup in /sys/fs/cgroup/systemd/"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman 2.0.5 cannot create cgroup in /sys/fs/cgroup/systemd/

**Steps to reproduce the issue:**

1. install podman 2.0.5
bash-4.4$ podman info
host:
  arch: amd64
  buildahVersion: 1.15.1
  cgroupVersion: v1
  conmon:
    package: conmon-2.0.17-1.module+el8.2.1+6771+3533eb4c.x86_64
    path: /

[2020-11-25 16:21] Cajga commented on #5306
@rhatdan IMO that sounds good but only if podman does not rely on the XDG_RUNTIME_DIR variable. As we can see, that is what is causing most of the issues for users in case of rootless podman. It is not set for sudo -i, su -l and also problematic when podman started by systemd and or another process like gitlab-runner (which sets this environment variable to a random directory for each job).
In cas

[2020-11-25 16:49] rhatdan commented on #5306
Well if the content is always placed on /tmp, then I believe we can setup a tmpfiles.d to look for the directory podman anywhere under /tmp and remove content.  We just need to have a path that the tmpfiles.d file would look for.

[2020-11-25 16:53] mheon commented on #8480
I wonder if it's switched to using systemd cgroups. Can you do a `podman inspect` of the container and pastebin the result?

[2020-11-25 17:08] leonidas-o commented on #8474
@mheon thanks for the quick reply. Ohh okay, I tried to generate the yaml output without my own container (which leaves the infra container, a postgres latest container and a redis latest container inside the pod) and it worked.

So it seems it could be a miss-created Image/Container. It's a multi stage build. I guess, the issue is related to the created user under `Run Image`? Do I need some extr

[2020-11-25 17:24] polygamma opened #8482 "`default_sysctls` setting in `containers.conf` not compatible with `podman run network='host'`"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Arch Linux started to include the `containers.conf` as it is which broke `podman run network='host'`.

See: https://bugs.archlinux.org/task/68742

[code]
of the `containers.conf` leads to a failing execution of `podman run` with `network='host'`:
[code]

Removing of `"net.ipv4.ping_group_rang

[2020-11-25 17:35] rhatdan commented on #8482
We need to figure out why this is not supported on ArchLinux?

Is this a runc issue?

Error: sysctl "net.ipv4.ping_group_range" is not allowed in the hosts network namespace: OCI runtime error

@giuseppe WDYT?

[2020-11-25 17:35] rhatdan commented on #8482
@polygamma Any chance you could try this with crun?

Perhaps we should ignore these default settings, when the user sets the --net=host.

[2020-11-25 17:50] rhatdan commented on #8482
What version of podman is this happening with?

The code looks like this use case is supposed to be handled, https://github.com/containers/podman/blob/master/pkg/specgen/generate/security.go#L196

This is working fine for me in podman-2.2.0-0.4.rc1.fc33.x86_64

[2020-11-25 17:52] rhatdan commented on #8482
BTW in your homedir, if you setup /etc/containers/containers.conf or $HOME/.config/containers/containers.conf

with

[containers]
default_sysctls = [
]

It should remove the sysctl.

[2020-11-25 17:59] nathwill commented on #8472
we are encountering the same error on CentOS 7 with the kubic stable repo:

[code]

[code]

is the repo missing a needed package update for a podman dependency?

[2020-11-25 18:01] polygamma commented on #8482
I was using 2.1.1, but I just built 2.2.2-rc2 from source and that indeed fixes the problem

[2020-11-25 18:07] dvzrv commented on #8482
Hi! I did some of the packaging on the podman update when we introduced a containers-common package yesterday.

So, IIUC this can either be fixed by removing the currently present entry for `default_sysctl` during packaging or wait until 2.2.0 is released?
Or does the entry have to be removed anyways? If so I can open a pull request to remove it [here](https://github.com/containers/common/blob/mas

[2020-11-25 18:11] nathwill commented on #8472
actually i believe this is covered in https://github.com/containers/podman/issues/8430; apparently the runc in the kubic repo is incompatible

[2020-11-25 18:12] cfelder opened #8483 "Support dnsname plugin in networks created with internal flag (support isDefaultGateway)"
Currently dnsname plugins don't work when using ``internal``

``podman network create --internal``

because the cni network is configured with ``"isGateway": false`` and ``"isDefaultGateway": false`` is hard coded to ``false`` in the following line

https://github.com/containers/podman/blob/e239bfa15ba7e5718b511e0f949679ba5b7037c4/libpod/network/create.go#L175

This has the following result:
1) a

[2020-11-25 18:12] cfelder commented on #8483
CC: @Luap99 and thanks for your help on irc.

[2020-11-25 18:17] Luap99 commented on #8483
I guess this would be a good candidate for a network option after https://github.com/containers/podman/pull/8457 is merged

[2020-11-25 18:22] Luap99 commented on #8483
Maybe something like `podman network create --opt defaultGateway=false`

[2020-11-25 18:26] dvzrv commented on #8482
Looking at the default file, I also see that a few `default_capabilities` are defined. These also cause issues though ([FS#68743](https://bugs.archlinux.org/task/68743)).

Checking on a fedora32 host I see that both `default_sysctls` and `default_capabilities` are commented by default. I can certainly also do that during packaging, but to serve as a sane default, I think the file should probably j

[2020-11-25 18:30] nathwill commented on #8430
/cc @lsm5 re: kubic-stable runc package

[2020-11-25 18:37] dvzrv commented on #8482
@rhatdan this is related to https://github.com/containers/common/issues/364

[2020-11-25 18:53] rhatdan commented on #8482
The issue is a mismatch between the version of podman and containers.conf, I believe.  We can comment this out upstream, and switch the defaults in the code if you want.  My goal is to push forward the new defaults, but allow distributions to choose their defaults.  I believe the new version is the most secure.  BUT it has to have an updated version of Podman to work correctly.

[2020-11-25 18:55] rhatdan commented on #8482
In Fedora 33 we have the new containers.conf. We did not update fedora 32 with it, yet.  My preference would be to not update Fedora 32.

We are planning on releasing 2.2.0 early next week.  rc2 seems to be working well.

[2020-11-25 19:01] rhatdan commented on #7888
@ashley-cui Now that containers.conf is updated, can you complete this feature?

[2020-11-25 19:07] rhatdan commented on #7888
@ashley-cui https://github.com/containers/common/releases/tag/v0.30.0 is ready to vendor into Podman.

[2020-11-25 19:13] rhatdan commented on #8472
Yes please update to latest runc or move to crun.

[2020-11-25 19:13] #8472 closed

[2020-11-25 19:14] ashley-cui commented on #7888
@rhatdan If it's just wiring in containers.conf, then I can try to knock it out this afternoon

[2020-11-25 19:15] rhatdan commented on #8462
@baude PTAL

[2020-11-25 19:17] rhatdan commented on #6945
Since we got no response, I am going to close this issue, Reopen if more information is available.

[2020-11-25 19:17] #6945 closed

[2020-11-25 19:19] rhatdan commented on #7370
@vrothberg Is working on podman-remote cp now, so maybe he can look at this?

[2020-11-25 19:24] dvzrv commented on #8482
I understand. Maybe it would be most straight forward to provide the internal defaults (commented) in the default containers.conf.

Are there any operating system specific things to take care of to accommodate e.g. for the dropped capabilities with podman 2.2.0 or beyond? Would be great to sync up on that.

I'll keep the defaults commented until podman 2.2.0 is out.

[2020-11-25 19:27] XenoBIT78 opened #8484 "High CPU Usage"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
/kind bug

**Description**
Running Fedoraserver 33

I only run one container and the container is working fine..  container CPU usages says 2-3%
but podman CPU usage says above 80% often around 100%.   Even if i stop the container the CPU Usage stays high.

Podman installe

[2020-11-25 19:38] Luap99 commented on #8484
Can you provide more details? What commands are you running? How often does it happen? Do you use the podman service?

[2020-11-25 19:44] XenoBIT78 commented on #8484
happens all the time..   5 mins after reboot cpu usage just starts climbing...
No i don't run the systemd service..  i start it from podman manager in Cockpit

podman run -d \
  --name=sonarr \
  -e PUID=983 \
  -e PGID=983 \
  -e TZ=Europe/Copenhagen \
  -e UMASK_SET=022 \
  -p 8989:8989 \
  -v /srv/.config/sonarr:/config \
  -v /srv/storage/tv:/tv \
  -v /srv/.config/mounts/download-cache/sonarr

[2020-11-25 19:52] Luap99 commented on #8484
If you are using cockpit than you use the podman service. I think this a dup of #8050. A new version which should include the fix is planned to be released next week.

[2020-11-25 19:52] #8484 closed

[2020-11-25 21:14] saper commented on #5331
Has podman 1.8.0 added support to wildcard SSL certificates? With 1.4.2 I get similar wildcard error:

[code]

[2020-11-25 21:18] topas-rec commented on #8471
Seems to be an "NTFS fstab root" permission problem - I don't want to follow it because there is a general problem with it before that one comes in:

So back to article [Running rootless Podman as a non-root user | Enable Sysadmin](https://www.redhat.com/sysadmin/rootless-podman-makes-sense): After owning the volume by a container user (postgres in that case) and getting the directory to be owned

[2020-11-25 21:25] topas-rec commented on #8471
Thanks for that.
1. I don't use SELinux but AppAramour.
2. I look into this to understand a bit more about it and come back to that if there is no simpler solution

[2020-11-25 21:43] riyad commented on #5386
hmm ... running the tests against Podman master there seem to be a few regressions (118 passing for Podman 2.1.1, 108 passing for Podman 2.2.0-dev)

[code]
[full log](https://github.com/containers/podman/files/5599356/pytest-integration-master.log)

Diffing the tests against Podman 2.1.1(-) against those of Podman master(+) we get roughly this:
[code]

[2020-11-25 21:59] topas-rec commented on #8471
As mentioned in the last comment I'm able to use the mounted volume in a rootless container by the non-root user `www-data` inside the container. (BTW why? That volume has `root:root` permission inside the container)
I created a file in that volume. Also here the files created by a non-root user inside the rootless container remain without write permission to the host user. (Tough deletion and ren

[2020-11-26 00:39] riyad commented on #5386
@rhatdan here's one example of what you've been asking for. :wink:  It took me a while to dig though, because I'm not familiar with any of the code bases (yet). :sweat_smile:

I tried to investigate one of the regressions in the `tests/integration/api_container_test.py` and came across the [`CreateContainerTest.test_group_id_ints`](https://github.com/docker/docker-py/blob/master/tests/integration/

[2020-11-26 01:54] ricardo-rod commented on #8472
Ok , I will do the PR as you ccan see the dnf update fix the problem and it is compatible with centos 8, I will be testing for ccentos 7 to check if the sudo dnf update fix the problem too after that I will do the PR for both operatvive system.

[2020-11-26 02:37] ricardo-rod commented on #8472
Centos 7 is not compatible with podman at all, it will take more time to troubleshoot this, but the kernel is too old for me now.
I will be doing the Pull Request for centos8.

[2020-11-26 04:11] coldbloodx commented on #8480
Here is the result, please check it.

bash-4.4$ podman run -d centos sleep 20000
3bc14872777de686061f88f78fe8329d6ac09f998ba5765c2df9fea5c4a13314
bash-4.4$ podman inspect 3bc
[
    {
        "Id": "3bc14872777de686061f88f78fe8329d6ac09f998ba5765c2df9fea5c4a13314",
        "Created": "2020-11-25T23:10:25.170685706-05:00",
        "Path": "sleep",
        "Args": [
            "20000"
        ],

[2020-11-26 07:05] ericzolf commented on #8385
I can open a separate issue but: is there somewhere a documentation of the network plugins? I noticed that tuning was missing but I always thought it was something specific to the default network.

[2020-11-26 07:44] vrothberg commented on #7370
Good timing. I am currently rewiring the entire copy code. I will keep this in mind so that we can easily add support for container-to-container copy.

[2020-11-26 07:59] PavelSosin-320 commented on #8462
I tested the following use-case using analogy with docker:
podman pod create --name nginx3 --publish 8080:80
podman run -dt --pod nginx3 --health-cmd='curl localhost:80' --health-interval=5s --health-start-period=10s nginx;latest
podman ps
CONTAINER ID  IMAGE                           COMMAND               CREATED        STATUS            PORTS                 NAMES
17cfa82ffcfd  docker.io/library

[2020-11-26 09:09] giuseppe commented on #8482
this is a correct error from the OCI runtime.  Podman should not set the `net.*` sysctls when using the host network namespace.

I think the commit that fixed it in Podman is: 0d70df119539d818224b0d014602aaad2bd1b95e

[2020-11-26 10:23] djmattyg007 commented on #8466
I don't have the know-how to make this happen sorry.

I'm not sure if it's a requirement to insert it into `/etc/hosts` (I'm not familiar enough with how all the networking works). I just know it's supposed to point to the container's gateway IP address (which is supposed to be the host). For the default bridge network created by podman in my installation, this would be `10.88.0.1`.

[2020-11-26 10:26] Luap99 commented on #8385
Networking is handled by cni. Documentation is available here: https://www.cni.dev/docs/

[2020-11-26 12:14] addes6 commented on #8430
@aleks-mariusz The only difference between containers-common-1.2.0-3.el7.x86_64.rpm andcontainers-common-1.2.0-9.el7.x86_64.rpm was some changes in the file containers.conf (difference posted above). I have no copy of the original RPM file and all mirrors have the new version. I will retest with a more recent runc.

[2020-11-26 12:44] ypu opened #8491 "podman network can not rm network created with --macvlan"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman network can not remove network created with --macvlan as the conflist file is not include a bridge. It will report:

**Steps to reproduce the issue:**

1. Use podman network to create a network conflist file
[code]

2. Try to remove it with podman network rm
[code]

**Describe the resu

[2020-11-26 13:20] Saroufim commented on #8396
Hello. Sorry for the delay, I ran into a few snafus that I had to address before being able to interact with podman again. In any case, the error yielded would be:
`Error: unable to start container "370879258ccd4e823ccec806fc3257c9339882fc24dbac99fdd047c3824b080e": sd-bus call: Permission denied: OCI runtime permission denied error`

Not only that but when mounting cgroups v2 (whether on boot or a

[2020-11-26 13:57] Luap99 commented on #8471
I think you are looking for the `--userns keep-id` option for podman run/create

[2020-11-26 14:56] giuseppe commented on #8396
it looks like systemd is not available or it is too old.

Can you run something like `unshare -r systemd-run --scope --user echo hi`?

[2020-11-26 15:38] #8473 closed

[2020-11-26 15:58] aleks-mariusz commented on #8430
/cc @lsm5 re: kubic-stable runc package

[2020-11-26 16:11] Saroufim commented on #8396
Output:

`Failed to create bus connection: No such file or directory`

systemd version:
[code]

[2020-11-26 16:47] ctron opened #8492 "Missing `runc` dependency on Ubuntu"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following the installation instructions for Ubuntu fail to create a working installation.

**Steps to reproduce the issue:**

1. Follow installation instructions (`apt install podman`)

2. Run `podman ps`

3.

**Describe the results you received:**

[code]

**Describe the results you expected

[2020-11-26 17:03] Luap99 commented on #8492
If you installed from the ubuntu repos you should report this there.

[2020-11-26 17:52] sjanssen15 commented on #6033
Link for WIndows is still broken on https://podman.io/getting-started/installation

[2020-11-26 19:24] topas-rec commented on #8471
This issue is mentioned [here](https://www.jujens.eu/posts/en/2017/Jul/02/docker-userns-remap/), with the only difference that docker is used.

Can be solved by mapping the non-root user inside container to the user who wants to use the files on host by using `--uidmap`.
(Knowing issue https://github.com/containers/podman/issues/6123 saves hours)

[code]

[2020-11-26 19:52] topas-rec commented on #8471
The NTFS drive can be written by non-root user in rootless container when mounted inside my home folder instead of `/mnt`.
I'll move to mounting that drive in my home folder - then giving access to the other users on the system using `bindfs`.

[2020-11-26 22:19] riyad commented on #5386
Another regression is the [`ListContainersTest::test_list_containers`](https://github.com/docker/docker-py/tree/master/tests/integration/api_container_test.py) test.

When listing containers (i.e. `GET /v1.40/containers/json?all=1`) the `"Image"` field has values like _"docker.io/library/sha256:be4e4bea2c2e15b403bb321562e78ea84b501fb41497472e91ecb41504e8a27c"_ which throws off any code that expect

[2020-11-27 00:25] andylibrian commented on #6604
I think this is completed now:

- [x] Generating systemd units for containers created with `--log-driver=journald` works as expected, logging to journald
- [x] `--log-driver` arg has been added to `play kube`

[2020-11-27 01:54] lovebaby979 opened #8495 "podman can not list crio pods"
podman can not list crio pods, crictl can list:

[2020-11-27 05:57] dc25 opened #8496 "Unable to compile podman using Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
Going by instructions found here:  https://podman.io/getting-started/installation.html

1.  Install prerequisites.  Using btrfs-progs instead of btrfs-tools (which was not available) and libprotobuf-c-dev instead of libprotobuf-c0-dev (also not available)
[co

[2020-11-27 06:34] deftdawg commented on #7301
Reading this issue I get that podman is Linux only.  All that being said, assuming `/usr/local/bin/podman` knows it compiled for Mac or Windows shouldn't it be possible to display a slightly more helpful error message?
[code]

[2020-11-27 07:44] afbjorklund commented on #7301
The error from "podman-remote" is similar on **all** platforms. But on mac/win, the binary is _renamed_ to just "podman".

Only excuse is that the output matches the one from the docker client. Maybe with a slightly less "friendly" wording ?

`Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

`Error: Get "http://d/v2.0.0/libpod../../../_ping": dial

[2020-11-27 08:09] topas-rec commented on #8471
Thanks @Luap99
That would give me

[2020-11-27 08:09] #8471 closed

[2020-11-27 08:28] ephracis commented on #3759
@mheon Could you please reopen this since it's not fixed yet?

[2020-11-27 08:33] afbjorklund commented on #8452
@TomSweeneyRedHat : This should probably be a _separate_ project (from the main podman "engine"), that would bundle the current `podman` (for linux) and `podman-remote` (host) binaries with the VM image and runner and the VM control commands. And the Mac version and the Win version are probably also two completely separate projects, when it comes to the implementation...

Previously we had the `bo

[2020-11-27 08:58] svdHero commented on #8477
Great. I did not know about the `--format` option. Thank you.
I will try to avoid non-OCI commands for new Containerfiles.

[2020-11-27 08:58] #8477 closed

[2020-11-27 09:34] vrothberg commented on #8495
You cannot list pods but you should be able to list containers via `podman ps --storage`. `crictl` can list the pods as it's directly talking via the CRI interface to CRI-O.

Pods are a higher-level concept/abstraction that is not reflected in the storage backend.

[2020-11-27 09:34] #8495 closed

[2020-11-27 10:01] ssbarnea commented on #7806
I can confirm this bug which renders macos podman client useless, as I do need and want to run containers on my remote linux host, the same way I do with docker.

Let me know if I can help as macos happens to be my main desktop (`zbr` on irc).

[2020-11-27 10:06] ssbarnea commented on #8323
[code]
And ssh has no problem connecting to the host. Yes, I am using ssh-agent as they keys are encrypted at rest.
[code]
The correct key is the first one but I really doubt that the macos podman cli is really trying to use it.

[2020-11-27 11:29] ssbarnea opened #8498 "macos: podman asks for login even when remote does not allow password authentications"
/kind bug

**Description**

It seams that podman-remote goes into interactive password prompts regardless if remote servers allow them or not, which is different from ssh implementation and also breaks automation.

Please note that this problem seams to be particular to "podman" cli on macos (which is in fact podman-remote), but when trying to reproduce the same login prompt from a linux host whil

[2020-11-27 11:40] rhatdan commented on #6033
Sorry about that, I fixed it.  I accidently marked a pre-release as a release.

[2020-11-27 11:41] ssbarnea commented on #7806
After wasting more than two hours trying to find any way to make podman from macos connect to a linux box I have to surrender. It seams that podman silently fails to load a ssh key even if given unencrypted and debug logging does not help at all:

[code]

[2020-11-27 11:55] ssbarnea opened #8499 "linux: podman-remote silently fails to use RSA ssh keys"
/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Podman failed to establish ssh remote connection.

**Describe the results you expected:**

Podman should have suceeded establishing connection.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `pod

[2020-11-27 12:22] rhatdan commented on #7838
@langdon Can we close this issue, or do you believe it is something we need to fix?

[2020-11-27 12:23] rhatdan commented on #7558
@vrothberg I take it that this has not been fixed and is still an issue?

[2020-11-27 12:27] rhatdan commented on #7479
@jwhonce Do you have time to work on this?

[2020-11-27 12:32] rhatdan commented on #5986
@nalind Any movement on this?

[2020-11-27 12:32] rhatdan commented on #6604
Ok I will close.

[2020-11-27 12:32] #6604 closed

[2020-11-27 12:38] rhatdan commented on #8496
Looks like something in your GOPATH is not setup correctly.

echo $GOPATH
/home/dwalsh/go

@giuseppe @vrothberg any idea what is wrong in his setup?

[2020-11-27 12:55] rhatdan commented on #7806
@ashley-cui @jwhonce PTAL

[2020-11-27 12:56] vrothberg commented on #8496
`warning: GOPATH set to GOROOT (/home/dave/go) has no effect`

That looks odd. Can you make sure that GOPATH and GOROOT are different.  MY GOROOT is empty.

[2020-11-27 12:58] vrothberg commented on #7558
Yes.  I don't think anybody found time to tackle it.

[2020-11-27 13:40] Hendrik-H opened #8501 "podman stop causes other commands to hang"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. create an image with a startup script that just does a sleep infinity and has a trap for SIGTERM so that you have an image that does not stop but needs to be killed

2. start a container using this image

3. invoke something like `podman stop --time 3600

[2020-11-27 13:47] dc25 commented on #8496
Thank you.   Yes, that was it.   Unsetting GOROOT took care of the problem.

[2020-11-27 13:47] #8496 closed

[2020-11-27 13:55] rhatdan commented on #8482
Since this is fixed in master and podman-2.2 I am closing this issue.

[2020-11-27 13:55] #8482 closed

[2020-11-27 14:05] lsm5 commented on #8492
Hi @ctron, like @Luap99 mentioned, bugs on packages from the official distro repos are best reported at their own bug reporting sites. OBS bugs can be reported here though. Copying @siretart, the official debian/ubuntu maintainer for reference.

Closing..

[2020-11-27 14:05] #8492 closed

[2020-11-27 14:40] siretart commented on #8492
Sounds an awful lot like https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=971253 -- please send followup, suggestions and patches to 971253 (at) bugs.debian.org, subscribe by email 971253-subscribe@bugs.debian.org

[2020-11-27 15:05] endasexton commented on #8453
I've been meaning to get into Go and would love to give this a "go".

[2020-11-27 15:25] mheon commented on #3759
Can you clarify what exactly you're seeing? From my perspective, we have two bugs here. The original, `ERRO[0000] Error adding network: failed to allocate for range 0: requested IP address 10.88.0.20 is not available in range set 10.88.0.1-10.88.255.254` - that should be fixed, at least as root. Are you still seeing it as root? If not, please open a fresh issue for whatever you're seeing.

[2020-11-27 17:53] langdon commented on #7838
It's a UX thing, and kinda minor, but I still think it's a barrier to adoption

[2020-11-27 18:26] DemiMarie opened #8502 "Include a list of well-known signing keys by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind feature

**Description*
Podman supports verifying image signatures.  However, this requires non-default configuration, with the result that most users do not enforce it.

To move to a world in which signature verification is the default, Podman should include a list of well-known signing keys and the images for whi

[2020-11-27 22:00] riyad commented on #5386
@rhatdan I've added quite some details ... maybe someone with more insight could have a look at it?
Should I open separate issues for them?

[2020-11-28 07:55] Gottox commented on #4251
Same issue for me:
[code]

[2020-11-28 08:05] Gottox opened #8503 "read: connection reset by peer"
/kind bug

I'm unable to pull certain images from dockerhub

**Steps to reproduce the issue:**

1. ```podman pull octoprint/octoprint```

2. wait

3. get the following error:
[code]

**Describe the results you received:**

After a while I get a TCP connection reset error. This is the complete output of the run:
[code]

**Describe the results you expected:**

The image should be pulled successfully

[2020-11-28 08:42] zhangguanzhang commented on #8503
This problem is your network problem, the network of your machine to the dockerhub warehouse is unstable

[2020-11-28 10:35] topas-rec opened #8504 "Rootless container doesn't start at systemstart: podman[29817]: Error: no container with name or ID <container ID> found: no such container"
/kind bug

**Description**

I'm running a rootles container and use `podman generate systemd --files --name --restart-policy=always -t 1 181f37a4d457` to generate systemd files. They are placed at `/etc/system/systemd/`.
The service does not start.
`podman[29817]: Error: no container with name or ID frosty_jang found: no such container`

When I list all containers the container is present
[code]

[2020-11-28 11:49] topas-rec commented on #8504
In https://github.com/containers/podman/issues/4678 I don't see the solution and there is no reference to where in the troubleshooting guide the solution is noted.

[2020-11-28 11:59] topas-rec commented on #8504
I incompletely posted the `journalctl` output.
I edited the title and the log output in the first comment.

It seems the first issue I'm getting is: `podman[29817]: Error: no container with name or ID frosty_jang found: no such container`

[2020-11-28 12:13] Gottox commented on #8503
After debugging a bit more, I see the same errors with docker too. But in contrast to podman, docker retries failed downloads so this error was hidden.

[2020-11-28 12:45] Luap99 commented on #8504
Rootless containers are not supposed to be run as root. You have to start them in your systemd user session.
Please see this how to install the service files as user: https://github.com/containers/podman/blob/master/docs/source/markdown/podman-generate-systemd.1.md#installation-of-generated-systemd-unit-files

[2020-11-28 14:06] rhatdan commented on #8503
Podman is supposed to retry 3 times on network failures now.  @QiWang19 Correct?

[2020-11-28 14:19] topas-rec commented on #8504
Thanks for helping me.

I found this in https://github.com/containers/podman/blob/master/docs/source/markdown/podman-generate-systemd.1.md#installation-of-generated-systemd-unit-files

I planned to run a container at boot, therefore I copied the systemd files to `/etc/systemd/system`.

Can I start rootless containers at boot without a user logged in? And how do I do that?

[2020-11-28 14:38] Luap99 commented on #8504
If you run `loginctl enable-linger <username>` and have the unit enabled it should start at boot.

[2020-11-28 14:46] mheon commented on #8504
You will also need to set User to the user who should be running the
container. Please note, though, that this is something the systemd team
doesn't really support that well, the intention there is to run the units
on the user that will launch the service.

On Sat, Nov 28, 2020, 09:38 Luap99 <notifications@github.com> wrote:

[2020-11-28 14:48] mheon commented on #8503
Suspicion: Docker retries individual failed layers, we only retry the
entire pull, which continues to consistently fail (which is itself
interesting).

On Sat, Nov 28, 2020, 09:07 Daniel J Walsh <notifications@github.com> wrote:

[2020-11-28 18:04] polygamma commented on #8005
I'd like to contribute to this issue, since I am also experiencing this behavior and would love to help fixing it.

I am able to reproduce it consistently on a Raspberry Pi 4 running Arch Linux ARM with Podman 2.2.0-rc2 which I built from source. The Raspberry Pi is currently not needed for anything important, I may fiddle around with it in any way you want me to, to help fixing this problem.

So

[2020-11-28 19:32] #8491 closed

[2020-11-28 20:05] topas-rec commented on #8504
Thanks I'll keep that in mind.

Currently I use the user systemd.
Here the start command does not return. I have to stop it. The container starts, but the status of the service is `activating`

The errors in `journalctl` are not as verbose as the ones in `/var/log/syslog` and therefore I'm posting them here:

[code]

Does someone know why the PID file cannot be opened?

[2020-11-28 20:33] topas-rec opened #8506 "Start of rootless container in systemd hangs (Can't open PID file /run/user/1000/containers/overlay-containers/[...].pid (yet?) after start: Permission denied)"
/kind bug

**Description**

Generating systemd files for rootles container. Starting them makes the systemctl call not return. Though the container is started. The service status is still activating.

**Steps to reproduce the issue:**

1. Create a rootless container (with uidmap) and generate systemd file on Debian Bubster

2. Enable and start the service

**Describe the results you received:**
St

[2020-11-28 20:34] topas-rec commented on #8504
Created #8506 for the remaining issue for better tracking.

[2020-11-28 20:34] #8504 closed

[2020-11-28 20:35] mheon commented on #8504
Ah, I forgot about that issue. Systemd is complaining about the ownership of the PID file - systemd, when run as root, wants all PID files to also be owned by root (for security reasons). This protection even applies to unit files that use the User directive, which are clearly not running as root (so you'd imagine they'd allow the user that ran the process to be the owner of the PID file?). We tal

[2020-11-28 21:27] topas-rec commented on #8506
From #8504

@mheon and thats the end of the story? I cannot do anything to it?

[2020-11-28 21:49] Luap99 commented on #8506
I don't think you run into this issue since you run your unit with systemctl --user. The error message for the problem mentioned by @mheon is `container-<id>.service: New main PID 73266 does not belong to service, and PID file is not owned by root. Refusing`

[2020-11-28 22:44] topas-rec commented on #8506
AppArmor?

[2020-11-28 23:24] topas-rec commented on #8506
I guess it has to do with uid mapping:

[code]

The process is mapped to the user namespace (my user ID start at 100000)

[code]

[2020-11-29 01:04] srcshelton opened #8507 "podman-2.2.0_rc2 no longer allows later parameters to override those prior"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

In all podman releases up until `2.1.1` (possibly `2.2.0_rc1`) It was possible to provide the same parameter multiple times, and the final instance of the parameter would that which was acted upon.

It was therefore possible to define a podman invocation with a whole series of parameters into

[2020-11-29 01:51] srcshelton commented on #8507
Looks as if the breaking change is https://github.com/containers/podman/commit/f441190d10ca3d41e01a076e4b9b3a63746888b6

[2020-11-29 07:50] topas-rec commented on #8506
The process `conmon.pid` itself is owned by my user (tobias). Just the directory `userdata` is owned by user 100000.
Is that something `podman` controls?
[code]

[2020-11-29 09:17] afbjorklund commented on #8498
Podman should _only_ fall back to asking for the password, if it can't find any of:
* identity
* SSH_AUTH_SOCK
* password

[code]

In your case you are passing an identity (CONTAINER_SSHKEY), so it should **not** ask for password.

But your log output is missing a vital line, ` public key signer enabled for identity`, after parsing it...

[2020-11-29 14:41] Luap99 commented on #8507
The reason for this change was to provide a better ux when specifying multiple cni networks.

The reason your overwriting works is because that's how the pflag library handles this. I personally don't like this behaviour. It's easy to overwrite the previous value by accident and having no clear indication why it doesn't work as they would like.

I didn't expect somebody to use this intentionally.

[2020-11-29 14:45] srcshelton commented on #8507
As a counter-argument, I'd suggest that the pattern of acting on the most recently specified option is a long-established UNIX tradition, and this _is_ a breaking change, as highlighted above.

As I said, I'm certainly not against parameter re-definition being made a warning, but _please_ don't make it an error (in any release!) as I suspect that the blast-radius of such a change would be wider th

[2020-11-29 14:47] srcshelton commented on #8507
(Is there anything else which could be done to both improve the UX around using multiple CNI networks without breaking existing CLI behaviour?)

[2020-11-29 14:52] Luap99 commented on #8506
This directory should be owned by your user, otherwise systemd can't access the pid file.

I think the use of `--userns keep-id` triggers the permission problem of the `userdata` directory. I don't know if that's a bug or intended.

[2020-11-29 15:02] topas-rec commented on #8506
The container we're talking about is started without `--userns keep-id`. As mentioned above I use a custom mapping of users by option `--uidmap`.

Let me know if there is something specific that I can provide about the container.

[2020-11-29 15:16] Luap99 commented on #8506
@giuseppe PTAL

[2020-11-29 15:43] c-goes commented on #4257
@sdyalor

I made an automation covering the blog article to install Podman on WSL using ansible-pull. Supported distros are Debian, Ubuntu and Arch Linux. Arch is untested but it should work.

https://github.com/c-goes/podman-wsl

[2020-11-29 19:34] topas-rec commented on #8506
I uncommented the `PIDFile` line in the service file since [it is recommended when forking is used but not needed](https://www.freedesktop.org/software/systemd/man/systemd.service.html#Options).

For someone who stumbles into this issue: This is a workaround for the hanging `systemctl` command since it starts the service on my machine without issues. Container is also started without issues. Stopp

[2020-11-29 20:00] ashokponkumar opened #8509 "Installing podman to use mounted docker.sock in ubi8-minimal"
I want to access the mounted docker.sock and run containers from inside a ubi8 container.

To achieve it, I have the following questions:
1. How to install podman using microdnf or any other method inside a ubi8-minimal image
2. How to make podman use the mounted docker socket and run docker commands

[2020-11-29 20:15] mheon commented on #8509
Can you clarify your setup here? Are you trying to use Podman in a container to communicate with a Docker daemon on the host system? This does not work - Podman is a separate container runtime and does not use or interact with the Docker daemon. We can pull images from Docker, but that is really the extent of our interaction.

[2020-11-29 22:52] Saroufim commented on #8396
I'm closing this issue as I've switched to Fedora IoT and everything works fine on it. It is probably an issue with how debian handles cgroups v2.

[2020-11-29 22:52] #8396 closed

[2020-11-30 00:23] mavit opened #8510 "Unknown options --subuid and --subgid"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `podman-create` and `podman-run` manpages both mention options ` --subuid` and `--subgid`, but neither exist.  Are these typos for ` --subuidname` and `--subgidname`?

**Output of `podman version`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2020-11-30 00:58] baude commented on #8509
this isnt really an upstream question.

[2020-11-30 01:08] baude commented on #8462
@rhatdan what am i even looking at? i see multiple problems being reported ... one of which is that containers in wsl may or may not be slow to start.  are you wanting me to check that?

[2020-11-30 04:33] ashokponkumar commented on #8509
Oh okay. I thought podman can emulate docker client. Thanks for the quick response.

For our [Move2Kube](https://github.com/konveyor/move2kube), to be capable of running container inside container for cnb, we needed a way to leverage the docker socket, so that it can use the underlying docker system when using [docker compose](https://github.com/konveyor/move2kube-ui/blob/master/docker-compose.yml

[2020-11-30 06:08] PavelSosin-320 commented on #8462
@baude I mean that good intention to create and start single container pod using single command **Podman run --pod new:** resulted in chaos due to incomplete design. In Docker the command **docker run** means create and start the container. after the command has been finished the container is created and started (container id is printed!) and is ready to serve the user's requests. In Podman it is

[2020-11-30 08:23] Edward5hen commented on #8388
I have a newly installed Fedora33 server now. I got the same result, and have the same log:
[code]

[2020-11-30 08:30] psakar commented on #8105
fixed as of 2.2.0.RC1

[2020-11-30 08:30] #8105 closed

[2020-11-30 09:39] PavelSosin-320 opened #8512 "Podman ps don't accept --filter pod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman ps and Podman container ls commands don't accept --filter options
 #https://github.com/containers/podman/pull/1345
**Steps to reproduce the issue:**
1. Create named Pod
2. Run image and assign it to Pod using Podman run --pod podName .... imageName command
3. Start pod podName
4. use P

[2020-11-30 10:04] filippog commented on #8128
Thanks for all the quite informative responses. It sounds like this isn't quite as easy as I thought when filing the issue. Nevertheless, if there isn't appetite to have this feature in `podman` itself then the next best thing I think would be to improve documentation and point folks to the right place/implementation for the "check mode" use case. What do you think ?

[2020-11-30 10:16] Luap99 commented on #8512
Why do you think `--filter pod=` is valid? Our documentation mentions these filters: https://github.com/containers/podman/blob/master/docs/source/markdown/podman-ps.1.md#--filter--f

[2020-11-30 10:18] Luap99 commented on #8512
Labelling this as feature request for `pod` filter support

[2020-11-30 13:39] Jakuje opened #8513 "Docker CLI incompatibility missing volume creation"
/kind bug

**Description**

I am not sure if this is intentional design decision (and it should be documented in [transfer.md](https://github.com/containers/podman/blob/master/transfer.md)) or something that should be fixed.

**Steps to reproduce the issue:**

If one runs docker with non-existent local mount:

    docker run -v /tmp/nononono:/yes -it fedora:latest /bin/bash

it is automatically cr

[2020-11-30 13:42] christian-korneck commented on #5802
just to add some infos to this (already closed) issue: CLI Plugin support in Docker is now [deprecated](https://github.com/docker/cli/blob/master/docs/deprecated.md#cli-plugins-support) and the spec (linked above) has been removed from the docs (last version is [here](https://github.com/docker/cli/blob/13ee065e954da5bf867a70520bf4d4f998848146/docs/extend/cli_plugins.md)). It looks like Docker has

[2020-11-30 14:06] mheon commented on #8513
This is a known, deliberate difference. We feel that this behavior from
Docker is more of a bug than a feature - if I want to mount, say, /tmp/test
but instead I mistype and write /tmp/tset, Docker will happily create a new
directory which was decidedly not my intention. We realize that differences
from Docker behavior like this are inconvenient, so we try to keep them as
free as possible, but we

[2020-11-30 14:16] Jakuje commented on #8513
Thanks for clarification. I had the same feeling that it more sane way doing things but I was not able to find this difference documented so there fore I wanted to check if there is a place where this should be mentioned (either above document, manual page of docker run or completely elsewhere).

[2020-11-30 14:27] rhatdan commented on #8513
Where did you look for the documentation?  Would you want this specified in the podman run/create man page?

[2020-11-30 14:31] rhatdan commented on #8466
Could someone verify what Docker does in this situation?

[2020-11-30 14:51] Jakuje commented on #8513
I used https://github.com/containers/podman/blob/master/transfer.md and manual page for `podman run`. I think either of these is fine for me. If the same "issue" is also in the `podman create`, its manual should mention it too.

I don't know if one of these is more suitable for documenting these differences, but manual pages are always at hand and up to date so they would be my preference. Unless

[2020-11-30 15:13] mheon commented on #8512
Concur, this looks like an RFE. It seems like a good filter to add, though.

[2020-11-30 15:20] nalind commented on #5986
Sorry, been focused on other bugs.

[2020-11-30 15:22] edsantiago commented on #7116
TBH no, not really. It doesn't help me, the end user, figure out what's wrong. Would it be possible to intercept this error and offer a suggestion?
* "podman-remote cannot run (or create) a tarball; you need to 'podman-remote load' it first"
* "podman-remote cannot run/create an OCI archive; please 'podman-remote pull' it first"

...or something along those lines, assuming that one of those would

[2020-11-30 15:54] catap commented on #8452
@afbjorklund docker for mac use the same trick: it started a linux via OS' virtulization library and runs all containers inside.

[2020-11-30 18:02] iinuwa opened #8516 "Image layer storage/deletion slow on Oracle Linux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When pulling images, after downloading the image layers, there is a long delay.

**Steps to reproduce the issue:**

Pull any image, or build any image.

**Describe the results you received:**
[code]

Truncated `strace` output. Note that after the "Storing signatures" step, the wait for pid 94

[2020-11-30 18:03] baude commented on #5386
i would say yes. i can look at them.  repros help alot!

[2020-11-30 18:04] medyagh commented on #5376
No, because I wouldn't know if that network was created by our tool (in this case minikube) or by the user manually. and minikube doesn't wanna accidentally delete users created networks.

we rely on a specific label we set on the network to mark them as created by minikube

[2020-11-30 18:24] rhatdan commented on #7842
Good to see progress on this one.

[2020-11-30 18:31] rhatdan commented on #8510
Opened a PR to fix.

[2020-11-30 18:43] rhatdan commented on #8509
Can you run the container with privileges?  To run podman inside of a container, it needs at least CAP_SETUID and CAP_SETGID.
Or you could do the same type of hack that Docker is doing and leak a podman.sock into the container and allow podman-remote to connect to the socket to launch containers.

[2020-11-30 18:46] rhatdan commented on #8462
@PavelSosin-320 Lets start by seeing if podman run ... and docker run can do the same thing.  We can look at pods after we make sure regular containers work.

[2020-11-30 18:52] #7116 closed

[2020-11-30 19:02] mheon commented on #8516
@mtrmac Am I correct in remembering that the next step after downloading is extracting? That seems like it could be our culprit.

[2020-11-30 19:30] #8510 closed

[2020-11-30 20:02] mheon commented on #5788
#8497 merged and added support for persistent volume claims (backed by named volumes) to `play kube`. We do not, however, have support for this in `generate kube` yet, so I'll leave this open until that can be added.

[2020-11-30 20:23] mtrmac commented on #8516
Yes, in the current implementation of pull, “copying blob” just decompresses the layer and writes it as a simple linear temporary file, ideally a nice efficient streaming operation. Only in the “commit” step (after “Storing signatures”, without a separate marker) are all the new layers actually extracted to the filesystem as individual files, incurring all the seeks and journalling filesystem comm

[2020-11-30 20:57] sampie opened #8521 "Errors when running podman container at NFS storage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. I mounted NFS share at /storage

2. I have following content at: /home/sami/.config/containers/storage.conf

[storage]
  graphroot = "/storage/sami/"
  [storage.options.overlay]
    ignore_chown_errors = "true"

3. I am running: podman run -it ubuntu /bin

[2020-11-30 21:04] mheon commented on #8521
@vrothberg PTAL

[2020-11-30 23:20] djmattyg007 commented on #8466
According to the PR I linked:

[code]

I suspect it adds just one record for the default bridge network gateway for that container. Presumably if you created another bridge network and made that the default for your container, it would work that out and use that. It's difficult for me to verify exactly how it behaves until there's been a full docker release with this feature included.

[2020-11-30 23:28] mheon commented on #8466
Based on their description, I imagine it's just grabbing the default gateway and using that IP.

[2020-11-30 23:35] djmattyg007 commented on #8466
Even that as a starting point would be great, as I suspect one of the most common use cases for this (myself included) is to use it with the globally default network with one-off containers.

[2020-12-01 00:31] srcshelton opened #8524 "podman-2.2.0_rc2 & later: '--rm' option isn't removing exited containers?"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a container I've launched as follows:

[code]

... with the expectation that, once the container terminates for any reason, it will be removed.  This allowed for a primitive form of locking when run from a cron-job: if the process completed it's container would be removed and the next

[2020-12-01 07:48] mabachel opened #8527 "Assignment to secondary linux user group differs from building to running stage"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The secondary group membership of a linux user while building the image is different to running commands in the container. In other words if you add a user to a secondary group in a Dockerfile it takes effect but only during the "building stage" of the docker image. If you later run a command

[2020-12-01 08:42] vrothberg commented on #8521
Thanks for reaching out.  The problem with NFS is that it has no idea about the user mapping (user namespaces) on our client machines.  There is some promising work going on to solve but it will take time to bubble up the stack.

Can you try running with `--userns=keep-id`?  This will create a user namespace with your current UID and GID.  That will work as the NFS server knows them.  Using `--use

[2020-12-01 08:53] vrothberg opened #8528 "vendoring non-upstream cobra"
We are currently vendoring a non-upstream version of cobra (see https://github.com/containers/podman/blob/master/go.mod#L79):
[code]

That's not sustainable and is breaking Debian packaging. I'd loved to get that fixed quickly.

@Luap99, could you take care of it?  I think you're the cobra expert and will know what to do :)

@mheon @baude FYI ... may be worth a 2.2.1 :^)

[2020-12-01 09:03] Edward5hen opened #8529 "APIv2 DOC: can't find docs for command "diff""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There's a [JIRA card](https://issues.redhat.com/browse/RUN-683) about this which has been moved to `Done`, but I can't find its DOC in this [specification](http://docs.podman.io/en/latest/_static/api.html).

[2020-12-01 09:08] Edward5hen opened #8530 "APIv2 DOC: can't find docs for command "port""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There is a [JIRA card](https://issues.redhat.com/browse/RUN-700) about this which has been marked as `Done`, but I can't find its DOC in [this specification](http://docs.podman.io/en/latest/_static/api.html
).

[2020-12-01 09:10] Edward5hen opened #8531 "APIv2 DOC: can't find docs for command "login""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There is a [JIRA card](https://issues.redhat.com/browse/RUN-695) about this which has been marked as `Done`, but I can't find its DOC in [this specification](http://docs.podman.io/en/latest/_static/api.html
).

[2020-12-01 09:11] Edward5hen opened #8532 "APIv2 DOC: can't find docs for command "logout""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There is a [JIRA card](https://issues.redhat.com/browse/RUN-696) about this which has been marked as `Done`, but I can't find its DOC in [this specification](http://docs.podman.io/en/latest/_static/api.html
).

[2020-12-01 10:35] giuseppe commented on #8182
I've proposed a patch for the kernel: https://lkml.kernel.org/lkml/20201126100839.381415-1-gscrivan@redhat.com/

[2020-12-01 10:49] Luap99 commented on #8528
@vrothberg Why is it exactly failing?

The problem is that upstream cobra is missing a feature and bug fixes that I rely on. Commit df4bf5c584f264bdefef5cb30d85c036260eff8f mentions the necessary PRs. Unfortunately there is no indication when these are merged upstream.

[2020-12-01 10:59] vrothberg commented on #8528
@Luap99, many distributions are not using the `./vendor` directory.  Each dependency is put in a dedicated source package, similar to how traditional C programs are built and distributed.

We currently vendor a fork of a non-released version of project we do not control.  That can cause all kinds of problems (e.g., we miss potential security fixes) with the immediate consequence of breaking downst

[2020-12-01 11:14] Luap99 commented on #8528
Well that only leaves the option to revert to the latest cobra release. It's doable but will hurt completion experience.

[2020-12-01 11:16] vrothberg commented on #8528
Can you elaborate on which functionality would be missing?

[2020-12-01 11:21] vrothberg commented on #8507
It's reverted now with https://github.com/containers/podman/pull/8514. Thanks for reaching out, @srcshelton !

[2020-12-01 11:21] #8507 closed

[2020-12-01 11:23] towe75 opened #8533 "Can not install podman 2.2.0~0.1+nm3 on ubuntu 20.04 from opensuse kubic repository"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I can not install podman on a fresh ubuntu 20.04 LTS system using the advertised opensuse kubic repository.

**Steps to reproduce the issue:**

1. setup ubuntu 20.04 LTS

2. follow https://podman.io/getting-started/installation

**Describe the results you received:**

Fails because of depende

[2020-12-01 11:47] Luap99 commented on #8528
It's not easy to explain for zsh and fish we are fine just small bug fixes that are missing. Bash however would have bigger problems, it would recommend every flag with and without the equal sign. Also persistent flags will be shown on subcommands which is not wrong but it will add even more flag suggestions. And it

I guess the best trade off is to add the old bash script back and keep the things

[2020-12-01 11:47] LPowlett commented on #8533
Same for 18.04. It appears containers-common is at `1.2.0~2` in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_18.04/all/, but the latest Podman 2.2.0 depends on `>= 1.2.0~3`

[code]

[2020-12-01 11:48] Luap99 commented on #8528
I will open a PR

[2020-12-01 11:59] vrothberg commented on #8528
@Luap99, would the reduced bash functionality be superior to the old script? How long would it take to get your patches upstream?

I would _love_ to keep the great completions you added. Just checking which options we have.

[2020-12-01 12:18] aojea commented on #8444
ok , so forget about the json thing, @jwhonce can you give me a way to obtain the port bindings, I can't iterate over the map and I don't know how to do it, I tried in all different formats without success

[code]

or
[code]

however, I can get the map
[code]

[2020-12-01 12:20] jdockter commented on #8533
Also seeing error on Ubuntu 18.04 locally

[code]

[2020-12-01 12:38] spali commented on #8533
exact same on Raspbian_10 repo of kubic.
Seems to be a dependency with newer version missing. Not sure, but looks like version of containers-common version comes from skopeo package where it has only 1.2.0~2 in the repo instread of 1.2.0~3.
At least in the kubic Raspbian_10 repo almost all packages got a recent update except skopeo is dated no November 20.

[2020-12-01 13:32] sampie commented on #8521
I added the parameter, the run command is now: "podman run --userns=keep-id -it ubuntu /bin/bash". However, this also gives: "Storing signatures
  Error processing tar file(exit status 1): lchown /etc/gshadow: operation not permitted
"
I also tried with centos image: "podman run --userns=keep-id -it centos /bin/bash". This gave:
"Storing signatures
  Error processing tar file(exit status 1): open

[2020-12-01 13:40] #8414 closed

[2020-12-01 13:43] aojea commented on #8444
ok, so the problem is that is not returning a map when it tries to evaluate, it tries to evaluate a slice

[code]

[code]

[2020-12-01 13:45] aojea commented on #8444
anyway, this is a big problem and blocker for docker users to migrate to podman, the `inspect` functions are heavily used for automation on CI and other systems, also, this is working totally different than in 2.1

[2020-12-01 13:47] ashokponkumar commented on #8509
Thanks @rhatdan . I want to REQUIRE as minimum permissions as possible, though would fall back to what is technically NEEDED. I will try with CAP_SETUID and CAP_SETGID permissions and see how it works.

What would be the best way to install podman/podman-remote in ubi8-minimal? I don't see it in microdnf repos.

Also, is there a way to use say podman-remote to interface with crio in a Openshift/Ku

[2020-12-01 13:52] vrothberg commented on #8521
@giuseppe, are we missing something for fuse-overlayfs in the storage.conf?

[2020-12-01 13:56] jdockter commented on #8533
@lsm5 any option to pull prior versions of podman from kubic as a workaround?

[2020-12-01 13:59] mheon commented on #8528
Can we convince Cobra to cut a new version? We know at least some of the
maintainers.

Agree this would be a good candidate for a 2.2.1.

On Tue, Dec 1, 2020, 07:00 Valentin Rothberg <notifications@github.com>
wrote:

[2020-12-01 14:01] vrothberg commented on #8528
@mheon, we need some PRs to get merged in Cobra before. We pinged Eric Paris who might help us speed things up.

[2020-12-01 14:17] #8513 closed

[2020-12-01 14:20] rhatdan commented on #8086
Is this still an issue with the current main branch?

[2020-12-01 14:20] rhatdan commented on #8079
Closing, reopen if I am mistaken.

[2020-12-01 14:20] #8079 closed

[2020-12-01 14:33] mheon commented on #8527
Initial guess is that Podman is not joining supplemental groups for that container - seems like a bug. I'll take a look after lunch.

[2020-12-01 14:34] mheon commented on #8528
I am hoping to avoid a super-quick turnaround on a 2.2.1 so we definitely have some time here. Ideally we'd be able to get this landed and ready somewhere in the next few weeks.

[2020-12-01 15:20] PinkJohnOfUs commented on #8428
Also tested it with v2.2.0 and it is still not working.
[code]

[2020-12-01 15:30] ReSearchITEng commented on #8533
Facing the same...
meanwhile: `apt install podman=2.1*`

[2020-12-01 15:34] jwhonce commented on #8529
The card is poorly written.  There exists a `podman diff` which is an alias for `podman container diff` or `podman image diff` depending on the input.  The API does not provide this style of switching, you must call a method on a given resource.

As a developer, I cannot delete cards only mark done or obsolete.

[2020-12-01 15:34] #8529 closed

[2020-12-01 15:37] jwhonce commented on #8532
The card is poorly written.  There exists a `podman logout`. The API requires you to set headers depending on which method you are calling  on a given resource.

As a developer, I cannot delete cards only mark done or obsolete.

[2020-12-01 15:37] #8532 closed

[2020-12-01 15:38] jwhonce commented on #8531
The card is poorly written.  There exists a `podman login`.  The API requires you to set headers on the method for a given resource.

As a developer, I cannot delete cards only mark done or obsolete.

[2020-12-01 15:38] #8531 closed

[2020-12-01 15:41] jwhonce commented on #8530
The card is poorly written.  There exists a `podman port` which is an alias for `podman container port`.  The API does not provide this style of changing container attributes, you must set this attribute when creating the container.

As a developer, I cannot delete cards only mark done or obsolete.

[2020-12-01 15:42] #8530 closed

[2020-12-01 15:49] jwhonce commented on #8499
@ssbarnea Are you running podman-remote on the same fedora 33 machine as the service?

`DEBU[0000] Found SSH_AUTH_SOCK "/tmp/ssh-IBRTUifY3a/agent.1012473", ssh-agent signer enabled`

should have gotten you in.

[2020-12-01 16:40] mheon commented on #8533
@lsm5 PTAL, looks like we need to bump containers/common

[2020-12-01 16:40] nyako commented on #8533
I couldn't `apt install podman=2.1*` so I switched to https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/testing/xUbuntu_20.04/ as a workaround.

[2020-12-01 16:42] edsantiago commented on #6518
Still flaking. I've filed #8536 to re-disable the offending test.

  * PR #8535
    * [12-01 10:34](https://api.cirrus-ci.com/v1/task/4981488271753216/logs/main.log)
  * PR #8487
    * [11-26 06:21](https://api.cirrus-ci.com/v1/task/5335911053393920/logs/main.log)
  * PR #8410
    * [11-20 11:26](https://api.cirrus-ci.com/v1/task/6363281021468672/logs/main.log)
  * PR #8360
    * [11-16 16:55](htt

[2020-12-01 16:51] iinuwa commented on #8516
@mtrmac, thanks for your input!

This is what I'm observing; the layer only takes 5-10 seconds to download, and then a minute to commit.

I ran `strace -T -f podman pull docker.io/fedora`, but the output file is 70M. Is there somewhere you want me to post this, or any filters you want me to use? (Sorry, I'm generally unfamiliar with `strace`)

[2020-12-01 17:15] afbjorklund commented on #8533
Installed here, maybe I got lucky ?

[code]

[code]

[2020-12-01 17:16] afbjorklund commented on #8533
You can rebuild it yourself (from sources), that was we had to do for podman 1.9.3

[2020-12-01 17:23] spali commented on #8533
The repos seems to get updated. Raspbian_10 repo has now newer versions and dependencies are consistent now.
Don't miss to `apt-get update` ;)

[2020-12-01 17:26] afbjorklund commented on #8533
The build information is still bit missing (no GitCommit or Built), should probably open a ticket about it explicitly.

[code]

It was always a bit funny when the server was 50 years younger than the client :-)

[2020-12-01 17:40] cevich opened #8538 "Cirrus-CI Build validation fails on tag-push"
/kind bug

When pushing a new tag, Cirrus-CI executes a special job.  A github "check suite" is created by Cirrus-CI, and associated with the tag in github.  However, this "check run" (a.k.a. "build" in Cirrus) is very hard to find in the github WebUI.  It's much easier to observe directly in the Cirrus-CI WebUI using a url of the form `https://cirrus-ci.com/github/containers/podman/<new tag>`.

[

[2020-12-01 17:47] cevich commented on #8538
The bug is coming from `contrib/cirrus/lib.sh`:

[code]

[2020-12-01 17:59] azmandzamiri commented on #8533
Still failing for me with similar error as https://github.com/containers/podman/issues/8533#issuecomment-736517691

[2020-12-01 18:08] jdockter commented on #8533
On a clean ubuntu 18 I can now download 2.2 but machine with past podman version still getting the following:
[code]

[2020-12-01 18:11] mheon commented on #8533
That's a separate issue, please file a bug for it.

[2020-12-01 18:17] ocafebabe opened #8539 "Podman 2.2.0 is broken on Ubuntu Focal"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Install Podman 2.2.0 using documented method/repo: https://podman.io/getting-started/installation

2. Execute: `podman info`

3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Info output...

**Additional informat

[2020-12-01 18:22] ocafebabe commented on #8533
Check the issue I opened which looks very similar: 8539

[2020-12-01 18:31] mheon commented on #8539
Can you provide the output of `podman info --log-level=debug`?

[2020-12-01 18:40] ocafebabe commented on #8539
There you go: [podman-info-debug.txt](https://github.com/containers/podman/files/5624684/podman-info-debug.txt)

[2020-12-01 18:43] rhatdan commented on #6518
@edsantiago What do you think of this patch.  I think the issue is the second errchan is setup before the first one completes.  Causing the issue you are seeing.  If we separate the channels, we should not be closing the channel before it is used.

[diff.txt](https://github.com/containers/podman/files/5624692/diff.txt)

[2020-12-01 18:47] rhatdan commented on #8509
@fatherlinux could you anwer the questions on ubi-minimal?  @ashokponkumar You could also just use ub8 regular along with dnf.  If Podman is currently available as a UBI package.

podman only works with CRI-O on the image level, not at the container level.  This has always been a goal, but over time it has become less of a goal.  You can use crictl to interact with the CRI-O socket,

[2020-12-01 18:49] rhatdan commented on #8521
Could you put the ignore_chown_errors flag in the /etc/containers/storage.conf, we might have a bug where we are ignoring the local rootless storage.conf.

Does `podman info` show the storage option?

[2020-12-01 18:51] edsantiago commented on #6518
I don't see how there could be a race here -- the code looks really sequential to me. But Go has subtleties I don't understand. I'm willing and even eager to give your approach a try for a few months, if you'd like to submit that! I will close this once your PR goes through CI and merges. Thank you!

[2020-12-01 19:05] jdockter commented on #8539
Adding mine here as well
[podman-info-debug-jpd.txt](https://github.com/containers/podman/files/5624814/podman-info-debug-jpd.txt)

[2020-12-01 19:06] rhatdan commented on #6518
I am wondering if threads would skip over the wait error channel, but you may be right.  Only way I could see this happening would be if the second err = make(chan error) could fire before the close(errChan) in the fist function happened.

[2020-12-01 19:10] mheon commented on #8539
@ocafebabe It seems like yours indicates Podman is working?

The one from @jdockter indicates that the directory we're using for the pause process is not the actual temporary directory - Podman is configured to use `/tmp/run-1000/libpod/tmp` as a temporary files directory, but it's looking for the pause process at `/tmp/podman-run-1000/libpod/pause.pid` (note the run-1000 in the first, versus podm

[2020-12-01 19:14] rhatdan commented on #7838
@umohnani8 PTAL

[2020-12-01 19:15] rhatdan commented on #8502
@jnovy @fatherlinux This seems like more of a RHEL packaging thing perhaps?  WDYT?
@mtrmac @vrothberg Thoughts?

[2020-12-01 19:16] ashokponkumar commented on #8509
Thanks @rhatdan . This helps. Have fallen back to ubi8 for now.

I did try with cricrl, but the interface seemed to be intentionally designed to support ONLY k8s deployment and not for easy spawning of containers like podman/docker.Though was able to bring up containers, it wasn't smooth and could not get all features up, so was thinking of using podman if it supported it.

[2020-12-01 19:18] DemiMarie commented on #8502
@rhatdan I was using Red Hat as an example only.  Debian, Fedora, and other vendors might also sign their images, and ideally Podman should include signing keys for all of them.  Fedora has a `distribution-gpg-keys` package, so there is some precedent for this in other software.

[2020-12-01 19:20] rhatdan commented on #8171
@edsantiago is this fixed other then LineInOuputStartsWith

[2020-12-01 19:24] edsantiago commented on #8171
Oops! Yes, this was fixed in #8165, which did indeed merge. [link to fix](https://github.com/containers/podman/pull/8165/files#diff-0ce69feae1a68eb61d4de60eb35a6fddab1d36e255b5309d3dd120d4a6298b5cL82-R89)

[2020-12-01 19:24] #8171 closed

[2020-12-01 19:27] ocafebabe commented on #8539
@mheon well, like I said in my bug report, it works with "sudo" but not as a regular user...

[2020-12-01 19:38] mheon commented on #8527
I can replicate with Podman v2.1.1, but not with v2.2.0 (just released yesterday). So I believe we fixed this one at some point. Can you grab the new v2.2.0 release and re-verify?

[2020-12-01 19:40] mheon commented on #8539
@ocafebabe The directories in that debug log you provided certainly look rootless? And aside from the added debug logs, it seems to have run exactly as expected.

[2020-12-01 19:41] mheon commented on #8539
Can you try other commands with `--log-level=debug and see if they also work?

[2020-12-01 19:52] ocafebabe commented on #8539
I tried the same command (`podman info --log-level=debug`) but this time as a non-sudoer user and the output looks very similar as the one provided by @jdockter: [podman-info-debug-2.txt](https://github.com/containers/podman/files/5625079/podman-info-debug-2.txt)

I get the same error regarding the tmp directory:
[code]

[2020-12-01 19:57] cevich commented on #8538
***Uggg...this is incredibly, deceptively, complex WRT [the podman release process doc](https://docs.google.com/document/d/1Nfq8R04XtpFEweExs31Qv6iZVnz-A5BQkOyEzXP9eb8/edit?ts=5fb82bc6)***
The obvious fixes here seems to be something similar to:

[code]

In order for the above fix to work (allow git-validation tool to receive a valid `$EPOCH_TEST_COMMIT`) a CI run ("build") must verify `$DEST_BRAN

[2020-12-01 19:59] mheon commented on #8538
Altering DEST_BRANCH seems perfectly fine for the release process. I am somewhat less open to monitoring jobs for success given the timeframe we push these releases out in - it already takes most of a day to successfully push a release out, and a full CI run could add an hour to that process.

[2020-12-01 20:03] rhatdan commented on #8502
Sure but upstream does not package Podman, downstream does.  If we had some way to maintain the list of signing keys or could commit them into Podman, then maybe we could put them in the upstream repo for the use of downstream packagers.

[2020-12-01 20:06] rhatdan commented on #8527
Reopen if he is mistaken.

[2020-12-01 20:06] #8527 closed

[2020-12-01 20:19] rhatdan commented on #8148
This is an important issue for us to fix,or at least have a simple way of cleaning this up, other then destroy all containers.

[2020-12-01 20:26] diegosasw commented on #8533
Same problem in Ubuntu 20.04 (in Windows wsl2)

I asked here and they pointed me towards a repo not being updated

https://askubuntu.com/questions/1296657/unable-to-install-podman-in-ubuntu-20-04-running-on-wsl2-in-windows-10

[2020-12-01 20:35] lsm5 commented on #8533
the containers-common issue should now be solved, please try 2.2.0~2 from https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

[2020-12-01 20:39] lsm5 commented on #8539
@ocafebabe can you try `2.2.0~2` from https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

[2020-12-01 20:48] #6244 closed

[2020-12-01 20:51] sampie commented on #8521
I copied the storage from home folder to /etc/containers/storage.conf. The error did not change when running podman.

Here is the output of "podman info":
host:
  arch: amd64
  buildahVersion: 1.15.2
  cgroupVersion: v1
  conmon:
    package: 'conmon: /usr/libexec/podman/conmon'
    path: /usr/libexec/podman/conmon
    version: 'conmon version 2.0.20, commit: unknown'
  cpus: 12
  distribution:

[2020-12-01 20:51] ocafebabe commented on #8539
I just did but I get the same error...

[2020-12-01 20:54] sampie commented on #8521
I did try rebooting and now I am getting error message with podman info:

ERRO[0000] [graphdriver] prior storage driver overlay failed: kernel does not support overlay fs: 'overlay' is not supported over nfs at "/storage/sami/overlay": backing file system is unsupported for this graph driver
Error: kernel does not support overlay fs: 'overlay' is not supported over nfs at "/storage/sami/overlay":

[2020-12-01 20:57] rhatdan commented on #8521
Do you have fuse-overlayfs installed?
Did you remove the storage.conf from your homedir?

[2020-12-01 20:59] rhatdan commented on #6192
@debarshiray What do you think if we only give this information out in --privileged mode? Or have a config flag and containers.conf to say whether we reveal it.

Some engineers are raising concerns about the information leak, being a vector to attach the system.

[2020-12-01 21:03] sampie commented on #8521
I have fuse-overlayfs 1.0.0-1 package installed. I did not earlier remove storage.conf from home, I just coped it to /etc/containers.

But now I tried removing the file from home and then "podman info" started to work and gave:

host:
  arch: amd64
  buildahVersion: 1.15.2
  cgroupVersion: v1
  conmon:
    package: 'conmon: /usr/libexec/podman/conmon'
    path: /usr/libexec/podman/conmon
    versi

[2020-12-01 21:09] #6518 closed

[2020-12-01 21:26] rhatdan commented on #8509
Well You can use podman to create containers and you can use CRI-O/crictl.  But using them together on the same host is problematic.  Currently Kubernetes likes to control all containers running on the system, and will do stuff like remove images and containers that it does not know about or does not feel it needs.

Running Podman within a container or on the host should be possible,

[2020-12-01 21:28] baude commented on #7387
shall we merge?

[2020-12-01 21:31] rhatdan commented on #8521
This is what I am seeing with podman-2.2 on Fedora 33.
[code]

[2020-12-01 21:36] rhatdan commented on #7387
We need a PR to merge.  But yes we should fix this problem.

[2020-12-01 22:16] riyad opened #8544 "APIv2: running containers fails when "NetworkMode" is "default" (which is the default value docker-py uses)"
/kind bug

**Description**

Trying to find regressions from Podman 2.1.1 by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regressions in the [`CreateContainerTest.test_group_id_ints`](https://github.com/docker/docker-py/blob/master/tests/integration/api_container_test.py#L221) test.

A container is incidentally created with `"

[2020-12-01 22:39] c-goes opened #8545 "Rootless: Podman can't start systemd container on Ubuntu 20.04"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman isn't able to start a container with systemd rootless.

**Steps to reproduce the issue:**

1. podman run -it docker.io/geerlingguy/docker-ubuntu2004-ansible

**Describe the results you received:**

[code]

**Describe the results you expected:**

Normal systemd output with green text. N

[2020-12-01 22:47] mheon commented on #8545
Did this work on previous Podman versions? Can you include the output of `podman inspect` on the container?

[2020-12-01 22:47] mheon commented on #8545
And finally, does it work if you use `--systemd=always`?

[2020-12-01 22:58] TomSweeneyRedHat opened #8546 "RFE: Remove libpod.conf from Podman v3.0"
As of v2.0 of Podman, the libpod.conf file is only read if there is not a containers.conf file in the environment.  Having this file in the environment may cause confusion and it should be removed.

During the December 2020 Podman Community Meeting, it was suggested that it could be removed in Podman v3.0.  The removal is probably relatively easy, the harder part will be the documentation and noti

[2020-12-01 23:02] allurefx commented on #8533
After the containers-common update, podman installs, but I'm getting this error (WSL2):

[sekhar@AURORA ~]$ podman ps
error creating temporary file: No such file or directory
ERRO[0000] invalid internal status, try resetting the pause process with "podman system migrate": error setting up the process: open /tmp/podman-run-1000/libpod/pause.pid: no such file or directory
[sekhar@AURORA ~]$ podman s

[2020-12-01 23:03] riyad opened #8547 "Wrong image tag is used when creating a container from an image with multiple tags"
/kind bug

**Description**

Trying to find regressions from Podman 2.1.1 by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a regressions in the [`ListContainersTest.test_list_containers`](https://github.com/docker/docker-py/blob/master/tests/integration/api_container_test.py#L25) test.

When listing containers (i.e. `GET /v1.40/c

[2020-12-01 23:10] TomSweeneyRedHat opened #8548 "RFE: Provide a containers.conf.d option like registries.conf.d"
In the December 2020 Podman Community Meeting, Neal Gompa (@Conan-Kudo) asked if we could provide containers.conf.d like we have provided registries.conf.d.  During the meeting today that was thought to be a good idea and a possible deliverable.

Adding this issue as a reminder, it might better be logged against containers/common.

[2020-12-01 23:13] mheon commented on #8533
That's #8539

[2020-12-01 23:48] c-goes commented on #8545
I haven't tested this yet. Will try tomorrow.

Yes:

[code]

[2020-12-01 23:54] jwhonce commented on #8323
@FreedomBen I added https://github.com/containers/podman/issues/8499#issuecomment-736639134 Could that be related here as well?

[2020-12-02 00:03] FreedomBen commented on #8323
@jwhonce Interesting, it could be related.  When I tried `podman-remote` without the key in my SSH agent I was prompted me for my passphrase, but it then after entering the passphrase it failed to authenticate in the same way.  I can try some of these things a bit later, tomorrow for sure.

[2020-12-02 00:04] zgoda commented on #8533
IDK if it's been fixed...

[code]

[2020-12-02 00:14] allurefx commented on #8539
Thanks! Creating a symlink from /tmp/run-1000 to /tmp/podman-run-1000 fixed the problem for me, but clearly this is a kludge...is there something we need to do our side for a permanent fix or will this be fixed in the next podman update?

[2020-12-02 00:15] mheon commented on #8539
This is definitely a bug on our end and we'll see about getting it fixed in
a 2.2.1 soon.

On Tue, Dec 1, 2020, 19:14 Sekhar Ravinutala <notifications@github.com>
wrote:

[2020-12-02 00:16] azmandzamiri commented on #8539
I am seeing the same issue but with a different file name . Is there a fix available ?

[code]

[2020-12-02 00:43] lsm5 commented on #8533
I suspect it's a mirror issue. Maybe retry in sometime?

[2020-12-02 01:13] zhangguanzhang commented on #8444
@jwhonce PTAL

[2020-12-02 03:32] jdockter commented on #8533
Now I'm seeing this error in our builds with Ubuntu 18.  It was passing just 3 hours earlier today.

[code]

[2020-12-02 03:45] jdockter commented on #8539
Now I'm seeing this error in our builds with Ubuntu 18.  It was passing just 3 hours earlier today.

[code]

[2020-12-02 04:09] asottile commented on #8086
the `--rm` issue appears to be fixed, the deadlock is not:

[code]

[code]

[code]

I'm also still seeing the "Error forwarding signal 18" issue:

[code]

[code]

[2020-12-02 05:19] ashokponkumar commented on #8509
Sure. Will try to use podman to create container within container using the CAP_ permissions.

[2020-12-02 05:55] afbjorklund commented on #8539
Seems to be some kind of residue after: 3daef2e82638a7bdae5037d4fc0d8918a57368e3

[code]

`DEBU[0000] Using tmp dir /tmp/run-1001/libpod/tmp`

`Error: error setting up the process: open /tmp/podman-run-1001/libpod/pause.pid: no such file or directory`

[2020-12-02 06:01] sampie commented on #8521
These are my outputs for those commands on Ubuntu 20.10 having podman version 2.0.6+dfsg1-1ubuntu1

$ grep ignore_chown_errors /etc/containers/storage.conf
    ignore_chown_errors = "true"
$ podman info | grep -i ignor

[2020-12-02 06:59] ocafebabe commented on #8539
Thanks to @afbjorklund comment, I was able to found another workaround:
[code]
In my case, **XDG_RUNTIME_DIR** isn't set by pam systemd because I'm using "sudo" and apparently this isn't supported yet.

[2020-12-02 08:47] vrothberg commented on #6050
Since https://github.com/containers/podman/pull/8126 has merged, we can close.  I am currently working on refactoring the backend so that `podman-{remote}-cp` and the docker and libpod endpoint share all code.

[2020-12-02 08:47] #6050 closed

[2020-12-02 08:48] vrothberg commented on #8528
Debian found a workaround by patching out the offending cobra calls.  Let's see if others hit the same issue.

[2020-12-02 08:50] towe75 commented on #8533
@lsm5 i can confirm that it is fixed. Thank you!

[2020-12-02 09:17] afbjorklund commented on #8539
That explains why it was working on my Ubuntu 20.04 desktop (with systemd)

[2020-12-02 09:38] Luap99 commented on #5376
Fixed in #8505

[2020-12-02 09:38] #5376 closed

[2020-12-02 09:39] zhangguanzhang commented on #8533
/close

[2020-12-02 09:39] #8533 closed

[2020-12-02 09:45] fdcds commented on #7186
I confirm: The error message was gone for me as well after `podman system reset`.

[2020-12-02 10:03] abitrolly commented on #6050
@vrothberg could that fix the issue https://github.com/buildpacks/pack/issues/966 with `pack`?

[2020-12-02 10:07] vrothberg commented on #6050
@abitrolly, I do not see why the upper issue is failing. If it's only failing because the archive endpoint was missing, then it should be fixed.

[2020-12-02 10:15] riyad commented on #5386
FYI: I've created separate issues for the two regressions I've found.

[2020-12-02 11:30] debarshiray commented on #6192
Toolbox already uses `--privileged`, so that's fine.  Any other flag that we can specify as a command-line argument is also fine.

[2020-12-02 12:00] mtrmac commented on #8502
IMHO it would be rather irresponsible to start distributing public keys without understanding, accepting and “operationalizing” the full responsibility that implicitly takes on, i.e. the need to be able to deal with changes and revocations (and, in the worst case, tradermark/project ownership disputes, in a possible future world with fractured DNS).

It’s easy to accept 2-3 PRs this month to add s

[2020-12-02 13:10] pschiffe commented on #8454
Resolved via #8457

[2020-12-02 13:10] #8454 closed

[2020-12-02 13:57] rhatdan commented on #8545
If you stop the container and recreated it without --systemd=always, does it work now?

[2020-12-02 13:59] rhatdan commented on #8545
This is working fine for me on F33 with podman 2.2.

[2020-12-02 14:17] mheon commented on #8545
I would like the output of `podman inspect` without `systemd=always` to check if we're autodetecting systemd correctly - I checked the image and it does directly invoke `/usr/libexec/systemd` so we should be (and Dan's findings seem to confirm that).

[2020-12-02 14:25] jdockter commented on #8539
So what is the best workaround at the moment?  Or is 2.2.1 when we see this fixed?

[2020-12-02 14:34] mheon commented on #8539
For the moment, symlink `/tmp/podman-run-$UID` to `/tmp/run-$UID` (replacing $UID with the UID of the user running Podman).

I think we're probably just missing an MkdirAll somewhere to ensure that directory exists on reboot.

[2020-12-02 14:34] adelton commented on #8539
For our GitHub Action and Travis CI, the symlink approach was good enough as workaround: https://github.com/freeipa/freeipa-container/commit/de1738252dafc01b4400276eb85b6af70134059c

[2020-12-02 14:49] angelCzar opened #8554 "SSH agent socket mount support while building images"
/kind feature

**Description**
I have some dockerfiles where one of the steps requires to download a private git repository. I have been able to build the image using buildkit, by using some of their experimental features. Specifically, I have needed "--ssh" build argument and a small modification on the RUN step downloading the private repo, to make it have the following experimental syntax: "RUN

[2020-12-02 14:52] mheon commented on #8539
Alright, I think I've figured this one out, and it's unfortunately somewhat more complicated than it seems. @rhatdan altered the way we get our default runtime path for systems not using systemd as PID1 (and without `XDG_RUNTIME_DIR`) in https://github.com/containers/podman/commit/3daef2e82638a7bdae5037d4fc0d8918a57368e3 (thanks for the pointer @afbjorklund). This only takes effect for new install

[2020-12-02 14:56] cevich opened #8555 "v2.0.5-rhel branch near-constant CI-Failures"
/kind bug

**Description**

Every day Cirrus-CI triggers a build on the v2.0.5-rhel branch and one/more Fedora tasks frequently fail:

* [11/30 example](https://cirrus-ci.com/build/5095160889475072)
* [11/29 example (passed on re-run)](https://cirrus-ci.com/build/4850328627576832)
* [11/28 example](https://cirrus-ci.com/build/5487638826188800)
* [11/27 example](https://cirrus-ci.com/build/49663831

[2020-12-02 15:10] mheon commented on #8539
I made #8556 to resolve this. Would greatly appreciate testing from anyone willing to build from source.

[2020-12-02 15:11] rhatdan commented on #8521
ls -l ~/.config/containers/storage.conf

[2020-12-02 15:15] adelton commented on #8539
For the record, I see the issue on CI's where podman is always installed afresh, so I'm not sure about the old cached data.

[2020-12-02 15:29] sampie commented on #8521
$ ls -l ~/.config/containers/storage.conf
ls: cannot access '/home/sami/.config/containers/storage.conf': No such file or directory

[2020-12-02 16:13] rzlourenco opened #8558 "Both RootfsImageName and RootfsImageId must be set if either is set"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since I upgraded to 2.2.0, I can no longer run containers from successful intermediate build steps.

**Steps to reproduce the issue:**

[code]

With `--log-level=debug`:

[code]

**Describe the results you expected:**

I expected a shell to be launched in a new container.

**Output of `podman

[2020-12-02 16:18] mheon commented on #8554
@nalind @TomSweeneyRedHat @rhatdan PTAL - looks like a new mount type similar to our Overlay mounts?

[2020-12-02 16:19] tinywrkb opened #8559 "2.2.0 regression: can't create service when /root/ is write protected"
Arch Linux, Podman 2.2.0-1.

Podman fails to create service when `/root` is immutable or read-only due to failing to create `/root/.config`.
This is a regression of 2.2.0, I have no issue with 2.1.1.
I run Podman as root, as a system daemon, for services limited to my private network.
root is not a regular user, I find it pretty much unacceptable to give write access to `/root', nothing should be

[2020-12-02 16:20] mheon commented on #8558
Can you try `podman create` instead of `podman run`? And if `podman create` works can you include a full `podman inspect` of the created container?

[2020-12-02 16:22] mheon commented on #8559
@vrothberg Any chance this is something shortnames related, trying to make a local file for that?

[2020-12-02 16:24] mheon commented on #8559
This is also why I dislike some of the error un-stuttering done by @rhatdan - I have no idea where this error is coming from, now... Can you add `--log-level=debug` to the failing command and pastebin the results, so I have a better idea of where the failure is happening?

[2020-12-02 16:35] j3mdamas commented on #8430
I am facing the same error message when trying to run a container using podman on CentOS 7, and I think @aleks-mariusz may be correct. I also have that runc version, also obtained from devel-kubic repos. I will try to build runc separately as suggested, to see if it solves my issue for now.

[2020-12-02 16:36] tinywrkb commented on #8559
@mheon here the log: https://gist.github.com/tinywrkb/f0fc4060fae3a33139cdf06efb4948fc

[2020-12-02 16:44] rzlourenco commented on #8558
Since it was related to names, I tried tagging the build with ```podman build --tag batata .```. It did not work. However, once I commented the failing command and the rest of the Dockerfile, it ran. Thus:

method | `--tag` | untagged
--- | --- | ---
intermediate step (failed build) | FAIL | FAIL
intermediate step (successful build) | FAIL | FAIL
final step | SUCCESS | FAIL

It seems that only the

[2020-12-02 16:45] jdockter commented on #8539
Symlink workaround, `ln -s /tmp/run-$( id -u ) /tmp/podman-run-$( id -u )` worked in our Travis build, thanks!

[2020-12-02 16:45] vrothberg commented on #8559
Short names shouldn't lead to such an error (i.e., there's no ".confg" file).

[2020-12-02 16:48] vrothberg commented on #8521
Can you create and configure `~/.config/containers/storage.conf` and try again? I recall a bug where rootless podman missed reading some options from the root storage.conf.

[2020-12-02 16:56] cevich commented on #8555
note to me: Decision was: tune the tests down to only running gating ("does it build" check).

[2020-12-02 17:00] Luap99 commented on #7865
Fixed by #8549

[2020-12-02 17:00] #7865 closed

[2020-12-02 17:04] afbjorklund opened #8560 "Should the ubuntu package also recommend fuse-overlayfs ?"
/kind feature

Currently the ubuntu packages uses "vfs" by default, for the rootless graph driver.

Maybe it should also recommend fuse-overlayfs, like the Fedora package does ?

### podman_2.2.0~2_amd64.deb
[code]

### podman-2.2.0-2.fc33.x86_64.rpm
[code]

[2020-12-02 17:13] angelCzar commented on #8554
In case it helps, I have used the folllowing links to try to understand what was happening inside buildkit when passing "--ssh" build argument:

Dockerfile experimental syntax: https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md
SSH agent forwarding:
- https://github.com/moby/buildkit/blob/master/cmd/buildctl/build/ssh.go
- https://github.com/moby/buildkit/tree/ma

[2020-12-02 17:16] iinuwa commented on #8516
[strace-with-forks-podman-pull.txt.gz](https://github.com/containers/podman/files/5630905/strace-with-forks-podman-pull.txt.gz)

I didn't realize GitHub supported file attachments.

[2020-12-02 17:45] c-goes commented on #8545
Yes it works, but not reproducible. It seems to randomly fail afterwards at least.

I used a Fedora image now, in a clean Ubuntu 20.04 VM.

[code]

[code]

[2020-12-02 17:55] blavoie commented on #8539
Don't know if it's related, but applying symlink workaround on a fresh install leads to another error:
[code]
Manually creating this directory solves the issue.

[2020-12-02 18:24] Forceu commented on #8539
I am having the same problem. For me a temporary workaround is

[code]

[2020-12-02 18:25] sampie commented on #8521
I copied the storage conf to home.

[code]

[code]
I am beginning to wonder if the content of my storage.conf content is wrong? What should the content be? The error message clearly says that overlay is not supported, but the config has storage.options.overlay section.

[2020-12-02 18:35] mheon commented on #8560
Are these the official Ubuntu/Debian packages, or the OBS packages? I'm assuming OBS from the 2.2.0 version?

@lsm5 PTAL

[2020-12-02 18:37] mpolanski commented on #8539
@mheon I've tested https://github.com/containers/podman/pull/8556/commits/e8cecd7ca803d68837b5c74eca2703cfafb2221b on Alpine Linux and it works fine. I'm waiting with the upgrade until it's merged to master or 2.2.1 is out: https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/15142.

[2020-12-02 18:39] mheon commented on #8545
Systemd mode is enabled, so this has to be the cgroups v1 version of our logic for mounting `/sys/fs/cgroup/systemd` into the container.

[2020-12-02 19:06] jwhonce commented on #8498
@ssbarnea I'm sorry, I have been unable to reproduce this issue.

I'm using:
- macOS Big Sur 11.0.1
- podman 2.1.1 installed via brew
- `CONTAINER_HOST=ssh://jhonce@podman-service.local:22/run/user/1000/podman/podman.sock CONTAINER_SSHKEY=~/.ssh/id podman --log-level=debug ps`

I have tried:
- id files that both are authorized and unauthorized on the server, not prompted
- Setting `CONTAINER_SSHKE

[2020-12-02 19:55] cevich commented on #8538
And potentially ***much*** longer if CI fails (on tag-push), then more again if additional commits are needed to fix the failures (requiring more tags).  I completely understand not wanting to burden a release with also having to wrestle automation :confused:

I'd like to believe that updating `DEST_BRANCH` in the process would be be enough.  If we also discount all CI testing results during relea

[2020-12-02 20:29] rhatdan commented on #8559
I believe this is in containers/storage.

[2020-12-02 20:31] rhatdan commented on #8559
I removed the /root/.config directory and then do
mount --bind -o ro /root /root
Then run the podman command you specified above and it worked for me.
 podman pod create --name=flatpaksrv --share net -p 3061:80
43487fea46eb8b8416cada0dbe8fa970755880100e0c56cf0923799c3052f04a

[2020-12-02 20:31] nathwill commented on #8430
after some futzing around, i was able to get this working on CentOS 7 with current podman without upgrading the runc from the runc distributed via kubic-stable:

[code]

[2020-12-02 20:32] rhatdan commented on #8559
vrothberg if it asked me to select an expansion it would attempt to write there.  Not sure if it would attempt to create .config.

[2020-12-02 20:35] #7337 closed

[2020-12-02 20:35] rhatdan commented on #8554
This issue should be for buildah not podman,

[2020-12-02 20:35] Nitori- commented on #8558
I see the same issue on Ubuntu, version `2.2.0~2`.

[code]

[2020-12-02 20:40] rhatdan commented on #8521
Now I think this is our bug at this point.  The issue is we are testing overlay against nfs and complaining, but I believe fuse-overlayfs should work here. Is this correct @giuseppe. We should change containers-storage to not fail on nfs if the storage was setup with a mount-program.

[2020-12-02 20:45] rhatdan commented on #8521
This looks like you don't have support for the mountsprogram.

Add
mount_program = "/usr/bin/fuse-overlayfs"
To your storage.conf

[2020-12-02 20:48] rhatdan commented on #8560
It should definitely recommend fuse-overlay.

[2020-12-02 20:50] rhatdan commented on #8545
It will be so nice when cgroups v1 disappears.

[2020-12-02 21:04] ssbarnea commented on #8498
I suspect this is highly dependent on key type and size and apparently there is no debug option to enable to make it more verbose. If it remember correctly my key is 4096 rsa but i will double check tomorrow.

[2020-12-02 21:04] sampie commented on #8521
[code]
And I have copied the same file to /etc/containers/

[code]

[code]

[code]

[2020-12-02 21:17] cevich commented on #8538
(woops, didn't mean to mention that PR here)

[2020-12-02 21:26] c-goes commented on #8560
Maybe rootless Podman should default to overlay on Ubuntu/Debian if fuse-overlay isn't installed because the kernel supports it. Currently it uses VFS.

[2020-12-02 21:41] rhatdan commented on #8521
Ok I got a replicator:
[code]
No NFS involved.  This looks like we ignore the mount_program if it is set in storage.conf in the homedir.

[2020-12-02 21:59] mheon commented on #8558
I think we need to get this fixed for 2.2.1

[2020-12-02 22:09] rhatdan commented on #8521
Found the problem, and opened a PR in containers/storage.

[2020-12-02 22:16] rhatdan commented on #8559
This is caused by shortnames.

Mount /root readonly

./bin/podman run fedora echo hello
Error: mkdir /root/.config: read-only file system

Remount readwrite, successfully run a container
Remount read/only
And I see:

./bin/podman --root /tmp/root/ --storage-driver vfs run fedora echo hello
Error: error opening "/root/.config/containers/short-name-aliases.conf.lock": read-only file system

[2020-12-02 22:19] rhatdan commented on #8559
[code]

[2020-12-02 22:23] mheon commented on #8559
Can we swap the path for root to use something in Libpod's permanent files directory, instead of `~/.config`?

[2020-12-02 22:23] mheon commented on #8559
I'd like to have this one fixed for 2.2.1

[2020-12-02 23:49] #7537 closed

[2020-12-02 23:49] #7801 closed

[2020-12-03 00:44] TristanCacqueray commented on #7801
Thanks @umohnani8!

[2020-12-03 01:31] csantanapr commented on #8417
Hi @rhatdan how do we go about setting up that design meeting?

[2020-12-03 01:33] bbros-dev commented on #5102
We're hitting errors installing on Ubuntu again, after having had issues in the past too.  We don't have time to waste on these issues.  Buold infrastructure should just work and not be broken by packages making new releases.

@lsm5 and @rhatdan: Please remove references to Ubuntu installs other than Ubuntu upstream, and work with upstream Ubuntu to get podman released more often.

We pushed a Pod

[2020-12-03 04:09] cyphar commented on #7537
Uh this isn't quite fixed because you don't have flag-parity with Docker but I can send a PR to fix that up.

[2020-12-03 04:48] paravz commented on #7801
#8408  also changed default mask from "/sys/dev" to "/sys/dev/block" - this by itself (without using mask/unmask) allows to use /dev/dri and unblock previously broken X11/GPU use cases. Thanks @umohnani8 !

[2020-12-03 06:40] afbjorklund commented on #8560
This was the OBS package for Ubuntu 20.04 LTS, sorry (there are no `podman` packages for this release, only 20.10)

The `fuse-overlayfs` package is available in the regular Ubuntu repository, only side-effect was upgrading `fuse` (v2)

[2020-12-03 07:23] trusch opened #8567 "--network-alias doesn't seem to work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to use the new (since 2.2.0) network alias feature, it doesn't seem to work.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

I would like to be able to resolve `a1` to the IP of the first container.

[2020-12-03 08:07] vrothberg commented on #8559
Apologies for not getting the `/root/.config` issue earlier.

It must be shared by Buildah, Podman and other consumers of c/image. @mtrmac, do you have a preferred new destination for the root `short-name-aliases.conf`?

[2020-12-03 08:07] devon6686 commented on #7757
how to work in centos8 podman run with cgroup-parent option?

# podman run --replace --name cg-redis -itd --cgroup-parent=/cgtest --rm -p 16379:6379 docker.io/library/redis --appendonly yes
Error: did not receive systemd slice as cgroup parent when using systemd to manage cgroups: invalid argument

➜  cgtest podman info
host:
  arch: amd64
  buildahVersion: 1.18.0
  cgroupManager: systemd
  cgroup

[2020-12-03 10:54] mtrmac commented on #8559
Hum, what’s the actual _issue_ here?
- To a first approximation, every user should have a writable home directory; why is `root` an exception?
- If `root` is not a “real user” in this case, but a service account for something SELinux-restricted or the like,
  - Why is `/root` a directory we would expect to be restricted to the service, but not any other system-wide state like `/var/lib/containers/

[2020-12-03 11:07] pmakholm opened #8568 "Network fails on rootfull containers on Debian 10 (Buster)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With Debian 10 creating a rootfull container with a bridged network do not have access to the internet. Connections from host to the container works, but packets does not get forwarded and masqueraded to the hosts upstream interface.

Publishing ports fails explicitly with an error returned b

[2020-12-03 11:11] ssbarnea commented on #8499
While I already posted this on another macos related ticket, I think it is better suited here:

I suspect this is highly dependent on key type and size and apparently there is no debug option to enable to make it more verbose.

Confirmed that my both keys are 4096 rsa, one of them is encrypted at rest (loaded into agent) and the other one is unencrypted. podman refuses to connect to the bastion ho

[2020-12-03 11:31] vrothberg commented on #8559
@rhatdan is a RO `/root` common? I tend to agree with @mtrmac but I have no feeling if should assume writeable `/root`.  At least on my Fedora system, there's much more going on in `/root`.

[2020-12-03 11:32] ssbarnea commented on #8498
@afbjorklund the logic in the mentioned code snipped seams flawed at best. An app should not prompt user for a password just because it failed to load other authentication methods. Interactive (challenge) SSH authentication should be taken care of the ssh library and should establish a real connection with the server, not to ask user about a password.

This is confusing at best, but I would even a

[2020-12-03 12:18] wagoodman commented on #8305
@vrothberg I like it --this seems like a good way to keep the podman dependencies/build process untangled from grype.

[2020-12-03 12:20] Luap99 commented on #8567
I think network alias only works for root.

@baude @mheon Correct?

[2020-12-03 12:27] vrothberg commented on #8305
Wonderful! Would you be interested in contributing the feature, @wagoodman ?

[2020-12-03 12:33] wagoodman commented on #8305
I am! I think I'll be getting a bit more time in a week or so, I'll update here with a branch or draft PR closer to then.

[2020-12-03 12:34] rzlourenco opened #8573 "Index out of range"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Index out of range when running a container that does not exist and without defining any registries for unqualified search.

**Steps to reproduce the issue:**

1. Comment `unqualified-search-registries` in `registries.conf`

2.
[code]

**Describe the results you received:**

A runtime panic.

[2020-12-03 12:35] vrothberg commented on #8305
Great, thanks! Feel free to join #podman on IRC (Freenode) if you want to reach out.

[2020-12-03 12:37] vrothberg commented on #8573
Thanks for opening the issue! I am going to tackle it directly (given I wrote the bug).

[2020-12-03 12:42] rzlourenco opened #8574 "Error unregistering shutdown handler for libpod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Some commands complain about a shutdown handler failing to unregister.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

No output on success.

**Additional information you deem important (e.g. issue happens only occasionally):**

I am unsure of when it happe

[2020-12-03 12:59] vrothberg commented on #8573
Opened https://github.com/containers/image/pull/1090 over a containers/image.

[2020-12-03 13:11] rzlourenco opened #8575 "Interaction with AppArmor"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am unsure about where to file this. For context, I run a fully up-to-date Arch Linux. I installed and configured AppArmor as [described in the Arch Wiki](https://wiki.archlinux.org/index.php/AppArmor). I have not modified any AppArmor profile. This did not happen with Docker, which I last u

[2020-12-03 14:13] sampie commented on #8521
While waiting until the fix enters distributions, is there a workaround?

[2020-12-03 14:18] mheon commented on #8567
It will eventually work on rootless, but I don't believe the rootless CNI image has been rebuilt with a new-enough version of DNSName yet.

[2020-12-03 14:26] mheon commented on #8575
So `--privileged` did not help? Can you try `--security-opt apparmor=unconfined` (note the `=` and not `-` between them).

@vrothberg @saschagrunert PTAL

[2020-12-03 14:29] tmds opened #8577 "podman docker swagger mismatches"
I'm running podman 2.1.1 and tried using it with a client generated from vendor/github.com/docker/docker/api/swagger.yaml.

These differences came up:

Command is not a string, but an array of strings.
[code]

ports don't contain required PrivatePort and Type:
[code]

mounts is not an array of type Mount, but of strings.
[code]

[2020-12-03 14:29] mheon commented on #8574
I'll take this one.

[2020-12-03 14:30] Luap99 commented on #8567
@mheon I think it's not just the dnsname version. I guess we need something similar to #8469 for aliases.

[2020-12-03 14:31] #8544 closed

[2020-12-03 14:38] rzlourenco commented on #8575
Indeed, `--privileged` does not help. With the proper argument:

[code]

[2020-12-03 14:42] rzlourenco commented on #8575
In another Arch installation, this time with cgroupsv1 because of Docker and the official podman package:

`podman version`:
[code]

`podman info --debug`:
[code]

This is what I am getting with `docker-1:19.03.14-1 containerd-1.4.3-1`:
[code]

[2020-12-03 14:47] saschagrunert commented on #8575
So disabling AppArmor (via unconfined) does not solve the issue? Makes me wonder if the AppArmor profile is really the root cause of the issue.

[2020-12-03 14:48] mheon commented on #8568
"Publishing ports fails explicitly with an error returned by iptables, but the setup of the bridged network seems to fail silently." - Any chance you can provide that error?

Also, for further details: do you have any firewall management software (e.g. firewalld, ufw) installed? Can you provide the output of `iptables -nvL` and `iptables -t nat -nvL` both with and without a Podman container runnin

[2020-12-03 14:50] mheon commented on #8568
We should be 100% compatible with nftables-backed iptables out of the box - RHEL 8 ships this configuration by default, and Podman is fully supported there - so I am leaning towards an environment issue.

[2020-12-03 14:52] rzlourenco commented on #8575
It works if I disable AppArmor globally via `aa-teardown`.

[2020-12-03 14:52] mheon commented on #8567
Ah - I think you're entirely correct.

We may want to add an error message if these are used by rootless until fixes can be made.

[2020-12-03 14:54] c-goes opened #8578 "WSL2: can't start containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After 2.2 Update no containers can be started on WSL2 using Ubuntu 20.04 distro (rootless and rootful)

**Steps to reproduce the issue:**

Rootless

1. podman run -it  busybox sh

Rootful

1. podman run -it busybox sh

**Describe the results you received:**

Rootless

[code]

Rootful

[code]

[2020-12-03 14:58] mheon commented on #8578
Dupe of https://github.com/containers/podman/issues/8539 - see that for a workaround.

[2020-12-03 14:58] #8578 closed

[2020-12-03 15:08] mheon commented on #7757
If you are not using systemd-managed slices as the cgroup parent you need to use the `cgroupfs` cgroup manager (`--cgroup-manager=cgroupfs`).

[2020-12-03 15:14] c3d opened #8579 "Support shim v2 e.g. for Kata Containers 2.0"
/kind feature

**Description**

Adding support for the shimv2 interface https://alibaba-cloud.medium.com/cri-and-shimv2-a-new-idea-for-kubernetes-integrating-container-runtime-ab8d22f5716b, useful for example for Kata Containers version 2.0 which no longer supports the earlier CRI interface (see https://github.com/kata-containers/kata-containers/issues/1133#issuecomment-731153881).

**Steps to rep

[2020-12-03 15:20] c-goes commented on #8539
The workaround with mkdir is working in WSL2. `ln` is not enough.

[2020-12-03 15:29] rhatdan commented on #8544
@riyad Now that the "default" is a valid NetworkMode in the main branch, could you verify that this fixed your issue.

[2020-12-03 15:44] tmds commented on #8577
I'm using `/containers/json` on `systemctl` `--user` `podman.socket`.

I'm using the docker swagger file. I tried using the https://storage.googleapis.com/libpod-master-releases/swagger-latest-master.yaml but the tool I'm using has an issue with it.

[2020-12-03 15:59] mheon commented on #8539
For reference, we are planning a 2.2.1 on Monday that will include the fix - wanted a few extra days to get more fixes for 2.2 issues landed.

[2020-12-03 15:59] #8539 closed

[2020-12-03 16:00] mtrmac commented on #8559
OTOH, it would be quite unsurprising to store the state in `/var/lib/containers` and treat it (in particular, share it) in the same way as `/var/lib/containers/storage`.

Still, to me `short-name-aliases.conf` is an interactive, per-user choice, and _definitely not_ a file `root` manages to be consumed by all other users (that’s for `registries.conf.d` is for). I don’t have a good idea of what tha

[2020-12-03 16:15] j3mdamas commented on #8430
I don't know exactly what does that `/etc/containers/containers.conf` do to solve the issue, but the one that @nathwill solves my issue. I didn't have to update my podman or runc, because I was already using the ones from kubic-stable, but adding that conf file solved the issue. I guess this does in line with what the OP described about overwriting that file, but I did not have that file in the fi

[2020-12-03 16:21] yan12125 commented on #8544
Thanks for the fix! I happened to get this issue from docker-py these days, and I can confirm the issue is gone with podman 70284b18c.

[2020-12-03 18:22] mheon commented on #8577
@baude @jwhonce PTAL

[2020-12-03 18:24] jwhonce commented on #8577
@tmds Which tool are you using? We've put a lot of work in the swagger  support and I am sorry to hear you are having issues.

[2020-12-03 18:48] j3mdamas commented on #5732
@giuseppe so this means that rootless podman does not work on CentOS 7 / RHEL 7, since the kernels are maximum 3.10 for all the versions. Is this correct?
That's a bit unfortunate because nowhere in the documentation, either [here](https://github.com/containers/podman/blob/master/rootless.md) or [here](https://github.com/containers/podman/blob/master/docs/tutorials/rootless_tutorial.md). In fact,

[2020-12-03 18:59] secondspass opened #8580 "Failing to run MPI Podman example on HPC cluster with subuid/subgid mapping restrictions"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

We're trying to test out Podman on one of our HPC clusters at ORNL, and we are setting up rootless Podman to do it. For security and administrative reasons, we can't set up and maintain the userid mappings in /etc/subuid and /etc/subgid. We've gotten to the point where we can get a single con

[2020-12-03 19:00] secondspass commented on #8580
Let me know if there is any additional information you need me to provide. I wrote what I thought was the most relevant information.

[2020-12-03 19:59] j3mdamas commented on #5732
I see it now on the main readme of fuse-overlayfs `Also, please note that, when using fuse-overlayfs from a user namespace (for example, when using rootless podman) a Linux Kernel > v4.18.0 is required.` [taken from here](https://github.com/containers/fuse-overlayfs#requirements)

I tried to use the VFS driver instead, and it works, but it is rooted (i.e. I can change root-only files with a non-pr

[2020-12-03 20:36] mheon commented on #5732
I believe the patches required to do this were backported to RHEL 7.7 (or 7.8? I forget which). We are definitely shipping fuse-overlay in RHEL 7, and we would not do this if it were not supported.

[2020-12-03 20:42] j3mdamas commented on #5732
Thanks for the quick reply @mheon. I have CentOS 7.6 and I was looking forward to be able to make it work there without upgrading to 7.7, which the post from Redhat really gave me hope.

Do you know how can I find the patched versions of fuse-overlayfs? The one I have right now is the following:
[code]

[2020-12-03 20:47] mtrmac opened #8583 "(podman image sign) uses an ImageSource after closing it"
After https://github.com/containers/podman/blob/70284b18cc7d4dc478c439cdda60ba64cfec060b/pkg/domain/infra/abi/images.go#L725 , all future uses of `rawSource` are invalid.

[2020-12-03 21:06] mheon commented on #5732
I believe you need the 7.7 kernel at a minimum - this required kernel backports.

[2020-12-03 21:15] chris-short commented on #8417
@rhatdan @fatherlinux Can you invite @christianh814 and I as optional to this meeting, please?

[2020-12-03 21:21] csantanapr commented on #8417
I opened an issue in opm repo to see who from that team would need to get involved to get opm working inside  a container https://github.com/operator-framework/operator-registry/issues/529

[2020-12-03 21:51] csantanapr commented on #8417
The Dockerile for the image that includes both `podman` and `opm` is here https://github.com/ibm-garage-cloud/image-operator-sdk/blob/main/Dockerfile

[2020-12-03 22:42] riyad commented on #5386
I've run the tests again and we're making progress :smile: We're now passing 21 tests more than Podman 2.1.1.

- `171 failed, 118 passed, 2 skipped, 8 xfailed, 1 warnings, 90 error in 1407.22 seconds` against 2.1.1
- `150 failed, 139 passed, 2 skipped, 7 xfailed, 1 xpassed, 1 warnings, 90 error in 1097.19 seconds` against 3.0-dev (1757c974fa3a05b0e9b783af85242b18df09d05d)

[2020-12-03 22:49] riyad commented on #8544
Awesome! Yes, it did the trick. :smiley:

[2020-12-03 23:09] jwhonce opened #8586 "[APIv2] /images/load implementation is wrong"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Endpoint should honor https://docs.docker.com/engine/api/v1.40/#operation/ImageLoad API

**Output of `podman version`:**

[code]

[2020-12-03 23:24] riyad commented on #5386
The next regression I'm looking at is [`PortTest.test_port`](https://github.com/docker/docker-py/blob/1757c974fa3a05b0e9b783af85242b18df09d05d/tests/integration/api_container_test.py#L1070). It's weird, because it's one of three tests that still fail with the _"no net configurations found in /etc/cni/net.d"_ error messages from #8544.

It tries to configure a container with 3 exposed ports and por

[2020-12-04 00:22] Lordryte opened #8588 "Issue with podman stats command since v2.2.0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

_podman stats_ command no longer works since the last update to podman v2.2.0

**Steps to reproduce the issue:**

1.  podman run -dit ubuntu

2.  podman stats

**Describe the results you received:**

podman stats
Error: unable to obtain cgroup stats: open /sys/fs/cgroup/user.slice/user-1001.s

[2020-12-04 00:51] mheon commented on #8588
@vrothberg This looks like it could be your cgroup path changes?

[2020-12-04 01:08] asottile commented on #8539
for me it's a different directory, but similar error message:

[code]

[2020-12-04 03:06] zhangguanzhang commented on #8583
@QiWang19 PTAL

[2020-12-04 03:12] zhangguanzhang commented on #8588
please show the result @Lordryte
[code]

[2020-12-04 03:20] Lordryte commented on #8588
sudo ls -l /sys/fs/cgroup/user.slice/
[code]
sudo ls -l /sys/fs/cgroup/
[code]
sudo ls -l /sys/fs/cgroup/systemd/user.slice
[code]
sudo ls -l /sys/fs/cgroup/systemd/user.slice/user-1001.slice
[code]
sudo ls -l /sys/fs/cgroup/systemd/user.slice/user-1001.slice/user.slice
[code]

[2020-12-04 08:42] giuseppe commented on #8580
can you try without the `--userns=keep-id ` option?

If you are running with a single user available you are kind of forced to run as root in the container (in theory the OCI runtime could support this case, but it is not yet)

[2020-12-04 08:52] svdHero opened #8591 "Podman build wrongly uses stale cache layer although build-arg changed and, thus, produces incorrect image"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

I am using using `podman build` to create my container images in a Jenkins CI Pipeline. In my `Containerfile` I bake the Jenkins build number into the software components that later run inside the container.

Yesterday I noticed that Podman keeps using the stale cache layers, instead of creating new container images with eve

[2020-12-04 09:01] tmds commented on #8577
@jwhonce I'm using NSwag to generate a C# client. It may be a limitation of the tool, rather than an issue with the podman swagger file. I'll cc you on the issue in the NSwag repo.

[2020-12-04 09:13] nmasse-itix commented on #6884
Hi there !

While trying to practice what was explained in [this article](https://www.redhat.com/sysadmin/privileged-flag-container-engines), I stumbled on this issue.

I'm observing this issue on podman 2.1.1, while the previous message says it has been fixed in 2.0.6.

[code]

When running a container with "--user" and "--cap-add", the capability is added to the bounding set:

[code]

But is not

[2020-12-04 09:55] giuseppe commented on #5732
any reason to stick to such an old version of RHEL?  I'd suggest switching to RHEL 8 to take advantage of the latest updates in the container tools.

If you are not able to move to RHEL 8, then you'll need at least the kernel from RHEL 7.8

[2020-12-04 10:04] zhangguanzhang commented on #8588
please show the result @Lordryte
[code]

[2020-12-04 10:55] rzlourenco opened #8592 "Invalid argument on chown"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Some programs drop privileges to `nobody:nobody` but this fails with EINVAL.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

I expected the chown call to succeed.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Pack

[2020-12-04 10:58] afbjorklund commented on #8498
I didn't _write_ the code, I was just looking at it...

https://github.com/containers/podman/blob/v2.2.0/pkg/bindings/connection.go#L185_L215

Still don't know why any of it is used though, if you are indeed providing an identity (or agent) ?

Maybe $SSH_AUTH_SOCK is misbehaving ?

Seems reasonable, and this is how `ssh` works I suppose. (`PasswordAuthentication` option)

[2020-12-04 11:36] ssbarnea commented on #8498
I would not mind removing that code myself but I am waiting for some podman core developer to comment on this as I do not want to propose an unwanted change.

[2020-12-04 11:44] afbjorklund commented on #8498
But it seems like the main difference between and Mac and Linux is the missing ssh-agent (SSH_AUTH_SOCK) ?

Here it has either 2 (identity+agent) or 1 (agent only) auth method, so it never falls back to asking for a password...

[2020-12-04 11:50] afbjorklund commented on #8498
It is possible to change the code to use PasswordCallback (when needed) instead of Password (up front).

You might still want to have an option to enable/disable, but at least wouldn't ask if not supported by server.

[2020-12-04 13:05] tmds commented on #8577
@jwhonce this is what I need to change to the swagger file to make NSwag happy:
[code]

[2020-12-04 13:07] tmds commented on #8577
`IdResponse` is also used with the `schema` in the docker swagger file.

Note: the podman swagger has both a `IdResponse` and `IDResponse`definition.

[2020-12-04 13:31] kwiesmueller commented on #5386
Hey there,
I'm currently trying to make a project work with podman and am also getting the
`unable to upgrade to tcp, received 409` using the podman socket with docker-cli.

[code]

[2020-12-04 13:33] rhatdan commented on #8558
I agree, do you know what is causing it?

[2020-12-04 14:16] zgoda commented on #8560
Perhaps because `gvfs-fuse` package in Ubuntu 20.04 still depends on fuse2 and these two can not be installed at the same time.

[2020-12-04 14:42] rcerven opened #8594 "building image with sha id in FROM"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when building image either with docker/imagebuilder/buildah with podman
and having in FROM sha of local image ID,
build fails

**Steps to reproduce the issue:**

1. create simple Dockerfile when in FROM you will specify sha of local image ID

2. run either : buildah bud, imagebuilder, docker

[2020-12-04 14:51] mheon commented on #8558
@rhatdan No idea, haven't found time to look into this.

[2020-12-04 14:54] mheon commented on #8594
@nalind @TomSweeneyRedHat PTAL

[2020-12-04 14:58] afbjorklund commented on #8560
Apparently it is happy enough as long as `libfuse2` is installed for the library, and then `fuse3` will fulfill the `fuse` dependency

[2020-12-04 15:09] nalind commented on #8594
In this case the hex part of `sha256:...` is the image's ID and not the digest of its manifest.

I think fixing this in buildah is as easy as recognizing that form and internally stripping off the `sha256:` prefix, since it already knows how to look up images by ID.
We could probably do this in the lookup logic in the storage library to keep the behavior consistent across various tools.

I wasn't

[2020-12-04 15:31] rcerven commented on #8594
I have imagebuilder-0.0.6-1.el7eng.x86_64

but this issues seems to be problem with underlying podman,
because with underlying docker,   docker/imagebuild works

[2020-12-04 15:33] cruwe opened #8595 "podman-rootless 2.2 eats ENV variables from the packaging process"
/kind bug

**Description**

On Ubuntu 20.04, after upgrading to 2.2.0 (or freshly installing, it is a version issue), inside containers in pods created with `podman kube play`, environment variables from the packaging process (`ENV`) are missing / invsibile.

**Steps to reproduce the issue:**

1. Package with

[code]
and `podman build -t try --format=docker -f Containerfile .`

2. Create a pod wit

[2020-12-04 15:33] cruwe opened #8608 "podman-rootless 2.2 eats ENV variables from the packaging process"
/kind bug

**Description**

On Ubuntu 20.04, after upgrading to 2.2.0 (or freshly installing, it is a version issue), inside containers in pods created with `podman kube play`, environment variables from the packaging process (`ENV`) are missing / invsibile.

**Steps to reproduce the issue:**

1. Package with

[code]
and `podman build -t try --format=docker -f Containerfile .`

2. Create a pod wit

[2020-12-04 15:38] nalind commented on #8594
Ah, so you're pointing imagebuilder at podman?  That's an important detail, but it suggests that imagebuilder is correctly passing the name from the Dockerfile to the build API endpoint, so we're really just talking about podman.