[2018-04-23 16:51] mheon commented on #658
That actually can't be true. If it was the case, ps would not even get this far - it would fail to even retrieve the container. The lock issue has to be the container lock itself.

[2018-04-23 16:54] mheon commented on #658
We must be getting stuck in `syncContainer()`. This has three basic portions: update container from database, update container from runc, save container status back to database. Given what I said in the last comment, this can't be the DB lock, so I strongly suspect our reading status from runc is hanging somehow?

[2018-04-23 17:02] umohnani8 commented on #655
Looks like `podman load` cannot figure out what transport was used to create `tmp/busybox_latest` so it is trying the three we support (docker-archive, oci-archive, and dir) and then failing.
podman load works with docker save:
[code]
Most probably something with the `/tmp/busybox_latest ` cached image.

[2018-04-23 17:03] mheon commented on #658
Wait, `attach` is showing as stopped in the `ps` output, and the test container says sig-proxy... @edsantiago Is there any chance you're sending a SIGSTOP to the attach process as part of that test? We can't forward SIGSTOP, it's uncatchable, but if we got one right as we were in a critical section we will never release locks.

[2018-04-23 17:30] edsantiago opened #659 "podman pull: fails if $XDG_RUNTIME_DIR does not exist"
[ Related to #427 ]

If $XDG_RUNTIME_DIR does not exist, `podman pull` fails with an unhelpful message:
[code]
I am using `mosh` to log in; mosh creates an initial connection using `ssh`, which creates that directory, but the ssh connection is short-lived and the directory soon disappears.

[2018-04-23 17:32] mheon commented on #659
It's fine for this to be a hard failure for `podman login`, but I expect `podman pull` to just warn and continue if we can't find login credentials.

[2018-04-23 17:33] afbjorklund commented on #655
Here is the image, had to gzip it to attach it: [busybox_latest.gz](https://github.com/projectatomic/libpod/files/1939356/busybox_latest.gz)

[2018-04-23 17:38] afbjorklund commented on #655
Here is the image caching code: https://github.com/kubernetes/minikube/blob/master/pkg/minikube/machine/cache_images.go#L291

I think it is using this library to do it:
https://github.com/containers/image/blob/master/copy/copy.go#L107

[2018-04-23 17:39] mheon commented on #655
@afbjorklund Thanks, that helps a lot

[2018-04-23 17:42] afbjorklund commented on #655
Here is the entire log, with debugging enabled:

[code]

[2018-04-23 18:01] edsantiago commented on #658
@mheon is there any possibility that `podman attach` is (occasionally, somehow) stopping the container? That would explain some spurious errors I see in this particular test.

[2018-04-23 18:06] afbjorklund commented on #655
Here is the _actual_ list of containers, from the minikube cache:

[code]

[code]

All of them seem to fail silently, and then it pulls them all again...

[2018-04-23 18:34] mheon commented on #658
@edsantiago I don't think it's `podman` - the only place we send signals should be `podman kill` and `podman stop`.

[2018-04-23 20:53] mheon commented on #655
@umohnani8 Can you give this another look now that we have an image to test with?

[2018-04-23 21:03] edsantiago commented on #586
When and where should I expect to see this fixed? I'm still seeing the same behavior. Setup:
[code]
Curiously, if you `s/fedora/rhel7/` in comment 0, podman silently does nothing and exits 0. (No error message).

[2018-04-23 21:11] mheon commented on #586
The code has landed, so if it's not working, we have a new bug with the way we use buildah to commit.

[2018-04-23 21:42] whitel commented on #639
I have the same experience when I build an image locally. Very simple example at https://github.com/whitel/testing-podman/

[2018-04-23 21:50] edsantiago commented on #586
@TomSweeneyRedHat @baude can one of you perform the comment-0 test on what you believe should be a working system setup, and either reopen this issue or let me know what I've done wrong in my setup? TIA.

[2018-04-24 00:49] #537 closed

[2018-04-24 03:49] carlwgeorge opened #660 "bash completion to expand image names"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**

The `docker` command's bash completion allows a user to tab to complete images names that have already been pulled.  The `podman` command's bash completion doesn't, but I would like it to.

**Steps to reproduce the issue:**

1. `podman pull registry.fedoraproject.org/fedora`

2. `podman run -it --rm <TAB>`

**Describe t

[2018-04-24 05:18] ipmb opened #661 "Port binding not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

I'm unable to access a port bound to the host.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

A service listening on port 8000 on the host.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman ver

[2018-04-24 11:56] rhatdan commented on #586
Reopening issue to get confirmation of it working or not.

[2018-04-24 12:02] rhatdan commented on #660
I agree.  We need someone to work on improving bash completions.   If we don't get a volunteer, I can assign it to a summer intern.

[2018-04-24 14:03] ipmb commented on #661
[code]

It's using [kitchen-docker](https://github.com/test-kitchen/kitchen-docker) to spin up and I've created it as a privileged container. Here's the inspect output:

<details><summary>Here's the inspect output:</summary><p>

[code]
</p></details>

[2018-04-24 14:09] mheon commented on #661
I think you need `NetworkMode=host` to get port forwarding working inside a container, regardless of whether it's Docker or Podman (all our containter-in-container tests use net=host).

RE: AWS - @baude - can you take a look?

[2018-04-24 14:33] mtrmac commented on #639
AFAICS this is all podman.

- `Runtime.New` receives `name` as `docker-daemon:…`
- `Image.pullimage` parses the input using `alltransports.ParseImageName` and accepts it.
- `Runtime.getPullStruct` creates a `pullStruct{image: "docker-daemon:…"}`
- `Image.pullImage` returns the `.image` member, still `docker-daemon:…`
- `Runtime.New` assigns the value to `newImage.InputName`
- `Image.getLocalImage`

[2018-04-24 14:35] mtrmac commented on #639
(
Prepending of `docker.io/` to the pulled reference is ultimately due to the normalization happening in c/image, but

1. That’s not the immediate cause of the failure
2. podman does have the option to define a different name to use in the storage, probably by adding a `docker/daemon.Transport.Name` case in `getPullListFromRef` .

)

[2018-04-24 14:37] mheon commented on #586
@TomSweeneyRedHat Alright, so it's how we're calling into buildah to do a commit, then.

[2018-04-24 14:38] mheon commented on #586
@baude PTAL

[2018-04-24 14:55] mheon commented on #631
Closed by #652

[2018-04-24 14:55] #631 closed

[2018-04-24 14:55] mheon commented on #630
Fixed on the buildah side

[2018-04-24 14:55] #630 closed

[2018-04-24 14:58] mheon commented on #389
This should be fixed now

[2018-04-24 14:58] #389 closed

[2018-04-24 14:58] mheon commented on #246
Fixed by #517

[2018-04-24 14:58] #246 closed

[2018-04-24 14:59] mheon commented on #148
Working on this now

[2018-04-24 15:00] umohnani8 commented on #631
Fixed in #652.

[2018-04-24 15:01] umohnani8 commented on #655
@mheon working on it.

[2018-04-24 15:01] mheon commented on #655
Thanks!

[2018-04-24 15:05] umohnani8 commented on #659
@edsantiago I am assuming you are pulling a private image from your docker hub?

[2018-04-24 15:08] rhatdan commented on #639
@baude ^^

[2018-04-24 15:13] edsantiago commented on #659
@umohnani8 no, see comment 0 above: with XDG_RUNTIME_DIR cleared, it fetches `docker.io/fedora:latest` (first in /etc/containers/registries.conf). Or, for rhel7, the first registry that works:
[code]
You should be able to reproduce this via:
[code]

[2018-04-24 15:13] mheon commented on #421
I can't seem to replicate this anymore. Possibly the attach cleanups fixed it?

[2018-04-24 15:46] baude commented on #639
it cannot be podman when we exec buildah bud. its everywhere.

[2018-04-24 15:50] umohnani8 commented on #659
But the credentials shouldn't matter if you are pulling a public image. It works for me:
[code]

[2018-04-24 15:51] edsantiago commented on #659
Try with XDG_RUNTIME_DIR=/nonexistent

[2018-04-24 15:53] ipmb commented on #661
@mheon If I install docker in the container and run `docker run -d -p 8000:8000/tcp --name=http python:alpine python -m http.server` it works as expected.

--

I retried on AWS with a fresh install of Ubuntu 16.04 (`ami-43a15f3e`) and got the same results. Here is the script I used to set it up (as root):

[code]

[2018-04-24 16:16] umohnani8 commented on #659
It still works for me
[code]

[2018-04-24 16:29] mheon commented on #659
I can confirm that the reproducer @edsantiago pasted fails for me too

[2018-04-24 17:29] cgwalters commented on #659
IMO that's a mosh flaw; it should talk to `logind` and have it hold the original session open the for as long as it makes the login available; that'd require some tricky work with PAM+ssh probably though.

[2018-04-24 18:00] edsantiago commented on #659
As a UNIX old-timer I resent that argument, but ultimately agree that yes, tools have to adapt to this modern systemd world. Still, it's also a bug that `podman pull` fails in the case above.

[2018-04-24 18:31] afbjorklund commented on #655
The actual error is "Error writing blob: blob size mismatch", but it only writes "Failed".

Seems like it is not expecting a mix of uncompressed and compressed blobs perhaps ?

[code]
Also seen by the progressbar overflowing while copying, `1.30 MB / 706.12 KB`

[code]

[2018-04-24 18:33] mheon commented on #655
This sounds like it could be a c/image bug

[2018-04-24 19:51] baude commented on #661
hey @ipmb to make sure I have this right ...

you spin up an ubuntu 16.04 VM which has dockerd in it.  You then run a privileged container (running what?) with dockerd.  You then run install podman and run the python httpd there.

And as a result of ^^^, you can curl http://localhost:8000 in the podman container, the docker container, and the ubuntu vm?

[2018-04-24 20:10] edsantiago opened #666 "RFE: podman load: provide diagnostics on failure"
I'm struggling to generate a tarball that `podman load` will handle, but am stymied by unhelpful errors:
[code]
Here `old.tar` is an archive generated using a very old docker; the problem is almost certainly related to [differences between the docker v1 and v1.1 image spec](https://github.com/moby/moby/blob/master/image/spec/README.md); podman can't handle v1. I'm trying to handcraft a `manifest.j

[2018-04-24 20:13] ipmb commented on #661
I'm seeing it in two different environments. The simplest is:

1. Spin up Ubuntu 16.04 VM
2. Run script from [previous comment](https://github.com/projectatomic/libpod/issues/661#issuecomment-383983878)

No docker in this case.

[2018-04-24 20:26] baude commented on #661
@ipmb any chance you have an 87, 100, and 200 file in  /etc/cni/net.d ? And if you temporarily move 100 and 200 out of the dir, does it work?

[2018-04-24 20:29] mheon commented on #666
Far as I can trace, we are printing the full error returned by containers/image; I think better debug info from the library would definitely be helpful.

[2018-04-24 20:42] edsantiago opened #667 "podman load: unexpected repository path"
Attached is a very trivial image created by `docker save`. After loading it, podman reports it having an unexpected repo path:
[code]
So far, so good: `load:test` is the expected tag. But:
[code]
Whence the `docker.io/library/` ? docker output for reference:
[code]

[load_test.tar.gz](https://github.com/projectatomic/libpod/files/1944502/load_test.tar.gz)

[2018-04-24 20:46] ipmb commented on #661
[code]

Yes! It does work when I remove those two files. It also solves the issue in my frankenstein nested Docker environment.

`dpkg` tells me those files were installed by `cri-o-1.10`. Will removing them cause other issues?

[2018-04-24 20:53] baude commented on #661
it is possible it might mess up something with crio.  @mheon ok we at least know the issue.  @ipmb at one point we discussed the idea of having a shared network file ... stay tuned!

[2018-04-24 20:56] rhatdan commented on #655
@mtrmac PTAL

[2018-04-24 20:58] mheon commented on #667
Related: #639

[2018-04-24 21:16] mtrmac commented on #655
For starters, https://github.com/projectatomic/libpod/blob/27107fdac1d75f97caab47cd13efb1d9900cf350/libpod/image/image.go#L141 is swallowing the underlying error report.

The error is, per `skopeo --insecure-policy copy docker-archive:$path dir:t`
[code]

[2018-04-24 21:18] mheon commented on #655
So that's where our debug was going... Nice catch @mtrmac
I'll get a patch in to get more detailed logging output from there.

[2018-04-24 21:19] rhatdan commented on #666
@umohnani8 @mtrmac PTAL

[2018-04-24 21:26] mtrmac commented on #655
… the flip side, though, is that `c/image/docker/tarfile.Source.GetBlob` is trying to transparently decompress the blobs, while `…/tarfile.Source.prepareLayerData` creates a manifest with the compressed sizes.

That can’t work, and is mostly fixed (a bit stalled?) in https://github.com/containers/image/pull/427 .

[2018-04-24 21:28] mtrmac commented on #666
https://github.com/projectatomic/libpod/blob/27107fdac1d75f97caab47cd13efb1d9900cf350/libpod/image/image.go#L141 is swallowing the underlying error report.

[2018-04-24 21:29] mheon commented on #666
Fixed by #668

[2018-04-24 21:30] mheon commented on #666
(At least partially, I need to go through pullImage and make sure we forward all the errors along there)

[2018-04-25 06:11] afbjorklund commented on #655
Hmm, this is starting to have more far-reaching implications than a simple `s/docker/podman/` :-)

[2018-04-25 14:01] umohnani8 commented on #659
@rhatdan so if XDG_RUNTIME_DIR is nonexistent, should we error out or log a warning and move on? What is the approach we want here?

[2018-04-25 14:08] mheon commented on #659
@umohnani8 I really do not want to error out on this in `pull` and similar cases. We should proceed (but warn), and if the pull needs credentials and we don't have them because no XDG_RUNTIME_DIR, we error then.

[2018-04-25 14:27] mtrmac commented on #655
:) IIRC fixing either the minikube or the  podman side would be sufficient—but the podman-side fix is not quite available right now.

[2018-04-25 14:46] #621 closed

[2018-04-25 14:48] TomSweeneyRedHat commented on #621
@edsantiago This should be fixed, if you find otherwise please reopen.

[2018-04-25 14:49] baude commented on #561
Will document as a known issue

[2018-04-25 14:55] baude commented on #521
Closing as CANT/WONT FIX

[2018-04-25 14:55] #521 closed

[2018-04-25 14:57] baude commented on #475
Done

[2018-04-25 14:57] #475 closed

[2018-04-25 14:59] baude commented on #442
Matt reports we are held up by an old ffjson bug

[2018-04-25 15:00] baude commented on #432
Dup of #639 Will solve on that one

[2018-04-25 15:00] #432 closed

[2018-04-26 07:42] lukasheinrich opened #675 "rootless containers with libpod"
**Description**

Hi, is it possible to run rootless containers using libpod? I did not find a corresponding option in https://github.com/projectatomic/libpod/blob/master/docs/podman-run.1.md.

We're essentially looking for a solution that provides much of the Docker CLI to a unprivileged user on a shared academic cluster, without the user having to worry about low-level runc commands of unpacking

[2018-04-26 11:52] rhatdan commented on #675
I would say this is a long term goal.  There is a long term goal of getting Overlay to work with rootless as well. Which I need to follow up on.
@giuseppe We should investigate this more, especially when/if buildah gains this access.
@nalind WDYT?

[2018-04-26 13:35] mheon commented on #675
@giuseppe I'd love to see a way to specify that a Libpod container does not use an image-based root filesystem, and just respect whatever directory the user passes to us. That was an original goal of the library, but it was dropped early on to get things out the door faster.

[2018-04-26 15:30] giuseppe commented on #675
@lukasheinrich I've hacked something together here: https://github.com/giuseppe/libpod/tree/rootfs

It is incomplete and I am not really happy how the API looks like (the image name arg becomes argv0) and we need to discuss it.  Anyway, it is the first step to make it usable with a non privileged user

[2018-04-26 15:36] mheon commented on #675
@giuseppe Suggestion there - instead of patching `CreateContainerStore`, you'll probably have better luck changing `setupStorage`/`teardownStorage`/`mount`/`unmount` in `container_internal.go` to be no-ops if we're creating from a rootfs and not an image.

[2018-04-26 15:50] rhatdan commented on #675
@lukasheinrich Internal emails discussing the steps to make Overlay Safe enough to allow non priv users to mount them.  Talked to Eric Biederman and Storage Engineers at Red Hat.

[2018-04-26 16:02] ipmb opened #679 "Inspect fails to retrieve IP address when inside a privileged Docker container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

The IP address of the container.

**Additional information you deem important (e.g. issue happens only occasionally):**

Strangely, this works fine, so I'm not sure what the message about failin

[2018-04-26 16:06] mheon commented on #679
At present, we get the IP Address we show in `inspect` by running `ip` on the host inside the container's network namespace (via `nsenter`). I suspect the container with Podman in it doesn't have IP in it.

As an aside, we should no longer be doing this - we now maintain the IP addresses of the container in the database, so we don't need to execute a separate program to get them anymore.

[2018-04-26 16:28] ipmb commented on #679
The weird thing is that `ip` _is_ available in the container. This works:

[code]

That being said, fetching from the DB sounds better.

[2018-04-26 16:31] mheon commented on #679
@ipmb To clarify - we presently run `ip` from the host machine, IE whatever `podman` is running on top of, inside the container's network namespace. So `podman inspect` has a dependency on whatever package provides `ip` on the host. I think that might not be reflected in some of our packages, but we are removing it with that patch.

[2018-04-26 18:01] umohnani8 commented on #666
@mheon is this fixed completely or should I go through it again to ensure all errors are forwarded?

[2018-04-26 18:03] mheon commented on #666
@umohnani8 I think this is fixed, going to close.

[2018-04-26 19:33] edsantiago opened #682 "[low] docker compatibility: podman build URL-to-Dockerfile"
This is a followup to [buildah issue #80](https://github.com/projectatomic/buildah/issues/80):
[code]
The workaround is to bracket the URL with '-f' and '.' (dot, i.e. cwd):
[code]
I have no way of knowing if this is common in docker environments, or how important this usage may be. I'm filing this because if it's easy for podman to do the `-f/.` preprocessing, it might save people time down the r

[2018-04-26 20:29] twhiston opened #684 "Podman in atomic linux"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**Description**

Currently podman is a bit tricky to install with atomic linux because of all the build dependencies and because `make install` does a few other things on your system its not appropriate to just build the artifact in a container and use it. What would be the suggested way to get podman running in atomic without having to

[2018-04-26 20:33] mheon commented on #684
Is something similar to `make dbuild` in the Makefile (builds Podman in a Docker container) sufficient?

[2018-04-26 20:34] mheon commented on #682
A bit harder to parse around the Buildah implementation as we're moving to directly share code/flags with Buildah now. Still, we need to keep track of things like this... Maybe collect them into a docker-incompat.md file and link it in the readme?

[2018-04-26 20:46] rhatdan commented on #684
We are working to get it into Atomic Host.  We just need to get the vendored in podman build and podman commit that @baude is working on. so it does not require buildah and we should be able to get it in.

[2018-04-26 20:55] twhiston commented on #684
cool, thank you, really looking forward to using it.

[2018-04-27 02:59] ipmb commented on #658
I'm seeing the same thing, but it is hanging on a different lock.

[code]

[code]

[code]

[2018-04-27 03:10] mheon commented on #658
That looks like a c/storage lock, so it should be a separate issue, but let's keep it here until we can get it localized. @ipmb Can you give the commands you're using to recreate this? `podman ps` at the same time as another command, lots of `ps` commands all at once...?

[2018-04-27 03:36] ipmb commented on #658
I'm setting up the containers in systemd with a config mgmt system. The tasks shouldn't be happening in parallel, but in very rapid succession:

1. `podman ps | grep {image}`
2. `podman pull {image}` (if it doesn't exist)
3. `podman rm {container}`
4. `podman run --name={container} ...`
5. `podman inspect {container}`

This happens a handful of times as each container spins up. I've only seen it i

[2018-04-27 10:29] giuseppe commented on #675
I'd like to work on this once userNS support lands in as some of the added code is duplicated to get the userNS part working.

I've some WIP but it requires a change in conmon (the runc-wrapper script is to circumvent this limitation):

https://github.com/giuseppe/libpod/tree/rootfs-rootless

I could do something like:
[code]

[2018-04-27 10:47] rhatdan commented on #682
I would say this is a bug in buildah.  buildah should be able to handle this the same way as docker.  Not require the -f if it is a url

[2018-04-27 11:11] rhatdan commented on #682
@TomSweeneyRedHat Could you open up an issue on buildah to support this

[2018-04-27 12:00] rhatdan commented on #675
Looks great.

[2018-04-27 13:40] baude commented on #684
I've seen it on F28 AH as well already.

[2018-04-27 13:45] twhiston commented on #684
@baude - maybe it is time for me to rebase then! Definitely had some issues trying to figure out the best way to do it on 27 AH without installing all the dependencies

[2018-04-27 14:05] mheon commented on #658
It seems we're blocking on c/storage's `graphLock` which is taken during major c/storage operations. I suspect we're seeing a race between `inspect` trying to grab the layer store to compute image size on disk, and some operation in `podman run` (on bare metal, `run` will probably complete before the next command begins, so no race). It can't be anything to do with image pull or container creation

[2018-04-27 16:11] umohnani8 commented on #489
Has this been fixed, or do we still need to document that `:` is restricted character for file names?

[2018-04-27 16:14] cgwalters commented on #684
If you want to build stuff from source and run on AH, see https://fedorapeople.org/~walters/2018.01-devconf-desktopcontainers/#/7

I do this a lot.  Practically speaking the simplest is to probably `rpm-ostree install podman` on F27AH, then build from source and then copy the built `podman` binary over to `/usr/bin/podman` (with `rpm-ostree usroverlay` active).  That's *generally* going to work.

[2018-04-27 17:50] umohnani8 commented on #489
@mheon thanks for the info! Working on it.

[2018-04-27 18:10] afbjorklund commented on #655
Seems like minikube is aiming for switching to another library instead: https://github.com/kubernetes/minikube/pull/2730
Not sure if this makes matters better or worse, or just different ? Or if it even changes the cache at all.

[2018-04-27 21:16] #586 closed

[2018-04-28 17:31] TomSweeneyRedHat opened #692 "Commit failure in baseline tests"
**Description**
When I ran the ./test/test_podman_baseline.sh on a new Fedora 27 vm with the latest podman, I ran into errors when running containers that had been committed to.

**Steps to reproduce the issue:**

1.  Run '/bin/bash -v ./test/test_podman_baseline.sh' or the following portion of the script:

[code]

**Describe the results you received:**

No errors noted prior to the run command.
[

[2018-04-28 17:34] mheon commented on #692
This has to be default mounts in the spec.

https://github.com/projectatomic/libpod/blob/master/libpod/container_commit.go#L99-L101

We can't do this in libpod because libpod has no concept of a volume mount vs a default mount - it only knows about mounts in the spec.

We need to move this part into cmd/podman/ and base it off the CreateConfig artifact. If we can't find the artifact, we just commi

[2018-04-28 17:36] mheon commented on #692
For the libpod side of things, we're probably better off just basing the volumes off what's in the image we're building from. Same for CMD and ENTRYPOINT, probably - set the real ones based on CreateConfig in cmd/podman and use the image ones in libpod if not overridden.

[2018-04-28 17:40] mheon commented on #692
To clarify my thinking here... in `commit.go` we add all the mounts in the spec we are given to the image we create. This doesn't work because the spec contains many default mounts as well - `/proc` for example - that should never make it into an image. We can't really determine what these are on the `libpod` side, so we can't use the spec mounts in Libpod to commit.

I'd really prefer to avoid ad

[2018-04-28 17:42] mheon commented on #692
We might want to cut a `v0.4.4.1` tag or similar once a fix is in, because I think every image we commit right now is going to be broken because of this. We should also add an integration test to run a committed image to verify that works.

[2018-04-28 20:25] TomSweeneyRedHat commented on #692
Just realized I'd left off the required pull/run commands in the reproducer.  I've just updated my original comment with them added in.

[2018-04-29 19:28] baude commented on #692
We cannot be looking at the image a container is based on for mounts.  We need to only look at the container being committed.  I believe the correct fix here is set a const of default mounts in libpod and in commit.go where are adding the volumes to the new image, we only add those NOT which are not defaults.

[2018-04-29 20:16] baude commented on #692
ill propose a PR

[2018-04-30 20:37] umohnani8 commented on #489
Fixed in #694

[2018-04-30 20:37] #489 closed

[2018-04-30 20:56] umohnani8 commented on #659
Fixed by #451

[2018-04-30 20:56] #659 closed

[2018-04-30 21:44] mheon commented on #692
Should be fixed now by #699

[2018-04-30 21:44] #692 closed

[2018-05-01 16:10] edsantiago opened #705 "podman commit: duplicate cid emitted to stdout"
Regression: this used to work fine in a recent build; I can try to track down details on request.
[code]
That is: CID, blank line, CID again. Both are emitted to stdout, making it impossible (or challenging) to capture the output:
[code]

podman-0.4.4-2.git9924956.fc27.x86_64

[2018-05-01 17:00] mheon commented on #705
Buildah is printing the image ID as well in `Commit()`. We need to patch this to accept a writer - it's not OK for libraries to unconditionally print to stdout.

[2018-05-01 17:26] mheon commented on #705
Opened https://github.com/projectatomic/buildah/pull/647 to address this in Buildah. Once that's merged, we can revendor on the Podman side.

[2018-05-02 14:04] vrothberg commented on #475
Once Podman has a requirement on a specific commit or range of commit, would you mention that in the release notes? Currently, there is no specific podman-conmon package for openSUSE and I'd like to defer it unless really necessary.

[2018-05-02 14:05] mheon commented on #475
@vrothberg Sure, we should probably keep track of that in the readme.

[2018-05-02 14:09] vrothberg commented on #475
@mheon Thanks :-)

[2018-05-02 17:41] vbatts opened #713 "[RFE] add manifest subcommand"
https://docs.docker.com/edge/engine/reference/commandline/manifest/

mostly for multi-arch images, but nothing is stopping this from being a way to map arbitrary mime-type objects to be pushing as opaque blobs to the registry as well and be included in the signed image.

**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the re

[2018-05-02 18:02] #633 closed

[2018-05-02 21:23] edsantiago opened #714 "arg parsing: single-dash options expanded incorrectly"
Sorry for the unhelpful title; I can't think of a better description. This one has been haunting me today:
[code]
Somewhere in podman-land, `-name` is being rewritten and passed along as `-n -a -m -e`.

podman-0.4.4-2.git9924956.fc27 and 0.5.1-1525212894.git970eaf0.fc27

[2018-05-02 21:25] mheon commented on #714
@baude This sounds like shortopts handling in urfave/cli

[2018-05-02 21:26] rhatdan commented on #714
Does it work if you do

 podman run centos -- find / -name sdf

[2018-05-02 21:28] rhatdan commented on #714
Although the error looks like it is coming from the find command.

[2018-05-02 21:33] edsantiago commented on #714
[code]
also tried:
[code]
(Translation: AFAICT `--` is not telling podman to stop fiddling with args).

Yes, because `find / -n` is not valid. `find` is one of those very weird old-style pre-posix commands that uses a single dash with long-name options.

[2018-05-02 21:34] mheon commented on #714
I know we had issues with shortopts handling early on (`podman run -ti ...` wouldn't work, you needed to explicitly specify `podman run -t -i ...`) that we fixed in `urfave/cli`. I suspect that fix has come back and bit us.

[2018-05-02 21:35] TomSweeneyRedHat commented on #714
@mheon yep, this smells very much like urfave cli.  I tried a number of twists without luck.  I'd thought off the bat that the '--' would work like Ed mentions, but it's not appearing to.

[2018-05-02 21:37] mheon commented on #713
Does containers/image have support for this yet?

[2018-05-02 21:42] rhatdan commented on #714
podman run -- centos sh -c "find / -name sdf"
Works/

[2018-05-02 21:44] rhatdan commented on #714
But this is definately caused by our patch to urvave after seeing the echo example.  @baude You were involved in this patch, do you want to take a look.  I think we need to stop processing after the argv0

[2018-05-02 21:44] rhatdan commented on #713
@mtrmac indicated that it did, I believe.

[2018-05-03 13:41] mheon commented on #705
Should have been fixed by Buildah revendor in #715

[2018-05-03 13:41] #705 closed

[2018-05-03 21:39] TomSweeneyRedHat opened #720 "podman pull output verbose when requested image is not found."
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**Description**
When pulling an invalid image, the output is rather verbose and could be a lot more concise.

**Steps to reproduce the issue:**

1.  Remove docker.io from /etc/containers/registries.conf
2.  podman pull alpine

**Describe the results you received:**
[code]

**Describe the results you expected:**

An error similar to what Bui

[2018-05-04 10:38] vrothberg opened #721 "RFC: porting libpod to containers/image/pkg/sysregistriesv2"
## Why moving to sysregistriesv2?

The new package [1] allows to configure more aspects related to distribution than the old v1 API, including mirrors, specifying a URL with an http{,s} scheme, setting them to be insecure and also to allow searching in case an unqualified image is specified (e.g., "alpine:latest" instead of "docker.io/library/alpine:latest"). Moreover, we can use the Prefix semant

[2018-05-04 11:11] rhatdan commented on #721
I like what you are doing @vrothberg I think this will make configuring registries a lot more straight forward.

[2018-05-04 15:49] mheon commented on #721
Regarding registry protocol specified in the URI: I'm of slightly mixed feelings here... We currently maintain a list of registries we allow insecure operations against, so I don't think we should respect the registry's requested scheme if it wants HTTP and it's not listed as an insecure registry (we should produce a good error describing why we won't pull from it, though).

[2018-05-04 15:51] aalba6675 opened #723 "[Q] Can't get systemd running in a CentOS container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Cannot get a systemd-based centos 7 container running

**Steps to reproduce the issue:**

1.
[code]

2.

3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

* Works with fedora:28 image
* The

[2018-05-04 15:54] rhatdan commented on #723
Anything in journal?  You do have oci-systemd-hook installed?

[2018-05-04 16:05] aalba6675 commented on #723
@rhatdan yes - in docker the oci-systemd-hook is run.

In podman - if I run as podman privileged container I can see oci-systemd-hook get triggered and even generating an error message
```SELinux is preventing oci-systemd-hoo from using the mac_admin capability```

However if run as a "normal" container nothing seems to happen.

[2018-05-04 18:02] rhatdan commented on #723
Are you running a centos 6.7 image

[2018-05-05 02:43] aalba6675 commented on #723
Nope - it is a centos:7 image using `$(buildah from centos:7)`. Some systemdhook looks but nothing stands out

[code]

[2018-05-05 03:18] aalba6675 commented on #723
It works if I update all the stuff inside the container with the CentOS CR RPMs, i.e., the soon-to-be CentOS 7.5 packages!

The difference is

[root@localhost ~]# podman exec bobby_zinc rpm -q systemd
systemd-219-57.el7.x86_64
[root@amadeus ~]# buildah run centos-working-container rpm -q systemd
systemd-219-42.el7_4.10.x86_64
[root@localhost ~]#

My guess is the systemd in CentOS/RHEL 7.4 is too o

[2018-05-05 03:27] aalba6675 commented on #723
Slightly off-topic: when I do these get-my-base-systemd container running chores, I sometimes end up with the bare /sbin/init - without the journald/dbus-daemon :(

Any advice on how to "bisect" CAP_SYS_ADMIN to figure out what makes systemd stop? I have asked on the systemd list but they usually throw it back to the container runtime :( :(

[2018-05-06 02:30] aalba6675 opened #730 "podman with bind mount leaving cgroup debris and prevents container restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

When podman stops a systemd container with bind mounts, it leaves behind a lot of cgroup debris.
This prevents the container from starting the **third** time.

**Steps to reproduce the issue:**

1. Workaround: currently to get working bind mounts I have to set `mount --make-private /tmp`. Otherwise oci-systemd-hook cannot m

[2018-05-06 02:31] aalba6675 commented on #730
After getting into this situation, I can't start non-bind mounted containers.
alice_gold is a Fedora:28 container without any bind mounts
[code]

[2018-05-06 02:32] aalba6675 commented on #730
If I don't use bind mounts at all and leave `/tmp` as `mount --make-shared`, then all non-bind mount containers work: they can be start/stop without any cgroup debris.

[2018-05-06 02:41] aalba6675 commented on #723
Closing: seems to be caused by the version of systemd inside the container

Known working: Works with the following systemd-based containers with /sbin/init as cmd/entrypoint:
1. CentOS 7.5 but not CentOS 7.4
2. Fedora 28

[2018-05-06 02:41] #723 closed

[2018-05-06 12:18] rhatdan commented on #730
@mrunalp I think this might be runc not running posthook oci-systemd-hook.

@aalba6675 Could you see if the journal reports that oci-systemd-hook ran in the posthook?

[2018-05-06 13:03] aalba6675 commented on #730
@rhatdan  The posthook doesn't seem to be run. This is the journal when the container is stopped. Leaving behind a lot of cgroup mounted on impossibly long paths like
[code]
May 06 20:58:29 podman.localdomain audit[5949]: SERVICE_STOP pid=5949 uid=0 auid=1050 ses=3 subj=system_u:system_r:container_t:s0:c124,c228 msg='unit=dbus comm="systemd" exe="/usr/lib/systemd/systemd" hostname=? addr=? termina

[2018-05-06 13:05] aalba6675 commented on #730
Is there a way to manually clear these cgroups/mounts? Once I get into this state I can't start simple containers (i.e. those without bind mounts).

[2018-05-06 13:10] rhatdan commented on #730
Can't you just umount them?

[2018-05-06 13:28] aalba6675 commented on #730
Another observation: notify_on_release is 0 in the `/sys/fs/cgroup/systemd/libpod_parent` hierarchy.

[2018-05-06 20:12] mheon commented on #730
CGroups issue could be related to #496
#507 may fix it, but has serious issues with Systemd-managed CGroups that still need to be solved.

[2018-05-07 00:34] aalba6675 commented on #730
@mheon  - any idea why this would be triggered by a kludgy bind mount (`mount --make-private /tmp`)?

Non-bind mount containers are functioning without leaving group debris .

Once this situation is triggered (lots of cgroup mounted on `/sys/fs/cgroup/systemd/libpod_parent/<long non existent path with uuid repeated>`), then even non-bind mount containers could no longer be started.

[2018-05-07 00:47] mheon commented on #730
@aalba6675 The mounts situation makes it sound like it could be oci-umount-hook firing, and less like our other CGroup issues (though it's wierd you're not seeing CGroups left over even in cases where mounts aren't involved, we should still be leaking one or two). I'm not familiar enough with that hook to know for sure what the cause might be, though.

[2018-05-07 01:47] aalba6675 commented on #730
@mheon you are right, I spoke too soon. The cgroups are only visible in the legacy tools libcgroup-tools.

[code]

The are however not mount in the form of `/sys/fs/cgroup/systemd/libpod_parent/....` as in the bind mount case.

[2018-05-07 02:07] mheon commented on #730
The recursive CGroup path seems like a separate bug - our current CGroup issues are mainly a lack of cleanup, whereas this seems to actually be duplicating the Conmon scope repeatedly. Interesting - I'll look at this more tomorrow.

[2018-05-07 02:27] aalba6675 commented on #730
Thanks! Let me summarize a reproducer for Fedora 28:
[code]

[2018-05-07 13:48] mheon commented on #721
@mtrmac PTAL, this looks like it will require some changes in the containers/image interface

[2018-05-07 14:28] mtrmac commented on #721
Am I overlooking something? The `sysregistriesv2` package, as merged in https://github.com/containers/image/pull/429, does have an independent “insecure” flag both for registries and mirrors. So we have already separated the two.

As the libpod code stands right now, it is not necessary to cram the security flag into the “image name” as parsed by `alltransports.ParseImageName` / `ImageTransport.Pa

[2018-05-07 14:35] mtrmac commented on #721
(BTW as much as having a string format is useful and necessary for a CLI, it’s also a _pain_ to design and maintain because it is either unusably complex for humans to use (e.g. strictly semantically correct JSON), or it uses meta-characters which complicate or prevent handling of unusual strings, or it heuristically tries to guess what the user meant depending on context, and is unpredicatable/un

[2018-05-07 14:49] mtrmac commented on #721
… Ah, right. The difficulty is not with the “insecure” flag, it’s that the c/image behavior, as described above, makes the protocol specified in the config file ignored and pointless.

As far as the [linked comment](https://github.com/containers/image/issues/397#issuecomment-359125521) goes, I was only worried about a config that forces the user to say `http` to mean means “HTTPS but without certi

[2018-05-07 14:54] mtrmac commented on #713
c/image does not really support arbitrary opaque blobs, it recognizes layers and config.  Adding opaque blobs is plausible, if needed.

As for manifest lists, right now they are only read; writing and converting them is WIP in https://github.com/containers/image/pull/400 . The`c/image/manifest.List` abstraction added in that PR could be easily extended for other read or edit operations.

[2018-05-08 08:44] vrothberg commented on #721
I agree. I really want to get rid of libpod's `registries` package as having a wrapper for an API usually means that the API isn't complete. Things such as `registries.GetInsecureRegistries()` could safely be moved into c/image.

I wouldn't put that into c/image, as I want to have full control over the c/image library. In case we move all the sysregv2 semantics into c/image pulling, for instance,

[2018-05-08 18:04] mheon commented on #730
To provide an update here, I'm working on a more general overhaul of our CGroup handling now. Hopefully, once it's ready, it will address this and our other CGroup issues.

[2018-05-08 20:05] edsantiago opened #735 "podman exposes udp port on tcp-only image"
podman with `--publish-all` exposes udp even if image is tcp-only:
[code]
It doesn't seem to be buildah's fault:
[code]
RPMs:
[code]

[2018-05-08 21:43] baude commented on #735
We talked a little about this on IRC.  @rhatdan , if you recall, when we started enabling the network stack I asked about whether we need to distinguish between the tcp and udp protocols.  At that time, we jointly made the decision to treat them both as one.  This is obviously a departure from what other container runtimes do.

Fixing the example that @edsantiago provides may actually be doable ..

[2018-05-09 07:31] vrothberg commented on #721
@mtrmac I was playing a bit with the idea of forbidding any URI schemes in sysregsv2, and it turns out that the URL validation gets pretty screwed. Without an URI scheme, net/url's parsing isn't able to distinguish between `user:password` and the URI scheme yielding very imprecise error messages.

This made me reflect more on the issue, so I want to propose another alternative to the two you propo

[2018-05-09 13:36] edsantiago opened #736 "(no reproducer): podman ps: Failed to tear down network namespace"
With active podman tests running in one window, I ran ps in another and got:
[code]
This looks related to #348 but I'm surprised to see it in `podman ps` and I think it's worth tracking separately: even if #348 isn't fixed, it might be a good idea to suppress this output in `ps`.

This was just once. I haven't been able to reproduce it.

podman-0.5.2-1525700809.gitfaa8c3e.fc27.x86_64

[2018-05-09 13:39] edsantiago commented on #736
Forgot to capture exit code. Sorry.

[2018-05-09 13:49] mheon commented on #736
`ps` does perform an `updateContainer()` on every container to sync with the database prior to displaying output. Inside `updateContainer()`, there is logic to handle cases where a container's network namespace changed (IE, the container was stopped and its network namespace cleaned up). In these cases, we can't tell for sure if the network namespace was completely removed on the other side, so we

[2018-05-09 13:56] edsantiago commented on #736
That makes sense, and is consistent with the (not 100%, but close) reproducer I now have:
[code]
From a dumb user's perspective, I find it kind of alarming to see messages like this from what I expect to be a query-information-only command.

[2018-05-09 13:57] edsantiago commented on #736
Oh - and exit code is indeed 0.

[2018-05-09 14:01] mheon commented on #736
The problem with dropping the error logging down would be that we share the removal code with normal cleanup, and we probably want to actually log angry errors if cleanup fails in default case.
I suppose we could save the errors in `teardownNetNs()` instead of logging them, and return an error that we can log at various degrees of severity depending on how we called it.

[2018-05-09 16:28] edsantiago commented on #736
I saw another message this morning in a different test run; I haven't been able to reproduce it but wonder if it's related?
[code]
This one was not a warning: it exited 125.

Reviewing logs of past runs I see it only once before, so it's not surprising that I can't reproduce it manually. Does this look like it could be related?

[2018-05-09 16:32] mheon commented on #736
No, I think that's separate. Was that a test with user namespaces, by any chance?

[2018-05-09 16:33] edsantiago commented on #736
No user namespaces involved.

[2018-05-09 16:46] mheon commented on #736
We merged userns-related changes to network ns handling recently, so I was hoping that might be it. Ah well, no easy candidate for what's going on then.

[2018-05-09 16:48] edsantiago opened #737 "podman wait fails with 'error joining network namespace'"
This is another irreproducible one: I've only seen it twice in the last month. The common recipe is:
[code]
In another window:
[code]
The SHAs and UUIDs differ between the two failures but the `1021994` is the same.

podman-0.5.2-1525700809.gitfaa8c3e.fc27.x86_64

[2018-05-09 18:56] mheon commented on #730
My original thought was that this was the oci-umount hook, given that it seems to only occur with mounts. However, oci-umount does nothing with CGroups, so that doesn't seem likely. oci-systemd-hook does use both mounts and CGroups, so that seems to be a likely candidate.

[2018-05-09 21:15] dustymabe opened #740 "`podman port` omits newline"
**Description**
podman omits newline in output from `podman port` command

[code]

**Output of `podman version`:**

from copr repo
[code]

[2018-05-09 21:43] mheon commented on #737
So it's `kill` then `wait` that does it...

This is potentially a race around network namespace removal. `podman kill` stops the container, causing `podman run`'s cleanup routines to fire. `podman wait` tries to read the container out of the database while the cleanup routines are in the process of deleting the network namespace but before they have committed the fact that it no longer exists to t

[2018-05-10 08:22] TomasTomecek opened #742 "varlink: InspectImage does not serialize the metadata"
Fedora rawhide, podman-0.5.2-2.gitfa4705c.fc29.x86_64.

value of 'image' key is a string, it would be much better if it was serialized (hence it was a dict)

Current results
[code]

Expected results
[code]

[2018-05-10 08:31] TomasTomecek opened #743 "varlink: PullImage doesn't provide useful logs in case of an error"
When you observe the error message below, there is no clear indicator what went wrong.

Fedora rawhide, podman-0.5.2-2.gitfa4705c.fc29.x86_64.

[code]

[code]

[2018-05-10 14:34] baude commented on #742
This is done with intent because we would prefer to not duplicate the massive structs for inspect image and inspect container for varlink.  the docs -> https://github.com/projectatomic/libpod/blob/master/API.md#func-inspectimage  point this out.

[2018-05-10 14:39] mheon commented on #740
Fixed by #741

[2018-05-10 14:39] #740 closed

[2018-05-10 14:53] TomasTomecek commented on #743
Just had an IRC discussion with @baude and the issue was that I was still having the old config. After getting the new one, this works correctly now.

[2018-05-10 14:54] TomasTomecek commented on #742
If this is intentional, feel free to close.

[2018-05-10 15:07] TomasTomecek commented on #743
We debated some more and concluded that present situation is okay. If you are running into issues like this, you should reproduce with CLI interface which provides full logging.

[2018-05-10 15:07] #743 closed

[2018-05-10 15:17] rhatdan commented on #730
Yes this is definately oci-systemd-hook, but the problem, I believe, is runc is not firing the oci-systemd-hook in poststop.

[2018-05-10 16:03] rhatdan commented on #742
Yes I would rather fix this on the client, then have to deal with it on the server.  Hopefully we can build some helper client libraries like python.

[2018-05-10 16:03] #742 closed

[2018-05-10 16:16] rhatdan commented on #735
@edsantiago WDYT?  Is this a real issue?

[2018-05-10 16:28] edsantiago commented on #735
The worst (and least unlikely) scenario I can think of where this matters is 53: I can envision a container running BIND, where the creator wants to expose 53/udp but does not want to allow AXFR on 53/tcp, and they do so by filtering instead of by configuration. It would tick me off if I were to discover that my container was not running as I had crafted it. But I'm not the sort of person who woul

[2018-05-10 16:44] rhatdan commented on #735
Ok lets leave this as an issue, but put it to the bottom of the queue.  Or if some contributor wants to take it on, go for it.

[2018-05-10 20:26] Conan-Kudo opened #746 "Running containers inside of a container environment (with docker-compose.yml) using podman?"
/kind feature

**Description**

I'd like to be able to run and test batches of containers defined with `docker-compose.yml`. As it is now, doing this with actual Docker inside an environment that runs through Docker gets rather risky and leaky in all kinds of bad ways.

For building containers, I'm starting to use `buildah` for this, but I don't quite yet have an answer for running them. The goal

[2018-05-10 20:33] mheon commented on #746
I'd love to get something similar to `docker compose` up and running (I don't know if we'd go for exact compatability in this case, though). The ability to define a pod with a number of containers, sharing various namespaces and starting in a specific order as needed, is already baked into the backend, though work would be needed to make a good user interface to expose all of that.

[2018-05-11 07:09] TomasTomecek commented on #742
Speaking of helper python libraries, we are working on this library https://github.com/user-cont/conu where we try to create a universal API for pretty much any container engine/manager/tool and we would love to integrate podman in it -- ideally via the varlink interface. Does it sound interesting to you?

[2018-05-11 17:15] mheon commented on #497
Fixed by #507

[2018-05-11 17:15] #497 closed

[2018-05-11 17:16] mheon commented on #496
Fixed by #507

[2018-05-11 17:16] #496 closed

[2018-05-11 18:15] rhatdan commented on #746
@giuseppe I worked on that a while ago.  But not sure if I got it all working.  Would also like to get socket activation working properly.  Both would be cool features that don't work in Docker.

[2018-05-11 18:41] rhatdan commented on #742
Yes we would be interested in that.

[2018-05-11 19:57] jwhonce commented on #742
@TomasTomecek This is our layer on varlink https://github.com/projectatomic/libpod/pull/748

[2018-05-11 20:13] jrm16020 opened #759 "SELinux context of host directory shared with container not reset to previous value."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

I want to use `podman` as a replacement for `docker` for working with containers locally.  Sometimes that means sharing at least part of the contents of my home directory as a volume to the container I spawn.  An example could be running a tool that needs AWS credentials and using `-v $( pwd )/.aws:/some/container/path:ro,z

[2018-05-11 20:17] wking commented on #730
In some discussion on `#podman` with @baude and @mhean, the solution to this may be defining a `postexit` extension stage (groundwork in #758).  We wouldn't set those hooks in the OCI config, because the OCI spec [contains no post-exit hooks][1] (see also discussion about adding new hooks to the spec in opencontainers/runtime-spec#926), but we could pass them through to `conmon` via the `--exit-co

[2018-05-11 23:59] mtrmac commented on #721
The point of a system-wide config file is that the behavior is system-wide :) Individual applications should typically not be deciding to interpret only parts of it, at least not in the common case and without a good reason.

Applications which do have a good reason can already exercise full control, by pointing `types.SystemContext.SystemRegistriesConfPath` at a custom file (including `/dev/null`

[2018-05-12 00:27] mtrmac commented on #721
Ouch.

Pre-existing practice would certainly be a strong argument. Where is this being used?

---

Another possible alternative: Instead of parsing the values as `url.URL`, use the regexes in `c/image/docker/reference`.  That’s what the data _actually is_; `docker.io/library/busybox` is actually the URL `https://registry-1.docker.io/v2/library/busybox/manifests/latest` + all the referenced blob fi

[2018-05-14 06:12] vrothberg commented on #721
It's part of the design of https://github.com/moby/moby/pull/34319#issuecomment-381766390 for a long while (see quote below). It's not yet merged, but those semantics are carved into stone.

- "_Registry URLs must have a scheme (http:// or https://); this largely makes --insecure-registry obsolete, but if desirable, we can add an TLSnoVerify option in future, to account for (e.g.) MITM proxies etc

[2018-05-14 12:42] rhatdan commented on #759
This works the same with Podman or with Docker.  If you add the :z or the :Z we always relabel, and the relabel is not reversed when the container is removed.

You can fix the label on by executing

restorecon -R -v -F ~/.aws

[2018-05-14 12:42] #759 closed

[2018-05-14 13:09] jrm16020 commented on #759
@rhatdan that may be the way it's supposed to work but that's definitely not my experience on Fedora Atomic Host 28.  Docker does relabel and persist that relabel for other directories on the filesystem, just not for anything I share via `$HOME`.

It seems like the idea of containerized developer tooling doesn't work well without reversing the relabel when the container is removed.  Is the idea th

[2018-05-14 13:30] aalba6675 commented on #730
Hi I have an observation not related to exit/posthook: when the container is merely **started** there is already a doubled path.

Container is running (not tried to exit at all):

[code]

[2018-05-14 13:32] mheon commented on #730
@aalba6675 Is this after a restart (container has already started and stopped once, then started again)?

[2018-05-14 13:33] aalba6675 commented on #730
@mheon - no - this is a clean start from boot with the `mount --make-private /tmp` just to get the bind mounts working.

[2018-05-14 13:34] aalba6675 commented on #730
It seems that if I take the trouble to `umount <double_path>; umount <single_path>;` from the host, the container can be start/stop without any issues.

[2018-05-14 13:36] mheon commented on #730
@aalba6675 I think we may have separate yet related issues, then. We aren't cleaning up CGroup paths because the OCI poststop hook isn't firing, and somewhere inside `oci-systemd-hook` we are duplicating CGroup paths. The more severe one is the poststop hooks not firing, as it seems that if cleanup is done, we can still use the container. Still, doubling CGroup paths is really not a good thing.

[2018-05-14 13:38] aalba6675 commented on #730
Looks weird the doubled path - I can confirm that manually cleaning up the mounts from the host (single/double) paths allows the container to be start/stop indefinitely. This explains a bit to why I was seeing triple/quad paths. When starting the container without cleanup a second time the start hook must have add the triple/quad paths ad infinitum...until some limit was reached.

[2018-05-14 17:48] edsantiago opened #765 "[docs] podman commit: document --format option"
Basically, the `-m` option no longer works in `podman commit`:
[code]
Cause:  a824186ac9803ef5f7548df790988a4ebd2d9c07 on April 25.

Workaround: add `--format docker`, or don't use `-m`.

`podman-commit(1)` needs to be updated to (1) add a description of `--format` and its options, including the default `oci` value and preferably a link to some documentation of said format; and (2) include a note

[2018-05-14 19:42] cgwalters commented on #759
You can do two things today.  First, you can use `--privileged` for your container...that's mostly where I'm at today since it fixes other things I need.

If you want to use unprivileged containers (a good idea!) then the pattern I use is to drop the data in a separate `container_file_t` directory like `/srv`.

[2018-05-14 19:43] cgwalters commented on #759
I've been thinking of changing Atomic Host/Silverblue to basically do `chcon system_u:object_r:container_file_t:s0 /var/srv`.

[2018-05-14 20:29] rhatdan commented on #759
Yes as Colin said, you can run them either with container_file_t
or disable SELinux separation
podman run -ti --security-opt label:disable ...

We have been talking about adding a new type like container_user_t which would be allowed to user content in the users homedir.

[2018-05-14 20:41] rhatdan commented on #730
The oci-systemd-hook code firsts mounts a tmpfs on /sys/fs/cgroup, then it goes through and creates mountpoints on that directory.  In the last step it remounts the directory on itself read-only, which is causing the "double mounts.

[code]

[2018-05-14 20:44] mheon commented on #730
Alright, so we are expecting a doubled mount - the issue is only poststop hooks not firing.

[2018-05-14 20:56] edsantiago commented on #746
@rhatdan in progress ... but infuriatingly nonworking. And according to my notes, reminiscent of my frustrations in October 2016. It Just Ain't Working. The simplest reproducer I can come up with is:
[code]
This just hangs. No error, also no output. It also hangs in such a way that `podman ps` also hangs -- maybe the locking issue in #658? `/bin/ps` reports a long-running, presumably-also-hung `ru

[2018-05-14 22:14] mheon commented on #746
@edsantiago Separate locking issue from #658 - this is us holding the container lock until runc has finished executing, to try and order container operations. The root cause here appears to be the `runc init` hang.

[2018-05-14 22:45] jrm16020 commented on #759
That sounds like a great idea @rhatdan !

[2018-05-15 12:52] rhatdan commented on #746
This seems to be close, although I am getting Connection Refused.

[code]

[code]

The passing of the socket is there and the mounting of the socket is there.  I don't know why ncat is refusing the connection.

[2018-05-15 13:12] edsantiago commented on #746
I think systemd uses a DGRAM socket, so you need `--udp`. In my runs this morning, this hangs consistently:
[code]
It does not hang without `--udp`, but my `sdnotify` test container fails with EPROTOTYPE (Protocol wrong type for socket).

[2018-05-15 21:06] wking commented on #765
Fixed by #768.

[2018-05-15 21:06] mheon commented on #765
Closing as such

[2018-05-15 21:06] #765 closed

[2018-05-16 01:07] aalba6675 commented on #730
@rhatdan would you know what logic will cause path doubling: `/sys/fs/cgroup/systemd/libpod_parent/libpod-6cab0d8c9dc817e69fd0c02a7657e9a83edab3903f25f50d758c1511283bbbf0/ctr/libpod_parent/libpod-6cab0d8c9dc817e69fd0c02a7657e9a83edab3903f25f50d758c1511283bbbf0/ctr`.

Is this intended? I guess there must be some `find cgroup path and append` path  logic happening. Also this only happens in when use

[2018-05-16 13:17] rhatdan commented on #730
Does it happen with any --volumes?  It could be a leaked mount point.

[2018-05-16 13:33] #660 closed

[2018-05-16 14:12] carlwgeorge commented on #660
Nice, thanks!

[2018-05-16 20:38] dustymabe opened #785 "podman: misplaced arguments cause go panic"
/kind bug

**Description**

misplaced arguments cause go panic. For example:
[code]
 where
[code]
 does not. Here is example of panic:

[code]

**Output of `podman version`:**

[code]

[2018-05-16 22:41] mheon commented on #785
It looks like this is an ordinary exit (no such command in the container, runc fails to start) that turned bad when attach errored. I'll check it out.

[2018-05-16 22:49] mheon commented on #785
This one is properly confusing. We're panicking because of an attempt to send to the resize channel in https://github.com/projectatomic/libpod/blob/master/cmd/podman/utils.go#L152-L154 when the channel is closed. The problem is the channel is only closed in one place, and it should only ever be closed once the function that sends has already returned. Therefore, there should never be a send on tha

[2018-05-17 04:16] lsm5 opened #786 "Versioning differences podman v/s python-podman"
Continuing IRC discussion here..

python-podman has its own version. This will be painful as far as distro packaging goes, so I suggest any code with its own version be an independent upstream and thus an independent distro package.

@rhatdan @jwhonce @baude @mheon thoughts? ^

[2018-05-17 07:53] praveenkumar commented on #334
@TomSweeneyRedHat  Today I am also trying out `podman` on fedora-28 and encounter the same issue. I do have `atomic-registries` not able to figure out what's wrong. I am happy to provide any other information which is need to debug it. Not sure should I reopen this or create a new issue.

[code]

[2018-05-17 08:31] vrothberg commented on #721
@mtrmac Sorry to be pushy, but I am eager to get mirror support into Podman. What's your take on my last comment?

[2018-05-17 09:00] giuseppe commented on #785
there is a race condition as we close the channel both from the sender and the receiver side.  Since writing to a closed channel causes a panic, let's drop the close from the receiver side, I've opened a PR here: https://github.com/projectatomic/libpod/pull/787

[2018-05-17 12:44] edsantiago opened #788 "podman commit: output missing sha256: prefix"
Followon to #493: `podman commit` emits a hash without the `sha256:` prefix:
[code]
(note that podman outputs `sha256:` in its stderr-only verbose messages). Compare to docker:
[code]
Minor as this is, automated tools may use this output to look up in `podman images --no-trunc`; it's also a docker compatibility issue, and could one day be important if the digest type changes.

[2018-05-17 13:26] #785 closed

[2018-05-17 13:28] TomSweeneyRedHat commented on #334
@praveenkumar I'm going to open a new issue under libpod/podman.  Thanks for the problem report.  If by chance you don't get a link to that issue in the next 15 minutes or so, please ping me or reply here.

[2018-05-17 13:32] TomSweeneyRedHat opened #789 "Bare keys cannot contain ':' during pull."
/kind bug

**Description**

Reported by @praveenkumar in https://github.com/projectatomic/libpod/issues/334.  Moving it here.

@TomSweeneyRedHat Today I am also trying out podman on fedora-28 and encounter the same issue. I do have atomic-registries not able to figure out what's wrong. I am happy to provide any other information which is need to debug it. Not sure should I reopen this or create a

[2018-05-17 13:34] TomSweeneyRedHat commented on #789
@praveenkumar can you supply the contents of /etc/container/registries.conf please?

[2018-05-17 13:39] mheon commented on #789
We saw this issue a bit during the very early days of having a working `podman run` back in October - it was caused by a too-old `/etc/containers/registries.conf`. I think that's likely the issue here too.

[2018-05-17 13:45] TomSweeneyRedHat commented on #789
Ooops, missed the 's' in containers in my reply.  But yeah, something is likely not right there as @mheon pointed out.

[2018-05-17 14:03] praveenkumar commented on #789
@TomSweeneyRedHat  @mheon  Here you go.

[code]

[2018-05-17 14:04] praveenkumar commented on #789
And looks like below is what new format.

[code]

[2018-05-17 14:06] praveenkumar commented on #789
Shouldn't we document it somewhere as known issue? if there already existing known issue page then I can add it because for a normal user it hard to figure out what is causing it.

[2018-05-17 14:09] praveenkumar commented on #789
Updated the config file and now able to pull the images. Yay !!

[code]

[2018-05-17 14:12] mheon commented on #789
@praveenkumar Yeah, we should probably stick a note in the tutorial about this.

[2018-05-17 14:15] TomSweeneyRedHat commented on #789
@praveenkumar Thanks a bunch for the report, but more importantly the diagnosis.

@mheon I'll touch up the tutorials.  In the Buildah project we've a "Known issues"  page, I'll create one for podman and will add this as the first entry.

[2018-05-17 15:37] mheon opened #794 "Podman hangs after 'logout' in container with FUSE mount"
Reported via IRC:

Podman will hang after 'logout' is run in a container that has a mounted FUSE filesystem. Exec will fail with `exec failed: container_linux.go:348: starting container process caused "process_linux.go:86: executing setns process caused \"exit status 21\"`. Podman attach will not retrieve any output, though you can still type into the container's console.

Reproduce with:
1. Launc

[2018-05-17 17:46] mheon commented on #794
Correction, just using ordinary mounts doesn't seem to trigger this - `logout` causes the container to exit, and you can exec into the container and remove it with `rm -f` without issue (even with the mount not being unmounted before exiting)

[2018-05-17 18:12] rhatdan commented on #786
If they are going to be independent then fine. But why are they going to have different versions?  Seems simpler to keep them the same?

[2018-05-17 18:17] mheon commented on #786
@jwhonce would prefer they be separate, given that the Python bindings could be changed independently of Podman and libpod (multiple releases for a single release of Podman for example)

[2018-05-17 18:17] mheon commented on #794
@rhatdan Potentially - the container is privileged, but this could be a more general selinux issue.

[2018-05-17 18:32] rhatdan commented on #786
If we do that I think they should move to totally different Repos then.  My concern is we end up with  a test matrix.  If I update podman and there is no new version of python3-podman, will python3-podman break?

[2018-05-17 18:43] jwhonce commented on #786
My concern was version #  gaps if we start pushing content to places like pypi.  We can state that all versions are pushed even if the client content doesn't change.  Then having one version number won't confuse people.

[2018-05-17 18:53] jwhonce opened #795 "Podman API doesn't allow for multiple exposed ports."
/kind bug

**Description**

The podman CLI allows multiple --change options to create multiple exposed ports.  The API currently only honors the last EXPOSE value given in the list.

**Steps to reproduce the issue:**

1. podman.Commit(id, image_name, ['EXPOSE=8888/tcp', 'EXPOSE=8888/udp']

2. image.InspectImage(id)

**Describe the results you received:**

```image.ContainerConfig``` exposedports o

[2018-05-17 19:44] wking commented on #786
From [the SemVer spec][1]:

So you can adopt SemVer, stick to 0.x.y as long as you like, and basically do whatever you want (although personally I like to use the minor release number to mark pre-1.0 breaking changes).  Once you're comfortable with stability, you can cut a 1.0.0 and start being more careful.

[1]: https://semver.org/#spec-item-4

[2018-05-17 21:12] wking commented on #675
The open issue for that is containers/storage#96.

[2018-05-17 22:14] wking opened #799 "Remove generated ioprojectatomicpodman.go from Git?"
We've tracked it since #669, but it's noisy:

[code]

because some entries seem to be randomly ordered (e.g. type definitions are not alphabetized).  Since I don't see docs anywhere claiming you can `go get github.com/projectatomic/libpod/pkg/podman`, can we drop it from version control and rely on [the existing `Makefile` rule][1] to ensure we have a fresh copy at build time?

cc @baude, since yo

[2018-05-17 22:15] mheon commented on #799
@baude I know there's a reason we checked it in, but I'm forgetting right now?

I would really love to see the Varlink generator changed to consistently order definitions so we cut down on the churn.

[2018-05-18 14:05] baude commented on #799
we dont want this to be generated during package building.  it makes things too complicated.  given the noiseyness, a bug against varlink would be appropriate.

[2018-05-18 19:32] jdoss opened #804 "Calling podman run to load a kernel module via a systemd unit causes triggers EACCES(Permission denied) from SELinux."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Calling podman run to load a kernel module via a systemd unit causes triggers EACCES(Permission denied) from SELinux.

[code]

**Steps to reproduce the issue:**

1. Create a systemd unit file that uses podman to load a kernel module

2. Run the unit with SELinux set to enforcing

3. Think of dwalsh's feelings when you are t

[2018-05-18 19:33] mheon commented on #804
@rhatdan PTAL

[2018-05-18 19:54] rhatdan commented on #804
I updated container-selinux today for these issues.

container-selinux-2.58-1.gitd213769.fc27
container-selinux-2.58-1.gitd213769.fc28

Please install these and try it again.  You might need to run restorecon -v /usr/bin/podman

[2018-05-18 21:40] jdoss commented on #804
Thanks @rhatdan for the help. I installed that RPM and rebooted and it shows it as installed:

[root@atomic ~]# rpm -qa |grep container-selinux
container-selinux-2.58-1.gitd213769.fc28.noarch

but I am seeing the same results:

[code]

[code]

[2018-05-19 01:16] mtrmac commented on #721
It’s a bit hard to take an unmerged PR as semantics “carved into stone” :)

And anyway, this design has AFAICS “`http:` means no TLS”, not “`http:` allows both no TLS and unauthenticated TLS”.  It means dropping support for the `TLSnoVerify` case entirely (until some “future”).

---

More or less every TLS client ends up having an option to ignore certificate failures.  I don’t have a _really good

[2018-05-19 08:13] rhatdan commented on #804
Did you run restorecon on /usr/bin/podman?
restorecon -v /usr/bin/podman
ls -lZ /usr/bin/podman

[2018-05-19 08:30] rhatdan commented on #721
I agree, we need to have a get out of jail free card.  Where user just tells the tool to make it happen.  --tls-verify=false.  These things get broken too often and easily.

[2018-05-19 15:12] jdoss commented on #804
Yeah, I did the restorecon:

[code]

[2018-05-20 05:06] wking opened #812 "OWNERS: Update approvers (e.g. include @TomSweeneyRedHat)?"
There seems to be a mismatch between folks with the approval bit and folks in the `OWNERS` file.

[code]

Should @TomSweeneyRedHat, @umohnani8, @giuseppe, and/or @edsantiago be added to `OWNERS`?

And these folks in `OWNERS` seem to have never approved a libpod commit, although they're all active in the larger community:

[code]

Should @mrunalp, @runcom, and/or @nalind be removed from `OWNERS`?

[2018-05-20 10:52] rhatdan commented on #804
Now make sure podman is not running.  Or is running with the container_runtime_t label.

ps -eZ | grep podman

If it is running with a different label the contiainer_runtime_t, kill it and restart the service, it should not run as container_runtime_t.

[2018-05-20 11:01] rhatdan commented on #812
Perhaps we should look at this differently.  We have trusted reviewers.  We want to get two or more people to review each patch.  We should require rh-atomic-bot to merge all PRs since it makes sure that all tests pass and the heading does not have [WIP] in it.  Then have actual OWNERS who can hit the MERGE button, when @rh-atomic-bot is not working correctly.  Those would be @baude @mheon and Mys

[2018-05-20 13:48] wking commented on #812
`OWNERS` [has][1] `reviewers` and `/lgtm` for the former and `approvers` and `/approve` for the latter.

Prow has a WIP plugin (kubernetes/test-infra#4145) and also supports similar use cases with [`/hold`][2].  It also has [`/test` and `/retest`][2] and [requires presibmit jobs to succeed before merging][3].  It also [supports Jenkins jobs][4].

I don't know what @rh-atomic-bot is running (it wou

[2018-05-20 16:46] jdoss commented on #804
Weird, podman is still running with the `unconfined_service_t` label when being called by systemd. Instead of running `insmod /usr/lib/modules/4.16.7-300.fc28.x86_64/extra/wireguard.ko` I just called `sleep 60`:

[code]

I am running Atomic in `ostree admin unlock --hotfix` right now. Would that impact things here?

[2018-05-21 13:47] rhatdan commented on #804
I am not sure @cgwalters any ideas?

@jdoss What does the unit file you are executing to run podman look like?

[2018-05-21 15:04] baude commented on #786
we have agreement on how this works. ... versioning change/split when we cut podman-1.0.  at that time, the python code will also go to a different repo.

[2018-05-21 15:04] #786 closed

[2018-05-21 16:13] #795 closed

[2018-05-21 16:43] rhatdan commented on #804
Well this is not just launching podman from the unit file, you are launching a script first and systemd transitions from init_t to unconfined_service_t when launching a shell_exec_t (/bin/sh) or a bin_t, Then when unconfined_service_t launches podman it does not transition.

I have to add a transition from unconfined_service_t to container_runtime_t over container_runtime_exec_t.

[2018-05-21 17:05] jdoss commented on #804
Ooof. Sorry for not being clear @rhatdan. Thanks for your help.

[2018-05-21 18:26] rhatdan commented on #804
@jdoss could you try the container-selinux in updates testing 2.60 and update karma here.

https://bodhi.fedoraproject.org/updates/FEDORA-2018-b0ea7fc23c

[2018-05-21 19:08] jdoss commented on #804
@rhatdan systemd is able to call:

[code]

now from within the bash script, but when the bash script calls:

[code]

to insmod the kernel module that was built within the container, it still hits SELinux issues.

[code]

`#ausearch -m avc` -i shows:

[code]

[2018-05-21 21:14] rhatdan commented on #804
Unbelievable.  I have built more container-selinux packages in the last couple of days.  And hadn't touched in a month or two.

Fixed in container-selinux-2.61-1.git9b55129

[2018-05-21 22:27] jdoss commented on #804
@rhatdan Victory!!

[code]

I can add some karma once you get it up on bodhi. Thanks a ton again for your help. I hope to bring a work around for kernel module support in Atomic with these efforts.

[2018-05-22 11:18] vrothberg commented on #721
@mtrmac @rhatdan Thanks a lot for checking. It looks like we are going for removing the URI schemes and keeping the insecure switch. I will prepare an update to c/image then. I am pretty busy right now, but I will try to work on that asap.

[2018-05-22 11:19] vrothberg commented on #721
I see this issue as resolved. We can discuss the details in the upcoming PR in c/image.

[2018-05-22 11:19] #721 closed

[2018-05-23 01:47] jwhonce commented on #799
Closing, given @baude comment.

[2018-05-23 01:47] #799 closed

[2018-05-23 12:49] edsantiago commented on #586
Has anyone tried the three steps in my first comment? Can you get them to work? What am I doing wrong?
[code]
buildah-1.00-1526305410.gitce8d467.fc27.x86_64
podman-0.5.4-1527007540.git926d07d.fc27.x86_64

[2018-05-23 12:52] rhatdan commented on #586
Do those commands work with Docker.
I think the issue is that you have not specified a CMD or Entrypoint,
[code]

Should do what you want.  But if Docker automatically takes the CMD used to create the container then we have a bug.

[2018-05-23 12:56] edsantiago commented on #586
Oops - my bad, for not filing it as a docker-compat issue. Yes, docker uses the container's command as an entrypoint:
[code]

[2018-05-23 12:56] rhatdan commented on #586
Ok I just looked at this in Docker and the problem is podman does not populating the CMD field on the podman run command. I will open a PR>

[2018-05-23 18:58] rhatdan commented on #804
Should be in bodhi now.

https://bodhi.fedoraproject.org/updates/FEDORA-2018-ef9185a79f
https://bodhi.fedoraproject.org/updates/FEDORA-2018-aa46db51d3

[2018-05-23 18:58] #804 closed

[2018-05-23 19:00] rhatdan commented on #789
So @TomSweeneyRedHat was @praveenkumar using the new format and it was failing?  The old format still works?

[2018-05-23 20:15] edsantiago opened #826 "podman run -m: unexpected cgroup readings"
Disclaimer: I find this all confusing, and could easily be doing something wrong on my end.
[code]
Compare to docker:
[code]
I don't understand cgroups well enough to comment but I'll do so anyway: could this be related to the path element difference? (`libpod_parent` vs `system.slice`, and the missing `.scope`)?

podman-0.5.4-1527007540.git926d07d.fc27.x86_64 , which no longer has a `--cgroup-man

[2018-05-23 20:42] rhatdan commented on #826
That looks like a bug to me.  @mheon has been doing a lot of work with cgroups so maybe this is fixed there.

[2018-05-23 21:16] TomSweeneyRedHat commented on #789
@rhatdan when @praveenkumar used the older format it failed.  With the new format like this:
[code]
It works without an issue.  Man page add might be good, I'm just not quite sure where to put it and how/if we should document a known issue there on a man page or pages.

[2018-05-23 21:18] rhatdan commented on #789
I though the sysregistries2 patches changed the format again? @mtrmac?

[2018-05-23 21:43] mtrmac commented on #789
1. `sysregistriesv2` is, to my knowledge, not used anywhere yet.
2. `sysregistriesv2` does define a new format. To tell them apart, tests include headers like `[[registry]]`
3. `sysregistriesv2` should be able to transparently read the older `sysregistries` format (the one with `[registries.search]`.

[2018-05-24 04:12] mheon commented on #826
@edsantiago I thibk this is because that's not actually the container's cgroup, but the parent cgroup for the container and conmon both. Try the `ctr/` subdirectory under `libpod-$cid`, which should have the actual container's cgroups (for reference, there is also a `conmon` subdirectory that has the conmon CGroup).

[2018-05-24 11:44] rhatdan commented on #746
Seems to be working for me now
[code]
With podman in master.

[2018-05-24 11:45] rhatdan commented on #746
Never mind It is hanging.

[2018-05-24 11:50] rhatdan commented on #746
This is where runc is hanging.
openat(AT_FDCWD, "/proc/self/fd/4", O_WRONLY|O_CLOEXEC

[2018-05-24 11:50] edsantiago commented on #746
I'm somewhat leaning toward it being a runc issue, not podman, but have no actual evidence to base that on.

[2018-05-24 12:13] edsantiago commented on #826
That was it. Thank you, and sorry for the false alarm.

[2018-05-24 12:13] #826 closed

[2018-05-24 13:03] rhatdan commented on #746
I agree, I am now thinking this is an issue with runc. I need to setup runc with the NOTIFY_SOCKET to see if it hangs also.

[2018-05-24 13:41] rhatdan commented on #746
It looks like the --udp is the key  flag that is causing the issue.  If I remove the --udp runc finishes right a way.

[2018-05-24 13:43] edsantiago commented on #746
Yes, but as best I can tell `--udp` recreates the way systemd creates the `/run/systemd/notify` socket

[2018-05-24 13:46] edsantiago commented on #746
[code]

[2018-05-24 13:57] rhatdan commented on #746
So it this the equivalent of doing what Systemd does for socket activation.

[2018-05-24 14:00] edsantiago commented on #746
That's what I _think_, and it's what I'm trying to do, and the behavior is consistent... but I don't really know.

[2018-05-24 14:13] rhatdan commented on #746
I sent an email off to systemd-maint/lennart asking them what is the best way to implement this.

[2018-05-24 14:15] rhatdan commented on #746
lsof /run/systemd/notify /run/mysock
lsof: WARNING: can't stat() fuse.gvfsd-fuse file system /run/user/3267/gvfs
      Output information may be incomplete.
COMMAND   PID USER   FD   TYPE             DEVICE SIZE/OFF   NODE NAME
systemd     1 root   33u  unix 0x000000009b008e4d      0t0  13639 /run/systemd/notify type=DGRAM
ncat    13931 root    3u  unix 0x00000000cddfc00c      0t0 362330 /run/myso

[2018-05-24 14:22] giuseppe commented on #746
I think this happens because of the interaction of conmon and runc.  We have system containers using NOTIFY_SOCKET, but system containers don't pass in additional file descriptors and this makes the difference.

In any case, the issue is for sure in runc:

[code]

[2018-05-24 15:09] edsantiago commented on #746
I will be gone for 2 weeks and unable to play here during that time. Once the runc hang gets resolved, Shishir has a great, tiny, simple way to test sdnotify in a container: https://github.com/shishir-a412ed/runc-notify

[2018-05-24 21:49] rhatdan opened #830 "podman ps is not sorted by date"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

podman ps and podman ps -a should sort the list of containers to show the newest container at the top and the oldest at the bottom.
It should also show the date in a more human understandable format.

Probably need to similarly sort images.

**Description**

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:

[2018-05-24 22:00] mheon commented on #830
Under the old SQLite data store, we could trivially make the guarantee that containers retrieved from the database were ordered by date with an `ORDER BY`. We did not preserve this guarantee when we moved to boltdb, for simplicity and performance. We should rewrite the output logic to do this ordering (the output logic really needs a rewrite anyways).

[2018-05-25 09:52] rhatdan commented on #639
This is fixed in the latest code.  We now product localhost/IMAGE

[2018-05-25 09:52] #639 closed

[2018-05-25 15:18] #649 closed

[2018-05-25 16:15] giuseppe commented on #746
I've opened a PR for runc: https://github.com/opencontainers/runc/pull/1807

[2018-05-29 03:50] ajacocks opened #835 "Executing commands on bind mounts doesn't always work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

When using podman to launch a container, with a bind mount, attachment to the container doesn't always succeed.

**Steps to reproduce the issue:**

1.podman pull registry.access.redhat.com/rhel7

2.podman run -v /usr/sbin:/usr/sbin --rm -it rhel7 /usr/sbin/ip a
- or -
2. podman run -v /usr/bin:/usr/bin --rm -it rhel7 /usr/b

[2018-05-29 04:18] mheon commented on #835
I wonder if we're not seeing a race between `conmon` and the attach part of `podman run` here. Setting up the attach socket in `conmon` happens fairly late in the process of creating the container, after we inform libpod that it's safe to proceed, but `conmon` is generally so lightweight that the timing condition is never hit.

We could potentially set up the attach socket in `conmon` before we fo

[2018-05-29 05:02] aalba6675 commented on #730
Splitting off into a separate issue as the startup of container may be different from cleanup.

[2018-05-29 05:09] aalba6675 opened #836 "Starting a systemd container with bind mount has doubled cgroup path mounted"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Split off from #730 as this relates to starting a container (actually this may be causing #730 as the clean up routine may not be expecting a doubled cgroup path?). Maintainers, please close #730 if this is the real issue.

Starting a systemd-based container with a bind mount (`-v`) creates a doubled cgroup path. By doubled

[2018-05-29 05:13] aalba6675 commented on #836
Also I do not see any `/conmon` mounts at all — is this to be expected?

[2018-05-29 12:17] vrothberg opened #838 "podman-build: improve error message for unqualified images"
**Description**

`podman-build` with a Dockerfile using an unqualified image yields the following error:
[code]

This is not very helpful to the user, and I have received complaints on openSUSE aiming to improve the situation. A more user-friendly error message could be to either use fully-qualified images or to put the desired regisry in the `/etc/containers/registries.conf` configuration.

[2018-05-29 12:58] mheon commented on #838
@rhatdan This sounds like it might be from renaming images created locally to `localhost`?

[2018-05-29 13:40] TomSweeneyRedHat commented on #838
@vrothberg do you by chance have a Dockerfle that you can share that reproduces this?

[2018-05-29 14:07] vrothberg commented on #838
Sure, I my case I used:
[code]

In this case, it's important that `docker.io` isn't mentioned in the search registries in the registries.conf.

[2018-05-29 15:45] rhatdan commented on #835
Brent can you look into this?

[2018-05-29 15:47] rhatdan commented on #836
The double path is caused by oci-systemd-hook mounting the cgroups in the container and then bind mounting on top with a readonly bind mount.

[2018-05-29 16:27] mheon commented on #835
@rhatdan I think this has to be a fix in `conmon`

[2018-05-29 17:01] TomSweeneyRedHat commented on #838
@pixdrift can you take a peak at this one?  This is a bad error handling issue in Buildah where you've poked under the covers before.

[2018-05-29 20:57] wking commented on #799
Fixed by #840.

[2018-05-29 20:57] mheon commented on #730
So I'm looking at this again, and I think we might have an actual podman/runc interaction bug with `oci-systemd-hook` - the postrun hook should be triggering when we call `runc delete` and we definitely are calling that as part of restarting a container (https://github.com/projectatomic/libpod/blob/master/libpod/container_internal.go#L552 calls https://github.com/projectatomic/libpod/blob/master/l

[2018-05-29 21:39] mheon opened #844 "Podman with image volume fails to create directory after restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
Restarting a container using an image volumes makes `podman` unable to create directories inside the volume mount.

**Steps to reproduce the issue:**

1. podman run -ti --name zmdb -e MYSQL_USER=zmuser -e MYSQL_PASSWORD=zmpass -e MYSQL_DATABASE=zm -e MYSQL_ROOT_PASSWORD=mysqlpassword centos/mariadb-101-centos7

2. podman sto

[2018-05-29 21:49] mheon opened #845 "Setting --publish and --publish-all should conflict with --net=container"
We can't set additional port bindings on an already-configured network namespace.

`--expose` is OK because the port might make its way into images committed.

[2018-05-29 21:52] mheon opened #846 "Podman ps and podman port with other container's network namespaces"
If a container is created with `--net=container`, when `podman ps` and `podman port` are run on the container, we won't see any ports (as the ports are bound in the network namespace of another container). We should account for this and display the ports of the other container here, as the container does have ports forwarded to it.

[2018-05-29 21:59] mheon commented on #730
I threw on some debug statements, and the hooks are definitely being added to the spec.
@wking Given that we are adding the hooks to the spec, and `runc delete` is being called, do you think this sounds like a `runc` bug?

[2018-05-29 22:20] wking commented on #730
On Tue, May 29, 2018 at 02:59:24PM -0700, Matthew Heon wrote:

Sounds like it to me.  But given runc's current lack of hook tests and
glacial pace at addressing known hook issues
(opencontainers/runc#1057, opencontainers/runc#1696,
opencontainers/runc#1710, opencontainers/runc#1738,
opencontainers/runc#1741, opencontainers/runc#1797, and possibly
more), I don't know if I'd expect much after filing

[2018-05-30 15:51] mheon commented on #730
I have no issue with doing this ourselves if we can't rely on the runtime to do it reliably. Would you call this an extension stage, or would we just be taking over the responsibility of running `poststop` hooks given that the runtime can't be relied upon to run them?

[2018-05-30 16:16] wking commented on #730
I'll adjust the extension stage handling to allow callers to take over OCI stages when they want to.

[2018-05-30 16:30] #830 closed

[2018-05-30 17:58] mheon opened #852 "SELinux error running nginx:alpine image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Running the `nginx:alpine` image in `podman run` produces an error if SELinux is enforcing

**Steps to reproduce the issue:**

1. `podman run nginx:alpine`

**Describe the results you received:**

`2018/05/30 17:55:13 [emerg] 1#1: open() "/var/log/nginx/error.log" failed (13: Permission denied)`

**Describe the results you

[2018-05-30 18:10] mheon commented on #852
@rhatdan PTAL - I'm seeing nothing in the audit logs, could be a do not audit rule?

[2018-05-31 03:10] aalba6675 commented on #730
@mheon what is it about a host volume mount `-v /abcd:/abcd:z`  that makes this problem manifest itself? Without the host volume mount things appear to work :).

[2018-05-31 13:14] mheon commented on #730
That's a good question... Especially since we are already bind-mounting some things into every container (`/etc/resolv.conf`, for example - we make a copy of the host's resolv for every container and bind-mount it in). I don't know how those are different from user-specified mounts for this.

[2018-05-31 14:17] mheon opened #858 "Detached containers leak network namespaces after deletion"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

There are lingering network namespaces after a cycle of heavy podman use, and subsequently removing all containers (not necessarily all at once). As such, `podman rm` does not seem to reap network namespaces under all circumstances. It seems to be linked to detached containers.

**Steps to reproduce the issue:**

1. `podman

[2018-05-31 14:43] mheon commented on #845
Fixed in #853

[2018-05-31 14:43] #845 closed

[2018-05-31 15:06] rhatdan commented on #661
I don't think this is an issue any longer.  CLosing  Reopen if you believe I am wrong.

[2018-05-31 16:43] rhatdan opened #860 "podman inspect of image shows a lot less then buildah inspect of an image."
[buildah_inspect.onbuild.txt](https://github.com/projectatomic/libpod/files/2059183/buildah_inspect.onbuild.txt)
[podman_inspect.onbuild.txt](https://github.com/projectatomic/libpod/files/2059184/podman_inspect.onbuild.txt)

[2018-05-31 17:27] rhatdan commented on #858
@mheon Isn't this why we were looking at adding a post call to conmon to call a cleanup function?

[2018-05-31 17:31] mheon commented on #858
@rhatdan `podman rm` should be removing them regardless - but it may well have something to do with that.

[2018-05-31 17:55] nathwill opened #861 "using --net=host broke from 0.5.4 to 0.6.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

upgrading from 0.5.4 to 0.6.1, using --net=host no longer causes the container to use the host network.

**Steps to reproduce the issue:**

1. run a container with --net=host

2. observe that a veth is created and bound ports are not bound on the host

**Describe the results you received:**

container does not run on host n

[2018-05-31 18:00] nathwill commented on #861
looks like `--network=host` works, though? is this intentional?

[2018-05-31 18:01] mheon commented on #861
`--net` should be an alias for `--network`, so this sounds like a bug

[2018-05-31 18:21] mheon commented on #682
Fixed in buildah, fix vendored into Podman, works on master. Closing.

[2018-05-31 18:21] #682 closed

[2018-05-31 18:35] ipmb commented on #661
Still seeing this:

[code]

Removing the two conf files after install resolves the issue.

[2018-05-31 18:48] baude commented on #661
@ipmb would you have a second to tell me if this works with just 100-crio... ?

[2018-05-31 18:58] ipmb commented on #661
It does not work with just `100-crio-bridge.conf` or with `100-crio-bridge.conf` and `87-podman-bridge.conflist`

[2018-05-31 19:00] mheon commented on #661
Reopening until we can resolve the shared configuration file issue

[2018-05-31 20:31] rhatdan commented on #858
Does podman rm umount them if they are mounted?

[2018-05-31 20:40] mheon commented on #858
It calls `cleanup()` which should unmount and remove the namespaces.

[2018-05-31 21:20] wking commented on #858
Possibly related, in [the CI logs from another PR][1]:

[code]

So maybe a CNI config issue?

[1]: https://s3.amazonaws.com/aos-ci/ghprb/projectatomic/libpod/a492f1d179071a6729406aa1d19a3d4eff0081e2.2.1527797417223330604/output.log

[2018-06-01 14:30] baude commented on #720
This is fixed in master

[code]

[2018-06-01 14:30] #720 closed

[2018-06-01 18:21] thoraxe opened #877 "pulling image via SHA results in problems"
/kind bug

**Description**
When pulling an image with the SHA as opposed to a straight tag, the `sha` ends up in the image name locally.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**
I expected "sha" not to be in the image name and I expected the local digest to match what I pulled.

**Output of `podman version`:**
[code]

**Output of `podman info`:**

[code]

[2018-06-01 19:59] rhatdan commented on #877
I am not sure if this is still a problem, but you are using an older version of podman.  We are just about to ship podman 0.6.1 for RHEL systems.
Any chance you could attempt ot build from github?  Or test on a different OS.

[2018-06-01 20:43] rhatdan commented on #877
Sure.

[2018-06-02 15:41] garyedwards opened #884 "oci-nvidia-hook not working as expected with podman command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**Description**

**Steps to reproduce the issue:**

1.
Set up the the hook as per the the Openshift guide: https://blog.openshift.com/use-gpus-with-device-plugin-in-openshift-3-9/

I have also tried the 1.0.0 Hook Schema Nvidia example documented in this repo for the oci-nvidia-hook.json file.

2.
Run the test container suggested in the Op

[2018-06-02 15:53] mheon commented on #884
@garyedwards Can you add a `--log-level=debug` to the `podman run` command you're using and pastebin the results?

I know hooks in general are working, so I suspect that the hook in question isn't being added. This likely comes down to a missing annotation which would be used to identify the container as requiring the nvidia hook.

[2018-06-02 16:04] garyedwards commented on #884
@mheon see link to pastebin below as requested.  I have tried using the "when" "always" from the 1.0.0 Schema as well as annotations to force it to trigger, also with no success.  Any advice much appreciated.

https://pastebin.com/t9HABDKQ

[2018-06-03 10:27] rhatdan commented on #884
What does the the file in /usr/share/containers/oci/hooks.d look like?

[2018-06-03 10:58] garyedwards commented on #884
Hi @rhatdan, see the contents below:

    {
       "hook": "/usr/bin/nvidia-container-runtime-hook",
       "stage": [ "prestart" ]
    }

I have also tried the various versions from the man page in this repo.  The above works with the fedora docker command.

Docker version 1.13.1, build 19d432b-unsupported

[2018-06-03 12:30] rhatdan commented on #884
You need to add an Annotations flag to your config and then add the Annotations to the container.
"annotations": {"useNvidia"}

And then run a container with tue UseNvidia annotation. Not fully sure of the syntax. @wking probably would no best.

[2018-06-03 13:47] garyedwards commented on #884
Excellent so the follow works great as "sandbox" seems to be a default annotation.  Now will look into getting the buildah bud --annotation option adding annotations so that it does not run for every container.  Initial tests are not adding annotations visible in podman inspect command, but I will look deeper and open a ticket on buildah if it seems to be an issue.

Thanks both for your help!

[2018-06-03 13:47] #884 closed

[2018-06-03 14:35] garyedwards commented on #884
Just a quick not on the annotations.  Buildah seems to add the annotations to the image which can be seen with a podman inspect agaist that image.

However but when podman creates a new container and that container is inspected the annotations are lost and only a load of default io.kubernetes.cri-o annotations are present.  I am not sure if this is the correct behaviour or if my image annotations

[2018-06-03 14:39] mheon commented on #884
@garyedwards I think that's a bug. Took a quick look at the code, and it doesn't we don't actually preserve the annotations when creating a container from an image. Can you make an issue about this to track it? Should be an easy fix on our end.

I wonder if it's also worth it to add a flag for modifying annotations of the created container.

[2018-06-03 14:55] wking commented on #884
@garyedwards, I'm surprised the 1.0.0 hooks did not work.  You tried [this example][1]?  Which annotation key has the `sandbox` value?  And I'm really surprised it didn't fire when you set `always` `true`.

[1]: https://github.com/projectatomic/libpod/blame/master/pkg/hooks/docs/oci-hooks.5.md#L120-L136

[2018-06-03 15:02] garyedwards opened #885 "annotations not carried over from images to containers when created with podman"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Build an image with buildah including annotations

2. Use podman to create a container form that image

3. Use podman inspect to check the container annotations

**Describe the results you received:**
Only the default io.kubernetes.cri-o.* annotations are present and not the custom ones

[2018-06-03 15:08] garyedwards commented on #884
Hi @wking, the 1.0.0 may well work now that I have got to the bottom of this a bit further.  I have just opened a second issue #885 relating to annotations not being carried across to containers.  This may have been making the 1.0.0 hooks appear not to work in my tests when in fact it was due to the annotation not being there.  I will test with the 1.0.0 syntax again shortly.  The sandbox key is b

[2018-06-03 15:18] wking commented on #884
So try:

[code]

(looks like I need to double the backslashes in the docs).

But annotations not getting passed through doesn't explain why:

[code]

didn't work for you earlier.

[2018-06-03 15:34] garyedwards commented on #884
I have tried the following two versions both of which result in the command hanging.  The third 0.1.0 style works as expected.  See pastebin for the debug log from 1.0.0 syntax:  https://pastebin.com/xkFqP9Js

    {
      "hook": {
        "path": "/usr/bin/nvidia-container-runtime-hook",
        "args": ["nvidia-container-runtime-hook", "prestart"]
      },
      "when": {
        "annotations":

[2018-06-03 15:54] garyedwards commented on #885
@mheon suggested adding a flag for modifying annotations of the created container.  I think would be a good idea so that ones does not have to create derivative images every time they want to add an annotation to a container for triggering a hook for example.

[2018-06-03 15:58] wking commented on #884
[code]

That is golang/go#25340, but you should be getting our [POSIX fallback][1].  Both of those are followed by "Cleaning up container" messages, so I don't see anything obvious going wrong (but no evidence of them going right either).

[1]: https://github.com/projectatomic/libpod/blob/v0.6.1/libpod/container_internal.go#L1342

[2018-06-03 16:07] garyedwards commented on #884
You see the clean up as I Ctrl+c the process.  For comparison see the pasebin from the successful 0.1.0 hook.  As you both point out there does not seem to be much information relating to what is going on with the hooks in the log.

https://pastebin.com/DMvxpdZa

[2018-06-03 16:40] garyedwards commented on #884
The reason for the hanging seemed to be the omission of the version information:

    {
      "version": "1.0.0",
      "hook": {
        "path": "/usr/bin/nvidia-container-runtime-hook",
        "args": ["nvidia-container-runtime-hook", "prestart"]
      },
      "when": {
        "always": true
      },
      "stages": ["prestart"]
    }

The command now runs but the hook does not seem to be tri

[2018-06-03 19:58] wking commented on #884
I've filed #887 to fix that in the example (and fix a few other things as well).  But with the missing `version` we should be failing to unmarshal the JSON using the 0.1.0 structure.  For example:

[code]

[2018-06-04 09:36] praveenkumar opened #888 "Panic: `podman varlink foo` gives runtime error."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
panic: runtime error: index out of range, should be handled and might be ignored if command argument is not as expected.

**Steps to reproduce the issue:**

[code]

[2018-06-04 09:56] praveenkumar opened #889 "Issue with getting method response as expected from varlink api"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Not able to get each parameter value from the method response.

**Steps to reproduce the issue:**

1. $ podman varlink tcp::12345 --timeout 0

2. Copy following go code (as gopodman) which use varlink connection to connect with api.

[code]

[code]

**Describe the results you received:**
Got an empty response from the podma

[2018-06-04 10:47] vrothberg commented on #888
I had a look at the code and it turns out to be an issue of `varlink/go`, in particular, the last call we see in the stack trace: https://github.com/varlink/go/blob/master/varlink/service.go#L199

I will open an issue for `varlink/go` and suggest to keep this issue here open until a fixed `valink/go` can be vendored.

[2018-06-04 12:15] vrothberg commented on #889
In order to make it work you need to use the interfaces defined in podman. An example use can be found here: https://github.com/projectatomic/libpod/blob/master/cmd/podman/varlink.go#L7

For other examples, you can `git grep ioprojectatomicpodman`. A quick-fix for your example would be to use the generic `interface{}` type instead of the structs, for instance:
[code]

[2018-06-04 12:46] TomSweeneyRedHat commented on #889
if by chance @vrothberg 's example is not in a tutorial, we ought to get it there.

[2018-06-04 13:47] #888 closed

[2018-06-04 15:38] wking commented on #884
@garyedwards, with #887 landed in master and its better logging, can you take another pass at the `always` and `annotations` 1.0.0 forms.  I doubt the `always` behavior has changed, but the debug logging may help us understand why the hooks are not getting injected.

[2018-06-04 15:55] baude commented on #889
I assumed people who wanted to interact with podman via go would vendor in libpod ... I had not envisioned a go varlink tutorial.  @vrothberg is right on how to use it though and the varlink stuff is behaving.  Marking as closed.  Re-open if you would like to discuss.

[2018-06-04 15:55] #889 closed

[2018-06-04 17:44] mheon opened #892 "Split Linux-specific portions of Container struct into separate struct"
We are looking into potentially supporting multiple platforms. As a first step for this, we should investigate splitting the Container struct (and potentially Pod struct) to hold Linux-specific fields in a separate structure. We'd embed a pointer that that structure in Container, so when we develop support for extra platforms (OS X, Windows, etc), we could embed a pointer to that struct as well, a

[2018-06-04 17:59] wking commented on #892
At least at the config level, this feels a lot like [the existing OCI runtime-spec `Spec` structure][1].  Is there a reason we aren't just using that directly (with a separate field for our additional configurations like [`ConmonPidFile`][2]?  Defining our own (for example) [`CgroupParent`][3] only to translate into the OCI structure later seems like more trouble than its worth.  And with the OCI-

[2018-06-04 18:04] mheon commented on #892
@wking CgroupParent is mostly because we'll be creating our own CGroup hierarchy (make a parent for the container and `conmon` to share), so we can't directly use the container's CGroup. All the things in `ContainerConfig` should be similar cases - they're things either not found in the spec, or sufficiently different in meaning from what's in the spec to justify storing separately. If there is ac

[2018-06-04 18:14] wking commented on #892
Oops, I'd been confusing libpod's `CgroupParent` with [the OCI's `cgroupsPath`][1] (which is not a parent).  So yeah, you're probably already doing what I'd been trying to suggest, and sorry for the noise ;).

[1]: https://github.com/opencontainers/runtime-spec/blob/v1.0.1/config-linux.md#cgroups-path

[2018-06-04 18:21] wking commented on #885
Is this closable now that #886 has landed, or do we need additional work to support adding container annotations beyond those specified in the backing image?

[2018-06-04 18:22] mheon commented on #885
I think we should be set... Closing

[2018-06-04 18:22] #885 closed

[2018-06-04 18:23] rhatdan commented on #861
They are now aliases, Closing.

[2018-06-04 18:23] #861 closed

[2018-06-04 18:30] rhatdan commented on #341
Bumping this up.
@haircommander PTAL

[2018-06-04 19:09] rhatdan commented on #889
@baude having a couple of go examples using it would not be a bad idea.

[2018-06-04 20:21] mheon opened #893 "Running podman from a systemd unit file causes an explosion in CGroups"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

Running Podman from a simple systemd unit file causes an explosion in CGroups in `/sys/fs/cgroup/systemd/libpod_parent/`

**Steps to reproduce the issue:**

1. Create the following Systemd unit file as `/etc/systemd/system/podmantest.service`
[code]

2. `systemctl daemon-reload` to pick up the unit

3. `systemctl start podm

[2018-06-04 20:21] rhatdan commented on #376
Going through old bugzillas.

buildah has a command called config, that allows you to modify a buildah container.
Maybe we add a container command

buildah container config --env LANG=foobar CONTAINERID

This would allow us to select the container configuration that we are allowed to modify.

[2018-06-04 20:23] rhatdan commented on #414
@mtrmac WDYT?

[2018-06-04 20:27] rhatdan commented on #513
Is it possible to get logrus to log both to syslog and to the screen?

[2018-06-04 20:29] rhatdan commented on #513
mw := io.MultiWriter(os.Stdout, logFile)
logrus.SetOutput(mw)

If we did this could we output to both syslog and the stdout?

[2018-06-04 20:30] rhatdan commented on #526
Where do we stand on this one?

[2018-06-04 20:31] rhatdan commented on #653
@baude We talked about this the other day.

[2018-06-04 20:33] rhatdan commented on #613
@ibuildthecloud Any comment on our suggestions?  Or should I close this?

[2018-06-04 20:33] mheon commented on #613
@rhatdan I think this is still a good enhancement, we should leave it open

[2018-06-04 20:35] mheon commented on #526
@rhatdan I think rootless buildah is the majority of this work. Once we have Podman and CRI-O on libpod, we can work out the details of running in an existing pod from there.

[2018-06-04 20:36] mheon commented on #513
@rhatdan That sounds like a good option

[2018-06-04 20:39] haircommander commented on #415
It definitely seems doable!

[2018-06-04 20:48] rhatdan commented on #605
I am going through old Issues, trying to figure out if they are still relevant.  On this one, @ibuildthecloud is this still something you are interested in?  Would this be just a directory on disk that would be handled sort of the way we handle builtin volumes in container images.

I am fine with adding this functionality and allowed to experiment.  Should there be support for quota on these volum

[2018-06-04 20:49] rhatdan commented on #148
@mheon Is this still the issue for your memory locks?

[2018-06-04 20:49] rhatdan commented on #601
@ypu Do we still have this bug?

[2018-06-04 20:50] rhatdan commented on #561
I believe this is fixed.  Please reopen if this is still an issue.

[2018-06-04 20:50] #561 closed

[2018-06-04 20:51] rhatdan commented on #541
@umohnani8 Want to take a look at --volumesfrom?

[2018-06-04 20:52] mheon commented on #148
@rhatdan Yeah

[2018-06-04 20:52] rhatdan commented on #538
We got one.

[2018-06-04 20:52] #538 closed

[2018-06-04 20:53] rhatdan commented on #520
I believe this is now fixed.  @edsantiago Please reopen if not.

[2018-06-04 20:53] #520 closed

[2018-06-04 20:53] rhatdan commented on #472
@umohnani8 Could you follow up on this one?

[2018-06-04 20:54] rhatdan commented on #458
@baude Any progress on this or should we close this as a WONTFIX?

[2018-06-04 20:55] rhatdan commented on #442
@mheon This still broken?

[2018-06-04 20:55] rhatdan commented on #439
@mheon Any progress on this?  Or does this still need @giuseppe to implement this in conmon?

[2018-06-04 20:55] mheon commented on #442
@rhatdan The bug we're hitting is 6 years old, I don't think this is getting fixed

[2018-06-04 20:57] mheon commented on #439
@rhatdan I think this is fixed in conmon

[2018-06-04 20:58] rhatdan commented on #144
This works in current podman.

[2018-06-04 20:58] #144 closed

[2018-06-04 20:58] rhatdan commented on #210
@mheon @baude What is the current state of this?

[2018-06-04 20:59] rhatdan commented on #658
I believe this is fixed now, please reopen if it still happens.

[2018-06-04 20:59] #658 closed

[2018-06-04 20:59] nathwill commented on #861
just confirming that this did resolve the issue i reported. thanks @mheon for the quick fix!

[2018-06-04 21:00] rhatdan commented on #655
@mheon What is the current state of this?

[2018-06-04 21:00] rhatdan commented on #713
@umohnani8 Could you take a look at this?

[2018-06-04 21:04] rhatdan commented on #402
@mheon Is this an issue with runc or something else?

[2018-06-04 21:05] rhatdan commented on #675
https://github.com/projectatomic/libpod/pull/871

[2018-06-04 21:07] mheon commented on #402
@rhatdan Naw, this is just our code - I think the `podman` side of things isn't setting the right error code

[2018-06-04 21:08] mheon commented on #655
The c/image fix upstream seems to be stalled.

[2018-06-04 21:09] mheon commented on #210
The current plan is to open the ports in libpod and pass their file descriptors over to Conmon, being careful not to overlap them with FDs that actually need to be leaked into the container. I don't think any progress has been made on implementing that.

[2018-06-04 21:12] umohnani8 commented on #472
@rhatdan ACK. Will keep an eye on the containers/image PR for this.

[2018-06-04 21:14] rhatdan commented on #812
https://github.com/projectatomic/libpod/pull/894

[2018-06-04 21:16] rhatdan commented on #794
The mount should be cleaned up since the mount namespace went away.

[2018-06-04 21:17] rhatdan commented on #788
I thinks @wking or someone pointed out that this was not a hash, but an ID is that correct?_

[2018-06-04 21:23] wking commented on #788
It was @mheon [here][1].

[1]: https://github.com/projectatomic/libpod/pull/816#discussion_r189617840

[2018-06-04 21:34] rhatdan commented on #737
Opened a PR to fix this. PTAL

[2018-06-04 21:37] rhatdan commented on #735
@baude Is this something we should have an intern look at?

[2018-06-04 21:39] rhatdan commented on #877
@thoraxe Were you able to see if this was fixed?

[2018-06-04 21:42] rhatdan commented on #500
Where do we stand on these issues at this point?

[2018-06-04 21:53] rhatdan commented on #354
@edsantiago PTAL at PR.

[2018-06-04 21:55] rhatdan commented on #348
Is there a way to tell firewalld that something else is managing these rules?

[2018-06-04 21:57] rhatdan commented on #262
@baude You want me to give this to someone else?  Like @haircommander?

[2018-06-04 21:58] rhatdan commented on #789
@TomSweeneyRedHat Can you take care of this one?  Update the man pages?

[2018-06-04 22:01] wking commented on #500
Low-hanging fruit for this is kubernetes-incubator/cri-o#1517 and anywhere else we can spit out a small package to replace some of CRI-O's current library code.  I don't know how far we can go with that approach, but making the integration a series of smaller pivots will probably make it easier to review.

[2018-06-04 22:08] TomSweeneyRedHat opened #898 "Add --sort parameter to ps and images commands"
**Description**

Add a --sort parameter to the `podman ps` and `podman images` commands such that you could sort the output by the variable passed in to the sort.    Currently the default sort is by created time, it would be nice to be able to sort by at least container or image name respectively.

[2018-06-05 05:27] ypu commented on #601
Yes, test with the newest code it still happen in my fedora host. Here is the version infro of podman:

# podman version
Version:       0.6.2-dev
Go Version:    go1.10.2
OS/Arch:       linux/amd64

[2018-06-05 11:13] rhatdan commented on #513
@haircommander PTAL

[2018-06-05 11:27] rhatdan commented on #439
@mheon so we have not done the second part yet for podman to tell conmon to cleanup?

[2018-06-05 11:28] rhatdan commented on #402
@haircommander PTAL

[2018-06-05 11:29] rhatdan commented on #210
@baude made any progress?

[2018-06-05 11:33] rhatdan commented on #788
Thanks @wking skimming to many issues/bugzillas.  Ok I am going to close this then.

[2018-06-05 11:33] #788 closed

[2018-06-05 11:35] mtrmac commented on #414
Yeah, `containers/image/copy.Options.Progress` exists; it might need significant extensions to be really nice, it’s just a stream of (blob ID, offset) updates with no “total number of blobs“, “blob done” or “total expected size” information), but that’s mostly local and trivial work. So, having podman show this (if it does not show the default reporting, which is text-only but more informative) is

[2018-06-05 12:27] mheon commented on #439
@rhatdan Yes. I'm not sure if we are really in a better place for this bug once that lands, though.

If conmon is manually killed in such a way that it can't create the exit file and can't clean up, we end up in a bad place, especially in the CRI-O case where we only determine exit files based on inotify for the exit file. I don't think there's a way around that.

[2018-06-05 12:52] baude commented on #210
I wasn't aware this was assigned to me.  I think this is more suited to @giuseppe due to C skills.  What do you guys think?

[2018-06-05 13:08] mheon commented on #210
@baude The new plan is to open the ports in libpod, and then leak the FDs into conmon and close them. Might still be a good job for someone with more conmon experience, because we have to do the leaking in such a way as to not interfere with the FDs we are already leaking to conmon.

[2018-06-05 16:36] afbjorklund commented on #655
And minikube still has kpod-b85d0fa (Dec 2017)

[2018-06-05 17:14] rhatdan commented on #601
[code]
I can't get it to happen?

[2018-06-05 18:09] rhatdan commented on #439
I am fine with keeping this open, but I would like to get moving on implementing this hook.

[2018-06-05 18:14] rhatdan commented on #439
@giuseppe could you look into this?

[2018-06-05 18:30] baude commented on #735
I'd prefer to fix it given the history of this code ... the larger question is if we are going to still assume -P 80 for example is both udp and tcp.  and if we are going to start respecting -P 80/tcp

[2018-06-05 18:31] baude commented on #458
I think we should close it; I know it is a sore point with some folks but the leap is going to be large to fix it.

[2018-06-05 18:42] TomSweeneyRedHat commented on #458
Anything wrong with marking it an enhancement and seeing is someone grabs it at some point?

[2018-06-05 18:58] rhatdan commented on #458
That would be fine, but I hate that the number of issues just climbs and gets crufty. I wish there was a separate place in github to list enhancements.

[2018-06-05 19:09] rhatdan commented on #500
I agree I would like to see some small PRs opened to start moving this way.  Perhaps have a large PR that is a WIP, to run the tests and then slowly merge it in.

[2018-06-05 19:29] rhatdan commented on #735
Yes I think -P 80 means both and then you have to give specific for tcp and udp.

[2018-06-05 19:30] haircommander opened #907 "Undeferred Unlock"
https://github.com/projectatomic/libpod/blob/7965bf54048044d63f967d2b4ce8efe1e1072f05/libpod/pod.go#L81

This line seems as though the unlocking should be deferred. Would there be any reason to grab a lock and immediately release it?

[2018-06-05 19:46] rhatdan commented on #907
@mheon PTAL

[2018-06-05 19:47] rhatdan commented on #907
Yes this should be a defer

[2018-06-05 19:47] rhatdan commented on #907
Open A PR TO fix.

[2018-06-05 19:51] rhatdan commented on #414
@haircommander @umohnani8 PTAL

Could you potentially work on this together.

[2018-06-05 21:15] #907 closed

[2018-06-05 22:31] #812 closed

[2018-06-06 09:46] ypu commented on #601
Hi @rhatdan

I test it with a newly installed f28 server and the output of podman logs still have problem. And following is the results:

[code]

[2018-06-06 13:01] rhatdan commented on #601
Strange, I am not seeing this, could this be something to do with language?  redirect the output of podman logs test to a file and see if their are extra white spaces in the file or extra \n?

podman is reading the ctr.log file

[code]
Could you examine that file to see if it has extra text in it.

[2018-06-06 14:45] mheon commented on #844
@vrothberg On latest master, I've actually regressed further, to the point that I get the permission denied without a restart, just using the first `podman run` command. `setenforce 0` makes no difference, so it's not SELinux. I execed into the container, and permissions on the directory look fine.

[2018-06-06 15:08] mheon commented on #844
`--cap-add=all` will allow it to succeed on overlay, so we're looking at a missing capability.

[2018-06-06 15:54] miabbott opened #912 "command arguments to `podman run` are ignored if image has entrypoint defined"
/kind bug

**Description**

Arguments passed to a container with an entrypoint defined are ignored when using `podman run`

**Steps to reproduce the issue:**

1.  Build a simple container via `buildah` with an entrypoint defined
2.  Run container with `podman run <args>`

**Describe the results you received:**

Arguments passed to the container are ignored.

**Describe the results you expected:**

[2018-06-06 15:55] miabbott commented on #912
@baude said he wanted this one

[2018-06-06 17:32] miabbott commented on #912
@TomSweeneyRedHat suggested I try `buildah run`, but that wasn't successful either:

[code]

[2018-06-06 17:50] miabbott commented on #912
I think this is related to the different ways a user can define the ENTRYPOINT in a container image.  The [Dockerfile reference](https://docs.docker.com/engine/reference/builder/#entrypoint) describes the two variants of the ENTRYPOINT:  exec form and shell form.

If I build a similar container with a Dockerfile that uses the shell form of the ENTRYPOINT, I hit the same error:

[code]

However, If

[2018-06-06 18:31] robodendron opened #913 "No network connection when `podman build`ing with Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

When I build a trivial image with `buildah bud -f Dockerfile.trivial`, I have network access within the Dockerfile `RUN` stanza. When I use `podman build -f Dockerfile.trivial`, I do not.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The error above.

**Describe the results you expected

[2018-06-06 18:42] rhatdan commented on #912
We have a recent PR to allow the specification of the '["/usr/bin/curl"]' $ctr

https://github.com/projectatomic/buildah/pull/736

[2018-06-06 19:14] TomSweeneyRedHat commented on #913
@robodendron Thanks for the issue report.  Could you please also provide the output for `buildah version`?

[2018-06-06 19:14] robodendron commented on #913
Looks like this is due to podman by default enables network namespaces, while buildah does not:

[code]

I haven't found a way to override that, unfortunately.

[2018-06-06 19:16] robodendron commented on #913
@TomSweeneyRedHat Sure, amended the report.

[2018-06-06 19:38] robodendron opened #914 "`podman search` doesn't honor [registries.insecure]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Description**

When I try to `podman search --registry localhost:5000 some/image:tag`, I get the usual HTTP/HTTPS mismatch error. Unfortunately there's no way to override that with `podman search --tls-verify` or `[registries.insecure]`.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

`ERRO[0000] er

[2018-06-06 19:46] TomSweeneyRedHat commented on #913
Thanks @robodendron and thanks for the digging and further reports, very helpful on both counts.

[2018-06-07 03:09] ypu commented on #601
Hi @rhatdan
Here is the content of the log file:

[code]

[2018-06-07 05:04] rhatdan commented on #914
@haircommander PTAL

[2018-06-07 05:07] rhatdan commented on #860
@haircommander PTAL

[2018-06-07 07:53] giuseppe commented on #858
@rhatdan we already have that since https://github.com/kubernetes-incubator/cri-o/pull/1366

[2018-06-07 10:38] BenHall opened #919 "Build failing - Golang 1.9.4"
Following the install.md instructions, the build appears to be failing with:

[code]

I've tried make install.tools and it pulls certain projects, but not varlink
[code]

[2018-06-07 13:13] rhatdan commented on #601
For the same tests I am seeing.
[code]
@mrunalp @mheon Any ideas?

[2018-06-07 13:14] rhatdan commented on #601
@ypu What language setting are you using?
[code]
Could this be some unicode interation?

[2018-06-07 13:37] rhatdan commented on #858
RIght but we need to plumb this into podman so that it uses it to cleanup on detatched containers.

[2018-06-07 13:38] rhatdan commented on #858
Perhaps have a call like:
[code]

[2018-06-07 13:45] rhatdan commented on #919
make valink_generate

[2018-06-07 14:00] BenHall commented on #919
Doesn't seem to exist in the makefile

[2018-06-07 14:11] rhatdan commented on #919
Are you working off of master?

[2018-06-07 14:15] BenHall commented on #919
Yes

[2018-06-07 14:17] BenHall commented on #919
Sorry, I was looking at the wrong error. Here is the correct error:

[code]

[2018-06-07 14:27] BenHall commented on #919
I had an incorrect GOPATH configured.

Thanks for the help, sorry for the distraction.

[2018-06-07 14:27] #919 closed

[2018-06-07 14:30] rhatdan commented on #919
Just happy there was not a bug.

[2018-06-07 18:15] rhatdan commented on #746
@mrunalp Suggests that we should go back to runc run, rather then using runc create/start.  He believes this is the best way to run runc, and that the PR opened by @giuseppe is not likely to get merged.

@mheon @baude Why did we switch to runc crate/start?  Can we go back?
@mrunalp Any comments?

[2018-06-07 18:38] haircommander commented on #898
Any other parameters that would be useful to sort @TomSweeneyRedHat ? Once one option is implemented it should be fairly easy to do any others.

[2018-06-07 18:56] #402 closed

[2018-06-07 19:05] rhatdan commented on #898
Name, Size, and Date are the three obvious ones, but I think any field is fine.

[2018-06-07 20:07] edsantiago commented on #520
I don't think it's quite right yet. In particular, the ID of the base image seems to be getting lost:
[code]
On the second line, I was expecting to see `cc510acfcd70` (ID of fedora image), not `<missing>`. Comparing to docker:
[code]
I don't have privs to reopen an issue on this repo.

[2018-06-07 20:34] TomSweeneyRedHat commented on #898
+1 @rhatdan's thinking.  I think if you can specify the field in the format param, you should be able to sort on it.  As an FYI, they're listed on the ps man page.  For this pass I'd only worry about doing a one-way sort, i.e. Sort by name, not a Sort by name, then secondary sort by date, then final sort by size type of thing.

[2018-06-07 20:37] edsantiago opened #923 "[obscure] podman run --rm --cgroup-parent ... : iptables EPERM"
Scratching my head over this one:
[code]
Repeating the command (e.g. `!!`) results in good output, no warnings. To reproduce, change the cgroup name (e.g. `aa.slice`, `aaa.slice`, etc) or:
[code]
The `--rm` seems important; I can't seem to reproduce using just `podman run` and subsequent `podman rm`.

podman-0.6.2-1528392993.gitcf7c829.fc28.x86_64

[2018-06-07 21:41] rhatdan commented on #923
This is an SELinux issue/race condition.  I have a fix for it, should be fixed in tomorrows release.

[2018-06-07 21:42] rhatdan commented on #923
https://github.com/projectatomic/libpod/pull/906

[2018-06-07 21:43] rhatdan commented on #914
@TomSweeneyRedHat @mtrmac Here is a case for insecure registries.

[2018-06-07 21:43] rhatdan commented on #913
This is fixed in master and will be fixed in tomorrows release.

[2018-06-07 21:43] #913 closed

[2018-06-07 21:45] rhatdan commented on #898
@haircommander fix it for images first.

[2018-06-07 21:54] rhatdan commented on #852
I think this is fixed with the latest container-selinux.  Reopen if this is still an issue.

[2018-06-07 21:54] #852 closed

[2018-06-08 02:35] ypu commented on #601
My $LANG in the test machine is here:

[code]

And the env is like this:

[code]

[2018-06-08 09:37] rhatdan commented on #884
Rawhide is automatically built daily from anything that we checked in that day.  So most likely this is already in rawhide.  Will be in the weekly build by tomorrow.

[2018-06-08 21:22] mtrmac commented on #914
This is a reasonable use case, but if you are referring to the earlier conversation in https://github.com/projectatomic/buildah/pull/759 , I don’t think this is an argument for mixing the “insecure” and “search” lists.

[2018-06-11 17:01] edsantiago opened #928 "podman run: -a is not an alias for --attach"
`podman run -a` is documented (and, as best I can tell, implemented) as a flag alias for `--attach` but:
[code]

podman-0.6.3-1528484991.gitb78e7e4.fc28.x86_64

[2018-06-11 19:29] edsantiago opened #930 "podman rmi <multi-arg>: can leave untagged images"
`podman rmi IMG1 IMG2`, where IMG1 == IMG2 except for the tag, seems to be removing the tags but not actually the images themselves:
[code]
Running individual `rmi` commands works fine; the first one untags, the second removes:
[code]
podman-0.6.3-1528484991.gitb78e7e4.fc28.x86_64 and podman-0.5.4-1527007540.git926d07d.fc27.x86_64

[2018-06-11 19:57] baude commented on #930
ill like at this along the way

[2018-06-11 20:45] edsantiago commented on #580
Fixed in podman-0.6.2-10.git72c0b4f.fc28.x86_64

[2018-06-12 11:53] vrothberg commented on #928
This issue has been fixed with commit ab72130650c7, so we can close it.

[2018-06-12 12:05] #928 closed

[2018-06-12 12:38] vrothberg commented on #930
I found a fix for that. @baude, I hope you're cool with me jumping in (I'll take the risk).

[2018-06-12 13:17] rhatdan commented on #930
@baude is on PTO and is not supposed to be working.  He will get over it.

[2018-06-12 13:38] #930 closed

[2018-06-12 14:18] mheon commented on #912
I consider this more of a `buildah` issue than Podman - we're handling the entrypoint correctly, the issue was with the entrypoint being set in the image. As such, I think we can close this. @rhatdan agree?

[2018-06-12 15:00] tmds opened #935 "Using libpod from something else than go"
Can libpod be used from other programming languages than go? Is there a C api?

Thanks

[2018-06-12 15:06] mheon commented on #935
As of now, we do not have a C API at present (though, if someone was willing to navigate the mess that is calling Go from C, we'd be happy to accept one!). At present, your best bet is likely to be the Podman varlink API - I believe there are C bindings for Varlink.

[2018-06-12 15:07] TomSweeneyRedHat commented on #935
There's work well under way to provide a VarLink (https://varlink.org/) API under libpod/pkg/varlink.  I know work is ongoing for Python and you can use VarLink with C from what I know, but I've not tried it.

[2018-06-12 15:11] mheon commented on #935
@TomSweeneyRedHat That's `cmd/podman/varlink` actually

[2018-06-12 15:22] tmds commented on #935
varlink... interesting. How does the program consume the varlink api? Is there a daemon on the other end?

[2018-06-12 15:27] mheon commented on #935
@tmds Sort of. We launch a Podman process on the other hand to handle the request. It can act as a daemon, but usually it dies after a few seconds of not servicing requests.

[2018-06-12 15:32] tmds commented on #935
Thanks everyone!

[2018-06-12 15:32] #935 closed

[2018-06-12 16:21] rhatdan commented on #912
Yes.

[2018-06-12 16:21] #912 closed

[2018-06-12 16:42] rhatdan commented on #935
@tmds What were you wanting to do with the API or library?

[2018-06-12 18:28] tmds commented on #935
@rhatdan I didn't have an explicit goal in mind. I wanted to check out the API to understand better what I can do with libpod.

[2018-06-12 18:41] rhatdan commented on #935
Ok. the goal of libpod is to allow tools like cri-o and podman deal with containers and pods.  We would hope that potentially others would come along to also build tools to use the library.  We had no goal to allow it to be used by tools other then GOLang.

varlink is all about an API into the podman command.  So you could execute podman commands via languages like python and javascript (Cockpit?)

[2018-06-13 07:16] vrothberg commented on #458
I've been looking into Moby's code and the basic assumption is that the last column is always CMD, so we can "merge" all exceeding columns into one. A fix for libpod is here: https://github.com/projectatomic/libpod/pull/939

[2018-06-13 08:08] vrothberg commented on #439
@rhatdan I wonder if it makes sense to break conmon out into a dedicated project. I know there are pros and cons, but it would make packaging much easier and maybe even testing as we could make tests depend on CRI-O and Podman.

[2018-06-13 08:12] vrothberg commented on #526
@mheon Out of curiosity: How's the CRI-O port on libpod going?

[2018-06-13 08:20] vrothberg commented on #613
I can pick that up if you want to, and would follow @mheon's inital proposal to map cp to mount, cp, unmount. Are you okay with that?

[2018-06-13 10:06] rhatdan commented on #439
Yes we have talked about moving conmon out into its own package.

[2018-06-13 10:33] vrothberg commented on #838
Closing as it has already been fixed with https://github.com/projectatomic/libpod/pull/897

[2018-06-13 10:33] #838 closed

[2018-06-13 10:51] jwendell opened #940 "Podman is not honoring the --memory run flag"
/kind bug

It seems podman is not honoring what is passed via --memory flag to run subcomand.
I created a [small C program](https://gist.github.com/jwendell/0e22fb0b18efaf696ba46eca83cc9f0f) that allocates an amount of memory passed via argv[1]. Build it with `cc mem.c -o mem`.

Now let's start podman:
`podman run --rm -it -m 4M --name jw centos:7 bash`

From other terminal, copy `mem` binary to t

[2018-06-13 11:08] vrothberg commented on #844
For whatever reason, I am now also able to reproduce on btrfs.

[2018-06-13 11:48] mheon commented on #940
Our cgroup memory limits do seem to be taking affect (`sudo podman run -t -i --rm --memory 8mb fedora cat /sys/fs/cgroup/memory/memory.limit_in_bytes`). I wonder if this is the kernel lazily allocating the requested memory (though `calloc` should be zeroing the memory...)

[2018-06-13 12:00] jwendell commented on #940
Yeah, that was my first thought when I was testing it with `malloc`. Then I switched to `calloc` and also added a fake usage of that pointer through a loop.

[2018-06-13 12:02] mheon commented on #940
Can you `cat /sys/fs/cgroup/memory/memory.limit_in_bytes` inside the container and verify that the number looks accurate?

[2018-06-13 12:04] jwendell commented on #940
Yeah, it does.

[2018-06-13 12:05] mheon commented on #940
Hmmm. Any chance you can pastebin or gist the code for the test executable, so I can see about reproducing locally?

[2018-06-13 12:05] mheon commented on #940
Nevermind, I see you already linked it. Oops.

[2018-06-13 12:40] rhatdan commented on #613
Im fine with it.  My  only concern is handling multiple mounts/unmounts and making sure we handle this correctly.

[2018-06-13 12:41] mheon commented on #613
I think mount/unmount session-based concurrency would need to happen first

[2018-06-13 14:15] mheon commented on #940
After some experimentation with `top`, it seems like the virtual memory in use is uncapped, but the amount of physical memory actually in use is always below the cap set. I still need to verify the expected behavior with Docker

[2018-06-14 09:54] marcov commented on #844
I can also replicate the bug using a locally compiled podman (65033b5).
For me the bug is  already happening on the very first run of the container.

The problem seems related to wrong write permissions for the folder `/var/lib/mysql/data`. Running `ls -ls /var/lib/mysql` from inside the container:
`0 drwxr-xr-x 1 root root 0 Jun 14 08:51 data`

Given that the container is run as user `mysql`, wri

[2018-06-14 11:46] rhatdan commented on #844
So podman is creating a volume on disk and mounting it on /var/lib/mysql/data owned by root:root rather then mysql:root

[2018-06-14 13:37] mheon commented on #844
In Docker, the directory is 775 mysql:root. In Podman, it is 755 root:root.
I suspect that Docker may be using the owner and permissions of the parent directory of the image volume, as the permissions on their volume are identical to the ones on the directory containing the volume.

[2018-06-14 15:54] marcov commented on #844
I hacked together a patch to assign the correct owner and permissions to the volume folder (@rhatdan approach is maybe better).

With this patch write access works for the mysql user but now I can actually fall in the bug as originally reported, that is the start command following a stop does not remount the volume correctly.

After the start, an  ```ls -ls /var/lib/mysql/data```  from inside the

[2018-06-14 16:45] marcov commented on #844
I just tested with  other images configured to use a volume.
The problem with volume remount when doing stop + start is there as well, so it's definitely something to investigate.

[2018-06-14 16:47] mheon commented on #844
@marcov Thanks for the patch. I'll look into getting it merged this afternoon (might need to change it a bit for userns support).

Agree that the original bug still seems to be present with it applied.

[2018-06-14 18:05] mheon commented on #940
I tried with Docker, and I couldn't even get `gcc` installed as `dnf` OOM'd. I think this is pretty clear evidence that, whatever we're doing with memory limits, it does not match what Docker does. Going to investigate further.

[2018-06-14 18:12] mheon commented on #940
Alright, it looks like we're setting the memory cgroup correctly, but the memsw (memory + swap total) cgroup is not being set. Docker seems to default it to double the memory limit you set if not explicitly overridden, so we'll go with that.

[2018-06-14 18:20] mheon commented on #940
Should be fixed by #946

[2018-06-14 19:57] mheon commented on #858
I've confirmed that even commands that should run `cleanup()` are not removing the network namespace (in this case, `podman stop` on a detached container).

[2018-06-14 19:58] mheon commented on #858
Correction, `stop()` just calls `cleanupStorage()`. That needs to be fixed...

[2018-06-14 20:01] mheon commented on #858
Confirmed that, even with a full cleanup, the network ns is still being left open. It looks like anything in a new process won't remove the network ns on `cleanup()`

[2018-06-14 20:10] mheon commented on #858
Alright, I think I've located the offending code.

https://github.com/projectatomic/libpod/blob/master/vendor/github.com/containernetworking/plugins/pkg/ns/ns_linux.go#L127-L135

`ns.mounted` is only ever set when creating a new namespace, not opening an existing one. As such, when we open the namespace in a new process to clean it up, it will not execute this cleanup code.

[2018-06-14 20:16] mheon commented on #858
The simplest way to deal with this is probably to fire the unmount and remove unconditionally and ignore EEXIST and the like

[2018-06-14 20:34] mheon commented on #858
Opened #949 to fix

[2018-06-14 20:37] mheon commented on #730
@aalba6675 Can you try this with Podman 0.6.2 to see if it's fixed? We execute postrun hooks ourselves now, instead of calling out to `runc`, so cleanup of the mounts should be happening now.

[2018-06-14 20:40] mheon commented on #835
@giuseppe Mind taking a look at this one? We'd like `conmon` to make the attach socket earlier in its lifetime, before it starts `runc`, to try and avoid a timing issue.

[2018-06-14 20:42] mheon commented on #601
Can't reproduce this over here as well. @ypu Are you testing on a VM? AWS?

[2018-06-14 20:43] mheon commented on #923
With #906 merged is this fixed?

[2018-06-14 20:45] mheon commented on #877
Reproduced this on master, so it's definitely still an issue. I wonder if this is our parsing code, or c/image?

[2018-06-14 20:49] mheon commented on #737
Should be fixed now that #895 is merged

[2018-06-14 20:49] #737 closed

[2018-06-14 20:50] mheon commented on #442
I want to take another look at this before we move into CRI-O. Maybe a custom encoder/decoder for the one struct in question?

[2018-06-14 21:27] edsantiago commented on #923
Unable to reproduce with podman-0.6.2-10.git72c0b4f.fc28

[2018-06-14 23:39] wking commented on #442
Are there particular operations where JSON (de)serializing is a bottleneck?  I'd expect Go's stdlib parser/serializer to be fast enough for most cases.  And when it isn't fast enough, I'd expect we'd want to move to a database (SQLite?) instead of using a speedier JSON (de)serialization library.

[2018-06-14 23:47] mheon commented on #442
@wking We use a lightweight key-value database (https://github.com/boltdb/bolt)  for storing our state, and currently encode container and pod state in JSON before storing it. As such, we have two or three intensive decode operations to retrieve a container, and the speed advantage from swapping to faster serialization/deserialization method could be considerable. We could also investigate swappin

[2018-06-15 08:04] giuseppe commented on #835
hm.. I see there is no race in conmon when the attach socket is created, as podman blocks on receiving the container PID which is sent by conmon after the attach socket is created.  I was not able to reproduce this issue.  I wonder if it depends on a change we did in conmon that correctly reports the exit status of a container now (before it was reporting 0 when the container was signaled) and pod

[2018-06-15 08:30] ypu commented on #601
Hi @mheon
I use a kvm vm and installed it with fedora 28 release server. The system is updated after install.

[2018-06-15 09:16] #858 closed

[2018-06-15 09:45] #940 closed

[2018-06-15 10:30] rhatdan commented on #877
@mtrmac WDYT?

[2018-06-15 18:15] marcov commented on #844
I found the original bug reason: the ```Source``` field of the ```spec.Mount``` is left uninitialized when
restarting a container, leading to mounting an incorrect path instead of the volume path on the host.

I am submitting a pull request with the fix to this problem and other improvements.

[2018-06-15 19:48] #914 closed

[2018-06-15 19:49] haircommander commented on #914
closed because #932 successful merge

[2018-06-15 21:55] mtrmac commented on #877
The `docker.io/centos/nginx-112-centos7@sha256   423…` output is a display matter: see how `cmd/podman/images.go` more or less always expects a tag to exist, and in particular `libpod/image/ReposToMap`.

The ```
        "RepoDigests": [
            "docker.io/centos/nginx-112-centos7@sha256@sha256:b63…"
        ],
[code]

[2018-06-15 22:12] mtrmac commented on #877
FWIW looking at c/image/storage, it seems that `Image.Names` should be parseable with `c/image/docker/reference.ParseNormalizedNamed` — OTOH those who fail this parsing are ignored, in c/image/storage, so I don’t know whether there are any other acceptable values.

[2018-06-16 00:29] mtrmac commented on #877
It does - it is a digest of the `:latest` tag, which is the one actually pulled:

- `imageParts` can not represent digest references at all; so, `decompose` drops the digest on the floor, and applies a default tag `latest`; so, that’s what gets actually pulled (and the result is then tagged in containers/storage with the original digest reference).
- (Secondarily, `decompose` relies on `c/image/do

[2018-06-16 17:36] rhatdan commented on #601
@ypu Can you let me access this machine, via private email.

[2018-06-17 00:56] thoraxe commented on #730
I was able to cause this problem with 0.6.2 but I'm not sure how to reproduce it or unmount the cgroups...

[2018-06-17 01:00] thoraxe commented on #836
I am seeing this on CentOS 7 with podman 0.6.2 trying to run a CentOS7 systemd container (`quay.io/thoraxe/openshift-centos-samba` specifically)

[2018-06-17 01:20] thoraxe commented on #836
By the way, on CentOS7:

[code]

[2018-06-17 22:43] 42wim commented on #541
regarding to `--ip` and `--ip6`

Can already be done by running `CNI_ARGS=IP=10.88.1.142 podman run ...` or `CNI_ARGS=IP=2001:0db8::42 podman run ...`

Unfortunately not possible specifying both at the same time

[2018-06-17 22:55] mheon commented on #541
Doesn't look like the CNI API exposes the ability to set this outside of environment variables, which is somewhat disappointing.

[2018-06-17 22:57] mheon commented on #541
Also, once the `--volumes-from` PR from @umohnani8 gets merged, I think we can close this, as the flags are removed or implemented. We should open a separate issue to track potentially supporting `--ip` (and poke at the CNI maintainers to ask if it's doable).

[2018-06-18 00:36] baude commented on #541
should we be filing an issue on CNI to make these exposed?

[2018-06-18 11:50] vrothberg opened #956 "podman-run: improve "name already in use" error message"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

podman-run's error message when setting a name that's already being used by another container could be more verbose to guide less seasoned users in the right direction (e.g., chosing another name or removing the other container). It would also be helpful to actually print the name (easier to read logs).

Currently, the output looks as

[2018-06-18 12:37] vrothberg commented on #956
@rhatdan, I had a look at the code and I think that this is something affecting more error cases (see https://github.com/containers/storage/blob/master/errors.go). I think that all conflict scenarios could be improved to print the source of the conflict (not only the fact), such as "name XYZ already in use by containers/image ABC" etc. I suggest opening an issue for containers/storage instead and

[2018-06-18 12:56] #458 closed

[2018-06-18 12:58] rhatdan commented on #541
Yes, and closing this issue and making a new one focused on networking issues is a good idea.

[2018-06-18 13:16] rhatdan commented on #956
SGTM

[2018-06-18 13:28] mheon commented on #956
We can also handle most basic cases ourselves by adding a check for pods and containers with the same name before https://github.com/projectatomic/libpod/blob/master/libpod/runtime_ctr.go#L108 - right now, if you don't manually specify a name, we will ensure one without conflict is found, but manually specifying will cause you to hit c/storage and get an error back from them. Checking ourselves wi

[2018-06-18 13:56] vrothberg commented on #956
@mheon I think `containers/storage` is the best place to do all that. I guess your proposal is orthogonal to that, but I can imagine running into race conditions.

[2018-06-18 13:57] mheon commented on #956
@vrothberg True. Least racy place to do it would be c/storage.

[2018-06-18 16:43] kushaldas commented on #580
Using  podman-0.6.2-10.git72c0b4f.fc28.x86_64 in one vm, I am not getting the echo in that example command.

[code]
Only pressing `Ctrl+d` disconnects from the container.

[2018-06-18 16:48] mheon commented on #580
@kushaldas Multiple attaches (a `podman attach` after `podman run`) or just one?

[2018-06-18 16:54] edsantiago commented on #580
@kushaldas first of all, I would not expect ^C or ^Z to have any effect on an interactive cat. However: in your excerpt, are you typing `Hello` followed by enter, and then _not seeing a second Hello_? That's alarming. If this is the case, what is your `$TERM`?

[2018-06-18 17:10] edsantiago opened #959 "podman stop: new long list of failure messages"
In window 1:
[code]
In window 2: `podman stop foo`

After the 10-second timeout, the command in window 1 reliably spits out a long list of warnings:
[code]
podman-0.6.3-1.gitcd39b62.fc28 , also fc27

[2018-06-18 17:18] mheon commented on #959
Confirmed locally.

It's trying to run `cleanup()` after the container executes, but for some reason it thinks the network ns still exists after cleanup?

Investigating

[2018-06-18 17:24] edsantiago commented on #923
Seeing this again, but inconsistently (fails one out of 3-4 runs), on podman-0.6.3-1.gitcd39b62.fc28

Can someone with privs please reopen?

[2018-06-18 17:31] marcov opened #961 "podman log messages do not print carriage return when using --tty flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**

When using podman to run a container with the --tty flag, the log messages printed with the --log-level option do not include the carriage return.

**Steps to reproduce the issue:**

```podman --log-level info run --tty --rm hello-world```

**Describe the results you received:**
The following output:
[code]

**Describe the results you

[2018-06-18 17:34] mheon commented on #959
It's definitely a duplicated `cleanup()` in `podman run` - but I'm really confused as to why. `cleanup` should be harmless (will exit early if cleanup is already complete).

[2018-06-18 17:36] mheon commented on #961
This is a side effect of setting raw mode on the terminal. Would definitely be nice to fix.

[2018-06-18 17:43] mheon commented on #959
Wait, I know what this is. `syncContainer()` is trying to clean up & close the network namespace as part of `UpdateContainer()`.

[2018-06-18 17:47] mheon commented on #959
I think we can safely make these errors nonfatal, given that the namespace is already gone. Not sure if we can easily get rid of the error logging though.

[2018-06-18 17:51] mheon commented on #959
Yeah, I don't think we can get rid of the error logs, they're coming from the CNI network namespace handler, not our code. A fix to make this not a fatal error is on the way though.

[2018-06-18 17:54] TomSweeneyRedHat commented on #923
FWIW, I ran into this once today during two baseline test runs.  I shrugged it off as a network hiccup, perhaps too quickly.

[2018-06-18 17:55] mheon commented on #959
Opened #962 to address

[2018-06-18 18:07] mheon commented on #730
Verified here. We're further than we were before - `oci-systemd-hook` is actually running. Now it's throwing errors. This may actually be an `oci-systemd-hook` bug.

[2018-06-18 19:36] rhatdan commented on #961
Is this a recent change?

Or is this something we need to change in logrus?

[2018-06-18 19:41] mheon commented on #961
I don't think anyone has bothered looking at this in a while. Could be a simple change in logrus, or even a config option we're not setting?

[2018-06-18 20:20] rhatdan commented on #923
Ok I looked into this, and it is caused by a bad selinux library.
https://github.com/opencontainers/selinux/pull/29

[2018-06-18 20:46] ajacocks commented on #835
@giuseppe Yes, indeed, I can still reproduce it on RHEL7.5-current:

[code]
And here are the logs, as requested:

[code]
Hopefully this helps.

[2018-06-18 21:31] giuseppe commented on #835
I've tried on RHEL 7.5 with podman version 0.4.1 and I am still unable to reproduce this issue.

Could you please attach any output from conmon that you see in the journal?

[2018-06-18 21:35] ajacocks commented on #835
@giuseppe Your wish is my command, sir!

[code]

[2018-06-19 07:07] vrothberg commented on #956
I opened an issue for containers/storage (see https://github.com/containers/storage/issues/189). I suggest keeping the one here open until we can re-vendor improved error message from containers/storage.

[2018-06-19 08:32] giuseppe commented on #835
@ajacocks thanks a lot!  That helped to understand.  It seems like the container terminates so quickly that conmon deletes the attach socket during the cleanup and podman doesn't find it.  We should handle the ENOENT differently from podman as it means the container was already terminated

[2018-06-19 08:44] giuseppe commented on #835
hm.. that should not happen though, as the container is started after the console was attached.  I need to investigate it further

[2018-06-19 09:14] giuseppe commented on #835
@rhatdan, @mheon I think the issue is here:

https://github.com/projectatomic/libpod/blob/master/libpod/container_api.go#L178-L192

We do the attach from a goroutine, but the `c.start()` might happen before the `attach` is done.  We'll need to change how  `c.attach()` works and be able to plug the start immediately after the `net.DialUnix` is done.

[2018-06-19 09:59] marcov commented on #961
A way to fix this is to alternate between the default logrus text formatter and a raw text formatter whenever the terminal is in raw mode.

The raw text formatter can just append an extra ```\r``` to the default text formatter:
[code]
I tested this locally and it looks good. Do you want me to submit a PR?

[2018-06-19 12:51] baude commented on #961
yes please

[2018-06-19 12:58] edsantiago opened #963 "podman build --quiet: isn't"
It's not entirely clear how `--quiet` should work, but I think it needs fine-tuning.
[code]
The `aaa` and hash are on stdout; progress indicators on stderr. IMO with `--quiet` the only thing I want to see is the hash on stdout.

[2018-06-19 13:01] mheon commented on #730
I spent some more time debugging this yesterday. New conclusions:

- `oci-systemd-hook` is being correctly called and is running, but incorrectly has a dependency on the `PID` part of state and will refuse to start if it is not set in the post-hook. This is nonsensical, as postdelete hooks run after the container has definitely stopped and does not have a PID. Fix for this will need to be in oci-s

[2018-06-19 13:07] mheon commented on #877
@baude This seems like an issue with the image name parsing code, if we can't even recognize/handle digests

[2018-06-19 13:18] rhatdan commented on #730
Matt did you attempt to remove the pid failure, and it still failed to find the directory or was this just on a non systemd container

[2018-06-19 13:22] mheon commented on #730
@rhatdan I do believe we had another error, let me see what that was

[2018-06-19 13:59] rhatdan commented on #835
Please create a patch.

[2018-06-19 14:04] mheon commented on #835
And we'd just removed the syncronization calls from `attach()`... Damn it.

[2018-06-19 14:38] giuseppe commented on #835
@mheon is it something we can easily revert?

[2018-06-19 14:40] mheon commented on #835
@giuseppe Don't think so, I did a large refactor to implement `--attach` and the sync primitives were one of the casualties. Thought they were unnecessary if we just ordered the calls in `StartWithAttach()`

[2018-06-19 14:53] rhatdan commented on #963
Fixed by #964

[2018-06-19 14:53] #963 closed

[2018-06-19 15:10] giuseppe commented on #835
Ok thanks.  I will work on a patch as tomorrow I am back from PTO

[2018-06-19 15:10] kushaldas commented on #580
In both cases.

[2018-06-19 15:11] kushaldas commented on #580
[code]

[2018-06-19 15:13] rhatdan commented on #730
So in this case everything was cleaned up correct?

[2018-06-19 15:14] mheon commented on #580
Hm. Sending EOF via `Ctrl-D` exits attach... If you run a `bash` container and type in `exit`, will it also exit? I want to see if input is being correctly forwarded into the container. Output is definitely not making it out.

[2018-06-19 15:19] mheon commented on #730
It looks like everything is being cleaned up with no volume mounts present, but I'm not 100% sure, given that `oci-systemd-hook` is still throwing errors. With volume mounts, I can't get systemd to do anything except exit instantly, so I think I must be doing something wrong.

[2018-06-19 15:21] kushaldas commented on #580
@mheon if I use `-it`, then nothing happens on the terminal, it just stays hanged there.

[2018-06-19 15:21] mheon commented on #730
I can confirm that, while the container is exiting instantly if mounts are present, it is leaving mounts lying around in `/tmp`.
`
tmpfs on /tmp/ocitmp.Rvr8xj type tmpfs (rw,nosuid,nodev,relatime,context="system_u:object_r:container_file_t:s0:c172,c562",size=65536k,mode=755)
tmpfs on /tmp/ocitmp.Rvr8xj/.containerenv type tmpfs (rw,nosuid,nodev,seclabel,mode=755)
tmpfs on /tmp/ocitmp.Rvr8xj/secrets

[2018-06-19 15:23] mheon commented on #580
Alright, so input is not being forwarded either, then

[2018-06-19 15:24] kushaldas commented on #580
It seems so,

[code]

[2018-06-19 15:45] haircommander commented on #898
closed because #948 and #937 merge

[2018-06-19 15:45] #898 closed

[2018-06-19 18:04] mheon commented on #959
Fixed by #962

[2018-06-19 18:04] #959 closed

[2018-06-20 00:56] aalba6675 commented on #730
@mheon I think you are seeing cascading effects of bugs:

The `/tmp` stuff is due to default `mount --make-shared`; the container startup bails leaking the `ocitmp` mount; Reported here https://github.com/projectatomic/oci-systemd-hook/issues/92

#893 - may also be a duplicate of this bug; it you don't clean up the cgroups mount manually on the host after your ExecReload, the cgroup will leak and

[2018-06-20 01:04] mheon commented on #730
@aalba6675 I think #893 is probably separate, as the CGroups mounts aren't being created there - `oci-systemd-hook` will only run on containers with `init` set as command, which is not true for the containers there. Therefore, we shouldn't have any CGroup mounts present at all there. I think that might be a result of our CGroup handling conflicting with systemd's.

On `/tmp` - my development VM is

[2018-06-20 01:05] aalba6675 commented on #730
A workaround is to patch the template to `/tmp/oci/octmp.XXXX` and have `/tmp/oci` `--make-private`.

[2018-06-20 07:38] giuseppe commented on #835
PR here: https://github.com/projectatomic/libpod/pull/970

[2018-06-20 12:14] rhatdan commented on #730
First off we should probably not use /tmp at all, except for when we are doing this as a non privileged user.  We should be doing this under /run/libpod

[2018-06-20 12:21] edsantiago commented on #714
Ping, I'm still seeing this, podman-0.6.3-1.gitcd39b62.fc28

[2018-06-20 12:51] aalba6675 commented on #730
On Fedora 28 /run has shared propagation, so this would at least need a tmpfs at /run/libpod/tmp with private propagation then use a template like /run/libpod/tmp/ocitmp.XXXXXX.

[2018-06-20 12:56] rhatdan commented on #730
How about https://github.com/projectatomic/oci-systemd-hook/pull/98 to fix this?

[2018-06-20 12:56] rhatdan commented on #730
Could you try it out.

[2018-06-20 13:12] mheon commented on #961
Closed by #967 - thanks for fixing this @marcov

[2018-06-20 13:12] #961 closed

[2018-06-20 13:16] rhatdan commented on #714
Yup noone has worked with upstream on this issue.

[2018-06-20 17:30] rhatdan commented on #956
Closing sine it has been vendored.

[2018-06-20 17:30] #956 closed

[2018-06-20 17:31] rhatdan commented on #923
Closing again since this has been vendored. Hopefully it is fully fixed.

[2018-06-20 17:31] #923 closed

[2018-06-20 17:34] rhatdan commented on #746
@giuseppe @mheon I would like to get this fixed.  @mheon what happens if we go back to just run?

[2018-06-20 17:35] rhatdan commented on #601
Urvashi could you take a look at this @mrunalp suggests that there is code in kubernetes that we can take that handles the processing of the log and properly handles the F and P Flags, still do not know why this machine works differently then our  machines.  But the way we handle this now is broken.

[2018-06-20 17:36] rhatdan commented on #661
@dcbw Suggested a fairly easy way for us to handle this problem by specifying the config file.  Can we do this?

[2018-06-20 17:43] giuseppe commented on #746
in order to use "run", we will need to add this functionality to conmon as well.  Beside the additional step, it will be a problem to properly attach to the socket.  In the create+start sequence we have the time to connect to the UNIX socket before starting the container.  With "run" this part will be always racy as the container starts immediately before podman can connect to the socket.

[2018-06-20 17:53] rhatdan commented on #746
Can you work on this?

[2018-06-20 18:00] wking commented on #746
Using `runc run` instead of `create` / `start` means you'll probably only work with runc.  I don't expect the runtime-spec maintainers to revert opencontainers/runtime-spec#384 after all the discussion that went into that change, and there's no longer a `run` operation defined in the runtime spec.  Also, if we punt to `runc run ...` for the `podman run ...` case, won't we still be exposed to under

[2018-06-20 18:04] rhatdan commented on #746
I'm looking for a way to get sd-notify to work.  It would be nice if this could work in the case of kata containers and others, but it is a cool feature that Docker can not do.

If we can get this into create/start it would be best, but runc does not seem willing to merge it.

I though the podman create/start case would be handled by just doing a runc run.  podman create does not need to establish

[2018-06-20 18:04] rhatdan commented on #746
I also would like to make sure socket activation works.

[2018-06-20 18:08] mheon commented on #661
@rhatdan Need https://github.com/cri-o/ocicni/pull/12 for that, but once merged, sure

[2018-06-20 18:12] mheon commented on #746
I have some serious reservations about how `runc run` would handle our network ns code. I want to move towards the postconfigure solution @giuseppe created for user namespaces and make that standard, but that won't work with `runc run`.

Actually, I'm inclined to believe that `runc run` will also break our user namespace code because of this...

[2018-06-20 18:15] rhatdan commented on #661
Matt can you do a review for @dcbw?

[2018-06-20 18:16] mheon commented on #661
Sure, I'll give it a once-over

[2018-06-20 18:34] rhatdan commented on #836
You could try
# mount --bind /tmp /tmp
# mount --make-private /tmp
--make-private requires a mount point.

https://github.com/projectatomic/oci-systemd-hook/pull/98 should/might fix this.  I need people to try it out so we can get it merged and a new package out.

[2018-06-20 18:46] umohnani8 commented on #601
@rhatdan ACK. @ypu can I get access to the environment as well.

[2018-06-20 18:54] rhatdan commented on #601
Actually you don't need access you should be able to just create his log file

[2018-06-20 18:55] rhatdan commented on #601
[code]

[2018-06-20 18:56] miabbott opened #973 "no network traffic forwarded when using `podman run` on Atomic Host systems"
/kind bug

**Description**

There is no network access from inside the containers when doing `podman run` on an Atomic Host system.

**Steps to reproduce the issue:**

1.  Boot F28AH or RHELAH
2.  podman run --rm docker.io/alpine ping -c 3 1.1.1.1

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue

[2018-06-20 18:57] miabbott commented on #973
See downstream bugs:

https://bugzilla.redhat.com/show_bug.cgi?id=1592932

https://bugzilla.redhat.com/show_bug.cgi?id=1593419

Additionally, this can be reproduced with git master on Atomic Hosts

[2018-06-20 18:59] mheon commented on #973
We suspect this is tied to https://github.com/containernetworking/plugins/pull/75

[2018-06-20 19:09] miabbott commented on #973
Ah of course...I've actually linked that in the downstream bugs  ¯\_(ツ)_/¯

[2018-06-20 19:15] mheon commented on #973
@miabbott This has come up before, so I have the link very handy to provide for cases like this...

The good news is that the blockers upstream are hopefully close to done, so we should be seeing forward progress on it soon, hopefully.

[2018-06-20 19:22] mheon commented on #580
Got a shell on the system where this reproduces. I think I've tracked down the cause - syslog is getting spammed with
`conmon[5988]: conmon 7fb208f490dfd2229a50 <nwarn>: write_k8s_log failed`

Not sure why yet, checking the `conmon` code to see if anything jumps out

[2018-06-20 19:31] mheon commented on #580
The error seems to be in `conmon` in `set_k8s_timestamp()` - https://github.com/kubernetes-incubator/cri-o/blob/master/conmon/conmon.c#L284-L316

[2018-06-20 20:05] mheon commented on #580
I initially thought this was going to be an issue accessing the realtime clock or something similar, but we are actually producing timestamps too long for the conmon buffer

[2018-06-20 20:06] mheon commented on #580
For reference, the generated timestamp:
`2018-06-21T01:33:55.102183860+05:1800 stdout `
This comes out to 45 bytes long, while `conmon` wants only under 44 bytes for a timestamp

[2018-06-20 20:50] wking commented on #746
Time to switch to [crun][1]?  The point of standardizing the OCI runtime interface is that we can swap in alternative runtimes, and @giuseppe can push crun forward as fast as he likes.

Sticking with runc, I'm not clear on what opencontainers/runc#1807 is blocking on unless it's [the integration test request][2].  Maybe it's just runc's maintainer shortage?

[1]: https://github.com/giuseppe/crun
[

[2018-06-20 23:06] thomasmckay opened #976 "podman search fails after login"
Note that the failed search behavior below is against a newly-added feature to foreman so it could be that there is missing headers or other response information that podman is expecting. I don't have another auth-backed registry to test against to compare, though.

[code]
_podman pull_ worked fine after the login.

From registry server logs
[code]

[2018-06-20 23:10] thomasmckay opened #977 "podman search differs from docker search behavior"
If podman is meant to be a "drop-in replacement for docker" then I'd expect this to work:
[code]

I was told that I needed to use the _--registry_ option with _podman search_ but that is non-conformant with expectations.

[code]

[2018-06-21 12:11] rhatdan commented on #976
@haircommander PTAL

[2018-06-21 12:14] rhatdan commented on #977
@haircommander PTAL
podman search should go through the list of registries and search each one of them.  Not just stop at the first.

[2018-06-21 14:25] edsantiago opened #980 "podman history: missing image ID"
Related to #520

podman history is much better but still incomplete:
[code]
Note the second line; I was expecting to see `cc510acfcd70` (fedora) for image ID. Compare to docker:
[code]
podman-0.6.3-1.gitcd39b62.fc28

[2018-06-21 21:56] edsantiago opened #983 "podman run: --tty should disable --sig-proxy"
`podman-run(1)` documentation for `--sig-proxy` (copied from docker) states:
[code]
However, signals are being proxied even with `--tty=on`.

In window 1:
[code]
In window 2:
[code]
You will see 'got it' in window 1. (Expectation: no output in window 1)

podman-0.6.3-1.gitcd39b62.fc28 and .fc27

[2018-06-21 22:12] mheon commented on #983
In this case, it is the docs that are wrong.

Ages ago, I worked a bug on Docker to disable this behavior there, but it never got merged. There is no technical reason for `--tty` to conflict with `--sig-proxy` here or there. Let's fix the docs and leave behavior unchanged.

[2018-06-21 22:13] edsantiago commented on #983
WFM!

[2018-06-22 09:32] #835 closed

[2018-06-22 13:36] haircommander commented on #977
@thomasmckay can you show me the contents of your /etc/containers/registries.conf file?

[2018-06-22 14:30] #844 closed

[2018-06-22 14:30] ajacocks commented on #835
Thanks so much, everyone!

[2018-06-22 16:21] umohnani8 commented on #980
Fixed in #982

[2018-06-22 16:29] mheon commented on #983
Fixed by #984

[2018-06-22 16:29] #983 closed

[2018-06-23 19:12] TomSweeneyRedHat commented on #789
Closing this as https://github.com/containers/image/pull/465 addressed the last little piece of this.

[2018-06-25 15:41] TomSweeneyRedHat opened #990 "Error relabeling directory"
/kind bug

**Description**
While running the baseline test on the latest Podman kit, I received an "Error relabeling directory" error.  I was not able to reproduce it after several attempts and it's the first Podman test done in the baseline tests, all other tests completed successfully.  It smells like a container storage lock error.

**Steps to reproduce the issue:**

1.  Install Fedora 28 on a

[2018-06-25 15:54] TomSweeneyRedHat commented on #990
FWIW, on a newly installed Fedora 27 machine with the same kit but the F27 variant, I ran into the same error in the baseline test.

[2018-06-25 17:12] edsantiago opened #992 "podman rmi <image-referenced-by-another>: removes as well as untags"
This may be a placeholder for when `podman images --all` is implemented.
[code]
Note that `rmi` didn't just untag fedora, it seems to have removed the image even though that image is referenced by `foo`. This affects image history:
[code]
(on line 2, I would expect to see `cc510acfc`). Compare to docker:
[code]
podman-0.6.4-1.gitd5beb2f.fc28

[2018-06-25 17:46] rhatdan commented on #992
Urvashi, PTAL

[2018-06-25 18:20] edsantiago opened #994 "podman top: %CPU column is now labeled 'C'"
[code]
(some columns truncated for readability). The last column shown should be `%CPU`, not `C`. This may be related to b1e7098 but I can't figure out how.

podman-0.6.4-1.gitd5beb2f.fc28

[2018-06-25 18:21] edsantiago commented on #994
@vrothberg would you mind taking a look and seeing if this is a side effect of your recent PR? TIA.

[2018-06-25 18:59] edsantiago commented on #736
Seen again in podman-0.6.4-1.gitd5beb2f.fc28. No userns. As before, no reproducer.
[code]

[2018-06-25 19:20] mheon commented on #736
The current netns code in CNI that we're using has been deprecated. Our CNI maintainers recommended that we include (not vendor) their test code for creating network namespaces and modify it as we see fit. Unclear what the timeframe is on this change, but it ought to resolve our issues when it happens as we can rewrite the netns removal code to account for this.

[2018-06-25 20:08] edsantiago commented on #963
@rhatdan could you please double-check? I'm no longer seeing the progress messages, but still seeing output from RUN commands:
[code]

[2018-06-25 20:19] baude commented on #963
thats a buildah bug ... they are aware of it.

[2018-06-25 20:30] edsantiago opened #995 "podman ps: hangs while rm --force in progress, then chokes"
`podman rm --force` of a running container blocks for a while (expected). What I don't expect is, if I run `podman ps` while the `rm` is in progress, to have `ps` blow up on me:
[code]
In a separate window, run `podman ps -a`, confirm that containers are running. Back to the original window:
[code]
Then, quickly (before the 10-second timeout) go back to the other window and run ps:
[code]
5224 is

[2018-06-25 20:43] mheon commented on #995
I don't think we can avoid this. Maybe some sort of parallel generation for ps to avoid the locked container as long as possible, but we cannot unlock the container while kill is waiting (someone else could get in and change the state further), so we basically have to hang until the container finishes stopping and unlocks.

[2018-06-25 20:51] rhatdan commented on #995
I think the failure is fine, the problem here is the failure is fatal.  I have another PR to make these failures not fatal.  Just report the missing container and continue.

[2018-06-25 20:55] edsantiago commented on #995
I agree with @rhatdan. I don't mind the delay, and can live with the scary error message, but aborting without showing other containers is surprising.

[2018-06-25 20:55] mheon commented on #995
@rhatdan If you're talking about https://github.com/projectatomic/libpod/pull/918 that is a separate issue - `ps` just needs to handle ErrNoSuchCtr gracefully here

[2018-06-25 21:41] edsantiago opened #997 "Regression: podman push: 500 Internal Server Error"
I'm not sure if this is podman or if it's the registry image or phase of the moon.

Setup:
[code]
Phew. Now try to push:
[code]
podman-0.6.4-1.gitd5beb2f.fc28. The above was working until this build.

[2018-06-25 22:04] edsantiago commented on #997
Logs are copious and hard to analyze, but this looks suspicious:
[code]

[2018-06-25 22:11] wking commented on #997
I haven't looked at the backend code, but I'm surprised that a `podman push ...` run as root (as suggested by your `#` prompt in the initial comment) would be getting permission-denied errors.  I guess that error is from your registry's logs?  If so, seems like it's an issue with your registry (or that registry's configuration), and not a podman issue.

[2018-06-26 06:04] vrothberg commented on #994
@edsantiago you are right, that comes exactly from commit b1e7098. I agree that a `CPU` would be nicer, but the commit aimed to be compatible with Docker, which is running a `ps -ef` yielding this output. As we wanted to be compatible with Docker, I don't consider this to be an issue.

[2018-06-26 12:28] thomasmckay commented on #977
[code]

[2018-06-26 13:53] rhatdan commented on #977
@haircommander Need to vendor in latest containers/image into libpod.
https://github.com/containers/image/pull/470

[2018-06-26 13:55] rhatdan commented on #994
Does docker chop off the last two letters?

[2018-06-26 13:57] vrothberg commented on #994
@rhatdan, yes it does (see the verbatime copy below):

[code]

[2018-06-26 14:15] rhatdan commented on #994
Yuck but that is our goal.  @edsantiago If you think we should reverse this, we can change it versus Docker.

[2018-06-26 14:15] #994 closed

[2018-06-26 16:11] umohnani8 commented on #977
It does search through all the registries in the registries.conf file by default. The `--registry` flag is optional if you just want to search a specific registry. If the image is not found in a registry there will be 0 results for that registry.

[2018-06-26 16:15] rhatdan commented on #977
I would like to remove th --registry flag or at least hide it, since to me it makes little sense.

[2018-06-26 16:24] umohnani8 commented on #977
But what if you don't want ten million results because you have like 6 default registries and just want to search for an image in one registry? I can make the man page better.
I like this option because it makes search faster if I just want to search on one registry instead of waiting for results from all the default registries.

[2018-06-26 17:47] rhatdan commented on #977
I just think it is hard to discover, I am fine with it.

[2018-06-26 19:10] thomasmckay commented on #977
What is the difference between these two patterns?

_podman search --registry devel.example.com something_
_podman search devel.example.com/something_

The second one just implies a single registry and is the established pattern for existing _docker_ users. I'm find w/ searching all _registry.conf_ registries if no registry specified, but if I prefix the search with a registry it seems sensible ju

[2018-06-26 19:22] umohnani8 commented on #977
I actually had no clue that docker search did that. The help says "Search the Docker Hub for images" so i thought its search was limited to docker.io.
Will work on matching that.

[2018-06-26 19:23] TomSweeneyRedHat commented on #977
@thomasmckay +1 on the thought and thanks for the questions.  Ooop, speedy @umohnani8 beat me to the punchline though!

[2018-06-27 13:38] edsantiago opened #1006 "podman top: implement ps args"
`podman top` ignores ps OPTIONS:
[code]
This is a simple reminder so the issue is not forgotten.

(And ITM someone might want to upodate the man page, especially if the fix will take a long time)

[2018-06-27 13:40] vrothberg commented on #1006
I am planning to write a golang-lib to parse procFS, so we don't depend on `ps (1)` anymore. Other projects like Moby but also runc would benefit from it as well.

[2018-06-27 13:40] mheon commented on #1006
Agree with a manpage update being a good idea. Probably should have asked for that when I requested that we disable that arg. Oops.

[2018-06-27 13:40] edsantiago commented on #994
Thanks; it looks like this is a bug in docker, too, but I see no reason to file it. The root cause of the test failure I see is that `podman top` ignores `-waux`. Filed #1006.

[2018-06-27 14:05] rhatdan commented on #990
@umohnani8 Isn't this an known issue?

[2018-06-27 14:29] umohnani8 commented on #990
@rhatdan it was, I was seeing it a while back. The way I fixed it was nuking the storage.
https://github.com/projectatomic/libpod/issues/622 - I guess what I was seeing is slightly different that what @TomSweeneyRedHat  is seeing.
But the relabelling issue could be related to selinux? Not sure.

[2018-06-27 15:46] rhatdan commented on #990
Yes I believe this is an SELinux issue.  But the error states that the volume directory does not exist.  I thought you were working on supplying builtin images for podman/buildah.

[2018-06-27 16:09] umohnani8 commented on #990
@rhatdan I don't think this is a built-in volume issue. It is working fine for me on my F28 machine, haven't tried with F27. Smells more like a storage issue as @TomSweeneyRedHat pointed out.
Looking into it, @TomSweeneyRedHat how are you getting version 0.6.4, I am still seeing 0.6.3 even after `dnf update`.

[2018-06-27 17:17] marcov opened #1009 "podman hangs if a container run/start results in a error and tty is attached"
/kind bug

**Description**
If `podman run -t` or `podman start -a` results in some startup error, podman hangs infinitely.

**Steps to reproduce the issue:**

Trigger a runtime error of some way.

E.g. for `podman run` (trying to launch a non existing executable):
[code]

OR, for `podman start` (cannot start a paused container):
[code]

**Describe the results you received:**
podman does not exit.

[2018-06-27 17:21] marcov commented on #1009
I looked into this and it is caused by a deadlock condition over the resize channel used to handle terminal window resizing when attached to a tty.

I'm going to send a tentative PR to submit that fixes this.

[2018-06-27 17:28] rhatdan commented on #990
dnf -y update --enablerepo=updates-testing podman

[2018-06-28 12:04] vrothberg commented on #995
This issue seems to be fixed in the meanwhile, so we can close it.

[2018-06-28 13:40] #995 closed

[2018-06-28 13:51] vrothberg commented on #714
I'll have a look. This bug is pretty annoying.

[2018-06-28 14:01] rhatdan opened #1017 "podman start does not work quite like docker start"
[code]
Versus
[code]
Notice docker outputs the name of the container you told it to start whereas podman always tells you the UUID.

If I specify the UUID then docker will output the UUID, but if I specify the name docker outputs the name.  Podman should do the same.
[code]

[2018-06-28 14:04] #1009 closed

[2018-06-28 14:04] rhatdan commented on #1017
[code]
Versus
[code]
Notice docker outputs the name of the container you told it to start whereas podman always tells you the UUID.

If I specify the UUID then docker will output the UUID, but if I specify the name docker outputs the name.  Podman should do the same.
[code]

[2018-06-28 14:04] rhatdan commented on #1017
@haircommander PTAL

[2018-06-28 14:30] rhatdan commented on #714
@vrothberg That looks great to me.  Nice work.

[2018-06-28 14:45] vrothberg commented on #714
Damn, that's only a half fix as `podman run alpine ls -it` would be turned into `podman run alpine ls -i -t`.

[2018-06-28 16:57] haircommander commented on #1017
closed via #1019

[2018-06-28 16:57] #1017 closed

[2018-06-28 18:07] TomSweeneyRedHat commented on #714
Yeah, I've tried dealing with urfave parsing in the past and you can get stuck in spidey webs real quick.

[2018-06-28 18:28] edsantiago commented on #714
Indeed. I've just surfaced from a couple of hours of ratholing in there. Useful as a golang learning exercise, but I got nowhere -- only far enough to suspect that the problem isn't fixable with this set of tools.

[2018-06-28 20:05] vrothberg commented on #714
I have a working solution by catching errors, but it's spaghetti goto. I'll draft a PR tomorrow and see what upstream thinks about it. The only other solution I see would be using another `flag` package.

[2018-06-28 21:04] umohnani8 commented on #976
Fixed in #998

[2018-06-28 21:04] #976 closed

[2018-06-28 21:05] umohnani8 commented on #977
Fixed in #1011

[2018-06-28 21:05] #977 closed

[2018-06-29 08:29] vrothberg commented on #714
Here's a PR for urfave/cli (hopefully) fixing the issue: https://github.com/urfave/cli/pull/758

Smoke tests were successful and I think there are no side effects.

[2018-06-29 09:39] rhatdan commented on #714
@vrothberg Won't this still fail if you do an command like

podman run fedora find / -printf ...

Will urvave still see this as a valid -i and -t?

Would a better fix to be just stop interpreting the options after the `fedora` object when we tell it don't sort the options.

[2018-06-29 09:44] vrothberg commented on #714
That's what's happening actually. `set.Parse(args)` will stop interpreting input as flags/options when hitting `fedora`. Everything after that will be interpreted as arguments.

[2018-06-29 09:46] vrothberg commented on #714
No it won't. It will stop at `fedora` and use the remainder as arguments.

[2018-06-29 10:06] rhatdan commented on #714
Awesome.

[2018-06-29 10:07] vrothberg commented on #714
@rhatdan To be more specific. The parsing errors the patch is catching are always on the left side of the specified image. For instance, when running `podman run -it fedora:latest ls -it`:

- we'll catch the error that `-it` is not defined and transform that into `-i -t`
- then we reparse everything again with `podman run -i -t fedora:latest ls -it`

What the patch also does is to make sure that a

[2018-06-29 10:17] rhatdan commented on #714
My fear looking through the PRs, there has not been anything merged since Feb 21st.  I am not sure how alive this project is.

We might need to carry this patch some how.

[2018-06-29 19:08] mheon opened #1028 "Podman stats with no containers listed should throw an error"
Right now, we allow `podman stats` to run with no containers listed (Reproducer: `podman stats` with no arguments or container IDs/names). This displays a refreshing, empty screen. We should return an error instead, as doing stats on no containers is pointless.

[2018-06-29 20:07] umohnani8 commented on #990
Fixed in #1026

[2018-06-29 20:07] #990 closed

[2018-06-29 20:38] rhatdan commented on #1028
@haircommander PTAL

[2018-06-29 23:45] baude commented on #1028
I disagree with this.  When no containers are present, stats should run with an empty screen.  This is the docker behaviour and it is consistent with other monitoring tools.

[2018-06-30 00:09] TomSweeneyRedHat commented on #1028
Assuming @baude 's empty screen means showing just a header line, then +1 for me.

[2018-06-30 01:44] mheon commented on #1028
@baude Appears to be correct per docker, though the screen should have the header line. Right now, we do not, but Docker does.

[2018-06-30 10:39] rhatdan commented on #1028
No docker behaviour is wrong, lets just exit out when this happens, with a message saying no containers.
Otherwise it is tough to figure out whether the tool failed or their are no containers.

[2018-06-30 14:14] baude commented on #1028
The header should be there... but if this tool is used for monitoring, it would be nice to have it run without a container so you could capture startup, etc.  Sort of like how you can run vmstat 1 and then apply workload.  Otherwise, decide as you will; if you change behavior, make sure you then test and change all behaviours related to it running and having containers stop.

[2018-06-30 14:48] edsantiago commented on #997
I've just double-confirmed that all tests pass in podman-0.6.3-1.gitcd39b62.fc28. The following command produces no output.
[code]

[2018-06-30 14:49] mheon commented on #997
I don't think we touched any of that code this release, so I'm going to
blame infra flakes that went away?

On Sat, Jun 30, 2018, 10:48 Ed Santiago <notifications@github.com> wrote:

[2018-06-30 14:53] edsantiago commented on #997
Well, except that it continues to fail on 0.6.4-1.gitd5beb2f.fc28. Downgrade to 0.6.3 -> success; re-upgrade to 0.6.4 -> fail.

[2018-06-30 14:55] mheon commented on #997
Oh, huh, I misread that as 0.6.5 and thought we fixed in our latest
release... Hm. Alright, so something actually broke. Probably a
containers/image bug then, given our push code hasn't seen a significant
change in months.

On Sat, Jun 30, 2018, 10:53 Ed Santiago <notifications@github.com> wrote:

[2018-06-30 14:56] edsantiago commented on #997
Is there a 0.6.5? I looked this morning and haven't seen one on bodhi.

[2018-06-30 14:58] wking commented on #997
If it's alway reproducible, you may be able to track it down to a breaking commit with `git bisect ...`.

[2018-06-30 14:59] mheon commented on #997
It's tagged, but the release went in so late on Friday I doubt that the
build is available yet.

On Sat, Jun 30, 2018, 10:56 Ed Santiago <notifications@github.com> wrote:

[2018-06-30 15:04] edsantiago commented on #997
@mheon I'm not convinced that the problem is in `push`: if I upgrade to 0.6.4 and try `push` against the currently-running (0.6.3) registry, it passes. If I do a 0.6.4 setup, leave the registry running, downgrade to 0.6.3, and `push`, it fails. To me this implies that the problem is in the version of podman that is running the registry container.

@wking my setup is for testing built images; I don

[2018-07-01 12:59] cgwalters commented on #1006
This is only tangentially related but...the way pids are enumerated/managed looks racy, part of it is the cgroup API's fault.  Basically due to possible pid reuse, what we read from `/sys/fs/cgroup/pids/.../tasks` may be out of date by the time we go to invoke `ps` or read from `/proc`.  The way polkit handles this is to use the pair (pid, start-time) as a unique process identifier.  See [the code

[2018-07-02 17:26] wking opened #1039 "flake: "Podman run ns" test has 'podman run ...' exit 2 instead of 0"
In a recent master test, we [had][1]:

[code]

The failing call is [here][2]:

[code]

We'd seen this [back in May as well][3].  With #1014, we should have access to the runc stderr via syslog.  Maybe we can work up a failure hook that dumps that syslog into something that Travis exposes.  Or we can wait until we get this flake again outside of Travis, because the non-Travis jobs may expose the sy

[2018-07-02 17:34] wking commented on #1039
On IRC, @mheon suggested capturing conmon's standard streams through a pipe so users don't have to hit the logs to get this information.  That's difficult for `create` workflows, where we're trying to daemonize `conmon`, and in doing so are closing its standard streams.  But a non-daemon `conmon` should be possible for `run` workflows.

[2018-07-02 17:47] wking opened #1040 "flake: "Podman run" times out"
In a recent Travis build, we [have][1]:

[code]

The failing line is [in the `WaitWithDefaultTimeout` helper][2], and the time out is from [this][3]:

[code]

The tests are from #1026.

[1]: https://travis-ci.org/projectatomic/libpod/jobs/399193575#L3796
[2]: https://github.com/projectatomic/libpod/blob/d357703e061258a57854df1880e23775dbe717ef/test/e2e/libpod_suite_test.go#L334
[3]: https://github

[2018-07-02 17:49] mheon commented on #1040
This is a 154mb (compressed) image we have to pull, so I suspect that has a large part to do with the timeout.

I think skipping this test on Travis, with its known-slow network, is probably our best option.

[2018-07-02 17:53] wking commented on #1040
Possible alternatives would be:

a. Bumping the timeout for this operation.
b. Running the `pull` as a separate step (possibly still with an increased timeout).
c. Reworking the test to use a smaller image (what is the test trying to demonstrate anyway?).

[2018-07-02 17:59] mheon commented on #1040
The test is attempting to demonstrate that image volumes work when the container is not run as root. The reproducer is somewhat unnecessarily long (the environment settings in particular are unnecessary) but I don't think we can test this with our standard test images. We could potentially build an image suitable for this test on top of the alpine image.

[2018-07-02 18:03] wking commented on #1040
I'm in favor of building our own small test image.  But is there a need to involve alpine?  If this is about exercising a property of the image format (vs. a property of the root filesystem), couldn't we use an image that just contained a BusyBox binary?

[2018-07-02 22:06] wking opened #1042 "flake: "Podman commit" times out during 'podman rm -fa' cleanup"
In a recent master build, we [have][1]:

[code]

This is similar to #1040, but this time the operation that is timing out is [the `podman rm -fa`][2] call.  Does anyone have ideas about why that would be taking so long?

[1]: https://travis-ci.org/projectatomic/libpod/jobs/399315452
[2]: https://github.com/projectatomic/libpod/blob/767b3ddc433fd57f461fa9866e3e4d47399a6519/test/e2e/libpod_suite_tes

[2018-07-02 22:08] mheon commented on #1042
@wking I suspect this is CGroup cleanup. I've seen cases where trying to open the CGroups for a container so they may be deleted will hang for an indeterminate amount of time. It seems to only happen with the CGroups in question (or at least parts of them) have been removed, but there doesn't seem to be a real consistency to it beyond that.

[2018-07-02 22:10] mheon commented on #1042
I suspect that the container we are attempting to commit stops, the `cleanupCgroups()` call fires in the post-stop cleanup command, is partially successful at removing some CGroups, and then fails because other CGroups are still in use by conmon & the cleanup command. This then triggers the unknown CGroups bug I'm talking about when we subsequently attempt to remove the container and some CGroups

[2018-07-02 22:14] wking opened #1043 "flake: "Podman ps" test has 'podman run -d ...' exit 125 instead of 0"
In a recent master run, Travis failed [with][1]

[code]

The failing call [is][2]:

[code]

This may be another symptom of #1039, although here we have a different exit code (125 vs. 2).

[1]: https://travis-ci.org/projectatomic/libpod/jobs/399315452#L7006
[2]: https://github.com/projectatomic/libpod/blob/767b3ddc433fd57f461fa9866e3e4d47399a6519/test/e2e/ps_test.go#L233

[2018-07-03 10:37] rhatdan commented on #601
I hand edited mine.  This was happening on just one machine.

[2018-07-03 10:59] rhatdan commented on #1040
Yes we should build our own image.
@umohnani8 PTAL

[2018-07-03 13:29] edsantiago commented on #997
Unable to reproduce in podman-0.6.5-1.git9d97bd6.fc28 but I'm reluctant to close this without some understanding of what happened.

[2018-07-03 21:48] wking opened #1045 "flake: "Error determining manifest MIME type" on registry errors"
In a recent FAH28 [run][1]:

[code]

That's on a 503.  We've seen this [back in February for auth issues][2] and [for not-found errors][3].

The error message is a bit strange; it seems like the MIME-type detection is just a canary for "we're having HTTP-or-lower-level trouble working with that registry".  There's a similar CRI-O issue in kubernetes-incubator/cri-o#1667.  As far as CI reliability

[2018-07-04 06:48] vrothberg commented on #714
I begin to share your fear. Given the bug is blocking some common usage patterns, I'd like to push it a bit forward and carry the patch until `urfave/cli` is revived. Any objections against committing the change on `vendor/github.com/urfave/cli`?

[2018-07-04 11:59] rhatdan commented on #714
If you modify the vendor.conf to point at your repo from vendor/github.com/urfave/cli then I think we can carry it.

Something like
github.com/urfave/cli UUID https://github.com/vrothberg/cli

[2018-07-04 12:18] vrothberg commented on #714
Done. I opened a PR: https://github.com/projectatomic/libpod/pull/1046

[2018-07-05 10:43] #714 closed

[2018-07-06 14:30] umohnani8 commented on #1040
Fixed in #1044

[2018-07-06 14:30] #1040 closed

[2018-07-06 18:51] mheon commented on #1042
This may have been fixed by #1051 but let's leave it open for a few days to see if the flakes keep happening

[2018-07-07 20:34] #1028 closed

[2018-07-09 17:01] edsantiago commented on #826
@mheon as of podman-0.7.1-1.git802d4f2.fc28 the `ctr/` subdirectory is gone, and podman is reporting `memory.limit_in_bytes` exactly the same as docker; iow the `cat` command in the initial report is now resulting in 8M. I assume this is part of the cgroups work you mentioned this morning. Can you confirm that this new behavior is intentional and desired?

[2018-07-09 17:14] mheon commented on #826
@edsantiago Yes, that sounds right. Further alignment with docker is a fun side effect of that work I hadn't anticipated.

[2018-07-09 20:33] edsantiago opened #1069 "podman logs: race condition: error joining network namespace"
This one is hard to reproduce:
[code]
It usually fails within 2-3 minutes. If you can't get it to fail, try adjusting the `sleep 0.1` up or down.

You may also see a handful of these:
[code]
They look a lot like #736. I still find these unsettling, but they do not affect exit status.

podman-0.7.1-1.git802d4f2.fc28

[2018-07-09 20:40] mheon commented on #1069
I really wonder where this is coming from. Is it the cleanup command from `podman run -d` or `podman rm`? I don't see how it would be `podman rm` since that's the command doing the removing...

[2018-07-09 20:42] edsantiago commented on #1069
It's coming from `podman logs`. Sorry for not being clear.

[2018-07-09 20:50] rhatdan commented on #1069
I don't think this is coming from logs, I think it is coming from podman container cleanup which conmon is calling out to when you podman rm the container.

@edsantiago Are you seeing lots of left over mountpoints?

[2018-07-09 20:55] edsantiago commented on #1069
[code]
...but unfortunately I don't have a baseline from before I started this test.

In the (semi)reproducer above, the only `break` is after `logs`. The loop breaks. That means `podman logs` is emitting that output and exiting; it's not `podman rm`. (I can also get a loop script to hang forever in `podman rm`, but less reliably than this one).

[2018-07-09 21:00] edsantiago commented on #1069
I just instrumented my reproducer (echo 'about to log'; echo 'about to rm'). Yeah, it's the `podman logs` command that is failing.

mount|grep is now showing 157 (down from 158 above). Am I doing this right? What would you like me to check for leftover mountpoints?

[2018-07-09 21:17] mheon commented on #1069
The error message is from `getContainerFromDB` which should only being running once, when we initially retrieve the container. I think this is the code from @rhatdan to make retrieving a nonexistant network namespace nonfatal firing.

[2018-07-09 21:19] mheon commented on #1069
At this point, it seems like a CNI and/or network namespace issue - the network ns is not being created and/or stored properly, so we can't open it subsequently. Podman is eating the error to allow you to remove the container, but will not allow you to do anything else with it, because we've gotten into a bad state - we think we have a valid network but we don't.

[2018-07-09 22:34] edsantiago commented on #1069
The following (eventually) triggers a failure in `rm`:
[code]
The `timeout` is necessary because, without it, `podman rm` simply hangs (seemingly forever; at least many minutes). The container is not removed. I've been unable to reproduce with just `run+rm` or `run+sleep+rm`.

[2018-07-09 23:50] mheon commented on #1069
Alright, `rm` should be succeeding in that case, but it looks like it's not... I'll look into this tomorrow

[2018-07-10 10:02] aengelke opened #1070 "Podman exits immediately when running as non-root user"
**Description**

When running `podman` as non-root user, the program exits immediately with status code zero. This is presumably from [cmd/podman/main.go:35](https://github.com/projectatomic/libpod/blob/master/cmd/podman/main.go#L35), where exit is called when we *became* root in the user namespace. (Note that `became` is `false` if and only if an error occurred -- this is already cought above.) A

[2018-07-10 13:38] umohnani8 commented on #541
#931 got in, closing this issue.

[2018-07-10 13:38] #541 closed

[2018-07-10 14:11] mheon commented on #1069
@edsantiago What kind of environment are you running this on? Local VM, AWS, bare metal? I can't seem to reproduce on bare metal. I think it might be a timing issue, so speed of the local environment could matter.

[2018-07-10 14:32] mheon commented on #1070
Can reproduce locally here on latest master. Going to take a look today.
@giuseppe This looks like the rootless issues @umohnani8 had as well.

[2018-07-10 14:40] mheon commented on #1070
I don't think this is actually that line in main, though - the parent will be killed, but the child should still be running in the user namespace created for Podman.

[2018-07-10 14:42] giuseppe commented on #1070
@mheon I can assign it to myself if you are fine, I had a similar issue when using `-ti` with selinux enabled, just to be sure it is the same one I am seeing, could you try with `semodule -DB` and see if there is any AVC in the journal?

[2018-07-10 15:03] mheon commented on #1070
@giuseppe Not SELinux - I'm seeing no denials even with dontaudit turned off

[2018-07-10 15:07] aengelke commented on #1070
No AVC denials in the journal, independently of SELinux configuration.

[2018-07-10 15:16] mheon commented on #1070
This only appears to happen with packaged Podman - can't reproduce on source builds. My earlier test with latest master was actually a 0.6.5 RPM - I was using the wrong binary. Oops.

[2018-07-10 17:18] #1070 closed

[2018-07-10 17:31] edsantiago commented on #1069
@mheon it's a VM in our OpenStack. m1.medium, Fedora-Cloud-Base-28-released-latest; I'm not sure what other info is relevant.

[2018-07-10 17:33] mheon commented on #1069
@edsantiago Thanks, that should be enough to give it a look.

[2018-07-10 17:53] aengelke commented on #1070
Thanks for the quick fix (and the workaround)!

[2018-07-10 18:14] aengelke opened #1073 "Rootless run fails"
**Description**

`/usr/bin/podman --log-level=debug run hello-world` fails, [logs here](http://home.in.tum.de/~engelke/raw/podman.1.log)

**Describe the results you received:**

See logs.

**Describe the results you expected:**

Some hello world message.

**Output of `podman version`:**

[code]

(as included in Silverblue; version 28.20180707.0)

**Output of `podman info`:**

[code]

[2018-07-10 18:15] mheon commented on #1073
@giuseppe PTAL when you get a chance.

I tried reproducing locally, and I'm running into issues pulling images while rootless - might be another bug there.

[2018-07-10 19:09] haircommander opened #1074 "podman ps prints Dead instead of Unknown"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**

podman ps prints a state of unknown (typically for a messed up state) as Dead, which doesn't accurately describe the situation.

**Steps to reproduce the issue:**

1. Look in cmd/podman/ps.go:521

2. See default is Dead, when the only remaining state is unknown

I don't know how to corrupt the state but I wanted to make sur

[2018-07-10 19:17] mheon commented on #1074
Unknown state should probably be an error condition - inside libpod, it's not considered a valid state, it's just there to ensure uninitialized ContainerState variables cause errors

[2018-07-10 19:20] haircommander commented on #1074
So then is there a situation we can even get to the point where ps will print dead?

[2018-07-10 19:31] mheon commented on #1074
With the current code, it's possible it could be printed - just retrieving the state of the container won't error. However, any operation that tries to alter the state of the container - start, stop, etc - will fail as the state is not known.

[2018-07-10 20:57] edsantiago commented on #667
Could someone with privs please reopen this, and remove the `duplicate` tag?

I'm catching up on backlog, and this issue is still present in podman-0.7.1-1.git802d4f2.fc28. It turns out not to be quite a dup of #639 after all.

[2018-07-10 21:01] mheon commented on #667
@rhatdan Looks like we didn't quite manage to get all the `docker.io` references out

[2018-07-11 06:44] giuseppe commented on #1073
right that doesn't work on Silverlight as `/home` is a symlink to `var/home`.

The error is coming from runc that doesn't like symlinks into the path to the container rootfs:
[code]
I am taking a look, should be enough to fully resolve the path before feeding it to the runtime

[2018-07-11 07:20] aengelke commented on #1073
Thanks for tracking this down -- my temporary workaround is to set `HOME=/var/home/aengelke` instead.

[2018-07-11 07:52] giuseppe commented on #1073
does that solve the issue for you?  Do you encounter other issues after the workaround?

@mheon what images have you tried?  Oner issue I am aware of is with images that have device nodes included in the layers will fail to be extracted, as a non root user cannot use `mknod`, but that should be addressed by the kernel in Linux 4.18

[2018-07-11 07:59] giuseppe commented on #1073
@aengelke I've opened a PR: https://github.com/projectatomic/libpod/pull/1075

It solved the problem for me on Fedora Atomic (Version: 28.20180708.0 (2018-07-08 20:03:31), but if you are still having other issues, I can address them as part of the same PR

[2018-07-11 09:47] giuseppe commented on #1073
@aengelke is your username listed in /etc/subuid and /etc/subgid?

[2018-07-11 09:49] aengelke commented on #1073
Uhh, no, it's not. What shall I put there?

[2018-07-11 09:56] aengelke commented on #1073
Ok, after putting some generous amount of subuid and subgids, it works. Is this the intended behavior and just missing some documentation? Thanks anyway.

[2018-07-11 10:10] giuseppe commented on #1073
the subuids/subgids should be added automatically by `adduser`, but that doesn't work if your are using some old `/etc` configuration files that were generated before the `adduser` supported the subids (I also had the same problem with my ancient configurations files and I needed to add the mappings manually).

I think we should make it an error and don't let podman run if there are not subids ava

[2018-07-11 10:57] vrothberg opened #1076 "podman build: bash completion broken without buildah"
/kind bug

`podman build [TAB]` is broken when buildah is not installed. podman's bash-completion script references a function from buildah's script leading to the following error:

[code]

I suspect that's a copy-paste error.

Cc: @baude
Cc: @sysrich

[2018-07-11 12:18] mheon commented on #1073
@giuseppe I'm not sure exactly what was happening on my end, but deleting/recreating the c/storage dir in my home directory seems to have fixed it.

[2018-07-11 12:34] rhatdan commented on #1073
@mheon SELinux?
@giuseppe I think ignoring/blocking images with devicenodes is a good thing....  I have a PR for containers/storage to allow us to pass in NODEV by default.  Need to get @nalind to review it.
Having podman realize it is running as non root, it should check to see if the user has an entry in /etc/subuid, /etc/subgid files, and report an error to help them out.

[2018-07-11 12:35] mheon commented on #1073
@rhatdan Don't think so, nothing in the audit logs. Maybe regular old Unix permissions were messed up somewhere?

[2018-07-11 12:35] rhatdan commented on #1073
@giuseppe I think we need to talk about having a storage.conf for non root users, and then users could customize it by copying it to their homedir.

[2018-07-11 12:35] rhatdan commented on #1073
@mheon Maybe.  Might have been blocked by SELinux dontaudit rules also.  But who knows.