[2019-12-06 20:06] #4429 closed

[2019-12-06 23:21] onlyjob commented on #1742
@vrothberg, I find the threat and the tone of your message to be inappropriate. The very topic of this issue is being discussed and the discussion is relevant. Whatever "action" you have in mind, please don't hesitate as I'll walk away easily if you want me to. I have little patience with hostility.

@khimaros, thank you for your eloquence. Of course Debian is a welcoming community and we always d

[2019-12-07 00:05] #4315 closed

[2019-12-07 00:28] onlyjob commented on #1742
@vrothberg I have to point out that I have made no personal attacks but you did. I was only ever criticising technical work and the existence of vendor packages. You are reading between the lines.

[2019-12-07 00:59] alitvak69 commented on #1742
Dmitry,

It is not what you said,  it's how you said it.  And may be you feel like
you were just making a point, however other people on this thread
interpreted message as hostile.

BTW, the libpod group is very welcoming in general and comparing to other
FOS organizations is very responsive to developers and users needs.  At
least I have been able to accomplish here much more than when we needed

[2019-12-07 03:59] sshnaidm commented on #4654
I think Docker devs might be want to develop this in https://github.com/docker when Docker is actually being developed. I think it's better to keep modules close to tools they wrap to reflect better changes in these tools.

[2019-12-07 06:55] alitvak69 commented on #4213
@lsm5 I wanted to get away from the flame war involving debian guys.  I wonder if can answer few questions here.  Sorry for nube ones.

In OBS, I see a successful build of 1.6.3~15 but when going to download repo link I don't see the package version there.  I see 1.6.3~14.  Is it normal?

How much of the work is needed to make ubuntu packaging somewhat complete?  If Debian guys care more about the

[2019-12-07 08:07] parmentelat opened #4656 "using the podman Python API freezes it all"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I need to use the Python API to monitor the running containers; what I observe at this point is:

#### before
* from terminal 1, running `podman ps` works instantaneously; `pgrep podman` returns no entry

#### trigger the issue
* in terminal 2, I start a Python interpreter and simply run

[co

[2019-12-07 08:17] parmentelat commented on #4656
I have just tried to replace the pip-installed podman module with the one I just noticed in dnf

[code]

but observe the very same behaviour

[2019-12-07 16:23] lsm5 commented on #4213
hey @alitvak69 appreciate your support, both podman use and on the thread! Not sure why the deb package isn't showing up, the buildlogs didn't show anything fishy. I just retriggered the build, let's see how it goes. And sure, I can prioritize ubuntu lts :)

[2019-12-07 17:02] lsm5 commented on #4213
i can see the deb here https://build.opensuse.org/package/binaries/home:rhcontainerbot:stable/podman/xUbuntu_18.04 .. but there's another issue with containers-common installation, which I'm fixing now ..

[2019-12-07 21:04] Silvanoc commented on #1742
Let's try to bring to the surface all the positive happening around the topic of this discussion to recover the collaboration...

Thanks to the efforts of @lsm5 I've been able to easily test Podman on a Debian system specifically prepared for experimentation. It has been very useful for me to confirm that there are no blocker on Debian for running Podman. Thank you @lsm5 :heart:

Now I'm starting

[2019-12-07 22:27] alitvak69 commented on #4213
@lsm5
I see the package there as well
https://build.opensuse.org/package/binary/download/home:rhcontainerbot:stable/podman/xUbuntu_18.04/x86_64/podman_1.6.3~15_amd64.deb

However, it is not showing here:

https://download.opensuse.org/repositories/home:/rhcontainerbot:/stable/xUbuntu_18.04/

The download site is how I normally add and use repos in my opensuse and probably same for r other distros.

[2019-12-08 00:05] lsm5 commented on #4213
hmm, beats me. I'll check with OBS people on that.

Btw, do you mean you use the following to add repos (of course, podman isn't installable atm, but this should help for repo addition)

[code]

Likewise, thanks again! :)

[2019-12-08 00:11] mheon commented on #4217
With 4462 closed, I think we'll just close this as NOTABUG.

[2019-12-08 01:04] alitvak69 commented on #4213
Yes this is the link I use.  And if you go there and then click on amd64 you will not find latest podman package i.e. 1.6.3-15, just 1.6.3-14.

[2019-12-08 01:32] lsm5 commented on #4213
Ack yes, I meant if those were the steps you used to install packages, as the steps to enable it weren't obvious on the OBS homepage, but I see what you mean. I'll ping OBS people, but don't think I'll have anything before Monday.

[2019-12-08 11:34] rhatdan commented on #3464
We are still working on this.  We have gotten it to work, but need to get the container.conf work done to make it a reasonable solution, so that we don't need to include a huge Command line in podman.

[2019-12-08 12:00] rhatdan commented on #4654
@sshnaidm I created the repository and invited you to administrate it.

[2019-12-09 09:53] giuseppe commented on #4648
the only two settings I can think of are `cgroup_manager` and `--events-backend=file`.

In theory it should work also with cgroups v2 on a system without systemd (without allowing the usage of resources, as on a cgroups v1 system), but I've personally never tried so.

Probably the easiest is to debug it on a system without systemd installed.  @Noah-Huppert how have you installed the other dependen

[2019-12-09 10:22] trusch opened #4659 "Rootless podman doesn't recognize cgroupv2 mount at /sys/fs/cgroups/unified"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
If I run for example `podman stats` it reports that this doesn't work because I'm rootless and not using cgroupv2.

When looking up how it checks if I'm using cgroupsv2 I see that it looks for the mount type of /sys/fs/cgroups, but is not inspecting /sys/fs/cgroups/unified.

The cgroups man-pa

[2019-12-09 14:00] ssbarnea opened #4661 "lists.podman.io is unberable slow (impossible to use)"
The currently advertised mailing list seems not to be really functional. I spent more than an hour trying to register, confirm and post a message. Apparently is also moderated.

While there are only a couple of messages posted it seems that the mailing list website is almost impossible to use. I spent >30 min to manage to create and login only.

The average time to load a page is 10s-20s, which in

[2019-12-09 14:44] TomSweeneyRedHat commented on #4661
@ssbarnea Thanks for the heads up.  This is the first I've heard of issue like this with the list.  When I've used it, it's always been very speedy, I don't think I've waited more than a second or two to transition from one page to another.  I'll go see if there's something going on there.

[2019-12-09 14:49] mheon commented on #4659
@giuseppe PTAL - looks like our cgroups package isn't detecting the mount?

[2019-12-09 14:51] mheon commented on #4648
@Noah-Huppert Can you run a Podman command with `--log-level=debug` enabled and provide the output? Would help to know exactly where things are blowing up on account systemd not being present

[2019-12-09 16:14] svenvogel commented on #4465
@ssbarnea @TomSweeneyRedHat some news on this? i run into the same problem.

[2019-12-09 17:14] Amjadhpc opened #4662 "podman cp as root fails on centos 7 version (1.4.4) of podman to cp from host to container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

 I am running the podman version that comes with centos 7 on home directory that are mounted on gpfs filesystem . Hence running as root.

**Steps to reproduce the issue:**

1.podman pull docker://nvcr.io/hpc/namd:2.13-singlenode
.

2.podman images | grep namd
nvcr.io/hpc/namd        2.13-sing

[2019-12-09 18:45] svenvogel opened #4665 "Error: could not get runtime: please update to v2.0.1 or later: outdated conmon version (CentOS 8)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
1. podman-1.6.4 -> 94b784255cf849c6d9024def6355fc1cf67c8cbf
2. conmon 2.0.3 -> eb5fa88c26fde5ce1e3f8a1d2a8a9498b2d7dbe6

/kind feature

**Description**
i build podman on centos 8. it works but after install of the RPM and run an container with podman i get the following error. i used 2.0.3 of conmon.

`Error:

[2019-12-09 18:52] giuseppe commented on #4659
if cgroup v2 is mounted on `/sys/fs/cgroup/unified` then it is not the unified hierarchy where cgroup v2 is mounted at `/sys/fs/cgroup`.  That is the `hybrid` hierarchy where cgroup v1 and cgroup v2 coexist.

We don't support that.

More details can be found here: https://systemd.io/CGROUP_DELEGATION.html#three-different-tree-setups-

[2019-12-09 18:52] #4659 closed

[2019-12-09 19:14] mheon commented on #4665
Where is Conmon installed to? It is possible you have another Conmon installed that is being used instead of the one you've built - check to see if there are any other Conmon binaries installed at the paths listed in `conmon_path` in libpod.conf.

[2019-12-09 19:15] mheon commented on #4665
In particular, I would check `/usr/libexec/podman/conmon` - I believe we used to install a bundled Conmon there, while new Conmon installs likely choose `/usr/bin`

[2019-12-09 19:21] haircommander commented on #4665
you can also find the conmon that podman is choosing with `podman info` or running with `--log-level debug`

[2019-12-09 19:23] mheon commented on #4665
Part of me thinks that `podman info` will also explode...

We may want to put the path we're using in the error message, to make it clearer what's going on

[2019-12-09 19:26] haircommander commented on #4665
when searching for a good candidate, we actually go through every path configured and choose only the conmons that are of the right version. @svenvogel, where is the conmon 2.0.3 installed?

[2019-12-09 20:23] svenvogel commented on #4665
@haircommander thanks for the answer.

podman info gives me the same
`Error: could not get runtime: please update to v2.0.1 or later: outdated conmon version`

with debug
`DEBU[0000] Reading configuration file "/usr/share/containers/libpod.conf"
DEBU[0000] Merged system config "/usr/share/containers/libpod.conf": &{{false false false false false true} 0 {   [] [] []}  docker://  runc map[runc:[/us

[2019-12-09 20:27] svenvogel commented on #4665
@haircommander @mheon

its true a old version. :(

`/usr/libexec/podman/conmon --version
conmon version 1.0.0-rc2
commit: f126ccedd1a9b2bc5af7cd656cc70fd1d28392f9-dirty`

[2019-12-09 20:31] haircommander commented on #4665
@lsm5 do you maintain the CentOS 8 package?

[2019-12-09 20:51] lsm5 commented on #4665
this is basically a rebuild of the rhel8 package. @jnovy ^

[2019-12-09 21:13] thisch opened #4666 "Can't reuse names of stopped containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

For our docker-based container setup at work we use hardcoded (in config files) containernames, which are needed for `docker exec`. From time to time we have to restart the containers, where those hardcoded containernames are reused.

However, `podman` has problems when a container is started

[2019-12-09 22:00] mheon commented on #4666
I'm not sure what you were doing with Docker, but this should *never* work on either Docker or Podman. Container names cannot be reused until the container in question has been removed.

When I run your reproducer on Docker, for example, I get a very similar error:
`/usr/bin/docker-current: Error response from daemon: Conflict. The container name "/foobar" is already in use by container 7cb12aebca

[2019-12-09 22:16] thisch commented on #4666
Thx for your quick reply! You are right, we indeed use the `--rm` flag. You are also right that my examples works if podman was run using `--rm`. However, at work (I'm currently writing this issue report on my laptop at home) I even have issues with `--rm`. I'll try to find a minimal example tomorrow.

[2019-12-09 22:29] thisch commented on #4666
Note that I get `ERRO` messages in the terminal where `docker run --rm ...` was called from time to time.

I have 3 terminal windows

1: ``podman run --rm --name foobar -it busybox /bin/sh``
2: ``podman exec -it foobar /bin/sh``
3: ``podman stop foobar``

When I run the command in terminal 3, the following msg is output in terminal 1:

[code]
In one test case
[code]
was output.

[2019-12-09 22:50] svenvogel commented on #4665
@lsm5 @haircommander i tried libpod master and now it works.

`/usr/libexec/podman/conmon --version
conmon version 2.0.3
commit: 932fe3550df5b7fd77c4288d3ebc384212bcce1d-dirty`

`podman info --log-level debug
DEBU[0000] Reading configuration file "/usr/share/containers/libpod.conf"
DEBU[0000] Merged system config "/usr/share/containers/libpod.conf": &{{false false false false false true} 0 {   []

[2019-12-10 00:05] #4392 closed

[2019-12-10 08:34] orpheusgame commented on #3288
Hello! The issue with podman is still ongoing, it throws an error about insufficient ids in namespace
[code]

Apparently the command
[code]
Possibly this mockbuild user has something to do with it?
[code]

[2019-12-10 08:47] misanche commented on #4364
waiting the document too :)

[2019-12-10 09:00] thisch commented on #4666
I can reproduce the issue from my previous comemnt on my fedora31 host at work.

[2019-12-10 11:08] jboero commented on #4210
Same issues here.  I don't want to add fuel to the fire here but if Podman is going to snuff out Docker, it's clearly not ready yet and maybe the crippling cgroup changes need to go back into Beta until it is. OpenShift?  Broke.  Containers?  Broke.  This not a good strategy.

[2019-12-10 11:34] ssbarnea commented on #4665
check-rdo

[2019-12-10 13:38] ssbarnea opened #4669 "rpm packaging should run on any incoming PR"
In order to avoid breaking the packaging (rpm for now) I would like to get approval to enable running rdo-check 3rd party CI jobs on any incoming PR instead of manually triggering them using the magic `check-rdo` comment.

Me and the others from tripleo-ci team will continue to keep an eye on these jobs and be considered the maintainers of them. They run in ~5 minutes, and we could easily add extr

[2019-12-10 14:20] TomSweeneyRedHat commented on #4669
I like the idea!

[2019-12-10 14:25] baude commented on #4669
lgtm

[2019-12-10 14:43] mheon commented on #4210
That doesn't sound like any of the issues I've seen in this thread. A reproducer or bug would be greatly appreciated - we can only fix things when they're reported.

[2019-12-10 15:04] chkumar246 commented on #4669
+1

[2019-12-10 15:05] raukadah commented on #4669
+1

[2019-12-10 15:46] jwhonce commented on #4364
I don't have access to Catalina, so these are my best guesses until I do:

# xattr -d com.apple.quarantine /usr/local/bin/podman
- or -
# xattr -d com.apple.quarantine `readlink /usr/local/bin/podman`

should get you over the signing issue.  Then setting PODMAN_VARLINK_BRIDGE to point to your linux server.

export PODMAN_VARLINK_BRIDGE=$'ssh -T -p22 root@localhost -- "varlink -A \'podman varlink \

[2019-12-10 15:54] jnovy commented on #4669
Sounds good!

[2019-12-10 15:54] mheon commented on #4666
Hmmm. I think I know what's going on here.

Self-assigning.

[2019-12-10 17:06] EmilienM commented on #4669
LGTM, very good idea. We'll see how that works out but for sure it'll bring good feedback.

[2019-12-10 17:54] edsantiago opened #4673 "rawhide: --security-opt label=disable incorrect context"
On rawhide:
[code]
Also affects `buildah run`.

podman-1.6.4-0.69.dev.git7287f69.fc32
crun-0.10.6-1.fc32
container-selinux-2.123.0-0.3.dev.git0b25a4a.fc32
libselinux-3.0-1.fc32
selinux-policy-3.14.5-18.fc32

[2019-12-10 17:55] mheon commented on #4673
@rhatdan PTAL

I thought we expected to be unconfined when label=disable was passed?

[2019-12-10 17:58] edsantiago commented on #4673
Ugh; bad copypasta. I have edited the initial post to `unconfined_u:system_r:spc_t`. @mheon, thanks for catching that.

[2019-12-10 18:59] mheon commented on #4210
Also, for reference, the migration issue originally referenced here ("unknown event logger type") should be fixed in the upcoming Podman 1.7.0. Existing installations that used the old migration code will still need to manually remove libpod.conf, but new installations should not see this problem.

[2019-12-10 21:27] fedelibre commented on #4285
I have the same problem.

I'm working on a CI set up for an open source project.
Do you know any alternative free as in beer registry? quay.io has only a 30 day trial...

[2019-12-10 22:05] TomSweeneyRedHat commented on #4285
@fedelibre thanks for the note.
You should be able to create a free account on quay.io.  Granted it only gives you one private repository and (I think) unlimited public ones, so it's not production ready, but great for testing/playing.

Go to [quay.io](https://quay.io) and click on the "SIGN IN" link on the top right.  If by chance you're still logged in with a trial account that's going to expire

[2019-12-11 00:49] ruckc commented on #4159
I'd volunteer doing the work to package this... but i don't know where to start for Fedora, much less my ideal end states of it ending up in RHEL7/RHEL8.

[2019-12-11 01:11] ACiDGRiM commented on #3696
This issue is effecting my system as well, this effects several containers.
This is worked around by calling this in the middle of a po
[code]
Where 8112 is the port in question, this is not ideal as it complicates restarting services with systemd
`ExecStopPost=bash -c 'for i in `netstat -pnl|sed '/8112/!d; /conmon/!d' -|awk '{split($NF,a,"/"); print a[1]}'`; do kill -9 $i; done'`

[code]

[2019-12-11 01:40] rhatdan commented on #4669
Sure what do we need to do?

[2019-12-11 02:06] baude commented on #3696
i cannot replicate this on master on fedora ...

[code]

[2019-12-11 02:18] mheon commented on #3696
From the `podman info` output, @ACiDGRiM looks like he has a more than new enough version to have both the Conmon fix and the Podman patches to manually kill Conmon from @vrothberg

[2019-12-11 02:20] mheon commented on #3696
I wonder if we aren't talking about a different issue here. I see mention of systemd unit files in his example; I wonder if we aren't seeing an improperly-formatted one that's not working as advertised, causing Podman to die but not killing Conmon.

@ACiDGRiM Can you provide the systemd unit files you're using? Were they generated by `podman generate systemd`?

[2019-12-11 02:45] alitvak69 commented on #4213
@lsm5 Any news about 1.6.3-15 in the repo or / and if 1.6.3 becoming installable on bionic?

[2019-12-11 03:23] ACiDGRiM commented on #3696
I've regenerated the systemd units with podman generate systemd.

They used to be approximately as below:
[code]

I'm testing with the newly generated sysd units now, the noticeable difference being the type is forking instead of a standard unit.

[2019-12-11 09:45] vrothberg commented on #3696
Getting the service files right is _very_ tough. We will publish a blog next Monday getting into some details and presenting a new best practice.

If you want to create new containers (in contrast to using existing ones as `podman generate systemd` currently does), we recommend the following pattern:
[code]

[2019-12-11 10:07] parmentelat commented on #4656
@jwhonce if you'd like any additional information, please feel free to ask - thanks !

[2019-12-11 11:15] abitrolly opened #4676 "pipe to podman hangs"
/kind bug

**Description**

Piping input to `podman run` hands indefinitely. `Ctrl-C` doesn't help.
[code]
Killing doesn't work immediately.
[code]
Container, however. quits.

Running `cat dbdump | pg_restore` from inside the container completes immediately. `dbdump` size is 300k.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of

[2019-12-11 12:36] rhatdan commented on #4673
The issue is podman is mislabelled.
restorecon -v /usr/bin
If this does not change the label, then something failed when container-selinux was installed
yum reinstall -y container-selinux

[2019-12-11 12:45] edsantiago commented on #4673
Weird - it's not failing on today's VM:
[code]
container-selinux today is `2.123.0-0.4.dev.git0b25a4a.fc32`, up from `-0.3` yesterday. I'll assume something got fixed.

[2019-12-11 12:45] #4673 closed

[2019-12-11 12:45] rhatdan commented on #4210
Docker and Kubernetes was blocking the move to cgroup V2 for many years. The move to Cgroup V2 was to spur these upstreams to move, and if you follow what is going on in Kubernetes and runc world, this is happening.  I do not believe these projects would have moved to V2 unless a distro started defaulting to V2, and Fedora is supposed to be the leader in new technology.

[2019-12-11 14:03] ssbarnea commented on #4669
You do not need to do anything, mainly we will activate this by merging https://review.rdoproject.org/r/#/c/24032/ -- posting it here so others may find the place that controls it.

[2019-12-11 14:34] Noah-Huppert commented on #4648
Yea sure, I'll post logs soon.

I installed podman through Void Linux's package manager. Here is the package build configuration: https://github.com/void-linux/void-packages/blob/master/srcpkgs/podman/template

If I had to guess I would say that the package manager is probably not setting up one of the dependencies required for rootless. I will verify if this is true in a few days when I also post

[2019-12-11 16:29] rhatdan commented on #3288
Could you set the --event-logger=file. does that fix the root running problem?

[2019-12-11 16:50] fansari opened #4678 "automatic start of rootless containers with systemd fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Since some days my rootless containers do not start anymore automatically. This does not happen to my root containers.

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results you received:**

After I boot my PC my root containers are started - my rootless containers not.

When

[2019-12-11 17:47] ssbarnea commented on #4669
I am closing this as it was activated few minutes ago. Feel free to reopen or comment if you spot any issues.

[2019-12-11 17:47] #4669 closed

[2019-12-11 20:10] rhatdan commented on #4676
This works for me?
[code]

[2019-12-11 20:26] rhatdan commented on #4678
@giuseppe @vrothberg Ideas?

[2019-12-11 20:28] karl-tpio commented on #4661
FWIW, it's speedy for me.

Can you check your browsers dev tool, specifically the network tab? What request(s) are consuming the most time and in what phase of the request does the time go (DNS, handshake/tls negotiation, content transfer... etc) ?

[2019-12-11 20:40] TomSweeneyRedHat commented on #4661
@ssbarnea I played around with the web interface yesterday from work and from my home PC's and I think the longest transition I had was close to 2 seconds, most were well under a second.

I just wanted to verify that the slowness you mentioned was that rather than the slowness to become a member when you register.  We'd a really bad spam attack in early November and required people to get OK'd by

[2019-12-11 23:22] lsm5 commented on #4213
hi @alitvak69 , sorry not yet, been involved in some other issues past 2 days, but today I managed to get skopeo and containers-common fixed, so the only pending thing is podman not being installable on 18.04, I'll try another rebuild later today, if it doesn't work, I'll ping OBS folks tomorrow morning.

[2019-12-11 23:28] lsm5 commented on #4213
sent 1.6.4 to OBS just now, fingers crossed..

[2019-12-12 00:04] #4191 closed

[2019-12-12 00:05] lsm5 commented on #4213
hmm, seems like skopeo and containers-common are still not available on 18.04 repo (even though built successfully) along with podman. Let me check with OBS people tomorrow morning. Sorry about the delay.

[2019-12-12 00:51] #4357 closed

[2019-12-12 03:08] abitrolly commented on #4676
@rhatdan try this
[code]

[2019-12-12 05:01] abitrolly commented on #4016
@rhatdan in the article https://www.redhat.com/sysadmin/rootless-podman-makes-sense there is a mistake - the container that is being run is SchemaSpy, not PostgreSQL, and unlike Postgres, the process inside produces `html` directory with report that needs to be passed to host machine. I could not run its container with `podman`, because the [container uses `USER=java`](https://github.com/schemaspy

[2019-12-12 05:25] smekkley commented on #4678
I use podman-run but I always have to do `StartExecPre=podman system migrate` on centos7.  It might solve this problem as well. I'll investigate the cause soon for this.

[2019-12-12 06:01] mheon commented on #4678
More detailed logs from the service would be nice - using `--log-level=debug` for debug logs (and maybe `--syslog` to force them to print to the journal) would give us a lot more to work with.

[2019-12-12 06:09] alitvak69 commented on #4213
Thank you for the updates.

[2019-12-12 07:30] benyaminl commented on #4251
Some of the conversation on the #podman irc, many of them said on RH based labs, or enterprise system they will always use local dns or corporate DNS so I think it;s practical to retry certain times until failure like docker does.

[2019-12-12 08:20] vrothberg commented on #4678
Yes, logs would be hugely appreciated. I am under the impression that `podman start` fails, triggering the restart policy to shoot.

[2019-12-12 08:22] vrothberg commented on #4676
I can reproduce this one as well.

[2019-12-12 11:30] pierreprinetti commented on #963
Still prints `--> Using cache y78hcry7382chrxy7380hcyr0834` (on stdout!).

Moreover, does not print an image ID when `build` is run without an explicit `--tag`.

Should this be reported as a Buildah issue?

[2019-12-12 13:01] TomSweeneyRedHat commented on #963
@pierreprinetti if you're using 1.6.3 or later of Podman and are seeing this issue, please do raise an error against Buildah [here](https://github.com/containers/buildah/issues).

[2019-12-12 13:36] pierreprinetti commented on #963
I have 1.6.2, looks like I have to upgrade. Somehow, I didn't see the change in Podman's CHANGELOG, it's probably in Buildah's then. Thank you!

[2019-12-12 13:47] abitrolly commented on #3990
I still don't understand what `unshare` does. How is that different from `su <user>`? How does `unshare` know the UID to run inside?

What is the proposed solution? Is the following correct?
1. Try to figure you what will be UID of rootless container (how? ) - let's call it RLUID
2. Run `podman unshare chown -R RLUID /host/path`
3. Run container with `podman run -v /host/path:/guest/path` - `/gues

[2019-12-12 13:51] edsantiago opened #4685 "podman run --security-opt label=type:svirt_qemu_net_t : AVC"
[code]
AVC is:
[code]
Found when testing 1.7.0 but also seems to be present in 1.6.2 and possibly older.

[2019-12-12 14:10] edsantiago opened #4686 "1.7.0: Regression: source can't be a URL for COPY"
[code]
podman-1.7.0-0.2.rc1.fc30 and .fc31

Works as expected on 1.6.2

[2019-12-12 14:21] giuseppe commented on #4676
this is an issue in conmon, moving there

[2019-12-12 14:46] rhatdan commented on #4685
This is what is supposed to happen.  svirt_qemu_net_t is a VM selinux type not a container type.  We want to block this transition.

[2019-12-12 14:48] edsantiago commented on #4685
Thanks. It works with docker (I don't know why). I'll remove that from the podman-docker-autotest suite.

[2019-12-12 14:48] #4685 closed

[2019-12-12 14:49] rhatdan commented on #4686
I think this is a bug fix.  @TomSweeneyRedHat PTAL

[2019-12-12 15:29] ensc opened #4687 "Uses/requires CNI for slirp4ns"
/kind bug

**Description**

When running podman in root mode, it requires/uses CNI to build slirp4ns networks.  In rootless mode with same parameters, CNI is not used.

CNI is problematic because it messes around with `iptables` directly which breaks when they are managed externally.  For this, I need a pure userspace solution (more or less like `dockerd --iptables=false`) like slirp4ns.

**Steps

[2019-12-12 15:34] sysrich opened #4688 "1.6.4 - release tarball has misplaced *.5.md files"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The 1.6.4 release has the *.5.md files in the incorrect place to correctly build the appropriate manpages

https://github.com/containers/libpod/tree/v1.6.4/docs/source/markdown should contain containers-mounts.conf.5.md and libpod.conf.5.md but instead they are located in https://github.com/c

[2019-12-12 15:44] mheon commented on #4687
I think it's `slirp4netns` not `slirp4ns` - this seems to assume that you're naming a specific network to join the container to, not the `slirp4netns` network mode.

[2019-12-12 15:56] TomSweeneyRedHat commented on #4686
Yep, we weren't matching Docker, now we are.  https://github.com/containers/buildah/pull/1977

[2019-12-12 15:59] edsantiago commented on #4686
Is that new docker behavior? Because docker 1.13 on RHEL7 allows it - that's why docker-autotest has an explicit test for it

[2019-12-12 16:00] TomSweeneyRedHat commented on #4686
I believe it's current Docker upstream behavior.  @QiWang19  worked on it.

[2019-12-12 16:02] ensc commented on #4687
a sorry; played around too much with these parameters to find a solution.  It happens for `slirp4netns` too:

[code]

or (when CNI networks are defined), the TAP interfaceis attached to the CNI bridge:

[code]

and in another shell

[code]

[2019-12-12 16:03] edsantiago commented on #4686
docker 19.03.5 allows it
[code]

[2019-12-12 16:07] mheon commented on #4687
Ack, that definitely sounds like a bug in how we're configuring slirp as root.

[2019-12-12 16:42] edsantiago commented on #4686
I think this is due to [confusion between COPY and ADD](https://stackoverflow.com/questions/24958140/what-is-the-difference-between-the-copy-and-add-commands-in-a-dockerfile). COPY does not allow URLs; ADD does. I still believe this is an undesired regression.

[2019-12-12 16:47] ensc commented on #4687
To demonstrate the real problem:

1. Create a minimal CNI setup which does not touch the iptables

[code]

1. (clear `nat` table)

2. Run as `root`

[code]

3. Execute in the container

[code]

4. Monitor network traffic on the host in the background

[code]

5. Connect from the outside to port 10000 and send some data

[code]

   Close connection, reconnect and play around a little bit

Output in

[2019-12-12 17:41] TomSweeneyRedHat commented on #4686
@edsantiago just to be clear in my noggin, COPY  with URL allowed in Docker RHEL-1.13.1 but not Docker upstream.  ADD with URL is allowed in both Dockr RHEL-1.13.1 and Docker upstream?

[2019-12-12 17:57] edsantiago commented on #4686
I don't know about Docker on RHEL: OpenStack is acting up and I can't get a virt. All I can say is that docker 19.03.5 allows `ADD URL`, and presumably so does every docker 1.13 in history since there's a docker-autotest for it. docker 19.03.5 chokes on `COPY URL`:
[code]
I have no way right now of knowing what docker-1.13 does with `COPY URL`.

[2019-12-12 18:21] fansari commented on #4678
Here more logs. Something goes wrong with resolv.conf. Strange thing is when I start the container manually after boot everything works.

[podman-ldap.log](https://github.com/containers/libpod/files/3957261/podman-ldap.log)

[2019-12-12 18:26] TomSweeneyRedHat commented on #4686
Thanks @edsantiago, I'll see if I can revert that ADD side of things.

[2019-12-12 18:44] mheon commented on #4686
@edsantiago @TomSweeneyRedHat Should we hold 1.7.0 final release for a fix to this?

[2019-12-12 19:00] abitrolly commented on #4499
The same problem with https://buildpacks.io/
[code]
May greatly simplify getting `podman` supported https://github.com/buildpacks/pack/issues/413
https://github.com/buildpacks/pack/issues/413

[2019-12-12 19:44] yangm97 opened #4691 "Limit maximum concurrent layer pull"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Although concurrent pulling usually speeds things up over broadband connections it will slow down or even fail a pull over a less than ideal connection.

The docker daemon has a `--max-concurrent-downloads` flag which allows the user to tune the image pull parallelism. Since we're daemonl

[2019-12-12 20:07] edsantiago commented on #4686
This is the sort of thing that is impossible to answer because it depends on use cases that (a) are entirely out of our control and, worse, (b) we have not the slightest clue about. There could be one person out there using this form, or one thousand. There is no way to know.

Given that this is a change since 1.6.2, and it breaks something that has "worked" for a long time, I would unfortunately

[2019-12-12 20:09] mheon commented on #4691
@vrothberg PTAL

[2019-12-12 21:04] edsantiago commented on #4686
Finally got a RHEL7 VM. docker-1.13.1-104.git4ef4b30.el7:
[code]

[2019-12-12 21:25] mheon commented on #4666
#4692 fixes the issue on my machine.

[2019-12-12 21:37] gundalow commented on #4654
Where is the repo?

[2019-12-12 22:06] sshnaidm commented on #4654
@gundalow the repo is https://github.com/containers/ansible-podman-collections
I requested the namespace "containers": https://github.com/ansible/galaxy/issues/2148
@rhatdan send me please your galaxy username, I'll add it as admin.

[2019-12-12 22:15] gundalow commented on #4654
Excellent, thank you.

You can use https://github.com/ansible-community/collection_migration to help populate the repo by creating a scenario file.

[2019-12-12 22:49] TomSweeneyRedHat commented on #4686
@mheon PR WIP, if that goes well tonight/tomorrow, would like to squeeze into 1.7.0.  I think this might bite us otherwise.

[2019-12-12 23:35] rhatdan commented on #4654
@sshnaidm I just grabbed rhatdan from galaxy.

[2019-12-12 23:50] rhatdan commented on #4685
I would be surprised that this works from Docker, unless docker daemon is not running as container_runtime_t.

ps -eZ | grep dockerd

[2019-12-12 23:52] edsantiago commented on #4685
I don't have a RHEL7 system to test with right now... but fwiw this is a test that you wrote for inclusion in docker-autotest in early 2016... and it has been working 100% with docker since then.

[2019-12-13 00:08] rhatdan commented on #4501
@lsm5 @jnovy What should we do with this issue?

[2019-12-13 00:17] TomSweeneyRedHat commented on #4686
With PR #2019 in play:
[code]

[2019-12-13 00:33] TomSweeneyRedHat commented on #4686
btb, forgot to add, really, really great catch @edsantiago, TYVM!

[2019-12-13 01:28] edsantiago commented on #4685
docker-1.13.1-104.git4ef4b30.el7 and container-selinux-2.107-3.el7:
[code]
@rhatdan I'll leave the virt running and check in again tomorrow morning in case there's anything else you'd like me to look at.

[2019-12-13 04:03] zhuguoliang commented on #3323
I reproduced it on my machine without sudo, but everything went smooth with sudo.

Note that with strace you will see it is stuck on storage lock:
`openat(AT_FDCWD, "/home/ubuntu/.local/share/containers/storage/storage.lock", O_RDWR|O_CREAT, 0600) = 5
fcntl(5, F_SETFD, FD_CLOEXEC)           = 0
fcntl(5, F_SETLKW, {l_type=F_WRLCK, l_whence=SEEK_SET, l_start=0, l_len=0}`

[2019-12-13 06:20] jasinner commented on #4549
Perhaps a good compromise is to remove quay.io from the default registry search order, and leave only Red Hat registries which don't allow the general public to upload images. That greatly reduces the chances of typosquatting on quay.io, and still matches the behaviour of Docker.

[2019-12-13 09:19] #4666 closed

[2019-12-13 09:31] vrothberg commented on #4678
That's it. I am convinced that systemd has no influence as starting the container fails with:
[code]
Starting the container manually with `$ podman start ae3453a9ad` should fail as well. @fansari can you try that to verify?

The `lstat` errors comes from the stdlib trying to follow the symlink which for some reasons doesn't exist. It could be a volume or mount issue, or something else. @fansari, c

[2019-12-13 09:40] vrothberg commented on #4691
Thanks for opening the issue, @yangm97! The request sounds reasonable to me. Currently run at most 6 threads in parallel for pulling as we want to play nicely with the registries and the local NICs. This needs to be implemented in the github.com/containers/image library. A config switch in `/etc/containers/registries.conf` and CLI flags to overwrite that would work.

I transfer this issue over to

[2019-12-13 10:46] rhatdan commented on #4685
But the rhel7 system does not have the same container-selinux as we have in RHEL8.  Basically I updated the selinux-policy to NOT allow the transition from a container_runtime_t do svirt_* (Virtual machine) domains.  So this is expected.

2016 Dan Walsh was mistaken.  And hopefully 2019 Dan Walsh is a little better informed.  :^)

[2019-12-13 10:48] matacino commented on #3799
Hi there,

is it possible that the reason that the container directories are not cleaned, is because of wrong/missing  rights of removing a subdirectory?

I tried as a podman-using user `du -hs ~/.local/share/containers/storage/*`
witch told me it can not access the directoryies like for example '/home/myMyselAndI/.local/share/containers/storage/vfs/dir/6d98fbb11a04ed60ee823aa1133a0481822810a007ae

[2019-12-13 11:10] rhatdan commented on #3799
You need to enter the user namepsace
podman unshare du -hs /home/USERNAME/.local/share/containers/storage/*

[2019-12-13 11:32] rhatdan commented on #4016
SELinux would prevent a container from reading your .ssh keys if it was to escape.  Also if you run the container with any user other then root, that process would not be able to read your .ssh keys based on UID protections. UID 1000065 is not going to be able to read content owned by uid 1000.

But yes if you run your container with your UID==root inside of a user namespace and do not use SELinux

[2019-12-13 11:40] rhatdan commented on #4499
If you guys would like to contribute, take a look at
https://github.com/containers/libpod/tree/apiv2

[2019-12-13 11:52] Ramblurr commented on #4024
Hello,

I'm running a fresh SB 31 install, and I am hitting the same error.

Notably something different, is that toolbox was working before. Then it stopped working.

I'm not sure what changed, perhaps it was a reboot after an rpm-ostree update? Or maybe just a long running session, and at one point I closed all the toolbox shells and then tried to enter a new one... I'm really not sure.

I thoug

[2019-12-13 12:24] semtexzv opened #4695 "Podman does not respect the --file argument"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman build does not properly respect the `--file, -f` option. When running podman in following structure:
[code]

`podman build -f sub/Dockerfile.test`, podman is using the `./Dockerfile.test`. If we remove the `./Dockerfile test`, Podman correctly uses the `sub/Dockerfile.test` but it does

[2019-12-13 12:31] giuseppe commented on #4024
looks like the fedora-toolbox-31 container wasn't correctly deleted from the OCI runtime.

Can you check what you have under `/run/user/1000/crun`?

[2019-12-13 12:38] rhatdan commented on #4695
Could you try your example with `buildah bud`?
Since podman just vendors buildah, this could likely just be an issue in buildah.

[2019-12-13 12:42] matacino commented on #3799
@rhatdan Thank you for the answer! but after reading your article https://podman.io/blogs/2018/10/03/podman-remove-content-homedir.html I did as I wrote above already:

I understood that as root (sudo) or as buildah-unshare-root I can could handle those files the *nux-way with `rm …` or `du …` or whatever.

As I did all the container-building and registry-pushing as the user "myMyselAndI" I would

[2019-12-13 12:48] rhatdan commented on #3799
We have added
podman system reset
in the upstream repo, which will clean up all changes in your system.
If run as a user it basically does the equivalent of
podman unshare rm -rf ~/.local/share/container ~/.config/containers

[2019-12-13 12:49] semtexzv commented on #4695
Buildah bud works correctly.

[2019-12-13 12:51] rhatdan commented on #4695
Do `buildah version` and `podman info | grep buildah` match?

[2019-12-13 12:59] ssbarnea commented on #4580
We bypassed the rpm building by disabling gpgme support but this bug should stay open until we will include gpgme support in the rpm.

[2019-12-13 13:00] semtexzv commented on #4695
Yes:
`buildah version` :
[code]
`podman info --debug | grep buildah` :

[code]

[2019-12-13 13:26] edsantiago commented on #4685
Makes sense. I happened to have an old RHEL8 VM handy and found that the transition was allowed with `container-selinux-2:2.107-2.module+el8.1.0+4016+4220c060` but forbidden after dnf-upgrade to `2:2.124.0-1.module+el8.2.0+5182+3136e5d4`. Thank you, 2019 @rhatdan!

[2019-12-13 13:39] rhatdan commented on #4695
Ok that is strange.

[2019-12-13 13:41] rhatdan commented on #4695
Adding the context directory fixes this, But basically this is the context directory is not being selected correctly.

[2019-12-13 14:42] Ramblurr commented on #4024
Ugh, a reboot fixed the issue. Could this have happened when I podman kill a toolbox container?

Sometimes when I open a new Terminal tab (when the active tab is a toolbox shell), the new tab shows the toolbox prompt, then freezes. My only recourse is to close the tab. I then podman kill the container.

[2019-12-13 17:23] alitvak69 commented on #4213
@lsm5  Any news from OBS?  So far I see no changes.

[2019-12-13 18:18] lsm5 commented on #4213
@alitvak69 no response from OBS people on IRC, I'll keep trying. Meanwhile, I've begun sending packages to the testing repo (mostly same as stable repo but will have rc content as well) as well to see if things are any different.

The testing repo is at https://software.opensuse.org//download.html?project=home%3Arhcontainerbot%3Atesting&package=podman

Would you mind adding this repo as well and f

[2019-12-13 18:50] thisch commented on #4666
@mheon thx so much for the quick fix. (I hope that it will be part of the 1.7 release, s.t. I can soon test it ;) )

[2019-12-13 22:47] sshnaidm commented on #4654
@gundalow @rhatdan great, we have a namespace on Galaxy, and I hope to start moving next week. If not, then after holidays.

[2019-12-14 05:52] pgporada opened #4702 "OCI runtime permission denied error on Fedora 32"
/kind bug

**Description**
I am unable to run containers on Fedora 32.

**Steps to reproduce the issue:**

1. Upgraded a Fedora 31 server to Fedora 32

2. Tried to run `podman run centos:7`

**Describe the results you received:**
[code]

**Describe the results you expected:**
I expected to run the centos container.

**Additional information you deem important (e.g. issue happens only occasionally)

[2019-12-14 06:01] pgporada commented on #4702
I ran `sudo podman system reset` and that seemed to do the trick to allow me to run containers again. I still see the warning message though.
[code]

[2019-12-14 07:00] pgporada commented on #658
I'm experiencing the `podman ps` hang when running a container with elevated privileges.
[code]

`strace podman ps`
[code]

[2019-12-14 14:11] abitrolly commented on #3979
If I make a checkpoint.
[code]
Why it is not possible to restore it inside a pod?

[2019-12-14 15:14] fansari commented on #4678
"podman start ae3453a9ada5" works without problems.

And yes - on the host system there is a link /etc/resolv.conf -> /var/run/NetworkManager/resolv.conf.

Is it perhpas possible that the container tries to start before this link is available?

[podman-inpect.log](https://github.com/containers/libpod/files/3963959/podman-inpect.log)

[2019-12-14 17:23] abitrolly commented on #4016
I don't really get the whole picture of root, user, user namespace, SELinux and `podman unshare` in my head. Too much information. Maybe it is better to start with a practical example. Let's assume SELinux is not there. How should I modify my script that mounts current directory writable inside container to make it work with containers that use `USER java` like image from SchemaSpy does?
[code]

[2019-12-14 17:23] alitvak69 commented on #4213
Looks like their website down this morning.

[2019-12-14 19:02] Noah-Huppert commented on #4648
Log level debug:

[code]

I noticed two things in the logs:

1. >  The cgroups manager is set to systemd but there is no systemd user session available

   Even though I am passing the `--cgroup-manager=cgroupfs` option it still is trying to use systemd.

2. > Error initializing configured OCI runtime crun: no valid executable found for OCI runtime crun: invalid argument

    It is trying to use `

[2019-12-14 19:47] abitrolly opened #4703 "`podman ps -p` doesn't show pod name"
/kind bug

[code]
[code]
[code]

**Output of `podman version`:**
[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**
[code]

[2019-12-14 20:28] giuseppe commented on #4702
it looks like you are using the cgroupfs cgroup manager, that won't allow rootless users to configure cgroups.  Does it work with systemd cgroup manager?

[2019-12-15 05:05] 12factor-mx commented on #3977
Hello

Any progress?

[2019-12-15 10:02] abitrolly commented on #4499
What to look at? Is it some sort of `varlink` wrapper?

[2019-12-15 10:50] ensc opened #4704 "Non-stopping containers corrupt internal state with "pod rm -f""
/kind bug

**Description**

When a container does not get stopped by `podman pod rm -f` information about it are not completely released and e.g. its name can not be reused anymore.  Such containers do not show up in "podman ps -a" and can not be removed.  Their`slurp4netns` network stays alive too and blocks reuse of mapped ports.

**Steps to reproduce the issue:**

1.  `podman pod create --name

[2019-12-15 15:59] mheon commented on #4704
Will be fixed in 1.7.0

On Sun, Dec 15, 2019, 05:50 Enrico Scholz <notifications@github.com> wrote:

[2019-12-15 17:11] johanbrandhorst commented on #4495
This is still an issue.

[2019-12-15 17:26] ensc commented on #4704
fwiw, problem still exists in

[code]

[2019-12-15 18:41] clutchbeyers commented on #4039
Any updates to this? Impacting openshift 4.2 documentation on MACOSX using podman

[2019-12-15 22:22] poulad opened #4705 "Crashes when listing port mapping for latest(but removed) container"
/kind bug

**Description**

CLI crashes when listing port mappings if no container process is running.

**Steps to reproduce the issue:**

1. `podman rm --all`

2. `podman port --latest`

**Describe the results you received:**

![image](https://user-images.githubusercontent.com/14295804/70870251-e1913c00-1f5e-11ea-8f87-ad73e244fc1d.png)

**Describe the results you expected:**

A user friendly erro

[2019-12-15 22:52] mheon commented on #4705
Your version of Podman (0.10.1.3) is extremely old. I strongly recommend you upgrade - RHEL 7.7 has Podman 1.4.4 available, for example.

[2019-12-15 22:54] mheon commented on #4704
I assume you're running rootless?

Can you provide the full error message (`cannot remove container ... did not die within timeout`)? This could be the container not stopping after SIGKILL, which is somewhat concerning.

[2019-12-16 01:18] ensc commented on #4704
yes; it is rootless.

[code]

[2019-12-16 04:20] bszeti opened #4706 "podman-remote: podman push - invalid memory address or nil pointer dereference"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using podman-remote on MacOS with a remote Fedora 31. Command 'podman push' drops a go error:

[code]
**Steps to reproduce the issue:**

1. Pull or build and image (in my case image Id: 56d835d0d82f)
2. Try to push the image to a remote registry using podman-remote
podman push 56d835d0d82f do

[2019-12-16 04:37] larsks opened #4707 "Error creating cgroup directory"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `podman run -it --rm alpine sh`

**Describe the results you received:**

Attempting to start the container as above (as a non-root user) resulted in:

**Describe the results you expected:**

I expected the container to start.

**Additional information you

[2019-12-16 07:15] alitvak69 commented on #4213
I tested both repositories and were able to install podman 1.6.4 on ubuntu 18.04.   I hope that release propagation can be fixed.  They do have bugzilla FWIW

[2019-12-16 12:25] ensc opened #4711 "RFE: allow to configure default DNS"
/kind feature

**Description**

It would be nice to have a way to configure the default guest DNS settings without passing them everytime with `podman run`.   E.g. with docker, it was possible to give `---dns` to the `dockerd` daemon.

I have to change DNS guest settings because the host has only IPv6 resolvers in its `/etc/resolv.conf` which are not supported yet by podman.

Perhaps some setting

[2019-12-16 12:26] ensc commented on #4711
just saw https://github.com/containers/libpod/issues/4508 ...

[2019-12-16 12:26] #4711 closed

[2019-12-16 13:36] stephankoelle commented on #1742
In the current OBS package for Debian 10 is a bug:
[code]
It contain usr/lib/tmpfiles.d as empty file

[2019-12-16 14:30] vrothberg commented on #3696
The article has been published: https://www.redhat.com/sysadmin/podman-shareable-systemd-services

[2019-12-16 14:35] rhatdan commented on #4678
Should the systemd unit file depend on the network being started then?

[2019-12-16 14:39] rhatdan commented on #4016
basically the /root/$NAME directory would need to be accessible by the `java` user within the container.

Are you attempting to run this script as root or as non root?

[2019-12-16 14:49] rhatdan commented on #4156
@ssbarnea Are you still interested in this one?

[2019-12-16 14:49] rhatdan commented on #4236
@baude @jwhonce Are you guys going to fix this?

[2019-12-16 14:50] rhatdan commented on #3977
@12factor-mx Interested in opening a PR?  @mheon has been off working on other issues/features...

[2019-12-16 14:51] rhatdan commented on #4499
No this is Podman implementing the Docker API.

[2019-12-16 14:52] rhatdan commented on #4495
Ok I removed it from auto close.

[2019-12-16 14:53] rhatdan commented on #4039
Well most of the effort has been refocused on implementing the Docker API.  Should have more news after the holidays.

[2019-12-16 14:54] #4705 closed

[2019-12-16 14:58] rhatdan commented on #4707
Is this an SELinux issue?

[2019-12-16 15:03] Koushikgudipati opened #4715 "Unable to access application publically/outside after exposing port with podman"
<--
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST

**NOTE** A large number of issues reported against Podman are often found to already be fixed
in more current versions of

[2019-12-16 15:10] mheon commented on #4715
The `podman network` command is only available in 1.6.x and higher, which will likely arrive in 7.8.

Can you access the port remotely, from other systems?

[2019-12-16 15:27] larsks commented on #4707
@rhatdan it is not an selinux issue.

It looks like it has something to do with an interaction between podman and systemd-nspawn. After running `machinectl start <something>`, podman no longer works rootless.

[2019-12-16 15:44] giuseppe commented on #4707
might be https://github.com/containers/crun/issues/106 biting again.

[2019-12-16 15:56] rhatdan commented on #4508
Begin adding support https://github.com/containers/common/pull/29

[2019-12-16 16:07] Koushikgudipati commented on #4715
which port ? container port or server port?
I can see on server port is listening but when i am doing telnet from different host its not connecting
getting "connection refused....."
is there any way to fix this issue or any workaround?
is it only in RHEL7.7 or any other Linux OS also?

[2019-12-16 16:24] mheon commented on #4715
We don't know the cause yet, so I can't say. Can you provide IPTables rules from the server via `iptables -nvL` and `sudo iptables -nvL`?

Also, can you confirm if you are running Podman with or without root?

[2019-12-16 16:30] rohanlean opened #4716 "Process spawned by podman exec is not confined by SELinux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
The process spawned in a container by `podman exec` seems not to be confined by SELinux, although the container is.

**Steps to reproduce the issue:**

1. `mkdir foo`

2. `podman run --rm -it -v ./foo:/foo -w /foo --name foo busybox`, in the shell run `> test`

3. In a new terminal run `podman

[2019-12-16 16:52] Koushikgudipati commented on #4715
iptables -nvL
Chain INPUT (policy ACCEPT 1195 packets, 115K bytes)
 pkts bytes target     prot opt in     out     source               destination

Chain FORWARD (policy ACCEPT 0 packets, 0 bytes)
 pkts bytes target     prot opt in     out     source               destination
 156K  185M CNI-FORWARD  all  --  *      *       0.0.0.0/0            0.0.0.0/0            /* CNI firewall plugin rules */

[2019-12-16 17:14] mheon commented on #4715
@Koushikgudipati Sorry, can you also provide `sudo iptables -nvL --t nat`

@mccv1r0 Mind taking a look here?

[2019-12-16 17:15] mheon commented on #4715
Also, the contents of `/etc/cni/net.d` would be helpful

[2019-12-16 18:21] jvillal-amp opened #4717 "podman cp container:dir_path/. existing_dir/ not working as expected"
/kind bug

**Description**
The docker docs https://docs.docker.com/engine/reference/commandline/cp/ say that when copying and the SRC_PATH ends with "/." and the DEST_PATH is a directory that it will copy the contents of SRC_PATH to DEST_PATH.

Podman is copying the SRC_PATH to DEST_PATH and not the contents of SRC_PATH.

For example I do:
[code]

Which is not working as the 'docker cp' documentat

[2019-12-16 18:47] danopia opened #4718 "Unable to create pod with specific CNI network"
/kind feature

**Description**

Hello, I have created multiple different CNI conflists. I don't seem able to specify which conflist a pod's infra container will use.

[code]

In this case conflist 87 is the default `podman` network, and 89 is a custom `demo` network (10.89.0.0/24) which I intend to use for certain pods. I am able to use `--net=demo` when creating *containers* but not when creating

[2019-12-16 19:04] danopia commented on #4718
Since github's jump-to-definition is working these days I poked around a bit, looks like the desync is that creating an infra container always uses a zero-length network list: https://github.com/containers/libpod/blob/b2f05e0e84411f985fea66e9edff1fec8f26d28d/libpod/runtime_pod_infra_linux.go#L96-L104

While creating a normal container supports adding one or more userNetworks to the list: https://g

[2019-12-16 19:13] abitrolly commented on #4016
@rhatdan as non-root.

[2019-12-16 19:14] abitrolly commented on #4499
I thought that `varlink` is the API and everything else should be a wrapper over that rather than rewrite.

[2019-12-16 19:16] mccv1r0 commented on #4715
In addition to providing ``` sudo iptables -nvL --t nat ```  can you confirm that something in the container is actually listening on port ``` 8080 ``` ?

[2019-12-16 19:18] mheon commented on #4499
There'll be more details in the future, but this is and will continue to be entirely separate from the Varlink API.

[2019-12-16 19:29] rhatdan commented on #4648
Is there crun and systemd defined in ~/.config/.containers/libpod.conf?

[2019-12-16 19:33] rhatdan commented on #4707
Do you have a newer version of crun available?

[2019-12-16 19:34] tmds commented on #4159
I think I'm hitting the same issue, with a newer error message:
[code]

[2019-12-16 19:39] Noah-Huppert commented on #4648
There is no mention of systemd in my [`libpod.conf`](https://gist.github.com/Noah-Huppert/cc8859c62be4535a458a0be3d624b05d#file-libpod-con). Which is really odd b/c the debug output always says `WARN[0000] The cgroups manager is set to systemd ...`.

[My runtime is set to `runc`](https://gist.github.com/Noah-Huppert/cc8859c62be4535a458a0be3d624b05d#file-libpod-conf-L3). A path for crun is defined

[2019-12-16 19:52] mheon commented on #4648
`time="2019-12-14T14:09:14-05:00" level=debug msg="using runtime \"/usr/bin/runc\""`

We are using `runc` - don't worry about the crun warning, that's expected if `crun` isn't installed. As long as the `using runtime...` line says `runc` we're using `runc`.

It seems like libpod has completed initialization (or is near to completing it) when we make this query.

[2019-12-16 20:04] mheon commented on #4648
The other error messages, though, the systemd ones - those apparently trigger *unconditionally* when Podman is run as root when a DBus connection is not available, even when we are already configured to not use journald logging and events. I'm not sure why that is - maybe a mistake?

[2019-12-16 20:08] mheon commented on #4648
Hm. We're running as rootless, though. Which means that at least part of the config file isn't being respected here.

[2019-12-16 20:08] mheon commented on #4159
Your `libpod.conf` probably has `init_path = ""` somewhere in it - try removing that line.

[2019-12-16 20:26] mheon commented on #4718
Yeah, this just needs to be wired up in the command line, though @haircommander and I were discussing moving infra container creation logic such that we wouldn't also need to pass all infra config through the pod configuration, which would make it easier to allow more container configuration options for pods.

[2019-12-16 20:34] danopia commented on #4718
That would be a good refactor, I don't really want to submit a PR that just copy/pastes the split code..

Would it be more practical, short term at least, to defer the infra container creation, and allow following up with some sort of `container create --pod=... --as-infra ...` command so the full option set is available?

[2019-12-16 20:48] wishachu commented on #4057
I was having this issue on fedora 31 after updating from 30

[code]

I fixed it with:

[code]

[2019-12-16 20:52] mheon commented on #4718
I think that would be an end-goal of our refactor - allowing `podman pod create` without an infra container and then `podman create --as-infra` on that pod.

[2019-12-16 21:12] rhatdan commented on #4016
Well most likely a podman user will not be allowed to see /root/$NAME.

If the rootless user can see /root/$NAME then it probably should be owned by his UID or the UID of java running within the user namespace.

Let's change your example to /var/tmp/$NAME, to make it simpler for me to understand.  Where $NAME is the user running the container.  If his UID == 1000, then this directory should be own

[2019-12-16 21:12] rhatdan commented on #4016
@giuseppe We need to make this easier for users...

[2019-12-16 21:24] danopia commented on #4718
Ah, I initially read it as somehow inheriting all the `create` flags in `pod create` and internally handing off the infra handling.

In the case of allowing a followup command, I'm not sure what actual refactoring is needed. Given that the infra pod is already opt-out-able at least. Sounds like creating an `--as-infra` flag on `create` would do it, as long as it invokes a copy of this code: https:

[2019-12-16 21:33] mheon commented on #4718
We'd need the ability to set `pod.state.InfraContainerID` (presently it's not really accessible), but only once - I don't expect that we'll allow infra containers to be overwritten once set, at least at first. `withInfraContainer()` will need to be made public, and wired into the command line for container creation. It might also be necessary to make some changes to pod creation to allow the pod n

[2019-12-17 03:22] Koushikgudipati commented on #4715
iptables -nvL --t nat
Chain PREROUTING (policy ACCEPT 5152 packets, 809K bytes)
 pkts bytes target     prot opt in     out     source               destination
95274 4640K DOCKER     all  --  *      *       0.0.0.0/0            0.0.0.0/0            ADDRTYPE match dst-type LOCAL
18712  904K CNI-HOSTPORT-DNAT  all  --  *      *       0.0.0.0/0            0.0.0.0/0            ADDRTYPE match dst-type

[2019-12-17 04:28] danopia commented on #4718
I went ahead with patching a --network flag into `pod create` in #4719 to fulfill the original request. It works for my needs locally and maybe makes sense to upstream too.

Given the work described to properly allow full flexibility with infra containers, and the fact that I only have pretty crappy podman environments available I don't think I'd manage a proper attempt at that larger refactor bef

[2019-12-17 05:49] bfallik opened #4720 "stdout missing when running podman from systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I was experimenting converting an existing systemd+podman container to the approach described in [Running containers with Podman and shareable systemd services](https://www.redhat.com/sysadmin/podman-shareable-systemd-services).

I can start and stop the container and confirm the service is b

[2019-12-17 06:46] jasinner commented on #4549
Raised 2 RHEL hardening bugs to remove quay.io from the default registry search list.
- RHEL7: https://bugzilla.redhat.com/show_bug.cgi?id=1784265
- RHEL8: https://bugzilla.redhat.com/show_bug.cgi?id=1784267

[2019-12-17 07:46] adrianreber commented on #3979
CRIU cannot handle this currently. If CRIU restores a process running in namespaces, CRIU currently also restores all namespaces. For Podman we introduced the possibility in CRIU to restore a container into an existing network namespace, because Podman uses CNI to create network namespaces and CRIU can now restore a container into an existing network namespace. To restore a process into an existin

[2019-12-17 13:53] fansari commented on #4678
First of all I cannot remember that I had this issue before.So this should not happen this way.

I have now tried to add dependencies into the systemd files - but this does not help.

For example I tried this:

[code]
or this:

[code]
I do not understand why if I configure these dependencies the containers are not able to find /var/run/NetworkManager/resolv.conf. When is this file created?

[2019-12-17 15:12] jvanz commented on #4553
@rhatdan , we can close this one. I forgot to add the command to close the issue in the commit.

[2019-12-17 15:28] #4553 closed

[2019-12-17 17:08] #4606 closed

[2019-12-17 20:47] abitrolly commented on #4016
@rhatdan and there is still no answer to the question how should I modify my script. I don't care which user runs inside container as long as the volume can be written.

[2019-12-17 20:56] lsm5 commented on #4213
hey @alitvak69  the testing repo is now self-contained and will have 1.7.0-rc1 in a bit (right now 1.6.4 is installable). Could you please give it a try and report back any issues?

[2019-12-18 00:23] onlyjob commented on #4504
@github-actions bot wishes this issue were never reported...

[2019-12-18 02:12] Komic commented on #4704
Also seeing this, not rootless.

[2019-12-18 02:29] mheon commented on #4704
I can't reproduce here. I assume there's some sort of condition here causing Postgres to not die?

Can you check if the container PID is still there after the container dies? I wonder if you're seeing a lot of zombie processes stuck in I/O sleep, or similar. I don't think we can do much about that - if you have processes that won't die and are using the mount, we can't remove it.

[2019-12-18 03:09] Komic commented on #4704
As far as I can tell no, nothing is running. Getting `Error: container is mounted and cannot be removed without using force: container state improper` when trying to rm --storage

[2019-12-18 03:13] mheon commented on #4704
And you're certain you're getting `did not die within timeout` errors?

Are you using `podman rm` or `podman pod rm`

[2019-12-18 03:17] Komic commented on #4704
Pretty sure yes. Both pod rm and rm fail but the actual container is what I seem to have issues with, not the infra one.

[2019-12-18 10:38] ensc commented on #4704
Here, it might be caused by an old `~/.config/containers/libpod.conf` configuration which had

[code]

After removing this configuration, a new one with

[code]

will be created where the problem does not happen anymore.

I am pretty sure that `cgroupfs` was not added by me but some former setting.

[2019-12-18 10:56] ensc opened #4724 "Limit content of `~/.config/containers/libpod.conf`"
/kind bug
/kind feature

**Description**

A `~/.config/containers/libpod.conf` file  is created at the first start of `podman` with the actual settings.

This file is not touched/migrated after then which causes problems when there is a `libpod.conf` from ancient versions. E.g. one with

[code]

settings whose code path is not tested anymore and which causes problems in recent versions (e.g. #4704

[2019-12-18 12:23] michaeladler opened #4725 "binfmt_misc mountpoint missing in privileged containers"
/kind bug

**Description**

In order to be compatible with Docker, a privileged container should provide the binfmt_misc mountpoint.

**Steps to reproduce the issue:**

1. `sudo podman run --rm -it --privileged debian:buster-slim /bin/bash`

2. `mount | grep binfmt_misc`

**Describe the results you received:**

Empty output

**Describe the results you expected:**

[code]

**Additional information

[2019-12-18 12:43] rhatdan commented on #4725
Does Docker mount the /proc/sys from the host into the container?

[2019-12-18 12:48] michaeladler commented on #4725
Yes. Unfortunately, binfmt_misc is not yet namespace aware, although there are some [recent efforts](https://lkml.org/lkml/2019/11/7/577) to remedy this...

[2019-12-18 12:52] rhatdan commented on #4016
Well if the volume is owned by the user or has write permissions of the users group, then it should be writeable.
chown -R $NAME:$NAME /root/$NAME

[2019-12-18 13:56] abitrolly commented on #4016
@rhatdan what does mean "volume is owned by user".  `$NAME` in my script is the short directory name that I want to mount in my home. I run `podman` as myself, no root. `Dockerfile` for container that I run includes instruction `USER java`. The process in container can not write to this dir mounted using this script.
[code]
How to modify it to allow writes without giving up on security?

[2019-12-18 13:57] rhatdan commented on #4515
This is fixed in master.

[2019-12-18 13:57] #4515 closed

[2019-12-18 14:09] rhatdan commented on #4016
chown -R $USER:$USER /root/$NAME
chown -R abitrolly:arbitrolly /root/$NAME

That will mean that all of the content will be owned by your user and will show up as "ROOT" in the rootless container.  Since Your user is ROOT in the namespace.

[2019-12-18 14:16] Komic commented on #4704
Afraid I don't have such a file on my system.

[2019-12-18 14:17] rhatdan commented on #4704
We have another issue with podman rm -f versus podman stop/podman rm.  The issue is we are setting the "ALL" flag to true in podman rm case, where as in podman stop we are setting ALL to false.

The ALL flag tells the OCI Runtime to send the signal to ALL processes versus just PID 1 of the container.  If the Container is running in a PID Namespace, then sending the signal to PID 1 is enough, since

[2019-12-18 14:58] abitrolly commented on #4016
`chown` needs to be run outside or inside the container? Because outside it
is already `abitrolly:abitrolly`, and inside it should fail, because inside
the user is `java`. I can not test right now.

[2019-12-18 15:10] DamienCassou commented on #4515
Daniel J Walsh <notifications@github.com> writes:

thank you!

--
Damien Cassou

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2019-12-18 15:13] mheon commented on #4724
Already handled on master (actually made it into 1.6.3 as well I think)

On Wed, Dec 18, 2019, 05:56 Enrico Scholz <notifications@github.com> wrote:

[2019-12-18 15:23] mccv1r0 commented on #4715
At first glance, this doesn't look right:

[code]

The podman command mapped port 8085 to 8080 ```-p 8085:8080```   yet I see 9080 in the DNAT rule.

[2019-12-18 15:41] rhatdan commented on #4016
What is the UID of java inside of the container?
Also what does
cat /proc/self/uid_map inside of the container look like.

[2019-12-18 15:44] sshnaidm commented on #4654
@rhatdan can you please make me a part of github.org "containers" organization https://github.com/orgs/containers/people ?
Seems like without it I can't do anything, galaxy requires you to be a part of organization to assign it to namespace. @gundalow can confirm

[2019-12-18 15:52] rhatdan commented on #4654
Sent you an invite.

[2019-12-18 17:14] gundalow commented on #4654
@rhatdan you should have powers now

[2019-12-18 18:14] raukadah commented on #713
@nalind @rhatdan you are working on this? If not, I want to work on this?

[2019-12-18 18:18] rhatdan commented on #4654
Frankly I do not know what you want me to do?

[2019-12-18 18:20] rhatdan commented on #713
@raukadah Go for it.

[2019-12-18 18:23] sshnaidm commented on #4654
@rhatdan just enjoy it :smile:

[2019-12-18 19:07] thomasmckay commented on #4580
I've just encountered not being able to install `gpgme-devel` on `centos:8` base image, is there a link somewhere that I can watch how this will be resolved? (I understand not related to libpod project but am a bit desperate to find solution.)

[2019-12-18 19:34] alitvak69 commented on #4213
Testing repo works self-contained, installed 1.7.0-rc1.

It would be a good idea to fix stable because some people may stick with stable at some places.

Any chance that buildah will make to those repos as well?

[2019-12-18 20:37] lsm5 commented on #4213
Yes, I'll add buildah and fix stable too.

Btw, there's probably more changes upcoming to the repository location. I've been in discussions with @sysrich (thanks to @vrothberg) who maintains podman and other tools for openSUSE's kubic project, and I'll be moving our packages there, hopefully we can have a combined effort to accommodate majority distros and arches. I can update the stable subprojec

[2019-12-19 01:52] ACiDGRiM commented on #3696
I've created the services with `podman generate systemd` and reliability is improved, however if the container dies without cleaning up, conman still hangs around and must be killed via PreStart or manually.
Furthermore I also run into this issue after releasing the port by killing conmon:
`Error: unable to start container "plex": sd-bus call: File exists: OCI runtime error`

Also to note, podman

[2019-12-19 01:53] ACiDGRiM commented on #3696
Oh,...It's closed

[2019-12-19 03:07] sayboras commented on #4364
can we have some steps before the official docs ?

[2019-12-19 05:04] bfallik commented on #4720
After reading the [escape-from-the-dock](https://www.jdieter.net/posts/2019/12/17/escape-from-the-dock/) blog post I was inspired to try dropping the ```--detach``` podman flag and changing the unit file to ```type=simple``` and, voila, logging is back.

I can understand why ```type=forking``` may be incorrect for coredns since it probably doesn't fork but I'm confused how the ```top``` example fr

[2019-12-19 06:11] mheon commented on #4720
I don't actually know how `type=forking` works with a pidfile specified - but I know that the reason we moved away was because tracking `podman run` is not correct behavior, and can lead to VERY bad results.

Our containers are not direct children of Podman. During container startup, we launch an instance of Conmon (an extremely lightweight monitor process) which double-forks to daemonize and then

[2019-12-19 07:20] onlyjob commented on #4504
FYI @towe75

[2019-12-19 07:32] DaanDeMeyer commented on #4213
Will the project-atomic PPA still be updated or do we have to use a new repo to get the latest podman release on Ubuntu? I'm not entirely sure if the the latest podman releases are already available via a package repository.

[2019-12-19 09:01] johanbrandhorst commented on #4131
Still being worked on

[2019-12-19 09:16] dependabot-preview[bot] opened #4728 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/18225746).

[2019-12-19 13:34] #4507 closed

[2019-12-19 13:35] rhatdan commented on #4530
Any movement on this?

[2019-12-19 13:36] rhatdan commented on #4520
@mido3ds @lsm5 Can we close this issue?

[2019-12-19 13:37] rhatdan commented on #4480
@matpen are you interested in working on this?

[2019-12-19 13:38] rhatdan commented on #4432
@larsks @haircommander Is this fixed now?  Can we close?

[2019-12-19 13:39] rhatdan commented on #4288
@Aparratus @mheon is this still an issue?

[2019-12-19 13:41] bfallik commented on #4720
Interesting... thanks for sharing that.

[2019-12-19 13:56] rhatdan commented on #4131
It has been back burnered especially until after the break.

[2019-12-19 13:58] haircommander commented on #4432
nope, still not fixed

[2019-12-19 14:40] baude commented on #658
@pgporada have a reproducer we can try?

[2019-12-19 14:42] mido3ds commented on #4520
Yes, sure. Sorry didn't have time to reply and close.

On Thu, Dec 19, 2019, 3:36 PM Daniel J Walsh <notifications@github.com>
wrote:

[2019-12-19 14:59] pgporada opened #4729 "Full host disk causes readObjectStart error"
/kind bug

**Steps to reproduce the issue:**

1. Go to bed

2. Have the root partition fill up

3. Wake up and check /var/log/messages

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**P

[2019-12-19 15:15] #4520 closed

[2019-12-19 15:22] pgporada commented on #658
Yes, start a container as follows
[code]

Kill the PID of the container on the host via `kill -9 ${PID}` and then try to run `podman ps` and you'll see it hang indefinitely. Perhaps this is a different issue?

[2019-12-19 16:24] t184256 commented on #4606
I've tried podman 2:1.7.0-0.16.dev.gitc1a7911.fc32 and now it works as expected. Thanks!

[2019-12-19 17:02] rhatdan commented on #4729
So the healthcheck log filled up an used all of your disk space?

[2019-12-19 17:10] pgporada commented on #4729
It was a combination of plex metadata and /var/log/messages filling up with that podman message that caused this little server to fill up its disk.

[2019-12-19 17:11] rhatdan commented on #4729
Why do you think this is a podman issue?  What could podman have done to prevent it?

[2019-12-19 17:13] pgporada commented on #4729
I don't think that podman could have prevented it, but I guess a cleaner error instead of the following might be better?
[code]

[2019-12-19 18:09] rhatdan commented on #4729
That is what the healthcheck is saying?

[2019-12-19 19:25] baude commented on #4729
The error comes from here:
[code]

I suspect that the "last" update to the log fails because it cannot write the full entry and therefore is no longer valid JSON.  Upon read, it then throws this error.  I don't think we want to specifically check for a full volume here do we?  I could add to the error message that this could be a possible problem?

[2019-12-19 19:42] lsm5 commented on #4213
PPA won't be updated anymore. All new stuff going to OBS.

The `kubic:libcontainers:stable` project repo works now for podman 1.6.4, I'm working on buildah and cri-o now. Repo setup instructions can be found here: https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman

Let me know if any issues..

[2019-12-19 21:16] lsm5 commented on #4213
buildah 1.12.0 should be available as well, cri-o coming up..

[2019-12-19 22:53] smekkley commented on #4586
I'm wondering. Would that be possible maybe in the future to support packet filtering per container with rootlesskit for outgoing traffic? For example it would be useful if one container can access internet, while other containers can't on the same host. With rootful container is just attaching device and forward iptables, i wonder if it's even worth considering supporting a such feature for rootk

[2019-12-19 23:11] AkihiroSuda commented on #4586
You can already run iptables in rootlesskit (Not rootkit! :smile: )

[2019-12-20 00:03] #4488 closed

[2019-12-20 01:47] baude commented on #4586
you can also limit container network access in a variety of other methods including setting up cni networks that do not forward past the host.

[2019-12-20 10:09] yrobla commented on #3835
Centos 8 is still on 1.0.5 version, while RHEL 8 has a much newer version. How can we get the matching version for CentOS 8?

[2019-12-20 10:57] b0wter commented on #4213
Works perfectly for me. Thank you!
It would be great if someone updated the installation instructions on the official homepage:

https://podman.io/getting-started/installation

[2019-12-20 12:04] rhatdan commented on #4535
@QiWang19 Still working on this?

[2019-12-20 12:05] rhatdan commented on #4531
@mheon @haircommander Reading this, I am not sure if there are any action items?

[2019-12-20 12:29] lsm5 commented on #4213
yup, I'll send a PR today. Thanks for testing this!

[2019-12-20 14:25] haircommander commented on #4531
Yeah it seems this limitation is a consequence of design

[2019-12-20 14:31] #4531 closed

[2019-12-21 00:19] lsm5 commented on #4501
@abitrolly could you PTAL?

[2019-12-21 00:19] mheon commented on #3575
Should be made substantially easier with the patch from @vrothberg to display the original creation command in `podman inspect`

[2019-12-21 00:21] lsm5 commented on #4501
@cevich was the snap version fixed?

[2019-12-21 04:03] abitrolly commented on #4501
@lsm5 no, no progress on fixing the version. https://github.com/containers/libpod/pull/4135 I may take another look at it this weekend, but I really need to care about myself and do commercial stuff instead, so I better not promise anything.

[2019-12-21 06:55] adrianreber opened #4734 "Podman on Ubuntu 18.04 fails with seccomp error"
I installed Podman on Ubuntu 18.04 using following link

https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman

This gives me podman 1.6.4~1 but starting a container gives me following error:
[code]

I have the default kernel that came with the installation: `4.15.0-72-generic`.

I have seen the same error using Podman on a Travis based system.

[2019-12-21 08:03] matpen commented on #4480
I would love to help! My only problem is that I never wrote one single line of `go` in my life... but I am quite experienced with other languages.

Maybe I can write an external prototype with some other technology, and as soon as that works and aligns with the project's general architecture, I can have a friend help me with the actual integration. Would that be acceptable?

[2019-12-21 11:21] rhatdan commented on #4481
Looks like this is fixed in master.

[2019-12-21 11:21] #4481 closed

[2019-12-21 11:26] rhatdan commented on #4480
Sure.

[2019-12-21 15:01] FlashDaggerX commented on #4349
So I ran into this error, and I thought leaving this here would help.

***Disclaimer: I'm new to cgroups***
You need to place your user into a cgroup before you can use your container. It isn't related to this issue, but I thought those who'd come across this via google search could use this [page](https://linuxcontainers.org/cgmanager/getting-started/) to fix their cgroups.

Here's the hacky solu

[2019-12-21 17:44] smekkley commented on #3917
Was supporting `--isolation=chroot` option an option in case of podman? What's nice about this option in buildah is that you are sure you only need root inside a container because it's just a chroot wrapper against the extracted container image directory.
In the future, it'd be nice to run rootless podman inside podman in a such way, but I guess it's challenging.

[2019-12-21 18:33] fansari commented on #4678
Here my next ugly suggestion:

[code]

Then I define the monitor-resolv-conf units:

monitor-resolv-config.service

[code]

monitor-resolv-config.path

[code]

Even here I need to put a sleep in. Otherwise the container is still not able to find the resolv.conf file.

[2019-12-21 19:34] larrypl opened #4736 "podman takes 3 times as long as docker to pull or remove an image"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

On the same host, to the same file system, using the same image, doing ‘time docker pull’ and ‘time podman pull’, podman takes up to 3 times longer, root or rootless. With debug it appears that after the ‘storing signatures’ message there are untars for each layer that take the most amount of

[2019-12-21 22:03] alitvak69 commented on #4734
I reproduced it in my test environment.  The same container runs on 1.6.2 installed from ppa

[2019-12-21 22:10] G-Ray opened #4737 "slirp4netns cpu usage with torrents"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running an image for deluge with some torrent downloading (~20MB/s), slirp4netns takes around 30-50% cpu according to `top`. Is it an expecting behavior with all the tcp connections involved by torrents ? Could it be related to https://github.com/rootless-containers/slirp4netns/issues/157 ?

[2019-12-21 22:16] st1971 opened #4738 "Completion in zsh"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Command completion not working as expected when using the zsh shell.

**Steps to reproduce the issue:**

1. type 'podman run'

2. hit tab key

3.

**Describe the results you received:**
3 Lines of errors.
[code]

**Describe the results you expected:**
List of images

**Additional information

[2019-12-21 22:48] alitvak69 commented on #4734
I could run the same container with --security-opt=seccomp=unconfined.  Was SELinux enabled during the build?

[2019-12-21 22:50] alitvak69 commented on #4213
@lsm5 Found the issue with 1.6.4 build today, please take a look at #4734
Thank you

[2019-12-21 23:04] siscia opened #4739 "Remote snapshotter in podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description** Remote snapshotter in podman

We are really interested in the possibility to use a remote snapshotter like the one provide in containerd also in podman.

A remote snapshotter is a piece a containerd plugin which is provided as input the name of the layer that containerd need and it either

[2019-12-21 23:47] mheon commented on #4737
Slirp is expected to use some CPU (it has to manually move data into and
out of the container) but that amount sounds high. How fast are you
downloading at?

On Sat, Dec 21, 2019, 17:10 Geoffrey Bonneville <notifications@github.com>
wrote:

[2019-12-22 11:17] G-Ray commented on #4737
I was downloading at around `25MB/s`, not so fast I guess. Is it expected ?

[2019-12-22 12:11] st1971 commented on #4736
I'm not a member of this project, but on the surface this does not look to be an like for like comparison, with podman you are running rootless which means that you have an overhead of userspace overlay-fs and user namespaces.  Docker does not have these as it's running as root.

What do the timings look like if you try 'sudo podman pull' which would be closer to a like for like comparison.

[2019-12-22 14:58] rhatdan commented on #4738
@edsantiago I think you wrote the original script.

[2019-12-22 14:59] rhatdan commented on #4734
--security-opt=seccomp=unconfined has nothing to do with SELinux.  This is disabling seccomp.json rules.

[2019-12-22 15:02] rhatdan commented on #4737
@AkihiroSuda PTAL

[2019-12-22 15:43] AkihiroSuda commented on #4737
Changing mtu may have some effect?

https://github.com/containers/libpod/blob/b29928f01598810328fa6b0cf91abb84670d8d01/libpod/networking_linux.go#L212

[2019-12-22 16:49] alitvak69 commented on #4734
@rhatdan understood.   I do see podman built with libseccomp and so is cri-o-runc.

According to dsc:
podman 1.6.4:
`Build-Depends: debhelper (>= 9), libassuan-dev, libgpgme11-dev, libseccomp-dev, libsystemd-dev, dh-golang, golang, libglib2.0-dev, go-md2man, git`
cri-o-runc 1.0.0-3:
`Build-Depends: debhelper (>= 9), dh-golang, golang, go-md2man, libapparmor-dev, protobuf-compiler, libseccomp-dev,

[2019-12-22 17:10] alitvak69 commented on #4734
I may be mistaken but seccomp was not enabled on the podman build (seccomp tag is missing)

`[  169s] GOPATH=/usr/src/packages/BUILD GO111MODULE=off /usr/bin/go build -tags 'apparmor exclude_graphdriver_devicemapper exclude_graphdriver_btrfs systemd varlink' -ldflags '"-X main.buildInfo=1576703795"' -o bin/podman github.com/containers/libpod/cmd/podman
[  253s] GOPATH=/usr/src/packages/BUILD GO111

[2019-12-22 18:01] baude commented on #4739
care to contribute?

[2019-12-22 18:06] baude commented on #658
@pgporada when you say kill the pid of the container, what exactly are you killing?

@mheon dont we have issues when things get killed from underneath conmon?

[2019-12-22 18:23] hurricanehrndz commented on #4349
@FlashDaggerX

As far as I can tell cgm has been deprecated. My knowledge and understanding of cgroup is novice at best as well

Interestingly enough podman seems to now run systemd container intermediately, see log below:
[code]

[2019-12-22 18:31] larrypl commented on #4736
Sorry, I should have mentioned I tried that. Here's the timing for a pull:
[code]
In this case it was faster but still significantly longer than docker, although I see that the copying config step took a long time, as opposed to the tar extraction.

[2019-12-22 18:41] siscia commented on #4739
Maybe I can find the time myself or maybe we can find some resource to have somebody working on it.
It is something interesting for podman? If I had a PR ready, it would be merged?
I haven't really find the time to explore the codebase, who is responsible for this particular part of the codebase?

[2019-12-22 18:51] AkihiroSuda commented on #4739
cc @ktock

[2019-12-22 19:18] mheon commented on #4739
I somewhat suspect this world be part of the containers/storage library.

On Sun, Dec 22, 2019, 13:52 Akihiro Suda <notifications@github.com> wrote:

[2019-12-22 19:49] hurricanehrndz commented on #4349
The plot thickens...

seems like to container fails whenever conmon produces the following error:
[code]
Which is supposed to be expected at least according to his issue #3024

[2019-12-22 21:29] mheon commented on #658
It's conmon getting killed before the container, the container dying before
conmon should be fine.

On Sun, Dec 22, 2019, 13:06 Brent Baude <notifications@github.com> wrote:

[2019-12-22 21:31] mheon commented on #658
Conmon dying could hang us as we wait for the exit file, though.

On Sun, Dec 22, 2019, 16:29 Matthew Heon <matthew.heon@gmail.com> wrote:

[2019-12-23 00:09] ktock commented on #4739
Thanks a lot for opening it! I'm keen to contribute to it.

I'm currently working on the implementation of remote snapshotter plugin which enables us to mount layers without pulling the actual contents. We can plug any filesystem into it so we currently support CRFS's stargz-based filesystem and we discuss to support CernVM-FS and other filesystems.
https://github.com/ktock/remote-snapshotter

Rem

[2019-12-23 00:24] ktock commented on #4739
I opened the discussion on https://github.com/containers/storage/issues/498 .

[2019-12-23 07:52] DudleyDursley commented on #4433
You can start pods using systemd services but you have to add `RemainAfterExit=yes` to the [Service] section.

[2019-12-23 12:40] axelthimm commented on #3917
I tried podman in rootless podman, but it doesn't work, yet.

[2019-12-23 13:52] rhatdan commented on #4678
@msekletar PTAL

[2019-12-23 13:54] rhatdan commented on #3653
@giuseppe did you ever do the Podman side of this for the PR?

[2019-12-23 14:27] rhatdan commented on #3917
Yes, we are continuing to work on this.

[2019-12-23 14:35] TomSweeneyRedHat opened #4741 "Update podmanimage like buildahimage"
@rhatdan recently updated how the buildahimage on quay.io is built and similar changes are needed for the podmanimage.  Creating this issue so I don't forget about chasing it down after the break if @rhatdan doesn't beat me to it.

Buildah PR of interest:  https://github.com/containers/buildah/pull/2038

[2019-12-23 15:59] giuseppe commented on #4739
low level bits are being worked in https://github.com/giuseppe/crfs-plugin and fuse-overlayfs.

The rest of the implementation, as @mheon said, should go into containers/storage

Other remote file systems can be added in a similar way to `crfs-plugin` that can be used with fuse-overlayfs to lookup files from the image/lower layers

[2019-12-23 16:16] #4695 closed

[2019-12-23 16:37] alitvak69 commented on #4213
@lsm5 Sorry for bugging you, but could you add seccomp to your tags?

[2019-12-23 17:01] #4738 closed

[2019-12-23 18:08] lsm5 commented on #4213
No worries, always a pleasure to help dedicated podman users :) .. I sent 1.6.4\~2 to OBS stable repo just now, should be available in an hour or less I guess.

[2019-12-23 18:53] phoracek commented on #4728
I faced the same issue in my project while running `go mod tidy` today.

[2019-12-23 19:45] TomSweeneyRedHat opened #4744 "`podman inspect -t container --size myctr` not working"
/kind bug

**Description**

The `--size` option in a command like:

`podman inspect -t container --size myctr`

is being ignored.  Instead of just the size being returned, the whole inspect output is instead shown.

**Steps to reproduce the issue:**

1.  podman pull alpine

2. podman run --name=myctr alpine ls /etc/network

3. podman inspect --size -t container myctr

**Describe the results you re

[2019-12-23 20:02] mheon commented on #4744
I think we expect `--size` to show everything plus size - if size is being shown, it should be working right. I think you need a `--format` to get just the size.

[2019-12-23 20:05] TomSweeneyRedHat commented on #4744
If size is being shown, I'm losing it in all of the output and I'm not gronking it with grep:

[code]

[2019-12-23 20:06] mheon commented on #4744
Hm. I'll take a look

[2019-12-23 20:20] smekkley commented on #4586
@AkihiroSuda
I'm curious how it works including how it keep persistence. I guess it's not technically iptables (filtering doesn't happen in kernel space), or may be it requires some new kernel feature?

[2019-12-23 20:53] smekkley commented on #4586
@baude
Thanks a lot! I didn't know I can use cni with rootless podman. For now, I just did removed default gateway and added only necessary destinations.

[2019-12-23 21:20] mheon commented on #4586
I don't believe you can. We explicitly do not initialize CNI as rootless because it requires too many permissions to use.

[2019-12-23 22:47] edsantiago opened #4746 "(minor) podman kill: should do input validation"
Looks like podman is accepting any int, casting to ulong, and passing it along:
[code]
Would it make sense to validate against `SIGRTMAX` before accepting it?

And, for the sake of discussion, I feel it might be a nice courtesy to accept a signed int and run `abs()` on it. Those of us with fingers trained to type `kill -N` would appreciate it.

Oh, also, `kill -s 0` throws an error (invalid signal

[2019-12-23 23:17] smekkley commented on #4586
Indeed. It failed. I believe the only way to filter in the userspace is by implementing some sort of tcp/udp filter.

[2019-12-24 00:02] #4156 closed

[2019-12-24 00:02] #4236 closed

[2019-12-24 00:06] alitvak69 commented on #4734
Installation of 1.6.4~2 fixed the problem.

[2019-12-24 02:44] zhuguoliang commented on #4364
Got stuck here too

Version:            1.6.1-dev
RemoteAPI Version:  1
Go Version:         go1.12.9
OS/Arch:            darwin/amd64
Service:
Error: could not get runtime: dial unix /run/podman/io.podman: connect: no such file or directory

[2019-12-24 05:13] lokinell commented on #4364
I have the same problem.

[2019-12-24 12:40] shaicoleman opened #4747 "ubuntu: podman 1.6.4 installation conflict with docker-ce-cli"
/kind bug

**Description**

When trying to install podman 1.6.4, I'm getting the following error:
[code]

-->

**Steps to reproduce the issue:**

1. Install docker-ce: https://docs.docker.com/install/linux/docker-ce/ubuntu/
2. install podman from here: `https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman`

[code]
podman/unknown 1.6.4~2 amd64
[

[2019-12-24 12:46] rhatdan commented on #4746
I like to get a fix on all of these.

Anyone out there looking for a quick git project should grab this.

[2019-12-24 12:52] rhatdan commented on #4550
@mheon @stefanb2 Do we still have this issue?

[2019-12-24 12:55] rhatdan commented on #4311
Have we determined if Docker forwards IPV6 ports?  I think we have determined that it did not, so nothing to fix here.   Am I correct @mccv1r0?

[2019-12-24 12:56] #4734 closed

[2019-12-24 12:58] rhatdan commented on #4747
This looks like podman-docker is combined into the same package.  It should be a subpackage and only installed on demand and conflict with docker.  This is how it works with the RPM packaging.

[2019-12-24 18:42] funkytaco commented on #2788
FYI, I had this error when I had two entries in /etc/subuid and the first entry was not sufficient resource access to use podman.

[2019-12-25 00:03] #4096 closed

[2019-12-25 10:53] ssbarnea commented on #4364
I can give ssh access to a MacOS Catalina with latest xcode and homebrew if any libpod developer  for debugging libpod building.

I suspect that building podman for macos will be a real struggle if we build inside a linux vm code that later runs on macos. I bet is not possible to sign that binaries from within the linux vm.

[2019-12-25 21:26] G-Ray commented on #4737
I Just compiled the project with mtu set to 1500, result is similar. Any other guess ? The issue is easily repductible, I updated the original post if you want to give it a try.

[2019-12-25 22:27] yanivpaz1973 commented on #4373
@mheon - is there ETA for this ?   I want to stay with my alias podman=docker and softlink docker->podman ;-)

[2019-12-26 00:47] #4510 closed

[2019-12-26 13:41] Michael-Angel-Sec commented on #3264
Thank you for your work on this feature.  We are doing single node podman deployments and are looking forward to this feature.

[2019-12-26 17:21] adrubesh commented on #4326
Is there any updates to this issue? I'm running into a problem backing up / restoring a mariadb container via:

Backup (Successful):
`podman exec -it mariadbcontainer mysqldump -u USER -pPASS DATABASE > mybackup.sql`

Restore (Unsuccessful):
`cat mybackup.sql | podman exec -i mariadbcontainer mysql -u USER -pPASS DATABASE`

This is my usual workflow with docker, however, it fails to restore the ba

[2019-12-26 20:07] Michael-Angel-Sec opened #4750 "Secure Configuration for Podman"
We have done basics such as Securing the Operating System per Openscap, Central Logging, Auditing, SELinux Enforcing, FIPS mode.  We also configured rootless containers per RedHat Documentation [1].  We have setup signed images as a requirement to pull containers although I understand this does not block manual local container file import. [2]  I've had trouble finding security recommendations for

[2019-12-26 21:07] mheon commented on #4373
Took a crack at this one today. I've convinced Podman to accept both `--format` and `--quiet` at the same time, but now we begin to run into problems with the specific format string. Podman does not record labels in the struct that we output for `ps` at present. I can do a one-time patch on this easily enough, but this could be a persistent problem for applications wanting to make advanced use of

[2019-12-26 23:00] mheon commented on #4373
Partial solution in #4751

I was unable to convince Podman to accept the exact `--format` command here - it looks like `.Label` is actually `.Labels` internally, and the data type doesn't seem to match as well. Someone more familiar with Go templates will need to take a look at that.

[2019-12-26 23:32] NevilleC commented on #4744
If this issue is still available, I am happy to take it too.

But when reading the comments and the issue description, I get confused:
do we want to display all the `fields + the size` or only the size?

[2019-12-27 05:00] digitalcircuit commented on #4559
I've been waiting to retest until the [upcoming RootlessKit port forwarder pull request](https://github.com/containers/libpod/pull/4592 ) is merged, hence leaving this comment to avoid having this issue closed.

If desired, I can retest before the RootlessKit PR is merged.

[2019-12-27 08:15] XVilka opened #4752 "`podman cp <image>:/home/user/path .` doesn't work"
/kind bug

**Description**

On par with docker podman should support copy in the format
[code]

**Steps to reproduce the issue:**

1. `podman cp <image>:/home/user/path .`

2. Get the error

**Describe the results you received:**
[code]

**Describe the results you expected:**
Should copy the files

**Additional information you deem important (e.g. issue happens only occasionally):**
**Output of `p

[2019-12-27 08:38] AkihiroSuda commented on #4559
Thanks, testing is highly appreciated

[2019-12-27 10:32] Knapoc commented on #4213
is there a reason why conmon is not provided in the repo for arm64?

[2019-12-27 11:47] shaicoleman commented on #4747
@lsm5 , please take a look

[2019-12-27 13:59] #4746 closed

[2019-12-27 15:59] TomSweeneyRedHat commented on #4744
@NevilleC the man page says:

[code]
So in my book, we should only display the size of the container.  I'll let @mheon correct that if necessary, and then we may need to also adjust the man page too.  @NevilleC I've assigned the issue to you, thanks for hopping on to it!

[2019-12-27 18:23] mheon commented on #4744
Per Docker, we should display the full output of inspect per usual, but actually populate the `SizeRw` and `SizeRootFs` fields (which are otherwise always 0)

[2019-12-28 00:03] #4537 closed

[2019-12-28 02:04] NevilleC commented on #4167
Still happening, see https://github.com/containers/libpod/pull/4748#discussion_r361343232

[2019-12-28 02:42] mheon commented on #4567
Looks like @rhatdan fixed this one, closing

[2019-12-28 02:42] #4567 closed

[2019-12-28 07:18] timmychiu commented on #4433
This ends an hour of research for podman 1.4.2 of Oracle Linux 8.1

Thanks

[code]

[2019-12-28 11:35] #4744 closed

[2019-12-28 11:46] rhatdan commented on #4752
@QiWang19 PTAL

[2019-12-28 12:13] rhatdan commented on #4473
@giuseppe @faulesocke Is there any fix for this other then to document the behaviour?

[2019-12-28 12:15] rhatdan commented on #4482
This is a podman-compose issue, and should be handled there.

[2019-12-28 12:15] #4482 closed

[2019-12-28 19:39] #4572 closed

[2019-12-29 02:21] Aparratus commented on #4288
@rhatdan appears to work after compiling latest commit (6897a1f5c2b9f4b5e897b5461e632d6f6ab128c6).

I also had to compile conmon from source and specify crun as the runtime for CGroups V2 support - no idea if that plays any role in this, but thought it worth mentioning just in case.

Thanks!

[2019-12-29 11:16] #4703 closed

[2019-12-29 12:32] duritong commented on #3993
I still think this should be doable by podman and think the issue should stay re-opened (if work is not tracked somewhere else).

[2019-12-29 16:10] lsm5 commented on #4213
@Knapoc the OBS build env is messed up for ubuntu on non-x86_64 arches. I'll nag them about it after new years. Happy holidays!

[2019-12-29 17:13] timonegk opened #4759 "stopping containers with systemd: netplugin failed with no error message"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Sometimes the container teardown fails with the error message `netplugin failed with no error message`. When this happens, the iptables rules for the container are not removed and the used ports can therefore not be reused.

**Steps to reproduce the issue:**

1. Use a systemd service to contro

[2019-12-30 01:52] 5paceToast opened #4764 "no good choice for storage driver on backing btrfs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If the backing filesystem is btrfs, there is no good choice for a backing driver:
- overlay: not supported over btrfs
- btrfs: unusable due to outstanding #3963
- vfs: inefficient and discouraged

The recommended way forward is unclear.

**Steps to reproduce the issue:**

1. Have a system wit

[2019-12-30 01:56] mheon commented on #4764
Overlayfs and fuse-overlayfs definitely work over btrfs. I'm using Podman with Overlay for root and fuse-overlay for rootless atop a btrfs / and /home on my work laptop.

[2019-12-30 01:58] mheon commented on #4764
That error indicates that you're trying to use kernel overlayfs instead of fuse-overlayfs as rootless. We don't have permission to use kernel overlay without root. The error is a bit confusing, admittedly (AFAIK it's wrapping EPERM, which as root means we can't mount an overlay atop the given filesystem, but as rootless just means we don't have the mount capability).

[2019-12-30 01:59] 5paceToast commented on #4764
@mheon I have fuse-overlayfs installed, how am I supposed to select fuse-overlayfs over kernel overlayfs?
containers-storage.conf(5) only mentions "overlay" as an option

[2019-12-30 01:59] mheon commented on #4764
You should install fuse-overlayfs (if not already installed) and add a line like the following to your rootless storage.conf:

`mount_program = "/usr/bin/fuse-overlayfs"`

[2019-12-30 02:00] 5paceToast commented on #4764
would it be possible to add this to the docs?
containers-storage.conf(5) is really barren considering I had to do the above manually
(yes, it works now)

[2019-12-30 02:01] mheon commented on #4764
My complete rootless storage.conf, for reference:

[code]

[2019-12-30 02:01] mheon commented on #4764
Probably better to just fix the error message in c/storage to indicate that kernel overlay is in use if we try a mount without `CAP_SYS_MOUNT` so we can have sane error messages

[2019-12-30 02:02] mheon commented on #4764
Reopening until we can fix error messages in c/storage

[2019-12-30 05:47] pliu commented on #4728
Any suggestions for how I might go about fixing this locally?

[2019-12-30 15:07] mccv1r0 commented on #4311
That's my understanding as well.

On Tue, Dec 24, 2019 at 7:55 AM Daniel J Walsh <notifications@github.com>
wrote:

[2019-12-30 16:21] eisraeli commented on #4373
Ran into a similar issue.
Using Podman 1.6.2 & a podman-docker package.

`kind create cluster`

Results in:
`ERROR: failed to list clusters: command "docker ps -q -a --no-trunc --filter label=io.k8s.sigs.kind.cluster=kind --format '{{.Names}}'" failed with error: exit status 125
`

[2019-12-30 16:33] mheon commented on #4373
That should be fixed on master. The missing bit is support for labels in
templates.

On Mon, Dec 30, 2019, 11:22 Eran Israeli <notifications@github.com> wrote:

[2019-12-30 19:02] smekkley opened #4765 "podman login to alias registry configured in registries.conf doesn't work."
I have a following registries.conf.
[code]

`podman pull alias.com/image` works as expected. Even though alias.com doesn't exist in dns record, it successfully pulls from origin.com.
However, when I do `podman login alias.com`, it tries to resolve the name, and times out, instead of trying to logging into origin.com.

Is this an designed behaviour?

This is vaguely related to this issue that I'm t

[2019-12-31 08:10] medyagh opened #4769 ""E: Unable to locate package podman" ubuntu 19.10 server"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug
installation docs

**Description**
The steps on website for installing podman on ubuntu doesn't work. https://podman.io/getting-started/installation

**Steps to reproduce the issue:**
I followed all the steps for ubuntu from the docs.

[code]

**Describe the results you received:**

[code]

**Describe the resu

[2019-12-31 08:20] medyagh commented on #4769
it worth noting that it the PPA does not have the packages for ubuntu 19.10

![Screen Shot 2019-12-31 at 12 14 29 AM](https://user-images.githubusercontent.com/4564227/71614920-42c22d80-2b63-11ea-8e50-f3fe241f8d86.png)

I was able to force the PPA by adding a different version PPA to my sources.list

[code]
(I am on eoan)

[2019-12-31 11:17] 0x022b opened #4770 "DNS options have no effect for containers in a pod"
/kind bug

**Description**

Unable to set DNS options for containers that are run in a pod.

**Steps to reproduce the issue:**

1. `podman pod create --name dns-test`

2. `podman run -it --rm --pod dns-test --dns 1.1.1.1 --dns-search . alpine cat /etc/resolv.conf`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem impo

[2019-12-31 11:34] rhatdan commented on #4764
The issue is that you ran podman without fuse-overlay installed, and it created the storage.conf in your homedir.  Later you installed fuse-overlayfs but the storage.conf file exists so it was ignored.  The way it is supposed to work is if the storage.conf file did not exists and the fuse-overlay was installed, podman would create the file correctly.

I would prefer that we don't create the fuse-o

[2019-12-31 11:42] rhatdan commented on #4765
@mtrmac @vrothberg PTAL

[2019-12-31 11:56] rhatdan commented on #3878
@NevilleC you can have this one.

[2019-12-31 12:09] rhatdan commented on #4595
@yegle @mheon so is this a bug or not?

[2019-12-31 12:10] rhatdan commented on #4728
@vrothberg PTAL

[2019-12-31 12:17] rhatdan commented on #4373
Is the fix in podman 1.7 or later?

[2019-12-31 12:17] #4373 closed

[2019-12-31 12:20] rhatdan commented on #4511
I am keeping this open, since MAC support is a key feature we need to fully support.

[2019-12-31 12:23] rhatdan commented on #4750
@mtrmac @vrothberg @mheon PTAL
I think you should watch /etc/containers/registries.conf
Perhaps storage.conf

[2019-12-31 16:20] baude opened #4771 "unable to rebase apiv2 branch and master"
I seem to be unable to properly rebase master on top of the apiv2 branch.  Here is what I do.

1. start with latest upstream/apiv2
2. git rebase --master and resolve all conflicts
3. push a pr against upstream/apiv2
4. results in unable to merge do to file conflicts (several examples in pull requests now)

am i doing this wrong?

@mheon any advice?

[2019-12-31 16:44] mheon commented on #4771
Looking...

[2019-12-31 16:47] mheon commented on #4771
Examples? I can't see it in your latest APIv2 PR

[2019-12-31 17:02] vrothberg commented on #4771
I think that rebasing will get tougher and tougher. The APIv2 branch has many (and many dirty commits). It might be worth squashing them at some time and keeping the `Signed-off` fields; this will make rebasing easier.

Another approach could be merging (`git merge upstream/master`) and creating just one commit that brings the two branches together. But that would keep the dirty commits which coul

[2019-12-31 17:19] mheon commented on #4771
Do we want to discuss a permanent merge into master, but keeping things segregated from the rest of Podman from now (not built by default from the makefile, etc)? The more things we stuff into the branch, the more painful the final review+merge is going to be.

[2019-12-31 19:49] baude commented on #4771
@mheon an example would be https://github.com/containers/libpod/pull/4733

yeah, i think by EOW next week, we might be ready to do so.  but for now, just need to get master updated in apiv2 so that work can continue.

[2019-12-31 20:07] mheon commented on #4771
I think it's natural we get conflicts in this case. We can't really rebase a branch via PR - PRs are merges, so we're trying to meld two incompatible commit trees. You'd need to do a force-push against the apiv2 branch to update it. You can rebase a branch that is being PR'd against the latest version of that same branch, but a rebase doesn't translate well to PR form - I think it'd act like it wa

[2019-12-31 20:08] baude commented on #4771
@mheon so should i just rebase again and force push?

[2019-12-31 20:11] mheon commented on #4771
I think you'd need to force push to upstream/apiv2 instead of trying to PR against it.

[2019-12-31 20:11] baude commented on #4771
after a rebase with master yes?

[2020-01-01 00:04] #3659 closed

[2020-01-01 12:05] ssbarnea commented on #4511
@rhatdan Happy new year! Let's see if we can have a talk (ping me on irc: zbr) around podman on non-Linux hosts and its directions. MacOS is key for podman success and I personally do not see the current varlink implementation accessible (easy to use). My hope is that we can make it work as easy as the `docker` cli regardless if the "server" is on localhost or remove. In fact user should not even

[2020-01-02 00:21] everflux opened #4773 "Provide arm64 multiarch images on quay.io"
/kind feature

**Description**

Currently only amd64 images are available for podman and buildah on
quay.io/podman/stable
This prevents usage on ARM64 architectures.
Please provide multi-arch images and according manifests.

[2020-01-02 04:29] sffc commented on #2996
I think systemd continues to fail out of the box in read-only mode, due to the `/var` permissions.

Steps to reproduce:

1. Make a Dockerfile according to @rhatdan's [blog post](https://developers.redhat.com/blog/2019/04/24/how-to-run-systemd-in-a-container/):
[code]
2. Build the image:
[code]
3. Run the image in read-only mode:
[code]

**Expected:** systemd should start without any warnings.

**A

[2020-01-02 04:30] sffc commented on #2996
Note: I am running RHEL 8 with Podman 1.4.2, the latest version from `sudo yum module install container-tools:rhel8`.

[2020-01-02 08:06] stefanb2 commented on #4550
Unless the mentioned updates by Nvidia/Intel have been integrated the issue still exists.

If the consensus is that it can't/won't be fixed then I would suggest that the limitation is added to the documentation of the `--device` option.

[2020-01-02 10:48] zhuguoliang opened #4775 "Checkpoint failed due to not able to add socket to tar"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Cannot checkpoint and export

**Steps to reproduce the issue:**

1. run sql in container

2. podman container checkpoint --tcp-established -l --export=/tmp/1.tar.gz

**Describe the results you received:**

ERRO[0017] Can't add file /var/lib/containers/storage/overlay/f783017883a46a071165d988f

[2020-01-02 11:29] adrianreber commented on #4775
@zhuguoliang Not sure this can be fixed. But you can trying starting the container and telling Podman to mount a tmpfs at /run? Something like `podman run --tmpfs /run`.

[2020-01-02 12:48] zhuguoliang commented on #4775
It worked!    But why it works?

[2020-01-02 13:32] davinkevin commented on #4364
The same problem for me on a fresh macOS Catalina install with only Podman installed (with `brew cask`).

Very sad to not be able to replace the docker-cli with it now...

[2020-01-02 13:45] adrianreber commented on #4775
Perfect!

During checkpointing `tmpfs` are handled by CRIU and are then part of the checkpoint. Directories with volatile data are, for the migration use-case, best mounted as `tmpfs` during container start.

In the end I am not sure why it fails. CRIU also uses `tar` to transfer the `tmpfs` content. CRIU, however, uses the `tar` binary. I guess the GO tar implementation which is part of Podman is

[2020-01-02 14:06] rhatdan commented on #4771
Yes, I agree, it is time to merge this into Master.

[2020-01-02 14:22] rhatdan commented on #4773
@TomSweeneyRedHat PTAL

[2020-01-02 14:22] rhatdan commented on #4773
@everflux Any help you could provide, IE Opening a PR, would help move this along.

[2020-01-02 14:42] rhatdan commented on #2996
Why not volume mount in /var/log into your container.
[code]

[2020-01-02 14:44] rhatdan commented on #4359
@TomSweeneyRedHat Any movement on this?

[2020-01-02 14:47] rhatdan commented on #4326
@mheon Thoughts.

[2020-01-02 14:48] mheon commented on #2996
I can't duplicate your `Failed to start Journal service` result, but I do see httpd in the failed state.

`Jan 02 14:45:52 4a86362ca6eb httpd[28]: AH00015: Unable to open logs` seems the most likely error?

[2020-01-02 14:49] mheon commented on #2996
If I had to guess here - we're only mounting a tmpfs on `/var/log/journal` and not `/var/log` itself. Apache wants to write logs to `/var/log/httpd/` which is now on a read-only filesystem courtesy of `--read-only` and is failing as such.

[2020-01-02 14:50] mheon commented on #2996
Recommended solution: Modify your Apache configuration to log elsewhere, or mount either a tmpfs or a volume at `/var/log/httpd` to allow Apache to log.

[2020-01-02 14:53] mheon commented on #4326
@rhatdan I view this one as similar in scope to the recent Openstack bug about reusing container names. It's likely a small issue somewhere in the exact details of how Podman and Conmon interact during attach, but identifying the precise where and what exactly is going on are probably going to be very difficult. I'd love to solve this, but I think we'd need a lot of eyes and a fair bit of time blo

[2020-01-02 15:00] #4771 closed

[2020-01-02 15:09] Michael-Angel-Sec commented on #4750
Thank you, good idea I added those files and the entire directory with better labels.

[2020-01-02 15:58] mtrmac commented on #4750
I kind of want to push against the whole idea of “how can we make it secure”, that should be the default expectation; non-default hardening should only be necessary for users with unusual requirements. If we are not living up to that, that’s, by default, a bug (or, maybe, rarely, a known painful compromise).

WRT auditing global configuration files, search for `RootForImplicitAbsolutePaths` in `ve

[2020-01-02 21:32] vwbusguy commented on #4764
It looks like there was an apparently sane fix given in https://github.com/containers/libpod/issues/3963 that was never presented as a PR, so the issue just aged out.

[2020-01-02 22:15] olehermanse commented on #4728
I also get this error (trying to build libpod for the first time).

Posted on the buildah post as well: https://github.com/containers/buildah/issues/2042

[2020-01-02 23:40] rst0git commented on #4775
The error occurs because [`archive/tar`](https://github.com/golang/go/blob/50bd1c4d4eb4fac8ddeb5f063c099daccfb71b26/src/archive/tar/common.go#L658) fails when a file has ModeSocket. This change was introduced with Go 1.9 (commit: https://github.com/golang/go/commit/66b5a2f3f0b1d94f69763114a85a977f5bc0277a).

[2020-01-03 00:33] #4775 closed

[2020-01-03 02:51] zhuguoliang opened #4779 "Restore migrated container with container creation timeout"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. podman run --tmpfs /run --security-opt=seccomp=unconfined -v /dira:/dirb sqldb /bin/bash /home/ubuntu/tmpscripts.sh

2. podman container checkpoint --tcp-established -l --export=/tmp/1.tar.gz

3. rsync -avzP --delete /dira/ root@hostb:/dira/    # this ste

[2020-01-03 08:42] adrianreber commented on #4779
Can you run the restore with `--log-level debug`? I have not seen this error before. Not sure what is happening here.

[2020-01-03 11:09] vrothberg commented on #4728
I cannot reproduce that locally. Which version of go are you using?

[2020-01-03 11:17] vrothberg commented on #4765
Redirection and mirroring only happens when _pulling_, not when pushing or logging in.

[2020-01-03 11:47] parmentelat commented on #4656
I would appreciate any kind of feedback on this issue, that is a hard stopper for me

I would happily need to know at least
* whether this is a bug indeed,
* or whether I am misinterpreting something and am having wrong expectations about how the system behaves

thanks !

[2020-01-03 12:33] vrothberg commented on #4604
@yeya24, sorry for the longer silence. I was busy fighting other fires until Christmas.

Thanks for retrying. If possible, could you share the image your attempting to push. This issue has popped up at other places as well but don't yet have a reproducer.

[2020-01-03 14:10] rhatdan commented on #4764
I don't think anyone ever opened a PR to fix it.

[2020-01-03 14:19] rhatdan commented on #4555
@haircommander Any chance to work on this?

[2020-01-03 15:32] mtrmac commented on #4765
Yes, this works as intended; credentials are specific to registry servers, not to image names / pull locations.

Consider the following configuration:
[code]
It must be possible to run `podman login origin.com` (to pull `alias.com/product1`, which is redirected by the configuration), _and also_ `podman login alias.com` (to pull e.g. `alias.com/product2`, which is _not_ redirected by the configurat

[2020-01-03 15:32] #4765 closed

[2020-01-03 16:16] andreufontb commented on #4364
The macOS catalina filesystem is mounted in a readonly partition. It looks like podman is triyng to set run time in this partition.

mkdir: /run/podman: Read-only file system

Installing version 1.6.3 i get a more

Version:            1.6.3-dev
RemoteAPI Version:  1
Go Version:         go1.12.10
Git Commit:         6c6e78374f5be949d11a8608080c96e2d22ca872
Built:              Tue Oct 29 20:08:11 20

[2020-01-03 17:18] rdcoe commented on #4325
Should this issue remain closed?  Still seeing it:

[2020-01-03 17:18] pliu commented on #4728
go version go1.13.5 linux/amd64

[2020-01-03 17:29] olehermanse commented on #4728
@vrothberg

[code]

Installed with `yum` on Fedora 31. The error message seems to be related to tags, maybe you don't get it because you have tags from working on the project for a longer time? I guess deleting the folder in go's github.com folders will cause them to be redownloaded.

[2020-01-03 17:54] vrothberg commented on #4325
Thanks for jumping in @rdcoe! Maybe you can answer @rhatdan 's question:

[2020-01-03 17:57] vrothberg commented on #4325
Actually, your output looks different. Can you do a `podman info`? There seems to be no systemd in WSL2. Does a `podman --cgroup-manager=cgroupfs run ...` work?

[2020-01-03 18:07] rhatdan commented on #4325
How about --events-backend=file

The default for windows should be set to file not to journal

[2020-01-03 18:09] rdcoe commented on #4325
--events-backend=file fixed it.  Thanks!

Can this be made the default through config, along with the other relevant flags?

[2020-01-03 18:10] rhatdan commented on #4325
We are working on containers.conf right now, to allow different distros and users to modify the defaults.

https://github.com/containers/common

[2020-01-03 18:11] rdcoe commented on #4325
Cool.  So should this issue be closed now?

[2020-01-03 18:12] rhatdan commented on #4325
@rdcoe Is everything else working on WSL Now?

[2020-01-03 18:12] #4325 closed

[2020-01-03 18:13] rdcoe commented on #4325
Too new to podman to know if "everything" is working but this particular issue is solved.

[2020-01-03 18:17] qhaas commented on #3983
Ran into this today, given that buildah/podman are typically used together (iirc, the latter calls the former's libraries when building images), figured that something was amiss with the former when I was seeing this behavior with the latter:
[code]
However, `podman images -a` and `podman ps -a` showed nothing.  I then checked buildah with `buildah containers -a -q` and `buildah images -a` and fou

[2020-01-03 18:23] mheon commented on #4325
No need to wait for containers/common, `events_logger = "file"` in libpod.conf should set things properly

[2020-01-03 18:30] rdcoe commented on #4325
Even better.  That config also fixed the error I was seeing on exiting the container:

before the config change:

after setting the libpod.conf to use a file instead of journald

[2020-01-03 22:03] onlyjob opened #4783 "Depends on obsolete/archived "github.com/fatih/camelcase""
[github.com/fatih/camelcase](https://github.com/fatih/camelcase) is an unmaintained/archived project.

Let's reduce dependency on dead code please.

[2020-01-03 23:00] onlyjob opened #4784 "1.6.4: very noisy output; many "proto: duplicate proto type registered: " warnings"
Podman 1.6.3 and 1.6.4 became very noisy on every operation printing many `proto: duplicate proto type registered:` lines to `STDERR` before meaningful output of _any_ command:

<details>
<summary>expand</summary>

[code]
</details>

[2020-01-03 23:09] mheon commented on #4784
What OS? Did you build Podman yourself, or did it come from a package?

[2020-01-03 23:11] onlyjob commented on #4784
Built from source on Debian "unstable" for the upcoming official package. Had no such problem on 1.6.2 so it appears to be a regression somewhere...

[2020-01-03 23:12] mheon commented on #4783
Seems to be used primarily to generate headers for CLI output in commands like `ps`, `stats`, `history`. One direct invocation, six or seven calls to the function it's used in.

[2020-01-03 23:18] mheon commented on #4784
Have not seen this anywhere else, so I suspect it may be a packaging issue. It seems like this is out of either github.com/gogo/protobuf or github.com/golang/protobuf, both of which are indirect dependencies (but appear an alarming number of times, with an alarming number of versions, in go.mod).

[2020-01-03 23:23] onlyjob commented on #4784
Definitely not a packaging issue and strangely enough relevant protobuf packages did not change recently...
The only thing different is newer libpod + buildah and containers/images.

Also "coreos/bbolt" was updated to 1.3.3 but I doubt that could cause such effect...

[2020-01-03 23:41] mycase opened #4785 "Docker/podman difference when piping to exec statement"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Piping to stdin of a `podman exec` statement behaves differently from piping to `docker exec`

**Steps to reproduce the issue:**

1.  On Fedora 31:
[code]
2. Open a terminal and type
[code]
Open a second terminal and type
[code]
note the output `abc`

3. Open a terminal and type
[code]
Open a

[2020-01-03 23:54] ganeshmaharaj commented on #4431
If it's any help, I am seeing this issue when i use a fedora VM with vagrant and do the update from the default provision script. I wonder if the issue exists elsewhere.

[code]

[2020-01-04 00:08] mheon commented on #4628
Being worked on, I believe

[2020-01-04 01:16] onlyjob commented on #4560
@github-actions is in denial of all valid issues, adding noise everywhere... :(

[2020-01-04 04:56] zhuguoliang commented on #4779
Hi, the output is shared at https://gist.github.com/zhuguoliang/51bcd54093a42a1ae56d38cea178de9d

The cmd stuck at line:

for about 30s and then output final error

[2020-01-04 08:04] alitvak69 commented on #4769
You probably already know, but just in case, try this:

https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman

[2020-01-04 08:24] FelixErnst opened #4786 "Service startup crash in a container run with podman as a result of permission issue"
/kind bug

**Description**

Running the `docker.io/rocker/rstudio` image runs into a problem. An error occurs on the startup of the service with a report of a permission problem.

Recreating the `docker.io/rocker/rstudio` image with `buildah` runs into the same problem, when installing the `.deb` for the service file.

See more detailed informations here: https://github.com/rocker-org/rocker-versi

[2020-01-04 08:35] alitvak69 commented on #4784
I have 1.6.4 from https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Astable&package=podman.  Forgive me if it is not relevant but on debian stable I see:

`$ podman images

REPOSITORY                         TAG      IMAGE ID       CREATED         SIZE
quay.io/jdeathe/centos-ssh-redis   latest   be2a8a7f51c5   2 months ago    251 MB
docker.io/library/centos

[2020-01-04 09:21] onlyjob commented on #4784
@alitvak69, obviously vendor builds their packages differently...

Anyway, any ideas what could be causing the problem and how to address it?
Also why 1.6.2 exhibits no such problem?

[2020-01-04 11:03] rhatdan commented on #4783
@onlyjob do you know of an alternative?

[2020-01-04 11:14] rhatdan commented on #4784
@vrothberg Any ideas?

[2020-01-04 11:21] rhatdan commented on #4786
Are you running rootless mode?
Any chance this is an SELinux issue?

[2020-01-04 11:22] FelixErnst commented on #4786
Yes, it is rootless. How to diagnose whether it is an SELinux issue?

Other containers run fine (Including the `docker.io/rocker/r-ver` and rebuild image using `buildah`)

[2020-01-04 11:26] rhatdan commented on #4560
I disagree, this is waking us up to old issues, that get buried on the stack.  When these happen primary contributors go back and review the issue and either allow it to be closed, or remove the stale flag.
I think this is better then just letting issues rot.

[2020-01-04 11:27] #4625 closed

[2020-01-04 11:28] #4633 closed

[2020-01-04 11:29] #4641 closed

[2020-01-04 11:31] rhatdan commented on #4454
@SemaiCZE Are you still seeing this issue?

[2020-01-04 11:37] rhatdan commented on #4364
Podman expects /run to be mounted as a tmpfs and be writeable.

[2020-01-04 11:53] rhatdan commented on #4786
Could you try rootfull?  It might be user namespace not allowing some interation.

For SELinux just do a `sudo setenforce 0` and then run the tests.  If it succeeds, then it is SELinux blocking it.

If it works as rootfull, then it is probably something with user namespace and we need to dig deeper.  Not all things that can be done as root can be done in rootless mode.

[2020-01-04 12:05] FelixErnst commented on #4786
SELinux: setting `sudo setenforce 0``doesn't change the behavior

running `podman` as root does work.

[2020-01-04 12:51] afbjorklund opened #4787 "Build gets the wrong version, when built from tarball"
Seems like the build script picks up the version of the **build system** instead...

When using something like (a branch of) [buildroot](https://buildroot.org/), that builds from dist tarballs.

It also uses "git fetch", which can be quite costly (we are using a shallow clone)

So it would be better if "make podman" didn't do all those magic git commands ?

----

The workaround is to provide the r

[2020-01-04 13:05] afbjorklund commented on #4787
The main problem is:

[code]
Which then outputs:

[code]

[2020-01-04 13:14] vrothberg commented on #4784
@onlyjob do you have a version diff of dependencies in the Debian build compared to what we vendor? I suspect that the Debian build includes a package in a different version that introduces it. Knowing which dependencies differ version-wise could help reveal what's wrong. Otherwise, I could only guess.

[2020-01-04 13:30] onlyjob commented on #4783
I wish I knew...

[2020-01-04 13:41] onlyjob commented on #4560
I've seen it far too many times when such practice causes closure of legitimate issues because team member did not respond. People quickly learn that not answering tickets and letting them expire takes least effort.
Auto-closure is a _terrible_ practice for issue management and it is incredibly frustrating to reporters.
You see, when I care to report a problem and it can not be fixed because devel

[2020-01-04 13:50] onlyjob commented on #4784
Thanks, @vrothberg. I only have a diff of buildinfo between last successful build of v1.6.2 four days ago versus yesterday's build of v1.6.4 that exhibits the problem:

[code]

I can not spot what would be relevant here...

[2020-01-04 14:08] vrothberg commented on #4560
I think @onlyjob is right. We don't want to scare off contributors. The intention of closure was more to get the developers immediate attention to prevent closure. I'll bump the limit to 356 days and rephrase the wording.

[2020-01-04 14:16] vrothberg commented on #4784
^ this looks supicious.

Some bells are ringing ... we have seen that at some point last year.

[2020-01-04 14:22] onlyjob commented on #4784
Tracked the problem to `github.com/gogo/protobuf` by building v1.6.4 against (un-)vendored library:

v1.6.2: v1.2.2-0.20190723190241-65acae22fc9d
v.1.6.4: v1.2.2-0.20190723190241-65acae22fc9d
system: 1.2.1+git20190611.dadb6258-1

Interestingly version of `golang-github-gogo-protobuf-dev` did not change so it must be the use of the library is somehow different. But `ack github.com/gogo/protobuf` on

[2020-01-04 15:27] rhatdan commented on #4786
Running Podman as root is the exact same as using Docker, which is why it works their.

The issue looks like it is trying to set the resource limits higher then is allowed for the user.

setResourceLimit(rstudio::core::system::ResourceLimit, RLimitType, RLimitType)

Running podman as non root, does not alllow users to get more privileges then they normally have.  So the lack of CAP_SYS_RESOURCE is

[2020-01-04 15:32] rhatdan commented on #4560
On the other hand, leaving a issue to wither on the vine, because of lack of resources or lack of priority, is not much better.  Some times kicking the issue, is helpful to see if the reporter is still seeing the issue, or if the issue is even still important.

Just today, I closed two issues, that were >30 days and fixed in Master.

[2020-01-04 15:44] afbjorklund commented on #4511
I think that if you install podman from source ("Formula" in brew-speak) it would work better than when installing from binary ("Cask" in brew-speak). Of course, that implies building libpod on a Mac...

[2020-01-04 15:51] afbjorklund commented on #4511
Minikube has the same problem too, and I guess every other non-Apple developer in the world ? Even if the Mac itself is available, clearing the redtape for signing stuff takes ages (even for the .deb and .rpm!)

[2020-01-04 16:17] TomSweeneyRedHat commented on #4359
Not yet, but lets keep it around.

[2020-01-04 16:30] afbjorklund commented on #4364
It also expects it to contain a unix socket, which it probably wont.

Exposing the socket file from the VM to the Mac host is a big hassle...
Docker does this [*](https://docs.docker.com/docker-for-mac/docker-toolbox/), but I'm not sure that Podman has the same need.

Probably easier to just use the varlink protocol (over ssh) instead ?

Seems like the original root cause is the missing environmen

[2020-01-04 16:42] afbjorklund commented on #4364
@jwhonce : did you complete any docs, on how to set up the Linux virtual machine ?

Here is one link that I found: https://medium.com/@bszeti/podman-and-skopeo-on-macos-1b3b9cf21e60

It uses VirtualBox, to create a Fedora VM and then install ssh and podman packages.

Similar to this setup: https://podman.io/blogs/2019/01/14/podman-machine-and-boot2podman.html

[2020-01-04 17:42] baude commented on #4560
@vrothberg please bring up during scrum next week before making a change.

[2020-01-04 19:14] FelixErnst commented on #4786
I will try to find out. However, I tried 12g of memory and 8 cpus which is the setup of the VirtualBox and it didn't work. So my gut feeling right would be that, this is not about how much but how the resource limit is set, if the function actually crashes from the trying to achieve the deduced function.

thanks for all the infos.

[2020-01-05 01:37] alitvak69 opened #4789 "podman build on cbs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I needed to test 1.7 on centos 7 and noticed that the build has been failing.

Failure points to task here:

https://cbs.centos.org/koji/taskinfo?taskID=1092090

[code]

However, when I look at the last build tasks all files were successfully produced here:

https://cbs.centos.org/kojifiles/w

[2020-01-05 02:06] onlyjob commented on #4784
Ah, I've found a workaround and it is so weird that it is nearly insane...

First I compared system `github.com/gogo/protobuf` to vendored one and here is

<details>
<summary>the only irrelevant difference</summary>

[code]
</details>

Then I replaced vendored `github.com/gogo/protobuf` with the system one in `vendor` directory and it "fixed" the problem.

The way we build Golang packages on Debia

[2020-01-05 03:19] colundrum opened #4790 "impossible to start a stopped container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. stop container 1: `podman stop drone`

2. stop container 2: `podman stop bitwarden`

3. start again each container: `podman start drone && podman start bitwarden`

**Describe the results you received:**

[code]

**Describe the results you expected:**

I e

[2020-01-05 03:26] colundrum commented on #4790
After an update of podman to 1.6.2-1, I obtain:

[code]

When I try to start with the same command line `podman start bitwarden`

[2020-01-05 03:53] mheon commented on #4790
Any details on the two containers in question - what commands were used to create them, anything unusual about them?

Can you add `--log-level=debug` to your `podman start` commands and provide the output, as well as anything in syslog from `conmon`?

[2020-01-05 04:09] colundrum commented on #4790
Sorry, I'll recreated containers but I'll do the same in test env, tomorrow, using same flags

Nothing about conmon in logs

[code]

[code]

[2020-01-05 05:31] anarcat commented on #1742
While it's unfortunate there was some conflict around the packaging work in Debian, I am happy to announce that it seems there's some progress on the Debian side at least...

It seems podman has entered NEW:

https://ftp-master.debian.org/new/libpod_1.6.4+dfsg-1.html

The last dependency that was missing (bug 948113) is also waiting there:

https://ftp-master.debian.org/new/golang-github-checkpoin

[2020-01-05 08:54] adrianreber commented on #4779
Are there any conmon messages in the journal? It would also be interesting to know how conmon calls runc. I usually try to use `execsnoop` from the bcc-tools to run it.

How I can try to reproduce this locally? Which container are you using? I see `sqldb` in `podman run`; is that container image available at any public registry?

[2020-01-05 09:02] giuseppe commented on #4785
it seems crun is correctly passing down stdin.

It might be conmon, @haircommander is it something we support in conmon now?

[2020-01-05 09:11] afbjorklund commented on #4511
Here is such a formula, if some Mac users wants to test and add it to the Homebrew repository:

[code]

It seems to be working on Linux, tested OK with `eval $(podman-machine env --varlink)`

[code]

The last error (about not being able to find the socket file) is "expected", see #4364

It is very similar to another error, as reported by another popular container service:

[code]

But unlike Docke

[2020-01-05 09:18] afbjorklund commented on #4511
@ssbarnea Please let me know if `podman-machine` can be a interim solution before "Podman for Mac" or whatever integrated solution (like HyperKit and LinuxKit) that you guys come up with in the end...

[2020-01-05 09:30] afbjorklund commented on #4390
Because varlink addresses do **not** support SSH, we normally recommend using the "bridge" instead.

So it should look for the `PODMAN_VARLINK_BRIDGE` variable as well as `PODMAN_VARLINK_ADDRESS`

* https://varlink.org/#address

* https://varlink.org/#bridge

The current workaround is to _rename_ the "podman-remote" program to "podman", on the Mac.
It gets really confusing on Linux, though (having

[2020-01-05 10:17] ssbarnea commented on #4665
I am facing the same error on RHEL-8.1 (updated):
[code]

[2020-01-05 12:28] SemaiCZE commented on #4454
@rhatdan yes, I didn't get any update of related components yet. Is it fixed in upstream? And which package is related? `podman` or `containerd.io` or something else?

[2020-01-05 16:32] ssbarnea commented on #4747
This is clearly linked to https://bugs.centos.org/view.php?id=16892 see
[code]

This prevented installing podman when docker-ce was installed and based on the filenames, I am inclined to say that this is pure-podman fault. These man pages should not be in conflict, or at least be provided by th `podoman-docker` package instead of `podman-manpages`.

I am not sure who's in chage to fix here because

[2020-01-05 16:34] ssbarnea opened #4791 "centos-8: packaging podman-manpages in conflict with docker-ce"
This is clearly linked to https://bugs.centos.org/view.php?id=16892 see
[code]

This prevented installing podman when docker-ce was installed and based on the filenames, I am inclined to say that this is pure-podman fault. These man pages should not be in conflict, or at least be provided by th `podoman-docker` package instead of `podman-manpages`.

I am not sure who's in chage to fix here because

[2020-01-05 16:48] mheon commented on #4785
I think it might be exec ignoring -t and using a terminal unconditionally.
I believe that Docker will show identical behavior if -t is passed.

On Sun, Jan 5, 2020, 04:02 Giuseppe Scrivano <notifications@github.com>
wrote:

[2020-01-05 21:00] ssbarnea commented on #4665
I updated the rpm building jobs in order to catch this issue, which apparently affects all 3 rpm platforms: see https://review.rdoproject.org/r/#/c/24349/ -- as soon we merge it we will be able to see results on any libpod PR.

[2020-01-05 22:02] chickeaterbanana commented on #1742
I've tried to create a backport for debian/buster. I think in the debian package are some files missing:
[gitlab](https://gitlab.com/leifwind-thirdparty/libpod)
[packagecloud](https://packagecloud.io/chickeaterbanana/libpod)

I've tried to install it on debian/buster:
Add debian repository
[code]

Install Package:
[code]

Try to run podman:
[code]

So the `registries.conf` isn't available. I get t

[2020-01-05 23:10] chickeaterbanana commented on #1742
I have found an earlier Bug report: https://github.com/containers/libpod/issues/3421

so I've done:
[code]

After installing slirp4netns the `ERRO` is also corrected:
[code]
[code]

[2020-01-05 23:22] chickeaterbanana commented on #1742
Starting a container somtimes really slow:
[code]

And sometimes i can't stable reproduce it:
[code]

[2020-01-06 02:40] lsm5 commented on #4791
@jnovy seems like an issue in RHEL8 ?

[2020-01-06 02:59] lsm5 commented on #4791
@jnovy @rhatdan maybe we should put these into podman-docker or create another subpackage called `podman-docker-manpages` ?

[2020-01-06 03:26] zhuguoliang commented on #4779
I'll pack and upload to dockerhub, a moment pls

[2020-01-06 08:31] chickeaterbanana commented on #1742
I have created a [dependency graph](https://github.com/containers/libpod/files/4025266/dependency_graph.tar.gz) with `debtree`.

[2020-01-06 09:08] onlyjob commented on #1742
Crazy cool graphs, thanks. Note that the biggest node on build-deps graphs is _docker.io_...
I wish we could retire Docker in favour of Podman but huge maintenance burden associated with Docker (their terrible release practices and Docker's dependency graph) will remain on maintainer's shoulders as long as _libpod_ (and its dependencies) continue to depend on Docker...

[2020-01-06 09:11] marusak opened #4792 "NetworkSettings not exposed on varlinkAPI"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
I don't see `NetworkSettings` (like `IPAddress`, `Gateway`...) in varlink API. (I checked `GetContainer` method and documentation if it is not somewhere else)

**Steps to reproduce the issue:**
1. `sudo varlink call unix:/run/podman/io.podman/io.podman.GetContainer '{"id": "<some_id>"}'`

[2020-01-06 10:00] jnovy commented on #4791
@lsm5 nope, this seems CentOS specific. I can't see anything like docker-ce* shipped in RHEL8. It's not present even in EPEL/Fedora 31.

[2020-01-06 10:23] marusak opened #4793 "Varlink GetInfo does not show any registries"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Calling varlink `GetInfo` method does not list any registries, even though there are definitely some.

**Steps to reproduce the issue:**
1. `sudo varlink call unix:/run/podman/io.podman/io.podman.GetInfo`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Al

[2020-01-06 11:18] abitrolly opened #4794 "Filesystem isolation layer"
/kind feature

**Description**

`podman` + `SELinux` = Leaky Abstraction. In my story containers provide isolated environment to help users concentrate on getting their app logic right and not think about low level details and permissions required to keep their systems stable and secure.

That worked good with Docker + Ubuntu, except for the part that `docker` process is itself is run as root, and

[2020-01-06 12:01] afbjorklund commented on #4791
Those are vendor packages, for CentOS 7 (`.el7`)

https://docs.docker.com/install/linux/docker-ce/centos/

[2020-01-06 12:14] jnovy commented on #4791
Thanks @afbjorklund - for the vendor 3rd party I'd suggest to create a new ticket with vendor and let them add explicit "Conflicts: podman-manpages" into their spec file to allow package manager to handle the conflict before the transaction takes place.

[2020-01-06 12:48] afbjorklund commented on #4791
It would probably make much more sense to have it conflict with `podman-docker-manpages`, if so ?
(Not sure when manpages started to have their own packages, I thought they were documentation)

[2020-01-06 13:31] afbjorklund commented on #4791
@jnovy : I _think_ that Docker for RHEL 8 has the same issue, as this one for CentOS 7 ?

(Or at least it seems natural, that the docker rpm should also feature docker manpages)

But it's only available in the EE (**not** the CE)

https://docs.docker.com/ee/docker-ee/rhel/

[2020-01-06 13:45] jnovy commented on #4791
@afbjorklund We have no docker in RHEL8. The compatibility layer with docker is provided by podman-docker package.

[2020-01-06 13:50] afbjorklund commented on #4791
The original suggestion, of moving the manpages from podman-manpages to podman-docker should fix both conflicts... I guess the user can decide, if they want to install podman-docker or the docker-xx-cli ?

But there is no reason why the regular podman shouldn't be able to co-exist with a docker installation. The "podman-manpages" should probably only have the man pages for the "podman" package its

[2020-01-06 13:56] jnovy commented on #4791
@afbjorklund Maybe it makes sense to just make manpages part of the respective packages themselves (at least this is what common sense tells me). Then podman and podman-docker would be also split man-page content-wise and there won't be any surprise as in "No manual entry found podman" found.

[2020-01-06 14:00] rhatdan commented on #4747
@jnovy Could you fix this please. podman package should not include the docker man pages, they should be in the podman-docker package.

[2020-01-06 14:01] rhatdan commented on #4791
Yes they should be separated.

[2020-01-06 14:04] rhatdan commented on #4791
In Fedora
[code]

[2020-01-06 14:09] rhatdan commented on #4791
Not sure why there is a podman-manpages separate package, I am fine with moving these into the main podman package.  If people want smaller packages they could just tell the package not to install docs, which I believe would remove man pages.

[2020-01-06 14:23] jnovy commented on #4791
Fedora and podman-1.6.4 is good (8.1.1 and 8.2.0 material). Just the podman and podman-manpages merge is needed. Currently working on it.

[2020-01-06 14:34] jnovy commented on #4791
Fixed in rawhide for now:

https://src.fedoraproject.org/rpms/podman/c/acfe9eb7ff4f231b5ce7a8564745ac3585f85f8c?branch=master

[2020-01-06 14:58] rhatdan commented on #4794
Not really sure what is going on.  I attempted to run your container on Fedora 31, but I am not sure what goes into /src/snapcrafting/amend

In side of the container SELinux should be seen as disabled so that the tools running in the container should not be trying to do SELinux operations. I think the shutil.py package is grabbing all XAttrs that is sees and attempting to apply them.  And the SELi

[2020-01-06 15:01] rhatdan commented on #4794
It looks like shuti.copyxattr now has support for ignoring these errors as least on Fedora 31?

/usr/lib64/python3.7/shutil.py

[code]

[2020-01-06 15:11] rhatdan commented on #4656
Are you running the python as root?  The service is listening as root, and should only be communicated with via root.

[2020-01-06 15:52] colundrum commented on #4790
[code]

[2020-01-06 15:53] haircommander commented on #4785
this is the same problem as https://github.com/containers/libpod/issues/4326 and https://github.com/containers/libpod/issues/3302
basically, pipes in golang are a bit funky, and conmon sees the piped output as empty, so assumes stdin is done and closes. I haven't figured out a work around yet.

[2020-01-06 15:55] mheon commented on #4790
After the `--log-level=debug` run you should now have Conmon logs in syslog, can you provide those? The underlying error should be reported there

[2020-01-06 15:58] colundrum commented on #4790
[code]

[2020-01-06 16:11] haircommander commented on #4790
ah, version 1.6.2 of podman is a bit out of date for conmon 2.0.3. We need podman 1.6.4 for it to work seemlessly. A temp work around that isn't great is you can manually delete that winsz file between stops and starts.

[2020-01-06 16:21] colundrum commented on #4790
@haircommander but I use ppa of projectatomic … no new version.
Isn't my fault if this ppa isn't up-to-date with correct version between packages

[2020-01-06 16:23] haircommander commented on #4790
you are very correct, and thanks for bringing our attention to it :smile: @lsm5 @jnovy PTAL

[2020-01-06 16:38] anarcat commented on #1742
wait what, libpod depends on Docker? I thought the entire point of this project was to not require Docker in the first place...

[2020-01-06 16:45] mheon commented on #1742
Our core container-launching logic is entirely distinct, but given our goal of Docker compatibility, there are a number of frontend bits we've reused - parsing for various options, for example. I have a goal of reducing this dependency by reimplementing where it makes sense, but it's hard to justify in a lot of cases - why rewrite the logic for, say, parsing ports when the existing code works and

[2020-01-06 16:49] parmentelat commented on #4656
Yes everything is run locally from within the f31 box, and everything runs as root at this point

[2020-01-06 17:02] abitrolly commented on #4794
I also think so. Why `shutil.py` is able to read those host level XAttrs in the first place? Placing requirements on what software should and should not call is what I call leaky abstraction of containerization for users.

Inside container the Python used is `/snap/snapcraft/current/usr/lib/python3.5` and that's not going to change soon, because it is Python of LTS release.

Help says `Turn off la

[2020-01-06 17:46] afbjorklund commented on #1742
In terms of actual build size (for the podman binary), it's not that bad:
https://gist.github.com/afbjorklund/911a8c231ba8e5965db3b19f42bb47fe

i.e. less than 5% for github.com/docker

[2020-01-06 17:50] chickeaterbanana commented on #1742
@mheon isn't it possible to create a third library to share the reused parts between docker and podman?

[2020-01-06 18:27] #4367 closed

[2020-01-06 19:32] astronouth7303 opened #4799 "Healthcheck not tracked on images"
/kind feature

**Description**

Looking at `podman image inspect`, the varlink IDL, and `python-podman`, I can see that containers have a healthcheck, but it is not tracked on the image.

Note that I have been consulting https://github.com/containers/libpod/blob/master/cmd/podman/varlink/io.podman.varlink this entire time, so I'm reasonably confident this issue exists in `master`.

**Steps to repr

[2020-01-06 20:31] nalind commented on #4646
For `docker-archive:` sources, I think we should be able to get the list of images using the source's `LoadTarManifest()` method and then iterate over them.  (It wouldn't be fast, and it would require some logic outside of the image library.)  If I'm reading it right, we'd need to add something similar for `oci-archive:`'s `LoadManifestDescriptor()` to avoid an `ErrMoreThanOneImage` error, but the

[2020-01-06 21:59] baude commented on #4799
what kind of image are you making? oci or otherwise?

[2020-01-06 22:47] qhaas commented on #1234
Not sure if intentional since 'slirp4netns' is in the 'extras' repo in EL7, but it doesn't get automatically installed with podman 1.4.4 in EL 7.7 x86-64

[2020-01-07 00:04] #4311 closed

[2020-01-07 03:41] hrj commented on #1742
My understanding is that `docker.io` is only a _build-time_ dependency. When end users install that `libpod` package it will only depend on:

[code]

[2020-01-07 04:05] onlyjob commented on #1742
_Only_ build-time (not run-time) dependency (Podma is a statically linked executable after all) but on build-time Docker represent more than half of all dependencies needed to compile Podman and also the most fragile ones...

[2020-01-07 09:09] #4600 closed

[2020-01-07 09:52] vrothberg commented on #4728
I did and also tried reproducing in a fresh F31 container but I do not hit the error. I will go ahead an bump the dependency in buildah which should resolve the issue.

[2020-01-07 10:05] vrothberg commented on #4560
I opened https://github.com/containers/libpod/pull/4788 before reading the comment

[2020-01-07 10:46] vrothberg commented on #4784
Could it be that both versions of protobuf were used before symlinking (i.e., GOPATH and vendor)?

[2020-01-07 10:51] vrothberg commented on #4787
@afbjorklund mind opening a PR with what you have in mind?

[2020-01-07 10:59] benjamin-bergia opened #4804 "--publish error message is not clear"
**Description**
When trying to publish on a port that is already used by an other container, the following error is returned:
`Error: error from slirp4netns while setting up port redirection: map[desc:bad request: add_hostfwd: slirp_add_hostfwd failed]`. It would be very helpful to have a specific error message for this type of error.

**Steps to reproduce the issue:**

1.  podman run -it --rm -p

[2020-01-07 11:04] vrothberg commented on #4804
@giuseppe @AkihiroSuda PTAL

[2020-01-07 11:35] onlyjob commented on #4784
No. Only one. Simply moving it to `vendor` made the difference.

[2020-01-07 11:40] vrothberg commented on #4784
That was the only explanation I could come up with. Very curious! I am glad you could fix it but let's keep an eye open to hopefully shed some light on this issue.

[2020-01-07 12:43] giuseppe commented on #3653
PR here: https://github.com/containers/libpod/pull/4805

[2020-01-07 12:48] giuseppe commented on #4473
@rhatdan there is no fix for rootless containers, as they cannot join a namespace owned by root.

[2020-01-07 13:03] rhatdan commented on #1234
This should be in a bugzilla for RHEL, it should definitely be installed.  In RHEL8 is should be a recommends, in RHEL7 it needs to be a requires.

[2020-01-07 13:10] lfarkas commented on #4326
is there any progress with it? without it any database daemon like mysql, mariadb, mongo etc. initialization can't be done when running in a container.

[2020-01-07 13:23] rhatdan commented on #4786
Maybe this syscall is just not allowed to non privileged users.  If we new the value that the container is attempting to set, then we would know if this is blocked.

It looks like if the limit being set is above the HARD limit for the user, it will be blocked.
[code]

[2020-01-07 13:28] FelixErnst commented on #4786
In the original issue I tagged a few people from RStudio. Maybe they can offer some inside, which resource setting is causing the crash.

I am sorry for splitting this issue, but that how it went. I hope thats ok for you. I will let you know, of something develops on the other side.

[2020-01-07 13:50] rhatdan commented on #4454
I would hope the fix was in CNI.

[2020-01-07 14:31] rhatdan commented on #4656
@jwhonce Ideas?

[2020-01-07 14:33] rhatdan commented on #4794
It basically turns off SELinux labels, and runs container with an unconfined label.
Does the shutil.py inside of the container have the same code that I attached?

[2020-01-07 14:34] parmentelat commented on #4656
if that's of any interest I am presently on irc and available for any fumbling about that could help shedding any light on this

[2020-01-07 14:50] rhatdan commented on #1742
It is source code from docker git that we are using.  There is little incentive in Docker breaking out this code so it would be separate form Docker.  We might be able to just grab the same/similar code from moby.  If we were to fork and use our own copy then we would not get fixes/changes that went into Docker.  Bottom line we use Code from Docker, but we do not depend on the docker package runni

[2020-01-07 14:50] mheon commented on #4454
If it is fixed, it would probably be containernetworking-plugins, but I have not seen any updated versions of that drop recently.

[2020-01-07 14:52] mheon commented on #4786
I think there's a user limits file somewhere where root can define default ulimits for the whole system or specific users - if all else fails, you could likely adjust your user's configuration to what RStudio expects. This would apply to everything run with your user, not just the container, though.

[2020-01-07 14:56] mheon commented on #4326
I'm in the process of reworking `podman attach` for the new apiv2 branch, and I'm hoping to get a fix for this in at the same time since I'm knee-deep in the code already, but I don't want to make promises - we still don't have a 100% certain root cause here.

[2020-01-07 15:06] mheon commented on #4804
I think this one might be fixed on 1.7.0

[2020-01-07 15:10] #4717 closed

[2020-01-07 16:23] astronouth7303 commented on #4799
Just default, which is oci.

[2020-01-07 16:33] mheon commented on #4799
I don't believe OCI containers support healthchecks - that's only supported
with Docker-formatted images.

If we're not producing errors about that, it could well be a bug

On Tue, Jan 7, 2020 at 11:23 AM Jamie Bliss <notifications@github.com>
wrote:

[2020-01-07 16:37] afbjorklund commented on #4787
I wanted to have some feedback, in what would be the best version to allow building from tarball ?

When looking at for instance the `runc` and `conmon` builds, they have a simpler version handling:

[code]

That would of course require that this file is updated as part of the release process, not only tagged.

----

But the current workaround is fine too (=it works).

`CIRRUS_TAG=$(PODMAN_VERSION

[2020-01-07 16:47] baude commented on #4799
as @mheon said, oci images dont have healthchecks are part of the spec and they are thrown away during image generation. i dont know if that is a logged or not.  if you want the image metadata to retain healthchecks, you must use docker format.

[2020-01-07 16:54] afbjorklund commented on #4787
I guess fedora would have had the same problem too, if it had used `make` instead of `%gobuild` ?

https://src.fedoraproject.org/rpms/podman/blob/master/f/podman.spec

Even when building from git, it seems a bit unnecessary to have to download all the _other_ git tags.

So used the same workaround, also for the brew package that I posted.

[2020-01-07 17:06] afbjorklund commented on #4787
Hacking the build system seems to have had other side effects:

**podman version -f json**
[code]

I guess there was nothing populating gitCommit / buildInfo ?

https://koji.fedoraproject.org/koji/buildinfo?buildID=1426822

[2020-01-07 17:56] rhatdan commented on #4473
Ok can you document this in the rootless.md file?

[2020-01-07 18:00] rhatdan commented on #4786
It is set by pam_limits using the /etc/security/limits.conf file.

[2020-01-07 19:51] astronouth7303 commented on #4799
Yeah, just confirmed, with the default build settings:

[code]

[2020-01-07 20:10] astronouth7303 commented on #4799
Also, it's still not exposed on docker format images. I tested this with:

1. Adding `--format docker` to the build invocation
2. Running `podman inspect` on the resulting image

A subset of the inspect output is:

[code]

[2020-01-07 20:47] larsks opened #4808 "Use of --cidfile prevents a container from starting up"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

["Running containers with podman and shareable systemd services"][1]  by @vrothberg suggests the following template for service units that run podman:

[code]

But `podman rm ...` does not clean up the `--cidfile`, and subsequent attempts to start this container will fail with:

[code]

This

[2020-01-07 20:49] mheon commented on #4808
@vrothberg PTAL

I recall conversations about making `--cidfile` remove the file and recreate if it already existed?

[2020-01-07 21:04] baude commented on #4799
i guess the question is if it is not there OR we are not displaying it via inspect.  @mheon would this be in the json in the filesystem?

[2020-01-07 21:07] rhatdan commented on #4808
What does docker do?  Does it fail if the cidfile preexists?

[2020-01-07 21:13] #4555 closed

[2020-01-07 21:15] rhatdan commented on #4792
podman-remote inspect seems to be getting it?

[2020-01-07 21:17] mheon commented on #4799
I presume so? It'd be in the image metadata JSON blobs. We access those through c/image, so this could be a bug retrieving them from c/image (unlikely) or a display issue where we're not showing them despite them being added (possible, but also not very likely, I think).

[2020-01-07 21:22] rhatdan commented on #4792
Does this call get you what  you want?
varlink call unix:/run/podman/io.podman/io.podman.ContainerInspectData '{"name": "test1"}'

[2020-01-07 21:25] larsks commented on #4808
Huh, I didn't even realize that `docker run` had a --cidfile` option. It looks as if `docker run` has the same behavior as we currently see in `podman`.

However, `docker rm` doesn't have a `--cidfile` option, while `podman rm` does. So it may make sense for `podman rm --cidfile` to remove the `cidfile`.

This would certainly make writing robust systemd units easier.

[2020-01-07 21:29] larsks commented on #4808
You know, I see now that the proposed unit is actually explicitly removing the cidfile in `ExecStartPre`.  I guess I missed that?  I'm going to close this now as noise...

[2020-01-07 21:29] #4808 closed

[2020-01-07 23:15] astronouth7303 opened #4809 "Container Creation Entrypoint is a single string instead of a list"
/kind bug

**Description**

The parameters to create a container (the `Create` type in the varlink schema) takes a single string. However, the OCI image configuration and the config key out of `InspectImage` can be an array.

**Steps to reproduce the issue:**

1. Try to create a container with an array entrypoint (either from an image with one or via varlink API)

**Describe the results you receiv

[2020-01-07 23:15] astronouth7303 commented on #4809
I did check with https://github.com/opencontainers/image-spec/blob/master/config.md to see what the OCI had to say on the subject.

[2020-01-08 00:51] yolanv opened #4811 "Podman release for armhf architecture"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Currently, there is no armhf build for Podman, which eliminates the use of Podman for operating systems such as Raspbian. Although you can probably compile it with the source code, it would be nice to have a pre-compiled binary to use. This prevents the user from installing all the needed

[2020-01-08 01:19] astronouth7303 opened #4812 "Environment weirdness (specifically PATH)"
/kind bug

**Description**

When creating a container from an image via varlink, `$PATH` seems to be overriden by the host's path instead of that configured by the image.

**Steps to reproduce the issue:**

1. Create a container over varlink
2. Inspect the container
3. Inspect the image

**Describe the results you received:**
The environment variable `PATH` seems to be what's set on my host

**Des

[2020-01-08 07:11] marusak commented on #3454
Tried it now with `podman-1.6.2-2.fc31` and it worked on the first time, but when I stopped it once more it failed again.

[code]

[2020-01-08 07:17] marusak commented on #4792
varlink call unix:/run/podman/io.podman/io.podman.ContainerInspectData '{"name": "test1"}'

Yes, it is there. I missed this command since it returns string (and therefore it is not described what it contains). Also from doc "This call is for development of Podman only and generally should not be used.". I hope it can be exposed in some better form than string.

[2020-01-08 07:55] vrothberg commented on #4728
This should be fixed with the next update of c/buildah (Cc @TomSweeneyRedHat @rhatdan )

[2020-01-08 08:00] vrothberg commented on #3464
The containers.conf work is still on going: https://github.com/containers/libpod/pull/4698

[2020-01-08 08:10] abitrolly commented on #4794
No. It was modified 7 months ago and it is not the same in Python 3.5 branch.

https://github.com/python/cpython/blame/master/Lib/shutil.py

https://github.com/python/cpython/blob/3.5/Lib/shutil.py

[2020-01-08 08:19] zhuguoliang commented on #4779
1. podman pull docker.io/elasticsearch:7.5.1
2. podman run  --security-opt=seccomp=unconfined  -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" 2bd69c322e98
3. podman container checkpoint --tcp-established -l --export=/tmp/1.tar.gz
4.  scp /tmp/1.tar.gz root@hostb:/tmp/

on host B
1. podman container restore --tcp-established -i /tmp/1.tar.gz

[2020-01-08 08:48] daniel-wtd opened #4813 "ansible + podman not working"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am using ansible to interact with podman via ansible podman connector. when using a rootless container, I am not able to execute any command via ansible and will get some errors. The command that should be executed is a simple `cat /etc/hostname`

This may not be 100% related to podman, but

[2020-01-08 08:56] daniel-wtd commented on #4813
I have also opened a bug for the ansible devs

https://github.com/ansible/ansible/issues/66263

[2020-01-08 09:32] sshnaidm commented on #4813
@daniel-wtd I think it should have been fixed in https://github.com/containers/libpod/commit/d40b450afdc9784a3dcf0d5b95712f4ad8a46cc0
I can't currently reproduce it, for me it works with same podman and ansible versions. We have a little bit different builds https://linediff.com/?id=5e15a11d687f4b2e6e8b4567 but it doesn't seems as critical.
Will look again what can be wrong

[2020-01-08 09:36] sshnaidm commented on #4813
@daniel-wtd please paste your "ansible --version"

[2020-01-08 09:43] daniel-wtd commented on #4813
ansible 2.9.2
  config file = None
  configured module search path = ['/var/home/dschier/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /var/home/dschier/.venv-python3/lib64/python3.7/site-packages/ansible
  executable location = /var/home/dschier/.venv-python3/bin/ansible
  python version = 3.7.5 (default, Dec 15 2019, 17:54:26) [GCC 9.2.1 2019

[2020-01-08 09:59] rhafer commented on #4688
This sees to be fixed in 1.7.0 (See #4428). So I guess it can be closed.

[2020-01-08 09:59] sshnaidm commented on #4813
@daniel-wtd thanks, also the same. Do you have a possibility to try it on a fresh system? I'll try to do the same today on f31

[2020-01-08 10:02] vrothberg commented on #4688
Thanks, @rhafer and @sysrich! I am closing the issue.

[2020-01-08 10:02] #4688 closed

[2020-01-08 10:06] ssbarnea opened #4814 "`make lint` fails on macos"
[code]

[2020-01-08 10:14] parmentelat commented on #4656
I've been trying to understand this issue a little better on my side

((for the record I have taken the time to completely wipe out the podman install, i.e. rpm uninstalled, cleaned the containers area completely, in short scrubbed as much as I could before reinstalling))

I need to amend the issue topic; turns out the Python API call **does return eventually** after a **very long while**; here's

[2020-01-08 10:20] adrianreber commented on #4779
Thanks for the details. Running this with latest git I see an error, but not the one you described (timeout).

I get an error related to the file system changes. Something in the container changes `/usr/share/elasticsearch` from 755 to 775. CRIU sees this and aborts the restore because the file-system should be the same. This actually is a limitation I accepted because I am ignoring any directory

[2020-01-08 10:36] AkihiroSuda commented on #4804
Being fixed in https://github.com/containers/libpod/pull/4592.

Now the error message is like `failed to expose ports via rootlessport: "listen tcp 0.0.0.0:8080: bind: address already in use`

[2020-01-08 10:37] daniel-wtd commented on #4813
yep, will do this today in the evening (CET) and report back to you.

[2020-01-08 12:06] rhatdan commented on #4814
@baude PTAL

[2020-01-08 12:16] #4559 closed

[2020-01-08 12:16] #4586 closed

[2020-01-08 12:16] #4804 closed

[2020-01-08 12:19] ensc commented on #4770
still with podman-1.7.0-0.5.rc2.fc31.x86_64

[2020-01-08 12:44] #4665 closed

[2020-01-08 12:46] ensc commented on #4508
Is this available in 1.7.0?  `containers.conf` seems to be ignored with podman-1.7.0-0.5.rc2.fc31.x86_64

[2020-01-08 12:50] rhatdan commented on #4320
@saschagrunert @dustymabe Does https://github.com/containers/libpod/pull/4712 close this?

[2020-01-08 12:51] rhatdan commented on #4323
I believe that the CNI guys say this is the right behaviour?  Should we close?

[2020-01-08 12:52] rhatdan commented on #4123
@QiWang19 Can you look into this?

[2020-01-08 12:52] rhatdan commented on #4304
@mheon This is still in progress correct?

[2020-01-08 12:53] rhatdan commented on #4061
I am going to close this, as I think it is fixed.

[2020-01-08 12:53] #4061 closed

[2020-01-08 12:54] rhatdan commented on #3924
@lsm5 What should we do with this?

[2020-01-08 12:56] saschagrunert commented on #4320
From my point of view yes, but I leave it open to @dustymabe :)

[2020-01-08 13:18] rhatdan commented on #4792
There is a major rework/rewrite going on in podman for remote connections, to support functionality like the docker.sock calls.  Not sure if they will be able to get back to this one any time soon.

[2020-01-08 13:19] rhatdan commented on #4728
Yes I want to cut one soon/today?

[2020-01-08 13:20] rhatdan commented on #4794
Well there is not much we can do other then have you disable SELinux separation until this is fixed.  If this even works with SELinux separation turned off.

[2020-01-08 13:20] daheise commented on #4326
I have also encountered this issue while trying to set up a podman custom executor for GitLab CI following this guide: https://tech.immerda.ch/2019/10/gitlab-ci-with-podman/

This line runs and exits, without taking any action: `podman exec "$CONTAINER_ID" /bin/bash < "$1"`

[2020-01-08 13:28] parmentelat commented on #4656
now, if instead of running one of my containers, I spawn one in a simpler way

[code]

then in this case the API behaves more or less as expected

[code]

although a duration of nearly 1s to probe for one single container does sound odd, it's clearly more workable than almost minutes :)

so this points at the way the container is started

I could try and isolate what differences, in the ways both

[2020-01-08 13:42] rhatdan commented on #4099
@lsm5 any update?

[2020-01-08 13:44] rhatdan commented on #4811
Any chance you would be willing to open a PR to make this happen?

[2020-01-08 14:35] mheon commented on #4304
On hold until I can get attach working and unblock Brent. Optimistically still hoping for this in 1.8 but realistically could slip to 1.9

[2020-01-08 14:51] mheon commented on #4323
I think we need to positively verify if recent Docker does forward v6 ports before we close definitively

[2020-01-08 14:56] mheon commented on #4508
I don't believe it is - we're expecting initial support to land in 1.8.0. We'll begin gradually deprecating libpod.conf at that time as well.

[2020-01-08 16:19] yolanv commented on #4811
Thanks for your reply. If I could, I would. However, I'm unexperienced in this field. If someone could guide me through the process or has some handy resources on the internet I could use, I would be more than happy to give it a try.

[2020-01-08 18:00] abitrolly commented on #4794
This is the container https://hub.docker.com/layers/yakshaveinc/snapcraft/core18/images/sha256-a7f7a8395ff9e060fe073652c8f3663c03229c6a0b8c01f89282081ab83fc2e1

[2020-01-08 20:14] johnfosborneiii commented on #3255
I'm on Fedora 31 and podman 1.6.2 is still the latest and I'm hitting this issue.

[2020-01-08 20:22] mheon commented on #3255
v1.7.0 has been released and should be in updates/testing either now, or very soon.

[2020-01-08 20:26] johnfosborneiii commented on #3255
I still see 1.6.2. This is pretty urgent. Trying to resolve a hot issue for a customer. Do I need to build from source to get 1.6.3 on Fedora 31?

sudo dnf --enablerepo=updates-testing list podman*
Last metadata expiration check: 0:01:31 ago on Wed 08 Jan 2020 03:21:41 PM EST.
Installed Packages
podman.x86_64

[2020-01-08 20:40] parmentelat commented on #4656
as per @jwhonce instructions on irc, I have tried to run `podman inspect -s` on both containers

the outcome is that on the regular ubuntu container `inspect -s` returns relatively fast, while on my custom containers it hangs for the approximate same duration as the API call

when *strace*'ing that `podman inspect` process, I can see a great many deal of calls to `futex()`like typically

[code]

[2020-01-08 20:59] mheon commented on #3255
https://koji.fedoraproject.org/koji/buildinfo?buildID=1427538

RPMs for 1.7 can be found here

[2020-01-08 21:16] daniel-wtd commented on #4813
I have tested it a on 2 fresh installations minute ago:

- fedora 31 (silverblue / iot)
- podman 1.6.2
- ansible 2.9.2 (via pip / overlay package)

and got the same result.

[2020-01-08 22:14] daniel-wtd commented on #4813
minor addition: on the same host running the exact same stuff as root is working perfectly fine.

[2020-01-09 01:20] zhuguoliang commented on #4779
Thanks for your patience but It seems that I cannot reproduce it in my dev env.

I rebuild the images with podman build the containerfile above,
I took the following steps:
1. podman save -o a.tar 93afe57d19e4
2. scp a.tar hostb:/tmp
3. podman load -i /tmp/a.tar
4.  podman container restore --log-level debug --tcp-established -i /tmp/3.tar.gz
(Note that 3.tar.gz is the checkpoint file)

The log is

[2020-01-09 02:09] dustymabe commented on #4320
Looks like that would satisfy the feature request, yes. I'll test when it filters into a release and comment here if it's not working as expected.

[2020-01-09 02:09] dustymabe commented on #4320
Thanks @saschagrunert @rhatdan

[2020-01-09 09:14] vrothberg commented on #3924
The cross-distro packaging is now happening in the public OBS instance -> https://build.opensuse.org/package/binaries/devel:kubic:libcontainers:stable. The links to older package versions should be static and can hence be used in install scripts.

@lsm5 @sysrich what do you think?

[2020-01-09 09:19] vrothberg commented on #4099
Yes, the cross-distro packaging is now happening in the public OBS instance:
https://build.opensuse.org/project/subprojects/devel:kubic:libcontainers

There are three streams: stable, testing, unstable.

[2020-01-09 09:42] sysrich commented on #3924
There are multiple approaches we could do

1. Versioned package names (eg. podman1.5 , podman1.6, etc) in the existing OBS Project.

This would be the easiest for the described usecase, but would be a significant pain for many users as there wouldn't be a simple 'apt-get podman' option..and how would people know when to move to a new version? Such things aren't a concern when talking about gcc ver

[2020-01-09 09:49] marusak opened #4822 "Default cpu-shares are 0, but documentation says it is 1024"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
From doc:

But when I run container without specifying `--cpu-shares` it has cpu-shares set to 0.

**Steps to reproduce the issue:**
[code]

**Describe the results you expected:**
[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g

[2020-01-09 09:53] parmentelat commented on #4656
@mheon
`podman mount` on the custom container returns quickly within 1/10 s

[2020-01-09 10:06] vrothberg commented on #4822
Hi @marusak, thanks for reaching out!

@giuseppe, using `--cpu-shares` yields the following error:

Is that correct or a regressions? It has worked with v1 at some point, didn't it?

[2020-01-09 10:19] giuseppe commented on #4822
are you running as rootless?

[2020-01-09 10:25] vrothberg commented on #4822
:see_no_evil: yes ... which totally explains the difference. So we should make the default value conditional and update the  docs?

[2020-01-09 10:28] marusak commented on #4822
In my example I was running as root, as it is not supported as rootless (to my knowledge).

[code]

(this is CGroupsV2 of Fedora 31)

[2020-01-09 10:29] giuseppe commented on #4822
1024 is the default also when running as rootless.  The difference is that it cannot be modified.

I think the issue here can be that 0 means "unspecified", given that the minimum value for cpu shares on cgroup v1 is 2.  I think we should just convert 0 to 1024.

[2020-01-09 10:32] vrothberg commented on #4822
@giuseppe the default is set to 0 (see https://github.com/containers/libpod/blob/master/cmd/podman/common.go#L192).

[2020-01-09 10:47] giuseppe commented on #4822
which is fine.  When it is set to 0 then its value is not set in the OCI spec file as libpod treats it as unspecified by the user: https://github.com/containers/libpod/blob/master/pkg/spec/spec.go#L187-L189

So I think the issue is only in `inspect`.

In the inspect output, should we convert 0 to 1024 which is the default "most of the time" value used for the cgroup?  We can't really assume it tho

[2020-01-09 12:07] sshnaidm commented on #4813
OK, I reproduced it on the fresh fedora31 system:
[code]
@mheon @rhatdan any ideas why it works on fedora30 with https://github.com/containers/libpod/commit/d40b450afdc9784a3dcf0d5b95712f4ad8a46cc0 but doesn't work on fedora31? With same podman version 1.6.2

[2020-01-09 13:01] #3302 closed

[2020-01-09 13:01] #4326 closed

[2020-01-09 13:01] #4785 closed

[2020-01-09 13:44] yanchenko-igor commented on #4326
It works, amazing!

[2020-01-09 14:23] mheon commented on #4813
CGroups v2, maybe? Pause requires CGroups which for rootless containers are
only available on v2.

On Thu, Jan 9, 2020, 07:07 Sergey <notifications@github.com> wrote:

[2020-01-09 14:27] mheon commented on #4822
I would think that we set it to 1024 by default in the output, given that we should only be overriding it if the resource limits struct is actually present and populated in the spec?

[2020-01-09 14:48] sshnaidm commented on #4813
@mheon yeah, seems like it's cgroups. It works fine with cgroups v1, but doesn't work with v2. Still not sure why it ignores default setting from https://github.com/containers/libpod/commit/d40b450afdc9784a3dcf0d5b95712f4ad8a46cc0
Should we set "--pause false" explicitly in ansible plugin? https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/connection/podman.py#L165-L166

[2020-01-09 14:52] FelixErnst commented on #4786
So in https://github.com/rocker-org/rocker-versioned/issues/187#issuecomment-572590396
the number of open files is set as a resource limit.

I am bit out of my depth here, but does anyone know, how to set such a limit? Apperently the number which needs to be set is 4096 and the attempt is made as root, since the uid is apparently 0.

[2020-01-09 15:15] mheon commented on #4813
Might be a good idea.

[2020-01-09 15:16] mheon commented on #4813
@giuseppe We expect pause to work rootless on v2, correct?

[2020-01-09 15:21] giuseppe commented on #4786
I think you are hitting: https://github.com/rstudio/rstudio/blob/master/src/cpp/server/ServerMain.cpp#L541

4096 is not too high, so I think you should be fine with your default configuration.

Can you please try again with `--ulimit=host` to podman run?

[code]

[2020-01-09 15:26] giuseppe commented on #4813
yes, pause should work on cgroup v2 as rootless as well

[2020-01-09 15:29] FelixErnst commented on #4786
After reading the other issue I though so myself

[code]

works.

I close this issue. Thanks for all the help and pointing me in the right direction.

[2020-01-09 15:29] #4786 closed

[2020-01-09 15:57] rhatdan commented on #4465
@TomSweeneyRedHat is this still active?

[2020-01-09 15:59] #4320 closed

[2020-01-09 17:08] rhatdan commented on #4099
@vrothberg Can we close this PR then?

[2020-01-09 17:13] vrothberg commented on #4099
Sounds good. Feel free to re-open if needed.

[2020-01-09 17:13] #4099 closed

[2020-01-09 18:08] TomSweeneyRedHat commented on #4465
I don't think a root cause has been found.  Tagging as a do-not-close until someone can eyeball it.

[2020-01-09 18:18] sshnaidm commented on #4813
As I see in code `pause=false` is default only with cgroups v1 and it's what causes problems for fedora31. Is that a specific reason for it? https://github.com/containers/libpod/blob/f85b3a01f050e4f8af8471f396013f18647d9241/cmd/podman/cp.go#L496
@giuseppe @mheon ^^

[2020-01-09 18:34] mheon commented on #4813
It sounds like we expect pause to work for CGroups v2, so the fact that it's not is probably a bug

[2020-01-09 18:52] sshnaidm commented on #4813
@mheon so should we stop to require `pause=False` on cgroups v2 for rootless containers?
If I set now explicitly `--pause false` in ansible module - will it break some higher/future versions..? Would be better to have it solved in podman maybe.

[2020-01-09 19:24] parmentelat commented on #4656
as a conclusion on this issue, it seems that the time taken by the API call is mostly spent in figuring the hard-disk space used by the container

an evidence of that is the presence of `'rootfssize': 64194718` in the data structure returned by the API

Transfering to podman-python to see if there is / suggest a way for the API call to specify that this information is not needed

https://github.co

[2020-01-09 19:24] #4656 closed

[2020-01-09 21:16] superligen commented on #4779
https://github.com/apache/lucene-solr/blob/master/lucene/core/src/java/org/apache/lucene/store/NativeFSLockFactory.java

“FileTime ctime = Files.readAttributes(path, BasicFileAttributes.class).creationTime();
      if (!creationTime.equals(ctime)) {
        throw new AlreadyClosedException("Underlying file changed by an external force at " + ctime + ", (lock=" + this + ")");
      }”

looks like t

[2020-01-09 21:46] TomSweeneyRedHat opened #4827 "V1.7 Baseline port test failing"
I'm not sure if this is a new or unexpected, but the below baseline tests are failing.  This is for the v1.7.0 kit on both F31 and F30 on bohdi.

[code]

[2020-01-09 23:13] edsantiago commented on #4827
As @baude mentioned, I suspect this is the issue fixed in #4818

[2020-01-10 02:12] Jousboxx commented on #3323
I believe I am also having this problem. I'm trying to run
```podman pull nvcr.io/nvidia/tensorflow:19.12-tf1-py3```.
It hangs for a long time on "Storing Signatures", and then eventually runs out of disk space and fails. I have 180GB free on the drive containing my home directory when I start this command, and ```df -h``` verifies that it is all used up. The image is only about 4GB. The same thin

[2020-01-10 02:25] buckley310 commented on #4585
For posterity; I can reliably recreate this issue on 1.6.3, but not on 1.7.0. Seems like that fixed it. It's also not ubuntu/mint specific.

[2020-01-10 02:30] mheon commented on #3323
Are you using the VFS driver? This sounds like it could be caused by using the VFS driver with a large image. VFS does not perform file system level deduplication, which causes a massive expansion of storage required.

Using the overlay driver (as root) or fuse-overlayfs (rootless) should avert this.

[2020-01-10 02:45] Dulani commented on #3323
I was reading #3799 a few days ago and also noticed the "strong" recommendation for using fuse-overlayfs.  When I had the problem above, I was using the VFS driver.  I can't migrate to fuse-overlayfs yet because my kernel is too old (It is RHEL 7 and I don't control that part of the server).  So, hopefully one day eventually I'll be able to give this a try (until then, `podman` will have to stay o

[2020-01-10 03:54] Jousboxx commented on #3323
@mheon I'm very new to containers, I don't know what driver I'm using. How would I find out and/or specify?

[2020-01-10 04:58] QiWang19 commented on #4752
@XVilka  This error might be caused by incorrect argument length. Did you forget the space between the arguments?
https://github.com/containers/libpod/blob/f57fdd038d431ebbd59e39b909cab7543b5d8f01/cmd/podman/cp.go#L63-L65

[2020-01-10 06:29] mheon commented on #4752
@XVilka Are you asking to copy files from an image, instead of a container? I don't believe that `docker cp` presently provides that functionality (it's restricted to containers, as is our implementation)?

[2020-01-10 06:30] mheon commented on #3323
@Dulani I believe fuse-overlay should work in 7.8.

@Jousboxx `podman info` should contain an option `GraphDriverName` that will tell you what your current driver is.

[2020-01-10 06:53] alitvak69 commented on #4789
Podman 1.7 RPM is still failing to build on cbs

[2020-01-10 07:36] adrianreber commented on #4779
Thanks for looking into this. On my system the file creation time is correct and the same as before
checkpointing. The file date is the same as the container initial creation time. I am wondering how is
`creationTime` created. Where does `creationTime` come from. Is that maybe confused, that the process was not running for some time. Maybe lucene cannot handle that the time of the system changed,

[2020-01-10 07:42] adrianreber commented on #4779
@zhuguoliang I do not see the timeout you are still seeing. One big difference on my test VM is, that I do not have an IPv6 address. Container checkpoint and restore only looks at the IPv4 address right now, so maybe the problem you are seeing is somehow IPv6 related. Maybe you can somehow try to create a container without IPv6 addresses. At least to verify if that is the problem.

[2020-01-10 08:24] FranklinYu commented on #1742
I assume the versions of dependencies are locked in`go.sum`. If so then I guess the dependency being fragile won’t make packaging more expensive? (Maintaining podman itself would be more expensive, though.)

[2020-01-10 09:53] vrothberg commented on #4789
@jnovy, could you have a look?

[2020-01-10 10:22] giuseppe commented on #4813
If pause can be performed in rootless depends whether we are using cgroups v2, the systemd manager and the freezer controller is available (it wasn't on older kernels for cgroup v2).  The last condition can fail for root as well.

I think we should just drop the check and let the OCI runtime complain if pause cannot be performed.

[2020-01-10 10:26] giuseppe commented on #4813
PR here: https://github.com/containers/libpod/pull/4828

[2020-01-10 10:30] vrothberg opened #4829 "Makefile tab completion turned very slow"
I commonly use tab completion to list Make targets. This has worked out well for a long time but at some point (didn't bisect yet), the completion started to take _veeerrry_ long.

Although this might not be a big issue I suspect that the Makefile is doing too much work and may need some house cleaning.

[2020-01-10 11:46] #4813 closed

[2020-01-10 12:47] XVilka commented on #4752
@mheon no, I try to copy from the running container, sorry if it wasn't clear.

[2020-01-10 13:28] adrianreber commented on #4779
@superligen I had a look at the lucene code and a closer look at the error message, the problem seems to be that the creation time is only restored with seconds as precision. Looking at the output of `stat` I can see the file time as `10:04:38.000000000` the original time of the file, before checkpoint and restore was `10:04:38.272378` and this is also part of the error message:
`changed by an ext

[2020-01-10 15:17] debarshiray opened #4831 "'podman system reset' shouldn't nuke unrelated things in $XDG_RUNTIME_DIR"
/kind bug

**Description**

I tried resetting the rootless Podman storage using `podman system reset` a few times over the last week. On at least one occasion it tried to remove almost everything inside `$XDG_RUNTIME_DIR`, and not just the container bits like `$XDG_RUNTIME_DIR/overlay-*` or `$XDG_RUNTIME_DIR/containers`. Among the things that disappeared were the session D-Bus, Pipewire and Waylan

[2020-01-10 15:29] choeffer opened #4833 "rootless container - systemd user service failes on 1.70 but is working on 1.6.2"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Followed https://www.redhat.com/sysadmin/podman-shareable-systemd-services to create rootless container systemd user service. On Fedora 31 and podman 1.6.2 it is working fine, on Fedora 31 and podman 1.7.0 it is failing.

**Steps to reproduce the issue:**

1. Create systemd user service, as d

[2020-01-10 15:37] mheon commented on #4833
Can you try the commands in the systemd (the ExecStartPre and ExecStart ones most notably) manually, with `--log-level=debug` added, and provide the logs? Should help us identify what is going on

[2020-01-10 15:37] mheon commented on #4833
@vrothberg PTAL

[2020-01-10 15:49] choeffer commented on #4833
Thanks for the fast reply. The ExecStartPre and ExecStart on their own are working fine in both cases.

[code]

[2020-01-10 16:15] choeffer commented on #4833
Interestingly, the same .service file is running fine as systemd system service.

[code]

[2020-01-10 16:20] vrothberg commented on #4833
@choeffer, can you share the service file or provide one as a reproducer?

[2020-01-10 16:21] choeffer commented on #4833
This is the one I am using:

[code]

[2020-01-10 16:25] vrothberg commented on #4833
I can't reproduce. It works on my machine. I am on cgroups v1 though.

[2020-01-10 16:30] MK27 opened #4834 "Container not accessible outside host due to lack of forwarding"
This is on a Fedora 31 system.  I'm brand new to podman, using it because of the cgroups2 issue with docker -- which is fine by me, since I am pretty new to docker to start with.

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After dealing with issue 4114: https://github.com/containers/libpod/issues/4114
By running `ip link add cni-podma

[2020-01-10 16:36] vrothberg commented on #4833
It is related to cgroups v2. I can reproduce the issue locally, see below:
[code]
... AND ...
[code]

It works when setting `--cgroups=disabled` in podman-run. @giuseppe, do you know what's going on?

[2020-01-10 16:51] choeffer commented on #4833
Can confirm, with `--cgroups=disabled` it also works with podman 1.7.0 again.

[code]

[2020-01-10 16:53] vrothberg commented on #4833
@choeffer thanks for confirming! We'll have a look at the issue (I'm currently bisecting).

[2020-01-10 16:58] johanbrandhorst commented on #4285
Still an issue

[2020-01-10 17:05] vrothberg commented on #4833
I opened https://github.com/containers/libpod/pull/4835 to revert the change introducing the regression.

[2020-01-10 19:28] vwbusguy commented on #4764
It looks like the poster forked and made the change, but perhaps didn't submit it back as a PR? https://github.com/t-msn/storage/commit/41c2a90841cfc42f1373dac0de240773b405f536

[2020-01-10 19:33] vwbusguy commented on #3963
@t-msn - Would you be willing to submit your change (https://github.com/t-msn/storage/commit/41c2a90841cfc42f1373dac0de240773b405f536) as a Pull Request?

[2020-01-10 21:02] Jousboxx commented on #3323
@mheon I was indeed using vfs. I did
```sudo apt install fuse-overlayfs libfuse3-dev```
```sudo rm -rf ~/.local/share/containers```
```podman pull --storage-driver fuse-overlayfs nvcr.io/nvidia/tensorflow:19.12-tf1-py3```

Now I receive this error:

[code]

[2020-01-10 21:04] mheon commented on #3323
@giuseppe PTAL

[2020-01-10 21:24] debarshiray commented on #4838
Let's fix this in Podman itself.

[2020-01-10 22:19] Jousboxx commented on #3323
Finally solved the problem by doing
```sudo rm -rf ~/.config/containers/storage.conf```
and then running ```podman pull``` *without* the ```--storage-driver``` option.

Podman sees that I now have ```fuse-overlayfs``` and ```libfuse3-dev``` installed and creates new config files with overlay as the default filesystem driver.

Specifying the ```--storage-driver overlay``` option results in the prob

[2020-01-10 22:24] markstos opened #4840 "wish: improve docs for `podman exec --privileged`"
The `--privileged` flag for `podman exec` is currently documented like this:

More detailed documentation is required for users to know if they need "extended" capabilities are not. This is especially true in the case or rootless/unprivileged containers. What does it mean for an unprivileged user to create a "--privileged" container vs an unprivileged one?

@mheon Has already weighed in here to cl

[2020-01-10 22:40] #4838 closed

[2020-01-10 22:42] rhatdan commented on #4840
@markstos interested in opening a PR to fix the issue?

[2020-01-10 22:55] #3653 closed

[2020-01-11 00:59] markstos commented on #4840
Yes.

[2020-01-11 06:47] zeroepoch commented on #3155
I know this issue has already been closed, but the following tip might help anyone looking at this issue since it's pretty much the only documentation on the web for how to get `nvidia-container-runtime` working on Fedora 30+.

If you create `~/.config/containers/libpod.conf` with the contents below then you can run a GPU container as a normal user without having to add `--hooks-dir` each time you

[2020-01-11 17:59] baude commented on #4811
my understanding is raspberrian was based on debian?

[2020-01-11 18:49] StefanBruens opened #4844 "Confirmation prompt for 'container prune' breaks non-interactive use"
/kind bug

**Description**

With podman 1.7.0, it is no longer possible to prune containers from a script.

The prompt can be avoided by adding `--force`, but this will also prune running containers.

Please add a `--yes`/`-y` flag to allow confirmation from a script.

The prompt was added here:
https://github.com/containers/libpod/commit/0602ce4dc04ec1b78724019e03066b8562877b73

**Steps to reprod

[2020-01-11 19:59] mheon commented on #4844
Wait, container prune --force prunes running? That sounds like a bug.

On Sat, Jan 11, 2020, 13:49 StefanBruens <notifications@github.com> wrote:

[2020-01-11 20:07] StefanBruens commented on #4844
https://github.com/containers/libpod/blob/master/cmd/podman/containers_prune.go#L43

[2020-01-11 20:09] mheon commented on #4844
It's possible the description there may be inaccurate. `prune --force` should only remove stopped containers, but with no prompt. I need to verify if this is actually the case.

[2020-01-11 22:29] abitrolly commented on #4794
@rhatdan does `--security-opt label=disable` mean that container will be able to read my SSH keys if I by mistake give it my home?

[2020-01-12 04:48] jdloft opened #4863 "First two characters are swapped in 'podman exec' streams, but not 'podman run'"
After entering a toolbox the first character isn't displayed and instead is inserted after the second character is input. This happens on BASH and ZSH and with a test user with a vanilla homedir.

Fedora Silverblue 31, toolbox 0.0.17

Example: after typing "exit" immediately following "toolbox enter"
![Screenshot from 2020-01-11 21-44-10](https://user-images.githubusercontent.com/8332322/72214273-

[2020-01-12 12:21] smekkley commented on #4678
I had the same issue probably due to different cause, but I leave a comment any way for someone who comes across the same issue as the title.

In conclusion, it was due to cgroup kill by one of podman systemd unit.
I have multiple podman systemd units running. On the first container run, podman spawns the podman pause process. If you do this through systemd, on kill, it kill the pause process as w

[2020-01-12 15:56] t-msn commented on #4764
@vwbusguy Hello,

It seemed that the original reporter in #3963 lost interest and I didn't make PR at that time. But now I have submitted: https://github.com/containers/storage/pull/508

Can you please check it?

[2020-01-12 16:47] baude commented on #4844
@mheon @StefanBruens this just tripped me up as well while i was working on the apiv2 stuff so i had to look at the code as well.  it turns out the description is incorrect.  the force should only be used to skip the interactive bit.  however, it IS passed onto the container removal call.  that said, we are safe here because prune uses container filters to select which containers to prune.  theref

[2020-01-12 17:53] sshnaidm commented on #4813
@giuseppe thanks! Will it be ported to 1.6.2 or later? Because if I change ansible plugin to use "--pause false" now, it might be broken for later podman? Or I miss something?

[2020-01-12 19:55] bundi78 opened #4846 "unexpected permission change of /run/user/$UID"
/kind bug

**Description**

Running a container with a modified uidmap (eg. --userns=keep-id) leads to an unexpected permission change of /run/user/$UID (from (7)700 to (7)711). Which in turn leads to a malfunction of the KDE plasma desktop i'm using.

**Steps to reproduce the issue:**

1. `stat -c "%a %n" /run/user/$UID`

2. `podman run --rm -it --userns=keep-id docker.io/archlinux/base`

3. `sta

[2020-01-12 20:05] mheon commented on #4846
@giuseppe PTAL.

I want to say this is the userns code adding +x to allow the other users mapped into the user namespace to access container files, but I'm not sure what specifically it would need to access in the container tmpdir.

Can you provide more details on the KDE errors as well? I don't know why adding execute permissions for group+all on that directory would cause KDE to not work.

[2020-01-12 22:16] matihost commented on #3835
CentOS has a delay with RHEL release (several months).
However - the  "cr" yum repository contains CentOS 8.1 packages - so you can
[code]
and try install podman
Or only for podman:
[code]

But it is still old podman 1.4.x

If you need fresh podman, either switch to Fedora or Ubuntu - as packages are fresh there (1.6.2)
Or build podman from scratch (haven't tried thou)
Or hunt for some el7 rpm bui

[2020-01-12 23:18] baude commented on #4834
@dcbw any idea what might be going on here/

[2020-01-13 00:22] junaruga commented on #4570
It seems that Ubuntu's podman installed from "ppa:projectatomic/ppa" is still 1.6.2 . It's not the latest version 1.7.0. And

[code]

And the error still happens.
https://travis-ci.org/junaruga/ci-multi-arch-native-container-test/jobs/636119447#L438

[2020-01-13 00:29] edsantiago commented on #4686
This is fixed.

[2020-01-13 00:29] #4686 closed

[2020-01-13 07:20] vrothberg commented on #4570
Cross-distro packaging for Podman is happening in the Open Build Service: https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable

@lsm5 will soon give updates

[2020-01-13 07:50] marusak opened #4847 "Cannot change CMD in commit to a command with arguments (from 1.7)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Setting up `CMD` in `commit` command cannot be a command with arguments, but only single executable since 1.7. It worked as expected before.

**Steps to reproduce the issue:**
(happens both with system and user container)
1.  `(sudo) podman run --name to_be_commited -dit fedora bash`
2.  `(sud

[2020-01-13 08:48] zhuguoliang opened #4848 "[DEV] cannot build with forked libpod using 'replace' in go.mod"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

Neither

**Description**

I forked libpod to add a requested feature, but it seems that libpod use "-mod=vendor" in Makefile which will generate "no such file" error in vendor dir.

**Steps to reproduce the issue:**

1. fork libpod to my own github repo
2. modify Makefile line10 PROJECT := github.com/Genetalks/libpod
3.

[2020-01-13 08:49] vrothberg commented on #4840
Thanks for contributing, @markstos! Closing as #4841 fixed it.

[2020-01-13 08:49] #4840 closed

[2020-01-13 08:52] vrothberg commented on #4661
The issue seems to be resolved now; just tested. Please re-open if you are still experiencing performance issue.

[2020-01-13 08:52] #4661 closed

[2020-01-13 08:57] vrothberg commented on #4848
@zhuguoliang, you don't need to modify the Makefile or do a go-module replacement for local development.

[2020-01-13 08:58] giuseppe commented on #3323
agreed.  At least for the Fedora package we also install fuse-overlayfs and it is automatically picked and used.  Have you installed Podman from the Ubuntu PPA?

[2020-01-13 09:05] giuseppe commented on #4813
I don't think this will be back ported as it is not a security problem.  @mheon or we could backport it?

[2020-01-13 09:10] giuseppe commented on #4846
yes correct.  The userns code changes the directory permissions so that an user != your UID can access the storage and the tmpdir.
When a user namespace is used and root in the namespace != your UID (as it happens with `--userns=keep-id`), the runtime init process will run as the root in the user namespace and perform operations like setting up the tty as such user.  If we weren't tweaking the per

[2020-01-13 09:41] giuseppe commented on #4811
yes correct, raspbian is based on debian.

@yolanv could you try if https://launchpad.net/~projectatomic/+archive/ubuntu/ppa has the packages you are looking for?

[2020-01-13 09:49] vrothberg commented on #4811
The cross-distribution packaging is now happening on the Open Build Service. https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable provides packages from ARM. Maybe they'll do the job?

[2020-01-13 10:08] zhuguoliang commented on #4848
@vrothberg Hi, but on a forked repo, invoking make will produce errors.

[2020-01-13 10:17] vrothberg commented on #4848
Can you do `make podman` in a clean fork and copy the error messages? There is no need to change the module, so something else must be going on.

[2020-01-13 10:23] zhuguoliang commented on #4848
Thanks, "make" generates the error but make podman works.