[2021-02-16 15:46] mheon commented on #9395
I strongly suspect that CNI is not the issue here; instead, we're probably mishandling host IP on the Podman side and passing CNI bad port mappings.

[2021-02-16 15:48] michelesr commented on #9364
@Luap99 took me a while to figure it out, but looks like Apparmor got in the middle of the dnsname plugin:

From within the `rootless-cni-infra` container:

[code]

And in journalctl:

[code]

Solved by running this:

[code]

I'm closing the issue now. Thanks for your help!

[2021-02-16 15:48] #9364 closed

[2021-02-16 15:49] baude commented on #9364
@michelesr mind adding that to containers/dnsname ? there is a mini tutorial in there iirc.

[2021-02-16 15:54] baude commented on #9395
With Podman 3.0:

[code]

[2021-02-16 15:55] mheon commented on #9377
If this works on Docker and `--privileged` does not solve it this seems like a Podman bug. I'm going to reopen.

[2021-02-16 15:56] mheon commented on #9395
Alright. Closing as fixed in current release, then.

[2021-02-16 15:56] #9395 closed

[2021-02-16 15:57] mheon commented on #9395
If you'd like to discuss a backport to a previous release, please open a Bugzilla.

[2021-02-16 16:39] #9378 closed

[2021-02-16 16:47] r-cheologist commented on #9083
Any further follow up I could provide?

[2021-02-16 17:50] ncapps commented on #2669
Is this issue still being worked? We would like the ability to load a tar file containing multiple images.

[2021-02-16 17:52] mheon commented on #2669
It's been resolved since Podman 2.2.0

[2021-02-16 18:44] PavelSosin-320 commented on #9259
@gbraad After some hustles with .wslconfig I succeeded to run Fedora with
[wsl2]
memory=12GB
processors=4
kernelCommandLine=systemd.unified_cgroup_hierarchy=1

and this parameter reaches the destination:
cat /proc/cmdline
initrd=\initrd.img panic=-1 nr_cpus=4 swiotlb=force pty.legacy_count=0 systemd.unified_cgroup_hierarchy=1_

Now, according   to  [ RunC documentation](https://github.com/opencont

[2021-02-16 19:23] lsm5 commented on #9345
sent containers-common_1-8 to OBS just now which should replace the older dependencies. I'll fix podman and the rest to use this minimum containers-common dependency as well, but hopefully manually upgrading containers-common should handle things for now.

[2021-02-16 19:26] rhatdan commented on #7778
@EduardoVega Can you start working on getting the "U" into podman?

[2021-02-16 19:29] EduardoVega commented on #7778
@rhatdan I already got all the required changes into this PR https://github.com/containers/podman/pull/8349.

[2021-02-16 19:42] lsm5 commented on #9345
podman 3.0.0-2 should use containers-common 100:1-8, currently building at https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman .

[2021-02-16 19:54] michelesr commented on #9364
This is a duplicate of https://github.com/containers/dnsname/issues/33.

[2021-02-16 20:05] rhatdan commented on #9353
Are you saying that you changed the containers.conf to use cgroupfs for cgroup-manager, but you are still seeing it attempt to use dbus-launch?

[2021-02-16 20:12] asottile commented on #9353
yes:

[code]

[2021-02-16 20:16] lsm5 commented on #9345
Closing as the builds have landed on the repo. Please reopen if the issue persists.

[2021-02-16 20:27] lsm5 commented on #9345
There might be an issue with registries.conf. Looking ...

[2021-02-16 20:31] mheon commented on #9354
I'm getting deeper into this and I'm starting to think it's a copier bug. The offending line seems to be:

[code]

Mountpoint is the container's mountpoint from c/storage, the `merged` dir. `v.Dest` in this case is `/var` so the final source string is `/var/.` (no extra slashes or similar) - both of these confirmed by looking at what Podman is passing in. This all seems reasonable. However, instea

[2021-02-16 20:44] rhatdan commented on #9371
No problem, thanks for contributing the issue.

[2021-02-16 20:47] TomSweeneyRedHat commented on #9392
@erikerlandson couple of thoughts.  The first is from this [commit](https://github.com/containers/buildah/commit/7535471ff6950fbff24073ef91c6be89e697823a) where the Containerfile contained:

[code]

In it, the build process knows the value of the secret, but the final image has no clue.  Ala:

[code]

It also would be useful as shown in this [post](https://levelup.gitconnected.com/docker-multi-sta

[2021-02-16 20:48] lsm5 commented on #9390
Should be fixed with podman `100:3.0.0-3`. Building on OBS atm: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . Will be available hopefully in an hour or less.

I'll keep the bug open for now. Please close it if this resolves your issue.

[2021-02-16 20:49] lsm5 commented on #9359
Should be fixed with podman 100:3.0.0-3. Building on OBS atm: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . Will be available hopefully in an hour or less.

I'll keep the bug open for now. Please close it if this resolves your issue.

[2021-02-16 20:49] lsm5 commented on #9345
Should be fixed with podman 100:3.0.0-3. Building on OBS atm: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . Will be available hopefully in an hour or less.

I'll keep the bug open for now. Please close it if this resolves your issue.

[2021-02-16 21:06] rhatdan commented on #9353
What about the log_driver?  Is this set to journald?

[2021-02-16 21:07] rhatdan commented on #9353
grep events_logger /usr/share/containers/containers.conf
# events_logger = "journald"

[2021-02-16 21:08] asottile commented on #9353
it's set to whatever the default is:

[code]

[2021-02-16 21:08] lsm5 commented on #8704
I'm updating dependencies on OBS atm. Just sent crun and catatonit updates. I'll check on the rest and try locally as well. Sorry about the lag.

[2021-02-16 21:11] erikerlandson commented on #9392
@TomSweeneyRedHat  I love that example, thank you!

[2021-02-16 21:22] nalind commented on #9354
Based on a quick read of 9de1a68fff2ea6353823365ad860827a5af4aa99, it looks like the destination path isn't being given to Put().  Get() archives directories and names the contents in the archive with paths relative to the directory being archived, omitting the directory itself, so if that archive needs to be extracted into the same location relative to the destination rootfs that it's in relative

[2021-02-16 21:24] rhatdan commented on #9353
Uncomment that line and see if the problem goes away.

[2021-02-16 21:32] rhatdan commented on #9377
Ok then it is something wrong with the way we are handling entrypoint.

[2021-02-16 21:33] asottile commented on #9353
no dice

[code]

[2021-02-16 21:43] rhatdan commented on #9377
The image has this:
[code]
Which might be confusing us, and not confusing Docker.

[2021-02-16 21:44] gbraad commented on #9259
But, what does `podman info` show?

[2021-02-16 21:47] brent-holden opened #9403 "Podman 3.0 API behavior change in containers/<id>/wait breaks nomad-driver-podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There was a change in REST API behavior from v2.2 to v3.0 using /containers/<id\>/wait?condition=running

Previously, in v2.1/2, you could make a post to this API and a running container would return immediately. In v3.0 that behavior has changed to wait indefinitely, which breaks the podman

[2021-02-16 22:11] #9191 closed

[2021-02-16 22:24] andrewvaslas opened #9405 "runlabel behavior is inconsistent with documentation/atomic"
/kind bug

**Description**

The `runlabel` command does not behave in accordance with its documentation. Specifically, the command does not set reserved environment variables (e.g., `IMAGE`, `NAME`) in the `runlabel` context as documentation notes, and the mechanism for specifying custom environment variables (e.g., `OPT1`, `OPT2`) is not covered in existing documentation.

**Steps to reproduce th

[2021-02-17 00:56] #8834 closed

[2021-02-17 01:12] rhatdan commented on #9353
func (ic *ContainerEngine) SetupRootless(_ context.Context, cmd *cobra.Command) error {
	// do it only after podman has already re-execed and running with uid==0.
	if os.Geteuid() == 0 {
		ownsCgroup, err := cgroups.UserOwnsCurrentSystemdCgroup()
		if err != nil {
			logrus.Warnf("Failed to detect the owner for the current cgroup: %v", err)
		}
		if !ownsCgroup {
			conf, err := ic.Config(context.

[2021-02-17 01:14] rhatdan commented on #9353
@giuseppe WDYT?  Should we handle the lack of dbus_launch better, IE Not Warn?

[2021-02-17 01:17] rhatdan commented on #9403
Are you talking to the libpod interface or the compatible.  I believe only the compatibilty one waits.

[2021-02-17 01:34] ocafebabe commented on #9353
Could you please explain why "dbus_launch" is important for podman?

[2021-02-17 02:06] edigaryev commented on #9390
Thanks! Closing because it works now.

[2021-02-17 02:06] #9390 closed

[2021-02-17 02:15] brent-holden commented on #9403
Looks like this is a dup of #9351

[2021-02-17 02:55] Kiritow commented on #9358
Strongly agree with this. After upgrading to Podman 3.0.0, `sudo podman build` keeps failing and there's no easy way back. (It says either `container_linux.go:349: starting container process caused "error adding seccomp rule for syscall socket: requested action matches default action of filter"` or `exec: "runc": executable file not found in $PATH`, and I can't change it to use `crun` by default e

[2021-02-17 03:21] eiginn commented on #9359
Is it possible to depend on the `dnsmasq-base` package instead? that will get you the binary but skip the service and default config, `libvirt-daemon` debian packaging does the same thing. Or do you need a host level dnsmasq running specifically?

[2021-02-17 05:52] apinter commented on #9318
Done a little test with openSUSE installed on `xfs` and yes, you're right. The problem is `btrfs`:
[code]

However, migrating a container from an `xfs` to `btrfs` system seemingly works as the container loaded, but the log says that it failed :/
[code]

Considering the length of the log I posted it [here](https://paste.opensuse.org/13744208)

Guess the next question is how to get it to work on btr

[2021-02-17 05:59] mheon commented on #9358
The amount of packaging resources we have access to is strictly limited - @lsm5 is swamped with his current workload. If the community is willing to step up and maintain this, we'd be glad to advertise it, but we don't have the resources to maintain parallel packaging for different major versions right now.

[2021-02-17 06:03] mheon commented on #9405
@baude PTAL

[2021-02-17 06:43] PavelSosin-320 commented on #9259
@jbraad. I see different things:
[root@MSI-wsl ~]# ps -ax
    PID TTY      STAT   TIME COMMAND
      1 ?        Ss     0:00 systemd
     21 ?        Ss     0:00 /usr/lib/systemd/systemd-journald
     27 ?        Ss     0:00 /usr/lib/systemd/systemd-resolved
     29 ?        Ss     0:00 /usr/lib/systemd/systemd-homed
     30 ?        Ss     0:00 /usr/lib/systemd/systemd-logind
     32 tty1     Ss+

[2021-02-17 06:55] afbjorklund commented on #9358
I don't really want to be rebuilding the packages (bintray) or building the binaries (static), so I think I will leave this to the distributions (like RHEL and Debian) to come up with a supported way of installing podman for the maintenance tracks.

[2021-02-17 07:14] InfRandomness commented on #9228
I think I'm just gonna reinstall my system and see how it goes after

[2021-02-17 07:30] gbraad commented on #9259
I am already talking to Alistair, but that is not part of this issue. Please, prevent the noise.

What I meant was that you can not disable cgroupv1 as this stops systemd from starting with `genie -[i/l/s]`. Anyway...

[code]

exists as expected. But I am sure when you do a `mount`, you will ALSO see the v1 mounts besides the v2 unified mount.

[code]

When a regular Fedora VM is used, you will NO

[2021-02-17 08:26] adrianreber commented on #9318
The restore did not work. It seems you are hitting an error in the error path. The container should not be in the state created after a failed restore. Using `nginx` does not really make much sense to migrate as it is stateless. Try something else. I am using the following test container for tests like this:
[code]
If you migrate this you can be sure it is a real checkpoint/restore, because the ne

[2021-02-17 08:30] IceCodeNew commented on #9359
Agreed. Ubuntu is shipped with `systemd-resolved` enabled by default.
Introducing `dnsmasq` dependency only makes conflict as `dnsmasq` is not able to start.

[2021-02-17 08:45] PavelSosin-320 commented on #9259
Maybe, [Known and solved libvirt issue](https://listman.redhat.com/archives/libvir-list/2020-November/msg01037.html)
Device management in WSL is a separate topic, like GPU. If Podman will work without devices it will be OK for 90% of WSL users.
Advertized by MS solution for GPU doesn't work too because either cause green screens or 65% memory usage if GPU software is not maintained carefully.

[2021-02-17 08:59] apinter commented on #9318
That is an awesome testing container, thank you. Anyhow, I did set `noCOW` on `/var/lib/container` and tried again on `btrfs`.
Exported the container without error, deleted the runtime container and restored it from the export. Setting `noCOW` solved the issue:
[code]

Thanks for your help and guidance, appreciated!

[2021-02-17 09:14] adrianreber commented on #9318
Nice. Just once more, for me, setting `noCOW` on the storage backend directory enables you to checkpoint and restore containers on `btrfs`?

[2021-02-17 09:19] vrothberg commented on #9353
It'll work without a full login session _but_ the storage paths may differ when logging in.  Since you intend it to be service-only user, it's good.

I think it should be a debug log.

[2021-02-17 10:47] giuseppe commented on #9353
`dbus-launch` is used by `github.com/godbus/dbus/v5/conn_other.go`.

I am fine to downgrade the warning to a debug message: opened a PR: https://github.com/containers/podman/pull/9407

[2021-02-17 10:48] lsm5 commented on #9359
I'll add the change, thanks

[2021-02-17 10:55] lsm5 commented on #9359
New podman-plugins building at: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman-plugins

New podman with updated podman-plugins dep ^ building at https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

Should be available on the repos soon.

[2021-02-17 10:58] apinter commented on #9318
Yap, all it takes is `chattr +C /var/lib/containers` and following that I see two options: either leave it with `noCOW` or set it back to `COW` with `chattr -C /var/lib/containers` (although I did not test if setting it back to `COW` would cause any issue, but it seems unlikely).
Until `criu` is ready for `btrfs` I think this is a good enough solution ^_^

[2021-02-17 11:08] srcshelton opened #9408 "podman-3.0.0 - runtime error using 'ps' `{{.Size}}` format"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman-3.0.0` outputs an error when attempting to use the `{{.Size}}` format to `podman ps`:

[code]

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Have you tested with the latest version of Podman and have you checked the Podman Troubleshooting Gui

[2021-02-17 11:24] adrianreber commented on #9318
Thanks for the details. I added it to CRIU's wiki: https://criu.org/Filesystems_pecularities#BTRFS_Workaround

If this works for you I would say you could close this issue.

[2021-02-17 12:01] Luap99 commented on #9408
It look like you also have to specify `--size`.

[2021-02-17 12:18] lrodorigo commented on #9402
Latest version of crun does not compile on Ubuntu 16.04, picking up this specific commit https://github.com/containers/crun/commit/f67bd3e2d2b0d62a9ae2fc8f7e4bb686f3a7004f] (cited on this crun issue: https://github.com/containers/crun/issues/405 about Ubuntu 16.04), and building by using  `./configure --disable-systemd`  creates a working crun executable.

Using crun (with `--runtime` Podman optio

[2021-02-17 12:34] #9314 closed

[2021-02-17 12:36] zhangguanzhang commented on #9402
maybe your kernel doesn't enable pid namespace

[2021-02-17 12:56] #9403 closed

[2021-02-17 12:58] rhatdan commented on #9351
@edigaryev Can you open a PR to fix this?

[2021-02-17 13:00] rhatdan commented on #9402
The Warning is probably based on support not being available for that old systemd.  I am going to close this issue, since this is not an issue with Podman.  You can continue your conversation here if you would like.

[2021-02-17 13:00] #9402 closed

[2021-02-17 13:01] CendioOssman opened #9410 "rootless podman with systemd doesn't work in jenkins"
/kind bug

**Description**

We're trying to to get a container running under Jenkins in rootless mode and are failing miserably. This container needs to have systemd running, but it fails to start properly for unknown reasons. This is a simple test build that fails (based on #8965):

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additiona

[2021-02-17 13:03] rhatdan commented on #4854
@weirdwiz Any progress?

[2021-02-17 13:22] asciiprod commented on #9345
Upgrade now works without conflicts.
But configuration directories are now a bit redundant/confusing. There is a new `/etc/containers/registries.conf.d` as well as a `/etc/containers/registries.d` in `containers-common` with `shortnames.conf` moved to the new directory.  In 2.x this was all in  `registries.d`. Is there any distinction between the two directories?
Neither the manpage nor the `regis

[2021-02-17 13:24] vrothberg commented on #9345
Yes, the two directories are different. `registries.conf.d` is the one for drop-in config files for the registries.conf.

[2021-02-17 13:27] lsm5 commented on #9359
Closing, please reopen if you notice issues.

[2021-02-17 13:27] #9359 closed

[2021-02-17 13:29] lsm5 commented on #9345
@vrothberg do we need a manpage update perhaps? I'm gonna close this, we can open a new bug for manpage change if need be.

[2021-02-17 13:29] #9345 closed

[2021-02-17 13:43] lsm5 commented on #9363
I will update the containers-common package to remove `metacopy=on` for ubuntu 18.04.

[2021-02-17 13:49] vrothberg commented on #9345
No changes needed.  Both directories have man pages that go into detail.

[2021-02-17 14:08] lsm5 commented on #8704
should be fixed with podman 2:3.0.0-3, available on Kubic Stable now: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

Closing, please reopen if issue persists.

[2021-02-17 14:08] #8704 closed

[2021-02-17 14:22] damienrg commented on #8047
Until this issue is fixed, is it possible to start `slirp4netns` manually to have network?

[2021-02-17 14:36] aojea commented on #9359
Thanks for the prompt answer :1st_place_medal:

[2021-02-17 14:40] #9353 closed

[2021-02-17 14:55] #9377 closed

[2021-02-17 15:57] logan064 opened #9412 "Podman Tag Read Only Images"
/kind bug

**Description**

Podman can not tag images that are in an additional image store. This feels like a bug, but also possibly a feature request...
I am wondering if there is a way to tag an image in the additional image store and to have the image and new tag end up in the podman cache. Previously there was an issue with podman that would not allow pushing an image from the additional imag

[2021-02-17 15:59] mheon commented on #9412
Can you retry with Podman 3.0? I believe that @rhatdan may have resolved this.

[2021-02-17 16:04] rhatdan commented on #9410
I think you got to make sure dbus is running.

[2021-02-17 16:05] CendioOssman commented on #9410
In the container? I would assume that's the responsibility of systemd to start?

[2021-02-17 16:09] mheon commented on #9408
It would be nice if we could determine if `.Size` was in the format specifier and automatically add it, but I can't think of a way to do that without string-parsing the format specifier which isn't really reliable.

[2021-02-17 16:10] #9408 closed

[2021-02-17 16:14] mheon commented on #9410
Can you do a `podman logs` on the container and see if there are any errors? You may also want to try `--systemd=always` instead of `--systemd=true`.

[2021-02-17 16:16] CendioOssman commented on #9410
Or did you perhaps mean for the user on the host? You seem to be on to something there.

If I switch to the jenkins user using `machinectl shell jenkins@.host /bin/bash --login`, then things start working.

And to be clear, things start working for the jenkins **service**, not just for the shell I got from `machinectl`.

So on that note, `loginctl enable-linger jenkins` also seems to be sufficient

[2021-02-17 16:18] CendioOssman commented on #9410
No change as far as I can tell. And no output from `podman logs`:

[code]

[2021-02-17 16:21] mheon commented on #9410
Can you try running the systemd container attached, instead of detached, and see if there's any output? Podman itself seems to be working fine here, so without getting error messages out of systemd in the container it will be very difficult to debug this.

[2021-02-17 16:32] quantum77 opened #9413 "system reset doesn't work after user has been recreated"
/kind bug

**Description**
When creating a new user and deleting an old user podman no longer works.
$ podman images
Error: error creating tmpdir: mkdir /run/user/1000: permission denied

$ podman system reset
Error: error creating tmpdir: mkdir /run/user/1000: permission denied

What does resolve the error:
$ rm -rf ~/.local/share/containers

[2021-02-17 16:36] mheon commented on #9413
Core of the issue seems to be that `system reset` requires Podman to successfully create the libpod Runtime before `system reset` will run. If you encounter an issue where the runtime cannot be created, e.g. a path issue like this, `podman system reset` cannot run, so the user can't reset their storage and fix the bug.

[2021-02-17 18:00] buck2202 commented on #9363
@lsm5 not to make it too complicated, but there are 18.04 kernels that will support metacopy.

The 18.04 GA kernel (original release, supported for full LTS lifetime) is 4.15, which doesn't support it. The 18.04 HWE kernel (six month rolling release) is currently up to (I think) 5.4, which should support it fine.

I don't know the exact kernel version where support would start, but if you're addin

[2021-02-17 18:21] edigaryev commented on #9351
See #9414.

[2021-02-17 18:43] rhatdan commented on #9410
The systemd flags are not needed. Podman will figure this out itself.  Podman really knows nothing about what is hapening inside of the continer other then it's entrypoint is `init` so it sets itself up for systemd.  If systemd needs special settings to run the dbus daemon then this should be built into the ubi8-init image.  The image is in charge of defining how to start an apllication.

[2021-02-17 18:43] #9410 closed

[2021-02-17 19:04] mheon commented on #9410
@rhatdan I strongly suspect that the issue here is that systemd is not starting correctly in the container, and not anything directly related to dbus.

[2021-02-17 19:13] rhatdan commented on #9410
Even if this is the case, there is nothing that can be done to make systemd start correctly from a POdman point of view, that we know about. But most likely there is something that can be done in the image, to ensure that the dbus gets started or reports an error why it did not start.

[2021-02-17 19:15] mheon commented on #9354
#9415 should fix

[2021-02-17 19:40] afbjorklund commented on #9354
I think you can use `ubuntu:20.04` rather than `gcr.io/k8s-minikube/kicbase:v0.0.17` if you want a smaller image.

[code]
[code]

Confirm that b79e1c6a66eaaa530482a8afdcc2e8b4f4c442ea seems to fix the issue as well.

[2021-02-17 19:43] afbjorklund commented on #9354
And for the record, I'm not sure that mounting a volume on `/var` is a _great_ idea with all the races and everything...

We inherited from KIND, the original version on the VM was to mount under `/mnt` and use symlinks or bind mounts.

[2021-02-17 19:52] mheon commented on #9354
@afbjorklund It looks like any image with a populated `/var` works, so I'm just going to go with fedora-minimal since we cache it for use in CI.

[2021-02-17 20:11] joshbtay opened #9416 "Podman not working with nfs users"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Our users' home directories are mounted on NFS shares. I created a local test user to try running an image and everything works fine, the container runs as expected. However, if I log in as a user whose home directory is on an NFS share, I get this error message:

[code]

I figured it had som

[2021-02-17 20:31] rhatdan commented on #9416
Not supported YET. https://github.com/containers/common/pull/457
We have a long term goal to support this, but it involves modifications to the NFS CLient and Server to support Xattrs. (Kernerl 5.11 has this support now, but it is not released).  Then we need fuse-overlay to support it, and then we can make sure it works.

For now this is documented as not supported so closing issue.

[2021-02-17 20:31] #9416 closed

[2021-02-17 20:36] joshbtay commented on #9416
Ok, I can understand that nfs storage isn't supported yet, but that doesn't explain why even if I try to use local storage, it still throws the same error. /tmp/ is not on the nfs share

[2021-02-17 20:51] matejvasek commented on #9351
I believe the incompatibility is not related to the "slice thing".

I suspect it's caused by preceding PR: https://github.com/containers/podman/pull/9051/files#diff-58b335c77eb3163bb2dec31c4e20ba5a62bafa143a1fbafe1a0e02dc1372fa31R327-R330

[2021-02-17 21:17] rhatdan commented on #9416
Could you try this with podman 3.0.  There was a bug in podman 2.2 which was not reading the storage.conf in the homedir correctly.

[2021-02-17 22:34] alitvak69 commented on #9358
I was thinking that whoever undertakes this have to handle packaging and rebuilding all dependencies.  Or at least storing the older versions somewhere.  I noticed this in repositories recently.   https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable:/old_podman/

Why cannot it be at least a temporary  solution for debs as well.  Pushing old files there would be a stop gap

[2021-02-17 23:39] jmguzik commented on #8880
I started working on that issue, so I'll assign myself. I will open a draft PR quite soon.
/assign

[2021-02-18 00:13] HarryMichal commented on #9337
I ran the pipelines in the CI several times today and it did not fail a single time. I checked the versions of packages and did not notice any change. I'll close this for now and assume it was just the CI environment doing something funky.

[2021-02-18 00:13] #9337 closed

[2021-02-18 01:17] tobwen commented on #9389
Try this:
[code]

This gives me (with my paths):
[code]
But _podman_ keeps on running. The warnings really appear multiple times.

[2021-02-18 06:08] apinter commented on #9318
Super!
Thank you again for your help!

[2021-02-18 06:08] #9318 closed

[2021-02-18 07:19] cjeanner commented on #9395
fine for me! I could check with a preview of rhel-8.4 podman3 version, and it indeed seems to work properly. No need to backport the correction, since the feature we're working on is for rhel-9.

[2021-02-18 08:13] #9354 closed

[2021-02-18 08:21] cjeanner commented on #6480
Hello there,
I'll follow this one - there's a potential use-case within tripleo/osp for a specific service.
The initContainers would prepare the needed configurations and DB before the app actually starts. This feature would allow us to remove a lot of python code and rely on podman itself to manage an ephemeral service.

[2021-02-18 10:23] CendioOssman commented on #9410
I don't seem to be getting any output when I do that. Perhaps some flags are needed to get logging on stdout/stderr from systemd?

I see the same issue with a centos8 image, but that might be almost identical to the ubi8 one.

Given the change in output of `cgroupManager` I'm not sure that this is just an image issue. Couldn't it be that podman is failing to provide the cgroup functionality that t

[2021-02-18 11:23] rhatdan commented on #6377
Since we have had no response on this for a couple of months, closing.

[2021-02-18 11:33] Asgoret commented on #4357
Doesn't resolved.
[code]

[2021-02-18 11:54] towe75 opened #9421 "Can no longer install systemd into an ubuntu bionic container without --privileged"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Some of our builds are broken after podman 3.0 update. We examined it and found that a simple "apt install init" failed.
Further debugging nailed it down to a simple test case and it seems to be related to changed default permissions.
Adding CAP_AUDIT_WRITE fixes the issue.

**Steps to reprod

[2021-02-18 13:20] weirdwiz commented on #4854
I've made some changes, couldn't focus on it for a few weeks. I'll update the pull request soon.

[2021-02-18 13:51] srcshelton opened #9422 "`podman build` incorrectly issues 'missing build arguments' warnings for multi-stage builds"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

With `podman-3.0.0` I'm getting warnings such as:

[code]

... from multi-stage Dockerfile files containing, e.g.:

[code]

... which is, by my understanding, the correct means by which multi-stage builds should inherit (Dockerfile) global arguments, in a Don't Repeat Yourself manner.

The wa

[2021-02-18 13:55] srcshelton commented on #9422
... closing and re-opening against `buildah` - sorry!

https://github.com/containers/buildah/issues/3020

[2021-02-18 13:55] #9422 closed

[2021-02-18 14:10] jmguzik commented on #9325
@lpgc issue is closed, but if you are still interested in some kind of starting point I wrote something like this:
https://github.com/jmguzik/podman-bindings-c
Repo follows example from Demos and transforms it to library. Lib is then used in main.c

[2021-02-18 14:11] jmguzik commented on #9325
@lpgc forgot to add: I tested it against podman 2.2.1

[2021-02-18 14:17] rhatdan commented on #9421
Can you just add cap_audit_write and see if it works.  You can add CAP_AUDIT_WRITE by default using the /etc/containers/containers.conf

@giuseppe Do you know why the seccomp mapping for this is not working?

[2021-02-18 14:50] mheon commented on #4357
Please try again with Podman 3.0.

[2021-02-18 14:55] polachz opened #9424 "Question: How to create rootless persitent volume outside of the home directory"
I'm trying to figure out how-to create podman rootless container persitent volume  outside of the user home directory. I'm going  to mount another disk to my  server and store all container persistent data here..

I can't find a way how to properly modify final destination for the

`podman volume create <volume_name>`

for example

`podman volume create -d local -o type=none -o o=bind -o device=/h

[2021-02-18 14:59] mheon commented on #9424
May I ask why you're trying to do this? `podman volume create` is only intended to create Podman-managed volumes - Podman wants to manage the lifecycle and storage of these volumes. Is there a reason that a normal bind mount of the directory in question is not sufficient?

[2021-02-18 15:15] mheon commented on #9393
Closing, fixed upstream. Preparing 3.0.1 with the fix now.

[2021-02-18 15:15] #9393 closed

[2021-02-18 15:38] polachz commented on #9424
I'm trying to do that just because I guess that named volumes are right way how to make data persistent between container runs...  And I want to have persitent data separated from container images and instances due backup strategy. I can backup the mounted disk with persistent data by different way then disk with OS (all is virtualized)

Plus seeems that volumes created by

`podman volume create v

[2021-02-18 15:48] lpgc commented on #9325
@jmguzik thanks for this... I was planning to do something similar!

[2021-02-18 16:13] #9351 closed

[2021-02-18 16:39] rhatdan commented on #9424
You should be able to set the volumes path for all containers in containers.conf
[code]

[2021-02-18 16:58] towe75 commented on #9421
@rhatdan : did already, see my "Positive rootful test C:" result.
I'm not sure if we can categorize this as bug but it's certainly a noteworthy change to the older version.

Running systemd in a container was one of the major selling points for me to dig into podman, btw ;-)

[2021-02-18 17:33] polachz commented on #9424
Hmm, I'm confused a little bit, because in man containers.conf and also in the  _/usr/share/containers/containers.conf_ I have found:

[code]
but when i create file  _/home/user1/.config/containers/containers.conf_

[code]
I have got an error:

`ERRO[0000] error reading system config "/home/user1/.config/containers/containers.conf": unable to decode configuration /home/user1/.config/containers/con

[2021-02-18 18:18] polachz commented on #9424
Additionally, I have found this issue: #7039

so I have created  /home/user1/.config/containers/containers.conf

with content:

[code]

no change, volumes still creating at _/home/user1/.local/share/containers/storage/volumes/_

provide then `podman system reset`

It erased everything **INCLUDE!!!**  _/home/user1/.config/containers/containers.conf_ and folder  _/home/user1/.config/containers_

So

[2021-02-18 18:51] rhatdan commented on #9424
This is podman 3.0?

[2021-02-18 19:24] baude commented on #7318
@mecurc did you figure it out?

[2021-02-18 19:24] baude commented on #9241
@DaniBet any feedback?

[2021-02-18 19:35] giuseppe commented on #9421
it looks like an outdated `seccomp.json` profile.

For a test, could you grab the latest version from: https://raw.githubusercontent.com/containers/common/master/pkg/seccomp/seccomp.json

and then attempt something like?

[code]

[2021-02-18 19:47] jmguzik commented on #9325
@lpgc No problem.. it seemed interesting so I invested a while to see how it works (my background is C/C++).
I had memory allocation issues (but no worries, an example is fine now). Please remember to use Valgrind and memory/address sanitizers to check everything. Sometimes memory/address sanitizer can point to a bug outside of a code (in 3rd party lib), and nothing you can do about it, but still,

[2021-02-18 19:50] lpgc commented on #9325
good to know cheers!

[2021-02-18 20:16] matejvasek commented on #9325
@jmguzik I looked at the code and it seems to me it wraps libpod rest API, is that correct? I am not sure if that's what @lpgc want?

[2021-02-18 20:18] lpgc commented on #9325
correct but in general the mechanism is the same ... to provide a C-friendly wrapper to underlying libpod API

[2021-02-18 20:20] matejvasek commented on #9325
Have you tried: `java -jar openapi-generator-cli.jar generate -i swagger.yaml -g c -o myProjDir --skip-validate-spec`. The `-g` flag is language/framework.

[2021-02-18 20:21] matejvasek commented on #9325
also creates wrapper for Java if you want

[2021-02-18 20:27] lpgc commented on #9325
yeah I dont want the REST API ...

[2021-02-18 20:32] mecurc commented on #7318
hmm, looks like this was fixed in one of previous releases. I currently on podman version 2.2.1 and all examples runs without any issues.

[2021-02-18 20:34] jmguzik commented on #9325
@matejvasek I understand Go bindings are not using REST API (according to instruction: https://github.com/containers/podman/blob/master/docs/tutorials/podman-go-bindings.md). This mechanism avoids using REST API, though it has some (unexplored) limitations.
Making shared C lib means you can use the native Go interface in C, C++, Java (JNI) or even Python. Probably other languages are also possible

[2021-02-18 20:34] afbjorklund opened #9429 "segfault when running with memory limit but without swap limit"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Explicitly removing swap limit causes a segmentation fault.

**Steps to reproduce the issue:**

1. `sudo podman run --memory 256m --memory-swap -1 busybox true`

2.

3.

**Describe the results you received:**

`panic: runtime error: invalid memory address or nil pointer dereference`

**Descri

[2021-02-18 20:36] lpgc commented on #9325
+1!

[2021-02-18 20:39] matejvasek commented on #9325
I think I see where are you heading in future.

Right now
https://github.com/jmguzik/podman-bindings-c/blob/main/libpodc.go
calls `images.Pull()`
from "github.com/containers/podman/v2/pkg/bindings/images"
which internally do:
`response, err := conn.DoRequest(nil, http.MethodPost, "/images/pull", params, header)`

[2021-02-18 20:57] jmguzik commented on #9325
@matejvasek To be honest I do not quite get your response.
Some calls from bindings are delegated to http, but bindings use unix socket connection to running podman service, like in example:
`bindings.NewConnection(context.Background(), "unix://run/podman/podman.sock")`

[2021-02-18 21:01] matejvasek commented on #9325
My point is that `"github.com/containers/podman/v2/pkg/bindings/*"` is wrapper lib calling rest API. You need running service serving that API.

[2021-02-18 21:03] matejvasek commented on #9325
I believe that @lpgc don't want to depend on rest api provided by some service, he probably need to wrap some other package than `"github.com/containers/podman/v2/pkg/bindings/*"`, so it works standalone without any service.

[2021-02-18 21:12] jmguzik commented on #9325
@matejvasek To be honest I am from community so I do not know internals of bindings so well.
In the blog post it was written:

It cleary suggests/implies bindings are more native. If it is not the case, maybe other functions are needed to be wrapped. I followed blog post and translated main.go to libpodc.go believing I am interacting with native interface. Another thing is Pull (and inner function

[2021-02-18 21:14] jmguzik commented on #9325
According to article, podman service is a must be to get bindings working. So whatever @lpgc needs, he has to take this into consideration.

[2021-02-18 21:17] #7318 closed

[2021-02-18 21:18] jmguzik commented on #9325
One more comment: I think we want to eliminate this Podman REST <-> OurApp and replace it with this: Podman Unix Socket <-> OurApp, not get rid of REST completely.

[2021-02-18 21:23] matejvasek commented on #9325
Totally more native if you use Golang.
Still I don't see how it's useful from C.

You can use swagger generated C: http://a.tmp.ninja/Sm3YxYj6N0l1.tar

I don't understand, `Podman Unix Socket` is the rest api, isn't it?

/cc @jwhonce @mheon

[2021-02-18 21:29] jmguzik commented on #9325
@matejvasek I think you are missing one point. Golang has a feature called cgo which enables possibility to compile Go code into shared C lib. That way it acts the same as you are using Go.
I am taking advantage of this mechanism here so:

Still I don't see how it's useful from C.

If you do not see it usefull from Golang then you do not see it useful from C. Golang functionality is embed into sha

[2021-02-18 21:31] jmguzik commented on #9325
Podman Unix Socket is not rest api.

[2021-02-18 21:32] lpgc commented on #9325
exactly @jmguzik my intent is to be able to call directly into podman (libpod) API from a language other than golang hence the need for a shared lib with C bindings ...

[2021-02-18 21:35] matejvasek commented on #9325
The socket is serving  HTTP requests. API is described here: https://docs.podman.io/en/latest/_static/api.html#operation/libpodImagesPull.

[2021-02-18 21:39] matejvasek commented on #9325
You can invoke it as it was almost as it was TCP:
`curl -s --unix-socket /run/user/1001/podman/podman.sock "http:/host/v1.38/images/json" -v -X GET`

[2021-02-18 21:41] jmguzik commented on #9325
But still this is IPC socket which is a way better than Http. There is a difference to fight for.

[2021-02-18 21:43] #8874 closed

[2021-02-18 21:43] matejvasek commented on #9325
@lpgc if you want it to be able to run standalone -- deamonless, then you probably will need to wrap stuff from `"github.com/containers/podman/v2/pkg/domain/infra/abi"`.

[2021-02-18 21:48] matejvasek commented on #9325
I think you can access socket even with code generated by swagger.

[2021-02-18 22:00] jmguzik commented on #9325
This may be tricky since functions there are too complex to use cgo mechanism.

Anyway this whole thing was just an excercise for me, as topic seemed interesting. I still think it is much more beneficial to wrap Golang bindings using shared C lib, because as a user you do not need to design interface yourself and you have native bindings at almost zero cost (cost of wrapper). IPC unix socket is qu

[2021-02-18 22:02] matejvasek commented on #9325
valid point

[2021-02-18 22:12] matejvasek commented on #9325
I don't know how difficult that could be.

With regard to java:
If you wrap "github.com/containers/podman/v2/pkg/bindings/*" into `C` shared lib, then you need to wrap that lib using JNA/JNI (maybe swig can help). And in the end you still end up with solution that needs deamon.
In such a case you may as well auto-generate Java code and avoid that wrapper of wrapper.

[2021-02-18 22:20] jmguzik commented on #9325
You can export only basic simple types and structs. Lambdas and interfaces are no go. For this interface a (complicated?) wrapper would be needed in Go.

Topic from the beginning had C in name and I focused on C. I think from C/C++ perspective. This one should be discussed further with @lpgc as he wanted to take C lib further.

[2021-02-18 23:25] Lordryte opened #9431 "A warning message can appear when using podman exec command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

A new WARNING message appeared recently, since last update to podman V3 when using the podman exec command.

**Steps to reproduce the issue:**

1. podman run -dit --name bugtest ubuntu

2. podman exec -lt echo "toto"

**Describe the results you received:**
[code]

**Describe the results you e

[2021-02-18 23:33] matejvasek commented on #9325
Maybe I misunderstood:

This can be understood as:
a) I don't want to use REST at all, I want to run deamonless
b) I don't care if REST is used, I just don't want to see it (do it manually)

If b) is true then wrapping `"github.com/containers/podman/v2/pkg/bindings/*"` might be good idea.

[2021-02-19 06:13] martinpitt opened #9432 "error streaming container content for copy up into volume [...] : copier: get: globs [/rabbitmq]"
/kind bug

**Description**

Integration tests from our infra project on GitHub workflows have [started to fail due to a pdoman regression](https://github.com/cockpit-project/cockpituous/pull/388/checks?check_run_id=1928409635). This can be reproduced with:

[code]

This only happens on some images (in particular this RabbitMQ one); e.g. docker.io/fedora:latest or quay.io/cockpit/tasks etc. are fin

[2021-02-19 06:25] martinpitt commented on #9432
I found a workaround:

    sudo podman run -it --tmpfs /var/lib/rabbitmq --rm docker.io/library/rabbitmq:3-management

This avoids creating an on-disk volume for /var/lib/rabbitmq, and somehow circumvents the problem.

[2021-02-19 06:38] mheon commented on #9432
Dupe of https://github.com/containers/podman/issues/9393, closing. Fixed in 3.0.1

[2021-02-19 06:38] #9432 closed

[2021-02-19 07:06] towe75 commented on #9421
@giuseppe : you are right, it's related to seccomp.json. But it is not outdated, it's missing. It seems to be yet another packaging issue.

Ubuntu 18.04 / podman 2.2.1 ships a seccomp.json in package containers-golang and stores it into the correct folder: /usr/share/containers/seccomp.json

Now with podman 3.x we get a containers-common instead of containers-golang but there is no seccomp.json in

[2021-02-19 07:21] polachz commented on #9424
no, it's version 2.0.5 From Oracle Linux

[2021-02-19 07:26] polachz commented on #9424
Ok,after my "fight" with config files, I reach that my volumes are moved to ecpected folder and manual `podman unshare `is not necessary. So thank you a lot !

Just one question. Is possible to configure this volume_path variable universaly, from _/etc/containers/containers.conf_ ?

Something like **/srv/volumes/$USER_NAME/** or simmilar ?

Is possible to use any variables or placeholders here?

T

[2021-02-19 08:18] Asgoret commented on #4357
@mheon well...
[code]

[2021-02-19 08:27] Asgoret commented on #4357
@mheon Upgrade podman to 3.0.0 version and still `podman login` doesn't store any data in `~./docker/config.json`

[2021-02-19 08:52] Asgoret commented on #8893
@rhatdan still here)

[2021-02-19 08:54] Asgoret commented on #9378
@vrothberg not fixed) how to fix it?

[2021-02-19 08:59] vrothberg commented on #9378
@Asgoret, @giuseppe fixed the remainder in `crun` (see containers/crun#599).  He just cut a new release.

[2021-02-19 09:37] Kiritow commented on #9252
I've found a workaround, Ubuntu Server 20.04 LTS uses cgroup V1 by default. Add `systemd.unified_cgroup_hierarchy=1` to kernel parameters and root, cgroup v2 will be used instead. And now `podman stats` works just fine. Though still don't know why systemd-enabled containers and cgroup v1 cause `podman stats` to fail.

[Switching to cgroups v2](https://wiki.archlinux.org/index.php/cgroups)

[2021-02-19 10:14] rhatdan commented on #9252
@giuseppe Ideas?

[2021-02-19 10:17] Asgoret commented on #9378
@vrothberg It's not the only issue in 3.x) Look at https://github.com/containers/podman/issues/8893#issuecomment-781931040

[2021-02-19 10:30] vrothberg commented on #9378
Certainly there are more than one issue :) Thanks for reporting! We'll tackle reported issues as fast as we can.

[2021-02-19 12:31] adelton commented on #9354
@mheon Any idea when podman 3.0.1 will show up in https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_20.04/ ? The GitHub Actions seems to have upgraded the Ubuntu 20.04 image to podman 3.0.0 so there is currently no way to run podman-based tests.

[2021-02-19 13:41] giuseppe commented on #9252
can you show me the output for the following command (where `CONTAINER_ID` is the container that fails)?

[code]

[2021-02-19 14:25] mheon commented on #9354
@lsm5 Poke - is 3.0.1 building?

[2021-02-19 14:46] mheon commented on #4357
@rhatdan PTAL

[2021-02-19 14:46] rhatdan commented on #9325
If you don't want to do rest API, then you would be better off looking at wrapping pkg/domain/infra/abi.  This is the direct calls into libpod from Podman.  No service required.  Note that this interface is not stable and not locked down.  Perhaps in the future we could.

[2021-02-19 14:53] rhatdan commented on #9421
Yes sounds like the issue.  @lsm5 PTAL

[2021-02-19 14:53] jkonecny12 opened #9442 "Podman run will fail with ELN image within GitHub actions Ubuntu machine"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Executing `podman run` on Fedora ELN image failing on GitHub actions Ubuntu VM with message:

[code]

Running:
[code]
will [fail](https://github.com/jkonecny12/podman-minimal-reproducer/runs/1936112290?check_suite_focus=true)

However the same command pointing to Rawhide
[code]
[works](https:

[2021-02-19 14:55] rhatdan commented on #9424
Seems like a good requrest, we already do that for storage.conf.
Sorry I went through and made the changes yesterday, and the issue I had was that the libpod database records the data once you have run a contianer and ignores the containers.conf settings from then on.  When I removed the libpod database, everything worked.

[2021-02-19 14:56] baude commented on #9442
@jkonecny12 any chance you can pop onto #podman on freenode?

[2021-02-19 15:05] rhatdan commented on #8893
The ubuntu issues on Kubic are being worked out.  Should be fixed now or soon.  3.0.1 is on it's way as well.

[2021-02-19 15:14] lsm5 commented on #9354
will build now ... sorry, I've disabled autobuilds until i'm certain the recent bunch of packaging changes are stabilized :|

[2021-02-19 15:20] CendioOssman commented on #9410
After a reboot I'm instead getting this for some reason:

[code]

So definitely not a problem with the image here as I don't get as far as starting it.

I have not had time to debug things further. Should I open a new issue for this?

[2021-02-19 15:24] imperialguy opened #9443 "`podman pod create` command fails sometimes due to k8s.gcr.io"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman pod create` command fails inside a RHEL/CentOS/archlinux VM guest

**Steps to reproduce the issue:**

1. Spin up a VM (centos-stream or rhel8 or archlinux - your choice)

2. Install latest podman inside the VM

3. Run `podman pod  create -n sample`

**Describe the results you received:

[2021-02-19 15:24] jmguzik commented on #9325
@rhatdan In regards to your anwser:

How to see this comment from @TomSweeneyRedHat:

To explain, the interface in the directory you provided is quite difficult to cgo it. Would you accept contributions that will make wrappers and allow to generate C shared libs without REST? These files should be in your repo to keep them up to date. If interface is not stable and has to be maintained outside of

[2021-02-19 15:26] metal3d commented on #8764
@daniviga Ho god... I had a very bad version of "containerd.io" which is provided by an old docker-ce installation...

Swapping to runc worked, thanks a lot !

[2021-02-19 15:28] polachz commented on #9424
No problem with delay.  As I said, I have managed my containers working as I want :)

But, about resetting the db: If you mean `podman system reset` then this command completely kill the **.config/containers** folder in my home directory.  All config files are gone and have to be re-created. (podman 2.0.5)

Maybe it's  a bug because I have found issue where you recommends this command and say that

[2021-02-19 15:30] jkonecny12 commented on #9442
``crun --version`` output:

[code]

[2021-02-19 15:53] rhatdan commented on #9424
If you are getting permission denied inside of your container on a volume mount of  -v /an/server/folder:/container/folder:Z then it most likely is not SELinux but could be user namespace.  Are you trying to access the content from a non root user.

[2021-02-19 15:55] rhatdan commented on #9424
This command is all you need to do to kill the database.
rm -f ~/.local/share/containers/storage/libpod/bolt_state.db

The issue with doing this, is all "containers" will be lost. So I would recommend you remove all pod's and containers before executing it.

Images should be fine.

Then the next podman info should hanlde the containers.conf properly.

[2021-02-19 15:59] #9429 closed

[2021-02-19 16:18] imperialguy commented on #9443
Strangely, it started working all of a sudden. I don't know why. Seems like an it doesn't work occasionally. If so, why? Does this possibly have something to do with `k8s.gcr.io/pause` repository? Weird.

[2021-02-19 16:24] polachz commented on #9424
Tes, it''s really OID mapping issue. But what is interesting is, that it occurs only when I map folder explicitly. When i mapt he volume, it doesn't occur.

I can describe this better:

1. I try to run a container as non root user with oid 1000
2. i create volume by `podman volume create vol1`.
3. I create folder _/srv/storage_
4. when i check, then __data_ folder inside the vol1 has same rights a

[2021-02-19 16:42] rhatdan commented on #9424
This is working fine for me.
[code]
The command you executed
[code]
Uses a volume mount and on the host do
id; ls -ld /srv/storage

What is your ID and what is the owner of the storage directory.  Are they different?

[2021-02-19 16:58] rhatdan commented on #4357
Why would podman write to a file owned by Docker?  ~/docker/config.json.
The podman man page says that podman will store data in:${XDG_RUNTIME_DIR}/containers/auth.json.
for rootless containers.  Podman tools will use this file, and will fall back to use ~/docker/config.json if a user had done
`docker login` in the past.

[code]

[2021-02-19 17:01] james-crowley opened #9444 "Cannot map port 53 from container to host; conflicts with dnsmasq"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**Description**

When using `docker-compose` and podman, podman fails to bring up containers trying to port map ports below 60. Additionally, when trying to map port `53` on the host, it seems to conflict with `dnsmasq` process podman spawns.

**Steps to reproduce the issue:**

**Parsing Error**

1. Install podman 3.0 as root to utilize dock

[2021-02-19 17:01] rhatdan commented on #9410
This looks like the pids cgroup is not enabled?

[2021-02-19 17:04] rhatdan commented on #9325
Sure we would love to work with the community on this, the difficulty is once we define the API we have to make keep it static/stable, which is what we have done with the Rest API.  I am not sure if @mheon is ready to specify a stable API to libpod yet.
The question I have is do we want a stable libpod low level API, or something higher like pkg/domain/infra/api, which would be closer to a podman

[2021-02-19 17:05] matejvasek commented on #9325
@rhatdan here it depends what people mean by: "I don't want to use REST". See my comment above.
If they don't really care if they call REST internally --- meaning they want to be just shielded form HTTP calls,
then @jmguzik approach may make sense.

[2021-02-19 17:07] jkonecny12 commented on #9442
After debugging session with @baude on IRC the problem could be resolved by `crun` build from source. So it seems that new release of `crun` should solve this.

[2021-02-19 17:08] jkonecny12 commented on #9442
Tested on `crun` commit https://github.com/containers/crun/commit/ff0822840bb7a62f559ceaf417e87743fdd61db9 .

[2021-02-19 17:08] imperialguy commented on #9443
Closing this because it seems to be a problem with k8s.gcr.io

[2021-02-19 17:09] polachz commented on #9424
no, the user id is 1000: gid 1000, name user

owner of the /srv/storage

[code]
and after volume creation the _data
[code]
As i mentioned, it's completely same

[2021-02-19 17:10] matejvasek commented on #9325
Another approach of shielding would be providing wrapper like https://github.com/containers/podman-py but in C.

[2021-02-19 17:12] rhatdan commented on #9424
And one of them gets permission denied?

[2021-02-19 17:12] jkonecny12 commented on #9442
Even better. This is fixed in the latest 0.18 version released!

[2021-02-19 17:14] polachz commented on #9424
Yes, when i use /srv/storage as /home/step mapping

This wrong sequence:
[code]

[2021-02-19 17:14] #9442 closed

[2021-02-19 17:35] joshbtay commented on #9416
Ok, how can I get 3.0 on rhel 8? the repo only has 2.2 and there are a few missing dependencies that cause making from source to fail:
btrfs-progs-devel
device-mapper-devel
glibc-static
golang-github-cpuguy83-md2man
gpgme-devel
libassuan-devel
I tried installing the closest matches to these packages, but make still fails

[2021-02-19 17:42] jmguzik commented on #9325
@rhatdan That is why wrapper around functions should be made inside your realm. In subproject (like podman-py) or inside podman itself. Even if not stable, it could be provided as experimental and worked on.
@matejvasek In my understanding "I don't want to use REST" could mean I do not want to see REST in my program. I think it was an initial idea behind this post. I understood it that way.

[2021-02-19 19:16] sampie commented on #8521
It seems there was a new podman version 3.0. I still seem to get errors, but now there is a new error complaining about Podman REST API service.

[code]

[code]

[2021-02-19 19:41] mheon commented on #8521
I remember @giuseppe fixing an almost-identical problem, but I'm certain that fix was already in 3.0 - I guess this must be a slightly different case?

Regardless, as a workaround, you should be able to adjust `graphroot` in your storage.conf to not have a trailing `/`. Fix on our end is to clean the paths to ensure they are identically formatted.

[2021-02-19 20:04] mheon commented on #9444
To confirm, are you running Podman rootless or as root?

[2021-02-19 20:07] james-crowley commented on #9444
@mheon As root. As far as I know to use the docker-compose features you need to be running as root.

More information here: https://www.redhat.com/sysadmin/compose-kubernetes-podman

[2021-02-19 20:09] baude commented on #9444
@james-crowley can you provide the compose file in question or a simplified one?

[2021-02-19 20:12] james-crowley commented on #9444
@baude It's in the issue. I simplified it down already. It is at the bottom.

[code]

[2021-02-19 20:16] baude commented on #9444
ok, i can replicate this, i will need to dive in deeper.  thanks for the issue  and ill update here as soon as I can

[2021-02-19 20:18] lpgc commented on #9325
actually my original intent was for a C API calling directly into libpod and not a wrapper onto the REST API, which is
"language independent" anyway, and as far as language access from Java is about as "easy" as calling a "C" based API.

My actual intent was to allow a language environment to provide (some of) the same function as libpod w/o having to deploy any other component other than the shar

[2021-02-19 20:34] lsm5 commented on #9354
Building now, will land soon, https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman

[2021-02-19 20:46] lsm5 commented on #9354
@adelton just curious, is GitHub actions using the kubic repo by default, or did you add the kubic repo to your github actions or something?

[2021-02-19 20:53] joshbtay commented on #9416
OK I finally installed version 3.1 and I'm getting the same bug:
Error: error creating container storage: error creating read-write layer with ID "f8a556ecb022597b5895c8785780211e02000ff79921fa8ea1e8445ea71fac3d": there might not be enough IDs available in the namespace (requested 65534:65534 for /var/lib/rootless/storage/<user>/overlay/f8a556ecb022597b5895c8785780211e02000ff79921fa8ea1e8445ea71fa

[2021-02-19 20:54] james-crowley commented on #9444
@baude Let me know if you need any help. Happy to lend a hand. I got access to `s390x` and `ppc64le`, so I you want me to verify the bug exists on the other architectures let me know.

[2021-02-19 21:03] rheinzma commented on #7705
Will this fix only address podman or also skopeo / podman ?

[2021-02-19 21:05] baude commented on #9444
the socat logs from this operation show this:

[code]

which is odd ... so it seems that podman is doing exactly what it's been told.  map 3233 to a random port.  so now, we should focus on why

[2021-02-19 21:12] adelton commented on #9354
In https://github.com/adelton/freeipa-container/runs/1932753092?check_suite_focus=true we did not install any specific podman which previously gave us podman 2 and today the job failed with this issue (copier: get: globs [/log/journal] matched nothing (0 filtered out): no such file or directory), indicating that by default there's podman 3 now in the image. I have no idea where GitHub Actions gets

[2021-02-19 21:15] lsm5 commented on #9354
Thanks @adelton!! So looks like the 3.0.1 package should be ready for 20.04. Let me know if any issues.

[2021-02-19 21:23] baude commented on #9444
the collision on port 53 is due to dnsmasq running on the network created by compose.  what happens if you temporarily rename the cni plugin called dnsname?  on my system that is /usr/libexec/cni/dnsname

[2021-02-19 21:38] Kiritow commented on #9252
podman run -itd ubuntu-cn

[code]

[code]

podman run -d mcsm-mc-base

[code]

[code]

[code]

[2021-02-19 21:39] james-crowley commented on #9444
@baude Same path on my system. Renaming `dnsname` to `dnsname_tmp` cause the `docker-compose up` to run without the port conflict.

The problem comes now you are not able to use the internal DNS to resolve container names. The `docker-compose.yml` file was simplified. In my real file, I use two database containers in addition to the existing containers. The containers need to resolve the DNS name

[2021-02-19 22:42] baude commented on #9251
I think my results are correct?

[code]

[2021-02-20 01:50] fugkco commented on #9365
@vrothberg just upgraded to v3.0.1, maybe I'm missing something but seems to still happen for rootless. Error doesn't show up when running rootful:
[code]

[2021-02-20 07:09] EvanCarroll opened #9446 "env-file has quoting problems"
I would like to configure my build script that creates the image, and the container with the same `.env` file. My build script uses shell which sources the env file like this,

[code]

A lot of image-building scripts I've created follow [that same method](https://stackoverflow.com/a/30969768/124486). Now I want to use that with `podman run` using the `--envfile` option. The problem there that the

[2021-02-20 09:14] vrothberg commented on #9443
Thanks for reaching out!  If possible, can you share the debug logs (`podman --log-level=debug ...`)?

[2021-02-20 09:20] vrothberg commented on #9365
@fugkco this issue relates to which runtime is being used when _building_.

I do not know your system and the configuration but I assume that the update to 3.0.1 taught Podman the path to `runc`.  I assume that containers.conf was updated.

[2021-02-20 09:51] zhangguanzhang commented on #9446
[code]

[2021-02-20 10:47] apollo13 opened #9447 "Container restart fails with "address already in use""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Restarting a podman rootless container results in `address already in use` errors for me. It does not happen always (and maybe the way the image works might somehow cause that, but imo podman should handle that)

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:*

[2021-02-20 11:23] imperialguy commented on #9443
Here you go:

[code]

[2021-02-20 12:23] afbjorklund commented on #9354
I can confirm that minikube now works again, with podman 3.0.1.

[code]

Not sure yet if we need a special warning for podman 3.0.0 or not.

We _will_ check that user is running podman 2.1.0 (or later), though...

[2021-02-20 14:49] al-cheb opened #9450 "Can't bind mount /etc/localtime"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

```sudo  podman run -v /etc/localtime:/etc/localtime:ro debian ls -la /etc/localtime```

**Describe the results you received:**
`Error: open ..: No such file or directory: OCI not found`

**Describe the results you expected:**
[code]

**Additional informatio

[2021-02-20 16:45] EvanCarroll commented on #9446
@zhangguanzhang Are you confirming the problem? Isn't that I put in the question?

[2021-02-20 17:11] logan064 commented on #9412
I ran this snippet from, https://podman.io/getting-started/installation:
`git clone https://github.com/containers/podman/
cd podman
make BUILDTAGS="selinux seccomp"
sudo make install PREFIX=/usr`

This updated my version to:
`Version:      3.1.0-dev
API Version:  3.0.0
Go Version:   go1.14.13
Git Commit:   4aaaa6c1df3a1c90a930b97552bcc970d7d99dd4
Built:        Sat Feb 20 11:56:47 2021
OS/Arch:

[2021-02-20 18:55] imperialguy commented on #9443
I use QEMU to spin up guest VM on OS X host. So, this may very well be related to QEMU/libslirp. So, I opened following issues on those boards:

https://bugs.launchpad.net/qemu/+bug/1916344
https://gitlab.freedesktop.org/slirp/libslirp/-/issues/35

I am not sure where this problem is coming from exactly. Is it `podman` issue, or `qemu` issue or `libslirp` issue or `mac os x` issue? I don't know.

[2021-02-20 20:18] mheon commented on #9447
Stringly suspect this is the same issue as https://github.com/containers/podman/issues/9083

[2021-02-20 20:21] mheon commented on #9450
Can't reproduce locally. Can I ask where your Podman package came from - are you using the OBS repos?

[2021-02-20 21:20] eriksjolund commented on #9362
`-` is used more as a command-line option. `-` does not have a meaning as path.
But `/dev/stdout` is not used as a verbatim string. Instead it gives the impression that it is handled as a path in the file system.

I tried out a few examples:

1. `podman cp foobar:/root /dev/stdout`
2. `cd /dev && podman cp foobar:/root stdout`
3. dereferencing `/dev/stdout` and instead copying to `/proc/self/fd/1`

[2021-02-20 22:50] buck2202 commented on #9365
@vrothberg is it possible that the _full_ path is still not being passed to buildah?

I'm using `runc` because of its CRIU support, and have found that the system-packaged `runc` on ubuntu bionic throws seccomp errors
[code]

I removed the `runc` package and installed `cri-o-runc` instead, which installs a runc executable which is _not_ added to the system path by default. `podman info` knows wher

[2021-02-20 23:05] Kiritow commented on #9252
After reading source code [pkg/cgroups/cgroups.go], [libpod/stats.go], [libpod/container.go], now I've found that [pkg/cgroups/cgroups.go:334] will stat the following directories:
[code]
I've manually checked them all, only the `cpuset` one is missing:
[code]
From [libpod/container.go:957] and #8397 I get `/proc/1733/cgroup` will be read, and here is its content. Seems `cpuset` controller is not e

[2021-02-21 00:21] zhangguanzhang commented on #9446
docker has the same behavior

[2021-02-21 00:35] andrescodas commented on #3421
I'm running on rhel 8.3

I tried to follow your instructions but I still get:

[code]
this is my output:
[code]

Can someone help me figure out what am I missing?

[2021-02-21 04:15] linggao opened #9451 "Error when passing network id for connecting a network to a container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
podman REST API is not compatible with docker REST API for `/networks/{id or name}/connect` and `/networks/{id or name}/connect`.
Our code connects a network to a container with docker REST API https://docs.docker.com/engine/api/v1.41/#operation/NetworkConnect through `godockerclient`. This ap

[2021-02-21 04:26] linggao opened #9452 "Support network prune in REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
pruning network is not supported for either REST API or CLI. We are more interested in the REST API.

**Steps to reproduce the issue:**

1. podman network prune
or curl to `/containers/prune`

2.

3.

**Describe the results you received:**
not supported

**Describe the results you expected

[2021-02-21 05:10] mheon commented on #9452
@baude This is already finished, correct?

[2021-02-21 05:26] mheon commented on #9451
This doesn't look REST API related. It looks like the network connect call is corrupting the state (specifically network results blocks). Please provide more details on the test container.

[2021-02-21 10:32] Luap99 commented on #9451
OK I see the problem. My network ID magic works only on the libpod side. Network connect checks if the networks exists and this passes because it is a valid ID but when we pass the ID as network name to OCICNI it will fail. At this point we already added the network to the state which causes problems with podman inspect and network ls because the the state and cni information no longer matches.

I

[2021-02-21 11:52] rhatdan commented on #9424
$ podman run -it -v /srv/storage:/home/step:Z smallstep/step-ca sh
~ $ ls -l /home/step; id

[2021-02-21 12:20] 403gseol opened #9453 "podman completion zsh - Unrecognized command"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

bug

**Description**
[code]
as described [here](https://github.com/containers/podman/blob/master/docs/source/markdown/podman-completion.1.md) returns unrecognized command.

**Steps to reproduce the issue:**
Execute on the terminal
[code]
**Describe the results you received:**
Error: unrecognized command `podman completi

[2021-02-21 13:36] Luap99 commented on #9453
This is only supported since v2.2

[2021-02-21 13:36] #9453 closed

[2021-02-21 14:06] Luap99 commented on #9453
@403gseol You can use this script for 2.0.x https://github.com/containers/podman/blob/v2.0/completions/zsh/_podman

[2021-02-21 14:09] polachz commented on #9424
[code]

[code]

[code]

[code]

[2021-02-21 14:31] 403gseol commented on #9453
Thanks for the quick support!!

[2021-02-21 15:43] srd424 commented on #2285
OK, I have crun issue I'm trying to debug, and trying to use the feature added by the PR here, but I'm clearly undercaffeinated today - how do I get these options to conmon from podman?

[2021-02-21 16:02] srd424 commented on #9450
I'm hitting this without doing anything particularly special with localtime. It seems to be something to do with reading timezone data, and it only happens in crun, not runc:

[code]
I'm running within an nspawn container, which makes me wonder if the syscall_0x1b5 returning EPERM is the problem again? I think 0x1b5 is openat2() ..

[2021-02-21 16:20] srd424 commented on #9450
OK, openat2() problem is red herring, it still occurs with the syscall filtering fixed:

[code]

[2021-02-21 16:57] eriksjolund commented on #9389
With Podman v3.0.1,  I'm seeing a similar warning.

[code]
Note, my system has a `crun` installed at  _/home/erik.sjolund/bin/crun_ but not  in any of the default locations

* _/usr/bin/crun_
* _/usr/sbin/crun_
* _/usr/local/bin/crun_
* _/usr/local/sbin/crun_
* _/sbin/crun_
* _/bin/crun_
* _/run/current-system/sw/bin/crun_

[code]

Assuming the warning comes from
https://github.com/containers/podm

[2021-02-21 17:21] mheon commented on #3421
Have you tried running ‘podman system migrate’?

On Sat, Feb 20, 2021 at 19:36 Andres Codas <notifications@github.com> wrote:

[2021-02-21 18:06] srd424 commented on #9450
Just realised the version of crun in the kubic PPA is still 0.17; manually downloading the 0.18 binary fixes this issue..

[2021-02-21 18:08] srd424 commented on #9450
Looks like containers/crun#593 fixed this!

[2021-02-21 23:09] davidshumway opened #9457 "Podman docker-compose - enable service: "Failed to enable unit: Unit file start.service does not exist.""
Following this guide: https://www.redhat.com/sysadmin/podman-docker-compose. Installed podman, podman-docker, and docker-compose.

[code]

[code]
Is this because the author uses Fedora 33 and I'm using 32?

[2021-02-21 23:38] riyad opened #9459 "[3.0.1] podman build started failing with "runc: executable file not found in $PATH" although runc is in a recognized location"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman build ...` with a Containerfile started failing with `exec: "runc": executable file not found in $PATH`.
Indeed `runc` is not in $PATH but in one of the locations listed in the `engine.runtimes.runc` config option. `podman info` picks it up correctly (see below).

* Running `buildah b

[2021-02-21 23:46] riyad commented on #9314
@ashley-cui the weird thing is that `utils.Error()` ignores/discards the second argument (i.e. `"filters not supported"`) so the API only returns `{"cause":"bad parameter","message":"bad parameter","response":400}`.

If I had seen the "filters not supported" message I'd probably not have bothered opening this issue. :sweat_smile:

[2021-02-22 02:13] linggao commented on #9452
@baude yes, just found out it is done now. It is not in the 3.0.1 though. thanks.

[2021-02-22 02:14] linggao commented on #9452
Please close this issue.

[2021-02-22 02:42] linggao commented on #9451
@Luap99 thanks for the quick fix. I copied your latest files for testing, it is working for most cases. However, it failed in our program that uses `godockerclient`.  I wrote a shell script to demonstrate what we are doing, this script failed with your current fix. But it works with docker if switch podman with docker. Please let me know what might be missing on our side.
[code]

[2021-02-22 02:48] linggao commented on #9451
@Luap99 Btw, if you run above script one command at a time, it works well.

[2021-02-22 02:57] xrow opened #9460 "Podman doesn`t like IPv6 being turned off in the kernel"
/kind bug

**Description**

When i turn off IPv6 podman has issues. It looks like it doesn`t know if it can use IPv6 or not.

**Steps to reproduce the issue:**

1. Change grub.cfg and add ipv6.disable=1
2. reboot
3. Use the gitlab runner to pull images over the API

Unfortunatelly I have not figured out how to reproduce it without the gitlab runner.

**Describe the results you received:**

This is

[2021-02-22 07:03] afbjorklund commented on #9457
I think it is some kind of confusion. Normally you do either/or, not both ?

[code]

[code]

I think the idea is that you "start" just the unix socket...
And then _it_ spawns the service, 5 seconds at a time ?

`/run/podman/podman.sock`

http://0pointer.de/blog/projects/socket-activation.html

[2021-02-22 08:02] CendioOssman commented on #9410
I'm afraid I'm not familiar enough with cgroups to know what that means. :/

Is it a bug? Misconfiguration? If so, where? podman? systemd? kernel?

I'll try to debug this during the day, but any hints are much welcome.

[2021-02-22 08:21] chengscott commented on #8970
Related PR #8393

[2021-02-22 08:25] vrothberg commented on #9450
Thanks for checking, @srd424!

crun 0.18 is just three days old :) Expect it to land soon in the Kubic repos.  @lsm5 PTAL

[2021-02-22 08:25] vrothberg commented on #9228
Thanks for the report and working with us, @InfRandomness !

[2021-02-22 08:25] #9228 closed

[2021-02-22 08:49] Luap99 commented on #9451
@linggao Thanks for the script. I cannot reproduce but that's somewhat expected. This is a race condition. I see this a lot in our CI. I already opened a PR https://github.com/cri-o/ocicni/pull/85 which should fix this problem.

[2021-02-22 08:49] giuseppe commented on #2285
If you specify something like `podman run --runtime-arg ARG0 --runtime-arg ARG1` then ARG0 and ARG1 will be passed to the OCI runtime.  So you can do: `--runtime-arg --log=/a/path --runtime-arg --debug` and have `--log=/a/path` and `--debug` passed down to the OCI runtime.

[2021-02-22 09:31] giuseppe commented on #9252
thanks!  PR here: https://github.com/containers/podman/pull/9464

[2021-02-22 10:05] vquemener commented on #2930
Hi,

I am facing the same issue with Podman `2.2.1` on Fedora `33`.

If I use the `pod.yaml` provided by @Fodoj, everything works as expected.

As soon as I remove one of the default environment variables (for example `PGDATA`), the container fails to start :
[code]

Should I open another issue?

[2021-02-22 10:07] vrothberg commented on #9459
@rhatdan, we need to consolidate the runtime-selection code into `c/common`.

[2021-02-22 10:10] giuseppe commented on #8970
crun supports this case and will use the correct namespaces inside of the container.

The issue I see here is that the owner of `/var/lib/containers/storage/overlay-containers/6afd0f476274af3c7b5f41aa080179f0e6169328bd4276a69ae5c941fe976ab1/userdata/shm` is not mapped in the new user namespace, you'd need to try with something like: `--uidmap 0:0:1000`:
[code]

[2021-02-22 10:10] vrothberg commented on #9362
Thanks for coming back, @eriksjolund.

That's a convincing argument to not treat `/dev/stdout` specially.  I'll tackle it today.

[2021-02-22 11:18] vquemener commented on #2930
Oh, nevermind, it looks like this was fixed for podman `3.0.0` in #8654.

I will have to wait for Fedora 34!

[2021-02-22 12:06] skitoxe opened #9465 "Dangling file in /var/lib/cni/networks/podman prevents container starting podman 3.0"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When doing an ```podman stop <container> && sleep 5 && podman start <container>``` or just a normal stop and start i on some occasions get an orphan in /var/lib/cni/networks/podman/.
In exactly the same manner as described in issue #3759, which is now closed. But is see further comments indica

[2021-02-22 12:47] MTRNord opened #9466 "DOCKER Compatibility bug: http://localhost/networks/[network id] returns null for Options instead of {}"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When doing `curl -XGET --unix-socket /run/podman/podman.sock -H 'Content-Type: application/json' http://localhost/networks/[network name]` the Options field returns `null` instead of `{}`.

Docker returns `{}`.

This currently breaks the ansible docker_container module if a network is set in

[2021-02-22 12:49] andrescodas commented on #3421
@mheon

Yes.  It is the second to last command I executed as posted on my previous message [here](https://github.com/containers/podman/issues/3421#issuecomment-782771867)

[2021-02-22 13:22] stoically commented on #9466
The same is true for `Labels`, podman returns `null`, docker returns `{}`

[2021-02-22 13:24] lsm5 commented on #9421
@towe75 hi, so there should currently be an `/etc/containers/seccomp.json` installed. Would you mind moving that to /usr/share/containers and retrying this please? If it works, I'll build a new containers-common with the filed installed to /usr/share/containers.

HTH.

[2021-02-22 13:25] lsm5 commented on #9421
Scratch that (Monday morning), I do see it should be installed to /usr/share/containers. So I guess something went wrong in packaging. Let me get back on this.

[2021-02-22 13:44] vrothberg commented on #9443
Thank you! @giuseppe, any suspicion?

[2021-02-22 13:53] MTRNord commented on #9466
Example output from podman:

[code]

Example from docker:

[code]

[2021-02-22 13:54] lsm5 commented on #9363
Well, checking for the kernel on the machine will happen at install time, and that'd need me to write some post-install scriptlet I guess, which I haven't done before on the debian side. Is it a deal-breaker to skip `metacopy=on` from all of ubuntu 18.04?

[2021-02-22 13:56] ashley-cui commented on #9314
Ah strange. Thanks for opening up a PR to fix it though! :smile:

[2021-02-22 14:08] #8996 closed

[2021-02-22 14:12] rhatdan commented on #9365
podman build should get the same defaults as podman run as of podman 3.0.1 release, I believe. This was recently fixed.

[2021-02-22 14:20] ashley-cui commented on #9249
closed via https://github.com/containers/podman/pull/9417

[2021-02-22 14:20] #9249 closed

[2021-02-22 14:33] baude commented on #9444
yeah there is a way but not through compose.  and i assume you want container to container name resolution.  i have some ideas on this to discuss with the team and see if we can come up with a solution.

[2021-02-22 14:36] #9452 closed

[2021-02-22 14:37] buck2202 commented on #9365
Sorry, I didn't mention in my most recent comment that I was seeing this happen on updated v3.0.1 from kubic.

From the outside, it seems like the name of the runtime is now matching between `run` and `build`, but `build` is relying on the system `$PATH` to find it, while `run` is using the search paths from containers.conf.

[2021-02-22 14:43] mheon commented on #9365
@buck2202 Can you open a new issue for that bug?

[2021-02-22 14:44] baude commented on #2930
it will come out in f33

[2021-02-22 14:45] fugkco commented on #9365
@vrothberg no worries. For some reason I thought build/run was had the same issue in 3.0.1, but I just confirmed it did not. I will raise a separate ticket.

[2021-02-22 14:51] lsm5 commented on #9421
@towe75 containers-common 100:1-12 should fix it, looks like it should be available for the ubuntus: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/containers-common .. I've also pushed podman buildah and skopeo builds to handle the minimum dependency so this won't be an issue for fresh installs.

Please close if that resolves this issue.

[2021-02-22 15:00] giuseppe commented on #9443
is it easily reproducible?

Is only slirp supported for the networking?  Can you change the network driver?

[2021-02-22 15:03] vquemener commented on #2930
Thanks @baude, that's good news!

[2021-02-22 15:08] mheon commented on #9460
@vrothberg PTAL - I'd bet this is c/image.

[2021-02-22 15:28] Luap99 commented on #9465
I assume you have a static IP for your container defined.
Can you add `--log-level debug` to the podman stop command. Maybe this gives some insight on what is going on.

[2021-02-22 15:30] linggao commented on #9451
@Luap99 thanks for the info. Just let you know that the error happens all the time on my vm with the script. I have RHEL 8.3 with the latest podman code + this PR. Should I upgrade cri-o? How do I do it?

[2021-02-22 15:37] Luap99 commented on #9451
I see in your podman info output that you only have two cores. The problem is that the cri-o library updates the network list asynchronously with fsnotfiy. On a slow system this might happen after we already try to use the new net. You cannot update the OCICNI library as this is directly compiled into podman.
As a workaround adding a sleep after the network create should work.

[2021-02-22 15:55] ashley-cui commented on #9316
Update: I tested it out and creating a secret defaults version to 11. I can't figure out what 11 means, and I also can't find where it the docs that it explains what the secret version means. If anyone recalls if they read anything about versions, let me know :)

[2021-02-22 16:04] towe75 commented on #9421
Hey @lsm5, thank you! I can not test it right now but i'll give it a spin later.

[2021-02-22 16:05] skitoxe commented on #9465
No i do not have static ip configured for the container.

[code]
I can see some runtime errors which ive been googling around on. It appears to have been an issue in older runc/crun/overlayfs from my understanding.
my versions are as follows:
[code]

[2021-02-22 16:11] mheon commented on #9465
Can you check if `podman restart` resolves the issue? It could be that the cleanup process isn't firing, or isn't finishing - `restart` does not have that issue, and would narrow things down if it works.

[2021-02-22 16:12] edsantiago opened #9472 "podman-remote network create: race condition creating conflist file"
The following sequence is starting to fail frequently in CI:
[code]
I cannot reproduce it on my f33 laptop, possibly because it's faster than the CI VMs. What I can reproduce easily is:
[code]
and then, in the podman server window, I see:
[code]
(not 100% of the time, but about 25%)

master @ 6fbf73ed8bd34738f3f901df1e5d3b592a9c3354

## Podman network [It] podman network prune
* gce_instance:fedor

[2021-02-22 16:17] Luap99 commented on #9472
@edsantiago I already chased that down see https://github.com/containers/podman/pull/9449 and https://github.com/cri-o/ocicni/pull/85

[2021-02-22 16:22] edsantiago commented on #9472
@Luap99 your fix LGTM, thank you!

[2021-02-22 16:30] skitoxe commented on #9465
Funny you should ask. The reasone i went with the stop and start to begin with is that restart seems to be so fast that it doesnt allow time for the bind for the port to release. That's the issue i hade from the beginning that led me to using stop && wait && start.
I get the below failure on restart, every single time. And i can immediately issue another restart or start and it will pop back up ag

[2021-02-22 16:33] mheon commented on #9465
Alright, that's very strange. `podman restart` should already handle that case (manually killing Conmon if required)

[2021-02-22 16:44] Luap99 commented on #9472
The bigger question is why it started to fail now and ubuntu works fine. The code did not changed.

[2021-02-22 17:20] imperialguy commented on #9443
I don't think this is a `podman` issue. This looks more like a `qemu/libslirp` issue. I will deal with it separately with those folks. Closing this for now.

[2021-02-22 17:20] #9443 closed

[2021-02-22 18:01] Jaakkonen opened #9473 "Setting DOCKER_CONFIG leads to 20 line authfile log spam on INFO log level"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Having `DOCKER_CONFIG` environment variable set results to 20 lines of `INFO` log spam that's its being used for authfile path.
```INFO[0000] Using DOCKER_CONFIG environment variable for authfile path /home/user/.config/docker```

**Steps to reproduce the issue:**

1. `DOCKER_CONFIG=$HOME/.co

[2021-02-22 18:19] rhatdan commented on #9424
So the problem seems to be the root inside of the container is UID=1000,  And you are attempting to run the container as UID=1000 INSIDE of the container.  But this UID is not the same as UID=1000 outside of the container.

If you want to fully map UID=1000-> Container UID=1000, then you have to use a special flag
podman run --userns=keep-id ...

[code]

[2021-02-22 18:19] #9424 closed

[2021-02-22 18:22] rhatdan commented on #9389
Interested in opening a PR to fix?

[2021-02-22 18:33] rhatdan commented on #7806
@baude  PTAL

[2021-02-22 18:34] rhatdan commented on #7857
@mlegenovic Where do we stand on this at this point?

[2021-02-22 18:41] tobwen commented on #9389
Don't we need a fix to open a PR? :-)

[2021-02-22 18:44] #8880 closed

[2021-02-22 18:46] rhatdan commented on #9457
Poman 3.0 is also not going to be released to F32, on f33 and later

[2021-02-22 18:54] rhatdan commented on #9410
Systemd setup, I think.  @giuseppe WDYT?

[2021-02-22 18:58] rhatdan commented on #9450
You might also want to use `--tz local` on the command line, or if you want all of your containers to run with the local timezone, use containers.conf.
[code]

https://www.redhat.com/sysadmin/tick-tock-container-time

[2021-02-22 18:58] #9450 closed

[2021-02-22 19:00] eriksjolund commented on #9389
I'm planning to learn how to write Golang but I haven't gotten to it yet.

[2021-02-22 19:05] towe75 commented on #9421
I ran a clean install and tested in our lab env: it's not resolved yet.

I've got indeed a containers-common 100:1-12 and there is now a seccomp.json included. It's, however, different to the one @giuseppe recommended and i still get the same error. Moving the other seccomp.json into the default folder fixes the problem - so rules files is maybe outdated?

Additionally i get now an additional warn

[2021-02-22 19:14] InfRandomness commented on #9228
I am coming back to you guys because, since an update of podman I got not so long ago, it appears I've got more information about the situation :

"podman pull opensuse/tumbleweed" now stopped from hanging and prints :
"Error: cannot setup namespace using newgidmap: exit status 1

I have also tried "buildah --debug unshare", here's what I get :
[code]

The last two warnings looks interesting to me

[2021-02-22 19:22] lsm5 commented on #9421
So, the seccomp.json is installed to /usr/share/containers/seccomp.json, isn't it? What the default folder you mention here?

Ah, I shouldn't be installing that file. My bad, that came in from fedora land, sorry.

[2021-02-22 19:28] towe75 commented on #9421
Yes, seccomp.json is in /usr/share/containers/seccomp.json and i called it "the default folder" because podman seems to pick it up from there...

[code]

[code]

[2021-02-22 19:32] lsm5 commented on #9421
@towe75 ack, building a new one now, sorry about that.

[2021-02-22 19:40] rhatdan commented on #9228
as the logged in user do
$ cat /proc/self/uid_map
         0          0 4294967295

[2021-02-22 19:51] rhatdan commented on #9459
We need to pass the container runtime from podman to buildah

podman build --runtime crun ...

We fixed an issue in podman 3.0.1 for this, and looks like we are triggering a new bug.

[2021-02-22 19:51] rhatdan commented on #9459
https://github.com/containers/podman/pull/9368

[2021-02-22 19:55] lsm5 commented on #9421
@towe75 there should now be a 100:1-13 available on kubic, https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/containers-common . Let me know ..

[2021-02-22 19:56] mheon commented on #9459
@rhatdan I'm fairly sure this is more than that - I think Buildah is resolving the runtime differently than Podman, just using $PATH and not using the dedicated runtimes list in `containers.conf`.

[2021-02-22 20:13] towe75 commented on #9421
Sure - but it has to wait for tomorrow morning. CET here. 🕙

[2021-02-22 20:15] rhatdan commented on #9466
Interested in opening a PR to fix this?

[2021-02-22 20:35] Luap99 commented on #9473
I take a look

[2021-02-22 20:39] novak-services opened #9475 "Get: "Error: open `..`: No such file or directory: OCI not found" on start"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am working with Ubuntu 18.04 and recently I got the newest podman version 3.0.1 on my system.

I am running a docker container which contains just an own build of postgres inside.

Since the update I get the error Message "Error: open `..`: No such file or directory: OCI not found" on start

[2021-02-22 20:44] #9362 closed

[2021-02-22 20:48] #9252 closed

[2021-02-22 21:32] cjeanneret opened #9476 "go get github.com/containers/podman/v3/pkg/bindings returns an error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running ```go get github.com/containers/podman/v3/pkg/bindings``` returns the following error:
[code]
This is on a Fedora 33, up-to-date.

**Steps to reproduce the issue:**

1. Follow the doc nested in the pkg/bindings

2.

3.

**Describe the results you received:**
The module doesn't seem to

[2021-02-22 21:39] Luap99 commented on #9473
@rhatdan PTAL
The problem is that we call `auth.GetDefaultAuthFile()` from c/common in the flag setup for many commands. Because init is run before we can parse the cli log level and configure logrus it will print everything. I don't see a easy solution other than removing the logrus call. WDYT?

[2021-02-22 21:41] rhatdan commented on #9473
Can we make it only log once?

[2021-02-22 21:50] matejvasek opened #9478 "`podman info` data race"
If two clients call `podman-remote info` simultaneously thread sanitizer detects data race.
This might be an issue of `github.com/containers/storage/` not `podman`'s

[code]

[2021-02-22 21:52] matejvasek commented on #9478
[code]
I am surprised that the function is not holding mutex during whole execution.

[2021-02-22 21:52] rhatdan commented on #9473
Ok making it log once, makes it better, but still aggravating.  I say we remove the log message.

[2021-02-22 21:56] #9451 closed

[2021-02-22 22:02] mheon commented on #9478
@nalind PTAL

[2021-02-22 22:03] matejvasek commented on #9478
I would expect `l.stateMutex.Unlock()` to be `defer l.stateMutex.Unlock()`.

[2021-02-22 22:24] baude opened #9479 "podman rm -fa with continers that have --rm should not throw errors"
When you have containers that were created with --rm and you perform a rm -fa, there shouldn't be errors thrown that the container is missing (because it is stopped before deletion).

/kind bug

Reproducer:

[code]

[2021-02-22 22:25] baude commented on #9479
I'll grab this if nobody else does.

[2021-02-22 23:01] nalind commented on #9478
Yup, moving this to containers/storage.

[2021-02-22 23:14] Lordryte commented on #9431
FYI The warning messages are still there in 3.0.1.

[2021-02-22 23:17] jmguzik commented on #9466
From the output it seems that options in IPAM also have wrong value.
/assign

[2021-02-23 00:37] linggao commented on #9451
@Luap99 I saw this PR is merged.
Question 1: Is there a way I can build a podman with the `cri-o/ocicni#85` PR?
Question #2:  When will be the next release date that includes both this and `cri-o/ocicni#851 fixes?

[2021-02-23 01:41] #9466 closed

[2021-02-23 04:12] linggao opened #9481 "Error starting a container with journald driver"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Got the "Error: write child: broken pipe" when starting a container with journald log driver

**Steps to reproduce the issue:**

1. podman run --name test --network foo-a --log-driver journald -d alpine sleep 1000

**Describe the results you received:**
podman run --name test --network foo-a -

[2021-02-23 06:19] PavelSosin-320 commented on #9357
@tobwen I'm running currently 2 different WSL distro via genie-systemd, i.e. systemd managed: Fedora33 and Ubuntu 20.10 In both I almost sure that cgroups V2 are supported because the groups FS checks show the same results:
![image](https://user-images.githubusercontent.com/54495912/108807450-29711180-75ad-11eb-84f5-0e0398014bb7.png)
![image](https://user-images.githubusercontent.com/54495912/1088

[2021-02-23 06:41] mheon commented on #9475
Feels likely this is a dupe of https://github.com/containers/podman/issues/9450 - please test with crun 0.18.

[2021-02-23 06:42] mheon commented on #9481
Can I ask what distro you're seeing this on? It looks like Conmon was built with incorrect tags that left journald support out.

[2021-02-23 06:45] mheon commented on #9476
@vrothberg PTAL

[2021-02-23 06:50] towe75 commented on #9421
Results:

- rhel/secrets message is gone
- pam error is not fixed
- i can still see a difference between the packages seccomp.json and the one from master (mentioned above). Although the diff is now only a single line:

[code]

[2021-02-23 07:43] simonfxr commented on #9421
@lsm5 @towe75 After updating and then using the seccomp.json from master, the problem seems to be fixed. However containers-common now installs strange files in /etc/containers:
`dpkg -L containers-common | grep '{'` gives:
[code]
Looks like a bash brace expansion problem.

[2021-02-23 07:51] vrothberg commented on #9476
Already fixed in main. But not yet released.  Will be fixed with v3.0.2.

[2021-02-23 07:57] vrothberg commented on #9476
Since it's in the main branch, you can do `go get github.com/containers/podman/v3/pkg/bindings@master` until v3.0.2 is out.

[2021-02-23 08:06] Luap99 commented on #9451
1.
[code]
also see #9449

2. I assume we will backport this to 3.0 so should become available with the next 3.0.2 release. The same goes for the ocicni changes once they merge.
However if you want this in in rhel 8.4 than you have to open a bugzilla to request that fix as backport to v3.0 because podman v3 is already frozen for rhel 8.4.

[2021-02-23 08:46] vrothberg commented on #9476
I am closing it since it's fixed in the main branch.

[2021-02-23 08:46] #9476 closed

[2021-02-23 09:15] koep opened #9482 "Joining CNI networks if running rootless"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind feature

**Description**

With Podman, it would be useful to be able to mix rootfull and rootless containers from a networking perspective. For example, a use case would be to run one rootfull container as reverse proxy (that exposes ports 80 and 443) in order to manage traffic to any number of non-root containers in the backend. This does not wo

[2021-02-23 09:22] vrothberg commented on #9459
I share that though, that's why I want us to consolidate the code in `c/common` if possible.

[2021-02-23 09:30] #9473 closed

[2021-02-23 10:00] marusak commented on #9251
seems so. Have you started with rootless service not running?
But also, this is obvious race (as tiny sleep resolves the problem) so it might work on machine that is faster (to delete the image) or slower (if it takes longer for the subsequent curl).

[2021-02-23 10:20] vrothberg commented on #9460
We're not doing anything specific wrt. ipv4/ipv6.  The shows that resolving the host to an address doesn't work, which is outside of our control and depends on how Go resolves.  Can you  check `/etc/resolv.conf` for anything suspicious?

[2021-02-23 10:43] giuseppe commented on #9410
I think the issue is that we are setting the default pids limit even with cgroupfs and the rootless user has no way to configure cgroupfs

[2021-02-23 10:54] vrothberg commented on #9481
It looks like a custom build of Podman and Conmon on RHEL 8.3.

As @mheon mentioned, Conmon was built without journald support.  Building Conmon with that will resolve the issue.

Note that you can use CentOS Stream if you want to have a look at the next version of Podman in RHEL.  Podman 3.0 will be released with RHEL 8.4 but can already be tested in CentOS 8 Stream.

[2021-02-23 10:54] #9481 closed

[2021-02-23 11:13] CendioOssman commented on #9410
The output from `podman info --debug` is identical between the working and broken case, except for free memory and uptime.

I also got it worked randomly again, but I'm failing to pinpoint exactly exactly what gets things going. Perhaps it's some background job and that's why I can't make sense of it...

[2021-02-23 11:15] CendioOssman commented on #9410
I also seem to see some difference in `/sys/fs/cgroup`. This is the diff between working and broken for the jenkins user's slice:

[code]
[code]

[2021-02-23 11:27] vrothberg commented on #9479
I'll take a look :^)

[2021-02-23 11:34] cjeanneret opened #9484 "[RFE] bindings.NewConnection should implement a "retry""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Hello there,
From time to time, when calling the ```bindings.NewConnection```, it fails because the socket is not temporary not available:
[code]
When I re-run my app right after this failure, it's all green. If the NewConnection could implement a kind of retry with a configurable timeout

[2021-02-23 12:03] xrow commented on #9460
looks good

[code]

If you think this is not podman related please close the ticket.

[2021-02-23 12:07] vrothberg commented on #9479
https://github.com/containers/podman/pull/9485

[2021-02-23 12:10] vrothberg commented on #9460
Could it be that `search dc02.xrow.net` is interfering?

I am fairly confident it's not a Podman issue.  Can you try pulling from another registry? `podman pull registry.fedoraproject.org/fedora-minimal`?

[2021-02-23 12:21] vrothberg commented on #9484
Thanks, @cjeanneret!

@jwhonce, would some kind of exponential back off make sense?

[2021-02-23 12:30] vrothberg commented on #9446
Thanks for reaching out, @EvanCarroll.  We aim at Docker compatibility where possible, so it's rather a feature than a bug :)  Please reopen in case Docker changes behavior.

[2021-02-23 12:30] #9446 closed

[2021-02-23 12:33] vrothberg commented on #9431
Thanks for reaching out, @Lordryte!  I'll take a look what's going on.

[2021-02-23 12:43] zv0n opened #9486 "Podman doesn't create .bp.sock in long path when rootless"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running podman in rootless mode with long XDG_RUNTIME_DIR with option `-p 8080:8080`, socket file `.bp.sock` isn't created, causing podman to fail. In my testing I've found that max path length for XDG_RUNTIME_DIR seems to be 66 characters, after `libpod/tmp/rootlessport[0-9]{9}` directo

[2021-02-23 12:54] vrothberg commented on #9431
@giuseppe, can you advice how to resolve the issue?  Pinging you since you've been working in that parts of the code.

[2021-02-23 12:55] AkihiroSuda commented on #9486
The max length of socket path is 108 on Linux, so the error is expected.

https://man7.org/linux/man-pages/man7/unix.7.html

[2021-02-23 13:01] zv0n commented on #9486
Oh, I see, when I was testing in python I did bind("./.bp.sock") in the directory thinking that it might result in a similar error, but it worked. When I tried bind with absolute path it also failed on `path too long`. Thanks for pointing that out!

[2021-02-23 13:45] baude commented on #9482
If you do a `podman network create dmetch`, that will work.  As for being able to mix rootfull and rootless containers, there are other viable options today and using iptables might also get the job done?

[2021-02-23 13:59] baude commented on #9465
this is a secondary issue and should be split off.

[2021-02-23 14:03] baude opened #9488 "podman restart with port bindings results in 'port in use' errors"
Sometimes when restarting a container with podman restart, it results in a `port already in use` error.  It seems like you need to have an application in the container that takes a little longer to execute to trip it more reliably.

Reproducer

[code]

split from #9465

[2021-02-23 14:03] baude commented on #9465
@mheon does cleanup remove files in `/var/lib/cni/networks/podman/` ?

[2021-02-23 14:04] baude commented on #9465
or how about when we detect a restart has occurred?

[2021-02-23 14:05] Fang-Li opened #9489 "why `podman container ls` not like `crictl ps -a`"
**Description**

Why the container list of podman on the same host is different from crio

**Describe the results you received:**
[code]

[code]

**Describe the results you expected:**

[code]

**Output of `crio --version`:**

[code]

[code]

[code]

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

[2021-02-23 14:06] Fang-Li commented on #9489
What do I need to do so that podman can manage crio containers

[2021-02-23 14:10] mheon commented on #9465
As of Podman 3.0, we ship a systemd-tmpfiles file instructing systemd to wipe the CNI reservations directory on reboot.

[2021-02-23 14:13] mheon commented on #9465
I doubt this is actually a CNI reservation issue given the way this is being described, though. If `podman restart` shows it as well, something rather more serious is wrong.

@skitoxe Can you check if there are any orphan `conmon` processes hanging around? Stopping all containers should remove them all, so any hanging around after that would be interesting to know about.

[2021-02-23 14:19] baude commented on #9465
@mheon could selinux be interupting things?

[2021-02-23 14:26] mheon commented on #9489
Podman and CRI-O do not share containers. We share most underlying libraries, so images and storage for containers are shared, but Podman and CRI-O do not share a container management library, and so neither can manage the other's containers. As of Podman 3.0, we can do some management (listing them via `podman ps --external`, mounting and unmounting them) but starting, stopping, inspecting are no

[2021-02-23 14:30] mheon commented on #9465
Possible? Checking the audit log could be helpful.

I'm still not certain what's actually going on here, though. We're getting port in use errors from Conmon, which usually indicate that Conmon is hanging around for a while and blocking the ports - but we fixed `podman restart` to `kill -9` the old Conmon process, so that shouldn't be happening. After the manual delay added, we see CNI complain ab

[2021-02-23 14:35] mheon commented on #9482
@baude Don't think iptables will do any good. The rootless networks are confined to a rootless network namespace, separated from the rest of the system - other users can't even see that they exist. This is a necessary consequence of running rootless Podman, where we don't have the privileges to do networking normally. As such, there is no way for root and rootless containers to share traffic excep

[2021-02-23 14:40] mheon commented on #3421
@giuseppe Any ideas? It looks like everything should be in order here.

[2021-02-23 14:46] giuseppe commented on #3421
can you show the output of `id`?

[2021-02-23 14:47] Luap99 commented on #9465
Can you please paste your cni config file for the podman_default network.

[2021-02-23 14:48] mheon commented on #9431
@vrothberg Best guess is this is a race - we are resizing before the exec session's conmon is running so the file is not there yet.

[2021-02-23 15:11] #7778 closed

[2021-02-23 15:20] giuseppe commented on #9431
it is a race when the process is shortlived so it runs and dies before podman can connect to the terminal.

Try: `podman exec -lt sh -c 'sleep 2; echo toto'`

How can we make sure we attach before the exec starts?  Should we ignore the error?

[2021-02-23 15:22] giuseppe commented on #3421
also any reason to use CentOS 7.5 and don't move to 8?

[2021-02-23 15:34] linggao commented on #9451
@Luap99 thanks a lot for all of your help. I built ocicni fix you have made with podman, the initial tests in our code looks very good.
Now how/where do I open a bugzilla to request that both fixes get backported to v3.0 and get into rhel8.4?

[2021-02-23 15:46] vrothberg commented on #9363
I think we can uncomment it unconditionally on 18.04.  Users can enable if needed.

I think we can close.  Please reopen if I am mistaken.

[2021-02-23 15:46] #9363 closed

[2021-02-23 15:46] vrothberg commented on #9355
@cevich PTAL

[2021-02-23 15:55] vrothberg commented on #9316
@ashley-cui, there is a [secret update](https://docs.docker.com/engine/api/v1.40/#operation/SecretUpdate) endpoint which allows for updating a given secret.  AFAIUI, the `version` number is like a revision number which is used to avoid conflicting writes.

Without having looked too closely, I assume that an update only works when the specified version is `v+1` with the local version of the matchin

[2021-02-23 16:03] sshnaidm opened #9490 "CapDrop are printed in random and different order each time in inspection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
`CapDrop` are printed in random arbitrary order. Probably `CapAdd` and other arrays are printed like that.

**Describe the results you expected:**
Arrays in podman inspection should be sorted.

**Additional info

[2021-02-23 16:39] maxnatt commented on #9457
@davidshumway this looks like a typo, the `--now` flag is already enough. Not sure where such errors are supposed to be reported though.

`systemctl enable --now podman.socket`

[2021-02-23 16:51] andrescodas commented on #3421
@giuseppe

I'm not running CentOS

[code]

[2021-02-23 17:14] linggao opened #9492 "Cannot ping network alias of container where multiple networks exist"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
One network is connected on two containers, each with an alias. But pinging the alias failed.

**Steps to reproduce the issue:**

1. podman network create foo-a
    podman network create foo-b
    podman network create foo-c

2. podman run --name test1 --network foo-a  -d alpine sleep 1000

[2021-02-23 17:30] skitoxe commented on #9465
You mean this file right? /etc/cni/net.d

[code]

[2021-02-23 17:35] skitoxe commented on #9465
i didnt appear to have, granted i could have been to slow to catch them if they stick around too long but still very short, depends on the speed the restart allocates the port again, in comparison to how fast i get the process grep.

I did however get this error while stopping this time:
[code]

[2021-02-23 17:37] Luap99 commented on #9451
@mheon @baude Can one of you answer that. I do not know that.

[2021-02-23 18:01] edsantiago opened #9493 "podman build: inconsistent io.buildah.version label"
`podman build` will not overwrite an existing `io.buildah.version` label in an image:
[code]
This may be deliberate, but I find it surprising: my expectation is that `io.buildah.version` should be that of the buildah used to build the most recent image.

master @ 1702cbc69 on f33. As mentioned above, the `20200929` testimage does not have an `io.buildah.version` label, the `20210223` one does.

[2021-02-23 18:03] andrescodas commented on #3421
@giuseppe

[code]
should I use sudo?

[2021-02-23 18:05] AdsonCicilioti commented on #3421
Hi guys,

My Outputs:

❯_ ~ cat /etc/subuid
`adson:100000:65536`

❯_ ~ cat /etc/subgid
`adson:100000:65536`

❯_ ~ ls -ls /usr/bin/newuidmap
`40 -rwxr-xr-x 1 root root 36992 Sep  7 10:42 /usr/bin/newuidmap`

❯_ ~ ls -ls /usr/bin/newgidmap
`44 -rwxr-xr-x 1 root root 41088 Sep  7 10:42 /usr/bin/newgidmap`

❯_ ~ podman system migrate

❯_ ~ podman unshare cat /proc/self/uid_map
[code]
❯_ ~ podman run -

[2021-02-23 18:13] mheon commented on #9451
@linggao Open a BZ on the Red Hat Bugzilla, targeted against Podman on RHEL 8.4, for this issue. We can use that to justify the backport.

For reference, upstream 3.0.2 is probably landing sometime next week (Wednesday/Thursday seems likely?) but RHEL 8.4 will be staying on 3.0.1 with selective backports.

[2021-02-23 18:14] mheon commented on #9465
Hm. Any chance the firewall was reloaded since the container was created? That could be related, though I'm not 100% sure how yet.

[2021-02-23 18:17] mheon commented on #9492
This is a known limitation of our alias support via `dnsname` at present - only the first network the container joins will support aliases. So if you create a container in `netA` but subsequently do a `network connect` to `netB` on the same container, only aliases in `netA` will be accessible to that container. If a `network disconnect netA` on the same container occurred, I believe that we would

[2021-02-23 18:18] giuseppe commented on #3421
my mistake about newgid it should be:  `newgidmap $! 0 1001 1 1 100000 65536`

but newuidmap failed with EPERM, we need to figure out why that happened.  It is not under the Podman control.

Any message in the logs?  Can you also share `cat /proc/self/mountinfo`?

can you share the full message?  What ID was not found?

[2021-02-23 18:29] Luap99 commented on #9465
Yes that's the correct file and it also looks correct to me.

Do you really have 40 cores on your system? This could be race which is more likely to happen with so many cpu cores.

[2021-02-23 18:35] AdsonCicilioti commented on #3421
After i run `podman system reset` and forced remove all lockeds storage dirs/files, all works again.

[2021-02-23 18:35] mheon commented on #9490
I'll take this

[2021-02-23 18:42] linggao commented on #9492
@mheon @baude what we have requested is the function supported on docker. This limitation of podman prevents our product from working with podman and RHEL.
In our case, each container may have one or more dependent containers, and a dependent containers have its own dependent containers. For security reason, a container can only communicate with each child or parent with different networks. So a c

[2021-02-23 18:47] mheon commented on #9490
I can't reproduce - ordering is 100% consistent on my machine.

[2021-02-23 18:48] baude commented on #9492
if this is an issue on rhel, I encourage you to file a bugzilla for an RFE.  Our network stack is not the same as docker's and we make no promises of compatibility in that area.  That said, file the RFE and based on our impressions and product management's, we can see what can be done.

[2021-02-23 18:51] mheon commented on #9490
Ah, nevermind, it's only `CapDrop` not `CapAdd`. Interesting.

[2021-02-23 18:55] edsantiago commented on #9490
FWIW this is not a regression: I get random order in podman-2.2.1-1.fc33

[2021-02-23 18:58] andrescodas commented on #3421
@giuseppe

Can you suggest how to check the permissions?  I included in the commands `ls -last` so you can check the permissions details

I'm posting  `/proc/self/mountinfo` let me know if you need other log?

I posted  `/proc/self/mountinfo` let me know if it is other message you need

I do not know of what ID you are talking about...  I didn't see any message talking about a missing ID

[code]
[

[2021-02-23 19:04] mheon commented on #9490
Fix in #9494

[2021-02-23 19:09] baude commented on #9465
couple of observations here.  the network config provided ^^^ was created by docker-compose (based on the labels).  So the first question I have is if that is true?  And then /me wonders if you should be using a network that you create with podman network create?

[2021-02-23 19:16] linggao commented on #9492
@baude thanks for the info. Could you give me the link for the bugzilla?

[2021-02-23 19:22] lsm5 commented on #9421
Great

@rhatdan do you know whatsup with the PAM error?

@rhatdan @giuseppe in fedora's containers-common we add `socket` if socketcall is found. Is this something ubuntu should not do ?

[2021-02-23 19:23] lsm5 commented on #9421
ugh, fixing ..

[2021-02-23 19:23] rhatdan commented on #9488
Should restart also imbed a podman wait.  Probably does podman stop; podman start. Should do
podman stop; podman wait; podman start. Since `podman container cleanup` has to happen after the stop completes, and this is where the race probably is.
Have not looked at the code, but that's my guess.

[2021-02-23 19:26] #9489 closed

[2021-02-23 19:29] rhatdan commented on #9482
I asked @koep to open this issue to see if @baude, @mheon, @AkihiroSuda, @giuseppe and @mccv1r0 would have any ideas.

[2021-02-23 19:35] lsm5 commented on #9421
Sent a new containers-common 100:1-14 to OBS. Fixes the funny dir names issue and also installs an unchanged seccomp.json. Let me know how that goes.

[2021-02-23 19:36] giuseppe commented on #3421
thanks, that was helpful.  newuidmap and newgidmap seem to have both setuid and file capabilities.

Does `rpm -V shadow-utils` report any issue?

Can you reinstall the shadow-utils package?

This is how it looks for me on CentOS 8:

[code]

sorry that was a question for @AdsonCicilioti

[2021-02-23 19:39] baude commented on #9482
it is a fair ask, but for bridged networks, I dont think it is possible.  this could be done with macvlans i would venture.

[2021-02-23 19:39] baude commented on #9492
https://bugzilla.redhat.com/

[2021-02-23 19:48] rhatdan commented on #9493
Yes I agree this is wrong.  Could you check if this is an issue with Buildah.  I have a feeling this belongs to Buildah.

[2021-02-23 19:53] #9479 closed

[2021-02-23 19:59] andrescodas commented on #3421
@giuseppe

thank you very much, seems that the re-installation of shadow-utils helped. This is the output just in case:

[code]

[mountinfo.txt](https://github.com/containers/podman/files/6031526/mountinfo.txt)

[2021-02-23 20:04] skitoxe commented on #9465
Yes it has been reloaded.

10 cores and 20 threads per CPU. 2x xeon e5 2640v4.

The containers were  created by Docker-compose but with no additional network configuration in the .yml file apart from dns configuration passed to the container.

[2021-02-23 20:06] mlegenovic commented on #7857
@rhatdan I have improved my go skills in the meantime, and could implement `create?fromImage` endpoint to work like `/libpod/images/pull` (with stream-writer). Unfortunately, it's still not good enough. Problem is that feedback comes per layer. If you pull an image with a large layer, only one json is created per layer, and you wait again very long without any feedback. Java docker client has a ti

[2021-02-23 20:07] rhatdan commented on #9421
pam_error might be being caused by us blocking audit_write.

[2021-02-23 20:22] mheon commented on #9482
I doubt we have permissions to run `macvlan` as rootless, though.

This is a case where `lxc-user-nic` would really come in handy - if we actually had a setuid way to configure rootless networking we could work around many of these restrictions.

[2021-02-23 20:28] mheon commented on #9488
It calls cleanup itself, automatically - we actually SIGKILL conmon so the cleanup process never fires (for unrelated reasons - there was a race where conmon took too long to die and was holding ports we needed).

[2021-02-23 20:56] Luap99 opened #9496 "network connect should error if netmode is not bridge"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Containers created with a network mode other than bridge should not work with network connect. (e.g. --network slirp4netns)

**Steps to reproduce the issue:**

1. `sudo bin/podman run --name test --network slirp4netns -d alpine top`

2. `sudo bin/podman network connect cni-podman3 test`
 This

[2021-02-23 20:59] linggao commented on #9492
@mheon @baude I do not think podman supports network alias at all.
[code]
Is there any config I missed that caused this problem?

[2021-02-23 21:02] edsantiago commented on #9493
Hmmm, you're right, but I can only reproduce it with `buildah bud`, not with `buildah commit`:
[code]
The above creates an image `foo` with a label we would like to overwrite. `buildah bud` will not overwrite it:
[code]
However, the following _does_ overwrite the label:
[code]
I'm going to try transferring the issue to buildah.

[2021-02-23 21:02] mheon commented on #9496
Concur with disallowing for non-bridge network modes.

[2021-02-23 21:13] baude commented on #9492
you dont exactly provide a lot of information to help with... rpm -q podman-plugins?

[2021-02-23 21:14] baude commented on #9496
also agree

[2021-02-23 21:23] baude commented on #9482
yeah, it doesnt work, just tested to be sure

[2021-02-23 21:29] linggao commented on #9492
rpm -q podman-plugins
package podman-plugins is not installed

[2021-02-23 21:37] Luap99 commented on #9496
#9497 to fix

[2021-02-23 21:55] cevich commented on #9355
Whoa,  I think I just barely understand what's happening here :confused: I'm not sure what/where the problem and what/where needs fixing (if it's even possible).  Does podman just need to vendor a later commit of `vendor/k8s.io/client-go` (ref. the minikube issue)?

[2021-02-23 21:58] cevich commented on #9355
Update: Yeah, this seems like a github.com (source-archive via URI) facility that we have no control over.  What am I missing/not understanding?

[2021-02-23 21:59] baude commented on #9492
install it

[2021-02-23 22:13] linggao commented on #9492
@baude after I installed podman-plugins the simple cases work for network alias. The multiple network case that I reported originally still does not work.  thanks!

[2021-02-23 22:42] omenos commented on #9410
I am also running into this situation in a rootless mode on RHEL 8.3. I haven't been on my desktop since Dec 1, and I just upgraded it to the latest 8.3 packages and I can no longer run any container on my system. I had tried renaming my user's libpod.conf to containers.conf after getting a deprecation notice, and then ultimately replaced it with /usr/share/containers/containers.conf, setting the

[2021-02-23 22:52] veita opened #9498 "Installation instructions from podman.io do not work with Debian 10 (Buster)"
https://podman.io/getting-started/installation says

[code]
This produces the error
[code]
The probably missing command is
[code]

[2021-02-23 22:59] jwhonce opened #9499 "The Image remove compatibility endpoint's payload is incorrect."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `curl -v -X DELETE --unix-socket /run/user/1000/podman/podman.sock http://localhost/libpod/v1.35/images/fedora`

**Describe the results you received:**

[code]
**Describe the results you expected:**

[code]
**Additional information you deem important (e.g

[2021-02-23 23:13] veita commented on #9498
This is weird. When I open the URL https://podman.io/getting-started/installation with another browser I get other content (including `sudo apt-get -y -t buster-backports install libseccomp2`).

The request that fails contains the following response headers:
[code]
So this might actually be a bug in the webserver or reverse proxy configuration or in a CDN (the browser has no proxy configured).

[2021-02-23 23:15] skitoxe commented on #9457
Like Maxnatt states. That is indeed just an incorrect syntax.

[2021-02-24 00:39] #9496 closed

[2021-02-24 01:05] mlegenovic commented on #7857
@rhatdan It works, I was successful. Will create PR in the next few days.

[2021-02-24 01:22] xrow commented on #9460
If you are sure please close.

[2021-02-24 01:38] umohnani8 commented on #5986
Issue fixed in c/storage by https://github.com/containers/storage/pull/822

[2021-02-24 03:15] gcs278 opened #9500 "No way to control /etc/hosts in podman play kube"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman play kube does not have YAML or runtime options to set `--no-hosts` (like `podman pod create`). Therefore, it always the same /etc/hosts as the host, even if you have isolated (non-host) networking. Kubernetes does not shared the /etc/hosts file by default.

This is a problem for me si

[2021-02-24 09:17] vrothberg commented on #9498
Thanks for reaching out @veita.  Maybe the website was in the local cache but (for whatever reason) not yet invalidated?

[2021-02-24 09:25] lfarkas commented on #3277
so on fedora (as the main developer platform for podman people) and also rhel-8 systemd-resolved is the default. so using a properly configured systemd-resolved on host can't be used as a name server for containers run by root!? and the only solution is to use --net host!

why did you close this issue???

[2021-02-24 09:54] #9460 closed

[2021-02-24 09:57] CendioOssman commented on #9410
@giuseppe, @rhatdan, any suggestions? I'm not having any luck figuring out what gets things going so I could use some suggestions. Running podman as root works fine, but rootless remains broken.

[2021-02-24 10:14] veita commented on #9498
The above response `HTTP/2.0 304 Not Modified` suggests that the server or an intermediate system holds a stale state.

[2021-02-24 10:46] ahwayakchih opened #9502 "`podman stats` shows the same values for every container in a pod"
/kind feature

**Description**

Sorry if i'm writing something stupid, but i'm new to cgroup stuff. I'm marking this as a `feature`, because i'm not sure if it's a bug or just my faulty configuration/setup.

On Alpine Linux (running inside QEmu-KVM) with OpenRC init system, running with cgroupfs as a manager, `podman stats` (and `podman pod stats`) show the same values for all the containers in a

[2021-02-24 12:48] lmgray commented on #8704
Still seeing this problem:

[2021-02-24 12:56] towe75 commented on #9421
@lsm5 the pam error is also gone now. I tried both the simple one-line test case from above and also a longer one including a "apt install init" command.

[2021-02-24 12:59] lmgray commented on #8704
I can't re-open this issue per @lsm5 request -- perhaps OP (@Ds894) can reopen?

[2021-02-24 13:13] lmgray opened #9503 "Centos 8 install error"
/kind bug

**package checksum errors from kubic repo trying to install on Centos 8**

`[MIRROR] containers-common-1-6.el8.noarch.rpm: Downloading successful, but checksum doesn't match. Calculated: 00a3c53eeff9c1144b0b3fa95dd528289cfa3bdb7ba3ff407fdfcf6186afffd4(sha256)  Expected: 00d1ca496f30fca20de3440855a6ffc355b3c61b5c74cd12ef051188792b01eb(sha256)`

**Steps to reproduce the issue:**

1. ` doc

[2021-02-24 13:14] lmgray commented on #8704
opened #9503

[2021-02-24 13:15] rhatdan commented on #7857
Awesome.

[2021-02-24 13:18] lmgray commented on #9503
[similar issues](https://github.com/containers/podman/issues?q=kubic+checksum) have come and gone over the past year or so:

[2021-02-24 13:20] rhatdan commented on #5986
@umohnani8 Please backport containers/storage#822 to v1.26 so we can update the vendor in podman to fix this in podman 3.0.

[2021-02-24 13:23] rhatdan commented on #9500
So should the infra container default to --nohost

[2021-02-24 13:23] rhatdan commented on #9500
@haircommander WDYT?

[2021-02-24 13:37] afbjorklund commented on #9355
The best would be to remove the vendor/k8s.io/client-go/pkg/version/.gitattributes file,
and do the expansion once and for all in the imported file (for each imported version).

[code]

See https://github.com/kubernetes/client-go/archive/78d2af792babf2dd937ba2e2a8d99c753a5eda89.tar.gz

We can also just close the issue, since it will be "a while" before another digit is added.
But you might want to

[2021-02-24 13:42] lmgray commented on #9503
Tried centos\_stream and get a checksum error on a different package:

[code]

Dockerfile to reproduce with centos stream:

[code]

`$ podman build -t podman-centos-stream .`

[code]

[2021-02-24 13:51] rhatdan commented on #9503
@jnovy PTAL

[2021-02-24 13:55] afbjorklund commented on #9355
Here is the same thing in Fedora:

https://src.fedoraproject.org/rpms/podman/blob/f32/f/sources

`SHA512 (v2.2.1.tar.gz) = 4c6eda9320daf18b5f0e892c0f3019a5658d983936c25a195bcb1fbc28c18a9a65e87043faddeb47e9f62c9b445efc2906a2b7ccedca877941fadb21b1b68367`

It uses more bits and the wrong filename, but the fail is the same:

cf9c1c11d0a83de12a6840536040ab202e8b8d626ec6afd77f85629f72dd3a178a4911e02ffaf

[2021-02-24 14:18] rhatdan commented on #9498
So can we close this issue?

[2021-02-24 14:20] rhatdan commented on #9502
I believe all containers within a pod share the same cgroups so this is expected.

@giuseppe @haircommander @mheon  Correct?

[2021-02-24 14:21] umohnani8 commented on #5986
@rhatdan the patch is already in c/storage v1.26

[2021-02-24 14:22] huww98 commented on #8841
I propose another approach:
* enable `Delegate=yes` in unit file
* add `--log-driver=journald`
* add `--cgroups=split` (or disabled)

This approach enables the logs to be linked to the unit via cgroups. And they do appear in `systemctl status xxx.service`. Also, I think this is more efficient, as we don't need the extra podman process, and logs are directly transferred to journald.

In addition, t

[2021-02-24 14:22] mheon commented on #9502
We have an outer cgroup for the pod, but each container in the pod has its own cgroup (that is a child of the pod cgroup).

[2021-02-24 14:22] mheon commented on #9502
I presume that means we should be getting per-container stats?

[2021-02-24 14:27] #9490 closed

[2021-02-24 14:35] rhatdan commented on #9421
Ok I am going to close.

[2021-02-24 14:35] #9421 closed

[2021-02-24 14:40] ahwayakchih commented on #9502
@mheon i do get per-container stats on Arch with systemd, which seems correct (the expected result i mentioned is from real test running there).

On Alpine with OpenRC i get only the same sum values (i presume), shown with each container on stats list.

On Alpine i have `/sys/fs/cgroup/test/`, on Arch path is a lot more complicated, but it looks like there is a separate directory per container, e.

[2021-02-24 14:44] haircommander commented on #9500
infra container should have `--nohost` if we're not using hostNetworking in the pod YAML

[2021-02-24 15:05] rhatdan commented on #5986
Did you open a PR to vendor in an update?

[2021-02-24 15:05] vrothberg commented on #5986
I don't think that'll pass CI due to the libcap farts, see https://github.com/containers/podman/pull/9462

[2021-02-24 15:14] daniel-wtd commented on #8841
@huww98 This sound pretty awesome. I will give it a try this week. I assume cgroupsv1 support is not a major feature(?) with a lot of attention.

[2021-02-24 15:26] vrothberg commented on #6496
This is fixed now.

[2021-02-24 15:26] #6496 closed

[2021-02-24 15:34] vrothberg commented on #7875
I think we're good with F33 :)

[2021-02-24 15:34] #7875 closed

[2021-02-24 15:39] vrothberg commented on #8524
@baude, which info are you looking for?

[2021-02-24 15:40] vrothberg commented on #8136
I am closing this issue in favor of https://github.com/containers/podman/issues/8452

[2021-02-24 15:42] vrothberg commented on #8124
Friendly ping.  Did the project progress?

[2021-02-24 15:44] vrothberg commented on #9152
Friendly ping.

[2021-02-24 15:46] vrothberg commented on #9056
Friendly ping. @Smahane, are you still seeing the issue?

[2021-02-24 15:46] seanyoung commented on #8136
#8452 is about running podman on windows/mac. This issue about running windows containers on podman (on linux). Not the same issue.

[2021-02-24 15:47] vrothberg commented on #9015
@rpocase, apologies for the silence.  Are you still seeing the issue?

[2021-02-24 15:50] vrothberg commented on #8136
Thanks, @seanyoung! I missed that you want to run Windows containers on Linux.

[2021-02-24 15:52] cevich commented on #9355
So if I understand correctly, the problem is that the checksum of the source tarball changes depending on ***when** it's downloaded from the GitHub whiz-bang source-archiver URL  This is because a file under the `vendor` tree is modified by git due to the special-magic `.gitattributes` file.

@vrothberg if we remove the `.gitattributes` file, and hard-code the changes into `vendor/k8s.io/client-go

[2021-02-24 15:57] vrothberg commented on #8903
Friendly ping. Any updates?

[2021-02-24 16:00] vrothberg commented on #9355
Wow!

Try it :)  I _think_ yes but I may be wrong.

[2021-02-24 16:15] cdjohnson commented on #6496
@vrothberg I can't seem to follow the breadcrumbs.  Which version of podman includes the fix?

[2021-02-24 16:18] stephensmalley commented on #9152
What does the following sequence of commands output:
id -Z
runcon `id -Z` id -Z
Could be a problem with the LSM stacking patches in Ubuntu kernels, e.g. either it expects a prefix to identify which LSM is supposed to be given the context or it just tries them all and fails because an earlier one (e.g. AppArmor) doesn't like it.

[2021-02-24 17:16] afbjorklund commented on #9355
If you can live with it being _wrong_, then it can probably stay just the way it is for some time longer. :-)

Unfortunately it is not really deterministic, _when_ git decides to add another significant digit to describe.

[2021-02-24 17:20] afbjorklund commented on #9355
I actually don't know _where_ this version is used. But just like the 70's podman, it's probably ignored ?

[code]

[code]

[2021-02-24 17:56] vrothberg commented on #9355
Maybe we can prune the dependency :)

[2021-02-24 19:15] smijolovic commented on #9152
Still digging into the issue on both crun and runc.

I'm not sure about the LSM being an issue - we completely remove apparmor. It's another thing to investigate if the current plan doesn't work.

There is a huge difference between the refpolicy and fedora policies. Currently, I've been able to get cgroup v2 working with cgroupfs on both runc and crun with container-selinux. This was achieved by r

[2021-02-24 19:20] lsm5 commented on #9503
@lmgray hi, I'm checking with the OBS admins on this. I don't see anything messed up on the packaging side. Meanwhile, I'm bumping the release tags on packages to ensure there are fresh rebuilds. I'll update this issue once I find out anything from them.

I'll also try the installation on my side to check if the release-tag bump fixes the issue.

HTH

[2021-02-24 19:52] riyad commented on #9290
FYI: this error is still happening

[2021-02-24 19:52] TomSweeneyRedHat commented on #9498
I'm not able to reproduce it on a couple of different machines on different networks using different browsers.  I'm going to chalk this up as an intermittent web server hiccup.  @veita thanks for reporting the issue.  If you see it again, please feel free to reopen this or create a new issue.

[2021-02-24 19:58] lsm5 commented on #9503
If the issues continue to persist with OBS, I'm thinking I'll start sending packages to fedora copr for all centos builds. Anyway, please give me a few days to sort things out with the OBS people.

[2021-02-24 20:02] cevich opened #9506 "podman 2.2.1 seccomp=unconfined behaves differently for `build` vs `run`"
/kind bug

**Description**

On Centos 8 (and likely RHEL),  I found podman running a Fedora 34 (beta) image interactively, will return false (exit 1) for `/usr/bin/test -r /root/anaconda-ks.cfg` (`ls` and `stat` both work fine).  This is suspected to be caused/fixed by https://bugzilla.redhat.com/show_bug.cgi?id=1927635  I'm able to work around this by using `--security-opt seccomp=unconfined`.  H

[2021-02-24 20:16] cevich commented on #9506
***Clarification:***  The issue here isn't about F34 or CentOS specifically, it's that `podman run` and `podman build` behave differently WRT `--security-opt seccomp=unconfined`

[2021-02-24 20:21] stephensmalley commented on #9152
I was trying to eliminate the policy as a factor by just having you test runcon with whatever context you are already in, to primarily just exercise the kernel interface with a trivial case.

[2021-02-24 20:29] smijolovic commented on #9152
Fair enough! Appreciate all the assistance and thoughts to identify the culprit of this issue.

$ id -Z
sysadm_u:sysadm_r:sysadm_t:s0-s0:c0.c1023
$ runcon `id -Z` id -Z
sysadm_u:sysadm_r:sysadm_t:s0-s0:c0.c1023

[2021-02-24 20:40] lmgray commented on #9503
thanks @lsm5 -- let me know anything I can do if you need something tested etc.

[2021-02-24 20:48] lmgray commented on #9503
Behavior has changed...

Docker build FROM centos:8 now builds without errors.

Docker build FROM quay.io/centos/centos:stream8 is now reporting checksum error on a different package (buildah):

[code]

Hope this helps...

[2021-02-24 21:10] lsm5 commented on #9503
@lmgray ack, sent a buildah rebuild just now. Please give it maybe an hour or so.

[2021-02-24 21:11] ahwayakchih commented on #9502
Looks like on Alpine i had test cgroup only because i added service that was starting the pod after system boot. Adding another pod did not create cgroup.

After removing pod that i just created, started and stopped (single container with crond -f) i got this:

[code]

Indeed, there was no such thing as `/sys/fs/cgroup/libpod_parent`.

[2021-02-24 21:14] linggao commented on #9481
@vrothberg @mheon I installed systemd-devel and rebult Conmon and podman, now the journald log driver is working. My question is: Is conmon that you ship usually have the jorunald support? We are going to use journald as the default log driver for contianers, just wonder what is the installation requirement.

[2021-02-24 21:15] edsantiago opened #9507 "rawhide: podman diff of buildah container: error creating overlay mount"
Podman fedora gating tests are [failing](http://artifacts.dev.testing-farm.io/e9ebe658-2987-4106-b21e-ec4a1408a2b8/work-tests.ymlo_U20O/tests-LmDMML/test.podman-root-cgroupsv2.bats.log) in one of the `diff` tests.

Simplest reproducer:
[code]

podman-3.1.0-0.48.dev.gitdec06b1.fc35 on kernel 5.12.0-0.rc0.20210222git31caf8b2a847.158.fc35 (don't bother trying on any 5.11 kernel, those are all complet

[2021-02-24 21:18] ahwayakchih commented on #9502
After trying `podman pod create --log-level debug --name test` debug log was quite big (let me know, if i should paste whole thing), but there this:

[code]

but `su -c 'ls -la /sys/fs/cgroup'` shows no such thing:

[code]

[2021-02-24 21:36] stephensmalley commented on #9152
Ok, thanks - so the kernel is working in the trivial case at least.  Might be interesting to try it with some change in the context now but not using the container_t type itself and see if that works, e.g. runcon system_u:system_r:sysadm_t:s0 id, may require being in permissive mode to avoid permission denials.  BTW your container_t definition above appears to lack the domain attribute?  That gene

[2021-02-24 21:52] Luap99 opened #9508 "RFC: CI rootless ubuntu tests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Is there a reason why rootless is only tested on fedora? I think it would help to also test rootless ubuntu when working on PRs like #9423 for example.

[2021-02-24 22:05] ahwayakchih commented on #9502
I created, as root, /sys/fs/cgroup/test, chown it to user, and then created pod with `--cgroup-parent` set to test. A subpath for pod was created. So looks like this part is a matter of permissions maybe?

After adding containers there are subsubpaths created for each container, but `podman stats` and `podman pod stats` keep showing copies of values for each of the containers in the pod anyway :(.

[2021-02-25 00:50] gcs278 commented on #9500
I see a `no_hosts` parameter in the containers.conf, but I've tried it multiple times and podman play kube and podman run, and it doesn't seem to change anything.

Can you guys think of a work around for the time being?

[2021-02-25 01:21] linggao opened #9510 "Container does not create source directory on the host for Binds"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When starting a container using the docker compatible REST APIs,  error occurred complaining that the source directory does not exist for the Binds specified in the HostConfig.
If running the same script on a docker engine, docker automatically creates the source directory if it does not exist

[2021-02-25 01:46] EvanCarroll commented on #9446
@vrothberg confused, what are you being compatible with aside from shell, your breaking compatibility with all of these implementations of env file..

* [python](https://pypi.org/project/python-dotenv/)
* [rust](https://crates.io/crates/dotenv)
* [ruby](https://github.com/bkeepers/dotenv)
* [javascript](https://www.npmjs.com/package/dotenv)
* [r](https://cran.r-project.org/web/packages/dotenv/dote

[2021-02-25 03:39] linggao opened #9511 "Wrong tmpfs created for container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Using REST API to create and start a container, specifying
[code]
But  a "/app=rw" tmpfs instead of "/app" created in container.
**Steps to reproduce the issue:**

1. Run this script
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
"/app" tmpfs shou

[2021-02-25 04:19] mheon commented on #9481
Yes, any Conmon we package will include support by default.

[2021-02-25 04:41] mheon commented on #9446
Podman is, first and foremost, compatible with Docker (except specific cases where we determine that Docker's behavior is a bug). Docker's parsing in this case is not compatible with the implementations you mentioned, and unfortunately this has been the case for at least five years - so we could easily be breaking existing Podman users relying on the current behavior. We could make an argument tha

[2021-02-25 05:05] mheon commented on #9510
@rhatdan @baude We decided not to do this for `podman run` because we felt it was most likely user error, but this is the Docker-compat API, so an argument could be made that we should do it here?

[2021-02-25 05:32] omenos commented on #9410
@CendioOssman I think we may need to file a bug against RHEL in Bugzilla. I just reverted to CGroupsV1 on my workstation and rootless containers work just fine again, at least in basic testing.

There's this[0], but I'm not sure if it's exactly related. Podman 3.x will be in RHEL 8.4 due out around Summit, so maybe holding back on cgv2 unti then is the best choice.

[2021-02-25 05:34] mheon commented on #9506
Different crun version in use on 33 vs 34, maybe?

[2021-02-25 05:36] mheon commented on #9093
@rhatdan Did you enable this one with your recent PRs to add missing `podman build` options?

[2021-02-25 05:50] EvanCarroll commented on #9446
oh shit, my bad I thought I was responding to the bug on docker. My bad all. Yes. this needs to be closed pending me getting Docker to change their insanity. Fully agree.

[2021-02-25 05:51] EvanCarroll commented on #9446
Linking issues: https://github.com/docker/for-linux/issues/1208

[2021-02-25 08:25] CendioOssman commented on #9410
Running systemd in a rootless container doesn't seem to work with cgroups v1, so that's not really an option unfortunately.

I see you've filed [this](https://bugzilla.redhat.com/show_bug.cgi?id=1932739) bug with Red Hat, but I'm also finding [this](https://bugzilla.redhat.com/show_bug.cgi?id=1897579). So dup?

[2021-02-25 08:32] vrothberg commented on #9506
That must be the seccomp farts (https://bugzilla.redhat.com/show_bug.cgi?id=1927635) coming from newer versions of glibc attempting to use new syscalls with libseccomp throwing EPERMs.

I think we can close the issue since there's nothing Podman can do at the moment.

[2021-02-25 08:33] vrothberg commented on #6496
Apologies.  Podman v3.0 should include the fix.  At least, I couldn't reproduce locally and @nalind fixed a bug in the blob-info cache that went into v3.0.

[2021-02-25 08:37] lud-hu opened #9513 "Rootless podman missing some permissions within the container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When trying to start up [weblate](https://github.com/WeblateOrg/docker) as a rootless container the container crashes with

`mkdir: cannot create directory ‘/run’: Permission denied`

If I check user permissions, groups, directory permissions everything looks the same in a working docker vs n

[2021-02-25 09:06] giuseppe commented on #9410
there is currently a systemd issue on RHEL 8.3 when running on cgroup v2 that prevents controllers to be delegated to unprivileged users.  This is being worked on as we speak.

In the meanwhile you can try to workaround the issue by removing the pids limit in the containers.conf file.  It won't make the containers less safe than when running on cgroup v1 (since cgroups are never used there for roo

[2021-02-25 09:12] CendioOssman commented on #9410
But it is less safe when running cgroup v2? Or the workaround won't work?

[2021-02-25 09:15] giuseppe commented on #9502
we don't support cgroupfs for rootless users.  It might work if you configure the cgroup manually but it was never really tested

[2021-02-25 09:27] giuseppe commented on #9410
having a pids limit is surely better as it avoids that a container can create too many processes, so at the moment it is either using cgroup v1 or cgroup v2 without the pids cgroup configured

[2021-02-25 09:29] PavelSosin-320 opened #9515 "Rootless Podman 3.0 RC1 on WSL Fedora34 image- can't run as rootless user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman 3.0 RC1 on WSL Fedora34 distro doesn't work in the rootless mode.
info **Steps to reproduce the issue:**

1. Create a new WSL2 Fedora34 following Fedora magazine guidelines.
2.  Install the recent release of genie-systemd for Fedora34 to run the distro as bare-metall Linux Fedora 34
3.

[2021-02-25 09:58] ahwayakchih commented on #9502
@giuseppe Thanks.

[2021-02-25 09:58] #9502 closed

[2021-02-25 10:43] vrothberg commented on #9355
[code]

I think we can prune the dependency.  By what I can see, we're pulling this dependency for `remotecommand.TerminalSize` which is a simple struct storing the width and height of a terminal.  We should be able to move that into `define` and thereby prune the k8s tail.

@mheon, can you confirm?

[2021-02-25 10:48] vrothberg commented on #9515
Can you try with the latest version?  You are using release candidate 1.

[2021-02-25 11:53] CendioOssman commented on #9410
Great, thanks!

So with that I seem to have the workarounds needed. To summarize, for those finding this issue later, what you need to do is:

 1. `sudo grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=1"`
 2. reboot
 3. `sudo systemctl enable-linger jenkins`
 4. configure `pids_limit=0` under `[contatiners]` in `/etc/containers/containers.conf` (until https://bugzilla.redhat.co

[2021-02-25 12:19] vrothberg commented on #9513
Thanks for reaching out! Do other containers work?  Are you running podman in podman or on the host?

[2021-02-25 12:21] vrothberg commented on #9511
Thanks for reaching out! @mheon opened  #9512 to fix the issue.

[2021-02-25 12:23] lud-hu commented on #9513
Other containers are running quite fine and I'm running podman on the host.

[2021-02-25 13:36] cevich commented on #9506
@vrothberg @mheon how does any of that affect processing of the `--security-opt seccomp=unconfined` command-line option?  This bug is about different behavior for `run` vs `build`.

[2021-02-25 13:52] lsm5 commented on #9503
@lmgray had some insight from the OBS people earlier today and I'm trying something on the "testing" subproject, I'll migrate changes to the repos you use above once things are stable. By "stable", I mean the installation works fine, though random issues like checksum mismatch can only be noticed over some time with newer builds/rebuilds. :crossed_fingers:

[2021-02-25 14:07] giuseppe commented on #9475
yes that is a crun issue: #9450

[2021-02-25 14:07] #9475 closed

[2021-02-25 14:09] lmgray commented on #9503
we build our base image twice per day (to stay ahead of vulnerabilities etc.) so we're a good test of problems that develop over time with newer builds/rebuilds -- thanks for investigating!

[2021-02-25 14:23] omenos commented on #9410
@CendioOssman that's a good point, I wasn't thinking about systemd in a container. As for the ticket, there were a few regarding rootless but they seemed to be reporting different errors. I may have just missed that one pointing out what was going on. I'll link mine to that one and close it.

And I can confirm on my side that workaround works just fine, back to cgroupsv2 we go! Thanks @giuseppe

[2021-02-25 14:32] riyad opened #9517 "[APIv3] /build endpoint wrongly assumes the labels parameter is a list"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to find regressions by exercising the APIv2 trough [docker-py](https://github.com/docker/docker-py)'s test suite (see #5386) I came across a bug via the [`BuildTest::test_build_labels`](https://github.com/docker/docker-py/blob/master/tests/integration/api_build_test.py#L200) test.

The

[2021-02-25 14:45] mheon commented on #9355
If we can, that would be quite nice - it's a large dependency that we don't really need.

[2021-02-25 14:49] novak-services commented on #9475
I had no time until today, to install an update, but got an automatic update of crun today, and it works again.

Thank you very much for the fast help!

[2021-02-25 14:56] james-crowley commented on #9444
@baude Yeah, having container to container resolution what I am after. Having the docker-compose with podman behave the same or as close as possible to docker-compose with docker would be great.

[2021-02-25 15:15] rpocase commented on #9015
Just retested with 2.2.1 and I'm no longer seeing podman commands hang. Thanks!

[2021-02-25 15:15] #9015 closed

[2021-02-25 16:06] mheon commented on #9517
@rhatdan @baude @jwhonce This is another tricky case - I think we need to retain the `[]string` to not cause an API change, but we also need to accept maps for Docker-compat

[2021-02-25 16:07] baude commented on #9517
i dont, it's a bug ...

[2021-02-25 17:13] TristanCacqueray opened #9522 "swagger type mismatch for the /version endpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The documentation http://docs.podman.io/en/latest/_static/api.html#operation/SystemVersion indicates the `/libpod/version` endpoint should returns a `{ Client, Server }` object, but the actual response is different.

**Steps to reproduce the issue:**

1. Query the `/libpod/version` endpoint

[2021-02-25 17:20] mheon commented on #9522
@jwhonce PTAL

[2021-02-25 18:00] #9355 closed

[2021-02-25 18:04] PavelSosin-320 commented on #9515
I suppose something wrong with the Fedora build system. dnf install Podman from Fedora 34 brings Podman version **3.0-dev** with precisely the same issue. It was my starting point. Then I took rpm from the [Fedora build system](https://koji.fedoraproject.org/koji/). I did it for Podman 3.0 RC1 for Fedora33 and it was mainly OK except for the wrong cgroups version. Unfortunately, my Fedora 33 was u

[2021-02-25 18:14] PavelSosin-320 commented on #9515
And Kernel startup log:
[root@MSI-wsl ~]# journalctl -b
-- Journal begins at Wed 2021-02-24 18:51:39 IST, ends at Thu 2021-02-25 20:08:49 IST. --
Feb 25 19:32:03 MSI-wsl kernel: Linux version 5.4.91-microsoft-standard-WSL2 (oe-user@oe-host) (
gcc version 9.3.0 (GCC)) #1 SMP Mon Jan 25 18:39:31 UTC 2021
Feb 25 19:32:03 MSI-wsl kernel: Command line: initrd=\initrd.img panic=-1 nr_cpus=4 swiotlb=forc

[2021-02-25 18:55] vrothberg commented on #9515
Thanks, @PavelSosin-320!  There are a number of issues at the moment in Fedora 34.  @giuseppe @lsm5, I assume Podman and others are currently blocked on the glibc bump and seccomp farts, right?

[2021-02-25 19:19] jeet-parekh commented on #8610
I see the label has been changed to question again. Perhaps change the title to something describing the bug uncovered in this discussion, and re-label it as bug...?

[2021-02-25 19:23] linggao opened #9523 "REST API does honor NanoCpus in HostConfig"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Add NanoCpus for container creation using the REST APIs, but the value of 'NanoCpus'  is still zero in `podman inspect <container_name>` after the container is up and running.
However, the `podman run --cpus` CLI works fine.

**Steps to reproduce the issue:**

1. Run the following script
[code

[2021-02-25 20:01] veita commented on #9498
@TomSweeneyRedHat

I continously see the outdated page in one browser. For me it is not a big deal since I know to avoid the problem.

There are possibly some conditions that must be met in order to experience the problem:
* the browser must have seen the page before
* the pages must be delivered to the browser via CDN (Fastly)
* the browser must probably use the `If-Modified-Since` and/or `If-Non

[2021-02-25 20:12] TomSweeneyRedHat commented on #9093
I only play the part of @rhatdan on TV, but he did include it in #9094.
Closing

[2021-02-25 20:12] #9093 closed

[2021-02-25 20:17] developedsoftware commented on #8269
Just stumbled into this exact issue. Is there a work around until it is fixed ? Been googling like a mad man !

[2021-02-25 20:49] rhatdan commented on #9517
I agree it's a bug.

[2021-02-25 22:01] dobbymoodge commented on #8647
@rhatdan I just ran into this and the solution ended up being to `rm -rf "/tmp/run-${UID}"`. I think a container process had been interrupted somehow, and `/tmp/run-$UID/libpod/pause.pid` had been left behind. I'm not sure how that leads to that specific error, but that was the third last `openat` call in the `strace` for the failing `podman` run. I'm guessing the `pause.pid` file was stale.

Here

[2021-02-25 22:24] TomSweeneyRedHat commented on #9498
@veita thanks for the update, I'll reopen, but I'm not sure I'll be able to fix it myself.  Maybe @Luap99 has a thought?

[2021-02-25 22:47] Luap99 commented on #9498
Well the site is hosted with github pages so we do not control that behaviour. A quick online search gave me these results: https://github.com/jekyll/jekyll/issues/552 and https://stackoverflow.com/questions/12556593/determining-a-page-is-outdated-on-github-pages.

Looks like it is a known issue and there are workarounds. I think this issue should be transferred to the podman.io repo.

[2021-02-25 23:18] linggao opened #9526 "Filter does not work for /networks REST API"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Filtering networks by name using REST API always returns an empty array.  It works for docker.

**Steps to reproduce the issue:**

1. podman network create foo-a

2. curl -gG -sSLw "%{http_code}"  --unix-socket /var/run/podman/podman.sock http://localhost/networks --data-urlencode 'filters={"n

[2021-02-26 09:48] rhatdan commented on #8441
I just ran these commands as rootless and it seems to work for me.

[code]

[2021-02-26 09:48] rhatdan commented on #8441
$ podman -v
podman version 3.0.1

[2021-02-26 09:51] rhatdan commented on #8437
I believe https://github.com/containers/storage/pull/822 will help fix this issue.

[2021-02-26 09:58] rhatdan commented on #8437
Digging deeper it looks like @vrothberg has fixed this problem, such that you can clean these errors up.

adfcb74602dcefb64fad226d4f949e5ee98ea324

[2021-02-26 09:58] #8437 closed

[2021-02-26 09:59] rhatdan commented on #7504
No progress.

[2021-02-26 10:00] rhatdan commented on #7377
Since this is such a huge change, and I feel hardly worth it, I am going to close as won't fix.

[2021-02-26 10:00] #7377 closed

[2021-02-26 10:51] rhatdan commented on #9507
@giuseppe I think this could be the new volatile flag?

[2021-02-26 10:54] rhatdan commented on #9508
No reason not to, other them time of tests.  Ubuntu tests are slow, but hopefully upstream is fixing this.

[2021-02-26 10:55] rhatdan commented on #8993
@towe75 Interested in opening a PR to help fix the docs?

[2021-02-26 10:56] rhatdan commented on #8195
@mccv1r0 Reminder?

[2021-02-26 10:57] rhatdan commented on #6717
@lsm5 any progress on this?

[2021-02-26 10:58] rhatdan commented on #7511
@mheon PTAL

[2021-02-26 10:59] rhatdan commented on #6265
@ashley-cui Did you get a chance to look at this?

[2021-02-26 11:00] rhatdan commented on #6045
@mheon @baude As we come out of Bug fix mode, is this a feature we should prioritize?

[2021-02-26 11:02] mejedi commented on #8441
@rhatdan
What does `--priveleged` option do in rootless mode? The issue was about getting cgroups w/o going priveleged.

[2021-02-26 11:44] rhatdan commented on #9510
@linggao Could you explain why you would want this feature.  My argument against it at least from the podman client side, it is enables users to accidentally create unintended directories, when they have a typo in their command. I don't believe people would expect

mount -o bind /tmp/testdata3 /tmp/data3

To automatically create /tmp/testdata3 directory, which is why i don't want podman do do it e

[2021-02-26 12:17] rhatdan commented on #9513
Permission denied, I always first check SELinux?

If you run the container --privileged does it work?

[2021-02-26 12:22] rhatdan commented on #9503
@lmgray You misspelled Podman above with "d o c k e r"?

[2021-02-26 12:24] rhatdan commented on #9410
Once you go cgroups V2, you never go back.

[2021-02-26 13:37] rhatdan commented on #8441
oops.
[code]
This should work.

[2021-02-26 13:46] jmguzik commented on #8441
@rhatdan From the description, it looks like it won't be overcomplicated.
I could try to look at this one in the coming days.
Unfortunately, I can't commit to huge tasks due to lack of time, so if my understanding is bad, please tell me right away.

[2021-02-26 13:54] DaniBet commented on #9241
Hello @baude,

Thank you for you suggestion but I need a solution which can be delivered. I mean not changing the podman configuration. I also tried with the same pod kube file but it seems that the both containers receive the same ports even if I have:

[code]

[2021-02-26 13:57] lud-hu commented on #9513
Great, if I start the container with the privileged flag it's starting up as expected. Are there any downsides on starting it like this?

[2021-02-26 14:14] DaniBet commented on #9241
Your solution seems doesn't working anyway.

Here is my /etc/cni/net.d/87-podman-bridge.conflist:

[code]

My error:
[code]

[2021-02-26 14:54] DaniBet opened #9528 "Change the ports of a running container"
Hello,

I want to change the ports of a running container:

for example:
podman stop container_id
podman start -p <ports> container_id

Unfortunately, the flag -p is not recognized. How can I do that?

[2021-02-26 15:30] towe75 commented on #8993
@rhatdan i am actually tempted to cut some time in order to bring the podman project forward. But docs are certainly not my strength and i am not really familiar with the docker-way-of-auth, sorry. I can possibly help with setting up some ubuntu package tests via GH actions or having 2 ubuntu versions in the repo etc.  I will ping you on some another channel when i'm ready, ok?

[2021-02-26 15:38] Luap99 commented on #9528
This is not possible. You have to remove the container and create a new one with other ports.

[2021-02-26 15:38] #9528 closed

[2021-02-26 15:47] dabooz commented on #9510
@rhatdan At the risk of sounding overly pejorative, when it comes to the compatibility API, if docker supports it then your API should too. I think that has to be a foundation principle for supporting the API. I do expect there will be cases where a reasonable exception can be made (I can cite an example if you want it). But, I don't think this is one of them. Docker seems to have already decided

[2021-02-26 16:23] linggao opened #9529 "/containers REST API output missing information"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
There are several important fields like `NetworkSettings`, `Mounts`, `Ports` etc. having no information from the `/containers` REST API ouutput

**Steps to reproduce the issue:**

1. podman network create foo-a

2. podman run --name test --network foo-a -l a=b -v myvolume:/tmp/data -p 8080:80/

[2021-02-26 16:30] Luap99 commented on #9526
The filters have to be a `map[string][]string` so you should use `{"name":["foo-a"]}`. https://docs.docker.com/engine/api/v1.41/#operation/NetworkList

[2021-02-26 16:38] TomSweeneyRedHat commented on #9498
@luap99 thanks for the pointers, I'll transfer this to podman.io

[2021-02-26 17:12] mheon commented on #6045
I think other parts of networking have priority over this (improvements to dnsname, for example)

[2021-02-26 17:24] linggao commented on #9526
@Luap99 thanks for pointing out. We are using `go-dockerclient`, it sends the wrong structure. https://github.com/fsouza/go-dockerclient/blob/main/network.go#L65. It must be old  format. Docker REST APIs supports both `map[string]map[string]bool` and `map[string][]string)`, I guess for backward compatibility.
Please close this issue. We have to handle it on our side somehow.  Thanks again.

[2021-02-26 17:33] c-goes opened #9530 "Upgrading from Kubic Ubuntu packages overwrites containers.conf"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm using Podman in WSL2 and have to change the containers.conf not to use systemd/journald after upgrades to make it work.

**Steps to reproduce the issue:**

1. Upgrade to newer  Podman version after containers.conf is changed

**Describe the results you received:**

containers.conf is over

[2021-02-26 18:07] Luap99 commented on #9526
I think this is a valid issue if docker still accept the old format we should allow this too.

[2021-02-26 18:31] linggao commented on #9526
@Luap99 it will be great if podman can add this support.

[2021-02-26 18:44] Luap99 commented on #9526
PR #9531

[2021-02-26 19:07] lmgray commented on #9503
sorry -- not understanding @rhatdan ...   are you suggesting these intermittent problems are related to building the container using docker vs. using podman for the build?  I would assume the packages are the same whether it's a non-container install (e.g. installing podman to a CentOS VM) or a container and should not matter what container build tool I'm using... 

What am I missing?

[2021-02-26 19:08] ms42Q opened #9532 "podman 3.0.1 rootless network issues: Connection reset by peer"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want run a django application in a rootless podman environment.
The application starts up and even connects to a DB that is running in the same named network.
It even looks like the port is exposed. But when i do a `curl localhost:8080` i get a `(56) Recv failure: Connection reset by peer`

[2021-02-26 19:32] lmgray commented on #9503
also, note...  this had resolved for `centos8` (but not `stream8`) and had been ok for a day or so, but last night CentOS package `libslirp-4.3.1-2.el8.x86_64.rpm` went bad.  This happened sometime between 20210224-204419 ​and 20210226-111626

[2021-02-26 20:25] mheon commented on #9530
Which containers.conf - in /usr/share or /etc? It is intended that the one
in usr/share be overwritten. User changes should be made in /etc/containers.

On Fri, Feb 26, 2021 at 12:34 c-goes <notifications@github.com> wrote:

[2021-02-26 20:52] smijolovic commented on #9152
No new typebounds or NoNewPrivileges:

$ seinfo --typebounds
Typebounds: 0

$ grep NoNewPrivs /proc/self/status
NoNewPrivs:	0

Yes, the container_t domain was missing a number of attributes and types. Now....

$ seinfo -tcontainer_t -x

Types: 1
   type container_t alias svirt_lxc_net_t, can_dump_kernel, can_receive_kernel_messages, corenet_unconfined_type, domain, mcs_constrained_type, process_us

[2021-02-26 21:18] c-goes commented on #9530
I just noticed that on my system /etc/containers/containers.conf is a symlink to /usr/share/containers/containers.conf (probably created from an older version of the package). I didn't expect this.
This symlinking isn't done anymore since  October or November. Thus, for new installations this should work now as expected. I ran `apt purge` on all the containers packages, removed the symlinks and re

[2021-02-26 21:18] #9530 closed

[2021-02-27 01:35] sunshine69 commented on #1916
Not sure if anything wrong with my setup as of now I seems to hit this bug. The only way to make it work is using mount bind.

as long as I have .config/containers/storage.conf with all correct settings podman always says:
`Error: mkdir /var/run/containers: permission denied`

podman is in fedora 33,
[code]
the only thing it works by remove the custom config and then copy the storage over the othe

[2021-02-27 03:40] BobyMCbobs opened #9534 "Issue with Docker-Compose with Podman 3.0.1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Docker-Compose fails to bring up Podman containers with Podman socket running.

**Steps to reproduce the issue:**

1. `sudo systemctl enable --now start podman.socket`

2. `sudo docker-compose -f path/to/docker-compose.yml up`

**Describe the results you received:**

[code]

**Describe the re

[2021-02-27 08:32] PavelSosin-320 commented on #9515
@vrothberg You mentioned seccomp. What I has read about seccomp it provides syscalls auditing at the node level. Is it applicable on use-case when Podman runs inside lightweight containers like WSL or other kind of software machines? If Microsoft decided to not provide any WSL system calls auditing to the LXSS VM  Kernel such level of security is useless. It needs its own configuration. It is over

[2021-02-27 11:03] lud-hu commented on #9513
And now there's another permission denied error where it can not execute a bash script file:

`uwsgi stderr | [2021-02-27 11:00:43,206: DEBUG/375] git: failure fatal: cannot exec '/app/data/ssh/ssh-weblate-wrapper-db5c5ca9e000131e': Permission denied
uwsgi stderr | fatal: cannot exec '/app/data/ssh/ssh-weblate-wrapper-db5c5ca9e000131e': Permission denied
uwsgi stderr | fatal: unable to fork
uwsgi

[2021-02-27 11:20] millerthegorilla commented on #9532
I have this problem on fedora silverblue running a pod.  There is no network connectivity to the pod on update to:
[code]

[2021-02-27 12:17] Luap99 commented on #9534
Does your compose file contains a build step?

[2021-02-27 13:37] ms42Q commented on #9532
@millerthegorilla Thanks so much for confirming the issue!

It is a pity that 2.2.1 was removed from the repositories. My environment does not allow me to build locally which makes the downgrade a hassle. Do you know if there is any other workaround for his issue?

[2021-02-27 14:33] millerthegorilla commented on #9532
I can't believe it has been removed from repositories, without the new version being tested properly.

I mean it's really screwed me over as podman doesn't work at all with the new version.

I haven't found a fix for using a pod.  My next attempt would be to try running containers with a podman network, but if I understand the original post in this issue that isn't working either.

I hope that the

[2021-02-27 15:29] Luap99 commented on #9532
Do you have `slirp4netns` installed? The output from podman info has no information about it.

[2021-02-27 15:53] Luap99 commented on #9532
I found the problem. Commit  https://github.com/containers/podman/commit/479fc226044b745ecaafc2d5fa925afe6ca06de0 is missing in v3.0

[2021-02-27 15:54] millerthegorilla commented on #9532
genius.  nice one.   Hopefully its not too difficult to remedy?

[2021-02-27 16:04] Luap99 commented on #9532
@mheon If you do the backports for 3.0.2 please add commit 479fc226044b745ecaafc2d5fa925afe6ca06de0.

[2021-02-27 16:08] matpen commented on #8970
Tried a few variations of the command with no luck:

[code]

The owner of `/var/lib/containers/storage/overlay-containers/.../userdata` (and all parent folders) is root, but I dont see the `shm` folder inside of it.

[code]

[2021-02-27 16:26] mheon commented on #9532
Ack. Expecting a release around Thursday. I can do the backport Monday to
prepare.

On Sat, Feb 27, 2021 at 11:04 Paul Holzinger <notifications@github.com>
wrote:

[2021-02-27 19:11] mheon commented on #9532
We should also get a test written for this, so we don't regress in the future.

[2021-02-27 19:15] Luap99 commented on #9532
This commit includes a test

[2021-02-27 19:27] mheon commented on #9532
Ah, excellent.

[2021-02-27 20:23] BobyMCbobs commented on #9534
There's no build stage.

Here's the compose file for context:

[code]

[2021-02-27 21:42] christian-korneck opened #9535 "podman --connection not working on macOS (failed to resolve active destination: service destination not found)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

running `podman --remote --connection <connection-string> <some-command>` with the Podman MacOS client errors with `Error: failed to resolve active destination: "<connection-string>" service destination not found`

**Steps to reproduce the issue:**

Server(s): Podman 3.0.1 on Fedora 33 ([prep

[2021-02-27 22:13] buck2202 commented on #9459
Just confirming this is what I mentioned in https://github.com/containers/podman/issues/9365#issuecomment-782761336. Apologies that I didn't have time to open a new issue for it.

In my case, I installed `cri-o-runc` because the `runc` package on Ubuntu bionic was giving seccomp errors. `podman info` knows where it is
[code]
but it is not in `$PATH`
[code]

[code]

Default behavior:
[code]

Manual

[2021-02-28 00:41] jmguzik commented on #8441
Proposed solution presented in PR

[2021-02-28 07:00] PavelSosin-320 commented on #9515
The same in
podman version
Version:      3.0.1
API Version:  3.0.0
Go Version:   go1.16
Built:        Mon Feb 22 16:08:57 2021
OS/Arch:      linux/amd64
dnf info podman
Last metadata expiration check: 0:16:11 ago on Sun Feb 28 08:38:45 2021.
Installed Packages
Name         : podman
Epoch        : 2
Version      : 3.0.1
Release      : 1.fc34
Architecture : x86_64
Size         : 44 M
Source       :

[2021-02-28 07:08] PavelSosin-320 commented on #9515
[Rootless Docker solution ](https://forums.docker.com/t/docker-rootless-in-docker-rootless-its-possible/100445). I expect the same from Podman

[2021-02-28 07:27] PavelSosin-320 commented on #9515
**It also happens with  buildah from:**
Error committing the finished image: error adding layer with blob "sha256:a591faa84ab05242a17131e396a336da172b0e1ec66d921c9f130b7c4c24586d": Error processing tar file(exit status 1): potentially insufficient UIDs or GIDs available in user namespace (requested 0:12 for /var/spool/mail): Check /etc/subuid and /etc/subgid: lchown /var/spool/mail: invalid argume

[2021-02-28 09:38] Luap99 commented on #9535
The root socket listens on `/run/podman/podman.sock`

[2021-02-28 10:02] christian-korneck commented on #9535
@Luap99 thanks for the comment. On my server(s) both exist (`/run/podman/podman.sock` and `/run/user/0/podman/podman.sock`) and I have the same problem with both.

on a Mac:
[code]

[2021-02-28 10:16] Luap99 commented on #9535
Can you paste the output of `podman --remote -c conC  --log-level debug ps`.

[2021-02-28 10:26] christian-korneck commented on #9535
@Luap99

[code]

[2021-02-28 10:57] Luap99 commented on #9535
@jwhonce PTAL

[2021-02-28 12:39] phlogistonjohn commented on #9128
The stale bot above got me to peek at this again and I noticed that it's tagged as a feature but sounds more like a bug, as @mheon notes above. Perhaps this should be retagged?

[2021-02-28 13:04] christian-korneck commented on #9535
quick addition: also seeing this on Windows (Podman 3.0.1 via MSI installer) on Win10-2004 AMD64)

![image](https://user-images.githubusercontent.com/6320032/109419399-903b6400-79cd-11eb-9846-515bbbdba55a.png)

[2021-02-28 13:40] pineman commented on #9172
Also experiencing this _almost_ 100% of the times, not always.
`WARN[0000] failed to resize TTY: container "7009d9ec2c6202ad63b5118b8362df149e3943e1963f3257ef904da22d929863" in wrong state "created"`

[2021-02-28 19:37] smekkley commented on #4131
This works (rootless privileged),
`podman run --privileged --net=host --rm quay.io/podman/stable podman run --net=host --storage-driver=vfs hello-world`

But this doesn't. (rootfull non-privileged)
` sudo podman run --net=host --rm quay.io/podman/stable podman run --net=host --storage-driver=vfs hello-world`

I believe if the latter is solved it'll work for docker as well.

[2021-02-28 19:55] ctalledo commented on #4131
If anyone has cycles to help us integrate Podman + [Sysbox](https://github.com/nestybox/sysbox) (a new type of runc), then running Podman inside unprivileged containers (deployed by Docker, Podman, or even K8s) should be doable and not too difficult to implement.

Docker + Sysbox containers can already run Docker, systemd, and even K8s inside unprivileged (rootless) containers.

[2021-02-28 20:52] DaniBet opened #9538 "Two containers inside the same pod receive same ports"
Hello,

I have two containers in the same pod:

[code]

     The issue is that the both containers receive the same ports  (8081). How can I fix that?

[2021-02-28 20:57] mheon commented on #9538
This is how pods work by design in Podman - containers in a pod share a
network stack.

On Sun, Feb 28, 2021 at 15:53 Daniel Ionescu <notifications@github.com>
wrote:

[2021-02-28 20:59] DaniBet commented on #9538
Hello @mheon ,

But how can I solve that?

[2021-02-28 21:12] mheon commented on #9538
What do you want to do such that this is a problem?

On Sun, Feb 28, 2021 at 15:59 Daniel Ionescu <notifications@github.com>
wrote:

[2021-02-28 21:15] DaniBet opened #9539 "How to communicate with mongo from another container"
Hello,

I have two pods developed with kube in podman. My issue is that I don't know how to comunicate with the mongo pod from the another one.
In kubernetes mongo has a link something like : mongo.namespace.svc.cluster-local. How can I do that in podman?

[2021-02-28 21:55] DaniBet commented on #9538
Mongo works on 27017 and my application works on 8081. It is a very big issue because my application or the database ports are wrong. My application needs to be pointed outsite to 8081 and mongo to 27017.

[2021-02-28 23:25] mheon commented on #9538
Every container in the pod has access to every pod assigned to the pod. There should be no barrier to having Mongo on 27017 and the app on 8081?

[2021-02-28 23:25] mheon commented on #9538
Sorry, to every *port* assigned to the pod.

[2021-03-01 02:49] martinetd commented on #8148
@vrothberg thanks for the patch.
As far as I can tell, #9346 got in podman 3.0.1, right? I still can't get anything to work with this (see below), what's the recommended way forward? I'd rather not reset everything if possible.

[code]

(as a side note, I produced that by interrupting a `podman pull` command with ^C on 3.0.0-rc2, updated after seeing this issue -- if possible I'd very much like to

[2021-03-01 06:26] martinetd opened #9540 "RFE: podman container clone command"
/kind feature

**Description**

In other issues there are multiple reference to plans to implement 'container clone', but I see no issue that actually tracks such a new command.
( https://github.com/containers/podman/issues/7555#issuecomment-689008839 points to an issue about `container rename` that barely made it to 3.0 but no trace of clone there, #376 talks about creating an issue for this as w

[2021-03-01 06:52] martinetd opened #9541 "podman run --replace fails if the replaced image was created with --rm"
/kind bug

**Description**

Running `podman run --replace --name test_replace image` often fails when the previous `podman run` with same name had `--rm` option

**Steps to reproduce the issue:**

1. `podman run -d --rm --name test_replace docker.io/alpine sleep 1000`

2. `podman run -d --rm --replace --name test_replace docker.io/alpine sleep 1000`

3. might need to run 2. a few times as it somet

[2021-03-01 06:59] martinetd commented on #9540
On a similar topic, a "create from config" (either the json obtained from podman container inspect or something else) would be great.

[2021-03-01 07:06] vrothberg commented on #9541
Thanks for reaching out!  This issue has been fixed in the main branch by commit e5ac28f3b968.

[2021-03-01 07:06] #9541 closed

[2021-03-01 07:08] vrothberg commented on #9172
@jwhonce @mheon PTAL

[2021-03-01 07:17] martinetd commented on #9541
ah, looked for replace in issues, sorry for missing it. Thanks!

[2021-03-01 08:27] vrothberg commented on #8148
Thanks for the report, @martinetd!

I will take a look at the `rmi` error.

We have been talking about this internally and @giuseppe has plans to address that. @giuseppe, did you tackle the fsync issues already?

[2021-03-01 08:44] vrothberg commented on #8148
Here's a PR to address the reported error in `rmi` - https://github.com/containers/podman/pull/9542

The error shouldn't be fatal. @martinetd, if possible, could you try out the PR and see if that fully resolves your issue?

[2021-03-01 08:48] martinetd commented on #8148
Thanks!
I have kept the old files around so can try easily, running out of time for today though so will be tomorrow.

[2021-03-01 08:49] giuseppe commented on #8148
add support for a `fsck mode` is going to take some time

[2021-03-01 08:50] vrothberg commented on #9515
Can you try running Fedora 33?  As I mentioned, Fedora 34 has seccomp issues.

[2021-03-01 08:51] giuseppe commented on #4131
@ctalledo is there anything that doesn't work if we just use `podman --runtime /path/to/sysbox ....`?

[2021-03-01 08:54] giuseppe commented on #1916
how does the `.config/containers/storage.conf ` file look like?

[2021-03-01 09:05] martinetd commented on #8148
I'm not so much concerned about a fsck mode than atomic updates if possible at all.
Write data first, sync it, update metadata in a separate file, then rename over the old file would ensure atomicity for example. There probably are other ways of doing it.

In this case the error seems to be more of an ordering problem, the metadata (json image descriptions) is written before the image? so there's

[2021-03-01 10:11] giuseppe commented on #9507
my bad, I introduced the issue with the support for "volatile".

I've opened a PR to address it: https://github.com/containers/storage/pull/840

[2021-03-01 10:17] giuseppe commented on #8148
without a "fsck mode" we would need to have a "do a full syncfs before writing the metadata mode".  I am fine with that as long as it is not the default, as a syncfs can be very expensive.

Causing such corruptions unfortunately is very easy.  Locally I could reproduce it just by forcefully powering off a VM few seconds after the image pull is completed

[2021-03-01 10:57] DaniBet commented on #9538
Yes, I trust you but the both containers receive the first port declared, in our case 8081.

[2021-03-01 11:15] lburgazzoli opened #9543 "podman system service: /usr/bin/slirp4netns failed: open("/dev/net/tun")"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to set-up podman to work with [TestContainers](https://www.testcontainers.org/) but I see a failure related to slirp4netns and the tun device

**Steps to reproduce the issue:**

1. podman system service -t 0 tcp:localhost:8880
2. export DOCKER_HOST=tcp://localhost:8880
3. export DO

[2021-03-01 11:39] rmohr opened #9544 "docker api: ContainerList does not seem to recognize filter arguments"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When applying a filter to `ContainerList`, I don't get the expected containers returned.

**Steps to reproduce the issue:**

Call podman with the docker sdk like this:

[code]

**Describe the results you received:**

I get no containers with prefix `prefix*` back. The result is empty.

**Desc

[2021-03-01 11:52] martinetd commented on #8148
Full fs `sync` command should never be needed if you're writing things yourselves, package managers are not using these and have been around for long enough that I tend to trust them :)

What follows is longer than I had initially planned, but it's a subject I care about in general so please bear with me a few minutes...

In this case there seem to be multiple distinct problems:

 - Since I produc

[2021-03-01 12:02] Luap99 commented on #9543
You need to load the tun kernel module https://www.kernel.org/doc/html/latest/networking/tuntap.html

[2021-03-01 12:12] lburgazzoli commented on #9543
oh, stupid me, I did a kernel update ...

[2021-03-01 12:12] #9543 closed

[2021-03-01 13:49] jwillikers opened #9547 "Storage driver set in /etc/containers/storage.conf ignored for rootless configurations"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman does not use the storage driver configured in `/etc/containers/storage.conf` as the default storage driver for rootless containers.
When I set the driver as `btrfs` in `/etc/containers/storage.conf`, then reset rootless and delete any user configuration, it uses `vfs` instead.
This beh

[2021-03-01 14:05] baude commented on #9534
I assume rootfull containers run without issue?  And also,  it looks like runc is being used in a cgroups v2 environment.  sometimes that is a red herring for an error but perhaps there is something unique about your environment of config files?

[2021-03-01 14:14] baude commented on #9241
the above feedback does not help me diagnose the problem for you ... did you exec into one of the pods and see if it can resolve by name ?

[2021-03-01 14:34] PavelSosin-320 commented on #9515
I tested Podman 3 RC1 with Fedora33. It has no such issue. But I believe that the route cause is not in the Fedora version. I use Fedora WSL image. Natively, the are some architectural differences between  Linux running on the hardware and Linux running on the software machine. I'm searching a way how to mitigate these differences. For example, the /boot/ folder is empty in my machine. VM is not b

[2021-03-01 14:46] lsm5 commented on #9503
@lmgray could you try again now? I pushed a change to handle the rpm release numbers, and I believe this issue should be fixed for good now.

[2021-03-01 14:55] rhatdan commented on #9503
@lmgray Above in your description of the problem. I was joking about you using docker build rather then podman build.
[code]

[2021-03-01 14:56] TristanCacqueray opened #9551 "swagger type mismatch for the /libpod/networks/json endpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The documentation https://docs.podman.io/en/latest/_static/api.html#operation/libpodListNetwork  indicates the `/libpod/networks/json` endpoint should returns a `[{ Bytes: Array of integers <uint8> }]`, but the actual response is different.

**Steps to reproduce the issue:**

1. Query the `/l

[2021-03-01 14:57] rhatdan commented on #8269
Sorry no solution yet.

[2021-03-01 15:08] rmohr opened #9553 "docker api: ContainerList does not seem populate port information"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`ContainerList` does not fill `Ports`. The `Ports` section of `types.Container` is `nil`. This is different compared to docker.
The only way I found to get the info about exposed ports was using `ContainerInspect` instead.

**Steps to reproduce the issue:**

1.

2.

3.

**Describe the results

[2021-03-01 15:12] mheon commented on #9538
What do you mean "receive"?

Can you provide your Podman version?

[2021-03-01 15:17] DaniBet commented on #9538
podman version 1.6.4

CONTAINER ID  IMAGE                                                      COMMAND               CREATED        STATUS            PORTS                     NAMES
ab4701fc4bdb  mongo:3.6                                                  docker-entrypoint...  3 seconds ago  Up 2 seconds ago  0.0.0.0:27017->27017/tcp  mongodb
5758aebec01f xxx  /opt/axway/bin/ui...  3 seconds ago  U

[2021-03-01 15:17] mheon commented on #9553
The title and the bug seem unrelated. Can you provide more details on the filtering issue in a second bug? I'm going to rename this one to reflect the contents of the bug.

[2021-03-01 15:19] mheon commented on #9538
Please try a more recent Podman. `podman play kube` has advanced majorly since v1.6.4.

[2021-03-01 15:26] DaniBet commented on #9538
I am working with Centos 7, which is the latest stable version for Centos 7?

[2021-03-01 15:26] rmohr commented on #9553
Yes sorry, that was actually a copy error from the first issue I created :)

[2021-03-01 15:28] #9526 closed

[2021-03-01 15:32] mheon commented on #9538
@lsm5 We were just talking about turning off OBS for Cent 7, right? Otherwise I'd suggest that.

[2021-03-01 15:36] lsm5 commented on #6717
@lsm5 just noticing this now. I think I'll need to give priority to the remainder of subdomain matching and switching skopeo CI to cirrus. So, feel free to re-assign this to someone else if it needs to get done in the next 3 weeks.

[2021-03-01 15:41] edsantiago commented on #9379
## Podman images [It] podman images --all flag
* gce_instance:fedora : int remote fedora-33 root host
  * PR #9483
    * [02-23 06:20](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/6286544166191104/html/int-remote-fedora-33-root-host.log.html#t--podman-images---all-flag--1)

## Podman run entrypoint [It] podman run entrypoint
  * PR #9464
    * [02-22

[2021-03-01 15:43] lsm5 commented on #9503
Closing this, I don't see it anymore in my tests. @lmgray please re-open if this issue still occurs.

[2021-03-01 15:43] #9503 closed

[2021-03-01 15:47] giuseppe commented on #8148
package managers usually call `fsync` on each file.  That is waaaay more expensive than a syncfs.

I wasn't aware of such issue.  If it happens without a powerdown, then it seems like something we should fix now without any sync involved.

Do you have a reproducer for it?

this is way slower than a single syncfs.

Long term, I'd like that containers/storage has the equivalent of: https://github.co

[2021-03-01 16:17] mheon commented on #9551
@jwhonce @baude PTAL

[2021-03-01 16:31] mheon commented on #9547
@rhatdan Would you consider this deliberate?

[2021-03-01 17:18] rodnymolina commented on #4131
@giuseppe, last time i checked podman worked to instantiate outer containers, but there are a few things we need to iron out to claim full support, such as the uid-mapping approach to follow to be able to instantiate inner containers either with podman or docker (not working right now w/o hacks). As Cesar said, we are not that far off, need some more time (or help :-) to have it done.

[2021-03-01 17:42] rhatdan commented on #7558
@vrothberg Should we be raising the priority on this one now?

[2021-03-01 17:43] rhatdan commented on #6579
@umohnani8 have you had a chance to look at this?

[2021-03-01 17:48] rhatdan commented on #9172
Should we just drop this down in lever from WARN, if the user can not do something about it, and we don't feel that it is an error, then we should not Warn the user.

[2021-03-01 18:40] afbjorklund commented on #9172
I'm not sure it has any _major_ user impact, but there is a race somewhere in the startup.

[code]

[2021-03-01 18:53] rhatdan commented on #9547
I would like to know if this is working properly in rootfull mode?

I don't think we currently support btrfs in rootless mode, but If it works, I guess we should allow it.  The biggest issue is no one has used it in the past, so we have no idea how well it works.

[2021-03-01 18:54] rhatdan commented on #9547
I am also no quite sure if this is allowed in rootless mode.   @jwillikers interested in opening a PR to see if you could get this to work?

[2021-03-01 19:09] jwillikers commented on #9547
Yes, this works fine for the root configuration in my case.

[code]

I've already verified that the `btrfs` driver works correctly in rootless mode, but I do have to configure the storage driver explicitly in `~/.config/containers/storage.conf`.
It creates Btrfs subvolumes under `/home/jordan/.local/share/containers/storage/btrfs/subvolumes/`.
I even verified from within a running container that t

[2021-03-01 19:09] BobyMCbobs commented on #9534
Rootful containers run fine in Podman - this error doesn't occur with `sudo podman run -it --rm -p 80:80 nginx:stable` for example.

Could it be `Docker-Compose` some how configuring the runtime?

[2021-03-01 19:17] rhatdan commented on #9547
Yes I would say that if BTRFS is set in /etc/containers/storage.conf then the rootless container storage should follow it.

Similarly if I put driver=btrfs in ~/.config/containers/storage.conf then rootless mode should use it.

[2021-03-01 19:27] rhatdan commented on #9088
@vrothberg Is this is issue you wanted @ParkerVR to look at?

[2021-03-01 19:28] rhatdan commented on #4773
@cevich Now that we have support for this with Buildah, can we do similar for Podman

[2021-03-01 19:29] ParkerVR commented on #9088
@rhatdan touched based with @vrothberg on this and will discuss more in depth tmmr

[2021-03-01 19:30] baude commented on #9534
I don't think so.  Is this a brand new install or did you have older versions of podman on this system.  Like stuff back to 1.x.

[2021-03-01 19:33] rhatdan commented on #9513
You need to use a newer version of Podman is the problem.  Since this is fixed in current podman, this should be opened as a Bugzilla. and most likely if there is no Podman that supports this on RHEL7, then you are going to be told to upgrade to RHEL8.  RHEL7 will not be getting any more updates.

[2021-03-01 19:33] #9513 closed

[2021-03-01 19:35] BobyMCbobs commented on #9534
There were older versions. I've had this install since Fedora Silverblue 31.

[2021-03-01 19:36] rhatdan commented on #9129
Is your description legal YAML?  Would this YAML file be used if it was sent to Kubernetes/OpenShift?  If yes, then we should support it, if No then we should not support it, and you should just script out a solution for it.
podman play kube should only support legal kubernetes yaml files.

[2021-03-01 19:37] rhatdan commented on #8323
@jwhonce @baude PTAL

[2021-03-01 19:41] baude commented on #9534
@BobyMCbobs any chance that your configuration file might be hard coding runc? i.e. /etc/containers/libpod.conf or containers.conf?  on fedora, the original sits in /usr/share/containers ... if you have one in /etc/containers/, maybe rename it and see if you get further?

[2021-03-01 19:47] jwillikers commented on #9547
Got it. 👍 I think I've found the related logic in [containers/storage/types/options.go](https://github.com/containers/storage/blob/364187782f1c761ad05b2b9db9e789ea2de292e8/types/options.go#L166).

[2021-03-01 19:50] BobyMCbobs commented on #9534
Both _libpod.conf_ and _containers.conf_ don't exist in _/etc/containers_. Copying _/usr/share/containers/containers.conf_ to _/etc/containers_ didn't seem to change anything

[2021-03-01 19:57] rhatdan commented on #9547
Yes the changes would be in containers/storage.

[2021-03-01 20:05] mheon commented on #9172
Yes - this is a real bug. If the warning fires, we have a bad TTY size set.

[2021-03-01 20:13] baude commented on #9534
ok, one more thing to try,rename runc to something else for now and try again?

[2021-03-01 20:19] lmgray commented on #9503
neither centos or stream are showing any checksum errors at this time for me -- thanks for your help @lsm5 !

[2021-03-01 20:38] cevich commented on #4773
Ya, I can more/less copy-paste the github action (I don't 100% understand how build-x works).  What are the FQIN's you'd like built and pushed when *master* changes?

[2021-03-01 20:50] cevich commented on #4773
Created Jira card RUN-1188

[2021-03-01 20:51] daniel-wtd commented on #8841
I just added

[code]
and
[code]

All logs from podman and the service in podman are in the logs/journal.

[2021-03-01 20:57] mheon commented on #9534
Can you also do a `podman inspect` on a container made by `docker-compose` and provide the output?

[2021-03-01 20:58] mheon commented on #9534
`podman info` is showing the correct default runtime, which makes me very curious.

[2021-03-01 21:12] TristanCacqueray opened #9559 "Missing swagger type for SpecGenerator expose attribute"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The Swagger type for SpecGenerator.expose does not have a type.

**Steps to reproduce the issue:**

1. Lookup definition at https://docs.podman.io/en/latest/_static/api.html#operation/libpodCreateContainer

**Describe the results you received:**

The expose attribute type is Any.

**Describe

[2021-03-01 21:20] mheon commented on #9559
@jwhonce PTAL

[2021-03-01 21:43] mheon commented on #9544
@baude PTAL

[2021-03-01 22:45] edsantiago opened #9562 "podman build: can leave stray images behind"
This may be deliberate, or a known difference due to the way `podman build` invokes `buildah bud`. Some layer option flags, maybe.
[code]
Compare to `buildah bud -t foo foo`: buildah does not leave that stray image behind.

Why I care: in #9296 I'm trying to run the `buildah bud` test suite using `podman build`; the `bud-multistage-reused` test fails:
[code]
It's perfectly fine to close this with

[2021-03-02 00:59] martinetd commented on #8148
I now get a different error:
[code]

I reproduced it with minimal data, please try with attached tar (github won't let me attach tar, but it's small enough so base64-encoded it as lazy way out):
[code]

(ugh, it's another error now... Well, I guess that's still worth looking at)

I just hit ^C during a podman pull, just reproduced on 3.0.1 after some (no output skipped, just added new lines before

[2021-03-02 01:43] troyready opened #9564 "compatibility api should implement /auth endpoint"
/kind feature

**Description**

The docker api [/auth endpoint](https://docs.docker.com/engine/api/v1.40/#operation/SystemAuth) should be implemented.

**Steps to reproduce the issue:**

1. Post to /auth endpoint: `curl -X POST -s --unix-socket $XDG_RUNTIME_DIR/podman/podman.sock  http://localhost/auth`

**Describe the results you received:**
`{"cause":"","message":"Path /auth is not supported","r

[2021-03-02 03:10] mheon commented on #9562
This sounds like an expected thing (our default use of layer caching vs Buildah's default disabling of it).

[2021-03-02 08:00] ADIX7 commented on #9129
It is: https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/

[2021-03-02 08:13] vrothberg commented on #9515
That confirms it's the seccomp issue in F34 (https://bugzilla.redhat.com/show_bug.cgi?id=1927635).

Podman allows for passing these options in the very same way as Docker.  I don't see any gap.

Rootless users have for sure the power to make proper security configurations.  Disabling them by default would be dangerous.

[2021-03-02 08:13] #9515 closed

[2021-03-02 08:16] vrothberg commented on #7558
It depends on the free cycles.  My queue is long but I can certainly give guidance fixing it.

[2021-03-02 08:27] vrothberg commented on #8148
@martinetd, in case there are still some things left, could you open a new issue?  It's not sustainable to tackle too many things at once in an already closed issue.  A dedicated one helps to keep track of things and backport them if needed.

[2021-03-02 08:41] vrothberg commented on #8841
@daniel-wtd, awesome!

@ashley-cui did some great work on polishing the journald driver recently, so I expect things to work smoothly.

[2021-03-02 08:44] huww98 commented on #8841
Just note I'm facing containers/conmon#242 when using this method.

[2021-03-02 10:36] sebastian-philipp commented on #9363
I can still reproduce this error on ubuntu 18.04:

[code]

This blocks https://github.com/ceph/ceph/pull/39494

[2021-03-02 11:47] #7857 closed

[2021-03-02 11:50] mlegenovic commented on #7857
Last known problem is fixed, so issue can be closed.

[2021-03-02 13:00] mheon commented on #9363
Is there a reason you need to support this? We're in the process of deprecating upstream support for 18.04.

[2021-03-02 13:01] DavidMachacek opened #9566 "podman inside podman"
/kind bug

**Description**
I would like to start Ubuntu based image for building and running containers inside pipeline.

**Steps to reproduce the issue:**

1. Build base container using `podman build -f inception-Dockerfile -t host-container .`
**Dockerfile**
[code]

2. Run the container using `podman run -v mycontainers:/var/lib/containers -ti host-container`
For some reason I have to pass volum

[2021-03-02 13:08] #9553 closed

[2021-03-02 13:15] sebastian-philipp commented on #9363
Do you have a supported major version that continues to support 10.08? Ceph Octopus is supposed to be EOL mid 2022. And 18.04 is EOL in 2028

[2021-03-02 13:32] mheon commented on #9566
@rhatdan Got a Podman-in-Podman bug for you and @umohnani8

[2021-03-02 13:47] baude commented on #9544
Seems to work for me with upstream main.

[code]

[2021-03-02 13:49] zygous commented on #9169
You've since closed #8910 in favour of #9423; does that impact whether rootless docker-compose is possible?

[2021-03-02 14:04] rmohr commented on #9544
did you try it through the docker-sdk? I get empty results there. Btw, why is there a `/` in front of the names? Maybe that is also the case on docker and I just did not realize it?

[2021-03-02 14:31] edsantiago opened #9567 "CI: Ubuntu 2004 is slow"
I've updated my test-timings script to have it interpret system test results. Ubuntu is slow, especially 2004:

(All of these are remote, from #9556. It takes just a few seconds to get results for any PR, so just ask if you want others)

 |                                                                        | fedora<br/>33  | ubuntu<br/>2004  | ubuntu<br/>2010 |
 | -----------------------------

[2021-03-02 14:54] rhatdan commented on #9562
Yup
`podman build --layers=true` by default
`buildah bud --layers=false` by default

[2021-03-02 14:55] edsantiago commented on #9562
Thank you!

[2021-03-02 14:55] #9562 closed

[2021-03-02 15:01] rhatdan commented on #9129
Awesome.  Interested in opening a PR to add this feature?

@ParkerVR Interested in taking a look?

[2021-03-02 15:09] Luap99 commented on #9169
@zygous It will work better with #9423 and is already included in there as well.

[2021-03-02 15:15] baude commented on #9544
@rmohr No I didnt try it through the docker sdk.  I don't have time for that.  The `/` is standard.  One thing you can try ... try running podman --log-level=debug system service -t0 and look at the the debug info to see what the url is that is being sent.  From that perhaps we can understand what's going on.

[2021-03-02 15:23] #9472 closed

[2021-03-02 15:33] rhatdan commented on #7857
Awesome, now if we could get Eclypse Podman tooling, to use enhanced podman features...

[2021-03-02 15:38] rhatdan commented on #9566
@DavidMachacek Have you looked at https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2021-03-02 15:43] edsantiago opened #9569 "podman build --timestamp is a NOP"
[code]

[2021-03-02 15:58] edsantiago opened #9570 "podman build: --ignorefile is a NOP"
Basically, the `bud --ignore containerignore` test from buildah `bud.bats`
[code]
If the file is called `.dockerignore`, it works as expected.

[2021-03-02 16:16] edsantiago opened #9571 "podman build: --build-arg: does not fall back to environment"
Difference between `buildah bud` and `podman build`: buildah defaults a build-arg to an envariable if it's set; podman does not:
[code]
buildah, if it sees `--build-arg foo` without an explicit `=something`, will interpolate the environment variable `$foo`.

This may be a bug, or may be an intentional difference, or it may be a nothing-we-can-do-about-it difference. If it can't be fixed, perhaps i

[2021-03-02 16:22] edsantiago opened #9572 "podman build --authfile: does not validate"
[code]
Buildah fails with:
[code]

[2021-03-02 16:25] edsantiago opened #9573 "podman build: --pull-never is a NOP"
[code]
Unexpected: it actually tried to pull. Compare to buildah:
[code]

[2021-03-02 16:46] mlegenovic commented on #7857
Eclipse uses 3rd party library to integrate docker. Only GUI is implemented in Eclipse, everything else is 3rd party. I do not know if podman has such a library written in java (I know there is one for python). If not, then I think first step would be to write such a library, or to extend existing docker-based libraries to support native podman features.

I don't know if there are issues in the ec

[2021-03-02 16:49] edsantiago opened #9574 "podman build: --dns-search is a NOP"
[code]

[2021-03-02 17:06] ADIX7 commented on #9129
Unfortunately I won't have time to implement this.

[2021-03-02 17:56] edsantiago opened #9576 "podman build --rm: differs from buildah"
Another slight difference between `buildah bud` and `podman build`, this time in the `--rm=false` code:
[code]
Compare to buildah:
[code]
I don't know if this is a meaningful difference. It is causing the `bud with --rm flag` test to fail when running `bud.bats` under podman in #9296. I can easily just `skip` that test.

[2021-03-02 17:58] PavelSosin-320 commented on #9515
@vrothberg I looked into Bugzilla issue requesting libseccomp 2.5. I already have this version:
dnf info libseccomp.x86_64
Last metadata expiration check: 2:07:51 ago on Tue Mar  2 17:41:01 2021.
Installed Packages
Name         : libseccomp
Version      : 2.5.0
Release      : 4.fc34
Architecture : x86_64
Size         : 174 k
Source       : libseccomp-2.5.0-4.fc34.src.rpm
Repository   : @System
Fro

[2021-03-02 18:24] StayPirate opened #9577 "NFS volumes created using podman volume create doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When I try to create a NFS volume with podman, it is created but no connection is performed against the the NFS server and the created volume is empty.
Very similar bug #4303 was reported and fixed in https://github.com/containers/podman/commit/32266d155fe156ef562d8fed27112d5644fd8c77 compare

[2021-03-02 18:36] mheon commented on #9577
Please try:
`podman volume create --opt type=nfs --opt device=10.160.0.10:/work --opt o=vers=4.2,rw,noatime,proto=tcp,sec=sys,local_lock=none testnfs`

[2021-03-02 18:40] StayPirate commented on #9577
Same old story

[2021-03-02 18:43] mheon commented on #9577
Fundamentally, `podman volume create` on NFS volumes is just calling `mount` with the following format:

`mount -t <type> -o <opt> <device> <podman-managed mountpoint>`

Where `type` is from `--opt type=`, `opt` is from `--opt o=`, and `device` is from `--opt device=`. If you can get a working `mount` invocation to mount your NFS share, and then decompose it according to this rule, `podman volume

[2021-03-02 18:51] TristanCacqueray opened #9578 "swagger type mismatch for the /libpod/images/{name:.*}/tree endpoint"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The documentation https://docs.podman.io/en/latest/_static/api.html#operation/libpodImageTree indicates the /libpod/images/{name:.*}/tree endpoint should return a LibpodImageTreeResponse object, but the actual response is different.

**Steps to reproduce the issue:**

1. Query the `/libpod/im