[2020-02-03 16:41] cevich commented on #5063
Example job failure for PR 5060: https://cirrus-ci.com/task/5984485132992512 for PR commit-chain https://github.com/containers/libpod/commits/d137f7656ca642a9aebf5ee72e742f17e577c858

Significant part part of gate job output:

[code]

Where that particular commit is the HEAD of upstream/master, which is not present in the PR branch's commit-chain.

[2020-02-03 16:44] mnahkies commented on #5059
Definitely possible, I've been using fedora with docker since fedora 28 or so and don't believe I made any customisations to disable selinux, but I can spin up a VM and test that theory

[2020-02-03 16:45] cevich commented on #5063
***WORKAROUND:*** Rebase your PR vs the upstream branch before having tests run against it.  This is going to become very annoying with a rapidly moving upstream branch (like master).

[2020-02-03 16:48] ikke-t opened #5065 "please advice attaching bluetooth to container?"
/kind feature

**Description**

Hi, this is not a bug report, but I'm looking for advice how to use home automation devices in containers. I have e.g. bluetooth devices, and zigbee devices. Let's start with bluetooth.

What would be the recommended way to get devices into container, not running the container privileged and using host networking?

I can get the bluetooth device visible into contain

[2020-02-03 16:55] groovyman commented on #5057
Salut Matthew,
first of all, thank you for taking some time to help me!
ok, here is what you have asked me for:
`[tlxoffice@chasmash docker_kivitendo]$ podman start 2f803416eaf0 --log-level=debug
DEBU[0000] Using conmon: "/usr/bin/conmon"
DEBU[0000] Initializing boltdb state at /mnt/raidSpace/Homes/tlxoffice/.local/share/containers/storage/libpod/bolt_state.db
DEBU[0000] Overriding run root "/run/

[2020-02-03 17:01] cevich commented on #5063
Clone'd PR 5060 (in gate-broken state) and pushed to a testing PR to debug further: https://github.com/containers/libpod/pull/5066

[2020-02-03 17:03] ikke-t commented on #5065
Forgot to mention, I killed the bluetoothd from host (Lenovo X1 Carbon) before starting the containers.

[2020-02-03 17:04] rhatdan commented on #5059
Depending on the version of docker, native or upstream, it might not have had the --selinux-enabled flag passed into the daemon.  Without this flag SELinux separation for containers would be disabled.

[2020-02-03 18:41] rhatdan commented on #5049
How did cgroupv2 get in the way?

[2020-02-03 18:43] rhatdan commented on #5049
su tobwen would either not set the environment of the user or the environment would stay the same as the caller.  I would figure the former.  So since the environ was not set, then podman is blowing up since it is thinking that the container is running as root?

[2020-02-03 18:45] rhatdan commented on #4332
If it would work, then we should support it. But the rootless user would need to be able to hook up the network,  I would worry about UserNamespace and potentially SELinux blocking this access.

[2020-02-03 18:49] rhatdan commented on #5040
SGTM

[2020-02-03 18:50] leier69 commented on #1136
I can still not assign static IP to container using following command:
podman create --net podnet -v /etc/nginx:/etc/nginx:ro --mac-address=3e:84:ea:ab:7d:51 -p 80:80 -p 443:443 --restart=on-failure:3 docker.io/library/nginx

fedora 30
podman 1.7

please assist me, I need this to work

[2020-02-03 18:54] mheon commented on #1136
Providing an error message might be helpful - hard to tell what's going wrong from just the command?

[2020-02-03 18:56] mheon commented on #5057
`DEBU[0000] Using tmp dir /var/tmp/run-1001/libpod/tmp   `

Is this directory on a tmpfs?

If not, that is why we're not detecting reboot. You could try deleting the libpod database at `/mnt/raidSpace/Homes/tlxoffice/.local/share/containers/storage/libpod/bolt_state.db` and your containers.conf (usually lives in `~/.config/containers/libpod.conf`) and see if tmp dir is moved into `/run/user/1001`

[2020-02-03 19:01] groovyman commented on #4332
Sorry, my fault. I have overseen den port-mapper option in the manual:
`podman run  -ti -d  -p 192.168.178.39:9190:80`
that provides what i was looking for.
Sorry!

[2020-02-03 19:02] leier69 commented on #1136
There is no error, I just does not get the mac address im assigning an mac

from inspect:
[code]

CNI conf:
[code]

[2020-02-03 19:03] leier69 commented on #1136
Fuck. They match up...

[2020-02-03 19:07] mheon commented on #1136
I did a quick check and verified with ifconfig inside a container - looks like the flag is working as expected

[2020-02-03 19:11] leier69 commented on #1136
But its acually still a issue for me, because I didnt acually fuck up. It was this mac that sendt a request to my dhcp server: 0a:dd:5b:ce:23:d1

Why? how am I suppose to set static IPs in pfsense then? whats happening?

[2020-02-03 19:46] astronouth7303 opened #5069 "[feature] Bind to Unix Socket"
/kind feature

**Description**

Would it be reasonable to add support for mapping ports inside a container to unix domain sockets on the host?

This would make things like managing many containers much easier, as you don't have to contend with port juggling.

**Output of `podman version`:**

[code]

**Output of `podman info --debug`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `ap

[2020-02-03 19:50] astronouth7303 commented on #5069
I have no idea how to do this with rootfull containers without something like `socat` (which just kinda side-steps the problem, because you'd still need a network port).

With rootless, I think this would need some additions to slirp4ns as well as tooling additions to support the new port specification.

[2020-02-03 20:03] baude commented on #5069
why would the container runtime have to do this? vs you doing it manually

[2020-02-03 20:08] baude commented on #1136
do you actually want to be doing a macvlan connection?

[2020-02-03 20:35] leier69 commented on #1136
No I need the containers to connect to my bridge, which is the lan adapter in pf sense. Therefore i would like them to make dhcp requests with the same mac everytime. Please help

[2020-02-03 20:48] lsm5 commented on #4937
so OBS people told me the repos won't keep the prior built debs after a new version is shipped. If it helps, I can keep the packaging sources (dsc + tarball) in there so you can fetch the source and build it if need be.

[2020-02-03 21:22] edsantiago opened #5071 "f31 rootless: podman logs: cannot configure rootless cgroup using the cgroupfs manager"
Almost certainly related to #4574
[code]
It only seems to happen with `podman logs`, nothing else.

If this requires a new `crun`, please make sure podman is rebuilt with an updated `Requires`.

podman-1.8.0-0.1.fc31.x86_64
crun-0.11-1.fc31.x86_64

[2020-02-03 21:26] edsantiago opened #5072 "f31 rootless: podman pod rm: error updating pod: .../pids.max: no such file or directory"
[code]
podman-1.8.0-0.1.fc31.x86_64
crun-0.11-1.fc31.x86_64
conmon-2.0.10-2.fc31.x86_64

[2020-02-03 21:31] mheon commented on #5072
Related: https://github.com/containers/libpod/issues/5042

[2020-02-03 21:33] mheon commented on #1136
Hm. So you're using a pre-established bridge, configured elsewhere? And CNI is making DHCP requests using a different MAC?

[2020-02-03 21:46] groovyman commented on #5057
Salut Matthew,

the directory `/var/tmp/run-1001/libpod/tmp` was not a tmpfs. So i removed the user and created a new technical user. After a reboot, the very first podman call gave me this:

[code]
So i figured out, where he goes:
[code]
looks better. So let's start the stopped container:

[code]
Isn't this fantastic!

Thanks Matthew!

[2020-02-03 21:46] #5057 closed

[2020-02-03 21:47] edsantiago commented on #5071
Issue still present in `crun-0.12-1.fc31.x86_64`

[2020-02-03 21:47] edsantiago commented on #5072
Issue still present in `crun-0.12-1.fc31.x86_64`

[2020-02-03 21:59] alitvak69 commented on #4937
I think keeping sources will solve the problem for me.  It is easy enough
to build deb based on tarball and dsc.

On Mon, Feb 3, 2020, 2:48 PM Lokesh Mandvekar <notifications@github.com>
wrote:

[2020-02-03 23:52] rhatdan commented on #5035
sgtm

[2020-02-03 23:59] rhatdan commented on #5002
Is there a way in systemd to get user services to start automatically?  I would figure this requires admin support.

[2020-02-04 00:05] #5063 closed

[2020-02-04 00:12] baude commented on #5072
@mheon is this a libpod problem or a runtime problem?

[2020-02-04 00:40] astronouth7303 commented on #5069
Yes, you can bind mount the socket. But that requires special support in the container. (And not all services support listening on a UDS.)

Adding it to the container runtime means that you can do it generically--the container doesn't know it's being routed through a UDS. It's just listening on a port and the operator has complete flexibility about how to wire things up.

I want this for small hos

[2020-02-04 01:30] nimbius commented on #5002
@rhatdan
ideally the proper method is using user= and group= in a systemd target.
https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md

specifically...

[code]
however this configuration would need to be loaded from /etc/systemd/system, not the user path for --user level targets.  'podman generate' currently does not create this type of target file.  perhaps it warr

[2020-02-04 01:42] tobwen commented on #5049
Before switching to cgroupv2, I didn't need to use `su -l`. It worked with simple `su`.

That's true.

Exactly.

So two things are needed when not login directly to the user:
[code]

Shall I add it to troubleshooting.md via PR?

[2020-02-04 01:47] tobwen commented on #5069
Maybe this can help? https://www.freedesktop.org/software/systemd/man/systemd-socket-proxyd.html

[2020-02-04 03:04] mheon commented on #5049
Loginctl I believe is already mentioned; if it's not, it needs to be.

[2020-02-04 03:07] mheon commented on #5072
No clue - probably us, since we make pod cgroups, but I'm not 100%. Have not managed to reproduce, but I haven't tried the exact environment either here or #5042

[2020-02-04 06:05] leier69 commented on #1136
Yup, I would like my containers to jump on that bridge, since I have VMs and other things there, is this a problem with cni plugins? Or is it misconfiguration on my part?

[2020-02-04 07:26] astronouth7303 commented on #5069
That'll get you three uds, but doesn't alleviate the port juggling. So it's kind of a mixed bag.

[2020-02-04 08:15] Dmitriy-Chilikin opened #5076 "Error: could not get runtime: could not find a working conmon binary"
I installed podman on Centos 7. I started integration tests and get an error.
[root@localhost libpod]# GOPATH=~/go ginkgo -v test/e2e/.
Failed to compile e2e:

go: github.com/containers/image/v5@v5.1.0 requires
	github.com/docker/go-connections@v0.0.0-20180212134524-7beb39f0b969: invalid version: git fetch --unshallow -f https://github.com/docker/go-connections in /root/go/pkg/mod/cache/vcs/d4d85c

[2020-02-04 09:19] vrothberg commented on #4628
@bipuladh, did you find time to look into this issue?

[2020-02-04 09:22] vrothberg commented on #5071
@giuseppe, can you take a look?

[2020-02-04 12:58] rhatdan commented on #1136
@mccv1r0 Thoughts?

[2020-02-04 13:37] rhatdan commented on #5065
Could you start out with --privileged and see if it works, if yes, then drop back to non-privileged and try with
SELinux disabled, Does it work?
seccomp disabled Does it work?
--cap-add all Does it work?

Basically try to figure out if this is a security thing that is blocking the access.  If I had to guess, I would guess this is something in the network stack NET_ADMIN or worse SYS_ADMIN capabili

[2020-02-04 14:04] astoycos commented on #5045
Agreed, we should list some of the limitations directly on that page.

[2020-02-04 14:46] mheon commented on #4900
Why are we closing this? I'm pretty sure it's still an issue

[2020-02-04 14:46] baude opened #5081 "fix pre-commit to be installed with make install.tools"
We need to make using pre-commit easier to use by making it available in make install.tools.  Unfortunately it is made difficult because it isn't a simple binary of package that can be installed.  Please think of a way this could be made smoother for first time setup.

Thanks @ssbarnea
cc @vrothberg

[2020-02-04 15:12] vrothberg commented on #2791
@saschagrunert, if you have cycles to work on the V2 API, the `/libpod/image/$name/tree` endpoint is no implemented yet (see https://github.com/containers/libpod/blob/master/pkg/api/handlers/libpod/images.go#L40).

The problem with tree is that most of it is done outside of `libpod/libpod` and we want to avoid code duplication by all means. So parts of the work would go into refactoring the tree c

[2020-02-04 15:30] ikke-t commented on #5065
I did:
[code]

but no luck. If I run it with --net=host it  sees the device. Perhaps this is over complicating it, and I just need to allow it the --privileged and --net=host and be done with it. TBH, I don't even know how the bluez should hook up to the given usb device from container. Thanks.

[2020-02-04 15:54] TristanCacqueray commented on #5046
I couldn't reproduce with run:

[code]

However, with this podman version, the podman exec stdin is ignored:

[code]

[2020-02-04 16:04] mheon commented on #5046
Ah, that's the pipe issue - we fixed that in 1.7.0

[2020-02-04 16:05] mheon commented on #5046
The fact that run works means it's probably not a direct problem with attach, but something related to exec. Interesting...

Also, are there objections to using `podman cp` to use this?

[2020-02-04 16:37] rhatdan commented on #5045
I would prefer to just add the link, rather then picking and choosing.  Maybe a paragraph about Podman not allowing access above what a normal user has, and because of this some features in root Podman are not available in Rootless mode.  We are constantly working on workarounds for these shortcomings with the kernel and OpenSource communities, to allow more features in rootless mode.
Then link to

[2020-02-04 17:35] edsantiago opened #5084 "run --workdir=/nonesuch: chdir: No such file or directory: OCI runtime command not found error"
[code]
This is a change in longstanding behavior. I don't know what the correct behavior should be for this case, but it _is_ a difference from docker and from all versions of podman up to now.

podman-1.8.0-0.1.fc31.x86_64
conmon-2.0.10-2.fc31.x86_64

Curiously, I cannot reproduce with podman @ master on f30.

[2020-02-04 17:54] mheon commented on #5084
Could this be runc vs crun?

[2020-02-04 17:54] mheon commented on #5084
Also, expected behavior is that the workdir will be created?

[2020-02-04 17:57] edsantiago commented on #5084
Oh, good call: it could very well be `crun`. Yes, expected behavior is to create the directory:
[code]

[2020-02-04 18:02] mheon commented on #5084
@giuseppe PTAL

[2020-02-04 18:04] mccv1r0 commented on #1136
When I try to reproduce, I get an error ```Error: cannot parse 3e:84:eaab7d:51 as MAC address: address 3e:84:eaab7d:51: invalid MAC address: invalid argument```

Is ```--mac-address=3e:84:eaab7d:51```  the actual syntax?

I am using:

podman version 1.7.0 on Fedora 30

[2020-02-04 18:08] mheon commented on #1136
Is there a missing `:`? `--mac-address=3e:84:ea:ab:7d:51`

[2020-02-04 18:09] mccv1r0 commented on #1136
[code]
I tried with and without double quotes

[2020-02-04 18:10] mccv1r0 commented on #1136
*&%# never mind...  cut/paste error

[2020-02-04 18:19] leier69 commented on #1136
Okai so my issue is the following. Im using this network-conf:

[code]
I want my containers to jump on the bridge and to get a ip from the dhcp, this combined with the `--mac-address` would make it super easy to assign static IP adresses in pfsense which is running a dchp server. My problem is that the dhcp cli plugin
`/usr/libexec/cni/dhcp daemon &` is not presenting the dhcp server with the maca

[2020-02-04 18:21] leier69 commented on #1136
@mccv1r0 @mheon @rhatdan
Thoughts?

[2020-02-04 18:24] mccv1r0 commented on #1136
Things seem to work when using host-local (for a quick test):

[code]
I don't have dhcp plugin setup yet.  While I do that, @leier69, in your failing case, can you run ```ip link show``` (vs inspect) to see what iproute2 thinks the mac address is?

[2020-02-04 18:26] rhatdan commented on #5084
Yuck, I don't like the default.  Basically this ends up with typos creating directories in the container...

[2020-02-04 18:42] mccv1r0 commented on #1136
I still don't have dhcp setup fully, but I might not need to.   Using tcpdump on the bridge, I don't see the right mac address in the dhcp request.  In one window:

[code]
In the tcpdump window, I'd expect to see ```3e:84:ea:ab:7d:aa``` but don't.

[code]

@leier69  Can you verify this on your setup?  That is, run tcpdump on your bridge etc. confirm the mac seen by dhcp server matches tcpdump/cont

[2020-02-04 19:20] leier69 commented on #1136
created issue https://github.com/containernetworking/plugins/issues/450.

Please comment on it to further its progress @mccv1r0

and 1000 times thanks @mccv1r0 ! <3 this gives me hope to have this setup work smoothly

[2020-02-04 19:52] fidencio opened #5087 "label option, from libpod.conf, is not being respected."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When playing with podman + kata, there's the need to always pass `--security-opt label=disable` to `podman-run`. A similar way to achieve that, but for all the containers, would be setting `label = false` in the libpod.conf. However, it doesn't seem to work.

**Steps to reproduce the issue:**

[2020-02-04 20:03] mheon commented on #5087
@rhatdan PTAL. I doubt containers.conf is going to fix this, that's just moving around where we source the config value from.

[2020-02-04 20:10] rhatdan commented on #5087
Well we have an SELinux test right now, and it should be fixed in containers.conf.

[2020-02-04 20:16] rhatdan commented on #4831
@QiWang19 PTAL

[2020-02-04 20:44] rhatdan commented on #4900
I read @giuseppe response to say we won't change the way this works.  If I am mistaken then reopen.

[2020-02-04 20:55] rhatdan commented on #5065
Well can you run with --net=host and locked down?

[2020-02-04 21:22] #5050 closed

[2020-02-05 07:57] bipuladh commented on #4628
@vrothberg I stopped because there is a PR https://github.com/containers/libpod/pull/4772 that works on this issue.

[2020-02-05 08:31] vrothberg commented on #4628
Sorry for not noticing earlier! I dropped a comment that already assigned issues should not be picked up without communicating it.

[2020-02-05 08:56] giuseppe commented on #5084
yes this is a crun vs runc difference.

I can easily change it in crun if we agree on what behaviour makes more sense.

I agree with Dan and I think that `chdir`'ing to a not existing one should raise an error rather than creating it automatically

[2020-02-05 09:00] giuseppe commented on #5076
how have you installed podman?

You also need to make sure conmon (https://github.com/containers/conmon/) is installed

[2020-02-05 09:07] giuseppe commented on #5072
we try to lower the pids limit to 1 when we remove a pod, but it is just an error we print to stdout, and it doesn't block the `podman rm` execution.

It happens only when there is no access to the cgroup (such as rootless with cgroupfs), so I think it is fine to leave it.

A simple reproducer is: `podman --cgroup-manager cgroupfs pod create --name=foo && podman --cgroup-manager cgroupfs pod  rm f

[2020-02-05 09:09] giuseppe commented on #5071
it is just a warning printed by crun, but that doesn't block the execution for the container.  I think it is worth to warn users they cannot use cgroup.

[2020-02-05 11:09] s-winter opened #5091 "podman run chokes on --memory-swap=-1"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am trying to use podman as a docker replacement in a project, where we make use of docker's memory accounting functions. For docker, I can specify --memory-swap=-1 to allow unlimited swap up to the amount available on the host. According to the podman-run man page, the behavior should be id

[2020-02-05 11:24] shyam-biradar opened #5092 "podman pull from dockerhub fails - error reading manifest"
Containers built with buildah and pushed to dockerhub through podman, are not able to pull from dockerhub.
Throwing following error:
[root@kvm docker]# podman pull docker.io/trilio/trilio-datamover:testosp16
Trying to pull docker.io/trilio/trilio-datamover:testosp16...ERRO[0000] Error pulling image ref //trilio/trilio-datamover:testosp16: Error initializing source docker://trilio/trilio-datamover:

[2020-02-05 11:26] shyam-biradar commented on #5092
[root@kvm docker]# podman --log-level=debug pull docker.io/trilio/trilio-datamover:test1osp16
DEBU[0000] Initializing boltdb state at /var/lib/containers/storage/libpod/bolt_state.db
DEBU[0000] Using graph driver overlay
DEBU[0000] Using graph root /var/lib/containers/storage
DEBU[0000] Using run root /var/run/containers/storage
DEBU[0000] Using static dir /var/lib/containers/storage/libpod
DEBU[0

[2020-02-05 12:02] shyam-biradar commented on #5092
My bad. It was incorrect tag I was using to pull the image.

[2020-02-05 12:02] shyam-biradar commented on #5092
Closing the issue.

[2020-02-05 12:03] #5092 closed

[2020-02-05 12:03] shyam-biradar commented on #5092
Works for me.

[2020-02-05 12:13] saschagrunert commented on #2791
Thanks, working on this one in https://github.com/containers/libpod/pull/5093

[2020-02-05 13:12] edsantiago commented on #5034
I'm seeing this again on rawhide, but (1) on `podman run [without --rm]` and `podman rm` (not just `run --rm`) and (2) not reliably:
[code]

[code]
Somewhat reliable reproducer:
[code]
podman-1.8.0-0.3.dev.git5092c07.fc32.x86_64
crun-0.12-1.fc32.x86_64

[2020-02-05 13:19] vrothberg commented on #5034
FYI @mheon @baude

I am currently deep in the CVE backporting and won't find time to tackle this today.

[2020-02-05 13:25] Michael-Angel-Sec commented on #4750
Thank you, I appreciate your secure by default position.   I appreciate these areas to focus on.

[2020-02-05 13:25] #4750 closed

[2020-02-05 13:33] groovyman opened #5094 "Correct systemd configuration for rootless containers // mkdir /run/user/1001: permission denied"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I am trying to control the start/stop process of a rootless container with systemd. Yesterday Matthew was so nice to help me with #5057. The i checked these useful links:

- [document](https://podman.io/blogs/2018/09/13/systemd.html)
- [redhat-doc](https://www.redhat.com/sysadmin/podman-sharea

[2020-02-05 14:20] boaz0 commented on #4628
@bipuladh I am really sorry that I missed your comment asking to work on this. If you want you can continue working from where I stopped (I don't mind mentoring you - contact me via email: bshuster -at- redhat).

@vrothberg this wasn't intentionally and I'm really sorry. I know it's my fault that I didn't read the thread carefully but may I suggest adding the "assigned" tag to issues so I could fi

[2020-02-05 14:24] vrothberg commented on #4628
That's an honest mistake, which can happen. Don't worry, @boaz0! I think you should continue working on it, given there's already the open PR.

Did you have a look at GitHub search syntax (see below)? I believe it's possible to look for unassigned issues. Anyhow, even a label still requires to read the issue and the comments.

https://help.github.com/en/github/searching-for-information-on-github/s

[2020-02-05 14:38] ikke-t opened #5097 "firewall rules are left behind, breaks networking from new pods using the port"
/kind bug

**Description**

Podman seems to occationally fail to remove port DNAT rules from iptables while pod is stopped. This causes double entries for the same DNAT ports while the same pod comes back as new one. But the older rules takes preceedence, leading all the incoming traffic being DNATted to old ip.

Firewall is still iptables on this fedora 29.

**Steps to reproduce the issue:**

1.

[2020-02-05 14:44] ikke-t commented on #5097
This makes me think, does this actually survive reboots? I rebooted today as I thought it could have fixed the problem, but the problem remained. So could it be such ghost rules are left into podman database and would get recreated at the next boot?

[2020-02-05 14:48] mheon commented on #5034
Are we sure what's sending these SIGURGs?

There is a narrow timing window when they could be coming in, after the container dies but before we retrieve the exit code and exit, which would cause this.

[2020-02-05 14:49] edsantiago commented on #5034
I'm not sure of anything. I have no idea what's going on here. What info can I provide?

[2020-02-05 14:50] mheon commented on #5034
Running something in the container that catches signals and prints when they're received, then seeing if a container in steady-state is getting any, might help; I'm wondering if this is something caused by the container exiting, or we just have something hitting us with SIGURG

[2020-02-05 14:52] mheon commented on #5097
I don't *think* they should survive reboots - we do call into CNI immediately after reboot, but it's to tear down any networks that survived reboot, which should only be deleting rules.

[2020-02-05 14:53] mheon commented on #5097
(It's not strictly necessary to do that for IPTables, but we need it to clear other state - notably static IP allocations)

[2020-02-05 14:54] mheon commented on #5097
@vrothberg Poke - does that systemd unit look suspect? I'm wondering if the cleanup process is being killed before it can clean up the network

[2020-02-05 14:56] edsantiago commented on #5034
Oh, interesting:
[code]

[2020-02-05 14:58] boaz0 commented on #4628
@vrothberg - that's actually cool, I didn't know Github has its own search syntax.
Thank you.

[2020-02-05 15:00] vrothberg commented on #5097
That might be the case, especially as `KillMode=none` is not set but important. I suggest following the presented approach for creating systemd services in a recent blog post:
https://www.redhat.com/sysadmin/podman-shareable-systemd-services

[2020-02-05 15:13] mheon commented on #5091
Hmmm. We might be specifying this as an unsigned integer, when we shouldn't be.

[2020-02-05 15:23] edsantiago commented on #5034
And:
[code]
(Note that in the above I deliberately do not trap 2)

[2020-02-05 15:24] ikke-t commented on #5097
Thanks, I added the killmode switch, let's see. I'll modify my ansibles to have the other additions too.

[2020-02-05 15:43] groovyman commented on #5094
As i mentioned it in my previous post, the reboot of the host was still in progress, while the podman tries to launch the container, that has been stored on  the users-home directory. As a consequence of this, the `/run/user/1001 ...` is not ready to run the podman.
In the issue #5057 Matthew gave me a nice introduction of their process, that checks, if a reboot has occured.

As a consequence of t

[2020-02-05 15:45] vrothberg commented on #5094
I am re-opening as this is something the generated service files should include. Thanks for the nice summary!

[2020-02-05 16:30] rhatdan commented on #5072
@edsantiago are you fine with this?

[2020-02-05 16:31] rhatdan commented on #5071
Can we drop this down to Warning, and only display it if the user wants warning messages?

[2020-02-05 16:34] edsantiago commented on #5072
Not really. It is an error message, clearly labeled `Error`, and exits nonzero. I don't think end users will appreciate this.

[2020-02-05 16:36] mheon commented on #5072
We probably should not be trying to make cgroups in the first place on rootless with cgroupfs in v2 - I'm amazed we aren't getting errors trying to create the cgroups in the first place

[2020-02-05 17:09] rhatdan commented on #5084
I am closing this since, I see this as a Bug in runc/docker, not something we should fix.

[2020-02-05 17:09] #5084 closed

[2020-02-05 17:12] rhatdan commented on #5072
I think the bug here is that this is attempting to write to cgroups on a non running container.  We should not be doing this.

[2020-02-05 17:14] #4877 closed

[2020-02-05 17:20] edsantiago commented on #5071
Update: problem does not occur with `loginctl enable-linger testuser`

[2020-02-05 17:20] edsantiago commented on #5072
Update: problem does not occur with `loginctl enable-linger testuser`

[2020-02-05 17:34] ikke-t commented on #5097
Hmm, I'm reading the blog, which is good, but one thing caught my eye. You have ```podman stop -t 10``` for timeout, but in the lower sample you have ```podman rm -f``` without any timeout. Woud it make sense to first stop it with something that has timeout, and then run the rm, just to make sure the rm doesn't take forever or being executed too early?

like:
[code]

as the rm command doesn't seem

[2020-02-05 19:12] rhatdan commented on #5097
I believe podman rm -f will send the stop signal and wait 10 seconds by default before killing the container.

[2020-02-05 20:07] ikke-t commented on #5097
ok, behaviour is just different. So if one wants to select the time for whatever reason, then separate stop first allows to do that.

I still had one occurrence of this problem even after adding the KillMode=none. I added now the pid and cid too from blog, and told the pid to systemd. Let's see if it helps.

[2020-02-06 00:56] medyagh opened #5100 "how could I build or download latest version for mac?"
Hi I am trying to add podman as a driver to minikube, and I because I am running systemd in container I need to try to see if "--cgroup-manager cgroupfs" will fix my problem however the podman available on brew is only 1.6 and it does not have --cgroup-manager

how could I build or download latest version for mac ? is it possible to add mac binary to release page ?

I also tried to build it myself

[2020-02-06 01:43] medyagh opened #5101 "--cgroup-manager option is missing from mac version"
while trying to add podman driver for minikube https://github.com/kubernetes/minikube/pull/6515
I noticed on mac
[code]
podman version:

[code]

[2020-02-06 03:07] mheon commented on #5101
This is intentional; global configuration flags like `--cgroup-manager` are server-side only, and should be configured on the Podman service there.

[2020-02-06 05:31] medyagh commented on #5101
ok makes sense !

[2020-02-06 05:31] #5101 closed

[2020-02-06 05:37] medyagh opened #5102 "how to install newer version of podman in centos or ubuntu ?"
I have been trying to do anything I can to install a newer version of podman ! I thought switching to centos would help !
but I cant get better than 1.4 from the package managers.

whats is the right way of installing latest version of podman on linux the instructipns on the website dont get me more than 1.4

I need that because there is a bug that podman cp , makes a new directory instead of copy

[2020-02-06 07:57] medyagh opened #5103 ""Permission denied !" on a binary that has permission !"
while doing this PR to add podman as a driver to minikube (which will run a systemd inside a container using podman)
 https://github.com/kubernetes/minikube/pull/6515

I noticed the binary files that minikube copies into the podman container, are not executable.
[code]

[code]

because I had other issues with `podman cp` command
I decided to go into the container myself and use `wget` to download

[2020-02-06 08:28] nefigtut commented on #4900
errr.... the issue is not resolved. i believe, binary hacking bolt_state.db to make a container run is not a solution. as mentioned, it would be great to have, at least, `--ignore-unexisting-mounts` for `podman start` or something alike.

[2020-02-06 08:29] giuseppe commented on #5071
the log level is not passed down to the OCI runtime (and there is no way in the OCI specs to do so).

I'll drop the warning from crun.

[2020-02-06 09:05] giuseppe commented on #5072
I think we should not make setting pids.max=1 an error.  It is a best effort protection and a warning should be enough.

[2020-02-06 10:06] eoli3n commented on #1908
Found this : https://www.redhat.com/sysadmin/rootless-podman-nfs
Tried but still

[code]

[2020-02-06 10:09] disaster123 commented on #4289
@semrekkers I have exactly the same issue - how did you solve it?

[2020-02-06 10:40] lfarkas commented on #5046
is there any newer version for el7? it's getting more and more annoying...even on fedora and on rhel/centos-7 it not possible to load a mysql/mariadb dump into container. isn't it a basic feature?

[2020-02-06 12:21] alitvak69 commented on #4937
@lsm5 Podman 1.8 had been removed from testing repo.  Neither source not .deb are available.

[2020-02-06 12:34] disaster123 commented on #4924
@baude @grzegorzk
I have the exact same error on Debian Buster  - conmon wants to set /proc/self/oom_score_adj to -1 which is not allowed - how to fix this?

[2020-02-06 13:24] zhuguoliang opened #5105 "veth lost carrier during conmon"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.  podman run -d --rm --sysctl net.ipv6.conf.all.disable_ipv6=1 --security-opt=seccomp=unconfined -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" 68f439d43b4d
Note that 68f439d43b4d is a container built locally with Containerfile's content:

2. po

[2020-02-06 13:41] warpfork opened #5106 "podman-play-kube link in readme is broken"
/kind bug

**Description**

The README in the ["out of scope" section](https://github.com/containers/libpod#out-of-scope) has a reference to

wherein the link points to `https://github.com/containers/libpod/blob/master/docs/podman-play-kube.1.md`, but no such document exists.

[2020-02-06 13:51] rhatdan commented on #5106
Link should be changed to:
https://github.com/containers/libpod/blob/master/docs/source/markdown/podman-play-kube.1.md
Interested in opening a PR to change this?

[2020-02-06 14:16] mheon commented on #5105
@adrianreber PTAL

[2020-02-06 14:20] rhatdan commented on #5102
@lsm5 Please respond?

[2020-02-06 14:23] rhatdan commented on #5103
Could you check if this is an SELinux issue? setenforce 0?
Could this be seccomp blocking it?

[2020-02-06 14:25] mheon commented on #5103
Does minikube has file capabilities? That could conflict with no new privileges

[2020-02-06 14:28] rhatdan commented on #5072
I agree.

[2020-02-06 14:38] mheon commented on #5046
Fedora definitely has a version with a fix for the pipes issue with run, though we're still not sure what's going on with exec here.

I believe there is an updated repo for EL7 that has more up-to-date versions of Podman; @lsm5 poke

[2020-02-06 14:58] rhatdan commented on #1908
Yes we have a PR for this in container storage, but have not been able to get back to it.

https://github.com/containers/storage/pull/518

[2020-02-06 15:13] rhatdan commented on #4924
Isn't this just a warning?

[2020-02-06 15:22] disaster123 commented on #4924
Might be the last lines podman is printing are:
DEBU[0000] ExitCode msg: "sd-bus add match: operation not permitted: oci runtime permission denied error"
ERRO[0000] sd-bus add match: Operation not permitted: OCI runtime permission denied error

[2020-02-06 15:24] goneri commented on #5046
@mheon, Podman 1.7.0-2 from Fedora is also broken:

[code]

[2020-02-06 15:24] rhatdan commented on #4924
Not sure they are related.  I think the error is not able to communicate with the systemd dbus?

[2020-02-06 15:28] disaster123 commented on #4924
Mhm looks like this one https://github.com/containers/libpod/issues/4289 but DBUS_SESSION_BUS_ADDRESS is set and permissions are ok

[2020-02-06 15:29] rhatdan commented on #4924
@giuseppe Ideas?

[2020-02-06 15:36] disaster123 commented on #4924
Log Level debug and even the Journal do not show more infos.

[2020-02-06 16:36] adrianreber commented on #5102
CRIU's CI using Podman also fails because it is no longer possible to install Podman from the stable kubic repository.

In the podman dependency tree there is the package containers-image but apt says:
[code]

[2020-02-06 16:38] adrianreber commented on #5105
A couple of weeks ago exactly this was working for you, right? #4779

What has changed since #4779 used to work?

[2020-02-06 16:38] AkihiroSuda opened #5108 "suggestion: rename `podman service` to avoid conflict with `docker service`"
`podman service`  looks as if it was Podman's implementation of `docker service`.

I suggest renaming `podman service` to `podman daemon`, because it seems actually reimplementation of `docker daemon` that had existed in Docker 1.10 and prior versions.

[2020-02-06 16:40] mheon commented on #5108
We're trying to avoid running this as a daemon (using systemd socket-activation, and having a timeout on the command so it's not always on), so `podman daemon` is probably a bad idea, but I'm not opposed to renaming to ensure we don't conflict.

[2020-02-06 16:41] mheon commented on #5108
If so, we should do this quick, before we cut a 1.8.0 final and formalize the name in an official release

[2020-02-06 16:41] mheon commented on #5108
@baude @rhatdan @vrothberg PTAL

[2020-02-06 16:42] AkihiroSuda commented on #5108
Or maybe `podman system service`

[2020-02-06 16:43] vrothberg commented on #5108
`podman listen`?

Thanks for pointing that out, @AkihiroSuda !

[2020-02-06 16:59] disaster123 commented on #4924
Details:
[code]

[code]

journal
[code]

[2020-02-06 16:59] aucampia commented on #4057
I had to do `podman system reset -f` after reboot.

[2020-02-06 17:12] rhatdan commented on #5108
Why would podman service conflict with docker.service?

[2020-02-06 17:13] rhatdan commented on #5108
Podman is not listening by default at docker.sock, If you install podman-docker, it will create a linkfile between /run/docker.sock and /run/podman.sock.  But podman-docker conflicts with docker-* packages.

[2020-02-06 17:14] vrothberg commented on #5108
There's a `docker service` command -> https://docs.docker.com/engine/reference/commandline/service/

[2020-02-06 17:19] rhatdan commented on #5108
So this is their replacement for dockerd?  If it is, then podman service makes sense.  Except for not listening on docker.sock?

[2020-02-06 17:20] mheon commented on #5108
No, it's a swarm command, AFAIK - it launches a service via swarm

[2020-02-06 17:21] rhatdan commented on #5108
Well we have said we will not support Docker swarm, does it matter we have the same name?

[2020-02-06 17:21] Gigadoc2 commented on #3967
Do note that this now results in volumes created with older versions of podman (those that do not show up with a `DRIVER` in `podman volume list`) being deleted when used in combination with `podman run --rm`, even though they are explicitly named.

[2020-02-06 17:22] mheon commented on #5108
Potential confusion? I'd prefer not to knowingly conflict with Docker commands if we can afford not to

[2020-02-06 17:26] mheon commented on #3967
Will be fixed in 1.8.0. Unfortunately, that fix also has to go a little far to the other side (even unnamed volumes from old Podman versions will not be removed) - but this is safer than removing volumes that we shouldn't.

[2020-02-06 17:26] rhatdan commented on #5108
Fine, except that if we come up with a strange name for this service.
podman restapi
podman server

[2020-02-06 17:28] mheon commented on #5108
`podman server` sounds good to me

[2020-02-06 17:28] mheon commented on #5108
`podman system service` also works for me

[2020-02-06 17:30] rhatdan commented on #5108
Yes I like keeping it under system.

[2020-02-06 17:30] medyagh commented on #4769
@rhatdan @matihost

I still have this issue on ubuntu 19.10 in google cloud

[code]

would you guys please test the documentation on the website

[2020-02-06 17:32] medyagh commented on #5102
it worth noting the issue I had created a while ago and was closed is still happening (related)
https://github.com/containers/libpod/issues/4769#issuecomment-583018538

[2020-02-06 17:40] vrutkovs opened #5109 "`podman run --detach` doesn't start the process, not known to `podman inspect`"
/kind bug

**Description**

During OKD bootstrapping on Fedora CoreOS 31 `etcd-signer` container is started in a detached mode:
[code]

Occasionally (~60% of all runs) this container is reported as started, but `podman logs -f <id>` immediately exists and `podman inspect <id>` returns
[code]

Other `podman run`s are not using detached mode and work as expected.

**Output of `podman version`:**

[c

[2020-02-06 17:51] #5091 closed

[2020-02-06 18:00] mheon commented on #5109
Can you provide the full command? It seems like part of it was cut off.

Is there any delay between running `podman run` and `podman inspect`? I don't think this can race (`podman run` is guaranteed to have updated the DB with the new container before exit) but this definitely sounds like some form of race

[2020-02-06 18:01] mheon commented on #5109
And to confirm, `--rm` is not in play here, yes?

[2020-02-06 18:15] lsm5 commented on #4769
@medyagh you're using the OBS repos and not the ppa, yes?

[2020-02-06 18:19] bruceg opened #5110 "podman images --format incompatibility with docker"
/kind bug

**Description**

The tags available in the `podman images --format` option is incompatible with docker. In particular, docker has both `{{.CreatedAt}}` and `{{.CreatedSince}}` while podman has neither but has `{{.Created}}` instead.

**Steps to reproduce the issue:**

1. `docker images --format '{{.CreatedAt}}'`

2. `podman images --format '{{.CreatedAt}}'`

**Output of `podman version`

[2020-02-06 18:20] lsm5 commented on #5102
i see this issue, working on it...

[2020-02-06 18:30] vrutkovs commented on #5109
Full command (just some params for `etcd-signer` binary in container):

[code]

Any pointers how to get more info? `--log-level=debug` should be sufficient I guess?

[2020-02-06 18:33] vrutkovs commented on #5109
Correct, we don't use `--rm` here. In fact before this we have
[code]
but it don't do anything, because `podman run --detach` exits with 0

[2020-02-06 18:40] mheon commented on #5109
Can you get logs for the system in question? Journal might contain events for the etcd-signer container, might indicate if something removed it?

[2020-02-06 18:40] semrekkers commented on #4289
@disaster123 I upgraded to Ubuntu 19.10 later and didn't have this issue there, still don't know what exactly caused it

[2020-02-06 18:45] lsm5 commented on #5102
Fixed.

Leaving the older packaging sources on OBS ended up confusing it so it didn't build anything. I will now rename packaging source files with a `.old` extension on update. /cc @alitvak69

Let me know if the issue still persists.

[2020-02-06 18:46] rhatdan commented on #5110
@QiWang19 PTAL, I wonder if an alias exists for this type of thing.

[2020-02-06 18:47] rhatdan commented on #5110
@bruceg If you were interested in opening a PR to fix this, it would be welcomed...

[2020-02-06 19:07] grzegorzk commented on #4998
I was digging a bit more and finally landed at the correct documentation here: https://www.freedesktop.org/software/systemd/man/systemd.exec.html#Capabilities

Indeed `Capabilities` is not supported anymore and also what's left over will not work for non-system services.

[2020-02-06 19:27] mheon commented on #5109
I got into a system where this occurred. The container in question was no longer present in c/storage and was no longer mounted, but the container process and Conmon were both still running. I'm really confused as to how this is possible, as I imagine there would be some sort of in-use error trying to unmount an overlay with a container actively running on top of it.

[2020-02-06 19:37] vrutkovs commented on #5109
The bootstrap node also has:
* kubelet which inspects this storage:
[code]
* crio 1.17.0 (using `runc`). I'll collect logs for crio to check if it messes with the storage

[2020-02-06 19:39] disaster123 opened #5113 "rootless podman fails with: sd-bus add match: Operation not permitted: OCI runtime permission denied error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

unable to start rootless container. It always fails with:
[code]

**Steps to reproduce the issue:**

1. install podman on debian buster 10 from opensuse kibec

2. run podman --log-level=debug run --rm nginx

**Describe the results you received:**

ERRO[0000] sd-bus add match: Operation not pe

[2020-02-06 19:42] disaster123 commented on #5113
@giuseppe IRC said i should ping you on this if you have any ideas why systemd rejects it

[2020-02-06 19:54] vrutkovs commented on #5109
same command with `--log-level=debug`:

<details>
<summary>Details</summary>
[code]
</details>

[2020-02-06 20:00] adrianreber commented on #5102
CRIU's CI can again install podman on Travis (Ubuntu 18.04).

[2020-02-06 20:06] adrianreber opened #5114 "ERRO[0000] User-selected graph driver "overlay" overwritten by graph driver "vfs" from database - delete libpod local files to resolve"
CRIU is running Podman based checkpoint/restore tests in Travis. Because the Travis kernel is broken for checkpoint/restore on overlayfs we switched to VFS:

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1857257

To tell Podman to use VFS I am running `podman --storage-driver vfs info` first before running any other Podman command. This used to be good enough to initialize Podman to use VFS

[2020-02-06 20:07] lsm5 commented on #5102
@medyagh RE: centos, podman 1.8.0 has been built for centos 7 and 8 but I'm fixing some dependencies for centos8 atm. Will update docs once it's done.

[2020-02-06 20:15] mheon commented on #5114
This is the result of storage.conf still having `overlay` set, while the database contains `vfs` from your initial `podman info` command. The database wins, but this could be very confusing for users (your configuration file is being overridden), so we write errors.

[2020-02-06 20:28] Gigadoc2 commented on #3967
After having kind of lost a Nextcloud installation today, I fully agree with you on that 😅

[2020-02-06 21:09] afbjorklund commented on #5101
I think some of the confusion here comes because `podman-remote` is called podman on the Mac...

For boot2podman, the regular ISO uses "cgroupfs" whereas the fedora ISO uses "systemd".
There isn't really a way to change it before boto, except for rebuilding the images I suppose.

Will bring it over to minikube, since kubeadm wants systemctl - I think it is better off using Fedora.

[2020-02-06 21:39] vrutkovs commented on #5109
Right, so its crio confused by podman containers:
[code]

[2020-02-06 21:51] mheon commented on #5109
@haircommander Looks like this one's a CRI-O problem, then

[2020-02-06 21:51] haircommander commented on #5109
/assign

[2020-02-06 21:51] haircommander commented on #5109
I'll look at this either tomorrow or next week :smile:

[2020-02-06 22:03] #5108 closed

[2020-02-06 22:19] LorbusChris commented on #5109
xref: https://github.com/openshift/okd/issues/52#issuecomment-583136736

[2020-02-06 22:59] hickeycm commented on #4511
This occurs because macOS Gatekeeper automatically applies the `com.apple.quarantine` extended attribute on the binary because the application is not notarized. See the Apple support page [Safely open apps on your Mac](https://support.apple.com/en-us/HT202491) for more information.

You can see that this is the case by viewing the extended attributes of the binary.

[code]

To resolve the issue, y

[2020-02-06 23:20] mfonner opened #5121 "Container hanging on start"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After updating a RHEL 8.1 VirtualBox VM, my container hangs on startup.

**Steps to reproduce the issue:**

1. Power on system

2. run "sudo podman start bitwarden"

**Debug output**

[code]

**Describe the results you expected:**

 I expected the container to boot as normal. This same behavi

[2020-02-06 23:22] mheon commented on #5121
Can you provide the command used to make the Bitwarden container?

[2020-02-06 23:23] mfonner commented on #5121
After pulling it, I ran the following:

`sudo podman run -d --name bitwarden -v bw-data:/data/:Z -e ROCKET_PORT=8080 -p 80:8080 bitwardenrs/server:latest`

[2020-02-06 23:24] mheon commented on #5121
Can you run `podman system renumber` and retry?

[2020-02-06 23:27] mfonner commented on #5121
That seemed to do it, apologies for any lack of troubleshooting/understanding on my end for that.

[2020-02-06 23:37] #5121 closed

[2020-02-07 01:20] medyagh commented on #5102
@lsm5 thank you for such a fast response, I will try later tonight, is the documentaiton up to date ? if i follow line by line will it get me something working on centos ?

and is it also fixed on ubuntu ?

[2020-02-07 01:21] medyagh commented on #5103
interestingly it only has this issue in /var/lib folder but if I move it to /usr/local/bin I can execute it !

[2020-02-07 02:24] lsm5 commented on #5102
ubuntu works with the current docs.

docs for centos7 aren't updated yet, but you can do this as root to install podman:
[code]

still working on solving dependency issues for centos8.

[2020-02-07 04:22] zhuguoliang commented on #5105
Yes, but somehow it stopped working now, I disabled IPV6 by adding --sysctl net.ipv6.conf.all.disable_ipv6=1 to the run command. I wonder if the printed log in syslog leads directly to the problem of ipv6 support.

[2020-02-07 04:36] medyagh commented on #5102
@lsm5  I confirm doing this works on centos 7:
run as root:
[code]

[code]

@lsm5 can you plz double check the ubuntu instructions ? last night I tried it on two different ubuntu versions 19.10 and 18.04 on google cloud VMs and they didnt work to install podman if followed instructions from site

[2020-02-07 04:56] medyagh commented on #5102
on debian 10 I could get podman 1.7
but on centos 7 I get 1.8

1.8 has a bug in it

it would be nice to have option to install whatever version u wish or be consistant across all platforms.

[2020-02-07 04:59] AkihiroSuda commented on #4935
Maybe slirp4netns process crashed ?

[2020-02-07 06:32] adrianreber commented on #5114
Is the only way around this modifying storage.conf?

[2020-02-07 07:05] marty30 commented on #1925
Is there any progress on this issue? I was looking for a rename feature in a blue-green-deploy. First start a new container with a postfix. Update het mapping in our loadbalancer. Remove the old container. And finally rename the new container to the old one to het back in the original situation without hardly any downtime (only the time that the mapping was updated). For this usecase An alias woul

[2020-02-07 08:52] medyagh commented on #5102
@lsm5 I just tried the ubuntu instructions on the site

. /etc/os-release
sudo sh -c "echo 'deb http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list"
wget -q https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/xUbuntu_${VERSION_ID}/Release.key -O- | sudo apt-ke

[2020-02-07 09:14] siscia commented on #2654
Cheers guys!

Is this flag still supported?

[code]

We are having some internal discussion and knowing the plan for this specific features would help us.

[2020-02-07 09:18] vrothberg commented on #2654
@siscia, it's podman **run** --rootfs.

[2020-02-07 09:39] siscia commented on #2654
Awww many thanks!

Actually how do I use it?

[code]

Where `/home/smosciat/tmp/redis6_rootfs` is a directory that contains an exploded filesystem generated using Singularity.

[code]

[2020-02-07 09:42] vrothberg commented on #2654
I assume that runc/crun are complaining because they do not know what do execute, so we need to specify a command:
`$ ./bin/podman run --rootfs /home/smosciat/tmp/redis6_rootfs /usr/bin/ls` for instance

[2020-02-07 09:48] siscia commented on #2654
Wonderful! We could kinda improve the error message!

Anyway this is very interesting for us!

[2020-02-07 09:50] vrothberg commented on #2654
Glad that it's working for you!

[2020-02-07 11:23] gh67uyyghj opened #5124 "Please add some examples for libpod"
Thanks for making libpod and podman possible. I spent hours trying to understand how to just make something that is equivalent to ` ContainerCreate()` and `ContainerStart()` in docker go-client without making it (mostly via reading cmd/podman). Please add some documentation about how to pull images and run a container. Maybe I am just stupid but honestly the lack of well documented API will limit

[2020-02-07 12:44] TomSweeneyRedHat commented on #5124
@gh67uyyghj Glad you were able to work through it all and get stuff working.

We have a number of tutorials on https://podman.io, I don't know if you happened across those or not.  We also have an introductory tutorial in the project at https://github.com/containers/libpod/tree/master/docs/tutorials along with a few others.

If you've suggestions for other documentation that you think would be hel

[2020-02-07 13:14] rhatdan commented on #5103
Is /var/lib directory mounted with the noexec option?

[2020-02-07 13:22] lfarkas opened #5127 "timezone hack no longer working"
with the latest and greatest (?!?) podman-1.7.0-2.fc31.x86_64 on fedora the old trick to set the proper timezone no longer works. until now we able to run with this eg for the official mariadb docker container:
`podman run --rm -ti --name mariadb --env-file .env -v /etc/localtime:/etc/localtime:ro --net host -v /srv/mariadb/db:/var/lib/mysql:Z -v /srv/mariadb/init:/docker-entrypoint-initdb.d:ro -v

[2020-02-07 14:00] rhatdan commented on #5127
Is this a crun versus runc issue?
Did this work on f31 before and now it does not?

[2020-02-07 14:02] rhatdan opened #5128 "Add flag to podman run/create to automatically set the timezone in container to match host."
Something like?
--tz host
--tz image

Then in containers conf, we could allow setting this by default.

Thoughts?

[2020-02-07 14:06] vrothberg commented on #5128
Sounds great (also getting it into the containers.conf). I prefer a longer `--timezone` flag.

[2020-02-07 14:09] mheon commented on #5114
I think removing it would also work, but that might prevent us from locating the correct base directory for Podman files.

[2020-02-07 14:16] lfarkas commented on #5127
i don't know:-)

yes it was worked before and still working on el7 but no longer on the latest podman on fedora.

[2020-02-07 14:19] TomSweeneyRedHat commented on #5128
I don't know, tz == twilight zone right?  I like the idea, but prefer the longer option.  I'd be fine if we allowed both though.

[2020-02-07 14:19] vrothberg commented on #5127
@edsantiago, have you seen that?

[2020-02-07 14:20] mheon commented on #5127
What is this command supposed to do? Is it setting the timezone in the container, or on the host? What's the intended behavior, and how do we verify it is working/not working?

[2020-02-07 14:20] yamrzou commented on #3323
I'm encountering the same issue when running the following, even after removing  `~/.config/containers/storage.conf` :

[code]

[2020-02-07 14:21] mheon commented on #3323
Can you provide `podman info` (and `podman pull --log-level=debug` for the image in question)?

[2020-02-07 14:24] mheon commented on #5128
I think the acronym is pretty well established, so I doubt we run into conflicts. My only question is how much work is involved - is this just an extra file to make and mount into the container, like `resolv.conf`? Does it differ at all between distros?

[2020-02-07 14:29] yamrzou commented on #3323
My bad, turns out pulling the image exited correctly, it's just that I run `podman container run` and the container has no output, so I thought it was stuck on "Storing signatures".

[2020-02-07 14:32] vrutkovs commented on #5109
https://github.com/cri-o/cri-o/pull/3227 should fix that (crio 1.17 didn't get the fix for that).

I guess its worth closing the bug (the whole situation is not podman's fault anyway)

[2020-02-07 14:32] MK27 commented on #4834
Sorry for the delay gang.

How would you like me to test it?

[2020-02-07 14:34] rhatdan commented on #5128
I have similar concerns.  It could be just injecting the hosts TZ Environment, but copying the contents of /etc/localtime into container private data might be required as well.

[2020-02-07 14:34] mheon commented on #5109
If I learned one thing from this, it's that it's possible to unmount and remove a running container from c/storage. Didn't think the kernel would even allow that to happen.

[2020-02-07 14:34] mheon commented on #5109
I'll go ahead and close, though, given the solution being in CRI-O land

[2020-02-07 14:34] #5109 closed

[2020-02-07 14:35] mheon commented on #5103
Can you run `mount` in the container and provide the output?

[2020-02-07 14:36] mheon commented on #5103
I think this is probably a volume mount of `/var` or `/var/lib` - you may need to add the `exec` option onto the volume mount

[2020-02-07 14:36] edsantiago commented on #5127
I wonder if this is a symlink issue? on f31 with podman-1.8.0-0.1.fc31 :
[code]
(Translation: it works just fine with alpine, which has no `/etc/localtime`)

It also works perfectly fine with `fedora`, ,which has a relative path:
[code]
It does not, however, work with `mariadb:10`. The container symlink does not get overriden:
[code]

Without delving too deeply into it, the dig difference I see is

[2020-02-07 14:39] edsantiago commented on #5127
(Note: I do not see the `mkdir` error, and am ignoring all the other non-TZ-related stuff in the original post because the title specifies TZ. If there are other errors, they may need their own issues filed)

[2020-02-07 14:50] mheon commented on #5124
In API terms:

The Go API for Libpod is still not what I'd call stable. We have ambitions of making it stable, hopefully within the next year, but that's still a ways away.

We are presently in the process of building an HTTP API with both Docker-compatible endpoints (to allow applications that formerly used the Docker socket to continue functioning) and new Libpod-specific endpoints to expose our

[2020-02-07 14:58] mheon commented on #1925
It's on the agenda, but not an immediate priority - for now, all of our effort is going into the new HTTP API.

[2020-02-07 15:20] rhatdan commented on #5109
I wonder if he mount point is in a different mount namespace, which is why it is allowed.

[2020-02-07 15:48] gh67uyyghj commented on #5124
Thank you @TomasTomecek @mheon for the really quick response. I was trying to explore libpod and replace docker go-client with it since I wanted to use the pod feature and interact directly with network namespace with netlink since I guess this is not possible with network namespaces used by Docker.

Anyway it seems I just came too early but the project seems really promising especially for applic

[2020-02-07 15:48] #5124 closed

[2020-02-07 16:29] marshallford opened #5130 "build from source error: undefined: iopodman.ContainerStats"
/kind bug

**Description**

I'm running into an error when building `podman-remote` from source.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Successful build, similar to `v1.7.0`?

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**O

[2020-02-07 17:57] lsm5 commented on #5102
The instructions mentioned at https://podman.io/getting-started/installation worked for me on ubuntu 19.10. Could you please post the exact error that you see?

I think I can ensure version consistency for all distros, but picking any version you want (I'm told) isn't doable with OBS.

[2020-02-07 17:59] lsm5 commented on #5102
ah yup, that extra `apt-key add` needs to be removed. I'll PR for that, thanks

[2020-02-07 18:09] lsm5 commented on #5102
@medyagh I'll be removing the podman 1.8.0 rpm from the stable repo and building a new 1.7.0 (assuming it lets me), so, brace for impact

[2020-02-07 18:42] yangm97 opened #5131 "podman logs crash"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Sometimes, `podman logs` crashes saying it has run out of memory. Looks like it's trying to load the whole file in RAM, and crashes when it doesn't fit.

**Steps to reproduce the issue:**

1. Have a container to generate a log file that is bigger than the available RAM
2. `# podman logs -f --

[2020-02-07 18:45] mheon commented on #5131
Eek. We may be reading the entire file into memory...

[2020-02-07 18:50] ErichDonGubler commented on #4905
I was able to work around this issue in Fedora 31 by installing the `buildah` package, which as I understand it is then used by an installed `podman` package.

[2020-02-07 18:53] cpanato commented on #4414
This is still open for contributions? If yes what's is missing?

[2020-02-07 19:19] baude commented on #5131
@mheon we did that intentionally ... waiting for and hoping this would never be the case.  ill take this one

[2020-02-07 19:50] lsm5 commented on #5102
@medyagh btw, have you reported the bug you found in 1.8 already? Cause 1.8.0 got released just now, and I'd prefer to send that to all distros

[2020-02-07 20:13] edsantiago commented on #5072
Issue still present in podman-1.8.0-0.2.fc31.x86_64

[2020-02-07 20:14] edsantiago commented on #5072
I'm OK with it though. This isn't a showstopper.

[2020-02-07 20:14] mheon commented on #5072
The patch is definitely in the tag, so I'm really confused as to how this is still happening.

[2020-02-07 20:46] edsantiago commented on #5072
Never mind! Just after I tested, I got a new build notification. The new build works. To make the difference clear:
[code]
dash-zero-dot-two was the one I initially tested and found not fixed; dash-two works fine. Sorry about the confusion.

[2020-02-07 20:46] #5072 closed

[2020-02-07 23:50] medyagh commented on #5103
@mheon you are right ! for anyone having same issue
this fixed my problem
[code]

I am just curious why same image and same container doesnt act same way on docker and podman

[2020-02-08 00:39] mheon commented on #5103
Our volume mounts are, by default, mounted `noexec,nodev,nosuid` for security; Docker does not do this. You can append the `exec` option to mounts if you need it; `podman run -v /var:/var:exec` for example.

[2020-02-08 02:57] medyagh commented on #5103
@mheon thank you very much for clarifying it ! it makes sense now ! I consider this issue closed for me, but I also recommend adding this to your website documentation for others

[2020-02-08 09:41] alitvak69 commented on #4937
It looks like 1.7 dissapeared from stable repo on OBS yet again.  No source files either.  Is there at least a way keep sources and dsc in archive subfolder or something?

[2020-02-08 12:42] rhatdan commented on #4905
It is not really used, it is more embedded.  Basically Podman uses the buildah code like a shared library inside of itself, it does NOT execute the Buildah command or need Buildah installed.

[2020-02-08 12:43] rhatdan commented on #4414
Sure, just no one has stepped up to the plate to make an PR, if you have the time @cpanato We would love to see it.

[2020-02-08 19:11] lfarkas commented on #5127
To be honest sometime I'd real doubt whether the container developer are using containers? I really wouldn't like to blame anyone but eg on fedora you can dump and restore any mysql/mariadb databases for months.
This is also a few years old hack back to docker all containers by default use UTC. To set any process run in a container you should have to run the container timezone. I you read dozens o

[2020-02-08 19:52] mheon commented on #5127
Alright, so we're setting the container timezone by mounting in `/etc/localtime` from the host. More details would be greatly helpful - are you running as root, or without? Is this a fresh install of F31, or did you upgrade from F30? I'm sorry that this has stopped working, but fixing bugs is much easier with detailed information - that's why we have an issue template to request this.

[2020-02-08 19:58] mheon commented on #5127
I can't repro the ` Error: mkdir ``: No such file or directory: OCI runtime command not found error` on F30 or F31, root or rootless (also checked runc vs crun on F30). However, I was unable to use the exact command you provided, because I don't have any of the bind mounts you requested; do you have mariadb installed on the host, and you're mounting parts of it into the container? The error's defi

[2020-02-08 21:38] grzegorzk commented on #4924
@disaster123 in my case it was a few things. One of them was that due to weirdness how I have built my test system I had wrong permissions on the `/` (0711). Another problem was that I tried to run things while simply `su` as target user rather than logging in as that user.

[2020-02-08 21:49] baude commented on #5130
instead of make varlink generate and make podman-remote, if you do a 'make' does it work?

[2020-02-08 21:50] baude commented on #5128
is the idea here that by default this would be false or true?

[2020-02-08 22:05] grzegorzk opened #5133 "How to debug process that malfunctions within podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I wanted to run openvpn in podman container and initially I thought it's running without any problem (on host `netstat` was listing port as mapped by podman). However when I looked at `netstat` output from within the container then noticed that nothing is listening to network traffic.

**

[2020-02-08 22:32] mheon commented on #5128
I would default to false for compatibility

On Sat, Feb 8, 2020, 16:50 Brent Baude <notifications@github.com> wrote:

[2020-02-09 02:10] marshallford commented on #5130
Same error :disappointed:. For reference, I run `make varlink_generate podman-remote` to emulate the `binaries` target (see below). In addition, I don't get this build error when running `make varlink_generate podman`.

[code]

[2020-02-09 05:48] nimbius opened #5134 "rootless podman cant bind mount a volume file."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

bind mounting a single file with -v throws a go error.

**Steps to reproduce the issue:**

1. mount a single file during podman run (-v configuration.py:/etc/config/configuration.py )

2.

3.

**Describe the results you received:**
error in container_linux.go

Error: container_linux.go:349: s

[2020-02-09 05:53] mheon commented on #5134
You need to make the file a relative path by saying ./ in front of it;
otherwise, we assume it's the name of a named volume. I would expect that
to work, and not will, though. Given that, I think we have a definite bug
in the handling of the named volume, and a case we should document better
(everything passed to -v that is not an absolute or relative path will be
assumed to be the name of a named

[2020-02-09 06:42] nimbius commented on #5134
hm.  relative pathing still appears to produce a fault.

 podman run --pod netbox-pod -v ./configuration.py:/etc/netbox/config/ netboxcommunity/netbox:v2.7.4
Error: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"rootfs_linux.go:58: mounting \\\"/home/cicero/netbox-dev/netbox/netbox/netbox/netconfig_01/configuration.py\\\" to rootfs \\\"/hom

[2020-02-09 07:04] daniel-wtd commented on #4813
with 1.8.0 on fedora, everything is working fine :)

[2020-02-09 15:49] mheon commented on #5134
Alright, that's probably the same error we saw with the named volume. I'll
take a look on Monday.

On Sun, Feb 9, 2020, 01:42 John <notifications@github.com> wrote:

[2020-02-09 15:56] baude commented on #5131
@mheon lets discuss this on monday ... it's a reasonably deep hole we will need to go in to fix this.  I am not discounting the bug, more on how we want to fix it.

[2020-02-09 16:16] baude commented on #5131
some thoughts before i loose them ...

the failure here is fortunately not with the tail pkg we use.  It is specifically with the function to print out out the previous entries of the log.  When getting the logs of a container, we print N number of last log entries.  The default is to print them all but N can also be provided (like show me the last 10 lines).

To do this, we were reading the whole

[2020-02-09 18:32] MarcoFalke opened #5135 "podman cp fails (writing file `/sys/fs/cgroup//cgroup.freeze`: Permission denied)"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

No failure (like docker)

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

[2020-02-09 19:31] rasup opened #5136 "Fails to allocate lock for new volume"
/kind bug

**Description**
`podman run` fails with `error allocating lock for new volume: no space left on device`.

**Steps to reproduce the issue:**

1. Build an image:
[code]
the more volumes you create the faster it will fail. With 1025 directories it fails when starting the second container.

2. Run in a loop:
[code]

**Describe the results you received:**
`podman run` eventually fails with t

[2020-02-09 19:37] mheon commented on #5135
That cgroup path looks incorrect, it's missing any container ID or other
identifier. We should be populating that automatically on container
creation, which makes me think something in the config might be preventing
that. Can you provide ~/.config/containers/libpod.conf?

On Sun, Feb 9, 2020, 13:33 MarcoFalke <notifications@github.com> wrote:

[2020-02-09 19:38] mheon commented on #5136
We have a soft cap of 4096 containers, pods, and volumes by default. If you
need to increase this number, you can edit libpod.conf and increase
num_locks then run 'podman system renumber'

On Sun, Feb 9, 2020, 14:31 rasup <notifications@github.com> wrote:

[2020-02-09 19:51] MarcoFalke commented on #5135
[code]

[2020-02-09 20:36] mgoltzsche commented on #5130
Apparently this happens because the varlink code generation is omitted when `uname -o` does not print `GNU/Linux` which is the case e.g. on alpine.
PR #5137 makes the Makefile match "Linux".

[2020-02-09 22:06] basvdlei opened #5138 "Source IP always 127.0.0.1 in rootless Podman 1.8.0"
/kind bug

**Description**

For a rootless container the source IP of incoming packets on a publish port is always `127.0.0.1`. Even if the request is made from an external host.

**Steps to reproduce the issue:**

1. Start a NGINX container:

[code]

2. Make a request from another node.

[code]

3. Look at the source ip of the request in NGINX stdout log:

[code]

**Describe the results you recei

[2020-02-09 22:29] nimbius opened #5139 "buildah volume names ignored in podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

volumes created in 'buildah config -v' are created in podman during 'podman run' but the names assigned in buildah to the image are ignored.

**Steps to reproduce the issue:**

1. buildah from $image --name $yourimage

2. buildah config -v test:/path/to/bind/mount $yourimage

3.buildah commit

[2020-02-09 22:30] mheon commented on #5138
This may be a side-effect of the swap to RootlessKit for port forwarding - @AkihiroSuda PTAL

[2020-02-09 22:31] mheon commented on #5139
I don't believe that names for volumes are part of the OCI or Docker image specifications, just the paths they will be made at - @baude @vrothberg correct me if I'm wrong here

[2020-02-09 22:46] nimbius commented on #5139
ah, silly me.  this isnt part of the spec at all and for good reason.
https://github.com/moby/moby/issues/30647

spec 1.1 and 1.2 also do not reference named volumes anywhere...so i wonder why buildah even offers the option to name a volume if its pointless in the image

[2020-02-09 23:36] stxm opened #5140 "podman play assigns wrong environment vars."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman play assigns environment vars to the wrong containers.

**Steps to reproduce the issue:**

[code]
**Describe the results you received:**
There is an unexpected difference between the two yaml files
Differences are regarding the env variables.

**Describe the results you expected:**
I e

[2020-02-10 00:17] #5139 closed

[2020-02-10 03:05] johnmmcgee commented on #5102
would also like 1.7, if available for centos8.

[2020-02-10 05:45] grzegorzk commented on #5133
I have tried to test the container with `privileged` option and run it as root. If I install `openssh` within the container and run it I can see the `sshd` process is listening for traffic on port 22, `openvpn` starts and definitely binds to `tun` device, however it does not listen on expected port (I cannot see `openvpn` entry in `netstat` output).

[2020-02-10 06:23] AkihiroSuda commented on #5138
Intentional https://github.com/containers/libpod/issues/4586#issuecomment-559487516

[2020-02-10 08:11] disaster123 opened #5141 "rootless podman: port forwarding does not work if firewalld is installed"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

curently no idea if this is expected or not

**Description**

If firewalld is running on the host the port forwardig for rootless containers does not work as all traffic is blocked in firewalld.

**Steps to reproduce the issue:**

1. install and enable firewalld

2.install podman 1.8.0

3. run a container using port for

[2020-02-10 09:08] stbischof commented on #4990
thx!

[2020-02-10 09:08] #4990 closed

[2020-02-10 09:12] stefanb2 commented on #4477
Please note that in crun >= 0.11 the annnotation has been renamed to `run.oci.keep_original_groups`

See https://github.com/containers/crun/commit/6df930821d80a8e151674f0fda1321fba93bb92d

[2020-02-10 09:13] zhuguoliang commented on #5105
There are 2 things stalling the restore.

1. During container restore, podman always prints "IPv6" enabled, which turned out to be in line:
https://github.com/containers/libpod/blob/ee811431d29962c3a801903ca3ca342a2000f65e/libpod/container_internal_linux.go#L1265
IPv6  is turned on by default.

2. Apparmor is complaining with no profile:

I work around the first problem by hand-code to false. I wo

[2020-02-10 09:17] zhuguoliang commented on #5105
@adrianreber PTAL

[2020-02-10 09:19] basvdlei commented on #5138
Ah, I missed this was an intentional change. While I do see the benefits of the new solution, I'm wondering if we are losing something valuable.

Just for context, this change broke two setups I run with rootless Podman for local development/testing:
- Custom server running in a Podman container where nodes from a Vagrant project connect to. This server relies on the source IP of the VM for identi

[2020-02-10 09:41] giuseppe commented on #3977
could it be a security issue if two containers running with different `--user` use the same volume?

This is something that could be easily fixed by creating the directory before running the container with the correct permissions.

[2020-02-10 09:41] loibpet opened #5145 "docker commit: wrong help text"
/kind bug

**Description**

Thanks for the quick fix for issue #5027 which is working now as expected.

However, the help text still needs a little update regarding the now removed second mandatory parameter:

[code]

[2020-02-10 09:41] loibpet opened #5146 "podman login with different mandatory parameter than docker login"
/kind bug

**Description**

Ran into this problem, when I was checking if scripts developed for docker were running with podman.

podman supposed to be compatible to docker in terms of parameters. However, there are still breaking differences:

[code]

whereas:
[code]
The issue the mandatory parameter (REGISTRY) for the podman command. This breaks any compatibility.

**Describe the results you exp

[2020-02-10 09:42] AkihiroSuda commented on #5138
Thanks for the context and sorry.
Maybe we should add a new flag like `podman run --port-driver=(builtin|slirp4netns)`. Not sure `podman` flag or `podman run` flag.

@giuseppe

[2020-02-10 10:01] marusak opened #5147 "Cannot run `podman system service` as normal user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running `podman system service` as normal user fails:
[code]

**Describe the results you expected:**

Succeed the same way as root one does:
[code]

**Output of `podman version`:**

I build the current master with `$ ./contrib/build_rpm.sh` and then installed the produced rpm.

[2020-02-10 10:17] giuseppe commented on #5138
@AkihiroSuda we could probably add another network type:

`podman run --network slirp4netns ....` <- works as on Podman 1.7
`podman run --network rootlesskit  ....` <- works as on Podman 1.8

What do you think?

[2020-02-10 10:22] groovyman commented on #5094
Salut Valenting,

there is another thing, you should check out. Each time the host performs a reboot, the external database is (of course) beeing restartet, but the web-application inside the podman container is beeing melt-up again with all its tcp-connection to the outer space.

So the `/usr/bin/podman start -a funny_zhukovsky` would run the apache-perl-web-application  with all its old connecti

[2020-02-10 10:23] AkihiroSuda commented on #5138
That may give people false sense that slirp4netns was not used at all when `--network=rootlesskit`

[2020-02-10 10:25] AkihiroSuda commented on #5138
Also, in future, rootlesskit MAY implement built-in slirp functionality using [slirpnetstack](https://github.com/majek/slirpnetstack) as a Go library if there is a demand.

I think `--network=rootlesskit` should be reserved for that case.

[2020-02-10 10:25] FaramosCZ opened #5148 ""podman commit --change ENTRYPOINT" won't accept '=' character in it"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running e.g.
"podman commit --change ENTRYPOINT='my_binary pidfile=xyz.pid' 012abc345def"
the command won't accept '=' character inside the ENTRYPOINT data (in this case "pidfile=xyz.pid")

Nor shell nor exec form accepts the '=' caharcter.

**Steps to reproduce the issue:**

1. create c

[2020-02-10 10:43] FaramosCZ commented on #5148
NOTE:
When I write it to the containerfile, the resulting built container works as expected:
`ENTRYPOINT ./my_binary pidfile=xyz.pid`

[2020-02-10 10:45] adrianreber commented on #5105
@zhuguoliang Sorry but I do not know enough about AppArmor do be able to help you. Can you switch to Fedora 30 or CentOS 8? SELinux support is available and working for CRIU and Podman there.

[2020-02-10 11:34] giuseppe commented on #5138
wouldn't that be an implementation detail for users?

So if that is the case, should we have `slirp4netns-rootlesskit`?  I'd just like to avoid another option tailored for slirp and re-use what we have now

[2020-02-10 12:08] giuseppe commented on #5147
how have you created the user session?

Do you have any file under `~/.containers/config`?

[2020-02-10 12:13] marusak commented on #5147
I am not sure if I understand the question correctly, but I just logged in into my Fedora 31 account.

[code]

[2020-02-10 12:44] rhatdan commented on #5128
Yes, false by default, but customizable in containers.conf.

[2020-02-10 12:45] snowdream commented on #4791
@matihost  It works.

remove podman and install docker ce.

[code]

[2020-02-10 12:48] rhatdan commented on #4827
CLosing, as I guess this is fixed.

[2020-02-10 12:48] #4827 closed

[2020-02-10 12:49] giuseppe commented on #5147
looks like Podman got built without systemd support, is `systemd-devel` installed correctly?

What is the output for `hack/systemd_tag.sh` ?

[2020-02-10 12:51] rhatdan commented on #4813
Awesome.

[2020-02-10 12:54] rhatdan commented on #5134
Can you try to fully path it?

-v $PWD/...

[2020-02-10 12:57] marusak commented on #5147
[code]

[code]

But anyway, It was my local build which was broken. I removed it, installed whatever is released in Fedora and it works.
However, would be great if also local builds would work.

But closing, thanks for your help!

[2020-02-10 12:57] #5147 closed

[2020-02-10 12:59] zhuguoliang commented on #5105
OK, I will try it

[2020-02-10 13:04] rhatdan commented on #4752
@QiWang19 Any movement on this one?

[2020-02-10 13:09] rhatdan commented on #5133
Are you running rootless or rootfull?

[2020-02-10 13:23] rhatdan commented on #5141
@AkihiroSuda PTAL, Is this a slirp4netns issue?

[2020-02-10 13:24] giuseppe commented on #5141
I think it is expected, as rootless we don't touch the firewall, that is a privileged operation

[2020-02-10 13:30] disaster123 commented on #5141
mhm than this is most probably a feature request. I hoped that there is a possibilty to arrange this by using dbus or something like this.

[2020-02-10 13:37] rhatdan commented on #3977
The source directory should always be created by the user, if using a volume.  We could add a flag to the volume when we start running in random User Namespace, for the container engine to "Chown" the directory.

[2020-02-10 13:38] rhatdan commented on #5145
@loibpet Would you be interested in opening a PR to fix this?

[2020-02-10 13:40] rhatdan commented on #5146
Well Docker is only supporting one registry Docker.io.  We could do similar and only support the first registry in registries.conf.  I am not crazy about hard coding docker.io into podman login.

[2020-02-10 13:43] loibpet commented on #5146
This is exactly what we do. We change the registries.conf to point to an internal registry. This is where we push then our images with the scripts.

[2020-02-10 13:47] rhatdan commented on #5148
@QiWang19 PTAL
@FaramosCZ if you wanted to attempt a PR, that would be welcome...

[2020-02-10 13:50] rhatdan commented on #5138
Yes, I would go along with @giuseppe Just use slirp4netns or rootlesskit.  We can document the difference, most users will have no idea the difference,and will just go with whatever the distro or podman chooses as the default.

[2020-02-10 14:01] rhatdan commented on #5141
Is there a way to talk to dbus about opening firewall ports for rootless users?

[2020-02-10 14:04] rhatdan commented on #5146
Ok, we can default to the first registry in registries.conf if it does not exist.
Would you be interested in opening a PR for this?

[2020-02-10 14:22] lfarkas commented on #5127
the mkdir error no longer comes (it was with 1.7.0 as i wrote but today my system is updated to 1.8.0). anyway google gives for "container set timezone" as a first hit: https://serverfault.com/questions/683605/docker-container-time-timezone-will-not-reflect-changes.
it was a rootless podman fully updated f31 (last week).

[2020-02-10 14:27] disaster123 commented on #5141
Good question - no idea ;-)

[2020-02-10 14:28] mheon commented on #5127
Huh. Alright, we'll chalk it up to a 1.7.0 bug that got fixed in 1.8, I suppose?

I'm going to go ahead and close, but if it happens again, please re-open and we'll take another look.

[2020-02-10 14:28] #5127 closed

[2020-02-10 14:29] mheon commented on #5141
Fedora Workstation already defaults 1025-65536 to open. I don't believe server does the same for security reasons.

[2020-02-10 15:25] mheon commented on #5134
I can't replicate this on Fedora 30 or 31, runc or crun, with latest Podman (1.8.0). Any chance you can retest with 1.8.0 and see if the problem is resolved?

[2020-02-10 15:30] nimbius commented on #5134
upgraded to latest 1.8 on Arch and the issue is no longer seen in debug or my CI.

[2020-02-10 15:30] #5134 closed

[2020-02-10 15:41] jwhonce opened #5150 "Podman service fails under socket activation protocol"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Current testing for which endpoint for `podman service` to connect/bind fails when run under the system socket activation.  It attempts to open UDS and other sockets multiple times.

**Steps to reproduce the issue:**

1. Use a service file with `.../podman system service`, where `podman.socke

[2020-02-10 15:46] jwhonce opened #5151 "Podman service silently fails if a handler panics"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If code in a handler panics, there is no report to the client.

**Steps to reproduce the issue:**

1. curl --unix-socket /run/podman/podman.sock -v http://localhost/v1.40/containers/json?all=True

**Describe the results you received:**
*   Trying /run/podman/podman.sock:0...
* Connected to lo

[2020-02-10 15:49] QiWang19 commented on #4752
I failed to replicate this issue.

[2020-02-10 16:26] XVilka commented on #4752
I will have access to the machine with this issue only after Feb 24, sorry.

[2020-02-10 18:12] daniel-wtd opened #5153 "CentOS Container with systemd = "D-Bus connection ...""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running CentOS Containers with enabled systemd not properly working on Fedora 31 as host.

**Steps to reproduce the issue:**

As rootless, using CentOS image  (daemon)

1. `podman run -d --systemd=true --name c7-systemd centos:7 /sbin/init`
2. `podman exec c7-systemd yum install httpd -y`
3.

[2020-02-10 18:13] Spindel opened #5154 "fedora31 / podman containers pulls in selinux-policy and selinux-policy-targeted"
/kind bug

**Description**

Since January 2020 podman on Fedora 31 has a what seems to be a hard dependency on  container-selinux, selinux-policy and selinux-policy-targeted

This causes our rather small container build images to expand with the entirety of an selinux-policy, which isn't really useful inside a container.

[code]

**Steps to reproduce the issue:**

1.` podman run -ti --rm=true fedo

[2020-02-10 18:17] TomSweeneyRedHat commented on #5154
@lsm5 thoughts?

[2020-02-10 18:18] mheon commented on #5154
I'll tag in @rhatdan too

[2020-02-10 18:19] mheon commented on #5153
Can you run `sudo podman run -it --systemd=true centos:7 /sbin/init --log-level debug` (this should enable debug logging in systemd itself, which should tell us what's gone wrong)

[2020-02-10 18:19] mheon commented on #5153
Oh, and are you running as root, or without?

[2020-02-10 18:49] afbjorklund commented on #4390
I guess this feature never made it into 1.8.0, so we still have to use different commands.

That is, on Mac you use `podman` but on Linux you use `podman-remote` - for the same.

[2020-02-10 19:32] daniel-wtd commented on #5153
@mheon, thanks for your awesomely fast response. I have tested both.

1. root container

[code]

2. rootless container

[code]

[2020-02-10 19:37] mheon commented on #5153
Ah, sorry, I think you misunderstood - systemd also uses `--log-level=debug` to print debug logs, so we want it at the end of the command, so it's an argument to systemd, not Podman

[2020-02-10 19:38] mheon commented on #5153
(From looking at the logs, I don't see anything confirming we're in systemd mode, but checking the code, I don't see any indication that we actually log when we are - an oversight on our part)

[2020-02-10 19:44] daniel-wtd commented on #5153
Ahhh, understood. Unfortunately setting "--log-level=debug" for systemd in centos does not give any more details.

Maybeeee, this is os-related. I have tested Fedora and Debian in the meanwhile and both are "somewhat" working.

[2020-02-10 19:53] mheon commented on #5153
Ahh - are you on Fedora 31?

I believe there's a known issue with CentOS 7 (where systemd is too old to support cgroups v2) on top of Fedora 31 (defaults to cgroups v2)

[2020-02-10 19:59] daniel-wtd commented on #5153
that may be a thing, will test it on the cgroup-v1 machine.

[2020-02-10 20:01] mheon commented on #5148
I'll take this one. Confirmed locally, working on it now.

[2020-02-10 20:13] daniel-wtd commented on #5153
ok, running

[code]

are working with cgroups1. Furthermore, fedora and debian images are working almost perfect, too ;)

That was very helpful, thank.

If I can add something here or support you otherwise, please feel free to give me a ping.

[2020-02-10 20:21] mheon commented on #5148
I think I got this... we left some parsing logic from the old `--change` implementation in `podman commit` when we swapped over.

[2020-02-10 20:27] astronouth7303 commented on #4812
Found a similar issue in buildah. Not sure how much they're related, but it's suspicious.

[2020-02-10 20:36] mheon commented on #5148
#5156 should fix

[2020-02-10 20:45] afbjorklund commented on #5100
There is a homebrew formula here:
https://github.com/containers/libpod/issues/4511#issuecomment-570891830

You can also find binaries on the homepage:
https://github.com/containers/libpod#readme

[2020-02-10 21:28] medyagh commented on #4814
@vrothberg this issue seem to still exist !
on mac :

[code]

[2020-02-10 21:41] afbjorklund commented on #5100
It seems the latest binary is `v1.6.2-26-gd358840e`

https://storage.googleapis.com/libpod-master-releases/podman-remote-latest-master-darwin-amd64.zip

So you might want to build it yourself, after all.

I think you also avoid GateKeeper, that way ?

[2020-02-10 23:25] liewegas opened #5160 "podman ps -a --format=json does not include image hash"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

The ``podman inspect`` output includes the both the ``Image`` property (the hash) and ``ImageName`` property (container name).  ``podman ps --format=json`` output does not include the hash.  For our application (ceph), that means we need to run inspect on every running container to get th

[2020-02-11 00:51] baude commented on #5160
@liewegas thanks for the report ... im not sure i understand what you are asking for.  you want another field that has the hash or ? are you comparing us to docker?

[2020-02-11 00:51] #5130 closed

[2020-02-11 03:07] #5148 closed

[2020-02-11 06:54] grzegorzk commented on #5133
Running as root:

[code]

(`entrypoint.sh` attached as `entrypoint.sh.txt`, all certs and keys had been created for this test)

[entrypoint.sh.txt](https://github.com/containers/libpod/files/4184384/entrypoint.sh.txt)

[2020-02-11 07:07] grzegorzk commented on #5133
I see the same behavior when running within alpine container:

[code]

[entrypoint.sh.txt](https://github.com/containers/libpod/files/4184411/entrypoint.sh.txt)

[2020-02-11 09:33] vrothberg commented on #4814
-> https://github.com/containers/libpod/pull/5162

Thanks for the ping!

[2020-02-11 10:09] tanwald opened #5163 "Regression touching mariadb image - at least"
/kind bug

**Description**

I cannot run sclorg/mariadb images any longer using the same commands as before. Even the commands from https://github.com/sclorg/mariadb-container don't work any longer.

**Steps to reproduce the issue:**

[code]
Even without volume mounts:
[code]

**Describe the results you received:**
Last logs before the container exits:
[code]

**Describe the results you expected:*

[2020-02-11 11:56] MarcoFalke commented on #5135
I did `$ rm ~/.config/containers/libpod.conf` and rebooted the machine. Now it is working again.

[2020-02-11 12:45] vrothberg commented on #3924
@lsm5 WDYT? Feel free to close.

[2020-02-11 12:47] vrothberg commented on #3932
@mheon, is this issue still valid?

[2020-02-11 12:49] vrothberg commented on #4084
Assigning @rhatdan as he's the driving force behind containers.conf.

[2020-02-11 12:52] vrothberg commented on #4207
@rhatdan, still valid with the new v2 API coming?

[2020-02-11 13:12] rhatdan commented on #4207
Well we want it in V2 API.

[2020-02-11 13:20] matpen commented on #3924
I do not think that closing this is a good idea. In fact, from the point of view of any serious deployment, it is a very urgent issue: it pretty much makes the repos unusable. As @afbjorklund said, the only viable alternative is to build from source, which can prove tricky for some sysadmins.

Is there any technical reason why the solution offered by the docker repos is not applicable in this case

[2020-02-11 13:34] barseghyanartur commented on #4715
Same issue here. Problems after upgrade. Current version of podman 1.8.0.

[2020-02-11 13:38] vrothberg commented on #3924
Can you elaborate a bit more on that? We provide a repository with updated and fresh builds but don't have a good approach for keeping builds around.

[2020-02-11 13:41] vrothberg commented on #4207
Note that the request mentions varlink explicitly.

[2020-02-11 13:47] rhatdan commented on #5154
It should be a "Recommends" rather then a "Requieres"

[2020-02-11 13:52] #3878 closed

[2020-02-11 13:57] lsm5 commented on #3924
@sysrich could you please share some info/examples on setting up a maintenance repository?

@matpen in docker's case, they probably maintain the entire repo by themselves, which I'd rather not. I guess a maintenance repo that @sysrich mentioned could address your case, we can check if that's doable for debs too. Also, for debs, I will keep the packaging sources available for older versions, even t

[2020-02-11 13:59] vrothberg commented on #3842
Friendly ping. This issue is getting a bit dusty.

[2020-02-11 14:03] sshnaidm commented on #4207
I think you can easily remove "varlink" from the description. The main goal is to have it remotely, no matter with which API

[2020-02-11 14:04] rhatdan commented on #5153
Yes, sadly we can not fix this issue. RHEL7/Centos7 systemd containers can not run on a cgroup V2 machine, The systemd is too old.

[2020-02-11 14:04] #5153 closed

[2020-02-11 14:05] vrothberg commented on #4759
Hi @timonegk, thanks for opening the issue and apologies for not seeing it earlier; it must have slipped through the Christmas break.

Can you update to the latest Podman and see if the error is still happening? For running Podman in systemd services I highly recommend following what https://www.redhat.com/sysadmin/podman-shareable-systemd-services suggests which is what `podman generate systemd -

[2020-02-11 14:05] #4759 closed

[2020-02-11 14:07] vrothberg commented on #4207
Perfect! I did that and assigned @baude who is the driving force behind the new v2 API.

[2020-02-11 14:09] vrothberg commented on #4770
Sounds good to me. @rhatdan WDYT?

[2020-02-11 14:10] vrothberg commented on #4917
This has been fixed.

[2020-02-11 14:10] #4917 closed

[2020-02-11 14:11] vrothberg commented on #4922
Ping. I guess we had to bump the version of the Mac client as well, right?

[2020-02-11 14:16] vrothberg commented on #4910
@jtudelag, are you still seeing the issue?

[2020-02-11 14:18] rhatdan commented on #5100
@afbjorklund @medyagh interested in opening a PR to update the MAC version and helping us get through the gatekeeper?

[2020-02-11 14:24] jtudelag commented on #4910
Hey @vrothberg , no, it happened after the upgrade from f30 to f31. I did run a container with podman, and after that the error was gone. (I had other problems with cgroups v2 and rootless containers) but that was a different story ;).

[2020-02-11 14:29] vrothberg commented on #4910
Thanks! I am closing the issue then.

[2020-02-11 14:29] #4910 closed

[2020-02-11 14:31] vrothberg commented on #4902
@onlyjob, friendly ping.

[2020-02-11 14:38] mheon commented on #4770
We are actually in the process of adding `--dns` to `podman pod create`.

[2020-02-11 14:40] mheon commented on #3842
This is still important, but I think we need help from the CNI team to make it happen.

[2020-02-11 14:46] mheon commented on #4715
Separate issue would be helpful, so we can get the full information from the issue template provided

[2020-02-11 14:47] matpen commented on #3924
I think that the problem has been outlined sufficiently in this issue: since there is no way to pin a version, sysadmins only have the following options in production:
* upgrade podman each time they reinstall or upgrade a system (which is dangerous - see for example [here](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#run))
* not use the repos and instead build from so

[2020-02-11 14:48] mheon commented on #3932
With regards to the tutorial? Yes, definitely - we've made some small improvements but it's still questionable if the initial tutorial should use rootless given the configuration difficulty

[2020-02-11 14:56] junjieyuan opened #5166 "Cannot disable detach keys by setting detach-keys to an empty string ("")"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

This feature cannot be disabled after setting detach_keys to an empty string ("").

See also:

#4208

**Steps to reproduce the issue:**

1.podman run --env TERM=$TERM --detach-keys "" -it --rm registry.fedoraproject.org/f31/fedora-toolbox:31 /bin/bash

or

podman run --env TERM=$TERM --detach

[2020-02-11 14:58] junjieyuan commented on #5166
After setting detach-keys to other keys (for example: "ctrl-g, ctrl-g"), the detach keys will become ctrl-g + ctrl-g. It cannot be turned off by setting it to an empty string.

[2020-02-11 15:01] barseghyanartur opened #5167 "[v1.8] /kind bug Unable to access application publically/outside after exposing port with podman"
**BUG REPORT**

**Description**

Actually, exact copy of https://github.com/containers/libpod/issues/4715

I have 6 containers running. `podman ps` tells me they are.
`netstat -ntlp` does not include ports allocated by the containers.
However, each of them (internally) has access to all others, but not from outside the container.
Thus, if my API runs on port 8000, I can't access it, but if I go in

[2020-02-11 15:01] barseghyanartur commented on #4715
@mheon:

Done.

[2020-02-11 15:02] mheon commented on #5167
From `podman-compose` I assume you're running rootless

[2020-02-11 15:02] mheon commented on #5167
@AkihiroSuda PTAL - potential issue with the port forwarder?

[2020-02-11 15:03] barseghyanartur commented on #5167
@mheon:

Yep.

[2020-02-11 15:04] mheon commented on #5167
Any chance you can provide the Podman commands in use? Can you verify that the pod has ports attached to it (`podman pod inspect` ought to print that)?

[2020-02-11 15:06] AkihiroSuda commented on #5167
Also could you try `podman --log-level debug run -it ...`

[2020-02-11 16:00] vrothberg commented on #5163
It runs fine on my machine. @mheon @baude @giuseppe, can you check on cgroups v2?

[2020-02-11 16:08] mheon commented on #5163
Works fine here, Fedora 31 cgroupsv2 + crun

[2020-02-11 17:16] jvanz commented on #4752
I cannot simulate in the latest master branch.

[2020-02-11 18:02] edsantiago commented on #5163
Can reproduce easily on rawhide:
[code]
(That is with `setenforce 0`).

podman-1.8.0-0.2.dev.gitc4f6d56.fc32.x86_64
crun-0.12.1-1.fc32.x86_64
conmon-2.0.11-0.5.dev.git77f4a51.fc32.x86_64
5.5.0-0.rc6.git3.1.fc32.x86_64

[2020-02-11 18:13] mheon commented on #5163
More Signal 23.

We really need to track that one down - may not be the culprit here, but applications in the container cannot appreciate being continually hit by it.

[2020-02-11 18:28] leier69 opened #5170 "Podman nginx container not awnsering pfsense port forwarding"
Hi! im trying to get the following setup working with podman:

`Wan physical interface` --> `PFsense` --> `Lan interface (br0)` --> `nginx podman container (10.0.0.10)`

Everything is working locally and I can indeed curl the container from both a VM (on br0) and using PFsense shell, but when I try to portforward to nginx container it does not seem to reach it.

How I created the container:
[code]

[2020-02-11 18:37] mheon commented on #5170
`-p 0.0.0.0::80` seems dubious. Can you try `-p 80`?

[2020-02-11 18:58] lburgazzoli opened #5173 "Failure running podman with systemd as non root user"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to run a a systemd service with podman as non privileged user but the service fails with  error. The same service work when executed as root

**Steps to reproduce the issue:**

1. create a new user
[code]

2. install a systemd service file as follow:
[code]
3. run the service
[code

[2020-02-11 19:00] leier69 commented on #5170
I have tried it before, and I tried it again now. Same result just no answer from the container.

-------------------------------------------------------------------------------------------------

also something worth mentioning is that in the nginx container logs, the port forward attempts are not logged, only the curls that goes successful.

[2020-02-11 19:09] rhatdan commented on #5173
could not get runtime: error generating default config from memory: cannot mkdir /home/nexus-system/rundir/libpod: mkdir /home/nexus-system/rundir/libpod: no such file or directory
This looks like you have hacked up the ~/.config/containers directory?

[2020-02-11 19:12] mheon commented on #5173
I think we select that directory if all else fails and we cannot find a usable /run/user or /tmp

In any case, having /run in your $HOME and not on a tmpfs is DANGEROUS and strongly not recommended. You may wish to run `podman system reset` (will delete all containers + pods + images) and let Podman regenerate its configuration - that may get a more usable tmpdir

[2020-02-11 19:28] #5135 closed

[2020-02-11 19:49] rhatdan commented on #4770
:+1:

[2020-02-11 19:54] rhatdan commented on #5166
I wonder if the OCI Runtimes set the detach keys if they are set to ""

[2020-02-11 19:55] mheon commented on #5166
This isn't the runtime, they don't have any interaction - this is all Podman

[2020-02-11 20:31] baude commented on #5163
@giuseppe I took a f31 vm, turned off cgroups v2, observed same failure ... i swapped out crun and runc and it ran on runc no problem.

would you ptal?

[2020-02-11 20:32] gfokkema opened #5174 "`podman play kube` does not seem to respect WORKDIR set in Dockerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman play kube` does not seem to respect `WORKDIR` set in `Dockerfile`

**Steps to reproduce the issue:**

1. Take this `demo.Dockerfile` as example container:
[code]
Build using: `buildah bud -t localhost/demo:1.0 -f demo.Dockerfile`

2. Running with `podman run` gives:
[code]

3. Take th

[2020-02-11 20:55] lburgazzoli commented on #5173
Not at all

[2020-02-11 20:56] lburgazzoli commented on #5173
`podman system reset` done, but I see the same error

[2020-02-11 21:03] rhatdan commented on #5174
Is working dir specified in the generated yaml file?

[2020-02-11 21:04] rhatdan commented on #5174
Looks like a good first issue,  might be other fields we are not grabbing from the container image.

[2020-02-11 21:08] gfokkema commented on #5174
`podman generate kube demo_run` indeed outputs a `workingDir: /bin` which I've intentionally not specified in the yaml in the bug report.
Since WORKDIR is specified in the Dockerfile (ie, in the image?) I'd expect podman to pick that up regardless.
Is that assumption wrong?

[2020-02-11 21:16] rhatdan commented on #5173
The issue here is the user has never logged, in.  Podman is being run as a user, but podman makes assumptions about XDG_RUNTIME_DIR being setup when it executes.  I think this is what is going wrong.

[2020-02-11 21:16] medyagh commented on #3384
I still have this issue with podman 1.8

[2020-02-11 21:17] rhatdan commented on #5174
No your assumption is correct.

podman run and podman play should both grab the images defaults before they run a container unless they are overridden by the user or kube.yaml file.

[2020-02-11 21:24] mccv1r0 commented on #5170
@leier69: Based on the info you supplied above, your bridge br0 doesn't have an IP address or subnet AFAICT.  The container on that bridge will have the static address 10.0.0.10 with prefix of 24.

The only reason to use ```-p``` is to connect to an IP address on the host and have the host (e.g. ```iptables```) forward that port into the container.  Your ```tcpdump``` reads like you are trying to

[2020-02-11 21:36] afbjorklund commented on #5100
I think that you need to add an Apple ID to the CI release process (somehow), unfortunately not an Apple developer anymore myself - but I think there was some links in the original Mac issue ?

https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution

Apparently it "only" quarantines software downloaded using a web browser, email, or similar
So if users downloa

[2020-02-11 21:39] rhatdan commented on #5100
@cevich @lsm5 Any idea what is going wrong?

[2020-02-11 21:51] lburgazzoli commented on #5173
so `loginctl enable-linger nexus-system` seems to help here

[2020-02-11 22:48] #5173 closed

[2020-02-12 06:15] zhuguoliang commented on #5105
@adrianreber The problem is gone with centos 8.0, we move on to centos for future development.
 I reopen if any ubuntu user came into this.

[2020-02-12 06:15] #5105 closed

[2020-02-12 07:43] leier69 commented on #5170
@mccv1r0 My br0 is setup with the subnet 10.0.0.0/24, would I need to add some sort of route?

the IP 88.88.63.41 is an external ip which is getting port forwarded. Im pretty sure this is a network/routing issue on my part.

But how would I go about fixing this?

[2020-02-12 08:29] barseghyanartur commented on #5167
@mheon:

[code]

[2020-02-12 08:37] barseghyanartur commented on #5167
@AkihiroSuda:

[code]

Note, that inside the container it all works as expected and containers can communicate with each other. In the given example I did connect to my Django container from within Elasticsearch container.

[2020-02-12 08:40] AkihiroSuda commented on #5167
needs `podman --log-level debug run -it -p ****:****..`, not `podman exec`

[2020-02-12 08:41] AkihiroSuda commented on #5167
Also `ps auxw` on the host if possible

[2020-02-12 09:09] barseghyanartur commented on #5167
@AkihiroSuda:

[code]

[2020-02-12 09:15] barseghyanartur commented on #5167
@AkihiroSuda:

[code]

This one runs properly (I can connect to it from outside the container).

[2020-02-12 09:42] AkihiroSuda commented on #5167
So, the issue is specific to podman-compose?

[2020-02-12 09:47] barseghyanartur commented on #5167
@AkihiroSuda:

It might be, but it used to work fine before the Podman update (from 1.6.0 to 1.8.0). Do you have any grasp on what could be the cause?

[2020-02-12 10:41] AkihiroSuda commented on #5167
can't reproduce

[code]

[2020-02-12 10:53] cbz commented on #5167
My impression (experiencing the same issue under podman-compose) is it varies from container to container and is sometimes an intermittent issue. See https://github.com/containers/podman-compose/issues/107#issuecomment-585122336

[2020-02-12 12:01] lburgazzoli opened #5182 "podman run freezes on "waiting for initComplete""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running a container as non root user with the following command:

    /usr/bin/podman run --log-level=debug --rm --tty --interactive --name=nginx -p 8080:80 -v /usr/share/nginx/html/:/usr/share/nginx/html:ro -v /etc/nginx/conf.d:/etc/nginx/conf.d:ro nginx

results in podman stuck on `waiting

[2020-02-12 12:08] barseghyanartur commented on #5167
@AkihiroSuda:

Perhaps test with multiple services?

[2020-02-12 12:22] barseghyanartur commented on #5167
This is what `podman-compose up` does (under the hood):

[code]

Does this look correct to you, @AkihiroSuda?

[2020-02-12 12:47] barseghyanartur commented on #5167
OK, the issue solved locally, however, with tricks that were not necessary in Podman 1.6.0.

I need to forcibly stop all containers (even if ```podman ps``` does not show anything up) with ```podman stop --all```.

Then it works.

[2020-02-12 12:56] vrothberg commented on #5182
@giuseppe PTAL

[2020-02-12 13:16] lfarkas commented on #4905
it's still not working (ie very slow) with 1.8.0

[2020-02-12 13:18] TomSweeneyRedHat commented on #4905
@nalind FYI

[2020-02-12 13:20] lfarkas commented on #5046
it's still not working in 1.8.0

[2020-02-12 13:34] giuseppe commented on #5182
can you show the output for `ps auxww`?

[2020-02-12 13:36] lsm5 commented on #5100
no idea about macos

[2020-02-12 13:41] lburgazzoli commented on #5182
[code]

[2020-02-12 14:02] giuseppe commented on #5182
potential PR here: https://github.com/containers/libpod/pull/5183

[2020-02-12 14:48] mheon commented on #5167
What? That's... rather bizarre.

[2020-02-12 14:54] mccv1r0 commented on #5170
10.0.0.0 is the network address for the 10.0.0.0/24 subnet; you can use 10.0.0.1 - 10.0.0.254 (.255 is broadcast address.)

[2020-02-12 15:12] cbz commented on #5167
As above, I don't think this is necessarily a solution - it appears that the behaviour is intermittent, and I assume in this case it worked whereas in other cases it hasn't and stopping the containers this way is just irrelevant.

[2020-02-12 15:30] barseghyanartur commented on #5167
I'm not saying the issue is globally solved or no longer relevant. I reported symptoms and s workaround to be picked up by someone why has deep(er) understanding of Podman internals.

[2020-02-12 16:01] xavloose opened #5186 "podman play kube not utilizing existing or locally built images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**
/kind bug

**Description**
podman play kube does not seem to be utilizing local images. I am going back to a bug I found in a project of mine so this deployment has worked in previous versions of podman.

**Steps to reproduce the issue:**

1. podman play k8s-localtest-deployment.yaml

**Describe the results you received:

[2020-02-12 16:24] xavloose commented on #5186
After looking through the source I learned it had to do with my configuration via the following comment in libpod/pods.go:
[code]

This was a misunderstanding by myself of how kube works. Removing the latest tag in my pod yaml fixed the issue.

[2020-02-12 16:24] #5186 closed

[2020-02-12 16:43] haircommander commented on #5042
is this fixed by https://github.com/mheon/libpod/commit/eed2ad9ef257fab11f76589c68f98bd595dd4396

[2020-02-12 16:44] mheon commented on #5042
Ought to be

[2020-02-12 17:05] cbz commented on #5167
The point is that I'm unconvinced that it is a workaround, as opposed to something in the middle of a set of intermittent failures. I have also managed to reproduce the problem with a fresh container:

[code]

[code]

So in this case the port mapping has again been created inside the container - rather than exposed outside.

[2020-02-12 17:11] mheon commented on #5167
So you're seeing an open port inside the container, but not on the host, for 7080? That sounds like a bug with the port forwarder

[2020-02-12 17:14] cbz commented on #5167
Yep - though it's intermittent - if I restart a few times I'll get the port forwarder on the host some of the time.

[2020-02-12 17:18] afbjorklund commented on #5100
Seems like the build failed: https://cirrus-ci.com/build/6518463703285760

Or at least the darwin part: https://cirrus-ci.com/task/5164168995143680

[code]

[2020-02-12 17:48] mheon commented on #5167
That definitely sounds like a RootlessKit bug. Can you provide more details about your environment - OS, Podman version? @AkihiroSuda is there any additional debugging info we can get for debugging port forwarding?

[2020-02-12 17:52] afbjorklund commented on #5100
The more recent builds seems to be skipping over the upload phase altogether:

`Skipping release processing: Commit range|CIRRUS_TAG is development tagged.`

@lsm5: snapcraft seems to have "other issues": Snapped podman_0.11.1.1_amd64.snap

There's some other random binaries, not sure if they are used later (fedora-30/ubuntu-18)

[2020-02-12 18:49] barseghyanartur commented on #5167
@cbz

FYI, that workaround worked well for me; at least for a couple of hours.

[2020-02-12 19:14] QiWang19 commented on #3384
This has been dixed. Can you privide your steps to reproduce the issue?

[2020-02-12 19:47] dagrayvid commented on #3659
Are there any updates to this? Is the recommended way to do this to set no-cgroups = true in /etc/nvidia-container-runtime/config.toml?

[2020-02-12 20:34] #5042 closed

[2020-02-12 21:10] matpen opened #5188 "No network in nested containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Like [others](https://github.com/containers/libpod/issues/4131), me too I am looking forward to the ability of running unprivileged containers inside other unprivileged containers, which IIUC is being [worked on](https://github.com/containers/libpod/pull/4698). Meanwhile I am temporarily reso

[2020-02-12 21:58] cbz commented on #5167
[code]

[2020-02-12 22:20] npmccallum commented on #4047
@debarshiray I just noticed your comment here. The problem is that my UID came from sssd. So I didn't even think about what it was. A good check would be to see if the user's UID is in the middle of their subuid range and warn them. In general, I think a warning about how to set up a proper `/etc/subuid` could be useful.

This is partly the problem that the kernel doesn't provide any real allocati

[2020-02-12 23:01] pdfrod commented on #5167
Since upgrading to Podman v1.8.0 I've also started having this issue in two different machines (both running Ubuntu 19.10), so I had to downgrade to v1.7.0.

I can consistently reproduce the issue, like this:

[code]

However if I remove either the `-d` or the `--userns=keep-id` flags, it works:

[code]

[2020-02-13 01:10] redstorm1 commented on #4935
I am also suffering from this.

[2020-02-13 01:34] #4876 closed

[2020-02-13 01:50] #5182 closed

[2020-02-13 03:15] AkihiroSuda commented on #5167
Thanks for the report, looks like lockosthread issue https://github.com/containers/libpod/blob/5ea6cad20c9659da9bae38a660da584ee2b58aec/pkg/rootlessport/rootlessport_linux.go#L157

[2020-02-13 04:41] pik10 opened #5193 "ERRO[0000] error loading cached network config network not found in CNI cache"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I get this error message. ERRO[0000] error loading cached network config: network "appnet" not found in CNI cache

appnet is the name of my custom network.

**Steps to reproduce the issue:**

1. run the command sudo podman container ls

2. if I run the same command again the error message doe

[2020-02-13 06:46] Jumanjii commented on #5145
@loibpet  I don't want to rush this one on you as my first contribution to this project.
Could you just share if you want to do it or if I can create the merge request?

https://github.com/containers/libpod/blob/master/cmd/podman/commit.go#L18

[2020-02-13 09:00] AkihiroSuda commented on #5167
https://github.com/containers/libpod/issues/5167#issuecomment-585461883 is reproducible to me, the exit FD seems somehow closed immediately.

https://github.com/containers/libpod/blob/2ced9094d4728dd09f60a177faa32339a8d0f721/pkg/rootlessport/rootlessport_linux.go#L196-L201

[2020-02-13 09:01] loibpet commented on #5145
Pls. go on an create a PR

[2020-02-13 10:42] #5110 closed

[2020-02-13 11:20] rhatdan commented on #5188
First have you tried to use buidah to build containers within locked down containers?  We have this working and images available on quay.io:buildah/stable.

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

Does this satisfy you needs?

As far as running a container within a container, we usually advise to turn off most of the namespaces on the inter

[2020-02-13 11:29] rhatdan commented on #4508
@whitel The latest containers.conf in github.com/containers/common, has support for the dns server issue.  The PR to get containers.conf support into Podman is very close. One more issue to get it merged.

[2020-02-13 11:32] matpen commented on #5188
Yes, but I am stuck at [some point](https://github.com/containers/buildah/issues/1818). However, this issue is about a different use case (see below) since I am not trying to build containers.

Studied carefully some time ago, and already implemented that way. However... see the issue I linked above.

In my case, the "outer" container provides a web service that allows users to run containers via

[2020-02-13 11:57] giuseppe commented on #5188
in theory, from a nested unprivileged container it should be possible to use the full set of CNI plugins as the rootless user has full control on the network namespace in the outer container.

[2020-02-13 12:01] vrothberg commented on #5193
Hi @pik10, thanks for opening this issue!

That's an error in ocicni (https://github.com/cri-o/ocicni/blob/master/pkg/ocicni/ocicni.go#L504-L508) and I would be prefer this to be a debug log; error logging a fall back isn't necessary IMHO.

[2020-02-13 12:05] vrothberg commented on #5193
I opened a PR -> https://github.com/cri-o/ocicni/pull/68

[2020-02-13 12:22] vrothberg commented on #5160
Note that `podman inspect` does _not_ contain the hash (i.e., the sha256 digest) of an image but the image ID which is also included in `podman ps`:
[code]

The difference is that `ps` prints the short digest, while `inspect` shows the full digest:
[code]

[2020-02-13 12:34] matpen commented on #5188
I am willing to provide more data and perform more tests, if it can help. Switching podman versions should be possible for me, too.

[2020-02-13 12:37] vrothberg commented on #5136
Closing as Matt provided the answer. The behavior is expected.

[2020-02-13 12:37] #5136 closed

[2020-02-13 12:39] vrothberg commented on #5133
@grzegorzk, can you try with Podman v1.8.0?

[2020-02-13 13:26] vrothberg commented on #5102
Looks like the initial issue is fixed, closing.

[2020-02-13 13:26] #5102 closed

[2020-02-13 13:34] vrothberg commented on #5106
Opened #5195

[2020-02-13 13:36] #5103 closed

[2020-02-13 13:38] johnmmcgee commented on #5102
The centos 8 repo is still not working.   I have it enabled and it will not pull the packages when attempting a dnf update.

[2020-02-13 13:51] vrothberg commented on #5102
The package is definitely there (https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/x86_64/) but I also fail to install it:
[code]

It sees the aarch64 one though. @lsm5 PTAL.

[2020-02-13 13:54] vrothberg commented on #5087
It's still a regression that should be fixed in libpod.conf.

[2020-02-13 13:58] giuseppe commented on #5188
have you already tried using CNI from a rootless container (`--network bridge`)?

[2020-02-13 14:02] nimbius opened #5196 "RFE: enable rootless for ldap users?"
/kind feature

**Description**

It would be awesome to have rootless pods available for LDAP users.  currently this appearsr to be a subuid/subgid limitation?
https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md

**Steps to reproduce the issue:**

1.any podman/buildah/skopeo operation as a user

**Describe the results you received:**
tar failures, lchown failures.

[2020-02-13 14:11] mheon commented on #5196
The core of the issue is outside of Podman - we'd need support in `newuidmap` and `newgidmap` for this. The issue below has some details:

https://github.com/shadow-maint/shadow/issues/154

[2020-02-13 14:33] cfelder opened #5197 "Cannot overwrite file from base image"
/kind bug

**Description**

I am uncertain that this a podman/buildah issue and it appears with docker build as well,
but I cannot use the following simple Dockerfile to overwrite a file which is added in the
base image using:

``ADD launch_awx_task.sh /usr/bin/launch_awx_task.sh``

Dockerfile:
[code]

**Steps to reproduce the issue:**

1. Create ``Dockerfile`` with content mentioned above

2. ``b

[2020-02-13 14:39] mheon commented on #5197
@TomSweeneyRedHat PTAL

[2020-02-13 14:40] mheon commented on #5160
Isn't `ID` in ps the container ID?

[2020-02-13 14:46] cfelder commented on #5197
seems like I've to encapsulate my docker instructions in ``USER``:

[code]

Otherwise the sed instruction will be run by user-id 1000.

[2020-02-13 14:46] #5197 closed

[2020-02-13 15:00] #5106 closed

[2020-02-13 15:22] lsm5 commented on #4791
I have a PR for installing on centos via OBS. PTAL: https://github.com/containers/podman.io/pull/201

[2020-02-13 15:25] lsm5 commented on #5102
mind retrying please? Also, see https://github.com/containers/podman.io/pull/201

[2020-02-13 16:15] imaspeer opened #5200 "Named volume creation with volume path on ecryptfs fails"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Creating a named volume with volume path on an ecryptfs filesystem fails with operation not supported.

**Steps to reproduce the issue:**

1. Start with volume path on an ecryptfs filesystem and selinux enabled

2. Run `podman volume create bug`

**Describe the results you received:**

The co

[2020-02-13 16:18] mheon commented on #5200
I'm guessing that `ecryptfs` does not have SELinux support?

@rhatdan Anything we can do about this? I assume we can't mount into the container without labelling support in the FS?

[2020-02-13 16:25] nimbius opened #5201 "podman pause container from registry.redhat.io?"
/kind feature

**Description**

why isnt pause pulled from registry.redhat.io if im logged in?
if "The Red Hat Ecosystem Catalog is the official source for discovering and learning more about the Red Hat Ecosystem of both Red Hat and certified third-party products and services." then why am I pulling from Googles registry too?

**Steps to reproduce the issue:**

1.podman pod create --name foo

2.

[2020-02-13 16:27] mheon commented on #5201
There has been talk around this - let me see if I can dig up details

[2020-02-13 16:28] vrothberg commented on #5201
This seems like a Red Hat specific request, which should go through Red Hat customer channels rather than through the vendor-neutral upstream here :)

[2020-02-13 16:43] grzegorzk commented on #5133
Tried on v1.8.0 however I'm seeing the same behavior (openvpn starts, binds to tun0 however `netstat` does not list openvpn; I tried to start `sshd` from within the container and can see service listening  listed by netstat)

[2020-02-13 16:44] matpen commented on #5188
Just tried, no luck. But thanks to your suggestion, I also found `--network=slirp4netns`, and that one seems to work!

Not sure about the differences between the various types, and whether this one is suitable in our environment (any hint?) but I will go ahead and try to integrate this solution. Will report back as soon as possible.

[2020-02-13 16:48] giuseppe commented on #5188
slirp4netns on top of slirp4netns will be really slow.

Ideally we should use `--network host` inside of the container, or get CNI to work.

[2020-02-13 16:54] grzegorzk commented on #5133
It works, though I changed so many things on the way that I'm not sure if it was podman version bump. I will do little writeup on openvpn wiki pages for others to use. Thanks for your great help!

[2020-02-13 16:54] #5133 closed

[2020-02-13 17:42] johnmmcgee commented on #5102
Same issue as before.  I am unable to install any items from that repo.

[2020-02-13 17:48] nimbius commented on #5201
@vrothberg
there sure are a lot of Red Hat specific members in "the containers organzation," so you'll have to forgive me if I get my issues misplaced ;)

Opened case 02585119 for the full enterprise experience.

[2020-02-13 18:23] lsm5 commented on #5102
could you post all the commands you used along with the output messages please?

[2020-02-13 22:03] cruscio commented on #5201
Ran into an issue with this today. Podman 1.6.4

My organization blocks storage.googleapis.com. OpenDNS was hijacking the HTTP request to show a content filtering error page.

[code]

If you google [storage.googleapis.com](https://www.google.com/search?client=ubuntu&channel=fs&q=storage.googleapis.com) the top results are mostly about it being a malicious site. It's heavy handed security policy, b

[2020-02-13 22:34] nimbius commented on #5201
Is it safe for podman to check registries.conf for pause container location as well?

[2020-02-13 22:41] fbruetting commented on #4397
This now is the case again with Toolbox 0.0.18-1 and podman 1.8.0-2 on FSB31. Can anyone reproduce?

[2020-02-13 23:31] johnmmcgee commented on #5102
Hello,

So i followed the instructions, per the website.  Here is an output to show you what is available in dnf.

`[root@bender ~]# cat /etc/yum.repos.d/devel\:kubic\:libcontainers\:stable.repo
[devel_kubic_libcontainers_stable]
name=Stable Releases of Upstream github.com/containers packages (CentOS_8)
type=rpm-md
baseurl=http://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stab

[2020-02-14 00:50] medyagh opened #5205 "network inspect does not have format"
we added podman as a driver to minikube ! and merged but I wanna add minikube's mount feature. https://github.com/kubernetes/minikube/issues/6628

I wanna do something simmilar to this in docker:
[code]

but podman doesnt have format for network inspect

[code]

[2020-02-14 02:16] rhatdan commented on #5200
We are supposed to ignore those errors an hope for the best.

[2020-02-14 02:21] henrywang commented on #4904
Sorry for late response. Just came back from my vacation.
@rhatdan, I update to podman 1.7.0. Still have same issue.
@vrothberg, Updating to podman 1.8.0 doesn't fix this issue.
And I have the same issue on both my laptop and my workstation. Both of them are running on F31, my laptop is running F31 Silverblue.

[2020-02-14 08:51] HarryMichal commented on #4397
@fbruetting Yeah, I can reproduce it with both Toolbox container and the steps in the original issue.

`toolbox-0.0.18-1.fc31.noarch`, `podman-1.8.0-2.fc31.x86_64`, `crun-0.12.1-1.fc31.x86_64`

[2020-02-14 09:43] giuseppe commented on #5201
will be enough on RHEL to change the default setting for `infra_image` in `libpod.conf`?

[2020-02-14 09:53] matpen commented on #5188
I believe that this does not affect the current use case because the outer container is privileged (so it uses the bridge network?). Anyway, during my tests performance seems acceptable.

However, I am facing a different problem with `slirp4netns`: it appears that, as soon as the inner container is started, the outer container becomes unreachable (forwarded ports do not respond).

Here is a minima

[2020-02-14 09:57] giuseppe commented on #5188
if the outer process is rootless, it will still use slirp4netns.  `--privileged` for rootless doesn't give any additional privilege in the host for setting up a bridge

[2020-02-14 09:59] matpen commented on #5188
The outer container is rootful. Sorry for not being clear, I thought that privileged containers must be rootful (or they wont start).

[2020-02-14 11:38] vrothberg commented on #5205
Thanks for opening the issue, @medyagh! Are you interested in contributing this feature?

[2020-02-14 12:30] vrothberg commented on #5201
Fully understand why you opened the issue :)

Thanks!

Since it's a Red Hat specific request, I am closing the issue. As @giuseppe mentioned above, the infra image can be changed in the `libpod.conf` if desired.

[2020-02-14 12:30] #5201 closed

[2020-02-14 12:34] vrothberg commented on #5196
Thanks for opening the issue, @nimbius. As we're blocked on shadow-maint/shadow#154 there's not much we can do atm. Given it's documented, I am closing the issue.

Once shadow-maint/shadow#154 is fixed and has bubbled up, we can tackle it here in libpod.

[2020-02-14 12:35] vrothberg commented on #5174
Fixed in #5177, closing.

[2020-02-14 12:35] #5174 closed

[2020-02-14 12:51] vrothberg commented on #5114
The error message seems to be swapping the database and user-selection as well.

Why are we logging an error for this case? Wouldn't an Info log be sufficient?

[2020-02-14 12:51] vrothberg commented on #5114
Cc: @giuseppe @rhatdan

[2020-02-14 13:45] vrothberg commented on #5113
@giuseppe, ping

[2020-02-14 13:48] giuseppe commented on #5113
@disaster123 it is fixed, right?

[2020-02-14 14:03] disaster123 commented on #5113
Sorry yes if I use the statically compiled crun binary. If I compile myself under buster it is not. No idea why.

[2020-02-14 14:10] vrothberg commented on #5113
Are you using the packages from OBS?

[2020-02-14 14:26] rhatdan commented on #4904
@henrywang Earlier you said it was working on NON Silverblue F31, now it is broken?  Have you tried to identify exactly what is failing within the container?

You also said that if you launch this with --user root it works, is this still the case?

[2020-02-14 14:48] vrothberg opened #5212 "CI flakes with podman-login"
I hit podman-login flakes quite frequently in the passed which suggests to have a look at it and track down potential sources for the flakes.

[+1077s] [Fail] Podman login and logout [BeforeEach] podman login and logout with flag --authfile
[+1077s] /var/tmp/go/src/github.com/containers/libpod/test/e2e/login_logout_test.go:58
[+1077s]
[+1077s] [Fail] Podman login and logout [It] podman login and l

[2020-02-14 14:58] jobcespedes commented on #4198
Same error as above.
SB 31
Podman 1.7.0

[2020-02-14 15:22] vrothberg commented on #5160
Must have been a lack of coffee :^) Yes, that's the container ID.

Inspect uses "Image" as the ID, and "ImageName" as the reference. Ps is using "Image" as the reference.

Curiously:
[code]
While Docker docs claim Image as the ID...

It would still be helpful to fully understand @liewegas's use case.

[2020-02-14 15:36] mheon commented on #4198
Still can't repro - Fedora 31, latest toolbox, Podman, and crun.

[2020-02-14 15:37] mheon commented on #4198
I'd be happy to work on this one if someone can provide a reliable reproducer. A `--log-level=debug` trace of `podman start` on the toolbox container (and any associated `conmon` logs printed to syslog) would also help.

[2020-02-14 15:45] liewegas commented on #5160
I'm trying to build an inventory of running ceph containers on the host that includes

- container id
- image name
- image id (hash)

and do it quickly.  Right now that requires running podman inspect on every container, which makes this inventory take many seconds overall.  If the podman ps included the image hash, then it would have everything I need and (I'm hoping) still take the <200ms it doe

[2020-02-14 15:48] vrothberg commented on #5160
I think we can add that to the output. But note that the ID is not a hash (as the image digest) but just a unique ID.

[2020-02-14 16:42] jobcespedes commented on #4198
Updated to podman 1.8.0, rebooted, problem gone. Cannot reproduce again. I believe it could had been related to permissions in ~/.local/share/container

[2020-02-14 17:21] QiWang19 commented on #5000
I can replicate this issue with  fedora 31, podman 1.7.0
but this issue has been fixed with upstream master.
Should we close this issue?

[2020-02-14 17:23] rpjday commented on #5000
I will leave it to those higher up the food chain to close this issue.

[2020-02-14 17:32] spidercatnat opened #5215 "Failure running podman with systemd on containerized emulated Raspbian distro"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I would like a containerized development environment that fully emulates the Raspbian Buster operating system. As far as developing our client/server software using Node.js goes, I'm set - but our end-product depends on SystemD services and it would be nice develop those from the comfort of m

[2020-02-14 17:35] Jake-Shadle commented on #3854
This seems to have regressed again, at least on 1.8.0.

[code]

[2020-02-14 17:47] mheon commented on #3854
Confirmed, looking into it

[2020-02-14 17:59] rhatdan commented on #5215
Does it work in --privileged mode?

[2020-02-14 18:00] rhatdan commented on #5215
If this works, could you try without --privileged but with
--cap-add net_admin

[2020-02-14 18:02] rhatdan commented on #5000
If it is upstream @QiWang19 Then close the issue, if someone disagrees, they can reopen.

[2020-02-14 18:02] #5000 closed

[2020-02-14 18:26] rhatdan commented on #5188
No, I actually started to write a blog on this a while back. I should finish writing it.
--privileged means turn off all of the container security isolation. (SELinux, Dropped Capabilities, Read/Only kernel file systems, Seccomp.

It has nothing to do with Rootless or rootful, and nothing to do with namespaces.

[2020-02-14 19:12] baude commented on #5205
@medyagh the network stack is a major difference between podman and docker.  for example, in inspect there really is very little chance the output would look the same.  given that, would format still be helpful?

[2020-02-14 19:13] #5166 closed

[2020-02-14 19:20] rhatdan commented on #5201
Which means this is a packaging issue and should be handled by a Red Hat bugzilla.

[2020-02-14 19:35] rhatdan commented on #5160
Is there a way to customize the podman ps output, similar to podman top?

[2020-02-14 19:57] rhatdan commented on #3535
Fixed in master.

[2020-02-14 19:57] #3535 closed

[2020-02-14 20:17] mheon commented on #3854
Reopening, given that this is happening again

[2020-02-14 20:23] mheon commented on #3854
Looks like our label parsing is rather entangled with environment parsing, which I think is the cause.

[2020-02-14 23:36] fbruetting commented on #4397
Can someone reopen then?

[2020-02-15 00:04] TomSweeneyRedHat commented on #4397
Reopening and I wonder if #5203 at least helps to address this?

[2020-02-15 01:22] henrywang commented on #4904
Thanks @rhatdan.
1. Yes, it was working on F31(non-silverblue) before (with podman `1.6.2`), and it's broken now because my F31(non-silverblue) got system update (podman updated to `1.7.0` and then `1.8.0`).
2. Looks `supervisord` cannot start selenium service
3. `--user root` works on podman `1.8.0` and `1.7.0`

Summary: (Same selenium/hub:3 image)
1. Podman `1.6.2` works even no `--user root` ad

[2020-02-15 09:47] Jake-Shadle commented on #3854
Wow, thanks for the quick response and fix!

[2020-02-15 10:02] vrothberg commented on #5160
Yes, with `--format`.

[2020-02-15 11:50] #3854 closed

[2020-02-15 12:16] rhatdan commented on #4904
Have you been able to strace what is blowing up?

Most likely would be some file/directory path has changed that used to be accessible by non-root is now changed.  And the processes inside the container are getting permission denied.

I would figure it is something in /dev or one of the mounted file system objects.

[2020-02-15 15:41] #5170 closed

[2020-02-15 19:05] #5012 closed

[2020-02-15 22:31] hikhvar opened #5219 "VOLUME from Dockerfile is not overwritten"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I want to run the official teamspeak image. I want to overwrite the data directory with a directory of my own. Neither `-v` nor `--mount` will overwrite the `VOLUME` from the Dockerfile. Podman run will always create a volume. I do **not** run podman rootless.

**Steps to reproduce the issue:

[2020-02-16 00:12] mheon commented on #5219
I'll take this one

[2020-02-16 00:23] mheon commented on #5219
Can you provide the name of the image being used in the examples here? I can't reproduce with Podman 1.8.0 trying to mount over an image volume in a custom-built image, so it might be specific to this image.

[2020-02-16 00:25] mheon commented on #5219
Actually, just a `podman inspect` of the image would help a lot... My initial suspicion is that there's something slightly different about this volume mount (trailing `/` maybe? Something messing up our normal comparison) and inspect should tell us that path

[2020-02-16 01:16] NobodyXu opened #5220 "`podman image ls -a` is so slow that it took 2m"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman image ls -a` is so slow that it took 2 minutes.

**Steps to reproduce the issue:**

 1. Compile [crun](https://github.com/containers/crun) according to [here][2];
 2. Install slirp4netns;
 3. Write `net.ipv4.ping_group_range = 0 $MAX_UID` to `/etc/sysctl.d/rootless-ping.conf`;
 4. Ins

[2020-02-16 01:29] mheon commented on #5220
Probably has something to do with the sizes being shown - that's a very expensive operation. I thought we required a flag to show those.

[2020-02-16 01:31] mheon commented on #5220
Hm. Might be wrong here, it looks as though we do display by default.

There are a lot of very sizable images there, though, which could be part of our cause.

[2020-02-16 01:38] NobodyXu commented on #5220
Maybe have a cache of these data can be a good idea instead of querying the filesystem every time?

I mean, these are data essential to container image management, it probably should be fast on any filesystem and give me a good idea of images.

[2020-02-16 01:45] mheon commented on #5220
I've never seen similar results to yours, so I'm not certain that's the cause. I'll leave it to others more familiar with the image side of the code to determine - @vrothberg PTAL

[2020-02-16 06:28] hikhvar commented on #5219
Hey,

Don't have access to my terminal currently, but it was this image
https://hub.docker.com/layers/teamspeak/library/teamspeak/3.11.0/images/sha256-c6bc812dfa39c58ce35d8f742acee51fc33ab6509c1824d071be732b24a17875?context=explore
And you are right it included a trailing / in the volume. I added trailing
slashes in the `-v` parameter yesterday . No effect.

Matthew Heon <notifications@github.com>

[2020-02-16 10:24] vrothberg commented on #5220
How long does it take without the `-a`?

[2020-02-16 10:27] NobodyXu commented on #5220
It is pretty fast without `-a`:

[code]

[2020-02-16 10:32] NobodyXu commented on #5220
And now, for whatever reason, the time `podman image ls -a` takes is back to `1.836s`, with even more images:

[code]

This is fairly strange. Since I didn't install/update/remove any packages from my system or enable/disable any systemd-unit, the only thing I did is editing a few files, using `podman` to build, pull and run a few images and normal git operations, and it suddenly becomes as fast a

[2020-02-16 10:38] vrothberg commented on #5220
Good to know things are fast again. When it was slow, did you run any podman commands in parallel at the same time? For instance, building images or pulling them?

[2020-02-16 10:39] NobodyXu commented on #5220
No, at that time I was doing nothing but `podman image ls -a`. I just booted my linux and hasn't lanunch anything except a terminal and tmux, not even chrome was running

[2020-02-16 10:40] NobodyXu commented on #5220
I checked `htop` when it took so long, its reads were alright. No big CPU overhead, no too much ram consumption (at least I remembered so), but the fan is spinning really quick.

[2020-02-16 12:57] NobodyXu commented on #5220
Before this phenomenon happened, there was even a period of time where `podman` copy dir from previous stage during build without any `COPY` issued for that.

[2020-02-16 13:45] matpen commented on #5188
Thank you for the clarifications. In any case, I will make sure to add `sudo` when posting examples, so that they become more clear.

I also performed some checks and:
* running `podman inspect` on the running containers seems to confirm the use of the bridged network;
* I also see no difference in the output of `podman inspect` if I force the use of the bridge by adding `--network=bridge` on comm

[2020-02-16 23:21] mheon commented on #5219
#5222 to fix

[2020-02-17 07:28] vrothberg commented on #5220
Thanks for the report! I fear there's nothing we can do at the moment. If it happens again, please make sure to capture the output `ps aux` and of `lslocks` and comment here (or open a new issue). I suspect that another podman process was running in parallel and competing for the storage locks.

[2020-02-17 07:28] #5220 closed

[2020-02-17 07:47] #5145 closed

[2020-02-17 08:02] vrothberg commented on #5160
I opened https://github.com/containers/libpod/pull/5223

[2020-02-17 09:05] marusak opened #5224 "APIv2: Streaming closes after a few minutes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Listening on `/events` endpoint of the APIv2 closes after a few minutes. It should be kept open as long as anyone is listening.

**Steps to reproduce the issue:**

1.  In one terminal run `sudo podman --log-level=DEBUG system service -t 0`
2. In another terminal run `sudo curl --unix-socket /r

[2020-02-17 10:15] groovyman opened #5226 "Passing arg to bypass X11 cause permission denied error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I am not quite sure, if this is a bug. Let me explain what i have done. Id decided to migrate a dizzy java swing application into a podman. I also got some ideas from [X11 and podman](http://sham1.sinervo.fi/blog/x11_and_podman.html) So i reused a fedora system and added some software to run

[2020-02-17 10:24] nefigtut opened #5227 "reopen libpod/issues/4900"
hello,

could you please reopen the issue 4900: https://github.com/containers/libpod/issues/4900

the problem is still there and (afaiu) the issue was closed because just one suggested way to resolve was denied.

[2020-02-17 10:30] vrothberg commented on #5227
Let's keep the discussion over at #4900 (now reopened)

[2020-02-17 10:30] #5227 closed

[2020-02-17 10:30] marusak opened #5228 "APIv2: When /images/search fails do not return null"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
When /images/search fails, the respons also contains `null` (as no images found), however the reply is then not a valid JSON and is difficult to parse. Since code 200 means that the request succeeded, there is no need to try to show that there are not images.

**Steps to reproduce the issue:**

[2020-02-17 10:36] groovyman commented on #5226
update: I changed the cmd to the shell, that calls the java app and added also the volume arg `/tmp/.X11-unix/` but still receiving the eror:
[code]
So the DISPLAY env-var does not work. I think that i am getting closer, but still missing something.

[2020-02-17 12:31] schubter opened #5229 "APIv2: querying images containing slashes does not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

i have a few images stored, and can verify having them available on the images endpoint

[code]

however, querying them is not possible, as it contains a forward slash

[code]

if I replace the forward slash between library and Golang with %2F it works as expected

[code]

**Describe the results you received:

[2020-02-17 13:10] lsm5 commented on #5102
@johnmmcgee did you disable the container-tools module?

[code]

[2020-02-17 13:31] rhatdan commented on #5226
SELinux is going to block container_t from communicating with the XServer process.  Just chcon on /tmp is not going to help.  Disable selinux and see if you get further.

--security-opt label=disable

[2020-02-17 13:38] giuseppe commented on #4900
that won't be enough.  That kind of check must be done by the OCI runtime.  Otherwise there is a race condition by the time Podman checks for the existence of the source and the time the OCI runtime creates the bind mount.

That is unlikely to be adopted in the OCI runtime specs, the best we could possibly to is to add a custom extension/annotation to crun to support it.

[2020-02-17 13:40] marusak opened #5230 "APIv2: Filters in /containers/json do not work"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**
1. I have two running containers and one exited:
[code]
2. Querying containers with `/constainers/json` endpoint works as expected:
[code]

3. Querying all containers with `/constainers/json` endpoint works as expected:
[code]

4. When I want to just see one

[2020-02-17 14:36] groovyman commented on #5226
Salut Dan,
1. i disabled selinux on the hosting system
2. and called the container with:

[code]
But i still get the same error. Did you meant, that i should disable selinux on the host ? (i did)

[2020-02-17 14:40] mheon commented on #5226
I think the Toolbox folks forward X into the container - @debarshiray Did you need to do anything special to do that?

[2020-02-17 14:40] miabbott opened #5232 "order of single + double dash options to `podman run` can cause errors"
/kind bug

Using RHCOS 44.81.202002131031-0 with `podman-1.6.4-2.module+el8.1.1+5363+bf8ff1af.x86_64`

Tried to run an existing container image with a mix of single dash and double dash options (notably `--systemd`) and the `run` command tries to pull the wrong image:

[code]

Or it has some sort of parsing error when options are shuffled around:

[code]

Or it can't find the image at all?

[code]

[2020-02-17 14:44] mheon commented on #5232
I think I might know this one... `--systemd` changed from a boolean to requiring an argument sometime recently, and it could well be consuming `-p` as its argument.

Try `--systemd=true`

[2020-02-17 14:49] miabbott commented on #5232
@mheon Yeah, I blindly went using `--systemd` without RTFM first.

In my original comment, you can see that passing a value to `--systemd` got me going.  But I still think some input validation would be appropriate here.

[2020-02-17 14:53] mheon commented on #5232
We do basically no parsing before pulling the image, which is arguably a mistake, but very difficult to change in the current code. Fortunately, we're already doing some reworks on create, so we might be able to fix this eventually.

[2020-02-17 14:57] groovyman commented on #5226
Salut Matthew,
i think they work with CoreOS oder Silverblue, i gave 'fedora:latest' a try. Anyway any help is appreciated to get the java application to work inside a podman.

Thank you in advance!

[2020-02-17 15:00] rhatdan commented on #5226
No you do not need to disable SELinux on the host.
I take this it works with --privileged?
If yes, then we have an issue with Capabiltiies, SECCOMP or SELinux.  You seem to have eliminated SELinux, but just to make sure.
Can you try in permissive mode
setenforce 0
If this does not fix it and --privilege does, could you try without --privileged and just
--cap-add all
If this does not fix it, try wi

[2020-02-17 15:06] adrianreber commented on #5226
@groovyman

Not exactly what you are looking for but I am using the following commands in an HPC like setup to run a container (rootless) with X forwarding:
[code]

This is on a host I connect to via `ssh -X` so it is even one level more complicated X forwarding. But this works rootless, so maybe there is something in this example which helps you.

If remember it correctly it was important that th

[2020-02-17 15:08] groovyman commented on #5226
Thank your very much for your help.
I got another idea to run a sshd inside the podman. That would change its behaviour to a running service. By ssh -Y i could tunnel X11.

[2020-02-17 15:13] mheon commented on #5224
@jwhonce This sounds like the timeout closing the connection... I think you were working on this, so assigning to you

[2020-02-17 15:18] rhatdan commented on #4039
@baude @jwhonce Has the APIs for login/logout been implemented in the new API yet

[2020-02-17 15:19] rhatdan commented on #4875
@vrothberg hasn't some of this been implemented?

[2020-02-17 15:21] chrmarti commented on #5046
I see a similar issue with 1.8.0 when piping a tar.gz. It gets part of the file across, but then breaks:

[code]

[2020-02-17 15:29] groovyman commented on #5226
@rhatdan

Just give you a reply on your suggestions:
1. test (setenforce=1 / --privileged)  not working, same X11 problem
2. test (setenforce=0 / --privileged)  not working, same X11 problem
3. test  setenforce=0 does not help. The podman process seems to be unable to connect to the UNIX-domain socket under :0  `Exception in thread "main" java.awt.AWTError: Can't connect to X11 window server using

[2020-02-17 16:05] marusak commented on #5230
Ok, so it was issue with the fact that I was sanding wrongly formated filters.
From documentation it was absolutely not clear how it should look like, but I've been told by @baude that the documentation mentions it, it was just not yet deployed.

[2020-02-17 16:05] #5230 closed

[2020-02-17 16:26] mheon commented on #4913
I can't reproduce this again, and I haven't heard of anyone else being able to.

If someone can manage to find a more consistent reproducer, I'd love to take a look at this, but for now I'm going to close.

[2020-02-17 16:26] #4913 closed

[2020-02-17 16:28] mheon commented on #4878
We're stuck waiting for containers.conf right now. Reassigning to Dan.

[2020-02-17 16:30] mheon commented on #4809
Given the deprecation of Varlink, I'm going to go ahead and close this as WONTFIX. The feedback has been addressed in the new HTTP API, though.

[2020-02-17 16:30] #4809 closed

[2020-02-17 17:43] mprahl opened #5234 "podman save fails when specifying an image using a digest"
/kind bug

**Description**

podman save fails when specifying an image using a digest

**Steps to reproduce the issue:**

1. podman pull quay.io/olmtest/single-bundle-index@sha256:dce3d3e858ecfb7f2ddfb0e3550a867faaf39706dfb6da71cab04f909edc428f

2. podman save quay.io/olmtest/single-bundle-index@sha256:dce3d3e858ecfb7f2ddfb0e3550a867faaf39706dfb6da71cab04f909edc428f -o temp.tar

**Describe the res

[2020-02-17 18:16] edsantiago opened #5238 "swagger: possible inconsistencies"
These are the inconsistencies my script sees in the `// swagger:operation` comments. I've organized them by what seems to me like a common grouping, and hope that it makes sense. Not all of these may be real issues, they're just confusing.

All files are under `pkg/api/server`. In some places I have adjusted whitespace for legibility.

### Missing `libpod` prefix

The following names in `register_

[2020-02-17 18:17] edsantiago commented on #5238
@baude @jwhonce this is not high priority, but I'd appreciate your feedback.

[2020-02-17 19:02] edsantiago commented on #5128
One snag to be aware of: there are three scenarios here, not two:
* `--tz=image` - does nothing
* `--tz=host` - (presumably) bind-mounts `/etc/localtime`. This should be easy.
* `--tz=user`? - this is the case where the user has `TZ` explicitly set, overriding system `/etc/localtime`. This is, I believe, thorny.

podman could simply env-forward `TZ`, but that could yield unexpected results: e.g. `

[2020-02-17 19:06] edsantiago commented on #5128
Groan. The obvious next step is that someone will want `--tz=STRING`, e.g. `US/Eastern` or `EST5EDT` or somesuch. This escalates quickly.

[2020-02-17 19:21] spidercatnat commented on #5215
Running it in --privileged mode hangs at boot when starting the journal service.
[code]

Starting with --cap-add net_admin hangs when starting the internal clock...

[code]

[2020-02-17 19:35] spidercatnat commented on #5215
Looks like something gnarly is happening between qemu and the init process? Here are some of the logs from `journalctl -xe`:

[code]

[2020-02-17 19:51] rhatdan commented on #5226
Well if this all does not fix it, then the only thing left would be user namespace. I guess login to the container and see if you can see these directories and what the permissions look like on them.

[2020-02-17 20:08] rhatdan commented on #4059
@haircommander Have you thought about this or worked on it at all?

[2020-02-17 20:09] rhatdan commented on #4093
Is this something an intern could work on?

[2020-02-17 20:09] rhatdan commented on #4119
@QiWang19 @TomSweeneyRedHat What should we do with this one?

[2020-02-17 20:10] rhatdan commented on #1911
Ping to bring this back to peoples consciousness.

[2020-02-17 20:11] rhatdan commented on #1433
The storage PR needs a rebase.

[2020-02-17 20:13] rhatdan commented on #2317
@mtrmac @vrothberg Any movement on this?

[2020-02-17 20:13] rhatdan commented on #4219
No one seems to have touched this in a couple of months.  Is this still something we should have?

[2020-02-17 20:14] rhatdan commented on #4260
I don't see anyone working on this. so I am going to close.  Re-open if you believe this should be fixed.

[2020-02-17 20:14] #4260 closed

[2020-02-17 20:15] rhatdan commented on #4283
@edsantiago were you every able to generate a tests for this?

[2020-02-17 20:16] rhatdan commented on #3837
@mheon is this something that is being worked on?

[2020-02-17 20:16] rhatdan commented on #4254
I am going to close, since I don't see any movement on this.  Reopen if I am mistaken.

[2020-02-17 20:17] rhatdan commented on #3979
Is anyone working on this?  Planning to work on this?

[2020-02-17 20:18] rhatdan commented on #4504
Since we have depracated varlink, I don't see this one being fixed.  We are moving to APIV2.

[2020-02-17 20:18] #4504 closed

[2020-02-17 20:20] kommulu opened #5239 "Problem mounting cifs-share as volume into container"
Hi,
I hope this is the right place to ask a question regarding Podman.
So, I want to migrate my containers from Docker to Podman, to be able to run them rootless easily.
My biggest roadblock is the following:
On my container-host (CentOS 8, Podman 1.6.4) I have a cifs-share mounted. The share is mounted with uid and gid 8000 and the context set to "system_u:object_r:container_file_t:s0".

In one o

[2020-02-17 20:21] rhatdan commented on #4794
This needs to be fixed in the python3 package, I don't see anything for us to do here.

[2020-02-17 20:21] #4794 closed

[2020-02-17 20:21] edsantiago commented on #4283
Oops, no - I dropped the ball on this. In fact there aren't currently _any_ `login` tests in the podman system test suite; I've never been sure how to fit those in. I'll look into it today.

[2020-02-17 20:22] rhatdan commented on #4950
@QiWang19 PTAL

[2020-02-17 20:23] rhatdan commented on #4854
@mheon did you make a card?

[2020-02-17 20:23] #4883 closed

[2020-02-17 20:24] rhatdan commented on #4739
@siscia Are you still working on this?

[2020-02-17 20:24] rhatdan commented on #4718
@mheon Any progress?

[2020-02-17 20:25] rhatdan commented on #4551
@QiWang19 is working on this.

[2020-02-17 20:26] rhatdan commented on #3575
@vrothberg any progress on this?

[2020-02-17 20:27] rhatdan commented on #4957
@vlina Are you still having this issue, it seems to have gotten lost in the noise.

Most likely this is SELinux

podman run -v /opt/data:/data:Z  foo:latest

Should fix your issue.  Reopen if I am mistaken.

[2020-02-17 20:27] #4957 closed

[2020-02-17 20:28] rhatdan commented on #4955
@saschagrunert @mheon @AkihiroSuda Any work being done on this?

[2020-02-17 20:30] rhatdan commented on #4907
@mheon any further ideas?  Have you talked to the CNI guys?

[2020-02-17 20:30] rhatdan commented on #4134
@abitrolly @cevich @afbjorklund Any movement on this one?

[2020-02-17 20:31] rhatdan commented on #4535
@QiWang19 needs an update.

[2020-02-17 20:32] siscia commented on #4739
Honestly we were planning to propose this as GSoC project.

Progress on this front are a little slow at the moment since the whole program didn't start yet.

Regarding this project I am busy with the bureaucracy from our side (mostly sorted out) and coming up with a good test for possible students.

[2020-02-17 20:32] rhatdan commented on #4654
Can I close this issue now?  Not sure this is actually a podman problem?  Reopen if I am mistaken

[2020-02-17 20:32] #4654 closed

[2020-02-17 20:33] rhatdan commented on #4131
Still waiting to get containers.conf PR merged.

[2020-02-17 20:34] rhatdan commented on #4704
@Komic I think you are seeing a different issue, please open a new issue.

[2020-02-17 20:34] #4704 closed

[2020-02-17 20:34] rhatdan commented on #4304
Looks like we are waiting for 1.9?

[2020-02-17 20:35] rhatdan commented on #4123
@QiWang19 Working on this one?

[2020-02-17 20:35] afbjorklund commented on #4134
@rhatdan : have no idea about snap, I wondered about a regular Linux binary (for podman-remote)

[2020-02-17 20:36] rhatdan commented on #4646
@TadCordle Any chance you could work on this.  We don't have anyone with the time to work on it right now.

[2020-02-17 20:38] rhatdan commented on #4577
PR https://github.com/containers/image/pull/817

[2020-02-17 20:40] rhatdan commented on #4618
The problem is podman has no idea which Capabilties allow what, and this changes all the time.
I don't see us adding these features, and believe that the user should be required to figure this out.

[2020-02-17 20:40] #4618 closed

[2020-02-17 20:41] rhatdan commented on #4327
This is not something we can fix, so closing.

[2020-02-17 20:41] #4327 closed

[2020-02-17 20:41] jwhonce commented on #5224
https://github.com/containers/libpod/pull/5158 should resolve this issue.

[2020-02-17 20:41] rhatdan commented on #4543
Still waiting for containers.conf to be merged.

[2020-02-17 20:42] mheon commented on #4304
Still on hold for Exec stuff. Honestly, on hold until Brent stops feeding me APIv2 work, heh

[2020-02-17 20:42] rhatdan commented on #4480
This issue should be moved over to github.com:containers/image  Since it will never be done in Podman without showing up there first.

[2020-02-17 20:43] rhatdan commented on #1826
PR is still out there.

[2020-02-17 20:50] rhatdan commented on #2957
From my reading of the code, I think this is implemented, reopen if I am mistaken.

[2020-02-17 20:50] #2957 closed

[2020-02-17 20:51] rhatdan commented on #3550
@QiWang19 Any chance you can look at this?

[2020-02-17 20:52] mheon commented on #4907
Not yet. I'll ask.

[2020-02-17 20:52] rhatdan commented on #3587
Still waiting on containers.conf

[2020-02-17 20:52] rhatdan commented on #3722
@adrianreber Any progress on this one?

[2020-02-17 20:54] rhatdan commented on #4909
Since this is not something Docker supports, and is beyond what we are working on now, I think this has to be contributed someone else.

[2020-02-17 20:54] rhatdan commented on #4648
@Noah-Huppert Are you still working on this issue?

[2020-02-17 20:55] rhatdan commented on #4595
Since we have had no response from @yegle I am going to close this issue. Please reopen if this is still needed.

[2020-02-17 20:55] #4595 closed

[2020-02-17 20:56] rhatdan commented on #4787
@cevich @afbjorklund What is the scoop on this one? Can I close it?

[2020-02-17 20:56] rhatdan commented on #3821
@vrothberg Did you ever finish this?

[2020-02-17 20:58] rhatdan commented on #4130
@vrothberg Did you ever get around to this?  Shouldn't this be a simple fix?

[2020-02-17 21:23] yegle commented on #4595
Sorry for not responding earlier.

The original issue was raised when using a `docker-compose.yaml` with the following content on `podman-compose`:

[code]

This works with `docker-compose` but not `podman-compose`. Let me file a bug to `podman-compose` repo.

[2020-02-17 21:27] mheon commented on #4907
Update: ordering of results from CNI is same as order that networks were passed in. Will try to get to this tomorrow.

[2020-02-17 21:47] edsantiago commented on #5034
Well, here's an interesting difference:
[code]
On f30:
[code]
On rawhide:
[code]

[2020-02-17 21:47] afbjorklund commented on #4787
I'm using the `CIRRUS_TAG` and `GIT_COMMIT` workaround, which seems to be doing the trick...

[code]

Maybe not the prettiest, but "works for me". Now, if only I could find some `podman-remote` ;-)

Should I open a PR about adding binaries to the GitHub releases, or will you fix the Cirrus CI ?

[2020-02-17 21:58] mheon commented on #4955
Not on my end. I think the first conversation has to be what is sane to set (I'm not certain whether we want to provide an IP if it's not reachable from the host, for example)

[2020-02-17 22:04] mheon commented on #4718
#5241 to fix - a lot of other options got mixed in to the PR.

[2020-02-17 22:06] mheon commented on #4883
The Varlink API is being deprecated. I don't think we have this issue with the new HTTP API, but we'd be happy to take a bug report against it if we do.

[2020-02-17 22:07] mheon commented on #4854
I'll make a card, but I'd prefer not to close this. This could easily be taken by a community contributor.

[2020-02-17 22:13] rhatdan commented on #4963
This is a bug in python3, we can not fix it from podman.

[2020-02-17 22:13] #4963 closed

[2020-02-17 22:14] rhatdan commented on #1671
Will this continue to happen on APIV2?

[2020-02-17 22:16] rhatdan commented on #4580
I don't see this as an upstream issue.

[2020-02-17 22:16] #4580 closed

[2020-02-17 22:16] mheon commented on #5239
Firstly, you will *only* be able to write to that share from users that have access to UID and/or GID 8000. Rootless Podman runs with the same privileged that the user running it has; if that user does not have permission to access that UID and GID, we won't either. Furthermore, rootless Podman uses a user namespace to grant the user who ran it access to more than 1 UID and GID. This means that th

[2020-02-17 22:17] mheon commented on #1671
Most likely yes, given the way our copying works, but I'm not 100% certain.

[2020-02-17 22:18] rhatdan commented on #5001
@mheon PTAL

[2020-02-17 22:18] mheon commented on #3979
It should be part of `podman container clone`, which nobody is actively working on. However, the work @baude is doing with create for APIv2 is making `clone` a lot closer than it once was.

[2020-02-17 22:19] rhatdan commented on #4560
Since we are not updating varlink, closing this issue.

[2020-02-17 22:19] #4560 closed

[2020-02-17 22:20] rhatdan commented on #1742
Can we close this one now?  Is podman available from Debian?

[2020-02-17 22:20] rhatdan commented on #4501
@cevich @lsm5 What's the scoop on this one, can we close it?

[2020-02-17 22:21] rhatdan commented on #4962
@Akasurde Any progress?

[2020-02-17 22:21] mheon commented on #5001
We cannot rename `Names` to `Name` for compatibility with Docker. Their version of the field is called that, and we need to maintain the name so Go templates in `--format` continue to work. I'll look at the rest, but I'm a bit hesitant to make changes here; the current situation isn't perfect, certainly, but we risk breaking users by renaming or removing fields.

[2020-02-17 22:24] mheon commented on #3837
https://github.com/containers/libpod/pull/5241

[2020-02-17 22:26] rhatdan commented on #4978
@ArangoGutierrez Could you open an issue with github.com:containers/common and better yet open a PR on github.com:containers/common/pkg/config/ to add annotations.

[2020-02-17 22:28] rhatdan commented on #4784
Well if this happens again we can reopen.

[2020-02-17 22:28] #4784 closed

[2020-02-17 22:29] rhatdan commented on #4789
@lsm5 Any update?

[2020-02-17 22:31] rhatdan commented on #3264
@vrothberg do you have time to work on this?  Otherwise I can add it to @QiWang19 List.

[2020-02-17 22:31] rhatdan commented on #5006
Opened a PR to handle this.  If/When this gets merged it should fix this issue.

[2020-02-17 22:42] ArangoGutierrez commented on #4978
Happy to do it.

[2020-02-17 22:45] onlyjob commented on #4784
It will certainly happen again as soon as I remove highly unusual workaround: https://salsa.debian.org/debian/libpod/blob/master/debian/rules#L34-39

[2020-02-17 22:47] TomSweeneyRedHat commented on #1742
@lsm5 WDYT?

[2020-02-17 22:49] TomSweeneyRedHat commented on #4119
We should keep it.  It got lost in the weeds, but is needed.

[2020-02-17 23:00] mheon commented on #3264
I think we still need a design conversation on how these should work.

[2020-02-17 23:00] ArangoGutierrez commented on #4978
https://github.com/containers/common/issues/62

[2020-02-17 23:00] #4978 closed

[2020-02-17 23:01] mheon commented on #4219
Yes, we definitely want to support this. Unfortunately the work is entirely on the CNI side.

[2020-02-17 23:01] anarcat commented on #1742
as far as the "from debian" side of things, podman is still waiting for approval in "NEW":

https://ftp-master.debian.org/new/libpod_1.6.4+dfsg-1.html
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=930440

[2020-02-18 00:12] NobodyXu commented on #5220
So this morning, after I used `apt-fast` to upgrade a few packages, including the linux kernel, it happened again. Took 21m 54.633s to run, incrediable. I took a screenshot of `htop` but I didn't capture the output of `ps aux` and `lslocks` because I didn't read the notification.

![10:50:32,2020-02-18](https://user-images.githubusercontent.com/30436523/74693311-70f8eb00-523f-11ea-93d1-7ea2f3fd7cf

[2020-02-18 00:56] NobodyXu commented on #5220
@vrothberg Got you data!

I reran `time podman image ls`:

[code]

I used `watch -x -n 30 bash -c 'lslocks | tee lock/$(date | sed "s/ /_/g")'` to collect `lslocks` output, but during the process, I found that `PATH` is missing for some program, so I switched to use `root`.

`ps aux` log is collected via `watch -x -n 30 bash -c 'ps aux | tee pss/$(date | sed "s/ /_/g")'`.

[url to these logs](http

[2020-02-18 05:49] groovyman commented on #4909
I solved this issue by my own. I found out, that podman has some minor limitations to perform a `systemctl reload` that was not a big surprise to me. Yes Daniel, your are right, this is not something that even docker is supporting.

But when you try to migrate an application into podman, sometimes you expect to have a full featured linux inside. I found out, that some docker devops are thinking in

[2020-02-18 07:17] adrianreber commented on #3722
Unfortunately no. Nothing from my side so far. Still planing to fix it.

[2020-02-18 07:19] saschagrunert commented on #4955
Hm yeah I agree. So we probably want to close this as wont-fix?

[2020-02-18 07:42] AkihiroSuda commented on #5167
@giuseppe Do you have an idea?

[2020-02-18 08:40] vrothberg commented on #3264
I will be on PTO, but I will find time for that in March (along with the systemd work and auto updates). But anyone can pick it up :) There's also some performance improvements for c/image that I want to tackle in the near future.

I agree with Matt that we need a conversation on the design first; ideally a dedicated meeting where we can carve out what we want.

[2020-02-18 08:44] oleastre commented on #4159
As it seems easy to package I did it on copr.
https://copr.fedorainfracloud.org/coprs/oleastre/misc/package/catatonit/

However, I don't know what is the best to make it recognized by podman:
- install in `/usr/bin` and create a link to `/usr/libexec/podman/catatonit`
- always install to `/usr/libexec/podman/catatonit`, but this would make it only available for podman
- add a `podman-catatonit` pa

[2020-02-18 08:48] vrothberg commented on #4130
Didn't do it yet. I planned to tackle it when working on a bigger item for systemd generation.

[2020-02-18 08:53] vrothberg commented on #3821
I worked on it but could not find any bug in the code. However, we have seen quite frequently in the passed that the default timeout of 10 seconds is exceeded.

Matt suggested to make it configurable in `containers.conf` which sounds like a pragmatic and straight-forward way to address the issue.

[2020-02-18 08:53] #3821 closed

[2020-02-18 08:59] vrothberg commented on #3575
No. The v2 API has a higher priority. I will tackle it after my PTO along with the open systemd issues.

[2020-02-18 09:02] vrothberg commented on #1911
Needs a priority :^)

[2020-02-18 09:04] schubter opened #5242 "APIv2: possible decoder issue"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

when trying the images/create?fromImage=golang&tag=1.12 endpoint I got stuck with: unable to pull :: error getting default registries to try: invalid reference format

after digging thru the code I found that the decoder does not seem to decode properly

I've added `        fmt.Println("creat

[2020-02-18 09:05] vrothberg commented on #4875
It has been for containers but not for pods. I will tackle this after my PTO. The v2 API (and the bugs) had a higher priority in past weeks.

[2020-02-18 09:09] vrothberg commented on #5234
Thanks for opening the issue! I changed it to a feature request as it's documented to not be supported.

@mtrmac, do you know why we're not supporting it? I didn't check the specific parts in the code yet but Docker seems to be able doing that.

[2020-02-18 09:22] pburgisser-c2c commented on #3843
Hello,

I'm experincing the same issue on a RHEL 8.1 (podman-1.4.2-stable2) when running rootless containers with a systemd unit with the parameter: Restart=on-failure.

When hitting the issue #3906, systemd is trying to restart in loop the container and then hit the lock allocation issue. The command podman system renumber fixes the issue but the fact I have to kill all other containers is a bit

[2020-02-18 09:31] vrothberg commented on #5220
@NobodyXu, did you change something in the storage.conf? The lslocks output claims that the storage is on `/mnt/data`.

[2020-02-18 09:50] NobodyXu commented on #5220
@vrothberg No, I haven't. It is always on `/mnt/data`.

[2020-02-18 10:01] jamescassell commented on #4159
Definitely /usr/bin IMO

[2020-02-18 10:04] vrothberg commented on #5220
@giuseppe, any idea what could go on?

[2020-02-18 10:07] groovyman commented on #5226
Salut @rhatdan ,
i fixed it using systemd and a running sshd.  I do not need any .X11 or socket bypassing by a mounted volume.
[code]
The postinstaller is the only service that takes over the nasty things, that podman-build is unable to carry out (i.e. start services, reconfigure systemd etc etc)
[code]
That was also the solution to run with multiple services in one container (see also #4909). I h

[2020-02-18 10:30] giuseppe commented on #5167
the issue seems to happen only with `-d`.

Do we inject the other end of exitFD inside conmon?  That will be the way to keep it alive

[2020-02-18 10:48] giuseppe commented on #5167
PR here: https://github.com/containers/libpod/pull/5245

[2020-02-18 10:48] Akasurde commented on #4962
@rhatdan I have an initial version of the fix in #5244. Could you please review? Thanks.

[2020-02-18 11:03] oleastre commented on #4159
For info, I tried to change libpod.conf to poing `init_path` to `/usr/bin/catatonit` (after installing my package) but `podman` was still looking for `/usr/libexec/podman/catatonit` (default fedora 31 podman install)

[2020-02-18 12:32] lsm5 commented on #4159
I have the old spec file at https://pagure.io/catatonit/blob/master/f/catatonit.spec . Could've sworn I had a package review created but can't find it on rhbz.

@oleastre are you interested in officially packaging it for Fedora?

[2020-02-18 12:37] schubter commented on #5242
I think I've tracked it down to here: https://github.com/gorilla/schema/blob/master/decoder.go#L194

seems like if the fields in the struct are lowercase, thus unexported - CanSet returns false

[code]

seems like this should fixe it

[2020-02-18 13:15] rhatdan commented on #4773
@TomSweeneyRedHat Any chance to look at this?  @nalind could you help with this?

[2020-02-18 13:17] rhatdan commented on #3761
@mtrmac any progress?

[2020-02-18 13:18] rhatdan commented on #4972
This is not an upstream issue, @lsm5 Should have fixed this by now, closing.  Reopen if this is still an issue.

[2020-02-18 13:18] #4972 closed

[2020-02-18 13:19] rhatdan commented on #2808
@mheon is the PR you are currently working on going to help with this or do we need to wait for pinns?

[2020-02-18 13:23] rhatdan commented on #3679
@junaruga We are taking a run through the issues, to get updates on each one.

[2020-02-18 13:23] rhatdan commented on #4398
Is this our issue or CNI?

[2020-02-18 13:24] rhatdan commented on #4114
Has an issue been opened on CNI?

[2020-02-18 13:25] rhatdan commented on #4159
@jnovy @lsm5 Any progress on getting catatonic packaged for Fedora?

[2020-02-18 13:27] vrothberg commented on #4398
CNI -> https://github.com/cri-o/ocicni/issues/65

[2020-02-18 13:29] lsm5 commented on #1742
I'm not opposed to closing this, but maybe community prefers this bug for tracking instead of the debian bugs listed above...

[2020-02-18 13:29] rhatdan commented on #5242
@schubter could you open a PR to fix?

[2020-02-18 13:31] edsantiago opened #5246 "rootless: error joining network namespace [...] unknown FS magic on "something cni""
[code]
podman-1.8.1-0.1.dev.git0bd29f8.fc33 (yes, fc33) on rawhide fc32. Does not happen with podman-2:1.8.0-0.2.dev.gitc4f6d56.fc32. Again: this seems to be a podman problem, because the only difference between all-ok and all-fails is the podman rpm.

5.6.0-0.rc1.git0.1.fc32.x86_64
crun-0.12.1-1.fc32.x86_64
containernetworking-plugins-0.8.5-1.1.gitf5c3d1b.fc32.x86_64

Happens on pretty much podma

[2020-02-18 13:31] lsm5 commented on #4789
not using cbs anymore for new builds. Updates available on OBS.

@alitvak69 please re-open if you notice any issues with the latest packages.

[2020-02-18 13:31] #4789 closed

[2020-02-18 13:32] rhatdan commented on #5239
@kommulu Could you show the command you are using to run the container.  Bottom line, you need UID 8000 mapped into the user namespace if this is the only UID allowed to write to the container.
In the non root users entry in /etc/subuild, you need to add a mapping something like 8000:8000:1

[2020-02-18 13:34] rhatdan commented on #5246
Could be the kernel as well.

[2020-02-18 13:35] edsantiago commented on #5246
If so it's a combination of elements. The only difference between (mostly) passing tests, and this failure, is `dnf upgrade podman`

[2020-02-18 13:36] rhatdan commented on #5226
Good, you got a result.  I am gong to close this issue, since this is not something that is a bug in podman, other people have found other ways to satisfy this requirement.  Reopen if you disagree.

[2020-02-18 13:36] #5226 closed

[2020-02-18 13:37] rhatdan commented on #5246
@mheon @baude Any ideas.
I am on F32 right now, but I am running an older f31 podman.

[2020-02-18 13:51] rhatdan commented on #5034
Could this be golang-1.14-0.rc1.0.fc32.x86_64

[2020-02-18 13:58] rhatdan commented on #4955
Won't Fix.

[2020-02-18 13:58] #4955 closed

[2020-02-18 14:00] rhatdan commented on #4909
@groovyman I am going to close, but this is something we could think about in the future.

[2020-02-18 14:00] #4909 closed

[2020-02-18 14:00] rhatdan commented on #4907
Nice.

[2020-02-18 14:01] rhatdan commented on #4905
Since this is a well known buildah issue, I am going to close this and hope that this gets fixed in Buildah soon and then Podman gets the update.

[2020-02-18 14:01] #4905 closed

[2020-02-18 14:01] groovyman commented on #4909
That's ok, i can reply on my workaround.

[2020-02-18 14:02] rhatdan commented on #4875
No problem,

[2020-02-18 14:03] rhatdan commented on #4787
I am going to close this issue.  @cevich Is in charge of Cirrus CI...

[2020-02-18 14:03] #4787 closed

[2020-02-18 14:05] rhatdan commented on #4718
Good let's get that PR Merged...

[2020-02-18 14:07] rhatdan commented on #4283
Excellent.

[2020-02-18 14:07] vrothberg commented on #5034
It could very well be golang. We had issues with 1.13 alpha and beta at the times as wel.

[2020-02-18 14:08] rhatdan commented on #4134
@afbjorklund You just want podman to execute podman-remote when it connects to a remote IP correct?  Or to embed the code within itself.

[2020-02-18 14:11] rhatdan commented on #1742
Since this is not an upstream issue, I will close it.

[2020-02-18 14:11] #1742 closed

[2020-02-18 14:15] rhatdan commented on #4834
@mheon Could you answer @MK27 question?

[2020-02-18 14:16] rhatdan commented on #4511
@lsm5 Any chance you could see about "notarizing" our application?

[2020-02-18 14:17] rhatdan commented on #5097
@ikke-t I think you have a fix, if not reopen this issue.

[2020-02-18 14:17] #5097 closed

[2020-02-18 14:18] rhatdan commented on #4628
@boaz0 Are you still working on this, or did it get merged?

[2020-02-18 14:19] rhatdan commented on #5076
I don't see this as an upstream issue.  Hopefully @Dmitriy-Chilikin has it working.  Might want to have conversation on email list at podman.io.  Or join us on IRC on #podman on freenode.

[2020-02-18 14:19] #5076 closed

[2020-02-18 14:20] rhatdan commented on #5065
@ikke-t This is not an upstream issue, If you are still working on this, please send email to podman.io mailing list or get us on IRC on #podman on freenode.

[2020-02-18 14:20] #5065 closed

[2020-02-18 14:20] rhatdan commented on #4831
@QiWang19 Reminder.

[2020-02-18 14:24] #5150 closed

[2020-02-18 14:24] #5151 closed

[2020-02-18 14:24] #5224 closed

[2020-02-18 14:24] mheon commented on #4834
We're stepping outside my area of expertise here, but `telnet` and `netstat` to see if the port is open on the host and remote, plus the output of `iptables -nvL` and `iptables -t nat -nvL` would help us diagnose.

I suspect from this we're going to have some missing IPTables forwarding rules, given that CNI was unable to even create a bridge for you; there's definitely something going wrong on th

[2020-02-18 14:40] rhatdan commented on #5049
Linger is covered in the troubleshooting @tobwen if you want to add more detail, please open a PR.

[2020-02-18 14:40] #5049 closed

[2020-02-18 14:41] rhatdan commented on #4359
@TomSweeneyRedHat Reminder that you have this one outstanding.

[2020-02-18 14:42] rhatdan commented on #5035
@TomSweeneyRedHat Since the buildah got merged, can we close this now?  Has it been vendored into podman?

[2020-02-18 14:43] rhatdan commented on #5040
@mbaldessari Any chance you have time to work on this?

[2020-02-18 14:44] rhatdan commented on #5043
Please open a bugzilla with the distro that you got the package from.

[2020-02-18 14:44] rhatdan commented on #4961
@haircommander Any further thoughts on this one?

[2020-02-18 14:50] mtrmac commented on #5234
If you check the archive that results from (docker save name@digest), it doesn’t contain the name@digest value at all — it’s just not possible, the format (https://github.com/moby/moby/blob/749d90e10f989802638ae542daf54257f3bf71f2/image/spec/v1.2.md ) has a `RepoTags` field and a repo/tag structure in the `repositories` file.

I suppose Podman should mimic the Docker behavior and create an unnamed

[2020-02-18 14:53] mtrmac commented on #3761
Nope.

[2020-02-18 14:55] mheon commented on #5035
I'm fairly certain we're waiting on your containers.conf for a new Buildah vendor

[2020-02-18 14:56] boaz0 commented on #4628
@rhatdan still working on this - close to completion

[2020-02-18 14:56] rhatdan commented on #713
@raukadah Any progress?

[2020-02-18 14:56] rhatdan commented on #4662
Since this is not an upstream issue, closing.

[2020-02-18 14:56] #4662 closed

[2020-02-18 14:57] mheon commented on #4628
I'll try and do a final review in prep for merge after lunch

[2020-02-18 14:58] rhatdan commented on #4478
That would mean we would have to squirrel away the yaml file, which does not feel like something podman should do, where it would be fairly easy for a script to do.

[2020-02-18 15:01] delight commented on #5043
@rhatdan the package is from the open side build server as described in the installation docs. The problem remains with podman 1.8.0-2 .. distro is Ubuntu lts 18.04 as described in the initial text

[2020-02-18 15:02] rhatdan commented on #4550
@stefanb2 could you open a PR to fix the troublshooting guide on --device, and perhaps also fix the man pages.

[2020-02-18 15:02] mheon commented on #5043
Reopening, we do handle OBS issues here for lack of a better venue

[2020-02-18 15:02] rhatdan commented on #3454
@vrothberg @mheon Are we stuck on this one?

[2020-02-18 15:03] rhatdan commented on #4432
@mheon Could you mark this on as fixed by your PR?

[2020-02-18 15:04] rhatdan commented on #4432
https://github.com/containers/libpod/pull/5241

[2020-02-18 15:04] mheon commented on #4432
I got everything except `play kube`. I'll add a patch to fix this as well.

[2020-02-18 15:04] rhatdan commented on #4530
@baude Still want this issue opened?

[2020-02-18 15:05] rhatdan commented on #5081
Opened a PR for this.

[2020-02-18 15:06] rhatdan commented on #4725
@michaeladler What other mount points under /proc do you see?  My machine is currently running cgroups V2 so docker will not work.

[2020-02-18 15:06] mheon commented on #3454
Potentially a locking issue? I don't know for sure, could be a Varlink oddity?

[2020-02-18 15:07] rhatdan commented on #5069
@astronouth7303 If you want this, you probably need to start working on PRs.  Not sure anyone else is going to work on it.

[2020-02-18 15:07] rhatdan commented on #1925
Still in the future.

[2020-02-18 15:08] mheon commented on #4725
I tried with Docker 18.06, which does not have the mount, but that's still 2 years old. I couldn't find direct mention in the release notes, so I'm not sure exactly when it landed.

An OCI spec from a privileged Docker container with the mount added would help a fair bit, so we know exactly what it's doing.

[2020-02-18 15:09] vrothberg commented on #3454
We should check it with the v2 API.

[2020-02-18 15:09] rhatdan commented on #4935
Any more diagnoses on this?  Is slirp4netns still running when this happens?

[2020-02-18 15:10] rhatdan commented on #5100
@cevich PTAL

[2020-02-18 15:10] mheon commented on #4935
There was a separate issue where we noticed that RootlessKit was sometimes racing and opening the host port inside the container's network namespace; I'm not sure if this has been fixed.

[2020-02-18 15:11] mheon commented on #3454
I'd place my money on it working, APIv2 is making direct Libpod API calls and we know this works from CLI.

[2020-02-18 15:11] #5160 closed

[2020-02-18 15:11] rhatdan commented on #4678
I think we have documented the issues here in the troublshooting guide.  Please reopen if I am incorrect.

[2020-02-18 15:11] #4678 closed

[2020-02-18 15:12] rhatdan commented on #4770
Hopefully @mheon patch #5241 gets in and we can close this issue.

[2020-02-18 15:12] AkihiroSuda commented on #4935
@mheon We need that to be fixed as well, but not related to this issue (v1.6.2)

[2020-02-18 15:12] rhatdan commented on #4752
Seems to work in master. Closing.

[2020-02-18 15:12] #4752 closed

[2020-02-18 15:14] rhatdan commented on #3932
@ipbabble @TomSweeneyRedHat Would one of you want to take a stab at updating/creating the rootless tutorial

[2020-02-18 15:15] rhatdan commented on #3924
@lsm5 Any progress on this issue?  Really should not be an upstream issue, but I guess there is no other place to report it.

[2020-02-18 15:15] AkihiroSuda opened #5249 "[v1.8] pkg/rootlessport: host port is intermittently opened inside the container"
The point is that I'm unconvinced that it is a workaround, as opposed to something in the middle of a set of intermittent failures. I have also managed to reproduce the problem with a fresh container:

[code]

[code]

So in this case the port mapping has again been created inside the container - rather than exposed outside.

_Originally posted by @cbz in https://github.com/containers/libpod/issues

[2020-02-18 15:16] AkihiroSuda commented on #4935
opened issue https://github.com/containers/libpod/issues/5249 as the reminder

[2020-02-18 15:17] AkihiroSuda commented on #5249
Thanks for the report, looks like lockosthread issue https://github.com/containers/libpod/blob/5ea6cad20c9659da9bae38a660da584ee2b58aec/pkg/rootlessport/rootlessport_linux.go#L157

_Originally posted by @AkihiroSuda in https://github.com/containers/libpod/issues/5167#issuecomment-585529153_

[2020-02-18 15:17] AkihiroSuda commented on #5167
The NetNS race seems another issue, opened a new issue https://github.com/containers/libpod/issues/5249

[2020-02-18 15:17] rhatdan commented on #3842
@dcbw @mccv1r0 Any comment?

[2020-02-18 15:19] AkihiroSuda commented on #5249
@giuseppe
Can we use `nsenter` binary instead of  `github.com/containernetworking/plugins/pkg/ns`?
Is it available on all hosts?

[2020-02-18 15:20] rhatdan commented on #4902
I am going to close this, since @giuseppe believes it works for him with the latest crun.

[2020-02-18 15:20] vrothberg commented on #3454
I wouldn't bet on that. CLI calls are short-running, where we can't really run into that.

[2020-02-18 15:21] rhatdan commented on #4922
@cevich I think this is because the new versions are not being built?

[2020-02-18 15:21] rhatdan commented on #4207
Yes this will be done in V2.

[2020-02-18 15:22] rhatdan commented on #5154
This is not an upstream issue, it should be a bugzilla in Redhat and fedora.

[2020-02-18 15:22] #5154 closed

[2020-02-18 15:22] rhatdan commented on #4084
Fixed in containers.conf #4698

[2020-02-18 15:23] rhatdan commented on #4812
@TomSweeneyRedHat Were you able to find the issue in Buildah?

[2020-02-18 15:23] rhatdan commented on #4390
No movement on this yet.

[2020-02-18 15:25] rhatdan commented on #5141
I don't believe there is a way for a non privileged user to request dbus to open fire wall rules.  Reopeon if I am mistaken.  A PR to the troubleshooting guide might be helpful for this as well,

[2020-02-18 15:25] #5141 closed

[2020-02-18 15:28] rhatdan commented on #3977
@giuseppe Interested in opening a PR?

[2020-02-18 15:29] mheon commented on #3843
While the removal issue has been dealt with in subsequent upstream versions, you really need to investigate how your systemd unit is written; a properly-written unit will not have this issue. Are you using `KillMode = none`?

[2020-02-18 15:31] pburgisser-c2c commented on #3843
Yes, I do use the `KillMode = none`. Actually, I have implemented the unit as per described on this Red Hat blog post [1].

Is there a way to list these locks?

[1] https://www.redhat.com/sysadmin/podman-shareable-systemd-services

[2020-02-18 15:31] rhatdan commented on #5094
@groovyman is this something to be fixed in podman, or something that the user would need to fix.

[2020-02-18 15:32] rhatdan commented on #5140
@haircommander Could you take a look at this one?

[2020-02-18 15:33] rhatdan commented on #5131
One thing we might want to add is a way to truncate the logs, rather then allowing them to grow forever.

[2020-02-18 15:33] TomSweeneyRedHat commented on #4812
I didn't look, but I'm going to guess that https://github.com/containers/buildah/pull/2170 has a good shot at fixing this once merged/vendored.

[2020-02-18 15:34] rhatdan commented on #4414
@Zyqsempai @cpanato Any movement on this?

[2020-02-18 15:35] TomSweeneyRedHat commented on #5035
As @mheon surmised.  We're on hold vendoring Buildah until the containers.conf is fixed.  This has been fixed in Buildah upstream, but on hold here.

[2020-02-18 15:35] rhatdan commented on #4937
@lsm5 This is a duplicate of another issue, could you close one of them?

[2020-02-18 15:36] rhatdan commented on #3875
@baude @jwhonce Is this possible now?  With API V2?

[2020-02-18 15:37] rhatdan commented on #5146
As soon as #5233 gets merged this issue will close.

[2020-02-18 15:37] lsm5 commented on #3924
@matpen see: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . The debian build cares about `podman_1.8.0~2.dsc` and `podman_1.8.0~2.tar.gz`. Once it finds a new version, it gets rid of the old debs. If it finds multiple dsc and tar.gz (not the _service:blah ones), it'll refuse to build anything for debian, so that's why I append `.old` for older files.

Nothing yet

[2020-02-18 15:39] mheon commented on #3843
Not presently; I should look into adding them to `podman inspect`.

@vrothberg PTAL - systemd unit file issues seem to be resulting in lock leaks. We really need to track this one down.

[2020-02-18 15:40] lsm5 commented on #4937
older files have `.old` appended. See: https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman . OBS wouldn't let me put stuff in subdirs, so that's why the name change.

Let's talk further in https://github.com/containers/libpod/issues/3924 if anything.

[2020-02-18 15:40] #4937 closed

[2020-02-18 15:42] vrothberg commented on #3843
Without a reproducer, I can't do much. Please share the systemd.service (if possible).

To me this sounds like systemd is stuck in a loop trying to successfully run `ExecStart` which for unknown reasons doesn't work and thereby exceeds the container limit.

[2020-02-18 15:47] mccv1r0 commented on #3842
CNI doesn't store any info re firewall rules.  Everything is derived when plugin is invoked by a runtime (e.g. podman)

For cniADD, each plugin in a chain adds (or not) rules based on the type of plugin itself (bridge vs p2p) and how a given plugin is configured (masqurade or not).  At cniDEL time, same config is used to remove (or ignore already removed) rules.

An entire new command, firewall sp

[2020-02-18 15:48] mheon commented on #3842
If we're willing to accept a temporary loss in connectivity, could we tear down and reconfigure (CNI delete then add) the network namespace for the container?

[2020-02-18 15:48] mccv1r0 commented on #3842
You would have to destroy and recreate all containers on a network.

[2020-02-18 15:48] pburgisser-c2c commented on #3843
Here is my unit, which actually derived a bit from the example, like we used named containers.

I was thinking about a workarounf before starting the container like:

[code]
The systemd unit file
[code]

[2020-02-18 15:49] mccv1r0 commented on #3842
Yes

[2020-02-18 16:04] vrothberg commented on #3843
Thanks a lot for sharing!

Can you try without `--rm \` in the ExecStart?

[2020-02-18 16:04] mheon commented on #5246
When I have seen this before, it was from a user namespace mismatch - the rootless processes were in different user/mount namespaces so only one could see the netns mounts.

[2020-02-18 16:10] groovyman commented on #5094
This should be your stuff. I think the podman freezes all socket connections, regardless, if the other side of the connection is inside the container (that's ok) or outside. I think you should disconnect the connections to the outside. It seems to me, that they are melt up in a _stale_ state.

[2020-02-18 16:17] mheon commented on #2808
This will be handled by my PR, I'll add a link

[2020-02-18 16:18] mheon commented on #2808
Fixed by #5241

[2020-02-18 16:20] pburgisser-c2c commented on #3843
I have tested to start/stop 100 times, looks to work, not even hitting the orphaned storage from issue #3906
I used that snipet to test
[code]
Example of journald output
[code]

I'm extending the test to more start/stop (target 500)

[2020-02-18 16:21] sysrich commented on #3924
@lsm5 sorry for the delay in getting back to you - busy week during Hackweek..

https://openbuildservice.org/help/manuals/obs-reference-guide/cha.obs.maintenance_setup.html is the documentation on how to set up a maintenance project

https://openbuildservice.org/help/manuals/obs-reference-guide/obs.glossary.html#obs.glos.maintenance_project

https://openbuildservice.org/help/manuals/obs-reference-

[2020-02-18 16:22] QiWang19 commented on #3550
I had a PR to fix this by mounting the volumes but hasn't been merged for security reasons.
We have a card for rewriting the `podman cp`, may be this should be fixed after a new version of podman cp.https://issues.redhat.com/browse/RUN-531

[2020-02-18 16:30] kommulu commented on #5239
Hi @mheon ,

thank you for your idea, but sadly it does not work.
If I start the container like this:
`podman run -d --name iot_test -p 8081:8080 -v iot-data:/datadir -v /path/to/cifsshare:/files -e UID=8000 -e GID=8000 --userns=keep-id iot:latest`

The container fails to start with:
`Updating UID / GID...
usermod: cannot lock /etc/passwd; try again later.`

@rhatdan the normal command to start my

[2020-02-18 16:50] mheon commented on #4432
Added to #5241

[2020-02-18 17:03] rhatdan commented on #4159
If catatonic is not supposed to be run by a  user then it should not go into /usr/bin.  If it is not supposed to be run by an admin then it should not go in /usr/sbin.  If it is only run by applications like container engines, then it should go into /usr/lib/catatonit/catatonit or /usr/libexec/catatonit/catatonit. or /usr/libeec/catatonit.

Then each distro could customize their install location i

[2020-02-18 17:16] abitrolly commented on #4134
The easiest way to tackle this is to compile `podman` binary and all assets in a separate step and pass them as .tar.gz to snap and make use of "dump" plugin to deliver it.

I run out of for money and I need to unsubscribe from all activities to deal with this particular problem. Sorry.

[2020-02-18 17:33] abitrolly commented on #4501
Yes. https://snapcraft.io/docs/dump-plugin

They depend on system libraries that are no distributed. Also depend on system interfaces with host through these libraries that need to be tested. https://snapcraft.io/docs/supported-interfaces

`snapcraft` uses `multipass` to start LXD or VM and build inside it. It can also do build inside `docker` and `podman` - detect that it is being run in a contai

[2020-02-18 17:45] abitrolly commented on #4794
`podman` still needs filesystem isolation layer to be adopted by general public. I wouldn't bother writing this post long if it was no so critical. An ability to easily share work directory without reading a ton of info about UID/GID/SELinux/:x and :X prefixes/ACL like I did is critical for mass adoption. Otherwise from a public project it becomes a corporate policy.

[2020-02-18 18:00] #5229 closed

[2020-02-18 18:36] rhatdan commented on #5128
Sure, but I think we just keep it simple and mount the file pointed to by /etc/localtime into the container.

[2020-02-18 19:21] QiWang19 commented on #4831
I can't replicate this issue. For me `podman system reset` only removes /run/user/1000/containers

Do we need to make these changes, to not remove /run/user/$UID/containers in system reset?

[2020-02-18 19:27] mheon commented on #4831
The problem is if our temporary directory is set to `/run/user/1000` - which it was, on some older systems. In that case, we remove all the contents of the directory - including things that are definitely not Podman.

[2020-02-18 19:28] rhatdan commented on #5034
Hopefully it gets updated in F32.  Which is built with the alpha version.

[2020-02-18 19:37] larsks opened #5250 "copr podman rpm "could not get runtime: eventer creation: No support for journald logging""
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running the latest build from copr (podman-1.8.1-1582048950.gita5d55966.fc31.x86_64) fails with:

[code]

[2020-02-18 20:17] rhatdan commented on #5094
So this is a container listening to proceses on the outside via a unix domain socket?  If so then this would require SELinux separation to be disabled.  Similarly if it is connecting to  socket on the other side it would need to be disabled.

[2020-02-18 20:19] #5167 closed

[2020-02-18 20:23] rhatdan commented on #5239
Sadly that is not what I meant.
I was talking about adding
8000:8000:1 to /etc/subuid for the user. Although I don't think that would work correctly either.

@giuseppe Would podman handle multiple entries in /etc/subuid and /etc/subgid?

[2020-02-18 20:31] rhatdan commented on #5239
No this will not work.
I was attemting to do.
dwalsh:100000:8000
dwalsh:8000:1
dwalsh:108001:5753

But this ends up mapping, UID 8000 on the host to UID 1 inside of the container.  I think we would need to do some special code in podman to be able to handle this.  Like --keep-uid

$ podman unshare cat /proc/self/uid_map
         0       3267          1
         1       8000          1
         2

[2020-02-18 21:08] sspoddiglane commented on #5128
Suggest to avoid adding ambiguity, use 2 facets.

Contact timeserver, save in UTC
   if no TServer avail, use  /etc/localtime, but put F in front of the timezone.  (I'm in EST, so my files would show modify times of FEST)

Here's why --
Contact a timeserver, and obtain UTC, then just store it in UTC   [ removes cloud host "where in  cloud was this done" part as well as gives the filesystem and inv

[2020-02-18 21:12] rhatdan commented on #5128
@sspoddiglane would you like to attempt to create a PR for this?

/etc/localtime on my box is a binary file.

[2020-02-18 21:21] rhatdan commented on #4794
@abitrolly Not sure what you mean but this, The same issue would happen in Docker with SELinux turned on.  And it and Podman have been adopted by the "generate public".

[2020-02-18 21:22] giuseppe commented on #5239
The additional IDs are mapped sequentially.  So your user becomes root, then the first additional block starts at 1, the second one starts at len(first_block)...

If you want a specific user mapped you need to create an inner user namespace.  If you want user 8000 to be mapped to 0, then you'll need something like `--uidmap 0:1:1 --uidmap 1:0:1 --uidmap 2:2: 8000`

[2020-02-18 21:42] rhatdan commented on #4831
@mheon So what do we do?  Is this an upgrade issue?  New versions of podman all use the containers subdir.  Did we record something in the database that causes us the issues?

[2020-02-18 22:19] rhatdan commented on #5239
I wonder if we should add some way for a normal user to be able to do this.

[2020-02-18 22:20] mheon commented on #4831
Yeah, upgrade issue - older installations use `/run/user/$UID/` with no subdirectory for one of the tmpdirs (I forget if it's c/storage or Podman... Might actually be c/storage?)

[2020-02-18 22:23] mheon commented on #5239
`sudo podman system configure-uidmap $username` that allows us to map host UID/GIDs into that user?

The problem is that this is for all rootless containers, not just one (though I suppose we can alter the mappings in more containers to omit the added UIDs/GIDs... but that's also pretty awkward).

[2020-02-18 22:26] rhatdan commented on #4831
Yes it is in container/storage.  But would a reboot fix the /run directive or only a full clean?

[2020-02-18 22:50] edsantiago commented on #4283
I'm very close to having decent tests but have run into a snag: it seems impossible to know the path podman will use to an auth file. I'm seeing all sorts of variations like:
[code]
If I grok the code correctly, it's `vendor/github.com/containers/image/v5/pkg/docker/config/config.go:getPathToAuth()` which tries all sorts of variations depending on whether `$XDG_RUNTIME_DIR` is set or not, whether

[2020-02-18 23:11] rhatdan commented on #4283
[code]
You can hard code it to the specific file you want.

[2020-02-18 23:13] edsantiago commented on #4283
I know that - I deliberately didn't test that (yet) because it wouldn't really help with the desired skopeo case. I want to test that podman's default path works with skopeo by default. Sorry for not being clear.

[2020-02-18 23:23] edsantiago commented on #4283
...but that's a good idea: the skopeo-podman-default tests don't actually need to know the auth file path; and the tests that do, can simply set it explicitly. I'll try that tomorrow if there are no other suggestions. Thanks.

[2020-02-18 23:29] mheon commented on #4831
Only a full clean - it's potentially in both the database and libpod.conf

[2020-02-18 23:32] Komic opened #5254 "podman play kube from deleted working directory errors out"
/kind bug

Trying to run `podman play kube` from a non existing working directory results in the following error:
[code]

**Output of `podman version`:**

[code]