[2019-07-11 13:46] marcov commented on #3556
/cc @saschagrunert

[2019-07-11 13:59] amir73il commented on #3540
FYI, the offending kernel patch was also backported to v4.19.56.
I will work on a kernel "fix" to not enforce this with index=off.
Most likely the root cause is container runtime leaking an old overlay mount, whose upper dir
is now attempted to be used in a lower dir stack of a new container, see for reference:
https://github.com/moby/moby/issues/37970
@rhvgoyal I can't find the "proper" docker fi

[2019-07-11 14:13] mheon commented on #3556
Eeek. Looking.

[2019-07-11 14:14] mheon commented on #3556
Found it.

[2019-07-11 14:19] mheon commented on #3556
#3558 to fix. I think this one was my fault - oops.

[2019-07-11 14:22] rhvgoyal commented on #3540
@amir73il AFAIK we never fully solved the issue of leaked mounts. We have tried few different things to minimize it. I agree though that this most likely is a result of leaked mount.

For now enforcing error with index=on sounds reasonable. Having said that, that also means that these container runtime will not be able to use index=on till they figure out some proper solution for leaked mount poin

[2019-07-11 14:26] rhvgoyal commented on #3540
@amir73il Or we could think of creating a new mount option which does more strict configuration check and enforces errors. (That way people can use index=on without having to worry about leaked mounts).

Otherwise we will just discourage using index=on.

[2019-07-11 14:29] #3543 closed

[2019-07-11 14:32] elmarco commented on #3535
running ip addr, the loopback is there, with ipv4/ipv6.

But libc has some trouble with the config apparently. Are you able to reproduce?

[2019-07-11 14:33] cevich commented on #3555
@wrabcak sure happy to help. This appears on the surface to be really easy.  Am I correct in believing it doesn't matter much what platform/environment your example (above) runs on?  e.g. a Fedora VM is okay?

[2019-07-11 14:40] amir73il commented on #3540
@rhvgoyal we already have made this compromise about index=on and conflicting upperdir usage. For now my intention is the regain the status quo that my patch has broken.

About discouraging using index=on, I am seeing this as encouraging container runtimes to fix mount leaks ;-)

[2019-07-11 14:41] wrabcak commented on #3555
Hi @cevich,
The best solution for me is to use Fedora VM and run following beakerlib test:
https://src.fedoraproject.org/rpms/udica/blob/master/f/tests/sanity/runtest.sh

If in podman CI there is no possibility to run beakerlib test, steps in issue description should be enough for CI.

Thanks for your help!
Lukas.

[2019-07-11 14:44] cevich commented on #3555
Oh even better, can I just have a fedora VM pull down that `runtest.sh` script and execute it after build/install podman?

What do I need to install to satisfy:

[code]

?

[2019-07-11 15:11] wrabcak commented on #3555
Yeah, that should be enough.

[2019-07-11 17:00] har2103 opened #3560 "unable to run podman"
hi,

am running podman in my virtual machine and installed using the git hub link steps.

i am able to see podman version.
[root@localhost ]# podman version
Version:            1.4.2
RemoteAPI Version:  1
Go Version:         go1.11.10
OS/Arch:            linux/amd64
[root@localhost ]#

[root@localhost ]# podman load -i app-ace-mq-0711.tar
Error: could not get runtime: failed to mount overlay for m

[2019-07-11 17:11] amir73il commented on #3540
Can anyone test the kernel fix above?
It's against current mainline but should apply cleanly to any affected release/stable kernel

[2019-07-11 17:11] baude commented on #3560
kernel bug, can you upgrade your kernel

[2019-07-11 17:52] rhatdan commented on #3535
Seems like a rather large difference between Docker and Podman
[code]
Versus
[code]

[2019-07-11 17:53] rhatdan commented on #3535
Can't we just use `/etc/cni/net.d/200-loopback.conf`  for this?  (Knowing almost nothing about CNI.)

[2019-07-11 17:55] rhatdan commented on #3553
@QiWang19 Could you make all of the --dns commands conflict with --net = container:* calls.

[2019-07-11 18:00] mheon commented on #3535
I think we can - but right now we aren't running CNI at all for `--net=none` containers.

I also don't know if we can tell CNI to *only* join one network - right now it always joins the default network.

[2019-07-11 18:40] jwflory opened #3561 "Add support without user namespaces to --user flag"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

`docker run` has the [`--user` flag](https://docs.docker.com/engine/reference/run/#user) for specifying the default user of a container. This is a useful flag if you want to run a single-user/single-group container:

`docker run --user=${username}:${group} --rm -it registry.fedoraproject.

[2019-07-11 18:43] mheon commented on #3561
This should be working already via `podman run --user`

[2019-07-11 18:45] mheon commented on #3561
I think we need to figure out exactly what interaction between user namespaces and parallel filesystems is blowing us up.

Is this a kernel-level thing where any contact between the two is EPERM? Or is this just a user-mapping thing that we can solve by changing how we access content in /home?

[2019-07-11 19:03] rhatdan commented on #3544
@saschagrunert If you can figure a way to put Podman on a diet, and save several MB, I would consider it.  BTW We have an issue with --net=none, not configuring localhost, as well, so I would want this to work out of the box as well.

[2019-07-11 19:06] SEJeff commented on #3561
@mheon this is the exact same problem as user namespaces on nfs. It simply doesn't work at all, and won't without updates to the protocol. We're (I work with @jwflory) looking for a way to disable user namespaces and run a container as a single user / group. The problem is that user namespaces don't work on shared filesystems. We'd like to be able to disable them for certain workloads.

@giuseppe

[2019-07-11 19:06] rhatdan commented on #3542
mheon could we convince runc of the "rootless" condition to not configure its own cgroups?
I would think we would be able to get runc to support the --cgroup-manager=none or disabled lets,open a PR to them and see if we can get a couple of maintainers to merge it.

[2019-07-11 19:18] rhatdan commented on #3550
@QiWang19 PTAL

[2019-07-11 19:26] baude commented on #3561
should this be an RFE and titled something like "add ability to disable user namespaces"?

[2019-07-11 19:34] mheon commented on #3561
Ahhh, I think I understand where we're coming from now. I think there are definitely some obstacles to work through here, but it'd be properly neat to be able to launch without user namespaces - truly unprivileged containers, no setuid binaries or added caps anywhere.

[2019-07-11 19:35] #3556 closed

[2019-07-11 19:38] mheon commented on #3542
Agree. I think this also helps the scenario that Openstack has been seeing - if their containers are using systemd cgroups and not making their own, no dependency issues.

[2019-07-11 19:41] mheon commented on #3544
I think the big issue is that we can't just vendor bridge.

We need loopback and firewall too, at a mimum (firewall is required for any soft of function, localhost for loopback configuration).

I wouldn't be opposed to including them, but we definitely want compile-time fencing here, and building without integrated CNI should be the default. I think you can definitely save a good bit of space vers

[2019-07-11 19:41] mheon commented on #3544
(To clarify, I mean podman binary with CNI build it is probably lighter than Podman and CNI as separate binaries)

[2019-07-11 19:54] rhatdan commented on #3560
Or edit /etc/containers/storage.conf and remove metacopy.

[2019-07-11 19:59] rhatdan commented on #3561
I think we need @giuseppe to comment on this one.

[2019-07-12 06:05] stefanb2 commented on #3507
@muayyad-alsadi see PR #3508 for the rename of the options to be compatible with Docker CLI.

Your idea goes beyond what Docker CLI implements. `docker run ... --health-cmd="XYZ" ...` is always translated to the container HealthCheck configuration `["CMD-SHELL", "XYZ"]`, i.e. the health check executed inside the container will be `/bin/sh -c "XYZ"`.

It *does not* parse the option value as JSON st

[2019-07-12 06:51] saschagrunert commented on #3544
I understand, thanks for the feedback. I will continue my investigations in how to solve this in a proper way.

[2019-07-12 07:12] muayyad-alsadi commented on #3507
Totally agree that we should not split and stay drop in replacement.

But how to pass ["CMD", "/bin/foo", "funny", "unescaped", "args"]? as in docker compose files?
And support both cmd and cmd shell at the same time? Is there another --health-something that I'm not aware of? Please see podman-compose still open ticket.

[2019-07-12 07:21] giuseppe commented on #3561
It is not possible for an unprivileged user to setup a container without user namespaces.  Without a user namespace the user won't be even able to setup the mount namespace or do a pivot_root/chroot inside the rootfs.

What I was suggesting is to force a user namespace with a single user mapped inside.  Podman already does it by default if there are no additional UIDs/GIDs defined in the /etc/sub{

[2019-07-12 09:51] Jeeppler opened #3565 "FEATURE REQUEST: podman pod exec"
**Is this a FEATURE REQUEST**

/kind feature

**Description**

Podman pod has no `exec` command. It would be handy to have a `podman pod exec -it my-pod` command to be able to access an interactive shell session in a pod.

Furthermore, the `kubctl` command has a [`exec`](https://kubernetes.io/docs/tasks/debug-application-cluster/get-shell-running-container/) sub command.

The `exec` command is han

[2019-07-12 10:33] vrothberg opened #3566 "podman stats fails loading cgroup"
See reproducer below:

[code]

@giuseppe, can you take a look? I am currently performing the bloat analysis and found that by chance.

[2019-07-12 10:35] vrothberg commented on #3566
Works as root.

[2019-07-12 11:55] giuseppe commented on #3566
it is not supposed to work as rootless with cgroups v1, unless the cgroups are configured to be writeable.

It will work with cgroups v2 and the systemd manager, with cgroupfs it will still require a custom configuration.

Said so, the error message could be nicer :-)

[2019-07-12 14:05] marcov opened #3567 "Speed up latest container/pod lookup"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
How do you see speeding up the "latest" container/pod (can be extended to image too) lookup by adding a specific reference to it  in the state?

At the moment we iterate over all containers or pods to find the one with latest creation date, so I think having a direct reference to it may be

[2019-07-12 16:40] cevich commented on #3447
@mheon @baude either of you seen errors coming from CNI iptables that complain about `CHAIN ALREADY EXISTS`?

[2019-07-12 16:42] mheon commented on #3447
I've heard of this mostly through Ed's tests. I have not personally seen these errors.

[2019-07-12 16:42] mheon commented on #3447
Though, I will note Ed has a consistent reproducer.

[2019-07-12 16:50] stefanb2 commented on #3507
`docker-compose` doesn't have this problem as it is a Docker client, i.e. it talks directly to the daemon. Therefore it can pass down any value for `healthcheck['test']` that passes validation. I'm not sure if libpod(?) also offers such an API, i.e. `podman-compose` could be rewritten to use that instead of the podman CLI.

If that is not possible then I guess a new PR requesting support for JSON

[2019-07-12 16:53] mheon commented on #3507
It's not unprecedented for us to support alternative formats - for `--entrypoint` for example, we allow JSON arrays to set multi-element entrypoints, using the same flag as we do for single-element ones. While we definitely need to retain compatibility with Docker, we're hardly opposed to extending our CLI where sensible.

Still, I think our first course of action should be to make the CLI compati

[2019-07-12 17:02] cevich commented on #3447
Ohhh, that's good to hear.  @edsantiago would it be possible to use a fresh(er) build of CNI to see if the problem is fixed? ([see the CNI issue I opened](https://github.com/containernetworking/plugins/issues/335) for details)  I only see it very inconsistently in libpod CI :disappointed:

[2019-07-12 20:12] #3504 closed

[2019-07-12 22:27] saranjsr opened #3570 "How can we run chef inspec against podmain container"
Hello,

**Please guide me if I am posting this issue in wrong place.**

I am running podman container inside my base container (customised ubuntu 16.04) with --privileged flag. When I am trying to run chef inspec against my podman container using below commands it gives me following error.
[code]
[code]
Errors :
[code]
I am bit confused here with runc and docker. Inspec is looking for docker here.

[2019-07-12 23:29] space88man opened #3571 "CentOS 7: Rebuilt podman 1.4.4 metacopy=on error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
Running a franken-system: CentOS 7, rebuilt 1.4.4 (Fedora 30 src RPM, rebuilt due to older glibc).

[code]

Not sure if this is supposed to work: current versions of podman require kernels with metacopy= capabilities? I.e., RHEL 7 - generation is not (intended to be) supported?

Another franke

[2019-07-13 00:02] baude commented on #3571
you need to a newer kernel or to take out the metacopy from the the configuration file.

[2019-07-13 00:02] #3571 closed

[2019-07-13 00:46] baude commented on #3570
it looks to me like inspec doesnt understand podman?  as you say, it is looking for a docker socket to get information.  unfortunately that will not work with a podman container.

[2019-07-13 10:00] towe75 opened #3572 "Deadlock by doing create/start/getContainer via varlink connection"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm working on #3387 and discovered a deadlock problem when doing a series of CreateContainer/StartContainer/GetContainer multiple times via systemd varlink connection.

GetContainer will then block until i restart  the io.podman systemd service. Also podman on the cli is blocked until i rest

[2019-07-13 10:06] rhatdan commented on #3571
Right containers-common on Fedora supports metacopy=on, which is not supported on older kernels.

[2019-07-13 16:42] xinau commented on #1742
Thanks for all the hard work. I can't wait to see these packages in vanilla debian.

[2019-07-14 10:45] #3490 closed

[2019-07-14 15:28] viggy96 opened #3575 "Auto update containers with podman"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**
Is there a method of automatically updating containers when a new version is available in the repository? I use watchtower to achieve this currently with docker, and that container requires mounting the docker unix socket to work, which of course, won't work for podman. Is there another me

[2019-07-14 20:12] rhatdan commented on #3575
Would a cron job/systemd timer work for this?  Not sure what watchtower is, but it seems line it must be just checking periodically and pulling new images.

[2019-07-14 20:15] rhatdan commented on #3575
After reading https://hub.docker.com/r/v2tec/watchtower/ it looks like this would be fairly easy to implement via a systemd timer.

The issue would be if you wanted to make this general purpose. Launch a watcher on an existing container. Being able to get the command line executed, and gernate the CLI command based on it.

[2019-07-15 00:05] viggy96 commented on #3575
Yeah, I want this to be general purpose for all my containers. Which is why I like that watchtower container so much, its a very simple solution to auto update all my containerised applications.

[2019-07-15 08:43] towe75 commented on #3572
Some more info:
I did a fresh fedora 30 setup, installed latest podman, enabled varlink systemd socket and ran the test binary.
It is reproducible there. (podman 1.4.4, linux  5.0.9-301.fc30.x86_64 )

[2019-07-15 11:40] madhub commented on #3485
Agree , please add support for ubuntu 19.04

[2019-07-15 11:45] edsantiago commented on #3447
I only see the problem on RHEL8, and I have no idea how to get a new CNI there

[2019-07-15 11:49] adrianreber commented on #3447
From the two RHEL8 VMs I have I see this one of them always and on the other one never.

[2019-07-15 13:16] hjensas commented on #3516
There seem to be a layer of issues handling IPv6 addresses.
1. ReferenceRegexp in [1] returns an empty array.
2. When I try to statically override the regular expression parsing with the below code it looks like the host/port part is stripped from the request URL:

[code]

[code]

[1] https://github.com/containers/image/blob/master/docker/reference/regexp.go#L68-L70

[2019-07-15 13:17] mheon commented on #3516
Hm. Seems like c/image - could you file an issue against them as well? https://github.com/containers/image

[2019-07-15 13:23] vrothberg commented on #3516
Hi @hjensas, thanks for opening the issue.  The problem is that it's an invalid docker reference and can't be supported without changing pretty much every Docker-reference parser in the wild. Docker doesn't support it either.

A workaround is adding an entry for ` fd12:3456:789a:1::1:` to `/etc/hosts` and use the DNS entry for referencing images on the registry.

[2019-07-15 13:24] vrothberg commented on #3516
I am closing the issue (as we can't fix it) but we can keep the discussion going.

[2019-07-15 13:24] #3516 closed

[2019-07-15 16:39] marcov opened #3577 "Improve cmd/podman/shared/container.go documentation"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

Documentation inside `cmd/podman/shared/container.go` can be improved:
- All periods should end with `.`.
- Some syntax error can be fixed, e.g.: `// PBatch is performs batch operations on a container in parallel`
- Documentation should follow [Go reccomendations](https://blog.golang.org/godoc-documenting

[2019-07-15 17:19] cgwalters commented on #3540
Tried that

[code]

but I still see it.  Going to try testing [the patch](https://github.com/containers/libpod/issues/3540#issuecomment-510573165).

[2019-07-15 18:00] marcov opened #3578 "`podman-remote ps` has `--size` set by default"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

By default `podman-remote ps` computes all containers' rootfs and rw size, and this results in significant higher response time compared to running `podman ps`.

Effect on a system with 5 containers:
[code]
/usr/bin/sudo -E ./bin/podman-remote ps  0.03s user 0.01s system 0% cpu **24.108 total

[2019-07-15 18:28] SEJeff commented on #3441
@hallyn can confirm it is working. Please close. Thanks!

[2019-07-15 18:34] #3441 closed

[2019-07-15 19:14] rhatdan commented on #3578
@QiWang19 PTAL

[2019-07-15 19:26] #3520 closed

[2019-07-15 19:50] abitrolly commented on #1915
@lsm5 did you manage to snap the `skopeo` to switch to `podman`?

[2019-07-15 20:01] QiWang19 commented on #3494
Close this issue since #3531 should fix this.

[2019-07-15 20:01] #3494 closed

[2019-07-15 20:52] cevich commented on #3447
@edsantiago darn, I was afraid you'd say that.  I'd guesstimate I was seeing this hit maybe 1/10 CI jobs here (when I opened the issues).  Across all distros IIRC.  Now it seems much reduced, but I dislike leaving that up to chance.

I remember matt saying it would be really really expensive if podman did the locking for iptables.

The crappy thing is, CNI can literally just ignore this error.  I

[2019-07-15 21:49] cgwalters commented on #3540
@amir73il I read your patch and it looks sane; trying it out, it works for me as expected.  I see in `dmesg` various:
`[  476.602680] overlayfs: lowerdir is in-use as upperdir/workdir of another mount, accessing files from both mounts will result in undefined behavior.`
And `podman build` works (as well as it did before).
Feel free to add `Tested-by: Colin Walters <walters@verbum.org>`.

[2019-07-16 08:10] hjensas commented on #3516
@mheon agreed, there is an issue in container/image. This issue with a proposed fix seems to be related: https://github.com/docker/distribution/pull/2899, however the fix does'nt seem to work.

@vrothberg, It's absurd that software built after 2010 does'nt support ipv6 ...

Afaict the reference spec is something like these:
* Without host: `[PATH/]IMAGE_NAME[:TAG]`
* With host: `ADDRESS[:PORT][/PA

[2019-07-16 08:36] vrothberg commented on #3516
I understand the frustration but note that "not supporting ipv6" isn't entirely accurate. The Docker-reference format just doesn't allow to encode ipv6 addresses. Using DNS still allows for communication with the registry.

There are countless corner cases, the heavy use of unqualified images (e.g., `alpine:latest` vs `docker.io/library/alpine:latest`), special treatment of `localhost` but only by

[2019-07-16 14:38] #3507 closed

[2019-07-16 14:38] #3525 closed

[2019-07-16 15:59] QazerLab opened #3582 "Creation of AUFS-style whiteouts is allowed from within container"
/kind bug

**Description**

When the container filesystem gets committed to the image, whiteout files and opaque directories are translated to AUFS-style whiteouts, as required by [Image spec](https://github.com/opencontainers/image-spec/blob/master/layer.md#whiteouts). Ordinary files and directories are committed as-is, and this means, that if the user created a file or directory, which is named

[2019-07-16 17:23] edsantiago commented on #3447
Feel free to follow along at [rhbz1627561](https://bugzilla.redhat.com/show_bug.cgi?id=1627561)

[2019-07-16 18:19] rhatdan commented on #3540
It is my belief that we have a leak in Podman, and this kernel message is actually incorrect, but as far as the kernel is concerned it sees the leak.

Container A mounts in the host namespace
Container B runs and gets the mount from Container A Leaked to it, and this causes the issue.

[2019-07-16 18:20] mheon commented on #3540
In support of this - we have some tests for bind mounts with nonrecursive bind, and they're failing because containers have extraneous mounts leaking in (not from the bind mount, but SHM mount points, seemingly from other containers?).

[2019-07-16 18:23] TomSweeneyRedHat commented on #1843
Completely unrelated to the issue, but I need to know where the ASCII art came from?  OK if I throw it up on a podman.io blog post and share?  Love it!

[2019-07-16 18:35] amir73il commented on #3540
@rhatdan in what way is the kernel message incorrect?
"in-use as upperdir/workdir" means its in use by an overlay mount that has not been unmounted yet - yeh that's what mount leaks would do.
I have posted an RFC patch for a "proper" solution:
https://lore.kernel.org/linux-fsdevel/20190715133839.9878-1-amir73il@gmail.com/
Instead of executing "umount container A", Podman would execute "shutdown fs

[2019-07-16 18:42] rhvgoyal commented on #3540
@amir73il If I unmount "merged" directory and then delete that directory, then any other leaked mount points on this directory in other mount namespaces go away, I think (As long as other containers are not accessing this directory. If this is unintentional leak, other containers will not be accessing that mount point). I think Eric Biederman made this change. If  that's correct, then I am wonderi

[2019-07-16 18:48] rhatdan commented on #3582
@nalind @giuseppe WDYT?
It would seem that it would cause performance issues when doing a podman commit.

[2019-07-16 19:54] amir73il commented on #3540
@rhvgoyal I have no objection for using this method. I remember it was suggested at the time of v4.13 kernel regression. Not sure why it wasn't done then...

[2019-07-16 20:53] SEJeff commented on #3561
@giuseppe can you also add that to the documentation somewhere? There is nowhere other than this ticket that it is very obvious to do that. It would be nice if it was somewhere sensible. Where would make the most sense?

[2019-07-16 21:02] rhvgoyal commented on #3540
@rhatdan  can we try this directory removal solution and see if it helps with leaked mount points

[2019-07-16 21:05] rhvgoyal commented on #3540
Container removal already cleans up everything. I think for rest of the operations, we probably will have to make sure that after every unmount (once all container/storage reference on merged dir are gone), remove
merged directory and that hopefully takes down all the leaked mount points.

[2019-07-16 21:31] 4383 commented on #1843
I personally prefer [ANSI Shadow](http://www.patorjk.com/software/taag/#p=display&f=ANSI%20Shadow&t=podman)

[code]

[2019-07-16 22:01] TomSweeneyRedHat commented on #1843
That's pretty awesome too @4383 !  Thanks for sharing.

[2019-07-16 22:59] rhatdan commented on #3540
@ amir73il  the error indicates that one containers upper is being used as the Lower inside of a different container.  This is NOT happening.   There is no way in the code that we are using the Upper directory in any other container.  The upper is being used inside of its own container and is leaked into the second container.
And the kernel is fooled into thinking this is a separate mount of the U

[2019-07-17 07:56] abitrolly opened #3586 "How to check if a process is running inside podman (OCI) container"
/kind feature

**Description**

What is the right way to detect if a process is running inside OCI or podman container? Multiply ways to [detect that a process is running in docker container](https://stackoverflow.com/questions/23513045/how-to-check-if-a-process-is-running-inside-docker-container) were suggested, including inspecting `/proc/1/cgroup`. As I don't really understand the contents of `

[2019-07-17 09:04] giuseppe commented on #3582
fuse-overlayfs doesn't allow to create `.wh.` prefixed files, as they are used at runtime but I don't see a problem with native overlay, where AUFS-whiteouts are not used.

The possibility of deleting root-owned files, as in the example above, already need that the parent directory is writeable to the unprivileged user which is not a common case (except `/run` and `/tmp` that are not really useful

[2019-07-17 09:06] abitrolly commented on #3575
Docker added `--pull=...` option to `run` recently. Will that help https://github.com/docker/cli/pull/1498 ?

[2019-07-17 10:09] marcov commented on #3586
One pragmatic way is to check the mount point for `/`, e.g. by checking the content of `/proc/PID/mounts`. If it refers to a rootfs inside `/var/lib/containers/storage`, then it should be a podman container.

E.g.:
[code]

If you need to find out what's the podman container ID, you may need to search for that rootfs path in the runtime. E.g. if you think the OCI runtime is runc:
[code]

Once you g

[2019-07-17 12:45] rhatdan commented on #3575
I don't think this will help, although it is something we should add to Podman.  @QiWang19 Could you add --pull for podman run and create.

[2019-07-17 12:46] rhatdan commented on #3575
Or @abitrolly If you wanted to add the support that would be great also.

[2019-07-17 12:57] rhatdan commented on #3586
I use SELinux to check.
ps -eZ | grep container_t

Tells me processes running in a container, but this does not tell you which container engine launched the container process.

# grep container=podman /proc/12642/environ
Binary file /proc/12642/environ matches

[2019-07-17 14:33] vrothberg commented on #3586
Assuming we know the PID on the host, we can make a quick lookup via Podman:
[code]

The command above prints a list of PIDs of container processes in the host's PID NS.

[2019-07-17 14:48] rhatdan commented on #3540
@rhvgoyal Would https://github.com/containers/storage/pull/390 fix the issue, or at least mitigate it?

[2019-07-17 14:50] rhvgoyal commented on #3540
I think this should help with the issue of unintentionally leaking mount points.

[2019-07-17 15:47] SEJeff opened #3587 "RFE: System site policy defaults"
/kind feature

**Description**
This ticket is requesting the ability for System Administrators to set site policy defaults. This functionality improves the workflow for HPC research using podman. Here are some use cases that come to mind which could be covered by this functionality.

* Default bind mounts into a container. The `containers-mounts(5)` is a nice and elegant solution for small files,

[2019-07-17 16:44] mheon commented on #3587
For bind mounts, I'd prefer to just extend `mounts.conf` to allow flipping a switch to bind-mount instead of copy.

For blacklisting: my initial concern would be - how much effort do we want to put in here? Is it sufficient to block explicit mounts with the `/var/run/ncsd.socket` source, or do we need to scan all mounts for parents of that and mask the path? We can do that (the OCI runtime lets us

[2019-07-17 16:49] haircommander commented on #3533
closing this because it's fixed upstream. Please re-open if you disagree @jttrail0

[2019-07-17 16:49] #3533 closed

[2019-07-17 17:29] SEJeff commented on #3587
@mheon Happy to go with whatever you think makes sense to do this. I'd also be ok with a way to simply not allow users to do any mounts not already provided in the `mounts.conf`. That would certainly alleviate the difficulty of scanning all mounts for parents perhaps?

We have defaults we'd like to provide, and we have things we'd like to not be possible. How that is achieved is up for discussion.

[2019-07-17 18:12] cevich commented on #3447
That BZ is private, but I will share that it's tracking the same issue, and fix I reported upstream in https://github.com/containernetworking/plugins/issues/335  So I think we can be fairly confident when that finalizes for RHEL, we can close all these issues also.

[2019-07-17 18:59] mheon commented on #3587
I'll just caution that, with rootless, some restrictions become hard to enforce. Everything rootless Podman does can be done by the user running the command; we're not SUID, we have no special file capabilities. As such, everything Podman itself touches is owned by the user, can be directly modified by the user, etc... If they decide to edit the OCI spec that Podman generates to include extra moun

[2019-07-17 19:41] SEJeff commented on #3587
@mheon Yeah for our use case I think that's acceptable. Is that acceptable for you?

We want to make running specific research workloads in podman trivial. This mostly is a bunch of defaults with likely some mounts.conf love along with maybe some podman container runlabel docs.

[2019-07-17 19:51] mheon commented on #3587
I'm fine with making it possible, as long as we make it explicit that the security isn't particularly strong - we're just providing ease-of-use defaults.

[2019-07-17 19:59] SEJeff commented on #3587
That's precisely what we're going for. How would you envision this being implemented then?

[2019-07-17 20:24] mheon commented on #3587
I'm thinking that our first step is implementing the ability to set a "base config" to build containers from. That gets us environment variables and mounts.

From there, we can figure out what excluding mounts should look like. That will probably be more challenging.

[2019-07-17 20:28] SEJeff commented on #3587
@mheon Would it be possible to do this without building containers?

One of our use cases that caused us to reach out to Redhat (via our TAM) was that we'd love to see a way to use podman to run the upstream tensorflow nightly from docker hub. If we could set some of these defaults via config files (like mounts.conf), it would allow us to potentially run the upstream tensorflow image unmodified us

[2019-07-17 20:34] mheon commented on #3587
This will probably take the form of a "config file" of sorts.

To run containers, Podman creates an OCI spec, which we then pass to an OCI runtime to run the container. The spec defines things like mounts, environment variables, etc. We start with a default spec provided by https://github.com/opencontainers/runtime-tools/ and then modify it based on the command line options from create/run - I'm t

[2019-07-17 20:42] SEJeff commented on #3587
Yes that sounds perfect.

[2019-07-17 20:50] jwflory opened #3589 "RFE: Squash images down to a single UID/GID when pulling"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

In environments where user namespaces are not possible (#3478), the `--uidmap` flag is useful for running a container with a single UID/GID as a workaround for these scenarios (more context in #3561).

Currently, `podman pull` fails if there are not enough UIDs/GIDs allocated on the syste

[2019-07-17 21:52] mheon commented on #3589
@giuseppe @nalind @rhatdan PTAL

[2019-07-18 00:07] #3286 closed

[2019-07-18 01:59] jcaesar commented on #2542
I had this same issue (on ArchLinux). I think the cause was that I had run podman before creating `/etc/sub{u,g}id`. After killing all running podman-related process and a (probably over-zealous) `sudo rm -rf .{config,local/share}/containers /run/user/$(id -u)/{libpod,runc,vfs-*}`, the issue disappeared.

[2019-07-18 07:23] #3500 closed

[2019-07-18 08:41] giuseppe commented on #3589
it is being addressed here: https://github.com/containers/storage/pull/387

[2019-07-18 08:42] giuseppe commented on #3589
@jwflory could you build a podman using that version of containers/storage and see if it solves your problem?

[2019-07-18 09:57] guits commented on #3394
agree, this is really useful.
in the ceph-ansible project, we used to filter containers name this way too.

docker:
[code]
podman:
[code]
from backward compatibility point of view, this is causing issues.

[2019-07-18 13:17] cjeanner opened #3596 "podman ps --filter doesn't work like docker's"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The ```docker ps --filter``` allows to pass a "OR" string in the form of "name=foo|bar". Apparently, ```podman ps --filter``` doesn't work like this.

**Steps to reproduce the issue:**

1. run three containers, one named "bar", one named "foo" and the last one "blah"

2. try to list them usin

[2019-07-18 13:40] vrothberg commented on #3596
Hi @cjeanner, thanks for opening the issue. It's already being tracked in https://github.com/containers/libpod/issues/3394, so I am closing this one here.

[2019-07-18 13:40] #3596 closed

[2019-07-18 14:28] Ciantic commented on #1742
Does vanilla debian mean also Raspberry Pi variant?

My Pi is very unhappy camper as you can see:

[code]

[2019-07-18 15:03] Ciantic commented on #1399
Reason I'm interested on this is that if I can build podman statically in docker container, I should be able to copy the binaries out of the docker container to my host Raspberry Pi 4. This way I could install podman to raspbian without messing my host the Raspberry Pi.

Does anyone in this thread know which binaries I should copy out of the https://github.com/mgoltzsche/podman-static container to

[2019-07-18 16:04] #3578 closed

[2019-07-18 16:46] abitrolly commented on #3586
From inside container I haven't found references to `/var/lib/containers` from `/proc/self/mounts`. But I found **`/run/.containerenv`** documented at https://github.com/containers/libpod/blob/master/docs/podman-run.1.md as an official flag to detect that a program is in a container. Thanks for the pointers.

---

[code]

[2019-07-18 16:46] #3586 closed

[2019-07-18 18:34] junaruga commented on #3063
I just noticed different architecture's container works on my x86_64.
Am I dreaming?

[code]

[code]

## Fedora

[code]

[code]

## CentOS

[code]

## RHEL 8

[code]

[2019-07-18 19:15] jwflory commented on #3589
@giuseppe I built Podman with @rhatdan's patch but from what I could tell, the feature needs to be enabled. There was no change when running the same command in the original comment. Is there a step I should follow to use the overlay flag?

[2019-07-18 19:29] giuseppe commented on #3589
Can you please include the output you get?

[2019-07-18 20:19] nalind commented on #3063
If you have the `qemu-user-static` package installed on Fedora, it'll register statically-built qemu emulators with the kernel's (by way of the `systemd-binfmt` service) to handle cross-arch emulation for Linux binaries.  Is that what's going on?

[2019-07-18 21:05] junaruga commented on #3063
@nalind Thank you for your advice.
I had installed qemu-user-static. But I removed after that.
When I checked below commands, qemu-user-static was not installed.

Is it below part, right?

https://src.fedoraproject.org/rpms/qemu/blob/f30/f/qemu.spec#_1237

[code]

Now I checked my current status.

[code]

[code]

[code]

Is this right condition?

[2019-07-18 21:07] martinpitt opened #3602 "frequent lockups on the varlink API: Unable to decode event: unknown event type """
/kind bug
**Description**

podman's varlink API often locks up during operation. cockpit-podman's integration tests reproduce this in about half of the test runs. It does a few varlink calls:

[code]

and then podman is completely frozen. `podman ps` hangs forever. Other commands like `podman images` still work, though.

https://209.132.184.41:8493/logs/pull-148-20190718-161717-1d266659-cockpit-fe

[2019-07-18 21:18] martinpitt opened #3603 "varlink API hangs: too aggressive daemon timeout hits systemd's start limit"
/kind bug

**Description**

In trying to debug issue #3602 , I ran some podman operations on the command line using the varlink API. But this locks up very often with hangs or "Unable to connect: CannotConnect".

**Steps to reproduce the issue:**

1. `podman pull docker.io/library/busybox:latest`

2. `mkdir -p /tmp/v1 /tmp/v2`

3. `while true; do podman rm -f busybox-with-tty || true; varlink call

[2019-07-18 21:20] nalind commented on #3063
I'd expect the state to be `Active: active (exited)` if everything's set up, but the service just adds entries under `/proc/sys/fs/binfmt_misc` which tell the kernel how to run the binaries, and that can be done in other ways.

When I run the example image on a system with `qemu-user-static` installed specifying `sleep 30` as the command to run, and then run `ps` from outside of the container, the

[2019-07-18 21:25] martinpitt commented on #3603
After `podman pull docker.io/library/busybox:latest`, this command locks up straight away for me:

[code]

i. e. the `StartContainer` call is hanging forever. I see it in `ps`. The starting did succeed:
[code]

systemd shows that the process exited cleanly, but apparently before the `StartContainer` call got fully processed:
[code]
This is *not* triggering the start-limit, as it's just two calls.

[2019-07-18 21:35] junaruga commented on #3063
@nalind Do you know how to remove entries from `/proc/sys/fs/binfmt_misc`?
Maybe I added some entries on the different way. I assume that is the reason of my wrong state: `Active: inactive (dead)`.
I want to turn back to the status before qemu-user-static was installed.

[2019-07-18 21:49] nalind commented on #3063
Per https://www.kernel.org/doc/html/latest/admin-guide/binfmt-misc.html, to unregister a handler, you can write `-1` to it by using a command like `echo -1 > /proc/sys/fs/binfmt_misc/qemu-aarch64`.

[2019-07-18 21:53] mheon commented on #3602
Do you have anything else running in systemd that might be logging with the unit name "podman"? That sounds like a likely cause.

@baude This sounds like we might be repeatedly parsing old logs in journald - is there a way to stop that?

[2019-07-18 21:55] mheon commented on #3560
Closing, as this is a known issue (too old kernel)

[2019-07-18 21:55] #3560 closed

[2019-07-18 21:56] mheon commented on #3587
I'm going to self-assign this. Hoping to squeeze in the default spec work sometime next week.

[2019-07-18 21:57] mheon commented on #3575
This is being worked on.

[2019-07-18 22:01] mheon commented on #3572
So this is somewhere between `StartContainer` and `GetContainer`. Both of those do need to grab the container lock, but both of them give it up quickly once their work is done.

I wonder if we're not seeing some sort of issue with Varlink trying to order requests here, leading to a sort of priority inversion?

[2019-07-18 22:01] baude commented on #3602
the lock ups and the warnings are two different things I think.  I cannot be sure, but that is what I would suspect.

[2019-07-18 22:04] mheon commented on #3565
My initial impression would be to use `podman exec` on the pod's infra container, but that has a major problem - the infra container has nothing except a pause binary by default, so we have no shell, no tools, etc.

We could launch a sidecar container in the pod with an image including common tools (busybox might be sufficient) and give a shell into that.

[2019-07-18 22:05] mheon commented on #3602
Concur. We have another issue regarding deadlocks with Varlink - my suspicion is these two are directly related.

[2019-07-18 22:22] junaruga commented on #3063
@nalind Thank you! Now my machine works like your machine!

Below is the result.

I think if `systemctl start systemd-binfmt` includes the logic adding entries to `/proc/sys/fs/binfmt_misc`, `systemctl start systemd-binfmt` should include the logic removing entries `echo -1 > /proc/sys/fs/binfmt_misc/status`.

[code]

Then

[code]

The status is `Active: active (exited)` now.

[code]

[code]

[cod

[2019-07-18 22:24] mheon commented on #3542
Working this in #3581

[2019-07-18 23:36] junaruga commented on #3063
@nalind I do not understand below your situation.

What you did is like this?

[code]

On my Fedora 30, `/usr/bin/coreutils` command is in `coreutils-single` RPM package that has conflict with `coreutils` RPM package that has `/usr/bin/sleep` commands.

https://src.fedoraproject.org/rpms/coreutils/blob/f30/f/coreutils.spec#_106

I could not reproduce it on my environment.

[2019-07-18 23:41] baude commented on #3603
safe to assume you are running this all as root?

[2019-07-18 23:42] baude commented on #3603
also, instead of running varlink as a service, if you run it manually with a timeout of 0, does it work?

[2019-07-19 00:22] #3553 closed

[2019-07-19 00:31] rhatdan commented on #3589
@jwflory You need to set a mount option for it.  There should be no change to podman, once it is vendored in.

--storage-opt overlay.ignore_chown_errors=true ...

Then if  container storage fails to chown, the error will be ignored, meaning the file will be stored with the default root uid inside of the container

[2019-07-19 01:17] rhatdan commented on #3565
Is the shell within the pod, actually in the primary (first) container?
I don't think kubernetes pod's have a shell, so it must be launched in the first container.

[2019-07-19 01:27] #3394 closed

[2019-07-19 01:41] haircommander commented on #3565
Hm, it seems k8s just shells into a container. If the pod has two containers, you can specify which. I'm not sure how it's decided which container is exec'd into if there are multiple but none specified, but following k8s logic could be done here.
 The sidecar idea is a neat one.  Should it then be cleaned up after the session?

[2019-07-19 01:47] haircommander commented on #3565
Dibs

[2019-07-19 02:46] mheon commented on #3565
If we go with a sidecar, I think it'd basically act like a container with `--rm` set - remove on termination.

Things to think about: Do we spawn a separate sidecar per exec session? I'd lean towards yes - it's more complicated, but it lets us use normal container attach instead of exec, which simplifies things quite a bit, and each exec session gets to be actually independent - no taking out all

[2019-07-19 02:52] haircommander commented on #3565
I'm thinking start following kubectl exec's lead, then maybe add a sidecar as an option as a future. Something like
`podman pod exec -l --image=image-to-run /bin/bash` as opposed to `--container=container-that-exists`

[2019-07-19 02:54] mheon commented on #3565
SGTM

[2019-07-19 05:04] hypery2k commented on #3589
any chance to get the PR merged? Having currently lot's of problems due to the image squashing issue

[2019-07-19 07:35] martinpitt commented on #3602
With this loop, I can lock up podman pretty reliably (as root), after a handful of iterations:
[code]

The journal shows that this is not directly a case of issue #3603 (start limit hit due to too aggressive timeout). Although there *are* two restarts (which demonstrate that even the 1s timeout doesn't work, it's by and large immediate), the lockup happens when the service  keeps running. There is

[2019-07-19 07:39] martinpitt commented on #3602
.. however, after ^C'ing the varlink process, the io.podman.service now keeps running and *never* times out. Supposedly in its brain it was missing the closed connection of the client and still thinks it's connected?

[2019-07-19 07:44] martinpitt commented on #3603
Yes.

I took a look again at the timeout behaviour in
[issue #3602](https://github.com/containers/libpod/issues/3602#issuecomment-513126580), with microsecond precision. The important part for this bug:

[code]

So this shows that between the last event and the shutdown there's less than 0.2s.

With

    /usr/bin/podman varlink --timeout 0 unix:/run/podman/io.podman

the container create/start/rm

[2019-07-19 07:55] giuseppe commented on #3542
I've cut a new release of crun that has support for `--cgroup-manager=none`: https://bodhi.fedoraproject.org/updates/FEDORA-2019-f84b229286

[2019-07-19 07:58] giuseppe commented on #3589
@hypery2k we are still testing it, and it will hopefully merged soon.  Even with that in place, it is still suggested to use multiple IDs inside of a user namespace, as it doesn't require to use a modified image.

[2019-07-19 08:01] martinpitt commented on #3602
I reproduced the hang again with our cockpit-podman tests. In this case, io.podman.service did not get restarted a single time (i. e. not related to timeouts), and the operation just timed out. In the journal I again see thousands of

    podman[6580]: time="2019-07-19T03:57:50-04:00" level=error msg="Unable to decode event: unknown event type \"\""

messages. This time I confirmed that process 65

[2019-07-19 08:17] martinpitt commented on #3602
This is an strace of the `podman varlink` process while it causes the complete lockup:
[podman.lockup.strace.zip](https://github.com/containers/libpod/files/3410088/podman.lockup.strace.zip)
I. e. `podman ps` hangs, API calls hang, etc. This is *not* the same as the CLI reproducer above, but it's the one that gets triggered by the UI (it's enough for me to try and start a container manually, which

[2019-07-19 10:08] hypery2k commented on #3589
totally with you, but I didn't get it working on OpenShift 3.11

[2019-07-19 12:46] TomSweeneyRedHat opened #3606 "podman push error to quay.io w/o quotes"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

kind bug

**Description**

I suspect this to be a CLI parsing issue.  A push to quay.io of an image without quotes around it fails.

[code]

**Steps to reproduce the issue:**

See description

**Describe the results you received:**
See description

**Describe the results you expected:**

The push to work with or without

[2019-07-19 13:07] vrothberg commented on #3606
I can't reproduce this on master. @TomSweeneyRedHat, could you paste the command and output?

[2019-07-19 13:22] TomSweeneyRedHat commented on #3606
UGH, it's in the commented out description...  Will update.

[2019-07-19 19:39] QiWang19 opened #3608 "podman build --network desn't work as the doc"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
In the document
[code]

**Describe the results you received:**
[code]
or try container id
[code]
**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `podman version`:**

[code]

**Output of `podman info --de

[2019-07-20 01:34] zzzeek commented on #1817
I just saw this, if that matters, in openstack stein:
[code]

[2019-07-20 06:21] juhp opened #3609 "`podman import url` does not work"
/kind bug

**Description**
`podman import --help` says

but this appears not to work.

**Steps to reproduce the issue:**

1. `podman import http://kojipkgs.fedoraproject.org/packages/Fedora-Container-Base/Rawhide/20190719.n.1/images/Fedora-Container-Base-Rawhide-20190719.n.1.x86_64.tar.xz`

**Describe the results you received:**
[code]
(Omitting `http://` gives a different error)

**Describe the r

[2019-07-20 10:26] #2167 closed

[2019-07-20 20:33] rhatdan commented on #3609
@QiWang19 PTAL

[2019-07-20 20:41] rhatdan commented on #3608
Well if you found it, you fix it.  :^)

[2019-07-21 00:23] baude commented on #3602
@martinpitt I am PTO for another week with really poor internet service.  Maybe if I get a rainy day I will look at this but otherwise once I get back.  There is so much information here to digest; however, one thing I see is that when running the container, we have set tty to true.  That might be the key here in that we tie up varlink with console?  I wonder if we -dt the container, if things wor

[2019-07-21 00:28] baude commented on #3602
@haraldh based on the descriptions here, do you have an guesses what might be going on?

[2019-07-21 00:32] mheon commented on #3602
The console should never hit the varlink process. It never leaves Conmon and the container.

[2019-07-21 01:04] baude commented on #3602
I disagree but lets see where it goes.  There might even be a cleanup problem here too.

[2019-07-21 01:37] baude opened #3612 "podman --cgroup-manager cgroupfs is taking extraordinary time to complete"
While working on #3562, all tests are passing except on Ubuntu.  I recreated the VM on our CI infra to test the failing tests as well as manually test.  It looks like the changes in #3562 have impacted something cgroupfs related as the do not complete.

I will try and slap the debugger on this and see if I can see what is going on if the environment will let me.  Perhaps the debugger can enlighten

[2019-07-21 01:40] baude commented on #3612
Nothing obvious in journal control.  And BTW, I blame something cgroupfs because I think ubuntu is our only test bed for cgroupfs?  I must have raised an error or changed the logic of something.

[2019-07-21 02:43] mheon commented on #3612
Ubuntu is also our only set of tests that run without systemd - could be events related? I've been running into major events-related pains in #3551

[2019-07-21 02:44] mheon commented on #3612
(Well, podman-in-podman also technically lacks systemd, but the failure mode there is entirely different - it instantly fails, as opposed to Ubuntu, which seems to attempt to log but fail?)

[2019-07-21 15:48] baude commented on #3612
Here is where we are hanging:
[code]

[2019-07-21 15:50] mheon commented on #3612
Apparmor. @vrothberg Are we applying the profile in libpod? I suppose I can see how that might break us...

[2019-07-21 15:51] baude commented on #3612
but remember here that this worked until I linted everything, so something I did probably broke it

[2019-07-21 15:54] baude commented on #3612
also interesting, if I kill the hung process and run the same podman command again, it seems to work. also remind me, is this benign?
[code]

[2019-07-21 15:56] mheon commented on #3612
Never seen that one before, but it doesn't look healthy. @giuseppe Potential issue with the new CGroups code and ubuntu?

[2019-07-21 18:00] junaruga commented on #3063
By the way, I opened the ticket at systemd project to remove registered `/proc/sys/fs/binfmt_misc/qemu-*`entries in the process of `systemctl stop systemd-binfmt`.
https://github.com/systemd/systemd/issues/13129

[2019-07-21 19:08] baude commented on #3612
I think I have a lead on this one ... unfortunately my bandwidth here is so slow, it takes about 1 hour to turn each run around. 33k/sec!

[2019-07-21 21:47] mheon opened #3613 "'make integration' is broken"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Trying to run the tests locally, got distracted, typed `make integration` instead of `make localintegration` and run the containerized integration tests. They failed. We should probably fix that.

**Steps to reproduce the issue:**

1. `sudo make integration` from root of libpod repo

**Descri

[2019-07-21 21:48] mheon commented on #3613
Seems like a missing or misnamed package.

[2019-07-21 22:36] cHolzberger opened #3614 "Can't build libpod without selinux"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

seems like libpod can't be build without libselinux.

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
missing libsystemd
[code]

**Describe the results you expected:**
working compilation of libpod

**Additional information you deem important (e.g. issue happen

[2019-07-21 22:42] baude commented on #3612
I have it pinned down.

[2019-07-21 22:42] #3612 closed

[2019-07-21 22:45] mheon commented on #3614
@vrothberg Any way we can make modules conditional? Or are we going to have to go through libselinux and add build flags throughout?

[2019-07-21 22:46] mheon commented on #3614
Sorry, not libselinux, the Go frontend for it whose name I've utterly forgotten

[2019-07-21 22:56] cHolzberger commented on #3614
Supplying any BUILDTAGS also results in requiering selinux

[2019-07-21 22:59] cHolzberger commented on #3614
@mheon it would be
[code]

[2019-07-22 05:22] adrianreber commented on #3613
`libprotobuf-c0-dev` has been renamed to `libprotobuf-c-dev`.

[2019-07-22 07:25] vrothberg commented on #3614
I have some doubts about the conclusion that the error comes from the existence in the modules.txt. It builds fine for openSUSE, for instance, where the package is built without selinux.

[2019-07-22 07:50] vrothberg commented on #3614
I can't reproduce in my openSUSE VM. It compiles correctly with and without the selinux label, and with and without the `libselinux-devel` package being installed.

@cHolzberger, did you run `make podman`? I suspect that the `exclude_graphdriver_devicemapper` tag is missing. `device-mapper` has a dependency on `selinux`. But as I wrote above, I couldn't reproduce in the VM.

[2019-07-22 07:54] cHolzberger commented on #3614
@vrothberg compiles without problems when running `make podman`

[2019-07-22 07:55] vrothberg commented on #3614
@cHolzberger, can you try with `BUILDTAGS=`systemd exclude_graphdriver_devicemapper` make podman`?

[2019-07-22 07:59] cHolzberger commented on #3614
doen't compile:
[code]

[2019-07-22 08:02] vrothberg commented on #3614
@cHolzberger, can you paste the entire `go build [...]` when running `make podman`? In the meantime, I'll fire off a clear linux VM to reproduce.

Thanks for reporting and the quick replies!

[2019-07-22 08:04] cHolzberger commented on #3614
just found out, this does compile:
[code]

[2019-07-22 08:07] cHolzberger commented on #3614
whole go build cmd line:
[code]

[2019-07-22 08:11] vrothberg commented on #3614
Good catch! `ostree` requires `libselinux`.

I'll try to fix that in our documentation. Thanks!

[2019-07-22 08:12] cHolzberger commented on #3614
to get clearlinux to compile stuff you should:
[code]
would install quite a bit more than needed but its complete then

[2019-07-22 08:14] cHolzberger commented on #3614
yeah, thanks for taking the time.

would that fix buildah also?

[2019-07-22 08:16] vrothberg commented on #3614
Yes, that should work there as well.

[2019-07-22 08:37] vrothberg commented on #3614
Since we resolved the issue, I am closing it.

I opened https://github.com/containers/libpod/pull/3615 to mention all supported build tags.

[2019-07-22 08:38] #3614 closed

[2019-07-22 10:20] martinpitt commented on #3602
I get eternal `varlink call CreateContainer` hangs with `"tty": false` as well.

[2019-07-22 11:11] rhatdan commented on #3614
It would be nice to mention in install.md how to build for clearlinux.

[2019-07-22 13:11] mheon opened #3616 "Podman events with journald backend shows old events"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

From the manpages of `podman events`:

`If no since or until values are provided, only new events will be shown.`

However, when I run `podman events` (F30, journald backend), I get old events.

**Steps to reproduce the issue:**

1. Unclear what prior steps are, but it is definitely necessary

[2019-07-22 13:14] mheon commented on #3616
It seems like it's always the last 6 events that occurred, so this is probably something on systemd's side?

[2019-07-22 14:50] cevich opened #3618 "CI: Post-merge testing fails in 'image_prune' task"
/kind bug

**Description**

The 'image_prune' task only runs on master, post-merge and
is currently failing for all builds.  This is because it
references a non-existent image.  The person with access
to add/enable this image is on PTO.  Fix this by temporarily
using a hand-built image until an automatic build can be added.

**Steps to reproduce the issue:**

1.  Merge pull-request

**Describe the

[2019-07-22 15:22] cevich commented on #3618
@baude when you get back, and settled, let me know.  We just need a quay.io image and build added identical to the others, but for `docker build -t quay.io/libpod/imgprune:latest -f contrib/imgprune .`  Then my temp. workaround commit can be reverted.

[2019-07-22 15:34] ThomasSchoenbeck commented on #1399
even after installing libselinux it doesn't run on alpine. the missing file is now avaiable in /lib but podman doesn't care

[2019-07-22 18:01] sic-bre commented on #3453
Any status or recommendations the the best way to work around in the short term?  I kind of need to have docker and podman side by side (on Ubuntu 18.04 LTS) for doing an evaluation.

[2019-07-22 18:02] jwflory commented on #3589
@giuseppe @rhatdan This is what I currently get with the c/storage patch. The Podman package itself I am using includes up to commit ade0d87:

`podman --log-level=debug --storage-opt overlay.ignore_chown_errors=true pull registry.fedoraproject.org/fedora:latest`

[code]

[2019-07-22 18:36] lsm5 commented on #3453
@mheon so, our runc can be neither in `/usr/bin` nor `/usr/sbin`. What other paths can podman use? `/usr/libexec/podman/runc` maybe, same as conmon?

[2019-07-22 18:38] mheon commented on #3453
Our default runc paths are:

[code]

We can definitely get a /usr/libexec path in there if that's how we want to go, just need to get a patch in to add it as a valid path before we swap destinations.

[2019-07-22 18:41] lsm5 commented on #3453
ah ya, sorry about the brainfart, I remember our runc had a symlink /usr/bin/runc to /usr/lib/cri-o-runc/sbin/runc. I don't quite remember the issue which requested for that symlink. I'll get rid of the symlink.

[2019-07-22 19:39] debarshiray commented on #1550
I filed https://github.com/systemd/systemd/pull/13141 to get `net.ipv4.ping_group_range` enabled by default.

[2019-07-22 19:57] lsm5 commented on #3453
@flx42 @vsoch @sic-bre I just pushed runc 1.0.0-rc8 to ppa. It only has runc in `/usr/lib/cri-o-runc/sbin`. Please reopen if it doesn't work. HTH

[2019-07-22 20:53] haircommander opened #3625 "runtime segfault with containers in created state"
off of latest master, I got a segfault trying to run ps
[code]

[2019-07-22 20:56] haircommander commented on #3625
original description was not correct.

I ran the ps after no activity for a while. I only had two containers in the created state. After this segfault, I successsfully created a new container, and ps works after that. Something about the initial refresh was funky.

[2019-07-23 03:49] mheon commented on #3625
`ps` can now optionally no longer create a store (does this by default for speed in IO constrained situations). This obviously causes refresh, which needs a store, to crash. I was pretty sure I fixed this one earlier, but evidently not - will look tomorrow.

[2019-07-23 04:34] hypery2k commented on #3589
seeing the same error

[2019-07-23 10:28] rhatdan commented on #1399
Only reason libselinux is needed is for ostree, eliminate that from the build and you should be fine.

[2019-07-23 12:13] rhatdan commented on #3589
It is working for me with this command

[code]

[2019-07-23 12:15] rhatdan commented on #3589
[storage.patch.txt](https://github.com/containers/libpod/files/3421956/storage.patch.txt)

[2019-07-23 12:31] jwflory commented on #3589
I noticed you are using `fuse-overlayfs`. We are using the `vfs` storage driver in our environment since our kernel doesn't support `fuse-overlayfs`. We are currently on RHEL 7.5.

[2019-07-23 13:56] mheon commented on #3625
Reproducer:

* Have at least 1 container created. Ensure all containers are stopped with `podman stop -a`.
* `sudo rm -f /dev/shm/libpod_lock /var/run/libpod/alive`
* `sudo ./bin/podman ps -a`

[2019-07-23 14:07] mheon commented on #3625
#3626 to fix

[2019-07-23 14:15] baude commented on #3602
Imsorry, i should have been more specific.  I mean to detach (-d) things

[2019-07-23 14:18] baude commented on #3616
i doubt it; probably my mistake.  I'll take a peek.  One problem with the events though is we have to read the entire journal each time; I don't believe there is a way to get around that.

[2019-07-23 14:27] TristanCacqueray opened #3628 "The --rootfs argument exit silently"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Using the rootfs argument doesn't seems to work and podman exit silently

**Steps to reproduce the issue:**

1. Create a rootfs:
[code]

2. Start podman
[code]

**Describe the results you received:**

Nothing happens, the command exit with error code 139

**Describe the results you expected:*

[2019-07-23 14:33] mheon commented on #3628
Can you add `--log-level=debug` to the run command with `--rootfs` and provide the output?

[2019-07-23 14:38] TristanCacqueray commented on #3628
Sure:
[code]

[2019-07-23 14:40] mheon commented on #3628
In Podman's opinion, the container started successfully. It seems like whatever command is running in the container exited immediately?

[2019-07-23 14:41] mheon commented on #3628
@giuseppe @rhatdan I'm thinking the exit code here might be from the failed unmount of `/dev/shm` - should we not try `/dev/shm` when using `--rootfs`?

[2019-07-23 14:44] lsm5 commented on #3628
@TristanCacqueray is the silverblue host rawhide based? Just checking, cause only rawhide has `1.4.5-dev` atm.

[2019-07-23 14:46] mheon commented on #3628
Per some googling, exit code 139 seems likely to be a SIGSEGV from inside the container - one that's somehow not managing to print logs?

[2019-07-23 14:46] vrothberg commented on #3628
I can't reproduce this locally on my F30 machine.

[2019-07-23 14:51] TristanCacqueray commented on #3628
@lsm5 host is built with fedora-30 repos. Looking at journalctl while trying to run the command there is an AVC error:
[code]

And running the podman run command with `--security-opt label=disable` works.

[2019-07-23 14:59] TristanCacqueray opened #3629 "Using --network container:name with uidmap fails with OCI runtime error"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When using custom uidmap, it seems like a container cannot join another container's network namespace.

**Steps to reproduce the issue:**

1. Create a vpn container
[code]

2. In another terminal, join the container
[code]

**Describe the results you received:**

When using uidmap, the second

[2019-07-23 15:04] mheon commented on #3629
@giuseppe PTAL

[2019-07-23 15:08] TristanCacqueray commented on #3628
Also setting the rootfs label works: `chcon -R  unconfined_u:object_r:container_file_t:s0 /tmp/f30`, then podman run can start with a SELinux context.

Then this is not a bug, but perhaps could the CLI display an error message?

[2019-07-23 15:10] mheon commented on #3628
If nothing else, we should alter the manpages to strongly recommend a relabel with `--rootfs` on SELinux-enabled systems

[2019-07-23 15:42] hypery2k commented on #3589
@rhatdan Can you upload the podman binary on google drive or dropbox? Want to give a try and having issue with building the PR

[2019-07-23 15:50] hypery2k commented on #3561
any news for support on pull command?

[2019-07-23 16:32] QiWang19 commented on #3550
the issue is after extracting the tar archive, if it returns a folder has the same name with the volume, podman copies it to the containerMountpoint/volumename not the volumePath. Is it possible to fix this?

[2019-07-23 17:20] mheon commented on #3550
We may want to look into having `podman cp` join the mount namespace of the container - it would solve all these pathing gotchas...

[2019-07-23 17:26] QiWang19 commented on #3550
how to let `podman cp` join the mount namespace?

[2019-07-23 17:40] #3618 closed

[2019-07-23 18:04] QiWang19 commented on #3608
I'm not sure if this is an issue with --Network. For man page this is used for `RUN instructions`.what is the expected result of --Network="container"?

[2019-07-23 18:06] QiWang19 commented on #3608
This PR copies some code form buildah https://github.com/containers/libpod/pull/3633
Does this fix make sense?

[2019-07-23 20:41] undecaf opened #3635 "'volume rm' removes an arbitrary volume if the volume name is ambiguous"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

If there are multiple volumes whose names start with the same character(s) (such as `a1`, `a2`) then `podman volume rm a` removes one of these volumes although `a` is ambiguous. This concerns named volumes as well as volumes identified by their hashes.

**Steps to reproduce the issue:**

1. `

[2019-07-23 20:55] sic-bre commented on #3453
Thank you that seems to have worked!  I have the latest docker-ce 19.03.0 and podman 1.4.3 running side by side on a fully patched Ubuntu 18.04 LTS.  They both run the docker.io/library/hello-world after the default repositories are configured.

[2019-07-23 21:03] runapp commented on #2542
I'm on openSUSE Leap 15.1 and confirms @jcaesar's steps are effective. To be more specific I found killing existing podman (cache process?) and `rm /run/user/$UID/libpod/pause.pid` is enough for me. I guess it'll force a reload of podman to `/etc/sub?id`.

[2019-07-23 21:16] runapp opened #3636 "podman won't work if any single subuid/gid map exists, even if it's behind a range-map"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

As title says. Please check the reproduce steps.

**Steps to reproduce the issue:**

1.

[code]

2. `killall podman`

3. `podman pull opensuse/tumbleweed` #(or any image with at least one file of uid/gid > 0)

**Describe the results you received:**

`ERRO[0011] .... there might not be enough

[2019-07-23 21:29] mheon commented on #3635
I'll take this one - pretty sure I know where the problem is.

[2019-07-23 21:30] mheon commented on #3636
Are the `newuidmap` and `newgidmap` executables available? What are their permissions?

@giuseppe PTAL

[2019-07-23 21:33] runapp commented on #3636
@mheon Thank you for your quick reply.

[code]

I believe there's no problem with them cause if I delete `$USER:$UID:1` line (and subgid one), pull operates well.

[2019-07-23 21:56] asm582 opened #3637 "Run Rootless Error: cannot specify gid= mount options for unmapped gid in rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1.podman run hello-world

**Describe the results you received:**

Trying to pull registry.access.redhat.com/hello-world...ERRO[0000] Error pulling image ref //registry.access.redhat.com/hello-world:latest: Error determining manifest MIME type for docker://re

[2019-07-23 23:40] alitvak69 commented on #3485
@rhatdan While I am not a good candidate for packager for various reasons, I would like to suggest something.  It looks like people behind the atomic ppa are very busy and cannot spend time to build packages regularly for LTS Ubuntu releases not to mention others.  I wonder if developers of podman could write a document on how to build debs for podman + dependencies and put it in this github repo

[2019-07-24 01:13] lsm5 commented on #3485
sorry about the delay everyone, I plan on getting automated builds setup for ubuntu versions by this weekend.

[2019-07-24 01:26] mheon commented on #3637
I believe this is usually caused by a too-old `runc` version. RHEL/CentOS 7.7 should have a new enough version to include a fix for this.

[2019-07-24 04:44] PoisonBCat commented on #3636
Maybe u can try follow commands:
echo "CURRENT USERNAME:110000:65536" > /etc/subuid
echo "CURRENT USERNAME:110000:65536" > /etc/subgid

Hope these can help you

[2019-07-24 07:07] giuseppe commented on #3636
adding the user UID/GID seems to confuse newuidmap/newgidmap.  They are not needed though as they can be already used without being present in the subuid/subgid file.

Have you found documented anywhere that they should be added to the `subuid` and `subgid` files?

[2019-07-24 07:13] runapp commented on #3636
@giuseppe I’ll check manual of newuidmap later. It’s originally for `lxc-usernxexec` to map the real uid to an container uid, which makes `chown` between real fs and chrooted fs possible.

[2019-07-24 07:31] lsabi commented on #3485
@lsm5 let me know if you need help in writing the automated builds (so I can learn it too)

[2019-07-24 09:29] giuseppe commented on #3629
so the issue is that there are two user namespaces, one for each container.  The first container also creates a network namespace that is owned by its user namespace.  The second container creates a new user namespace and then tries to join the existing network namespace, but now the kernel won't allow it as the owner userns is different.  The OCI runtime could probably try to handle this case by

[2019-07-24 09:32] giuseppe commented on #3637
yes, this is caused by runc, it raises this error even if there are enough IDs mapped inside the namespace.

Could you try with an updated runc?

Please re-open the issue if it still doesn't work and you believe the problem is Podman

[2019-07-24 09:32] #3637 closed

[2019-07-24 09:32] nc-ruth commented on #2369
@rhatdan

[2019-07-24 09:35] giuseppe commented on #3636
@runapp I was wondering if you found documented anywhere that you need to add your own UID/GID to the configuration files.  Possibly newer versions behave the same way, I I think it is just a wrong configuration.

Since it seems to work with a regular configuration and that is related to newuidmap/newgidmap that are not under Podman control, I am going to close this issue.

Please feel free to add

[2019-07-24 09:35] #3636 closed

[2019-07-24 09:44] giuseppe commented on #3582
I don't think there is anything we should do here.  Please add more comments, or re-open the issue if you think there are situations where this could be a security problem.

[2019-07-24 09:44] #3582 closed

[2019-07-24 10:47] #3608 closed

[2019-07-24 11:19] kubco2 opened #3640 "podman does not create console if -t is present in noninteractive shell"
/kind bug

**Description**
If we run podman exec -t  in non-interactive shell, it does not create console.

**Steps to reproduce the issue:**

1.
podman run --rm -d --name test ubi8 sleep 1000

2.
run this command in non-interactive shell:
podman exec -t test date

**Describe the results you received:**
exec failed: provided file is not a console
Error: exit status 1

**Describe the results you ex

[2019-07-24 11:27] rhatdan commented on #3616
Does journalctl do this?

[2019-07-24 11:28] rhatdan commented on #3453
Excellent.

[2019-07-24 11:29] rhatdan commented on #2369
@TomSweeneyRedHat Could you give @nc-ruth and update and link to @mtrmac comments.

[2019-07-24 11:33] rhatdan commented on #3589
@jwflory we would need to have a different patch to use this on VFS.  I will look into that.
@hypery2k Which OS?

[2019-07-24 11:52] vrothberg commented on #3640
Hi @kubco2, thanks for opening the issue. Can you share the output of `podman info --debug` and `podman --log-level=debug exec -t test date`? I am unable to reproduce it on my Fedora 30 machine.

[2019-07-24 11:56] runapp commented on #3636
@giuseppe Please check Example section of `lxc-usernsexec`, which writes:

       If your user id is 1000, root in a container is mapped to 190000, and
       you wish to chown a file you own to root in the container, you can
       use:

              lxc-usernsexec -m b:0:1000:1 -m b:1:190000:1 -- /bin/chown 1:1 $file

       This maps your userid to root in the user namespace, and 190000 to

[2019-07-24 12:00] runapp commented on #3636
BTW I found `podman pull` didn't call `/usr/bin/new?idmap` at all. I renamed `/usr/bin/newgidmap` temporarily but `podman pull` just behaves the same.

[2019-07-24 12:00] kubco2 commented on #3640
Hi, looks like it is fixed in master branch. Probably with this commit https://github.com/containers/libpod/commit/a1a79c08b72793cf2f75490d8ffc844c3d16bd4a

[2019-07-24 12:32] TristanCacqueray commented on #3629
That would works for me, thanks for the prompt feedback.

[2019-07-24 12:45] QazerLab commented on #3582
@giuseppe, I don't insist that this should be fixed (as I did not find any possibility to exploit this behavior in ways other than just corrupting the image), just wanted to see what do you think about this oddity. If you don't consider this to be a bug - I'm completely OK with this.

[2019-07-24 12:45] #3625 closed

[2019-07-24 13:11] TomSweeneyRedHat commented on #2369
@nc-ruth please reference https://github.com/containers/buildah/pull/1380 and look for the comments from @mtrmac.  In summary, there were a number of issues with the approach that I attempted there.  in addition to that, @mtrmac was concerned that we'd overly push images that the user was unaware of.

[2019-07-24 13:21] nc-ruth commented on #2369
Thanks for the links @TomSweeneyRedHat, and it does makes sense with @mtrmac 's concerns.
@rhatdan based on insights in [containers/buildah#1380](https://github.com/containers/buildah/pull/1380) this feature would be more hurtful than helpful 👍

Thank you.

[2019-07-24 14:49] mheon commented on #3640
I don't think the issue is actually solved - conmon exec just introduced a new one over it.

[2019-07-24 14:51] mheon commented on #3640
Oh, nevermind. Working as advertised, per comparison with Docker. Neat.

[2019-07-24 14:51] #3640 closed

[2019-07-24 15:08] mheon commented on #3635
#3641 to fix

[2019-07-24 15:15] hypery2k commented on #3589
centos/rhel would be great

[2019-07-24 15:22] cevich commented on #3447
Dangit...saw [this happen again on master](https://api.cirrus-ci.com/v1/task/4855387944124416/logs/integration_test.log):

[code]

[2019-07-24 15:23] mheon commented on #3447
We need a fixed release of containernetworking-plugins vendoring the patched go-iptables.

[2019-07-24 16:32] mheon commented on #3613
That appears to have done it. We should also add the systemd headers in, so we can build with journald support, but with that change the Dockerfile goes back to working

[2019-07-24 17:26] asm582 commented on #3637
@giuseppe can you help me on how to get newer  `runc` on RHEL 7.6, please?

[2019-07-24 17:52] undecaf commented on #3635
Thank you!

[2019-07-24 17:52] #3635 closed

[2019-07-24 19:35] adambkaplan opened #3642 "build: `STEP n:` messages print to StdErr"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Podman's `STEP: X` messages print to `StdErr` rather than `StdOut`

**Steps to reproduce the issue:**

1. podman build -t mytag . > /path/to/stdout.log 2>/path/to/stderr.log

**Describe the results you received:**

stdout.log contains various messages, such as if cache was used.
`STEP n:` mes

[2019-07-24 19:43] mheon commented on #3642
@TomSweeneyRedHat PTAL

[2019-07-24 19:46] adambkaplan commented on #3642
@mheon @TomSweeneyRedHat was also able to reproduce with buildah:

[code]

[2019-07-24 22:31] lsm5 commented on #3485
@lsabi Consider cri-o-1.14. I have a [gitlab CI job](https://gitlab.com/lsm5/cri-o/blob/bionic-1.14/.gitlab-ci.yml) which will run this [autobuilder script](https://gist.github.com/lsm5/8465d3fdcbc101a12f40caf57581ad77) in a [registry.gitlab.com/lsm5/rpm-builder:bionic]( https://gitlab.com/lsm5/rpm-builder/container_registry) container. Currently, I see some issue with submitting build from CI to

[2019-07-24 23:20] TomSweeneyRedHat commented on #3642
@nalind I know that the output was sent to stderr for a reason that I'm not recalling atm, do you recall?

[2019-07-24 23:21] TomSweeneyRedHat commented on #3642
and @mheon, forgot to note, this is indeed Buildah functionality, not Podman

[2019-07-25 02:14] baude commented on #3567
why do we need this? ar e you seeing a performance issue?

[2019-07-25 07:43] vrothberg commented on #3567
I think this is possible but we cannot get rid of the `O(n)` lookup/list walk entirely. The problem is container removal: if the latest container gets removed, we had to lookup the "next" latest one at some point. I _think_ the benefit of such an improvement highly depends on the usage, so I don't think it's worth the effort.

@mheon @giuseppe @haircommander WDYT?

[2019-07-25 07:45] giuseppe commented on #3637
@asm582 I'd just build it from upstream: https://github.com/opencontainers/runc

[2019-07-25 09:46] vrothberg commented on #3498
We're now using golangci-lint, closing.

[2019-07-25 09:46] #3498 closed

[2019-07-25 13:20] mheon commented on #3567
If I see any potential advantage in this, it would be to change the semantics of "latest" from "last container created" to "last container I worked with"... But at this point, that would be a major, and quite confusing, change.

[2019-07-25 13:42] haircommander commented on #3567
Given the removal problem, I'm not that inclined to add the extra complexity and data. I also ask @baude's question, have you noticed performance issues? Otherwise, it feels like a needlessly complicated optimization to me.

[2019-07-25 14:14] nalind commented on #3642
@TomSweeneyRedHat it may well have been arbitrary.  At the API level, the messages go through the `BuildOptions.Log` callback if it's set, so I guess we could add a CLI flag to have it use a callback to write them to a specified file descriptor.

[2019-07-25 15:43] junaruga opened #3644 "registries items not inherited"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When both `/etc/containers/registries.conf` and `~/.config/containers/registries.conf` files exist,
even when `~/.config/containers/registries.conf` is empty file, it seems that `podman` loads only items in `~/.config/containers/registries.conf` files, not inheriting `/etc/containers/registri

[2019-07-25 15:49] #3609 closed

[2019-07-25 16:57] #2369 closed

[2019-07-26 08:57] zdzichu commented on #2726
Hey, any comments? I have exactly same problem - I have CA certs used to sign registry's cert in my system database, and additionally in `/etc/containers/certs.d/<hostname>/*.crt`. With either `strace` or `podman --log-level debug` I see podman is reading those, but login fails unless I pass `--tls-verify=false`. The error is

[code]

Any hints how to debug this further?

[code]

[2019-07-26 09:36] vrothberg commented on #2726
@cesan3, thanks a lot for opening the issue and apologies for the long silence. This one slipped through.

@QiWang19 can you have a look? Any reason we didn't add the option? (Cc @rhatdan)

@giuseppe, have you seen this before?

[2019-07-26 09:36] vrothberg commented on #2726
@zdzichu, thanks for the ping. We're looking into it now.

[2019-07-26 10:59] rhatdan commented on #3589
Struggling with the VFS patch right now...

[2019-07-26 11:26] asm582 commented on #3637
Thank you.

On Thu, Jul 25, 2019 at 3:45 AM Giuseppe Scrivano <notifications@github.com>
wrote:

--
Regards,

Abhishek Malvankar

[2019-07-26 12:55] QiWang19 commented on #2726
There's no specific reason. I just didn't take `--cert-dir` into account. Do I need to add `--cert-dir`?

[2019-07-26 12:57] vrothberg commented on #2726
Yes, I think we to support `--cert-dir`.

[2019-07-26 13:06] #3629 closed

[2019-07-26 13:29] TomSweeneyRedHat commented on #2726
Needing to pass the --cert-dir when in rootless mode and the certs are in the default location seems like a bug that needs to be chased down.  I'm fine with adding --cert-dir to the `podman image sign` command, but it to shouldn't be necessary for the default case.

[2019-07-26 13:30] marcov commented on #3567
That's correct, that would be the main limitation. But, after this O(n) search, you could store this next-latest ID for later use.

@mheon my proposal is not to change the semantic, but to skip the O(n) search when not needed.

But, to really see if that's worth, we should measure the current performances in a setup with a high containers number.

[2019-07-26 15:30] JoshuaWatt opened #3648 "Environment passing behavior differes from docker"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Passing environment variables using the form `-e VAR` (without assigning a value) differs from the docker behaviour. In docker, the variable will only be passed if set in the parent shell, where as podman always passes the variable, assigning it an empty value if not present in the parent she

[2019-07-26 15:42] baude commented on #3648
@jwhonce can you please take a look at this one?

[2019-07-26 15:43] baude commented on #3644
we do not support the type of inheritance that you describe.  that is done intentionally.

[2019-07-26 15:46] baude commented on #3567
@mheon correct me if I am mistaken here but I think a container or pod lookup is done within the context of the DB and should be very fast even with thousands of containers?

[2019-07-26 16:08] mheon commented on #3567
Nope, latest-container lookup requires a full JSON decode on the config struct for each container in the DB, which can be quite expensive.

[2019-07-26 17:47] junaruga commented on #3644
Sure. @baude Thanks for the answer.

[2019-07-26 17:47] #3644 closed

[2019-07-26 18:28] Gh0u1L5 opened #3651 "Running sshd inside container produce wired error due to pam_loginuid."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a container running as a SSH jump host on a remote server. Recently I'm trying to switch from docker to podman. And then, argh, podman breaks my jump host in a very weird way: the SSH authentication step finished successfully, but my SSH client failed with an error code 254.

I took so

[2019-07-26 18:36] mheon commented on #3651
I do not think that we want to add `CAP_AUDIT_WRITE` to the default container capabilities. Maintaining a minimal set of capabilities improves the security of containers, and most containers will not require AUDIT_WRITE for normal operation. If you want to use it, you can add `--cap-add audit_write` to your Podman command line.

You can also look into making the loginuid module optional - the link

[2019-07-26 19:15] Gh0u1L5 commented on #3651
Ummm, cool, if that's about security concerns, then I'm totally okay with it. I'll close the ticket and consider using optional pam module instead. Thanks for your reply.

[2019-07-26 20:57] abalage opened #3653 "journald driver: missing CONTAINER_TAG and not human readable CONTAINER_NAME"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

I've been using journald logging driver in docker where I set "--log-opt tag=" to a value containing arbitrary strings and docker variables. I tried to mimic the behavior with podman but I have very different outcome. I am not sure whether this is a bug or a missing feature.

**Steps to r

[2019-07-26 21:12] Gh0u1L5 opened #3655 "Podman assumes iptables/ip6tables exists in $PATH."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Some user don't have /usr/sbin in their $PATH, when they execute `podman run`, they will get errors like the following
[code]

I spent some time digging into the codes, and found that this problem is caused by a dependency called go-iptables. I made a PR https://github.com/coreos/go-iptables/

[2019-07-26 22:37] mheon commented on #3653
@haircommander Mind taking a look?

[2019-07-27 05:38] haircommander commented on #3653
It's both. The container name.should be human readable, but we are missing.the feature to add the image name. I'll look into.both

[2019-07-27 19:21] ChiliConSql commented on #2751
What is the status on this? I have the same error, but I am unable to remove the container at all!

[2019-07-27 19:24] mheon commented on #2751
Try a `podman ps -a --sync` - that should clear up status issues

[2019-07-28 02:26] mkeedlinger commented on #3485
I am also very interested in having podman available on Ubuntu 19.04.

This may not be the best place to ask, but what is the process like to get podman into the official Ubuntu repos? Is that in the works somewhere?

<sub><sub>Note: love the idea of podman! solves all the things that stop me from using containers right now. Thanks to all those who have put work into it!</sub></sub>

[2019-07-28 03:17] lsm5 commented on #3485
Autobuilds are coming. Some minor issues to get around. You'll notice some disco packages on https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages . Hope to be done before Monday.

For that, packages would need to go into debian first. I guess there's some work in the community happening on this, but neither anyone in podman upstream (AFAIK) nor I (the packager for most distros) are w

[2019-07-28 09:49] giuseppe commented on #2726
AFAIK, there is no difference between rootless and root for the cert.d location, could you confirm that it works when running as root?  Could you attach the output with `--log-level debug`?

[2019-07-28 13:52] baude commented on #3655
ty @Gh0u1L5

[2019-07-28 15:14] fansari opened #3657 "cannot start rootless containers after starting and stopping them with systemd"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

After creating and starting a rootless container it happens very often that I cannot restart it. I have a systemd script to start it after boot.

I put SELinux in permissive mode for testing to make sure it is not an SELinux problem.

In my tests I can only reproduce this behaviour when I sto

[2019-07-28 15:16] baude commented on #3565
@Jeeppler can you please take a minute and write a little more of a justification on why you need this? i think in general, we all understand but it would be helpful to write up a good use case so we have something to code against?

also, given we can add a container to a pod, why couldn't a user just do this manually?

[2019-07-28 15:17] fansari commented on #3657
[code]

[2019-07-28 15:18] fansari commented on #3657
[code]

[2019-07-28 15:32] mheon commented on #3657
We don't recommend using simple services for Podman - there are issues with that approach. Using a forking service with `--conmon-pidfile` on the container to make a PID file for systemd to use is preferred.

That being said, that `EOF` error is concerning. Can you try that again, and look for any logs from Conmon in journalctl? The real error should have been printed there.

[2019-07-28 16:11] fansari commented on #3657
I have now created a new container like this:

[code]

I use this server:

[code]

Now I can start and stop the container once with systemd. Starting it again fails.

[code]

Here some conmon message:

[code]

[2019-07-28 21:10] hholst80 opened #3658 "Feature: do not copy in libpod.conf to user directory"
Please do not copy in a copy of `libpod.conf` into the user directory `.config/container/libpod.conf` it is a surprising behavior for almost any application I have used on Linux. The expected and, may I say, correct behavior should be

1) if `.config/container/libpod.conf` exists use that, or continue
2) if `/etc/container/libpod.conf` exist, use that or continue
3) if `/usr/share/...` exist, ...

[2019-07-28 21:34] hholst80 opened #3659 "rootless nvidia runtime not working as expected"
(Disclaimer: I might be barking up the wrong tree here, I have no idea if this is even supposed to work yet.)

# Problem

nvidia runtime does not work in rootless mode without root (see debug log: /sys/fs permission)

# Expected result

Rainbows.

[code]

# Debug log

[code]

# Config

[code]

[2019-07-28 21:56] mheon commented on #3659
We had a bug about this before - I'll try and dig it up on Monday. However, I believe the conclusion was that `oci-nvidia-hook` was doing things that require root, and as such failed when running rootless

[2019-07-28 21:57] mheon commented on #3659
@baude
[code]

That doesn't look right...

[2019-07-28 22:04] mheon commented on #3658
Rootless configs are very different from the root configurations that live in `/etc/containers` in terms of default settings - numerous things (CGroup manager, logging configuration, paths for container storage, etc) differ, and some (most notably the paths in use) differ from user to user. We could theoretically run rootless without a config file, but we'd be recomputing defaults every time, whic

[2019-07-28 22:05] mheon commented on #3657
I'm going to guess that mkfifo is failing with EEXIST because the cleanup process is either failing or not running at all, but I'll look more into this tomorrow.

[2019-07-28 23:48] lsm5 commented on #3485
podman 1.4.4 is installable (and hopefully usable :D ) on 19.04. FWIW, `podman version` works on my 19.04 container, haven't tested anything beyond that. Let me know how it goes.

I've set up autobuilds for 18.04 and 19.04 so hopefully new builds should land on the PPA within an hour or less of upstream tag release.

I plan to work on enabling debian builds via openSUSE OBS before refreshing 16.04

[2019-07-28 23:54] lsm5 commented on #3485
In case anybody cares, the autobuilder job is at https://github.com/lsm5/rpm-builder/tree/disco . The actual debian packaging source can be found at https://github.com/lsm5/libpod/tree/disco/debian . HTH.

[2019-07-29 00:50] alitvak69 commented on #3485
@lsm5 Thank you for your work.  A slightly off topic question.  Can one build rpms for centos7 using some framework that already exists?

[2019-07-29 00:55] lsm5 commented on #3485
The f30 and cri-o branches on https://github.com/lsm5/rpm-builder/ should build rpms for centos7 virt and paas sigs. There's still some pending work to be done on the CentOS infra side, which I hope to get to this week. But builds should be landing on [CBS](https://cbs.centos.org). Let me know if you need the actual yum repos from CBS.

podman 1.4.4 can be found [here](https://cbs.centos.org/koji/

[2019-07-29 01:43] alitvak69 commented on #3485
@lsm5 Thanks again I will test it and let you know if I  run into issues.  If pull podman 1.44 from  CBS the dependencies should be found there as well, correct?

[2019-07-29 02:13] lsm5 commented on #3485
afaict, yes, but if not, then please open a separate issue for centos

[2019-07-29 07:36] giuseppe commented on #3658
also another reason why we do that is that the defaults settings can change (e.g. different runtime directory whether you run through `sudo` or the user logins), so it is safer to just create it once and re-use it.

[2019-07-29 08:28] giuseppe commented on #3657
could it be a race between "podman stop" exiting before the cleanup process terminated?  At that point systemd is probably killing every other process left around, including the podman cleanup.

In that case it is necessary to use `KillMode=none`

[2019-07-29 09:49] vrothberg commented on #3651
@mheon, Podman is currently setting AUDIT_WRITE
[code]

[2019-07-29 11:34] rhatdan commented on #3648
@JoshuaWatt Do you have a script/container that relies on this?  BTW I am fine with the Docker version, or throwing an error, or the podman version.  But if Docker works this way it is probably best that we mimic it.

[2019-07-29 12:07] edsantiago opened #3664 "32-bit build broken: mismatched types uint64 and uint32"
[code]
full logs: [i686](https://kojipkgs.fedoraproject.org//work/tasks/9422/36629422/build.log) and [armv7hl](https://kojipkgs.fedoraproject.org//work/tasks/9421/36629421/build.log) (scroll to bottom).

[2019-07-29 12:08] edsantiago commented on #3664
Been broken since Wednesday July 24; I'm not sure if filing an issue is the proper course of action here, please lmk if there's a better option.

[2019-07-29 13:12] mheon commented on #3664
This'll work fine - makes sure we remember to hit the issues.

[2019-07-29 13:29] mheon commented on #3651
Huh. Guess it must have made its way into the default caps in the OCI generator. I had a feeling we wouldn't want it because it can be used to break our `loginuid` chain.

[2019-07-29 13:31] mheon commented on #3657
Agree `KillMode=none` is probably a good idea

[2019-07-29 14:05] JoshuaWatt commented on #3648
@rhatdan I've been working on adding podman support to our containerized build system (https://github.com/garmin/pyrex) that was previously Docker-only. Podman is appealing because it plugs one of the major security holes in the system. For the most part, podman has been a drop in replacement (which is nice). We can work around this issue because we have control over how podman/docker is invoked,

[2019-07-29 14:22] baude commented on #3659
@mheon which part do you think is wrong?

[2019-07-29 14:30] mheon commented on #3659
No path for the log file - that doesn't seem correct

[2019-07-29 15:58] mbaudier commented on #1136
Is it planned to support setting mac addresses at some point? I have the same issue as @runiq, but since this is a new deployment I would have liked to avoid docker and use podman from the start.

I have also tried setting the mac adress via `ip link set dev eth0 address` in the container, but it doesn't work (`RTNETLINK answers: Operation not permitted`) which is probably not surprising.

[2019-07-29 16:13] mheon commented on #1136
@mccv1r0 Is there any ability for us to set the MAC address for bridge networks in CNI?

[2019-07-29 17:27] fansari commented on #3657
Great! This solved it. My containers survived several reboots doing it with this option.

So maybe RedHat should update their documentation.

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/running_containers_as_systemd_services_with_podman

The example they give there use type=simple (not explicit given, but simple is default) and they

[2019-07-29 17:31] QiWang19 commented on #2726
The above error `podman produces error: error getting manifest:` was returned by `GetManifest()`. I don't think the sign --cert-dir can avoid this error.

[2019-07-29 17:36] mheon commented on #3657
We recommend using `podman generate systemd` to create services now, but I'll see who manages that page and ask about getting it changed.

[2019-07-29 19:37] rhatdan commented on #3651
Personally I think we should drop it.  Running sshd inside of a container should not be supported by default, users should have to do a --cap-add AUDIT_WRITE if they want this to work.

[2019-07-29 19:40] rhatdan commented on #3651
Is your failure SELinux or trying to do this as rootless?  I would figure rootless would not work.

[2019-07-29 19:53] rhatdan commented on #3648
@QiWang19 PTAL

[2019-07-29 21:08] major opened #3666 "podman "info" test fails if username has a dash/hyphen"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

The `info` podman system integration test fails if the user running the test has a dash in their username.

**Steps to reproduce the issue:**

1. `useradd test-user`

2. Log in as the `test-user`

3. Run podman system integration tests.

**Describe the results you received:**

[code]

**Descr

[2019-07-29 21:30] baude commented on #3666
does it fail on x86_64

[2019-07-29 21:31] major commented on #3666
@baude Yes, and on aarch64 as well.

[2019-07-29 22:20] asm582 commented on #1908
@giuseppe I think I have configured steps mentioned above I still get the error:

abhi@f12n12:~$ podman run -it ubuntu bash
Trying to pull docker.io/library/ubuntu...Getting image source signatures
Copying blob f12d17d7baa6 done
Copying blob fce39298a87b done
Copying blob 404b73f949d7 done
Copying blob cecce6095d35 done
Copying config 4e6d115184 done
Writing manifest to image destination
Storing s

[2019-07-29 22:27] Gh0u1L5 commented on #3651
@mheon After reading @vrothberg 's reply, I got curious and tested SSHD in container with the `--cap-add CAP_AUDIT_WRITE` flag. Surprisingly, that didn't fix the problem. There's something else breaks pam_loginuid.so in podman.

[2019-07-29 22:28] mheon commented on #3651
Interesting. Can you provide a few more details to help reproduce? Podman command used to run the container, whether you're running as root?

[2019-07-29 22:32] Gh0u1L5 commented on #3651
@mheon @rhatdan I'm running podman as root, with SELinux disabled. The podman command I ran unfortunately requires a private container image that I cannot provide. But I'll try find a valid public image to help reproduce the problem.

[2019-07-29 23:14] mccv1r0 commented on #1136
See [tuning](https://github.com/containernetworking/plugins/tree/master/plugins/meta/tuning#interface-attribute-operation) plugin.   The ```mac``` well known capabilities is probably what you want vs setting mac in a .conflist file.  This page also reads like CNI_ARGS works too, but check if CNI_ARGS is being deprecated.

[2019-07-29 23:35] Gh0u1L5 commented on #3651
@mheon __Reproduce Steps:__
1. Add 'docker.io' to podman's registries.
2. Start a Fedora 20 container using
[code]
3. Install OpenSSH server using
[code]
4. Create a temporary user and set its password.
5. Start SSHD on port 2222 with debug output
[code]
6. SSH to the container from the outside
[code]

[2019-07-30 00:04] baude commented on #3651
fedora 20?

[2019-07-30 00:18] baude commented on #3651
using your instructions and the latest master build, i was able to make this work perfectly.  the key is to use the latest **fedora** package that is actually from **fedora**.

[code]

In another terminal, ssh into the container.

[2019-07-30 00:19] #3666 closed

[2019-07-30 00:22] baude commented on #3616
it seems like the seek tail api is not honoring things.  im looking into it but havent come up with a reason/solution yet.

[2019-07-30 00:38] Gh0u1L5 commented on #3651
Cool, thanks @baude , that's a really helpful observation for me.

Another interesting fact is, I just tested both Fedora 20 and latest Fedora on docker 19.03.1, sshd is working properly on both of them. So the old Fedora must have something inside its pam_loginuid that's working for docker, but won't work in podman. Is this fact helpful for you guys?

[2019-07-30 00:45] baude commented on #3572
@towe75 i am back from PTO and ready to look at this .. this is very similar to another reported issue I was debugging today but you are doing it in the context of a sample program ... i'd like to use it.  it looks like when you did this, you had a special environment (imports).  any chance you peek at this quickly and modify your example to be built from from github.com/containers/libpod/towe75 o

[2019-07-30 00:46] Gh0u1L5 commented on #3651
By the way, I feel I may have to briefly explain why I choose Fedora 20 to reproduce this bug.

I choose Fedora 20 because this bug was found on a RHEL 7.5 container (which is the majority of the RHEL systems I guess). I'm not familiar with the version mapping between Fedora and RHEL, but I roughly remember that some old RHEL 7 releases was based on Fedora 19~20. That's why I pick Fedora 20. Moreo

[2019-07-30 00:47] baude commented on #3651
@rhatdan @mheon ring any bells?

@Gh0u1L5 lemme try this on a centos container, much closer imho

[2019-07-30 02:20] baude commented on #3651
The following works as expected.  Please try building this Dockerfile.
[code]

[2019-07-30 02:23] baude commented on #3651
@Gh0u1L5 I hope my feedback works ... given that Fedora 20 is way past end-of-life, it is a tough scenario to work with.

[2019-07-30 02:51] mkeedlinger commented on #3485
@lsm5 I tried to follow the instructions [here](https://github.com/containers/libpod/blob/master/install.md#ubuntu) to get podman on 19.04, but it says the package is not found still.

Am I missing something?

[2019-07-30 05:27] towe75 commented on #3572
@baude thank you for checking. Find my example attached to this post: [podman-issue3572.zip](https://github.com/containers/libpod/files/3445283/podman-issue3572.zip)

It contains:

├── go.mod
├── go.sum
├── iopodman
│   └── iopodman.go
└── main.go

Just unpack it anywhere an run go build. It's module enable, so no need to place it into GOPATH.
I used go1.12.7 on fedora 30 to test it.

[2019-07-30 06:03] mbaudier commented on #1136
Thanks for your quick answers. I am testing on CentOS 7 (podman v1.3.2, containernetworking-plugins v0.7.5, from the 'extras' repository):

- CNI_ARGS doesn't recognize the MAC argument:
[code]
(I tested the 'IP' argument to see whether CNI_ARGS works and the IP address was properly set)

- I added a 'tuning' plugin section in the provided `/etc/cni/net.d/87-podman-bridge.conflist`
[code]
and also

[2019-07-30 06:25] draplater opened #3669 "[Feature Request] Multiple Networking"
Containers can join multiple networks which allows you to provide fine grained network policy for connectivity and isolation. Docker has a command ```docker network connect``` to let containers join multiple network, but it's inconvenient for podman to do this.

https://success.docker.com/article/multiple-docker-networks

[2019-07-30 08:43] thmo opened #3670 "segfault when using --init"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman segfaults with `--init` if the executable used as init has wrong selabels.

**Steps to reproduce the issue:**

1. Build and install e.g. openSUSE/catatonit into `/usr/libexec/podman/catatonit`
2. Verify
[code]
3. Run podman, segfaults
[code]
4. Fix label
[code]
5. Run podman, works
[co

[2019-07-30 09:07] giuseppe commented on #1908
@asm582 can you try to do `podman system migrate` first?  If it doesn't still work, please attach the output of: `podman unshare cat /proc/self/uid_map`

[2019-07-30 10:36] giuseppe commented on #3462
@dcbw do you know what could be causing this issue?

[2019-07-30 12:08] asm582 commented on #1908
@giuseppe below is my output:

asmalvan@f12n12:~$ podman unshare cat /proc/self/uid_map
         0       2287          1
         1     100000      65536

[2019-07-30 12:21] giuseppe commented on #1908
can be AppArmor blocking lchown?

[2019-07-30 12:36] asm582 commented on #1908
@giuseppe I am not sure, Sorry I missed sharing this information.  I am running podman on NFS with root squash enabled, should we take this discussion on a git new issue?

[2019-07-30 12:40] giuseppe commented on #1908
ah then that is the issue.  NFS cannot be used for rootless containers: https://github.com/containers/libpod/blob/master/rootless.md (look for NFS in the page)

[2019-07-30 12:54] rhatdan commented on #3651
One key difference between podman and docker is that when you run podman the  /proc/self/loginuid would be set, not sure if this would cause issues.   Since pam_loginuid will fail when it tries to set it.  In Docker it will not be set.
[code]
That is my UID.

[code]
That is the UID=-1 basically meaning the docker daemon was never started by a logged in user.

I would also try to run the sshd conta

[2019-07-30 13:00] baude commented on #3572
@towe75 do you hang out on #podman on freenode?

[2019-07-30 13:05] baude commented on #3572
@towe75 can you confirm that if you run podman varlink outside of systemd, you see no deadlock?

[2019-07-30 13:15] mheon commented on #1136
Reopening this given that it does seem possible on the CNI side.

[2019-07-30 13:44] mheon commented on #3669
Podman allows you to do this, but you must specify the networks at creation time with `--net=<network_name>`

[2019-07-30 14:13] mheon commented on #1908
Should we add a troubleshooting note that moving directories out of /home will solve this?

[2019-07-30 14:17] mheon commented on #3670
I'll take this.

[2019-07-30 14:23] TomSweeneyRedHat commented on #1908
I'm in the midst of updating the troubleshooting guide for the overlayfs build woes, I'll tag this on too.

[2019-07-30 14:27] towe75 commented on #3572
@baude  sorry could not catch you in freenode, was quite busy.
Anyhow, i tried this:

[code]

in another shell i ran my test binary in a loop. I was able to produce 30 containers without a deadlock whereas with systemd it usually stops working after 2-3 iterations. I'll do a longer test later.

So looks like systemd socket has some effect.

[2019-07-30 14:39] mheon commented on #3670
Hm. This doesn't look like a segfault. Podman itself is working fine, recording the exit code of the container. We get a proper AVC from the container's denied access.

@rhatdan Given that we're not seeing a segfault here, I think we're mostly functioning as designed, unless we want to force a relabel before starting containers?

[2019-07-30 14:48] rhatdan commented on #3670
No the current behaviour is correct.  We don't want to randomly change labels.  This is up to the user to fix.
I am closing this as a not a bug.

[2019-07-30 14:48] #3670 closed

[2019-07-30 15:14] thmo commented on #3670
But return code 139 signals segfault of the child, what am I missing?

[2019-07-30 15:20] mheon commented on #3670
Podman is passing along the return codes from the process in the container - why it's 139, I'm not exactly sure, but SELinux is preventing init from running.

[2019-07-30 15:23] hypery2k commented on #3589
@giuseppe Could you help me here how to do this on OpenShift 3.11?  Is there a mailing list or chat to discuss this further?

[2019-07-30 16:52] fansari commented on #3657
In my example the result looks like this.

This means you have to recreate your service when you recreate your container because it contains the container id. Usually I don't care about the ID - I create a container for a specific purpose.

Also I want to mention that it does not work with this PIDFile definition in my case.

After starting the service the prompt is hanging for a while. I can see

[2019-07-30 17:06] mheon commented on #3657
Yeah, that `generate systemd` issue is known - will be fixed in Podman 1.5.0 (which hopefully releases on Friday).

[2019-07-30 19:20] #3648 closed

[2019-07-30 19:41] rhatdan commented on #1908
Maybe we should update containers/storage overlay checking to check if the upper layer is NFS, and the ignorechownerrors flag is not turned on return and error.

[2019-07-30 20:07] #3664 closed

[2019-07-30 22:31] Jeeppler commented on #3565
As I mentioned in the original feature request:

### Scenario 1: Development

To develop containers, I start with a stock image from Ubuntu, Debian, Fedora, Alpine etc. Then I add a simple shell script as the first program. The shell script looks like this:

`run.sh`

[code]

the corresponding initial Dockerfile would look like this:

`Dockerfile`

[code]

I then figure out what I need to add to t

[2019-07-30 22:49] Jeeppler commented on #3565
@baude can you explain your sentence below?

---

Maybe the text below answers your question:

In my post above I assumed a pod with only one container. In a setup with multiple pods I still want to access directly a specific container. [`kubectl exec`](https://www.mankier.com/1/kubectl-exec) has a option `-c` to access a specific container. If the option `-c` is omitted, `kubectl exec` will choos

[2019-07-30 23:38] haircommander commented on #3565
@Jeeppler you already can achieve what you're talking about by either adding a container to the pod (`podman run --pod PODNAME -it sh`) or exec'ing in a container in a pod (`podman exec -ti CONTAINERINPODNAME sh`). A dedicated command (`podman pod exec...`) would be syntatic sugar for one of those options, so i guess a question is why is the sugar needed, besides kubectl conformance (which we don'

[2019-07-31 10:05] junaruga opened #3679 "Incompatibilities of podman from docker on Travis CI"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

## Summary

I tried how podman worked on Travis CI comparing it from the benaviors of docker.
Here is the reproducer on my repository.
https://github.com/junaruga/multiarch-podman-experiment
https://github.com/junaruga/multiarch-podman-experiment/blob/master/.travis.yml

Seeing the result of

[2019-07-31 12:14] saschagrunert opened #3680 "Enable IPv6 support by default"
/kind feature

**Description**

IPv6 support needs currently explicitly enabled by `--sysctl net.ipv6.conf.all.disable_ipv6=0`.

That's the same behavior like in docker and I'm wondering if we want to change it to a more sane default?

If you're fine with that I'd like to submit a PR, otherwise feel free to close this.

[2019-07-31 12:41] baude commented on #3565
@Jeeppler @haircommander basically explains what I was asking.

[2019-07-31 13:27] rhatdan commented on #3679
Well first it looks like podman running as root (Well running thorugh sudo) is not allowed to write to /var/lib/containers/storage?  Any idea why that is?  Can you gain access to the VM and see why this would fail?

[2019-07-31 13:27] rhatdan commented on #3679
@mheon @vrothberg PTAL

[2019-07-31 13:44] vrothberg commented on #3679
@junaruga, thanks for opening the issue and providing so many details. I will go through the items incrementally.

@lsm5 PTAL

[2019-07-31 13:46] rhatdan commented on #3680
I like turning it on by default.  But what if a Admin wants this turned off by default?
Should we check how the system is configured and then set the settings within the container to match?

[2019-07-31 13:47] rhatdan commented on #3680
@saschagrunert Where do I see this disabled?

sudo podman run fedora cat /proc/sys/net/ipv6/conf/all/disable_ipv6
0

[2019-07-31 13:55] baude commented on #3679
what is the origin of the package you are using for podman?

[2019-07-31 13:55] junaruga commented on #3679
@rhatdan

Sure, I will take a look at "(Well running thorugh sudo) is not allowed to write to /var/lib/containers/storage" too on my repository's different branch keeping the current master branch.

But as this is the result of Travis CI, you can reproduce the issues too on your repository like this.

1. Fork https://github.com/junaruga/multiarch-podman-experiment repository.
2. Access https://tra

[2019-07-31 13:55] mheon commented on #3679
I'm going to slap on the `ubuntu` label and tag @lsm5 for the packaging issues

[2019-07-31 13:58] mheon commented on #3680
I think our first steps here are probably throwing IPv6 support into the default CNI config we ship, and enabling the flag for static IPv6 addresses - which, AFAIK, is still blocked on verifying CNI 0.8.1 is available everywhere and building new test images with it.

[2019-07-31 13:58] junaruga commented on #3679
You can check the above result of `$ apt-cache show podman`.

The repository is `sourceline: "ppa:projectatomic/ppa"`. You can check above my repository's `.travis.yml`.

.traivs.yml

[code]

[2019-07-31 14:03] saschagrunert commented on #3680
Interestingly, it really seems not disabled by default. I guess the main issue is what @mheon mentioned. A CNI config like this seems not to work right now:
[code]
[code]
If we leverage the latest OCICNI version then it should be possible to provide the same dual stack IPv6 support like in CRI-O, right?

[2019-07-31 14:05] vrothberg commented on #3679
[code]

That smells like we just don't have the permissions in Travis. We need to point the run and graph root to some other path which we can either do by editing the [storage.conf](https://github.com/containers/storage/blob/master/docs/containers-storage.conf.5.md#storage-table)or by setting it on `--root` and `--run-root` on the Podman CLI.

[2019-07-31 14:05] mheon commented on #3680
Yep, once we have CNI updated properly, we can update OCICNI and get v6 support enabled.

[2019-07-31 14:07] saschagrunert commented on #3680
Alright, I see that we have another issue open on that topic: https://github.com/containers/libpod/issues/3245

I will close this one in favor of the other.

[2019-07-31 14:07] #3680 closed

[2019-07-31 14:29] junaruga commented on #3679
For the "6. podman-sudo" case, I debugged adding below code on my repository's "debug" branch.

[code]

Interestingly `sudo mkdir -p /var/lib/containers/storage/libpod` works.

See https://travis-ci.org/junaruga/multiarch-podman-experiment/jobs/566003406 for detail.

[2019-07-31 14:49] junaruga commented on #3679
For `/etc/containers/registries.conf`, I found additional information.

On my Fedora 30, below file is included in `containers-common-0.1.37-0.gite079f9d.fc30.x86_64`.

[code]

 And the file includes

[code]

On the Travis's Ubuntu, I checked adding below code in `.travis.yml`.

[code]

Then the result is

[code]

[code]

But the file's `registries.search` is empty like this.

[code]

See any case

[2019-07-31 15:03] mccv1r0 commented on #1136
Been on PTO until today.  I used this just now to test that the containers MAC address can be set using up to date CNI and plugins.

cnitool simulates a runtime such as podman.  First set CAP_ARGS to tell cnitool what it should feed CNI as the runtime supplied capabilities:

[code]

Now run cnitool:

[code]

The corresponding conflist is:

[code]

[2019-07-31 15:10] mheon commented on #1136
Alright. Based on this, we need small changes to the ocicni wrapper to allow setting `"mac"` in CNI args, plus a small change to the plugins section of our default CNI config.

[2019-07-31 15:16] lsm5 commented on #3485
@mkeedlinger it's available in https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages . Could you please post the error message?

[2019-07-31 16:47] madhub commented on #3485
It works now, I tested on ubuntu 19.04.

![image](https://user-images.githubusercontent.com/8907962/62230866-692b4380-b3e0-11e9-8958-7e67ac01a55c.png)

[2019-07-31 17:52] #3485 closed

[2019-07-31 18:43] orlandocosta76 opened #3683 "Podman 1.4.4: permission denied mounting volume without "--privileged" flag"
/kind bug

**Description**

With previous versions of podman (e.g. 1.3.2) I could mount the specified working containers' root filesystem with no problem. But in version 1.4.4 using same command does not work, only by adding " --privileged" flag.

**Steps to reproduce the issue:**

Just run simple container and supply some folder on host to be mounted on container:
1. podman run -it --rm -v /home/

[2019-07-31 18:44] mheon commented on #3683
Are you running with or without root?

[2019-07-31 18:45] haircommander commented on #3683
we should include that question in the issue template, it's asked a lot

[2019-07-31 18:49] orlandocosta76 commented on #3683
The problem occurs running as root as well (and non-root of course)

[2019-07-31 18:51] mheon commented on #3683
My initial suspicion would be SELinux. If you pass `--label=disable` at the container command line, instead of `--privileged`, does it work?

[2019-07-31 19:55] Gh0u1L5 opened #3684 "“podman ps” and “podman info” crashes without CAP_DAC_OVERRIDE capability."
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have an environment that contains some sensitive information, and thus drops some capabilities after sudo. E.g. CAP_DAC_OVERRIDE.

The docker containers have been deployed by a headless root user with full capabilities, so for this part I have no problem. But when I start a script to monito

[2019-07-31 19:57] mheon commented on #3684
@nalind Looks like this is out of c/storage

[2019-07-31 20:30] baude commented on #3684
@Gh0u1L5 does dropping the metacopy from the options in storage.conf make it work?

[2019-07-31 20:50] Gh0u1L5 commented on #3684
@baude Currently I don't have metacopy option in storage.conf, what should I write to drop it?

[code]

By the way, I happen to have a question about podman's configure: Is there an option to turn off iptables for root podman? Like the `"iptables": false` option in /etc/docker/daemon.json?

[2019-07-31 22:29] mkeedlinger commented on #3485
@lsm5 Just tried again and it works. I was trying to do some fancy ansible, doing it manually worked great.

[2019-08-01 01:54] edsantiago opened #3685 "rawhide: run with --uidmap: container init caused ... operation not permitted"
Just a heads-up about rawhide:
[code]
Seems to be kernel: 5.3.0-0.rc1.git3.1.fc31 demonstrates this, 5.1.0-0.rc1 does not. (But other things may have changed in the reboot, so I can't be sure. I can't narrow it down further; simply upgrading kernel on my virt, without a full dnf upgrade, yields an unbootable system).

It is not podman-related: both podman-1.4.5-0.29.dev.gitd6b41eb.fc31 and 1.4.5-0

[2019-08-01 09:20] rhatdan commented on #3245
@mheon what is the latest state on this one?

[2019-08-01 09:30] rhatdan commented on #1136
@mheon Is this something we can get in for podman 1.5 along with IPV6 support?  Seems like a nice feature to add.

[2019-08-01 10:09] rhatdan commented on #3683
This definitely looks like SElinux, If you need to volume mount in your homedir into a container you need to disable SElinux separation as mheon shows above.  If you think this worked before and fails now, I would guess you were in permissive mode before.

There is an effort with a new tool called udica which would allow you to generate a policy type to allow the container to use your homedir.

gi

[2019-08-01 10:23] rhatdan commented on #3684
@Gh0u1L5 containers/storage does some setup checks on overlay file system the first time it is run, we would need a patch to it to handle the permission denied, and then this should work.  Could you look there to open a PR to fix this.
Don't know about the iptables: false.

[2019-08-01 10:25] rhatdan commented on #3684
@nalind @rhgoyal WDYT?

[2019-08-01 11:06] orlandocosta76 commented on #3683
Ok, I created a `/var/data` folder with all permissions and with this instruction it worked:
`podman run -it --rm -v /var/data:/sqm  --security-opt label=disable  docker.io/library/alpine sh `

Also, as in the documentation, it possible to disable SELinux with this:
`chcon -Rt svirt_sandbox_file_t /var/data`
and then I can run the command without flags.

But previously this was not the case, was t

[2019-08-01 11:15] rhatdan commented on #3683
You could have also executed

podman run -it --rm -v /var/data:/sqm:Z  docker.io/library/alpine sh

Which is what I would recommend,  Then podman will do the relabeling for you and the /var/data directory will only be able to be used by this contianer.

podman run -it --rm -v /var/data:/sqm:z  docker.io/library/alpine sh

Would relabel /var/data with a shared label container_file_t:s0 so all conta

[2019-08-01 11:36] orlandocosta76 commented on #3683
Actually either with `:z` or `:Z` did not work, I get this error message:
`Error: relabel failed "/var/data3": operation not permitted`

[2019-08-01 12:44] mheon commented on #1136
Sure, I think this is a good candidate for 1.5.

On Thu, Aug 1, 2019, 05:30 Daniel J Walsh <notifications@github.com> wrote:

[2019-08-01 13:10] rhatdan commented on #3683
And chcon did?  What kind of file system is on /var/data3?

[2019-08-01 13:29] mheon commented on #3683
Does `:z` and `:Z` work as root?

@rhatdan I think it's a directory his user has read, but not write, perms on.

[2019-08-01 14:09] rhatdan commented on #3683
That should give you eperm then.

[2019-08-01 15:40] rhatdan commented on #3685
@giuseppe PTAL

[2019-08-01 16:06] rhatdan commented on #3684
This looks like it is a bug in metacopyup on override.

If you remove metacopyup from storage.conf, this should start working.

[2019-08-01 16:39] dcode opened #3689 "Roundtrip kube yml fails on capabilities and volumes"
/kind bug

**EDIT** Clarified desired results with volume mounts

**Description**

I've been excited to try to kube pod deployment using podman. To get started, I decided to try Hashicorp Vault. Vault requires the IPC_LOCK capability by default to protect against other processes reading its memory. That's easy enough to do using podman, so I threw it into its own new pod.

I then generate a YAML c

[2019-08-01 19:35] haircommander commented on #3689
I opened #3692  to fix :)

[2019-08-01 20:15] baude commented on #3669
@draplater acceptable ?

[2019-08-01 20:32] Rydekull opened #3694 "Embedded DNS in containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

There is a feature that I am missing in podman to sort of prevents me from transitioning completely.

Its fairly easily demonstrated:
[root@jotun ~]# docker network create mynet
7cc8cd4a5a5712bc797fed1da7dc6f16a8fae8b0f4cfb4470e8b98c7fc88c0cd
[root@jotun ~]# docker run -d --rm --network m

[2019-08-01 21:50] edsantiago commented on #3685
Filed: [rhbz#1736758](https://bugzilla.redhat.com/show_bug.cgi?id=1736758)

[2019-08-01 23:27] baude commented on #2878
@mheon i think we are OK with what we have.  do you still want this changed?

[2019-08-01 23:28] baude commented on #3204
re-open if necessary

[2019-08-01 23:32] mheon commented on #2878
Still no `Untagged` and `Deleted` notices - we're definitely still different than Docker, and showing a lot less information on what's going on.

[2019-08-02 00:10] baude commented on #3616
https://github.com/coreos/go-systemd/issues/315

[2019-08-02 00:11] baude commented on #3343
@redcap52 re-open as needed.

[2019-08-02 00:11] #3343 closed

[2019-08-02 00:25] baude commented on #2878
Ok, lets hash this out.  I don't believe we need to provide more information as the output we are providing is exactly accurate.  I personally think the docker output for rmi is too verbose.  But for the sake of argument, we do differ in our output.  I attribute this to differences in our image management.  Looking at where we differ, I think it boils down to three basic areas:

1. We do prepend "

[2019-08-02 01:37] mheon commented on #2878
The Docker 'Untagged: ...' syntax does make it clear that image IDs are not the only things being removed - names are also becoming inaccessible.

Example:
[code]

vs

[code]

Docker makes it clear that two layers (not just the top layer, as Podman reports) and two tags were removed. We don't do any of that right now.

[2019-08-02 07:09] sleepingpig opened #3696 ""Address already in use" when restarting container"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. `sudo podman run --name=test_port -d -p 9999:9999 ubuntu:18.04 sleep infinity`
2. `sudo podman --log-level debug restart test_port`

**Describe the results you received:**
When restarting, it shows "address already in use".
If I stop, and then start, it w

[2019-08-02 08:16] ephracis opened #3697 "Cannot access container from container via host"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a use case where I need one container to access a bunch of other containers. I am trying to port this from Docker to Podman but ran into an issue when two containers reside on the same host.

When using Docker I just had container A access server 1 and server 2 on their DNS names, and

[2019-08-02 08:39] ephracis commented on #3697
I can ping both servers from the container. So the routing seems to work properly. The issue is somewhere else.

If I figure out the dynamically assigned IP of the other container (10.88.0.5) I can access it (although not using the published port but the "inside" port). It's when I try to access on the host IP 192.168.0.11 that I get a timeout. But 192.168.0.12 works fine (server 2).

[2019-08-02 08:42] #3689 closed

[2019-08-02 09:03] rhatdan commented on #3616
I am not sure how actively that package is maintained at this point.

[2019-08-02 10:38] orlandocosta76 commented on #3683
It had the same permissions as all other folders I tried previously (chmod a+rwx)
And I did not tried as root, but you can do it, just use simple linux image such as alpine and check it out. For me the original issue is solved, thanks for the support.

[2019-08-02 10:38] #3683 closed

[2019-08-02 11:03] rhatdan commented on #3696
@mheon Looks like a race condition, where the container is not fully stopped before the second container starts?

[2019-08-02 11:10] vrothberg commented on #3696
Looks like it. We're hitting the timeout, sending SIGKILL, and then try to start.

[2019-08-02 11:19] rhatdan commented on #3696
Perhaps in restart we should wait for the container cleanup to complete before starting?

[2019-08-02 12:11] vrothberg commented on #3696
@rhatdan, we're getting closer. The issue is that the network isn't cleaned up when stopping the container during restart.

[2019-08-02 12:28] vrothberg commented on #3696
Ah, there's more behind. Still tracking it down. Maybe @mheon or @baude know where to shoot?

[2019-08-02 12:48] baude commented on #2878
at the libpod level, we don't know about the later (layers).  and again, im not sure the users care about layer levels when they have asked to delete an image.  what do you think

[2019-08-02 13:00] vrothberg commented on #3696
Looks like we need to find a way to avoid binding the ports (and store them in the container).

[2019-08-02 13:08] mheon commented on #3696
The ports are held open by Conmon. We don't want to avoid new bindings entirely - this is likely the old container's Conmon not dying in time, and we won't have the ports held open if we don't try to reserve them again.

[2019-08-02 13:11] mheon commented on #3696
Per the logs, we timed out killing with the normal stop signal, and resorted to SIGKILL - but the container did die. Restart should be waiting for the exit file to be created before transitioning to the 'start' part, so we should have a guarantee that conmon is dead (or very close to it) by the time we're getting to restarting the container. However, seemingly, the old conmon is managing to stick

[2019-08-02 13:11] major opened #3700 "Possible race conditions in podman system integration tests"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

While running the podman system integration tests, we found that the `/no such/command` test has issues tearing down networks for containers:

[code]

**Steps to reproduce the issue:**

1. `bats /usr/share/podman/test/system`

**Describe the results you received:**

The test failed with netwo

[2019-08-02 13:13] vrothberg commented on #3696
@mheon I am exactly on that track atm. Playing around with killing conmon. Looks like we're on a race.

[2019-08-02 13:25] mheon commented on #3700
@edsantiago PTAL

[2019-08-02 13:37] mheon commented on #3697
I think the inside vs outside port behavior is mostly expected. The outside port is only mapped on the host system - so I think you could access it, but you'd need to do it via the host's IP (and possibly even the host's external IP - I don't know if the forwarding logic includes the internal CNI port).

[2019-08-02 13:51] vrothberg commented on #3696
It's a bug in conmon, preparing a fix.

[2019-08-02 13:54] major commented on #3700
FWIW I am bringing Fedora 30's `podman-1.4.4-4.fc30` down to RHEL 8 on ppc64le to see if anything changes there.

[2019-08-02 13:59] baude commented on #3697
first thing i would like to see you do is use a more recent version of podman.  1.3.2 is quite old.

also,  do you have a typo on step 5? should it be from container B?

as @mheon said, by default, we do not expose containers to networks outside of their own. i believe to do that you would need to create a firewall/iptables rule that forwards traffic from the routable network port to the container

[2019-08-02 14:48] edsantiago commented on #3700
Um, looks like the usual iptables thing, no?

[2019-08-02 14:55] mheon commented on #3700
Oh. Oops. Agree.

I'm going to poke the CNI folks again about an update. I think we have fixed builds going into 8.1, so we really need to get them in elsewhere as well.

[2019-08-02 15:55] baude opened #3702 "editing '/usr/share/containers/libpod.conf' not honored"
I know we moved to this approach where our downstream packages ship a '/usr/share/containers/libpod.conf' ... and i believe we want users to copy that to /etc/containers/libpod.conf and make local edits.  But it appears that changes '/usr/share/containers/libpod.conf' is not being honored.

is that by intent or a bug?

[2019-08-02 15:55] baude commented on #3702
@rhatdan wdyt?

[2019-08-02 15:57] mheon commented on #3702
If we are not honoring changes, that means we're not loading the file. That's a pretty fundamental problem - means we're probably running on compiled in defaults, as opposed to using the config file at all.

[2019-08-02 16:00] baude commented on #3702
i agree, but I want @rhatdan do agree samewise.

[2019-08-02 16:07] baude commented on #1826
do we still need this open?

[2019-08-02 16:08] mheon commented on #3046
Relabelling as this is a new feature (support for non-directory local volumes)

[2019-08-02 16:09] baude commented on #1911
going to close, reopen if needed

[2019-08-02 16:09] baude commented on #1963
@TomSweeneyRedHat can you find a few minutes and wrap this one up?

[2019-08-02 16:09] mheon commented on #3245
CNI 0.8.1 is now landed in all relevant distros.

I am anticipating v6 support will be ready for Podman 1.5.1

[2019-08-02 16:10] baude commented on #2015
i believe this is fixed, reopen if needed

[2019-08-02 16:10] #2015 closed

[2019-08-02 16:11] mheon commented on #2240
We've dealt with these via `podman rm --storage` on upstream (though there are plans to add a `podman ps --storage` to show all containers in c/storage as well)

[2019-08-02 16:11] #2240 closed

[2019-08-02 16:11] baude commented on #2171
supposed to be fixed, reopen if needed

[2019-08-02 16:11] #2171 closed

[2019-08-02 16:12] vrothberg commented on #1911
Reponing as it's still valid and the PR a c/image has stalled.

[2019-08-02 16:12] baude commented on #2414
still need this?

[2019-08-02 16:13] #2678 closed

[2019-08-02 16:14] baude commented on #2699
ping @vrothberg ideas?

[2019-08-02 16:20] vrothberg commented on #2699
I am cool with using `tini` for CI. `catatonit` isn't packaged for Fedora yet and `tini` should be available everywhere.

[2019-08-02 16:21] #2794 closed

[2019-08-02 16:21] #2751 closed

[2019-08-02 16:22] #2886 closed

[2019-08-02 16:24] baude commented on #2918
updates?

[2019-08-02 16:24] baude commented on #2972
poke

[2019-08-02 16:25] baude commented on #2957
@lsm5 we can talk about this next week

[2019-08-02 16:26] baude commented on #2962
whats the deal here @mheon

[2019-08-02 16:27] mheon commented on #2962
This is a mismatch between `ps` filtering and display. We can fix it, but it's potentially confusing - I don't think our stopped/exited matches Docker, so the intent of filters may be lost.

I'll poke around.

[2019-08-02 16:32] mheon commented on #2962
Hm. It looks like we can restore the distinction between `stopped` and `exited` without serious issue for Docker compat, though I am worried that it would regress versus Podman 1.0, where all containers were both 'stopped' and 'exited' when they stopped.

[2019-08-02 17:15] #2983 closed

[2019-08-02 17:16] #2999 closed

[2019-08-02 17:17] #2987 closed

[2019-08-02 17:17] #3020 closed

[2019-08-02 17:18] baude commented on #3027
@lsm5 ping/poke

[2019-08-02 17:19] baude commented on #3029
where do we stand

[2019-08-02 17:20] haircommander commented on #3029
@QiWang19 I seem to remember you doing work with resolving relative paths, is that the case?

[2019-08-02 17:20] baude commented on #3100
closing this is this is not an upstream problem

[2019-08-02 17:20] #3100 closed

[2019-08-02 17:22] baude commented on #3129
please file trackpads for inclusion of podman into ubuntu

[2019-08-02 17:22] #3129 closed

[2019-08-02 17:22] #3134 closed

[2019-08-02 17:23] baude commented on #3148
i believe this is fixed and therefore I am closing.

[2019-08-02 17:24] baude commented on #3136
please open in buildah if still an issue

[2019-08-02 17:24] #3136 closed

[2019-08-02 17:24] baude commented on #3155
where do we stand here

[2019-08-02 17:26] baude commented on #3166
im not in favor of this for prs ... maybe more for system test or release test?

@mheon argee? if so, close or ?

[2019-08-02 17:27] QiWang19 commented on #3029
I have this PR https://github.com/containers/libpod/pull/3537 to convert the src path to absolute path

[2019-08-02 17:27] baude commented on #3195
updates fellas?

[2019-08-02 17:28] #3206 closed

[2019-08-02 17:28] baude commented on #3212
whats the story here

[2019-08-02 17:29] baude commented on #3226
@haircommander is this fixed?

[2019-08-02 17:31] baude commented on #3262
@amshinde any updates?

[2019-08-02 17:32] baude commented on #3266
is this fixed?

[2019-08-02 17:33] baude commented on #3292
@TomSweeneyRedHat updates?

[2019-08-02 17:33] baude commented on #3300
@cgwalters @TomSweeneyRedHat any updates fellas?

[2019-08-02 17:38] mheon commented on #3266
This one should be fixed

[2019-08-02 17:38] #3266 closed

[2019-08-02 17:41] haircommander commented on #3029
I can confirm #3537 fixed this! thanks @QiWang19

[2019-08-02 17:41] #3029 closed

[2019-08-02 17:42] mheon commented on #3155
We are adding `hooks_dir = ["/usr/share/containers/oci/hooks.d", "/etc/containers/oci/hooks.d"]
` to rootless libpod.conf automatically as of now - though that may be dependent on the contents of root's libpod.conf, which we use for defaulting rootless.

[2019-08-02 17:50] mheon commented on #3166
Tend to agree... I don't think our leaks would have been found by conventional testing like this.

[2019-08-02 17:50] #3166 closed

[2019-08-02 17:51] fiws opened #3706 "can't go get libpod (not enough arguments in call to watch.NewStreamWatcher)"
/kind bug

**Description**

`go get -u github.com/containers/libpod/libpod` results in an error in a fresh project.

**Steps to reproduce the issue:**

1. `go mod init github.com/fiws/test-repo-123`

2. `go get -u github.com/containers/libpod/libpod`

**Describe the results you received:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

[2019-08-02 17:51] mheon commented on #3148
This is not fixed.

[2019-08-02 18:15] baude commented on #3402
can we close this

[2019-08-02 18:17] baude commented on #3421
@juansuerogit ?

[2019-08-02 18:19] #3433 closed

[2019-08-02 18:20] #3434 closed

[2019-08-02 18:20] baude commented on #3447
@mheon did that happen?

[2019-08-02 18:23] baude commented on #3482
re-open if needed

[2019-08-02 18:23] #3482 closed

[2019-08-02 18:23] baude commented on #3489
status please?

[2019-08-02 18:30] TomSweeneyRedHat commented on #3136
Tracking in https://github.com/containers/buildah/issues/1760

[2019-08-02 18:37] TomSweeneyRedHat commented on #3195
I'm not sure if it covers the request completely, but we put this up about a month ago
https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md
It's mostly likely a start to a users guide and some of the doc folks had talked about using it as a seed for a more formal users guide.

[2019-08-02 18:40] matpen opened #3708 ""podman create" prepends ENTRYPOINT to CMD"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

When running `podman create` the ENTRYPOINT is prepended (hardcoded) to the CMD. If the container is committed to an image, this change is preserved, which means that the entrypoint will be run multiple times.

**Steps to reproduce the issue:**

Please see the [attached script](https://github

[2019-08-02 18:41] mheon commented on #3708
The behaviour of `create` is correct; it's commit that's wrong here.

[2019-08-02 18:41] mheon commented on #3708
I'll take this one.

[2019-08-02 18:43] TomSweeneyRedHat commented on #3292
deep back burner, haven't touched  it yet.

[2019-08-02 18:43] mheon commented on #3447
We are still waiting on a plugins tag

[2019-08-02 19:07] baude commented on #3706
im not sure we are committed to being able to do this are we @mheon @vrothberg

[2019-08-02 19:09] mheon commented on #3706
It seems like something we'd like to be able to support - and this makes me a little leery we might have dependency issues that might surface their heads elsewhere.

[2019-08-02 22:20] Gh0u1L5 commented on #3684
Hi @rhatdan , if I don't have metacopyup in my storage.conf, what should I do?

[2019-08-02 22:21] Gh0u1L5 commented on #3684
By the way, how should we patch the permission denied case? Just return usingMetacopy=false?

[2019-08-02 22:25] Gh0u1L5 commented on #3697
I suspect you are hitting this issue https://github.com/containers/libpod/issues/2886, and this PR https://github.com/containers/libpod/pull/2940 should fix the problem.

[2019-08-02 22:31] EricHripko opened #3711 "podman system df -v crashes on unnamed images"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Running verbose version of `podman system df` crashes the software.

**Steps to reproduce the issue:**

1. Run `podman system df -v`

**Describe the results you received:**
The following trace is printed:
[code]

**Describe the results you expected:**
podman not to crash and display detailed

[2019-08-02 22:36] EricHripko commented on #3711
Looks like [logic](https://github.com/containers/libpod/blob/master/cmd/podman/system_df.go#L467) expects image to have at least one name. Meanwhile I have some unnamed images. Code above even checks for the edge case - but then still indexes into an empty array.
[code]

[2019-08-02 22:42] mheon commented on #3711
@QiWang19 PTAL

[2019-08-02 22:47] mheon commented on #3684
I believe Dan is working on a patch to fix this on the c/storage side

[2019-08-03 01:01] baude commented on #3651
may we close?

[2019-08-03 01:23] mheon commented on #3651
No, we're still working this one

[2019-08-03 01:23] jwflory opened #3712 "False error message if using non-default runroot and default runroot is not writable"
/kind bug

**Description**

In my environment, the default `runroot` path of `/run/user/$UID/` is not writable. Instead, I use a custom `runroot` in my `storage.conf` to work around this. However, even when it is changed, Podman reports a fatal error in the console, although it does correctly fall back to the custom `runroot`.

It would be nice to make the false error message wait to write to stde

[2019-08-03 05:59] cyphar commented on #3195
That is an improvement, though I would like to sit down and try to see what breaks if I try to run an *actually* rootless environment a-la [the original case-study for rootless containers](https://www.youtube.com/watch?v=r6EcUyamu94) (no setuid helpers or configuration of root-only files at all). Hopefully there wouldn't be too many things that break, but given that this is a use-case that modern

[2019-08-03 07:48] vrothberg commented on #3706
We don't have this issue in CRI-O which is using go modules. We definitely need to track this down but I assume it's a hiccup in the k8s deps. I don't know how go mod concludes to use `v11.0.0+` while were vendoring a commit from 2019...

[2019-08-03 08:42] giuseppe commented on #3685
fixed upstream by: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=5c6207539aea8b22490f9569db5aa72ddfd0d486

[2019-08-03 10:02] rhatdan commented on #3702
/etc/containers/libpod.conf should override /usr/share/containers/libpod.conf.  If it does not, we should fix this before we ship podman 1.5.

[2019-08-03 10:57] rhatdan commented on #3711
@EricHripko Feel free to open a PR if you want.  :^)

[2019-08-03 10:59] rhatdan commented on #3684
@mheon no that is a different metacopyup issue.  This one is being investigated in the kernel, by @rhvgoyal

[2019-08-03 11:55] ephracis commented on #3697
No. Container A is a front end, running on one server, and container B is a backend running on both the same server as A, and on other services. A distributes load across the B backends.

That's what I figure as well. Just wanted to mention it for completeness.

It is what I get when doing `yum install podman` on my lab CentOS machines in CI. I would hope a more updated version finds its way to Ce

[2019-08-03 11:55] #3697 closed

[2019-08-03 14:35] EricHripko commented on #3711
Hi @rhatdan - I'll need to get approval to contribute to `libpod` project, which might take some time. Probably will be easier if one of maintainers has a look at it.

[2019-08-03 14:41] baude commented on #3702
@rhatdan I think you misunderstand ... I'm asking if I edit /usr/share/containers/libpod.conf in place, should podman honor those changes?

[2019-08-03 14:53] mheon commented on #3702
If we are not "honoring the changes" and there is no `/etc/containers/libpod.conf` in place - that's 100% a bug.

[2019-08-03 15:20] EricHripko commented on #3204
All right, there you go (`contextDir` can be any tar-ball that would produce a successful `podman build`):
[code]

Could you please re-open the issue? Github won't let me.

[2019-08-03 15:27] EricHripko opened #3714 "varlink: BuildImage() crashes podman if 'more' flag isn't set"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

**Steps to reproduce the issue:**

1. Make a tarball of any image that would succeed at `podman build`

2. Call varlink API without __more__ flag:
  `varlink call unix:///run/podman/io.podman/io.podman.BuildImage '{"build":{"contextDir":"/tmp/dipod-build531627851","dockerfiles":["Dockerfile"]

[2019-08-03 15:27] EricHripko commented on #3204
Thanks @mheon :slightly_smiling_face:

[2019-08-03 15:35] EricHripko opened #3715 "varlink: PullImage() crashes podman if an error occurs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

`podman` crashes if pulling an image results in an error via varlink API.

**Steps to reproduce the issue:**

1. Pick an image name that will fail for your configuration, for example: `alpine:latest`

2. Try to pull it via varlink: `varlink call unix:///run/podman/io.podman/io.podman.PullImag

[2019-08-03 17:12] towe75 commented on #3027
@lsm5 , @baude  is there a ubuntu specific show-stopper? I'm not a packaging expert but i work mostly on ubuntu machines. Can i test/support anything?

[2019-08-03 17:45] mheon commented on #3027
I think our biggest issue is getting libvarlink itself packaged up

[2019-08-03 18:16] towe75 commented on #3027
Question 1: what's the challenge (did not look at libvarlink, yet)? I'm working a lot with C-ish projects, so maybe i can help something.

Question 2: Is it a necessary dependency? Podman, because of go, will surely not depend on it, same for systemd. I understand that it would be nice to have the varlink cli command for testing purposes, but otherwise i can not see the relationship. Possibly i am

[2019-08-03 20:17] rhatdan commented on #3195
I just merged into containers/storage a fix that allow ignoring of chown failures. Setting this should allow a single UserNamespace UID to download and work with images.  Pushing them somewhere might be an issue.

Work was asked for by some HPC people.

[2019-08-03 20:26] rhatdan commented on #3711
We would love to have you contribute (continue contributing) but I will have a maintainer take a look.

[2019-08-03 20:28] rhatdan commented on #3702
@baude Correct `rootful` should honor anything in /usr/share/containers/libpod.conf as long as their is no /etc/containers/libpod.conf.

[2019-08-03 21:23] EricHripko commented on #3027
Yeah, https://github.com/varlink/go doesn't seem to use any `cgo`, so it wouldn't use `libvarlink`. That shouldn't be a blocker 🙂

[2019-08-03 23:36] TomSweeneyRedHat commented on #3136
@jpic I'm diving back into this again, but the build is failing at the yarn step.  Could you attach the Dockerfile to this issue?  Just to make sure I've the latest/greatest.

[2019-08-04 00:08] baude commented on #3027
the challenge of not having libvarlink on ubuntu is two fold:

1. when using a remote-client and the bridge technique, connections will fail because libvarlink is **required**.
2. the varlink util to debug connections is not available.

[2019-08-04 00:10] baude commented on #3702
ok, it is a bug as @mheon  says

[2019-08-04 10:06] rhatdan commented on #1826
I have had a PR for this open for many many months.  Post 1.5, I would like to finally get it merged.

[2019-08-04 10:08] rhatdan commented on #3245
Awesome, great work.

[2019-08-04 10:09] rhatdan commented on #3245
Can we close this issue?

[2019-08-04 10:09] #3245 closed

[2019-08-04 10:16] rhatdan commented on #2414
https://quay.io/user/podman
https://quay.io/user/buildah

Would be the suggested images to use to satisfy this need.  @marshallford if I am incorrect, please reopen this PR,

[2019-08-04 10:16] #2414 closed

[2019-08-04 10:20] rhatdan commented on #2918
We really don't see a way to do this easily so I am going to close.

[2019-08-04 10:20] #2918 closed

[2019-08-04 10:21] rhatdan commented on #2972
@edsantiago Are you still seeing this?

[2019-08-04 10:26] rhatdan commented on #3212
@AkihiroSuda If you want this, could you open a PR for it?

[2019-08-04 10:30] rhatdan commented on #3300
Lets say this is fixed in podman 1.5, and reopen if I am mistaken.

[2019-08-04 10:30] #3300 closed

[2019-08-04 10:32] rhatdan commented on #3155
Ok I am going to assume this is fixed in podman1.5, @mjlbach reopen if I am mistaken.

[2019-08-04 10:32] #3155 closed

[2019-08-04 10:34] rhatdan commented on #3402
Reopen if @giuseppe fix did not solve this.

[2019-08-04 10:34] #3402 closed

[2019-08-04 10:35] rhatdan commented on #3421
@juansuerogit reopen if you do not agree with the fix.

[2019-08-04 10:35] #3421 closed

[2019-08-04 10:37] rhatdan commented on #3489
podman-container-init man page exists now.

[2019-08-04 11:54] junaruga commented on #3679
I replaced /etc/containers/storage.conf below items to directories under user directory.

[code]

Then the result is like this.

[code]

Then I could pass some errors, but I got below another error `ERRO[0006] error pulling image "multiarch/qemu-user-static": unable to pull multiarch/qemu-user-static: 1 error occurred:`.
Do you have any idea to fix this error?

Thanks.

[code]
See https://travis-c

[2019-08-04 13:32] fiws commented on #3706
Wait what? I thought this was a primary goal (with the repo being named "**lib**pod")

Don't you expect people to depend on libpod via go? would you recommend using varlink instead?

[2019-08-04 14:03] mheon commented on #3155
I don't believe it is, but at the same time my impression is that the hook
in question requires root privileges?

On Sun, Aug 4, 2019, 06:32 Daniel J Walsh <notifications@github.com> wrote:

[2019-08-04 14:04] QiWang19 commented on #3711
Thanks @EricHripko , I can take this.

[2019-08-04 19:07] baude commented on #3613
did this get fixed or do we need to make a quick pr?

[2019-08-04 19:20] mheon commented on #3613
It's fixed as part of the big memory leak PR that landed

[2019-08-04 19:20] #3613 closed

[2019-08-04 19:48] baude commented on #3570
shoiuld we close this issue in favor of following the upstream request?

[2019-08-04 19:48] baude commented on #3566
this looks fixed to me? closing ... reopen if needed

[2019-08-04 19:48] #3566 closed

[2019-08-04 19:51] baude commented on #3436
@mheon what are your thoughts here.

[2019-08-04 19:51] baude commented on #3423
@giuseppe is this fixed?

[2019-08-04 19:56] baude commented on #3243
i think the bottom line answer here is update the kernel to 4.19+ or disable metacopy in the options.  i'm not seeing how libpod/podman can work around this.  reopen if needed.

[2019-08-04 19:56] #3243 closed

[2019-08-04 19:59] baude commented on #3204
@EricHripko can you give me an exact reproducer? i.e. attach a tarball ?

[2019-08-04 19:59] baude commented on #3204
@EricHripko including your command line?

[2019-08-04 20:03] mheon commented on #3423
Probably missing `newuidmap` and `newgidmap` executables. Install https://copr.fedorainfracloud.org/coprs/vbatts/shadow-utils-newxidmap/ which will be included in 7.7.

[2019-08-04 20:03] #3423 closed

[2019-08-04 20:05] mheon commented on #3436
This is almost certainly the `system renumber` issue we encountered with toolbox - improper locks management in 1.1.x - 1.3.1 revealing itself after an upgrade to 1.3.2 or higher. Running `podman system renumber` (ideally while no containers are running - and it may be a good idea to reboot the system afterwards, or run immediately after a fresh boot) will resolve the issue

[2019-08-04 20:05] #3436 closed

[2019-08-04 20:05] baude commented on #3148
what needs to be done @mheon ... so we can get it assigned?

[2019-08-04 20:06] baude commented on #2770
do folks agree this should be moved to the conmon repo?

[2019-08-04 20:17] mheon commented on #3148
Core issue: CGroup scopes are created by Podman and the OCI runtime - one for Conmon, one for the container process. These scopes have no dependencies and as such, during shutdown, systemd will whack them with a SIGTERM and then, after a brief timeout, SIGKILL on shutdown. Under some circumstances, we don't want this to happen - for example, the Openstack teams wants an ordered shutdown, dictated

[2019-08-04 20:17] mheon commented on #3148
Oh, I should mention that Openstack rejected the initial approach - they need `--pid=host` which conflicts with the mandatory PID namespace.

[2019-08-04 21:38] haircommander commented on #2770
Actually conmon has documentation now at `github.com/containers/conmon`. Closing this issue as such, reopen over there if you disagree

[2019-08-04 21:38] #2770 closed

[2019-08-04 22:24] #3702 closed

[2019-08-05 08:37] towe75 commented on #3027
IC. Coming back to libvarlink: why is it a big issue to getting it packed up? I assume it would be published into the very same projectatomic PPA?

[2019-08-05 09:21] vrothberg commented on #3706
I am certain that the **-u** is the problem as it forces to update the dependencies and some other dependency has a lower minor version of K8s in its `go.mod` which ultimately forces go mod to use an older version of k8s.

However, vendoring libpod via go mod works. If you do a `go get`, `go mod vendor` it'll work just fine. We just need to stick with the dependencies of libpod and not change them

[2019-08-05 09:22] #3706 closed

[2019-08-05 11:55] rhatdan commented on #3570
Yes I think this is more about chef then podman.

[2019-08-05 11:55] #3570 closed

[2019-08-05 12:17] lsm5 commented on #3027
1. I'm still setting up autobuild pipelines for ubuntu versions, done with 18.04 and 19.04, in the middle of 16.04 atm.

2. RE: libvarlink deb, I haven't been able to get it built yet, the last few times I tried some days back. I'll revisit that soon as I get the chance, unless you have the deb packaging files ready that I could reuse.

[2019-08-05 12:23] rhatdan commented on #2878
I usually lean towards matching Docker functionality.  But I will leave this to you guys to figure out.

[2019-08-05 12:25] rhatdan commented on #3155
Well a hook that requires root privs will not work with rootless mode.  One thing we might need to deal with in the future would be a way to disable some hooks when running in rootless mode.

[2019-08-05 12:26] #2897 closed

[2019-08-05 12:32] major commented on #3700
Thanks for looking into this! I'll be happy to test whenever something is ready.

[2019-08-05 13:53] wking commented on #3155
Configure a hook directory without those hooks in it?  Or add a higher-priority dir to the existing stack with masking, no-op hooks covering the root-only ones?

[2019-08-05 14:08] baude commented on #3658
should this be closed?

[2019-08-05 14:11] #3159 closed

[2019-08-05 14:37] #3711 closed

[2019-08-05 14:47] lsm5 commented on #3606
@TomSweeneyRedHat

I do find this a little weird. Did you have containerd installed and not runc?
This seems to work fine for me with `podman-1.4.4-4.fc30.x86_64`

[2019-08-05 14:58] #3714 closed

[2019-08-05 14:58] #3715 closed

[2019-08-05 15:21] #3658 closed

[2019-08-05 16:32] adrianreber opened #3722 "Checkpoint/Restore failure with internal IPv6 connections"
There was a bug report in the CRIU bug tracker (https://github.com/checkpoint-restore/criu/issues/735) that checkpoint/restore did not work with docker because it lacks support for checkpointing restoring containers with established TCP connections. The failure happened during checkpointing.

I recommend to try out Podman and checkpointing works but restoring fails.

The reason for the failure is

[2019-08-05 17:26] TomSweeneyRedHat commented on #3606
Still the same error for me on a newly install F29 VM  with

[code]

The only thing I put on the VM was this rpm and whatever it dragged down with it.

[2019-08-05 17:28] mheon commented on #3606
Hm. F29? That could be it. Maybe dependencies?

[2019-08-05 17:40] TomSweeneyRedHat commented on #3407
Fixed with #3466

[2019-08-05 17:40] #3407 closed

[2019-08-05 17:43] TomSweeneyRedHat commented on #3303
Moved to Buildah  https://github.com/containers/buildah/issues/1764

[2019-08-05 17:43] #3303 closed

[2019-08-05 17:46] rhatdan commented on #3722
SGTM

[2019-08-05 17:47] TomSweeneyRedHat commented on #2365
@baude I've 3 commands of 50+ covered.  Given the interns are soon departing for the year, should we keep this open until all are done, move to jira, just close this now, or something else?

[2019-08-05 17:51] rhatdan commented on #2780
@edsantiago do you believe this is still an issue? Worth Fixing? Or can I close?

[2019-08-05 17:52] rhatdan commented on #1884
We have opened talks on this again.

[2019-08-05 17:53] rhatdan commented on #1579
@baude @mheon What should we do with this one?

[2019-08-05 17:54] rhatdan commented on #1433
Still no one has worked on this one for a year.  I am adding some support for mounting container storage read/only in https://github.com/containers/storage/pull/404

[2019-08-05 17:56] rhatdan commented on #2503
@giuseppe @AkihiroSuda WDYT?

[2019-08-05 17:56] edsantiago commented on #2972
@rhatdan yes on master @ 3bffe77f824772b841080ea463324f5ae5c833d4
[code]

[2019-08-05 17:56] mheon commented on #1579
I think this is the kind of thing we expect to be fixed by `ps --sync`?

[2019-08-05 17:57] rhatdan commented on #1671
@mheon @baude Should we just close this?

[2019-08-05 17:57] mheon commented on #1579
Or, really, cleanup processes in general?

[2019-08-05 17:58] mheon commented on #1671
Ummm. I think we should leave it open... It could end up affecting compatibility for some applications?

[2019-08-05 17:59] rhatdan commented on #2070
@giuseppe Did you ever look into this?  @QiWang19 Do you have time to look at this?

[2019-08-05 18:00] rhatdan commented on #2909
@kunalkushwaha Are you still interested in this?

[2019-08-05 18:00] rhatdan commented on #2980
@caffeinejolt @mheon is this still a bug?

[2019-08-05 18:01] mheon commented on #2980
Yes. I'll work on this one tomorrow.

[2019-08-05 18:02] rhatdan commented on #3012
podman run --userns=keep-id
Solves this also.  Reopen if you disagree.

[2019-08-05 18:02] #3012 closed

[2019-08-05 18:03] rhatdan commented on #1429
@giuseppe Since we now have cgroupsv2 support, can we close this PR?

[2019-08-05 18:04] rhatdan commented on #1925
@dougsland @ashley-cui @weirdwiz @QiWang19 Since this never made progress could someone verify that they are working on it, or grab it for themselves.

[2019-08-05 18:12] rhatdan commented on #3107
@mheon @baude @vrothberg What should we do with this?

[2019-08-05 18:12] rhatdan commented on #3165
We already have this in /etc/containers/policy.json
man containers-policy.json

[2019-08-05 18:12] #3165 closed

[2019-08-05 18:14] rhatdan commented on #2013
@mtrmac @vrothberg Any movement on this? Should I assign an @QiWang19 ?

[2019-08-05 18:14] rhatdan commented on #2925
@vsoch @lsm5 @jnovy Please tell us if this is fixed and can be closed

[2019-08-05 18:15] rhatdan commented on #2808
@weirdwiz Did you ever get a chance to look at this?  @QiWang19 PTAL

[2019-08-05 18:16] vsoch commented on #2925
I might be testing again on our cluster at some point, but it would be for a centos base (not ubuntu), I probably won't install on my host again just in case there is still an issue. So - probably don't wait up for me to test!

[2019-08-05 18:18] mheon commented on #2808
Agree with @haircommander that this will probably require significant structural changes to the infra container. I would not work on this until he and I have had a chance to hash out how we want to handle that.

[2019-08-05 18:22] haircommander commented on #2808
^ yes, I don't think it make sense to continually extend the capabilities of the infra container and further duplicate container creation code. There are tons of things we can add to pod if we change the code paths

[2019-08-05 18:23] mheon commented on #3107
The question would be how we want to expose libpod via Rust. Do we want to do CGo and then a Rust FFI wrapper around that, or call in via Varlink?

[2019-08-05 18:26] mtrmac commented on #2013
This is primarily WIP https://github.com/containers/image/pull/563, some changes to buildah (almost certainly) and podman (maybe, less likely) would also be involved.

[2019-08-05 18:50] QiWang19 commented on #1925
I can take this if @dougsland  hasn't stated.

[2019-08-05 19:10] mheon commented on #1925
To be 100% clear here: I don't think `podman rename` makes sense in current context. I would greatly prefer a `podman container clone` that makes a copy of an existing container, with changes.

[2019-08-05 19:11] mheon commented on #1925
(Aliases are also a potential option, but I think we should start with `clone`)

[2019-08-05 19:15] edsantiago commented on #2780
@rhatdan I can't reproduce any more - loop script ran for an hour without triggering. So I'm closing. Thanks.

[2019-08-05 19:15] #2780 closed

[2019-08-05 19:37] EricHripko commented on #3714
Thank you for fixing this :+1:

[2019-08-05 19:38] EricHripko commented on #3715
Thank you for fixing this :+1:

[2019-08-05 19:38] EricHripko commented on #3711
@QiWang19 thanks for putting in a fix :+1:

[2019-08-05 19:41] rhatdan commented on #3606
Does it work on f30?

[2019-08-05 19:43] EricHripko commented on #3204
Can't attach a tarball, so here you go:
1. Create a `Dockerfile` with the following contents:
[code]
2. Create a context tarball: `tar -cvf context.tar Dockerfile`
3. Call Remote API: `varlink call unix:///run/podman/io.podman/io.podman.BuildImage '{"build":{"contextDir":"/path/to/context.tar","dockerfiles":["Dockerfile"]}}' -m`
4. See the failure:
[code]

[2019-08-05 19:50] rhatdan commented on #3155
I am wondering if there is a way to do this in the homedir right now.  Basically allowing a rootless user to configure hooks that he wants to run, and eliminate hooks from the system that are not allowed to run in rootless mode.

[2019-08-05 19:57] vrothberg commented on #2013
Yes, there are some leftovers to iron out and we want to wait for zstd PR to be merged, so I can pick that up and add code for the new mime type.

[2019-08-05 19:57] rhatdan commented on #2365
Move it to Jira and close this.

[2019-08-05 19:58] #2365 closed

[2019-08-05 20:12] rhatdan commented on #1925
I am fine with this, as long as we have an alternative.

[2019-08-05 20:22] rhatdan commented on #2669
@haircommander any update on this?

[2019-08-05 20:24] rhatdan commented on #3000
@sunnychanwork Are you still  looking at this?  I was wondering if current master is any better.  We are working on cutting a podman 1.5.0 right now, it would be nice to see if it works on MS.

[2019-08-05 20:24] rhatdan commented on #2979
No update on this issue.  Would love to get someone looking at this in the community

[2019-08-05 20:26] haircommander commented on #2669
Unfortunately not, I am not sure I have the bandwidth to tackle it both here and in c/image.

[2019-08-05 20:32] rhatdan commented on #3007
Even though we are going to add overlay mounts, this will not fix the issue here. Only solution is to change the label on disk.

[2019-08-05 20:32] #3007 closed

[2019-08-05 20:33] rhatdan commented on #713
This came up in a meeting today, and should move up the priority list to at least get better support in contianers/image and containers/storage.

[2019-08-05 20:34] rhatdan commented on #3110
@TomSweeneyRedHat @QiWang19 PTAL

[2019-08-05 20:35] rhatdan commented on #2986
@afortiorama Did @giuseppe solution work for you?  Would you like futher enhancments?

[2019-08-05 20:36] rhatdan commented on #3050
I am going to close this since we never got any more feedback.  @wirobert Please reopen this if you still have an issue.

[2019-08-05 20:36] #3050 closed

[2019-08-05 20:37] rhatdan commented on #3151
@baude do you think we have made any progress on this?
@seriousme Any chance you can try out the latest code?

[2019-08-05 20:37] rhatdan commented on #3111
@haircommander PTAL

[2019-08-05 20:40] rhatdan commented on #3255
@mtrmac @kkimdev Do we still have this issue?

[2019-08-05 20:40] rhatdan commented on #3264
@kallisti5 Any progress on this?

[2019-08-05 20:41] rhatdan commented on #3209
@baude Any progress on this?

[2019-08-05 20:43] rhatdan commented on #2317
@vrothberg could you look into this?

[2019-08-05 20:43] rhatdan commented on #3316
@KKoukiou @vrothberg Where do we stand on this issue?

[2019-08-05 20:45] rhatdan commented on #3294
@mtrmac Any update on this issue?

[2019-08-05 20:45] rhatdan commented on #3359
@edsantiago @mtrmac What should we do with this issue?

[2019-08-05 20:46] rhatdan commented on #3302
Well the refactor has happened thanks @haircommander , @edsantiago could you confirm it works so we can close this issue.

[2019-08-05 20:47] rhatdan commented on #3426
@QiWang19 PTAL

[2019-08-05 20:48] rhatdan commented on #3218
@QiWang19 Can you confirm that we are doing the right thing, and can close this issue?

[2019-08-05 20:49] rhatdan commented on #3454
@baude Were you able to reproduct?
@marusak Is this still an issue?

[2019-08-05 20:49] kallisti5 commented on #3264
not at the moment.  Too many projects, not enough man hours :-)
If anyone else wants to play with my changes / finish them / refactor them, feel free. (just post here so I know)

[2019-08-05 20:49] rhatdan commented on #3459
@giuseppe Any update on this issue?

[2019-08-05 20:51] rhatdan commented on #3288
Since we have another issue on this #3000 lets continue the discussion there.
@kkimdev @baude ^^

[2019-08-05 20:51] #3288 closed

[2019-08-05 20:53] rhatdan commented on #3481
https://github.com/containers/libpod/pull/3719 is working on a solution for this.

[2019-08-05 20:54] mtrmac commented on #3294
No

[2019-08-05 20:54] rhatdan commented on #3464
@TomSweeneyRedHat PTAL at this, should work.  Does this work if podman is used to launch command?

[2019-08-05 20:55] rhatdan commented on #3179
@haircommander Does your conmon exec code fix this?
@debarshiray Do we still have an issue with what is in master branch?

[2019-08-05 20:56] rhatdan commented on #3478
Ok we have updated the docs.

[2019-08-05 20:56] #3478 closed

[2019-08-05 20:57] rhatdan commented on #3492
@edsantiago @mheon Is this fixed in podman 1.5.0?

[2019-08-05 20:58] rhatdan commented on #3387
@yishan-lin @mheon @towe75 What is the latest on this issue?

[2019-08-05 20:58] rhatdan commented on #2791
@saschagrunert @mheon @vrothberg Any movement on this issue?

[2019-08-05 20:59] baude commented on #3209
we havent had time to do feature work in weeks.

[2019-08-05 20:59] rhatdan commented on #3547
I think we need to raise this to a much higher priority.

[2019-08-05 20:59] haircommander commented on #3179
this is an issue with runc. @giuseppe do you know if that was fixed

[2019-08-05 20:59] rhatdan commented on #3555
What is the latest on this issue @wrabcak @cevich ?

[2019-08-05 21:00] rhatdan commented on #3535
@mheon Any new ideas on this?  @giuseppe Do you think you could look into this?

[2019-08-05 21:00] rhatdan commented on #3544
@saschagrunert @mheon Any update on this issue?

[2019-08-05 21:01] rhatdan commented on #3577
@marcov Have you seen any improvements on this?  @TomSweeneyRedHat What do you think?

[2019-08-05 21:02] rhatdan commented on #1915
@lsm5 Any movement on this?  @abitrolly Interested in helping?

[2019-08-05 21:03] rhatdan commented on #1843
@ashley-cui Can we close this, is this available now?
@ssbarnea WDYT?

[2019-08-05 21:04] rhatdan commented on #3540
@edsantiago Could you verify that this is still an issue with master/podman 1.5.0

[2019-08-05 21:06] rhatdan commented on #1742
@lsm5 Any progress?  @Ciantic @Zjemm @varac @gertvdijk @siretart Could anyone help this issue?

[2019-08-05 21:07] rhatdan commented on #3587
@mheon any progress on this?

[2019-08-05 21:09] rhatdan commented on #2669
Ok @vrothberg You want to grab it?

[2019-08-05 21:09] lsm5 commented on #1742
On Mon, Aug 05, 2019 at 02:06:48PM -0700, Daniel J Walsh wrote:

Nothing yet, but I'm planning to use opensuse's open build service to build for
debian, soon as I get the chance. That might be the most convenient for debian,
unless others can suggest/contribute better approaches.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-08-05 21:13] lsm5 commented on #1915
On Mon, Aug 05, 2019 at 02:02:21PM -0700, Daniel J Walsh wrote:

Not yet, many other distractions, but PPAs seem to work ok for most, so maybe
we can have this as a stretch goal, unless community wants to jump in on this.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-08-05 21:27] QiWang19 commented on #3218
I checked this issue, we are not doing the right thing(not the same result as docker), but I have no idea how to fix this

[2019-08-05 21:57] jwflory commented on #3712
I built a package from latest upstream and saw this was fixed. Thanks! I will go ahead and close this issue.

[2019-08-05 21:57] #3712 closed

[2019-08-05 22:08] mheon commented on #3587
Priority on this slipped a bit. It's sitting somewhere after IPv6 support and NFS volumes in my list. If it should be higher, I can bump it up before one of those two.

[2019-08-05 22:09] mheon commented on #3544
Not on our end. I'm fine with accepting patches (assuming it's built conditionally), but don't view it as a priority on our end right now.

[2019-08-05 22:10] mheon commented on #3535
I can take this as part of the v6 work

[2019-08-05 22:11] mheon commented on #3547
@baude We should discuss this one at bug scrub tomorrow, get it assigned

[2019-08-05 22:12] mheon commented on #2791
We really need to get a meeting scheduled with all involved parties and get some discussion going on the way to go forward, but IMO the priority on this is rising steadily - we're spending too much effort developing them as two separate projects when they do fundamentally the same thing.

[2019-08-05 22:12] mheon commented on #3572
@baude is working on this one still, I believe. We've tracked the deadlock into c/storage.

[2019-08-05 22:13] mheon commented on #3387
We've tracked the mentioned deadlock into c/storage. I believe @baude is still debugging.

[2019-08-05 22:14] mheon commented on #3492
Nope.

If I get a chance this week, I'll look at this, but IMO this is the very bottom of the barrel in terms of priority. `--sig-proxy` is gimmicky to begin with and I don't think people will notice it being broken.

[2019-08-05 22:15] mheon commented on #3459
Aren't we enabling linger by default now?

[2019-08-05 22:15] mheon commented on #3264
I've seen additional interest in this from #podman on Freenode, but no solid answers as to security model yet.

[2019-08-05 23:41] s4s0l opened #3730 "podman run does not honour --authfile. Unable to pull and run in one step for private registry"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

--authfile switch / REGISTRY_AUTH_FILE / file in /etc/containers/auth.json does not seem to work for `podman run`.

**Steps to reproduce the issue:**

1. `podman login --authfile /etc/containers/auth.json my-repo`
2. `podman pull my-repo/image:tag`
unauthorized: access to the requested resour

[2019-08-06 00:00] TomSweeneyRedHat commented on #3730
@QiWang19 PTAL

[2019-08-06 00:06] TomSweeneyRedHat commented on #1925
FWIW, Docker has a rename....  https://docs.docker.com/engine/reference/commandline/rename/

[2019-08-06 00:10] TomSweeneyRedHat commented on #3577
I think I just assigned it to myself so I won't forget it.  @marcov I'd be happy to hear what you think none the less.

[2019-08-06 00:13] TomSweeneyRedHat commented on #3606
I will try F30 tommorow.

[2019-08-06 00:19] rhatdan commented on #3218
Lets talk about this on Wednesday in the office.

[2019-08-06 01:35] sunnychanwork commented on #3000
@rhatdan Microsoft since had a change of heart and announced WSL2 which runs Linux under a VM in Windows - so I didn't spend any more time looking at this for now

[2019-08-06 05:09] chenzhiwei commented on #3708
I encountered this issue too, podman will always use the entrypoint in the docker image and does not use the `command` or `entrypoint` in kube yaml file:

You can reproduce with following yaml file:

[code]

[2019-08-06 05:12] kunalkushwaha commented on #2909
@rhatdan Sorry for no progress.. Will followup again with ocicni maintainers.

I still think, CNI library behaviour should be same across implementation, so this will help end users.

[2019-08-06 05:57] towe75 commented on #3387
Well, coming back to the actual topic of this issue: as stated, i built a varlink based prototype as POC.

Recently i spend a few hours and did the same thing without varlink, linking libpodman directly (using go 1.12, go.mod).
Although it works, development experience was rather bad. I had to dig a lot in libpod's source code to learn how things fit together. Also lack of "clickable" godoc.org re

[2019-08-06 06:05] vrothberg commented on #2317
Sure. I will go through my backlog after Flock.

[2019-08-06 06:08] vrothberg commented on #3316
Ideally, we need a reproducer.

@KKoukiou, do you still see this issue in the tests?

[2019-08-06 06:55] saschagrunert commented on #2791
Yeah I agree. My proposal would be to use a dedicated project board on GitHub to increase the transparency about what is going on behind the scenes.

[2019-08-06 07:00] vrothberg commented on #2669
Let's move discussion over to https://github.com/containers/image/issues/610. I add it to my backlog but I can't commit to a schedule at the moment.

[2019-08-06 07:03] vrothberg commented on #1742
Pulling in @sysrich who will surely be happy to support us in using OBS. The packages for Podman and Buildah (and CRI-O) are already in Kubic project, so maybe we can collaborate on that? @marcov did an awesome job in helping Kata packaging on OBS.

[2019-08-06 07:11] vrothberg commented on #2791
@mrunalp was thinking about scheduling a meeting in the near future.

[2019-08-06 07:17] saschagrunert commented on #3544
I evaluated the topic further and don's see any clean interface where a library like libpod could work with and I see the efforts as too high to continue here if its not a high priority.

[2019-08-06 07:17] #3544 closed

[2019-08-06 07:23] vrothberg commented on #2791
^ this is still valid btw. The critical part is the runtime part while the image part is relatively straight forward. Ideally, we use that effort to consolidate the code of CRI-O, Podman **and** Buildah. There is a lot of redundancy among the projects w.r.t pushing and pulling that I would love to consolidate into one API that can be shared. Given the dependency chain, we _could_ add a high-level

[2019-08-06 07:34] giuseppe commented on #3179
no, I am not aware of any fix that went into runc

[2019-08-06 07:34] saschagrunert commented on #2791
To be honest I don't think that a gdoc is the right way we can collaborate on that topic in an agile way. I agree that gathering the top requirements and bundling them together in some EPICs is a necessary step. What do you mean with "exact requirements"? How exact should they be?

I still believe that the Kubernetes Container Runtime Interface is a nice guidance in writing user stories around the

[2019-08-06 07:34] giuseppe commented on #3179
could you try with crun?  Do you have the same problem?

[2019-08-06 07:47] giuseppe commented on #3459
yes, but the issue seems to be about running the container as root user and inside of the container create the user session.

Seems to work for me now with: https://github.com/containers/libpod/pull/3731/files

@paravz could you try with that PR?

[2019-08-06 08:21] vrothberg commented on #2791
Why not share this feedback in the first place? We all have been chatting about this doc since April and it was meant to discuss specific issues, and so far we did not fill out the tables. I have no tool preference as long as we're not turning in circles but I am convinced the tool shouldn't block the work. In the end, the doc was not meant for planning specific epics but for figuring out if libpo

[2019-08-06 08:23] KKoukiou commented on #3316
@rhatdan @vrothberg I don't see this in the tests any more, but I am sure it's because we enhanced the cockpit-podman code to not greedily use the API by re-fetching every resource with each event, which is what we were doing in the past and made this race condition more possible.
Feel free to close.

[2019-08-06 08:26] marcov commented on #3577
@TomSweeneyRedHat thank you for taking care. I intentionally left the assignee open :wink:

[2019-08-06 08:54] seriousme commented on #3151
@rhatdan just tried using boot2podman on windows 10  build 18362 (Update 1903)

[code]
And then from the windows command line:

[code]
Same error as before..

[2019-08-06 08:57] giuseppe commented on #2503
I think we can close the issue.  Dynamic port binding is out of the scope for Podman (even if it is possible in slirp4netns)

[2019-08-06 08:57] #2503 closed

[2019-08-06 08:58] giuseppe commented on #1429
yes I think we can close the issue here and address any future issue separately

[2019-08-06 08:58] #1429 closed

[2019-08-06 09:11] chenzhiwei opened #3732 "allow setting hostname for a pod"
/kind feature

**Description**

When I run `podman play kube pod.yaml` to create a pod, the hostname is the last container's container-id.

My application is highly reply on hostname, is it possible to add a feature to podman pod to allow customizing the hostname? Or set the pod name as hostname?

Kubernetes Pod has a field `hostname`, it is better to use this as hostname.

**Additional informatio

[2019-08-06 10:41] saschagrunert commented on #2791
Then let's stick to that and let's fill it with life. :+1:

[2019-08-06 11:00] wrabcak commented on #3555
@cevich  is preparing CI on Udica side:
https://github.com/containers/udica/pull/37

[2019-08-06 11:25] #3316 closed

[2019-08-06 11:28] rhatdan commented on #3732
@haircommander @QiWang19 Can you guys look into this?

[2019-08-06 12:19] haircommander commented on #3732
Ah I think this revealed a bug too, if a container is in a pod that shares a uts namespace, shouldn't all containers in the pod share the hostname of the infra container? cc @mheon

[2019-08-06 12:42] rhatdan commented on #3732
Yes.

[2019-08-06 12:46] ashley-cui commented on #1843
Podman is installable using brew cask currently on manpages. Just finally got manpages to install and uninstall correctly yesterday, will update homebrew script soon .

[2019-08-06 12:48] #1843 closed

[2019-08-06 12:49] rhatdan commented on #2317
great

[2019-08-06 12:56] vrothberg opened #3734 "support --pull-always for create/run"
(extracted from a discussion on IRC)

Extend `podman-run` and `podman-create` to always pull the image. This can come in handy in systemd unit files where users might want to always run the latest images. Currently, podman will use a local image and if absent contact the registry.

`podman-build` already supports the flag and we could easily pass it down via `CreateContainer(...)`.

[2019-08-06 13:00] mheon commented on #3734
Isn't Qi working on this now? Believe it's tagged for 1.5.1.

On Tue, Aug 6, 2019, 08:56 Valentin Rothberg <notifications@github.com>
wrote:

[2019-08-06 13:08] haircommander commented on #3547
/assign
seems to be related to https://github.com/containers/libpod/issues/3732 and a couple of other things

[2019-08-06 13:12] marusak commented on #3454
Yes, this still happens. Unfortunately my reproducer involves visiting podman page of cockpit.
I've dug a bit into cockpit-podman and it is directly related to `monitor` which we use. (when I remove the monitor it works just fine)
Used [here](https://github.com/cockpit-project/cockpit-podman/blob/master/src/app.jsx#L234), defined [here](https://github.com/cockpit-project/cockpit-podman/blob/master

[2019-08-06 13:43] vrothberg commented on #3734
True, the PR is here: https://github.com/containers/libpod/pull/3617

[2019-08-06 13:49] willzhang opened #3735 "china can't use it"
How to config registry-mirrors like docker,otherwise ,china can't use it pull image,Because of the Great Wall Firewall

[code]

[2019-08-06 14:00] vrothberg commented on #3735
Hi @willzhang, thanks for reaching out. Starting with podman v1.4.0, you can configure the `/etc/containers/registries.conf` as described in the man pages (see https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md).

In this specific case, you need to set `/etc/containers/registries.conf` (assuming you want to mirror docker.io) as follows:
[code]

[2019-08-06 14:00] #3735 closed

[2019-08-06 14:42] willzhang commented on #3735
i don't know how to install podman v1.4.x ,is there a easy way ,i use ius.io repo ,it seems no v1.4.x rpm

my os is centos7

[2019-08-06 14:47] vrothberg commented on #3735
@lsm5, do you know about the state in centos 7?

[2019-08-06 15:21] cevich commented on #3555
Oh woops, ya, we should close this issue, the ultimate solution will come in via new CI in udica.

[2019-08-06 15:21] #3555 closed

[2019-08-06 15:52] willzhang commented on #3735
sorry ,i not use the offical repo for centos before, just CentOS-Base.repo is ok

[code]

[2019-08-06 16:00] haircommander commented on #3226
@baude @alitvak69 it is not fixed, but I'm actually not convinced it's a problem anymore. the behavior of having a running exec session in a container is similar to the container's main process running. Right now, to remove a running container, -f is needed, and it is similarly needed for a to remove a container with a running exec process.

[2019-08-06 16:57] TomSweeneyRedHat commented on #1963
I've just updated the troubleshooting guide in #3739 documenting how this issue can be arrived at and how to cure it.  Unfortunately, the error message we get back from authentication code that Podman vendors throws this error in the situation when the credentials were once good but are no longer, ie. did a successful `podman login` and then changed the password on the container registry.  It also

[2019-08-06 17:03] edsantiago commented on #3302
I still see it - albeit only after tens of iterations - with podman 1.4.4-4.fc30 (rpm) and master @ b5618d9e354a565fb8e472208c835a36373e4fbb (hand-built). Do I need a new conmon?

[2019-08-06 17:14] baude commented on #3454
yeah, i have a reproducer and it is still present.  i need help from the varlink guy in pinpointing what might be going on.

[2019-08-06 18:48] mheon commented on #3708
Hm. I might be wrong here. `c.config.Command` is being set incorrectly to the full command including entrypoint - it seems like create might be at fault after all.

[2019-08-06 18:49] weirdwiz commented on #2808
I wasn't able to take a look at this.

[2019-08-06 19:36] mheon commented on #2962
I'm closing this because of risk of regressions vs 1.0... If people feel strongly, we can revisit

[2019-08-06 19:36] #2962 closed

[2019-08-06 19:57] stigger opened #3743 "No default route when overriding mac with the tuning plugin"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm trying to use a macvlan-based network with a mac overridden using the tuning plugin. It kind of works, but there is no default route in the container. Simply removing the mac setting from the conflist (while leaving the tuning plugin reference) fixes the default route.

I don't think this

[2019-08-06 19:58] mheon commented on #3708
#3744 to fix

[2019-08-06 19:59] mheon commented on #3708
Unfortunately, this will only catch newly-created containers - older ones will be stuck with the doubled entrypoint.

[2019-08-06 20:02] mheon commented on #3743
@mccv1r0 Any clues here? We're not doing anything that would affect this part of CNI on the Podman end.

[2019-08-06 20:30] TomSweeneyRedHat commented on #3606
OK, getting weirder.  I tried on F30 today and still the same issue, but I noted that given these images:

[code]
If I did:

`podman push stable:v1.4.4 ..` first it failed.  Regardless of the back ticks around the target.  However if I did either:

[code]

Then everything worked fine.  After the push succeeded, if I tried the push again that failed with just `stable:v1.4.4` then that would succeed

[2019-08-06 21:07] alitvak69 commented on #3226
@haircommander I think it is a problem because exec is not killed by choice.  Yes we do it to reproduce the problem but exec is also dying if my ssh session is disconnected due to a connection failure for example

[2019-08-06 21:19] alitvak69 commented on #3226
@haircommander I understand that you need to cleanup with -f sometimes but I don't understand why running a bash script in container exec shell should cause the  whole thing to die during a terminal session disconnection.  I believe it should cause a script itself to die as well as exec session but not the running container.  Anyway, what would be a comparable docker or rkt behavior?  I used both

[2019-08-06 21:50] TomSweeneyRedHat commented on #3292
I read through a ton of Dockerfile stuff today and I can't find an easy way to do an INCLUDE directive.  It's something the Dockerfile maintainers are very much against and they added a `COPY --context` directive that kind of does an include, but you need to split things across directories.  Given that each of our Dockerfiles would only save 3 to 5 lines and they've not changed a bit in the severa

[2019-08-06 21:50] #3292 closed

[2019-08-06 22:35] mccv1r0 commented on #3743
Using that conflist, every container using ```mynet``` will get the same mac address (assuming it even works; I've never tried it... I point it out in case someone in the future happens to find this issue.)  The runtime (i.e. podman) is meant to supply a unique mac address (which it gets from e.g. bash command line or some per-container config.)

I've reproduced the overall problem with macvlan an

[2019-08-07 00:15] baude commented on #3577
I think the PR from @EmilienM cleaned this up.  I see two additional issues; one spelling error and one missing period at the end of a comment.  When i  look at this file all exported functions are documented which is the golang standard.  Unless we want to hold this issue open for the two nits, I consider this complete and ready for close.

[2019-08-07 01:11] paravz commented on #3459
is there a way to get the built binary (or rpm) from CI ? I want to avoid my build environment introducing something

[2019-08-07 04:43] KurtGaastra opened #3747 "'podman port' doesn't work correctly when passed a port number"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
`podman port` doesn't work correctly when passed a port number.

There are a few problems.
1. If the container has multiple ports published then only the first one is matched. See the early return on cmd/podman/port.go:Line 131

2.  When you specify a container by name it doesn't work at all.

[2019-08-07 07:50] vrothberg commented on #3292
We won't find much information in the Docker docs because that's not supported. But Buildah and Podman use a workaround via the C pre-processor. It's mentioned in our docs (https://github.com/containers/libpod/blob/master/docs/podman-build.1.md). The Dockerfile must be suffixed with `.in` to be pre-processesd.

Sounds good to me. Thanks a lot for looking into it!

[2019-08-07 08:54] marcov commented on #3577
Given the current state, I'm ok to close this

[2019-08-07 11:44] rhatdan commented on #3292
We should really make some noice about Dockerfile.in and Buildah.  We should blog on it, and perhaps making it used within the Repo might be a good way to demonstrate it and make sure we don't break it. Even if there is not much to share.

[2019-08-07 11:47] vrothberg commented on #3292
I blogged on Heise.de about it and also will talk about it on Flock. I can
prepare another blog in English after Flock 👍

On Wed 7. Aug 2019 at 13:44, Daniel J Walsh <notifications@github.com>
wrote:

[2019-08-07 12:18] rhatdan commented on #3743
FYI:
https://stackoverflow.com/questions/21018729/generate-mac-address-in-go

[2019-08-07 12:29] #3577 closed

[2019-08-07 13:20] mheon commented on #3747
@baude If you haven't started on this, i can take it.

[2019-08-07 13:42] marusak opened #3749 "Cannot call GetContainerStats through varlink for rootless containers"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**
I cannot call `GetContainerStats` through varlink for rootless containers. It works for root containers.

**Steps to reproduce the issue:**

1. Execute
[code]
in one terminal

2. Start a new user owned container in another terminal
``` podman run -dit --name foobar fedora```

3.  Try to get st

[2019-08-07 13:52] mheon commented on #3749
Stats does not work for rootless right now, as it requires the container to have CGroups - rootless containers presently do not have privileges to create their own.

With the `crun` OCI runtime and a CGroups v2 enabled system, this may work - @giuseppe

[2019-08-07 14:36] baude commented on #3749
i will add a proper error response.

[2019-08-07 15:38] mccv1r0 commented on #3743
https://github.com/containernetworking/plugins/pull/364

[2019-08-07 16:22] mheon commented on #3447
We're carrying a patch for RHEL/Cent 8.1. We should look into doing the same for Fedora.

[2019-08-07 17:05] TomSweeneyRedHat commented on #3642
Moved to Buildah https://github.com/containers/buildah/issues/1772, closing here.

[2019-08-07 17:05] #3642 closed

[2019-08-07 18:32] rhatdan commented on #3226
I agree an exec session dieing should not cause the container to exit, just hte exec session.

[2019-08-07 18:47] haircommander commented on #3226
@alitvak69 can you test master with your set up? given your description and @rhatdan's comment, this is actually fixed:
[code]

[2019-08-07 19:03] abitrolly commented on #1915
@rnatdan I started the process in https://github.com/abitrolly/podman then Ubuntu staff asked me to hand over the name on official request, so I hoped that you do this. :D

I am interested, but not in my free time as I now use Fedora and there are too many warning about `snap` with SELinux to use it there.

[2019-08-07 20:57] lsm5 commented on #1915
Hey, sorry, I guess I was behind nagging ubuntu staff, but then I had a lot of distractions come my way so couldn't get this in.

Glad to hear you use Fedora :) . @mikeroyal would you be interested in continuing @abitrolly's snap work for podman as well?

[2019-08-07 21:38] #3547 closed

[2019-08-08 00:06] alitvak69 commented on #3226
@haircommander What released version of podman I need to run in order to verify the fix?

[2019-08-08 00:09] mheon commented on #3226
@alitvak69 We don't have a release including it yet, but we're in the process of cutting 1.5.0 which will include it - down to two PRs before it's done, so hopefully tomorrow.

[2019-08-08 00:25] #3616 closed

[2019-08-08 01:02] alitvak69 commented on #3226
@haircommander  @mheon I am out this week so I will try testing it early next week and report it back to you.

[2019-08-08 08:08] abitrolly commented on #1915
I didn't do much work there - forking the checklist, placing logos, filling boilerplate. There is already https://snapcraft.io/docs/docker-support-interface and there might be specific hacks that are needed on a system level. https://github.com/abitrolly/podman though is a good start and I would be happy to move it to this organization to collaborate.

[2019-08-08 08:15] space88man opened #3759 "Rebooted, dangling file in /var/lib/cni/networks/podman prevents container starting"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I did a `systemctl reboot`; encountered a orphan `/var/lib/cni/networks/podman/10.88.0.20` file
which prevented the container from starting.
[code]

**Steps to reproduce the issue:**

1. Upgraded Fedora 30 host, rebooted, tried to start a container

2.

3.

**Describe the results you received

[2019-08-08 11:08] #2702 closed

[2019-08-08 12:20] #2980 closed

[2019-08-08 12:32] #3708 closed

[2019-08-08 12:39] mheon commented on #3759
This usually happens when another container has taken the IP that container
was using. Do you have any other containers running using that IP?

On Thu, Aug 8, 2019, 04:15 space88man <notifications@github.com> wrote:

[2019-08-08 12:44] rhatdan commented on #3302
@haircommander Could answer @edsantiago question?

[2019-08-08 13:08] #1963 closed

[2019-08-08 13:14] space88man commented on #3759
No; this was after a graceful reboot.

[2019-08-08 13:57] mheon commented on #3759
@mccv1r0 Can you take a look at this? it looks like CNI didn't clean up address reservations after a clean reboot?

[2019-08-08 14:07] haircommander commented on #3302
the first issue as posted is not helped with a new conmon, and I also have observed a failure with:
`echo hi | podman run -a stdin -a stderr --interactive --tty=false --rm  alpine ls /nonesuch`
However, the failure is similar to the issue as posted: intermittent
[code]
I did not observe a hang like you did, however

[2019-08-08 14:35] rhatdan commented on #2972
@giuseppe PTAL
Could this be podman varlink entering the user namespace or no longer entering the user namespace?  Causing issues?
Does podman run/exec work fine in this environment?

[2019-08-08 15:18] QiWang19 commented on #3110
I tries the above minimal Dockerfile, looks like we have fixed this problem.
[code]
[code]

[2019-08-08 15:33] rhatdan commented on #1915
Getting podman into snap is critical,  either open a PR to get this into github.com/libpod, or should we look for others?

[2019-08-08 15:45] rhvgoyal commented on #3684
Debugged this a little bit. Found that work/work dir does not have any read/write/execute permission.

d---------. 2 root root 6 Aug  8 11:42 work

So any attempt to create file during copy up fails without CAP_DAC_OVERRIDE.

I am wondering if permission on work can be relaxed to 600. This is supposed to be overlay internal
directory which nobody is supposed to be looking into. I am hoping that al

[2019-08-08 15:55] rhvgoyal commented on #3684
BTW, this problem is not associated with metacopy feature. It happens even without metacopy enabled. Basically CAP_DAC_OVERRIDE for mounter is needed, given the current code.

[2019-08-08 15:58] dustymabe opened #3761 "podman image digest showing incorrect value in some cases"
/kind bug

**Description**

podman inspect sometimes shows different digest than what is correct.

**Steps to reproduce the issue:**

1. Look at the `30-x86_64` tag from the [fedora/fedora repo on quay.io](https://quay.io/repository/fedora/fedora?tab=tags) and notice the current tag is at `sha256:5bc93c7ca1c526b2a73f7c97eae15638f40dfef4b44d528f4d0374302fcb9f2b`.

2. `sudo podman pull quay.io/fedor

[2019-08-08 16:10] mheon commented on #3761
@vrothberg Poke - does this look like the c/storage digest mangling from pipes that you found?

[2019-08-08 17:20] rhvgoyal commented on #3684
Even if I get rid of CAP_DAC_OVERRIDE requirement for work dir, I think in some cases it can fail to copy up. If target directory is owned by user and root does not have permissions to write in that directory, then copy up of file will fail?

So to me it looks like CAP_DAC_OVERRIDE will still be needed to make these cases work.

@rhatdan WDYT

[2019-08-08 17:23] jwhonce commented on #3426
With PR #3762 , behavior of CLI will change to generate error if dns-search is empty.

[2019-08-08 17:36] h-vetinari opened #3763 "Current ubuntu install instructions are broken due to conmon"
I wanted to upgrade to the newest podman in my ubuntu container builder, which broke podman.
[code]

Same after retrying the [install instructions](https://github.com/containers/libpod/blob/master/install.md), but after running `sudo apt-get install conmon`, things work again. I'm guessing `conmon` needs to be added as a dependency in the metadata of the PPA-package. @lsm5

[2019-08-08 18:06] vrothberg commented on #3761
@mheon, v1.4.4 is not affected by the pipes issue. We're actually checking digests and error out if they don't correspond to what the image claims. Maybe, quay is using different mirrors which are not in sync?

@dustymabe is this reproducible in some way? If so, can you try a `podman pull quay.io/fedora/fedora@sha256:9a1bdd9da2e0723b1a4f6f016311c3228c0fadb867ef6fdd9496ab665c1d5130` on the "unhealt

[2019-08-08 18:11] rhvgoyal commented on #3684
I wrote a fix for work dir and then tried running unionmount-testsuite with CAP_DAC_OVERRIDE dropped and it failed very soon.

I think it was trying to open a file owned by "bin" write only and got permission denied. Given current security model in overlay, we check permission on lower/upper inode against the credentials of mounter. And if file is owned by bin without any write permission for root

[2019-08-08 18:33] edsantiago commented on #2972
I interpret your question as 'does podman-REMOTE run/exec work fine with this same varlink server'. And, yes. I can run the full suite of system tests using this varlink server: info, run, stop, etc. But as nonroot, `podman-remote build` just won't work for me. It shouldn't be hard to replicate, just follow the steps in comment 0. (Replacing 14904 with your uid, sorry)

[2019-08-08 18:34] #3747 closed

[2019-08-08 19:11] rhatdan commented on #3684
So that means if I as a user wanted to write to a file and I owned the file, it would fail because the mounter would be running as root and not dwalsh, correct?

[2019-08-08 19:12] rhatdan commented on #3684
@Gh0u1L5 How pratical is this with these constraints?  Vivek could make a fixed kernel available, but not much will work with it.

[2019-08-08 19:13] rhatdan commented on #3684
One potential alternative would be fuse-overlayfs, although It might have the same issues.  @giuseppe WDYT?

[2019-08-08 19:23] rhatdan commented on #2972
Ok, I don't have time to debug right now.

[2019-08-08 19:26] miabbott commented on #3761
I was the other co-worker that replicated the problem on Silverblue 30.  Although, trying to reproduce with the `fedora` images on quay has been unsuccessful.

My reproducer used the `coreos-assembler:latest` image:

[code]

[2019-08-08 19:33] edsantiago commented on #2972
This has been broken for almost four months; I don't think anyone needs an immediate fix.

[2019-08-08 19:37] dustymabe commented on #3761
seems to be at least on the machines affected

[code]

[2019-08-08 19:40] dustymabe commented on #3761
one last bit of data:

[code]

[2019-08-08 20:15] vrothberg commented on #3761
Thanks @dustymabe and @miabbott!

Oh dear ... I could only guess now but will have a look with a fresh brain tomorrow. @mtrmac, have you seen something like that?

@dustymabe, could you paste the entire output from `sudo podman inspect quay.io/fedora/fedora@sha256:5bc93c7ca1c526b2a73f7c97eae15638f40dfef4b44d528f4d0374302fcb9f2b`?

[2019-08-08 20:39] mtrmac commented on #3761
I guess this is related to how https://github.com/containers/libpod/blob/09cedd152d5c5827520635b10498d15225999e19/libpod/image/image.go#L316 lies. AFAICS, once an image is pulled with one manifest, and later the same image (same “ID” ~ layers+config) is pulled with a different manifest (does not matter whether it is from the same or from a different registry/repo), `RepoDigests` will report all of

[2019-08-08 21:31] dcbw commented on #3759
@mheon the runtime is solely responsible for calling CNI DEL for every container that is no longer running but has not had DEL called on it. I know that podman/CRIO keep a cache of containers somewhere on-disk. When that cache is reconciled with what is actually running when CRIO/podman start, they need to call CNI DEL on every container in that cache list that is not currently running to allow th

[2019-08-08 21:32] rhatdan commented on #3759
@dcbw Is this something we could configure to put these files on a tmpfs, so that we don't have to cleanup after a reboot?

[2019-08-08 21:33] dcbw commented on #3759
@rhatdan you have no idea what kind of information the network plugin has to clean up, so you have to tell the network plugin to clean up.  Which is CNI DEL.

If your container is no longer running, and it wasn't given a CNI DEL, you must call CNI DEL to clean up.

[2019-08-08 21:42] dcbw commented on #3759
@mheon @rhatdan you have a container database:
[code]
presumably that doesn't get blown away on restart. So after the next time podman runs (for any pod) it'll need to reconcile that database list with what's actually running and prune out the old stuff and call CNI DEL on those that aren't running. Or something like that.

[2019-08-08 21:44] egmontkob commented on #3179
Logging with `script` either inside `toolbox`, or without `toolbox` involved (in this latter case the behavior is expected) reveals that after printing the vertical separator, the cursor is moved downwards using NL and each line is cleared to its end using `^[[K` or `^[[1K`, meaning that the cursor is expected to stay in the same column (at the middle of the screen).

With `script` logging outside

[2019-08-08 22:17] mheon commented on #3759
We do actually blow away most database state on reboot, on the assumption that none of it survived the reboot - what was running no longer is, what was mounted no longer is. It may be possible to work a CNI DEL into the process of refreshing the state post-reboot - I'll investigate.